[2019-08-23 09:21] cephalin commented on #24802
@GeekTrainer the doc has been updated. Thank you.

[2019-08-23 09:23] cephalin commented on #23814
@dhmorrison Sorry for the delay. The doc has been updated now.

[2019-08-23 09:23] cephalin commented on #23814
@dhmorrison

[2019-08-23 09:24] cephalin commented on #23814
#please-close

[2019-08-23 09:24] #23814 closed

[2019-08-23 09:25] cephalin commented on #24802
#please-close

[2019-08-23 09:25] #24802 closed

[2019-08-23 09:32] snehithm commented on #37672
Hi,

You need to replace the 'replace-with-subscription-id' with your subscription id everywhere in the template and parameters files.

Regards,
Snehith

[2019-08-23 09:35] SubhashVasarapu-MSFT commented on #23090
@andremarques023 , There is planned work item where team is working on it to accomplish this by end of this september.

[2019-08-23 09:39] BhargaviAnnadevara-MSFT commented on #37662
@ChadNedzlek Thanks for the question! We're investigating this and will get back to you shortly.

[2019-08-23 09:41] KrishnaG-MSFT commented on #37672
@snehithm Thanks for the super quick response. 👍

[2019-08-23 09:45] test123114 commented on #37614
I want to get all files in one directory. Which rest API I need to use? I have referred to the [document](url), But I cannot find the right REST API. Besides, the document said that we can use Authorize with Shared Key. And It header is like "Authorization="[SharedKey|SharedKeyLite] <AccountName>:<Signature>" . What is Signature?

[2019-08-23 09:48] msrini-MSFT commented on #37599
@jjindrich , I am getting the message as why the probe is failed. See the below image:

![image](https://user-images.githubusercontent.com/47132998/63583775-47754480-c5b9-11e9-9b18-6913dc338090.png)

[2019-08-23 09:55] v-key-langdo commented on #36077
In JSon of Custom Control, what exactly ClientID and where we can get it?

[2019-08-23 09:55] KalyanChanumolu-MSFT commented on #37678
@jkonecki Thank you for reporting this issue.
I have verified this and an "=" is missing from the documentation and the square brackets are misleading.
I have submitted a PR to correct this. The edit should be live shortly.

[2019-08-23 09:56] iilyin commented on #37611
Hi

Here is the link I'm using for admin consent https://login.microsoftonline.com/09fbd598-d84a-4406-bb90-a72ad1170877/adminconsent?client_id=090492c9-fb3f-4ffd-95de-00284f06f957&redirect_uri=https%3A%2F%2Flocalhost%2F.sso%2Fcode%2Foneid&state=%2Fbbbb%2F%3FinitiatedByOauth2TokenBroker%3Dtrue
Then I log in using admin credentials and get permission prompt page.
![Screen Shot 2019-08-23 at 12 54 11

[2019-08-23 10:07] jjindrich commented on #37599
Fine, got it. Is it planned to put this information into log in Azure Monitor ? Will help

[2019-08-23 10:08] MaxHogervorst opened #37680 "Javascript warning can be remove"
The error below is no longer valid since version 1.13
Warning

When developing locally in JavaScript, you will need to set the environment variable WEBSITE_HOSTNAME to localhost:&lt;port&gt;, ex. localhost:7071 to use methods on DurableOrchestrationClient. For more information about this requirement, see the GitHub issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-08-23 10:09] msrini-MSFT commented on #37599
@jjindrich , as of today you will only get this info via calling the REST API. Will pass on your feedback to get this info incorporated in Azure Monitor.

[2019-08-23 10:09] #37599 closed

[2019-08-23 10:11] SwathiDhanwada-MSFT commented on #37470
@andrewjohnporter  As mentioned in the document,  SCCM maintenance window will take precedence over the scheduled deployment. If in case, there are other maintenance windows configured on Configuration Manager, the deployment works as follows.

![image](https://user-images.githubusercontent.com/48976275/63584722-2877b200-c5bb-11e9-87dc-b1e6e8a8dd0d.png)

 -   An Azure Update Deployment is deployed

[2019-08-23 10:12] DixitArora-MSFT commented on #37370
@cecilphillip Here is the list of set of extensions present in the latest extension bundle: [extensions](https://github.com/Azure/azure-functions-extension-bundles/blob/master/src/Microsoft.Azure.Functions.ExtensionBundle/extensions.json).

When a new extension bundle with updated extension is published, the runtime will automatically fetch it and consume the new extension bundle, As long as the n

[2019-08-23 10:17] MattyShires opened #37681 "Missing documentation on using the REST API."
The Article explicitly states that it can be used via the REST API but gives no instruction on how to do so.
This is not the only case of this, there are also many other pages which lack crucial information on the REST API.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 792f4871-0d07-624f-7daf-02de97121e13
* Version In

[2019-08-23 10:18] #37370 closed

[2019-08-23 10:19] abhilashmk commented on #37077
Hi @pmcilreavy I was also working on this issue. I am from Microsoft CSS Azure Web Apps Team.

I have set up a repro where my Web App is in a VNET ( new Regional VNET ) and Azure SQL DB is configured as a service endpoint. Only subnet of the Web App is allowed to access Azure SQL DB in firewall.

I am able to connect without issues, I have confirmed with Azure SQL team that the IP hitting them is

[2019-08-23 10:21] DixitArora-MSFT commented on #37680
@MaxHogervorst Thanks for your feedback. We will review and update as appropriate.

[2019-08-23 10:26] KrishnaG-MSFT commented on #37403
@rphoon Looks like currently we don't have any further updates. However, for updates, I would recommend you to follow the feedback link that was provided in my above comment. Hope this helps! Closing this azure-docs GitHub issue here for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-08-23 10:30] KalyanChanumolu-MSFT commented on #37639
Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-08-23 10:30] colindooley11 commented on #37677
^^ To add as Ctrl-C DOES not work....

[2019-08-23 10:42] KrishnaG-MSFT commented on #37681
@MattyShires Thanks for the valid feedback!
Assigning to content author @bobbytreed for visibility, to evaluate document(s) and validate on enhancement considerations and update appropriately.

[2019-08-23 11:06] diccon opened #37682 "Changing policies on existing replicated items"
I can see the benefit of adding additional policies for any items that might need a lower RPO or retention for example however this normally isnt known until after ASR is implemented. I cant see any ability to change an existing replicated items 'replication policy' without just removing it and then re-adding with the new policy selected.

Either this document should reflect that restriction (not

[2019-08-23 11:45] borys86 opened #37683 "Example or a hind on how to correctly cache token"
In the example above for each connection we are using new AzureServiceTokenProvider and then asking for a new token.

Can someone point into a best practice on how to cache token value and reuse it? Maybe there is a mechanism inside of Microsoft.Azure.Services.AppAuthentication that can take that responsibility?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2019-08-23 12:01] Luksys5 commented on #36806
Yeah, I saw this one but I do not get the countryCode from data so I cannot use this one

[2019-08-23 12:07] KalyanChanumolu-MSFT commented on #37678
@jkonecki The PR is merged. It should be live by EOD.
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-08-23 12:07] #37678 closed

[2019-08-23 12:08] borys86 opened #37684 "clarification on"
"The AzureServiceTokenProvider class caches the token in memory and retrieves it from Azure AD just before expiration. Consequently, you no longer have to check the expiration before calling the GetAccessTokenAsync method. Just call the method when you want to use the token."
when you refer to  "caches the token", could you please specify if AzureServiceTokenProvider is capable to cache multiple t

[2019-08-23 12:09] VikasPullagura-MSFT commented on #37658
@stvhwrd I am assigning the issue to document author for adding his comments and updating the document as applicable.

[2019-08-23 12:09] VikasPullagura-MSFT commented on #37658
@dlepow Please look into this feedback and add your comments.

[2019-08-23 12:22] cephalin commented on #37281
@janis91 Would appreciate your assistance here. Based on your recommendation in #5051 I added the Node.js code snippet from your blog in our doc. Can you take a quick look at the proposed code revision in this issue and let us know if it's fine?

[2019-08-23 12:26] jakaruna-MSFT commented on #37677
@colindooley11 Thanks for your question.
You can gracefully shutdown or run some cleanup tasks when a service is being shutdown in service fabric.
You need to hook your cleanup or any other functions by adding them on the calling sequence.
Please go through this [document ](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-lifecycle)which speaks about the list

[2019-08-23 12:35] #37639 closed

[2019-08-23 12:36] mazer-rakham commented on #37639
The array brackets in the example on the page should not be there I think that is what the issue is.

[2019-08-23 12:39] Jayesh040 opened #37685 "Having issue in moving Market Place Palo Alto VM"
I'm unable to move Marketplace Palo Alto VMseries1 bundle1 version 9.0.1 PAYG to CSP subscription.
But I can take snapshot within the previous subscription and move it to CSP subscription and create VM from powershell script.
Will the licensing work after creating VM from the powershell script ?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-08-23 12:42] colindooley11 commented on #37677
Thanks for getting back. 
This specifically relates to apps which are not guest executables and rely on the Service Fabric SDK. 
I need to know if graceful shutdown is supported for Guest executables specifically. 
To be more clear this is for a console app based guest executable which has NO references to any Service Fabric typesAnd therefore we can not use them.  

Sent from Yahoo Mail on Androi

[2019-08-23 12:46] KalyanChanumolu-MSFT commented on #37639
@mazer-rakham yes verified that the extra brackets in the documentation were the issue.
The connection string copied from the Azure portal doesn't have those.
I have updated the documentation accordingly.
The changes should be live EOD or tomorrow.

Thanks again for taking the time to report the issue and helping us make our documentation better.

[2019-08-23 12:54] KalyanChanumolu-MSFT commented on #37559
@artisticcheese This issue is being assigned to the content author to evaluate and update as appropriate. 

@srinia Verified that the parameter -MaxParallelism is not available in the latest version (1.14.0) of the cmdlet Az.sql. Could you please update the documentation accordingly.

[2019-08-23 12:58] aquibqureshi26 commented on #32568
I've few queries related to the working.

1) In the above article it is mentioned that Packets arrive on the firewall's public IP address, but return to the firewall via the private IP address.

Why there is problem with that? Traffic coming to public endpoint of firewall and leaving the firewall via private ip. (Firewall will automatically SNAT it to the public ip just like on Virtual machine if

[2019-08-23 13:10] nezoic opened #37687 "Also a POST example."
I need to return a mocked response based on an json object passed in the body of a POST. Can this be done?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4df5cb3a-5bb7-c6c0-dbef-9cf9b51ea264
* Version Independent ID: 68e97872-e73c-83a4-6856-3705a705e23c
* Content: [Mock API responses with the Azure portal](https://docs

[2019-08-23 13:10] RyanHill-MSFT commented on #37328
@jorgecarleitao please let us know if the above suggestions work.

[2019-08-23 13:11] RyanHill-MSFT commented on #37274
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-23 13:11] #37274 closed

[2019-08-23 13:14] RyanHill-MSFT commented on #37494
Thanks for the feedback @kumarallamraju! We have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-08-23 13:16] PramodValavala-MSFT commented on #37687
@nezoic Thanks for the question! We will review and get back to you!

[2019-08-23 13:28] RyanHill-MSFT commented on #37438
@cephalin can we get the doc updated with screen grab of `WEBSITE_AUTH_DISABLE_IDENTITY_FLOW` set to true in the Application Settings blade as mentioned by @heetvachhani.

[2019-08-23 13:40] cephalin commented on #37040
@jasonpnnl Thank you for reporting. I've added a new section that calls out Windows only for external repos. It should be published sometime today. #please-close

[2019-08-23 13:40] #37040 closed

[2019-08-23 13:42] cageman007 commented on #37037
Hi! I am having issues with this exact problem. VMs using a storage acccount (other subscription), but cannot use their public IP. What is the workaround for this?

[2019-08-23 13:42] cephalin commented on #25739
@dcbrown16 Sorry for the delay. It looks like the current version of the doc has been revised to include the request information, but the link needed to be updated. I've updated the link to the one that you pointed to and it should be published sometime today. Thanks! #please-close

[2019-08-23 13:42] #25739 closed

[2019-08-23 13:45] cephalin commented on #37438
@mattchenderson Can you confirm the requirement on Linux for front-end applications to have WEBSITE_AUTH_DISABLE_IDENTITY_FLOW set to true?

[2019-08-23 13:47] diberry commented on #37527
@hansmbakker - I don't think there is an arm template provisioning process currently. Can you use another automated mechanism?

@yutongtie-msft - please assign this issue to me.

[2019-08-23 13:51] cephalin commented on #37256
@twartonick As the doc mentions (and pointed out in the Legal Terms tab when you buy in the Azure portal), certs are supplied by GoDaddy. #please-close

[2019-08-23 13:51] #37256 closed

[2019-08-23 13:52] ssvillamor23 opened #37688 "Using remote windows sql server with name instance instead of docker sql module in constring failed"
How do I make sqlFunction connection string do it with a remote network connected windows sql server with a Name instance? I manage to do experiments with (ip address, port). like below.
"Data Source=&lt;ipaddress of sql server&gt;\\instance name,1433;Initial Catalog=MeasurementsDB;User Id=SA;Password=Strong!Passw0rd;TrustServerCertificate=False;Connection Timeout=30;"
but still I couldn't see my

[2019-08-23 13:58] letmaik opened #37689 "Incorrect section title"
https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-set-up-training-targets#github-tracking-and-integration
This should be Git, not GitHub.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b49515ab-308d-8e5d-0960-40ce43d4752d
* Version Independent ID: 651348fd-f173-55c0-8199-68c0eac7b043
* Content: [Cr

[2019-08-23 14:04] PramodValavala-MSFT commented on #37280
@flyingUnderTheRadar Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-23 14:04] #37280 closed

[2019-08-23 14:11] JamesDLD commented on #37528
Hello,
if it can help I did published this script to delete an rsv with it's vm backup items : https://github.com/JamesDLD/AzureRm-PowerShell/blob/master/Remove-AzRecoveryServicesVaultForce.ps1

[2019-08-23 14:15] dagrkatyal opened #37690 "Multi protocol access for ADLS Gen 2"
I have signed up for the Multi protocol access for ADLS Gen 2 using this form below.
how will I know if it has been enabled on my subscription

https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR2EUNXd_ZNJCq_eDwZGaF5VURjFLTDRGS0Q4VVZCRFY5MUVaTVJDTkROMi4u

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-08-23 14:16] PramodValavala-MSFT commented on #37687
@nezoic The `mock-response` policy works for all operations. You would have to create an operation for the HTTP method that you need and use the policy as required.

[2019-08-23 14:22] soheilade opened #37692 "Permission denied (publickey)"
after following these commands in azure:
`az group create --name myResourceGroup --location westeurope`
[code]
`ssh azureuser@publicIpAddress`

I get this error
`Permission denied (publickey) `
and i am not able to connect to VM. any idea where is the problem?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf395b11-607

[2019-08-23 14:24] MachLearnPort opened #37693 "IP in screen shot is not the same as ssh public IP"
In the browser screen shot, IP is 40.68.254.142, which is different then the IP used for ssh (10.111.12.123) - this can be misleading.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 814b92ed-f712-53c8-644b-d3be513a4d06
* Version Independent ID: 79d8998f-1b47-40ec-e975-8eeda383b0cf
* Content: [Quickstart - Create a Linu

[2019-08-23 14:28] j-martens commented on #31379
@ggnabasik thanks for your report. We've addressed this by pointing to the official AZcopy docs. That change will be live later today. Thanks again. #please-close

[2019-08-23 14:28] #31379 closed

[2019-08-23 14:31] j-martens commented on #37689
Thanks for your report. It will be fixed in the next doc build. :-) #please-close

[2019-08-23 14:31] #37689 closed

[2019-08-23 14:43] cijothomas commented on #35072
I am sorry I cannot comment on the side effects of the workaround in the link.

[2019-08-23 14:48] philburns-72 commented on #37596
many thanks @RyanHill-MSFT, that's sorted it.
I had a typo in the connection string.

[2019-08-23 14:48] #37596 closed

[2019-08-23 14:54] j-martens commented on #37429
Good question, @timoklimmer looks like a cross link to this article was missing: https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-understand-automated-ml

hope that helps. #please-close

[2019-08-23 14:54] #37429 closed

[2019-08-23 14:57] philburns-72 opened #37695 "Configuring a data source"
I've created a project in VS Community 19 to build a asp.net app.
I also have a SQL on azure populated by a sync to an on-premesis SQL.
But I can't get to show any of the SQL data in the app.

Using the toolbox, I've added a SQLDataSource but when I go to configure the data source, the 'add connection' dialogue box can only see the on-premesis SQLs, not the Azure one.

What do I need to do to make

[2019-08-23 14:59] jangcy opened #37696 "Tab as a separator in Azure Data Factory Copy Activity"
Hello.
I have stumbled upon a problem with ADF Copy Activity.
In my project I am using Copy Activity "dynamically", with parametrized .csv Dataset, so for each file I am passing Dataset parameters, like paths, encoding and delimiter.

Everything works fine when I use comma as a separator. Today though I wanted to use tab as a separator, but if I pass `\t` as a parameter, I get an error:

What is i

[2019-08-23 15:00] simonbMS opened #37697 "platformFaultDomainCount confusion on value"
Doc says that the value can be set to 1, 2, or 3 with default of 5 if not specified.

It's also not 100% clear to me what happens if you set the value to 1 ("FD=1 in this case implies that the VM instances belonging to the scale set will be spread across many racks on a best effort basis" -&gt; Means that the precise number of FD is not defined?)

---
#### Document Details

⚠ *Do not edit this sec

[2019-08-23 15:11] atobrandon commented on #35783
All of the screenshots and instructions after the first one appear to be referring to the old website rather than the buttons circled in red on the first screenshot.

[2019-08-23 15:16] jameshkramer commented on #13380
@bandersmsft, thank you!

Jim

[2019-08-23 15:17] StiviiK opened #37698 "OpenSSH in Windows"
Hey there,

is there a way, if i install openssh in my windows container, to open a remote shell to it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b4f27ae-bfd4-6663-13ce-c3d0b40326e3
* Version Independent ID: 892091ad-f470-d715-ac5b-6b487640a88e
* Content: [SSH support for App Service on Linux - Azure](https://doc

[2019-08-23 15:23] SumanthMarigowda-MSFT commented on #37679
@juyama Thanks for your question. We are checking on this and will respond to you soon.

[2019-08-23 15:28] #37698 closed

[2019-08-23 15:35] timoklimmer commented on #37429
Thanks a lot - that was exactly what I was looking for! 😊

Von: Josée Martens <notifications@github.com>
Gesendet: Freitag, 23. August 2019 16:55
An: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Timo Klimmer <Timo.Klimmer@microsoft.com>; Mention <mention@noreply.github.com>
Betreff: Re: [MicrosoftDocs/azure-docs] Supported metrics documentation (#37429)

Good question, @timoklimmer

[2019-08-23 15:46] celamb4 commented on #23291
Was this corrected? We are getting an AZ not supported when deploying to eastus

[2019-08-23 15:49] rohitnayakmsft commented on #37077
@abhilashmk  does this mean we can delete the above sentence from limitations now? i.e. any Web App will connect over SE( when it is enabled) and customer can then set Allow Azure Services to OFF. Please confirm and I can update the doc accordingly.

[2019-08-23 15:54] cephalin commented on #33260
@mercycoach @rakshithsm The Cloud Shell docs are updated now with '$HOME/' for compatibility with PowerShell. It should be published sometime today. #please-close

[2019-08-23 15:54] #33260 closed

[2019-08-23 15:57] SaurabhSharma-MSFT commented on #37684
@borys86 Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-23 16:02] EMCjvang commented on #37628
For sure!

![image](https://user-images.githubusercontent.com/54408633/63606331-737ece80-c595-11e9-9ba5-182f3fdbcf19.png)

[2019-08-23 16:09] dlepow commented on #37658
@stvhwrd - Thanks for the suggestion, and fair point. We choose browsers for screenshots based on likely customer environments, and to demonstrate cross-platform experiences for Azure tools. As a Microsoft FTE you can review our content guidance [here](https://review.docs.microsoft.com/en-us/help/contribute/contribute-how-to-create-screenshot?branch=master) and comment further if you like. Azure c

[2019-08-23 16:09] #37658 closed

[2019-08-23 16:23] MicahMcKittrick-MSFT commented on #37697
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-23 16:24] MicahMcKittrick-MSFT commented on #37693
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-23 16:30] hpsin commented on #34180
@jmprieur can you add a link to the existing samples to this page?

[2019-08-23 16:31] Alberto-Vega-MSFT commented on #37688
Hi @ssvillamor23 Thanks for reaching out. That is out of the scope of this document. That question is better suited for developer forums where unlike here there is a community that can help. I am curious about what you are trying to do though. Do you mind sharing the scenario that you are trying to enable?

[2019-08-23 16:32] hpsin commented on #37008
Hi @Tiberriver256 - this is expected.  If you don't tell the server what resource you plan to call, then the server doesn't know to trigger the conditional access policies for that resource.

[2019-08-23 16:32] MicahMcKittrick-MSFT commented on #37154
@andradf I will close this out for now. If you still want to continue the discussion just let me know and we can always reopen the issue :)

[2019-08-23 16:32] #37154 closed

[2019-08-23 16:33] MicahMcKittrick-MSFT commented on #37225
@javaadpatel I will go ahead and close this out. If you want to continue the discussion just let me know and we can always reopen the issue :)

[2019-08-23 16:33] #37225 closed

[2019-08-23 16:34] planrharman opened #37699 "Assess VMware VMs link wrong"
The last link in this article points to the third tutorial, not the second. The link should point to https://docs.microsoft.com/en-us/azure/migrate/tutorial-assess-vmware not
https://docs.microsoft.com/en-us/azure/migrate/tutorial-migrate-vmware

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ee1443e-f3ee-0f00-e497-e07

[2019-08-23 16:34] MicahMcKittrick-MSFT commented on #37430
@porrascarlos802018 I will go ahead and close this out. If you want to continue the discussion just let me know and we can always reopen the issue.

[2019-08-23 16:34] #37430 closed

[2019-08-23 16:35] MicahMcKittrick-MSFT commented on #37456
@porrascarlos802018 I will close this out for now. If you want to continue the discussion just let me know and we can always reopen the issue.

[2019-08-23 16:35] #37456 closed

[2019-08-23 16:39] cfizz34 opened #37700 "The material literature says that they can unlock their account but that is incorrect. I wish the unlock was an option though :)"
https://www.microsoft.com/en-us/download/details.aspx?id=56768

In a few weeks, you’ll be able to access new functionality that we will be rolling out via the Contoso demo IT. This new feature, called self-service password reset (SSPR), will enable you to reset, unlock and change your password with the added security of having an extra verification method, like a phone number or passcode to your u

[2019-08-23 16:41] MicahMcKittrick-MSFT commented on #37693
@MachLearnPort thanks for pointing this out. The reason for this is that we use the same screenshot for multiple docs at times to make things simpler and easier to update. However I can see how that can cause confusion.

At this point, this is the first time we have heard feedback on this. So at this point we have decided to keep the doc as is. However, your comment will remain on this document so

[2019-08-23 16:41] #37693 closed

[2019-08-23 16:42] cynthn commented on #37693
@MachLearnPort Oops, thank you for catching that one! The one for **Instance details** was also old and used Ubuntu 16.04 instead of 18.04. I've fixed them and they should go live later today :)

[2019-08-23 16:43] cynthn commented on #37693
@MicahMcKittrick-MSFT I'm going to blame my summer cold for this one :D  I updated this topic a couple days ago, along with a couple screenshots, but missed these two. We really should share art as much as we do, so I'll try to fix that as I touch files!

[2019-08-23 16:46] MicahMcKittrick-MSFT commented on #37654
@Heidilohr @ChristianMontoya can either of you clarify on this?

[2019-08-23 16:47] OffColour commented on #37621
So that sounds like if we use zone redundacy then we've got high availability at the Azure side, i.e. if anything goes wrong in an Azure zone or if the gateway is being updated then we'll maintain connectivity as a tunnel will still be there. But if anything goes wrong at the on prem side then obviously we won't have resiliency as there's only one connection.

[2019-08-23 16:48] bandersmsft commented on #37667
Investigating with the enginnering team.
#in-process

[2019-08-23 16:53] Adam-Smith-MSFT commented on #37695
@philburns-72 Could you provide us with the documentation link you were referring to ?

Thanks,
Adam

[2019-08-23 16:54] Adam-Smith-MSFT commented on #37696
@jangcy Could you provide us with the documentation link you were referring to ?

Thanks,
Adam

[2019-08-23 17:02] cynthn commented on #30743
@j0rt3g4 Thanks for filing the pull request, but could we just update the original script file? It is here: https://github.com/Azure/azure-docs-powershell-samples/blob/master/virtual-machine/create-managed-disk-from-snapshot/create-managed-disk-from-snapshot.ps1

[2019-08-23 17:04] cynthn commented on #30743
@j0rt3g4 We are changing the way we reference script files to make it clearer where the source file lives, so it should be easier to track down these references in the future :)

[2019-08-23 17:10] ChristianMontoya commented on #37654
@josuvil : Ultimately, there is not full parity with Azure AD Join machines at the moment so we cannot provide support for it right now. For example, it's difficult to login to an Azure AD Joined machine because of the pre-requisites on the connecting machine.

We've heard similar feedback, and you can also create/upvote feedback here: https://windowsvirtualdesktop.uservoice.com/forums/921274-sess

[2019-08-23 17:13] MicahMcKittrick-MSFT commented on #37697
@simonbMS there are two scenarios we are calling out in this doc

1) VMSS deployed in regions that do not support Availability Zones
2) VMSS deploy in regions that do support Availability Zones

You can also read more about Availability Zones here:

https://docs.microsoft.com/en-us/azure/availability-zones/az-overview

For regions that do not support availability zones or you opt to not use them,

[2019-08-23 17:15] Anand-Moghe commented on #37060
@DashleenBhandari-MSFT  Is there any timeline available on MAG? When would these features will be available either as public/private preview (if not GA) on Microsoft Sovereign Clouds (US Gov Cloud) ?

[2019-08-23 17:19] MarileeTurscak-MSFT commented on #37671
@ShintakuNobuhiro
Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-23 17:20] ChristianMontoya commented on #37654
#please-close

[2019-08-23 17:20] #37654 closed

[2019-08-23 17:20] Grace-MacJones-MSFT commented on #37698
Hi @StiviiK , hope you were able to find your solution :)

[2019-08-23 17:23] philburns-72 commented on #37695
Sorry, not sure what the documentation is.

[2019-08-23 17:26] EliasKnutsson opened #37701 "Add SSH keys"
I'm running this command but it keeps failing:

[code]

I've added all the variables in the step before but I keep getting this error:

`az vmss extension set: error: argument --vmss-name: expected one argument`

Why?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b81a147-db1c-b92f-88d1-6dd0991a72fe
* Version Independ

[2019-08-23 17:27] msrini-MSFT commented on #37621
@OffColour , if you enable Zone redundancy, then if one zone goes for a toss you will not have a other instance will be there to provide resilience.

Active Active tunnel is to provide high availability of tunnel. If one tunnel goes down, we have other tunnel to back you up.

Let me know if you have any further questions

[2019-08-23 17:33] JimacoMS3 commented on #36775
#reassign @JimacoMS3

[2019-08-23 17:34] JimacoMS3 commented on #17690
#reassign  @JimacoMS3

[2019-08-23 17:35] JimacoMS3 commented on #27534
#reassign  @JimacoMS3

[2019-08-23 17:36] JimacoMS3 commented on #37318
#reassign  @JimacoMS3

[2019-08-23 17:36] v-thepet commented on #17744
@nschonni @bodhigautam @JasonWHowell - From email thread looks like some of the repos still exist, so reactivating this issue and assigning those on the thread. Thanks.

[2019-08-23 17:38] nhwilly opened #37702 "CreateMessageOptions sample doesn't work"
Using this example:

https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-twilio#2x-c-example

Evidently the `CreateMessageOptions` now requires three strings, which they list as `pathServiceSid` and `pathChannelSid` and phone number.  Naturally I can find no direct reference to `pathServiceSid` and `pathChannelSid` channel definitions.

Does anyone know how to use this packag

[2019-08-23 17:40] diberry commented on #35661
@bluetrane - after discussing with service team - this is supported via API only.

[2019-08-23 17:47] davmhelm opened #37703 "Resource Group requirement for linking"
Can this article be updated to include the requirement that the log analytics workspace and automation account must belong to the same resource group? ([ref here](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/solutions#log-analytics-workspace-and-automation-account)).

It can be frustrating to miss that requirement when you have created automation accounts and Log Analytics workspa

[2019-08-23 17:50] jeradcliffe commented on #28969
Just tried this out and it worked well. I didn't need to add any params to my endpoint. Thanks for posting. This saved me.

[2019-08-23 17:53] burstingninja opened #37704 "Missing Users and Groups option"
the users and groups option is not available on the current UI after the redesign of app registrations. How can access that option or whats the current process?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ada0b95-37b4-22d1-152f-fc29a52f5706
* Version Independent ID: 9424e3bb-d141-f74f-c6c5-114410253e2d
* Content: [

[2019-08-23 18:05] tarockey opened #37705 "Link to source code has typo"
Quick note: the link to the source code ends with 'Program.css' instead of 'Program.cs', causing a Page not found error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0975f25d-b20d-e4df-5ac6-055b7c4ad5b9
* Version Independent ID: 6b164c45-ca36-b4a5-1b3c-40df791af67e
* Content: [Quickstart: QnA Maker client library for

[2019-08-23 18:06] chaitu89a opened #37706 "QnA service version is not getting updated after appservice restart"
I have restarted the app service associated with my QnA maker, but i do not see the version getting updated and i see runtime unavailable when i try to access the knowledge base of my QnA maker. Any help on this will be appreciated. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0f27190-1b0b-1a3d-fbe5-d5b13af7

[2019-08-23 18:08] SnehaGunda commented on #37636
#please-close

[2019-08-23 18:08] #37636 closed

[2019-08-23 18:10] cynthn commented on #11409
@pulkitsinghal and @montebhoover Thanks for the feedback! Sorry it has taken so long to get back to you on this. The script samples are listed on pages like this: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/powershell-samples but the aren't listed in the table of contents. I think this probably should change, because it sounds like it is making it harder to find similar content

[2019-08-23 18:10] #11409 closed

[2019-08-23 18:12] KingdomOfEnds commented on #37460
@Nicholas-I - Glad to hear it. Are you able to retrieve your response?

[2019-08-23 18:15] Karishma-Tiwari-MSFT commented on #37701
Thanks for the question. We are currently investigating and will update you shortly.

[2019-08-23 18:25] StiviiK commented on #37698
Yeah, i found a way to remote access my windows container in a web app.

[2019-08-23 18:25] KranthiPakala-MSFT commented on #37365
@tspannagel Thanks for sharing the details. We have assigned the issue to the content author to investigate this and update the document as appropriate. We will also continue to investigate this.

[2019-08-23 18:27] yasufs commented on #37571
Ah great! I think this works for me. In terms of the documentation, it would be nice to have a link to this, and/or add the `az ad sp credential reset` to the sample script for the case where the service principal already exists.

[2019-08-23 18:28] FrankHu-MSFT commented on #37704
@burstingninja Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-23 18:28] FrankHu-MSFT commented on #37700
@cfizz34 Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-23 18:28] SnehaGunda commented on #34157
I would assume append should work as upsert is set to true, not sure if there is a different method to achieve the operation. Sent an email to Ram for more details on this issue.

[2019-08-23 18:32] cynthn commented on #28112
@ayshakeen Aysha, is this something that has already been added into the FAQ or docs? If not, can you make sure the feedback gets addressed?

#reassign @ayshakeen

[2019-08-23 18:32] kpm-at-hfi opened #37707 "Web app is out of data relative to data source"
The `azureiotedge-simulated-temperature-sensor` project seems to supply a different data model than this web app is expecting. For example, rather than `IotData.temperature` existing, there is instead `IotData.ambient.temperature` and `IotData.machine.temperature`.

This causes no devices to be listed and no data to be shown.

I don't see where to make a pull request, but `/public/js/chart-device-

[2019-08-23 18:34] cynthn commented on #28540
#reassign @roygara

Roy, can you take a look at this and see if you can fix the reference? Thanks :)

[2019-08-23 18:38] kgremban commented on #37534
@ugurgokdere Thanks for providing feedback. I tried to reproduce your issue, but wasn't able to. Could you share the specific command you used to call the script, including the parameters you provided? (Minus your subscription ID)

Also, there's nothing particularly special about the VM created by this script. It's the same as the IoT Edge on Ubuntu VM that's used in the quickstart for linux devic

[2019-08-23 18:39] jeevansd commented on #29362
@chetansriv and @v-viinde @v-nagta Can you please update the tutorial and add this link?

[2019-08-23 18:40] mazer-rakham commented on #37639
No problem!

[2019-08-23 18:40] Nicholas-I commented on #37460
Unfortunately, no.

[2019-08-23 18:44] kgremban commented on #37534
Also, was this error thrown immediately after trying to run the script, or did you get some output before the error occurred? Please provide any output that you did get, too. Thanks!

[2019-08-23 18:46] KingdomOfEnds commented on #37460
Let's verify that the Authorization URL used is what we'd want. From the article:
[code]
I'm surprised you were able to get a token back at all if you weren't using the right resource. Can you also clear out all of your token cache in your client?

[2019-08-23 18:47] YutongTie-MSFT commented on #37705
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-23 18:47] YutongTie-MSFT commented on #37706
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-23 18:47] m-sterspace opened #37708 "Half Written, How Do You Get The Token??"
This tells you how to add app roles but it does not tell you how to receive the token from your application to get that role information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9939fc33-8762-3104-eae0-08250c508100
* Version Independent ID: 9c6fa664-df37-40aa-f46e-9e59f79ae215
* Content: [How to add app roles in

[2019-08-23 18:55] Karishma-Tiwari-MSFT commented on #37479
Based on our discussion offline, I will now close this issue. I will share the resolution here as we have an update from internal teams.

[2019-08-23 18:55] #37479 closed

[2019-08-23 18:56] Karishma-Tiwari-MSFT commented on #37541
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion. :)

[2019-08-23 18:56] #37541 closed

[2019-08-23 18:56] MicrosoftGuyJFlo commented on #36077
@v-key-langdo probably better to open a new issue for a new question like this... but you can find that info in the paragraph here...

https://docs.microsoft.com/azure/active-directory/conditional-access/controls#creating-custom-controls

"the provider will provide you with a block of data in JSON format...  ...Copy the JSON data and then paste it into the related textbox. Do not make any changes

[2019-08-23 18:56] Karishma-Tiwari-MSFT commented on #37551
We will now close this issue. Please share the details when you are ready and tag me in a comment. I will reopen it and we will gladly continue the discussion. Thanks :)

[2019-08-23 18:57] #37551 closed

[2019-08-23 18:58] Karishma-Tiwari-MSFT commented on #37556
@BorisB2015 Is this something you can share your inputs on? Thanks :)

[2019-08-23 18:59] nhwilly commented on #37702
To add to this, I can't find any reference to either one of those variables on the Twilio website, either.  I am trying to use the `IAsyncCollector` approach as I have multiple messages to send in one function.

In fact, I can't even copy and paste that exact code into my project and get it to pass Intellisense.

[2019-08-23 19:02] KranthiPakala-MSFT commented on #37365
@gauravmalhot or @djpmsft Could you please have a look at this?

I have checked the properties of both the cmdlets AzDataFactoryV2IntegrationRuntime and  AzDataFactoryV2IntegrationRuntimeMetric, found that _AvailableMemoryInMB_ is a property of AzDataFactoryV2IntegrationRuntimeMetric.

_**AzDataFactoryV2IntegrationRuntime**_
![image](https://user-images.githubusercontent.com/50185738/63617264-db39

[2019-08-23 19:03] KranthiPakala-MSFT commented on #37365
@tspannagel Thanks much for pointing this out!

[2019-08-23 19:11] Nicholas-I commented on #37460
@KingdomOfEnds I followed your advice on that latest post, and my Auth URl is correct, and still no go. Also, my audience was correct, I missed the part of lyrana's post that said it should be "the resource as specified by the auth url".
This issue can be closed if there are no other suggestions or guesses. All I got left is that _maybe_ there is a security setting on my work machine that I don't

[2019-08-23 19:20] AjayKumar-MSFT commented on #37586
@deisterhold, You may take a look at this document [sample ](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/5-WebApp-AuthZ/5-1-Roles)for the approach.

[2019-08-23 19:20] KingdomOfEnds commented on #37460
@Nicholas-I - I appreciate your suggestions for improvement and glad we were able to progress through some of these hurdles. As far as your access token goes, it should vary from request to request. So the fact that it's exactly the same seems a bit fishy to me. Please update us if you have any other questions. Thanks!

[2019-08-23 19:21] gituser227 commented on #35619
Where would be the appropriate place to request future enhancement to make the soft deleted metadata visible from (just as the other properties are displayed), so that metadata can be viewed without requiring undelete?

[2019-08-23 19:26] jameshkramer commented on #12255
@athinanthny, I updated you to be the assignee for this issue because you are listed as the current document owner in the article metadata. Could you please work to address the feedback and close the issue? [See these instructions](https://review.docs.microsoft.com/en-us/help/contribute/contribute-customer-feedback-azure-authors-process?branch=master#process-for-article-authors).

[2019-08-23 19:26] MicrosoftGuyJFlo commented on #37700
Users are able to unlock their accounts if administrators enable the feature under
**Azure Active Directory** > **Password reset** > **On-premises integration** > **Allow users to unlock accounts without resetting their password?**
Set the option to **Yes**

[2019-08-23 19:37] andrewjohnporter commented on #37470
Thanks for the reply.

Does a deployment schedule mw in Azure UM together with a SCCM mw work in the same way as the text you linked above which was in regards to multiple SCCM maintenance windows? If they don't overlap they are treated as two independent windows? Or if there is any maintenance window at all for Server Group A in SCCM then the Azure UM schedule deployment is completely  ignored an

[2019-08-23 19:37] bandersmsft commented on #13380
Resolved with https://github.com/MicrosoftDocs/azure-docs-pr/pull/86422
#please-close
@LisandroSu @jameshkramer FYI.

[2019-08-23 19:37] #13380 closed

[2019-08-23 19:51] rajrao commented on #33451
Here are some examples that might be useful:

**System Properties (prefix sys.)**
sys.messageid = 'xxxx'
sys.correlationid like 'abc-%'

**Message properties** (where MessageProperty/SuperHero are the names of the properties)
String equality: MessageProperty = 'A'
Pattern match: SuperHero like 'SuperMan%'

**When message property name has special characters** (example from Dyanmics CRM, where "_ht

[2019-08-23 19:53] b-juche commented on #37406
#please-close

[2019-08-23 19:53] #37406 closed

[2019-08-23 19:57] Nicholas-I commented on #37460
@KingdomOfEnds They are not ALL the same, that was a mistake I made on my part. I did not read far enough past the first few characters, which seem to be in every toke. Every time I generated a new token, they were unique.

[2019-08-23 20:03] KingdomOfEnds commented on #37460
No worries - I think by default the client gives every token the same name as well. If you're like me, I rarely rename my access tokens which can occasionally lead to confusion on my part!

[2019-08-23 20:09] Nicholas-I commented on #37460
@KingdomOfEnds  I found the issue. My subscription upgraded, by all my resources were tied to the Disabled Free Plan.  Apparently, resources cannot be moved from disabled subscriptions, so I have to restart from scratch it seems.
Thank you and all involved for taking the time to assist me.

[2019-08-23 20:10] iainfoulds commented on #37300
There's an in-process doc update for this, as there's unfortunately a missing step right now that enable should password-based authentication for SSH. Can you review the following steps, @rudolfdobias, and see if you're able to then successfully sign in:

By default, users can only sign in to a VM using SSH public key-based authentication. Password-based authentication fails. When you join the VM

[2019-08-23 20:13] KingdomOfEnds commented on #37460
@Nicholas-I - Subscriptions that are disabled or removed under a tenant will no longer have their resources accessible by API. You can still manage those in the portal. However, I do believe there is a way to migrate those resources: https://docs.microsoft.com/azure/azure-resource-manager/resource-group-move-resources.

[2019-08-23 20:14] FrankHu-MSFT commented on #37708
@m-sterspace Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-23 20:18] RadioActiveLamb commented on #37656
Thank you. This worked great. Please add it to the article.

On Thu, Aug 22, 2019 at 11:52 PM SwathiDhanwada-MSFT <
notifications@github.com> wrote:

[2019-08-23 20:35] tfitzmac commented on #37602
@hisasima - I have regenerated the doc with those additional qualifiers. Hopefully, the changes were what you had in mind.

[2019-08-23 20:35] FrankHu-MSFT commented on #37708
Hey @m-sterspace you're right, it looks like it is in fact half written. And I apologize for that, we're currently looking into the issue and will get back to you as soon as possible to provide a resolution.

In the meantime, I suggest taking a look at the auth basics page, and it explains all the different ways of getting an access token : https://docs.microsoft.com/en-us/azure/active-directory/d

[2019-08-23 20:48] zr-msft commented on #18000
I believe this issue is out of date. Please reopen if you continue to see this issue.

#please-close

[2019-08-23 20:48] #18000 closed

[2019-08-23 20:58] femsulu commented on #37682
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-08-23 21:00] femsulu commented on #37685
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-08-23 21:00] MicrosoftGuyJFlo commented on #37671
@ShintakuNobuhiro I sent this to the PM who owns the password feature for confirmation that this is no longer an issue that needs documentation. Will update accordingly when I hear back. Thanks for bringing it up!

[2019-08-23 21:01] femsulu commented on #37699
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-08-23 21:03] femsulu commented on #37703
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-08-23 21:05] jed-lomax opened #37710 "'mstsc' not recognized by 'Try it'"
Confirmed the command "mstsc /v:PublicIpAddress:4221" works with both CMD and PowerShell (Core even) on my local box.  However, it does not work when using the Azure Cloud Shell via 'Try it'.  Azure Cloud Shell may be missing a module.
I am able to complete this quick start by performing step 2. in the following section:
https://docs.microsoft.com/en-us/azure/load-balancer/quickstart-create-basic-

[2019-08-23 21:06] fhryo-msft commented on #37333
Please take response types described in current article as supported ones formally. We continuously improve metrics and new metrics or new dimension values may be added over time. You can ignore unpublished dimension values until we publish them by updating this article.

[2019-08-23 21:10] femsulu commented on #37286
@qian2w11, with @v-miclar no longer around, who can assist with this doc-enhancement request?

[2019-08-23 21:10] taromielnaz commented on #37633
No thanks. I will try the solution.

[2019-08-23 21:14] qianw211 commented on #37286
@femsulu I can look into this... Thanks!

[2019-08-23 21:15] femsulu commented on #37289
I am unable to reproduce this issue. For those still impacted and can verify they have the right permissions, please use this link to raise a support request so we can investigate further via the Azure support channel. If you do not have a support request, send mail to AzCommunity@microsoft.com, include your subscription ID, a link to this GitHub thread (for context) and we will gladly assist with

[2019-08-23 21:15] #37289 closed

[2019-08-23 21:18] femsulu commented on #37336
@rayne-wiselman, is there a roadmap plan for Azure Migrate to support WS 2019?

[2019-08-23 21:19] kgremban commented on #37546
@jkewley Yes, the IoT Edge agent does communicate directly with the cloud. For example, when you first install the IoT Edge service on your device, edgeAgent is the only module to start up automatically. It then reaches out to the cloud to retrieve the deployment information for the device and starts up the other modules.

I suppose it's more accurate to say that the IoT Edge hub handles communica

[2019-08-23 21:19] sandeepiiit opened #37711 "What are the exact permissions required for Personal Access Token in Azure Devops"
In the [section](https://docs.microsoft.com/en-us/azure/lab-services/devtest-lab-add-artifact-repo#get-the-azure-repos-clone-url-and-personal-access-token) about getting person access token for Azure Repos, it mentions to select "All accessbile accounts", and "All scopes". Could you provide a more specific list? (I am assuming a more restrictive list will be more secure).

---
#### Document Detail

[2019-08-23 21:22] jonwbstr opened #37712 "Instructions not working"
Automate data collection instructions say,
1. Under the Security Center main menu, select Security Policy.
2. On the row of the subscription, select Edit settings&gt;.
3. In the Data Collection tab, set Auto provisioning to On.
4. Select Save.

When I go to Security Policy and choose a subscription. the page only allows me to edit the policy. No Data Collection tab on this screen.

Alternatively,

[2019-08-23 21:28] cynthn commented on #30006
@msLinuxNinja Thanks for the feedback! We've been adding information as it becomes available from engineering. I'll check with them again and see if they can provide me with more details.

#please-close

[2019-08-23 21:29] #30006 closed

[2019-08-23 21:31] cynthn commented on #30094
@rloutlaw Robert, can you look into updating this document to the current version? Thanks!

[2019-08-23 21:31] senseq commented on #30094
Greetings
I am no longer working at Mealtango, and this email is no longer monitored.

For any matters that need leadership attention, please email Mealtango's CEO, Mr Dhirendra Thakur, at dhirendra@mealtango.com

For any chef/customer related requests, please email hello@mealtango.com

Best regards,
Saket Khanna

[2019-08-23 21:32] Tiberriver256 commented on #37008
Yep, that makes sense to me. I'm just asking here that it be documented somewhere.

[2019-08-23 21:33] femsulu commented on #37638
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-08-23 21:33] #37638 closed

[2019-08-23 21:36] TravisCragg-MSFT commented on #37710
@Jed-lomax Thanks for the feedback! MSTSC is meant to be used on your local computer to RDP into the VM, not in cloud shell. You can put the MSTSC (RDP) command given into a cmd window or a PowerShell window.

 I have assigned the issue to the content author to make this more clear.

[2019-08-23 21:38] hisasima commented on #37602
Now we can know which is Virtual WAN. Thank you.

[2019-08-23 21:39] mike-urnun-msft commented on #37702
Hi @nhwilly - Thank you for your feedback! We will review and update as appropriate.

[2019-08-23 21:40] jed-lomax commented on #37710
Awesome. Thanks for the quick feedback. Great job guys.

Jed Lomax, MCP
Azure Solutions Engineer
📧 jedlomax@outlook.com
📱 713-828-0007

Sent from an iPhone.
Even while using Outlook<https://aka.ms/qtex0l> for iOS there is no telling what Siri might do to this message. Please forgive any misspellings, typos, missing: words, prepositions and articles, or just generally bad grammar.
_________________

[2019-08-23 21:43] #37516 closed

[2019-08-23 21:43] qianw211 commented on #37512
@ztorage, please see the following section for more info, and this would help clarify your question on billing dimensions:

https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/saas-metered-billing#billing-dimensions

[2019-08-23 21:44] femsulu commented on #37685
@qianw211, any input on this one please?

[2019-08-23 21:44] FrankHu-MSFT commented on #37008
Hey @Tiberriver256 alright sounds good, let me go ahead and put this in as a note. Now that we have confirmation that this is in fact supposed to work this way.

Thanks for your feedback, as this change is being made I will be going ahead and closing out this github issue by end of day Monday. Please let us know if you have anymore concerns, and thanks again!

[2019-08-23 21:47] FrankHu-MSFT commented on #37611
Hey @iilyin  I see, and can you please provide the user login URL that you're using?

[2019-08-23 21:49] kabatmartin123 commented on #37657
@Alberto-Vega-MSFT I was following MS instructions from qnamaker documentation. I would expect that follow-up prompts should be working since it is build in feature.

[2019-08-23 21:53] flyingUnderTheRadar commented on #37280
Yep I figured that out soon after I filed the issue. For some reason I never got notifications for the comments from you.
Thanks a lot for following up !

[2019-08-23 21:53] MartinJaffer-MSFT commented on #37614
To get all the files in one directory using rest, [the list operation is used](https://docs.microsoft.com/en-us/rest/api/storageservices/datalakestoragegen2/path/list).  A warning about the doc page:  The "Try It" section will fail because it tries to make a http call from inside the doc page which is https.
Here is a simplified version of the full call found in the above doc.
`GET https://{accoun

[2019-08-23 21:58] SamaraSoucy-MSFT commented on #37711
@sandeepiiit Thank you for your question- I will look into it and get back with you shortly.

[2019-08-23 22:12] femsulu commented on #37699
@planrharman Thanks for the catch. A PR has been initiated to resolve the incorrect URL. This will be live in 24-48 hrs. We will now close this issue

[2019-08-23 22:12] #37699 closed

[2019-08-23 22:16] KranthiPakala-MSFT commented on #37631
@basilwong We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2019-08-23 22:16] #37631 closed

[2019-08-23 22:18] marktab commented on #31379
#sign-off

[2019-08-23 22:18] MarileeTurscak-MSFT commented on #37628
Thanks @EMCjvang

I believe you are right so I made a pull request for approval by @billmath . Once approved, changes generally go live in 24 hours.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/86453

[2019-08-23 22:18] #37628 closed

[2019-08-23 22:19] KranthiPakala-MSFT commented on #37554
@vlado101 We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2019-08-23 22:19] #37554 closed

[2019-08-23 22:25] iainfoulds commented on #37417
Per the product group, at this time there isn't a defined set of outbound rules that you can safely restrict access to, as there are a number of external components and services that Azure AD DS may need to communicate with. There's nothing to currently document, as restricting outbound traffic isn't a supported option. If this behavior changes, we'll provide updated documentation accordingly.

Fo

[2019-08-23 22:25] #37417 closed

[2019-08-23 22:28] YutongTie-MSFT commented on #37705
@tarockey Thank you for catching this! I have created a PR to fix and it should be live soon. ^^

[2019-08-23 22:30] iainfoulds commented on #37223
Provided you aren't excluding attributes from being synchronized from the on-prem AD DS environment through Azure AD Connect, you should be able to read those attributes in Azure AD DS as @ManojReddy-MSFT notes. It's _within_ Azure AD DS that the schema can't be extended or additional attributes be created, as noted in the article.

#please-close

[2019-08-23 22:30] #37223 closed

[2019-08-23 22:35] jeffj6123 commented on #37647
#please-close

[2019-08-23 22:35] #37647 closed

[2019-08-23 22:37] cynthn commented on #32299
@roygara Any news on this? If you have a work item already, we can close the issue.

[2019-08-23 22:41] mhopkins-msft commented on #37548
I recommend that you uninstall and reinstall the Azure storage emulator. Make sure you get the [latest version](https://go.microsoft.com/fwlink/?linkid=717179&clcid=0x409). You could also try uninstalling Azurite.

The Azure storage emulator starts as documented in all my tests, except when Azurite is actively running. I've added a note to the storage emulator topic to make sure that another emula

[2019-08-23 22:41] #37548 closed

[2019-08-23 22:41] nhwilly commented on #37702
Thanks.

I confirmed with the twilio folks that they are aware of the problem but have had some difficult getting it addressed on your end.

In fact, the only thing I could get to work was using the Twilio package that’s actually based on the .net framework and not .net core. ??

So I can’t use any of the bindings, I just init the client in code and go from there.

HTH

Sent from my Windows 10 dev

[2019-08-23 22:44] kgremban commented on #36983
Thanks everybody. I'll open a pull request to update the sample code.

@formulahendry or @shizn Can you check where `ENUM_TO_STRING` in the moduleTwinCallback function is supposed to be defined?

[2019-08-23 22:45] raphaeldovale commented on #36991
Any news on this? I needed to change my code due to the changes @LukeGahan said and my tests broke with error `ModuleNotFoundError: No module named '__app__'`

Even following the unit testing section I am unable to make it work.

[2019-08-23 22:46] Mike-Ubezzi-MSFT commented on #37454
@mack0196 I see in the [Add list item view](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-dotnet-application#AddItemIndexView) section, the following does not make sense, if I follow the instructions verbatium. The screen capture in the instructions does not follow the along with the instruction being communicated.

![Screenshot (191)](https://user-images.githubusercontent.com/37126106/

[2019-08-23 22:50] ssvillamor23 commented on #37688
Its about the tutorial:
[https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/iot-edge/tutorial-store-data-sql-server.md]

If you follow the steps, the objective is to capture the telemetry data and route it to sqlFunction module's Input1 in which it insert it to table of a localhost Linux SQL Docker container database.

What I want is to change the scenario. I want the SQL to be an ex

[2019-08-23 22:52] Mike-Ubezzi-MSFT commented on #37454
And upon an attempt to add the first view, Step #2 of Add a list item view section, I get the following error:

![Screenshot (192)](https://user-images.githubusercontent.com/37126106/63627751-f3209380-c5bd-11e9-8a47-6a45b574eebd.png)

[2019-08-23 22:55] Mike-Ubezzi-MSFT commented on #37454
@SnehaGunda This tutorial needs to be slightly reworked per what the customer has encountered I was able to reproduce. Customer has made a suggestion.

[2019-08-23 23:07] Mike-Ubezzi-MSFT commented on #37625
@SnehaGunda A recommendation is being made to tweak the code sample found in the following section: Perform CRUD operations on the data ([link](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-dotnet-application#perform-crud-operations)).

Assign to the content team for review, as there appears to be some conversation with regard to this.

[2019-08-23 23:43] Infinitism opened #37713 "State management in service bus queues"
In the documentation, it mentions ServiceBus allows state management but doesn't clarify what that means. Is state management a provision customers can use to track the state of a message? Are we able to have custom states? How can a customer utilize this feature?

How can we query for a state of a message? For e.g: if client A creates a message in the queue, are they able to query for the state o

[2019-08-23 23:51] mikebudzynski commented on #36705
@dcbrown16 Could you please clarify where the documentation states to create a new storage account right before restore? I can't find this part.

[2019-08-23 23:54] curtand commented on #36228
Hi @DeanGross The author seems to have left the company. The message of the article is really "secure the roles that are important to you." The designation of those few as highly privileged roles  is an example, not a statement that those roles are treated differently in some way.

#please-close

[2019-08-23 23:54] #36228 closed

[2019-08-24 00:01] Alberto-Vega-MSFT commented on #37692
Hi @soheilade I'm sorry to hear that you are facing this issue. Could you please link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.

[2019-08-24 00:04] yushwang commented on #37220
@Vigilante2017 Very sorry for the missing pricing info. I just checked myself and could not see any of the data transfer pricing. We will contact the pricing team to correct this problem. Unfortunately, this is not actionable from @cherylmc and I (VPN doc team).

[2019-08-24 00:08] Alberto-Vega-MSFT commented on #37713
@Infinitism Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-24 00:21] amadav opened #37714 "AKS Cluster Autoscaler pod logs"
I am trying to analyze the scaling activity that AKS cluster can do with cluster autoscaler enabled. For this, I am looking into how long a node takes to come up and get registered with the masters and alike for scale down scenario. For this, I have been traditionally using the cluster-autoscaler pod logs and look for logs pertaining to scaleUp and scaleDown events. I would appreciate if I could g

[2019-08-24 00:26] Alberto-Vega-MSFT commented on #37695
Hi @philburns-72 We were asking about a link to the documentation you were following cause this issues are for document feedback: errors, suggestions or anything that would help us make the docs better. Since this is not related to docs I would suggest you to post your question on the developer forums like StackOverflow or MSDN where (unlike here) there is a community that can help. Specially the

[2019-08-24 00:48] gearsmotion789 opened #37715 "Updating predictive web service not working"
So I've been following the instructions at https://docs.microsoft.com/en-us/azure/machine-learning/studio/retrain-machine-learning-model#update-the-predictive-experiment. Even though my model is updated & my predictive web service definitions are updated, the predictive web service still doesn't update. I try to get a prediction, and I still get the same results. Nothing changes.

I then tried del

[2019-08-24 00:55] Alberto-Vega-MSFT commented on #37707
Hi @kpm-at-hfi Thank you for reaching out! if you are interested on contributing you can go ahead and open an issue at https://github.com/Azure-Samples/web-apps-node-iot-hub-data-visualization/issues to engage with the engineering team. Once the issue is acknowledged by the owners then you can create a PR to solve the issue.

[2019-08-24 01:13] Alberto-Vega-MSFT commented on #37657
Hi @kabatmartin123 Would you please share the link of the specific tutorial  page where you found this issues. Once I have the exact page I can find the content author to address the issue and maybe fix the doc if necessary.

[2019-08-24 01:23] MikeChristensen commented on #37541
@Karishma-Tiwari-MSFT Thanks!  Unfortunately, it doesn't work and we don't know why.  We have 19000 opened up in our load balancer, as well as 19080.  SFX works.  When we try to connect we get:

[code]

We can run the same command on a computer behind the firewall, so we know the command is good.

We'll open up a support ticket, but we just wanted to make sure this was indeed possible to do and th

[2019-08-24 01:28] cijothomas commented on #37662
@MS-jgol @DawgFan FYI.
We should modify the doc to NOT set auto flush atleast. The logging adapter should be investigated to see if this is feasible to avoid.
https://github.com/microsoft/ApplicationInsights-dotnet-logging/issues/307

[2019-08-24 01:29] msaburnley commented on #37515
#please-close

[2019-08-24 01:29] #37515 closed

[2019-08-24 01:30] msaburnley commented on #36620
Hey @deangross , I'm looking into this issue and will notify you of any content updates regarding this. Thanks!

[2019-08-24 01:40] lmeyerov opened #37716 "No docs for publishing managed images / packers to marketplace"
We successfully used Packer to generate a valid Managed Image and can successfully start new VM instances using that image. However, we do not see anywhere in the marketplace docs how to use that image for a SKU. We do see orthogonal docs about VHDs, but nothing about going between images and VHDs, and especially not via automated packer scripts. We're probably not understanding something, but as

[2019-08-24 01:44] Alberto-Vega-MSFT commented on #37690
@dagrkatyal Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-24 01:46] Alberto-Vega-MSFT commented on #37712
@jonwbstr Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-24 01:49] Alberto-Vega-MSFT commented on #37714
@amadav Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-24 01:50] Alberto-Vega-MSFT commented on #37715
@gearsmotion789 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-24 01:55] Alberto-Vega-MSFT commented on #37716
Hi @lmeyerov I'm sorry to hear that you are having issues with this. Is there a link to a doc where you think this information should be added to?

[2019-08-24 02:59] #37419 closed

[2019-08-24 03:23] lmeyerov commented on #37716
I expected to either see "How to publish a Managed Image"  or "How to Publish/Export a Managed Image to a VHD / SAS URL" or "Do not use Managed Images for Azure Marketplace". We're still stuck on this, fwiw.

Marketplace docs:

https://docs.microsoft.com/en-us/azure/marketplace/cloud-partner-portal/virtual-machine/cpp-skus-tab  (hovers say nothing about Managed IMs)

https://docs.microsoft.com/en-

[2019-08-24 03:30] lmeyerov commented on #37716
FWIW, the answer _may_ be to clarify

(1) "Marketplace cannot do Managed Images, and will eventually drop VHDs for them but tough cookies write known-to-be-deprecated code now"

(2) ... And provide pointers to how to write already-obsolete Packer code, namely,  replace modern packer code's  `managed_image...` sections with 25-28 of https://github.com/Azure/batch-shipyard/blob/master/contrib/packer

[2019-08-24 05:24] sandeepiiit opened #37717 "Does ingress for azure subscription events gets charged?"
As per [EventGrid pricing page](https://azure.microsoft.com/en-us/pricing/details/event-grid/), we are charged for both ingress and delivery of events.

For event grid subscriptions that receive events from `Azure Subscription` topic type, do we get charged for every ingress? I imagine Azure-generated events might be treated differently from the events we push to custom event topics, hence the que

[2019-08-24 05:30] akdharia commented on #27791
Cant get either service principal or the RdsTenant to be created.. Same error described above.
Any help will be appreciated.
New-RdsRoleAssignment : User is not authorized to query the management service.
ActivityId: e5a87368-da49-418e-8d3d-b03c80215b86
Powershell commands to diagnose the failure:
Get-RdsDiagnosticActivities -ActivityId e5a87368-da49-418e-8d3d-b03c80215b86
At line:1 char:1
+ New-R

[2019-08-24 06:23] SnehaGunda commented on #36110
@julie-ng Glad to know that you also work at MSFT, didn't figure it out when I initially looked at your profile. Yes the samples in Azure-Samples browser can be configured so that docs can automatically read the code updates.

We already have ta repo for this code sample repo in Azure-Samples org: https://github.com/Azure-Samples/Mongoose_CosmosDB and this is what we use in docs. Can you please he

[2019-08-24 07:24] philburns-72 commented on #37695
Oh I get it, sorry. Should have checked first where I was posting.

[2019-08-24 07:51] BhargaviAnnadevara-MSFT commented on #37717
@sandeepiiit Thanks for the question! We're investigating this and will get back to you shortly.

[2019-08-24 08:09] whaakman opened #37719 "Visual Studio settings"
"Open Settings.json" is no longer an option in the dropdown menu instead you click on the button "Open Settings (JSON)" top right in VSCode after navigating to "settings (ctrl+,).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cf9b53c-0438-f23c-fd2e-d57481d57e85
* Version Independent ID: f01afd66-d093-ac44-2b20-df2255

[2019-08-24 08:12] whaakman opened #37720 "Adding arduino.path to settings requires a restart"
Editing arduino.path requires a restart of VSCode in order to start the Board Manager.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cf9b53c-0438-f23c-fd2e-d57481d57e85
* Version Independent ID: f01afd66-d093-ac44-2b20-df225530b39e
* Content: [IoT DevKit to cloud -- Connect IoT DevKit AZ3166 to Azure IoT Hub](https:/

[2019-08-24 08:19] whaakman opened #37721 "Install ST-Link drivers solution is broken again"
This issue was opened before and closed 3 weeks ago. Link still appears to be broken and requires a login after which Sharepoint indicates the following:

That didn't work
We're sorry, but whaakman@live.com can't be found in the microsoft-my.sharepoint.com directory. Please try again later, while we try to automatically fix this for you.

Original issue: https://github.com/MicrosoftDocs/azure-docs

[2019-08-24 08:32] yasserhu1972 opened #37722 "Replication Disk Size"
Currently Standard and Premium managed disks support up to 32TB on Azure, why there is a limitation of maximum 8TB when migrating on-prem and Azure VMs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34d0f2df-de85-c6ab-eb01-f8e028b7f108
* Version Independent ID: 5acb187c-f280-5c7d-14fc-7f07160cd50b
* Content: [Support

[2019-08-24 08:34] BhargaviAnnadevara-MSFT commented on #37719
@whaakman Thanks for the feedback! We're investigating this and will get back to you shortly.

[2019-08-24 08:36] BhargaviAnnadevara-MSFT commented on #37720
@whaakman Thanks for letting us know! We're investigating this and will get back to you shortly.

[2019-08-24 08:41] BhargaviAnnadevara-MSFT commented on #37721
@whaakman Thank you very much for bringing this to our attention! We shall evaluate and update as appropriate.

[2019-08-24 08:46] BhargaviAnnadevara-MSFT commented on #37722
@yasserhu1972 Thanks for the question! We're investigating this and will get back to you shortly.

[2019-08-24 08:59] mulawam opened #37723 "Missing/wrong parameters"
az vm create \
  --resource-group myResourceGroupDisk \
  --name myVM \
  --image UbuntuLTS \
  --size Standard_DS2_v2 \
  --generate-ssh-keys \
  --data-disk-sizes-gb 128 128

In this example, admin-username parameter is missing.

az vm disk attach \
    --resource-group myResourceGroupDisk \
    --vm-name myVM \
    --name myDataDisk \
    --size-gb 128 \
    --sku Premium_LRS \
    --new

name

[2019-08-24 09:05] BhargaviAnnadevara-MSFT commented on #37723
@mulawam Thanks for the feedback! We're investigating this and will get back to you shortly.

[2019-08-24 09:09] rajeshkhanikar commented on #37517
@krbain, even a simple rule like device.displayName -startswith "XXXX" don't work anymore.  The new interface is blocking us from doing anything with the rules

[2019-08-24 09:48] BhargaviAnnadevara-MSFT commented on #37665
@narasimmanr64 Just following up to check if you can provide us with the doc against which you think the issue should be aligned to.

[2019-08-24 10:16] mortenlerudjordet commented on #22909
You can always try:
`Register-AzProviderFeature -ProviderNamespace microsoft.insights -FeatureName diagnosticsettingpreview`

Though there seems to be some more criteria to fullfill as for me it will just be stuck in pending registration.

It's sad that we still can not integrate web apps logs with log analytics or as a fall back use an event hub to ingest into Log Analytics.

[2019-08-24 10:20] mortenlerudjordet commented on #24386
Normally one could do:
`Register-AzProviderFeature -ProviderNamespace microsoft.insights -FeatureName diagnosticsettingpreview`

Though there seems to be something more required, as I'm just stuck in pending registration

[2019-08-24 10:34] hansmbakker commented on #37527
@diberry thank you for your reply.

Probably I can automate it as a separate PowerShell step (using the REST API I mentioned) in my Azure DevOps pipeline, but actually I was wondering what Microsoft recommends here, whether you have a better workaround than my PowerShell idea and whether it is planned to integrate this into ARM?

[2019-08-24 11:57] najaf-humbatov commented on #36977
Please update the documentation because now it misleads and it's hard to troubleshoot the VM behavior if we used the "Save public key" button for the key management. "Save public key" saves key in SECSH format which is no use for the Azure CLI scripting. More than that it could lead to the created VM which will not recognize the private key and will not allow to log in. Scenario that worked for me

[2019-08-24 11:59] lukestringer90 opened #37724 "Samples repo uses older API with function not available in current version (3.1.1)"
The sample's repo contains functions that are not available in the current version (3.11) of the API. For example, the sample for listing all items in a container use the `toArray()` function, with has been replaced with `fetchAll()`.

https://github.com/Azure/azure-cosmos-js/blob/216672a679ab389e5b341280eeacab1cab3691e4/samples/ItemManagement/app.js#L59-L64

This is confusing as the sample code d

[2019-08-24 12:00] PandaWood opened #37725 "I have no idea how what/where/how to scan a QR code to recover my account"
What QR code, where? How? Requires some basic context

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b52a210-1be6-4e5f-d95c-8ea7b87919ca
* Version Independent ID: 02a43ebb-7471-d7ff-4f7e-84c9f7a66326
* Content: [Backup and recover with Microsoft Authenticator app - Azure Active Directory](https://docs.microsoft.com/en

[2019-08-24 12:21] amkarmak commented on #37674
Hi Jakaruna, thank you for the reply. Just to update the sed commands will be as follows...

sed -i 's/scsi_mod.use_blk_mq=1/scsi_mod.use_blk_mq=0 elevator=noop/g' /etc/default/grub
sed -i 's/GRUB_CMDLINE_LINUX=""/GRUB_CMDLINE_LINUX="quiet splash"/g' /etc/default/grub

So, the complete steps will be as ...

1. Disable scsi block mq (scsi_mod.use_blk_mq) and enable noop scheduler in /etc/default/gr

[2019-08-24 12:23] amkarmak commented on #37674
Hi Jakaruna,

Thank you for the reply. Just to update the sed commands will be as follows...

sed -i 's/scsi_mod.use_blk_mq=1/scsi_mod.use_blk_mq=0 elevator=noop/g' /etc/default/grub
sed -i 's/GRUB_CMDLINE_LINUX=""/GRUB_CMDLINE_LINUX="quiet splash"/g' /etc/default/grub

So, the complete steps will be as ...

1. Disable scsi block mq (scsi_mod.use_blk_mq) and enable noop scheduler in /etc/default/g

[2019-08-24 12:52] JoanaRO opened #37726 "Can not access DSVM with JupyterHub"
Just created a new Ubuntu DSVM and am not able to connect to it with JupyterHub + public IP address as described in docs: "To connect, browse to https://your-vm-ip:8000 on your laptop or desktop."

![image](https://user-images.githubusercontent.com/38687514/63637617-19096f00-c676-11e9-912d-a19488ba061e.png)

Any ideas?
Thanks!
Joana

---
#### Document Details

⚠ *Do not edit this section. It is re

[2019-08-24 13:57] dcuenot opened #37727 "Can I use bastion from my local SSH client?"
Hi,

Azure Bastion seems to be very promising!
However, can I use directly my ssh client on my laptop, in order to access to my VMs through the Azure Bastion? Or the only way will be to use the Azure Portal?

If the only way is the Azure Portal, how can I execute my local Terraform or Ansible scripts?

Thanks for your answer.
Regards
Damien

---
#### Document Details

⚠ *Do not edit this section.

[2019-08-24 14:10] artisticcheese opened #37728 "Remove double quotes from all powershell examples for password"
Double quotes expands build in variables like `$` which are valid characters in passwords and will screw up results of executions of all powershell cmdlets. Replace them with single quotes `'` to stop expanding variables

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a93bc08-f5ce-c475-5fc8-7c515f28a0ee
* Version Indep

[2019-08-24 14:16] langstonj opened #37729 "Frequency of Score Update"
I don't see anything that tells how to me how to do an ad-hoc update of my security score.  My sense of things is that the score will change based upon the Sunday morning Vulnerability Assessment scan results (but do not read if that is truly the case).  I  can use the Powershell commandlets to remove baselines, accept baselines but to be able to see how those actions impact the score after being

[2019-08-24 14:16] KalyanChanumolu-MSFT commented on #37651
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-08-24 14:16] #37651 closed

[2019-08-24 14:51] clineer opened #37730 "No EDIFACT tracking schemas?"
I was looking over the content for Tracking schemas but did not see any details about EDIFACT tracking schemas. Do these or exist or this is a current feature gap?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3ec51a1-59dc-3739-9ef4-8356e42aee0e
* Version Independent ID: c4c0730a-59f2-01ff-f347-451dd0c20f5b
* Content

[2019-08-24 15:11] BhargaviAnnadevara-MSFT commented on #37724
@lukestringer90 Thanks for the feedback! We're investigating this and will get back to you shortly.

[2019-08-24 15:14] BhargaviAnnadevara-MSFT commented on #37725
@PandaWood Thanks for the question! We're investigating this and will get back to you shortly.

[2019-08-24 15:15] BhargaviAnnadevara-MSFT commented on #37726
@JoanaRO Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2019-08-24 15:17] BhargaviAnnadevara-MSFT commented on #37728
@artisticcheese Thanks for the feedback! We shall evaluate and update the doc as appropriate.

[2019-08-24 15:20] BhargaviAnnadevara-MSFT commented on #37729
@langstonj Thanks for the feedback! We shall evaluate and update the doc as appropriate.

[2019-08-24 15:22] BhargaviAnnadevara-MSFT commented on #37730
@clineer Thanks for the question! We're investigating this and will get back to you shortly.

[2019-08-24 15:24] BhargaviAnnadevara-MSFT commented on #37727
@dcuenot Thanks for the feedback! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2019-08-24 15:24] vionemc opened #37731 "Microsoft Form Recognizer to process form image URL download"
I succeed to use the Microsoft Form Recognizer using the sample from the quick start.

https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/quickstarts/python-receipts#feedback

But what I have now is image URLs which trigger download instead of opening a raw image in the browser. How can I be able to handle that?

[2019-08-24 15:29] BhargaviAnnadevara-MSFT commented on #37731
@vionemc Thanks for the question! We're investigating this and will get back to you shortly.

[2019-08-24 15:31] vionemc commented on #37731
Thank you for the response! It has been hard for me to use this tool without some flexibility to handle multiple cases

[2019-08-24 15:55] dcuenot commented on #37727
Sure, I'm using this documentation: https://docs.microsoft.com/en-us/azure/bastion/bastion-create-host-portal

[2019-08-24 16:02] Alberto-Vega-MSFT commented on #37692
Hi @soheilade just a friendly reminder to share the link to the doc this feedback is for. If this is not related to any doc I will suggest you to please search and or post on the developer forums like StackOverflow where unlike here there is a community that can help.

[2019-08-24 16:57] delesposo commented on #36930
@cherylmc @msrini-MSFT I successfully tested the recommendations from @adubnik and @avooca. Thank you both! One slight change though. I successfully tested an application security group (ASG) instead of the whole VirtualNetwork (Vnet) for the Bastion subnet outbound rule. I guess it's an attempt to be more surgical on which VM group users can remote into. Eh.
Inbound Security Rules:
Service Tag, I

[2019-08-24 17:18] lmeyerov commented on #37716
And more: https://docs.microsoft.com/en-us/azure/marketplace/cloud-partner-portal/virtual-machine/cpp-prerequisites

The technical requirements for Linux on Azure Marketplace offerings are definitely *not* the technical requirements for Linux on Azure in general.  The docs here are incredibly misleading and time wasting.

[2019-08-24 18:03] SwathiDhanwada-MSFT commented on #37470
@bobbytreed Can you please provide your thoughts on it?

[2019-08-24 18:16] AjayKumar-MSFT commented on #37586
@deisterhold, Just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue or is good to be closed.

[2019-08-24 18:25] RyanHill-MSFT commented on #37328
We will now proceed to close this thread @jorgecarleitao. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-24 18:25] #37328 closed

[2019-08-24 19:09] Karishma-Tiwari-MSFT commented on #37561
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-08-24 19:09] #37561 closed

[2019-08-24 19:47] rolyon commented on #37142
Hi @garrylean
Let us know if you have any additional feedback. If you want submit ideas or suggestions for activity logs, you can use this link:
https://feedback.azure.com/forums/34192--general-feedback
thanks

[2019-08-24 19:47] rolyon commented on #37142
#please-close

[2019-08-24 19:47] #37142 closed

[2019-08-24 19:50] SnehaGunda commented on #37724
@lukestringer90  Thanks for pointing out the issue, I submitted a Fix to update the links and point the sample to the latest version. In the next iteration, we will add regions to the sample and reference region from docs instead of hardcoding. This way we can have integration between sample and doc.

We will now close this issue if there aren't further questions.

[2019-08-24 19:50] SnehaGunda commented on #36969
@lukeb1961 Thanks for pointing out the issue, I submitted a Fix to update the links and point the sample to the latest version. In the next iteration, we will add regions to the sample and reference region from docs instead of hardcoding. This way we can have integration between sample and doc.

We will now close this issue if there aren't further questions.

#please-close

[2019-08-24 19:50] #36969 closed

[2019-08-24 20:06] SnehaGunda commented on #37447
@pettys I submitted a PR to add the code comment. Hope this helps. We will now close this issue.

#please-close

[2019-08-24 20:06] #37447 closed

[2019-08-24 20:55] JoanaRO commented on #37726
Hi!

Of course, you can find it here:
https://docs.microsoft.com/en-us/azure/machine-learning/data-science-virtual-machine/dsvm-ubuntu-intro#how-to-access-the-data-science-virtual-machine-for-linux

Thanks!
Joana

________________________________
From: BhargaviAnnadevara-MSFT <notifications@github.com>
Sent: Saturday, August 24, 2019 4:15:42 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.gith

[2019-08-24 20:56] lukestringer90 commented on #37724
That's great, thanks @SnehaGunda

[2019-08-24 20:56] #37724 closed

[2019-08-24 21:03] deisterhold commented on #37586
@AjayKumar-MSFT, I saw that previously, but didn’t feel it covered my scenario because I’m using Easy Auth in Azure App Service. I ended up going with a custom Middleware that parses the headers returned by App Service. Is there a way for me to support multiple roles though?

[2019-08-24 21:03] gabrieljoelc commented on #24121
I ported @DanielLarsenNZ 's solution to bash and it worked. Here's an [example](https://github.com/gabrieljoelc/proto-azure-pgp/blob/master/deploy.sh).

[2019-08-24 21:27] StingyJack commented on #37651
@KalyanChanumolu-MSFT   the link was the one on the AZ portal for Documentation.

![image](https://user-images.githubusercontent.com/15381181/63642873-4f55e700-c694-11e9-9877-b913115f257e.png)
that link goes to this page...
![image](https://user-images.githubusercontent.com/15381181/63642875-5d0b6c80-c694-11e9-83a2-ea09920b6a17.png)

[2019-08-24 21:59] edwinsummers commented on #36874
I think I've figured this out. The 'Recovery Plan Context' appears to be injected as a command-line argument in a Python automation script. After several tests I was able to access it via sys.argv[1]. I may have missed this in the documentation, or it would be good to clarify in the docs. Thank you!

[2019-08-24 23:20] linruhui commented on #31879
@cephalin May I know when will you have these numbers published?

[2019-08-24 23:53] j0rt3g4 commented on #30743
@cynthn changed to PR
https://github.com/Azure/azure-docs-powershell-samples/pull/234

[2019-08-25 00:09] SnehaGunda commented on #37345
@derekrprice Thanks for pointing out the issue, I submitted a PR to update the screenshots. Hope it helps. We will now close this issue if there aren't further questions.

#please-close

[2019-08-25 00:09] #37345 closed

[2019-08-25 00:27] kabatmartin123 commented on #37657
Ifollowed qnamaker documentation - multi - turn conversation. Would you be able to help with the issue? Bot doesn't display the prompts.

[2019-08-25 00:34] SnehaGunda commented on #37506
@rossdempster The change feed processor library handles the partition/partition key range split. Physical partitioning is an internal concept, and you don't have to manage it.

@ealsur can you please take a look at this issue? and see if we can update the doc to capture the above understanding?

[2019-08-25 01:35] SnehaGunda commented on #37625
@j82w Thanks for the suggestion, I submitted a fix to the code. The changes will be live on the doc on Monday.

We will close this issue if there aren't further questions.

#please-close

[2019-08-25 01:35] #37625 closed

[2019-08-25 01:49] AaronLS opened #37732 "Clarify Discouraging use of External Store"
"Periodically push data from each service to an external store. This approach is only appropriate if the queries you're performing are not part of your core business logic."

This statement could use clarification.  Something along the lines of ", as the external store would contain stale data."

Additionally, the statement seems to discourage the use of an external store such as a database, but t

[2019-08-25 02:23] bdcoder2 opened #37733 "Overview section - question?"
In the "Overview" section, it states:

 "SQL Agent Jobs are not available in single databases."

I have an on-premises SQL server (2016); currently hosted outside of Azure, and I can easily set-up SQL agent jobs for any single database on the server -- but the way it is worded above, it sounds like this is NOT possible on Azure?  Please clarify.

---
#### Document Details

⚠ *Do not edit this sect

[2019-08-25 03:09] mrbullwinkle commented on #37409
The update to this doc will go-live on Monday 8/25 between 10-11 AM (UTC-7). Thanks again for bringing this to our attention. #please-close

[2019-08-25 03:10] #37409 closed

[2019-08-25 03:22] Alberto-Vega-MSFT commented on #37733
@bdcoder2 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-25 03:25] Alberto-Vega-MSFT commented on #37732
@AaronLS Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-25 04:44] kudlatiger commented on #37584
Thanks @dominicbetts

No we can not change existing IoT hub.

Also, naming conventions of resources generated in solution accelerator is random and it violates our product naming conventions.

It would be great feature if we can plug in existing IoT Hubs to accelerators

[2019-08-25 04:44] SnehaGunda commented on #37454
@mack0196 Thanks for pointing out the issue, I have re-ordered the steps. Moved the view creation before controller creation. Above PR has the fixes.

We will now close this issue.

#please-close

[2019-08-25 04:44] #37454 closed

[2019-08-25 04:47] SaltyDH commented on #37077
Interesting timing, I opened a support ticket just yesterday because our Web App to Azure SQL Database connectivity suddenly broke unexpectedly. We had been using the configuration that @abhilashmk describes above with great success for the past couple of months. There were no configuration changes made by us leading up to this breaking. Happened at around 2019-08-24 UTC5:00. Ticket number: 119082

[2019-08-25 05:50] kayuuji opened #37734 "miss-writing? maybe the correct word is "ImmutableID"."
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-fed-management#modclaims
->The section of [Modify AD FS claim rules]

Rule 3 and 4, there are the description that issuing claim is "nameidentifier"

c:[Type == "http://contoso.com/ws/2016/02/identity/claims/msdsconsistencyguid"]
=> issue(Type = "**http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier**",

[2019-08-25 06:05] rafek1241 commented on #31879
@cephalin @rothja can you at least response something?..

[2019-08-25 06:37] abhilashmk commented on #37077
Yes @rohitnayakmsft customer can set 'Allow Azure Services to OFF' , they can use Azure SQL as SE and allow only Web App VNET to access the DB. Please go ahead and update the document.

@SaltyDH took a look at the Support case and connection time out might be a little different issue here. If issue was with firewall, we would see error something like client with IP 'x.x.x.x' not allowed to access

[2019-08-25 07:16] BhargaviAnnadevara-MSFT commented on #37727
@dcuenot Thank you for the response! I've routed this to the appropriate Team to investigate and update.

[2019-08-25 07:19] BhargaviAnnadevara-MSFT commented on #37734
@kayuuji Thanks for the question! We're investigating this and will get back to you shortly.

[2019-08-25 07:22] BhargaviAnnadevara-MSFT commented on #37726
@JoanaRO Thank you for the response! I've routed this to the appropriate Team to investigate and update.

[2019-08-25 08:29] msrini-MSFT commented on #37621
@OffColour , I will go ahead and close this issue. Please tag me if you have any further questions.

[2019-08-25 08:29] #37621 closed

[2019-08-25 08:30] msrini-MSFT commented on #37633
@taromielnaz , I will go ahead and close this issue. Please tag me if you have any further questions.

[2019-08-25 08:30] #37633 closed

[2019-08-25 10:27] pieterhancke commented on #30921
Hi, where can I find more info on User Analytics, do not have in my tenant.

[2019-08-25 11:56] magnuskarlssonhm commented on #28461
Got it working between Web app and cosmos table. Not sure what made it work but it took a couple of hours of deleting resources, and adding them back again. Might just have been the time that solved it, provisions etc maybe??

[2019-08-25 12:09] soheilade commented on #37692
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/quick-create-cli?toc=%2fazure%2fvirtual-machines%2flinux%2ftoc.json

[2019-08-25 14:29] DEV3L opened #37735 "No More Topics"
Following this tutorial, you can no longer create a topic in Service Bus

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a364532-c747-f103-b3ac-ee6edd83bc49
* Version Independent ID: ebed970b-5272-daa2-7751-bb021829011e
* Content: [Quickstart - Use the Azure portal to create Service Bus topics and subscriptions](https:

[2019-08-25 15:14] ataraxia89 opened #37736 "Managed Identity can't retrieve access token when running in live environment"
Using a connection string such as:

`"Server=tcp:<server-name>.database.windows.net,1433;Database=<database-name>;"`

...will work locally in Visual Studio, because an AD user has been added to VS identities and that user has been set in VS settings as the one to use when accessing Managed Identities.

When running live on Azure, however, the app service will throw the following exception when att

[2019-08-25 15:16] BhargaviAnnadevara-MSFT commented on #37735
@DEV3L Thanks for the feedback! We shall evaluate and update this as appropriate.

[2019-08-25 15:17] BhargaviAnnadevara-MSFT commented on #37736
@ataraxia89 Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2019-08-25 15:18] ataraxia89 commented on #37736
https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-connect-msi

[2019-08-25 15:26] BhargaviAnnadevara-MSFT commented on #37665
@narasimmanr64 We will now proceed to close this thread as we haven't heard back from you, but if there are any further questions regarding the documentation, please open a new issue against the doc that you're following, or tag me here in your reply and we will be happy to continue the conversation.

[2019-08-25 15:26] #37665 closed

[2019-08-25 15:32] BhargaviAnnadevara-MSFT commented on #37736
@ataraxia89 Thank you for the response! I've routed this to the appropriate Team to investigate and update.

[2019-08-25 15:34] ealsur commented on #37506
I can probably add details to https://docs.microsoft.com/en-us/azure/cosmos-db/change-feed-processor#dynamic-scaling

[2019-08-25 15:40] DEV3L opened #37737 "Outdated Examples"
I had to dig around to find:
https://raw.githubusercontent.com/Azure/azure-sdk-for-python/master/sdk/eventhub/azure-eventhubs/examples/send.py

Most recent version of SDK requires different arguments

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca747e27-fe51-bf8c-166e-ae10efa3a2e8
* Version Independent ID: 2449eec6-6

[2019-08-25 17:10] Jayesh040 commented on #37620
@pramodValavala-MSFT Do we have any update on this ?
I did my research from my end but I was not able to make it.

[2019-08-25 17:38] cbeech1980 opened #37739 "Error running sudo npm install"
After cloning the repository I run 'sudo npm install' and receive the following error...

`sudo npm install

gyp WARN EACCES user "root" does not have permission to access the dev dir "/root/.node-gyp/11.15.0"
gyp WARN EACCES attempting to reinstall using temporary dev dir "/data/iot-hub-node-raspberrypi-client-app/node_modules/i2c-bus/.node-gyp"
gyp WARN install got an error, rolling back install

[2019-08-25 17:39] rossdempster commented on #37506
@SnehaGunda @ealsur Thanks for taking a look at this!

@SnehaGunda You are correct that the change feed processor handles this, but it's not the only way way to read the feed. Check out the following page from the docs:
https://docs.microsoft.com/en-us/azure/cosmos-db/read-change-feed

I am using the 3rd of these options. When using this low-level approach, the information I discussed above become

[2019-08-25 17:47] marcelodiiorio opened #37740 "Informed latency mismatch"
Hello. In the document it says the information could take 5 to 15 minutes to appear in the storage account, however in this video we say 2 to 10 minutes. What is correct?

Thanks.

Marcelo di Iorio.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96b35262-d52a-00f0-e8f8-225322f9c156
* Version Independent ID: dd46aa98-a9

[2019-08-25 18:04] Rick-Kirkham opened #37741 "Mistake in redirectUri description"
In the description of `redirectUri`, the clause "except that it must be URL encoded" is mistaken. In fact, if the value is URL encoded, there is an error that it is not a valid URI. The value should *exactly* match the registered URI and *not* be URL encoded.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69b44d91-f31e

[2019-08-25 18:12] bachoang opened #37742 "SAML Assertion Grant type is hard to read"
Can you provide the textual representation of the SAML Bearer assertion grant flow like in the other flows?  The Postman image is small and hard to read

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f168986-8f8f-4e97-cba8-547564c97eb5
* Version Independent ID: 12ac4571-4f35-300e-9119-8d13673f3722
* Content: [Microsof

[2019-08-25 20:34] chriszohno opened #37743 "How to sign in without showing consent screen?"
My app uses MSAL to sign in to my MS or Azure account, but I don't need to access any MS resources.  While I can make everything work by following this instruction, I'd like to bypass the consent screen altogether. I tried to use "User.Read" as scope but the consent screen is still displayed.
Is there a way to bypass consent screen at all? I just want to use MS account to authenticate users.

---

[2019-08-25 21:47] scottmckenzie opened #37744 "Add task to deploy Python function"
The Python example creates a .zip file but does not deploy it to an Azure Function. This example should use the AzureFunctionApp@1 task to deploy the zip to a function.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ab62930-d35d-d6d3-8bb7-2ed6b34636bb
* Version Independent ID: 86725233-d4a5-a796-cd6e-c05c3675952b
* Co

[2019-08-25 22:13] DorjeM commented on #37400
Got the same error , in my case problem was when I clicked on "Dynamic membership rules" there was a default property rule in place  Property = accountEnabled Operator = All
The problem was that the Value field had no value in it i.e. it was null
I assumed that the default rule was set correctly, so ignored it, added my own expression, then when I tried to save the Dynamic group I got
![error1dyna

[2019-08-25 22:15] DorjeM commented on #37517
I had the same error creating a new group, and it was caused by a default dynamic membership rule having the wrong syntax. The following may help you work around the issue
https://github.com/MicrosoftDocs/azure-docs/issues/37400#issuecomment-524668595

[2019-08-25 22:32] ealsur commented on #37506
The linked article has been updated. The recommended way to consume the Change Feed is through the Change Feed Processor, that contains all the handling required.

[2019-08-25 22:34] ealsur commented on #37506
@rossdempster The public API to read the change feed manually is no longer present in the Cosmos DB V3 SDK, that is why there the Next Steps no longer mention this.

[2019-08-25 23:46] NavtejSaini-MSFT commented on #37695
@philburns-72 No problem. We do hope that you get necessary help from other channels(like MSDN, Stack, Support etc.). For now we will go ahead and close this issue.

[2019-08-25 23:46] #37695 closed

[2019-08-25 23:47] syndicatedshannon commented on #28461
Deleting and recreating also 'mystically' solved my problem.

I tried this route after I found that the servers I was initially provisioned did not support scaling to P1V2. It was referenced in some docs, but what I didn't realize is that it meant my SPECIFIC server may have that scaling option disabled (which it did), and that would be an indicator of a separate deficiency that would prevent this

[2019-08-25 23:47] MarileeTurscak-MSFT commented on #37741
@Rick-Kirkham
Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-25 23:54] MarileeTurscak-MSFT commented on #37741
Thanks @Rick-Kirkham

I made a pull request to remove that line. https://github.com/MicrosoftDocs/azure-docs-pr/pull/86496

In the future feel free to make your own pull requests for small changes like this.

[2019-08-25 23:54] #37741 closed

[2019-08-25 23:58] NavtejSaini-MSFT commented on #37733
@bdcoder2 The Single Database here refers to the Azure SQL Single Databases which is Database as a Service hosted in Azure. Similarly Managed instance is also a type of Azure SQL option.
Please find more details regarding the same here:
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-single-index
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-ind

[2019-08-26 00:06] BhargaviAnnadevara-MSFT commented on #37739
@cbeech1980 Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2019-08-26 00:10] patrickgalbraith commented on #37499
@linda33wj @ChiragMishra-MSFT  any update?

[2019-08-26 00:17] cbeech1980 commented on #37739
https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-raspberry-pi-kit-node-get-started

[2019-08-26 01:32] #37736 closed

[2019-08-26 01:42] ssvillamor23 commented on #37688
I fix it myself.
Container of a Docker may create logs too long enough for a bash to show everything.
Just output them as a txt file to open them.
Remember the connectionstring in the external SQL server with a name instance use a \ symbol which is not applicable to C# code, so you need to add another \ making it \\.
DNS might be configure in the linux as well, if not, just use ipaddress\\namespac

[2019-08-26 01:55] Alberto-Vega-MSFT commented on #37737
@DEV3L Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-26 01:57] Alberto-Vega-MSFT commented on #37740
@marcelodiiorio Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-26 01:58] Alberto-Vega-MSFT commented on #37744
@scottmckenzie Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-26 01:58] Alberto-Vega-MSFT commented on #37743
@chriszohno Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-26 02:00] Alberto-Vega-MSFT commented on #37742
@bachoang Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-26 02:11] BhargaviAnnadevara-MSFT commented on #37739
@cbeech1980 Thank you for the response! I've routed this to the appropriate Team to investigate and update.

[2019-08-26 02:17] dcbrown16 opened #37747 "Unplanned vs planned"
Why do the VMware steps recommend using "Unplanned Failover" when running a planned failover? Is there no situation in which we should run "Planned Failover" for VMware?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f370303c-83ea-c7a9-93c5-118d34d35f4e
* Version Independent ID: f1d12deb-0b45-c8d4-de85-8dcc316a4c53
* C

[2019-08-26 03:50] KalyanChanumolu-MSFT commented on #37651
@StingyJack Thank you for pointing this out.
We will fix the broken link.

[2019-08-26 03:56] jonathanneo commented on #35453
Could you also please provide an answer to Huan's Q3: "I add a new connection in the feature branch. Why does it generate new commit on the adf_publish branch, I thought adf_publish is the build/ARM version of the master branch?"

Specifically, new connections would directly commit to adf_publish branch without the need to press the "Publish" button in ADF.

Thanks.

[2019-08-26 04:05] janhurst commented on #16002
Same here, the claims principal is always empty. I am using Windows Integrated Authentication, and I can see my custom authorization handlers being triggered.

[2019-08-26 04:08] iilyin commented on #37611
Here is the login URL:
https://login.microsoftonline.com/09fbd598-d84a-4406-bb90-a72ad1170877/oauth2/v2.0/authorize?client_id=090492c9-fb3f-4ffd-95de-00284f06f957&prompt=login&redirect_uri=https%3A%2F%2Flocalhost%2F.sso%2Fcode%2Foneid&response_mode=form_post&response_type=code&scope=https%3A%2F%2Fgraph.microsoft.com%2FDirectory.ReadWrite.All&state=%2Fbbbb%2F%3FinitiatedByOauth2TokenBroker2

[2019-08-26 04:10] hansenms commented on #36884
#please-close

[2019-08-26 04:10] #36884 closed

[2019-08-26 04:30] ManojReddy-MSFT commented on #37676
@josefblaha We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-08-26 04:30] #37676 closed

[2019-08-26 04:31] ManojReddy-MSFT commented on #37487
@jayanthurs-au I am closing this issue for now. Let me know if you have any further questions.

[2019-08-26 04:31] #37487 closed

[2019-08-26 04:32] ManojReddy-MSFT commented on #37373
@mkennedy345 We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-08-26 04:32] #37373 closed

[2019-08-26 04:35] KetanChawda-MSFT commented on #37717
@sandeepiiit Operations in Event Grid include all ingress events, advanced match, delivery attempt, and management calls. You’re charged per million operations with the first 100,000 operations free each month.

[2019-08-26 04:39] VikasPullagura-MSFT commented on #37604
@qusp66 Hope the provided information helped you solve your issue. I am closing the issue for now, if you have any further question you can reopen this issue to continue the discussion.

[2019-08-26 04:39] #37604 closed

[2019-08-26 04:42] RohitMungi-MSFT commented on #37588
@manvendrautralia We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-26 04:42] #37588 closed

[2019-08-26 04:42] KetanChawda-MSFT commented on #37744
@scautomation [This](https://docs.microsoft.com/en-us/azure/azure-functions/functions-how-to-azure-devops#deploy-your-app) part of the document covers the deployment of the Function App depending on the hosting OS.

[2019-08-26 04:59] olofhellman opened #37748 "The chart with the green oval adds no information to this page, but does add confusion."
This chart was drawn by someone who knows nothing about drawing charts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e179690c-627c-d305-3c00-13d6b5b70c5b
* Version Independent ID: bdc0ea47-e730-e9fa-b851-78c9e7ea66bc
* Content: [Azure SQL Database purchasing models](https://docs.microsoft.com/en-us/azure/sql-database

[2019-08-26 05:01] AjayKumar-MSFT commented on #37736
@ataraxia89, Since you have closed this issue, I presume that you have rectified the problem. In case, you need any further assistance please just let us know we would be more than happy to assist you.
Thanks for leveraging Azure docs feedback channel.

You may wish to know  that you could contribute on the doc update with a Pull Request (PR), so I would like to share the steps to raise a PR:

If

[2019-08-26 05:09] SumanthMarigowda-MSFT commented on #37501
Each region in Azure is generally in a different geographic area, for example, Azure East is in Virginia and Azure West is in California.  But what about East 2? Well, it’s in Virginia too! In fact, Microsoft Azure has three regions in Virginia:  East US, East US2, and US Gov Virginia.  So from a geographic perspective, there’s no huge difference.
There is price with East US 2 having lower prices

[2019-08-26 05:09] #37501 closed

[2019-08-26 05:17] KrishnaG-MSFT commented on #37747
@dcbrown16 Thanks for the comment. We are actively investigating on your ask and will get back to you shortly with an update.

[2019-08-26 05:24] gpj1 opened #37749 "Is a VPN Gateway used to connect 2 Azure VNETs?"
I understand that a VPN Gateway can be used to connecto on-prem network to Azure VNet. But in this documentation it is mentioned that a VPN Gateway connects an Azure VNet to another Azure VNet. Isn't VNet peering connects 2 Azure VNets? Please correct my understanding.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c7

[2019-08-26 05:27] VikasPullagura-MSFT commented on #37571
@yasufs Thanks for confirming on the information provided helped you. I will share the feedback to the document author on suggestion of document linking and script enhancement with credential reset.

I am closing the issue for now. If you have any other query feel free to reopen the issue to continue this discussion.

[2019-08-26 05:27] #37571 closed

[2019-08-26 05:31] msrini-MSFT commented on #37749
@gpj1 , VPN gateway is used  to connect On-Premises as well as other Azure VNETs. You can also use VNET peering to connect two VNETs but based on the scenario, you can choose between available connectivity options.

Let me know if you have any further questions.

[2019-08-26 05:34] SumanthMarigowda-MSFT commented on #37679
The Microsoft Azure File service supports a subset of the SMB 3.0 and 2.1 protocols. The majority of applications do not use the SMB features that are not supported by the File service, so most applications will work as designed when using files stored in the File service. However, some applications may not work properly with the File service if they rely on these unsupported features. The followi

[2019-08-26 05:41] shashishailaj commented on #37466
Closing thread.

[2019-08-26 05:41] #37466 closed

[2019-08-26 05:41] eyalbadash opened #37750 "typo: stringFilter is supposed to be strictFilters"
there is a typo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc39a5b4-4471-adb5-c92d-43e544687650
* Version Independent ID: a657a76a-320f-d550-ebb8-ead2353fce06
* Content: [Knowledge base - QnA Maker - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/concepts/knowledge-base

[2019-08-26 05:44] eyalbadash opened #37751 "typo: conversation content is supposed to be conversation context?"
there's a typo?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc39a5b4-4471-adb5-c92d-43e544687650
* Version Independent ID: a657a76a-320f-d550-ebb8-ead2353fce06
* Content: [Knowledge base - QnA Maker - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/concepts/knowledge-base

[2019-08-26 05:46] olofhellman opened #37752 "Unclear prerequisites"
The prereqs include:  An Azure Active Directory tenant associated with your subscription, either synchronized with an on-premises directory or a cloud-only directory.

But, there are no instructions about how to tell if I have an Azure Active Directory tenant associated with my subscription

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-08-26 05:57] olofhellman opened #37754 "Instructions unclear about Azure AD user"
The instructions under "Grant Azure AD user access to database" are very unclear.  It seems to imply that there is a prerequisite to have some sort of Azure AD user already set up before beginning the tutorial, but no such prerequisite is listed under prerequisites.

Does "Grant Azure AD user access to database" mean "Azure AD needs access to the database, and of the various kinds of access that e

[2019-08-26 06:07] olofhellman opened #37755 "instructions unclear about what "server name" means"
The instructions on the  'az sql server ad-admin create'  command say to replace &lt;server-name&gt;, but it doesn't say to use the server name without the '.database.windows.net'  -- On the server information page, '.database.windows.net ' is explicitly shown as part of the server name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-08-26 06:08] fangzj1991 opened #37756 "current supported minor version is confused"
1.13.x	1.12.a, 1.12.b, 1.11.a, 1.11.b, 1.10.a, 1.10.b
The current minor version that is released in AKS (N)
Three previous minor versions. Each supported minor version also supports two stable patches.
According to this some users think the current minor version which is 1.13.x means support all patches version. In fact should be latest 2 patches version.

---
#### Document Details

⚠ *Do not edit

[2019-08-26 06:09] angoyal-msft commented on #35826
@ajlam Could you please provide any update on this issue.

[2019-08-26 06:14] angoyal-msft commented on #36185
@ninarn Could you please provide any update on this issue.

[2019-08-26 06:17] KrishnaG-MSFT commented on #37510
@eamonoreilly Thanks for sharing the useful information. 👍
@nnamedieh Closing this issue for now. If there are further questions regarding this matter or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-08-26 06:17] #37510 closed

[2019-08-26 06:17] angoyal-msft commented on #36287
@srdan-bozovic-msft could you please provide an update on this issue.

[2019-08-26 06:23] jangcy commented on #37696
@Adam-Smith-MSFT
Hi Adam, please find the link below.
[https://docs.microsoft.com/en-us/azure/data-factory/supported-file-formats-and-compression-codecs#textformat-example](url)

[2019-08-26 06:27] angoyal-msft commented on #37506
@rossdempster
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-08-26 06:27] #37506 closed

[2019-08-26 06:30] DashleenBhandari-MSFT commented on #37509
@ggailey777 , Could you please look into this issue.

[2019-08-26 06:40] SnehaAgrawal-MSFT commented on #37755
@olofhellman Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-26 06:44] PramodValavala-MSFT commented on #37687
@nezoic Just following up here... Hope my previous comment clears things up.

[2019-08-26 06:45] ram-msft commented on #37518
@temitopefunmi Could you please add the screenshots for the United Kingdom English that doesn't allow for Audio+ human-labeled transcript.

[2019-08-26 06:59] ask-imran opened #37757 "Service Account- Self Hosted IR - Unable to find the keypath"
I am using a service account, I have my self hosted IR configured. I have the .p12 key path on the IR machine. when I reference the path on the linked services and try to connect it throws an error as "Failed to connect to the database. Error message: ERROR [HY000] [Microsoft][DriverSupport] (1140) Unable to load CA certificates from certs file location.  Please ensure the file exists, has read pe

[2019-08-26 07:03] ManojReddy-MSFT commented on #37752
@olofhellman In Azure, a subscription is always linked to an Azure AD tenant. However, you can have a tenant without an Azure subscription.

In this doc, we do provide the information about how to link a subscription to your tenant.

If you want to check which directory your subscription is linked to, you can do that by navigating to Azure Portal > (search bar on top) search for subscriptions > Se

[2019-08-26 07:17] Klaas- commented on #29974
@cynthn so the docs are just completely wrong?
If it's only dependent on the azure region then I can mix all VM types that are available in an azure region into one single availability set? "A8/A9 VM size can't be mixed due to requirement on dedicated RDMA backend network." seems to contradict your statement directly

[2019-08-26 07:24] formulahendry commented on #36983
Hi @kganjam , it seems like `ENUM_TO_STRING` is also changed in C SDK side. (I will create another issue for C SDK to follow up).
For quick turn around, please also make below change:
Change
[code]
to
[code]

[2019-08-26 07:35] mxxmusic opened #37759 "Link for Azure IoT certification service (AICS) is not goto AICS test web"
Link for Azure IoT certification service (AICS) is not go to AICS test web.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc3d1d7a-39b1-400d-d019-3061405c0ad3
* Version Independent ID: 5ad5a207-b6b9-168a-ecac-35f8b0a70589
* Content: [Certify your IoT Plug and Play Preview device](https://docs.microsoft.com/en-us/azure

[2019-08-26 07:42] iamviaannd commented on #33497
It's not working though my id is in exactly above given format

[2019-08-26 07:53] temitopefunmi commented on #37518
Hello,Find attached pictures of an uploaded audio+transcript, the tab showing only related text and the next tab showing that i do not have any audio+transcript.
    On Monday, August 26, 2019, 07:46:22 AM GMT+1, Ram <notifications@github.com> wrote:

@temitopefunmi Could you please add the screenshots for the United Kingdom English that doesn't allow for Audio+ human-labeled transcript.

—
You ar

[2019-08-26 08:22] RohitMungi-MSFT commented on #37657
@kabatmartin123 Are you referring to the following [documentation](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/multiturn-conversation)? Please note this forum is used for issues related to documentation of azure services. The tutorial for qnamaker multi turn worked fine for me. If you are testing multi turn using webchat option from azure portal for the qna web app bo

[2019-08-26 08:28] RohitMungi-MSFT commented on #37750
@eyalbadash Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-08-26 08:29] RohitMungi-MSFT commented on #37751
@eyalbadash Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-08-26 08:30] wwlpublish opened #37760 "Error message: Invalid audio name found: "1.wav". Only numeric values are allowed."
I met this error when using Individual utterances + matching transcript, would you please let me know what are the expected file name?

In this case, shall I use one transcript file for all the .wav files. Or shall I use a separate transcript file for each .wav?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e6fc39a-3

[2019-08-26 08:35] ram-msft commented on #37760
@wwlpublish Thanks for the question! We're investigating this and will get back to you shortly.

[2019-08-26 08:41] nkma1989 commented on #22715
Can confirm the code works for me as well.
Thank you, you just saved me a lot of time.

[2019-08-26 08:47] kristianGNI commented on #32922
Have the same issue,

App Service Plan
    VNet
        Subnet1 --> function app 1
        Subnet2 --> Function app 2

When deploying the 2nd function app with subnet i get a conflict 409 in my pipeline

"Code": "Conflict",
  "Message": "Adding this VNET would exceed the App Service Plan VNET limit of 1.",
  "Target": null,
  "Details": [
    {
      "Message": "Adding this VNET would exceed the A

[2019-08-26 08:52] jakaruna-MSFT commented on #37692
@soheilade in the cli command to create vm the flag `--generate-ssh-keys` is given.
Do it would have picked the public key in your home directory (~/.ssh/id_rsa.pub) and uploaded  it to the Azure virtual machine.
Then you can use the private key (~/.ssh/id_rsa) to login .
Make sure you have that file in your machine.
Please try with the below command which explicitly specifies which key to use.
`s

[2019-08-26 09:07] soheilade commented on #37692
@jakaruna-MSFT , thanks, but how do I move the public key to a VM that I cannot access to? The serial console of azure is not working either.
![image](https://user-images.githubusercontent.com/1499596/63679484-ade4a780-c7f1-11e9-8938-cb412c57c0ac.png)

[2019-08-26 09:12] jakaruna-MSFT commented on #37723
@mulawam
For the first command:
`--admin-username` is not a mandatory parameter.
It we didn't give a user name, By default it picks the current user name who is running the command.

You can check that using this command `az vm create -h | grep 'admin-username'`

For the second command:
I am using Azure cli with version 2.0.71
I am not seeing the disk parameter. can you please post a screenshot?

[2019-08-26 09:17] jakaruna-MSFT commented on #37714
@amadav Are you looking for a place or a command to get those events?

@jluk @mlearned Please add your comments

[2019-08-26 09:20] rgherta opened #37761 "Sharding"
The following statement is misleading and requires explanation:
"Sharding &gt;&gt; Cosmos DB supports automatic, server-side sharding. Cosmos DB does not support manual sharding commands."

This doesn't seem to be the case for MongoAPI where you need to specify the shard keys for every query. So I don't understand what this statement above even means.

---
#### Document Details

⚠ *Do not edit thi

[2019-08-26 09:28] PramodValavala-MSFT commented on #37620
@Jayesh040 Apologies for the delay. I believe there isn't a way to automate the Azure AD B2C App creation step, but you can setup the identity provider in APIM using either

- Powershell using the [`New-AzApiManagementIdentityProvider`](https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/new-azapimanagementidentityprovider?view=azps-2.5.0) cmdlet
- ARM using a [`Microsoft.ApiManage

[2019-08-26 09:29] SumanthMarigowda-MSFT commented on #37333
@juyama Kindly let us know if the above helps or you need further assistance on this issue.

[2019-08-26 09:29] MattLavalleeMA opened #37762 "Install most recent SDK should direct to .NET Standard, not Full Framework"
The #1 tip is to install the most recent SDK, but it directs visitors to the .NET Framework version that is from May 2018.  It should direct to the .NET Standard version that is kept current.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19819758-be79-2347-d1d9-7c950d8513ae
* Version Independent ID: 8099f2c8-f8bc-6459

[2019-08-26 09:32] PramodValavala-MSFT commented on #37713
@Infinitism The state management mentioned in the [advanced capabilities table](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-azure-and-service-bus-queues-compared-contrasted#advanced-capabilities) is about entity (queue/topic) state.

For message state, its covered in the [additional information](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-a

[2019-08-26 09:40] jakaruna-MSFT commented on #37692
@soheilade
You need to enable boot diagnostics for the serial console.

That public key would have been placed in the VM automatically by the CLI.
You can find that on the `~/.ssh/authorized_keys` file in the Azure virtual machine

If you are looking for a way to login to that VM,  You can easily reset the password for your username or create a new user with username and password.

For resetting t

[2019-08-26 09:41] jakaruna-MSFT commented on #37569
@FrankAtHexagon  is there any update

[2019-08-26 09:41] PramodValavala-MSFT commented on #37735
@DEV3L I can confirm that the steps are indeed still valid. Could you please share more details on any error that you may be seeing while creating the topic?

[2019-08-26 10:05] Rajani-Janaki-Ram commented on #36874
Thanks Ed for confirming. We will take a look at the feedback and have added it to our backlog.

[2019-08-26 10:06] Rajani-Janaki-Ram commented on #36874
#please-close

[2019-08-26 10:06] #36874 closed

[2019-08-26 10:06] SumanthMarigowda-MSFT commented on #11134
@menewol Just for clarification have referred to the suggestion mentioned in this links
https://pdfs.semanticscholar.org/8822/66e916ec18ea7022bfa149954a29593f7490.pdf   https://en.wikipedia.org/wiki/Advanced_Encryption_Standard

[2019-08-26 10:09] pvrk commented on #33223
@SwathiDhanwada-MSFT : can you please change the labels to indicate that this is a feature request and not a doc-enhancement request? Please look at my comments above.

[2019-08-26 10:09] cephalin commented on #30447
#reassign:ggailey777 This is Functions specific request.

[2019-08-26 10:10] AjayKumar-MSFT commented on #37754
@olofhellman, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-08-26 10:18] abhix123 commented on #36242
Its as @KrishnaG-MSFT described before. The suggested uri is a fork from the original Azure repo that was used to test a bug fix. We might have inadvertently it with customer for immediate resolution before the change was checked into original one. The current uri in script refers to original repo and shouldn't be changed. @eversonamancio if you have used the forked repo for your webapp, I would s

[2019-08-26 10:19] tesharp opened #37763 "Error in log query"
It seems like the application log entries might have changed format. Case one says it should be:
[code]
but that is not the case. It seems to now be in format:
[code]

Problem is the dot (.) after port.. `TempDetails` assumes there is a blank space after port, but for this message there is a dot. I solved this by adding
[code]

and in the end just replaced
[code]

 with

[code]

Then I got all my

[2019-08-26 10:20] jakaruna-MSFT commented on #37490
@dcbrown16 I just tested it. `Microsoft.Compute/virtualMachines/extensions/write ` this permission alone is sufficient to reset the password of a Vm.
In my testing scenario, i have my extension provisioned already.

1. I am describing the steps which i followed here.
2. created a service principal without any role assignment
3. Created a custom role with only one action (Microsoft.Compute/virtualM

[2019-08-26 10:20] PramodValavala-MSFT commented on #37652
@ahemavathy Thanks for reporting! I too can confirm the error. The root of the problem seems to because of an older API version that isn't support anymore for the [data warehouse resource](https://github.com/Azure/azure-docs-json-samples/blob/master/event-grid/EventHubsDataMigration.json#L116).

We are assigning this issue to the content author for further review.

Also, since the template is in a

[2019-08-26 10:22] jakaruna-MSFT commented on #33497
@iamviaannd Whats the error you are getting

[2019-08-26 10:23] msrini-MSFT commented on #37763
@tesharp , Thank you for your feedback. I have assigned this issue to author to validate and make necessary changes.

[2019-08-26 10:25] ananthradhakrishnan commented on #36242
@KrishnaG-MSFT , I believe we can close the issue now that guidance has been provided?

[2019-08-26 10:26] jakaruna-MSFT commented on #37756
@fangzj1991
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-26 10:29] KrishnaG-MSFT commented on #36242
@ananthradhakrishnan Oh yeah sure! BTW thanks for the response. 👍
@eversonamancio Closing this issue for now. If there are further questions regarding this matter or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-08-26 10:29] #36242 closed

[2019-08-26 10:30] bobbytreed commented on #37703
Thank You! I have updated the doc #please-close

[2019-08-26 10:30] #37703 closed

[2019-08-26 10:31] juyama commented on #37333
Thank you so much for your explanation. There is no concern.

[2019-08-26 10:31] #37333 closed

[2019-08-26 10:38] bobbytreed commented on #37470
I have added this to the backlog and will update the documentation soon.

[2019-08-26 10:39] bobbytreed commented on #37681
I will work on getting this further documented. Thanks

[2019-08-26 10:44] bobbytreed commented on #37341
Thanks, I'll get back to you on this by the end of the week.

[2019-08-26 10:45] bobbytreed commented on #37198
I have added this to the backlog to get this doc'd. Thanks!

[2019-08-26 10:50] rossdempster commented on #37506
I didn't believe you at first, but I just checked the source for the V3 SDK and you're right - the change feed support is gone!

Do you think we could have an update to the following page then?
https://docs.microsoft.com/en-us/azure/cosmos-db/read-change-feed

This clearly lists the SDK as a supported option. Quote:
[code]

**I have spent the last 2 days writing my own change feed processor**. If

[2019-08-26 10:57] shashishailaj commented on #37384
@DeanGross Thank you for waiting on this. I have got some new information from the Azure Sentinel team. they are working on Adding OATP alerts for [Office365 Security and compliance Center](https://docs.microsoft.com/en-us/office/office-365-management-api/office-365-management-activity-api-schema#security-and-compliance-alerts-schema) into Sentinel by late December this year. The other O365 manage

[2019-08-26 10:57] #37384 closed

[2019-08-26 11:02] iamviaannd commented on #33497
I got it .

[2019-08-26 11:03] SadiqhAhmed-MSFT commented on #37722
@yasserhu1972 Currently the ASR support matrix  is only 8 TB, we will increase our support to future sizes in coming milestones (No confirmed ETAS)

[2019-08-26 11:06] thgjayeshpatil commented on #37685
@qianw211, @femsula Do we have any update on this ?
Will the licensing work after creating VM from the powershell script ?

[2019-08-26 11:15] angoyal-msft commented on #37506
@rossdempster Could you please create a new thread for this issue. As the original issue has been resolved and it would be better take this issue separately.

[2019-08-26 11:23] #37722 closed

[2019-08-26 11:30] vnextcoder commented on #37708
hello,

Can these Roles setup be retrieved in **SAML Responses** ? I have configured everything on my side in an Enterprise Application and App Maifest, but my SAML Responses are not containing 'Roles' authnstatement or Assertion for Roles.

my claim setup says

      Role = User.assignedroles

thanks for any help you can .

[2019-08-26 11:31] KetanChawda-MSFT commented on #37748
@olofhellman Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-26 11:42] thgjayeshpatil commented on #37620
@PramodValavala-MSFT Thank You.
Powershell worked for us.
Is their any way we can implement the same via azure terraform ?

[2019-08-26 11:49] soheilade commented on #37692
@jakaruna-MSFT thanks, i needed to create a user. problem solved 👍

[2019-08-26 11:49] #37692 closed

[2019-08-26 11:53] PramodValavala-MSFT commented on #37620
@Jayesh040 Glad we could help! Unfortunately, it looks like the [azurerm provider](https://www.terraform.io/docs/providers/azurerm/index.html) doesn't support `azurerm_api_management_identity_provider` _yet_. Feel free to open a feature request on the [provider repo](https://github.com/terraform-providers/terraform-provider-azurerm) for adding support (or even contribute to it 😄).

Since there is

[2019-08-26 11:53] #37620 closed

[2019-08-26 11:54] manvendrautralia commented on #37588
@RohitMungi-MSFT Thanks for the timely feedback.

[2019-08-26 11:56] JohannBlais opened #37765 "Proxy configuration"
Hello,

Could you please share how to explicitly set a proxy?
We are not receiving any telemetry because we cannot find a way to set the proxy.

Thank you very much in advance

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b88d8c4-0013-70aa-7997-a2203afd9743
* Version Independent ID: 0ab99d5e-4ebd-8cb9-3d27-efe58def24

[2019-08-26 12:02] RohitMungi-MSFT commented on #37715
@gearsmotion789 The command to update the web service after changing the file should be the following:

`Update-AzMlWebService -Name '<web_Service_names>' -ResourceGroupName 'RG_Name' -ServiceUpdates $wsd
`

Since the service update is not used in the current command the web service used the same cached model file. If the updated ilearner file is not available it will throw an error as seen below.

[2019-08-26 12:07] jakaruna-MSFT commented on #37756
@sauryadas i think we can remove the x from the 1,13.x and add 1.13.a
Then the version example will become `1.13.a 1.12.a, 1.12.b, 1.11.a, 1.11.b, 1.10.a, 1.10.b`

I can submit a PR if you agree

[2019-08-26 12:21] AjayKumar-MSFT commented on #37586
@deisterhold, Thanks for the response! Could you please provide more details on your requirement or scenario you’re intending to accomplish? Yes, you can use app roles easily with the baked in Azure AD based Azure App Service Authentication functionality to control access to parts of your application.  You can then leverage ASP.Net functions such as User.IsInRole(“Admin”) and  [Authorize(Roles = "

[2019-08-26 12:25] belgiansre commented on #37407
We found the reason for this difference.

Enqueue Replication Server 1 works differently. When ASCS containing Enq v1 fails, it has to be restarted on the same node as the Enq Repl v1. The reason is, the Enq v1 - on startup - tries to retrieve its lock table from shared memory. This will of course only work when the Enq Repl v1 is running on that host.
On normal started, the colocation constraint

[2019-08-26 12:26] nnamedieh commented on #17764
Hi all,
is auto remediation possible now?
Thanks!

[2019-08-26 12:59] AlexanderTodorovic opened #37766 "luisHelper.js missing"
Dear All the file luisHelper.js is not part of the downloaded code anymore. Could you please be so kind and adjust the documentation to the latest source code. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25843ab0-30bf-a028-92ad-7760d51dac39
* Version Independent ID: 59a25f0a-e69f-034c-0a90-141e64ef45a5
* Con

[2019-08-26 13:06] scautomation commented on #37744
i think you tagged the wrong person. I dont recall being involved in this issue or interested in python azure functions.

[2019-08-26 13:11] softwarecraft opened #37767 "Include mention of Set-AzVMADDomainExtension"
In addition to VPN to VM to add to domain you should mention using the VM extension Set-AzVMADDomainExtension.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 038b3b50-317c-c0c1-cbee-c69f3f828f84
* Version Independent ID: 93810ce3-0817-c221-beb4-35de3f40d43e
* Content: [Join a Windows Server VM to a managed domain](http

[2019-08-26 13:12] softwarecraft opened #37768 "Clean Up: Delete the VM: Does this remove the VM from AAD DS?"
Simply removing the virtual machine resource via the Azure portal does not necessarily remove it from AAD DS. Is a separate step required for this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 038b3b50-317c-c0c1-cbee-c69f3f828f84
* Version Independent ID: 93810ce3-0817-c221-beb4-35de3f40d43e
* Content: [Join a Window

[2019-08-26 13:13] vjraitila opened #37769 "Which authentication method does this connector use?"
There are no OAuth parameters available in the Azure Data Factory Salesforce connector configuration. What authentication method does the connector use in order to access the Salesforce APIs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df56c0c4-ac20-76e5-3f99-7e5ed9c2d726
* Version Independent ID: 8b224227-1cf7-6fa7

[2019-08-26 13:21] RyanHill-MSFT commented on #37601
@tbertenshaw we just wanted to touch base to see if you had any additional questions. Please feel free reach back to us.

[2019-08-26 13:25] winthropgutmann-ef commented on #6226
Any update on this?

[2019-08-26 13:31] normesta commented on #37333
Thanks @fhryo-msft!

[2019-08-26 13:33] SumanthMarigowda-MSFT commented on #36260
@tamram Requesting you to please added your comments

[2019-08-26 13:39] Sas002 commented on #37206
@georgewallace @jakaruna-MSFT We have support case open for it from last week weeks and it has been transfer to Azure monitoring team. I will email you the case number.

[2019-08-26 13:46] test123114 opened #37770 "can not upload output file to azure blob storage with powershell"
[Enter feedback here]
I created an Azure batch task using the AzureRM module. I want to automatically upload the outputfile to azure blob storage after the task runs successfully, but the task runs successfully and the file is not uploaded.

The Script:
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f952e49-4d3f

[2019-08-26 13:47] Djongov opened #37771 "No function is created with this repository"
When i set the deployment source of the function app to https://github.com/Azure-Samples/storage-blob-upload-from-webapp it pulls the files fine (i think) but no function is created in the Function app, therefore the actual image resizing and thumbnailing is not happening.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-08-26 13:52] Sas002 commented on #37206
@jakaruna-MSFT What is your Microsoft email id . I already sent email with all information to George .

[2019-08-26 13:54] tamram commented on #9869
#reassign: @mhopkins-msft

[2019-08-26 13:55] seantleonard commented on #37660
I received feedback internally that the hashing algorithm is SHA256. No updates regarding the key usage config.

[2019-08-26 13:58] sivethe commented on #37761
@rgherta :  The above statement implies that Cosmos DB manages shard creation, placement and balancing automatically so our users do not need to invoke commands like addShard/balancerStart/moveChunk etc.

[2019-08-26 14:03] AshokPeddakotla-MSFT commented on #37759
@mxxmusic Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-26 14:03] linda33wj commented on #31201
Thanks for the feedback! This quickstart has been refreshed to follow the latest UI.
#please-close

[2019-08-26 14:09] ofirmanor opened #37772 "Are there five or six Service Health varieties?"
Quote:
"Service Health events come in five varieties: Action Required, Assisted Recovery, Incident, Maintenance, Information, or Security"
the sentence lists six varieties:
(1) Action Required (2) Assisted Recovery (3) Incident (4) Maintenance (5) Information (6) Security

This sentence also appears here:
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/activity-log-schema

---
#### D

[2019-08-26 14:15] AshokPeddakotla-MSFT commented on #37661
@deepakpalled Can you please confirm on this? Couldn't find more details regarding the limits.

[2019-08-26 14:18] gpj1 commented on #37749
Thank you v.much for quick response. It really helps me to improve my understanding if you can point me to any related documentation which describes scenarios and the recommended connectivity option.

[2019-08-26 14:23] josuvil opened #37774 "Add-RdsAccount missing"
Hello,
It seems you cannot add any app groups unless you first add an RDS account to your PowerShell session by invoking: Add-RdsAccount -DeploymentUrl "https://rdbroker.wvd.microsoft.com" - Just some feedback. Thanks for a great product.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c05d017a-8ce4-d3c2-333c-9f1decbc8e

[2019-08-26 14:26] aleazofeifam opened #37775 "Successfully updated diagnostics for '/providers/microsoft.aadiam' What is it?"
Hi can you please explain what exactly is happening when we click "save"
What does this (below), actually means?
Updating diagnostics
Successfully updated diagnostics for '/providers/microsoft.aadiam'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2064767f-5304-275a-df9b-e74199b53408
* Version Independent ID: 57dcf6b8

[2019-08-26 14:26] jmprieur commented on #34180
Sure @hpsin. Even if we really want to move people to the v2.0 endpoint ...

[2019-08-26 14:27] AshokPeddakotla-MSFT commented on #37546
@jkewley  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-08-26 14:27] #37546 closed

[2019-08-26 14:32] AshokPeddakotla-MSFT commented on #37460
@Nicholas-I Have you had a chance to see the above response?

[2019-08-26 14:46] rgherta opened #37776 "Sample code Compound Indexes"
Please provide sample code for composite indexes, as I tried and currently all composite indexes are transformed into simple indexes, so this is not a choice as this statement leads to believe

"Compound indexes hold references to multiple fields of a document. Logically, they are equivalent to creating multiple individual indexes per field. To take advantage of the optimizations provided by Cosmo

[2019-08-26 14:50] jakaruna-MSFT commented on #37206
@Sas002 No worries. georgewallace has the case id.

[2019-08-26 14:57] StingyJack opened #37777 "What about networking configuration?"
SSL/TLS, etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0871634-2298-89b8-8bd3-b6f0e1585c76
* Version Independent ID: 70c092f0-eafd-c066-763e-12794d3c4010
* Content: [Best practices for Azure Cache for Redis](https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-best-practices)
* Content Source: [art

[2019-08-26 15:04] cephalin commented on #31879
@rafek1241 Unfortunately I still haven't received a response regarding the Free and Shared numbers, so we can't publish the changes yet. But the numbers that @linruhui found for Basic/Standard/Premium/ASE are right.

[2019-08-26 15:30] rgherta commented on #37761
I would appreciate if you added to the documentation that this means no need for shardCollection and addShard and moveChunk etc.  Because someone might understand there is no need to manage shards at all - assumption that is false giving the fact that we need to specify shard keys when creating collections and when making write queries. This is also shard management.

[2019-08-26 15:53] msrini-MSFT commented on #37749
@gpj1 , You can check the below blog for better understanding.

Link: https://azure.microsoft.com/en-us/blog/vnet-peering-and-vpn-gateways/

Let me know if you need any further details.

[2019-08-26 15:53] boillodmanuel commented on #27765
Hello. It deserves to be documented as this option is not mentioned anywhere in official documentation, and as a user I was looking for the description of this option

[2019-08-26 16:09] MarcCharmois opened #37784 "Difference between AzureAD module and AzureADPreview module"
Hi,
thanks for this doc !
However, for more clarity, you should tell people that the PowerShell cmdlets documented in this page belong to the AzureADPreview PowerShell module that is not compatible with the AzureAD PowerShell module.
I posted something on that topic:
https://mosshowto.blogspot.com/2019/08/azure-ad-logs-powershell-azureadpreview.html

---
#### Document Details

⚠ *Do not edit this

[2019-08-26 16:14] MarcCharmois opened #37785 "The UIs are not up to date"
Hi,
thanks for the doc!
However, he UIs described in this page are not up to date.
I posted something with the new UIs:
https://mosshowto.blogspot.com/2019/08/azure-ad-logs-powershell-graph.html
regards,
Marc

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3002a469-b615-6231-9e96-6ce1917d1bbd
* Version Independent ID: f

[2019-08-26 16:26] realbart opened #37786 "Mention KeyVault References"
To me, it would help if pages mentions releated information:
* Can I use the KeyVault Configuration Provider on VMs?
https://docs.microsoft.com/en-us/aspnet/core/security/key-vault-configuration?view=aspnetcore-2.2
* Can I use Key Vault references for App Service and Azure Functions? @Microsoft.KeyVault(foo)
https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references

If no

[2019-08-26 16:27] ScottAzure opened #37787 "Windows Server-based Images supports bitlocker on OS disk"
This looks to be outdated for Windows images

Security	BitLocker Drive Encryption is not supported on the operating system hard disk. BitLocker may be used on data disks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef6d50b3-2bda-bce2-00e2-4d28de6ad313
* Version Independent ID: 30dfe95d-34a4-05d3-0f3e-2960db69aee0
*

[2019-08-26 16:46] simonbMS commented on #37697
Hi Micah, sorry for the late answer. I think the doc should be updated similarly as you explained: possible value 1,2,3 with a default not in that range is counterintuitive. Anyway I tried creating a scale set in west Europe (that supports AZ) and portal displayed Tha t availability zones weren't available. Maybe this is just a portal bug, I didn't tried with an Arm template. Is it right?
Thanks,

[2019-08-26 16:58] TimSBenjamin opened #37791 "We need to define "hint""
In this sentence " Using the join operator, instead of union, may require a hint to run it on an Azure Data Explorer native cluster (and not on the proxy)." hint is not defined and customers don't know what it is

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f6c8fe3-d9a3-f11b-cfe7-f0f67f44b0d5
* Version Independent I

[2019-08-26 17:10] axaeffect opened #37792 "model.json generator"
when create a pipeline for example from Azure SQL DB to ADLS Gen2, is there any tools to generate the JSON file ? model.json

Because when I test to copy one table from that Azure SQL DB to ADLS, the table did move to a csv  file inside the folder of ADLS, but there is no model.json.

Please help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-08-26 17:10] ram-msft commented on #37589
@aahill Could you please help on the resultant key Phrases published on which order?

[2019-08-26 17:22] Johirsch opened #37793 "Headings a bit terse"
CSS had a support ticket where a customer with a serverless database was confused about not seeing app_memory_percent in the Metrics dropdown for his database; it wasn't readily obvious from this document that that metric doesn't apply to serverless.  Having the heading "Microsoft.Sql/Servers/Databases" does specify that the metrics under that heading apply to databases associated with a server, b

[2019-08-26 18:03] karlochacon opened #37795 "Only encrypting OS disk for Windows"
hi

I am running this script from your site but for Windows Server (I was testing windows 2012 R2) only OS disk gets encrypted and Data it won't I tried setting Data after having OS disk encrypted but same issue any idea?

$RGName = "RG"
$VMName = "vm02"
$VaultName= "vaultkey-1111"
$KeyVault = Get-AzKeyVault -VaultName $VaultName -ResourceGroupName $RGName
$DiskEncryptionKeyVaultUrl = $KeyVault.Va

[2019-08-26 18:09] CelesteDG opened #37796 "App registration steps are outdated"
The **App registrations** steps in section https://docs.microsoft.com/en-gb/azure/blockchain/workbench/deploy#azure-ad-configuration are out of date/out of sync with the new UI/UX.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3eb2e7c5-e153-4067-ae8c-45eb64add7da
* Version Independent ID: 3c87633d-44b7-525d-0e29-75f2d

[2019-08-26 18:47] bobby-bt opened #37798 "What prevents a like-named app role from any app registration from any tenant from being authorized?"
I don't understand what ties my API to the app registration. Can't this auth be satisfied by any app registration with a like-named app role?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14524e2e-a5c6-ef53-0643-879b63b6a9f4
* Version Independent ID: 5b3eb1d5-300e-6e03-9e3d-9abd530b7239
* Content: [Protected web API -

[2019-08-26 18:49] CeciAc opened #37799 "Upgrading from V1 to V2: used namespaces should be updated"
@maiorfi commented on [Mon Aug 26 2019](https://github.com/MicrosoftDocs/azure-docs.it-it/issues/389)

Maybe it should be pointed out that, while upgrading from V1 to V2, proxy class namespace must be updated from:

[code]

to

[code]

---
#### Dettagli del documento

⚠ *Non modificare questa sezione. È necessaria per i collegamenti relativi ai problemi tra docs.microsoft.com ➟ GitHub.*

* ID: 890

[2019-08-26 18:57] singhrajgithub commented on #37299
@Alberto-Vega-MSFT,  I have one query mate let's suppose if there are fewer upvotes then it would take more time?

[2019-08-26 19:00] alexernest opened #37800 "Command location doesn't match the stated example"
In step 5 of "Provisioning an instance of DMS using the CLI" it states:

"For example, the following command creates a project using these parameters:
Location: West Central US"

But the command actually sets up the project in EastUS2:
az dms project create -l eastus2...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2

[2019-08-26 19:21] hansmbakker commented on #37527
That’s a pity, but at least it is a clear statement.

Please note that I did not intend to ask for `generateAnswer` in ARM (your statement sounds like you interpreted it that way), I just wanted to do proper key management, and that includes the endpointKeys of the QnA Maker service.

[2019-08-26 19:22] kbroughton opened #37804 "Is there a way to assess use of Azure roles like Owner / Contributor"
Many times an azure subscription will have more than 5 owners, and dozens of contributors. It would be nice if there were a way to review if the role granted was really required. Access Review seems to be only for AD groups. Is there a way besides manually constructing queries in log analytics to determine if a user needs a given role?

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-08-26 19:30] Djongov commented on #37771
Hi, sorry clicked to open this issue from the doc itself

https://docs.microsoft.com/en-us/azure/event-grid/resize-images-on-storage-blob-upload-event?tabs=dotnet#deploy-the-function-code

[2019-08-26 20:08] MS-jgol commented on #37662
Thank you @Lauryn<mailto:Lauryn.Gayhardt@microsoft.com>

From: Lauryn Gayhardt <notifications@github.com>
Sent: Monday, August 26, 2019 12:34 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Julia Goloshubina <Julia.Goloshubina@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] config example sets "autoFlush" true, which will break inter

[2019-08-26 20:44] kabatmartin123 commented on #37657
@RohitMungi-MSFT I have issue in Azure as the qnamaker displays all prompts as it should, but the webchat (through any channel) doesnt display them. When we were setting up project I was told by MS that I can use qnamaker to set up basic bot without any additional code (as we have very narrow deadline).

[2019-08-26 21:03] webtop opened #37810 "Terrible, half-baked tutorial"
I've followed a ton of coding tutorials for .NET, and have never had any issues until now. This tutorial is impossible to follow verbatim, as a tutorial should be. There should be no guesswork to it.

Example: "Insert the following method in the MainWindow class, below the FacePhoto_MouseMove method."
The FacePhoto_MouseMove method hasn't been defined yet at this point in the tutorial.

Additional

[2019-08-26 21:09] Jez85 opened #37811 "Commands in the tutorial not recognized"
Hi, I'm getting the following error:

Disable-AzureRmContextAutosave : The term 'Disable-AzureRmContextAutosave' is not recognized as the name of a cmdlet,
function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the
path is correct and try again.
At line:2 char:1
+ Disable-AzureRmContextAutosave –Scope Process
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2019-08-26 21:10] gpduck opened #37812 "C# Example unclear"
In the "Here is a precompiled C# example of how to write a function..." example, I'm not clear based on the wording if the OrchestrationClient attribute with the explicit TaskHub value is required when the name is set in the host.json + app settings, or if this example is how to configure a specific function to override the application level task hub.

---
#### Document Details

⚠ *Do not edit thi

[2019-08-26 21:59] montydrei opened #37817 "Maximum machines per migration"
Nowhere in this document indicates that the maximum number of machines per migration is 10. Also, why is the maximum number so low anyway?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62967601-8035-87b6-afb6-3b8b371f68b2
* Version Independent ID: ad05dc9f-328a-f3b5-1b5b-25edf969a2e4
* Content: [Migrate on-premises VM

[2019-08-26 22:53] daniellittledev commented on #16003
I don't think this issue should be closed. The documentation has not been updated and the work around of setting the `Error document path` is not ideal because every page will return a `404` status code.

A SPA hosting option is a key features, which services like Netlify and Zeit support by default. It really needs to be at the very least mentioned in the docs.

[2019-08-26 23:43] ms-dapaje opened #37818 "Cannot add aks-preview extension (checksum mismatch)"
when I run `az extension add --name aks-preview --debug`, I get the following error:

Command arguments: ['extension', 'add', '--name', 'aks-preview', '--debug']
Event: Cli.PreExecute []
Event: CommandParser.OnGlobalArgumentsCreate [&lt;function CLILogging.on_global_arguments at 0x1084ce7a0&gt;, &lt;function OutputProducer.on_global_arguments at 0x10859b5f0&gt;, &lt;function CLIQuery.on_global_arg

[2019-08-26 23:53] PaulTown opened #37819 "Documentation is missing the NPS configuration Info"
The docs here on this page https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-nps-extension for using the NPS extension for Azure MFA is missing the actual NPC configuration.  Many people trying to configure this Extension for using Azure MFA do not know NPS and do not know how the NPS policy should be configured or the Radius client entry should be configured in the

[2019-08-27 00:10] dcbrown16 opened #37820 "Clarify licensing"
Are custom RHEL images automatically treated as Red Hat Cloud Access (BYOS/BYOL), or is there a way to create an On Demand (PAYG) custom image?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48bab424-986d-9922-ec2d-942508081367
* Version Independent ID: 6e9b3ebd-0571-357e-0fde-ef434a728a24
* Content: [Create and upload

[2019-08-27 00:40] dancs85 commented on #36785
I can confirm that PIM has nothing to do with it. I have a new user with only the aforementioned Blueprint permissions and they cannot import a new Blueprint (using PowerShell)

[2019-08-27 00:49] grillba opened #37822 "Option to disable TLS 1.2"
Can you add documentation as to how to disable TLS 1.2 as implemented at the following page? https://feedback.azure.com/forums/169385-web-apps/suggestions/18979168-in-ase-disable-tls-1-1

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a33935ea-4a40-ce49-e722-72fed9379da7
* Version Independent ID: 72f8ba14-f0b5-4

[2019-08-27 00:59] SeaDude opened #37824 "Different schemas returned from same query type"
## RE: Creating an issue

There is no feedback button on the Azure Maps Doc page here: https://docs.microsoft.com/en-us/rest/api/maps/search/getsearchaddressreverse

## Issue:

Providing this REST endpoint (https://atlas.microsoft.com/search/address/reverse/json?api-version=1.0) different lat/long pairs results in two different schemas.

## Questions:

1. Is this expected behavior?
2. How can I pr

[2019-08-27 01:14] dancs85 commented on #36785
Further investigation has revealed that my custom role had a parent as it's assignable scope, and myself and users were assigned the "Blueprint Administrator" role at a child Management Group. This looks fine but it doesn't actually give you the permissions. I added the child management group to the assignable scopes for the role and was able to import.

Now we are unable to select that child mana

[2019-08-27 01:20] kumarallamraju opened #37826 "az extension add --name aks-preview fails with checksum error"
[Enter feedback here]

Tried this on Cloud Shell. I got this error.

kumar@Azure:~$ az extension add --name aks-preview
The checksum of the extension does not match the expected value. Use --debug for more information.

Tried with --debug option

Downloaded to /tmp/tmpl17r6sx9/aks_preview-0.4.10-py2.py3-none-any.whl
Validating the extension /tmp/tmpl17r6sx9/aks_preview-0.4.10-py2.py3-none-any.whl

[2019-08-27 01:28] rizwaans opened #37827 "How to Put back the message on to the Service Bus (Topic) and receive it at later point."
Hi,
I am trying to implement the below scenario in the Azure Functions (v2). Can someone please help me implement this.

1. Service Bus trigger azure function ( receiving the message in string format, not brokered message)
2. Need to put back the message when some X functionality is still pending
3. Receive this message with out having to explicitly call the message.receive method from teh functio

[2019-08-27 01:29] jackchenquest opened #37828 "What's the benefit to use this integration?"
[Enter feedback here]

I mean Atlassian already provided a built-in SAML integration, and it can work with Azure AD.

The difference seems to be if I use Atlassian SAML addon, I need to create a AAD AAD application "I am developing"; On the other hand, I can use this AAD Gallary application directly, but need to manually install the Microsoft built Jira Addon.

Are there any other benefit to use t

[2019-08-27 01:38] eyast opened #37829 "typo in multi value traffic routing method"
I believe there could be a typo, in the sentence "This enables to caller to do client-side retries with other endpoints [...]"
Where the intent might have been to say "This enables THE caller to do [...]"
Apologies if I'm mistaken.
Thanks, Eyas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fec705c3-1ca3-f5e7-d5ff-3e2b

[2019-08-27 01:49] dasiths opened #37830 "Blocking on async code"
Context: The part where the access token is retrieved.

Consider a factory method for the constructing the dbcontext.
Reference: https://github.com/davidfowl/AspNetCoreDiagnosticScenarios/blob/master/AsyncGuidance.md#constructors

If you absolutely need it to be blocking, consider

[code]

Reference: https://blog.stephencleary.com/2017/03/aspnetcore-synchronization-context.html
Part: You Don’t Nee

[2019-08-27 02:33] DixitArora-MSFT commented on #37812
Hi @gpduck Thank you for your feedback! We will review and update as appropriate.

[2019-08-27 02:44] ahanaseem-gitid commented on #37672
Thanks for the prompt update.

I had modified the below  template and parameter file as suggested("replace the 'replace-with-subscription-id' with the correct subscription id everywhere in the template and parameters files") to make them a valid inputs for the template deployment.

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-monitor/platform/alerts-metric-create-template

[2019-08-27 02:52] ahanaseem-gitid commented on #37672
[actiongroups-template.txt](https://github.com/MicrosoftDocs/azure-docs/files/3544050/actiongroups-template.txt)
[actiongroups.parameters.txt](https://github.com/MicrosoftDocs/azure-docs/files/3544052/actiongroups.parameters.txt)

[2019-08-27 03:04] ahanaseem-gitid commented on #37672
one after thought :

why is the template validation missing to figure out   simple parameter files syntax mistakes "replace the 'replace-with-subscription-id' with the correct subscription id" error situations ?

[2019-08-27 03:10] SubhashVasarapu-MSFT commented on #37583
@dcbrown16, we are assigning this issue to the content author for updating the document accordingly. @asudbring, Could you please provide your insights on this?

[2019-08-27 03:14] juyama commented on #37612
@MicahMcKittrick-MSFT, @mlearned The announcement is deleted. Anything wrong?
https://azure.microsoft.com/en-us/updates/egress-lockdown-in-azure-kubernetes-service-aks-is-now-generally-available/

[2019-08-27 03:34] SnehaAgrawal-MSFT commented on #37822
@grillba Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-27 04:08] kishan19 opened #37832 "Is there a way to change OS on a AML compute to Windows."
Is there a way to provision a compute target which runs windows OS? I need to run some libraries like openCV on python which work well on a Windows machine, not on Ubuntu Linux. Am trying to use OpenCV video capture to chunk video files in blob as image files, and need help performing it on a VM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2019-08-27 04:10] ram-msft commented on #37832
@kishan19 Thanks for the question! We're investigating this and will get back to you shortly.

[2019-08-27 04:20] ManojReddy-MSFT commented on #37798
@bobby-bt I am closing this ticket as per your request. Feel free to tag me to continue this conversation.

[2019-08-27 04:20] #37798 closed

[2019-08-27 04:21] kumarallamraju opened #37833 "Cookbooks >> Reference Architectures gets me 404 error"
[Enter feedback here]

When I select Cookbooks >> Reference Architectures, I get
404-Page not found

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c13f5f59-c119-40e6-1396-d6e65b737693
* Version Independent ID: eb8a9ad0-44fc-6e06-adb0-29df32aee19a
* Content: [Create a Java web app on Linux - Azure App Service](https://d

[2019-08-27 04:22] jakaruna-MSFT commented on #37593
@oanapl please take care of this issue

[2019-08-27 04:24] ananthradhakrishnan commented on #37404
@SadiqhAhmed-MSFT - Doc has been updated based on feedback.

[2019-08-27 04:24] ananthradhakrishnan commented on #37399
@KrishnaG-MSFT  - Doc has been updated based on feedback.

[2019-08-27 04:24] ananthradhakrishnan commented on #35819
@SadiqhAhmed-MSFT  - Doc has been updated based on feedback.

[2019-08-27 04:26] KetanChawda-MSFT commented on #37717
@spelluru Any thoughts here?

[2019-08-27 04:27] BhargaviAnnadevara-MSFT commented on #37662
@cijothomas @lgayhardt Thank you!

@ChadNedzlek Thanks again for bringing this to our attention! We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-08-27 04:27] #37662 closed

[2019-08-27 04:28] KetanChawda-MSFT commented on #37744
@scottmckenzie  [This](https://docs.microsoft.com/en-us/azure/azure-functions/functions-how-to-azure-devops#deploy-your-app) part of the document covers the deployment of the Function App depending on the hosting OS.

https://docs.microsoft.com/en-us/azure/azure-functions/functions-how-to-azure-devops#deploy-your-app-1

[2019-08-27 04:30] msrini-MSFT commented on #37829
@eyast , Thank you for your feedback. I did a PR to fix the typo.

PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/86629

The changes will be reflected shortly.

[2019-08-27 04:35] #37829 closed

[2019-08-27 04:35] RohitMungi-MSFT commented on #37657
@kabatmartin123 Could you please submit a feedback request to the team from the QnAMaker portal with the details of your issue? Please include the steps followed to ensure the team can use the same to replicate the issue.

As this forum is used for document bugs it would be great if you can post the issue through feedback to get help from the product team or through a support channel from Azure po

[2019-08-27 04:36] msrini-MSFT commented on #37749
@gpj1 , I will go ahead and close this issue. Please tag me if you have any further questions.

[2019-08-27 04:36] #37749 closed

[2019-08-27 04:39] RohitMungi-MSFT commented on #37715
@gearsmotion789 This is because the model file is cached and ServiceUpdates option was not used in your update command. Please try to use this option after updating the file and importing the new configuration, this should update the web service correctly as there is a change in configuration as passed in the serviceupdates option.

[2019-08-27 04:48] neeleshray-msft commented on #37804
@kbroughton Thank you for your query. We will check it with the engineering internally and let you know accordingly.

[2019-08-27 04:48] jakaruna-MSFT commented on #37826
@kumarallamraju
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-27 04:48] jakaruna-MSFT commented on #37826
#37818 similar issue

[2019-08-27 04:48] KrishnaG-MSFT commented on #37666
Hi @omerzubair You will not be able to delete global modules - modules that Automation provides out of the box. Same note is added in the document now and the change will reflect soon.

Easiest way to find which all modules in your Automation account are global is by using PowerShell cmdlet [Get-AzAutomationModule](https://docs.microsoft.com/en-us/powershell/module/az.automation/get-azautomationmo

[2019-08-27 04:49] rlauriston commented on #37263
Still researching issues on our side.

On Mon, Aug 26, 2019, 9:33 PM Sneha Gunda <notifications@github.com> wrote:

[2019-08-27 04:49] jakaruna-MSFT commented on #37818
@ms-dapaje
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-27 04:56] jakaruna-MSFT commented on #37826
@kumarallamraju I am unable to reproduce your issue. i tried in my cloud shell and it updated my aks-preview version. Cli version  is 2.0.71
In my laptop i had Cli with version 2.0.71. i dont have aks-preview installed. When i gave the command it worked well.

Can you give the command `az extension list` and check if you have aks-preview installed or not.
If installed please try to update the exte

[2019-08-27 04:56] KetanChawda-MSFT commented on #37827
@rizwaans Thank you for your question! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

If the issue is not related directly to the doc, I would recommend you to create a thread on the forums- [MSDN](https://so

[2019-08-27 04:56] jakaruna-MSFT commented on #37818
@ms-dapaje  I am unable to reproduce your issue. i tried in my cloud shell and it updated my aks-preview version. Cli version is 2.0.71
In my laptop i had Cli with version 2.0.71. i dont have aks-preview installed. When i gave the command it worked well.

Can you give the command az extension list and check if you have aks-preview installed or not.
If installed please try to update the extension w

[2019-08-27 04:57] AshokPeddakotla-MSFT commented on #37759
@mxxmusic We hope your query is addressed. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-27 04:57] #37759 closed

[2019-08-27 04:57] jakaruna-MSFT commented on #37818
@ms-dapaje If the extension is available, please remove the extension and try adding again

[2019-08-27 04:59] jakaruna-MSFT commented on #37820
@dcbrown16
Thanks for the question! We are investigating and will update you shortly.

[2019-08-27 04:59] jakaruna-MSFT commented on #37820
@szarkos please add your comments

[2019-08-27 05:04] KetanChawda-MSFT commented on #37824
@SeaDude Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums- [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azurelbs). Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

This channel is for driving improvements towards MS Docs, Since

[2019-08-27 05:04] #37824 closed

[2019-08-27 05:06] SadiqhAhmed-MSFT commented on #35819
@slavizh Thanks once again for sharing your valuable feedback on doc enhancement. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-27 05:06] #35819 closed

[2019-08-27 05:06] SadiqhAhmed-MSFT commented on #37404
@slavizh Thanks once again for sharing your valuable feedback on doc enhancement. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-27 05:06] #37404 closed

[2019-08-27 05:06] AshokPeddakotla-MSFT commented on #37721
@JimacoMS3 Issue appears to be not resolved. Can you take a look and provide your suggestions?

[2019-08-27 05:09] AjayKumar-MSFT commented on #37586
@deisterhold, We will close this out, but if you feel you need more information please just let us know.

[2019-08-27 05:09] #37586 closed

[2019-08-27 05:13] KrishnaG-MSFT commented on #37666
@omerzubair Verified that the document is updated with the changes. Closing this issue for now. If there are further questions regarding this matter or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-08-27 05:13] #37666 closed

[2019-08-27 05:13] RohitMungi-MSFT commented on #37726
@JoanaRO The most likely reason that you are unable to access your DSVM from the browser could be due to the rules in your NSG and there could be a firewall that could be blocking access for the same. Could you please review the rules and check if the firewall rules allow access to the DSVM IP?

Here is a snapshot of the rules configured for my DSVM and the page loads successfully after creating t

[2019-08-27 05:20] dnyaneshlb commented on #32609
Thanks for the reply. Although its too late to pull this thread back, let me give it a try  as I am still wondering how can I do this.
It would be great if you could share some code samples preferably in java which outlines reading already processed events from event hub (within retention period).

[2019-08-27 05:30] andod410 commented on #27745
Im new to Azure and Windows Virtual Desktop, but Im having the problem described above and I cant figure out how to solve it, english is my second languare so maybee Im missing something. The errorcode I get it.

And then my domain.

[2019-08-27 05:32] SnehaAgrawal-MSFT commented on #37833
@kumarallamraju Thanks for the feedback!  I have created pull request it will be visible in some time.

[2019-08-27 05:41] AshokPeddakotla-MSFT commented on #17525
@djpmsft Please have a look at this issue and provide your insights.

[2019-08-27 05:42] AshokPeddakotla-MSFT commented on #17779
@djpmsft Please have a look at this issue and provide your insights.

[2019-08-27 05:44] v-etzha opened #37834 "Is there a way to get the static website URL by Node.js?"
I'd like to get the website URL by Node.js, is there a way to get it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d693507-4b62-07d9-a708-d26d62d990ac
* Version Independent ID: 6c7f4c32-69da-3929-dbf2-1591d667f979
* Content: [Host a static website in Azure Storage](https://docs.microsoft.com/en-us/azure/storage/blob

[2019-08-27 05:56] olofhellman opened #37835 ""Set up Visual Studio" section is platform specific"
The instructions here seem to be specific to Visual Studio for windows, but the article doesn't specify that Windows is required.  Perhaps it would be good to have instructions for Visual Studio for Mac?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31b0d33c-f88e-d50c-2926-7933940f3b92
* Version Independent ID: 4aaef9

[2019-08-27 05:57] AshokPeddakotla-MSFT commented on #37720
@whaakman Thanks for the feedback. It is mentioned in the VS code and also in the [description page](https://marketplace.visualstudio.com/items?itemName=vsciot-vscode.vscode-arduino).

![image](https://user-images.githubusercontent.com/44426435/63744315-a3431480-c8bc-11e9-818f-a58c64d030da.png)

We will address this and update the doc as appropriate.

We will now proceed to close this thread. If t

[2019-08-27 05:57] #37720 closed

[2019-08-27 06:11] ChiragMishra-MSFT commented on #37690
@normesta Can you please take a look at this ?

[2019-08-27 06:12] davidzhaoyue commented on #37769
@vjraitila, ADF Salesforce connector internally follows [this](https://developer.salesforce.com/docs/atlas.en-us.api_asynch.meta/api_asynch/asynch_api_quickstart_login.htm) Salesforce document to do the authentication.

[2019-08-27 06:17] shashishailaj commented on #37828
@jackchenquest Thank you for your query. We will investigate and update the thread.

[2019-08-27 06:22] PramodValavala-MSFT commented on #37713
@Infinitism The state here is for a "Message Session" and not really for a single message which is essentially available to the consumers to know the last state before the crash of previous consumer if any.

If you are looking for the live status of a task processing a message, you should have that as a separate component in your design I believe. Something like a CosmosDB (or any store really lik

[2019-08-27 06:23] PramodValavala-MSFT commented on #37687
@nezoic Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-27 06:23] #37687 closed

[2019-08-27 06:26] KetanChawda-MSFT commented on #37800
@alexernest Thank you for your feedback! We will review and provide an update as appropriate.

[2019-08-27 06:30] DixitArora-MSFT commented on #37680
@MaxHogervorst Agree but it might be possible that some body still got an older version of durable-functions (< 1.1.2) installed. This warning note will be helpful in that case. We will definitely review this in coming months but at present I believe there is no change required in the doc. So for now I will proceed to close this thread. If there are further questions regarding this matter, please

[2019-08-27 06:30] #37680 closed

[2019-08-27 06:38] hbulens commented on #21514
All links to the samples are broken again. Seems the repos have been removed?

[2019-08-27 06:39] DixitArora-MSFT commented on #37730
@clineer Just checking if you have gone through [this doc](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-enterprise-integration-edifact#schemas) and see if it helps.

[2019-08-27 06:42] gearsmotion789 opened #37836 "Get web service url and key programmatically"
I've been following the portal method of retrieving a machine learning web service url and key through the portal, according to https://docs.microsoft.com/en-us/azure/machine-learning/studio/consume-web-services. However, I want to know if there was a way to do this programmatically like HTTTP requests or Powershell commands?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-08-27 07:09] vionemc commented on #37731
How about handling the raw image directly? I can give you the file type

[2019-08-27 07:14] MarcCharmois commented on #37785
Hi @FrankHu-MSFT,
thank you for your appreciation! Great to read! Happy if it could help :-)
Marc

[2019-08-27 07:17] SnehaAgrawal-MSFT commented on #37835
@olofhellman Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-27 07:20] myfacilitygithub commented on #37544
@Alberto-Vega-MSFT thanks I open an issue.

[2019-08-27 07:29] AjayKumar-MSFT commented on #37830
@dasiths, Thanks for sharing the context and samples on blocking async code scenario, much appreciated! The tutorial aims to provide **key concepts and instructions** on how to add manged identity to the sample web app, grant SQL database access to the managed identity, configure Entity Framework to use Azure AD authentication with SQL Database, connect to SQL Database from Visual Studio using Azu

[2019-08-27 07:32] juyama commented on #37679
@sumanthmarigowda-msft Thanks for your information. It's very helpful for us. Many Thanks.

[2019-08-27 07:32] #37679 closed

[2019-08-27 07:33] dasiths commented on #37830
That's all good but at least put some notes (with a link to @davidfowl 's guidance) there to tread carefully as many people just copy paste your example.

[2019-08-27 07:35] AjayKumar-MSFT commented on #37830
@dasiths, Thanks for the response. Your feedback has been shared with the content owner (@cephalin) for further review as well.

[2019-08-27 07:44] klawrawkz opened #37838 "So Many Errors; So Little Time."
Hi the documentation here seems to be riddled with errors in that many of the helm commands do not work.

First off there is insufficient specificity regarding which "charts" directory is going to be operated upon.  When we run the helm commands, do they update contents of all the "charts" directories in the sample app?  E.G. what is the reader expected to do in order to follow this instruction fr

[2019-08-27 07:45] GriffReborn opened #37839 "Mistake - Configure Azure AD SSO Step 7e"
This line is incorrect

"e. From the Source attribute list, type the attribute value shown for that row."

If you type the attribute, it will automatically add quote marks to the value.  This will cause the SAML to fail.

You MUST select the correct value from the drop down menu, you can not type it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-08-27 07:46] SnehaAgrawal-MSFT commented on #37755
@olofhellman Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-08-27 07:46] MarcCharmois commented on #37784
Hi @FrankHu-MSFT,
thank you for your quick answer! No more question for me about this topic, happy if it could help,
:-)
Marc

[2019-08-27 07:52] SnehaAgrawal-MSFT commented on #37822
@grillba Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-08-27 07:55] Mdukes00 opened #37840 "Leaf device messages not being routed correctly"
I have followed [this tutorial](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-deploy-function). My azure function hosted on my windows VM works with the module simulatedtempsensor module. I can choose to only send messages forward if they are over a certain temperature.

Although, when I doing this from my leaf device, the message does not go though the function even though i have all m

[2019-08-27 08:06] vjraitila commented on #37769
This answers my question - thanks. I think this is called "session-based authentication" and according to my understanding is considered legacy by Salesforce. All the recent guidance points to using OAuth instead which might confuse system integrators. Regardless, this issue is resolved.

[2019-08-27 08:22] digitalrg opened #37841 "Need improvement in the documentation"
Team,

I had raised case 119080524000758 on the same and have managed to implement with some amount of research. Only suggestion is to have documentation linked properly in order for anyone to save time. Here are some points :
In the main document https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/aws-multi-accounts-tutorial lacks below details (which I have covered in the document

[2019-08-27 08:22] ManojReddy-MSFT commented on #37839
@GriffReborn Thanks for reporting this. I have updated the doc and it will be merged shortly.

[2019-08-27 08:33] angoyal-msft commented on #37728
@artisticcheese I have assigned this issue to the content author for updating the document appropriately.
@johnpaulkee Could you please look at this issue and update the document appropriately.

[2019-08-27 08:34] robinho81 opened #37842 "Pods on Virtual Node cannot access services on the cluster"
I followed the tutorial to get up and running with Virtual Node on my AKS Kubernetes cluster.

Everything works, but when I deploy pods to the Virtual Node they cannot access other services running on my Kubernetes cluster.

For example, I have a Jaeger service running in order to record tracing. This is not accessible from the pods running on the Virtual Node. (Have tried using dns and ip address

[2019-08-27 08:35] KetanChawda-MSFT commented on #37836
@gearsmotion789 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-08-27 08:38] KetanChawda-MSFT commented on #37840
@Mdukes00 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-08-27 08:40] Roywizeman opened #37843 "Wondering if this can help with B2B (Azure AD guest)"
Hello, i have a scenario that i need to give RDP on VM's in my environment to external users (Azure AD guests). but to open RDP with public IP can be really not secure, and to do VPN/Point2Site/Site2Site, can complicate the solution.  do you think this solution "Publish Remote Desktop with Azure AD " can assist in my requirement?

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2019-08-27 08:54] ishepherd opened #37844 "Unclear re 'Private site access' on Consumption plan"
The [Matrix of networking features](https://docs.microsoft.com/en-us/azure/azure-functions/functions-networking-options#matrix-of-networking-features) shows that Private site access is supported on Consumption plan (top left)

The section [Private site access](https://docs.microsoft.com/en-us/azure/azure-functions/functions-networking-options#private-site-access) seems to imply that Consumption pl

[2019-08-27 08:55] #37839 closed

[2019-08-27 08:56] AshokPeddakotla-MSFT commented on #37739
@cbeech1980 Thanks for reporting this issue. A [PR](https://github.com/Azure-Samples/iot-hub-node-raspberrypi-client-app/pull/26) has already been created to address this issue. changes will go live once it has been approved and merged.

[2019-08-27 08:58] ManojReddy-MSFT commented on #37841
@digitalrg Thanks for providing the detailed feedback. I have assigned this to the author to validate and update the doc accordingly.

[2019-08-27 09:05] jakaruna-MSFT commented on #37842
@robinho81
Thanks for the question! We are investigating and will update you shortly.

[2019-08-27 09:12] n-a-sz commented on #34940
Hi @Blackmist This looks cool, thanks for updating me on this!

[2019-08-27 09:21] jakaruna-MSFT commented on #37842
similar issue  #MicrosoftDocs/azure-docs#18412

[2019-08-27 09:24] PramodValavala-MSFT commented on #37844
@ishepherd Thanks for the feedback! We will review and update accordingly.

[2019-08-27 09:36] PramodValavala-MSFT commented on #37735
@DEV3L Just following up here... Could you share more details on the error that you are seeing while creating topics?

[2019-08-27 09:47] jakaruna-MSFT commented on #37842
@jluk I think Virtual kubelet pods(ACI) will be able to access the kubernetes internal services only when AKS(CNI plugin) and ACI are deployed on Vnets. In that case also kuberetes internal services still hale cluster only ip addresses only.

If AKS is deployed on Vnet with kubenet networking plugin, Will ACI on Vnet have access to AKS internal services?

Please let us know

[2019-08-27 09:48] BhupalPatil opened #37845 "C Language Sample"
Do we have sample documentation and code in c language to register device (via Device prov service (x509 certificate)) and send json message and upload files?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbaf3777-34b8-b195-691f-2853c9cbe04a
* Version Independent ID: 3b0a4384-e495-16db-1c36-dca0a9f95179
* Content: [Un

[2019-08-27 10:13] alfredorevilla opened #37846 "No AADB2C.UserMigration project or solution."
Both AADB2C.UserMigration.sln and AADB2C.UserMigration are mentioned in the documentation as part of the https://github.com/azure-ad-b2c/user-migration repo however none are found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3efb0913-3c25-caf7-306b-c1ddd78439fe
* Version Independent ID: b262e742-c371-ffb9-108b-67f2f

[2019-08-27 10:19] AmanGarg-MSFT commented on #37838
@klawrawkz The document talks about the chart folder under dev-spaces/samples/BikeSharingApp.

You can find below in the document:

Then you need to cd into charts

You can find the complete list of steps to be followed below:

[code]
Hope this helps!

[2019-08-27 10:26] SumanthMarigowda-MSFT commented on #37834
@v-etzha Thanks for your question. We are checking on this and will respond to you soon.

[2019-08-27 10:32] saikumaru opened #37847 "Error "unauthorized_client" when using Microsoft as authentication provider"
I am setting up my app and AD as per the steps provided, but when the web app link is entered I get the below error on the browser, instead of taking me to the Login screen.

`We're unable to complete your request
unauthorized_client: The client does not exist or is not enabled for consumers. If you are the application developer, configure a new application through the App Registrations in the Azu

[2019-08-27 10:33] ManojReddy-MSFT commented on #37846
@alfredorevilla I can see it under user-migration-master\jit-migration-v1\source-code folder. Can you check under this?

[2019-08-27 11:14] aosyatnik commented on #36111
Hi, @Alberto-Vega-MSFT , I'm back from my long vacation. I was trying to load spatial anchors for hololens. In the end, it kind of worked :) I assume I was facing the issue, that anchor created from a mobile device wasn't loaded in the hololens device (in the right place). Well, in any case, it's another issue. I'm closing this one since it has nothing with the tutorial mentioned above.

[2019-08-27 11:14] #36111 closed

[2019-08-27 11:31] AshokPeddakotla-MSFT commented on #37845
@BhupalPatil Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-27 11:46] marinnedea commented on #36614
I see a mention of "ping" in the error message ... by default ICMP is blocked in Azure, therefore the ping will fail.. as far I'm aware. There a request for it on https://feedback.azure.com/forums/217313-networking-dns-traffic-manager-vpn-vnet/suggestions/3346609-icmp-support-for-azure-websites-roles-cloud-serv?page=3&per_page=20 ..
I might be wrong though... but most likely the installation scrip

[2019-08-27 11:47] jakaruna-MSFT commented on #37490
@dcbrown16 I didnt try with portal yet

[2019-08-27 11:53] nyuen opened #37849 "Review the bash scripts"
the bash syntax seems incorrect, variable definitions should not be prefixed with $, the line carriage return should use \ instead of `

The naming convention between scripts should be reviewed : e.g rgname vs rgName

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 076b7e0e-8ca2-53fa-51f1-f1027f1d2da8
* Version Independe

[2019-08-27 11:54] jakaruna-MSFT commented on #37569
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-08-27 11:54] #37569 closed

[2019-08-27 11:55] jakaruna-MSFT commented on #37723
@mulawam is there any update

[2019-08-27 11:59] umeshbarapatre commented on #37742
Sure I will add details around the parameters used. Just to be clear, the request is to add the parameters value as in the postman image or do you need more representation like textual details around it

[2019-08-27 12:12] sunilkcs opened #37850 "Applications not working on AKS cluster."
The application deployment is failing on latest AKS cluster nodes. Looks like it is the problem with latest docker on centos.  Have seen several bug tickets been raised on various communities.  The question is , How can i change the default image of AKS cluster from centos to Ubuntu in ansible playbook ? Is there any such option ? CentOS kernel has several issues with docker. Kindly help.

A sampl

[2019-08-27 12:39] KatiukOleg opened #37851 "Could you please specify next example "Import from bacpac file located in Azure Blob Storage"."
When I tried 'sqlpackage /a:import' command and specified  URL of bacpaqc file like '/sf:https://somepath.bacpac' I got an error "The given path's format is not supported". Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65a16702-87ad-4801-5171-f5e629661cb4
* Version Independent ID: bdd076dd-9b65-4054-b7f8-16e12

[2019-08-27 12:46] durtal opened #37852 "doesBlobExist"
Hi,
I'm looking for a way to quickly establish whether or not a blob exists using Node (@azure/storage-blob, v10.4.0), is there a simple method for doing this.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dae2738c-ba71-e828-ce61-7d6ae66b06aa
* Version Independent ID: ace95080-b838-40e3-2fcd-fce8da08e9de
* Cont

[2019-08-27 12:50] jakaruna-MSFT commented on #37490
@dcbrown16 I tried with portal.
While resetting the password with portal, It makes an api all to list and read the resource group and then it submits the form to the user to fill.
When we click on submit, Then it submits a deployment to reset the password.
Then it tracks the deployment and updates the status back to us.
So the user should have permissions to do all these.

I tried with the below p

[2019-08-27 12:52] bowlerma opened #37853 "SSH must be configured to listen on SSH_PORT when using regional VNet integration"
Documentation should be updated to reflect that the SSH daemon must be configured to listen on the port number specified by the SSH_PORT environment variable when using regional VNet integration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6489b871-9cf8-7c99-9834-076ec646d0e6
* Version Independent ID: fa5d2995-5833-

[2019-08-27 12:54] test123114 opened #37854 "cannot deploy jobshedule with ARM template"
[Enter feedback here]
I have created a CD pipeline in Azure DevOps that will deploy an Azure Automation account and a runbook , shedule , jobshedule through ARM templates.

All working fine except when rerunning the template. The problem right now is the following: Whenever I rerun the template with a new release pipeline, I receive following error

` A job schedule for the specified runbook and s

[2019-08-27 12:55] bowlerma opened #37855 "SSH should be configured to listen on SSH_PORT for container web apps."
The section on web app for containers should be updated to reflect that if SSH is being used, the SSH daemon must be configured to listen on the port number specified by the SSH_PORT environment variable when using regional VNet integration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a98803-1438-b1b5-f543-7dd88bc

[2019-08-27 12:57] tdihp opened #37856 ".onmicrosoft.com explained"
Not sure why the .onmicrosoft.com user is required, is it mandatory or optional? What's the purpose and need for this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a75ea4cd-7173-91e7-dbb6-f526337054b2
* Version Independent ID: f44e7584-d625-9839-c9ec-e96b3d81ee2f
* Content: [Azure Active Directory integration for Azu

[2019-08-27 13:07] sunilkcs commented on #33387
Yes. the automated Ansible plays also failing because of this kubernetes version issue. Today it failed again for second time saying the version not found. I had to change the version again from the list it shown.

[2019-08-27 13:10] KrishnaG-MSFT commented on #37854
@test123114 Related feature request from UserVoice / feedback forum is [here](https://feedback.azure.com/forums/246290-automation/suggestions/33065122-redeploying-jobschedule-resource-from-arm-template) that's currently in triaged state.

@bobbytreed Do you have any better / latest update(s) regarding this ?

[2019-08-27 13:14] KrishnaG-MSFT commented on #37850
@sunilkcs Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-08-27 13:24] xenalite commented on #37456
@MicahMcKittrick-MSFT This document is lacking explanation on how to set up Azure Firewall to lock down egress and configure ingress to the cluster. It has a list of rules to put in, but lacks any images or template / commands on how to specifically configure a sample Azure Firewall to use these rules.

What I think the OP is asking for is also how to set up Azure Firewall to allow traffic into th

[2019-08-27 13:26] javaadpatel opened #37857 "What version of graphSON does cosmosdb support? and does the emulator also support this same version?"
Is possible to add this to the docs as it isn't clear what version of graphSON is supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0374b015-1139-9df8-6c96-a8657a088748
* Version Independent ID: 2e18d44d-de3c-eee5-7932-0a5a967e9b17
* Content: [Azure Cosmos DB Gremlin support](https://docs.microsoft.com/en-us/az

[2019-08-27 13:27] cephalin commented on #37754
@olofhellman I've clarified the language to "Grant database access to Azure AD user" and added a step to add the user. It should be updated sometime today. Thank you.

#please-close

[2019-08-27 13:27] cephalin commented on #37755
@olofhellman I've added the suggested clarification. It should be updated sometime today. Thank you.

#please-close

[2019-08-27 13:28] cephalin commented on #37830
@dasiths I've added the suggested clarification. It should be updated sometime today. Thank you.

#please-close

[2019-08-27 13:31] karthik623521 opened #37858 "Not able to set End Time for recurrence Auto Scale through ARM Templates"
Based on our Auto Scale requirement where we need to setup Auto Scaling settings for Azure App service Plans. The profiles should be
1. To Scale up or Scale Down based on CpuPercentage metricTrigger
2. To Scale Down during Non Business hours (12PM to 6AM) to single instance -> recurrence
 schedule trigger.
3. To Scale Up at the start of Business hours  7AM to default instance which we specify-> re

[2019-08-27 13:34] mbrancato opened #37859 "Document race condition on MSI Proxy container launch"
There is a race condition where the *_msiProxy launch completes but takes a few seconds to become reachable. The actual application launches immediately after the *_msiProxy is launched up but may attempt to retrieve the MSI token before the MSI proxy is ready to accept connections. The Azure VM MSI documentation has retry guidance, but technically it doesn't cover network failures to reach the MS

[2019-08-27 13:48] cephalin commented on #37683
@borys86 Yes AppAuthentication does do the caching for you automatically and AzureServiceTokenProvider gets a new token only when the token is about to expire. There's nothing extra to configure. I've added clarification in the doc and it should be published sometime today.

#please-close

[2019-08-27 13:48] SumanthMarigowda-MSFT commented on #37852
@durtal Thanks for your question. We are checking on this and will respond to you soon.

[2019-08-27 13:52] ChrCoello opened #37860 "Deploy model: how to specify a port opening (443) in the automatically generated Docker image"
I am trying to open an image using BlockBlobService within the Docker image (simple use case -&gt; input: url of an image on blob Storage, output: classificaiton result of this image).

Deployment of the model works fine (testing locally now) :

Downloading model poleDetectionEH:1 to C:\Users\SCCO\AppData\Local\Temp\azureml_upqwkgl3\poleDetectionEH\1
Generating Docker build context.
Package creati

[2019-08-27 13:55] sunilkcs commented on #37850
If you want the steps to know the issue. Here you go.
1. Provision an AKS cluster (Tried several versions but nothing working. Right now checked with 1.13.10.  This is also not working. It was working before)
2. A sample deployment file is attached here. Try to deploy it by executing 'kubectl create -f test.yml'
3. The container will not deployed successfully. Please see attached image
![err1](htt