[2019-09-13 21:46] #38840 closed

[2019-09-13 21:59] edjez opened #38890 "How it works and Where can you use has repeated blocks of text"
(seems like "how it works" should not be where the Checklist for Applying should be

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d0d8070-330d-3468-57de-4347ccd68faa
* Version Independent ID: 3dfc3ffc-9d96-b530-3cbb-b8dbaf30cc0f
* Content: [How Personalizer Works - Personalizer - Azure Cognitive Services](https://doc

[2019-09-13 22:04] TravisCragg-MSFT commented on #38876
@eosho I am not sure if we currently have a good way in the docs to bulk export a large list of rules. Your best bet is to do it how you are doing now, and add them via PowerShell. [Here is a doc that outlines the process of creating an Azure Firewall and adding rules via PowerShell](https://docs.microsoft.com/en-us/azure/firewall/scripts/sample-create-firewall-test). As the doc outlines, you can

[2019-09-13 22:09] FrankHu-MSFT commented on #38884
@ryandle hello, thanks for your feedback, we'll be investigating this and letting you know our updates.

[2019-09-13 22:09] FrankHu-MSFT commented on #38883
@daverendon hello, thanks for your feedback, we'll be investigating this and letting you know our updates.

[2019-09-13 22:09] FrankHu-MSFT commented on #38880
@jeefberkey hello, thanks for your feedback, we'll be investigating this and letting you know our updates.

[2019-09-13 22:09] FrankHu-MSFT commented on #38887
Hello @clintbennett  thanks for your feedback, we'll be investigating this and letting you know our updates.

[2019-09-13 22:11] TravisCragg-MSFT commented on #38881
@dkisselev Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-13 22:12] Jun711 commented on #38743
@YutongTie-MSFT Thank you for the update. I am going to test with different phonetic characters using UTF-8 representation of phonetic characters and will report back.

[2019-09-13 22:13] FrankHu-MSFT commented on #38887
Can you please provide a screenshot of the issue occurring? Can you try performing this action again? This is not expected functinoality

[2019-09-13 22:15] FrankHu-MSFT commented on #38883
Hey @daveRendon I'm not sure what you're currently requesting. You can make it open in a new tab or window by pressing ctrl and then clicking on the hyperlink.

I don't believe we necessarily want to force users to open this in a new window/tab.

Please let us know if you have anymore questions within the scope of this git issue otherwise we will be closing this out by end of day monday.

[2019-09-13 22:28] ggirard07 commented on #23286
@DenisBiondic did you got any update around this topic

[2019-09-13 22:30] NavtejSaini-MSFT commented on #38890
@edjez Thanks for the feedback. We are checking this and will get back to you.

[2019-09-13 22:32] ClintBennett commented on #38887
I just shared a video of the issue from my OneDrive to you via email.

[2019-09-13 22:34] alvipeo opened #38891 "If I have multiple apps in my ASE, how do I restrict traffic for a particular app?"
I have an ILB ASE with WAF and I have multiple apps there. Obviously, they all have the same IP. I can't use Access Restrictions for the App Service as I also use Azure Firewall, so I thought maybe I can use WAF custom rules. But how can I restrict the destination (which is a FQDN)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-09-13 22:36] MarileeTurscak-MSFT commented on #38500
What specific file changes are you looking for? The audit logs will show changes to the web apps made by particular users or done to particular web apps.

![image](https://user-images.githubusercontent.com/13383753/64898440-00202800-d63c-11e9-8d0a-45bc58d6fb0b.png)
https://docs.microsoft.com/en-us/azure/security/fundamentals/log-audit#types-of-logs-in-azure

This doc also covers how to download de

[2019-09-13 22:38] MarileeTurscak-MSFT commented on #38500
Since this is a product question and not a doc issue, the right place to ask this is on MSDN. https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowsazurewebsitespreview

[2019-09-13 22:38] #38500 closed

[2019-09-13 22:42] Karishma-Tiwari-MSFT commented on #38171
Thanks @kogesaka
@mayanknayar Thanks for sharing your inputs. Can you please help confirm on this behavior. Thanks :)

[2019-09-13 22:43] Karishma-Tiwari-MSFT commented on #38731
Thanks for bringing this to our attention. The PR has been created and changes will be live soon. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-09-13 22:43] #38731 closed

[2019-09-13 22:48] JimacoMS3 commented on #36775
Hi @v-stadam,

Thanks again for your feedback. I refreshed the version of simulator.exe in the repo and also updated the topic text to reflect the possibility of seeing a Windows Security Alert (Windows Defender) notice.  Let me know if these changes don't fix the issue for you; otherwise, I'll move to close this issue in the next couple of days.

[2019-09-13 22:50] jons-own-stuff commented on #38832
Hey Marsh,
I'm actually seeing that that I need to have a "subscription linked to your
directory." I don't think the preceding section mentioned this. Just wanted
to point that out. I'm guessing I need to follow the steps in another
article first.
Thanks,
Jon

On Thu, Sep 12, 2019 at 4:29 PM Marsh Macy <notifications@github.com> wrote:

[2019-09-13 22:53] jaszymas commented on #38644
Hi @twinharbor. We are aware of this problem and we are working on addressing it as soon as possible. The solution requires releasing a new version of the AzureKeyVaultProvider NuGet package.

[2019-09-13 22:55] mmacy commented on #38832
@jons-own-stuff Hi Jon, check out [Link an Azure subscription to an Azure Active Directory B2C tenant](https://docs.microsoft.com/azure/active-directory-b2c/active-directory-b2c-how-to-enable-billing) which might be what you're looking for.

Also, the updated version of the AAD IdP article is now live, so you can use the published version instead of the gist:

[Set up sign-in with an Azure Active

[2019-09-13 22:58] jons-own-stuff commented on #38832
Excellent. I'll take a look. Thanks! Have a great weekend.

[2019-09-13 22:58] EmilAlipiev opened #38892 "Azure Portal doesnt work on Safari using Mojave"
using safari 12.1.2 version, if you try to login into portal.azure.com, dashboard is keep reloading  and often it will ask you to re-sign in, it is impossible to use it on safari.
It is very easy to reproduce also, if you have 2 azure accounts with 2 different email addresses, you sign in one and change to 2nd one without signing out. Just use the top right corner accounts and try to switch.

[2019-09-13 22:59] v-stadam commented on #36775
I won't be able to test this until sometime next week, so I'll take your word for it. Thanks!

[2019-09-13 22:59] #36775 closed

[2019-09-13 23:03] MarileeTurscak-MSFT commented on #38541
By default, only the user who did the installation and local admins are able to manage the installed sync engine. For additional people to be able to access and manage the sync engine, locate the group named ADSyncAdmins on the local server and add them to this group.

To create sync rules you need to be in the ADSyncAdmins group. https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-

[2019-09-13 23:06] MarileeTurscak-MSFT commented on #38541
Hope this helps! We will proceed to close this thread. If you have further questions feel free to create a post on MSDN or tag me in the comments and I will gladly continue the discussion. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-09-13 23:06] #38541 closed

[2019-09-13 23:10] femsulu commented on #38873
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-09-13 23:10] LarryFr commented on #38521
Why my Github login is mentionned on this ticket ?

[2019-09-13 23:11] twinharbor commented on #38644
Thanks @jaszymas  - that's great, any approximate ETA?

[2019-09-13 23:12] mayanknayar commented on #38171
@Karishma-Tiwari-MSFT - this needs to be raised with the CLI team. Please start a thread with the CLI team

[2019-09-13 23:14] femsulu commented on #38889
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-09-13 23:15] #37984 closed

[2019-09-13 23:15] AndyWu7623 opened #38893 "have issue when name ACR_NAME with upper case"
If name $ACR_NAME with upper case like AzureContainerRegistry will have issue while deploy via the below command as the image name can only be lower case. May need to adjust below command or mentioned in the document for awareness.

az container create \
    --resource-group $RES_GROUP \
    --name acr-tasks \
    --image $ACR_NAME.azurecr.io/helloacrtasks:v1 \
    --registry-login-server $ACR_NAM

[2019-09-13 23:19] RyanHill-MSFT commented on #38628
Hi @jewpaltz my apologies. I'm a developer too so my intent on providing the gif was to get the CLI commands I thought were needed to set your container app service for continuous deployment in order to update images.

In your app, click container settings, that will open the blade which will allow your to upload your changed docker-compose.yml file. You can verify that it's been changed in https:

[2019-09-13 23:19] AAniesh commented on #38889
Hey,
I am glad you replied. Hope you understand how much of a frustration it is when you are trying to cancel your subscription or access the usage reports from Azure Account Center which worked seamlessly fine. Why would someone change the landing page of the Azure Accounts Portal ?

I am disappointed! but hoping this will get fixed ASAP.

Thanks,
Aniesh

[2019-09-13 23:24] flyboarder commented on #5806
Almost the end of 2019 and I still don't have a clear answer.

[2019-09-13 23:29] MicahMcKittrick-MSFT commented on #38893
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-13 23:29] nickwalkmsft opened #38894 "Delay timer implementation/questions"
- Both implementations add 1 to the current UTC datetime. Shouldn't they be adding i?
- The note right above the "delay timers" section indicates that durable timers can't last longer than 7 days, but "the example is issuing a billing notification every day for ten days." Can you reconcile this?
- "Always use CurrentUtcDateTime instead of DateTime.UtcNow in .NET and currentUtcDateTime instead of D

[2019-09-13 23:31] markjbrown commented on #23875
I have submitted a PR for this doc update and is now merged. Should get pushed live on Monday 10am PDT.

Apologies for the delay.

thanks.

[2019-09-13 23:41] femsulu commented on #38889
Sorry for this issue. Your feedback is very valid. My team is not plugged into these types of changes but we will try to see how we can improve the content to prevent further confusion. Thanks for understanding.

@genlin - can you take a look at this feedback? Happy to initiate a PR if needed but need your signoff.

[2019-09-13 23:51] ElanHasson opened #38895 "The link for the extension no longer works."
Link text:  App Authentication extension for Visual Studio
URL: https://go.microsoft.com/fwlink/?linkid=862354

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 315e6bfa-53fd-2ee1-bbda-64204283c6a2
* Version Independent ID: cc17a1df-33ce-e6ba-bad9-052010244bff
* Content: [Service-to-service authentication to Azure Key Vau

[2019-09-13 23:56] ElanHasson commented on #38703
@scale-tone

It seems the extension is built into the product. You may need to install one of the Azure workloads. (just a guess).

[2019-09-13 23:57] ElanHasson commented on #38895
Accidentally added this issue as a dupe of #38703.

[2019-09-13 23:57] #38895 closed

[2019-09-14 00:16] Alberto-Vega-MSFT commented on #36775
@v-stadam Please feel free to reopen if the issue persists.

[2019-09-14 00:32] Mike-Ubezzi-MSFT commented on #38567
@karthiksubramanians Apologies for the delay on this inquiry. There is a single lease configuration and if the 3 prerequisites are met, that single lease configuration will dynamically scale to handle multiple monitored containers. The [code sample](https://docs.microsoft.com/en-us/azure/cosmos-db/change-feed-processor#implementing-the-change-feed-processor) provided `GetChangeFeedProcessorBuilder

[2019-09-14 00:32] #38567 closed

[2019-09-14 00:51] Alberto-Vega-MSFT commented on #38566
Hi @njbuch Can you elaborate more on why you are avoiding device direct methods? Anyway you might want to see this doc that talks about IoT Edge Module direct methods https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-direct-methods#method-invocation-for-iot-edge-modules

[2019-09-14 01:18] femsulu commented on #38587
@bobbytreed  - I can confirm there is no "quick create" button and the "Add a runbook" is should really be "Create a Runbook ". Can we update the content to reflect current create workflow in the doc?

[2019-09-14 02:36] kobulloc-MSFT commented on #38885
@ChrisRobbers Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-09-14 02:37] kobulloc-MSFT commented on #38886
@loic-sharma Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-09-14 03:25] darrenroback commented on #38578
@MicrosoftGuyJFlo I tested the configuration according to the documentation, but ran into issues getting the writeback to work. Event Viewer was complaining that it didn't have appropriate permissions, and during a case with MSFT support they said the synchronization service account actually needed Domain Admin privileges. I walked through the configuration with them confirming the environment was

[2019-09-14 03:56] FranklyFrivolous opened #38896 "Step for creating a certificate"
Great article, was hoping you might be able to add an additional step at the beginning on how to obtain the certificate to have uploaded to the API Management. While I believe it would be appropriate to have certificates hosted within a Key Vault, and we can create external CA certificates.
Adding some links in this article on how to obtain/generate/issue the certificates to the App Service alongs

[2019-09-14 04:12] kudlatiger commented on #38772
Thanks, we don't have web app which has AD. I am particularly looking for document which helps to add Application Gateway between APIM and Web API

[2019-09-14 04:20] SwathiDhanwada-MSFT commented on #38847
Assigning content author @qianw211 for content review and doc enhancement

[2019-09-14 04:30] SeanFeldman commented on #23875
Thank you @markjbrown. The document is still not refreshed. Could you point to the PR, please? My search foo on https://github.com/MicrosoftDocs/azure-docs/pulls?q=is%3Apr+is%3Aopen+sort%3Aupdated-desc is failing me.

[2019-09-14 04:49] KalyanChanumolu-MSFT commented on #38888
@tangp3 Thank you for the feedback.
Is this related to a document on Github? Please help us with a link to the page so that we can route it to the appropriate team.

[2019-09-14 04:53] KalyanChanumolu-MSFT commented on #38891
Thank you for reaching out. We are actively investigating and will get back to you soon.

[2019-09-14 04:57] Akshatce opened #38897 "Error connecting Python to Azure IoT (RC5)"
I have a constrained IoT device sending signals to Azure IoT Hub. I am not using Azure's IoT SDKs. I am trying to connect Python to Azure IoT using MQTT. Authentication is by using Symmetric key (SAS Token). I find RC error 5 (Connection refused – not authorized) every time.

Here is Microsoft documentation link which I have followed:
[https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-mqtt-su

[2019-09-14 05:01] KalyanChanumolu-MSFT commented on #38892
@EmilAlipiev Thank you for the feedback.
This issue is created on the azure-docs repo which is primarily for documentation issues.
I request you to submit the feedback [here](https://feedback.azure.com/forums/34192--general-feedback) so that other users can up vote and the product team can prioritize it accordingly.

We will proceed to close this issue now.
If there are further questions regarding

[2019-09-14 05:01] #38892 closed

[2019-09-14 05:02] KalyanChanumolu-MSFT commented on #38894
@ggailey777 Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-09-14 05:04] KalyanChanumolu-MSFT commented on #38896
@FranklyFrivolous Thank you for the detailed feedback.
This issue is being assigned to the content author to evaluate and update as appropriate.

[2019-09-14 05:05] KalyanChanumolu-MSFT commented on #38774
@kruti15ars Its been a while we heard from you.
We will proceed to close this issue now. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-09-14 05:05] #38774 closed

[2019-09-14 05:37] jg11jg commented on #7990
Can someone explain the difference between
C:\Program Files\Azure Cosmos DB Emulator\CosmosDB.Emulator.exe and
C:\Program Files\Azure Cosmos DB Emulator\Microsoft.Azure.Cosmos.Emulator.exe?

[2019-09-14 05:40] souravmishra-msft commented on #38636
@ritmos, This is wonderul. Thank you so much for sharing this finding with us. Allow me sometime, i will try to share a method to share the test case scenario.

[2019-09-14 05:55] vanthoainguyen opened #38898 "Question about SearchResults for Common alert schema"
I enabled the common alert schema as instruction but the json payload POST to the webhook always have "IncludedSearchResults": "False"

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac3dbdc9-c3d9-c955-6045-d5365fbd369d
* Version Independent ID: b5ea6c85-848e-048c-9523-8ce6b2ab3736
* Content: [Common alert schem

[2019-09-14 08:30] crmhh commented on #38541
Hi Marilee,
I asked about AAD Domain Services. You provided informations about AAD Connect. Could you please reopen this and provide infos to AAD DS?

[2019-09-14 08:54] KrishnaG-MSFT commented on #38898
@vanthoainguyen Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-14 08:56] KrishnaG-MSFT commented on #38895
@ElanHasson Thanks for the update. :+1:

[2019-09-14 09:49] YutongTie-MSFT commented on #38539
@theonlygusti I have forward this issue to product team, I will let you know the update when we have one. Thank you very much. I will close this issue for now.  We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-09-14 09:49] #38539 closed

[2019-09-14 09:50] YutongTie-MSFT commented on #38562
@rajurajvijay619
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-09-14 09:50] #38562 closed

[2019-09-14 11:22] woutervanranst opened #38900 "GatewayManager Tag Clarification: not for Application Gateway"
Can you clarify that the GatewayManager tag is not applicable for the Application Gateway (as per https://github.com/MicrosoftDocs/azure-docs/issues/38691)

Additionally, what does the word "dedicated" mean in the description of the GatewayManager tag?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e905802-0b08-4b3b-2

[2019-09-14 11:42] ManojReddy-MSFT commented on #38592
@watahani I have documented this information [here](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-mfasettings#remember-multi-factor-authentication). I am closing this issue. Feel free to tag me if you have any further questions.

[2019-09-14 11:42] #38592 closed

[2019-09-14 13:52] KrishnaG-MSFT commented on #38619
@blueelvis Closing this issue for now. If there are further questions regarding this matter or feedback on the documentation, please reply and we will gladly continue the discussion.

[2019-09-14 13:52] #38619 closed

[2019-09-14 13:59] KrishnaG-MSFT commented on #38627
@KLCKLCKLC Closing this issue for now. If there are any questions or feedback regarding Azure docs then please refer to an Azure document link / URL and let us know so that we will gladly continue the discussion.

[2019-09-14 13:59] #38627 closed

[2019-09-14 14:22] elias-p commented on #27537
I agree only one doc available on this topic, looking to create dash board with multiple resources ex loadbalancer , vmss and vm so on and get metrics not only metrics but from logs also but didn't work for me at all only on single resource

[2019-09-14 14:27] jmkimball42 opened #38901 "Great guide"
This is a fantastic guide and well written.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fdde01c-b8fc-373c-99d0-dd71554fc6f2
* Version Independent ID: 6d81c5c7-bbb7-61f4-6f4b-5ffbff2c32f6
* Content: [Quickstart - Deploy the Ansible solution template for Azure to CentOS](https://docs.microsoft.com/en-us/azure/ansible

[2019-09-14 14:27] elias-p commented on #27537
also the solution provide 2 years ago no update since then, looks like no one looking the issue.

[2019-09-14 14:58] SaurabhSharma-MSFT commented on #38900
@woutervanranst Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-14 15:00] SaurabhSharma-MSFT commented on #38901
@jmkimball42  Thanks for your feedback.  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-09-14 15:00] #38901 closed

[2019-09-14 15:01] SaurabhSharma-MSFT commented on #38897
@Akshatce Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-14 15:11] SaurabhSharma-MSFT commented on #38721
@ran-ten21 can you please help providing the information requested.  Also, please let me know if you are able to open a support case.

[2019-09-14 16:45] cconrado opened #38902 "Values same for Unified Schema?"
Hi there,

It's not clear if the values would be the same when enabling the unified schema

Ex. #alertname

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06039edb-32ee-7261-5b48-0fde04c9371e
* Version Independent ID: 9bebfc9e-c155-ff9d-64a6-6c5847e2a33e
* Content: [Webhook actions for log alerts in Azure alerts](https:

[2019-09-14 16:46] blessingmu opened #38903 ".NET Core isn't GDRP Compliant!!"
Hey @microsoft, you need to escalate this issue. The fact .NET Core doesn't not support column encryption means it isn't compliant with GDPR legislation, which is a big, big thing. You should clerly say in big, bold letter (whenever one wants to download it) that it is not compliant with data protection and privacy laws. I wouldn't have used it if I knew. Somehow it doesn't seem like anyone at mic

[2019-09-14 17:09] mlegris commented on #38850
you don't need to refresh these ones, just request another one. these are app tokens, and they don't require the user to be online. hence no refresh. Just run the same request again once the first token is expired and you'll get a new one.

[2019-09-14 17:14] ichkoj opened #38904 "Please update the article what events 31044 and 31034 are!"
Please explain in this article what events 31044 and 31034 are!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f5e3651-45ec-5dbc-7df5-526d0f7a4080
* Version Independent ID: 9f218d06-c2e6-19c2-6413-542c5e88ec64
* Content: [Self-service password reset troubleshooting - Azure Active Directory](https://docs.microsoft.com/

[2019-09-14 17:21] msmbaldwin commented on #38815
@olandese: I verified that "Appld" and "ClientId" are synonymous -- nice catch! The article has been updated to only reference ClientId. Thanks for you feedback. #please-close

[2019-09-14 17:21] #38815 closed

[2019-09-14 17:41] KrishnaG-MSFT commented on #38792
@sochan1 Can you please double check whether you have the column / field named 'ResultType' in AzureDiagnostics table under 'Logs' tile of your Log Analytics workspace. Similarly, check 'Custom Fields' in 'Data' section under 'Advanced Settings' tile of your Log Analytics workspace.

For illustration, please check below screenshots.

<img width="172" alt="LA1" src="https://user-images.githubuserco

[2019-09-14 17:52] KrishnaG-MSFT commented on #38902
@cconrado Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-14 18:02] kobulloc-MSFT commented on #38886
Current 404: https://docs.microsoft.com/en-us/azure-monitor/app/transaction-diagnostics
Desired: https://docs.microsoft.com/en-us/azure/azure-monitor/app/transaction-diagnostics

Current 404: https://docs.microsoft.com/en-us/azure-monitor/app/app-map
Desired: https://docs.microsoft.com/en-us/azure/azure-monitor/app/app-map

[2019-09-14 18:14] KrishnaG-MSFT commented on #38837
@scarolan Yes, I see [it](https://github.com/terraform-providers/terraform-provider-azurerm/releases). Good observation and thanks for the feedback.
Assigning content owner @TomArcherMsft for visibility, review and document enhancement considerations.

[2019-09-14 18:17] KrishnaG-MSFT commented on #38838
Assigning content owner @TomArcherMsft for visibility, review and document enhancement considerations.

[2019-09-14 18:29] KrishnaG-MSFT commented on #38865
Assigning @bobbytreed for visibility, review, to provide insights and for document enhancement considerations if required.

[2019-09-14 18:36] yuvalyitz commented on #37847
Looking forward for the fix

[2019-09-14 18:53] johncrim opened #38905 "Support for creating a user-assigned managed identity in Powershell?"
Is there support for creating a user-assigned managed identity in Powershell? If so, that should be included here, with links to the relevant Cmdlet docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b475d8ea-7e4f-9ccf-2d04-246f5e29dc6d
* Version Independent ID: a38705ee-6ccc-96d4-dd38-df462d7cfbc6
* Content: [Use a

[2019-09-14 18:59] johncrim opened #38906 "Reference to how to create the user-assigned identity?"
There's no info here on how to create a user-assigned identity. [This page or similar](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/how-to-manage-ua-identity-powershell) would be a useful reference.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc5c2990-459f-b2be-7d0e-249f

[2019-09-14 19:58] Mike-Ubezzi-MSFT commented on #38644
I am showing version 2.2.0-beta being the latest release listed in the [NuGet Gallery](https://www.nuget.org/packages/Microsoft.SqlServer.Management.AlwaysEncrypted.AzureKeyVaultProvider/2.2.0-beta) for Microsoft.SqlServer.Management.AlwaysEncrypted.AzureKeyVaultProvider.

Can you update this GitHub Issue when it becomes available.

[2019-09-14 20:10] njbuch commented on #38566
There is two types of direct methods, the one that are attached to a device-client to IotHub and the one that are attached the a module-client.

From an IotEdge module, it has been adviced to me to avoid the device-client based direct methods, and only use the module-client ones. I dont understand why.

I am experiencing a very unstable connection, and are now suspecting the device-client to be th

[2019-09-14 20:13] diberry opened #38907 "Timer function - please add cron settings"
The section about adding the timer function is missing the part about the cron setting. I had to look up what every 5 minutes would be in cron, then saw that was the default.  Would be nice to have.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a571957f-41ce-e7ea-5f0b-1aefb8b219fa
* Version Independent ID: 6c676eb8-58

[2019-09-14 20:59] BMTriplett opened #38908 "Feedback on learning about Azure."
The information that I have covered so far is very impressive. The article is laid out well  and written at a high level.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e27bedb5-7ff6-f4ae-eb7e-4ee25472d25b
* Version Independent ID: 804b814e-49c9-7fc8-dc86-27b431a9b7df
* Content: [Create and manage action groups in the

[2019-09-14 21:17] #38011 closed

[2019-09-14 21:32] mmacy commented on #37156
Hi @leniel, you can find the pre-migration solution and sample policy files referenced in the article here:

https://github.com/azure-ad-b2c/user-migration/tree/master/pre-migration/source-code

And the sample policy files:

https://github.com/azure-ad-b2c/user-migration/tree/master/pre-migration/policy

The links in this article have been updated, however, it still needs an update so that it refl

[2019-09-14 21:40] khanhankkhan opened #38909 "edit html landing page"
hi, just starting here, so i was hoping to be shown where the static html directory and landing page index.html is, so that i could edit index.html of the landing page of the basic webapp and be more oriented to where source code is. i did correctly guess 'app services' without documentation, but i am unable to find how to edit the web app i just deployed.

---
#### Document Details

⚠ *Do not edi

[2019-09-14 21:55] Thomas88a commented on #38398
@linda33wj @KranthiPakala-MSFT @ShirleyWangMSFT

Hello All,

My company has also started testing the Xero connector and we faced the same problems as the one described on this issue.

It seems that when we connect to big tables like Bank Transactions, Invoices, CreditNotes and ManualJournals we always end up exceeding both API Rate limits.
**Minute Limit: 60 calls in a rolling 60 second window
Dai

[2019-09-14 22:04] TomArcherMsft commented on #38901
Thanks for the positive feedback, @jmkimball42 !

[2019-09-14 22:18] JDeanThomas commented on #38820
I built the function the first time using VS Code. I reverted to just
building and deploying it with Core Tools, automating it using a bash
script, and deployed it to the southcentralus region. My issue was that
Linux containers for Azure functions (and thus Python) are not available in
centralus nor northcentralus, but this was not clearly documented in the
many developer guides I read before bui

[2019-09-14 22:57] eyast opened #38910 "Incomplete sentence"
the sentence reads "Enable CredSSP delegation so that the Azure Migrate appliance can act as the client, delegating credentials to a host. T" - it seems to be incomplete

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e471b58-5a81-3c02-4e3a-cbb6f19e6a49
* Version Independent ID: b57b16ff-09c9-ba7f-87f3-8780f4c8d964
* C

[2019-09-14 22:59] eyast opened #38911 "Incorrect sentence"
The sentence reads "Checks that you're running on the script on a supported PowerShell version."
I think it should read "Checks that you're running the script on a supported PowerShell version."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e471b58-5a81-3c02-4e3a-cbb6f19e6a49
* Version Independent ID: b57b16ff-09c9-b

[2019-09-14 23:03] kumarallamraju opened #38912 "Typo error in "Update the application" section"
[Enter feedback here]

 Update the application
We let's deploy a new version of the analytics component. This new version 1.1 displays totals and percentages in addition to the count for each category.

Should it be "Let's deploy a new version"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35b1812f-e2f3-f798-2788-6117

[2019-09-14 23:32] aspnet4you opened #38914 "Azure DevOps Build Pipeline can't get secrets from Key Vault when secured with vnet and firewall"
I would like to use secrets stored in key vault from DevOps Build Pipeline task and I would like to follow security best practice and defense in depth. As security best practice, I want key vault to be accessible from selected virtual networks, selected azure services and from trusted internet ip's. Of course, I would use a service principal and appropriate permissions (list/get).

Unfortunately,

[2019-09-15 02:20] KrishnaG-MSFT commented on #38911
@eyast Thanks for the comment. We are actively investigating and will get back to you shortly with an update.

[2019-09-15 02:22] KrishnaG-MSFT commented on #38910
@eyast Thanks for the comment. We are actively investigating and will get back to you shortly with an update.

[2019-09-15 02:24] jewpaltz commented on #38628
@RyanHill-MSFT Thank you very much

That link that you provided seams to be a Microsoft corporate website. Regular customers like myself don't have access to it.

But I can verify that is **hasn't** been changed by looking at the logs and the running service.

When you change the yml in the blade it **does _not_ ** take effect.
That is what my question was!!!

[2019-09-15 02:26] KrishnaG-MSFT commented on #38908
@BMTriplett Thanks for the feedback. :+1:
@dkamstra FYI. Kudos. :+1:

[2019-09-15 02:26] #38908 closed

[2019-09-15 03:27] swiftPeter commented on #33638
@MarileeTurscak-MSFT Thanks Marilee, that make sense

[2019-09-15 03:47] KrishnaG-MSFT commented on #38911
@eyast Verified and updated the document as required. The changes should reflect soon in the doc. Thanks.

[2019-09-15 03:47] #38911 closed

[2019-09-15 03:48] KrishnaG-MSFT commented on #38910
@eyast Verified and updated the document as required. The changes should reflect soon in the doc. Thanks.

[2019-09-15 03:48] #38910 closed

[2019-09-15 04:29] KalyanChanumolu-MSFT commented on #38903
@blessingmu Thank you for reaching out.
Is this related to a document on Github? Please help us with a link to the page so that we can route it to the appropriate team.

[2019-09-15 04:31] KalyanChanumolu-MSFT commented on #38904
@ichkoj Thank you for the feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-09-15 04:33] KalyanChanumolu-MSFT commented on #38905
@johncrim Thank you forreaching out. We are actively investigating and will get back to you soon.

[2019-09-15 04:46] KalyanChanumolu-MSFT commented on #38905
@johncrim I was going through your other [issue ](https://github.com/MicrosoftDocs/azure-docs/issues/38906)
I believe you found the [document](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/how-to-manage-ua-identity-powershell) for creating user assigned MI

The tutorial in this document focuses on Azure CLI.
However, we are assigning this issue to the c

[2019-09-15 04:48] KalyanChanumolu-MSFT commented on #38906
@johncrim Thank you for the feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-09-15 04:52] KalyanChanumolu-MSFT commented on #38907
@diberry Thank you for the feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-09-15 04:54] KalyanChanumolu-MSFT commented on #38909
@khanhankkhan Thank you for reaching out.
We are actively investigating and will get back to you soon.

[2019-09-15 04:58] KalyanChanumolu-MSFT commented on #38912
@kumarallamraju Thank you for pointing out the issue, I have updated the doc accordingly.
The changes should be live shortly.
In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. We love taking contributions from the community.

We will proceed to close this issue now.

[2019-09-15 04:58] #38912 closed

[2019-09-15 05:02] KalyanChanumolu-MSFT commented on #38914
@aspnet4you Thank you for the feedback.
We are actively investigating and will get back to you soon.

[2019-09-15 05:11] hung-doan commented on #35380
thanks @djpmsft , I mean in the normal case without the Azure DevOps.
My understanding is that when I press the Publish button from my collaboration branch. The Azure Data Factory will
- Generate new ARM template in adf_publish
- Publish this new ARM template to Azure Data Factory

My question is: I don't press the publish button, but I change the ARM template in the adf_publish branch manually.
I

[2019-09-15 06:57] anurag-ae commented on #12292
I am also facing issue with Shared key. I am using flask mongoengine library to handle the database. When I try to write in the database, it says `mongoengine.errors.OperationError: Could not save document (Shared throughput collection should have a partition key`

Can someone help me with this?

[2019-09-15 08:57] abu3lia opened #38916 "Can you add the troubleshooting for error 0xc004e015 to this page?"
Hello,
This page is missing the troubleshooting for error '0xc004e015'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87ea8024-c99f-0efe-f663-cc58348a3721
* Version Independent ID: 85c8727b-915b-c920-76cd-6123844d20ad
* Content: [Troubleshoot Windows virtual machine activation problems in Azure](https://docs.microsoft

[2019-09-15 08:59] #38916 closed

[2019-09-15 08:59] abu3lia commented on #38916
opened here by mistake

[2019-09-15 09:22] ElectricLlama opened #38917 "What SQL Editions"
Please add the usual green tick header that indicates which editions of SQL this is valid for

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5b25f3a-5371-2a50-3bff-6caf1b78ad8c
* Version Independent ID: a0d6b2d0-047b-202b-1b5b-67b9ec7eeccd
* Content: [Azure SQL Database dynamic data masking](https://docs.microsoft.com

[2019-09-15 09:53] KrishnaG-MSFT commented on #38916
@abu3lia Thanks for the update. :+1:

[2019-09-15 10:29] blueelvis commented on #38693
@SubhashVasarapu-MSFT - Thanks! Is there any ETA for this?

[2019-09-15 10:47] barkesteijn opened #38918 "License requirement"
It's unclear if you only need one Azure AD P2 license to use the feature for your whole tenant, or does every users in the tenant needs a license.

[2019-09-15 10:49] #38918 closed

[2019-09-15 10:54] barkesteijn opened #38919 "License requirement"
Can you clearly specify the license requirement.

Do you only need one license for your whole tenant, or do you need to license every user. Yes with one license you have the feature, but are you also complaint.

The current line is open for interpretation.

Using this feature requires an Azure AD Premium P2 license. To find the right license for your requirements, see Comparing generally available

[2019-09-15 11:09] KrishnaG-MSFT commented on #38918
@barkesteijn I hope you have self resolved the AzureAD product related question and so closed this issue. However, in future if you have any feedback on any Azure documentation then please raise an issue in this azure-docs GitHub repo by mentioning the link / URL of the Azure documentation so that we can assist you better.

[2019-09-15 11:18] anurag-ae commented on #12911
@grzlyD Thanks for sharing it. With string it worked for me. I just wanted to know that can we create shard Collection using MongoDB api directly or do we have create all the shard collections beforehand only? I am using python flask-mongoengine api.

[2019-09-15 12:38] swinarko commented on #38291
The documentation has been updated and will be published soon.

[2019-09-15 14:29] DixitArora-MSFT commented on #38762
Hi @Infinitism I have assigned this to content author for further review and update.

[2019-09-15 14:57] markjbrown commented on #23875
PR is on a private repo so cannot point you to it.

Update won't be live until Monday 10am when the next push is.

Thanks

[2019-09-15 14:57] aspnet4you commented on #38914
@KalyanChanumolu-MSFT - Thanks for looking into the problem. Key Vault is a critical infrastructure component and by its  nature of business we don't want to expose it to untrusted networks. If I had build machine in my vent, it would have been okay but my goal is to use Azure DevOps for CI/CD. I need to vault the keys and secrets, and be able to retrieve them securely.

[2019-09-15 15:07] Mike-Ubezzi-MSFT commented on #38695
@konaws This is going to be reviewed by the content team for any possible improvement as the only mention of this functionality is available is in the following section of the document you filed this issue against [Enable and disable Read Scale-Out](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-read-scale-out#enable-and-disable-read-scale-out).

[2019-09-15 16:32] pzerger commented on #28277
I can confirm this still only works once Owner role is assigned. Failed for me as Global Admin repeatedly (5+ attempts) and enabling connector was successful on first try after Owner role assignement on the subscription.

[2019-09-15 16:39] 211hari commented on #38415
I have user only user name, it is working. Like if login is "test\admin", I have used only "admin".

[2019-09-15 16:53] casieo opened #38921 "Why doesn't Azure AutoML regression generate confidence interval values?"
Why doesn't Azure AutoML regression generate confidence interval values?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68a3df81-6871-c443-c413-16bb97982bd4
* Version Independent ID: 5030fc51-ec28-d96e-fe85-a06a8fa1ce6f
* Content: [Regression model tutorial: Automated ML - Azure Machine Learning](https://docs.microsoft

[2019-09-15 17:02] ahajjaj commented on #23977
I have the same problem under windows 10 .. any help please ?!!

[2019-09-15 17:29] BharathNimmala-MSFT commented on #38728
@mrbullwinkle Can you please take this forward with PG and possibility to add additional details in our documentation to clarify the scenario listed on this thread. Thank you

[2019-09-15 18:06] pandyamehul commented on #37318
Yes - this is useful and exactly, I was looking for - much appreciated and agree to close issue.

[2019-09-15 18:33] fredrikdaveus commented on #38397
ok will do

[2019-09-15 18:36] fredrikdaveus commented on #38397
@mike-urnun-msft I can't seem to login at the APIM forum with my Office365/Azure login, is there any special stuff required to login? I don't want to associate my account with a "live" account since that has caused sever issues in the past in terms of account management, pls advise, thx

[2019-09-15 18:43] djpmsft commented on #35380
@hung-doan, adf_publish is the ADF production environment. If you change this manually, your data factory service will change as well. This is the same behavior as when you change it via the publish button.

[2019-09-15 19:00] alvipeo opened #38922 "Restrict outbound traffic with ILB ASE"
Here https://docs.microsoft.com/en-us/azure/app-service/environment/firewall-integration#application-traffic you say:

&gt; This use of the Application Gateway is just one example of how to configure your system. If you did follow this path, then you would need to add a route to the ASE subnet route table so the reply traffic sent to the Application Gateway would go there directly.

How would one

[2019-09-15 20:04] chetansriv commented on #38767
@dhanrajbsheth Could you please confirm if Sugar CRM supports both SP and IDP initiated SSO flow? Gallery app supports SP initiated flow only which is why Sign On URL is mandatory.

@jeevansd We need to update the article to reflect the new UI design, so we'll do that now.

@v-pugoe @v-viinde Please take care of tutorial changes

[2019-09-15 20:15] SaurabhSharma-MSFT commented on #38917
@ElectricLlama Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-15 20:17] SaurabhSharma-MSFT commented on #38919
@barkesteijn Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-09-15 20:19] SaurabhSharma-MSFT commented on #38921
@casieo Can you please let us know your ask and to assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either in MSDN or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you base

[2019-09-15 20:20] SaurabhSharma-MSFT commented on #38922
@alvipeo Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-15 20:22] chetansriv commented on #38356
@jonimattila We have updated the article and removed the attributes section as it's no longer needed. We are auto-populating the claims now in Azure configuration section.

#please-close

[2019-09-15 20:22] #38356 closed

[2019-09-15 20:30] MarileeTurscak-MSFT commented on #38703
Yes, @scale-tone

@ElanHasson is correct. It is bundled into the product for Visual Studio 2017 update 5 and later.

I made a pull request to remove the dead link. https://github.com/MicrosoftDocs/azure-docs-pr/pull/88592

I have heard some say that they were able to get past this error using Visual Studio 2019. Please check the related issues:

https://social.msdn.microsoft.com/Forums/en-US/f4988

[2019-09-15 20:30] #38703 closed

[2019-09-15 20:40] chetansriv commented on #33522
@yobyot article updated by content team, please review

#please-close

[2019-09-15 20:40] #33522 closed

[2019-09-15 20:56] casieo commented on #38921
https://docs.microsoft.com/en-us/azure/machine-learning/service/tutorial-auto-train-models#explore-the-results.  I'm just looking for an answer on why azure's autoML results for regression algorithms do not include confidence interval values in the results.  Thanks!

[2019-09-15 21:10] arindam-laha commented on #38150
Hi,
Yes, I read that certificate credentials are supported in Azure AD and
currently using the same.
I am referring to -
https://tools.ietf.org/html/draft-ietf-oauth-mtls-17#section-3 - Section 3.

Thanks,

--------------------
Regards,
Arindam

On Wed, Sep 4, 2019 at 4:38 PM Marilee Turscak - MSFT <
notifications@github.com> wrote:

[2019-09-15 21:40] eosho commented on #38876
@TravisCragg-MSFT my current method isn't clean. I want to be able to demo this to my customer this week. Do you think you can help? I will ping you internally.

[2019-09-15 21:49] MarileeTurscak-MSFT commented on #38741
It looks like User Provisioning requires Free and Group Management requires Basic, based on the most recent pricing information.

I agree that it's confusing and would be helpful if a note was added to the article to describe the license requirements. @msmimart is this something that could be added?

[2019-09-15 21:52] NavtejSaini-MSFT commented on #38824
@frerus We are assigning this to content owner to comment regarding this question.
@jovanpop-msft Please confirm regarding the time line for the same.

[2019-09-15 21:57] Redgwell opened #38925 "Stub domains config looks wrong?"
According to the kubernetes documentation, the stub domains config should use 'forward', not 'proxy'. Not sure if this has any impact.

e.g.

abc.com:53 {
    errors
    cache 30
    forward . 1.2.3.4
}
not:
abc.com:53 {
    errors
    cache 30
    proxy . 1.2.3.4
}

(https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/#coredns-configuration-equivalent-to-kube-dns)

---
####

[2019-09-15 23:04] Mark7even opened #38926 "Page is out of date"
Simulating Sign-ins from anonymous IP addresses with the TOR browser no longer works as I believe Microsoft has blacklisted these IP's. I just get a "Your sign-in was blocked".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a566581-6405-a0af-ba2d-856dd20c03ec
* Version Independent ID: df6e7f35-af4f-66c9-225d-b086d3ab1

[2019-09-15 23:22] MarileeTurscak-MSFT commented on #38810
I don't think two are required but I can confirm. The last example shows one policy for both modern auth and mobile + desktop apps.

[2019-09-15 23:27] DotNetMatt opened #38927 "Property Format doesn't exist on class SynonymMap"
Hi, I'm using Microsoft.Azure.Search v10.0.0 and the property Format doesn't exist on the object SynonymMap contrary to what's indicated in this documentation.

Hence, how can we specify the format? Is it using Apache Solr by default?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74c4b4cd-4993-e079-9128-6f1259695a2e
*

[2019-09-15 23:34] CastleArg opened #38928 "operator: Failed to resolve table or column or scalar expression named 'Event'"
The very first example dies with this exception.  Are we missing a step on how to enable this or select some scope first?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba6a8ef4-0b79-9ce3-eff0-66566ec454c2
* Version Independent ID: 13444c5c-8428-071d-8c85-57a9384507f2
* Content: [Get started with Azure Monitor Log Anal

[2019-09-15 23:35] CastleArg commented on #38928
For search query:
search: must have at least one tabular expression as a source, no matching entities were found. 'search' operator: Failed to resolve table expression named 'Event'

[2019-09-16 01:47] ram-msft commented on #38694
@joyceywho The Speech Services with a Phrase List, you can improve the accuracy of speech recognition.Currently, Phrase Lists supports only English for speech-to-text. Please follow the below document how to use pharse lists.
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-phrase-lists#how-to-use-phrase-lists
The

[2019-09-16 01:55] KrishnaG-MSFT commented on #38928
@CastleArg Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-16 02:16] forester123 commented on #38348
@roygara , thank you for the information! The VM size I selected was Standard DS1_V2, is it Gen2 by default? In the doc you linked, it doesn't mention the OS disk of Gen2 VM supports gpt, do I miss anything?

 By the way, the image I created is from marketplace as below:

![image](https://user-images.githubusercontent.com/13616574/64931313-5f637f80-d86a-11e9-8320-dfb5be15da87.png)

[2019-09-16 02:24] pinyuko opened #38929 "Can developer see usage report on the new developer portal?"
In the old APIM developer portal, there is usage portal about successful calls, failed calls, and top APIs etc. Is this still available on the new developer portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1c96ba5-164a-e66f-a782-d0cd60a500f3
* Version Independent ID: c0f01676-6a46-99a7-a56f-3b2d6eb5e965
* Conten

[2019-09-16 02:43] DixitArora-MSFT commented on #38929
Hi @pinyuko Thanks for reaching out. We will review and update as appropriate.

[2019-09-16 02:54] neeleshray-msft commented on #38926
@Mark7even  Thank you for the update. We will review and update accordingly.

[2019-09-16 03:26] KalyanChanumolu-MSFT commented on #38917
@ElectricLlama Thank you for the feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-09-16 03:40] gitsupersmecher commented on #13935
After a few years this is still a problem....

[2019-09-16 03:44] gitsupersmecher commented on #31003
Same problem, and this is is happening on a new cluster... The problem cannot be resolved with "recreating the cluster", it's just not feasible for production. Really, what is the solution here?

[2019-09-16 03:45] gitsupersmecher commented on #31003
Also, could you please don't close the bugs that are not resolved, yet?

[2019-09-16 03:57] RohitMungi-MSFT commented on #38684
Thanks @diberry

[2019-09-16 04:00] shashishailaj commented on #38671
@aleazofeifam As per my research , SCIM is not specifically related to token size. We exchange a token when we enable SCIM for any existing application in the directory and store the keys (certificates ) in a blob storage designated to the application by the service provider (in this case Azure AD). I dont think its on a per-application basis.  Please check the section below in the article
https:/

[2019-09-16 04:00] shashishailaj commented on #38671
@msmimart Could you please provide your input on this thread ?

[2019-09-16 04:19] shashishailaj commented on #38673
@MarkusVi Could you please look into this and have the documentation updated as pointed by the customer. The managed Identity authentication is available natively for Azure Service bus resource now. It would be great if you could look into this one.

Thank you

[2019-09-16 04:27] Fabian-Schmidt opened #38930 "Automatic tuning transaction & query timeout"
Hi,
We are observing CREATE index operation in our Azure SQL database by the Automatic tuning which are causing deadlocks and bring the database to a halt for long periods (over one hour).
- What is the transaction timeout when creating index?
- What is the query timeout to create the index?
- What is the `LOCK_TIMEOUT` for create index operation?
- Where is the audit log for Automatic tuning oper

[2019-09-16 04:53] KrishnaG-MSFT commented on #38868
Assigning content owner @bwren for visibility, review and document enhancement considerations.

[2019-09-16 05:02] AjayKumar-MSFT commented on #38927
@DotNetMatt, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-09-16 05:06] shashishailaj commented on #38664
@mhopkins-msft Could you please take a look into this and see if the document can be updated ?

[2019-09-16 05:12] PramodValavala-MSFT commented on #38709
@ciaran036 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-16 05:12] #38709 closed

[2019-09-16 05:25] jakaruna-MSFT commented on #38507
https://github.com/MicrosoftDocs/azure-docs-pr/pull/87957

[2019-09-16 05:28] jakaruna-MSFT commented on #38507
@montebhoover The doc is updated now.
The login screenshot is removed because azure cli downloads the creds and places in the temporary path ans uses that to for login.

So specific login is not needed. Zach also added the required permissions to work with RBAC enabled cluster

[2019-09-16 05:28] WenJason opened #38931 "Workflow Sample"
Are the workflow samples provided overdue in the page? There was an error when I used the workflow? could you please confirm if the workflow samples can be nicely used? Thanks a lot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fa15585-8009-93d0-ef76-1f058dc17cbd
* Version Independent ID: 7432547c-8111-3c62-f5a9-83b

[2019-09-16 05:31] jakaruna-MSFT commented on #38507
@zr-msft Assigning this issue to you since you have raised a PR to fix this issue.

[2019-09-16 05:33] KetanChawda-MSFT commented on #38820
@JDeanThomas The issue you are discussing in the last post is different than the one that you mentioned in original post. Since both the issues are not related , I would recommend you to open a new issue on the document for which your feedback is applicable to.

This channel is for driving improvements towards MS Docs, for any product related question/issue I would recommend you to create a thread

[2019-09-16 05:33] #38820 closed

[2019-09-16 05:33] #38507 closed

[2019-09-16 05:37] SumanthMarigowda-MSFT commented on #38783
@juyama Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-09-16 05:43] shashishailaj commented on #38525
@MicrosoftGuyJFlo Could you please review the above scenario if it can be added to the documentation.

[2019-09-16 05:51] shashishailaj commented on #38721
@ran-ten21 The security center content pack for powerBI was deprecated by teh security center engineering . AS its an old package , you may want to check the dataset settings/subscriptions settings  for the same in the powerBi portal . You should be able to close the data connection from there or delete it so that no dataset is being fetched from Security center. Once disabled from within PowerBi

[2019-09-16 05:54] PramodValavala-MSFT commented on #38805
@DrakeLambert There are a couple of defined limits [documented here](https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#event-grid-limits). Do note that Event Grid is a multi-tenant service which shared per region.

For really high volumes and/or stream processing capabilities, Event Hubs are also something you might want to consider. You can read more about the different mes

[2019-09-16 05:58] SubhashVasarapu-MSFT commented on #38693
@blueelvis , Let me check with the back-end team and will respond you back on this.

[2019-09-16 06:01] netRunner0 opened #38932 "NodeJS - 400 error"
Hi
I get this error when I use the provided example TTSSample.js for a node.
https://github.com/Azure-Samples/Cognitive-Speech-TTS

My key was received for 30 days and the entry point for it is Westus.
`pi@raspberrypi:~ $ node TTSSample.js What would you like to convert to speech? hello Something went wrong: StatusCodeError: 400 - "<h2>Our services aren't available right now</h2><p>We're working t

[2019-09-16 06:03] KrishnaG-MSFT commented on #38928
@CastleArg Can you please validate whether you have the table named 'Event' in schema that can be checked under 'Logs' tile of your Log Analytics workspace. For illustration, please see below screenshot. Similarly, check whether you have configured to collect event logs as explained in [this](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-sources-windows-events) document.

<img

[2019-09-16 06:15] SwathiDhanwada-MSFT commented on #38666
We recommend engaging our technical support team to investigate further.Please file a support case using [these steps](https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request). If you do not have a support plan, send mail to AzCommunity@microsoft.com , include your subscription ID and a link to this GitHub thread (for context).

We will close the issue here.

[2019-09-16 06:15] #38666 closed

[2019-09-16 06:30] johndowns commented on #21911
This has been fixed! Thanks for your help with this @shashishailaj and everyone else who participated in this.

[2019-09-16 06:30] #21911 closed

[2019-09-16 06:37] shashishailaj commented on #21911
@johndowns We are glad that this was fixed . Could you please share what you found while investigating the issue with Microsoft ? Please share the details if you can . :)

Thank you.

[2019-09-16 06:43] johndowns commented on #21911
There isn't a lot to share, really. It took a while, but I reported the issue to Microsoft via the thread, they reached out and opened a support case, they could repro the issue using the original steps I listed, they confirmed it was a bug, and then the product team just fixed it :)

[2019-09-16 06:44] roxxette opened #38934 "Avro tool link error"
avro-tools.jar link error. Shall be https://www.apache.org/dist/avro/stable/java/avro-tools-1.9.1.jar

Current(https://www.apache.org/dist/avro/stable/java/avro-1.9.1-javadoc.jar)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71093e2a-bbff-3a79-5f16-289a3a5f6cd7
* Version Independent ID: e4e9873d-0ae7-25a4-16d1-5ecac6

[2019-09-16 07:03] genlin commented on #38889
@AAniesh  Thanks for helping to improve the article. We will update it.

[2019-09-16 07:04] Grace-MacJones-MSFT commented on #38648
Hi @MohamedOthman,  you are  likely only seeing a single quota because you're running basic tier or higher app service plan. The four quotas shown in the screenshot only apply if you're running free or shared tier app service plans.

As the doc states "The only quota applicable to apps that are hosted in Basic, Standard, and Premium plans is Filesystem."

So you should only see the Filesystem stor

[2019-09-16 07:04] #38648 closed

[2019-09-16 07:09] CHEEKATLAPRADEEP-MSFT commented on #38934
@roxxette Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/88618](https://github.com/MicrosoftDocs/azure-docs-pr/pull/88618).
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to tak

[2019-09-16 07:10] SnehaAgrawal-MSFT commented on #38748
@shanberg1 Thank you for your understanding on this. We will now close this out but if you feel you need more information please just let us know.

[2019-09-16 07:10] #38748 closed

[2019-09-16 07:11] codevulture opened #38935 "No Alerts for Security Recommendations as it is now moved to Security Center"
Security is moved to Security Center now , There should be a Note to mention that Alerts for Security Recommendations could not be configured as i could not see the option for security while configuring alerts. Please check if my understanding is correct or if i missed something. thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-09-16 07:12] SnehaAgrawal-MSFT commented on #38843
@TsuyoshiUshio Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-09-16 07:22] IdanAviad opened #38938 "Exception while trying to enroll the simulated device"
Hello,
I’m trying to follow the IOT Provisioning Quickstarts tutorial (Create and provision a simulated TPM device using C# device SDK for IoT Hub Device Provisioning Service).
I keep getting the following exception while trying to enroll the simulated device.
Can you please help me figuring what is the problem?
I’m pretty sure that I entered a valid Endorsement key and Registration ID as displaye

[2019-09-16 07:23] linda33wj commented on #32436
Thanks for the feedback. The tutorial has been updated.
#please-close

[2019-09-16 07:23] #32436 closed

[2019-09-16 07:24] linda33wj commented on #35682
Thanks for the feedback. The tutorial has been updated.
#please-close

[2019-09-16 07:24] #35682 closed

[2019-09-16 07:25] genlin commented on #38126
@dcbrown16  The 169.254.169.254 IP Address has many purposes such as providing the [Azure Instance Metadata Service](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service).  For more detail information, please contact [our support](https://go.microsoft.com/fwlink/?linkid=2083458).

[2019-09-16 07:26] genlin commented on #38126
I will proces to close this issue. Feel free to reopen it if there is any additional comment or question.

#please-close

[2019-09-16 07:26] #38126 closed

[2019-09-16 07:33] pvrk commented on #37528
The doc has been updated with [PS guidance to delete vault](https://docs.microsoft.com/azure/backup/backup-azure-delete-vault#delete-the-recovery-services-vault-by-using-powershell).

[2019-09-16 07:33] pvrk commented on #37528
#please-close

[2019-09-16 07:33] #37528 closed

[2019-09-16 07:36] genlin commented on #37900
@Djongov，Yes, Azure supports exporting the certificate. I will update the article. Thanks for helping to improve the article.

[2019-09-16 07:37] AshokPeddakotla-MSFT commented on #38614
@BhupalPatil You can provide your feedback on the [UserVoice](https://feedback.azure.com/forums/321918-azure-iot) for this feature.

As this is out of the scope of this document let me kindly ask that you open a new issue on MSDN or Stack Overflow so the community can help answer it.

[2019-09-16 07:47] Grace-MacJones-MSFT commented on #38733
Hi @ggilman42, I reproduce your scenario and I was able to see the app node when i right-clicked. Double check to make sure you have already [created an ASP.NET app in Azure App Service ](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-dotnet-framework)with the subscription you signed into Azure in Visual Studios. If you aren't  seeing the "view setting" it means tha

[2019-09-16 07:47] #38733 closed

[2019-09-16 07:57] genlin commented on #36694
@mildsauce Both PEAP-TLS and PEAP-TLS are supported by NPS for the certificate authentication. For more detail information about how to configure the NPS, please [contact our support](https://go.microsoft.com/fwlink/?linkid=2083458) for help.

[2019-09-16 08:00] genlin commented on #36694
I will process to close this issue. Free feel to reopen it if there is any other question or comment about this problem.

[2019-09-16 08:00] genlin commented on #36694
#please-close

[2019-09-16 08:00] #36694 closed

[2019-09-16 08:06] clemensv commented on #38740
The sample @Infinitism points to is using our SDK with a callback registration for the receive side, and that makes it -- by design -- entirely moot to debate whether there is "long polling", because the implementation hides the acquisition details completely.

That said, when using AMQP, which is the default protocol, messages are acquired over a stateful protocol and with a credit-based flow. "L

[2019-09-16 08:09] KetanChawda-MSFT commented on #38740
@Infinitism We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-16 08:09] #38740 closed

[2019-09-16 08:10] KetanChawda-MSFT commented on #38768
@albilaga The [Azure Storage Emulator](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-emulator) is only supported for Windows.

`Azurite` **isn't officially supported by Azure Functions yet** - Azure/azure-functions-core-tools#1200

Also, note that this channel is for driving improvements towards MS Docs, Since this issue is not related directly to the doc, I would recommend you

[2019-09-16 08:10] #38768 closed

[2019-09-16 08:18] jakaruna-MSFT commented on #38925
@Redgwell
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-16 08:18] dcurwin commented on #38276
#reassign:GeethalakshmiG

[2019-09-16 08:18] #38934 closed

[2019-09-16 08:36] ChiragMishra-MSFT commented on #38603
@ShubhaVijayasarathy Can you please take a look at this ?

[2019-09-16 08:37] ChiragMishra-MSFT commented on #38599
@ShubhaVijayasarathy Can you please take a look at this ?

[2019-09-16 08:40] ChiragMishra-MSFT commented on #38817
@robert-murray You should be able to create a dataset on your local folder/drive by following [this doc](https://docs.microsoft.com/en-us/azure/data-factory/connector-file-system).

I am closing this issue now. If things don't work for you, please open a new thread on the above suggested doc.

[2019-09-16 08:40] #38817 closed

[2019-09-16 08:50] KrishnaG-MSFT commented on #38935
@codevulture Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-16 08:51] ricohomewood opened #38939 "Discrepancy in firewall rule requirements"
On this page it states:
[code]
Which is that ports 1433 and range 11000-11999 require opening for the Azure SQL Database gateway IP addresses in the region.

However this document (https://docs.microsoft.com/en-us/azure/sql-database/sql-database-connectivity-architecture#azure-sql-database-gateway-ip-addresses) states:
[code]
Which states that port 1433 and range 11000-11999 be opened for ALL Azur

[2019-09-16 08:52] donchai opened #38940 "Supported Region"
Noticed "Southeast Asia" region currently supporting "Soft Delete" feature.
An updated supported region matrix on this page would be very much helpful.
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee926e55-244a-b28c-1daa-ba56402d7149
* Version Independent ID: fccf77f3-d758-7023-efe4-fdce809967a2
* Content: [S

[2019-09-16 08:54] mike-urnun-msft commented on #38573
@anilpras I believe you're referring to the VM limits and you're right that there would be an eventual limit as per the Kudu doc (which can then be reasoned separately with your unique architecture and scale strategy) but the detail communicated on the doc above is still correct in the context of how outbound connection limit applies to a Function app instance.

We will now proceed to close this t

[2019-09-16 08:54] #38573 closed

[2019-09-16 08:55] CHEEKATLAPRADEEP-MSFT commented on #38862
@tiandklerk Azure Data Lake Storage Gen2 connector works as excepted without any issues.
Could you please provide the complete steps which you are trying along with the screenshot of the error message?

[2019-09-16 08:57] KrishnaG-MSFT commented on #38940
@donchai Thanks for the comment.
Assigning content owner @dcurwin for visibility, review and document enhancement considerations.

[2019-09-16 09:00] florianbader commented on #37084
@Alberto-Vega-MSFT Any updates on this?

[2019-09-16 09:09] KrishnaG-MSFT commented on #38935
@codevulture Your understanding is correct.

The document you were referring to is a get started document which basically talks about learning how to access Advisor through the Azure portal, getting recommendations, and implementing recommendations.

Your ask is absolutely valid and so we already have the required 'note' added in [this](https://docs.microsoft.com/en-us/azure/advisor/advisor-alerts

[2019-09-16 09:10] alexander-riss opened #38941 "GET parameters in wehbook URL not supported?"
Our webhook requires a GET parameter in the webhook target URL like https://myservice/thewebhook?aParameter=aValue , it looks like this parameter is getting stripped from the webhook? is this by design or can this be fixed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abdefe38-e71e-4e84-d504-a47351bc1325
* Version In

[2019-09-16 09:16] dcurwin commented on #38940
@ThalathBhagya - that is in your update, correct?

[2019-09-16 09:16] shashishailaj commented on #21911
@johndowns Thank you. I was just checking in case it needed any documentation updates or not . Thanks for sharing.

cheers.

[2019-09-16 09:19] natevictorlee opened #38942 "How to specify package dependency when executing spark job from intelliJ"
How to specify package dependency when executing spark job from intelliJ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd3c784d-8201-db31-8d1a-23703f935377
* Version Independent ID: d7ac03d6-426d-a2b5-f95b-b2639eea9579
* Content: [Tutorial: Scala Maven application for Spark with IntelliJ - Azure HDInsight](https://do

[2019-09-16 09:20] danimir commented on #38930
@Fabian-Schmidt - The parameters you ask for are proprietary information and are cannot be shared at this time. If you believe that automatic tuning is causing issues on your database, you can turn it off and test if the blocking is or is not related to it. So far we haven't had a case such is yours, therefore I would advise this test. There could be many reasons as why blocking occurs, which migh

[2019-09-16 09:22] KrishnaG-MSFT commented on #38898
@vanthoainguyen [This](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-common-schema-definitions#log-alerts) document has a note related to the same but for monitoring service Log Analytics in this case. Hope this helps to relate!

i.e., _For log alerts that have a custom JSON payload defined, enabling the common schema reverts the payload schema to the one described as follow

[2019-09-16 09:22] pdebruin commented on #19543
This tutorial should mention all the other supported languages, ideally with screenshot, including java, node, go, python, ruby, etc

[2019-09-16 09:23] RohitMungi-MSFT commented on #38941
@alexander-riss Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-09-16 09:29] RohitMungi-MSFT commented on #38776
@areddish Do we have a documented way of checking the tensorflow version used by Azure custom vision service when we export the compact model?

[2019-09-16 09:32] #38886 closed

[2019-09-16 09:34] mafonso commented on #34828
I'm facing the same issue with the TLS certificate for a custom domain.
Manually creating the resource and export the template does not reveal anything and there is a warning that some resources can't be exported.

Also having a bit of trouble with the Front Door WAF policies, and can't find a way to associate the pre-defined managed rules (e.g.  DefaultRuleSet_1.0) from the ARM template.

[2019-09-16 09:39] anssenfang1 opened #38943 "Problem for: Set spark.sql.hive.hiveserver2.jdbc.url to the JDBC connection string,"
In setting up the Hive warehouse connector in Spark cluster for the JDBC connection string.
The Documentation (https://docs.microsoft.com/en-us/azure/hdinsight/interactive-query/apache-hive-warehouse-connector) says to setup the JDBC connection string in the following format, which did not work for me.
jdbc:hive2://LLAPCLUSTERNAME.azurehdinsight.net:443/;user=admin;password=PWD;ssl=true;transportM

[2019-09-16 09:44] aagamdoshi opened #38944 "Need to provide a Single sign on functionality for Windows App"
Hi,

Need some suggestions to implement a SSO feature for Windows App having Active Directory on Azure, on click of Login Button , i need to fetch the users email address in any way possible.

Need some suggestions to fetch the logged in user email address on Azure AD

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f8c

[2019-09-16 09:52] ram-msft commented on #38694
@joyceywho We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-16 09:52] #38694 closed

[2019-09-16 09:55] kamranbashir opened #38945 "Inactive user session timeout - asp.net mvc"
Dear All,
Hope you are doing great.

Having a werid issue, seems refresh token is not being revoked. I am using azure b2c sign in policy v1. i explain the issue below.

1. Let suppose when we sign in 10:00 am time the UTC time was 9:00 am.

2. Framework set session cookie expiry time to 9:15 UTC time.

3.After 15 mins user inactive session on user interaction we redirect to sign in page. (as expec

[2019-09-16 09:55] souravmishra-msft commented on #38858
@tmaheshwar, Consent is needed to make sure that the permissions (scopes/roles) on an application protected by App Registration, so that the protected service can be accessed by fetching a token with these permissions in the token. The token is issued (along with the scopes listed in it) on behalf of the user and this token is used by the application to access the resources. When you assign a new

[2019-09-16 09:59] Pete1138 commented on #38830
Could connection pooling in .NET affect the database pausing?

[2019-09-16 10:01] CHEEKATLAPRADEEP-MSFT commented on #38942
@natevictorlee The below articles helps how to specify packages dependency when executing spark job from intellij:

https://docs.microsoft.com/en-us/azure/hdinsight/spark/apache-spark-create-standalone-application

https://docs.microsoft.com/en-us/azure/hdinsight/spark/apache-spark-intellij-tool-plugin

Hope this helps.

[2019-09-16 10:07] souravmishra-msft commented on #38674
@Roblarson, I apologize for missing on that part. I would request the author to add the details about the Access Policies required for downloading a cert from Azure key Vault added to the document.

[2019-09-16 10:07] KalyanChanumolu-MSFT commented on #38830
@Pete1138 It is very difficult to troubleshoot this issue remotely without looking at your set up.

If you have an Azure support plan, please file a ticket with support.
If you don't have an Azure support plan please send your Azure subscription GUID to AzCommunity at Microsoft.com referencing this thread along with my name.
I will send back instructions to have a full-fledged incident ticket crea

[2019-09-16 10:14] CHEEKATLAPRADEEP-MSFT commented on #38943
@anssenfang1  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-09-16 10:16] KalyanChanumolu-MSFT commented on #38848
@Robab02 Its been a while we heard back from you.
We will proceed to close this issue now. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-09-16 10:17] KalyanChanumolu-MSFT commented on #38888
@tangp3 Its been a while we heard back from you.
We will proceed to close this issue now. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-09-16 10:17] #38888 closed

[2019-09-16 10:19] AjayKumar-MSFT commented on #38931
@WenJason, Thanks for posting the question and sharing your feedback! Just to clarify, what specific sample section/code are you facing issues with? What is the exact error message you receive?

[2019-09-16 10:21] Robab02 commented on #38848
Hi Kalyan,

Kindly keep this open.
I have not got any revert on this and donot understand what document are you referring to.

Thanks & Regards,
Robab Haider
Deputy Manager | Risk Advisory – Cyber Risk Services
Deloitte Touche Tohmatsu India LLP
M: +91 (0)97 0247 2990
rohaider@deloitte.com | www.deloitte.com

[cid:image016.png@01D56CA6.96094AE0]

[cid:image017.png@01D56CA6.96094AE0]<https://www.li

[2019-09-16 10:22] AshokPeddakotla-MSFT commented on #37084
@robinsh Appreciate if you can provide any suggestions on this question.

[2019-09-16 10:23] souravmishra-msft commented on #38674
@msmbaldwin, can you please review the request.

[2019-09-16 10:27] KalyanChanumolu-MSFT commented on #38848
@Robab02 Support on GitHub is limited to documentation issues only.
If this feedback is regarding a document published on GitHub.com, please provide the URL of the document so that we can reopen the issue and route it to the appropriate team.

If this is regarding a product issue, please post on [MSDN Forums](https://social.msdn.microsoft.com/Forums/en-US/home?forum=ssdsgetstarted)

[2019-09-16 10:28] ananthradhakrishnan commented on #38898
@KrishnaG-MSFT : Yup, spot on. The search results are not included if it causes the payload to cross the size limit of 256KB. For such scenarios, the recommendation is to use the search query and other payload parameters (search interval start/end time, etc.) in conjunction with the Log Analytics REST API for the complete search results.

@harelbr  as FYI.

[2019-09-16 10:39] tiandklerk commented on #38862
Hi @CHEEKATLAPRADEEP-MSFT

Sure here are the steps I followed:
Following steps in Azure:
- Created a storage account and enabled Hierarchical namespaces.
- Created a data lake gen 2 file system and created a container with files.
- Gave my account access and assigned it "Storage Blob Data Reader" role.
Next steps in Power BI Desktop:
- I selected get data and selected the Azure Data Lake Storage G

[2019-09-16 10:44] AshokPeddakotla-MSFT commented on #38938
@IdanAviad Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-16 10:48] AshokPeddakotla-MSFT commented on #38548
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-16 10:48] #38548 closed

[2019-09-16 10:48] Robab02 commented on #38848
Doc link:

https://github.com/MicrosoftDocs/azure-docs/blob/8c3b98489c7ab06565acbd0e4ee9347ac5ac7124/articles/active-directory/saas-apps/oracle-fusion-erp-tutorial.md

Thanks & Regards,
Robab Haider
Deputy Manager | Risk Advisory – Cyber Risk Services
Deloitte Touche Tohmatsu India LLP
M: +91 (0)97 0247 2990
rohaider@deloitte.com | www.deloitte.com

[cid:image009.png@01D56CAA.48F6ED80]

[cid:image

[2019-09-16 10:48] AshokPeddakotla-MSFT commented on #38614
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-16 10:48] #38614 closed

[2019-09-16 10:52] KalyanChanumolu-MSFT commented on #38848
Re-opening the issue and editing the post to include page metadata.

[2019-09-16 11:04] vanthoainguyen commented on #38898
Thank s for your response. In some of my alerts, the Search results count is 1 or 2 but the payload was still showing IncludeSearchResult = false. I were aware if the size so was trying to test with projection a few columns to make sure it won't exceed 256kb.

[2019-09-16 11:25] cephalin commented on #37835
@olofhellman instructions added for Mac. It should be published sometime today. #please-close

[2019-09-16 11:25] #37835 closed

[2019-09-16 11:31] wtam commented on #38613
@ram-msft, Thanks but would you let me know when the fix available?

@j-martens , Yes the issue occur on 1.0.60 and also 1.0.57 is alightly beet but still have issues and here's the break down
-1.0.60 has issue from the azureml's get_model_path  which 1.0.57 has no issue
-1.0.57 has issue with Webservice.deploy which somehow still trying to download h5.tar.gz from the Model directory and at the en

[2019-09-16 11:31] danimir commented on #37458
@Blackbaud-CameronBlack - Thank you on your feedback. You are correct, the statement databases/* is too permissive. Article will be updated shortly to remove this line item.

[2019-09-16 11:33] DrReedo opened #38946 "Is it possible to buy a certificate to use as a client certificate and not the domain?"
I would like to buy an Azure certificate to use as a client certificate for authenticating from the APIM to the API.  The API is already secured with SSL in Azure.  What do I enter in the certificate details e.g. Naked Domain in order that I can purchase such a certificate?  Is this possible?
many thanks

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-09-16 11:46] MikeInSwitzerland opened #38947 "Lost in translation"
I'm really missing something here...  I have created a Web API in VS2019, with Docker support.  I *have* a Dockerfile in this project, and I have Published to a docker "container registry" in Azure.  I've also created a Docker Resource Group, to contain this container registry.   This all works fine... but what now ?  How do I get Azure to actually run the Web API from this container ?   Surely af

[2019-09-16 11:51] RikardStrand commented on #38741
Thanks for the information. But you have removed the Azure AD Basic - so you need to be more clear what SSO provisioning (only direct user assignments) are allowed with at gallery app using Azure AD Free.

For anything useful - a P1 license is needed.

[2019-09-16 12:01] SadiqhAhmed-MSFT commented on #27577
@dcbrown16 Thanks for your contribution. I see that the PR is merged.

[2019-09-16 12:01] AlexanderTodorovic opened #38948 "AnalysisException: Unable to infer schema for CSV. It must be specified manually."
Dear all,

the code `upsertDataDF = (spark
  .read
  .option("header", "true")
  .csv(inputPath)
)
upsertDataDF.createOrReplaceTempView("customer_data_to_upsert")`
runs into

How can this be fixed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fc98932-2ac8-45b7-3609-386626bc41f4
* Version Independent ID: ea9fe6d2-a1a

[2019-09-16 12:02] kirodge opened #38949 "Default value for parameter of type bool"
We used citation around the default value for a parameter of type bool - "true" - and got the following error during deploy when we omitted the parameter:

"The provided value for the template parameter 'SomeParameterName' at line '1' and column '362' is not valid."

When we removed citation from the default value  - true - the deploy was successful.

I suspect there is an error in the documentati

[2019-09-16 12:06] twinharbor commented on #38644
Mike - I'm showing that even that beta version still references: Microsoft.Azure.KeyVault (>= 2.0.6 && < 3.0.0) so hopefully a newer release will correct it. Any idea how long that may take? I'm trying to get a dev cycle complete in the next few days and wonder if I need to come up with some other kind of workaround. Thanks!

[2019-09-16 12:15] KrishnaG-MSFT commented on #38949
@kirodge Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-16 12:16] SwathiDhanwada-MSFT commented on #38836
@omerzubair Once you have migrated to the AZ modules you should not run any of the sample runbooks that use the ARM modules and also that running any runbooks using the ARM modules in an Automation Account that has runbooks using the AZ modules will result in failures in those runbooks using the AZ modules due to conflicts.

Also make sure to clear cache and try running the runbooks.

Hope this he

[2019-09-16 12:23] AjayKumar-MSFT commented on #38814
@aweFalafelApps, Thanks for reporting this issue!
The demonstration code does use the trailing slash(/).
"var conn = (System.Data.SqlClient.SqlConnection)Database.GetDbConnection();
conn.AccessToken = (new Microsoft.Azure.Services.AppAuthentication.AzureServiceTokenProvider()).GetAccessTokenAsync("https://database.windows.net/").Result;".
The error message you shared typically occurs when an AAD u

[2019-09-16 12:29] dhanrajbsheth commented on #38767
@chetansriv <https://github.com/chetansriv> I would not like to confirm
anything :) but looks like you should be asking to someone who updated the
app, to to the team supporting AAD SSO.

Thanks,

Dhanraj B. Sheth

On Mon, Sep 16, 2019 at 1:34 AM Chetan <notifications@github.com> wrote:

[2019-09-16 12:37] VishveshKaushik opened #38950 "Issue with Active Directory Authentication"
I am able to run the application in Azure App Services, with SQL Authentication and Azure AD authentication with password
However as soon as I switch the connection to Active Directory Integrated, I get the following error in Visual Studio

AdalException: No mapping between account names and security IDs was done.]

After deployment I get 500 error with Active Directory Integrated. It works with S

[2019-09-16 12:41] natevictorlee commented on #38942
@CHEEKATLAPRADEEP-MSFT I have already looked at https://docs.microsoft.com/en-us/azure/hdinsight/spark/apache-spark-intellij-tool-plugin

And I used the following for package management:
-------------------------------------
name := "avrosubmitinhdinsights"
version := "1.0"
scalaVersion := "2.12.8"
libraryDependencies ++= Seq(
"org.apache.spark" % "spark-core_2.12" % "2.4.4",
"org.apache.spark" %

[2019-09-16 12:55] dcurwin commented on #38940
#reassign:ThalathBhagya

[2019-09-16 13:00] natevictorlee opened #38951 "ADLS gen 2 can be attached to an existing HDI cluster whose primary storage is NOT ADLS gen 2."
- HDInisght - Storage options: Primary and Secondary
- Document link: https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-hadoop-compare-storage-options
--------------------------------------
So, in the documentation, it says that the following combination for primary and secondary storage are not supported:
**General Purpose V1/General Purpose V2 (Primary Storage Option) + Data Lake Storag

[2019-09-16 13:03] CeciAc opened #38952 "No documentation for ACI properties.readinessProbe"
@Herr-Sepp commented on [Mon Sep 16 2019](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/545)

The ACI documentation completely lacks the API item "properties.readinessProbe".

Since the API documentation (https://docs.microsoft.com/de-de/rest/api/container-instances/containergroups/createorupdate#containerprobe )does not distinguish between liveProbe and readinessProbe, and since no exa

[2019-09-16 13:13] lukepuplett opened #38953 "Clarify what Azure Applications is/are"
What is meant by Azure Applications is ambiguous. Its says Virtual Machines, Networking, Storage, Other Azure Services, which on a Venn diagram that last one would include everything. So Azure Applications are anything on Azure?

I've been working with Azure since 2009 and I've never heard this term.

Then this:

"For Virtual Machines and Azure Applications, the Azure infrastructure usage fees are

[2019-09-16 13:15] craigshoemaker commented on #30814
The doc is now updated with a section on working with [options and settings](https://docs.microsoft.com/azure/azure-functions/functions-dotnet-dependency-injection#working-with-options-and-settings).

Thanks to @rameshjanjyam for the code snippet that we used to update the doc with 😉

#please-close

[2019-09-16 13:15] #30814 closed

[2019-09-16 13:17] craigshoemaker commented on #37115
In general you don't want to use any classes during start up that are being setup at the time of startup. The doc is now updated to include a few [caveats](https://docs.microsoft.com/azure/azure-functions/functions-dotnet-dependency-injection#caveats) that discusses the limitations during setup.

#please-close

[2019-09-16 13:17] #37115 closed

[2019-09-16 13:18] CeciAc commented on #38952
Hi team,
I'm moving this here because it seems the user is requesting aditional documentation

Kind regards,
Microsoft DOCS International Team

[2019-09-16 13:18] MGoedtel commented on #37243
Fixed and published updated article last week.  #please-close

[2019-09-16 13:18] #37243 closed

[2019-09-16 13:43] HeidiSteen commented on #38927
@DotNetMatt  Thanks for posting the issue. Apache solr is the only valid value, so yes to your question about default value.  I'll include it in the example. Even if its default, it's a required property and the sample isn't helpful if its not showing all of the required properties.  Here is a link to the reference doc in case you need it:  https://docs.microsoft.com/en-us/rest/api/searchservice/c

[2019-09-16 13:44] anavinahar opened #38955 "Multiple app service plans connecting to different subnets in same VNet?"
I had a case with a customer where they had 2 App service plans, and were trying to connect to different subnets in the same VNet and got the error that the limit is 1. If this is a limit, please document it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a98803-1438-b1b5-f543-7dd88bc4294e
* Version Independent ID: 3

[2019-09-16 13:47] porrascarlos802018 opened #38956 "Missing documentation , prevents users testing full performance of ACR"
Customer said
"The download is not the issue (completes within 30 seconds) but extracting the docker image tar files is the bottleneck, because of the storage backed OS disk.
Apparently the team plans to move to using ephemeral OS disk for this"

This information should be available to all and correct procedure as well to determine the extraction is the problem.

---
#### Document Details

⚠ *Do n

[2019-09-16 13:49] MGoedtel commented on #38478
I'm not able to replicate your issue and I've not had any similar feedback.  This is the link to it from YouTube - https://www.youtube.com/watch?v=RjsNmapggPU&feature=youtu.be

#please-close.

[2019-09-16 13:49] #38478 closed

[2019-09-16 13:56] MGoedtel commented on #38468
@akramwaseem - Can you elaborate - are you suggesting about creating a Log Alert using ARM template?  If so, see here - https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-log#managing-log-alerts-using-azure-resource-template.  I'll create a work item for this and update the article with a link later this week.

[2019-09-16 13:57] CeciAc opened #38957 "managedClusters categories need udpate"
Hi team,
I'm moving this from here: https://github.com/MicrosoftDocs/azure-docs.sv-se/issues/455
the user is making a suggestion on the original documentation

@zysimplelife commented 2 hours ago — with docs.microsoft.com

Looks like following category is not existed anymore. instead, kube-audit is missing from the table.

Microsoft.ContainerService/managedClusters guard Authentication Webhook

--

[2019-09-16 13:58] craigshoemaker commented on #30815
Configuration support is a feature that the product team is investigating. Since this is more a product issue than a doc issue, I am going to #please-close this thread for now.

To request specific features, please feel free to [open an issue propose them in the azure-functions-host](https://github.com/azure/azure-functions-host/issues) repo.

[2019-09-16 13:58] #30815 closed

[2019-09-16 13:59] craigshoemaker commented on #32962
Configuration support is a feature that the product team is investigating. Since this is more of a product issue than a doc issue, I am going to #please-close this thread for now.

To request specific features, please feel free to [open an issue propose them in the azure-functions-host](https://github.com/azure/azure-functions-host/issues) repo.

[2019-09-16 13:59] #32962 closed

[2019-09-16 14:00] craigshoemaker commented on #32621
Configuration support is a feature that the product team is investigating. Since this is more of a product issue than a doc issue, I am going to #please-close this thread for now.

To request specific features, please feel free to [open an issue propose them in the azure-functions-host](https://github.com/azure/azure-functions-host/issues) repo.

[2019-09-16 14:00] #32621 closed

[2019-09-16 14:00] hrasheed-msft commented on #38943
@anssenfang1 Could you be more specific when you say its not working? Are you getting a specific error message?

[2019-09-16 14:05] craigshoemaker commented on #32004
Moving to #please-close this issue as it's not a doc-related issue.

[2019-09-16 14:05] #32004 closed

[2019-09-16 14:07] anssenfang1 commented on #38943
Hi Hassan,

I will update you the detailed error information later as it is from customer’s cluster.

For the explicit user name and password issue, could you please check if we can any alternative?

Could you please also check if Zookeeper based JDBC URL can be added as a second option instead of connecting from the 443 port?

Thanks

Anssen

From: Hassan Rasheed <notifications@github.com>
Sent:

[2019-09-16 14:18] Tottmar opened #38958 "Trigger event when you append to a blob."
Is it possible to trigger an event when you append to a blob? I only see the event "eventType": "Microsoft.Storage.BlobCreated". This event does not seem to trigger when I append to a blob.

/Andreas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b250ca39-0ba3-20dc-179b-c5a0d80fba9f
* Version Independent ID: 5f1d000e-c

[2019-09-16 14:19] scottcher opened #38959 "using const string for uriBase conflicts with static string endpoint"
Line 15 defines a static string endpoint set to the value of the environment variable.  Line 18 defines a const string uriBase which is the concatenation of the static string endpoint with the string representing the remainder of the Computer Vision Analysis endpoint.  You will get a "The expression being assigned to 'Program.uriBase' must be constant" error.  You can just change uriBase to be def

[2019-09-16 14:21] revodavid opened #38960 "Invalid --group flag in az cognitiveservices account create"
The flag is now called --resource-group or -g

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43697779-f7ae-0a78-f8bd-ad9a67f7c345
* Version Independent ID: b3a7d060-a67e-83a8-26ad-cef8b3e211be
* Content: [Create a Cognitive Services resource using the Azure CLI - Azure Cognitive Services](https://docs.microsoft.com/en-

[2019-09-16 14:28] hrasheed-msft commented on #38942
@natevictorlee This is more of a support request than a documentation issue. Are you an internal Microsoft user? If so, could you email me at hrasheed@microsoft.com?

We have gotten another request very similar to this and it may be easier to resolve them all in the same thread.

[2019-09-16 14:28] NavtejSaini-MSFT commented on #38830
@Pete1138 Please send in your details and for now we will go ahead and close this ticket.

[2019-09-16 14:28] #38830 closed

[2019-09-16 14:32] ashemedai opened #38961 "Mentioned reserved IP addresses of netblocks is not quite correct"
The section https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-faq#are-there-any-restrictions-on-using-ip-addresses-within-these-subnets is not quite correct. While for many CIDR ranges it will indeed reserve 0–3 and 255, for netblocks smaller than /24 this document is factually incorrect. It will reserve whatever are the first 4 IP addresses of said netblock as well as the br

[2019-09-16 14:34] chrisdpratt commented on #38837
While the docs should still probably be updated to more closely reflect the current version, it actually has no impact as-is. The version number is written as "~> 1.5", which means anything between 1.5.0 and 2.0.0. As such, it will use the latest released version (i.e. 1.33.1, currently).

[2019-09-16 14:36] GiftA-MSFT commented on #38960
@revodavid, thanks for your feedback. We will look into this and get back to you soon.

[2019-09-16 14:39] RohitMungi-MSFT commented on #38932
@netRunner0 Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-09-16 14:40] souravmishra-msft commented on #38852
@DecorteHannes, Thanks for sharing the query. As per our documentation, we send the request which is defined in the LogoutURL at the time of registering the application.
For more information, please check: [https://docs.microsoft.com/en-us/azure/active-directory/develop/single-sign-out-saml-protocol](url)

[2019-09-16 14:40] chrisdpratt commented on #35595
This seems to be a dupe of #33057. In any case, the docs are now correct, so this issue can be closed.

[2019-09-16 14:44] AmirHossein opened #38962 "Can't login to Remote Desktop and File Sharing fails when 2FA enabled"
Authentication for Remote Desktop and File Sharing in Local Network always fails when 2FA enabled, Both devices are Windows 10 1903 and joined to Azure AD. I tried it with Surface Pro 4, Surface Book, PC and multiple Office365 accounts.
It will be solved as soon as 2FA disables.

[2019-09-16 14:46] GiftA-MSFT commented on #38959
@scottcher, thanks for your feedback. We will look into this and get back to you soon.

[2019-09-16 14:56] JawadJaber opened #38963 "MQTT on multiple devices"
I have tested to connect multiple IoT Devices consequently using same TLS connection, I found it is working well. Do you mean that we cannot connect them simultaneously using MQTT?
If yes, then I believe you need to rephrase the sentence as follows
"Use on all devices that do not require to connect multiple devices 'simultaneously'".
"When using MQTT and HTTPS, you cannot connect multiple devices

[2019-09-16 14:57] shashishailaj commented on #38782
@GitTune Geographically close locations essentially means locations which would have similar IP ranges as the familiar devices. So if you are a universiy and you run your own ISP and provide IP addresses to your students within your network then anything within the same IP range woudl be familiar. Similarly , If you take your laptop home and connect to your home network every day a pattern emerges

[2019-09-16 14:57] #38782 closed

[2019-09-16 14:59] shashishailaj commented on #38754
@sln007 We are trying to get more details on this internally. We thank you for your patience.

[2019-09-16 15:08] Dan-cws commented on #16997
I'm still having the same issue...

[2019-09-16 15:10] #35595 closed

[2019-09-16 15:12] MicahMcKittrick-MSFT commented on #38956
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-16 15:13] MicahMcKittrick-MSFT commented on #38952
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-16 15:13] NavtejSaini-MSFT commented on #38930
@Fabian-Schmidt Please do check as recommended by @danimir . For now we are going ahead and closing this thread. Please do get back to us of you have any other question and we will continue the dialogue.

[2019-09-16 15:13] #38930 closed

[2019-09-16 15:13] MicahMcKittrick-MSFT commented on #38947
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-16 15:13] jay-amd opened #38964 "Cannot open the solution file"
When I attempt to open the solution file in VS 2019, I get an error messages stating the solution file is incompatible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72d855c6-51fd-a1da-5c44-8b44658c0211
* Version Independent ID: 15c87b07-e89e-2b0c-6337-3940a5259101
* Content: [Build ASP.NET app with SQL Database - Azu

[2019-09-16 15:15] langstonj opened #38965 "Primary databases and their geo-replicated secondary counterparts"
What is different (or why) about the treatment of a primary database versus its geo-replicated counterpart.  Should they not yield the same scan result?  Start-AzSqlDatabaseVulnerabilityAssessmentScan on primary database ABC yields zero failed security checks while its geo-replicated counterpart has several and these are run minutes a part.  A word or two of clarification would be helpful.

---
##

[2019-09-16 15:15] NavtejSaini-MSFT commented on #38939
@ricohomewood We are checking this and will get back to you.

[2019-09-16 15:16] jay-amd commented on #38964
I get the following message:

Unsupported
This version of Visual Studio is unable to open the following projects. The project types may not be installed or this version of Visual Studio may not support them.
For more information on enabling these project types or otherwise migrating your assets, please see the details in the "Migration Report" displayed after clicking OK.
	 - DotNetAppSqlDb, "D:\D

[2019-09-16 15:17] NavtejSaini-MSFT commented on #38965
@langstonj We are looking into this and will get back to you.

[2019-09-16 15:21] townxelliot opened #38966 "Is depends_on supported by docker-compose in Web Apps for Containers?"
The article

https://docs.microsoft.com/bs-latn-ba/azure/app-service/containers/tutorial-multi-container-app

gives an example which shows `depends_on` being used in a docker-compose.yml file for creating a multi-container app.

However, there is a page linked to this one:

https://docs.microsoft.com/bs-latn-ba/azure/app-service/containers/configure-custom-container

with a section about supported

[2019-09-16 15:29] olufemig opened #38967 "can i also use this to manage security in ADLS Gen2? Are there any differences?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1316588-f07c-69dd-58ec-005f86ab2e9a
* Version Independent ID: 4005c616-9a33-6224-557d-644719a367f7
* Content: [Securing data stored in Azure Data Lake Storage Gen1](https://docs.microsoft.com/en-us/azure/data-lake-store/data-lake-store-secure-data)
*

[2019-09-16 15:35] ewahner commented on #32340
Yes I understood that we don't need the extension in VS 2019.  My question is in VS **2019** how do I indicate that I wish for the azure function app to run from package as there is no option for this in the Publish dialog.

[2019-09-16 15:37] RohitMungi-MSFT commented on #38921
@casieo Thanks for the feedback. After reviewing the documentation of the service it looks like this value is not generated as part of the machine learning service. This could be a feature request to our team, please feel free to add the same at our [user voice forum](https://feedback.azure.com/forums/257792-machine-learning).

@trevorbye Could you please confirm if there is a way to generate the

[2019-09-16 15:48] ROSMITHJ-MSFT opened #38969 "Update Page to Match Solution"
Hello Team,

As the AD Assessment solution seems to have been updated with two additional focus areas (Operations & Monitoring and Change & Configuration Management), could we get an update to this page to include the descriptions for the two additional focus areas?

Many thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-09-16 15:50] HoCGeek commented on #37339
What was the change that was pushed out?  The directoryroletemplate description for "Directory Readers" says "Can read basic directory information. Commonly used to grant directory read access to applications and guests."" while this article says "Can read basic directory information. For granting access to applications, not intended for users.".  If this role should not be used for "users", what

[2019-09-16 15:51] petermillsacumentive commented on #36717
Apologies for the delay, we have indeed confirmed this is not a bug. When a module starts for the first time, the event fires. So we have made our Python script sleep until the module twin value we want is populated and we are ready to sense. Apologies if I missed this in the documentation, as we were keen to work exactly how our C# modules were.

[2019-09-16 15:55] maviso5 commented on #38447
Thanks, see the updates, get error when compiling/running now;
<img width="765" alt="webapperror" src="https://user-images.githubusercontent.com/30556548/64973392-d87ec900-d8a2-11e9-9ac9-9e2b6de22e96.PNG">

[2019-09-16 15:57] PramodValavala-MSFT commented on #38962
@AmirHossein Could you please share the doc that you are referring to?

[2019-09-16 16:08] ggailey777 commented on #32340
@ewahner interesting. What version of VS 2019 are you using. I still see the **Run from package file** option in the most recent update:
![image](https://user-images.githubusercontent.com/1388263/64974353-7ea9df00-d861-11e9-91c0-effdfb1730d7.png)

[2019-09-16 16:15] ggailey777 commented on #38894
@nickwalkmsft for your questions:
+ Each time the function runs it resets itself by one day. If you use `i` instead of `1` you would get a timer sequence of 2, 3, 4, 5, 6, 7, 8, and 9 days.
+ Each instance of the timer is lasting only one day, it won't have an issue with the 7 day limit.
+ @kashimiz can we provide any more detail about why we recommend not to use the type-specific methods?

[2019-09-16 16:25] ggailey777 commented on #12726
#reassign:ggailey777

[2019-09-16 16:25] PramodValavala-MSFT commented on #38797
@vbrodsky Thanks for catching that! Looks like there is an issue on [Azure Functions VS Code Extension](https://github.com/microsoft/vscode-azurefunctions/issues/1343) for not adding this automatically when adding a binding.

@ggailey777 Would it make sense to add a note to this doc for the time being?

[2019-09-16 16:26] msmimart commented on #38741
@RikardStrand, you're right, user-based provisioning is available in Azure AD Free and group access management is available in Premium editions. The current Azure AD pricing page is the primary resource for Azure editions and features. Thanks for pointing this out; I'm tracking an internal work item to see where we can clarify this with pointers to the pricing page.
#please-close

[2019-09-16 16:26] #38741 closed

[2019-09-16 16:27] ggailey777 commented on #30626
reassign:ggailey777

[2019-09-16 16:28] ggailey777 commented on #30626
unassign:rloutlaw

[2019-09-16 16:29] ggailey777 commented on #14927
#reassign:ggailey777

[2019-09-16 16:29] ggailey777 commented on #14178
#reassign:ggailey777

[2019-09-16 16:30] ggailey777 commented on #13016
#reassign:ggailey777

[2019-09-16 16:42] kulmam92 opened #38972 "How to send data for multiple "time" points"
Would you post an example JSON file that feeds data for multiple "time" points?
I tried below but got invalid JSON format error.

[
 {
    "time": "2018-09-16T10:00:00",
    "data": {
        "baseData": {
            "metric": "QueueDepth",
            "namespace": "QueueProcessing",
            "dimNames": [
              "QueueName",
              "MessageType"
            ],
            "serie

[2019-09-16 16:44] kerbos opened #38973 "Government vs non-government"
At the top of the article we've had a few non-government tenants end up with restricted cases because the purple note jumps out at them for United States. However, portal.azure.us is just for government. Is there a way to make the first sentence more visible and to ensure that is selected for commercial Azure? Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2019-09-16 16:45] PramodValavala-MSFT commented on #38827
@Infinitism @KeithWalton The activity and operational logs are related to management operations performed on the service bus namespaces via Management ARM APIs like working with queues, topics, subscriptions, access keys, etc.

There is a similar issue for updating the docs with a reference on all possible values - #27653

We are assigning this issue to the content author for further review and to

[2019-09-16 16:45] twinharbor commented on #38644
I was able to work around this for now, I got my project to build by clearing out the packages folder and refreshing it all, using all of the older packages. It was getting complicated with different versions, and it will still be good to be able to move up to newer versions eventually.

[2019-09-16 16:47] Grace-MacJones-MSFT commented on #38955
Hi @anavinahar, thanks for bringing this to our attention! We are currently investigating and will update you shortly.

[2019-09-16 16:49] Grace-MacJones-MSFT commented on #38964
Hi @jay-amd,  thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2019-09-16 16:53] SubhashVasarapu-MSFT commented on #38961
@ashemedai, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-09-16 16:55] MicahMcKittrick-MSFT commented on #38433
@AL71B I will close this out but you still have issues just let me know and we can reopen and continue.

[2019-09-16 16:55] #38433 closed

[2019-09-16 16:59] MicahMcKittrick-MSFT commented on #38906
@johncrim thanks for this feedback. I updated the doc to include a reference. Once the PR merges the changes will go live after a few hours.

[2019-09-16 16:59] #38906 closed

[2019-09-16 17:00] MicahMcKittrick-MSFT commented on #38947
@MikeInSwitzerland not sure I fully understand the confusion. The last step in the tutorial is to run the image from the container

https://docs.microsoft.com/en-gb/azure/container-registry/container-registry-quickstart-task-cli#run-the-image

Is that not what you are looking for?

[2019-09-16 17:02] ewahner commented on #32340
[image: image.png]
[image: image.png]

On Mon, Sep 16, 2019 at 12:08 PM Glenn Gailey <notifications@github.com>
wrote:

[2019-09-16 17:03] Alberto-Vega-MSFT commented on #38566
@njbuch I hope the IoT Edge Module direct methods doc I shared with you was useful. For the issues you are facing can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2019-09-16 17:03] Blackbaud-CameronBlack commented on #37458
@danimir Just to clarify... the line was a mistake and will be removed:

(role.Actions.Add("Microsoft.Sql/servers/databases/*");)

... and the remaining permissions will be the minimum needed to functionally run Azure SQL Analytics?

[2019-09-16 17:04] MicahMcKittrick-MSFT commented on #38952
@Herr-Sepp I have assigned this issue to the content author to review and see what we can add as per a better example.

[2019-09-16 17:04] Alberto-Vega-MSFT commented on #38566
Since you will be getting help from a support engineer we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-16 17:04] #38566 closed

[2019-09-16 17:04] mhopkins-msft commented on #38664
I've created a work item on our backlog to update this article to the latest supported SDK. Thanks!

#please-close

[2019-09-16 17:04] #38664 closed

[2019-09-16 17:05] MicahMcKittrick-MSFT commented on #38956
@porrascarlos802018 not sure I fully understand the ask. Can you elaborate? Or what tutorial are you following? Is this related to a Azure Case you have open?

[2019-09-16 17:08] shashishailaj commented on #38848
@chetansriv @jeevansd Could you please have this reviewed and checked accordingly?

[2019-09-16 17:08] XabiBeltza commented on #29362
Well, the documentation link doesn't explain anything especific to Azure AD, or the age limit problem, so I don't think it would help any future users on this specific issue...

[2019-09-16 17:09] KranthiPakala-MSFT commented on #38967
@olufemig  Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2019-09-16 17:10] ewahner commented on #32340
![image](https://user-images.githubusercontent.com/4119168/64978364-503cfb80-d883-11e9-847d-7cce420b9d92.png)
![image](https://user-images.githubusercontent.com/4119168/64978373-57fca000-d883-11e9-9d6c-c84ba041b4b3.png)

[2019-09-16 17:12] Alberto-Vega-MSFT commented on #38712
@fhschmid Just wanted to touch base with you. If you redeployed and things did not worked for you  can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2019-09-16 17:19] ahmedelnably commented on #36000
If you want to deploy to multiple function apps, you can repeat the deployment part with the multiple function apps, basically they will all use the same package.
Having them in the same App Service is not very relevant here

[2019-09-16 17:20] derekrprice commented on #38870
Any news on this?  Is this functionality already available and requiring documentation or should I be making a feature request?  I am still unable to find anything on it in any documentation but the Functions Run-time obviously has it available in its logs and in the names of the blob storage paths it uses to track state for blob triggers.

[2019-09-16 17:21] RyanHill-MSFT commented on #38950
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-16 17:22] MicahMcKittrick-MSFT commented on #38893
@AndyWu7623 good find! I have added a note that the ACR name can only container lower case letters.

Once the PR merges the changes will go live after a few hours.

[2019-09-16 17:22] #38893 closed

[2019-09-16 17:24] ggailey777 commented on #32340
OK, something weird is going on, but it's not a documentation issue. \+ @AngelosP for awareness.
@ewahner can you please report this by using the **Report a Problem** feature in Visual Studio?
![image](https://user-images.githubusercontent.com/1388263/64979192-114f7b80-d86c-11e9-9bb1-82454eca8be0.png)
If you could then come back here and link the two issues, that would be helpful for me.

[2019-09-16 17:28] glimoli commented on #35561
+@Timothy Basham<mailto:Timothy.Basham@microsoft.com> for help on this

﻿Thanks and kind regards,
--
Gabriela Limoli
Sr Escalation Engineer
Azure Platform Technical Support
glimoli@microsoft.com<mailto:glimoli@microsoft.com>
Mon-Fri 9:00am - 6:00 pm PST
[Microsoft]
﻿
One Microsoft Way, Redmond, WA 98052 USA | Privacy Statement<http://go.microsoft.com/fwlink/?LinkId=248681>

From: Dillon Brown <not

[2019-09-16 17:35] markjbrown commented on #23875
Update is now live, https://docs.microsoft.com/en-us/azure/cosmos-db/index-policy

Thanks Sean for bugging me on this :)

[2019-09-16 17:37] virendragour opened #38975 "Microsoft.Azure.ServiceBus not working with .Net Core2.2"
Hi I was working with azure service bus queue and facing an issue with QueueClient with .Net Core 2.2.

Package used: Microsoft.Azure.ServiceBus

Error snapshot
![image](https://user-images.githubusercontent.com/4245804/64980017-9b342e80-d8d6-11e9-8d28-ef6a5f36d142.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21

[2019-09-16 17:38] #38730 closed

[2019-09-16 17:39] Grace-MacJones-MSFT commented on #38791
I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2019-09-16 17:39] #38791 closed

[2019-09-16 17:40] VishveshKaushik commented on #38950
Hi,

I found the error,

I was using  Authentication=Active Directory Integrated instead of
interactive in the connection string.
Once I corrected that, it worked.

regards
-vish

On Mon, Sep 16, 2019 at 1:21 PM Ryan Hill <notifications@github.com> wrote:

--
Thanks
Vishvesh Kaushik

[2019-09-16 17:50] Mikhail-Pranovich commented on #38728
@serlapoi, that is correct, the ApplicationMonitoringWindows is a replacement for StatusMonitor (v1), and is automatically uninstalled with the extension installation. We will work on the docs to get that part clarified.
Thanks for your feedback! We are actively seeking for feedback, and if you are willing to share more of it, please let us know.

[2019-09-16 17:50] SaurabhSharma-MSFT commented on #38944
@aagamdoshi Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-16 17:50] SeanFeldman commented on #23875
No, no, thank **you** Mark.
I can only wish other teams would take doco as serious and responsibly as you do.

[2019-09-16 17:52] erhopf commented on #38722
#reassign: @redcomet

[2019-09-16 17:52] milazzom opened #38978 "Mislabeled section"
I believe the section labeled "Server-side encryption using service-managed keys in customer-controlled hardware" should read "Server-side encryption using customer-managed keys in customer-controlled hardware".  In the data encryption models section, there is no mention of supporting service-managed keys in customer-controller hardware.

---
#### Document Details

⚠ *Do not edit this section. It

[2019-09-16 17:52] FrankHu-MSFT commented on #38887
Hey @ClintBennett Thanks for letting us know about this. I'm going to connect with you offline in regards to this issue, as such I'll be closing out this github issue.

[2019-09-16 17:52] #38887 closed

[2019-09-16 17:53] VanMSFT commented on #38644
Thanks for the update, @twinharbor! We're happy you were able to find a workaround. Regarding the ETA for the updated NuGet - Unfortunately, this is not something we can provide at this time. Our Product Group is currently working on this with high priority. Thanks again for submitting this issue!

#please-close

[2019-09-16 17:53] #38644 closed

[2019-09-16 17:54] erhopf commented on #38722
@IMBhardwaj - Thanks for the clarification. The tags listed in this document are specific to the Azure Speech Service. While there may be similar tags seen elsewhere, that doesn't necessarily suppose cross-service support. With that said, any tag that begins with `mstts` can safely be assumed to be associated with text-to-speech/SSML for the Speech service.

I'm working with @redcomet to get addit

[2019-09-16 17:56] ewahner commented on #32340
Here is the link from that report:

https://developercommunity.visualstudio.com/content/problem/736022/missing-publish-option-run-from-package-file-recom.html

[2019-09-16 17:58] BryanTrach-MSFT commented on #38946
@DrReedo Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-16 17:59] BryanTrach-MSFT commented on #38966
@townxelliot Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-16 17:59] Adam-Smith-MSFT commented on #38872
@DalSoft there isn't any plan in the horizon to completely retire V1, however, we advise to potentially think about V2 since most if not all of the new storage features will be mainly rolled to V2. As long as you're fine with adopting the new advantages/features, you should be fine.
Let me know if this helps.

Thanks,
Adam

[2019-09-16 18:00] SaurabhSharma-MSFT commented on #38532
@cvbc2010 If I understand correctly you try to build the solution based on [AAD Multi tenant federation doc](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-setup-commonaad-custom). And you use the ValidTokenIssuerPrefixes metadata to white list your tenant, for example: A, B, C, and D. Now you want to further restrict the list (A, B, C and D) based on a parameter

[2019-09-16 18:00] YutongTie-MSFT commented on #38743
@Jun711 We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-09-16 18:00] #38743 closed

[2019-09-16 18:00] antogh opened #38979 "Some entity functions do not start"
Hello. I have just started experimenting with durable functions and entities.

I have created a sample project with the Counter Entity copied from this page and it works.

I call the entity functions from the orchestrator using the proxy.

I have duplicated the Counter into another similar Entity and it works

I have created another Entity with different but simple logic and it doesn't work. It is

[2019-09-16 18:01] SaurabhSharma-MSFT commented on #38618
@Veteraanikoodari We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-09-16 18:01] #38618 closed

[2019-09-16 18:03] Cisvhenriksen opened #38980 "Correctly remove/re-enroll device from Azure AD"
I have a couple of Devices that where erroneously joined to both On-prem local domain AND Azure AD (MS bug?) now devices where not connected properly to any of the domains (local was deprecated) and trying to remove old domain logins and re-adding Azure AD fails. Deleted Azure AD object and tried to re-enroll. Error 8018000a unable to re-enroll objects already exists (well not in my portal) and ne

[2019-09-16 18:11] vhorne commented on #37763
@tesharp Thanks for the update.
Modified the the statement to Action1 = case(Action1 == "Deny","Deny","Unknown Action")
and merged.
#please-close

[2019-09-16 18:13] mikebudzynski commented on #38929
It's not available yet, but it's coming soon. You can track the work item here: https://github.com/Azure/api-management-developer-portal/issues/153

#please-close

[2019-09-16 18:13] #38929 closed

[2019-09-16 18:16] MarileeTurscak-MSFT commented on #38945
@kamranbashir
Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-16 18:17] MarileeTurscak-MSFT commented on #38945
@kamranbashir since this is a product question, MSDN is the right place to post this. Thanks for including the question there! The doc comments are intended for reporting bugs and issues with the documents themselves. If there turns out to be a bug we will create a work item from this.

Meanwhile we can troubleshoot over MSDN.

If you'd like to shoot me an email at AzCommunity@microsoft.com I can

[2019-09-16 18:17] #38945 closed

[2019-09-16 18:17] cgillum commented on #38979
Hi @antogh would you mind opening an issue in the Durable Functions repo, [here](https://github.com/Azure/azure-functions-durable-extension/issues/new?assignees=&labels=&template=bug_report.md&title=Some%20entity%20functions%20do%20not%20start)? That will be a better place for us to work with you to understand what might be going on. If you could share some code snippets you are using, that would

[2019-09-16 18:19] #38952 closed

[2019-09-16 18:20] rajurajvijay619 commented on #38647
Any updates?

[2019-09-16 18:21] antogh commented on #38979
Hi @cgillum   sure I'll do it. Thanks!

[2019-09-16 18:25] YutongTie-MSFT commented on #38823
@tomygrenier Hi Tomy, since there is no product/ document issue for now, I will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-09-16 18:25] #38823 closed

[2019-09-16 18:30] VitaliyKurokhtin commented on #38432
The only way to identify an error is by it's message. Reason is reserved for a few cases we identify ourselves, like connection interruption. So your best bet is to throw an exception with well known message and look for it in on-error.

[2019-09-16 18:30] frontbutt opened #38983 "Federation functionality when using tenant restriction?"
Will federated access still work, when using tenant restriction?

Let's say a Sharepoint-hosted document is shared from the Fabrikam O365 tenant, to somebody in the Contoso O365 tenant with account ID bob@contoso.com.  The Contoso user has a tenant restriction such that they can only use Contoso credentials.

Would the Contoso user be able to access the shared Fabrikam document using federation?

[2019-09-16 18:34] derek1ee commented on #38156
The optional parameter "Trigger" and "Actions" is designed as a fall-back in case our auto-detection of dependency doesn't work as expected.

In short, we perform static code analysis to figure out actions (tokens) you referenced, and only provide those to the code's run time. This way we avoid passing in unused, and potentially very large, content into code's run time.

But we may not get it righ

[2019-09-16 18:34] sasanmcp opened #38984 "utcNow() and locking the value"
so, based on this document and my own testing, you can't use utcNow() in any other way but to put it as a default value for a parameter.
we want to use utcNow() to tag our resources with their creation date/time. the problem is with utcNow() being used the way it is used now, anybody can manually pass a value to the parameter. this way utcNow() is not used anymore. if we could use utcNow() as a va

[2019-09-16 18:38] johncrim commented on #38905
Yes, I did find it, thank you. However I left this issue open so you can consider adding the link to the document.

[2019-09-16 18:41] TravisCragg-MSFT commented on #38900
@woutervanranst the GatewayManager tag currently has a known issue with App Gateway deployments. This will be fixed at some point in the future, so for now make sure to follow the [guidelines for App Gateways listed Here](https://docs.microsoft.com/en-us/azure/application-gateway/configuration-overview).

All Azure VPN or Azure App Gateway deployments are "dedicated"(for the soul purpose of that d

[2019-09-16 18:44] SaurabhSharma-MSFT commented on #38799
@Anand-Moghe I do not think that there is a requirement that the client application, consuming the azure key vault needs to be hosted in cloud and even a console application running on your machine with internet can access the key vault.  Only thing you need to have is client id, client secret/certificate to access the key vault.

[2019-09-16 18:46] Anand-Moghe commented on #38799
@SaurabhSharma-MSFT  Thanks

[2019-09-16 18:46] #38799 closed

[2019-09-16 18:50] TravisCragg-MSFT commented on #38693
@blueelvis Unfortunately we do not have a timeline on when this will be fixed, but we are doing what we can to get this fixed.

As @SubhashVasarapu-MSFT suggested, I would[ upvote the feature in the feedback page](https://feedback.azure.com/forums/217313-networking/suggestions/33684529-enable-nsg-flow-logs-for-secured-storage-accounts) as it helps us up the priority of these issues

We will now pr

[2019-09-16 18:50] #38693 closed

[2019-09-16 18:53] areddish commented on #38776
For the tensorflow export there isn't a way to tell that I'm seeing.

When you export the model for docker you get a .zip file. Inside the zip file there's a file app\requirements.txt. That specifies the version of tensorflow we are using in the docker container.

[2019-09-16 19:08] mike-urnun-msft commented on #38958
Hi @Tottmar - Thank you for your question. Presently, there isn't such a trigger on the "Blob Update" event. Please review [this thread](https://github.com/Azure/azure-webjobs-sdk/issues/779#issuecomment-515566470) where the Event Grid team has weighed on this scenario recently and consider upvoting an [existing feature request](https://feedback.azure.com/forums/217298-storage/suggestions/38240866

[2019-09-16 19:14] shashishailaj commented on #38853
@DecorteHannes We have requested this information from the Product group as to what is the process for getting added to the allowed identity provider list for Direct federation. Meanwhile, could you please let us know , if you are a public identity service provider(IDaaS like okta , pingIdentity, onelogin etc. ) or your organisation is running a internal Identity service only for your own organisa

[2019-09-16 19:22] YutongTie-MSFT commented on #38890
@edjez Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@diberry  Hi Dina, could you please check this suggestion. I just review our document as a new customer, I agree the title is a little bit confused for me. Thank you very much.

[2019-09-16 19:22] areddish commented on #38776
But to answer the question - we are targeting Tensorflow 1.14.0

[2019-09-16 19:23] shashishailaj commented on #38864
@GiggaWatson We are checking with the internal teams on this . Please allow us some time to get this request reviewed.

Thank you.

[2019-09-16 19:23] sladeedmonds opened #38985 "EventStore isn't automatically enabled when a cluster in upgraded to 6.5 (Azure Gov)"
According to the documentation, clusters that have been upgraded to 6.5 will automatically have the EventStore enabled.  In my case, this is not true.  Our cluster was upgraded to 6.5 (we actually ran 6.2 -&gt; 6.3 -&gt; 6.4, and now 6.5 all on the same cluster), and EventStore is not enabled.  I tried adding

"fabricSettings": [
    …
  ],
  "eventStoreServiceEnabled": true

And that forced a clu

[2019-09-16 19:25] FrankHu-MSFT commented on #38978
@milazzom hello, we're looking into the issue and will get back to you accordingly, thanks!

[2019-09-16 19:31] LukePWilkins opened #38986 "FriendlyName is case sensitive"
If I execute - Get-AzRecoveryServicesBackupContainer  -ContainerType "AzureVM" -Status "Registered"  -VaultId $id.id -FriendlyName "theVMNAME"  and my theVMNAME is the wrong case, nothing is returned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e50dfe50-c177-f976-753b-9fa689d20f92
* Version Independent ID: 7f787259-

[2019-09-16 19:31] Karishma-Tiwari-MSFT commented on #38985
Thanks for the question. We are currently investigating and will update you shortly.

[2019-09-16 19:34] mike-urnun-msft commented on #38975
Hello @virendragour - Thank you for your feedback! It looks like the constructor expects a couple more arguments as per: https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.servicebus.queueclient?view=azure-dotnet#constructors

Could you try again with those 2 additional arguments and see if that works? I'll go over the steps and update this doc accordingly.

[2019-09-16 19:40] mike-urnun-msft commented on #38979
Closing per above.

[2019-09-16 19:40] #38979 closed

[2019-09-16 19:41] GiftA-MSFT commented on #38959
@scottcher, we have assigned this to document author for further review.
@PatrickFarley, please review feedback from the user and make necessary changes.

[2019-09-16 19:43] MarileeTurscak-MSFT commented on #38980
@Cisvhenriksen
Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-16 19:45] NavtejSaini-MSFT commented on #38939
@ricohomewood We are assigning this to author for further review.
@rohitnayakmsft Please convey is there is a explanation for the conflicting remarks:
__"Redirect (recommended): Clients establish connections directly to the node hosting the database. To enable connectivity, the clients must allow outbound firewall rules to all Azure IP addresses in the region using Network Security Groups (NSG) wi

[2019-09-16 19:53] GiftA-MSFT commented on #38960
@revodavid, thank you once more for your feedback. We've created a pull request. Once approved, the document should reflect the change accordingly.
@aahill, please review pull request - https://github.com/MicrosoftDocs/azure-docs-pr/pull/88693 to update the document. Thanks.

[2019-09-16 19:58] SaurabhSharma-MSFT commented on #38300
@MikeGriffinReborn We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-09-16 19:58] #38300 closed

[2019-09-16 20:00] jay0604 opened #38987 "stonith:fence_azure_arm"
The Stonith Fence agent is unable  to communicate with Azure because the VMs' which consume this are behind an Internal Load balance.  AS per ILB  deign Internet connectivity for a VM behind a Standard ILB  is not possible. So how should ILB communicate with Stonith device which we have created in Azure portal for Pacemaker configuration?

Our design doesn't support Basic Load balance because our

[2019-09-16 20:10] SaurabhSharma-MSFT commented on #38944
@aagamdoshi Please refer to [Single sign-on to applications in Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/what-is-single-sign-on) documentation which provides guidelines of choosing a single sign on method suitable for your application.

[2019-09-16 20:17] AjayKumar-MSFT commented on #38909
@khanhankkhan, All the officially supported deployment methods make changes to the files in the /home/site/wwwroot folder of your app.
The default document is the web page that's displayed at the root URL for a website. The first matching file in the list is used. To add a new default document, click New document. Make the desired changes and then save.
This [document ](https://docs.microsoft.com/

[2019-09-16 20:20] msmimart commented on #38671
I confirmed with the product team that the storage limit is currently as described in the article referenced by @shashishailaj. Please also note that in C#, each character is 2 bytes, so this needs to be taken into consideration when determining the token size. Thank you for your request -- we'll update the article to include this information.

[2019-09-16 20:21] nhwilly opened #38988 "Having a little trouble finding CreateCheckStatusResponse"
At the top of the document, a reference is made to: `CreateCheckStatusResponse API mentioned previously`

I looked on this page and can't find it.  I'll figure it out, but it might be helpful to have a link there.

TIA, HTH.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94a5a1f9-c135-47d2-9d73-b9de575b87ce
* Version I

[2019-09-16 20:26] cgillum commented on #38988
Hi @nhwilly, thanks for pointing this out. We very recently reorganized some of our documentation and it looks like this is a bug. You can find the .NET version of this API defined [here](https://azure.github.io/azure-functions-durable-extension/api/Microsoft.Azure.WebJobs.DurableOrchestrationClient.html#Microsoft_Azure_WebJobs_DurableOrchestrationClient_CreateCheckStatusResponse_System_Net_Http_H

[2019-09-16 20:30] Alberto-Vega-MSFT commented on #38544
@BhupalPatil Closing this issue since we haven't heard back from you. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-16 20:30] #38544 closed

[2019-09-16 20:40] roygara commented on #38348
@forester123 it's not gen2 by default... could you check the "properties" blade of the VM in the portal? And/or send a screenshot? It should display something like:

VM Generation
V2

[2019-09-16 20:41] KranthiPakala-MSFT commented on #38951
@natevictorlee Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate.

[2019-09-16 20:46] BharathNimmala-MSFT commented on #38821
@theboymango Thanks again for brining this to our attention , assigning this to @spelluru for taking this forward to enhance the doc to clear the confusion.

[2019-09-16 20:47] roygara commented on #38348
@forester123 Sorry, I edited to remove my ask for a screenshot. I realized there's some other PII on that blade you shouldn't share out. So if you could just confirm what the VM Generation is listed as, that'd be good. :)

[2019-09-16 20:56] nhwilly commented on #38988
Thanks, I saw that on Twitter and think the effort is great.  I don't read all that well, so I'm usually the litmus test for docs.  🙂

[2019-09-16 21:02] #38988 closed

[2019-09-16 21:02] #38960 closed

[2019-09-16 21:03] aahill commented on #38960
Thanks @GiftA-MSFT . I've reviewed the PR, and it should be live soon!

[2019-09-16 21:03] cgillum commented on #38988
A fix to this document has been merged. I'm not exactly sure when it will go live, but it's usually within a few hours.

[2019-09-16 21:12] Infinitism commented on #38827
https://docs.microsoft.com/en-us/azure/key-vault/key-vault-logging

This page does a great job of explaining what events are tracked. Something similar for ServiceBus would be ideal.

[2019-09-16 21:17] femsulu commented on #38953
@lukepuplett Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-09-16 21:19] Alberto-Vega-MSFT commented on #37927
@faridulhassan

I reached out to the PG team and this is something that they are tracking as a future feature. An alternative solution for now would be to implemented this way:

When pin is clicked, **center the map over the pin**, then open the popup (or open popup right away, doesn’t matter, the key is centering the map over it). This is the most common solution used by customers, as most of the

[2019-09-16 21:30] TravisCragg-MSFT commented on #38876
@eosho ping me if you need any further assistance. I am going to assign this issue to the author to potentially add examples of importing multiple rules via PowerShell or CLI.

[2019-09-16 21:32] bzabber opened #38989 "What Proxy Information?"
[The section which describes setting a system proxy is a bit vague as to what the proxy address and port number should be? Is this a proxy that's required only if an organization uses a proxy to access the internet or should there be a default that should be used?]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4096fac

[2019-09-16 21:33] hpsin commented on #38172
Only **access token** lifetimes will be supported in the future.  Session and refresh tokens **will not be changeable** once the deprecation occurs.

[2019-09-16 21:35] stewartadam opened #38990 "restricted policy not created on new clusters"
Not sure if the docs are out of date or it's a product bug, but on a new cluster with PSP enabled I see a `privileged` policy but no `restricted`:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7dc4598-18d3-bdcc-e21a-f838fb752268
* Version Independent ID: edf2d399-9bbb-1c1e-e4cc-d69bf2ce0f05
* Content: [Use pod

[2019-09-16 21:38] JnHs commented on #38594
Hi @udderchaos - sorry it has taken so long to respond. You're right that the service provider's tenant should be able to see customer info in My customers, and I'm sorry to hear this hasn't been the case. If this is still happening, please open a support request in the Azure portal. For Issue type, choose Technical. Select a subscription, then select Delegated Resource Management (under Monitorin

[2019-09-16 21:39] Karishma-Tiwari-MSFT commented on #38171
I am closing this issue and opening a issue with Azure CLI team.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-09-16 21:39] #38171 closed

[2019-09-16 21:50] roygara commented on #38708
@MagTer @CeciAc As @Adam-Smith-MSFT pointed out, this section is incorrect. We have AAD authentication through domain services, currently. We're still working on updating/improving the authentication relevant documentation but, we appreciate you pointing out places where it needs attention. :)

[2019-09-16 21:59] qianw211 commented on #36848
Hi, here's the feedback to your question, please let me know if it helps:

"I’m not familiar with the fluent SDK… but not all SDK support setting UA in the way we require.  I would try setting the “product” parameter value to the “pid-[GUID]” and see if that works."

[2019-09-16 22:02] qianw211 commented on #37286
Here is the documentation to export the underlying VHD of managed disks to a storage account.  It has all the steps from generating the SAS of managed disks to downloading the VHD using AzCopy.

https://docs.microsoft.com/en-us/azure/virtual-machines/scripts/virtual-machines-windows-powershell-sample-copy-managed-disks-vhd

Please let me know if this helps! Thanks!

[2019-09-16 22:04] qianw211 commented on #37716
Here is the documentation to export the underlying VHD of managed disks to a storage account.  It has all the steps from generating the SAS of managed disks to downloading the VHD using AzCopy.

https://docs.microsoft.com/en-us/azure/virtual-machines/scripts/virtual-machines-windows-powershell-sample-copy-managed-disks-vhd

[2019-09-16 22:14] winstonhenke-work opened #38992 "Key Vault ARM Template Idempotency"
Are the ARM templates for Key Vaults supposed to be idempotent? I'm getting a VaultAlreadyExists when I run a template more than once.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 293335d7-76fd-5b4a-7f32-9272673e7df5
* Version Independent ID: 7cb0b0ea-636e-b250-8604-d2d280e0d88f
* Content: [Azure Quickstart - Create

[2019-09-16 22:15] chenlonghu commented on #10588
Update on my blog following the latest update of ASE (created after May 2019): https://chenlong.hu/blog/read?id=mea0oNMCWJKGOrf9wlaDDuDVKel4&category=Tech

[2019-09-16 22:15] Karishma-Tiwari-MSFT commented on #38746
I have created a PR with the updates and changes will be live shortly. https://github.com/MicrosoftDocs/azure-docs-pr/pull/88719
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-09-16 22:15] #38746 closed

[2019-09-16 22:21] dave-read opened #38994 "clarify env_var collection for cluster vs individual container"
In this section: https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-agent-config#configure-and-deploy-configmaps the text says:

To disable environment variable collection for a specific container, set the key/value [log_collection_settings.env_var] enabled = true to enable variable collection globally, and then follow the steps here to complete configuration for the

[2019-09-16 22:24] femsulu commented on #38953
reassigning to @qianw211 to review

[2019-09-16 22:25] Adam-Smith-MSFT commented on #38688
@paulhickman-a365  update from the PG team: Different subscription (but same region as the sync service) works. Different tenant does not work.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-09-16 22:25] #38688 closed

[2019-09-16 22:26] MicahMcKittrick-MSFT commented on #38990
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-16 22:27] femsulu commented on #38957
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-09-16 22:28] MicahMcKittrick-MSFT commented on #38987
@jay0604 you would need to deploy a new Standard Load Balancer and enable the Public IP address.

We have steps to do this here:

https://docs.microsoft.com/en-us/azure/load-balancer/quickstart-load-balancer-standard-public-portal

[2019-09-16 22:30] damsoz opened #38995 "Splitting CustomInfo as columns"
Flow Newbie here. Has anybody managed to split the columns of CustomerInfo? And it would be good to do this by default, Microsoft.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 067dc36a-c98a-73fc-cee0-59a311619401
* Version Independent ID: 362a1a3f-b536-123c-2dd1-421051f0fec4
* Content: [Azure Table storage](https://d

[2019-09-16 22:32] hpsin commented on #32264
I'm still checking the behavior if pass through authentication is enabled, but correct - if your users are full-page redirected to your on-premises IDP, AAD has no way of testing your username+password against that IDP.  ROPC won't work there.

[2019-09-16 22:32] MicahMcKittrick-MSFT commented on #38990
@stewartadam thanks for bringing this up. As this feature is currently in Preview, it is best to actually raise the issue directly on the AKS GitHub Repo

https://github.com/Azure/AKS/issues

The product team uses this repo to track and work on many preview features.

Can you please open an issue there? You can reference this issue and CC me as well using my username @MicahMcKittrick-MSFT

[2019-09-16 22:35] mgfink opened #38996 "Please elaborate on diagnostic settings not being swapped as it pertains to the app's config"
The App Service logs blade appears to use the app settings in a way that's inconsistent with the documentation.  For example, in the App Service logs when you make changes (eg. retention days or use of blob storage) Azure will create, and/or edit, settings like WEBSITE_HTTPLOGGING_RETENTION_DAYS, DIAGNOSTICS_AZUREBLOBRETENTIONDAYS, and others.  While these are diagnostic settings and are not swapp

[2019-09-16 22:47] PatrickFarley commented on #38542
Hi @nikosangr , good catch, I've added documentation around that method. It's for getting a list of the keys that the model has been trained to look for. So, once you've trained your model, you can look at the keys and make sure it's detecting every part of the document.
#please-close

[2019-09-16 22:47] #38542 closed

[2019-09-16 22:52] MartinJaffer-MSFT commented on #38948
Hello @AlexanderTodorovic  and thank you for your inquiry.  We will review the issue and get back to you.  Could you please specify what service you are using?  (DataBricks, HDInsight, other)

[2019-09-16 23:11] femsulu commented on #38969
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-09-16 23:13] winstonhenke-work commented on #38992
I think I figured out my problem :( my Resource Group I was deploying to was in a different region than where I was deploying my Key Vault. Once I made these the same my problem went away.

[2019-09-16 23:14] MicahMcKittrick-MSFT commented on #38990
@stewartadam Thanks for bringing this up. I Followed the doc and am seeing the same thing.

@mlearned @sauryadas @jluk any idea if this is a know issue or a doc bug?

CC @MicrosoftDocs/aks-pm

[2019-09-16 23:14] femsulu commented on #38972
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-09-16 23:15] femsulu commented on #38972
@anirudhcavale - is it possible to update the document with a sample JSON for the requested scenario?

[2019-09-16 23:18] femsulu commented on #38984
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-09-16 23:20] Jun711 commented on #38743
@YutongTie-MSFT
Thanks. It is working well.

I just noticed that it doesn't work when I use : (u003A) instead of ː (u02D0).
Is : (u003A) not supported?

For example,
[code]

[2019-09-16 23:22] femsulu commented on #38986
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-09-16 23:23] sauryadas commented on #38990
The following update was made.
For clusters enabling pod security policy, only one default pod security policy privileged will be created. Default pod security policy restricted is not created anymore.

Why we made this change?
There exist low possibility that containers without any security context in a psp-enabled cluster can be applied with restricted pod security policy's security context, whi

[2019-09-16 23:24] palma21 commented on #38990
And just to add in case someone looks into it for future reference. Customers can still add it (as well as any other policy).

[2019-09-16 23:24] femsulu commented on #38986
Can you confirm that running the cmd after changing the UserName variable to lowercase works?

[2019-09-16 23:26] MicahMcKittrick-MSFT commented on #38973
@kerbos thanks for reaching out. It's a bit repetitive but I added that commercial use customers should use portal.azure.com in the Note at the top of the page.

Once the PR merges the changes will go live after a few hours.

[2019-09-16 23:26] #38973 closed

[2019-09-16 23:28] MicahMcKittrick-MSFT commented on #38990
Thanks all! I can update the doc :)

[2019-09-16 23:30] LukePWilkins commented on #38986
I hope these steps make sense to recreate the issue.

Within a valid vault with protected Azure VMs, execute:
Get-AzRecoveryServicesBackupContainer  -ContainerType "AzureVM" -Status "Registered"

A list of protected VMs is displayed.
Choose a VM from the list.

Exeucte
Get-AzRecoveryServicesBackupContainer  -ContainerType "AzureVM" -Status "Registered" -FriendlyName "VMNAME"

with VMNAME in a diff

[2019-09-16 23:32] MarileeTurscak-MSFT commented on #38992
Yes, it should be idempotent, but Key Vault clears the access policies every time the template is used so it's not recommended to deploy the template more than once for the same parameters.

Glad you were able to get this resolved and thank you for sharing your solution.

[2019-09-16 23:32] #38992 closed

[2019-09-16 23:33] ghost opened #38999 "Azure ExpressRoute Support"
The documentation states that "If Azure ExpressRoute is configured with Private or Microsoft peering, it cannot be used to back up the data to Azure" however, it then says "If Azure ExpressRoute is configured with Public Peering, it can be used to back up the data to Azure."

Since public peering is deprecated and included in Microsoft Peering would a Microsoft Peering allow backup data to be tran

[2019-09-16 23:33] MicahMcKittrick-MSFT commented on #38990
PR has been submitted.

@stewartadam once the PR merges the changes will go live after a few hours.

[2019-09-16 23:33] #38990 closed

[2019-09-16 23:40] kobulloc-MSFT commented on #9938
@ToMakeSense You are correct.  It appears the doc has been removed.  @vladvino , do we have a replacement for this article?  If not, the document may need to be updated.

[2019-09-16 23:56] Alberto-Vega-MSFT commented on #38553
@carlmill Closing this issue since it is a duplicate of the one on the Sensor SDK repo

[2019-09-16 23:57] rwike77 commented on #33008
Right now we're looking into centralizing and exposing error code information for several parts of AAD.  That work touches on this thread, so I'll keep you updated.  At this point, I can't say when/if we'll create a REST endpoint for the error code info but I'll bring it up with the engineering team in our meeting later this week.

[2019-09-17 00:03] cijothomas commented on #38861
Yes it is correct that the processor which set samplingpercent to 100 should be the 1st one. Infact, it'd be best to run it as a TelemetryInitializer, as TelemetryInitializers are guaranteed to run before any processors, so users dont need to worry about the ordering.

[2019-09-17 00:05] MedAnd opened #39000 "The "Manage an existing application via Resource Manager" section is spare; please add the following link..."
The "Manage an existing application via Resource Manager" section is sparse; please add the following link: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-concept-resource-model which has an example of how to achieve registration of an existing (deployed) Service Fabric application via the ARM approach.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-09-17 00:10] joedev-big opened #39001 "system default route exception"
Your assert that Azure adds additional default system routes for different Azure capabilities, but only if you enable the capabilities.  Further this article suggests that a Virtual Network Gateway would include prefixes advertised from on-premises configured in the local network gateway and Azure would automatically include them as 'additional default system routes'.  My experience is that is not

[2019-09-17 00:10] dluc opened #39002 "How to install powershell module?"
I cannot find any instructions about the powershell module to install to have these commands. It would be easier to provide this configuration in the Azure Portal, and through the newer "az" command line interface.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02ff3d62-dc0e-ad0c-f5ae-418337cf31e4
* Version Independent

[2019-09-17 00:16] Alberto-Vega-MSFT commented on #38963
@JawadJaber Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-17 00:17] allenwux opened #39003 "multiple issues in the code sample"
1. AadIssuerValidator is not available in the nuget package
2. Didn't mention which function the code should be added to. I assume it will be ConfigureServices()
3. It should be Configuration instead of configuration in line 2
4. missing closing });

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22a7af57-0b9c-0bd5-b234

[2019-09-17 00:18] Alberto-Vega-MSFT commented on #23286
@DenisBiondic did you have a chance to look at the previous message?

[2019-09-17 00:21] #38883 closed

[2019-09-17 00:23] FrankHu-MSFT commented on #38787
Hey @Blightysoft thanks for letting us know about this, we're going to take a further look deeper into this issue and will let you know our findings and will make modifications accordingly.

[2019-09-17 00:23] #38622 closed

[2019-09-17 00:49] omerzubair opened #39004 "Automation Accounts - Fetch the ARM template from DevOps Repository"
Is there a way to directly fetch the ARM template from DevOps Repository? It will save me a process to copy the latest from DevOps to Storage Account.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4ea5e93-b220-57c1-b011-865b7da3c5a6
* Version Independent ID: 179a79da-0e12-716e-725e-9db6b8f20282
* Content: [Deploy an

[2019-09-17 00:57] vladvino commented on #9938
I am a little confused about which link is broken.

[2019-09-17 01:04] tamram commented on #38783
@juyama - I am not seeing the discrepancy. Can you be more specific about how the table and the SLA do not match?

[2019-09-17 01:06] menih opened #39005 "UDR Address prefix range size support /31?"
Can the UDR CIDR (Address prefix) be as small (/31) as I want? Thus really limiting the redirection to a single IP?
If answer to that is yes, are there any limitations to the number of such routes we can configure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cc61595-d1ea-d72b-bef8-52e7b7838a14
* Version Independent

[2019-09-17 01:10] albilaga commented on #38768
Is it better to give warning in the docs so user not expecting and spending many hours for debugging why it is not working in Azurite @KetanChawda-MSFT ?

[2019-09-17 01:13] kobulloc-MSFT commented on #9938
It took me a minute to find it as well.  The "Important" note in blue used to link to a blog ("See this **document** for important information and tips related to OpenAPI import.")

Doc URL:
https://docs.microsoft.com/en-us/azure/api-management/api-management-api-import-restrictions#-openapi-version-3

![image](https://user-images.githubusercontent.com/37556655/65003508-a58e0280-d8ad-11e9-88d1-9d5

[2019-09-17 01:15] forester123 commented on #38348
@roygara I just checked, it's V1 not V2.

![image](https://user-images.githubusercontent.com/13616574/65003569-a6657980-d92b-11e9-9579-d56f69f544ff.png)

[2019-09-17 01:17] mandiaya commented on #9304
Hi Team, I have a question, your documentation said it support confluence version 6.15.3. But confluence doesn't have 6.15.3 version.......

[2019-09-17 01:18] mandiaya commented on #38043
@jeevansd  Hi Jeevan, Do you have any progress?

[2019-09-17 01:20] mandiaya commented on #17348
@jeevansd  Hi Jeevan, do you have any feedback?

[2019-09-17 01:28] stewartadam commented on #38990
awesome, thank you for the fast action all!

[2019-09-17 01:28] mandiaya commented on #38043
Hi Team, I have a question, your documentation said it support confluence version 6.15.3. But confluence doesn't have 6.15.3 version.......

[2019-09-17 01:29] femsulu commented on #38989
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-09-17 01:30] femsulu commented on #38994
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-09-17 01:31] neeleshray-msft commented on #38983
@frontbutt Thank you for your query. We will check on the same and update the thread soon.

[2019-09-17 01:32] neeleshray-msft commented on #39002
@dluc  Thank you for your query. We will check and update the thread soon.

[2019-09-17 01:32] wolegibj commented on #38097
@FrankHu-MSFT sorry for the late reply.  This issue is repeatable, and only impacts OS disk encryption — data disks encrypt without issue.  This occurs on CentOS, I’ve not tried other Linux distributions.

[2019-09-17 01:33] neeleshray-msft commented on #39003
@allenwux  Thank you for your feedback. We will check and update the document accordingly.

[2019-09-17 01:33] femsulu commented on #38836
@omerzubair
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-09-17 01:33] #38836 closed

[2019-09-17 01:36] femsulu commented on #38995
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

@Adam-Smith-MSFT - adding you to chime in since this is related to Azure Table Storage. Any update you can provide will be greatly appreciated.

[2019-09-17 01:41] femsulu commented on #38999
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-09-17 01:53] femsulu commented on #37716
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-09-17 01:53] #37716 closed

[2019-09-17 01:59] femsulu commented on #37286
<<Copying @qianw211 response to this thread>>
<snip>
Here is the documentation to export the underlying VHD of managed disks to a storage account. It has all the steps from generating the SAS of managed disks to downloading the VHD using AzCopy.
https://docs.microsoft.com/en-us/azure/virtual-machines/scripts/virtual-machines-windows-powershell-sample-copy-managed-disks-vhd
Please let me know if th

[2019-09-17 01:59] femsulu commented on #37286
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-09-17 01:59] #37286 closed

[2019-09-17 02:01] KrishnaG-MSFT commented on #39004
@omerzubair Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-17 02:02] femsulu commented on #36848
Thanks for the update, @qianw211

We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-09-17 02:02] #36848 closed

[2019-09-17 02:04] KrishnaG-MSFT commented on #38988
@cgillum Thanks for the quick response. :+1:

[2019-09-17 02:19] #37900 closed

[2019-09-17 02:24] nitbhatt commented on #38428
Hello Maxwell,

My customer wants to know, why only in CDN we can’t access the keyvault from other subscription, wherein other azure features, we can ?

Can you please assist on this query.

-Regards,
Nitin
Azure Network Engineer

From: Maxwell Gattuso <notifications@github.com>
Sent: 11 September 2019 00:27
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Nitin Bhatt <Nitin.Bhatt@

[2019-09-17 02:29] KrishnaG-MSFT commented on #38792
@sochan1 Did you get chance to follow my above comment and validate ?

[2019-09-17 02:31] KrishnaG-MSFT commented on #38928
@CastleArg Did you get chance to check my above comment and validate ?

[2019-09-17 02:32] dcbrown16 opened #39007 "Relative path example"
Both examples of HTTP probes simply use the "/" path. Can you add an example or description of how else this can be used?
I assume it's hitting (backend server virtual IP):(port)/(path) basically?

Also, can you address why the sample in the API doc would not be "/healthcheck.aspx" (with a slash)?
"requestPath": "healthcheck.aspx",
https://docs.microsoft.com/en-us/rest/api/load-balancer/loadbalanc

[2019-09-17 02:43] femsulu commented on #27537
adding @santhoshsomayajula for input

[2019-09-17 02:47] msrini-MSFT commented on #39005
@menih , UDR has 2 parts. One is the Destination IP and the next hop IP.

The destination IP can be with any CIDR range.But the Next hop IP can only be /32 CIDR.

Let me know if you have any further questions.

[2019-09-17 02:48] femsulu commented on #38889
@genlin kindly respond when the update has been made.
@AAniesh  - thanks again for catching this. We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-09-17 02:48] #38889 closed

[2019-09-17 02:52] virendragour commented on #38975
Hi Mike thanks for your quick reply.

I tried again with all arguments even those are optional but still getting same issue. I also tried the same thing in .Net4.7.2 its working fine.
![image](https://user-images.githubusercontent.com/4245804/65007552-25ef4a80-d924-11e9-934b-1d3dd6489606.png)

.Net4.7.2
![image](https://user-images.githubusercontent.com/4245804/65007587-41f2ec00-d924-11e9-831e-4a3

[2019-09-17 02:53] juyama commented on #38783
@tamram Could you check following?
![image](https://user-images.githubusercontent.com/46222416/65007494-50033580-d941-11e9-824b-8fc86f86d455.png)
![image](https://user-images.githubusercontent.com/46222416/65007541-7628d580-d941-11e9-87f1-cf5b48c297b6.png)

[2019-09-17 02:58] msrini-MSFT commented on #39001
@joedev-big , If I understand your scenario correctly, your On-Premises address space is Internet address space which is non-RFC1918.

Once the tunnel is up, VPN gateway will push the routes to all the VMs in the VNET. Once the routes get pushed, then your VM will forward the packets to the On-Premises not to Internet.

You can check this out by navigating to any NIC of your VM and click on effect

[2019-09-17 03:02] omerzubair commented on #38836
Hi @femsulu
i can sent some samples for you to consider. as this is not resolved. i still get errors and i am not using sample runbooks in the Automation accounts.

[2019-09-17 03:05] msrini-MSFT commented on #39007
@dcbrown16 , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-09-17 03:05] CastleArg commented on #38928
Hi there, off the bat there is nothing to select in the schema browser..
I guess what is missing in the docs is the instruction to select an
appropriate resource and a link to an example of how to do this.
Also not everything will have an Event table (azure functions for example)
Maybe this is all obvious but as it's a getting started page it would be
good to have the above links, as a newbie just

[2019-09-17 03:06] shankarsundaram opened #39008 "Service principal & client secret"
I can understand that a service princpal is created on the background to pull images from acr. But how the client id & secret is passed into AKS deployment yaml file  to pull the image from acr?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9180e07f-236a-20b4-1c38-66a1bad9c73d
* Version Independent ID: 148ae764-76b7-d

[2019-09-17 03:21] femsulu commented on #38836
Thanks @omerzubair.  that will be useful. Please send to me and @SwathiDhanwada-MSFT
@bobbytreed  - FYI

[2019-09-17 03:22] msrini-MSFT commented on #39007
@dcbrown16 , I did a repro and you are right. The requestPath has to be "/HealthCheck.aspx".

Sample:

{
  "value": [
    {
      "name": "test",
      "id": "/subscriptions/XXXXXXX/resourceGroups/XXXX/providers/Microsoft.Network/loadBalancers/nancylbv2/probes/test",
      "etag": "W/\"b404a333-1c99-43a9-96c8-88d357989920\"",
      "properties": {
        "provisioningState": "Succeeded",

[2019-09-17 03:26] dcbrown16 commented on #39007
Thanks Karthik, yeah I'm not sure how to give feedback on API docs otherwise I would have done it there.
Can we still also have the author consider a request to add a bit of explanation about what this path is relative to? i.e. how the default directory/page of the backend server is determined.

[2019-09-17 03:28] Grace-MacJones-MSFT commented on #38630
Thanks for catching this error in the doc! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2019-09-17 03:29] #38630 closed

[2019-09-17 03:34] Grace-MacJones-MSFT commented on #29139
This doc bug has been fixed with this pr https://github.com/MicrosoftDocs/azure-docs-pr/pull/88745

[2019-09-17 03:34] #29139 closed

[2019-09-17 03:35] msrini-MSFT commented on #39007
@dc995 , The path relatives to directory/page.

[2019-09-17 03:40] prashantabkari opened #39009 "Does B2C support myapps panel ?"
In the comparison doc for B2B vs B2C its mentioned that B2C doesn't support SSO to Microsoft based SaaS applications.

-  Its not clear what exactly does "Microsoft SaaS" here means. Does it support LoB SaaS based application such as Workday in B2C?
https://docs.microsoft.com/en-us/azure/active-directory/b2b/compare-with-b2cSo i have following questions

- Does it support SSO to portal kind of exp

[2019-09-17 03:47] jamesyoung1001 opened #39010 "Option to "pay now""
The option to Pay Now doesn't exist in the Azure portal as described.  I can't find a summary tab with the blue button to Pay Now. 17 Sept 2019.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b4e8220-2dd3-3ce2-b07e-03c793bac520
* Version Independent ID: 5c7ca9c5-205a-66b0-eabe-ccae39ad0d61
* Content: [Pay your bill fo

[2019-09-17 03:50] SnehaAgrawal-MSFT commented on #38996
@mgfink Thanks for the feedback! We are currently investigating and will update you shortly

[2019-09-17 03:50] neeleshray-msft commented on #38850
@geekGK
Let us know if the suggestion by @mlegris worked for you. We would be closing this thread for now.
Please tag @neeleshray-msft and re-open the thread if you need further help.

[2019-09-17 03:50] #38850 closed

[2019-09-17 03:53] neeleshray-msft commented on #38851
@codevulture You can follow this [blog](https://blogs.technet.microsoft.com/yuridiogenes/2018/08/01/using-azure-monitor-to-send-an-email-notification-for-azure-security-center-alerts/) for enabling the email notifications for Azure Security Center Alerts.
We will be closing this thread now.
Please tag @neeleshray-msft and re-open the thread if you need further assistance.

[2019-09-17 03:53] #38851 closed

[2019-09-17 04:06] Grace-MacJones-MSFT commented on #38538
Hi @JimXu199545,  the ARM template you have does create a PHP app. If you look at the site config in your template it shows that your app is using php version 7.3.

       "properties": {
                          siteConfig": {
          "phpVersion": "7.3"
          }
          }

It's  your connectionString for storage that has the [default](https://docs.microsoft.com/en-us/azure/storage/common

[2019-09-17 04:06] #38538 closed

[2019-09-17 04:13] BharathNimmala-MSFT commented on #19543
@pdebruin Thank you for sharing valuable feedback. Will request our content author @mlearned to further look into the possibility of enhancing the document to cater your feedback.

[2019-09-17 04:16] Grace-MacJones-MSFT commented on #38698
Hi @javiermarasco, thanks for your patience. We apologizes for the frustration on this issue.  We need to do deeper analysis for this issue. Do you have the ability to open a support request? If not, you can email me at AzCommunity@microsoft.com and provide me with your SubscriptionID, time of operation in UTC and link to this thread. I can enable your subscription to be able to create one.

We wi

[2019-09-17 04:16] #38698 closed

[2019-09-17 04:20] joyceywho commented on #38694
@ram-msft  Yes, I managed to import the PhraseListGrammar class and now it works fine.  Thank you!!

[2019-09-17 04:21] Grace-MacJones-MSFT commented on #38964
@jay-amd try to right click on the project in the solution and select 'reload project'. also, what version of VS are you using?

[2019-09-17 04:23] mlearned commented on #19543
@blhoop is addressing with PR soon

[2019-09-17 04:24] AshokPeddakotla-MSFT commented on #38712
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-17 04:24] #38712 closed

[2019-09-17 04:27] ThalathBhagya commented on #38940
@donchai , document is updated with the latest Soft Delete region, so closing this issue.

[2019-09-17 04:27] ThalathBhagya commented on #38940
#please-close

[2019-09-17 04:27] #38940 closed

[2019-09-17 04:27] CHEEKATLAPRADEEP-MSFT commented on #38846
@hrasheed-msft Could you please look into this issue?

[2019-09-17 04:27] BharathNimmala-MSFT commented on #38728
Than you @Mikhail-Pranovich for the confirmation.

@serlapoi Thanks again for sharing the feedback , we will have an internal work item to track the doc enhancement and update the thread once completed. We will go ahead and close this issue for now, however if you have any other feedback please feel free to tag us in your reply and will be more than happy to tag this conversation forward. Thank yo

[2019-09-17 04:27] #38728 closed

[2019-09-17 04:54] KrishnaG-MSFT commented on #38898
@vanthoainguyen Based on above comment, what I understand is the search results count is 1 or 2 so IMO as expected it has shown IncludeSearchResult = false because the search results didn't cause the payload to cross the size limit of 256KB. I hope the doubt is sorted now.

At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue f

[2019-09-17 04:57] vanthoainguyen commented on #38898
Seriously, IncludeSearchResult should only be false when the search result size exceed 256k which in my case it did not

[2019-09-17 05:02] KrishnaG-MSFT commented on #38898
@ananthradhakrishnan FYI. Please clarify.

[2019-09-17 05:03] KrishnaG-MSFT commented on #38928
Assigning content owner @bwren for visibility, review and document enhancement considerations.

[2019-09-17 05:04] menih commented on #39005
Hi Karthik,

Thanks for the reply. Are there any limitations as to the max number of
routes one can define?

On Mon, Sep 16, 2019, 7:48 PM KARTHIK SRINIVAS <notifications@github.com>
wrote:

[2019-09-17 05:05] SwathiDhanwada-MSFT commented on #39010
@jamesyoung1001 Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-17 05:07] shashishailaj commented on #38671
@msmimart Thank you for your input. Much appreciated.

@aleazofeifam Hope the above clarifies your query. We will now close this issue and the article will be updated to include this information as mentioned above by Michele . Thank you for your inputs on this thread. Should you have any further queries, feel free to tag me or @msmimart to your reply and we will continue the conversation.

Thank y

[2019-09-17 05:07] #38671 closed

[2019-09-17 05:24] shashishailaj commented on #38853
@DecorteHannes We got some clarification from the backend. Direct federation is only for organisations who do not have their domain DNS name already registered/verified in Azure AD / Office365 or viral tenants (tenant which were created while customers were trying to use any Microsoft service like flow, powerBI etc. ) .

If your organisation's existing domain name is verified in Azure AD , this wo

[2019-09-17 05:27] shashishailaj commented on #39003
@allenwux Thank you for your inputs. Could you please let us know the version of nuget package you have added in your project ?

@jmprieur Could you please take a review the issues pointed out by the customer in the sample ?

[2019-09-17 05:36] cblomart commented on #32264
Talking IDP (federation) I wonder sometime how legacy protocols works (pop3, imap in exo).

[2019-09-17 05:36] maple10001 opened #39011 "404 not found for `JavaScript SDK API reference.` link"
404 not found for `JavaScript SDK API reference.` link: [https://github.com/Microsoft/ApplicationInsights-JS/blob/master/API-reference.md]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edce8383-4e3b-425b-5f01-02f54385b7a4
* Version Independent ID: bf51eb39-0bb9-262a-d4be-51b1bcb977f0
* Content: [Usage analysis with Az

[2019-09-17 05:38] msrini-MSFT commented on #39005
@menih , You can get this info from this doc: https://github.com/MicrosoftDocs/azure-docs/blob/master/includes/azure-virtual-network-limits.md

User defined routes per route table 400.

[2019-09-17 05:48] msrini-MSFT commented on #38652
@thevman , Unfortunately, we will not be able to provide ETA on this forum. The documentation will be updated once the feature is completely released.

[2019-09-17 05:48] #38652 closed

[2019-09-17 05:58] codevulture commented on #38935
@KrishnaG-MSFT : Thanks for the information,  **_Can you please let me know how can someone generate Alerts for Security Recommendations?_**

Problem as per my understanding was:

Advisor dumps all the information related to types(recommendationCategory) `High Availability`, `Performance`, `Cost` but Not `Security Recommendation`,
Also the events in Activity logs contain only threat Alerts but not

[2019-09-17 06:21] test123114 opened #39012 "can I use MSI to connect Azure SQL with .NET framework 4.6.1"
[Enter feedback here]
According to the document, we can use MSI to connect Azure SQL with  .NET framework 4.7.2. Now, I want to use MSI to connect Azure SQL  .NET framework 4.6.1. IS it possible? If it is possible, how to implement it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31b0d33c-f88e-d50c-2926-7933940f3b92

[2019-09-17 06:25] CHEEKATLAPRADEEP-MSFT commented on #38862
@normesta Could you please look into this issue?

[2019-09-17 06:32] PramodValavala-MSFT commented on #38680
@cpitches @NehaOberoi92 There is a new `Requests` Metric available which has dimensions for supporting all the different types of deprecated metrics now instead.

![image](https://user-images.githubusercontent.com/43602528/65016898-0582b880-d943-11e9-9b70-a1729082e97c.png)

[2019-09-17 06:39] woutervanranst commented on #38900
if it is a known issue, the can you please caveat that?
or at least remove the explicit reference that this is for VPN/__App Gateways__ management traffic? this is very confusing

[2019-09-17 06:55] juyama commented on #38783
@tamram Additionally, GZRS and RA-GZRS seems preview as following.
https://docs.microsoft.com/en-us/azure/storage/common/storage-redundancy-gzrs
In my understanding, SLA is not provided in preview state. Is it correct?

[2019-09-17 06:55] PramodValavala-MSFT commented on #38805
@DrakeLambert Just following up here... Hope my previous comment helps.

[2019-09-17 07:02] codevulture commented on #38851
@neeleshray-msft : The link you posted is for Security Threats not for Security Recommendations Alerts.  please check and re-open the issue. Thanks.

[2019-09-17 07:04] test123114 opened #39013 "an unknown error using .NET SDK Azure Datalake Gen1 Client"
[Enter feedback here]
According to the document,  I create a application to wire data to the file. In the most time, the application is ok. But sometime it will get an unknown error :
**CONCURRENTAPPEND failed with Unknown Error: The underlying connection was closed: A connection that was expected to be kept alive was closed by the server.**

My code
[code]
#### Document Details

⚠ *Do not edit th

[2019-09-17 07:06] Akshatce commented on #38897
@SaurabhSharma-MSFT @AshokPeddakotla-MSFT
Did you get the chance to look into this issue?

[2019-09-17 07:14] ChiragMishra-MSFT commented on #39013
@test123114 Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-09-17 07:20] MedAnd opened #39014 "The build / package environment must also have SF .Net SDK at CU2 or higher"
Please add to the documentation clarification that the build / package environment must also have the SF .Net SDK at CU2 or higher, and not just the target cluster run-time being at CU2.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbcdd65b-4ec3-5cc9-b47d-c6e540fac2b6
* Version Independent ID: e988d3be-c696-227f-83d5

[2019-09-17 07:31] pacodelacruz opened #39015 "Need clarification on how to configure an internal multi-region API Management?"
This page describes how to configure a multi-region API Management, however, it does not cover the scenario when API Management is deployed inside a VNET in _internal_ mode.

In this type of setup, it's common to have Azure App Gateway front facing API Management. So the questions are:

- How is Azure App Gateway meant to resolve to a load-balanced API Management, if APIM is internal, thus the man

[2019-09-17 07:43] WenJason commented on #38931
When I used the "H264 Progresssive Download MP4.workflow" to test this page's code, I got the error message "File type or codec not supported." from the Azure portal. So I want to know if the workflow file is overdue.
Workflow url: https://github.com/Azure/azure-media-services-samples/blob/master/Encoding%20Presets/VoD/MediaEncoderPremiumWorkfows/H264%20Progresssive%20Download%20MP4.workflow

[2019-09-17 07:48] kobulloc-MSFT commented on #39011
@maple10001 Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-09-17 07:50] faridulhassan commented on #37927
Thank you for your valuable response. I have already managed the popup in this way.
But I think enabling this feature will help the developers like me.

Thank you very much.

![captured (3)](https://user-images.githubusercontent.com/4393216/65021846-b42df580-d951-11e9-8cd2-1ec266072cd0.gif)

[2019-09-17 08:01] KetanChawda-MSFT commented on #39015
@pacodelacruz Thank you for your feedback! We will review and provide an update as appropriate.

@mikebudzynski any thoughts here?

[2019-09-17 08:04] RohitMungi-MSFT commented on #38932
@netRunner0 We have re-run the sample and it works as expected. Could you please check if the following changes are correctly updated in your file?

You can use the endpoint and key as mentioned in the azure portal for your resource and retry again.

![image](https://user-images.githubusercontent.com/46958063/65023045-b2633280-d94f-11e9-8234-07033a6bb163.png)

[2019-09-17 08:10] ChiragMishra-MSFT commented on #39013
One of the problems could be due to the use of "Create" and "ConcurrentAppend" on the same file stream. ADLS documentation mentions that they can't be used on the same file. If you are using them concurrently, maybe, try changing the "Create" command to "ConcurrentAppend" as the latter can be used to create a file if it doesn't exist.

[2019-09-17 08:14] DecorteHannes commented on #38853
Hello,

Thank you, I sent the mail.

Regards
Hannes Decorte
hannes@u2uconsult.com<mailto:hannes@u2uconsult.com>
+32 (0) 479615498
U2U Consult NV/SA

________________________________
Van: ShashiShailaj-MSFT <notifications@github.com>
Verzonden: Tuesday, September 17, 2019 7:24:36 AM
Aan: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
CC: Hannes Decorte <hannes@u2uconsult.com>; Mention <me

[2019-09-17 08:19] danijam opened #39016 "Available regions section mentions a region called UK North, which doesn't exist as far as I'm aware..."
Is this a typo for a SA North?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46602618-c925-75b6-bf3e-1039f168f141
* Version Independent ID: aa73eb53-55b6-6aa2-2542-e26fd32764fe
* Content: [Azure SQL Database serverless (preview)](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-serverless#next-steps)
*

[2019-09-17 08:19] ms-ishiyam opened #39017 "NSG flow logs about Application Gateway v1"
When the Application Gateway v1 dose not listen some port 443 or 8080, the client access to the port 443 or 8080 would not be put on the NSG flow log. I hope to add this limitation in this document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88466307-81b8-1e5b-7f2c-191d8e818071
* Version Independent ID: 08ad49f3-6a

[2019-09-17 08:20] siddharth-dhawan commented on #15279
When will AG v2 be available in UAE North region?

[2019-09-17 08:24] siddharth-dhawan opened #39018 "Application Gateway v2 no available in UAE North region"
I wanted to migrate my AG v1 to v2 to leverage the Http header rewrite feature. Unfortunately, I don't see the v2 version available in UAE north(where our rest of the DC is).
![image](https://user-images.githubusercontent.com/11691661/65024540-200a6100-d946-11e9-9901-70b3c577af0b.png)

Please help me with tentative timelines when we can expect this service to be GA.

Many Thanks!

---
#### Documen

[2019-09-17 08:25] netRunner0 commented on #38932
@RohitMungi-MSFT
Which URL is correct for converting text to speech for the westus point?
Can I specify arbitrary information in the user-agent?

Thanks

[2019-09-17 08:30] SnehaAgrawal-MSFT commented on #39012
@test123114 Thanks for the feedback! We are currently investigating and will update you shortly

[2019-09-17 08:30] markvr commented on #23789
@palma21 June has gone, is there an ETA for this fix to be deployed?

[2019-09-17 08:32] msrini-MSFT commented on #39017
@hisasima , Thank you for your feedback. I will test this out and get back to you shortly.

[2019-09-17 08:38] RohitMungi-MSFT commented on #38932
@netRunner0 Use the URL from the resource in Azure portal along with it's name as the user agent.

[2019-09-17 08:41] alistairl opened #39019 "Case Sensitivity in ResourceTypes for Deploy with PowerShell"
When I was testing the resource assignment in PowerShell the resourcetype "Microsoft.Compute/virtualmachines" failed to apply. It appears to be case sensitive - "Microsoft.Compute/virtualMachines" applied correctly in my Azure Subscription.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 824140d2-d8f2-2008-5be4-981c3c65

[2019-09-17 08:42] jcawte opened #39020 "Reversion of manually applied recommendations"
I've had a support case related to recommendations that have been manually applied in the portal being automatically reverted.  This behaviour is confirmed as expected by this article, https://docs.microsoft.com/en-us/azure/sql-database/sql-database-advisor-portal, so can the entry that says, "In case you are manually applying tuning recommendations, the automatic performance validation, and rever

[2019-09-17 08:48] SubhashVasarapu-MSFT commented on #38675
@linuxelf001, Appreciate your patience. Generally, The timestamps are used for two distinct mechanisms:
1. RTTM (Round Trip Time Measurement)
2. PAWS (Protect Against Wrapped Sequences).
Enabling  TCP timestamps on Linux VM  will drop the health probe as it might treat it as a vulnerability due to its sequential probes.
We are closing this issue for now. If there are further questions regarding th

[2019-09-17 08:48] #38675 closed

[2019-09-17 08:50] shashishailaj commented on #38853
@DecorteHannes Thank you . I will continue this conversation over email and close this thread.

[2019-09-17 08:50] #38853 closed

[2019-09-17 08:51] test123114 commented on #39013
@ChiragMishra-MSFT  What do you mean? How can I update your code?

[2019-09-17 08:52] msrini-MSFT commented on #39007
@dcbrown16 , I will close this issue as this is something which we cannot update. I will create a mail thread looping you with author to get the typo fixed.

[2019-09-17 08:52] #39007 closed

[2019-09-17 08:52] netRunner0 commented on #38932
If I did not create any resources?

[2019-09-17 08:54] ChiragMishra-MSFT commented on #39013
@test123114 I meant, incase you are executing a Create and a ConcurrentAppend at the same time on the same file, please remove the create operation and work with a ConcurrentAppend operation only.

ConcurrentAppend operation can be used to create a file if it doesn't exist, hence you can safely use it instead of using a Create operation separately.

[2019-09-17 08:59] johnneycao opened #39021 "the blog link in the "Deploy an ultra disk using Azure Resource Manager" is brocken"
the blog link in the "Deploy an ultra disk using Azure Resource Manager" is brocken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 076b7e0e-8ca2-53fa-51f1-f1027f1d2da8
* Version Independent ID: 4e99d739-6a5d-7b61-54c5-e5f1395e36d2
* Content: [Ultra disks for Windows VMs - Azure Managed Disks](https://docs.microsoft.com

[2019-09-17 09:08] JonNieminen opened #39022 "Outbound public IP address changes"
Earlier you only had possibility for one public IP in the Azure Firewall. I noticed a very annoying issue now since you can add multiple IP addresses for public IP configuration.

When I only had IP address A, all the outbound internet traffic was routed via this IP address A. Now that I've added a second IP address B, suddenly all the previous outbound traffic is routed via the new IP address and

[2019-09-17 09:16] crmhh opened #39023 ""You must enable another method to use mobile app or hardware token code""
Contrary to the behavior described here, it is not possible to use mobile app code alone without another method. It is also not possible to use mobile app code in combination with e.g. security questions when 2 methods are necessary.

The error message "You must enable another method to use mobile app or hardware token code" appears.

I've seen this behavior in three different tenants.

---
#### D

[2019-09-17 09:23] alexander-riss commented on #38941
did you verify if the webhook calls the URL with the parameter? that is the problem we are seeing, the configured URL is called without the parameter

[2019-09-17 09:23] RohitMungi-MSFT commented on #38932
A valid resource's key should be updated for the project to run.

[2019-09-17 09:31] tkumark opened #39024 "update on Change the data retention period"
Hi

Is there any update on change the data retention period feature? We are in mid September would like to know if there is going to be a delay. in this feature.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93d51fcb-63a2-c622-7df3-27703a171b3a
* Version Independent ID: 0e2ed122-08c3-fae2-3b7f-6fde780a9933
* Content:

[2019-09-17 09:34] msrini-MSFT commented on #39017
@hisasima , Thank you. I am able to repro your scenario. I am only getting logs for allowed traffic.

@vhorne , Can to a FAQ item in the doc ?

[2019-09-17 09:52] nicklooo opened #39025 "Shall we add the Application ID URI of the back end in Allowed Token Audiences?"
It mentions we should add the Application ID URI of the front end in Allowed Token Audiences in this section: https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-provider-aad#-add-azure-active-directory-information-to-your-app-service-app.

Allowed Token Audiences	If this is a back-end app and you want to allow authentication tokens from a front-end app, add the Application

[2019-09-17 09:52] msrini-MSFT commented on #39022
@JonNieminen , Thank you for your question. As mentioned in the doc, "Azure Firewall randomly selects the source public IP address to use for a connection."

It is the behavior with multiple IP address. Can you white-list all the IPs of Azure Firewall in your 3rd party firewalls?

[2019-09-17 10:01] VikasPullagura-MSFT commented on #39021
@johnneycao Thanks for the feedback.

The blog link is working for me as expected (automatically redirects adding language in url). Please check below screenshots.

![image](https://user-images.githubusercontent.com/48944027/65031998-ecd4cb80-d95f-11e9-830d-1590c85eb9af.png)

Can you please confirm if this is because of the language settings in your browser. This is the blog URL, add the preferred

[2019-09-17 10:14] aayush3667 opened #39026 "Automatic copy of the database"
HI,
Is it possible to create automatic copies of the database at a particular time every day?
Can we schedule an operation that will make copies of the database every few hours or so???
Thank you

[2019-09-17 10:25] JonNieminen commented on #39022
Apologies I missed this section in the documentation. Thank you for pointing it out!

[2019-09-17 10:25] aayush3667 opened #39027 "Incremental bacpac file using export"
Hi,
Can we export the bacpac file in such a way so that it takes only the incremental data in a database and stores it in bacpac file.
If do 10 times export in whole day, there will be 10 different whole bacpac files/
can we do it like this: 1st time export, there will be the whole bacpac file and when we are doing it for the 2nd time, only the changes will get saved in the same bacpac file.
we sh

[2019-09-17 10:25] #39026 closed

[2019-09-17 10:30] SwathiDhanwada-MSFT commented on #38757
@sajithvasu [Here](https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations) are the list of actions supported for the resource provider options. I would suggest you to verify whether the action specified in the json is part of actions listed in mentioned document.

Also make sure that the resource provider is registered within the subscription. [Here](https://

[2019-09-17 10:30] #38757 closed

[2019-09-17 10:32] ryanps1 commented on #34827
I'm currently unable to login with the query editor using either the local administrator credentials or with Azure AD. I do have MFA on my account, but for both my AD account and a local administrator, I'm receiving the below message:

 A connection to the server 'XXX.database.windows.net' could not be established. This may indicate an issue with your network connection or firewall configuration.

[2019-09-17 10:41] oleksandr-bilyk opened #39028 "Dependency Injection Nuget"
I believe you have forgot to say to add "Microsoft.Extensions.DependencyInjection.Abstractions" Nuget.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5786402e-9d88-5de0-607a-1c2a143af006
* Version Independent ID: 15368d1c-b22e-7eb2-413f-cc0d41d2b909
* Content: [Use dependency injection in .NET Azure Functions](https://

[2019-09-17 10:51] #39022 closed

[2019-09-17 10:53] kgopi05 commented on #38705
It is not only documentation to update , we are unable to create the metric_alert using Terraform as metric name is not available.
Error creating or updating metric alert "BGP Availability: insights.MetricAlertsClient#CreateOrUpdate: Failure responding to request: StatusCode=400 -- Original Error: autorest/azure: Service returned an error. Status=400 Code="BadRequest" Message="**The metric names w

[2019-09-17 10:57] jrm346 commented on #38213
Hi I second this.

I tried to write some unittests following the stuff fernandoBRS posted but there is an issue with using imports of shared code using the `from __app__.shared_code import` syntax as suggested. Obviously no module called __app__ exists. Thus any documentation on how to unit test with python would be greatly appreciated.

thanks

[2019-09-17 11:01] sakaldeepyadav opened #39029 "Access the SQL database server privately from the VM"
Under the heading 'Access the SQL database server privately from the VM'
Step 2. Enter _xxxxx.database.windows.net_.

An error; The term 'xxxx.database.windows.net' is not recognized as the name of a cmdlet.

How does PowerShell will recognize xxxx.database.windows.net, I think something is missing here in step two.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It

[2019-09-17 11:06] Veteraanikoodari commented on #38618
The application was created/registered about a year ago. The users were assigned from the Azure web interface as instructed. If this is 'not a bug' how did it work originally and why did it stopped working?

As we're no longer able to assign Users and Groups do you suggest that this is the correct way forward?
https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-add-app-roles-in-a

[2019-09-17 11:07] smithcl167 opened #39030 "domain joined VM issue"
hi,
I tried to test this on a domain joined VM
I restored the Disk and created a new VM from the disk with a new VM name
but it had the same name in the OS, i renamed this but this broke the original VM trust relationship with AD.
is there a way to restore a VM to a new VM without impacting on the original VM and AD?

thanks

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-09-17 11:16] WhitWaldo commented on #21170
I would recommend that the NSG reference actually include a link to https://docs.microsoft.com/en-us/azure/application-gateway/configuration-overview#network-security-groups-on-the-application-gateway-subnet as this other page not only goes into more detail but also covers App Gateway v1 and v2 and the various NSG rules in order of priority.

[2019-09-17 11:17] Veteraanikoodari commented on #38618
Ok. Not good. I Cannot create roles since in order to create custom roles, your organization needs azure AD premium. Now I understand why the old code stopped working. MS wants to simply have more money.

Please confirm that MS can simply take features away from paying customers? We have the Office365 plan.

[2019-09-17 11:22] jangcy commented on #37696
Hi,
Are there any updates on the issue?
Thanks!

[2019-09-17 11:23] AjayKumar-MSFT commented on #39025
@nicklooo, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-09-17 11:26] AshokPeddakotla-MSFT commented on #38938
@IdanAviad This channel (Github) is meant to cater to issues corresponding to docs and issues pertaining to them.
I would recommend you create a thread on the [azure-iot-sdk-csharp](https://github.com/Azure/azure-iot-sdk-csharp/issues) repo for further help regarding this issue.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your r

[2019-09-17 11:26] #38938 closed

[2019-09-17 11:28] AjayKumar-MSFT commented on #38814
@aweFalafelApps, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2019-09-17 11:28] #38814 closed

[2019-09-17 11:31] AshokPeddakotla-MSFT commented on #38897
@Akshatce Please refer the suggestions outlined in the [github issue](https://github.com/MicrosoftDocs/azure-docs/issues/31040) and let us know if that helps.

[2019-09-17 11:31] bakerm00 opened #39031 "finish the sentence or reword it"
"the groups are emitted and a link to the Graph endpoint to obtain group information."  its like you cut the sentence off midway. finish it or reword it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5a6779a-58f1-73fa-2b24-5f85deeea52b
* Version Independent ID: 481c093b-6db3-c4e5-6644-b1a3a4497a30
* Content: [Configur

[2019-09-17 11:44] SwathiDhanwada-MSFT commented on #38732
@sam90909 AFAIK,you can either use webhooks or emails as triggers based on your requirement. Neither are dependent on each other. Hope this helps!

We will close the thread for now. If there are further questions , please respond we will gladly continue the discussion.

[2019-09-17 11:44] #38732 closed

[2019-09-17 11:46] KrishnaG-MSFT commented on #39030
@smithcl167 Thanks for your comment. We are actively investigating and will get back to you shortly with an update.

[2019-09-17 11:46] PramodValavala-MSFT commented on #38801
@btmore While there is no active listener, the messages are not removed from the queue but are still expired messages. Once a client connects, the TTL is enforced and messages are removed if required.

Due to this behavior, you would see such expired messages if you were to browse such a queue but a client would never receive such messages.

[2019-09-17 11:48] KrishnaG-MSFT commented on #39019
@alistairl Thanks for your comment. We are actively investigating and will get back to you shortly with an update.

[2019-09-17 11:49] PramodValavala-MSFT commented on #39027
@aayush3667 Could you please share the doc that you are referring to for this?

[2019-09-17 11:50] KrishnaG-MSFT commented on #38792
@sochan1 I hope the issue is resolved. If not then please let us know with an update so that we can assist you better with next action plan.

Closing this issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please reply and we will gladly continue the discussion.