[2018-12-10 16:45] Alberto-Vega-MSFT commented on #20204
Hi,

You can find these in the Azure IoT Central docs USe the the left side panel to navigate to:

"How-to guides" >> "Connect devices"

There you can find a variety of devices including:

Connect an MXChip IoT DevKit device to your Azure IoT Central application

Connect a Raspberry Pi to your Azure IoT Central application (Python)

Connect a Raspberry Pi to your Azure IoT Central application (C#)

[2018-12-10 16:46] Alberto-Vega-MSFT commented on #20311
@odedmozesh Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-10 16:56] #18979 closed

[2018-12-10 16:56] #19077 closed

[2018-12-10 16:56] #20145 closed

[2018-12-10 16:57] #20197 closed

[2018-12-10 17:01] Alberto-Vega-MSFT commented on #20340
@rquintino Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-10 17:02] xyz92 opened #20343 "More than 2 paid Sendgrid accounts per Azure subscription"
How do I enable/increase limit on Azure Subscription for more than 2 paid SendGrid accounts.

Thanks!

[2018-12-10 17:03] Alberto-Vega-MSFT commented on #20338
@strategywise Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-10 17:04] MicahMcKittrick-MSFT commented on #20144
@pottsmgg any update on this?

[2018-12-10 17:05] MicahMcKittrick-MSFT commented on #20219
Thanks for all this @jakaruna-MSFT. I can confirm I see the same thing but the work around did resolve.

@mani-ramaswamy can you take a look at this? Seems we need to update the doc or update the samples.

[2018-12-10 17:06] MicahMcKittrick-MSFT commented on #20219
CC @aljo-microsoft

[2018-12-10 17:07] MicahMcKittrick-MSFT commented on #20222
@kgopi05 I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-10 17:08] MicahMcKittrick-MSFT commented on #20225
@richardspitz I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-10 17:09] harrisryan93 opened #20344 "storage error halts VM creation"
WARNING: Since the VM is created using premium storage or managed disk, existing standard storage account, tqcrg1diag, is used for boot diagnostics.
New-AzureRmVM : Changing property 'osDisk.osType' is not allowed.
ErrorCode: PropertyChangeNotAllowed
ErrorMessage: Changing property 'osDisk.osType' is not allowed.
ErrorTarget: osDisk.osType
StatusCode: 409
ReasonPhrase: Conflict
OperationID : a9cfa

[2018-12-10 17:10] kaalvin opened #20345 "Azure AD China"
How i can connect China Azure AD from power shell like Connect-AzureAD ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65a056ec-c572-dfa8-efa1-d780a24ff66d
* Version Independent ID: 8eb87c31-30e6-7a80-3007-42506e7c6a67
* Content: [Manage and connect to your Azure China 21Vianet subscription](https://docs.microsoft.com

[2018-12-10 17:13] TylerMSFT commented on #15928
Hi, LisandroSu.  Sorry you have run into this.  As this is a product issue, not a doc issue, I have contacted a member of our product team to let them know about the issue.

[2018-12-10 17:14] strategywise opened #20346 "AKS or ACR permissions errors?"
Modified the above code to a working state but still can't get AKS to attach. We're running into a permissions error on deployment:

Message: An internal server error occurred. Please try again. If the problem persists, contact support
Compute object has provisioning state "Failed"
and provisioning errors: [{'error': {'code': 'InternalServerError', 'statusCode': 500, 'message': 'An internal server

[2018-12-10 17:19] mattchenderson commented on #19690
Almost all of the issues we've seen so far are configuration related. If the app cannot resolve the secret from Key Vault because of an access policy misconfiguration, the raw reference syntax is passed in instead. Please double check your Key Vault Access policies and ensure that your app has the GET permission for secrets. The feature should work for all versions of Azure Functions hosted in Azu

[2018-12-10 17:19] robertdolney opened #20347 "PaaS Architecture for normal App Service (not ASE)?"
While this article is great for organizations looking to use ASE, there is a need to identify reference architecture using normal App Services. With the introduction of IP Restrictions in App Services, and the introduction of ASE Isolated (as opposed to v2), I believe this article is in need of an update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2018-12-10 17:23] jason-j-MSFT commented on #20329
@michaelraam thanks for the feedback!  Could you ask your question in the forums?  The audience there would be a better suited to answer your support question.  Please provide as much detail as possible about your scenario:
https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory

[2018-12-10 17:23] #20329 closed

[2018-12-10 17:23] MicahMcKittrick-MSFT commented on #20344
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-10 17:24] mike-urnun-msft commented on #20342
Hi @gwalters69

Thank you for your feedback! We will review and update as appropriate.

[2018-12-10 17:25] msangapu commented on #19598
Hello @kscott01. Thanks for reporting.

@BryanTrach-MSFT  @kscott01 The --settings parameter with the az create command did not work for me.

@panchagnula Can you provide guidance on the items @kscott01 reported?

[2018-12-10 17:34] vicky08 opened #20348 "How do we integrate the new vnet integrartion with ARM templates?"
The New Vnet integration doesnt seem to work with ARM templates. But when I try it via portal, it seems to work. Even Via ARM templates generated via Automation script, the new VNET integration doesnt seem to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a98803-1438-b1b5-f543-7dd88bc4294e
* Version Independent

[2018-12-10 17:42] Mike-Ubezzi-MSFT commented on #20337
@HJToland3 I am unable to assign this issue to @pochiraju, can you assist with this? It is actually an issue with source code and not an issue with this document. Thank you!

[2018-12-10 17:51] sergaz-msft commented on #20026
Hello @lhit8751 looks like you can't compile the application.

Did you notice the following?

"If you don't have a physical BME280, you can use '--simulated-data' as command line parameter to simulate temperature&humidity data. `sudo ./setup.sh --simulated-data`"

Just want to make sure that you used that flag if you don't have a physical BME280?

Thanks

[2018-12-10 17:52] Grace-MacJones-MSFT commented on #20326
Hi @jsiegmund, hanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-10 18:11] eross-msft commented on #20136
@limjianan
These will remain two separate processes for the some time to come, but after this process (standalone MFA sign up) is retired and security info becomes the singular way to sign up for SSPR and MFA, the security info content/screens will take over. In the interim, you as a user will only see the security info area if your admin has turned it on. So while the image seems incorrect for yo

[2018-12-10 18:17] eross-msft commented on #20328
@DeanGross
We're in the process of standardizing how we talk about licensing in our documentation. However, while we're working on that, I will move this article's licensing information up to a more prominent location. Thanks!!

#please-close

[2018-12-10 18:27] tamal19 opened #20349 "09989364"
09989364

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b0550e7-e5e2-69d1-03a8-f678c3fe0eee
* Version Independent ID: 877db3da-b145-7bfd-3544-30a420de7d13
* Content: [Get started with the Microsoft Authenticator app - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/user-help/microsoft-a

[2018-12-10 18:32] SaurabhSharma-MSFT commented on #20343
@xyz92 Could you provide us with the link to the document you are referring to ?

[2018-12-10 18:33] SubhashVasarapu-MSFT commented on #20317
@kazshi  Thank you for your question. And we will respond to you soon.

[2018-12-10 18:34] tfitzmac commented on #19003
@mtnygard - thanks for this feedback. I have updated the images to show all the steps.

[2018-12-10 18:34] tfitzmac commented on #19003
#please-close

[2018-12-10 18:35] daviburg opened #20350 ""Globally unique name" is it a "Suggested value" or is it actually a requirement?"
For the creation parameters, the host name is described in "Suggested value" as "Globally unique name". Is the global uniqueness only a suggestion or is it a requirement? The current presentation of the information is ambiguous.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e83695b-8934-80ef-2f82-9fb42b5dd2f2
* Versi

[2018-12-10 18:35] tfitzmac commented on #19620
The change has been published.

[2018-12-10 18:35] tfitzmac commented on #19620
#please-close

[2018-12-10 18:38] saif-chaudhry commented on #19620
thanks, @tfitzmac  closing, as requested.

[2018-12-10 18:38] #19620 closed

[2018-12-10 18:38] YutongTie-MSFT commented on #20324
@kumaranpravin Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@nacharya1 Hi, do we have any document about the visibility? Or if there anyway to do that? Thanks.

[2018-12-10 18:39] Mike-Ubezzi-MSFT commented on #19807
@craigg-msft Unable assign this doc content item to do author (@pochiraju). Thank you! This is already being worked and might be ready for closure.

[2018-12-10 18:44] TravisCragg-MSFT commented on #20167
@SamirFarhat We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-10 18:44] #20167 closed

[2018-12-10 18:46] kobulloc-MSFT commented on #20334
@garsidestephen Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-12-10 18:48] kobulloc-MSFT commented on #20341
@RobertoPrevato Thank you for the feedback!  We've assigned this to the document author so they can update the documentation as appropriate.

[2018-12-10 18:49] SaurabhSharma-MSFT commented on #20349
@tamal19 Could you please elaborate your ask ?

[2018-12-10 18:50] SaurabhSharma-MSFT commented on #20347
@robertdolney Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-10 18:51] SaurabhSharma-MSFT commented on #20336
@andy2002a Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-10 18:52] SaurabhSharma-MSFT commented on #20335
@Balenius Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-12-10 18:53] cynthn commented on #20225
@richardspitz thanks for the feedback!

Not all regions are supported "out-of-the-box", you need to be whitelisted for Australia Central and Australian Central 2. I think there are also some special regions that are dependent on your subscription type. But yes, for most cases you can now replicate to most regions :)

I've got an update to the Shared Image Galleries docs coming later this week that

[2018-12-10 18:53] YutongTie-MSFT opened #20351 "Deploy model, image and service inside pipeline"
This issue is moved from MSDN forum. https://social.msdn.microsoft.com/Forums/en-US/af1c2b3a-4d0e-4af7-8902-f827b7207148/deploy-model-image-and-service-inside-pipeline?forum=AzureMachineLearningService

According to the pipeline documentation, it seems that it should be possible to deploy models, images and services inside the pipeline infrastructure. However, the guides and example notebooks does

[2018-12-10 18:53] SaurabhSharma-MSFT commented on #20333
@martinstenhoff Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-10 18:54] Grace-MacJones-MSFT commented on #20348
Hi @vicky08, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-12-10 18:54] YutongTie-MSFT commented on #20351
@sanpil Hi, can you please take a look of this issue and update the document as necessary? Thanks a lot!

[2018-12-10 18:54] MikeDodaro commented on #19670
@u884951   Are you not getting a videos node that identifies the results that are type video?

  "videos": {
    "id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#Videos",
    "readLink": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/videos\/search?q=surfing",
    "webSearchUrl": "https:\/\/www.bing.com\/videos\/search?q=surfing",
    "isFamilyFriendly": true,
    "value": [
      {

[2018-12-10 18:55] Grace-MacJones-MSFT commented on #20323
Hi @shchoy, thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-10 18:56] SaurabhSharma-MSFT commented on #20325
@DeanGross Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-12-10 18:58] SaurabhSharma-MSFT commented on #20312
@atullalwani Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-10 19:05] MicrosoftGuyJFlo commented on #20336
@andy2002a
Office 365 E3 is not the same as Microsoft 365 E3 or Enterprise Mobility + Security E3. The warning on the page you reference calls this out.

https://docs.microsoft.com/azure/active-directory/authentication/concept-sspr-writeback#licensing-requirements-for-password-writeback
"Standalone Office 365 licensing plans don't support password writeback and require that you have one of the pre

[2018-12-10 19:06] jeffgilb commented on #6506
Azure Stack DNS Servers are authoritative (SOA) for [REGION].[EXTERNALDOMAINNAME].  Using the example below they’re authoritative for east.cloud.fabrikam.com.  The customer must create the zone cloud.fabrikam.com in their DNS (whether internal or hosted), and from there delegate the child zone for the region to east.cloud.fabrikam.com to the Azure Stack DNS name servers.

[2018-12-10 19:06] jeffgilb commented on #6506
#please-close

[2018-12-10 19:07] msmimart commented on #10199
We really appreciate you sharing your workaround. I hope the situation is resolved but let me know if you have any other info to add. Otherwise I think we can go ahead and close this issue now. The thread will remain with this article to help anyone else in the same situation. Thanks again!
#please-close

[2018-12-10 19:08] andy2002a commented on #20336
Thanks for clearing that up

[2018-12-10 19:12] jeffgilb commented on #8506
Updated with After installing the Azure Stack Development Kit (ASDK), you will need to make a some recommended post-installation configuration changes **while logged in as AzureStack\AzureStackAdmin on the ASDK host computer.**

[2018-12-10 19:13] jeffgilb commented on #8506
#please-close

[2018-12-10 19:13] romankiss commented on #19690
@mattchenderson
Thanks for info:
"If the app cannot resolve the secret from Key Vault because of an access policy misconfiguration, the raw reference syntax is passed in instead."

After the following changes, the AF + KV feature is working well:
1. Using a reference string with a SecretUri instead of the VaultName/SecretName/SecretVersion
2. Adding my FunctionApp to the Key vault Access policies

[2018-12-10 19:20] jeffgilb commented on #8530
updated to provide more clarity. Also, this article is going to be going through a major re-write soon.

[2018-12-10 19:21] jeffgilb commented on #8530
#please-close

[2018-12-10 19:23] jeffgilb commented on #12307
#please-close

[2018-12-10 19:24] jeffgilb commented on #12628
#please-close

[2018-12-10 19:25] Christina-Kang commented on #12370
@Otaman The issue is fixed in sfctl 7.0.0 which should be release in a couple of days. The new version checks for less than Python 3.8, and going forward, a release will be made along with Python 3.8 to avoid the time gap. Thanks for reporting!

[2018-12-10 19:25] #8530 closed

[2018-12-10 19:25] femsulu commented on #20079
@KeiroKamioka0000 the upper limit for Premium is **4095 GiB** while upper limit for Standard unmanaged is **4095 GB** . GIB and GB are intended to be different in the doc. Please note the reference shared by @SadiqhAhmed-MSFT  - posted below.

"GiB and GB both are two different digital data storage scales. But they are very closely related.
GiB stands for Gibibyte and GB stands for Gigabyte.
Accor

[2018-12-10 19:32] jeffgilb commented on #13734
article updated in master publishing repo.

[2018-12-10 19:32] jeffgilb commented on #13734
#please-close

[2018-12-10 19:36] jeffgilb commented on #15391
This was fixed a while ago. #please-close

[2018-12-10 19:37] jeffgilb commented on #15845
#please-close

[2018-12-10 19:37] jeffgilb commented on #16720
done. #please-close

[2018-12-10 19:40] jeffgilb commented on #18038
#please-close

[2018-12-10 19:41] MicahMcKittrick-MSFT commented on #20344
@zr-msft can you take a look at this one? I ran through the doc and confirm I get the same error. Using managed premium disks.

Using something like https://blogs.technet.microsoft.com/mckittrick/how-to-rebuild-from-an-existing-managed-disk/ works but it is not as fluent as following this doc.

[2018-12-10 19:42] curtand commented on #19103
Hi @ravikiran-srini

According to the PM, it's already in there as "VPN Gateway." I apologize for my lack of familiarity with the docs and subject area. Thanks for your contribution!

@TravisCragg-MSFT
#please-close

[2018-12-10 19:42] femsulu commented on #20321
@dwaynebailey need additional clarification to assist further. Are you encountering an issue or are you stating that the GroupID is returned as a list.

[2018-12-10 19:43] Mike-Ubezzi-MSFT commented on #20350
@daviburg Thank you very much for your interest in Azure Cloud. The "Globally unique name" is a requirement. You cannot create two Azure Redis Cache instances with the same name, even in separate regions. The naming convention is just the same as CNAME records with DNS and the internet. This convention applies to Azure Cloud, but within the context of a specific service. All Redis Cache instances

[2018-12-10 19:43] TravisCragg-MSFT commented on #12307
@vmaruthi We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-10 19:43] #12307 closed

[2018-12-10 19:43] TravisCragg-MSFT commented on #13152
@ChrisMahon-DellEMC We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-10 19:43] #13152 closed

[2018-12-10 19:44] TravisCragg-MSFT commented on #16720
@jaikritnegi We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-10 19:44] #16720 closed

[2018-12-10 19:44] dwaynebailey commented on #20321
I had to set the GroupId as a list for it to work.  Otherwise you get a
JSON error.

On Mon, 10 Dec 2018 at 19:43, femsulu-MSFT <notifications@github.com> wrote:

--
Dwayne

*Translate*
+27 12 460 1095 (work)

[2018-12-10 19:44] TravisCragg-MSFT commented on #19103
@ravikiran-srini We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-10 19:44] #19103 closed

[2018-12-10 19:46] TravisCragg-MSFT commented on #20322
@SamirFarhat Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

If you need some specific information as to how these flows work that is blocking you on a project, please let me know.

[2018-12-10 19:52] cwatson-cat commented on #13795
Yes a section on instance size flexibility was added Sept 5th:
https://docs.microsoft.com/en-us/azure/billing/billing-save-compute-costs-reservations#discount-applies-to-different-sizes-with-instance-size-flexibility

Thanks for reporting @jorupp!

#please-close

[2018-12-10 19:52] femsulu commented on #13795
closing per update from @dcbrown16 and @jorupp

[2018-12-10 19:52] #13795 closed

[2018-12-10 19:56] MicrosoftGuyJFlo commented on #20336
#please-close

[2018-12-10 19:56] MicrosoftGuyJFlo commented on #20336
Glad that cleared it up for you.

[2018-12-10 20:00] lmolkova commented on #20341
Hi @RobertoPrevato,

LocalForwarder is an agent that gets data from ApplicaitonInsights (Java SDK is only supported now) OR OpenCensus and sends them to ApplicationInsights backend.

So you instrument your app with opencensus configure the exporter to the ocagent and get requests, dependencies and logs (span's annotations).

If you are not getting requests and dependencies, please make sure your c

[2018-12-10 20:01] MicrosoftGuyJFlo commented on #20289
Yes @Lefty4444

Server Core-based operating systems are not currently supported. This support is planned for GA.

We do not have any timelines to announce for GA the feature is still in preview.

[2018-12-10 20:01] MicrosoftGuyJFlo commented on #20289
#please-close

[2018-12-10 20:09] YutongTie-MSFT commented on #8734
@dem108 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-10 20:09] #8734 closed

[2018-12-10 20:10] #20336 closed

[2018-12-10 20:10] xyz92 commented on #20343
Please see the link: https://sendgrid.com/docs/for-developers/partners/microsoft-azure/

[2018-12-10 20:11] YutongTie-MSFT commented on #20033
Sure I will reopen it.

[2018-12-10 20:14] YutongTie-MSFT commented on #20346
@strategywise Thanks for your feedback. I will investigate it and get back to you soon.

[2018-12-10 20:15] femsulu commented on #20345
@kaalvin Thanks for the Comment. We are actively investigating and will get back to you soon.

[2018-12-10 20:16] #20289 closed

[2018-12-10 20:16] mohsenvafa opened #20353 "Operations on an Azure Cosmos database"
In the section "Operations on an Azure Cosmos database"  in the table interaction says create new database is NA for Gremlin API but in Portal, you can create multiple Database under one Account with GraphAPI

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7941d92-a0ea-0f78-12af-7dc8ccb2b1ea
* Version Independent ID: d

[2018-12-10 20:19] blark opened #20354 "This article is outdated"
Please update with examples for the Ansible azure_rm plugin that has superseded the old script.

See:
https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/inventory/azure_rm.py
and
https://docs.ansible.com/ansible/latest/plugins/inventory/azure_rm.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2b8e92

[2018-12-10 20:32] zr-msft commented on #20344
adding @cynthn

[2018-12-10 20:36] #10199 closed

[2018-12-10 20:44] AlverezYari commented on #20346
I don't know what the requirements are for the target AKS cluster. It seems like its trying to perhaps deploy and image when its being added. All I did was create a the cluster and then tried to add it to the ML service as a compute target. There are no pods or containers running on it and its fresh.

[2018-12-10 20:48] MicahMcKittrick-MSFT commented on #20073
@terrymandin can you try running the command in Azure Cloud Shell instead?

[2018-12-10 20:49] jarroput commented on #18460
Is there an indication on when an update on the docs will be realised?
Is it possible to send a notification using the built-in InstallationId?

@dimazaid @BryanTrach-MSFT

[2018-12-10 20:53] anirudhcavale commented on #19977
This is actually a question more towards the vmss team and how they would charge for scale set with a fluctuating instance count. Adding @rajsqr to best answer that.

[2018-12-10 20:56] carbo-will opened #20356 "groupMembershipClaims has conflicting documentation"
groupMembershipClaims is documented as being a string, yet the sample value is 1.  If it needs to be a numeric string, then the sample value ought to be "1".  However, other documentation (https://docs.microsoft.com/en-us/azure/architecture/multitenant-identity/app-roles and https://github.com/Azure-Samples/active-directory-dotnet-webapp-groupclaims) says that groupMembershipClaims should be set t

[2018-12-10 20:57] anirudhcavale commented on #20206
@johndowns this is known behavior. The primary key for metric information is the ARM resource id of a resource. So if you delete and recreate a resource with the exact same name (in the same region), the primary key is the same and so will end up pulling all matching metric records. this is the same behavior for platform metrics as well.

[2018-12-10 20:58] salavala opened #20357 "Can't compile "Get an OAuth token from Azure AD" Code!"
Followed all the steps but can't compile the get access token code. Using Visual Studio 2017.
            AuthenticationResult result = authContext.AcquireTokenAsync(ResourceId,
                                                                        "08678121-e9e5-4e0b-a909-fbdaa7f384f3",
                                                                        new Uri(@"https://StorageSecuirtyPrinc

[2018-12-10 21:09] WALLOUD opened #20358 "walidcafe"
target!!!?$$$,,,???
£££!!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 144afccf-4ab9-bb34-957d-e86d3732d688
* Version Independent ID: 863b80ff-f60a-e727-dc12-0d6aba937df6
* Content: [Azure Monitor overview](https://docs.microsoft.com/en-us/azure/azure-monitor/overview)
* Content Source: [articles/azure-monitor/overv

[2018-12-10 21:14] svdbusse commented on #5850
I'm experiencing the same challenges when attempting to provision users to a specified OrgUnitPath.
My understanding of scoping filters are that they are used to specify which users are provisioned, rather than where they are provisioned to.
I've added an extra attribute mapping, and can see it being set during an export event in the audit log - but the provisioned user remains in the root G. Suit

[2018-12-10 21:16] femsulu commented on #19831
Thanks @DCtheGeek. went ahead and assigned the issue to you.

[2018-12-10 21:19] nickwalkmsft opened #20359 "Deployment user not required for git push deployment"
The "Create a deployment user" section states *This deployment user is required for FTP and local Git deployment to a web app.*. This is not true, the app user credentials work for this as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93a788eb-76a1-af8b-c4b7-75db633e7a5c
* Version Independent ID: 94365d96-64b4-c

[2018-12-10 21:21] braest commented on #20213
Is the information supplied complete?

[2018-12-10 21:32] robinmanuelthiel opened #20360 "How can secrets be used?"
I am missing a documentation on how secrets can be used within applications? Am I injecting them as environment variables? Can I access them directly from my application? Please clarify in the write-up!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5df29c5-b630-9fc3-5eef-285b6543aecc
* Version Independent ID: 2c89455

[2018-12-10 21:33] robinmanuelthiel opened #20361 "Provide a sample on how to use secrets in a service!"
The Chapter "Modify Mesh application to reference Mesh Secret values" is missing a sample, where I can check, how secrets can be used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5df29c5-b630-9fc3-5eef-285b6543aecc
* Version Independent ID: 2c894551-6cee-542c-5acc-e44730ea354b
* Content: [Manage Azure Service Fabri

[2018-12-10 21:35] robinmanuelthiel opened #20362 "Please specify the difference between Secrets and Secrets/Values"
I am not getting my head around the difference between these two.

- Do I always have to use both?
- What do I need the `value` in `Secrets` for, if I specify it in `Secrets/Values`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5df29c5-b630-9fc3-5eef-285b6543aecc
* Version Independent ID: 2c894551-6cee-542c-5acc-e44

[2018-12-10 21:36] MohitGargMSFT commented on #19593
@mangeshparanjape Please confirm if your issue is now resolved.

[2018-12-10 21:38] MohitGargMSFT commented on #19955
@alexli1984 I see that you are been assisted on MSDN thread. I will move ahead and close this GitHub issue now.

[2018-12-10 21:38] #19955 closed

[2018-12-10 21:38] MohitGargMSFT commented on #20124
@MikeDembek We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-12-10 21:38] #20124 closed

[2018-12-10 21:39] johndowns commented on #20206
@anirudhcavale Thanks for the explanation. Can I suggest you include this in the documentation somewhere? It's important to know, especially for short-lived environments that get automatically provisioned and deprovisioned (e.g. integration test environments).

[2018-12-10 21:39] MohitGargMSFT commented on #20125
@MikeDembek We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-12-10 21:39] #20125 closed

[2018-12-10 21:41] robinsh commented on #16613
I've updated the article to have a note that explains you can't use a free IoT Hub for this tutorial.

[2018-12-10 21:41] MicahMcKittrick-MSFT commented on #20331
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-10 21:44] ggailey777 commented on #20298
+ @asavaritayal for awareness

[2018-12-10 21:48] Grace-MacJones-MSFT commented on #19967
Hi @oleliabo, this may be due to Proactive Auto Healing feature. It is an expansion on the Auto Heal offering. Proactive Auto Heal is a feature designed to setup default auto heal settings for every web app so that if they violate[ these rules](https://blogs.msdn.microsoft.com/appserviceteam/2017/08/17/proactive-auto-heal/) then it will recycle the process. Proactive Auto Heal is automatically ena

[2018-12-10 21:54] mrbullwinkle commented on #18556
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-12-10 21:55] burstingninja opened #20364 "Grammar error"
@PatAltimore; replace the following Blockhain  for Blockchain

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77da26d5-3d39-a492-5932-8ae004bc95be
* Version Independent ID: fb6c34da-d795-115e-dd6f-335a9face297
* Content: [Use Azure Blockchain Workbench Data with SQL Server Management Studio](https://docs.microsoft.com/e

[2018-12-10 21:56] mrbullwinkle commented on #18051
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-12-10 21:56] #18556 closed

[2018-12-10 21:57] #18051 closed

[2018-12-10 21:57] mrbullwinkle commented on #17876
@ArturDorochowicz thanks again for bringing this to our attention. The doc is now updated.

[2018-12-10 21:58] mrbullwinkle commented on #17876
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-12-10 21:58] #17876 closed

[2018-12-10 21:59] mrbullwinkle commented on #20060
@cijothomas Thanks for taking care of this in PR 20133!

[2018-12-10 21:59] mrbullwinkle commented on #20060
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-12-10 22:00] bryantlikes commented on #11383
Any update on this?

[2018-12-10 22:06] SnehaGunda commented on #20330
@doneuros Thanks for pointing out the issue, yes the character limit is between 3 to 31, I updated the doc to clarify. the changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2018-12-10 22:06] SnehaGunda commented on #20330
#please-close

[2018-12-10 22:11] TravisCragg-MSFT commented on #20220
@cenkersoy Thanks for the feedback! Many of the concepts are identical.

 I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-10 22:11] #20060 closed

[2018-12-10 22:18] femsulu commented on #20321
Thanks for clarifying. Adding @bwren for input.

[2018-12-10 22:18] cynthn commented on #20344
@MicahMcKittrick-MSFT where does it fail? On the final VM creation?

@harrisryan93 thanks for the feedback! I'll try to get to this soon, but it may take a couple of days.

[2018-12-10 22:19] MicahMcKittrick-MSFT commented on #20344
@cynthn yes on the VM creation

# Recreate the VM
    New-AzureRmVM `
       -ResourceGroupName $resourceGroup `
       -Location $originalVM.Location `
       -VM $newVM `
       -DisableBginfoExtension

if you check the variables after each step there are no errors. Just seems to throw it when actually trying to create the VM and use that existing VHD.

[2018-12-10 22:20] grayjeremy opened #20365 "P2 License Count"
Do all users in my directory need to have a P2 or an E5 license?  or can I only do access reviews on people who have the P2/E5 license?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a8a3416-ca49-e148-89ec-aa004914eaa5
* Version Independent ID: 6e6831f4-40ed-4058-5a6f-56cd3900460a
* Content: [What are Azure AD Access

[2018-12-10 22:21] Mike-Ubezzi-MSFT commented on #20029
@arkiaconsulting We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-10 22:21] #20029 closed

[2018-12-10 22:23] MicahMcKittrick-MSFT commented on #20331
@bryanjahn thanks for pointing this out. I confirmed this behavior in Azure Cloud Shell. The command works as written in local PS though. I updated the doc. Once the PR merges the changes will go live in a few hours.

[2018-12-10 22:23] #20331 closed

[2018-12-10 22:23] cynthn commented on #20344
@MicahMcKittrick-MSFT Okay, I might quickly try just creating using "-attach" with another VHD to see if it is a wider issue with creating from an existing VHD. Thanks!

[2018-12-10 22:23] gate502 commented on #20365
Excellent question - I will follow this thread as it impacts our organization as well.  Thanks!

[2018-12-10 22:23] Mike-Ubezzi-MSFT commented on #20046
@arthurblake We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-10 22:23] #20046 closed

[2018-12-10 22:30] #18945 closed

[2018-12-10 22:34] Mike-Ubezzi-MSFT commented on #20057
@summerkiss Please take a look at the following and let us know if this is what you are looking for: [Monitor Azure Cosmos DB programmatically](https://docs.microsoft.com/en-us/azure/cosmos-db/monitor-accounts#monitor-azure-cosmos-db-programmatically).

[2018-12-10 22:34] garyericson commented on #18898
@Alberto-Vega-MSFT @YutongTie-MSFT - Can you please assign this to @marktab? He's the new author of this content. Thanks.

[2018-12-10 22:36] garyericson commented on #19072
The pages have been removed. This PR can be closed. #please-close

[2018-12-10 22:37] TravisCragg-MSFT commented on #20211
@TecTimeDev from what I can see, the backend subnet is at 10.12.0.0/24, which covers 256 addresses, 10.12.0.0 to 10.12.0.254. the GatewaySubnet is 10.12.255.0/27, which does not conflict.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-10 22:37] #20211 closed

[2018-12-10 22:37] MicahMcKittrick-MSFT commented on #20362
Duplicate of #20360

[2018-12-10 22:37] #20362 closed

[2018-12-10 22:38] MicahMcKittrick-MSFT commented on #20361
duplicate of #20361

[2018-12-10 22:38] #20361 closed

[2018-12-10 22:38] MicahMcKittrick-MSFT commented on #20360
Duplicate of #20361 ##20362

@robinmanuelthiel thanks for the feedback. As you have left 3 comments on the same doc we can consolidate your feedback to one issue to make it simliar. No need to open multiple issues. In addition, since you are an FTE you can also feel free to reach out to content authors directly with any feedback you have.

I will assign this to @aljo-microsoft to review you feedba

[2018-12-10 22:42] MikeDodaro commented on #15563
Fixed and merged: https://github.com/Azure/azure-docs-rest-apis/pull/2136

[2018-12-10 22:46] Mike-Ubezzi-MSFT commented on #20353
@mohsenvafa Thanks for the detailed feedback! It looks like `container` and `collection` are being used interchangeably. I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-10 22:46] femsulu commented on #19323
@lbergeron01 just received update from the feature team that this is a known issue that has since been resolved. The fix has been deployed to all regions. Please retry and let me know if issue persists and I can help investigate further.

[2018-12-10 22:47] tchristiani commented on #15563
#please-close

[2018-12-10 22:54] tfitzmac commented on #17512
I have tested some scenarios and do not see this error. So, I am going to assume it can be closed, unless I hear that it is still and issue.

[2018-12-10 22:55] tfitzmac commented on #17512
#please-close

[2018-12-10 22:57] mlr-msft opened #20366 "Difficulty reproducing results; information seems out of date."
I am attempting to reproduce the results outlined in this article on an Azure VM. When I run `testpmd`, I get the following results:

[code]

One of the things I've noticed is that the Azure virtual PMD is not enabled by default; from [`dpdk/config/common_base`](https://git.dpdk.org/dpdk/tree/config/common_base?h=v18.11):

[code]

This leads me to believe that the instructions might be out of date

[2018-12-10 23:01] YutongTie-MSFT commented on #19072
@jlrevilla
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-12-10 23:01] #19072 closed

[2018-12-10 23:02] YutongTie-MSFT commented on #18898
@garyericson Done, thanks for the update.

[2018-12-10 23:04] Mike-Ubezzi-MSFT commented on #20063
@olofszymczak Per the documentation, the 4000 character limit is well documented but agree that for audit purposes, it should be detailed in full. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-10 23:05] mohsenvafa commented on #20353
@mike-ubezzi-msft

There are two other issues:

1. in Azure Cosmos containers section, under Azure Cosmos entity table, Azure Cosmos container is called "Container" that should be "Collection", the same thing under MongoDB API column

2. in Azure Cosmos items, SQL API should be "Document", not "Item"

[2018-12-10 23:05] #20063 closed

[2018-12-10 23:34] SaurabhSharma-MSFT commented on #20343
@xyz92 This page not a Microsoft documentation and related to SendGrid's.  Please contact SendGrid for your query. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-10 23:34] #20343 closed

[2018-12-10 23:35] Adam-Smith-MSFT commented on #20283
@DAXaholic Thanks for the comment, have you by any chance checked the following documentation ?
https://docs.microsoft.com/en-us/rest/api/storageservices/get-directory-metadata
Let me know if this helps.

[2018-12-10 23:38] bwodicka opened #20372 "Issue with ws = Workspace.from_config()"
I'm also having a problem running the initial experiment - also in the second step related to connection to workspace.  I'm able to successfully get the browser prompt, authenticate (I see "Interactive authentication successfully completed.") - then get an exception down the stack: "AuthenticationException: You don't have access to &lt;subscriptionId&gt; subscription. All the subscriptions that yo

[2018-12-10 23:38] Adam-Smith-MSFT commented on #20357
@salavala Thank you for the valuable feedback, this a known issue, the article is currently being reviewed, please check the following issue: https://github.com/MicrosoftDocs/azure-docs/issues/19593
It includes the solution and the code to use. Let me know if this helps.

[2018-12-10 23:48] SaurabhSharma-MSFT commented on #20312
@atullalwani No, as far as I know TDE is not enabled by default for Azure Database for PostgreSQL/MySQL however I will let @TomShinder comment on the same if that is not the case.

[2018-12-10 23:50] kgremban commented on #19523
@evan-morris The screenshot that you included didn't make it through to the GitHub issue.

[2018-12-11 00:03] Mike-Ubezzi-MSFT commented on #20184
@GHoh This is unsupported. You cannot restore a .bak file in the manner in which you are attempting to execute the restore. You CAN restore a .bacpac file. Please see the following Stack Overflow forum post for additional options: [Restoring SQL Server backup to Azure SQL Database](https://stackoverflow.com/questions/33436344/restoring-sql-server-backup-to-azure-sql-database).

[2018-12-11 00:06] xom-pschiess commented on #16754
Greetings - I followed this guide step-by-step. When I attempt to log in, I am getting the following error: AADSTS65005: Misconfigured application. This could be due to one of the following: The client has not listed any permissions for 'AAD Graph' in the requested permissions in the client's application registration. Or, The admin has not consented in the tenant. Or, Check the application identif

[2018-12-11 00:10] Grace-MacJones-MSFT commented on #19967
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-11 00:10] #19967 closed

[2018-12-11 00:32] tfitzmac commented on #20061
@cconrado - the TemplateParameterObject takes a hash table with all of the parameter values for the template. So, it's use would be like:
-TemplateParameterObject @{testparameter1="testvalue1"; testparameter2="testvalue2"}

I suspect that is not what you are trying to do. Is the parameter you are trying to use a JSON object? You could create the object in PowerShell, convert to JSON, and pass in a

[2018-12-11 00:32] YutongTie-MSFT commented on #20372
@bwodicka
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-11 00:39] #6506 closed

[2018-12-11 00:39] #8506 closed

[2018-12-11 00:39] #12628 closed

[2018-12-11 00:39] #13734 closed

[2018-12-11 00:40] #15391 closed

[2018-12-11 00:40] #15563 closed

[2018-12-11 00:40] #15845 closed

[2018-12-11 00:40] #17512 closed

[2018-12-11 00:40] #18038 closed

[2018-12-11 00:41] #19003 closed

[2018-12-11 00:41] #20328 closed

[2018-12-11 00:41] #20330 closed

[2018-12-11 00:55] baywet commented on #17512
I was deploying a azure MySQL database (not the clear db one). And passing a string that was too long for the password argument. Do you need me to build a repro?

[2018-12-11 01:15] jeevansd commented on #15255
@thommck In SAML world the entire trust between IDP and SP is based on the certificate. So you should able to pay great attention on this issue. Certificate has to be validated by the Service Provider (application). Azure AD generates the unique X509 certificate for the app. The same has to be configured and validated by the SP. If the app is not doing this validation then they are not following t

[2018-12-11 01:20] sunilagarwal opened #20387 "Enabking accelerated networking"
Link &lt;create a virtual machine with accelerated networking using the Azure portal&gt; sends me to the page describing how to create a VM and NOT how to enable accelerated networking?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4be8e45-460a-fab4-519b-32d83382005c
* Version Independent ID: 36a002a6-5813-da00-0a57-

[2018-12-11 01:20] tfitzmac commented on #17512
@baywet - do you have an idea of how many characters were in the string?

[2018-12-11 01:59] rolyon commented on #20166
Hi @andyjballgit
I'll see what I can find out about this.

[2018-12-11 02:00] rolyon commented on #20325
Hi @DeanGross
I'll ask the team about this.
#in-progress

[2018-12-11 02:55] baywet commented on #17512
in my case because I didn't understand that a you're supposed to pass a "securestring" typed parameter in clear and not as an actual secure string representation 493.
You can get a value similar to the one I was trying like that
[code]
But I'm pretty sure that anything above [32 characters](https://stackoverflow.com/a/31634299/3808675) would cause it.

[2018-12-11 03:00] mike-urnun-msft commented on #20164
Hi @dcbrown16 Pretty sure "developer key" refers to [subscription keys](https://docs.microsoft.com/en-us/azure/api-management/api-management-subscriptions) and "user role" refers to a [group](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-create-groups) that the user is associated with.

@vladvino any thoughts on this?

[2018-12-11 03:06] mike-urnun-msft commented on #20189
Hello @ebrucucen - If i may ask, which client (postman? cUrl?) did you use to call the operation? Was the "Ocp-Apim-Subscription-Key" header with the key included in your call?

[2018-12-11 03:32] ravikiran-srini opened #20401 "Help understand Maximum parallel executions per node"
Hi,

I would like to understand the pattern of how 'Maximum parallel executions per node' number is calculated.

It seems that for machines with 1 or 2 cores, the max. parallel executions available per node is 4 times of that. For 1 core, 4 parallel executions, for 2 cores, 8 parallel executions. But for machines with higher no. of. cores, the max. parallel executions available per node is only 2

[2018-12-11 03:39] wlitheng commented on #19556
What about alerts on "Cloud Service (classic)"?

Currently I have alerts already setup using the the Alerts (Classic). Does"Any alert rules that continue to exist in Alerts (classic) beyond June 2019 will continue to execute and fire notifications, but not be available for modification." applicable for those alerts?

Also, currently for Cloud Service (Classic) I can only create Alerts (Classic). W

[2018-12-11 03:44] KeiroKamioka0000 opened #20402 "Job output start time in the Portal?"
Yes, I understand these are written as is.
However, I can't find about these options in the portal from the document.
Please consider of add in to the document.

![image](https://user-images.githubusercontent.com/37641695/49777050-aad17780-fcb3-11e8-85b2-210e80c14f9a.png)

As my understanding is
Now -> Start immediately
Custom -> Assign the running time instead of starting immediately
When last st

[2018-12-11 03:46] KeiroKamioka0000 commented on #20402
Sorry I meant to post to following document

https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-quick-create-portal

[2018-12-11 04:09] Aaron-Yue opened #20403 "Using Speech Service C++ SDK in Centos7"
Hi,
I using the C++ SDK in Centos7, but the version of the openssl is "OpenSSL 1.0.2k-fips",  not openssl1.0.0.

I make a soft link to openssl1.0.2k, but still not work, some errors like below:
libMicrosoft.CognitiveServices.Speech.core.so: undefined reference to 'SSL_CTX_new@OPENSSL_1.0.0'
/libMicrosoft.CognitiveServices.Speech.core.so: undefined reference to 'SSL_CTX_get_cert_store@OPENSSL_1.0.0

[2018-12-11 04:29] dpapkin opened #20405 "Quickstart: Upload, download, and list blobs by using Azure PowerShell does not work"
You used the variable $ctx for the storage context but did not provide/declare the variable with the value..  There is a closed ticket . It was supposed to be updated but it has not. Please update ASAP. This is  used for AZ100 class.

They are missing this command as stated by xXxOlivierxXx

$ctx = New-AzureStorageContext -StorageAccountName $StorageAccountName -StorageAccountKey $Key

David Papki

[2018-12-11 05:03] DAXaholic commented on #20283
@Adam-Smith-MSFT Thanks for the reply. I guess there is a misunderstanding: Yes I have checked that documentation, as I already referenced it in my original issue description. I didn't create the issue because I was wondering whether metadata is available for directories or not, but because there is an [article](https://docs.microsoft.com/en-us/rest/api/storageservices/naming-and-referencing-share

[2018-12-11 05:10] AshokPeddakotla-MSFT commented on #20401
@ravikiran-srini Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-11 05:14] neeleshray commented on #20365
You can assign license(s) to an user or to a group (_Group-based licensing is a public preview feature of Azure AD and is available with any paid Azure AD license plan_). You can follow this [document ](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/license-users-groups#assign-licenses-to-users-or-groups) to assign the licenses.

You can also use powershell to assign licenses

[2018-12-11 05:30] fariazz opened #20418 "REST API example?"
Why are all the new examples only in .NET? many of us use Azure Media Services REST API (Node.js, etc). If you want more developers to use these services, the documentation should cover the REST API as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae27a931-2102-465b-d9a0-493e7b827410
* Version Independent ID: 53

[2018-12-11 05:35] ManojReddy-MSFT commented on #20356
@carbo-will Thanks for reporting this. I have assigned this to the author to validate and update the doc accordingly.

[2018-12-11 05:43] KetanChawda-MSFT commented on #20042
@MattAltieri It seems like a environment specific issue and this requires a deeper investigation. If you have a support plan you may file a support ticket for a quick resolution else could you send an email to **AzCommunity at microsoft dot com** with the your `SubscriptionID` and link to this post.

[2018-12-11 05:48] jawand commented on #20033
please help me understand this.
Thanks.

[2018-12-11 05:52] ManojReddy-MSFT commented on #19632
@dcbrown16 I will work with the author to get this content added to the doc.

[2018-12-11 05:59] SumanthMarigowda-MSFT commented on #20354
@blark Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-11 06:04] novino commented on #18713
Good to hear that @wasabii , it could be due to changes of "NT Authority\System" might've not taken effect. Similar to what darran has reported (above)[https://github.com/MicrosoftDocs/azure-docs/issues/18713#issuecomment-445774890].

In case you're interested in knowing when your cluster manifest settings took effect, you can check by having a look at the cluster upgrade details in your Service f

[2018-12-11 06:07] novino commented on #18713
@MicahMcKittrick-MSFT feel free to close this thread once @darran1971 has confirmed its working for him as well..

[2018-12-11 06:30] SubhashVasarapu-MSFT commented on #20301
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2018-12-11 06:42] SumanthMarigowda-MSFT commented on #20405
@dpapkin Thank you for the feedback and I would request you follow the below mentioned PS cmdlets for creating a New Azure Storage Container.

$ctx = New-AzureStorageContext  -StorageAccountName $StorageAccountName -StorageAccountKey $Key
$containerName = "quickstartblobs"
New-AzureStorageContainer -Name $containerName -Context $ctx -Permission blob

I have assigned the issue to the content author

[2018-12-11 06:42] ManojReddy-MSFT commented on #20199
@BrianJackson I am able to reproduce this issue at my end as well. I will work with the engineering team and will provide an update here.

[2018-12-11 06:43] SubhashVasarapu-MSFT commented on #20366
@mlr-msft Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-11 06:46] dpapkin commented on #20405
Hi,

thanks for the prompt reply.

Please have the content author define the $ctx  under the "Create a Container" area of the quickstart

David Papkin

Not sure why the issue was marked closed
________________________________
From: SumanthMarigowda-MSFT <notifications@github.com>
Sent: Tuesday, December 11, 2018 2:42 PM
To: MicrosoftDocs/azure-docs
Cc: David Papkin; Mention
Subject: Re: [Microsoft

[2018-12-11 07:04] AshokPeddakotla-MSFT commented on #20402
@KeiroKamioka0000 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-11 07:17] ManojReddy-MSFT commented on #20327
@tkostelijk You are correct. 'Name' is actually a GUID for policy definition and it will be easier to use the display name rather than the GUID for understanding. I have updated the command accordingly in the doc. Thanks again for reporting this.

[2018-12-11 07:24] dazzler11 opened #20426 "Tutorial (part 2): Use automated machine learning to build your regression model"
Hi,
I am facing problem in "Train the automatic regression model" and the error is
AttributeError: 'MetricsClient' object has no attribute '_experiment_arguments'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68a3df81-6871-c443-c413-16bb97982bd4
* Version Independent ID: 5030fc51-ec28-d96e-fe85-a06a8fa1ce6f
* Content:

[2018-12-11 07:38] #20327 closed

[2018-12-11 07:53] doneuros commented on #20330
Thats very unfortunate because I hope the api would change back. Now I can't update my existing Databases. But if this is the result I need to live with it.

[2018-12-11 08:02] zhouwangzw commented on #20033
For speech transcription, the websocket protocol used by the new speech service is very similar to the old Bing Speech, but with different endpoints. Please refer to the answer [here](https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/79) https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/79 about endpoints.
Currently there is no public documentation about the

[2018-12-11 08:11] jawand commented on #20033
@zhouwangzw
ok, that is what i wanted to know. Thanks for the update.
you can close this issue now.

[2018-12-11 08:11] AkshathaSP opened #20432 "Unable to Create JobCollection"
I am trying to add new Scheduler to schedule a WebJob. I see that 'OK' is disabled when I try to create the JobCollection for the scheduler. Has the creation of any new Azure Schedulers already been disabled or am i missing anything ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9654072-c9f5-ae99-a33d-733e94b61caf
*

[2018-12-11 08:11] twitek opened #20433 "Wrong Powershell command in step #6?"
Hello,

thanks for the documentation! I updated my Powershell installation and tried to follow the instructions. For Step #6, however, "Set-AzureRmVirtualHub" was not found, so I used "Update-AzureRmVirtualHub" instead. Is that an issue with my Powershell installation or is it something in the documentation?

Best regards

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-12-11 08:12] Aaron-Yue commented on #20403
@CHEEKATLAPRADEEP-MSFT , Thank you for your answer, I saw this discussion before, but my situation maybe is different from that. I didn't install the Anaconda. Only use the g++, not python.
And I find the centos7 doesn't support the openssl 1.0.0: https://www.centos.org/forums/viewtopic.php?t=60336

[2018-12-11 08:16] mcurko opened #20434 "Please clarify"
Does "User administrator" directory role have all the rights required for "AD DS Connector" account?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2c5e335-4367-b1fe-2e14-311a6f2cf81d
* Version Independent ID: a35eed80-eb37-e59c-07a4-43af4a985991
* Content: [Azure AD Connect: Accounts and permissions](https://docs.mic

[2018-12-11 08:47] santo2 commented on #20169
Hi Mike, it must be coincidence, the functionality is available since this week :) I was able to filter the collection since now! Thanks for the help

[2018-12-11 08:47] #20169 closed

[2018-12-11 08:52] digeler opened #20435 "Restore issue you have to address"
1. Extension setting does not appear in the recovery template,this will cause the disks no to mount
we should add the extension settings to the recovery template.
2. Customer needs to update the extension once the restore is done by :
we have the procedure in our internal wiki ,please add it to the article : https://www.csssupportwiki.com/index.php/curated:Azure/Virtual_Machine/Features/Disk_Encry

[2018-12-11 08:54] NiceMan92 commented on #20219
Hi guys, That's it. It does work perfectly now :)
Thank you @jakaruna-MSFT
Dadi

[2018-12-11 08:54] #20219 closed

[2018-12-11 08:55] RobertoPrevato commented on #20341
Hi @lmolkova,
Thanks everyone for your quick answers. Before opening my request, I ran the example in MSDN and tried successfully the LocalForwarder with Python like in the example in the documentation. What I meant to say is, that using the provided example, you see only _"Outgoing Requests"_ inside Live Metrics Stream: but what if we wanted to use it for a web server, and see logs for _"Incoming

[2018-12-11 09:07] nandagopal1992 commented on #10441
I think this might be because you are using different API than the one in the demo page. The demo page uses recognize text API rather than the OCR API

[2018-12-11 09:33] xiaocongfu opened #20436 "Debian 8 ARM32 support"
Why Debian 8 ARM32 is still listed here as "yes", when there is no package release that will support jessie?
https://github.com/MicrosoftDocs/azure-docs/issues/11046#issuecomment-421365313

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf820bbb-9fc6-2037-6d72-c63192763ed6
* Version Independent ID: b0c7e11b-3741-15f6-58

[2018-12-11 09:42] femsulu commented on #20206
thanks for the valuable feedback @johndowns. we will add this to documentation enhancement backlog for further evaluation
@anirudhcavale  - fyi

Now closing this issue,

[2018-12-11 09:42] #20206 closed

[2018-12-11 09:52] femsulu commented on #20292
@Puneetb, this has been resolved. confirming the update is now live. Thanks again for pointing this out.
Closing this issue.

[2018-12-11 09:52] #20292 closed

[2018-12-11 09:56] kumaranpravin commented on #20372
@bwodicka
I also had the same problem since i was having more than one subscription. I also believe its applicable to your case.
If you use az login and then change the subscription, it will work.

[2018-12-11 09:57] thananstr opened #20437 "How to update the exiting web service with a new docker image?"
Hi everyone, I am working on Data Science work with Azure Machine Learning Services. I want to update the new docker image to the existing web service on Azure Container Instances. But I can't find the way to do it.

According to the documentation on "Update the service" topic ([link](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-deploy-and-where#update-the-web-service)),

[2018-12-11 10:10] Zir01 commented on #12074
Thanks @TylerMSFT for your msg

1. EXPOSE is already defined in the dockerfile
2. Tried five-node cluster but same issue
3. I have waited a few minutes for the app (services) to come up but still the same issue
4. I have tried using the ToDoService.todolistapp as the name in the WebFrontEnd service.yaml, same issue, but seems more resilient, throws error on every 8-10 page refreshes (instead of on

[2018-12-11 10:11] CHEEKATLAPRADEEP-MSFT commented on #20403
@Aaron-Yue Yes, centos7 does not support openssl 1.0.0.
You may install OpenSSL v1.0.2 LTS. For installing openssl from source, you may refer “[How to install OpenSSL from source in centos](https://www.tecmint.com/install-openssl-from-source-in-centos-ubuntu/)”.

[2018-12-11 10:12] wolfma61 commented on #20403
we are going to expand the supported platforms over time.
CentOS will probably be supported early next year

[2018-12-11 10:17] NiceMan92 commented on #20219
Now, I have a problem with deploying my application, even Voting.
Here is the error :+1:

exit-code:0
Running command:/bin/bash /home/dadi/git/LocalDisseminationRepository/Dissemination/Scripts/connect.sh -ip localhost -port 19080
Shell output:parameters: ip=localhost, port=19080, clientKey=0, clientCert=0
For local cluster, check if the cluster is already up or not and accordingly set up the clus

[2018-12-11 10:21] xenalite opened #20438 "Bring your own NSG scenario"
Default AKS deployment creates an NSG attached to cluster subnet, and it's able to manage it via a Service Principal.
I don't want the cluster to manage the NSG, as it opens everything to the Internet by default.
We also do not want to control NSG rules via manifests. Our corporate network security rules are quite strict.

Ideally I'd want to deploy a separate NSG outside of cluster principal's co

[2018-12-11 10:28] maybevs opened #20439 "Typo"
In the "Read scale-out" part is a typo in the second sentence. "Red-Only" -&gt; "Read Only"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de2297ea-5eaa-8f20-fc5a-4fa4c8d92fde
* Version Independent ID: c42a2970-32af-381b-6746-a82953b7dece
* Content: [Azure SQL Database Scale Resources](https://docs.microsoft.com/en-us/

[2018-12-11 10:33] jmaragon opened #20440 "Unaccuracy on Note about app domain recycling when changing log level"
*This is not true:*
 Note
Unlike changing the web.config file, enabling Application diagnostics or changing diagnostic log levels does not recycle the app domain that the application runs within.

Just try changing the log level. Both w3wp.exe processes (SCM and main app service)  will be recycled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2018-12-11 10:38] darran1971 commented on #18713
I have just set the WU frequency to daily at 8pm. So will see if this starts to trigger a patch update over the next few days.

From: Naveen Chandrakar [mailto:notifications@github.com]
Sent: 11 December 2018 06:07
To: MicrosoftDocs/azure-docs
Cc: Williams, Darran (YST); Mention
Subject: Re: [MicrosoftDocs/azure-docs] Patch Orchestration App does nothing (#18713)

--- This email was sent from an e

[2018-12-11 10:40] raunakpandya commented on #18713
@darran1971  - Ok please note that the time you mention is in UTC.

[2018-12-11 10:48] ronitr commented on #19755
Hi,
We have removed this statement from the doc, as there is no longer a UI option to customize audit events. In order to selectively audit by event categories, you can use the REST or PowerShell APIs or T-SQL commands to specify Actions-Groups and Actions to audit.
CC: @vainolo

Thanks
--Ronit.

[2018-12-11 10:48] PramodValavala-MSFT commented on #20298
@vchandm23 The problem is that the default `.vscode/tasks.json` has a command for CMD / PowerShell.

You can see in the image that you shared for step 4 that the **activate** command has failed. Hence, the **venv** error later.

For bash, you have to call `source .env/Scripts/activate` instead.

You can just update the `.vscode/tasks.json` file to reflect this. It should look something like this i

[2018-12-11 10:56] ChrisParrBIE opened #20442 "PowerShell Equivalent?"
Are there PowerShell commands to achieve this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ada0b95-37b4-22d1-152f-fc29a52f5706
* Version Independent ID: 9424e3bb-d141-f74f-c6c5-114410253e2d
* Content: [How to assign users and groups to an application](https://docs.microsoft.com/en-us/azure/active-directory/manage-a

[2018-12-11 10:58] Sogup commented on #20435
Adding @GeethalakshmiG  as she owns the VM restore flow.

[2018-12-11 10:59] Sogup commented on #20435
Adding @Geetha Lakshmi G<mailto:Geetha.G@microsoft.com> as she owns the VM restore flow.

From: Dinor Geler <notifications@github.com>
Sent: Tuesday, December 11, 2018 2:23 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Sonia Gupta <Sonia.Gupta@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/azure-docs] Restore issue you have to address (#20435)

[2018-12-11 11:08] Hazza71 commented on #19938
Thanks Mike,

I’m still looking into this issue to understand the root cause. Thanks for the information you sent over. I will consider this as I test CosmosDB Azure Table instance setup again and will capture my steps to share with you if I’m still unable to resolve.

KR,

H.

From: Mike Ubezzi <notifications@github.com>
Sent: 07 December 2018 18:29
To: MicrosoftDocs/azure-docs <azure-docs@norepl

[2018-12-11 11:14] jfrandol commented on #13556
Still nothing:  nothing regarding the requirements and benefits of Microsoft AppSource. Can you provide more detail? - how do you publish on AppSource ?

[2018-12-11 11:28] divesh987 opened #20443 "Rest API and Powershell Support"
When will get rest API and power shell support for this? Its quite frustrating to add lots of ip ranges manually and maintain this list.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74b164a7-31c5-7cb3-c8e2-7533d375bd43
* Version Independent ID: 11399252-d935-2cba-a414-a44e51e67007
* Content: [What is the location con

[2018-12-11 11:35] Anmolgan81 opened #20444 "Does Online Managed Instance Migration requires a file share with databases backups or just a file share?"
I have gone through the Online and Offline Managed Instance Migration, both of the migrations requires a fileshare, do Online migrations requires a fileshare with all the databases fulll, differenetials and transactional backups, or do the DMS also takes the backups of its own before migrating the databases?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2018-12-11 12:03] ChiragMishra-MSFT commented on #20426
@dazzler11 Thanks for the feedback. We are currently looking into the issue and will update you shortly.

[2018-12-11 12:46] jakaruna-MSFT commented on #20438
Thanks for the question! We are investigating and will update you shortly.

[2018-12-11 12:52] ManojReddy-MSFT commented on #20442
@ChrisParrBIE Please check this [article ](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/assign-user-or-group-access-portal#assign-a-user-to-an-app---powershell) which describes how to assign the users/Groups to an application.

[2018-12-11 12:58] beowulf005 opened #20446 "Create a Windows Server AD environment - Password"
Server 2019 returns error on the password not being a secure string.
Updated line to
$Password = (ConvertTo-SecureString "Pass1w0rd" -AsPlainText -Force)
This allowed the AD environment to install.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d414782-ca68-6008-2e3d-063b2e965be1
* Version Independent ID: 2471d59d-0a3

[2018-12-11 13:01] usermartin opened #20447 "dynamically updating the graph"
Hello,
i am currently exploring the Azure digital twin. I am trying to move a device from one space to another using a userdefined function:

I have a device called car part. It has one sensor with the datatype position.
I sent (simulated) telemetry incrementing the position every five seconds. After the position reached a certain value i want to move the car part from space1 to space2.
Is this po

[2018-12-11 13:02] payalgaikwad42 opened #20448 "Key Vault does not work after publishing web app in azure"
i have implemented azure key vault in my solution along with AAD for authentication. it is working locally absolutely fine but when i publish my code in azure it shows successfully published on given publish profile but ends up with giving
error 502.5: process failure or
HTTP Error 503. The service is unavailable.

i am not quite sure as why this is happening.
i have followed the following documen

[2018-12-11 13:06] peterlil opened #20449 "The term 'frequency' used in an ambiguous way"
Under the headline "How frequently can Data Sync synchronize my data", it says: "The minimum frequency is every five minutes."
My guess is that the author means that the minimum duration between synchronizations is 5 minutes. And if we were to use the term frequency, that would be the maximum frequency of synchronizations, not the minimum.

Just change it to "The minimal duration between triggerin

[2018-12-11 13:11] boltlol opened #20451 "Many to Many relationship?"
Hello,
A guide on how to do N: N relationship connections using the connector would be awesome!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff2563f2-4040-51c5-2147-c1c182ca485d
* Version Independent ID: 7ec3bab4-515a-6c2c-3f53-bcf5a6b3b896
* Content: [Connect to Dynamics 365 - Azure Logic Apps](https://docs.microsof

[2018-12-11 13:16] Szer commented on #20318
Actually ADF v2 don't provision `functionName` parameter at all.

For example such function activity:
![image](https://user-images.githubusercontent.com/10308233/49803084-e9bd0700-fd5f-11e8-88c6-b83d89a690fa.png)

Generates such json:
[code]

Do you see any `functionName` property in `typeProperties`? :)

If I run such activity it ends with error:
[code]

[2018-12-11 13:22] sergaz-msft commented on #20436
Thanks for your feedback @xiaocongfu . Debian 8 ARM32 (jessie) has Tier 2 Support now. Check article history [here ](https://github.com/MicrosoftDocs/azure-docs/commit/a9ddb69860b57397509c26f9806d86339cbac809#diff-b40631dd03af620e0a1dbff14361f318)(changed on August 29th).

[2018-12-11 13:23] sergaz-msft commented on #20436
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-11 13:23] #20436 closed

[2018-12-11 13:50] bawilless opened #20452 "Bullet #2 is not correct as the Azure Portal content has changed"
The portal content has changed and the IoT Hub is no longer listed when you select "Internet of Things."  Bullet number 2 should be changed to search the marketplace for the IoT Hub.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a75512f-47db-ecee-70d3-9e2e5f470e1c
* Version Independent ID: 74f13239-66c4-dd09-68d4-a77

[2018-12-11 13:50] HenrikBach1 opened #20453 "Which proxy servers work with the iot edge runtime"
Which proxy servers work with the iot edge runtime? Because, I've difficulties with configuring my proxy server to relay back the requested information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69c0d8c2-ea63-1b11-d855-bc1f6108cf62
* Version Independent ID: 7c2c7ceb-ed80-f507-0c63-280720e9768d
* Content: [Configur

[2018-12-11 13:51] KetanChawda-MSFT commented on #20451
@boltlol Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-11 13:54] evusik commented on #19690
Thanks tons for the confirmation – I realized that I was granting permissions in the key vault access policies to the AAD service principal instead of the MSI. If you’re planning to introduce some ‘common mistakes’ section in your documentation, please include this 😊

Having fixed that, the Key Vault References now work for me. It’s a great feature, much more convenient compared to getting the sec

[2018-12-11 14:05] KetanChawda-MSFT commented on #20186
@clemensv any thought on this?

[2018-12-11 14:20] githubavi opened #20454 "function boolean syntax"
In the above documentation, I do not understand the symbol "=~"
"where State =~ MyState"
What does it mean? I think it should be "==" for "is equal" check. Please clarify more.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3ea0a3a-14cf-61b0-574c-764be6b78154
* Version Independent ID: f9ab7654-5080-e980-4b6b-910f0fde4

[2018-12-11 14:34] billmath commented on #18008
@grayjeremy Yes, I have made some head way on this but I had some issues when I attempted to re-enable my tenant for AD FS.  I believe this is just my tenant, as it has been used for a lot of different testing.  So I need to go through the steps with a clean tenant and verify it before publishing.  Because of the holidays, this may or may not get done this month because I have some time off I need

[2018-12-11 14:40] sotnikop opened #20455 "Link to Region Availability does not feature Log Analytics"
I tried to see the region availability of Log Analytics using the link provided in the 4th bullet point
" Select an available Location. For more information, see which regions Log Analytics is available in."
From that link "https://azure.microsoft.com/en-ca/global-infrastructure/services/"  you only have the option of Logic app when you type 'Log'. Other search queries such as OMS and workspace al

[2018-12-11 14:43] parabolic123 opened #20456 "Please expand on certificate requirements - A certificate could not be found that can be used with this Extensible Authentication Protocol. (Error 798)"
I've followed the instructions listed above and done the following:

1. Uploaded my organisation's root certificate to Azure.
2. Requested a certificate based on the user template from my root CA using  subject of "CN=parabolic123@contoso.onmicrosoft.com" and a SAN of "principal Name=parabolic123@contoso.com". Enhanced key usage has "Client Authentication (1.3.6.1.5.5.7.3.2)" listed as the first o

[2018-12-11 15:00] crgarcia12 opened #20457 "What is the bandwith?"
Hi,
Could you tell me what bandwith is?
    Is it egress from Azure datacenters?
    Ingrress + egress from CR including to other Azure services?

If I deploy form CR to Azure Service Fabric, do I pay bandwith?

Thanks!
Carlos

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfe5a2a3-6fd3-2cca-0387-5c0d9b19906c
* Version

[2018-12-11 15:19] alexverboon opened #20460 "Windows 10 SKU support"
Is Enterprise State roaming supported on Windows 10 Pro or only Windows 10 Enterprise?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 448e1185-6acc-5928-9932-a360230319bd
* Version Independent ID: 1d907bdc-b1ad-fb3d-8d75-93e1da810148
* Content: [Settings and data roaming FAQ](https://docs.microso

[2018-12-11 15:33] farooqkh opened #20461 "One asset with multiple policies"
I have a scenario where i would like to have 1 asset with different set of policies for different set of people. Is that something possible and what'll be high level design for something like this?

From what I have gathered so far ContentKey has one-to-one relation with AuthorizationPolicy, which means I can have only 1 set of AuthorizationPolicy applied to an Asset at a given time. And even thou

[2018-12-11 15:38] ruijarimba opened #20462 "Broken link"
I'm getting a 404 error when trying to access this page:
http://go.microsoft.com/fwlink/?LinkId=267637

Redirection page is the following:
https://docs.microsoft.com/en-us/previous-versions/orphan-topics/azure.100/dn338078(v=azure.100)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48d01116-e0d9-f62d-1f10-3f2e13a2d2f1

[2018-12-11 15:56] msdnguy opened #20463 "Please consider supporting R"
Lots of Data Scientists are using R and would love this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8fc8bdb-1ee0-b978-e42f-de875b8cb50f
* Version Independent ID: dbad235e-f8d6-361b-d337-f9d2a3573059
* Content: [Pipelines: optimize ML for speed, portability, & reuse - Azure Machine Learning service](https://docs.mi

[2018-12-11 15:58] KermitSmith commented on #19063
I am feeling the same. I want to create a 'New Alert' (not Classic) based on DTU level but finding nothing and the portal just says there are no metrics for SQL database.  Using Classic Alerts seems futile.

[2018-12-11 15:59] mack0196 commented on #15705
I understand that messages sent to the same partition will be put into subscriptions in the order the partition received them.

I don't understand how the ordering guarantee works when there are multiple partitions.

I'm considering a scenario where one partition will process slower than other. When the single pump receives two messages then sends them to different partitions, and the first messag

[2018-12-11 15:59] m60freeman opened #20464 ""Change PITR backup retention period using the Azure portal" instructions are outdated"
There is no "Configure backup retention" choice on the Overview blade for an Azure SQL Database. I do not see a current location for this function in the portal at this time. Is this only configurable through PowerShell or the API now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9492cedc-cea0-af9d-29a0-52cbca8c5e21

[2018-12-11 16:00] nacharya1 commented on #20324
@kumaranpravin, I am looking into this request.

[2018-12-11 16:05] aaronralls opened #20465 "Question on backend service URL"
Can or should we point the backend URLs to DNS names or to the regional traffic manager?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7b2624c-40ea-c23c-3af5-79953d4cb549
* Version Independent ID: 0bf60c10-7ae4-476a-6cbd-4a189a97000f
* Content: [Deploy Azure API Management services to multiple Azure regions](https://

[2018-12-11 16:06] ecfan commented on #20006
@yanxiaodi Hi Yan, this issue is now fixed.
@mike-urnun-msft Mike, #please-close, thanks!

[2018-12-11 16:09] mithrandir1589 opened #20466 "Client credentials"
How can I to secure my rest api's in order to ask for an username and password, without using the microsoft prompt?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e20004e2-beab-6e67-9b98-eaa12f612442
* Version Independent ID: 2a3db0c8-d0df-cca5-fb52-36d68cd67207
* Content: [Azure AD Service to Service Auth using OAuth2

[2018-12-11 16:18] Mike-Ubezzi-MSFT commented on #20439
@maybevs Thank you very much for the minor but very detailed feedback. I will have this corrected today. Regards, Mike

[2018-12-11 16:21] Mike-Ubezzi-MSFT commented on #20449
@peterlil Thank you for the detailed feedback. I have assigned this to the content author to evaluate and update as appropriate. Regards, Mike

[2018-12-11 16:31] Mike-Ubezzi-MSFT commented on #20449
@CarlRabeler The doc owner is @allenwux but have assigned to you. Please let us (@MicrosoftDocs/azure-cxp-triage) know if that is not the case. Thanks!

[2018-12-11 16:32] mattchenderson commented on #19690
@romankiss So the `@Microsoft.KeyVault(VaultName=vaultName;SecretName=secretName;SecretVersion=secretVersion)` isn't working for you? I haven't used that as much myself and will follow up with dev. It's possible we have a bug in that path.

For now, I'm going to close the issue since folks seem to have a working solution.

#please-close

[2018-12-11 16:33] georgewallace commented on #20277
@mcurko Thanks for reaching out. Sorry to hear about your experience. In the tutorial you can choose the type of Linux you would like to use. If you feel this is a billing issue, I would recommend contacting support to try to resolve this. As this is not a documentation issue I am going to ask this issue be closed. @MicrosoftDocs/azure-cxp-triage #please-close

[2018-12-11 16:34] georgewallace commented on #19891
@akramwaseem Thank you for reaching out.  At this point VMSS is not supported by UM.  If there is a change in the future we will be sure to let everyone know. @MicrosoftDocs/azure-cxp-triage #please-close

[2018-12-11 16:35] Alberto-Vega-MSFT commented on #20452
@bawilless Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-11 16:38] nansravn commented on #16485
@Blackmist I'm supporting deployment in which we are testing this preview feature using `azureml-core[databricks]` version 1.0.2 (inside a Databricks Workspace).
Basically I'm trying to receive an image as bytes for a deployment of a Computer Vision ML model.

[code]

If I want to load a **PIL.Image** from `request.get_data()`, should I use `io.BytesIO()` as in [this documentation](https://pillow.

[2018-12-11 16:44] manchejs0 opened #20467 "Says missing env variable but I'm not?"
Hello,

Trying to deploy the remote monitoring dotnet solution locally on a Windows 10 machine.

Following the tutorial, I was able to successfully launch the webui; however, when I try to start the device simulation service, it gives the following error:

"Error: the PCS_IOTHUB_CONNSTRING environment variable is not defined.
Command failed"

The thing is, though, I have copied and pasted this int

[2018-12-11 16:45] ellacroi commented on #13556
@jfrandol you can get started on AppSource here: https://appsource.microsoft.com/en-us/partners/signup

The registration and publishing tools are the same for both storefronts.

@qianw211 could you please read through the main articles and make sure that AppSource is called out specifically?

[2018-12-11 16:46] Mike-Ubezzi-MSFT commented on #20454
@githubavi Thank you very much for your detailed feedback. Given the recent release of this service, I am assigning this to the content owner to evaluate and update as appropriate. Thanks, Mike

[2018-12-11 16:47] Alberto-Vega-MSFT commented on #20453
@HenrikBach1 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-11 16:55] fmaldonados opened #20468 "manage azure functions in visual studio code"
I have somo Azure Functions that I created in the azure portal. how can I create new functions in those function apps and manage them? in vscode I only have the option to create new ones but not to see the ones that i've created in the portal

[2018-12-11 16:55] qianw211 commented on #13556
@ellacroi Hi Lizzie, I'm looking through this article here, and the feedbacks are correct that this article talks only about Marketplace benefits, nothing is said about AppSource.  Would you be the SME for information about why people need to publish on AppSource?  I think we need this content added to the opening page for Publishing Guide.  Thanks!

[2018-12-11 16:56] tamram commented on #19593
@cbrooksmsft - FYI

[2018-12-11 17:01] 4c74356b41 commented on #11090
@tfitzmac you kidding me or something. this is a documentation on addons: https://github.com/Azure/acs-engine/blob/master/docs/clusterdefinition.md#addons. what you got published is just a piece of crap. how do I find the list of possible addons? why dont you provide a value for the addon?

[2018-12-11 17:09] hpsin commented on #19593
Hi Mangesh,
I don't quite follow your report - "This code is giving Microsoft Sign-in message for login instead of giving token directly. I think, it is missing to specify actual user under which access token will be specified under the hood"

It's expected that the behavior here is to show a prompt to the user asking them to sign in. Are you trying to use SSO or some other silent sign in mechanis

[2018-12-11 17:12] CarlRabeler commented on #20449
Can you please review this and advise / address?
Thanks,
Carl

From: Mike Ubezzi <notifications@github.com>
Sent: Tuesday, December 11, 2018 8:32 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Carl Rabeler <Carl.Rabeler@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] The term 'frequency' used in an ambiguous way (#20449)

@CarlRabel

[2018-12-11 17:14] aledeniz opened #20469 "Premium Storage Caching and its use cases"
**The relevant Azure service or technology**:

The concept of _Premium Storage Caching_, specifically in the context of Virtual Machine sizes.

**A link to the published documentation article that you have feedback about**:

The following includes use the term _Premium Storage Caching_, but the relevant concept doesn't appear to be explained anywhere in the docs:

- [/includes/virtual-machines-com

[2018-12-11 17:14] jmprieur commented on #20357
@Adam-Smith-MSFT : this is a different issue.

@salavala
- which platform are you using? .NET Desktop, .NET Core? Xamarin ? UWP?
- what build error do you get exactly?

[2018-12-11 17:16] HenrikTurbell opened #20470 "ONNX runtime"
I miss a link and description of ONNX runtime on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91925913-8bb4-a7c9-1b43-a466155cabd9
* Version Independent ID: 56367f6b-04c9-0bdf-8769-ff23d1382135
* Content: [Compare machine learning product options at Microsoft](https://docs.microsoft.com/en-us/azure/machine

[2018-12-11 17:19] MarileeTurscak-MSFT commented on #20358
@WALLOUD
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-11 17:21] MarileeTurscak-MSFT commented on #20358
@WALLOUD we need more information in order to properly respond to this. Please create a new issue leaving a detailed response to the document if you wish to troubleshoot or have the document updated.

[2018-12-11 17:21] #20358 closed

[2018-12-11 17:35] YutongTie-MSFT commented on #20463
@msdnguy Thanks for your feedback. I will assign the author to take care of it.

@sanpil Hi, can you please take a look of this issue? This is a product feedback.

[2018-12-11 17:39] Grace-MacJones-MSFT commented on #20440
Hi @jmaragon, thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-11 17:40] Grace-MacJones-MSFT commented on #20461
Hi @farooqkh, thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-11 17:43] craigshoemaker commented on #16681
@timmyreilly I have created an internal work item for your request. Thanks for your input!

[2018-12-11 17:48] shapeh commented on #16651
@craigshoemaker - okay, yeah, please close - I will revisit the docs once I get a few hours.

[2018-12-11 17:53] MicahMcKittrick-MSFT commented on #20457
Thanks for the question! We are investigating and will update you shortly.

[2018-12-11 17:53] #19891 closed

[2018-12-11 17:53] #20277 closed

[2018-12-11 17:54] #20006 closed

[2018-12-11 17:55] #16651 closed

[2018-12-11 17:57] Alberto-Vega-MSFT commented on #20204
@gregdegruy We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-11 17:57] #20204 closed

[2018-12-11 18:02] MarileeTurscak-MSFT commented on #20434
@mcurko
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-11 18:02] mike-urnun-msft commented on #20465
Hi @aaronralls

Thank you for your feedback! We will review and update as appropriate.

[2018-12-11 18:03] mike-urnun-msft commented on #20164
@vladvino Can you confirm please. Happy to create the PR :-)

[2018-12-11 18:03] MarileeTurscak-MSFT commented on #20460
@alexverboon
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-11 18:05] MarileeTurscak-MSFT commented on #20466
@mithrandir1589
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-11 18:06] MarileeTurscak-MSFT commented on #20446
@beowulf005
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-11 18:07] MarileeTurscak-MSFT commented on #20443
@divesh987
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-11 18:14] eragonriddle commented on #20205
@PramodValavala-MSFT On running the pip command manually  `pip download -r /root/MyFuncProj/requirements.txt --dest /tmp/tmpdir1`  there is no error and the whl files are downloaded to the temporary directory.

[2018-12-11 18:15] Alberto-Vega-MSFT commented on #20452
@bawilless I went through the process and I was able to find the IoT Hub in the portal

 ![alt text](https://wtv3.blob.core.windows.net/media/iothubportal.png?sv=2017-04-17&sr=b&sig=3ksp6Pb5K535QM%2BeFl%2FtnW1fnf23LaXJHJ3FyZVJcOw%3D&st=2018-12-11T18%3A08%3A23Z&se=2021-12-11T18%3A13%3A23Z&sp=rw "IoTHubPortal.PNG")

[2018-12-11 18:23] nsrinivasan80 opened #20472 "AZURE-- Useless Documentation!"
I was looking for a simple step-by-step documentation to migrate to the Azure cloud.

I did not find any.
I am a consultant to several small businesses. They would like to migrate to the cloud.
Google has been badgering me to host them on Google cloud. I would prefer Azure.
Is there anyone out there at Microsoft who can walk me through the steps over the phone?
nsrinivasan80@outlook.com

---
####

[2018-12-11 18:25] Melmixx opened #20473 "Support for special characters?"
Our Teams have a naming policy that requires it starts with a # sign. Now that I try to follow your above guide it wil not accept that the # sign is kept in the name. Can this please be resolved?

---
#### Dokumentoplysninger

⚠ *Undlad at redigere denne sektion. Det er påkrævet til docs.microsoft.com ➟ GitHub-problemlinkning.*

* ID: 31e6466f-2c97-2c85-98bc-6f5ed8a5b60e
* Version Independent ID:

[2018-12-11 18:34] MarileeTurscak-MSFT commented on #20446
@beowulf005 are you referring to the script in step 2 of the "Create a Windows Server AD user" section?

[2018-12-11 18:37] robinmanuelthiel commented on #20362
I disagree with this being a duplicate. #20360 asks for how secrets can be injected into my application while this issue here asks for how they are declared correctly. These are two different things in my eyes.

[2018-12-11 18:38] beowulf005 commented on #20446
For the PS script for section Create a Windows Server AD environment.

Current #Declare variables
$DatabasePath = "c:\windows\NTDS"
$DomainMode = "WinThreshold"
$DomainName = "contoso.com"
$DomaninNetBIOSName = "CONTOSO"
$ForestMode = "WinThreshold"
$LogPath = "c:\windows\NTDS"
$SysVolPath = "c:\windows\SYSVOL"
$featureLogPath = "c:\poshlog\featurelog.txt"
$Password = "Pass1w0rd"

Last option as l

[2018-12-11 18:39] coltonf93 opened #20475 "Explain What Binary Transport Does, Linux VM Compatibility"
If the user is using Linux to host the FTP server and this box is not checked text files can be become corrupted.
This is because Linux uses a different encoding for end of line characters and the logic app service currently don't support that by default.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4369690-c09e-893

[2018-12-11 18:40] robinmanuelthiel commented on #20360
Thanks for the reply @MicahMcKittrick-MSFT. I opened three issues for that docs, because I see three different issues here.

- This issue is about how I can use/inject secrets in my applications in general
- #20361 is asking for a code sample
- #20362 is asking how to declare secrets correctly

These are different things, as a sample would not answer the other two for example.

I asked on GitHub a

[2018-12-11 18:49] gsaravanan20 opened #20476 "Cosmos DB getting listed, When i select a collection and click on Documents, documents are not loading in the storage explorer v1.6.0"
HI,

Cosmos DB getting listed and when i select a collection and click on Documents, documents are not loading in the storage explorer v1.6.0

For Storage Accounts its working fine anly for Cosmos DB Accounts i have this problem

It was working before in the previous versions.

Thanks
Saravanan G

![image](https://user-images.githubusercontent.com/3595727/49822608-35ad8300-fd43-11e8-89d1-45ceafff5

[2018-12-11 18:51] msmimart commented on #10123
We added a link to a recently published article that talks about ways to deploy apps to users, including direct links. I hope this helps. We'll go ahead and close this issue now, but if you have other concerns feel free to let me know. Thanks again for your feedback!
#please-close

[2018-12-11 18:55] Mike-Ubezzi-MSFT commented on #20464
@m60freeman Thank you very much for the detailed feedback. I see the discrepancy. The screen image is from a `Managed Instance` but the documentation does not infer a specific PaaS instance of Azure SQL Database, and appears to apply to all deployment options. I believe this is a doc-bug and am assigning it to the content owner to evaluate and update as appropriate. Thank you!

[2018-12-11 18:56] elizabethhalper opened #20477 "Quotes needed for `pip install` comnmands"
All `pip install azureml-sdk[extra]` commands need quotes around the "azureml-sdk[extra]" part of the command. I tried directly editing the document, but Github threw a 504 error every time I submitted a change. The five lines that need to be changed in the .md file are:
79: pip install azureml-sdk[notebooks]
87: pip install azureml-sdk[automl]
90: pip install azureml-sdk[explain]
93: pip install

[2018-12-11 18:58] mormond commented on #19925
Follow the link to the Swagger doc and (at the top) switch from the beta API (which is the one being deprecated) to the V2 API and hit "Explore". Unfortunately the page defaults to the beta API.

[2018-12-11 18:59] fedonasc opened #20478 "Windows Firewall Must be Running"
In order to install the Proxy agent, the Windows Firewall agent must be running so the firewall rules can be created,otherwise it will just fail.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23e000f0-84ce-7ec7-e5ed-4bd9c49f5d49
* Version Independent ID: e636b9d1-be81-0f00-97c4-ff4fa9078be3
* Content: [Deploy Azure AD

[2018-12-11 19:02] tomasr opened #20479 "Missing docs on ping"
Documentation on what the ping operation looks like seems to be missing from the docs. Would be nice to have it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e0efd5e-72d6-5124-f225-dd6426c9e004
* Version Independent ID: 8ca96d3d-d9bc-fcd4-fe19-f10cd6fa3370
* Content: [Azure Relay Hybrid Connections protocol guide](h

[2018-12-11 19:04] SaurabhSharma-MSFT commented on #20476
@gsaravanan20 Could you provide us with the link to the document you are referring to ?

[2018-12-11 19:06] r-milne opened #20481 "Azure AD Group Limits"
Hitting an issue with a  customer where the Azure AD Group limit of 50K users looks to be a challenge for GBL.  They added 80,000 users to the group and not all are assigned licences....

https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#active-directory-limits

Can this be added to this article?

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2018-12-11 19:07] SaurabhSharma-MSFT commented on #20468
@fmaldonados Could you provide us with the link to the document you are referring to ?

[2018-12-11 19:10] SaurabhSharma-MSFT commented on #20467
@manchejs0 Could you provide us with the link to the document you are referring to ?

[2018-12-11 19:11] SaurabhSharma-MSFT commented on #20448
@payalgaikwad42 Could you provide us with the link to the document you are referring to ?

[2018-12-11 19:12] SaurabhSharma-MSFT commented on #20437
@thananstr Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-11 19:14] manchejs0 commented on #20467
@SaurabhSharma-MSFT  Sure, sorry about that.

https://docs.microsoft.com/en-us/azure/iot-accelerators/iot-accelerators-remote-monitoring-deploy-local

[2018-12-11 19:17] SaurabhSharma-MSFT commented on #20433
@twitek Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-11 19:19] haveyoumetcp opened #20482 "Assign ADF Pipeline to same trigger multiple times"
Cannot assign an ADF Pipeline to same trigger multiple times (with different parameters) via the ADF GUI.  You can modify the trigger JSON directly and add the references, however you cannot do this via the ADF GUI.

When you go to create a new trigger reference from the pipeline, if that pipeline is already associated to that trigger, then it will not show up in the drop down.

[2018-12-11 19:21] SaurabhSharma-MSFT commented on #20432
@AkshathaSP Could you provide us with the link to the document you are referring to ?

[2018-12-11 19:33] choovick opened #20484 "Improvements"
Run named pod vs names deployment in `Create the SSH Connection` section
`kubectl run -it --rm --image=debian --generator=run-pod/v1 aks-ssh -- sh -c "apt-get update && apt-get install openssh-client -y && sh"`

This way container name will be `aks-ssh`

Some other improvements in my guide I use for Linux:

# Connect with SSH to Azure Kubernetes Service (AKS) cluster nodes for maintenance or troub

[2018-12-11 19:33] haveyoumetcp commented on #20482
There is no document that I know of.

[2018-12-11 19:33] weikanglim opened #20485 "Missing section on manual rolling upgrades"
The document mentions that manual upgrades are supported as well with the feature, but it is not discussed in the article. Should we add a section on this?

Based on what I'm finding in the ARM template [GitHub page for automatic upgrades](https://github.com/Azure/vm-scale-sets/blob/master/preview/upgrade/readme.md), the same rolling upgrade that is triggered by the automatic upgrade can be manual

[2018-12-11 19:36] mike-urnun-msft commented on #20479
Hi @tomasr

Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-12-11 19:36] usamamashkoor commented on #13350
I am facing the same issue has anyone figured this one out...?

[2018-12-11 19:40] bentleysd opened #20486 "How to use Parameterized Linked Services"
My use case is that I have to copy customer data from a central store (like a data warehouse) into separate databases based on some customer id. All the customer databases look the same (same schema, tables, etc.) and I need to perform the same activities across all of them every time. I have the list of customer databases with server and database name stored in a table. I already have that datase

[2018-12-11 19:41] SaurabhSharma-MSFT commented on #20444
@Anmolgan81 Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-11 19:49] TravisCragg-MSFT commented on #20433
@twitek you are correct, [Update-AzureRmVirtualHub](https://docs.microsoft.com/en-us/powershell/module/azurerm.network/update-azurermvirtualhub?view=azurermps-6.13.0) is the correct command.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-11 19:52] YutongTie-MSFT commented on #20470
@HenrikTurbell
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@garyericson Hi, can you please take a look of this issue? Thanks a lot!

[2018-12-11 19:53] mumoryan opened #20487 "Missing definition of "User" in Available Roles and Role Permissions sections?"
Coming from Azure portal, if people with roles "User" want to find out their access and permissions, they won't be able to find them here. Suggest to include information or links on the role "User".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Independent ID: a380a828-03

[2018-12-11 19:53] jeffgilb commented on #17152
Updated the docs to address this: https://github.com/MicrosoftDocs/azure-docs-pr/pull/60543

[2018-12-11 19:54] jeffgilb commented on #17152
#sign-off

[2018-12-11 19:54] YutongTie-MSFT commented on #20477
@elizabethhalper Thanks for your feedback, I will check it and get back to you as soon as possible.

[2018-12-11 19:55] jeffgilb commented on #17152
#please-close

[2018-12-11 19:57] robertdsmithii opened #20488 "Premium managed virtual machine disks: per disk limits"
In the above mentioned section, there is no P30; there is only an S30. This appears to be a typographical error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f-e546-b3ea-f83892f4c23d
* Version Independent ID: 27aecc7b-f107-96d4-b044-ae026bca2727
* Content: [Azure subscription limits and quotas](https://do

[2018-12-11 20:03] TravisCragg-MSFT commented on #17152
@cenkersoy We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-11 20:03] #17152 closed

[2018-12-11 20:05] Anmolgan81 opened #20489 "Does the SSIS IR needs to be running even when the ssis packages jobs needed to be executed?"
Does the SSIS IR is only used for deploying the packages to the SSISDB, or does it needs to be stay on even when we are trying to execute a package manually or using the sql server agent jobs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3adb930-4c78-e69a-eeb9-d01e90e8aaa6
* Version Independent ID: f0560a94-e26f-a7a

[2018-12-11 20:07] lifeasandythompson commented on #13902
I have the same problem above and as you stated, noticed my NAT rules show my two instances using ports 50002 and 50003 yet I cannot connect using those ports either.

[2018-12-11 20:13] MicahMcKittrick-MSFT commented on #20472
@nsrinivasan80 we have lots of documentation for migrating to Azure. What steps you need to follow will depend on what resources you are running and where you are running them.

Here is some migration documentation to get you started. Each doc has multiple sections you can go through depending on your situation.

https://docs.microsoft.com/en-us/azure/migrate/migrate-overview

https://docs.microso

[2018-12-11 20:13] #20472 closed

[2018-12-11 20:13] MicahMcKittrick-MSFT commented on #20485
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

CC @zr-msft

[2018-12-11 20:14] MicahMcKittrick-MSFT commented on #20484
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-11 20:33] Absoblogginlutely commented on #10857
I don't see this as being addressed. The example in the text is still different to the example in the code.

hare URI to indicate the time at which the share snapshot was taken. For example, if a file share URI is http://storagesample.**core.file**.windows.net/myshare, the share snapshot URI is similar to:

Copy
http://storagesample.**file.core.**windows.net/myshare?snapshot=2011-03-09T01:42:34.93

[2018-12-11 20:35] seanmck commented on #20078
In general, we are planning to enable higher-level features like this through Kubernetes via AKS Virtual Nodes:

https://docs.microsoft.com/en-us/azure/aks/virtual-nodes-portal?view=azure-cli-latest

We are also looking at enabling direct Azure LB to ACI container support, but we don't have a concrete ETA for that yet.

cc: @jluk @mani-ramaswamy

[2018-12-11 20:36] MicahMcKittrick-MSFT commented on #20144
@pottsmgg I will close for now. When ready let us know and we can reopen and continue.

[2018-12-11 20:36] #20144 closed

[2018-12-11 20:37] MicahMcKittrick-MSFT commented on #20203
@AndyWu7623 we will close this for now. If you have additional questions just let us know and we can always reopen and continue.

[2018-12-11 20:37] Alberto-Vega-MSFT commented on #20311
I was able to reproduce the issue. After running:

`C:\Users\alvegago\Documents\GitHub\iot-java-twin-getstarted\simulated-device>mvn clean package -DskipTests
`

[ERROR] COMPILATION ERROR :
[INFO] -------------------------------------------------------------
[ERROR] /C:/Users/alvegago/Documents/GitHub/iot-java-twin-getstarted/simulated-device/src/main/java/com/mycompany/app/App.java:[37,40] cannot

[2018-12-11 20:41] MicahMcKittrick-MSFT commented on #20438
@xenalite you do not have control over the creation of the auto generated NSG. That being said, after creation, you can go and add rules or change the NSG with a different one.

As per locking down your cluster, see the following #18882

CC @iainfoulds @seanmck if they want to add any additional details.

[2018-12-11 20:42] femsulu commented on #19977
hi all, pinged @rajsqr offline and here his update:
Customers will be charged for instances that are running until they are stop-deallocated or deleted (manually or via automatic scale-in).

[2018-12-11 20:43] femsulu commented on #19977
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2018-12-11 20:43] #19977 closed

[2018-12-11 20:58] SaurabhSharma-MSFT commented on #20434
@mcurko Not it is not as AD DS Connector account is required to read/write information to Windows Server Active Directory whereas "User Administrator" account is used to manage Azure AD resources in a Azure Active directory.

[2018-12-11 20:59] nsrinivasan80 opened #20491 "There are no Virtual Machines with any of my customers!"
What the heck are you talking about??

We and my customers are running Windows 10 Workstation.
There are no VMs at all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8057689a-352a-2c4f-308a-907e2e4a1f51
* Version Independent ID: dc6ee9f0-2d21-292e-491a-dddd9ab03b2e
* Content: [About Azure Migrate](https://docs.microso

[2018-12-11 21:02] MicahMcKittrick-MSFT commented on #20457
@dlepow could you comment further on this?

[2018-12-11 21:03] gsaravanan20 commented on #20476
Hi,

I not related to one document, All the documents in my cosmosdb collections are not getting displayed in storage explorer. I can see the document exist from the azure portal DataExplorer blade.

I could see cosmosDB listed and all the collections in the db are getting listed in the on the left panel of the azure storage explorer. When i select a db -> Select a collection -> Select Documents o

[2018-12-11 21:15] nsrinivasan80 commented on #20472
Micah,

What do you mean "What resources you are running?"

One of my clients is a doctor's office. They do Microsoft Word, Excell,
Outlook, scanner software, etc. -- all running on Windows 10 Workstation.
Basically, they want to put all the stuff that is on their PC to the cloud.
That is, when they log-in, they want to log-in to the cloud through their
PC.
To make it even more clear, They want to

[2018-12-11 21:16] rayne-wiselman commented on #20491
Not sure what you're looking for. This article is an overview for the Azure Migrate service, which currently assesses migrates on-prem VMs for migration to Azure. For supported physical on-prem servers you could migrate into Azure using Azure Site Recovery. You'd replicate machines and fail them over into Azure for migration. Take a look here - https://docs.microsoft.com/en-us/azure/site-recovery/

[2018-12-11 21:24] MicahMcKittrick-MSFT commented on #20472
Resources as in how they are currently hosted.

There are different migration paths from on-premise to azure, AWS to Azure, Google to Azure, etc

As per what they are running inside the VM that does not really matter.

Sounds like they are on premise.

So you would want to look at either of the following:

https://docs.microsoft.com/en-us/azure/migrate/migrate-overview

https://docs.microsoft.com/

[2018-12-11 21:30] TylerMSFT commented on #12074
Thank you @Zir01. I will send this feedback to the product team. They are investigating this issue.

[2018-12-11 21:34] divesh987 commented on #20443
Thanks for quick response. I'll keep an eye.

[2018-12-11 21:36] mike-urnun-msft commented on #20475
Hi @coltonf93

Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-12-11 21:43] ppatino commented on #19426
@SEI-Billing I'm experiencing the same issue. Did you find a resolution? @MohitGargMSFT I can create a new issue, but it will be a replica of this one.

[2018-12-11 21:52] hannesne opened #20492 "--zip vs --nozip option"
In the current version of the core tools the "func azure functionapp publish --help" command specifies a "--nozip Publish in Run-From-Zip package. Requires the app to have AzureWebJobsStorage setting defined." option. The documentation still has the --zip option. Seems like the documentation is out of date.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-12-11 21:54] itanex commented on #18515
@tfitzmac Yes, after finally getting a hold of the team who works on this, It was finally made clear of the deprecation. I just happened to be working during the window of time that the docs were not updated to the actual functional behavior.

[2018-12-11 22:05] RobLSDev opened #20493 "Missing v5.8 release notes"
The release notes are missing.  Additionally, 5.8 randomly returns server 500 errors, but that's really not a content issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bd49c9b-995f-cc7e-77d7-74f21f1249f7
* Version Independent ID: 1c2ce65b-5bd3-ca40-a487-ca5059f2c887
* Content: [Use the Azure storage emulator for d

[2018-12-11 22:06] tfitzmac commented on #18515
@itanex - sorry about that issue with the deprecated resource types being displayed.

[2018-12-11 22:15] tfitzmac commented on #20213
@braest - how did you try to deploy the template? I just tested the PowerShell and CLI scripts through CloudShell and both worked as expected. It's possible an older version of the commands might be causing the issue.

[2018-12-11 22:15] SaurabhSharma-MSFT commented on #20446
@beowulf005 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-12-11 22:18] braest commented on #20213
@tfitzmac : I used the templates (preview) blade in Azure (see initial problem description). I'm guessing it's thus an incompatibility from there? Are you able to repro it? I was hoping the templates section would give me the same experience, I typically do dry runs that way. Thanks :) 👍

[2018-12-11 22:18] chetansriv commented on #16867
@markl181 Got the account and making the changes in tutorial now. Sorry for the delay.

cc: @jeevansd

[2018-12-11 22:25] bbi-yggy opened #20494 ""Retrieve tokens in app code" - tokens not found in request headers"
I have successfully enabled Google authentication for my nodejs test app, but I don't see the provider-specific tokens listed above in the request headers received by my server code. None of the X-MS-TOKEN-GOOGLE properties appear in the request header.

I do see "x-ms-client-principal-name", which is set correctly based on my Google login, so the authentication is working.  I also see that "x-ms-

[2018-12-11 22:32] WiproSynnexDS opened #20495 ""Device telemetry" mislabeled?"
I think this should be "Device-to-cloud commands"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 298fefd6-8bdd-3812-9aa4-0a8c495046df
* Version Independent ID: c902b98f-7e2e-6d18-2134-f4dda32bf193
* Content: [Azure IoT Hub operations monitoring](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-operations-monitori

[2018-12-11 22:34] SaurabhSharma-MSFT commented on #20448
@payalgaikwad42 I suggest you please open a new [MSDN forum post](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureKeyVault) with the details and community will help address your query. Please provide the MSDN link over here so that I can help you getting answered.

[2018-12-11 22:41] tfitzmac commented on #20213
Sorry, I see now that a note should be added indicating that templates blade will not work. To create a resource group in a template, the template must be deployed to a subscription, not a resource group. The portal blade only deploys to a resource group. I'll update the article.

[2018-12-11 22:41] SaurabhSharma-MSFT commented on #20460
@alexverboon The Enterprise State roaming is supported on all Windows 10 client SKUs including Windows 10 Pro.

[2018-12-11 22:42] braest commented on #20213
Many thanks 😊

From: Tom FitzMacken <notifications@github.com>
Sent: Tuesday, 11 December 2018 23:42
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Tim Braes <tim@databridge.eu>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Creation resource group from ARM fails (#20213)

Sorry, I see now that a note should be added indicating that templates blade

[2018-12-11 22:45] isaackleinman opened #20496 "Broken"
I copied the example in this doc and tried deploying using the latest version of azure cli, but I get an error "BadReqeust" "TypeNotFound" for the alert action: Microsoft.OperationalInsights/workspaces/savedSearches/schedules/actions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9173a498-fe60-ffd6-0f26-3f7e9972a6c4
*

[2018-12-11 22:47] Anmolgan81 opened #20497 "Does this process works for SQL 2008 or SQL 2008 R2 onpremises servers?"
Does this process works for SQL 2008 or SQL 2008 R2 onpremises servers?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afb8afa1-01dc-ee5d-3af9-19a0f6fc45c6
* Version Independent ID: ae51795c-92de-a13a-4181-34d1942f3d45
* Content: [Tutorial: Use the Azure Database Migration Service to perform an online migration of SQL

[2018-12-11 22:49] femsulu commented on #20213
@tfitzmac would you like me to redirect this to you as a doc-enhancement request or do you already have it in your doc-enhancement backlog?

[2018-12-11 22:50] scsummers commented on #20345
I am also interested in this capability specifically being able to sync our on-prem AD with China Azure. We do this today with Global Azure but would like to do the same for China Azure; it appears it may not be supported but would like to know if there other alternatives besides managing an entirely separate Azure AD instance in China Azure.

[2018-12-11 22:52] tfitzmac commented on #20213
I am fixing it right now, so I think the issue can just remain as is.

[2018-12-11 22:53] SaurabhSharma-MSFT commented on #20466
@mithrandir1589 You can check [Understanding the OAuth2 implicit grant flow in Azure Active Directory (AD)](https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-oauth2-implicit-grant-flow) for your scenario.

[2018-12-11 22:57] vladvino commented on #20164
@mike-urnun-msft you are correct!

[2018-12-11 22:58] SaurabhSharma-MSFT commented on #20469
@aledeniz Could you provide us with the link to the document you are referring to ?

[2018-12-11 23:00] dlepow commented on #20111
@MicahMcKittrick-MSFT - Micah, please assign this issue to me. I'm planning a small doc update to clarify these points. Thanks!

[2018-12-11 23:06] bbi-yggy commented on #19248
@GWBasic, I think you just open the Azure Cloud Shell, navigate to the development folder for your app, and run "npm install <package>". This will update package.json in the dev folder, so that the next time you update ("az webapp up -n <app-name>") the new package(s) will be deployed.

[2018-12-11 23:07] allenwux commented on #20449
Thank you for your feedback @peterlil . We are updating the documentation.

[2018-12-11 23:08] mrnettek opened #20498 "Enroll machines and keep current computer name"
One question that people will be asking right away: How do you keep the current computer name when enrolling devices using a provisioning package? Easy. Just rename machine back to original name, and apply reg keys that were altered during the install of the PPKG (before the PPKG reboot). See my post here: http://eddiejackson.net/wp/?p=19550

Step 1 – Rename Computer

set PCName1=%computername%
WM

[2018-12-11 23:08] tfitzmac commented on #17512
@baywet - it looks like the service has been updated to return the right error message. I now see an error that indicates the password is too long. I'll add that error code and a brief description of the possible cause.

[2018-12-11 23:17] #20213 closed

[2018-12-11 23:29] sinkari-kassim opened #20508 "remove 's' on provides"
we will first try to restore the service in that region to provides the best combination of RTO and RPO
I think you meant to write;
we will first try to restore the service in that region to provide the best combination of RTO and RPO

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8314bbb-3e1b-7a68-dcd1-f7dfe34221a2
*

[2018-12-11 23:32] Christina-Kang commented on #12370
@Otaman the latest sfctl is out with the fix, if you are targeting Service Fabric runtime 6.4. Thanks again for reporting!

[2018-12-11 23:41] tfitzmac commented on #17512
I have added PasswordTooLong, It should get published tomorrow morning.

[2018-12-11 23:42] mlr-msft commented on #20366
After some assistance from the Azure team, I am up and running. Here's the upshot:

- I had the VF and NETVSC interfaces backwards in my mind.
- The VM needs two NICs to function-- one for logging in (i.e. ssh) and one configured with advanced networking. I had to use the CLI to create this second NIC because the portal didn't ask me if I wanted advanced networking.
- The virtual NETVSC PMD for Az

[2018-12-11 23:42] #20366 closed

[2018-12-11 23:43] tfitzmac commented on #20065
I have updated the section about Recovery Services vault based on a private preview that is now available.

[2018-12-11 23:43] tfitzmac commented on #20065
#please-close

[2018-12-11 23:52] Alberto-Vega-MSFT commented on #20495
@WiproSynnexDS Thanks for your feedback. Would you please provide more detail on why do you think this name makes more sense to you and other users?

[2018-12-11 23:57] lmolkova commented on #20341
@RobertoPrevato I think our MSDN examples lack web-server part. you can find the real example that reports requests here: https://github.com/Microsoft/ApplicationInsights-LocalForwarder/blob/master/examples/opencensus/python-app/app/views.py

This is Django example, but Flask is also instrumented.

If you use something else, please have a look at Django instrumentation https://github.com/census-in

[2018-12-11 23:58] vmlambe opened #20518 "Contradictory Statements?"
The statement in the first paragraph:
      _All databases on a server are created within the same region as the logical server._
Seems to be contradicted by the second paragraph:
      _Specifically, the SQL Database service makes no guarantees regarding location of the databases in relation to their logical servers ..._

Am I missing something here? What is the situation? Can we pin databases do

[2018-12-12 00:04] ebrucucen commented on #20189
Hi @mike-urnun-msft, it was through the portal, and yes, the key was included (if I don't include theUnlimited product, then it does not include the Ocp-Apim-Subscription-Key header, and I would get "401", with "Access denied due to missing subscription key. Make sure to include subscription key when making requests to an API." I found out the issue was the APIM sitting on an ASE, but it would be

[2018-12-12 00:11] cherylmc commented on #20433
@twitek  Good catch! Updating now.

[2018-12-12 00:12] cherylmc commented on #20433
#please-close (Just waiting for PR to merge)

[2018-12-12 00:17] Alberto-Vega-MSFT commented on #20311
@odedmozesh Thanks again for your valuable feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-12 00:18] JasonWHowell commented on #18523
Hi @arnabganguly

Sorry we haven't been able to figure it out on this thread. If you are still seeing the problem, would you mind working with the Azure support team to figure out further? My worry is that its too involved for this casual thread. Let us know if that's suitable.

Thanks, Jason

[2018-12-12 00:30] JamesLee-MSFT commented on #20447
@usermartin Thank you for your question.  We are looking into this.

[2018-12-12 00:34] Grace-MacJones-MSFT commented on #20323
@shchoy thanks for bringing this to our attention. I repro the issue and got the same error. I have assigned the issue to the content owner for further review.

@msangapu can you take a look at this.

[2018-12-12 00:34] Alberto-Vega-MSFT commented on #20452
@bawilless Your image did not make it to the comment. However, I forgot that I was running a Beta version of the portal. After going to the public version I see that IoT Hub it is not in the list for "Featured"

Sorry about the confusion and thanks again for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

 ![alt text](https://wtv3.blob.core.win

[2018-12-12 00:40] nickwalkmsft opened #20519 "Does not work in Cloud Shell - auth fails"
See https://github.com/Microsoft/azure-maven-plugins/issues/358.

The version specified in `pom.xml` is also outdated, latest is `1.5.1`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c13f5f59-c119-40e6-1396-d6e65b737693
* Version Independent ID: eb8a9ad0-44fc-6e06-adb0-29df32aee19a
* Content: [Create Java web app on

[2018-12-12 00:47] CarlRabeler commented on #20518
@vmlambe what this is trying to say is that, within a region, there is no guarantee that an Azure SQL database instance will be physically located on the same underlying hardware as the logical server that manages it. Additionally, two databases associated with the same logical server within a region may not be located on the same physical hardware.

[2018-12-12 00:50] Grace-MacJones-MSFT commented on #20323
@shchoy after taking a closer look at the documentation, I believe you have to use the commands in **Bash** not Powershell. Try the commands in Bash and it should work for you. Hope that helps.

![bash2](https://user-images.githubusercontent.com/42247081/49839623-bc268c80-fd64-11e8-8565-8a4d72bbcd8d.PNG)

![bash](https://user-images.githubusercontent.com/42247081/49839629-bfba1380-fd64-11e8-9209-5

[2018-12-12 01:00] adamstadnick opened #20520 "This articular is spectacularly dishonest and NOBODY should use this feature without understanding its limitations"
Azure is BIG on pushing managed disks to everyone - prompting frequently in the portal, and everywhere else.

What they don't tell you is that once you use managed disks, you can NEVER migrate or move that VM again. You have to totally redeploy it to do anything whatsoever that might involve moving it.

Even with their new managed disk move feature (that only just came out in SEPTEMBER 2018 - well

[2018-12-12 01:02] curtand commented on #20187
Hi @cap273
We published the clarifying update.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/60219
Thank you for your contribution.

@TravisCragg-MSFT
#please-close

[2018-12-12 01:09] aledeniz commented on #20469
@SaurabhSharma-MSFT I have included the 7 includes in the azure docs referencing the Premium Storage Caching concept. These includes are used by a number of pages.

E.g. [/includes/virtual-machines-common-sizes-compute.md](https://github.com/MicrosoftDocs/azure-docs/blob/master/includes/virtual-machines-common-sizes-compute.md) is used by both [/articles/virtual-machines/windows/sizes-compute.md](

[2018-12-12 01:22] christiankuhtz commented on #20322
I've made changes to the ha ports load balancing rules article.  Should publish tomorrow.

[2018-12-12 01:30] femsulu commented on #20150
@anirudhcavale, any update to the above?

[2018-12-12 01:36] ananth3010 opened #20522 "OAuth authentication"
Databricks has recently announced OAuth bearer token authentication integration with Gen 2: https://docs.azuredatabricks.net/spark/latest/data-sources/azure/azure-datalake-gen2.html#id3

Can we please update the document with this info please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46d15a48-4780-edbb-4485-121f9

[2018-12-12 01:37] xiaocongfu commented on #20436
I had this error:
$ systemctl status iotedge
● iotedge.service - Azure IoT Edge daemon
   Loaded: loaded (/lib/systemd/system/iotedge.service; enabled; vendor preset: enabled)
   Active: failed (Result: start-limit) since Mon 2018-12-10 14:40:54 UTC; 7min ago
     Docs: man:iotedged(8)
  Process: 19339 ExecStart=/usr/bin/iotedged -c /etc/iotedge/config.yaml (code=exited, status=1/FAILURE)
 Main PI

[2018-12-12 01:43] MicahMcKittrick-MSFT commented on #20520
@adamstadnick thanks for the feedback. The Azure Storage team is aware of the limitation that comes with moving managed disks. This is something they are actively working on to enable customers to eventually move cross subscriptions and cross tenants.

As of now, the only real downside of managed disks is the moving capability when attached to other resources. Once that is completed, you should se

[2018-12-12 01:43] #20520 closed

[2018-12-12 01:48] adamstadnick commented on #17435
Article is SEVERELY misleading. Specifically the workaround for VMs with backups. The suggested "workaround" destroys your entire backup history and DOES NOT restore it so you must manually re-enable backups for every VM individually.

Azure seems to REALLY enjoy telling its clients to delete all their backups. Really glad a support tech pointed this out before we found out the fun way.

[2018-12-12 01:57] faister opened #20523 "Failed to establish connection to image-processing endpoint"
my image processing endpoint is http://classifier/image. My custom vision ML module is also named classifier but I can't connect to the endpoint from cameracapture module. I know the module name is case-sensitive. I have tried a few ways to try to make it work but to no avail; deploy on different Linux and Windows hosts for the IoT Edge runtime, explicitly expose port 80 on the classifier module.

[2018-12-12 01:59] christiankuhtz commented on #16631
added to doc, should publish tomorrow.

@TravisCragg-MSFT please close

[2018-12-12 02:00] christiankuhtz commented on #20301
I've backed the changes out of the comparison table and made some other changes.  should publish tomorrow.

@SubhashVasarapu-MSFT please close

[2018-12-12 02:00] christiankuhtz commented on #20301
@KumudD fyi

[2018-12-12 02:20] junpark12 opened #20525 "Copy activity limitation."
Hi. I wonder whether copy activity has any size limitation.
For instance, Azure SQL Sync case, there are very clear limitation.
- 30 databases
- up to 500 tables in any database
I understand that in copy activity cases, source and sink scopes are too broad than Azure SQL Sync.  If source and target are both SQL server or Azure SQL, do we have such limitation?
Thanks.

---
#### Document Details

⚠

[2018-12-12 02:34] dcbrown16 commented on #9398
@rayne-wiselman @vasivara-MSFT
Did we ever get more info here? I have a customer asking about Oracle 11g and if they need to install Oracle VSS writer or take other steps.
This doc still references Oracle in a couple of places but not in the workload summary.

[2018-12-12 02:48] timmyreilly opened #20526 "StatusController.cs no longer contains that return statement"
https://docs.microsoft.com/en-us/azure/iot-accelerators/iot-accelerators-microservices-example#change-the-status-and-build-the-image

Mentions changing the return statement, but that file no longer contains the return statement mentioned.

See actual file here: https://github.com/Azure/remote-monitoring-services-dotnet/blob/master/iothub-manager/WebService/v1/Controllers/StatusController.cs

---
#

[2018-12-12 02:49] dcbrown16 commented on #16631
Thanks @christiankuhtz!

[2018-12-12 02:49] #16631 closed

[2018-12-12 03:02] timmyreilly opened #20527 "`sh build` is not a valid command for windows"
The instructions are not clear for windows users.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d73ef5af-8f75-3124-8e6d-ac1bb3db2a3f
* Version Independent ID: 95dd52b3-84fd-3201-8983-97b4f53a89c3
* Content: [Change and redeploy a microservice](https://docs.microsoft.com/en-us/azure/iot-accelerators/iot-accelerators-mi

[2018-12-12 03:04] christiankuhtz commented on #20322
@TravisCragg-MSFT please close

[2018-12-12 03:18] j-martens commented on #19688
@aribornstein - please post this SDK issue: https://github.com/Azure/MachineLearningNotebooks/issues

[2018-12-12 03:48] RoyKimYYZ commented on #20348
arm template support would be great.

[2018-12-12 03:55] baywet commented on #17512
Yeah the service update is probably a result from my email discussion with @jan-eng.
Great reactivity and follow up on that! If you're using a PR you should probably mention this issue for tracking

[2018-12-12 03:56] thananstr opened #20529 "How to disable CORS policy?"
I have a problem that I can't consume the web service by JavaScript Web Application because of the block of CORS policy. Is there any configuration from Azure ML SDK that can solve this problem? If not. Does it has solution to solve this problem?

Here is the mentioned bug:
Access to XMLHttpRequest at 'my web service uri' from origin 'http://localhost:3000' has been blocked by CORS policy: Respons

[2018-12-12 04:01] CHEEKATLAPRADEEP-MSFT commented on #20403
@Aaron-Yue  Since CentOS will be supported next year.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-12 04:01] #20403 closed

[2018-12-12 04:03] AshokPeddakotla-MSFT commented on #20526
@timmyreilly Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-12 04:03] RoyKimYYZ opened #20530 "More descriptive heading than "New VNET Integration""
I think you should have more specific heading to be more precise

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a98803-1438-b1b5-f543-7dd88bc4294e
* Version Independent ID: 37ff1d0f-ed8e-5e4d-1f4c-1b9f6cffb938
* Content: [Integrate app with Azure Virtual Network - Azure App Service](https://docs.microsoft.com/en-us/a

[2018-12-12 04:04] KetanChawda-MSFT commented on #20492
@hannesne Thank you for the feedback! We will investigate and make any necessary changes if required.

[2018-12-12 04:06] CHEEKATLAPRADEEP-MSFT commented on #20518
@vmlambe  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-12 04:06] #20518 closed

[2018-12-12 04:12] AshokPeddakotla-MSFT commented on #20527
@timmyreilly Thanks for the feedback! Your proposed changes are already notified to the author.
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-12 04:12] #20527 closed

[2018-12-12 04:14] mike-urnun-msft commented on #20164
Hey @dcbrown16 We've updated the doc to ensure consistency:
- "developer key" is updated to read "subscription key" and links to its respective doc
- "user role" is updated to read "user group" and links to its respective doc

Thanks again for your contribution & helping us drive improvements towards MS Docs! We will now proceed to close this thread. If there are further questions regarding this m

[2018-12-12 04:14] #20164 closed

[2018-12-12 04:27] omerzubair opened #20532 "SubFolder Sync"
Hi @azure
This is not an error just some feedback.
The Sync Preview works fine but it does not sync sub-folders. I generally have single level hierarchy of folders (one for every solution). Would love to see the subfolders to be synced.
Cheers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83c90e64-b615-711f-a53d-fc766

[2018-12-12 04:44] AshokPeddakotla-MSFT commented on #20525
@junpark12 Thanks for the feedback!
You may go through the [Data Factory limitations](https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#data-factory-limits) for more details.

[2018-12-12 04:44] githubavi commented on #20078
Thanks for the update.

-Avi

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Sean McKenna <notifications@github.com>
Sent: Wednesday, December 12, 2018 2:06:03 AM
To: MicrosoftDocs/azure-docs
Cc: Avijit Samanta; Author
Subject: Re: [MicrosoftDocs/azure-docs] Do we have features like AutoScaling and Load Balancing with HTTPS support (#20078)

In general, we a

[2018-12-12 04:45] DCtheGeek commented on #19831
@tiny-dancer Today, what you are looking for will require both the query and some post-processing of the results to filter for the proper match.  We found that the [zip()](https://docs.microsoft.com/azure/kusto/query/zipfunction) function was not in the language page for Azure Resource Graph. I'll be adding that shortly.

With **zip()**, you can update your query such as this:
`where type contains

[2018-12-12 04:54] #19831 closed

[2018-12-12 05:02] payalgaikwad42 commented on #20448
sure, i have opened new post on MSDN forum the link is:
https://social.msdn.microsoft.com/Forums/en-US/b6316056-21ba-40a6-a2c7-4a35a80d29a2/key-vault-does-not-work-after-publishing-web-app-in-azure?forum=AzureKeyVault

the  documents i am refering are as below:
https://docs.microsoft.com/en-us/azure/key-vault/tutorial-net-create-vault-azure-web-app
and
https://github.com/mjisaak/azure-keyvault-asp

[2018-12-12 05:13] AjayKumar-MSFT commented on #20530
@RoyKimYYZ, Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2018-12-12 05:36] cmmdesai commented on #13949
@rudolph4, @Eseldorf, Sincere apologies for the long delay in getting back on this issue. We recently released a new version of the agent in public preview and updated our documentation. I recommend trying this scenario with our latest agent and provisioning app. After installing the agent, register each domain with the agent and for each domain create a separate instance of the Workday provisioni

[2018-12-12 05:42] SumanthMarigowda-MSFT commented on #20493
@RobLSDev Thanks for your question. We are checking on this and will respond to you soon.

[2018-12-12 06:07] #20033 closed

[2018-12-12 06:07] #20065 closed

[2018-12-12 06:15] mcurko commented on #20434
Sorry for the mistake, I was obviously referring to "Azure AD Connector" account, ant to which roles/rights it needs to perform it's tasks. Therefore, does "User administrator" directory role have all the rights required for "Azure DS Connector" account?

[2018-12-12 06:31] AjayKumar-MSFT commented on #20519
@nickwalkmsft, Thanks for your feedback! It appears that it works after uploading accessTokens.json file to Azure Cloud Shell as a workaround and for updating the pom.xml to the latest version 1.5.1, I have assigned the issue to the content author to review further on these points and update the document as appropriate.

[2018-12-12 06:47] RobertoPrevato commented on #20341
Thanks, everything is clear!

[2018-12-12 06:47] #20341 closed

[2018-12-12 06:58] imeya commented on #18685
@gcobr , have you found a way to log it as .csv file?

[2018-12-12 07:06] imeya opened #20533 "how to log to blob storage as a .csv file?"
I have created a .net core 2.1 web app, and enable the "Application Logging(blob)".

And in my code startup.cs -&gt; Configure method, the following code is added:

[code]

But after published to azure , run it. Then in the blob I specified earlier, it shows the .txt log file, not .csv.

Can somebody let me know how to log it as a .csv file?

---
#### Document Details

⚠ *Do not edit this section.

[2018-12-12 07:08] SadiqhAhmed-MSFT commented on #20496
@isaackleinman, We've shared your comments with the content owner for further review. Thanks for your patience.

[2018-12-12 07:15] vishwanath-uppala opened #20534 "IP Address configuration is missing while adding streaming endpoint"
I cannot see the option to configure IP Address while adding streaming endpoint. Is this something deprecated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fd59365-605c-3f91-8618-a183362f2dcf
* Version Independent ID: b374b782-a4b9-6efa-3db1-608d69f5bf99
* Content: [Manage streaming endpoints with the Azure portal](

[2018-12-12 07:17] SadiqhAhmed-MSFT commented on #20532
@omerzubair, We appreciate the valuable feedback. Please share your feedback directly with the feature owner using this link- https://feedback.azure.com/forums/246290-automation.

@georgewallace, This is FYI.

We will now close this request. If there is any further issues please reply, we will be glad to continue to the conversation.

[2018-12-12 07:17] #20532 closed

[2018-12-12 07:20] fredericklin opened #20535 "Ad-hoc external recipients"
Should probably mention that terms of use does not work when a folder or document is shared with an ad-hoc external recipient in SharePoint Online.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 618ca851-56c8-5ba1-35de-a7b8e7af8aa2
* Version Independent ID: 5facc663-2e29-65ad-f208-982150351b22
* Content: [Azure Active

[2018-12-12 07:30] SadiqhAhmed-MSFT commented on #20488
@robertdsmithii, Thanks for bringing that to our attention. We are working on resolving this.

[2018-12-12 07:30] wolfma61 commented on #20403
@Aaron-Yue - we have some Golang fans here also, so the desire is there ;)
But it is not in the plan for the next few month ... hopefully ...
Wolfgang

[2018-12-12 07:32] vishwanath-uppala commented on #20534
I see it is available only when CDN is disabled.

[2018-12-12 07:34] agrabhi opened #20536 "Which attributes are available by default and for which we need custom attributes"
A helpful info will be when do we need to define extension attribute.
For example City is available by default and we don't need extension attribute for that. Just defining City claim in building blocks will work.

Is there any exclusive list for the built-in claims?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29fb9

[2018-12-12 07:37] swinarko commented on #20489
SSIS IR is a compute resource that is used to deploy/execute your SSIS packages, so it needs to be already running when you start your deployments/executions, no matter from where you trigger them, e.g. SSMS, SQL Server Agent, ADF Pipeline, etc.  To manage its running cost, you can stop it during a period when you are not deploying/executing your packages or stop & start it on demand/just in time,

[2018-12-12 07:38] ManojReddy-MSFT commented on #20498
@mrnettek Thanks for the feedback. This is not exactly pertinent to this doc. Can you open a MSDN forum thread regarding this ? I will share the feedback with the engineering team and they can take relevant action accordingly.

You can open the thread here : https://social.msdn.microsoft.com/Forums/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD

[2018-12-12 07:42] ChiragMishra-MSFT commented on #20489
@swinarko Thanks for leaning in to clarify here.

@Anmolgan81 Hope this solves your issue.

[2018-12-12 07:43] darran1971 commented on #18713
I can confirm that the patch orchestration is now working correctly on a Windows Secure stand alone cluster, as a result of adding the NT Authority\System account to the cluster security as admin.
"ClientIdentities": [
{
"Identity": "NT AUTHORITY\\SYSTEM",
"IsAdmin": true
}
I guess this issue can now be closed :)

[2018-12-12 07:45] novino commented on #18713
Thanks for confirming @darran1971 , @MicahMcKittrick-MSFT could you close this issue as i don't have closing permission.

[2018-12-12 07:50] SnehaGunda commented on #19694
@imeya I think that's expected, I see two ways of querying the data, probably they are coming from different versions of SDKs:

* Using "table_service.query_entities()" - This query would return all the results by applying a filter on the partition key.
* Using "employeeTable.ExecuteQuery()" - The continuation token property is applicable for this method of querying. Where only 1000 results are re

[2018-12-12 07:56] swinarko commented on #20401
In the past, we allowed max parallel executions of 8 per node across all node sizes, but then we introduced bigger nodes with more than 8 cores, so we adjusted the rule based on our internal test to 4 * cores for nodes w/ up to 2 cores and 2 * cores for bigger nodes, but it can still be increased by raising a support ticket.  That said, there's an error with D4v2 node, so thanks for reporting it a

[2018-12-12 08:09] ravikiran-srini commented on #20401
Thank you Sandy for the response. Your answer certainly clears a lot of my doubts.

I did not put my 2nd question well enough, so here I go again:

For SSIS IR, only A, D and E series machines are available. I am a little surprised that compute optimized series machines like (F-series) not available. Is there any specific reason that you chose to make available only a specific series of machines?

[2018-12-12 08:10] imeya commented on #19694
thank you. If it's expected, then it's ok.

[2018-12-12 08:13] ravikiran-srini opened #20537 "Need more clarification on virtual CPUs"
I would like to understand how virtual CPU is defined.

I have 2 questions:

1) Is 1 vCPU = 1 core?
2) How many parallel executions can be carried out per vCPU?

Thanks for taking your time to read my message.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bb1d37c-6337-0906-42ff-b5dbc6afdc8b
* Version Independent ID:

[2018-12-12 08:16] SnehaGunda commented on #20057
@summerkiss the doc that Mike pointed out is pretty outdated, we are in the process of publishing the latest version. To answer your question, you can monitor the RU consumption from Azure portal, navigate to your Cosmos DB account, open the alerts blade and you can setup metric or activity log alerts to send you notifications if the consumption has reached a certain limit. The following screensho

[2018-12-12 08:32] agrabhi opened #20539 "The intent of two apps is not clear"
I used only one app and still it worked. not sure why do we need two apps. Also the significance of each app is not explained.
In an Id token, why do we need two apps?
Without application secret, how these apps are being used?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bee63035-00ee-f7fd-97a1-69dae5f808ef
* Version

[2018-12-12 08:42] adeinde opened #20540 "IPV6 settings"
Hello
There is no option for IPv6 IP on MFA trusted IP settings
Can the documentation be updated to reflect this limitation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84b26750-880c-8f14-1628-436293de915e
* Version Independent ID: 518b727f-79e8-b5c2-bcb3-ff4de3444c6f
* Content: [Configure Azure Multi-Factor Authenti

[2018-12-12 08:58] swinarko commented on #20401
It's just a question of prioritizing feature requests, e.g. E-series was requested by many customers running memory-intensive data transformations, so if there are many requests for F-series, we'll include it in our roadmap.

[2018-12-12 09:00] jamesapicken opened #20541 "Dependencies"
It would be worthwhile mentioning that the command to register a VM with the resource provider only works if the o/s disk of that VM has been built using a SQL server marketplace image.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2600a44-9090-4144-b91d-326b027e617b
* Version Independent ID: 329fdb8f-5623-7a04-9f6a-

[2018-12-12 09:00] Anmolgan81 opened #20542 "How many instances can run inside 1 Managed instance"
Is there any way to run multiple managed instances inside 1 managed instance, just like a Sql vm can run mutiple sql instances inside 1 sql vm?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fb7dad4-ff47-5b16-e8ee-0a5e037ea20f
* Version Independent ID: 98ec245b-bd8f-bd96-ec6d-0048599246fa
* Content: [Azure SQL Databas

[2018-12-12 09:02] SaurabhSharma-MSFT commented on #20497
@Anmolgan81 Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-12 09:04] skysrc commented on #10441
Same here...not able to get the same result as in demo page via vision api.

[2018-12-12 09:05] SaurabhSharma-MSFT commented on #20494
@bbi-yggy Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-12 09:12] darran1971 commented on #19950
I have tried to remove the erroring BackupRestoreService by removing it from AddonFeatures. However, after doing a cluster configuration upgrade with the addonfeature removed, the backup service is still enabled on the cluster. Updating the cluster for any other settings is difficult when the BackupRestore System Service is in error state, as I have to update the health policy to ignore system ser

[2018-12-12 09:16] KetanChawda-MSFT commented on #20042
@MattAltieri Assuming you have opened a support request to troubleshoot this issue further. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply or send an email as mentioned in my previous post.

[2018-12-12 09:16] #20042 closed

[2018-12-12 09:18] dominicbetts commented on #20526
@timmyreilly - thanks for pointing this out. The code in the microservice was refactored recently.
I've updated the article and the new version should be live later today.
Regards, Dominic

[2018-12-12 09:36] neeleshray commented on #20487
A user with just the role of "User" does not have any special access or permissions. And in the Azure Portal, if they click on the Azure Active Directory blade, they would be able to find their role specified there.

![image](https://user-images.githubusercontent.com/31060822/49860236-72e74300-fe1f-11e8-9857-ba0cd084e2b8.png)

[2018-12-12 09:37] neeleshray commented on #20365
We would now proceed to close the query. Let us know if you require more help.

[2018-12-12 09:37] #20365 closed

[2018-12-12 09:44] sibethale opened #20543 "Security Reader not granting access to Azure Identity Protection"
In the article it is mentioned that:
"Security Reader: Users with this role have global read-only access, including all information in Azure Active Directory, Identity Protection, Privileged Identity Management, as well as the ability to read Azure Active Directory sign-in reports and audit logs. The role also grants read-only permission in Office 365 Security & Compliance Center. "

However, when

[2018-12-12 09:48] leenheer commented on #17397
When AKS cluster is created in the portal, the default nodepool-name is "agentpool". The CLI uses a default nodepool-name of "nodepool1".

[2018-12-12 09:51] SumanthMarigowda-MSFT commented on #20508
@sinkari-kassim Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-12 09:56] imeya opened #20545 "Is there a way to check replication status of azure blob in azure portal?"
If I selected RA-GRS for redundancy, then Is there a way to check replication status of azure blob in azure portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f618f40d-ae53-5c3b-d8bf-0e80614f66d3
* Version Independent ID: 93083407-8f1e-b3e2-6a62-e30be5e1fbcb
* Content: [Data replication in Azure Storage](https://do

[2018-12-12 09:58] Minewiskan commented on #19975
#in-progress

[2018-12-12 10:02] martinstenhoff commented on #20333
Version 1.2.69.0 also has unsigned dlls.

[code]

[2018-12-12 10:05] neeleshray commented on #20128
Let us know if this has helped or you need further assistance

[2018-12-12 10:44] Sethu2488 commented on #19704
Appreciate if you could add @sezcho(MSFT) into the thread. So that i can share the timeline to the customer.

[2018-12-12 11:09] chwilfing opened #20546 "Missing reference to required powershell modules"
it would be good to inform with a note that the install and configure scripts (.\office365_consent.ps1) require a couple of powershell modules like the AzureRM.OperationalInsights from powershell gallery. Without that - users may start the script and receive an error...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06

[2018-12-12 11:22] anantshankar17 commented on #20219
@NiceMan92
As mentioned in the java quick start doc (https://github.com/Azure-Samples/service-fabric-java-quickstart), you should start the local cluster and check if its fully up. Only after that you should try to deploy the apps.
1.Start your local cluster by running the following command:
sudo /opt/microsoft/sdk/servicefabric/common/clustersetup/devclustersetup.sh
"The startup of the local clus

[2018-12-12 11:48] colinrippeyfinarne opened #20547 "Internal Admin takeover link throws error"
The link to the Internal Admin takeover https://portal.office.com/adminportal/Home is wrong I think, I think it should be https://portal.office.com/admintakeover

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd934d58-08f8-a3ca-2686-0006b0b8f74a
* Version Independent ID: 84d9cab3-09b7-95ba-83ea-435ca0ccbb47
* Content:

[2018-12-12 11:53] esalierno commented on #13175
Exists a way to understand if a deploy with "az functionapp deployment source config-zip" succeed or fail?
Can I check the "status" attribute in the json output? Which values could have the status attribute?

[2018-12-12 11:55] qusp66 opened #20548 "epic fail"
On step 7
cd ~/azure-iot-sdk-c/cmake/provisioning_client/samples/prov_dev_client_sample/
No such file or directory

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15519820-cfab-94be-5ba9-b5e2e414e090
* Version Independent ID: 05bcd0da-3a8e-9b6f-ae77-025d4aa9782f
* Content: [How to provision devices for multitenancy in t

[2018-12-12 12:06] jbfp opened #20549 "Azure AD SSO Integration Team e-mail address still in use?"
Is the e-mail address to the Azure AD SSO Integration Team (SaaSApplicationIntegrations@service.microsoft.com) still in use? I have not received any response to my requests for access to the Application Network Portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 806e36a4-f5ae-bc07-e7e2-ea9d2ab98131
* Version Indepen

[2018-12-12 12:12] saschagottfried opened #20550 "Supported SAML authentication methods for Azure AD"
Documentation about [Single Sign-On SAML protocol](https://docs.microsoft.com/en-us/azure/active-directory/develop/single-sign-on-saml-protocol) states that [only a single value, `urn:oasis:names:tc:SAML:2.0:ac:classes:Password`, is supported by Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/develop/single-sign-on-saml-protocol#requestauthncontext).

While working with SAML-base

[2018-12-12 12:15] sergaz-msft commented on #20523
Thanks for your feedback @faister . Can you let us know the result for `iotedge list` and confirm that the createOptions parameter for the cameraCapture module has the following JSON:

`"createOptions": "{\"Env\":[\"IMAGE_PATH=test_image.jpg\",\"IMAGE_PROCESSING_ENDPOINT=http://classifier/image\"]}"`

Thanks!

[2018-12-12 12:34] Samikouk commented on #11403
I am experiencing timeout most of the time when trying to refresh dataset in PowerBI.

[2018-12-12 12:35] angoyal-msft commented on #20542
@Anmolgan81 thanks for your concern. Could you please refer the below document. I hope this would help resolve your issue.

https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-resource-limits

Please let us know if you still need more information.

[2018-12-12 12:38] Anmolgan81 commented on #20542
We would like to know if we want to do windows failover clustering then who can we go for the azure managed instance in this case?

[2018-12-12 12:44] samsmithnz commented on #19859
Hi, I'm happy to help, but my solution also involved Azure DevOps. The tough part here is definitely the Key Vault side - the documentation gets technical and complicated very quickly. I think an Asp.NET Core example would go a long way for people who are trying to move to .net core AND use best security practices with Azure Key Vault.

[2018-12-12 12:53] jakaruna-MSFT commented on #20537
@ravikiran-srini Please checkout this [document ](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/acu) for the core vs Vcpu comparision along with ACU.
Generally one vcpu is equal to one core if hyperthreading is not enabled.
If enabled you get 2 threads per cpu. So you have more logical cores.
You need to look at the ACU to select the proper size for your application.

[2018-12-12 12:53] jakaruna-MSFT commented on #20541
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-12 13:04] NiceMan92 commented on #20219
@anantshankar17  thank you for your response. I have used Service fabric with Eclipse many times and everything went Ok. I know that the SF takes a few minutes to start and I deployed Java App many times on the SF without problems :). So this Week, I would reinstall the SF on a new computer and I had a problem (the topic of this issue). So I posted this issue and @jakaruna-MSFT Helped me to reinst

[2018-12-12 13:06] nuelscodee opened #20552 "How can i connect QnA Maker to generate answers not in the Knowledge Base from the web"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-12-12 13:11] rayne-wiselman commented on #20030
This is now fixed. #please-close

[2018-12-12 13:12] rayne-wiselman commented on #19644
This is now fixed. #please-close

[2018-12-12 13:13] rayne-wiselman commented on #18942
This is  now fixed. #please-close

[2018-12-12 13:13] jjaskulowski opened #20553 ""backendUri": "www.example.com" is not valid"
This requires uri schema.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c59024a4-9208-9b00-43ee-f6ba936c95a6
* Version Independent ID: 5ac7705c-35e3-b211-ebba-3798dd949409
* Content: [Work with proxies in Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-proxies#using-variables)
* Conte

[2018-12-12 13:15] rothja commented on #18924
@lwajswaj , I sincerely apologize for the delay in getting back to you on your feedback. I manage the article, but I need to get some of our storage experts to weigh in on this. @tamram, @muralikk, @roygara, could you please look at this feedback? Are our guidelines outdated in this azure limits article? Thank you!

[2018-12-12 13:15] #20488 closed

[2018-12-12 13:19] rothja commented on #18719
@tksh164 I looked into this further, and with the current location of the file and a lack of a TOC in the same folder, I don't see a way to fix this at this time. I am sorry, but we appreciate your feedback. I'll keep looking for a solution. For now, though, I will close this issue. Thanks, again.

#please-close

[2018-12-12 13:19] #18942 closed

[2018-12-12 13:30] slaste opened #20555 "More then one service on the App Proxy?"
Just wondering if there would be any concerns to having this server/servers also host Azure AD Connect service?

Thank you
slaste

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdbd2045-3f96-0c47-00ed-b514a759a6bd
* Version Independent ID: 90e715cd-08c2-09e9-292f-bfc515f0dee3
* Content: [Add an on-premises app - Applic

[2018-12-12 13:55] jamesapicken commented on #20541
I have a ticket open with you at the moment if that helps. Ref: 118120425001820

From: jakaruna-MSFT [mailto:notifications@github.com]
Sent: Wednesday, December 12, 2018 12:54 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: James Picken <James.Picken@simcorp.com>; Author <author@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Dependencies (#20541)

Thanks for the fe

[2018-12-12 14:03] tksh164 commented on #18719
@rothja - Thank you for your efforts. I hope will be resolved this issue in the future.

[2018-12-12 14:03] #18719 closed

[2018-12-12 14:06] grayjeremy commented on #20365
I am OK to close this, I'd like to see a colored callout in the documentation under [Prerequisites ](https://docs.microsoft.com/en-us/azure/active-directory/governance/access-reviews-overview#prerequisites) that says something like "Only users that have been issued a P2 or E5 license are available for access review".  This may sound like a silly callout but there is precedent in the platform that

[2018-12-12 14:16] rothja commented on #18683
I'm changing the links on the overview page to 2016 SP2 today. After that this issue will close. @KeiroKamioka0000 please let me know if you need anything else on this issue. Thank you!

[2018-12-12 14:16] NiceMan92 commented on #20219
dadi@dadi-VirtualBox:~$ sudo sfctl cluster select --endpoint http://localhost:19080
dadi@dadi-VirtualBox:~$

It does nothing

[2018-12-12 14:17] rothja commented on #18086
@cynthn , @dlepow , Could you confirm that this table should specify IOPS? Thank you!

[2018-12-12 14:21] sergaz-msft commented on #20447
Thanks for your feedback @usermartin did you try using [Devices_CreateOrUpdate](https://docs.westcentralus.azuresmartspaces.net/management/swagger/ui/index#/Devices/Devices_CreateOrUpdate). If I got it right you will need to update the "spaceId" value?

Thanks

[2018-12-12 14:34] karthiksubramanians opened #20557 "The latest version on Red Hat Enterprise Linux (RHEL)"
Thanks for the great article on migration. Are these version mentioned as compatible the latest? The latest recommended AWS RHEL version is 7.6 with general support for 6.7 ending in 2018. Could we still migrate AWS VMs if they are of version RHEL 7.6? Thanks for the support.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-12-12 14:34] #18683 closed

[2018-12-12 14:37] jl101 opened #20558 "re: Use read-write listener for OLTP workload"
In SSMS, I can connect to fg.database.windows.net, click Database and see all the databases, yet attempting to connect to a database gives a: Cannot open Failover Group "fg.database.windows.net " requested by the login. The login failed. (Microsoft SQL Server, Error: 40971)

Searching on the error is fruitless.  What am I missing?

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2018-12-12 14:41] sergaz-msft commented on #20057
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-12 14:41] #20057 closed

[2018-12-12 14:50] NiceMan92 commented on #20219
I removed  ``if [ $? != 0 ]; then
echo "Something went wrong while connecting to cluster."
exit 1
fi`` From code, I have ``Application copy failed.`` as error now

exit-code:0
Running command:/bin/bash /home/haddadi/git/service-fabric-java-quickstart/Voting/Scripts/connect.sh -ip localhost -port 19080
Shell output:parameters: ip=localhost, port=19080, clientKey=0, clientCert=0
For local cluster, c

[2018-12-12 14:54] AkshathaSP commented on #20432
I do not have the exact link now but the question is regarding Azure scheduler.
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/scheduler/scheduler-advanced-complexity.md

Microsoft documentation (https://docs.microsoft.com/en-us/azure/scheduler/scheduler-intro) says it will be retiring soon.
I already see that 'OK' is disabled when I try to create the JobCollection for the schedu

[2018-12-12 15:02] Vasanth1981 commented on #20128
@neeleshray Thanks for the sample. However, I will try it in AngularJS with HelloJS.

[2018-12-12 15:02] #20128 closed

[2018-12-12 15:03] Sunny-Sharma commented on #16648
Does Virtual WAN support cloud-to-cloud connections? For example, I would like to connect AWS Virtual Private Gateway to Azure vWAN/vGateway - I understand that usually the gateway requires the VPN client side to initiate the connection but that seems like a step backwards when we need to install a VM/vAppliance; the managed services part of vWAN would be of great benefit for my customers.

[2018-12-12 15:04] NiceMan92 commented on #20219
@anantshankar17  you are right some error check in the script went wrong.
It works when I use the command lines as follow:

``haddadi@haddadi-VirtualBox:~/git/LocalDisseminationRepository/Dissemination$ sudo sfctl cluster select --endpoint http://localhost:19080``

``haddadi@haddadi-VirtualBox:~/git/service-fabric-java-quickstart/Voting/VotingApplication$ sudo sfctl application upload --path /home

[2018-12-12 15:06] cvasquez123 opened #20559 "Where do I find the Azure AD B2C directory registration information on azure portal?"
I'm in my azure AD B2C application. I see the application ID that I have to replace, but what about the other information?
Do I also have to change b2cScope? and webapi?
&lt;--- tutorial code ---&gt;
var applicationConfig = {
    clientID: '&lt;Application ID for your SPA obtained from portal app registration&gt;',
    authority: "https://fabrikamb2c.b2clogin.com/tfp/fabrikamb2c.onmicrosoft.com/B2

[2018-12-12 15:08] AshokPeddakotla-MSFT commented on #20439
@maybevs I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-12 15:09] maybevs commented on #20439
Thanks, I remembered to late that docs is on github ;) So I made a pullrequest to fix it.

[2018-12-12 15:09] #20439 closed

[2018-12-12 15:12] MGoedtel commented on #20455
@sotnikop - Because Log Analytics was repositioned under Azure Monitor, you search on Azure Monitor and the results returned include regions Log Analytics is avail in.  We will bug the article and update it to point this out to avoid further confusion.  Thanks for bringing this to our attention.  #please-close.

[2018-12-12 15:12] AshokPeddakotla-MSFT commented on #20462
@ruijarimba This will be fixed on the referenced PR. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-12 15:12] #20462 closed

[2018-12-12 15:14] jscaravilli opened #20560 "resource health alerts - spamming email messages/too sensitive?"
Hello,

I'm provisioning resource health alerts via ARM, per the recommended template here:

[https://docs.microsoft.com/en-us/azure/service-health/resource-health-alert-arm-template-guide#recommended-resource-health-alert-template](https://docs.microsoft.com/en-us/azure/service-health/resource-health-alert-arm-template-guide#recommended-resource-health-alert-template)

I'm receiving 100+ alerts w

[2018-12-12 15:16] raunakpandya commented on #19950
@darran1971 - We identified an issue with Backup Restore service when the cluster is configured with gMSA authentication. Unfortunately, due to another known issue Backup Restore service is a non deletable service which is why it doesn't get removed when you remove the addOnFeatures section as well. To mitigate the issue on you cluster, you can perform the following steps:

1. Get the port where t

[2018-12-12 15:29] AdamSharif-MSFT opened #20561 "Email verification"
In the documentation, it states that verification emails will go to:

admin@&lt;your-domain-name.com&gt;
administrator@&lt;your-domain-name.com&gt;
webmaster@&lt;your-domain-name.com&gt;
hostmaster@&lt;your-domain-name.com&gt;
postmaster@&lt;your-domain-name.com&gt;

However, if I am using domain name xyz.your-domain-name.com (a subdomain), will the emails go to admin/webmaster/etc@xyz.your-domain

[2018-12-12 15:52] MarekLani opened #20563 "Windows 2016 Support"
This article mentions Windows Server 2016 as supported version however on the linked page: https://docs.microsoft.com/en-us/azure/iot-edge/support#operating-systems there is stated only Windows 10 Server.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e019e105-d2e5-9120-82f3-618d0a507bda
* Version Independent ID: 7f4b7

[2018-12-12 15:56] zr-msft commented on #20485
cc @cynthn

[2018-12-12 16:02] usermartin commented on #20447
Yes i want to change the spaceValue.
The question is more or less if the graph is fixed (you provide it in the yaml-file and then you cant change it)
or if you can modify it and as an example move devices between spaces, or even move spaces (including the child-devices/sensors)

[2018-12-12 16:03] CodyRaffy opened #20564 "Error Uploading TrustFrameworkBase.xml"
When I try to upload the TrustFrameworkBase config file I get the following error:

Unable to upload policy. Reason : Validation failed: 1 validation error(s) found in policy "B2C_1A_TRUSTFRAMEWORKBASE" of tenant "myTenantName.onmicrosoft.com".Tenant "myTenantName.onmicrosoft.com" does not have CryptographicKey referenced by storageReferenceId "B2C_1A_TokenSigningKeyContainer".

The documentation

[2018-12-12 16:07] PramodValavala-MSFT commented on #20205
@eragonriddle Hmm... That's weird.

You mentioned that it worked when you removed some dependencies from `requirements.txt`. Did you add them back when running the `pip` command manually?

Also, could share what dependencies you have?
Since it works without them, they must be the problem but then again, you would have installed them using `pip` right?

[2018-12-12 16:08] SumanthMarigowda-MSFT commented on #20545
@imeya Thanks for your question. We are checking on this and will respond to you soon.

[2018-12-12 16:16] mrdfuse opened #20565 "yaml file is invalid"
When you do a copy of the yaml file in this document, there are a lot of wrong indentations/whitespaces and you'll get errors like:
error: error converting YAML to JSON: yaml: line 8: did not find expected key

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a113bacb-b999-8f0d-a66b-748e60e5c4d7
* Version Independent ID:

[2018-12-12 16:18] #18713 closed

[2018-12-12 16:21] sergaz-msft commented on #20447
Thanks for the clarification. I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-12 16:32] anirudhcavale commented on #20150
@johndowns I'm able to reproduce this issue with a storage account. It appears to be a UX rendering issue. I will follow up on my side, but I can also have you file a support ticket to track this please?

[2018-12-12 16:35] cvasquez123 opened #20567 "Missing index.html"
After you clone the Web API git repository, it explains to open up "index.html" from the sample code. Their is no index.html file, theirs only a server.js file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0205d9f7-de2b-3469-f990-1ab3ec434654
* Version Independent ID: 5ae4a3cc-7ff1-4418-35f4-2ad27afef5bb
* Content: [

[2018-12-12 16:40] NiceMan92 commented on #20219
I think that the problem comes from the command ``sfctl`` I don't know why I get [Errno 13] Permission denied ?

haddadi@haddadi-VirtualBox:/$ sfctl
[Errno 13] Permission denied: '/home/haddadi/.sfctl/config'
Traceback (most recent call last):
  File "/home/haddadi/.local/lib/python3.5/site-packages/knack/cli.py", line 206, in invoke
    cmd_result = self.invocation.execute(args)
  File "/home/had

[2018-12-12 16:42] ravikiran-srini commented on #20537
In the above document, for d_v3 machines, the vCPU:core ration is 2:1
So, a Standard_D2_v3 machine contains 2 vCPUs, which means it has 1 core.

![1](https://user-images.githubusercontent.com/39718717/49884358-aeebc980-fe5a-11e8-9fa5-6ac553cb8107.PNG)

If you refer the above image (that's when creating a Azure SSIS Integration runtime in Azure Data Factory), it suggests that a D2_v3 machine contai

[2018-12-12 16:42] mrdfuse opened #20568 "necessary to roll log files in k8s?"
When using AKS and Azure Monitor for AKS, do you still need to configure some rolling somewhere in k8s for log files?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a113bacb-b999-8f0d-a66b-748e60e5c4d7
* Version Independent ID: d7766575-5ef8-4f9a-49e5-2dbd7696d18e
* Content: [View Azure Monitor for containers logs in r

[2018-12-12 16:53] Nilis312 opened #20569 "Preffered configuration and why"
"Select the authentication service. You must select AD FS server unless your organization has exclusively Windows 10 clients and you have configured computer/device sync or your organization is using SeamlessSSO."

What if you have only W10 clients and sync those devices ? Is it then still ADFS first choice or is the best choice ..onmicrosoft.com? That is not 100% clear.
I did read that after vers

[2018-12-12 16:58] deomel commented on #19568
I got the same error and I was able to get it to run with
npm install request --save

but it gets stuck on "The partition ids are: [ '0','1' ]

[2018-12-12 17:06] raghavnielsen opened #20570 "No alias available for NSG flow log"
I am not able to find NSG flowlog alias for either networkwatcher or network security group namespace. When it will be available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9762f1b7-0e3a-d58f-fd99-a27ad948907b
* Version Independent ID: 89e28332-184e-ba84-df1f-e7698c5e0f7c
* Content: [Azure Policy definition structu

[2018-12-12 17:07] NoeHoyos opened #20571 "Filesystem type for NFS"
Using type "nfs4" for the ASCS/ERS filesystem resource type was not recognized by the cluster-ware. Only after changing to type "nfs" it was possible to start all resources.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d2a9d09-f0f0-f02a-dfc6-f9562c0d66ec
* Version Independent ID: f7c0b99d-daae-5616-ab57-ff256d65bc2a

[2018-12-12 17:07] SamirFarhat opened #20572 "Add/Remove/Change VNET Address Space"
Hi,
It's not mentioned whether or not we can modify the address space of a VNET by changing the address range, and not adding/removing.
Example:
My Current VNET address space is 10.10.0.0/16 --&gt; Can we change it to 10.10.0.0/24

https://docs.microsoft.com/en-us/azure/virtual-network/manage-virtual-network#add-or-remove-an-address-range

Thanks

---
#### Document Details

⚠ *Do not edit this sec

[2018-12-12 17:11] SumanthMarigowda-MSFT commented on #20493
@RobLSDev I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-12 17:11] raunakpandya commented on #19950
Great. Yes that would also work. Just that it would give the service admin level access on the nodes. Once again, sorry for the trouble. We would fix it soon.

[2018-12-12 17:12] rayne-wiselman commented on #20557
The article is up-to-date. We'll update with more versions as they're available.

Thanks
#please-close

[2018-12-12 17:15] chezhang opened #20573 ""Only Intel MPI 5.x versions are supported." seems not correct."
## RDMA-capable instances
### MPI
**Only Intel MPI 5.x versions are supported. Later versions (2017, 2018) of the Intel MPI runtime library are not compatible with the Azure Linux RDMA drivers.**
### Distributions
#### Ubuntu
4. Install Intel MPI Library. Either purchase and download the library from Intel or download the free evaluation version.
**Only Intel MPI 5.x runtimes are supported.**

---

[2018-12-12 17:15] DCtheGeek commented on #20570
@raghavnielsen Thanks for the question! If you don't find the alias you are looking for with `Get-AzureRmPolicyAlias` or `az provider show`, then the process to request an alias is at [Requesting aliases for Azure Policy](https://github.com/Azure/azure-policy/blob/master/1-contribution-guide/request-alias.md). Please follow that link for instructions and the correct place to request an alias be ad

[2018-12-12 17:17] phil-lgr commented on #19977
hi @femsulu thanks for taking my query, I'm confused on this option specifically:

![image](https://user-images.githubusercontent.com/9644867/49886445-aae28c00-fe07-11e8-8503-77ae09553f6c.png)

![image](https://user-images.githubusercontent.com/9644867/49886495-c51c6a00-fe07-11e8-80c3-fbd399c5cce0.png)

what are the conditions to "unload an app" ?

how does this affect pricing/usage?

[2018-12-12 17:20] RobLSDev commented on #20493
@SumanthMarigowda-MSFT - Thanks!

[2018-12-12 17:23] anantshankar17 commented on #20219
Yes that seems to be a permission issue. Can you delete this folder altogether and then retry: /home/haddadi/.sfctl

[2018-12-12 17:35] tfitzmac commented on #17435
@adamstadnick - thanks for this feedback. I have removed the steps about VMs with backups, and instead point to new content about Recovery Services. The change should get published this morning.

[2018-12-12 17:36] roygara commented on #20405
Hello @dpapkin , thanks for reaching out, we do appreciate you taking the time!

For reference: I was actually keeping track of the issue myself but, was unable to get to it until now. Issues do not directly correlate to the state of a fix, if we aren't able to get to an issue immediately we keep track of it ourselves and close out the issue, making the updates when we are able.

In this case, I'v

[2018-12-12 17:37] tamram commented on #20493
@RobLSDev - I checked with the engineering team on this. Version 5.8 was just a server version update, and there were no changes in functionality, so we did not publish release notes for it.

Version 5.9 will be available soon and we will update the release notes for that.

As for the 500 errors you are experiencing, if you can provide more information on those, we'll pass it on to the product tea

[2018-12-12 17:39] sergaz-msft commented on #20548
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-12 17:40] phil-lgr commented on #19977
answer here https://stackoverflow.com/questions/28619006/does-the-azure-websites-always-on-option-have-any-implication-on-price

this information should be presented clearly in the docs, thanks!

[2018-12-12 17:41] wesmc7777 commented on #20548
@qusp66 thanks for reporting this. The defaults for the project have changed.  I'll update this article. Please use the following CMake options below instead of the single option shown in [Step 4 of Preparing the SDK](https://docs.microsoft.com/azure/iot-dps/how-to-provision-multitenant#prepare-the-azure-iot-c-sdk-development-environment)...

[code]

[2018-12-12 17:41] SumanthMarigowda-MSFT commented on #20545
@imeya As of today, it is not possible to view the status in the portal.

You may use code which is mentioned in the below link and this should help you in checking the status:
https://gist.github.com/ajith-k/92867fb6e5329ff9300d712df12f2809

You can also refer to the REST API calls - https://docs.microsoft.com/en-us/rest/api/storageservices/get-blob-service-stats

[2018-12-12 17:42] DCtheGeek commented on #20570
@raghavnielsen Thanks for making the request per those instructions!  I'm going to link to your request Issue so that if others find this, they also find your request.

Azure Policy Alias Request - azure/azure-policy#274

[2018-12-12 17:50] RobLSDev commented on #20493
@tamram - Thanks for the info.

As for the errors, we didn't see any additional logging information but one of our developers who had upgraded was getting them through our applications which utilize WindowsAzure.Storage nuget library, Cloud Explorer, and also Azure Storage Explorer.  There wasn't any rhyme or reason to it, just that they would sometimes fail to upload files, and a subset of those

[2018-12-12 17:51] MicahMcKittrick-MSFT commented on #20571
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-12 17:51] MicahMcKittrick-MSFT commented on #20573
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-12 17:56] Grace-MacJones-MSFT commented on #20323
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-12 17:56] #20323 closed

[2018-12-12 17:57] vilcek opened #20576 "Typo and missing import in the Visual Search client code example"
The line code reading:
var client = new WebSearchAPI(new ApiKeyServiceClientCredentials("YOUR-ACCESS-KEY"));

should instead be:
client = VisualSearchAPI(CognitiveServicesCredentials(subscription_key))

Also, the import block for this example should include the line:
from msrest.authentication import CognitiveServicesCredentials

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2018-12-12 17:59] MarileeTurscak-MSFT commented on #20547
@colinrippeyfinarne
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-12 18:00] Grace-MacJones-MSFT commented on #20534
Hi @vishwanath-uppala, Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-12 18:00] AceHack opened #20577 "Delete scripts don't work"
There are multiple errors, on almost every line

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81e00caf-dd95-441b-d2d5-0b3c979cb11b
* Version Independent ID: 83ed8e59-7ae8-332e-9ce0-7d80e8a973f8
* Content: [Deploy container instances into an Azure virtual network](https://docs.microsoft.com/en-us/azure/container-instan

[2018-12-12 18:00] roygara commented on #18924
@lwajswaj thanks for reaching out, we apologize for the delay, I'm looking into this now and will update when we have an answer.

[2018-12-12 18:00] Grace-MacJones-MSFT commented on #20533
Hi @imeya, thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-12 18:04] MarileeTurscak-MSFT commented on #20547
@colinrippeyfinarne what do you see when you go to that link?

[2018-12-12 18:07] ylv-io commented on #11721
This is example is super confusing. Why Context.User.Id is used for both User/Session ids? How to set proper user Id, when it is authenticated? SDK supposed to track users automatically, if it does, why this code is even needed?

[2018-12-12 18:07] MarileeTurscak-MSFT commented on #20567
@cvasquez123
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-12 18:07] AceHack commented on #20577
I'm trying very hard to delete my custom vnet but I cannot any help will be appreciated.  I've correct a bunch of problems but the last one I cannot get past is.

[code]

[2018-12-12 18:14] wesmc7777 commented on #20452
@bawilless Thank you for reporting this difference. I'm looking into this to see if we are going to be updating the public portal or not.

[2018-12-12 18:14] MarileeTurscak-MSFT commented on #20567
Hi @cvasquez123, you're right - the HTML file does appear to be missing. I downloaded the repository and found the index.js file, though, which contains the code referenced in the tutorial.

I created a pull request to update the document and will leave it open for sign-off by @davidmu1
https://github.com/MicrosoftDocs/azure-docs-pr/pull/60703

![image](https://user-images.githubusercontent.com/13

[2018-12-12 18:15] MarileeTurscak-MSFT commented on #20567
We will proceed to close this thread. The change to the document should merge in the next few days. If you have further questions feel free to tag me in the comments and I will gladly continue the discussion.

[2018-12-12 18:15] #20567 closed

[2018-12-12 18:16] Poods1158 opened #20579 "Why Microsoft.Batch provider is required to join IR to VNet?"
Why Microsoft.Batch provider is required to join IR to VNet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f12a3bca-2e7d-1746-d490-109a244c5970
* Version Independent ID: 20654222-323d-e8bb-3073-4878cc3e1ad1
* Content: [Join Azure-SSIS integration runtime to a virtual network](https://docs.microsoft.com/en-us/azure/dat

[2018-12-12 18:16] tamram commented on #18924
@lwajswaj - The default limits listed here for Azure Storage are correct. The higher limits seen in the blog post are available only via a request to Azure Support (the blog post states this).

I agree that this is confusing, however. I'll clarify this further in the documentation.

#please-close

[2018-12-12 18:17] #20078 closed

[2018-12-12 18:20] MicahMcKittrick-MSFT commented on #20541
@jamesapicken yes the command will only work if the OS disk was made from a SQL image in my experience. I will assign to the author to review and see if we can note this.

[2018-12-12 18:21] Gorgoras opened #20581 "Data lake gen 2 not supported?"
I had a working pipeline which did a GetMetadata activity to get the child items from a Data Lake Gen 2 (using the blob storage connector), but now the connector is not working anymore. I can create a linked service to the Lake Gen 2 with the Lake Gen 2 connector, but the GetMetadata activity doesnt list me the datasets created with that linked service.

What options do I have? I need to retreive

[2018-12-12 18:22] MicahMcKittrick-MSFT commented on #20571
@NoeHoyos I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-12 18:24] dlepow commented on #18902
Adding product team's response here, suggesting current approach and possible future solution:
"You can put PAT on keyvault, and reference it as secure parameters when submitting the ARM template. I think that is the best bet today. In future secret volume should be able to reference keyvault directly."

I believe this addresses the current issue. Thanks all for good questions.
#please-close

[2018-12-12 18:27] AceHack opened #20582 "How do we update Azure CLI plugin?"
How do we know when there are new versions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 916ac90f-8a94-5f3d-eb99-fe06c39eb6cf
* Version Independent ID: 2aad2e47-7fde-8d24-f824-236a26e5d887
* Content: [Create virtual nodes using the Azure CLI in Azure Kubernetes Services (AKS)](https://docs.microsoft.com/en-us/azure/ak

[2018-12-12 18:33] MarileeTurscak-MSFT commented on #20535
@fredericklin
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-12 18:35] wschroder opened #20583 "Topics ==> Competing Consumer pattern?"
The section titled "Topics and Subscriptions" contains the following line:  "...subscriptions support the same patterns described earlier in this section with regard to queues: competing consumer,..."
Is that right?  I thought Topics meant a single message is consumed by multiple readers, whereas the "Competing consumer" pattern generally requires a single reader for a message.   Is that right?

-

[2018-12-12 18:35] MarileeTurscak-MSFT commented on #20536
@agrabhi
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-12 18:36] MicahMcKittrick-MSFT commented on #20573
@chezhang I have assigned this to the author to review and update the doc as needed.

[2018-12-12 18:37] MarileeTurscak-MSFT commented on #20539
@agrabhi
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-12 18:39] anirudhcavale commented on #20150
Update! @johndowns we found the issue in the UX rendering of custom metrics for storage accounts. We are working on a fix, it will likely be rolled out worldwide during the first week of Jan. Thank you for reporting this and helping us find it!

[2018-12-12 18:41] #20548 closed

[2018-12-12 18:42] MarileeTurscak-MSFT commented on #20540
@adeinde
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-12 18:43] nickgailloux opened #20584 "Confusing Wording with Azure Active Directory Federation Services"
Wording... "Azure Active Directory Federation Services" should be "Active Directory Federation Services".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01f0813b-5ee7-62bc-d427-4b1783a1fa0a
* Version Independent ID: 61e41303-0118-1179-fc50-121c54ed4f34
* Content: [Configure Azure AD SSO for applications](https://docs.m

[2018-12-12 18:43] MarileeTurscak-MSFT commented on #20543
@sibethale
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-12 18:44] mike-urnun-msft commented on #20553
Hi @jjaskulowski

Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-12-12 18:44] SaurabhSharma-MSFT commented on #20312
@atullalwani We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-12 18:44] #20312 closed

[2018-12-12 18:45] SaurabhSharma-MSFT commented on #20349
@tamal19 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-12 18:45] #20349 closed

[2018-12-12 18:45] MarileeTurscak-MSFT commented on #20559
@cvasquez123
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-12 18:48] johndowns commented on #20150
Fantastic! That's great news @anirudhcavale. Thanks for the update.

Re a support ticket - unfortunately I don't have access to create one currently. But it sounds like this won't be necessary anyway?

[2018-12-12 18:48] AndyWu7623 commented on #20203
Thank you for taking time and look into this. Please take these 5 ips into account for the document. We have some customer follow the document but this information is not in it. When they first time upgrading and have the issue with upgrade failed due to subnet is full. The deatil documatation will help to prevent this happen again. Thank you for the help.

[2018-12-12 18:49] MarileeTurscak-MSFT commented on #20549
@jbfp
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-12 18:50] MarileeTurscak-MSFT commented on #20555
@slaste
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-12 18:50] MicahMcKittrick-MSFT commented on #20203
@iainfoulds can you take a look and consider adding this info to the doc?

[2018-12-12 18:51] MarileeTurscak-MSFT commented on #20564
@CodyRaffy
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-12 18:52] MarileeTurscak-MSFT commented on #20569
@Nilis312
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-12 18:53] hrasheed-msft commented on #19995
@AshokPeddakotla-MSFT the page has been updated to reflect user contributions. #please-close

[2018-12-12 19:03] roygara commented on #18760
Hello @SharePointOz , thanks for reaching out! Sorry about the delayed response. Would you mind clarifying your request? The doc already has a few mentions of minute metrics.

[2018-12-12 19:07] rbrayb opened #20585 "Note out of date"
"For security reasons, the use of JavaScript is currently blocked for customization."

But see https://docs.microsoft.com/en-us/azure/active-directory-b2c/javascript-samples

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84aabaf3-e7da-3519-995c-72d36c537843
* Version Independent ID: b35afa8d-a02c-a77a-6831-2b3f6a6c1a7d

[2018-12-12 19:07] TravisCragg-MSFT commented on #20187
@cap273 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-12 19:07] #20187 closed

[2018-12-12 19:08] DiegoRamirez-MSFT commented on #20572
hello @SamirFarhat

this would be a yes and no answer, you can change the address space completely if you dont have any subnets associated to it, which most of the times is not the case, other than that you can only make the address space subnet mask smaller than originally, for example changing a /16 to a /8 will be possible

@jimdial
is it possible to update the documentation to mention this?

b

[2018-12-12 19:08] TravisCragg-MSFT commented on #19923
@bykbrian We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-12 19:08] #19923 closed

[2018-12-12 19:08] TravisCragg-MSFT commented on #16948
@yinghli We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-12 19:08] #16948 closed

[2018-12-12 19:09] SaurabhSharma-MSFT commented on #20443
@divesh987 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-12 19:09] #20443 closed

[2018-12-12 19:10] TravisCragg-MSFT commented on #16530
@christiankuhtz This was continued as a support request on 10/30.

@PPreamble We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-12 19:10] #16530 closed

[2018-12-12 19:11] TravisCragg-MSFT commented on #20322
@SamirFarhat We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-12 19:11] #20322 closed

[2018-12-12 19:14] SaurabhSharma-MSFT commented on #20448
@payalgaikwad42  Sure, thanks. we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-12 19:14] #20448 closed

[2018-12-12 19:19] MarileeTurscak-MSFT commented on #20550
@saschagottfried
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-12 19:34] Alberto-Vega-MSFT commented on #20558
@jl101 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-12 19:35] msmimart commented on #19928
The body of the email is the text you entered when you initially created the invitation for the guest user, e.g. when adding them to your directory, inviting them to a group or app, or using the invitation API or PowerShell. To help clarify this I'll link to articles about the various methods (similar to what we did in the Branding section). Hopefully this addresses your question; if you have furt

[2018-12-12 19:41] tamram commented on #20508
@sinkari-kassim - Thanks for your feedback, I've fixed this typo. In the future, if you'd like to make a contribution, you can make this type of change yourself in GitHub - just click the Edit link at the top of the article.

@SumanthMarigowda-MSFT  - FYI, I've made the fix and my PR has been merged into the repo.

#please-close

[2018-12-12 19:45] #20184 closed

[2018-12-12 19:48] elizabethhalper opened #20586 "Register Model--Model instantiation is incorrect"
Line 70 in the md file should be changed from `tags = ["0.1"],` to `tags = ["key": "0.1"],` as tags must be a dict, so the way that it is written now will throw an error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38e267fb-efa2-dab5-aa83-4a4addc39ee8
* Version Independent ID: e1d506d0-c6bf-47ed-a12c-7bb50416c865
*

[2018-12-12 19:52] MicrosoftGuyJFlo commented on #20540
Resolved by https://github.com/MicrosoftDocs/azure-docs-pr/pull/60719

[2018-12-12 19:52] MohitGargMSFT commented on #20237
@zippy1981 Please note that as you are trying to find solution on your specific requirement, I would request you to open a new MSDN forum post and community based on there experience do provide necessary inputs to help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum

[2018-12-12 19:52] MicrosoftGuyJFlo commented on #20540
Added a note to the doc at line 257

[2018-12-12 19:53] Mikhail-Pranovich opened #20587 ""Role name" - wrong heading level"
"Role name" - has wrong heading level, should be the same level as other headers since it is not a subheader of "Telemetry correlation in the Java SDK"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95aa5722-ec96-40fb-b03a-0c9e73c7a18c
* Version Independent ID: 28259d9c-5174-f138-c0aa-bc2125c3be1a
* Content: [Azure App

[2018-12-12 19:57] SumanthMarigowda-MSFT commented on #20508
@sinkari-kassim We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue. 

[2018-12-12 19:57] #20508 closed

[2018-12-12 19:57] kfarmer-msft commented on #18212
Emulator update to resolve this is being published now.

[2018-12-12 19:58] brownmbg opened #20588 "Out of date"
Screenshots and directions are not up to date for latest versions of Azure AD

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51eadd8e-b820-be21-9cb3-b52f334fb94d
* Version Independent ID: fe358aa5-5bb6-b8f0-8ab7-ef181dc8af42
* Content: [Admins manage users and devices - Azure MFA](https://docs.microsoft.com/en-us/azure

[2018-12-12 20:01] SamirFarhat commented on #20572
Thanks for the answer. In other words, we can resize the VNET address space only by extending it, and not the reverse. So i think a recommendation should be added to the documentation to mentaion that when we are not sure about the future IP addressing needs (the resources count that will consume our space), it's recomanded to use as a small address space, and then extend it or add additional rang

[2018-12-12 20:07] curtand commented on #20572
Hi @SamirFarhat
Thanks for your contribution. I am sitting in for Jim Dial while he is out of the office for a bit. I have a bunch of stuff to wrap up this week, and then I will be OOF until January 7. This looks both interesting and brief, but I will have to wait to pick it up in January. Your request will not be forgotten, though. Thanks!

[2018-12-12 20:13] jfrandol commented on #13556
Just to let you know, I did enter my information in that form at :

https://appsource.microsoft.com/en-us/partners/signup

And got a response only for Azure marketplace,  so perhaps they "decide for you " based on your entries, but I thought since my app was on premises, they would decide appsource for me, but I never got any info about it.

Find the right app | Microsoft AppSource<https://appsour

[2018-12-12 20:15] deomel commented on #19568
Fixed this. First, for the error in the script I fixed as explained above with the command

npm install request --save

Then I found out I had a route added to my IoT Hub, I had added it in my previous tests. I deleted it and it worked just fine.

[2018-12-12 20:15] MicrosoftGuyJFlo commented on #20540
#please-close

[2018-12-12 20:21] SaurabhSharma-MSFT commented on #20560
@jscaravilli Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-12 20:21] MicrosoftGuyJFlo commented on #20588
@brownmbg the screenshots are still correct.

The only change to the steps is Users not Users and Groups.

I can work on getting it updated in the future but it will not be done before the end of the year. If you want to propose an edit you can make modifications using the edit button at the top of the page.

[2018-12-12 20:22] NiceMan92 commented on #20219
Effectively that was the origin of the problem. After installing the Service Fabric, you have to delete ``/home/userName/.sfctl`` folder in order to fix the issue. I know that was painful but that's it.
Thank you guys for your help and your reactivity :)
P.S. I think that the doc should be updated asap in order to make the installation more easier

[2018-12-12 20:23] Grace-MacJones-MSFT commented on #20059
@gbodacs looks you are having the same issue mentioned [here](https://github.com/MicrosoftDocs/azure-docs/issues/15648). Try updating the node version in Application Settings to the value 8.11.1