[2018-09-20 09:52] darteco opened #15336 "All App Services have the same virtual IP?"
I have multiple App Services within the same plan, and they obviously all have unique URL's contoso.azurewebsites.net. Yet the virtual IP addresses seem to be the same. Have I misunderstood something? How do I get different domains point to different App Services?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e05cdb94

[2018-09-20 09:57] sergaz-msft commented on #15262
Hello @tangzhengyue thanks for confirming it and the time spent on skype chat. Because you will use a .Net Framework 4.6.1 application you should leverage this nuget package which has all the classes you need:

https://www.nuget.org/packages/WindowsAzure.ServiceBus/

[2018-09-20 09:57] sergaz-msft commented on #15262
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-20 09:57] #15262 closed

[2018-09-20 10:00] MoNadtheGrey commented on #10974
Just discovered that "Update AD FS SSL certificate" option has now appeared for us under "Manage federation". We are still on 1.1.880 as mentioned earlier, so thats not changed or updated.

however, this still isn't completely useful as while we are able to search/browse ADFS servers, the wizard does not see our WAP servers in DMZ (can RDP to them without issues)

[2018-09-20 10:19] amirgra commented on #15094
Thanks @rolyon and @MarileeTurscak-MSFT
I submitted a request 👍

[2018-09-20 10:20] andriysavin opened #15337 "Menu items don't exist for ASP.NET Core projects"
I don't see menu items like "New Azure WebJob Project" mentioned here in the context menu of a ASP.NET Core web project, but can see them for a classic ASP.NET project. It's confusing that while the "Core line" of products is advertised to be the future and main focus for development, only the legacy product gets the tools and all screenshots in the docs show that legacy product.

---
#### Documen

[2018-09-20 10:26] MarkFD01 opened #15338 "AADSTS50011 error on Sign in pop up"
Updated ClientId as instructed, Native app (I have tried both Converged application and Azure AD only application), auth works fine but then get
"AADSTS50011: The reply url specified in the request does not match the reply urls configured for the application: XXXXXXXXXXXX"  presented on auth popup.

[2018-09-20 10:36] MarkFD01 opened #15339 "AADSTS50011 error on Sign in pop up"
Updated ClientId as instructed using Native app (I have tried both Converged application and Azure AD only application), auth works fine but then get
"AADSTS50011: The reply url specified in the request does not match the reply urls configured for the application: XXXXXXXXXXXX" presented on auth popup.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-09-20 10:37] #15338 closed

[2018-09-20 10:38] sergaz-msft commented on #15068
Hello @kjayantmenon , we will work on this issue through the Azure Support Ticket already opened. Our suspicious is that this is related with the type of subscription being used for the deployment.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-20 10:38] #15068 closed

[2018-09-20 10:43] sergaz-msft commented on #15183
Hello @pbiswas-kol , for any platform listed [here](https://docs.microsoft.com/en-us/azure/iot-edge/support) we only support production environments using General Available (GA) features. ML modules and disabling process identification security feature are not GA and not production-ready.

Thank you.

[2018-09-20 10:46] MarkusVi commented on #14978
Hi @zburtondbrs, the sentence is correct as is,
SSO is availabe - even when not connected to the domain network.

#please-close

[2018-09-20 10:47] sergaz-msft commented on #15327
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-20 10:54] ediazrod opened #15340 "There is no option to add Alerts on Policy only for Audit?"
Will be great have some examples how to alert on no-compliance policy not only on deny.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8af1d215-b6e1-404c-e52a-e06f987fd8eb
* Version Independent ID: c655e41f-8887-f005-35aa-37e52570ff61
* Content: [Getting Compliance Data in Azure Policy](https://docs.microsoft.com/en-us

[2018-09-20 11:26] SychevIgor opened #15341 "Extra note about ParameterLink and Parameter"
Could you please add a note, that ParameterLink and Parameter can't be used together.
Otherwise deployment will fail with an error:
"Error: Code=InvalidDeployment;
Message=The deployment 'DEPLOYMENTNAME' cannot have both the ParameterLink and Parameter property set. Please use one or the other."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-09-20 11:50] anjali-intrepid opened #15342 "Send telemetry data in C: At step 4, Cmake returns error: Error: could not load cache"
Hello,

I am trying the document for "Send Telemetry data with C", this being my first setup of azure. At step 4, I receive the error "Error: could not load cache".

After reading about this issue on google, I first tried "cmake ."  [maybe configuration is necessary], to which I receive an error:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-09-20 12:15] SaurabhSharma-MSFT commented on #15265
@JoeMcGrath We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-20 12:15] #15265 closed

[2018-09-20 12:18] SaurabhSharma-MSFT commented on #14978
@zburtondbrs We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-20 12:18] #14978 closed

[2018-09-20 12:30] SaurabhSharma-MSFT commented on #15269
@SoccerCore11 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-09-20 12:33] Phydeauxman opened #15345 "Links not working"
Under the "Filtering audit logs" section, there is an example URL on how to list Audit Activities for your tenant.  When inserting my tenant domain and browsing to the URL I get a 401 error.  Also, the link in the text "where $tenantdomain = your domain name or refer to the article audit report events" loops back to the article itself and is of no value.

---
#### Document Details

⚠ *Do not edit

[2018-09-20 12:34] prwani-microsoft opened #15346 "Need docs update"
[Enter feedback here]
"Congitive Services" are not available to provision on Azure portal anymore. Instead, it requires provisioning "Custom Speech" service. Can you please update screenshots and docs on page accordingly?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39d70822-cdb1-7d2b-f1a1-1ad4ae24bbfd
* Version Inde

[2018-09-20 12:48] rogereriksen opened #15347 "Application manifest description"
I cannot find any documentation on application manifest for v2 endpoint like there is on v1 endpoint.  Will this documentation still be valid for v2 endpoints:
https://docs.microsoft.com/nb-no/azure/active-directory/develop/reference-app-manifest

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 158a222d-75c7-f169-cd19-0c

[2018-09-20 12:49] lukdlu commented on #8961
@TravisCragg-MSFT
I have the same issue with this script - I'm trying to create a custom image from a machine in the same DevTest Lab, and I'm getting following error:
[code]

Please advise how I can fix this, as I can see that there is no place for storage account information in the template...

[2018-09-20 12:51] MarkusVi commented on #14862
Hi @kennethvs, yes this is still valid and the UI is wrong. There is a backlog item to fix this.

#please-close

[2018-09-20 12:56] SaurabhSharma-MSFT commented on #15145
@EdisonDa Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-09-20 12:57] MarkusVi commented on #14861
Hi @kennethvs, same as in the case of the other issue. The documentation is correct and the UI is right now misleading.  Engineering is aware of this.

#please-close

[2018-09-20 13:01] #14861 closed

[2018-09-20 13:01] #14862 closed

[2018-09-20 13:05] MarkFD01 commented on #15339
After some further poking around setting the PublicClientApplication.RedirectUri property in the static ctor in App.xaml.cs to that set in the App Registration solves this.

[2018-09-20 13:17] SaurabhSharma-MSFT commented on #15182
@YoRobotCop We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-20 13:17] #15182 closed

[2018-09-20 13:17] SaurabhSharma-MSFT commented on #15165
@ZiedMB We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-20 13:17] #15165 closed

[2018-09-20 13:29] freddyz2001 opened #15348 "Link error"
Link at the top on "Get notified about when to revisit this page for updates by adding this URL to your RSS icon feed reader."does not work for RSS. Please fix.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87fb3b64-807c-48b1-bbb0-822255efafcb
* Version Independent ID: 93a95ce4-cb41-4b3b-9d1d-49dd255f47b6
* Content: [

[2018-09-20 13:33] freddyz2001 commented on #15348
Opening in Chrome 69.0.3497.100 says: {"Error":{"Code":"UnsupportedApiVersion","Message":"The HTTP resource that matches the request URI 'https://docs.microsoft.com/Home/Error?search=%22whats%20new%20in%20azure%20active%20directory%22&locale=docs.microsoft.com/' does not support the API version '0.1'."}}

[2018-09-20 13:42] spelluru commented on #8961
@jkwon2013 - could you look into it when you get a chance? Thanks.

[2018-09-20 13:43] MourIdri commented on #15256
@SaurabhSharma-MSFT  : I want to download the template of log analyctis for VMware : https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/log-analytics/log-analytics-vmware.md

[2018-09-20 13:44] EliWallic opened #15349 "Deploy on AzS 1808 error"
Didnt found a solution yet

Import-Module : The following error occurred while loading the extended type data file: Error in TypeData
"Microsoft.Azure.Commands.Common.Authentication.Abstractions.IAzureContextContainer": The TypeConverter was ignored because it already occurs.
Error in TypeData "Microsoft.Azure.Commands.Common.Authentication.Abstractions.IAzureContextContainer": The member Serializ

[2018-09-20 13:49] Dhawal05 opened #15350 "Getting Connectivity error while running the above command"
I have a ASF cluster running on ILB and am getting an eror any help would be great -

$body = (ConvertTo-Json $BackupPolicy)
$url = "https://10.254.101.20:19080/BackupRestore/BackupPolicies/$/Create?api-version=6.2-preview"

Invoke-WebRequest -Uri $url -Method Post -Body $body -ContentType 'application/json' -CertificateThumbprint '86D9551F6E8FEED486E341E239EFCD16E68E1A03'
Invoke-WebRequest : The

[2018-09-20 14:05] Szczechla opened #15352 "Throughput for non systematical inserts"
How should I calculate throughput if the data does not flow systematically but from time to time.
For example: once per minute there are 500 insert operations of a document size of 1k each?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abb0beaa-01ab-7031-937e-2d44c147b5d2
* Version Independent ID: 742b249e-054f-a160-c

[2018-09-20 14:26] stevozilik opened #15353 "Overcomplicated"
Hi,

we have a SF application containing about 10 services and 50 configuration settings.

The act of adding 1 additional setting (that can be used in each service, e.g. cache connection string) means we need to modify all 10 services Settings.xml, ApplicationManifest.xml, ApplicationParameters file, altogether about 12 files copying and pasting the same Parameter about 22 times all over the shop.

[2018-09-20 14:27] smoms commented on #11825
does not compile!

[2018-09-20 14:49] jeffgilb commented on #15349
Hi there @EliWallic , these issues are for doc-related and not technical support feedback. That said, you have to switch to the previous PowerShell profile for 1.1.24.0 of the DB RPs
We’re shipping the next version of the RPs to support the new profile soon. Please stay tuned.

[2018-09-20 14:49] jeffgilb commented on #15349
#please-close

[2018-09-20 14:49] smoms opened #15354 "granular access at secret level"
Hi, is possible to also give granular access at secret level? E.g. AppA can access SecretA only, AppB can access SecretB only etc..?
thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abdd8ac9-3e5f-3e4b-06f5-e36bf4461c1e
* Version Independent ID: b6888d69-51cc-194b-0af8-7cb00e3b4f01
* Content: [Secure your key vault

[2018-09-20 14:59] Anmolgan81 opened #15355 "Getting dependecy error while trying to move the unmanaged encrypted virtual machine"
When I try to move the unmanaged virutal machine with all of its storage account and key vault I cannot move across susbcrption. There is some dependecny error when I try this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe3

[2018-09-20 15:00] ericleigh007 opened #15356 "Feedback system choices are incomplete"
So the feedback system choices of "Documentation Problem", or "Uservoice feedback" are incomplete.
We need a choice that goes to the forum to log bugs.
-thanks
-e

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d9d4670-d8f7-2c1a-b93c-2d260f32ab84
* Version Independent ID: 6756005b-8c21-9dac-3837-340b30565078
* Content:

[2018-09-20 15:04] AntonOfTheWoods opened #15357 "Chinese Simplified -> English"
Is there a plan for making zh-Hans to en available? This would be a killer feature for me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a50be1b-c4e0-6574-fdce-1a2431fef079
* Version Independent ID: 37e211dc-ea62-793c-4884-0f5460012830
* Content: [Word alignment information - Translator Text API](https://docs.microso

[2018-09-20 15:07] awcchungster commented on #15066
@Karishma-Tiwari-MSFT @TravisCragg-MSFT

Could we get this escalated for additional resource please? High Sierra has been out for over a year, and this is blocking me, potentially, will force me to move to AWS.

[2018-09-20 15:12] jordanmills opened #15358 ""External users" section is missing"
I've tried with a GA account and again after adding the guest inviter role.  There is no section for "External users" in this blade.  In its place is "Access panel" with nothing but a link for "Manage settings for access panel preview features" (which is empty too).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce8ef3

[2018-09-20 15:17] mjrousos commented on #15332
@JonasBr68, scaling in a Service Fabric cluster has two steps:

1. Deactivating the SF node so that code is no longer running on it, etc. (accomplished with `ClusterManager.DeactivateNodeAsync`)
2. Actually removing the VM instance from the underlying VM Scale Set (accomplished with `scaleSet.Update().WithCapacity`)

The reason we deactivate the most recently added node in step 1 is because there'

[2018-09-20 15:28] mcurko opened #15359 "Error in Update-AzureRmVmss"
Update-AzureRmVmss : On VM Scale Set 'myScaleSet', extension name 'customScript' cannot be used for more than one extension.
ErrorCode: BadRequest
ErrorMessage: On VM Scale Set 'myScaleSet', extension name 'customScript' cannot be used for more than one extension.
ErrorTarget:
StatusCode: 400
ReasonPhrase: Bad Request
OperationID : e343041c-ae74-4b31-ba47-822f84b74b3e
At line:1 char:1
+ Update-Azu

[2018-09-20 15:32] gogittossjx commented on #8669
Does anyone know how i would do go about getting handwritten text using the microfost.projectoxford library instead?

[2018-09-20 15:45] craigsmitham commented on #11168
That may work. We'll revisit our setup and see if there would be any potential issues with this approach.

[2018-09-20 15:45] #11168 closed

[2018-09-20 15:54] Adam-Smith-MSFT commented on #15058
@ajaguilar-viewnext Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-20 15:57] Adam-Smith-MSFT commented on #15328
@v-DavidTang Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-20 16:04] ratchetwrench opened #15360 "Dynamically Rename Columns"
How would you dynamically rename/map columns according to Azure Table data model convention, property key name should follow C# identifiers. Since we cannot guarantee the columns coming to us conform to the standard, or when we get new columns in, that it is automatically fixed.

Example:
column_1 (something_in_parens), column_2, ...
# goes through re.("[^a-zA-Z]") and is =returned as "column_1 so

[2018-09-20 16:06] Adam-Smith-MSFT commented on #15089
@wobblewobble , You are correct about the first point(You will lose data in the scenario you've described), so LRS is locally redundant, meaning, three copies of your data/vms are kept on the same data center, but on different clusters, GRS , is redundancy made on a paired region located hundreds of miles away, [This page ](https://docs.microsoft.com/en-us/azure/storage/common/storage-redundancy)

[2018-09-20 16:06] Adam-Smith-MSFT commented on #15104
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-20 16:06] #15104 closed

[2018-09-20 16:07] Adam-Smith-MSFT commented on #15135
@yzheng-msft Thanks for the reply, would it be possible to add it to the doc ?

Thanks,

[2018-09-20 16:08] jluk commented on #15145
PR has been opened on private repo, 52880. @SaurabhSharma-MSFT thanks please close as resolved.

[2018-09-20 16:08] Karishma-Tiwari-MSFT commented on #13348
@aryapankaj We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-20 16:08] #13348 closed

[2018-09-20 16:11] Dhugal opened #15361 "Account Used"
We're looking to use this to sync files from an external organisations server into an Azure File Share under one of our accounts/subscriptions. We don't want this third party to have any access over and above syncing files to this share. When we deploy the agent, if we sign in with one of our accounts, will the credentials be retained on the third party's server, or is some kind of token issued to

[2018-09-20 16:11] mike-urnun-msft commented on #14976
Hi @mganeshphani Thank you for your feedback. We are not able to share any specific timeline at this time on when Powershell may be going GA.

Because this doesn't address any specific content of this documentation, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-20 16:11] #14976 closed

[2018-09-20 16:15] Karishma-Tiwari-MSFT commented on #15240
@shethdharmin Did that explanation help? Any updates?

[2018-09-20 16:20] Karishma-Tiwari-MSFT commented on #15069
@kgopi05 Any update?

[2018-09-20 16:20] SaurabhSharma-MSFT commented on #15272
@JoeMcGrath The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2018-09-20 16:20] #15272 closed

[2018-09-20 16:26] roygara commented on #15328
@v-DavidTang Thanks for bringing this to our attention! We're looking into a resolution at the moment.

#in-progress

[2018-09-20 16:30] tobydrake7 commented on #15293
Thanks for your prompt response. Your suggested change looks good. That first sentence is the main thing to get across (ie, Red Hat now supports LVM for OS disks as well as data disks in Azure). If anyone from Red Hat has any further suggestions, I'll send them your way. Thanks again.

[2018-09-20 16:32] Karishma-Tiwari-MSFT commented on #15353
@stevozilik Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-20 16:36] cynthn commented on #15133
@rpmxappadmin thanks for the feedback! Here is a resource to use in the future: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/faq#what-are-the-username-requirements-when-creating-a-vm

[2018-09-20 16:37] Karishma-Tiwari-MSFT commented on #15298
@CESARDELATORRE Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-20 16:38] tfitzmac commented on #15333
@SychevIgor - thanks for this feedback. I tested your scenario and see the same result. I am trying to find more information about this behavior.

[2018-09-20 16:40] Neckross commented on #15138
@MarileeTurscak-MSFT - I found the solution. The problem was not the MFA Extension or NPS RADIUS server or AAD requesting re-authenticate every hour.... it was the VPN client solution. OpenVPN has a switch by default that's constantly re-authenticating every hour, made a simple modification to the OpenVPN  client and server and then never got MFA prompts to authenticate again... hopefully this hel

[2018-09-20 16:42] Mike-Ubezzi-MSFT commented on #15323
@nageshajab Thank you very much for the feedback! I will pass this along to the content author @wesmc7777.

[2018-09-20 16:44] Mike-Ubezzi-MSFT commented on #15352
@Szczechla Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-09-20 16:45] Alberto-Vega-MSFT commented on #15017
@ratchetwrench We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-20 16:45] #15017 closed

[2018-09-20 16:46] andretms commented on #15339
@MarkFD01 - you don't need to set a Redirect URI as long as your application registration information (which needs to be registered as a converged app in apps.dev.microsoft.com) has the following redirect URI: **urn:ietf:wg:oauth:2.0:oob**

[2018-09-20 16:46] badalk opened #15362 "Definition Location"
How is Definition Location different than assignment. Cant I create a policy and choose to apply it at different subscriptions (not necessarily through management group). If this is the case, can't i have a policy defined once and use it anywhere based on the assignment?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d

[2018-09-20 16:53] panchagnula commented on #13373
@johnpapa not sure if this item is to update az webapp up to change the default version for node as well. here is what we currenly use https://github.com/Azure/azure-cli-extensions/blob/master/src/webapp/azext_webapp/_constants.py#L6 ,
regarding the supported versions list - ideally we want to use the API to get the results, the API wasn't ready when we started working on this. However, the code l

[2018-09-20 16:54] Karishma-Tiwari-MSFT commented on #15318
@sanathkumarshetty Thanks for bringing this to our attention. I have created a pull request with the correct link: https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.security/get-credential?view=powershell-6
I will close this issue once the changes are merged.

[2018-09-20 16:55] Here-Be-Dragons commented on #14602
I am having this issue as well, with RHEL 7.4:
[code]

[2018-09-20 16:59] Karishma-Tiwari-MSFT commented on #15350
@Dhawal05 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-20 17:00] SychevIgor commented on #15333
@tfitzmac it will be nice to have this information in a guide. With my customer we agree, that we accept this behavior as is, but for a "future generations" it will right to document such behavior

[2018-09-20 17:03] Karishma-Tiwari-MSFT commented on #15359
@mcurko Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-20 17:10] Alberto-Vega-MSFT commented on #15360
@ratchetwrench Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-20 17:16] Grace-MacJones-MSFT commented on #15336
Hi @darteco, Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-20 17:18] Grace-MacJones-MSFT commented on #15337
Hi @andriysavin, Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-20 17:18] johnpapa commented on #13373
Ideally we'd be in sync on all products and docs and everywhere on the latest active lts for node.

but since @rloutlaw @simonaco and @btholt are working on this, I defer to them right now

[2018-09-20 17:20] femsulu commented on #15314
@prara06 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-09-20 17:26] MicahMcKittrick-MSFT commented on #15207
@badalk I will close this out out for now.

Please feel free to reach out to me offline if you have additional asks that the above links I provided are not helping on :)

[2018-09-20 17:26] #15207 closed

[2018-09-20 17:27] MicahMcKittrick-MSFT commented on #15239
Thanks @iainfoulds!

@redlumxn I will close for now. If you have additional questions just let us know and we can reopen and continue.

[2018-09-20 17:27] #15239 closed

[2018-09-20 17:29] MicahMcKittrick-MSFT commented on #15298
@CESARDELATORRE we do provide a link to the following in the doc:

https://github.com/helm/helm/blob/master/docs/install.md

Which has how to install on a Windows machine

![image](https://user-images.githubusercontent.com/32313503/45835871-182ac900-bcc0-11e8-9580-ba372c51fb34.png)

CC @iainfoulds if you have anything else to add.

[2018-09-20 17:31] mrbullwinkle commented on #15249
@sgalles Thank you for catching that issue in our docs. The fix addressing your issue should now be live. Thanks again for helping to improve our docs!

[2018-09-20 17:32] femsulu commented on #15315
@prara06 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2018-09-20 17:33] SaurabhSharma-MSFT commented on #15319
@inmishrar Please post this as a feedback https://feedback.azure.com/forums/169401-azure-active-directory This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2018-09-20 17:33] #15319 closed

[2018-09-20 17:36] SaurabhSharma-MSFT commented on #15320
@inmishrar Can you please share the link of the specific Microsoft document you are referring to ?

[2018-09-20 17:36] csuttman commented on #14497
Same here. The virtual IP is the same as my current IP which is the same one I've always had. Where and when are we supposed to get the new IP? If they are the same, does that mean it won't be changing? If so, then why the fear-mongering that it needs to be updated?

[2018-09-20 17:39] SaurabhSharma-MSFT commented on #15325
@hemanthraparthi Thanks for your feedback and glad to know that you are able to resolve it yourself.  Please feel free to open the issue if you need any further help.

[2018-09-20 17:39] kobulloc-MSFT commented on #15329
@spacecat Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-09-20 17:41] SaurabhSharma-MSFT commented on #15326
@hemanthraparthi Can you please provide the document link you are referring to here ?

[2018-09-20 17:42] danilo-nlima commented on #13282
Having exactly the same problem, Waiting for any workaround as well...

[2018-09-20 17:42] SaurabhSharma-MSFT commented on #15330
@2022551 Can you please provide you issue details and documentation link you are referring to ?

[2018-09-20 17:44] SaurabhSharma-MSFT commented on #15338
@MarkFD01 Thanks for your feedback and glad to know that you are able to resolve it yourself.

[2018-09-20 17:47] SaurabhSharma-MSFT commented on #13470
@DeanGross We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-20 17:47] #13470 closed

[2018-09-20 17:47] SaurabhSharma-MSFT commented on #14800
@v-videba  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-20 17:47] #14800 closed

[2018-09-20 17:48] Karishma-Tiwari-MSFT commented on #14602
@epnasis  Can you please retry and share the results, as there has been some updates to the extension. Also, please share which Linux distribution you used.
@sundaxi Can you please share which Linux distribution are you using? If RHEL 7, which version? for example RHEL 7.2, 7.6 etc
@Here-Be-Dragons Did you try it recently? I wanted to be sure as there has been some changes in extension in the past

[2018-09-20 17:49] MohitGargMSFT commented on #15144
@dimachernov As per the latest update there is internal call to Graph API which is failing and test is still investigating around it. Thanks.

[2018-09-20 17:51] Here-Be-Dragons commented on #14602
@Karishma-Tiwari-MSFT I am seeing this error after creating a new Virtual Machine last night.  As you can see in the previous terminal output, the error message was generated today.  For testing purposes I could destroy/recreate the Virtual Machine if you think that would be valuable.

[2018-09-20 17:52] Karishma-Tiwari-MSFT commented on #14602
@Here-Be-Dragons Thanks for sharing. I will share this our engineers and get back to you.

[2018-09-20 17:54] suamme1 opened #15364 "PowerShell Galley Link Broken"
It seems the link to the New-OnPremiseHybridWorker at PowerShell Gallery is incorrect. The correct link should be https://www.powershellgallery.com/packages/New-OnPremiseHybridWorker/1.5 or to use PowerShellGet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b29372c-7bd9-7da2-4cff-9afbb432bccf
* Version Independent ID

[2018-09-20 17:56] SaurabhSharma-MSFT commented on #15095
@TerryLanfear Thanks for your inputs
@mjcarrabine  I have started internal discussion over asctalk and update you here as soon as I hear back.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-20 17:56] #15095 closed

[2018-09-20 17:57] SaurabhSharma-MSFT commented on #15349
@EliWallic We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-20 17:57] #15349 closed

[2018-09-20 17:57] MicahMcKittrick-MSFT commented on #15353
@stevozilik do you have each service hosted in a separate Visual Studio project or are all 10 services part of the same VS solution?

[2018-09-20 17:58] MarileeTurscak-MSFT commented on #15255
The trust will be affected as noted here: https://technet.microsoft.com/en-us/library/mt779252(v=exchg.150).aspx#ReplaceExpired

"If the federation certificate has already expired, you need to remove all federated domains from the federation trust, and then remove and recreate the federation trust. "

This means that anyone logging in may also receive privacy and security errors when trying to SSO

[2018-09-20 18:07] Alberto-Vega-MSFT commented on #15356
@ericleigh007 We appreciate your feedback! The "Product Feedback"  button on the docs pages takes you to the UserVoice website. Currently you can send us feedback but also report bugs via UserVoice website or in the portal using the feedback button (smile) in the top bar in the portal. If you have any more  suggestions or if you would like to provide more details on what you are thinking we would

[2018-09-20 18:08] markolbert commented on #15118
I got an answer to the problem over at StackOverflow; check [this thread](https://stackoverflow.com/questions/52414716/azure-ad-b2c-microsoft-account-redirect-uri-failure).

In hindsight, I think the problem I had was that I was following documentation for using openid (?), not Azure AD B2C. The two look pretty similar, from an implementation point of view, to someone inexperienced with both.

But

[2018-09-20 18:08] #15118 closed

[2018-09-20 18:09] krokoko commented on #14965
Hello @sergaz-msft,

Here are the logs of the device when running the iothub_ll_telemetry_sample :

[code]
I added the following lines to print more logs in the example :
[code]

I replaced all the sensitive informations with XX values.
On the edgeHub side, when launching the example, i see a message printing :
[code]
The edgeHub doesn't print any error messages otherwise.

Thank you !

[2018-09-20 18:15] mike-urnun-msft commented on #15125
@ecfan We may have to add a callout text communicating this limitation.

[2018-09-20 18:17] ermacia91 opened #15365 "A couple notes on AD Connect prerequisites for HAADJ"
FTC here. It would be of value to include notes in our docs about some prerequisites that AD Connect needs to meet so HAADJ works as expected:
- The OU or group filtering must include the context of the machines to be HAADJ. We have encountered this issue were our customers are blocked because the OU is not selected. I know it is necessary that the objects to be synced must be included in the AD c

[2018-09-20 18:27] krokoko commented on #14965
Just to add :

The above logs appears when using HTTPS. Running with MQTT doesn't print any error log, but the message is not sent ```Confirmation callback received for message 1 with result IOTHUB_CLIENT_CONFIRMATION_BECAUSE_DESTROY``` at the end, and still the TLS handshake issue on edge device side.

[2018-09-20 18:29] iainfoulds commented on #15298
As @MicahMcKittrick-MSFT notes, and has been noted in previous closed issues, the intent of this doc is not to replicate the Helm docs for installation steps on different platforms. The `brew install` step was included as a quick nod to what's expected to be a common platform for target customers. This step will likely be removed soon and instead point off to the Helm docs for all installation ste

[2018-09-20 18:29] femsulu commented on #15334
@SychevIgor Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-09-20 18:36] hrushib commented on #15350
@Dhawal05, need some additional information. Is this cluster setup using self signed certificate? If so then what is the common name used to create this certificate. Is this certificate trusted on computer from where this script is run?

[2018-09-20 18:39] sgalles commented on #15249
Thank you for you quick answer and fix @mrbullwinkle and @kobulloc-MSFT

[2018-09-20 18:45] femsulu commented on #15340
@ediazrod Thanks for the comment. Your feedback has been shared with the content owner for further review.

[2018-09-20 18:46] sgalles commented on #15249
Ah, actually @mrbullwinkle you didn't move the `short form` information :
![image](https://user-images.githubusercontent.com/153065/45840022-2dcadd80-bd16-11e8-817f-fc8a9a9575af.png)

[2018-09-20 18:47] mrbullwinkle commented on #15249
One of those days, thank you...fixing now,

[2018-09-20 18:48] femsulu commented on #15341
@SychevIgor Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-09-20 18:49] mrbullwinkle commented on #15249
We locked publishing this morning for Ignite at 10 AM UTC, so I can put in a new PR, but it won't go-live for till the morning of Ignite next week. Thank you again for your diligence in confirming the change.

[2018-09-20 18:50] jason-j-MSFT commented on #15105
@sharonlo101 we have a report of an inconsistency with a time format, could you take a look?

[2018-09-20 18:50] femsulu commented on #15355
@Anmolgan81 thanks for the comment. Can you share the "dependency error" you are receiving?

[2018-09-20 18:52] jason-j-MSFT commented on #15109
@ratchetwrench could you ask your question here:
https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory

[2018-09-20 18:53] #15109 closed

[2018-09-20 18:55] Anmolgan81 commented on #15355
The Move resource referenced with one or more vms that are referenced by one or more VMs in request,This is not supported in Cross subscription move. Please Check the error details of the key vaultc

That was the error whiCH I am getting

[2018-09-20 18:55] jhueppauff commented on #15331
Ok, I will post the bug there then.
Thanks a lot.

[2018-09-20 18:56] #15331 closed

[2018-09-20 18:57] Anmolgan81 commented on #15355
I have only one VM that is encrypted with KEK and I am moving it with its key vault and all its networking cOmponeNts

[2018-09-20 19:00] MarileeTurscak-MSFT commented on #15138
@Neckross Awesome! Thanks for sharing that!

[2018-09-20 19:03] SaurabhSharma-MSFT commented on #15354
@smoms Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-20 19:05] SaurabhSharma-MSFT commented on #15186
@redacer1 I suggest you please open a new MSDN forum post with the details as this is not a documentation issue so that community can help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required.  Please provide the MSDN link over here so that I

[2018-09-20 19:05] MarileeTurscak-MSFT commented on #15138
Where is the setting for this?

[2018-09-20 19:08] badalk opened #15366 "Hands-on Lab"
The link next to this article pointing to hands-on lab does not work. It takes to the hands-on lab home page and when I filter based on the topic (Azure Policy) - it does not show any labs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4eb454e0-eb5c-3ed2-c276-b4e3f1bc0ebd
* Version Independent ID: 9cb7c2d2-ca6b-829a-40

[2018-09-20 19:12] jason-j-MSFT commented on #15112
@PabloDeCortes I see references to Log Analytics Powershell cmdlets which lead here:
https://docs.microsoft.com/en-us/powershell/module/azurerm.operationalinsights/?view=azurermps-6.8.1

I have not been able to get the 'Get-AzureRmOperationalInsightsSearchResults' cmdlet to work in my own testing:
https://docs.microsoft.com/en-us/powershell/module/azurerm.operationalinsights/Get-AzureRmOperational

[2018-09-20 19:12] #15112 closed

[2018-09-20 19:26] jeevansd commented on #6325
@chetansriv We did update the doc here right?

[2018-09-20 19:27] MohitGargMSFT commented on #15345
@Phydeauxman Thanks for your feedback! We will investigate and update soon on it.

[2018-09-20 19:28] MarileeTurscak-MSFT commented on #15347
@rogereriksen
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-20 19:29] MarileeTurscak-MSFT commented on #15358
@jordanmills
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-20 19:30] MarileeTurscak-MSFT commented on #15365
@ermacia91
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-20 19:33] chetansriv commented on #6325
@jeevansd yes, we discussed with freshdesk team and tutorial is updated with cert info. We can close this ticket.

[2018-09-20 19:35] wobblewobble commented on #15089
@Adam-Smith-MSFT

Thanks for taking the time to answer the questions and for the info.

[2018-09-20 19:35] #15089 closed

[2018-09-20 19:48] jeevansd commented on #6325
@GZer  We have already updated the instructions and tested the integration. So please follow the new steps to test the integration.
For now we will close this ticket.

[2018-09-20 19:48] jeevansd commented on #6325
#please-close

[2018-09-20 19:52] DCtheGeek commented on #15315
@prara06 - Thanks for the question! Azure Policy is for managing and enforcing compliance through a set of rules (policies). The rules are for the properties or state of Azure resources. While a **Deny** effect looks like it prevents an action, it doesn't directly.  It only prevents the action if the resource would be other than the rule.

To manage the actions of your users, take a look at [role-

[2018-09-20 19:52] btholt commented on #13373
If it's helpful to you all, I built [this endpoint](https://node-versions.azurewebsites.net/api/all) to get the current and the two LTS versions. I agree with John that we should always default to the latest LTS version, but we should support current and LTS.

[2018-09-20 19:53] #15315 closed

[2018-09-20 19:53] Adam-Smith-MSFT commented on #15254
@Baffour Unfortunately we don't have that feature yet, I've taken the feedback already to the product team, and would appreciate if you could post your feedback here: https://feedback.azure.com/forums/217298-storage
I'll follow up with the team again on this.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue

[2018-09-20 19:53] #15254 closed

[2018-09-20 20:03] DCtheGeek commented on #15340
@ediazrod - Thanks for the question! I'm looking into it with the team and will get back to you.

[2018-09-20 20:04] MarileeTurscak-MSFT commented on #15348
@freddyz2001
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-20 20:07] qJake opened #15367 "Missing information for option "Alias record set""
There is a new option when adding or editing a record set in Azure DNS called "Alias record set" with options "No" (default) and "Yes".

It is not clear what these do, nor does the Azure Portal provide any tip or help as to what it does.

Please update this page with information on this option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-09-20 20:07] iainfoulds commented on #14958
Sorry you ran into issues, @rizotas. Like @MicahMcKittrick-MSFT, this isn't behavior I've seen or has been previously reported, but I'll add in the `--namespace` parameter to the commands to be clear. You likely wouldn't deploy everything in to the `kube-system` namespace anyway, so it's valid to show it.

#in-progress

[2018-09-20 20:07] tapialuism opened #15368 "No result when performing "Test your scale set""
The IP did not resolve. I also tried to PING it and it dropped the packet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1954e40-761b-9aaa-47e4-66a4f906f60b
* Version Independent ID: b7456079-ba57-a969-42b4-0234c214cc07
* Content: [Tutorial - Create a virtual machine scale set for Windows in Azure](https://docs.micro

[2018-09-20 20:07] jeffwmiles commented on #15279
The tooltip found upon the Tier setting of a deployed Standard V2 or WAF V2 states "The Standard_v2 and WAF_v2 tiers support availability zones. Changing from the WAF_v2 tier to the Standard_v2 tier is not supported."

So at a minimum, this is the change in V2; hopefully from a WAF perspective, there are more features involving additional intelligence and vulnerability updates beyond the static OW

[2018-09-20 20:09] MohitGargMSFT commented on #15178
@kumaarrahul We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-09-20 20:09] #15178 closed

[2018-09-20 20:09] Alberto-Vega-MSFT commented on #15313
Hi @RoopAnymous, I'm sorry to hear that you are having this issue. Question: Do all the Copy Activities have the same source-sink combination? For the title of your thread it seems like all are from Azure Table to Data Lake Store V1 according to the Performance Reference the throughput is 2 MBps per second. Please check this [Performance Reference](https://docs.microsoft.com/en-us/azure/data-facto

[2018-09-20 20:09] MohitGargMSFT commented on #15288
@akx Please let us know if you have any further query in this regard else we will move ahead to close this issue. Thanks.

[2018-09-20 20:09] softwarecraft opened #15369 "When will Backup for Azure File Shares be GA?"
This doc page was last updated in March 2018, six months ago, that is a long time for the feature to be in preview with no announcement for GA. I googled around but couldn't find an update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61c0f8e6-5a57-58aa-ecd6-2bf83809c44d
* Version Independent ID: ee8b8f60-bffd-e6ec-5

[2018-09-20 20:11] DCtheGeek commented on #15366
@badalk - Thank you so much for letting us know!  I actually noticed this yesterday and hoped I'd fix it before someone spotted it, but nice eagle eyes. :)  The fix for this is already in flight and should go live on Monday.  Very much appreciate the notification and if you find anything else, let us know!

@MicrosoftDocs/azure-cxp-triage Please label this as 'doc-bug', assign to me, and #please-c

[2018-09-20 20:14] akx commented on #15288
Well, I do think the REST API parameter should be described here, not just hidden away in the docs for one of the client libraries using the API.

[2018-09-20 20:14] vasivara-MSFT commented on #15366
@badalk We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-20 20:14] #15366 closed

[2018-09-20 20:14] wesmc7777 commented on #15323
@nageshajab Excellent! I'm glad the article was helpful, and thank you very much for letting me know. We don't often get positive article feedback to help us learn when expectations are met.  I hope your project goes very well!

[2018-09-20 20:19] skillriver opened #15370 "Cannot edit or update article"
Hi, I'm trying to edit and update this article, but every time I try to send in the update in GitHub, I get an error with error code 500 and the message that something went wrong.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 791cb6b6-4733-1c1d-75c5-9318049163af
* Version Independent ID: 4752b0bc-ab61-69e3-972f-80d6be

[2018-09-20 20:20] MarileeTurscak-MSFT commented on #15348
I think maybe it is supposed to be this link: https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/whats-new

I have assigned to the content author @eross-msft to look into this.

[2018-09-20 20:33] MohitGargMSFT commented on #15345
@Phydeauxman Please note that under Audit Logs section in your tenant, you can filter logs using Target i.e. upn. There is no option to filter by domain. Please provide more information on where you are inserting tenant domain and which URL you are referring here which is giving 401 error.

Thanks for reporting regarding the link redirecting to same article. Once, I help you on above query I will

[2018-09-20 20:36] jerbro commented on #14497
Same situation for me - the virtual IP is the same as my current IP; the same one I've had since I added that App Service.  I fall under option 3, but no change is evidently necessary?

[2018-09-20 20:39] tapialuism commented on #15368
Let me know if the JSON schema will help.

[2018-09-20 20:40] DCtheGeek commented on #15314
@prara06 - Thanks for the question! You are already on the right path by grouping the policies into an initiative. Since an assignment can only be to a single subscription, you have two options: Create an assignment to each subscription as you mention or create a single assignment to an appropriate management group. This is assuming that each subscription needs the same parameters on the initiativ

[2018-09-20 20:44] Karishma-Tiwari-MSFT commented on #14602
@epnasis @sundaxi @Here-Be-Dragons I need more info on how you created the VM, did you use Azure Resource manager?
http://169.254.169.254/ is the metadata service implemented by the VM host. It should exit for all VM hosted by Azure. [Azure's Instance Metadata Service](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/instance-metadata-service) is a REST Endpoint accessible to IaaS VMs

[2018-09-20 20:48] jeffbearer opened #15372 "Confusing Typo"
step 2 under Add the Kubernetes Cluster to the marketplace is says Add Services,  it should be All Services.

Also I missed the private preview notice. so when I couldn't find Kubernetes Cluster in the marketplace.  maybe a not there when the user does not see expected results would be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-09-20 20:49] jason-j-MSFT commented on #15122
@MGoedtel in my own installation I see that some of these paths/filenames are not correct, could you take a look?

[2018-09-20 20:55] YutongTie-MSFT commented on #15357
@AntonOfTheWoods Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@Jann-Skotdal Hi, do you have any idea about the issue? Thanks!

[2018-09-20 20:57] #15314 closed

[2018-09-20 20:57] YutongTie-MSFT commented on #15346
@prwani-microsoft Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@PanosPeriorellis Hi, can you please update the document? Thanks a lot!

[2018-09-20 20:58] epnasis commented on #14602
NAME="Red Hat Enterprise Linux Server"
VERSION="7.5 (Maipo)"

hope it helps!
epnasis

[2018-09-20 20:58] Alberto-Vega-MSFT commented on #15006
@mrdisley Thanks for the feedback! This is not currently supported. Can you post this as a feedback @ [Data Factory UserVoice](https://feedback.azure.com/forums/270578-data-factory) This will allow the community to upvote and for the product team to include into their plans.
We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2018-09-20 20:58] YutongTie-MSFT commented on #15335
@crk4 Glad to see you like our document!

@zhouwangzw Thanks for your effort to the document!

[2018-09-20 20:58] #15335 closed

[2018-09-20 20:59] Karishma-Tiwari-MSFT commented on #15133
@rpmxappadmin When I try to create a VM and enter anything longer than 15 characters long in the 'Virtual Machines Name' and click on the textbox, I see the following tooltips regarding the requirements for VM name :

![image](https://user-images.githubusercontent.com/20851144/45846596-11f71580-bcdd-11e8-87be-5586369ff2c3.png)

And this:

![image](https://user-images.githubusercontent.com/20851144

[2018-09-20 21:00] curtand commented on #14621
Hi @Kazzan

You can't remove a user manually from a dynamic group. That's not how they work. The only way to do it is to change the rule or change the user's attributes such that they no longer match the criteria for group membership. I'll add a line in the dynamic groups article that says this specifically.

@MohitGargMSFT

[2018-09-20 21:08] cap273 opened #15373 "Minor Spelling Mistake"
Ff we have 2 NSGs enabled and configured to send NSG flow logs to this account, then the past 25 hours of logs can be viewed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d1e255c-292c-4128-5279-e89e4219e5ee
* Version Independent ID: 407f24da-c012-0b9c-0ef7-ac47bb49d735
* Content: [Visualizing Azure Network Security

[2018-09-20 21:10] epnasis commented on #14602
I reinstalled extnesion - same issue :(

epnasis

[2018-09-20 21:11] Karishma-Tiwari-MSFT commented on #14602
@epnasis I need more info on how you created the VM, did you use Azure Resource manager?

[2018-09-20 21:14] jeffbearer opened #15374 "Searching Azure for UbuntuServer"
If you search for UbuntuServer as quoted it finds nothing.  if you search for Ubuntu Server you get several items one of which is Ubuntu Server 16.04 LTS however it's version is 16.04.201808140.   The note says that Kubernetes requires exactly the version 16.04.201802220 but it is not listed here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2018-09-20 21:15] TravisCragg-MSFT commented on #15131
After diving into this, the abnormal time was due to a browser caching issue and how the endpoint was being tested. The failover was occurring as expected, and in a reasonable amount of time.

[2018-09-20 21:15] jeffbearer commented on #15374
Similar thing for Custom Script for Linux.  it says the version must be 2.0.3 but the only one offered today is 2.0.6

[2018-09-20 21:21] rojasja opened #15375 "When an API requires the access token to be sent in the Authorization HTTP header."
When an API requires the access token to be sent in the Authorization HTTP header.

By default, Azure AD B2C sends the access token in the query string, so you must add the BearerTokenTransmissionMethod metadata item to the technical profile if you want the token to be passed in the HTTP header.

&lt;TechnicalProfile Id="MyRESTAPI-OAUTH"&gt;
  &lt;Metadata&gt;
    &lt;Item Key="BearerTokenTransmis

[2018-09-20 21:40] SaurabhSharma-MSFT commented on #15277
@mjcarrabine Azure Firewall is currently in preview mode and it may not have all the capabilities as compared to Next-generation firewall.  Also, Azure Firewall is currently recommended not to use for production workloads. You may have to go for a next generation firewall from a Microsoft partner.

[2018-09-20 21:45] SaurabhSharma-MSFT commented on #15316
@andrewatfornax Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-09-20 21:50] DCtheGeek commented on #15362
@badalk - Thanks for the question!  Let's see if I can help clear things up.

**Definition location** - This is where you 'store' the policy (or initiative) definition. It can be in a subscription or at a management group. In order to be _assigned_ to a resource (management group / subscription / resource group), that resource must be within the _scope_ of the definition location. Here are two exa

[2018-09-20 21:54] MGoedtel commented on #15122
@jason-j-MSFT - I will bug this and take a look into this as soon as I can.  It's more than likely things have changed and I need to discuss with engineering in order to properly update this article.  #please-close

[2018-09-20 21:55] eross-msft commented on #15348
@freddyz2001 Thank you for catching this, I've updated the link and it will go live on Monday. In the meantime, if you want to use this URL in your RSS Feed Reader, it should work: https://docs.microsoft.com/api/search/rss?search=%22whats%20new%20in%20azure%20active%20directory%22&locale=en-us/

@MarileeTurscak-MSFT  #please-close

[2018-09-20 21:58] mikaelsnavy commented on #14670
@danimir Any idea when this will be out of preview?

[2018-09-20 21:58] mattbriggs commented on #15374
@jeffbearer Thanks for your feedback. The content has been updated and will be posted Monday morning. Thanks for letting me know. #please-close

[2018-09-20 22:26] Karishma-Tiwari-MSFT commented on #15133
@rpmxappadmin Can you please confirm that while connecting to VM, you typed the username in this format: **vmname\username**?

While creating a VM on Azure portal, the username requirement is 1 to 32 characters long. That's why you did not get any error while VM creating using username "RpmxAdministrator".

![image](https://user-images.githubusercontent.com/20851144/45849916-c9ddf000-bce8-11e8-86f

[2018-09-20 22:27] mamccrea commented on #14933
Thanks for your contribution! The typo has been fixed. #please-close

[2018-09-20 22:33] jason-j-MSFT commented on #15122
@structre40 thanks for the catch, we are closing this issue.

[2018-09-20 22:33] #15122 closed

[2018-09-20 22:46] Alberto-Vega-MSFT commented on #15360
Hi @ratchetwrench, This question is a good candidate for the forums. I recommend you to post a question on StackOverflow providing more details on your specific scenario like data source, data sync and schema example and column names.

[2018-09-20 22:54] femsulu commented on #15364
@suamme1 thanks for bringing this to our attention. Will work with the content owner to resolve.

@georgewallace Happy to initiate a PR to fix this. also found [this link](https://www.powershellgallery.com/packages/New-OnPremiseHybridWorker/1.5/Content/New-OnPremiseHybridWorker.ps1) as a more appropriate replacement. can you confirm?

[2018-09-20 23:03] Adam-Smith-MSFT commented on #15369
@softwarecraft Thanks for asking, I personally don't have an official ETA, but I assigned the issue to the author in case if they have an update.

[2018-09-20 23:04] Adam-Smith-MSFT commented on #15361
@Dhugal Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-20 23:10] #15298 closed

[2018-09-20 23:39] MohitGargMSFT commented on #15370
@skillriver Strange. I see no such issue at my end. Please let us know what are your recommendations around the content of the document and we will work on it.

[2018-09-20 23:41] MohitGargMSFT commented on #15375
@rojasja Thanks for your feedback! We will investigate and update soon on it.

[2018-09-20 23:43] TravisCragg-MSFT commented on #15367
@qJake Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-20 23:46] xurui203 commented on #14973
@kevinfms01 Thank you for your question! Could you help elaborate on what you mean by replay Capture events? After data is streamed into your event hub and Captured as Avro files to a storage location, the data stream is still retained within your event hub accordingly to your retention policy and can be read by other subscribers who wish to read the events. You can also process your Captured Avro

[2018-09-20 23:47] TravisCragg-MSFT commented on #15372
@jeffbearer Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@mattbriggs it looks like this is already fixed on the pr, otherwise I would push this myself.

[2018-09-20 23:48] MohitGargMSFT commented on #15375
@rojasja Please post this as a feedback @ https://feedback.azure.com/forums/169401-azure-active-directory This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2018-09-20 23:52] TravisCragg-MSFT commented on #15374
@jeffbearer We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-20 23:52] #15374 closed

[2018-09-20 23:58] dcbrown16 opened #15377 "What is a "node migration"?"
The table under "Impact to drive data during Cloud Service upgrades" has helpful information about what happens to data on a cloud service, but I can't find any explanation of when these various types of upgrades occur.
In particular, the loss of all drives in a node migration seems like a critically important situation to be aware of. Is this something that can occur automatically?
I'm assuming t

[2018-09-21 00:03] MarileeTurscak-MSFT commented on #15264
@fakhrulhilal Thanks for your feedback! May I suggest you add this in Azure Feedback so that we can update the product team on this? I can also escalate this to the PG if you link the summary here. https://feedback.azure.com/forums/169401-azure-active-directory?category_id=160602

[2018-09-21 00:04] MarileeTurscak-MSFT commented on #15264
I'm closing this out for now but if you would like to continue the discussion, please leave a comment and I will gladly reply.

[2018-09-21 00:04] #15264 closed

[2018-09-21 00:13] TravisCragg-MSFT commented on #15261
@chaiyuxiao P2S gateways do give a new address when you connect every time.

If you are interested in azure supporting custom routes on P2S VPNs, please [leave your feedback Here](https://feedback.azure.com/forums/217313-networking/suggestions/13277736-specify-custom-routes-for-p2s-vpn)

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me i

[2018-09-21 00:13] #15261 closed

[2018-09-21 00:19] binoyjt opened #15378 "Incorrect Data in the Document Compared to what is seen in the portal"
Hi,
The table that describes the types of storage accounts and their capabilities has got conflicting Information. The Replication options seem to be incorrect when compared to the portal. The V2 type lists LRS, ZRS, GRS and RA-GRS, but the portal does not show ZRS. Now if we use a Region that does have availability zones (eg:- Central US), it does list.
For the V1 Type Storage account, the docume

[2018-09-21 00:20] binoyjt opened #15379 "Incorrect Date in the Doc Compared to what is seen in the portal"
Hi,
The table that describes the types of storage accounts and their capabilities has got conflicting Information. The Replication options seem to be incorrect when compared to the portal. The V2 type lists LRS, ZRS, GRS and RA-GRS, but the portal does not show ZRS. Now if we use a Region that does have availability zones (eg:- Central US), it does list.
For the V1 Type Storage account, the docume

[2018-09-21 00:22] Karishma-Tiwari-MSFT commented on #15069
@kgopi05 We will close this issue for now. Whenever you are ready, please reopen it and share your findings. We will gladly continue the discussion.

[2018-09-21 00:22] #15069 closed

[2018-09-21 00:24] MarileeTurscak-MSFT commented on #15358
It's there in my tenant. Go to Azure Active Directory > User Settings > External Users (Manage external user collaboration settings)

![image](https://user-images.githubusercontent.com/13383753/45853301-51335f80-bcf9-11e8-987c-6faad1005f7c.png)

![image](https://user-images.githubusercontent.com/13383753/45853313-5ee8e500-bcf9-11e8-8c9a-a6d70b67ce86.png)

It looks like the UI may have been updated

[2018-09-21 00:31] rolyon commented on #15370
Hi @skillriver
Yes, let us know if you are still encountering issues. Also, let us know if you want me to incorporate your recommendations.
thanks

[2018-09-21 01:10] KingdomOfEnds opened #15384 "URL's not rendering"
Two URL's are not rendering correctly . I pre-emptively created a PR for this: https://github.com/MicrosoftDocs/azure-docs-pr/pull/53013. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2535ccd-140c-9935-352e-6574208f3c6b
* Version Independent ID: 6e0b0906-7100-48ee-5980-9cb1c9ad59cb
* Content: [Tutorial: Creat

[2018-09-21 01:14] femsulu commented on #15355
@Anmolgan81 thanks for the update. I will test this in my lab and get back to you in the next 24hrs.
Quick follow up question, is there more to this error msg you shared "**Please Check the error details of the key vaultc**"? did you check the error details of the key vault

[2018-09-21 01:20] jason-j-MSFT commented on #15196
@franelj no, this is not a supported feature at this time, but please leave your feedback here:
https://feedback.azure.com/forums/270578-data-factory

[2018-09-21 01:20] #15196 closed

[2018-09-21 01:34] chriskuech commented on #10240
A Visual Studio quickstart is basically useless, as it has to be completely overhauled when integrating into a CICD pipeline; in contrast, PowerShell works both locally and from a CICD pipeline.  All the Service Fabric documentation is extremely difficult to decipher, as each page chooses a random vector from {Linux, Windows} X {Stateless, Stateful} X {Container, Guest Exe} X {Visual Studio, sfctl

[2018-09-21 01:38] vchandm23 commented on #14465
PARAMETER Issues that I landed into
1. Where is the Parameter Tab?  (Section - Create a Pipeline | Step 15 is misleading ) unable to enter @{item().TableType} under SINK TAB and / or PARAMETER tab? THERE IS NO PARAMETER TAB. Need to be fixed.

[2018-09-21 01:45] dcbrown16 commented on #15377
There is some more information on these blogs that seems to have informed this document.
https://blogs.msdn.microsoft.com/kwill/2016/03/08/paas-cloud-service-role-restart-scenarios/
https://blogs.msdn.microsoft.com/kwill/2012/10/05/windows-azure-disk-partition-preservation/

There isn't a lot of clarity in these documents regarding how cloud services actually work and the best way to persist files

[2018-09-21 01:49] andrewatfornax opened #15386 ""No recent data" troubleshooting"
Currently, I have a number of VMs that report "No recent data". This is not an error listed above, and so it is not clear how to troubleshoot this issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8bd031e3-d36b-dae2-1ddc-f12439563545
* Version Independent ID: 836c4826-05c8-3af8-30e8-ff67552ea958
* Content: [Azure S

[2018-09-21 02:03] EmmaZhu commented on #15328
@v-DavidTang
AzCopy 8.1.0 is built against .Net Core. There's a known issue in .Net Core's building tool that it doesn't set version info in the exe binary. The version info is set in AzCopy.dll. Is it OK for you to try to get version info from AzCopy.dll?

AzCopy ~7.* doesn't have this issue.

[2018-09-21 02:09] vchandm23 commented on #14465
1. Where is the Parameter Tab?  (Section - Create a Pipeline | Step 15 is misleading ) unable to enter @{item().TableType}  as there is no PARAMETER tab.This can be found in the SINK tab itself.

Please update the doc as mentioned above

[2018-09-21 02:17] hei9gag opened #15387 "Support Mandarin?"
In the language support table, only English supports acoustic adaptation.
However, I can select zh-CH locale in custom speech portal -&gt; adaptation data. Does it mean Mandarin also support acoustic adaptation? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50d8bb98-fbcd-7562-99ed-54211fd9afd3
* Version Indepe

[2018-09-21 02:32] blueww commented on #15328
@v-DavidTang

To make the script works before the version issue is fixed, do you mind to change the script by:
change the 2 places of:
[code]

to:
[code]

I have tested this works on my machine.

[2018-09-21 02:43] jason-j-MSFT commented on #15146
@irgnosis what step are you seeing this error?

[2018-09-21 03:32] KAIZAAA opened #15389 "GOOD"
GOOD

---
#### รายละเอียดเอกสาร

⚠ *อย่าแก้ไขส่วนนี้ กำหนดให้ต้องจัดทำ docs.microsoft.com ➟ การเชื่อมโยงปัญหา GitHub*

* ID: 3b0550e7-e5e2-69d1-03a8-f678c3fe0eee
* Version Independent ID: 877db3da-b145-7bfd-3544-30a420de7d13
* Content: [Get started with the Microsoft Authenticator app - Azure Active Directory](https://docs.microsoft.com/th-th/azure/active-directory/user-help/microsoft-authenticato

[2018-09-21 03:36] georgewallace commented on #14980
@femsulu please assign this issue to me and close. I have signed off on the PR @kiazhi submitted.  @kiazhi Thanks for submitting the PR, we will make sure this gets merged on Monday.

[2018-09-21 03:58] georgewallace commented on #15181
@RyanLWilliams Thanks for reaching out.. I have tested the deployment multiple times against a few subscriptions and I am not having any issues deploying the solution.  There are two parts to the deployment, alert creation and then all the automation account tasks.
![image](https://user-images.githubusercontent.com/6796566/45859546-c7df5580-bd17-11e8-844a-ed0319857ccf.png)

One way to see where th

[2018-09-21 04:11] rodneyjoyce commented on #6800
I am also looking for this - I am using bash with az commands on a mac.

[2018-09-21 04:30] markolbert commented on #15142
I realize this item is closed. But in case anyone else runs into a similar problem, I was given a solution on Stack Overflow. You can read about it [here](https://stackoverflow.com/questions/52414716/azure-ad-b2c-microsoft-account-redirect-uri-failure).

I also wrote a piece describing why I think I ran into the problem. You can find that [here](https://jumpforjoysoftware.com/2018/09/azure-ad-b2c-

[2018-09-21 04:32] markolbert commented on #14801
I realize this item is closed. But in case anyone else runs into a similar problem, I was given a solution on Stack Overflow. You can read about it [here](https://stackoverflow.com/questions/52414716/azure-ad-b2c-microsoft-account-redirect-uri-failure).

I also wrote a piece describing why I think I ran into the problem. You can find that [here](https://jumpforjoysoftware.com/2018/09/azure-ad-b2c-

[2018-09-21 04:36] yyukif opened #15391 "Please modify sample script"
There is a typo in Configure relying party on existing AD FS deployment (account STS) step.1
Double quote is required here.
- Error       c:[Type ==  http://schemas.microsoft.com/ws/2008/06/identity/claims/windowsaccountname]
- Correct  c:[Type == “http://schemas.microsoft.com/ws/2008/06/identity/claims/windowsaccountname”]
---
@RuleTemplate = "PassThroughClaims"
@RuleName = "Pass through all wind

[2018-09-21 04:38] femsulu commented on #15061
@johndowns still investigating but one quick note...

Apologies if I missed this in your template but noticed it doesnt inlcude an object definition as stated in the [sample template](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-template-functions-resource#list) referenced below. An object needs to be passed to the listAccountSas function in order to retrieve the SA

[2018-09-21 04:42] femsulu commented on #14980
assigned and closed as requested.

[2018-09-21 04:42] #14980 closed

[2018-09-21 05:03] mike-urnun-msft commented on #14979
Hi @Morgma Thank you for your feedback! I went through the steps detailed in this documentation and didn't encounter any issues. Because this channel is for driving improvements towards quality of MS Docs, we will now proceed to close this thread. If there are further questions regarding specific details on this documentation, please reopen it and we will gladly continue the discussion.

For the p

[2018-09-21 05:27] kazshi opened #15392 "Cloud Service upgrades impact"
I assume the [Updates](https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-update-azure-service#impact-to-drive-data-during-cloud-service-upgrades) are different from the Planned Maintenance events, however looks like the Cloud Service upgrades (Portal reimage for example - I believe it's done for upgrading OS) would be done by Azure silently, and it impacts to Cloud Services in t

[2018-09-21 05:30] djpirra opened #15393 "Does the gateway works with B2B?"
Does it work and how to use it for example to setup RLS on Analysis Services on premise?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b6e437d-7325-8f97-7d23-27f82cb1113b
* Version Independent ID: 02e16c34-93d2-fe96-c724-33b2b62f0393
* Content: [On-premises data gateway](https://docs.microsoft.com/en-us/az

[2018-09-21 05:53] dcbrown16 opened #15394 "Correct version of this doc?"
What's the status between this doc (https://docs.microsoft.com/en-us/azure/application-gateway/waf-overview) and the doc below, which is only accessible from web searches and not from the navigation?
https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-web-application-firewall-overview
The only change I could find is that this doc (that I am posting feedback on) has an ol

[2018-09-21 06:00] dcbrown16 commented on #15394
On closer inspection, this doc is actually newer, but the date is wrong, and now I'm not sure which description of Security Center is correct, but I'll assume it's the one in this doc?

[2018-09-21 06:08] bramvdklinkenberg commented on #10495
Hi @MicahMcKittrick-MSFT , sorry for the delayed reply. Like @timwebster9 says I don't want to be creating kubeconfig files for service accounts manually and storing/saving those. The ease of the az cli and using a service principal takes all that away.

[2018-09-21 06:18] EliWallic opened #15395 "AzS Hotfix - 1.1808.1.99 PreparationFailed"
Should hotfixes work on ASDK?

{"id":"/subscriptions/12141c6f-0dc6-4025-80a4-59618d0582e4/resourceGroups/system.local/providers/Microsoft.Update.Admin/updateLocations/local/updates/Microsoft1.1808.1.99/updateRuns/5ede9603-27d2-46c3-9c8e-45674afc0434","name":"local/Microsoft1.1808.1.99/5ede9603-27d2-46c3-9c8e-45674afc0434","type":"Microsoft.Update.Admin/updateLocations/updates/updateRuns","location

[2018-09-21 06:29] lukdlu commented on #8961
Little bit of background: I've created a vm from windows marketplace image > created a custom image from it > created a vm from the custom image > and then I try to create another custom image

[2018-09-21 06:47] mcurko opened #15397 "Example doesn't work"
Although the autoscaling rules seem to be well written, they don't work. After aplying them I can see in the Azure portal that the resulting rules have "Operator" set to "Equal", whilethe "Operation" is unset (you have to edit the rule to see this, on the summary screen you'll see "Decrease instance count by").

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2018-09-21 07:04] #14933 closed

[2018-09-21 08:30] vetrivelmp opened #15398 "How to bulk update for only given documents"
Hello All,

https://docs.microsoft.com/en-us/azure/cosmos-db/bulk-executor-dot-net#bulk-update-data-in-azure-cosmos-db

From above URL, I saw how to update all documents in cosmos DB. But I have to update only list of documents which i gave as input to bulkExecutor.BulkUpdateAsync.

So i am interested in updating only given documents not for all documents. is it possible?

---
#### Document Detail

[2018-09-21 08:37] mrdisley commented on #15006
Thanks for the response Alberto, will post on the feedback page

[2018-09-21 08:50] Anmolgan81 opened #15399 "Virtual Machines with certificate stored in Key Vault can be moved across subscription as well"
I havE tried this in one of my csp migration and key vault does moves please test this and edit the documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move Azure resources to new subscription or res

[2018-09-21 08:51] Anmolgan81 opened #15400 "What if VMs purchased from markEtplace built in CSP and CSP does not support creation of that vm"
does the license works in this case??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move Azure resources to new subscription or resource group](https://docs.microsoft.com/en-us/azure/azure-resource-manager/r

[2018-09-21 08:52] astaykov opened #15401 "Missing replyUrls important information"
Hi,

the property `replyUrls` is missing the very important requirement that any reply URL which is *not* `localhost` shall use the `HTTPS` URI scheme.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f7ced07-0b71-715f-749b-180567591c72
* Version Independent ID: 8c533d7b-a058-3f1a-c296-9c0305f85f13
* Content: [Understan

[2018-09-21 08:56] skillriver commented on #15370
Hi, yes I'm still having issues. To reproduce I do this:
* Click on Edit in the docs article
* Click edit file in GitHub
* Make changes in the file
* Provide a description under propose file change
* And the click on Propose file change
* After working a little while, the page returns a 500 error.

I'm following the steps exactly like here: https://docs.microsoft.com/en-us/contribute/

[2018-09-21 08:59] sennendoko opened #15402 "Awkward wording"
"As a natively born in the cloud service, ...". I couldn't figure out what this meant because I read "cloud service" as a compound noun, then wondered what a "natively born" is. Then I realised you mean "As a [natively born in the cloud] service". It would be clearer to say "As a native cloud service" or "As a service native to the cloud".

---
#### Document Details

⚠ *Do not edit this section. I

[2018-09-21 09:02] skillriver commented on #15370
The changes I recommend to the article is to update the list over Privileged Roles that cannot be disabled for MFA activation to this list, which is in line with the current settings in the Azure AD portal and PIM blade:

  * Billing administrator
  * Cloud Application administrator
  * Compliance administrator
  * CRM service administrator
  * Customer LockBox access approver
  * Directory writer

[2018-09-21 09:06] sennendoko opened #15403 "Broken link to Python library"
The "Python library" link http://azure.github.io/azure-documentdb-python/ gives a 404. Should it be https://github.com/Azure/azure-cosmos-python?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08a28907-0d48-5496-d488-ed7d0139f5f1
* Version Independent ID: f99eabd7-92df-cc3c-9750-1f777b0f1def
* Content: [Azure Cosmos DB

[2018-09-21 09:06] CastleArg commented on #6764
In the Publish portal there is a "Widgets" section where you can change things like the main header content.  I still can't find how to change the "API Documentation" and "Developer Support" text on the home page...

[2018-09-21 09:27] MetehanBolat opened #15404 "Configuring a Custom SSL Policy"
Please try to apply the example on this documentation.
It used to work just fine, as long as you included one of the 6 suites listed in the Important Note section.
However, ever since this feature is added to UI, you no longer can remove this suite from your list.
TLS_RSA_WITH_AES_256_CBC_SHA256
and if you try to do it with powershell.
Set-AzureRmApplicationGateway : An error occurred.

This seems

[2018-09-21 09:58] sennendoko opened #15405 "Instructions not working"
I selected Python 3.5 (there were no Python 2 interpreters available), and got as far as "In Solution Explorer, right-click env and click Install from requirements.txt.". However I then got

Collecting flask==0.9 (from -r c:\users\XXX\Source\Repos\tutorial\tutorial\requirements.txt (line 1))
  Downloading https://files.pythonhosted.org/packages/49/0a/fe5021b35436202d3d4225a766f3bdc7fb51521ad89e73c

[2018-09-21 10:07] Madrawn opened #15406 "Step 7 Fails with "500 Server Error: Internal Server Error for url: http+docker://...""
All the steps before went fine. I tried with "az ml service create realtime --image-id &lt;image id&gt; -n &lt;service name&gt;"
and with
"az ml service create realtime --model-file [model file/folder path] -f [scoring file e.g. score.py] -n [your service name] -s [schema file e.g. service_schema.json] -r [runtime for the Docker container e.g. spark-py or python] -c [conda dependencies file for ad

[2018-09-21 10:38] amalik99 opened #15407 "Deleting Deployment Info of PID Deployment resource"
Article: https://docs.microsoft.com/en-us/azure/marketplace/azure-partner-customer-usage-attribution

We're doing this by using ARM templates when we deploy the template we see that a deployment resource is created in Azure portal deployment page inside the RG. We follow a practice of deleting the deployment info after deployments, so wanted to understand the impact of deleting the pid-GUID resour

[2018-09-21 10:40] rifaterdemsahin opened #15408 "When are going to get the ASE terraform environment plan"
We are waiting for it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb26c6d6-dfeb-fc3d-b511-a0677abdcb44
* Version Independent ID: be6048bf-bf9b-9e48-f24a-9e3df8141013
* Content: [Plan Azure virtual networks](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-vnet-plan-design-arm)
* Content Source:

[2018-09-21 10:41] goluhaque commented on #15161
Any updates on this?

[2018-09-21 10:43] georgenica commented on #8034
@BryanTrach-MSFT Do wildcard certificates also cover apex/root domains? I would like to purchase a single certificate and then be able to secure multiple subdomains / DNS entries with it. Thanks!

[2018-09-21 10:55] SarithaMaran opened #15409 "EdgeHub not working after some time"
# EdgeHub not stable

EdgeHub is not working properly if we keep the modules running for more than a day.

## Modules description

I have a edge device with 4 modules

-  (1) A custom C# code (Generates some data similar to tempsensor)
-  (2) A custom C# code (Filters)
-  (3) Azure function C# code (Calculates something)
-  (4) ASA module (compares values of current and previous data)

The first m

[2018-09-21 10:57] SarithaMaran commented on #15409
What should be done to make the edgeHub stable? I am facing this problem in linux-x86 as well as arm32v7.

[2018-09-21 11:03] SarithaMaran commented on #15409
And also I have noticed that sometimes the inter-module communication is proper. The modules work fine but no data could be sent to upstream i.e(IotHub)

[2018-09-21 11:03] rifaterdemsahin commented on #13943
thanks that is a workaround for us

[2018-09-21 11:06] spacecat opened #15410 "Demo/documentation for Ingress and TLS for two Razor Pages applications needed"
I've followed the tutorial and everything works as expected.

The tutorial only talks about the very simple azure-samples/aks-helloworld demo application however.

How do I accomplish the same result for two ASP.NET Core 2.1 Razor Pages applications? This does not seem to be possible using the above configuration.

One side-effect is broken links for the second app with the /my-second-app path in

[2018-09-21 11:18] spacecat commented on #15329
My Git comment I think is no longer valid. Because I compared two projects/Dockerfiles, one generated by Docker tools and the other one with Kubernetes tools. I think one or at most two lines differ. I remeber one file had some environment variable as the project name or something and the other one didn't.

[2018-09-21 11:37] prafullkotecha opened #15411 "Giving up"
Has anybody ever tried and made this work? I have been trying everything for last two months, but couldn't get it to run locally, so that I can customize it and build a real solution - not just a PoC - out of it. The instructions are unclear and incomplete, especially for local deployment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-09-21 11:47] Kazzan commented on #14621
Hi @curtand, yes I understand that and it is fine on AAD side.

But not fine on Microsoft 365 Admin Center. When you try to delete such user, it throw error, that user cannot be deleted because is part of group which cannot be changed. And you must go to AAD and think how to change the membership to exclude such user and documentation does not helped in this.

The final and nice solution will be t

[2018-09-21 11:59] spacecat commented on #15410
Or maybe it's better to use a DNS Zone explained here? https://docs.microsoft.com/en-us/azure/aks/http-application-routing

This way I can still only have one ingress.

DNS Zone costs should be minimal I think in my case.

[2018-09-21 12:14] gorzilla opened #15412 "dependency agent downloads"
https://aka.ms/dependencyagentlinux currently redirects me to http://download.microsoft.com/download/E/D/B/EDB22276-C316-4982-AFED-6367255D0824/InstallDependencyAgent-Linux64.bin

So it downloads over insecure HTTP and then the sha256 checksums on this page are out of date as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2018-09-21 12:36] ibuildit commented on #12885
I get stuck here:

========== Publishing ==========
Packaging Application...
Building Images...
Docker build must pull an image (microsoft/dotnet:2.1-sdk). This may take a few minutes...

[2018-09-21 13:30] MSFT-davidgregory opened #15413 "Missing SamAccountName"
Azure AD Connect now syncs the on-premises SamAccountName to Azure AD as OnPremisesSamaccountName. While the following article mentions SamAccountName as part of the default sync set, your article does not include it:

https://social.technet.microsoft.com/wiki/contents/articles/19901.dirsync-list-of-attributes-that-are-synced-by-the-azure-active-directory-sync-tool.aspx

---
#### Document Details

[2018-09-21 13:33] mwabbe12 opened #15414 "Reply URL will not update in the Jira Addon"
I am trying to run Jira in an app proxy and use the SAML App. I followed the advice given in https://github.com/MicrosoftDocs/azure-docs/issues/5192. I made the changes in the Azure app, however when I resolve the Metadata URL in Jira, the Reply URL is not updating. Is there any way to clear the values in the Jira Addon? I tried a reinstall and it did not work.

When I try to Login with Azure AD i

[2018-09-21 13:46] bwren commented on #14971
This article is getting retired, and the Azure Monitor documentation about to be completely restructured with completely new documentation on alerts.  I agree that there was some confusion there, but it's going to be addressed very soon.

[2018-09-21 13:46] bwren commented on #14971
#please-close

[2018-09-21 13:50] reliason commented on #14660
Mike,  I have finally had a chance to read your attached documentation, none of it address the root problem I brought up.  The Client connection string does not drive how external tables connect to the database tables they reference.  I need to know how to override this behavior.

Please advise.

Randy

From: Mike Ubezzi <notifications@github.com>
Sent: Tuesday, September 11, 2018 4:05 PM
To: Micr

[2018-09-21 14:11] bwren commented on #14180
@balait01 Sorry, the team has been pretty heads down getting ready for Ignite so I didn't get a response.  I pinged them again and am in contact with the PM for this solution.  Probably is that he's currently on vacation so hopefully get an answer soon.  The documentation for the solution is definitely out of date, and there is a hard requirement to support everything in the Azure portal before th

[2018-09-21 14:21] snehithm commented on #15020
@FredFaust This shouldn't be the case. We are investigating this and will do a fix. What is in the docs is the right payload.

[2018-09-21 14:38] AArnott opened #15417 "Badly needed doc, but this isn't enough"
This table is a good start, but it doesn't do nearly enough to explain each setting. With the Portal UI giving almost nothing in terms of GUI to edit app settings except a text editor over the manifest, we badly need documentation for what the manifest can do and how to author. And a table that merely gives us the schema is not nearly enough. We need explanations, samples, etc.

---
#### Document

[2018-09-21 14:59] kyella commented on #15001
I believe it should point to this channel9 video.
https://channel9.msdn.com/Events/Ignite/Microsoft-Ignite-Orlando-2017/BRK4016

[2018-09-21 15:01] PumpkinClarinnet opened #15418 "Reset Remote Desktop configurations meaning"
Hello guys,
It is a little bit unclear what the reset of the configurations does.
Is it possible for you to add it here?

Thanks :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bcb620a-9cdc-77c5-7396-a82954f90e44
* Version Independent ID: 57bead5a-5022-2583-fd1e-dbb66e82c917
* Content: [Reset the password or Remote

[2018-09-21 15:10] MGoedtel commented on #15247
@wsilveiranz - I will take your feedback under advisement.  This isn't a doc issue so #please-close and I will note this in a TFS work item for the article.

[2018-09-21 15:25] lrzepka1 opened #15419 "Reply URL Error"
I followed the instructions above but cannot get beyond this error:

 Request Id: a617df19-1c8b-4c98-9aee-19d16bc02000
Correlation Id: 378dcf9c-b75a-4e02-9080-f3c30564d2b7
Timestamp: 2018-09-21T15:12:55Z
Message: AADSTS50011: The reply url specified in the request does not match the reply urls configured for the application: '2acb28e8-7e78-4af5-ac3d-7e71476de3ac'.
Advanced diagnostics: Disable
If

[2018-09-21 15:30] MicahMcKittrick-MSFT commented on #15377
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-21 15:31] MicahMcKittrick-MSFT commented on #15392
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-21 15:32] MicahMcKittrick-MSFT commented on #15410
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-21 15:32] MicahMcKittrick-MSFT commented on #15397
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-21 15:33] MicahMcKittrick-MSFT commented on #15418
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-21 15:44] #15247 closed

[2018-09-21 15:49] markolbert opened #15420 "Once Again, Out of Date"
The documentation is out of date with the Azure portal UI, in the section where it talks about setting up a container to hold your custom UI page. There is no "Summary" section; instead, you click Blobs, under Services, and then add a container.

You guys really, really need to do step up your game about keeping your documentation synced with the UI designers. They should not be allowed to commit

[2018-09-21 16:05] Adam-Smith-MSFT commented on #15379
@binoyjt I'll follow up on the other one.

[2018-09-21 16:05] #15379 closed

[2018-09-21 16:05] Karishma-Tiwari-MSFT commented on #15418
@PumpkinClarinnet Resetting Remote Desktop configurations using Set-AzureRmVMAccessExtension cmdlet adds the Virtual Machine Access (VMAccess) Extension to a virtual machine. VMAccess Extension can be used to reset the administrative password and this should be immediately changed after logging into the machine.
I have assigned the issue to the content author to investigate further and update the

[2018-09-21 16:11] Mike-Ubezzi-MSFT commented on #15402
@sennendoko Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-21 16:14] Mike-Ubezzi-MSFT commented on #15403
@sennendoko Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-21 16:24] gbatterbee opened #15421 "MSI usages"
Does this mean, that the Only things MSI can be used for in APIM is this?
No way of retrieving other secrets from Vault using MSI? Not even with Send-Request?

&gt;Currently, managed service identity can be used to obtain certificates from Azure Key Vault for API Management custom domain &gt;names. More scenarios will be supported soon.

---
#### Document Details

⚠ *Do not edit this section. It i

[2018-09-21 16:30] MourIdri commented on #15256
@SaurabhSharma-MSFT : Can you publish the management solution of Log analytics to display VMware logs ? It was put on mute after putting it on preview, is it possible to download it ?

[2018-09-21 16:31] sergaz-msft commented on #15014
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-21 16:31] #15014 closed

[2018-09-21 16:40] MicahMcKittrick-MSFT commented on #14983
@badalk any update on this?

[2018-09-21 16:40] MicahMcKittrick-MSFT commented on #15229
@russcam any update on this?

[2018-09-21 16:49] cwhd opened #15422 "Keys"
Maybe outside of the scope of this article but you need to make sure you use the correct type of keys for this. This article:
https://pascalnaber.wordpress.com/2017/09/06/ssh-keys-on-windows-for-kubernetes-with-azure-container-service-acs/
does a good job of outlining the keys you need if you're used to running puttygen on windows, if you don't export openSSH keys from the conversion menu the keys

[2018-09-21 16:50] panabaker opened #15423 "Preparing your hardware section"
should NOT read "To connect your Peabody to your computer" as you are not connecting the camera to your computer but rather just to power.  I personally think this section should read "1. Power on the Peabody camera by plugging in a compatible USB charger.  The camera is ready for wifi pairing when the green USB light goes solid."

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2018-09-21 16:53] MGoedtel commented on #15044
#please-close as this isn't an issue with the documentation.  I will however add a note about attempting to configure the agent while performing an upgrade isn't a supported scenario with the installer.

[2018-09-21 16:59] MGoedtel commented on #15412
@gorzilla - I've confirmed the checksums have changed as well as the agents version.  I have filed a bug for the article. Thanks for bringing this to my attention. #please-close

[2018-09-21 17:06] sergaz-msft commented on #15411
Hello @prafullkotecha thank you so much for posting your issue. I am sorry that you are having difficulties on following the tutorial and we will be more than happy to help you. I will need you to provide me the error logs and the steps on the tutorial that failed for you so that we can start from there.

Thank you!

[2018-09-21 17:06] Mike-Ubezzi-MSFT commented on #15405
@sennendoko Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-09-21 17:08] sergaz-msft commented on #15423
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-21 17:09] sergaz-msft commented on #15395
@EliWallic  Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-21 17:09] mattbriggs commented on #15372
Thanks for your feedback, @jeffbearer. This has been updated, and will appear in the next content build. #please-close

[2018-09-21 17:09] tamram commented on #15195
@mganeshphani - Thanks for your feedback. I've fixed this, and the change should go live early next week.

#please-close

[2018-09-21 17:09] MicahMcKittrick-MSFT commented on #15259
@Cecildt thanks for the extra details :)

I believe you can just implement the same kind of yaml that is in the tls doc I mentioned to the HTTP application.

@lachie83 can you confirm on this one?

[2018-09-21 17:14] badalk commented on #14983
its not working for me either ways. I will spend some time over the weekend.

[2018-09-21 17:15] Karishma-Tiwari-MSFT commented on #15133
@rpmxappadmin Thanks for sharing the update. I will connect with product team and update you on this here as we make progress on discrepancy on credentials requirements for VM creation.

We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-21 17:15] #15133 closed

[2018-09-21 17:15] Alberto-Vega-MSFT commented on #15393
@djpirra Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-21 17:15] Karishma-Tiwari-MSFT commented on #15240
@shethdharmin We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-21 17:15] #15240 closed

[2018-09-21 17:16] Grace-MacJones-MSFT commented on #15421
Hi @gbatterbee, Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-21 17:17] kaburkett commented on #10273
From an outsider looking in, it seems like there is an internal lack of communication. Can you link another bug on the 'product team' side before closing so future people with the same issue can track progress?

[2018-09-21 17:18] MarileeTurscak-MSFT commented on #15347
There is not any documentation solely covering the manifest in the V2 endpoint. However, the differences between the two endpoints are covered here, including the new ways for clients to request access to scopes.

Anything not covered here should be the same in both versions:
https://docs.microsoft.com/en-us/azure/active-directory/develop/azure-ad-endpoint-comparison#scopes-not-resources

See also

[2018-09-21 17:19] MarileeTurscak-MSFT commented on #15347
I'm closing this out for now but if you have any further questions or would like to discuss this in greater detail, please leave a comment or open an [MSDN thread](https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD) and I will gladly continue the conversation.

[2018-09-21 17:19] #15347 closed

[2018-09-21 17:20] MicahMcKittrick-MSFT commented on #15260
@mandar003 you are correct. The number for total shares is 10,000.

I am working offline to determine the best way to explain this in the doc

[2018-09-21 17:27] reliason commented on #14660
What is happening is when we create an external table object using and external data source and that object is replicated to a read only replica.  The Read Only Replica version of the external data source still points to the Read-Write replica instead of the readonly replica it is part of.

Randy

From: Mike Ubezzi <notifications@github.com>
Sent: Friday, September 21, 2018 12:26 PM
To: MicrosoftD

[2018-09-21 17:30] #15044 closed

[2018-09-21 17:30] kevinfms01 commented on #14973
For example, if I have capture setup for my event hub and for some reason I want to go back in time beyond 7 days, and replay the events back through event hub (in case my downstream system was unable to process the original events correctly).

[2018-09-21 17:32] Alberto-Vega-MSFT commented on #15006
Thank you! We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-21 17:32] #15006 closed

[2018-09-21 17:32] femsulu commented on #15412
@gorzilla thanks again for bringing this to our attention. We will now close this issue. please reply if you have any followup questions and we will gladly continue the conversation.

[2018-09-21 17:32] #15412 closed

[2018-09-21 17:35] mattbriggs commented on #15395
@EliWallic I don't believe the hotfixes apply to the ASDK. However I have a question out and will post as soon as I get an answer. #in-progress

[2018-09-21 17:41] tamram commented on #15019
@andrePKI - Thanks for your feedback. I've clarified that section of the article and the change should go live early next week.

The previous bullet point addresses what happens after failover is complete - the secondary endpoint becomes the primary endpoint. At that point both read and write access are restored, so long as you have GRS or RA-GRS. If you don't have GRS or RA-GRS, then there's no s

[2018-09-21 17:44] SaurabhSharma-MSFT commented on #15386
@andrewatfornax Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-21 17:44] SaurabhSharma-MSFT commented on #15401
@astaykov Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-21 17:47] wesmc7777 commented on #15342
@anjali-intrepid I don't think that warning will fail a CMake build.  Can you check the log file mentioned for the actual error?...

**C:/.../azure-iot-sdk-c/iothub_client/samples/iothub_convenience_sample/CMakeFiles/CMakeOutput.log**

[2018-09-21 17:49] MicahMcKittrick-MSFT commented on #15422
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-09-21 17:50] SaurabhSharma-MSFT commented on #15413
@MSFT-davidgregory Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-09-21 17:51] SaurabhSharma-MSFT commented on #15414
@mwabbe12 Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-21 17:55] SaurabhSharma-MSFT commented on #15419
@lrzepka1 Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-21 17:55] SaurabhSharma-MSFT commented on #15417
@AArnott Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-09-21 17:55] Mike-Ubezzi-MSFT commented on #14937
@babwitjava We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-21 17:55] #14937 closed

[2018-09-21 17:56] Alberto-Vega-MSFT commented on #15393
@djpirra Can you please explain on more detail your specific use case or scenario?

[2018-09-21 17:56] markolbert commented on #15420
The more I look into following the instructions in this article, the more inconsistencies I find with the current state of the Azure UI. It's pathetic. Maybe you should just automatically delete any article over 3 months old -- it'd be (slightly) better to have no information at hand than to have inconsistent or inapplicable information at hand.

[2018-09-21 17:57] Mike-Ubezzi-MSFT commented on #14990
@pardha100 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-21 17:57] #14990 closed

[2018-09-21 17:58] Mike-Ubezzi-MSFT commented on #15083
@jschrap We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-21 17:58] #15083 closed

[2018-09-21 17:59] SaurabhSharma-MSFT commented on #15420
@markolbert Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-09-21 18:01] dilv0055 opened #15424 "Create EventHub not working"
Hi Team,
After creating EventHubNamespace, i am trying to create EventHub with the below command
New-AzureRmEventHub -ResourceGroupName myResourceGrouptest -NamespaceName namespacenametest -EventHubName eventhubtest
Please let me know if i am doing something wrong here, as i am getting below error:

New-AzureRmEventHub : Parameter set cannot be resolved using the specified named parameters.
At lin

[2018-09-21 18:02] jeevansd commented on #15414
@mwabbe12 This is not a supported scenario today. Your JIRA server should have HTTPS enabled otherwise the plugin will not able to populate the values with HTTPS. But we are trying to provide an update to this plugin so that we will allow you to update some of these URLs manually and that way you can get this working.

The work is already in progress and should be our by next month.

[2018-09-21 18:02] markolbert commented on #15420
How about you guys >>assign content authors to check the documentation they wrote whenever the Azure UI changes<<, rather than wait for some poor sod to come along and try and learn from the "documentation", only to have to point out how out of date it is?

Nothing personal, @SaurabhSharma-MSFT; but I really, really hope that, someday, the importance of having decent documentation will work its wa

[2018-09-21 18:04] mwabbe12 commented on #15414
@jeevansd Jira is HTTPS enabled, I agree it would be nice to modify those URLs manually, however the URLs do not match between the Azure app and the Jira Add-on. Pressing Resolve is not fetching my changes in the Azure app.

[2018-09-21 18:06] TravisCragg-MSFT commented on #15372
@jeffbearer We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-21 18:06] #15372 closed

[2018-09-21 18:07] Mike-Ubezzi-MSFT commented on #15242
@SamirFarhat Thanks for that! I have assigned the issue to the content author to evaluate and update as appropriate.

         \,,,/
         (o o)
-----oOOo-(3)-oOOo-----
plugin activated: tinkerpop.server
plugin activated: tinkerpop.utilities
plugin activated: tinkerpop.tinkergraph
gremlin> :remote connect tinkerpop.server conf/remote-secure.yaml
log4j:WARN No appenders could be found for logger

[2018-09-21 18:07] TravisCragg-MSFT commented on #15395
@EliWallic the hotfixes will not apply on ASDK at this time unfortunately.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-21 18:07] #15395 closed

[2018-09-21 18:11] AArnott commented on #15417
Thanks. Actually I just discovered the 4th (description) column. I couldn't see it on my screen earlier. I see you even have a message calling this out that it may be hard to see. The description column makes it much better.
But even on my wide screen, maximized window, the 4th column is mostly obscured. Can the layout of the page be changed to provide more width so this is both more noticeable an

[2018-09-21 18:16] PumpkinClarinnet commented on #15418
Hello Micah,

I've already investigated and can give you some insights.
Let me know if you need it.

Thanks,

Cláudia Mendes
clmendes@microsoft.com

A sexta, 21/09/2018, 16:33, Micah <notifications@github.com> escreveu:

[2018-09-21 18:18] TiloGit opened #15425 "Control Data Disk size and AS type"
Hi,

1. Seems that AS / SSAS  /Analysis Services are setup as Tabular. Any way to control this to be multidimensional ?

2. Any easy way to control the disk size of the Data disk? Can I just modify the template diskSizeGB?:

                    "dataDisks": [
                        {
                            "createOption": "empty",
                            "lun": 0,

[2018-09-21 18:18] SaurabhSharma-MSFT commented on #15389
@KAIZAAA  Thanks for your feedback.

[2018-09-21 18:18] #15389 closed

[2018-09-21 18:21] SaurabhSharma-MSFT commented on #15398
@vetrivelmp Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-21 18:26] SaurabhSharma-MSFT commented on #15409
@SarithaMaran Can you please provide documentation link you are referring here.

[2018-09-21 18:27] CelesteDG commented on #15417
Thank you for the feedback, @AArnott. We have actually made several improvements and changes to our docs, and these are going live on Monday. Part of this is an update to this topic which includes a  swapped description and example columns as well as updated entries. Thank you.

[2018-09-21 18:33] akx opened #15427 "Tag format is not documented"
The tag payload format is not documented; the example given has no tags anyway (`"tags": ""`), making it rather the useless example.

Experimentation on a live instance proves that the tags are available in the metadata format in a `key:value;key:value;key:value` string format, e.g. `"tags": "scalie.creation-time:1537445123.363009;scalie.name:clogs"`.
A more usable format would be a JSON object li

[2018-09-21 18:43] MicahMcKittrick-MSFT commented on #14531
Thanks @mnltejaswini!

@paulmackinnon-adv365 any update?

[2018-09-21 18:44] MicahMcKittrick-MSFT commented on #15350
@Dhawal05 any update?

[2018-09-21 18:45] irgnosis commented on #15146
In the ConnectTo: <cluster name> window
![image](https://user-images.githubusercontent.com/23690556/45900139-bfc4fb80-bd93-11e8-80ec-eb82291951cd.png)

[2018-09-21 18:46] crjordan14 opened #15428 "missing images"
This TDSP tutorial is an excellent resource.  I'm reviewing the section at this location:
 https://docs.microsoft.com/en-us/azure/machine-learning/team-data-science-process/code-test

There are several places where it appears you intended to include an image but instead a code snippet shows up.  For example:

![Selections for starting a new build process](./media/code-test/create_new_build.PNG)

-

[2018-09-21 18:47] femsulu commented on #15400
@Anmolgan81, not sure i fully understand your question . can you please clarify? Are you trying to move a VM solution purchased from marketplace?

[2018-09-21 18:49] femsulu commented on #15399
@Anmolgan81 Thanks for the comment. This has been shared with the content owner for further review.

[2018-09-21 18:58] Anmolgan81 commented on #15400
@femsulu Yes so the vm is purchased from market place. But the CSP do not support creation of the VM, will the license work in this case?

[2018-09-21 19:13] SaurabhSharma-MSFT commented on #15256
@MourIdri No, I cannot publish it as I am also not able to see it.

[2018-09-21 19:40] Here-Be-Dragons commented on #14602
@Karishma-Tiwari-MSFT I am deploying Virtual Machines using Terraform.  AAD is included as part of the terraform script using the `azurerm_virtual_machine_extension` resource to apply `AADLoginForLinux`.  You asked for verbose output.  Which verbose output do you need, `ssh -v` attempting login or something else?

[2018-09-21 19:41] IyyappanAmirthalingam opened #15430 "Azure B2C Samples"
Hi,
Thanks for providing a great documentation with different technology.
I see that every other sample is talking about connecting Web API and there is no sample explains SSO with multiple applications also navigation between them using Azure B2C SSO.
Please help us with the same.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-09-21 19:48] David-Noble-at-work commented on #15018
@carmeleve Let's start with a simple question and I'll have some follow-up. What Agent Pool are you using in your Build Definition? Is it a hosted or self-managed pool?

+@milismsft

[2018-09-21 19:54] kobulloc-MSFT commented on #15378
@binoyjt Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-09-21 19:58] kobulloc-MSFT commented on #15387
@hei9gag Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-09-21 20:00] TravisCragg-MSFT commented on #15394
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-21 20:10] TravisCragg-MSFT commented on #15408
@rifaterdemsahin Just to clarify, are you asking when Terraform will support App Service Environments?

[2018-09-21 20:12] TravisCragg-MSFT commented on #15404
@MetehanBolat could you please share what service you are using to rate your SSL score test? If you are using SSL Labs, you can find a working configuration in #8412.

[2018-09-21 20:20] rwhitcomb-nc commented on #8837
This is not a fix.  This is a work-around.

[2018-09-21 20:32] cseas opened #15433 "Error in virtual-machines/linux/quick-create-portal"
[Enter feedback here]
Under **Create virtual machine**, point 4.
Correct "your your Region" to "your Region".

I've sent pull request #15432 to fix this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 814b92ed-f712-53c8-644b-d3be513a4d06
* Version Independent ID: 79d8998f-1b47-40ec-e975-8eeda383b0cf
* Content: [Quickst

[2018-09-21 20:41] thuansoldier opened #15434 "List role assignments for a user doesn't display built-in role"
Running the following command doesn't display all the roles that are assigned to the given user.

`Get-AzureRmRoleAssignment -SignInName {sign_in_name} -ExpandPrincipalGroups`

 I don't know if this cmdlet requires special privilege, or it is buggy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e65997e4-5f98-0058-4117

[2018-09-21 20:49] MarileeTurscak-MSFT commented on #15358
@msmimart I created a pull request with to include the new screenshots, per @jordanmills recommendation. I will leave the pull request open in case you had other merge conflicts or wanted to include anything else in the document. I am closing out this issue. Thanks for catching this, @jordanmills!

[2018-09-21 20:49] #15358 closed

[2018-09-21 20:57] MarcusPorterAtQuestDiagnostics opened #15436 "Optional rule actually required whether custom DNS is used or not."
Item 3 under https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-extend-hadoop-virtual-network#hdinsight-ip says:
"If you use a custom DNS server with your virtual network, you must also allow access from 168.63.129.16. This address is Azure's recursive resolver..."

This IP address is also used by the azure load balancers deployed with a spark cluster.  So traffic from that IP address is r

[2018-09-21 21:02] vasivara-MSFT commented on #15424
@dilv0055 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-09-21 21:21] Phydeauxman commented on #15345
@MohitGargMSFT the text below is in the article:

`You can get the list of all Audit Activities using the Graph API https://graph.windows.net/$tenantdomain/activities/auditActivityTypes?api-version=beta, where $tenantdomain = your domain name or refer to the article audit report events.`

I have tried replacing `$tenantdomain` with `<mydomain>.onmicrosoft.com` and I have tried `<mydomain>` and eac

[2018-09-21 21:35] chetansriv commented on #14794
Tutorial updated as requested.

#please-close

[2018-09-21 21:35] jeevansd commented on #15414
Can you please write your issue details to our alias and then we can help you up SaaSApplicationIntegrations@service.microsoft.com

[2018-09-21 21:37] chetansriv commented on #14557
issue fixed

#please-close

[2018-09-21 21:39] jordanmills commented on #15044
Thank, it might help someone else save a lot of time and troubleshooting. I did confirm that it works as expected when there is no agent or residual configuration, which is probably no surprise.

[2018-09-21 21:39] chetansriv commented on #13818
Tutorial updated

#please-close

[2018-09-21 21:40] chetansriv commented on #13478
We updated the tutorial as requested.

#please-close

[2018-09-21 21:44] chetansriv commented on #13378
Tutorial updated

#please-close

[2018-09-21 21:47] chetansriv commented on #13229
Tutorial is updated

#please-close

[2018-09-21 21:53] DeanGross opened #15438 "Assignment to application"
Please add instructions about how to assign these new accounts to various applications

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 704378b4-148f-49a9-3b18-fad694da0dc7
* Version Independent ID: db6f6680-22ef-fc80-4914-e72ff27820ad
* Content: [Tutorial to bulk invite B2B collaboration users - Azure Active Directory](

[2018-09-21 22:10] rolyon commented on #15370
Hi @MohitGargMSFT
Is it possible to log this 500 error?

[2018-09-21 22:13] rolyon commented on #15370
Hi @skillriver
In the mean time, I will get your updates incorporated.
Thanks for bringing this to our attention.

[2018-09-21 22:17] redlumxn commented on #15239
Thanks to everyone.

[2018-09-21 22:20] skillriver commented on #15370
Thanks. I've done other contributions to docs before, so this error is a first for me. Cannot see I have done it another way this time.

[2018-09-21 22:33] rolyon commented on #15370
@skillriver - Yes, you are following the correction instructions. Hopefully we can identify the issue.

[2018-09-21 22:54] SaurabhSharma-MSFT commented on #6325
@sspage We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-21 22:54] #6325 closed

[2018-09-21 22:54] SaurabhSharma-MSFT commented on #14971
@kinseymd We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-21 22:54] #14971 closed

[2018-09-21 22:54] SaurabhSharma-MSFT commented on #15019
@andrePKI We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-21 22:54] #15019 closed

[2018-09-21 22:55] SaurabhSharma-MSFT commented on #15181
@RyanLWilliams We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-21 22:55] #15181 closed

[2018-09-21 22:55] #13818 closed

[2018-09-21 22:56] SaurabhSharma-MSFT commented on #15348
@freddyz2001 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-21 22:56] #15348 closed

[2018-09-21 22:56] #13478 closed

[2018-09-21 23:03] MarileeTurscak-MSFT commented on #15176
Hi @matthias-scharl ,

Sorry, I misunderstood the question initially. I'm looking into this with an engineer on our team.

[2018-09-21 23:03] tbebekis opened #15439 "Variable $map4 is not included in the -ClaimsMappings parameter of the New-SPTrustedIdentityTokenIssuer call"
In the PowerShell script, the one used in setting the SP trusted identity provider (Section 8. Configure a new trusted identity provider in SharePoint Server 2016) there is a variable named $map4 regarding the Email claim.

That variable is not included in the -ClaimsMappings parameter of the New-SPTrustedIdentityTokenIssuer call in that same script.

---
#### Document details

⚠ *Do not edit this

[2018-09-21 23:07] Karishma-Tiwari-MSFT commented on #14602
@Here-Be-Dragons yes, verbose log of the ssh connect attempt

[2018-09-21 23:09] vasivara-MSFT commented on #15424
@dilv0055 It works fine for me. Please follow the below format:

`New-AzureRmEventHub -ResourceGroupName testRG -NamespaceName testNamespace -EventHubName testeventhub`

Make sure you have executed these commands before that:

`New-AzureRmResourceGroup –Name testRG –Location eastus`
`New-AzureRmEventHubNamespace -ResourceGroupName testRG -NamespaceName testNamespace -Location eastus`

[2018-09-21 23:13] vasivara-MSFT commented on #15436
@MarcusPorterAtQuestDiagnostics Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-21 23:19] femsulu commented on #15434
@thuansoldier Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-09-21 23:27] MohitGargMSFT commented on #15345
@Phydeauxman The option to use Azure AD Graph API. Please refer to this document on how to send request to API - [Quickstart for the Azure AD Graph API](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-graph-api-quickstart) to get required response.

[2018-09-21 23:30] stansw opened #15440 "Module upgrade snippet is broken"
It seems that the upgrade snippet for PowerShell is broken because it uses semantic versioning which is not compatible with System.Version used by Install-Modules cmdlet.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3398ecf0-bf6b-c120-ce7f-efdc0ba7959c
* Version Independent ID: 62b54dbf-f697-4934-ff44-f47fb48

[2018-09-21 23:32] MohitGargMSFT commented on #15375
@rojasja We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-09-21 23:32] #15375 closed

[2018-09-21 23:32] ShevaDas commented on #15370
Hey @skillriver, is this issue happening on GitHub's site or Docs? If it's on GitHub there isn't much we can do. I can't repro anything on my end right now.

[2018-09-21 23:33] iainfoulds commented on #15422
Thanks for the feedback, @cwhd. Valid comment, but this applies to any SSH key used in Azure. Straight PuTTyGen keys are not accepted. Azure currently supports SSH protocol 2 (SSH-2) RSA public-private key pairs with a minimum length of 2048 bits. Other key formats such as ED25519 and ECDSA are not supported.

One suggestion here would be to use the Azure Cloud Shell to create a key pair and SSH t

[2018-09-21 23:35] MarileeTurscak-MSFT commented on #15176
All traffic is redirected to Azure MFA, so you cannot set it up per client, unfortunately.

[2018-09-21 23:35] #15176 closed

[2018-09-21 23:39] #15422 closed

[2018-09-21 23:41] Karishma-Tiwari-MSFT commented on #15251
@kazshi I think you can create a custom template but that may not cover all prerequisites, for example, installing Azure CLI. If you want to deploy multiple VMs with Linux Diagnostic Extension, I think it would be better to create a custom image with all the prerequisites installed on it.
I think forums like Stack overflow will be a better place for this question as there is whole community out th

[2018-09-21 23:47] Karishma-Tiwari-MSFT commented on #15425
@TiloGit Thank you for your question. Since this is not specifically doc feedback and more of an implementation question, I would recommend posting this question on Forums like MSDN or Stack overflow. Please provide the link to your forum post here and we will work on that on the forum.

[2018-09-21 23:49] MarileeTurscak-MSFT commented on #15419
The sample talks about registering your application. When you register your application you set the Reply URL in the "Properties" section. The Reply URL needs to match whatever you have in your config or app settings. Normally this is just set to the main homepage url (such as https://myapp.azurewebsites.net). @davidmu1 can you look into incorporating this in the documentation?

[2018-09-21 23:49] massiveloop opened #15441 "Link to helpful info on how to connect and retain this info longer"
People are coming here to confirm how far back they can see because its not enough! There should be helpful links or information section with suggested ways to retain this info longer like an onprem powerBI storage and how to send data to it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5975a65a-630f-a2ab-7cc8-268e27

[2018-09-21 23:49] MarileeTurscak-MSFT commented on #15419
If it's easier you can also reassign to me and I can make the pull request.

[2018-09-21 23:49] MarileeTurscak-MSFT commented on #15419
Assigning to author for now, @davidmu1

[2018-09-21 23:50] Karishma-Tiwari-MSFT commented on #15427
@akx Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-09-21 23:51] iainfoulds commented on #15410
This isn't AKS-specific, rather Kubernetes ingress resource definitions. The different approaches in our ingress docs show alternate ways to deploy that ingress controller and resource, but you should still be able to edit your ingress resource to suit you purpose.

For for the scenario described, you'd likely need name-based routing, yes, rather than path-based routing shown in the doc example. R

[2018-09-21 23:54] Karishma-Tiwari-MSFT commented on #15433
@cseas Thanks for correcting the error in your PR. Appreciate it. The changes will be visible on the doc as soon as the PR is merged.
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-21 23:54] #15433 closed

[2018-09-22 01:19] BryanTrach-MSFT commented on #8034
@georgenica A wildcard cert will only cover *.companyname.com. The first level domain that you set is permanent. This means you can use the wildcard cert with any second level domain, as long as the first level domain is the same.

If you need to secure multiple first level domains, you will need to purchase multiple standard or wild card certs to do so.

[2018-09-22 01:37] amanarneja commented on #15406
@Madrawn - Thanks for reporting, we will test this out and accordingly get back to you.

[2018-09-22 03:11] femsulu commented on #15061
Thanks for the update @Johndowns. Adding the content owner to see if he can shed some light on this issue. @derek1ee  - any insights?

[2018-09-22 03:16] femsulu commented on #15364
@suamme1 just FYI, we have initiated a fix to resolve the broken url. This fix will be live by Monday 9/24.
We will now close this issue but don't hesitate to reply if you have any followup questions.

[2018-09-22 03:16] #15364 closed

[2018-09-22 03:29] kobulloc-MSFT commented on #15428
@crjordan14 Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-09-22 03:30] kobulloc-MSFT commented on #15430
@IyyappanAmirthalingam Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-09-22 05:50] CelesteDG commented on #15401
@astaykov - Hello. Thank you for your feedback. We are releasing our updated docs this coming Monday, September 24th, and this includes updates to the app manifest reference. `replyUrls` has been renamed to `replyUrlsWithType`. I've copied the info here:

![image](https://user-images.githubusercontent.com/16906646/45913879-a736fe80-bdf0-11e8-8498-3f3dabe366be.png)

[2018-09-22 07:59] Anmolgan81 opened #15443 "How does pricing works for Windows 8?"
If I build a eindows 8 from a vhd then how does thr pricing works in this case??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82cde811-05df-c34c-6268-90e7c71e9c53
* Version Independent ID: b7b97f26-733f-95d2-d62c-8fe6c68e0560
* Content: [Use Windows client images in Azure](https://docs.microsoft.com/en-us/azure/virtu

[2018-09-22 08:11] skillriver commented on #15370
Yes, this is on the GitHub side, the error occurs after update file change is proposed.

[2018-09-22 08:52] georgenica commented on #8034
@BryanTrach-MSFT thanks for adding to this.

What I'm trying to achieve is NOT to secure multiple level domains BUT instead to use a single certificate to secure `companyname.com` and `*.companyname.com`. This is possible if the certificate specifies `companyname.com` as a Subject Alternate Name on the wildcard certificate for `*.companyname.com`.

Now, to make sure we're 100% on the same page, yo

[2018-09-22 10:04] mcurko opened #15444 "WARNING: by trying this tutorial you risk to have you Azure subscription suspended"
This is wat happened to me today (from Azure support):

Issue Definition:

I understand that the Visual Studio Enterprise (*********************) subscription has been suspended the remaining credit is **** EUR.

Resolution:

I have now reviewed your subscription and its billing and the usage report. I can see that you recently deployed Autodesk Arnold and Autodesk 3DS Max services which are third

[2018-09-22 11:06] Phydeauxman commented on #15345
@MohitGargMSFT so the URL example in the article is to the Azure AD Graph...which Microsoft is suggesting people try not to use? The quickstart link takes you to an article about the Azure AD Graph and right up at the top is a box that says `we strongly recommend you use the Microsoft Graph`...why not provide an example in the Audit Activity article on how to access the data from the Microsoft Gra

[2018-09-22 11:08] devchop commented on #15003
Thanks for the update!

[2018-09-22 11:59] aL3891 opened #15445 "Pricing for export"
In one of the screenshots there is a reference to costs incurred by exporting but there isn't any other mention of that in the docs or on the AI pricing pages. Does the cost just refer to the cost of the azure storage (and potential data egress associated with that) or is there a specific cost for the export as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2018-09-22 12:08] jitendra-25 opened #15446 "Default username of VM when created by Azure CLI"
I used below command on powershell (locally) to create a vm -

az vm create \
    --resource-group myResourceGroup \
    --name myVM \
    --image win2016datacenter \

It then asked to create an Admin password and Confirm Password on powershell, but didn't ask for username.
The default username for VM in this case was the username of my PC.
I couldn't find this information on Azure Portal and docu

[2018-09-22 14:18] davidsk opened #15447 "Getting Started link does not provide correct information"
In the section titled ["Standalone Web Apis"][1], it states

There are two samples, ("[Protect an ASP.NET  Web API][3]" and "[Protect an ASP.NET Core Web API][4]") listed that refer to Web Api, neither of which provide information on using the how to use the same Application Id for both client and api.

Information on how to use the same Application Id for both the Client and Web Api would be very

[2018-09-22 14:41] mcurko commented on #15359
I agree with you, but this information shoud be provided to the author of the tutorial, so he/she can correct it, because at this time the tutorial doesn't work.

[2018-09-22 14:45] SvenNoomen opened #15448 "Error from Arduino"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-09-22 14:46] SvenNoomen commented on #15448
In Visual Studio Code, I have the following error:

****Local\Arduino15\package_index.json.tmp: The process cannot access the file because it is being used by another process.

[2018-09-22 15:27] MicahMcKittrick-MSFT commented on #15441
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-22 15:27] thomaslevesque opened #15449 ""select_account" value for the prompt parameter is valid but not mentioned"
This is actually the same as https://github.com/MicrosoftDocs/azure-docs/issues/8955, but for the v2.0 endpoint. There might be other pages where it's missing, I didn't check all of them

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be0884d3-263f-9913-7b8c-170d8092baa2
* Version Independent ID: 42c5b06a-81a7-97f7-a4cf

[2018-09-22 15:28] MicahMcKittrick-MSFT commented on #15440
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-22 15:28] MicahMcKittrick-MSFT commented on #15443
Thanks for the question! We are investigating and will update you shortly.

[2018-09-22 15:29] MicahMcKittrick-MSFT commented on #15444
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-22 15:30] MicahMcKittrick-MSFT commented on #15446
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-22 15:43] Anmolgan81 commented on #15443
@MicahMcKittrick-MSFT Hi micah, thanks for the response, much appreciate it.

[2018-09-22 15:52] manojbhoyar123 opened #15450 "How to achieve this admin consent by powershell?"
How to achieve this admin consent by powershell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7a6c58c-f887-03a4-8f69-eb91a19e4fb3
* Version Independent ID: 4e53d964-7edf-5668-b976-75fcdce4638e
* Content: [How to grant permissions to a custom-developed application](https://docs.microsoft.com/en-us/azure/active-direct

[2018-09-22 16:18] SaurabhSharma-MSFT commented on #15445
@aL3891 Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-22 16:27] SaurabhSharma-MSFT commented on #13229
@ermacia91 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-22 16:27] #13229 closed

[2018-09-22 16:28] SaurabhSharma-MSFT commented on #13378
@lyyeh We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-22 16:28] #13378 closed

[2018-09-22 16:28] SaurabhSharma-MSFT commented on #14557
@LisandroSu We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-22 16:28] #14557 closed

[2018-09-22 16:29] SaurabhSharma-MSFT commented on #14794
@ermacia91 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-22 16:29] #14794 closed

[2018-09-22 16:29] SaurabhSharma-MSFT commented on #15195
@mganeshphani We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-22 16:29] #15195 closed

[2018-09-22 17:03] JozoSlejko opened #15451 "App settings"
Manual installation section states that only APPINSIGHTS_INSTRUMENTATIONKEY app setting is needed to setup profiler.
Then later Troubleshooting on-demand profiler section states to check if three app settings are set APPINSIGHTS_INSTRUMENTATIONKEY, APPINSIGHTS_PORTALINFO and APPINSIGHTS_PROFILERFEATURE_VERSION.
This is inconsistent, is APPINSIGHTS_INSTRUMENTATIONKEY setting enough or do we need ad

[2018-09-22 17:16] SaurabhSharma-MSFT commented on #15450
@manojbhoyar123 Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-22 17:57] SnehaGunda commented on #15403
@sennendoko thanks for identifying, we updated the link, changes should be live on Monday. In future, if you see any issues, feel free to click on the edit button on the page and submit your change, We would love to take community contributions !

[2018-09-22 17:57] SnehaGunda commented on #15403
#please-close

[2018-09-22 19:46] SaurabhSharma-MSFT commented on #15186
@redacer1 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-22 19:46] #15186 closed

[2018-09-22 19:47] SaurabhSharma-MSFT commented on #15191
@punkouter2018 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-22 19:47] #15191 closed

[2018-09-22 19:47] SaurabhSharma-MSFT commented on #15219
@poortom1004 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-22 19:47] #15219 closed

[2018-09-22 19:48] SaurabhSharma-MSFT commented on #15220
@poortom1004 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-22 19:48] #15220 closed

[2018-09-22 19:48] SaurabhSharma-MSFT commented on #15250
@Alexei-B We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-22 19:48] #15250 closed

[2018-09-22 20:09] SvenNoomen commented on #15448
Thanks for you feedback, I am following the steps from this site...
https://github.com/Microsoft/vscode-iot-workbench/blob/master/docs/iot-devkit/devkit-get-started.md

[2018-09-22 20:12] jonlave opened #15452 "Broken Experience For Linking B2C to Account"
It makes no sense why there is a separate step to actually "link" a newly created Azure B2C tenent to your Azure Subscription. No other Azure service that I've used does this.

In addition, the way you do the linking is not intuitive. There's a highlighted message that shows on the Azure AD B2C page saying "No Subscription linked to this B2c tenant or the Subscription needs your attention. -&gt;"

[2018-09-22 20:29] SvenNoomen commented on #15448
Seems solved after re-installing Arduino en deleted the local files under AppData. Keep you posted...

[2018-09-22 21:09] MicrosoftGuyJFlo commented on #15186
@redacer1 this is a known issue that I need to add to the doc. The Authenticator app is not available in the existing workflow.

[2018-09-22 21:11] jjgriff93 opened #15453 "Need sample of how to get metadata in C# QnAMaker SDK"
Can't find information anywhere on how to get the filters metadata from the qnamaker response in C# using Microsoft.Bot.Builder.CognitiveServices.QnAMaker

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb1d6a8c-954c-9ce8-6101-c19b20724c91
* Version Independent ID: 5c219f6c-260b-c17a-7f41-1bf4095aa521
* Content: [Metada

[2018-09-22 22:12] markolbert commented on #15420
For anyone else struggling with this gunk, here's a write-up I put together on how I managed to tailor a custom sign-up/sign-in page: https://jumpforjoysoftware.com/2018/09/customizing-azure-ad-b2c-pages/

[2018-09-22 22:55] prafullkotecha commented on #15411
Steps followed:
1) Fork and clone this repo: https://github.com/Azure/azure-iot-pcs-remote-monitoring-java
2) Follow the steps to deploy microservices locally given here: https://docs.microsoft.com/en-us/azure/iot-accelerators/iot-accelerators-remote-monitoring-deploy-local

Errors I get:
PCS_AUTH_WEBSERVICE not found.

Is there any link, that you can point me to, where you know the instructions a

[2018-09-23 00:30] ShevaDas commented on #15370
@skillriver Unfortunately, we don't control anything on GitHub's site. Sorry! You can open a support request with GitHub here: https://github.com/contact

#please-close

[2018-09-23 00:38] paveljeloudovski opened #15455 "The WInRM related section can be improved"
The WinRM artifact requires a hostname as a parameter. That should be the fqdn of the vm. Since otherwise WinRM will not work according to the winrm VSTS task doc.
An example of how to use that artifact in the template would be great.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e914d98-f574-d5a2-ee07-cc24b2886365
*

[2018-09-23 00:56] ta-graves opened #15456 "Stop the "Microsft Azure Sync Service" before trying to abandon the Key."
I found that you must stop the "Microsoft Azure AD Sync" service before running:  miiskmu.exe /a.

If that service is running you will receive the following error:

The operation encountered an error and cannot be completed.

Error: The operation failed because server service was started.
Error Code: 80131600

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2018-09-23 01:28] MohitGargMSFT commented on #15456
@ta-graves Thanks for your feedback! We will investigate and update soon on it.

[2018-09-23 01:30] MohitGargMSFT commented on #15452
@jonlave Thanks for your feedback! We will investigate and update soon on it.

[2018-09-23 01:32] MohitGargMSFT commented on #15455
@paveljeloudovski Thanks for your feedback! We will investigate and update soon on it.

[2018-09-23 01:33] MohitGargMSFT commented on #15451
@JozoSlejko Thanks for your feedback! We will investigate and update soon on it.

[2018-09-23 01:34] MohitGargMSFT commented on #15453
@jjgriff93 Thanks for your feedback! We will investigate and update soon on it.

[2018-09-23 03:37] YutongTie-MSFT commented on #15387
@hei9gag Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@PanosPeriorellis Hi, there is a difference between the Azure portal and the document, can you please check it and update the document  as necessary? Thanks a lot!

[2018-09-23 03:41] YutongTie-MSFT commented on #15428
@crjordan14 Hi, I have checked the document and I can see every image correctly. Can you please check it again and if it still does not work to you, please attach the screenshot so that we can investigate further. Thanks.

[2018-09-23 04:07] SaurabhSharma-MSFT commented on #15370
@skillriver We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-23 04:07] #15370 closed

[2018-09-23 04:08] SaurabhSharma-MSFT commented on #15403
@sennendoko We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-23 04:08] #15403 closed

[2018-09-23 04:16] danmyhre opened #15458 "Error: The file cannot be accessed by the system"
Add details on troubleshooting this error.  After drives are successfully mounted, you are not able to access some of the files.  You get an error that says "The file cannot be accessed by the system".  If you look at the properties of the file, it shows "Size on disk" of 0 bytes.   Size attribute is populated correctly.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2018-09-23 05:00] YutongTie-MSFT commented on #15406
@amanarneja Thanks for add tags correctly for me.

@Madrawn Hi, the 500 server error can be solved by switching to linux container. It is easy to switch windows container to linux container by right clicking on the docker icon. Can you please try it and also please tell me if you have further challenge. Thanks.

[2018-09-23 06:06] anas1986 opened #15459 "Backup Not Working"
I converted some existing virtual machines to standard SSD disks but the backup is not working anymore. I got a message saying "The storage type is not supported by Azure backup." Although you mentioned backups will continue to work after the migration!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 263abdef-3478-8261-

[2018-09-23 08:37] kimsovan72 opened #15460 "Assistance"
FirstName: Kim
LastName: Sovan
Gender: Male
Birthday: 09/09/1985
Email kimsovan72@gmail.com http://en.gravatar.com/kimsovan72.json Email Address: kimsovan72@gmail.com Email Hash: 9f6922687f291069820e61a49a8d7364
List of Feder-ated IDs
[FACEBOOK-115978649281593]
List of Feder-ated IDs [Google:104336381654539103329]
ACCOUNT GOOGLE CLOUD PLATFORM
PROJECT NAME: KIM SOVAN
PROJECT ID: KIM-SOVAN-15320767

[2018-09-23 11:36] AronT-TLV opened #15461 "Mount command on Linux should be slightly different"
The mount -t
1/ you should suggest using uid/gid parameters because the way the command is now, only root can use the file share
2/ the `dir_mode` and `file_mode` should be `0775` or some such. The `o` should never have write privileges

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37e08943-3758-7ed5-5a50-4c649fbf0993

[2018-09-23 11:41] AronT-TLV opened #15462 "Mount command on Linux should be slightly different"
The mount -t
1/ you should suggest using uid/gid parameters because the way the command is now, only root can use the file share
2/ the `dir_mode` and `file_mode` should be `0775` or some such. The `o` should never have write privileges
3/you might consider copying a variant of the instructions from https://docs.microsoft.com/en-us/azure/virtual-machines/linux/mount-azure-file-storage-on-linux-usi

[2018-09-23 13:18] SychevIgor opened #15463 "Orphan guide"
Based on the name of this file "azure-api-management-certs" it should be in either API Management section or maybe even somewhere else

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea96d36c-ecca-def8-29bb-081f363f48ce
* Version Independent ID: c482444e-69a8-b31d-a7a8-ce24d8ff72f6
* Content: [Upload an Azure Service Ma

[2018-09-23 13:21] SychevIgor opened #15464 ""vs-azure-tools-storage-manage-with-storage-explorer "File not obvious filename"
This file named as "vs-azure-tools-storage-manage-with-storage-explorer", but I have no clue, were is Visual Studio in a guide. maybe we should rename this file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 337c96d2-0b4f-ad70-bb7a-cf8d6736cc3c
* Version Independent ID: 09c7c658-16d1-04ac-6bb4-6aa5c1b529a6
* Content:

[2018-09-23 13:27] kmcconnell opened #15465 "Need example of {queueTrigger} for input blob bindings."
Following the example at https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob#input---c-example leads to exceptions when testing locally. The queue message is expected to be a JSON object, however it is interpreted as a string for `{queueTrigger}`. So, I can't see a way how to pass the name of the blob in the queue message.

An example of the queue message which a

[2018-09-23 14:55] cflee opened #15466 "Virtual Network overview should mention region limitation"
Currently, we have to read the entire Virtual Network section and get to the FAQ page before it's actually said that the Virtual Network is limited to a single region. On the other hand, it's mentioned multiple times in multiple locations that VNets can be peered across regions.

The fact that VNets are limited to a single Region should be made clear upfront in the overview, as it's a very core co

[2018-09-23 15:12] MarcoStucchi opened #15467 "SimulatedDevice.py example problem with module import"
Hi, following the iot hub _quickstart-send-telemetry-python_ example I'm having the following problem when launching the SimulatedDevice.py:
'Traceback (most recent call last):
  File "SimulatedDevice.py", line 11, in &lt;module&gt;
    import iothub_client
  File "C:\Users\Utente\AppData\Local\Programs\Python\Python37\lib\site-packages\iothub_client\__init__.py", line 1, in &lt;module&gt;
    fro

[2018-09-23 15:16] cflee commented on #13844
@TravisCragg-MSFT The [Application Gateway pricing page](https://azure.microsoft.com/en-gb/pricing/details/application-gateway/) also links to this page instead of the FAQ, that should be fixed too.

[2018-09-23 15:44] smith-phil opened #15468 "Simply doesn't work"
There's a lot of version issues with this tutorial, I could not get it to work. If it's in pip it should work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9565ceb-e636-e815-f7cf-ff9523fabc2f
* Version Independent ID: 7c6b3210-d878-0347-27af-199c2c00daa9
* Content: [Send telemetry to Azure IoT Hub quickstart (Python

[2018-09-23 15:48] smith-phil commented on #15468
On ubuntu 18.04, with python 2.7 I'm getting:
Traceback (most recent call last):
  File "SimulatedDevice.py", line 11, in <module>
    import iothub_client
ImportError: No module named iothub_client

[2018-09-23 15:48] tjcdw opened #15469 "Add option to work with a SAS URI"
If not documented elsewhere I would also mention the option to provide a SAS URI in the "fileUris" part, instead of providing the storage account keys which gives full blown permissions to the storage account to optional thirth parties.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40aaccb8-19ba-168f-f5bf-65f1f5331541

[2018-09-23 16:04] DSalvigni opened #15470 "U-SQL for Data Lake..."
It is the first time I approach it and I have to admit that this documentation is pretty clear, thank you :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca34cf09-1532-3ddd-5984-1e8c481b92b7
* Version Independent ID: 9705533d-12db-4ff3-53a3-ab0a91594633
* Content: [Get started with U-SQL language in Azure Data Lake A

[2018-09-23 17:09] agnel123 opened #15471 "multiple ways of transferring data to and from Azure Storage"
Topic: Transferring data to and from Azure Storage
Issue: There are multiple ways of transferring data to and from Azure Storage such as "Azure File Sync", "Azure Import/Export" and "RoboCopy".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 312ba22f-685c-d17f-438f-9656f019012a
* Version Independent ID: a93993be-f687-16

[2018-09-23 17:38] dglambert commented on #14916
@Karishma-Tiwari-MSFT @manishsm-msft any updates on this? I really would need a way to recognize Log Alerts as resolved, and then send an email when they are resolved. We tie into Pagerduty, and I need tickets to get resolved based on this logic.

[2018-09-23 19:11] kthejoker opened #15472 "References Flink producer and consumer instead of Akka Streams in some parts"
See title.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc6757fa-9f9c-bd15-0b60-5635f5d6f0c1
* Version Independent ID: 53fbf3f0-c1a6-fde0-05af-5ec8a91f1b3f
* Content: [Using Akka Streams with Azure Event Hubs for Apache Kafka](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-kafka-akka-streams-tutorial)
*

[2018-09-23 19:31] mike-urnun-msft commented on #15465
Hi @kmcconnell Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-09-23 19:50] MicahMcKittrick-MSFT commented on #15459
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-23 19:50] MicahMcKittrick-MSFT commented on #15461
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-23 19:51] MicahMcKittrick-MSFT commented on #15469
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-23 20:05] kobulloc-MSFT commented on #15458
@danmyhre Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-09-23 20:18] kobulloc-MSFT commented on #15460
@kimsovan72 Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-09-23 21:28] kobulloc-MSFT commented on #15466
@cflee Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-09-23 21:34] mike-urnun-msft commented on #15266
Hey @dnyaneshlb - got any updates for us?

[2018-09-23 21:41] mike-urnun-msft commented on #15421
Hey @gbatterbee We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-23 21:41] #15421 closed

[2018-09-23 22:02] jason-j-MSFT commented on #15225
@RRWin have you verified the IR version as outlined in step #3 here:
https://docs.microsoft.com/en-us/azure/data-factory/create-self-hosted-integration-runtime#known-limitations-of-self-hosted-ir-sharing

[2018-09-23 22:05] jason-j-MSFT commented on #15246
@JasonWHowell we have an enhancement suggestion here, could you take a look?

[2018-09-23 22:11] jason-j-MSFT commented on #15267
@vishaleclass I do not see any recipes created by Microsoft for what you ask.  You might try to ask the community in the forums here:
https://social.msdn.microsoft.com/Forums/en-US/home?forum=opinsights

[2018-09-23 22:11] #15267 closed

[2018-09-23 22:15] jason-j-MSFT commented on #15273
@abhiramani-iptiq could you clarify what your request is?  We are closing this issue for now, but if you can explain what you would like to see, we can reopen the issue.

[2018-09-23 22:15] #15273 closed

[2018-09-23 22:44] mike-urnun-msft commented on #15312
Hi @APErebus Correct, this implementation does ensure that there is only one instance, and the documentation does seem to communicate that accurately with following statements:
`The code ensures that only one instance exists for a specified instance ID.`
`The important point is that there is only ever one instance running at a time.`

Did you have a different expectation for the operation introduc

[2018-09-23 22:50] agrabhi opened #15474 "The page doesn't have steps for scopes"
The sample uses scopes read and write, while this page doesnt't show any step to create them. The user gets error AADB2C90117: The scope 'read' provided in the request is not supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fcf76a42-4ecb-63c9-8ca0-40af417006d7
* Version Independent ID: 34c4f58e-a6a9-ab8c-0721-

[2018-09-23 23:02] rocifier commented on #14316
Haven't heard of any updates yet, but it seems like no one else has reported the same issue recently, so we might assume it was just my pc only? In that case I would be comfortable closing this given the lack of specific error logging making it difficult to diagnose further.

[2018-09-24 00:08] APErebus commented on #15312
@mike-urnun-msft Hmm.

So the way I read it was that the instance would be blocked from running 2 executions at once, but once the instance had finished execution, it could be started again.

When I re-read the documentation with the different mindset, I think it makes sense.

I have changed my code to look for a specific completed state, as opposed for a raw `null` status.

[2018-09-24 00:50] eggind opened #15476 "Test-NetConnection needs fixing"
I believe your first line of powershell in this doc should be:

Test-NetConnection -ComputerName &lt;your-storage-account-name&gt;.file.core.windows.net -Port 445

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c12f1ea9-6446-be01-22fe-885fb945d22c
* Version Independent ID: 634f8ace-1a8c-6811-627b-fdfbdd1942a3
* Content:

[2018-09-24 01:37] Karishma-Tiwari-MSFT commented on #14316
@rocifier Thanks for sharing. I will close this issue now but please continue working with Chris and if you have any update, please share in this thread.
If there are further questions regarding this matter, reopen it and we will gladly continue the discussion.

[2018-09-24 01:59] Karishma-Tiwari-MSFT commented on #15251
@kazshi We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-24 01:59] #15251 closed

[2018-09-24 02:01] APErebus commented on #15312
Just following up that I'm seeing different behaviour on another "singleton" trigger function when the trigger is an hourly TimerTrigger (`[TimerTrigger("0 5 * * * *")] TimerInfo timerInfo`).

It uses the same `status == null` check as my original code, but successfully executes hourly. It does not contain the check for `RuntimeStatus` (as above).

To sum up, if we trigger our "singleton" via serv

[2018-09-24 02:06] Karishma-Tiwari-MSFT commented on #15318
@sanathkumarshetty The link works now. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-24 02:06] #15318 closed

[2018-09-24 02:50] russcam commented on #15229
I'v tried `--enable-addons monitoring` with `australiaeast` and see the same error

[2018-09-24 03:13] Alberto-Vega-MSFT commented on #15356
@ericleigh007 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-24 03:13] #15356 closed

[2018-09-24 03:14] Alberto-Vega-MSFT commented on #15313
@RoopAnymous We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-24 03:14] #15313 closed

[2018-09-24 03:16] Alberto-Vega-MSFT commented on #15360
@ratchetwrench We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-24 03:16] #15360 closed

[2018-09-24 03:17] Alberto-Vega-MSFT commented on #15393
@djpirra We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-24 03:17] #15393 closed

[2018-09-24 03:46] sujansunil commented on #14041
Step 2 :
Create the database:

When you run command given in document i get below error

[INS-04008] Invalid combination of arguments passed from command line. One or more mandatory dependent arguments are not passed for the argument: -storageType
        -createDatabase - Command to Create a database.
                -responseFile | (-gdbName,-templateName)
                -responseFile - <Fully

[2018-09-24 04:10] rolyon commented on #15370
Hi @skillriver
I have let our publishing team know that you are getting a 500 error when you try to propose a file change.
thanks

[2018-09-24 05:06] mike-urnun-msft commented on #15312
Thanks @APErebus - There appears to be different scenarios around this sample that are being reported & discussed [here](#5561) . For the purposes of more consolidated feedback, could you report the particular scenario you're encountering over there?

[2018-09-24 05:35] msvijayn commented on #15226
#please-close

[2018-09-24 06:35] timothies opened #15478 "Proxy details not mentioned"
This is part question part comment.
My Website is hosted inside a Docker container in our DMZ.  Our Firewall is setup to only allow access from the DMZ to external sites via our Proxy.   I can't find any mention of how to configure a proxy for Live Metrics Stream.
Any help would be appreciated.  Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-09-24 06:37] russcam commented on #15229
@MicahMcKittrick-MSFT `--enable-addons monitoring` looks to be working fine for `australiaeast` with CLI 2.0.46

[2018-09-24 06:45] SarithaMaran commented on #15409
@SaurabhSharma-MSFT  I am following steps provided in this [link](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-csharp-module).

[2018-09-24 07:10] mcurko commented on #15359
The extension added is the one as described in the tutorial. I did'n install any extension beyond what is described in the tutorial. So I suppose something's wrong with the steps in the tutorial.

[2018-09-24 07:15] snehithm commented on #15020
@FredFaust This is now fixed. You should see what is documented in the docs. Apologize for the confusion.

[2018-09-24 07:28] NommySkies commented on #15014
Hi @sergaz-msft, sorry for my late reply, had a quite busy week at University. ^^" So, answering to @jingjing-z's reply I made a HTML file (following step-by-step procedure described in the docs) just to create the map as first step (first paragraph from point 1 to 4). I've opened the map in Firefox (didn't load) , in Chrome (all works like a charm) and on Microsoft Edge (here is the problem). On

[2018-09-24 07:40] kobulloc-MSFT commented on #15467
@MarcoStucchi Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-09-24 07:40] kobulloc-MSFT commented on #15468
@smith-phil Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-09-24 07:42] kobulloc-MSFT commented on #15470
@DSalvigni Thank you very much for the positive feedback!  :)

[2018-09-24 07:43] kobulloc-MSFT commented on #15471
@agnel123 Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-09-24 07:43] kobulloc-MSFT commented on #15472
@kthejoker Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-09-24 07:44] kobulloc-MSFT commented on #15474
@agrabhi Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-09-24 07:45] kobulloc-MSFT commented on #15476
@eggind Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-09-24 07:47] kobulloc-MSFT commented on #15478
@timothies Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-09-24 07:53] PIKESTEL opened #15480 "Remark on VNET service endpoint usage"
Dear,
In section https://docs.microsoft.com/en-us/azure/data-factory/join-azure-ssis-integration-runtime-virtual-network#host-the-ssis-catalog-database-in-azure-sql-database-with-virtual-network-service-endpointsmanaged-instance-preview it is stated that you can join your SSIS IR to a VNET that is peered (or StS connected) with another VNET that has VNET service endpoint for SQL enabled. To my und

[2018-09-24 08:18] ahamin01 opened #15481 "All Azure AD-integrated applications support Azure B2B guest users"
I believe you should reconsider this statement "All Azure AD-integrated applications support Azure B2B guest users"! Is it really working with all Azure AD-integrated applications? For instance, I noticed that Azure B2B is not working with MS Forms

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 234804b8-f87e-6e42-3589-

[2018-09-24 08:32] paulmackinnon-adv365 commented on #14531
@MicahMcKittrick-MSFT  - seems to be a success for me.

[code]

[2018-09-24 08:41] axelgMS commented on #13442
Looks like this is as design.
Portal UX does not support LAD 3.0 yet. https://github.com/Azure/azure-linux-extensions/tree/master/Diagnostic

[2018-09-24 09:10] Drony77 commented on #13442
@alexMS Thanks for the update ! Then it leaves only first question open: how can one switch storage account for LAD 3.0 with PS ?

In the same article below:
LAD 3.0 is installed and configured via Azure CLI, **Azure PowerShell cmdlets**, or Azure Resource Manager templates.

[2018-09-24 09:30] girishgouda opened #15485 "The sendgrid binding does not work with Azure Function V2"
we cannot specify the out paramter with async methods like below
public static async void Run()
and when we remove the out paramter the binding does not work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67219504-786d-cb28-da42-e36e227a1c8a
* Version Independent ID: 9faa4531-ad36-7fda-c9e5-415aa2c5a400
* Content: [Azu

[2018-09-24 09:46] Sulster opened #15486 "$vm = Add-AzureRmVMDataDisk"
Should be Add-AzureRmVMDataDisk, not $vm = Add-AzureRmVMDataDisk.

Reassigning $vm breaks the update virtual machine step.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b304db6-375e-863e-2260-64cde160404c
* Version Independent ID: b5571acc-5870-cf3f-e9bf-47363ac3899a
* Content: [Tutorial - Manage Azure disks with Azu

[2018-09-24 09:48] APErebus commented on #15312
@mike-urnun-msft can do. thanks for your help.

[2018-09-24 09:48] #15312 closed

[2018-09-24 09:57] OmarHallab commented on #15369
Dear, any updates on the GA?

[2018-09-24 10:01] mcurko opened #15487 "Notes"
Function app needs to be explicity set to v1, otherwise a compilation error occurs.
Add sentiment detection step needs to have URL set.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae1a4055-33b7-eead-6eb4-0092b7112567
* Version Independent ID: 7b866c4b-46d2-d420-278e-f49ec05e5d0d
* Content: [Create a function that in

[2018-09-24 10:02] Sulster commented on #15486
Actually I was completely wrong, I had changed location which was causing the issue.

[2018-09-24 10:02] #15486 closed

[2018-09-24 10:45] Dhawal05 commented on #15350
Hi All I was able to solve this. My bad, I was using a self-signed certificates which PowerShell was not allowing nothing to do with the command in itself. I used the below command block and things worked –

  if (-not ([System.Management.Automation.PSTypeName]'ServerCertificateValidationCallback').Type)
{
$certCallback = @"
    using System;
    using System.Net;
    using System.Net.Security;

[2018-09-24 10:45] #15350 closed

[2018-09-24 10:46] Julia-Alexandrova commented on #14857
@tysonn , could you please provide details on how to proceed? Should I fork a similar existing guide and make my own and then submit a pull request? Please let me know what I can do for us to progress with the issue.

[2018-09-24 10:47] spacecat commented on #11742
az disk list --query '[].id|[?contains(@,`<pvcVolume>`)]' -o tsv

did not work for me.

It gives me a:

'[?contains' is not recognized as an internal or external command, operable program or batch file.

I still managed to create the snapshot by just manually searching for the id: az disk list

[2018-09-24 10:54] ModCraig opened #15488 "Not enough information"
This article seems to read as:
steps 1-5: helpful, step-by-step instructions
step 6: (go figure it out yourself).

What does "add them to your special handling of outbound traffic such as a filter or allowed list" actually mean?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cc9a983-cc11-dde3-1f88-127240105a31
* Versi

[2018-09-24 11:33] DheeraSite opened #15489 "Measuring Performance of rebuilding an index"
Request you to add information on how to measure the performance of rebuilding an index .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 342a6349-1b6c-8aca-600d-d1bd27f31e61
* Version Independent ID: 41c25592-74eb-3efd-9781-1f6b51efd55e
* Content: [Rebuild an Azure Search index or refresh searchable content](https://do

[2018-09-24 11:39] mchudinov commented on #13859
Actually only policies with OpenID Connect have "Run now".

[2018-09-24 11:43] mchudinov opened #15490 "same cert that was issued for the ADFS ? Where to get it?"
Under "Add the ADFS account application key to Azure AD B2C"
8. ... This certificate with the private key should be the same one that was issued and used for the ADFS relying party.

What do you mean by this?
Is this the same certificate that is in use in ADFS as the service communication certificate?
Or as token-signing certificate?

---
#### Document Details

⚠ *Do not edit this section. It is r

[2018-09-24 12:00] Anded opened #15491 "Broken folder structure"
I have a custom activity that had some dependencies in a folder. I had no issues transferring it to blob storage but when the custom activity was copied to Azure Batch, the folder structure was flattened. This behaviour is not documented. Is it expected?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a73a1ff2-94e8-a570

[2018-09-24 12:03] anjali-intrepid commented on #15342
So, on step 5, its mentioned to run the following:
[code]
To answer your doubt, I don't see a Debug folder generated after the error, or any .exe generated.

What should I be looking for in the output log?
Maybe you can help:
[CMakeOutput.log](https://github.com/MicrosoftDocs/azure-docs/files/2410689/CMakeOutput.log)

[2018-09-24 12:06] spacecat commented on #11742
The commit I was looking for. Docs have been updated with the backup + restore info. Great. Thanks for this.
https://github.com/MicrosoftDocs/azure-docs/commit/5a94058cc317c657d8d0f42550b58bef66d497a4#diff-48570476536f0322a439b7e746d36d28

[2018-09-24 12:14] anjali-intrepid commented on #15342
I think you are looking at the warning regarding Cmake version. That's not the primary issue.
The primary error is:
[code]
Which is displayed after I follow the command given in Step 4 of the doc: `cmake --build . --target iothub_convenience_sample --config Debug`.

The warning I have attached is shown after I try `cmake .`

[2018-09-24 12:29] timhodgson opened #15492 "Instructions out of date"
The instructions for where to find settings are out-of-date.  Should be Home &gt; App Services &gt; App &gt; Custom domains

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e05cdb94-c985-242c-1460-b16b1ed2df5d
* Version Independent ID: 1254aa45-6289-6553-06e5-38766c89d017
* Content: [How to prepare for an inbound IP addr

[2018-09-24 12:55] bjthomson commented on #14663
OK, so after more fiddling, I think this is yet another permissions issue. Thankfully the configBuilder writes to the event log.
In there I see: (guids replaced to protect my inventory)
Parameters: Connectionstring: [No connection string specified], Resource: https://vault.azure.net, Authority: https://login.windows.net/[guid]. Exception Message: Tried the following 4 methods to get an access toke

[2018-09-24 13:08] bjthomson commented on #14663
The silliest thing is: I removed the line of code that ACCESSED the key vault secret, the one-page app STILL blows up trying to read the configuration (which of course happens in the Application_start, before Visual Studio has attached the debug probes, so I cant debug even if I configure VS to Enable .Net Framework Source Stepping.)

[2018-09-24 13:38] lianger114 commented on #15126
Thank you. I see the missing service tags. https://docs.microsoft.com/en-us/azure/virtual-network/security-overview#service-tags

[2018-09-24 13:38] #15126 closed

[2018-09-24 14:06] himanshi1483 commented on #10341
Hi, I am getting an Access denied error, even after doing all the setup.
 "InnerException": {
        "Message": "An error has occurred.",
        "ExceptionMessage": "Access is denied",
        "ExceptionType": "System.Net.HttpListenerException",
        "StackTrace": "   at System.Net.HttpListener.SetupV2Config()\r\n   at System.Net.HttpListener.Start()\r\n   at Google.Apis.Auth.OAuth2.LocalServ

[2018-09-24 14:13] tarifrr commented on #14958
Do we have to renew the certificates manually or should a certificate be reissued automatically? Because I received an e-mail from the Let's Encrypt Expiry Bot. If a manual reinstall is required, what are the steps?

[2018-09-24 14:20] kylecweeks opened #15493 "Prerequisites"
After opening a support case - it appears that it is required to have an AAD P1/P2 plan in order to authenticate to add this pack into my powerBI space. Please include this documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb954f67-e65e-9bbe-701e-de1eafe8e26f
* Version Independent ID: 39d9b1d9-8074-12c7-7a0

[2018-09-24 14:33] mcurko commented on #14069
Similar problem: I don't have Cosmos DB on the list of output bindings.
![untitled](https://user-images.githubusercontent.com/15943715/45958387-9f0cd800-c017-11e8-92ed-7d8138705242.png)

[2018-09-24 14:38] fms-santos commented on #10421
In the Metadata column (xlsx file) can you guys detail how one can add more than one metadata 'key:value' pair?

[2018-09-24 14:38] Dilipsam1 opened #15494 "OrderDate field is missing"
In my table the OrderDate field is missing. I have the OrderDateKey field.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73cb4e15-a42c-f534-8d53-6b93987ff726
* Version Independent ID: 85919896-b360-8eb5-6237-0e4622255680
* Content: [Azure Analysis Services tutorial lesson 10: Create partitions](https://docs.microsoft.

[2018-09-24 14:40] curtand commented on #14621
Fixed by
https://github.com/MicrosoftDocs/azure-docs-pr/pull/53015

[2018-09-24 14:48] #14958 closed

[2018-09-24 14:54] gldraphael opened #15495 "The links under learning paths aren't working"
(They were working a few hours back though)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e7e0f26-592b-1436-4ee5-7f24eaadf3f2
* Version Independent ID: 10b7fdbb-37a9-fb44-85e6-a681e3dec4d5
* Content: [Media Encoder Standard formats and codecs](https://docs.microsoft.com/en-us/azure/media-services/previous/media-servi

[2018-09-24 14:55] fms-santos commented on #14480
this solved my problem. The documentation is yet to be fixed though.

[2018-09-24 14:59] tarifrr opened #15496 "TLS Certificates Not Auto-Renewing"
Do we have to renew the certificates manually or should a certificate be reissued automatically? Because I received an e-mail from the Let's Encrypt Expiry Bot and I assumed that the certificates would reinstall automatically and did not give heed to the Let's Encrypt e-mail. Hence, when the expiry date arrived the certificate didn't auto-renew and we cannot avail services through the URL. BTW, I

[2018-09-24 15:08] MarileeTurscak-MSFT commented on #15176
However, if you would like to configure some clients for normal AD and some for MFA, this article provides a workaround that will allow you to tweak the NPS so it will allow authentication for either: http://azuredummies.com/2018/01/01/secure-azure-gateway-radius-authentication-with-azure-mfa-nps-extension/ . The tweak is a registry edit towards the end of the article “Prepare for users that aren’

[2018-09-24 15:33] MicahMcKittrick-MSFT commented on #15486
Thanks for the update! Glad to hear you were able to resolve this.

[2018-09-24 15:35] MicahMcKittrick-MSFT commented on #15496
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-24 15:51] DCtheGeek commented on #15362
@badalk - Just checking in.  Did my comment answer your questions?

[2018-09-24 15:51] mike-urnun-msft commented on #15485
Hi @girishgouda Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-09-24 15:52] mike-urnun-msft commented on #15487
Hi @mcurko Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-09-24 15:54] MarkusVi commented on #15365
Hi @ermacia91, the article already states: "Verify that Azure AD Connect has synchronized the computer objects of the devices you want to be hybrid Azure AD joined to Azure AD. If the computer objects belong to specific organizational units (OU), then these OUs need to be configured for synchronization in Azure AD connect as well."

Doesn't this cover your first and last bullet?

[2018-09-24 15:56] joehumphries commented on #15229
Does not work on ukwest.

[2018-09-24 15:59] gldagalea opened #15498 "I get an error "This resource contains existing resources", when I try to use an existing Resource Group (already has resources in it). Why does it require a new or empty RG?"
I get an error "This resource contains existing resources", when I try to use an existing Resource Group (already has resources in it). Why does it require a new or empty RG?

[2018-09-24 16:02] joehumphries commented on #15229
Ignore, k8s is not on UKWEST.. UKSOUTH has the same issue.

[2018-09-24 16:07] ermacia91 commented on #15365
Yes, noticed that after making the comment. I would suggest to make the note more noticeable, as it is easily missed by our customers.

[2018-09-24 16:29] RRWin commented on #15225
@jason-j-MSFT we are only using version 2 of ADF. However, we figured out that we need the Automation Job Operator role at the resource group level (or the Microsoft.Resources/deployments/* action on the role) to be able to share the IR. This is not mentioned in the steps, and should be added for clarity. We tried with resource group owner and contributor, and these roles were not sufficient for s

[2018-09-24 16:33] Adam-Smith-MSFT commented on #15471
@agnel123 Thanks for the feedback, would you be able to provide us with more details regarding your query ?

Thanks,

[2018-09-24 16:34] noontz opened #15499 "Obsolete documentation. JobHostConfiguration will not compile in latest stable 3.0.0"
After latest stable release 3.0.0, part of this documentation is obosolete. Please update.
ref: https://stackoverflow.com/questions/52383479/what-is-the-replacement-for-microsoft-azure-webhosts-jobhostconfiguration

---
#### Dokumentoplysninger

⚠ *Undlad at redigere denne sektion. Det er påkrævet til docs.microsoft.com ➟ GitHub-problemlinkning.*

* ID: 2e9e1a8a-6284-a230-061e-7cb27258571a
* Versi

[2018-09-24 16:37] georgewallace commented on #14587
@brgsstm If you have further questions or concerns please don't hesitate to reach out. @femsulu please close this issue.

[2018-09-24 16:38] MicahMcKittrick-MSFT commented on #14531
@paulmackinnon-adv365 thanks for the update! Very happy to hear it is working for you :)

@mnltejaswini thank you for the assistance on this!

I will close this out as it is now resolved. Let me know if you have any more issues.

[2018-09-24 16:38] #14531 closed

[2018-09-24 16:38] LisandroSu opened #15500 "Key Vault Name is correct but 502.5 Error Return.."
@yourera commented on [Mon Sep 24 2018](https://github.com/MicrosoftDocs/azure-docs.ko-kr/issues/229)

i was doing same this document but, 502.5 error return..
this document said, if 502.5 error ,check your key vault name is correct .
but My code is same my key vault name.

how i can solve this error

---
#### 문서 세부 정보

⚠ *이 섹션을 편집하지 마세요. docs.microsoft.com ➟ GitHub 문제 연결에 필요합니다.*

* ID: 9741f71e-

[2018-09-24 16:38] novaterata opened #15501 "Java Example"
Please provide an example using the Java library. BlobTransferClient does not exist in that library

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39dfb822-5b2e-db83-293d-0113423f5943
* Version Independent ID: b5073ac7-248b-5ec4-7b07-f2359d95c235
* Content: [Download Media Services assets to your computer - Azure](http

[2018-09-24 16:38] MicahMcKittrick-MSFT commented on #14983
@badalk any luck over the weekend?

[2018-09-24 16:38] LisandroSu commented on #15500
Hi team,

Please check the error the user is having following the instructions on the document.

Thanks!

[2018-09-24 16:39] Grace-MacJones-MSFT commented on #15336
Hi @darteco, the virtual IP addresses will be the same. The inbound (virtual) and outbound addresses are the same for all your apps because they are all in the same App Service Plan. However, when it comes to App Service Environments (ASE), you can bind an IP based SSL cert to your web app, which will enable  you to have an app with different IPs.

We will now proceed to close this thread. If ther

[2018-09-24 16:39] #15336 closed

[2018-09-24 16:46] Grace-MacJones-MSFT commented on #15489
Hi @DheeraSite, Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-24 16:46] willzhan opened #15502 "auth_time optional claim works for ID token but not for access token"
I tried to add auth_time optional claim: it works well for ID token but does not work for Access Token. They are added to the manifest of the registered AAD application in the same way.
"optionalClaims":
   {
        "idToken": [
            {
                "name": "auth_time",
                "essential": false
            }
        ],
        "accessToken": [
            {
                "nam

[2018-09-24 16:49] KingdomOfEnds commented on #15384
PS - Think a fix for this got merged in this morning. Might want to double-check and verify.

[2018-09-24 16:49] #15384 closed

[2018-09-24 16:50] Grace-MacJones-MSFT commented on #15495
Hi @gldraphael, Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-24 16:52] Grace-MacJones-MSFT commented on #15492
Hi @timhodgson, thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-24 16:54] Grace-MacJones-MSFT commented on #15270
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-24 16:54] #15270 closed

[2018-09-24 16:56] Adam-Smith-MSFT commented on #15476
@eggind Thanks for the input David, indeed for files it would be preceded by .file, for blobs it would be .blob.core , I'll assign it to the author to check if it was meant to be a generalized case (for all types of storage account ) or specific to the article.

[2018-09-24 16:59] Karishma-Tiwari-MSFT commented on #15425
@TiloGit Any update?

[2018-09-24 17:01] SaurabhSharma-MSFT commented on #15256
@MourIdri We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-24 17:01] #15256 closed

[2018-09-24 17:03] SaurabhSharma-MSFT commented on #15277
@mjcarrabine We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-24 17:03] #15277 closed

[2018-09-24 17:06] BryanTrach-MSFT commented on #15488
@ModCraig Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-24 17:07] badalk commented on #15362
Thanks @DCtheGeek. This clarifies

[2018-09-24 17:09] DCtheGeek commented on #15362
@badalk Great, glad to hear it!  Let us know if you have more questions or doc issues.

@MicrosoftDocs/azure-cxp-triage #please-close

[2018-09-24 17:09] BryanTrach-MSFT commented on #15499
@noontz Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-09-24 17:10] SaurabhSharma-MSFT commented on #15320
@inmishrar Please post this as a feedback https://feedback.azure.com/forums/169401-azure-active-directory This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2018-09-24 17:11] BryanTrach-MSFT commented on #15501
@novaterata Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-09-24 17:12] MicahMcKittrick-MSFT commented on #15229
@russcam @joehumphries I tested this doc on the following regions and it succeeded each time

East US
UK South
Central US
West US

I am running the commands from the Azure Cloud Shell. I tried from local CLI and it worked as well but generally I suggest using the cloud shell. Based on the error it seems like it is having issues connecting to the backend and finding the AKS resource. Hence, using C

[2018-09-24 17:12] #15229 closed

[2018-09-24 17:12] SaurabhSharma-MSFT commented on #15326
@hemanthraparthi As we have not heard back we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-24 17:12] #15326 closed

[2018-09-24 17:13] SaurabhSharma-MSFT commented on #15330
@2022551 As we have not heard back, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-24 17:13] #15330 closed

[2018-09-24 17:14] #15362 closed

[2018-09-24 17:15] rolyon commented on #15370
Hi @skillriver
I've incorporated your changes:
https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/pim-how-to-change-default-settings

[2018-09-24 17:15] MicahMcKittrick-MSFT commented on #15443
@Anmolgan81 if you want to upload your own VHD then you will need to have your own license for the product. Assuming you have that, then when you upload to Azure then you will only pay for the resources you consume. Such as CPU and Storage.

[2018-09-24 17:17] FredFaust commented on #15020
@snehithm What about the TimeAggregation property? In the docs it shows
[code]
But I believe the value should be something like "Average"

[2018-09-24 17:18] MicahMcKittrick-MSFT commented on #15444
@mcurko what you heard from support is correct. In order to use 3rd party services then you need to have a credit card on file as these services and licensing fees are not charged by Azure but from the service provider directly.

I will assign to the content author to see if we should note this in the doc.

@dlepow can you take a look?

[2018-09-24 17:30] hajjat opened #15504 "Forced tunneling and prefix filtering"
Two questions:
- If OnPrem advertises 0/0, would that get propagated to the other circuit?
- Can one filter out the prefixes that get advertised to the other circuit vs. what gets advertised to Vnet? For example, Baltimore announcing prefixes A and B to the Vnets, but only prefix A to San Francisco?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2018-09-24 17:32] IyyappanAmirthalingam opened #15505 "OnAuthorizationCodeReceived Method is missing in the documentation"
Hi,

OnAuthorizationCodeReceived method is not explained in the documentation.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 906907ec-cbe2-59b1-a84e-ce1b1343756f
* Version Independent ID: f498962c-f738-ccd8-a619-de854fac37da
* Content: [Authentication, sign-up, password reset in Azure Active Directory B2C](htt

[2018-09-24 17:33] ggailey777 commented on #14938
Thanks @daniel-rocha for calling this out. We do need to make an Azure Cosmos DB account a prerequisite. I am working on this now.

[2018-09-24 17:33] andrepodnozov opened #15506 "Would like a code sample on GZip/Deflate"
Customers wish to see code samples on how to send compressed messages from the device, both single messages and compressed batches of messages. Ideally, in all Device SDK languages that can support this. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bddf4c6b-8241-80b2-717b-ce3fe72e09c2
* Version Independent ID:

[2018-09-24 17:36] SaurabhSharma-MSFT commented on #15354
@smoms This is a great question but unfortunately to grant a user account or app id access to one secret, you have to grant it access to the entire vault and so restricting access to a specific key/secret would mean to put it in two different vaults. We already have this feature request posted as a [Product Feedback](https://feedback.azure.com/forums/906355-azure-key-vault/suggestions/32213176-per

[2018-09-24 17:36] kobulloc-MSFT commented on #15445
@aL3891 We can't really give out information on billing because even slightly outdated information can have a large financial impact.  The best thing to do is to check out our pricing calculator at https://azure.microsoft.com/en-us/pricing/calculator/.  If you have more specific questions, you can open a billing support request in the Azure portal by going to Help + support > New support request >

[2018-09-24 17:37] MarileeTurscak-MSFT commented on #15490
@mchudinov
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-24 17:37] wesmc7777 commented on #15342
@anjali-intrepid Did you successfully create the project files with CMake in a **C:/.../azure-iot-sdk-c/cmake** directory that you created?

`cmake --build . --target iothub_convenience_sample --config Debug` must be run from the sample folder within those project files.  Is this what you did?

[2018-09-24 17:41] vasivara-MSFT commented on #15424
@dilv0055 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-24 17:41] #15424 closed

[2018-09-24 17:43] georgewallace commented on #14439
@andremarques023 This is now live and working.. You can visit https://docs.microsoft.com/en-us/azure/automation/source-control-integration to learn more about this. @femsulu Please close.

[2018-09-24 17:44] jason-j-MSFT commented on #15225
@nabhishek could you take a look at this, it might be important to add to the document.

@RRWin thanks for the follow up!

[2018-09-24 17:55] MicahMcKittrick-MSFT commented on #15461
@AronT-TLV I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-09-24 17:59] tapialuism opened #15507 "Testing the Load Balancer"
When I force the refresh only VM1 appears.
I checked the backend pool and it looks correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef0097ec-1e6a-bdcf-3883-6b368e9cd618
* Version Independent ID: 16cf78be-d540-b665-3618-e2da834a5fcb
* Content: [Tutorial:Create and manage a Standard Load Balancer - Azure portal](h

[2018-09-24 18:00] Grace-MacJones-MSFT commented on #15492
HI @timhodgson, I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-24 18:01] solidcloudio opened #15508 "Arguments Incorrect"
Continuous integration with Azure Pipelines
Step #2

/p:USQLSDKPath=/p:USQLSDKPath=$(Build.SourcesDirectory)/packages/Microsoft.Azure.DataLake.USQL.SDK.1.3.180615/build/runtime

Should be:
/p:USQLSDKPath=$(Build.SourcesDirectory)/packages/Microsoft.Azure.DataLake.USQL.SDK.1.3.180615/build/runtime

/p:USQLSDKPath=/p:USQLSDKPath= Cant be correct...

---
#### Document Details

⚠ *Do not edit this sec

[2018-09-24 18:02] SaurabhSharma-MSFT commented on #15481
@ahamin01 Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-24 18:02] tapialuism commented on #15507
I did run an experiment and restarted VM1 and redirected to another VM. Only then did I see that the refresh redirect to another VM.

[2018-09-24 18:03] SaurabhSharma-MSFT commented on #15493
@kylecweeks Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-09-24 18:05] SaurabhSharma-MSFT commented on #15500
@yourera Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-24 18:07] SychevIgor opened #15509 "Microsoft.ContainerService and Microsoft.ServiceFabric api versions"
In an https://docs.microsoft.com/en-us/azure/azure-stack/user/azure-stack-develop-templates#api-versioning section we have a list of ProviderNamespaces, but looks like it's complete.
here https://docs.microsoft.com/en-us/azure/azure-stack/user/azure-stack-solution-template-kubernetes-deploy and https://docs.microsoft.com/en-us/azure/azure-stack/user/azure-stack-solution-template-service-fabric-clu

[2018-09-24 18:08] SaurabhSharma-MSFT commented on #15505
@IyyappanAmirthalingam Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-24 18:09] kobulloc-MSFT commented on #15451
@mrbullwinkle It does appear that we could use a bit more clarification in this section.  In particular, I had difficulty tracking down APPINSIGHTS_PORTALINFO and APPINSIGHTS_PROFILERFEATURE_VERSION with the steps that were provided.

![image](https://user-images.githubusercontent.com/37556655/45970027-4541e900-bfea-11e8-961b-e5cf89593097.png)

[2018-09-24 18:10] TiloGit commented on #15425
Well, I miss the documented steps to achieve above item 1 and 2.
If that is possible so I think it is document feedback.

[2018-09-24 18:11] ilindsay760 commented on #15452
None of these instructions seem to work for me and I cannot figure out how to setup a B2C directory / app in our tenant.

[2018-09-24 18:13] hcsmith1111 commented on #15226
Thanks for your prompt response!

[2018-09-24 18:13] #15226 closed

[2018-09-24 18:15] SychevIgor opened #15510 "Microsoft.ServiceFabric/clusters ?"
Could you please specify- is this service fabric cluster really   "type": "Microsoft.ServiceFabric/clusters"?
if so, could you specify here or https://docs.microsoft.com/en-us/azure/azure-stack/user/azure-stack-develop-templates an API Versions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80a333ac-8208-4146-2d99-6b62

[2018-09-24 18:15] EvanBasalik commented on #15066
Correction to the above comments - 10.11 and higher are supported by Azure P2S VPN.

[2018-09-24 18:20] #14439 closed

[2018-09-24 18:20] YutongTie-MSFT commented on #14439
@andremarques023 We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-09-24 18:21] YutongTie-MSFT commented on #15406
@Madrawn We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-09-24 18:21] #15406 closed

[2018-09-24 18:21] YutongTie-MSFT commented on #15428
@crjordan14 We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-09-24 18:21] #15428 closed

[2018-09-24 18:23] SychevIgor opened #15511 "What does it means "closer to the ACS service"?"
Could you describe "Note the template is not the same managed AKS service offered in global Azure, but closer to the ACS service."
Is it "Microsoft.ContainerService/containerServices" or a set of virtual machine without "Microsoft.ContainerService/containerServices"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 407218

[2018-09-24 18:29] iainfoulds commented on #15496
These YAML manifests also use Let's Encrypt staging, rather than production, so make sure that you update accordingly if you're running real workloads.

[2018-09-24 18:30] SychevIgor opened #15512 "CosmosDB in Azure Stack on a screenshot???"
Looks like we should update a screenshot wih policy validation error, because screenshot was done in Azure, not on Azure Stack, because Azure Stack doesn't support "   "type": "Microsoft.DocumentDb/databaseAccounts"
It's not a big problem, but when I recognize that on a sreenshot was mentioned cosmosDB , I was forces to check cosmosdb availability in an Azure Stack.
To prevent misunderstanding, co

[2018-09-24 18:39] SaurabhSharma-MSFT commented on #15354
@smoms Thank you for your feedback. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-24 18:39] #15354 closed

[2018-09-24 18:42] SychevIgor opened #15513 "master branch instead of AzureStackTechnicalPreview1?"
The age of technical preview one gone about a year or 2 ago. Maybe in links to ARM templates like https://github.com/Azure/AzureStack-QuickStart-Templates/tree/AzureStackTechnicalPreview1/sql-2014-non-ha we can use master/develop branches? From a first look, it seems like either documentation is out-of-date or product not yet released (that is not true)

---
#### Document Details

⚠ *Do not edit t

[2018-09-24 18:43] andremarques023 commented on #14439
This is great! Thank you guys.

[2018-09-24 18:46] SaurabhSharma-MSFT commented on #15386
@andrewatfornax Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-09-24 18:49] AlexKeySmith commented on #15270
Thanks @Grace-MacJones-MSFT , the explanation makes sense and follows along with my understanding thanks.

It might be worthwhile expanding the first sentence in the docs "Applies the configuration elements of the destination slot to the source slot" with the additional detail you mention, as it's easy to mistake that this implies all configuration _and_ the slot setting, but it's more detailed th

[2018-09-24 18:50] MohitGargMSFT commented on #15144
@dimachernov As per update from Identity Service Team, this issue is still under investigation. I will add new comment once any updated information is available to share. Thanks.

[2018-09-24 18:53] MohitGargMSFT commented on #15198
@CeciAc As per our email conversation, I will move ahead and close this GitHub issue. Thanks.

[2018-09-24 18:59] MohitGargMSFT commented on #15345
@Phydeauxman We understand your concern. As per stated warning in the document the recommended way is to Microsoft Graph API. However, there are still some limitations in Microsoft Graph API as compared to Azure AD graph API as stated in this [blog](https://developer.microsoft.com/en-us/office/blogs/microsoft-graph-or-azure-ad-graph/). The Microsoft Graph API Team is continuously adding more capab

[2018-09-24 19:05] MohitGargMSFT commented on #15438
@DeanGross Please refer to this document for steps to [Add guest users to an application](https://docs.microsoft.com/en-us/azure/active-directory/b2b/add-users-administrator#add-guest-users-to-an-application).

[2018-09-24 19:07] MarileeTurscak-MSFT commented on #15430
If I understand correctly, you are looking for both regular AAD SSO and Azure B2C SSO?

Here is the best sample for regular AAD SSO: https://github.com/Azure-Samples/active-directory-dotnet-webapp-openidconnect

Here's a video my colleague and I made showing how to use this sample to link multiple web applications via SSO:  https://www.youtube.com/watch?v=MohaxN6fsDs

You should be able to do this

[2018-09-24 19:07] SaurabhSharma-MSFT commented on #15441
@massiveloop You can use REST-based APIs provided by Azure to access the data on these reports for you specific needs. Please refer to [Get started with the Azure Active Directory reporting API](https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/concept-reporting-api) for more details.

[2018-09-24 19:18] BryanTrach-MSFT commented on #15488
@ModCraig Step 6 is for anyone whom might have a firewall or another type of network device that will require the outbound IP addresses to whitelisted. If you are not using special network devices such as a firewall, you likely do not need to complete this step.

Due to the number of 3rd party devices and services that your outbound IP addresses can be listed in, it would be difficult to cover all

[2018-09-24 19:18] #15488 closed

[2018-09-24 19:19] SaurabhSharma-MSFT commented on #15447
@davidsk Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-09-24 19:20] MohitGargMSFT commented on #15439
@tbebekis Thanks for reporting! I have made necessary changes to the script and submitted the pull request.

[2018-09-24 19:21] SaurabhSharma-MSFT commented on #15448
@SvenNoomen Thanks for your feedback and glad to know that you are able to resolve it yourself.  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-24 19:21] #15448 closed

[2018-09-24 19:35] Grace-MacJones-MSFT commented on #15202
Hi @manojbhoyar123, since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.