[2020-03-12 12:32] VikasPullagura-MSFT commented on #50036
@mikaufma
Thanks for the feedback! I have assigned the issue to document author to check and update as appropriate.

[2020-03-12 12:32] VikasPullagura-MSFT commented on #50036
@msjuergent
Can you please check and add your comments on this doc update request.

[2020-03-12 12:32] Mr-Pepper opened #50041 "Deployment Failure"
GE=et an error that PropertyChangeNotAllowed, the steps in this article are not accurate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b6a3e65-41c2-2b42-2a04-64532ba021d3
* Version Independent ID: e24ba292-e0fd-20d7-611c-30b1b664390d
* Content: [Expand existing host pool with new session hosts - Azure](https://docs.

[2020-03-12 12:33] spottedmahn commented on #49470
great, thanks @Mike-Ubezzi-MSFT!

[2020-03-12 12:33] #50026 closed

[2020-03-12 12:39] spottedmahn commented on #49471
`registerMessageHandler` isn't [in the source file](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/servicebus/microsoft-azure-servicebus/src/main/java/com/microsoft/azure/servicebus/MessageHandlerOptions.java) you referenced, 🤔

I believe this is the correct source code, [`SubscriptionClient.registerMessageHandler`](https://github.com/Azure/azure-sdk-for-java/blob/20419b6eb33fd0504247

[2020-03-12 12:48] sujayvsarma commented on #49931
@SumanthMarigowda-MSFT How is that adding value to the question or try to resolve the customer's problem?

[2020-03-12 12:52] michael-niemand opened #50042 "How exactly does CoreDNS know of the configmap without having it as configVolume?"
I tried the various examples with our installation but to no avail. I asked myself how CoreDNS even knows of the ConfigMap without having it mounted into the pod as ConfigVolume? The guide doesn't mention it and thus I didn't do it either....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f95537e-770a-739c-0175-4447a9

[2020-03-12 12:54] sujayvsarma commented on #50040
Requests will fail for a pre-set amount of time. You can find out the "reset time" by examining the `x-ms-retry-after-ms` header returned on any such failed request.

[2020-03-12 12:57] sujayvsarma commented on #50039
#product-question

#CXP team please check this with the product team.

[2020-03-12 12:58] sujayvsarma commented on #50037
What is the question?

[2020-03-12 12:59] mikewillodea commented on #49931
Thanks I’ve managed to get my region working now.

[2020-03-12 12:59] mikewillodea opened #50043 "Sing"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-03-12 13:00] sujayvsarma commented on #49931
@mikewillodea :) What got it fixed ?

[2020-03-12 13:01] sujayvsarma commented on #50043
???

[2020-03-12 13:04] AshokPeddakotla-MSFT commented on #49617
We hope that answers your question. You can also leverage either StackOverflow or MSDN -> [Azure IoT support and help options for customized solution](https://docs.microsoft.com/en-us/azure/iot-fundamentals/iot-support-help).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we wi

[2020-03-12 13:04] #49617 closed

[2020-03-12 13:05] bbojilov commented on #50037
There is no question. The video and the article take confusion regarding how "Allow Azure services to access server" do. Regarding the video you grant access to the resources in your subscription(s), regarding the article the resources "may or may not be part of your subscription". Agree that there is a huge difference between statements.

[2020-03-12 13:07] sujayvsarma commented on #50037
When you set to that level (Allow Azure services to access server), anything in Azure can access it. Like from my subscription, I can access something you operate in yours. The only thing it would disallow is general traffic from www (non-Azure).

[2020-03-12 13:10] sujayvsarma commented on #50043
Looks like an issue got opened here by accident.

#please-close

[2020-03-12 13:10] #50043 closed

[2020-03-12 13:11] AmitavaHazra opened #50044 "How to expose calculated custom field from workday using Get_Worker Process"
Currently Get_Worker process of Human resource api does not expose custom calculated field which are present in our environment. How can we expose them so that we can utilize calculated field from workday to on Prem AD using Azure user provisioning service solution ?
Reference link:
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/workday-inbound-tutorial#customizing-the-list-of-w

[2020-03-12 13:13] dpgindler commented on #49617
We got it working.   It was very hit or miss as there is not really any documentation on this that anyone could find.  Of the provided links, one is a 404, the other is not doing this programatically.
We've been asked to go to Redmond by our MS partner to make a video on our complete solution, but will see about this.

[2020-03-12 13:13] NavtejSaini-MSFT commented on #50018
@arvind-dhariwal Thanks for the feedback. We are looking into this.

[2020-03-12 13:19] sujayvsarma commented on #50011
You will need to intercept the underlying `OpenIdConnect` system's `OnTokenValidated` event. You can add your custom claims there.

[2020-03-12 13:21] sujayvsarma commented on #50011
You cannot add custom claims **to the token** returned by the standard Azure AD.  You can add custom claims to the authenticated principal, but this will not help your scenario.

Why do you want to add it to the token?

[2020-03-12 13:33] mathieu-benoit commented on #45912
Done.

[2020-03-12 13:33] cat-mucius commented on #49744
@sujayvsarma, sorry, I still don't quite understand. Let's say, my "ASE Two" is an ILB ASE. It has a **private** address `192.168.11.11` for incoming connections. I set my `webapp1` in "ASE One" to reach a `webapp2` in "ASE Two" by this address **explicitly**.

Are you saying that there's some component that will perform a Destination NAT, rewriting a destination IP address in the packets sent by

[2020-03-12 13:33] #45912 closed

[2020-03-12 13:42] Ayanmullick commented on #49621
@BrianLevenson , I tried to ping you on Teams.

[2020-03-12 13:44] sujayvsarma commented on #49744
ILB/ELB is fake. It is just a label over things to attempt to call things close to what we experience in a regular datacenter/network environment.

All traffic between two ASEs run through the internal Azure Datacenter Network. And all traffic that reaches the ADN is considered "internet" traffic for billing purposes.

[2020-03-12 13:55] #50001 closed

[2020-03-12 13:56] cat-mucius commented on #49744
Okay, maybe it's considered "internet" traffic for billing purposes - but my question isn't about this. [The diagram](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/app-service/environment/app-service-app-service-environment-network-architecture-overview.md#calls-between-app-service-environments) explains that traffic from "ASE One" will arrive from "ASE Two" **from public IP** o

[2020-03-12 13:57] beelesnik opened #50045 "Redeploying due to host failure(Platform Initiated) for PostgreSQL as service"
Hello.
For Azure VMs I could get such error "Redeploying due to host failure(Platform Initiated)". It is issue with underlying hardware and for VM such redeploying could be twenty minutes long.
How long does it take to execute same action for PostgerSQL as service? Is the correct answer written in that phrase "the entire fail-over process typically takes tens of seconds."?
Thank You

---
#### Docu

[2020-03-12 14:00] CeciAc opened #50046 "Variables used in the pseudo code template"
@verbedr commented on [Thu Mar 12 2020](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/576)

In the template pseudo code there is a reference to 'storageConnectionStringName' and 'storageConnectionStringResourceId' what is the difference and could someone add an example?

@srvbpigh commented on [Thu Mar 12 2020](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/576#issuecomment-59

[2020-03-12 14:03] Chandu12x commented on #50011
I have a requirement where end-user who get an authorized token can use custom user-defined claims present in token for his own logic. Actual  Scenario is, my webap get() method will return an access token.End user will call this webpi endpoint to get token.The custom claims present  in the token, will be used by end user for his requirement.

[2020-03-12 14:08] fabianflanhardt commented on #49672
I'm using custom policy with AzureBlue HTML templates in one tenant and custom HTML templates in another tenant. Page version is 1.2.0 in both cases.
Steps to reproduce are:

- Start password reset user journey
- Get to selfasserted passwordreset step
- enter a password that does not match the pattern provided in newPassword ClaimType Restriction element
- Hit Continue Button

[2020-03-12 14:12] eamonoreilly commented on #43580
Yes - the invocationid usage is described in https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring and usage of the random guid in the binding expression.
Closing this issue but please let me know if additional information is needed.
Thanks,
Eamon

#please-close

[2020-03-12 14:12] #43580 closed

[2020-03-12 14:20] jemag commented on #49578
Adding the devops feedback url, for those who come by this issue: https://developercommunity.visualstudio.com/idea/947371/allow-devops-environments-communication-with-prote.html

[2020-03-12 14:22] spelluru commented on #49042
@CHEEKATLAPRADEEP-MSFT - sorry. I am working against a few deadlines this week and next week. For this issue, I will need help from other service developers. I can take it as an action item and add it to my backlog.  Thanks.

[2020-03-12 14:27] verbedr commented on #50046
Hi,
if it would help. I used the same field for both situation and this works. So my guess would be that *ResourceId or *StringName are actually the same thing and holds the name/key of the secret.

Kr
Dries

[2020-03-12 14:34] souravmishra-msft commented on #49716
@Silencer0001, I would like to know what kind of error you get when you try to exclude a service principal from a CA policy. Excluding the Service Principal is the only way to get the CA policy not get applied on it. Also I am not clear on that statement where you say Service Principals defined with AAD roles. Do share some more insights on this so that we can help you better.

[2020-03-12 14:40] naymore opened #50047 "PublicIPReferencedByMultipleIPConfigs: Public IP Address assignment to Loadbalancer stays on <Pending>"
[code]

[code]

...what? The referenced loadbalancer in my aks infrastructure resource group has one frontend-ip configured. That's in fact my public ip-address which I am trying to bind to my AKS ingress. Does it mean I need to get rid of the loadbalancer alltogether?

As far as I can see the public ip address in the loadbalancer has only one rule. And is only used for outbound traffic (`aksOutbo

[2020-03-12 14:49] speciesunknown opened #50048 "Why an environment variable?"
I don't understand why this article tells people to use an environment variable. The vast majority of use cases will store the connection string in a config file. An environment variable may work on a developers local machine if they only connect to one storage account but this seems unlikely.

What am I missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-03-12 14:52] neerajkr1988 opened #50049 "Takes lot of time to update SP credential for AKS cluster."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-03-12 14:55] OffColour commented on #49845
@amanmcse The laptop is hybrid joined and password sync is turnd on, but if the user has never logged on to the laptop before then when they try to log on it won't let them in because it can't talk to a domain controller to authenticate even if they use their Azure AD account account name.

The user won't have local credentials.

So this is why I want to be able to connect to the VPN BEFORE attemp

[2020-03-12 14:55] bharatraja opened #50050 "Message Enrichment not showing up in Stream input"
Hi - The message enrichments work as described when writing to Blob storage however not seeing the same in the Stream input to a Stream Analytics job. Is that behavior as expected.

[2020-03-12 15:03] ramadarla opened #50051 "Express route monitoring without on-premagents"
I have customer with Express Route terminated at service provider's datacentre, from there over MPLS different factories will reach azure workloads. This document does not cover such scenario where we can't install on-prem agents and need to monitor end to end metrics of Express Route.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-03-12 15:06] philipverlinden opened #50053 "Sample project documentation Data Pipeline / Data Flow"
Recently struggled to get this up and running, would be good to have some sample projects available with CDS/Dynamics 365 that you can upload or leverage. For example when starting with a Data Flow, CDS is not available as Source option?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 304d4c46-c0ac-05c9-15eb-d8b677ec5e9

[2020-03-12 15:08] shizn commented on #47406
This issue has been fixed in the https://github.com/Azure/iotedgedev repo. Thanks!

[2020-03-12 15:08] cricex commented on #48147
Yes it does, thank you!

[2020-03-12 15:15] amjad-Alhusseini opened #50054 "Why Baido is deprecated and what's the alternative"
Our feedback about this article is that it doesn't clear why Baido tutorial is deprecated and what's the alternative to work in China since FCM doesn't work (google being blocked).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fff427e-92da-d0fe-e0a1-2cdefee16bb9
* Version Independent ID: 9790df2c-c30d-8cf6-fa8f-4f02e

[2020-03-12 15:24] cananac commented on #49667
Thanks @SaurabhSharma-MSFT

[2020-03-12 15:24] #49667 closed

[2020-03-12 15:25] computernations opened #50055 "Instruction for 8x8 setup single sign-on with SAML"
Instruction for basic SAML configuration
Configure Azure AD SSO
The Steps 4 a. and b. are available to do but then what?  I’m assuming click on Save, right?  Which then drops you back out to the Set up Single Sign-On with SAML blade.

Step 5
On the Set up single sign-on with SAML page, in the SAML Signing Certificate section, find Certificate (Base64) and select Download to download the certificat

[2020-03-12 15:26] likebupt commented on #48850
Thanks for your feedback. I have created a [pr ](https://github.com/MicrosoftDocs/azure-docs-pr/pull/107468)to update this section.

[2020-03-12 15:31] davidallyoung commented on #39901
I would like to add in here, being a consumer of the Microsoft.Azure.Servicebus library, I'm really left out of the loop on how to achieve some of these performance recommendations.

I'd like to point anyone looking for BASIC samples to go here: https://github.com/Azure/azure-service-bus/tree/master/samples/DotNet/Microsoft.Azure.ServiceBus

However, these samples do not get into the high-throughp

[2020-03-12 15:35] abainbridge opened #50056 "The failsafe PMD drops packets. Show how to use the netvsc PMD instead."
The instructions on this page show how to setup the failsafe PMD. Unfortunately, that PMD drops the first packet in every flow, which will cause problems for many applications - see https://bugs.dpdk.org/show_bug.cgi?id=418

It is possible to use the netvsc PMD instead. The instructions for that are here: https://doc.dpdk.org/guides/nics/netvsc.html

---
#### Document Details

⚠ *Do not edit this

[2020-03-12 15:39] davidallyoung commented on #36528
I would really love to see this documentation get updated, it has been super confusing as a consumer of the .Azure.Servicebus library.

[2020-03-12 15:40] BharathNimmala-MSFT commented on #50027
@Mobrockers Thank you for query, we will further look into it and get back to you at the earliest.

[2020-03-12 15:54] smudgecat commented on #49934
Thanks for the reply. I thought it was a bug, however couldn't get this fact over to the support engineer.
Below are some examples. Searching for an username that begins with an 'H' does not find anything in the first 3 examples. Searching for user by name shows an account beginning with 'H'.
The last 2 examples show searching for an account beginning with a 'W'.

![Risky Issue 1](https://user-ima

[2020-03-12 15:57] robch commented on #49989
This isn't specific to Azure Speech SDK/Service... In the field of speech recognition, the best solution to this problem is called "echo cancellation".

On Windows, some hardware has advanced audio processing techniques that will effectively "remove the audio output" from the "audio input". You can read a bit more about that [here](https://docs.microsoft.com/en-us/windows-hardware/design/component

[2020-03-12 15:57] gatortarheel opened #50057 "Azure CLI command needs tweaking"
I needed to provide the full local path as a parameter to get the CLI command to work:
az group deployment create --name devenvironment --resource-group delete-this-rg --template-file$templateFile --parameters 'C:\code\armtemplates\azuredeploy.parameters.dev.json'

The command as provided:
PS C:\WINDOWS\system32&gt; az group deployment create --name devenvironment --resource-group delete-this-rg -

[2020-03-12 15:57] dstampfli commented on #49574
Hi Folks, I used AKS to create an AAD enabled cluster.  I have owner rights on both the tenant the subscription.  The subscription is pay-as-you-go.   I plan on recreating the cluster and trying again in the next few days.  If there are specific checks that I should do, please let me know.  By the way, I have enabled AzMon for Containers many times on my AIRS subscription (I'm a Microsoft CSA) wit

[2020-03-12 16:01] IEvangelist commented on #49989
With the details from @robch here, I'm inclined to mark this issue as resolved, but I'd love to ensure that the customer is satisfied with the response. Please let us know @Nesyne if this is helpful and if we can close this issue.

Thank you

[2020-03-12 16:03] zr-msft commented on #49993
@ohorvath You can create a cluster with additional node pools, including spot pools, using an ARM template

cc @palma21

[2020-03-12 16:07] evertonmc opened #50059 "How-to disable the developer-portal"
is there a way to disable it at all?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1c96ba5-164a-e66f-a782-d0cd60a500f3
* Version Independent ID: c0f01676-6a46-99a7-a56f-3b2d6eb5e965
* Content: [Overview of Azure API Management developer portal - Azure API Management](https://docs.microsoft.com/en-us/azure/api-managem

[2020-03-12 16:13] NorthHighlandNicole commented on #48346
I'm not working in .net core

[2020-03-12 16:14] scrubbles opened #50060 "Support for File Management on User Deletion"
Does AzureAD provisioning for Box support transfer ownership / backup of files upon user account deletion? Right now in Okta we have all of our deleted users files automatically transferred to a User Backup Service account in Box so that a deleted user's files can be easily recovered/accessed if needed.

https://help.okta.com/en/prod/Content/Topics/Provisioning/Box/configure-box.htm

---
#### Docu

[2020-03-12 16:16] cijothomas commented on #48346
If not on .net core, the doc suggest using new TelemetryClient().

[2020-03-12 16:16] henriquebelotto commented on #49984
I set up the redirect_uri in the app -> Authentication
but when I try my sign-up process using the website (localhost) and I click on "cancel", I just get back an error screen (Azure) with the code "AADB2C90091: The user has cancelled entering self-asserted information."
Btw, I'm using custom policy.

So, in order to set up the "cancel" button to return to the sign in or sign up page, I need to us

[2020-03-12 16:17] NorthHighlandNicole commented on #48346
@cijothomas Which is why I opened this, it has been marked obsolete.

[2020-03-12 16:20] cijothomas commented on #48346
Its obsolete only for .NET Core. .NET Framework continues to use it, along with TC.Active as well.

[2020-03-12 16:22] MarileeTurscak-MSFT commented on #50012
@seagullt
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-12 16:24] wesmc7777 commented on #46923
#please-close

[2020-03-12 16:24] #46923 closed

[2020-03-12 16:26] SaurabhSharma-MSFT commented on #49792
@mbell85 Great to hear that you are unblocked.  Appreciate if you could help providing the solution details so that I take it up to the documentation author to get that information added to the documentation.

[2020-03-12 16:30] MarileeTurscak-MSFT commented on #50011
@Chandu12x please include the link to the document which you are following so that we can better assist.

[2020-03-12 16:32] divyaswarnkar commented on #49876
@smoms you should be able to send XML request to HTTP trigger. You can then use it through Body in the subsequent steps

[2020-03-12 16:32] MarileeTurscak-MSFT commented on #50034
@pmia
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-12 16:33] naymore commented on #49948
what info are you missing?

[2020-03-12 16:34] SaurabhSharma-MSFT commented on #50033
@scottclarke1 Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-12 16:35] asergaz commented on #49650
Glad we could help you @mms :)!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-12 16:35] #49650 closed

[2020-03-12 16:35] SaurabhSharma-MSFT commented on #50055
@computernations Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-12 16:35] naymore commented on #50047
...or did the documentation mean to say: regardless of whether you already have a public ip address or not - you need another one?

[2020-03-12 16:36] SaurabhSharma-MSFT commented on #50060
@scrubbles Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-12 16:40] SamaraSoucy-MSFT commented on #41902
Self-contained deployment is currently not supported with the codeless monitoring- it's dependent on IIS. If you are using a self-contained app you'll need to add the libraries to your project.

https://docs.microsoft.com/en-us/azure/azure-monitor/app/azure-web-apps?tabs=netcore

[2020-03-12 16:44] asergaz commented on #50038
Hello @qusp66,
Thank you for your feedback!

As you are configuring a transparent gateway, "downstream devices (sometimes called leaf devices or child devices) need identities in IoT Hub like any other device." Therefore they have a SharedAccessKey and you can retrieve it from your IoTHub on Azure Portal.

See [How an IoT Edge device can be used as a gateway](https://docs.microsoft.com/en-us/azure

[2020-03-12 16:46] mtaylorfsmb opened #50062 "Test CORS section needs more information"
The section on Test CORS is missing some useful information making it difficult to tell if anything is actually working.
1. It says to paste the URL into Remote URL. What URL? https://&lt;tenant&gt;.bc2login.com? https://&lt;tenant&gt;.b2clogin.com/fsmbb2c.onmicrosoft.com? Does it need slashes or not?
1. What should the expected result be? When I paste in the above URLs the browser console shows C

[2020-03-12 16:46] kummanish commented on #48003
We have already published ARM template along with the Portal changes.
https://docs.microsoft.com/en-us/azure/postgresql/howto-data-encryption-portal#using-an-azure-resource-manager-template-to-enable-data-encryption

az CLI commands will be available in a 1 months time.

[2020-03-12 16:47] amergey opened #50063 "Update image reference sku"
hello reading this part of the doc https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-upgrade-scale-set#create-time-properties
we assumed image reference sku could be updated, but when executing
az vmss update --name myScaleSet --resource-group myGroup --set virtualMachineProfile.storageProfile.imageReference.sku=5-1 is failing with "Changing property 'ima

[2020-03-12 16:47] tfitzmac commented on #49805
@vishalkalal07 - yes, this functionality still works. There seems to be an issue with the schema validation that causes VS Code to not recognize it, but you can definitely deploy the template and create the resource group.

[2020-03-12 16:48] tfitzmac commented on #49805
#please-close

[2020-03-12 16:48] #49805 closed

[2020-03-12 16:48] MarileeTurscak-MSFT commented on #50013
@vivrao please include the link to the document that you are following so that we can better assist.

[2020-03-12 16:53] mikebudzynski commented on #50059
If you don't publish the developer portal, it's not exposed. Alternatively, you can put Azure API Management in a virtual network. Please, contact support, if you have more questions.

#please-close

[2020-03-12 16:53] #50059 closed

[2020-03-12 16:54] CundyTech opened #50065 "Durable Functions host.Json Examples Incorrect"
In all of the host.json examples on this page (host.json settings) are possibly incorect? Shouldn't v2 durableTask items be part of  the extensions object as documented here:
https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-perf-and-scale#functions-20

Without this for me the maxConcurrentActivityFunctions option was being ignored.

---
#### Document details

⚠ *Do

[2020-03-12 16:55] vishalkalal07 commented on #49805
Thank you.

[2020-03-12 17:02] BryanTrach-MSFT commented on #50054
@amjad-Alhusseini We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-12 17:04] MartinJaffer-MSFT commented on #50053
Thank you for your feedback, @philipverlinden . This has been assigned to the content author,
@linda33wj , for further review and will provide an update as appropriate.

[2020-03-12 17:15] Chandu12x commented on #50011
@MarileeTurscak-MSFT I'm following below posts for implementing custom user-defined claims.
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-optional-claims
https://rasmustherkelsen.wordpress.com/2019/12/09/custom-claims-in-azure-ad/
https://www.rahulpnath.com/blog/azure-ad-custom-attributes-and-optional-claims-from-an-asp-dot-net-application/

Could you please guid

[2020-03-12 17:27] MGoedtel commented on #44898
Closing this as I have a work item open to track this item and engineering is working to address this.  Once they complete modifying the script to use Az module cmdlets, the updated version will be uploaded to the PowerShell Gallery. #please-close

[2020-03-12 17:27] #44898 closed

[2020-03-12 17:28] MGoedtel commented on #44336
Escalating to @jaspkaur28 to review and respond.

[2020-03-12 17:32] MartinJaffer-MSFT commented on #49697
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-03-12 17:32] #49697 closed

[2020-03-12 17:53] kumarallamraju opened #50066 "typo in resource group name"
[Enter feedback here]
  # Create an Azure Load Balancer.
   az network lb create \
    --resource-group myResourceGroupLB \
    --name myLoadBalancer \
    --public-ip-address myPublicIP \
    --frontend-ip-name myFrontEndPool \
    --backend-pool-name myBackEndPool \
    --sku Standard

The resource group should be myResourceGroup

---
#### Document Details

⚠ *Do not edit this section. It is req

[2020-03-12 17:55] AjayKumar-MSFT commented on #49248
@robcamer, Apologies for the delay! I have noticed similar issues (error) when the WebApp name set is not unique, kindly review to see if you're using a unqiue WebApp name.  Kindly find a similar discussion on this [here](https://github.com/ansible/ansible/issues/55836).

Thanks for leveraging Azure docs feedback channel to raise this question!
This channel is reserved for ‘Azure docs’ feedback- d

[2020-03-12 17:55] #49248 closed

[2020-03-12 17:59] HoPGunmaster opened #50068 "does this tutorial make sense for "apiVersion": "2019-06-01" ?"
Documentation for the latest schema says "encryption - Not applicable. Azure Storage encryption is enabled for all storage accounts and cannot be disabled.". If encryption can't be disabled I don't see point in having exercise to enable it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e42367a3-b625-d48d-1066-d8326135

[2020-03-12 18:00] asudbring commented on #50066
Submitted PR to fix:
https://github.com/MicrosoftDocs/azure-docs-pr/pull/107497

[2020-03-12 18:00] kknight-valorem opened #50069 "PowerShell command will ask you for -VM and you will also need -CreateOption"
# Set the OSDisk to be Ephemeral (not persisted)
$VirtualMachine = New-AzVMConfig -VMName $VMName -VMSize $VMSize
$VirtualMachine = Set-AzVMOSDisk -VM $VirtualMachine -DiffDiskSetting Local -Caching ReadOnly -CreateOption FromImage

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8064dd15-4df9-79ed-9ba2-6faceb0fc6d0
* Ve

[2020-03-12 18:11] asudbring commented on #50066
MicrosoftDocs/azure-docs-pr#107497
merged
#please-close

[2020-03-12 18:11] #50066 closed

[2020-03-12 18:18] jpconnock commented on #44968
Thank you, @SamaraSoucy-MSFT

I've added an item to our backlog to expand on the use of MSI in a local development environment.  I'm going to close this issue for now, but if anyone has further feedback, please don't hesitate to reopen it so we can discuss.

#please-close

[2020-03-12 18:18] #44968 closed

[2020-03-12 18:22] MarileeTurscak-MSFT commented on #50022
@AmitavaHazra
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-12 18:39] expired00 opened #50071 "How do you unassign a user from a session host?"
This article explains how to assign a user to a personal session host with no reference to how to unassign the user. Running the Set-RdsSessionHost &lt;tenantname&gt; &lt;hostpoolname&gt; -Name &lt;sessionhostname&gt; -AssignedUser &lt;userupn&gt; command a second time returns set-RdsSessionHost : The SessionHost ≤≥ is already assigned to user

---
#### Document Details

⚠ *Do not edit this sectio

[2020-03-12 18:41] asergaz commented on #49492
@chmagitt I am trying to repro it on my side. Also let me ask you to check the alternative documentation guiding on how to Set up a Windows development environment directly on the azure-iot-sdk-c repository: https://github.com/Azure/azure-iot-sdk-c/blob/master/doc/devbox_setup.md#set-up-a-windows-development-environment

Fyi @wesmc7777 in case there is anything new that needs to be changed at the

[2020-03-12 18:43] mike-urnun-msft commented on #50039
Thank you for your feedback! We will review and update as appropriate.

[2020-03-12 18:44] mike-urnun-msft commented on #50065
@CundyTech Thank you for your feedback! We will review and update as appropriate.

[2020-03-12 18:51] Mike-Ubezzi-MSFT commented on #49915
Adding sslmode valid values per PostgreSQL SSL Mode Descriptions documentation: https://www.postgresql.org/docs/current/libpq-ssl.html

[2020-03-12 18:51] kuwe1990 commented on #49907
sorry I do not get what doc you are looking for? I thought it is the dockerfile I am using

[2020-03-12 18:58] JPBres opened #50072 "Multipolygon format is wrong"
Valid one =&gt;
{
    "type":"MultiPolygon",
    "coordinates":[ [[
        [52.0, 12.0],
        [53.0, 12.0],
        [53.0, 13.0],
        [52.0, 13.0],
        [52.0, 12.0]
    ]],
    [[
        [50.0, 0.0],
        [51.0, 0.0],
        [51.0, 5.0],
        [50.0, 5.0],
        [50.0, 0.0]
    ]]]
}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-03-12 19:01] KVHEY commented on #43139
I am also experiencing the same issue. Have Read and Contributor set up, logged in to TSI and PBI as same account. Slight difference is my TSI instance was created as part of an MS Farmbeats install.

Any help greatly appreciated

[2020-03-12 19:11] Grace-MacJones-MSFT commented on #49279
Hi @Nimleth thanks for your patience.  It is not compatible at the moment. This request has been [documentented](https://feedback.azure.com/forums/217313-networking/suggestions/37438756-mutual-tls-authentication-on-application-gateway) on our uservoice forum.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly

[2020-03-12 19:11] #49279 closed

[2020-03-12 19:12] MarileeTurscak-MSFT commented on #50025
@ChrisSommers
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-12 19:17] BrianLevenson commented on #49621
Hi @ayanmullick, this is not something I can address. Sorry!

[2020-03-12 19:19] t2-ml opened #50073 "Change password URL"
This isn't located in the azure portal or at least the windows you've used as examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fdf59c4-653e-956e-d675-f7e17ed7d488
* Version Independent ID: 57b9c048-a938-6e21-633b-e0aabdd59946
* Content: [Tutorial: Azure Active Directory single sign-on (SSO) integration with G

[2020-03-12 19:22] loftyet opened #50074 "Is this document still valid?"
Apparently, UI looks differently now. I am able to follow along this tutorial until I received error message
"
The decryptor is null, please check the compute type and make sure linked service run on right compute.
"
Seems sending email needs to link a compute? In this tutorial, the screenshot doesn't show "linked servicce" but the current UI shows, sound like a linked service needed.
How to confi

[2020-03-12 19:28] henriquebelotto opened #50075 "Email Field becomes weird when I customize the webpage"
I followed exactly the steps provided in this page to customize my UI. For now, I have just followed the steps and I haven't modified the HTML (except to change the references to the CSS and other files). However, when I run the signupsignin (unified.html), the "email" input field becomes smaller and weird. Everything else looks the same.
Any suggestion what might be causing it?

---
#### Document

[2020-03-12 19:32] djpmsft commented on #50074
@loftyet You are correct that this UX needs to be updated. This error message needs to be improved as well.

Is your Linked Service referencing an Self-Hosted integration runtime? If so can you try using an Azure IR and see if the error goes away

[2020-03-12 19:32] ssljivar commented on #49722
Hi, I confirmed that my docker configuration was correct on the Linux VM on which I encountered the error.  I was able to follow another general tutorial that involved building a sample .NET Core C# program on Linux, placing it in a Docker containers, pushing it to Azure Container Registry, then pulling it down to my Raspberry Pi 3, and running the container successfully.

Note that the error that

[2020-03-12 19:34] jeevansd commented on #50073
@t2-ml Yes the app name is now changed to "Google Cloud / G Suite Connector by Microsoft"

@chetansriv and @v-nagta  Can you please update the tutorial with the correct name here?

[2020-03-12 19:34] jeevansd commented on #50073
#please-close

[2020-03-12 19:34] #50073 closed

[2020-03-12 19:35] AndresUrregoAngel opened #50076 "Terrible mistake on default service settings"
According to the documentation every time you create a new SQL server on Azure there are few services coming as default ON.

**"Enable automatic tuning on server
On the server level you can choose to inherit automatic tuning configuration from "Azure Defaults" or not to inherit the configuration. Azure defaults are FORCE_LAST_GOOD_PLAN is enabled, CREATE_INDEX is enabled, and DROP_INDEX is disable

[2020-03-12 19:36] Karishma-Tiwari-MSFT commented on #50041
@Mr-Pepper Can you please elaborate on the following so that it would help us update the document:
1. At which step are you seeing the error?
2. You mentioned 'the steps in this article are not accurate', can you please provide more details on this.

Thanks,

[2020-03-12 19:36] MarileeTurscak-MSFT commented on #50029
@Clen10 please post the link to the article you are following so that we can better assist.

[2020-03-12 19:37] shashishailaj commented on #49620
@dilipr05 We checked this and found that this could happen if group policy setup is not done properly or any kind of security filtering is done which could adversely impact the non-pilot users. It is not possible to troubleshoot through github hence we would request you to open a case with us. We will now close this issue because we use github primarily for documentation improvement. In case you h

[2020-03-12 19:37] #49620 closed

[2020-03-12 19:38] AjayKumar-MSFT commented on #49245
Apologies for the delay! I completely understand it is a frustrating experience with this issue. I'm checking on this with our product engineering team and I will post back with an update soon.

[2020-03-12 19:39] MarileeTurscak-MSFT commented on #50044
@AmitavaHazra
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-12 19:41] AjayKumar-MSFT commented on #49749
Rob, I understand the importance of this item. Apologies for the delay! @sethmanheim, Requesting your comments on this request.

[2020-03-12 19:44] PSGi opened #50077 "Get-AzurePolicy is not recognized as the name of a cmdlet..."
After installing the Azure AD PowerShell Module Public Preview Release  using the details form the link on this page (Install-Module -Name AzureADPreview, I also had to use the -AllowClobber flag to complete the install successfully), I am not able to run Get-AzureADPolicy.  I receive an error  "Get-AzurePolicy is not recognized as the name of a cmdlet..."

---
#### Document Details

⚠ *Do not edi

[2020-03-12 19:45] shashishailaj commented on #49979
@daweins The article was indeed updated but has changed since then . I will have this looked into by the author to see if we can add a not explaining deprecated accounts on the page. Earlier the page had a recommendations section below but it had been updated with the changing product.  You can find the following table for reference. I will try to find more information and let you know accordingly

[2020-03-12 19:49] Mike-Ubezzi-MSFT commented on #49915
I was able to get AAD Authentication to work using Bash Cloud Shell. The doc could use an update with regards to `sslmode=`. Assigning to content team for review.

[2020-03-12 19:50] Karishma-Tiwari-MSFT commented on #50042
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-12 19:54] mmacy commented on #46469
@cmgharris @jpietruszewski We're still working on getting an answer for you on this, apologies for the delay. Will update here as information comes available.

[2020-03-12 19:54] acworkma opened #50079 "Incorrect directions"
I tried to follow this page and got errors. Specifically if you follow the directions it tells you to use sudo to mount.
sudo blobfuse ~/mycontainer --tmp-path=/mnt/resource/blobfusetmp  --config-file=/path/to/fuse_connection.cfg -o attr_timeout=240 -o entry_timeout=240 -o negative_timeout=120
This leads to the mount point only being accessible be root.
I tried to repeat the directions without usi

[2020-03-12 19:58] igorjnz commented on #49119
@msrini-MSFT Any update regarding this? Not sure why this got closed

[2020-03-12 19:59] wildurano commented on #49786
Do we have updates when the select All users feature will be available?

[2020-03-12 20:00] nickkarpuk opened #50080 "DocumentClient.OpenAsync method usage limitations"
Hi there!

We recently ran into an issue with an internal undocumented RU limit of metadata requests that can be made. As many other teams we used healthchecks in .NET Core with a DocumentDb healthcheck nuget (developed and supported by other team, not Microsoft). At some point as we grew the number of service instances they started generating too many requests to Cosmos DB's metadata and we start

[2020-03-12 20:03] Grace-MacJones-MSFT commented on #49966
Thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2020-03-12 20:20] cmmdesai commented on #49555
@AmitavaHazra Irrespective of license assignment, the Workday to AD user provisioning and write back will continue to work for all users. There is no service level impact if some users do not have licenses assigned. As a business best practice, you should stay compliant with Azure AD licensing terms. For specific questions around Azure AD licensing, please reach out to your Microsoft Account Manag

[2020-03-12 20:22] henriquebelotto commented on #50075
I found out that this issue has been reported in the github page

https://github.com/Azure-Samples/Azure-AD-B2C-page-templates/issues/5#issue-563498350

For now, the proposed solution, as stated in one the replies is:

The "TrustFrameworkBase.xml" has the following claimtype:
<ClaimType Id="signInName"> <DisplayName>Sign in name</DisplayName> <DataType>string</DataType> <UserHelpText/> <UserInputT

[2020-03-12 20:24] mhopkins-msft commented on #50048
Hello @speciesunknown

In the past, when we've had samples with credentials in configuration files, we found that some people would forget about it and would end up shipping their personal credentials as part of the project. We came up with this solution of using environment variables instead. It's not perfect, but it does solve that problem of people accidentally passing around their personal cre

[2020-03-12 20:24] #50048 closed

[2020-03-12 20:30] cmmdesai commented on #50044
@AmitavaHazra The current integration only supports fields that are available in Get_Workers() response. Please check with your Workday subject matter expert on how to expose custom calculated fields in Get_Workers response. Then you can write an XPATH expression to pull that field value from Workday into AD.

[2020-03-12 20:33] sauryadas commented on #50016
Yup this is correct the CA cert has 30 years validity but the others have 2 years validity..
@zr-msft please update the docs.

FYI @andyzhangx

[2020-03-12 20:35] cmmdesai commented on #50022
@AmitavaHazra Please check with your Workday subject matter expert if the attribute you want in Get_Workers response can be exposed using a Workday concept called integration system attribute.

[2020-03-12 20:37] curtand commented on #43323
Hi @DeanGross  and @stewalshy
I updated the article. Is should be live by 4 PM PDT today.

#please-close

[2020-03-12 20:37] #43323 closed

[2020-03-12 20:47] YhorbyMatias commented on #44738
Hello someone can tell if this was fixed?

[2020-03-12 20:47] t2-ml commented on #50073
hi there, that wasn't my question. There isn't a "Change password url" in the Google Cloud / G Suite Connector by Microsoft app.

[2020-03-12 20:53] yoelhor commented on #49702
If the federated identity provider has a well-known configuration endpoint that contains a sign-out url, B2C will invoke the sign-out endpoint. Please see the  Azure AD common well-known configuration endpoint metadata. https://login.microsoftonline.com/common/v2.0/.well-known/openid-configuration

Note: on the sign-out, azure an B2C uses an iframe with GET request to the logout endpoint (without

[2020-03-12 20:56] MarileeTurscak-MSFT commented on #50034
@pmia Thanks for this! I made a pull request to update the steps and screenshot.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/107530

CC: @msaburnley

[2020-03-12 20:56] #50034 closed

[2020-03-12 21:00] cahann commented on #49830
No list entities shouldn't be case sentitive. Nothing in LUIS for conversation is case sentitive

[2020-03-12 21:05] bandersmsft commented on #49543
#please-close

[2020-03-12 21:05] #49543 closed

[2020-03-12 21:05] ajopjo commented on #49702
yes the one registered is https://stage.identity.bosch.com/.well-known/openid-configuration has an end session end point. The RP gets signed out from Azure B2C and its not signed out from the Federating ID provider.

[2020-03-12 21:05] bandersmsft commented on #49662
#please-close

[2020-03-12 21:05] #49662 closed

[2020-03-12 21:14] #50044 closed

[2020-03-12 21:17] #50016 closed

[2020-03-12 21:18] BharathNimmala-MSFT commented on #50057
@gatortarheel Appreciate your feedback, we will take a look and fix the document accordingly.

[2020-03-12 21:20] MarileeTurscak-MSFT commented on #50076
@AndresUrregoAngel please provide a link to the document which you are following so that we can help fix this.

[2020-03-12 21:20] BharathNimmala-MSFT commented on #50068
@HoPGunmaster Thank you for your feedback, assigning this to our document author @mumian to further evaluate the feedback and update the document accordingly.

[2020-03-12 21:23] SaurabhSharma-MSFT commented on #50062
@mtaylorfsmb Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-03-12 21:24] robledop commented on #33551
I tried running the Runbook manually, but keep getting these errors:

#############
Select-AzSubscription : Please provide a valid tenant or a valid subscription. At line:39 char:1 + Select-AzSubscription -SubscriptionId $SubscriptionId + ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ + CategoryInfo : CloseError: (:) [Set-AzContext], ArgumentException + FullyQualifiedErrorId : Microsoft.Azu

[2020-03-12 21:24] MarileeTurscak-MSFT commented on #50050
@bharatraja please provide the link to the document which you are following so that we can better assist.

[2020-03-12 21:25] Grace-MacJones-MSFT commented on #49396
Hi @ohwellwhatever, I checked with our engineering team internally and they confirmed that user assigned is still **not** supported for key vault references. The documentation you shared talks about how to use system-assigned and user-assigned identities for App Service and Azure Functions applications but doesn't specifically talk about key vault references.

We will now proceed to close this thr

[2020-03-12 21:25] #49396 closed

[2020-03-12 21:27] zr-msft commented on #50016
Thank you for the feedback @dcbrown16. I've updated the docs and the changes should be available soon.

[2020-03-12 21:31] ohorvath commented on #49993
I tried to deploy a new cluster using ARM with scaleSetPriority: Spot against api 2020-02-01 without any luck. The pool created as regular.

[2020-03-12 21:35] nthewara opened #50085 "RDP8 Update points to x86 version"
Step 7 - KB points to x86 version of the RDP 8 Update. This needs to be updated with x64 version instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fd639e8-7b52-88a0-fbc4-a2a5934dc9ee
* Version Independent ID: b22b8d3b-c885-934c-77d6-8e39ab23d445
* Content: [Deploy Windows 7 virtual machine Windows Virtual Deskto

[2020-03-12 21:36] AlexeyBoiko opened #50086 "Resolve a subscription error - 400 InvalidValue Failed to decrypt token with either primary or secondary secret"
Please give any info on this.

Steps:
1. Customer select SaaS offer in Ms AppSource store and install it
2. AppSource redirect user to my SaaS web page with ?token=&lt;token&gt; url parameter
3. My SaaS web page try to resolve token: send POST to https://marketplaceapi.microsoft.com/api/saas/subscriptions/resolve?api-version=2018-08-31 with proper x-ms-marketplace-token header
4. Some times it wor

[2020-03-12 21:40] ohorvath commented on #49993
Never mind, I've used incorrect parameter names but as I didn't get any error message I thought this was ok. Now the deployment works fine, but the documentation is not so clear about the support of creating new clusters with spot pools. Thanks for the help anyway.

[2020-03-12 21:41] #49966 closed

[2020-03-12 21:55] NavtejSaini-MSFT commented on #50018
@arvind-dhariwal Both of these work in their own right and are different concepts. Please mention what is specific ask in terms of Document feedback.

[2020-03-12 22:09] cecilphillip opened #50089 "Significance of __app__"
I think it would be good to expand on the explanation of what "\_\_app\_\_" represents? I've gotten questions like =&gt;
* What if it's a different name like \_\_myapp\_\_?
* Does `func start` look for that name specifically?
* Is it configurable? Can the name change?
* Does that layout work with the VS Code launch settings?

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2020-03-12 22:12] MarileeTurscak-MSFT commented on #49934
Thanks for these details!

To clarify - are you saying that if you search by the full name, the users appear, but if you just search with the letter, you don't see anything?

Are you also saying that if the name begins with something other than a letter (like a number), it will query all the names, or just that it doesn't search by fragments?

[2020-03-12 22:14] tfitzmac commented on #49935
Thanks for the feedback. I have updated the list of resource providers and their associated service names. It should get published tomorrow morning.

[2020-03-12 22:14] tfitzmac commented on #49935
#please-close

[2020-03-12 22:14] #49935 closed

[2020-03-12 22:15] Muhammad-Taimur commented on #27848
Azure Cloud are not accepting ssh key. They are accepting SSH2 key.

ssh key is something like that:

![image](https://user-images.githubusercontent.com/27746978/76570778-fc1b7880-64ad-11ea-8267-cc1b4f92b5f2.png)

SSH2 is something like that:

![image](https://user-images.githubusercontent.com/27746978/76570833-181f1a00-64ae-11ea-9729-cad2f3670cac.png)

To make the SSH2 key open cmd (on windows) r

[2020-03-12 22:15] dbarkwell commented on #49938
The SAS url needs to be the SAS of the **document**, not the container.

[2020-03-12 22:17] BrianLevenson commented on #50086
Hi @alexeyboiko - Thanks for reaching out! We'll need to do a bit more investigation to understand what is occurring. At your convenience, please submit a support case here: https://aka.ms/MarketplacePublisherSupport or through Partner Center.

[2020-03-12 22:20] SaurabhSharma-MSFT commented on #50033
As per the changes mentioned in the document [here](https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/azure-ad-roles-features#powershell-change),  you need to replace **AzureResources** in ProviderId parameter with **aadRole** to make it work. e.g.
`Get-AzureADMSPrivilegedResource -ProviderId aadRoles`

Also, refer to [PowerShell for Azure AD roles in Privilege

[2020-03-12 22:21] diberry commented on #49830
Merged fix. #please-close

[2020-03-12 22:21] #49830 closed

[2020-03-12 22:25] MarileeTurscak-MSFT commented on #50049
@neerajkr1988 thanks for this feedback! If you would like to leave this feedback to the product team, the best place to leave this is in User Voice. The doc comments are intended mainly for documentation feedback. https://feedback.azure.com/

[2020-03-12 22:25] #50049 closed

[2020-03-12 22:53] MarileeTurscak-MSFT commented on #50075
@henriquebelotto thanks for reporting this! Were you able to get it resolved following that solution? I'm happy to report this to the product team to get the sample updated.

[2020-03-12 22:59] amudamai commented on #12590
The learn now link of your note below
*********
With Version 9 of the Azure File Sync agent, VSS snapshots (including Previous Versions tab) are now supported on volumes which have cloud tiering enabled. However, you must enable previous version compatibility through PowerShell. Learn how.
*********
Should point to https://docs.microsoft.com/en-gb/azure/storage/files/storage-sync-files-deployment-

[2020-03-12 23:01] lmaxsmith opened #50091 "Missing assumptions"
I'm running into issues following this, and it seems to stem from some assumptions that aren't made clear in the text. Example: Under Create a cloud spatial anchor,
this.localAnchor.CreateNativeAnchor();
since localAnchor is of type GameObject, this only works if we include
using Microsoft.Azure.SpatialAnchors.Unity;
but that's not specified in this document. Can you include an example of these st

[2020-03-12 23:01] amudamai commented on #12590
Apologies, was meant to open a new case

[2020-03-12 23:02] amudamai opened #50092 "Notes "Learn how" link needs updating"
The learn how link of your note below

With Version 9 of the Azure File Sync agent, VSS snapshots (including Previous Versions tab) are now supported on volumes which have cloud tiering enabled. However, you must enable previous version compatibility through PowerShell. Learn how.

Should point to https://docs.microsoft.com/en-gb/azure/storage/files/storage-sync-files-deployment-guide?tabs=azure-p

[2020-03-12 23:15] dcbrown16 commented on #50016
Thanks for the quick work everyone!

[2020-03-12 23:22] BharathNimmala-MSFT commented on #50086
@BrianLevenson Thank you for helping on this.

@AlexeyBoiko Thank you for reaching out, as requested by @BrianLevenson please raise a support case and concerned team can help you further.

Since this channel (the [Azure Docs ](https://github.com/MicrosoftDocs/azure-docs) repository) is for driving improvements related to the Azure documentation. At this point it appears that there's no further edi

[2020-03-12 23:22] #50086 closed

[2020-03-12 23:34] artislismanis opened #50094 "pricingModel - undocumented field in detailed CSV usage download in Azure Portal"
We have MCA account and when downloading detailed usage details for Invoices or current billing period the file includes column called 'pricingModel'. This is always empty and there does not seem to be an equivalent field when using Azure Consumption REST API Usage Details end-point. Can you please update document to provide the field description?

---
#### Document Details

⚠ *Do not edit this se

[2020-03-12 23:36] Nesyne commented on #49989
Thanks for your explanation @robch. I will go ahead and mark this issue as solved.

[2020-03-12 23:36] #49989 closed

[2020-03-12 23:38] artislismanis opened #50095 "EffectivePrice-Azure Consumption REST API"
We have MCA account and when querying Usage Details via Azure Consumption REST API the response does not seem to contain EffectivePrice field.  Trying to reverse engineer this it looks like it could be calculated as costInPricingCurrency / quantity. Can this be clarified in the documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2020-03-12 23:39] onalos opened #50096 "AD Credentials not working for SMB file share"
We recently implemented AD authentication for Azure smb file shares to test out. All seems to go well, but after giving users permissions to those shares, they are unable to logon with their AD credentials. Upon putting the smb path in file explorer, they are prompted for credentials but receive an access denied or in some instances a message that the remote device or resource wont accept the conn

[2020-03-12 23:40] MarileeTurscak-MSFT commented on #50077
@PSGi
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-12 23:44] AndresUrregoAngel commented on #50076
Over this link the documentation is wrong : https://docs.microsoft.com/en-us/azure/sql-database/sql-database-automatic-tuning-enable

Now , here you point out that from March 2020 there is a new behavior over the CREATE_INDEX: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-automatic-tuning

Now the million question which one should I pick if this come into my DP-200 exam? thanks

[2020-03-12 23:50] GitMaggie opened #50097 "Can we make it clear for different data types ?"
In the sample query , the field is a “int” where the raw value doesn’t required a “”. However, in the real world, if it's a string, we need use "" - for example : | where Computer == “{Name}”.
The sample confused lots of people, if we can make it clear, it will help save our time .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-03-12 23:51] DazzleJim opened #50098 "Support for Service Tags..."
Re: "How do I lock down the access to my backend to only Azure Front Door?"
Does this section need updating - are Service Tags now supported?
From an NSG I can now see "AzureFrontDoor.Frontend" and "AzureFrontDoor.Backend" Service Tags.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7be424c-f540-a753-6ecc-6ff3913368d5

[2020-03-13 00:00] MarileeTurscak-MSFT commented on #50045
@beelesnik
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-13 00:02] mhopkins-msft commented on #49213
@sapieneptus Thank you very much for letting us know about this. I've created a work item to update the article and code sample and added it to our work backlog for prioritization.

Thanks,
 ~ _Mark_

#please-close

[2020-03-13 00:02] #49213 closed

[2020-03-13 00:04] Karishma-Tiwari-MSFT commented on #50063
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-13 00:06] thimens opened #50099 "Issue on Application manifest code change"
I believe xml code change for application manifest has issues in `ServiceManifestRef` tag. According to [this page](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-containers#configure-and-set-environment-variables), instead of being:
[code]
it should be:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-03-13 00:06] MarileeTurscak-MSFT commented on #49934
Hi @smudgecat ,

I tested in my tenant and was able to reproduce this. Basically if you type "user name starts with an M", for example, it might query one username that begins with an M but will not query all of them, or it might query none. I am seeing the same issue in my tenant. I am reporting this to the product team right now. Thanks for reporting this.

[2020-03-13 00:06] Karishma-Tiwari-MSFT commented on #50085
Thanks for ringing this to our attention and creating the PR.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-13 00:06] #50085 closed

[2020-03-13 00:10] Mike-Ubezzi-MSFT commented on #50076
@AndresUrregoAngel Thank you for bringing this to our attention. It appears the screen capture provided in the document needs to be updated. Here are the default values for both server level and database level.

**Server Level:**
![Screenshot (784)](https://user-images.githubusercontent.com/37126106/76577809-a5994480-6483-11ea-9e79-6f0f3df5ce78.png)

**Database Level:** (Inherited from Server)
![S

[2020-03-13 00:11] mhopkins-msft commented on #49100
#please-close

[2020-03-13 00:11] #49100 closed

[2020-03-13 00:12] Karishma-Tiwari-MSFT commented on #50047
Thanks for the question. We are currently investigating and will update you shortly.

[2020-03-13 00:15] TravisCragg-MSFT commented on #50051
@ramadarla Network Performance Monitor will require the agents to function. If you have a scenario where you cannot have the agents on both ends, you will likely need to use a 3rd party monitoring solution, however it is likely that the 3rd party solutions will also require agents on both ends.

Please let me know if you need any additional info.

[2020-03-13 00:17] TravisCragg-MSFT commented on #50056
@abainbridge Thanks for the info! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-13 00:20] TravisCragg-MSFT commented on #50098
@DazzleJim Thanks for the feedback! those tags were just added, so this question will need to be updated.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-13 00:27] femsulu commented on #49574
Hi Dave, mind if we continue this convo internally to debug (via email)? Will start a thread with you, Matt and I. we can circle back to this GH issue if we determine this is not an isolated incident.
Will now close this thread but expect a MS mail from me shortly.

Cheers.

[2020-03-13 00:27] #49574 closed

[2020-03-13 00:28] jeffpatt24 commented on #12590
This is noticed in the Azure File Sync planning guide; https://docs.microsoft.com/en-us/azure/storage/files/storage-sync-files-planning#file-system-compatibility

From the guide: Mount points might be the root of a server endpoint, but they are skipped if they are contained in a server endpoint's namespace.

[2020-03-13 00:29] jeffpatt24 commented on #12590
#please-close

[2020-03-13 00:29] #12590 closed

[2020-03-13 00:33] TravisCragg-MSFT commented on #50025
@ChrisSommers Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-13 00:34] MarileeTurscak-MSFT commented on #49934
Hi, I've reported this bug to the product team and created a work item for it. I'll let you know as soon as I have an update.

I'm closing this issue out and tracking this internally but will update the thread when I have replies. Note that I'm not closing this out to leave this unresolved but just because it is being tracked now on our end, and I will continually post updates to this.

[2020-03-13 00:34] #49934 closed

[2020-03-13 00:45] femsulu commented on #50097
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-03-13 00:54] Mike-Ubezzi-MSFT commented on #50045
@beelesnik That is correct. The entire paragraph reads:

The service creates a new instance and the gateway redirect the instance name to the new deployment. This is for a node-level interruption.

[2020-03-13 01:03] jeevansd commented on #50073
@t2-ml You dont need that if you are using SSO integration with Azure AD.

[2020-03-13 01:14] timsander1 commented on #49727
Hi @hhubik,

I agree that the current truth table columns are a bit unclear. I can update those (should be updated within a couple of days). To answer your specific question about the precedence of AND, OR, NOT in the same expression: NOT is evaluated before AND which is evaluated before OR. This is the same as in T-SQL but I do agree it would be good to explicitly call out on this page. I'll upda

[2020-03-13 01:18] SnehaGunda commented on #49727
In the meantime, you can refer to the operator precedence in T-SQL doc: https://docs.microsoft.com/en-us/sql/t-sql/language-elements/operator-precedence-transact-sql?view=sql-server-ver15

[2020-03-13 01:35] SnehaGunda commented on #49320
@ginamr Can you please confirm if Multipolygon is supported?

[2020-03-13 01:37] keiransteele opened #50100 "IstioControlPlane is deprecated"
Please update the article to reflect the change from IstioControlPlane to IstioOperator API since the release of 1.5.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d64cf65-bf33-ff76-3ece-47c758479506
* Version Independent ID: c2db9de5-62ef-5bd0-83dc-1832113ae37c
* Content: [Install Istio in Azure Kubernetes Service (

[2020-03-13 01:39] SnehaGunda commented on #49320
Oh I see it's already documented here: https://docs.microsoft.com/en-us/azure/cosmos-db/sql-query-geospatial-intro#multipolygons

@golfalot  we will add to the list in the other doc.

[2020-03-13 01:45] SnehaGunda commented on #49320
The above PR updates the doc, changes will be live tomorrow. We will now close this issue.

#please-close

[2020-03-13 01:45] #49320 closed

[2020-03-13 01:49] timsander1 commented on #50072
Hi @JPBres, you are correct that this is missing a bracket. Just updated the docs with your suggested fix and change should be reflected tomorrow. Thank you!

[2020-03-13 01:49] timsander1 commented on #50072
#please-close

[2020-03-13 01:49] #50072 closed

[2020-03-13 02:09] susan-wangyi opened #50101 "missing some IPs in the connectivity requirements"
My customer installs Connect to sync local AD with AAD in China Azure to use O365 operated by 21vianet. My customer followed the Connectivity part in this page to open all mentioned IPs on the firewall. But Connect installation failed, as Connect was trying to connect the following IPs, which are not mentioned and blocked by firewall:
139.217.231.208
139.217.228.95
139.217.231.198
139.217.231.219

[2020-03-13 02:11] SnehaGunda commented on #48188
@FredFaust Because we haven't heard back from you, we will close this issue. Feel free to reopen or create a new issue if you have further questions.

#please-close

[2020-03-13 02:11] #48188 closed

[2020-03-13 02:39] susan-wangyi commented on #50101
Sorry for my previous post, please ignore. I will follow up in other pages.

[2020-03-13 02:56] KrishnaG-MSFT commented on #50001
@mav3rick76 Hope you have self resolved and hence closed the issue. Thanks for the update.

Just FYI, [this](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions if any, etc.) so next time when you raise an issue here, ple

[2020-03-13 03:00] DixitArora-MSFT commented on #50089
Hi @cecilphillip Thanks for reaching out. We will review and update as appropriate.

[2020-03-13 03:09] KrishnaG-MSFT commented on #49837
@Dennizzzzz At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-03-13 03:09] #49837 closed

[2020-03-13 03:14] #50096 closed

[2020-03-13 03:27] watahani opened #50102 "SAML 2.0 IdP does not support Basic Authentication"
Hi @MarileeTurscak-MSFT
In my understand, basic authentication work only with  WS-Fedederation supported IdP enabled username mixed endpoint.
That mean mail clients which does not support modern authentication are not work under SAML 2.0 IdP.

It seems like the documents said clients that use basic authentication work with SAML 2.0 IdP.

Email-rich clients that use basic authentication and a suppo

[2020-03-13 03:38] ericsampson commented on #39901
This was just updated by @IEvangelist, check it out.

[2020-03-13 03:43] SupamanPhong opened #50103 "Login windows 10 1909 with fido 2 security key"
I've already following step like document with Azure AD, computer join azure ad azure and provisioning package but login windows return Windows Hello with message: You cant sign in with this account. Try a different account
Am i missing something to login fido2 with windows 10 1909? Thank a lot

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-03-13 03:57] mganeshphani opened #50104 "is there a api way of pulling this info: tag-support.csv"
it would be more better and dynamic to have api way of pulling this info, may be via resource provider objects? do we have a way to do this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66769e1b-720b-f1b1-a5e3-ed5cb24cd233
* Version Independent ID: b6272e61-58c1-3e2f-3e36-a9ee920c0915
* Content: [Tag support for reso

[2020-03-13 03:59] TravisCragg-MSFT commented on #50013
@vivrao Azure Bastion can support multiple users, but Windows 10 cannot. Azure Bastion is still limited by what is possible from within the OS, and this is what you should see when logging in via a Public IP.

Please let me know if you need any further information.

[2020-03-13 04:10] VikasPullagura-MSFT commented on #48142
@dlepow
Can you please check and add your comments on this doc update request as applicable.

[2020-03-13 04:12] #49405 closed

[2020-03-13 04:12] AshokPeddakotla-MSFT commented on #49405
Sure, thank you!

[2020-03-13 04:23] #50003 closed

[2020-03-13 04:27] amanmcse commented on #49926
@sunkada Could you please share the link to the documentation that you are referring to? If this question is not related to any Microsoft Documentation, I would suggest you to post this question at [Microsoft Q&A](https://docs.microsoft.com/answers/questions/ask.html) as we use this platform for document enhancement and to fix document bugs.

[2020-03-13 04:36] SumanthMarigowda-MSFT commented on #50079
@acworkma Thanks for your question. We are checking on this and will respond to you soon.

[2020-03-13 04:36] SumanthMarigowda-MSFT commented on #50092
@amudamai Thanks for your question. We are checking on this and will respond to you soon.

[2020-03-13 04:37] jwcw opened #50105 "Failed to pull image "containerpreview.azurecr.io/microsoft/cognitive-services-read""
I am trying to deploy the read container to an AKS cluster. I have defined the read service to install with helm following the instructions (/read directory with Chart.yaml and values.yaml, and a /read/templates/deployment.yaml), as well as setting up a secret with my credentials to containerpreview.azurecr.io

[code]

When I `helm install read ./read`, it tries to pull the image but backs off bec

[2020-03-13 04:40] KalyanChanumolu-MSFT commented on #50080
Thank you for the detailed feedback.
We are actively investigating and will get back to you soon.

[2020-03-13 04:41] amanmcse commented on #49708
@doc-rj-celltrak Have you had a chance to set RequestContextMaximumLengthInBytes to 3000 bytes or larger? If it still fails, please email a fiddler capture of the problem to azCommunity[at]microsoft[dot]com. Also, share the link to your StackOverflow post to this thread as well.

I am proceeding with closure of this thread and will continue to work with you over email and the StackOverflow post.

[2020-03-13 04:41] #49708 closed

[2020-03-13 04:47] AmitavaHazra commented on #49555
Thanks for your clarification. @cmmdesai

[2020-03-13 04:47] #49555 closed

[2020-03-13 04:53] AmitavaHazra commented on #50044
Thanks for your update @cmmdesai

[2020-03-13 04:55] AshokPeddakotla-MSFT commented on #49617
Glad to hear that you got it working. Appreciate if you can provide the steps which you have followed.
Adding Author @kgremban for further review and update the doc as necessary.

[2020-03-13 05:02] dotcarls commented on #30997
Do you happen to have a rough estimate as to when this will be resolved? End of year?

[2020-03-13 05:05] AjayKumar-MSFT commented on #49839
@assaf-grth, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion.

[2020-03-13 05:05] #49839 closed

[2020-03-13 05:06] doc-rj-celltrak commented on #49708
@amanmcse We will be able to test again when the customer updates their RP file, and I will send an email if it fails. Thank you for your help. The StackOverflow post is here - https://stackoverflow.com/questions/60647109/azure-ad-b2c-as-saml-idp-relaystate-too-big

[2020-03-13 05:21] jakaruna-MSFT commented on #50069
@kknight-valorem
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-13 05:29] msrini-MSFT commented on #50096
@onalos , Please let us know if you have any further question.

[2020-03-13 05:29] SnehaAgrawal-MSFT commented on #49916
@KenBrady Since We didn’t hear back from you. We will now close this out but if you feel you need more information please just let us know.

[2020-03-13 05:29] #49916 closed

[2020-03-13 05:29] ram-msft commented on #49927
@SusanHu Can you please check on this.

[2020-03-13 05:35] loboc101 commented on #49643
Any update on this issue? It's been almost a week.
Thanks

[2020-03-13 05:38] AElharouny opened #50106 "Clarification required regarding "Obtain a certificate from Azure Key Vault""
Hello,
Given that I used instructions under: "Obtain a certificate from Azure Key Vault" to get custom domain SSL certificate from Key Vault using managed identity:

What will happen during certificate rotation activity on APIM side? Do we need to trigger APIM deployment? Will the new certificate be pulled automatically?

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-03-13 05:41] msrini-MSFT commented on #49949
@malopMSFT , Can you please comment whether this scenario is supported or not?

[2020-03-13 05:45] RohitMungi-MSFT commented on #50105
@jwcw Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-03-13 05:52] VikasPullagura-MSFT commented on #50100
@keiransteele
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-03-13 05:54] VikasPullagura-MSFT commented on #50100
@paulbouwer
Can you please check and add your comments on this doc update request as applicable.

[2020-03-13 06:02] robcamer opened #50107 "Referenced Github project is for Visual Studio 2013"
This documentation page references code, libraries, and samples from Visual studio 2013.  I tried loading it in Visual Studio 2019.  It does not build nor function, which is not surprising.  Is there a newer sample?
How does one implement cross-device notifications with current platforms and tooling aka ASP.NET Core and Visual Studio Code or Visual Studio 2019.

---
#### Document Details

⚠ *Do no

[2020-03-13 06:07] msrini-MSFT commented on #50103
@SupamanPhong , Can you please share the doc link which you are referring to help on this issue further?

[2020-03-13 06:16] BhargaviAnnadevara-MSFT commented on #49827
@JasonWHowell Sure, adjusted. Thanks.

[2020-03-13 06:24] lfittl-msft commented on #49915
Thanks for that additional investigation @Mike-Ubezzi-MSFT - we'll add `sslmode=require` to the docs.

[2020-03-13 06:28] robcamer commented on #49749
OK, since the server-side  installation is not working....how do you register templates if registering devices from the client-side?  Is that possible?  The above device registration example shows partly how to register a device but it does not show how to register templates from the device.

[2020-03-13 06:37] VikasPullagura-MSFT commented on #50071
@expired00 Thanks for the Feedback.

For removing the user assignment, you will have to fully remove the session host from the pool with **[Remove-RdsSessionHost](https://docs.microsoft.com/en-us/powershell/module/windowsvirtualdesktop/remove-rdssessionhost)** then re-add/re-register that session host back into that host pool.

[2020-03-13 06:40] VikasPullagura-MSFT commented on #50071
@ChristianMontoya @stgeorgi Please add your comments on the unassign user from session host.

[2020-03-13 06:40] rahulmadaan30 opened #50108 "highlighting the bounding box"
Is there anyway we could use the bounding box values to programmatically draw a box around the extracted value to show the user where the value was pulled from

[2020-03-13 06:41] VikasPullagura-MSFT commented on #50071
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2020-03-13 06:48] DixitArora-MSFT commented on #50106
Hi @AElharouny Thanks for reaching out. We will review and update as appropriate.

[2020-03-13 06:50] DixitArora-MSFT commented on #50108
Hi @rahulmadaan30 Thanks for reaching out. Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-03-13 06:51] #49915 closed

[2020-03-13 06:54] DixitArora-MSFT commented on #49942
@spelluru Any inputs in this ?

[2020-03-13 06:54] SumanthMarigowda-MSFT commented on #49802
@ak09 This isn't possible today for Azure Files.
We are working on this  feature currently do not have any ETA on this, It’s going to be updated soon, You may check in Azure  updates

[2020-03-13 06:54] updixit opened #50109 "Is there a way to programatically determine the regions which support availability zones?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-03-13 06:54] AmitavaHazra opened #50110 "Federation with multiple Azure AD as IDP"
We have an application (lets say company A) and it is integrated with our Azure AD. Now we want to give access to other 3 company's (B,C,D they have their own Azure AD) user using federation with their Azure AD. Let's say we don't want to use Azure AD B2B features.

1. Is it possible to have federation with multiple Azure AD using SAML
2. Does application can be configured to support multiple IDP

[2020-03-13 07:00] SupamanPhong commented on #50103
@msrini-MSFT, thank you for reply. This is doc link,
https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-authentication-passwordless-security-key-windows

[2020-03-13 07:03] DashleenBhandari-MSFT commented on #50107
@robcamer , I will investigate this issue and update you.

[2020-03-13 07:21] SumanthMarigowda-MSFT commented on #49513
@brandonh-msft Could you please reach to me via AZCommunity[AT]microsoft.com with a link to this Issue as well as your subscription ID  Please mention "ATTN subm" in the subject field.

[2020-03-13 07:27] PeterCLu commented on #49854
Hi @oo2316oo , please let me know if you need any additional help. Otherwise, I will proceed to close the issue. Thanks!

[2020-03-13 07:36] PeterCLu commented on #49968
#assign:@lobrien

[2020-03-13 08:00] caspChristian commented on #15176
Many of the suggestions here are just bad.

@MarileeTurscak-MSFT proposes registry to change so this is not required for users, and totally ignoring that the question was per RADIUS client.
As an example we have the same user Adam, which is enrolled in MFA, From home, he connects to VPN, and should need to perform MFA auth as well.
However at the office, he connects to the wifi and SHOULD NOT need

[2020-03-13 08:32] DixitArora-MSFT commented on #49849
@johnkostyrka For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-13 08:32] #49849 closed

[2020-03-13 08:33] DixitArora-MSFT commented on #49876
@divyaswarnkar  Thanks for your imputs.

@smoms For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-13 08:33] #49876 closed

[2020-03-13 08:36] jjindrich opened #50111 "Apex domain without Azure DNS"
Hi, is there any option to route apex domain to frontdoor without Azure DNS. My customer is using their primary public domain for lot of services, cannot switch dns domain to Azure DNS because of one site.
If I good understand, FD IP is not static but is not changed in time. Please could you help me understand when Ip will be changed. We are planning to point apex to FD ip.
https://docs.microsoft.

[2020-03-13 08:36] shashishailaj commented on #50101
@susan-wangyi Thank You for your feedback. We will review this and take action accordingly .

 Your last comment is  little confusing though .

Could you please clarify if you were able to fix the issue or you still believe there is some change needed in documentation ?

[2020-03-13 08:37] shashishailaj commented on #50102
@watahani Thank you for pointing this out . we will have this reviewed and take action accordingly.

[2020-03-13 08:38] oo2316oo opened #50112 "we can not access Azure SQL datastore from the compute instance."
Its seem like the compute instance has no connection to Azure SQL server, does it has port 1433 open?
we got this kind of error on jupyterlab of instance. Please provide the document about it

/anaconda/envs/azureml_py36/lib/python3.6/site-packages/azureml/dataprep/api/errorhandlers.py in raise_engine_error(error_response)
     23     if 'ActivityExecutionFailed' in error_code:
---&gt; 24

[2020-03-13 08:41] amanmcse commented on #50102
@watahani SAML can be used for thick clients such as desktop application that doesn't support Modern authentication if the Enhanced Client Protocol end point is required to be deployed. This is mentioned in the document as well. For more information please refer to the RFC:
- http://docs.oasis-open.org/security/saml/Post2.0/saml-ecp/v2.0/cs01/saml-ecp-v2.0-cs01.pdf
- https://wiki.shibboleth.net/co

[2020-03-13 08:45] DixitArora-MSFT commented on #49853
@ishepherd I have assigned this to content author for further review and update as appropriate.

[2020-03-13 08:49] DixitArora-MSFT commented on #49950
@igilham In 2.0, we've consolidated all logging configuration into a single model, bringing console logging into that and eliminating the old environment variable we had.

All logging is under the AzureFunctionsJobHost -> Logging section/hierarchy. The environment variable you've shared is correct. For the delimiter, : will work on Windows only, __ works on other platforms.

Refer these GitHub iss

[2020-03-13 08:49] #49950 closed

[2020-03-13 08:57] CHEEKATLAPRADEEP-MSFT commented on #45892
@crisansou We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-03-13 08:57] #45892 closed

[2020-03-13 09:00] DixitArora-MSFT commented on #50028
@vladvino / @miaojiang Just following up again in case missed the previous communication.

[2020-03-13 09:00] AshokPeddakotla-MSFT commented on #49722
I'll try to follow the doc as is and update. Also, Adding author @kgremban in case there is anything new that needs to be changed in the doc.

[2020-03-13 09:02] SubhashVasarapu-MSFT commented on #50111
@jjindrich , We are looking into this query and will update you as soon as possible.

[2020-03-13 09:07] KrishnaG-MSFT commented on #50094
@artislismanis Thanks for the feedback!
Assigning content owner @bandersmsft for visibility, review and document enhancement consideration as appropriate.

[2020-03-13 09:08] KrishnaG-MSFT commented on #50095
@artislismanis Thanks for the feedback!
Assigning content owner @bandersmsft for visibility, review and document enhancement consideration as appropriate.

[2020-03-13 09:08] susan-wangyi commented on #50101
@shashishailaj, I am following up this issue in page https://docs.microsoft.com/en-us/office365/enterprise/urls-and-ip-address-ranges-21vianet, which I think, is the right place to update IPs. Thanks for your response.

[2020-03-13 09:10] hadr10 commented on #50111
There is this issue due to apex domain which we can't set on or DNS side, we can't use DNS alias. So we set on test environment A record to ip address of frontdoor

[2020-03-13 09:17] KrishnaG-MSFT commented on #50104
@mganeshphani Thanks for the feedback!
@tfitzmac Can you please provide your insights on this feedback ?

[2020-03-13 09:19] KrishnaG-MSFT commented on #50059
@mikebudzynski Thanks for the super quick response and the clarification. 👍

[2020-03-13 09:22] DixitArora-MSFT commented on #50089
@cecilphillip It is main project folder (__app__) which can contain the following files:
local.settings.json:
requirements.txt:
host.json:
.funcignore:
.gitignore:

When deploying your project to a function app in Azure, the entire contents of the main project (__app__) folder should be included in the package, but not the folder itself.

Also You can import modules in your function code using bot

[2020-03-13 09:25] VikasPullagura-MSFT commented on #50109
@updixit Thank you for your question!

Since this channel is for driving improvements towards MS Docs and your query is not related directly to the doc I have created a new thread on Q&A forums. You can follow your query [here](https://docs.microsoft.com/answers/questions/12803/is-there-a-way-to-programmatically-determine-the-r.html).

We will now close this issue. If there are further questions r

[2020-03-13 09:25] #50109 closed

[2020-03-13 09:28] VikasPullagura-MSFT commented on #50099
@thimens
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-03-13 09:28] VikasPullagura-MSFT commented on #50099
@MikkelHegn
Can you please check and add your comments on this doc update request as applicable.

[2020-03-13 09:32] GiriB opened #50113 "outdated docs: Build fails with error "A build file was not found in the workspace""
I'm following this doc on my Windows machine.  When I run "Service Fabric: Build Application" from the command palette, it fails with the message "A build file was not found in the workspace".

I took a quick look at the Service Fabric VSCode extension saw that the [extension expects a `build.cmd` ](https://github.com/microsoft/vscode-service-fabric-reliable-services/blob/fbd6c83b65b4a5dc792d32ad2

[2020-03-13 09:57] SzucsAti opened #50114 "Unable to mount volume - mount error(115): Operation now in progress"
Hi,
I followed the steps of the article: created Storage Class, persistent volume claim, and a pod that mounts the pvc.
The status of pvc is bound and I can also see the created storage account and fileshare in the azure portal.

However the pod fails to start with the following error message:
Mounting command: systemd-run
Mounting arguments: --description=Kubernetes transient mount for /var/lib/k

[2020-03-13 10:02] daneri-norkart commented on #25685
I would also like an answer based on the link @dcbrown16 provided.

[2020-03-13 10:11] scottclarke1 commented on #48846
I agree, there is a disappointing lack of documentation and integration with native product RBAC assignments and PIM. For example, why can't I integrate Exchange RBAC with PIM to assign someone very granular permissions in Exchange without those permissions being permanently static? Huge investment needed in this area.

[2020-03-13 10:12] asergaz commented on #49723
Hello @GieForce, let us know if you are still blocked or if you are discussing this topic elsewhere so we can cross reference.

Thank you!

[2020-03-13 10:12] ram-msft commented on #50112
@oo2316oo Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-13 10:19] SanthoshVM commented on #49784
Executed 'MyFunctionApp' (Failed, Id=ba2076d8-cd6e-4b59-8509-95e48f0fe607)
I'm getting same error. Any resolve?

[2020-03-13 10:22] danimir commented on #50076
@AndresUrregoAngel On the main Automatic Tuning page, there is a HUGE announcement that these settings will be changed in March, there was also an official Azure update, so this is expected. The settings are being rolled out gradually to millions of databases. Once all settings land in, all pages will be updated.

[2020-03-13 10:23] hungvotrung commented on #50009
I have created support ticket and we found the issue. There was Gateway required VNet Integration  in the same App Service Plan to the same Vnet. Before Azure allow it co-exist. But now it have to be remove completely to be able to add Regional Vnet Integration.

[2020-03-13 10:24] scottclarke1 commented on #50033
Thank you SaurabhSharma-MSFT.

[2020-03-13 10:24] #50033 closed

[2020-03-13 10:30] sorosgaa opened #50115 "updated screen shots"
Hi,
How often are the screenshots here updated, and are they updated by language also?
Is there a possibility to update these screenshots as MFA is updated also, so that they can be used for adoption materials?

thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d8550bf-6f13-14a9-2c11-ddf6048ecf07
* Version Indepen

[2020-03-13 10:36] asergaz commented on #50091
Thanks for the feedback @lmaxsmith ! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-13 10:36] cecilphillip commented on #50089
@DixitArora-MSFT yes, I understand those files go into the folder. In Python, double underscores usually have some significant usage within an application. If \_\_app\_\_ is an arbitrary name in the suggested folder structure, then we should call that out in the documentation.

[2020-03-13 10:38] AshokPeddakotla-MSFT commented on #49140
@shizn Do we have any update on this issue? Appreciate if you can check this and provide an update.

[2020-03-13 10:40] beelesnik commented on #50045
Thank You. Please close.

[2020-03-13 10:41] Ericgre commented on #50009
#please-close

[2020-03-13 10:41] #50009 closed

[2020-03-13 10:41] asergaz commented on #50091
@Imaxsmith let me also share the [Azure Spatial Anchors samples repository on GitHub](https://github.com/Azure/azure-spatial-anchors-samples ) that may help you overcome your current issue.

Thank you!

[2020-03-13 10:42] Ericgre commented on #49287
#please-close

[2020-03-13 10:42] #49287 closed

[2020-03-13 10:49] igilham commented on #49950
@DixitArora-MSFT Thanks for trying to help. I have now tested the environment variable `AzureFunctionsJobHost__Logging__Console__IsEnabled=true` in my Function App and found that it does not work.

I'm a little worried that the documentation is wrong and the approach recommended by Microsoft staff is also wrong. Is there a working way to achieve console logging without a silly hack like we're usin

[2020-03-13 10:56] ChrisSommers opened #50116 "This feature compared to "Azure Backup for SQL Server Virtual Machines""
This feature seems to have been superceded by:

https://docs.microsoft.com/en-us/azure/backup/backup-sql-server-database-azure-vms

Or are there different use cases for the 2 solutions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32a2398f-5cde-2895-8b40-d16bd7069fae
* Version Independent ID: 4b68e93e-b878-1aab-fc67-

[2020-03-13 10:57] tobimax opened #50117 "Azure CLI Example is incorrect"
Corrected Version

az account set -s &lt;your-subscriptionId&gt;                                                   # Select your Azure Subscription
$tenantId=$(az account show --query tenantId)                                       # Get your tenantId
az keyvault update -n myvault --remove Properties.accessPolicies           # Remove the access policies
az keyvault update -n myvault --set Properti

[2020-03-13 10:58] mohamed-shehata-m opened #50118 "Azure SQL Firewall - documentation is not updated with the recent changes in Portal"
Article link: [Azure SQL Database and Azure SQL Data Warehouse IP firewall rules](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-firewall-configure)

Issue: Azure SQL Firewalls and virtual networks was updated recently and the documentation does not include any details about it. The following settings were added:

- Deny public network access
- Connection Policy

Moreover, the "L

[2020-03-13 11:14] stefandoh commented on #48830
@javester Performed the test right now - it is sufficient to delete the restorePointCollections. There is no need to disable the VM backup job. Supposed that the backup job is not running.

[2020-03-13 11:28] Zhaph opened #50121 "Next Steps: "Create metric alerts using ARM Templates" link out of date"
Relates to #49688

The link in Next Steps to "Create metric alerts using Azure Resource Manager Templates" should be updated to link to the newer page: [Create a metric alert with a Resource Manager template](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-metric-create-templates).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-03-13 11:28] marcindabrowski opened #50122 "Please add information about Operators"
In Logic Apps documentation there is a chapter about operator - https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-workflow-definition-language#operators.
For example, the question mark operator is working in Data Factory but it is nowhere documented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76e31411-f1

[2020-03-13 11:32] VikasPullagura-MSFT commented on #50113
@GiriB
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-03-13 11:33] VikasPullagura-MSFT commented on #50113
@peterpogorski
Can you please check and add your comments on this doc update request as applicable.

[2020-03-13 11:39] beelesnik opened #50123 "If I have superusrer rights, what to do?"
Hello.
I use some testing code with PostgreSQL as service. For some activities it needs admin privileges in Postgres.
I set up user and password as my admin user but got an error:
2020-03-13 11:02:14 UTC-5e6b6832.9b0c-ERROR:  permission denied for language c
Next I found an article https://stackoverflow.com/questions/7014437/error-permission-denied-for-language-c with the words: "Only superusers c

[2020-03-13 11:40] MikkelHegn commented on #50099
@peterpogorski

[2020-03-13 11:42] beelesnik commented on #50123
In addition I should say that this testing code works well for usual installation of postgresql on VM with set up needed name and password to user postgres and its password.

[2020-03-13 11:43] beelesnik commented on #50123
Oops. Original ticket should be named "If i need superuser rights, what to do?"

[2020-03-13 11:43] VikasPullagura-MSFT commented on #50099
@peterpogorski Can you please check and add your comments for updating the document.

[2020-03-13 11:43] DixitArora-MSFT commented on #49950
@igilham Thanks for the update. I will check on this internally.

[2020-03-13 11:45] VikasPullagura-MSFT commented on #50116
@ChrisSommers
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-03-13 11:45] VikasPullagura-MSFT commented on #50116
@MashaMSFT
Can you please check and add your comments on this doc update request as applicable.

[2020-03-13 11:45] jakaruna-MSFT commented on #49705
Yes.   I will check and let you know.

[2020-03-13 11:46] msrini-MSFT commented on #50110
@AmitavaHazra , Please provide the doc link to assist you further on this?

[2020-03-13 12:06] tomkeatingfei commented on #49949
We fixed this by ticking: Trust Server Certificate in the SMSS connection settings. I imagine the default certificate on the servers doesn't yet cover *.privatelink.database.windows.net .

[2020-03-13 12:06] niket10x opened #50124 "Relay State not passed"
Hi Team, despite configuring Relay state attribute in the SAML Basic configuration, the user isn't redirected to the page configured in the relay state. Any idea?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9282b8a-8c91-94f5-f584-418bea19bb42
* Version Independent ID: 0e1eccca-e9fc-88af-6870-dc2474fbad56
* Content:

[2020-03-13 12:07] #49949 closed

[2020-03-13 12:28] IEvangelist commented on #39901
Hi @ericsampson,

I hope all is well, we've made changes to the doc to address your expressed concern. Please have a look again at the article and let me know if these are satisfactory enough to close this issue.

Merged [here](https://github.com/MicrosoftDocs/azure-docs/commit/34aba265d1939f8330a3ae4c60e93f9eabc944fc), updates to the doc are live [here](https://docs.microsoft.com/azure/service-bu

[2020-03-13 12:29] IEvangelist commented on #27024
Hi @inech,

I hope all is well, we've made changes to the doc to address your expressed concern. Please have a look again at the article and let me know if these are satisfactory enough to close this issue.

Merged [here](https://github.com/MicrosoftDocs/azure-docs/commit/34aba265d1939f8330a3ae4c60e93f9eabc944fc), updates to the doc are live [here](https://docs.microsoft.com/azure/service-bus-mess

[2020-03-13 12:29] IEvangelist commented on #36528
Hi @xieb0001,

I hope all is well, we've made changes to the doc to address your expressed concern. Please have a look again at the article and let me know if these are satisfactory enough to close this issue.

Merged [here](https://github.com/MicrosoftDocs/azure-docs/commit/34aba265d1939f8330a3ae4c60e93f9eabc944fc), updates to the doc are live [here](https://docs.microsoft.com/azure/service-bus-m

[2020-03-13 12:30] IEvangelist commented on #46830
Hi @rajrao,

I hope all is well, we've made changes to the doc to address your expressed concern. Please have a look again at the article and let me know if these are satisfactory enough to close this issue.

Merged [here](https://github.com/MicrosoftDocs/azure-docs/commit/34aba265d1939f8330a3ae4c60e93f9eabc944fc), updates to the doc are live [here](https://docs.microsoft.com/azure/service-bus-mes

[2020-03-13 12:32] arvind-dhariwal commented on #50018
When using the access key and selected Vnet network on storage account. it
does not work even after assigning data blob contributor role to SQL Server.

simply by creating credential with managed identity on sql data ware house
it worked very well.

Honestly, documents are really fuzzy and very confusing for customer as
well as for internal employees.

Thanks
Arvind Dhariwal
+60 1124263708
Calenda

[2020-03-13 12:33] Benjiiim commented on #49395
@mimckitt the Microsoft Customer Agreement is not an offering type but a contract type, the same way the Enterprise Agreement is. Cf https://azure.microsoft.com/en-us/pricing/purchase-options/microsoft-customer-agreement
By the way, Enterprise Agreement is not in the /legal/offer-details/ list neither but it is in the FAQ in this documentation page.
As Azure sellers are selling to customer through

[2020-03-13 12:36] deepak-kumbhar opened #50126 "With the help of doc I only able to send messages but not able to receive that."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-03-13 12:38] mathewhtaylor opened #50127 "How to get to the Co-sell with Microsoft section"
To navigate to the Co-sell with Microsoft section, select Commercial Marketplace -> Overview (you must be enabled as a publisher), then select an existing offer (you must have already created an offer), then you will find "Co-sell with Microsoft" at the bottom of the center grey menu area.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-03-13 12:55] lshunnarah77 commented on #49949
I could have sworn I tried that combination but apparently not.  Either way, that worked!  Thank you tomkeatingfei!!!

[2020-03-13 13:04] crisansou commented on #45892
Hi,

Now I can see the field, thanks!

Best regards,
Cristina

[2020-03-13 13:04] sanoopsivan commented on #49997
We are also facing the same issue.

SAML error
The specified assertion consumer service URL https://samltestapp2.azurewebsites.net/SP/AssertionConsumer is invalid.

Request ID: 0HLU726MUMCRE:00000002

[2020-03-13 13:10] harelbr commented on #50121
@Zhaph - You're absolutely right, thanks for pointing this out!
A PR with a fix has just been issued.

[2020-03-13 13:20] dpgindler commented on #49617
The biggest issue is the format of the JSON.    This is really the part that is the key and is not documented.   The code we used is pretty simple.  Here is the code we wrote as a POC and you can see that we use template files to build the proper deployment.

`
        private static async Task CreateStandardDeploymentToHubAsync()
        {
            try
            {
                var cloneCo

[2020-03-13 13:22] Venopsis opened #50128 "Can I store objects in all three (hot, cool, and archive) access tiers in the same account?"
Hi,
As far as I tested, yes it's true if you set the replication on LRS.
But if set on ZRS, you cannot change block blob tier to archive. And in this case you cannot save in the same storage. You'll need to move to another storage account using LRS and then set tier to archive.
Could you please confirm and add disclaimer about this if verified as true?
Thanks!
Venopsis.

---
#### Document Details

[2020-03-13 13:31] GiriB commented on #50113
I was able to workaround the issue by creating a `build.cmd` with a single command `powershell -file build.ps1`.

[2020-03-13 13:31] j-martens commented on #46653
We will work offline on this new internal request. #please-close

[2020-03-13 13:32] #46653 closed

[2020-03-13 13:35] tanzencoder opened #50129 "3.x Runtime Support"
Just as a note that V3 functions currently do not have a base image in Docker to pull from as far as I can tell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d505ab9-d351-6650-6d0c-bb65d2daa229
* Version Independent ID: 2a1d3487-a93d-2206-7ef9-a91aa275ec4e
* Content: [Create Azure Functions on Linux using a custom i

[2020-03-13 13:51] Venopsis commented on #50128
Tested successfully with GRS
Not working with GZRS
When copy between zone is in the process, we cannot select Archive tier.

[2020-03-13 14:04] KrishnaG-MSFT commented on #50121
@harelbr Thanks for the super quick response. 👍

[2020-03-13 14:07] anothnk opened #50131 "Code sample for Java SDK v12"
It will greatly help if you could provide sample code for Java SDK v12.

It took a while to figure out the right APIs to use since the examples available elsewhere were mostly using deprecated APIs .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 788014ae-dc3b-f509-3dbd-933eb5a423a4
* Version Independent ID: 250d17de-f

[2020-03-13 14:13] NavtejSaini-MSFT commented on #50037
@bbojilov Please convey if you have any further question or we can go ahead close this thread,

[2020-03-13 14:15] NavtejSaini-MSFT commented on #50040
@JasonBSteele Please get back to us if you have any further question or we can close this thread.

[2020-03-13 14:18] shashishailaj commented on #49856
@StefanIvemo Yes you are correct . We have verified this on our end and will update the article .

![image](https://user-images.githubusercontent.com/532022/76628789-4dd20a80-6563-11ea-8781-28bfdd2546d6.png)

[2020-03-13 14:30] tangdi opened #50132 "Unclear illustration about "Usage scenarios and examples""
What do Yellow and blue color mean? And "A-&gt; B" means A depends on B or A precedes B?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e90a49ad-b872-757e-4f63-7fac92327d2b
* Version Independent ID: 60e35bd6-449c-20f7-245f-f55cec44546a
* Content: [Create tumbling window trigger dependencies - Azure Data Factory](https:

[2020-03-13 14:37] GiftA-MSFT commented on #49886
Hello @DarylArmstrong, I believe the author is referring to this example:

![image](https://user-images.githubusercontent.com/51332022/76630551-9ca58300-6516-11ea-81fb-0d79fe157eff.png)

[2020-03-13 14:42] tfitzmac commented on #50104
@mganeshphani - sorry, there is not a way to programmatically get this info currently. If that changes, we will update this guidance to point people to the easier way to get the info.

[2020-03-13 14:42] tfitzmac commented on #50104
#please-close

[2020-03-13 14:42] #50104 closed

[2020-03-13 14:43] yoelhor commented on #50075
Thanks for the feedback. In the user flow the new sign-in name text box is "logonIdentifier". So, as you mentioned update the unified.css - find #logonIdentifier and add a copy of the same rule with #signInName. This is the best approach, until we update the starter pack. We may add a note to the doc, next week.

[2020-03-13 14:47] spelluru commented on #49942
@banisadr - could you please take a look at it when you get a chance? Thanks

[2020-03-13 14:50] tfitzmac commented on #49963
@maciek-polakowski - location for the deployment is required when deploying to the subscription, management group, or tenant level. When deploying to the resource group, location is not needed. I wonder if you used the command (az deployment create) for subscription scope. The CLI commands were recently updated to clarify which scope is being used. We are updating the docs for the new command synt

[2020-03-13 14:53] buzzfrog commented on #39395
No ClusterRole is needed, because the role "cluster-admin" is a default role.
https://kubernetes.io/docs/reference/access-authn-authz/rbac/#user-facing-roles

[2020-03-13 14:59] taromielnaz opened #50133 "Different meter subcategory"
Hello in my azure portal, I don't see the meter subcategory that you mentioned. I see just ltr backup storage.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9492cedc-cea0-af9d-29a0-52cbca8c5e21
* Version Independent ID: 969a8654-8f95-d5de-351d-73c8e02e5d3a
* Content: [Automatic, geo-redundant backups - Azure SQL Datab

[2020-03-13 15:05] yoelhor commented on #50062
Thanks for the feedback, we'll fix the doc soon. Note: there is a known issue with this tester. In order to run the test, you need also add the `http://www.test-cors.org` to the list.

The **URL** to be tested, is the the URL of the HTML page. For example `https://your-account.blob.core.windows.net/azure-ad-b2c/default/unified.html`

The **result** should be:
[code]

If you don't get this 200, Ok

[2020-03-13 15:07] susanhuhu commented on #49927
looking, this seems to be a regression.  will work with the team to fix it.

[2020-03-13 15:14] susanhuhu commented on #49927
Before the doc is fixed, if you need Java sample code.  Below is the related information.

The following snippets illustrate how to use automatic language identification in your apps:
AutoDetectSourceLanguageConfig autoDetectSourceLanguageConfig = AutoDetectSourceLanguageConfig.fromLanguages(Arrays.asList("en-US", "de-DE"));
SpeechRecognizer recognizer = new SpeechRecognizer(speechConfig, autoDete

[2020-03-13 15:17] mtaylorfsmb commented on #50062
Thanks I'll give that a try.

[2020-03-13 15:18] ajopjo opened #50134 "After a user updates claims in an identity provider B2C is not doing claim remappings"
Hi:
In my project, Azure B2C federates with an external open id connect provider for Authn. When a user log in for the first time, email claim is mapped and I can see it via Graph API under   "otherMails": [
        "........"
    ]

- After that the user changes his/her email in the id provider.
- Then, the user tries  to login using the updated email and password.
- The federation with OpenId co

[2020-03-13 15:22] mtaylorfsmb commented on #50062
I had to allow https://www.test-cors.org (note the HTTPS change) and wait for Azure to update (took a few minutes) but I'm able to get it working correctly now. Thanks.

[2020-03-13 15:32] alexvy86 opened #50135 "Sentence cut midway"
In the "Storage Tiers" section, under "Maximum size of file share", the second bullet point is incomplete or has extra text at the end:

&gt;By default, standard file shares can span only up to 5 TiB, although the share limit can be increased to 100 TiB by opting into the large file share storage account feature flag. Standard file shares may only span up to 100 TiB for locally redundant or zone r

[2020-03-13 15:32] jg11jg opened #50136 "Is this correct (and if so, please expand on meaning)? "If no ORDER BY clause is used, it will result in a deterministic order of values.""
documentation for OFFSET LIMIT states "If no ORDER BY clause is used, it will result in a deterministic order of values."

However, in "traditional" SQL if no ORDER BY clause is used, then order of values returned is *non-*deterministic.  Is that what you mean to say?

If it is indeed deterministic without an explicit order by clause, presumably there must be an implicit order by (_ts, _id, other?

[2020-03-13 15:40] PeterCLu commented on #49836
@algattik

Thanks for your report, I contacted jakruna-msft for you. He has confirmed that pod identity is production ready. In his own words:

"aad-pod-identity is a production ready opensource project.  Link to official documentation is [here](https://docs.microsoft.com/en-us/azure/aks/operator-best-practices-identity).

Also NOTE that Azure technical support wont support issues on Aad pod ident

[2020-03-13 15:41] #49836 closed

[2020-03-13 15:42] jg11jg opened #50137 "Not Correct? Unlike in ANSI SQL, you can also use the BETWEEN clause in the FROM clause, as in the following example."
The example is:
SELECT (c.grade BETWEEN 0 AND 10)
    FROM Families.children[0] c

Looks to me more like "you can also use the BETWEEN clause in the SELECT clause".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 531c6fcf-6cb8-f229-d15e-d26111b5ff85
* Version Independent ID: e77c5aa5-6201-ee8d-12bc-e706b1e06b9c
* Conten

[2020-03-13 15:44] SaurabhSharma-MSFT commented on #50124
@niket10x Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-03-13 15:47] PeterCLu commented on #50112
#assign:@sdgilley

[2020-03-13 15:51] PeterCLu commented on #49704
@henry-schneiderman

Can you provide additional details? If we don't hear back from you soon, I'll proceed to close the issue. You're welcome to re-open the issue with additional details, in the future.

[2020-03-13 15:52] loftyet commented on #50074
Thanks for getting back to me. My Linked Service is not a self-hosted integration runtime. I set up an Azure Function App as my linked service, I also tried a blob storage as linked service. My understanding is that this should be a `compute` service so http post request can be executed. Blob storage as a linked service seems not make sense.

[2020-03-13 15:53] SaurabhSharma-MSFT commented on #50115
@sorosgaa Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-03-13 15:53] SaurabhSharma-MSFT commented on #50117
@tobimax Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-13 15:54] SaurabhSharma-MSFT commented on #50134
@ajopjo Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-13 15:57] JasonBSteele commented on #50040
What is the impact to a Function triggered by changes? Presumably it will stop receiving them for a while (how long?) and then start receiving them again with no changes lost?

[2020-03-13 15:59] SaurabhSharma-MSFT commented on #48658
@hew85 Apologies for delay.  I am checking internally on this issue and provide you details once I have any updates.

[2020-03-13 15:59] SaurabhSharma-MSFT commented on #48450
@CharmanderJieniJieni We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-13 15:59] #48450 closed

[2020-03-13 16:16] GieForce commented on #49723
I'm still blocked by this issue and will further investigate tomorrow. I'll post a cross-reference if I have a solution to the current problem I'm facing to.

[2020-03-13 16:20] sujayvsarma commented on #50040
Yes, but you WILL lose changes from the time span the service had been throttled.

[2020-03-13 16:23] AndresUrregoAngel commented on #50076
Guys I totally get it we can fix it quickly , now my question more towards what should I do in the DP-200 exam in the case the configuration at server level will still consider the previous configuration, should I rely in how that was before or move forward with the new default settings?

[2020-03-13 16:23] jcbrooks92 commented on #49835
Can you share your app name directly or indirectly?

https://github.com/projectkudu/kudu/wiki/Reporting-your-site-name-without-posting-it-publicly

[2020-03-13 16:27] djpmsft commented on #50122
You are right that this information is currently missing. I have added a documentation work item that I will make high priority and hopefully get out in the next couple days.

Since there is a tracked repair item on the ADF team, I will proceed to close this issue

#please-close

[2020-03-13 16:27] danimir commented on #50076
The roll-out is not yet complete. For the exam you can respond with the old defaults. This really is not a question for the product group, but for the people who are administering the exam.

[2020-03-13 16:27] #50122 closed

[2020-03-13 16:32] inech commented on #27024
Hi @IEvangelist,

thank you! Now the documentation is much more clear.

[2020-03-13 16:32] #27024 closed

[2020-03-13 16:35] phanikkm commented on #50105
This error meaning the appid and pasword you are using to pull container is incorrect, can you let me know when did you received these credentails, please email me at phanim@microsoft.com for further assistance.

[2020-03-13 16:36] mymebenha opened #50138 "Azure AD Register"
When I enable "Require approved client apps" in the Conditional Access Policy, suddenly the device needs to be Azure AD Registered.  I couldn't find where it mentions this in the documentation.  The devices I'm working with are personally owned and not enrolled in Intune.  They are only managed with Conditional Access Policies and APP Protection Policies so why when I enable this does it make the

[2020-03-13 16:37] SamirFarhat opened #50139 "Azure DataBricks Nodes IPs"
Hi,
We have a DataBrick deployment in a managed vnet (not our vnet).
We are trying to whitelist access to on-prem resources.
We were not able to locate the IP addresses of the databricks nodes (The connected devices blade shows nothing).
How to get the ip addresses of the nodes ?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2020-03-13 16:43] JasonTimmins opened #50140 "Get Subscription Typo"
Hi There,
In the Get Subscription section, the URL seems to have a typo...

https://marketplaceapi.microsoft.com/api/saas/subscriptions/&lt;subscriptionId?api-version=&lt;ApiVersion&gt;

We seem to be missing a '&gt;'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe8750da-cb47-7396-8d1b-0abff019a0be
* Version Independ

[2020-03-13 16:45] dc995 opened #50141 "Dark mode unviewable"
When in dark mode... the image lacks detail.
![2020-03-13_12-42-03](https://user-images.githubusercontent.com/2014485/76641736-725cc100-6528-11ea-8de2-e049d576daf3.jpg)

https://docs.microsoft.com/en-us/azure/iot-central/healthcare/concept-continuous-patient-monitoring-architecture

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-03-13 16:48] Chandu12x commented on #50011
@MarileeTurscak-MSFT  Is there any update?

[2020-03-13 16:50] beelesnik opened #50142 "Is the way to export-import all server parameters in one file?"
Hello.
Is the way to export-import all server parameters in one file? If I need some repeatable customization in the default server parameters, could I save my settings in the XML/JSON/etc and import these values on the another server?
Thank You

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce06598d-eeb6-3cd8-4a15-f01

[2020-03-13 16:51] #49383 closed

[2020-03-13 16:53] milope opened #50143 "I believe this sample should include an expression to check if the location field is present"
Team, based on experience this policy is used many times as the base for geo-restricting policies. However, not all resource types require the location field. Resources that don't use the location field will not send them, causing this policy to block all of those resources. Could we add to the policy an extra condition to first check if the location exists before enforcing its value? This should

[2020-03-13 16:53] peheje commented on #39901
Wow This is really nice!

I guess I need to go back and refactor a bit according to these recommendations.

[2020-03-13 16:56] gaugup commented on #49585
Robert, the bug is in forecasting pre-processing of your raw data due to which you see the error in 1.0.85. The recent pypi release 1.1.5 should have the forecasting fix. Can you try with 1.1.5 and check if you continue to run into this issue?

[2020-03-13 17:01] cnadler-MSFT opened #50144 "Clarify passwordexpiration"
Recommend moving the following sentence, "If you set the user passwords to never expire and then 90+ days go by, the passwords expire."   This only occurs if DisablePasswordExpiration is removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1765376-03c9-829a-9e42-e72cc8a0daea
* Version Independent ID: 684c7d7c-09f4-

[2020-03-13 17:01] xyh1 commented on #48916
@langstonj

Sorry that seems to be an error in the storage account overview documentation.

Only block blobs support blob level tiering and archive, which was correctly called out in the Access Tiers doc page.

I've submitted a fix for the documentation.

#please-close

[2020-03-13 17:01] #48916 closed

[2020-03-13 17:02] jwcw commented on #50105
@phanikkm my mistake. The username I had specified in the secret had a typo. I have corrected this and it is now able to pull the image. Thank you for your help.

[2020-03-13 17:02] #50105 closed

[2020-03-13 17:05] jwcw opened #50145 "helm install command incorrect"
The helm command in this document to install the read container is incorrect. There is no --name parameter, so `helm install read --name read` gives an error, "`Error: unknown flag: --name`".

The actual command should be: `helm install read ./read` assuming it is run from the directory that contains the read directory.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-03-13 17:06] Karishma-Tiwari-MSFT commented on #49767
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-13 17:07] RyanHill-MSFT commented on #49835
Hi @dziedrius AlwaysOn is handled by the [front-end](https://docs.microsoft.com/en-us/archive/msdn-magazine/2017/february/azure-inside-the-azure-app-service-architecture#front-end)  service which is why it works with all app services. We don't advertise rewrite rules because it really falls outside the scope of what this feature was intended for.

We do value your feedback though. I've assigned th

[2020-03-13 17:09] steveculshaw opened #50146 "The only authentication type in the selector is Windows"
The only authentication type in the selector is Windows

So why say "The type of authentication that your file system uses, for example, Windows" ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56e73897-b362-2004-5dd4-bd3cf61101fb
* Version Independent ID: 33d06fa1-0ab5-a9c0-d58b-e001e729ed0a
* Content: [Connect to fi

[2020-03-13 17:11] iricigor commented on #49767
And just to mention, if author will be spending more time on this, might be good to also take a look at issue #43898, that issue might even have higher priority than this one.

[2020-03-13 17:12] YutongTie-MSFT commented on #50145
@jwcw
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-13 17:14] neeleshray-msft commented on #50144
@cnadler-MSFT Thank you for your feedback . We will have this reviewed and update this thread.

[2020-03-13 17:18] MashaMSFT commented on #50116
HI @ChrisSommers , thanks for bringing this to our attention! Let me do some research :)

Thanks!
Masha from the SQL Docs team

[2020-03-13 17:20] mhopkins-msft commented on #48916
@langstonj Thanks for your feedback. You're correct, append blobs are not supported in archive storage at this time. I've updated the documentation, it will be published today.

Thanks,
 ~ _Mark_

#please-close

[2020-03-13 17:20] bandersmsft commented on #45769
#please-close

[2020-03-13 17:20] #45769 closed

[2020-03-13 17:21] jeroenhabets opened #50147 "AzureRM is deprecated but referenced here"
Our Runbooks use AzureRM that apparently we should migrate away from this year (2020). Why are the examples here still using "Connect-AzureRmAccount" etc.? Is this info outdated, or ...?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81c284ea-3656-836f-7eab-388773e0e382
* Version Independent ID: 71329bef-2d4f-4ff6-5a03

[2020-03-13 17:22] KranthiPakala-MSFT commented on #50132
@tangdi Thank you for reaching out . At this time we are reviewing the feedback and will provide an update as appropriate

[2020-03-13 17:23] lmaxsmith commented on #50091
Thanks. I am digging into those samples to find my answers, and may find everything I need there eventually, but those are made with layers of abstraction and inheritance that make it tough to sort through. A more stripped down example would really help. Maybe just the steps of this tutorial gathered into one(ish) working script?

[2020-03-13 17:25] keatseongchan opened #50148 "SSH key added to VMSS but the update remove load balancer configuration"
We have a scenario where the update to VMSS causes VMSS RP to remove the load balancer configuration.  We are still trying repro.   This is not something that we expect when we try to add SSH key.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b81a147-db1c-b92f-88d1-6dd0991a72fe
* Version Independent ID: f5a2c949-498f

[2020-03-13 17:25] IEvangelist commented on #50145
I'm curious @jwcw, what version of helm are you using? We have had multiple people test this document, and have all have reported being successful in doing so. Do you have an old version of helm installed by chance?

[2020-03-13 17:26] KranthiPakala-MSFT commented on #50139
@SamirFarhat Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-03-13 17:26] mhopkins-msft commented on #49973
Hi @CeciAc , thank you for your feedback. This is a helper method used to demonstrate the JavaScript APIs. It's included in many of the JavaScript samples. I've passed your updated code to the engineering team for possible updating in the samples. Thanks again for sharing this!

 ~ _Mark_

#please-close

[2020-03-13 17:26] #49973 closed

[2020-03-13 17:28] beelesnik opened #50149 "If i need superuser rights, what to do?"
Hello.
I use some testing code with PostgreSQL as service. For some activities it needs admin privileges in Postgres.
I set up user and password as my admin user but got an error:
2020-03-13 11:02:14 UTC-5e6b6832.9b0c-ERROR: permission denied for language c
Next I found an article https://stackoverflow.com/questions/7014437/error-permission-denied-for-language-c with the words: "Only superusers ca

[2020-03-13 17:28] mamccrea commented on #49567
Thanks for the feedback. I am investigating this issue.

[2020-03-13 17:29] normesta commented on #49651
Hi @WenJason - quick update on this. Turns out that V8.1 is available only on Windows. The latest version for Linux is v7.3 and the latest version for RHEL 6 is v7.2. Therefore, you are indeed downloading the correct versions for Linux. I'm updating the Linux article to make this clear. Thank you for raising!

[2020-03-13 17:31] jwcw commented on #50145
@IEvangelist v3.1.1. There is no --name parameter in the helm documentation either https://helm.sh/docs/helm/helm_install/

[2020-03-13 17:32] mamccrea commented on #49484
Thanks for the feedback @vveluvolu. What version of Python did you use originally?

[2020-03-13 17:34] IEvangelist commented on #50145
Ah, I see now... It looks as though we were using Helm 2 when the article was written and now Helm 3 is out. https://v2.helm.sh/docs/helm/#helm-install. Thank you for bringing this to my attention, I'll create an internal work item to track this effort and get this updated. Are you okay with me closing this, knowing that I'll track it internally?

[2020-03-13 17:34] BharathNimmala-MSFT commented on #50140
@JasonTimmins  Thank you for bringing this to our notice, will raise a PR to fix the issue.

[2020-03-13 17:40] deep-mm opened #50150 "Keyvault recover says no key found"
When I try to recover my soft-deleted key using azure cli commands, I get this error, saying key not found
![image](https://user-images.githubusercontent.com/29853549/76645771-a31c1500-657f-11ea-8216-8ab8090ebee8.png)

But when I try to add a new key with the same name, it doesn't let me add saying its in soft-deleted state
![image](https://user-images.githubusercontent.com/29853549/76645834-c8108

[2020-03-13 17:41] lobrien commented on #49968
I've asked the product team for more information on this.

[2020-03-13 17:43] Karishma-Tiwari-MSFT commented on #50114
Thanks for the question. We are currently investigating and will update you shortly.

[2020-03-13 17:43] luzlab opened #50151 "Connecting to database/schema other than default?"
Can I connect to a database or schema other than "default"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63c70e9e-23d8-34f5-5997-80a3b62de184
* Version Independent ID: e572b453-4f63-fa34-5810-a9336c067ec3
* Content: [Power BI - Azure Databricks](https://docs.microsoft.com/en-us/azure/databricks/integrations/bi/power-

[2020-03-13 17:46] NavtejSaini-MSFT commented on #50123
@beelesnik We are checking this and we will get back to you.

[2020-03-13 17:47] dlstucki commented on #11561
A HybridConnectionManager on the same endpoint address (hostname and endpoint address being the same, like "contoso.servicebus.windows.net/HC1") could conflict with another Relay Listener at the exact same address. If those addresses were different host names or different paths (e.g. "HC2" instead of "HC1") then there should be no conflict. Each new connection will be randomly routed/balanced to o

[2020-03-13 17:51] NavtejSaini-MSFT commented on #50133
@taromielnaz We are checking this and will get back to you.

[2020-03-13 17:54] jg11jg opened #50152 "Clarifications of "If a stored procedure is associated with an Azure Cosmos container" and "Transaction across a partition key value""
"If a stored procedure is associated with an Azure Cosmos container ..." implies that there can be stored procedures NOT associated with a container, like maybe at the database level that might allow transactions across containers / logical partition keys?
Similarly, "Transaction across a partition key value" unless read very carefully might be understood as "Transaction across partition key value

[2020-03-13 17:55] NavtejSaini-MSFT commented on #50136
@jg11jg We are checking this and will get back to you.

[2020-03-13 17:57] NavtejSaini-MSFT commented on #50137
@jg11jg We are checking this and we will get back to you.

[2020-03-13 18:00] NavtejSaini-MSFT commented on #50142
@beelesnik We are checking this and will get back to you.

[2020-03-13 18:01] NavtejSaini-MSFT commented on #50149
@beelesnik We are checking this and will get back to you

[2020-03-13 18:05] derisen commented on #48780
This issue should be resolved by now. Please consider closing.

[2020-03-13 18:11] IEvangelist commented on #50145
#please-close

[2020-03-13 18:15] IEvangelist commented on #49992
Hi @JonathanPalmerGD,

Thank you for providing feedback on the docs, this is much appreciated. What exactly would you like to see and where? You mentioned like the code comments, which ones specifically? Which areas of the docs should be updated?

Thanks again, I look forward to hearing back from you.

[2020-03-13 18:18] BharathNimmala-MSFT commented on #50147
@jeroenhabets Thank you for your feedback, assigning this to our document author @MGoedtel to further evaluate the feedback and update the document accordingly. Thank you

[2020-03-13 18:19] henriquebelotto commented on #50075
I was able to fix using the first solution (change to logonIdentifier) in my custom policy ("ThrustFrameworkBase"). The idea of changing the CSS, for some reason, it didn't work.

Thank you for the support.

[2020-03-13 18:23] rido-min opened #50153 "DigitalTwins C# API reference not available"
I could not find the Reference docs for [DigitalTwinInterfaceClient](https://docs.microsoft.com/en-us/search/?search=DigitalTwinInterfaceClient&scope=Azure%20SDK%20for%20.NET )

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d194649-58ca-dfdc-af57-2b8c9a69c781
* Version Independent ID: 28b689e3-9d7b-607d-83a6-3fdb2e0aa

[2020-03-13 18:32] AndreaC-MSFT opened #50154 "Safari support"
In the list of supported browsers, there is no mention of Safari. Should it be added to the list or is it incompatible for some reason? I assume it's just missing from the list?
https://docs.microsoft.com/en-gb/azure/active-directory-b2c/customize-ui-overview?source=docs#custom-html-and-css

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-03-13 18:32] brandonh-msft commented on #49513
the subscription id is a customer one, so I don't think i'll put that in to a "community" email. But i'll reach out.

[2020-03-13 18:39] Mike-Ubezzi-MSFT commented on #50152
@jg11jg Thank you so much for the detailed feedback. I will have a PR submitted with this feedback, to be reviewed by the content owner.

[2020-03-13 18:42] MashaMSFT commented on #47203
@msebolt, the PR that you mentioned, did it have the fix?

[2020-03-13 18:43] MashaMSFT commented on #47203
just checked, it was fixed, we can close out this Git Issue #please-close

[2020-03-13 18:43] #47203 closed

[2020-03-13 18:54] TravisCragg-MSFT commented on #49779
@ftereso do you still need assistance with this?

[2020-03-13 18:55] KranthiPakala-MSFT commented on #50151
@luzlab Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-03-13 19:08] RyanHill-MSFT commented on #49287
@rogerbramon, if your app is on a Linux host, then yes Vnet is still in preview. Per the blog post you referenced you'll see the following:

The team is targeting to have GA for Linux hosts in April. I have verified the portal is correct.

[2020-03-13 19:11] henriquebelotto opened #50155 "Other languages"
Hello,

I'm wondering if I can find somewhere the "Basic" localizedStrings, that were provided for Spanish and English, in other languages, such as French?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 105d323b-2017-72e9-3d26-dc32aa095439
* Version Independent ID: b13a29a5-52af-d768-5191-86c20c9433ab
* Cont

[2020-03-13 19:39] rwelton83 opened #50156 "HTML5 Client Not Working Chrome - "protocol error""
I'm not able to connect to WVD session when using the html5 client in Chrome. Receiving the error "your session ended because of a protocol error". However, it does work in other browsers (such as Edge). I have validated this issue on multiple machines and networks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b47fa3

[2020-03-13 19:43] bradib0y commented on #49323
you can use ARM templates to store your infrastructure as code in source control. Using those, you can deploy and redeploy any time you want. If there are no changes in any settings, the resource will remain unchanged. (This makes ARM template deployments idempotent operations.)

[2020-03-13 19:59] MGoedtel commented on #50147
We are presently going through all the content for Automation to update articles that are demonstrating how to use ARM module cmdlets and replace where applicable, with the Az module equivalent.  Thanks - #please-close

[2020-03-13 19:59] #50147 closed

[2020-03-13 20:09] femsulu commented on #50127
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-03-13 20:11] femsulu commented on #50143
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-03-13 20:21] henriquebelotto opened #50157 "Localized string for userMessage (Technical Profile REST)"
Hello,

I'm customizing the language for our sign in or sign up process in Azure B2C and I'm wondering how can I set the "userMessage" that I return from the REST call based on the language? Is there a way to customize it in the Custom Policy or the REST API needs to know the language to return the correct message in their response?

Thank you

---
#### Document Details

⚠ *Do not edit this sectio

[2020-03-13 20:27] Jawvig opened #50159 "Not Container Instances"
The current version of this page says "Deploy with Azure Container Instances" but gives instructions for how to deploy it onto App Services. Also, it does not give an indication as to the resource requirements for the container.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ddfcf80-f528-66be-af39-533c9027b675
* Versi

[2020-03-13 20:32] SaurabhSharma-MSFT commented on #49792
@mbell85 can you please help providing your solution.

[2020-03-13 20:45] MarileeTurscak-MSFT commented on #50154
@AndreaC-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-13 20:46] MarileeTurscak-MSFT commented on #50155
@henriquebelotto
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-13 20:46] MarileeTurscak-MSFT commented on #50138
@mymebenha
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-13 20:53] Jawvig opened #50161 "Image source is not Azure Container Registry"
If you choose Azure Container Registry as the image source it will show only ACRs in your subscription. There's no option to choose an Access Type of Public there. One way of doing it is to choose private registry, but the URL of the MCR (https://mcr.microsoft.com/) and leave the username and password blank.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-03-13 20:54] YutongTie-MSFT commented on #50145
@jwcw
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-03-13 20:54] #50145 closed

[2020-03-13 21:00] MarileeTurscak-MSFT commented on #49875
I believe this is true based on other documentation that I have seen, so I made a pull request to add this.

@MicrosoftGuyJFlo please confirm.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/107688

[2020-03-13 21:00] #49875 closed

[2020-03-13 21:11] MarileeTurscak-MSFT commented on #50154
@AndreaC-MSFT I've asked the product team to confirm about this. I have heard before that there can be compatibility issues but I'm not sure if it's supported now.

[2020-03-13 21:21] Jawvig commented on #50161
An alternative is choosing `Docker Hub`, rather than `Azure Container Registry` at which point the instructions to choose `Public` make sense, and the image name is still the same.

[2020-03-13 21:23] bruceokallau opened #50162 "need more imports"
I need to import 3 datasets to my python script. Would this be available in the future? Is there a workaround so that I can import 3 disparate datasets?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c955e34-3ce8-3aeb-8dbf-cdc01bde6d25
* Version Independent ID: cb290cea-b245-2228-f299-d5f54cd7e0ac
* Content: [Execute

[2020-03-13 21:24] MarileeTurscak-MSFT commented on #50022
There's a related feedback item as well that you can follow. https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/36448306-support-for-workday-integration-system-custom-at

[2020-03-13 21:24] #50022 closed

[2020-03-13 21:33] MarileeTurscak-MSFT commented on #50126
@deepak-kumbhar thanks for this feedback! Please open an issue on a specific document and include the details of what you need fixed, and we will gladly resolve this.

[2020-03-13 21:33] #50126 closed

[2020-03-13 21:34] #49854 closed

[2020-03-13 21:36] MarileeTurscak-MSFT commented on #50118
@mohamed-shehata-m
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-13 21:38] gonzoramos commented on #43666
I am experiencing the same issue, and none of the above works my cmd line says:

mount_smbfs: server connection failed: Operation timed out

Is there a way to diagnose why it will not connect to the smb server?

Many thanks ina advance.

[2020-03-13 21:40] Jawvig opened #50163 "Missing EULA acceptance"
There is a missing step required for accepting the EULA. When specifying the container details, in the startup command field should be placed the following: `.\run.sh eula=accept`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ddfcf80-f528-66be-af39-533c9027b675
* Version Independent ID: cdef9de0-1e51-9d27-cf06-beb0ca

[2020-03-13 21:40] Jawvig commented on #50159
A B1 instance seems to be sufficient to run this container.

[2020-03-13 21:42] MarileeTurscak-MSFT commented on #50150
@deep-mm please provide a link to the document which you are following so that we can better assist.

[2020-03-13 21:50] ramondeklein opened #50164 "The private key is not RSA or it is unreadable. Only RSA private key is supported for BYOC to secure a custom domain."
I have created a wildcard certificate (from LetsEncrypt) for my domain and put it in my Azure Key Vault. The Azure Functions are already using the certificate without any issues, so the certificate should be fine. I have added an access policy (get/list secret+get/list certificate) for the Microsoft.Azure.Cdn user. When I try to enable the certificate I get the following error:

The private key is

[2020-03-13 21:56] KranthiPakala-MSFT commented on #50050
@bharatraja : To better assist on your query, could you please share the document link that your are referring to?

[2020-03-13 21:56] mike-urnun-msft commented on #50129
@tanzencoder Thank you for your feedback! For the v3 docker image, It might be better to open an issue on the [functions host](https://github.com/Azure/azure-functions-host/issues) repo.

[2020-03-13 21:57] mike-urnun-msft commented on #50146
@steveculshaw Thank you for your feedback! We will review and update as appropriate.

[2020-03-13 22:05] aappleton opened #50166 "Documentation didn't work. Had to follow the steps outlined here: https://jtcconsulting.ca/publish-remote-desktop-with-azure-ad-application-proxy/"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-03-13 22:13] cynthn commented on #49160
#assign @ju-shim

[2020-03-13 22:23] sandeep8530 opened #50168 "Python Example"
Hi,

Do you have any similar example in python? I could find examples in python to send and receive data through dataframes, but not directly as mentioned in this example. Appreciate if you can provide one

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4137b0cc-898b-b25c-6321-fe98f22f803d
* Version Independent ID: 4ec1

[2020-03-13 22:36] MarileeTurscak-MSFT commented on #50128
@Venopsis
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-13 22:36] MarileeTurscak-MSFT commented on #50131
@anothnk
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-13 22:38] MarileeTurscak-MSFT commented on #50135
@alexvy86
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-13 22:44] MarileeTurscak-MSFT commented on #50135
Thanks! I made a pull request to fix that sentence and add a link to the documentation on increasing file share sizes, but I'll leave it open for @roygara to review. https://github.com/MicrosoftDocs/azure-docs-pr/pull/107706

[2020-03-13 22:44] #50135 closed

[2020-03-13 22:48] markjbrown commented on #50137
Please assign to @timsander1 Thanks.

[2020-03-13 22:53] wesmc7777 commented on #43515
We just updated the US version of this topic. Others should be updated soon.  An updated sample has been provided to clear up most if not all the issues with the old stale sample.

Updated English US version of the topic:
[https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-raspberry-pi-kit-node-get-started](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-raspberry-pi-kit-node-get-starte

[2020-03-13 22:54] ramondeklein commented on #50164
I’ll try again with a Verizon CDN. According to to to https://github.com/MicrosoftDocs/azure-docs/blob/master/includes/cdn-front-door-allowed-ca.md the Microsoft CDN doesn’t support LetsEncrypt.

[2020-03-13 23:03] MarileeTurscak-MSFT commented on #50141
@dc995
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-13 23:07] MarileeTurscak-MSFT commented on #50148
@keatseongchan
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-13 23:10] TravisCragg-MSFT commented on #49810
@nclementsl We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-13 23:10] #49810 closed

[2020-03-13 23:13] normesta commented on #41150
Thank you @sthoward0914 for raising this. The article [Scalability and performance targets for standard storage accounts](https://docs.microsoft.com/en-us/azure/storage/common/scalability-targets-standard-account) has been updated to apply to Data Lake Storage Gen2 as well. Thank you!

[2020-03-13 23:13] normesta commented on #41150
#please-close

[2020-03-13 23:13] #41150 closed

[2020-03-13 23:21] #49652 closed

[2020-03-13 23:24] MayMSFT commented on #50162
it is available today. You can just pass the 3 dataset via arguments or input parameter.
[code]

more examples here: https://github.com/Azure/MachineLearningNotebooks/tree/master/how-to-use-azureml/work-with-data/datasets-tutorial

[2020-03-13 23:26] MarileeTurscak-MSFT commented on #50011
Hi @Chandu12x ,

I am not sure if this is fully possible with a JWT, but will confirm.

See related thread: https://stackoverflow.com/questions/58940576/azure-ad-custom-claims-in-jwt

Since this is a product question and less related to doc feedback, please post in [Microsoft Q&A] if you'd like to continue the discussion(https://docs.microsoft.com/answers/topics/azure-active-directory.html?filter=

[2020-03-13 23:26] #50011 closed

[2020-03-13 23:26] Karishma-Tiwari-MSFT commented on #48581
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-13 23:26] #48581 closed

[2020-03-13 23:28] MarileeTurscak-MSFT commented on #50060
@scrubbles thanks for your question. I have reached out to the product team to ask.

[2020-03-13 23:30] Karishma-Tiwari-MSFT commented on #49907
Is there something in any specific Azure AKS doc you are looking to have updated or are having issues with? The scope for these doc issues is to help identify gaps and issues with the documentation.
Else, if you are looking for help with debugging performance issues I would suggest reaching out to the [MSDN](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=AzureContainerServices) or

[2020-03-13 23:32] hisasima commented on #49323
I understand your advice but I want you to add that limitation that we can't change the AZ after provisioning.

[2020-03-13 23:51] MarileeTurscak-MSFT commented on #50138
Thank you. Based on other documentation this appears to be true for iOS and Android devices.

I made a pull request to add a note about this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/107718

[2020-03-13 23:51] #50138 closed

[2020-03-13 23:56] paulbouwer commented on #50100
@keiransteele @VikasPullagura-MSFT - we are currently working on the updates of the docs to Istio 1.5. Thank you for raising this.

[2020-03-14 00:03] Wicaeed opened #50172 "Does the Workday Writeback connector still only support writing back Username & Email only?"
In the section here:
Part 2: Configure writeback attribute mappings
In this section, you will configure how writeback attributes flow from Azure AD to Workday. At present, the connector only supports writeback of email address and username to Workday.

This was the case over a year and a half ago when we tried to implement Phone number writeback from Azure AD to Workday.

Has this changed and are

[2020-03-14 00:08] Karishma-Tiwari-MSFT commented on #50156
@ChristianMontoya do you have any inputs on why this could be happening? Thanks :)

[2020-03-14 00:11] mbell85 commented on #49792
In my case, it turned out not to be the ASA that was the problem, but the VM where the OMS Agent was installed. The OMS Agent could post mock messages to Sentinel but syslog test messages never made it through. We ended up scrapping the VM and spinning up a brand new one (Ubuntu Server 18.04).

As for getting the ASA to send syslogs directly to the VM agent, it didnt work directly using local IP b

[2020-03-14 00:13] GiftA-MSFT commented on #49890
@PatrickFarley please can you help with this issue? Thanks.

[2020-03-14 00:13] leksangb23 commented on #20861
Hi,
Since only the Co-administrator on the subscription can perform any operations under Management Certificates,
how can a user upload a certificate on a modern subscription - with no classic roles?

[2020-03-14 00:13] mbell85 commented on #49792
The messages getting sent to the machine are indeed being sent over UDP 514. Thought I should add that.

Sent from Samsung Galaxy smartphone.
Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Mark Bell <notifications@github.com>
Sent: Friday, March 13, 2020 7:11:32 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Mark Bell <mark.bell@journeys

[2020-03-14 00:15] mbell85 commented on #49792
We also made sure to turn off auto provisioning  in Azure, as it was initially tying the machine to my default workspace instead of the sentinel workspace.

Sent from Samsung Galaxy smartphone.
Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Mark Bell <mark.bell@journeystn.org>
Sent: Friday, March 13, 2020 7:13:34 PM
To: MicrosoftDocs/azure-docs <azure-docs@n

[2020-03-14 00:16] mbell85 commented on #49792
*auto provisioning in Azure Security Center. Just to be clear.

Sent from Samsung Galaxy smartphone.
Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Mark Bell <mark.bell@journeystn.org>
Sent: Friday, March 13, 2020 7:15:11 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>; MicrosoftDocs/azure-docs <reply@reply.github.com>
Cc: Your activity <your

[2020-03-14 00:27] mchudinov opened #50174 "Actors with DI wrong code"
ActorRuntime.RegisterActorAsync&lt;MyActor&gt;(
            (context, actorType) =&gt; new MyActorService(context, actorType, () =&gt; new MyActor()))
            .GetAwaiter().GetResult();

This code is wrong in the part MyActor(). Any actor class must have at least two arguments in constructor (ActorService actorService, ActorId actorId) since inherited from an Actor class.
Please provide a real

[2020-03-14 00:54] Karishma-Tiwari-MSFT commented on #50114
Azure uses port 445 to mount Azure File by using SMB internally. Can you please check if port 445 is blocked by networking rules.

[2020-03-14 01:06] Karishma-Tiwari-MSFT commented on #49771
I was not able to find a doc on that. This is what I found:
https://docs.microsoft.com/en-us/azure/python/python-sdk-azure-samples-managed-disk

[This article ](https://azure.microsoft.com/en-us/blog/introducing-the-preview-of-direct-upload-to-azure-managed-disks/)says:
All regions are supported via Azure Compute Rest API version 2019-03-01, latest version of Azure CLI, Azure PowerShell SDK, Azure

[2020-03-14 01:11] Karishma-Tiwari-MSFT commented on #49948
@naymore You mentioned that 'Using the Azure Portal I can also create a Standard B2s cluster', did you try that in the same location i.e. West Europe ?

[2020-03-14 01:19] Karishma-Tiwari-MSFT commented on #49952
Is there any update?

[2020-03-14 01:23] Karishma-Tiwari-MSFT commented on #49993
@zr-msft I think it is not clear from the documentation. Can we add this information to the doc?

[2020-03-14 01:26] Mike-Ubezzi-MSFT commented on #50118
@mohamed-shehata-m Can you provide more specifics about the link(s) that are not working? I am not finding these, and your assistance is greatly appreciated.

![Screenshot (788)](https://user-images.githubusercontent.com/37126106/76672182-0c882d80-6558-11ea-9642-d3b77a886149.png)

[2020-03-14 01:27] Karishma-Tiwari-MSFT commented on #50041
Is there any update?

[2020-03-14 01:37] Karishma-Tiwari-MSFT commented on #50047
The error indicates that the IP is referenced by multiple configs
Can you check the frontend IP configuration of the load balancer in the Azure portal and see if there are any stale entries of the previous service creation ? If found delete the frontend IP configuration and then recreate the service.

[2020-03-14 01:39] MarileeTurscak-MSFT commented on #50153
@rido-min
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-14 01:40] MarileeTurscak-MSFT commented on #50157
@henriquebelotto
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-14 01:41] MarileeTurscak-MSFT commented on #50159
@Jawvig
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-14 01:42] MarileeTurscak-MSFT commented on #50161
@Jawvig
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-14 01:44] MarileeTurscak-MSFT commented on #50162
I'm closing this out since May has answered this but if you have further questions feel free to re-open.

[2020-03-14 01:44] #50162 closed

[2020-03-14 01:45] MarileeTurscak-MSFT commented on #50163
@Jawvig
Thanks for the feedback! We are looking into this and will get back to you shortly.

[2020-03-14 01:46] MarileeTurscak-MSFT commented on #50164
@ramondeklein
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-14 01:47] MarileeTurscak-MSFT commented on #50166
@aappleton thanks for this feedback! Please create a new issue linking the exact doc where you had this problem, and describing the details for why it did not work.

[2020-03-14 01:47] #50166 closed

[2020-03-14 01:49] MarileeTurscak-MSFT commented on #50168
@sandeep8530
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-14 01:50] MarileeTurscak-MSFT commented on #50172
@Wicaeed
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-14 01:50] MarileeTurscak-MSFT commented on #50174
@mchudinov
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-14 02:08] Karishma-Tiwari-MSFT commented on #50063
The doc mentions that :

Some properties may only be changed to certain values if the VMs in the scale set are deallocated. These properties include:

SKU name- If the new VM SKU is not supported on the hardware the scale set is currently on, you need to deallocate the VMs in the scale set before you modify the SKU name. For more information, see how to resize an Azure VM.

https://docs.microsoft.

[2020-03-14 03:33] rothja commented on #40578
@rehantahir I sincerely apologize for the delay in looking at this. The article has changed ownership and we did not follow-up with the issue like we should have. @jaszymas, I believe you're the new owner of this content. Can you take a look? Thank you! #reassign:jaszymas

[2020-03-14 03:34] rothja commented on #44211
@jaszymas, I believe you're the new owner of this content. Can you take a look? Thank you! #reassign:jaszymas

[2020-03-14 03:35] rothja commented on #44237
@jaszymas, I believe you're the new owner of this content. Can you take a look? Thank you! #reassign:jaszymas

[2020-03-14 04:43] AmitavaHazra commented on #50022
@cmmdesai,
Workday SME customized request call to Get_workers process to get custom attribute.
This is something you had feedback for MS. Can you please tell me whether Azure user provisioning service can make this customized request to API to retrieve custom attribute ? Is this something already supported in this solution.??
https://feedback.azure.com/forums/169401-azure-active-directory/suggesti

[2020-03-14 04:45] AmitavaHazra commented on #50044
Workday SME customized request call to Get_workers process to get custom attribute in its response.
 This is something you gave feedback for MS. Can you please tell me whether Azure user provisioning service can make this customized request call to API to retrieve custom attribute ? Is this something already supported in this solution.??
https://feedback.azure.com/forums/169401-azure-active-direct

[2020-03-14 05:06] SumanthMarigowda-MSFT commented on #49802
@ak09 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-14 05:06] #49802 closed

[2020-03-14 05:43] amanmcse commented on #49926
@sunkada We did not hear back from you. I am proceeding with closure of this thread. Please post your question along with the document link at Microsoft Q&A and we can work on it.

[2020-03-14 05:43] #49926 closed

[2020-03-14 05:49] amanmcse commented on #49845
@OffColour If you do not have a local account to login to the computer and there is no line of sight connectivity with a Domain Controller, you cannot connect to VPN as without logging in you will not be able run the VPN installer. If the device is pure Azure AD join (not hybrid), you can login to the computer without connectivity to a DC as you would be authenticating from Azure AD.

Hope this cl

[2020-03-14 05:53] #48385 closed

[2020-03-14 05:55] amanmcse commented on #50102
@watahani  Hope this clarifies your doubt. I am proceeding with closure of this thread. If you have any questions feel free to tag me in your reply.

[2020-03-14 05:55] #50102 closed

[2020-03-14 06:19] tec-anDro-DeV opened #50175 "Out of memory error"
When I run the application on Samsung galaxy on8, I got this error and app crashes.

Caused by java.lang.OutOfMemoryError
Failed to allocate a 8388620 byte allocation with 7232536 free bytes and 6MB until OOM
com.microsoft.azure.storage.core.Utility.analyzeStream

com.microsoft.azure.storage.core.Utility.analyzeStream (Utility.java:199)

Thanks & Regards.

[2020-03-14 06:20] barakooda commented on #49882
do you mean they can shoot in the same time and will perform the same way ?

[2020-03-14 06:21] msrini-MSFT commented on #50175
@tec-anDro-DeV , can you please share the doc link to further assist?

[2020-03-14 07:05] Divine1 opened #50176 "password based SSO"
The detail under how authentication works on password based sso is confusing for me.

"To authenticate a user to an application, Azure AD retrieves the user's credentials from the directory and enters them into the application's sign-on page. " - this sentence is very confusing,

https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/what-is-single-sign-on#how-authentication-works-for

[2020-03-14 07:42] rido-min opened #50177 "Reference for Node.js links to Java docs"
Reference for Node.js links to Java docs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d194649-58ca-dfdc-af57-2b8c9a69c781
* Version Independent ID: 28b689e3-9d7b-607d-83a6-3fdb2e0aa015
* Content: [IoT Plug and Play libraries and SDKs](https://docs.microsoft.com/en-us/azure/iot-pnp/libraries-sdks?source=docs#feedback

[2020-03-14 08:09] mohamed-shehata-m commented on #50118
the "learn more" link are in azure portal, under azure sql firewall setting. If you hover over both, you will not any hyperlinks.
![Screenshot_20200314-090709_Edge](https://user-images.githubusercontent.com/25155380/76677851-6974f980-65d3-11ea-9320-df71e60eaf1d.jpg)

[2020-03-14 08:29] Dylan-J commented on #45598
@serverhack74 - have you replicated the configuration in the azurevpnconfig.xml file? I was able to replicate when the trailing / isn't added to the xml file too.

[2020-03-14 08:58] TestUser0811 opened #50178 "AAD - FIDO intergration via GraphApi REST endpoints"
We are following "FIDO2 security keys of Azure Active Directory" feature available on Azure for public preview feature, to provide passwordless sign-in experience to our customers.
Going by documentation & samples provided hope it possible via only azure portal, Is it possible to accomplish integration our existing AAD with FIDO2 authentication programatically via GraphApi REST endpoints or AAD se

[2020-03-14 09:44] haripraghash opened #50180 "az vmss extension set fails with 'The value of parameter type is invalid' when executed from azure cloud shell"
- [ ] The relevant Azure service or technology.
- Az CLI - az vmss extension set
- [ ] A link to the published documentation article that you have feedback about.
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/application-gateway/tutorial-create-vmss-cli.md
- [ ] Clear, specific feedback that the author can act on.
When we try to run az vmss extension set from azure cloud shell a

[2020-03-14 11:21] RobertoPrevato opened #50181 "Wrong documented command to connect to MySQL Server requiring SSL"
There is a wrong command documented here: [Tutorial: Build a PHP and MySQL app in Azure](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-php-mysql).

Following the instructions, at the point [Connect to production MySQL server locally](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-php-mysql#connect-to-production-mysql-server-locally), the c

[2020-03-14 11:39] jhueppauff opened #50182 "Please add examples for TypeScript"
Would be great to also have examples for typescript

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d35c032-eae7-ac4b-2ad3-32fd0cd2318f
* Version Independent ID: 92b0a972-eabe-8048-36b1-a1cefb3acf43
* Content: [Azure Table storage bindings for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/func

[2020-03-14 12:35] andrewcrayden opened #50183 "AuthenticationFailed: IDX10803: Unable to obtain configuration"
Followed this tutorial. After logging in and clicking the "Call Web API" button, the following error is printed onto the webpage:

Web APi returned:
"AuthenticationFailed: IDX10803: Unable to obtain configuration from: 'https://b2c-tenant-name.microsoftonline.com/tfp/b2c-tenant-name.onmicrosoft.com/B2C_1_signupsignin/v2.0/.well-known/openid-configuration'."

How can this be fixed? The name of my s

[2020-03-14 12:44] BhargaviAnnadevara-MSFT commented on #50014
@ashish2rathi Thanks for reverting. Looping in @lisaguthrie for inputs related to the suggested enhancement.

[2020-03-14 13:06] meswaramoorthy opened #50184 "EPERM: operation not permitted"
Not able to submit experiment from VS Code. Getting the following error:

EPERM: operation not permitted, lstat 'd:$RECYCLE.BIN\S-1-5-21-4242884320-2990332693-2760820008-1001'

#49676 Couldnt reopen this issue, Hence had to post a new one.

![Azure VS Code feedback](https://user-images.githubusercontent.com/41995288/76682475-753bdc80-6622-11ea-9bd7-38bcc7a4bdf4.png)

---
#### Document Details

⚠ *

[2020-03-14 13:34] cdunford opened #50185 "Broken link "Azure Private Link service limitations""
The link [Azure Private Link service limitations](https://docs.microsoft.com/en-us/private-link/private-link-service-overview) results in a 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b68f2c4-bb6c-11a2-6c61-8af4057a2438
* Version Independent ID: e3498bed-1447-6841-8353-9f1b5d3dc8df
* Content: [Create a private

[2020-03-14 13:37] msrini-MSFT commented on #50176
@Divine1  , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-14 13:49] arvinder-dhar opened #50186 "Disable integrations"
The path to uncheck "Allow Microsoft Cloud App Security to access my data" is not correct, Please rectify.

The correct path should be Security Center --&gt; Pricing & settings --&gt; Choose the Subscription --&gt; Threat Detection (Under Settings) --&gt; clear "Allow Microsoft Cloud App Security to access my data" --&gt; Save

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-03-14 14:30] mikenri opened #50187 "Can't change username or password after creating Active Directory connection"
Currently there is a bug in the portal where you cannot change the username or password after creating the AD connection.
This documentation should be updated to state that you should use a service account where the password never expires when creating the AD connection.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f

[2020-03-14 15:17] iammikeleung commented on #49348
hi @tom-rb , I just ran into this same issue with ADF and postgres.

Did you find a way around this issue with ADF or have you moved to an alternate solution to get data into postgres?

[2020-03-14 15:21] DixitArora-MSFT commented on #50182
Hi @jhueppauff Thanks for reaching out. We will review and update as appropriate.

[2020-03-14 16:29] AjayKumar-MSFT commented on #49932
@SamratAlamgir, Yes. You typically don't set the staging slot to use Local Cache to enable a seamless build-deploy-test lifecycle.  (These are defined aliases) WEBSITE_LOCAL_CACHE_OPTION & WEBSITE_LOCAL_CACHE_SIZEINMB - you can set these app settings to stick to production slot only.
![image](https://user-images.githubusercontent.com/44606227/76686081-e8ebe280-663e-11ea-858e-c8e9945bd07f.png)

[2020-03-14 16:41] marrobi commented on #42472
@asudbring @YutongTie-MSFT @dcbrown16 I agree this isn't clear.

Just done some tests and it does appear than if you enable the firewall but do not whitelist any networks  then can only access over the private link endpoint..

[2020-03-14 16:44] anzaman commented on #45598
a note was added to the documentation
#please-close

[2020-03-14 16:44] #45598 closed

[2020-03-14 17:04] marrobi opened #50190 "Missing firewall rule."
Outbound traffic to login.windows.net:443 is also required to enable sign on. If not receive a normal password prompt.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb8e2623-1f79-aee3-bd97-8b5f647b6980
* Version Independent ID: 6346b54d-cc8d-0b79-a6b8-f9144cfa2459
* Content: [Log in to a Linux VM with Azure Active Dir

[2020-03-14 17:38] wpitallo commented on #44428
@DixitArora-MSFT any updates its been a while?

[2020-03-14 17:46] MarileeTurscak-MSFT commented on #50177
@rido-min
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-14 17:48] MarileeTurscak-MSFT commented on #50178
@TestUser0811 please provide the link to the document which you are following.

[2020-03-14 17:52] MarileeTurscak-MSFT commented on #50180
@haripraghash
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-14 17:54] MarileeTurscak-MSFT commented on #50181
@RobertoPrevato
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-14 17:55] MarileeTurscak-MSFT commented on #50183
@andrewcrayden
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-14 17:56] MarileeTurscak-MSFT commented on #50184
@meswaramoorthy
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-14 17:58] MarileeTurscak-MSFT commented on #50185
@cdunford
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-14 18:00] MarileeTurscak-MSFT commented on #50185
Thanks! I made a pull request to fix this link. https://github.com/MicrosoftDocs/azure-docs-pr/pull/107743

[2020-03-14 18:00] #50185 closed

[2020-03-14 18:01] MarileeTurscak-MSFT commented on #50186
@arvinder-dhar
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-14 18:02] MarileeTurscak-MSFT commented on #50187
@mikenri
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-14 18:03] MarileeTurscak-MSFT commented on #50190
@marrobi
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-14 18:17] TestUser0811 commented on #50178
https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-authentication-passwordless-security-key

https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-authentication-passwordless
Section: "What scenarios work with the preview?"

But my question is Graph/REST api available for  "FIDO2 security keys of Azure Active Directory" rather portal option?

[2020-03-14 19:42] KrishnaG-MSFT commented on #49954
@CeciAc Created a Pull Request (PR) for the required change(s). PR is current in merged state. Changes would reflect soon in ~24 hours. #please-close

[2020-03-14 19:42] #49954 closed

[2020-03-14 19:58] AjayKumar-MSFT commented on #49930
Thanks for sharing the docs URL.
All of the apps (and hence containers) in a single App Service Plan (ASP) run on the same underlying VM (/ VMs -scaled out instances if ASP is scaled-out).  You can leverage Azure App Service diagnostic to fetch deeper insight on the health info.
To access, navigate to your App Service app in the Azure portal. In the left navigation, click on Diagnose and solve pro

[2020-03-14 20:25] ikennachifo commented on #43633
@juuni26 @MCL-Fulljames @Padmanaabhah @michalzagrodzki @Murgates
It just seems the issue is with the current directory from which the command is run.
It probably needs to detect files specific to a run-time stack before uploading the app; Such files, like the 'package.json' file for Node.js would on exist within the app's directory. So please try '**cd**' in the app's directory

[2020-03-14 21:12] dotnetgator opened #50196 "Is there special behavior for Claims with a UserInputType of Password beyond just a masked display?"
I think this may the right place for it, although it may belong in ClaimsSchema - it appears that there are some undocumented special behaviors enforced in a Self-Asserted TP for a claim that has a UserInputType set to Password?

My guess would be that the following apply:
1) The claim value is only available within the Self-Asserted TP and any Validation TP's that it references. Otherwise, the cl

[2020-03-14 21:26] mikenri commented on #50187
Thanks, I have an open case with no resolution as of yet aside from the product team wanting me to create another account in another region with the credentials i want to change it to and they could try to copy the configuration on the back end.  Azure support case # is 120030324004124

[2020-03-14 21:32] wamota opened #50197 "Active Directory tenant names incorrect value"
The Government value for the Active Directory tenant names endpoint is incorrect, it should be [yourtenantname].onmicrosoft.us

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d0ab80e-bbb7-8eb9-f0b3-814f74e3a117
* Version Independent ID: e9952267-ab66-50a3-d3b0-7d2d621d5a9b
* Content: [Azure Government developer guide](

[2020-03-14 22:50] khairop opened #50198 "Missing Link"
Link for "Awesome Site Reliability Engineering Tools" is missing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ef00ce4-c22a-4c2c-2f41-7d823c372864
* Version Independent ID: 6b24e6bf-152b-eca3-21aa-18cf3c720da0
* Content: [SRE link collections and digests](https://docs.microsoft.com/en-us/azure/site-reliability-engine

[2020-03-14 23:05] steele6599 commented on #49793
So the expression provided doesn't appear to be joining the [AddressLineData] and [AddressLine2Data].  In the audit logs for a user i see that is does fine [AddressLineData] and [AddressLine2Data] but it is only adding [AddressLineData] to the AD attribute.

[2020-03-14 23:32] dotnetgator opened #50199 "Unclear information about Claims returned from the Validation TP"
At the top of this document it states:

However, in the document "About technical profiles in Azure Active Directory B2C custom policies", it states:

That information should be either echoed or linked here, as it is not clear from the introduction that the claims that can be consumed by subsequent Validation TP's must be explicitly included in OutputClaims in order to be used by other TP's in the

[2020-03-15 00:20] iammikeleung commented on #49348
@tom-rb I have now gotten around it by reducing write batch size

[2020-03-15 00:29] ajayanti1 commented on #42032
@ZamElek - Removed "Enterprise" from Office 365 E1/E2/E3/E4/E5 SKUs.

[2020-03-15 00:30] ajayanti1 commented on #42032
#please-close

[2020-03-15 00:30] #42032 closed

[2020-03-15 00:31] ajayanti1 commented on #48633
@ragewaar - Thanks for your patience! Added Office 365 A5 for students and Office 365 A5 for faculty.

[2020-03-15 00:32] ajayanti1 commented on #48633
#please-close

[2020-03-15 00:32] #48633 closed

[2020-03-15 01:08] danmyhre opened #50200 "No Details on Permissions Needed for Group Writeback"
Please add details on what AD permissions are supposed to be set for group writeback

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2c5e335-4367-b1fe-2e14-311a6f2cf81d
* Version Independent ID: a35eed80-eb37-e59c-07a4-43af4a985991
* Content: [Azure AD Connect: Accounts and permissions](https://docs.microsoft.com/en-us

[2020-03-15 01:08] MarileeTurscak-MSFT commented on #50196
@dotnetgator
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-15 01:10] MarileeTurscak-MSFT commented on #50197
@wamota
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-15 01:11] MarileeTurscak-MSFT commented on #50198
@khairop
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-15 01:11] MarileeTurscak-MSFT commented on #50200
@danmyhre
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-15 01:12] MarileeTurscak-MSFT commented on #50199
@dotnetgator
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-15 01:13] b-juche commented on #50187
cc stakeholders @lichunli-ms and @ntap512 for their input.  As I understand, user documentation does not document bug behaviors but how the feature intends to work.

[2020-03-15 01:14] dnblankedelman commented on #50198
@khairop Thanks for reporting the broken link!

The organization changed their github URL. I just received the new URL where they moved it yesterday. I'll be submitting the correction tomorrow or first thing on Monday.

In the meantime, their link can be found here:

https://github.com/SquadcastHub/awesome-sre-tools/blob/master/README.md

   — dNb

[2020-03-15 02:59] MANakib opened #50201 "Azure Reserved Instance Agreement break Punishment with Cost."
Better to add Agreement break punishment for Azure Instance. So that customer can easily understand the process and there next step.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5205150-d00d-725a-4fb7-f0d111b50574
* Version Independent ID: 93e72498-45c7-3277-6f3f-c08b3c7f7ce4
* Content: [Understand Azure reservation

[2020-03-15 02:59] gc435 opened #50202 "This is just too complicated"
All I want to do is store a ton of files in Azure.  Got that set up, but it turns out port 445 is blocked by my company because of WannaCry.  So, apparently I need a P2S VPN.

I wish I didn't need to be an expert in debugging PowerShell in order to just store files in Azure.  I get many errors when trying to run the scripts on this page.  Can you make something that's just point-and-click?  Becaus

[2020-03-15 03:09] stuartparker opened #50203 "imports required prior to running snippets"
Need to import

from pyspark.sql.types import *
from pyspark.sql.functions import *

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5dc4bda-8e5d-2145-fac7-eaa1b70e9b09
* Version Independent ID: e05c6711-f598-a58a-bf08-5f61d6f773ca
* Content: [Structured Streaming - Azure Databricks](https://docs.microsoft.com/en-gb/azu

[2020-03-15 03:54] D-Jeffrey opened #50204 "Missing one of the more comment errors 135011"
135011 needs to be documented.  The 'Fix Account' wizard will trigger the message, when then displays a wamerrors 135011 message.  (wam and warn are very similar looking words for older support guys).

There is no explanation that the device is disabled (which can happened if the user click 'disable' from with the device list of signed in devices).  The device can be reenabled by going to AAD - De

[2020-03-15 04:14] xtianus79 opened #50205 "The Python 2.7.15 is difficult to set as default"
Trying to use the python version that I installed but it isn't being recognized even though it is in the path.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7d8671e-b213-cfb7-fe97-eb0a09344c96
* Version Independent ID: b6d374ba-e97a-e428-3d30-5716e08cc738
* Content: [Use Visual Studio Code to connect to Azure Blockch

[2020-03-15 05:49] kumarallamraju opened #50206 "Azure Monitor for VMs is not in preview anymore."
[Enter feedback here]

Azure Monitor for VMs is not in preview anymore.
We may need to update the title of this page.

<img width="1140" alt="Screen Shot 2020-03-14 at 10 48 55 PM" src="https://user-images.githubusercontent.com/15897803/76696205-ffe20300-6645-11ea-856c-0707100195d0.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-03-15 07:42] TestUser0811 commented on #50178
Any update??

[2020-03-15 07:46] msrini-MSFT commented on #50201
@MANakib  , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-15 07:47] msrini-MSFT commented on #50202
@gc435  , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-15 08:07] msrini-MSFT commented on #50203
@stuartparker , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-15 08:12] msrini-MSFT commented on #50175
@tec-anDro-DeV , Do you have any update on this issue?

[2020-03-15 08:13] xtianus79 opened #50207 "sendrequest.js is not a file that is included in this build"
the file is missing. Can you replace the file for the build and or a github repo?  Also, how can we build the file on our own?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae06a4f1-6209-0f7e-ad17-26a57b5a3e30
* Version Independent ID: eca6c3d3-127e-e47e-2b7f-6e180a950320
* Content: [Use Blockchain Data Manager to upd

[2020-03-15 08:14] Darmuck commented on #50180
I met the same issue when I try below documentation article.
https://docs.microsoft.com/en-us/azure/aks/ssh#configure-virtual-machine-scale-set-based-aks-clusters-for-ssh-access

I tried to run az vmss extension set from azure cloud shell & mcr.microsoft.com/azure-cli:latest on local machine.
azure CLI version is 2.2.0 in both environments.

Later, I try it from mcr.microsoft.com/azure-cli:2.1.0 o

[2020-03-15 08:15] msrini-MSFT commented on #50164
@ramondeklein , Do you still have issues with CDN with the same cert which you use for the Functions?

[2020-03-15 08:15] msrini-MSFT commented on #49845
@OffColour , Do you have any further questions?

[2020-03-15 08:18] msrini-MSFT commented on #50180
Can you share the output of the command which is not working with a -debug switch ?

[2020-03-15 08:51] ramondeklein commented on #50164
Yes, still doesn’t work. Same error with Standard Microsoft and Standard Verizon tiers.

[2020-03-15 09:16] haripraghash commented on #50180
So this happens when you first set an extension when there are no extensions. But once an extension is set from say a local terminal then azure cloud shell starts working.

`az vmss extension set   --publisher Microsoft.Azure.Extensions   --version 2.0   --name CustomScript   --resource-group myResourceGroupAG   --vmss-name myvmss   --settings '{ "fileUris": ["https://raw.githubusercontent.com/Azu

[2020-03-15 09:17] orspod commented on #49987
@eparizzi , thanks for your feedback. The entire section of How to guides->Ingest data contains all examples of data ingestion. For example, ingestion with Python is documented: https://docs.microsoft.com/en-us/azure/data-explorer/python-ingest-data
Hope that helps.

[2020-03-15 09:29] Darmuck commented on #50180
Strangely,  after once successful, "az vmss extension set" works fine from azure cloud shell(Azure CLI 2.2.0) , in my case.

So, I deployed new AKS with VMSS, and I retried below article.
https://docs.microsoft.com/en-us/azure/aks/ssh#configure-virtual-machine-scale-set-based-aks-clusters-for-ssh-access

Then, the same was reproduced. The output of the command with a --debug switch is here.
[debug

[2020-03-15 09:30] haripraghash commented on #50180
Yes, So we are seeing the same behavior

[2020-03-15 09:59] tsubasaxZZZ opened #50208 "Error occured at create demo aks-helloworld"
I try following command and occured error:
[code]

It's need change apiVersion. I'll create PR to aks-helloworld repogitry.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd0e7d5a-37e9-07dc-f395-9cb5bb580e45
* Version Independent ID: 7e4faf70-9724-7e7b-832b-1cd99a974920
* Content: [Create a basic ingress controller in

[2020-03-15 10:05] eduardolmedeiros commented on #49840
It would be great to have such a sha256 checksum file associated with the release package.

[2020-03-15 10:07] jeroenhabets commented on #37403
@MGoedtel, @KrishnaG-MSFT Do you have an update or specific date on Python3 in Runbooks? (Python2 is EOL since 2.5 months now)

BTW: I tried to look around in GitHub for a repository where there might be an actual "implementation" issue for this but couldn't find any.

[2020-03-15 10:13] nbgyxi opened #50209 "APPINSIGHTS_INSTRUMENTATIONKEY and APPLICATIONINSIGHTS_CONNECTION_STRING"
Both APPINSIGHTS_INSTRUMENTATIONKEY and APPLICATIONINSIGHTS_CONNECTION_STRING are mentioned in the article as required to add, but it seems in the latest versions, only APPLICATIONINSIGHTS_CONNECTION_STRING is mandatory, so that should probably be reflected in this article.
https://stackoverflow.com/questions/60691568/why-do-i-need-both-appinsights-instrumentationkey-and-applicationinsights-connec

[2020-03-15 10:21] AshokPeddakotla-MSFT commented on #49806
@slopezv2 Does that answers your question? Do let us know if you need further information or help.

[2020-03-15 10:21] eduardolmedeiros opened #50210 "azcopy now is avaialable on Homebrew."
A new formula for azcopy has been released on Homebrew (package manager for mac).

For installing, mac users now are able to install the azcopy using the command below:

$ brew update
$ brew install azcopy

It might be very useful, adding this installation method into the download section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-03-15 10:55] aditya-sodhiya commented on #32711
I am facing the same issue with Azure ML SDK Version: 1.0.83. The workaround suggested (import jobib) is also not working.

Basic things that you guys can at least do is to verify the working code before publishing the document for it. Its really sad and pathetic service from azure team.

[2020-03-15 11:07] tsubasaxZZZ commented on #50208
I request update:
https://github.com/Azure-Samples/helm-charts/pull/45

[2020-03-15 11:36] msrini-MSFT commented on #50204
@D-Jeffrey , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-15 11:38] msrini-MSFT commented on #50205
@xtianus79  , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-15 11:40] msrini-MSFT commented on #50206
@kumarallamraju , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-15 11:41] msrini-MSFT commented on #50164
@mdgattuso, Can you please take a look into this issue?

[2020-03-15 11:54] vikash476 commented on #49484
Hi @mamccrea , It was me, who was working on the given code in the Doc, which was failing. I suggested the MS support to raise a Doc Bug. Hence this bug is raised. I am using Python 3.6

I also have the modified code, which is working fine. Let me know If you need the same.

[2020-03-15 12:02] mperdeck opened #50211 "Webjobs SDK get started page - issue under Configure app settings"
[Enter feedback here]

On the page
https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-get-started

Under "Configure app settings", it says:
1) In Server Explorer in Visual Studio, expand the App Service node under Azure.
2) Expand the resource group that your App Service app is in, and then right-click your App Service app.

However, when I do 1), the only sub item that is shown is "Op

[2020-03-15 12:17] eparizzi commented on #49987
Yes, I saw that. But I had to look on the source code to realize that all the methods in the Python SDK to ingest data are actually using the Queued Ingestion strategy. I was not sure about that by reading the docs.

[2020-03-15 12:24] orspod commented on #49987
@eparizzi - Thanks for your feedback. We will clarify that in the docs accordingly. I am now moving to close the issue. Feel free to reach out if you have additional questions.
#please-close

[2020-03-15 12:24] #49987 closed

[2020-03-15 12:32] tina-ho opened #50212 "The link is broken"
Hi,
The link of "Configuring Azure VMs for Optimal Storage Performance" under "Exceeding IO limits" is redirected to the archived MSDN overview page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2b66f58-b7da-11a8-6a01-63aeca5822bd
* Version Independent ID: 6437b418-eeec-2bfe-4746-cf18282b05fe
* Content: [Understand

[2020-03-15 13:52] KrishnaG-MSFT commented on #49939
@RedBa I have tried to reproduce the issue and could observe that "-Name" parameter doesn't accept double encoding sequences or slash and does expect it's value to match "Metric" column naming from [this](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported#microsoftoperationalinsightsworkspaces) Azure Monitor supported metrics document. I will be working with internal P

[2020-03-15 14:08] DashleenBhandari-MSFT commented on #50211
@mperdeck Thanks for raising the issue. We will investigate and update here.

[2020-03-15 14:27] KrishnaG-MSFT commented on #50206
Assigning @bwren for visibility, review and document enhancement consideration as appropriate.

[2020-03-15 14:47] raymondd78 commented on #49746
You can replace the HTTP Webhook by a simple HTTP request in your Logic App. That works fine!

[2020-03-15 15:09] zx3-at commented on #41451
I just spent 2 hours trying to add a Windows Virtual Desktop. Failed "joining domain". Apparently "Azure AD" is insufficient if all you have is Office E3 subscription (comes with "Azure AD P1", but Azure appeared to be unable to join domain). No idea what else is needed, as to obtain ANY kind of support to understand such obscure errors requires an additional (expensive) support subscription. The

[2020-03-15 15:41] BharathNimmala-MSFT commented on #50140
@JasonTimmins Thanks again for bringing this to our notice, the changes are live now. Will go ahead and close this issue for now, if you have any further queries or feedback please revert back. Thank you

[2020-03-15 15:41] #50140 closed

[2020-03-15 16:05] DarylArmstrong commented on #49886
Thank you GiftA-MSFT, the image was not displaying for me.

Do you know if is it possible to get a downloadable copy of this Excel template? Thanks.

[2020-03-15 16:07] shashishailaj commented on #49896
@ADNewsom09 You are correct , We verified this and this is due to the Azure AD module using some assemblies which are not supported in .net Core on which Powershell 7 is based.

[code]

Powershell/Powershell#10473
Powershell/Powershell#11070

I have reported this internally and will update once I get a response. In the meantime I have added a note on the article and requested a review from the con

[2020-03-15 16:16] AllenVisser opened #50213 "syntax error"
In the same way, as ExpressRoute Global Reach can be used for connecting on-premises to HANA Large Instance units, it can be used to connect tow HANA Large Instance tenants that are deployed for you in two different regions.

shoud read

In the same way, as ExpressRoute Global Reach can be used for connecting on-premises to HANA Large Instance units, it can be used to connect TWO HANA Large Instan

[2020-03-15 16:27] MarileeTurscak-MSFT commented on #50207
@xtianus79
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-15 16:29] EntityAdam commented on #34239
This is really frustrating.

`WindowsAzure.Storage 9.3.3` says:  "For table support, see Microsoft.Azure.CosmosDB.Table."

`Microsoft.Azure.CosmosDB.Table 2.1.2` says: "NOTE: This .NET Framework library is in maintenance mode and it will be deprecated soon. Please upgrade to the new .NET Standard library (Microsoft.Azure.Cosmos.Table)"

`Microsoft.Azure.Cosmos.Table` has 0 information on Azure Sto

[2020-03-15 16:30] OffColour commented on #49845
@msrini-MSFT No. The VPN Client is missing this core bit of functionality so all I can do is hope than it gets incorporated into the built in Windows 10 VPN functionality at some point in the future.

[2020-03-15 16:31] MarileeTurscak-MSFT commented on #50208
@tsubasaxZZZ
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-15 16:35] MarileeTurscak-MSFT commented on #50209
@nbgyxi
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-15 16:36] MarileeTurscak-MSFT commented on #50210
@eduardolmedeiros
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-15 16:36] MarileeTurscak-MSFT commented on #50212
@tina-ho
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-15 16:37] MarileeTurscak-MSFT commented on #50213
@AllenVisser
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-15 16:39] MarileeTurscak-MSFT commented on #50213
Thanks! I made a pull request to fix this typo. https://github.com/MicrosoftDocs/azure-docs-pr/pull/107766

[2020-03-15 16:39] #50213 closed

[2020-03-15 16:45] MarileeTurscak-MSFT commented on #50197
Thanks! I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/107767

[2020-03-15 16:45] #50197 closed

[2020-03-15 16:50] BharathNimmala-MSFT commented on #49911
Assigning this to our document author @bwren  to further evaluate the feedback and update the documents accordingly.

[2020-03-15 17:00] MarileeTurscak-MSFT commented on #50212
Thank you! I made a PR to remove that link https://github.com/MicrosoftDocs/azure-docs-pr/pull/107768

It's located [here ](https://docs.microsoft.com/en-us/archive/blogs/mast/configuring-azure-virtual-machines-for-optimal-storage-performance)but that page is no longer being maintained.

[2020-03-15 17:00] #50212 closed

[2020-03-15 17:01] #50198 closed

[2020-03-15 17:20] JoeMumm opened #50215 "Missing info for Azure setup"
1. Had to add co-administrator under Access control (IAM) | Classic administrators
Used my user.
2. Checking on your account, you may have to elevate your Global Admin access within your tenant in order to be able to deploy a resource.
Please see how to do so in the link below:
https://docs.microsoft.com/en-us/azure/role-based-access-control/elevate-access-global-admin
Under ‘Azure Active Director

[2020-03-15 17:24] MarileeTurscak-MSFT commented on #50077
Which version of the module you have? Are you using 2.8.0? Make sure you are actually loading the correct module. Open a fresh PowerShell window and run an Import-Module

See the troubleshooting guide for how to resolve this error:
https://social.technet.microsoft.com/wiki/contents/articles/51583.azure-ad-troubleshooting-powershellpreview-command-lets.aspx

https://www.powershellgallery.com/packag

[2020-03-15 17:25] MarileeTurscak-MSFT commented on #50077
Hope this helps! If you are still having this issue or have further questions feel free to reach me on [Microsoft Q&A](https://docs.microsoft.com/answers/topics/azure-active-directory.html). That is the best place to go for this type of product question.

[2020-03-15 17:25] #50077 closed

[2020-03-15 18:11] yoelhor commented on #50199
Thanks @dotnetgator. Your feedback is highly appreciated and helps us to improve our documentation. I fixed this issue. Changes will be published on Monday.

[2020-03-15 18:29] tsrob50 opened #50216 "Outdated Instructions?"
I have two tenants, both using the updated PIM experience.  I have not enabled or consented to PIM in the past.  When I try to follow the direction for Start Using PIM, there is no Consent to PIM option.  It looks like consent was given, but no users assigned to the Privileged Role Administrator role.  This is the same for both tenants.

When I go to Azure AD Roles, there is no sign-up option unde

[2020-03-15 18:34] ggailey777 commented on #44443
@JAugustusSmith it looks like the underlying product issue has been resolved, so I am closing this. Please reopen if you are still finding issues with the code in this article. #please-close

[2020-03-15 18:34] #44443 closed

[2020-03-15 19:06] zaistev opened #50217 "update"
I was reading this documentation, and got to the point of this error:
"Blocks of type "storage_image_reference" are not expected here" while doing terraform validate
then realized that in the complete terraform script it is used the "source_image_reference" instead. it has to be updated.

cheers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-03-15 19:11] TomArcherMsft commented on #50217
@zaistev Thanks for the feedback. I'll fix this and update this post when it's done.

[2020-03-15 19:26] laultman commented on #50216
Having the same issue as tsrob50 (#50216 ). I see that there is single account assigned to the PIM role but cannot find out which account is holding the right.

[2020-03-15 19:31] nexxuno opened #50218 "1.2.0 Accessibility fixes?"
"1.2.0

    All pages
        Accessibility fixes"

1.2.0 singupsingin flow has actually been broken and the Sign up and forgot password links can't be reached by talkback.

And I can't find v 2.0 in the product even in preview.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4272fbd-ad3d-6099-39bc-966320101b03
* Versi

[2020-03-15 19:43] tsrob50 commented on #50216
I was able to get it working by manually adding the user following the instructions  to grant access to others to manage PIM located here https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/pim-how-to-give-access-to-pim

[2020-03-15 19:55] yoelhor commented on #50196
Dear John,

As you say, password scope is limited to the self-asserted TP and its VTPs. I'll add a note to the self-asserted TP.

Thanks a lot,
Yoel

[2020-03-15 20:06] dotnetgator commented on #50196
Thank you - I lost a few more hours on that one than I'd care to admit. Hopefully the next person doesn't. The use-case for me was an auth sequence where the user should not be added to AAD until after data has been input and validated through a a subsequent SA-TP, so the PWD needs to be carried {carefully} beyond the initial SA-TP.

Found a few dozen ways to do this wrong, then eventually had a "

[2020-03-15 20:11] TomArcherMsft commented on #50217
@zaistev I just made the changes. The updated article should be live Monday morning (PST) at the latest.

[2020-03-15 20:11] #50217 closed

[2020-03-15 20:17] BharathNimmala-MSFT commented on #49908
@Ayanmullick Whether Boot diagnostics can be sent to storage account in different subscription, has been answered [here](https://github.com/MicrosoftDocs/azure-docs/issues/48933). However please let us know if you are looking for additional information on this.

We appreciate your feedback on below GitHub thread, assinging this issue to our document author @bwren to further evaualte the feedback a

[2020-03-15 20:18] yoelhor commented on #50183
Could you check the Authority domain name is tenant-name.**b2clogin.com**, similar to this one

![image](https://user-images.githubusercontent.com/20111866/76709841-b6a7b700-670a-11ea-926a-9171d8fb1ec2.png)

[2020-03-15 20:19] ronflima commented on #41512
It is still not being possible to install azure functions core tools using the underlying instructions on Debian Buster. I´m using the WSL version of Debian Buster.

[2020-03-15 20:23] yoelhor commented on #50157
We are about to provide more details how to localise the REST API response. Meanwhile, please check this sample https://docs.microsoft.com/en-us/azure/active-directory-b2c/claim-resolver-overview#restful-technical-profile.

To send the userLanguage, you first need to declare such a claim type. In the input claim, you use claim resolver to set the value of the claim.

[2020-03-15 20:28] yoelhor commented on #50155
Thanks for your feedback. In the future we may provide localisation starter pack. As a workaround, you can copy the values from the [user flows](https://docs.microsoft.com/en-us/azure/active-directory-b2c/user-flow-language-customization#customize-your-strings). Download the files, and you can copy the values from the JSON file to the XML elements.

[2020-03-15 20:40] yoelhor commented on #50134
As you mentioned, user flow persists the email on the first sing-in. With custom policy you can configure the policy to transfer the claims (with or without storing the email in AAD B2C)

[2020-03-15 20:42] yoelhor commented on #50075
Thanks for the feedback. We will take your experience into consideration when we'll publish the new version fo the starter pack.

#please-close

[2020-03-15 20:42] #50075 closed

[2020-03-15 20:55] ajopjo commented on #50134
Thank you, so you know which profile I can use in the user journey that compares the claims and then update claims to the directory?

[2020-03-15 20:57] Ayanmullick commented on #49908
@BharathNimmala-MSFT , [That answer](https://github.com/MicrosoftDocs/azure-docs/issues/48933) pertained to the older [Set-AzVMBootDiagnostic cmdlet](https://docs.microsoft.com/en-us/powershell/module/az.compute/set-azvmbootdiagnostic?view=azps-3.6.1), which is an older cmdlet.  This query is pertaining to the newer  [Set-AzVMDiagnosticsExtension  cmdlet](https://docs.microsoft.com/en-us/powershel

[2020-03-15 21:54] BharathNimmala-MSFT commented on #49944
@RedBa To enable the "Apply below configuration to my linux machine"  you can please use the below power shell command .

`Enable-AzOperationalInsightsLinuxCustomLogCollection -ResourceGroupName yourresourcegroupname -WorkspaceName yourworkspacename`

To disable please use the below power shell command

`Disable-AzOperationalInsightsLinuxCustomLogCollection -ResourceGroupName yourresourcegroupname

[2020-03-15 21:54] #49944 closed

[2020-03-15 22:11] rahulmadaan30 commented on #50108
https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/quickstarts/python-labeled-data. I am working on form recognizer tool and my problem statement is that if sometimes the tool is not able to identify a correct field then i want a way to atleast find what value did it pick instead of the one it was originally intended for.I know bounding box provides me the coordinates of rec

[2020-03-15 22:21] BradHester opened #50219 "Debug return message for "JWT-Verify" to give details why Policy is failing"
When I followed through this tutorial, I found that no matter what, my JWT was failing. The OAuth setup was fine and if I removed the Policy, my API would return.

I could not find the reason until I updated the policy for the Error Return message to be: "@((string)context.LastError.Message)"

When I did this, I found that the Issues were not matching to the Metadata. It took hours of me looking f

[2020-03-15 22:23] BradHester commented on #50219
Where I said "Issues were not matching" should be "Issuer not matching", sorry.

[2020-03-15 22:37] dwatsonit commented on #30680
Not that I was ever given. O365 generic support (meaning I do not pay for premier/classic or unified support) said this was by design.  It’s a pretty crummy UX the way it is IMHO but that was the best I could get.