[2019-10-15 20:04] sauryadas commented on #40300
@DreamRivulet you are right on the #40300 (comment)  . can you copy/paste both the yaml files just to be double sure?

[2019-10-15 20:07] jackiebecker commented on #40805
IoT Edge module creation works from VSCode command palette; problem is likely something with Visual Studio template. (using 2019, 1903)

[2019-10-15 20:09] MarileeTurscak-MSFT commented on #40765
@idbanham
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-15 20:12] jackiebecker opened #40806 "Update docs to reflect support for windows"
"Currently, Visual Studio Code can develop C# modules for Linux AMD64 and Linux ARM32v7 devices." under 'Select your target architecture'; VSCode now also supports targeting Windows-amd64

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 181d5562-f8d7-9c59-85ea-09efbe397f3e
* Version Independent ID: dbedd952-a050-286e-c95

[2019-10-15 20:17] ArchieCoder commented on #40790
@YutongTie-MSFT Sorry about the confusion about Android, this was in parenthesis. The main issue is there is no love for Windows apps. I see "https://docs.microsoft.com/en-us/azure/cognitive-services/immersive-reader/ios-reference" this SDK only for iOS. I would like the equivalent for Windows apps.

[2019-10-15 20:23] aahill commented on #39327
Thanks for the feedback - I've added this information to the quickstart article, and it should be visible soon.

[2019-10-15 20:29] huzzeytech opened #40808 "What license is required for this?"
It's unclear for this requirement: "Azure Multi-Factor Authentication"
Does this include Azure AD Basic (Free)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78c66f8a-1c40-e31c-5c7e-7870b7d65e0c
* Version Independent ID: 3e8301bc-8e4d-ee23-8770-2f75e170e01a
* Content: [Enable passwordless security key sign in for Azur

[2019-10-15 20:29] frankanstine opened #40809 "Target API and API Permission IDs"
How do you programmatically locate the API and API Permission IDs being used in the "Create Azure AD server component" example above?
az ad app permission add \
    --id $serverApplicationId \
    --api 00000003-0000-0000-c000-000000000000 \
    --api-permissions e1fe6dd8-ba31-4d61-89e7-88639da4683d=Scope 06da0dbc-49e2-44d2-8312-53f166ab848a=Scope 7ab1d382-f21e-4acd-a863-ba3e13f7da61=Role

---
###

[2019-10-15 20:36] YutongTie-MSFT commented on #40790
@ArchieCoder Thank you for the details. ^^

@metanMSFT Hi Meng, could you please check this issue? Please let me know if there is something I can do to help. Thanks.

[2019-10-15 20:36] Alberto-Vega-MSFT commented on #40620
@irwincs If you still need help please follow the instructions provided on my previous comment. Closing this issue for now.

[2019-10-15 20:36] #40620 closed

[2019-10-15 20:40] YutongTie-MSFT commented on #40771
@krisbock Hi Kris, thanks for reporting this issue. We will update the document. ^^
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-10-15 20:40] #40771 closed

[2019-10-15 20:41] MicrosoftGuyJFlo commented on #39456
Will work on this as I update the docs in the future.

[2019-10-15 20:41] MicrosoftGuyJFlo commented on #39456
#please-close

[2019-10-15 20:41] #39456 closed

[2019-10-15 20:43] MicrosoftGuyJFlo commented on #39837
Will work into docs updates in the future.

[2019-10-15 20:43] MicrosoftGuyJFlo commented on #39837
#please-close

[2019-10-15 20:43] #39837 closed

[2019-10-15 20:43] Alberto-Vega-MSFT commented on #40777
@BhupalPatil Thanks for the feedback! Can you post this as a feedback [@ Azure IoT Hub User Voice](https://feedback.azure.com/forums/321918-azure-iot). This will allow the community to upvote and for the product team to include into their plans.
Regarding your question please create a question on developer forums like StackOverflow where unlike here we have a strong developer community that can he

[2019-10-15 20:44] MarileeTurscak-MSFT commented on #40804
@Frumpi
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-15 20:49] Alberto-Vega-MSFT commented on #40806
@jackiebecker Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-15 20:50] MarileeTurscak-MSFT commented on #40804
Good catch! I made a pull request to remove the reference to the table but am assigning this to @billmath to add the table in.

[2019-10-15 20:50] MarileeTurscak-MSFT commented on #40804
https://github.com/MicrosoftDocs/azure-docs-pr/pull/91906

[2019-10-15 20:54] MarileeTurscak-MSFT commented on #40808
Azure Multi-Factor Authentication requires at least a P1 Premium license for each user for whom a license is applied. https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-mfa-licensing

[2019-10-15 20:54] MarileeTurscak-MSFT commented on #40808
Let me know if this answers your question. CC @MicrosoftGuyJFlo

[2019-10-15 20:58] MicahMcKittrick-MSFT commented on #40809
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-15 20:59] Alberto-Vega-MSFT commented on #40805
@jackiebecker Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-15 21:03] torfulle commented on #40519
Hi Bill,

Thank you for the update. ☺ I was wondering today if any further information had been provided. Looking to further information.

Thank you again for the update.

Best,

Tori Fuller
Premier Field Engineer
Azure Secure Infrastructure
Working Hours:
Email:
Phone:
Mon – Fri 09:00 AM–06:00 PM EST tofulle@microsoft.com<mailto:tofulle@microsoft.com>
+1 (469) 775-2937
 [cid:image003.jpg@01D5837A

[2019-10-15 21:05] Grace-MacJones-MSFT commented on #40615
Hi @tsaltd, you don't need to upgrade your App Service Plan(ASP) to clone your app.  App cloning is supported for Standard, Premium, Premium V2, and Isolated app service plans using powershell. With App Service you can:

- [Clone an existing app](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-app-cloning)
`$srcapp = Get-AzWebApp -ResourceGroupName SourceAzureResourceGroup -Name

[2019-10-15 21:05] #40615 closed

[2019-10-15 21:07] Grace-MacJones-MSFT commented on #40244
Thanks for verifying this issue Luis. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-15 21:07] #40244 closed

[2019-10-15 21:07] brandonh-msft opened #40810 "PartitionKey is required for input binding"
Using the single-doc sample shown [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-cosmosdb-v2#http-trigger-look-up-id-from-route-data-c) will result in an HTTP 500 saying `PartitionKey` is required.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa5bcb79-2af8-3b0e-c78c-0c89a2535e15
* Ve

[2019-10-15 21:08] brandonh-msft commented on #40810
cc @sarah-aly

[2019-10-15 21:26] jlmace opened #40811 "Create an inbound NAT port-forwarding rule Instructions"
It looks like the portal has been updated and now a Network IP configuration has to be chosen before the NAT forwarding will work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76d17b95-622f-2952-a9cc-b74ba56a8e8a
* Version Independent ID: ba5bc45f-6196-9658-bd8e-91bb70871e15
* Content: [Tutorial: Configure port forwa

[2019-10-15 21:34] timmyreilly commented on #32114
How can we create the ARM template for a Service Bus Subscribers?

When I pass the service bus resource id: `/subscriptions/5cmySub-21c3-4f7e-8329-625443da4254/resourceGroups/Sandbox/providers/Microsoft.ServiceBus/namespaces/sandbox-namespace/queues/blobcreatedqueue`

[code]

Gives me this:
[code]

[2019-10-15 21:44] msangapu-msft commented on #40651
Hi @mbrancato, we have information on mounting storage:
https://docs.microsoft.com/en-us/azure/app-service/containers/how-to-serve-content-from-azure-storage As you mentioned, it's in preview.

What page links to this one for mounting storage? Please let us know so we can update it.

[2019-10-15 21:44] jackchenquest opened #40812 "What exact permission is needed for a user to request JIT ?"
This document only listed two permissions:
Microsoft.Security/locations/jitNetworkAccessPolicies/initiate/action
Microsoft.Compute/virtualMachines/read

We have tried to grant users with a customized role on subscription level:
          "Microsoft.Compute/virtualMachines/*",
          "Microsoft.Security/locations/jitNetworkAccessPolicies/initiate/action",
          "Microsoft.Network/networkInte

[2019-10-15 21:44] Grace-MacJones-MSFT commented on #40030
Upon further review we feel your feedback would be best received by the doc author to determine if an update to the current doc is necessary, or to create a new doc if they align with the feedback about swapping multiple apps.

[2019-10-15 21:44] sspage opened #40813 "West US"
Is West US missing from this or is that intentional (not supported)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cca70845-100f-2cfd-aba3-34b7fa4a5264
* Version Independent ID: 475b26e5-9e23-f769-3bd5-cbc4a678dbf0
* Content: [What are Azure Availability Zones?](https://docs.microsoft.com/en-us/azure/availability-zone

[2019-10-15 21:47] MarkusVi commented on #38673
Fixed...

#please-close

[2019-10-15 21:47] #38673 closed

[2019-10-15 21:55] timmyreilly commented on #32114
Hahah figured it out!

{
            "type": "Microsoft.Storage/storageAccounts/providers/eventSubscriptions",
            "name": "[concat(parameters('storageName'), '/Microsoft.EventGrid/', parameters('eventSubName'))]",
            "apiVersion": "2019-06-01",
            "dependsOn": [
                "[parameters('storageName')]"
            ],
            "properties": {
                "dest

[2019-10-15 21:55] jmarbutt opened #40815 "Put ZIP File Code in GitHub"
Can we get the example in GitHub instead of having to download it from a zip? Or if it is out there provide that link as the default. This would also make it easier for others to clean this up.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 124b9a9f-d6a4-d644-10d9-411f003e959d
* Version Independent ID: 90c35c0e-dda5-d9

[2019-10-15 21:56] jmarbutt commented on #40815
Actually, I see where you can clone it. It should be better as a link.

[2019-10-15 21:57] kgremban commented on #39958
@kevinsul We verified that the issue was in the python module template not using the most recent python SDK version. That's been fixed now, and I successfully ran through the tutorial today. Please take another look and close this issue if you consider it resolved, or let me know if you have any further concerns/questions. Thanks again for bringing this issue to our attention.

[2019-10-15 22:00] mmacy commented on #40815
@jmarbutt Totally agree on this. I'd like at some point to add direct repo links to _all_ of our samples when they're referenced i docs, but for now, I'll fix this one add a work item to make a full pass in the next sprint or two.

#reassign:mmacy

[2019-10-15 22:05] MarkusVi commented on #40465
Fixed...

#please-close

[2019-10-15 22:05] #40465 closed

[2019-10-15 22:05] kgremban commented on #40806
@jackiebecker Thanks for the feedback. The section **Solution scope** in this tutorial is meant to set expectations that this tutorial is only for developing for Linux devices, and links to the equivalent article for Windows. Were you looking for Windows instructions and accidentally ended up here instead?

[2019-10-15 22:20] PingPongSet commented on #40659
As mentioned on OP, when BlobTrigger must be used, and BlobAttribute must be used.

Please correct me if I am wrong. BlobTrigger has all functionality that BlobAttribute  has.

[2019-10-15 22:22] PingPongSet commented on #40659
https://stackoverflow.com/questions/58364329/what-is-the-difference-between-blobattribute-vs-blobtriggerattribute/58371014#58371014

[2019-10-15 22:22] #40659 closed

[2019-10-15 22:22] SaurabhSharma-MSFT commented on #40812
@jackchenquest Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-15 22:23] kgremban commented on #39336
@kfprugger I'm sorry for the delay in getting back to you. Are you still experiencing this issue? Usually when an install fails due to a dependency, it means that docker isn't running. What do you get when you run `sudo systemctl status docker` or `dockerd --version`?

You can also run `iotedge check` to do an automatic check of the most common configuration or networking errors that people run in

[2019-10-15 22:23] Grace-MacJones-MSFT commented on #40317
@sethmanheim can you please verify this?

[2019-10-15 22:23] DCtheGeek commented on #35527
@artisticcheese Sorry for the delay. The doc has been updated with the fully supported language elements of Kusto Query Language (KQL).  For the tabular operators, we've also provided examples and details when the operator differs in use in Resource Graph. We've also updated details for the new Table support.  I'm going to close this now... thanks again for the feedback!

@MicrosoftDocs/azure-cxp-

[2019-10-15 22:23] #35527 closed

[2019-10-15 22:24] MicahMcKittrick-MSFT commented on #40813
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-15 22:25] MicahMcKittrick-MSFT commented on #40802
@cloranger can you provide the document you are referring to so we can better assist?

[2019-10-15 22:25] mafis-hh commented on #40703
Hello @MartinJaffer-MSFT,
thank you very much for your fast reply.

I'm already using the recommended 3-ADF approach with the 'SHIR-owner' Data Factory and in our case DEV and PROD are both having the linked SHIR which should be equal and "transportable" from my understanding. So then I would expect the linked SHIR would be migrated over to PROD.

But unfortunately the publish does not recognize t

[2019-10-15 22:28] cloranger commented on #40802
Sorry Micah. I just assumed the link to the document was provided when I created the issue.

Here is the document link: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/regions

There are no Azure Gov regions listed I know at least Speech is available in the Azure Virginia Gov region.

Thanks,

Casey

From: Micah <notifications@github.com>
Sent: Tuesday, October 15, 2019 5:

[2019-10-15 22:29] omerzubair opened #40816 "Depricated"
Hi MS,
- I am working on Automation Account Az comandlets and they are awaiting fixes from product team.
https://github.com/Azure/azure-powershell/issues/10160
- In meanwhile I used the management APIs 'https://management.core.windows.net' and realised that this also will be deprecated in Jan 2020.

Can you please help me find the alternative NEW uri in new REST API world. old one is below.
https:

[2019-10-15 22:35] jacobt123 commented on #40338
Do we have a solution for this ? I'm facing the very same issue. Need to share the image gallery across subscriptions. How that is achieved is not clear in the docs. Thanks !

[2019-10-15 22:37] jackiebecker commented on #40806
My point was these instructions *do* work for Windows devices, as well! In fact, they are currently the only working instructions for developing a c# IoT edge module for a Windows device, as the other one is broken (likely due to template issues).

[2019-10-15 22:45] Alberto-Vega-MSFT commented on #40468
This will require some deeper analysis. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2019-10-15 22:48] TravisCragg-MSFT commented on #40132
@silverl No updates at this time. I will give any updates as soon as I have them.

[2019-10-15 22:51] femsulu commented on #40768
Really good feedback @askalski85. Sorry for the inconvenience. The recommendation/workaround is to use short-names or tags. To address your specific feedback, we recommend logging a [feature suggestion](https://feedback.azure.com/forums/223579-azure-portal) directly with the owners of this feature so they can review and take action. This also opens up your feedback for community review and up-vote

[2019-10-15 22:51] #40768 closed

[2019-10-15 22:54] femsulu commented on #40799
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-10-15 22:56] munozrickT4S opened #40818 "Please provide link to info on when App Passwords aren't available"
Our AD configuration has MFA (via Baseline policies), so the users don't have any ability to create App passwords. IWBNI there's was a mention/link to a page that explains when App Passwords are not available to users.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8751595d-4839-d2ee-1e2c-16d07ef84a2d
* Version Indepen

[2019-10-15 22:57] femsulu commented on #40800
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-10-15 23:03] cijothomas opened #40819 "Document how to telemetry initializers which takes parameters."
services.AddSingleton&lt;ITelemetryInitializer, MyCustomTelemetryInitializer&gt;(); works for simple initializers. For others, the following is required:

services.AddSingleton(new MyCustomTelemetryInitializer() { fieldName = "myfieldName" });

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6440efaf-8541-515d-7d87-ce2b5

[2019-10-15 23:09] ashishnegi commented on #24034
@MedAnd

Yes

All the keys are in memory always. Value are removed from memory depending upon sweep policy.
In ContainsKeyAsync, TValue is not loaded so it is not cached.

`CreateKeyEnumerableAsync` only iterates over keys, which are always in memory in today's implementation. So, values are not loaded in this API calls.
See [tstore.cs CreateKeyEnumerableAsync](https://github.com/microsoft/service

[2019-10-15 23:12] MarileeTurscak-MSFT commented on #40808
I'm closing this out for now but if you further questions feel free to tag us in the comments and we will gladly continue the discussion.

[2019-10-15 23:12] #40808 closed

[2019-10-15 23:12] MarileeTurscak-MSFT commented on #40770
@theronic please provide the link to the document that you are following so that I can better assist youl.

[2019-10-15 23:23] MarileeTurscak-MSFT commented on #40691
@PorkyProgs good catch! I made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/91948

[2019-10-15 23:23] #40691 closed

[2019-10-15 23:27] kgremban commented on #40805
@jackiebecker I wasn't able to reproduce your issue using Visual Studio Community 2019, version 16.3.3

Are you able to create a new project using the C module template? Do you have Visual Studio set up with all the prerequisites?

![image](https://user-images.githubusercontent.com/13578436/66876979-8fd13300-ef68-11e9-9e7c-641ef9ce5a09.png)

[2019-10-15 23:28] kgremban commented on #40805
I forgot to get **.NET Core cross-platform development** in that screenshot of the Visual Studio workloads, too.

[2019-10-15 23:29] tfitzmac commented on #40816
@omerzubair - the link you provided to the REST operation uses https://management.azure.com instead of https://management.core.windows.net (which was used for an earlier management service). Where did you see a note about deprecation?

[2019-10-15 23:36] MarileeTurscak-MSFT commented on #40801
@ksaye
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-15 23:39] kgremban commented on #40806
@jackiebecker I took a look at your other issue around Visual Studio issues and replied in there. As for this tutorial, the intention isn't to be a comprehensive document about Visual Studio Code development. It's specifically scoped to walk through developing C# modules for Linux devices using Visual Studio Code. Currently, the development experience for Windows devices is more robust on Visual S

[2019-10-15 23:53] cynthn commented on #40338
@jacobt123 It is MUCH easier to share access to a gallery using RBAC. Here is how to do it in the portal: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/shared-images-portal#share-the-gallery and here is the PowerShell version: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/shared-images#share-the-gallery

We are going to update the docs on how to share using a serv

[2019-10-15 23:53] MicahMcKittrick-MSFT commented on #40801
@ksaye can you share with me the document you are following so I can better assist.

[2019-10-16 00:07] kobulloc-MSFT commented on #40819
@cijothomas Thank you for reporting this!  We've assigned the document author to update the docs accordingly.

[2019-10-16 00:11] mike-urnun-msft commented on #40810
@brandonh-msft Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-10-16 00:12] MarileeTurscak-MSFT commented on #40796
@mrbullwinkle
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-16 00:14] mike-urnun-msft commented on #40597
@AJAnujsharma Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please open a thread on MSDN forums and we will gladly continue the discussion.

[2019-10-16 00:14] #40597 closed

[2019-10-16 00:24] neeleshray-msft commented on #40818
@munozrickT4S
The issue you are facing is because of the way the MFA enforcement is turned activated. When you have MFA enforcement turned on through a conditional access baseline policy, app passwords won't work and won't show up. This is intended behavior.

When you are using conditional access to deploy MFA then you can use modern authentication and thereby app passwords are unnecessary.
[https

[2019-10-16 00:28] makotog opened #40822 "ssprsbprodncu-sb.accesscontrol.windows.net is obsolete name"
hostname 'ssprsbprodncu-sb.accesscontrol.windows.net' does not exist,
'ssprdedicatedsbprodncu.servicebus.windows.net' is current?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f5e3651-45ec-5dbc-7df5-526d0f7a4080
* Version Independent ID: 9f218d06-c2e6-19c2-6413-542c5e88ec64
* Content: [Self-service password reset tro

[2019-10-16 00:47] MarileeTurscak-MSFT commented on #40822
@makotog
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-16 01:09] flanakin commented on #39977
Please pull in Saket Gupta from the Advisor team.

[2019-10-16 01:18] omerzubair commented on #40816
Hi @tfitzmac
You are correct, i should have explained better.
You see in the code provided, the resource where it gets it token is :
$Resource = "https://management.core.windows.net/"
will that change?

[2019-10-16 01:24] msrini-MSFT commented on #40811
@jlmace  , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-10-16 01:57] susan-wangyi commented on #40517
@MicahMcKittrick-MSFT , thanks a lot for your update. So you meant that trim support still starts with windows server 2012/windows 8 and above, right?

I am double-checking here because I found my questions in the subject and in the first comment are different, so could you please confirm again?

[2019-10-16 02:17] MartinJaffer-MSFT commented on #39777
I have reached out internally for more information. @fantinis

[2019-10-16 02:19] KranthiPakala-MSFT commented on #40623
@karanth77 We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2019-10-16 02:19] #40623 closed

[2019-10-16 02:20] hrasheed-msft commented on #40729
@cmusa17 Hello, thanks for reaching out. When you say "incorrect" do you mean that the steps provided will not work and users *must* go through Ambari to update the server.properties file? Or do you mean than going through Ambari is the preferred method.

Did you encounter a specific error when executing the steps as described?

I believe that the steps were provided through the command line (rath

[2019-10-16 02:24] dankney commented on #40772
This is a documentation gap, isn't it? How to manage 3xx status codes is completely missing from the documentation as far a I can tell. At least I haven't been able to find documentation on it.

[2019-10-16 02:30] jeffwmiles opened #40823 "Confirm valid path for moving network dependencies"
I have noted the remark on this page of, "To move a virtual machine with a network interface card, you must move all dependent resources."

If I have a VM and it's NIC in a different resource group than the VNET, and am trying to move the contents of both resource groups into a new subscription, is the following the only valid method of accomplishing this?

- Move VM and NIC resources into VNET re

[2019-10-16 02:53] bcdunbar commented on #40523
@bandermsft What is the status of this now? Went from a pay-as-you-go account to CSP today without knowing cost management wasn't available.

[2019-10-16 03:02] ToMakeSense commented on #38058
@ggailey777  Hi, I mean the description **"you should store the connection string value with your other connections in Application Settings in the portal"** is inaccurate, you can also store the connection string in **Connection strings in the portal**, you have to use pre-defined prefixes with it.

You can also find the references in [Configure app settings for App service](https://docs.microsoft

[2019-10-16 03:44] BharathNimmala-MSFT commented on #40796
@MarileeTurscak-MSFT  Thank you for triage, this would be a test issue created by Michael for testing the Azure Monitor meta data. This has been already shared as heads up to the team. We will take care.

[2019-10-16 03:50] jonestk commented on #14662
Any update on this? I'm running into the same issue.

[2019-10-16 04:16] MarileeTurscak-MSFT commented on #40797
@githubavi
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-16 04:17] MarileeTurscak-MSFT commented on #40803
@BernardoMB
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-16 04:23] msrini-MSFT commented on #40811
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/91968

[2019-10-16 04:26] mcbelton opened #40824 "Cognitive Services VSIX not compatible with VS 2019 [16.3.5]"
https://marketplace.visualstudio.com/items?itemName=VS-IDE-Experience.cognitiveserviceproviders

[2019-10-16 04:28] #40811 closed

[2019-10-16 04:30] SeanFeldman opened #40826 "Premium only?"
I was under the impression the standard tier is also supported now. Is that not so?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e25005c-06da-1e87-ab0d-05f641d7e795
* Version Independent ID: 34e6baf1-71a3-bbef-05da-2923b77cf203
* Content: [Azure Service Bus to Event Grid integration overview](https://docs.microsoft.

[2019-10-16 04:31] SeanFeldman commented on #40826
@axisc @banisadr

[2019-10-16 04:39] souravmishra-msft commented on #40210
@amarnathprofisssional, I just wanted to check with you if there are any more queries around this question. Do let us know, so that we can proceed accordingly.

[2019-10-16 04:40] souravmishra-msft commented on #40371
@petermreid, We are closing this thread, as no much information was shared. Please open another thread on that doc, which is being referenced.

[2019-10-16 04:40] #40371 closed

[2019-10-16 04:45] formulahendry commented on #40520
Hi @alaendle , could you please let us know what error you have met with? What's the actual behavior and what's the expected behavior? Thanks a lot!

[2019-10-16 04:57] interfacemirror commented on #27344
One more issue here! the same error.

[2019-10-16 05:07] interfacemirror opened #40827 "Key must be 64 encoded"
I am receiving error on the simulation, stating that the key must be 64 encoded. How to fix the issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d2af37f-a62d-13c8-2bce-626231e12824
* Version Independent ID: 557bcb4d-855a-22f1-7114-19a767645071
* Content: [View Azure IoT Hub message routing results (.NET)](https:/

[2019-10-16 05:11] PorkyProgs commented on #40691
Hello Marilee,

Thanks for the feedback, every little bit counts and I was glad to be of help

--

Regards/Mit freundlichen Grüßen

Robert Bradlaw

Tel: +49 (178) 165 1800

E-mail: mailto:rbradlaw@gmx.de

From: Marilee Turscak - MSFT <notifications@github.com>
Sent: 16 October 2019 01:24
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: PorkyProgs <rbradlaw@gmx.de>; Mention <mention

[2019-10-16 05:11] Juliako commented on #40773
I just cloned the repo, compiled the solution and ran one of the proj.

[2019-10-16 05:19] lafe opened #40828 "Documentation for Microsoft accounts"
According to PR https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/pull/1367, private Microsoft accounts are now supported as well. It would be great to update this documentation to reflect this change. My main issue is that it is not clear, which endpoint has to be used for private accounts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2019-10-16 05:21] linruhui commented on #31879
Are we going anywhere nearer the destination? Or we are not taking any actions?

[2019-10-16 05:24] RohitMungi-MSFT commented on #40824
@mcbelton Thanks for reporting this issue. This looks like an issue with the VS marketplace tool. Could you please raise an issue with the VS support from this [link](https://support.microsoft.com/en-us/supportforbusiness/productselection?sapId=5e4af7f3-a372-88ed-13a8-435150045599). This forum is primarily used to support issues in Azure documentation.

You can use the following options to submit

[2019-10-16 05:33] mustafamg commented on #40249
Many thanks @JasSuri , it seems to work :)

[2019-10-16 05:33] #40249 closed

[2019-10-16 05:41] neeleshray-msft commented on #40828
@lafe  Thank you for the feedback. We will check and update the same.

[2019-10-16 05:50] VikasPullagura-MSFT commented on #40550
@Heidilohr Thanks for the confirmation on the sysprep and pointing to the document.

[2019-10-16 05:54] VikasPullagura-MSFT commented on #40550
@lijun1234 Please check the comment from the doc author. Yes, sysprep is required and please find the document in the doc author comment.
I am closing the issue for now,
If you need any further help on this, mention my name in the comment to reopen the issue.

[2019-10-16 05:54] #40550 closed

[2019-10-16 06:01] iravii commented on #40767
HI Marilee thanks for taking this up.
I haven't got any article that refers to the problem i am facing, when i check by MFA settings it is same as for both the accounts just that "skip this step " button is not showing up.

[2019-10-16 06:21] mike-urnun-msft commented on #40408
Hi @mmajcica - Thanks again for sharing your feedback! Please consider providing this feedback on [Azure UserVoice for APIM team](https://feedback.azure.com/forums/248703-api-management) to review this request for the product roadmap.

Since there isn't any change required for this documentation, we will now proceed to close this thread. If there are further questions regarding this matter, please

[2019-10-16 06:21] #40408 closed

[2019-10-16 06:23] odin88 commented on #34657
Any updates on this ? Can we have Solution 3 article using VNet ?

[2019-10-16 06:26] SwathiDhanwada-MSFT commented on #40640
@igomat We will now close this issue for now. If there are further questions regarding this matter, please respond and we will gladly continue the discussion.

[2019-10-16 06:26] #40640 closed

[2019-10-16 06:26] SwathiDhanwada-MSFT commented on #40641
@igomat We will now close this issue for now. If there are further questions regarding this matter, please respond and we will gladly continue the discussion.

[2019-10-16 06:26] #40641 closed

[2019-10-16 06:27] SwathiDhanwada-MSFT commented on #40642
@igomat We will now close this issue for now. If there are further questions regarding this matter, please respond and we will gladly continue the discussion.

[2019-10-16 06:27] #40642 closed

[2019-10-16 06:34] MacCarron opened #40829 "UseRemoteGateways in SpokeToHub peering"
Is the switch "UseRemoteGateways" really necessary if you are going to use the Azure Firewall as next hop to on-prem with UDR? I ran a quick test and it looks like everything is working fine without it. This would also negate the need to disable BGP route propagation as no routes from on prem would be propagated.

[2019-10-16 06:40] PramodValavala-MSFT commented on #40652
@SogoGolf Thanks for catching that! I believe having forward slashes is best for all OSes. Will update the doc accordingly.

As for the breakpoints not hitting, there was a [discussion on this for VS Code](https://github.com/microsoft/vscode/issues/60187#issuecomment-443933594). The solution for which was to add a `"disableOptimisticBPs": true` property to the launch configuration like this

[code

[2019-10-16 06:40] timyhac commented on #40693
So is the best way for the VM to find its instance Id, somehow send it to
another machine who then protects it?

On Wed, 16 Oct 2019, 03:23 Micah, <notifications@github.com> wrote:

[2019-10-16 06:41] msrini-MSFT commented on #40829
@MacCarron , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-10-16 06:48] theronic commented on #40770
I tried searching to find the same documentation, but I could only find my own question [on StackOverflow](https://stackoverflow.com/q/58395386/198927), and eventually [this piece from 2016](https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mobile-node-backend-how-to-use-server-sdk). The closest thing is the line, "// CREATE: add or overwrite the userId based on the authenticat

[2019-10-16 06:50] Teriho commented on #23045
It has been 9 months and this bug is still there. This is radiculas.

[2019-10-16 06:51] abdulSparSA commented on #33766
@PatrickFarley please see below...
![image](https://user-images.githubusercontent.com/56564858/66895002-154cf580-eff2-11e9-9df3-cbef4b9563c2.png)

[2019-10-16 06:52] msrini-MSFT commented on #40829
@MacCarron , Use Remote gateways are only used when you need to connect from the Peered vnet to On-Prem via Virtual Network gateway deployed in the peered VNET.

How are you connecting to On-Prem from Azure ? (Are you using NVA?)

Disabling BGP route propagation will be useful in scenarios where you might be advertising default route from On-Premises and you don't want that route to be advertised

[2019-10-16 06:53] mdddev commented on #33480
Key vault integration has just gone GA, is there any ETA on this issue that can be shared?

[2019-10-16 06:53] SumanthMarigowda-MSFT commented on #40644
@sfilinto PR has been merged. Thank you!
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-16 06:53] #40644 closed

[2019-10-16 07:03] DixitArora-MSFT commented on #40676
Hi @mfalkvidd I have assigned this to content author for further review and update as appropriate.

[2019-10-16 07:04] theronic commented on #40770
Here: https://github.com/MicrosoftDocs/azure-docs/blob/36e9cbd767b3f12d3524fadc2b50b281458122dc/articles/app-service-mobile/app-service-mobile-node-backend-how-to-use-server-sdk.md

[2019-10-16 07:08] superyyrrzz opened #40830 "Where can I see created outbound rule in Azure Portal?"
I can create an outbound rule using `az network lb outbound-rule create`, and I can see the created rule using `az network lb outbound-rule list`. However, I cannot find the created rule in Azure Portal. It is missing in load balancer's `Load balancing rules` setting.

I can see IP configuration, backend pool, and health probe in the Azure Portal, which also created through Azure CLI, but not for

[2019-10-16 07:09] Boombasteg commented on #40675
I figured it out. It was because I didn't set `--untagged` parameter. Now I've added it and all works as expected. Thank you.

[2019-10-16 07:09] #40675 closed

[2019-10-16 07:12] msrini-MSFT commented on #40830
@superyyrrzz , Outbound rules are only view-able via Azure CLI as of today.

You will not be able to see the rules in the Portal. It is by design for now but it will be fixed later.

[2019-10-16 07:16] SumanthMarigowda-MSFT commented on #40677
@RamlingaReddy No, it is not currently supported. You may leave your Uservoice/Feedback [here](https://feedback.azure.com/forums/34192--general-feedback)
All the feedback you share in these forums will be monitored and reviewed by the Microsoft engineering teams responsible for building Azure.
We will now proceed to close this thread. If there are further questions regarding this matter, please ta

[2019-10-16 07:16] #40677 closed

[2019-10-16 07:17] superyyrrzz commented on #40830
@msrini-MSFT Thank you for the quick response! Glad to know this is by design instead of my misconfiguration. Will you update this issue when it is fixed in portal later?

[2019-10-16 07:17] SubhashVasarapu-MSFT commented on #40761
@SamirFarhat , It looks like it was stated in the following document. Here is the [doc](https://docs.microsoft.com/en-us/azure/vpn-gateway/about-zone-redundant-vnet-gateways) FYI.
![image](https://user-images.githubusercontent.com/44890829/66896657-e004cf80-f012-11e9-967e-7d94e48d2daf.png)
Please let us know if your ask is different. We will look in to it.

[2019-10-16 07:18] jeanpaulsmit commented on #38004
New-AzApiManagementHostnameConfiguration also appears to be changed to
New-AzApiManagementCustomHostnameConfiguration ?

[2019-10-16 07:19] msrini-MSFT commented on #40830
@superyyrrzz , This will be fixed in the portal. But there are no ETA that I can provide at this moment.

[2019-10-16 07:26] SumanthMarigowda-MSFT commented on #40730
@EyalPerry Thanks for the feedback! Your feedback has been shared with the content owner for further review.

[2019-10-16 07:28] femsulu commented on #39977
thanks @flanakin. adding @saket-ms

[2019-10-16 07:30] superyyrrzz commented on #40830
That's fine. Thank you!

[2019-10-16 07:30] #40830 closed

[2019-10-16 07:37] memildin commented on #40248
We've now added the classification system to the alerts overview page:
https://docs.microsoft.com/azure/security-center/security-center-alerts-overview
Thanks for the feedback!

#please-close

[2019-10-16 07:37] #40248 closed

[2019-10-16 07:44] BhupalPatil commented on #40777
@Alberto-Vega-MSFT Thanks, I have posted this request on User Voice Forum as well and I will consider posting on StackOverflow as well. This is very oblivious scenario where from security perspective it is recommended to use device provisioning service  however there is no option with how to do file upload  with REST API post method.

I have referred sample which rely on device keys but does not c

[2019-10-16 07:45] iricigor opened #40831 "RBAC vs Classic administrators"
In the first sentence, it is written that Microsoft recommends using RBAC and only in specific case one should use Classic Administrator role. But there is no explanation why Classic Administrators should not be used even if we do not have classic deployments. Is there any difference between the Subscription Owner (RBAC role) and Classic Administrator? Is there any scenario where it is better to u

[2019-10-16 07:56] souravmishra-msft commented on #39178
@sanjaybhagia, I totally agree with you on your point. I myself think that the function that is made available has something changed in the code and hence its not behaving the way it should according the code that is made available. For now I am not sure where is this Function App hosted, but I am looking into this to make sure we get that part fixed. We do not have an ETA on this for now.

We are

[2019-10-16 07:56] #39178 closed

[2019-10-16 07:57] Tanharuki opened #40833 "Deploy the SQL database,the message showed below: please accept preview terms to use the Zone Redundant Azure SQL Database"
Now The documents show the japaneast is available,But i tried to deploy the SQL database,the message showed below: please accept preview terms to use the Zone Redundant Azure SQL Database I want know how to judge if the Availability Zone (Azure SQL database service) is already GA(General Availability) or still preview in EASTJAPAN region.

---
#### Document Details

⚠ *Do not edit this section. It

[2019-10-16 08:03] AkihiroSuda commented on #8464
Rootless Docker could be probably supported if `newuidmap` and `newgidmap` (with either SUID bit or file caps) were installed in the cloud shell image.

[2019-10-16 08:06] frehnejc opened #40834 "Provider error 95525"
Could we have some steps for error 95525:
The requested operation did not complete.
Provider errorProvider error code: 95525

Provider error message:
	Mobility agent installation failed on the source machine (x.x.x.x)

Provider error possible causes:

      Root account was not provided for enabling protection on the source machine (x.x.x.x).

Provider error recommended action:

      Verify that

[2019-10-16 08:10] deheems commented on #40769
Further information:

When I click "create new space" I get this windo:

![image](https://user-images.githubusercontent.com/56585830/66900410-0cadec80-effd-11e9-910c-0e64696c2156.png)

I can fill in a name but cannot select a parent space. When I click OK I get the "value cannot be null"-error.

[2019-10-16 08:28] JackNs-16 opened #40835 "Inside internal private vm can't access internet"
I followed the step and it worked on yesterday. Private vm can ping outside network
Suddenly no work today and without any change.
Situation:
jumphost login private vm -&gt; private vnet(private vm) already set public dns ip on network interface  -&gt; through route table path to firewall private ip -&gt; firewall application rule and network rule checked with no wrong -&gt; 100% lost traffic

Is

[2019-10-16 08:36] tommydejong commented on #33999
Same issue, deleting does not work.

[2019-10-16 08:55] SubhashVasarapu-MSFT commented on #40835
@JackNs-16 , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-10-16 08:57] SubhashVasarapu-MSFT commented on #40680
@Leejung168 , I am wondering if you had a chance to look over my previous reply.

[2019-10-16 09:02] Sogup commented on #40228
#reassign:saurse

[2019-10-16 09:02] PRMerger6 commented on #40228
saurse is not a valid GitHub ID, or is not a collaborator on this repo.

[2019-10-16 09:04] dcurwin commented on #40228
#reassign:saurabhsensharma

[2019-10-16 09:11] Sogup commented on #40456
Azure Backup supports these operating systems for backing up files and folders, and apps protected by Azure Backup Server and DPM. Not an IaaS related query.
Please assign it to Saurabh or the correct person who owns this domain.

[2019-10-16 09:18] PramodValavala-MSFT commented on #40647
@Ofer-Gal I wasn't able to reproduce this error. Could you check the following?

1. The version of `AzureRM` you have installed by running `Get-InstalledModule -Name AzureRM`
2. If older, update to the latest version by running `Update-Module -Name AzureRM`
3. Restart Visual Studio and try again

[2019-10-16 09:22] amarnathprofisssional commented on #40210
@souravmishra-msft

we are still checking and we will come back to you once done.

[2019-10-16 09:26] chandruchiku opened #40837 "Result predicted on example seems to wrong."
Section " Get intent and entity prediction from endpoint" returns top scoring intent as Utilities.ReadAloud. It should be Utilities.Cancel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72ff924e-f3a1-6be2-1756-1faa066aebc7
* Version Independent ID: d318a837-3f45-0c0f-7d06-f0b601abe21c
* Content: [Tutorial: Prebuilt int

[2019-10-16 09:26] PramodValavala-MSFT commented on #40826
@clemensv Could you please share insights on this?

[2019-10-16 09:29] dcurwin commented on #40456
#reassign:dcurwin

[2019-10-16 09:31] Djongov opened #40839 ""Create a Windows container app" Step 6 needs update"
For anyone brand new to Docker who would like to try out this article i think it's better if step 6 from Create a Windows container app which guides on how to deploy the Windows Container to App Service - has a better description for using "Image and tag". In the screenshot there, it is only mentioned contoso/myFirstAzureWebApp which i think is misleading and leads to failed deployment in the end.

[2019-10-16 09:34] giovannifl opened #40840 "Run Set-AzVmDiskEncryptionExtension cmdlet again with new sequence version after adding a new data disk"
Hello,
Please could you explain why "If auto encryption occurs on a newly added data disk, we recommend running the Set-AzVmDiskEncryptionExtension cmdlet again with new sequence version." ?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7c63605-95f5-0953-3cf6-1e9c50532c1d
* Version Independent ID: 8731daa8-2c1

[2019-10-16 09:39] Rajeswari-Mamilla commented on #40834
@frehnejc the only way to avoid this error is to choose the "root" user. Can you verify if the user you have added is "root" or not?

[2019-10-16 09:40] gigeld commented on #29578
This is such a bad design ... the template outputs of type 'securestring' should be available but not recorded in log files.

[2019-10-16 09:44] RohitMungi-MSFT commented on #40837
@chandruchiku Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-16 09:53] jpalo commented on #35662
Not seeing this anywhere in the documentation @FrankHu-MSFT. Any schedule?

[2019-10-16 09:59] DreamRivulet commented on #40300
nginx-unprivileged.yaml
---
apiVersion: v1
kind: Pod
metadata:
  name: nginx-unprivileged
spec:
  containers:
    - name: nginx-unprivileged
      image: nginx:1.14.2

nginx-privileged.yaml
---
apiVersion: v1
kind: Pod
metadata:
  name: nginx-privileged
spec:
  containers:
    - name: nginx-privileged
      image: nginx:1.14.2
      securityContext:
        privileged: true

[2019-10-16 10:06] dcurwin commented on #40456
#reassign:saurabhsensharma

[2019-10-16 10:07] SripadaBhargav opened #40841 "What is the frequency of azure managed key rotation? If key is rotated by azure then how will the process of decryption works with old data?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-10-16 10:11] SripadaBhargav opened #40842 "What is the frequency of key rotation of azure managed key for storage account ?"
What is the frequency of key rotation of azure managed key for storage account? After the key rotation, how the decryption process is managed for old data?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7e05a67-3121-bbc2-7a46-637199104ea3
* Version Independent ID: 2802344c-0571-bdac-4755-580f75f404b0
* Content: [Azure

[2019-10-16 10:15] olileger opened #40843 "Clarify UDP port 53 source / dest."
Hello

Could you please clarify "UDP port 53 for DNS is also required if you have pods directly accessing the API server." : source / dest ?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a38439d0-0125-3445-1c0a-a03b940e315d
* Version Independent ID: c6436a35-94b9-6396-3b13-9291f0a17b21
* Content: [Restrict egr

[2019-10-16 10:20] MartinMasek commented on #37708
Is there any update on this? I've set up everything according to the tutorial and I still don't get the roles in the token. When I tried to pass my app as the resource in the v1 endpoint (as suggested by mparker), I get an error AADSTS90009 that application is requesting token for itself.
I feel I'm running around in circles and it's hard to achieve this simple scenario.

[2019-10-16 10:22] sajithasreejith commented on #34409
@PramodValavala-MSFT Could you please provide an example of client(JS) connecting/calling the "AddToGroup" function

[2019-10-16 10:22] msrini-MSFT commented on #40823
@jeffwmiles , Why do you want to place VM in a RG and NIC in another RG?

We recommend to place both NIC and VM in the same RG and then the migration will be easy.

Whatever you have mentioned is the only way to migrate the VNET and its resources to another subscription as you have placed NIC and VM in different RG.

Let me know if you have any further questions.

[2019-10-16 10:38] SadiqhAhmed-MSFT commented on #40831
@iricigor Thanks for the feedback. We are looking into this and will get back to you shortly.

@rolyon Could you please help clarifying @iricigor question?

[2019-10-16 10:45] frehnejc commented on #40834
Are you saying the actual user is root or a user who has root privileges?

[2019-10-16 10:52] alaendle commented on #40520
@formulahendry As the title of this issue already states GetByteArray returns a byte array - and not a null terminated string; as the result is treated in the example.

See line https://github.com/MicrosoftDocs/azure-docs.de-de/blame/master/articles/iot-edge/tutorial-c-module-windows.md#L186 - contentSize is crucial here, but isn't used in your example! The actual behaviour depends on the state of

[2019-10-16 10:58] SumanthMarigowda-MSFT commented on #40739
@eugen-nw Thanks for the feedback! Your feedback has been shared with the content author for further review.

[2019-10-16 10:59] impresent7 commented on #14640
The issue is still exists even when i use org.apache.spark.sql.SQLContext.SqlDBQuery(config) this gives another error.

error: value SqlDBQuery is not a member of object org.apache.spark.SQLContext

[2019-10-16 11:00] danimir commented on #33999
All - I would strongly advise that you log in a support ticket through Azure portal for engineering to have a look at once you encounter this issue. Please provide virtual cluster name and engineering will have a look at and troubleshoot. This place is intended for feedback regarding the public documentation, however you are reporting a functional issue which will not be looked at unless this is f

[2019-10-16 11:12] VikasPullagura-MSFT commented on #40843
@olileger Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-16 11:12] jochenvanwylick opened #40844 "'Test migrated servers.' is not clickable"
Hi - the docs state:
'Do a test migration as follows:
In Migration goals &gt; Servers &gt; Azure Migrate: Server Migration, click Test migrated servers.'
However, there's nothing to click on there. Maybe that section needs to be reviewed a bit. Thanks !

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f6cf488-07d3-1b2b-

[2019-10-16 11:19] aelij opened #40845 "Azure Front Door service tag"
Is there a service tag for Azure Front Door?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e905802-0b08-4b3b-25ec-0f88c023bc32
* Version Independent ID: f31325e5-49ea-b28c-336e-10f2a3fc12b4
* Content: [Azure security groups overview](https://docs.microsoft.com/en-us/azure/virtual-network/security-overview)
* Content

[2019-10-16 11:23] AjayKumar-MSFT commented on #40839
@Djongov, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2019-10-16 11:26] truealex81 opened #40846 "Collecting metrics with Prometheus in appgw Ingress"
Is it possible to collect metrics from AppGW Ingress into Prometheus and use them for Horizontal Pod Autoscaler?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91ef7d8f-a88e-dc27-d6a5-b0996eb2d442
* Version Independent ID: f7f1342b-5b11-9672-5196-d050e925bb29
* Content: [Azure Monitor metrics for Application Gateway](h

[2019-10-16 11:38] neilp-snow opened #40848 "Documention does not include examples for Add/Remove in powershell"
Please could you add examples for adding and removing firewall rules in powershell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c60737e9-40f9-bcc5-a480-b453a3f58d55
* Version Independent ID: fd6dbf6c-7862-1c00-2c0b-ca260f79e7df
* Content: [Quickstart - Configure a firewall for an Analysis Services server in Azure](h

[2019-10-16 11:47] pritub opened #40849 "Set-AzKeyVaultSecret is throwing forbidden error on powershell"
unable to set up the key secret on powershell for sandbox resource MS Learn
Working fine with **CLI**
Is that related to CLI only due to permission restriction or what?
Let me know if any step or command is missing, following steps
https://docs.microsoft.com/en-us/azure/key-vault/quick-create-powershell

![image](https://user-images.githubusercontent.com/534454/66916546-0c334700-f039-11e9-9a33-e1c

[2019-10-16 11:51] Rajeswari-Mamilla commented on #40834
The actual user should be root

[2019-10-16 11:54] isamllr opened #40851 "Azure Storage & HNS (=ADLS Gen2) - include Microsoft.AzureActiveDirectory"
The documentation should mention that the Microsoft.AzureActiveDirectory service endpoint should be enabled as well when using Azure Storage with HNS enabled (=ADLS Gen2) since it makes use of AAD to set ACLs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1eb0407d-f4a5-6059-488d-fd082915c675
* Version Independent ID:

[2019-10-16 11:57] nithishk opened #40852 "Failed to load python executable"
machine learning using azure cli

When I tried to test the case using the command

az ml service run -n myservice -d '{"data":[[1,2,3,4,5,6,7,8,9,10]]}'.get_log()

I get an error saying Failed to load python executable

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc8b3c87-63e7-48a2-bf6e-72fc6a4d13a5
* Version Indepen

[2019-10-16 12:00] msrini-MSFT commented on #40845
@aelij ,

We are working towards integrating with [Azure IP Ranges and Service Tags](https://www.microsoft.com/en-us/download/details.aspx?id=56519) but for now you can refer the IP ranges as below:

Front Door's IPv4 backend IP space: 147.243.0.0/16
Front Door's IPv6 backend IP space: 2a01:111:2050::/44
Azure's basic infrastructure services through virtualized host IP addresses: 168.63.129.16 and

[2019-10-16 12:25] mulderbaba commented on #40303
@SaurabhSharma-MSFT @MarileeTurscak-MSFT

this needs urgent action. Can you leverage the priority on this and update the correspondents of the issue accordingly?

We need to make sure that if already configured directories will be affected or not. I think I cannot stress enough on the importance of this matter.

[2019-10-16 12:32] flacidsnake opened #40853 "Customize directory structure of logs"
System.Diagnostics.Trace.TraceError("If you're seeing this, something bad happened");

Is there a way to manipulate the creation/usage of the Trace programmatically to achieve this structure? ROOT_OF STORAGE_CONTAINER/CUSTOM_TEXT/YEAR_FOLDER/MONTH_FOLDER/DAY_FOLDER/HOUR_FOLDER/custom_name.log

Please note the CUSTOM_TEXT folder and the custom_name filename

---
#### Document Details

⚠ *Do not edi

[2019-10-16 12:41] g2mula opened #40854 "Sample Data"
It would be nice to have the sample data about the families somewhere on the page so as to easily follow where the example results are coming from.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b884aa0-cea6-bdfc-80af-7b7a8385b3de
* Version Independent ID: 6a77610e-3b6b-44ab-6226-91820603f594
* Content: [SQL JOIN quer

[2019-10-16 12:42] keshava-hm opened #40855 "iot-edge/tutorial-csharp-module-windows.md: Only one message is received from temperature sensor and it repeats"
I followed the quickstart guide at iot-edge/quickstart.md : https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/iot-edge/quickstart.md and Edge module tutorial: https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/iot-edge/tutorial-csharp-module-windows.md

Temperature sensor sends the data continuously, but my edge module receives only one message, and prints the same rep

[2019-10-16 12:44] cconcordet opened #40856 "Install and import xgboost in Python Azure Function app doesn't work"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-10-16 12:50] cconcordet commented on #40856
The error is :
Exception: XGBoostError: XGBoost Library (libxgboost.so) could not be loaded.
Likely causes:

OpenMP runtime is not installed (vcomp140.dll or libgomp-1.dll for Windows, libgomp.so for UNIX-like OSes)
You are running 32-bit Python on a 64-bit OS
Error message(s): ['libgomp.so.1: cannot open shared object file: No such file or directory']

This thread adresses the issue : #493

We tr

[2019-10-16 13:01] GitTune commented on #30503
@annabarh Couple of months further now...... Can you give an update on what services honor this policy? Does it also works for mobile apps and rich clients?

[2019-10-16 13:15] KalyanChanumolu-MSFT commented on #40854
@g2mula Thank you for the feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-10-16 13:23] SwathiDhanwada-MSFT commented on #40844
@jochenvanwylick Thanks for the comment. We will review your feedback and update you soon.

[2019-10-16 13:27] neilp-snow commented on #40848
@SwathiDhanwada-MSFT apologies, please see here https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-qs-firewall

[2019-10-16 13:30] SwathiDhanwada-MSFT commented on #40852
@nithishk Thanks for the comment. Can you please share the document you are referring to so that we can assist you accordingly?

[2019-10-16 13:43] MGoedtel commented on #40430
If there are no further questions, we will close this GitHub issue.  #please-close.

[2019-10-16 13:43] #40430 closed

[2019-10-16 13:47] MGoedtel commented on #35546
@ToruMakabe - I've reached out to our engineering team to verify and I've bugged this article.  If kube-state-metrics aren't supported I'll remove it.  #in-progress

[2019-10-16 14:00] MGoedtel commented on #40082
@andrewbeaumont - Thanks for bringing this to our attention.  I didn't originally author that so I'm going to review this further and discuss with the PG to determine if the URL for agent and job runtime are both identified by looking at the Automation account key properties. Upon initial review of the table in the Gateway article, there are some regions which have different URLs between agent and

[2019-10-16 14:08] tfitzmac commented on #40823
@jeffwmiles - thanks for this question. I see that we need to add a link to some related content. The steps you suggested are correct. Here is the related content - [https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-move-resources#scenario-for-move-across-subscriptions](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-move-resources#scenario-f

[2019-10-16 14:08] kevball2 commented on #33766
@abdulSparSA
for the storage accounts page it appears the SAS key is on it's own section

![image](https://user-images.githubusercontent.com/22545150/66926446-aa042300-eff3-11e9-8d41-e284c3a8e35f.png)

If you use the storage explorer standalone tool or the storage explorer preview pane from the azure portal
![image](https://user-images.githubusercontent.com/22545150/66926900-74ac0500-eff4-11e9-8cb

[2019-10-16 14:15] cconcordet opened #40857 "Creating VM Notebook for an another user of my resource group"
Is it possible to create a VM Notebook for another user ?

I have tried but it seems that only the creator has access to the virtual machine

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0a39c00-0d4b-eef2-39cc-2ebe0603d854
* Version Independent ID: 265dd37f-2299-c762-63be-3c8e5cf504f8
* Content: [Tutorial: Create you

[2019-10-16 14:27] markjbrown commented on #40854
This is a good suggestion. We can provide a link to the Families dataset as a reference.

Kaylan, please assign to @timsander1

[2019-10-16 14:29] ojasp commented on #25048
Any update on this, @aljo-microsoft ? I have the same question as other here. If the request is going from Azure LB -> SF Reverse Proxy -> <Application hosted on SF> then the Azure LB will always forward request to the SF reverse proxy. At this point it is up to the reverse proxy to decide which node to send the request to. Does the reverse proxy check to see if an application is is healthy state

[2019-10-16 14:34] cmusa17 commented on #40729
@hrasheed-msft these settings should be added by going to Ambari and editing the kafka-env template under the Kafka Configuration.

The statement is misleading in that the user may think he/she needs to add these settings directly to the server.properties file in his/her cluster.

Once these settings are added to the kafka-env template under the Kafka Configuration, after restarting the Kafka brok

[2019-10-16 14:37] Chreschtf opened #40859 "Sending of request for higher concurrency for speech-to-text failed"
Hello,

I used your clickable link to contact you for a higher concurrency request. While typing my message and clicking send worked fine in the popup window, I received an 'Undeliverable' answer because my email address isn't on your sender list once I reopened outlook.
I'm not sure if you usually send a confirmation of receipt email for requests sent via the popup email widget but at least I did

[2019-10-16 14:38] j03Martin opened #40860 "You clearly did not run the first ARM template: "let's call it template1.json""
There is no "retentionInDays" variable, but there is a parameter named "retentionInDays".
Issue:
"retentionInDays": "[variables('retentionInDays')]",

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c8783dc-d0fd-8f1f-88a3-5db2495a1428
* Version Independent ID: 076efce2-ff9e-2d2a-ba9b-7d760c5eea0b
* Content: [Automate Az

[2019-10-16 14:48] Neckross opened #40861 "Known issue: Resizing to Full Screen forces the user to be logged OFF their session"
we have tested this with many browsers, same behavior.
if the user resize the screen the session will automatically log the user out and close all of his open applications, and then it will automatically log the user back in without prompting for credentials.
this is a major issue since the users have to very careful to NOT resize the browser otherwise they lose their working applications.

---
##

[2019-10-16 14:49] SLeuthold opened #40862 "Preview designation removed from the Azure portal Identity Governance blade"
Hello, I noticed the preview designation was removed from the Azure portal's Identity Governance blade. Does this mean it is out of preview or coming out of preview soon?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06201faf-0037-3647-4e91-bb0af80d4812
* Version Independent ID: 1b397d76-ecfe-046e-a4c4-0fe5293bceb3
*

[2019-10-16 14:53] jmonticelli opened #40863 "Service example assumes same number of devices when it is not always the case"
The Python guide suggests that we do this, but executing this sample for me returns that there are 9 total and 9 enabled devices, but only returns 7 devices to `dev_list`. Thus, the sample crashes trying to get index 7 of the device list.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee954f99-9e57-d746-e504-44

[2019-10-16 14:55] scottcun opened #40864 "Bug in query following text 'If you want to see counts for billable data types are sending data to a specific computer, use:'"
There is a bug in the query.  Query should end with:

| sort by eventCount nulls last

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a73a8a62-95c6-9ec9-9199-695ad1e5e8a9
* Version Independent ID: 6089f013-8b5b-661c-9ee4-d6b267737357
* Content: [Manage usage and costs for Azure Monitor Logs](https://docs.microsoft.com/e

[2019-10-16 15:04] clineer opened #40865 "The results() function works inconsistently"
I found that using results() works sometimes but not always. Sometimes it will return a string like Succeeded or Failed and other times returns an Array of statuses. To get around this I found if you wrap it in the string function like string(results('Scope_2')) you can search for "Failed" and this helps get the status even if an Array is returned. I suggest updating the documentation for this hel

[2019-10-16 15:07] davidmi commented on #40602
Apologies for the delay. I reviewed the example code and as far as I understand this only shows how to authenticate with OpenID connect using Node, but I am specifically concerned about how to connect to Azure SQL using this identity. The example does not actually pass the authorization to ODBC or connect to a database in any way as far as I can tell.

[2019-10-16 15:11] hrasheed-msft commented on #40729
@cmusa17 It sounds like you're saying they were confused and though that in step 6 they needed to edit the file manually. I have adjusted the language to clarify that the following commands will make those edits.

There are multiple ways to edit the server.properties file, correct? Ambari is one way, but I think it can also be edited manually or through a script. I believe it is accurate to say th

[2019-10-16 15:21] heaps926 opened #40867 "No information on how to use roles once added"
This article explains how to add roles to an application but not how to use them once added.

The "Authorization in a web app using Azure AD application roles & role claims (Sample)" link under More Information is info I really need, but that page is returning a 404

Also, Where is the "Required Permissions" blade referenced in this article? Is there more information about what this would do?

---

[2019-10-16 15:21] FISHMANPET commented on #40527
This shouldn't be closed, if Deployment Center isn't supported on Linux function apps on the consumption plan, the documentation should say that.  Neither the words "Linux", "Consumption", or "Python" appear anywhere on that page.

Additionally, this is bordering on product feedback, but the UI is very inconsistent.  For most things I can go to platform features and if they're greyed out, click an

[2019-10-16 15:22] drdamour commented on #40461
@cephalon shouldn’t the article indicate the reason for the group necessity as you have outlined here?

[2019-10-16 15:27] #40711 closed

[2019-10-16 15:27] MicahMcKittrick-MSFT commented on #40693
You you use PowerShell from an on prem machine. So you are sending data to Azure to tell it which instance to protect.

[2019-10-16 15:28] markjbrown commented on #40695
@NavtejSaini-MSFT  can you please reassign this to @SnehaGunda ?

Sneha, can you update the code sample here to remove the use of secure string for the master key?
https://docs.microsoft.com/en-us/azure/cosmos-db/secure-access-to-data#code-sample-to-use-a-master-key

Thanks.

[2019-10-16 15:28] cephalin commented on #40461
@drdamour I think for simplicity for now we will forgo that description in order to keep the tutorial streamlined. I understand we're talking about the tricky balance of educating the customer without information overload, but thank you for the feedback. We will consider that.

[2019-10-16 15:29] MicahMcKittrick-MSFT commented on #40857
@cconcordet please provide us with the link to the documentation you are following so we can better assist.

[2019-10-16 15:31] MicahMcKittrick-MSFT commented on #40833
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-16 15:35] markjbrown commented on #24767
Following up on this open issue.

We published an article that describes what is being asked for here.
https://docs.microsoft.com/en-us/azure/cosmos-db/access-secrets-from-keyvault

Thanks for your feedback @briansboyd. We appreciate your feedback on how we can make our docs better.

#please-close

[2019-10-16 15:37] cephalin commented on #31879
@linruhui Thank you for your consistency in this issue. It took a while for us to track down the right party. I've added the information into the service limits doc now and it should be published sometime today. Sorry for the delay.

#please-close

[2019-10-16 15:37] #31879 closed

[2019-10-16 15:40] Mike-Ubezzi-MSFT commented on #40602
@davidmi Thank you for reviewing the example provided and providing feedback. I will reopen this issue and have the content owner review the document for an enhancement to include AAD use case(s). With some many users leveraging Azure AD and moving away from SQL Authentication, it makes sense for the documentation and any tutorials/examples to be based upon Azure AD. Thank you!

[2019-10-16 15:42] cephalin commented on #40030
@jwisner This sounds like a scripting scenario and goes beyond the scope of this article. If you orchestrate with a script then you would verify the first swap before moving on, and so forth. If you need help on that, I suggest going to the Azure forum or StackOverflow. #please-close

[2019-10-16 15:42] #40030 closed

[2019-10-16 15:42] banderson501 opened #40869 "Unable to create TSI environment"
I followed the instructions on this page but am not able to get to the Review + Create page. When I click on the Review+Create button or tab the page stays on the Event Source tab. All required fields are filled in on the Event Source and Basics page. Green checks on all entered names. I have Owner role on the subscription.  Why can't I get to the Review+Create page and create my TSI environment?

[2019-10-16 15:49] MicahMcKittrick-MSFT commented on #40813
@sspage this is intentional. West US does not currently support Availability Zones. Once it does we will update the documentation.

[2019-10-16 15:49] #40813 closed

[2019-10-16 15:51] MicahMcKittrick-MSFT commented on #40809
@frankanstine can you elaborate on your ask a bit? We provide those for you so what exactly are you looking to query here?

[2019-10-16 15:53] MacCarron commented on #40829
@msrini-MSFT , I am connecting to onprem using the site-to-site vpn as per documentation (using a simulated onprem env on azure), and this is why I think the UseRemoteGateway is not needed. If the spoke vnet is peered to the hub vnet (without UseRemoteGateway) it will have a route to the hub vnet. The hub vnet (including the firewall) will have a route to onprem thanks to the gateway. So if my nex

[2019-10-16 15:56] anderseide opened #40870 "Microsoft.OperationalInsights Service Provider required"
The Microsoft.OperationalInsights Service Provider must be registered on the subscription you want to monitor for logs to appear in Azure Log Analytics Workspace.

Subscription appear to be connected, but don't report anything

Should be mentioned in the article

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f58d2fcb-0

[2019-10-16 16:04] GiftA-MSFT commented on #40859
@Chreschtf thank you for reaching out. We'll look into your request and get back to you shortly. Thanks.

[2019-10-16 16:12] frankanstine commented on #40809
Yes, the docs provide a specific example. My question is how would have a user determined this on his own. I haven't found any documentation to enumerate the GUIDs for other APIs and their permissions. In the portal, I can choose DevOps or Intune, for example, but in the CLI what are those GUIDs and the permission strings. The "az ad app permission add" documentation doesn't give any reference to

[2019-10-16 16:13] #40781 closed

[2019-10-16 16:19] msrini-MSFT commented on #40829
@MacCarron , Alright. Do you have any specific question to me?

[2019-10-16 16:21] veeyeskay commented on #40324
Yes, looks to be working now.  Must have been fixed last week or might have been an intermittent issue.

[2019-10-16 16:22] MicahMcKittrick-MSFT commented on #40833
@Tanharuki it is still in Preview. I added a note next to SQL to state it is still in preview. No public ETA on when it will be GA but once it is we will update the documentation.

[2019-10-16 16:22] #40833 closed

[2019-10-16 16:25] BharathNimmala-MSFT commented on #40860
@j03Martin Thank you for bringing this to our attention, will look into this and update the document accordingly.

[2019-10-16 16:30] FISHMANPET commented on #40527
As someone external to Microsoft it doesn't look like I have the ability to reopen a closed issue.

[2019-10-16 16:31] YutongTie-MSFT commented on #40627
@PatrickFarley Hi Patrick, could you please help with this issue? I don't see more details for the result, could you please add more if needed? Thanks.

[2019-10-16 16:32] vishiy commented on #35546
@ToruMakabe - the doc should have said 'as examples' you can collect kube-state-metrics. If you want to collect kube-state-metric, you would put kube-state in your cluster and configure the agent to scrape those metrics. We will update the doc to make it clear.

[2019-10-16 16:36] mahilleb-msft commented on #40802
@erhopf may know what is the latest on this...

[2019-10-16 16:36] msrini-MSFT commented on #40823
@tfitzmac , Can we update this doc with the link which you have referenced?

[2019-10-16 16:38] MicahMcKittrick-MSFT commented on #40809
Thanks for that! It seems we have that information here:

https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-permissions-and-consent#permission-attributes

[code]

Property name | Description | Example
-- | -- | --
ID | Is a GUID value that uniquely identifies this permission. | 570282fd-fa5c-430d-a7fd-fc8dc98a9dca
IsEnabled | Indicates whether this permission is available for use.

[2019-10-16 16:38] kpm-at-hfi commented on #19208
@asergaz I just ran into this in a field test. I see this issue is closed, but I'm not sure what the resolution actually is for this pretty-easy-to-encounter problem. I have read up over on the Production Checklist, but it's not clear to me that there's any guidance there concerning how to remotely or automatically manage unused Docker images uselessly taking up valuable disk space. Is there an of

[2019-10-16 16:39] MicahMcKittrick-MSFT commented on #40780
@jluk assigned to you to work with @mlearned to update one of the two docs based on the discussion offline with @denniszielke

[2019-10-16 16:41] MicahMcKittrick-MSFT commented on #40701
@porrascarlos802018 closing this out. When ready we can reopen and continue the discussion.

[2019-10-16 16:41] #40701 closed

[2019-10-16 16:47] ggailey777 commented on #38058
Thanks @ToMakeSense for clarifying. This guidance was intended specifically for connection strings used by the various Functions bindings. (Note that there are currently no SQL or relational DB bindings.)
Would it be safe to say that connections strings in the Connection Strings section are handled as any other kind ASP.NET string, with prefixes, etc...?

[2019-10-16 16:48] BharathNimmala-MSFT commented on #40860
@j03Martin PR has been raised for review and approval, post that the doc will be updated accoridngly. Thanks again for bringing this to our attention and improving our over all document experience.

[2019-10-16 16:54] Tiagojaduarte opened #40871 "x5t header parameter"
The information provided about what this parameter is unclear. I lost hours trying to use the normal thumbprint Base64 of the certificate until I found this article https://social.technet.microsoft.com/Forums/en-US/88cb2bfd-b28f-4ce6-9bbb-262abcb74152/aadsts70002-error?forum=windowsazuremanagement which explains how to generate the x5t value.

---
#### Document Details

⚠ *Do not edit this section

[2019-10-16 17:00] lichasu opened #40872 "Detailed Information about Service Tags"
@marcelkmfst commented on [Wed Oct 16 2019](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/577)

It would be good to get some more information about the NSG rules, which ports are required?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc46ceac-e45e-6f29-dd5b-6453c614d9b2
* Version Independent ID: b8b3bb83-5

[2019-10-16 17:06] cephalin commented on #39305
@eyast I've updated the doc to match the current portal and it should be published sometime today. Thank you. #please-close

[2019-10-16 17:06] #39305 closed

[2019-10-16 17:08] cephalin commented on #30462
@patros @KrishnaG-MSFT Sorry for the delay. I've added the information to the limits doc now. It should be published sometime today. #please-close

[2019-10-16 17:08] #30462 closed

[2019-10-16 17:10] Alberto-Vega-MSFT commented on #40827
@interfacemirror Is this the issue you are facing? https://github.com/Azure-Samples/azure-iot-samples-csharp/issues/27

[2019-10-16 17:11] SaurabhSharma-MSFT commented on #40631
@wshamroukh Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-10-16 17:16] #40815 closed

[2019-10-16 17:16] frankanstine commented on #40809
That helps. From there I see they're service principals and the permissions are attributes of that service principal. Using Azure CLI I can find it with 'az ad sp list --display-name "Microsoft Graph" --query <some JMESPATH query>'

Thanks
________________________________
From: Micah <notifications@github.com>
Sent: Wednesday, October 16, 2019 11:38 AM
To: MicrosoftDocs/azure-docs <azure-docs@nore

[2019-10-16 17:18] RyanHill-MSFT commented on #40655
I'll definitely pass along your feedback to the product team @marckassay. If I get any update, I'll be sure to update this thread.

Having said that, I'll assign this issue to the doc author we can improve the document to notate the inconsistencies you've identified.

[2019-10-16 17:23] MicahMcKittrick-MSFT commented on #40809
No problem :) It is technically an AAD item which is why it is not further documented here. I will leave the doc as is since it is just a walk through but if others find they want more info in this doc they can comment on this and we can always revisit it in the future.

If you think of anything else I can help with just let me know.

[2019-10-16 17:23] #40809 closed

[2019-10-16 17:30] Alberto-Vega-MSFT commented on #19208
@kpm-at-hfi Please see the suggestions from Edge team on the feedback entry https://feedback.azure.com/forums/907045-azure-iot-edge/suggestions/36069130-removing-unused-modules-from-iot-edge-devices
You can also upvote it if you want to.

[2019-10-16 17:37] Grace-MacJones-MSFT commented on #40317
Upon further review we feel your feedback would be best received by the doc author to determine if an update to the current doc is necessary if they align with the feedback.

[2019-10-16 17:38] lhale opened #40874 "There is NO way you can read this in three minutes"
You might be able to scan in three minutes, but you'll be going back & forth in the document and clicking on those other information links to determine whether you should or want to install extensions or the .Net core stuff.  A non-existent functions.json is mentioned midway thru and there's no further references to it, how/when it gets created and what goes inside it (provide a doc link?). I've s

[2019-10-16 17:43] Grace-MacJones-MSFT commented on #40724
@msangapu  can you please take look at this and verify if long form syntax is a valid alternative form?

[2019-10-16 17:45] MarileeTurscak-MSFT commented on #38727
Hi @TiloGit ,

I finally heard back from the product team that the bug has been fixed. Baseline protection was updated several weeks ago to prevent this from happening again. This will no longer be an issue. Thanks so much for reporting this!

[2019-10-16 17:45] #38727 closed

[2019-10-16 17:46] BryanTrach-MSFT commented on #40853
@flacidsnake Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-16 17:48] tfitzmac commented on #40823
The link has been added.

[2019-10-16 17:52] subashsivaji opened #40876 "Mapping data flow CI/CD"
Now mapping data flow in generally available. Can we please update this page to include how to handle MDF in CICD?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e22e4d6-366f-fbf8-e141-8905ca7ab7ae
* Version Independent ID: 5be2acf2-66e7-cadf-6666-5a85a65b9771
* Content: [Continuous integration and delivery in Azure D

[2019-10-16 17:58] athinanthny commented on #30791
#please-close

[2019-10-16 17:58] #30791 closed

[2019-10-16 18:01] jlmace opened #40877 "Detach option has moved"
I had a customer today contact in because the detach option was unavailable to him following this documentation. I had the same experience. It appears the detach option has moved.

Detach can now be found from
VM &gt; Disks &gt; Edit &gt;Scroll over on the data disk list and click the detach icon

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2019-10-16 18:03] KranthiPakala-MSFT commented on #40728
@hrasheed-msft Could you please have a look at this. Thanks!

@cmusa17 We have assigned the issue to the content author. They will evaluate and update the document as appropriate.

[2019-10-16 18:07] #40823 closed

[2019-10-16 18:15] Grace-MacJones-MSFT commented on #40332
Hi @j03Martin, apologies for the delay in response. You can use this ARM template found in this [doc](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/how-to-manage-ua-identity-arm):

`{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "resourceName": {

[2019-10-16 18:15] #40332 closed

[2019-10-16 18:30] lhale opened #40881 "You didn't define the network endpoint"
Apparently, your storage account isn't finished until you decide on the type of network endpoint - where is that in this doc and what form does the connection string take (need examples) ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ee9ec76-a91f-095a-5ba3-b9c413366751
* Version Independent ID: 29c17263-ed56-d42e-bc

[2019-10-16 18:38] KingdomOfEnds commented on #37661
@xtellurian - Quick update for you - the new TSI Preview limit will be 1000 properties / rows. Thanks!

[2019-10-16 19:00] steamwings opened #40883 "Exception in refreshItemsFromTable"
I originally used a different Name for the connection string (from my Azure SQL Server to the .NET mobile app backend), which I can see is a problem. However, I restarted the web app and my Android application (in emulator) gets an exception at the refreshItemsFromTable method (see at the end).

I didn't see a table created in SSMS, so I tried creating a table on the SQL Server based on the initLo

[2019-10-16 19:03] BharathNimmala-MSFT commented on #40877
@jlmace Thank you for bringing this to our attention, we will further validate and get back to you at the earliest.

[2019-10-16 19:04] #40725 closed

[2019-10-16 19:06] KranthiPakala-MSFT commented on #40725
@tarinidash Thanks for the feedback and bringing this to our attention.
The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2019-10-16 19:17] TravisCragg-MSFT commented on #40846
@truealex81 Azure Application Gateway exports metrics to Azure Monitor. Once in Azure Monitor, it is possible to [export the metrics](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-platform-metrics#what-can-you-do-with-azure-monitor-metrics).

I was not able to find much information on getting the data to Prometheus besides [this StackOverflow Post](https://stackoverflow.com/qu

[2019-10-16 19:18] TravisCragg-MSFT commented on #40851
@isamllr Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-16 19:31] Grace-MacJones-MSFT commented on #40427
Upon further review we feel your feedback would be best received by the doc author to determine if an update to the current doc is necessary, or to create a new doc if they align with the feedback.

@cephalin is there a way for us to update the docs with the scenario mentioned above?

[2019-10-16 19:36] AjayKumar-MSFT commented on #40653
@macrochen86, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2019-10-16 19:36] #40653 closed

[2019-10-16 19:43] cephalin commented on #31165
@dvherk There's no way to cancel a certificate. However we will add instructions on how to delete a certificate in a future update. Thank you. #please-close

[2019-10-16 19:43] #31165 closed

[2019-10-16 19:44] pmossel opened #40884 "Step 4: Instead of "Service Bus queue", "Service Bus Topic" is shown"
In "Route to a Service Bus queue"
Step 4 "Fill in the fields"

Tutorial shows these fields:
Endpoint Name
Service Bus Namespace
Service Bus queue

The Azure page shows:
Endpoint name
Service bus namespace
Service Bus Topic

Instead of "Service Bus queue", "Service Bus Topic" is shown. How to proceed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-10-16 19:45] MartinJaffer-MSFT commented on #40703
Hmm, it sounds like you are doing everything right in the first paragraph, @mafis-hh .  The next step would be to confirm the Prod has an [MSI](https://docs.microsoft.com/en-us/azure/data-factory/create-self-hosted-integration-runtime#known-limitations-of-self-hosted-ir-sharing).  However given you were able to create one manually, I do not think that is the issue.  Can you share with me the detai

[2019-10-16 19:45] jwargo commented on #40401
@BryanTrach-MSFT please assign this to me.

[2019-10-16 19:48] jwargo commented on #39834
Apple made some changes to APNS with iOS 13 and Xcode 11. We updated the SDK to accommodate a change in the way apps get the push token. A documentation update is going in today which describes this and other changes.

[2019-10-16 19:50] TravisCragg-MSFT commented on #40861
@Neckross Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-10-16 19:51] bmcmcm opened #40885 "No Documentation for Error SubscriptionNotFound."
{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.","details":[{"code":"NotFound","message":"{\r\n \"error\": {\r\n \"code\": \"SubscriptionNotFound\",\r\n \"message\": \"Subscription 84ca6825-7299-4521-abab-c1a31170d5e5 was not found.\"\r\n }\r\n}"}]}

---
##

[2019-10-16 19:52] jgurzoni opened #40886 "Instruction to copy a directory to another storage account doesn't work"
When I try the example on this page
azcopy copy 'https://&lt;source-storage-account-name&gt;.file.core.windows.net/&lt;file-share-name&gt;/&lt;directory-path&gt;?&lt;SAS-token&gt;' 'https://&lt;destination-storage-account-name&gt;.file.core.windows.net/&lt;file-share-name&gt;' --recursive

I get the error failed to perform copy command due to error: azure files only supports the use of SAS token a

[2019-10-16 19:54] #40884 closed

[2019-10-16 19:56] ToddBowman opened #40887 "How can I expand how much data this can copy?"
My use case is to simply replicate one Azure storage account to another.  I have about 3.5TB of storage made up of 5,000,000 blobs in 14,000 containers.  I get an error saying EnumerateContainersList failed: The length of execution output is over limit (around 1M currently).

Is there any way I can edit the code to remove that limit?  What options do I have?

---
#### Document Details

⚠ *Do not e

[2019-10-16 20:01] kpm-at-hfi commented on #19208
Yeah I'd found this issue via that link, and I did upvote :)

[2019-10-16 20:01] TravisCragg-MSFT commented on #40872
@lichasu @marcelkmfst The document describes [which ports are needed Here](https://docs.microsoft.com/en-us/azure/bastion/bastion-nsg#nsg). Can you describe what information you still need that is not already in the doc?

[2019-10-16 20:04] ksaye commented on #40801
@MicahMcKittrick-MSFT, I later did upgrade to version 2.0.75 and it worked.  What I was trying to share was that https://docs.microsoft.com/en-us/azure/aks/tutorial-kubernetes-deploy-cluster says Azure CLI version 2.0.53 as a minimum.  My version, 2.0.69 did not support that switch.

[2019-10-16 20:05] RazvanEmilR commented on #39834
@jwargo Registratio with the hub currently works for me with this code(after updating Nuget package for **WindwosAzure.NotificationHubs.iOS 2.0.4**):

Is this updated SDK going to change anything again? Or will still work as is?

try
            {
                AzureNotifHub = new SBNotificationHub(AppConstants.AZURE_DEVNOTIFHUB3_LISTENSHARED, AppConstants.DEV_NOTIFHUB3);

                // upd

[2019-10-16 20:06] vladkasianenko opened #40889 "Update documentation for the Azure Maps"
On that [page](https://docs.microsoft.com/en-us/azure/azure-maps/how-to-use-map-control) for `npm` example, please remove `css` and `js` folder, cause the files just in the `dist` folder.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea11ca51-2d51-8328-09d7-2ee9944e5751
* Version Independent ID: 2077160d-3c5f-33d1-4d1

[2019-10-16 20:18] MicahMcKittrick-MSFT commented on #40801
Ah okay. I can fix that :)

[2019-10-16 20:20] MicahMcKittrick-MSFT commented on #40801
Fixed. once the PR merges the changes will go live after a few hours.

[2019-10-16 20:20] #40801 closed

[2019-10-16 20:20] Absoblogginlutely opened #40891 "Can you confirm that the custom banned password list is not available for Microsoft 365 Business?"
This does have some elements of Azure AD premium P1 built in but the custom password list is not editable with a 365 account for users synched from AD.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c58c903b-778e-e1d9-31c3-321a6fd0050f
* Version Independent ID: 9ee47301-0c8d-26ff-1deb-6d309aef2f97
* Content: [Dynamical

[2019-10-16 20:32] MarileeTurscak-MSFT commented on #40840
@giovannifl
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-16 20:33] MarileeTurscak-MSFT commented on #40841
@SripadaBhargav  please include a link to the document that you are following and describe the issue that you are having.

[2019-10-16 20:34] MarileeTurscak-MSFT commented on #40849
@pritub
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-16 20:38] #39599 closed

[2019-10-16 20:40] gladysgit2017 opened #40894 "password reset Azure"
Hi
users are not able to get code when they request it by phone,
only when they add a 1 in front of the number.  Please advise, add a note right next to the input line that it is needed,
thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18640c6c-b52c-84e3-59d8-90f2a663cc6b
* Version Independent ID: 77b249dc-4440-03

[2019-10-16 20:41] bwren commented on #40052
Fix going out today.  #please-close

[2019-10-16 20:41] #40052 closed

[2019-10-16 20:42] hammer5280 opened #40895 "Add a Custom Domain Association Hangs and Does Not Complete"
If this happens to you, check the logs for:

HostName " Tag value too large. Following tag value... Maximum allowed length for tag value - '256'

The error does not bubble up the UI.  Shorten your DNS CNAME url and or resource name and try again.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b32fbbf3-178d-a0ef-7c3a-87

[2019-10-16 20:53] MarileeTurscak-MSFT commented on #40855
@keshava-hm
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-16 20:55] MarileeTurscak-MSFT commented on #40856
@cconcordet please provide the link to the document that you are following so that we can better assist you.

[2019-10-16 21:03] Adam-Smith-MSFT commented on #40842
@SripadaBhargav there isn't a specific time that's set for you to rotate keys, the normal advice is to do it between 3 to 6 months, consider it the same as a normal password policy, if there is an immediate security concern, then instant key rotation should be performed.

When it comes to the existing data, it would be encrypted using the new key  without interruption to your applications

Does th

[2019-10-16 21:10] MarileeTurscak-MSFT commented on #40303
I have reached out. + @RobdeJong @jeevansd @luleonpla anyone know the answer to this?

[2019-10-16 21:15] FrankHu-MSFT commented on #40862
@SLeuthold Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-16 21:15] FrankHu-MSFT commented on #40867
@heaps926 Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-16 21:15] FrankHu-MSFT commented on #40871
@Tiagojaduarte Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-16 21:15] FrankHu-MSFT commented on #40891
@Absoblogginlutely Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-16 21:15] FrankHu-MSFT commented on #40894
@gladysgit2017 Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-16 21:16] Adam-Smith-MSFT commented on #40881
@lhale It's an optional step, default is public endpoint(All networks), unless if it needs to be customized, when choosing the review + create option it takes the default settings. Let me know if this helps.

[2019-10-16 21:16] cijothomas opened #40896 "Application insights options are not complete."
There are more settings (https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Logging.ApplicationInsights/ApplicationInsightsLoggerOptions.cs#L28) than is documented here. Eg: SamplingExcludedTypes .
https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#applicationinsights

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-10-16 21:18] MarileeTurscak-MSFT commented on #40863
@jmonticelli can you please link the guide that you are following so that we can better assist?

[2019-10-16 21:18] cijothomas commented on #40896
Also the default for maxTelemetryItemsPerSecond is 20, but document says 5.
(https://github.com/Azure/azure-functions-host/blob/4cc992241998644f70bc6df3154854b04b279394/src/WebJobs.Script/Config/ApplicationInsightsLoggerOptionsSetup.cs#L29)

[2019-10-16 21:20] Adam-Smith-MSFT commented on #40886
@jgurzoni Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-16 21:20] FrankHu-MSFT commented on #40862
Hey @SLeuthold you can find news/information regarding updates for Azure here : https://azure.microsoft.com/en-us/updates/2019/08/

or the blogs section which can be found here : https://azure.microsoft.com/en-us/blog/topics/updates/

If this were to occur you'll find this information at these update endpoints.

As it has not been updated, and the docs have not been updated. This item is still cur

[2019-10-16 21:25] FrankHu-MSFT commented on #40867
Hey @heaps926 thank you for letting us know about this. You'll need to utilize the legacy portal to follow this doc.

In order to use the old portal, please click on app registration (legacy) or look at the top of the blade, and you should see something below. Click on go back and tell us why :

![image](https://user-images.githubusercontent.com/6366013/66960164-c5d1ee00-f020-11e9-8150-e45b37bc6f5

[2019-10-16 21:45] interfacemirror commented on #40827
@Alberto-Vega-MSFT  yes, it seems the same.

[2019-10-16 21:46] chjone opened #40897 "Phone + PIN options"
Under the Phone call settings section, there are a number of voice prompts telling users to enter their PIN, however, there does not seem to be an option to configure Phone + PIN usage using Azure MFA. I know with Azure MFA Server you can configure this, but, am I missing something?

I have a number of customers that can't move to a cloud based MFA until this option is available.

---
#### Documen

[2019-10-16 21:53] markwahl-msft commented on #40862
@SLeuthold Thanks for your feedback.  Azure AD entitlement management is still in public preview; we are just in the middle of updating the admin experiences of some of the features in the Azure Portal.  I expect it will leave preview soon.  To find out more, you can track the status of Azure AD Premium features in [Pricing](https://azure.microsoft.com/en-us/pricing/details/active-directory/)   -

[2019-10-16 22:02] c4rlosmarin opened #40898 "A new LinuxSyslog table is not created every 10 days for syslogEvents"
Please update this article, it's showing that a new LinuxSyslog table is created every 10 days:

"When you specify syslogEvents, LAD always writes data to a table in Azure storage. You can have the same data written to JSON blobs and/or Event Hubs, but you cannot disable storing data to a table. The partitioning behavior for this table is the same as described for performanceCounters. The table na

[2019-10-16 22:09] bwren commented on #39344
Update going out.  #please-close

[2019-10-16 22:09] #39344 closed

[2019-10-16 22:14] FrankHu-MSFT commented on #40871
Hey @Tiagojaduarte  thank you for letting us know about this currently we're making this change so that this doesn't ever happen again. i apologize for the inconvenience and troubles you experienced in regards to this and agree that this should be put into the doc.

I'm currently integrating it accordingly,

@Tiagojaduarte Please let us know if there are anymore questions within the scope of this

[2019-10-16 22:14] MiguelDomingues opened #40899 "What about longer texts?"
Not clear how to handle Text-to-Speech for large texts (&gt;1024 characters)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e351e013-771a-bfdc-0f76-815316c7717d
* Version Independent ID: 8c3a1bbe-196a-13b8-f905-b8ea7bfd0e7a
* Content: [Text-to-speech API reference (REST) - Speech Service - Azure Cognitive Services](htt

[2019-10-16 22:15] FrankHu-MSFT commented on #40891
Hey @Absoblogginlutely as this is looks like a licensing related question i'm currently engaging some more members in regards to this. Thanks for letting us know about this and we will get back to you as soon as possible.

Thanks,
- Frank hu

[2019-10-16 22:20] ajlam commented on #34657
@odin88 - Sorry for the delay. Let me follow- up again with the App Service team.

[2019-10-16 22:24] kgopi05 opened #40900 "How to Import the Az modules into Automation account using PowerShell"
How to Import the Az modules into Automation account using PowerShell ?

For my runbooks , i need the Az.Keyvault and other modules which are in Gallery , i need powershell command to import into automation account . is this possible or GUI is the only option ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 284c2dfa-cf

[2019-10-16 22:25] BryanTrach-MSFT commented on #31165
@dvherk As Cephas shared, there is no formal process to cancel a certificate. If you wish to see about a refund for the certificate, open a free subscription and billing support case in the Azure portal to see if you qualify for a refund/credit. Please note that there is no guarantee of a refund/credit as it's handle on an individual basis. The guidance is to open a support ticket as soon as you r

[2019-10-16 22:27] SaurabhSharma-MSFT commented on #40658
@souuuf We will now proceed to close this thread as it seems that you have an [open issue](https://github.com/Azure-Samples/ms-identity-aspnet-webapp-openidconnect/issues/31) on the sample repository.  If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-10-16 22:27] #40658 closed

[2019-10-16 22:30] MartinJaffer-MSFT commented on #32513
@brtmeyer Data Flow is not currently available in your region.  We hope to make it available soon.

[2019-10-16 22:35] SaurabhSharma-MSFT commented on #40707
@husamhilal No, it is not automatic.  In order to rotate the key encryption key you need to call the  command Set-AzVMDiskEncryptionExtension specifying the new key encryption.  Please refer to
[How do I rotate secrets or encryption keys?](https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption-faq#how-do-i-rotate-secrets-or-encryption-keys)

[2019-10-16 22:37] FrankHu-MSFT commented on #40894
Hey @gladysgit2017 are you sure that is correct? This should be working without the +1, we were able to get the intended behavior to occur without utilizing the 1 in the front.

[2019-10-16 22:44] MicahMcKittrick-MSFT commented on #40898
@c4rlosmarin I was also on the thread you had offline. You are welcome to submit the PR yourself as well.

[2019-10-16 22:48] gladysgit2017 commented on #40894
Is happened to 2 or 3 employees today, then they added the 1 and it worked
Let me try with more employees and I will let you know

Gladys aguilera | Information Programs Analyst
DAL Global Services  | 980 Virginia Avenue, Atlanta, GA 30354
Direct: 404-714-6085
Connect with us: Twitter<https://twitter.com/deltaglobal> |  LinkedIn<https://www.linkedin.com/company-beta/389402/> | Facebook<https://www

[2019-10-16 22:57] lmawarid commented on #39607
Hi @josiahlaivins, this might be a problem with the Python SDK. In the logs above, the request string `p1="http://imageuploader:11002/hellotha?restype=container"` looks malformed, it should be `p1="http://imageuploader:11002/<account name>/hellotha?restype=container"`. This is used to generate the signature string, so the authentication errors are likely a result of that.

I was able to reproduce

[2019-10-16 23:02] DixitArora-MSFT commented on #40896
Hi @cijothomas Thanks for your feedback. We will review and update as appropriate.

[2019-10-16 23:03] MicahMcKittrick-MSFT commented on #40898
Closing as we can work on this offline.

[2019-10-16 23:03] #40898 closed

[2019-10-16 23:03] lnalepa commented on #40303
Redirect URIs that were previously registered (whether with wildcards, with http schemes, or with query parameters) will continue to work. Applications will not break with this change.

[2019-10-16 23:03] DBtheDBA commented on #39400
This article is still out of date.  Also can't determine what or where the syslogs are going and if the "facilities" are configured correctly.  Please spend some effort on the syslog docs.

[2019-10-16 23:04] MicahMcKittrick-MSFT commented on #40655
#reassign @msangapu-msft

@msangapu-msft please do not unassign yourself without assigning the new owner you are listed as the author of this doc.

[2019-10-16 23:06] DixitArora-MSFT commented on #40874
Hi @lhale Thanks for your feedback. We will review and update as appropriate.

[2019-10-16 23:06] MicahMcKittrick-MSFT commented on #40885
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-10-16 23:06] lnalepa commented on #40303
This doc has more details about redirect URI limitations: https://docs.microsoft.com/en-us/azure/active-directory/develop/reply-url

[2019-10-16 23:16] MarileeTurscak-MSFT commented on #40864
@scottcun
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-16 23:17] MarileeTurscak-MSFT commented on #40865
@clineer
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-16 23:23] Mutilar opened #40901 "404 Link for ADO.NET"
The link for "Additional Resources" for "C#": "Microsoft ADO.NET for SQL Server" returns a 404 when going to the following page: "https://docs.microsoft.com/sql/connect/ado-net/microsoft-ado-net-for-sql-server"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02a4f57d-539b-2bb3-81c2-0fb0668b4a3f
* Version Independent ID:

[2019-10-16 23:29] Alberto-Vega-MSFT commented on #40869
@banderson501 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-16 23:32] #40468 closed

[2019-10-16 23:34] kobulloc-MSFT commented on #40877
@jlmace Would you mind giving me a little more information about your repro?  I was able to see the detach option in both of the paths outlined in the documentation:

1) Lab Resource > VM > Settings / Disks > Data Disks / AttachedDataDiskName > Detach

![image](https://user-images.githubusercontent.com/37556655/66966430-0be37d80-f032-11e9-99c2-e4b4bd5310c1.png)

2) Lab Resource > My Lab / My data

[2019-10-16 23:39] dcbrown16 opened #40902 "OS disk limits"
There is a warning that the OS disk can't be greater than 2TB on the OS disk expansion instructions.
"The new size should be greater than the existing disk size. The maximum allowed is 2048 GB for OS disks. (It is possible to expand the VHD blob beyond that size, but the OS will only be able to work with the first 2048 GB of space.)"
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/

[2019-10-16 23:44] nstubing opened #40903 "Speech SDK Dictate Punctuation"
Changing the output format on the SDK does not change the output at all.  You can choose between different punctuation on the REST app but it would be helpful on the SDK since we are creating apps that utilize both.

It would also be nice to be able to change how dates are formatted ("March 10th 1983" ->03/10/1983 or 03 March 1983 etc.)

I wrote functions to handle both of these by switching a set

[2019-10-16 23:46] brucedkyle opened #40904 "How do I specify a new region?"
I am planning on moving services between clouds. For example from Azure enterprise cloud to Azure Gov cloud. How do I specify the destination region or will the move operation assume a region? For example, I may want to move from WestUS to Gov Virginia region.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8332259c-1d3

[2019-10-16 23:50] dcbrown16 commented on #40902
Found confirmation that it applies to managed and unmanaged data disks here.
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/faq-for-disks#new-disk-sizes-managed-and-unmanaged
I'm not sure how you want to format that, but please add the OS disk-specific restriction to the managed and unmanaged limits.

[2019-10-16 23:55] jmonticelli commented on #40863
https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-python-twin-getstarted
Hope this helps, have a great day!

[2019-10-16 23:55] SgtSpamCan commented on #40374
The steps are:
1) Have an azure App service
2) Go to the "App Service Logs" blade in the portal for your app service
3) Change any setting and click "Save"

Your app service will restart.  If this is a live production service, that
will cause it to become unresponsive while it reboots, which may be the
opposite effect of what you're trying to do.
In my case, we were suffering from some unknown mal

[2019-10-16 23:56] SgtSpamCan commented on #40374
You can re-open this issue now.  I just took 2 days off, I've just
responded to your email asking for repro steps.

On Mon, Oct 14, 2019 at 9:07 PM DashleenBhandari-MSFT <
notifications@github.com> wrote:

[2019-10-16 23:58] mike-urnun-msft commented on #40865
Thanks for sharing this, @clineer! Could you also share a screenshot of your Logic Apps workflow or WDL for us repro?

[2019-10-17 00:01] clineer commented on #40865
Yes I can get a repro for you. Basically though it works off the shapes in a scope shape. Some shapes in. The scope return a status field but some do not. Like a for each returns status but a flat file decoder does not always returns status but an array instead.

Thanks,
Ben

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Mike Urnun <notifications@github.com>
Sen

[2019-10-17 00:04] Tanharuki commented on #40833
Thank you so much..That is helpful !

[2019-10-17 00:17] tamram commented on #30396
@antgonmir @c240amg @gusgallows - Please let us know if you have further questions.

#please-close

[2019-10-17 00:17] #30396 closed

[2019-10-17 00:22] msangapu-msft commented on #40655
Hi @MicahMcKittrick-MSFT I spoke to Ryan internally. He's going to assign to engineering team. Please let him own the issue. Thanks!

[2019-10-17 00:35] Tanharuki commented on #40833
but in Japannese web site,The new informaiton is not added now...you can check the site below
https://docs.microsoft.com/ja-jp/azure/availability-zones/az-overview

[2019-10-17 00:36] MicahMcKittrick-MSFT commented on #40833
It takes a while for the repos in other languages to replicate. They all replicate off the en-us repo.  Give it a couple days and if you still don't see it let me know.

[2019-10-17 00:43] femsulu commented on #40900
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-10-17 00:47] femsulu commented on #40902
Thanks @dcbrown16 . adding @rothja to review and make requested edits.

[2019-10-17 00:49] femsulu commented on #40904
@brucedkyle Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-10-17 01:03] tamram commented on #38639
@jensf @CawaMS - Since this ask is tracked as noted above, I am closing this documentation issue.

#please-close

[2019-10-17 01:03] #38639 closed

[2019-10-17 01:03] jgwinner commented on #39759
Hi folks. Any updates for me?

        == John ==

[2019-10-17 01:07] DBtheDBA opened #40906 "Example for syslog-ng.conf is udp here, when oms config is tcp"
I finally got the data flowing, but not without several pain points.  One issue was your example specs udp for the syslog-ng.conf, whereas my omsagent.d/syslog.conf file specified tcp as it was installed.  Might want to flag this so others don't have the same issue.  This yields the error "syslog-ng[xxxxx]: I/O error occurred while writing;" if improperly configured.

---
#### Document Details

⚠

[2019-10-17 01:07] jiahuachoo opened #40907 "Saas Fulfilment Webhook Id is not a GUID"
With reference to https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/pc-saas-fulfillment-api-v2#implementing-a-webhook-on-the-saas-service, the expected payload received by Webhooks is defined as:
{
  "id": "<this is a GUID operation id, you can call operations API with this to get status>",
  "activityId": "<this is a Guid correlation id>",
  "subscriptionId": "<Guid to uniq

[2019-10-17 01:15] KingdomOfEnds commented on #40869
Hi @banderson501 - Thanks for the great feedback! I've gone ahead and updated the document to improve clarity - particularly in **Step 4** here: https://docs.microsoft.com/azure/time-series-insights/tutorial-create-populate-tsi-environment#create-an-environment. Presently, the **Review + Create** button or the **Next: Event Source** button will progress you to the next tab (**Event Source**) but i

[2019-10-17 01:44] NavtejSaini-MSFT commented on #40901
@Mutilar We will check this and get back to you.

[2019-10-17 01:45] SubhashVasarapu-MSFT commented on #40761
@SamirFarhat , I am wondering if you had a chance to look over my previous reply. Let me know if you have any query or input for us or if we good to close this issue.

[2019-10-17 01:49] SubhashVasarapu-MSFT commented on #40680
@Leejung168 , I trust you are doing great!I haven’t heard back from you on this Issue. I understand that you might be busy on other high priority tasks at your end. It would be really helpful for us if you provide the right document link for updating the document accordingly.

[2019-10-17 01:54] tamram commented on #29896
#reassign: @roygara

@roygara - Can you take a look at this one?

[2019-10-17 01:59] tamram commented on #25157
#reassign: @mhopkins-msft

[2019-10-17 01:59] tamram commented on #24363
#reassign: @roygara

[2019-10-17 02:02] tamram commented on #21080
@automationbk - Please let us know if you have any further problems.

#please-close

[2019-10-17 02:02] #21080 closed

[2019-10-17 02:03] tamram commented on #13151
#reassign: @normesta

[2019-10-17 02:04] tamram commented on #12590
#reassign: @roygara

[2019-10-17 02:05] tamram commented on #11486
#reassign: @roygara

[2019-10-17 02:26] KrishnaG-MSFT commented on #40906
@DBtheDBA Thanks for the feedback. Could you please share the Azure document link / URL for which this feedback is applicable to ?

[2019-10-17 02:30] KrishnaG-MSFT commented on #40884
@pmossel Hope you have self resolved the issue and hence closed it. Thanks for the update. If there are further / any questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2019-10-17 02:58] brianmrush opened #40908 "Exception when trying to Add Option"
At runtime I am receiving the following exception when trying to implement

            builder.Services.AddOptions&lt;MyOptions&gt;()
                .Configure&lt;IConfiguration&gt;((settings, configuration) =&gt;
                {
                    configuration.Bind(settings);
                });

Microsoft.Azure.WebJobs.Extensions.Storage: Method not found: 'System.String Microsoft.Extensio

[2019-10-17 03:26] TBDub opened #40909 "Port 5671 still required"
I installed the latest agent version, however, port 5671 was getting blocked by our firewall & was still required.

Note that port 5671 is no longer required for the latest version of agent. Upgrade to the latest version so only port 443 is required

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb5cf254-9d8e-de7a-30e8

[2019-10-17 03:27] renbud opened #40910 "Examples would help"
It would be good to clarify with more examples

Its not clear how to actually reference the "property" syntax
SELECT * FROM c WHERE IS_DEFINED(c.property)

An example to check for the presence of the country property in the document
SELECT * FROM c WHERE IS_DEFINED(c.country)
or is it
SELECT * FROM c WHERE IS_DEFINED(c.locations/*/country)

---
#### Document Details

⚠ *Do not edit this section. I

[2019-10-17 03:32] msrini-MSFT commented on #40895
@hammer5280 , Thank you for your feedback. I will work internally to get this added in the FAQ.

[2019-10-17 03:32] #40895 closed

[2019-10-17 03:41] msrini-MSFT commented on #40845
@aelij , I will go ahead and close this issue. Please tag me if you have any further questions.

[2019-10-17 03:41] #40845 closed

[2019-10-17 03:51] msrini-MSFT commented on #40829
@MacCarron , Do you have any update on this issue?

[2019-10-17 04:00] applegfbf opened #40911 "Joint position"
Are the joint positions represented in "depth camera 3D" coordinate system?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfd96838-87c8-c27e-f8ee-a2db651ba463
* Version Independent ID: ab4d754c-e83f-7d20-cd8c-690033684406
* Content: [Azure Kinect body tracking joints](https://docs.microsoft.com/en-us/azure/kinect-dk/b

[2019-10-17 04:15] neeleshray-msft commented on #40909
@TBDub Thank you for your feedback. We will check and update on it soon.

[2019-10-17 04:16] neeleshray-msft commented on #40897
@chjone  Thank you for your query. We will check and update on it.

[2019-10-17 04:19] ram-msft commented on #40899
@MiguelDomingues Thanks for the question. We are investigating the issue and will update you shortly.

[2019-10-17 04:31] SnehaAgrawal-MSFT commented on #40883
@steamwings Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-17 04:34] jakaruna-MSFT commented on #40673
@TimLovellSmith is there any update

[2019-10-17 04:38] jakaruna-MSFT commented on #40475
Thanks for you reply.
May be we can add a note to this doc.
I will reach out to the author and let the author decide what to do about this.

[2019-10-17 04:38] #40475 closed

[2019-10-17 04:39] jakaruna-MSFT commented on #40457
@lilixu-ny Sorry for the delay.
I will assign this issue to the author to update the document.

[2019-10-17 04:40] jloudon commented on #40314
Any update on this? Noted there is an open idea posted on feedback as well; https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/37249627-support-3rd-party-mfa-tokens-with-nps-extension-fo

[2019-10-17 04:46] jakaruna-MSFT commented on #39330
Added an issue in jenkins https://issues.jenkins-ci.org/browse/JENKINS-59814

[2019-10-17 04:47] jakaruna-MSFT commented on #39330
I am Closing this issue and we can track the progress from the jenkins issues . Please feel free to open a new one if you face any issues.

[2019-10-17 04:47] #39330 closed

[2019-10-17 04:49] jakaruna-MSFT commented on #38349
@slime-uk Thanks for sharing the  solution which worked for you

[2019-10-17 04:49] #38349 closed

[2019-10-17 04:55] RohitMungi-MSFT commented on #40903
@nstubing Could you please let us know the Azure docs documentation link that you are using before facing the above problem? This would help us redirect you to the right team.

[2019-10-17 04:56] mitchellalm commented on #39330
That's fine but you have any update when the feature will be implemented?

[2019-10-17 05:14] alaendle commented on #40520
@formulahendry To reproduce an error just connect the azureiotedge-simulated-temperature-sensor to the input of the c example module. After some messages you should see inconsistent JSON messages printed out by the c module - or even a segmentation fault.

[2019-10-17 05:17] RohitMungi-MSFT commented on #40748
@tturn02 We will now proceed to close this thread. Please try to create a new resource and check if it deploys successfully.

[2019-10-17 05:18] #40748 closed

[2019-10-17 05:20] RohitMungi-MSFT commented on #40824
@mcbelton We will now proceed to close this thread as this is an issue is not related to Azure docs documentation. Please raise an issue with VS support as mentioned above for further help.

[2019-10-17 05:20] CHEEKATLAPRADEEP-MSFT commented on #40887
@ToddBowman This is by design. 1M is the hard limit of output size.

[2019-10-17 05:20] #40824 closed

[2019-10-17 05:21] KalyanChanumolu-MSFT commented on #40910
Thank you for the feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-10-17 05:29] harika-thallam commented on #40674
@bwren any update around this?

[2019-10-17 05:31] RohitMungi-MSFT commented on #40889
@vladkasianenko Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-10-17 05:42] KrishnaG-MSFT commented on #40682
@prabhakarreddy1234 At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2019-10-17 05:42] #40682 closed

[2019-10-17 05:54] GadepalliAditya1998 commented on #29169
Is there any issue occuring when added to a project that's has android x. Iam actually adding to my flutter project and when i try to run, it says "gradle assembleDebug failed with error code 1"

[2019-10-17 06:04] Tanharuki commented on #40833
OK,got it ..Thank you very much!

[2019-10-17 06:07] frehnejc opened #40915 "Resizing Disk"
It is not clear in this document that the destination Disks can be resized before failover. Resizing the disk after failover is the only option available where there is downtime as the VM needs to be deallocated. Can this be explained for others to understand these limitations?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-10-17 06:16] rehantahir commented on #40578
@souravmishra-msft - reminder to kindly answer above question. Thanks

[2019-10-17 06:26] nullaware commented on #21926
This still seems to be a problem and I can't find a resolution. I have tried:
[code]

With that I get the error:

Any suggestions about what else might work?

[2019-10-17 06:29] KalyanChanumolu-MSFT commented on #40578
@rehantahir This issue is being assigned to the content author to confirm and evaluate if the documentation needs to be updated appropriately.

[2019-10-17 06:31] RohitMungi-MSFT commented on #40837
@diberry I am able to replicate this scenario and the service does return the intent Utilities.ReadAloud as the top scoring intent.
![image](https://user-images.githubusercontent.com/46958063/66983011-2ae71b80-f0d5-11e9-928c-095e0eb7115a.png)

If we modify the utterance to something like "I want to cancel my trip to Seattle" the service does return Utilities.Cancel as the top scoring intent.
![ima

[2019-10-17 06:32] niteshrestha commented on #40778
I think ASP.NET Core docs is a better place if you are new to it and trying to create a web app, this document explains how you can then take your existing asp.net core app and deploy it in Azure App Service on Linux.

On the topic of port on localhost:5000 if you used .NET Core CLI as mentioned in the article to deploy the app using dotnet run it will deploy on port 5000 for http and 5001 for htt

[2019-10-17 06:32] abdulSparSA commented on #33766
ah yes! thanks @kevball2

[2019-10-17 06:55] ggailey777 commented on #40527
@MicrosoftDocs/azure-cxp-triage please reopen this issue.

[2019-10-17 06:56] wolfma61 commented on #40859
@Chreschtf - we received your email, we will contact you directly on your email account (and we will fix the email-problem you experienced)

[2019-10-17 07:03] marcelkmfst commented on #40872
It´s not describing which are the ports used by the Service Tags.

It just says AzureCloud and GatewayManager. But opening AzureCloud would mean ALL traffic from all azure public IPs to the subnet is allowed.

Von: TravisCragg-MSFT <notifications@github.com>
Gesendet: Mittwoch, 16. Oktober 2019 22:02
An: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Marcel Keller <Marcel.Keller@micr

[2019-10-17 07:06] ggailey777 commented on #40527
#reassign:ggailey777

[2019-10-17 07:20] HenkPoley commented on #26248
Little script for ubuntu(/Debian?) derived distros:

[code]

[2019-10-17 07:25] HenkPoley opened #40918 "Little time synchronization provisioning script for Ubuntu derived distros"
Little script for ubuntu/Debian(?) derived distros for provisioning a machine:

[code]

Could be nice to mention in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f5e6687-3b97-7f25-5e7b-91265764c816
* Version Independent ID: d3f3b17a-a25b-656b-314f-25002c5d5f9f
* Content: [Time sync for Linux VMs in

[2019-10-17 08:06] memildin commented on #40812
@rotemlurie please can you confirm the specific permissions required so that I can update the doc.

[2019-10-17 08:19] ishepherd opened #40921 "Is Azure App Service support on the roadmap?"
We are interested in whether we can create "internal" App Service microservices that cannot be accessed from the internet.

Today they have public App Service frontends at .azurewebsites.net. The App Service frontend does support Access Restrictions based on static IP/VNET, but they are only enforced after the connection is already made. To get an outer perimeter of security, will we be able to bl

[2019-10-17 08:25] smartpcr opened #40922 "aks rbac with aad user and group"
When I use objectid for aad group in clusterrolebinding or upn for aad user, the role binding works. However, when I use objectid for aad user, it doesn't work.

Please make the behavior consistent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84495e76-eca6-ddc9-989f-01c844aaa29d
* Version Independent ID: de2a46f6-59

[2019-10-17 08:29] AJAnujsharma opened #40923 "(Logic App)File System - When a file is added or modified (properties only) - Issue with the trigger"
Hi Team,
I m facing issue with this trigger

I have a trigger When a file is added or modified (properties only) by setting max file count as 6 and in the next step its a email notification if i copy 6 files in the folder it sends email 6 seprate times but i just want to trigger once if the maximum 6 files are copied.

Please assist me on this

Anuj

[2019-10-17 08:30] AJAnujsharma opened #40924 "(Logic App)File System - When a file is added or modified (properties only) - Issue with the trigger"
Bug - We cannot parameterzie the file path and max file count in this trigger

Updating with details from #40923:
"_https://docs.microsoft.com/en-us/connectors/filesystem/

Above is the link you refer - When a file is added or modified (properties only)

Currently issue is like - If i have 6 max count file to be placed in on prem system path it is triggering my nextstep 6 times parallel. I'm excut

[2019-10-17 08:36] neeleshray-msft commented on #40909
@zhiweiwangmsft Could this be verified ?

[2019-10-17 08:40] MarileeTurscak-MSFT commented on #40870
@anderseide
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-17 08:47] MarileeTurscak-MSFT commented on #40870
Thanks @anderseide . I made a pull request to add this note. https://github.com/MicrosoftDocs/azure-docs-pr/pull/92166

[2019-10-17 08:47] #40870 closed

[2019-10-17 08:55] SwathiDhanwada-MSFT commented on #40907
@jiahuachoo Thanks for the comment. We are actively looking into it. We will update you soon.

[2019-10-17 08:56] SwathiDhanwada-MSFT commented on #40915
@frehnejc Thanks for the comment. We are actively looking into it. We will update you soon.

[2019-10-17 08:59] PramodValavala-MSFT commented on #40652
@SogoGolf Just following up here... Hope my previous comment resolves your issue.

[2019-10-17 09:06] hemantaltair commented on #37727
Hi, any update on that?

[2019-10-17 09:07] DixitArora-MSFT commented on #40908
Hi @brianmrush This channel is for driving improvements towards MS Docs, If you have any other question specific to product , it would be best if you can create the product issue to the official Azure [Functions Repo](https://github.com/Azure/Azure-Functions/issues) for better clarity.

[2019-10-17 09:12] JS-Jake opened #40925 "Update management and Availability Sets/Zones"
Hello,
Does Azure Update Management take into account VMs that are in different update domains via an availability set or zone? Ie. If we have a schedule set to restart always which is applied to 2 VMs in separate availability zones, will they both reboot at the same time?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-10-17 09:40] SwathiDhanwada-MSFT commented on #40907
@qianw211 Can you please review this?

[2019-10-17 09:41] SwathiDhanwada-MSFT commented on #40749
@MGoedtel  can you please provide your inputs on this?

[2019-10-17 09:43] Cm1602 opened #40927 "API Authorization still not available"
I am still denied access to the api after following all of these steps on this page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 469d2731-66dd-4490-89bd-4a36f893e7be
* Version Independent ID: 11f4ae00-d1e9-1355-a0c3-2435f90b17d8
* Content: [Tutorial - Grant access to an ASP.NET web API - Azure Active Directory B2C](h

[2019-10-17 09:48] SadiqhAhmed-MSFT commented on #40915
@frehnejc The information about resizing disk after failover is covered in the [FAQ link](https://docs.microsoft.com/en-us/azure/site-recovery/vmware-azure-common-questions#can-i-resize-the-azure-vm-after-failover) for VMware to Azure replication. I would like to understand what specific details you want us to add to the documentation.

FYI - An [older conversation on this topic](https://github.co

[2019-10-17 09:51] dev9998 opened #40928 "Controller"
Hi,
if changing in the controller the query to
"SELECT * FROM c WHERE c.description =@description"
what other changes need to be implemented to work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8d9b842-de22-59e7-e36a-662e2060ae7a
* Version Independent ID: bda934c5-a268-721f-1a3e-1f73fc25c15f
* Content: [ASP.NET Cor

[2019-10-17 09:52] SripadaBhargav commented on #40842
Hi Team,
My query was regarding azure managed key rotation, not about customer managed key. As mentioned earlier, I would want to know the frequency of key rotation and also how decryption of old data is taken care of.
https://docs.microsoft.com/en-us/azure/storage/common/storage-service-encryption#about-encryption-key-management

Bhargav Sripada
Technical Lead, App Platform Eng Cloud
Kony, Inc.

[2019-10-17 09:53] RohitMungi-MSFT commented on #40852
@nithishk Based on the error you mentioned it looks like an error from your endpoint service rather than a command issue with "az ml service run"
Please check if the endpoint is healthy and the implementation of the model used for this service. Also, are you using get_log() along with the command or is it a typo? Please correct the same and try to re-run.

[2019-10-17 09:54] dev9998 commented on #40928
Hi,
if changing in the controller the query to
"SELECT * FROM c WHERE c.description =@description"
what other changes need to be implemented to work?

[2019-10-17 10:12] PramodValavala-MSFT commented on #39659
@markdebruijne Sorry for the long wait. I've checked with the team and can confirm that this is a known issue which is planned for the next release.

I will share an update on this page once I have more details.

Since there is no doc update required here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly con

[2019-10-17 10:12] #39659 closed

[2019-10-17 10:19] ishepherd commented on #40921
I found my answer on the [blog post](https://azure.microsoft.com/en-us/blog/announcing-azure-private-link/)

[2019-10-17 10:19] #40921 closed

[2019-10-17 10:33] jakaruna-MSFT commented on #40918
@HenkPoley Thanks for the feedback.

@cynthn Can you validate the request

[2019-10-17 10:34] SadiqhAhmed-MSFT commented on #40844
@jochenvanwylick Check the status of replication by clicking on Replicating servers in Azure Migrate: Server Migration. If replication job ran successfully and if you're unable to click test migrated servers do a refresh and see if it allows you to do test migration by clicking the tab 'test migrated server'. Appreciate if you could share the screenshot of the portal showing 'Test migrated servers

[2019-10-17 10:37] dev9998 commented on #40928
Hi,
ref. asp.net core mvc with azure cosmos db using .NET SDK
Controller

if change the Controller by adding
  [ActionName("Select")]
        public async Task<IActionResult> IndexS()
        {
            return View(await _cosmosDbService.GetItemsAsync("SELECT * FROM c WHERE c.task=@task"));
        }

expecting more than 1 result what other changes to be implemented besides the changes in the v

[2019-10-17 10:42] collinstevens commented on #25912
In case anyone else stumbles upon this issue, I tried using the above host.json configuration and it did not work. I was not only not seeing any trace logs in the monitor tab at all, but I was also missing function invocation rows entirely from the monitor tab.
[code]

I found the configuration documentation for the host.json file [here](https://docs.microsoft.com/en-us/azure/azure-functions/funct

[2019-10-17 10:54] ephraimlambarte opened #40930 "Graph Database"
I dont see this option in creating Graphs for gremlin api database.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf261de8-a6fa-9497-ffff-106550e2a537
* Version Independent ID: ee0468ba-1b3b-6ba4-d9f6-c60da3e7c486
* Content: [Use unique keys in Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/unique-k

[2019-10-17 10:58] jochenvw commented on #40844
Hi @SadiqhAhmed-MSFT , so I was able to work around it no problem, it's just that the instructions say that the line should be clickable, but it's not.

I'm a couple of steps ahead now, and migrated the servers. Now you can see the 'replicating servers' are 0 and that removes the hyperlink to that overview. As soon as the number is higher than 1, the line is clickable, but at 0 it's not.
And so ri

[2019-10-17 11:05] mlearned commented on #40843
@VikasPullagura-MSFT  all of the traffic for this doc is egress , thus it is the outbound port here.  So technically "source" traffic from AKS on outbound port.

[2019-10-17 11:07] SteveSmith16384 commented on #34451
I finally got mine to work by using PORT instead of WEBSITES_PORT.  Still, only about a day wasted.  Why is this issue closed when it's still a big issue?

[2019-10-17 11:09] MoiMoiDG opened #40931 "Migration to .NET Core 3.0 needed"
Hi,

Thanks for the great quickstart!

The current version is not compatible with .NET Core 3.0. I fixed it by applying the "Use MVC without Endpoint Routing" corrections indicated in
https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-2.2&tabs=visual-studio#update-routing-startup-code

You could update the documentation correspondingly. Thanks!

BR,
MoiMoiDG

---
####

[2019-10-17 11:11] rasmuschristensen opened #40932 "swagger file is important"
Would be great with a note to ensure you remember the swagger information to avoid guid names
https://stackoverflow.com/questions/55958393/how-can-i-import-azure-api-app-in-azure-api-management

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 574b6ae8-8902-fbee-d4a3-f819701b777a
* Version Independent ID: 7e4b8d50-2281-02

[2019-10-17 11:22] LaughingJohn opened #40933 "This is confusing!"
With the id token you show a request for response_type "id_token" only and a response for "id_token+token" but the response contains an access token but no id token! When I attempt to use "id_token+token" I then get an error that says "Resource Identifier is not provided"!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-10-17 11:27] cephalin commented on #40778
@ajt2018 This tutorial is not a VS tutorial. Make sure you install .NET Core **SDK** 2.2 from https://dotnet.microsoft.com/download/dotnet-core/2.2. I've modified the prerequisites section to clarify this requirement. It should be published sometime today.

In addition to what @niteshrestha mentioned, these tutorials are designed to work if you follow the steps as-is, such as port numbers and such

[2019-10-17 11:27] #40778 closed

[2019-10-17 11:41] marwa-ahmad opened #40934 "In Azure AppInsights; queries; requests how could I see the request body in case of a post method?"

[2019-10-17 11:42] VikasPullagura-MSFT commented on #40843
@mlearned Thanks for your comment.

[2019-10-17 11:45] AjayKumar-MSFT commented on #40921
@ishepherd, Yes, as mentioned in the blog, it's on the Roadmap. Thanks for the update. You may keep a watch on the blog for new updates on this topic.

[2019-10-17 11:47] VikasPullagura-MSFT commented on #40843
@olileger Please check comment from doc author, It is source port.
This is an egress document, so all ports are outbound.
I am closing the issue for now.

[2019-10-17 11:47] #40843 closed

[2019-10-17 12:05] cephalin commented on #12032
@ericnewton76 @colwin @SkyaTura  Based on https://social.msdn.microsoft.com/Forums/azure/en-US/eb02563c-a72f-4607-acf7-4f428b054219/app-service-backup-sharing-violation-backup-exclude-filter-partially-succeeded-restore the Backup feature doesn't support the wildcard pattern. Only specific files supported. Sorry. Please feel free to file your feature suggestions at https://feedback.azure.com/forums

[2019-10-17 12:05] #12032 closed

[2019-10-17 12:11] samrueby opened #40935 "Give hint on how to connect with non-default port"
SSMS uses comma to separate host from port instead of colon, which is common in other software like web browsers. Advanced options in SSMS don't help the user use the custom port. The error isn't immediately obvious when you attempt to connect to host:port in SSMS. It would be helpful to show that the correct syntax is yourhost.database.windows.net,3342

---
#### Document Details

⚠ *Do not edit t

[2019-10-17 12:12] Ofer-Gal commented on #40647
Install-Module -Name AzureRM -AllowClobber  did it.
Thank you

[2019-10-17 12:12] #40647 closed

[2019-10-17 12:14] noalt opened #40936 "Altretya test Service Role"
We have "Altretya test Service Role" as a BuiltInRole in all of our subscriptions. Seems like something which should not be there. :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99581afb-7950-6daa-7227-055d04446b7e
* Version Independent ID: f1a5bf89-9e54-aede-3a9a-70788a95927b
* Content: [Built-in roles for Azure re

[2019-10-17 12:19] CHEEKATLAPRADEEP-MSFT commented on #40848
@neilp-snow Thanks for the feedback!  Your feedback  has been shared with the content owner for further review.

[2019-10-17 12:28] cephalin commented on #13927
Sorry for the delay. Opened https://github.com/projectkudu/kudu/issues/3060 to add the information to https://github.com/projectkudu/kudu/wiki/Configurable-settings. The information isn't appropriate here because it doesn't have anything to do with mapping custom domains.

#please-close

[2019-10-17 12:28] #13927 closed

[2019-10-17 12:32] MoiMoiDG opened #40937 "Configuration vs. Feature Management"
Hi,

how/why do you distinguish between configuration key-value pairs and feature flags? The latter might be seen as a subset of the first group (i.e. just boolean values). Indeed, in the current service implementation, a feature flag appears in the Configuration Explorer too.
Is there support for dynamic feature flags equivalent to "Tutorial: Use dynamic configuration in an ASP.NET Core app"?

Th

[2019-10-17 12:39] PieterHeemeryck opened #40938 "Form Recognizer: .NET SDK Analyze method error"
I'm getting the following error when using the analyze method of the SDK:

`AnalyzeResult result = await _formRecognizerClient.AnalyzeWithCustomModelAsync(new Guid(modelId), stream, contentType: "application/pdf");`

In case of HTML form data, the multipart request must contain a document with a media type of - 'application/pdf', 'image/jpeg' or 'image/png'.

Error code: UnsupportedMediaType
Statu

[2019-10-17 12:43] ChrisOwczarek opened #40939 "Pipeline triggers parameters cannot be specified of type "Expression""
Is the below excerpt correct? It does not seem possible (through UI) nor necessary to set the parameter type to "Expression" if I use an expression that requires evaluation, e.g. "@trigger().startTime" - this will still evaluate correctly?

 "pipelines": [
            {
                "pipelineReference": {
                    "type": "PipelineReference",
                    "referenceName": "&lt

[2019-10-17 12:49] jfalameda opened #40940 "Debugging is not enabled on any VM in the cluster"
Hi,

I am following the article to try to debug an error only happening on production. I do get the following error: Debugging is not enabled on any VM in the cluster.

Is there anything I am missing?

Kind Regards,
José.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8adfa1c-0bb9-c112-3463-0d655a3e7cd1
* Version Inde

[2019-10-17 13:09] curtand commented on #39198
Hi @ali-hamud
The 300K figure is verified. I don’t own the pricing page and will try to find out who does. Thanks for the info!!

[2019-10-17 13:13] cconcordet commented on #40856
The document we have been following is this one : [https://github.com/Azure/azure-functions-python-worker/issues/493](azure-functions-python-worker/issues/493)

[2019-10-17 13:18] MonikaReddy-MSFT commented on #40721
@ccompy , Did you get a chance to go through the above request from the user?

[2019-10-17 13:19] sajithvasu opened #40941 "Backend Authentication certificate issue"
Currently we are seeing issues with app gateway backend going unhealthy due to backend auth cert. Our current setup includes app gateway v1 SKU integrated with app services having custom domain enabled. We have private key .pfx issued by CA uploaded to app services and its public certificate .cer file uploaded to app gateway backend authentication as mentioned in this document. We have this setup

[2019-10-17 13:20] PingPongSet opened #40942 "Examples of Reacting to events and Filtering events"
Can anyone please provide example of these, ideally including code example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d651422-3de2-d399-d863-030abc4ce6ed
* Version Independent ID: a46bd7ed-cb90-7a85-63bc-d079ae78d9b6
* Content: [Reacting to Azure Blob storage events](https://docs.microsoft.com/en-us/azure/storage

[2019-10-17 13:21] Naverick46 opened #40943 "Is this article applicable for Linux Containers?"
I'd like to get a confirmation whether this article is applicable for Linux Contains running on ASEs (using linux ASPs)?  The instructions to check the certificate (dir cert:\localmachine\root) are specifically for windows web apps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f3a8caa-796a-18ab-480c-161e6c806782
* V

[2019-10-17 13:22] MonikaReddy-MSFT commented on #40931
Hello @MoiMoiDG ,
Thanks for brining this to our attention. We will investigate it further and update it shortly.

[2019-10-17 13:26] PingPongSet opened #40944 "How to use etag and sequencer"
Can anyone please elaborate on how to use both etag and sequencer like below?

Any code example provided would be appreciated.

"As messages can arrive out of order and after some delay, use the etag fields to understand if your information about objects is still up-to-date. Also, use the sequencer fields to understand the order of events on any particular object."

---
#### Document Details

⚠ *D

[2019-10-17 13:29] MonikaReddy-MSFT commented on #40937
@MoiMoiDG ,
Thanks for reaching out to us. We will investigate it further and update you shortly.

[2019-10-17 13:30] DeanGross opened #40945 "Stale accounts"
MS has release guidance that we should stop using password expiration policies, yet there is an alert above which is generated when an account has not recently had its password changed. Please explain this inconsistency or remove this type of alert

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a8ae82f-6d28-7186-da5a-

[2019-10-17 13:31] DBtheDBA commented on #40906
Sorry, I just have just added it to the feedback on the page itself.  Don't know why I put it here:
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-sources-syslog

[2019-10-17 13:33] MGoedtel commented on #40749
@davejdyer - It is my understanding that for OM 2019, it includes the updated Log Analytics MP, which supports the new Azure authentication API and should have no issue connecting to Azure Monitor Logs (i.e. Log Analytics).  If you are having an issue, I would recommend opening a support case.  If you have an earlier version of Operations Manager, then you would need to download the updated MP per

[2019-10-17 13:33] #40749 closed

[2019-10-17 13:42] DanniJuhl opened #40946 "Include a paragraph or two on Lighthouse"
With the introduction of Lighthouse, it could be beneficial to extend this documentation with that solution option as well, as it's a lot smoother overall than an architecture like the described here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b70bc73-e0ce-a558-bf66-c02577859f3e
* Version Independent ID: 1d80eb59-

[2019-10-17 13:43] skille opened #40947 "Downloadable .CSV file"
Please create an option to download this table as an .CSV file.
It sucks to create it manually from this page.

---
#### Dokumentinformasjon

⚠ *Ikke rediger denne delen. Den kreves for koblingen docs.microsoft.com ➟ GitHub-problem.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product names and service plan identifiers for

[2019-10-17 13:51] MonikaReddy-MSFT commented on #40931
@MoiMoiDG - I'm going to assign this to the document author so they can update the document accordingly.

[2019-10-17 13:51] ekpgh commented on #40516
I figured out what happened here - somehow one of my browser tabs had a en-gb locale instead of en-us. So that made the date display in the other order.

[2019-10-17 13:53] nunocenteno opened #40948 "Create page with list of services that support Azure AAD Authentication"
If someone wants to know what is the list of services that currently support Azure AAD AuthN, we need go into all Azure services documentation pages and understand if they support AAD AuthN or not.

I think it must exist some page, maybe under the Azure AD documentation, that compiles all this information, including if possible what's GA, what's Preview, what's in Roadmap, if totally supported or

[2019-10-17 13:57] jackiejaiau opened #40949 "When is VNet integration GA?"
When is VNet integration GA?

[2019-10-17 13:57] rothja commented on #40902
@dcbrown16 Thank you for this feedback, and your request makes sense. I'm going to forward this issue to one of our content leads for the virtual machines space to evaluate. @cynthn can you please help with this issue? Thank you! #reassign:cynthn

[2019-10-17 14:05] brianmrush commented on #40908
Fair enough.  Just wanted to add this note to this article because following these instructions with with a BlobTrigger raises the issue.  I opened question in Azure Functions repo as well.

Thanks

[2019-10-17 14:08] PingPongSet opened #40950 "More info on Read-efficient"
The two points below seem the same to me, which says to use both PartitionKey and RowKey. Please corret me if I am wrong.

"
Specify both PartitionKey and RowKey in your queries. Point queries such as these are the most efficient table service queries.

Use compound key values. The only keys you have are PartitionKey and RowKey. For example, use compound key values to enable alternate keyed access

[2019-10-17 14:23] iravii commented on #40767
@MarileeTurscak-MSFT Any luck on this to get this done ?

[2019-10-17 14:23] Larryngolog opened #40951 "Limitations of Office 365 with UPN mismatch (altID)"
Hi! This article links to the following article https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/operations/configuring-alternate-login-id, which states that Alt ID is supported only for ADFS. Are all limitations to O365 workloads related to Alt ID with ADFS the same as for PHS with SSO?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-10-17 14:31] lichasu opened #40952 "error in BackEndApplication.java."
@cecm9113 commented on [Wed Oct 16 2019](https://github.com/MicrosoftDocs/azure-docs.es-es/issues/685)

when I put the connection string in the project "BackEndApplication.java", it generate the next error:

Calling direct method...
Exception in thread "main" java.lang.IllegalArgumentException: SharedAccessKeyName cannot be null or empty
	at com.microsoft.azure.sdk.iot.service.IotHubConnectionStri

[2019-10-17 14:31] lichasu commented on #40952
Hi team, please check this issue

Thanks!

[2019-10-17 14:36] DBtheDBA opened #40953 "Example for syslog-ng.conf is udp here, when oms config is tcp"
I finally got the data flowing, but not without several pain points. One issue was your example specs udp for the syslog-ng.conf, whereas my omsagent.d/syslog.conf file specified tcp as it was installed. Might want to flag this so others don't have the same issue. This yields the error "syslog-ng[xxxxx]: I/O error occurred while writing;" if improperly configured.

---
#### Document Details

⚠ *Do

[2019-10-17 14:37] cconcordet commented on #40857
Here is the documentation I followed on how to create a VM Notebook :
https://docs.microsoft.com/en-us/azure/machine-learning/service/tutorial-1st-experiment-sdk-setup

I was wondering if it is possible to share the VM with other people from my resource group

[2019-10-17 14:50] ram-msft commented on #40686
@rastala Could you please help on this.

[2019-10-17 14:50] jsandersrocks opened #40954 "Clarify that in environments with Firewalls (ASE) you do not necessarily need access to www.powershellgallery.com"
Clarify that in environments with Firewalls (ASE) you do not necessarily need access to www.powershellgallery.com.

It was not create to me and a customer that in a locked down environment you may not need to white list this.  The customer can either turnoff managedDependency in the host.json file  by turning the required property to false as documented.

---
#### Document Details

⚠ *Do not edit

[2019-10-17 14:52] DaveZimmermann commented on #24219
Hi
Switzerland is still missing - could you please update that?

[2019-10-17 14:53] Djongov opened #40955 "Not Found for source Resource Group"
Hi there,

No matter which scenario i am trying, it is throwing Not Found for source resource group.  I even tried something like this to get the resource group automatically:

$sourceappname = gladiatus
$sourceRG = Web-App-RG
$getsourceRGname = Get-AzResourceGroup -Name $sourceRG
$sourceRGname = $getsourceRGname.ResourceGroupName
$srcapp = Get-AzWebApp -ResourceGroupName $sourceRGname -Name $sour

[2019-10-17 14:58] fantinis commented on #39777
Hi, @MartinJaffer-MSFT  any news regarding this issue?
If is useful I think this behavior is present since 2019-09-27

[2019-10-17 15:06] NavtejSaini-MSFT commented on #40930
@ephraimlambarte We are checking and will get back to you.

[2019-10-17 15:07] NavtejSaini-MSFT commented on #40935
@samrueby Thanks for the feedback. We are checking this.

[2019-10-17 15:18] GiftA-MSFT commented on #40859
@Chreschtf hope this helps. Please let me know if you have further questions, otherwise, we'll proceed to close this thread. Thanks.

[2019-10-17 15:30] merthsoft commented on #38035
The linked PR 404s and I can't find PR#91516. It would be helpful if the actual answer were in this thread as well.

[2019-10-17 15:30] Chreschtf commented on #40859
No everything is fine, thanks!

[2019-10-17 15:30] #40859 closed

[2019-10-17 15:39] MicahMcKittrick-MSFT commented on #40940
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-17 15:40] akempe commented on #40427
I've got the same question/issue. Surely this was a considered use-case? I understand preventing mapping to the same domain to multiple sites within the same app service (because of binding issues), but it should definitely be possible across different app services. There is no rational reason to prevent the duplicate assignment. The server should bind accordingly and accept the requests based on

[2019-10-17 15:40] glteache opened #40956 "Update Steps under Step 2"
There is no longer a need to delete the VM to get access to the disks of a VM. The steps should reflect making a snapshot of the disk and then using that snapshot for the work to be done. In case any edits make the problems worse, they always have the original to go back to and try again. Also, with the OS Disk Swap API in Azure portal it makes it simple to swap in the new disk now.

---
#### Docu

[2019-10-17 15:40] MicahMcKittrick-MSFT commented on #40949
@jackiejaiau please provide us with the link to the documentation you are referring to so we can better assist.

[2019-10-17 15:43] souravmishra-msft commented on #40083
@jgwinner, I did some research and I stumbled upon this URL :[https://docs.microsoft.com/en-us/onedrive/use-silent-account-configuration](url).
This article speaks about **Silent Sync Account configuration for One Drive**.  If you enable this feature, OneDrive.exe will attempt to sign in to the work or school account on the device that's joined to Azure AD. This feature requires the machines to be

[2019-10-17 15:43] yobyot opened #40957 "Only half a document"
This page ends with this sentence, "For more information on this important process."

There's no link to more information about "this important process." This is poor documentation and of no help in educating a user or helping, as in my case, debug a failed automatic provisioning issue in a Gallery App.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-10-17 15:44] robtextrequest commented on #40427
As of now, my best guess will require downtime. I'm planning on the following:
1. Set the DNS TTL for our A record and CNAME records to something as short as possible, such as a minute.
2. Unbind the custom domain name from the old Azure Web App. This will now break things.
3. Update the DNS entry for the A record to point to the new Azure Web App instance.
4. Bind the domain name to the new Azure

[2019-10-17 15:45] souravmishra-msft commented on #40236
@Soqotra91, I apologize for the delay in my response, But the issue you mentioned would need some troubleshooting and for that, I would recommend creating a support ticket with us so that we can help you better.
In case you face difficulties in creating a support ticket, do let us know so that we can help you with that.

[2019-10-17 15:46] yobyot opened #40958 "Link for "Amazon Web Services (AWS) Console - Role Provisioning" does not link to role provisioning"
Link for "Amazon Web Services (AWS) Console - Role Provisioning" does not link to role provisioning in the AWS Gallery App.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20d4589b-e1a8-b9d0-76e6-4d3619100353
* Version Independent ID: b929de0a-4f82-8799-aadc-f7075e443310
* Content: [SaaS App Integration Tutorials for us

[2019-10-17 15:46] souravmishra-msft commented on #40004
@cdandrea , We are closing this thread for now. Feel free to reopen this thread in case you need further help on this.

[2019-10-17 15:46] #40004 closed

[2019-10-17 15:48] SumanthMarigowda-MSFT commented on #40547
@waysidefarm I was able to repro the issue and able to upload the images

az group create --name myResourceGroups**m --location southeastasia

blobStorageAccount=newblobsu**test

az storage account create --name $blobStorageAccount --location southeastasia --resource-group myResourceGroupsubm --sku Standard_LRS --kind blobstorage --access-tier hot

blobStorageAccountKey=$(az storage account keys l

[2019-10-17 15:48] #40547 closed

[2019-10-17 15:51] akempe commented on #40427
I'm in the middle of this nightmare. Everything started out ok migration from a VERY old appservice that didn't seem to mind having the same DNS bound to multiple app services (one old and one new). But I've now hit a snag where I have a newer app service migrating to a new app service and that's failing.

Don't forget in your steps above to have your SSL certs / scripts ready too (inevitably you'

[2019-10-17 15:58] cpajr opened #40960 "Incorrect configuration for Syslog-ng"
Under the section for Syslog-ng configuration, it incorrectly is sending the redirected syslogs via TCP; instead, it should be sent via UDP.  The following would be the correct configuration code:

sudo bash -c "printf 'filter f_local4_oms { facility(local4); };\n destination security_oms { **udp**(\"127.0.0.1\" port(25226)); };\n log { source(src); filter(f_local4_oms); destination(security_oms);

[2019-10-17 15:59] patrickjlee opened #40961 "The code samples don't currently work with a Dot NET Core 3.0 client, please provide a sample for DOT NET Core 3.0?"
The sample https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/4-WebApp-your-API  works with .net CORE 2.2, but not with .net CORE 3.0. Please show how to amend ti to work with that. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15a27a6a-864a-a37e-e3fd-714f01ba7102
*

[2019-10-17 16:03] cpajr opened #40962 "Incorrect configuration for Syslog-ng"
The configuration for Syslog-ng is incorrect.  The configuration attempts to send redirected sylogs via TCP; instead, it should be done via UDP.  The agent is configured to only listen on UDP 25226.  The following is the correct configuration:

sudo bash -c "printf 'filter f_local4_oms { facility(local4); };\n destination security_oms { **udp**(\"127.0.0.1\" port(25226)); };\n log { source(src); f

[2019-10-17 16:04] cconcordet commented on #40589
Thanks this worked out fine, but I still have an issue with the xgboost package that is being followed here : [(https://github.com/MicrosoftDocs/azure-docs/issues/40856)](https://github.com/MicrosoftDocs/azure-docs/issues/40856)

[2019-10-17 16:06] cephalin commented on #40427
Others have reported a limitation that two apps in the same scale unit can't have the same custom domain name. Check the webspaces for your apps to make sure they're different. You can find the webspace by looking at the domain name of the FTP URL (`<webspace>.ftp.azurewebsites.windows.net`).

[2019-10-17 16:25] ToddBowman commented on #40887
Are there any plans to increase that limit?  1M seems like a very low limit by today's data standards.  Any suggested workarounds in the meantime?

[2019-10-17 16:29] MicahMcKittrick-MSFT commented on #40922
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-17 16:30] akempe commented on #40427
@cephalin thanks! Even though I used a different RG, the lottery picked the same scale unit. I’m going to try create another temp app service plan in another region and do a double switch. Will comment here with outcome.

[2019-10-17 16:36] mike-urnun-msft commented on #40932
@rasmuschristensen Thank you for your feedback! We will review and update as appropriate.

[2019-10-17 16:37] mike-urnun-msft commented on #40954
@jsandersrocks Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-10-17 16:38] jeevansd commented on #40958
@v-viinde and @v-nagta Please fix this.
CC: @chetansriv

[2019-10-17 16:38] djpmsft commented on #40939
Have you tried using a string type instead of an expresssion. For example:
[code]

[2019-10-17 16:41] 0x53A opened #40963 "Please update cert-manager to v0.11.0"
The whole eco system is moving fast, so it is a lot of work just to keep up.
Please update especially cert-manager, but also other dependencies, to their latest versions so that newly created clusters aren't already way out of date.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12009c1f-282d-2632-fac0-64b09c432833
* V

[2019-10-17 16:46] MicahMcKittrick-MSFT commented on #40963
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-17 16:50] NavtejSaini-MSFT commented on #40930
@ephraimlambarte Currently the Unique Keys are not available for Graph. Please check this [UserVoice ](https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/32213521-unique-indexes-on-graph-vertex-edge-properties)entry and try to up vote and add your elaborate comment on what exactly you are looking for. Hope this helps.

[2019-10-17 16:51] MicahMcKittrick-MSFT commented on #40940
@jfalameda are you debugging a local cluster or one hosted in Azure?

[2019-10-17 16:53] MicahMcKittrick-MSFT commented on #40922
@smartpcr is this a document related enhancement or a product related one? If product, please leave feedback here instead: https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks

[2019-10-17 16:54] NavtejSaini-MSFT commented on #40935
@samrueby The screenshot in the document does show the same. Also the portal will also give the syntax in the Azure portal connection string.

[2019-10-17 16:54] Alberto-Vega-MSFT commented on #40911
@applegfbf Thanks for reaching out. Would you please open an issue with your question on the SDK repository https://github.com/microsoft/Azure-Kinect-Sensor-SDK

[2019-10-17 16:54] jmprieur commented on #40961
Thanks for the feedback, @patrickjlee
This is on our backlog. https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/issues/191

Any contribution accepted, BTW :)

[2019-10-17 16:55] MicahMcKittrick-MSFT commented on #40963
@0x53A I will assign to the content author to review this.

Also adding @MicrosoftDocs/aks-pm for their thoughts

[2019-10-17 16:55] MicahMcKittrick-MSFT commented on #40074
@rajurh just FYI, I am still working offline on this :)

[2019-10-17 16:58] hammer5280 commented on #40895
Thanks.  Ideally there needs to be an error message in the UI so folks are not wondering what's going on when the association hangs.

[2019-10-17 17:05] samrueby commented on #40935
Thanks. I think what is confusing is that the screenshot shows the same syntax in the connection string for ADO.NET, however SSMS (SQL Server Management Studio) is not ADO.NET, so for users trying to learn how to connect using SSMS don't immediately know the same syntax is used there.

[2019-10-17 17:06] #40511 closed

[2019-10-17 17:06] #40320 closed

[2019-10-17 17:12] plzm opened #40965 "The pages "Best practices" and "Boundary Security" in the ToC both point to the same URL"
The pages "Best practices" and "Boundary Security" in the ToC both point to the same URL, https://docs.microsoft.com/en-us/azure/security/fundamentals/network-best-practices. Is this deliberate?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 717a6836-b2f3-25ea-2402-7ec154f49c08
* Version Independent ID: 02e0ab21-e358-9

[2019-10-17 17:15] DBtheDBA opened #40966 "OMS Agent changes syslog.conf on reboot, changes listener"
Installed agent in a custom image, and am finding that I'm chasing oms listener port configuration changes being done by the package/agent.  Default was 25224, but moved to 25226 on a VM reboot.  Agent rotated configuration back to 25224 after I changed the syslog-ng config to match and rebooted again.

Log forwarding works if I manually change the syslog-ng to match what the oms agents sets itsel

[2019-10-17 17:17] ChrisOwczarek commented on #40939
Thanks Daniel,

Yes I eventually worked out that you only need to make the parameter a string type and then it gets evaluated.

If the ‘Expression’ type is not required to force evaluation why does the documentation specify it? The behaviour seems different here to other parameters where you have to use "dynamic content" to specify an expression that requires evaluation.

Cheers, Chris.

[2019-10-17 17:23] Alberto-Vega-MSFT commented on #40952
@cecm9113 Looking at the error is an issue with the the service connection string. SharedAccessKeyName is part of the service connection string:

HostName={YourIoTHubName}.azure-devices.net;**SharedAccessKeyName**=service;SharedAccessKey={YourSharedAccessKey}

The service connection string is different from the device connection string. Can you confirm that you are using the right one?

[2019-10-17 17:23] milesgratz commented on #33795
Has anyone been able to successfully deploy **Azure AD Connect Health with AD FS** on Server 2019? I am getting a reproducible cryptographic unhandled exception on fresh installs of Server 2019 (fully patched) in various environments with the current version of AdHealthAdfsAgentSetup (3.1.58.0). This behavior doesn't exist on AD FS 2016. I've also tried importing the default AD FS 2016 cipher suit

[2019-10-17 17:23] TerryLanfear commented on #40965
@plzm - Thank you for your question. They are redundant links. The Boundary security link will be deleted today.

[2019-10-17 17:29] MarileeTurscak-MSFT commented on #40923
@AJAnujsharma
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-17 17:33] RyanHill-MSFT commented on #40943
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-17 17:35] ashjain commented on #40861
Changing the session to full screen from the control palette reconnects the sessions to restore it to full resolution (we will be integrating with display channel going forward so reconnect won't be required).  This re-establishes the RDP session and this should not close the running applications.   Are you sure you are see that the running applications are getting closed?

are you resizing using

[2019-10-17 17:38] FrankHu-MSFT commented on #40927
@Cm1602 Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-17 17:38] FrankHu-MSFT commented on #40933
@LaughingJohn Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-17 17:38] FrankHu-MSFT commented on #40936
@noalt Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-17 17:38] FrankHu-MSFT commented on #40945
@DeanGross Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-17 17:38] FrankHu-MSFT commented on #40947
@skille Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-17 17:38] FrankHu-MSFT commented on #40948
@nunocenteno Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-17 17:39] FrankHu-MSFT commented on #40951
@Larryngolog Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-17 17:39] FrankHu-MSFT commented on #40957
@yobyot Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-17 17:45] athinanthny commented on #12255
#reassing @khandelwalbrijesh please review

[2019-10-17 17:46] athinanthny commented on #12255
#reassign @khandelwalbrijesh  please review this doc issue related to POA

[2019-10-17 17:47] FrankHu-MSFT commented on #40936
Hey @noalt thank you so much for letting us know about this, we are currently investigating and will resolve the issue accordingly.

@noalt Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please file a new git issue with a reference to this one if you have anymore concerns. Thanks

[2019-10-17 17:53] amotley commented on #40285
Thank you for the information - appreciate it!

[2019-10-17 17:54] MarileeTurscak-MSFT commented on #40924
@AJAnujsharma please provide a link to the document that you are following so that we can better assist you.

[2019-10-17 17:59] MarileeTurscak-MSFT commented on #40925
@JS-Jake
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-17 17:59] FrankHu-MSFT commented on #40945
Hey @deangross can you clarify by what you mean in regards to "an alert above which is generated when an account has not recently had it's password changed"

Are you referring to an alert that is occurring in the azure security center portal?

[2019-10-17 18:00] banisadr commented on #40826
I don't believe it is available. @axisc are there any plans to add support?

(It would make me very happy :))

[2019-10-17 18:03] FrankHu-MSFT commented on #40947
Hey @skille thanks for letting us know your thoughts in regards to this.

As this is a product feedback, please file it against the feedback section which can be found by clicking the link and then clicking the button dette produktet
https://docs.microsoft.com/nb-no/azure/active-directory/users-groups-roles/licensing-service-plan-reference#next-steps

![image](https://user-images.githubusercontent

[2019-10-17 18:04] MicrosoftGuyJFlo commented on #40891
Microsoft 365 Business does not include the full benefits of Azure AD Premium P1. It includes a subset of features. The custom banned password list is not one of the features included.

[2019-10-17 18:04] SeanFeldman commented on #40826
It would make **everyone** happy.
![image](https://user-images.githubusercontent.com/1309622/67035135-4b63a580-f0d6-11e9-8a50-c7a4344d630f.png)

[2019-10-17 18:07] djpmsft commented on #40939
Where in the documentation does it specify that? If that is the case, we will take action to fix it. And I understand triggers have a different behavior, we will work to improve both the UX and documentation.

If there are no other concerns, may I close this issue?

[2019-10-17 18:07] msangapu-msft commented on #40655
@marckassay Thank you for the comments. This is good feedback for the Portal UX team to review. Btw, Multi-container is still in-preview so some things may change over time.

[2019-10-17 18:17] CharmanderJieniJieni commented on #38699
I am having same question and it is still not clear for me. Does VM OS disk use managed disks which has SSE by default? If so why is additional encryption needed?
I see this statement in the doc "Virtual disks on Windows VMs are encrypted at rest by using BitLocker." Does it mean BitLocker encryption is already there or we need to do that?

[2019-10-17 18:24] JFolberth opened #40968 "Latest version of App Service API not used in examples"
Per https://docs.microsoft.com/en-us/azure/templates/microsoft.web/allversions should the API version be 2018-11-01?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f57d3177-ce9e-ebfa-03a7-45beb8ca3212
* Version Independent ID: a59df23d-f3ac-9809-61d3-5741e31f020a
* Content: [Managed identities overview - Azure App Serv

[2019-10-17 18:26] TimLovellSmith commented on #40673
@jakaruna-MSFT
I’m more interested in ways I *could* get some kind of predictable scheme - if they exist, and we're doing overprovision false, FWIW. Any options?

Also, is the port mapping supposed to be stable over time? Or can it change?

[2019-10-17 18:31] FrankHu-MSFT commented on #40957
Hey @yobyot i understand the frustration in regards to reading difficult to read documents and i apologize for the inconvenience, you are right there are some issues with this doc and we are currently looking over them to fix them accordingly.

Thanks for letting us know about this!

Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out

[2019-10-17 18:37] roygara commented on #38348
@forester123 Sorry for the delay, they've gotten back to me.

It seems like this image is a result of the publishers not wanting to have separate Gen1/Gen2 images. So they formulated their images to support both UEFI and BIOS boot. In Ubuntu's case, this change was made a year and a half ago, so it seems to be working.

This is kind of a special setup where the image is GPT-partitioned but also ha

[2019-10-17 18:50] tiwari-abhishek commented on #38772
That is the best way. Put App Gateway in the front of everything, be it your web applications or APIM or APIs (when you dont have APIM).

[2019-10-17 18:56] jgwinner opened #40969 "Steps to resolve needs clarification"
The document says this:
To resolve this issue do one of the following:

    Remove the Azure AD account (owner) from all admin roles.
    Hard Delete the Quarantined object in the cloud.
    The next sync cycle will take care of soft-matching the on-premise user to the cloud account (since the cloud user is now no longer a global GA).
    Restore the role memberships for the owner.

I think the ph

[2019-10-17 18:57] dirq opened #40970 "AddApplicationInsights deprecated - use AddApplicationInsightsWebJobs"
Code in https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-get-started#add-application-insights-logging needs to be updated to use AddApplicationInsightsWebJobs for Core 3

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e9e1a8a-6284-a230-061e-7cb27258571a
* Version Independent ID: 43390e30-04d6-6d4e-018e-21

[2019-10-17 19:03] SaurabhSharma-MSFT commented on #40704
@arcotek-ltd We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-10-17 19:03] #40704 closed

[2019-10-17 19:03] mahoekst opened #40971 "The V2 token sample is wrong"
The issuer and the tid claim don't allign. This is never a valid token.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0cace34-34bf-32f7-c857-e4d71d535a77
* Version Independent ID: cdbbc4ae-5894-da21-42d7-928b3674bbd1
* Content: [Microsoft identity platform ID token reference](https://docs.microsoft.com/en-us/azure/ac

[2019-10-17 19:08] DeanGross commented on #40945
I'm referring to the "Potential stale accounts in a privileged role" alert that is generated in Azure AD PIM.

[2019-10-17 19:08] Nickomang commented on #11637
Thanks for catching this @artisticcheese, we've updated the doc accordingly.

#please-close

[2019-10-17 19:08] #11637 closed

[2019-10-17 19:08] TerryLanfear commented on #40965
This issue is fixed via PR 92228.

#please-close

[2019-10-17 19:08] #40965 closed

[2019-10-17 19:13] jocastel-MSFT commented on #36807
@neodym3k the documentation is accurate, the system should support users coming from domains serviced by OTP and MSA. If you are not seeing this behavior we should follow up and investigate. Drop an email to msiga@microsoft.com and we can look to take a look. Thanks, Joe.

[2019-10-17 19:21] SaurabhSharma-MSFT commented on #40849
@pritub I am not getting any error executing the command in PowerShell.  (See screenshot below)
![image](https://user-images.githubusercontent.com/38112130/67040506-7bac4380-f0d8-11e9-864c-cd2c24c77fa8.png)
Can you please try to executing the whole command as directed in the document.  Also, what is the powershell version you are using.  Please use $PSVersionTable.PSVersion to check the version.

[2019-10-17 19:24] hpsin commented on #40971
PR is in to fix this.

[2019-10-17 19:27] se7enack commented on #18700
@MicahMcKittrick-MSFT We are trying to setup a HA Cluster and are only able to install the basic SKU when using the helm charts. Is there a way to do this (now) today?

[2019-10-17 19:27] hpsin commented on #34906
It might be worth linking to the spec here for JSON web keys instead of asking the developer to figure it out themselves.  https://tools.ietf.org/html/rfc7517

[2019-10-17 19:28] josiahlaivins opened #40972 "HostConfig Mounts: Settings not Updating"
As pointed out in https://stackoverflow.com/a/56414070/4577212, if a volume is host mounted (HostConfig) and associated with a container, the settings become set / unchanging.

The current solution to this is to delete the container, delete the volume, then allow for everything to rebuild. **Does IoT edge do anything to streamline this?**

For example:
[code]
I might want to change the volume user

[2019-10-17 19:31] josiahlaivins commented on #39607
Ah, interesting I will look into downgrading to see if this fixes the problem.

[2019-10-17 19:45] kshitijdholakia opened #40973 "Usage Details API - time zone of startTime and endTime parameters"
Hello,

What is the expected timezone of the date being passed via the startTime and endTime parameters?
For example if a client in UTC where the current date is 10-17-2019 sends a request with startTime and endTime as 10-17-2019, but if the server is using EDT where the date has not changed and the date is still 10-16-2019, then the report returned will not contain any data.

Can you clarify what

[2019-10-17 19:46] FrankHu-MSFT commented on #40927
@cm1602 Denied access to what API? localhost:44332.

Did you properly follow step # 8 :
For App ID URI, enter the identifier used for your web API. The full identifier URI including the domain is generated for you. For example, https://contosotenant.onmicrosoft.com/api.

Or steps below:
For SCOPE, enter demo.read, and for DESCRIPTION, enter Read access to the web API.
For SCOPE, enter demo.write,

[2019-10-17 19:48] cynthn commented on #38699
#reassign @msmbaldwin

[2019-10-17 19:50] swagulkarni opened #40974 "Azure function premium plan"
Hi,

What is the expected date when Azure premium plan will be GA? Currently its showing in Preview mode.

[2019-10-17 19:56] FrankHu-MSFT commented on #40894
Hey @gladysgit2017 I see, we are currently unable to replicate this behavior.

If you're still having an issue here, please email AzCommunity[at]microsoft[dot]com and I can enable a one time free support ticket.

Please provide your Azure Subscription GUID and a reference to this thread. And hopefully we can get you on the right path again soon. 

Please see : https://blogs.msdn.microsoft.com/msch

[2019-10-17 20:00] jgwinner commented on #39759
So, it happened again. THe blasted thing persists in matching on Proxy Address, which for a tenant on O365, **WILL NEVER WORK**

Office 365 insists on a multiple value proxy address, per the above.

How can you ever match a single value to a multiple value? This is really basic.

So I did the whole setup again with my primary client.I wasn't getting any answers from MS and needed to move forward.

[2019-10-17 20:03] gladysgit2017 commented on #40894
Yes, thanks
I just had another employee telling they used the phone number without the 1 and never got a code , I just told them to add it and I am waiting
Also some people add dashes as well..is a little bit a back and forth communication with them and it is time
But I will double check and let you know

Thanks so much

Gladys aguilera | Information Programs Analyst
DAL Global Services  | 980 Vir

[2019-10-17 20:08] DBtheDBA commented on #39400
I found this page to be slightly better for some of the configuration required, but still has gaps:  https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-sources-syslog

[2019-10-17 20:10] Adam-Smith-MSFT commented on #40950
@PingPongSet Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-17 20:11] Adam-Smith-MSFT commented on #40944
@PingPongSet Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-17 20:12] Adam-Smith-MSFT commented on #40942
@PingPongSet Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-17 20:15] Adam-Smith-MSFT commented on #40280
@TsuyoshiUshio I just got feedback from the product team:

The keys that we provide are Base64 encoded byte arrays, so you need to be prepared to deal with that output…
https://en.wikipedia.org/wiki/Base64

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-10-17 20:15] #40280 closed

[2019-10-17 20:21] SidShetye commented on #34870
Why is the information in this ticket not in the actual documentation? This is the exact issue we had until we dug deeper when trying to open a new issue.

[2019-10-17 20:24] Adam-Smith-MSFT commented on #40881
@lhale  Did the provided  answer help ?

Thanks,
Adam

[2019-10-17 20:24] patrickjlee opened #40975 "I think this whole process is still far too complex/lengthy and needs to be simplified"
I know security is complex, but the process should be made as easy as possible for developers to use it.  Trying to change an existing ASP.NET or .net core website to be able to call a webapi secured by Azure Active Directory using the examples shown is far from a ten minute job, and involves many steps.

Regarding "Working with identity doesn’t have to be hard. Choose a scenario that applies to y

[2019-10-17 20:28] MarileeTurscak-MSFT commented on #40928
@dev9998 please provide a link to the document that you are following so that we can better assist you.

[2019-10-17 20:29] cecm9113 commented on #40952
Hi

I discover that I am not using the true connection, I was using the
connection the iot device.   We can close the issue, sorry!

Thank you for your help

Regards

Carlos E. Castro M.

El jue., 17 oct. 2019 a las 12:23, Alberto Vega (<notifications@github.com>)
escribió:

[2019-10-17 20:40] msangapu-msft commented on #36178
@Poctob It's been updated. Thanks for your help.

#please-close

[2019-10-17 20:40] #36178 closed

[2019-10-17 20:45] VanMSFT commented on #38035
@merthsoft - That's a private PR, and you won't be able to view it. The updated article will be published later today with new images.

[2019-10-17 20:45] JFolberth commented on #38843
Don't forget if doing this to also update the dependsOn to include a reference to vaults/accessPolicies that your MSI is in. Otherwise this may not get set in the correct order.

[2019-10-17 20:48] DBtheDBA commented on #40966
Looking into this further in your code, I'm unsure how looking for the next open port would ever work against the statically configured port in the syslog-ng configuration file.  I'm unsure if the netstat evaluation you are performing in the find_available_port function is effectively detecting an existing configuration at boot:

configure_syslog()
{
    echo "Configure syslog..."
    find_availab

[2019-10-17 20:49] JFolberth commented on #38843
Ignore my comment above

[2019-10-17 20:49] merthsoft commented on #38035
Fantastic--thanks!

[2019-10-17 21:01] TravisCragg-MSFT commented on #40941
@sajithvasu I am not aware of any changes that have been made on the App Gateway side that would make this not work.

If you have properly added the certificate, and the backend pool is pointing to the custom domain (not the azurewebsites.net domain), then your best options are to either try the V2 SKU, or open a support request to troubleshoot further. If you do not have a support plan, please le

[2019-10-17 21:07] Neckross commented on #40861
@ashjain - the issue is when resizing the browser window. You can reproduce this on your end, just spin up a VM and connect via Bastion, resize the browser window and you'll see the windows session gets logged off and automatically logged back in, which closes all of your open applications and lose working data.

[2019-10-17 21:11] palma21 commented on #40963
Good feedback, and we should try to make it install from latest always preferably.

CC @zr-msft as well

[2019-10-17 21:16] MarileeTurscak-MSFT commented on #40934
@marwa-ahmad please provide a link to the guide that you are following so that we can better assist you.

[2019-10-17 21:21] TravisCragg-MSFT commented on #40872
@lichasu As is described in the document, it is recommended to only allow outbound connections to the AzureCloud service tag. This means that traffic is not allowed in, but only allowed when the connection is initiated from within the subnet. If you do not care about diagnostic or metering logs, you can block this with your NSG.

[This section of the doc describes the ports that are needed](https:

[2019-10-17 21:22] Absoblogginlutely opened #40977 "Missing steps to enable Multi-Factor Auth Client and Multi-Factor Auth Connector"
We went through all these steps and kept getting the following errors showing up.
NPS Extension for Azure MFA:  CID: 341b704d-03f1-4ba6-ae92-eb19ae2f2bf3 :Exception in Authentication Ext for User myusername :: ErrorCode:: CID :341b704d-03f1-4ba6-ae92-eb19ae2f2bf3 ESTS_TOKEN_ERROR Msg:: Verify the client certificate is properly enrolled in Azure against your tenant and the server can access URL in

[2019-10-17 21:24] MarileeTurscak-MSFT commented on #40938
@PieterHeemeryck is this the document you are following? https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/quickstarts/dotnet-sdk

[2019-10-17 21:28] MarileeTurscak-MSFT commented on #40946
@DanniJuhl
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-17 21:30] MarileeTurscak-MSFT commented on #40960
@cpajr
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-17 21:32] cfmorrell commented on #33674
I'm seeing the same issue.  I've tried 5-6 times this afternoon, all resulting in the same error: "The gateway deployment operation failed due to an intermittent error. Please try again."

[2019-10-17 21:33] jofergus opened #40978 "parallelcp"
Hello,

I am running ubuntu and have installed parallecp.  However I cannot get it to parallelcp a directory to a destination.  For example my error is:
rferguson@rfergD32sv3:~$ parallelcp /home/rferguson/ramdisk /mnt/ramdisk
sed: -e expression #1, char 9: unknown option to `s'
sed: -e expression #1, char 9: unknown option to `s'
rferguson@rfergD32sv3:~$

Any ideas?  Thanks.

---
#### Document Det

[2019-10-17 21:33] msangapu-msft commented on #38966
Hi @townxelliot, the article actually had an area for Supported Configuration options. I moved it above the Docker sample to help with visibility.

#please-close

[2019-10-17 21:33] #38966 closed

[2019-10-17 21:34] MarileeTurscak-MSFT commented on #40960
@cpajr Thanks! I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/92293

[2019-10-17 21:34] #40960 closed

[2019-10-17 21:34] KranthiPakala-MSFT commented on #40662
@thomasjsweet We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please feel free to reopen the issue. We will gladly continue the discussion.

[2019-10-17 21:34] #40662 closed

[2019-10-17 21:36] MarileeTurscak-MSFT commented on #40962
@cpajr
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-17 21:37] MarileeTurscak-MSFT commented on #40962
Thanks! I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/92295

[2019-10-17 21:37] #40962 closed

[2019-10-17 21:40] MarileeTurscak-MSFT commented on #40953
@DBtheDBA
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-17 21:41] MarileeTurscak-MSFT commented on #40955
@Djongov
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-17 21:42] cchambers-cap opened #40979 "Office phone formatting"
This article does a good job of explaining the requirement of needing country code plus a space in front of an office phone number and that extension numbers are stripped. What isn't clear is if the rest of the number can have formatting. For example, is "+1 (123) 555-1212" or "+1 123-555-1212" an acceptable format? or can it only be "+1 1235551212" i.e. no other characters except numbers in the p

[2019-10-17 21:44] SgtSpamCan commented on #39109
+1

[2019-10-17 21:46] himanshusinha-msft commented on #40649
@mahanteshvk : We are closing this issue as we have not heard back from you , you can always re-open the issue if you think that appropriate .

[2019-10-17 21:49] msangapu-msft commented on #39662
Thanks @bruce-solar. The article assumes some knowledge about Docker. I could add a blurb about init.sh, but there's other Docker-specific configurations that we don't detail here as well. We do mention Docker in the pre-reqs, but it doesn't explicitly call out Docker knowledge. Let me think about the best way forward and I'll get back to you.

[2019-10-17 22:13] femsulu commented on #40966
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-10-17 22:13] UmairSyed commented on #16689
@Shell32-Natsu  if I want to use this in ARM template, what api version should i use?

[2019-10-17 22:15] femsulu commented on #40973
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-10-17 22:17] femsulu commented on #40638
@Rajani-Janaki-Ram  - any insights into @y-luis update above?

[2019-10-17 22:23] MarileeTurscak-MSFT commented on #40841
Closing this out as there is no documentation linked. Please open a new issue, or post a thread on MSDN if you'd like to continue the discussion. https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureKeyVault

[2019-10-17 22:23] #40841 closed

[2019-10-17 22:25] MarileeTurscak-MSFT commented on #40687
@adeinde I have reached out to the product team to ask as I'm not sure and couldn't find an option in the tenant.

[2019-10-17 22:34] sajithvasu commented on #40941
@TravisCragg-MSFT : Thanks for responding.. I have Microsoft support ticket #119100924000003 open for this issue for a while  and Microsoft support is saying to use azurewebsites.net certificate at the backend auth cert that's were i am confused.. Using azurewebsites.net defeats the purpose of having our own CA certificate with SNI binding on appservices. We built out new environment last month wh

[2019-10-17 22:34] JefTek opened #40981 "Describe a more descriptive difference of the mechanisms for providing AAD Tenant info for the HAADJ process"
The 2 methods both reference "SCP" which can be confusing for those not familiar with what an SCP is.   The confusion is when removing the directory SCP to provide it by registry key instead (which is not an SCP object)

"Provide Tenant information for the HAADJ process by directory SCP"  vs "Provide Tenant Information for the HAADJ process by computer registry key" would help provide clarity.

--

[2019-10-17 22:37] Alberto-Vega-MSFT commented on #40972
Hi @josiahlaivins Thanks for trying IoT Edge. Would you please post your question on the IoT Edge repository? https://github.com/Azure/iotedge/issues

[2019-10-17 22:40] Shell32-Natsu commented on #16689
@UmairSyed https://docs.microsoft.com/en-us/azure/templates/microsoft.operationalinsights/2015-11-01-preview/workspaces/datasources

[2019-10-17 22:41] christinamorillo opened #40982 "Would be helpful to also point to the WH4B doc on how device registration works (link in description box)"
https://docs.microsoft.com/en-us/windows/security/identity-protection/hello-for-business/hello-how-it-works-device-registration#hybrid-azure-ad-joined-in-federated-environments

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7003ad77-d8b2-ad14-abb6-902a3d8745be
* Version Independent ID: 8cb55c69-27a0-ad42-4f98-ab92db487

[2019-10-17 22:43] MartinJaffer-MSFT commented on #39777
Thank you for the nudge, @fantinis .  I will bump the issue internally again.  Do you have any more recent runs, or triggered runs?

[2019-10-17 22:43] Alberto-Vega-MSFT commented on #40889
@Hi vladkasianenko Thanks for trying Azure Maps. I am not sure if I fully understand your request. Would you please provide more detail?

[2019-10-17 22:46] kgremban commented on #40262
@Alberto-Vega-MSFT I'll take this one for Wes.

@jomalsan Thanks for pointing this out. I'll update the quickstart to remove the cloud shell section and include a minimum python requirement for the IoT Python SDK. Since this is a straightforward update, I'll have GitHub automatically close this issue once my changes are merged. If you have any further questions or concerns, feel free to comment he

[2019-10-17 22:52] jstutson commented on #37377
Further problems with this Timer approach.  User's must be extremely careful to control the number of instances of TokenCredential to the expensive thread and memory cost of Timer().  Why doesn't this just refresh the token reflexively on use rather than constantly having to run as a timer thread in the background.

Furthermore, even if I do try/catch my Timer logic to avoid an full application do

[2019-10-17 22:56] dyaneshwaran commented on #29172
Hi All, Any update on this issue we are getting same error

[2019-10-17 23:06] Alberto-Vega-MSFT commented on #40668
@baatch Thanks for the detailed feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-17 23:07] dcbrown16 commented on #40902
Is it possible to add a note saying "OS disks may be subject to separate limits" and a link to where that is documented, then? I think it would be very helpful if everyone can accurately assess the limits from the doc that purports to list the limits.

[2019-10-17 23:09] walsehgal commented on #40889
@vladkasianenko, thanks for your feedback. The urls are now updated.

[2019-10-17 23:09] axisc commented on #27653
Added here
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-diagnostic-logs

will be available with the next doc update

#please-close

[2019-10-17 23:09] #27653 closed

[2019-10-17 23:10] #40262 closed

[2019-10-17 23:11] axisc commented on #38827
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-diagnostic-logs now contains the details on what operations are logged.

#please-close

[2019-10-17 23:11] #38827 closed

[2019-10-17 23:14] TravisCragg-MSFT commented on #40941
@sajithvasu I would continue to work with the support engineers while they look deeper into your authentication certificate. An issue with your configuration needs to be ruled out first.

[2019-10-17 23:18] sharmaarnav opened #40983 "Can services from one tenant to other tenant migrated?"
First Azure tenant is abc.com and second def.com.
Both have X number of subscriptions and Y number of resources.
If we connect both the AD tenants (B2B) - can resources or resource groups be moved individually or it has to be subscription transfer - what's supported?

Migration would break - vaults, SPN's, RBAC Policies etc, so migrating per resource would be a better option.

This is what I have

[2019-10-17 23:21] klioqc opened #40984 "ttl = 2000 TTL is disabled. The item will never expire. In example #1"
In example #1. Is this a typo, why for ttl = 2000 the item will never expire?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fb9ccc0-c5d5-79aa-420d-1add5370b580
* Version Independent ID: ccd307b6-898c-1e21-1201-1257ae3f0979
* Content: [Expire data in Azure Cosmos DB with Time to Live](https://docs.microsoft.com/en-us/

[2019-10-17 23:21] toddjohnson39 opened #40985 "How to: Enterprise Application Owner"
I can't figure out how to assign this role 'Enterprise Application Owner'. Please provide steps for this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbd0f810-d394-dbb1-67ef-4cd6fb5c2560
* Version Independent ID: e5e33946-6510-cafb-4018-15b201143a7a
* Content: [Understand admin role delegation - Azure Active Directo

[2019-10-17 23:24] PrateekVachher commented on #17648
I am receiving a similar issue. Any ideas on how to solve it?

`Copying file: 'antenv3.6/lib/python3.6/site-packages/azure/common/__pycache__/client_factory.cpython-36.pyc'
Copying file: 'antenv3.6/lib/python3.6/site-packages/azure/common/__pycache__/cloud.cpython-36.pyc'
Omitting next output lines...
Error: ENOENT: no such file or directory, stat '/tmp/zipdeploy/extracted/antenv3.6/lib/python3.6/

[2019-10-17 23:27] toddjohnson39 commented on #40985
Guessing it should be on the Owner tab, however when I go to add an Owner I don't see an option to select the type.

[2019-10-17 23:45] MartinJaffer-MSFT commented on #39777
I heard back, but would like to verify my understanding of the timeline.

Before 9/27 you had many data flows correctly moving files.
From 9/27 all pre-existing data flows stopped moving, and just copied.  This behavior continues now (?)
You created a new flow with similar logic on 10/11, and this one did moves files while the preexisting ones just copied.

Is this correct?

[2019-10-17 23:58] MarileeTurscak-MSFT commented on #40722
Hi @jhueppauff ,

Unfortunately this is not possible. Feel free to leave feedback for this in User Voice, if you would like for this functionality to exist. https://feedback.azure.com/forums/169401-azure-active-directory

[2019-10-17 23:58] #40722 closed

[2019-10-18 00:06] KranthiPakala-MSFT commented on #40696
Hi @djpmsft, could you please assist on this query? - Thanks!

[2019-10-18 00:13] MarileeTurscak-MSFT commented on #40767
@iravii there is a grace period of three days that allows users to skip the registration setup. If the users choose to skip this setup they will be logged in as normal until the grace period is done. After the grace period the users will be forced to enter the information to be able to login.

Hope this helps!

If you have further questions feel free to post to MSDN. The github issues are mainly m

[2019-10-18 00:13] #40767 closed

[2019-10-18 00:14] bwren commented on #40674
It looks like you identified the content that we have available.  You should be able to use the properties in the ARM sample for the request body of the API request, but I don't know of any specific examples that we have for that.  We do have an open work item for a complete set of samples which would presumably include this, but I don't have a specific time estimate on that.