[2020-08-28 05:58] JayaChatterjee-MSFT commented on #58304
@GrzegorzHejman This issue is discussed on #61515 and the issue has been assigned to the author to update the document accordingly. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-28 06:00] VikasPullagura-MSFT commented on #61673
@dcbrown16
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-08-28 06:00] VikasPullagura-MSFT commented on #61673
@tanmaygore
Can you please check and add your comments on this doc update request as applicable.

[2020-08-28 06:02] vsolanki1 commented on #53475
As per MS, WVD DR DOC will be ready by next month but Auzre VM can put in DR with proper replication and can be connected to WVD enviroment.

https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-powershell

[2020-08-28 06:04] SwathiDhanwada-MSFT commented on #61678
@karthiksriramuoa Thanks for your comment. We will review the issue and get back to you shortly

[2020-08-28 06:05] palma21 commented on #61637
They are using nginx where? inside of the cluster?
if yes how are they expose nginx outside of the cluster?
If no, can you clarify?

[2020-08-28 06:08] SwathiDhanwada-MSFT commented on #61677
Thanks for your feedback @sfc-gh-mgilkey.

Assigning to content author @MonicaRush for reviewing the issue.

[2020-08-28 06:11] VikasPullagura-MSFT commented on #61142
@EricRadzikowskiMSFT
Can you please check and add your comments on this doc update request as applicable.

[2020-08-28 06:11] SnehaAgrawal-MSFT commented on #61482
@rachelxj-ms Thanks again for the feedback! We have tried to simplify it here: https://docs.microsoft.com/en-us/azure/app-service/configure-language-nodejs?pivots=platform-windows#set-nodejs-version

The app setting will define what Node.js version to use during Kudu’s build automation. If you only set the package.json, you’ll get the right Node.js version at runtime, but you might get a failure d

[2020-08-28 06:11] #61482 closed

[2020-08-28 06:13] #58304 closed

[2020-08-28 06:15] SnehaAgrawal-MSFT commented on #61468
@rachelxj-ms Thanks again for the feedback! This issue has been addressed [here.](https://github.com/MicrosoftDocs/azure-docs/issues/61482) We have tried to simplify it in the below doc: https://docs.microsoft.com/en-us/azure/app-service/configure-language-nodejs?pivots=platform-windows#set-nodejs-version

We will now proceed to close this thread. If there are further questions regarding this matt

[2020-08-28 06:15] #61468 closed

[2020-08-28 06:18] ddecavele-atos opened #61679 "Missing metadata values OIC Provider"
https://github.com/MicrosoftDocs/azure-docs/issues/35662 has been closed but the promised update of the documentation didn't happen

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cb586f8-c1ff-7676-08b3-915ee00383b0
* Version Independent ID: f1770ad7-7ee4-090b-78f8-85924233b190
* Content: [Define an OpenID Connect tech

[2020-08-28 06:18] PramodValavala-MSFT commented on #61603
@wj109s5 Thanks! I've assigned this to the concerned team for more insights.

[2020-08-28 06:19] megaalc commented on #53475
"As per MS, WVD DR DOC will be ready by next month" - proof ?

[2020-08-28 07:10] tom-blake commented on #20348
Hi @ScottHolden! I'm currently trying to this exact same thing however my subnet exists in a different resource group.

The error I'm getting is:
`The parameter SubnetResourceUri has an invalid value`

[code]

[2020-08-28 07:10] xuegao0112 opened #61682 "The View in log analytcis workspace will expire next month"
Hi Team,

I found the script you provided about the OMS workspace View will be deprecated next month.
Are you going to update the document about the View part like changing it to the new feature Workbook?

![image](https://user-images.githubusercontent.com/66101176/91532268-a3974500-e940-11ea-83fe-ec176f10efff.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-08-28 07:23] #61474 closed

[2020-08-28 07:26] HaberkornJonas commented on #16481
Hi,
any update on this ?

I'm facing the same issue with a postgreSQL container on which I'd like to mount a file share on /var/lib/postgresql/data to persist a small database across multiple container versions but the database doesn't has the permission to use the monted file share.

Here are the logs that are outputed on Azure Container Instance:
[code]
And then the container stops.

I'm also qu

[2020-08-28 07:27] crgarcia12 commented on #60461
I think we should have something like this:

![image](https://user-images.githubusercontent.com/27244028/91533741-b134d680-e910-11ea-9d96-3f23892e27af.png)

[2020-08-28 07:34] GitaraniSharma-MSFT commented on #61524
@mwikstrom , we have engaged the Front Door product team to provide some insights on the actual behaviour of cache expiration and response sharing. We'll get back to you as soon as we have an update from them.

[2020-08-28 07:53] yuemlu commented on #61222
If you want to create a Premium Files share, please follow the guidance [here](https://docs.microsoft.com/en-us/azure/storage/files/storage-how-to-create-premium-fileshare?tabs=azure-portal). We don't support file shares under General Purpose v2 Premium Tier storage accounts.

[2020-08-28 08:06] AnuragSharma-MSFT commented on #61682
@xuegao0112 Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2020-08-28 08:13] shashishailaj commented on #61679
@ddecavele-atos Thank you for pointing this out . We will have this looked into as to why the doc was not updated with the content authors and get this reviewed for further action.

[2020-08-28 08:17] shashishailaj commented on #61674
@pvanroos Thank you for your query. We will investigate and update the thread.

[2020-08-28 08:18] iotalambda opened #61685 "Azure web app cca example has no /public path anywhere"
"Exclusion paths can be configured by selecting Configuration > General Settings and defining an exclusion path. In this example, anything under /public path for your application would not request a client certificate."

Is the example supposed to be the screenshot below this text? If so, the example does not seem to match the description.

---
#### Document Details

⚠ *Do not edit this section. I

[2020-08-28 08:18] shashishailaj commented on #61644
@wolfgz Thank you for your feedback . We will investigate this with the content authors and update the thread.

[2020-08-28 08:19] shashishailaj commented on #61672
@pjirsa Thank you for your feedback . We will investigate and update the thread.

[2020-08-28 08:33] pniederlag opened #61686 "Azure Diagnostics vs. ContainerInsights"
Hi,

could you please clearify the different usage scenarios for using AzureDiagnostics like described in the referred article(https://docs.microsoft.com/en-us/azure/aks/view-master-logs) vs.  ContainerInsights and monitor for containers like described in the following articles:

https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-overview
https://docs.microsoft.com/en

[2020-08-28 08:35] HarithaMaddi-MSFT commented on #61580
@bilak - Thanks for posting the issue, I reproduced and experienced same issue and understood the reason later, was able to fix it. Below are the two points observed and attached the GIF for successful execution using Key Vault.
- When using Key vault option in Linked Service of Storage Account, we have to pass connection string of storage account instead of Account Key alone
- Pipeline Parameters

[2020-08-28 08:46] SnehaAgrawal-MSFT commented on #61685
@iotalambda Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-28 08:51] yuriwoof commented on #60841
any update?

[2020-08-28 08:57] olitomlinson opened #61687 "Possibly incorrect info"
@cgillum

regarding : **trackingStoreConnectionStringName**

"The name of a connection string to use for the History and Instances tables. If not specified, the azureStorageConnectionStringName connection is used."

----

Is this information correct?

I ask because in my `host.json` which is on v2, I have only the following info specified

[code]

I do not have either `trackingStoreConnectionStrin

[2020-08-28 09:10] liudan66 commented on #48720
@Zongrenfeng Thanks for reaching out.
If configuration and platform are not set, empty value, they will be set by default as Debug|AnyCPU.  And the second  PropertyGroup will be displayed with OutputPath. It could be also related to configuration of the Agent you use. Unfortunately, we can't reproduce the issue in our side. Could you please send an email to me?  and we could  find a way to have a

[2020-08-28 09:25] AjayKumar-MSFT commented on #61642
Arpit, Thanks for taking time to share your positive feedback. We really appreciate that!

[2020-08-28 09:29] PramodValavala-MSFT commented on #61687
@olitomlinson Thanks for catching that! The [`azureStorageConnectionStringName`](https://github.com/Azure/azure-functions-durable-extension/blob/v1/src/WebJobs.Extensions.DurableTask/DurableTaskOptions.cs#L112) is for Durable Functions v1.

The equivalent for Durable Functions v2 is [`connectionStringName`](https://github.com/Azure/azure-functions-durable-extension/blob/dev/src/WebJobs.Extensions.

[2020-08-28 09:45] psmanhas commented on #61686
@pniederlag Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2020-08-28 09:50] karthikeyanVK commented on #61632
Thanks for the quick response. I did have the connection string right. I am getting the error in the visual studio while debugging. I am not sure what contributor access I should give for my local environment to debug. My visual studio is logged in with my account and I am the owner/administrator of all resources

[2020-08-28 10:04] levalencia opened #61688 "Several links in this page are broken"
Several links in this page are broken ( or they say forbidden)
The ones starting with review.microsoft

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f10f9c2c-4565-d4b1-2970-bda78d485d22
* Version Independent ID: 986348bf-f987-5d83-b9ee-3f0942188fa0
* Content: [High Availability with Media Services and Video on Demand

[2020-08-28 10:12] JasperCQC commented on #60987
Ah, that makes sense - the double-escaping for JSON then SOLR solves a lot of the mysteries. I'll go away and implement that, and confirm that that works.

[2020-08-28 10:33] camallen opened #61689 "sql to migrate foriegn key omits ON DELETE and ON UPDATE constraint declarations"
The example SQL for enumerating foreign keys omits the `ON UPDATE` and `DELETE` portions of the FK constraint declarations. This results in different FK constraint declarations on the migration target db vs the migration source db.

Specifically the AddQuery portion of the select below `STRING_AGG(concat('ADD CONSTRAINT ', Queries.foreignkey, ' FOREIGN KEY (', column_name, ')', 'REFERENCES ', fore

[2020-08-28 10:37] SnehaAgrawal-MSFT commented on #61688
@levalencia Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-28 12:00] vsolanki1 commented on #53475
I spoke to MS customer service but they are not sure they are just expecting .

[2020-08-28 12:02] carlosonunez commented on #61122
Thank you so much, y’all!

[2020-08-28 12:11] GowthamDisys opened #61690 "Sample Label tool is not recognizing tables in the invoice PDF(Azure Form Recognizer)"
![image](https://user-images.githubusercontent.com/62953969/91559375-96d11c00-e955-11ea-93f6-6fc4b2d44e5b.png)

Here is my sample invoice pdf, I need to tag the table and all its rows and columns. The Sample tool is not recognizing the table. How would I train my model with the table data?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-08-28 12:18] larrywa commented on #61637
They are using Nginx inside the cluster, they are not exposing it outside the cluster, all ILB.

Any routing to do TO the internet, they want to do it own their own.

My point was it seems that every concept that Microsoft has, includes access from the internet, when in fact, a private cluster should be completely private from the outside.

Thanks!

larrywa

From: Jorge Palma <notifications@github

[2020-08-28 12:34] SwathiDhanwada-MSFT commented on #61549
@akhalid111 Thanks for sharing the document. I could see you are using "Microsoft.Azure.Management.Insights.Models.SingleResourceMultipleMetricCriteria" odatatype for dtu_consumption_percent metric where as for storage_percent metric, you are using "Microsoft.Azure.Monitor.SingleResourceMultipleMetricCriteria" odatatype. Kindly use "Microsoft.Azure.Monitor.SingleResourceMultipleMetricCriteria" oda

[2020-08-28 13:03] TwoPatient commented on #61333
From what I can see I have set the HTTP_PROXY and HTTPS_PROXY as environment variables for the azure-blob-storage but it is still not going through the proxy.

edgeHub is successfully going through the proxy with HTTP_PROXY set with same address. Is there anything else to try?

[2020-08-28 13:09] xuegao0112 commented on #61682
By the way, I also found the Azure RM module will be retried in the future, too.

[2020-08-28 13:09] bilak commented on #61580
Ok got it, and is there any way how to parameterize also the keyvault url?
So if I reference keyvault inside AzureBlobStorage linked service, can I somehow set it's url as a parameter or set that url as to be read from global parameter?

[2020-08-28 13:10] vipulsparsh commented on #61525
@singhnishant40 Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@billmath  Can you have a look at this ?

[2020-08-28 13:13] mysunnytime opened #61692 "I hope our document has more "PICTURES""
It will be way faster and way less missleading if the tutorial has more **pictures** like screenshots. Espatially spatial anchor is not like normal Azure cloud api, its users (VR/AR content creators) are more visual oriented. It's more efficient to communicate with visual language.

A good example is from document of MRTK: https://microsoft.github.io/MixedRealityToolkit-Unity/Documentation/Spatial

[2020-08-28 13:14] SwathiDhanwada-MSFT commented on #61365
@indranil-chakraborty-thd From the template you have provided, I could see that the managed identity has contributor access at resource group scope level. That might be the cause of the error you were prompted with. If that not the case, we might need to investigate further to understand the cause of the issue.

![image](https://user-images.githubusercontent.com/48976275/91564264-fdf2ce80-e95d-11e

[2020-08-28 13:28] vandyrodrigues commented on #61661
More detailed steps:
1. Add additional guidance to create an IR and configure to connect to Azure Gov.
If you running a powershell cmdlet make sure you specify **AzureUSGovernment** as the environment.
https://docs.microsoft.com/en-us/azure/azure-government/documentation-government-get-started-connect-with-ps

2.	The endpoints at https://docs.microsoft.com/en-us/azure/data-factory/create-self-host

[2020-08-28 13:29] immeoawt opened #61693 "Copy Specific Blob Version With Copy Blob Operation"
Hi,

Is it possible to copy a specific blob version with the Copy Blob operation? I am using the .NET sdk Azure.Storage.Blobs Version=12.5.1.

When I try to copy with `blobClient.StartCopyFromUriAsync(https://<myaccount>.blob.core.windows.net/<container>/10299?<sasUri>&versionid=2020-08-28T08:59:35.9839650Z)` I get:
One of the query parameters specified in the request URI is not supported.
Request

[2020-08-28 13:39] arvindr9 opened #61695 "Retrieve files from a VM in a disabled subscription"
I had a subscription with an Azure DSVM. However, my subscription was disabled since I ran out of credits.

There are still files remaining in the VM, which I would like to get access to (in order to migrate them potentially to another cloud account such as Azure / AWS). What is a recommended approach to obtain the files (or some subset of the files)?

What I tried:
I am able to go to the disk fro

[2020-08-28 13:40] gstand opened #61696 "Solve misspelling of "domain" in "Create a Windows Server AD environment" script"
The code block in section "Create a Windows Server AD environment" has declared the variable named "$DomaninNetBIOSName" but the AD forest creation uses "$DomainNetBIOSName", therefore ignoring the declared value, using the domain name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d414782-ca68-6008-2e3d-063b2e965be1

[2020-08-28 13:44] mimasisji opened #61697 "Brazil South isn't listed on supported neither unsupported Regions"
Could you please update this document, what about Brazil South DC? https://docs.microsoft.com/en-us/azure/backup/backup-azure-move-recovery-services-vault

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fa66854-15b8-fd3d-bdea-db337fc7419e
* Version Independent ID: 25b34e26-65ec-2095-b332-e06fbb657d7c
* Content: [How to

[2020-08-28 13:49] shashidivak opened #61698 "Incorrect screenshot for service health notifications"
[Enter feedback here]
Hi Team,

Point#2, mentioned about alerts in azure monitor screenshot is incorrect. Also, there is no option to create "Activity log alert" Please check the options once available with current release of Azure monitor.

Thanks,
Shashi

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37d1c7cf-1642-24

[2020-08-28 14:00] vhorne commented on #61551
Done
#please-close

[2020-08-28 14:00] #61551 closed

[2020-08-28 14:04] KrishnaG-MSFT commented on #61698
@shashidivak Thanks for the comment.
Assigning @stephbaron for visibility, review and document enhancement consideration.

[2020-08-28 14:09] SwathiDhanwada-MSFT commented on #61697
Thanks for your comment @mimasisji

Assigning to content author @dcurwin for review.

[2020-08-28 14:11] shivalagarwal opened #61700 "Backup retention"
Referencing this "These backup items remain active in the system adhering to the backup and retention policy set by the user. The backed-up data for these Azure VMs will be retained according to the retention policy. The expired recovery points (except the last recovery point) are cleaned according to the retention range set in the backup policy."

Is the "last recovery point" the most recent reco

[2020-08-28 14:23] zr-msft commented on #61375
Thank you @g0pinath-metricon for the feedback.

I've updated the article to address your feedback and the changes should be available soon.

[2020-08-28 14:24] zr-msft commented on #39507
Thank you @montebhoover  for the feedback.

I've updated the article to address your feedback and the changes should be available soon.

[2020-08-28 14:45] SaurabhSharma-MSFT commented on #61696
@gstand Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-28 14:57] Norrch2 opened #61701 "List of ContentDefinition Metadata Item Keys"
Hello,

is it possible to get a list of content definition metadata keys?

This example only shows one, which is DisplayName. However, sample policies use another "language.intro". Can we please have a list of metadata keys so we can further enhance the experience.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-08-28 14:57] SaurabhSharma-MSFT commented on #61168
@AshleyYang25 sorry, I do not have any example.  Also, forgot to mention that I am checking internally with the product team on this if we can use the private key of the same certificate to do the same and if any example available for the same.

[2020-08-28 14:58] mrbullwinkle commented on #61678
@karthiksriramuoa you should be able to resolve that issue by following the instructions that are described in the [secure the control channel](https://docs.microsoft.com/en-us/azure/azure-monitor/app/live-stream#secure-the-control-channel) section of the live metrics docs.

[2020-08-28 15:02] brynsp opened #61702 "Add RSS info"
The Azure AD What's New page has a handy RSS URL at the top of the page. I would really like to see more "What's New" pages adopt this feature

From the Azure AD page:
Get notified about when to revisit this page for updates by copying and pasting this URL: https://docs.microsoft.com/api/search/rss?search=%22Release+notes+-+Azure+Active+Directory%22&locale=en-us into your RSS feed reader icon feed

[2020-08-28 15:09] scott1138 commented on #44216
@femsulu @rayne-wiselman the documentation still hasn't been updated.

[2020-08-28 15:14] cephalin commented on #51039
Sorry for the delay. The doc is rewritten now with an extra section. Hopefully it's clearer. The update should be published today. #please-close

[2020-08-28 15:14] #51039 closed

[2020-08-28 15:23] indranil-chakraborty-thd commented on #61365
I have now tested the template after making 2 changes.
1. Registered the container instance manually as described [here](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resource-providers-and-types#azure-portal)
2. Made the depends on explicit on the resource ID.

![image](https://user-images.githubusercontent.com/69918654/91584518-6028e080-e918-11ea-8b3f-ffc508e4e6f0.png)

[2020-08-28 15:34] vick-git opened #61704 "Needs Install-Module -Name PackageManagement -Repository PSGallery -Force before Step 3"
[Enter feedback here]

In the steps for windows powershell:

https://docs.microsoft.com/en-us/azure/storage/blobs/recursive-access-control-lists?tabs=azure-powershell#set-up-your-project

Needs:

Install-Module -Name PackageManagement -Repository PSGallery -Force

before Step 3:

install-Module PowerShellGet –Repository PSGallery –Force

else it fails. Tried it in powershell 7 version.

---
#### D

[2020-08-28 15:40] MaiRat opened #61705 "Invalid name for android activity"
The described name for the BrowserTabActivity in the manifest is "com.microsoft.identity.client.BrowserTabActivity". This is wrong. the correct name is "microsoft.identity.client.BrowserTabActivity". If you use with "com.", you get an exception about a missing class "com.microsoft.identity.client.BrowserTabActivity". If you use "microsoft.identity.client.BrowserTabActivity" instead, all works well

[2020-08-28 15:41] TonyScarpelli opened #61706 "Quickstart: Create an ASP.NET Core web app in Azure"
Needs to be updated to the current Azure version. Picture wrong.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64e750b6-a84d-c665-9bb3-167241a33d10
* Version Independent ID: f22f673f-469c-e137-304b-aa92662e0790
* Content: [Quickstart: Create a C# ASP.NET Core app - Azure App Service](https://docs.microsoft.com/en-us/a

[2020-08-28 15:50] HughDevlin commented on #61653
Thank you for your efforts.

To clarify, the question is how to accomplish with the portal:

1. what --parameters does in Azure CLI deployment

See

Deploy resources with ARM templates and Azure CLI

https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deploy-cli#parameters

2. what -TemplateParameterFile does in Azure Powershell deployment

See

Deploy resources with ARM templa

[2020-08-28 15:55] RyanHill-MSFT commented on #61632
@karthikeyanVK for local environment, VS should be using your [AD credentials](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-connect-msi#set-up-visual-studio). Can access your Azure SQL Instance from SQL Object Explorer? Authentication should be set _Active Directory Integrated Authentication_ and you'll be prompted to include your IP on the Azure SQL firewall.

[2020-08-28 15:57] DavidCBerry13 commented on #59914
#reassign @DavidCBerry13

[2020-08-28 16:00] DavidCBerry13 commented on #58992
#reassign @DavidCBerry13

[2020-08-28 16:04] DavidCBerry13 commented on #55449
#reassign @DavidCBerry13

[2020-08-28 16:05] MashaMSFT commented on #61619
Hi @kazshi, thanks for contacting Microsoft! My apologies for the typo, you are correct, the DNN feature is supported on Windows 2016. When it was first released it was restricted to Win 2019 for a month due to testing and this is a leftover byproduct of that. I have processed a change and the doc will reflect correctly later today.

I'll go ahead and close out this Git Issue, but please feel free

[2020-08-28 16:05] #61619 closed

[2020-08-28 16:06] DavidCBerry13 commented on #46471
#reassign @DavidCBerry13

[2020-08-28 16:07] AshokPeddakotla-MSFT commented on #60778
@JadeCoding Did you get a chance to see the above response? If there are no further queries, can this issue be closed?

[2020-08-28 16:08] JQUINONES82 commented on #38914
IF Microsoft is going to enable Service Tags for Azure DevOps, can it somehow be used on the Keyvault Firewall? https://devblogs.microsoft.com/devops/new-ip-address-ranges-with-service-tags-for-azure-devops-services/

[2020-08-28 16:09] JamesTran-MSFT commented on #61701
@Norrch2
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-08-28 16:10] DavidCBerry13 commented on #51351
#reassign @DavidCBerry13

[2020-08-28 16:13] DavidCBerry13 commented on #51351
I wanted to provide an update on this.  Yes, the lsnrctl is not in the path and that is the initial problem.  But even if you supply the full path to start the listener, you get the issues the @kkoppineedi ran into above.

We are working with Oracle on getting an updated image to fix both of these problem.  It might be a week or two but we are working on it.  When we get the new image, I'll test i

[2020-08-28 16:18] cdaproductsbot opened #61707 "Localhost exceptions issue"
This documentation states that you should not use "localhost" but should instead use "127.0.0.1". However, the Azure Portal settings has an exception to allow non secure "http://localhost" but not "http://127.0.0.1"

<img width="973" alt="Azure_Portal_redirect_uri_settings" src="https://user-images.githubusercontent.com/69278476/91589580-f4e70a80-e927-11ea-9482-41d364bec189.png">

I noticed this w

[2020-08-28 16:24] TwoPatient opened #61708 "Not clear which ports need to be open to pull the mcr.microsoft.com/azure-blob-storage image for IoT Edge"
In the article https://docs.microsoft.com/en-gb/azure/iot-edge/how-to-deploy-blob it does not specify which URLs and ports to open for azure-blob storage.

Our customer allowed traffic through their firewall for mcr.microsoft.com on port 443 but this still resulted in the azure-blob-storage image (windows) failing to download due to it seeming to want to download a layer from 104.16.245.85

Custom

[2020-08-28 16:34] mattchenderson commented on #61506
Agreed with Ryan.

#please-close

[2020-08-28 16:34] #61506 closed

[2020-08-28 16:36] SadiqhAhmed-MSFT commented on #44216
@scott1138 This is the updated document - https://docs.microsoft.com/en-us/azure/migrate/migrate-support-matrix-physical#physical-server-requirements

Let me know if there are any other permissions missing that you want us to add to the document.

[2020-08-28 16:38] supriyasadhu opened #61709 "vpn gateway"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45d7ab31-fdf3-9b0f-1439-6a01fb257aab
* Version Independent ID: af13a45f-3061-2f0e-7452-b52d700b4805
* Content: [About Azure VPN Gateway](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-vpngateways#gwsku)
* Content Source: [article

[2020-08-28 16:38] DerekHerman-MSFT commented on #61693
Thanks for the question. We are currently investigating and will update you shortly.

[2020-08-28 16:39] #61709 closed

[2020-08-28 16:39] mattchenderson commented on #49036
I would make sure to file something for that on https://feedback.azure.com under ACI.

This GitHub issue is tracked as relating to the doc on the App Service feature, and I do think it is reasonably closed in that context. However, we should absolutely make sure this request is tracked somewhere for the ACI team to see.

[2020-08-28 16:45] mattchenderson commented on #61652
Thank you for filing this! I just reviewed that PR, and we should be able to close that issue once it's merged in.

[2020-08-28 16:45] SaiKishor-MSFT commented on #61080
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-28 16:45] #61080 closed

[2020-08-28 16:46] mattchenderson commented on #61652
(realizing that PR may not be visible here in the public repo, but @SnehaAgrawal-MSFT put one together for this)

[2020-08-28 16:50] SadiqhAhmed-MSFT commented on #61700
@shivalagarwal Thanks for the comment. We are looking into this issue and will get back to you soon.

[2020-08-28 16:51] scott1138 commented on #44216
Only the three non-admin groups are listed. For a physical server you need to be an administrator.

Sent from my Commodore 64
________________________________
From: SadiqhAhmed-MSFT <notifications@github.com>
Sent: Friday, August 28, 2020 11:36:25 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: scott1138 <scott.heath@outlook.com>; Mention <mention@noreply.github.com>
Subject: R

[2020-08-28 16:55] SadiqhAhmed-MSFT commented on #44216
@rayne-wiselman Could you please review this request and updated the doc as appropriate.

[2020-08-28 16:55] EvilSmiff opened #61710 "user managed identity has to be resource identifier"
Hi

2 issues:
1) If the user managed identity isn't in the same resource group as the VM the doc doesn't make it clear what resource group to use.

2) Regardless of the resource group used, if the identity is not in the same resource group, neither resource group works.
The --identifier flag cannot be passed as the name of the user managed identity in this case and you have to use the resource id

[2020-08-28 17:03] cgillum commented on #61687
I'm working on this doc as we speak, so I can take care of fixing it.

[2020-08-28 17:03] normesta commented on #59496
Thank you for reporting this issue @subashsivaji . This is fixed in a more recent version of the Azure CLI. Please update to the latest version of the Azure CLI - https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest. Thank you!

[2020-08-28 17:03] normesta commented on #59496
#please-close

[2020-08-28 17:03] #59496 closed

[2020-08-28 17:04] normesta commented on #59831
Thank you @yzheng-msft ! and thank you @squasta for sharing our feedback. Closing issue.

[2020-08-28 17:05] normesta commented on #59831
#please-close

[2020-08-28 17:05] #59831 closed

[2020-08-28 17:05] Mike-Ubezzi-MSFT commented on #61689
@camallen Thank your for taking the time to detail this oversight in the midst of a production issue that we introduced to your environment. Please let me know if you require additional assistance with the production issue as I can seek PG or engage support. Do you have a back-up you can restore to without negating the after the fact transactions?

[2020-08-28 17:08] sql-deadwood opened #61712 "List Permissions Required to Add Diagnostic Settings to a Db"
Hello,

I recently found that being a SQL Contributor on a database is not enough to enable me to add diagnostic settings to a db, which is how db telemetry is linked to SQL Analytics. Once the appropriate person at my company added me as a member to the SQL Analytics Contributor role the problem was resolved.

I think the community would benefit from having this information front and center in th

[2020-08-28 17:09] MonikaReddy-MSFT commented on #61705
@MaiRat -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-08-28 17:11] MonikaReddy-MSFT commented on #61705
@MaiRat -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-28 17:11] #61705 closed

[2020-08-28 17:15] tfitzmac commented on #61589
@mariozski - thanks for this feedback. multiLine works but I am seeing a problem when I copy the syntax from the example. I am guessing there is a problem with an invalid character.

Try this - open the portal sandbox. Select copy DropDown from left pane, and paste it into the file. Preview it to make sure it is working. Now go back to the file, and add descriptions for the items. Type (not copy)

[2020-08-28 17:15] HughDevlin opened #61713 "Deploy to Azure button in the README.md of an Azure DevOps git repository?"
Thank you for the example of how to use a Deploy to Azure button in the README.md of a GitHub git repository.

Does this work with an Azure DevOps git repository?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43bf1e44-5555-8794-3ec0-84b5cc22e83d
* Version Independent ID: 27453c17-9c3c-6132-2949-16ffe4da8807
* Content:

[2020-08-28 17:15] scgbear commented on #61652
@mattchenderson & @SnehaAgrawal-MSFT,

Small correction in my issue description.

it should read...

"tenantId": "[reference(resourceId('Microsoft.Web/sites', variables('functionAppName')), '2018-02-01', 'Full').identity.tenantId]",
"objectId": "[reference(resourceId('Microsoft.Web/sites', variables('functionAppName')), '2018-02-01', 'Full').identity.principalId]",

not

"tenantId": "[reference(re

[2020-08-28 17:21] RonnieQuan opened #61714 "Use Set-AzDiagnosticSetting to Send Activity Log to Storage Account and Log Analytics Workspace"
Can you please provide example for the new apporach to send acivity log to mulitiple desintation using prowershell?

In this page https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostic-settings#create-using-powershell
the example is for keyvault.

and in other page https://docs.microsoft.com/en-us/azure/azure-monitor/platform/activity-log#configure-log-profile-using-powershell, t

[2020-08-28 17:22] himanshusinha-msft commented on #61440
We have assigned the issue to the content author . They will  update the document as appropriate.

[2020-08-28 17:23] scgbear commented on #61652
@mattchenderson & @SnehaAgrawal-MSFT ,

Got the link to the PR. Looks like you caught my error. Thanks!

[2020-08-28 17:24] jonesb321 opened #61715 "Azure Data Factory CICD Script Deletes ALL Triggers, is this intentional?"
The PowerShell script currently deletes all of the triggers, not just the ones included in the template.  Wouldn't it be preferable to only affect those items explicitly contained within the template?  Perhaps a switch that controls how the delete trigger action behaves?  I have instances where the deployed environment contains triggers which are intentionally not included in the template.  Additi

[2020-08-28 17:25] himanshusinha-msft commented on #61585
Hello @KrishnaPaudel ,
The documents is updated and so we are going ahead and closing the issue .

[2020-08-28 17:25] #61585 closed

[2020-08-28 17:26] himanshusinha-msft commented on #61610
We are closing this issue as we have not heard back from you  , you can always re-open the issue if you think that appropriate .

[2020-08-28 17:26] #61610 closed

[2020-08-28 17:29] JamesTran-MSFT commented on #61635
@Sylvala
Selecting '[Any location](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/location-condition#any-location)' causes a policy (MFA), to be applied to all IP addresses, which means any address on the Internet. When you select 'Any location', you can still exclude specific locations from a policy. For example, you can apply a policy to all locations except trusted l

[2020-08-28 17:29] #61635 closed

[2020-08-28 17:32] mattlangeman commented on #61707
I created the above issue, but was logged in a the wrong user. Sorry for any confusion.

I think the AADSTS90102 error was unrelated to the HTTPS localhost vs 127.0.0.1 issue. However the documentation recommending use of 127.0.0.1 does not match the validation in the Azure portal for the redirect_uri, which only allows http://localhost and not http://127.0.0.1

[2020-08-28 17:32] djpmsft commented on #61715
Hi @jonesb321 ,

The only triggers that are deleted are the ones that are not included in the ARM Template. So if you have a Dev factory without a trigger in Prod, that will get deleted.

You are welcome to edit this script to fit your organizations needs! This script assumes that the factory you are deploying to is the same, except for parameters that you change in teh ARM template.

Best,
Daniel

[2020-08-28 17:34] karthikeyanVK commented on #61632
Yes it works with Active Directory Integrated Authentication in SQL Object Explorer

[2020-08-28 17:35] jonesb321 commented on #61715
Agreed, it isn't all, just the ones not in the template.  I'm happy to make the changes, and even happier to have the script to begin with.  Just offering up a suggestion.  Thanks again!

[2020-08-28 17:35] #61715 closed

[2020-08-28 17:39] MartinJaffer-MSFT commented on #61350
@shraboin sorry for the delay, I wanted to do a few tests to be sure my answer is current.  The service has changed since I last tried.

In a gen2 account (with Heirarchical namespace), I created a container, and inside it I placed a pair of files in root, and a pair of files in a folder.  Each pair consisted of an item uploaded via Set-AzStorageBlobContent and an item uploaded via New-AzDataLakeG

[2020-08-28 17:48] SatishBoddu-MSFT commented on #60633
Dear all,

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

**Further Technical support options:**
Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft. Please

[2020-08-28 17:48] #60633 closed

[2020-08-28 17:56] JamesTran-MSFT commented on #61565
@pwgrmi
Thank you for your response. I  see that you can define a "Lockout Threshold" when [creating a PSO](https://www.it-support.com.au/how-to-create-a-password-setting-object-pso-within-a-domain/2013/08/).

![image](https://user-images.githubusercontent.com/36619112/91600363-ac761f80-e91c-11ea-9a86-523cac14a350.png)

I'll reach out to our engineering team to confirm whether or not this will aff

[2020-08-28 18:11] SatishBoddu-MSFT commented on #61692
Hello @mysunnytime
Thanks for the feedback!
I have assigned the issue to the content author for further review.

[2020-08-28 18:16] SwathiDhanwada-MSFT commented on #61365
@indranil-chakraborty-thd We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-08-28 18:16] #61365 closed

[2020-08-28 18:20] Leonardo-Ferreira commented on #41350
@KalyanChanumolu-MSFT since it's GA now, I think there should be a ARM Template for it, no?

[2020-08-28 18:32] Karishma-Tiwari-MSFT commented on #61663
@palma21 I have created a PR here: https://github.com/MicrosoftDocs/azure-docs-pr/pull/127662

[2020-08-28 18:43] anastasia-ms opened #61717 "Deprecated command in quickstart doc"
When running  **az iot hub device-identity show-connection-string**, the user gets the message that the command is deprecated. Docs should be updated.
![dep](https://user-images.githubusercontent.com/61602255/91604510-a172bd80-e923-11ea-8a1d-f8b96190e9cf.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f1d1d66-4cc5

[2020-08-28 18:57] BharathNimmala-MSFT commented on #61714
@RonnieQuan Thank you for your query, we will look into it and get back to you at the earliest.

[2020-08-28 18:58] anastasia-ms opened #61719 "QuickStart: read device to cloud messages doesn't work"
Went through the tutorial.  Node readdevicetocloudmessages.js doesn't work. It hangs. I am having problems in general getting all the simulated device samples to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f1d1d66-4cc5-82ec-b4e5-1c88662c85ac
* Version Independent ID: 82007f25-a1ec-832f-a431-c416a1de42a0
* Con

[2020-08-28 19:00] rwike77 commented on #41386
#reassign:@hpsin  @hpsin, can you take a look at this one?  Thanks.

[2020-08-28 19:08] JamesTran-MSFT commented on #61648
@brettaweston
Thanks again for your input.

**Findings:**
I was able to [create a conditional access policy](https://docs.microsoft.com/en-us/azure/active-directory/authentication/tutorial-enable-azure-mfa?toc=/azure/active-directory/conditional-access/toc.json&bc=/azure/active-directory/conditional-access/breadcrumb/toc.json#create-a-conditional-access-policy) to enable MFA with the Security and

[2020-08-28 19:08] #61648 closed

[2020-08-28 19:08] BharathNimmala-MSFT commented on #61713
@HughDevlin Thank you for your query, we will look into it and get back to you at the earliest.

[2020-08-28 19:14] shashishailaj commented on #60557
We have created a suggestion item internally on this and the design team will be looking into the recommendations. As this pertains to a huge change throughout the complete docs website so this may go through multiple levels of discussion before any design change is seen. At this point we are closing this thread as there is no further update from our side . I am tracing this internally and would u

[2020-08-28 19:14] #60557 closed

[2020-08-28 19:29] shashishailaj commented on #61620
@Chielus We have updated the link to the correct article and the changes will be updated in the next release cycle in 24-48 hours. We will now close this issue.

[2020-08-28 19:29] SatishBoddu-MSFT commented on #61717
Hello @anastasia-ms
Thanks for the feedback! We are currently looking into this.

[2020-08-28 19:32] shashishailaj commented on #60852
@superlzy As per the last comment , the URLs are not case sensitive hence we believe it should not be any issue. As we have not received any response from you for more than a week, we will be closing this issue now. If you still have any issue, please tag me or @jeevansd to your reply and we will look into this.

Thank you.

[2020-08-28 19:32] #60852 closed

[2020-08-28 19:33] #61620 closed

[2020-08-28 19:37] SatishBoddu-MSFT commented on #61717
Hi there,
We will update the document as per the new command. Thank you!

`az iot hub device-identity connection-string show --hub-name iothub --device-id mydevice --output table`

![image](https://user-images.githubusercontent.com/62923178/91608745-f5cd6b80-e92a-11ea-9ee4-89b333c757ee.png)

[2020-08-28 19:39] tasharm-0412 opened #61721 "Is data transferred from an azure service to storage instances encrypted in transit ?"
We are a service in azure which utilizes SDK provided by storage team to access blobs, queues and tables. Does the storage SDK handle encryption / decryption of data when it travels from our service to the storage service where it is stored ? or does the service need to do something specific to encrypt this data in transit ? or it does not matter as we are in the same data center and communication

[2020-08-28 19:44] shashishailaj commented on #61077
@andrewflierman As you have not responded to us in this issue , we are temporarily closing this issue. Whenever you reply , please do provide the details what Jason have asked in the last comment and tag me and @jasonnutter on this and we will reopen and continue with you .

Thank you.

[2020-08-28 19:44] #61077 closed

[2020-08-28 19:46] shashishailaj commented on #61401
@garrytrinder We are waiting on the backend team for authoritative information on this and will update once we have more info.

[2020-08-28 20:01] #55084 closed

[2020-08-28 20:02] zr-msft commented on #55084
Thank you @porrascarlos802018 for the feedback.

I've updated the article to address your feedback and the changes should be available soon.

[2020-08-28 20:04] wj109s5 commented on #61603
Well, I got this to work by specifying the  PartnerEntity in the metadata for the Relying Party in the B2C_1A_signup_signin_saml custom policy:

[code]

It's strange that the Application Manifest didn't pick this up for me.  Is this uncommon or does this documentation need to be updated to include the PartnerEntity?

[2020-08-28 20:11] #61674 closed

[2020-08-28 20:19] Grace-MacJones-MSFT commented on #61706
Hi @TonyScarpelli, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update  the doc

[2020-08-28 20:21] Grace-MacJones-MSFT commented on #61710
Hi @EvilSmiff , thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2020-08-28 20:28] Grace-MacJones-MSFT commented on #61712
Hi @sql-deadwood , thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update the doc

[2020-08-28 20:30] Grace-MacJones-MSFT commented on #61704
Hi @vick-git , thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2020-08-28 20:32] JamesTran-MSFT commented on #61721
@tasharm-0412
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-28 20:32] Grace-MacJones-MSFT commented on #61702
Hi @brynsp, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update the doc as appropriate

[2020-08-28 20:34] DavidCBerry13 commented on #57824
#reassign @DavidCBerry13

[2020-08-28 20:34] SatishBoddu-MSFT commented on #61719
@anastasia-ms
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-28 20:44] #61687 closed

[2020-08-28 20:50] BharathNimmala-MSFT commented on #61503
@fallmake Thanks again for bringing this to our notice, assigned this issue to our document author @bandersmsft to further review your feedback and see how we can enhance the document to clarify it.

[2020-08-28 20:51] robermud opened #61722 "Enterprise Application Owner can't see Sign-In logs"
According to this documentation when someone is Owner of an Enterprise Application it should be able to see all Sign-In logs related to that application.

The action is microsoft.directory/signInReports/allProperties/read and it has the following description: Read all properties (including privileged properties) on signInReports in Azure Active Directory.

Could you please review this? Thanks

---

[2020-08-28 20:57] zr-msft commented on #54659
Closing this issue based on comments from @sakthi-vetrivel

#Please-close

[2020-08-28 20:57] #54659 closed

[2020-08-28 21:04] kayesmith94 opened #61723 "at-odds information in docs about webjob types"
This page says, https://docs.microsoft.com/en-us/azure/app-service/webjobs-dotnet-deploy-vs#webjob-types
"Triggered (default): A triggered WebJob starts based on a binding event, on a schedule, or when you trigger it manually (on demand). It runs on all instances that the web app runs on, but you can optionally restrict the WebJob to a single instance"

but in this page,
https://docs.microsoft.com

[2020-08-28 21:05] garrytrinder commented on #61401
Thanks for the update @shashishailaj much appreciated.

[2020-08-28 21:12] #61668 closed

[2020-08-28 21:14] cynthn commented on #61668
Good catch, I just updated the files. Sorry I missed that!

[2020-08-28 21:14] suterma opened #61724 "Provide Samples or info for other sensors too (e.g. SI7021)"
This tutorial is nice and I got it to work easily on a real Raspberry Pi. However, I use a different sensor, SI7021 (See https://qrys.ch/reading-14bit-from-an-si7021-temperature-and-humidity-sensor/). Since this is also a very popular sensor, and also works with the same I2C protocol, some information about how to use it with the given sample or even a dedicated sample app would be nice.

Best Reg

[2020-08-28 21:15] MarileeTurscak-MSFT commented on #60165
Thanks! I made a pull request to remove the outdated reference and add a list of new supported scenarios. https://github.com/MicrosoftDocs/azure-docs-pr/pull/127709

[2020-08-28 21:15] #60165 closed

[2020-08-28 21:29] jetomer opened #61725 "Modify "Data-at-rest Encryption" section to remove HMS."
vSAN datastores use data-at-rest encryption by default. The encryption solution is KMS-based and supports vCenter operations for key management. The key encryption keys are stored in an Azure Key Vault and when a host is removed from a cluster for any reason, data on SSDs is invalidated immediately.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-08-28 21:31] MladjoA commented on #42959
@cmosqu , thanks again for your feedback. The article has been updated and I am closing the issue.

[2020-08-28 21:31] Grace-MacJones-MSFT commented on #61723
Hi @kayesmith94 , thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2020-08-28 21:31] MladjoA commented on #42959
#please-close

[2020-08-28 21:31] #42959 closed

[2020-08-28 21:33] Grace-MacJones-MSFT commented on #61690
Hi @GowthamDisys, can you share with azure documentation you're following?

[2020-08-28 21:42] jaboutboul opened #61727 "Command for enabling Write Accelerator from az cli is incorrect"
At this link in the page, the command is incorrect https://docs.microsoft.com/en-us/azure/virtual-machines/how-to-enable-write-accelerator#enabling-write-accelerator-using-the-azure-cli

it list the command as `az vm update -g group1 -n vm1 -write-accelerator 1=true` with a single dash before write-accelerator.

The correct command has a double dash and it should be: `az vm update -g group1 -n vm1

[2020-08-28 21:49] jeevansd commented on #55885
@keschnei42 I have tested this with SAML Logout URL and it is not working. Google is not sending the SAML Logout URL to Azure AD and so we have to use the WS-Fed endpoint here that way user can be logged out from Azure AD.

[2020-08-28 21:49] jeevansd commented on #55885
I dont think we have to update our doc here. So closing this issue.
#please-close

[2020-08-28 21:49] #55885 closed

[2020-08-28 22:07] edburns opened #61728 "Java class downloaded from Spring Initializr is DemoApplication.java but code snippet is SecretsApplication.java"
Java class downloaded from Spring Initializr is DemoApplication.java but code snippet is SecretsApplication.java

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a2d3bf1-b841-c8a4-ccf1-b0f19c6b5cf3
* Version Independent ID: ef85ddc0-a22f-0c92-8e31-2a584f7fbb72
* Content: [Tutorial - Managed identity to connect Key Vault

[2020-08-28 22:07] edburns commented on #61728
Please assign me.

[2020-08-28 22:14] sakthi-vetrivel commented on #54987
This has been fixed.

[2020-08-28 22:16] sakthi-vetrivel commented on #55903
This has been fixed.

[2020-08-28 22:19] sakthi-vetrivel commented on #56523
@pradm Would it help if we added a step where you check supported regions for ARO before creating a resource group?

[2020-08-28 22:21] RyanHill-MSFT commented on #61517
I have spoken with the product team @Aarskin, and we'll provide some further details. Thanks for the feedback!

[2020-08-28 22:21] JamesTran-MSFT commented on #61710
@EvilSmiff
Thank you for your feedback!

Walking through the documentation, I ran into the same issue where I had my managed identity in another resource group. In order to assign my managedID to my VM, I had to use the full URL of my managedID.

For example:
 az vm identity assign -g "vmRG" -n "vmName"  --identities "/subscriptions/subID/resourceGroups/userIdentity/providers/Microsoft.ManagedIden

[2020-08-28 22:21] #61710 closed

[2020-08-28 22:26] RyanHill-MSFT commented on #61632
Okay, so that at least turns our attention to your Azure SQL Instance. This tutorial assumes you already have a database created. Did you follow any tutorials for creation? If not, could you include the steps you did to create your instance?

[2020-08-28 22:27] pradm commented on #56523
yes that would be great

[2020-08-28 22:33] WinstonHoward-MSFT commented on #61727
Thanks for the inquiry, I'll take a look.

[2020-08-28 22:47] ebwinters opened #61729 "Broken syntax reference example"
The example reference in the Key Vault reference docs:
`@Microsoft.KeyVault(SecretUri=https://myvault.vault.azure.net/secrets/mysecret/ec96f02080254f109c51a1f14cdb1931)`

will not work when using with a real configuration value, since it is prepended with `https://`.

`@Microsoft.KeyVault(SecretUri=myvault.vault.azure.net/secrets/mysecret/ec96f02080254f109c51a1f14cdb1931)`
will work however.

---

[2020-08-28 22:50] bakandah opened #61730 "[Microsoft Documents Feedback]"
While I was doing research and reviewing our documents, I found something missing or not clear on this document in the following link:
•	https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/move-limitations/virtual-machines-move-limitations#virtual-machines-with-azure-backup

To move virtual machines configured with Azure Backup, you must delete the restore points from the vaul

[2020-08-28 23:05] #61663 closed

[2020-08-28 23:05] Karishma-Tiwari-MSFT commented on #61663
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-08-28 23:10] jjaguirre394 commented on #23301
Does anyone know how to test how long it takes a new instance to be served traffic when scaling out? How can I confirm this for my app?

[2020-08-28 23:11] MikeDodaro commented on #61728
@edburns   I can't assign because my auth as contractor doesn't include assignment or reviewer.  @bmitchell287 Can you deal with this?

[2020-08-28 23:14] JamesTran-MSFT commented on #61721
@tasharm-0412
Thanks for your post! I'll do my best to answer all of your questions here.

1. Does the storage SDK handle encryption / decryption of data when it travels from our service to the storage service where it is stored ? or does the service need to do something specific to encrypt this data in transit ?
[For more info.](https://docs.microsoft.com/en-us/azure/security/fundamentals/overvie

[2020-08-28 23:22] KarlErickson commented on #61728
@edburns there's no need to be assigned the issue, and we aren't admins in azure-docs (only in azure-dev-docs) so we can't update the assignment anyway. You can submit a PR to fix this anyway, though. :-)

[2020-08-28 23:33] tasharm-0412 opened #61731 "When using this SDK with connection string authentication, is the data transmission encrypted in transit ?"
We are a service in azure which utilizes this SDK provided to access blobs, queues and tables. Does this handle encryption / decryption of data when it travels from our service to the storage service where it is stored ? or does the service need to do something specific to encrypt this data in transit ? or it does not matter as we are in the same data center and communication between services with

[2020-08-28 23:38] JamesTran-MSFT commented on #61721
@tasharm-0412
Thanks for speaking with me offline. I'll go ahead and close out your issue since we agreed this is an SDK specific question.

[2020-08-28 23:38] #61721 closed

[2020-08-28 23:47] GuzmanDiaz18 commented on #50071
I am just having the same problem, a Virtual Machine from a Pool became Unavailable, and there is no option to withdraw the user's session.

[2020-08-28 23:58] BharathNimmala-MSFT commented on #61730
@bakandah Thank you for taking time to share your valuable feedback. I have assigned this issue to our document author @tfitzmac to further evaluate the feedback and update the document accordingly.

[2020-08-28 23:58] kobulloc-MSFT commented on #61729
@ebwinters Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-08-29 00:25] DavidCBerry13 commented on #57824
I fixed the title so it appears correctly.  #please-close

[2020-08-29 00:25] #57824 closed

[2020-08-29 00:49] MarileeTurscak-MSFT commented on #61484
@Afsars12 can you please provide a screenshot of where you are looking?

[2020-08-29 00:51] MarileeTurscak-MSFT commented on #61518
The reference link you pulled doesn't seem to work. Do you have another URL?

[2020-08-29 00:59] n12nja opened #61734 "Step 4 Argument 2: cannot convert from 'System.Guid[]' to 'System.Collections.generic.IList<System.Huid?>'"
Sorry if this is due to me doing something wrong but I'd appreciate any advice on detecting face using a face list (https://docs.microsoft.com/en-us/azure/cognitive-services/face/face-api-how-to-topics/howtoidentifyfacesinimage). Following the guide I get the following problem:

var faceIds = faces.Select(face => face.FaceId.Value).ToArray();

var results = await faceClient.Face.IdentifyAsync(face

[2020-08-29 01:39] andyzhangx commented on #61650
Could you make sure aksshare file share exists in storage account footest28241? And also your storage account key is correct?
It said permission denied, I think there is sth wrong with your account key.

And also azure file driver actually supports using existing file share in storage class, you could use following config also, make sure your cluster identity have permission to the file share:
[co

[2020-08-29 02:46] DavidCBerry13 commented on #24795
I went through the article and followed all of the steps and this works.  Reviewing the steps, I do believe they are correct so I am going to close this issue.

If you are still stuck and can provide some more information, please feel free to post a comment here.  Maybe there is something that can be clarified in the steps, but for now, this seems correct.

#please-close

[2020-08-29 02:46] #24795 closed

[2020-08-29 05:30] Cook-code opened #61741 "Incorrect and Confusing"
[Enter feedback here]

Hi Team,

I felt the the documentation is very confusing as Azure ML studio does not support tabular data as data level which specifying the data set and the documents shows them to specify as tabular data.

At point - https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-labeling-projects#export-the-labels

I am using Enterprise of ML studio and at present i

[2020-08-29 06:34] mrlund commented on #23301
@jjaguirre394 one way I've found useful is checking the live view in AI (assuming you use that). It'll list each instance, and show stats like req/sec etc.

[2020-08-29 08:01] KrishnaG-MSFT commented on #58040
Update: [This](https://support.microsoft.com/en-in/help/4339658/azure-region-access-request-process) is the support document that is current and maintained by our support team. Whoever have issues, please follow it. We will work on our end to update our process to point customers to this support doc instead.

[2020-08-29 08:01] KrishnaG-MSFT commented on #60157
Update: [This](https://support.microsoft.com/en-in/help/4339658/azure-region-access-request-process) is the support document that is current and maintained by our support team. Whoever have issues, please follow it. We will work on our end to update our process to point customers to this support doc instead.

[2020-08-29 08:20] amit17051980 commented on #61518
Not sure what is wrong, but as it is closed issue, it might not be working. I just used the url below.

https://github.com/MicrosoftDocs/azure-docs/issues/59746
**Description:**
Invalid Request ["AADSTS50107]: The requested federation realm object 'https://sts.windows.net/{Directory (tenant) ID}/' does not exist...... #59746

[2020-08-29 09:35] PramodValavala-MSFT commented on #61695
@arvindr9 Could you confirm if there is a specific doc that you are following here?

Please do note that this repository is primarily for addressing feedback on azure documentation. For other queries, [Microsoft Q&A](https://docs.microsoft.com/answers) is the best place to reach out to the wider community.

[2020-08-29 09:36] PramodValavala-MSFT commented on #61707
@mattlangeman @cdaproductsbot Thanks for the feedback! We will review and update accordingly.

[2020-08-29 09:38] PramodValavala-MSFT commented on #61708
@TwoPatient Thanks for the feedback! We will review and update accordingly.

[2020-08-29 09:39] PramodValavala-MSFT commented on #61722
@robermud Thanks for the feedback! We will review and update accordingly.

[2020-08-29 09:40] PramodValavala-MSFT commented on #61724
@suterma Thanks for the feedback! We will review and update accordingly.

[2020-08-29 09:41] PramodValavala-MSFT commented on #61725
@jetomer Thanks for the feedback! We will review and update accordingly.

[2020-08-29 09:42] PramodValavala-MSFT commented on #61731
@tasharm-0412 Thanks for the question! We will review and get back to you!

[2020-08-29 09:43] PramodValavala-MSFT commented on #61741
@Cook-code Thanks for the feedback! We will review and update accordingly.

[2020-08-29 09:45] PramodValavala-MSFT commented on #61734
@n12nja Thanks for the question! We will review and get back to you!

[2020-08-29 09:45] SadiqhAhmed-MSFT commented on #61700
@shivalagarwal The “last” recovery point is the latest recovery point (as-in, the newest).

Let me know if you have more questions in this matter.

[2020-08-29 10:43] elhoo commented on #61650
Thanks for the answer.

I can confirm that the secret 'azure-secret' contains the correct value by doing this:
[code]

The file share 'aksshare' also exists.

I noticed that the password logged:
[code]

is not the full password, is it possible that it only logs the first part of the password? But the part that is logged is matches the beginning of the password.

When I followed the instructions fo

[2020-08-29 10:56] n12nja commented on #61734
Resolved (at least syntatical errors removed) by adding a line to convert it from an array to a list.

Later in the same block of code the results variable tries to be treated as an array with .length and errors due to it being a list - resolved by using .count instead.

Did the underlying collections returned get changed but the sample code in this tutorial hasn't been updated?

if (identifyResul

[2020-08-29 11:03] elhoo commented on #61650
Think I found the problem when I added 'set -x' to the script (still no changes execpt names compared to the example).

Then I got this output:
[code]
Note the trailing '\r' !

If I modify the example to:
[code]
the pod can mount the file share.

I guess more people should have this problem but I'm also guessing it depends on version of OS and tools...

I used:
* Ubuntu 20.04.1 LTS (on Windows 10

[2020-08-29 11:05] mail2raji opened #61742 "Are view designer still exist in the Azure Monitor as stated in the document ? We don't see them any one more in Azure Subscription"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 509bc5b8-98b4-001c-0111-bc9f2e4645a5
* Version Independent ID: 3f44c969-e9a0-fc09-17e0-df9ecb842712
* Content: [Create views to analyze log data in Azure Monitor - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/view-desig

[2020-08-29 11:21] marvhen commented on #24808
@pazdedav I have the same question, or actually maybe we should re-phrase it because I think _Uninstalling_ AzureRM from Windows is different than _removing_ AzureRM from an automation account.

I see a lot of documentation about migrating from AzureRM to Az and uninstalling AzureRM but I just created a brand new automation account and by default it comes with AzureRM modules.  With me being new t

[2020-08-29 11:48] AndyRB opened #61743 "listkeys api version mismatch in examples"
The example for listkeys use api version '2015-05-01-preview', which  appears to have a different response structure (key1 and key2 available)
api version '2019-06-01' returns keys and therefore allows the example to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1ba8817-3e01-7e84-6c71-b98b131f2927
* Version Ind

[2020-08-29 12:12] mainred opened #61744 "redundant anchor explanation of vnet peerings"
[Enter feedback here]
Not sure if it's suitable to post the issue here, but please direct this issue to the right place if necessary, thanks.
The anchor explanation of `Traffic forwarded from remote virtual network` under vnet peerings contains redundant info as show below

![image](https://user-images.githubusercontent.com/1465768/91636272-dc631700-ea31-11ea-86a6-843e0dc61a0e.png)

---
#### Docum

[2020-08-29 12:22] genegc opened #61745 "Unable to invoke pause for Synapse Analytics (workspaces preview)"
I'm able to invoke the api to check the db state, but when I attempt to do a post to the "pause" endpoint, I get the following:

`The client '7713...' with object id '7713...' has permission to perform action 'Microsoft.Sql/servers/databases/pause/action' on scope '/subscriptions/9116.../resourceGroups/workspacemanagedrg-8b.../providers/Microsoft.Sql/servers/syeduanalyticscisd3/databases/EduDW/pau

[2020-08-29 12:39] karthiksriramuoa commented on #61678
@mrbullwinkle did try to follow the same article but unfortunately didn't succeed in configuring that. I have verified the instrumentation key and the Live Metrics Key and also the Dependency telemetry module is configured correctly.  Its just the QuickPulse Telemetry that has this issue.

[2020-08-29 12:40] elhoo commented on #61650
Another thought - I _did_ create a small difference compared to the examples on the site.

I combined the "Create an Azure file share" and the "Create a Kubernetes secret" in one script, ie. creating the secret in the same script file that retrieved the storage key  (both examples used the same variable name so it was easy to do...)

I do not know if that is the reason I got the problem - if I had

[2020-08-29 13:29] vicperdana opened #61746 "Incomplete sentence after "Procedure""
[Enter feedback here]
This part is not complete.  Please correct.

Procedure
If you

https://docs.microsoft.com/en-us/azure/key-vault/general/move-subscription#procedure
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc648f77-1e4c-2722-f3a5-8cbb7565a593
* Version Independent ID: cfbf4697-6ddd-fdb9-b97e-875ecc21f9e7
* Co

[2020-08-29 14:13] KrishnaG-MSFT commented on #61742
@mail2raji Thanks for reaching out! As shown in below screenshot, I see the view designer!

<img width="370" alt="ALA_Views" src="https://user-images.githubusercontent.com/45988031/91638689-eb949580-ea2e-11ea-91b7-c56df6a81d1c.png">

I recommend you to double check whether you have [required permissions](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/view-designer?source=docs#requir

[2020-08-29 14:39] andyzhangx commented on #61650
thanks, looks like we need to remove trailing `\r` in the code for storage account key.

[2020-08-29 15:42] TonyScarpelli opened #61747 "Quickstart: Create your first function in Azure using Visual Studio"
Again this Quickstart needs to be updated.
Using Visual Studio Community 2019, Version 16.7.2, the pictures in the Quickstart does not match the screens in Visual Studio, nor in Azure.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e88ea08-81ef-2b5a-b9d6-539e85592672
* Version Independent ID: f2d8b7b4-906a-d1f

[2020-08-29 16:21] eliot-trustm opened #61748 "Proactive download of files"
https://docs.microsoft.com/en-us/azure/storage/files/storage-sync-files-deployment-guide?tabs=azure-portal%2Cproactive-portal#proactively-recall-new-and-changed-files-from-an-azure-file-share
The option to proactively hydrate files onto a server don't appear in the gui and the powershell command doesn't seem to work either - how is this feature enabled?

---
#### Document Details

⚠ *Do not edit t

[2020-08-29 17:12] grammophone commented on #24973
Well said, @StingyJack .

[2020-08-29 17:14] JamesTran-MSFT commented on #61746
@vicperdana
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-29 17:24] JamesTran-MSFT commented on #61746
@vicperdana
I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2020-08-29 17:24] #61746 closed

[2020-08-29 18:13] milope opened #61749 "Please update the steps to include the management endpoint."
Hello team,

Is there a chance we can update the content to include the steps to expose the management endpoint as well? We continue to run into incidents where users miss the note in the section stating so quite often at this point.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37c1f253-44c2-bd07-4c74-9d4c77c45e6e
*

[2020-08-29 18:23] PramodValavala-MSFT commented on #61743
@AndyRB Thanks for the feedback! We will review and update accordingly.

[2020-08-29 18:24] PramodValavala-MSFT commented on #61744
@mainred Thanks for the feedback! We will review and update accordingly.

[2020-08-29 18:25] PramodValavala-MSFT commented on #61745
@genegc Thanks for the question! We will review and get back to you!

[2020-08-29 18:25] PramodValavala-MSFT commented on #61747
@TonyScarpelli Thanks for the feedback! We will review and update accordingly.

[2020-08-29 18:27] PramodValavala-MSFT commented on #61748
@eliot-trustm Thanks for the question! We will review and get back to you!

[2020-08-29 18:28] PramodValavala-MSFT commented on #61749
@milope Thanks for the feedback! We will review and update accordingly.

[2020-08-29 18:46] vairakkumar-vairaperumal opened #61750 "this page does not detail the requirement for when webhooks will work (does not work with slack webhooks)"
Monitor alerts action group for webhooks does not work with slack webhooks

This page does not list the requirement for webhook conditions to work. Intentionally or unintentionally webhook notifications to slack channels does not work without a logic app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1390bec-bae0-2fe

[2020-08-29 19:10] kendrikat commented on #31136
Is it safe now or what?

[2020-08-29 19:10] kendrikat commented on #31136
:)

[2020-08-29 19:33] ernestodeltoro opened #61751 "update uriBase"
Hi
Should update:
const string uriBase = "https://<myresourcename>.cognitive.microsoft.com/face/v1.0/detect";
new value:
const string uriBase = "https://<myresourcename>.cognitiveservices.azure.com/face/v1.0/detect";

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61d93091-7054-48af-bf9a-fe4f6bad231a
* Version Independe

[2020-08-29 23:20] RonnieQuan commented on #61714
@BharathNimmala-MSFT
Any update on the question?

Thank you!

[2020-08-30 00:23] Grace-MacJones-MSFT commented on #61751
Hi @ernestodeltoro, thanks for your feedback! We will review and update this doc accordingly.

[2020-08-30 03:12] BharathNimmala-MSFT commented on #61750
@vairakkumar-vairaperumal Thank you for your query, we will look into it and get back to you at the earliest.

[2020-08-30 06:16] BharathNimmala-MSFT commented on #61714
@RonnieQuan Apologies for the delayed response. Currently you can't create a diagnostic setting for the Azure Activity log using PowerShell or CLI like diagnostic settings for other Azure resources (this limitation has been documented [here ](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostic-settings-template) as note. ), you have to use Resource Manager template for the Act

[2020-08-30 06:16] #61714 closed

[2020-08-30 06:21] D3-LucaPiombino commented on #58418
Thank you.
I will give it another try.

[2020-08-30 06:42] karthikeyanVK commented on #61632
I did create the SQL in a normal way, which I have used to do it for years now. Nothing special. You have any sample GitHub sample code with all needed code changes, so I can change the connection string and test it in local.

[2020-08-30 07:49] rogerwcpt commented on #60381
Thank you for the update!

[2020-08-30 07:59] dcurwin commented on #61697
@GeethalakshmiG - can you please indicate whether Brazil South is supported or not?

#reassing:GeethalakshmiG

[2020-08-30 08:12] PingPongSet opened #61766 "More Info: To add action details, how to test and warning of overwriting"
I am new to Blockchain, and am stuck wondering how to complete the steps.

There are a few issues and questions on this article.
https://docs.microsoft.com/en-gb/azure/blockchain/service/ethereum-logic-app

1) "From the Actions tab, select one of the available actions."
Please could this be specific on exactly which action? As a beginner, I have no idea which action and how to setup, which affects

[2020-08-30 08:20] jitendra-25 opened #61767 "Please verify Steps to permanently delete soft deleted backup items"
[Enter feedback here]
Steps I performed using Azure Portal-
1. There was a Azure VM in my Backup Items in the Vault that I created.
2. I went to the Recovery Service Vault and then to Backup Items, and stopped the Backup for VM.
3. It went to Soft delete state, and I followed the steps to perform permanent delete of Backup Items that are in Soft Delete state, and clicked on Undelete and then click

[2020-08-30 08:22] dcurwin commented on #61700
I've updated the documentation to make the phrasing more clear. Thanks for your input.

[2020-08-30 08:55] vipulsparsh commented on #61545
@NehaOberoi92 Thanks for reaching out. Microsoft recommends choosing different key vault for different application, so think like this if 20 of your application uses the same key vault and one of them got compromised somehow, you now have a risk for those 19 other applications as well.

This is however totally up to you, if all are test applications you might just go with one key vault if you feel

[2020-08-30 08:59] vipulsparsh commented on #61601
@curtand Can you look into this and pass on the feedback.

[2020-08-30 09:01] vipulsparsh commented on #61644
@jeevansd Jeevan can you have a look ?

[2020-08-30 09:09] memildin commented on #61489
Hi @Patrik-Hansson, thanks for the feedback and for taking the time to help us improve the docs.

The EICAR _is_ referenced in the command for Linux VMs, but since that's only one of the three validation procedures on this page, you're right that it seems odd to include it in the title. The EICAR reference will be removed within the next refresh of this page.

I'm going to close this issue, but fe

[2020-08-30 09:09] #61489 closed

[2020-08-30 10:28] memildin commented on #61476
Hi @harrish0225, thanks for the feedback and for taking the time to help us improve the docs.

I've updated all of the screenshots on this page. The new page will go live within the next 48hrs. I'm going to close this issue, but feel free to comment again here or open a new one if you have additional comments

#please-close

[2020-08-30 10:28] #61476 closed

[2020-08-30 11:11] lonevvolf commented on #56953
Can this be added to the documentation?

[2020-08-30 11:26] harelbr commented on #16061
@jstevans - Yes, this is available in the metric alerts REST API (although you currently can't see it in the documentation).

Currently, this field doesn't appear in the swagger, so SDKs generated from it (e.g. the Azure Go SDK) won't get this parameter. We will expose this parameter in the swagger in future versions (no ETA yet). Until then, you can use this parameter by directly calling the REST

[2020-08-30 12:32] thomas-chizek opened #61769 "Again with documentation that stops halfway through the explanation"
Okay, I have written feedback about this problem several times recently, but I am going to do it again. I may copy this into a doc and paste it whenever I find a documentation page that has this problem because there are a lot of pages that have this issue.
Here is my problem, the title, description, and how this page comes up in search all imply that it will explain how to get an app id working f

[2020-08-30 12:48] KrishnaG-MSFT commented on #61767
@jitendra-25 Thanks for your comment! We will review and provide an update as appropriate.

[2020-08-30 13:07] shivalagarwal commented on #61700
Awesome. Thanks, guys!

Shival Agarwal
Atlas Technica
646-738-3713
sagarwal@atlastechnica.com
http://www.atlastechnica.com
________________________________
From: David Curwin <notifications@github.com>
Sent: Sunday, August 30, 2020 4:23 AM
To: MicrosoftDocs/azure-docs
Cc: Shival Agarwal; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Backup retention (#61700)

I've updated the documentation to ma

[2020-08-30 14:12] PramodValavala-MSFT commented on #61766
@PingPongSet Thanks for the feedback! We will review and update accordingly.

[2020-08-30 14:13] PramodValavala-MSFT commented on #61769
@thomas-chizek Thanks for the feedback! We will review and update accordingly.

[2020-08-30 15:02] ram-msft commented on #61138
@dalesayers We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-30 15:02] #61138 closed

[2020-08-30 16:08] eghove opened #61771 "some missing code in the example"
Early part of of the quick start misses some explicit calls to the sdk and a final call to synthesizeSpeech to execute.

My corrected code is below.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 064d7074-3ea4-21e4-60b4-b09976bbdf7e
* Version Independent ID: 1fdefc18-e765-9fe8-0652-ca18122cb0fa
* Content: [Spee

[2020-08-30 17:47] prasadreddym1 opened #61773 "Select EDIFACT agreement and click Edit as JSON. Add UNH2.5 value in the Send Agreement schemaReferences Select the EDIFACT agreement, and select Edit as JSON. Add the UNH2.5 value to the Send Agreement's schemaReferences section:"
EDIFACT Encode
4 and 5 points are same/duplicated/wrong

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88d78f8b-70f9-e33e-ef1b-00f2c39035f1
* Version Independent ID: 8026e376-b340-da82-460a-9114ed616fba
* Content: [UNH 2.5 segments in EDIFACT messages - Azure Logic Apps](https://docs.microsoft.com/en-us/azure/logic-app

[2020-08-30 18:13] leifbro commented on #57720
Are you referring to the configuration options documented in the Cassandra Spark connector docs at https://github.com/datastax/spark-cassandra-connector/blob/master/doc/reference.md?

[2020-08-30 19:34] jamesmcroft commented on #60695
Ah, I do apologize for this.

This was my own fault. I was sending messages to the IoT hub without content-type (JSON) or encoding (UTF-8).

[2020-08-30 19:38] avbhaskar opened #61774 "Please add quickstart "connect with Azure Data Studio""
[Enter feedback here]
Documentation for using Azure Data Studio to connect to azure usgovernment cloud SQL databases is missing for quite sometime. Please add a quickstart "Connect with Azure Data Studio"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d0ab80e-bbb7-8eb9-f0b3-814f74e3a117
* Version Independent ID: e9952

[2020-08-30 20:48] V4A001 opened #61775 "Documentation is confusing!"
From 3.0 and further it is not possible as the Note says, but then it says the 'NEW' provider is capable of it...but it is not. Please add that this holds only from .net core 2.0 and below.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b09a09da-72ae-d5c0-fe25-69274054d302
* Version Independent ID

[2020-08-30 20:55] RonnieQuan commented on #61714
@BharathNimmala-MSFT  Thank you so much for the information, it's really helpful.
I have couple of more questions, please help to clarify. Appreciate your help.

1) Container name:
Currently we are using legacy way powershell to send activity log to destination.
container name from the storage account is "insights-operational-logs"
Can you please confirm if switch to the new way, Azure will create

[2020-08-30 21:03] Grace-MacJones-MSFT commented on #61771
Hi @eghove , thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update this documentation

[2020-08-30 21:32] RonnieQuan commented on #61714
@BharathNimmala-MSFT  By the way I have posted idea in https://feedback.azure.com/forums/913690-azure-monitor/suggestions/41272372-configure-activity-log-diagnostic-settings-via-pow

[2020-08-30 23:15] kazshi commented on #61619
@MashaMSFT Thanks for your quick update!

[2020-08-30 23:34] BeigeBadger opened #61776 "The `docker run` command for v2.1 preview container for Form Recognizer is missing a required option"
The `eula=accept` option is missing from the `docker run` snippet for v2.1 preview, it is present the snippet for v2.0.

The provided command is:

[code]

However, it should be:

[code]

Otherwise users will encounter the following error:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67f00138-7492-ba6e-6665-de

[2020-08-31 01:38] RonnieQuan opened #61778 "Clarify Service Tag Internet"
Can you please confirm the service tag Internet include all IPs of Storage service tag?
or in other words, Internet servcie tag is superset of Storage servcie tag?

Thank you!

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08217244-82bb-13b5-46f7-454801d8f865
* Version Independent ID: 4a8b0a32-bf

[2020-08-31 01:45] RonnieQuan opened #61779 "Route Traffic to Storage Account via Azure Firewall"
I'm utilizing azure firewall network rule to allow traffic to storage servcie tag.

My question is when I configure from storage account firewall rule to only allow selected network, will it block the traffic routed via my Azure firewall?

screenshot for my azure firewall rule,
![image](https://user-images.githubusercontent.com/25850020/91675373-199ad800-eb0a-11ea-825b-cf332ad400b9.png)

[Enter fe

[2020-08-31 02:49] SnehaAgrawal-MSFT commented on #61499
@epomatti We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion.

[2020-08-31 02:49] #61499 closed

[2020-08-31 02:50] #61652 closed

[2020-08-31 03:15] surajmb commented on #55962
Hi @spaelling , we have a documentation for the primary purpose of override hostname (rewriting host header when sending the request to the backend server) - https://docs.microsoft.com/en-us/azure/application-gateway/configuration-overview#host-name-override

However, since the question in case is for End to End SSL, yes, if you want to specifically allow a backend based on certificates, hostname

[2020-08-31 03:17] AshokPeddakotla-MSFT commented on #61423
@prachandabhanu Thanks for the confirmation and providing feedback on the UserVoice entry.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

![image](https://user-images.githubusercontent.com/44426435/91679465-0158a680-eb66-11ea-9cab-e48eb5851510.png)

[2020-08-31 03:17] #61423 closed

[2020-08-31 03:19] robvet opened #61780 "Create From OpenAPI Spec"
Heads up. The Create From OpenAPI Spec in this MSFT Doc is outdated.

The fields don't align.

Spent time working through the confusion.

Please update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76ca8cff-348b-5595-1c3a-f319d606f82e
* Version Independent ID: 5930a3f8-45f7-e782-f917-0235601f873b
* Content: [Import a

[2020-08-31 03:23] ram-msft commented on #61776
@BeigeBadger Thanks for the feedback and raising the PR. We will update you shortly.

[2020-08-31 03:29] VikasPullagura-MSFT commented on #61587
@tdevopsottawa As this is not a document issue, I am proceeding to close the issue.

However, I have answered your issue on [Q&A Forum](https://docs.microsoft.com/en-us/answers/questions/77929/index.html), and you can add comments or continue the discussion on the Q&A thread.

[2020-08-31 03:29] #61587 closed

[2020-08-31 03:39] pnarsi opened #61781 "More Details around Network Security"
This is a very interesting feature. In the context of our organization it would potentially save us a lot of effort around deploying and managing individual SHIR VM for all of our ADF environments.

I believe that this article does need some additional details around Network security specifically around what incoming and outgoing management traffic is required for the VNET for this solution to wor

[2020-08-31 03:43] GitaraniSharma-MSFT commented on #61654
@nezoic , could you please provide an update on this issue?
Kindly let us know if the above helps or you need further assistance.

[2020-08-31 03:58] ram-msft commented on #61469
@jhirono Could you please comment on the Azure firewall's network rules setup.

[2020-08-31 04:08] KrishnaG-MSFT commented on #61775
@V4A001 Thanks for your comment! We will review and provide an update as appropriate.

[2020-08-31 04:13] KrishnaG-MSFT commented on #61774
@avbhaskar Thanks for the feedback.
Assigning content author @stevevi for visibility, review and document enhancement consideration as appropriate.

[2020-08-31 04:36] MayankBargali-MSFT commented on #61773
@prasadreddym1 Thank you for your feedback! We will review and update as appropriate.

[2020-08-31 04:52] SwathiDhanwada-MSFT commented on #61549
@akhalid111 Just following up to check if you had chance to check my previous comment.

[2020-08-31 04:53] SwathiDhanwada-MSFT commented on #61556
@Mahesh-MSFT Just following to check if you need further assistance on the issue.

[2020-08-31 04:55] PramodValavala-MSFT commented on #61617
@ttime007 Just following up here to see if there is a specific doc that you are referring to here?

[2020-08-31 04:55] PramodValavala-MSFT commented on #61695
@arvindr9 Just following up here to see if there is a specific doc that you are referring to here?

[2020-08-31 04:56] MayankBargali-MSFT commented on #61773
@prasadreddym1 Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2020-08-31 04:56] #61773 closed

[2020-08-31 05:24] bingosummer commented on #61422
Waiting for @andreasmarx to provide more information.

[2020-08-31 05:26] VikasPullagura-MSFT commented on #61422
@andreasmarx Can you please provide the requested detail for better assist on you the issue.

[2020-08-31 05:40] SubhashVasarapu-MSFT commented on #61393
@RonnieQuan, Appreciate your patience. We have assigned this issue to the respective PG for better assistance.

[2020-08-31 05:51] BharathNimmala-MSFT commented on #61570
@cveld Thank you for your query , below is the information on how the data being stored in Application Insights. Please review the information and let us know if you have further information.

Thanks to John Gardner for answering the similar query on [Stack Overflow](https://stackoverflow.com/questions/38501777/how-the-data-being-stored-on-application-insights), so resurfacing the same information

[2020-08-31 05:59] SadiqhAhmed-MSFT commented on #61700
@shivalagarwal Thanks for sharing your valuable feedback.

@dcurwin Thanks for being super active and updating the documentation.

[2020-08-31 05:59] #61700 closed

[2020-08-31 06:03] hem-sharma opened #61783 "Function app' APIs import in Azure pipeline."
As mentioned on the document for importing all APIs available in function apps, Can the same is feasible in the Azure pipeline to automate it.

Can someone from the team provide info regarding that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0b38af1-81e7-341a-d7bf-e471ea7585e5
* Version Independent ID: 6d16fd43-24

[2020-08-31 06:09] Kundan9 commented on #61587
I also tried to deploy it through ARM template and getting the strange subnet id error, my subnet resource id is perfectly fine and returning the proper string but not sure why is showing this error for AKS deployment. Kindly let me know if you find the solution.
I am deploying the private cluster

[2020-08-31 06:11] SadiqhAhmed-MSFT commented on #61767
@jitendra-25 The behavior you have noticed is unexpected. You may want to try PowerShell or REST API. If you are able to re-produce the issue then that would be a request better handled by Azure technical support team. I would recommend reaching out to support team through a support request.

[2020-08-31 06:16] SadiqhAhmed-MSFT commented on #61670
@NickatTheta You can use the following instructions associate the service principal.

C:\> Connect-AzAccount -TenantId XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX

              Use the service principal when the login prompt shows up.

C:\> new-AzManagementPartner -PartnerId

Let us know if it works, we will go ahead and update the documentation.

[2020-08-31 06:21] VikasPullagura-MSFT commented on #61587
@Kundan9 I would recommend to open a support case to troubleshoot it. If you have a support plan, requesting you to file a support ticket, else please do let us know, we will try and help you get a one-time free technical support.

[2020-08-31 06:24] psmanhas commented on #61637
@larrywa As per our discussion I will now go ahead and close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

Thanks

[2020-08-31 06:24] #61637 closed

[2020-08-31 06:25] psmanhas commented on #61222
@darrenjoycenz Hope the provided information was helpful.Do let us know in case of any more queries.

[2020-08-31 06:27] psmanhas commented on #61650
@elhoo Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-08-31 06:27] #61650 closed

[2020-08-31 06:32] KrishnaG-MSFT commented on #61465
Assigning content author @stephbaron for visibility, review and document enhancement consideration as appropriate.

[2020-08-31 06:34] Kundan9 commented on #61587
can you please help me with one time free support

[2020-08-31 06:52] jaspkaur28 commented on #44336
PG team is currently working on other high priority items . Please expect a response to it by Q4 CY20.

[2020-08-31 06:54] CHEEKATLAPRADEEP-MSFT commented on #61450
@claurean Could you try to replace the primary region url with the secondary region url and try to access the storage account in notebook?

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-08-31 06:54] #61450 closed

[2020-08-31 06:58] J0F3 opened #61785 "Monitoring Contributor Role missing permissions for ARM deployments"
The "Monitoring Contributor" Role , in contrast to the "Log Analytics Contributor”  Role, does not have any permissions on the  “Microsoft.Resources/deployments/*” actions and can therefore not start any ARM Deployments. This is especially an issue when the Role is used in an Azure Policy with the "DeployIfNotExists" effect.

Are these actions missing from the Role by intent? In my opinion it is a

[2020-08-31 07:04] dcurwin commented on #61697
Brazil South is supported. I've updated the document.

Thanks for your question.

#please-close

[2020-08-31 07:04] #61697 closed

[2020-08-31 07:04] VikasPullagura-MSFT commented on #61587
@Kundan9
Pelase send an email to AzCommunity[at]Microsoft[dot]com referencing this [thread](https://github.com/MicrosoftDocs/azure-docs/issues/61587) as well as your subscription ID. Please mention "ATTN: Vikas" in the subject line.

[2020-08-31 07:09] kaushik-i-b opened #61786 "Gettin forbidden error while trying to create database or container"
![Capturecosomosdb](https://user-images.githubusercontent.com/23352836/91692390-f104f380-eb86-11ea-9519-958d5d1bc5af.PNG)
Hi i'm trying to create a database container through the emulator. I'm getting the error quite often

[2020-08-31 07:10] andreasmarx commented on #61422
Hi. Sorry for getting back to you so late. I deployed another Cluster end of last week and it worked without enabling the feature. Maybe there changed something during the time between my two deployments. I think we can close this issue for now. Thanks again for your help. Best regards Andreas

[2020-08-31 07:12] VikasPullagura-MSFT commented on #61422
@andreasmarx Thanks for confirming on this.

[2020-08-31 07:12] #61422 closed

[2020-08-31 07:15] HarithaMaddi-MSFT commented on #61781
@pnarsi - Thanks for sharing valuable feedback. I am moving it to content owner to look into it and share the thoughts.

@nabhishek - Can you please take a look?

[2020-08-31 07:19] VikasPullagura-MSFT commented on #61725
@jetomer
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-08-31 07:19] VikasPullagura-MSFT commented on #61725
@divka78
Can you please check and add your comments on this doc update request as applicable.

[2020-08-31 07:33] RohitMungi-MSFT commented on #61741
@Cook-code While creating a data labeling project there is an option to include dateset types that are supported as seen below, this does not include the tabular datasets as this is the output from the data labeling project which can be used in your experiments like an automl project.

While creating data labeling project:

![image](https://user-images.githubusercontent.com/46958063/91693687-0a0ea

[2020-08-31 07:37] 12wzy opened #61787 "Can not migrate the groups and users-groups relationship to SAP IdP from Microsoft AD"
Hi,

I want to synchronize the users’ and groups’ information from Microsoft Azure AD to SAP Cloud Platform IAS. Then I did some configuration followed this guide: https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/sap-cloud-platform-identity-authentication-provisioning-tutorial

What I did:
1. Create an Enterprise Application based on SAP Cloud Platform Identity Authentication;
2.

[2020-08-31 07:40] IgnacioAlvarezArenas opened #61788 "Backup for SQL Server is not supported if you aim the Failover Group FQDN"
We would like to add into the restrictions of the Backup for SQL Server that it does not really work if you use an FQDN of a Failover Group instead of aiming the main database. Here is an example:

The following example works as you aim the database name in the connection string: Data Source=tcp:ignaciosqlne.database.windows.net,1433;Initial Catalog=ignaciodatabasene;User ID=*****;Password=*****

[2020-08-31 07:44] JayaChatterjee-MSFT commented on #61743
@AndyRB Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2020-08-31 07:46] #61743 closed

[2020-08-31 07:48] CHEEKATLAPRADEEP-MSFT commented on #61704
@vick-git, Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-08-31 07:51] CHEEKATLAPRADEEP-MSFT commented on #61641
@ruixinxu, Could you please review the PR and approve?

[2020-08-31 07:52] CHEEKATLAPRADEEP-MSFT commented on #61745
@genegc  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2020-08-31 07:52] #61745 closed

[2020-08-31 07:59] 12wzy commented on #61787
Here is the related audit log:
[code]

[2020-08-31 08:11] Kundan9 commented on #61587
Thanks Vikas,
I have support plan , raised the ticket using that.

[2020-08-31 08:12] arseyam opened #61789 "Failed to create or update action group"
I'm not able to create an action group from the portal due to a policy restricting the location to West Europe but I'm not able to select a location for the action group!

Also, I've disabled the policy assignment and still getting the same error.

The error message: Failed to create or update action group 'ActionGroupName'. Error 'Resource 'ActionGroupName' was disallowed by policy. Policy identi

[2020-08-31 08:31] azdemmo opened #61790 "ERROR - Could not find any file matching the template file pattern"
[Enter feedback here]
ERROR -  I followed exact steps mentined in this document but  getting  below error -

##[error]Check out the troubleshooting guide to see if your issue is addressed: https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-resource-group-deployment?view=azure-devops#troubleshooting
##[debug]Processed: ##vso[task.issue type=error;]Check out the troubleshooti

[2020-08-31 08:51] RohitMungi-MSFT commented on #61734
@SteveMSFT @erhopf FYI.
@n12nja Could you please confirm the version of the SDK used?

[2020-08-31 08:54] csjn opened #61791 "Google Chrome: SSO in Incognito yes or no?"
The section "Known browser limitations" speaks about Mozilla Firefox, Microsoft Edge and Microsoft Edge based on Chromium. Google Chrome is also based on Chromium. Does Google Chrome do have the same limitations like Microsoft Edge based on Chromium or not?

_Known browser limitations
Seamless SSO doesn't work in private browsing mode on Firefox and Microsoft Edge browsers. It also doesn't work on

[2020-08-31 08:55] GowthamDisys commented on #61690
Hi @Grace-MacJones-MSFT ,

I am following the below MSFT docs for training form recognizer with sample labeling tool.

https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/quickstarts/client-library?pivots=programming-language-csharp&tabs=windows

https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/quickstarts/label-tool?tabs=v2-0

[2020-08-31 09:05] souravmishra-msft commented on #61459
@swiftPeter, I apologize for the delay in my response. I tried the steps and I too dont see the "Active Directory to Azure Active Directory Provisioning" to be available in Azure AD. I am working with the backend team for now to understand the reason, and I will update this thread as soon as I hear back.

[2020-08-31 09:06] lucidhwee opened #61792 "Updates needed for Region availability of Azure Container Instances"
[Enter feedback here]
Hello team,
please update info on the page for Region availability of Azure Container Instances.
https://docs.microsoft.com/en-us/azure/container-instances/container-instances-region-availability

For example, according to the product by region page(https://azure.microsoft.com/en-us/global-infrastructure/services/?products=container-instances), the service is provided in Kore

[2020-08-31 09:14] vipulsparsh commented on #61545
@NehaOberoi92 Follow up to see if you have any questions regarding this. Please let us know if you have any concerns.

[2020-08-31 09:14] SwathiDhanwada-MSFT commented on #61790
@azdemmo Thanks for your comment. We will review the issue and get back to you shortly.

[2020-08-31 09:31] VikasPullagura-MSFT commented on #61792
@lucidhwee
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-08-31 09:31] VikasPullagura-MSFT commented on #61792
@dlepow
Can you please check and add your comments on this doc update request as applicable.

[2020-08-31 09:46] gerrynicol commented on #27791
Hi there, did you get a resolution to this? I'm getting the same issues and have the same level of access you have specified. I'm using the arm based WVD spring update

[2020-08-31 10:17] PramodValavala-MSFT commented on #61561
@gmassari-88 I've tried generating a PFX using `AES256_SHA256` and uploaded it to APIM without any issues. Could you share the exact error that you are seeing?

Also, here is the encryption details of the PFX that I used by running this command - `openssl pkcs12 -info -in <path/to/pfx/file> -noout`

[code]

[2020-08-31 10:25] azdemmo commented on #61790
Hello Swati ,

Do you have any  SLA/Timeline to resolve this issue.

Regards
Vinay Arya

________________________________
From: SwathiDhanwada-MSFT <notifications@github.com>
Sent: 31 August 2020 14:45
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: azdemmo <azdemmo@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] ERROR - Could not find an

[2020-08-31 10:30] NehaOberoi92 commented on #61545
This explanation seems fine to me, Thanks !

On Mon, 31 Aug 2020, 2:44 pm VipulSparshMSFT, <notifications@github.com>
wrote:

[2020-08-31 10:53] gmassari-88 commented on #61561
Specific error as extracted from ActivityLogs says `Password Incorrect`, quote down here.
[code]
Cert details, from the same openssl command you mentioned:
[code]
Now, before everyone here claims PEBKAC, I had the pass stored in a clip from Powershell, and was able to use that same cert and pasted password to test the import locally. I also pasted the unencripted password into azure portal.
If it

[2020-08-31 11:11] joostm1 opened #61793 "Split reservation"
[Enter feedback here]
[Here](https://docs.microsoft.com/en-us/azure/cost-management-billing/reservations/manage-reserved-vm-instance#reservation-order-and-reservation) is explained that changes to reservations create new reservations under an existing Reservation Order.

What is not clear [here](https://docs.microsoft.com/en-us/azure/cost-management-billing/reservations/manage-reserved-vm-instance

[2020-08-31 11:19] GiftA-MSFT commented on #61604
@trevorbye please update examples accordingly to v3 API. Thanks.

[2020-08-31 11:21] ruixinxu commented on #61250
ACK

[2020-08-31 11:21] amanmcse commented on #61769
@thomas-chizek From your statement, I understood that you want to know **how to make your locally running application use that app id**?

The answer to that is, there is no standard procedure to do that as it completely depends on the language used to develop your application and the type of your application e.g. web/native/api etc. Which is why it is not possible to document these steps in a sing

[2020-08-31 11:25] amanmcse commented on #61672
@pjirsa The login.microsoftonline.com endpoint is being deprecated for B2C functionality and not for the Shared AAD functionality.  Which means, you won't be able to call B2C user flows/ custom policies with login.microsoftonline.com endpoint. However, the standard AAD features of B2C tenant would still be available with this endpoint.

[2020-08-31 11:25] #61672 closed

[2020-08-31 11:25] PramodValavala-MSFT commented on #61780
@robvet The table seems to have the correct fields as seen in the portal. Could you elaborate on the exact differences that you are referring to?

[2020-08-31 11:27] amanmcse commented on #61679
Assigned to author to review and update the document.

[2020-08-31 11:33] thomas-chizek commented on #61769
Never mind, I poked at things until I worked it out for myself. It would
just be handy if the contents of pages matched the searches to find them -
I know not mostly your department, but still frustrating from this end of
the development loop.
Thanks for the response, though. I do appreciate it and the work you guys,
are doing. As much as I sometimes complain about your docs, they are orders
of ma

[2020-08-31 11:41] PramodValavala-MSFT commented on #61783
@hem-sharma The experience from the portal is a neat way to import existing Function Apps which is achieved by fetching the required details using relevant ARM REST APIs for Functions. While there is no built-in connector in Azure Pipelines for this, you could surely replicate the behavior by making the same series of REST APIs (mainly the [List Functions](https://docs.microsoft.com/en-us/rest/api

[2020-08-31 11:50] AshokPeddakotla-MSFT commented on #61717
@anastasia-ms  Doc has been updated accordingly.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-31 11:50] #61717 closed

[2020-08-31 11:51] SwathiDhanwada-MSFT commented on #61790
@azdemmo You might already checked this, but asking you to verify it again. Can you please check template file names that you have created matches with the name mentioned in the pipeline?

![image](https://user-images.githubusercontent.com/48976275/91717050-659f5880-ebae-11ea-8663-e7d1d56f7f9e.png)

[2020-08-31 11:52] PramodValavala-MSFT commented on #61656
@akdracarys Thanks for catching that! Based on the [REST API Spec](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/logic/resource-manager/Microsoft.Logic/stable/2019-05-01/logic.json#L8983), it is indeed `value` and not `values`. I have corrected my comment in the issue that you've linked and I've also raised a PR for the doc, which once merged should reflect in a couple of

[2020-08-31 12:20] viktors-telle opened #61794 "Connect-ServiceFabricCluster : FABRIC_E_CONNECTION_DENIED: CertificateNotMatched"
Hi,

I followed the guide here https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-connect-to-secure-cluster#connect-using-certificate-common-name to connect to Service Fabric cluster via certificate common name.
Unfortunately, I get this error message after executing the `Connect-ServiceFabricCluster` function.

`Connect-ServiceFabricCluster : FABRIC_E_CONNECTION_DENIED: Certific

[2020-08-31 12:25] AshokPeddakotla-MSFT commented on #61309
@JiudanZheng Does that answer your query? We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-31 12:25] #61309 closed

[2020-08-31 12:27] azdemmo commented on #61790
Yes,  I followed exact steps   including  Ovveride Template Parameter Details

[2020-08-31 12:39] ram-msft commented on #61786
@kaushik-i-b Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2020-08-31 12:43] n12nja commented on #61734
Microsoft.Azure.CognitiveServices.Vision.Face 2.6.0-preview.1

[2020-08-31 12:44] ram-msft commented on #61789
@arseyam Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2020-08-31 12:47] joerage commented on #60272
Hi James,

some clarification regarding this thread.

First, a user does not need permission to add a lock on the virtual network. User only needs write permission on that virtual network (as the error message points out).

Resource locking (and a bunch of other operations) is executed by the Azure Lab Services identity. That identity has the correct permissions to complete the operation.

Now, wh

[2020-08-31 12:53] SadiqhAhmed-MSFT commented on #61793
@joostm1 Thanks for the question. We are investigating this issue and will get back to you shortly.

[2020-08-31 12:53] azaricstefan commented on #61558
@HarithaMaddi-MSFT can you close this issue?

[2020-08-31 12:56] jhauray opened #61795 "Missing application redirect or calback url template"
Authenticate App Service with an OpenID Connect provider identity is a great feature!

But, to register an application with an OIDC provider, the application redirect url is required.

In this doc page, it could interesting to add a template for this url with the required path, in section [Register your application with the identity provider](https://docs.microsoft.com/en-us/azure/app-service/conf

[2020-08-31 12:57] HarithaMaddi-MSFT commented on #61558
@martenlindblad - I am moving to closing this issue. Please feel free to comment in case of any queries.

@azaricstefan - Thank you for taking a look at the issue.

[2020-08-31 12:57] #61558 closed

[2020-08-31 13:06] genegc commented on #61745
I was able to find a solution over the weekend - and I think the answer leads to a change needed in this doc.

The answer to my issue is that I need to use the Synapse API for this - https://docs.microsoft.com/en-us/rest/api/synapse/sqlpools

Since this doc is about "REST APIs for managing compute in Azure Synapse Analytics data warehouse." it's important to mention the [Azure Synapse Analytics RE

[2020-08-31 13:08] SumanthMarigowda-MSFT commented on #61779
@RonnieQuan I'd recommend posting your question in https://docs.microsoft.com/en-us/answers/topics/azure-storage-accounts.html  since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-31 13:08] #61779 closed

[2020-08-31 13:10] mutazn commented on #60150
@BhargaviAnnadevara-MSFT  We are still facing this issue for some users, https://shell.azure.com cannot be accessed neither from Azure portal or directly.

![image](https://user-images.githubusercontent.com/32297719/91723407-616e3d80-eba4-11ea-9735-c2ec1d4da80b.png)

[2020-08-31 13:12] HarithaMaddi-MSFT commented on #61580
@bilak - Yes, parameterization of Key Vault URL is also possible as below. This can be done from linked service for Key Vault as below, I tested and it worked for me. Please let us know if it helps and for any further queries.
![KeyVaultParameterization](https://user-images.githubusercontent.com/61235246/91723609-a486db80-ebb9-11ea-9f2a-e99446dad1e2.PNG)

[2020-08-31 13:14] craigshoemaker commented on #51194
Apologies to all for the difficulty you've each had surrounding using the Graph bindings. This binding is now officially deprecated, but you can find updated guidance on how to work with Azure Functions and Microsoft Graph in the recently-published [Build Azure Functions with Microsoft Graph](https://docs.microsoft.com/en-us/graph/tutorials/azure-functions) tutorial.

#please-close

[2020-08-31 13:14] #51194 closed

[2020-08-31 13:16] craigshoemaker commented on #42714
Apologies for the difficult time you've had working with the table name and for such a delayed response.

This binding is now officially deprecated, but you can find updated guidance on how to work with Azure Functions and Microsoft Graph in the recently-published [Build Azure Functions with Microsoft Graph](https://docs.microsoft.com/en-us/graph/tutorials/azure-functions) tutorial.

#please-close

[2020-08-31 13:16] #42714 closed

[2020-08-31 13:16] craigshoemaker commented on #37976
This binding is now officially deprecated so no new languages samples are being added, but you can find updated guidance on how to work with Azure Functions and Microsoft Graph in the recently-published [Build Azure Functions with Microsoft Graph](https://docs.microsoft.com/en-us/graph/tutorials/azure-functions) tutorial.

#please-close

[2020-08-31 13:16] #37976 closed

[2020-08-31 13:18] craigshoemaker commented on #31089
Apologies to all for the difficulty you've each had surrounding using the Graph bindings and for the delayed response. This binding is now officially deprecated, but you can find updated guidance on how to work with Azure Functions and Microsoft Graph in the recently-published [Build Azure Functions with Microsoft Graph](https://docs.microsoft.com/en-us/graph/tutorials/azure-functions) tutorial.

[2020-08-31 13:18] #31089 closed

[2020-08-31 13:20] kaushik-i-b commented on #61786
I didn't referred any documentation. I emulator downloaded from [https://aka.ms/cosmosdb-emulator](https://aka.ms/cosmosdb-emulator). I got the issue when i tried to create database. I got the issue.

[2020-08-31 13:26] shashishailaj commented on #61791
@csjn Thank you for your feedback . We will investigate this and update the thread.

[2020-08-31 13:28] AshokPeddakotla-MSFT commented on #61446
@ksaye Does that answer your question? Do let us know if you are still blocked.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-31 13:28] #61446 closed

[2020-08-31 13:28] RonnieQuan commented on #61779
@SumanthMarigowda-MSFT
Thank you for the follow up, I have posted question
https://docs.microsoft.com/en-us/answers/questions/81989/route-traffic-to-storage-account-via-azure-firewal.html

[2020-08-31 13:28] craigshoemaker commented on #21614
Unfortunately binding is now officially deprecated, but you can find updated guidance on how to work with Azure Functions and Microsoft Graph in the recently-published [Build Azure Functions with Microsoft Graph](https://docs.microsoft.com/en-us/graph/tutorials/azure-functions) tutorial.

#please-close

[2020-08-31 13:28] #21614 closed

[2020-08-31 13:29] AshokPeddakotla-MSFT commented on #61724
@suterma Thanks for the feedback. Assigning the issue to the content author @wesmc7777  to evaluate and update as appropriate.

[2020-08-31 13:34] arkiaconsulting commented on #38914
@JQUINONES82 I'm afraid not for hosted agents. From your link:

[2020-08-31 13:34] shashishailaj commented on #61787
@12wzy Thank you for your query. We use the Azure Docs repository for fixing any error in documentation and collect feedback for the same. In your case deeper troubleshooting is required to understand the issue, I would suggest you to open a thread on [Microsoft QnA](https://docs.microsoft.com/en-us/answers/index.html) and we will help you get answered. We do not use this github repo for product i

[2020-08-31 13:35] shashishailaj commented on #61787
We will now close this issue as there is nothing further to be done related to the documentation on this.

[2020-08-31 13:35] #61787 closed

[2020-08-31 13:35] amanmcse commented on #61460
@1337777 Could you please try below steps and confirm If you are facing the same issue.

1. Create an app under app registration with redirect uri "https://jwt.ms" and copy the App ID.
2. Configure User flow under Azure Active Directory > External Identities with the application that you have created.
3. Construct below request and paste in in-private/incognito browser window and click on "sign-in

[2020-08-31 13:35] #61460 closed

[2020-08-31 13:36] #61769 closed

[2020-08-31 13:36] ebwinters commented on #61729
@kobulloc-MSFT PR has been linked to the issue for ease of investigation/fix

[2020-08-31 13:39] tfitzmac commented on #61653
@HughDevlin - thanks for this feedback. It's not possible to use a parameter file with the portal blade. I am adding that info to the article, which should be updated today.

[2020-08-31 13:44] #61653 closed

[2020-08-31 13:50] souravmishra-msft commented on #61550
@AmitavaHazra, You cannot add any more MFA providers to Azure post 1 Sept 2018, as listed [here.](https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-mfa-authprovider). Already added Auth-providers would work but no new providers can be added.

Regarding the second point, enforcing would mean only keeping that option checked and rest options unchecked. Or Else, all optio

[2020-08-31 13:56] pazdedav commented on #24808
Yes @marvhen . I found a [reference](https://docs.microsoft.com/en-us/azure/automation/automation-update-azure-modules) in the docs, explaining that 'global modules' (which includes `AzureRM`) cannot be removed from automation accounts. It is quite disappointing that `Az` modules are still not considered as a standard for newly created automation accounts.

I imported the update runbook (described

[2020-08-31 14:11] tfitzmac commented on #61713
You can it to any markdown or html file. Pass in the publicly accessible URL to the raw contents of the template.

[2020-08-31 14:11] tfitzmac commented on #61713
#please-close

[2020-08-31 14:11] #61713 closed

[2020-08-31 14:16] RyanHill-MSFT commented on #61795
Thanks for the feedback @jhauray! We are currently investigating and will update you shortly.

[2020-08-31 14:16] RyanHill-MSFT commented on #61788
Thanks for the feedback @IgnacioAlvarezArenas! We are currently investigating and will update you shortly.

[2020-08-31 14:17] vishiy commented on #61538
Based on the 406 response that you are seeing, below should help. Below is our ACCEPT header –

application/vnd.google.protobuf;proto=io.prometheus.client.MetricFamily;encoding=delimited;q=0.7,text/plain;version=0.0.4;q=0.3

As of Prometheus 2.0, anyone exposing Prometheus metrics, have to use text-based format – Please see below for further reference.

https://prometheus.io/docs/instrumenting/exp

[2020-08-31 14:20] jaboutboul commented on #61727
This is the output from az vm update --help. Just for additional reference.

 --write-accelerator   : Enable/disable disk write accelerator. Use singular value 'true/false'
                            to apply across, or specify individual disks, e.g.'os=true 1=true
                            2=true' for os disk and data disks with lun of 1 & 2.

[2020-08-31 14:20] HughDevlin commented on #61713
Thank you for your reply.

Does a markdown or html file included in an Azure DevOps Repository present as markdown or html in the Azure DevOps portal, so that a Deploy to Azure button is clickable?

[2020-08-31 14:31] KalyanChanumolu-MSFT commented on #41350
@Leonardo-Ferreira I will follow up internally and check if this is officially supported yet.
The [UserVoice item](https://feedback.azure.com/forums/217321-sql-database/suggestions/38631850-enable-serverless-feature-via-arm-template) is still open though.

Tagging @CarlRabeler @stevestein @oslake to provide any updates on this.

[2020-08-31 14:45] ksaye commented on #61446
@AshokPeddakotla-MSFT  Thanks, that did fix it.  I think the following document need to be changed: https://docs.microsoft.com/en-us/azure/digital-twins/how-to-set-up-instance-portal, as it instructs to use the web authentication no the mobile / desktop.

[2020-08-31 14:47] SwathiDhanwada-MSFT commented on #61785
Assigning to content author @johnkemnetz for inputs.

[2020-08-31 14:48] RyanHill-MSFT commented on #61706
Can you be more specific as to which picture is out of date @TonyScarpelli?

[2020-08-31 14:50] msjuergent commented on #61421
@prasroy
What in specific seems not to be correct in the document?

[2020-08-31 14:56] TomGeske commented on #60461
It's basically node traffic to API server. Everything remains the same.

Today we have this one:

Do you think we should add further context? I would rather prefer not to call out specific other FQDNs in private cluster doc due to maintainability reasons.

[2020-08-31 15:01] prasroy commented on #61421
I am just curious how 4 x P6 would be enough for a data disk when SAP's high level (Not a official one)  recommendation to have at least two dimes of RAM size as data disk. I see from IOPS point of view it will be definitely  green for HWCCT checks but from data stands I think they are too small. Finally I agree that these storage configurations are just not written in stone but may be some custom

[2020-08-31 15:15] singhnishant40 opened #61798 "Benefits of linking Azure B2C tenant to Azure subscription"
['Create an Azure AD B2C tenant' section talks about the benefit of linking B2C tenant to Azure Subscription i.e. Billing purposes. However, it doesn't state that the linking is required for Support, Billing, and using Custom Policies as well.  If no subscription is linked to Azure AD B2C, the Identity Experience Framework option will be greyed-out
![image](https://user-images.githubusercontent.co

[2020-08-31 15:21] SumanthMarigowda-MSFT commented on #61602
@shraboin Apologies for delay in responding here! Your feedback has been shared with the content owner for further review.

[2020-08-31 15:22] SumanthMarigowda-MSFT commented on #61626
@robs Apologies for delay in responding here! Your feedback has been shared with the content owner for further review.

[2020-08-31 15:30] baanders commented on #61446
Thank you, @ksaye! You are correct. Updating the instructions in this PR to the doc: [#127805](https://github.com/MicrosoftDocs/azure-docs-pr/pull/127805)

[2020-08-31 15:30] zr-msft commented on #54987
per the comment from @sakthi-vetrivel, closing the issue.

#please-close

[2020-08-31 15:30] #54987 closed

[2020-08-31 15:30] zr-msft commented on #55903
per the comment from @sakthi-vetrivel, closing the issue.

#please-close

[2020-08-31 15:30] #55903 closed

[2020-08-31 15:32] shraboin commented on #61602
Sorry I was not directly clear. The addition suggestion was to add the information related to ZRS to the archive tier page found here: https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-storage-tiers?tabs=azure-portal#faq

[2020-08-31 15:35] craigshoemaker commented on #61219
Yes, the PowerShell samples for the bindings ref docs is in the works. I'll update and close this issue once we publish the updated samples.

[2020-08-31 15:44] MarileeTurscak-MSFT commented on #61798
@singhnishant40
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-31 15:46] DrYSG opened #61799 "missing link"
Optimization tips video is missing.

https://www.youtube.com/watch?reload=9&v=a2KtwUJngHo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf1bf12b-d61d-6af2-7198-23d77a74febd
* Version Independent ID: bee73c9c-b8d5-cfc5-4570-bf604504d83d
* Content: [Mapping data flow video tutorials - Azure Data Factory](https://docs.mi

[2020-08-31 15:49] stephen-cairns opened #61800 "Encryption Scope"
Can you help clear up some confusion please.  Within the documentation I notice a screenshot saying that **"setting access tier is not supported for customer key encryption"**.  This appears to be misleading as there is no mention in the documentation that access tiers (hot/cool/archive) are not supported along with customer encryption keys.  Certainly when I try this combination it seems to work

[2020-08-31 15:53] woodrum opened #61801 "Question regarding sequenced start stop"
Regarding the Sequenced Start-Stop by tagging, does each VM in the entire subscription need a different value, or can multiple VM's have a value of 1, then a few maybe a 2, etc.  Or do customers deploy the solution in multiple automation accounts in the same subscription and only reference 1 resource group per account to accommodate?  In this case, it's for a subscription that houses test VM's for

[2020-08-31 15:57] kwayda opened #61802 "Azure CDN from Verizon - outdated URL rewrite HOW-TO"
Hi,

Below-mentioned section is out of date and it seems to be a blocking issue to set-up URL rewrite to enable accessing private blob via SAS from Premium Verizon CDN.
https://docs.microsoft.com/en-us/azure/cdn/cdn-sas-storage-support#option-2-hidden-cdn-sas-token-using-a-rewrite-rule

URL Rewrite feature in current Rules Engine does not have drop downs with source and destination details (includ

[2020-08-31 16:06] #61728 closed

[2020-08-31 16:07] MashaMSFT commented on #56953
Hi @lonevvolf , my apologies, I'm not sure I understand, the above screenshot is from our documentation: https://docs.microsoft.com/azure/azure-sql/virtual-machines/windows/hadr-vnn-azure-load-balancer-configure?tabs=fci#configure-cluster-probe

Would you mind clarifying your request?

Thanks!
Masha from the SQL Docs team

[2020-08-31 16:10] lonevvolf commented on #56953
Please see the start of this issue.  It was reported directly in relation to setup for an FCI cluster.
https://docs.microsoft.com/en-us/azure/azure-sql/virtual-machines/windows/failover-cluster-instance-storage-spaces-direct-manually-configure
Perhaps that should link to the articles you are referencing?

[2020-08-31 16:16] eransamocha opened #61803 "Geo-Name Abbreviations missing"
The article references how the geo-name abbreviations need to be in place for the URL requests. The problem is that nowhere in the online documentation are these listed. I did finally find a lite of them from an online blog by a random user, so I cant attest to the validity of all these, but feel like we should be including this in the documentation:

Geography | Country | Region | Code
-- | -- |

[2020-08-31 16:19] mlearned commented on #49228
@jder  I assume the steps have changed, as you can now choose an existing Azure DevOps project.

#please-close

[2020-08-31 16:19] #49228 closed

[2020-08-31 16:22] kobulloc-MSFT commented on #61799
@DrYSG Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-08-31 16:23] jvaught48 commented on #27791
I opened a case with Microsoft Partner Support, which has been trickling along at a snail's pace. They have told me they are overloaded with cases since the big marketing push and rollout of WVD. There are some issues such as this one which they don't fully understand, because everything is setup as it should be, yet still doesn't work (as we already know).
It appears my user no longer has the RDS

[2020-08-31 16:23] djpmsft commented on #54530
Hey @kirikintha ,

There is no way to delete resources without using the powershell script. You can always remove this element from the script when you run it.

Best,
Daniel

As this is answered, I am going to go ahead and close this issue. Feel free to continue commenting

#please-close

[2020-08-31 16:23] #54530 closed

[2020-08-31 16:26] ad-alt opened #61804 "Add notification that Azure AD auth currently only works on Windows 10"
Azure AD authentication requires the Azure VPN Client which is only available for Windows 10. People with other OSs such as MacOS, iOS, Linux, and Android do not have a clearly stated notification that Azure AD auth is not supported on their operating system.

This can lead to many lost hours in planning, attempting implementation, and troubleshooting if using unsupported OS with Azure AD auth.

T

[2020-08-31 16:28] tfitzmac commented on #61713
Yes, I added a README.md file with the button. Under Preview, the button worked as expected.

[2020-08-31 16:33] #47469 closed

[2020-08-31 16:33] dannyevers opened #61805 "Minor issues with Plans and Pricing for commercial marketplace offers"
Issue 1:
In the last sentence of the second paragraph, delete "ing" from the word "including.

![image](https://user-images.githubusercontent.com/62076972/91743224-5697b680-eb6c-11ea-87bb-ef1168680d88.png)

Issue 2:
In the Plan information section, in the last sentence of the Plan description bullet point, change the word "and" to "as".
![image](https://user-images.githubusercontent.com/62076972/9

[2020-08-31 16:34] zr-msft commented on #47469
thank you @dcbrown16 for the feedback.

I've updated the article to address your feedback and the changes should be available soon.

[2020-08-31 16:40] MashaMSFT commented on #56953
@lonevvolf, I have linked the article I am referencing both times :(

it's this one: https://docs.microsoft.com/en-us/azure/azure-sql/virtual-machines/windows/hadr-vnn-azure-load-balancer-configure?tabs=fci#configure-cluster-probe

There is a section there about the configuring the cluster probe, which is how you associate the private FCI IP with the load balancer:
![image](https://user-images.git

[2020-08-31 16:46] kobulloc-MSFT commented on #61799
@DrYSG That video has been removed, but you can see the entire library of Azure Data Factory videos here:
https://www.youtube.com/channel/UC2S0k7NeLcEm5_IhHUwpN0g/videos

I'll update the documentation to remove the broken link.

[2020-08-31 16:49] DrYSG opened #61806 "missing link"
Optimization tips video is missing.

https://www.youtube.com/watch?reload=9&v=a2KtwUJngHo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf1bf12b-d61d-6af2-7198-23d77a74febd
* Version Independent ID: bee73c9c-b8d5-cfc5-4570-bf604504d83d
* Content: [Mapping data flow video tutorials - Azure Data Factory](https://docs.mi

[2020-08-31 16:51] DrYSG opened #61807 "is this link correct?"
All links on the page are for videos, except for:

Azure Integration Runtimes for Data Flows

which goes to the blog.

https://mssqldude.wordpress.com/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf1bf12b-d61d-6af2-7198-23d77a74febd
* Version Independent ID: bee73c9c-b8d5-cfc5-4570-bf604504d83d
* Content: [Mapping d

[2020-08-31 16:55] damienbod opened #61808 "app-service X509Chain does not load ChainElements"
When using Chained certificate with Azure App Services, the X509Chain does not load the chained certificates, just the certificate itself. Running locally this works. Is this because the root certificate of the chain is not trusted?

[code]
This would be very useful when using client/server certificates to do mtls or certification authentication.

Greetings Damien

[2020-08-31 16:55] dsindona commented on #61805
addressing in private repo #please-close

[2020-08-31 16:55] #61805 closed

[2020-08-31 17:00] craigshoemaker commented on #60812
This update is made. The live site will reflect these changes with the next refresh.

#please-close

[2020-08-31 17:00] #60812 closed

[2020-08-31 17:07] kobulloc-MSFT commented on #61799
@DrYSG The update should go live shortly.  Thank you for helping us to improve the documentation!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-08-31 17:07] #61799 closed

[2020-08-31 17:08] HarithaMaddi-MSFT commented on #61580
@bilak - I will proceed with closing the issue now. Please feel free to comment for any queries and we will be glad to assist.

[2020-08-31 17:08] #61580 closed

[2020-08-31 17:09] diberry commented on #60025
Without more information, I'm going to close this issue. Feel free to reopen with more details. #please-close

[2020-08-31 17:09] #60025 closed

[2020-08-31 17:10] diberry commented on #60654
@WashingtonKayaker These changes are [published](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/app-schema-definition#version-7x) so I'm closing issue. Feel free to reopen if you still have an issue with the content. #please-close

[2020-08-31 17:10] #60654 closed

[2020-08-31 17:12] KranthiPakala-MSFT commented on #61806
@DrYSG  Thanks for the feedback and bringing this to our attention. Since this a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/61799, we will now proceed to close this issue.

Thank you for helping us to improve the doc content.

[2020-08-31 17:12] #61806 closed

[2020-08-31 17:13] KranthiPakala-MSFT commented on #61807
@DrYSG
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-08-31 17:14] jhirono commented on #61469
Hello Eric,

yes, 443/80 should be enough. Thanks for your feedback and update doc appropriately.

[2020-08-31 17:19] YutongTie-MSFT commented on #61507
@imWildCat Hi, I can not reproduce your error with westus2 region, it works fine for me. Please let me know more details. Since this is no error with the document, I am closing this ticket.

![image](https://user-images.githubusercontent.com/38084098/91747658-71215e00-eb73-11ea-82a2-bab688cd8bab.png)
We will now proceed to close this thread. If there are further questions regarding this matter, pl

[2020-08-31 17:19] #61507 closed

[2020-08-31 17:24] kromerm commented on #61040
The managed VNet Azure IR in ADF does indeed include data flows. Your dataflows will execute inside a private VNET environment when using this feature.

[2020-08-31 17:26] ggailey777 commented on #55311
Thanks @mcollier. This has been a long-term goal, which has now been prioritized by Daria. I'm actually working on improvements now, and I'll loop you in for reviews.

[2020-08-31 17:30] HughDevlin commented on #61713
ok, thank you!

[2020-08-31 17:35] WinstonHoward-MSFT commented on #61727
I've made a PR to fix this, thanks for the doc issue @jaboutboul. I will be closing this issue now.

[2020-08-31 17:35] #61727 closed

[2020-08-31 17:37] banne01 opened #61811 "Correct path for Enclave Manager"
# Azure documentation issue guidance

'Sign into Enclave Manager' as we have not defined EM before in the doc.

Also, the link should point to https://em.fortanix.com as we are asking for sign up and not our website.

Add an application to Fortanix Enclave Manager
'Sign in to Fortanix Enclave Manager'

[2020-08-31 17:37] MonikaReddy-MSFT commented on #61808
@damienbod -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-08-31 17:38] MonikaReddy-MSFT commented on #61811
@banne01 -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-08-31 17:41] RyanHill-MSFT commented on #61723
@kayesmith94, I've made a PR to correct the doc to stating triggered jobs runs a on single instance. It *does not* scale out with web app instances.

[2020-08-31 17:42] banne01 commented on #61811
Hi Monika

![image](https://user-images.githubusercontent.com/2096005/91749522-70d69200-eb76-11ea-921c-8fa6f5adc53c.png)

In this section the link of "Fortanix EM" points to https://fortanix.com/ instead of https://em.fortanix.com .

Also we should use full word "Fortanix Enclave Manager" here as EM is not defined before.

[2020-08-31 17:42] #61723 closed

[2020-08-31 17:51] rgg-amahajan opened #61812 "Don't find item() function related information on this page?"
Where is the explanation for item().type, item().name etc?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: befd9a68-45a2-9105-1b1b-16bf792a2d73
* Version Independent ID: 2c2e1fa5-7824-5fe9-7382-bf5573a25be3
* Content: [System variables in Azure Data Factory - Azure Data Factory](https://docs.microsoft.com/en-us/azure/da

[2020-08-31 17:53] mmastersvz opened #61813 "What to do if there are issues with the upgrade?"
If there are issues upgrading AKS, how does one resolve this?
Example of possible issues:

- Upgrade fails

- After the upgrade other tools do not work with the newer AKS version.

Is there a back-out process?
Is there a process to drop down the AKS version to an older version (Ex  1.16.13 change to 1.15.12)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-08-31 17:54] danieljamescarpenter opened #61814 "Missing docs for DeploymentTemplate-Must-Not-Contain-Hardcoded-Uri"
There doesn't seem to be any docs about the DeploymentTemplate-Must-Not-Contain-Hardcoded-Uri test case in https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/test-cases.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09b0964f-2681-1293-5370-7e2cb03a2935
* Version Independent ID: 751c977d-2ab5-c304-

[2020-08-31 17:55] djpmsft commented on #61812
Hey @rgg-amahajan

You can find the item syntax in the for-each activity documentation: https://docs.microsoft.com/en-us/azure/data-factory/control-flow-for-each-activity#iteration-expression-language

Best,
Daniel

#please-close

[2020-08-31 17:56] #61812 closed

[2020-08-31 17:59] himanshusinha-msft commented on #61778
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2020-08-31 18:00] sivawebfunky opened #61815 "Azure KeyVault linked service error"
I am trying to connect ADF to an external SQL database (sitting in a different tenant) and stored the password as secret but when I try to use the option "Azure Key Vault" to use the AKV linked service I get the error below:

The document creation or update failed because of invalid reference 'grauatkeyvault'. This linked service you are trying to create contains secrets and has to be published im

[2020-08-31 18:05] himanshusinha-msft commented on #61794
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-08-31 18:06] RyanHill-MSFT commented on #61632
@karthikeyanVK, I'm referring to how you created the Azure SQL instance on Azure. Did you use Azure CLI or the portal? What steps did you do/follow to create?

[2020-08-31 18:06] himanshusinha-msft commented on #61800
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-08-31 18:08] rgg-amahajan commented on #61812
Will do, thank you for the swift response @djpmsft ! It might also help to make item() functions discoverable in the "Add dynamic content" blade.

[2020-08-31 18:08] himanshusinha-msft commented on #61801
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-08-31 18:10] himanshusinha-msft commented on #61802
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-08-31 18:12] himanshusinha-msft commented on #61803
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-08-31 18:14] himanshusinha-msft commented on #61804
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-08-31 18:14] Rick-Anderson opened #61816 "Remove logging in Startup"
Delete from intro:
ASP.NET Core supports a logging API that works with different kinds of built-in and third-party logging providers. Logging is done by calling Log() or a variant of it on ILogger instances.

Anyone coming to this article knows about ASP.NET Core logging, and if not, they should go to there.

Per MS style guide, It's should be `Log`, not **Log()**

Intro should be something like:

[2020-08-31 18:15] himanshusinha-msft commented on #61813
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2020-08-31 18:15] PatAltimore commented on #61766
Hi @pingpongset

Thanks for the feedback. When we write articles, we have to make a decision on if the intent is for a specific scenario (Quickstarts and Tutorials) or more generic (How to). We decided for this article to make it more generic so we could talk about lots of different scenarios. That's why it doesn't always give specifics. We were initially going to write a tutorial but it would hav

[2020-08-31 18:16] swigerb opened #61817 "Logs do NOT appear until function re-deployed"
We should add a Step 5 to the Setting Up section to re-deploy the function. When you follow the instructions EXPLICITLY, the logs do NOT get generated nor show in Application Insights as a table of data even after invoking the function directly. You MUST re-deploy the function.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-08-31 18:16] Leonardo-Ferreira commented on #41350
If not by ARM template, how can we create it via powershell?

[2020-08-31 18:24] stephbaron commented on #61465
Added missing entries. Backup is in preview and will be added once it passes the preview stage. Action groups should not be in the dropdown and will be removed.

[2020-08-31 18:28] MonikaReddy-MSFT commented on #61811
@banne01 - This doesnt look like an Azure Doc. Are you talking about any specific Azure Docs ? Since this forum is specifically for reporting feedback related to Azure Docs.

[2020-08-31 18:30] tfitzmac commented on #61730
@bakandah - thanks for this suggestion. I have added the delete commands to the article. The update should get published later today.

[2020-08-31 18:31] SubhashVasarapu-MSFT commented on #61429
@marcelkmfst, Appreciate your patience. We are working on adding the note to the doc and it would take some time for the edits to get reflect over the document.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-08-31 18:31] #61429 closed

[2020-08-31 18:42] BharathNimmala-MSFT commented on #61816
@Rick-Anderson Thanks a lot for bringing attention on this, assigned the issue to you for now and also added @mrbullwinkle for visibility on the same.

[2020-08-31 18:44] zzgzy commented on #61509
Hello, thank you very much for looking into this issue. Besides knowing the details about this error code, is it possible to get more context of why this error might happen?

[2020-08-31 18:45] BharathNimmala-MSFT commented on #61805
@dannyevers Thanks a lot for bringing this to our notice.

Thank you @dsindona for taking care of this issue.

[2020-08-31 18:50] BharathNimmala-MSFT commented on #61803
@eransamocha Thank you for your feedback and idea to enhance our Azure documentation. Assigning this issue to our document author @dcurwin to further evaluate the feedback and see how we can enhance this document or any other document to incorporate this information.

[2020-08-31 18:54] BharathNimmala-MSFT commented on #61814
@danieljamescarpenter Thank you for your feedback, our team will look into it and get back to you at the earliest.

[2020-08-31 19:07] MarileeTurscak-MSFT commented on #61484
Hi @Afsars12 ,

There's no design change that I am aware of. You can view this in the Windows settings on your device, as described in this article: https://docs.microsoft.com/en-us/azure/active-directory/user-help/user-help-join-device-on-network

![Uploading image.png…]()

If you are still having trouble with this feel free to create a new issue or reach out on Q&A. https://docs.microsoft.com/an

[2020-08-31 19:08] #61484 closed

[2020-08-31 19:08] SnehaGunda commented on #60784
Our dev team made a fix which will be rolling out to production around 09/08 week.

[2020-08-31 19:24] V4A001 commented on #61816
Thank you for catching up. I was stuck on "500.30 In-Process Startup Failure The worker process fails. The app doesn't start" in deploying to an already for more than 5 years running App service on .NET Framework.

Maybe the underlying idea is how to get a faster and easier understanding what is wrong. I had everything run 'in process on IIS Express' but not able to update my staging environment t

[2020-08-31 19:34] V4A001 commented on #61816
@Rick-Anderson : I now see your name on more documents. Thank you for writing very understandable information. Like this one:
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middleware/write?view=aspnetcore-3.1

A small suggestion that it would be helpful to get nu-get packages listed automatically so they can be added on the fly. Now I need to search a lot to find what to add to a proje

[2020-08-31 19:36] #61730 closed

[2020-08-31 19:51] dcurwin commented on #61803
@pvrk - Can you provide an authoritative list of regions and codes? We also need to decide where that list should be posted.

#reassign:pvrk

[2020-08-31 19:51] edburns opened #61818 "The article defines "app" and "deployment". It should also define "service""
The article defines "app" and "deployment".  It should also define "service".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5d79ddb-6dfd-f267-3cf6-e8938ccb4aae
* Version Independent ID: 53d54cd7-0fe8-6960-6d99-eceb79646fc0
* Content: [Understand app and deployment in Azure Spring Cloud](https://docs.microsoft.com/en-

[2020-08-31 19:52] edburns commented on #61818
Please assign me this issue.  I am proposing a small change.

[2020-08-31 19:52] DavidCBerry13 commented on #46471
I have updated the article to have the user create a data directory and then use the -datafileDestination option in the dbca command.  I verified this works across different versions of Oracle, so that should resolve this issue.  #please-close

[2020-08-31 19:52] #46471 closed

[2020-08-31 19:52] DavidCBerry13 commented on #55449
I have updated the article to have the user create a data directory and then use the -datafileDestination option in the dbca command.  I verified this works across different versions of Oracle, so that should resolve this issue.  #please-close

[2020-08-31 19:52] #55449 closed

[2020-08-31 19:53] DavidCBerry13 commented on #58992
I have updated the article to have the user create a data directory and then use the -datafileDestination option in the dbca command.  I verified this works across different versions of Oracle, so that should resolve this issue.  #please-close

[2020-08-31 19:53] #58992 closed

[2020-08-31 19:54] edburns commented on #61818
Iterating in https://github.com/edburns/azure-docs-pr/tree/edburns-msft-61818-define-service .

[2020-08-31 20:11] rolyon commented on #61495
Hi @michaelelleby
Thanks for your feedback. I haven't worked with capacity, but when I look at the API call, it appears that you must have permissions at a scope above subscription, maybe at the tenant level.
thanks

[2020-08-31 20:16] edburns commented on #61818
PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/127871

[2020-08-31 20:33] vhorne commented on #60728
added a couple examples to the paragraph
#please-close

[2020-08-31 20:33] #60728 closed

[2020-08-31 20:40] MartinJaffer-MSFT commented on #61350
Next I pointed at an item created as a gen2 item in the previous step.  Except this time I use a call to `https://xxxxx.blob.core.windows.net/xxxx/fol1/subGen2.txt`.  When I do a GET the file is read, but when I do a PUT to overwrite it, I get 404 not found.

Next I do similar, but pointing at an item created as blob in the previous step, and calling the dfs.core.windows.net endpoint for it.  I am

[2020-08-31 20:42] MartinJaffer-MSFT commented on #61350
Thank you for asking me to look into this, @shraboin .  Given the difference between my experience, and the document I highlighted, I will assign this to author for updating as appropriate.

[2020-08-31 20:45] MarileeTurscak-MSFT commented on #60313
@VikramPendse the overviews for these services discuss how to access the resources.

https://docs.microsoft.com/en-us/azure/private-link/private-link-overview

https://docs.microsoft.com/en-us/azure/bastion/bastion-overview

If you feel that more should be added feel free to make a pull request to the document.

CC: @TerryLanfear

[2020-08-31 20:45] #60313 closed

[2020-08-31 20:45] MartinJaffer-MSFT commented on #61350
@normesta Could you please review this document for accuracy with respect to current behavior?  The behaviors I have experienced do not match up with the documented behaviors.  See above comments for my tests.

[2020-08-31 20:46] shraboin commented on #61350
@MartinJaffer-MSFT thanks for looking at this.

[2020-08-31 20:47] yashesvi commented on #61495
@michaelelleby - Are you added as reader on the Reservation order, Reserved Instance or the Azure subscription? You need to be explicitly added to the Reservation order to call the API.

[2020-08-31 20:48] MartinJaffer-MSFT commented on #61350
Sorry for taking so long @shraboin .  The service seems to have changed quite significantly since I last did a deep dive (maybe a couple months ago).

[2020-08-31 20:49] normesta commented on #61704
@blueww can you pls verify the proposed install order? Thank you!

[2020-08-31 20:50] MartinJaffer-MSFT commented on #60813
@spelluru  I was asking _which_ place to put the change, rather than _if_ to make the change.

[2020-08-31 20:52] KranthiPakala-MSFT commented on #61815
Hi @sivawebfunky  Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](h

[2020-08-31 20:52] #61815 closed

[2020-08-31 20:56] spelluru commented on #60813
@MartinJaffer-MSFT - In colored boxes (NOTE or IMPORTANT) would be better.

[2020-08-31 21:00] jlichwa commented on #60938
Hello @SachinRanka this particular bullet is talking specifically about service principal, managed identity is used in another bullet. In writing it is saying that " unlike a general user identity". It is specifically referring to service principal which can be assigned to services or applications, user identity cannot at least it should not. #please-close

[2020-08-31 21:00] #60938 closed

[2020-08-31 21:02] jlichwa commented on #43099
Authentication settings are added to documentation now. #please-close

[2020-08-31 21:02] #43099 closed

[2020-08-31 21:02] jvaught48 commented on #27791
Update:
Running `Get-RdsRoleAssignment -SignInName thegroupaware@aktivax.com`
shows that my user IS an RDS Owner, but everything else behaves as if I am not. They are telling me now that "something went wrong, or got corrupted" and the best option will be to migrate from Fall 2019 release to Spring 2020 release!

They provided this article: https://techcommunity.microsoft.com/t5/windows-virtual-de

[2020-08-31 21:03] provBarryTolnas opened #61819 "Runbook concept not explained on concepts page"
This page is titled "Concepts" but immediately begins using the term "runbook" without explaining this concept first. It seems to assume I would already understand this concept before landing on this page, but I don't.  Is a "runbook" in this context a script or a cron job that automates a task by running it on a schedule or according to some triggers?

---
#### Document Details

⚠ *Do not edit th

[2020-08-31 21:04] jlichwa commented on #61545
It seems it is resolved. #please-close

[2020-08-31 21:04] #61545 closed

[2020-08-31 21:08] SatishBoddu-MSFT commented on #61719
Hello @anastasia-ms

Please make use of the below troubleshooting steps and let us know if they help.

**Step**: Get the values from your IoTHub.

Becareful with the value reutrned from the below command, since there is an extra '/' (forward slash), please remove it and then substitute it inside the ReadDeviceToCloudMessages.js file.

`az iot hub show --query properties.eventHubEndpoints.events.en

[2020-08-31 21:11] kedzior-io opened #61820 "GetContainerSasUri - returned url is incorrect"
`GetContainerSasUri ` should be returning `$"{container.Uri}?{sasToken}";` instead of `container.Uri + sasToken;`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ba8dd43-ef02-5c5c-382d-f8d653721280
* Version Independent ID: 4127d388-f82a-b182-c912-879cf854c37a
* Content: [Create a service SAS for a container or blob wi

[2020-08-31 21:12] MarileeTurscak-MSFT commented on #61518
Hi @amit17051980

I made a pull request to update this based on the discussion. https://github.com/MicrosoftDocs/azure-docs-pr/pull/127883

Feel free to make your own pull request if you feel that more should be added. CC: @kenwith

[2020-08-31 21:12] #61518 closed

[2020-08-31 21:14] provBarryTolnas opened #61821 "Python 2 runbooks not listed"
This page lists several types of Runbooks, but does not list Python 2 as one of the available types of runbooks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf4da869-3f32-d2bb-d804-62679c1c3cbd
* Version Independent ID: 49ec3073-a31e-a0ab-882d-17d3a7a420b0
* Content: [Runbook execution in Azure Automation](https://d

[2020-08-31 21:17] limingr opened #61822 "cannot "open a web browser to the external IP address of your service""
I followed the instruction to "4 - Run Application"

![image](https://user-images.githubusercontent.com/46661232/91769265-e735bd00-eb93-11ea-878c-46e39e53736d.png)

But I cannot open a web browser to the external IP address of your service. The error is "502 Bad Gateway"

![image](https://user-images.githubusercontent.com/46661232/91769291-f87ec980-eb93-11ea-943d-be3306ca4f99.png)

How do I troubl

[2020-08-31 21:29] MarileeTurscak-MSFT commented on #61798
This is stated in the [Prerequisites for custom policies](https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-get-started#prerequisites), but I think it's fair to mention it here too.

I made a pull request to add this note. https://github.com/MicrosoftDocs/azure-docs-pr/pull/127890

Thanks, @singhnishant40!

[2020-08-31 21:29] #61798 closed

[2020-08-31 21:30] DavidCBerry13 commented on #54066
The article has been updated to include Server 2019.  Closing this issue.  #please-close

[2020-08-31 21:30] #54066 closed

[2020-08-31 21:32] KranthiPakala-MSFT commented on #61812
@rgg-amahajan Thanks for the feedback. I see a difference why `item()` function  is not mentioned under `Add dynamic content` blade. `Item()` function is specific to few activities (for eg: filter activity,  ForEach activity) and mostly comes into picture when iterating over a collection. Where as the other out of box functions provided in the `Add dynamic content` blade are generic functions and

[2020-08-31 21:38] cconrado commented on #61219
@craigshoemaker thanks for the update

[2020-08-31 21:40] brentleslie opened #61824 "These pages need to list the outputs of activities"
There should be a list of all the inputs/outputs these Data Factory objects support. For instance I want to obtain the duration and number of steps that a ForEach has gone through after it has run.  I can work around this by putting in heaps of other tracking objects. However these outputs may be exposed already, but not listed on this documentation.

Please list all of the accessible values of al

[2020-08-31 21:40] anastasia-ms commented on #61719
I did not have a trailing '/'. I had removed that earlier.

[2020-08-31 21:42] James-Hamil-MSFT commented on #61696
The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-08-31 21:42] #61696 closed

[2020-08-31 21:44] DerekHerman-MSFT commented on #61800
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-08-31 21:44] SatishBoddu-MSFT commented on #61719
Do you have any **error message** or is the running code hangs like that? I even tried with .Net code sample and it also worked for me.

[2020-08-31 21:45] gardnerjr commented on #61570
for the specific question: "Does Application Insights store data in a log analytics workspace?"
The answer is _No*_ with an asterisk: There is work ongoing to let a user choose to have application insights resource store its data in a log analytics workspace, though.

the more generic question: "do application insights and log analytics use the same database technology _underneath_?"

For that que

[2020-08-31 21:51] WinstonHoward-MSFT commented on #61813
Hi @mmastersvz so it is [not possible to revert to an older AKS Version](https://docs.microsoft.com/en-us/answers/questions/43985/downgrading-aks-version-to-stable-version-from-pre.html). What do you mean by "other tools that do not work with the newer AKS version"? Do you have a specific tool in mind? The guidance would be to validate that all your current tools support the next minor version bef

[2020-08-31 21:58] MarileeTurscak-MSFT commented on #61636
Hi @robertwilliamsfrog,

The licensing requirement for quite a while now has been to have a Premium P1 license and the requirement hasn't changed. The docs were updated to clarify the wording on not "just" a trial license being required, but that's it.

For additional questions about this I would recommend speaking to your licensing representative or billing representative of choice.

https://azur

[2020-08-31 21:58] #61636 closed

[2020-08-31 22:14] MartinJaffer-MSFT commented on #61579
Hello @gpitzalis and thank you for your patience.  I can confirm SQL authentication is working (from SSMS).  Here is how I tested:

1. I created a new Synapse workspace and associated storage
2. Launched the workspace and created a new login as per [doc](https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/sql-authentication?tabs=serverless) `CREATE LOGIN Mary WITH PASSWORD = 'XXXXXXXXX';`

[2020-08-31 22:14] MarileeTurscak-MSFT commented on #60246
I think the second note on the doc (https://docs.microsoft.com/en-us/azure/active-directory/external-identities/one-time-passcode#when-does-a-guest-user-get-a-one-time-passcode) explains it.  - Guest users are currently unable to sign in using endpoints that have no tenant context. For example, using https://myapps.microsoft.com, https://portal.azure.com, or the Teams common endpoint will result i

[2020-08-31 22:14] #60246 closed

[2020-08-31 22:22] anastasia-ms commented on #61719
no error messages. It just hangs.

[2020-08-31 22:25] anastasia-ms commented on #61719
The reason I was attempting to run this sample is because I was doing a refresh on the IoT Hub maps quickstart tutorial. That one wasn't working either. Same problem. I was sending messages and not able to see them. I am wondering if it is a deeper configuration issue that I am unaware of. This is the article. I am refreshing. Unfortunately, this one is not the one I am working on, as mine is not

[2020-08-31 22:31] BharathNimmala-MSFT commented on #61570
@gardnerjr Thank you for helping on this thread.

@cveld Hope the above information helps. At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen the thread and continue the conversation. Thank you

[2020-08-31 22:31] #61570 closed

[2020-08-31 22:38] StingyJack opened #61825 "Where's the drop down list of versions and the button to upgrade?"
My fingers only have so may keystrokes left in them and typing these long commands in takes way longer than picking a ddl value and clicking a button. Isn't there a gui option I can use for my one or two AKS instances?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a14a3f84-28b4-0a2a-4da7-47cb4d66689f
* Version Indepen

[2020-08-31 23:12] nathander opened #61826 "Swift Quickstart removed?"
I would like access to the Swift Quickstart guide for Cognitive Services Speech. It was available at https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/quickstarts/speech-to-text-from-microphone-langs/swift-ios as of a few weeks ago, but that link now redirects to sample code on the github page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2020-08-31 23:15] giterdn opened #61827 "Of date"
[Enter feedback here]
These instructions and UI screenshot are out of date.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b448cfd0-b673-7d04-047b-71aa62bebc27
* Version Independent ID: 75118bff-94de-c9f9-7666-d2a6f4253b11
* Content: [Leave an organization as a guest user - Azure Active Directory](https://docs.microsof

[2020-08-31 23:20] femsulu opened #61828 "[doc-bug] Spelling & grammatical correction needed"
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-sources-custom-logs#alternatives-to-custom-logs

![image](https://user-images.githubusercontent.com/34327711/91777826-af377580-eba5-11ea-90c2-6fcee8c294f7.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf637b70-eb07-3fd7-4594-c52af96f5ad8
* Version

[2020-08-31 23:21] femsulu commented on #61828
PR fix initiated to resolve this doc bug

[2020-08-31 23:36] ChaitanyaNaykodi-MSFT commented on #61817
@swigerb, Thank you for your feedback! We will review and update as appropriate.

[2020-08-31 23:36] crshovrd41 opened #61830 "Largest File Size for Databox Disk?"
Hi, this page doesn't list the largest file size possible with this databox solution. For example, I would like to transfer a Veeam backup file to Azure Blob that is 11TB. That is bigger than a single disk. Will the system be able to span that file across multiple disks?

Thanks in advance!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-08-31 23:36] Karishma-Tiwari-MSFT commented on #61825
You can upgrade your AKS cluster from Azure Portal using the dropdown as shown below:

1. Go to AKS cluster -> Configuration under Settings -> select Kubernetes version from the dropdown -> Click 'Save'

![image](https://user-images.githubusercontent.com/20851144/91778588-cf683400-eba7-11ea-9de7-f19a3b6bcea8.png)

While upgrading you can move to the next minor version. You can't jump versions. So

[2020-08-31 23:37] Karishma-Tiwari-MSFT commented on #61825
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-08-31 23:37] #61825 closed

[2020-08-31 23:43] MarileeTurscak-MSFT commented on #60796
Thanks @msaranga! I made a pull request to fix the broken link.

[2020-08-31 23:43] #60796 closed

[2020-09-01 00:08] santhoshbomma9 opened #61832 "Conflicting information on Documentation to Azure portal"
I am reading the documentation and it says

![image](https://user-images.githubusercontent.com/40445595/91780409-57e8d380-ebac-11ea-9046-08c59f336a67.png)

But then when I goto Azure VM Diagnostic settings, it says below
![image](https://user-images.githubusercontent.com/40445595/91780424-6a630d00-ebac-11ea-855c-ed278871a2a0.png)

Is the diagnostic settings for host or guest level? Or Am I missing

[2020-09-01 00:10] 1337777 commented on #61460
@amanmcse  The steps 1-4 above are successful and produce id_token decoded as
{
  "typ": "JWT",
  "alg": "RS256",
  "kid": "xxxxxxxxx"
}.{
  "aud": "xxxxxxxx-xxxxxxxxxxxxxx",
  "iss": "https://login.microsoftonline.com/xxxxxxxxxxxxxxxxd/v2.0",
  "iat": 1598917086,
  "nbf": 1598917086,
  "exp": 1598920986,
  "aio": "xxxxxxxxxxxxxxxxx=",
  "idp": "facebook.com",
  "nonce": "12345",
  "rh": "xxxxxxxx

[2020-09-01 00:15] femsulu commented on #61828
PR successfully merged.

[2020-09-01 00:15] #61828 closed

[2020-09-01 00:47] BharathNimmala-MSFT commented on #61819
@provBarryTolnas Thank you for your feedback, our team will look into it and get back to you at the earliest.

[2020-09-01 00:48] BharathNimmala-MSFT commented on #61821
@provBarryTolnas Thank you for your feedback, our team will look into it and get back to you at the earliest.

[2020-09-01 00:50] BharathNimmala-MSFT commented on #61832
@santhoshbomma9  Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-09-01 00:57] msjuergent commented on #61421
Hello Prasenjit, we are following the capacity recommendations that SAP stated in this paper: https://www.sap.com/documents/2015/03/74cdb554-5a7c-0010-82c7-eda71af511fa.html . As for volume of /hana/data, we try to be at least one time the memory as articulated in this statement: "the recommended size of the data volume of a given SAP HANA system is equal to the total memory required for that syst

[2020-09-01 01:16] VikramPendse commented on #60313
Hi, I am aware about the overview of these services. The whole point of making this PR is to include Private Link Services and Bastion in this best practices documentation for IaaS workload as one of the mechanism to securely access IaaS workload. Since this document talks about best practices and security of OaaS workload. Thanks.

[2020-09-01 01:17] HARAVIS opened #61834 "Improve Documentation Feedback from Customer regarding Elastic Job Create (Powershell Method)"
Hello Team,

My Name is Harish Ravishankar . I am an Azure customer support engineer(Azure_CXP), and recently assisted a customer who used this documentation to try create a elastic Job through the Powershell method . Customer had the below feedback on overall readability and some minor improvements to the documentation to make it easier overall to configure the elastic job and deploy it successfu

[2020-09-01 01:36] pnarsi opened #61835 "Event Hub Entry Missing from First Table on the Page"
Is the Event Hub UDR rule missing in the first Table at the top of the page?

I think it should be something like this:

![image](https://user-images.githubusercontent.com/7891408/91784773-12c5af80-ec47-11ea-9c19-aa7082657600.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a44cbeaf-af2c-ef7e-b411-24556279d898
* Ver

[2020-09-01 01:48] GitaraniSharma-MSFT commented on #61654
@nezoic , since we've not heard from you, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-09-01 01:48] #61654 closed

[2020-09-01 01:58] Karishma-Tiwari-MSFT commented on #61639
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-09-01 01:58] #61639 closed

[2020-09-01 02:00] GitaraniSharma-MSFT commented on #61744
@mainred , this has been recorded as a Portal bug.
@altambaw , I have looped you in the bug email. Please review this further.

[2020-09-01 02:03] SatishBoddu-MSFT commented on #61719
Is it due to any Proxy blocking? Are any windows updates pending?

I mean, at least any other sample should/must work? like .Net, Java, Python?

Maybe we should try working on a different laptop?

This Sample [Quickstart: Send telemetry from a device to an IoT hub and read it with a back-end application (Node.js)](https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-send-telemetry-node) worke

[2020-09-01 02:08] GitaraniSharma-MSFT commented on #61394
@RonnieQuan , sorry for the delay in my response.
Yes, that is correct. Test-AzNetworkWatcherConnectivity sends probe to verify whether a direct TCP connection from a virtual machine to a given endpoint can be established.
Whereas, Test-AzNetworkWatcherIPFlow do not send any probe but just checks if the traffic is allowed/denied in the NSG rules.

Thank you.

[2020-09-01 02:22] TerryLanfear commented on #60313
@VikramPendse - Hi, Thank you for your feedback. There is an effort now to review and update best practices. I'll include your suggestion as part of the review and update..

@MarileeTurscak-MSFT - Thank you for providing links to private link and bastion. Those links will be helpful as part of the review and update.

[2020-09-01 02:23] HughDevlin opened #61838 "All parameteres in a parameter file must be used in the template"
This page could be more clear:

All parameters in a parameter file must be used in the template. Deploying a template with a parameter file which includes one or more parameters which are not used in the template fails on an error. A parameter file may not include "extra" parameters.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2020-09-01 02:30] anastasia-ms commented on #61719
Interesting. I will try another sample and let you know.

[2020-09-01 02:34] anastasia-ms commented on #61719
And I do have some updates. Installing now.

[2020-09-01 02:35] blueww commented on #61704
@vick-git

Normally, install a module (like PowershellGet), will install all necessary modules (like PackageManagement) automatically.
Could you share the error you meet when you install PowershellGet directly?

Actually, install module process is out of Storage module scope, I might not be the best person to answer it.

@dingmeng-xue , do you have any suggestion how to update PowershellGet to ins

[2020-09-01 02:40] imWildCat commented on #61507
@YutongTie-MSFT will check this tonight.

[2020-09-01 03:06] SwathiDhanwada-MSFT commented on #61549
@akhalid111 As there are no further documentation issues, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-09-01 03:06] #61549 closed

[2020-09-01 03:07] SwathiDhanwada-MSFT commented on #61556
@Mahesh-MSFT We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-09-01 03:07] #61556 closed

[2020-09-01 03:18] vick-git commented on #61704
@blueww , sure, here we go. FYI, tried it in both versions 5.1 and 7.1.

![image](https://user-images.githubusercontent.com/57968021/91791128-2d584400-ebc7-11ea-89e0-5c227447b881.png)

PackageManagement\Install-Package : The following commands are already available on this
system:'Find-Package,Install-Package,Uninstall-Package'. This module 'PackageManagement' may override the existing
commands. I

[2020-09-01 03:28] TimLovellSmith opened #61839 "How exactly must keyvault policy be set?"
The page is very non-specific about *what* permissions need to be allowed for the managed identity to read certificates from the keyvault. Is 'List' and 'Get' enough?

Quote: "[must ensure that] Key Vault Access Policy is set for VM/VMSS Identity using MSI"

(... to what?)

Thanks for fixing this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-09-01 03:43] vick-git commented on #61704
Sorry I had the wrong one previously. Here you go.

Install-Module : A parameter cannot be found that matches parameter name 'AllowPrerelease

When I run Install-Module -Name PackageManagement -Repository PSGallery -Force, then it goes off. Tried it in 5.1 and 7.1.

[2020-09-01 03:47] blueww commented on #61704
@vick-git

Do you mean when you run "install-Module PowerShellGet –Repository PSGallery –Force", you will meet the error "Install-Module : A parameter cannot be found that matches parameter name 'AllowPrerelease"?

The error usually should get when you install Azure Storage preivew module, before update PowershellGet.

[2020-09-01 03:52] vick-git commented on #61704
@blueww I updated that comment but I think it got notified before that. Sorry I had the wrong one previously. Here you go.

Install-Module : A parameter cannot be found that matches parameter name 'AllowPrerelease

When I run Install-Module -Name PackageManagement -Repository PSGallery -Force, then it goes off. Tried it in 5.1 and 7.1.

[2020-09-01 03:58] TimLovellSmith opened #61841 "Does KeyVault extension not work on any Server Core OS?"
Based on this, sounds like not. Just want to check though. [Rather disappointed if that is right.]

[code]

Edit: PS, so far it seems to be working for me on Server Core 2019!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a52b0724-6b3b-0daf-7749-d18104d6a40b
* Version Independent ID: 56e5c7c4-f456-fc2e-99da-2771eb1629

[2020-09-01 04:04] arseyam commented on #61789
sorry it seems I opened the issue in the wrong location, it's not related to documentation but with my Azure portal

[2020-09-01 04:10] blueww commented on #61704
@vick-git
Would you please confirm which command report error : "Install-Module : A parameter cannot be found that matches parameter name 'AllowPrerelease "
Is it the command: "install-Module PowerShellGet –Repository PSGallery –Force"
Or the command to install Az.Storage？

[2020-09-01 04:14] VikasPullagura-MSFT commented on #61841
@TimLovellSmith
Thanks for your Question! We are currently investigating and will get back on this.

[2020-09-01 04:15] VikasPullagura-MSFT commented on #61839
@TimLovellSmith
Thanks for your Question! We are currently investigating and will get back on this.

[2020-09-01 04:20] DavidCBerry13 commented on #40487
This article no longer uses azcopy login and has not for a long time, so I think this issue can be closed as it is no longer relevant to the article.  The article now shows how to directly upload an image instead and this has been tested.  #please-close

[2020-09-01 04:20] #40487 closed

[2020-09-01 04:22] ram-msft commented on #61826
@nathander Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-09-01 04:23] justinimel commented on #33157
Also having this issue. Please investigate!

[2020-09-01 04:30] HarithaMaddi-MSFT commented on #61835
@pnarsi - Thanks for the valuable feedback. We are looking into it and will update you shortly.

[2020-09-01 04:32] HarithaMaddi-MSFT commented on #61824
@brentleslie - Thanks for the valuable feedback. We are looking into it and will update you shortly.

[2020-09-01 04:32] justinimel commented on #33157
Doesn't seem to work for me. I also tried many combinations. Only solution was to entirely disable my KV firewall as well.

[2020-09-01 04:39] justinimel commented on #19456
Same Issue

[2020-09-01 04:48] ram-msft commented on #61789
okay @arseyam. Thanks for the details. Please post it on Microsoft [QnA ](https://docs.microsoft.com/en-us/answers/products/)or [Stack Overflow](https://stackoverflow.com/) . Thank you for your understanding.

[2020-09-01 04:50] AnuragSharma-MSFT commented on #61786
@kaushik-i-b Thanks for reaching out to us on this issue. This forum is mainly dedicated to questions pertaining to doc issues related to any clarification or correction, and this issue looks more on technical side with the Cosmos DB Emulator.

Request you to please raise the issue on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/ask.html) forum.

[2020-09-01 04:50] SnehaAgrawal-MSFT commented on #61688
@levalencia Thanks again for bringing this to our attention. I have created PR for the links and it will merge soon.

[2020-09-01 04:50] #61688 closed

[2020-09-01 04:51] dingmeng-xue commented on #61704
@vick-git , couple things you can try local and share us the detail information.

1. Execute `$PSVersionTable` to get environment information.
2. Set `$DebugPreference="Continue"` to show debug information for following command execution. Then, try to install module.
3. After cmdlet is executed no matter successfully or not, execute `Get-Module` and share us module imported with version info.

[2020-09-01 04:51] AnuragSharma-MSFT commented on #61834
@HARAVIS Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2020-09-01 04:58] pulakiitr opened #61842 "UUID=33333333-3b3b-3c3c-3d3d-3e3e3e3e3e3e /datadrive ext4 defaults,nofail 1 2"
below /etc/fstab entry is not working on system reboot.

`UUID=33333333-3b3b-3c3c-3d3d-3e3e3e3e3e3e   /datadrive   ext4   defaults,nofail   1   2
`
Issue fixed by adding below entry (used xfs instead of ext4)

`UUID=33333333-3b3b-3c3c-3d3d-3e3e3e3e3e3e   /datadrive   xfs   defaults,nofail   1   2
`
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-09-01 05:16] pacodelacruz opened #61843 "Describe how a failover to a paired region works when private endpoints are enabled"
Please describe how a failover to a paired region works when private endpoints are enabled and what's the recommended configuration for this to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a925494b-31b5-b856-4448-f6925c41047a
* Version Independent ID: 3b73b271-189c-cf3f-fd46-36386abcd2e6
* Content: [What to do

[2020-09-01 05:18] psmanhas commented on #61822
@limingr Thank you for your query!!! Can you please confirm if your external Ip is accessible using [this](https://ping.eu/port-chk) test tool.

Thanks

[2020-09-01 05:33] SumanthMarigowda-MSFT commented on #61820
@kedzior-io Thanks for the question! We are investigating and will update you shortly.

[2020-09-01 06:01] VikasPullagura-MSFT commented on #61841
@msmbaldwin
Can you please check and add your comments on this doc update request as applicable.

[2020-09-01 06:02] VikasPullagura-MSFT commented on #61839
@msmbaldwin
Can you please check and add your comments on this doc update request as applicable.

[2020-09-01 06:04] AjayKumar-MSFT commented on #61709
@supriyasadhu,   Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

Since you have closed the issue, we presume that you have resolved your issue/question. If you have any feedback on any Azure, please let us know in the associated doc 'Feedback' we would be mor

[2020-09-01 06:07] BharathNimmala-MSFT commented on #61838
@HughDevlin Thanks a lot for sharing your feedback and helping us improve our documentation, will look into it and get back to you at the earliest.

[2020-09-01 06:07] SadiqhAhmed-MSFT commented on #61670
@NickatTheta Did the suggestions help?

[2020-09-01 06:08] HarithaMaddi-MSFT commented on #61835
@mssaperla - Can you please take a look?

[2020-09-01 06:08] SadiqhAhmed-MSFT commented on #61767
@jitendra-25 Any update on this issue?

[2020-09-01 06:19] 12wzy commented on #61787
Thanks for your reply. I created a new support request on the Azure AD->enterprise application page. Hope it can help me.

[2020-09-01 06:28] akhalid111 commented on #61549
Well spotted ,Thanks @SwathiDhanwada-MSFT !

[2020-09-01 06:37] marcin-vt commented on #19456
FYI: https://devblogs.microsoft.com/devops/new-ip-address-ranges-with-service-tags-for-azure-devops-services/

[2020-09-01 06:38] AnuragSharma-MSFT commented on #61496
@mobaioum Thanks for the feedback provided. This is being assigned to the content author to evaluate and update as appropriate.

[2020-09-01 06:40] AnuragSharma-MSFT commented on #61786
@kaushik-i-b We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-09-01 06:40] HarithaMaddi-MSFT commented on #61824
@brentleslie - I am moving it to content owner to review the feedback.

@djpmsft - This ask seems to be for all control flow pages. Can you please take a look and share your thoughts.

[2020-09-01 06:40] #61786 closed

[2020-09-01 06:41] salppa opened #61846 "Same architecture diagram twice?"
Hi,

Why do we have this same architecture diagram twice on this page?
https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/hana-vm-operations

![image](https://user-images.githubusercontent.com/60347261/91810832-3f71cb00-ec37-11ea-8a6f-ef74f5a299fa.png)

best regards,
Salppa

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2020-09-01 06:52] v-hakob opened #61847 "Could you please correct the contents for the Japanese page?"
The translation of Japanese version is incorrect. RTMP should be RTMPS for the second paragraph, according to the English contents.

RTMP を使用してデータをストリーミングしている場合は、ファイアウォールまたはプロキシ、あるいはその両方の設定で、送信 TCP ポート 1935 と 1936 が開いていることを確認します。

RTMP を使用してデータをストリーミングしている場合は、ファイアウォールまたはプロキシ、あるいはその両方の設定で、送信 TCP ポート 2935 と 2936 が開いていることを確認します。

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-09-01 06:55] AnuragSharma-MSFT commented on #61834
@HARAVIS I have looked into the attached document and yes the suggestions would definitely help the end users with more clarity while creating the jobs, e.g. the passwords should be same when creating scoped credentials.

This is being assigned to the content author to evaluate and update as appropriate.

[2020-09-01 07:15] SnehaAgrawal-MSFT commented on #61685
@iotalambda Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-09-01 07:21] lymedo commented on #19456
Reference to the upcoming changes for service tags. This still doesn’t resolve our issue:

_The Service Tag does not apply to Microsoft Hosted Agents. Customers are still required to allow the entire geography for the Microsoft Hosted Agents._

[2020-09-01 07:21] lymedo commented on #19456
Reference to the upcoming changes for service tags. This still doesn’t resolve our issue:

_The Service Tag does not apply to Microsoft Hosted Agents. Customers are still required to allow the entire geography for the Microsoft Hosted Agents._

[2020-09-01 07:21] lymedo commented on #19456
Reference to the upcoming changes for service tags. This still doesn’t resolve our issue:

_The Service Tag does not apply to Microsoft Hosted Agents. Customers are still required to allow the entire geography for the Microsoft Hosted Agents._

[2020-09-01 07:21] lymedo commented on #19456
Reference to the upcoming changes for service tags. This still doesn’t resolve our issue:

_The Service Tag does not apply to Microsoft Hosted Agents. Customers are still required to allow the entire geography for the Microsoft Hosted Agents._

[2020-09-01 07:21] lymedo commented on #19456
Reference to the upcoming changes for service tags. This still doesn’t resolve our issue:

_The Service Tag does not apply to Microsoft Hosted Agents. Customers are still required to allow the entire geography for the Microsoft Hosted Agents._

[2020-09-01 07:21] lymedo commented on #19456
Reference to the upcoming changes for service tags. This still doesn’t resolve our issue:

_The Service Tag does not apply to Microsoft Hosted Agents. Customers are still required to allow the entire geography for the Microsoft Hosted Agents._

[2020-09-01 07:22] lymedo commented on #19456
Reference to the upcoming changes for service tags. This still doesn’t resolve our issue:

The Service Tag does not apply to Microsoft Hosted Agents. Customers are still required to allow the entire geography for the Microsoft Hosted Agents.

[2020-09-01 07:28] amit17051980 commented on #61518
Hi @MarileeTurscak-MSFT,

I cannot see the PR, could you please suggest the fix?

Thanks
Amit

[2020-09-01 07:33] marcin-vt commented on #19456
True, didn't read it properly 😓

[2020-09-01 07:34] SumanthMarigowda-MSFT commented on #61830
@crshovrd41  Thanks for the question! We are investigating and will update you shortly.

[2020-09-01 07:36] KrishnaG-MSFT commented on #61742
At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-09-01 07:36] #61742 closed

[2020-09-01 07:39] hansmbakker commented on #60229
Is there any update to this?

[2020-09-01 07:43] AshokPeddakotla-MSFT commented on #61708
This doc [Prepare to deploy your IoT Edge solution in production](https://docs.microsoft.com/en-us/azure/iot-edge/production-checklist#allow-connections-from-iot-edge-devices) has all the information regarding ports.

![image](https://user-images.githubusercontent.com/44426435/91821696-5d015d80-ec54-11ea-9cc7-84884ab67fad.png)

Some of these firewall rules are inherited from Azure Container Regist

[2020-09-01 07:46] alvinkwekel opened #61848 "Missing information on when a receiver is marked as active and how long it will be considered as active"
[Enter feedback here]

I'm missing some information on when a receiver is marked as active and how long it will be considered as active.
And perhaps a way to configure these values.

For example.
A receiver reads a message via REST peek-lock and delete at 09:00:00, and at 09:00:30 another message arrives.
Will the receiver still be considered active and will Event Grid thus not send out an Active

[2020-09-01 07:53] SubhashVasarapu-MSFT commented on #61511
@marcelkmfst, Appreciate your patience. It is stated in the connectivity matrix for user convenience and understanding,

**Through NVA:**

![image](https://user-images.githubusercontent.com/44890829/91822691-be75fc00-ec55-11ea-9d06-b8379ef217e2.png)
Can't place NVA's here for Branch to Branch communication.

**Through Azure Firewall:**

![image](https://user-images.githubusercontent.com/44890829/9

[2020-09-01 07:53] #61511 closed

[2020-09-01 08:21] SmithMMTK opened #61849 "Too much permission when create Service Principle"
[code]

above command create service principle with Contributor role (by default) which customer complain that too much permission to just use for Key Vault. Rather than this i would recommend to change it to:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc8d39c7-f55b-70e2-d99e-6fccb3b5ad34
* Version Independ

[2020-09-01 08:27] eohtake opened #61851 "I want to build a custom control back-end for conditional access"
**I have the following use case and some others:**

1. When my user tries to authenticate, I want to have a custom control that will call my in house built application.
2. My application will check what device the user is on, and then will query it against my vulnerability management system api.
3. If that device has critical vulnerabilities, my custom app will return a "non-compliant" value in th

[2020-09-01 08:33] JasSuri commented on #61679
Private preview - therefore its not documented.

[2020-09-01 08:51] JayaChatterjee-MSFT commented on #61848
@alvinkwekel  Thank you for the question. We will review and get back to you.

[2020-09-01 09:11] paulfirelordmu opened #61852 "Please provide more Cosmos DB ErrorCode details"
Please provide more Cosmos DB ErrorCode details. Like 1, 16, 17, 11000.  We are seeing these codes quite often.
Thanks.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 950fb835-0873-318d-5da1-6753c2bd427b
* Version Independent ID: 94b3cfc1-c043-1813-8d14-92a7906ee8bb
* Content: [Troubleshoot common errors in Azure Cosmos

[2020-09-01 09:12] VikasPullagura-MSFT commented on #61846
@salppa
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-09-01 09:12] VikasPullagura-MSFT commented on #61846
@msjuergent
Can you please check and add your comments on this doc update request as applicable.

[2020-09-01 09:14] Mahesh-MSFT commented on #61556
Thanks @SwathiDhanwada-MSFT for your support . Please close this issue.

[2020-09-01 09:24] shashishailaj commented on #61827
@giterdn Thank you for pointing this out . We are engaging the content team on this for reviewing this request and updating as necessary.

[2020-09-01 09:29] shashishailaj commented on #61849
@SmithMMTK Thank you for your feedback . We will investigate and update the thread.

[2020-09-01 09:31] shashishailaj commented on #61843
@pacodelacruz Thank you for your feedback . We will request the content authors to review this request and update as necessary .

[2020-09-01 09:33] PramodValavala-MSFT commented on #61617
@ttime007 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-01 09:33] #61617 closed

[2020-09-01 09:33] PramodValavala-MSFT commented on #61695
@arvindr9 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-01 09:33] #61695 closed

[2020-09-01 09:34] shashishailaj commented on #61851
@eohtake Thank you for your feedback . We will investigate and update the thread.

[2020-09-01 09:35] AnuragSharma-MSFT commented on #61852
@paulfirelordmu Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-09-01 09:43] AnuragSharma-MSFT commented on #61852
@paulfirelordmu Could you please provide below information for more details?

1. Which Cosmos DB API are you using?
2. Are you getting these errors while running queries from Azure Portal or through any SDKs?
3. If possible, could you provide the screenshots for these errors?

[2020-09-01 09:43] Farhad-Heybati opened #61853 "HTTP 403 Error during the skillset creation"
[Enter feedback here]
{"error":{"code":"","message":"No HTTP resource was found that matches the request URI 'https://km-bootcamp.search.windows.net/skillsets('cog-search-demo-sd')?api-version=2020-06-30'."}}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ec84065-6739-6626-3983-4e4a63ea04a1
* Version Independent ID: c

[2020-09-01 09:44] KrishnaG-MSFT commented on #53018
Update: The ask here is currently not supported so if interested, please raise a feature request to have Azure CLI way to save a query/search using [this](https://feedback.azure.com/forums/267889-log-analytics) feedback forum / uservoice. Also, you may upvote it and other features that are of interest. In general, Azure feature / product team would check feasibility of the feature request, triage

[2020-09-01 09:48] shashishailaj commented on #61539
@haneef95 I got some information from PG on this and they have tested this on their side by installing and running the application proxy connector on a docker container using a windows server base image and command line install steps with limited success . There was limited success with applications which don't require a Integrated Windows authentication SSO because IWA SSO has domain join require

[2020-09-01 09:48] #61539 closed

[2020-09-01 09:52] VikasPullagura-MSFT commented on #61842
@pulakiitr Thanks for the Feedback on the document.

As mentioned in the document based on the `sudo blkid` command output, you have to give the type of the file system.

![image](https://user-images.githubusercontent.com/48944027/91835033-76aba080-ec66-11ea-8fc8-59206b02e18b.png)

As you mentioned that the issue is fixed by replacing the ext4 with xfs, so the drive type in your case could be XFS.

[2020-09-01 09:52] #61842 closed

[2020-09-01 09:54] VikasPullagura-MSFT commented on #61421
@msjuergent Thanks for sharing the details.

[2020-09-01 09:57] VikasPullagura-MSFT commented on #59569
@saswatmohanty01 We have updated internal team on this feature request.
At this point there is no ETA that we can share on this. However, we would request you to follow this https://feedback.azure.com/forums/602224-azure-container-instances/suggestions/33870166-aci-support-for-privileged-container for further updates on this. Please feel free to add your comment and upvote on the request.

[2020-09-01 09:57] #59569 closed

[2020-09-01 10:02] AshokPeddakotla-MSFT commented on #60778
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-01 10:02] #60778 closed

[2020-09-01 10:03] prasroy commented on #61421
@msjuergent - Thanks a lot for clarifying.

[2020-09-01 10:03] prasroy commented on #61421
Closing the issue

[2020-09-01 10:03] #61421 closed

[2020-09-01 10:33] dominicbetts commented on #54570
#please-close

[2020-09-01 10:33] #54570 closed

[2020-09-01 10:39] flatproject opened #61856 "Linux Web App on MSDeploy Visual Studio losing the "Startup Command""
After deploying a new version from Visual Studio Publish the "Startup Command" under "Configuration" of my Linux Web App reverts to the original one.

I need to run a custom script on Startup to downgrade the SSL security. I have changed the command from "dotnet abc.dll" into "sh custom_startup.sh" but every time after deployment the command reverts back to "dotnet abc.dll".

Is there something th

[2020-09-01 10:39] dominicbetts commented on #43685
Hi @terrymandin - not sure if you heard back from @viv-liu - there's an example ASA query here: https://docs.microsoft.com/en-us/azure/iot-central/core/howto-create-custom-rules#add-stream-analytics-query that shows how to get the deviceid.

[2020-09-01 10:41] dominicbetts commented on #58814
@nkhuyent - did the response from @rido-min answer your question? Thanks!

[2020-09-01 11:29] wbplomp opened #61857 "Please add a route example with a UDR for the hub"
This document/page describes how-to configure a Route Table that is associated to the GatewaySubnet. But it is limited to the an UDR with the Address Space of a spoke. It would be nice if you also describe an UDR pointing to the/a hub. With other words, the same VNet that includes the GatewaySubnet. Because this is a be bit more confusing.

Why I ask this. Because of this statement;
https://docs.m

[2020-09-01 11:48] SnehaAgrawal-MSFT commented on #61847
@v-hakob Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-01 11:51] SnehaAgrawal-MSFT commented on #61853
@Farhad-Heybati Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-01 11:55] josh-endries opened #61858 "Confusing browsing/peek documentation"
This page mentions a State property, which doesn't exist on the Message objects that Peek returns using the library that the Peek link references. This page seems to be mixing different libraries (or maybe versions) together without mentioning them, which is confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 162

[2020-09-01 12:11] mmastersvz commented on #61813
Hi @WinstonHoward-MSFT
That information helps, except answering what if the upgrade process has an error/failure, what the next steps?  I only have a  production environment to work with and need to plan for contingencies.
Thanks

[2020-09-01 12:14] AshokPeddakotla-MSFT commented on #61118
@rgamage  We hope your issue is resolved as per the #SR **120082721000044**
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-01 12:14] #61118 closed

[2020-09-01 12:34] SnehaAgrawal-MSFT commented on #61856
@flatproject Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-01 12:45] AndyBunning opened #61860 "Protocol Element "Name" cannot be "None" as suggested by Documentation"
When creating a custom technical profile and define the Protocol Name as "None", I get an error.  When checking the Insights the error reads:
"An attempt was made to resolve a protocol handler for unsupported protocol \"None\" in technical profile with id..."

The documentation states that the Protocol can be "None".

Background to issue:
In my user journey, I'm collecting the signInName and passw

[2020-09-01 12:54] SwathiDhanwada-MSFT commented on #61538
Thanks for your inputs @vishiy.

@mapoitras As there are no further documentation changes , we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-09-01 12:54] #61538 closed

[2020-09-01 12:55] pulakiitr commented on #61842
you guy's already updated document from ext4 to xfs and saying no document updated needed.

[2020-09-01 13:02] VikasPullagura-MSFT commented on #61842
@pulakiitr The other issue was opened 4 days ago.

However, the issue you opened was few hours back and you mentioned that the doc needs to be updated, which means you were still seeing the old document.

It takes some time usually for the doc changes to reflect. Thanks.

[2020-09-01 13:12] fowl2 commented on #13787
You can use the `reference()` ARM template function

`"[reference(resourceId('Microsoft.OperationalInsights/workspaces', 'workspaceName'), '2017-03-15-preview').customerId]"`

via https://stackoverflow.com/a/53764899/45583

[2020-09-01 13:18] imWildCat commented on #61507
@YutongTie-MSFT I can still reproduce this issue:

1. Download the latest zip file (https://aka.ms/speech/spx-zips.zip) from https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/spx-basics?tabs=windowsinstall
2. Unzip this file
3. Go into the `spx-net471`
4. Run the command

Screenshot:
![image](https://user-images.githubusercontent.com/2396817/91856061-9cea3400-ec98-11ea-8eaa-

[2020-09-01 13:35] PramodValavala-MSFT commented on #61780
@robvet Just following up here... Could you elaborate on the exact differences that you are referring to?

[2020-09-01 13:35] PramodValavala-MSFT commented on #61783
@hem-sharma Just following up here... Hope my previous comment clears things up.

[2020-09-01 13:37] SnehaAgrawal-MSFT commented on #61651
@TheSwilliam Thanks for reaching here! Could you please send an email to AzCommunity[at]Microsoft[dot]com referencing this issue, we would like to work closer with you on this matter.

[2020-09-01 13:37] #61651 closed

[2020-09-01 13:43] psmanhas commented on #61222
@darrenjoycenz Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

Thanks

[2020-09-01 13:43] #61222 closed