[2020-07-19 23:55] andrewatfornax commented on #57002
Hi @stephbaron,

Apologies - not sure I have a record of that any more, but here are some of the details:

`'properties': {
        'title': 'This storage account was throttled because it exceeded Azure Storage partition request per second, partition bandwidth, or IP scalability limits.',
        'details': null,
        'currentHealthStatus': 'Degraded',
        'previousHealthStatus': 'Available

[2020-07-19 23:58] michaelburch commented on #58904
So Managed Instance is highly available within the same datacenter, like a VM availability set but not within a region

[2020-07-20 00:35] michaelburch commented on #58904
Also, the statement “It is dependent on Service Fabric for failure detection and recovery, on Azure Blob storage for data protection, and on Availability Zones for higher fault tolerance. “ does not seem applicable and should be removed

[2020-07-20 01:58] arvind-dhariwal commented on #51777
Can we please show the scenario in diagram where data is moved form AWS / GCP to Azure cloud and how SHIR is used.

[2020-07-20 02:02] #57013 closed

[2020-07-20 02:10] hs79hs opened #59310 "Add-AzKeyVaultCertificate: Operation returned an invalid status code 'Forbidden'"
I followed this tutorial but failed in step Add-AzKeyVaultCertificate, the error is:
Add-AzKeyVaultCertificate: Operation returned an invalid status code 'Forbidden'

And in the previous step of New-AzKeyVault, it shows warning:
WARNING: Access policy is not set. No user or application have access permission to use this vault. This can happen if the vault was created by a service principal. Please

[2020-07-20 02:27] ram-msft commented on #59129
@philippschaefer4 Can you please share the sample that you are trying to create a MimicExplainer on different models.

Here are the samples for explainer: https://github.com/slundberg/shap/tree/master/notebooks

[2020-07-20 02:36] rhp-adb commented on #59202
I don't see procedure for S2S VPN method for connecting private cloud for VMware

[2020-07-20 02:49] Chryogenic commented on #16061
@harelbr - I can't see this change reflected in the documentation:
https://docs.microsoft.com/en-us/azure/templates/microsoft.insights/metricalerts

Is "skipMetricValidation" working at the moment?

Thanks

[2020-07-20 02:56] KrishnaG-MSFT commented on #59300
@jaydarius Thanks for your comment! We will review and provide an update as appropriate.

[2020-07-20 02:59] KrishnaG-MSFT commented on #59305
@GitelGeiger Thanks for your comment! We will review and provide an update as appropriate.

[2020-07-20 03:15] linda33wj commented on #45574
**Update:** The Salesforce Marketing Cloud connector has been upgraded to support SFMC enhanced packages.

@adimoraret great to hear it works for you.

#please-close

[2020-07-20 03:15] #45574 closed

[2020-07-20 03:53] SwathiDhanwada-MSFT commented on #59133
Assigning @MGoedtel for content review

[2020-07-20 03:58] SubhashVasarapu-MSFT commented on #59302
@jaydarius , Thanks for reaching out. We will investigate and update this thread.

[2020-07-20 04:04] CHEEKATLAPRADEEP-MSFT commented on #59298
@cap273  Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-20 04:05] CHEEKATLAPRADEEP-MSFT commented on #59299
@saltonsolutions  Thanks for the question! We are investigating and will update you shortly.

[2020-07-20 04:06] CHEEKATLAPRADEEP-MSFT commented on #59301
@t2pdev-git  Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-20 04:07] CHEEKATLAPRADEEP-MSFT commented on #59307
@Pullarg  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community members could provi

[2020-07-20 04:11] rick-hayek commented on #58960
Never mind. I've found the issue. objectId is missing from OutputClaims of the multi-tenant ClaimProvider.

[2020-07-20 04:11] CHEEKATLAPRADEEP-MSFT commented on #58938
@mamaejim2  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-20 04:11] #58938 closed

[2020-07-20 04:13] HarshitaSingh-MSFT commented on #58960
@rick-hayek, Glad to know that the issue is resolved. Thanks for the follow-up.

[2020-07-20 04:17] SatishBoddu-MSFT commented on #58734
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-20 04:17] #58734 closed

[2020-07-20 04:18] pnarsi opened #59311 "Default Runtime Version for new Functions App"
Is the documentation on this page around the default runtime version still up to date? It says that the default runtime when creating a new Function runtime still version 2.X. I believe that with Functions Runtime version 3.X being GA the default Functions runtime when creating a new Functions apps is now version 3.X.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2020-07-20 04:25] amanmcse commented on #59297
@cqueern Thank you for pointing this out. We will update the document.

[2020-07-20 04:31] amanmcse commented on #59308
@Raijin766  Thank you for your feedback . We will investigate and update the thread further.

[2020-07-20 04:34] amanmcse commented on #59309
@trboomer Thank you for your feedback . We will investigate and update the thread further.

[2020-07-20 04:35] shashishailaj commented on #58109
@worldspawn Please let us know if you have any update for us on this ?

[2020-07-20 04:37] amanmcse commented on #59310
@hs79hs  Thank you for your feedback . We will investigate and update the thread further.

[2020-07-20 04:39] BhargaviAnnadevara-MSFT commented on #59311
@pnarsi Thanks for the question! We're investigating this and will get back to you shortly.

[2020-07-20 04:40] MikeWilcoxMicrosoft opened #59312 "Please provide the cli command to show the NSGs created by az vmss create command in the doc."
What command will list the Network Security Groups created as mentioned by this statement ?

"Creates the virtual machine scale set and connects it to the virtual network, subnet, and network security group. A load balancer is also created to distribute traffic to multiple VM instances. This command also specifies the VM image to be used and administrative credentials."

Assuming this command was

[2020-07-20 04:42] hem-sharma commented on #59215
@vipulsparsh @HarshitaSingh-MSFT Any update on this?

[2020-07-20 04:54] ram-msft commented on #59151
Thanks for the feedback. I have assigned to the content author for the doc enhancement. @gvashishtha Could you please help on this.

[2020-07-20 04:55] CHEEKATLAPRADEEP-MSFT commented on #58858
@kosinsky  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-20 04:55] #58858 closed

[2020-07-20 04:55] VikasPullagura-MSFT commented on #59312
@MikeWilcoxMicrosoft
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-07-20 04:55] VikasPullagura-MSFT commented on #59312
@mimckitt
Can you please check and add your comments on this doc update request as applicable.

[2020-07-20 04:55] CHEEKATLAPRADEEP-MSFT commented on #59088
@skwan  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-20 04:55] #59088 closed

[2020-07-20 04:57] VikasPullagura-MSFT commented on #59103
@richardhauer
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-07-20 04:57] #59103 closed

[2020-07-20 05:08] MayankBargali-MSFT commented on #58962
@LeaShallev That will depend on the receiving application how they are reading the events. If you are receiving the events in a batch then only you will receive multiple events in a single call.

It will always be a single event at the event hub despite how you are sending/receiving them either in a batch or one event per request.

[2020-07-20 05:08] SnehaAgrawal-MSFT commented on #59109
@JoseFMP Just checking if you have chance to see above response, let us know.

[2020-07-20 05:12] HarshitaSingh-MSFT commented on #59215
Hello @hem-sharma,

I have few questions to ask -
- Are you trying to integrate your Non-gallery enterprise application with Azure AD Authentication?

- Any specific reason of not wanting SSO?

- Could you please elaborate on below question -

   Which `requests` are you referring to here?

And I would like to share with you a useful link regarding Gallery and Non-Gallery apps -
https://docs.micro

[2020-07-20 05:26] amanmcse commented on #59274
@ This document is specifically about **idp_access_token** claim in the id_token. The value of this claim is Access Token. Below text does NOT mean you cannot get access token from any other IDP except Google and Facebook. This means, you can send access token of these IDPs in the idp_access_token claim.

**How can I get the openid from wechat with this access token?**
I would assume that with ope

[2020-07-20 05:26] amanmcse commented on #59274
@ This document is specifically about **idp_access_token** claim in the id_token. The value of this claim is Access Token. Below text does NOT mean you cannot get access token from any other IDP except Google and Facebook. This means, you can send access token of these IDPs in the idp_access_token claim.

**How can I get the openid from wechat with this access token?**
I would assume that with ope

[2020-07-20 05:39] LeaShallev commented on #58962
@MayankBargali-MSFT OK. Thank you for your response!

[2020-07-20 05:44] AnuragSharma-MSFT commented on #58952
@Mikako-ff We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion

[2020-07-20 05:48] Mikako-ff commented on #58952
Closed? Despite no documentation...

[2020-07-20 05:49] kcs-mustafachallawala commented on #19305
@abomadi yes,I am also running .Net Core application on Azure Webapp for Linux container and i tired same thing but /var/ssl dir not found, even i check with /etc/ssl dir but certificate with i uploaded was not their in /var/ssl/certs dir.

[2020-07-20 05:52] MustafaC114 commented on #19305
@abomadi  yes,I am also running .Net Core application on Azure Webapp for Linux container and i tired same thing but /var/ssl dir not found, even i check with /etc/ssl dir but certificate with i uploaded was not their in /var/ssl/certs dir.

[2020-07-20 05:54] AnuragSharma-MSFT commented on #58952
@Mikako-ff Apologies as I misunderstood the last comment. I am re-opening the issue and will have the correct PowerShell version mentioned on the doc.

[2020-07-20 05:56] Mikako-ff commented on #58952
OK. We are waiting for updates. Thank you.

[2020-07-20 05:59] VikasPullagura-MSFT commented on #59301
@t2pdev-git Thanks for pointing this out. I have updated the document and changes will go live soon.

[2020-07-20 06:02] CHEEKATLAPRADEEP-MSFT commented on #59277
@shahfie  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-20 06:02] #59277 closed

[2020-07-20 06:03] akiyoshi opened #59314 "Additional endpoints are needed to make it work."
In addition to the external URL, an authorize endpoint of AAD on external URL should be added to the **Redirect URIs** list.

https://support.pingidentity.com/s/question/0D51W00007tzeFcSAI/azure-ad-pingaccess-standalone-430-on-premise-app-forbidden-response

As is:

- https://*.msappproxy.net/

To Be:

- https://*.msappproxy.net/pa/oidc/cb
- https://*.msappproxy.net/

---
#### Document Details

⚠

[2020-07-20 06:14] SadiqhAhmed-MSFT commented on #59284
@narpur2127 Appreciate your feedback. Would be glad if you could post a screenshot of those error IDs and I will work with content owner to enhance the troubleshooting guide with required info.

[2020-07-20 06:22] #58962 closed

[2020-07-20 06:27] cyrusvivek commented on #58969
Yes Script is fine now. Thanks for update

Regarding the Accelerated networking and No of NICs  not showing correct in target side.
Example- Right now in source side VM size is D4as_v4 and its supported 2 NIC and Accelerated networking but target side its showing only one NIC and Accelerated networking not supported.
![IPs](https://user-images.githubusercontent.com/30245241/87906259-f21f0d00-ca7f-

[2020-07-20 06:31] runemoennike commented on #51738
@StingyJack thanks for the tip. We redesigned our (quite simply) architecture to work around the startup time, which for us was around 45 secs. The docs seemed to suggest each instance should handle a single task, but in reality that goes very much against the grain of how ACI works in practice, at least currently. Instead we now have each instance handle X number of tasks or run for N minutes, wh

[2020-07-20 06:40] SnehaAgrawal-MSFT commented on #59131
@mohamed-shehata-m Thanks again for the feedback! If I have understood right, you want to renew your certificate. You may want to investigate this doc link https://docs.microsoft.com/en-us/azure/app-service/configure-ssl-certificate#renew-certificate
For manual renewal of the certificate, click Manual Renew. You can request to manually renew your certificate 60 days before expiration.

[2020-07-20 06:40] HarshitaSingh-MSFT commented on #59297
Hello @cqueern, thanks for bringing this to our attention.

We have created a PR internally which will get merged soon.

We will now close this issue.

[2020-07-20 06:40] #59297 closed

[2020-07-20 06:44] CHEEKATLAPRADEEP-MSFT commented on #59026
@pnarsi, Cluster log delivery delivers **Spark driver**, **worker**, and **event logs**.

Where as "Diagnostic settings are used to configure streaming export of platform logs and metrics for a resource to the destination of your choice".

'Add Diagnostic setting' above to configure the collection of the following data:

* dbfs
* clusters
* accounts
* jobs
* notebook
* ssh
* workspace
* secrets
*

[2020-07-20 06:44] #59026 closed

[2020-07-20 06:46] JayaChatterjee-MSFT commented on #59205
@sleesm I have tested the below code for power shell function with cosomos db output binding. Please let me know if this helps.

[code]

The function.json should contain the output binding details for cosmos DB.
[code]

You may also refer to the document to develop the function : https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-powershell#bindings

Please feel free to con

[2020-07-20 07:00] CHEEKATLAPRADEEP-MSFT commented on #59091
@mallecespedes  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-20 07:00] #59091 closed

[2020-07-20 07:01] CHEEKATLAPRADEEP-MSFT commented on #59127
@ritu-jha  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-20 07:01] #59127 closed

[2020-07-20 07:03] CHEEKATLAPRADEEP-MSFT commented on #59257
@043d Please do open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-20 07:03] #59257 closed

[2020-07-20 07:04] CHEEKATLAPRADEEP-MSFT commented on #59270
@buzzaII Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-07-20 07:04] #59270 closed

[2020-07-20 07:07] CHEEKATLAPRADEEP-MSFT commented on #59271
@travis-c-lagrone Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/databricks-pr/pull/296](https://github.com/MicrosoftDocs/databricks-pr/pull/296)
The changes should be live EOD or tomorrow.
In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2020-07-20 07:08] CHEEKATLAPRADEEP-MSFT commented on #59271
@mamccrea Could you please review the PR and approve?

[2020-07-20 07:08] SnehaAgrawal-MSFT commented on #59204
@Rick-Anderson Thanks again for the feedback! As its mentioned in beginning of this- The article shows you how to create, upload, or import a private certificate or a public certificate into App Service and If you already have a private certificate from a third-party provider, you can upload it by using this document.
See [Private certificate requirements.](https://docs.microsoft.com/en-us/azure/a

[2020-07-20 07:09] AnuragSharma-MSFT commented on #59224
@iAmBipinPaul I followed up similar steps mentioned in the doc and **g.E().Limit(4)** worked. Also tried **g.V().range(0, 2)** and it is working too.
![image](https://user-images.githubusercontent.com/66360845/87909025-14675980-ca85-11ea-9e39-8e34b7b92262.png)

Couple of queries:

1. There is a dictionary item that drops the edge in the code snippet mentioned in the article. Can you please check i

[2020-07-20 07:13] neeleshray-msft commented on #57730
@eschrader

All users, regardless of how they're created, have Maximum password age of 90 days as default password policy in Azure AD DS.
However, you can create Custom Password Policy, where you can set the password expiration time but for users manually created in a managed domain.
You can refer to this document for more details: [https://docs.microsoft.com/en-us/azure/active-directory-domain-se

[2020-07-20 07:13] #57730 closed

[2020-07-20 07:14] neeleshray-msft commented on #58739
@MicrosoftGuyJFlo  Could this be clarified ?

[2020-07-20 07:16] HarshitaSingh-MSFT commented on #59045
@vronzeur, We will now proceed to close this thread.

If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Also, please do not forget to accept the response as Answer; if the above response helped in answering your query.

[2020-07-20 07:18] neeleshray-msft commented on #57209
@billmath Could this page be updated ?

[2020-07-20 07:19] HarshitaSingh-MSFT commented on #59045
@vronzeur, If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion.

Also, please do not forget to accept the response as Answer; if the above response helped in answering your query.

[2020-07-20 07:20] aliabbasmanager opened #59318 "Syntax error in Log custom telemetry in JavaScript functions"
[Enter feedback here]

https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring?tabs=cmd#log-custom-telemetry-in-javascript-functions

client.trackException has a missing }

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13672b67-22ea-3dda-8b6b-3332c24e6030
* Version Independent ID: fdc60aeb-9971-1d9f

[2020-07-20 07:20] CHEEKATLAPRADEEP-MSFT commented on #59272
@mamccrea  Could you please review further and update the document as appropriate.

[2020-07-20 07:21] CHEEKATLAPRADEEP-MSFT commented on #59293
@shawon017  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-20 07:21] #59293 closed

[2020-07-20 07:22] neeleshray-msft commented on #58368
@jeevansd Could this be checked and updated ?

[2020-07-20 07:30] CHEEKATLAPRADEEP-MSFT commented on #59298
@cap273 Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/122916](https://github.com/MicrosoftDocs/azure-docs-pr/pull/122916)
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take

[2020-07-20 07:30] #59298 closed

[2020-07-20 07:31] souravmishra-msft commented on #59216
@ii-batman, Thank you for reaching out. Unfortunately, we dont have any option of getting this done for Dynamic Groups as the rule cant be formed as of now.

You can take a look at this request: https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/36980380-dynamic-groups-based-on-strongauthenticationmethod

The Product team is aware of this but unfortunately, we do not have

[2020-07-20 07:33] harelbr commented on #16061
@Chryogenic - Thanks for reaching out!

Yes, skipMetricValidation is working, we're in the process of adding documentation for this parameter.

[2020-07-20 07:37] RohitMungi-MSFT commented on #59269
@dikethir Are you using the API to get the voice list or a TTS call? Using the bearer token ensures you dont pass the subscription key as a header if you are using the REST API. The token is valid for 10 minutes so you need not call the token request every time to make a TTS call. Also, you can also upgrade the pricing tier of your speech subscription if the calls are facing latency.

[2020-07-20 07:37] hem-sharma commented on #59215
@HarshitaSingh-MSFT Thanks for your prompt reply!

[I've corrected the question in terms of the type of application]

Our formal use case is to deploy a gallery application to the marketplace which will be publically available and can be added by our clients in their Active Directory to facilitate the **SCIM provisioning of users** in our Active directory. Considering this, I guess there is no nee

[2020-07-20 07:48] neeleshray-msft commented on #56143
@idmcn Apologies for the delay.
If you are looking for the MFA NPS extension in Azure Public Cloud, yes it does support. However, if you are looking for Azure China (as per the previous thread), no it is not supported in Azure China.

[2020-07-20 07:48] #56143 closed

[2020-07-20 07:49] RohitMungi-MSFT commented on #59276
@rsamant07 Thanks for spotting this. It looks like there is some discrepancy with the text in [this ](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-understand-automated-ml#roc-chart)section. @Aniththa Could you please review and make the required updates?

[2020-07-20 07:57] NicolasRiou opened #59320 "Powershell command not recognized"
##[error]The term 'Get-AzureRmResourceGroup' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again.
##[error]PowerShell exited with code '1'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-07-20 07:58] Ericgre commented on #59285
Hello, we don't have ETA now, tentative GA is end of September

[2020-07-20 08:04] AjayKumar-MSFT commented on #58350
@Krispenner, Thanks for posting the summary update here to benefit the community.

[2020-07-20 08:06] JayaChatterjee-MSFT commented on #59318
@aliabbasmanager Thank you for your feedback! We will review and update as appropriate.

[2020-07-20 08:09] liudan66 commented on #45860
@helloyesthisisdave  Thank you for reaching out. Basically deploying a U-SQL is to submit U-SQL jobs. The user needs to have the permission to submit jobs.  Please refer to the RBAC [https://docs.microsoft.com/en-us/azure/data-lake-analytics/data-lake-analytics-manage-use-portal]. For your convenience, I paste them as below：
The standard RBAC roles have the following capabilities:
Owner: Can submi

[2020-07-20 08:09] psmanhas commented on #59310
@hs79hs Thank you for sharing your query!

Access to a key vault is controlled through two interfaces: the management plane and the data plane. The management plane is where you manage Key Vault itself. Operations in this plane include creating and deleting key vaults, retrieving Key Vault properties, and updating access policies. The data plane is where you work with the data stored in a key vaul

[2020-07-20 08:16] OneConsutlantsDemo opened #59321 "Table access control - Limited to Tables residing only on DBFS?"
Hello Team,

If we mount the Data Lake Gen2 path on to Cluster DBFS , does the Table access Control is still valid?
or it is only limited to DBFS Objects specific to cluster.

Thanks!

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79af5f6f-da51-e35a-cb4c-013f141016f7
* Version Independent ID: 6df

[2020-07-20 08:17] mohamed-shehata-m commented on #59131
@SnehaAgrawal-MSFT , I don't want to renew the certificate.
According to app service team blog, If app service is using SSL certificate deployed through key vault, it  periodically syncs all Web App certificate resources with the associated Key Vault secret

The question is : How often does the the app service sync with key vault for associated certificate?

More details is here: https://azure.git

[2020-07-20 08:26] AjayKumar-MSFT commented on #58553
@abhilashmk, Apologies for the delay!
In the beginning of the same document that you’re referring to, yes it does already mention the point ‘the web server in your custom image may use a port other than 80’. The sample referenced (on GitHub page) in the document, uses Port 8080 and hence this document provides this as an example : set WEBSITES_PORT to 8000.

We strive to make our Azure docs more d

[2020-07-20 08:42] CHEEKATLAPRADEEP-MSFT commented on #59321
@OneConsutlantsDemo

If we mount the Data Lake Gen2 path on to Cluster DBFS , does the Table access Control is still valid?
or it is only limited to DBFS Objects specific to cluster.

It is limited to BDFS objects.

By default, all users have access to all data stored in a cluster’s managed tables unless table access control is enabled for that cluster. Once table access control is enabled, users

[2020-07-20 08:56] abhilashmk commented on #58553
@AjayKumar-MSFT  There is no update in the documentation. We take time out to provide feedback, do respond and pass it on to the concerned team please. Again to be specific  'The documentation says -- We cannot use **port 80**'.. Actually we can and that was the feedback. To update the doc.

[2020-07-20 09:00] abhilashmk opened #59323 "https://github.com/MicrosoftDocs/azure-docs/issues/58553"
Closed without addressing the issue - https://github.com/MicrosoftDocs/azure-docs/issues/58553

There is no update in the documentation. We take time out to provide feedback, do respond and pass it on to the concerned team please. Again to be specific 'The documentation says -- We cannot use port 80'.. Actually we can and that was the feedback. To update the doc.

---
#### Document Details

⚠ *Do

[2020-07-20 09:05] bviale opened #59324 "Link urls are inverted"
The urls of those 2 links in the article look inverted :

Deploy resources with ARM templates and Azure CLI
Deploy resources with ARM templates and Azure PowerShell

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 141525e0-3406-45a1-e34d-ed7f6697267b
* Version Independent ID: aaf6fde8-448b-397f-8725-ef51c61325e2
* Conten

[2020-07-20 09:09] AshokPeddakotla-MSFT commented on #59142
@JohnStraumann66 Did you get a chance to look at the above response? Which browser are you using?

The Azure Maps Web SDK supports the following desktop browsers:

Microsoft Edge (current and previous version)
Google Chrome (current and previous version)
Mozilla Firefox (current and previous version)
Apple Safari (Mac OS X) (current and previous version)

See also [Target legacy browsers](https://

[2020-07-20 09:21] PramodValavala-MSFT commented on #58447
@hannesne You can use the HTTP [Action](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-workflow-actions-triggers#http-action) to make the call by fetching the URL using the [Workflows - List Callback Url](https://docs.microsoft.com/en-us/rest/api/logic/workflows/listcallbackurl) REST API ([securely using Managed Identity](https://docs.microsoft.com/en-us/azure/logic-apps/create-manag

[2020-07-20 09:23] hs79hs commented on #59310
Thank you so much for your elaborate explanation. @psmanhas

[2020-07-20 09:23] #59310 closed

[2020-07-20 09:26] nmellal commented on #59161
Hi @KranthiPakala-MSFT
Thanks for the follow up.

The issue is mainly technical leading to failed requests tricky to spot.
PipelineCancelledRuns,ActivityCancelledRuns,TriggerCancelledRuns are parameters for an API call .

For example , the following request will be successful :
https://management.azure.com/subscriptions/{{subscriptionId}}/resourceGroups/{{resourceGroupId}}/providers/Microsoft.Data

[2020-07-20 09:28] souravmishra-msft commented on #59023
@Ashok103606, Just wanted to check if there are any more queries around this, or are we good to close this thread out. Do update us so that we can proceed accordingly.

[2020-07-20 09:29] Nepomuceno commented on #58922
If you go to the portal it is not possible anymore to add diagnostics to storage. You can check that on the blade if you actually try to apply a policy that does create this or try to apply this to a storage account it does fail.

[2020-07-20 09:35] DivyaUmasankar commented on #35478
Hi yes, I am creating one subnet per app service plans but it is still not
working.

I am not using multiple app service plans under one subnet.

Regards,
Divya

On Sat, 18 Jul 2020, 02:36 Mohamed Shehata, <notifications@github.com>
wrote:

[2020-07-20 09:39] HarshitaSingh-MSFT commented on #59214
Hello @wolfganggallo,

Hope you are doing great!

- As mentioned in [section 3.5.2 of SCIM protocol](https://tools.ietf.org/html/rfc7644#section-3.5.2), `HTTP PATCH is an OPTIONAL server function that enables clients to update one or more attributes of a SCIM resource using a sequence of operations to "add", "remove", or "replace" values.
`
  We have raised a request internally to modify the docum

[2020-07-20 09:41] furanity commented on #58556
@JamesTran-MSFT Here's the screenshots for the expected situation (as mentioned on the documentation page) and the actual situation that is found in O365.

![Actual](https://user-images.githubusercontent.com/16611765/87923410-bbe08e00-ca7d-11ea-8363-80be6e7acb41.png)
![Expected](https://user-images.githubusercontent.com/16611765/87923413-bc792480-ca7d-11ea-9d42-38765b096c35.png)

[2020-07-20 09:47] Murthy-VVR-BY commented on #58027
Any update on this?

[2020-07-20 09:49] furanity opened #59325 "A created App Password doesn't necessarily work instantly"
Hi,

Concerning the page: "manage app passwords for two-step verification" (https://docs.microsoft.com/en-us/azure/active-directory/user-help/multi-factor-authentication-end-user-app-passwords)

It might be useful to mention that app passwords need time to synchronize. After creating an app password, in my experience it can take up to 15 minutes for the app password to actually work. If you walk t

[2020-07-20 09:55] MayankBargali-MSFT commented on #59116
@AElharouny The below line talks about the difference between the V1 and V2 functions which is mentioned in this [article](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus-trigger?tabs=csharp).

V1 function is using dot net framework and the reason manage right is required there is in case you don't have the queue already created the function runtime can do for

[2020-07-20 10:01] philippschaefer4 commented on #59129
Hi,

I am using the dataset from [here](http://archive.ics.uci.edu/ml/datasets/Adult).

It looks like this:
![image](https://user-images.githubusercontent.com/16938379/87924215-dcf5ae80-ca7e-11ea-8207-e2992445d3ba.png)

Then I do the following:

import pandas as pd
import numpy as np
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import Simp

[2020-07-20 10:30] lawrencegripper opened #59327 "Current link for X2Go contiguration is incorrect"
The document section:

![image](https://user-images.githubusercontent.com/1939288/87928161-43c59880-ca7c-11ea-875d-f650d33acf37.png)

Links to: https://docs.microsoft.com/en-us/azure/machine-learning/data-science-virtual-machine/linux-dsvm-intro#x2go for "Installing and Configuring X2Go"

This page contains no guidance on configuring X2GO.

It looks like the content is now here: https://docs.micro

[2020-07-20 10:33] amanmcse commented on #30802
@tochilavictor Thanks for your feedback. There was a minor mistake in New-AzureADPolicy command. I have corrected that. Please try following the steps [here ](https://medium.com/@amanmcse/ropc-username-password-flow-fails-with-aadsts50126-invalid-username-or-password-for-federated-90c666b4808d?sk=7c4c55332c5b27d0546abf3d3487e85b)again and let me know if that helps.

[2020-07-20 10:36] SwathiDhanwada-MSFT commented on #59320
@NicolasRiou Thanks for your question. Please make sure you have installed "AzureRM.Resources" module before executing the command.

Command to install module  : `Install Module -Name AzureRM.Resources`

[2020-07-20 10:44] dcurwin commented on #59176
Thanks for your question. The document has been updated.

#please-close

[2020-07-20 10:44] #59176 closed

[2020-07-20 10:44] dcurwin commented on #58801
Thanks for your comment.

The document has been updated.

#please-close

[2020-07-20 10:44] #58801 closed

[2020-07-20 10:45] SwathiDhanwada-MSFT commented on #59324
Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the doc within 24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2020-07-20 10:46] #59324 closed

[2020-07-20 10:54] RohitMungi-MSFT commented on #59327
@lawrencegripper Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-07-20 10:54] JayaChatterjee-MSFT commented on #59318
@aliabbasmanager Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2020-07-20 10:54] matkoliptak opened #59328 "Typo: experiance"
The second paragraph contains a typo: experiance instead of experience.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e183bf36-0279-2a32-623c-c0a487005715
* Version Independent ID: 2aa9ae98-5a57-b918-f086-61c677fffb85
* Content: [About Azure Communication Services](https://review.docs.microsoft.com/en-us/azure/project

[2020-07-20 10:54] #59308 closed

[2020-07-20 11:05] Pr4v33n23 opened #59329 "Powershell script is wrong"
[Enter feedback here]
There is a typo error in the powershell script which results in null value exception
![image](https://user-images.githubusercontent.com/63198200/87931135-e266ef00-caa6-11ea-8411-a6fa03d7c15e.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d8113f5-2769-908d-5fe4-36c5c401fbd9
* Version Independ

[2020-07-20 11:05] BhargaviAnnadevara-MSFT commented on #59328
@matkoliptak Thank you for catching that error in the docs! We shall update the document appropriately.

[2020-07-20 11:08] SanaChopra commented on #59090
@sam-lippert Could you also please share the corresponding solidity file as well for us to get a clearer picture of what you are doing?

[2020-07-20 11:12] AshokPeddakotla-MSFT commented on #59278
@icebob Thanks for bringing this to our notice. Just wanted confirm once, are you able to successfully complete the rest of steps once you remove the trailing slash at the endpoint?

[2020-07-20 11:13] rishabh-cldcvr commented on #55550
I'm getting this error too even though i gave both role to myself in storage account as mentioned above. running notebook works fine directly with synapse spark pool but gives me error when i try running the notebook from azure data factory in synapse.

[2020-07-20 11:21] krish-gh commented on #59308
@Raijin766 , We have updated the the document. It would get published within few hours.

[2020-07-20 11:26] vinynigam commented on #59300
Log Analytics agent/ Azure Monitor Agent/ OMS Agents are terms that are
used interchangeably since the naming of the agent has evolved.

On Mon, Jul 20, 2020 at 8:27 AM KrishnaG-MSFT <notifications@github.com>
wrote:

[2020-07-20 11:31] kspoojary opened #59330 "Azure Private Link for Azure Batch Is this Generally Available ?"
As per the below link
[https://azure.microsoft.com/en-us/updates/azure-private-link-for-azure-batch-is-now-generally-available-in-select-regions/](https://azure.microsoft.com/en-us/updates/azure-private-link-for-azure-batch-is-now-generally-available-in-select-regions/)
Azure Private Link for Azure Batch Is this Generally Available.
But the [tutorial link](https://docs.microsoft.com/en-us/azure/ba

[2020-07-20 11:34] nitinrkz opened #59331 "OAUTH V2 Generating Token Update"
[Enter feedback here]

Hey,

I have noticed if you pass the SCOPE in the Token generation API, we see
`"AADSTS65001: The user or administrator has not consented to use the application with ID '<ID>' named '<App Name>'. Send an interactive authorization request for this user and resource`

This happens if you are using  OAUTH V2  , but does not cause the issue in OAUTH V1.
So please check and updat

[2020-07-20 11:40] 9songs opened #59332 "More certificate details"
It would be great, if more certificate details (e.g. subject, purpose) could be added as additional guidance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8aac55fa-1799-ee74-543d-4f1477c024a0
* Version Independent ID: 44e91059-fd03-ea15-5568-a708979b56f7
* Content: [Advanced SAML token certificate signing options for

[2020-07-20 11:41] AshokPeddakotla-MSFT commented on #59249
@skamalj Deserialization issues are caused when the input stream of your Stream Analytics job contains malformed messages. For example, a malformed message could be caused by a missing parenthesis, or brace, in a JSON object or an incorrect timestamp format in the time field.

Enable resource logs to view the details of the error and the message (payload) that caused the error. There are multiple

[2020-07-20 11:41] #59249 closed

[2020-07-20 11:49] krish-gh commented on #59211
@shyraz-git , like the above response suggests, Sharepoint Online by default comes with the M365 login which is backed by Azure AD. For some more details, please refer https://docs.microsoft.com/en-us/sharepoint/authentication.
We will now proceed to close this issue. In case you have any specific issue or question, please feel free to get back.

[2020-07-20 11:49] #59211 closed

[2020-07-20 11:57] dannradkov opened #59334 "DDoS tests not allowed/allowed via BP"
This page mentions DDoS test attacks on Azure resources are not allowed at all.
This contradicts the statement from : https://docs.microsoft.com/en-us/azure/virtual-network/manage-ddos-protection#validate-ddos-detection and https://www.ixiacom.com/products/breakingpoint-cloud
Perhaps the wording needs to be changed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-07-20 11:59] dannradkov opened #59335 "Is BreakingPoint cloud the only tool/tech we are allowed to use for DDoS tests on Azure resources? I assume we cannot setup our own infrastructure and launch DDoS attacks."
Is BreakingPoint cloud the only tool/tech we are allowed to use for DDoS tests on Azure resources?
I assume we cannot setup our own infrastructure and launch DDoS attacks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5304722a-af34-e8ad-783c-bd8b174f7e1f
* Version Independent ID: c4f609b6-a6df-a0f8-4951-a7ba9aca67b5
*

[2020-07-20 12:04] oliness commented on #37025
Even worse, the solution above creates a key that doesn't work in every app using ssh. To get a git client to accept the key, I had to use:

sed -e "s/-----BEGIN RSA PRIVATE KEY-----/&\n/" -e "s/-----END RSA PRIVATE KEY-----/\n&/" -e "s/\S\{64\}/& \n/g" mykey > myfixedkey

Note the " \n" which adds a whitespace character. This is necessary for some apps. Please reopen and ensure that azure key vau

[2020-07-20 12:08] mayank-saggar opened #59336 "Upgrading ubuntu 16.04 to 18.04"
Hi
My question is when will the preview feature be out in the GA and what is the roadmap for it. Also if I have to update the node images to Ubuntu v18.04 as the support for ubuntu 16.04 will run out next year, how do I do that.
Next, what would the ARM template equivalent of the preview _--aks-custom-headers_ feature be? I have tried the latest templates but haven't succeeded to deploy a Ubuntu 1

[2020-07-20 12:11] PramodValavala-MSFT commented on #59239
@JFolberth The gate here is required to make sure that the version in the staging slot that is going to be replaced does not have any orchestrations still running.

The example in the docs has V2 in Production and V1 in Staging. When the gate is hit for V3, the pipeline polls V1 for any running orchestrations.

- If none, deploy V3 into the staging slot
- If running instances exists, wait and chec

[2020-07-20 12:25] PramodValavala-MSFT commented on #59266
@bdnts This is covered at the step for function creation, in the table that covers the different options presented in the dialog.

![image](https://user-images.githubusercontent.com/43602528/87936867-42fb2980-cab1-11ea-9430-8658edb78baf.png)

Thanks for the feedback on the docs! It is something that we are working hard to improve every day. Please do continue to raise issues on anything that we mi

[2020-07-20 12:50] #59035 closed

[2020-07-20 12:52] warmitu opened #59338 "Citrix ShareFile steps are out of date"
[Enter feedback here]

The steps for the configuration on the Sharefile side is out of date.
The screenshot and instructions don't match the current Sharefile Company portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0bc4f40-b67f-5d0d-88f3-7627963d6dd8
* Version Independent ID: e2898011-786f-0157-a567-14e12c8cb38

[2020-07-20 12:53] GitaraniSharma-MSFT commented on #59335
@dannradkov , Thank you for your question. We will look into it and update the thread.

[2020-07-20 12:54] GiftA-MSFT commented on #59146
@lostmygithubaccount please review above feedback for doc enhancement, thanks.

[2020-07-20 12:55] NavtejSaini-MSFT commented on #58904
@michaelburch Yes, Auto-failover groups that allows you to manage replication and failover of a group of databases on a server or all databases in a managed instance can only be done to another region.
We will look into adding a qualifier to the sentence in conclusion section.
We will go ahead and close the issue for now.
Let me know if any other question.

[2020-07-20 12:55] #58904 closed

[2020-07-20 12:59] #59285 closed

[2020-07-20 13:01] #59318 closed

[2020-07-20 13:08] VikasPullagura-MSFT commented on #59330
@kspoojary
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-07-20 13:08] VikasPullagura-MSFT commented on #59330
@JnHs
Can you please check and add your comments on this doc update request as applicable.

[2020-07-20 13:16] GitaraniSharma-MSFT commented on #59335
@dannradkov ,  You can technically simulate a DDoS from anywhere and DDoS Standard will handle it like any DDoS attack. However, most services (rightfully) won’t let you simulate DDoS attacks against IPs that you do not own.

BreakingPoint is the only Microsoft-partnered solution, and allows you to validate IP ownership via an Azure AD app to ensure no nefarious usage. Hence Microsoft recommends B

[2020-07-20 13:26] icebob commented on #59278
Yes, after removing slash, all other steps was good and example worked properly.

[2020-07-20 13:31] BhargaviAnnadevara-MSFT commented on #59328
@matkoliptak Thank you for bringing this to our attention! I have submitted a PR to fix the issue that's awaiting review.

[2020-07-20 13:40] SumanthMarigowda-MSFT commented on #58946
@AlfonsoGitHub We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-20 13:40] #58946 closed

[2020-07-20 13:43] audunsolemdal commented on #8390
I know this isn't exactly the original issue - but I just did the following QA test successfully:

- Move Windows appservice plan + 2 app services + pfx DigiCert certificate to another subscription.
- Create new appservice plan into the same rg as the resources you just moved.
- Move the two app services to the new plan
- Restart the apps for good measure

Custom domains are still working.

To and

[2020-07-20 13:52] ydeenekamp opened #59339 "Add Query in text"
At step 2 there is mention of the query that should be run in Snowflake, but there is no text, only a screenshot of the query in an editor.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6311c7b-41d1-21d0-c833-f4f290c41e04
* Version Independent ID: 264ebeac-f5c4-e869-a1dd-c7e14494b474
* Content: [Tutorial: Configure S

[2020-07-20 14:00] ydeenekamp commented on #59339
I've written the query out and tested it on my snowflake environment.

[code]

[2020-07-20 14:00] sam-lippert commented on #59090
<pre>// SPDX-License-Identifier: UNLICENSED
pragma experimental ABIEncoderV2;
pragma solidity ^0.5.10;

/// @title Transaction Base Smart Contract
/// @author Samuel Lippert <SLippert@zebra.com>
contract SavannaBlockchain {
    // MS cruft
    enum StateType {Ready}
    StateType public State;
    constructor() public {}

    /// @notice Stores transaction data
    mapping(uint32 => string[]) publ

[2020-07-20 14:05] jonwbstr opened #59340 "Misleading title and a comment"
I came to this page looking to revert a modified default rule back to default. The article says it will help me do that, but never does. Please create a section on this page that describes "how to fix modified default rules" in addition to the main topic of this article, "how to avoid modifying default rules"

Also, the article makes the following comment while talking about using the synchornizat

[2020-07-20 14:09] SwathiDhanwada-MSFT commented on #58897
@OwainWin As mentioned in the document ,access control mode is a setting on each workspace that defines how permissions are determined for the workspace. So when you set the permission of access control mode as "Use resource or workspace permissions" , you can take advantage of the both workspace permissions or resource permissions. So it(Select Logs from Log analytics workspace) is specified in b

[2020-07-20 14:10] jonwbstr commented on #59340
There is a second article that covers this topic in a different way. Consider stripping one article down and pointing to the primary article. According to the article below, the rules will revert back to default after upgrading. In my situation, the rules were in sync prior to the upgrade, and when we installed the new version (not auto-upgrade) the rule was considered "modified"

I strongly sugge

[2020-07-20 14:13] jonwbstr commented on #59340
Actually, I would move any content that talks about how to customize AAD Connect into the linked article, and then talking about how to fix modified rules in this article. If the answer is "upgrade aadconnect" that will be a problem because I just installed the latest version and the rule is still modified. ^_^

[2020-07-20 14:14] rlevchenko opened #59341 "Datalake Storage Account and Private Endpoint"
It's not obvious after reading the doc that Azure DataLake Storage account actually needs two private endpoints: 1 for blob and 1 for dfs. Otherwise, the storage firewall will break connection when you have disabled the "allow access from: all networks" option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d6cc016-6c

[2020-07-20 14:18] HananoshikaYomaru opened #59342 "this page doesn't seems to work"
[Enter feedback here]

I followed all the steps but the demo doesn't seem to work.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd0e7d5a-37e9-07dc-f395-9cb5bb580e45
* Version Independent ID: 7e4faf70-9724-7e7b-832b-1cd99a974920
* Content: [Create an ingress controller - Azure Kubernetes Service](https://docs.microsoft

[2020-07-20 14:19] AshokPeddakotla-MSFT commented on #59278
@icebob Thanks for the confirmation. I have modified the code changes accordingly. Changes will be merged after peer review.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-20 14:19] #59278 closed

[2020-07-20 14:29] genlin commented on #39976
#please-close

[2020-07-20 14:29] #39976 closed

[2020-07-20 14:34] genlin commented on #56447
The article was update.

#please-close

[2020-07-20 14:34] #56447 closed

[2020-07-20 14:36] BharathNimmala-MSFT commented on #58903
@OwainWin Apologies for delayed response , can you please review the below documentation for access to log data and workspaces in Azure Monitor.

[Manage access to log data and workspaces in Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/manage-access)

Hope the above information helps. At this point it appears that there's no further edits or updates needed to the do

[2020-07-20 14:36] #58903 closed

[2020-07-20 14:39] SaurabhSharma-MSFT commented on #59156
@VadimBurshtyn We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-07-20 14:39] #59156 closed

[2020-07-20 14:40] SaurabhSharma-MSFT commented on #58975
@sdegenhardt We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-07-20 14:40] #58975 closed

[2020-07-20 14:41] imatiach-msft commented on #59129
@philippschaefer4 Sorry about the trouble you are having.  Scikit-learn doesn't accept string label column. You just need to use LabelEncoder on the labels to convert them to 0 and 1.  XGBoost is a lot more permissive.

[2020-07-20 14:43] SnehaAgrawal-MSFT commented on #59203
@Rick-Anderson Thanks again for the feedback! If I have understood right, the three choices you are referring here are:
•	Upload PFX Certificate
•	Import App Service Certificate
•	Create a Free certificate or Import a key Vault certificate
And ask for “why you would choose one over the other” you may refer to this link here might be helpful: https://docs.microsoft.com/en-us/azure/app-service/confi

[2020-07-20 14:45] RyanHill-MSFT commented on #59179
@dhruvb14 Can you provide a snippet of those deployment errors? Are you getting errors when pulling images from docker hub into your ASE app or when you're pushing your code the ASE?

[2020-07-20 14:46] OwainWin commented on #58903
Thanks, I have followed that article and have even given the user Contributor access to the subscription with so success.  I have logged a separate support call to look at this issue as appears something is not right in my environment.

From: BharathNimmala-MSFT <notifications@github.com>
Sent: 20 July 2020 15:37
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Owain Winterbone (IT

[2020-07-20 14:48] HarshitaSingh-MSFT commented on #59281
Hello @sanchezc10, thanks for bringing this to our attention.

We have created a PR internally which will get merged soon.

We will now close this issue.

[2020-07-20 14:49] psmanhas commented on #58298
@1RedOne Hello, I am just following up to check if you need any further help from our end.

Thanks

[2020-07-20 14:51] MGoedtel commented on #57054
Point taken and so I'll bug and update the article right now to clarify what an asset is.  Thanks for suggesting this.  #please-close

[2020-07-20 14:51] #57054 closed

[2020-07-20 14:52] Ashok103606 commented on #59023
@souravmishra-msft

I just have a question regarding claims template, In this document  https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-saml-sso-configure-api#step-3-configure-claims-mapping ,
 what is the format of the payload ?
1) In this "{\"ClaimsMappingPolicy\": {
                \"Version\": 1,
                \"IncludeBasicClaimSet\": \"true\",

[2020-07-20 14:58] JohnStraumann66 commented on #59142
HI:

I tested in Google Chrome, Firefox, and the latest Edge Browsers. Blank screen every time. Note, is there a way to specify a Satellite View vs. a Road Map view?

[2020-07-20 15:02] ccapellan commented on #40136
I'm still experiencing this issue.  Any update on this?

[2020-07-20 15:08] CharmanderJieniJieni commented on #59070
@kobulloc-MSFT  the API you provided are for data classification, my question was is there API to **create** labels and information types. Currently I only see this doable from portal

[2020-07-20 15:10] CharmanderJieniJieni opened #59345 "please reopen issue https://github.com/MicrosoftDocs/azure-docs/issues/59070"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ecc186b-cbfd-1c4e-fc2e-165883dc0a02
* Version Independent ID: 207f8456-0e71-c5c6-ddbd-88c0762dfc1e
* Content: [Customize SQL information protection - Azure Security Center](https://docs.microsoft.com/en-us/azure/security-center/security-center-info-p

[2020-07-20 15:12] ThomasPe opened #59346 "Typo in Data aggregation over time"
The docs say that data is being aggregated over 10 minutes but the sample code is using seconds:

"To compute information over a time window, data can be aggregated together. In this example, a count is computed over the last 10 **minutes** of time for every specific car make."

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-07-20 15:15] JFolberth commented on #59239
So a couple of comments on that.

- In the documentation V3 isn't even mentioned

- There is nothing in the documentation about executing the swap.  All it says is "Finally, swap slots."
- There is nothing about what type of gate check should be performed and what to check. Just a screenshot that is cut off.

As a process this still doesn't seem accurate as I am struggling to think of a scenario w

[2020-07-20 15:22] RyanHill-MSFT commented on #58976
@c-lamont please email us at _AzCommunity[at]microsoft[dot]com ATTN Ryan mentioning this thread so we can work more closely with you.

[2020-07-20 15:43] MGoedtel commented on #59279
Doh, let me get that fixed today!  Thanks for bringing this to my attention.  #please-close

[2020-07-20 15:49] stephbaron commented on #57002
This is indeed defined as a user initiated health event in the system, I'll pass this along to the storage team to have a look .

[2020-07-20 15:53] JnHs commented on #59282
Hi @mpchen - yes, service principals can be used with Azure Lighthouse. Please check to be sure you're using the correct objectId for the service principal - you can confirm that using PowerShell or Azure SLI as shown here: https://docs.microsoft.com/en-us/azure/lighthouse/how-to/onboard-customer#define-roles-and-permissions
If you are, and you're still seeing this error, I would suggest opening a

[2020-07-20 15:53] #59282 closed

[2020-07-20 15:54] ManasMukherjee opened #59347 "Managed Disk Storage information and NSG information are missing"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cc02fc6-584e-551e-e4c9-f3b29ff8ae2c
* Version Independent ID: 863e8285-b793-a2e4-9d4c-3ce30a2a8f94
* Content: [Create a public load balancer with IPv6 - Azure CLI - Azure Load Balancer](https://docs.microsoft.com/en-us/azure/load-balancer/load-balanc

[2020-07-20 15:56] DerekHerman-MSFT commented on #59329
@Pr4v33n23 Thanks for pointing this out!
I have updated the document and changes will go live soon.

[2020-07-20 16:02] helloyesthisisdave opened #59349 "How are we supposed to use CREATE EXTERNAL STREAM if Data Tools etc considers it a syntax error and won't build?"
The EXTERNAL STREAM object doesn't seem to be supported in the latest tooling to develop the DACPACs required to deploy a SQL Edge database?  Using the current version of Data Tools (16.0.62006.03190) within Visual Studio 2019 (16.6.4) it produces the following error and refuses to build the DACPAC:

This also appears to be the case with the JSON external file format:

Can you please provide some

[2020-07-20 16:03] hpsin commented on #59331
Have you validated that the error is incorrect? You're likely asking for a scope that the user has not consented to.

[2020-07-20 16:03] RishiMaini opened #59350 "Mention that Role assignment for the user should be at “Subscription” scope"
We should be more specific and mention that role assignment for the user should be at “Subscription” scope.

We are seeing issues where the user is Owner of the Resource Group but still "Run Command" list is not populated for such users. They get below errors :-
"The list of commands is not available due to missing permissions or location-specific limitations."

The user needs Role Assignment at S

[2020-07-20 16:19] JamesTran-MSFT commented on #58556
@furanity
Thank you for the screenshots, I have assigned the issue to the author of this doc - @curtand, who will look into this and update as appropriate.

Thank you for your time and patience.

[2020-07-20 16:23] 1RedOne commented on #58298
You answered my question, thanks!

[2020-07-20 16:23] #58298 closed

[2020-07-20 16:24] hpsin commented on #58296
@jspotanski does the above answer help with debugging with Tailscale? They need to choose to support MSA, it's not inherent in the platform (certainly we don't want to start letting people sign in to their app without their permission :) )

[2020-07-20 16:24] KranthiPakala-MSFT commented on #59346
@ThomasPe
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-07-20 16:25] #59281 closed

[2020-07-20 16:27] NavtejSaini-MSFT commented on #59314
@akiyoshi Thanks for the feedback. We are checking this and will get back to you.

[2020-07-20 16:27] v-demjoh commented on #58642
Revised public-facing content will appear at this address within 24 hours:
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/rest-speech-to-text
#sign-off

[2020-07-20 16:28] hpsin commented on #55353
@mitch1995 - synced up with the team on this, apologies for the delay.  We chose to always return the refresh token in the SPA scenario (which I assume you are using, given the "query" return type).  This is because the RT can only be used while the app is online, therefore offline_access is not a fitting or needed scope to include.

Please do let me know if you're seeing this in other flows - I'l

[2020-07-20 16:29] MonikaReddy-MSFT commented on #59105
@jshaole - It is not best practice to install Azure AD Connect on a DC. Azure AD comes with an SQL express database, which takes up a lot of memory on the machine. Another problem is that the sync server may need to be rebooted for updates, and it’s better not to do that on a DC.

Since there are no doc updates at the moment, We will now proceed to close this thread. If there are further questions

[2020-07-20 16:29] #59105 closed

[2020-07-20 16:32] NavtejSaini-MSFT commented on #59325
@furanity Thanks for the feedback. We are checking this further.

[2020-07-20 16:32] psmanhas commented on #59027
@anduran  Hello. I just wanted to check if the provided information was answered your query or not.

Do let us know if you have any further queries which are needed to be addressed.

Thanks

[2020-07-20 16:35] YutongTie-MSFT commented on #59153
@BreakingBI Hi Brad, I have created a PR to fix this issue, you should see the change soon. Thanks.

We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-07-20 16:35] #59153 closed

[2020-07-20 16:39] leovms commented on #58344
@jamesbannan when I refer to custom image, I mean a DTL custom image. So, when you create the original VM from the gallery image, you mentioned that you created a custom image and I'm assuming this was a DTL custom image. If so, when you then create a new VM from that custom image, within DTL, does that work? I find it does not and I'm looking for confirmation from you that it also does not work,

[2020-07-20 16:39] MarileeTurscak-MSFT commented on #59334
@dannradkov
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-20 16:43] MarileeTurscak-MSFT commented on #59334
I think this document is out of date since we have the validation through Breaking Point. I made a pull request to remove that line. https://github.com/MicrosoftDocs/azure-docs-pr/pull/122974

CC @TerryLanfear

[2020-07-20 16:43] #59334 closed

[2020-07-20 16:44] KranthiPakala-MSFT commented on #59346
@ThomasPe
The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-07-20 16:44] #59346 closed

[2020-07-20 16:46] jspotanski commented on #58296
It's still not working on the public facing site, but I did direct Tailscale to this issue page so I'm hoping they'll be able to chime in.  Thanks for your help so far!

[2020-07-20 16:47] hpsin commented on #58296
Thanks! #please-close if the Tailscale folks have questions they can post here or create a new issue related to the specific concerns they face.

[2020-07-20 16:48] #58296 closed

[2020-07-20 16:52] Mike-Ubezzi-MSFT commented on #59349
@helloyesthisisdave Thank you for bringing this to our attention. This issue is being investigated and will have an update for you shortly.

[2020-07-20 16:57] vermagit opened #59353 "Update extensions docs page"
[Enter feedback here]
This extension page seems outdated on 2 counts:
1. The list of extensions here doesn't cover all the extensions documented on the left pane here: https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/hpccompute-amd-gpu-windows, including this specific extension.
2. The extension docs (on the link above) aren't accessible through the left pane in this window, thou

[2020-07-20 16:57] tamram commented on #59290
@hung-doan - That's right. The limits are for the storage account as a whole, regardless of which endpoint you are hitting.

The secondary is designed to be used in the event that the primary becomes unavailable. It's not really designed to be used at the same time as the primary (although you can do that for testing purposes).

#reassign: @tamram

[2020-07-20 16:58] tamram commented on #59290
#please-close

[2020-07-20 17:03] BharathNimmala-MSFT commented on #58961
@aykitaya Thanks again for your feedback , i have raised PR and it will be merged to the primary document later in the week.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen the thread and continue the conversation. Th

[2020-07-20 17:03] #58961 closed

[2020-07-20 17:08] VergilPrime opened #59354 "Download Instructions"
As the Logic App Editor in Visual Studio 2019 is currently broken, maybe you could add a note on the "Download" instructions explaining that you can also download the project by clicking "Download" under "Export Template" in the Azure Portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2650bd13-3b48-c09d-e0bc-bcad66

[2020-07-20 17:17] PramodValavala-MSFT commented on #59239
I guess I confused things a bit here. I meant V2 -> Ver.2 and V3 -> Ver.3 in the images.

The doc doesn't mention it in text, but the "new version" that the docs talks about is V3 (Ver. 3 in the image).

This doc aims to highlight an approach to zero-downtime but not the exact implementation of such a pipeline. The links shared should help to implement one though. I will add a link that points to

[2020-07-20 17:19] SwathiDhanwada-MSFT commented on #59295
@jmjacAx Instead of the Saved Searches , it is recommended to use the Saved queries to dynamically include the on-prem machines. Traverse to the Log analytics workspace , to which all your on-prem machines are ingesting the data and create saved queries by following the steps mentioned in [this document](https://docs.microsoft.com/en-us/azure/azure-monitor/log-query/log-search-transition#functions

[2020-07-20 17:23] MGoedtel commented on #59133
I've just confirmed with an Automation PM that the current list of supported distros is accurate at this time.  We do have plans to support REHL v8, but I have no ETA to share at this time.  Once this version is supported by the team, I will update the article to reflect that.  Thanks.  #please-close.

[2020-07-20 17:23] #59133 closed

[2020-07-20 17:24] DavidPeraza opened #59355 "Discuss limitations on concurrent deployments using ARM templates and REST API"
[Feedback from a CSS case]
A customer, who is the lead of a developer team, encountered a scenario in which concurrent Power BI Embedded deployments failed at times. This happened because ARM treats the subsequent deploy requests as an update to the first job, which is in progress, and therefore returns an error. They avoided this error by adding a unique random integer at the end of each deployme

[2020-07-20 17:25] brnleehng commented on #59307
Hi @Pullarg

Let me take a look at this.
Are you using the master branch of this project?

Thanks,
Brian

[2020-07-20 17:25] jeffreykey opened #59356 "The URL on which this quickstart is based is no longer valid"
Sadly, the URL on which this quickstart is based is no longer valid and it doesn't look like it's coming back. See:

https://news.ycombinator.com/item?id=23576022

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b68d35f-e331-bb2b-dd1e-c951bf6baeda
* Version Independent ID: d01f87a2-a873-2e8e-37ca-94aecceb5e9f
* Content:

[2020-07-20 17:26] cynthn commented on #57927
FYI - Functions sample is here: https://github.com/Azure/azure-docs-powershell-samples/tree/master/maintenance-auto-scheduler and I'll be adding links into the docs as well.

[2020-07-20 17:28] asudbring commented on #53854
#please-close

[2020-07-20 17:28] #53854 closed

[2020-07-20 17:31] asudbring commented on #34101
Updated screenshots and reworked article.

#please-close

[2020-07-20 17:31] #34101 closed

[2020-07-20 17:33] stevestein commented on #45408
@mikeclearbank - apologies for the delayed response. Have you tried and got this to work? It looks like the valid values for AuthenticationType are: None, Sql, AdPassword

[2020-07-20 17:36] asudbring commented on #57579
Sending to PM for review

#reassign:@mdgattuso

[2020-07-20 17:38] asudbring commented on #56883
Sending to PM for review

#reassign:@mdgattuso

[2020-07-20 17:39] ii-batman opened #59358 "Modify settings and keep it in audit more?"
Hi Super Team :)
We are hybrid and for the moment I don't have the agents running on my on-prem DC's.

- Can I change the the settings values (less or more) and still keep it in Audit mode?
- Can I enforce or keep it in audit mode it without enabling the "Password protection for windows server"?
- Where are the logs for this?

Thanks, M

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-07-20 17:39] asudbring commented on #56203
updated screenshots and reworked article.

#please-close

[2020-07-20 17:39] #56203 closed

[2020-07-20 17:40] mikeclearbank commented on #45408
we ended up using Failover Groups to migrate the data

[2020-07-20 17:40] #45408 closed

[2020-07-20 17:42] devgibsonsp opened #59359 "New managed Azure Active Directory integration article fails to mention preview flag"
I finished setting up RBAC through AD with kubenetes roles last week. I revisited the page today to find (legacy) on it with a link to this article.

When attempting to upgrade my cluster I get the following message
`C:\Users\devgi>az aks update -g <RG> -n <cluster name> --enable-aad --aad-admin-group-object-ids <object id> --aad-tenant-id <tenant id>
Operation failed with status: 'Bad Request'. D

[2020-07-20 17:43] asudbring commented on #54741
updated screenshots and reworked article

#please-close

[2020-07-20 17:43] #54741 closed

[2020-07-20 17:49] erhopf commented on #57993
@YutongTie-MSFT - I'm still waiting for feedback from the ENG team. I've reached out to them again today.

[2020-07-20 17:52] RyanHill-MSFT commented on #59179
@dhruvb14, since we're working with you offline, I'll proceed to close this thread and update once we have a resolution.

[2020-07-20 17:52] #59179 closed

[2020-07-20 17:55] ToddMaxey opened #59360 "Vague instructions for removing ADFS server from farm during MFA Server upgrade process."
The instruction: "Remove some AD FS servers from the farm. Update these servers while the others are still running" does not give enough detail regarding the definition of "remove" in the context.
From my experience and discussions with my engineer peers "remote" mean don't route traffic to the machine.

Please make this statement clearer.

Thank you in advance.

---
#### Document Details

⚠ *Do n

[2020-07-20 18:00] #54919 closed

[2020-07-20 18:03] kmoore-riphaina commented on #54919
why was this closed, has this issue been fixed?

[2020-07-20 18:05] MarileeTurscak-MSFT commented on #59340
@jonwbstr
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-20 18:06] ANIKIT93 opened #59361 "Please Update the Docs !!"
Turned to this page to crush some FAQs around python deployments in Azure App (Linux). Found nothing to support my quest here. Really disappointed. Request you to Updae the pages regularly or add citations/ "what to do next" links if any seperate docs are made w.r.t that here.

Thanks
A.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-07-20 18:07] MarileeTurscak-MSFT commented on #59345
@CharmanderJieniJieni
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-20 18:08] JamesTran-MSFT commented on #59339
@ydeenekamp
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-07-20 18:10] shortpatti commented on #56497
content updated
in the publishing queue

#close

[2020-07-20 18:11] #56497 closed

[2020-07-20 18:14] Karishma-Tiwari-MSFT commented on #51738
Thanks for sharing the updates. I have reopened this issue and assigned to the content author to investigate further and update the document as appropriate.

[2020-07-20 18:19] KranthiPakala-MSFT commented on #59161
@nmellal Thanks much for sharing the detailed info. I am looking into this and will get back to you as soon as I have an update.

Appreciate much for contributing towards doc improvements. :)

[2020-07-20 18:21] SwathiDhanwada-MSFT commented on #59305
@GitelGeiger All the data operations will be logged in AzureActivity table of log analytics.

[2020-07-20 18:26] JimacoMS3 commented on #28405
#reassign JimacoMS3

[2020-07-20 18:27] BhargaviAnnadevara-MSFT commented on #59030
@djpirra Just following up here to check if the above response helped.

[2020-07-20 18:33] BhargaviAnnadevara-MSFT commented on #59033
@slavizh Hope the above responses helped. Do reach out in case of further questions.

[2020-07-20 18:35] Karishma-Tiwari-MSFT commented on #26519
I am looking into it and will get back to you shortly.

[2020-07-20 18:42] Karishma-Tiwari-MSFT commented on #59353
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-20 18:42] Karishma-Tiwari-MSFT commented on #59350
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-20 18:46] MicrosoftGuyJFlo commented on #58661
@DeanGross I have added it in the linked PR. Should publish this afternoon.

[2020-07-20 18:47] Karishma-Tiwari-MSFT commented on #59359
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-20 18:49] #58661 closed

[2020-07-20 18:49] Karishma-Tiwari-MSFT commented on #59342
Can you please share the details about your scenario, steps you are following and at which step in this document are you seeing issues?

[2020-07-20 18:51] Karishma-Tiwari-MSFT commented on #59336
Thanks for the questions. We are currently investigating and will update you shortly.

[2020-07-20 18:52] PatrickFarley commented on #58307
I've updated the links
#please-close

[2020-07-20 18:53] DerekHerman-MSFT commented on #59341
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-20 18:54] #58307 closed

[2020-07-20 18:56] jitheshr opened #59365 "Key Signing Code does not work"
[Enter feedback here]
The Credential Key Signing code does not work, it does not accept the base 64 encoded public key value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa04cf91-e1eb-5b59-f85f-1cb46a08f40b
* Version Independent ID: a4aff3ba-9c3f-71c5-bf8b-a4101b94b073
* Content: [Use Microsoft Graph APIs to configu

[2020-07-20 19:05] #55268 closed

[2020-07-20 19:07] shortpatti commented on #59202
#assign @shortpatti

[2020-07-20 19:07] PRMerger7 commented on #59202
shortpatti is already assigned.

[2020-07-20 19:14] Mike-Ubezzi-MSFT commented on #59025
@abhirockzz Thank you for taking the time to detail the schematics. I have updated this to a doc-enhancement to have the content team review and update this document based upon your feedback along with the objectives of the example provided. Regards, Mike

[2020-07-20 19:15] ekpgh opened #59367 "missing bullet list in Next Steps?"
At the very end of the article there are two links that run together on the same line. Maybe they were meant to have bullets or be separate paragraphs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13c08ad2-e19b-9f6a-0cc5-a34c04c775a2
* Version Independent ID: 649f24c1-ea91-f683-24bd-f5d22b2e3e28
* Content: [Enable do

[2020-07-20 19:17] Rick-Anderson commented on #59204
I needed to **Add a TLS/SSL certificate in Azure App Service** that's the title of this article. I added a cert to my Azure App service, but this article wasn't much help. Links would have been helpful.

[2020-07-20 19:22] #56479 closed

[2020-07-20 19:27] AnuragSharma-MSFT commented on #58952
This is being assigned to the content author to update as appropriate.

[2020-07-20 19:27] Grace-MacJones-MSFT commented on #59361
Hi @ANIKIT93 thanks for taking the time to share your feedback with us. Is there something specific you would like for us to add to this particular doc? Are you facing any issues with your python app?

Here some documentation that can help you with python deployments in Azure App (Linux):
- [ Configure a Linux Python app for Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/con

[2020-07-20 19:28] aahill commented on #58849
Thanks for finding this @UCdavidUC - I'll update the code sample, and have it live soon!

#please-close

[2020-07-20 19:28] #58849 closed

[2020-07-20 19:35] danvalero commented on #59176
Hi. I still see the old version and no mention to Availability Groups

[2020-07-20 19:44] minthigpen commented on #57494
@soniaang - Where did you encounter azureml.train.automl.automlexplainer?

[2020-07-20 19:46] MarileeTurscak-MSFT commented on #59332
@9songs
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-20 19:47] normesta commented on #58922
Interesting. I'm not experiencing this limitation in my tests. @CHEEKATLAPRADEEP-MSFT this appears to be more of a support issue  as opposed to docs as this is not expected behavior. Can you assist?

[2020-07-20 19:47] MarileeTurscak-MSFT commented on #59338
@warmitu
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-20 19:48] normesta commented on #58922
#assign:CHEEKATLAPRADEEP-MSFT

[2020-07-20 19:53] GitelGeiger commented on #59305
@SwathiDhanwada-MSFT just to clarify, is it something that's already happening, or future-planned?
I'd also like to ask if AzureActivity table of log analytics contains logs not found in the Activity Log of Azure Portal?
I'm asking because I don't see these Data Operation logs in the Activity log, and they're not indexed for operation filter.

[2020-07-20 20:02] MarileeTurscak-MSFT commented on #59360
@ToddMaxey
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-20 20:10] JamesTran-MSFT commented on #58087
@RichardSlater
Please see below for our engineering teams response.

PG response:
"We have no requirements for client certs.  Our own examples show using a self-signed cert, so users should assume that the working self signed crt they're using is supported"

[2020-07-20 20:15] himanshusinha-msft commented on #58996
@matayp : We are working on this and initiated a PR . We will go ahead and close this issue for now . the updates should be reflected in 24-48 hrs .

[2020-07-20 20:15] #58996 closed

[2020-07-20 20:15] iainfoulds commented on #58423
+ @SanDeo-MSFT for the product question as to why there's a network security groups limitation.

#reassign:SanDeo-MSFT

[2020-07-20 20:18] MicrosoftGuyJFlo commented on #55971
We are covering this from the Azure AD authentication perspective. Yes there are other places where you might want to disable legacy protocols like Exchange but that is out of scope for this article. The link in next steps at the end of the article takes you to the Office docs that talk about modern authentication.

After first factor when Azure AD sees the protocol the authentication is blocked.

[2020-07-20 20:18] MicrosoftGuyJFlo commented on #55971
#please-close

[2020-07-20 20:18] #55971 closed

[2020-07-20 20:25] aarushi-mittal opened #59369 "Does Microsoft.Azure.ServiceBus offer Session based topic subscriptions or Partitioning?"
Hello Team,

I am looking at creating a receiver to deal with a lowest average of 2025 messages via a Service bus subscription for concurrent consumption by the receiver.

I had implemented session based topics using Microsoft.Azure.ServiceBus Nuget package. However, I am not able to open a reader for a particular session Id. It would have been extremely quick as I am expecting a certain value in

[2020-07-20 20:26] joycezhupwc opened #59370 "How to delete a backup of the App service in Azure?"
Hello, thanks for the instruction on how to take a backup of the App Service. Would you please also provide the guide on how to remove a backup? When we backup the app service manually it doesn't have an expire date. Do we just delete it manually from the store account? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-07-20 20:31] himanshusinha-msft commented on #59062
@jlb112 : The error message says its missing "[SalesLT].[ProductModelProductDescription]" on the synapse ( sink ) side  , so for some reason the ADF is not able to find the table . Can you please check if the Linked servcice for SQLDW is pointing to the correct server , where you have the scherma and table already created ? . The steps are called out here [https://docs.microsoft.com/en-gb/azure/da

[2020-07-20 20:37] AjayKumar-MSFT commented on #34451
Apologies everyone for the delay and frustration with this issue.

There was a bug found with Linux App Services using VNet integration and managed identities (MSI). The ASPNETCORE_URLS environment variable was being overwritten by Azure and it should not have been. A fix has already been completed and deployment is pending at this time.

Adding some of the frequently asked question, we will work

[2020-07-20 20:42] 123andy commented on #23029
We're also trying to figure this out.  Anyone have an answer?  Does having Google verification allow you to change the name of this?

[2020-07-20 20:43] Grace-MacJones-MSFT commented on #58553
Hi @abhilashmk, we appreciate you taking the time to share your feedback with us.  We reopened the issue since the documentation was not updated as you said. Can you please share with us your environment setup and the steps you took so we can repro your scenario on our end before update the doc? Thanks

[2020-07-20 20:45] TravisCragg-MSFT commented on #59347
@ManasMukherjee If you are referring to the VM creation, you can add any needed information or variables to the script to add NSGs or managed disks. NSGs are not required for VM creation, but they can be added to the NIC of the VM or subnet at any time. For managed disks, the managed disk will be automatically created unless specified beforehand. Other commands to specify the data disk are availab

[2020-07-20 20:47] Grace-MacJones-MSFT commented on #59323
Hi @abhilashmk , we are closing this issue as we have reopened your original issue. #[58553](https://github.com/MicrosoftDocs/azure-docs/issues/58553)

[2020-07-20 20:47] #59323 closed

[2020-07-20 20:47] yuvalm2 opened #59372 "The response I got for the SP creation was different from the documentation"
My JSON had only appId, displayName, name, password and tenant.

Not any of the others.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc8d39c7-f55b-70e2-d99e-6fccb3b5ad34
* Version Independent ID: f6714300-fd05-f95b-6afe-182e250fd180
* Content: [Quickstart – Azure Key Vault Python client library – manage secrets](http

[2020-07-20 20:50] AjayKumar-MSFT commented on #58553
@abhilashmk, We value your time and feedback. Sorry for any confusion, the documentation does mention that Port 80 is supported "**The web server in your custom image may use a port other than 80**." However, under the section 'Docker Compose options' > under sub-section "**Unsupported options**" Docker Compose configuration options, where it mentions - "**ports other than 80 and 8080 (ignored)**"

[2020-07-20 20:53] DarrinEide commented on #58759
To retrieve the names and IDs of all immediate child fields of study for chemistry, query evaluate for fields of study that have a parent field of study of chemistry (I use the ID for chemistry in my example), e.g.:
https://api.labs.cognitive.microsoft.com/academic/v1.0/evaluate?count=1000&offset=0&expr=Composite(FP.FId=185592680)&attributes=Id,FN

You can then use those names to construct an [Or

[2020-07-20 20:53] NavtejSaini-MSFT commented on #59369
@aarushi-mittal The Github forum is based on the feedback on GitHub Documentation. Please share the link of documentation this issue arise from as this will make us help you better.

[2020-07-20 20:57] roygara commented on #59367
#assign: roygara

[2020-07-20 21:02] roygara commented on #59367
@ekpgh Thanks for pointing this out and helping us improve our docs, we appreciate it! We'll get the formatting updated on this article as well as the PowerShell variant of this article. The updates will be live later today. :)

Since I've already made the changes (they're not live yet, will be later on). I'll go ahead and close this out.

#please-close

[2020-07-20 21:02] #59367 closed

[2020-07-20 21:05] STATCowboy opened #59373 "Where is the "Refresh-Model.ps1" file available?"
Where is the "Refresh-Model.ps1" file available? It says to browse to the file but where do you get the file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83c04a51-5c8e-73b3-cb07-0c72691a5cdb
* Version Independent ID: baf30ca3-524a-455a-2dbe-c229e74faa94
* Content: [Refresh Azure Analysis Services models with Azure A

[2020-07-20 21:11] crapo opened #59374 "Definition of Moon"
Is Moon defined simply by virtue of being specified as the range of satellites? Perhaps some explanation of the solitary reference to Moon would be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da072172-4002-c046-df10-b401e6df0922
* Version Independent ID: 53fe5b34-6be2-76f9-086f-2b8d19496be3
* Content: [Cust

[2020-07-20 21:18] BryanAdvisicon opened #59375 "File Share on Host Machine"
Are these instructions only for custom images for host machine?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75645943-4897-bc27-18da-c88c35446411
* Version Independent ID: 6e56fa5f-22fe-44b3-d333-1fbcdb69e808
* Content: [Windows Virtual Desktop FSLogix profile container share - Azure](https://docs.microsoft.com/en-us

[2020-07-20 21:29] PeterCLu commented on #58247
Hi @gvashishtha , I added a note with a link to the resource you specified. Thanks for the catch!

[2020-07-20 21:30] YutongTie-MSFT commented on #59011
@PatrickFarley Please update with proper samples. Thanks!

[2020-07-20 21:32] MarileeTurscak-MSFT commented on #59345
Closing this out since we will continue the discussion on #59070

[2020-07-20 21:32] #59345 closed

[2020-07-20 21:32] YutongTie-MSFT commented on #59092
@PatrickFarley FYI, could please update the document? Thanks.

[2020-07-20 21:35] PeterCLu commented on #58512
@gvashishtha do you have an update on this issue?

[2020-07-20 21:38] sjosyula3 opened #59377 "Are there any resources that can help understand how to create an enrollment account ?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 564fcf4e-69b9-a8b0-a362-c4effeca4a8b
* Version Independent ID: 7ae1feea-e9ca-bc0a-c984-81b19f4339b8
* Content: [Grant access to create Azure Enterprise subscriptions - Azure Resource Manager](https://docs.microsoft.com/en-us/azure/azure-resource-manag

[2020-07-20 21:44] JamesTran-MSFT commented on #59070
@CharmanderJieniJieni
It doesn't look like there's any APIs regarding creating custom labels.

**Findings:**
Here is a complete list of our [REST APIs for Azure Security Center](https://docs.microsoft.com/en-us/rest/api/securitycenter/). Within that list, there's only three APIs for [Information Protection Policies](https://docs.microsoft.com/en-us/rest/api/securitycenter/informationprotectionpoli

[2020-07-20 21:52] JamesTran-MSFT opened #59378 "Key Vault regeneration statement is confusing"
Current:
Key Vault regenerates key1 and swaps the active key from key2 to key1. key1

Change to:
"Only one of the keys are used to issue SAS tokens at any one time. This is the active key. When it is time to rotate, KeyVault regenerates the key that is not active, and then sets the newly created key as active."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2020-07-20 21:52] MarileeTurscak-MSFT commented on #59325
I agree that this is a good thing to call out. I made a pull request to add a note about the potential time delay and the suggestion to save the app password. https://github.com/MicrosoftDocs/azure-docs-pr/pull/123055

Thanks for your suggestion, @furanity!

[2020-07-20 21:52] #59325 closed

[2020-07-20 21:52] JamesTran-MSFT opened #59379 "Key Vault regeneration statement is confusing"
Current:
 Key Vault will regenerate 'key2' and swap the active key from 'key2' to 'key1' (replace with 'primary' and 'secondary' for Classic Storage Accounts).

Change to:
"Only one of the keys are used to issue SAS tokens at any one time. This is the active key. When it is time to rotate, KeyVault regenerates the key that is not active, and then sets the newly created key as active."

---
#### Do

[2020-07-20 22:05] STATCowboy commented on #59373
Seems like the script is at the bottom of the doc but it doesn't have instructions that say something like "Use script at bottom to create a file called Refresh-Model.ps1 and save to local machine to import into Runbook." so you end up kind of stuck at the step where it says to import Reresh-Model.ps1 file.

[2020-07-20 22:07] veikkoeeva commented on #34451
@AjayKumar-MSFT Very timely update, much appreciated. I opened just recently a SO issue at https://stackoverflow.com/questions/62997168/deploying-containerized-linux-asp-net-core-to-azure-webapp-fails-due-to-port-80 (a test project at https://github.com/veikkoeeva/dockerservice, probably need to refactor port code a bit) and linked here, so link also from here to there. I'm using containerized Web

[2020-07-20 22:10] JamesTran-MSFT commented on #59379
Created pull request and merged.

Closing issue.

[2020-07-20 22:10] #59379 closed

[2020-07-20 22:10] JamesTran-MSFT commented on #59378
Created pull request and merged.

Closing issue.

[2020-07-20 22:10] #59378 closed

[2020-07-20 22:21] gvashishtha commented on #58512
@PeterCLu @jadhosn we had an issue with our build pipeline, MDC docs are up now: https://docs.microsoft.com/en-us/python/api/azureml-monitoring/?view=azure-ml-py

[2020-07-20 22:26] #58247 closed

[2020-07-20 22:26] abhilashmk commented on #58553
@AjayKumar-MSFT I am not sure why you mentioned " Sorry for any confusion, the documentation does mention that Port 80 is supported ".... The sentence here means  "The web server in your custom image may use a port **other** than 80." we cannot use port 80 for single container ( which is wrong ). We can, all the image samples provided by Azure as samples use port 80 in custom images -- ex:
 https:

[2020-07-20 22:27] abhilashmk commented on #58553
@Grace-MacJones-MSFT here is your repro -- Its Azure Sample -- uses port 80
 https://github.com/Azure/app-service-quickstart-docker-images/blob/master/wordpress-alpine-php/0.8/Dockerfile

[2020-07-20 22:28] jadhosn commented on #58512
@gvashishtha thanks!

[2020-07-20 22:28] #58512 closed

[2020-07-20 22:32] KranthiPakala-MSFT commented on #59373
@STATCowboy  Thanks for reaching out and bringing this to our attention.

Yes you are correct, please save below code snippet as a Refresh-Model.ps1 file and try to import as runbook. This code snippet is present at this section: [Sample PowerShell Runbook](https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-refresh-azure-automation#sample-powershell-runbook)

Code snippet:

[2020-07-20 22:37] tanmayjog opened #59381 "Can we add the VM's name in the description, if we are querying on all VMs?"
I have created several rules such as low disk space, CPU utilization, memory, etc on all the machines in subscription by the below queries. I have set the action as sending an email.

 **I want the name of the VM for which the alert is triggered in the subject line of the email.** As of now, I'm getting the name of the VM in the description.

Perf | where ObjectName == "LogicalDisk" and CounterNam

[2020-07-20 22:42] fab2903 opened #59382 "Wrong URL to test the Function in Azure"
The URL to test the Function once deployed should be:
http://functionappname.azurewebsites.net/**api**/orchestrators/HelloOrchestrator
the documentation is missing "/api"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bc8fe9b-d51f-7858-8989-c37699a98a62
* Version Independent ID: b170803b-7bdc-b169-d76a-b0dd418ba629
*

[2020-07-20 22:43] PeterCLu commented on #57494
@soniaang @minthigpen , I've updated the documentation to use the correct package names.

However, we still need to understand where azureml.train.automl.automlexplainer was found

[2020-07-20 22:44] csm10495 opened #59383 "Tab character should be \t not /t"
```[key]/t[value]```

should be ```[key]\t[value]```

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 056b150a-3e49-2a3c-e591-2b5c22733f4e
* Version Independent ID: 85d52a2a-5144-86d4-bd9c-5c2ec349b588
* Content: [What are Apache Hadoop and MapReduce - Azure HDInsight](https://docs.microsoft.com/en-us/azure/hdinsight/had

[2020-07-20 22:45] PeterCLu commented on #59327
@lawrencgripper, thanks for the report. @RohitMungi-MSFT made the changes, you should see the updates live in a few hours.

I'll proceed to #please-close this issue.

If you feel that your documentation issue hasn't been resolved, please feel free to open a new issue with additional details.

[2020-07-20 22:45] #59327 closed

[2020-07-20 22:47] ChaitanyaNaykodi-MSFT commented on #59136
@LeonB87, Thank you for the suggestion and the solution provided. I do see that the document referenced mentions that the setting “[Only other Logic Apps](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-securing-a-logic-app#restrict-inbound-ip-ranges-in-azure-portal)” creates an empty array to your logic app resource but it does not provide any ARM template example for the setting.
Ju

[2020-07-20 22:49] MonikaReddy-MSFT commented on #59382
@fab2903 - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-20 22:51] MonikaReddy-MSFT commented on #59382
@fab2903 - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-20 22:51] #59382 closed

[2020-07-20 23:05] #59120 closed

[2020-07-20 23:06] ChaitanyaNaykodi-MSFT commented on #59354
@VergilPrime, Thank you for your feedback! We will review and update as appropriate.

[2020-07-20 23:07] nibaccam commented on #59146
@sdgilley can you help with this data drift documentation

[2020-07-20 23:08] BharathNimmala-MSFT commented on #59377
@sjosyula3 Thank you for your query, we will look into it and get back to you at the earliest.

[2020-07-20 23:10] PeterCLu commented on #59151
@BreakingBI , we had a temporary issue getting the ModelDataCollector reference documentation published. However, the issue has been resolved: https://docs.microsoft.com/en-us/python/api/azureml-monitoring/azureml.monitoring.modeldatacollector.modeldatacollector?view=azure-ml-py

[2020-07-20 23:17] JamesTran-MSFT commented on #59365
@jitheshr
Thanks for your feedback! Can you please clarify your ask for the documentation. Did you want us to remove the code, update it, etc.?

[2020-07-20 23:18] KranthiPakala-MSFT commented on #59373
@STATCowboy
The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-07-20 23:18] #59373 closed

[2020-07-20 23:24] BharathNimmala-MSFT commented on #59355
@DavidPeraza Thank you for your feedback, we will look into it and get back to you at the earliest.

[2020-07-20 23:28] JamesTran-MSFT commented on #59372
@yuvalm2
Thanks for your feedback! Would you be able to provide a screenshot of what you're seeing? Additionally, can you confirm that you're only seeing - appId, displayName, name, password and tenant, after running the "sp create" command?

![image](https://user-images.githubusercontent.com/36619112/87996039-0249e300-caa6-11ea-9da2-39477b387860.png)

[2020-07-20 23:30] palma21 commented on #59336
August 18th the latest. For any roadmap questions feel feed to post on the Roadmap item
https://github.com/Azure/AKS/issues/1487

AKS Public roadmap: https://aka.ms/aks/roadmap

[2020-07-20 23:40] KranthiPakala-MSFT commented on #59383
@csm10495 Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-07-20 23:40] #58022 closed

[2020-07-20 23:47] #59383 closed

[2020-07-20 23:49] KranthiPakala-MSFT commented on #59383
@csm10495
The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out and helping to improve the doc content. I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-07-21 00:03] ju-shim commented on #51484
Thank you for bringing this to our attention. I found that not only are the screen shots outdated, but so are the actual steps. I am working with our Product Managers to come up with the best course of action. Changes are already in progress and will be released this week.

#please-close

[2020-07-21 00:08] andrewatfornax commented on #57002
Thanks @stephbaron.

[2020-07-21 00:34] jennabourgeois opened #59386 "Article does match the product"
It appears that the product must have updated since the release of this documentation.  1)  What I am trying to do is insert Sales Force records into Dynamics 365 using an insert.   When I use insert, it tells me that it is not supported.  The documentation refers to several json properties, but this doesn't match the product.  2)  There are json examples of properties related to the sink, authent

[2020-07-21 00:46] ju-shim commented on #53859
Doc has been updated with an appropriate memo. Will look into more elaborate solution going forward, need PM help for a robust fix.

#please-close

[2020-07-21 00:46] #53859 closed

[2020-07-21 00:48] cynthn commented on #59048
I updated the doc to be more explicit about which offers are currently supported. If it isn't in the list, it isn't supported yet. Thanks again!

#please-close

[2020-07-21 00:48] #59048 closed

[2020-07-21 00:51] cynthn commented on #48839
Looks like the doc has been updated, so I'm closing this for now.

#please-close

[2020-07-21 00:51] #48839 closed

[2020-07-21 00:57] MicrosoftGuyJFlo commented on #57336
Step 2 policies on scenario 1 and 3 are to control Exchange clients specifically. Fixed other items with linked PR.

[2020-07-21 00:57] #57336 closed

[2020-07-21 00:59] cynthn commented on #47720
@mimckitt Can you help to update the language?

[2020-07-21 01:03] ju-shim commented on #56120
Investigating the best way to communicate this information. Update to doc is in progress, publishing of clarification is expected this week along with major revamping of this specific document (being tracked via a separate issue and work item on our end). Thank you for reporting!

#please-close

[2020-07-21 01:03] #56120 closed

[2020-07-21 01:05] MartinJaffer-MSFT commented on #58821
@wemiao   Are you still facing the issue?

I ran through the tutorial, and was able to submit jobs.
You mentioned a more recent API version.  This sounds like a possible cause.
I tried to reproduce, first with the recommended libraries from the tutorial, then after updating various libraries.
There was one library I was unable to update, as it was incompatible.  Despite my attempts to update, my A

[2020-07-21 01:10] ju-shim commented on #56283
Hello @ncook-hxgn - thank you for bringing this to our attention and we apologize for your negative experience with some of our docs. You are right, it's a bit unprofessional and unclear. I am not the original author, but I'll do my best to revamp this document and make it user-friendly, concise, and clear.

I'm recruiting help from my team to comb through this and release it after much review.

[2020-07-21 01:10] ju-shim commented on #56283
#please-close

[2020-07-21 01:10] #56283 closed

[2020-07-21 01:13] SQLGuyChuck opened #59387 "Comparison table is confusing"
https://docs.microsoft.com/en-us/azure/azure-sql/database/sql-data-sync-data-sql-server-sql-database#compare-with-transactional-replication table is confusing. I can't tell the subject of the comparison the way the table is laid out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa9bff59-c1f2-f93e-46ed-50eb2b6bc1e8
*

[2020-07-21 01:25] ju-shim commented on #56283
Update: We fixed general typos mentioned, but discussions on point 1 and 2 are still being had. We have a work item to track this discussion and possible updated to the doc.

[2020-07-21 01:36] Crazedpeanut opened #59388 "Unclear steps to deploy Istio"
Unable to determine where the value of  `--set installPackagePath=./install/kubernetes/operator/charts` comes from.
I don't see anywhere ./install/kubernetes/operator/charts is produced.

`istioctl manifest apply -f istio.aks.yaml --logtostderr --set installPackagePath=./install/kubernetes/operator/charts`

Should this argument not be used anymore?

---
#### Document Details

⚠ *Do not edit this s

[2020-07-21 01:43] SQLGuyChuck commented on #59387
I think it is as simple as moving the column headers over by a column to the right.

[2020-07-21 01:45] s36e175 commented on #30308
Hi, I also have a 2019 support matrix issue that is forcing customers to stay on 2016.
At https://docs.microsoft.com/en-in/azure/backup/backup-mabs-protection-matrix re MABS V3 UR1, it says that backing up Linux VMs is not supported on Hyper-V 2019, but only on 2016 and 2012 R2.
My question is, is this a mistake on the web page, or is this an outstanding issue that will be fixed in an upcoming rel

[2020-07-21 01:50] s36e175 opened #59389 "MABS V3 UR1 - Backing up Linux VMs not supported on Hyper-V 2019 (only on 2016 and 2012 R2)"
Hi, The MABS v3 UR1 protection matrix says that backing up Linux VMs is not supported on Hyper-V 2019, but only on 2016 and 2012 R2.
My question is, is this a mistake on the web page, or is this an outstanding issue that will be fixed in an upcoming release? If it's an outstanding issue, roughly when should we expect to see it addressed?
Thanks.

---
#### Document Details

⚠ *Do not edit this sect

[2020-07-21 01:55] KranthiPakala-MSFT commented on #59137
@djpmsft  Hi Daniel, Could you please assist on this query?  - Thanks

[2020-07-21 02:05] JamesHHoustonII opened #59390 "WPF and Azure Firewall"
I have a WPF application that uses MS Graph, users sign in and then they receive an error that they do not have access to the server. I do not know who is going to download my app and use it so I have no way to put IP addresses in prior to use. How can I set my firewall restrictions up to allow any user that comes through my application to have access to the database? I reviewed IP groups and whit

[2020-07-21 02:05] m-moris opened #59391 "The sample program is outdated."
The sample program on this page is outdated. Because the program will fail to compile.
For example, the second argument of HttpTrigger annotation is a HttpMethod enumerated type, not a String type.

I think it should be fixed according to the latest SDK as it confuses beginners.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-07-21 02:09] sheldoncxd opened #59392 "Powershell part covers AzureRM only. The latest is Az Storage"
For Powershell part "Enable Storage logging using PowerShell", would you please provide Az Storage commands?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30ebd39b-ae34-4988-5694-09acd19693e8
* Version Independent ID: c36c476f-a7c3-1f68-7ef6-1a7e3664bbe1
* Content: [Azure Storage Analytics logging](https://docs.micros

[2020-07-21 02:22] ChaitanyaNaykodi-MSFT commented on #59356
@jeffreykey, Thank you for your feedback! We will review and update as appropriate.

[2020-07-21 03:10] CHEEKATLAPRADEEP-MSFT commented on #58922
@Nepomuceno   I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2020-07-21 03:11] #58922 closed

[2020-07-21 03:12] ecfan commented on #59136
Thanks @LeonB87 and @ChaitanyaNaykodi-MSFT, I've added this request to our backlog for prioritization.

[2020-07-21 03:13] KrishnaG-MSFT commented on #59389
@s36e175 Thanks for your comment! We will review and provide an update as appropriate.

[2020-07-21 03:13] CHEEKATLAPRADEEP-MSFT commented on #59386
@jennabourgeois  Thanks for the feedback! Your feedback  has been shared with the content owner for further review.

[2020-07-21 03:16] ecfan commented on #59356
Thanks, @jeffreykey and @ChaitanyaNaykodi-MSFT, we already have a work item in progress to address updating this content. This is similar to [Issue #57603](https://github.com/MicrosoftDocs/azure-docs/issues/57603).

[2020-07-21 03:24] NavtejSaini-MSFT commented on #59358
@ii-batman We are checking this and will get back to you.

[2020-07-21 03:28] NavtejSaini-MSFT commented on #59381
@tanmayjog The Github forum is based on the feedback on GitHub Documentation. Please share the link of documentation this issue arise from as this will make us help you better.

[2020-07-21 03:28] NavtejSaini-MSFT commented on #59390
@JamesHHoustonII The Github forum is based on the feedback on GitHub Documentation. Please share the link of documentation this issue arise from as this will make us help you better.

[2020-07-21 03:31] NavtejSaini-MSFT commented on #59387
@SQLGuyChuck We are checking this and will get back to you.

[2020-07-21 03:38] NavtejSaini-MSFT commented on #59370
@joycezhupwc We are checking this and will get back to you.

[2020-07-21 03:40] NavtejSaini-MSFT commented on #59374
@crapo We are checking this and will get back to you.

[2020-07-21 03:47] BhargaviAnnadevara-MSFT commented on #59392
@sheldoncxd Thanks for the feedback! We shall evaluate and update the document as appropriate.

[2020-07-21 03:48] JamesHHoustonII commented on #59390
The issue is it falls between two different documents 1) Azure b2b Client
ID and 2) Azure firewall I don't have a specific document to reference

On Mon, Jul 20, 2020, 10:28 PM NavtejSaini-MSFT <notifications@github.com>
wrote:

[2020-07-21 04:04] BhargaviAnnadevara-MSFT commented on #59328
@matkoliptak The changes reflect in the doc now. Thanks for the feedback.

[2020-07-21 04:04] #59328 closed

[2020-07-21 04:15] HarshitaSingh-MSFT commented on #59050
@tajaber, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-21 04:15] #59050 closed

[2020-07-21 04:15] SnehaAgrawal-MSFT commented on #59109
@JoseFMP Since we didn't here from you We will now close the issue. Let us know if you have further question on this.

[2020-07-21 04:15] #59109 closed

[2020-07-21 04:22] #59301 closed

[2020-07-21 04:28] Camios opened #59394 "Too focused on enabling developers to call APIs, what about systems calling APIs (B2B)?"
I read this page and it is very focused on 'developers' calling APIs and developers subscribing to products. There is no distinct mention of system to API calls for internal or B2B, situations. I think this is a significant oversight which leaves readers thinking APIM is not for systems to call APIs. Please address this.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-07-21 04:37] VikasPullagura-MSFT commented on #59388
@Crazedpeanut
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-07-21 04:38] hung-doan commented on #59290
I got it, thanks @tamram

[2020-07-21 04:42] VikasPullagura-MSFT commented on #59375
@BryanAdvisicon
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-07-21 04:50] souravmishra-msft commented on #59023
@Ashok103606, When you form the payload for the claimsMapping policy it should look something like this:
[code]
The Name ClaimsMappingPolicy would remain as it, only the Key's Value under Claims section would change according to your needs. Also IncludeBasicClaim set can be set to true or false as required. You can read more on this [here.](https://docs.microsoft.com/en-us/azure/active-directory/d

[2020-07-21 04:55] amanmcse commented on #59394
@Camios Thank you for your feedback . We will investigate and update the thread further.

[2020-07-21 05:14] kewu-93 commented on #59107
@SubhashVasarapu-MSFT Thanks for your help, any ETA for the reflection over the doc?

[2020-07-21 05:25] ShintakuNobuhiro opened #59395 "IOPS is wrong （IOPS 表記が誤っています)"
For the following part, isn't the sign in/sign out IOPS 50, not 5?
下記の部分について、サインイン・サインアウトの IOPS は、5 ではなく、 50 ではありませんか？

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 058c0a6a-4f3c-fe33-247e-276ac9c66342
* Version Independent ID: 84fb92b3-df7b-a7ae-626d-069c2a0dc51d
* Content: [Windows Virtual Desktop FAQ - Azure](https

[2020-07-21 05:25] gregdegruy opened #59396 "Secure Credentials in Create a multi-container (preview) app in Web App for Containers"
Is there a more secure way of storing the keys defined in `docker compose` [file](https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-multi-container-app#download-the-sample) from this sample?

Right now every credential for the container is exposed:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-07-21 05:55] hem-sharma commented on #59215
@vipulsparsh @HarshitaSingh-MSFT  Can this be answered?

[2020-07-21 05:56] BharathNimmala-MSFT commented on #59174
@mosolano Thanks again for your feedback, post validation with our internal product team it has been called out that Soft delete actually deletes the ARM resource, that's the reason its not charged.

We will work with our document author to have a backlog item to add this information to the existing documentation. Hope the above information helps. At this point it appears that there's no further e

[2020-07-21 05:56] #59174 closed

[2020-07-21 06:03] cglong opened #59398 "Remove dependency on jQuery"
The code sample here depends on a copy of jQuery served from the Google CDN. We could easily replace the jQuery calls with e.g. native `Promise`s, which work in [any modern browser](https://caniuse.com/#feat=promises).

If we want to ensure the code sample runs on IE11, we should at least switch the CDN to the [Microsoft AJAX CDN](https://docs.microsoft.com/aspnet/ajax/cdn/overview).

---
#### Doc

[2020-07-21 06:05] HarshitaSingh-MSFT commented on #59215
@hem-sharma, we are taking a look into this and will get back to you soon.

[2020-07-21 06:08] SubhashVasarapu-MSFT commented on #59068
@MikeWedderburn-Clarke , Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-07-21 06:08] #59068 closed

[2020-07-21 06:08] ChaitanyaNaykodi-MSFT commented on #59148
@cpridy, Thank you for reaching out. I found the required information in the link provided at [How to configure policies](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-policies#-how-to-configure-policies) of the document referenced.

Global scope - Global scope is configured for All APIs in your APIM instance.

API scope - API scope is configured for All Operations of

[2020-07-21 06:19] BharathNimmala-MSFT commented on #58657
@Willem-J-an  Thank you for being patient on this. Post validation with our Internal team it has been called out that SetVariable is not recommended for appending big data into it and it would be better to understand for your scenario to see if dataflow would be a good fit.

If you have further queries on this please send an email to AzCommunity@microsoft.com  with detailed explanation of your sce

[2020-07-21 06:19] #58657 closed

[2020-07-21 06:35] SubhashVasarapu-MSFT commented on #59101
@brkrall , Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-07-21 06:35] #59101 closed

[2020-07-21 06:37] Arvind-0120 opened #59399 "Extra Semicolon in .NET SDK after assigning ttl value"
There should not be any ';' as this gives error while building the solution.

` DefaultTimeToLive = 90 * 60 * 60 * 24;`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae1b1c71-a8ca-2bba-202e-f74a9414ced4
* Version Independent ID: 65ce6b13-2e3d-39ea-167a-ebdc1864f66b
* Content: [Configure and manage Time to Live in Azur

[2020-07-21 06:40] AjayKumar-MSFT commented on #59396
@gregdegruy,  Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-07-21 06:41] SubhashVasarapu-MSFT commented on #59280
@Assassinbeast , Appreciate your patience. You can add up to 25 custom domains per endpoint.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-07-21 06:41] #59280 closed

[2020-07-21 06:42] psmanhas commented on #59027
@anduran  Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-07-21 06:42] #59027 closed

[2020-07-21 06:44] 2ndcahl opened #59400 "Column headers are off"
In the two sections:
"Single database DTU and storage limits"
"Elastic pool eDTU, storage, and pooled database limits"

The column headers for Basic, Standard and Premium is off by one column.

![image](https://user-images.githubusercontent.com/23452725/88021735-539db500-cb2e-11ea-8099-1ce17afb9f24.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-07-21 06:47] AnuragSharma-MSFT commented on #59399
@Arvind-0120 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-07-21 06:48] SadiqhAhmed-MSFT commented on #59389
@s36e175 Backup of Linux VMs running on Windows Server 2019 Hyper-V is supported. We will get the documentation updated to reflect the same. A pull request has been raised https://github.com/MicrosoftDocs/azure-docs-pr/pull/123106 the changes should go live post content owner review.

[2020-07-21 06:50] AnuragSharma-MSFT commented on #59400
@2ndcahl Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-07-21 07:02] KranthiPakala-MSFT commented on #59229
@hansmbakker, I have escalated this to ADF engineering team and awaiting a response on the same. I will keep you posted as soon I hear back from them.

Thank you for your patience.

[2020-07-21 07:10] hansmbakker commented on #59229
I found out that it is possible to put this in your xml:
`xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="<PATH_TO_XSD>`

However, that requires modification of your xml files which is not always possible.

[2020-07-21 07:10] AnuragSharma-MSFT commented on #59029
@santhoshbomma9 As per the discussion, there is no manual way to select a DR region currently for Hyperscale(Citus). We can leverage Azure PostgreSQL Single server for the same.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-21 07:10] #59029 closed

[2020-07-21 07:11] MayankBargali-MSFT commented on #59394
Hi @Camios

'Developers' mentioned in the doc are the ones who will be building the systems that consume the APIs. The common scenario mentioned in docs is a description of systems/services that will be consuming the API.

[2020-07-21 07:18] hansmbakker opened #59401 "[feature request] XML schema import from XSD"
It seems that for the XML connector, you can only get an Azure Data Factory schema in these 2 ways:
- manually editing the json description of the component
- by looking at sample xml files.

This has these limitations:
- Manually editing the json is complex, especially if the XML files have a more complex XSD schema.
- Sample xml files often do not cover all possibilities of the XSD schema. With

[2020-07-21 07:20] HarshitaSingh-MSFT commented on #59214
Hello @wolfganggallo!

Just checking to see if you have had a chance to see the previous response. Kindly let us know if it answers your question and if you need further assistance on this issue.

[2020-07-21 07:33] amanmcse commented on #59395
@ShintakuNobuhiro Thank you for your feedback . We will investigate and update the thread further.

[2020-07-21 07:33] KrishnaG-MSFT commented on #59104
@sayanghosh123 The timeline / ETA for python 3 support is by end of summer i.e., by 9/22.

For [v1.13](https://github.com/microsoft/OMS-Agent-for-Linux/releases/) you must have python cmd aliased to python 2. We are working on a fix in the next hotfix that will allow python 2/3 interop / to work in conjunction that's planned for July end.

[This](https://github.com/MicrosoftDocs/azure-docs/issues)

[2020-07-21 07:33] #59104 closed

[2020-07-21 07:34] Camios commented on #59394
I disagree, when I read the article I interpret it is worded towards
Developers as the prime Consumers of Protected Products requiring a
subscription which they get from the via the Developer portal. I cannot see
consideration/mention of providing a non-person ie system with access to a
product / an API, only an individual. IIRC the dev portal ask for first and
last name, which doesn’t make sense

[2020-07-21 07:39] amanmcse commented on #59398
@cglong  Thank you for your feedback . We will investigate and update the thread further.

[2020-07-21 07:41] jlb112 commented on #59062
Thank you for your response.
The Linked service is pointing to the correct server.
Do I require every table created in DW or only the schema (SalesLT)?
Is it possible company firewall/vpns may prevent the data factory pipeline from accessing the DW?

[2020-07-21 07:41] amanmcse commented on #59391
@m-moris Thank you for your feedback . We will investigate and update the thread further.

[2020-07-21 07:44] souravmishra-msft commented on #59216
Closing this thread for now.

[2020-07-21 07:45] dcurwin commented on #59176
Oh, sorry. We updated the MABS page, but not the Azure Stack page. The page has now been updated and the changes should show up in the next few hours.

[2020-07-21 07:46] nkumars commented on #58645
@JasSuri, any update?

[2020-07-21 07:46] #59216 closed

[2020-07-21 07:51] PramodValavala-MSFT commented on #59065
I actually do see it when I select WebHook as the endpoint, even for a system topic. And I can confirm the token is included in the request made to the function.

**But** I seemed to have been missing the point about using the `Authentication / Authorization` feature of the Azure Function along with Event Grid AAD Authentication.

Considering the [authentication flow](https://docs.microsoft.com/en

[2020-07-21 07:52] JasSuri commented on #58645
I dont think this combination will work.

If you dont use AlwaysUseDefaultValue=True, and the IdP does not send the claim, you will resolve the defaultValue as a literal '{OIDC:profile}'.

If you do use AlwaysUseDefaultValue=True, and the IdP does send the claim, its ignored and you will resolve the defaultValue as a resolution of '{OIDC:profile}'.

[2020-07-21 08:02] sarathsasidharan commented on #56891
Hi Team ,

We got a solution from the product group regarding this :

=====================================================
Below is a summary of the case for your records:
Scope:
Connect to Azure Databriks using the Spark connecter from PBI Desktop while on proxy.

Resolution:
Enabled proxy option for Spark connector. Created file microsoft.sparkodbc.ini and copied it to ODBC Drivers\Simba Spark

[2020-07-21 08:02] MayankBargali-MSFT commented on #59394
Well, we don't really have an organization account per se, especially not in the developer portal. For this, APIM introduced standalone subscriptions - https://docs.microsoft.com/en-us/azure/api-management/api-management-subscriptions#subscriptions-for-all-apis-or-an-individual-api

[2020-07-21 08:03] realrubberduckdev commented on #59065
Thank you @PramodValavala-MSFT for checking into this. Very helpful. The APIM might be the way for me, will try it. Closing this issue.

[2020-07-21 08:03] #59065 closed

[2020-07-21 08:08] Camios commented on #59394
I guess the point was this article is about APIM overview which is wider
scope than just developer portal but the article reads like that is the
only option

On Tue, 21 Jul 2020 at 6:02 pm, MayankBargali-MSFT <notifications@github.com>
wrote:

--
Sent from Gmail Mobile.

[2020-07-21 08:11] amanmcse commented on #42134
This behavior is by design, and is not restricted to OTP. Rather this will apply to other types of guest users as well.
For example, they will get similar behavior for guest users with a Microsoft consumer account. Below, I have pasted an example access token for a Microsoft consumer guest. It is similar, except that the value before the # is ‘live.com’. Whatever tooling you are using to process o

[2020-07-21 08:11] #42134 closed

[2020-07-21 08:16] amanmcse commented on #59274
@DataHippo93 Closing the thread now. Feel free to tag me in your reply if you have any question.

[2020-07-21 08:16] #59274 closed

[2020-07-21 08:20] VikasPullagura-MSFT commented on #58928
@OmegaMadLab I have shared your inputs to internal team and team has tested the using Linklocal address and it worked well.

The doc author is in process of adding this information to the document.

The document update is currently in-progress.

[2020-07-21 08:27] AnuragSharma-MSFT commented on #59399
@Arvind-0120 Thanks for letting us know, we have updated the document content accordingly.
The changes should be live once the PR is approved.

We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-21 08:27] #59399 closed

[2020-07-21 08:29] MinaPiao opened #59403 "request updated version of the driver to address the security vulnerability (CVE‑2020‑5973) in https://docs.microsoft.com/en-us/azure/virtual-machines/windows/n-series-driver-setup"
will Microsoft supply the updated version of the driver to address the security vulnerability (CVE‑2020‑5973) in https://docs.microsoft.com/en-us/azure/virtual-machines/windows/n-series-driver-setup

Updated Version is vGPU Software ：10.3，Driver：443.46 refer to https://nvidia.custhelp.com/app/answers/detail/a_id/5031

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2020-07-21 08:32] gbrueckl opened #59404 "Datalake Gen2 reference root path of filesystem"
Seems like Get-AzDataLakeGen2Item and Get-AzDataLakeGen2ChildItem behave differently when it comes to reading the FileSystems root directory

Get-AzDataLakeGen2Item -FileSystem $settings.fileSystemName -Path "/" # FAILS
Get-AzDataLakeGen2Item -FileSystem $settings.fileSystemName -Path "\\" # OK
Get-AzDataLakeGen2ChildItem -FileSystem $settings.fileSystemName -Path "/" # OK
Get-AzDataLakeGen2ChildI

[2020-07-21 08:36] CHEEKATLAPRADEEP-MSFT commented on #59404
@gbrueckl  Thanks for the feedback! Your feedback  has been shared with the content owner for further review.

[2020-07-21 08:37] GitaraniSharma-MSFT commented on #59111
PR done. It will take some time to get the changes reflected over the document.

[2020-07-21 08:37] #59111 closed

[2020-07-21 08:38] Vivace83 commented on #54297
@AjayKumar-MSFT @SamaraSoucy-MSFT  Was there ever a resolution with this issue? i am having the same issue, and I see many others also having this issue. Some details would be helpful to others with the same problem.

[2020-07-21 08:54] Expecho commented on #51542
Curious about this as well. Also, given an Application Insights resource, how can I get to the corresponding alertTargetID? I can't find it in the portal

[2020-07-21 09:10] SnehaAgrawal-MSFT commented on #59131
@mohamed-shehata-m The Web Apps feature of Azure App Service runs a background job every eight hours and syncs the certificate resource if there are any changes. When you rotate or update a certificate, sometimes the application is still retrieving the old certificate and not the newly updated certificate. In this case you can force a sync of the certificate. Select the certificate from App Servic

[2020-07-21 09:15] HarshitaSingh-MSFT commented on #59215
Hello @hem-sharma,

- For your First question:

   If you don't [configure ](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/configure-single-sign-on-non-gallery-applications)SSO options, SSO won't happen.

- For your Second question:

   We recommend you to write a wrapper on top of your application which has API hosted endpoints. Then, internally append headers (ocp-apim-subs

[2020-07-21 09:17] AnuragSharma-MSFT commented on #59400
@2ndcahl Thanks for letting us know, we have updated the document accordingly.
The changes should be live once the PR is approved.

[2020-07-21 09:23] GitaraniSharma-MSFT commented on #59114
@ranjeetgarodia , we have received an update from the backend team that the fix deployment for this portal bug will be completed by 1st week of August 2020 for all regions. In the meantime, you can follow any of the below available workarounds:
1. Deploy Application gateway V2 with multi-site listener via Azure PowerShell.
2. Deploy Application gateway V2 with multi-site listener via Azure CLI.
3.

[2020-07-21 09:23] #59114 closed

[2020-07-21 09:35] BzSpi opened #59405 "Wrong target for link "DTU resource limits - Azure SQL Database.""
The first link of the page "DTU resource limits - Azure SQL Database." target a vCore documentation page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83ac6bf5-b77e-2eeb-20ad-f850fbbf06c6
* Version Independent ID: fa64f1b9-62f1-3abc-523c-419682d911c0
* Content: [DTU resource limits elastic pools - Azure SQL Database]

[2020-07-21 09:42] crobin1 commented on #33601
Hi all,

I'm confused about the v2 pricing model. I understand there is a fixed price for using an APGW v2 and a price related to CUs usage. It does not mention how APGW distributed on Availability Zones are priced. So if I deploy an APGW on 3 AZ, will I be charge for 3x the fixed price? Or if I have 10 CUs configured, will I be charge 3x 10CUs price? Or anything else?

Thnaks.

[2020-07-21 09:45] rubinovk opened #59406 "Troubleshoot "No recovery points found""
Hello, please add guidance to troubleshoot "No recovery points found" error when recovering files from another VM.
I have triple-checked that Recovery points exist.

![image](https://user-images.githubusercontent.com/2063487/88039065-64a6f000-cb47-11ea-817f-1de6b04ae5f8.png)

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-07-21 09:49] AnuragSharma-MSFT commented on #59405
@BzSpi Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2020-07-21 09:51] OmegaMadLab commented on #58928
Great @VikasPullagura-MSFT! Glad to be helpful!

[2020-07-21 09:55] IsaacJMartin opened #59407 "Minor table heading issue"
Minor bug with the table heading under "Single Database DTU and storage limits".
Column headings need to shift one cell to the right.

![AzureDBDocsTableBug](https://user-images.githubusercontent.com/10593258/88040005-a3f73000-cb8b-11ea-93bb-32c86d30a9e7.PNG)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b8f9b79-678b

[2020-07-21 10:00] dcurwin commented on #59406
#reassign:ajithkr-ms

[2020-07-21 10:10] neryacohen opened #59408 "I tried running this example with Tensorflow estimator configure to MPIConfiguration. looking at the logs - seems like it duplicate the work for 2 node which make the same things (duplicate), instead of parallel it. any suggestions?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5b90fbd-19a9-4fe7-032b-765457549f30
* Version Independent ID: a23a02a5-23fd-9935-4031-b943aa468030
* Content: [Train and deploy a TensorFlow model - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-train-tensorfl

[2020-07-21 10:15] ram-msft commented on #59129
@philippschaefer4 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-21 10:19] VikasPullagura-MSFT commented on #59034
@peterpogorski Can you please confirm if this is related to the DNS issue.

[2020-07-21 10:35] JayaChatterjee-MSFT commented on #59205
@sleesm Following up to understand whether my previous comment helps and works out for the mentioned problem statement.

[2020-07-21 11:07] psmanhas commented on #58279
@amragawad Apologies for the delay in response.

We had discussion internally over the issue and as per our discussion RMAN and Azure Backup currently are not integrated, which is why that document looks the way it does.

The documentation is being updated as per your ask and changes will go live soon.

Hope it helps.

Do let me know in case of any further queries.

Thanks

[2020-07-21 11:14] #59389 closed

[2020-07-21 11:31] ANIKIT93 commented on #59361
Hi,

Thank you for taking note of the issue.

I was trying Zip based deployments of Azure functions via terraform and enabling the Oryx flag to have it execute the setup including pip of the requirements.txt. (As mentioned https://github.com/microsoft/Oryx/blob/master/doc/runtimes/python.md)

Although on execution of the app I get an error 500 with a missing pywin32 module thrown by azure.credenti

[2020-07-21 11:35] AnuragSharma-MSFT commented on #59407
@IsaacJMartin Thank you for the feedback. This change has been covered as part of GitHub Issue [#59400](https://github.com/MicrosoftDocs/azure-docs/issues/59400).
A PR has already been created and these changes will be reflected when it is merged. Please follow it up through the same thread.

We will now proceed to close this thread. If there are further questions regarding this matter, please com

[2020-07-21 11:35] #59407 closed

[2020-07-21 11:35] sakaldeepyadav opened #59409 "[Preview] Vulnerability Assessment should be enabled on Virtual Machines)"
The below policy is not in preview anymore, please update the doc.

 [Preview] Vulnerability Assessment should be enabled on Virtual Machines)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6230e675-0c07-86be-96e8-2e5463c809bc
* Version Independent ID: a9e9c045-ed30-b01a-5682-b102448066ef
* Conte

[2020-07-21 11:38] helloyesthisisdave opened #59410 "Example 4 - Blob Storage appears to have a mix of Blob and Event Hub related code in"
It looks like the SQL in Example 4 - Blob Storage has the example code for the 'MyEventHub_tweets' external data source rather than a Blob Storage specific example of it's own.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d57365ff-69c9-10ab-46d7-483b46925cb2
* Version Independent ID: 297a7ca4-4556-819b-a79c-90f6c4483

[2020-07-21 11:52] harithamaddi commented on #59401
@hansmbakker - Thanks for the feedback!  Your feedback  has been shared with the content owner for further review.

@linda33wj - Can you please take a look at this and do the needful.

[2020-07-21 11:55] AdityaMehtaGL commented on #43686
Yes AGIC won't work with AppGW version v1(standard and WAF). You need to deploy AppGW v2 version then try AGIC 1.12.

Also, AGIC 1.10 won't deploy on AKS 1.16. Use 1.14 or before.

[2020-07-21 11:57] BhargaviAnnadevara-MSFT commented on #59033
@slavizh At this point, it appears that there are no edits or updates needed to the document in question. Hence closing this issue for now. If there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-07-21 11:57] #59033 closed

[2020-07-21 11:58] BhargaviAnnadevara-MSFT commented on #59030
@djpirra At this point, it appears that there are no edits or updates needed to the document in question. Hence closing this issue for now. If there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-07-21 11:58] #59030 closed

[2020-07-21 12:24] shashishailaj commented on #59409
@sakaldeepyadav Thank you for your feedback . We will investigate and update the thread.

[2020-07-21 12:28] alxy commented on #45158
Whoever comes across this error and doesnt know how to solve it:
Make sure to not use Data Lake Storage Gen2 for the `tempDir` but use a regular blob storage account.

[2020-07-21 12:30] VikasPullagura-MSFT commented on #58936
@daviburg Apologies in delayed response.

I checked with internal team on this and below is the information I got:

As stated in the document, guest agent probes are not effective and should be viewed as a last resort configuration. The recommendation is to use a tcp or http custom probe that would reflect the true health of the application running on an instance. If a custom probe is configured,

[2020-07-21 12:30] VikasPullagura-MSFT commented on #58936
@daviburg
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-07-21 12:30] #58936 closed

[2020-07-21 12:36] femsulu commented on #59084
adding @BrianLevenson (FYI)
@tfitzmac  - I am able to confirm move cross-RG within the same subscription. We may need to revise the content.

[2020-07-21 12:39] BeMor opened #59411 "I'm unable to locate a "Required Permissions blade""
I'm unable to locate a "Required Permissions blade" to assign a role which is set as application. There's a great example on user assignment but none for application roles. I'm wanting to assign a Logic App with System assigned identity enabled access to a role on an App Service resource.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-07-21 13:06] atobrandon commented on #23029
The solution for me was just to repeatedly explain to Google support that b2clogin.com is controlled by MS and doesn't belong to us, so it is impossible for me to add the DNS records they were requesting.  After explaining that a few times in various ways, I eventually asked for the case to be escalated and then they did whatever needed to be done on their end to allow us to display our own logo a

[2020-07-21 13:10] git001 opened #59414 "Install fluentd plugins"
I would like to install the following fluentd plugin https://github.com/libresh/fluent-plugin-haproxy.
The doc mention that the plugins can be add to the following directory `/etc/opt/microsoft/omsagent/<workspace id>/conf/omsagent.d/`.

Is there any supported and documentd way to run a `*gem install <PLUGIN>` as described in the fluentd documentation.
https://docs.fluentd.org/deployment/plugin-ma

[2020-07-21 13:20] git001 opened #59415 "The development/support of Fluentd v0.12 has been ended"
Looks like the Linux Agent use the Fluentd version 0.12.40. In the documentation for the version 0.12 mention that this version is not maintained any more.

https://docs.fluentd.org/v/0.12/
[code]

Any plans to update fluentd to the latest version?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0287cabf-672d-fca1-9cc9-

[2020-07-21 13:34] GiftA-MSFT commented on #59408
@neryacohen we'll review your feedback and get back to you shortly. Thanks.

[2020-07-21 13:36] CharmanderJieniJieni commented on #59070
Thanks James,
The [Information Protection Policies](https://docs.microsoft.com/en-us/rest/api/securitycenter/informationprotectionpolicies/createorupdate) seems to be able to create custom labels, just wondering is there a corresponding PowerShell command for this?

Also, in [this section](https://docs.microsoft.com/en-us/azure/security-center/security-center-info-protection-policy#manage-sql-info

[2020-07-21 13:38] amanmcse commented on #59403
@MinaPiao Thank you for your feedback . We will investigate and update the thread further.

[2020-07-21 13:40] amanmcse commented on #59411
@BeMor  Thank you for your feedback . We will investigate and update the thread further.

[2020-07-21 13:56] robbshaw opened #59416 "FSLogix IOPS listed"
The IOPS listed in the FAQ seems a bit backward or needs adjusting.
Steady state should be lower than sign in/sign out especially if it is the first auth and the vhd(x) is being created.  I usually recommend the following:
Steady State
Profile Container when used in conjunction to O365 container  - is about 5IOPS
Profile Container when capturing the Office data in the profile container (no O365 Co

[2020-07-21 14:01] SwathiDhanwada-MSFT commented on #59414
@git001 Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-07-21 14:03] SwathiDhanwada-MSFT commented on #59415
@git001 Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-07-21 14:14] imatiach-msft commented on #59129
@philippschaefer4  @ram-msft hold on I'm still looking into this.  However, would help to get a repro from customer.

[2020-07-21 14:15] imatiach-msft commented on #59129
@ram-msft can you reopen the issue?

[2020-07-21 14:15] michaelburch opened #59417 "Comparison table contradicts documentation for private endpoints"
The comparison table states that "Private IP address cannot be assigned (you can limit the access using firewall rules)." for Azure SQL DB.

https://docs.microsoft.com/en-us/azure/azure-sql/azure-sql-iaas-vs-paas-what-is-overview#comparison-table

The documentation for Private Link/Endpoints indicates otherwise:

"Private Link allows you to connect to various PaaS services in Azure via a private e

[2020-07-21 14:16] GiftA-MSFT commented on #59408
@neryacohen can you please share a screenshot of this observation? Thanks.

[2020-07-21 14:32] kilasuit opened #59418 "Image is out of date"
The image [here](https://docs.microsoft.com/en-gb/azure/active-directory/develop/howto-create-service-principal-portal#register-an-application-with-azure-ad-and-create-a-service-principal) is out of date as this does not show ability for applications to be multi-tenanted as is possible now
---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-07-21 14:33] schnabel45 opened #59419 "Rule exceeds maximum allowed length"
Recently I attempted to create a rule where a device display name is in an array, similar to the following.
`(device.displayName -in ["iPhone-123", "iPhone-456"])`
I use displayName since I enforce a naming scheme in Intune and cannot create a rule based on serial number.

I have over 600 devices for this specific use case, so unsurprisingly I quickly ran into the following error.

I am unable to

[2020-07-21 14:42] JayaChatterjee-MSFT commented on #50065
@CundyTech The example has been corrected. Please check the document. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-21 14:42] #50065 closed

[2020-07-21 14:45] sehaswell opened #59420 "Make substitutions in example commands clearer"
In section "Push image to registry" example commands use the same name in angle brackets to refer to the login server and the fully qualified version (i.e. with .azurecr.io) in different steps. This is easy to miss - it'd be good to make it clear _in_ the example command that the fully qualified version is needed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-07-21 14:51] jeffmoltenberry opened #59421 "Out of date information"
You may want to consider updating this cheat sheet for latest features. For example, "Until auto-statistics are generally available" but this is generally available as of 7/21/2020.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61988aaf-ef0d-999f-536b-47af6b6b1258
* Version Independent ID: bf939211-a490-f304-16cf-db87

[2020-07-21 14:53] jeffmoltenberry commented on #59421
Additionally "Next, use PolyBase to load your data into staging tables.", but my understanding is use COPY INTO which is even faster.

[2020-07-21 14:54] jeepwran opened #59422 "Found this very confusing for the validation step."
What is this asuid referred to - app service uid? I can find no such animal. My working TXT records also look nothing like this instead have:

TYPE: TXT
NAME: awverify.{subdomain}
VALUE: {appservicename}.azurewebsites.net

Only the naked domain appears to have required the validation id

TYPE: TXT
NAME: *
VALUE: {validation id}

---
#### Document Details

⚠ *Do not edit this section. It is require

[2020-07-21 14:57] JamesHHoustonII commented on #59390
Solved: https://stackoverflow.com/questions/13406663/how-can-i-allow-unknown-users-to-access-my-sql-azure-db

Azure Portal -> Databases -> Servers -> Configure and add the following rule:

All Access 0.0.0.0  255.255.255.255

I would suggest you do due security diligence in your application but this is how you can run an app (WPF, UWP ect..) with Microsoft Graph Sigin in and any client can access

[2020-07-21 14:57] #59390 closed

[2020-07-21 14:57] wcneumann219 opened #59423 "Outlook blocked with this policy--please address this issue!"
Your article recommends blocking legacy authentication protocols, including Autodiscover. But you also point out that Outlook depends on Autodiscover to access Exchange Online.

Therefore, this article recommends disabling one of your own most popular products and services; Outlook and Exchange Online.

This doesn't make sense, but indeed if you deploy this policy you break Outlook because it can'

[2020-07-21 15:05] psignoret commented on #58920
@duwood Can you try classifying the permission **email** (view the signed-in user's email address). This is most likely what is tripping the "you can't consent" logic.

[2020-07-21 15:07] timjansenortec opened #59425 "Case sensitivity"
From this page it is not clear if the unique key constraint prevents duplicate VALUES with different casing.
Can I insert both these person's or not?
person1
{
  name: "Gaby"
}
person1
{
  name: "gaby"
}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf261de8-a6fa-9497-ffff-106550e2a537
* Version Independent ID: ee0468

[2020-07-21 15:08] schnabel45 commented on #59419
Just a bit of trial and error, it seems that a rule syntax can contain a total of 3072 characters. Not sure if this is the exact limit, just what I've found as the maximum it'll allow me to save.

[2020-07-21 15:23] pierrejeandev opened #59427 "ADF expression: 'activity' function"
These is an ADF expression function named 'activity' that can be used to get a an activity object and explore the ouput of the actifity for example.
We can see this function in one eample in the documentation: "@activity('{activityName}') ..."
But I can't find the documentation for this function. I was wondering if we can can call the function without arguement and get the current activity: "@acti

[2020-07-21 15:24] DerekHerman-MSFT commented on #59329
The PR request has been raised and these changes should be reflected soon. I am closing this out for now. Please let us know if you have additional issues or questions. Thanks again!

[2020-07-21 15:24] #59329 closed

[2020-07-21 15:25] SatishBoddu-MSFT commented on #59374
Hello @crapo ,
I have assigned the issue to the content author @baanders for further review.

[2020-07-21 15:31] dmeier-umn opened #59428 "Simple typo"
Typo in the first paragraph:
"an application object and service principal are automatically created your home directory or tenant"

Should be:
"an application object and service principal are automatically created in your home directory or tenant"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11aaa091-1108-52f6-0066-0

[2020-07-21 15:42] SwathiDhanwada-MSFT commented on #59305
Apologies for my previous comment @GitelGeiger . To get insights on the operations that are performed at data plane, you need to enable diagnostic logs for the azure resource. You can view the logs based on type of collection you have set

Azure diagnostics - All data written is to the AzureDiagnostics table.
Resource-specific - Data is written to individual table for each category of the resource

[2020-07-21 15:42] lokijota opened #59429 "Running the bash code fails"
Running the bash code in an Azure AIRS subscription fails with the following error.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17c585b7-9db6-0c41-53f0-b32c3f36f2a1
* Version Independent ID: 5946c064-33f4-90d4-66ea-8854a9760a98
* Content: [Detect motion and emit events - Azure - Live Video Analytics on IoT E

[2020-07-21 15:46] sdegenhardt commented on #58975
I don't see how I can open this thread, but I would like to request to have it reopened.

[2020-07-21 15:53] sdegenhardt commented on #58975
I have followed all the instructions and read through all the comments in order to determine what I might be doing wrong.  I have checked all the typical issues over and over.  But I still get the same result when executing the signup_signin flow.  I am able to create an account using this flow.  But when attempting to log in I get the "Invalid username or password." message.  I am able to log in

[2020-07-21 15:54] sdegenhardt commented on #58975
Please tell me exactly what you would like as supporting documentation.  I can upload all my files, provide screenshots, etc. per your request.

[2020-07-21 16:00] xmseraph opened #59430 "what is bogus faker"
can i know what is bogus faker?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21b7030e-5d76-31d8-9e62-e2675aed96c9
* Version Independent ID: f04c4507-f9d4-7c12-d147-bcf7a428cef9
* Content: [Bulk import data to Azure Cosmos DB SQL API account by using the .Net SDK](https://docs.microsoft.com/en-us/azure/cosmos-db/tutor

[2020-07-21 16:02] MarileeTurscak-MSFT commented on #59428
@dmeier-umn
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-21 16:02] sdegenhardt commented on #58975
Here is my post to the Microsoft Q&A forum per your request: https://docs.microsoft.com/en-us/answers/questions/50355/unable-to-sign-on-using-custom-policy.html

[2020-07-21 16:03] MarileeTurscak-MSFT commented on #59428
Thank you! I made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/123143

[2020-07-21 16:03] #59428 closed

[2020-07-21 16:05] mimckitt commented on #47720
#reassign: @mimckitt

[2020-07-21 16:06] sdegenhardt commented on #58975
@MarileeTurscak-MSFT or @SaurabhSharma-MSFT can you please reopen this issue.

[2020-07-21 16:20] KalyanChanumolu-MSFT commented on #59430
@xmseraph Thank you for reaching out.
Bogus is a fake data generator. It helps generate data for testing and demo purposes.
Please find more details [here](https://github.com/bchavez/Bogus)

[2020-07-21 16:24] vikancha-MSFT commented on #59403
@MinaPiao We are in the process of publishing GRID11. It should go live in the next couple of days.

[2020-07-21 16:27] roygara commented on #59140
@nithyaswam Since I haven't heard back and the example works as tested, I'll close this issue. Thanks for reaching out.

#please-close

[2020-07-21 16:27] #59140 closed

[2020-07-21 16:32] SwathiDhanwada-MSFT commented on #59320
@NicolasRiou As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-07-21 16:32] #59320 closed

[2020-07-21 16:34] Mike-Ubezzi-MSFT commented on #59417
@michaelburch Thank you for taking the time to capture and detail the documentation anomaly and making us aware so we can address it. This topic does generate a lot of conversation so, anywhere there is a lack of clarity or specific corrections needing to be made with regard to the information being conveyed in the documentation, this feedback loop is super helpful to address and implement updates

[2020-07-21 16:41] xmseraph opened #59431 "super slow"
I was running this example, and the program only used 1Mbps bandwidth and it took hours to finish import 12k out of 300k items(there is only 3 key value pair in each), and then got a timeout response, do i setup something wrong?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21b7030e-5d76-31d8-9e62-e2675aed96c9
* Versi

[2020-07-21 16:46] linkmanishgupta commented on #23029
Yes, Right.
I also tried to repeatedly explain Google support team about what we are using and also shared the documentation URLs to explain our need:
https://docs.microsoft.com/en-us/azure/active-directory-b2c/b2clogin
https://docs.microsoft.com/en-us/azure/active-directory-b2c/

So finally they agreed and approved the domain and app.
It was hard but acceptable :)

[2020-07-21 16:49] KranthiPakala-MSFT commented on #59229
Thanks for the feedback and helping us to improve the product as well document content better.

Yes, as mentioned in the notes section, XML schema validation can be currently done by referring XSD/DTD inside the XML files through relative path.

I have shared this feedback with ADF team and are looking into it. I have also noticed that you have shared the feedback in ADF uservoice forum:

https://

[2020-07-21 16:49] #59229 closed

[2020-07-21 16:50] normesta commented on #49799
Thanks @carsontwilson . Yes this article is outdated and features commands from the previous version of AzCopy. I've removed this article from the content set to alleviate any confusion. Content for the current version of AzCopy is here - https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-v10?toc=/azure/storage/blobs/toc.json. Thank you!

[2020-07-21 16:50] normesta commented on #49799
#please-close

[2020-07-21 16:50] #49799 closed

[2020-07-21 17:01] KalyanChanumolu-MSFT commented on #59425
@timjansenortec Thank you for reaching out.

The values are case sensitive. "Gaby" is different from "gaby".
If you have a unique key defined on /name, you will be able to insert both of them.

[2020-07-21 17:02] KranthiPakala-MSFT commented on #59421
@jeffmoltenberry
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-07-21 17:06] KranthiPakala-MSFT commented on #59427
@pierrejeandev
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-07-21 17:11] #59084 closed

[2020-07-21 17:12] corsilt opened #59433 "Are all of my notebooks from azure studio ML from before April gone? I would like to access these notebooks I had saved, but I can't seem to find them."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c00ef93-c589-083c-ff23-a6975c3eb996
* Version Independent ID: e4e0a6fd-0591-9b51-a0c2-4abfb21c57bf
* Content: [Export and delete your data - ML Studio (classic) - Azure](https://docs.microsoft.com/en-us/azure/machine-learning/studio/export-delete-per

[2020-07-21 17:12] erhopf commented on #54919
@kmoore-riphaina - we've created a work item on our end and are triaging the issue.

[2020-07-21 17:20] tfitzmac commented on #59084
@BBrukner - thanks for this feedback. I have updated the article and it should get published later today.

[2020-07-21 17:21] cynthn commented on #59223
The doc has been updated. Thanks again!

#please-close

[2020-07-21 17:21] #59223 closed

[2020-07-21 17:23] tfitzmac commented on #58362
I have confirmed that this is a bug in how the service implements tags. Azure Automation would need to fix the issue. @SwathiDhanwada-MSFT - have you been in contact with Automation?

[2020-07-21 17:25] SwathiDhanwada-MSFT commented on #58362
Yes @tfitzmac . I have already raised a bug with Azure Automation team.

[2020-07-21 17:29] PeterCLu commented on #59151
#please-close

[2020-07-21 17:29] #59151 closed

[2020-07-21 17:29] nielsthinkiq opened #59434 "Do you really want me to scan the QR code in this page?"
Makes no sense and does not work.

Show me how to do it with my Azure domain,.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5699f56d-758d-e3c2-cd44-571f9364dfef
* Version Independent ID: 91ec729c-9ffd-a705-c03f-3608e01ce83a
* Content: [Add a work or school account to the Microsoft Authenticator app - Azure AD](https:

[2020-07-21 17:35] iliassk commented on #57608
@JasSuri @JamesTran-MSFT I've already tried what was suggested in the docs but it's not working for me. AAB2C never sends a request to my Logout URL:
Since adding a new JwtIssuer throws this error :
![image](https://user-images.githubusercontent.com/8875979/88086809-3d244780-cb88-11ea-9e32-3815b8aa3cf5.png)

I changed its id. This is my configuration:
[code]
I'm not sure I'm getting where I should

[2020-07-21 17:36] DanielCernoch opened #59435 "Server-rendered => static website"
Did i miss something? The title is to publish server rendered app (SSR) and it tell about how to publish static website

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1b3f061-f523-e60d-9633-92841373318e
* Version Independent ID: 87f53c02-bfa8-8d07-b166-5cbc4d5775a1
* Content: [Tutorial: Deploy server-rendered Nuxt.js

[2020-07-21 17:41] MonikaReddy-MSFT commented on #59418
@kilasuit -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-21 17:45] euangms commented on #55550
Does the workspace MSI have the same permissions as the user account you were using from inside the notebook editor in the Studio?

[2020-07-21 17:54] YutongTie-MSFT commented on #59433
@corsilt
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-21 17:54] shashishailaj commented on #58109
@worldspawn As we have not received any response from your side, we will now close this issue. Whenever you test this in your environment , please let us know. If it still does not work as per suggestions on this thread then I would suggest to either post a thread on the [Microsoft QnA community](https://docs.microsoft.com/answers) or email us at azcommunity[at]microsoft[dot]com and we will help y

[2020-07-21 17:54] #58109 closed

[2020-07-21 17:54] MonikaReddy-MSFT commented on #59236
@Plus3IT-Azure - No.  Azure AD Connect is only on-premise AD to cloud.  You can't connect cloud to cloud.  This might fall under B2C or B2B

I hope this helps.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen th

[2020-07-21 17:54] #59236 closed

[2020-07-21 17:58] MonikaReddy-MSFT commented on #59434
@nielsthinkiq - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-21 17:58] baanders commented on #59374
Hi @crapo, thanks for noting the need for some clarifying info on Moon.

For completeness, the example code should also include a definition for Moon, the way it includes a definition for Crater.
I'm adding a Moon definition to the code sample, and drafting some additional context on the reference to these models.

[2020-07-21 18:01] MarileeTurscak-MSFT commented on #59419
@schnabel45 thanks! We are looking into this.

[2020-07-21 18:03] MarileeTurscak-MSFT commented on #59423
@wcneumann219
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-21 18:04] andresm53 opened #59436 "IPv6 address is represented by /128, not by /32"
Hi,
In the IPv6 section, the doc states: "If you want to specify an IP CIDR range for a single address, apply the /32 bit mask. If you say the IPv6 address 2607:fb90:b27a:6f69:f8d5:dea0:fb39:74a and wanted to exclude that single address as a range, you would use 2607:fb90:b27a:6f69:f8d5:dea0:fb39:74a/32."

Actually, a single IPv6 address is represented by /128, not by /32. /32 is a huge range.

--

[2020-07-21 18:06] #59374 closed

[2020-07-21 18:09] MarileeTurscak-MSFT commented on #59436
@andresm53
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-21 18:09] andresm53 opened #59437 "AAD sees an IPv6 address coming from an Azure VNET, *only* if the subnet has the Microsoft.AzureActiveDirectory service endpoint enabled"
Hi,
In the IPv6 section, the doc states: " In addition, if you are using Azure VNets, you will have traffic coming from an IPv6 address. If you have VNet traffic blocked by a Conditional Access policy, check your Azure AD sign-in log. Once you’ve identified the traffic, you can get the IPv6 address being used and exclude it from your policy."

But according to our tests, AAD sees an IPv6 address c

[2020-07-21 18:23] JamesTran-MSFT commented on #57608
@iliassk
Thank you for the response and details.

I'll reach out to @JasSuri regarding this info and we will update as soon as possible.

[2020-07-21 18:25] MonikaReddy-MSFT commented on #58844
@andreasmalta -

We have raised a PR to fix this issue.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/122914

Thanks again for bringing this to our attention. It will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-21 18:25] #58844 closed

[2020-07-21 18:26] MonikaReddy-MSFT commented on #58917
@dtblodgett -  We have raised a PR to fix this issue.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/122932

Thanks again for bringing this to our attention. It will be live once its merged. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-21 18:26] #58917 closed

[2020-07-21 18:27] MartinJaffer-MSFT commented on #58821
@wemiao  as this is no longer about the current version of the docs, I will close this issue and contact you out-of-channel.

[2020-07-21 18:27] #58821 closed

[2020-07-21 18:28] grayluck opened #59439 "Vnet injection private preview has officially ended"
Hi, this is Yankai from Databricks. I've been working on deprecating Vnet Injection public preview. It's officially ended on July 7, 2020. Thus this page https://docs.microsoft.com/en-us/azure/databricks/administration-guide/cloud-configurations/azure/vnet-inject-upgrade should not provide guidance for customers to upgrade. Instead, it should show:

"The Vnet injection public preview workspaces ha

[2020-07-21 18:35] terasaka commented on #48902
@ybutkevych this worked for me! Thanks a lot.

[2020-07-21 18:46] rorieke opened #59440 "Microsoft.Sql/servers/securityAlertPolicies do not support emailAddresses as of last release, but are mentioned in this document"
Feedback from the Policy Dev team:
"SQL has changed securityAlertPolicies so that they don't support emailAddresses on this resource anymore in the latest api-versions (do a GET using 2020-02-02-preview and you'll find no emailaddresses).  Policy queries the latest api-version when assessing ifNotExists resources."

This needs to be updated, because it doesn't work anymore:
{
    "count": {

[2020-07-21 18:46] KranthiPakala-MSFT commented on #59439
Hi @grayluck Thanks for the update and helping us to improve the doc content. I'll assign this to content owner to update the document in-order to reflect the latest information.

Hi @mamccrea,  Could you please review this update from Yankai and do the helpful needed. - Thanks.

[2020-07-21 18:53] swmachan commented on #53114
@tjkb The documentation states the correct limit of 100 array elements. What's the error that you are getting?

[2020-07-21 18:55] Mike-Ubezzi-MSFT commented on #59100
@jackbond Wanted to follow up on this discussion to ensure there are no more open items. What is not explicitly communicated in the documentation is the logic the Cosmos DB service applies to physical and logical partitioning, other than partition key selection guidelines. It does not explain the algorithm or special handling. A good way to gain clarity is on the read operation, where the section,

[2020-07-21 18:58] DCtheGeek commented on #59440
#assign:DCtheGeek

[2020-07-21 18:59] DCtheGeek commented on #59440
@rorieke Thanks for the information. I'll look into this and update the doc accordingly.

@MicrosoftDocs/azure-cxp-triage Please label 'doc-enhancement' and #in-progress.

[2020-07-21 19:02] mingshen-ms commented on #59098
@Jont-K, thank you for your feedback.  We're adding the hyperlink to the tax document that includes the tax remittance info.  In the meantime, you can review the [Tax details for commercial marketplace publishers](https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/tax-details-paid-transactions) for tax remittance info.
#please-close

[2020-07-21 19:02] #59098 closed

[2020-07-21 19:05] palma21 commented on #57030
Not sure I understand @JiriZidek, how would an IP point to 2 different services? I don't think this is an AKS specific limitation

[2020-07-21 19:24] mstehrani commented on #58502
@slewis1904 Hi Steve, I'm not able to reproduce an error using the existing example code to create & run the stored procedure prc_sqldw_update_stats. Do you mind sharing what error you received when running the code blocks?

[2020-07-21 19:38] swanderz commented on #37025
I just created a priority support ticket, hopefully we hear something back soon!

[2020-07-21 19:41] AjayKumar-MSFT commented on #49245
Apologies everyone for the late response and frustration with this issue. We had been discussion on this internally.
could you please send an email to AzCommunity[at]Microsoft[dot]com referencing this thread, the WebApp name, and the Azure subscription ID, for a deeper investigation, we will follow-up on this further.

Thanks for your patience and co-operation!

[2020-07-21 19:47] slewis1904 commented on #58502
Sorry I already tore down the Synapse where I was following the Modernizing
code examples.  I don't have the resources available to create procedure
and run the subsequent SQL script.

Thanks,
Steve

On Tue, Jul 21, 2020 at 2:24 PM Emily Tehrani <notifications@github.com>
wrote:

--

Steve Lewis
*Modern Data Engineer*
mobile 636.288.7063
<https://1904labs.com/>
<https://www.linkedin.com/company/19

[2020-07-21 19:47] lamelyan commented on #44882
@PramodValavala-MSFT   The documentation still says Application ID, it should be Application URI.

`<validate-jwt header-name="Authorization" failed-validation-httpcode="401" failed-validation-error-message="Unauthorized. Access token is missing or invalid.">
    <openid-config url="https://login.microsoftonline.com/{aad-tenant}/.well-known/openid-configuration" />
    <required-claims>
        <c

[2020-07-21 19:49] emuench commented on #59098
This link has been restored and this issue can be closed.

[2020-07-21 19:50] NavtejSaini-MSFT commented on #58246
@afratila  We are going ahead and closing this question and please get back to us if any further questions.

[2020-07-21 19:50] #58246 closed

[2020-07-21 19:50] mhopkins-msft commented on #59265
Hi @himanshudbagupta

After you have set the environment variable, make sure you restart your editor and any command prompt you're using to launch your app. Let me know if that works for you.

Thank you,
 ~ *Mark*

[2020-07-21 19:51] NavtejSaini-MSFT commented on #59369
@aarushi-mittal Please get back to us with Github documentation link for this issue.

[2020-07-21 19:51] NavtejSaini-MSFT commented on #59381
@tanmayjog Please get back to us with Github documentation link for this issue.

[2020-07-21 19:51] DougCoombs commented on #59395
@Heidilohr   This is correct, read/write should be 50, not 5.

[2020-07-21 19:52] jrapolu commented on #37025
Used Powershell to  upload multiline text and able to retrieve using C#.
https://artisticcheese.wordpress.com/2018/01/04/storing-arbitrary-text-file-in-azure-key-vault-as-secrets-ssh-keys-cer-files-etc/

[2020-07-21 19:57] NavtejSaini-MSFT commented on #59410
@helloyesthisisdave We are checking this and we will get back to you.

[2020-07-21 19:57] Jont-K commented on #59098
thank you, all

*Jonathan Kingsepp*
e: jont@tackle.io
m: 312.286.6102
https://tackle.io

On Tue, Jul 21, 2020 at 2:49 PM Eric Muench <notifications@github.com>
wrote:

[2020-07-21 19:58] DougCoombs commented on #59375
This article is not specific to hosts created from custom images.

[2020-07-21 19:58] zr-msft commented on #46001
Thank you @StingyJack for the feedback.

Based on reviewing the article again, there are no commands that are dependent on having `docker-compose` installed. Can you specify the command you were using when you ran into the issue?

Closing this issue for now and adding @dlepow as well.

#please-close

[2020-07-21 19:58] #46001 closed

[2020-07-21 19:59] mstehrani commented on #58502
@slewis1904 Thanks for the reply Steve. That's understandable. Seeing that the existing document code was validated, may I go ahead and close this issue? (another feedback item can be added if the issue is reproduced again)

[2020-07-21 20:01] JamesTran-MSFT commented on #59372
@yuvalm2
I just wanted to check in and see if you had a chance to review my previous post.

I look forward to your response.
Thank you for your time!

[2020-07-21 20:04] danielbjork opened #59445 "Clarify how many copies in secondary region"
"Geo-redundant storage (GRS) copies your data synchronously three times within a single physical location in the primary region using LRS. It then copies your data asynchronously to a single physical location in the secondary region."

Could you clarify if secondary region has ONE or THREE copies of the data. Its not clear in this text.

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-07-21 20:08] AjayKumar-MSFT commented on #54950
@mattchenderson, Requesting your comment on this.

[2020-07-21 20:08] slewis1904 commented on #58502
Yes. Thank you

On Tue, Jul 21, 2020 at 2:59 PM Emily Tehrani <notifications@github.com>
wrote:

--

Steve Lewis
*Modern Data Engineer*
mobile 636.288.7063
<https://1904labs.com/>
<https://www.linkedin.com/company/1904labs/>  <https://twitter.com/1904labs>
  <https://www.facebook.com/1904labs/>
<https://www.instagram.com/1904labs/>
1904labs is proud to be a Top Workplace 2019
<https://1904labs.com

[2020-07-21 20:09] SQLSourabh commented on #59410
Thanks @helloyesthisisdave for pointing this out.. this is a doc issue. I will fix this.

[2020-07-21 20:09] mstehrani commented on #58502
#please-close

[2020-07-21 20:09] #58502 closed

[2020-07-21 20:12] JamesTran-MSFT commented on #59365
@jitheshr
I just wanted to check in and see if you had a chance to review my previous post.

Additionally, I noticed that you are one of our internal PMs and are part of the Microsoft Docs org. If you'd like to edit or make changes to the current doc yourself you can do so by navigating to the doc and clicking on edit in the upper right, making sure you're on the -pr link when you submit for the p

[2020-07-21 20:17] danielbjork commented on #59445
Lets close this again.

There was a statement further down clarifying it. But maybe the text could be better.

"Within the secondary location, data is always replicated synchronously three times using LRS"

[2020-07-21 20:17] #59445 closed

[2020-07-21 20:19] tanmayjog commented on #59381
https://docs.microsoft.com/en-us/azure/azure-monitor/insights/vminsights-alerts

[2020-07-21 20:20] tanmayjog commented on #59381
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-overview

[2020-07-21 20:21] tanmayjog opened #59446 "Can we add the VM's name in the description, if we are querying on all VMs?"
I have created several rules such as low disk space, CPU utilization, memory, etc on all the machines in subscription by the below queries. I have set the action as sending an email.

**I want the name of the VM for which the alert is triggered in the subject line of the email.** As of now, I'm getting the name of the VM in the description.

Perf | where ObjectName == "LogicalDisk" and CounterName

[2020-07-21 20:22] AjayKumar-MSFT commented on #53726
Apologies for the delay, Alvin.  I have followed-up on this internally.
@mattchenderson,  Your feedback has been shared with the content owner for further review and update the document as appropriate.

[2020-07-21 20:24] gawainXX commented on #52656
Were you able to resulve this? I'm encountering this same behaviour on my WVD Host Pools trying to install appx packages via GPO

[2020-07-21 20:34] #57444 closed

[2020-07-21 20:37] KranthiPakala-MSFT commented on #59247
@jpborsi You are correct, looks like FDQN - `dbartifactsprodcentralus.blob.core.windows.net` is incorrect and `dbartifactsprodcus.blob.core.windows.net` is correct.

@mamccrea - Could you please review this and update the document as needed.

Thank you.

[2020-07-21 20:38] gaikovoi opened #59448 "Inconsistent "--recursive" usage in examples"
Examples use parameter "**--recursive**" in the inconsistent way. Sometimes if is just "--recursive", sometimes "--recursive=true". The description of the parameter doesn't even mention "--recursive=true" syntaxis as a possibility.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1bdc29f-175d-09b9-771d-cd84dbffbb49
* Ve

[2020-07-21 20:47] mattchenderson commented on #53726
Hi all - I'd like to understand specifically which hosting options are being used for some of the above statements. Linux Consumption (Functions) and Linux App Service Plan are what I see so far - is that correct?

I'll try and get a repro / get some other folks investigating.

[2020-07-21 20:50] shashishailaj commented on #59007
@NavishkarSadheo  The section means that you can use Grant the "block access" control in one policy and grant the "grant access"  control in other policy for other clients , block always wins . You can always have multiple conditional access policies but if you do not have any policies with "block access" control defined for "Other clients" in any policy then they will continue to work and legacy

[2020-07-21 20:50] #59007 closed

[2020-07-21 20:51] suusha1340 opened #59449 "azure-docs"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-07-21 20:52] zr-msft commented on #57444
Thank you @piotrgwiazda for the feedback.

I have updated the article to address your feedback and the changes should be available soon.

[2020-07-21 20:53] zr-msft commented on #43808
@dlepow would you mind taking a look at this?

[2020-07-21 20:54] suusha1340 commented on #59449
![repository-open-graph-template](https://user-images.githubusercontent.com/66894717/88086238-3c53db80-cbb1-11ea-8369-3611ea88302c.png)
# @

-

-

Duplicate of
![1594234379144](https://user-images.githubusercontent.com/66894717/88105988-f574de80-cbce-11ea-84ed-f7e430c63e64.jpg)

[2020-07-21 20:55] suusha1340 commented on #59449
![repository-open-graph-template](https://user-images.githubusercontent.com/66894717/88086238-3c53db80-cbb1-11ea-8369-3611ea88302c.png)
# @

-

-

Duplicate of
![1594234379144](https://user-images.githubusercontent.com/66894717/88106069-14737080-cbcf-11ea-9770-347294544a5f.jpg)

[2020-07-21 20:59] zr-msft commented on #54597
@dlepow mind taking a look?

[2020-07-21 21:00] mattchenderson commented on #54950
This is a fair request. The site may be running with an existing value, and we can call out compensating behavior with Event Grid rotation events, etc.

I will get this updated in the doc.

[2020-07-21 21:00] Grace-MacJones-MSFT commented on #59361
Thanks for the additional information @ANIKIT93. You can check out this doc  "[Zip deployment for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/deployment-zip-push)" for more information on how to how to deploy your function app project files to Azure from a .zip (compressed) file. please make sure you are syncing your [triggers](https://docs.microsoft.com/en-us/azure/azu

[2020-07-21 21:05] Karishma-Tiwari-MSFT commented on #59242
Thanks for the update. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-21 21:06] zr-msft commented on #57844
@dlepow mind taking a look?

[2020-07-21 21:06] xyz92 commented on #57835
Hi, reaching out again to see if you can help me with this issue? Thank you!

[2020-07-21 21:10] #51950 closed

[2020-07-21 21:10] zr-msft commented on #51950
Thank you @TiloGit for the feedback.

The article has been updated to address your feedback and the changes should be available soon.

[2020-07-21 21:12] shashishailaj commented on #59183
@agrabhi It is not immediate and there could be multiple different possibilities where enumeration of existing resources is required while deletion. So it will take some time and this time may vary tenant to tenant depending upon how many azure subscriptions are associated with the tenant which need to be queried. When you save it , it will complete all the checks and operations in the back-end be

[2020-07-21 21:12] #59183 closed

[2020-07-21 21:12] DerekHerman-MSFT commented on #59448
@gaikovoi Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-21 21:24] JiriZidek commented on #57030
Very normal example of NATed network with just single public IP address:
Service 1: 195.30.12.7, port 443 => forwarded to 10.0.0.12, port 443
Service 2: 192.30.12.7, port 25 => forwarded to 10.0.0.65, port 25
Service 3: 192.30.12.7, port 5443 => forwarded to 10.0.0.17, port 443

The very same is expected to work with AKS Networking... only instead of static internal IPs these has to be K8s "Servic

[2020-07-21 21:26] Karishma-Tiwari-MSFT commented on #59416
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-21 21:27] tfitzmac commented on #59355
@DavidPeraza - thanks for this feedback. I have updated the article with that information. It should be published today.

[2020-07-21 21:27] tfitzmac commented on #59355
#please-close

[2020-07-21 21:27] #59355 closed

[2020-07-21 21:28] Karishma-Tiwari-MSFT commented on #59420
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-21 21:35] suusha1340 opened #59450 "azure-docs"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53dd65b1-6f9d-9431-5850-9cee636aeabd
* Version Independent ID: 0012e819-bb2b-2955-d87b-d6f145fb6af7
* Content: [Overview - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/overview)
* Content Source: [articles/app-service/overview

[2020-07-21 21:42] estebanvenon opened #59452 "Command not working or out of date // https://docs.microsoft.com/en-us/azure/azure-sql/database/connectivity-settings#change-connection-policy-via-powershell"
# Get current connection policy
(Get-AzResource -ResourceId $id).Properties.connectionType    ##this command is not working, Customer reported the issue

(Get-AzResource -ResourceId $id -ApiVersion 2014-04-01 -Verbose).Properties.ConnectionType  ##This is the command working
##Refer to ICM https://portal.microsofticm.com/imp/v3/incidents/details/197371536/home

---
#### Document Details

⚠ *Do not

[2020-07-21 21:45] pisees opened #59453 "Ports needed to deploy Service Fabric Application on premises"
I have an agent connected to Azure DevOps that is deploying Service Fabric application on premises. There are firewalls between the agent and Service Fabric VMs, so I need to know all ports needed to deploy the Service Fabric application.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51480c05-7083-4aac-8c1a-42b4412e1d

[2020-07-21 21:48] #45485 closed

[2020-07-21 21:48] zr-msft commented on #45485
Thank you for the feedback @DroverInternal .

I have updated the article to address your feedback and the changes should be available soon.

[2020-07-21 21:50] JamesTran-MSFT commented on #59070
@CharmanderJieniJieni
The [Information protection policy - powershell commands](https://docs.microsoft.com/en-us/powershell/module/azureinformationprotection/?view=azureipps) don't look to have the create/update policies cmdlet.

Regarding Set-AzSQL, you might have to install the [AIP client](https://docs.microsoft.com/en-us/azure/information-protection/rms-client/client-admin-guide-powershell) or

[2020-07-21 21:51] SoccerCore11 opened #59454 "MFA prompt contradiction"
Contradiction between these two documents is MFA prompt "every time an authentication request is made" vs "for additional authentication whenever necessary"
https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-mfa-licensing#azure-ad-free-tier
https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/concept-fundamentals-security-defaults#protecting-all-users

-

[2020-07-21 21:52] SoccerCore11 opened #59455 "MFA prompt contradiction"
Contradiction between these two documents is MFA prompt "every time an authentication request is made" vs "for additional authentication whenever necessary"
https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-mfa-licensing#azure-ad-free-tier
https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/concept-fundamentals-security-defaults#protecting-all-users

-

[2020-07-21 22:01] zr-msft commented on #45342
Thank you @yuriwoof for the feedback!

I was able to verify the article works with the latest version of the preview extension enabled.

#please-close

[2020-07-21 22:01] #45342 closed

[2020-07-21 22:07] baanders commented on #59374
The updates are live now in the original article: [Custom models - Azure Digital Twins](https://docs.microsoft.com/en-us/azure/digital-twins/concepts-models)

[2020-07-21 22:08] MarileeTurscak-MSFT commented on #59454
@SoccerCore11 thanks! Closing this as a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/59455

We will track there.

[2020-07-21 22:08] #59454 closed

[2020-07-21 22:08] MarileeTurscak-MSFT commented on #59455
@SoccerCore11
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-21 22:09] swmachan commented on #53741
@wmpauli - the requirements are not outdated. We are making sure you don't use dynamic dictionary on same language and also mention the from and to, to ensure it detects the right source language.

[2020-07-21 22:14] swmachan commented on #53741
#please-close

[2020-07-21 22:14] #53741 closed

[2020-07-21 22:16] NavtejSaini-MSFT commented on #59422
@jeepwran We are checking this and will get back to you.

[2020-07-21 22:16] zr-msft commented on #56852
Thank you @MikeWilcoxMicrosoft for the feedback.

I'm not able to reproduce this issue on Ubuntu. Closing for now, but please reopen if you are continue to see this issue.

#please-close

[2020-07-21 22:16] #56852 closed

[2020-07-21 22:22] wmpauli commented on #53741
@swmachan your explanation doesn't make sense to me, and I don't understand how it relates to what I wrote. Fine with me though ...

[2020-07-21 22:22] PatrickFarley commented on #58820
fixed
#please-close

[2020-07-21 22:22] #58820 closed

[2020-07-21 22:26] NavtejSaini-MSFT commented on #59429
@lokijota We are checking this and will get back to you.

[2020-07-21 22:28] SaurabhSharma-MSFT commented on #59165
@sopopa1 I have tried using az role assignment to assign role to a service principal and it worked without assigning any additional permissions to the service principal.
![image](https://user-images.githubusercontent.com/38112130/88113477-b448e400-cb66-11ea-810f-d556b25f6ec5.png)
Please can you help understand your concern.

[2020-07-21 22:31] agrabhi commented on #59183
@shashishailaj thanks for the reply. But I am not seeing a solution for indeterministic behavior. Your reply just stated the observation. the confusion continues. the feature needs to be improved and shown the operation in progress and it has been accepted.

[2020-07-21 22:36] PatrickFarley commented on #59011
Hi @ojasp, which sample(s) are you referring to?

[2020-07-21 22:36] palma21 commented on #57030
Wouldn't that involve using NAT rules that would have to send traffic to a specific pod/service (which the LB can't see) or specific VM/IPport (which is the LB sees but has no way of knowing if the pod is there)?

So I'm not sure how this would work in a k8s environment. K8s Service addresses are internal to the cluster and non-routable. The LB only sees VM IPs, which is why it sends to a backend

[2020-07-21 22:40] JiriZidek commented on #57030
Since it works nicely for single public address and single port, I don't see any reason why it would not work with multiple ports... In k8s dashboard is no problem to define it. Problem is on Azure side.

[2020-07-21 22:55] Grace-MacJones-MSFT commented on #59370
Hi @joycezhupwc,

You can use [this](https://docs.microsoft.com/en-us/rest/api/appservice/webapps/deletebackup) REST API that deletes a backup of an app by its ID.

`https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/backups/{backupId}?api-version=2019-08-01`

or

You can use [this](https://docs.microsoft.com/en-us/az

[2020-07-21 22:55] #59370 closed

[2020-07-21 22:55] RyanHill-MSFT commented on #58976
Per our conversation @c-lamont, you were able to get your application to call the `RecievedRemoteNotification` override. One thing to note is that the current OOB template for Single Page iOS app doesn't inherit `UIApplciationDelegate` for `AppDelegate` which leads to compile issue. I know you inherited from `MvxApplicationDelegate` and I didn't notice anything that would prevent `RecievedRemoteNo

[2020-07-21 22:55] #58976 closed

[2020-07-21 23:10] fhryo-msft commented on #58922
I don't understand what the issue is.

If you go to the portal it is not possible anymore to add diagnostics to storage.

You can check that on the blade if you actually try to apply a policy that does create this or try to apply this to a storage account it does fail.

[2020-07-21 23:14] nerdile opened #59460 "Doc issue:"
Hey, this documentation says that if you change your Contact information in the Azure portal, then emails about important notifications on the account will be sent to the email address you specify.  However, this is not accurate.  Service notification emails, like about urgent security issues, price changes, or breaking changes to services in use on your account, always go to your sign-in address

[2020-07-21 23:17] palma21 commented on #57030
Because of what I said above. In the traffic flow that you're thinking
Service 1: 195.30.12.7, port 443 => forwarded to 10.0.0.12, port 443

which IP is 10.0.0.12 ?

When you say it works on the k8s dashboard what do you mean? The k8s dashboard doesn't implement any underlying networking constructs just allows you to manage and deploy services. Have you seen that behavior working as such somewhere

[2020-07-21 23:20] julieMSFT commented on #59238
@Robert-Kostecki Hi Robert, I have updated the article [Using IDENTITY to create surrogate keys - Azure Synapse Analytics](https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/sql-data-warehouse-tables-identity). In certain situation like reseeding and SET IDENTITY INSERT on the uniqueness of IDENTITY cannot be guaranteed. I have updated the article to state that is SET IDEN

[2020-07-21 23:21] julieMSFT commented on #59238
#https://github.com/MicrosoftDocs/azure-docs-pr/pull/123033

[2020-07-21 23:26] #57603 closed

[2020-07-21 23:26] #59356 closed

[2020-07-21 23:27] julieMSFT commented on #59238
#please-close

[2020-07-21 23:27] #59238 closed

[2020-07-21 23:44] NavtejSaini-MSFT commented on #59452
@estebanvenon We are checking this and we will get back to you.

[2020-07-21 23:49] PatrickFarley commented on #59092
looking into what the correct output format is

[2020-07-22 00:04] dcbrown16 opened #59461 "Portal instructions are a bit confusing"
The instructions under "Create the vault in any region, except the source region" don't line up very well with current Azure Portal options (this caused a support case to be opened).

One of these changes needs to be made:
EITHER
remove "Recovery Services", which is not the name of any menu, from step 1, and just have them go to the Portal and then select "Create a resource" etc.
OR
have them go i

[2020-07-22 00:08] kiyoungoh opened #59462 "Need more examples"
[Enter feedback here]
Would be a good idea to have more examples in other languages to help people how to use resource tokens in this documentation. There's a sample code as this link below and it's under Sample code but not under Documentation.
https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/cosmos/azure-cosmos/samples/access_cosmos_with_resource_token.py

https://docs.microsoft.com

[2020-07-22 00:09] jamesbannan commented on #58344
@leovms I see - my mistake. No, I didn't create the custom image within DTL and I haven't tried. The process I have for building the image is using Azure DevOps and Packer, and the `azure-arm` builder wasn't able to provision a new VM within DTL and capture it as a custom image. So my approach has been to use Packer to provision a VM outside DTL, capture it to a managed image, and then bring into

[2020-07-22 00:10] NavtejSaini-MSFT commented on #59452
@estebanvenon Thanks for the feedback and we are making the change after checking with our doc author.

@rohitnayakmsft We were able to repro the issue as below.
![image](https://user-images.githubusercontent.com/52257742/88119322-1c5ef080-cb8e-11ea-94b2-7ea34a6b74fb.png)

We have raised the Pull Request to change the same to values in the IcM. Please review.
PR link -https://github.com/MicrosoftD

[2020-07-22 00:24] xyz92 opened #59463 "Issue with creating users in bulk"
Hi,

I'm trying to create users in bulk by following this documentation.

I logged into Azure Portal with the following account:

![image](https://user-images.githubusercontent.com/6519992/88118754-4c4cca80-cb73-11ea-8aac-5c4c69044838.png)

I created a csv file with the following details:

![image](https://user-images.githubusercontent.com/6519992/88119767-3db3e280-cb76-11ea-9bf8-edc3ee458518.png)

[2020-07-22 00:29] NavtejSaini-MSFT commented on #59387
@SQLGuyChuck We have raised request to change the same. Once the request is approved, this issue will close and the changes will be effective in 24 hours.
Thanks again for the feedback and the help to improve documentation.

[2020-07-22 00:32] TravisCragg-MSFT commented on #59096
@nellyontour We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-22 00:32] #59096 closed

[2020-07-22 00:35] NavtejSaini-MSFT commented on #59462
@kiyoungoh Thanks for the feedback. We are assigning this to our doc author for further review and enhance document if possible.
@ThomasWeiss @SnehaGunda Please check the feedback from the user and provide your insights.

[2020-07-22 00:36] feiskyer commented on #57030
sharing same Public IP across multiple services are not supported today. We would add it in Kubernetes v1.20 and it would be tracked by https://github.com/kubernetes-sigs/cloud-provider-azure/issues/267.

[2020-07-22 00:48] Karishma-Tiwari-MSFT commented on #59336
Thanks palma21.

@mayank-saggar Hope that helps answer your question.
We will now close this issue. If there are further questions regarding this matter, please post on the roadmap link shared above.

[2020-07-22 00:48] #59336 closed

[2020-07-22 00:49] NavtejSaini-MSFT commented on #59431
@xmseraph Thanks for the feedback We are checking this.

[2020-07-22 00:49] Karishma-Tiwari-MSFT commented on #59342
Is there an update? Please let me know if you are facing any issue with the document linked.

[2020-07-22 00:55] Karishma-Tiwari-MSFT commented on #59446
@tanmayjog
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist
Is there something in any specific Azure document you are looking to have updated or are having issues with? The scope for these doc issues is to help identify gaps and issues with the documentation.

Else, if you are looking for help with troubleshooting or specif

[2020-07-22 01:06] Karishma-Tiwari-MSFT commented on #59453
Ports information is provided in this document:
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-best-practices-networking#cluster-networking

Let me know if you have any questions.

[2020-07-22 01:42] weiwchu commented on #58642
@yinhew , thanks for the detailed explaination. I wonder if you have time to help me to better understand the `**fluency score**`:

Like you mentioned:

**Is there a way for you to share more details of how exactly the fluency score is calculated?** For example, I have the follow alignment result of a recording:
[code]
What is the fluency score for this case? And how it is calculated?
P.S.: only a

[2020-07-22 01:52] ecfan commented on #40136
This topic walks through how to set up Visual Studio 2019 so that you can use Azure Government subscriptions:

https://docs.microsoft.com/azure/azure-government/documentation-government-connect-vs

[2020-07-22 02:04] ElGatoCarlos opened #59464 "Wrong collection name in transform step."
Following the tutorial but the transform step says "In the left window of the Postman app, select "Encoding and Analysis"."  When the latest version of the Postman collection I pulled has "Create Transform" under "Transforms and Jobs".  There is no "Encoding and Analysis" collection folder.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-07-22 02:46] Druffl3 commented on #58779
There was a configuration fault from the server side. I am proceeding to close this issue. 😅

[2020-07-22 02:46] #58779 closed

[2020-07-22 02:59] CHEEKATLAPRADEEP-MSFT commented on #59449
Duplicate of #59450

[2020-07-22 02:59] #59449 closed

[2020-07-22 03:01] gorankuk opened #59465 "Refresh required"
[Current screens do not match any more what is presented on screen. ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddc18273-8bbe-951d-d6a4-acc903772614
* Version Independent ID: 29d66337-5772-6187-b64b-02607a682fe3
* Content: [Autoscale Azure resources based on data or schedule - Azure Monitor](https://docs.microsoft

[2020-07-22 03:03] MartinJaffer-MSFT commented on #59427
@pierrejeandev Thank you for bringing this oversight to our attention.  The `@activity('activityName')` expression was taken for granted as there are no other ways to do it.

I will look into adding to the documentation tomorrow.

In answer to your question, no, you cannot use `@activity()` to get the current activity.  The expression validator checks for this case specifically because it is ambig

[2020-07-22 03:12] jaydarius opened #59466 "InvitedUserMessageInfo - cannot find type"
2.0.2.105 AzureAdPreview
Desk PSEdition
7.0.3 Powershell Core

`
$messageInfo = New-Object Microsoft.Open.MSGraph.Model.InvitedUserMessageInfo
`
When I run the above code in terminal.. I receive this

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 488fdbc7-ca6a-0356-35a2-c3de26392fc4
* Version Independent ID: 0bc17388-5

[2020-07-22 03:38] andrewc513 opened #59467 "CSV Example"
Example CSV in this doc is a little out of date. When you download the initial empty CSV from AAD Admin Center, there's now an "Enabled" header. What is the acceptable value here... true/false? Yes/no? Enabled/disabled?

![Capture](https://user-images.githubusercontent.com/48399120/88131538-d6f8ee00-cba2-11ea-9a83-21ba1c14dc1e.PNG)

---
#### Document Details

⚠ *Do not edit this section. It is req

[2020-07-22 03:42] amanmcse commented on #59435
@DanielCernoch  Thank you for your feedback . We will investigate and update the thread further.

[2020-07-22 03:45] amanmcse commented on #59437
@andresm53 Thank you for your feedback . We will investigate and update the thread further.

[2020-07-22 03:51] amanmcse commented on #59450
@suusha1340  Thank you for your feedback . We will investigate and update the thread further.

[2020-07-22 03:52] amanmcse commented on #59460
@nerdile  Thank you for your feedback . We will investigate and update the thread further.

[2020-07-22 03:56] amanmcse commented on #59463
@xyz92  Thank you for your feedback . We will investigate and update the thread further.

[2020-07-22 03:57] amanmcse commented on #59461
@dcbrown16  Thank you for your feedback . We will investigate and update the thread further.

[2020-07-22 04:03] amanmcse commented on #59464
@ElGatoCarlos Thank you for your feedback . We will investigate and update the thread further.

[2020-07-22 04:17] suusha1340 opened #59469 "GOLDENDOMAIN.COM"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-07-22 04:18] suusha1340 commented on #59469
From 3a9167cfe40cf3531d14db1840417433519dc144 Mon Sep 17 00:00:00 2001
From: vilmibm <vilmibm@neongrid.space>
Date: Fri, 12 Jun 2020 14:24:25 -0500
Subject: [PATCH 01/10] Implement shell aliases

This command adds --shell to `gh alias set`, allowing specified aliases
to be run through a shell interpreter.
---
 cmd/gh/main.go        |   6 +++
 command/alias.go      |  85 +++++++++++++++++++--------

[2020-07-22 04:18] JavedEqbal commented on #58539
Any updates on this ?

[2020-07-22 04:21] psmanhas commented on #59375
@BryanAdvisicon Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

Thanks

[2020-07-22 04:21] #59375 closed

[2020-07-22 04:26] PramodValavala-MSFT commented on #59239
@JFolberth Just following up here... Hope my previous comment clears things up.

[2020-07-22 04:26] Shaktikantpadhi commented on #58759
@Darrin thanks for your info. Its really help full. Again thanks a lot.

[2020-07-22 04:27] PramodValavala-MSFT commented on #59266
@bdnts Just following up here... Hope my previous comment clears things up.

[2020-07-22 04:54] amanmcse commented on #59465
@gorankuk  Thank you for your feedback . We will investigate and update the thread further.

[2020-07-22 05:00] amanmcse commented on #59466
@jaydarius  Thank you for your feedback . We will investigate and update the thread further.

[2020-07-22 05:01] amanmcse commented on #59467
@andrewc513  Thank you for your feedback . We will investigate and update the thread further.

[2020-07-22 05:01] CHEEKATLAPRADEEP-MSFT commented on #59450
@suusha1340 Could you please provide your feedback here, so that we can look into it?

[2020-07-22 05:01] rgamage opened #59471 "False statements in docs"
The docs state “ Should you have complete control over the devices connecting to your IoT Edge devices, it's possible to use a corporate level certificate authority.”

That’s just not true. The IoT Edge devices do not support CA signed certificates.  This doc should make that clear, and not imply otherwise.  They only support self-signed certificates at the current time.

---
#### Document Details