[2022-08-10 23:40] rwike77 commented on #96140
@hjchin Sorry to hear you were having trouble.  Which StackOverflow post were you coming from?  Which part(s) of this documentation did you find outdated?  Thanks.

[2022-08-10 23:46] rwike77 commented on #96567
Yes, you're correct.  AADSTS700025 was missing.  I've just added it, it should publish tomorrow.  Thanks for pointing this out.  #please-close

[2022-08-10 23:46] #96567 closed

[2022-08-10 23:47] rwike77 commented on #96312
Yes, you're correct. AADSTS501491 was missing. I've just added it, it should publish tomorrow. Thanks for pointing this out. #please-close

[2022-08-10 23:47] #96312 closed

[2022-08-11 00:20] joharder commented on #96884
I propose changing the line to "*.quay.io" with a note linking out to the OCP docs for those that can't use wildcards on their specific firewall. I feel this would be the best approach, and the majority of common firewalls can do wildcards these days as far as I'm aware. It also makes it so we don't have to update the specific subdomains in the Microsoft docs if things change on the Red Hat side.

[2022-08-11 00:32] ChaitanyaNaykodi-MSFT commented on #96973
Thank you for your feedback! We will review and update as appropriate.

[2022-08-11 02:13] MayankBargali-MSFT commented on #96954
@Hjaf Thank you for your feedback! We will review and update as appropriate.

[2022-08-11 02:28] MayankBargali-MSFT commented on #96794
@wullemsb I was able to repro the same behavior at my end. I have reached out to my team, and they confirmed that Introspection path doesn't seem to work as expected in validate-graphql-request. The team will be fixing this issue and I will keep you posted.

[2022-08-11 02:34] MayankBargali-MSFT commented on #96801
@KijongHan As there was no response. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-08-11 02:34] #96801 closed

[2022-08-11 02:35] VikasPullagura-MSFT commented on #96968
@stanleyu
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-11 02:35] VikasPullagura-MSFT commented on #96968
@zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2022-08-11 03:01] tfbubu111 opened #96976 "the command is not right in document: https://docs.microsoft.com/en-us/azure/container-instances/container-instances-quickstart-powershell#create-a-container"
[Enter feedback here]
According to powershell command: https://docs.microsoft.com/en-us/powershell/module/az.containerinstance/new-azcontainergroup?view=azps-8.2.0, there is no parameter "image" in New-AzContainerGroup, but document suggests to create container group by command

 New-AzContainerGroup -ResourceGroupName aci -Name mycontainer -Image mcr.microsoft.com/windows/servercore/iis:nanoserve

[2022-08-11 03:03] muralidar44 commented on #46992
when I use LB health probe for VMSS, I always see the instances are Unhealthy (health_probe_id = azurerm_lb_probe.lbprobe.id)
how to use "Application health extension" in terraform instead of LB health probe ?

[2022-08-11 03:09] AdamCoulterOz commented on #58439
It is indeed not fixed. @RayBrindley or @vipulsparsh did you get any solution to this?

[2022-08-11 03:11] samrueby commented on #35298
This is still an issue with application gateway v2 when using key vault certificates.

[2022-08-11 03:35] SnehaAgrawal-MSFT commented on #96961
@v-ljeswani Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-11 04:14] VikasPullagura-MSFT commented on #96976
@tfbubu111
Thanks for the feedback! We will check and update the document as appropriate.

[2022-08-11 04:26] SnehaSudhirG commented on #96615
@jeffdmipshell , Thank you for the feedback, the update is done.

[2022-08-11 04:27] SnehaSudhirG commented on #96615
#please-close

[2022-08-11 04:27] #96615 closed

[2022-08-11 04:38] ShaikMaheer-MSFT commented on #96960
@malachibunn Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-08-11 04:57] kiki-kekat opened #96978 "We cannot select "Never expires" in step 7 (how to create an AAD Service Principal secret) of "Create an Azure fence agent STONITH device"."
The configuration display of AAD Service Principal secret in Azure Portal was updated and we cannot select "Never expires".
Currently, AAD Service Principal secret has an expiration date (2 years).

Please update the document.
And please add to document that how to update password when Service Principal secret for Azure Fence Agent is about to expire/expired.

---

**Target:** [Create an Azure fen

[2022-08-11 05:31] SreejaBhattacharya-MSFT commented on #96915
Hi @913165 any update? Could you please elaborate on the issue?

[2022-08-11 05:33] SadiqhAhmed-MSFT commented on #96799
@adi-garg Checking in to see if the above answer helped. Let us know if there are still any additional issues we can help with.

[2022-08-11 05:33] SadiqhAhmed-MSFT commented on #96784
@adi-garg We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2022-08-11 05:33] #96784 closed

[2022-08-11 05:42] AjayKumar-MSFT commented on #96964
Shilpa-MSFT,  Thanks for taking time to share your feedback here.
I see you're referring to [Azure products page](https://azure.microsoft.com/global-infrastructure/services/?products=functions&regions=all).

-This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. Could you please share the Azure documentation (about this inconsistency) for

[2022-08-11 05:44] MayankBargali-MSFT commented on #96969
@martins-vds Thank you for your feedback! We will review and update as appropriate.

[2022-08-11 05:44] razx-x commented on #35298
![image](https://user-images.githubusercontent.com/111038916/184070755-dca70ec6-5b4d-444a-aa30-322a2589b840.png)
I selected include all certificates and the issue is resolved in my case I was directly uploading certificate to WAF V2 instead of using key vaults certificates.

[2022-08-11 05:48] lckho3693 opened #96979 "Deploying Azure Virtual Desktop with VDI Server on Azure Stack HCI"
Hi Team,
As mentioned in this documentation -- "Simplify your VDI deployment and management compared to traditional on-premises VDI solutions by using the Azure portal",  I need clarification on running VDI on Azure Virtual Desktop on Azure Stack HCI.

I'm setting two Servers,
- Server 1 - RDS with session host and app publishing
- Server 2 - VDI with Virtual Desktop deployment to allow user with

[2022-08-11 05:54] AjayKumar-MSFT commented on #96458
Shessane, Thanks for the follow-up. The limitation is same for Linux, Windows Code and Windows Containers. As mentioned in the same documentation -  [Mount Azure Storage as a local share - Azure App Service | Microsoft Docs](https://docs.microsoft.com/azure/app-service/configure-connect-to-azure-storage?tabs=portal&pivots=code-windows)

<img width="442" alt="image" src="https://user-images.githubu

[2022-08-11 06:03] XiaoningLiu commented on #89979
That's a fact I observed. I have forwarded feedback to Visual Studio. For any suggestions or feedbacks welcome report through Visual Studio feedback.

<img width="402" alt="image" src="https://user-images.githubusercontent.com/6889160/184073043-40a5c6f0-9892-405e-ab25-876e5e1a79df.png">

[2022-08-11 06:03] XiaoningLiu commented on #89979
That's a fact I observed. I have forwarded feedback to Visual Studio. For any suggestions or feedbacks welcome report through Visual Studio feedback.

<img width="402" alt="image" src="https://user-images.githubusercontent.com/6889160/184073043-40a5c6f0-9892-405e-ab25-876e5e1a79df.png">

[2022-08-11 06:09] RohitMungi-MSFT commented on #96956
@kenhausman Thanks for spotting this.
@laujan I think the following section should be updated as per the limits mentioned [here](https://docs.microsoft.com/en-us/azure/cognitive-services/translator/request-limits).
Currently documented as:

[2022-08-11 06:32] mattcowen opened #96980 "Custom DNS situation"
There needs to be some mention whether custom DNS servers are supported and if so how. If not, then some explanation of how to manage this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c7387c7-c5ea-584a-1463-eeb562b2cf4d
* Version Independent ID: 798fcb07-735e-c79f-6ede-485c671d2364
* Content: [Scenarios to use a vi

[2022-08-11 06:50] petrdanecek opened #96982 "django app WEBSITE_HOSTNAME usage with custom domain"
I'm trying to optimize my Django app for Azure deployment and tried to use (additional code ignored for simplicity):
ALLOWED_HOSTS = os.environ['WEBSITE_HOSTNAME']

In my current version I load the ALLOWED_HOSTS from custom app variable which value is more domains (the azure default + custom app domain).
It seems that WEBSITE_HOSTNAME usage is not good solution as the value contains only the azure

[2022-08-11 07:18] Sandeg-MSFT commented on #96972
@entropical

Thank you for bringing this to our notice. We will investigate this further and will get back to you.

[2022-08-11 07:41] danielfebres1992 commented on #96878
@mumurug-MSFT Thank you for answering, I'm receiving the same error sending the headers you said, I will post this on the recommended channels. Something I could not find in the docs are the restricted headers that can't be set up using policies. It would be nice to have that in the documentation.

[2022-08-11 07:48] bmansheim commented on #96419
Hi @garis . It's an interesting point that you raise. I'll take it up with the product team and let them consider your suggestion.

We'll track this internally.

#please-close

[2022-08-11 07:48] #96419 closed

[2022-08-11 07:52] XiaoningLiu commented on #88097
I have forwarded the request to Visual Studio team. And you can also report the feedback to Visual Studio through Visual Studio feedback menu.

All Azurite installations support full Azurite parameters listed in Azurite https://github.com/azure/azurite readme.

[2022-08-11 07:57] sympaJN opened #96985 "The sample template is clipped"
[Enter feedback here]
 The ARM template sample doesn't include all the parts mentioned, but it clips in the middle. At the same time when you upgrade this, you could add the Bicep version of the sample as well. as it is available in the quickstart-template on which this is based on. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2022-08-11 08:10] favl opened #96986 "Missing information"
It would be nice to read what the expectation is regarding when the diagnostics would be available in the designated log analytics workspace. So far, no data is coming through.. 🙈

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89743709-c3fa-9ce1-55fb-e9b7f6d2dba9
* Version Independent ID: a4c9f0b7-5dde-d60c-1110-3ca53d

[2022-08-11 08:20] FoliniC commented on #96810
Upgraded to 104.0.5112.81 .
Button isn't there when I open bastion on same window, I found it open in new browser window.

[2022-08-11 08:26] #96861 closed

[2022-08-11 08:46] dknappettmsft commented on #75800
#please-close

[2022-08-11 08:46] #75800 closed

[2022-08-11 08:48] axcap commented on #96491
@BhargavaGunnam-MSFT
Looks like i got it to work, but i believe there is a bug.
Given following API with continuationToken query parameter i have to add an extra letter (underscore in this example) in data flow definition as show on next image. Can you confirm?
![image](https://user-images.githubusercontent.com/1700426/184096917-5a0ffc90-9ef8-44f8-a49c-84a2c3d107c0.png)

![image](https://user-imag

[2022-08-11 09:02] VikasPullagura-MSFT commented on #96980
@mattcowen
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-11 09:03] VikasPullagura-MSFT commented on #96980
@tomvcassidy
Can you please check and add your comments on this doc update request as applicable.

[2022-08-11 09:04] VikasPullagura-MSFT commented on #96979
@lckho3693
Thanks for your Question! We are currently investigating and will get back on this.

[2022-08-11 09:38] henrymbuguakiarie commented on #93809
reassign:henrymbuguakiarie

[2022-08-11 09:41] 01F0 opened #96989 "AKS Certificates: Clarifications on whether auto rotation is enabled"
Hi!

This page [states that](https://docs.microsoft.com/en-us/azure/aks/certificate-rotation):

[And](https://docs.microsoft.com/en-us/azure/aks/certificate-rotation#certificate-auto-rotation)

This seems straightforward. If you have created or upgraded a cluster after that time and have RBAC enabled, you have auto-rotation turned on.

But then there's [this section](https://docs.microsoft.com/en-

[2022-08-11 09:48] VikasPullagura-MSFT commented on #96989
@01F0
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-11 09:49] VikasPullagura-MSFT commented on #96989
@zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2022-08-11 10:07] EdB-MSFT commented on #94848
Hi @torbennehmer

Thanks for your feedback.
The steps at the bottom of that section will actually give you your current usage
I changed thew preceding sentence to clarify that you can see the current total time series metrics .

Follow the steps below to see your current total active time series metrics, and more information to assist with troubleshooting.

1. Navigate to the Monitor section of th

[2022-08-11 10:07] EdB-MSFT commented on #94848
#please-close

[2022-08-11 10:07] #94848 closed

[2022-08-11 10:12] obesser opened #96990 "Examples are for old apiVersion"
The ingress examples are for the extensions/v1beta1 version that should not be used for new deployments.
edit:
Examples throughout the documentation are for old Kubernetes resource versions, also in the How-To section, e.g https://docs.microsoft.com/en-us/azure/application-gateway/ingress-controller-letsencrypt-certificate-application-gateway

---
#### Document Details

⚠ *Do not edit this section

[2022-08-11 10:21] YashikaTyagi-MSFT commented on #96895
@pettewayshade
Thanks for pointing this out we had similar issue and a change has been made and the product team is already working on the same and it will reflect once it gets approved from author. Please find the below link for your reference.
https://github.com/MicrosoftDocs/azure-docs/issues/95236

[2022-08-11 10:21] #96895 closed

[2022-08-11 10:24] kengaderdus commented on #94930
@Tiagorafv

Thank you for your patience.

The document has been updated. Please note that the changes will take some time before they go live.

#please-close

[2022-08-11 10:24] #94930 closed

[2022-08-11 10:26] kengaderdus commented on #96952
@RaphaelSilv

We'll investigate and update the document accordingly.

[2022-08-11 10:27] guywi-ms commented on #95562
@jun110 Thanks for providing feedback that helps improve our documentation! We've created a PR to address this issue and the updates should be public shortly. #please-close

[2022-08-11 10:27] #95562 closed

[2022-08-11 10:27] kengaderdus commented on #96952
Related to https://github.com/azure-ad-b2c/samples/issues/443

[2022-08-11 10:29] obesser opened #96991 "Multiple add-on AGICs targeting one Application Gateway"
It is not clear from the document if and when the AGIC add-on will support the "shared" option.

One application gateway per Kubernetes cluster, without the option to even add other non-Kubernetes services, is a very big limitation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ce7e4ca-0ac4-9d41-9546-b8f5e7ee654e
* V

[2022-08-11 10:39] GitaraniSharma-MSFT commented on #96990
@obesser , thank you for your feedback. We have assigned this to the content owner/author for review.

@mscatyao , for your review.

[2022-08-11 10:41] GitaraniSharma-MSFT commented on #96991
@obesser , thank you for your feedback. We have assigned this issue to the respective product owner for review.

@mscatyao , Could you please provide your insights here?

[2022-08-11 11:07] gerijani opened #96992 "Not working in CLI"
From cloud shell:

export PURGE_CMD="acr purge --filter '*' --untagged --ago 7d --dry-run"
az acr run --registry myregistry.azurecr.io --cmd "mcr.microsoft.com/acr/acr-cli:0.5 $PURGE_CMD --timeout 3600"
the following arguments are required: <SOURCE_LOCATION>

On-demand:
docker run mcr.microsoft.com/acr/acr-cli:0.5 login -u ********* myregistry.azurecr.io --password-stdin
Error: Get "https://myregi

[2022-08-11 11:11] gerijani commented on #96992
Actually, the solution is an extra ". " (like by docker build -f Dockerfile **.**) and also to give subscription  as paramater

[2022-08-11 11:13] #96992 closed

[2022-08-11 12:20] acropolisindia opened #96993 "Alert when a Managed RuleSet or some of the Rules in a RuleSet is updated."
Hi,

1. Is there any way to get updated through some subscription or email posting about the release of a new set of Managed RuleSet, like from 3.0 to 3.1 to 3.2 etc.?

2. Are used rules from a current Managed RuleSet get automatically updated when any signature update for the rule is released?

3. Are there any version number and changelog tagged with any Rule and RuleSet update?

Thanks.

---
##

[2022-08-11 12:30] sbenzch opened #96994 "Hybrid Azure AD join vs. Tenant Restrictions"
Hello

The information provided here are in a conflict with the content provided by docs for tenant restrictions:
https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/tenant-restrictions#configuration

Here is defined that the following urls must be excluded from TLS interception:
enterpriseregistration.windows.net
**login.microsoftonline.com**
device.login.microsoftonline.com
autol

[2022-08-11 13:13] vlad610 commented on #96780
When automatically enabling the Azure AD application and identity provider, the user interface says it's granting Directory.ReadAll permissions:

![image](https://user-images.githubusercontent.com/62948603/184137895-fcca2215-e159-4409-9c93-9a06a7c0a003.png)

App is created with the following permissions:

![image](https://user-images.githubusercontent.com/62948603/184138545-f15873cb-22e9-4c62-946a

[2022-08-11 13:23] mumurug-MSFT commented on #96878
@danielfebres1992 That's a good suggestion on restricted headers. We will review and update the docs as appropriate. Thanks again.

[2022-08-11 13:28] kengaderdus commented on #96952
@RaphaelSilv

We've made an update to the document. Please note that this issue might be closed before the changes go live. Thank you for your feedback.

[2022-08-11 13:40] GitaraniSharma-MSFT commented on #96993
@acropolisindia , thank you for your queries. We'll review this and get back to you shortly!

[2022-08-11 14:00] angandin opened #96995 "Grammar error in doc"
In _Example Use Cases_ (https://docs.microsoft.com/en-us/azure/cosmos-db/hierarchical-partition-keys?tabs=net-v3%2Cbicep#example-use-case), 4th paragraph, the following sentence is incomplete or contains additional words:
When a physical partition exceeds 50 GB of storage, Cosmos DB will automatically split the physical partition so that roughly half of the data **on the** will be on one physical

[2022-08-11 14:05] gerijani opened #96996 "Workspace problem form CLI"
Tried to purge all untagged images older then 7 days from on-prem cli and had the following failure.
[code]

Any hint?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40e52f8e-a63e-3e85-6c84-f881db5d3b6c
* Version Independent ID: 1290c892-ea9d-d12c-be84-7ed75f28fca0
* Content: [Purge tags and manifests - Azure Container

[2022-08-11 14:05] vlad610 commented on #96780
As a workaround, I updated the manifest to add the missing permissions manually, but the issue is still there:

![image](https://user-images.githubusercontent.com/62948603/184152175-4c91789e-bcd3-4ca4-bcfd-fadf4fb26e81.png)

[2022-08-11 14:18] acropolisindia commented on #96993
Hi @GitaraniSharma-MSFT , we will be waiting to hear from you, thank you.

[2022-08-11 14:25] vlad610 commented on #96780
Update: After about 30 minutes to 1 hour, this started working. Looks like it took a while for the permissions to take effect. Updating the manifest manually is a valid workaround (from a technical perspective).

[2022-08-11 14:31] vlad610 commented on #96780
Created IcM 327082435 as well.

[2022-08-11 14:44] jussiheinonen opened #96998 "TCP port for Access to Azure SQL endpoint incorrect, I suspect"
Hi there.
I believe port number for Access to Azure SQL endpoints should be 1443 (MS SQL) instead of 1433 like suggested on this page.
Thanks,
jussi

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbd2c349-f9a7-d43e-ab97-675b9fe3e809
* Version Independent ID: 997f977d-978c-541f-cc03-d47412998c73
* Content: [VNet configu

[2022-08-11 14:47] mbiernatek opened #96999 "Problem with Tables (preview) option on Log Analytics workspaces menu"
Tried to create a transformation rule that will exclude all data from AppTraces table.

In trasformation editor created rule: `source
| where AppRoleInstance == ""` and successfully saved. Unfortunatelly AppTraces are still being saved to log analytycs workspace logs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56c8

[2022-08-11 14:50] davystrong opened #97000 "Azure AI ML Pipelines missing how to save output"
Hi, I'm attempting to use pipelines in the new Azure ML v2 SDK, however, I can't find how to save the pipeline output. The documentation always leaves the final output port empty. When instead using the v2 CLI/YAML, I can specify an `outputs` section in my pipeline, similar to the `inputs` section, where I specify each output parameter name, type, mode and path. The pipeline output is then uploade

[2022-08-11 15:04] cchapin2020 opened #97001 "requirement list needed"
This quickstart does not mention setting up an Azure Communications Service resource in order to enable the email communication service. Maybe include a requirement list with ACS resource, custom domain name (optional) and access to the custom domain name DNS registar, a PAYG or EA subscription (not trial), etc..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2022-08-11 15:08] gusman7 opened #97002 "(Azure FileShare MacOsx) : Mounting method SMB share on mac, using access key is not secure"
Hello team,
Actual procedure delivered from microsoft (https://docs.microsoft.com/en-us/azure/storage/files/storage-how-to-use-files-mac) to mount a smb share on Finder use share account name and acces key.

This method is not really secure for exemple has it give a complete access to a global Storage account, Multiple shares and NTFS rights are bypassed.

In a company with more than 500 macs (thi

[2022-08-11 15:13] rich-rowan opened #97003 "Open Apps in new tab with the My Apps Secure Sign-in Extension"
The portal at myapps.microsoft.com opens apps in new tabs, but the Extension itself opens it on the same page. The extension needs to be fixed to open apps in new tabs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99b4887c-ba4c-a47e-ff49-4423941926b4
* Version Independent ID: 39ce9137-e3b6-998b-0492-794592f59785
* Co

[2022-08-11 15:19] vhorne commented on #95531
There are eight FQDN tags that can be selected in the portal, and there are eight FQDN tags described in the article.
![image](https://user-images.githubusercontent.com/15256338/184168723-7ac27139-6952-4507-90dc-3ee9e7a9daab.png)

#please-close

[2022-08-11 15:19] #95531 closed

[2022-08-11 15:21] #96952 closed

[2022-08-11 15:28] AnuragSharma-MSFT commented on #96995
@angandin Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-08-11 15:36] j-d-harvey opened #97004 "Zone information missing for Web App source control and Kudu console"
It would be great to add the information scm.privatelink.azurewebsites.net for source control and Kudu console to this table. While it is documented at https://docs.microsoft.com/en-us/azure/app-service/networking/private-endpoint#dns customers often reference this table for all Private DNS zone name reccomendations.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2022-08-11 15:36] JamesTran-MSFT commented on #96994
@sbenzch
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-08-11 15:37] mumurug-MSFT commented on #96998
@jussiheinonen I reviewed connectivity requirements for Azure SQL database and port 1433 appears to be correct. Please check connectivity architecture (and connection policy) https://docs.microsoft.com/en-us/azure/azure-sql/database/connectivity-architecture?view=azuresql#connectivity-architecture

![image](https://user-images.githubusercontent.com/95652148/184171926-fcf7019e-c8a5-491d-a063-266cc7

[2022-08-11 15:39] JamesTran-MSFT commented on #97003
@rich-rowan
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-11 15:44] ridomin opened #97005 "Cannot find Reference documentation for Device Endpoint HTTP"
This page describes de `Device endpoints` for IoT hub,

In the same way there is an article describing the MQTT support [here](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-mqtt-support)
I'm looking for the detailed REST reference docs describing the HTTP support for device-to-cloud messages.

Related to: https://github.com/Azure/azure-iot-sdk-node/issues/1141

---
#### Document Details

[2022-08-11 15:45] Grace-MacJones-MSFT commented on #96978
Hi @kiki-kekat, thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-11 15:46] 913165 commented on #96915
its resolved thanks

On Thu, Aug 11, 2022 at 11:01 AM SreejaBhattacharya-MSFT <
***@***.***> wrote:

[2022-08-11 15:48] mikethetexan opened #97006 "Incorrect code sample in dynamic dictionary expample"
Your code sample shows:

curl -X POST "https://api.cognitive.microsofttranslator.com/translate?api-version=3.0&from=en&to=de" -H "Ocp-Apim-Subscription-Key: <client-secret>" -H "Content-Type: application/json; charset=UTF-8" -d "[{'Text':'The word <mstrans:dictionary translation=\"wordomatic\">word or phrase</mstrans:dictionary> is a dictionary entry.'}]"

But if your source text is really "The wo

[2022-08-11 15:48] Grace-MacJones-MSFT commented on #96985
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-11 15:49] Grace-MacJones-MSFT commented on #96986
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-11 15:54] Grace-MacJones-MSFT commented on #97000
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-11 15:56] Grace-MacJones-MSFT commented on #96996
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-11 16:08] ChaitanyaNaykodi-MSFT commented on #95675
Hello @Eurosome, @kayliegoad, @rui-convatec , @mbroaders, @mirroj

Apologies for the prolonged silence here, the internal issue which I was following up on was resolved after restarting the Bastion Host as shared in my comment above. Another similar issue was due to selection of wrong resource group.

I think a better solution here would be to create a support ticket as a support engineer can have

[2022-08-11 16:08] #95675 closed

[2022-08-11 16:12] ChaitanyaNaykodi-MSFT commented on #83152
Hello @gregt1234, apologies for the late response here. After discussing this issue internally with the team, we have determined that the scope mentioned in tutorial is correct and required. A note regarding this command was added in the documentation
![image](https://user-images.githubusercontent.com/67453298/184179951-0771b2bc-0fc2-4880-a3bd-12a5c028656d.png)

We will now proceed to close this i

[2022-08-11 16:12] #83152 closed

[2022-08-11 16:14] zr-msft commented on #96596
issue looks to be addressed.

#please-close

[2022-08-11 16:14] #96596 closed

[2022-08-11 16:27] olaekdahl opened #97007 "Update helm release name in example."
The release name in the last example of section https://docs.microsoft.com/en-us/azure/aks/ingress-tls?tabs=azure-cli#use-a-static-public-ip-address should be **ingress-nginx** and not nginx-ingress to match previous examples.

Correct cli command:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b97

[2022-08-11 16:31] seligj95 opened #97008 "Migration support for classic vnet with App Service Environment"
Hi team,

I am from the App Service Environment team managing the cloud services retirement and migration for that product. We have a scenario where App Service Environment v1 that is in a classic vnet that needs to be migrated to App Service Environment v3 in an ARM vnet. For now, our guidance is that customers will need to manually recreate their new App Service Environment v3 since our automate

[2022-08-11 16:33] christianag54 opened #97009 "It is possible to change node taints post node pool creation - docs state otherwise"
The docs state:

![image](https://user-images.githubusercontent.com/107078811/184183080-0894fd69-2c25-4454-9c78-51262caf7f41.png)

However, node taints can be changed and added through CLI after the node pool is created even if the node pool was not created by specifying a taint in the creation command. The docs need to be updated.

Evidence:

I was able to perform the following test.

I have two

[2022-08-11 16:58] Shilpa-MSFT commented on #96964
Hi Ajay,

Thanks for reaching out. It seems like page was updated, you can close the request.

Regards,
Shilpa
________________________________
From: AjayKumar-MSFT ***@***.***>
Sent: Thursday, August 11, 2022 1:43 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Shilpa Gowda (MINDTREE LIMITED) ***@***.***>; State change ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Function app Linux plan

[2022-08-11 17:13] mumurug-MSFT commented on #96998
@jussiheinonen No problem at all. You are always welcome to share the feedback. I will send a note to correct the Tech Community page. I will now proceed to close this thread.

#please-close

[2022-08-11 17:13] #96998 closed

[2022-08-11 18:28] stack247 opened #97014 "Should include more details about Lock / Lease in Storage queue."
The "Peek-lock" section should explain in more details how the Storage queue lock / lease works in Queue Trigger (for Azure Function).

The section explains, "All of the visibility mechanics are handled by the Storage service, not the Functions runtime.", while this is true, it's not all there's, for couple reasons:

1. While not managed by the Function runtime, QueueTrigger does manage the visibi

[2022-08-11 18:39] MeredithMooreUX commented on #96889
Hi @seesharprun Do you know which feature they were trying to enable? If the status is pending, the user is not required to submit a support request for feature enablement. The registration status of pending indicates that it is being processed.
We do not charge for features; only RUs and GBs are charged.

[2022-08-11 18:50] nastassiar opened #97015 "Provide Information on Region Support"
There is no documentation referencing which regions are supported for Custom Commands when only some are supported:

Error from Speech Service portal:

Switch to a supported region (West US 2, North Europe, West US, East US, East US 2, West Europe, Southeast Asia, Central India, West Central US, East Asia, Japan East, South Central US, South Africa North, Jio India West, Germany West Central, Swit

[2022-08-11 19:10] jlichwa commented on #94831
#please-close

[2022-08-11 19:10] #94831 closed

[2022-08-11 19:50] seesharprun commented on #96889
@MeredithMooreUX, I believe your response answers the question.

@jjpinto, once you register for a preview, there's not further action to take. Futures do not incur any additional charges, you are charged for consumption instead.

We hope this answers your question.

#please-close

[2022-08-11 19:50] #96889 closed

[2022-08-11 19:58] tfitzmac commented on #92388
@breakpoint7 - thanks for this feedback. I have added information about extension resource types inheriting the lock from the resource they are applied to. The update should get published later today.

#please-close

[2022-08-11 19:59] #92388 closed

[2022-08-11 20:22] AbbyMSFT commented on #96397
Thanks @WilliamDAssafMSFT for your comment and @yanivlavi for your explanation. It seems we should re-word the sentence to make things clearer. I am creating a work item to clear this up.
Thanks,
Abby

[2022-08-11 20:29] AbbyMSFT commented on #96397
#please-close

[2022-08-11 20:29] #96397 closed

[2022-08-11 20:35] MikeBakerSAV opened #97018 "Clearly define if this is for ECC6 or S4"
Clearly define if this is for ECC6 or for S4 Hosted/Private Cloud RISE

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1688f77-7776-0990-d35b-ccf008d1865b
* Version Independent ID: 419488eb-a075-00fc-f095-f8be59d961e8
* Content: [Exchange Online Integration for Email-Outbound from SAP NetWeaver - Azure Virtual Machines

[2022-08-11 20:49] adamholthaus50 opened #97019 "Clarification around End of Support for v3"
In this documentation, the end date shows December 3rd, 2022 as the end date for v3 and it says because of .NET Core 3.1 end of support.  The end of support for .NET Core 3.1 isn't until December 13th, 2022 per the policy https://dotnet.microsoft.com/en-us/platform/support/policy/dotnet-core.  Seems like those 2 dates should match.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2022-08-11 21:23] cherietopham11 opened #97020 "Wrong dynamic expressions value"
https://docs.microsoft.com/en-us/azure/data-factory/how-to-send-email#add-dynamic-messages-with-system-variables-and-expressions
wrong: @activity("CopyData").output.errors[0].Message

right: @string(activity('Waterfall').output.runError)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67314add-afed-bd07-a432-1cdf9303f2c

[2022-08-11 21:35] KranthiPakala-MSFT commented on #97020
@cherietopham11 Thanks for reaching out. The dynamic expressions provided at the end of the document are just examples for reference. But based on the requirement user has to write their own expressions as per the need.

![image](https://user-images.githubusercontent.com/50185738/184246168-0dbf9684-7e49-48be-a539-f0ac65a88b2d.png)

I don't see what the issue with those expressions. Please elaborat

[2022-08-11 22:17] WilliamDAssafMSFT commented on #81831
Thanks @MisinformedDNA for these suggestions. A doc update is in flight to improve this SQLite tutorial. Suggestions like this help improve our documentation.
#reassign:WilliamDAssafMSFT

[2022-08-11 22:20] Grace-MacJones-MSFT commented on #97004
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-11 22:21] Grace-MacJones-MSFT commented on #97007
Thanks for your feedback! We will review and update this doc accordingly.

[2022-08-11 22:26] WilliamDAssafMSFT commented on #81831
#please-close

[2022-08-11 22:26] #81831 closed

[2022-08-11 22:41] n7jti opened #97021 "command_hardware_code s/b common_hardware_code"
Typo!

"command_hardware_code" folder should actually be "common_hardare_code" folder.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 610239c4-4aa8-a845-9130-fbfb9f6f8101
* Version Independent ID: 59ebdd89-fc74-11c9-e7dd-1be3b91ec0f5
* Content: [Connect an STMicroelectronics B-L4S5I-IOT01A to Azure IoT Central quicksta

[2022-08-11 22:49] Grace-MacJones-MSFT commented on #96999
Hi @mbiernatek, Thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2022-08-11 22:53] Grace-MacJones-MSFT commented on #97008
Hi @seligj95 thanks you for the detailed question. We are currently investigating to see if this scenario is possible and will update you when we have accurate information to provide.

[2022-08-11 22:55] Grace-MacJones-MSFT commented on #97002
thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-08-11 23:28] ruisonghan-eaton commented on #96931
I met the same issue and am struggling in solving it.

[2022-08-12 00:07] lab067 commented on #96215
Why was this closed? It's still showing the incorrect issuer field in the screenshot.

[2022-08-12 00:13] eugene-lipsky opened #97022 "Group nesting is not supported"
Last bullet point in this document: https://docs.microsoft.com/en-us/azure/active-directory/roles/groups-concept#how-are-role-assignable-groups-protected states "Group nesting is not supported. A group can't be added as a member of a role-assignable group"

This is not exactly accurate as it is possible to assign a group as a member of a role-assignable group. Can you update the document or clarif

[2022-08-12 00:20] mike-urnun-msft commented on #97014
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-12 00:20] Karishma-Tiwari-MSFT commented on #96992
Thanks for sharing the update.
If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-08-12 00:21] mike-urnun-msft commented on #97019
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-12 01:06] jjpinto commented on #96889
Hi @seesharprun , when we register a feature in preview features, for instance,

Some features require to create a support request or email to Microsoft to allow the feature to be enabled. Also, when you get a notification, for instance "Registration request for feature 'Azure Cosmos DB Serverless 1 TB Container' was successfully submitted. Request pending approval from Microsoft owning service."

[2022-08-12 01:09] ddadaal opened #97023 "Step 3 for individual unified experiences causes "custom location already exists" error"
When running the command of step 3 (Create the data controller) for the individual experiences, the following errors is raised.

[code]

The custom location is created in previous steps. Creating the data controller on the portal on the custom location runs successfully.

It seems in the doc the commands used to create the data controller for both individual and unified experiences are the same, s

[2022-08-12 01:28] 0GiS0 opened #97024 "The tutorial doesnt work. You get a timeout when you request the voting-app via Azure Firewall Public IP"
Hello everyone,

I have followed the steps in this tutorial twice and it does not work. When you make a request to the public IP of your Azure Firewall it gives timeout.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab53ab25-92d7-ffc9-be5c-16ea5aff52ea
* Version Independent ID: 82d1240f-f358-7731-d308-4003cefc28c8
* C

[2022-08-12 01:31] demuire opened #97025 "Information outdated"
Unable to find the Principle listed when trying to use my own certificate.  It says "No results found".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: beac0740-af6e-61ce-bcfa-e783ca181b7d
* Version Independent ID: d97885ea-b051-5fde-bd14-ec977e34760e
* Content: [Tutorial: Configure HTTPS on an Azure CDN custom domain](

[2022-08-12 02:02] BhargavaGunnam-MSFT commented on #96491
Hi @axcap,
Thank you for letting us know. I will check and get back to you.

[2022-08-12 03:17] xiaoharper commented on #94834
@ccyjava thanks for the feedback. I may need more clarity to better understand your question. Are you trying to create a scheduled pipeline that will be triggered by file change on a datastore?  what do you mean by "import the datastore"?

[2022-08-12 03:18] naokitakeda14 commented on #96416
Hi, @Gennady ***@***.***>

Thank you for your reply.
I'd like to confirm couple of things about pg_repack.
I also ask @Brandon ***@***.***> in ICM Incident-321815167 Details - IcM (microsofticm.com)<https://portal.microsofticm.com/imp/v3/incidents/details/321815167/home>.
According to him, it will be fixed in M20.
***@***.***
Which is correct, M20 or M21?
If it will be fixed in M21, what month is

[2022-08-12 03:50] AshokPeddakotla-MSFT commented on #97005
@ridomin Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-12 03:52] AshokPeddakotla-MSFT commented on #97021
@n7jti Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-12 04:00] KapilAnanth-MSFT commented on #97025
@demuire, Thanks for your feedback. We will review this and get back to you shortly!

[2022-08-12 04:01] demuire commented on #97025
Thanks for the reply - it turns out I missed a step, and I've managed to get it working now!Sent from my iPhoneOn 12 Aug 2022, at 2:00 pm, Kapil Ananth ***@***.***> wrote:﻿
@demuire, Thanks for your feedback. We will review this and get back to you shortly!

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-08-12 04:02] KapilAnanth-MSFT commented on #97024
@0GiS0, Thanks for your feedback. We will review this and get back to you shortly!

[2022-08-12 04:15] Sandeg-MSFT commented on #97009
@christianag54

Thank you for bringing this to our notice. We will test this and will update document accordingly.

[2022-08-12 04:28] SnehaAgrawal-MSFT commented on #96722
@deruss Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-08-12 04:40] starbuckscoffee opened #97026 "Unable to set up Azure AD applications for Azure Arc-enabled Kubernetes"
Hello Azure team

[Enter feedback here]
When I followed instraction, the script, "ad ad app permission grant xxxx", could not run.
    Error Message:  "the following arguments are required: **--scope**"
Need to explain what scope should be added when I run the script,  for example **Directory.ReadWrite.Al**l , or **Directory.Read.All**...

Where the error happend?
  at Step 4 of "Create a server a

[2022-08-12 04:49] SatishBoddu-MSFT commented on #97005
Hello @ridomin

Please refer to the document:[Choose a device communication protocol](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-protocols)

_HTTPS: Use for devices that cannot support other protocols.
When using HTTPS, each device should poll for cloud-to-device messages no more than once every 25 minutes. In development, each device can poll more frequently, if desired._

Pl

[2022-08-12 04:49] YashikaTyagi-MSFT commented on #97022
@eugene-lipsky
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-12 04:51] ShaikMaheer-MSFT commented on #96960
@mssaperla / @leifbro Could you please validate customer feedback and update document as appropriate? Thank you.

[2022-08-12 04:52] #96915 closed

[2022-08-12 04:53] ShaikMaheer-MSFT commented on #96931
@mssaperla / @leifbro Could you please validate customer feedback and update code as appropriate? Thank you.

[2022-08-12 05:16] KapilAnanth-MSFT commented on #97025
Thanks for the update @demuire.
I shall now archive this thread.

[2022-08-12 05:16] #97025 closed

[2022-08-12 05:34] rvdginste opened #97027 "Application Gateway: documentation on forward/original headers not correct (?)"
The documentation page contains a list of the forward headers that are added by the Azure Application Gateway. According to the page, the following headers should be added:

* x-forwarded-for
* x-forwarded-port
* x-forwarded-proto
* x-original-host
* x-original-url
* x-appgw-trace-id

But this does not match with what I am seeing on an actual deployment of an Application Gateway v2 with a backend

[2022-08-12 05:37] LingYi-Wu opened #97028 "Martketplace and Sendgrid"
Hello Team,

After Sendgrid was moved to Microsoft.SaaS, Sendgrid resource can move between resource groups and subscriptions.
However, due to limitation, Sendgrid resource cannot be moved in or out from CSP subscription.

It's hard to know this information from this document.
Also, I'm not sure whether other Marketplace SaaS resources has the same limitation.

Would it be possible to have a list

[2022-08-12 05:50] Siby22071989 opened #97029 "SLA for VNET"
[Enter feedback here]
We dont see any SLA for VNET. I checked: https://azure.microsoft.com/en-in/support/legal/sla/
 and SLA summary page, however do not see any SLA information. I see that we are charging for VNET Peering which also means that this should be backed by SLA. Please let me know where I can find the SLA information for this service

---
#### Document Details

⚠ *Do not edit this sect

[2022-08-12 05:54] v-ksreedevan commented on #91824
Hi @g0pinath,

Thank you bringing this to our attention.

The link has been fixed and navigates to https://docs.microsoft.com/en-us/azure/network-watcher/network-watcher-network-configuration-diagnostics-overview.

Closing this issue as it is resolved.

#please-close

[2022-08-12 05:54] #91824 closed

[2022-08-12 06:01] martinstuder opened #97030 "Misleading Photon coverage"
The page is somewhat misleading in that it seems to claim that all Photon operators and expressions listed in the "Photon coverage" section are supported since Databricks Runtime 9.1 LTS which doesn't seem to be the case. Window functions, for example, seem to be supported only with Photon since Databricks Runtime 11.1.

It would be good if the page would be explicit about which operators, express

[2022-08-12 06:29] MayankBargali-MSFT commented on #96969
@martins-vds

[2022-08-12 06:32] RohitMungi-MSFT commented on #96846
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2022-08-12 06:32] #96846 closed

[2022-08-12 06:34] sanalkr opened #97031 "Azure B2C endpoints mentioned in Authentication protocols page incorrect"
In the basics section the authorize and token endpoint URLS mentioned are as shown below
https://docs.microsoft.com/en-us/azure/active-directory-b2c/protocols-overview#the-basics
![image](https://user-images.githubusercontent.com/20180412/184297291-4455c72e-b01a-4982-a4bb-6fcd44501f70.png)

Shouldn't it be as  below
[code]
I find it misleading as the endpoints without policy names will not work.

[2022-08-12 06:43] MayankBargali-MSFT commented on #96969
@martins-vds Existing function apps will **continue to run** after this date (December 3, 2022) but if you need support (in case **something breaks** in versions 2.x and 3.x), then you will be **asked to upgrade** to 4.x so we can assist you further as post 3rd December 2022 it will not be supported by Microsoft.

You will still be able to deploy code to your existing function applications running

[2022-08-12 07:03] SadiqhAhmed-MSFT commented on #96799
@adi-garg We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2022-08-12 07:03] #96799 closed

[2022-08-12 07:04] KapilAnanth-MSFT commented on #97029
@Siby22071989, Thanks for your feedback. We shall review this and get back to you soon!

[2022-08-12 07:06] SumanthMarigowda commented on #96625
@samsp-msft Firstly, apologies for the delay in responding here! Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-08-12 07:08] SumanthMarigowda commented on #96670
@awlodge  Firstly, apologies for the delay in responding here! Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-08-12 07:14] SumanthMarigowda commented on #96714
@cvanelli-ducks To use the StorSimple Device Manager service to administer your device, go to [use the StorSimple Device Manager service to administer your StorSimple device](https://docs.microsoft.com/en-us/azure/storsimple/storsimple-8000-manager-service-administration).
If you need to troubleshoot a device component that has a degraded or failed status, refer to [StorSimple monitoring indicator

[2022-08-12 07:14] #96714 closed

[2022-08-12 07:14] adeliab opened #97032 "Message sequence number and enqueued time in exceptional scenarios"
I would like some explanation on what happens to the sequence number when a message is abandoned or when a message is processed and the consumer throws an exception or the consumer is killed. Are they going to stay the same or updated?
What happens in session based messaging?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-08-12 07:20] KapilAnanth-MSFT commented on #97027
@rvdginste, Thanks for your feedback. We will review this and get back to you shortly!

[2022-08-12 07:21] YashikaTyagi-MSFT commented on #97031
@sanalkr
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-12 07:31] SumanthMarigowda commented on #96815
@BalUKurowej Apologies for the delay response! Can you please share the Case Number?

[2022-08-12 07:38] Sandeg-MSFT commented on #97018
@MikeBakerSAV

Thank you for bringing this to our notice. I have assigned this to author to look into this further. We will do those necessary changes if they are valid.

[2022-08-12 07:53] norppa opened #97033 "Missing + button"
In "Create your local project" the instructions state "Choose the Azure icon in the Activity bar. Then in the Workspace (local) area, select the + button, choose Create Function in the dropdown. When prompted, choose Create new project".

There is no + button in the Workspace (local) area. There are only "deploy" and "refresh" buttons. Using latest Azure Functions extension (1.7.4)

---
#### Docum

[2022-08-12 07:56] mbiernatek commented on #96999
It seems that I was just too impatient. Transformation works - it just need around 20 minutes in my case to start working.

[2022-08-12 08:10] #96999 closed

[2022-08-12 08:14] cglaeser opened #97034 "Network access requirement to functionscdn.azureedge.net"
[Enter feedback here]
Our company starts using function apps in an ASEv3 with a function app version 4. We had networking issues because access to the url "functionscdn.azureedge.net" is required. All of our traffic runs through a proxy. If you mentioned this requirement somewhere approriate in the the ASE network requirements, other enterprises would also benefit.

---
#### Document Details

⚠ *D

[2022-08-12 08:17] SreejaBhattacharya-MSFT commented on #97009
I've created a PR for the same, and it shall be merged post review. Thanks.

[2022-08-12 08:17] #97009 closed

[2022-08-12 08:35] BlazejG opened #97037 "certificate requirements not specified"
The chapter about "Add a certificate" does not specify certificate requirements. Should this be a server or client certificate. Are there any restrictions regarding key length, ciphersuites etc? Or can "any" certificate be used?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9642c47-826b-017f-eff3-ab3b25e4e454
* Versi

[2022-08-12 08:39] gary918 opened #97038 "Script of 'Install the Airflow Azure Databricks integration' hangs"
Hi,
When I run the script of 'Install the Airflow Azure Databricks integration', it hangs.
I think it may be caused by the version mismatch between `apache-airflow` and `apache-airflow-providers-databricks`.
The solution should be making sure to use the same version of them. For example, change the script to:
`pipenv install apache-airflow==2.1.0`
`pipenv install apache-airflow-providers-databrick

[2022-08-12 09:09] WrishavM opened #97039 "bacpac creation for SQL Azure Managed Instance does not work as it is explained in this page using powershell"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 684f5c7e-43d0-109d-058a-b64e6ba77646
* Version Independent ID: cfefe851-04e7-27b7-262f-c712cb8570ac
* Content: [Export a database to a BACPAC file - Azure SQL Database & Azure SQL Managed Instance](https://docs.microsoft.com/en-us/azure/azure-sql/data

[2022-08-12 09:13] ShaikMaheer-MSFT commented on #97030
@martinstuder Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-08-12 09:15] MartinPankraz commented on #97018
From my point of view that doesn't matter, because the write-up concerns NetWeaver, which is the foundation for ECC, S4 and SAP managed offerings like RISE. We can call that out explicitly but SAP Basis folks, who are the primary audience for this will likely not misunderstand this.

@msftrobiro @AlastairMorrison @videshmukh do you agree? Or should we add a note to the introduction?

[2022-08-12 09:17] fardarter opened #97040 "Deny assignments really hard to make sense of"
Someone really needs to write up the connection between deny assignments and policies at some point. (https://docs.microsoft.com/en-us/azure/governance/policy/concepts/definition-structure)

It's really tough to understand how to deny what you need to deny from the Blueprints workflow written up.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2022-08-12 09:18] vanakenm commented on #36927
For @jalexmelendez and anyone intersted - I think I managed to make it work.

I used a [custom startup command](https://docs.microsoft.com/en-us/azure/app-service/configure-language-python#customize-startup-command). Trouble was I could not add/update it (as the container failed to start properly, so I end up doing a one liner and put it directly via the Azure configuration screen (Configuration >

[2022-08-12 09:21] msftrobiro commented on #97018
@MartinPankraz - While I do agree with you, I think it wont harm to add a note that it applies to old and new products alike. Plus makes searching for it easier, if one where to search for S/4 email it might not be picked up.

[2022-08-12 09:32] YashikaTyagi-MSFT commented on #97037
@BlazejG
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-12 09:35] YashikaTyagi-MSFT commented on #97040
@fardarter
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-12 09:46] AlastairMorrison commented on #97018
@MartinPankraz @msftrobiro I agree should add reference to S/4 etc for searching. Equally this would apply to SRM and other NetWeaver systems.

[2022-08-12 09:55] ManoharLakkoju-MSFT commented on #96806
@austinmccollum
I also agree with your findings Thanks for your support for providing the solution.

[2022-08-12 09:59] ManoharLakkoju-MSFT commented on #96806
@anigan Hence closing this issue

[2022-08-12 09:59] #96806 closed

[2022-08-12 10:24] WarrenKin opened #97041 "CI/CD Deployment Gate"
Should the gate using the StatusCheck function be checking the "stage" slot i.e. no in-flight executions should be occurring since the release pipeline deploys to the "stage" slot and Azure handles the swapping to the "production" slot?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9799c027-110a-deae-571e-b370ca6643a6

[2022-08-12 10:32] AshokPeddakotla-MSFT commented on #97021
@n7jti  PR has been created to fix the reference. Changes will be done once it has been reviewed and merged. This issue will be closed automatically Once changes go live.  If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-08-12 10:36] AnuragSharma-MSFT commented on #97039
@WrishavM Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-08-12 10:44] YashikaTyagi-MSFT commented on #97022
@eugene-lipsky
Could you please provide the steps that you have taken to assign a group as a member of a role-assignable group or guide us with some screenshots if possible to help us in doing the repro.

[2022-08-12 11:03] #97021 closed

[2022-08-12 11:48] MayankBargali-MSFT commented on #97041
@WarrenKin Thank you for your feedback! We will review and update as appropriate.

[2022-08-12 12:00] sql-aus-hh opened #97042 "RHEL version number for reservation"
Please can someone check the list of RHEL version which you can apply that reservation to.

It is stating:

Red Hat Enterprise Linux 7.5
Red Hat Enterprise Linux 7.6
Red Hat Enterprise Linux 8.2

Is it correct that version 7.8 is missing or is it just a "mistake" in writing the documentation?

Thanks for clarification.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2022-08-12 12:06] mweibel opened #97043 "Azure Spot maxPrice integer with decimal places"
MaxPrice is everywhere specified as an integer but it seems to allow decimal places. Looking [at the datatype for integers](https://docs.microsoft.com/en-US/azure/azure-resource-manager/templates/data-types#integers) it does not specify anything about being able to use decimal places.
Is an integer actually a floating point type? Is this documented somewhere?

---
#### Document Details

⚠ *Do not

[2022-08-12 12:11] L480 opened #97044 "Additional RBAC role assignment required to select Key Vault during initial setup of Entra Verified ID"
It seems not possible to select Key Vaults during the initial setup of Entra Verified ID unless one assign the "Verifiable Credentials Service Admin" principal the Owner role at the subscription level and deploy a new Key Vault through the below "Create new key vault" button. Even after role assignment existing Key Vaults are not showing up. The account used to set up Entra Verified ID is assigned

[2022-08-12 12:14] simonkurtz-MSFT opened #97045 "Consider Forcing Internal Traffic Through App Gateway"
Hi @dlepow & @mikebudzynski,

I wanted to get a conversation going as I am wondering whether we should change our approach in this documentation. I believe we should ensure that we force internal network traffic through App Gateway via a private listener rather than allowing direct access to APIM. I suspect our current guidance may assume that internal networks are safer, but if I am on such a net

[2022-08-12 12:18] wullemsb commented on #96794
Thx! Looking forward to the fix.

Op do 11 aug. 2022 04:29 schreef MayankBargali-MSFT <
***@***.***>:

[2022-08-12 12:22] #97033 closed

[2022-08-12 12:41] MayankBargali-MSFT commented on #97032
@adeliab Thanks for reaching out. The sequence number **will only be changed** once the message state changes to Active from scheduled state as documented. For any other scenario there is no change to the sequence number.

_when a message is abandoned or when a message is processed and the consumer throws an exception or the consumer is killed. Are they going to stay the same or updated? What happ

[2022-08-12 12:44] MayankBargali-MSFT commented on #97045
@simonkurtz-MSFT Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-08-12 12:54] KapilAnanth-MSFT commented on #97027
@rvdginste,
I tried to capture the headers by creating a Lab and below are my findings.

- x-forwarded-proto - I can see this in my Lab repo. It could be your environment-specific issue, I request you to _raise a support ticket_.
- x-original-host - I can see this documented
- x-original-proto - I do not see this listed.
-
![image](https://user-images.githubusercontent.com/107474080/184353971-d569

[2022-08-12 12:57] vanessabruwer opened #97046 "RiskIQ piece incorrect"
In this document:

This is no longer available in the Github repo - can this be returned to the repo, or updated in the document

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b75207ad-9ac9-d2e6-77d2-4f9b49eb6486
* Version Independent ID: 21142ecb-380f-331a-3873-12c8b975759c
* Content: [Threat intelligence integration

[2022-08-12 12:58] aservera opened #97047 "Missing sample for Managed Identity request"
[Enter feedback here]
For all kind of invocations a sample is included. However, for MI one is not included or clearly specify what to use:
https://docs.microsoft.com/en-us/azure/cognitive-services/authentication?context=%2Fazure%2Fapplied-ai-services%2Fform-recognizer%2Fcontext%2Fcontext&tabs=powershell#authorize-access-to-managed-identities

The key point is that in previous samples you can see

[2022-08-12 13:16] rvdginste commented on #97027
@KapilAnanth-MSFT
Thank you for looking into this, I appreciate it!  I investigated this on my side by logging the headers on the request in custom middleware on an ASP.Net Core 6.0 backend.  The backend is deployed on an Azure App Service Plan on Linux.

[2022-08-12 13:22] SychevIgor commented on #55649
2 years to review issue....

[2022-08-12 13:28] KapilAnanth-MSFT commented on #97024
@0GiS0, I have assigned this thread to the author for further review.

@vhorne , Please review this and update the thread accordingly.

[2022-08-12 13:35] francisapel opened #97049 "File trigger parameters not working"
This paragraph is incorrect:

If you are creating your pipeline and trigger in [Azure Synapse Analytics](https://docs.microsoft.com/en-us/azure/synapse-analytics/overview-what-is), you must use @trigger().outputs.body.fileName and @trigger().outputs.body.folderPath as parameters. Those two properties capture blob information. Use those properties instead of using @triggerBody().fileName and @trigg

[2022-08-12 13:40] henrymbuguakiarie commented on #94283
Hello @abdinegoro,

Thank you for reaching out.

I tested the sample code, and the code doesn't work.

We're working on a project that solves the issue. We'll be tracking the issue internally under  [1657843](https://identitydivision.visualstudio.com/Technical%20Content/_workitems/edit/1657843)

I'll go ahead and close the issue since we are tracking internally.

#please-close

[2022-08-12 13:57] KapilAnanth-MSFT commented on #97029
@Siby22071989, Similar to VNet, VNet peering is software-defined and is always available.

We do not charge for peering creation, but for data transfer.

https://azure.microsoft.com/en-us/pricing/details/virtual-network/
![image](https://user-images.githubusercontent.com/107474080/184367936-8b7a2d96-4c60-48cc-9de9-d112baaad081.png)

Please let me know if you have any further questions on this.

[2022-08-12 14:04] pkalvik opened #97051 "Get Claims from json"
{
   "customerEntity":{
      "email":"john.s@contoso.com",
      "userObjectId":"01234567-89ab-cdef-0123-456789abcdef",
      "firstName":"John",
      "lastName":"Smith",
      "role":{
         "name":"Administrator",
         "id": 1
      }
   }
}

So, in the documentation you have this struct, but the next part explains GetClaimFromJson and then you have this struct as an example {"emailAddr

[2022-08-12 14:51] JamesTran-MSFT commented on #97051
@pkalvik
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-08-12 14:56] SadiqhAhmed-MSFT commented on #96798
@adi-garg We delete only the target replicated disks. The RG, V-Net, and Storage Account are customer-created resources and hence are not deleted.

[2022-08-12 15:01] vhorne commented on #84866
The PS article uses Bastion to connect to the virtual machine, so you don't need the DNAT rule in that case. The two articles demonstrate that there are more than one way to accomplish the same thing.
#please-close

[2022-08-12 15:01] #84866 closed

[2022-08-12 15:11] vladai78 commented on #93657
Apologies for the delayed response @dr-consit

Are you trying to execute this command for Azure SQL Database, or for Azure SQL Managed Instance?

This article applies to Azure SQL Managed Instance (which does allow modifying the file size). On the other hand, modifying the database file sizes on Azure SQL Database is not allowed.

[2022-08-12 15:15] YashikaTyagi-MSFT commented on #97026
@starbuckscoffee
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-12 15:17] vladai78 commented on #92346
Thanks @A141182 for the suggestion!

Changed the column headings to "Default limit for" instead of "Max number of" since we're using the term "default limit" extensively in the text above

[2022-08-12 15:17] joguzmsft opened #97052 "Operation Management Suit vulnerability is really Open Management Infrastructure (OMI)"
[Enter feedback here]
I believe there is a mix-up of Operation Management Suite(OMS)  and Open Management Infrastructure OMI when discussing the vulnerability: CVE-2022-29149. The workbook that is linked also refers to OMI not OMS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d62a75fe-cd15-0f3f-ebcd-8029b4b18391
* Ve

[2022-08-12 15:19] YashikaTyagi-MSFT commented on #97044
@L480
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-12 15:23] Grace-MacJones-MSFT commented on #97023
Hi @ddadaal,thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update this doc as appropriate

[2022-08-12 15:32] Grace-MacJones-MSFT commented on #97034
Hi @cglaeser, thanks for bringing this to our attention. We have assigned this issue to the author to review further and take the next course of action.

[2022-08-12 15:33] Grace-MacJones-MSFT commented on #97028
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-12 15:33] MashaMSFT commented on #92346
Hi @A141182 , thanks so much for reaching out and improving our docs! A change has been submitted to update the documentation that should be live later today. I'll go ahead and close out this Git Issue but please feel free to comment should you need anything further.

Thanks again and hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2022-08-12 15:33] #92346 closed

[2022-08-12 15:35] Grace-MacJones-MSFT commented on #97038
Hi @gary918, thanks for bringing this to our attention. We have assigned this issue to the author to review further and take the next course of action.

[2022-08-12 15:37] MonikaReddy-MSFT commented on #97042
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-08-12 15:37] #97042 closed

[2022-08-12 15:39] MashaMSFT commented on #93657
Hi @dr-consit , thanks so much for reaching out! If you're seeing this error for Azure SQL Database, then the behavior is expected. However, if you're seeing this error with Azure SQL Managed Instance, please reach out to support to investigate your issue. For more info, see [Get help](https://docs.microsoft.com/sql/sql-server/sql-server-get-help) and [create a support request](https://docs.micros

[2022-08-12 15:39] #93657 closed

[2022-08-12 15:57] whhender commented on #96902
@Edcorcor - thanks for reaching out! I am confirming the available versions with engineering and then I'll add it to the documentation. I expect to have this updated by early next week at the latest.

[2022-08-12 15:59] whhender commented on #96902
I have submitted an update to the documentation as well! You should see it reflected later this afternoon.

[2022-08-12 16:00] whhender commented on #96902
#please-close

[2022-08-12 16:00] #96902 closed

[2022-08-12 16:01] whhender commented on #96698
I'm working on a few potential designs for this page to better organize the information. If there was anything in particular you were looking for, please do reach out again!

Thanks very much for reaching out!

[2022-08-12 16:02] whhender commented on #96698
#please-close

[2022-08-12 16:02] #96698 closed

[2022-08-12 16:08] bandersmsft commented on #97042
@MonikaReddy-MSFT Thanks for taking care of this issue.

[2022-08-12 16:19] MicrosoftGuyJFlo commented on #96994
Both docs say exclude the domains.

[2022-08-12 16:26] JonathanFingold opened #97055 "New Azure Web App resources can't be created"
re: the [Build low code chat bots](https://docs.microsoft.com/azure/cognitive-services/qnamaker/overview/overview#build-low-code-chat-bots) section

1. The Azure Bot Service no longer supports the creation of new _Bot Channels Registration_ or _Web App Bot_ resources. Users should create an _Azure Bot_ resource, instead.
1. The link to azure.microsoft.com/services/bot-service is for the marketing

[2022-08-12 16:36] KranthiPakala-MSFT commented on #97049
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-08-12 16:42] martins-vds commented on #96969
@MayankBargali-MSFT Thanks for getting back to me. On more question: Could you clarify the statement _**"we will remove the common path through clients for new applications for the unsupported version."**_? By clients, do you mean Visual Studio, Visual Studio Code, dotnet cli, etc.?

[2022-08-12 16:53] devan10 commented on #96896
Thank you for the feedback and help with this.

[2022-08-12 16:59] iriaosara commented on #96663
This issue has been fixed and doc updated. Thank you.

[2022-08-12 17:25] panwar28 opened #97056 "Linux documentation for Defender for Endpoint integration needs to be corrected."
[Enter feedback here]
Linux documentation is providing steps to follow on windows machine, and I believe this needs to be corrected.

https://docs.microsoft.com/en-us/azure/defender-for-cloud/integration-defender-for-endpoint?tabs=linux

Thanks
Umesh Panwar

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 970863a5-ab27-6

[2022-08-12 17:26] #97018 closed

[2022-08-12 17:30] #96458 closed

[2022-08-12 17:34] ggailey777 commented on #97033
There is a known bug in the latest VS code that causes the button to not be shown in some cases. Please use the command pallet work around suggested.

[2022-08-12 17:52] amhindma commented on #94686
This can be closed. The document is being published with the necessary revisions.

[2022-08-12 18:00] ysmu commented on #96530
Thanks for the information, @pietz

The first issue is fixed in a newer version of the image. Can you give `mlflow-ubuntu18.04-py37-cpu-inference:20220808.v1` a try?

The second issue happens when you are running with Python 3.9+. The issue was identified and fixed in the Azure ML Inferencing HTTP server v0.7.5 python package ([azureml-inference-server-http](https://pepy.tech/project/azureml-infer

[2022-08-12 18:06] dlepow commented on #96780
The requirement for Directory.Read.All permission was restored in the doc. The product team is also confirming recommended end-to-end workflows/requirements for administrative and end users. We'll make future doc updates as needed.

Thanks @vlad610 for raising this!
#please-close

[2022-08-12 18:06] #96780 closed

[2022-08-12 18:23] sbenzch commented on #96994
Hello Flo

No, tenant restrictions require tls interception to add the the following headers:
Restrict-Access-To-Tenants
Restrict-Access-Context

It says:
_The proxy must be able to perform TLS interception, HTTP header insertion, and filter destinations using FQDNs/URLs_
and
_Do not include subdomains under *.login.microsoftonline.com in your proxy configuration. **Doing so will include device.lo

[2022-08-12 19:11] WilliamDAssafMSFT commented on #97039
#assign:MashaMSFT

[2022-08-12 19:16] pagariyaalok opened #97059 "incorrect URL for scm"
[Enter feedback here]

https://docs.microsoft.com/en-us/azure/azure-monitor/app/azure-web-apps-net#troubleshooting

Incorrect - https://yoursitename.scm.azurewebsites.net/ApplicationInsights
Correct -    https://scm.yoursitename.azurewebsites.net/ApplicationInsights

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69c074

[2022-08-12 19:28] bradyson opened #97060 "Inbound NAT pools are for VMSS and not for individual VMs"
Please modify article to explain that Inbound NAT pools are for VMSS and not for individual VMs

Documentation:
 "Inbound NAT pools are referenced from virtual machine scale sets. NICs that are associated with individual virtual machines cannot reference an inbound NAT pool. They have to reference individual inbound NAT rules."
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management

[2022-08-12 19:33] tpberntsen opened #97061 "A trailing space in one of the examples"
Hi guys,

There's a trailing space on line two of the following example, trailing `myResouceGroup \ `, that makes the command fail when copy/pasting it and executing it:

[code]

Thanks for an otherwise great page of documentation. 👍

Best,
Thomas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b94c5948-acb1-e3aa-7148-6

[2022-08-12 19:36] srinia commented on #95480
Yes, document needs to be fixed. It always uses the latest version of the job. We will fix the documentation. Thanks for catching this issue 👍
If you have specific scenarios that needs to use older version of the job, let us know and we will look into that as a future enhancement.

[2022-08-12 20:15] kobulloc-MSFT commented on #96979
@lckho3693 Hello!  Some clarification may help here--you can't deploy/extend an on-premises Remote Desktop deployment to HCI.  Installing the Remote Desktop Virtualization host role is not supported.  There's an Azure Virtual Desktop on Azure Stack HCI video that may help:

https://www.youtube.com/watch?v=bcK7lbHURIA

[2022-08-12 20:15] justinmchase commented on #41374
Where is the terraform reference? Also can we get an arm/bicep example instead of terraform?

[2022-08-12 20:25] WilliamDAssafMSFT commented on #95482
Yes, the delay between retries and the total timeout are different values. Perhaps the confusion stems from the idea that the connection waits for an amount of time before determining failure. This is an _instantaneous_ connectivity failure. When a broken connection is detected, the client _immediately_ attempts to reconnect without further delay, on the first try.  There is no additional delay wi

[2022-08-12 20:25] nnellanspdl commented on #60995
According to note on [this page](https://docs.microsoft.com/en-us/azure/postgresql/single-server/concepts-azure-ad-authentication), this is not possible.

`Service Principal or Managed Identity cannot act as fully functional Azure AD Administrator in Single Server and this limitation is fixed in our Flexible Server`

[2022-08-12 20:25] #95482 closed

[2022-08-12 20:51] #95480 closed

[2022-08-12 21:19] Karishma-Tiwari-MSFT commented on #97061
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2022-08-12 21:24] #97061 closed

[2022-08-12 21:36] kobulloc-MSFT commented on #97043
@mweibel Thank you for bringing this to our attention!  We are reviewing the documentation and will get back to you shortly.

[2022-08-12 21:51] kobulloc-MSFT commented on #97043
VM ARM template example:
https://docs.microsoft.com/en-us/azure/templates/microsoft.compute/virtualmachines?pivots=deployment-language-arm-template

![image](https://user-images.githubusercontent.com/37556655/184449257-5aeffb66-e64e-499c-b46a-4a5c15a761b2.png)

Red Hat OpenShift documentation:
https://docs.openshift.com/container-platform/4.7/machine_management/creating_machinesets/creating-machin

[2022-08-12 22:00] flang-msft commented on #94042
#please-close

[2022-08-12 22:00] #94042 closed

[2022-08-12 22:24] JamesTran-MSFT commented on #97046
@vanessabruwer
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-08-12 22:25] herquan-docusign commented on #54023
@VikasPullagura-MSFT I do not see any fix for the document. Can you open any work item to fix the issue?

[2022-08-12 22:42] dallasnutsch opened #97064 "Private Endpoints not moveable"
This page is wrong about the moveability of private endpoints.  It appears private endpoints may not be moved between subscriptions.  This has caused confusion with customers.  Can you please review the moveability table on this page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23df5354-6833-a5da-0eb3-d860150c8b78
*

[2022-08-12 23:06] KranthiPakala-MSFT commented on #97020
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-08-12 23:06] #97020 closed

[2022-08-12 23:06] m365ken opened #97065 "Python example for creating container with AutoScale enabled"
Hello,
I'm having trouble creating a container with AutoScale enabled using the Python SDK:
`            database = client.get_database_client(database_id)
            container = database.create_container_if_not_exists(
                id=container_id, partition_key=partition_key, offer_throughput=4000)`

I have successfully created an AutoScale container using the node.js sdk:
`await client

[2022-08-12 23:12] m365ken opened #97066 "Python example for creating container with AutoScale enabled"
Hello,
I'm having trouble creating a container with AutoScale enabled using the Python SDK:
`            database = client.get_database_client(database_id)
            container = database.create_container_if_not_exists(
                id=container_id, partition_key=partition_key, offer_throughput=4000)`

I have successfully created an AutoScale container using the node.js sdk:
`await client

[2022-08-12 23:13] #97065 closed

[2022-08-12 23:30] NattyMojo commented on #43803
Still an issue, ran into it today

[2022-08-13 00:48] rido-min commented on #97005
Hi @SatishBoddu-MSFT

I'm looking for the REST api to send telemetry messages, aka D2C messages

All I've found in the docs are related to C2D messages, but no telemetry

[2022-08-13 02:45] RyanHill-MSFT commented on #96743
I checked and the Jekyll static web app template is no longer on the main branch. It may have been temporarily removed, @anthonychu will be able to answer this better. In the meantime, I've assigned this issue to the doc author for further investigation and appropriate update.

[2022-08-13 02:49] RyanHill-MSFT commented on #96743
I checked and the Jekyll static web app template is no longer on the main branch. It may have been temporarily removed, [@anthonychu](https://github.com/anthonychu) will be able to answer that better. In the meantime, I've assigned this issue to the doc author for further investigation and appropriate update.

[2022-08-13 03:21] Grace-MacJones-MSFT commented on #97047
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-13 03:24] RyanHill-MSFT commented on #96495
Yes, you can deploy ARM templates in the portal just as you would from the CLI. When you say

Are you referring to [sourecontrols](https://docs.microsoft.com/en-us/azure/templates/microsoft.web/2022-03-01/sites/sourcecontrols?pivots=deployment-language-bicep)? Are there any particular errors you're getting?

[2022-08-13 03:46] Siby22071989 commented on #97029
@KapilAnanth-MSFT : Thank you. The Vnet itself is free of charge. However there are charges for peering under Data Transfer ( Inbound/ Outbound ). When Network infra is impacted, the Inbound , Outbound data charges are still present. What is the SLA for these components that are charged.

[2022-08-13 03:55] Grace-MacJones-MSFT commented on #97052
thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update this doc as appropriate

[2022-08-13 03:57] Grace-MacJones-MSFT commented on #97055
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-13 04:01] Grace-MacJones-MSFT commented on #97056
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-13 04:05] ChaitanyaNaykodi-MSFT commented on #97060
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-13 05:00] KrishnaG-MSFT commented on #97059
@pagariyaalok Thanks for your comment! We will review and provide an update as appropriate.

[2022-08-13 06:36] fatimahqadheeb commented on #90567
Hello @ram-msft

I am getting the same error when brows a flask app after deploying in azure, it shows an application error page. And the app logs display this error cannot import name 'Markup' from 'jinja2' in path (/tmp/<some id num>/antenv/lib/python3.8/site-packages/jinja2/init.py)

[2022-08-13 07:50] lckho3693 commented on #96979
Hi,
Thank you for the clarification.
Really appreciated. Thanks.

At the same time, kindly close the ticket.

Regards,
Kho

From: kobulloc-MSFT ***@***.***>
Sent: Saturday, 13 August, 2022 4:15 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: lckho3693 ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Deploying Azure Virtual Desktop with VDI Server on Azure Stack HCI (Issu

[2022-08-13 12:24] avonheimburg opened #97069 "Mistakes in the credential reset and update-credential commands"
There seem to be two errors in the commands.

First, when resetting the credentials, the command given is

```P_SECRET=$(az ad sp credential reset --name "$SP_ID" --query password -o tsv)```

when it should be

```P_SECRET=$(az ad sp credential reset --id "$SP_ID" --query password -o tsv)```

(Note the --id instead of the --name).

Also, the command given for bash users to update the credentials

[2022-08-13 14:31] ljunquera opened #97070 "Bicep example"
It would be great to have a bicep example as well. Ideally there would be one which shows how to assign the AD admin permissions as well as the read/write ones for access.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e687bed-d811-859c-ccb4-01bc7fb5cdc9
* Version Independent ID: c503c3ba-2dbc-a71b-0527-952ca9641e4b
*

[2022-08-13 17:17] KrishnaG-MSFT commented on #97064
@dallasnutsch Thanks for your comment! We will review and provide an update as appropriate.

[2022-08-13 17:24] kobulloc-MSFT commented on #96979
@lckho3693  Thank you again for the feedback!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-08-13 17:24] #96979 closed

[2022-08-13 18:16] ddanboyle opened #97071 "Upgrading a node pool to a snapshot CLI command as shown does not run, needs --node-image-only parameter to run..."
In the section titled Upgrading a node pool to a snapshot, it talks about the CLI command to upgrade an existing nodepool
from an image snapshot.  This does not run for me, in fact the CLI command does nothing when submitted, no error, no nothing.  It does run when the cli command also has the --node-image-only parameter.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-08-13 18:58] Grace-MacJones-MSFT commented on #97066
Thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2022-08-14 00:59] qygce8-juffIh-kubcom opened #97073 "jmBmwDVMAtAVH9PcqHRNImmXTH1b4Vx3YNseGtzg"

[2022-08-14 04:14] ElectricLlama opened #97075 "We need another page that shows "services that support being *called* using a managed identity"
This page shows services that support "having" a managed identity. They can call "listening" services under a managed identity security context.

However I'm trying to work out whether a particular "listening" service - push notifications - supports being called _using_ a managed identity.

The closest I can find is this

https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-p

[2022-08-14 06:27] guywi-ms commented on #94918
@kongou-ae Thanks for providing feedback that helps improve our documentation! This issue has been resolved and we are closing the issue. #please-close

[2022-08-14 06:27] #94918 closed

[2022-08-14 06:29] guywi-ms commented on #96843
@TBSJordanNash Thanks for providing feedback that helps improve our documentation! This issue has been resolved and we are closing the issue. #please-close

[2022-08-14 06:29] #96843 closed

[2022-08-14 07:30] Shoplift3020 opened #97076 "Google Admin App"
https://github.com/Shoplift3020/chrome-webstore-configure/issues/5

Um
id 5910 opcode QUERY rcode NXDOMAIN flags QR RD RA ;QUESTION 40640295.chromedeveloper.org. IN A ;kellypcassidy ;AUTHORITY chromedeveloper.org. 300 IN SOA ns-cloud-d1.googledomains.com. cloud-dns-hostmaster.google.com. 4 21600 3600 259200 300 ;ADDITIONAL

[2022-08-14 08:14] ElazarK commented on #97052
#reassign: bmansheim

[2022-08-14 08:29] Grace-MacJones-MSFT commented on #97069
thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update doc as appropriate

[2022-08-14 08:30] Grace-MacJones-MSFT commented on #97070
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-14 08:31] Grace-MacJones-MSFT commented on #97071
thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-08-14 08:34] Grace-MacJones-MSFT commented on #97073
Hi @qygce8-juffIh-kubcom do you have a specific feedback?

[2022-08-14 08:35] Grace-MacJones-MSFT commented on #97075
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-14 08:41] qygce8-juffIh-kubcom commented on #97073
في أحد، 14 أغسطس، 2022 في 11:34 ص، كتب Grace-MacJones-MSFT <
***@***.***>:

البارحه جتني هجمه سيراني اعطبو اجهزتي البطاريات ضربت. 😭. حسد

--
null

[2022-08-14 09:15] SadiqhAhmed-MSFT commented on #96798
@adi-garg We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2022-08-14 09:15] #96798 closed

[2022-08-14 09:29] bmansheim commented on #97056
Hi @panwar28 . I reviewed the section but I don't see the Windows information in the Linux tab that you are referring to. Can you be more specific?

[2022-08-14 10:40] biterbit opened #97077 "Function order incorrect"
Alphabetically, **replace** should be after **removeProperty**, not before.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03aa9e88-7fa0-56ab-f794-58f0c37b6d7a
* Version Independent ID: 25c5ef5c-6ba4-f5ff-f94b-8f2818ec2feb
* Content: [Reference guide for expression functions - Azure Logic Apps](https://docs.microsoft.c

[2022-08-14 11:06] Alexander-Hjelm opened #97078 "Authorizing Azure Static Web Apps in GitHub for organizations"
The note about authorizing Azure Static Web Apps in GitHub does not mention the necessary steps for authorizing Azure Static Web Apps if the repository is behind an organization. In this case you must request access for the organization. You can do this by going via your own profile settings or e.g.

- **Organization Settings -> Third-party application access policy -> **your own authorized applic

[2022-08-14 12:31] bmansheim commented on #97052
We appreciate your comments @joguzmsft . The product team is reviewing them.

[2022-08-14 14:58] ggofthejungle opened #97079 "FS?"
What does FS mean here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79ab2bbb-4adc-3106-c8dc-3462cc23c587
* Version Independent ID: 8fa8f32e-ceca-6604-f2e3-a994efd17ecc
* Content: [What is Azure AD Connect and Connect Health. - Microsoft Entra](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/whatis-azu

[2022-08-14 16:09] spacecat opened #97080 "The provided application is not configured to allow the 'OAuth' Implicit flow"
Something is missing from this doc page.

I'm getting the following error when I try to Sign Up/In:

Error.
An error occurred while processing your request.
Request ID: 00-20069ea3b2c75ed9cff1ff0668d45940-f2f6457a8e70d472-00

Details
Message contains error: 'unauthorized_client', error_description: 'AADB2C90057: The provided application is not configured to allow the 'OAuth' Implicit flow. Correla

[2022-08-14 16:10] memildin opened #97081 "GKE not mentioned in the body"
Both AWS & GCP support are in preview. The page makes multiple references to EKS but none to GKE.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad7c05f1-f69c-c033-0409-39f5c8f03674
* Version Independent ID: ebcceb7b-0d9c-618c-9576-b3b1713fe1ef
* Content: [Container security with Microsoft Defender for Cloud](https://d

[2022-08-14 17:01] Hindy-UK opened #97084 "Missing Networking info"
This is missing information about the Networking tab after Advanced.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b4440e0-1ff5-0fd3-6983-d5f6ed86e818
* Version Independent ID: 8d6aecae-1a58-83aa-45f7-306fb6c92d38
* Content: [Create a standalone Azure Automation account](https://docs.microsoft.com/en-us/azure/automat

[2022-08-14 18:03] erwinkramer opened #97085 "Purview support"
Does this document also apply to purview? Since essentially the runtime itself also supports purview, I'm assuming it does work, but it's not explicitly stated as so.

See runtime page that explains it also supports purview: https://www.microsoft.com/en-us/download/details.aspx?id=39717

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2022-08-14 18:50] burgermenudotio opened #97086 "Broken Link"
Next-Step link "How to deploy models with Azure Machine Learning" at end of page redirects to a 404.

Referenced URL is: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-and-where

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2767a9e-eac1-8460-761f-a86154bd9685
* Version Independent ID: 4a40093e-

[2022-08-14 19:04] jpjm opened #97087 "Installing multiple provisioning agents"
Could some guidance specific to deploying multiple Cloud Sync agents to provide high availability (listed as a feature at [What is Azure AD Connect cloud sync?
](https://docs.microsoft.com/en-us/azure/active-directory/cloud-sync/what-is-cloud-sync) ) be added to this document? I found that installing two agents at the same time and then configuring them resulted in quarantine errors with credentia

[2022-08-14 22:05] Grace-MacJones-MSFT commented on #97076
Hi @Shoplift3020, do you have any specific feedback for the doc?

[2022-08-14 22:09] Grace-MacJones-MSFT commented on #97077
Hi @biterbit, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-08-14 22:17] Grace-MacJones-MSFT commented on #97078
thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-08-14 22:44] amsliu commented on #95276
@matthewjlevy @DNAAMIRZA Thank you for your feedback! I have incorporated this change to the documentation. You can view this change in the pull request: MicrosoftDocs/azure-docs-pr#207960. If you have any other questions, let us know, otherwise I'm closing this pull request. #please-close

[2022-08-14 22:44] #95276 closed

[2022-08-14 23:53] dgunawan opened #97088 "Page refers to discontinued product (Microsoft Security Risk Detection)"
The page still refers to the Microsoft Security Risk Detection product which has been discontinued in 2020, and replaced with OneFuzz.  Please update the relevant sentence to accurately reflect the current tool landscape.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e6dec1d-373d-292b-a0d2-98ed82b71e44
* Version Inde

[2022-08-14 23:55] TonySh127-ms opened #97089 "Feedback the IP block behavior"
Hi Team,

I would like to kindly point out the ip block behavior. If the customer attempted to use single ip to send high volume request at same host. It will not only block this target tenant. Any request came to this ip will be blocked. It could cause all customer tenant get impact.

We may need to remind the cx if they attempt to load test under dev tenant. Please separate the IP if this IP als

[2022-08-15 01:36] rolandoldengarm commented on #90819
I was able to do it manually through the portal, but indeed it works only from AFD, not from Azure DNS.

It also works in Bicep, this way:

[code]

[2022-08-15 02:55] zhiweiv opened #97091 "Azure Redis Persistence FAQ link broken"
[Enter feedback here]
The link is broken for FAQ **Will having firewall exceptions on the storage account affect persistence**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a18b5a8-3517-6ac3-26a2-30c37ec7cf22
* Version Independent ID: a66b6f7c-9993-31da-bacf-786cb81ef373
* Content: [Configure data persistence - Premi

[2022-08-15 03:22] jgwinner opened #97092 "Page steps don't match portal"
The "HTTP" section is now replaced with "Backend settings".

Please update. It's confusing when trying to follow a tutorial who's steps are wrong.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b1e0765-a7aa-6e76-3aca-751dc8a531dc
* Version Independent ID: e95861b3-cfd3-2b75-95e8-1c0176ba79f2
* Content: [Quicks

[2022-08-15 03:26] jgwinner commented on #97092
Specifics (sorry, the link should have opened up a NEW window so I coudl copy the specifics).

Under "Configuration" step 5, the HTTP tab looks to be replaced with the "Backend Settings" then "New" backend setting.

The screenshots should change also:

![image](https://user-images.githubusercontent.com/10425170/184572118-44989136-7569-4196-8c32-4d109b921b7c.png)

[2022-08-15 05:29] ElumalaiRJEN opened #97094 "Azure Vm Can't Idenntify"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed961328-0d8f-7784-69e4-c282cfc9e9c8
* Version Independent ID: f9958169-8ee2-1065-9b45-4617456f46de
* Content: [Quickstart: Create a server - Azure portal - Azure Database for MySQL](https://docs.microsoft.com/en-us/azure/mysql/single-server/quickstar

[2022-08-15 05:44] RohitMungi-MSFT commented on #97079
@ggofthejungle Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-08-15 05:46] RohitMungi-MSFT commented on #97080
@spacecat Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-08-15 05:47] RohitMungi-MSFT commented on #97084
@Hindy-UK Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-08-15 05:49] RohitMungi-MSFT commented on #97081
@memildin Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-08-15 05:51] RohitMungi-MSFT commented on #97085
@erwinkramer Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-08-15 05:59] RohitMungi-MSFT commented on #97086
@burgermenudotio Thanks for spotting this. The correct link should be this [page](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-use-managed-online-endpoint-studio).
@aminsaied Could you please confirm and update the incorrect link?

[2022-08-15 06:01] RohitMungi-MSFT commented on #97087
@jpjm Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-08-15 06:03] RohitMungi-MSFT commented on #97088
@dgunawan Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-08-15 06:05] RohitMungi-MSFT commented on #97089
@TonySh127-ms Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-08-15 06:07] munir94 opened #97095 "Uninstall Azure App Service Arc"
Hi all, im unable to delete  App Service Kube Environement even even after related service has been delete.

![image](https://user-images.githubusercontent.com/39366930/184584741-af86d6a5-d1e7-44e9-bf22-e31b57292b11.png)
![image](https://user-images.githubusercontent.com/39366930/184584780-9e97db22-0fc5-4446-abfd-27992be3fe04.png)

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2022-08-15 06:08] RohitMungi-MSFT commented on #97091
@zhiweiv Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-08-15 06:09] RohitMungi-MSFT commented on #97092
@jgwinner Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-08-15 07:11] ElazarK commented on #97081
@memildin Thank you for bringing this to my attention. I will look into this matter and hopefully will have updates soon.

[2022-08-15 07:23] ISkomorokh commented on #53063
JFYI: Seems like the [docs](https://docs.microsoft.com/en-us/azure/azure-monitor/app/worker-service#aspnet-core-background-tasks-with-hosted-services) now have a different info that is stated in this thread

[2022-08-15 07:30] ggailey777 commented on #94800
Good catch. I've prepared a more correct fix in the private repo: https://github.com/MicrosoftDocs/azure-docs-pr/pull/207965

[2022-08-15 07:50] Dlng0 opened #97096 "How to reduce Unfamiliar sign-in properties alerts possible fine tuning of the policy"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81a1385f-b90a-e7b4-8cbd-f25aeb8b3c49
* Version Independent ID: d468eb75-88a9-b1aa-7fb3-19ebb4faa179
* Content: [What is risk? Azure AD Identity Protection - Microsoft Entra](https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/concept-identity-protect

[2022-08-15 07:54] Dlng0 commented on #97096
Is there any guide to reducd the alerts?

TIA

[2022-08-15 08:27] ajay-aravind opened #97098 "New-AzPublicIpAddress @ip is throwing error in this page"
[Enter feedback here]
New-AzPublicIpAddress : Resource /subscriptions/2f9ec409-b74e-4342-bbf1-f6883db638f0/resourceGroups/ajtesting-pe/provid
ers/Microsoft.Network/publicIPAddresses/myBastionIP has 3 zones specified. Only one zone can be specified for this
resource.
StatusCode: 400
ReasonPhrase: Bad Request
ErrorCode: ResourceCannotHaveMultipleZonesSpecified
ErrorMessage: Resource /subscriptions/2

[2022-08-15 08:30] madsd commented on #97034
@cglaeser we document here https://docs.microsoft.com/en-us/azure/app-service/environment/networking#network-routing that you will need to ensure the app dependencies are unblocked. There are many different apps, services, frameworks that can be deployed on App Service Environment. @cachai2 do you know if this requirement is documented for Functions, so we could reference it?

[2022-08-15 08:35] ElazarK commented on #97081
@memildin I opened a work item to address this issue.

[2022-08-15 08:37] ElazarK commented on #97081
#please-close

[2022-08-15 08:37] #97081 closed

[2022-08-15 08:41] chunliu opened #97099 "The screenshot needs to be updated"
In the **Configure identity provider for developer portal** section, there is a screenshot for **Register an application**. On this screenshot, the platform of the **Redirect URI** is shown as `Web`.

However, `Web` doesn't work for the dev portal. The correct platform should be `Single-page application (SPA)`. The screenshot should be updated.

---
#### Document Details

⚠ *Do not edit this secti

[2022-08-15 08:49] cglaeser commented on #97034
@madsd Thank you for your help. As I didn't mention that in the original post: using Functions with version ~3 seems to work fine with ASEv3, the requirement seems to have been added with functions version ~4.

[2022-08-15 09:56] raymonvt opened #97102 "Example in the documentation is not working"
I don't understand why but when using the example in the documentation the provider drop down list stays empty

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f3e122a-cd93-e5c3-a0b5-fd320dabce51
* Version Independent ID: f7cb13e7-40bd-bb27-08df-085acd22cfbc
* Content: [ArmApiControl UI element - Azure Managed Applicati

[2022-08-15 10:03] sachinpanwar opened #97103 "Update required - 2019-Datacenter-with-Containers is also supported"
Under "Supported OS images", please update the documentation as "2019-Datacenter-with-Containers" is also supported but not in the list.

![image](https://user-images.githubusercontent.com/11601385/184616393-fa4188fb-3449-45ee-a15e-1a7afcfb5199.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61687573-f03b-85dc-54cf

[2022-08-15 10:18] DeanGross opened #97104 "Page organization"
This content would be easier to read if it was separated into separate pages for each dashboard, this should also make it easier to update when the individual dashboards get new functionality

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7e0afc0-1381-bed3-e3b8-1b71e23c6493
* Version Independent ID: 3aeba172-6df5-e316

[2022-08-15 10:27] anbengts opened #97105 "Include information about how-to set up Azure Policy for automatic management"
Please add information about how to set up Azure Policy to automatic deploy the extension needed, without any manual steps per server. For example, when a new ARC server is connected to the subscription, it should automatically be connected to Update Management Center and become managed, without any manual steps. Can you please add a guide for that scenario?

Also, please add information about the

[2022-08-15 11:20] #94800 closed

[2022-08-15 11:31] bnitelf opened #97106 "What is the hostname of calling migrate api?"
In **Migration procedure** Header, step 3
said that, Issue the API call to the specified url path
`POST /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.operationalinsights/workspaces/{workspaceName}/tables/{tableName}/migrate?api-version=2021-03-01-privatepreview
`
but doesn't tell where the host name so I don't know where do I issue the request to.

---
####

[2022-08-15 11:59] bmansheim commented on #97052
You are correct. I fix to the page has been submitted.

Thanks for pointing that out!

[2022-08-15 11:59] bmansheim commented on #97052
#please-close

[2022-08-15 11:59] #97052 closed

[2022-08-15 12:20] jrose-rc opened #97107 "Dev error in production environment"
![image](https://user-images.githubusercontent.com/67647790/184634081-d494ebe4-ecc5-41a1-a303-b59e0acc55d1.png)

[2022-08-15 12:26] DeanGross opened #97108 "Permissions to view and maintain"
Please add some information about what roles people need to view the dashboards and manage the discover process.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad120c2f-c1d6-dfcd-e393-74214c1473bf
* Version Independent ID: 3808fad7-df74-2005-a309-83b726eae4ef
* Content: [Deploying the Defender EASM Azure resource](https

[2022-08-15 12:28] DeanGross opened #97109 "Exporting/Reporting"
Please add some information about how we can export the data and/or share the reports with other people.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f748ea2-bdf9-c015-e512-a514f547a68b
* Version Independent ID: 58560659-6d79-0ce5-df6c-31fe4d2a424f
* Content: [Overview](https://docs.microsoft.com/en-us/azure/externa

[2022-08-15 13:02] Escoto opened #97111 "Add link for `az provider register`"
Can we add the link for the `register` command?
https://docs.microsoft.com/en-us/cli/azure/provider?view=azure-cli-latest#az-provider-register

And maybe the example for:

`az provider register --namespace Microsoft.AzureActiveDirectory`

But, I think just the link is enough. I can send a PR myself if that is ok.

Best,
R.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-08-15 13:11] mumurug-MSFT commented on #97099
@chunliu Thanks for your feedback. We will update the screenshot as appropriate.

[2022-08-15 13:41] RohitMungi-MSFT commented on #97094
@ElumalaiRJEN Could you add more details around the issue you are seeing with the QuickStart?

[2022-08-15 13:43] RohitMungi-MSFT commented on #97095
@munir94 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-08-15 13:45] RohitMungi-MSFT commented on #97096
@Dlng0 Could you add more details about the Azure docs document you are following? This would help us redirect the issue to the appropriate team for faster response. Thanks!!

[2022-08-15 13:46] RohitMungi-MSFT commented on #97098
@ajay-aravind Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-08-15 13:46] amenegola opened #97112 "Azure Machine Learning Conditional Access"
The Azure ML documentation states that:

_"To use Conditional Access for Azure Machine Learning workspaces specifically, [assign the Conditional Access policy](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/concept-conditional-access-cloud-apps) to Machine Learning Cloud app."_

But when Azure ML Cloud App is assigned to a CA block policy, nothing happens, because Azure

[2022-08-15 13:47] hjchin commented on #96140
@rwike77, I can't remember which StackOverflow post it is but the author provided a link of ADAL. The entire ADAL documentation is not relevant anymore, I believe, because it has been replaced by MSAL.

[2022-08-15 13:47] RohitMungi-MSFT commented on #97102
@raymonvt Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-08-15 13:48] RohitMungi-MSFT commented on #97104
@DeanGross Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-08-15 13:52] RyanHill-MSFT commented on #96982
Hi @petrdanecek, so `WEBSITE_HOSTNAME` will only return the primary hostname. You can see the list [here](https://docs.microsoft.com/en-us/azure/app-service/reference-app-settings?tabs=kudu%2Cdotnet#app-environment). Since there isn't a setting that retrieves a custom domain binding, one suggestion for optimization is to add an additional app setting, such as `CUSTOM_HOSTNAME` set to the preferred

[2022-08-15 13:52] #96982 closed

[2022-08-15 14:01] stanleyu commented on #96968
I see a link has been added about resizing with downtime.

Follow this [link](https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/docs/known-issues/sizegrow.md) to expand PVCs with downtime if you cannot try preview feature.
<<<

[2022-08-15 14:04] RohitMungi-MSFT commented on #97105
@anbengts Thanks for the feedback. I have assigned the issue to the content author to review and update the document as required. Thanks!!

[2022-08-15 14:06] RohitMungi-MSFT commented on #97106
@bnitelf Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-08-15 14:55] mmacy commented on #97037
@BlazejG Does the article that's linked in that section contain what you need?

[2022-08-15 15:16] henrymbuguakiarie commented on #94283
#please-open

[2022-08-15 15:39] MarileeTurscak-MSFT commented on #97108
@DeanGross
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-15 15:41] MarileeTurscak-MSFT commented on #97109
@DeanGross
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-15 15:42] MarileeTurscak-MSFT commented on #97111
@Escoto
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-15 16:18] lauradolan commented on #96857
Thanks for your feedback. The product team has updated this documentation based on the feedback, so I'm closing this issue for now. #please-close

[2022-08-15 16:18] lauradolan commented on #96858
Thanks for your feedback. The product team has updated this documentation based on the feedback, so I'm closing this issue for now. #please-close

[2022-08-15 16:18] #96858 closed

[2022-08-15 16:24] MicrosoftGuyJFlo commented on #96994
Reaching out to the PG for them to respond.

[2022-08-15 16:32] himanshusinha-msft commented on #97107
@jrose-rc  : Can you please share the link of the document whcih you are refering here ?

[2022-08-15 16:34] himanshusinha-msft commented on #97112
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2022-08-15 17:11] tfitzmac commented on #97064
@dallasnutsch - thanks for this feedback. I will update the status for private endpoints.

[2022-08-15 17:15] spacest opened #97113 "sysprep command suggestion"
This command: "sysprep /generalize /shutdown /mode:vm" introduces a pop-up window that asks options which may cause confusion to the user:

https://microsoft-my.sharepoint.com/:i:/p/mariliu/EYx0nDpWpj5Hhy7rTYre2g0Bg5m_GvkiYlpDrsJg1IkcWQ?e=D8ebDX

Suggest to use sysprep.exe /oobe /generalize /mode:vm /shutdown instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2022-08-15 17:16] SatishBoddu-MSFT commented on #97005
Hello @kgremban Could you please help us on this document request  for _"REST api to send telemetry messages, aka D2C messages"_

[2022-08-15 17:30] tfitzmac commented on #97064
I have submitted an update which should get published today.

#please-close

[2022-08-15 17:30] #97064 closed

[2022-08-15 18:11] hiran-filho opened #97115 "issues on step Add-ADDCloudSyncADDomain, with powershell"
![image (2)](https://user-images.githubusercontent.com/109706220/184690946-659ec5cb-8ffd-4e35-9dc8-daaed0b37cff.png)

having performed all the steps, using admin user I have this error, last step of the domain when provisioning the agent via powershell

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b137e370-23ff-b91f-1

[2022-08-15 18:11] ecfan commented on #95986
#assign @tlsnook

[2022-08-15 18:30] kenwith commented on #93863
This was updated a while back and I forgot to close this one. Thanks for catch and taking the time to open an issue and make the docs  better. I appreciate it! #please-close

[2022-08-15 18:30] #93863 closed

[2022-08-15 18:32] kenwith commented on #94232
@JamesTran-MSFT - is it possible to update the label so this shows up in the correct query? The label has now changed to:  ciem/svc

[2022-08-15 18:34] dgxhubbard opened #97116 "Add connecting with azure active directory"
Getting a user name and password to connect with azure is good. It would be even better if you added code
to show how to use azure active directory.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65463fd8-1e45-0c0b-3a02-61bc39c6b0b2
* Version Independent ID: 5b53e50a-afaa-e35c-c956-025e0d94432d
* Content: [Use .NET Cor

[2022-08-15 18:42] PriyankaRudramaina commented on #97103
@sachinpanwar,

Thank you for your feedback. We will investigate and update the thread further.

[2022-08-15 18:48] PatrickFarley commented on #92344
#please-close

[2022-08-15 18:48] #92344 closed

[2022-08-15 18:53] PriyankaRudramaina commented on #96417
@MrDesjardins -
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@tejaswikolli-web - Could I request you to review this please.

[2022-08-15 19:03] AjayKumar-MSFT commented on #96908
PICBrahma, Apologies for the delay and any inconvenience with this issue.

With the sample/steps provided in the Azure doc, it works. I understand the error is generic, you may enable App Service logs to fetch more details about the error to isolate the issue.

Kindly follow the instructions in [Enhanced diagnostic logs](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/logging-and-

[2022-08-15 19:03] #96908 closed

[2022-08-15 19:03] PriyankaRudramaina commented on #96828
@gerijani,

Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@tejaswikolli-web - Request you to review this content and help in improving the document on this how to guide.

[2022-08-15 19:05] AjayKumar-MSFT commented on #96913
danielgerlag, Your feedback has been shared with the content owner for further review. Thanks for your feedback!

[2022-08-15 19:06] andrew-twigg opened #97118 "ArgumentException: Invalid value for key 'authentication'"
Hi, if i use the connection string specified in the tutorial "Server=tcp:<server-name>.database.windows.net;Authentication=Active Directory Default; Database=<database-name>;" then i get an error when i run the app saying "ArgumentException: Invalid value for key 'authentication'".

This page https://docs.microsoft.com/en-us/sql/connect/ado-net/sql/azure-active-directory-authentication?view=sql-se

[2022-08-15 19:08] msandbu opened #97119 "Issue with provisioning network connection"
When setting up virtual network connection for DevBox I get this error message

        "statusMessage": "{\"status\":\"Failed\",\"error\":{\"code\":\"ResourceOperationFailure\",\"message\":\"The resource operation completed with terminal provisioning state 'Failed'.\",\"details\":[{\"code\":\"InternalServerError\",\"message\":\"The service encountered an internal error and was unable to complete

[2022-08-15 19:12] MarileeTurscak-MSFT commented on #97111
Hi @Escoto,

There is already a link to this document, which includes the steps for registering a resource provider via Azure CLI: https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resource-providers-and-types?WT.mc_id=Portal-Microsoft_Azure_Support#register-resource-provider-1

I also made a PR to add the link that you suggested, but if you wanted to include it somewhere el

[2022-08-15 19:12] #97111 closed

[2022-08-15 19:17] PriyankaRudramaina commented on #96240
@vargasol,

This section of the document is specific to Azure CLI commands and scripts. For any azure CLI scripts, we don't have $ sign added in script lines in the MS documents. To confirm you can check a few as added below

https://docs.microsoft.com/en-us/azure/virtual-machines/scripts/create-managed-disk-from-vhd
https://docs.microsoft.com/en-us/azure/virtual-machines/scripts/copy-snapshot-to-

[2022-08-15 19:17] #96240 closed

[2022-08-15 19:20] PriyankaRudramaina commented on #92242
@felixtsem5,

Apologies for delay in getting back.  I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-08-15 19:25] PriyankaRudramaina commented on #95564
@Aprilllllll,

Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@zr-msft,

I have landed in to an MSI error while testing, kindly requesting you to review this and get the document updated. Thanks much

[2022-08-15 19:27] MarileeTurscak-MSFT commented on #97088
Thanks! I made a pull request to update the reference and align it with the description from the announcement. https://github.com/MicrosoftDocs/azure-docs-pr/pull/208026

https://www.microsoft.com/en-us/research/project/project-springfield/

CC @TerryLanfear

[2022-08-15 19:27] #97088 closed

[2022-08-15 19:27] Oury-MSFT commented on #97116
@dgxhubbard Thank you for your feedback. We are reviewing this and will get back shortly.

[2022-08-15 19:37] tvrand commented on #44336
@femsulu this has not been updated for quite a while, the issue still persists for MacOS, though. Please review

[2022-08-15 19:44] tfitzmac commented on #97064
Just to clarify one important point, some service support private link moves. I'll add details of the private link resources that support move.

[2022-08-15 19:57] DerekHerman-MSFT commented on #96996
I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If you feel the documentation needs to be updated please create a new issue outlining what needs to be updated.

[2022-08-15 19:57] #96996 closed

[2022-08-15 20:02] BillysCoolJob opened #97124 "Issue with deploying custom software extension"
When using Terraform to setup software extensions for resources using the following code:

`resource "azurerm_virtual_machine_extension" "dc_software" {
  count                 = local.dc_count
  name                 = "DC-SetupScript-${format("%02d", count.index + 1)}"
  virtual_machine_id   = azurerm_windows_virtual_machine.DC[count.index].id
  publisher                  = "Microsoft.Compute"

[2022-08-15 20:03] Jared975 opened #97125 "Premium or Standard requirement for Express Route connected to Virtual WAN"
In the prerequisites the bullet point contains:
The ExpressRoute circuit must be a **Premium or Standard** circuit in order to connect to the hub gateway

Further along, under the section:
### To connect by redeeming an authorization key
There is a screenshot that claims only a Premium Express Route may be linked to a virtual hub.

Will a standard express route circuit still be able to connect to

[2022-08-15 20:11] Escoto opened #97126 "Error: invalid child element `ClaimsProviders` in `TrustFrameworkPolicy`"
Hi,
I am trying to configure AD B2C following these tutorials:
* https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-user-flows?pivots=b2c-custom-policy
* https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-google?pivots=b2c-custom-policy

After configuring my `TrustFrameworkExtensions.xml` and uploading it, I am getting thhis error:

[code]

Accor

[2022-08-15 20:20] Grace-MacJones-MSFT commented on #97118
Hi @andrew-twigg thanks for bringing this to our attention. We have assigned this issue to the author to review further and take the next course of action.

[2022-08-15 20:22] Grace-MacJones-MSFT commented on #97073
Can you please reference the Azure documentation you've a feedback/question about?

[2022-08-15 20:23] Grace-MacJones-MSFT commented on #95288
We have reviewed your feedback and assigned it to the author to have them determine if an enhancement is necessary to the doc.

[2022-08-15 20:26] e3-jarnott opened #97127 "Clarify Kerberos decryption key roll over for SSO when using Cloud Sync"
The [docs for Azure AD Connect](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sso-quick-start#step-5-roll-over-keys) highlight the importance of regularly rolling over the Kerberos decryption key of the AZUREADSSO computer account used for SSO. The docs for Cloud Sync describe how to enable SSO, but make no reference to Kerberos key management.

It is unclear if Clo

[2022-08-15 20:32] michaelwstark commented on #97119
@msandbu - Please try and re-register the Microsoft.DevCenter resource provider in the subscription.
Subscriptions --> Resource providers --> Microsoft.DevCenter --> Click on Re-register in the command bar.

If that does not work, please try and register the Microsoft.Fidalgo resource provider.

[2022-08-15 20:36] Grace-MacJones-MSFT commented on #96734
Upon further review we feel your feedback would be best received by the doc author to determine if an update to the current doc is necessary, or to create a new doc if they align with the feedback.

[2022-08-15 20:38] Grace-MacJones-MSFT commented on #95660
Thanks for catching this error in the doc! I have submitted a PR to fix the issue. The change will go-live in the public docs shortly.

[2022-08-15 20:38] #95660 closed

[2022-08-15 20:42] vboyev-MSFT commented on #86664
What happened here - nothing has changed on the docs page.

[2022-08-15 20:45] MarileeTurscak-MSFT commented on #97127
@e3-jarnott
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-15 20:46] MarileeTurscak-MSFT commented on #97126
@Escoto
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-15 20:46] davidpomerenke commented on #96713
On your first link there was a link to recommended content on verifying my company profile, which accidentally helped me to solve my original issue 😃 And with the company profile, the support page also seems to work. So I am satisfied now.

However, the problem that the support page is broken when there is no verified company profile is probably not resolved and may still affect other new customer

[2022-08-15 20:47] ericd-mst-github opened #97128 "GitHub URI used in Template Deployment heading is invalid"
Hi @MsGabsta

As we recently discussed, this is the article [invalid GH link.](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/custom-script-linux?source=docs#template-deployment) that likely needs to be updated. There may be other examples that also point to this same URI that we may need to consolidate on.

Please let me know if additional clarification is needed.

---
#### Do

[2022-08-15 20:55] KSchlobohm opened #97129 "Create monitoring resources with Bicep did not work"
I think the bicep on this page needs to be updated to include the targetResourceUri described the article.

I think the bicep sample is missing:
[code]

I think the bicep sample should include the *enabled* attribute as the [default value](https://docs.microsoft.com/en-us/azure/templates/microsoft.insights/2021-05-01-preview/autoscalesettings?pivots=deployment-language-bicep) is false:

[code]

I

[2022-08-15 21:23] RoseHJM commented on #97119
Hi @msandbu,
I hope Michael's guidance has resolved the issue. If not, or if you have further questions about the service, please create a support request through **Support + Troubleshooting** in the Azure portal.

[2022-08-15 21:40] scaravacap opened #97131 "Can we get an update on the list of certified Oracle Applications?"
Hello team,

I was checking this section: https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/oracle/oracle-oci-overview#scenario-overview , and it says: "As of May 2020, the following applications are certified in a cross-cloud configuration", I believe our partnership with Oracle has grown significantly since May 2020 so I assume the list of those "certified applications" has grown

[2022-08-15 21:48] tfitzmac commented on #97028
@LingYi-Wu - thanks for this feedback. I have added clarification for Saas resources. It should get published tomorrow.

#please-close

[2022-08-15 21:48] #97028 closed

[2022-08-15 21:58] JamesTran-MSFT commented on #97003
@rich-rowan
I've reached out to our engineering team with your product feedback and will update as soon as possible.

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue!

[2022-08-15 21:58] vermacodes opened #97132 "Document that Service CIDR cannot be changed after cluster is created."
It MUST be documented that the Service CIDR cannot be updated after cluster is created. I think it goes in this section - https://docs.microsoft.com/en-us/azure/aks/configure-azure-cni#plan-ip-addressing-for-your-cluster

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37ba0343-7e43-6e2e-e564-5d3a0f523a75
* Version Indep

[2022-08-15 22:05] dlepow commented on #97045
@simonkurtz-MSFT - Thanks for the suggestion! I agree it's worth looking into. Would you be willing to set up a short call to discuss with me and @ferantoMSFT? Is you suggestion something that would be an additional scenario in the existing article, or perhaps a fundamental change to the existing guidance?

[2022-08-15 22:24] normesta commented on #94587
Thank you for reaching out to us @AberdeenAngus190 - Lifecycle management policies are supported in premium accounts. However, tiering (with or without the use of a policy) is not supported for premium accounts. That limitation is captured in the table described the by the second link you provide. It's also called out in the overview for tiering (https://docs.microsoft.com/en-us/azure/storage/blob

[2022-08-15 22:24] #94587 closed

[2022-08-15 22:40] tlsnook commented on #95986
#assign @hiep3382tran

[2022-08-15 23:11] normesta commented on #96133
Thank you for raising this issue! I tested this code, and you are correct. The code snippet should match the comment in the code snippet. The comment mentions the most recent version and only by using a zero in the parameter can you obtain that most recent version. I've corrected the snippet and the change should appear live tomorrow AM. Thank you again!

#please-close

[2022-08-15 23:11] #96133 closed

[2022-08-15 23:13] michaelwstark commented on #97119
@msandbu - We have root caused the issue and mitigated the problem.  If the re-register does not work, please reply to the thread indicating the problem is persisting.  Apologies for the inconvenience.

[2022-08-15 23:22] fahadashiq12 commented on #22684
Which Header Value used by two schemas is different?

[2022-08-15 23:24] fahadashiq12 opened #97135 "identify the event's header value that is different between the cloudevents schema and the event grid schema?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-08-15 23:25] fahadashiq12 commented on #97135
I am closing the issue the reason has been identified, Thanks!!

[2022-08-15 23:25] #97135 closed

[2022-08-15 23:25] softwaresalt opened #97136 "Missing details in documentation"
[Enter feedback here]
In the following section (https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/shared-databases-access-control#non-admin-access-to-synchronized-databases), there is a missing detail in the documentation that the GRANT statements MUST be executed within the context of the **master** database.  These statements will fail if executed within the context of a replicated sc

[2022-08-16 00:01] mrecek commented on #97026
I too am having issues with this article. It would appear that numerous commands are not correct, perhaps they were written for an older version of the Azure CLI? I'm running azure-cli version 2.39.0.

Some examples I noticed:
[code]
Produces and error stating that the `--name` and `--credential-description` arguments are unrecognized.

[code]
Produces and error stating that the `--native-app` and

[2022-08-16 00:12] cjland-cog commented on #96068
25 days and no further action.  any update on this?

[2022-08-16 00:16] normesta commented on #90032
Thank you for the feedback. This issue is noted at the API doc level. I surfaced a note to this How To article and that change should appear live by tomorrow AM. Thanks again!

#please-close

[2022-08-16 00:16] #90032 closed

[2022-08-16 00:43] Dlng0 commented on #97096
https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/concept-identity-protection-risks

Here is the link
I would like to know if theres any policy guide to redue or fine tune unfamiliar sign-in properties in microsoft o365 alerts i suspected this or might be on geo location issue

[2022-08-16 00:46] 10260268 opened #97138 "Alternatives attribute not coming on Detect endpoint"
Hi, can you please provide an example of the predict API where the "alternatives" object is returned in the results?
**I haven't seen that attribute in a while and I'm not sure if was just removed and the documentation hasn't been updated, or it is just that the algorithm changed and we are getting it in exclusive scenarios.**

I used to get "alternatives" in "es" language when I tried to detect "

[2022-08-16 01:20] JorjikS opened #97139 "Msal-react loginPopup does not work"
i am using sample from https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-spa-sign-in?tabs=react
and can't get loginPopup complete promise and return code to SPA's page with the response.
After response code is received, popup does not get closed, and loginPopup promise not being completed.

What config options should i use to get loginpopup completed? any links are really we

[2022-08-16 02:18] KapilAnanth-MSFT commented on #97125
@Jared975 , Thanks for your feedback. We will review this and get back to you soon!

[2022-08-16 02:26] simonkurtz-MSFT commented on #97045
Hi @dlepow, that sounds great! I will set something up in the near future for the three of us to talk it through to see if there's merit.

I see this as an improvement to what we have now, meaning a replacement in guidance. I cannot readily think of a scenario where it would be disadvantageous to route all external and internal traffic through the AG. Much like I think we should shield all APIs fr

[2022-08-16 02:29] Karishma-Tiwari-MSFT commented on #97128
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-16 02:55] #97099 closed

[2022-08-16 03:12] #97022 closed

[2022-08-16 03:28] YashikaTyagi-MSFT commented on #97139
@JorjikS
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-16 03:42] SwathiDhanwada-MSFT commented on #96651
@aj9411 Apologies for late response. You can use hostname "api.loganalytics.azure.cn" for Azure China /MoonCake cloud instance.

[2022-08-16 03:43] MayankBargali-MSFT commented on #97033
Sharing for others https://github.com/microsoft/vscode-azurefunctions/issues/3280

[2022-08-16 03:47] SwathiDhanwada-MSFT commented on #97129
@KSchlobohm Thanks for your comment. We will review the issue and get back to you shortly.

[2022-08-16 04:08] dangbuzhude266 opened #97142 "Doc is out of date"
[Enter feedback here]
Hi,

Current FW log Doc doesn't cover all fw log category groups supported at Azure portal
Ex: Azure Firewall Network Rule Hit, Azure Firewall Application Rule Hit,etc

Can MS help to update FW log Doc to the latest version ? and explain each logs differnces ?

---
[#### Document Details](https://docs.microsoft.com/en-us/azure/firewall/logs-and-metrics)

⚠ *Do not edit this s

[2022-08-16 04:13] SwathiDhanwada-MSFT commented on #96657
@DrWalks Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the doc within 24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2022-08-16 04:18] MayankBargali-MSFT commented on #97032
@adeliab Just following up here. Hope my previous comment clears things up.

[2022-08-16 04:20] SwathiDhanwada-MSFT commented on #96779
@ilantom Apologies for late response. Whether in incremental mode or complete mode, if the resource already exists in the resource group and its settings are unchanged, no operation is taken for that resource. If you change the property values for a resource, the resource is updated with those new values.

As there are no further documentation changes, we will close the issue for now. If there are

[2022-08-16 04:20] #96779 closed

[2022-08-16 04:23] #96657 closed

[2022-08-16 04:24] RohitMungi-MSFT commented on #97115
@hiran-filho It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-08-16 04:55] RohitMungi-MSFT commented on #97124
@BillysCoolJob It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

If the issue is not related any particular documentation, you could also post the issue on [MS Q&A](https://docs.microsoft.com/en-us/answers/index.html) with the appropriate service tag so other users and experts c

[2022-08-16 04:57] PriyankaRudramaina commented on #97131
@scaravacap,

Thank you for your feedback. We will investigate and update the thread further.

[2022-08-16 04:58] PriyankaRudramaina commented on #97132
@vermacodes,

Thank you for your feedback. We will investigate and update the thread further.

[2022-08-16 04:59] PriyankaRudramaina commented on #97113
@spacest,

Thank you for your feedback. We will investigate and update the thread further.

[2022-08-16 04:59] RohitMungi-MSFT commented on #97138
@10260268 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-08-16 05:33] ShaikMaheer-MSFT commented on #97030
@mssaperla / @leifbro Could you please validate customer feedback and enhance document as appropriate? Thank you.

[2022-08-16 05:47] SnehaAgrawal-MSFT commented on #96653
@pnarsi Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-08-16 05:51] msandbu commented on #97119
Network Connections are deploying now, thanks!

[2022-08-16 05:53] michaelwstark commented on #97119
@msandbu - Thank you for the report.

@RoseHJM \ @RohitMungi-MSFT - I do not have permissions to close issues on this repo.  Please close at your convenience.

[2022-08-16 06:06] vicancy commented on #96913
The client is normal SignalR client, anything special are you expecting?

[2022-08-16 06:11] RohitMungi-MSFT commented on #97138
@10260268 I can see that the input to the detect API is a single word. As per guidance:

I have just tried to use the word "Hotel" with a name like "Hotel Madrid" and the detect API returns "es" as detected language.
It is possible that the model updates could detect a single word like "Hotel" as English only without any additional context.

In your scenario since you have already detected the fir

[2022-08-16 06:12] #97119 closed

[2022-08-16 06:28] racchen opened #97144 "the default value of HTTPSOnly"
If we create a Web App on Azure portal, the settings "HTTPS Only" is set as True by default. Not sure is it possible to add this in the document to make it clear?

I also checked the document (https://docs.microsoft.com/en-us/azure/templates/microsoft.web/sites?tabs=bicep&pivots=deployment-language-arm-template) and there's nothing about default value of https only.

In addition, is there any upda

[2022-08-16 06:29] PriyankaRudramaina commented on #97103
@sachinpanwar,

I have made the necessary changes in the document, and it will be reflected in the public document shortly. Please feel free to tag me for any concerns.

[2022-08-16 06:30] #97103 closed

[2022-08-16 06:35] AjayKumar-MSFT commented on #97065
m365ken, Thanks for taking time to share your valuable feedback! I see that you have posted another question (# 97066) on this and closed this thread. Much appreciate the follow-up and update.

[2022-08-16 06:39] SnehaAgrawal-MSFT commented on #96922
@yansyunchen Thanks for asking question! Could you please clarify what are you referring to when saying:
"my application" -> "web app"

This document is referring to enable in-bound client certificate authentication (TLS mutual authentication) to your Azure Web App.

To add more on different options:

- "Require" will block the request on the AppService level where no certificate was provided.
- "

[2022-08-16 06:43] AjayKumar-MSFT commented on #97135
fahadashiq12,  Thanks for taking time to share your valuable feedback on Azure docs channel!
Glad the issue is figured out, much appreciate the follow-up and update.

-- This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2022-08-16 06:43] MughundhanRaveendran-MSFT commented on #97041
@WarrenKin , Actually the StatusCheck function be checking production slot. Also there should not be any orchestration running in the staging slot as well since the deployment would intitally happen to the staging slot

While the current version of your function app is running in your production slot, deploy the new version of your function app to your staging slot. Before you swap your production

[2022-08-16 06:53] SwathiDhanwada-MSFT commented on #96645
@neilghuman28 Apologies for the late response. As this feedback is related to doc-experience, I would request you to raise the issue [here](https://github.com/MicrosoftDocs/feedback/issues).

As there are no further documentation changes, we will close the issue for now. If there are further questions, please revert and we will be glad to assist you.

[2022-08-16 06:53] #96645 closed

[2022-08-16 07:09] AjayKumar-MSFT commented on #96845
This has been fixed. Thanks for fixing this, sdgilley.

Thanks for taking time to bringing this to our attention, mmonsma.

[2022-08-16 07:14] AjayKumar-MSFT commented on #96803
s0041464, Thanks for taking time to share your feedback! If you have more questions on this, please let @amanmcse know with the duplicate thread that you highlighted about.

[2022-08-16 07:25] rfellmann opened #97145 "First screenshot is very outdated (Defender for Endpoint Portal)"
Please update screenshot. The Defender for Endpoint portal looks much different now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 970863a5-ab27-6c83-9496-b025dd6bf323
* Version Independent ID: a1f053f5-1004-6b6b-8b37-bc31599aa23b
* Content: [Using Microsoft Defender for Endpoint in Microsoft Defender for Cloud to pro

[2022-08-16 07:34] 1stcommander opened #97146 "Using RestAPI without SAS is possible or not?"
From the documentation, it doesn`t get clear to me if one can use the REST API of the DPS (e.g. manage individual enrollments) without an SAS token but with a Service Principal?

If it IS possible it would be nice to have a more in-depth example of how to obtain the neceeary token - which endpoint to use for that, what the necessary headers are etc.

If it´s NOT possible, would be nice to explicit

[2022-08-16 07:40] cenkersoy opened #97147 "Missing link"
This link on the page is giving 404 error: [Data Collection Rule](https://docs.microsoft.com/en-us/azure-monitor/essentials/data-collection-rule-overview)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 213a7430-9a39-70c1-36c0-78c57bea0f16
* Version Independent ID: d3cecb6e-eee3-1152-31d8-4e9b6defc24a
* Content: [Deploy

[2022-08-16 07:46] wUEZRs opened #97148 "is MAPI legacy authentication?"
The document lists MAPI in the first portion as a legacy protocol that can't enforce MFA. However in the articles linked from this page MAPI is mentioned as the preferred option for Outlook that **can** do MFA and modern authentication.
I don't think MAPI is part of the "CA Legacy protocol block" so this is incorrect information?

In [this linked article](https://docs.microsoft.com/en-us/exchange/

[2022-08-16 07:54] ishinzhang opened #97149 "A newline missing"
There should be a newline here
![image](https://user-images.githubusercontent.com/94444320/184827223-f23712b3-acd7-4317-9408-d92b009034e1.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4f708b2-6003-e6c2-aa1f-893ea1f6394d
* Version Independent ID: 19050a86-0090-b0c0-51c4-91d38ec8addd
* Content: [Curated environmen

[2022-08-16 07:57] VEshelbyMTT opened #97150 "Missing Link to resonsible AI dashboard"
There exists a missing link within the document

"The interpretability component of the [Responsible AI dashboard](LINK TO CONCEPT DOC RESPONSIBLE AI DASHBOARD) contributes"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0438837-e483-8176-952b-1ce8dc9769df
* Version Independent ID: 6e777360-f059-dbc7-b022-b971626ad867

[2022-08-16 07:58] YashikaTyagi-MSFT commented on #97037
@mmacy
Thanks for providing the update on the issue.

[2022-08-16 07:58] #97037 closed

[2022-08-16 07:59] KapilAnanth-MSFT commented on #97142
@dangbuzhude266, Thanks for your feedback. We shall review this and get back to you shortly!

[2022-08-16 08:02] Hindy-UK opened #97151 "Missing text"
In Run As accounts section, there is text missing after “There are two types of Run As accounts in Azure Automation:”

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8721e209-24ce-2170-6caa-ed12a7060080
* Version Independent ID: ac13f91d-460c-cbe9-4778-50d20765b252
* Content: [Azure Automation account authentication ove

[2022-08-16 08:17] AnuragSharma-MSFT commented on #96995
@angandin Thanks for reporting this issue. We have made the changes through a PR which could take few days to go live.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-08-16 08:17] #96995 closed

[2022-08-16 08:17] therealppa opened #97152 "Extension versions 5.0.0"
The page talks about settings only applicable for extensions versions starting at 5.0.0, but I could not find any information about this version. Is it unreleased? I could only find references about versions 3 and 4. And is this talking about the FUNCTIONS_EXTENSION_VERSION setting or Microsoft.Azure.Functions.ExtensionBundle?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-08-16 08:20] SIkebe commented on #91320
@xstof Hi! What's the current status of this issue?

[2022-08-16 08:25] jjindrich opened #97153 "Support Visual Studio 2022 for Logic Apps (consumption)."
As stated https://docs.microsoft.com/en-us/azure/logic-apps/manage-logic-apps-with-visual-studio there is VS2022 not supported. Please can you share roadmap when if planned ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2650bd13-3b48-c09d-e0bc-bcad6605a4b7
* Version Independent ID: 644aabda-c85b-88b9-deb8-4cb38b49ad4

[2022-08-16 08:25] prabdeb opened #97154 "Statsbeat in Azure Application Insights: Python Updates"
Currently the Python related regions and configurations are missing. It would be good to mention the following information for Python

* By default the **stats is enabled**, it can be disabled via setting environment variable `APPLICATIONINSIGHTS_STATSBEAT_DISABLED_ALL` to `true`
* If enabled, for non EU the stats goes to `westus-0.in.applicationinsights.azure.com` and for EU `westeurope-5.in.appl

[2022-08-16 08:30] PriyankaRudramaina commented on #97113
@cynthn- Could you please review this and suggest if we can get this piece of information added to the document?

![image](https://user-images.githubusercontent.com/95755055/184834643-4e9c836d-b5a2-4e1c-8f49-219f8bb1afc8.png)

[2022-08-16 08:37] KapilAnanth-MSFT commented on #97142
@dangbuzhude266, I can see Network Rule Log and Application log documented here.

![image](https://user-images.githubusercontent.com/107474080/184835448-f1e17527-83f3-4192-ba85-43d16dd0f6d7.png)
![image](https://user-images.githubusercontent.com/107474080/184835517-65b2e335-ccdc-43ae-8e37-3db2838fa210.png)

Can you be more specific on which Rule(s) you think is missing from the document?

Thanks,

[2022-08-16 08:38] Dlng0 commented on #97096
adding another link to follow

https://docs.microsoft.com/en-us/microsoft-365/compliance/alert-policies?view=o365-worldwide
https://docs.microsoft.com/en-us/defender-cloud-apps/managing-alerts

if anything related to alerts   unfamiliar sign-in properties

thanks in advance

[2022-08-16 08:48] therealppa commented on #97152
With a bit of reasearch I was able to find that Extension Bundle v3 does contain Storage Extension v5: https://github.com/Azure/azure-functions-extension-bundles/blob/v3.x/src/Microsoft.Azure.Functions.ExtensionBundle/extensions.json

I think changing the note at the end of the article where it says "This section doesn't apply to extension versions before 5.0.0. For those earlier versions, there a

[2022-08-16 08:55] TakeshiKovacs opened #97155 "Secret Scope limit is at the incorrect scope"
Hi
The secret scopes limit states the limit is 100 secret scopes per Account, I believe this is incorrect and the limit is 100 per workspace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cc01d52-28cb-be0b-2c38-ddaaa3cf481a
* Version Independent ID: 05b74821-f013-5583-0286-48b286761ea1
* Content: [Limits - Azure Data

[2022-08-16 09:07] KapilAnanth-MSFT commented on #97098
@ajay-aravind, I am not able to reproduce the error.

Can you specify which region you are using and the entire Public IP configuration from your commandlet?

[2022-08-16 09:08] #95999 closed

[2022-08-16 09:15] Gorlin commented on #96635
Hey Mike, any update on this as we got the same question. Cheers / Alex

[2022-08-16 09:21] sherifkayad commented on #38625
I really can't understand why this feature is neither prioritized nor given enough attention by Azure. I totally believe that the group object IDs are totally worthless and one must have the option to get the names of the groups. That's how we have configured our on-prem SSO in the past and that's how we want to configure it in the future.

Any feedback, Azure folks??

[2022-08-16 09:30] acropolisindia commented on #96993
Hi @GitaraniSharma-MSFT , thank you for the update. We will wait for the replies to our questions.

[2022-08-16 09:36] AnuragSingh-MSFT commented on #97084
@Hindy-UK, thank you for the feedback. I have submitted a PR to get this information added which is under review.
Once approved, with required edits, it should start reflecting in the doc.

[2022-08-16 09:36] #97084 closed

[2022-08-16 09:56] ShaikMaheer-MSFT commented on #97136
@softwaresalt Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-08-16 10:02] SwathiDhanwada-MSFT commented on #97151
@Hindy-UK Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the doc within 24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2022-08-16 10:02] #97151 closed

[2022-08-16 10:04] SwathiDhanwada-MSFT commented on #97154
@prabdeb Thanks for your feedback.

Assigning to content author  @AaronMaxwell for review.

[2022-08-16 10:04] RohitMungi-MSFT commented on #97149
@ishinzhang Thanks for spotting this. A PR is added to fix the same. The document should be updated in the next 24 hours. Thanks again!!

[2022-08-16 10:17] PriyankaRudramaina commented on #97132
@zr-msft, Could you please review this feedback and confirm if we can add this statement to the mentioned section?

[2022-08-16 10:17] dangbuzhude266 commented on #97142
Hi,

Please see below picture

***@***.***

From: Kapil Ananth ***@***.***>
Sent: Tuesday, August 16, 2022 4:37 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Binwei Ni ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Doc is out of date (Issue #97142)

@dangbuzhude266<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fdangbuzhude266&data=05%7

[2022-08-16 10:19] RohitMungi-MSFT commented on #97150
@minthigpen Could you please add the link to concept example doc for responsible AI dashboard? I believe this is available from the models tab on ml.azure.com when the dashboard is generated. Thanks!!

[2022-08-16 10:22] ManoharLakkoju-MSFT commented on #97148
@wUEZRs
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-16 10:27] KapilAnanth-MSFT commented on #97142
@dangbuzhude266, can you please check your latest comment.
I can only see the below.

![image](https://user-images.githubusercontent.com/107474080/184857559-1e8d1c4f-2918-46b0-b756-626ee989b8c9.png)

[2022-08-16 10:29] RohitMungi-MSFT commented on #97145
@bmansheim Could you please help to check and update the screen shots?

[2022-08-16 10:29] dangbuzhude266 commented on #97142
Hi Kapil,

Current Azure firewall offers below log category:

Azure Firewall Application Rule
Azure Firewall Network Rule
Azure Firewall DNS Proxy
Azure Firewall Network Rule Hit
Azure Firewall Application Rule Hit
Azure Firewall Nat Rule Hit
Azure Firewall ThreatIntel Hit
Azure Firewall Idps Signature Hit
Azure Firewall Dns query Hit
Azure Firewall Fqdn Resolution Failure Hit
Azure Firewall Netwo

[2022-08-16 10:32] nkumars opened #97157 "Able to login with expired password even after forcefully asked to change it"
There is a way to reproduce this case and the steps are as follows:
1. Set the password as expired
2. Try to login with the same user account
3. Will now show the password change form
    - Fill in expired password in the Current password
    - Fill in the same expired password in the new and confirm password
4. This will show an error something like, "You can't use the same password as the curren

[2022-08-16 10:36] RohitMungi-MSFT commented on #97147
@bmansheim Could you please help to check and update the document with the correct link for this section?

[2022-08-16 10:44] KapilAnanth-MSFT commented on #97142
@dangbuzhude266, Thanks for bringing this up to our attention.
I shall assign this to the author for further review.

@vhorne, kindly check this and update the docs with the new log categories.
![image](https://user-images.githubusercontent.com/107474080/184861140-57e658b4-d192-439e-9f81-ccd8b303b7d5.png)

[2022-08-16 11:02] anoobbacker opened #97158 "Screenshots are outdated."
[The screenshots needs update to show eventhub based actions]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b4942cb-cb22-7ef0-d78c-c5967a879d2d
* Version Independent ID: 6eb84072-fa26-7434-5376-9c5a901cedff
* Content: [Manage action groups in the Azure portal - Azure Monitor](https://docs.microsoft.com/en-us/azure/az

[2022-08-16 11:02] thecodeman1987 commented on #96761
Any updates on this? thank you

[2022-08-16 11:18] bmansheim commented on #97147
I have a PR in to resolve the link. Will be fixed later today.

[2022-08-16 11:26] YashikaTyagi-MSFT commented on #97157
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-16 11:34] Tiglat1 opened #97159 "Misleading German translation"
The German translation of this article "Übersicht über Microsoft Defender für Server" (https://docs.microsoft.com/de-de/azure/defender-for-cloud/defender-for-servers-introduction) states incorrectly states that Defender for Server includes a license for Defender for Endpoint:

***Integrierte Lizenz für Microsoft Defender für Endpunkt****
Defender für Server enthält [Microsoft Defender für Endpoint

[2022-08-16 11:41] MughundhanRaveendran-MSFT commented on #96909
@t-anderson , I am closing this issue since there is no response. Feel free to reopen if required

[2022-08-16 11:41] #96909 closed

[2022-08-16 11:43] hiran-filho commented on #97115
@RohitMungi-MSFT,

sorry

in issues, i'm use this doc, see that the problem appears almost at the end when it is to add the domain, in step 13

[https://docs.microsoft.com/en-us/azure/active-directory/cloud-sync/how-to-install-pshell](url)

before doing the script above, I performed the prerequisites below, because I was having some problems, but unfortunately the one I'm facing I didn't find how

[2022-08-16 11:45] bmansheim commented on #97145
Thanks @rfellmann for pointing out the old screenshot. It's a little harder for us to keep up with screenshots from other products.
I'll open an internal work item to update it and close this one.
#please-close

[2022-08-16 11:45] #97145 closed

[2022-08-16 11:46] CamiloTerevinto commented on #85389
Hi @SatishBoddu-MSFT,

It's been quite a while already and this hasn't been addressed yet. How do we push updates? I have been trying from the Portal and from the CLI and I cannot get a VM to install a newer version of an application.

I have version 0.1.5, I use the `az vm application set` to install version 0.2.0, and it does nothing at all. It just tells me that 0.1.5 is installed. Trying to do

[2022-08-16 12:01] #97149 closed

[2022-08-16 12:31] PiroHiroPiro opened #97160 "Request for change of wording"
In the following representation, it's difficult to understand that custom roles are assigned at the scope of the virtual machine.

How about stating it explicitly as follows?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a20453e6-5273-2119-69f7-85b5108a8f7d
* Version Independent ID: 4ac93e53-6969-4c8d-5b5c-0db47a8976c

[2022-08-16 12:47] WarrenKin commented on #97041
Thank you for the explanation.
I presumed it was a check on the stage slot because some long running
instance could still be running there.
Regarding the slot swap, i thought if you enable auto-swap then the
swapping would only occur when nothing in the production slot is active.
My durable function is continuously active.  What's the danger of swapping
even if active instances are still running i

[2022-08-16 13:08] panwar28 commented on #97056
I think, I got confused with this. I am good now. I have what I need so please close this issue and sorry for opening an issue.

***@***.***

Regards
Umesh Panwar

From: Ben Mansheim ***@***.***>
Sent: Sunday, August 14, 2022 5:29 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Umesh Panwar ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Linux documentation for Defender

[2022-08-16 13:17] xstof commented on #91320
Thx for reminder - I'm currently on holiday though.  Looking at the above, it sounds like there's an expectation that app service is considered to be a special kind of backend?  As far as I'm aware, that's not the case and the portal will show anything with "*.azurewebsites.net" as an "App Service" backend.  To my knowledge the APIs don't differentiate here; this is just the portal trying to make

[2022-08-16 13:19] mumurug-MSFT commented on #97099
@chunliu We have updated docs and it will be live once its merged. We have now closed this thread. Thanks again for bringing this to our attention.

[2022-08-16 13:22] SatishBoddu-MSFT commented on #97146
@1stcommander
I have assigned the issue to the content author for further review.

[2022-08-16 13:26] mumurug-MSFT commented on #97152
@therealppa Thanks for your feedback and it totally makes sense. We will review the docs and update as appropriate.

[2022-08-16 13:30] KranthiGajjelli commented on #22684
content-type, you can go through this document for more information: https://docs.microsoft.com/en-us/azure/event-grid/cloudevents-schema

[2022-08-16 13:35] SatishBoddu-MSFT commented on #85389
Hello @CamiloTerevinto Thanks for the patience on this issue, we are looking into this.

[2022-08-16 13:45] AjayKumar-MSFT commented on #97144
@racchen, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-08-16 13:57] fauberon opened #97163 "I cannot see how to use the credentials unless I'm using ftp."
Ok for the configuration, but for what usage? The only use case described in that page is for ftp. Is "web deploy" possible through a user authentication? An app authentication? How can I use a publishing profile through the command line (no examples for publish-azwebapp nor any az cli method)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-08-16 14:06] BillysCoolJob commented on #97124
Hi @RohitMungi-MSFT ! Yes here are some links to what I am following:
Terraform documentation for Azure resource:
https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/virtual_machine_extension

Then I used the following commands to get the supported software extensions:
`az vm extension image list --location westus -o table`

Grabbed the following details from that outpu

[2022-08-16 14:14] MicrosoftGuyJFlo commented on #95714
Resolved in https://github.com/MicrosoftDocs/azure-docs-pr/pull/208033 #please-close

[2022-08-16 14:14] #95714 closed

[2022-08-16 14:25] DeepMalh44 commented on #55247
Reviewing this thread again ... anyone know if this feature is still available? if you see at the bottom of this documentation link for powershell and CLI but those links are still broken and dont show the command to copy from one SIG to another:

https://azure.microsoft.com/en-au/updates/shared-image-gallery-nov2020-features/

Copy image versions across shared image galleries

Move Shared Image G

[2022-08-16 14:37] m365ken commented on #97065
Just closed the other question as it was not attached to the related Cosmos DB article. Still hoping to get answers to the question. Thanks

From: AjayKumar-MSFT ***@***.***>
Sent: Monday, August 15, 2022 11:36 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Ken Stribling ***@***.***>; State change ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Python example for creating container with Aut

[2022-08-16 14:43] DeepMalh44 opened #97164 "Copy from one shared image gallery to another shared image gallery in another subscription"
Reviewing this thread again (55247 which was closed) ... anyone know if this feature is still available? if you see at the bottom of this documentation link for powershell and CLI but those links are still broken and dont show the command to copy from one SIG to another:

https://azure.microsoft.com/en-au/updates/shared-image-gallery-nov2020-features/

Copy image versions across shared image galle

[2022-08-16 14:48] 10260268 commented on #97138
Hi @RohitMungi-MSFT thank you for the quick response!
I understand the recommendations for translating long text for better results, but my issue comes when the users click on QnA follow-up prompts which are basically keywords,
And the think with maintaining the first recognized language is that we have seen in the past that many users starts the conversation in english (default used language with

[2022-08-16 14:51] danielgerlag commented on #96913
Perhaps a link to the "normal SignalR client" documentation

[2022-08-16 15:08] sayansrkr opened #97166 "feedback"
[Enter feedback here]

It is too amazing  .And more knowledgeable
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1b9d373-2140-ead0-e1b2-de63f8e94125
* Version Independent ID: 0bcd0103-042c-0ed8-2c8b-922ee27bff3c
* Content: [Tune Model Hyperparameters - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/mach

[2022-08-16 15:12] sayansrkr opened #97167 "feedback"
[Enter feedback here]
In this course i  gain more knowledge .And it is so helpful for me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1426d15-311b-d80b-4756-71a5de7ef268
* Version Independent ID: 2401679f-c8bd-699a-1c17-4e4956598bd7
* Content: [Neural Network Regression: Component Reference - Azure Machine Learning

[2022-08-16 15:15] Jared975 commented on #97125
I built this today.  It appears it is just the screenshot that is out of date.  I was able to connect a standard express route to a vhub.  The screenshot did worry me for a second tho :)

[2022-08-16 15:38] RohanRao27 commented on #96133
Thank you @normesta for the clarification and fix!

[2022-08-16 15:44] kobulloc-MSFT commented on #97043
@mweibel As an update, I'd like to confirm that decimals are currently allowed for `maxPrice`.  We are waiting for confirmation on future behavior and the documentation will be updated accordingly.

[2022-08-16 16:21] cynthn commented on #97113
@spacetest weird. I thought the Sysprep UI was being deprecated. Odd that you get the pop-up from the command line.

Can you file a PR to make the change? Otherwise, I can fix it when I get back from vacation. Thank you!

[2022-08-16 16:27] davidsmatlak commented on #90408
@NickSpag Thanks for the feedback. I updated the article and ARM template, and added content about the 120MB limit.  When the pull request is merged, this issue will automatically close. After the merge, the updated document will be online within 24 hours.

[2022-08-16 16:35] PriyankaRudramaina commented on #97113
@spacest > @spacetest weird. I thought the Sysprep UI was being deprecated. Odd that you get the pop-up from the command line.

I will file a PR for this @cynthn. Thank you

[2022-08-16 16:46] garyciampa opened #97168 "Update "Kubenet networking" section to clarify production deployment language"
Hey folks,

While working on engineering and architecture for a customer's greenfield AKS deployments, we have been reviewing the AKS CNI v. Kubenet decision points. The environment will be Linux, .net applications, and they have a requirement for conserving IP address ranges due to legacy vnet and subnet allocations.

I believe an update to this page is required, the "Kubenet networking" section

[2022-08-16 16:59] m365ken commented on #97066
Hello again, I'm actually seeing that the Provisioning of Autoscale containers is a limitation in the current SDK. Can anyone confirm this and possible offer a work around? Thanks

Autoscale limitation:
[https://azuresdkdocs.blob.core.windows.net/$web/python/azure-cosmos/4.3.0/index.html#limitations]

[2022-08-16 17:00] #90408 closed

[2022-08-16 17:00] Jesusbar commented on #97146
Managing DPS with identity is available as a public preview feature,  you can learn more about it at https://docs.microsoft.com/en-us/azure/iot-dps/concepts-control-access-dps-azure-ad

We currently don't have any sample for REST APIs,  we will work on it for GA of this feature.

[2022-08-16 17:16] mike-urnun-msft commented on #97153
Thank you for your feedback! We will review and update as appropriate.

[2022-08-16 17:22] andrewmathuj commented on #94110
This has been updated in this pull request - #97170

[2022-08-16 17:25] MarileeTurscak-MSFT commented on #97159
@Tiglat1
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-16 17:30] himanshusinha-msft commented on #96885
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2022-08-16 17:31] JasonWHowell commented on #96885
#reassign:snehagunda
@SnehaGunda we need to locate an author tag for this article and issue.

[2022-08-16 17:51] GitaraniSharma-MSFT commented on #96993
@acropolisindia , I discussed your queries with the Product Group team and below are the responses:

1. Is there any way to get updated through some subscription or email posting about the release of a new set of Managed RuleSet, like from 3.0 to 3.1 to 3.2 etc.?[GJ]
Answer - Typically these are communicated via release announcement – blogs, Azure updates.

2. Are used rules from a current Managed

[2022-08-16 17:51] #96993 closed

[2022-08-16 18:00] Copennin commented on #96835
Not sure how that happened. Sorry about that.

[2022-08-16 18:01] himanshusinha-msft commented on #97155
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2022-08-16 18:05] himanshusinha-msft commented on #97163
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2022-08-16 18:07] himanshusinha-msft commented on #97164
Hello @DeepMalh44 : Can you please share the link of the actual document which you are refering ?

[2022-08-16 18:09] johngallardo opened #97171 "IS_DEFINED function is not documented correctly."
Above is not correct. IS_DEFINED() will work for any property which is defined with a value, regardless of whether it is a primitive, null, or an object.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b746c674-eca7-4a60-86a3-9c7c9d7b343a
* Version Independent ID: a782441c-95b9-3f57-26bb-b39c8060e2cb
* Content: [Azure D

[2022-08-16 18:14] DeepMalh44 commented on #97164
hello @himanshusinha-msft following are the 2 links which ideally should be the links for copying of the images from one SIG to another SIG but if you see they are pointing to something else:

![image](https://user-images.githubusercontent.com/12475114/184949966-a8dfe519-5edd-4032-9233-3a9c2e72ea6d.png)

https://docs.microsoft.com/en-us/azure/virtual-machines/image-version-another-gallery-powershe

[2022-08-16 18:24] Karishma-Tiwari-MSFT commented on #97160
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-16 18:32] dlepow commented on #97045
Thanks @simonkurtz-MSFT - Since we'll likely be discussing this proposed doc enhancement offline, I'll proceed to close the issue now.
#please-close

[2022-08-16 18:32] #97045 closed

[2022-08-16 18:38] DeepMalh44 commented on #97164
@himanshusinha-msft  here is the same issue from 2020:  https://github.com/MicrosoftDocs/azure-docs/issues/55247

[2022-08-16 18:38] adeliab commented on #97032
@MayankBargali-MSFT thanks for the clarification. So in terms of 'normal' (non scheduled messages), the sequence number stays the same. Only in the scenario of scheduled messages, the sequence number gets updated when a message changes state from scheduled to active. Am I understanding it correctly?

[2022-08-16 18:49] #95839 closed

[2022-08-16 19:10] rayoef commented on #97168
Created [bug](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1979385) to address issue. I've targeted to post-Ignite since the team is focusing on Ignite content over the next couple of months.

[2022-08-16 19:27] ggailey777 commented on #97033
Thanks for the feedback. There's a known bug in the latest VS Code with a fix coming this week. In the meantime, please use the Command Pallet with the command `Azure Functions: Create Function...`. Thanks for your patience.

[2022-08-16 19:31] mbender-ms commented on #30604
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-08-16 19:31] #30604 closed

[2022-08-16 19:50] mbender-ms commented on #84291
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-08-16 19:50] #84291 closed

[2022-08-16 20:10] baanders commented on #97171
Thanks @johngallardo, I'm replacing that sentence with the following text in [this PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/208193):
"This function will work for any property that can be defined with a value (including primitive types, objects, and `null`)."

I'm going to go ahead and merge the PR with the fix, which will close this issue--but feel free to continue commenting here i

[2022-08-16 20:14] johngallardo commented on #97171
@baanders  - I have a slightly bigger cleanup, will send a PR.

[2022-08-16 20:19] baanders commented on #97171
Closing my PR without merge so we can work from yours

[2022-08-16 20:34] ravz4010 opened #97173 "The front door URL is not responsive"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

I have my backend azure function apps set up in HA env using Front door . Yet i am getting an error that

Invalid Url:https:/XXXXXXXXXXX.azurefd.net/.

[2022-08-16 20:44] kamilzzz commented on #91558
I assume this is about associating two Private Endpoints of **the same service** (e.g., two private endpoints of the same Event Hub Namespace) to single Private DNS Zone.
Then, this Important Note from docs (the same message appears when you try to create a second private endpoint for the same service and associate it with single private dns zone) is correct as it won't be able to properly resolve

[2022-08-16 21:34] baanders commented on #97171
#please-close

[2022-08-16 21:34] #97171 closed

[2022-08-16 21:37] PatrickFarley commented on #97047
I'll need to get in touch with a PM to better understand this content first

[2022-08-16 21:41] w-azure commented on #93754
@mjuda-bdg thanks for the feedback. Did you by chance paste the JSON code snippet directly into the **Request body JSON schema** box? Step 3 of **Select a Trigger** directs users to click the **Use sample payload to generate schema** and paste the snippet there instead, since it needs to translate it into something for the JSON box. Curious how you did that step.

[2022-08-16 22:14] davidsmatlak commented on #74550
@danhayes123 Thanks for your feedback. I submitted your comment to the team that manages the user-interface (UI) elements. I also tested the `ResourceSelector` element and it works as described in the documentation to filter by subscription or location. I found during my tests that from the element's UI, you can search within the list's contents for a resource group name, resource name, or partial

[2022-08-16 22:27] ddobric opened #97174 "Posting messages to multiple modules does not work"
When all modules are started in the debugger (see step 5), modules will run in the separated console window, but messages cannot be sent to the module by using curl as previously described in the article.

I'm not sure if this is a bug or a feature. In any case, it is not clear in this article, what should be expected. Seeing messages from some module, which was not developed here, but just starte

[2022-08-16 22:49] PatAltimore commented on #96091
Hi @savastosic,

You shouldn't get an `iotedge check` error for EdgeHub after a `iotedge config apply` even if EdgeHub is restarting. Did you see the error go away after waiting for EdgeHub to restart?

Thanks,
Pat

[2022-08-16 22:50] #74550 closed

[2022-08-16 23:22] cmcapellan commented on #46911
This page still does not clearly explain that "dfs" is the subresource for ADLS. I only was able to confirm this by looking at this GitHub issue! Can we fix please?!

[2022-08-16 23:31] urbndude opened #97175 "Add clarification that DNS forwarders should not be modified"
In the Warning section, the article says this:

"When you manage records using the DNS Server tools, make sure that you don't delete or modify the built-in DNS **records** that are used by Azure AD DS. Built-in DNS records include domain DNS records, name server records, and other records used for DC location. If you modify these records, domain services are disrupted on the virtual network."

Ins

[2022-08-16 23:37] mtakemoto opened #97176 "JSON payload mismatch for presentation callback example"
Hi Folks,

My team and I have recently started using the new GA Verified ID API and came across a difference in what's being returned from the API and what the docs say:

**Actual**:
[code]

**Expected/Docs example**
From the section starting "the following example demonstrates a callback payload..."
[code]

I was able to repro this just now against the endpoint `https://verifiedid.did.msidentity.

[2022-08-16 23:40] itguysocal opened #97177 "Fileless attack detection in Plan Table"
In the Plan table, Fileless attack detection is listed as not included in Plan 1.
However, since Plan 1 includes EDR, then Fileless attack detection is included as part of the EDR technology according to this article here: https://docs.microsoft.com/en-us/microsoft-365/security/intelligence/fileless-threats?view=o365-worldwide#defeating-fileless-malware

---
#### Document Details

⚠ *Do not edit t

[2022-08-16 23:40] alkdese opened #97178 "Documentation page is overloaded with low level details so that complex to see the document sections and overview the structure"
It is quite difficult to follow this document and its structure because it is overloaded. Might be better to split into separate documents especially certain huge blocks of json.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d674084-1d8f-b845-9781-d3a144ecfe9b
* Version Independent ID: b4b5514f-1b86-5851-5e2f-ef3b592

[2022-08-16 23:45] JamesTran-MSFT commented on #97175
@urbndude
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-17 00:02] aahmad81 opened #97180 "AppProxy, RDS, and Remote Desktop App iPad or other mobile devices"
We have had issues in the past with for example the iPad when configuring RDS over the IOS application (Microsoft Remote Desktop App).  The link would never resolve behind the app proxy. Has anything changed to support that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ecb521c-9c0a-6baf-d25f-2b0fb130b54f
* Version I

[2022-08-17 00:03] mirekkukla opened #97181 ""Resilience Score" no longer exists ot is no longer accessible as described"
The "Resilience Score" report discussed on this page no longer seems to exist, or at least is no longer accessible as defaulted on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd8426b2-dbe5-9a46-4045-55cc26806641
* Version Independent ID: 99eef6e6-7978-1008-4d6f-a5ae566a6305
* Content: [Diagnostics and sol

[2022-08-17 00:56] mirekkukla opened #97182 ""Migrated smart detection capabilities" section does not list the "Failure Anomalies""
The "Migrated smart detection capabilities" section does not list the "Failure Anomalies" in the enclosed table. This is one of the 6 migrated rules and should be listed as such.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d2e595b-45d5-fd63-b2e2-4c5ef787ada5
* Version Independent ID: 0bc5114f-0e4f-3cf2-e0b9-622c9a4

[2022-08-17 02:13] yansyunchen commented on #96922
Hi, Sneha, thanks for your response. What I would like to know is do we have any example about how to send the "certificate" to web app which I enable the TLS mutual authentication? Thank you

[2022-08-17 02:39] vicancy commented on #96913
The doc contains a section for using the client side with frontend index.html provided https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-tutorial-authenticate-azure-functions#create-and-run-the-chat-client-web-user-interface

[2022-08-17 02:46] BryanTrach-MSFT commented on #97181
@mirekkukla Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-17 02:48] Karishma-Tiwari-MSFT commented on #96976
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-08-17 02:56] #96913 closed

[2022-08-17 03:13] sandyv84 opened #97185 "Change in Content for Invoice ID"
[Enter feedback here]

Hello Bill,

I am from the Azure Billing team and have a feedback or a chage request for content on this page. I had a customer requesting for unique ID for department.

Invoice Section ID is not applicable for EA Customers as there is no concept of Department ID or a unique identified for Department. Invoice section ID would only be applicable for MCA and not EA.

Below is

[2022-08-17 03:33] kohei-miyoshi opened #97186 "Port 25 is now supported for App Service"
According to below article, now app service with VNet integration can use port 25.

https://docs.microsoft.com/en-us/azure/app-service/overview-vnet-integration#application-routing

<img width="574" alt="image" src="https://user-images.githubusercontent.com/85143257/185029038-259549f4-6e4f-4e71-853d-27d5264e32d5.png">

Please update this doc that I also confirmed app service with VNet integration

[2022-08-17 04:00] RohitMungi-MSFT commented on #97166
@sayansrkr Thanks for feedback. We shall convey the same to our product group. I am going ahead and closing this issue.

[2022-08-17 04:00] #97166 closed

[2022-08-17 04:03] RohitMungi-MSFT commented on #97167
@sayansrkr Thanks for feedback. We shall convey the same to our product group. I am going ahead and closing this issue.

[2022-08-17 04:03] #97167 closed

[2022-08-17 04:25] SwathiDhanwada-MSFT commented on #97182
@mirekkukla Thanks for your feedback.

Assigning to content author @AbbyMSFT  for review.

[2022-08-17 04:25] v-pgaddala commented on #94077
Info is live.

[2022-08-17 04:26] v-pgaddala commented on #94077
#please-close

[2022-08-17 04:26] #94077 closed

[2022-08-17 04:28] KapilAnanth-MSFT commented on #97186
Thanks for your feedback @kohei-miyoshi . We shall review this and get back to you shortly!

[2022-08-17 04:42] SwathiDhanwada-MSFT commented on #97178
@alkdese Thanks for your feedback.

Assigning to content author @JnHs  for review.

[2022-08-17 04:51] SadiqhAhmed-MSFT commented on #97185
@sandyv84 Thank you for sharing your valuable feedback. We will review the content wit doc owner and update as appropriate.

@bandersmsft Could you please review the PR - https://github.com/MicrosoftDocs/azure-docs-pr/pull/208237 and approve the changes?

[2022-08-17 05:07] rdeltcheva commented on #97160
@PiroHiroPiro - thank you for the suggestion . I have adjusted the wording.

[2022-08-17 05:30] AnuragSharma-MSFT commented on #97094
@ElumalaiRJEN Could you please provide more details on the issue you are facing?

[2022-08-17 05:37] PriyankaRudramaina commented on #97168
@garyciampa,

Thanks for surfacing this feedback! We have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-08-17 06:11] RohitMungi-MSFT commented on #97173
@ravz4010 This repo(azure-docs) is primarily used to address issues related to the documentation of azure services. Based on the description of this issue, it looks like you are facing an issue with the service or resource not being responsive.

For issues related to service, we would recommend raising a support case through Azure portal or post a question on MS Q&A forum using [azure-front-door](

[2022-08-17 06:14] KapilAnanth-MSFT commented on #97125
@Jared975 , Thanks for keeping us in the loop.

I shall assign this thread to the author now, they can update the screenshots to reflect the latest changes.

@cherylmc, please review this and update the screenshot(s).

[2022-08-17 06:17] RohitMungi-MSFT commented on #97174
@ddobric Could you please add the link to the azure documentation that is followed? This would help us tag the issue and redirect to the appropriate team. Thanks!!

[2022-08-17 06:36] RohitMungi-MSFT commented on #97176
@mtakemoto Thanks for posting. I have added the content author of this document to review the request.
@barclayn FYI.

[2022-08-17 06:41] AnuragSingh-MSFT commented on #97158
@anoobbacker, thank you for bringing it to our attention. I am assigning it to our content team for review and update.

@dkamstra, can you please review the screenshots under [Configure actions](https://docs.microsoft.com/en-us/azure/azure-monitor/alerts/action-groups#configure-actions) and update it with the one showing Event Hub action type.

[2022-08-17 06:44] RohitMungi-MSFT commented on #97177
@itguysocal Thanks for posting the question. I have assigned the issue to the content author to review and update if required. Thanks!!

[2022-08-17 06:48] RohitMungi-MSFT commented on #97180
@aahmad81 This repo is primarily used to address issues related to azure services documentation. If you are following any document related to azure services could you please post the link as it would be easier for us to tag the issue and redirect to the correct team.

If you have any query regarding any service, then you could post the same on [MS Q&A forum](https://docs.microsoft.com/en-us/answer

[2022-08-17 07:04] SnehaAgrawal-MSFT commented on #96961
@v-ljeswani Thanks again for the feedback! The PR has been raised once reviewed by author of the doc will be visible.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/208088

We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2022-08-17 07:04] #96961 closed

[2022-08-17 07:35] SumanthMarigowda commented on #96817
@exeset Apologies for the delay response! PR has been initiated. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-08-17 07:35] #96817 closed

[2022-08-17 07:36] SumanthMarigowda commented on #96912
@ToddMaxey Apologies for the delay response! I have assigned  I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-08-17 07:45] v-amallick commented on #96040
Hi @peterkh -

We have reported your concern to the Product team for further investigation/fixes. As there are no doc updates required at this point, closed this issue.

You can reopen this issue if you have further queries.

Thanks!
#please-close

[2022-08-17 07:45] #96040 closed

[2022-08-17 07:55] ZavenLepedjian opened #97188 "Deploy Azure Static Web App (Preview) appsettings.json issue. Blazor Web Assembly"
I'm using Deploy Azure Static Web App (Preview) task in my Release pipeline and I'm facing issue by not being able to replace appsettings.json values.
-

Here are the steps I'm doing.

1. In the build pipeline
   - NUGET restore
   - dotnet publish -c DEBUG

2. Release pipeline
   - replace appsettings.json values with a custom values (Because of multitenant configuration).
   - Use Deploy Azure S

[2022-08-17 07:57] RohitMungi-MSFT commented on #97138
@10260268 In this case the response from API will provide alternatives based on the response from the model on which it is trained. End user will not have an option to force the response with a filter. I could pass the feedback to the product team to check if future iterations of the model can provide alternatives for such scenarios.

[2022-08-17 08:03] TonnyWildeman opened #97189 "Change feed is visible in release 1.25.0 of the Azure Storage Explorer"
In the section https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-change-feed?tabs=azure-portal#consume-the-change-feed in the note about the $blobchangefeed, it is stated that the Azure Storage Explorer does not show the feed. As of version 1.25.0 this is no longer the case. The $blobchangefeed is now visible. Please see release notes of Azure Storage Explorer for detail and confir

[2022-08-17 08:33] KapilAnanth-MSFT commented on #97186
@kohei-miyoshi, we have assigned this to the author for further review.

@genlin, please check this and update the document accordingly.

[2022-08-17 08:49] OcasoProtal opened #97191 "System.Net.Sockets.SocketException (10060), timeout due to closed ports"
Please be aware that it is not possible in some environments to open the firewall for the ports that AMQP over TCP need (5671, 5672). The closed ports will lead to a timeout and the given error message in the title.
So I would suggest that you add `ServiceBusClientOptions` to use with the `ServiceBusClient` and set the `TransportType` for the options to `AmqpWebSockets` which will use port 443:

S

[2022-08-17 08:56] peterkh commented on #96040
Why is there no doc update? that is my whole issue, the doc doesn't cover how to handle a keyvault set up for rbac access policies.

[2022-08-17 08:57] acropolisindia commented on #96993
Hi @GitaraniSharma-MSFT, Thank you for your response, which answers all our queries.

[2022-08-17 09:13] timjansenortec opened #97193 "Examples use values 'node' and 'dotnet' for FUNCTIONS_WORKER_RUNTIME"
The examples on this page use both values 'node' and 'dotnet' for the FUNCTIONS_WORKER_RUNTIME setting.
But it is not explained anywhere, what value to use when.

There has been some confusion in my team that the value 'dotnet' should be used when using a custom connector (see section 'Enable built-in connector authoring'). But it seems all default extensions and custom extensions work just fine w

[2022-08-17 09:16] SumanthMarigowda commented on #97189
@TonnyWildeman Thanks for the question! We are investigating and will update you shortly.

[2022-08-17 09:20] shreyaaithal commented on #94179
@mvanolden - please check out the updated article which addresses your concern!

[2022-08-17 09:31] KapilAnanth-MSFT commented on #97029
Hi @Siby22071989,

In case the infrastructure is unavailable, technically there will be **_no data flow/transfer_** between the VNets.
In case of an outage, Customers will not be charged as no data will be exchanged between the peers.

Hope this clarifies. Please let me know if you have any follow-up queries.

[2022-08-17 09:35] ManoharLakkoju-MSFT commented on #97026
@starbuckscoffee
 thank you for reporting this issue. I am assigning it to our content team for further review and update.

 @JnHs , can you please review the issue and share your thoughts. Thank you

[2022-08-17 09:40] Siby22071989 commented on #97029
@KapilAnanth-MSFT: Thank you for the details. In this situation the impact happened and there were charges. That is there was intermittent impact and during this time there were egress charges. Question is would these egress/ ingress charges be covered by SLA

[2022-08-17 09:42] new-kirte opened #97194 "Leave organisation as a personal (@outlook.com) user"
[Enter feedback here]

I am unable to follow the guidance for my @outlook.com account. There was an issue [](https://github.com/MicrosoftDocs/azure-docs/issues/66487 ) but it was closed and the suggested workaround does not work any more. Please update the documentation
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b44

[2022-08-17 09:52] KapilAnanth-MSFT commented on #97029
Hi @Siby22071989,
If that is the case, I would request you to raise a support incident with Azure Billing Team.
They can look into this and provide more insights.

[2022-08-17 09:57] tonydg76 opened #97195 "Whether deployment web application on Azure will trigger GPL-2.0 or GPL-3.0 license reciprocity"
When we deploy the web application on Azure and let users use it through the browser.
I have the following two questions:
1. If we use OSS under the terms of GPL-2.0 and GPL-3.0 license , do we need to provide source code to user?
2. If we use OSS under the terms of AGPL-3.0 license , do we need to provide source code to user?

As far as I understand, only AGPL-3.0 will consider the use of web app

[2022-08-17 10:48] #97188 closed

[2022-08-17 10:55] PhilippLange opened #97196 "dbutils.notebook.run fails with job cluster since 12th August"
The dbutils.notebook.run() fails when using a job cluster since August 12th.
Im on DBR 10.4 West Europe.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffbe7639-e81d-ae41-53fb-b0c39d6b8b3f
* Version Independent ID: 3b05bf70-b752-8148-11bf-6c268fa74003
* Content: [Modularize or link code in notebooks - Azure Databricks]

[2022-08-17 11:00] mjuda-bdg commented on #93754
Hello Winona,

I used Sample payload from instruction and it's not the case. The problem is that in the instruction an Author used Output Body from HTTP Request in the "Send an email (V2)" step. It's incorrect and not working. First you need to parse HTTP Request output with "Parse JSON". And then you can use data from HTTP Request:

***@***.***

Pozdrawiam/Best regards,
Marcin Juda
Azure Administ

[2022-08-17 11:33] v-pgaddala commented on #86894
ASR updates are live

[2022-08-17 11:33] v-pgaddala commented on #86894
#please-close

[2022-08-17 11:33] #86894 closed

[2022-08-17 11:37] v-amallick commented on #96040
Hi @peterkh -

Sorry for the issue you are facing. We are waiting for the product team to validate the supportability. Once it's complete, we can update the article with the required information. However, as informed by the product team, this will take sometime for investigation.

As the investigation is not done, there is no doc changes for now. Once we update the doc we will let you know. Hope t

[2022-08-17 11:46] Givary commented on #97194
@new-kirte Thank you for reaching out to us, let me investigate and revert back.

[2022-08-17 12:18] pradeepkumarms opened #97200 "Azure Redis Cache - Managed Identity"
We are planning to use Azure Redis Cache using managed identity feature.

I am unable to find the official documentation for implementing the same programmatically (using C#).

Moreover, Azure portal indicate this feature is in preview.

Could please help us on this?

[2022-08-17 12:23] gvanteylingen commented on #96681
Hi all –  can you please let me know when this doc update will be published?

With kind regards/Met vriendelijke groet,

***@***.***
Geert van Teylingen
Azure NetApp Files Group Product Manager
Mobile: +31646234500 – Email: ***@***.******@***.***> |  ***@***.******@***.***>

https://azure.microsoft.com/services/netapp/<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fazure.microso

[2022-08-17 12:32] lucmoco opened #97201 "Wrong comment in source code"
In the "Distributed Token Cache" section, there is the following comment in the source code:

[code]

In my opinion this DisableL1Cache must be set to 'true':

[code]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff6b0d71-daf8-e75a-5157-a8a3c1c8bf1a
* Version Independent ID: 64d94165-c058-3867-fc63-6d816399fde4
* Cont

[2022-08-17 12:44] Siby22071989 commented on #97029
Please close this and thank you @KapilAnanth-MSFT

[2022-08-17 12:48] orange2008 opened #97203 "Quickstart for ACCESS TURN RELAY is BS"
This documentation is like bulls---.
First,
```mkdir access-tokens-quickstart && cd relay-tokens-quickstart```
What the f--- is this, 'access' and then 'relay'?????

Second,
```from azure.identity import DefaultAzureCredential```
And ,
[code]
What the motherf---ing on earth is this 'self.'??
This is bulls---.

Fourth,
```for iceServer in config.ice_servers:```
What the motherf---ing hell is the "c

[2022-08-17 12:52] mumurug-MSFT commented on #97191
@OcasoProtal Thanks for your feedback. We will review and update as appropriate.

[2022-08-17 13:00] mumurug-MSFT commented on #97193
@timjansenortec Thank you for your feedback! We will review and update as appropriate.

[2022-08-17 13:02] jerodrigue opened #97204 "Unable to assign permissions to hybrid groups using icacls with a system not joined to the domain."
Hello there,

I have setup a test environment to try to have an Azure Files storage account + Azure Virtual Desktop Azure AD Joined Session Hosts environment.
I am aware this is currently in preview, and I have gone through the steps of this document here to setup and test this feature: https://docs.microsoft.com/en-us/azure/virtual-desktop/create-profile-container-azure-ad

However I ran into a s

[2022-08-17 13:21] Bigmouse1976 opened #97206 "Unable to assign permissions to hybrid groups using icacls with a system not joined to the domain"
Hello there,

I have setup a test environment to try to have an Azure Files storage account + Azure Virtual Desktop Azure AD Joined Session Hosts environment.
I am aware this is currently in preview, and I have gone through the steps of this document here to setup and test this feature: (https://docs.microsoft.com/en-us/azure/virtual-desktop/create-profile-container-azure-ad)

However I ran into a

[2022-08-17 13:22] new-kirte commented on #97194
I experimented a bit and found that https://myaccount.microsoft.com?tenantId=XXX works if opened in Private session. However, it breaks on msarealms.onmicrosoft.com

[2022-08-17 13:28] SreejaBhattacharya-MSFT commented on #97206
Thanks for reaching out. We are looking into this.

[2022-08-17 13:30] IGx89 opened #97208 "Events vs Messages?"
Hello! I'm a bit confused about the difference between an event and a message. The documentation, such as this page, mostly use the term "event", but in the Portal and even in a couple places on this page, I see "message" everywhere and not event. I'd expect the "Terminology" page to explain the difference, but it doesn't. Would be nice for it to explain that, or if they're the same to be consiste

[2022-08-17 13:41] michalmar opened #97209 "not able to reproduce the Python example"
I am not able to reproduce the example - when I run the exmple I am getting `InvalidRequestError`:

[code]
returns:
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d93ea762-d8b1-efd8-c538-7de3bdcd10b4
* Version Independent ID: 476a17b4-14c0-10a9-090c-a6c23624866a
* Content: [Quickstart - Deploy a model and generat

[2022-08-17 13:49] #97204 closed

[2022-08-17 13:54] danielgerlag commented on #96913
As someone who tried to use this document to figure out how it all works, the section for using the client side with frontend index.html was really not helpful or easy to get an understanding of what I needed... I would strongly suggest links to better docs / examples of the client side.

[2022-08-17 13:56] jhic opened #97210 "Notification support for Reserved Instances in CSP"
The documentation states that:

Cloud Solution Provider customers - Emails are sent to the partner notification contact. **This notification isn't currently supported for Microsoft Customer Agreement subscriptions (CSP Azure Plan subscription).**

But it does not give an indication of what notifications are like under Azure Plan subscriptions. Is nothing sent? Do partner admins get something? Do e

[2022-08-17 14:01] ShaikMaheer-MSFT commented on #97196
@PhilippLange Thanks for the question. GitHub forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilize Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html). Feel free to share error details as well there. Thank you.

[2022-08-17 14:03] aahmad81 commented on #97180
Thank you, my apologies as I am referring to this article:  It does not discuss the AppProxy as it relates to mobile devices such as iPads that may use the Microsoft Remote Desktop App

https://docs.microsoft.com/en-us/azure/active-directory/app-proxy/application-proxy-integrate-with-remote-desktop-services

[2022-08-17 14:13] mvanolden commented on #94179
@shreyaaithal - thank you so much for addressing this! Closing this issue now.

[2022-08-17 14:13] #94179 closed

[2022-08-17 14:16] savastosic commented on #96091
Hey Pat,

My understanding is that this would be prior to setting the modules in the Azure Portal. So the only agent that would start would be the edgeAgent.
Once you set the modules the IoT Check clears up.

Sava

[2022-08-17 14:29] mrbnd commented on #93447
Hello @ericd-mst-github,

Is there any news related to this topic?

Thanks

[2022-08-17 14:34] ChrisHMSFT commented on #97209
Hi @michalmar,

thank you for reporting. We are working on changing the example prompt & updating our content filtering model. In the meantime, you can always change the prompt to avoid flagging from the content filters. You can read more about that behavior here: https://docs.microsoft.com/en-us/azure/cognitive-services/openai/concepts/content-filter

thank!
Chris

[2022-08-17 14:50] L-u-k-e-GIT commented on #93447
I saw that in the release [v3.14.0] (https://github.com/hashicorp/terraform-provider-azurerm/releases/tag/v3.14.0) has been added the azurerm_gallery_application and azurerm_gallery_application_version.
New Resource: azurerm_gallery_application (https://github.com/hashicorp/terraform-provider-azurerm/issues/17394)
New Resource: azurerm_gallery_application_version (https://github.com/hashicorp/terr

[2022-08-17 15:11] CESANU commented on #92941
I've added a small change to try to reflect this better.
Let us know if it is still confusing.

[2022-08-17 15:18] #93934 closed

[2022-08-17 15:27] Sergong opened #97212 "Incomplete/Incorrect documentation makes this unusable"
There is a part of this documentation that is very unclear and doesn't match with the user experience and as a result, it is impossible to implement the feature of this document.

It concerns the "Open Relay Firewall" part of the documentation.

After running the 2 ARM templates, there is no Relay resource to be found in the resource group. There is a hidden resource of type "microsoft.network/pri