[2019-10-10 05:19] souravmishra-msft commented on #40413
@carcaryn, Thank you for sharing the query. We are actively looking into this query and will get back to you soon on this thread.

[2019-10-10 05:20] theheatDK commented on #40410
Thanks @TravisCragg-MSFT. Yes that is the section I am talking about. What does it mean to have direct physical infrastructure to the edge location? Do we need to dig a hole from our company to the edge location with our own fiber? If so how is this different from using a service provider?
I am sorry if these are stupid questions :-)
Regards Peter

[2019-10-10 05:22] msrini-MSFT commented on #40333
@LTUTE , The command which you are referring is not from Azure Module.

You need to install PKI module to get this command working.

reference: https://docs.microsoft.com/en-us/powershell/module/pkiclient/new-selfsignedcertificate?view=win10-ps

[2019-10-10 05:23] #40333 closed

[2019-10-10 05:24] axelgMS commented on #39418
thanks @tamram
We had a customer calling Support to ask for **soft deleting a Classic Disk**, which is not possible as it only exists for the blob. So yes, customer will have to recreate the disk above the recovered blob.
My ask is to make this part clearer in the doc.

_"Is soft delete available for virtual machine disks?
Soft delete is available for both premium and standard unmanaged Disks. Sof

[2019-10-10 05:24] msrini-MSFT commented on #40414
@ketaanhshah , can you share me the documentation which you are referring to in this issue?

[2019-10-10 05:44] CHEEKATLAPRADEEP-MSFT commented on #40424
@Minewiskan Could you please look into the ask?

[2019-10-10 05:47] dcbrown16 commented on #20572
#please-reopen
@Karishma-Tiwari-MSFT @KumudD
The mistaken information that was called out here by @scottstout months ago has not been fixed, and this is causing confusion in a support ticket. Please reconfirm the content and fix this ASAP.

The section below is wrong. I just cut the space of a vnet in half (/24 to /25) since there were no subnets in the back half of the /24 range. This is possible

[2019-10-10 05:49] walsehgal commented on #30614
@kebaranas, can you confirm if you are getting this behavior while using an actual device?

[2019-10-10 06:11] PramodValavala-MSFT commented on #40270
@brandonh-msft Just following up here... Hope my previous comment clears things up.

[2019-10-10 06:11] PramodValavala-MSFT commented on #40308
@udderchaos Just following up here... Hope my previous comment clears things up.

[2019-10-10 06:16] skeller2015 opened #40473 "Minimum RU for each table is 100"
As of June 2019, a minimum of 100RU's needs to be provisioned for each table.  As someone who is more familiar with the older Azure Table storage there was a bit of "sticker" shock when I started to test an application with lots of tables.  The minimum RU requirement per table should be stated clearly in this FAQ.

(Maybe the limit has changed since June 2019.  Either way, it should be clearly sta

[2019-10-10 06:20] Sogup commented on #40382
We are announcing GA with 32TB support early next week.

[2019-10-10 06:21] DixitArora-MSFT commented on #40206
@WalterWu-AppService PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-10 06:21] #40206 closed

[2019-10-10 06:22] PramodValavala-MSFT commented on #40400
@kratocpa @jjindrich Could you clarify whether the request to the function or the response from the function is >1MB?

The limit documented is per request. AFAIK there isn't really a daily limit that I'm aware of.

[2019-10-10 06:29] PramodValavala-MSFT commented on #40191
@Majakrigaren The IPs tagged under API Management are ones for the APIM resource manager and not for the service itself.

As the document suggests, you have to use the data center IPs for the region APIM is running in.

[2019-10-10 06:33] souravmishra-msft commented on #40236
@Soqotra91, Ideally PIN is an option present in **Windows Hello For Business (WHB)** and its not really related to the MFA/SSPR converged portal.
having said that, I would like you to register for the MFA from the **browser** by accessing the **MySignins portal**. Once the MFA is setup there, try setting up the PIN.

Do let us know if this helps.

[2019-10-10 06:51] Boombasteg commented on #40399
Ok, I understand - in the list we can only see completed tasks. Thank you!

[2019-10-10 06:51] #40399 closed

[2019-10-10 06:56] dcurwin commented on #40382
#please-close

[2019-10-10 06:56] #40382 closed

[2019-10-10 06:58] souravmishra-msft commented on #39178
@sanjaybhagia, I apologize for the delay in my response. I wanted to check the If statement that you wrote. The one that is mentioned in the referenced document [https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-rest-api-validation-custom#feedback](url) is this:

[code]
This is the section that is returning http status 200 in your case and hence wanted to check what

[2019-10-10 06:58] dcurwin commented on #40438
#reassign:pvrk

[2019-10-10 07:04] Soqotra91 commented on #40236
I get that, but everytime I login the 'new' profile on Windows, Windows Hello keeps asking to setup a fingerprint+pincode. So, I have to skip that everytime I login.

I just registered my phone number as an MFA authentication method. After that I rebooted the laptop and tried to login. Now, I get the same challenges to setup a fingerprint and pincode but I can succesfully register both options.

S

[2019-10-10 07:04] CHEEKATLAPRADEEP-MSFT commented on #40394
@test123114 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-10-10 07:04] #40394 closed

[2019-10-10 07:10] folkol opened #40475 "Sharing user's real id_rsa file"
Hello!

I think that this article should show how to generate a new ssh key pair for this particular task. Moving around copies of the private key file to other machines is, at least in my opinion, really bad practice.

Preferably, the private key should never leave the machine on where it was generated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-10-10 07:23] plazuk opened #40476 "Mistake in "Deploy resources to an existing resource group" paragraph"
In "Deploy resources to an existing resource group" paragraph there is a sentence:

"You can deploy Azure resources directly by using Azure PowerShell, or deploy a Resource Manager template to create Azure resources."

Perhaps it should be:

"You can deploy Azure resources directly by using Azure CLI..." (instead of PowerShell)

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-10-10 07:29] kratocpa commented on #40400
The request to the function is > 1MB.

[2019-10-10 07:31] KrishnaG-MSFT commented on #40476
@plazuk Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-10-10 07:37] simonvane commented on #40211
Thank you.

On Wed, 9 Oct 2019 at 23:08, PRMerger7 <notifications@github.com> wrote:

[2019-10-10 07:57] tayamasa commented on #40207
I'm so sorry late update.

(For example)

  [Onpre 01]---(ExR)---(ExRGW)
                                      [VNET]
  [Onpre 02]---(VPN)---(VPNGW)

    ExR: No Force tunneling
    VPN: Force tunneling

If customer's vpn device is not supported BGP, they have to use Default Site of VPN.
But the above environment is not recommended.

[2019-10-10 08:03] SripadaBhargav opened #40477 "How to get list of regions which support availability zones for WAF V2 and also the number of availability zones available in a region using az cli commands"
In our application, we need to validate if a region supports availability zones and also the number of zones that the region contains using az cli commands before creating application gateway. Let me know the feasibility.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faa5b8a2-11a1-6a2d-07cb-ffcf39643ed4
* Version Inde

[2019-10-10 08:03] kstudnik commented on #40048
I today I had the same issue with `dotnet ef database update` error.
I reinstalled .NET Core packages as suggested by @RyanHill-MSFT
But unfortunately it ended with the same error  as @dmioks
`System.MissingMethodException: Method not found: 'System.Text.Json.JsonDocument System.Text.Json.JsonDocument.Parse(System.IO.Stream, System.Text.Json.JsonReaderOptions)'.
   at Microsoft.EntityFrameworkCore

[2019-10-10 08:04] forester123 opened #40478 "Some screenshots are not update-to-date"
Some screenshots are outdated, could you test through the tutorial again and make them update-to-date? Also there's a missing property in step 15 of the "Create a pipeline" section, need to set the "Table type parameter name", or the tutorial would fail.
![image](https://user-images.githubusercontent.com/13616574/66550298-b01f7d00-eb77-11e9-9eab-6097240ddbfb.png)

---
#### Document Details

⚠ *Do

[2019-10-10 08:06] prajyot2909 commented on #9561
ccompy is there any latest documentation on steps to Setup Application Gateway for Azure App Service Environment ILB with new configurations which does not require a certificate.

[2019-10-10 08:14] msrini-MSFT commented on #40207
@tayamasa , Yes, as I mentioned earlier, you will not be able to add a UDR as the next hop Virtual Network Gateway will only point to EXR not VPN gateway.

[2019-10-10 08:19] DixitArora-MSFT commented on #40276
@samiam236  When you review the code in run.ps1, It is coming from run.ps1 only.

if ($name) {
    $status = [HttpStatusCode]::OK
    $body = "Hello $name"
}
else {
    $status = [HttpStatusCode]::BadRequest
    $body = "Please pass a name on the query string or in the request body."
}

[2019-10-10 08:22] msrini-MSFT commented on #40477
@SripadaBhargav , Below is the screenshot of supported regions of Application Gateway with Availability Zones.

![image](https://user-images.githubusercontent.com/47132998/66551436-15b63e00-eb65-11e9-8242-75ccc4eba355.png)

Regarding the Azure CLI commands, let me check and get back to you.

[2019-10-10 08:22] pvrk commented on #40438
Thanks @woodrum for bringing this to notice. I have changed the reference variable to $NewPolicy which is already used earlier and therefore is inconsistent.

[2019-10-10 08:22] pvrk commented on #40438
#please-close

[2019-10-10 08:24] andrePKI opened #40479 "Documentation on migrating from PHS+SSO to Federated?"
So there are two articles about migrating FROM Federated to PHS or PTA. But we are planning to move in the other direction. Any documentation on that? Pros/Cons/Considerations? Can we do this on user/group level or is it big bang for the entire domain (including some 40 verified domains)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-10-10 08:25] tayamasa commented on #40207
Yes. For that reason, I would like to write the document the below.

Customer does not know the above.

[2019-10-10 08:25] ivanignatiev opened #40480 "Enable LDAPS via API / Azure CLI / PowerShell"
Hello,

Is it possible to enable LDAPS and upload the certificate by PowerShell or Azure CLI ?

If yes then how?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 325a9114-36b2-a6b3-d0a4-19c522b7abf0
* Version Independent ID: cbd84d9f-fbfd-d97d-9826-26947f64d18a
* Content: [Tutorial - Configure LDAPS for Azure Active Dire

[2019-10-10 08:29] SripadaBhargav commented on #40477
Do you want us to wait for the error to deploy application gateway in our production environment? Is there any other alternative ?

[2019-10-10 08:30] SripadaBhargav commented on #40477
Our use case, we need to deploy application gateway in a certain region, if availability zone is support we will provision V2 or else we will go with V1.

[2019-10-10 08:33] #40276 closed

[2019-10-10 08:33] DixitArora-MSFT commented on #40276
@samiam236 PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-10 08:35] msrini-MSFT commented on #40477
@SripadaBhargav , the error message will contain the regions which I have shared as a screen shot. You can have the screen shot as reference and deploy application gateway accordingly.

Let me know if you have any further questions

[2019-10-10 08:36] cadumi opened #40481 "Get-AzComputeResourceSku -PS cmdlet, better explanation of output"
For the Get-AzComputeResourceSku output, we might get the NotAvailableForSubscription output even though the VM SKU is available for Subscription but unavailable in Zone. You should specify in the documentation how the output should be interpreted. Also, for a better output below command should be used with the FC parameter at the end:

Get-AzComputeResourceSku | where {$_.Locations.Contains("west

[2019-10-10 08:36] msrini-MSFT commented on #40207
@charwen , can you update the doc accordingly?

[2019-10-10 08:37] Milanski commented on #40418
Thank you for your answer @msrini-MSFT.
If I understand correctly, I should configure a Standard Load balancer with outbound rules in the NSG. Should I explicitly block that LB IP in the inbound rules in the NSG so no traffic comes in through that IP ? Maybe there is a way to configure the LB, where the IP is used only for outbound traffic and I don't need to block it in the inbound rules of the N

[2019-10-10 08:40] ERGeorgiev opened #40482 "new TelemetryClient(); now deprecated, initialize with configuration"
Using var telemetryClient = new TelemetryClient(); is now deprecated, one can replace new TelemetryClient() with new TelemetryClient(TelemetryConfiguration.CreateDefault()); instead to avoid this issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b189efce-ce4e-f8f8-ecf8-8803a18f9b65
* Version Independent ID: aec5401

[2019-10-10 08:45] BhupalPatil commented on #40106
@Alberto-Vega-MSFT  just to add on top of it, if we cannot achieve device registration at all n you confirm if we can send the message and upload files using paho Mqtt library directly? I gont thru the steps [HERE](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-mqtt-support#using-the-mqtt-protocol-directly-as-a-device) and managed to connect device using paho mqtt .net library however unab

[2019-10-10 08:51] rayne-wiselman commented on #40293
@frehnejc Thanks for your feedback. Did you try this? I believe that the VMware parameter works for both VMware and physical machines.

[2019-10-10 09:05] mike-urnun-msft commented on #39975
Hi @PeterAnaniaHC - Thanks again for sharing your feedback! Since this repo is more for driving improvements towards MS Docs, it might be better to address your feedback on [Azure Functions Host](https://github.com/Azure/azure-functions-host/issues) repo instead.

As such, we will now proceed to close this thread for now. If there are further questions regarding a specific section/detail of this d

[2019-10-10 09:05] #39975 closed

[2019-10-10 09:10] MaStr11 opened #40485 "Module limit is not correct"
&gt; In IoT Hub, under each device identity, you can create up to 20 module identities.

It seems this limit changed and you can now create up to 50 modules per device (Location: Europe West, Pricing Tier: Standard).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27d1188e-bec7-baa4-85ae-948c717fddd0
* Version Independe

[2019-10-10 09:17] joostm1 opened #40486 "Max. number of subscriptions per offer?"
This document doesn't say anywhere (IMHO) what the maximum number of subscriptions is per "offer".
Adding it would be useful for people planning a 'subscription strategy'.
With offer I mean this list:
https://azure.microsoft.com/en-us/support/legal/offer-details/

Thanks!
Joost

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-10-10 09:18] SripadaBhargav commented on #40477
I would suggest you guys to have an api to fetch the list of supported regions as maintaining a list of supported regions before provisioning resources is sub-optimal.

[2019-10-10 09:29] TheRobinCM opened #40487 "Need to specify tenant name"
"azcopy login" does not work properly and gives an error "User account from identity provider does not exist in tenant ‘Microsoft’ and cannot access the application in that tenant"
You need to specify:
azcopy login /Tenant:&lt;your tenant id&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0665b390-9b97-e799-0837-d03

[2019-10-10 09:34] msrini-MSFT commented on #40418
@Milanski , You need to create the outbound rules in the Load balancer not in the NSG.

You don't need to make any changes in the NSG.

Reference: https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-outbound-rules-overview

[2019-10-10 09:34] rayne-wiselman commented on #40047
Working on this with Rajani. #assign: rayne-wiselman

[2019-10-10 09:41] salmanhbutt commented on #40447
@fly-high-bj, I believe you need to create the master key on the data warehouse and not on the master database. It's confusing in the article.

[2019-10-10 09:52] shashishailaj commented on #40480
@ivanignatiev Thank you for your query . We will investigate and update this thread.

[2019-10-10 10:00] jakaruna-MSFT commented on #40217
@mladents i tried the scenario 4.1 in my cluster ans it worked.
When i tried 4.2, i got the permission denied error. I added the role assignment ans will try again.

Can you describe the service(where you specified the predefined ip ) and post the events here.
Events will have the failure message.

Since your public ip is from another resource group, i hope you have added the annotaion as shown he

[2019-10-10 10:04] jakaruna-MSFT commented on #40217
The public ip which you have added to the AKS cluster in step 2 is for egress only.
standard load balancer needs an ip for egress connections to the backend machines. With that ip only, the backend nodes speak with the master.   Thats why a a public ip is created and added with that load balancer while creating a AKS cluster.

We cant assign that ip to ingress.
i hope you are not attempting to do

[2019-10-10 10:08] jakaruna-MSFT commented on #40024
@git001 I hope the above helped you to understand about the process behind provisioning a log analytics workspace for the AKS cluster.

Please let me know if you have more queries

[2019-10-10 10:09] jakaruna-MSFT commented on #40024
I will close this issue for now. Feel free to post a new one if you face any new issues

[2019-10-10 10:09] #40024 closed

[2019-10-10 10:11] jakaruna-MSFT commented on #40185
@MashaMSFT I have assigned this issue to you.
Please update the user with your comments and update the doc  if required.

[2019-10-10 10:12] DixitArora-MSFT commented on #40331
@ecfan  Any inputs in this ?

[2019-10-10 10:19] SumanthMarigowda-MSFT commented on #40154
@anishkshah May I know where are you trying to copy the files  I would suggest Storage explorer would be the easier way to perform this   option.

[2019-10-10 10:24] DixitArora-MSFT commented on #40278
@timmyreilly Policies can be configured globally or at the scope of a Product, API, or Operation. The statements within policies are evaluated according to the placement of the base element, if it is present. Global policy has no parent policy and using the <base> element in it has no effect.

If you have a policy at the global level and a policy configured for an API, then whenever that particula

[2019-10-10 10:33] jakaruna-MSFT commented on #40462
@ToruMakabe Thanks for reporting.
I am facing the same issue in my local machine and cloud shell.

@dlepow    Please add your comments
cc @northtyphoon

[2019-10-10 10:36] salmanhbutt commented on #40447
Is there a way of doing this without Polybase? I have a field that has data larger than 8000 characters so thinking of using VARCHAR(MAX) which is not supported in Polybase. Is there any alternative approach for this problem?

[2019-10-10 10:37] jtuliani opened #40488 "Must use tenant root group?"
Firstly, the doc should make clear that security center does NOT support reporting at management group scopes. It only supports reporting across multiple subscriptions using the global subscription filter. There's a big difference.

Second, the doc implies that the only way to achieve multi-subscription reporting is to assign permissions at the tenant root scope (that's what it shows, and it doesn

[2019-10-10 10:38] salmanhbutt commented on #40447
Also, if we need to map dataframe fields to an existing data warehouse table, how do we do it?

[2019-10-10 10:38] M-H-Mukit opened #40489 "Can I import a bacpac to existing DB which is under elastic pool instance using SqlPackage.exe?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65a16702-87ad-4801-5171-f5e629661cb4
* Version Independent ID: bdd076dd-9b65-4054-b7f8-16e12e6a6f99
* Content: [Import a BACPAC file to create an Azure SQL database](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-import#feedback)
* C

[2019-10-10 10:50] rayne-wiselman commented on #39814
Thanks for your feedback! In this scenario the provider is installed on the VMM server. I think the .NET version will first be determined by what's supported for VMM. For example VMM 2016 requires 4.6. VMM 2012 R2 should also be running a supported .NET version. Have you seen some particular issue?

[2019-10-10 10:55] jakaruna-MSFT commented on #40217
After add the required permission, I am able to add the public ip from another resource group to the LB in MC_* resource group.
I have added the annotation to the service yaml  like i mentioned earlier

Please share your comments

[2019-10-10 11:02] rayne-wiselman commented on #39229
Thanks for your feedback. The OS disk limit is an Azure limit for Azure VMs.

From https://docs.microsoft.com/en-us/azure/virtual-machines/windows/managed-disks-overview

OS disk
Every virtual machine has one attached operating system disk. That OS disk has a pre-installed OS, which was selected when the VM was created. This disk contains the boot volume.

This disk has a maximum capacity of 2,048

[2019-10-10 11:03] rayne-wiselman commented on #38431
I haven't heard back on this so I'm closing. Please feel free to reopen or to open a new issue if needed. Thanks!
#please-close

[2019-10-10 11:03] #38431 closed

[2019-10-10 11:09] ManojReddy-MSFT commented on #40479
@andrePKI You can use the following [document ](https://docs.microsoft.com/en-us/azure/security/fundamentals/choose-ad-authn)as a reference to decide which authentication suits your organization.

Pros and cons are also discussed [here](https://blogs.msdn.microsoft.com/samueld/2017/06/13/choosing-the-right-sign-in-option-to-connect-to-azure-ad-office-365/).

In Azure AD, authentication mode is dec

[2019-10-10 11:19] athempel opened #40491 "Should explain how to restrict access to a specific virtual network"
The section entitled "Connecting from Azure" gives the impression that it is only possible to expose the endpoint to all Azure virtual networks or to none.

It would make sense to reference this page, which explains how to restrict access to a single, specific virtual network:

https://docs.microsoft.com/en-us/azure/mysql/howto-manage-vnet-using-portal

---
#### Document Details

⚠ *Do not edit th

[2019-10-10 11:22] PramodValavala-MSFT commented on #40400
@kratocpa Could you share your function details [privately](https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately)?

[2019-10-10 11:22] rayne-wiselman commented on #39913
Thanks for your feedback. This is fixed and should appear later today.
#please-close

[2019-10-10 11:22] #39913 closed

[2019-10-10 11:23] KalyanChanumolu-MSFT commented on #40489
@M-H-Mukit Thank you for reaching out.
Importing to a database in elastic pool isn't supported as of now.
You can however [import ](https://docs.microsoft.com/en-us/azure/sql-database/scripts/sql-database-import-from-bacpac-powershell)the bacpac into a single database and then move the database to an elastic pool.

[2019-10-10 11:23] rayne-wiselman commented on #39682
Thanks for your feedback. I updated the article in question.
#please-close

[2019-10-10 11:23] #39682 closed

[2019-10-10 11:24] ManojReddy-MSFT commented on #39708
@cypherstream I understand your concern. I will pass the feedback to the engineering team.

As pointed in the article provided by @LiberoAnon, this should not cause any disruption in your environment as the deletes are for objects in Azure AD and they are not being used for anything else.

[2019-10-10 11:24] dandyfopper commented on #39533
+ one on getting this fixed please

[2019-10-10 11:24] rayne-wiselman commented on #39895
Thanks for your feedback! I added this. The change should show up later today.
#please-close

[2019-10-10 11:24] #39895 closed

[2019-10-10 11:25] KalyanChanumolu-MSFT commented on #40473
Thank you for the reaching out.
We are actively investigating and will get back to you soon.

[2019-10-10 11:26] rkarlin commented on #39732
Hi @weaselball thanks for your comment. I've been working on an update to this article and should be able to post it in the next couple of weeks when the version updates.
#please-close

[2019-10-10 11:26] #39732 closed

[2019-10-10 11:36] souravmishra-msft commented on #40491
@athempel, Thank you for sharing the query. We are looking into this and will update the docs after reviewing the same.

[2019-10-10 11:37] souravmishra-msft commented on #40488
@jtuliani, Thank you for the query. We are looking into this and will update the docs after reviewing the same.

[2019-10-10 11:42] souravmishra-msft commented on #40485
@MaStr11, Thank you for sharing the query. We are looking into this and will get back to you soon on this thread.

[2019-10-10 11:44] frehnejc commented on #40293
Yes I agree please close the issue.

On Thu, 10 Oct 2019 at 4:52 pm, Rayne Wiselman <notifications@github.com>
wrote:

[2019-10-10 11:45] souravmishra-msft commented on #40482
@ERGeorgiev, Thank you for sharing the update. We are working on this internally to incorporate the change to this doc.

[2019-10-10 11:52] soumyapattnaik commented on #11389
Linux VMs supports app-consistent backup. This can be enabled through the use of pre-post script as explained in https://docs.microsoft.com/en-us/azure/backup/backup-azure-linux-app-consistent
The default backup mode in Linux is filesystem consistent backup.

[2019-10-10 11:52] souravmishra-msft commented on #40475
@folkol, Thank you for pointing this out. We are looking into this and will get the docs updated according after the review.

[2019-10-10 11:54] koushik984 opened #40492 "APIM : Publish updated functionApp"
# Azure documentation issue guidance
https://docs.microsoft.com/en-us/azure/api-management/import-function-app-as-api

## Azure Resource
- Azure API Management
- Azure Function

## Bug details - Technical Issue

When FunctionApp a that is hosted on APIM is either recreated or URL update, the functionApp is not updated therefore returning unauthorized status. Inorder to do the reconnect, APIM does

[2019-10-10 11:57] james-stocks opened #40493 "Get-MsolUserByStrongAuthentication does not accept "Disabled" state"
I want to find all Azure AD users that do not have MFA enabled

https://docs.microsoft.com/en-us/powershell/module/msonline/get-msoluserbystrongauthentication?view=azureadps-1.0 looks like what I need but something seems wrong with the `-Requirements` argument.

I can specify "Enabled" or "Enforced" states as expected:

[code]

But when I use state "Disabled" I get an error:

[code]

I also tried

[2019-10-10 11:59] jakaruna-MSFT commented on #40475
@folkol Thanks for your feedback.
Ideally we should not move the private key.
In this case the private is moved to the helper pod to login to that vm.
Once the helper pod is deleted, then the provate key is also deleted.

If we generate or use the key inside the helper pod, Then we need to run `az vm user update` or we need to copy the public key out of it.

Also the private key will be deleted on

[2019-10-10 12:14] dcurwin commented on #11389
#assign:soumyanishan

[2019-10-10 12:16] dcurwin commented on #11389
@roygara please work with @soumyanishan to make the change.

@MicahMcKittrick-MSFT  - You can remove the backup/svc label. @soumyanishan has confirmed that the document that needs changing is the one in the VM doc set, not the backup one.

[2019-10-10 12:20] akczcz opened #40494 "IDE for encryption of Windows VM disks use Bitlocker instead of DM-crypt"
I suppose IDE uses Bitlocker of encryption of Windows VM instead of DM-crypt.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5c7e44e-899c-56d9-b35d-420df677527c
* Version Independent ID: 7a6fd590-99a6-9fb8-3bfb-76d27752def5
* Content: [Enable Azure Disk Encryption for Windows VMs](https://docs.mi

[2019-10-10 12:22] kweebtronic commented on #36709
@tamram any progress on this? Having trouble finding a documented example

[2019-10-10 12:26] #39992 closed

[2019-10-10 12:26] bdschaap commented on #39990
Good idea thank you

[2019-10-10 12:26] #39990 closed

[2019-10-10 12:32] GrimGadget commented on #30060
Need a sample for Azure CLI

[2019-10-10 12:36] GrimGadget commented on #30060
This documentation needs samples for Azure CLI, including correlation filters for user properties

[2019-10-10 12:37] BenyaminFamili commented on #39347
It doesn't work for me as well, we have AzureDevops git and Auto-Sync enabled.

[2019-10-10 12:42] mirikitomo opened #40495 "Custom app logo broken"
I updated the app logo with a custom one,but at the time of completion the old logo was still visible. The next day the custom logo appeared broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da891088-c80a-49da-8dcd-e016d9e75baf
* Version Independent ID: 5049445c-f076-67b3-2b06-7dfd43cfc534
* Content: [Change the n

[2019-10-10 12:54] Blightysoft commented on #38787
![image](https://user-images.githubusercontent.com/27679547/66570431-78a7d500-eb65-11e9-9569-6b8eeb043dd9.png)

[2019-10-10 13:03] Euripedes68 opened #40497 "Install PowerShell for IIS fails"
Install-WindowsFeature : The term 'Install-WindowsFeature' is not recognized as the name of a cmdlet, function, script
file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct
and try again.
At line:1 char:1
+ Install-WindowsFeature -name Web-Server -IncludeManagementTools
+ ~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : ObjectNotF

[2019-10-10 13:05] garybushey opened #40498 "Differences between control modes"
I don't see a discussion as to the differences between the control modes and why use one or the other.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c62e3725-b0dc-5ce5-c049-70fd3ae106e3
* Version Independent ID: 9c0c5ef7-bd49-cb39-ca10-d98386004975
* Content: [Manage Log Analytics workspaces in Azure Monitor](https://

[2019-10-10 13:13] ivanignatiev commented on #40480
Regarding to the swagger specification of Domain Services API I have arrived to make a correct JSON to create a AAD DS with LDAPS enabled:

[code]

Swagger Specification: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/domainservices/resource-manager/Microsoft.AAD/stable/2017-06-01/domainservices.json

Please, add it to the documentation.

[2019-10-10 13:15] darivuki opened #40500 "Are MICROSOFT.WEB/SITES and MICROSOFT.WEB/SERVERFARMS resource logs deprecated?"
This list is missing resource logs for websites and serverfarms. While this previously worked, and I have hundreds of websites and serverfarms emitting metrics to a log analytics workspace (for monitoring) where I use KUSTO to query the data, is this now being deprecated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-10-10 13:16] jtuliani opened #40501 "Effect: Disabled vs assignment EnforcementMode"
This page says I can parameterize the 'effect' of my policy definition, then use that parameter to specify the 'Disabled' effect. This allows me to turn individual assignments on and off.

However, assignments support a 'enforcementMode' property, which seems to be a cleaner way to achieve the same goal: https://docs.microsoft.com/en-us/azure/governance/policy/concepts/assignment-structure#enforce

[2019-10-10 13:22] DeanGross opened #40502 "Column Scoping instructions"
In the example above for searching a specific column, the instructions would be more clear if they stated that the column to be searched is named "Source". I did not initially realize that was the name of the column, I thought it was part of the kql language.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: deb37cee-0e7c

[2019-10-10 13:33] NavtejSaini-MSFT commented on #39599
@srdan-bozovic-msft @stevestein Please check and approve PR. Assigning the same to you.

[2019-10-10 13:34] sukhoi1 opened #40503 "Cannot connect ADF"
MS ADF-to-AzureFounction -  ISSUE #2
First of all there is no UI for Body editing as it is explained in https://youtu.be/aLH81MFmKCg?t=178 video introduction.
![image](https://user-images.githubusercontent.com/7251500/66573341-2d002600-eb7b-11e9-91a4-88e518f8dbdd.png)

JObject is returned, same default example is deployed and running (both locally and in https://[azureFunctionName].azurewebsites.n

[2019-10-10 13:35] NavtejSaini-MSFT commented on #39320
@KavithaJonnakuti @stevestein Please approve this PR.

[2019-10-10 13:39] KrishnaG-MSFT commented on #40498
@garybushey It's provided [here](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/manage-access#table-level-rbac) in the same referred document; if you click on "access control modes" hyperlink in the section then it routes to [this](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/design-logs-deployment#access-control-mode) document where in  more details are provided. H

[2019-10-10 13:41] garybushey commented on #40498
Thank you. Not sure how I missed that.

On Thu, Oct 10, 2019, 9:39 AM KrishnaG-MSFT <notifications@github.com>
wrote:

[2019-10-10 13:45] KrishnaG-MSFT commented on #40498
No problem. Glad that I am able to clarify.

[2019-10-10 13:45] v-edmowe opened #40504 "How to recover with the same name?"
The steps suggest re-creating the workspace with the same name, but immediately below has a note that the workspace name is not available during the soft-delete period. Can this be clarified or updated? I am not sure how to recover a workbook using these steps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86984751-da

[2019-10-10 13:46] KrishnaG-MSFT commented on #40498
As at this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-10-10 13:46] #40498 closed

[2019-10-10 13:56] Blackmist commented on #39590
Hi @macamhi can you provide more details on how you used AutoML to train the model? The engineering team wants to try and reproduce the problem. Was this trained using a notebook or through the UI? Thanks.

[2019-10-10 14:05] RyanHill-MSFT commented on #40440
@MForMarlon glad you got it working!! The `npm install` shouldn't be necessary because it should've already been executed when right before deploying your app. Did you not get the prompt below?

![image](https://docs.microsoft.com/en-us/azure/app-service/containers/media/quickstart-nodejs/server-build.png)

[2019-10-10 14:17] d-signet opened #40505 "Incomplete code blocks"
FacePhoto_MouseMove and BrowseButton_Click are shown as incomplete (unclosed) methods

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31a7905f-5818-4398-ee39-2842519dc054
* Version Independent ID: 7f6a714b-cd88-694e-fd31-ad96fdfe5ed3
* Content: [Tutorial: Detect and display face data in an image using the .NET SDK - Azu

[2019-10-10 14:21] KrishnaG-MSFT commented on #40502
@DeanGross Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-10-10 14:21] irwincs opened #40506 "Adding a user from my client's Active Directory to my IoT Central Application"
Are there restrictions on what types of users can be added to an IoT Central application? I'm trying to add a user from my client's domain to my IoT Central application as an operator, but it's not working.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 849ddd08-b270-94d6-5551-ffa874636376
* Version Independent ID: 7d6

[2019-10-10 14:34] cahann commented on #38690
please try again, this issue should now be resolved

[2019-10-10 14:45] msrini-MSFT commented on #40497
@Euripedes68 , Please install Server Manager module in your Power Shell to get this command to work.

To download the most current Windows PowerShell console help for this cmdlet module, run Update-Help -Module ServerManager in an elevated (Run as Administrator) Windows PowerShell session.

Reference: https://docs.microsoft.com/en-us/powershell/module/microsoft.windows.servermanager.migration/?vie

[2019-10-10 14:59] matasnizamovas commented on #28864
@TravisCragg-MSFT this seems like an awkward limitation.  We use CDN to cache our static web pages and not being able to load home page is a downfall.  Since localized version of the site use paths such as /en-de/, we are able to load those no problem.  Only option is to purge the root path, which now will leave some user with slower than expected performance.

[2019-10-10 15:01] mdragt opened #40507 "How-to guides not editable"
It seems that the How-to guides are not editable like the other docs.microsoft.com content?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27a866f5-d345-76f2-da05-9292526db445
* Version Independent ID: 1e48ab74-b4d0-6c69-64f7-f1c539f1c48d
* Content: [Try Azure Databricks - Azure Databricks](https://docs.microsoft.com/e

[2019-10-10 15:06] souravmishra-msft commented on #40378
@kebaranas, Just checking if you got a chance the the previous response, and share the doc details that you referenced.

[2019-10-10 15:25] baSSiLL opened #40511 "Token renewal"
I've tried silent token renewal via a hidden iframe as proposed here in Get Access Token section. But the browser gets X-Frame-Options: Deny header in response and thus refuses to continue. Is described workflow actually supported? Can I get that header if I mess up some query params? Prompt=none is in place for sure.

My ultimate goal is to ensure the web app session doesn't outlive the AD B2C se

[2019-10-10 15:37] DCtheGeek commented on #40501
#assign:DCtheGeek

[2019-10-10 15:39] coproyer opened #40512 "Incorrect text path to AAD audit logs"
Instructions at header "Stream Logs to an Event Hub" https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/tutorial-azure-monitor-stream-logs-to-event-hub#stream-logs-to-an-event-hub are incorrect.  As can be seen in the image, path is "Azure Active Directory &gt; Monitoring &gt; Audit logs" while article uses "Azure Active Directory &gt; Activity &gt; Audit logs" in text.  Ad

[2019-10-10 15:41] treimers opened #40513 "az aks create: The request did not have a subscription or a valid tenant level resource provider."
Hello,

based on the [Azure documentation](https://docs.microsoft.com/en-us/cli/azure/aks?toc=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Faks%2FTOC.json&bc=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fbread%2Ftoc.json&view=azure-cli-latest#az-aks-create) I tried to create an AKS cluster with AZ-CLI:

`az aks create --subscription AAAAAAAA-BBBB-CCCC-DDDD-EEEEEEEEEEE --resource-group my

[2019-10-10 15:48] nayrangnu opened #40514 "Needs Proofreading"
There are many sentences that only mostly make sense if you assume a word is missing or replace one word with another.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 134dc0e5-6e79-cb98-2631-2f105f0fcab8
* Version Independent ID: ffc8e5d2-23ad-6b0d-df2b-a65b0f7dc2dc
* Content: [IoT Security Architecture](https://docs.mi

[2019-10-10 15:50] DCtheGeek commented on #40501
@jtuliani Great feedback! There is a difference between the _Disabled_ effect and an assignment setting **enforcementMode** to _Disabled_.  When a policy assignment's effect is set as _Disabled_, it doesn't perform any evaluation on resources.  When the **enforcementMode** is set to _Disabled_, it still performs evaluations and provides compliance data, but it doesn't register events (such as in A

[2019-10-10 15:55] KrishnaG-MSFT commented on #40501
@DCtheGeek Added 'doc-enhancement' and 'in-progress' labels.

[2019-10-10 16:17] ekpgh opened #40516 "Date format should be mm/dd/yyyy"
Looks like the author used non-US date format in the ms.date metadata value (which makes perfect sense but isn't consistent with the Azure [guideline](https://review.docs.microsoft.com/en-us/help/contribute/metadata-attributes?branch=master)).

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae600625-2712-9d01-488c-5e971

[2019-10-10 16:19] JimacoMS3 commented on #17690
I just went through the steps in the article, w/o modification (although the UI has changed slightly). I didn't encounter any issues saving the group enrollment entry. (I used the portal to copy in the code.) I suspect that given the time this issue has been open, the problem has been resolved.

I did run into the noted issue with the code:

- "No overload for method 'CreateResponse' takes 2 argum

[2019-10-10 16:20] #39660 closed

[2019-10-10 16:21] susan-wangyi opened #40517 "Does trim support Windows Server 2008 R2 SP1?"
From the previous doc (https://docs.microsoft.com/en-us/azure/virtual-machines/windows/about-disks-and-vhds#one-last-recommendation-use-trim-with-unmanaged-standard-disks ), we can see that trim support start with windows server 2012/windows 8 and above.

However, this doc has been updated, and the above part has been removed. So could you please let me know whether trim still supports windows ser

[2019-10-10 16:22] rthorn17 commented on #40433
Hi @jtuliani -  I have an article on the [Manage you resources with management groups](https://docs.microsoft.com/en-us/azure/governance/management-groups/manage#move-subscriptions-in-the-hierarchy) page that might be clearer for you.

To move the subscription, all of the following RBAC permissions need to be true:

"Owner" role on the child subscription.
"Owner", "Contributor", or "Management Gro

[2019-10-10 16:26] tiandklerk opened #40518 "Pricesheet API failing with error 500 for selected customers."
Good day,

We are receiving an error 500 for a lot of our customer base in trying to download price sheets from the EA Billing API - https://consumption.azure.com/v3/enrollments/{enrollmentNumber}/pricesheet.

The response returns 43172 MeterID's with the following error header:
{"error":{"code":"500","message":"DB didn't return complete data for MeterInfo. Number of ids:43172 vs. result set count

[2019-10-10 16:29] himanshusinha-msft commented on #40507
@mdragt Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-10-10 16:30] torfulle opened #40519 "Cost Export Not Supported with Storage Account with Firewall rules"
Hello I attempted to use the the export with a storage account that has firewall rules enabled and even with "Allowed trusted Azure Services" enabled the export was not achieved. Once I created new storage account without any firewall rules the export work ... can we update this document to display this is unsupported and why?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-10-10 16:36] himanshusinha-msft commented on #40503
@sukhoi1 Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-10-10 16:37] tchristiani commented on #38611
#please-close

[2019-10-10 16:37] #38611 closed

[2019-10-10 16:38] tchristiani commented on #39587
Added to backlog #please-close

[2019-10-10 16:38] #39587 closed

[2019-10-10 16:44] DCtheGeek commented on #40501
@jtuliani I've submitted an update to both articles.  When it merges, this issue will automatically close. Thanks again for the feedback!

[2019-10-10 16:46] KalyanChanumolu-MSFT commented on #40163
@blueelvis We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-10-10 16:46] #40163 closed

[2019-10-10 16:48] KalyanChanumolu-MSFT commented on #40200
@frvigano Thank you for the feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-10-10 16:50] #40501 closed

[2019-10-10 16:51] bandersmsft commented on #40454
@srinadhayarram I'm investigating your issue with the engineering team. When I get details, I'll respond here.
#in-process

[2019-10-10 16:52] ghost opened #40520 "IoTHubMessage_GetByteArray does not return NULL terminated strings - as the code implies"
Rough translation

@alaendle commented on [Thu Oct 10 2019](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/576)

https://github.com/MicrosoftDocs/azure-docs.de-de/blame/master/articles/iot-edge/tutorial-c-module-windows.md#L191
suggeriert, dass der String NULL terminiert ist - was er aber nicht ist - siehe https://github.com/Azure/azure-iot-sdk-c/issues/46.

---
#### Dokumentdetails

⚠ *

[2019-10-10 16:52] bbking78 commented on #30562
maybe not the right way to post to a closed issue, but it belongs right here:
I'd like to access the ML web service from Node-Red, but always get this error:
{"error":{"code":"Unauthorized","message":"Request is unauthorized to access resource.","details":[{"code":"ScoreRequestUnauthorized","message":"Invalid credentials provided."}]}}

My key and endpoint are correct for 100%, when I use them in

[2019-10-10 16:54] SaurabhSharma-MSFT commented on #40494
@akczcz Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-10 16:54] MarileeTurscak-MSFT commented on #40512
@coproyer
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-10 16:56] MarileeTurscak-MSFT commented on #40512
Thanks @coproyer ! I created a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/91270

[2019-10-10 16:56] #40512 closed

[2019-10-10 16:58] bandersmsft commented on #40519
@torfulle Thanks for letting us know about this issue. I'm investigating with the Cost Management enginnering team. When I have more details, I'll share them here.
#in-process

[2019-10-10 17:07] dcurwin commented on #11389
#assign:soumyanishan

[2019-10-10 17:07] PRMerger7 commented on #11389
soumyanishan is not a valid GitHub ID, or is not a collaborator on this repo.

[2019-10-10 17:08] dcurwin commented on #11389
#assign:sogup

[2019-10-10 17:08] DCtheGeek commented on #39528
@mjonespro Apologize for the delay in answering this. That parameter, which is a **strongType** of _resourceTypes_ follows the resource provider naming format of `<owner>.<rp>/<resource>`. In this case, it looks like you want to use `Microsoft.Features/features`.

Since this policy uses **strongType**, that means you can see the values to use if you assign it through the portal (you don't have to

[2019-10-10 17:08] #39528 closed

[2019-10-10 17:09] aahill commented on #37589
Thanks, returned key phrases aren't in a particular order, which is generated internally. #please-close

[2019-10-10 17:09] #37589 closed

[2019-10-10 17:09] dcurwin commented on #11389
@sogup - @soumyanishan said he asked you to work on the document.

[2019-10-10 17:09] ahmedelnably commented on #36000
#please-close

[2019-10-10 17:09] #36000 closed

[2019-10-10 17:10] MicahMcKittrick-MSFT commented on #40517
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-10 17:11] MicahMcKittrick-MSFT commented on #40513
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-10 17:12] mattchenderson commented on #8204
Answered by Connor.

#please-close

[2019-10-10 17:12] #8204 closed

[2019-10-10 17:17] cynthn commented on #40487
@TheRobinCM Thanks for the feedback! Sorry, I am a little behind in updating this doc. You can actually upload a VHD straight to a managed disk now, which will simplify the process of creating a managed image. I'm working on updating it today, but if you want to read about uploading straight to a managed disk, you can check out this article: https://docs.microsoft.com/en-us/azure/virtual-machines/

[2019-10-10 17:20] ms-dapaje commented on #40361
i've tried in both useast and uswest, same issue.

i do notice that with `--verbose`, the ARM call to create the managed cluster has `"scaleSetPriority": "Regular", "scaleSetEvictionPolicy": "Delete"` even though the cluster is `"type": "AvailabilitySet"`. I'm not sure if that matters, but those params are for VMSS clusters

[2019-10-10 17:22] mattchenderson commented on #36839
Apologies for the delay. I'm assigning to Byron but will also be routing this to the dev folks who own this API surface. Hopefully this can be resolved quickly.

#reassign:btardif

[2019-10-10 17:23] MarileeTurscak-MSFT commented on #40495
@mirikitomo
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-10 17:25] #7883 closed

[2019-10-10 17:26] MarileeTurscak-MSFT commented on #40495
Hi @mirikitomo , when you say that it is broken, what do you mean? Can you please provide a screenshot?

Sometimes the old image will cache in the browser, and you need to log into a new browser in incognito mode.

![image](https://user-images.githubusercontent.com/13383753/66591709-64091400-eb48-11e9-94d2-24bad394a79b.png)

[2019-10-10 17:28] jtuliani commented on #40501
Thank you @DCtheGeek for the clear explanation and the quick update

[2019-10-10 17:29] fly-high-bj commented on #40447
@salmanhbutt, I am able to create the master key for the data warehouse DB. Thanks.
@souravmishra-msft, the link above shows the steps to create master key for master db. It would be nice to clarify this in the article if it should be actually on the data warehouse DB.

[2019-10-10 17:29] mtrangel89 opened #40523 "ACM for CSP"
I would like to know if CSP customers will have access to Azure Cost Management

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59edbf44-87b8-7b7a-92a5-6ba12bdd8aff
* Version Independent ID: 1d7974d8-a0f2-e2b1-cc38-565e2d7fec40
* Content: [Understand Azure Cost Management data](https://docs.microsoft.com/en-us/azure/cos

[2019-10-10 17:31] tfitzmac commented on #40370
#please-close

[2019-10-10 17:31] #40370 closed

[2019-10-10 17:33] rmaziarka commented on #40320
Hey @FrankHu-MSFT - there is information on how to migrate **email/password users**, not how to migrate **AD users**. So there information how to prepopulate:
- email/password users - [link](https://docs.microsoft.com/en-gb/azure/active-directory-b2c/active-directory-b2c-user-migration)
- social identities users - [link](https://docs.microsoft.com/en-gb/azure/active-directory-b2c/active-directory-

[2019-10-10 17:35] jtuliani commented on #40501
One more question: with enforcementMode: Disabled, I understand the policy won't take effect, it just gets reported in compliance. What happens if the policy rule gives an error (e.g. a template function error)? Normally, that gives an "implicit Deny". Does that still happen?

[2019-10-10 17:36] BryanTrach-MSFT commented on #40048
@kstudnik Yes, this is the workaround that we were going to share as we believe it should help to resolve a majority of the issues on this thread.

Since a majority of these items seem to be troubleshooting related caused by the switch to .net core 3.0 and not by this doc specifically and we believe kstudnik's response should help, we will now proceed to close this thread. If there are further que

[2019-10-10 17:36] #40048 closed

[2019-10-10 17:37] torfulle commented on #40519
Thanks for the fast response looking forward to some insight!

Tori Fuller
Premier Field Engineer
Azure Secure Infrastructure
Working Hours:
Email:
Phone:
Mon – Fri 09:00 AM–06:00 PM EST tofulle@microsoft.com<mailto:tofulle@microsoft.com>
+1 (469) 775-2937
 [cid:image003.jpg@01D57F6F.D6FAB670]    [cid:image004.png@01D57F6F.D6FAB670]

From: Bill Anderson <notifications@github.com>
Sent: Thursday, O

[2019-10-10 17:40] MarileeTurscak-MSFT commented on #40196
Hi @kenlacoste843 ,

Since I have not heard back from you I will proceed to close this thread. Please open a new issue if you would like to continue the discussion.

[2019-10-10 17:40] #40196 closed

[2019-10-10 17:40] bandersmsft commented on #40523
@mtrangel89 Hi. I can't publicly answer this today. However, we'll have news about this next week.
#please-close

[2019-10-10 17:40] #40523 closed

[2019-10-10 17:42] dlepow commented on #40462
@ToruMakabe - Thanks for reporting the issue. According to the product team you should use the following cloudfoundry builder tag instead: `cloudfoundry/cnb:0.0.12-bionic`. This worked for me. Please let me know if this helps. I will update the examples in the article.
#in-progress

[2019-10-10 17:42] mattchenderson commented on #36839
Apologies, I realized I misunderstood the issue here. This is a straightforward change to the Functions docs. I'll get a PR together for this.

[2019-10-10 17:44] #40494 closed

[2019-10-10 17:45] cijothomas commented on #40231
The entire Metrics require a new page of its own to explain the API. It don't exist now.
If there is any specific question that needs answers right away- i can try to help.

[2019-10-10 17:49] KranthiPakala-MSFT commented on #40514
@nayrangnu Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2019-10-10 17:54] juwuanturnerhoward opened #40525 "Clarification on setup. Connectivity issue."
I had a local setup working yesterday, but today my setup is not working.

I am getting
[code]

I successfully executed all instructions except for the Windows Server 2016 section because I don't have it yet. Is that the possible fix for this error?
It's just confusing because yesterday I was able to get things running locally and publish it to Azure with the same setup I currently have.

---
####

[2019-10-10 17:57] KranthiPakala-MSFT commented on #40520
@lichasu Thank you for reaching out and bringing this to our notice. At this time we are reviewing the ask and will provide an update as appropriate

[2019-10-10 17:57] mrbullwinkle commented on #40231
There are a couple of other GitHub Issues on this same topic, we have a work item for this sprint to put together the type of doc the Cijo is describing. @cijothomas I will make sure to include you as a reviewer for this doc.

[2019-10-10 18:00] MicahMcKittrick-MSFT commented on #40361
@ms-dapaje for testing purposes, can you try to create the AKS cluster via the portal instead of CLI in the same regions? We might get a more useful error.

I am able to create a cluster via CLI in both regions so seems to be subscription related.

[2019-10-10 18:01] MicahMcKittrick-MSFT commented on #40446
I will close this out. If you have further questions just let me know and we can always reopen and continue the discussion.

[2019-10-10 18:01] #40446 closed

[2019-10-10 18:03] charwen commented on #40207
@tayamasa your statement, "A force tunneling (Default Site) on VPN is not supported in coexisting connections (VPN and ER)", is not accurate.

What is broken in the following setup?
[Onpre 01]---(ExR)---(ExRGW)
[VNET]
[Onpre 02]---(VPN)---(VPNGW)

[2019-10-10 18:05] TravisCragg-MSFT commented on #20981
@ElanShudnow This issue is almost a year old. If you see a part of this doc that needs to be updated, please make a new issue.

[2019-10-10 18:06] MicahMcKittrick-MSFT commented on #40513
Looks like you didn't connect or specify the subscription you want to use.

use `az account set --subscription XXXXXXXXXXX` to set the subscription then retry the commands.

[2019-10-10 18:11] MicahMcKittrick-MSFT commented on #40517
@susan-wangyi both the doc you provided in the comment and the one you opened this issue on don't mention TRIM support at all. Where exactly were you seeing TRIM stated?

[2019-10-10 18:19] mattchenderson commented on #36839
My PR has been merged into the private repo, meaning it should be live with this afternoon's deployment.

#please-close

[2019-10-10 18:19] #36839 closed

[2019-10-10 18:20] MarileeTurscak-MSFT commented on #40493
@james-stocks

Have you tried:

 Get-MsolUser -all | select DisplayName,UserPrincipalName,@{N="MFA Status"; E={
    if( $_.StrongAuthenticationRequirements.State -ne $null) {$_.StrongAuthenticationRequirements.State} else { "Disabled"}}

[2019-10-10 18:23] FISHMANPET opened #40527 "Is this supported for Python?"
I have a function that I've deployed using the VSCode extension and I'd like to move to CD, but Deployment Center is greyed out with no explanation as to why (unlike other greyed out features in Platform Features).  Is this supported for Python functions and if so is there some property of my function app that would prevent me using Deployment Center, and importantly what can I do to start using D

[2019-10-10 18:29] timwebster9 opened #40528 "Permissions for Helm operations?"
I've never been quite clear on what permissions are needed for Helm operations.  I've just been sort of assuming that 'AcrPull' and 'AcrPush' map to 'helm fetch' and 'helm push', but I don't know for sure.  This is important for assigning the correct permissions for service principals upon creation.  Can this page be updated with definitive info on this?

---
#### Document Details

⚠ *Do not edit

[2019-10-10 18:36] CharmanderJieniJieni opened #40529 "Workflow or example needed"
I have been trying hard to understand what this feature really does. Does it add a delay of termination to the instances in the VMSS?

I have added this scheduledEventsProfile with 5 minutes timeout into my VMSS template and a deletion of instance still got triggered right away.

Would you please explain in more details?

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2019-10-10 18:36] shashishailaj commented on #40133
@rkarlin Could you please have this reviewed with engineering and make required changes to the documentation ?

[2019-10-10 18:38] Karishma-Tiwari-MSFT commented on #40435
Thanks @cynthn :)

@TheRobinCM We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-10-10 18:38] #40435 closed

[2019-10-10 18:39] mirikitomo commented on #40495
Hello!
I tried the incognito windows but with the same browser. Didn’t worked. If the old image is being cached  in the browser, is there something else that can be done to fix this? As a quick fix I deleted the enterprise applications and re-added them to have the default image from the registration of the application. I am willing to configure a new testing application to test the different brow

[2019-10-10 18:41] KrishnaG-MSFT commented on #40523
@bandersmsft Thanks for the super quick response. :+1:

[2019-10-10 18:42] Karishma-Tiwari-MSFT commented on #20572
@curtand @jimdial Can either of you please review the suggestions and update the doc accordingly. Thanks.

[2019-10-10 18:51] shashishailaj commented on #40130
@MicrosoftGuyJFlo Could you please have the above audit event added to the page after review with engineering ?

[2019-10-10 18:54] orspod commented on #40200
@frvigano thank you for your feedback. As per your suggestion, I added a short explanation of the lookup activity and link to additional Azure Data Factory documentation. See PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/91295

[2019-10-10 18:56] richardpomerleau opened #40530 "Global Reader and OneDrive Admin"
It appears Global Reader does not have access to the OneDrive Admin center

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Independent ID: a380a828-03f9-e037-3a62-e4165fda7cb6
* Content: [Administrator role descriptions and permissions - Azure Active Directory](https://docs

[2019-10-10 18:56] FrankHu-MSFT commented on #40506
@irwincs Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-10 18:56] Karishma-Tiwari-MSFT commented on #40528
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-10 18:56] FrankHu-MSFT commented on #40511
@baSSiLL Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-10 18:56] orspod commented on #40200
@frvigano We will proceed to close this issue now. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.
#please-close

[2019-10-10 18:56] #40200 closed

[2019-10-10 18:57] FrankHu-MSFT commented on #40530
@richardpomerleau Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-10 18:59] palma21 commented on #40300
@sauryadas

[2019-10-10 19:00] Karishma-Tiwari-MSFT commented on #40274
@eugen-nw Is there an update on this? Let me know.

[2019-10-10 19:06] GiftA-MSFT commented on #40505
@d-signet thanks for your inquiry. The remaining code are in later steps ([Draw rectangles around faces](https://docs.microsoft.com/en-us/azure/cognitive-services/Face/Tutorials/FaceAPIinCSharpTutorial#draw-rectangles-around-faces), [Display the face description](https://docs.microsoft.com/en-us/azure/cognitive-services/Face/Tutorials/FaceAPIinCSharpTutorial#display-the-face-description)). Please

[2019-10-10 19:09] mpchen opened #40531 "Azure policy for enabling audit logging for MySql"
Looks like we need 2 steps for enabling audit logging for Mysql:

1. Configure "audit logging" in "Server parameters" to enable audit events
2. Configure  "diagnostic logs" to send logs to storage account/log analytics workspace

Currently Azure Policy can do step 2 but not step 1. Can MySql export the aliases so I can use policy to set step 1 as well?

---
#### Document Details

⚠ *Do not edit th

[2019-10-10 19:10] MicahMcKittrick-MSFT commented on #40361
Taking offline.

[2019-10-10 19:10] #40361 closed

[2019-10-10 19:15] holyyyns opened #40532 "On Prem Access to Private Endpoint"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-10-10 19:16] RikardStrand opened #40533 "Assignment count"
Are there any limits on how many assignments that can be made in total, can I direct assign for example 200'000 users to a application ?

Are there any performance, scalability, stability issues when using a high amount of assignments (like 200'000) ?

Would there be any issues with either SSO or User Provisioning with a high amount of assignments (like 200'000) ?

Any issues with adding or remove

[2019-10-10 19:17] holyyyns commented on #40532
Hello,

seems that no documentation is available for on prem access to private endpoint, how is that working with VPN and networks are peered through central firewall in the hub?
Thanks.

[2019-10-10 19:19] holyyyns opened #40534 "On premise access to Private endpoint"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-10-10 19:20] shashishailaj commented on #40285
@amotley  We are still awaiting response from the backend team and will update this thread accordingly once we have an update . Thanks.

[2019-10-10 19:20] Expecho commented on #40231
Thanks for the offer but right now I figured things out.

[2019-10-10 19:20] #40532 closed

[2019-10-10 19:21] holyyyns opened #40535 "On Prem Access to Private Endpoint"
Hello,

seems that no documentation is available for on prem access to private endpoint, how is that working with VPN and networks are peered through central firewall in the hub?
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d16533ae-5e19-5769-4c29-581152f8c30c
* Version Independent ID: 3f1b2b47-0bfe-b65c-ad0a

[2019-10-10 19:24] shashishailaj commented on #40265
@terryedwards I tried and was unable to replicate the issue on my side. Also this does happen when you do not have relevant license but you already have P1 . Could you please send us an email on azcommunity[at]microsoft[dot]com with your azure subscription Id and we will help you with alternative support options.  We will close this issue now and we will wait for your email to help you further on

[2019-10-10 19:24] #40265 closed

[2019-10-10 19:24] #40534 closed

[2019-10-10 19:24] MicahMcKittrick-MSFT commented on #40115
@Boombasteg any update?

[2019-10-10 19:25] FrankHu-MSFT commented on #40249
@mustafamg can you confirm if Jas' post was helpful to you? And if not can you please let us know if you have anymore questions in regards to this issue?

[2019-10-10 19:27] srinadhayarram commented on #40454
@bandersmsft @KrishnaG-MSFT
i found the pagination limitation of Rest API. But can i get all records at once. As i calling rest API from ADF, its hard to look for Next link and loop through it.

https://docs.microsoft.com/en-us/rest/api/azure/#async-operations-throttling-and-paging

[2019-10-10 19:28] MicahMcKittrick-MSFT commented on #40529
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-10 19:29] mtrangel89 commented on #40523
@bandersmsft Very well, thank you for answer fast.

[2019-10-10 19:40] esraerisen commented on #37379
is anyone working on this?

[2019-10-10 19:40] juwuanturnerhoward commented on #40525
I haven't yet, but I did and put the results below. Couple things for additional context.
I
1. Restarted my machine
2. Verified Docker is running
3. Opened VS 2017 as an admin
4. Tried running the code
The output is now
```2>Deploying the application to the Service Fabric local cluster failed. See Service Fabric Explorer for additional details.```

And in the SF Explorer
```No Service Fabric local

[2019-10-10 19:45] djpmsft commented on #37379
@adlangx @esraerisen

What queries are you trying on doing? Azure Data Factory Analytics sends diagnostic logs to Resource-specific destination tables. You can write queries against the following tables: ADFPipelineRun, ADFTriggerRun, and ADFActivityRun.

[2019-10-10 19:47] MicahMcKittrick-MSFT commented on #40525
What is the status of your local cluster? Does it show running with no errors? You can check in the Service Fabric Cluster Manager.

[2019-10-10 19:48] #39858 closed

[2019-10-10 19:54] MarileeTurscak-MSFT commented on #40495
It should sync right away. Is yours not showing up at all or is it corrupted in some way?

[2019-10-10 19:55] cawrites commented on #40458
@robsonaaron to confirm the issue you are reporting is undocumented error code? I just need to confirm this is a doc issue.

[2019-10-10 19:59] jahobson75 opened #40536 "SUSE Kernel Impaired Accelerated Networking"
There were some issues with the kernel version on SUSE where AN was impaired.  Should we update the SUSE kernel listing to a new minimum version?  The feedback I've heard from SUSE was 4.4.178-94.91.2 or higher.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f89338c0-968d-c22f-5b0d-ed3870ebc2fa
* Version Independent ID

[2019-10-10 20:05] #40467 closed

[2019-10-10 20:07] srinadhayarram commented on #40454
@bandersmsft @KrishnaG-MSFT
I see Copy activity supporting pagination support. I am able to get things completed.
https://docs.microsoft.com/en-us/azure/data-factory/connector-rest#pagination-support

[2019-10-10 20:07] #40454 closed

[2019-10-10 20:11] bandersmsft commented on #40454
@srinadhayarram Glad you found what you needed. =)

[2019-10-10 20:12] AjayKumar-MSFT commented on #31771
I have been discussing on this internally with the product team and the content author, this is being reviewed further and I’ll post back as soon as I have more update.

Having said that, the Azure portal shows only features that currently work for Web App for Containers. As we enable more features, they will become visible on the portal.

Screenshot 1- Shows Web Sockets feature available on nativ

[2019-10-10 20:13] esraerisen commented on #37379
default views donot return anything also when I try to run samples from those tables, it does not return any results either.

[2019-10-10 20:15] AjayKumar-MSFT commented on #34451
Thanks @KurtSmith, you may track the issue here #31771. Thanks for sharing your feedback!

[2019-10-10 20:18] pcdro commented on #8034
@BryanTrach-MSFT I had a similar doubt that @georgenica described. Our team will buy a wildcard certificate on Azure, but the [documentation](https://docs.microsoft.com/en-us/azure/app-service/web-sites-purchase-ssl-web-site#start-certificate-order) is not clear if the naked domain will also be considered or is needed to buy two certificates. I think that would be nice to have a section on the doc

[2019-10-10 20:19] kaiserguy commented on #12287
I have the same issue - can't migrate as the backup services options are no longer available and it fails validation on "Migrate to ARM".. can we get an update on this?

[2019-10-10 20:21] BryanTrach-MSFT commented on #8034
@pcdro Can you please create a new feedback item so we can ingest it and share it with the doc author? Thank you for your understanding.

[2019-10-10 20:24] juwuanturnerhoward commented on #40525
It has an x for error next to the 'Cluster' heading which is caused by an x next to the 'Applications' sub-header. When I click down onto the 'Application' sub-header, I can see
```fabric:/GatewayProxyFor_HostingAtttempt2Gateway GatewayProxyApplicationType 1.0 Error  Ready```

When I click into it, the last thing it says is
[code]

[2019-10-10 20:24] jtuliani commented on #40433
Thanks. I did find that page after I filed the bug. No need to duplicate the info, a link would suffice.

However, there's still a gap. That new page gives good info on the permissions needed to move a subscription. But I'm still not clear on what permissions are needed for management group operations. For example, if moving MG1 from MG2 to MG3, what permissions are needed on all 3 groups?

[2019-10-10 20:30] SnehaGunda commented on #40473
@skeller2015 yes 100 RU/s throughput is required for every new container (Collection, table, graph)

The throughout limits for container and database level offerings are documented here: https://docs.microsoft.com/en-us/azure/cosmos-db/set-throughput#comparison-of-models, these limits apply to all APIs including table API. We don't want to duplicate this info into the FAQs. Instead, I added an FAQ

[2019-10-10 20:30] #40473 closed

[2019-10-10 20:31] dlepow commented on #40274
@eugen-nw - Just to add in case it helps, the supported scenario to add ACI instances from Azure Kubernetes Service is called *virtual nodes* - example doc [here](https://docs.microsoft.com/en-us/azure/aks/virtual-nodes-cli). The lifecycle of the virtual nodes is managed through AKS.

[2019-10-10 20:41] NavtejSaini-MSFT commented on #40531
@mpchen We are checking this and will get back to you.

[2019-10-10 20:45] kaiserguy commented on #12287
I was able to migrate after removing the backup extension from the VM.

[2019-10-10 20:47] rayne-wiselman commented on #40293
Thanks. #please-close

[2019-10-10 20:47] #40293 closed

[2019-10-10 20:51] rayne-wiselman commented on #38431
The feedback is on this specific article  https://docs.microsoft.com/en-us/azure/site-recovery/concepts-on-premises-to-azure-networking. Happy to take feedback on other articles but I can you give me a few more details. Which articles do you think need a revamp, and what do you think isn’t clear or explained well enough.

Cheers!

From: Elan Shudnow <notifications@github.com>
Sent: Monday, Septemb

[2019-10-10 20:56] johndowns commented on #13456
I believe it would be worthwhile to mention the fact that both `$TargetDedicated` and `$TargetDedicatedNodes` are valid. Also, it would be useful to mention what happens if *both* are set - does one take priority?

[2019-10-10 20:59] Karishma-Tiwari-MSFT commented on #40338
Based on offline discussion with @kumarallamraju, assigned the issue to Cynthia as she is working on finding the information from the product team.

[2019-10-10 21:02] SnehaGunda commented on #40162
@sarah026 Thank you, yes the 2 options were recently added to the portal, will update the doc soon.

[2019-10-10 21:04] mirikitomo commented on #40495
It is corrupted, showing the alt text for when an image is not found

Best Regards,

Steven Chaparro
IT enthusiast | Mr. Fixit
M +1.787.672.1366
View my LinkedIn Profile

[2019-10-10 21:07] SaurabhSharma-MSFT commented on #39966
@coryty87 Please let us know if you have any other questions.

[2019-10-10 21:10] prashanthmadi opened #40538 "provide info on recent releases"
could you add info on recent releases
https://search.maven.org/artifact/com.microsoft.azure/azure-documentdb/2.2.3/jar

ofcourse.. github doesnt has code @ https://github.com/Azure/azure-documentdb-java/
and doesn't even has info on recent versions

reported on it at below link earlier
https://github.com/Azure/azure-documentdb-java/issues/108

---
#### Document Details

⚠ *Do not edit this section

[2019-10-10 21:12] MicahMcKittrick-MSFT commented on #40525
So looks like the cluster is essentially toast. Can you remove the cluster and deploy a fresh one? You can do this via the SF icon tray.

[2019-10-10 21:18] rido-min opened #40539 "Circular links for IoT Edge TOC under "Related" node"
The TOC has a link to Azure IoT Edge in the Related Node, that links to the overview of the same collection

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef994221-bfeb-9aa0-4ee1-5a264b4d921f
* Version Independent ID: 51f776a0-4460-90d8-80de-5c444ca0adff
* Content: [What is Azure IoT Edge](https://docs.microsoft.com/en

[2019-10-10 21:24] Karishma-Tiwari-MSFT commented on #39430
We will now close this issue. Please share the update when you are ready. I will reopen it and we will gladly continue the discussion. :)

[2019-10-10 21:24] #39430 closed

[2019-10-10 21:30] Xellarant opened #40541 "CSharp Code sample"
In the simplified code block of the Profile Action, the access token is stored in a variable called accessToken and seemingly not used in the following statements whereas the Authorization Header is added using a variable called "result" which was previously not mentioned. There therefore seems to be some error in consistency and logic there (possibly caused by updates to the code base?).

---
###

[2019-10-10 21:36] igorjnz opened #40542 "CNAME domain validation for SSL certificate"
Hello, I've created my CNAME records that points to the azure fd Url. When I ping my address however it resolves to the msedge.net URL. Will this prevent domain validation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 105783bc-d51e-c199-7c51-1475bc9fbaa0
* Version Independent ID: 114c01b8-8b95-ff91-98c5-fd44b12ac6fc

[2019-10-10 21:40] MicahMcKittrick-MSFT commented on #40529
@CharmanderJieniJieni the feature here does not add a delay of termination. Rather, when a termination operation is set, the Azure metadata service works to determine if there are operations that need to be completed prior to the termination of the node. Setting up terminate notifications sets a max limit that the instance will delay the terminate operation before forcing it to go through.

So in

[2019-10-10 21:40] sergaz-msft commented on #40097
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-10 21:40] #40097 closed

[2019-10-10 21:43] MladjoA commented on #29468
@KalyanChanumolu-MSFT , @v-thepet
I just signed off [PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/91322) that should address all issues reported.

[2019-10-10 21:58] femsulu commented on #40500
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-10-10 22:00] MicahMcKittrick-MSFT commented on #40529
@CharmanderJieniJieni I confirmed with some members offline to better understand this.

When the terminate notification is set, the metadata service will simply set a time (based on user specified notBeforeTimeout) when Azure is supposed to clean up the VM. Without this timer, Azure can clean up the VM at any time after the delete is triggered. The idea behind this feature is to hold the VM in ‘de

[2019-10-10 22:01] FrankHu-MSFT commented on #40328
@DeanGross Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day tomorrow. Please file a new git issue with a reference to this one if you have anymore concerns. Thanks

[2019-10-10 22:01] FrankHu-MSFT commented on #40423
@swake457 Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day tomorrow. Please file a new git issue with a reference to this one if you have anymore concerns. Thanks

[2019-10-10 22:01] MarileeTurscak-MSFT commented on #40299
Someone from the team has replied, "As far as I know a token for AAD API is requested  when using Visual Studio, so despite whether we have it on the list, excluding/including it would not make a difference."

Getting confirmation though.

[2019-10-10 22:03] femsulu commented on #40504
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-10-10 22:03] stevestein commented on #28385
@AkoleStatoil - I'll seee if I can get any info.  Thanks for the nudge!

#reassign:stevestein

[2019-10-10 22:03] philipdemaree opened #40543 "Unable to connect to Azure IoT Hub using 1.6.2 firmware"
Hi - I went through the steps provided, but I do not see any telemetry being sent to IoT Hub. using Tera Term I am seeing the following errors:

2019-10-10 19:18:38 ERROR: base64_utility.c (ln 201): Invalid length Base64 string!
2019-10-10 19:18:38 ERROR: sastoken.c (ln 217): Unable to decode the key for generating the SAS.
2019-10-10 19:18:38 ERROR: iothub_client_authorization.c (ln 460): Failed

[2019-10-10 22:06] stevestein commented on #32134
I'll look into the current behavior and verify/update the doc if needed.  Thanks!

#reassign:stevestein

[2019-10-10 22:07] stevestein commented on #33317
I'll look into updating the doc with this info.

#reassign:stevestein

[2019-10-10 22:07] rwike77 commented on #32264
@hpsin, do you know the behavior if pass through authentication is enabled? Thanks.

[2019-10-10 22:09] stevestein commented on #34764
I'll look into updating the article with this info.  Thanks!

#reassign:stevestein

[2019-10-10 22:09] KranthiPakala-MSFT commented on #40411
@isamllr Could you please refer to this doc : [Prepare your Azure Data Lake Storage Gen2 for Power BI](https://docs.microsoft.com/en-us/power-bi/service-dataflows-connect-azure-data-lake-storage-gen2#prepare-your-azure-data-lake-storage-gen2-for-power-bi)

Please let us know if you have any further query.

[2019-10-10 22:10] stevestein commented on #35729
Thanks for the feedback. I'll take a look and see if there's anything we can add to the article.

#reassign:stevestein

[2019-10-10 22:13] aaronfury commented on #16942
These "typos" are still present under the "Policy Settings" section.

[2019-10-10 22:17] stevestein commented on #36515
@thecherrytree - Let me take a look and see if I can find someone who can assist on this.  Thanks!

#reassign:stevestein

[2019-10-10 22:18] walsehgal opened #40544 "Issue configuring environment"
Hi,

I am facing issues while configuring the environment using the project settings. I have a requirements file with the required packages for the project. Even though its being configured properly, the behavior while importing the package in the notebook's script is inconsistent. This method is working for one of my projects and not for the other.

Getting a "ModuleNotFoundError" error.

Thanks,

[2019-10-10 22:21] kgremban commented on #40096
Yes, the runtime images are hosted in an Azure container registry. If this is an issue for your networking configuration, you could look into importing the runtime images into your own registry. Then you'd just be responsible for keeping the images updated, and pointing to your registry URIs in the config.yaml file and deployment manifests.

[2019-10-10 22:24] mpchen opened #40545 "Is enabling storage account protection in ASC same as enabling ATP for each storage account?"
Wondering what happens when I enable standard plan for storage accounts in ASC. Is it the same as enabling Advanced Threat Protection for all storage accounts under a subscription?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a86f0a4-9a69-c9a2-64eb-ae1768574781
* Version Independent ID: fc95961e-8bab-7951-814f-33eb9

[2019-10-10 22:26] raztiff commented on #40503
You wouldn't have a body in a GET request @sukhoi1 surely? I know technically you could, however this goes against HTTP semantics... Try POST, PUT, or other verb more semantically appropriate for your task.

[2019-10-10 22:30] amarnathprofisssional commented on #40210
Hi any update on this?

[2019-10-10 22:33] jgwinner commented on #39759
Thank you!

That may be, but I'm not sure if you're testing the same. Did you create a brand new domain in O365, change the primary domain name, then create the OnPrem domain and try the sync? That's the use case that most mid-market IT shops are going to do. I've done it 3 times now, and in all 3 O365 accounts have spurious "failed replication" scenarios.

I will give you screenshots.

I have a (

[2019-10-10 22:43] MarileeTurscak-MSFT commented on #40299
Visual Studio App Center, appId = 6201c56d-46d7-4152-bdb6-e0c77193784b is supported for conditoinal access. If you have the service principal for that application in your tenant, then you should see it in the app picker.

You need to have a ServicePrincipal in your tenant for the app id.

It just doesn't show up automatically there, but I'm leaving feedback about this to the owners of that app.

[2019-10-10 22:43] sergaz-msft commented on #40514
Hi @nayrangnu can you provide one or two examples for reference? Thank you!

[2019-10-10 22:43] MarileeTurscak-MSFT commented on #40299
Closing this out for now, but if you have further questions feel free to tag me in the comments or email me at AzCommunity@microsoft.com, and I will gladly continue the discussion.

[2019-10-10 22:43] #40299 closed

[2019-10-10 22:44] tfitzmac commented on #39259
@iricigor - thanks for this feedback. I tested some scenarios and noticed the issue you described with availability sets. However, for a VM with a VNET that has dependent resources, I was able to move the vm to a new resource group, but not a new subscription. I have submitted an update to the article.

[2019-10-10 22:45] djpmsft commented on #40503
As @raztiff said, this is the expected behavior for a GET request.

By design, only POST, PUT and other verbs support having a body per HTTP semantics.

#please-close

[2019-10-10 22:45] #40503 closed

[2019-10-10 22:45] MicrosoftGuyJFlo commented on #40415
@porrascarlos802018 Can you provide more detail I am not sure what you are asking?

[2019-10-10 22:48] MicrosoftGuyJFlo commented on #40214
#please-close

[2019-10-10 22:48] #40214 closed

[2019-10-10 22:53] sergaz-msft commented on #40539
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-10 22:54] MGoedtel commented on #40504
I'll bug the article and rewrite that section as a few other small things stand out that bothers me.  #in-progress. Basically if you are attempting to reuse the same name, you have to wait until after the soft-delete period in order to recreate the workspace with that name.

[2019-10-10 22:56] FreeSMIME opened #40546 "Azure AD Portal / Properties tab / Enable Security Defaults button has broken link"
# Azure documentation issue guidance
This page references the azure properties page.
https://docs.microsoft.com/en-us/azure/role-based-access-control/elevate-access-global-admin

The Azure portal itself has a broken documentation link that goes here:
https://aka.ms/securitydefaults

Click on "Manage Security defaults" in the properties page to access this. Not sure if this a documentation issue or

[2019-10-10 23:01] dlepow commented on #40104
Updated docs, so closing this issue.
#please-close

[2019-10-10 23:01] #40104 closed

[2019-10-10 23:09] dlepow commented on #39222
@hjlarrea - The updated article referring to bind mounts has been published, and I'm closing this issue. Thanks for your suggestion!

For your question about plans to mount shares/volumes as Docker volumes, I'm not aware of plans currently. Please feel free to post your idea at [Azure UserVoice](https://feedback.azure.com/forums/602224-azure-container-instances) for others in the community to vote

[2019-10-10 23:09] dlepow commented on #39222
#please-close

[2019-10-10 23:09] #39222 closed

[2019-10-10 23:23] himanshusinha-msft commented on #40507
@mdragt  We have assigned the issue to the content author . They will evaluate & update the document as appropriate .

[2019-10-10 23:24] SaurabhSharma-MSFT commented on #40545
@mpchen Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-10 23:24] ToruMakabe commented on #40462
@dlepow Thanks! It works for me with the tag too. Please close this issue after the fix.

[2019-10-10 23:27] dlepow commented on #38425
@XuzhouHuang - In the meantime, we've updated the recommended way to establish authentication from AKS to an Azure container registry, now documented [here](https://docs.microsoft.com/en-us/azure/aks/cluster-container-registry-integration). As noted in that article, configuring authentication requires the Owner or Azure account administrator role on the Azure subscription. I hope this information

[2019-10-10 23:27] #38425 closed

[2019-10-10 23:41] robsonaaron commented on #40458
The Sign-in error code 53009 is not in this document.

[2019-10-10 23:46] juwuanturnerhoward commented on #40525
I removed the local cluster and then setup 1 Mesh Node.
I checked the state of the cluster after setting up the Mesh node and everything is green with 1 node, 2 applications, 2 services, 2 partitions, and 2 replicas. All green.
I opened VS as an admin and deployed to the local Service Fabric Cluster.
[code]

[2019-10-10 23:59] fafg commented on #40513
I have the same issue

[code]
is there something related to the resource provider on the subscription?

[2019-10-11 00:20] MarileeTurscak-MSFT commented on #40541
@Xellarant
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-11 00:28] #40431 closed

[2019-10-11 00:28] TravisCragg-MSFT commented on #40410
@theheatDK You will need a dedicated line that you either lay yourself or one provided by someone else that you have management of. If you are interested in having an ExpressRoute Direct and this is something that you can feasibly do, email ExpressRouteDirect@microsoft.com for more information.

[2019-10-11 00:29] mamccrea commented on #40507
Hi @mdragt! Unfortunately, these articles are not editable; however, if you see an issue or want to make an update, please let us know and we'll work with the authors to get the article updated.

[2019-10-11 00:32] tdevere opened #40547 "Images are received but no thumbnail is generated"
Following the sample lead to the situation that images are sent to browser and end up in blog storage (verified through Azure Portal \ storage explorer). However, no thumbnail is generated and no thumbnails end up in blob storage either. I've tried several pic types and sizes. I ran it through fiddler as well hoping to catch some failure on response. I see nothing.

Would you have suggestions for

[2019-10-11 00:37] FrankHu-MSFT commented on #40506
Hello the docs I think you're looking for is located here : https://docs.microsoft.com/en-us/azure/iot-central/howto-manage-users-roles

What is the error that you're getting? There shouldn't be any rules, from the docs:
[code]

Are you sure you have the right permissions in your aad tenant to assign roles/permissions?

[2019-10-11 00:40] tanmaygore commented on #39259
@dochung4 can you please validate the correctness of the above move operation.

[2019-10-11 00:44] FrankHu-MSFT commented on #40511
Hey @baSSiLL are you sure you're following the flow correctly? And did you setup your AAD Application Registration as a web app? What is the request that you're sending that and what is the exact error that you're receiving?

[2019-10-11 00:44] FrankHu-MSFT commented on #40530
Hey @richardpomerleau it looks like this is correct, we're currently some more people to look into this issue and to apply the correct text to the documentation.

Thanks for letting us know about this issue!

[2019-10-11 00:48] FrankHu-MSFT commented on #40320
Hey @rmaziarka, I see, we're currently looking into this issue further and will let you know more once we have an update thanks for letting us know about this issue!

[2019-10-11 00:51] RyanHill-MSFT commented on #40098
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-11 00:51] #40098 closed

[2019-10-11 00:53] Chai-NED opened #40548 "Please clarify AD requirements"
I don't have AADDS. My environment is Onprem AD to AAD synced via AD Connect.

User A inWindows AD ---&gt;AD Connect ----&gt; UserA AAD

Is this supported? If I may suggest, please add a diagram/drawing to elaborate the AD/AAD/AADDS combinations that WVD support.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2eeca14-

[2019-10-11 01:01] femsulu commented on #40180
@juchen0411
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-10-11 01:01] #40180 closed

[2019-10-11 01:01] Chai-NED opened #40549 "Users from onprem AD really not supported?"
"Windows Virtual Desktop only supports Azure AD Domain Services users who are sourced from Azure Active Directory. Users sourced from Windows Server AD are not supported at this time."

Does this mean I currentlyneed AAD DS for WVD to work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2eeca14-80ef-c0b4-2719-80ceb286

[2019-10-11 01:04] Karishma-Tiwari-MSFT commented on #40274
Thanks @dlepow
@eugen-nw We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-10-11 01:04] #40274 closed

[2019-10-11 01:04] Karishma-Tiwari-MSFT commented on #40238
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-10-11 01:04] #40238 closed

[2019-10-11 01:08] DCtheGeek commented on #40501
With **enforcementMode** _Disabled_, the effect isn't relevant (implicit deny or otherwise) as the effect is essentially ignored during evaluation. The resource is either compliant or non-compliant, but no effect takes place.  The implicit Deny scenario is more about a policy definition that might have only been an Audit, that due to the template function error becomes an implicit Deny and blocks

[2019-10-11 01:11] JasonWHowell commented on #40016
#reassign:guyhay

[2019-10-11 01:13] JasonWHowell commented on #40016
@guyhay this may be related to the topics we talked about today. I think you are working on this topic for the other issue, so please incorporate this request if you can. Thanks, Jason

[2019-10-11 01:14] lijun1234 opened #40550 "Do we need to run sysprep?"
Microsoft has another post https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-custom-images, showing how to create master image and bring up vm from master image. One of the step to prepare VM is to run sysprep but this step is missing here. So confused if to create image sysprep is required or can be ignored?

---
#### Document Details

⚠ *Do not edit this section. It is req

[2019-10-11 01:29] makotog opened #40551 ""net localgroup" is correct"
"net localgroup" is correct command to add user to local group

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 740d8b1d-7a60-9c21-5eec-11cb6a623b9d
* Version Independent ID: f728db3a-a2a9-cf29-f2f9-daea26052093
* Content: [Troubleshoot Windows 7 virtual machines in Windows Virtual Desktop - Azure](https://docs.microsoft

[2019-10-11 01:33] KrishnaG-MSFT commented on #40532
@holyyyns Hope you have self resolved the issue and hence closed the issue. Thanks for the update. In future, if you share any feedback under this azure-docs repo then please mention Azure documentation link / URL to which feedback is related to. This helps us to provide you better assistance.

[2019-10-11 01:35] KrishnaG-MSFT commented on #40534
@holyyyns Hope you have self resolved the issue and hence closed the issue. Thanks for the update. In future, if you share any feedback under this azure-docs repo then please mention Azure documentation link / URL to which feedback is related to. This helps us to provide you better assistance.

[2019-10-11 01:39] susan-wangyi commented on #40517
@MicahMcKittrick-MSFT Thanks for your response. The doc has been changed, and the trim related part seems having been removed. But I have a screenshot for it, and the content is as below:

"
One last recommendation: Use TRIM with unmanaged standard disks
If you use unmanaged standard disks (HDD), you should enable TRIM. TRIM discards unused blocks on the disk so you are only billed for storage tha

[2019-10-11 01:41] KrishnaG-MSFT commented on #40519
@bandersmsft Thanks for the quick response.

[2019-10-11 01:47] MaximRouiller commented on #37847
Question. Are you configuring `Microsoft` or `Azure Active Directory`?

![image](https://user-images.githubusercontent.com/209384/66618011-79f8f200-eba5-11e9-98fc-8d9fb6cc9e69.png)

If you are using `Microsoft`, it means that you need to be using the right setting. By default, it will register by AAD as shown in the following screenshot.

![image](https://user-images.githubusercontent.com/209384/6

[2019-10-11 01:49] MicahMcKittrick-MSFT commented on #40517
@susan-wangyi ah okay got it :) Thanks for explaining. I will take a look and provide an update.

[2019-10-11 01:53] Karishma-Tiwari-MSFT commented on #40528
@timwebster9 Can you please take a look at this thread and share if this is what you are looking for?
https://github.com/Azure/azure-cli/issues/7805
https://github.com/Azure/azure-cli/issues/7805#issuecomment-537461340

[2019-10-11 02:03] dancs85 opened #40553 "Get-NSGFlowLogReadBlock function truncates by 1 character"
In the Get-NSGFlowLogReadBlock function, the call to method 'DownloadRangeToByteArray' specifies '$($blockList[$i].Length-1)' as the length of the block to retrieve. This truncates the final '}'.

it should be changed to '$($blockList[$i].Length)'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1fa6c20-b0a4-a593-ae3f-c

[2019-10-11 02:15] cwiederspan opened #40554 "FAQ Bullet List is Messed Up"
If you search for "Does Status Monitor v2 support ASP.NET Core applications?" on this page, you'll see a duplicate set of Q&A pairs in the bulleted list (although one of them doesn't actually have the bullet dots).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43cf9378-5ca3-0c40-3e02-aa89daa752f9
* Version Independent

[2019-10-11 02:19] sanjaybhagia commented on #39178
Hi,
No worries.  Yes that is the piece of code that should return 409 if any of those givenNames are passed but the end-point is always returning 200.
Just to be clear, I didn't make any changes in the code, I'm simply consuming the end-point that is mentioned in the policy:
https://wingtipb2cfuncs.azurewebsites.net/api/CheckPlayerTagWebHook?code=L/05YRSpojU0nECzM4Tp3LjBiA2ZGh3kTwwp1OVV7m0SelnvlRV

[2019-10-11 02:22] dancs85 opened #40555 "Old object name"
All entries for 'Microsoft.WindowsAzure.Storage.Blob.CloudBlockBlob' should be changed to 'Microsoft.Azure.Storage.Blob.CloudBlockBlob'.

The PS code will not work otherwise

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1fa6c20-b0a4-a593-ae3f-caa62aedd89c
* Version Independent ID: e6cae9b1-e822-894e-11ff-985d305743cc

[2019-10-11 02:46] mike-urnun-msft commented on #40527
@FISHMANPET Thank you for your feedback! We will review and update as appropriate.

[2019-10-11 02:50] BharathNimmala-MSFT commented on #40554
@cwiederspan Thank you for getting this to our notice. We will work to fix this and update the thread accordingly. Thanks

[2019-10-11 02:52] pyoungberg opened #40557 "SSPR/MFA Preview Experience and App Passwords"
If we're using the preview experience for MFA (Azure Portal &gt; Azure AD &gt; User Settings &gt; Manage User Feature Preview Settings &gt; Users can use preview features for registering and managing security info – enhanced &gt; All) is there any way for users to create app passwords? I can see previously created app passwords when signing into https://mysignins.microsoft.com/security-info, but i

[2019-10-11 03:02] pyoungberg commented on #36338
+1 Following

[2019-10-11 03:21] KalyanChanumolu-MSFT commented on #40489
@M-H-Mukit We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-10-11 03:21] #40489 closed

[2019-10-11 03:25] KalyanChanumolu-MSFT commented on #40538
@prashanthmadi Thank you for the feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-10-11 03:27] KrishnaG-MSFT commented on #40471
@seanli1988 Verified and updated the document as required. Thanks.

[2019-10-11 03:27] #40471 closed

[2019-10-11 03:28] KrishnaG-MSFT commented on #40502
@DeanGross Verified and updated the document as required. Thanks.

[2019-10-11 03:28] #40502 closed

[2019-10-11 03:54] HiroyukiSakoh opened #40561 "Has the rules for RouteTable and NSG changed?"
1.
The route table was applicable until a month ago, but it is not possible now.
Error Message:"Route Table XXXX cannot be attached to Azure Bastion Subnet AzureBastionSubnet"
In a forced tunneling environment, a route table is required when a request from the Internet is returned directly to the Internet.
I want to change so that the route table can be applied.

2.
Error Message:"Network security

[2019-10-11 04:16] fowl2 commented on #17996
is there a way of obtaining this information from PowerShell?

[2019-10-11 04:28] souravmishra-msft commented on #40561
@HiroyukiSakoh , Thank you for sharing the query. We are looking into this and will get back to you soon on this thread.

[2019-10-11 04:31] souravmishra-msft commented on #40557
@pyoungberg, Thank you for sharing the query. We are looking into this and will be back to you soon on this thread.

[2019-10-11 04:33] souravmishra-msft commented on #40546
@FreeSMIME, Thank you for pointing this to us. We are looking into this and after review will update the doc accordingly.

[2019-10-11 04:35] souravmishra-msft commented on #40533
@RikardStrand, Thank you for sharing the query. We are looking into this and will get back to you soon on this thread.

[2019-10-11 04:39] souravmishra-msft commented on #40555
@dancs85, Thank you pointing it out. We are looking into this and will update the doc accordingly after review.

[2019-10-11 04:39] KetanChawda-MSFT commented on #40330
@brandonh-msft Checking in to see if the above post helped answering your question.

[2019-10-11 04:39] KetanChawda-MSFT commented on #40419
@SABARISHV06 Did you get a chance to see my last post?

[2019-10-11 04:40] souravmishra-msft commented on #40553
@dancs85 , Thank you for sharing the query. We are looking into this and will get back to you soon on this thread.

[2019-10-11 04:41] VikasPullagura-MSFT commented on #40551
@makotog Thanks for your feedback. We are looking into this and will update you shortly.

[2019-10-11 04:43] souravmishra-msft commented on #40547
@tdevere, Thank you for sharing the query. We are looking into this and will get back to you soon on this thread.

[2019-10-11 04:45] VikasPullagura-MSFT commented on #40550
@lijun1234  Thanks for your query. We are looking into this and will update you.

[2019-10-11 04:45] souravmishra-msft commented on #40544
@walsehgal, Thank you for sharing the query. We are looking into this and will get back to you soon on this thread.

[2019-10-11 04:48] souravmishra-msft commented on #40543
@philipdemaree , Thank you for sharing the query. We are looking into this and will get back to you soon on this thread.

[2019-10-11 04:48] VikasPullagura-MSFT commented on #40549
@Chai-NED Thanks for your query. We are looking into this and will update you.

[2019-10-11 04:49] VikasPullagura-MSFT commented on #40548
@Chai-NED Thanks for your feedback. We are investigating this and will update you.

[2019-10-11 04:49] souravmishra-msft commented on #40542
@igorjnz, Thank you for sharing the query. We are looking into this and will get back to you soon on this thread.

[2019-10-11 04:53] souravmishra-msft commented on #40536
@jahobson75, Thank you for sharing the query. We are looking into this and will get back to you soon on this thread.

[2019-10-11 04:55] souravmishra-msft commented on #40535
@holyyyns , Thank you for pointing it to us. We are looking into this and will update the doc accordingly after review.

[2019-10-11 04:59] souravmishra-msft commented on #40518
@tiandklerk, Thank you for updating us on this issue. We are looking into this and will get back to you soon on this thread.

[2019-10-11 05:01] souravmishra-msft commented on #40516
@ekpgh, Thank you for pointing this out to us. We are looking into this and will update the doc according after review.

[2019-10-11 05:04] cawrites commented on #40458
@robsonaaron thank you for clarifying your request. We appreciate your input; we're constantly working on ways to improve our content. We understand the need to have relevant information regarding error codes. Our team is aware this is a priority and we have noted your request. As we update the content we will take your suggestions into consideration.

[2019-10-11 05:07] KetanChawda-MSFT commented on #40527
@FISHMANPET `Deployment Center` feature is not available for Linux Function App running on a Consumption Plan.

you can check the tool-tip message by navigating to Azure Function --> Platform Feature --> All Settings --> hover on Deployment Center

![image](https://user-images.githubusercontent.com/28587628/66625659-d47c6780-ec12-11e9-9bf8-6dced70267c5.png)

Azure Pipelines is the recommended appr

[2019-10-11 05:18] tehtertot commented on #39133
I'm not trying to be difficult, and I acknowledge that I am relatively new to this process, but to get anything into the master branch to then test the publish branch, I have to complete a PR. Lately I have been testing various configurations on a for each activity to get the best performance, and had to create a different PR for each configuration because debug mode doesn't support concurrent run

[2019-10-11 05:18] KalyanChanumolu-MSFT commented on #40366
@daniellittledev We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-10-11 05:18] #40366 closed

[2019-10-11 05:21] gokberkkaraca commented on #40303
Hi @MarileeTurscak-MSFT

Do you have any updates on this? We need this information before the legacy app registration becomes unavailable, since we may need to take actions.

Thanks!

[2019-10-11 05:24] dcurwin commented on #40229
#assign:saurabhsensharma

[2019-10-11 05:24] dcurwin commented on #40229
#reassign:saurabhsensharma

[2019-10-11 05:25] dcurwin commented on #40228
#reassign:sogup

[2019-10-11 05:25] KalyanChanumolu-MSFT commented on #40223
@AEIOU-fhir Its been a while we heard back from you. We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-10-11 05:25] #40223 closed

[2019-10-11 05:41] philipdemaree commented on #40543
I was able to connect after using a console terminal connected to the device. For some reason the connection string was not being saved correctly through the browser connection to http://192.168.0.1.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: souravmishra-msft <notifications@github.com>
Sent: Thursday, October 10, 2019 9:48:24 PM
To: MicrosoftDocs/azure

[2019-10-11 05:41] DixitArora-MSFT commented on #40278
@timmyreilly For now will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-11 05:41] #40278 closed

[2019-10-11 05:45] msrini-MSFT commented on #40497
@Euripedes68 ,Do you have any update on this issue?

[2019-10-11 05:46] msrini-MSFT commented on #40452
@klogan12 ,Do you have any update on this issue?

[2019-10-11 05:46] msrini-MSFT commented on #40418
@Milanski ,Do you have any update on this issue?

[2019-10-11 05:47] msrini-MSFT commented on #40414
@ketaanhshah ,Do you have any update on this issue?

[2019-10-11 05:48] larsathle commented on #40208
@cephalin - I suggest an edit to the header of the mentioned examples from "Azure CLI" to "bash". Then it'd be clear for those that aren't fluid in both bash and PowerShell, and it'd match the other parts of the same page.

Thanks.

[2019-10-11 05:49] VikasPullagura-MSFT commented on #40487
@cynthn Assigning the issue to you please add further updates on this.

[2019-10-11 05:51] msrini-MSFT commented on #40542
Can you navigate to Dig Interface (https://www.digwebinterface.com/) and query for the custom domain FQDN?

As long as you see a record pointing to AFD, it should work.

[2019-10-11 05:55] msrini-MSFT commented on #40535
@holyyyns , private Endpoint has a NIC which has a Private IP which belongs to the VNET. You can think of accessing a VM from On-Prem as it has a Private IP address in place.

If you are trying to access a storage account via Private endpoint from On-Premises, then you need to make sure that your Storage blob URL is resolving to the Private endpoint IP. So the traffic goes via your VPN tunnel rath

[2019-10-11 05:56] zilberd opened #40564 "Azure DevOps Administrator is missing in the portan and in the Role template IDs list"
Azure DevOps Administrator is missing in the list of Role template IDs.

I can't see it in the portal neither.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Independent ID: a380a828-03f9-e037-3a62-e4165fda7cb6
* Content: [Administrator role descriptions and permissions -

[2019-10-11 06:01] msrini-MSFT commented on #40536
@gsilva5 , Can you validate and update the documentation?

[2019-10-11 06:02] rehantahir commented on #16455
Hi
According the following paragraph, one can evade TLS security to SQL database.

"Managing databases and servers within Azure is controlled by your portal user account's role assignments. For more information on this article, see Role-based access control in Azure portal. Controlling access with firewall rules does not apply to a managed instance. Please see the following article on connecting t

[2019-10-11 06:04] SogoGolf opened #40565 "what is the "slotSetting" pararameter used for ?"
can you explain this in the docs ?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e25899c-1ed8-7cfc-2c37-73bb010a87f0
* Version Independent ID: 8b366c42-43f8-d5eb-b619-b356e75a9916
* Content: [Configure apps in the portal - Azure App Service](https://docs.microsoft.com/en-au/azure/app-service/configure-common)
* Conte

[2019-10-11 06:11] dcbrown16 opened #40566 "Applicability to Managed Instance"
Are the approaches here equally valid in Managed Instance DBs? For example, can we use the database objects size query there?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d159ae2-da25-63a1-2f90-124c158ffd7e
* Version Independent ID: 6226c3b2-0a5b-c762-540b-f1c9eaea1b41
* Content: [Monitoring performance Azure SQL Da

[2019-10-11 06:11] PramodValavala-MSFT commented on #40270
@brandonh-msft Hope my previous comment clears things up.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-11 06:11] #40270 closed

[2019-10-11 06:11] PramodValavala-MSFT commented on #40308
@udderchaos Hope my previous comment clears things up.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-11 06:11] #40308 closed

[2019-10-11 06:16] PramodValavala-MSFT commented on #40191
@Majakrigaren Yes.

For protection of your back ends, you could also consider using either

- [Client Certificate Authentication](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-mutual-certificates)
- [Azure AD](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-protect-backend-with-aad) + [Managed Identity](https://docs.microsoft.com/en-us/azure/

[2019-10-11 06:16] #40191 closed

[2019-10-11 06:21] madhanan opened #40567 "[Update] - What are the global modules ?"
Kindly requesting for an update
What are the global modules, as it is mentioned in the Notes. But not clearly defined.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55d92628-d657-759d-d301-06029cd61138
* Version Independent ID: ca381b85-2be5-24af-be18-00c13a7e53df
* Content: [Update Azure modules in Azure Automation](

[2019-10-11 06:31] madhanan opened #40568 "[New Feature Request] Provisioning of Checkbox in each Module to update"
Dear Team,

Greetings from my end. :)

For updating a module, it seems to be a huge workaround. I feel that it is not user friendly.
Example: If you want to open the car door of your choice, Your module update method is like
1. First Open the boot of the car
2. Press one button to open the car door of your choice and get inside the car

Not to be rude, but for providing better UX
1. Please Provisi

[2019-10-11 06:31] SwathiDhanwada-MSFT commented on #40567
@madhana Thanks for your comment. We are actively investigating and will get back to you shortly

[2019-10-11 06:34] souravmishra-msft commented on #40210
@amarnathprofisssional, Few parts of the SAML response totally depends on what is specified in the SAML assertion, that you are sending to the ADFS server. By that I mean, the following tags:

1. <a:To s:mustUnderstand="1">
2. <o:Username>
3. <o:Password Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText">
4. <a:Address>

Now based on the values i

[2019-10-11 06:49] msrini-MSFT commented on #40555
PR: https://github.com/MicrosoftDocs/azure-docs/pull/40569

[2019-10-11 06:50] BharathNimmala-MSFT commented on #40193
@unmeshM Thanks again for your question, assigning this issue to our Product team to further evaluate the ask.

[2019-10-11 06:51] smoms commented on #40096
@kgremban ok thanks

[2019-10-11 06:54] KrishnaG-MSFT commented on #40568
@madhanan Thanks for the great feedback / new feature request to provision checkbox in each module to update. However, this azure-docs GitHub repo is primarily for document related enhancements so I would recommend that [this](https://feedback.azure.com/forums/246290-automation) UserVoice / feedback forum is the right place to share feedback / new feature request related to this Product. The same

[2019-10-11 06:55] Milanski commented on #40418
@msrini-MSFT Yes, the reference link helped me. Thank you very much

[2019-10-11 06:55] #40418 closed

[2019-10-11 07:01] Boombasteg commented on #40115
We have only 4 out of 24 repositories with such image naming and they updates rarely. So we decide to purge them manually.

[2019-10-11 07:01] #40115 closed

[2019-10-11 07:02] msrini-MSFT commented on #40553
@KumudD , Can you validate and update the doc?

[2019-10-11 07:09] msrini-MSFT commented on #40555
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/91390

[2019-10-11 07:10] SnehaAgrawal-MSFT commented on #40451
@chadsowald Thanks again for the feedback! You may refer to below doc links for importing and auto-renewal of certificates
https://docs.microsoft.com/en-us/azure/key-vault/certificate-scenarios#import-a-certificate
https://docs.microsoft.com/en-us/azure/key-vault/about-keys-secrets-and-certificates
Let me know if this helps.

[2019-10-11 07:12] holyyyns commented on #40535
I've also expected it to work that way, but service which has this private endpoint ip linked to is not available through IP address. Connection is working only if you set up private dns zone and use alias.

[2019-10-11 07:29] KrishnaG-MSFT commented on #40463
@ElanShudnow The [referred](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/agent-windows) Azure document primarily explains about connecting windows computers by various approaches using

- agent msi and setup wizard
- agent exe and command line
- agent exe and DSC in Azure Automation

But for Windows and Linux virtual machines which are already deployed in Azure, you can install th

[2019-10-11 07:31] msrini-MSFT commented on #40535
@holyyyns , what service did you linked with the Private link?  For On-Premises DNS resolution won't work with Private DNS. So you need to configure your On-Prem DNS to point to Azure Private endpoint for the service which you are trying to acces the privately.

[2019-10-11 07:43] xenogew opened #40570 "Call the 'predictor.predictions().predictImage().withProjectId(UUID.fromString("..."))' found request error"
I implement on the Android system application using Kotlin
I only want to call Predict from the byte array data only.
So, I don't need to create trainer object, and I have project/prediction keys thing.
Can I use `.withProjectId(UUID.fromString("my_project_uuid_string")` to call the service?
And the result of what I did with the question that I asked you, is got an error "Resource not found".
What

[2019-10-11 07:44] holyyyns commented on #40535
service in question is sqlserver. I'm aware of that, thats why i'm trying to access service with IP address so i can configure onprem dns.
Error message when trying to access via IP "Cannot open server "*.*.*.*" ( private ip ) requested by the login."

[2019-10-11 07:47] msrini-MSFT commented on #40535
I would suggest you to test the connectivity with IP and port using telnet or psping. Once that test is passed, you can try to configure your DNS server.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: holyyyns <notifications@github.com>
Sent: Friday, October 11, 2019 1:14:33 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Karthik Sriniva

[2019-10-11 07:57] siddharth-vaghasia opened #40571 "Need to update documentation with supported data sources"
As per this documentation, supported data sources are marked as only 4.

Azure SQL
Azure Cosmos DB
Azure Blob Storage
Azure Table Storage

But now I think below 1 is also supported
SQL Server on Azure VM

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a012c5b-57eb-0072-3258-2272d6dbfbfb
* Version Independent ID: e9320b

[2019-10-11 08:11] jmprieur commented on #40541
Fixing by PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/91395

[2019-10-11 08:17] #40541 closed

[2019-10-11 08:19] samhodgkinson commented on #40386
To provide further example;

Is supported
                "imageReference": {
                         "publisher": "Canonical",
                        "offer": "UbuntuServer",
                        "sku": "18.04-LTS",
                        "version": "latest"
            },

Isn't supported
            "imageReference": {
                "publisher": "center-for-internet-security-inc",

[2019-10-11 08:19] holyyyns commented on #40535
funny thing is, i tried both telnet and psping they are both working with privateip:1433 but i can't login.
I can only login when u sing private dns record, same credentials, and they are correct since i'm copying them from KV...

[2019-10-11 08:20] jmprieur commented on #40541
Thanks for the heads-up, @Xellarant
This is fixed and should be online in a few hours.
cc: @MarileeTurscak-MSFT

[2019-10-11 08:27] DixitArora-MSFT commented on #40492
@mikebudzynski Any inputs in this ?

[2019-10-11 08:34] james-stocks commented on #40493
Hi @MarileeTurscak-MSFT -

Thank you very much for looking into this!
The query you suggest works, however I need this to work on very large (>100K) user directories and I'm concerned that `Get-MsolUser` will cause huge amounts of data to be copied about. I was particularly interested in `Get-MsolUserByStrongAuthentication` because that might provide an option that only works with the data of user

[2019-10-11 08:35] holyyyns commented on #40535
After a lot of troubleshooting i finally realized what the issue is.
So, service is indeed available on that ip and port but authentication is not the same as if you're using dns name.
username must be: username@servername
Maybe you should adjust document to reflect that somewhere because if you use dns name you can use only username without @servername.

[2019-10-11 08:37] ashemedai opened #40573 "Weird sentence"
I guess `express health probe.` is superfluous here and needs to be removed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e1e7cb2-c5a7-7122-c729-dc259db99a40
* Version Independent ID: 45c6fd72-5114-fcda-0bab-2d80ac6bed33
* Content: [Use Azure Load Balancer health probes to scale and provide high availability for you

[2019-10-11 08:54] msrini-MSFT commented on #40535
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/91398

[2019-10-11 08:57] holyyyns opened #40574 "Peered Virtual Network with Private endpoints only are not supported"
Hello,

why is this not supported? Is there any specific reason why do we need to deploy additional workload to the peered vnet?
Is this going to be limitation too when service is out of the preview?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b006a616-2f2f-8ecf-8b80-fd0a3cc62090
* Version Independent ID: 92c54dc6-8

[2019-10-11 09:07] msrini-MSFT commented on #40573
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/91401

[2019-10-11 09:19] #40573 closed

[2019-10-11 09:31] ManojReddy-MSFT commented on #40564
@zilberd I can see it in my tenant.
![image](https://user-images.githubusercontent.com/44399320/66641184-e1f81880-ec37-11e9-852e-178261f80b73.png)

Can you share a screenshot of what you see? Also, which command are you running to pull the template ids?

[2019-10-11 09:33] #40482 closed

[2019-10-11 09:38] msrini-MSFT commented on #40574
@holyyyns, it is the current limitation as you need to deploy a resource to enable network connectivity.

There is no ETA which this limitation will be removed. You will get an update once the product is GA.

[2019-10-11 09:38] #40574 closed

[2019-10-11 09:39] ram-msft commented on #40570
@xenogew Thanks for the question. We are investigating the issue and will update you shortly.

[2019-10-11 09:39] MattCrees opened #40575 "iOS 13 Notifications Not Working"
Hi

The iOS code works on a device running iOS 12, when running on a device running iOS 13 the DidReceiveRemoteNotification is never called.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f503e37-b16e-c92c-8668-313428451053
* Version Independent ID: edc66d3e-bf88-3c4d-a148-6288a7022f16
* Content: [Add push notificatio

[2019-10-11 09:41] AmanGarg-MSFT commented on #40482
@ERGeorgiev The changes should go live soon. Thanks again for reporting this.

[2019-10-11 09:50] msrini-MSFT commented on #40561
@HiroyukiSakoh, for the second question, for the Azure Bastion to work, you need to enable port 22 and port 3389.

In the first question, is the default route is advertised from On-Prem to your VNET via BGP? Or you have a UDR to force Internet traffic to VPN gateway?

[2019-10-11 09:59] zilberd commented on #40564
hi

Funny enough, now I see it as well in the portal.

It is still missing in this page in the Role Template IDs section,
https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles#role-template-ids

thanks

[2019-10-11 10:04] SadiqhAhmed-MSFT commented on #40518
@tiandklerk Thanks for the update! Glad to hear it is resolved :)
We will close this thread for now. Feel free to reach out to us if need any further help in this matter.

[2019-10-11 10:04] #40518 closed

[2019-10-11 10:07] HiroyukiSakoh commented on #40561
@msrini-MSFT
I wanted to close 22 when SSH was not needed. Is it absolutely necessary?

Yes. ExpressRoute 0.0.0.0/0 is advertised.

I asked this question because I noticed that the UDR was changed to be unapplicable.
But, I have not yet confirmed that Bastion cannot be connected in the forced tunneling state.
UDR is still applied to the AzureBastionSubnet created last month..

[2019-10-11 10:10] msrini-MSFT commented on #40561
@ashjain , can you take a look?

[2019-10-11 10:13] rehantahir opened #40578 "TLS documentation vague"
Hi
According the following paragraph, one can evade TLS security to SQL database.

**Question: Can you please confirm that the database server will allow non-encrypted connections to Non-Microsoft client drivers. This would mean that the database server does not enforce TLS - please confirm if this is the case. Thanks**

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-10-11 10:25] KalyanChanumolu-MSFT commented on #40566
@dcbrown16 Thank you for reaching out.
Yes you will be able to use the DMV's in SQL managed instance to get database objects size.

Please let us know if you are facing any issues.

[2019-10-11 10:53] bebekim opened #40579 "Typo in 'Create a pipeline run'"
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8423caa5-6655-e1b3-b57c-ac9e99f53965
* Version Independent ID: 686acc4c-a955-c0a4-44a3-2ea2818554f0
* Content: [Copy data in Blob Storage using Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/quickstart-create-data-factory-powershell#create-a

[2019-10-11 11:01] souravmishra-msft commented on #40579
@bebekim, Thank you for sharing the query. We are looking into this and will get back to you soon on this thread.

[2019-10-11 11:03] souravmishra-msft commented on #40578
@rehantahir, Thank you for sharing the query. We are looking into this and will get back to you soon on this thread.

[2019-10-11 11:03] sajames1003 opened #40580 "Directory Role object renamed."
Hi.
The Directory Role object has been changed to Assigned Roles in the portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a408106-8927-9677-fb51-23b45e3edf9a
* Version Independent ID: 414fdd44-2293-0301-d784-c15f34d11829
* Content: [Assign directory roles to users - Azure Active Directory](https://docs.microsoft.

[2019-10-11 11:04] souravmishra-msft commented on #40575
@MattCrees, Thank you for sharing the query. We are looking into this and will get back to you soon on this thread.

[2019-10-11 11:07] souravmishra-msft commented on #40571
@siddharth-vaghasia, Thank you for pointing this out. We are looking into this and will get back to you on this thread.

[2019-10-11 11:12] mustafamg commented on #40249
Many thanks @JasSuri , i'll try it and let you know.
@FrankHu-MSFT thanks for following up. Please give me till next Monday.

[2019-10-11 11:16] rostyslav-diakiv commented on #40554
@BharathNimmala-MSFT

I have submitted a PR to fix this issue: PR #40554 to remove the duplicate paragraph.
Please review.

[2019-10-11 11:21] ManojReddy-MSFT commented on #40580
@sajames1003 Thanks for reporting this.  I will assign this to the author to update the screenshots and the description.

[2019-10-11 11:32] sergaz-msft commented on #40096
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-11 11:32] #40096 closed

[2019-10-11 11:34] ManojReddy-MSFT commented on #40564
@zilberd I have updated it in the Role Template IDs section. The issue will clsoe automically when the PR merges. Thanks again for reporting this.

[2019-10-11 11:48] #40564 closed

[2019-10-11 11:51] w0ut0 opened #40583 "possibleOutboundIPAddresses should be possibleOutboundIpAddresses (without capital "P")"
The field possibleOutboundIPAddresses  is mentioned, but it should be possibleOutboundIpAddresses (when using the --query parameter with the Azure CLI)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c32dd6f-050f-e3f7-569f-42b5efdf3918
* Version Independent ID: 1b3c9880-c5fc-53b2-c8d5-04c5ed4c21b4
* Content: [Inbound/O

[2019-10-11 12:05] MasaSip opened #40584 "A possible typo in command for creating application gateway v1"
In "Create the application gateway", at "for V1 SKU use the below command", should the command be

$appgw = New-AzApplicationGateway -Name appgateway -SSLCertificates $cert -ResourceGroupName "appgw-rg" -Location "West US" -BackendAddressPools $pool -BackendHttpSettingsCollection $poolSetting -FrontendIpConfigurations $fipconfig -GatewayIpConfigurations $gipconfig -FrontendPorts $fp -HttpListeners

[2019-10-11 12:07] mikeblakeuk opened #40585 "TransferAzureBlobToAzureBlob has isServiceCopy set to true"
In the `TransferAzureBlobToAzureBlob` example, There are 2 calls to `CopyAsync`
One is true (in the main copy) one is false (in try catch). Should they both be `false`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccebf561-f09a-42ae-ece7-1c194e921252
* Version Independent ID: 8a552618-aed8-5230-726b-05dfaddac479
* Co

[2019-10-11 12:23] fantinis commented on #39777
Hello,

I'm adding a new PL ADF and I'm experiencing the same behavior described in the problem,
the configuration of these two PLs is the same but the one on the left does not move the files after the activities are completely.

Can anyone help me figure out what's wrong?

![image](https://user-images.githubusercontent.com/8880203/66650703-8b87db80-ec31-11e9-8053-b632fd5456fe.png)

[2019-10-11 12:37] CHEEKATLAPRADEEP-MSFT commented on #40579
@bebekim Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/91412](https://github.com/MicrosoftDocs/azure-docs-pr/pull/91412).
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take

[2019-10-11 12:40] msrini-MSFT commented on #40584
@MasaSip , Thank you for your feedback. I will do a PR to fix this issue.

[2019-10-11 12:41] msrini-MSFT commented on #40584
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/91414

[2019-10-11 12:42] #40579 closed

[2019-10-11 12:46] kzuenkler-avanade opened #40586 "German tokenizer versions"
The German sample sentence on this page is a good example, why tokenizer 1.0.0 de-de makes no sense because of the meaning change caused by separating the words in "krankenwagen" (ambulance) to "kranken wagen" (sick car). I don't see a meaningful use case for version 1.0.0. Or is it kept just for compatibility?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2019-10-11 12:51] souravmishra-msft commented on #39178
@sanjaybhagia, I tested the sample present here: [https://github.com/Azure-Samples/active-directory-b2c-advanced-policies/blob/master/AzureFunctionsSamples/CheckPlayerTagWebHook/run.csx](url) and found it to be working.

![image](https://user-images.githubusercontent.com/54057592/66652497-79b73000-ec53-11e9-9275-9855f36438db.png)

I had to run the above sample as V1 Function to get that working. N

[2019-10-11 13:04] joostm1 commented on #40486
See for example this discussion on this topic:
https://stackoverflow.com/questions/22217420/limit-on-number-of-subscriptions-per-azure-account

[2019-10-11 13:31] rostyslav-diakiv opened #40587 "user CloudOwner@cloudsimple.local is not shown in bold format"
Markdown doesn't bold the user name in the RBAC for Private Cloud vCenter section:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 478b4b3c-a195-e8ca-2ba8-f99356243228
* Version Independent ID: cd501058-2c0e-dcbb-6319-d262801f2977
* Content: [Azure VMware Solution by CloudSimple - Secure Private Cloud](https://docs.micr

[2019-10-11 13:33] furmangg opened #40588 "pdw_node_id in pdw_nodes_column_store_row_groups which breaks query"
I'm seeing that pdw_node_id is null in this DMV (at least on gen2 DWs):
select distinct pdw_node_id FROM sys.[pdw_nodes_column_store_row_groups] rg

Unfortunately the docs use this column for a join:
https://docs.microsoft.com/en-us/azure/sql-data-warehouse/sql-data-warehouse-tables-index#optimizing-clustered-columnstore-indexes

FROM sys.[pdw_nodes_column_store_row_groups] rg
JOIN sys.[pdw_nodes_

[2019-10-11 13:35] oneton commented on #33604
https://github.com/microsoft/mssql-jdbc/issues/1135 is related. Current expires_on date format (at least in West EU) has hours in 24h-format and no AM/PM indication.

[2019-10-11 13:42] cconcordet opened #40589 "Issue importing non-binary dependencies nltk"
[Enter feedback here]

The function can't be deployed because of non-binary dependencies.
This thread (https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-python#publishing-to-azure) adresses this issue but the command line given produces this error :
Unable to connect to Azure. Make sure you have the `az` CLI or `Az.Accounts` PowerShell module installed and logged in and tr

[2019-10-11 13:51] NavtejSaini-MSFT commented on #40531
@mpchen We are checking this with doc author.
@ajlam Please check the users question and please help with the same.

[2019-10-11 13:55] KrishnaG-MSFT commented on #40476
@plazuk Verified and updated the document as required. Thanks.

[2019-10-11 13:55] #40476 closed

[2019-10-11 13:56] celer1tas opened #40591 "Typos in the documentation"
Typos in the documentation. Please see below:
1) Contructor has an extra class keyword.
2) GetAsync method should include "async" keyword in the signature.

![image](https://user-images.githubusercontent.com/5678736/66657141-377ff580-ec37-11e9-9d08-f13b8d94505a.png)

[2019-10-11 13:58] celer1tas opened #40592 "Typos in the "durable-functions-entities" documentation."
Typos in the documentation. Please see below:
1) Contructor has an extra class keyword.
2) GetAsync method should include "async" keyword in the signature.

![image](https://user-images.githubusercontent.com/5678736/66657141-377ff580-ec37-11e9-9d08-f13b8d94505a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87e121

[2019-10-11 14:00] celer1tas commented on #40591
duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/40592

[2019-10-11 14:00] #40591 closed

[2019-10-11 14:03] timwebster9 commented on #40528
@Karishma-Tiwari-MSFT

Not really≥ . The document referenced in the answer in that thread is the same one we're discussing here.  The document only mentions container images, not Helm charts.  If indeed images and charts are treated the same way, it needs to be documented, preferably here.

All it needs to two more columns: 'Fetch Helm Chart' and 'Push Helm Chart', and the relevant cells ticked.

[2019-10-11 14:12] chadsowald commented on #40451
Hi @SnehaAgrawal-MSFT.  Thank you.  I'm actually looking for more info about how Azure App Services respond to auto-renewed certs they're linked to via Key Vault?  Specifically here are some questions I can't find answers to:

1. When a cert auto-renews, how long until the App Service picks up the new version and starts automatically using it for SSL instead of the prior cert?
1. When a cert auto-

[2019-10-11 14:12] jovanpop-msft commented on #31182
Thanks for notification. the title is updated to "Azure SQL Database Features"

[2019-10-11 14:13] mladents commented on #40217
Yes, I tried ingress, not egress!
My test case is to use (external - from different rg) standard IP in LB Standard for ingress (this works with basic IP and LB).
Finally, I got it to work. Somehow annotation was missing from my service config. I already had a Network Contributor role assign to my SP account.

Steps that worked:
 1. Create standard public IP (in separate resource group).
 2. Create

[2019-10-11 14:14] jovanpop-msft commented on #31182
@SadiqhAhmed-MSFT  @CHEEKATLAPRADEEP-MSFT should we close this since the title is changed?

[2019-10-11 14:16] macamhi commented on #39590
I can provide details in private, but I used the full Automated ML path : creation and run of an experiment through Automated ML, selection of the best model in the results, then click on Deploy model .

[2019-10-11 14:16] KalyanChanumolu-MSFT commented on #31182
@jovanpop-msft Thank you for updating the doc.
We will close this issue.

[2019-10-11 14:16] #31182 closed

[2019-10-11 14:18] Blackmist commented on #39590
Thanks @macamhi that might be enough info. I'll see if the engineers need anything else to go on.

[2019-10-11 14:30] #40426 closed

[2019-10-11 14:33] MGoedtel commented on #40504
I've updated the article and during the edit I realized that my original response wasn't accurate.  During the soft-delete period, you cannot create a new workspace using the name of the delete workspace until after the 14 day period.  This has no impact if you attempt to restore that workspace during the soft-delete period.  The new article goes live on Monday. #please-close

[2019-10-11 14:33] #40504 closed

[2019-10-11 14:36] sugarjig opened #40593 "Web app session lifetime refers to minutes but value is in seconds"
The following paragraph is inconsistent:

The value of the setting is in seconds, but the documentation refers to it as minutes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41bd32ec-e292-6b66-881a-55813b2f5885
* Version Independent ID: a77664de-5f5d-aa69-a335-92bfba11d74e
* Content: [Manage SSO and token customizati

[2019-10-11 14:40] jtuliani commented on #40501
What about if the error is in the 'if' part of the policy rule? Is that also ignored during resource create/update when enforcementMode = disabled? (You only mentioned the effect, not the 'if' condition). Thanks!

[2019-10-11 14:45] jgwinner commented on #39759
Hi! One thing I forgot. You asked this:

The first O365 account _**has**_ to be created this way - there's no way around this. It's created that way before the DNS system is migrated over. Therefore, every O365 tenant will have this error.

Regarding AMartinez: very doubtful. He was a warehouse worker; I wouldn't see why his account would be setup with the wrong UPN to start with, unless there was

[2019-10-11 14:49] jovanpop-msft commented on #32142
@Alberto-Vega-MSFT

By default, features are applicable in all service tiers, deployment models unless if it is specified differently. For Auto-failover groups we are not putting any disclaimer or constraint so it is available everywhere. for features like In-memory OLTP we are explicitly saying that it is not supported in GP.

I can confirm that Auto-failover groups are available in all service t

[2019-10-11 14:49] rothja commented on #40486
@joostm1 Thanks for the suggestion and for the link to the discussion. I'm not sure at the moment how to confirm the answer in that thread. @tfitzmac Can you let me know if you can confirm this limit or know someone who could? I'm going to co-assign the issue to you while we investigate. Thank you! #assign:tfitzmac

[2019-10-11 14:50] ketaanhshah commented on #40414
@msrini-MSFT No updated but I am waiting for an answer from MSFT on this. As this is something where documentation is not available and I wanted to know more what we can do. Following is the doc I read.. but again no details so was looking answer from Product team on it:
https://azure.microsoft.com/en-us/updates/general-availability-azure-network-watcher-connection-monitor-in-all-public-regions/

[2019-10-11 14:55] KalyanChanumolu-MSFT commented on #40283
@prabhushrikant Thank you for reaching out.
Please use localhost instead of your hostname in the stunnel configuration.
Do not change the value for "accept" in the configuration.

[code]

[2019-10-11 14:55] jovanpop-msft commented on #32251
@Mike-Ubezzi-MSFT @stevestein

I agree that these information should be here, but currently all hyper scale related info are placed on a single page HS HA is here: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-service-tier-hyperscale#database-high-availability-in-hyperscale

Maybe you should contact @denzilribeiro to check what is the plan with moving info from that page to othe

[2019-10-11 14:56] DCtheGeek commented on #40501
A template function error in the 'if' part of the policy with **enforcementMode** _Disabled_ only impacts compliance reporting. This is true for both create/update and existing resources. Depending on the error, you may see unexpected compliance results. For this and other reasons, we suggest you [evaluate the impact of new policies](https://docs.microsoft.com/azure/governance/policy/concepts/eval

[2019-10-11 14:57] denzilribeiro commented on #32251
+ Dimitri who is working on the backup stuff too.

From: Jovan Popovic (MSFT) <notifications@github.com>
Sent: Friday, October 11, 2019 9:56 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Denzil Ribeiro <denzilr@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Missing details about HA on SQL Hyperscale (#32251)

@Mike-Ubezzi-MSFT<htt

[2019-10-11 15:05] John-Blair opened #40595 "Where is the Azure Retrieve part?"
I want to retireve the secret in my pipeline yaml - nothing on this whatsoever despite the title - incredibly poor doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23617aaa-af93-2f09-5a7a-2a9a977dc5f2
* Version Independent ID: 0d68d344-4b56-6f3b-ac02-08d43e2ac559
* Content: [Azure Quickstart - Set and retrieve a sec

[2019-10-11 15:05] JavedEqbal opened #40596 "Clarification Needed regarding Quota Limit on Diagnostic Settings"
As per the Azure Portal we have the option to put Disk Quota (MB) for Diagnostic Data to be collected.
Can you please confirm if the quota mentioned here is the data size limit which is collected as a cache repository on the VM Diagnostic folder to be eventually uploaded or stored on Azure Diagnostic Storage Account ?

Select VM -> Diagnostic Settings -> Agent -> Disk Quota (MB)
which is 5120 (By

[2019-10-11 15:06] tfitzmac commented on #17996
@fowl2 - are you looking specifically for getting the resource provider for resourceGroups or getting the resource provider for any resource type? If you are looking generally, you can use Get-AzResource -ResourceGroupName {rg-name} which will return all resources in that resource group. One of the values is resourceType which is in the format {resource provider}/{resource type}

[2019-10-11 15:19] psongms commented on #36515
Azure file does not support SAS key for mounting (https://docs.microsoft.com/en-us/azure/storage/files/storage-how-to-use-files-windows). Therefore it can't be supported.

[2019-10-11 15:26] KalyanChanumolu-MSFT commented on #40385
@rachel-msft Could you please help here.

[2019-10-11 15:28] AJAnujsharma opened #40597 "error: Key "gateway" not found in connection profile client requestID"
Hi Team,
I am not able to connect the file system with my logic app - Filesystem
When a file is added or modified (properties only) 2. Its giving me the below error - error: Key "gateway" not found in connection profile client requestID

Note: Please note i have given proper Domain\Username

[2019-10-11 15:30] GiftA-MSFT commented on #40586
@kzuenkler-avanade thanks for reaching out. We will review your inquiry and get back to you shortly. Thanks.

[2019-10-11 15:32] #39259 closed

[2019-10-11 15:45] djpmsft commented on #39133
What you are encountering is a valid limitation. Concurrent debug runs are not supported right now in the product so it is difficult to compare different runs.

[2019-10-11 15:48] hpsin commented on #32264
PTA is supported in ROPC, but full federated users are not.

[2019-10-11 15:48] jahobson75 commented on #40536
The SUSE Bugzilla cases are:  1135103 & 1132619.  AN is fixed in this SUSE kernel 4.4.178-94.91.2.  At my customer, we've tested on 4.4.180 and AN looks good again.

[2019-10-11 15:50] Mike-Ubezzi-MSFT commented on #40588
@furmangg Thank you for bringing this to our attention. We will investigate and confirm if this is the case or not.

[2019-10-11 15:50] jasonsch69 opened #40598 "Seamless SSO PRT"
There is no reference to seamless SSO when you are disconnected from the corporate network. Prior documentation detailed how to support seamless sso via the PRT and the Chrome browser plug-in when on a remote network.  Anyone who is setting this up new would not understand that dependency.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-10-11 15:51] RyanHill-MSFT commented on #40583
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-11 15:54] GiftA-MSFT commented on #40354
@brandonh-msft thank you very much for initiating this request. I agree with you, and I'll provide this feedback to our internal points of contact. Thanks.

[2019-10-11 16:01] Mike-Ubezzi-MSFT commented on #32142
@msdpalam If there is an update to a specific section of the doc where this information would bring some clarity, then please feel free to submit a pull request with the update. Customer are free to make suggested edits to the documentation: [Microsoft Docs contributor guide overview](https://docs.microsoft.com/en-us/contribute/)
We will now proceed to close this thread. If there are further quest

[2019-10-11 16:01] #32142 closed

[2019-10-11 16:08] jovanpop-msft commented on #34275
Zone redundant configuration is NOT supported in Managed Instance.
You woudl need to use auto-failover groups to create secondary in different region in this scenario.
Changes are in #91422

[2019-10-11 16:14] jovanpop-msft commented on #34275
@angoyal-msft

#91422 is merged in -pr branch. This issue can be closed.

[2019-10-11 16:17] PramodValavala-MSFT commented on #40592
@celer1tas Thanks for catching that! We will review and update accordingly.

[2019-10-11 16:19] swake457 commented on #40423
Hi Frank. It's still an issue. I looked in my other azure tenants (none of them are related in anyway) and I can repro the issue across any of them. I think I found a bug that triggers this. If I first create an SSO Enterprise Application as SAML, then configure User Assignment Required as well as define a couple users, then switch the configuration to be Password Based, the option to require user

[2019-10-11 16:21] jovanpop-msft commented on #36295
Scale up/down takes few hours because we are using online migration where we create new instance in background and copy/migrate all data. Once the new instance is created and all data is migrated, we are stopping connections and switching instance to new IP. We don't announce exact estimated time but in most of the cases it is measured in seconds.

In some edge cases that are out of our control (a

[2019-10-11 16:22] PramodValavala-MSFT commented on #40589
@cconcordet Thanks for the question! We will review and get back to you!

[2019-10-11 16:24] jovanpop-msft commented on #38824
We don't have timeline for this.
@pmasl is PM owner of the feature who might provide more details.

[2019-10-11 16:25] SnehaGunda commented on #40421
The above PR adds the release notes. We will close this issue if there aren't further questions.

#please-close

[2019-10-11 16:25] #40421 closed

[2019-10-11 16:26] jovanpop-msft commented on #36034
Change is merged in #91425 (private branch).
Generally information about HyperScale are centralized on single page. @stevestein please contact @denzilribeiro regarding the plans for updating rest of documentation.

[2019-10-11 16:26] rachel-msft commented on #40385
Hi Lloyd. Thanks for catching the typo. It will be fixed today.

[2019-10-11 16:27] KatieProchilo opened #40601 "Pronunciation data has limited examples"
"Guidelines to create a pronunciation file" currently has three examples, but they are all acronyms. Provide a couple examples of
1. Domain-specific phrases
2. Misrecognitions entered as pronunciation data.

A fake custom speech scenario could help illustrate this and other custom data.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-10-11 16:28] jovanpop-msft commented on #29395
Page is applicable to all service tiers/deployment models.

Zone redundancy is not applicable to Managed Instance. The update is merged.

[2019-10-11 16:29] DixitArora-MSFT commented on #40492
@koushik984 Since this channel is for driving improvements towards MS Docs. For any product related question/issue, I would recommend you to create a thread on the forums- MSDN / Stackoverflow. Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2019-10-11 16:31] bandersmsft commented on #40486
@tfitzmac Honestly, I don't know the answer. @amberbhargava, do you know?

[2019-10-11 16:35] brandonh-msft commented on #40330
In my case, I was doing `string(//ElementName)` and getting back what seemed to be the value inside `" "` characters. Since I was then base64-decoding the value, this was erroring out. I'll look deeper and see if I can provide a repro scenario.

[2019-10-11 16:38] #40459 closed

[2019-10-11 16:40] davidmi opened #40602 "Please explain how to implement MFA"
Azure Data Studio, an electron/node application implements Active Directory Universal with MFA as a login method. Please explain how to implement MFA authentication in Node on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 353bf767-02de-e7ea-d4a1-e0c4b9a82b4f
* Version Independent ID: 93c423a3-a489-a283-084d

[2019-10-11 16:41] brandonh-msft commented on #40330
apologies. the problem was in that i was not using `base64tobinary` as I should've been, not that the return value was mistakenly surrounded in quotes. Thanks for your time.

[2019-10-11 16:41] #40330 closed

[2019-10-11 16:42] yegu-ms commented on #39147
@DarinMacRae Thanks for your feedback! We've updated the contents and screenshots.

[2019-10-11 16:42] yegu-ms commented on #39147
#please-close

[2019-10-11 16:42] #39147 closed

[2019-10-11 16:44] Canis-Lupis opened #40603 "Suggestions"
I have four suggestions for this article:

1.  Mention what licenses are required for different options.  Yes, there is a link to the Azure pricing page at the top, but the pricing page does NOT list requiring a premium license for adding groups to Add Assignment.  I see someone else had opened feedback for that previously, but that was closed without resolution.

2.  In the "Allow all users to ac

[2019-10-11 16:44] SumanthMarigowda-MSFT commented on #40154
@anishkshah Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-10-11 16:44] #40154 closed

[2019-10-11 16:47] brandonh-msft commented on #40270
my confusion was with the intermediate state of the file, I guess.

When I took a V2 function and tried to "convert" it to v1, I ran in to situations like this:
![image](https://user-images.githubusercontent.com/20270743/66669274-f6262080-ec0b-11e9-83a8-89e072ee9465.png)

Where the schema was telling me `applicationInsights` wasn't valid when, in fact, it was because `samplingSettings` should be `

[2019-10-11 16:47] MicahMcKittrick-MSFT commented on #12287
Yes you need to remove the backup prior to performing the migration.

I will add a note to this doc.

[2019-10-11 16:53] MicahMcKittrick-MSFT commented on #12287
Actually, the doc is correct.

[code]

[2019-10-11 16:53] #12287 closed

[2019-10-11 16:55] RyanHill-MSFT commented on #40416
Hi @luuksommers,

See https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-use-managed-service-identity on how to use manged identities on the API Management platform. If you're wanting to authenticate against a backend, https://docs.microsoft.com/en-us/azure/api-management/api-management-authentication-policies#ManagedIdentity shows how you can use `<authentication-managed-i

[2019-10-11 16:56] MicahMcKittrick-MSFT commented on #40481
@cadumi it's valid feedback however it is hard to tell the difference between not available for the subscription vs region. This is really a great ask for the PowerShell team though to improve the output instead.

Can you add feedback here: https://github.com/Azure/azure-powershell/issues

Feel free to CC me as well.

[2019-10-11 16:56] #40481 closed

[2019-10-11 16:58] KranthiPakala-MSFT commented on #40411
@isamllr We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2019-10-11 16:58] #40411 closed

[2019-10-11 17:00] TimothyMothra commented on #40554
Looks good to me. The PR is merged. Feel free to close this issue as resolved. :)

[2019-10-11 17:00] MicahMcKittrick-MSFT commented on #40529
@CharmanderJieniJieni I worked offline with the content authors on this. At this point in time they want to leave the document as is. However you comment will remain on this document so if others find it confusing as well they can comment and we can always reopen and reconsider in the future.

Also, since this feature is in preview, the doc will likely change over time anyways.

[2019-10-11 17:00] #40529 closed

[2019-10-11 17:01] KatieProchilo opened #40604 "Docs don't take data-first/real data approach leading to technical debt and quality loss."
Overall there is no guidance for a general custom speech-enabled system. How can developers and data scientists use CRIS to be successful? Documentation needs a story around collecting real, diverse data to inspire the actual data to add to custom speech:
* How much? From where? From how many different people/geographies?
* If CRIS is part of an NLP solution, then there is probably a grammar as we

[2019-10-11 17:02] MicahMcKittrick-MSFT commented on #40513
Can you both try the simple AKS walkthrough as well?

https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough

[2019-10-11 17:08] SnehaGunda commented on #40268
@Mortana89 I submitted an update to the doc to describe this concept in detailed, made some more fixes to the description.

When you provision containers with shared database offering:
•	Every 25 containers are grouped into a partition set and the database throughput(D) is shared between the containers in the partition set. If there are up to 25 containers in the database and at any point in time,

[2019-10-11 17:08] #40268 closed

[2019-10-11 17:15] Mike-Ubezzi-MSFT commented on #40261
@Tiberriver256 Apologies for the delay on getting you a response. Are you syncing Azure SQL Database to Azure SQL Database or are you invoking the Sync Agent for an on-premise to Azure SQL Database instance? In Azure to Azure sync, there is no schedule and only a manual invoke button, what set-up entirely through the portal. So, I am looking for some more detail about your sync scenario. Thank you

[2019-10-11 17:16] Alberto-Vega-MSFT commented on #36838
@jjindrich Did you have a chance to look into the previous comment from kgremban?

[2019-10-11 17:26] cijothomas commented on #40231
@Expecho The custom dimesions are "opt-In" now so you need to enable it as documented here:
https://docs.microsoft.com/en-us/azure/azure-monitor/app/pre-aggregated-metrics-log-metrics#custom-metrics-dimensions-and-pre-aggregation

[2019-10-11 17:29] MicahMcKittrick-MSFT commented on #40525
Will close as we are working offline :)

[2019-10-11 17:29] #40525 closed

[2019-10-11 17:32] Karishma-Tiwari-MSFT commented on #40528
Thanks for providing the clarity. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-10-11 17:33] kgremban commented on #40539
Hi @rido-min, that's actually by design. All of the Azure IoT services have the exact same Related section in their TOCs to help customers navigate between them consistently.

[2019-10-11 17:33] NavtejSaini-MSFT commented on #29395
@stevejmorgan As the update is merged we are going ahead and closing this issue.

[2019-10-11 17:33] #29395 closed

[2019-10-11 17:37] NavtejSaini-MSFT commented on #36034
@stevestein and @denzilribeiro Please check this issue.

[2019-10-11 17:43] kenlacoste843 commented on #40196
Hi, apologies got locked up on some task.
I think I can show you these logs.
I've deleted and re-added the user as many times as I can and still when I
access the repo, the message this shows up until today.

[image: image.png]

[image: image.png]

On Fri, Oct 11, 2019 at 1:40 AM Marilee Turscak - MSFT <
notifications@github.com> wrote:

[2019-10-11 17:44] dwhiteddsoft opened #40605 "Creation of VM image does not work unless --location is used"
This command:
az image create \
  --resource-group myResourceGroup \
  --name myImage \
  --source myVM
Does not work unless --location is used. If it is simply a quirk due to VM and resource group location differences, it would be good to call it out in the docs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ea3eb30-

[2019-10-11 17:48] rwike77 commented on #31409
Updated the article, changes should publish live this afternoon.  #please-close

[2019-10-11 17:48] #31409 closed

[2019-10-11 17:48] Mortana89 commented on #40268
Thanks for the clarification. I'm very worried though where this suddenly comes from. Especially the statement 'you should not create that many containers'! We use Cosmos DB in a multi-tenant application. Basically what you are saying is against using Cosmos DB for multi-tenant situations. Each tenant has it's own collection, as was deemed a good approach. Furthermore, the docs used to say that a

[2019-10-11 17:53] BharathNimmala-MSFT commented on #40554
Thank you @TimothyMothra.

@cwiederspan The change has been merged and updated document is live. Thanks for brining this to our notice.

[2019-10-11 17:53] #40554 closed

[2019-10-11 17:53] shriazure opened #40607 "All Containers Events - Blob events trigger requires a blob path input error"
Hi, When I choose "All Containers" option under BlobEventsTrigger, the "Blob path begins with" field gets grayed out but I am getting a validation error that "Blob events trigger requires a blob path input." Looks like it still expects a blob path though I selected "All Containers". Can you take a look at it?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-10-11 17:57] jgwinner opened #40608 "Redundant link in paragraph Review controlled validation of hybrid Azure AD join"
This paragraph, with teh heading "Review controlled validation of hybrid Azure AD join" says:

More information about the concepts covered in this article can be found in the articles Introduction to device identity management in Azure Active Directory and Plan your hybrid Azure Active Directory join implementation.

The last link is to THIS very page, which is redundant, and causes confusion. You

[2019-10-11 17:57] MarileeTurscak-MSFT commented on #40608
@jgwinner
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-11 17:58] jgwinner commented on #34752
This is somewhat horrible, as VDI is the perfect infrastructure for ensuring all documentation is in the cloud; OneDrive KFM does not work without Azure Active Directory joining (per my recent rant on that feature).

[2019-10-11 18:00] SaurabhSharma-MSFT commented on #39966
@coryty87 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-10-11 18:00] #39966 closed

[2019-10-11 18:02] msrini-MSFT commented on #40414
@kumud, Do we have any documentation in Network Watcher 2.0 ?

[2019-10-11 18:04] KatieProchilo opened #40610 "Documentation lacks information on how custom data improves recognition."
Adding data to improve recognition feels like a black box with no insight into the inner workings of CRIS. It's understood that typically we shouldn't have to know how services work, but in the case of CRIS this principle doesn't hold true.

It would aid development and lead to better solutions to know if CRIS is statistical/learned, and the weight that custom data influences the baseline model.

[2019-10-11 18:07] fafg commented on #40513
if I try using my main user as SP it works, my az aks create on my pipeline uses vnets and other stuffs, which the basic sample above does not working because the SP generated hasn't permissions I believe.

I am looking into this page right now:
https://docs.microsoft.com/en-us/azure/aks/kubernetes-service-principal#delegate-access-to-other-azure-resources

[2019-10-11 18:10] heyoni opened #40611 "Authentication Basics link is wrong"
Hey guys,

The "Authentication Basics" link on this page (ver 1.0 of the api) will take you to version 2.0's page, ~even though the older version of the API has its own page~.

It's quite confusing and if you're not paying attention, you'll end up mix and matching versions in your implementation.

PS: the sidebar's link to that article will also switch you to version 2.
---
#### Document Details

[2019-10-11 18:11] MicahMcKittrick-MSFT commented on #40513
Sounds like a SP permissions issue really.

You can create your own SP to use

https://docs.microsoft.com/en-us/azure/aks/kubernetes-service-principal

Then you just need to make sure that SP has the correct permissions on the specific subscription

[2019-10-11 18:12] KatieProchilo opened #40612 "Missing guidance on correcting specific errors leads to unfixed misrecognitions."
If a developer comes across a specific misrecognition, there is general guidance on how to approach it with pronunciation data and language data. However, when 3 or 4 iterations of this approach do not work, there isn't further/alternative guidance.

Further, if a developer has added ~20 utterances over 4 iterations to fix a single bug, that is at least 4 hours of work to fix a single utterance (t

[2019-10-11 18:13] heyoni opened #40613 "http gone in v2?"
I believe non-secure http redirects are disallowed in version 2 of the API, making the section below a bit misleading:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9642c47-826b-017f-eff3-ab3b25e4e454
* Version Independent ID: 091f26e7-6543-ef0f-b575-b44519943391
* Content: [Register an app with the Microsoft

[2019-10-11 18:14] KatieProchilo opened #40614 "Inconsistent use of "language" data vs. "utterance" data causes confusion."
This is a minor source of confusion for developers. Documentation refers to a portion of custom data as "utterance" data, but the custom speech portal refers to it as "language" data. Both terms are fine, as long as it's consistent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 120ebdde-5785-5850-c963-803bf3744112
* V

[2019-10-11 18:15] #40607 closed

[2019-10-11 18:20] MarileeTurscak-MSFT commented on #40613
@heyoni
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-11 18:24] rthorn17 commented on #40433
It is the same, but replace "child subscription" with "child management group".  Internally I usually refer to them as child resources, but I was trying to reduce the confusion with the term "resources".  Some people might only think about the VMs, DBs, etc where MGs, Subscriptions, Resource Groups, and Resources are all "ARM Resources".

So:
"Owner" role on the child management group/subscription

[2019-10-11 18:24] rolyon commented on #40546
Hi @FreeSMIME and @MicahMcKittrick-MSFT
Thanks for the feedback. We've contacted the team and they are working to update this doc.
thanks

[2019-10-11 18:30] KumudD commented on #40414
@damendo Please can you review and comment. Thanks!

@msrini-MSFT Please can you assign this issue to @damendo

[2019-10-11 18:31] SnehaGunda commented on #40162
@sarah026 I submitted a doc update to add the partitionkey statistics information. For controlPlaneRequests, we didn't mean to expose them in the portal, they are supposed to be internal only logs. We have a discussion in an internal thread if it makes sense to have this log. Once we finalize that it will exist, I will make the neede doc update.

We will close this issue if there aren't further qu

[2019-10-11 18:31] #40162 closed

[2019-10-11 18:36] MarileeTurscak-MSFT commented on #40611
@heyoni
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-11 18:39] MarileeTurscak-MSFT commented on #40611
@heyoni which link are you referring to? Can you post a screenshot?

You're free to make a pull request to fix the article, if you'd prefer. :)

[2019-10-11 18:43] timwebster9 commented on #40528
Actually I just noticed it's mentioned further down the page, for example under `Push Image`:

[code]

Apologies for not noticing that before.  It would still be useful to update the matrix at the top though :-)

[2019-10-11 18:44] jjindrich commented on #36838
Please give time to retest it

[2019-10-11 18:45] heyoni commented on #40611
I wouldn't know what to change the link to but every link in that category has no v1 tag, and thus will switch you to the v2 section.

`v1.0 > Concepts > Authentication > Authentication basics`
![image](https://user-images.githubusercontent.com/1683055/66676443-74e38380-ec35-11e9-90ed-22375f5d5ea0.png)

[2019-10-11 18:50] pmasl commented on #38824
It is being rolled out so it's coming soon, but like Jovan mentioned no defined day yet.

[2019-10-11 18:51] tsaltd opened #40615 "Temporary App Service upgrade"
Say I only want to upgrade from standard to premium just to clone an app from one directory to another …. Can I upgrade for just a couple of hours ?  If so how will the charge be pro-rated ?

Thanks,
Steve
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25ec88c2-d5ff-e727-cbe1-69bac94141ae
* Versio

[2019-10-11 18:54] jwargo commented on #40401
@nitishr06 not at this moment as Cordova isn't a supported platform. We have a blog post publishing soon that discusses the topic using a [third-party Cordova plugin](https://www.npmjs.com/package/cordova-azure-notification-hubs). The instructions at that link are pretty clear.

[2019-10-11 19:05] rwallerms commented on #40354
Fixed. https://github.com/MicrosoftDocs/azure-docs-pr/commit/fdf78dca1a1d4525481b45ae08a3ca700ae1226d

[2019-10-11 19:25] MicahMcKittrick-MSFT commented on #40434
@TomArcherMsft looks like we might have some issues with this doc.

I got to the terraform plan -out command and get the following:

[code]

can you take a look?

[2019-10-11 19:31] izzymsft opened #40618 "Document IP Address Overlaps in AKS Troubleshooting Documentation"
We need to add documentation to the following page on how to prevent issues due to overlapping subnets

https://docs.microsoft.com/en-us/azure/aks/troubleshooting

[2019-10-11 19:39] Alberto-Vega-MSFT commented on #40543
@philipdemaree I'm glad you were able to resolve your issue. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-11 19:39] #40543 closed

[2019-10-11 19:39] ghogen commented on #15051
This was fixed in that April 15 check in, but forgot to close. Closing now.

[2019-10-11 19:39] ghogen commented on #15051
#please-close

[2019-10-11 19:39] #15051 closed

[2019-10-11 19:40] MicahMcKittrick-MSFT commented on #40618
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-11 19:40] MicahMcKittrick-MSFT commented on #40605
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-11 19:40] izzymsft commented on #40618
I am creating the content for the section and I will share a PR shortly

[2019-10-11 19:55] stewartadam opened #40619 "No documentation on use of userinfo endpoints"
We have no documentation on our UserInfo endpoints, how to communicate with them (e.g. sample POSTs like we do for grant flows) or what information they provide in different scenarios (e.g. AAD users vs guest accounts vs MSAs).

The bold text should link to a more detailed page about UserInfo.

This is rendered more confusing for users as AAD v1 and AAD v2 have different UserInfo endpoints, and ac

[2019-10-11 19:56] Alberto-Vega-MSFT commented on #40106
@BhupalPatil To get you unblock we will need to connect you with a support engineer. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and I can help to get you a one time free support ticket opened for this issue.

Also StackOverflow

[2019-10-11 19:57] stewartadam commented on #36432
Any updates on this? Thx

[2019-10-11 19:59] ecfan commented on #40331
@ratka6: Could you provide the Swagger that you're using or be willing to get on the call so the engineering team can discuss with you? Thanks!

[2019-10-11 19:59] irwincs opened #40620 "Office 365 Outlook SignIn Fails"
Please check your account info and/or permissions and try again. Details: Unauthorized clientRequestId: 81F335D8-4124-4B94-855B-4A013DE0C068 serviceRequestId: 90bb34f4-67b8-4e0b-b040-bf7686dab964

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3201421-7bd5-1abb-0f22-8408f935e715
* Version Independent ID: 8dc88c97-426a-

[2019-10-11 20:07] mmacy commented on #40593
Good catch, @sugarjig. Fixing now.

#reassign:mmacy

[2019-10-11 20:10] stewartadam commented on #40619
Furthermore, if a customer requests a custom API permission (e.g. `scopes="openid email profile api://<appid-guid>/my_api_permission"`) the v2 userinfo endpoint returns 'invalid audience'.

If we fully qualify the scopes (e.g. `scopes="https://graph.microsoft.com/openid email profile api://<appid-guid>/my_api_permission"`) it says the scope is invalid/unknown.

If we remove all references to API-s

[2019-10-11 20:10] ratka6 commented on #40331
@ecfan I'm not sure that I can post swagger file directly. We can schedule a call after weekend.

[2019-10-11 20:19] MicahMcKittrick-MSFT commented on #40414
#reassign @damendo

[2019-10-11 20:21] MicahMcKittrick-MSFT commented on #40074
@dlepow any other thoughts?

[2019-10-11 20:21] joshschmitter commented on #24460
It doesn't make sense that you can scale a container up with unlimited maximum throughput, but can't scale it back down to the original minimum.  There should at very least be a warning about this in the documentation (and in the portal for that matter) and clear details on what thresholds will end up changing the minimum possible throughput.

[2019-10-11 20:22] GiftA-MSFT commented on #40586
@kzuenkler-avanade having both versions provide flexibility to users. In this example, it is clear that splitting the composite word into their single components changes it's meaning. However, this version may be useful in other scenarios (e.g. text classification) where composite words need to be broken down into their root as part of text pre-processing steps. The version you select is based on

[2019-10-11 20:24] MicahMcKittrick-MSFT commented on #40517
Adding @roygara @ramankumarlive @wmgries

[2019-10-11 20:24] MicahMcKittrick-MSFT commented on #40271
adding @ramankumarlive @wmgries

[2019-10-11 20:24] MarileeTurscak-MSFT commented on #40613
I agree. I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/91476

Thanks for catching this!

[2019-10-11 20:24] #40613 closed

[2019-10-11 20:24] MicahMcKittrick-MSFT commented on #40302
adding @ramankumarlive @wmgries

[2019-10-11 20:26] #40593 closed

[2019-10-11 20:27] GiftA-MSFT commented on #40586
@jameslew please would you like to add anything to the above inquiry? Thanks.

[2019-10-11 20:28] Tiberriver256 commented on #40261
Azure SQL to Azure SQL. It appears the first answer of it being every 24 hours from when you start the sync is correct from the logs.

![image](https://user-images.githubusercontent.com/6989492/66682881-21c4fd00-ec44-11e9-971b-f173fcee302d.png)

[2019-10-11 20:37] jameslew commented on #40586
This sounds good to me; however let me add @cahann from the LUIS team for verification.

[2019-10-11 20:40] fly-high-bj opened #40622 "Why setting up a file system under Azure DataLake storage account inside the Spark Cluster would require register a dummy app?"
I am trying to understand the underneath design of the product. It seems that to configure the spark cluster so it could setup a file system under the Azure DataLake storage account would require in advance to set up a service principal for authentication. And the step to setup a service principal is to register a 'dummy' app in Azure AD. Is there any other way this could be done? Do all these res

[2019-10-11 20:43] navintkr commented on #40420
From where should i run this command.. I am following the steps listed above from windows laptop. Got stuck here, please help..

[2019-10-11 20:46] GiftA-MSFT commented on #40614
@KatieProchilo thanks for your feedback, we will get back to your shortly. Thanks.

[2019-10-11 20:47] GiftA-MSFT commented on #40612
@KatieProchilo thanks for your feedback, we will get back to your shortly. Thanks.

[2019-10-11 20:47] GiftA-MSFT commented on #40610
@KatieProchilo thanks for your feedback, we will get back to your shortly. Thanks.

[2019-10-11 20:48] GiftA-MSFT commented on #40604
@KatieProchilo thanks for your feedback, we will get back to your shortly. Thanks.

[2019-10-11 20:48] GiftA-MSFT commented on #40601
@KatieProchilo thanks for your feedback, we will get back to your shortly. Thanks.

[2019-10-11 20:50] karanth77 opened #40623 "Dont see option for ClientCertificate authentication"
I only see anonymous, basic ,Aad Service Principal and managed but no client certtificate as per this document. Is that deprecated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb254eed-873c-17d6-3d95-1d1c93a901b4
* Version Independent ID: 13e1abe1-486b-6eeb-36aa-2d4b17587bb5
* Content: [Copy data from an HTTP source

[2019-10-11 20:51] dlepow commented on #40528
@timwebster9 - Thanks for the question and suggestion. Generally push/pull permissions related to container images apply to other artifacts that ACR can manage. I'll incorporate this suggestion when we have additional updates to make to that article.
#please-close

[2019-10-11 20:51] #40528 closed

[2019-10-11 20:52] FrankHu-MSFT commented on #40619
@stewartadam Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-11 20:52] FrankHu-MSFT commented on #40603
@Canis-Lupis Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-11 20:52] FrankHu-MSFT commented on #40598
@jasonsch69 Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-11 20:52] FrankHu-MSFT commented on #40595
@John-Blair Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-11 20:55] #40328 closed

[2019-10-11 20:56] FrankHu-MSFT commented on #40506
@irwincs I'm following up on this issue, can you please respond in regards to the previous replies on this thread? Thanks

[2019-10-11 20:56] FrankHu-MSFT commented on #40511
@baSSiLL I'm following up on this issue, can you please respond in regards to the previous replies on this thread? Thanks

[2019-10-11 20:57] MonikaReddy-MSFT commented on #40310
Hello @letargis,

When I tried to repro this issue, this is what I see:

![releasepipelineimport](https://user-images.githubusercontent.com/47833949/66679397-179f0080-ec3c-11e9-847e-c948e1aaa722.png)

Since we are not able to repro the issue, I would like to know if you are still receiving this error or was it a one time thing when you tried to import a pipeline for the first time.

If you are sti

[2019-10-11 21:01] MarileeTurscak-MSFT commented on #40495
@mirikitomo thanks for letting me know! Can you please post a screenshot? I have not been able to reproduce this.

[2019-10-11 21:02] Alberto-Vega-MSFT commented on #40620
@irwincs Since the issue is not with the doc but with Office 365.  Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2019-10-11 21:03] cahann commented on #40586
The majority of the users weren't comfortable with the splitting of the words but technically 1.0 shows slightly better results on generic data sets so we decided to offer both.

[2019-10-11 21:12] FrankHu-MSFT commented on #40603
Hello in regards to your feedback, I've responded in line below.

I agree this is important, and will need to engage more members to determine which licenses are required for what activities.

You're correct this would be beneficial as it's important to know which apps have this.

This is a complicated subject. And there is alot of conditional logic that occurs here and probably needs it's own ent

[2019-10-11 21:13] GiftA-MSFT commented on #40586
@jameslew and @cahann thanks for your input.
@kzuenkler-avanade let us know if you have further questions, otherwise we'll proceed to close this thread. Thanks.

[2019-10-11 21:13] irwincs commented on #40506
I was able to get the problem resolved by checking the Azure Active Directory signin logs. The firstname.lastname@clientdomain.com email address was being dereferenced to a shorter version of the form 6CharactersLastNameFirstName@clientdomain.com. When I used the shorter version of the email address, the problem was resolved.

[2019-10-11 21:15] FrankHu-MSFT commented on #40619
Hey @stewartadam you're correct we could utilize some better documentation for the userinfo endpoint.

We're currently looking into this issue and will update the docs accordingly.

Thanks!
- Frank Hu

[2019-10-11 21:17] FrankHu-MSFT commented on #40506
Hey @irwincs I see. Thank you for providing the solution that resolved your issue!

@irwincs As the github doc issue has been addressed, I'll be closing out this issue now.
Please file a new git issue with a reference to this one if you have anymore concerns. Thanks

[2019-10-11 21:17] #40506 closed

[2019-10-11 21:23] SaurabhSharma-MSFT commented on #40545
@mpchen Yes, I believe it is the same as Azure Security Center will be monitoring your storage accounts if you enable it from ATP blade from storage.

[2019-10-11 21:28] SaurabhSharma-MSFT commented on #40595
@John-Blair You can refer to [Azure Key Vault task in Azure DevOps Pipeline](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-key-vault?view=azure-devops#yaml-snippet) to retrieve the secrets.

[2019-10-11 21:30] MicahMcKittrick-MSFT commented on #40605
@dwhiteddsoft are you running locally or in cloud shell? I just tested in cloud shell and on a local instance of CLI and it worked as expected. It automatically takes the location of the resource group and creates an image in that same location. You can specify a different location using the --location flag if you want though.

If you ran it locally, I am assuming you might need to update your Azu

[2019-10-11 21:42] John-Blair commented on #40595
Thanks... That info should be in the doc

On 11 Oct 2019 22:28, SaurabhSharma-MSFT <notifications@github.com> wrote:

@John-Blair<https://github.com/John-Blair> You can refer to Azure Key Vault task in Azure DevOps Pipeline<https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-key-vault?view=azure-devops#yaml-snippet> to retrieve the secrets.

—
You are receiving this because

[2019-10-11 21:43] MarileeTurscak-MSFT commented on #40611
These do all refer to 2.0 https://docs.microsoft.com/en-us/azure/active-directory/develop/authentication-scenarios

@rwike77 do you know if there's a separate doc for 1.0 ones?

[2019-10-11 21:48] MarileeTurscak-MSFT commented on #40611
I'm assigning this to the author as I don't have the ability to edit the navigation panes.

[2019-10-11 21:52] KranthiPakala-MSFT commented on #40623
@karanth77 Thanks for reaching out. At this time we are reviewing the ask and will provide an update as appropriate.

[2019-10-11 21:54] KranthiPakala-MSFT commented on #40622
@fly-high-bj Thank you for reaching out and bringing this to our notice. At this time we are reviewing the ask and will provide an update as appropriate

[2019-10-11 21:57] KranthiPakala-MSFT commented on #40607
@shriazure I see the issue was closed by you. Could you please confirm if you have found a solution and closed the issue intentionally or by mistake? Please feel free to let us know if you have any query regarding this document.
Thank you

[2019-10-11 21:59] FrankHu-MSFT commented on #40320
Hey @rmaziarka,
Can you elaborate on why the pre-migration and password reset is not applicable here?

It's designed for users who have passwords that are inaccessible such as hashed passwords(AD, AAD), inaccessible IdP, or the old IdP validates the credential by calling a webservice (ADFS/Federation).

You should be able to run pre-migration steps that include setting a random password.
Then you

[2019-10-11 22:00] normesta commented on #33155
Thank you for the feedback @algattik . I've updated the content and that change should appear live by tomorrow.

[2019-10-11 22:00] normesta commented on #33155
#please-close

[2019-10-11 22:00] #33155 closed

[2019-10-11 22:04] TravisCragg-MSFT commented on #28864
@matasnizamovas please give your feedback at [Azure Networking's feedback.azure.com page](https://feedback.azure.com/forums/217313-networking?query=pre-load%20).

[2019-10-11 22:05] FrankHu-MSFT commented on #40423
I see, I am unable to reproduce this issue. My suggestion is to engage with a support engineer on this issue for further troubleshooting/debugging.

I apologize for any inconveniences you may be experiencing here.

Are there anymore questions within the scope of this github issue? This section of github issues is meant for issues with the Azure Docs. For further support I suggest engaging with the

[2019-10-11 22:09] Alberto-Vega-MSFT commented on #40262
Hi @jomalsan Thanks for again for reaching out to provide your feedback. What you are stating about the dependencies is right and I don't think should be an issue since you run the sample locally not using the cloud shell.

[2019-10-11 22:11] MarileeTurscak-MSFT commented on #40493
Please make sure you have finished the following steps 1-3 and run the following Windows PowerShell again:

1. Install [Microsoft Online Services Sign-In Assistant for IT Professionals RTW](https://www.microsoft.com/en-us/download/details.aspx?id=41950&tduid=%28bd1e92d8aeac102281d931522e24a0d3%29%28256380%29%282459594%29%28TnL5HPStwNw-6XajFlqDlrOlYv8G3APkxw%29%28%29)

2. Install [Azure Active Dire

[2019-10-11 22:15] MarileeTurscak-MSFT commented on #40326
I reached out to someone to confirm about this but am still waiting on a response.

[2019-10-11 22:26] Adam-Smith-MSFT commented on #40280
Hi @TsuyoshiUshio I reached out to the team, and currently awaiting their feedback on this ask.

[2019-10-11 22:27] TsuyoshiUshio commented on #40280
Thanks. :)

[2019-10-11 22:27] MicahMcKittrick-MSFT commented on #40587
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-11 22:36] lgayhardt commented on #39942
It just went live =D Sorry for the delay.

 https://docs.microsoft.com/en-us/azure/azure-monitor/app/availability-azure-functions

[2019-10-11 22:42] Mike-Ubezzi-MSFT commented on #40261
@Tiberriver256 Notice how the subsequent day sync starts a few seconds later than the completion time the previous day. The sync start will drift forward in time with each day the sync is run. Is this sufficient to answer your question?

[2019-10-11 22:48] Tiberriver256 commented on #40261
Yes, thank you. Can this be added to the docs?

[2019-10-11 22:50] xaxxon opened #40625 "too many closing curlies on systemassigned identity arm template example"
"identity": {
             "type": "SystemAssigned",
             },
         },

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 124a182c-d062-ae23-26c1-42acdbb05f81
* Version Independent ID: ed24bfbc-d1df-fdac-4677-95755ed918dc
* Content: [How to configure managed identities for Azure resources on an Azure VM by using

[2019-10-11 23:00] Mike-Ubezzi-MSFT commented on #40261
Let me forward this to the content owner as a doc-enhancement as there is nowhere that this is detailed.

[2019-10-11 23:02] Adam-Smith-MSFT commented on #40585
@mikeblakeuk Thank you for the valuable feedback,we are investigating the issue.

[2019-10-11 23:08] NavtejSaini-MSFT commented on #40283
@prabhushrikant At this time we are going ahead and closing this thread. If you have any other question, please get back to us and we will continue the discussion.

[2019-10-11 23:13] JasonWHowell commented on #40507
Hi @mdragt
Please let us know if you saw something that needs to be fixed or enhanced. Thanks, Jason

[2019-10-11 23:17] prabhushrikant commented on #40283
Yes my stunnel config looks the same , I am not changing the value for accept.
`[redis-cli]
client=yes
accept=127.0.0.1:6380
connect=myCache-dev.redis.cache.windows.net:6380`

[2019-10-11 23:25] VanMSFT commented on #38035
Hi @santiagobando! Thank you for your patience. We're updating the images in the docs, and they should be live sometime next week. Thanks again for this feedback, and helping us with the documentation.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/91516

#please-close

[2019-10-11 23:25] #38035 closed

[2019-10-11 23:30] VanMSFT commented on #31937
Following up with the Product Team.

[2019-10-11 23:33] Alberto-Vega-MSFT commented on #40260
@jomalsan I could not get it to work on Mac by following the tutorial. I have assigned the issue to the content author to evaluate and update as appropriate. I did not see the same errors as you did though.

[2019-10-12 00:10] mike-urnun-msft commented on #40597
Hi @AJAnujsharma - Since this channel is more for driving improvements towards MS Docs, could you provide us with the URL of a specific Logic Apps documentaton that your feedback is most applicable to?

[2019-10-12 00:30] Alberto-Vega-MSFT commented on #40277
@gerhard67 Sorry for the delayed response. If you are trying to run Windows containers on a  Linux host I don't think that is supported. Tagging @kgremban to help confirm.

[2019-10-12 00:40] rwike77 commented on #32264
Thanks, @hpsin.  I've updated the note at the top of the article with this information.  Info should publish live Monday morning.  #please-close

[2019-10-12 00:40] #32264 closed

[2019-10-12 00:44] lisaguthrie commented on #40193
This isn't possibly natively, but you can export configuration values from App Config into the app settings for your function, and then reference them from app settings.

[2019-10-12 01:05] wiazur opened #40627 "No build file"
After doing the gradle command: gradle init --type basic
and then choosing "2" for Kotlin, I do not see a build.gradle.kts file anywhere in any of the folders. My root folder contains: 2 folders (.gradle and gradle), then 2 files (gradlew and gradlew.bat).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8815595-4c76-7c

[2019-10-12 01:19] Mike-Ubezzi-MSFT commented on #40602
@davidmi Thank you for the feedback. There is an Azure samples example: [Integrating Azure AD into a NodeJS web application](https://azure.microsoft.com/en-gb/resources/samples/active-directory-node-webapp-openidconnect/)
Please let us know if you have additional questions.

[2019-10-12 01:30] #16665 closed

[2019-10-12 02:00] JasonWHowell commented on #16819
#please-close

[2019-10-12 02:00] #16819 closed

[2019-10-12 03:07] vabgujral commented on #22774
I understand that it cannot work in shared app service plan. But, it is not clear that which limitation prevents having windows and linux apps in same resource group in the same region. I have read the documentation multiple times, but, didn’t get the details.

[2019-10-12 03:10] yulin-li commented on #39930
@sibbl

Thanks for pointing this. There was a bug where the `format` parameter in `AuidioOutputFormat` didn't have any effect on setting output format. So we removed this useless parameter. And as you said, we should use `speechConfig.SetSpeechSynthesisOutputFormat` to set the output format.

I apologize for the inconvenience and will update the relase doc to add this API change.

[2019-10-12 03:40] kumarallamraju opened #40629 "Migate physical or virtualized servers page has references to VMware"
[Enter feedback here]

https://docs.microsoft.com/en-us/azure/migrate/tutorial-migrate-physical-virtual-machines
This page has references to VMware, not sure why?
If you look under Replicate machines section, Step # 2 has references to VMware vSphere..

The title of this page is "Migrate physical or virtualized servers to Azure" because the prior pages talk about VMware VMs and Hyper-V VMs.

Also

[2019-10-12 03:45] kumarallamraju opened #40630 "Typo in Unifiedagent.exe output"
[Enter feedback here]

Refer to "Install on Windows" , Step2

When you run UnifiedAgent.exe command in the agent VM
C:\Temp\Extracted>UnifiedAgent.exe /Role "MS" /Silent
.NET Framework is avaialble. Proceeding ahead with unified agent installation.
Starting silent installation.

Unified agent installation has succeeded.
Please refer installation log for more details - C:\ProgramData\ASRSetupLogs\A

[2019-10-12 03:49] jgwinner commented on #40083
On another thread I just had an MS support person say SSO was _not_ required. They then mentioned AD FS.

So now we need AD Federated Services in addition to AD Hybrid?

All of this has to be documented properly.

Does Microsoft not need to sell Windows Server anymore? I can advise my clients to return 50 user licenses?

You guys really, really need to test as a user would test, including creating

[2019-10-12 03:51] jgwinner commented on #40083
On MS Communities, the just implied that Hybrid is required; this requires an additional subscription.

Is this really required to get the Prompted or Silent to work automatically with the user's credentials? This requires an expenditure so I'd think it really needs to be mentioned, and exactly what level of Azure Active Directory is required.

[2019-10-12 03:56] wshamroukh opened #40631 "node.js application fails to start"
when trying to run the node.js application locally, i get the following error:

PS C:\temp\key-vault-node-quickstart&gt; npm start
&gt; key-vault-node-quickstart@0.0.1 start C:\temp\key-vault-node-quickstart
&gt; node index.js

Server running at http://localhost:1337
(node:11604) UnhandledPromiseRejectionWarning: Error: Either provide "msiEndpoint" as a property of the "options" object or set the

[2019-10-12 04:58] fantinis commented on #39777
#please-open

[2019-10-12 05:48] lastch commented on #39113
The links are still not working, When is it going to be fixed?

[2019-10-12 06:21] jetsons opened #40632 "New-AzPrivateDnsZone command does not exist!"
The article's code samples are all wrong! You need to use `New-AzDnsZone -zonetype Private` instead of `New-AzPrivateDnsZone`!

Also `New-AzPrivateDnsVirtualNetworkLink` does not exist and I have no idea what the substitute command is.

Just try running those commands in Cloud Shell with the latest Az module installed and see for yourself.

---
#### Document Details

⚠ *Do not edit this section. I

[2019-10-12 07:46] SudeshSharma opened #40633 "change the azure vm osdisk size 128 gb to 32 gb"
I have created azure virtual machine with windows server 2016 image(128gb HDD). now I want to reduce or decrease the size of os disk 128 to 32gb.Is it possible to reduce os disk in azure? if possible then how?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccc58c74-7913-f1f6-8681-1823bbd8f050
* Version Independent ID:

[2019-10-12 08:17] shashishailaj commented on #40625
@xaxxon Thank you for pointing that out . We will have this rectified.

[2019-10-12 09:22] rajapratapk commented on #39327
I figured that out as well. However it is worth updating the article https://docs.microsoft.com/en-us/azure/cognitive-services/bing-image-search/quickstarts/python#feedback with this clue.

[2019-10-12 10:53] rajata07 opened #40636 "Python SDK Support for Filtering with Telemetry Processors"
Is there similar example for "Filtering with Telemetry Processors" using Python? This page only talks about C#, Java, and JS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c942519-d432-c629-b717-377576b0142e
* Version Independent ID: b07be278-6ec0-73a3-31b5-2b9e48094503
* Content: [Filtering and preprocessing in the

[2019-10-12 12:00] Expecho commented on #40231
Thanks, I missed that!

[2019-10-12 13:50] giovannifl commented on #31545
Any update on this topic ?
So this means that in Azure, the SQL HA scenario called "Always On with Failover cluster instances and Shared Storage " where S2D is used, doesn't support Azure Disk Encryption V1 or V2 ? What about Windiws Server 2019 ?

[2019-10-12 14:09] giovannifl opened #40637 "Premium Files and FCI - Any update ?"
Hello,
Any update when it could be confirmed that FCI on top of Azure File storage with Premium Storage is supported ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66022e29-3f7d-633d-fa34-2fd3afc2bc7a
* Version Independent ID: fe935bd7-efe5-8a76-02f7-4de3e6caade3
* Content: [High Availability and Disaster Recovery fo

[2019-10-12 14:29] KrishnaG-MSFT commented on #40596
@JavedEqbal Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-10-12 15:10] BharathNimmala-MSFT commented on #40636
@rajata07 Thank you for your question , will further look into this and get back to you shortly.

[2019-10-12 15:25] djpmsft commented on #40607
This behavior is by design. Selecting “All Containers” is equivalent to leaving the “Blob Path begins with” empty. In this case, we require users to specify a filter with “Blob ends with”.

Basically, we ask users to use at least one kind of filter, either at “begins with” or “ends with”.

Also, we want to encourage users to select a container, since not doing this can generate an unwanted large n

[2019-10-12 15:35] MicahMcKittrick-MSFT commented on #40633
@SudeshSharma you cannot resize the OS down, only up. So this is not possible.

If you want a Windows Server with a 32GB OS disk, we actually have a specific images for that in the Azure Marketplace. They all have [small disks] in the title

![image](https://user-images.githubusercontent.com/32313503/66703802-4617ec80-eccb-11e9-84b3-15a26dcfb7af.png)

[2019-10-12 15:35] #40633 closed

[2019-10-12 15:36] MicahMcKittrick-MSFT commented on #40637
Thanks for the question! We are investigating and will update you shortly.

[2019-10-12 15:37] MicahMcKittrick-MSFT commented on #40615
Thanks for the question! We are investigating and will update you shortly.

[2019-10-12 15:37] MicahMcKittrick-MSFT commented on #40627
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-12 16:20] #40555 closed

[2019-10-12 16:21] y-luis opened #40638 "No registered resource provider found for location 'germanywestcentral' and API version '2018-01-10' for type 'locations/checkNameAvailability'."
I have been trying yo to move VMs (and other resources) to another region following [this](https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-tutorial-migrate) documentation, but I have an error creating the Recovery Services vault:

![ijgdeomekegkinfh](https://user-images.githubusercontent.com/8008773/66704524-95ced600-ed14-11e9-87cb-6d59a7d783e2.png)

I have tried [this](https:/

[2019-10-12 16:23] SaurabhSharma-MSFT commented on #40631
@wshamroukh Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-12 16:24] msrini-MSFT commented on #40632
@jetsons , Private DNS zone has changes in its APIs. Now Private DNS is a top level resource.

DNS Zone (Public) is a top level resource and Private DNS Zone is a top level resource.

So, in the future, you need to use New-AzPrivateDnsZone instead of New-AzDnsZone -zonetype Private

Let me know if you have any further questions.

[2019-10-12 16:29] jetsons commented on #40632
Are you kidding me? Try it right now on production azure cloud shell and
tell me if it works.

On Sat, Oct 12, 2019, 9:55 PM KARTHIK SRINIVAS <notifications@github.com>
wrote:

[2019-10-12 16:32] msrini-MSFT commented on #40632
It will work as of today and it will get deprecated soon. We will come up with the migration of Private DNS to the new Private DNS soon. Going forward start using New-AzPrivateDnsZone

[2019-10-12 16:36] msrini-MSFT commented on #40632
@jetsons ,

FYI: https://docs.microsoft.com/en-us/azure/dns/private-dns-migration-guide