[2019-05-16 16:22] robinsh commented on #27022
@ashokpeddakotla Hi, I don't see any modification to that article, is it only in the public branch? And who updated it?

[2019-05-16 16:28] NonlinearMusings opened #31386 "Is this statement correct?"
"If you select Member wins, the changes in the member overwrite changes in the hub. If there's more than one member, the final value depends on which member syncs first."

Seems to me that the last member that syncs will determine the final value in the Hub. However, I can also see how the first sync'ing member's value is written to the hub and subsequently pushed out to other members.

Is there m

[2019-05-16 16:28] kobulloc-MSFT commented on #31206
@mrfnord Thank you for bringing this to our attention.  It does appear that our documentation is out of date.  I'm going to assign this to the document author so they can update this accordingly.

[2019-05-16 16:29] dustingarden opened #31387 "Finding Inactive Guest Users"
I am trying to find a way to generate a report of inactive guest users (i.e. they haven't signed in during the past 60 days). Even the ability to add a last logon date to a report would be helpful. Is that possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6eb6697-4ace-adb6-c922-df8a9a485283
* Version Independen

[2019-05-16 16:35] ManojReddy-MSFT commented on #31367
@bt102The feature will  be enabled when you have premium P1 or P2 licences linked to your tenant and in order to compliant with Microsoft policies, you need all the users who are leveraging the premium features to be licensed accordingly.

So it is recommended to have licenses for all the users who are being synchronized.

[2019-05-16 16:36] ThirstyAdmin commented on #13811
Hey Sorry to resurrect this thread.

Looking at at the activity log you are able to glean a little bit of information about server errors. For the most part the errors i've been seeing are "Currently there is an Azure platform problem that may be impacting your service bus namespace" this seems to be very frequent. Unfortunately from what it looks like in the metrics for creating a rule to alert y

[2019-05-16 16:37] jay98014 commented on #30637
Hi @lightupdifire,

Short answer to your question is that yes, you can just run the DC agent installer without uninstalling the old version, and it will do an in-place upgrade.

In the near future I will be adding a new doc section to document all of the various upgrade considerations.

[2019-05-16 16:45] Csmithson-qh opened #31388 "Failed to register worker"
Hello, this is for an issue I have deploying a hybrid runbook worker for Linux in my environment.
When following the procedure below referenced here, https://docs.microsoft.com/en-us/azure/automation/automation-linux-hrw-install, I get all the way to executing the python command, and end up with the following output

`No diy worker found. Account validation skipped.
Certificate/Key created.
Traceb

[2019-05-16 16:46] mikebudzynski commented on #31372
#please-close

[2019-05-16 16:46] zmarty commented on #27054
The update is that Azure Key Vault support on devbox is not possible at the moment. We had to implement it ourselves.

[2019-05-16 16:50] MicahMcKittrick-MSFT commented on #31388
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-16 16:54] Rosewood99 commented on #31375
Also, why can't a setProperty() self reference when used in a set variable step?  If I want to update a variable containing json using the setProperty function, I have to create another variable to store the return value and then set the first variable to the second, very annoying and just adds cost to the logic app

[2019-05-16 16:54] Anmolgan81 opened #31389 "How can I install 7zip software into Azure SSIS"
How can I install the 7zip software on to the azure SSIS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16d4ef48-6270-324e-5821-8557cf332320
* Version Independent ID: da6ae67f-4d00-63fb-63b4-b615a78317aa
* Content: [Customize setup for the Azure-SSIS integration runtime](https://docs.microsoft.com/en-us/azure/data-fac

[2019-05-16 16:56] Alberto-Vega-MSFT commented on #31377
@camdo2 I'm sorry to hear that you are facing issues. Is your issue related to this one? https://github.com/MicrosoftDocs/azure-docs/issues/30733

[2019-05-16 16:56] vhorne commented on #30407
@SubhashVasarapu-MSFT The article currently states the following under Zone redundancy:

Zone redundancy is available only where Azure Zones are available. In other regions, all other features are supported. For more information, see What are Availability Zones in Azure?

[2019-05-16 16:57] Mike-Ubezzi-MSFT commented on #31386
@NonlinearMusings Thank you for suggesting this documentation enhancement. The documentation team will evaluate and update the document as appropriate.

[2019-05-16 16:59] YutongTie-MSFT commented on #31383
@paul-arthurthiery Thank you for your feedback, we will investigate it and get back to you soon.

[2019-05-16 17:00] YutongTie-MSFT commented on #31379
@ggnabasik  Thank you for your feedback, we will investigate it and get back to you soon.

[2019-05-16 17:01] githubavi commented on #28756
OK, got it Ryan

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Ryan Wike <notifications@github.com>
Sent: Thursday, May 16, 2019 9:34:59 PM
To: MicrosoftDocs/azure-docs
Cc: Avijit Samanta; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Where to get the detail documentation on "Definition" JSON object (#28756)

@githubavi<https://nam04.safelinks.protection.

[2019-05-16 17:01] mike-urnun-msft commented on #31157
@yokawasa Thanks for pointing this out! We'll reach out to the right team and update the Kudu doc for consistency as well.

[2019-05-16 17:11] shawmakesmusic commented on #25831
@Alberto-Vega-MSFT Hey Alberto,

New ARFoundation is out, which gives direct access to the AR session pointer, frame pointer, etc etc. We made the conversion, and everything *should* work. Spatial Anchors are getting the pointer to the AR Session on Android just fine, but when we try to call CloudAnchorSession.Start() it crashes. On iOS, just assigning the session (invoking the code related to the

[2019-05-16 17:13] erhopf commented on #31337
@ArcherAZ - Can you take a look at this?

[2019-05-16 17:16] Karishma-Tiwari-MSFT commented on #30997
@duckie Is there any update?

[2019-05-16 17:18] Karishma-Tiwari-MSFT commented on #31305
Thanks @MSSedusch
@NoeHoyos Did that help? Please let us know.

[2019-05-16 17:18] Alberto-Vega-MSFT commented on #31378
@romankiss Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-16 17:19] himanshusinha-msft commented on #31105
@emeria  : We have assigned the issue to the content author . They will evaluate & update the document as appropriate.

[2019-05-16 17:24] himanshusinha-msft commented on #31243
@vijaysuram : Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on MSDN and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you think it needs to an

[2019-05-16 17:28] brent-smith-msft opened #31391 "Limits on Allow/Block list are missing from this document"
Tony Redmond wrote an article https://www.petri.com/azure-active-directory-external-collaboration-policy where he calls out:

"You can add up to 60 domains to a block or allow list.".

This document should be updated to include this sort of limitation so that Microsoft's customers can make informed decisions on how to manage their B2B configuration.

Thanks!

---
#### Document Details

⚠ *Do not e

[2019-05-16 17:29] TiloGit commented on #30296
any update? I added feedback request for this:
https://feedback.azure.com/forums/34192--general-feedback/suggestions/37666612-add-gc-port-3269-to-ad-ds-created-lb

[2019-05-16 17:29] dalmat36 opened #31392 "Shared runtime and deleted ADF"
what happens if the original ADF is removed? Does the runtime switch to another ADF of just fail to function? Should one ADF be created for the sole purpose of “hosting” all the runtimes and other ADFs share from it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32785d15-8202-6e44-f1d2-420ef0600f3f
* Version Independe

[2019-05-16 17:30] shashishailaj commented on #31345
@umeshbarapatre Thank you for your desire to contribute an article to azure with a verified use case. We are engaging the content team in order to verify your request . You can always create a new pull request for review by the content team which will in turn review it with product engineering as per current product capabilities and publish the same after review.

@rwike77 Could you please help @u

[2019-05-16 17:40] yegu-ms commented on #30433
@vikramdadwal We're targeting mid-Oct.

#please-close

[2019-05-16 17:42] zereplim commented on #31071
@jwargo is it because I'm not a registered developer? If it is, maybe should be documented on the requirements. If we have a possibility to create an free azure account but not able to access the "create new app" on dev center without paying a subscription, how would be possible to test the notifications hub?
Thank you!

[2019-05-16 17:43] ericwj commented on #31072
Yes, I created another issue for the CLI doc. Thanks.

[2019-05-16 17:47] yegu-ms commented on #30721
@markarnolditpro With last week's public release, you can now push settings from App Configuration directly into App Service through Import/Export in our portal UI. Please give that a try and see if it meets your need. The Key Vault-style integration in the App Service UI is on the roadmap, though it needs to be done by the App Service team. They're aware of it. We just don't know when it's going

[2019-05-16 17:48] vaderj opened #31393 "extensionAttribute's in SharePoint Online"
In the documentation: https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-sync-attributes-synchronized#sharepoint-online

extensionAttribute's 1-15 are listed as being synced with the User Profile Service, however those properties do not appear to be synced with the User Profile Service, and there is no way to map them: https://github.com/MicrosoftDocs/OfficeDocs-Share

[2019-05-16 17:50] rwike77 commented on #16906
@ptallett  Thanks for the feedback.  I think you're right that Get-AzureADServicePrincipal is a much easier way to get the ID and also keeps you in the context of PowerShell.  I've updated the article to use this cmdlet, changes have merged and should publish live later today.  #please-close

[2019-05-16 17:52] yegu-ms commented on #31144
@davidekarasek The [.NET Core quickstart](https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-dotnet-core-app) shows how to access App Configuration from .NET Core code. There is no special configuration required. The service provider plugs directly into the .NET configuration system.

#please-close

[2019-05-16 17:52] SaurabhSharma-MSFT commented on #31209
@danieladams456 The sign in algorithm is only RSA256 currently and I do not have any roadmap for the inclusion of any other algorithms.  Please post this as a feedback https://feedback.azure.com/forums/169401-azure-active-directory This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to ta

[2019-05-16 17:52] rwike77 commented on #16906
@nugentd, sorry for the slow reply.  The plan is still to deprecate this feature on Nov 1, 2019.  You should consider switching to using [conditional access ](https://go.microsoft.com/fwlink/?linkid=2083106)soon.

[2019-05-16 17:54] JamesEarle commented on #22901
@deivit78 I also experienced the same error listed above with the Python sample. There is clearly some abstraction done because the JSON response to the API is fairly complex, and actually requires multiple calls, but you can simply use Python `requests` to write request like below.

[code]

You can add `{"id": "<your-custom-language-model-id>"}` into the `models` array in the body of the payload

[2019-05-16 17:54] rwike77 commented on #28756
@githubavi  Cool.  Closing this issue, please reopen if necessary.  #please-close

[2019-05-16 17:55] SaurabhSharma-MSFT commented on #31230
@mganeshphani I checked the other issue as well and screenshots screen is same.

[2019-05-16 17:56] yegu-ms commented on #31241
@vikramdadwal If your question is whether you can use App Configuration feature flags in a (web/mobile) client application, the answer today is no. That requires token-based access and is not supported yet.

#please-close

[2019-05-16 18:00] yegu-ms commented on #31244
@vikramdadwal As documented in the [Tutorial for using feature flags in a .NET Core app](https://docs.microsoft.com/en-us/azure/azure-app-configuration/use-feature-flags-dotnet-core), you just need to add a feature filter:

using Microsoft.FeatureManagement;
using Microsoft.FeatureManagement.FeatureFilters;

public class Startup
{
    public void ConfigureServices(IServiceCollection services)

[2019-05-16 18:01] yegu-ms commented on #31244
@vikramdadwal As documented in the [Tutorial for using feature flags in a .NET Core app](https://docs.microsoft.com/en-us/azure/azure-app-configuration/use-feature-flags-dotnet-core), you just need to add a feature filter:

`using Microsoft.FeatureManagement;
using Microsoft.FeatureManagement.FeatureFilters;

public class Startup
{
    public void ConfigureServices(IServiceCollection services)

[2019-05-16 18:02] yegu-ms commented on #31244
#please-close

[2019-05-16 18:05] NoeHoyos commented on #31305
Thank you. This helps a lot.

-Noe Hoyos

On Wed, May 15, 2019 at 7:50 PM Sebastian Max Dusch <
notifications@github.com> wrote:

[2019-05-16 18:06] Karishma-Tiwari-MSFT commented on #31305
@NoeHoyos Thanks for the update. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-05-16 18:06] #31305 closed

[2019-05-16 18:06] mganeshphani commented on #31230
@SaurabhSharma-MSFT The documentation in following link
https://docs.microsoft.com/en-us/azure/security-center/security-center-provide-security-contact-details
![image](https://user-images.githubusercontent.com/22988320/57876594-52ab1e00-77db-11e9-9d71-7be699e841ba.png)

but I couldn't find it any more in security center.. please correct the documentation on where to find the security contact deta

[2019-05-16 18:07] mamccrea commented on #31105
Hi @emeria - Thank you for bringing this to our attention. I am going to test these methods.

[2019-05-16 18:08] himanshusinha-msft commented on #31389
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-05-16 18:09] Anmolgan81 commented on #31389
I think I found a way, this can be closed.

[2019-05-16 18:10] #31241 closed

[2019-05-16 18:10] japicket opened #31395 "The remote server returned an error: (409) Conflict."
Using the command line tool, I will occasionally receive an error: "The remote server returned an error: (409) Conflict. There is currently a pending copy operation." Is there a way to override the current copy operation or force the current copy operation to succeed?

Note: I have /NC:"number-of-concurrent-operations" set to 1.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-05-16 18:11] himanshusinha-msft commented on #31389
Thanks @Anmolgan81

[2019-05-16 18:11] #31389 closed

[2019-05-16 18:11] AE-MS opened #31396 "Many terms on this page don't match the current Azure portal pages"
E.g. this page says things like "In Reply Url" but on the Azure portal registration it's now called "Redirect URIs."  Another example is how this page says "sign out URL" but the Azure portal actually calls it "Logout URL."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44113950-5a72-d794-3e50-67dbf17ee6f0
* Version In

[2019-05-16 18:12] MicahMcKittrick-MSFT commented on #31393
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-16 18:12] himanshusinha-msft commented on #31392
@dalmat36   Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-05-16 18:14] danieladams456 commented on #31209
Thank-you for the information!

[2019-05-16 18:14] #31209 closed

[2019-05-16 18:16] normesta commented on #31052
Thank you for the feedback @GFoley83. Yes. this brief mentioning does not elaborate too much on delivery and reliability mechanics. It's difficult to know what the state of the receiving function is, so an all up guarantee of delivery and reception is difficult. According to Event Grid documentation, the message is guaranteed to be delivered at least once - either to a receiving function, or if th

[2019-05-16 18:17] normesta commented on #31052
#please-close

[2019-05-16 18:17] camdo2 commented on #31377
Thank you, that worked. I didn't realize I had to move the device around for some time before being able to place an anchor.

[2019-05-16 18:24] miaojiang commented on #30970
@evertonmc  can you please elaborate on your scenario? How do you determine the N?

[2019-05-16 18:25] SaurabhSharma-MSFT commented on #31396
@AE-MS Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-05-16 18:26] SaurabhSharma-MSFT commented on #31391
@brent-smith-msft Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-05-16 18:28] lciocci opened #31399 "Discrepancy between unlimited blob storage containers vs. limited number of rules"
An Azure Blob Storage account can have an unlimited number of containers. There's a limited number of Azure Blob Storage lifecycle rules that can be defined (e.g. 100) and each rule must reference a container. Ideally there'd be a one-to-one relationship between the number of containers and the lifecycle rules that can be defined for those containers.

It's possible that I misinterpreted the docum

[2019-05-16 18:30] cynthn commented on #31376
@DeclareHigh Thanks for catching that! I've filed a pull request to have the topic updated. Thanks again!

#please-close

[2019-05-16 18:34] SaurabhSharma-MSFT commented on #31387
@dustingarden Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-16 18:35] SaurabhSharma-MSFT commented on #31384
@jackpanetta Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-16 18:41] evertonmc commented on #30970
@miaojiang in my case, N will be based on the request payload (object count) but in other usecases the request “weight” could be also part of the header or a jwt-claim

[2019-05-16 18:45] SubhashVasarapu-MSFT commented on #31240
@dmauser , We are assigning this issue to content author for updating the document accordingly.

[2019-05-16 18:46] miaojiang commented on #30970
@evertonmc, got it. There is a 'increment-count' attribute you can use in the policy. Somehow it was removed from the documentation, we will add it back.

[code]

[2019-05-16 18:49] arduppal commented on #31161
The tiered data directly goes to Azure.
We maintain the information about how much data is tiered in our local database

For your other question am pasting the text from this doc:
![image](https://user-images.githubusercontent.com/35786462/57879136-98161e00-77d0-11e9-8ecf-de2363ac75b3.png)

[2019-05-16 18:50] rupeshprasad commented on #31315
Hi @ManojReddy-MSFT  - I gave bit more though to it and your point made sense.

[2019-05-16 18:50] #31315 closed

[2019-05-16 18:51] aakashi-kapoor commented on #31367
@bt102 Thanks for reaching out.  You will require all synced users to be licensed to avail the benefits of the feature.
Let me know if you have any additional questions.

[2019-05-16 18:52] Karishma-Tiwari-MSFT commented on #31376
Thanks @cynthn
@DeclareHigh Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-05-16 18:52] #31376 closed

[2019-05-16 18:55] ggailey777 commented on #31385
@Francisco-Gamino what version of Core Tools are you using on a Mac? Bundles was recently added and requires a newer version of Core Tools. In the meantime, I will verify on my Mac and make sure we have the correct Core Tools version documented here.

[2019-05-16 18:55] Csmithson-qh commented on #31388
/sigh,
I figured this out. the endpoint URL i was refencing was from the application registration for the SPN of the automation account where the SPN keys are kept... NOT the keys under the automation account
This is an RTFM fix....

[2019-05-16 18:55] #31388 closed

[2019-05-16 19:10] msrini-MSFT commented on #31298
@johnthcall , Can you provide me following info?

1. What errors do you see with ARM template deployment in national clouds?
2. Which national cloud is it?
3.  Do you only see this error with LB, or ARM template in general?

[2019-05-16 19:13] msrini-MSFT commented on #31370
@krishnanmuraligv , To answer to your question,

Yes, you can assign IPv6 address to Load balancer.
Yes, you can send traffic to Load balancer
Yes, the sent traffic will be received by the backend VM.

Here is the documentation for IPv6 support in LB: https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-ipv6-overview

Let me know if you have any further questions.

[2019-05-16 19:13] cijothomas commented on #30986
@breyed @kobulloc-MSFT The correct way to track any additional telemetry is as per this doc (FAQ 1):
https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core-no-visualstudio#frequently-asked-questions
The main difference is, for asp.net core apps - Don't create new TelemetryClient(). Always get it from DI.

@breyed The latest beta version of the SDK enabled automatic capture of Warnin

[2019-05-16 19:15] ggailey777 commented on #31385
I have also successfully created a function app and new function by following these instructions.
The version of Core Tools on macOS was the latest (2.7.1158).
#please-close

[2019-05-16 19:17] #31385 closed

[2019-05-16 19:19] davidekarasek commented on #31144
Thank you. I was able to get this to work inside a Web API controller.
I had to change this:* var *response = await client.SendEmailAsync(msg)*;*
to this:* SendGrid.Response* response = await client.SendEmailAsync(msg).
*ConfigureAwait(false);*
I needed to capture the response object to return to the client (indirectly
by adding httpStatusCode in the response to our app's custom Summary class)
Sec

[2019-05-16 19:22] Sshetty2 commented on #29787
@codyborn @PatAltimore Still waiting for feedback... The post on the forums has not received any replies..

Has this resource been deprecated?

[2019-05-16 19:25] AjayKumar-MSFT commented on #31185
Thanks for posting this question! To highlight about the network drives (aka UNC shares), yes one of the unique aspects of App Service that makes app deployment and maintenance straightforward is that all user content is stored on a set of UNC shares. This model maps well to the common pattern of content storage used by on-premises web hosting environments that have multiple load-balanced servers.

[2019-05-16 19:33] AjayKumar-MSFT commented on #31164
@dvherk, We have updated the document with an appropriate change, thanks again for sharing your feedback on this item. We will now close this out, but if you have any questions please do let us know.

[2019-05-16 19:33] #31164 closed

[2019-05-16 19:33] chadcarlton opened #31402 "Please include a link to how to use PIM in powershell"
Is this the only way to activate eligible priviliged roles in powershell with MFA currently?  (this is a powershell graph application) http://www.anujchaudhary.com/2018/02/powershell-sample-for-privileged.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7338196-8434-f76e-ec0d-15bc85d51434
* Version Independent ID:

[2019-05-16 19:34] ealsur commented on #29740
@kvbreddy Are you using a custom HttpMessageHandler?

[2019-05-16 19:34] thavidu opened #31403 "This page still has syntax issues (also mentioned in the other issue that was incorrectly closed)"
1. gt datetime'@{body('Get_past_time')}' in the Filter Query step should be
CreatedTime gt datetime'@{body('Get_past_time')}'
or Timestamp gt datetime'@{body('Get_past_time')}'
(both will work)
2. The body step later has ('Get_entities')?['value'] in the code/quoted formatting, it should include the word "body" first so it looks like body('Get_entities')?['value'] all inside the code/quoted format

[2019-05-16 19:36] mumian commented on #24663
It is by design.  Using $HOME is required.

#please-close

[2019-05-16 19:38] ran-ten21 opened #31404 "Replicated machines - disk actions"
Replicated machines - disk actions
-is this still accurate with the new update about adding disks while still replicating?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34d0f2df-de85-c6ab-eb01-f8e028b7f108
* Version Independent ID: 5acb187c-f280-5c7d-14fc-7f07160cd50b
* Content: [Support matrix for disaster recovery o

[2019-05-16 19:38] AjayKumar-MSFT commented on #29743
@stefsch, Kindly let us know if Cephas post above clarifies and if this issue is good to be closed or requesting you to share your feedback further on this for any doc improvements.

[2019-05-16 19:39] chadcarlton commented on #31402
Just realized I wasn't clear enough. This is about Azure resources, not AAD...

[2019-05-16 19:40] breyed commented on #30986
@cijothomas To clarify, by "unhandled exception", you mean an exception [handled by the server](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/error-handling?view=aspnetcore-2.2#server-exception-handling), correct?

To further clarify, here are the main 4 scenarios for exception handling and their behavior as I understand it:
* **Handled by app**: No reporting. (Though somehow they are

[2019-05-16 19:55] AjayKumar-MSFT commented on #30964
@dcbrown16, We have made the appropriate changes in the document, so we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion. Thanks again for sharing your feedback.

[2019-05-16 19:55] #30964 closed

[2019-05-16 19:56] ggailey777 commented on #31319
@juanren as @DixitArora-MSFT correctly points out, Java functions are developed locally and then published to Azure. Local development is actually preferred for Azure Functions, especially for compiled languages like Java and C#.

[2019-05-16 20:07] aljo-microsoft commented on #31145
@festivus  and @znatan
With Silver or Higher Durability level for your Node Types in Azure, you get a System~InfrastructureService provisioned, and this delivers:

Durability tier | Required minimum number of VMs | Supported VM SKUs | Updates you make to your virtual machine scale set | Updates and maintenance initiated by Azure
-- | -- | -- | -- | --
Gold | 5 | Full-node SKUs dedicated to a singl

[2019-05-16 20:14] j0s3m1cha3l opened #31405 "Title "Set Query" merged with Tip above"
Hello. "Set Query" is a section header. In this page it has merged with the tip section above. Please fix this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8559da92-3f36-3f18-168b-8348cfed0070
* Version Independent ID: 21918785-cb18-613a-cbc3-8ada2ecfd366
* Content: [Export to SQL from Azure Application Insights](ht

[2019-05-16 20:26] CeciAc commented on #28833
@ishasahni1 please assign to @DavidPrio

[2019-05-16 20:29] preddy727 opened #31407 "Update code in create virtual machine scale sets section"
Following Error will prompt when I run the command to create VMSS
New-AzureRmVmss
-ResourceGroupName myResourceGroupAG
-Name myvmss
-VirtualMachineScaleSet $vmssConfig
-Verbose
VERBOSE: Performing the operation "New" on target "myvmss".
New-AzureRmVmss : 'CreateOption' cannot be null.
At line:1 char:1
New-AzureRmVmss `
  + CategoryInfo          : CloseError: (:) [New-AzureRmVmss], ValidationExcept

[2019-05-16 20:30] himanshusinha-msft commented on #30976
@bertrandpons  As it appears  we have to engage few other teams to get this resolved .Can you please email us at azcommunity@microsoft.com? Please provide us with your subscription ID and the URL for this thread.

[2019-05-16 20:31] Adam-Smith-MSFT commented on #31369
Could you please provide us with additional details and to the documentation issue section you are refering to ?

[2019-05-16 20:37] Adam-Smith-MSFT commented on #31399
@lciocci Do you still need help with your query or were able to reach to a specific conclusion ?

Thanks,
Adam

[2019-05-16 20:45] Adam-Smith-MSFT commented on #31395
@japicket Thanks for the feedback, I'd highly recommend posting [here](https://github.com/MicrosoftDocs/azure-docs/issues/31395) since this is a product issue rather than documentation issue.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-16 20:45] #31395 closed

[2019-05-16 20:46] alexmarshall132 opened #31409 "No explanation for presence of Contributor role"
The documentation indicates that the Azure AD "Contributor" role is added to the Service Principal, and is consistent with the actions of the script, but does not state why the Contributor role is necessary. Can we please get an explanation of this added ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6329b3a8-32d6-c3

[2019-05-16 20:46] vijaysuram commented on #31243
In the document linked services properties for EncryptionMethod (EM) property, the example shows ValidateServerCertificate=<0/1/6>; I think it should be EncryptionMethod=<0/1/6>;

[2019-05-16 20:49] diogenes9 commented on #18379
I don't know the best place to ask this...

Question: I know some of the ASE docs say that TCP ports 454 and 455 must be left open, but do they really need to be left open to the public Internet at large? I am sitting on my home system and able to probe those two ports on a client's ASE installation. Elsewhere, it seems to say that there is a list of management addresses (starting with 13.64.115.2

[2019-05-16 20:51] evertonmc commented on #30970
hi @miaojiang, thank you very much for revealing this (somehow) hidden attribute. It's exactly what we where looking for! Cheers!
I just tested this feature and it has a **MAJOR bug**, but I don't think that it belongs to the scope of this doc issue.

When increment-count is set in the quota-by-key policy and the (to-be-)incremented value exceeds the quota, the requests gets through once anyways.

[2019-05-16 20:52] VladimirKhvostov opened #31411 "Prerequisites script does not return values for DiskEncryptionKeyVaultId and DiskEncryptionKeyVaultUrl parameters"
Prerequisites script does not return values for DiskEncryptionKeyVaultId  and DiskEncryptionKeyVaultUrl parameters.

 Set-AzVmDiskEncryptionExtension -ResourceGroupName "MySecureRG" -VMName "MySecureVM" `
 -DiskEncryptionKeyVaultId "&lt;Returned by the prerequisites script&gt;" -DiskEncryptionKeyVaultUrl "&lt;Returned by the prerequisites script&gt;"
W

---
#### Document Details

⚠ *Do not edit th

[2019-05-16 20:57] jeevansd commented on #29978
@ian-s-mac This is a known bug.  We have already working on this bug and soon it will get fixed. We will update this GitHub item once we fix the issue on our side.

[2019-05-16 20:59] #22864 closed

[2019-05-16 21:01] MicahMcKittrick-MSFT commented on #27417
@rkarlin looks like the user you mentioned is not eligible to be assigned issues in this repo

[2019-05-16 21:02] butchmarshall commented on #30827
Thanks - I've created the support ticket 119051622002580

[2019-05-16 21:04] MartinJaffer-MSFT commented on #31281
Oh! Okay! I see, you want to use the returned result to determine which item to execute next.  Well, I do have something just for that!  Wait.. you said _overall status_ .. eh now I am thinking in circles.  I'll share.

Here is the JSON for a pipeline showing how to change color based upon parameter.
`{
    "name": "How to make a switch",
    "properties": {
        "description": "uses the value

[2019-05-16 21:04] MarileeTurscak-MSFT commented on #31402
@chadcarlton
Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-16 21:05] MarileeTurscak-MSFT commented on #31409
@alexmarshall132
Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-16 21:06] MicahMcKittrick-MSFT commented on #31145
@aljo-microsoft thank you for clarifying all of that :)

@festivus I will close this but if you have follow up questions just let me know.

[2019-05-16 21:06] #31145 closed

[2019-05-16 21:08] #31280 closed

[2019-05-16 21:12] MarileeTurscak-MSFT commented on #31368
Hi @JanBakker88 , this information is not available yet. You can check back on this page to get the latest updates on this.

[2019-05-16 21:12] #31368 closed

[2019-05-16 21:15] kumarallamraju opened #31412 "Unable to locate DNS servers with the steps followed"
[Enter feedback here]
The original doc says
Change the primary and secondary DNS address for the Srv-Work network interface
For testing purposes in this tutorial, configure the server's primary and secondary DNS addresses. This isn't a general Azure Firewall requirement.

From the Azure portal, open the Test-FW-RG resource group.
Select the network interface for the Srv-Work virtual machine.
Under

[2019-05-16 21:18] cijothomas commented on #30986
@breyed Yes i meant those handled by the server.
Unobserved exceptions are tracked in Asp.Net. Not yet for Asp.Net Core.

Will make sure docs cover these.

[2019-05-16 21:19] JasonWHowell commented on #30981
@PVikash We haven't heard back lately. We'll close out the issue assuming the install helped, but let us know if you have additional concerns and we can resume. Thanks~ Jason
#please-close

[2019-05-16 21:19] kobulloc-MSFT commented on #31405
@j0s3m1cha3l Thank you for bringing this to our attention!  I've submitted a fix, and the changes should be updated shortly.

[2019-05-16 21:20] SyntaxC4 opened #31413 "[WTD] Write the Docs Inclusion Project"
Hello fellow documentarians!

First off, I'd like to thank each of you for participating in the Write the Docs writing day. We appreciate you spending time with us while we work towards building more inclusive documentation.

# The Goal

At Microsoft, our mission is to empower every person and every organization on the planet to achieve more. To realize this mission, we need to ensure that our doc

[2019-05-16 21:21] YutongTie-MSFT commented on #31374
@jasonslater331 Glad to see your problem solved, could you please share the root cause? Which "s" is missed?

[2019-05-16 21:22] YutongTie-MSFT commented on #31276
@unscramblrahul We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-16 21:22] #31276 closed

[2019-05-16 21:22] #31244 closed

[2019-05-16 21:23] femsulu commented on #30434
thanks for the update @bwren.
@sshorkey hope this answers your question. we will now close this issue but don't hesitate to reply if needed.

[2019-05-16 21:23] #30434 closed

[2019-05-16 21:24] jishnudantu opened #31414 "Not able to create a container through azure blob storage"
Hi,
I followed the docs to create a blob storage module and tried to connect it through the azure storage explorer. I was able to connect it using the device string as mentioned DefaultEndpointsProtocol=http;BlobEndpoint=http://&lt;host device name&gt;:11002/&lt;your local account name&gt;;AccountName=&lt;your local account name&gt;;AccountKey=&lt;your local account key&gt;;
When I tried to connec

[2019-05-16 21:26] ishasahni1 commented on #28833
@DavidPrio can you please look into this issue.

[2019-05-16 21:30] bhjolly opened #31415 "Link Inception"
I second issue 17066 (https://github.com/MicrosoftDocs/azure-docs/issues/17066). All I'm trying to do is figure out how to use the REST API without downloading an Azure SDK or a library but now I have 19 browser tabs open and an overwhelming sense of frustration. This page tells me nothing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-05-16 21:37] cdelcambre opened #31416 "Incorrect Registry Paths"
There is a duplicate system in the path.
HKLM\System\System\CurrentControlSet\Control\SecurityProviders\SCHANNEL\Protocols\TLS 1.2
Should be
HKLM\System\CurrentControlSet\Control\SecurityProviders\SCHANNEL\Protocols\TLS 1.2

HKLM\System\System\CurrentControlSet\Control\SecurityProviders\SCHANNEL\Protocols\TLS 1.2\Client
should be
HKLM\System\CurrentControlSet\Control\SecurityProviders\SCHANNEL\Pro

[2019-05-16 21:40] krishorrocks opened #31417 "Future of Studio?"
I'm interpreting this page as suggesting the future of Studio is not bright and focus should be on ML Service as more features come online. Typical "feature rich with limited architecture v1" vs. "currently feature poor but long-term direction v2" decision... Is that correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-05-16 21:41] juanren opened #31418 "how I set Subscription when I create java function in my locally"
just default for "free trial"? if I want to use for production, how I set the Subscription name?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e656bde5-b5d8-8d80-b7b3-ab430e57613e
* Version Independent ID: 329eb12f-7302-4ecf-c1bf-a50ba3f34bdf
* Content: [Create your first function in Azure with Java and Maven](https:/

[2019-05-16 21:43] femsulu commented on #31403
@thavidu Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-05-16 21:43] arduppal commented on #31361
Are you are using Azure Storage Explorer 1.5.0 version as mentioned in this document?

[2019-05-16 21:45] bhjolly commented on #15467
@pierreca any progress on this?

[2019-05-16 21:46] femsulu commented on #31404
@ran-ten21 Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-05-16 21:46] TMSConsulting opened #31419 "Feedback on Tutorial Page -"
This tutorial is flawless and is extra strength newbie.  Thanks to the unsung hero out there who did this and probably shaved days off my learning.  At my age, I need to conserve these days!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1e11aaf-3a77-95dc-371c-01d67556c2c3
* Version Independent ID: 78172c04-5737-a5f2-

[2019-05-16 21:47] arduppal commented on #31414
Are you using Azure Storage Explorer 1.5.0 as mentioned in the document?

[2019-05-16 21:51] MicahMcKittrick-MSFT commented on #31419
@TMSConsulting thanks for the feedback! Glad to hear the doc was able to help you in your Azure Journey :)

@cynthn great work on this doc!

[2019-05-16 21:51] #31419 closed

[2019-05-16 21:55] rezasherafat commented on #31196
@nicklasfrahm we will expand the document on how to use AMQP clients to send telemetry soon. Since the current code snippets are using Python/uAMQP, we'll probably continue with the same choices. You should be able to translate the sample code to other languages/libraries. thanks.

[2019-05-16 22:02] nwehner opened #31421 "VNET rules are not present in Connection Security settings"
This documentation appears to be from an old version of the Azure Database for Postgres. The Connection Security screenshots and instructions mention a "VNET Rules" section that is not present (at this on my screen!). How does one setup a VNet for Postgres given this fundamental setting is no longer available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2019-05-16 22:22] SaurabhSharma-MSFT commented on #31387
@dustingarden Unfortunately, there is no way to query inactive state of guest users at this time.  The only solution would be to check the sign-in logs to see if the user has signed in and accessed your resources. Please refer to [Get started with the Azure Active Directory reporting API](https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/concept-reporting-api) to learn mor

[2019-05-16 22:30] miaojiang commented on #30970
@evertonmc we will take a look. Would be great if you can submit a support ticket to properly track the issue.

[2019-05-16 22:47] SaurabhSharma-MSFT commented on #31274
@ledzep9012 I suggest you to please open a new MSDN forum post with the details, code snippets and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required.  Please provide the MSDN link over here so that I can help you gettin

[2019-05-16 22:51] MarileeTurscak-MSFT commented on #31393
@scanum @billmath thoughts on this?

Are these synced automatically or does it require a CSOM call? Is it possible to map these?

It is difficult for me to confirm on my end because I do not have a proper Sharepoint lab.

[2019-05-16 22:51] diberry commented on #31187
The quickstart is not a good representation of results from a machine-learning perspective. Please use the [Azure Notebook sample](https://github.com/Azure-Samples/cognitive-services-personalizer-samples/tree/master/samples/azurenotebook) for that purpose.

[2019-05-16 22:58] nwehner commented on #31421
Update: it appears that "Basic" Postgres servers can't be added to a VNet. That was my issue.

It would be super helpful to make that more apparent. Or possibly even mention that VNets are not possible for securing Basic servers on those documentation pages, e.g.: https://docs.microsoft.com/en-us/azure/postgresql/concepts-firewall-rules

[2019-05-16 23:01] mishas23 commented on #5525
@tdykstra I am also running into same error(Error indexing method 'EventGridTest1.Run'Can't bind EventGridTriggerAttribute to type 'Newtonsoft.Json.Linq.JObject'.)
Will you be able to here or point me to right POC?
I am using 1.0.24 sdk. version of Microsoft.Azure.WebJobs.Extensions.EventGrid is 1.0.0 as I am using .NET framework. and Microsoft.Azure.WebJobs.Extensions = 2.3.0

[2019-05-16 23:05] mishas23 commented on #24179
I am using version 1 and running into following error when I use JObject:
Error indexing method 'EventGridTest1.Run'Can't bind EventGridTriggerAttribute to type 'Newtonsoft.Json.Linq.JObject'.

[2019-05-16 23:07] TravisCragg-MSFT commented on #31412
@kumarallamraju Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-16 23:07] mishas23 opened #31422 "I am running into following error: Run: Microsoft.Azure.WebJobs.Host: Error indexing method 'EventGridTrigger.Run'. Microsoft.Azure.WebJobs.Extensions.EventGrid: Can't bind EventGridTriggerAttribute to type 'Microsoft.Azure.EventGrid.Models.EventGridEvent' . The version of Microsoft.Azure.WebJobs.Extensions.EventGrid is 1.0.0 as I am using .NET framework. and Microsoft.Azure.WebJobs.Extensions = 2.3.0"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-05-16 23:10] #31422 closed

[2019-05-16 23:14] TravisCragg-MSFT commented on #31407
@preddy727 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-16 23:16] marcelohsilva opened #31423 "Lots of "Undefined symbols for architecture arm64" when building in Xcode"
By following exactly the documentation here, after clicking "Build" in Xcode, the following Buildtime errors occur:

Undefined symbols for architecture arm64:
  "_OBJC_CLASS_$_ARObjectScanningConfiguration", referenced from:
      objc-class-ref in ARKitNativeObjectDetection.o
  "_OBJC_CLASS_$_AREnvironmentProbeAnchor", referenced from:
      objc-class-ref in ARSessionNative.o
      objc-class-re

[2019-05-16 23:19] MicahMcKittrick-MSFT commented on #31423
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-16 23:19] MicrosoftGuyJFlo commented on #31186
#in-progress

[2019-05-16 23:25] SaurabhSharma-MSFT commented on #31230
@mganeshphani The screenshot on the page is correct as the security center display "Provide Security Contact Details" recommendation only when you do not have any security contact added to your subscriptions.  If you already have a security contact added in the portal and you want to change it then you have to follow the below steps -

1. Navigate to "Security Center" and from Security Center blad

[2019-05-16 23:36] MarileeTurscak-MSFT commented on #31411
@VladimirKhvostov
Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-16 23:43] elentar opened #31424 "TemplateUri with local parameters file also ignores inline parameters"
It appears that in addition to the note about inline parameters being ignored when a remote parameters file (TemplateParameterUri) is specified, it is also true that inline parameters are ignored when a remote template (TemplateUri) is used with a local parameters file (TemplateParameterFile).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-05-16 23:45] Mike-Ubezzi-MSFT commented on #31310
@syedcit01 Can you change the `timestamp` datatype to `rowversion` as _timestamp_ has been deprecated and [rowversion](https://docs.microsoft.com/en-us/sql/t-sql/data-types/rowversion-transact-sql?view=sql-server-2017) is the supported datatype starting with SQL Server 2008, going forward.

![Screenshot (14)](https://user-images.githubusercontent.com/37126106/57893994-e0960180-77f9-11e9-9c0d-c1a7f

[2019-05-16 23:50] SyntaxC4 opened #31425 "[WTD] Azure Active Directory Inclusion Articles"
In support of #31413, here is a list of articles with line numbers of where non gender neutral language is present.

- [ ] [concept-password-ban-bad.md Line   #77](https://github.com/MicrosoftDocs/azure-docs/edit/master/articles/active-directory/authentication/concept-password-ban-bad.md#L77)
- [ ]   [one-time-passcode.md Line   #65](https://github.com/MicrosoftDocs/azure-docs/edit/master/articles

[2019-05-16 23:54] Mike-Ubezzi-MSFT commented on #31421
@nwehner The first `Note:` indicate the service level required:

![Screenshot (15)](https://user-images.githubusercontent.com/37126106/57894293-38813800-77fb-11e9-9fb5-5258ec561f30.png)

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-16 23:54] #31421 closed

[2019-05-16 23:57] gbellmann opened #31426 "Inconsistency between apiVersion in text and sample"
The [**Create managed availability sets with VMs using managed disks** section](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/using-managed-disks-template-deployments#create-managed-availability-sets-with-vms-using-managed-disks) specifies in the text:

But the sample JSON snippet has `"apiVersion": "2018-10-01"`.

It's not clear which value should be used.

---
#### Document Det

[2019-05-17 00:02] MicrosoftGuyJFlo commented on #31186
@alexsmid @marcgoff @0acff4be45

Yes this is accurate and those roles were added by the product group. The preview tag on the policy also has dropped. I am pushing a change to the doc referenced above that should add that info that should publish overnight tonight.

[2019-05-17 00:12] femsulu commented on #31424
@elentar Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-05-17 00:13] SyntaxC4 opened #31428 "[WTD] Azure App Service Inclusion Articles"
In support of #31413, here is a list of articles with line numbers of where non gender neutral language is present.

- [x] [tutorial-java-spring-cosmosdb.md Line   #80](https://github.com/MicrosoftDocs/azure-docs/edit/master/articles/app-service/containers/tutorial-java-spring-cosmosdb.md#L80)
- [x]   [deploy-configure-credentials.md Line   #24](https://github.com/MicrosoftDocs/azure-docs/edit/mas

[2019-05-17 00:14] mamccrea commented on #31105
Hi @emeria - when you say Storage Blob Data Contributor permissions was not enough, are you referring to the connection to ADLS Gen2? I am able to connect using the steps in our tutorial with no issues. The blog article does gives an alternate method. Can you please help me understand your scenario?

[2019-05-17 00:15] SyntaxC4 opened #31429 "[WTD] Azure Monitor Inclusion Articles"
In support of #31413, here is a list of articles with line numbers of where non gender neutral language is present.

- [ ] [detect-triage-diagnose.md   Line #45](https://github.com/MicrosoftDocs/azure-docs/edit/master/articles/azure-monitor/app/detect-triage-diagnose.md#L45)
- [ ]   [detect-triage-diagnose.md Line   #47](https://github.com/MicrosoftDocs/azure-docs/edit/master/articles/azure-monito

[2019-05-17 00:16] SyntaxC4 opened #31430 "[WTD] Azure App Supportability Inclusion Articles"
In support of #31413, here is a list of articles with line numbers of where non gender neutral language is present.

- [ ]   [create-manage-support-requests-using-access-control.md Line   #64](https://github.com/MicrosoftDocs/azure-docs/edit/master/articles/azure-supportability/create-manage-support-requests-using-access-control.md#L64)
- [ ]   [create-manage-support-requests-using-access-control.

[2019-05-17 00:16] KeiroKamioka0000 opened #31431 "ETA of Near-realtime as GA"
Does Near-Realtime Alert will be GA within this June?

I believe Classic Alert will be retire soon.
Does customer have to use the feature in preview?

Thanks,

-Keiro

Classic alerts in Azure Monitor to retire in June 2019
https://azure.microsoft.com/en-us/updates/classic-alerting-monitoring-retirement/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-05-17 00:17] SyntaxC4 opened #31432 "[WTD] Azure Blockchain Inclusion Articles"
In support of #31413, here is a list of articles with line numbers of where non gender neutral language is present.

- [ ] [integration-patterns.md Line   #190](https://github.com/MicrosoftDocs/azure-docs-pr/edit/master/articles/blockchain/workbench/integration-patterns.md#L190)

[2019-05-17 00:18] SyntaxC4 opened #31433 "[WTD] Azure Cognitive Services Inclusion Articles"
In support of #31413, here is a list of articles with line numbers of where non gender neutral language is present.

- [ ] [QueryExpressionSyntax.md Line   #76](https://github.com/MicrosoftDocs/azure-docs/edit/master/articles/cognitive-services/Academic-Knowledge/QueryExpressionSyntax.md#L76)
- [ ] [Expressions.md   Line   #76](https://github.com/MicrosoftDocs/azure-docs/edit/master/articles/cogni

[2019-05-17 00:22] SyntaxC4 opened #31434 "[WTD] Cloud Service Inclusion Articles"
In support of #31413, here is a list of articles with line numbers of where non gender neutral language is present.

- [ ] [cloud-services-dotnet-get-started.md Line   #699](https://github.com/MicrosoftDocs/azure-docs-pr/edit/master/articles/cloud-services/cloud-services-dotnet-get-started.md#L699)
- [ ]   [cloud-services-dotnet-get-started.md Line   #699](https://github.com/MicrosoftDocs/azure-do

[2019-05-17 00:24] SyntaxC4 opened #31435 "[WTD] Azure Cost Management Inclusion Articles"
In support of #31413, here is a list of articles with line numbers of where non gender neutral language is present.

- [x] [cost-mgt-faq.md Line   #72](https://github.com/MicrosoftDocs/azure-docs/edit/master/articles/cost-management/cost-mgt-faq.md#L72)
- [x] [cost-mgt-faq.md   Line   #74](https://github.com/MicrosoftDocs/azure-docs/edit/master/articles/cost-management/cost-mgt-faq.md#L74)

[2019-05-17 00:24] dcbrown16 commented on #30964
Thank you!

[2019-05-17 00:26] SyntaxC4 opened #31436 "[WTD] Azure Data Box Inclusion Articles"
In support of #31413, here is a list of articles with line numbers of where non gender neutral language is present.

- [ ] [data-box-portal-admin.md Line   #96](https://github.com/MicrosoftDocs/azure-docs/edit/master/articles/databox/data-box-portal-admin.md#L96)
- [ ] [data-box-portal-ui-admin.md Line   #103](https://github.com/MicrosoftDocs/azure-docs/edit/master/articles/databox/data-box-portal

[2019-05-17 00:26] Alberto-Vega-MSFT commented on #31415
@bhjolly I am so sorry about this and thanks for taking the time to provide the feedback! Would you be so kind to open a User Voice entry https://feedback.azure.com/forums/321918-azure-iot  user voice allows the feedback to be upvoted so the Product Group prioritizes this

[2019-05-17 00:28] SyntaxC4 opened #31437 "[WTD] Azure Data Catalog Inclusion Articles"
In support of #31413, here is a list of articles with line numbers of where non gender neutral language is present.

- [x] [data-catalog-adopting-data-catalog.md Line   #52](https://github.com/MicrosoftDocs/azure-docs/edit/master/articles/data-catalog/data-catalog-adopting-data-catalog.md#L52)
- [ ]   [data-catalog-adopting-data-catalog.md Line   #99](https://github.com/MicrosoftDocs/azure-docs/ed

[2019-05-17 00:31] MartinJaffer-MSFT commented on #30737
@Anmolgan81 I haven't found your email.  Did I miss your email, or did you not send it?

[2019-05-17 00:31] SyntaxC4 opened #31438 "[WTD] Azure Machine Learning Inclusion Articles"
In support of #31413, here is a list of articles with line numbers of where non gender neutral language is present.

- [x]   [data-science-for-beginners-ask-a-question-you-can-answer-with-data.md Line   #46](https://github.com/MicrosoftDocs/azure-docs/edit/master/articles/machine-learning/studio/data-science-for-beginners-ask-a-question-you-can-answer-with-data.md#L46)
- [x]   [tutorial-part1-cred

[2019-05-17 00:32] Alberto-Vega-MSFT commented on #31296
@Zoltango was this information useful? If you created an entry on user voice. Please share the link here for future reference.

[2019-05-17 00:34] SyntaxC4 opened #31439 "[WTD] Azure Media Service Inclusion Articles"
In support of #31413, here is a list of articles with line numbers of where non gender neutral language is present.

- [ ]   [dynamic-packaging-overview.md Line   #91](https://github.com/MicrosoftDocs/azure-docs/edit/master/articles/media-services/latest/dynamic-packaging-overview.md#L91)
- [ ] [live-events-outputs-concept.md Line   #37](https://github.com/MicrosoftDocs/azure-docs/edit/master/arti

[2019-05-17 00:34] Alberto-Vega-MSFT commented on #31377
@camdo2 I am so happy to hear that you resolved your issue and Thanks for reaching out and we will be closing this issue now.

[2019-05-17 00:34] #31377 closed

[2019-05-17 00:36] SyntaxC4 opened #31440 "[WTD] Azure Security Inclusion Articles"
In support of #31413, here is a list of articles with line numbers of where non gender neutral language is present.

- [ ]   [azure-security-global-admin.md Line   #19](https://github.com/MicrosoftDocs/azure-docs/edit/master/articles/security/azure-security-global-admin.md#L19)
- [ ]   [azure-security-threat-modeling-tool-authentication.md Line   #103](https://github.com/MicrosoftDocs/azure-docs/e

[2019-05-17 00:37] SyntaxC4 opened #31441 "[WTD] Azure Security Center Inclusion Articles"
In support of #31413, here is a list of articles with line numbers of where non gender neutral language is present.

- [ ] [security-center-incident-response.md Line   #50](https://github.com/MicrosoftDocs/azure-docs-pr/edit/master/articles/security-center/security-center-incident-response.md#L50)
- [ ]   [security-center-incident-response.md Line   #55](https://github.com/MicrosoftDocs/azure-docs

[2019-05-17 00:39] SyntaxC4 opened #31442 "[WTD] Azure Storage Inclusion Articles"
In support of #31413, here is a list of articles with line numbers of where non gender neutral language is present.

- [ ] [storage-designing-ha-apps-with-ragrs.md Line   #194](https://github.com/MicrosoftDocs/azure-docs-pr/edit/master/articles/storage/common/storage-designing-ha-apps-with-ragrs.md#L194)
- [ ]   [storage-designing-ha-apps-with-ragrs.md Line   #51](https://github.com/MicrosoftDocs/

[2019-05-17 00:40] SyntaxC4 opened #31443 "[WTD] Azure Virtual Machines Inclusion Articles"
In support of #31413, here is a list of articles with line numbers of where non gender neutral language is present.

- [ ] [postgresql-install.md Line   #232](https://github.com/MicrosoftDocs/azure-docs/edit/master/articles/virtual-machines/linux/postgresql-install.md#L232)
- [ ]   [virtual-machines-windows-classic-ps-sql-report.md Line   #79](https://github.com/MicrosoftDocs/azure-docs/edit/maste

[2019-05-17 00:42] SyntaxC4 opened #31444 "[WTD] Azure Search Inclusion Articles"
In support of #31413, here is a list of articles with line numbers of where non gender neutral language is present.

- [x] [cognitive-search-skill-named-entity-recognition.md   Line   #92](https://github.com/MicrosoftDocs/azure-docs-pr/edit/master/articles/search/cognitive-search-skill-named-entity-recognition.md#L92)
- [x]   [cognitive-search-skill-textsplit.md Line   #86](https://github.com/Micr

[2019-05-17 00:43] SyntaxC4 opened #31445 "[WTD] Azure SQL Database Inclusion Articles"
In support of #31413, here is a list of articles with line numbers of where non gender neutral language is present.

- [ ] [saas-multitenantdb-get-started-deploy.md Line   #55](https://github.com/MicrosoftDocs/azure-docs/edit/master/articles/sql-database/saas-multitenantdb-get-started-deploy.md#L55)
- [ ]   [sql-database-manage-after-migration.md Line   #157](https://github.com/MicrosoftDocs/azure

[2019-05-17 00:44] SyntaxC4 opened #31446 "[WTD] Azure Role Based Access Control Inclusion Articles"
In support of #31413, here is a list of articles with line numbers of where non gender neutral language is present.

- [ ] [role-assignments-external-users.md Line   #57](https://github.com/MicrosoftDocs/azure-docs-pr/edit/master/articles/role-based-access-control/role-assignments-external-users.md#L57)
- [ ]   [role-assignments-external-users.md Line   #66](https://github.com/MicrosoftDocs/azure-

[2019-05-17 00:45] SyntaxC4 opened #31447 "[WTD] Azure CosmosDB Inclusion Articles"
In support of #31413, here is a list of articles with line numbers of where non gender neutral language is present.

- [ ] [create-graph-php.md Line   #194](https://github.com/MicrosoftDocs/azure-docs/edit/master/articles/cosmos-db/create-graph-php.md#L194)
- [ ]   [create-graph-python.md Line   #177](https://github.com/MicrosoftDocs/azure-docs/edit/master/articles/cosmos-db/create-graph-python.md

[2019-05-17 00:45] gotgenes opened #31448 "Provide "using" statements in examples"
Please provide the appropriate `using` statements in your examples. In the case of the startup class here, you need three `using` statements to get this to work:

[code]

Additionally, you will need to install the `Microsoft.Extensions.Http` package from NuGet in order for the example here to compile, which should also be called out.

Additionally, #31033 also points out that right now for some re

[2019-05-17 00:46] SyntaxC4 opened #31449 "[WTD] Azure Migrate Inclusion Articles"
In support of #31413, here is a list of articles with line numbers of where non gender neutral language is present.

- [ ] [contoso-migration-tfs-vsts.md Line   #436](https://github.com/MicrosoftDocs/azure-docs-pr/edit/master/articles/migrate/contoso-migration-tfs-vsts.md#L436)
- [ ]   [troubleshooting-general.md Line   #41](https://github.com/MicrosoftDocs/azure-docs-pr/edit/master/articles/migra

[2019-05-17 00:47] optroodt commented on #23045
I'm not sure why this is closed, because documentation still tells me I should be able to do this.

 I'm following https://docs.azuredatabricks.net/getting-started/try-databricks.html, which eventually gets me here https://docs.azuredatabricks.net/getting-started/quick-start.html#step-2-create-a-cluster

However, I am unable to spin up a cluster due to the same quota restrictions:
[code]

[2019-05-17 00:48] SyntaxC4 opened #31450 "[WTD] Azure Misc Inclusion Articles"
In support of #31413, here is a list of articles with line numbers of where non gender neutral language is present.

- [ ] [avere-vfxt-whitepapers.md Line   #19](https://github.com/MicrosoftDocs/azure-docs-pr/edit/master/articles/avere-vfxt/avere-vfxt-whitepapers.md#L19)
- [ ]   [connectors-run-3270-apps-ibm-mainframe-create-api-3270.md Line   #46](https://github.com/MicrosoftDocs/azure-docs-pr/ed

[2019-05-17 00:53] #30981 closed

[2019-05-17 00:58] Alberto-Vega-MSFT commented on #31044
@myaesubi Is this the same issue? https://github.com/Azure/iot-central-firmware/issues/33

[2019-05-17 01:09] cynthn commented on #31419
@TMSConsulting and @dlepow This doc was originally written by Dan Lepow. He is now working on containers, in case you want to do some extended learning and like Dan's writing :)

Thanks for the feedback, it is always appreciated!

[2019-05-17 01:21] Mike-Ubezzi-MSFT commented on #23045
@johnq3 How long has your Databricks environment been deployed at the `Trial (Premium - 14-Days Free DBUs)` free service tier? Also, if you find a way to lower the consumption of the services in the cluster, you might be able to get past the limitation. This doesn't mean there isn't something wrong.

The [link](https://aka.ms/ProdportalCRP/?#create/Microsoft.Support/Parameters/{"subId":"412a8b51-4

[2019-05-17 01:25] TMSConsulting commented on #31419
@cynthn and @dlepow
People never spend the time to say thank you for meaningful/helpful work.  As a MSFT Alumni from the 90s (!), I know the effort and heart that goes into this stuff.  Truly, well done and appreciated.

[2019-05-17 01:29] altambaw commented on #21242
@rohinkoul , NIC settings can be changed inside VM, but it is not recommended since they will overwrite what VM has got from DHCP. Also, if NIC is moved/replaced, the settings will be lost. True for Windows and Linux VMs.

[2019-05-17 01:41] mike-urnun-msft commented on #31418
Hi @juanren Thank you for your feedback! We will review and update as appropriate.

[2019-05-17 01:49] mike-urnun-msft commented on #31448
Hi @gotgenes Thank you for your feedback! We will review and update as appropriate.

[2019-05-17 02:39] vrishni commented on #31357
Hi, Use list() to see all of the registered Datasets in your workspace, we should change the workspace_name to the **workspace** in the parameter of the list() i.e., Dataset.list(workspace).

[2019-05-17 02:46] #31186 closed

[2019-05-17 03:16] bbrandt commented on #8008
With GetEnvironmentVariable(), how do we read from nested app settings?
[code]
Would this just be `GetEnvironmentVariable("Red:AzureWebJobsStorage")`?

[2019-05-17 03:51] jtmilne opened #31453 "Issue with discriminators: system.indexes collection created"
I've followed the instructions in this tutorial for using Mongoose discriminators, and everything seems to work fine however a new collection is created called "system.indexes". I believe this is because some fields in my model have `unique:true` set. Will I be charged for this additional collection? If so, seems to defeat the point of using discriminators. Any way to avoid creating this additiona

[2019-05-17 03:55] aquibqureshi26 opened #31455 "Permission for NT AUTHORITY\SYSTEM is necessary"
Hi Team,

I believe this piece of information should be added in this document as it provides permission to the default system account and without this Always ON AG doesn't work.

use [master]
GO
GRANT ALTER ANY AVAILABILITY GROUP TO [NT AUTHORITY\SYSTEM]
GO
GRANT VIEW SERVER STATE TO [NT AUTHORITY\SYSTEM]
GO
GRANT CONNECT SQL TO [NT AUTHORITY\SYSTEM]
GO

---
#### Document Details

⚠ *Do not edit

[2019-05-17 04:00] GiriB opened #31456 "Is this the correct placement of this doc?"
While setting up my ASP.Net Core Web app with application insights; I have skimmed through multiple _official_ docs but found this the most useful (especially configuring AppInsights via DependencyInjection, which no other docs I found talks about).

It's very strange to find this here and not on the AppInsights official docs page. Can someone take a call and see if this page can be discovered mor

[2019-05-17 04:03] MohitVerma-MSFT commented on #31431
Thank you for reaching out. We are investigating this and get back to you shortly.

[2019-05-17 04:08] mike-urnun-msft commented on #30970
@evertonmc Since the discussion is now outside the scope of this documentation, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-17 04:14] #31372 closed

[2019-05-17 04:22] shashishailaj commented on #31100
@thomasddn we are engaging the content authors to have this request reviewed ..

@davidmu1 could you please review this and help update the document as required.

[2019-05-17 04:27] #31359 closed

[2019-05-17 04:27] #31360 closed

[2019-05-17 04:28] MohitVerma-MSFT commented on #31456
@GiriB : - Thank you for reaching out. We are checking this and get back to you shortly.

[2019-05-17 04:31] HatimDahodwala opened #31459 "test issue"
test

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e58109c-c8d3-6693-8e1d-03a89ca26168
* Version Independent ID: f20a7fc4-328a-e90d-29db-92a91aa1b2bd
* Content: [Quickstart - Create a Windows VM in the Azure portal](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/quick-create-portal)
* Content Source:

[2019-05-17 04:32] #31459 closed

[2019-05-17 04:38] SadiqhAhmed-MSFT commented on #31455
@aquibqureshi26 I have assigned this issue to the content author to investigate further and update the document as appropriate.

[2019-05-17 04:42] SadiqhAhmed-MSFT commented on #31453
@jtmilne Thanks for the comment! We will investigate on this issue and get back to you soon.

[2019-05-17 04:45] SadiqhAhmed-MSFT commented on #31426
@gbellmann Thanks for the comment! We will investigate on this issue and get back to you soon.

[2019-05-17 04:48] SadiqhAhmed-MSFT commented on #31382
@Jacob-Strickland Thanks for the comment! We will share this feedback with the content owner for further review and update as appropriate.

[2019-05-17 04:52] SadiqhAhmed-MSFT commented on #31417
@krishorrocks Thanks for the comment! We will investigate on this issue and get back to you soon.

[2019-05-17 04:59] CelesteDG commented on #26026
Hello @tmarinov - Following up. The content went live on May 6th and it's here: https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-web-api-call-api-overview

#please-close

[2019-05-17 05:03] CelesteDG commented on #16848
#please-close

[2019-05-17 05:05] CelesteDG commented on #20138
The quickstart was updated for Build 2019. #please-close

[2019-05-17 05:06] CelesteDG commented on #19646
Issue has been resolved. #please-close

[2019-05-17 05:09] krishjag opened #31460 "SSH keys generated using puttygen on Windows will not work. Use ssh-gen instead."
Following the steps as provided in this document using SSH keys generated using puttygen on Windows 10 will throw a permission denied error in Step 6 of "Create the SSH connection" section.

Using ssh-gen to generate the public-private SSH key pair resolves the permission denied error. It would be nice to indicate this in the document.

Note: I used ssh-gen in WSL - Windows Subsystem for Linux.

-

[2019-05-17 05:30] balasbm commented on #29692
Yes the location defaults to Japan East has been fixed and deployed to production around end of May 1st week.

[2019-05-17 05:48] hmayer1980 commented on #29820
Any Update of this?
I have a whole lot of "Activities" running in the "Unknown" Runtime - also if I self Implement "Azure Function Activities" for Durable Functions. (https://docs.microsoft.com/en-us/azure/data-factory/control-flow-azure-function-activity)

For Example a "Durable Function Pipeline" - and this is just a fast one (Web Activity can be up to an hour).

![image](https://user-images.git

[2019-05-17 06:09] lightupdifire commented on #30637
@jay98014 ,
Thanks! Will update asap. If documentation planned, then i guess it is up to you to complete it ;)

[2019-05-17 06:09] #30637 closed

[2019-05-17 06:17] evertonmc commented on #30970
@miaojiang I will. Thanks

[2019-05-17 06:36] rworbis opened #31461 "Out of date"
Unfortunately this page is out of date - "Diagnostic settings" has changed to "Diagnostic settings (classic)" and looks different (No possibility to set a storage account).
In the new Monitoring section "Diagnostics" is not available.
So the question how to access diagnostic logs remains unanswered.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-05-17 06:41] johnthcall commented on #31298
@msrini-MSFT
1. I get the follow error for the LB diagnostic resource: { "code": "BadRequest", "message": "Category 'LoadBalancerAlertEvent' is not supported." }
2. I see this in both Fairfax and Mooncake
3. In the deployment view I see it as failing the individual LB diagnostic resource, all other resources deploy successfully so it's not an ARM level validation error but an error with the specif

[2019-05-17 06:48] tmarinov commented on #26026
Thank you Celeste!  I am going to get familiar with it...
Rgds

[2019-05-17 06:48] msrini-MSFT commented on #31298
@johnthcall , thank you for your inputs. Will get back to you once I get an update.

[2019-05-17 06:59] YutongTie-MSFT commented on #31417
@krishorrocks Hi, actually Machine Learning Services is more functional compared to Machine Learning Studio V1. The big advantage of Machine Learning Studio is: it has great UI and it is easy to use. But now, I have a good news, the visualization feature is public review now! You can have a try and you will feel very familiar if you are a user for Studio V1. Please see more information at: https:/

[2019-05-17 07:02] imlight commented on #31260
I am trying to create this VM in "Australia Southeast"

[2019-05-17 07:04] SadiqhAhmed-MSFT commented on #28817
Hi All,

Workarond steps to follow:
Use below cmdlet to set vault context directly
                Set- AzRecoveryServicesAsrVaultContext -vault $vault
`$dt = $(Get-Date).ToString("M-d-yyyy")
$cert = New-SelfSignedCertificate -DnsName $dnsname
$certficate = [Convert]::ToBase64String($cert.RawData)
$VaultFile = Get-AzRecoveryServicesVaultSettingsFile -SiteRecovery -Vault $vault -Certificate $certfi

[2019-05-17 07:09] lgulliver commented on #31263
Looks like it's updated on the page now following the merge. Thanks folks.

[2019-05-17 07:09] #31263 closed

[2019-05-17 07:09] SadiqhAhmed-MSFT commented on #30954
@bhupinder-p-s We are aware of this issue and the team is actively working for a fix. For now, you may want to reach out to support to check if they've any workaround to share.

[2019-05-17 07:13] Zimmergren commented on #30630
In order to currently circumvent the limitations in the Fluent API for Container Instances, I've successfully used an ARM template where I can inject the User Assigned Managed Identity, and verify that it works.

I do this programmatically with C#, so I've extended the Fluent lib to handle this step for me using a JSON template where parameters are replaced on the fly when deploying, simulating th

[2019-05-17 07:22] dnyaneshlb commented on #31185
@AjayKumar-MSFT Thanks a lot for the answer.

Could you please have a look on queries below,

1. As mentioned in doc , There is a  reverse sync (local disk to remote storage) does happens but it is not clear after how much time it will start sync.
In my test, initially it synced and created time stamped folder as I can see on kudu console. So far so good.
I have hit some app URLs which logs data.

[2019-05-17 07:23] mcurko opened #31462 "gateway is not reachable"
Set-HcsIpAddress returns "gateway is not reachable" on an Azure VM. In fact, gateway doesn't reply to ping, but exists and works fine. What should be done in this case?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b908ad2-a6e3-c1c4-469c-d8d03caeb3c6
* Version Independent ID: 3b0a4572-bdfe-3443-abce-4004ab349d7e
* Co

[2019-05-17 07:25] lgulliver opened #31463 "Wording and commands don't match up for Azure CLI in VM with Key Vault guide"
In reviewing https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/virtual-machines/windows/key-vault-setup.md, it appears that the wording says:

However, the only command listed is the update command that was updated as part of issue #31263

It should contain the command for creation from the CLI.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2019-05-17 07:26] lgulliver commented on #31463
PR opened is #31464

[2019-05-17 07:28] dcbrown16 commented on #31346
I have a strong suspicion that the "policy expression cannot be used" part was erroneously copy/pasted from "set usage quota by subscription" above it. I think that would explain why that line is weirdly formatted also.

[2019-05-17 07:32] timlod commented on #30890
Hi @marinnedea, thanks for the reply!

Why does all the documentation for Azure Linux VM file share mounting have /mnt as the default path, also for persistent mounting, if that will, using default configurations, never work?
[E.g. https://docs.microsoft.com/en-us/azure/virtual-machines/linux/mount-azure-file-storage-on-linux-using-smb](https://docs.microsoft.com/en-us/azure/virtual-machines/linux

[2019-05-17 07:32] #19646 closed

[2019-05-17 07:50] PatrikNorrgard opened #31465 "Dead link to User Entity"
The link "For information on managing user accounts programmatically, see the User entity documentation in the API Management REST reference." with the url : "https://docs.microsoft.com/en-us/rest/api/apimanagement/user" results in a 404 error message.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30a7ef7d-09d5-c54e-3

[2019-05-17 08:04] cornem commented on #27135
I agree that this is confusing. I ended up here trying to find documentation for using Azure Table Storage without the (more expensive, and in my case unnecessary Cosmos DB offering), but pretty much every link no sends you to the Cosmos DB Table API. That's unfortunate.

Are we to conclude from this that Table Storage as we knew it will eventually simply be caught up into Cosmos DB? If not, could

[2019-05-17 08:58] LowerKees opened #31467 "Simple recovery model"
Is there a way to create a Sql Database with a simple recovery model? I've noticed that Sql Data Warehouse automatically creates this setting, but I haven't yet seen where I can configure this for Sql Database during provisioning.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3da2d20f-0457-b8af-2f72-84741e8cb81b
* Ver

[2019-05-17 08:59] sergaz-msft commented on #31040
Thanks for sharing how you solved the RC error 5 (Connection refused – not authorised).

As the error is now different let me kindly ask you to open a new issue on Stack Overflow or MSDN so the community can help you. The steps you are taking are out of the scope of this documentation. since it is just demonstrating that you can use MQTT protocol directly.

Please try creating a new IoTHub and tes

[2019-05-17 09:00] sergaz-msft commented on #31040
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-17 09:00] #31040 closed

[2019-05-17 09:07] Stoumfou opened #31468 "Logic Apps not starting on trigger recurrence"
Hello,
I have created a Logic App (see code below). You can see, in this code, I set the recurrence trigger to 1.00PM (13:00), every day, in Romance Standard Time Zone (+01:00 Paris). But every day this logic app run at 1.08PM (13:08).

It's normal that I can not trust the recurrence trigger to execute a 1.00PM (13:00) as I config it?

![RunLogicApp](https://user-images.githubusercontent.com/95393

[2019-05-17 09:11] kazshi opened #31469 "What is "usage" (developers can access analytics)?"
"The Developer portal serves as the main web presence for developers, where they can: Access analytics on their own usage."
What is the "own usage" exactly in the above description? I could find many instances of 'usage' in this content, but I'm not sure what it is exactly in this context. Would you please provide example of the 'usage'?   Thanks.

---
#### Document Details

⚠ *Do not edit this se

[2019-05-17 09:17] sergaz-msft commented on #31362
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-17 09:24] sergaz-msft commented on #31365
Thanks for your question @uwazie . As this is out of the scope of [this document](https://docs.microsoft.com/en-us/azure/iot-edge/security) let me kindly ask that you open a new issue on [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=iotedge) or [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-iot-edge) so the community can help answer it.

All Best.

[2019-05-17 09:24] bertrandpons commented on #30976
@himanshusinha-msft Ok thank you. I send an email right now

[2019-05-17 09:24] sergaz-msft commented on #31365
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-17 09:24] #31365 closed

[2019-05-17 09:32] CortalUX opened #31470 "Language Detection"
It is stated that the Text Analytics API can detect up to 120 different languages, but those languages are not specified.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62643b2a-6080-150d-7e04-11b0250f22dc
* Version Independent ID: e7ffbecc-52e6-f356-e3d6-d3392711921c
* Content: [Language support - Text Analytics API -

[2019-05-17 09:33] nguaman opened #31471 "Any way to get academic papers?"
Hello,
Exists any way to get all the academic paper related to a institution?
Regards.
Nelson.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6e7fdc3-0631-b959-0af4-faf35d512e67
* Version Independent ID: d43cbd6a-5dd1-0e6a-70cb-252096b1b112
* Content: [Paper entity attributes - Academic Knowledge API](https://docs.mic

[2019-05-17 09:45] dooleydo commented on #12986
I believe this could still use some clarity.   The proxy detail is now here : https://docs.microsoft.com/en-us/azure/active-directory/devices/hybrid-azuread-join-federated-domains

The link to an article on how to configure winhttp proxy settings is provided but that linked article itself does not anywhere mention it is for 1709+ devices only.  It is also not specifically a new GPO for Win 10 1709

[2019-05-17 10:03] ledzep9012 commented on #31274
@SaurabhSharma-MSFT here you go: [msdn](https://social.msdn.microsoft.com/Forums/azure/en-US/5765b7c8-42b0-415e-a623-9bbf4edafa02/handling-ad-logout-in-react-native-apps?forum=WindowsAzureAD).

Let me know if you should any other details form me?

[2019-05-17 10:12] rajatvijay commented on #30899
@RohitMungi-MSFT @erhopf @ArcherAZ any update here?

[2019-05-17 10:13] emeria commented on #31105
@mamccrea Yes. BMy colleague and I both had the same issue, trying to connect to ADLS Gen 2 from databricks.  I first gave the service principal Storage Blob Data Contributor permissions at the subscription level and waited up to 12 hours for propagation.  I then gave the permission directly on the Storage Account (following the note in the tutorial). We still had no luck at that point, getting th

[2019-05-17 10:14] SadiqhAhmed-MSFT commented on #31461
@rworbis Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-17 10:16] SadiqhAhmed-MSFT commented on #31460
@krishjag Thanks for the feedback. We are looking into this and will get back to you shortly.

[2019-05-17 10:16] ArcherAZ commented on #30899
Hi, thanks for the feedback 😊
We have fixed this issue and will take effect in days along with next PROD system deployment. Please try again later.

With kind regards,
Archer

From: RAJAT VIJAY <notifications@github.com>
Sent: Friday, May 17, 2019 6:12 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Archer Zhao <Archer.Zhao@microsoft.com>; Mention <mention@noreply.github.com>
S

[2019-05-17 10:21] SirJewDanielBerg opened #31472 "How does one assign permissions on the target resource?"
Hi.

I just tried following this article but it's really not as descriptive as it should be.

I've created an automation account, however, when I go to the target ARM resource and I edit permissions for my automation account, I can't find any of the listed permissions specified, for example, Application Developer is nowhere to be found in the Azure AD role list. Have the role names changed perhaps

[2019-05-17 10:23] SadiqhAhmed-MSFT commented on #31462
@mcurko Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-17 10:26] SadiqhAhmed-MSFT commented on #31465
@PatrikNorrgard Thanks for the feedback! I have assigned this issue to the content author to investigate further and update the document as appropriate.

[2019-05-17 10:27] SadiqhAhmed-MSFT commented on #31467
@LowerKees Thanks for the comment! We will investigate on this issue and get back to you soon.

[2019-05-17 10:29] SadiqhAhmed-MSFT commented on #31468
@Stoumfou Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-17 10:29] CortalUX opened #31473 "Enrollment limits aren't mentioned & could be clearer"
The API page states that one subscription can only create 1000 speaker verification/identification profiles at most. ( https://westus.dev.cognitive.microsoft.com/docs/services/563309b6778daf02acc0a508/operations/5645c068e597ed22ec38f42e )
This doesn't clarify whether that is enrollment per deployed API endpoint/Cognitive Service, or limited to the Azure Subscription.
This also isn't listed anywher

[2019-05-17 10:32] SadiqhAhmed-MSFT commented on #31470
@CortalUX Thanks for the comment! We will share this feedback with the content owner for further review and update as appropriate.

[2019-05-17 10:35] SadiqhAhmed-MSFT commented on #31469
@kazshi Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-17 10:51] SirJewDanielBerg opened #31474 "Other way of doing this?"
In terms of cost saving for users, I was wondering whether doing it the way described in this article would be cheaper? https://akril.net/auto-start-and-shutdown-a-vm-in-azure-to-improve-cost-management/

It just seems weird that for a basic auto shutdown/startup there's so much stuff involved.

It's almost cheaper if a user automatically does this themselves by clicking stuff at those hours as op

[2019-05-17 11:00] SirJewDanielBerg opened #31475 "Update wording"
Hi.

The "From your Automation account, select Workspace from the left page." entry under https://docs.microsoft.com/en-us/azure/automation/automation-solution-vm-management#remove-the-solution is now out-of-date. It should say something like: "In your Automation account, click on "Linked workspace under Related Resources", or something like that, as there isn't a Workspace button on the left page

[2019-05-17 11:08] mcurko opened #31476 "Windows static IP"
Can a static IP address be assigned in Windows OS? Even if I assign an Azure static IP, this concerns only public (translated) IP address, Windows sees only internal IP (for ex. 10.0.0.4) and it sees it as DHCP assigned. Could I assign a second IP address to Windows network interface (for ex. 10.0.0.104)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-05-17 11:09] jflieben opened #31477 "unused variable"
$ResourceName = "https://manage.office.com" is stated twice in the code, but never used, why?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06524f5f-beb1-de55-b30b-8dcc0513191a
* Version Independent ID: 730c62fb-ea4d-ed73-af86-ca8d5a959ff7
* Content: [Office 365 management solution in Azure](https://docs.microsoft.com

[2019-05-17 11:33] msrini-MSFT commented on #31476
@mcurko , There is an option in the portal to set the Private IP Static.

![image](https://user-images.githubusercontent.com/47132998/57925298-69c63a80-78c5-11e9-92a7-dabeea2c9373.png)

It is not recommended to change the IP address in the Guest OS and all IP management should be done from the portal.

yes, you can add another NIC to your VM. Please follow the below article: https://docs.microsoft

[2019-05-17 11:34] msrini-MSFT commented on #31370
@krishnanmuraligv ,Do you have any update on this issue?

[2019-05-17 11:36] bertrandpons commented on #31281
@MartinJaffer-MSFT many thanks for your tips ! By chance is there any way having an intermediate status: not just OK (Green) and Failed (Red) but also Partially Succeeded (Orange)?

[2019-05-17 11:36] mcurko commented on #31476
OK, thanks!

Regards,
Marko Čurko

Marko Čurko
Senior Developer │ Perpetuum Mobile d.o.o.
Damira Tomljanovića Gavrana 13, 10000 Zagreb
m +385 91 2305 123 │ t +385 1 6390 834
marko.curko@perpetuum.eu<mailto:marko.curko@perpetuum.eu> │ www.perpetuum.hr<http://www.perpetuum.hr/>

[logo]

From: KARTHIK SRINIVAS <notifications@github.com>
Sent: Friday, May 17, 2019 1:34 PM
To: MicrosoftDocs/azure-docs

[2019-05-17 11:39] tomygrenier opened #31478 "Bing Web Search : PHP request doesn't return entities"
https://docs.microsoft.com/en-us/azure/cognitive-services/bing-web-search/quickstarts/php

I'm working with Bing Web Search.

I tried both ways for retrieving results from PHP and from JS. It looks like PHP API doesn't return entities objects while JS API does.

Is there a way to get entities with PHP API ?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2019-05-17 11:42] krishnanmuraligv commented on #31370
Hi Karthik,

Yes I have followed the same URL and created as per below URL
https://github.com/Azure/azure-quickstart-templates/tree/master/201-load-balancer-ipv6-create

IPV4: Able to communicate to the VM using the public IPV4 and port 8000
IPV6: Unable to communicate to the VM using the public IPV6 and port 8000

[2019-05-17 11:53] bt102 commented on #31367
Thank you all for the quick response. Do non-human accounts (service accounts) consider as user in this case? Do you have any documentation that defines what "User" is when it comes to licensing?

[2019-05-17 11:58] juho-hanhimaki opened #31479 "When should the LockMode.Update be used?"
For example in the document: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-work-with-reliable-collections

There is a example "The code below shows the correct way to update a value in a reliable collection:"

[code]

In this example LockMode.Update is not used. When should it be used? Should it be only when there are (or potentially could be) at least two concurrent transac

[2019-05-17 11:58] leftmostlane opened #31480 "Page needs revision for connection strings"
It appears there is now a separate place in Application Settings for Connection Strings for Azure Functions.  This document should reflect that Connection String are now stored there and not mixed in with other Application Settings.  Please update documentation how to retrieve a connection string from the connection strings section of the Azure Functions Application Settings.

---
#### Document De

[2019-05-17 12:03] capraynor commented on #23919
Me too. I have the same issue even for now. 2019

[2019-05-17 12:07] msrini-MSFT commented on #31370
@krishnanmuraligv , Did you enable IPv6 on the NIC?

Use this template : https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-ipv6-internet-template

Post questions on MSDN or Stack Overflow for product related questions which needs troubleshooting.

[2019-05-17 12:18] namfp commented on #22715
I can confirm that this code work for me

[2019-05-17 12:26] Stoumfou commented on #31468
Oh sorry, i think i found my mistake. Firstly i set on recurrence only : `"hours": [ "13" ]`. And the Designer interface say 'Runs at 13:00 every day' so i trust them but i suppose if we do not specifed `"minutes": [ 0 ]` that does not mean that trigger is on 1:00PM (13:00) exactly but whenever inside the 1:00PM hour.

[2019-05-17 12:26] #31468 closed

[2019-05-17 12:43] jwargo commented on #31071
@zereplim yes, it probably is - you have to have an account (be a registered developer) in order to be able to create apps in Dev Center. You can't just create an app if we don't know who you are. Did you login?

[2019-05-17 12:45] jwargo commented on #31071
@spelluru Can you do me a favor and add a note to this doc mentioning that you must have a dev center account and login to it before completing those steps?

[2019-05-17 12:50] basgalupp opened #31481 "logger cannot be pickled"
Dear all,

I'm trying to run the tutorial but I'm getting the error described below. Could someone help me?

When I run the following command:

   `local_run = experiment.submit(automl_config, show_output=True)`

I got the following result:

[code]

I just put the first iteration, but it keeps happening for the others.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2019-05-17 13:00] simon-jun opened #31482 "How to use the ML results for further actions"
After doing an application like in this sample, how is it possible to trigger certain events like direct methods or messages depending on the ML results? Let's say I want feedback directly on my device about the probability of rain (scored probabilities).
What options are there to proceed with the ML results?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-05-17 13:10] jjgriff93 commented on #31187
Hi @diberry - surely the quickstart should illustrate some results if we're trying to show off the power of the service and how it should be used?

[2019-05-17 13:10] spelluru commented on #31071
@jwargo - sure. will do it today. Thanks.

[2019-05-17 13:16] krishnanmuraligv commented on #31370
Yes created 2 LB rules one for IPV4 and IPV6 and added respective NIC.

[2019-05-17 13:17] madhuzode commented on #21216
I am also facing the same issue and because of this I still have to use Odata connector in ADF v1 to connect to CRM Dynamics and get all fields. Do you have any timeline when this will be fixed?

[2019-05-17 13:23] msrini-MSFT commented on #31370
Can you take a packet capture on backend VM and check if you are seeing traffic from IPv6 source on port 8000?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: krishnanmuraligv <notifications@github.com>
Sent: Friday, May 17, 2019 6:46:27 PM
To: MicrosoftDocs/azure-docs
Cc: Karthik Srinivas; Assign
Subject: Re: [MicrosoftDocs/azure-docs] An Internet-facing lo

[2019-05-17 13:24] krishnanmuraligv commented on #31370
I don't see any traffic from IPV6

[2019-05-17 13:54] msrini-MSFT commented on #31370
Need to check if the health probe is successful for this rule. It might need deeper investigation, can you please raise a support ticket ? If you don't have a support plan, drop an email to Azcommunity@microsoft.com with the subscription ID and the link to this issue. I will enable one time free support for your subscription.

[2019-05-17 14:00] krishnanmuraligv commented on #31370
Yes, I raised the same to support and got the below response, is that true? please advise.

We can assign an IPV6 address to a load balancer is that correct? Yes
If so then we can send the traffic to that load balancer is that correct? Yes
If we can send the traffic to the load balancer then same can be received in the VM is that correct? No. The VM would be required to be deployed within an IPv6

[2019-05-17 14:01] jishnudantu commented on #31414
yes I am using the v1.5.0

[2019-05-17 14:09] jishnudantu commented on #31414
@arduppal what was the hostname you used in the device connection string?

[2019-05-17 14:10] sachsachdeva opened #31484 "Updating Kubnet to CNI"
I could not find any documentation about changing the networking from Kubet to CNI in an existing cluster. It is not mentioned that whether its possible or not. In case it's allowed then how to do so?

[2019-05-17 14:11] #16848 closed

[2019-05-17 14:13] sachsachdeva commented on #31484
I could not find any documentation about changing the networking from Kubet to CNI in an existing cluster. It is not mentioned that whether its possible or not. In case it's allowed then how to do so?

[2019-05-17 14:15] kggayo commented on #30330
Any updates please? Thanks

[2019-05-17 14:24] shashishailaj commented on #30475
@mgoedtel  thank you for the update . . Closing this.

[2019-05-17 14:24] #30475 closed

[2019-05-17 14:28] j03Martin opened #31486 "User assigned Identities"
When will we be able to use user assigned Identities with Azure Data Factory?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9075f4a4-f8ca-9143-8998-41e2be0b39b8
* Version Independent ID: 60c67249-9bd5-0a3c-10e3-839d44922d2e
* Content: [Managed identity for Data Factory](https://docs.microsoft.com/en-us/azure/data-fact

[2019-05-17 14:30] msrini-MSFT commented on #31370
I interpreted your question in-terms of Source and Destination IPs. LB will just forward the packets to the backend.

As of now, you cannot create IPv6 and associate that to Azure VM. IPv6  to VMs are only possible via LB.

What Support engineer notified you is there is a new feature which is not GA yet, that can help you achieve IPv6 to VNET.

Since you are already engaged on support, please work

[2019-05-17 14:30] #31370 closed

[2019-05-17 14:38] SadiqhAhmed-MSFT commented on #31471
@nguaman Thanks for the comment! We will investigate on this issue and get back to you soon.

[2019-05-17 14:40] SadiqhAhmed-MSFT commented on #31472
@SirJewDanielBerg Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-17 14:41] SadiqhAhmed-MSFT commented on #31473
@CortalUX Thanks for the comment! We will investigate on this issue and get back to you soon.

[2019-05-17 14:45] SadiqhAhmed-MSFT commented on #31474
@SirJewDanielBerg That's some good feedback. Could you please comment the same at the [feedback forum](https://feedback.azure.com/forums/246290-automation) for our product team to consider this request.

[2019-05-17 14:49] SadiqhAhmed-MSFT commented on #31475
@SirJewDanielBerg Thanks for the comment! We will share this feedback with the content owner for further review and update as appropriate.

@georgewallace FYI.

[2019-05-17 14:50] georgewallace commented on #31472
@SirJewDanielBerg Sorry to hear this is confusing.  These permissions are needed to deploy the solution.. The first link shows how to create a custom role.. You don't have to be part of a custom role, but if you don't have locked down permissions you would have to be a contributor on the subscription which gives you more permissions than necessary. In regards to the App Developer role, [Azure Acti

[2019-05-17 14:53] SadiqhAhmed-MSFT commented on #31477
@jflieben Thanks for the comment. We are looking into this and will get back to you shortly.

@bwren Could you please help clarifying the question for the user?

[2019-05-17 14:53] georgewallace commented on #31474
@SirJewDanielBerg Thanks for reaching out.. While the solution may seem complex, it is very easy to use, there are just many options to tailor it to your specific need.  There are also 3 different core scenarios in the solution as well.  In regards to the Auto-start, at this time there is no plans to implement that.. I would recommend using this solution over any others that you might find on the

[2019-05-17 14:55] mgraff commented on #30997
Hello,
I'm experiencing the same issue.
I can provision a Virtual Machine from the CLI using the `--custom-data` parameter (and it works), but when I use the portal, my image is stated not compatible with cloud-init.

My image is built on top of OpenLogic Centos 7.6.
Here is my `waagent.conf`:
[code]

[2019-05-17 14:59] georgewallace commented on #31475
@SirJewDanielBerg Thanks for finding this. I have submitted a PR to correct this..  Once the PR is merged it will automatically close this issue.

[2019-05-17 15:15] DavidPrio commented on #28833
Hi @ishasahni1 can you please assign this issue ti me? We are unable to work on it until it's actually assigned (@mention does not work for our automations). Thanks for understanding

[2019-05-17 15:23] #31475 closed

[2019-05-17 15:25] acrov opened #31488 "Missing information on Table Max Property Size"
The azure-table-storage-scale-targets section is missing information about property size limits which according to the extended error information I just received is 64Kb.

It would have been really nice to have known about this limit at design stage!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c9ef03f-cf87-a333-623

[2019-05-17 15:26] diberry commented on #31187
@jjgriff93 Hi James, yes, that would have been ideal. I apologize.

In order to have the service show off personalized results, it needs to have a minimum number of rewards before that personalized result is returned in the response. This will an implementation issue that will be resolved.

While this is still the case, you need to load that minimum reward data into the service. The Azure Notebook

[2019-05-17 15:29] myaesubi commented on #31044
@Alberto-Vega-MSFT
Thanks. following through the link helped to connect.

Mohammad

[2019-05-17 15:29] #31044 closed

[2019-05-17 15:35] iainfoulds commented on #30764
Sorry for the issues, @TeunRoefs

Looks like there's now an additional step to set the Azure AD client app as public. It does now work using the new app registration model, you shouldn't have to rely on the legacy app registration approach. A doc update should go live this morning to add the following step for the client app:

[2019-05-17 15:42] #30764 closed

[2019-05-17 15:45] kristianjaeger opened #31489 "Please update copy sections with only the commands. Thanks."
Hello,
Please update copy sections with only the commands. Thanks.  The example command output could be in another div or something.  Cheers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a917974-7672-e4f9-ab5c-4a5bfeeca27d
* Version Independent ID: be5c1091-0711-25c4-7555-e3534b3eba42
* Content: [Deploy containers w

[2019-05-17 15:50] ishasahni1 commented on #28833
@tysonn can you kindly help in assigning the issue to @DavidPrio . I don't have access to the repo so I can not change the assignee.

[2019-05-17 15:53] pbutlerm commented on #31267
Yes. It is possible. Take a look at this document https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/marketplace/cloud-partner-portal/saas-app/cpp-saas-fulfillment-api-v2.md#delete-a-subscription . @SadiqhAhmed-MSFT can we close this request?

[2019-05-17 15:55] pbutlerm commented on #31325
@jigarshah04  Please submit a support ticket to have the people in your team added to the VSTS for reviewing the Solution Templates. @SadiqhAhmed-MSFT  could you please close this issue.

[2019-05-17 15:55] chludwig-haufe opened #31491 "Key Vault: current object version id"
[Enter feedback here]
The section [Objects, identifiers, and versioning](https://docs.microsoft.com/en-us/azure/key-vault/about-keys-secrets-and-certificates#objects-identifiers-and-versioning) says "Objects in Key Vault can be addressed using the current identifier or a version-specific identifier." However, I cannot find documentation of what "the current identifier" should be.

I see in the sou

[2019-05-17 15:57] osirismdw commented on #29988
PLEASE get the FS and F v1 metrics added! We use this page to troubleshoot Vm Size disks metric issues and need the cpu memory iops and throughput numbers!!!

[2019-05-17 16:02] MicahMcKittrick-MSFT commented on #31459
test

[2019-05-17 16:08] MicahMcKittrick-MSFT commented on #31484
@sachsachdeva can you provide me with some reference docs you were looking at? Or what service you are using?

[2019-05-17 16:09] MicahMcKittrick-MSFT commented on #31481
@basgalupp can you please provide me with the link to the documentation you are following so I can better assist?

[2019-05-17 16:09] pjirsa commented on #10960
The reason this happened to me was that I was only a co-admin on my azure subscription and not assigned the owner role via RBAC.

[2019-05-17 16:10] netapp-bcammett opened #31492 "A few more changes needed to align with new app registrations experience"
Hi there,

This page was just updated for the new app registrations experience, but a few additional changes are still needed.

1. "Create an Azure Active Directory application" still shows the legacy steps/UI.

2. "Get tenant ID" says to go to Azure Active Directory &gt; Properties but the Directory (tenant) ID is available when you follow the steps under "Get application ID and authentication ke

[2019-05-17 16:10] MicahMcKittrick-MSFT commented on #31478
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-17 16:12] v-kydela opened #31493 "I can't find any documentation about how to export a LUIS app"
We need a link that we can point people to when they ask how to export a LUIS app as JSON

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccce4843-c8da-d180-801a-facddc4a3a61
* Version Independent ID: 987b54ca-bacf-5479-747e-9b98726a7e65
* Content: [Language Understanding (LUIS) Documentation](https://docs.microsoft.com

[2019-05-17 16:16] syedcit01 commented on #31310
Hi Micah,

I followed the following documents
1. https://docs.microsoft.com/en-us/azure/data-factory/connector-sql-server#invoking-stored-procedure-for-sql-sink
2. https://blogs.msdn.microsoft.com/robinlester/2017/04/03/azure-data-factory-using-a-stored-procedure-as-a-destination/

[2019-05-17 16:20] diberry commented on #31493
@v-kydela Hi Kyle, please see if [this documentation](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-how-to-start-new-app#export-app-for-backup) meets your needs. #in-progress

[2019-05-17 16:21] basgalupp commented on #31481
@MicahMcKittrick-MSFT sure. It is:
[this one](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-auto-train-forecast)

Thank you

[2019-05-17 16:21] MicahMcKittrick-MSFT commented on #31463
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-17 16:21] mike-urnun-msft commented on #31480
Hi @leftmostlane Thank you for your feedback! We will review and update as appropriate.

[2019-05-17 16:21] MicahMcKittrick-MSFT commented on #31489
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-17 16:21] syedcit01 commented on #31310
Thanks Mike,
I tried rowversion and have the same problem, however the binary(8) worked following this link. (https://stackoverflow.com/questions/19729157/how-can-i-include-a-rowverson-column-in-a-table-valued-parameter-when-calling-a).
I am not sure if binary(8) is correct datatype instead of timestamp/rowversion.

[2019-05-17 16:22] MicahMcKittrick-MSFT commented on #31479
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-17 16:23] davidmu1 commented on #30928
Changed the steps to:

1. Choose All services in the top-left corner of the Azure portal, search for and select Azure Active Directory.
2. In the menu, select App registrations (Legacy).
3. Select New application registration.

#please-close

[2019-05-17 16:25] MicahMcKittrick-MSFT commented on #31481
@basgalupp thanks! I will assign to @YutongTie-MSFT who works on Machine Learning.

[2019-05-17 16:25] msrini-MSFT commented on #31298
@johnthcall , what is the LB SKU you are trying to deploy?

If it is basic SKU, it might not be available in National cloud

[2019-05-17 16:29] johnthcall commented on #31298
The load balancer is Standard SKU

From: KARTHIK SRINIVAS <notifications@github.com>
Sent: Friday, May 17, 2019 9:26 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: John Call <johncall@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Support for Load Balancer diagnostics in National Clouds (#31298)

@johnthcall<https://nam06.safelinks

[2019-05-17 16:33] arduppal commented on #31414
The "host device name" used in the video is the name of the IoT device. For the setup in the video both the IoT device and the machine where Azure Storage Explorer is running are in the same Domain. Can you access/ping the IoT device from the machine where you are running Azure Storage Explorer?

[2019-05-17 16:36] DeanGross opened #31494 "Password Length"
The maximum length of passwords was recently changed to 256, please update "Find the Active Directory account for Azure AD Connect and reset the password so that it contains no more than 127 characters"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f5e3651-45ec-5dbc-7df5-526d0f7a4080
* Version Independent ID: 9f218d0

[2019-05-17 16:36] davidmu1 commented on #28959
@harshal1982: You didn't say where in the custom policy files you are trying to make that change. I don't believe that there is a change required to this article, but there could be a change required to a custom policy article if you can provide more information about what you are trying to do. If you are referring to a metadata item such as <Item Key="METADATA">https://login.microsoftonline.com/{

[2019-05-17 16:41] davidmu1 commented on #29744
The first sentence was changed to: Azure Active Directory (Azure AD) B2C is a business-to-consumer identity management service.

#please-close

[2019-05-17 16:41] brettcannon opened #31495 "Misspelling of "__init__.py" in discussing what files are created"
In "Creating a Function", the files listed as created are `function.json` and `init.py`, but I believe the latter is actually `__init__.py`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a509bdc-f8b8-8488-7ab4-2c03cae6bfb5
* Version Independent ID: 3174a893-394c-c622-6c96-0b89955edfb5
* Content: [Create an HTTP trigg

[2019-05-17 16:47] v-kydela commented on #31493
@diberry - That works, thank you

[2019-05-17 16:47] #31493 closed

[2019-05-17 16:48] aljo-microsoft commented on #31479
@juho-hanhimaki

"
Time-out argument in the Reliable Collections APIs is used for deadlock detection. For example, two transactions (T1 and T2) are trying to read and update K1. It is possible for them to deadlock, because they both end up having the Shared lock. In this case, one or both of the operations will time out.

This deadlock scenario is a great example of how an Update lock can prevent

[2019-05-17 16:53] mrbullwinkle commented on #31456
@GiriB Thank you for reaching out. This doc is part of the official Application Insights documentation. Application Insights is now part of the Azure Monitor service. When Log Analytics and Application Insights were [combined under the Azure Monitor brand](https://docs.microsoft.com/en-us/azure/azure-monitor/terminology#august-2018---consolidation-of-monitoring-services-into-azure-monitor) the doc

[2019-05-17 16:54] #31456 closed

[2019-05-17 16:54] #16906 closed

[2019-05-17 16:55] #28756 closed

[2019-05-17 16:55] #30172 closed

[2019-05-17 16:55] #30433 closed

[2019-05-17 16:55] #30721 closed

[2019-05-17 16:56] #31052 closed

[2019-05-17 16:57] MicahMcKittrick-MSFT commented on #31479
Thanks @aljo-microsoft !

@juho-hanhimaki if you have further questions just let us know.

[2019-05-17 16:57] #31479 closed

[2019-05-17 16:59] fahdsiddiqui opened #31496 "Java code sample for custom synchronization"
Can we get the equivalent Java code for the code samples on this page as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5feaa520-6f8a-6b30-7cd1-3a85593f758f
* Version Independent ID: 2a121426-b973-fa0b-6a09-299193809723
* Content: [How to implement custom synchronization to optimize for higher availability and pe

[2019-05-17 16:59] MicahMcKittrick-MSFT commented on #31489
@kristianjaeger for the most part the copy commands are separate. But I can see a few that are not. I will assign to the author to review and see if it makes sense to adjust some of the sections. We also try to keep a common theme among another docs so that is another thing we look at.

[2019-05-17 16:59] jishnudantu commented on #31414
@arduppal No I am not able to ping it. But I am able to rdp into it.

[2019-05-17 17:04] kristianjaeger commented on #31489
Thanks!

[2019-05-17 17:08] BryanTrach-MSFT commented on #30992
@jivagopecharki Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-05-17 17:08] #30992 closed

[2019-05-17 17:13] ToMakeSense opened #31497 "Missing policies in policy reference index page"
The documentation I am referencing: [API Management policies](https://docs.microsoft.com/en-us/azure/api-management/api-management-policies) and [API Management advanced policies](https://docs.microsoft.com/en-us/azure/api-management/api-management-advanced-policies)

I found four policies below are not listed in the policy reference index page(the first link), but you could find it in the Azure a

[2019-05-17 17:14] diberry commented on #31126
#please-close

[2019-05-17 17:20] CeciAc opened #31498 "Please fix Japanese Localized String Please"
@KeiroKamioka0000 commented on [Wed May 15 2019](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/2530)

以下項目は機械翻訳の影響か日本語の文法としては少々おかしくなっておりますので修正をお願いします。
最後にアラートの１文字のみの文章等が見受けられます。

新旧のアラート機能
https://docs.microsoft.com/ja-jp/azure/azure-monitor/platform/alerts-classic.overview#old-and-new-alerting-capabilities

Azure Monitor、Application Insights、Log Analytics、Service Health のアラート機能は以前は別々でし

[2019-05-17 17:20] cijothomas commented on #13959
Please close this. Doc already updated to 2.2, and has a FAQ about 2.0 case.

[2019-05-17 17:23] MartinJaffer-MSFT commented on #31486
Hello @j03Martin  and thank you for your inquiry.  We will review the document and get back to you,

[2019-05-17 17:32] MayMSFT commented on #31357
thanks. we will fix the error.

[2019-05-17 17:33] CeciAc commented on #31498
Hi team,
First I sent this to our linguist, but as per her feedback this is actually a Source Issue.

Translation:

LM feedback:

[2019-05-17 17:35] MicrosoftGuyJFlo commented on #31237
This has been fixed. Spaces are allowed. #please-close

[2019-05-17 17:36] MicrosoftGuyJFlo commented on #31364
Translation updates take several days to propagate. #please-close

[2019-05-17 17:38] MicrosoftGuyJFlo commented on #30836
Forwarded to the product group for them to respond. #product-question

[2019-05-17 17:43] SaurabhSharma-MSFT commented on #31274
@ledzep9012 Thanks. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-17 17:43] #31274 closed

[2019-05-17 17:43] MicahMcKittrick-MSFT commented on #31188
@Anbukugan can you try increasing the WinRM timeout to 10m?

"winrm_timeout": "10m",

[2019-05-17 17:45] MicrosoftGuyJFlo commented on #30169
Forwarded to the product team to add to their backlog and see if able to do in a future update.

[2019-05-17 17:45] MicrosoftGuyJFlo commented on #30169
#please-close

[2019-05-17 17:45] cijothomas commented on #26565
Please close this. The new doc resolved this.

[2019-05-17 17:46] #26565 closed

[2019-05-17 17:47] jsandersrocks commented on #18379
See the ASE Dependencies section of this:https://docs.microsoft.com/en-us/azure/app-service/environment/network-info#ase-dependencies  "The inbound management traffic provides command and control of the ASE in addition to system monitoring. The source addresses for this traffic are listed in the ASE Management addresses document. The network security configuration needs to allow access from all IP

[2019-05-17 17:53] Adam-Smith-MSFT commented on #31488
@acrov Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-17 17:54] MS-TimothyMothra opened #31499 "Why doesn't this use https?"
Why doesn't this use https?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fdce995-5347-32c4-119f-6e8484250859
* Version Independent ID: 3dcfe7f4-cbb8-6323-5d93-b7e6b7f74db7
* Content: [Azure Instance Metadata Service](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service)
* Content

[2019-05-17 17:54] ToMakeSense commented on #31096
Yes, I still have this issue.
I made the slot(staging) and production the same code & configuration, when the slot(staging) became production,the function app action in logic app isn't working with `Unauthorized`, when swap the production back, it's working again.
![image](https://user-images.githubusercontent.com/6244148/57946563-2a244080-790f-11e9-8068-529c3c2bf5e5.png)

![image](https://user-im

[2019-05-17 17:57] ggailey777 commented on #31495
Thanks @brettcannon. We had forgotten to escape some special characters in Markdown. 😁
Good catch!

[2019-05-17 18:05] geglne opened #31501 "Update instructions and/or screenshots"
In [these instructions](https://docs.microsoft.com/en-us/azure/automation/pre-post-scripts#using-a-prepost-script), there is a screenshot for the Configure Script step with steps to "provide values" for the parameters. Unfortunately when I add the **UpdateManagement-TurnOnVms** script, there is indeed a "**Parameters**" label, however there are no input objects as shown in the example.

1. This sc

[2019-05-17 18:08] MarileeTurscak-MSFT commented on #31491
@chludwig-haufe
Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-17 18:09] MarileeTurscak-MSFT commented on #31494
@DeanGross
Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-17 18:10] MarileeTurscak-MSFT commented on #31492
@netapp-bcammett
Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-17 18:13] ggailey777 commented on #31495
This has been fixed. You should see the updates later this afternoon (PDT). Thanks again!
#please-close

[2019-05-17 18:14] BretStateham opened #31502 "Incorrect query in quickstart when retrieving IoT Hub connection string"
The query used in the command to retrieve the IoT Hub primary Connection String into the $hubConnectionString variable is wrong.

Instead of the query term being `connectionString` it should read `cs`.

Here is a working version of the statement

[code]
Note this is in addition to issue #25777 regarding the incorrect `--name` parameter (should be `--hub-name or just -n`).

---
#### Document Detail

[2019-05-17 18:16] #31495 closed

[2019-05-17 18:22] msmimart commented on #23203
@SamirFarhat hopefully this answers your question - we'll close this issue now, but if you have any other concerns please let us know. #please-close

[2019-05-17 18:22] MicahMcKittrick-MSFT commented on #31499
Thanks for the question! We are investigating and will update you shortly.

[2019-05-17 18:23] #23203 closed

[2019-05-17 18:25] mamccrea commented on #31105
@emeria

Setting the application role to Storage Blob Data Contributor at the subscription level won't work, as you experienced. It must be set at the storage account level for the ADLS Gen 2 storage account. Note that this tutorial requires you to create two storage accounts: one for ADLS Gen 2 and another for Blob storage (for use with SQL DW).

This should work. If it doesn't, please double che

[2019-05-17 18:27] juanren opened #31505 "if others copy my code, can they deploy to cloud with same appName directly?"
If a group of engineers do same project, how the user verification control?

I am freetrial user, but I do research for company production, we are make decision to use azure function or not; please give quick answer; thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e656bde5-b5d8-8d80-b7b3-ab430e57613e
* Version I

[2019-05-17 18:30] VaSquirrel opened #31506 "NVMe definition?"
Footnote 2 - Local NVMe Disks are ephemeral, data will be lost on these disks if you stop/deallocate your VM.

I thought NVM meant Non-Volatile Memory.  If all data is lost when the VM stops, how can you call the storage NVMe?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7323e68-7415-ba43-47de-8d1738f7c52b
* Version

[2019-05-17 18:34] elcarlosadrian commented on #30836
SignIn frequency is just about user's authentication timestamp: this feature doesn't change token lifetimes, nor controls MFA lifetime: it's just about when to prompt the user to re-authenticate.

[2019-05-17 18:38] satyarapelly commented on #31033
I think, deployed or published version of Azure Functions failed to execute the dependency injection.
Unable to resolve service for type 'AzureFunctionPoc.IService' while attempting to activate 'AzureFunctionPoc.Hello'.

[2019-05-17 18:47] jlagarda opened #31508 "Azure Portal Access"
Hi there, when creating the instance of CosmosDB account, the process gets stuck on allowing a virtual network access to the
azure portal. How would I go about automating that permission or is it not possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43c21af0-4512-e8e2-a014-c6e5007ef53d
* Version Independent ID:

[2019-05-17 18:56] MicrosoftGuyJFlo commented on #30836
Thanks @elcarlosadrian!  @cronq does this answer your question?

[2019-05-17 19:04] pugillum opened #31509 "Unclear explanation for Stream Analytics job query"
Step 1 of  "Run the Stream Analytics job" is unclear.  It should make clear that the query should be changed to:
SELECT *
INTO
   [adlsg1output]
FROM
   [blobinput]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ce1146c-b5b4-3413-6d7c-d0065cbb263c
* Version Independent ID: 26781dc5-918b-9c26-8e2f-76396f74f155
* Conten

[2019-05-17 19:17] msmimart commented on #27644
@anigo333 hopefully this answers your question - we'll close this issue now, but if you have any other concerns please let us know. #please-close

[2019-05-17 19:18] georgewallace commented on #31501
@geglne Thanks for reaching out.. You are correct the runbooks have changed.. I will update the doc. Once I submit the updates the issue will automatically close.

[2019-05-17 19:21] MicahMcKittrick-MSFT commented on #31506
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-17 19:22] jigarshah04 commented on #31325
Where should I file the ticket? In Azure Cloud Partner portal or elsewhere? Can you provide a link?

--
Jigar

[2019-05-17 19:29] vnarula opened #31510 "Compliance : GDRP or GDPR ?"
In the compliance section it say Service fabric is GDRP compliant , just want to make sure it is GDRP or GDPR .?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 160326f9-6daa-81be-913b-68f965950964
* Version Independent ID: 373b46cd-e1ea-ee72-33cc-7d831af4dc35
* Content: [Overview of Service Fabric on Azure](https://doc

[2019-05-17 19:32] jasonslater331 commented on #31374
@YutongTie-MSFT It was the s in the URL for SSL...ugh...

[2019-05-17 19:34] SHANE0MAC opened #31511 "Add a column for Azure Stack in the Supported IaaS features section"
Shouldn't there be a column for Azure Stack in the Supported IaaS and PaaS features section?
It is important to see what features are available in ASC as it relates to Azure Stack. Since it is supported for onboarding in to ASC.
Azure Stack https://docs.microsoft.com/en-us/azure/security-center/quick-onboard-azure-stack.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2019-05-17 19:36] setht2 commented on #25082
@MicahMcKittrick-MSFT , I have an updated document that includes required steps to set up Start Tasks for the Azure Batch VMs to maintain their state with respect to MachineKeys folder permissions and the Certificate being applied. Please let me know if you'd like me to forward it.

[2019-05-17 19:36] MicahMcKittrick-MSFT commented on #31510
@vnarula good catch! Minor spelling error. I submitted a fix. Once the PR merges the changes will go live after a few hours.

[2019-05-17 19:36] #31510 closed

[2019-05-17 19:41] CeciAc opened #31512 "日本語ドキュメントにHTMLエラーか"
@KeiroKamioka0000 commented on [Wed May 08 2019](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/2516)

修正をお願いします。

https://docs.microsoft.com/ja-jp/azure/backup/backup-azure-backup-faq#if-each-recovery-point-is-like-a-full-point-does-it-impact-the-total-billable-backup-storage

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: efe1b860-8d24-174

[2019-05-17 19:43] CeciAc commented on #31512
Hi team,
I moved this here since the error was originally in the source page but was recently updated.
![imagen](https://user-images.githubusercontent.com/26746247/57952222-dee44080-78c2-11e9-82ca-e2de0458fe8f.png)

[2019-05-17 19:47] vnarula commented on #31510
Thanks for prompt fix !

[2019-05-17 19:55] milazzom commented on #26014
I have a customer using RHEL 7.6 in Azure (using the marketplace image) that is having the same issue.

[2019-05-17 20:07] zereplim commented on #31071
@jwargo yes I've logged in:
![image](https://user-images.githubusercontent.com/9472548/57953298-9ab76700-78e7-11e9-8ef0-c7418f77bd0d.png)

So I guess I have to have a payed subscription.
Thank you for your help then.

[2019-05-17 20:08] jeking3 opened #31513 "How can I register an application using the azure python pip modules?"
Looking for a way to do this through the python azure modules.  Can't find it anywhere?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9642c47-826b-017f-eff3-ab3b25e4e454
* Version Independent ID: 091f26e7-6543-ef0f-b575-b44519943391
* Content: [Register an app with the Microsoft identity platform - Microsoft identity

[2019-05-17 20:12] lferreirad1 opened #31514 "i try this and i received the error"
PS D:\Developer\POC\FuncDocker&gt; func kubernetes install --namespace keda
customresourcedefinition.apiextensions.k8s.io "scaledobjects.keda.k8s.io" created
serviceaccount "keda" created
clusterrolebinding.rbac.authorization.k8s.io "keda" created
clusterrolebinding.rbac.authorization.k8s.io "keda-hpa-role-binding" created
service "keda" created
deployment.apps "keda" created
apiservice.apiregistr

[2019-05-17 20:14] Alberto-Vega-MSFT commented on #31482
@simon-jun Thanks for reaching out. These issues are mostly for documentation feedback .This question might be better suited for the developer forums like MSDN and StackOverflow. Would you please post there and share the link? Also you might want to see this question here https://stackoverflow.com/questions/47492289/azure-iot-hub-cloud-to-device-message-using-stream-analytics

[2019-05-17 20:16] monicsh commented on #28841
Hi I am not able open sfproj in Visual Studio  2019 and I ahve already installed SDK tools 3.3.658 on local machine. Please let us know if vs2019 is supported or not?

[2019-05-17 20:18] abatishchev commented on #28841
What error you're getting? I have no problems opening and debugging SF apps in VS2019.

[2019-05-17 20:19] jwargo commented on #31071
@zereplim I didn't think we charged for them anymore; I couldn't find anything there about paying for membership. My mobile dev account went free several years ago.

[2019-05-17 20:38] MarileeTurscak-MSFT commented on #31494
I created a pull request to amend this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/77115

@MicrosoftGuyJFlo

[2019-05-17 20:38] #31494 closed

[2019-05-17 20:42] MarileeTurscak-MSFT commented on #31511
@SHANE0MAC
Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-17 20:46] Alberto-Vega-MSFT commented on #31502
@BretStateham Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-17 20:57] NDSoul opened #31517 "Incorrect Port number listed"
Under "Steps to resolve persistent connectivity issues", #2 references port 3306 which is incorrect. That is for MySQL. The correct port for PostgreSQL should be 5432

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60f34411-4231-8861-a753-763cfdfb3f99
* Version Independent ID: 7a0d8024-c130-c945-7a35-eb711e99ae66
* Cont

[2019-05-17 21:02] #28911 closed

[2019-05-17 21:06] Karishma-Tiwari-MSFT commented on #29988
@jonbeck7 Please let us know if there is any update on this issue. This page is missing information for FS and F v1.
CC: @cynthn

[2019-05-17 21:07] MartinJaffer-MSFT commented on #31281
I do not believe adding custom states is supported at this time, however there are alternatives.
You could create a variable in which you store the status (Red,Green,Orange), and base your control flow off that.
If your business logic is sufficiently complex, you could try using a "Custom Activity" instead.

[2019-05-17 21:08] Alberto-Vega-MSFT commented on #31296
@Zoltango any updates?

[2019-05-17 21:11] tfitzmac commented on #30654
You'll see the update now - [https://docs.microsoft.com/en-us/azure/templates/microsoft.insights/2018-05-01-preview/components/proactivedetectionconfigs](https://docs.microsoft.com/en-us/azure/templates/microsoft.insights/2018-05-01-preview/components/proactivedetectionconfigs)

[2019-05-17 21:18] cynthn commented on #29988
@osirismdw The F and Fs-series were moved to the "previous generations"  topic here: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes-previous-gen#f-series.

I did notice that F and Fs are still listed as part of compute in the main page for sizes, so that needs to be updated with a link to the previous generations list.

Thanks for the feedback!

#please-close

[2019-05-17 21:22] Karishma-Tiwari-MSFT commented on #26014
@milazzom  This is a bug in the Xorg shipped in RHEL 7.6: https://bugzilla.redhat.com/show_bug.cgi?id=1665433
The workaround shared by the product team is to use RHEL version 7.5.

[2019-05-17 21:23] ntachandley commented on #29988
But is that contextually accurate? F(v1) is of the same compute generation as Dv2 and last I checked that isn’t treated in the same “previous generation” context. If pre-HT SKUs are officially aging out that’s an important message as plenty of PAAS services also present this compute generation as current.

Adam L Chandley
________________________________
From: Cynthia Nottingham <notifications@git

[2019-05-17 21:29] cynthn commented on #29988
We had a lot of debate about using the term "previous generation" for these. It doesn't mean the size is being phased or can't be used, it just isn't the latest version of that family. But, I will let Jon or someone from the VM sizes team chime in as well :)

[2019-05-17 21:36] msmimart commented on #27333
@cmcapellan Thank you for pointing this out. Per the product team the **Use Kerberos only** option doesn't work in this scenario because there is a transition in auth type that occurs during the process. So, you must choose **Use any authentication protocol**. I'm updating the article to include this selection, which will publish shortly.

[2019-05-17 21:37] jonels-msft commented on #30696
The English version has been updated, but looks like the changes have not yet appeared in Japanese. @angoyal-msft do you know when translators will update that page?

[2019-05-17 21:37] #27333 closed

[2019-05-17 21:42] kristianjaeger opened #31519 "Troubleshooting steps for the section related to "kubectl get pods -n voting""
4 out of 5 of my pods are stuck in a 'pending' state.  Any troubleshooting steps / workarounds? Thanks.

"voting-analytics-1-0-57c7fccb44-6t4cr   0/2     Pending   0          29m
voting-app-1-0-956756fd-dpsbl           0/2     Pending   0          29m
voting-app-1-0-956756fd-qnc6x           0/2     Pending   0          29m
voting-app-1-0-956756fd-t2p5l           0/2     Pending   0          29m
vo

[2019-05-17 21:51] nganjisbi opened #31520 "How to setup a nested guest Linux VM inside the host Windows VM?"
Hi, I'm trying to setup an Azure lab requiring network connectivity between Windows and Linux machines. So, how to setup a nested guest Linux VM inside the host Windows Azure VM?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ffa9c12-4fdc-118a-4e84-624cbcc3f4c8
* Version Independent ID: 6c5b1d1f-78a1-2c79-b37d-0367d76

[2019-05-17 21:56] milazzom commented on #26014
This is affecting existing VMs, so I'm not sure they can just revert to RHEL 7.5.  I'll get involved on the RedHat side and see what's going on with getting a fix for RHEL 7.6.

[2019-05-17 21:59] MarkusVi commented on #28378
The B2B team is going to release an error code reference soon.

#please-close

[2019-05-17 22:05] rezasherafat commented on #31378
@romankiss, I tried with Paho/Python and the behavior is that I get all queued messages. Feel free to try below code.

[code]

Maybe it is an issue with your client implementation, but I cannot be sure.

[2019-05-17 22:15] Mike-Ubezzi-MSFT commented on #31517
@NDSoul Thank you for bringing this to our attention. I have assigned this to the content author to evaluate and update as appropriate.

[2019-05-17 22:16] juanren opened #31521 "how about java language?"
github deployment not support java, right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a34424e-6a23-5517-5755-c9282643876f
* Version Independent ID: 1c375649-94d6-863a-203b-cb5ed5e4044e
* Content: [Continuous deployment for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-continuous

[2019-05-17 22:24] monicsh commented on #28841
Thanks for responding. I see sfproj not loaded and title changes for the project "<project_name> (incompatible)" and refuses to open reload in solution

[2019-05-17 22:27] MartinJaffer-MSFT commented on #31486
User-assigned identities are not available for Data Factory at this time.  You can go to the [feedback forum](https://feedback.azure.com/forums/270578-azure-data-factory) and suggest / upvote it as a feature.

[2019-05-17 22:27] #31486 closed

[2019-05-17 22:33] Karishma-Tiwari-MSFT commented on #31179
@stgeorgi @eva-seydl Did you get a chance to take a look at this question? Thanks.

[2019-05-17 22:37] #31281 closed

[2019-05-17 22:45] geglne commented on #31501
Also...I would think about hiding the “Parameters label when a script has none - feels like something is missing, otherwise.

Thank you,
G. Gallaher

On May 17, 2019, at 12:19 PM, George Wallace <notifications@github.com<mailto:notifications@github.com>> wrote:

@geglne<https://github.com/geglne> Thanks for reaching out.. You are correct the runbooks have changed.. I will update the doc. Once I su

[2019-05-17 22:45] KranthiPakala-MSFT commented on #31130
@ToddChitt  : We think the ask is clear that you want to capture the sync count , but we are not sure about the implementation .

The input to the tutorial is something like this
"TABLE_NAME": "project_table",
        "**WaterMark_Column**": "Creationtime",

If you query the column WaterMark_Column , it gives you the max of datetime , not sure how this is going to be stored in INT variable ,

DECL

[2019-05-17 22:45] ba-johnson opened #31522 "Failed to create Dynamic Security Group with Cloud Reseller authenticate sign in"
When attempting to make a Dynamic AAD group via a Cloud Reseller associated login, the AAD group creation does not work. When using a directly created admin user (with no licence assignment in AAD), this is possible.  The specific Advance Rule used was:

(user.objectId -ne null)

This was attempted exactly as written via the Cloud Reseller authenticated user but did not seem to work. Please resolv

[2019-05-17 22:46] #31130 closed

[2019-05-17 22:47] himanshusinha-msft commented on #31243
@vijaysuram .  We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2019-05-17 22:48] juanren opened #31523 "may I change the SUBSCRIPTION_ID in jave project?"
how to set SUBSCRIPTION_ID? it is only default generated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c13f5f59-c119-40e6-1396-d6e65b737693
* Version Independent ID: eb8a9ad0-44fc-6e06-adb0-29df32aee19a
* Content: [Create Java web app on Linux - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/co

[2019-05-17 22:58] mpnow commented on #29910
It's May 17th and all of our alerts are still "Not Ready for Migration"... Any update?

[2019-05-17 23:02] BryanTrach-MSFT commented on #31523
@juanren Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-17 23:06] abatishchev commented on #28841
What migration reports says? Also what's ProjectVersion? The latest is 2.5.

[2019-05-17 23:13] BryanTrach-MSFT commented on #31523
@juanren The subscription ID is generated when you created your Azure subscription. Its value is unique and permanent for the life of your Azure subscription.

To find your subscription ID, please look in the overview blade of your web app.

![SubID](https://user-images.githubusercontent.com/20250350/57960634-b1959380-78be-11e9-8ad5-97c06760fb30.jpg)

We will now proceed to close this thread. If t

[2019-05-17 23:13] #31523 closed

[2019-05-17 23:14] Mike-Ubezzi-MSFT commented on #31496
@fahdsiddiqui Thank you very much for request. We are currently investigating and will make an enhancement to the document as suggested.

[2019-05-17 23:14] MicahMcKittrick-MSFT commented on #31519
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-17 23:15] MicahMcKittrick-MSFT commented on #31520
Thanks for the question! We are investigating and will update you shortly.

[2019-05-17 23:16] femsulu commented on #31508
Thanks for the comments. we are investigating and will get back to you shortly.

[2019-05-17 23:16] femsulu commented on #31498
@CeciAc thanks for the comment we are investigating and will get back to you shortly.

[2019-05-17 23:17] MicahMcKittrick-MSFT commented on #31522
@ba-johnson please provide me with the link to the documentation you are following so I can better assist.

[2019-05-17 23:18] femsulu commented on #31512
@CeciAc We are investigating and will get back to you shortly.

[2019-05-17 23:19] Tioga060 opened #31524 "CORSCredentials missing from local.settings.json section"
Support for [CORSCredentials](https://github.com/Azure/azure-functions-core-tools/blob/dev/src/Azure.Functions.Cli/Common/HostStartSettings.cs#L13-L14) in the local.settings.json exists. However the [local-settings-file](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local#local-settings-file) section of this article does not have documentation on it.

---
#### Document Detai

[2019-05-17 23:19] ba-johnson commented on #31522
https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/groups-create-rule & associated supporting articles...

From: Micah <notifications@github.com>
Sent: 18 May 2019 00:18
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: ba-johnson <ba.johnson@Outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Failed to create Dynamic Se

[2019-05-17 23:20] MicahMcKittrick-MSFT commented on #31520
@nganjisbi the steps in this doc are the same. You still configure all the networking portions and what not. Then you just create a nested Linux image instead of another windows image.

[2019-05-17 23:31] KranthiPakala-MSFT commented on #31461
@rworbis : Thank you for brining this to our attention. We have assigned the issue to the content author . They will evaluate & update the document as appropriate.

[2019-05-17 23:33] MicahMcKittrick-MSFT commented on #31522
Thanks! I will assign to our AAD engineers to look further.

[2019-05-17 23:33] MicahMcKittrick-MSFT commented on #31499
I will close but if you have further questions just let us know.

[2019-05-17 23:33] #31499 closed

[2019-05-17 23:36] MicahMcKittrick-MSFT commented on #31497
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-17 23:37] MicahMcKittrick-MSFT commented on #31505
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-17 23:38] MicahMcKittrick-MSFT commented on #31509
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-17 23:38] MicahMcKittrick-MSFT commented on #31513
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-17 23:39] MicahMcKittrick-MSFT commented on #31514
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-17 23:39] MicahMcKittrick-MSFT commented on #31521
Thanks for the question! We are investigating and will update you shortly.

[2019-05-17 23:40] MicahMcKittrick-MSFT commented on #31524
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-17 23:41] ayshakeen commented on #15622
B-series does not support nested Virtualization.

[2019-05-17 23:42] juanren commented on #31523
Can I change it?

On Fri, May 17, 2019 at 4:14 PM Bryan Trach <notifications@github.com>
wrote:

[2019-05-18 00:10] kvbreddy commented on #29740
We are using .NET Framework 4.6.2. and are not using any custom HttpMessageHandler.

[2019-05-18 00:28] MartinJaffer-MSFT commented on #29820
Excuse me, @kromerm  , could you please help get some traction on this issue?

[2019-05-18 00:31] rimman commented on #31496
Ack.  We will try to add this. thanks.

[2019-05-18 00:31] TravisCragg-MSFT commented on #13728
@sylr Unfortunately I cannot give a timetable for DNS Private Zones going GA.

[2019-05-18 00:43] kobulloc-MSFT commented on #31405
@j0s3m1cha3l The changes are now live.  Thank you again for bringing this to our attention!

We are going to close this as resolved, but if you have any questions about the documentation please tag me in your reply and we'd be happy to continue the conversation.

[2019-05-18 00:43] #31405 closed

[2019-05-18 00:43] arcotek-ltd opened #31525 "Parameters"
If my script has a param() block, can you give examples of how I set them when calling the script, in ARM template and the portal.

E.g, From cmd on a PC, I could run myscript.ps1 -DomainName "contoso.com". How would I do the same thing in ARM?
"commandToExecute": "powershell.exe . . . -File \"./scripts/myscript.ps1 -DomainName 'contoso.com' \""

Does the portal need the hyphen?

For completeness,

[2019-05-18 00:45] gdhuper commented on #30630
@Zimmergren I have a very similar use case where I need to programmatically assign an identity to a container group instance (to talk to Key Vault) from a function app. Would it be possible if you could post sample code on how to go about doing this using ARM template ?
Would really appreciate your help.

[2019-05-18 01:35] YutongTie-MSFT commented on #31374
@jasonslater331 It should be a naughty s ^^

[2019-05-18 02:20] IanMercer opened #31526 "Implication is that you can use `if` to detect when a resource exists, but example on `if` page doesn't do that."
Text says "Use the if function to make sure the function is only evaluated when the resource exists." but the example shows only how to do it when you are conditionally creating the resource, the example does not test for existence of a previously created resource. Is it possible to test for the existence of a previously created resource or not?

---
#### Document Details

⚠ *Do not edit this sect

[2019-05-18 03:00] d-h-morrison opened #31527 "In the Parlance of our Times: 'Where's The Beef??'"
Why does the guidance instruct us to conduct the following activities and then UTTERLY FAIL TO TELL US WHAT TO DO WITH THE ROOTMANAGESHAREDACCESSKEY?  Come on, really??  what's the point?

Now, you guys, please conduct the following activity:

**_Carry out the steps described in this statement very to the best of your abilities:   " "_**

See what I mean? :) Why bother?

**Here you tell us to do s

[2019-05-18 03:28] georgewallace commented on #31525
For `Set-AzureRMVMCustomScriptExtension` you would do something like the following (where var1 is the name of your paramter):

[code]

Resource Manager templates are a bit different.. You add it in the `commandToExecute` like you mention.

For the portal you just put "-paramname value"

[2019-05-18 03:35] d-h-morrison opened #31528 "Missing Guidance On Hybrid Connection 'Key' 'Value' Properties"
What is the configuration for 'User specified metadata stored within the resource.' section of the Hybrid Connection?  What are the values we need to insert for 'Key' and 'Value' fields of the create Hybrid Connection?  Do we insert any random 'key' 'value' strings here?  What's the deal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-05-18 03:43] georgewallace commented on #31501
@geglne Thanks I will pass this info to the team.

[2019-05-18 04:30] NileshGule opened #31529 "Create Hive table with Sqoop import"
With the on premise version of Hortonworks cluster it is possible to create a table in Hive while importing data using Sqoop import.

Currently on [HDInsight samples](https://docs.microsoft.com/bs-latn-ba/azure/hdinsight/hadoop/apache-hadoop-use-sqoop-mac-linux), I find examples of importing data from SQL Server or other JDBC sources into HDFS dirctories.

I tried invoking the sqoop import from Ad

[2019-05-18 04:43] femsulu commented on #31403
adding @qianw211

[2019-05-18 04:44] femsulu commented on #31501
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-05-18 04:44] #31501 closed

[2019-05-18 06:40] KentaroAOKI commented on #31187
Hi @jjgriff93, I am also seeing there is model train happening in several times feedback loop and there is change in the probabilities.

Personalizer service ranked the actions with the probabilities as below:
salad 0.06666667
pasta 0.8666667
juice 0
ice cream 0.06666667

[2019-05-18 06:51] SadiqhAhmed-MSFT commented on #31529
@NileshGule Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-18 06:53] SadiqhAhmed-MSFT commented on #31528
@d-h-morrison Thanks for the comment! We will investigate on this issue and get back to you soon.

[2019-05-18 06:55] SadiqhAhmed-MSFT commented on #31527
@d-h-morrison Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-18 06:57] SadiqhAhmed-MSFT commented on #31526
@IanMercer Thanks for the Comment. We are actively investigating and will get back to you soon.

@tfitzmac Could you please review this request and provide expert suggestions on the same?

[2019-05-18 07:23] #31364 closed

[2019-05-18 07:23] #31237 closed

[2019-05-18 07:26] #31267 closed

[2019-05-18 08:00] Oculis commented on #23037
Is there any updates on this please?

[2019-05-18 08:01] docgregt commented on #23037
It is fixed in the version MS gave me.

Gregory Turner
Chief Architect
________________________________________
i4 Insight, Inc.

cell: +1.720.335.1744
greg.turner@i4-insight.com<mailto:greg.turner@i4-insight.com>

A member of the Lloyd’s Register Group

From: Oculis <notifications@github.com>
Sent: Saturday, May 18, 2019 2:01 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Gre

[2019-05-18 08:12] vasireddyk commented on #23037
Thanks, Any chance that it can be shared please?

[2019-05-18 08:26] vasireddyk commented on #23037
Or is the version given to you available to download somewhere?

[2019-05-18 10:03] #31144 closed

[2019-05-18 11:03] lesomnus opened #31533 "There is no mention of the installation of Microsoft.Azure.WebJobs.Extensions.DurableTask."
There is no mention of the installation of Microsoft.Azure.WebJobs.Extensions.DurableTask, so the description of the version seems to be confusing.

I think this document is missing a description of the extension installation
$ func extensions install -p Microsoft.Azure.WebJobs.Extensions.DurableTask -v 1.7.0
which is described in https://github.com/Azure/azure-functions-durable-js

---
#### Docum

[2019-05-18 11:05] bwren commented on #31477
I agree that variable isn't used.  I assume the script was modified where that variable was no longer used.  The engineering team provided those scripts so I'll check with them if they want to modify to remove that variable.

[2019-05-18 11:16] bwren commented on #31075
There are several examples in the reference documentation for the join command at https://docs.microsoft.com/azure/kusto/query/joinoperator.  We're working on better synchronizing our log query content with the KQL reference content to make these kinds of things easier to find.

[2019-05-18 11:17] bwren commented on #31075
#please-close

[2019-05-18 11:56] tomygrenier commented on #31478
I think I got it. The JS single-page app example set a default value (en-US) to mkt while the Quickstart PHP call does not. So, mkt should be set for request returns entities. Is that it? I thought Bing Web Search set a default one when not set in options params. And I think, entities objet will not be returned if offset not set to 0.

[2019-05-18 12:01] rollandjb opened #31535 "Unable to get Claim Resolvers to work"
I have had this question (https://stackoverflow.com/questions/53008134/oauth-kv-claims-resolver-in-aad-b2c-does-not-work) on SO for 6 months, with absolutely no response. Apologies for asking this here, but please can you confirm that claim resolvers described in this documentation do work in custom policies. Thank you so much.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-05-18 12:08] JeanCollas opened #31536 "Billing scope not clear"
I am looking whether the billing cost is per incoming character or outgoing (I believe not) or both.
In case of multi-languages translation, how is it counted?

e.g.
I have 100 characters to translate from english to italian + german
I would call something like:
`https://api.cognitive.microsofttranslator.com/translate?api-version=3.0&from=en&to=it&to=de`

How many characters will be charged?

---

[2019-05-18 12:27] ams0 opened #31537 "istio install with PodSecurityPolicy"
Not an issue per se, but if you try this instructions with a cluster with PSP enabled (currently in preview), helm installs will fail. You can apply this file first: https://gist.github.com/ams0/9018291fd5e76ae2b3671f233c32e47a to make it work again.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68b5d00d-529b-a8be-47b

[2019-05-18 12:50] bernie-msft commented on #20048
Added a pointer to EM+S documentation.

[2019-05-18 12:59] Anmolgan81 opened #31539 "Do we need to install Excel 2016 into azure SSIS?"
Do we need to install any office components like excel into azure ssis? One of our packages uses the excel 2016 to create some files and we are getting the error when doing it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3adb930-4c78-e69a-eeb9-d01e90e8aaa6
* Version Independent ID: f0560a94-e26f-a7ae-aab2-301b0cc97

[2019-05-18 13:12] irishun commented on #16666
Hello, I am also interest if it is possible to use OCR on local images.

[2019-05-18 13:13] SnehaAgrawal-MSFT commented on #31166
@Syamala2604 Thanks again for the question! I have assigned the issue to the content author to get you update on this.

[2019-05-18 13:29] DixitArora-MSFT commented on #31191
@alfanse For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue

[2019-05-18 13:29] #31191 closed

[2019-05-18 13:30] DixitArora-MSFT commented on #31295
@mganeshphani For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue

[2019-05-18 13:30] #31295 closed

[2019-05-18 13:30] DixitArora-MSFT commented on #31319
@juanren For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue

[2019-05-18 13:30] #31319 closed

[2019-05-18 14:54] SadiqhAhmed-MSFT commented on #31539
@Anmolgan81 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-18 14:55] SadiqhAhmed-MSFT commented on #31537
@ams0 Thanks for the feedback. We are looking into this and will get back to you shortly.

[2019-05-18 14:57] SadiqhAhmed-MSFT commented on #31536
@JeanCollas Thanks for the comment! We will investigate on this issue and get back to you soon.

[2019-05-18 14:58] SadiqhAhmed-MSFT commented on #31535
@rollandjb Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-18 14:59] SadiqhAhmed-MSFT commented on #31533
@lesomnus Thanks for the feedback. We are looking into this and will get back to you shortly.

[2019-05-18 15:02] justSteve opened #31540 "Cleanup statement has unrecognized argument"
az group delete --name myResourceGroupAG --location eastus
tosses:
az: error: unrecognized arguments: --location eastus

Removing ' --location eastus ' works

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b66ca071-31b4-d637-725e-f9a3c6f27fe4
* Version Independent ID: 6f748c5d-e2bc-8783-5eec-5a0c1b11b34d
* Content: [Ena

[2019-05-18 15:07] docgregt commented on #23037
I can give you what I have. I am surprised it isn’t released already. Let me know where to drop it. It is 10MB in size.

Gregory Turner
Chief Architect
________________________________________
i4 Insight, Inc.

cell: +1.720.335.1744
greg.turner@i4-insight.com<mailto:greg.turner@i4-insight.com>

A member of the Lloyd’s Register Group

From: Krishna <notifications@github.com>
Sent: Saturday, May 18,

[2019-05-18 15:36] vasireddyk commented on #23037
Thanks, can you please try and drop here...
https://www.dropbox.com/sh/wcfm3cufgk2xc9v/AABZyqqipoGnAha9kfYrhaKta?dl=0

[2019-05-18 15:55] docgregt commented on #23037
I could not find any way to drop it there. I tried drag n drop…didn’t work. There are no upload menus. I do not have dropbox account so it will need to public.

Gregory Turner
Chief Architect
________________________________________
i4 Insight, Inc.

cell: +1.720.335.1744
greg.turner@i4-insight.com<mailto:greg.turner@i4-insight.com>

A member of the Lloyd’s Register Group

From: Krishna <notificat

[2019-05-18 16:09] MicahMcKittrick-MSFT commented on #31540
Thanks for the question! We are investigating and will update you shortly.

[2019-05-18 16:36] jan-eng commented on #31517
Thanks for reporting this. I have signed-off on the pull request [#31534](https://github.com/MicrosoftDocs/azure-docs/pull/31534)

[2019-05-18 16:38] KetanChawda-MSFT commented on #31151
@henrycjc We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-18 16:38] #31151 closed

[2019-05-18 16:40] KetanChawda-MSFT commented on #31215
@mattruma I am glad that it worked. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-18 16:40] #31215 closed

[2019-05-18 16:41] KetanChawda-MSFT commented on #31219
@mganeshphani Since there is no doc update required at the moment, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-18 16:41] #31219 closed

[2019-05-18 16:42] KetanChawda-MSFT commented on #31289
@dalemyers Checking in to see if the above post helped answering your question. Let me know if there are still any additional issues I can help with.

[2019-05-18 16:42] KetanChawda-MSFT commented on #31330
@rysweet Checking in to see if the above post helped answering your question.

[2019-05-18 16:49] KetanChawda-MSFT commented on #31533
@lesomnus Note in the [doc](https://docs.microsoft.com/en-us/azure/azure-functions/durable/quickstart-js-vscode#test-the-function-locally) mentions

Let me know if there are still any additional queries I can help with.

[2019-05-18 17:37] BaileyJames99 opened #31543 "Very helpful"
Well written.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db30a5c4-452c-02ae-b610-018e2bb042fb
* Version Independent ID: 459aa1c1-fd5f-f6e1-3244-6bfbb2abd67f
* Content: [Add B2B guests without an invitation link or email - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/b2b/add-user-w

[2019-05-18 18:13] CodeSizzler commented on #28460
Hi there! Concept of Placement Group is amazing. But it will be great if we get clear information on how many Fault Domains and Update Domains we will be getting per placement group.

[2019-05-18 18:37] ketaanhshah opened #31544 "cloud_roleName Telemetry intializer declarative method not working as documented"
I have been following this article for adding cloud_RoleName to my web-app (https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-monitor/app/app-map.md#net), I just tried this with a very simple ASP.net web-app. I created a class library for telemetry and referenced it with my Web-App and made sure Instrumentation Key is used. Now when I initialize the custom TELEMETRY class prog

[2019-05-18 19:34] maneeshbhat21 opened #31545 "Azure ADE : S2D File servers with Azure ADE"
Hi team,
Just a points related to suppport matrix for Azure ADe.the documentation states following :
Enable encryption on VMs that are configured with Windows Storage Spaces beginning in Windows Server 2016.
Now if we talk about to achieve HA in file services we have to use S2D (Storage spaces) which includes CSV volumes. The encryption doesnot work/support with CSV volumes and hence the statement

[2019-05-18 20:22] rbavery commented on #30890
Thanks @marinnedea . What's the recommended mount point for fully persistent mounting? Or is it your recommendation to change the path to the temporary mountpoint to some other directory I create beforehand?

[2019-05-18 20:25] jjfrost opened #31546 "curl statement issue and UTF-8 encoding issue"
Couple of further items to consider updating in this article:

1.) From the psql command prompt, the curl command such as in [\! curl -O https://examples.citusdata.com/users.csv] results in "permission denied" error .  Workaround is to download this file locally, then run the \copy command pointing to the local downloaded file path in the from statement as in: [\copy github_users from 'c:\mydata\u

[2019-05-18 21:16] lesomnus commented on #31533
@KetanChawda-MSFT That's where I got confused. The documentation only covers the installation of the `Azure Functions` extension of vscode and the `durable-functions` package of npm, but there is nothing about the installation of Microsoft.Azure.WebJobs.Extensions.DurableTask.

I did not even know that there was a command like `func extensions insall` until I saw [this page](https://github.com/Azu

[2019-05-18 21:24] dalemyers commented on #31289
Not particularly. I'm aware that I _can_ do it, I just don't think it was
particularly well documented.

On Sat, 18 May 2019 at 17:42, KetanChawda-MSFT <notifications@github.com>
wrote:

[2019-05-18 21:39] rboucher commented on #31498
Looks like it is a typo.  I removed the extra word "alerts" in PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/77164 . PR still in process.

[2019-05-18 22:03] MisinformedDNA opened #31548 "Shouldn't the sample use Azure SignalR"
Given that this is the docs section for Azure SignalR, shouldn't the sample use SignalR? Currently, it tells us to spin up the service and paste our service URL in the settings file, but the service is never actually hit/used. Or am I totally missing something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 589dec51-5d

[2019-05-18 23:03] mattchenderson commented on #30809
GA will be for the existing support with version pinning. On top of that, we will preview rotation handling. We expect that to be a much shorter preview.

[2019-05-18 23:52] MicahMcKittrick-MSFT commented on #31543
@BaileyJames99 thanks for the feedback! Glad to hear you found the content useful :)

Great work @msmimart

[2019-05-18 23:52] #31543 closed

[2019-05-18 23:53] MicahMcKittrick-MSFT commented on #31544
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-18 23:53] MicahMcKittrick-MSFT commented on #31545
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-18 23:54] MicahMcKittrick-MSFT commented on #31546
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-18 23:55] MicahMcKittrick-MSFT commented on #31548
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-19 01:08] joelpelley commented on #15622
Replied to the question.
+Cynthia as well as most of the added alias are no-reply.
@Cynthia<mailto:cynthn@microsoft.com>, can you help add me as author of B-series so I start getting these emails.

thanks,
Aysha
From: Joel Pelley <Joel.Pelley@microsoft.com>
Sent: Wednesday, May 15, 2019 9:50 AM
To: MicrosoftDocs/azure-docs <reply@reply.github.com>; MicrosoftDocs/azure-docs <azure-docs@noreply.gith

[2019-05-19 02:19] ketaanhshah commented on #31544
Thanks Micah, what I have found from Microsoft documentation is that the DECLARATIVE way only works with NON .NET CORE applications, so I hope the same NOTE is added to the GIT Hub documentation as well so folks like us don't keep wandering and spending time on something which is not supposed to work.

Here are the details:-

What I found from this article :- https://docs.microsoft.com/en-us/azure

[2019-05-19 03:10] Jero9999 opened #31550 "In Prerequisites the Install Azure CLI 2.0. link is wrong"
The link is https://review.docs.microsoft.com/cli/azure/install-azure-cli when it should be https://docs.microsoft.com/cli/azure/install-azure-cli

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87e2cd41-2a63-d083-22e0-cf5f75fb4b07
* Version Independent ID: e82a144d-f425-d6ed-9f7d-bd4b5f395e45
* Content: [Tutorial - Use

[2019-05-19 03:56] jjfrost commented on #31546
Cool, thanks Micah!  I should have mentioned that for #2 in my first comment, the command for the client encoding needed is:

SET CLIENT_ENCODING TO 'utf8';

This worked to solve the error I mentioned by running it before the /copy commands.

[2019-05-19 06:33] tutul2010 opened #31551 "output of stream-analysis is not storing to a blob storage"
Hi ,
I created a resources group with 1 event-Hub, 1 stream-analysis, 1 blob storage.
Then ,i  linked with output of stream-analysis to a blob storage for storing data.
I ran TelcoGenerator.exe  in cmd and stream-analysis and looked into blob storage nothing is storing to blob .
why any thing is not storing to blob?
I am running  TelcoGenerator.exe in cmd as ike "telcodatagen.exe 1000 0.2 2" and s

[2019-05-19 08:22] julesman101 commented on #20848
I too would like to reinforce the need to document the "east-west" behaviour of NSG's as described by ivanignatiev on Dec 18th 2018.   The "How Traffic Is Evaluated" section only covers North-South traffic, and for completeness should cover east-west traffic for VM1<->VM2 and maybe even VM1<->VM3.
Thanks.. JD

[2019-05-19 08:39] CHEEKATLAPRADEEP-MSFT commented on #31551
@tutul2010 Thanks for the question! We are investigating and will update you shortly.

[2019-05-19 08:39] SadiqhAhmed-MSFT commented on #31550
@Jero9999 Thanks for the feedback. We are looking into this and will get back to you shortly.

[2019-05-19 09:21] NileshGule opened #31552 "Spark unable to access https content in Kubernetes mode"
I am currently able to deploy Spark application to a Kubernetes cluster and run samples from spark code base as well as my own JARS.

One of the difficulty I have is with accessing `partfiles` from a folder in blobstorage which contains `ORC` files. This works fine with HDInsight where spark is able to read contents of the ORC part files.

Here is an example of the command I am able to successfull

[2019-05-19 09:42] rollandjb commented on #31535
Thank you!

[2019-05-19 10:16] annabarh commented on #30836
SPO Idle Timeout is a different feature. It controls how long a session stays alive after user became inactive. This feature controls how often users are prompted for credentials whether users are active in the session. They are complimentary but different features.

[2019-05-19 10:59] Neenisharma opened #31553 "how long does it take for "PHS" to take over from"AD FS""
I have a question on this important not - "Be aware that it will take some time for the password hashes to synchronize to Azure AD. This means that it may take up 3 hours for the synchronizations to complete and before you can start authenticating using the password hashes."

Follow Up question - When I already have PHS turned on and syncing password hashes does it still take about 3 hours as ment

[2019-05-19 11:57] rboucher commented on #31498
PR is merged.  Update should appear in the next 12 hours.

[2019-05-19 12:10] MGoedtel commented on #30845
@pho30 - I just pulled the logic to add/list solutions and ran a test to see if I could repro your issue and can confirm I am seeing the same behavior.  The Activity Log shows that it successfully enabled the solutions in the workspace, but when you validate via portal they don't appear and when you verify via Posh cmdlet Get-AzOperationalInsightsIntelligencePacks to see if they are enabled, it st

[2019-05-19 12:12] arkiaconsulting opened #31554 "SAS Definition secrets"
It looks like KeyVault references to SAS Definition secrets, in the context of a KeyVault managed storage account, are not resolved to secret value.
May it be due to the fact that such a secret uri does not have a specific version ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7feaa3d0-7233-a3cb-cb9b-a9a55b1f0d7a
* V

[2019-05-19 13:10] shashishailaj commented on #28378
@bit-shifts as per the update from the author mark above , an error reference is going to be released soon.

[2019-05-19 13:24] chetan-makvana opened #31561 "Deployment fails for Spring boot JAR"
Hi,

I tried to deploy spring boot application jar file using azure-webapp maven plugin. It deployed jar file azure web app for linux successfully.
Logs are also showing that spring boot application is started but when I tried to browse the url, it's throowing 502 error. In logs, it is showing the following message : "Waiting for response to warmup request for container imap-2_0"
Can somebody help

[2019-05-19 13:24] chetan-makvana opened #31562 "Deployment fails with 502 error"
Hi,

I tried to deploy spring boot application jar file using azure-webapp maven plugin. It deployed jar file azure web app for linux successfully.
Logs are also showing that spring boot application is started but when I tried to browse the url, it's throowing 502 error. In logs, it is showing the following message : "Waiting for response to warmup request for container imap-2_0"
Can somebody help

[2019-05-19 14:07] interfacemirror commented on #25107
I am also facing this issue. I get the error

{
    "errorCode": "InvalidTemplate",
    "message": "The function 'length' expects its parameter to be an array or a string. The provided value is of type 'Null'.",
    "failureType": "UserError",
    "target": "IterateCRMTables"
}

[2019-05-19 14:32] SadiqhAhmed-MSFT commented on #31552
@NileshGule Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-19 14:34] SadiqhAhmed-MSFT commented on #31553
@Neenisharma Thanks for the comment! We will investigate on this issue and get back to you soon.

[2019-05-19 14:36] SadiqhAhmed-MSFT commented on #31554
@arkiaconsulting Thanks for the comment! We will investigate on this issue and get back to you soon.

[2019-05-19 14:50] yokawasa commented on #30768
@mike-urnun-msft any update?

[2019-05-19 14:59] Zoltango commented on #31296
Hello Alberto,

Sorry for late responose - I was OOF.
Just posted the idea here: https://feedback.azure.com/forums/911455-azure-iot-central/suggestions/37685812-powerapps-get-device-telemetry-data-via-connecto

Thanks,
Zoltán

[2019-05-19 15:12] kevinblumenfeld opened #31566 "Date of article is 09/13/2017 yet Az cmdlets are used."
This was a tad confusing.  Most docs.microsoft.com articles reflect the last modified date.
Great content, however!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7dee2eb5-36a3-51a4-d251-bd04dafcdd72
* Version Independent ID: 3917ff8a-fc5c-a322-fff1-7bac71799525
* Content: [Perform operations on Azure Queue storage wit

[2019-05-19 15:53] asubmani opened #31567 "CEF mode defaults to local0 and not Local4"
In newer F5 devices, one cannot just select CEF in the F5 bigIQ page. The only option is "Common Event Format (ArcSight). This sends to local0 facility and not local4.

Also, would be great if you could add steps to use rsyslog in TCP mode. This is what most network appliance vendors (including F5) recommend.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-05-19 16:55] AjayKumar-MSFT commented on #27054
@zalenix, I have checked on this internally, as Ovidiu mentioned above 'Azure Key Vault support on devbox is not possible at the moment'. You may wish to leave your feedback on this on [Uservoice](https://feedback.azure.com/forums/169385-web-apps) for our product team to review.
We will close this out, but if you feel you need more information please just let us know.

[2019-05-19 16:55] #27054 closed

[2019-05-19 16:59] ryandcoates commented on #31449
Attempting to work on this one

[2019-05-19 17:05] MicahMcKittrick-MSFT commented on #31561
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-19 17:06] MicahMcKittrick-MSFT commented on #31562
Duplicate of #31561

[2019-05-19 17:06] #31562 closed

[2019-05-19 17:07] MicahMcKittrick-MSFT commented on #31566
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-19 17:08] MicahMcKittrick-MSFT commented on #31567
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-19 17:09] zerocool892 commented on #31450
Working on it

[2019-05-19 17:10] rachrobins commented on #31438
rachrobins working on this, write the docs writing day

[2019-05-19 17:22] emberstevens commented on #31425
Working on this.

[2019-05-19 17:26] KinshukSengupta commented on #26076
While attempting to take snapshot of /mnt/azmnt/code/Users/kisengup/DeepLab_Workspace/deeplab
Your total snapshot size exceeds the limit of 300.0 MB.
Please see http://aka.ms/aml-largefiles on how to work with large files.

THis issue is still not resolved. How to resolve it?

[2019-05-19 17:26] chetan-makvana commented on #31561
Please let me know if you need more information. Deployment is shown successful in command prompt after running this command 'mvn azure-webspp:deploy', but when I browse the website url, it is throwing 502 error. Log stream window is showing this error -: "Waiting for response to warmup request for container XXXX". It is also showing that tomcat embedded container is successfully started.

[2019-05-19 17:35] ryandcoates commented on #31436
Starting to work on this

[2019-05-19 17:36] rachrobins commented on #31437
rachrobins working on this

[2019-05-19 17:38] rachrobins commented on #31438
All updates done

[2019-05-19 17:48] ryandcoates commented on #31449
PR submitted
https://github.com/MicrosoftDocs/azure-docs/pull/31571

[2019-05-19 17:49] ryandcoates commented on #31436
PR submitted
https://github.com/MicrosoftDocs/azure-docs/pull/31580

[2019-05-19 17:51] ryandcoates commented on #31439
Started to work on this

[2019-05-19 18:04] rachrobins commented on #31435
rachrobins working on this, write the docs writing day

[2019-05-19 18:13] erickson-doug opened #31585 "[WTD] Make article more gender neutral and use more diverse names in example"
[WTD] Write the Docs --- can we use more inclusive names and make this article more gender-neutral?

[2019-05-19 18:16] AjayKumar-MSFT commented on #31185
@dnyaneshlb, Thanks for sharing additional details! Just to clarify, are you leveraging Staging Environments with Local Cache? while I'm taking a look into this further.

[2019-05-19 18:17] rachrobins commented on #31433
rachrobins working on this, write the docs writing day

[2019-05-19 18:17] zerocool892 commented on #31450
service-bus-auto-forwarding.md Line #44

the screen shot references the name

[2019-05-19 18:45] zerocool892 commented on #31450
404 error for includes link
 iot-azure-and-iot.md Line #31

[2019-05-19 18:49] emberstevens commented on #31425
Complete--gender neutral language has been suggested for all items.

[2019-05-19 18:50] emberstevens commented on #31428
Working on this.

[2019-05-19 18:51] ryandcoates commented on #31439
- [x] dynamic-packaging-overview.md Line #91
- [x] live-events-outputs-concept.md Line #37
- [x] live-events-outputs-concept.md Line #51
- [x] live-event-types-comparison.md Line #39
- [x] media-encoder-standard-formats.md Line #79
- [x] media-encoder-standard-formats.md Line #98
- [x] media-encoder-standard-formats.md Line #99
- [x]  media-services-compare-encoders.md Line #93
- [x] media-service

[2019-05-19 18:53] ryandcoates commented on #31439
PR submitted
https://github.com/MicrosoftDocs/azure-docs/pull/31627

[2019-05-19 18:54] emberstevens commented on #31428
Completed gender neutral language pull requests for all items.

[2019-05-19 18:56] emberstevens commented on #31429
Working on this.

[2019-05-19 19:07] rachrobins commented on #31432
rachrobins working on this, write the docs writing day

[2019-05-19 19:08] emberstevens commented on #31429
Complete--all items have gender neutral pull requests.

[2019-05-19 19:10] rachrobins commented on #31434
rachrobins working on this, write the docs writing day

[2019-05-19 19:16] emberstevens commented on #31430
Working on this.

[2019-05-19 19:21] #30845 closed

[2019-05-19 19:22] emberstevens commented on #31430
PR for all items complete.

[2019-05-19 19:24] waltlp opened #31656 "To update the supported AKS versions"
Kubernetes version 1.12.5 is no longer available from Azure CLI neither the portal. Please update the article to note the supported versions and upgrade paths.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec484163-5d73-af3a-3d7b-9e0d421d2824
* Version Independent ID: 42da7aed-a33d-e331-fb7f-4fb4b40e5813
* Content: [S

[2019-05-19 19:58] rachrobins commented on #31447
rachrobins working on this, write the docs writing day

[2019-05-19 20:06] rachrobins commented on #31446
rachrobins working on this, write the docs writing day

role-assignments-external-users.md Line #57
  role-assignments-external-users.md Line #66
  role-definitions.md Line #145
  role-definitions.md Line #147

[2019-05-19 20:11] rachrobins commented on #31445
rachrobins working on this, write the docs writing day

[2019-05-19 20:13] ryandcoates commented on #31443
Starting on this

[2019-05-19 20:18] rachrobins commented on #31444
rachrobins working on this, write the docs writing day

[2019-05-19 20:27] rachrobins commented on #31442
rachrobins working on this, write the docs writing day

[2019-05-19 20:31] ryandcoates commented on #31443
- [x] virtual-machines-windows-classic-ps-sql-report.md Line #79
- [x] install-openframe-azure.md Line #1478

The above did not refer to gender terms

PR submitted
https://github.com/MicrosoftDocs/azure-docs/pull/31671

[2019-05-19 20:36] rachrobins commented on #31441
rachrobins working on this, write the docs writing day

[2019-05-19 20:44] ryandcoates commented on #31444
Started work on this

[2019-05-19 20:46] mattbriggs commented on #31440
Started work

[2019-05-19 21:40] btardif commented on #25739
Sorry guys finally got a chance to look into this.
For the authentication question from @dcbrown16 believe @azooinmyluggage or @pulkitaggarwl should be able to help.

As for the question from @hawkwind2 the answer depends on how sophisticated you want to get.

In general if your app consists of a fronted and back-end web API it would be a best practice to split the packages.

Your front end if it'

[2019-05-19 21:51] igormusinov commented on #12702
Will you add this feature ?

[2019-05-19 22:47] amtandon opened #31680 "BlobTriggerAttribute.cs link is broken"
Lint to documentataion for BlobTriggerAttribute.cs is broken. It points to https://github.com/Azure/azure-webjobs-sdk/blob/master/src/Microsoft.Azure.WebJobs/BlobTriggerAttribute.cs which gives a 404

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fff7ae2f-4f02-7ed9-c2ed-a2715e407975
* Version Independent ID: 542016c1-3

[2019-05-19 23:03] aws-scripting-guy opened #31682 "Missing powershell runtime in FUNCTIONS_WORKER_RUNTIME"
Missing powershell in a list of valid runtime values under FUNCTIONS_WORKER_RUNTIME variable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18aa54fd-3aa1-37c5-925c-51a0195b1030
* Version Independent ID: 60198016-1ea9-e7ae-b00b-2c665d5ad8ca
* Content: [App settings reference for Azure Functions](https://docs.microsoft.

[2019-05-19 23:03] biocatch-providers opened #31683 "it is not clear if the VM price for RI is from the list price or base on the EA discount, let's say i have a VM that the list price is $500 per month but my EA price is $400 per month will the RI discount be for the list price or from the EA price ?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-05-19 23:10] cogran opened #31684 "Metric Polling Periods"
It is unclear on what the polling periods are on each of the metrics and I find it that it would highly unlikely that each of these would be identical in polling.
Is it possible to add a polling period column to better get an idea on the specificity of the metrics reporting?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-05-19 23:33] igormusinov opened #31685 "Execute a command with arguments (feature)"
When ACI will be able to execute commands with arguments ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 227e2c2f-2305-38fc-16db-1f9a760e4caf
* Version Independent ID: fc6d1fd0-3918-1822-751d-92f17b78952b
* Content: [Execute commands in running containers in Azure Container Instances](https://docs.microsoft.com/en-us/

[2019-05-19 23:35] StarkCaptain opened #31686 "Multiple Application Insights"
What if you have more than one Application Insights, how would you go about using the API integration then?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05ed9bd2-21ae-6355-615a-1bcd3a4db313
* Version Independent ID: 8c764ad2-714a-9e88-a1d2-c8290455bcb6
* Content: [Monitor Azure services and applications using Grafana

[2019-05-19 23:37] danielserver86 opened #31687 "import json"
Json library is missing in the example provided, import json should be included.
Trial apis doesn't work:
api returns [ “statusCode”: 404, “message”: “Resource not found”] error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 959b170f-9726-71e4-dce3-d48604973e48
* Version Independent ID: 26d56fd9-1807-e398-d5b3-666bbe46

[2019-05-19 23:38] igormusinov opened #31688 "exec /bin/sh not working"
I've create container from this Dockerfile
[code]
I can see this container running. But exec is not working
[code]
It returns nothing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 227e2c2f-2305-38fc-16db-1f9a760e4caf
* Version Independent ID: fc6d1fd0-3918-1822-751d-92f17b78952b
* Content: [Execute commands in runnin

[2019-05-19 23:48] igormusinov opened #31689 "Is alpine:3.6 really cached ?"
I've tried create a container with ubuntu:18.04 and alpine:3.6. Creation time was 35s for both images. Is alpine:3.6 really cached?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab165b0d-5cb2-45dd-8e67-3462210e2815
* Version Independent ID: 7f2bf4ef-5354-ed9d-cd19-4bcb6b462d0f
* Content: [Troubleshooting Azure Contain

[2019-05-19 23:58] kodubeau commented on #25799
The GitHub project referenced does have the correct files mentioned. However, the content of the files is incorrect. The content of unified.cshtml does not match the content listed in this article.

[2019-05-19 23:58] igormusinov opened #31690 "Changing --command-line requires container group delete?"
I updated the command of the running container. But it spent 35s to do this command "`/bin/sh -c 'echo Hello World'" . The group was deployed as new , right ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df5263d2-e8da-ad3e-efcc-03c0a1088849
* Version Independent ID: bbb97f05-ca9a-1558-a95e-bca1fe610752
* Content: [Up

[2019-05-20 00:23] MicahMcKittrick-MSFT commented on #31680
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-20 00:24] MicahMcKittrick-MSFT commented on #31682
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-20 00:24] MicahMcKittrick-MSFT commented on #31684
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-20 00:24] MicahMcKittrick-MSFT commented on #31686
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-20 00:25] MicahMcKittrick-MSFT commented on #31687
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-20 00:26] MicahMcKittrick-MSFT commented on #31683
@biocatch-providers please provide us with the link to the documentation you are following so we can better assist.

[2019-05-20 00:27] MicahMcKittrick-MSFT commented on #31656
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

CC @iainfoulds

[2019-05-20 00:28] MicahMcKittrick-MSFT commented on #31685
Thanks for the question! We are investigating and will update you shortly.

#31685
#31688
#31689
#31690

[2019-05-20 00:28] MicahMcKittrick-MSFT commented on #31688
Thanks for the feedback! We are currently investigating and will update you shortly.

#31685
#31688
#31689
#31690

[2019-05-20 00:29] MicahMcKittrick-MSFT commented on #31689
Thanks for the question! We are investigating and will update you shortly.

#31685
#31688
#31689
#31690

[2019-05-20 00:29] MicahMcKittrick-MSFT commented on #31690
Thanks for the feedback! We are currently investigating and will update you shortly.

#31685
#31688
#31689
#31690

[2019-05-20 01:06] Grace-MacJones-MSFT commented on #31312
@lopezbertoni after investigating this issue, we have removed the demo link because it belongs to a third party site which we have no control over.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-20 01:06] #31312 closed

[2019-05-20 01:37] paulbouwer commented on #31537
@ams0 - this will be a great addition to our Istio guidance.

I think we should add this additional configuration guidance to the Istio installation docs as a note for those that have PSP enabled.

We should have the yaml from the gist available somewhere too. Just not sure where makes sense - @iainfoulds do you have some thoughts on this?

Do we have a GitHub repo that we can use as a source for

[2019-05-20 02:05] renrous commented on #25638
hello, I am having the same problem, I have raised the Active Learning example https://github.com/microsoft/BotBuilder-Samples/tree/master/experimental/qnamaker-activelearning/csharp_dotnetcore and followed the steps for its implementation to discard any problem in my code, but I have not managed to work, I can not get the bot appear sugenrencias for example to "Surface Pro 4", not in my KB appear

[2019-05-20 02:24] dcbrown16 commented on #28613
@DixitArora-MSFT reopening for follow-up.
@miaojiang there is a somewhat confusing related UI area that it would also be nice to address, here or in another document.
Under Products > (select one) > Subscriptions, we have both "Add subscribers" and "Add subscription" buttons, and the "Add subscription" button lets you specify a user in the same way as the path addressed earlier in this thread.
Are

[2019-05-20 02:38] dcbrown16 opened #31691 "Where in the developer portal are the other scope subscriptions?"
My profile in the developer portal appears to show only the product-scope subscriptions. Can I get the subscriptions for single APIs or all APIs from the dev portal somewhere?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 896691fb-064a-eaf8-f71f-53200149b48a
* Version Independent ID: ff3e18ed-6d13-6fac-7b6c-f78f47b0f7

[2019-05-20 02:39] kazshi commented on #31469
@SadiqhAhmed-MSFT I found the Usage page - Developer portal > ADMINISTRATOR > MANAGE > Analytics > Usage.
Closing.

[2019-05-20 02:39] #31469 closed

[2019-05-20 02:43] DixitArora-MSFT commented on #31380
@jonlanceley Common causes of startup issues like 502.5 (Process Failure) is listed below: 

- The application process start application process failed to start. 
- Started but then stopped. 
- The application started but failed to listen on the configured port. 

For enabling stdlogs, follow this :

![image](https://user-images.githubusercontent.com/46984568/57993392-576f1b00-7ad6-11e9-8e77-4cc55

[2019-05-20 02:43] KalyanChanumolu-MSFT commented on #31173
@Saphirim Its been a while we heard from you.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion. 

[2019-05-20 02:43] #31173 closed

[2019-05-20 02:48] DixitArora-MSFT commented on #31375
@Rosewood99 I have assigned this to content author to review and update as appropriate.

[2019-05-20 02:49] KalyanChanumolu-MSFT commented on #31182
@Waterfox83 Thank you for the feedback.
This issue is being assigned to the content author to evaluate and update as appropriate.

[2019-05-20 02:54] DixitArora-MSFT commented on #31418
@juanren Use az account set with the subscription ID or name you want to switch to.

az account set --subscription "My Demos"

For more information , follow these doc examples.

https://docs.microsoft.com/en-us/cli/azure/account?view=azure-cli-latest#az-account-set
https://docs.microsoft.com/en-us/cli/azure/manage-azure-subscriptions-azure-cli?view=azure-cli-latest#change-the-active-subscription

[2019-05-20 03:00] AshokPeddakotla-MSFT commented on #31691
@dcbrown16 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-20 03:38] kartee87 commented on #31369
Scenario:

Trying to use App registration option in Azure AD to authenticate the Azure blob by following the below link
https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-app

but when using the URI in the code, it give 401 error

[2019-05-20 03:45] VikasPullagura-MSFT commented on #31168
@blueelvis Is there any update.

[2019-05-20 03:50] supermistag opened #31693 "Errata after going to public release"
Remove [Must exist in the same region as the public IP addresses you'll assign addresses from the range. Prefix is currently is preview in West Central US, West US, West US 2, Central US, North Europe, West Europe, and Southeast Asia.]

Fix - [Adding IP addresses]
Now done by selecting the Public IP Prefix -&gt; Overview -&gt;+ Add IP address

Remove references to [public ip address prefixes] in t

[2019-05-20 03:58] ManojReddy-MSFT commented on #30437
@netapp-bcammett I have received an update from the product team. Managed Identities are avialble for Gov tenants as well at the time of creation. The UI will be updated and will be pushed with other changes before the end of this month.

Using CLI you can enable them even now. I hope this helps.

[2019-05-20 03:59] ManojReddy-MSFT commented on #31078
@TechTrooper We have not heard from you in a while.We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-05-20 03:59] ManojReddy-MSFT commented on #31128
@DaddyBell We have not heard from you in a while.We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-05-20 03:59] #31128 closed

[2019-05-20 04:00] ManojReddy-MSFT commented on #31242
@seantleonard  We have not heard from you in a while.We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-05-20 04:00] #31242 closed

[2019-05-20 04:00] ManojReddy-MSFT commented on #31272
@frobnitzz We have not heard from you in a while.We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-05-20 04:00] #31272 closed

[2019-05-20 04:11] RohitMungi-MSFT commented on #31332
@zhangjianxing It looks like the image is behind a CDN so it is unable to load the image in the URL. Please use a link that contains reference to the direct image like [this](http://images.newindianexpress.com/uploads/user/imagelibrary/2019/3/27/w900X450/K_L_Rahul_PTI.jpg).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT

[2019-05-20 04:11] #31332 closed

[2019-05-20 04:24] frehnejc opened #31694 "Minimum version required for Hybrid-Joined"
After hunting around including looking at this document I realised I need 1804 to use SSPR on HubridAADJ devices, can the Limitations section be updated, see https://techcommunity.microsoft.com/t5/Azure-Active-Directory-Identity/Reset-passwords-from-all-the-versions-of-Windows-important-to/ba-p/265978.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-05-20 04:31] SubhashVasarapu-MSFT commented on #31693
@supermistag , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-05-20 04:35] angoyal-msft commented on #31088
@EstebanSmits Its been a while we heard from you.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-20 04:35] #31088 closed

[2019-05-20 04:52] ManojReddy-MSFT commented on #31334
@marcelotpcosta I am assigning this to the author to validate if IIS 10 is supported with the product team and update the doc accordingly.

[2019-05-20 04:59] jakaruna-MSFT commented on #31155
@msfcolombo I will close this out for now. If you need additional help please mention me in the comment.

[2019-05-20 04:59] #31155 closed

[2019-05-20 05:06] #31308 closed

[2019-05-20 05:06] #31324 closed

[2019-05-20 05:07] #31355 closed

[2019-05-20 05:08] CHEEKATLAPRADEEP-MSFT commented on #31358
@blueelvis We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-20 05:08] #31358 closed

[2019-05-20 05:09] ram-msft commented on #31357
Thanks @MayMSFT .We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-20 05:09] #31357 closed

[2019-05-20 05:23] shashishailaj commented on #31694
@frehnejc Thank you for pointing that out. The article does mention about windows 10 April 2018 update which is windows 10 v1803 update . Are you referring to that or in your case you were only able to use the feature after updating to 1804 version specifically ?

[2019-05-20 05:32] RohitMungi-MSFT commented on #31258
@artturij We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-20 05:32] #31258 closed

[2019-05-20 05:39] KrishnaG-MSFT commented on #31270
@antgonmir At this point it appears that there's no edits or updates needed for the documentation. Closing this issue for now. If there are further questions regarding this matter or questions or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-05-20 05:39] #31270 closed

[2019-05-20 05:40] cblomart commented on #30836
Thanks,

it a bit clearer to me know.

One thing that led me to confusion about sign in frequency is the mention of a rolling window (default is a rolling window of 90 days).
* There is no indication on how this window rolls.
* As the sign in frequency setting is purely a time frame (i.e. 1 day), it was not clear if the notion of rolling window stays.

Cédric

PS: i would have prefered to have thi

[2019-05-20 05:43] abshamsft commented on #31283
Adding @vinynigam , the new PM for Network Performance Monitor, to look into this.

[2019-05-20 05:51] CHEEKATLAPRADEEP-MSFT commented on #31509
@pugillum When you click on the query, it gives the default query to understand the query pattern.

![image](https://user-images.githubusercontent.com/44426401/57998758-6f539880-7af0-11e9-80e7-ed0c405665dc.png)

As mentioned in the document, “you can run the sample query by replacing the placeholders with the job **input** and **output** aliases”.

![image](https://user-images.githubusercontent.co

[2019-05-20 05:55] RohitMungi-MSFT commented on #31536
@JeanCollas The translation in this [case ](https://docs.microsoft.com/en-us/azure/cognitive-services/Translator/reference/v3-0-translate?tabs=curl#translate-to-multiple-languages) will translate your text in english to two other languages and return the output of them separately in JSON. So, it will count as characters translated for each of the language for your billing i.e 100 characters each f

[2019-05-20 05:57] KrishnaG-MSFT commented on #31472
@georgewallace Thanks for your quick response. 👍 Assigning this issue to you.

[2019-05-20 06:03] romankiss commented on #31378
Hi Reza,

You are right. The problem has been on my mqtt client side, I apologize for that. It's working well.

The _CleanSession = False_ enables to persist a subscription on the topic for C2D messaging on the Azure IoT Hub. All outstanding messages are dequeued when the mqtt client is **again connected** to the Azure IoT Hub.

Thanks
Roman

[2019-05-20 06:03] #31378 closed

[2019-05-20 06:05] SubhashVasarapu-MSFT commented on #30407
@vhorne, Thanks for the clarification. @chrisdoofer , We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-05-20 06:05] #30407 closed

[2019-05-20 06:13] KetanChawda-MSFT commented on #31259
@slugerrist Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-20 06:13] #31259 closed

[2019-05-20 06:14] KetanChawda-MSFT commented on #31289
@dalemyers We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-20 06:14] #31289 closed

[2019-05-20 06:17] RohitMungi-MSFT commented on #31473
@CortalUX The limit of 1000 speaker verification/identification profiles is per subscription.
![image](https://user-images.githubusercontent.com/46958063/57999975-f60a7480-7af4-11e9-82c8-cd69eef6efe5.png)
We hope this helps you plan accordingly while creating the profiles.

[2019-05-20 06:18] oracle000 commented on #31278
@Dave76 Hi I'm trying to your sample but apparently, I have an error during runtime

Here is my Interface declaration

namespace Microsoft.Azure.Functions.Samples.DependencyInjectionScopes.Services
{
    public class TimeStamps : ITimeStamps
    {
        public DateTime Now()
        {
            return DateTime.Now;
        }
    }

    public interface ITimeStamps
    {
        DateTime Now();

[2019-05-20 06:20] PramodValavala-MSFT commented on #31096
@ToMakeSense Since this feature (slots) is still in preview, the case could be that its not available in all regions. There used be a warning while enabling slots before but the UI has changed since.

![la-funk-slots](https://user-images.githubusercontent.com/43602528/57982969-f7428f80-7a69-11e9-8f35-7fc0e0a33cee.png)

There is already an issue that tracks this integration - Azure/azure-functions-

[2019-05-20 06:29] swinarko commented on #31539
We already install Access Database Engine 2016, which is an Excel runtime lib, on SSIS IR to support Excel connectors.  If your package uses similar functionalities as those in Excel connectors, then you need not install additional libs, otherwise you need to do so via custom setup.

[2019-05-20 06:31] #31096 closed

[2019-05-20 06:34] angoyal-msft commented on #31189
@Ayanmullick Thanks for your feedback. I have assigned this issue to the content author to help you further.
@stevestein Could you please look at this issue.

[2019-05-20 06:38] frobnitzz opened #31696 "Typo"
Hi,

Under the external users section: "That contact can share with others users in the external organization"

other*

Thanks,
John

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06201faf-0037-3647-4e91-bb0af80d4812
* Version Independent ID: 1b397d76-ecfe-046e-a4c4-0fe5293bceb3
* Content: [What is Azure AD entitlement

[2019-05-20 06:39] CHEEKATLAPRADEEP-MSFT commented on #31461
@rworbis For Azure Data Lake Gen1 it is shown as "Diagnostic settings".

![image](https://user-images.githubusercontent.com/44426401/58000186-aaa49600-7af5-11e9-840f-2d34dfed3a8f.png)

For Azure Data Lake Gen2 it is shown as "Diagnostic settings (classic)".

![image](https://user-images.githubusercontent.com/44426401/58000266-e0e21580-7af5-11e9-8a5f-445c6baa0b9a.png)

**Note:** For Azure Data Lake