[2019-03-05 01:56] henslecd commented on #22223
We already had all profiles in place when we created the app in Azure. I
think something must have broken recently if it used to work.

On Mon, Mar 4, 2019, 6:00 PM fabienturcotte <notifications@github.com>
wrote:

[2019-03-05 01:56] MarileeTurscak-MSFT commented on #26079
@FabianGCZ  I am looking into this with the product team and will keep you posted.

[2019-03-05 01:56] fhryo-msft commented on #13195
Yes, we have the plan to on-board storage logs to Azure Monitor. Once it's ready, you should be able to configure settings via ARM template, reference: https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostic-logs-stream-template. It's about to public preview in H2CY2019.

@nkiest to comment on ARM template support of diagnostic settings.

[2019-03-05 01:57] psatyaa commented on #26206
@BharathNimmala-MSFT . I can see this problem again, I am not able to save my secrets as Save Button is not enabled.

Here are the steps to re-create.
1. Create a DevTest Lab.
2. Go to Secrets to create a secret. I have created one secret and now look for Save button, its  disabled.
3. You try to come out of the blade, the data is discarded message will appear since it is not saved.

Let me know i

[2019-03-05 01:57] jlee-vi opened #26229 "Two Questions - Firewall + PTA"
Hi Team,

Just a couple of quick questions:

1) Is this truly accurate? "without opening a firewall connection"
   It appears true that no #inbound# firewall rules are required, but I think it may be a bit dangerous to assume that no outbound firewall changes will be required. I've worked in lots of places where outbound is blocked and/or only allowed from a proxy. Therefore firewall changes could

[2019-03-05 01:59] psatyaa opened #26230 "Save Button Disable in Dev Test Labs Secret Screen"
@psatyaa Thank you , will go ahead and close this issue for now. However if you see issue reoccurring please tag me in your reply and we can take this forward .

_Originally posted by @BharathNimmala-MSFT in https://github.com/MicrosoftDocs/azure-docs/issues/26206#issuecomment-469425464_

@BharathNimmala-MSFT . I can see this problem again, I am not able to save my secrets as Save Button is not en

[2019-03-05 02:02] FabianGCZ commented on #26079
Thanks @marilee

[2019-03-05 02:02] FabianGCZ commented on #26079
Thanks @marilee

[2019-03-05 02:03] aquibqureshi26 commented on #26106
Hi Travis, there is no where mentioned that Always on uses standard load balancer only. I've performed lot of setup of always on and used basic load balancer only and it worked fine.

[2019-03-05 02:07] FabianGCZ commented on #26079
Thanks @MarileeTurscak-MSFT for looking into this. You can reach me out at v-fagon@microsoft.com

[2019-03-05 02:13] cynthn commented on #19971
@tsarna thanks for the feedback! It was a cut-and-paste error on my part when I moved the A8-A11 over to the previous generation list. I've removed the sentence. Unfortunately, I don't have any additional information to add to the table.

#please-close

[2019-03-05 02:16] vmaruhpe opened #26232 "Is there a sample to create app using custom container ?"
Would love to see a walkthrough of creating apps using custom container.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cbc6605-6ac4-1b23-17c2-10dcb076a42b
* Version Independent ID: fac08384-974c-8407-167c-833c4d4dec64
* Content: [Create Python app on Linux - Azure App Service](https://docs.microsoft.com/en-us/azure/a

[2019-03-05 02:28] CHEEKATLAPRADEEP-MSFT commented on #26197
@ToddChitt Thank you for your interest in Azure products and services. We are investigating and will get back to you soon.

[2019-03-05 02:29] CHEEKATLAPRADEEP-MSFT commented on #26202
@dlenin Thank you for your interest in Azure products and services. We are investigating and will get back to you soon.

[2019-03-05 02:30] CHEEKATLAPRADEEP-MSFT commented on #26203
@juchom Thank you for your interest in Azure products and services. We are investigating and will get back to you soon.

[2019-03-05 02:32] learn2manage opened #26233 "dockerfile Step 3 failed"
Please disregard this comment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea9129e2-9a79-6877-8566-ab6ff480c9bf
* Version Independent ID: 65e2e873-996f-068b-0aaf-2e5622196b16
* Content: [Tutorial - Prepare container image for Azure Container Instances](https://docs.microsoft.com/en-us/azure/container-instances/conta

[2019-03-05 02:32] xiopeter3345 opened #26234 "Spark and IO cache services need to restart also"
After adding additional storage, spark service and IO cache service need to restart also. Otherwise, the added storage could NOT be used by these two services.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5be42fb6-e850-0990-de22-409392cb9e87
* Version Independent ID: 5339ee18-6c77-1be3-e5ca-5cfd074a834d
* Content: [A

[2019-03-05 02:35] psatyaa commented on #26230
May be a New Feature needed :
Also I have noticed that the VM created using Formula in DevTest Labs has new Resource Group generated at Runtime. I want to control the VM created using Formula base in the same Resource Group where DeTestLab is created. There is an option to move resources to existing resource Group but it does not have the one where DevTest Lab is created.

[2019-03-05 02:37] #26233 closed

[2019-03-05 02:42] CHEEKATLAPRADEEP-MSFT commented on #26215
@RealNoArms Regarding service general availability, I would suggest to keep an eye on [Azure updates](https://azure.microsoft.com/en-us/updates/).

Azure updates provide information about important Azure product updates, roadmap, and announcements.

[2019-03-05 02:44] johnwildes commented on #25767
Email sent

[2019-03-05 02:46] CHEEKATLAPRADEEP-MSFT commented on #26217
@KevinXTian Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2019-03-05 02:47] CHEEKATLAPRADEEP-MSFT commented on #26223
@nickwalkmsft Thank you for your interest in Azure products and services. We are investigating and will get back to you soon.

[2019-03-05 02:52] YutongTie-MSFT commented on #25918
@taranais
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-03-05 02:52] #25918 closed

[2019-03-05 02:55] CHEEKATLAPRADEEP-MSFT commented on #26224
@AE-MS Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-03-05 02:57] CHEEKATLAPRADEEP-MSFT commented on #26226
@aszalacinski Thank you for your interest in Azure products and services. We are investigating and will get back to you soon.

[2019-03-05 02:59] CHEEKATLAPRADEEP-MSFT commented on #26228
@imeya Thank you for your interest in Azure products and services. We are investigating and will get back to you soon.

[2019-03-05 03:02] CHEEKATLAPRADEEP-MSFT commented on #26229
@jlee-vi Thank you for your interest in Azure products and services. We are investigating and will get back to you soon.

[2019-03-05 03:03] CHEEKATLAPRADEEP-MSFT commented on #26232
@vmaruhpe Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-03-05 03:05] CHEEKATLAPRADEEP-MSFT commented on #26234
@xiopeter3345  Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-03-05 03:07] dcbrown16 opened #26235 "Log version 2.0"
This doc states that only 1.0 is supported, but the Portal currently allows you to select 2.0 and that format is documented in what appears to be a more recent document below.
https://docs.microsoft.com/en-us/rest/api/storageservices/storage-analytics-log-format
Can you check if an update is required for the statement below?
"The version of the log format. Currently the only supported value is 1.0

[2019-03-05 03:09] g0pinath commented on #26124
Please close this thread, it was use error. I changed the service name to azure-load-balancer as listed in the article and no more errors.

[2019-03-05 03:10] CHEEKATLAPRADEEP-MSFT commented on #26230
@psatyaa Thank you for your interest in Azure products and services. We are investigating and will get back to you soon.

[2019-03-05 03:12] CHEEKATLAPRADEEP-MSFT commented on #26235
@dcbrown16  Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-03-05 03:19] aquibqureshi26 commented on #26106
Hi Travis,
Thanks for the reply.
But the github issue which I opened. the FAQs states "The following resources use Basic Load Balancers which means you cannot communicate to them across Global VNet Peering"
It should be updated. As it sounds misleading. by reading above sentence from FAQs I assume that Always on only uses basic load balancer hence I was confused.

[2019-03-05 03:22] Alberto-Vega-MSFT commented on #26018
@mattmgroom Any updates? Were you able to resolve this issue?

[2019-03-05 03:23] Alberto-Vega-MSFT commented on #25960
@LMtx Thanks for the update!

[2019-03-05 03:34] Alberto-Vega-MSFT commented on #25784
@rangv This tutorial needs an update. I upgraded npm like customer suggested  and it worked well for me though. I used node v8.11.1 and npm v1.4.21 It seems like we need to re evaluate all the versions for dependencies

[2019-03-05 03:41] Ruizean opened #26236 "Outdated"
This document seems outdated.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb39c8bf-2709-c59d-94f8-6db76d21bcfb
* Version Independent ID: f7122c2c-ef68-95b6-2273-edbc4bb89464
* Content: [Tutorial: Azure Active Directory integration with Atlassian Cloud](https://docs.microsoft.com/en-au/azure/active-directory/saas-app

[2019-03-05 03:53] anrothMSFT commented on #25292
(please close- handled offline. was related to tenant level permissions)

[2019-03-05 03:55] PramodValavala-MSFT commented on #25912
@imeya Just following up here... Hope my previous comment clears things up.

[2019-03-05 04:02] sujayvsarma opened #26237 "Can Managed Identities be used to make a cross-tenant call?"
Is it possible to use Managed Identities (as documented [here](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory/managed-identities-azure-resources/overview.md)) to make a cross-tenant call?

For example, can I use it to secure a multi-tenant app that then uses the Managed Identity to read/control resources hosted in another tenant?

[2019-03-05 04:10] sujayvsarma opened #26238 "Azure AD/Graph/ARM documentation is out of sync"
Scenario:
Multi-tenant web app, hosted within Azure (as a Web App -- App Service). It allows www users to login to it to view and manage resources on Azure (eg: VMs). Users don't belong to its hosting-tenant -- so it is a multi-tenant app. And not all of its users would be on the Azure AD (organizational users with MSAs for instance). So it needs to allow Azure AD + MSA.

Problem:
ADAL does not di

[2019-03-05 04:10] KetanChawda-MSFT commented on #25898
@haoxin Since there is no doc update required at the moment, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-05 04:10] #25898 closed

[2019-03-05 04:11] shashishailaj commented on #26236
@Ruizean Thank you for your feedback . We will investigate and update further.

[2019-03-05 04:12] shashishailaj commented on #26227
@Rahat-3858 Thank you for your post . Please let us know in case you have any specific request as the issue details do not clarify much . If you have a specific request about some documentation , please provide the link for the document so that we can help you better.

Thank you.

[2019-03-05 04:12] KetanChawda-MSFT commented on #26030
@blueelvis Checking in to see if the above post helped answering your question.

[2019-03-05 04:15] KetanChawda-MSFT commented on #26034
@scotthannen Checking in to see if the above post helped answering your question.

[2019-03-05 04:29] shashishailaj commented on #26237
@sujayvsarma Thank you for your query . We will investigate and update further.

[2019-03-05 04:30] CastleArg commented on #25434
@KetanChawda-MSFT
I'm still having an issue here after running funcpack to treeshake and package my code.
I'm still getting the blobtrigger are not registered error.  Can someone point me to what files are actually produced and where by func extensions install command so I can make sure they're getting into my final package?

[2019-03-05 04:31] SumanthMarigowda-MSFT commented on #25988
@SteveParson Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-05 04:32] neeleshray commented on #26237
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bd6bdc9-b545-f273-dc80-eeb69107d919
* Version Independent ID: dbbbadd6-f533-33e3-1c1f-7cbc889b20b7
* Content: [Managed identities for Azure resources](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/overview)
* Content Source: [ar

[2019-03-05 04:36] KetanChawda-MSFT commented on #25434
@CastleArg  Can you share the screenshot of your Build and Release pipeline from Azure Devops with arguments ?

[2019-03-05 04:37] #26124 closed

[2019-03-05 04:38] jakaruna-MSFT commented on #26000
@minuz I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-03-05 04:38] #26000 closed

[2019-03-05 05:01] ChiragMishra-MSFT commented on #25828
@juchom I will now proceed to close this issue. Feel free to still comment if you have any queries.

[2019-03-05 05:01] #25828 closed

[2019-03-05 05:03] jakaruna-MSFT commented on #26233
Thanks for reaching out. Feel free to reach out to us if you have any other issues.

[2019-03-05 05:13] KetanChawda-MSFT commented on #26188
@donquijotedelamancha In a maven project, all the dependencies are handled by pom.xml. We can use either maven repositories to download the dependencies or you can add it from your local directory. The following can be done install jar to local maven repository.

References:
http://maven.apache.org/general.html#importing-jars
https://maven.apache.org/guides/mini/guide-3rd-party-jars-local.html
[co

[2019-03-05 05:16] Raviafkumar commented on #26190
Hi , Thanks for your response .  I am using Azure sql as destination . The setting
"Allow access to azure services" is on  for  Azure sql db . I am not sure how to make  this setting on for databricks instance . could you please help me in this .

[2019-03-05 05:19] crk2904 commented on #26182
Hi @MarileeTurscak-MSFT We didn't get any proper documentation for this,  but when we create the application in Azure active directory, there we need to set some permission in order to access some APIs. Here we are using Graph API to access OneDrive resources, also we want to have user impersonation mechanism, so that only admin user can view and retrieve another normal user data

[2019-03-05 05:24] seantleonard opened #26239 "String comparison: substring Missing text"
The SQL example on the row titled "String comparison: substring" shows:
SELECT * FROM dependencies WHERE like "%bcd%"
when it should show:
SELECT * FROM dependencies WHERE name like "%bcd%"
to properly map to the Azure Monitor log query:
dependencies
| where name contains "bcd"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-03-05 05:25] Nano1201 opened #26240 "How to identify authors having same name when evaluating?"
As title, I found that AA.AuId (with same AA.AuN) are all different in each entity, although I have already made sure that some of them refer to the same person, in this case, how can I identify person having same name when evaluating?

for example :
https://api.labs.cognitive.microsoft.com/academic/v1.0/evaluate?expr=Composite(AA.AuN=='杭學鳴')&model=latest&count=100&offset=0&attributes=Id,Ti,AA.AuN

[2019-03-05 05:29] RohitMungi-MSFT commented on #26008
@kazshi It should be fine to add "Powered by Azure QnA Maker Service" to your bot. All other terms of use for QnAMaker and Azure Cognitive services are listed [here](https://azure.microsoft.com/en-us/support/legal/cognitive-services-terms/).

[2019-03-05 05:32] RohitMungi-MSFT commented on #26033
Thanks @diberry for the clarification. I will go ahead and close this issue as phrase lists are now available for all languages.

[2019-03-05 05:33] CastleArg commented on #25434
[image: image.png]

All functions, proxies etc look fine in the portal and zip file is correct
with compiled javascript.
Only the bindings error is a problem.  What is actually missing to cause
this?
Thanks for the help.  It looks like I should have gone with c# or a
standard webapi..

On Tue, Mar 5, 2019 at 5:36 PM KetanChawda-MSFT <notifications@github.com>
wrote:

[2019-03-05 05:33] SumanthMarigowda-MSFT commented on #26207
@shjagar  If you have a support plan, I request you file a [support ticket](http://azure.microsoft.com/en-us/support/options/), else please do let us know, we will try and help you get a one-time free technical support. In this case, could you send an email toAzCommunity[at]Microsoft[dot]com referencing this thread. Please mention "ATTN subm" in the subject field. Thank you for your cooperation on

[2019-03-05 05:36] SnehaAgrawal-MSFT commented on #26027
@PouyaPanahy We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-05 05:36] #26027 closed

[2019-03-05 05:43] SadiqhAhmed-MSFT commented on #26239
@seantleonard Thanks for the feedback. We will work with the content owner to further review and update as appropriate.

@bwren Could you please take a look at it and make necessary corrections?

[2019-03-05 05:43] RohitMungi-MSFT commented on #25453
@diberry Thanks for the update.
@ahalha We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-05 05:43] #25453 closed

[2019-03-05 05:45] angoyal-msft commented on #26228
@imeya Thanks for your useful suggestion. I am checking internally with Product Group on this. Would get back to you once I get an update.

[2019-03-05 05:53] kazshi commented on #26008
@RohitMungi-MSFT Thanks for your comment, but it's still not clear to me. I don't know if the customer would use the phrase "Powered by Azure QnA Maker Service" they might use different phrase - I understand we don't have guidelines of phrasing/wording for the case as far as I checked the Microsoft Cognitive Services Terms page and links. I'll provide the link and let them know no guideline of phr

[2019-03-05 05:53] PramodValavala-MSFT commented on #26229
@jlee-vi Yes. You are right.

I believe the first line could be something like this instead -

<pre style="white-space: pre-wrap !important">
You can expose the services without opening <b>an inbound firewall</b> connection, and without requiring intrusive changes to a corporate network infrastructure.
</pre>

That does seem like the case based on the [Components involved](https://docs.microsoft.c

[2019-03-05 06:04] RohitMungi-MSFT commented on #26240
@Nano1201 Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-03-05 06:05] #26033 closed

[2019-03-05 06:10] ManojReddy-MSFT commented on #25984
@DanJ210 It is quite common in AD where a single group is part of more than 50+ groups. You can probably cange the setting to just ask for Security Groups instead of all groups.

Also to ensure that the token size doesn’t exceed HTTP header size limits, Azure AD limits the number of object Ids that it includes in the groups claim. If a user is member of more groups than the overage limit (150 for

[2019-03-05 06:11] ManojReddy-MSFT commented on #25880
@mgogulapati We have not heard from you in a while.We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-03-05 06:11] #25880 closed

[2019-03-05 06:14] CHEEKATLAPRADEEP-MSFT commented on #26177
@omshiv2415 **Note:** Diagnostic logs aren't available for **Data Lake Storage Gen2** accounts.

You enable diagnostic logging for your **Azure Data Lake Storage Gen1** accounts.

Select **Azure Data Lake Storage Gen1** => **Monitoring** => **Diagnostics settings** => **Turn on diagnostics** => **Send to Log Analytics**.

![image](https://user-images.githubusercontent.com/44426401/53784629-df17a58

[2019-03-05 06:16] imeya commented on #25912
@PramodValavala-MSFT , I'm trying it now, and will let you know asap.

[2019-03-05 06:16] ManojReddy-MSFT commented on #25698
@glennsills I am working with the author regarding this issue and updated doc will be published shortly. Let me know if you have any other feedback regarding this.

[2019-03-05 06:16] #25698 closed

[2019-03-05 06:19] CHEEKATLAPRADEEP-MSFT commented on #26234
@xiopeter3345 This has been already documented in the “**How it works**” section as “Stopping and starting these services allows them to use the new storage account”.
Hope this helps.

[2019-03-05 06:25] CHEEKATLAPRADEEP-MSFT commented on #26197
@ToddChitt As mentioned in the document: When copying data from Salesforce, you can use either **SOQL query** or **SQL query**.

**Note:** That these two has different syntax and functionality support, do not mix it. You are suggested to use the SOQL query which is natively supported by Salesforce.

Hope this helps.

[2019-03-05 06:28] navilwayne commented on #12685
Hi
I am using AAD B2C custome page layout. I want to remove KMSI from screen , how i can disable feature from portal ?

[2019-03-05 06:30] navilwayne commented on #15832
Hi
I am using AAD B2C custome page layout. I want to remove keep me signed in from Log in screen , how i can disable feature from portal ?

[2019-03-05 06:43] Raviafkumar commented on #26190
![image](https://user-images.githubusercontent.com/45233237/53785872-f193de00-3f3f-11e9-8105-2e1e715b1780.png)
attaching screen shot to show i have "Allow access to azure services" is on for Azure sql db

[2019-03-05 06:50] imeya commented on #25912
@PramodValavala-MSFT , it works now. thank you 👍

[2019-03-05 07:01] CHEEKATLAPRADEEP-MSFT commented on #26202
@dlenin Have you gone through ten-minute introduction and demonstration of this feature, which clearly explains about the map trigger properties to pipeline parameters?

Watch the following video: [Event-based data integration with Azure Data Factory](https://www.youtube.com/watch?v=LTsvOPB4k9I)

If you have any further query do let us know.

[2019-03-05 07:02] PouyaPanahy commented on #26027
thank you for explaining Export function in Activity Log.

[2019-03-05 07:03] PramodValavala-MSFT commented on #25912
@imeya Glad we could help!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-05 07:03] #25912 closed

[2019-03-05 07:09] dlenin commented on #26202
Hi I have looked at the you tube video for couple of times. I do not think, it provides necessary details.. is it possible to point to / link of the ARM template for the entire process which explained. that would be helpful to understand.

[2019-03-05 07:29] ManojReddy-MSFT commented on #25983
@ch81 You should be able to use it. @CelesteDG Are there any restrictions around editing the text ?

[2019-03-05 07:32] ManojReddy-MSFT commented on #26045
@1trevor We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-03-05 07:32] #26045 closed

[2019-03-05 07:34] chuanboz commented on #17193
the document is updated in:
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-communication-aspnetcore#service-fabric-configuration-provider

[2019-03-05 07:34] #17193 closed

[2019-03-05 07:36] rwarnke commented on #12839
You may exclude the specific Resource Group from your policy to work around this issue.

[2019-03-05 07:38] ManojReddy-MSFT commented on #26047
@usx22186 I am checking with the product team regarding this and will update the thread as soon as I hear from them.

[2019-03-05 07:40] ManojReddy-MSFT commented on #26148
@sujayvsarma Can you share the details of the Graph call you are using ?

[2019-03-05 07:58] ManojReddy-MSFT commented on #26226
@aszalacinski Can you share more details about the steps you followed to acquire the token and where you are failing  ? are you following any sample ?

[2019-03-05 08:02] KetanChawda-MSFT commented on #25434
@CastleArg Not sure if you have posted the screenshot correctly as I cant see them. just checking if you have followed the steps mentioned in the [above post](https://github.com/MicrosoftDocs/azure-docs/issues/25434#issuecomment-466313860) ?

[2019-03-05 08:23] marxxxx commented on #19489
So in fact, if i need sorted data there is no way to achieve this with Cosmos DB Table API, making it intrinsically unsuitable for time series data. Is this assumption correct?

[2019-03-05 08:24] artilbur commented on #25911
Thanks for the feedback...All good except I believe the article lacks explanation of what a protected Instance is by merely stating "its a server that has been configured to backup to Azure" and no mention of the 50G and 500Gb breakdowns. I have spent considerable time trying to figure it all out. Perhaps its by design to keep us guessing. lol

[2019-03-05 08:28] robinsjoe opened #26244 "Mellanox Driver Troubleshooting/Manual Installation"
Could a section for manual installation or Driver diagnostics please be added? We have an issue where we have enabled Accelerated networking however the device fails to start.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4be8e45-460a-fab4-519b-32d83382005c
* Version Independent ID: 36a002a6-5813-da00-0a57-068eeaf491

[2019-03-05 08:42] markoriver commented on #25891
Hi, thank you for reply. I was already suspecting this can't be done with proxies.
As for API Management, is there specific link you might point out for this problem?

[2019-03-05 08:43] CHEEKATLAPRADEEP-MSFT commented on #26032
@Roblarson We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-05 08:43] #26032 closed

[2019-03-05 08:49] juho-hanhimaki opened #26245 "Is it safe to share references in objects inserted to reliable collections?"
Take example:

[code]

My assumption: Removal of personA from the collection doesn't affect personB's persisted state or current in-memory state even though they shared reference to same Project object? Objects in this case are immutable as is recommended.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6a0f00a-b627-ff

[2019-03-05 08:54] neeleshray commented on #26041
@andretms
Could you take a look at this ?

[2019-03-05 09:00] neeleshray commented on #26143
@Alex-Kach
Let us know if you have been able to resolve this or need further assistance.

[2019-03-05 09:10] fz-29 opened #26246 "API Behavior different from LUIS Documentation"
- [x] The relevant Azure service or technology.

Cognitive Service: LUIS

- [x] A link to the published documentation article that you have feedback about.

The article's sections Single pool for utterances per app
https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-concept-review-endpoint-utterances#single-pool-for-utterances-per-app

- [x] Clear, specific feedback that the author

[2019-03-05 09:11] dinu99 opened #26247 "include an Updated list of VM sizes that support Accelerated Networking feature."
Include an Updated list of VM sizes that support Accelerated Networking feature  or reference in this paage. The following page is old and outdated. https://azure.microsoft.com/en-us/updates/accelerated-networking-in-expanded-preview/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4be8e45-460a-fab4-519b-32d83382005c
*

[2019-03-05 09:15] nmikuni opened #26248 "Please mention about systemd dependencies when chrony uses ptp"
When some distribution uses ptp for chrony source, chrony fails to start when reboot.
the message is like following;

[code]

If using systemd, to avoid above, we should write dependency in /etc/systemd/system/chronyd.service
like following;

[code]

Could you please add above known issue and solution to Chrony + PTP section? thanks,
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/ti

[2019-03-05 09:16] andyjballgit opened #26249 "Typo on Vnet-OnPrem Solution ?"
Below snip - shouldn't it read "VPN or Express Route connection" at the end ??
--
VNet-Onprem - The on-premises virtual network represents an on-premises network. In an actual deployment, it can be connected by either a VPN or Route connection

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6992344b-e177-d268-f308-2be50

[2019-03-05 09:22] atullalwani opened #26250 "Azure DBaaS Snapshot Backups"
Hi Team,
I would like to schedule the daily snapshot backups for the DBaaS MySQL/PostgreSQL databases.
But I do not find this feature yet and highly recommend for it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28ded65a-1b0a-f610-a3ad-3812589cc005
* Version Independent ID: 3fdac72c-6c42-e572-3822-c77ea9002e0e
* Cont

[2019-03-05 09:29] dikadali opened #26251 "Able to enable/disable Accelerated Networking feature without stop/deallocate a VM"
I'm able to change the disable/enable Accelerated networking feature for an azure NIC card without stop/deallocate the VM which was already part of an availability set.  Please update the docs content accordingly. Note: Here VM size is already supported for Accelerated Networking so don't need to stop/deallocated all VMs in availability set.

Reference : "Important, please note, if your VM was cre

[2019-03-05 09:30] ggailey777 commented on #26034
@scotthannen I'm going to go ahead and add a note to the article about this...you aren't the first person to miss the `anonymous` setting.

[2019-03-05 09:54] shashishailaj commented on #25950
@KalleHallivuoriFuturice The MsiEndpoint is a endpoint which is available from within the linux VM / azure resource for which MSI has been enabled. Earlier the endpoint used to run on 127.0.0.1 on a random port but after the introduction of Azure Instance Metadata service the IP was changed. Azure IMDS is a REST endpoint available to all Modern VMs _(VMs created through Azure Resource manager inte

[2019-03-05 09:54] neeleshray commented on #26064
@brunole
As of today this is not possible.
You can whitelist the IP Addresses. Ref: [Advanced configuration options for the NPS extension for Multi-Factor Authentication ](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-nps-extension-advanced#ip-exceptions)

You can also add your suggestions to the [Feedback Thread](https://feedback.azure.com/forums/169401-azure-ac

[2019-03-05 10:08] sujayvsarma commented on #26148
Repro steps:
1) Create a Console/Web app using MSAL.net SDK.
2) Attempt to sign in with a Microsoft Account that has a valid Azure Subscription.
3) Use the access token obtained via #2 above to execute the [GET /subscriptions request](https://docs.microsoft.com/en-us/rest/api/resources/subscriptions/list)).

Expected:
The result of the #3 call would be a Json list of subscription items for the use

[2019-03-05 10:15] rkarlin commented on #26209
@sofrustrated Hi, thanks for letting us know of your frustrations. We're aware that a number of the articles written about Azure Security Center were not helpful, that's why we moved them under Archive while we develop new, more helpful content. Is there something specific you wanted to do, that we can focus on that would help you use recommendations?
thanks,
Rachel

[2019-03-05 10:15] WayneYangsa commented on #25740
@hpsin  Really helpful reply!

[2019-03-05 10:19] wassx opened #26252 "Sucessfully tested with unity 2018.2.x"
I tested with a lower unity version and the provided examples work. Any reason why there is just 2018.3.x mentioned?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 123315ce-4945-a613-4cb6-cbfe22ef9d42
* Version Independent ID: 17ef871c-3aa5-f67b-5c97-fcce3fb7df85
* Content: [Quickstart - Create HoloLens Unity app with

[2019-03-05 10:22] shashishailaj commented on #26236
@jeevansd  Could you please check this article for updated information on the Atlassian Cloud.

[2019-03-05 10:22] kilasuit commented on #26118
@TravisCragg-MSFT - can the docs make this clearer as to alleviate any potential confusion.

[2019-03-05 10:25] shashishailaj commented on #26227
@Rahat-3858 Please let us know in case you have any queries related to the product documentation and we can help you with the same.

Thank you.

[2019-03-05 10:31] RohitMungi-MSFT commented on #26246
@fz-29 Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-03-05 10:41] hansmaad commented on #12292
@Mike-Ubezzi-MSFT @SnehaGunda  Documentation on querying partitioned collections is still missing. There is a lot of good information on how to create partitioned collections and how to choose partition keys, but not how to actually work with partitioned collections. We have to figure out on our own which queries work without specifying the partition key and which require to include the key.
For M

[2019-03-05 10:42] KrishnaG-MSFT commented on #26201
@woodrum, It is not possible to incorporate a value of != instead of = in Tag parameter value of Get-AzResource because Tag is Hashtable type of parameter.
For more information, please refer https://docs.microsoft.com/en-us/powershell/module/az.resources/get-azresource?view=azps-1.4.0#parameters

You may use command something like shown below to accomplish the requirement of getting resources whic

[2019-03-05 10:53] #26034 closed

[2019-03-05 10:59] KetanChawda-MSFT commented on #26034
@scotthannen The doc will be updated by a referenced PR.

@ggailey777 Appreciate your immediate attention here.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-05 11:00] RohitMungi-MSFT commented on #26240
@alch-msft, @DarrinEide Could you please provide an example expression in the document for the above scenario where author name is same but is returned with different author ids?

For example for this query:

``https://api.labs.cognitive.microsoft.com/academic/v1.0/evaluate?model=latest&count=100&expr=Composite(AA.AuN=='杭學鳴')&attributes=Id,Ti,AA.AuN,E,AA.AuId``

It returns all results of the Chine

[2019-03-05 11:06] RohitMungi-MSFT commented on #26146
@arpitvw We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-05 11:06] #26146 closed

[2019-03-05 11:06] ernesto-arm commented on #5931
Just review the imports...
something like "import com.sun.tracing.dtrace.FunctionName;" can sneak in if you are using autocomplete

[2019-03-05 11:06] PramodValavala-MSFT commented on #26019
@gldraphael Just following up here... Hope my previous comment clears things up.

[2019-03-05 11:07] jakaruna-MSFT commented on #26245
Thanks for the question! We are investigating and will update you shortly.

[2019-03-05 11:09] anhowe opened #26254 "Code in Section "Getting Azure Environment" does not work in India"
The section [Getting Azure Environment where the VM is running](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service#getting-azure-environment-where-the-vm-is-running) does not work with India on Azure.

To fix for India regions, a translation table should be added to the code to reverse the India region names so that it can properly look up the endpoint:

"cen

[2019-03-05 11:15] devsaffa commented on #16554
I'm also seeing this behavior. Is there any update here?

[2019-03-05 11:27] gldraphael commented on #26019
Thanks for your response @PramodValavala-MSFT

Give me some more time to verify this. Because the preflight request seems to be coming from `*portal.azure.net` instead:

![screenshot_2019-03-05_at_16_45_58](https://user-images.githubusercontent.com/10794213/53802342-9f66b300-3f67-11e9-9c61-1143481d9dd3.png)

[2019-03-05 11:30] jakaruna-MSFT commented on #26250
@atullalwani Backup and restore can be configured for Databases. Please check this [link](https://docs.microsoft.com/en-us/azure/mysql/concepts-backup).
Are you looking for an option to take a backup of the backup and store it in a separate place for long term retention?

[2019-03-05 11:33] tb2johm opened #26256 "How to do this from a Service Fabric application?"
I found this page when trying to set a ClientCertificate in my application. However my application isn't a WebApp in the App Service but a Standard service (MVC.net) running on a Service Fabric VM. Is there a similar article for that case?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee2ce9e8-8504-ddab-1880-485962b99

[2019-03-05 11:41] AjayKumar-MSFT commented on #26232
@vmaruhpe, Kindly checkout this [document](https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-custom-docker-image#download-the-sample) which provides a sample and outlines step-step instructions on how to build a custom Docker image and process to deploy it to Web App for Containers.

[2019-03-05 11:44] jakaruna-MSFT commented on #26248
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-05 11:46] neeleshray commented on #25560
@jaffadog
Try this command on the User affected.
`Connect-MsolService`
`Get-MsolUser -UserPrincipalName username@yourdomain.onmicrosoft.com -UserType Member`

This command is ideally to convert a Guest User to a Member of the tenant. However, as you say that the affected user is not a Guest User. Try the command just to ensure the same.
After this if you still face the same issue, I would suggest

[2019-03-05 11:46] #25560 closed

[2019-03-05 11:49] neeleshray commented on #26080
@cboghy
Let us know if that helped you or if you need further assistance

[2019-03-05 11:53] SudharsanS19 opened #26257 "Please update - "Old Content not very useful""
In new logic app conditions there is no "edit in advanced mode", so I can't able to do as per this tutorial. Please do the needful

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e996c57-14b5-75a3-29de-40e6a44c50d3
* Version Independent ID: 8a469e82-937d-9ca6-4b5a-3a37988390b0
* Content: [Monitor virtual machine change

[2019-03-05 11:54] tanyadenton opened #26258 "If only it worked for us"
We have an Azure Open sub and only have data from the 20th Jan 19 going forward (we have lost all previous data).  Reported to Support, they said sorry but here is a link to the old Cost by Resource.  Today compared both of these different reports and the costs reported for Feb are so far apart it is funny!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-03-05 12:11] yanivfi commented on #21125
@vignatov Hello, as for your above suggestion of using a function app to make the call, How is it different from any other back-end?
from the article
The following flows are not supported:
Server-to-server: The identity protection system needs a reliable IP address gathered from the caller
Thanks

[2019-03-05 12:11] MohitDhingra-MSFT commented on #25968
@bastyuchenko

I have tried to use UserPasswordCredential in one of my sample application and I found that if we register our app as (web app or web api), we can not authenticate with username and password.
But if we register our app as a native client, we can get the access token.

I assume that you already have a application registered through which you are trying out the provided code snippet?

[2019-03-05 12:47] atullalwani commented on #26250
@jakaruna-MSFT Thanks for the update 👍 . Can we see the full weekly/ differential backups in the portal for a specific DBaaS system. Is there any other way I can create a current manual snapshot of the database system?

[2019-03-05 12:47] AjayKumar-MSFT commented on #25905
@hastikpatel, From hosting on Azure App Service per se - Microsoft has deprecated the Python extensions for App Service on Windows in favor of a direct deployment to App Service on Linux. Based on your requirement, you may provision it on a Linux machine and for specific configuration issue on IIS you may re-post the query on IIS forum; its the targeted forum for answering specific questions on II

[2019-03-05 12:53] SubhashVasarapu-MSFT commented on #26244
@robinsjoe , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-03-05 12:54] mdc921 opened #26259 "Remove-AzureADServiceAppRoleAssignment cmdlet wrong"
"assignment #" in Remove-AzureADServiceAppRoleAssignment cmdlet instruction is wrong. Needs to use either ForEach-Object loop like this:

$assignments | ForEach-Object {
	#To remove the App role assignment run the following command.
	Remove-AzureADServiceAppRoleAssignment -ObjectId $spo.ObjectId -AppRoleAssignmentId $_.ObjectId
}

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2019-03-05 12:55] SubhashVasarapu-MSFT commented on #26247
@dinu99 , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-03-05 12:56] pvrk commented on #16940
Added the security section.
#please-close

[2019-03-05 12:59] SubhashVasarapu-MSFT commented on #26251
@dikadali , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-03-05 13:01] SubhashVasarapu-MSFT commented on #26249
@andyjballgit , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-03-05 13:03] alex-3sr commented on #24386
Hi,

I'm having same issue, and I'm correctly use Set-AzDiagnosticSetting as explained above.
[code]

I'm using Azure.Monitor 1.0.0. Are there any way to register to this preview ? or how to whiltelist subscription ?

Thanks

[2019-03-05 13:04] JCGitRep commented on #11033
Hello @YutongTie-MSFT, what do you think is the average response time to to an invitation request ?

[2019-03-05 13:17] mgogulapati commented on #25880
Manohar,

Thank you for sharing that your product team is working on resolution.  Until a resolution is available for me, there is nothing for me to view or validate.

MG (Madhu Gogulapati), MS, PMP, CSM, MBA
Sent from my Verizon Samsung Galaxy smartphone.
Random auto-corrections and typos are contributions of my phone.

-------- Original message --------
From: K N Manoj Reddy <notifications@githu

[2019-03-05 13:27] ToddChitt commented on #26197
Thanks for the response, but I don't think you have answered the question. The question is this: "How do I FORCE the Copy Data activity to use SQL over SOQL or vice versa?" Is there a setting I can flip? Or is the choice left up to the query interpreter at run time?
For example: a query of "SELECT Id FROM Account" will be supported by both query engines.
But "SELECT [Id] FROM Account" or "SELECT *

[2019-03-05 13:33] AdamSharif-MSFT opened #26260 "Zone balancing and manual instance removal"
If using zone balancing with a VMSS and instances are manually removed, will any form of re-balancing occur with the same number of VMs, or would this only happen if there was manual or automatic scaling-out?

Example: in my own test, I created 9 VMSS instances, with 3 zones. I then removed 3 instances from zone 1, and saw that there were 3 instances remaining in zone 2, and 3 in zone 3 as expecte

[2019-03-05 13:35] SubhashVasarapu-MSFT commented on #26244
@gsilva5 Could you please provide your insights on this ?

[2019-03-05 13:39] SubhashVasarapu-MSFT commented on #26247
@dinu99 We have assigned this issue to content author for updating the document with updated VM sizes.

[2019-03-05 14:00] jnfarmer commented on #5850
Or you could do some documentation on how to do this?

[2019-03-05 14:01] GRCAINC commented on #18908
I would like to cancel my connection with your URL company

[2019-03-05 14:05] CHEEKATLAPRADEEP-MSFT commented on #26252
@wassx Thank you for your interest in Azure products and services. We are investigating and will get back to you soon.

[2019-03-05 14:07] CHEEKATLAPRADEEP-MSFT commented on #26254
@anhowe Thank you for your interest in Azure products and services. We are investigating and will get back to you soon.

[2019-03-05 14:10] gerardEsteve opened #26261 "Android minimum api 22"
in the documentation is said that the minimum api level is 22 ( works on 22 or later) but if i run the Face API in an api 22 it gives a lot of errors and it's not working, if i change to an api 23 device it starts working well and without problems so I think the minimum api level should be 23 instead of 22

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2019-03-05 14:13] CHEEKATLAPRADEEP-MSFT commented on #26256
@tb2johm Thank you for your interest in Azure products and services. We are investigating and will get back to you soon.

[2019-03-05 14:14] jftl6y opened #26262 "Backup guidance contradictory?"
In the Backup statement, the documentation states:
With a Managed Instance, you can back up an instance database only to an Azure Blob Storage account:
Only BACKUP TO URL is supported

Later it says as a Tip:
To work around this limitation on-premises, backup to DISK instead of backup to URL, upload backup file to blob, then restore. Restore supports bigger files because a different blob type is u

[2019-03-05 14:15] CHEEKATLAPRADEEP-MSFT commented on #26257
@SudharsanS19 Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-03-05 14:21] CHEEKATLAPRADEEP-MSFT commented on #26261
@gerardEsteve Can you please share the document you are referring to so we can better assist?

[2019-03-05 14:24] srilekha82 opened #26263 "Get requests on the LUIS docker container is failing"
Followed the instructions for LUIS running on a local container. The container starts up but when I do a Get on the swagger on localhost:5000 get a 500 internal server error. Following details:

Luis[0]
      Failed while getting response for AppId: 8b0f3fbb-3856-430f-8cb1-e5f43323e02d - Slot: STAGING Object reference not set to an instance of an object.
fail: Microsoft.CloudAI.Containers.Controll

[2019-03-05 14:25] CHEEKATLAPRADEEP-MSFT commented on #26258
@tanyadenton Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-03-05 14:26] CHEEKATLAPRADEEP-MSFT commented on #26263
@srilekha82 Can you please share the document you are referring to so we can better assist?

[2019-03-05 14:27] gerardEsteve commented on #26261
@CHEEKATLAPRADEEP-MSFT  sure, the link I am referring is this one https://docs.microsoft.com/en-us/azure/cognitive-services/face/tutorials/faceapiinjavaforandroidtutorial
the issue I am talking about is in the "prerrequisites" -> Android Studio with API level 22 or later (required by the Face client library).

I got a lot of problems with certificates or connections in API 22, and I read that it w

[2019-03-05 14:29] CHEEKATLAPRADEEP-MSFT commented on #26259
@mdc921 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-05 14:31] aforank opened #26265 "Which version of service fabric started supporting "Remoting V2 (interface compatible) stack""
As per the current documentation, it is unclear that which version of service fabric started supporting "Remoting V2 (interface compatible) stack"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8902374b-b631-9d50-16ef-1899ea2dd29d
* Version Independent ID: 55351e69-aa2a-901c-a563-106b62e3d6ac
* Content: [Service remoti

[2019-03-05 14:35] CHEEKATLAPRADEEP-MSFT commented on #26260
@AdamSharif-MSFT Thank you for your interest in Azure products and services. We are investigating and will get back to you soon.

[2019-03-05 14:37] CHEEKATLAPRADEEP-MSFT commented on #26262
@jftl6y Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-03-05 14:43] tanyadenton commented on #26258
@CHEEKATLAPRADEEP-MSFT - thank you so much.  I have tried support but they don't seem to understand, I have a screenshot comparison of figures that I can send you if this helps.

[2019-03-05 14:44] CHEEKATLAPRADEEP-MSFT commented on #26265
@aforank Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-05 14:46] LukaszWAW opened #26266 "SqlPackage error Mismatched Universal Authentication parameters."
Hi,
During publishing database from DACPAC to Azure Managed Instance I had error:
*** Mismatched Universal Authentication parameters.

It's always when I try use SqlPackage with Active Directory Universal Authentication:
 & $SqlPackage /a:Publish /ua:True /tid:"sample.onmicrosoft.com" /TargetServerName:$dest_server /TargetDatabaseName:$dest_db /SourceFile:"$DACPACFilePath"

When I use user and pas

[2019-03-05 15:02] poelstra commented on #25049
FWIW, I retried last Friday, and it works now.

Maybe the actual underlying reason was solved, or it was caused by me switching from the free trial to an MSDN subscription.

[2019-03-05 15:02] #25049 closed

[2019-03-05 15:10] vhorne commented on #26249
corrected by previous public PR.
#please-close

[2019-03-05 15:12] msrini-MSIT commented on #23320
@DacuTv , I will take a look into this and update.

[2019-03-05 15:23] Torch02 opened #26267 "Step 8 wording accuracy"
Under "Run the Notebook" Step 8, the menu option is "File &gt; Close and Halt" not "File &gt; Halt and close"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39b2c82b-3624-18ac-de45-446049ca11c1
* Version Independent ID: 9f5f6ed4-c8d0-2010-8463-07c2e51b6eca
* Content: [Create and share a Jupyter notebook on Azure](https

[2019-03-05 15:23] srilekha82 commented on #26263
Followed :
https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-container-howto

Container is running and in the swagger page, GET requests are failing. Error mentioned in the earlier post

[2019-03-05 15:26] anetschka commented on #25538
Any news on this topic?

[2019-03-05 15:29] CarlRabeler commented on #26266
@VanMSFT please investigate

[2019-03-05 15:40] kraigb commented on #26267
Thanks for pointing that out! I'll get it fixed.

BTW, this is something that you could also fix directly using the Edit button the top right of the page above the heading. I've been lobbying to make command that more visible down by the Issues. So let me know if you'd like to do the honors and get some contribution credits. :)

[2019-03-05 15:42] jbpaux opened #26268 "Schema is incorrect"
Hello, the schema https://docs.microsoft.com/en-us/azure/azure-stack/media/azure-stack-integrate-dns/integrate-dns-01.png is incorrect :
* Name servers are azs-ns01/ns02 and not azs-Dns01/Dns02 (the D should be removed)
* forwarded zone should be the same as in the text (east.cloud.fabrikam.com and not sea.azurestack.external)
* another zone should be included in the ns01/ns02 servers : east.cloud

[2019-03-05 15:43] mestew commented on #25988
@SteveParson Thanks for letting us know.  I do see that the template was removed from the Azure quickstart template list.  We're investigating what occurred and how to best resolve it. It may take a bit of time. I will update you as I get more information.

[2019-03-05 15:48] gate502 opened #26269 "Inbound Rule - Direct vs Expression"
The documentation mentions to setup a direct flow type for the Transformation of the inbound rule.

I am only able to add IIF(IsPresent([userPrincipalName]),IIF(CBool(InStr(LCase([userPrincipalName]),"@partners.fabrikam123.org")=0),"Member","Guest"),Error("UserPrincipalName is not present to determine UserType"))

if the flow type is expression.

---
#### Document Details

⚠ *Do not edit this sect

[2019-03-05 16:11] VanMSFT commented on #26266
Hello @LukaszWAW, thank you for utilizing our documentation! As this is a support issue and not a documentation issue, please utilize the following channels to receive help:

- [All the ways to get help](https://docs.microsoft.com/sql/sql-server/sql-server-get-help)
- [UserVoice - Suggestion to improve SQL Server?](https://feedback.azure.com/forums/908035-sql-server)
- [Setup and Upgrade -  MSDN F

[2019-03-05 16:15] YoDaMa commented on #25712
Hi @jlian following up on this.

[2019-03-05 16:18] Torch02 commented on #26267
Sure, I can make the edit. I just wasn't sure what the expected protocol
was for edits that didn't have issues.

--Steve

On Tue, Mar 5, 2019 at 9:41 AM Kraig Brockschmidt <notifications@github.com>
wrote:

[2019-03-05 16:23] LukaszWAW commented on #26266
I thought, that is some mistake in description. Thanks for your help.

[2019-03-05 16:23] georgewallace commented on #26120
@binoyjt, You can still link an existing Log Analytics workspace in that region when enabling the solutions.  The table shows the supported mappings not the regions are available at the time..  Log Analytics supports other regions as you can see from your image **West US 2**, but that region is not a supported region for mapping an Automation Account to a Log Analytics workspace. The table is accu

[2019-03-05 16:24] georgewallace commented on #25882
@MicahMcKittrick-MSFT I will forward this on.. please standby.

[2019-03-05 16:25] ToadTWP666 opened #26270 "Tutorial (part 2): Use automated machine learning to build your regression model - Model build"
Environment: Azure DSVM Unbuntu
Juypter Notebook running Python version 3.6 AzureML kernel

I am using the following command to install the sdks:
!pip install azureml-sdk[automl,notebooks] matplotlib

When I execute the following output['SDK version'] = azureml.core.VERSION
I get the following:
SDK version | 1.0.2
-- | --

I have worked through the first part of this tutorial (part 1) twice and ve

[2019-03-05 16:36] TomArcherMsft commented on #25683
The link is working for me. Is it possible that the customer is clicking a relative link from GitHub?

[2019-03-05 16:40] cephalin commented on #25775
@timheuer I can't reproduce that image. Did you get that from following the steps in the quickstart or from some other method?

[2019-03-05 16:42] dominicbetts commented on #20193
#please-close

[2019-03-05 16:46] SumanthMarigowda-MSFT commented on #25908
@dikadali We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-05 16:46] #25908 closed

[2019-03-05 16:48] neeleshray commented on #26147
@sujayvsarma
This seems to be working as expected.
AAD Graph explorer is a V1 application and does not support using  MSA accounts.  It supports Organization accounts only.

[2019-03-05 16:51] talakbairam opened #26272 "Azure-cli Server Application --identifier-uris?"
Hi,

First of all i created Server application with azure portal and portal wanted for me 3 inputs Name, Application Type, Sign-on URL(Identifier URL has been created automata).
This time, I need to create Server application with azure-cli and need to set the identifier-uris to the argument.
Why if create with azure-cli want for me identifier-uris and don't create automata?
How i create automata t

[2019-03-05 16:54] CelesteDG commented on #26147
@sujayvsarma - Please try this instead: https://developer.microsoft.com/graph/graph-explorer

[2019-03-05 16:56] joelpelley commented on #25125
Please reassign to @Jon Beck (jonbeck@microsoft.com)<mailto:jonbeck@microsoft.com> and in the future please send all for our team to @Jon Beck (jonbeck@microsoft.com)<mailto:jonbeck@microsoft.com> first and he can sort out what goes where.

Best regards,

Joel Pelley PMP
Principal Program Manager - Azure Compute VM Sizes and Hardware

Email  joelpell@microsoft.com<mailto:joelpell@microsoft.com>  |

[2019-03-05 16:56] jluk commented on #25049
We made some fixes to quota validation and some poor error messages on a recent release which I believe should be wrapping up rollout. Thanks @poelstra for this report and following up, please let us know if this issue continues to occur.

[2019-03-05 16:57] georgewallace commented on #25374
@jzuchora87 I have added some clarification to the doc that you only have to remove it if it exists.. once the change is merged it will automatically close this issue.

[2019-03-05 16:58] timheuer commented on #25775
Created through the portal (can't imagine the CLI instructions would produce anything different).  App service Linux choosing .NET Core as runtime.  It looks like a refreshed default page.

[2019-03-05 16:59] cephalin commented on #25775
@timheuer CLI does produce a different default page.

[2019-03-05 17:00] #25374 closed

[2019-03-05 17:04] ArvidBaa commented on #20351
@salilbapat Ok, then I will have to make do without that feature until then, but I really hope you take it up as soon as possible. You will have at least one happy user if you do!

Thanks for your help!

[2019-03-05 17:07] brentblawat opened #26274 "Conflicting Verbiage for Vnet Integration"
There are several conflicting statements on this page with the new ExpressRoute and the new "Preview Feature":

It states it does not allow: "accessing resources across ExpressRoute"

But then later in this document it states:
"There is a new version of the VNet Integration feature that is in preview. It doesn't depend on point-to-site VPN and also supports accessing resources across ExpressRoute

[2019-03-05 17:10] timheuer commented on #25775
@cephalin well that's bazaar.  Cool, feel free to close this one then and I'll take it up with them :-)

[2019-03-05 17:11] cephalin commented on #25775
@timheuer Thanks. #please-close

[2019-03-05 17:16] #25989 closed

[2019-03-05 17:19] SaurabhSharma-MSFT commented on #26270
@ToadTWP666 To assist you better on your query could you provide us with the link to the document you are referring to ?

[2019-03-05 17:19] DavidTaig opened #26275 "SIR links to old report"
The 'Microsoft Security Intelligence Report' directs to V23 of report, not V24. Should update to aka.ms/sir or microsoft.com/sir

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 826a3309-03a5-60b4-aa4c-63f385150455
* Version Independent ID: 1d2e2f1c-2805-5cda-a4ad-76fedbc3f525
* Content: [Best practices for secure admin

[2019-03-05 17:20] AE-MS opened #26276 "Should the BearerStrategy callback set currentUser when adding a new token to authenticatedUserTokens?"
In the BearerStrategy callback, the currentUser variable is only set when the token is already found in the authenticatedUserTokens array. If this is the first time a token is seen, then it's added to the authenticatedUserTokens array -- but currentUser is not set in that case.  That causes the second parameter to the "done" method to be null the first time into the callback -- this causes the exa

[2019-03-05 17:37] Amondale opened #26277 "Please proofread this article"
So many typos and grammatical errors make this very "dense" article extremely difficult to wade through. Decision trees (flowcharts) are essential but poorly placed and poorly scaled. Logical inconsistencies throughout the document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74a7839e-3be4-a6b8-10ac-addc1285d0a6
* V

[2019-03-05 17:43] sujayvsarma commented on #26147
@celestedg - That tool only does Office 365 API -- for anything else, it returns empty data. I am trying to query Azure Graph.

@neeleshray - Then that should be documented somewhere. In fact, I saw on some other thread a few minutes ago that it only accepts @xxxx.onmicrosoft.com user IDs!!!

[2019-03-05 17:46] SaurabhSharma-MSFT commented on #26238
@sujayvsarma Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-05 17:46] Karishma-Tiwari-MSFT commented on #26254
@anhowe Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-05 17:47] YutongTie-MSFT commented on #25945
@CeciAc Hi CeciAc, the customer is asking using the following big screenshot of the original document:
![image](https://user-images.githubusercontent.com/38084098/53825589-7d4f3f80-3f2b-11e9-9c15-ff43e0313e57.png)

to replace the following one:
![image](https://user-images.githubusercontent.com/38084098/53825662-a8399380-3f2b-11e9-8d50-36d6e854490d.png)

I have no access to fix it, could you do it

[2019-03-05 17:48] mneitzke opened #26278 "One or more projects in the solution were not loaded correctly."
At the "Deploy your Sharing Anchors Service", opening the solution in vs2017 gives a popup that shows "One or more projects in the solution were not loaded correctly. Please see the Output Window for details"

The Output Window shows "...\azure-spatial-anchors-samples\Sharing\SharingServiceSample\SharingService.csproj : error  : Project file is incomplete. Expected imports are missing."

---
####

[2019-03-05 17:58] mikeg-roebbelen opened #26279 "Azure AD Basic License"
The article states that groups can be used with an Azure AD Basic License.  Who needs to have the license in order to assign groups?  The administers that create the group assignment?  All users on the tenant?  Only a single administrator on the tenant?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: acb4037a-0

[2019-03-05 17:58] PramodValavala-MSFT commented on #26257
@SudharsanS19 You are right. The way the condition connector works has had quite a few changes since this doc was first published.

It no longer uses expressions & functions like the doc mentions
[code]
and instead has JSON objects like this which you can see in the `Code view`
[code]

We are assigning this issue to the content author to review and update the doc accordingly.

[2019-03-05 18:03] mneitzke commented on #26278
nevermind, turns out I didn't have the dotnet sdk installed.

[2019-03-05 18:03] #26278 closed

[2019-03-05 18:04] YutongTie-MSFT commented on #25836
@FredRan We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-05 18:04] #25836 closed

[2019-03-05 18:07] martincoetzer commented on #26277
Thank you for the feedback! Can you please provide some detailed examples or issues you would like us to address?

[2019-03-05 18:08] YutongTie-MSFT commented on #23489
@newbienewbie We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-05 18:13] MicahMcKittrick-MSFT commented on #26256
@tb2johm start with this doc on securing your SF cluster

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-security

It has additional links as well based on what you are trying to do. Take a look and let me know if you have further questions.

[2019-03-05 18:15] MicahMcKittrick-MSFT commented on #26265
@aforank as seen here

![image](https://user-images.githubusercontent.com/32313503/53827278-8b9f5a80-3f2f-11e9-902f-677d83f4d7f9.png)

https://www.nuget.org/packages/Microsoft.ServiceFabric.Services.Remoting/

![image](https://user-images.githubusercontent.com/32313503/53827328-a40f7500-3f2f-11e9-81c9-554a7a781ee3.png)

[2019-03-05 18:18] MicahMcKittrick-MSFT commented on #26245
@aljo-microsoft to confirm

[2019-03-05 18:19] YutongTie-MSFT commented on #23524
@sanpil Thank you!

@piizei We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-05 18:20] MohitGargMSFT commented on #26272
@talakbairam Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community

[2019-03-05 18:22] CelesteDG commented on #26147
Thank you, @sujayvsarma - Did you see this other article? https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-graph-api-quickstart

[2019-03-05 18:23] markl181 opened #26280 "Some steps are missing"
step 5e states
e. In the Id Property box, select the attribute that you configured as the user identifier in Azure AD. For example, if userPrincipalName is selected in Azure AD, select Username.

But there are no instructions in the document or linked for how or where to set the user identifier in AD

step 6 states
On the Set up Absorb LMS section, copy the appropriate URL(s) as per your requireme

[2019-03-05 18:24] MicahMcKittrick-MSFT commented on #26119
@codematrix so we do not have a definitive ETA on this. That being said it is in the works

https://github.com/linuxkit/lcow

LCOW stands for Linux Containers on Windows. It is actively in development. But as mentioned I don't have an ETA on when it will go public. It is still in the experimental phase which means if it proves useful, will move to preview phase and after that will move to GA. So l

[2019-03-05 18:24] #26119 closed

[2019-03-05 18:25] lgayhardt commented on #9328
The addition of an exception alert with custom log search section has merged @MicrosoftDocs/azure-cxp-triage #please-close

[2019-03-05 18:26] #9328 closed

[2019-03-05 18:32] codematrix commented on #26119
@MicahMcKittrick-MSFT  OK thanks. So for now, there's now way of running SF Mesh on our local development laptops unless we switch our local docker to use Windows containers instead of Linux.  That might be a hard pill to swallow for now as we have a lot of 3rd party Linux containers, including SQL :)

I guess we'll have to wait until this is available.  Thanks for your time and effort.

codematri

[2019-03-05 18:36] Adam-Smith-MSFT commented on #26185
@larslynch  was the above answer helpful for you ?

[2019-03-05 18:36] BryanTrach-MSFT commented on #26274
@brentblawat Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-05 18:36] Adam-Smith-MSFT commented on #26024
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-05 18:36] #26024 closed

[2019-03-05 18:38] SaurabhSharma-MSFT commented on #26275
@DavidTaig Thanks for your feedback.  I am getting the same [page](https://www.microsoft.com/en-us/security/operations/security-intelligence-report) when using aka.ms/sir or when clicked on the link 'Microsoft Security Intelligence Report'.

[2019-03-05 18:38] AlexanderDignan opened #26281 "Locally Redundant Storage"
There doesn't appear to be a way to set the default storage type to Locally Redundant instead of Geo-Redundant until after the deployment of the vault.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fb64073-8e41-ee31-c8eb-e2d8a64947fd
* Version Independent ID: 58d370cc-6951-6096-5e4b-a08bfd86a7c3
* Content: [Manage Az

[2019-03-05 18:39] SaurabhSharma-MSFT commented on #26269
@gate502 Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-05 18:44] Karishma-Tiwari-MSFT commented on #25125
Assigned back to @jonbeck7 as requested above.
CC: @cynthn

[2019-03-05 18:47] jeevansd commented on #26236
@Ruizean What is outdated here? I dont see any changes in the UI for Atlassian Cloud. Can you please provide some specifics?

[2019-03-05 18:47] PatAltimore commented on #25688
Fix has been published. #please-close

[2019-03-05 18:50] PatAltimore commented on #25044
@jbpaux Thanks for the suggestion. I published an update.

@MicahMcKittrick-MSFT #please-close

Pat

[2019-03-05 18:50] marktab commented on #26217
@KevinXTian  we have no plans to update TDSP with more how-to demos.  We are likely to redo the documentation to focus on the core concepts of TDSP rather than implementations.  Our team is separate from the various product teams, which will release demos on their own documentation areas, and perhaps GitHub and video.

@CHEEKATLAPRADEEP-MSFT we may close this ticket

[2019-03-05 18:51] #25044 closed

[2019-03-05 18:55] bigdatamoore opened #26282 "link to Python cosmos sdk docs needs to be updated"
The link to the API documentation at the top of the page is incorrect.  It should be pointing to the new docs for the latest SDK.  https://docs.microsoft.com/en-us/python/api/azure-cosmos/azure.cosmos?view=azure-python

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f09cf24a-d276-8afc-f5d2-2406185cadfc
* Version Indepen

[2019-03-05 18:55] cynthn commented on #26025
@Karishma-Tiwari-MSFT It sounds like expected behavior, but the article was written for Ubuntu and I haven't tested it with Debian.

[2019-03-05 18:55] #25324 closed

[2019-03-05 18:56] georgewallace commented on #25067
@Saltzmea As your question was answered I am going to ask this issue be closed. If you have any other questions, please feel free to reach out. @MicrosoftDocs/azure-cxp-triage #please-close

[2019-03-05 18:59] georgewallace commented on #16296
@pmcevoy Have you verified this template. It shows how to create an ARM template to connect a VMSS to an Azure Automation DSC Pull server? https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/dsc-template#template-example-for-windows-virtual-machine-scale-sets

[2019-03-05 19:01] SaurabhSharma-MSFT commented on #26259
@mdc921 Thanks for your feedback.  I believe the code has been documented for your reference where you can pass the assignment index in brackets to remove any specific app role assignments e.g.

[2019-03-05 19:02] Alberto-Vega-MSFT commented on #26278
@mneitzke Thanks for reaching out! I'm glad to see you were able to resolve your issue. If you have any more feedback please feel free to reach out.

[2019-03-05 19:08] TerryLanfear commented on #23648
@Nimleth - Thank you for your feedback. The article has been updated so it does not refer to Azure Key Vault as an HSM.

[2019-03-05 19:12] TerryLanfear commented on #23648
#please-close

[2019-03-05 19:17] KrishnaG-MSFT commented on #26201
@woodrum, At this point it appears that there's no edits or updates needed for the documentation. Closing this issue for now. If there are further questions regarding this matter or questions or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-03-05 19:17] #26201 closed

[2019-03-05 19:31] #26217 closed

[2019-03-05 19:31] YutongTie-MSFT commented on #26217
@KevinXTian We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-05 19:33] KevinXTian commented on #26217
Thanks for the update.

From: YutongTie-MSFT <notifications@github.com>
Sent: Tuesday, March 5, 2019 2:32 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Tian, Xueli (Kevin) <XTIAN1@steelcase.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Request for how to use TDSP with Azure Machine Learning service (AMLs)? (#26217)

@KevinXTian<https://git

[2019-03-05 19:41] #23648 closed

[2019-03-05 19:41] bandersmsft commented on #26258
@tanyadenton I've forwarded your information to the Cost Management enginnering team to see if they can help.
#in-process

[2019-03-05 19:45] tanyadenton commented on #26258
@bandersmsft many thanks really appreciate this.  If I had known about posting on here I would not have gone through support.  Maybe someone could get in touch with Support and tell them to point users to here.  To be honest, if you read the email thread between myself and Support you would be stunned.

[2019-03-05 19:50] BharathNimmala-MSFT commented on #26230
@psatyaa When I try to recreate the steps provided by you, I am able to see the Save button.

1. Created DevTest Lab
2. With in "My secrets" blade once you create a new secret with Name and value
3. I see the option to Save and once I click on "Save" it does show a below message at the top
![SavingImage](https://user-images.githubusercontent.com/45180002/53833126-adeba500-3f3c-11e9-90ab-5ca1b809da

[2019-03-05 19:50] BharathNimmala-MSFT commented on #26230
@psatyaa Can you please confirm if this is happening intermittently to you ?

[2019-03-05 19:52] YutongTie-MSFT commented on #26044
@toenie23 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-05 19:52] #26044 closed

[2019-03-05 19:54] YutongTie-MSFT commented on #25994
@arielcedola We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-05 19:54] #25994 closed

[2019-03-05 19:55] YutongTie-MSFT commented on #25993
@v-kydela We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-05 19:55] #25993 closed

[2019-03-05 19:55] jeevansd commented on #5850
@jnfarmer Yes, we will add this description in this documentation.

[2019-03-05 19:59] donquijotedelamancha commented on #26188
@KetanChawda-MSFT the mvn install step worked. Thanks a lot for the patience and amazing help! I continue towards my first Java Azure Function...

[2019-03-05 19:59] MicrosoftGuyJFlo commented on #25811
No feedback from or way to contact user @itguysocal so leaving the link as is.

[2019-03-05 20:00] YutongTie-MSFT commented on #25292
@rueylinlee We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-05 20:00] #25292 closed

[2019-03-05 20:02] AlexFiala opened #26283 "Cannot PUT with Postman"
I'm using Postman (v 7.0.4) on Windows 10, and I'm trying to connect to my Index so I can issue a PUT command to adjust the failOnUnsupportedContentType parameter.

I've defined content-type = application/json and I've defined x-api-key as the admin key found in the keys blade of the Azure Search Service, but I'm receiving a 403 error when I initiate the PUT command.  I've regenerated my admin key

[2019-03-05 20:02] woodrum commented on #26201
Thank you… I did test what you provided and it does work.  I appreciate it.

From: KrishnaG-MSFT <notifications@github.com>
Sent: Tuesday, March 5, 2019 2:17 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Woodruff, Matthew M <Matthew.Woodruff@sluhn.org>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [MicrosoftDocs/azure-docs] Possibility for not equals (#26201)

[2019-03-05 20:03] Chai-NED commented on #19247
The sample C code link is still broken

[2019-03-05 20:07] YutongTie-MSFT commented on #25148
@SeaDude Could you please email us at azcommunity@microsoft.com? Please provide us with your subscription ID and the URL for this thread. We may provide you a free ticket to help. Thank you.

[2019-03-05 20:15] admintgal opened #26284 "Tokens impacted by policy"
Quick question, in this doc it's specified that when claimtype  jwt is specified it applies to the jwt token.  Does a claim mapping policy add the mapped claim to the access token, the id token or both as both are jwt's?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 195c79a3-ccc5-8c6a-233e-95e344a9b4df
* Version Indep

[2019-03-05 20:18] jekroes commented on #26269
Thank you for pointing this out. I want to apply this rule to the users with specific wording in the Description field in AD. I couldn't see how I could add the custom field.

[2019-03-05 20:20] TravisCragg-MSFT commented on #25688
@CeciAc We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-05 20:20] #25688 closed

[2019-03-05 20:23] #16940 closed

[2019-03-05 20:23] #19971 closed

[2019-03-05 20:23] #25067 closed

[2019-03-05 20:23] #25775 closed

[2019-03-05 20:24] #26249 closed

[2019-03-05 20:25] bandersmsft commented on #26258
@tanyadenton I'm sorry you didn't get the assistance you were expecting from Support. However, Support is usually your best option to get problems resovled quickly. Github issues posted here are intended to collect problems people experience as they use the product documentation. Based on direct customer feedback left here, we try to clarify/improve the docs so that the next reader will have a imp

[2019-03-05 20:35] kraigb commented on #26267
You can just make edits whenever you want. It generates a PR that I then review and merge.

[2019-03-05 20:35] Alberto-Vega-MSFT commented on #26104
Hi @HaraldHeide Thanks for reaching out! Are you still facing this issue?
You mentioned that you got problems here:

Would you please share the errors you were seeing when trying that?

[2019-03-05 20:45] msangapu commented on #26223
Hi team, I spoke w/ @nickwalkmsft and this problem was specific to his cloud shell environment. The extension is now part of core and does not need to be installed.

#please-close

[2019-03-05 20:45] YutongTie-MSFT commented on #25953
@CeciAc  Hi CeciAc, the customer is asking using the following big screenshot of the original document, I have no access to fix the document, could you please do it? Thank you.

[2019-03-05 20:54] YutongTie-MSFT commented on #25957
@YaraZakaria Hi, thanks for your feedback. It means that, when you deployed your web service, it can receive and return data using REST APIs. Users has the authorization can use it.

[2019-03-05 20:57] tescales commented on #20815
Any updates on 1809 support for Nvidia Grid drivers/NV6 instances?

[2019-03-05 20:59] cboghy commented on #26080
@neeleshray
Thank you for your explanations! I interpreted the "Member" and "Guest" user types that I see in the portal as account types and that confused me.

[2019-03-05 20:59] #26080 closed

[2019-03-05 21:02] Jak-MS commented on #26267
This is handled in https://github.com/MicrosoftDocs/azure-docs/pull/26271 .

#please-close

[2019-03-05 21:03] femsulu commented on #26281
@AlexanderDignan Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-03-05 21:03] MicahMcKittrick-MSFT commented on #25543
@sybrenstuvel so it looks like when it comes to batch VMs there is a different naming system in place than what is in place for say standard VMs. Which is why when you use this doc to get the resource names you get back names that are not identical to the node names in your batch nodes.

The scope for looking up scheduled events in this manner is delivered to
+ VMs in a cloud service
+ VMs in an A

[2019-03-05 21:10] anushreeringne opened #26286 "How to RDP into an instance of the VMSS?"
We are unable to add the InboundNatRules through portal as only InboundNatPools seem to be supported.
How to add the rule to RDP into the VM using InboundNatPools

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92e965d9-bda3-ba82-00e0-a4c8b30a23cf
* Version Independent ID: d00377a2-9524-d17e-e98c-780a633d70ce
* Content:

[2019-03-05 21:15] TravisCragg-MSFT commented on #26106
@aquibqureshi26 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-05 21:20] koralski commented on #25882
Thanks for discovering the issue. We will fix the script and update it with the next release (usually a month)

[2019-03-05 21:22] georgewallace commented on #25882
@MicrosoftDocs/azure-cxp-triage please change from doc-bug to product-bug.  You can leave it assigned to me and I will follow up on this one.

[2019-03-05 21:23] sebnyberg opened #26288 "Helm hangs unless manually opening a port-forward"
Following this tutorial, helm commands such as `helm version` hangs after showing the client version.

1. Create cluster with rbac enabled, I've tried clusters both via the portal and CLI. `kubectl api-versions` returns `rbac.authorization.k8s.io/v1` and `rbac.authorization.k8s.io/v1beta1` as expected.
2. Fetch and set context via `az aks get-credentials ...` both with and without the `--admin` fl

[2019-03-05 21:23] MarileeTurscak-MSFT commented on #26182
Hi @crk2904 ,

Please post your question to MSDN and I will follow up with you. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

We are moving away from these sorts of product questions in the doc comments.

[2019-03-05 21:23] #26182 closed

[2019-03-05 21:24] TravisCragg-MSFT commented on #26268
@jbpaux Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-05 21:25] spelluru commented on #15248
https://github.com/MicrosoftDocs/azure-docs-pr/pull/68639

[2019-03-05 21:26] TravisCragg-MSFT commented on #26118
@kilasuit absolutely. I am not the author of this doc, but I will have them take a look

Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-05 21:28] timheuer commented on #25775
@cephalin actually just ran through the tutorial (used DOTNETCORE|2.2) and it does produce the new image i have above.

[2019-03-05 21:31] Erikre commented on #26189
Elmer (@thinkingserious) may know the best person to contact to confirm this update. This change does look correct. Please confirm that the 6th parameter of SendGrid's CreateSingleEmailToMultipleRecipients() function involves the displayRecipients boolean value. If so, please make this update.

[2019-03-05 21:37] laurenhughes commented on #24561
Thanks for the additional feedback, @gxgrammatikos. Since you were able to successfully create an account, I'm going to go ahead and close the issue. I've passed the Enterprise Agreement Subscription on to the engineering team to investigate.

#please-close

[2019-03-05 21:38] PingPongSet opened #26289 "Single HttpClient instance vs HttpClient pool"
My question is that, is a single static HttpClient instance enough? Are ASP.NET CORE managing pool of HttpClient? If so, how to implement HttpClient pool in Azure Functions?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb8d85a7-1ca3-71f4-85fb-7fb02850b60e
* Version Independent ID: 3d7daee4-fd6d-0e96-299a-90b3637e6150

[2019-03-05 21:44] aljo-microsoft opened #26290 "AZ Module Update for Service Fabric"
service-fabric-cluster-change-cert-thumbprint-to-cn.md

Is using older commandlets, and should be using: https://github.com/Azure/azure-powershell/blob/master/documentation/announcing-az-module.md

Official Docs:
https://www.powershellgallery.com/packages/Az/1.4.0

Migration from old modules to this module doc:
https://github.com/Azure/azure-powershell/blob/master/documentation/announcing-az-modul

[2019-03-05 21:50] sdgilley commented on #25939
The notebook was updated 8 days ago; it no longer has the local model section..  It may be that you have an older version in your Azure Notebook library.  The update tutorial notebook is here: https://github.com/Azure/MachineLearningNotebooks/blob/master/tutorials/img-classification-part1-training.ipynb

#please-close

[2019-03-05 21:52] sesispla commented on #19456
@renattomachado is not usual in basic usage scenarios.

We have the same issue here. Using Azure DevOps to deploy Azure resources with Terraform. Due to security requirements, we need to turn on VNET firewall rules. As soon as it is on, Terraform is not able to retrieve Storage account information (403) and the deployment pipeline break.

"Allow trusted Microsoft services to access this storage ac

[2019-03-05 21:52] #24561 closed

[2019-03-05 22:00] SnehaGunda commented on #24551
The above PR updates the doc to clarify this sentence. We will now close this issue.

#please-close

[2019-03-05 22:11] sebnyberg commented on #26288
Found the problem, I had previously installed the tiller standalone and exported HELM_HOST=localhost:44134 in my environment. My bad.

Feel free to close the issue.

[2019-03-05 22:12] erosinger opened #26291 "How to deal with guest users (cloud users managed by other Azure ADs)"
Dear team, thanks for this awesome guide. I was wondering how cloud users managed by other Azure ADs (invited as guest) should deal with this. Company policies might enforce different rulesets or forbid changing the passwords, so that hash synchronization could be enabled in the newly created Azure AD DS. Any thoughts or recommendations? Best, erosinger

---
#### Document Details

⚠ *Do not edit t

[2019-03-05 22:13] SnehaGunda commented on #23907
@jasonvenema thanks for your commands. I am working with our team to debug some I errors I ran into with the new commands. Will update the docs when they are fixed.

[2019-03-05 22:15] MarileeTurscak-MSFT commented on #26284
@admintgal
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-05 22:29] cherylmc commented on #26118
@kilasuit  We do have two articles regarding encrypted traffic over ExpressRoute circuits: https://docs.microsoft.com/azure/expressroute/site-to-site-vpn-over-microsoft-peering and https://docs.microsoft.com/azure/expressroute/expressroute-howto-ipsec-transport-private-windows. Both are listed in the table of contents to the left of the articles "Encrypt traffic over circuits".  I hope they are he

[2019-03-05 22:30] cherylmc commented on #26118
#please-close

[2019-03-05 22:32] TravisCragg-MSFT commented on #26118
@kilasuit Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-05 22:32] #26118 closed

[2019-03-05 22:34] DanJ210 opened #26292 "Difference Between Application and User Roles Not Clear"
I'm trying to understand the difference. I don't know what the `Required Permissions` blade is. There's not much but one or two sentences explaining the difference of an Application role. At the end of the doc, under `Assign users and groups to roles` #8, it states to `Select Roles` from the `Add Assignment` pane and that all the roles declared earlier in the app manifest will show up. Well I've d

[2019-03-05 22:39] b-juche commented on #25793
Based on the conversations above and input from grimurjonsson, I believe this is resolved.  This issue was also not related to the topic/article.

Closes: #25793

[2019-03-05 22:40] asmalser-msft commented on #10957
Hi folks, we added a regex example for the Replace() function titled "Replace characters using a regular expression" in the doc. Please let us know if that is satisfactory, thanks!

[2019-03-05 22:46] priyamohanram commented on #24913
@Shashishailaj: Thanks for fixing the article
@IanMercer : Thanks for the feedback. The documentation has been updated with the new information. Please feel free to open a new issue if you have any further concerns. Thanks!

#please-close

[2019-03-05 22:49] binoyjt commented on #26120
@georgewallace Agreed. But my point is that the Mappings Table has a Region specified for Log analytics that is actually not present.  The mapping lists the region of "CENTRAl US" but in actual fact that region does not have an LA Service.

![image](https://user-images.githubusercontent.com/40192393/53842952-0e3e1d80-3ff5-11e9-9f5b-02eb4b5ded81.png)

[2019-03-05 22:49] priyamohanram commented on #24133
@LaurentLesle : Thanks for the feedback. I have added this as a work item to my backlog and I will update the documentation as soon as possible. Please feel free to open a new issue if you have any other concerns. Thank you!

#please-close

[2019-03-05 22:50] 24hector opened #26293 "Role driven permissions structure"
Hi,
We have a tabular model on Azure SSAS and we are generating PowerBI reports based on that model. We want to build a dynamic steering of the access of cube data based on which user logs in. By that I mean that depending on which report the user runs that a different slice of the cube is performed(with the help of dax filters). I have created different roles in the cube but I noticed that becaus

[2019-03-05 22:52] priyamohanram commented on #25875
@prashanthyv : Thanks for reporting the issue. We do have documentation on [using managed identity with VM scale sets](https://docs.microsoft.com/azure/active-directory/managed-identities-azure-resources/qs-configure-portal-windows-vmss), hope this helps. Thanks for the feedback about discussing pros and cons of system-assigned vs user-assigned managed identity. I have added this as a work item on

[2019-03-05 22:54] MarileeTurscak-MSFT commented on #26211
Yes, that appears to be what's going on.

Have you tried the troubleshooting steps in the document?

1. Delete the lock as described in Lock resources to prevent unexpected changes.https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-resource-manager/resource-group-lock-resources.md
2. If you want to keep the lock, make the role assignment permanent or use a break-glass account.

[2019-03-05 22:58] SnehaGunda commented on #26282
@bigdatamoore the current link essentially points to the same reference content you mentioned. There are client and management packages for the Python SDK. The current link points to the top level folder. I updated it to be more easier to navigate.

![image](https://user-images.githubusercontent.com/14284405/53843371-02038300-3f57-11e9-956f-47e4c6b93448.png)

We will close this issue now.

#please

[2019-03-05 23:01] SnehaGunda commented on #26151
@rkalivarapu hope the above response helps, if not can you please reach out to use at askcosmosdb@microsoft.com, we can help you choose the right partition key for your scenario.

[2019-03-05 23:01] CarlRabeler commented on #25972
@Mike-Ubezzi-MSFT if no further questions, please close

[2019-03-05 23:12] mike-urnun-msft commented on #26289
Hi @PingPongSet Thank you for your feedback! We will review and update as appropriate.

[2019-03-05 23:27] SaurabhSharma-MSFT commented on #26280
@markl181 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-03-05 23:27] #26094 closed

[2019-03-05 23:27] SaurabhSharma-MSFT commented on #26094
@leewsimpson We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-05 23:29] YutongTie-MSFT commented on #26035
@mx-iao Hi, could you please help to check this issue and add more details if necessary? Thank you.

[2019-03-05 23:38] CastleArg commented on #25434
Ok so I've finally anwsered my question of:
 what files are actually produced and where by func extensions install command?

the answer is - bin and obj folders with dlls - even if you're running a nodeJs azure function.
This was not obvious to me immediately as they were not displaying in vsCode and were gitIgnored.

After copying these as part of my build process the extensions now work, althoug

[2019-03-05 23:51] dcbrown16 commented on #24551
Great, thanks @SnehaGunda!

[2019-03-05 23:51] #24551 closed

[2019-03-05 23:56] aashishb commented on #22716
We are working on adding the documentation to update the SSL certificate. I will get back to this issue in a couple of weeks

[2019-03-06 00:01] MicahMcKittrick-MSFT commented on #26286
@anushreeringne to RDP to an Scale Set instance you simply RDP using the public ip of the load balancer and the associated port that maps to a VM.

For example, if you go to the resource group associated with your VMSS you will see a load balancer. Select that load balancer and you will find a public IP

![image](https://user-images.githubusercontent.com/32313503/53845877-9e318800-3f5f-11e9-8ee6-9

[2019-03-06 00:02] MicahMcKittrick-MSFT commented on #26288
@sebnyberg thanks for the update. Glad to hear it has been resolved.

[2019-03-06 00:02] #26288 closed

[2019-03-06 00:04] MicahMcKittrick-MSFT commented on #26290
Thanks @aljo-microsoft

I will assign to @rwike77 to add this to his backlog.

[2019-03-06 00:08] KumudD commented on #24200
#please-close

[2019-03-06 00:12] rohinkoul commented on #23399
@CloudCrusader : Could you elaborate on this issue. I am not sure what is the change you are looking for and why is the diagram incorrect?

[2019-03-06 00:20] christiankuhtz commented on #18519
#please-close

[2019-03-06 00:22] TravisCragg-MSFT commented on #18519
@summermick We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-06 00:22] #18519 closed

[2019-03-06 00:28] TravisCragg-MSFT commented on #24200
@bseymour2 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-06 00:28] #24200 closed

[2019-03-06 00:38] toenie23 commented on #26044
@YutongTie-MSFT sorry i am just seeing this notification, how do i retrieve the full URL with protocol?

[2019-03-06 00:41] Karishma-Tiwari-MSFT commented on #26014
@wandhydrant I am reaching out to the product teams internally and will share once I have an update.

[2019-03-06 00:45] SaurabhSharma-MSFT commented on #25246
@blueelvis I have checked with the products team and as per them the limit is currently not disclosed but it is recommended you should keep the number of objects low, otherwise your Key Vault can become unmanageable and you will have a huge bill. That said, we have seen Key Vaults with thousands of secrets/keys/certificates. As long as you can cope with certain things such as client-side filtering

[2019-03-06 00:45] MarileeTurscak-MSFT commented on #26276
@AE-MS
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-06 00:46] MarileeTurscak-MSFT commented on #26279
@mikeg-roebbelen
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-06 00:46] SaurabhSharma-MSFT commented on #26269
@gate502 The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2019-03-06 00:46] #26269 closed

[2019-03-06 00:47] MarileeTurscak-MSFT commented on #26291
@erosinger
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-06 00:49] MarileeTurscak-MSFT commented on #26292
@DanJ210
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-06 00:52] MarileeTurscak-MSFT commented on #26214
@JamesDickson108 Are you referring to the screenshot?

[2019-03-06 00:53] Karishma-Tiwari-MSFT commented on #26025
@alesbobek Thanks for providing the feedback. Since this article is for Ubuntu, we will not be able to incorporate your feedback in this doc. If there are plans to create a doc for Debian, we have your feedback.
If your issue is around a specific scenario which is not covered in the docs, please open a post on [MSDN](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=WAVirtualMachines

[2019-03-06 00:53] #26025 closed

[2019-03-06 00:55] zer0big commented on #25683
@TomArcherMsft I'm still seeing this error page when clicking that link.
![image](https://user-images.githubusercontent.com/38598117/53847865-a3411680-3ff5-11e9-8450-e1fb7c494427.png)

[2019-03-06 01:03] #24133 closed

[2019-03-06 01:04] #24913 closed

[2019-03-06 01:04] #25793 closed

[2019-03-06 01:04] #25875 closed

[2019-03-06 01:04] #26223 closed

[2019-03-06 01:04] #25939 closed

[2019-03-06 01:04] #26267 closed

[2019-03-06 01:05] #26282 closed

[2019-03-06 01:07] TomArcherMsft commented on #25683
@zer0big What's the URL of the page that contains the link? And what the URL text for the URL that you are clicking?

[2019-03-06 01:13] A144546 commented on #8085
Hi there.
I couldn't find the new AZ command anywhere.
Has this been updated?

[2019-03-06 01:27] zer0big commented on #25683
This link is from "https://docs.microsoft.com/ko-kr/azure/virtual-machines/linux/tutorial-build-deploy-jenkins".
- Content: [자습서 - Azure DevOps Services를 사용하여 Jenkins에서 Azure VM으로 CI/CD](https://docs.microsoft.com/ko-kr/azure/virtual-machines/linux/tutorial-build-deploy-jenkins)
![image](https://user-images.githubusercontent.com/38598117/53849111-249aa800-3ffa-11e9-99c8-443fbf5344f9.png)

[2019-03-06 01:33] TomArcherMsft commented on #25683
@zer0big Thanks. I'll work on resolving this.

[2019-03-06 01:38] amms-mnl commented on #19456
Are there any news on this one? we want our storage accounts to be secured but we also want to deploy and use DevOps Pipelines. and having the same issues like everyone else here.

[2019-03-06 01:47] shashishailaj commented on #26227
@Rahat-3858 We will now close the issue .

[2019-03-06 02:00] TomArcherMsft commented on #25683
@zer0big Is this the sample? https://github.com/azooinmyluggage/fabrikam-node-api
I'm in the process of connecting with the author to move the sample to a feature team repo.

[2019-03-06 02:18] femsulu commented on #19976
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-03-06 02:18] #19976 closed

[2019-03-06 02:26] mx-iao commented on #26035
Hi @benc-uk,
Yes it is possible to use datastores with ScriptRunConfig.
Let's assume we are using this MNIST [example](https://docs.microsoft.com/en-us/azure/machine-learning/service/tutorial-train-models-with-aml), but using ScriptRunConfig instead of an Estimator.
Here is the relevant code:

[code]
Let us know if you have any issues with this. Thanks for the feedback! We will improve the documen

[2019-03-06 02:30] shashishailaj commented on #25950
@KalleHallivuoriFuturice Hope you are good. We will now close this issue . Should you have any further query on the same please tag me to your reply or you can open a new issue referencing this one and we will help you with the same.

[2019-03-06 02:30] #25950 closed

[2019-03-06 02:33] DixitArora-MSFT commented on #26149
@blueelvis  Just following up here... Hope my previous comment helps.

[2019-03-06 02:38] grahamglover commented on #9039
Please vote for this here: https://feedback.azure.com/forums/270578-data-factory/suggestions/36249289-postgresql-as-sink

[2019-03-06 02:49] SogoGolf opened #26311 "Paging large dataset example nodejs"
hi folks, loving CosmosDB and the docs! Can you please add an example of querying a large data set eg, 1000+ docs and how "paging" should be followed for the V2 JS API (ie latest as at Mar '19) ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7ad84a6-f6b6-dd21-e7be-865d922c7ad4
* Version Independent ID: 1f5a0315-d7b4-

[2019-03-06 02:50] kazshi commented on #25153
@roiyz-msft Reopen to track the status since it's not been updated yet (as of 3/5) - I will close this once the downloadable file was up-to-date.

[2019-03-06 02:56] neil-rubens opened #26312 "Making backend API (Azure Functions) accessible ONLY via API Management Gateway"
APIMG provides very nice security layer with policies for OAuth2; for offloading auth; e.g.: https://docs.microsoft.com/en-us/azure/api-management/api-management-access-restriction-policies

However the backend  Azure Functions would still stay exposed; if somebody calls them directly.

How could make azure functions accessible only via API Management Gateway?

A similar question was asked on http

[2019-03-06 03:19] CHEEKATLAPRADEEP-MSFT commented on #26266
@LukaszWAW  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-06 03:19] #26266 closed

[2019-03-06 03:23] CHEEKATLAPRADEEP-MSFT commented on #26283
@AlexFiala Thank you for your interest in Azure products and services. We are investigating and will get back to you soon.

[2019-03-06 03:24] CHEEKATLAPRADEEP-MSFT commented on #26293
@24hector Thank you for your interest in Azure products and services. We are investigating and will get back to you soon.

[2019-03-06 03:25] CHEEKATLAPRADEEP-MSFT commented on #26311
@SogoGolf Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-03-06 03:27] CHEEKATLAPRADEEP-MSFT commented on #26312
@neil-rubens Thank you for your interest in Azure products and services. We are investigating and will get back to you soon.

[2019-03-06 03:41] SuperChenSSS opened #26315 "Calling remote failed by the curl command"
When walking through the doc, I find that the curl command would only work by calling:
"curl -w '\n' -d AzureFunctionsTest https://fabrikam-functions-20170920120101928.azurewebsites.net/api/HttpTrigger-Java&code={your function key}".
If you don't enter the function key after the link, the API request would fail to retrieve the data.
I think the doc should be revised by adding function key to the c

[2019-03-06 03:50] aforank commented on #26265
That's under "Use the remoting V2 Stack". Look for "Remoting V2 (interface compatible) stack"

[2019-03-06 03:51] jeremyhagan opened #26316 "PowerShell commands for encrypting existing VM fail with the -VolumeType param"
I followed the prerequisites and command on this page to enable encryption and each time the command:
Set-AzVMDiskEncryptionExtension -ResourceGroupName JeremyTest -VMName TestVM -DiskEncryptionKeyVaultUrl $URI -DiskEncryptionKeyVaultId $RID

Failed with the following error:
ErrorMessage: VM has reported a failure when processing extension 'AzureDiskEncryption'. Error message: "".

After googleing

[2019-03-06 03:53] jeremyhagan commented on #26316
Title of the issue should read "without the -VolumeType param"

[2019-03-06 04:07] CHEEKATLAPRADEEP-MSFT commented on #26177
@omshiv2415 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-06 04:07] #26177 closed

[2019-03-06 04:07] CHEEKATLAPRADEEP-MSFT commented on #26215
@RealNoArms We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-06 04:07] #26215 closed

[2019-03-06 04:07] CHEEKATLAPRADEEP-MSFT commented on #26234
@xiopeter3345 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-06 04:07] #26234 closed

[2019-03-06 04:10] zer0big commented on #25683
@TomArcherMsft I think so. It must be omitted "-api" in the link url.

[2019-03-06 04:21] HeidiSteen commented on #26283
@AlexFiala, I think you're using the wrong parameter -- it's just api-key, without the "x".  Sounds like you are using x-api-key?  I get a 403 when I use that parameter also.
#please-close

[2019-03-06 04:28] SychevIgor commented on #21868
@cjgronlund ping

[2019-03-06 04:29] SychevIgor commented on #8268
@mike-urnun-msft hello

[2019-03-06 04:31] SychevIgor commented on #15334
@femsulu ping

[2019-03-06 04:34] #17902 closed

[2019-03-06 04:39] sujayvsarma commented on #26147
Yes, I did. That does not return the data I am looking for.

[2019-03-06 04:39] CHEEKATLAPRADEEP-MSFT commented on #26283
@AlexFiala We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-06 04:39] #26283 closed

[2019-03-06 04:42] SumanthMarigowda-MSFT commented on #26316
@jeremyhagan Thanks for your question. We are checking on this and will respond to you soon.

[2019-03-06 05:00] KetanChawda-MSFT commented on #26030
@blueelvis Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-06 05:00] #26030 closed

[2019-03-06 05:02] mike-urnun-msft commented on #26315
Hi @SuperChenSSS Thank you for your feedback! We will review and update as appropriate.

[2019-03-06 05:02] KetanChawda-MSFT commented on #26188
@donquijotedelamancha Thank you for confirming. I am glad that it helped.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion.

[2019-03-06 05:02] #26188 closed

[2019-03-06 05:07] CHEEKATLAPRADEEP-MSFT commented on #26202
@dlenin Could you ask your question in the forums? The audience there would be a better suited to answer your question. [https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory)

[2019-03-06 05:09] SumanthMarigowda-MSFT commented on #25607
@Morishiri Apologies for the delay!
Yes you should be able to configure a CDN endpoint to hit a private Blob container (do not use Static Website feature because the endpoint is completely public) through SAS tokens.  Azure CDN supports this scenario natively – sometimes you need to rewrite rules to redirect requests to the Blob endpoint with SAS tokens.

[2019-03-06 05:11] ManojReddy-MSFT commented on #26291
@erosinger Guest users who are invited using the B2B model cannot authenticate in Azure ADDS for the exact reasons you mentioned. This is documented [here](https://docs.microsoft.com/en-us/azure/active-directory-domain-services/active-directory-ds-faqs#can-guest-users-invited-to-my-directory-use-azure-ad-domain-services).

**Can guest users invited to my directory use Azure AD Domain Services?**
N

[2019-03-06 05:19] pradeeptm94 opened #26317 "Issue connecting to jupyter notebook kernel"
Using Spark 2.3 (HDI 3.6) and not able to any of the kernels. Receiving the below error:

**Connection failed
A connection to the notebook server could not be established. The notebook will continue trying to reconnect. Check your network connection or notebook server configuration.**

[2019-03-06 05:19] SumanthMarigowda-MSFT commented on #26015
@vorugantivishwanath We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-06 05:19] #26015 closed

[2019-03-06 05:33] jakaruna-MSFT commented on #25133
@saifuddin123 Did you tried the suggestion?

[2019-03-06 05:37] jakaruna-MSFT commented on #26248
@nmikuni  I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-06 05:38] jakaruna-MSFT commented on #26248
@cynthn Please take care of this issue

[2019-03-06 05:41] RohitMungi-MSFT commented on #26317
@pradeeptm94 Could you please provide more information on which tutorial or documentation you are following when you see this error?

Could you please try to refresh the notebook page and If you are using azure notebooks and if the connection failed try restarting the kernel from the tab using Kernel -> "Restart" and connect to azure from the tabs using the Azure -> "Connect to Azure" button.

[2019-03-06 05:53] wmengmsft commented on #26228
@imeya, indeed Cosmos DB today does not support returning all query results naturally sorted in Partition Key and Row Key order. We are adding Order By support to TableQuery in our Cosmos DB Table SDK. It handles both single partition and cross partition query scenarios. This sorting during query processing has certain cost to it, so it does not entirely replace Azure Table's instrinsic PK and RK

[2019-03-06 05:58] gowthamsans opened #26320 "AssertStringClaimsAreEqual"
I understand AssertStringClaimsAreEqual, and it is an helping feature, but why dont't we have opposite of that. I mean why don't we have AssertStringClaimsAreNotEqual?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 536ec32c-e27a-594d-9539-0d7d1cb8a48e
* Version Independent ID: 9f46353d-7dcd-0d5a-5d65-aeeda3922e39
* Con

[2019-03-06 05:59] imeya commented on #26228
@wmengmsft, yes, please share.

[2019-03-06 06:00] mit2nil opened #26321 "typo "tile to live""
typo "tile to live"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fb9ccc0-c5d5-79aa-420d-1add5370b580
* Version Independent ID: ccd307b6-898c-1e21-1201-1257ae3f0979
* Content: [Expire data in Azure Cosmos DB with Time to Live](https://docs.microsoft.com/en-us/azure/cosmos-db/time-to-live)
* Content Source: [articles/

[2019-03-06 06:04] shashishailaj commented on #25872
@jkovach82 . Thank you for your feature request. As per your request it seems you would like a way to assign License pool limits based on Groups on particular type of SKUs . Generally department tagging can be used in your case with Group based licensing . But limiting a particular SKU to certain numbers of Licenses for a department is something which may not be possible at this point . There is a

[2019-03-06 06:04] #25872 closed

[2019-03-06 06:17] kinglionsoft commented on #16234
Same issue. I'd like to add a parameter to PlacementConstraints:
[code]
Then, I can set different value of ChatPlacement through ApplicationParameters/Cloud.xml and ApplicationParameters/Test.xml.

[2019-03-06 06:21] aforank opened #26322 "Is there any way to enable "Remoting V2 (interface compatible) stack" on Actor service using explicit V2 classes"
Is there any way to enable "Remoting V2 (interface compatible) stack" on Actor service using explicit V2 classes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6098bd1-1c56-7d48-0eb3-97b22f9d385a
* Version Independent ID: fc535332-05b7-f366-5ec9-865b0acd014b
* Content: [Implement features in Azure Service Fabric acto

[2019-03-06 06:26] SumanthMarigowda-MSFT commented on #26235
@dcbrown16 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-03-06 06:38] iljoong opened #26323 "Sample code of `Define ingestion mapping` is not correct"
Sample code is missing `EventType` column and ordinal is not correct. It should
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae82ebd2-f7f6-5068-54f2-69c7532b6b38
* Version Independent ID: c296b6f2-d999-e40d-5b4b-f4a503a5ca27
* Content: [Quickstart: Ingest data using the Azure Data Explorer .NET Standard SDK (P

[2019-03-06 06:52] BryanTrach-MSFT commented on #26274
@brentblawat After reviewing the doc, I do agree that there is some conflicting statements. We apologize for the confusion while the new vnet feature is in preview state. As a result, we have assigned your feedback to the doc author to determine if the preview feature should be rolled out into it's own doc or a larger rewrite to provide clarity of the benefits the new vnet feature provides.

[2019-03-06 06:58] ToMakeSense opened #26324 "The "httpsOnly" property under Microsoft.Web/sites template is not working"
I am refering to ducument (https://docs.microsoft.com/en-us/azure/templates/microsoft.web/2018-02-01/sites) to create an arm template below, however, I found the `"httpsOnly": true,` property is not working, can you have a look?
[code]

[2019-03-06 07:09] bpit87 opened #26325 "Get-AzPolicyState only returns first 1000 results by default"
Please make clear in the documentation that you have to use the "-Top #####" parameter, if you want to receive more than 1000 results.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a6a5887-ea7a-5cae-b0a0-62ebc5a140ae
* Version Independent ID: 84476c7d-ab41-1f02-44c9-25ce1eaa1315
* Content: [Get policy compliance data

[2019-03-06 07:14] SumanthMarigowda-MSFT commented on #26316
@jeremyhagan Appreciate your patience!  Just to clarify have you declared the variable $RID
Just highlighting: Can you try the suggestion mentioned below and check

This is the script which I used:
`Login-AzAccount

Select-AzSubscription -Subscription "***************e"

$rgName = "<Resourcegroup name>"
$location = "East US"

Register-AzResourceProvider -ProviderNamespace "Microsoft.KeyVault"
Get-

[2019-03-06 07:21] ToMakeSense commented on #26324
Sorry for inconvenience, I found I have put "httpsOnly" under Incorrect section, it should be put under **"properties"** not **"properties\siteConfig"**, I am going to close this issue.

[2019-03-06 07:21] #26324 closed

[2019-03-06 07:22] MartinJaffer-MSFT commented on #26114
@hmayer1980 Are you trying to create a self-dependency trigger (a trigger which has a dependency on itself)?

Only existing triggers can be the target of a dependency.  This means you must first create the trigger without the dependency, click "Next", then "Finish".  Then when you next edit this trigger, it will display in the drop-down as an available dependency.

Please feel free to let me know

[2019-03-06 07:40] SadiqhAhmed-MSFT commented on #26325
@bpit87 Thanks for the feedback. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-06 07:46] benc-uk commented on #26035
Hi thanks for the example,
I did finally figure this out. The part I could find no documentation on was `run_config.data_references` and especially the `{dr.data_reference_name: dr.to_config()}` part. It seems like some undocumented magic to need to put `dr.data_reference_name` or `ds.name` and have it in an untyped dict

The RunConfig reference docs simply state this:

![image](https://user-image

[2019-03-06 07:46] SadiqhAhmed-MSFT commented on #23261
@v-maroge We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-06 07:46] #23261 closed

[2019-03-06 08:01] msrini-MSIT commented on #23320
@DacuTv , can you give me the script that you are running along with the Doc which you are referring to so that it will be better to fix the template or script to help everyone.

[2019-03-06 08:07] 24hector commented on #26293
Thank you for your assistance. To make things a bit more clear the setup we have is the following:
We have a cube and I have created two roles on this cube that slice it in different ways based on the DAX row filters created. I want for the same user to get two different PowerBI reports each mapped to one of the two roles that provides different slice of data. For that reason I created two differe

[2019-03-06 08:13] kazshi commented on #25814
@BorisB2015 Do you have any updates on this?  Thanks.

[2019-03-06 08:13] BryanTrach-MSFT commented on #26051
@Ziusking Please see the below photo for the location of the endpoints button.

The issuer url will be found in the endpoints blade pictured below. Please ensure to remove '/wsfed' from the url.

![image](https://user-images.githubusercontent.com/20250350/53862176-5af50a80-3f9b-11e9-87d1-f863071b328d.png)

If you have further questions, we invite you to open a new piece of feedback since this is d

[2019-03-06 08:17] JayKus opened #26328 "Question related to transaction costs Standard HDD and Standard SSD"
Hi there,

I've got a few questions in relation to the transaction costs for Standard HDD and Standard SSD.

I'm trying to calculate the financial break-even point for premium SSD vs Standard HDD/SSD.

- Does the price for 100K transactions at Standard HDD apply to Standard SSD as well, where 1 transaction is equal to an I/O unit of 256K? If not, what's the cost per I/O unit on a Standard SSD?
- D

[2019-03-06 08:19] snehithm commented on #26200
ETA is end of March/early April.

[2019-03-06 08:22] PramodValavala-MSFT commented on #26019
@gldraphael You are right. The Logic Apps designer seems to be loaded in an `iframe`, hence the different domain. Also, I believe it might differ based on the different portals across Azure Global, Government, China, etc.

We are assigning this issue to the content author to further investigate and update the doc accordingly.

[2019-03-06 08:22] PramodValavala-MSFT commented on #26229
@jlee-vi Just following up here... Hope my previous comment clears things up.

[2019-03-06 08:32] BryanTrach-MSFT commented on #26051
@awentzel Yes, it is possible to use a single AAD app to authenticate multiple web apps. You should be able to create a reply URL for each of your slots. Other than that, no other changes would be necessary to support multiple sites. Just ensure that each of your web app slots are configured to point to the single AAD app.

We should point out that technically each app having it's own AAD app is t

[2019-03-06 08:32] #26051 closed

[2019-03-06 08:41] imeya opened #26329 "Why cannot see the request telemetry when just enable the application insights in azure web app via azure portal?"
I have a .net framework mvc project, and I did not installed the application insights thing via visual studio.

After publish it to azure portal, then in the azure web app -&gt; application insights, I turn on the application insights.

Then browse to the web site for some minutes. But when I nav to the application insights I configured in the above steps, I cannot see any data about request. scre

[2019-03-06 08:41] gldraphael commented on #26019
Offtopic, but it'd be so much nicer if CORS wasn't required and the GET request was being made from the server side instead.

[2019-03-06 08:47] hmayer1980 commented on #26114
The trigger is saved and running (I tried also activated / deactivated).

I think it is still a preview feature and not available to everyone.

[2019-03-06 08:49] usermartin opened #26330 "Using Volumes instead of Mount"
Thank you for the good documentation.
I used a mongodb instead of the sql server and it worked well using mount.
As the docker documentation mentions to use volumes instead of mounts, i wondered how the syntax would work on this one.
I tried to use:
{
  "HostConfig": {
    "PortBindings": {
      "27017/tcp": [
        {
          "HostPort": "27017"
        }
      ]
    }
  },
  "ExposedPorts":

[2019-03-06 08:50] hmayer1980 opened #26331 "Eleborate on Migration Scenarios from V1 to V2"
Data Factory V1 had extensiv support for trigger dependencies from the beginning.
Could you elaborate in the documentation about migration screnarios?
Will there be an updated ADF Migration tool which will migrate V1 dependencies to V2 ADF?
How is it regarding self dependecy and the Initial Start of the Trigger (the first self dependey, that das not have a previous run because its outside of the w

[2019-03-06 08:58] e0 opened #26332 "Link to the MSAL.js GitHub page"
This page is good for an introduction to test out B2C with the sample SPA app but it doesn't have any information about how to integrate MSAL.js into an existing project.

I found that there is excellent documentation provided at https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-core A sentence and link to this page might be helpful to readers. It also looks like

[2019-03-06 09:00] jakaruna-MSFT commented on #26328
Thanks for your question. We are investigating and we will update you shortly.

[2019-03-06 09:04] jakaruna-MSFT commented on #26322
Thanks for the question! We are investigating and will update you shortly.

[2019-03-06 09:04] KetanChawda-MSFT commented on #26289
@PingPongSet The `HttpClient` class instance acts as a session to send HTTP requests. An `HttpClient` instance is a collection of settings applied to all requests executed by that instance. In addition, every `HttpClient` instance uses its own connection pool, isolating its requests from requests executed by other `HttpClient` instances.

 `HttpClient` is intended to be instantiated once and reuse

[2019-03-06 09:04] pawp81 opened #26333 "Strong passwords"
If I am not mistaken “strong” passwords in AAD for cloud users are enabled by default and cannot be turned off.
In this article do we need to mention “strong password only” if there are non-other passwords than strong?

Strong passwords only: Requires three out of four of the following:
o	Lowercase characters.
o	Uppercase characters.
o	Numbers (0-9).
o	Symbols (see the previous password restrictio

[2019-03-06 09:08] ckotsidimos opened #26334 "GA"
Do we have a roadmap for GA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a558a9e-10d0-ea34-8780-d9084f87f952
* Version Independent ID: 60dda4e0-7630-f358-aa3a-6a992eae61e2
* Content: [Managing the Azure Storage Lifecycle](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-lifecycle-management-concepts#fee

[2019-03-06 09:10] Adebeer commented on #10813
I've been happy with the add node process as described above - we've had a 18 node cluster running just fine for a few weeks now.
Unfortunately...I've now run into a problem trying to remove 6 of the nodes (these unfortunately failed due to some on-premise infrastructure changes and I've been unable to recover this).

3 of these nodes used to be Seed nodes - essentially we had 9 - but it will be r

[2019-03-06 09:14] goupadhy opened #26335 "Wrong description in Line 1 of the document."
This tutorial shows you how to use a system-assigned managed identity for a Linux virtual machine (VM) to access Cosmos DB.

Should have been Azure Data lake Store instead of Cosmos db

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae65a944-5293-820f-11e8-751865f060bf
* Version Independent ID: 72c29833-74a0-6c4a-8748-d

[2019-03-06 09:26] ChiragMishra-MSFT commented on #26331
@hmayer1980 Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-03-06 09:26] ggailey777 commented on #25655
@jeffhollan can you help out here, or should we move this discussion to the Forums or Stack Overflow?

[2019-03-06 09:31] angoyal-msft commented on #26073
@Raviafkumar Thanks for your feedback. This is a duplicate thread of [#26190](https://github.com/MicrosoftDocs/azure-docs/issues/26190). So this issue is being taken care in that thread. Hence closing this issue.

[2019-03-06 09:31] #26073 closed

[2019-03-06 09:32] imeya opened #26339 "what's the meaning of custom metrics with dimensions?"
In this [section](https://docs.microsoft.com/en-us/azure/azure-monitor/app/pre-aggregated-metrics-log-metrics#why-is-collection-of-custom-metrics-dimensions-turned-off-by-default), it mentions "custom metrics with dimensions".

Not clear about "custom metrics with dimensions", can you please explain? thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2019-03-06 09:34] PramodValavala-MSFT commented on #26095
@jordanchang As far as standalone subscriptions are concerned, they are indeed planned to be supported in other tiers as mentioned in the [consumption tier announcement](https://azure.microsoft.com/en-us/blog/announcing-azure-api-management-for-serverless-architectures/) (check under the New Features section).

**_But_** `git` management is something I believe won't be feasible to support in Consu

[2019-03-06 09:40] trinadhkotturu commented on #24576
It refers to both. IaaS VM backup by default truncates log backups and this can have an issue when taking snapshot. So, if you have configured Sql backup either locally or via Azure Backup enhanced protection, it will get into the same issue. So, in order to avoid that, we request you to set VSSCOPY to true so that we don't truncate the logs.

[2019-03-06 09:42] trinadhkotturu commented on #25104
You can only recover from GRS copy in the scenario when Azure declared the regional failure and mentions that they are failing over to other region. This is not applicable at the outage of individual servic eoutage but Azuredeclaring that they are failing over to paired geo.

[2019-03-06 09:44] SumanthMarigowda-MSFT commented on #26173
@MaxMelcher Command looks fine I was able to create custom domain.

Set-AzStorageAccount `
    -ResourceGroupName "msrini-Fileshare" `
    -AccountName "filesharetest8" `
    -CustomDomainName "www.******************.com"

![capture](https://user-images.githubusercontent.com/44606021/53871590-8cfd7f80-4022-11e9-9429-95479158f612.PNG)
Add your storage account to DNS-Zone->Add record set

[2019-03-06 09:46] RohitMungi-MSFT commented on #26246
@diberry FYI..
@fz-29 I used one prebuilt domain for my app and tested my endpoint with some queries.

For v1 I trained the default domain and published it as v1. Then tested the endpoint with the following query:
**schedule a meeting with john smith in Seattle next week**

After some time it listed this utterance in my "Review endpoint utterances" tab

![image](https://user-images.githubuserconte

[2019-03-06 09:46] blueelvis commented on #26030
@KetanChawda-MSFT  -- Thanks for answering the questions. We would be deploying around 20-30 functions which would be processing different files so it is best to split them into separate apps. Plus it helps me with the deployments.

[2019-03-06 09:47] blueelvis commented on #26149
@DixitArora-MSFT - Thanks for the clarification! Is it possible to add this explicitly in the document as well?

[2019-03-06 09:52] shashishailaj commented on #26236
@Ruizean Could you please us know what part you think is outdated and we can surely update the same.

[2019-03-06 09:52] smoms commented on #25783
@kgremban indeed is only for iotedge, i can execute docker with no sudo

[2019-03-06 09:53] chrislewisdev2 opened #26340 "Typeo"
In the last sentence of the last paragraph, I think you mean:  "When you remove the TTL property from the container the items will NEVER expire" (referring to items with their own overriden TTL values).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae1b1c71-a8ca-2bba-202e-f74a9414ced4
* Version Independent ID: 65ce6b1

[2019-03-06 09:53] PixelRobots opened #26341 "Issue running the scripts"
Every time I run the scripts I keep getting the following error.

Method invocation failed because [Microsoft.IdentityModel.Clients.ActiveDirectory.AuthenticationContext] does not contain a method named 'AcquireToken'.

This is happening on multiple computers.

Any idea on a fix?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-03-06 09:54] shashishailaj commented on #25968
@bastyuchenko Could you please let us know if explanation suggested above worked for you ?

[2019-03-06 09:54] andyjcooperuk commented on #19974
hi @jeevansd, just checking in to see if you are still looking for Q1 release for this? Thanks

[2019-03-06 09:55] angoyal-msft commented on #26323
@iljoong
Thanks for your feedback. We are investigating this issue actively and will get back to you soon.

[2019-03-06 10:00] JimmyLS opened #26342 "Hard-coded internal URLs generated through Javascript (for example) will not work."
I know the Hard-coded internal URLs translation cannot work using Option 3: Use the link translation setting. Is this also true for Option 1 and Option 2? Or in other words, Will Option 1 and Option 2 translate Hard-coded internal URLs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15155736-f2c4-f743-1d69-a55e4d317661

[2019-03-06 10:02] ytugarev opened #26343 ""for production deployments, a hub and spoke model is recommended""
Who and why recommends it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac13cbf3-f230-7e85-d57d-cba3196a166c
* Version Independent ID: f4f0c94a-5a43-94e2-d8e5-19cf167c188a
* Content: [Tutorial: Deploy and configure Azure Firewall using the Azure portal](https://docs.microsoft.com/en-us/azure/firewall/tutorial-firewal

[2019-03-06 10:02] bastyuchenko commented on #25968
@shashishailaj
No, the explanation is about nothing. As I understood that @MohitDhingra-MSFT  is not sure and doesn't know is it possible to do in code or not. I have used user and password and it does not work because of MFA. As I understood AppPassword was created to avoid MFA and it's possible to do in Microsoft applications like outlook but I haven't found any proof that it is possible in my c

[2019-03-06 10:03] MaxMelcher commented on #26173
For subdomains, in your case www, it works. For e.g. Melcher.dev it does not work.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: SumanthMarigowda-MSFT <notifications@github.com>
Sent: Wednesday, March 6, 2019 10:44 AM
To: MicrosoftDocs/azure-docs
Cc: Max Melcher; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Mapping to root domain does not work (#26173)

@Ma

[2019-03-06 10:03] michaelspinks opened #26344 "Set and Retrieve a secret - Portal"
I see that the article shows you how to Add or Set a Secret but I can't see anywhere in the article where it shows how to retrieve the secret?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23617aaa-af93-2f09-5a7a-2a9a977dc5f2
* Version Independent ID: 0d68d344-4b56-6f3b-ac02-08d43e2ac559
* Content: [Azure Quickstart -

[2019-03-06 10:06] robert4os opened #26345 "API Docu"
Hi,

I have tried it with Postman and it works, but the Vision API Reference and Explorer linked from this docs page does not yet support it.

I am referring to this section in the page: 'The brand detection feature is part of the Analyze Image API.' -- best, Robert

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d86f73

[2019-03-06 10:07] angoyal-msft commented on #26144
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-06 10:07] #26144 closed

[2019-03-06 10:15] SumanthMarigowda-MSFT commented on #26334
@ckotsidimos We are targeting end of this quarter for GA. When it is globally available you may check [here ](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-lifecycle-management-concepts)in the official documentation of blob life cycle management and also you can [subscribe ](https://azure.microsoft.com/en-in/blog/azure-blob-storage-lifecycle-management-public-preview/)to the blob to

[2019-03-06 10:18] angoyal-msft commented on #26340
@chrislewisdev2 Thanks for your feedback, I have assigned this issue to the content author to help you better on this.
@markjbrown Could you please look at this issue and update the document appropriately.

[2019-03-06 10:25] ckotsidimos commented on #26334
Thanks!!!

[2019-03-06 10:27] trinadhkotturu commented on #24751
You can use Cloud Shell available in portal to achieve this. Please select PowerShell after you launch Cloud Shell.

[2019-03-06 10:31] SumanthMarigowda-MSFT commented on #26334
@ckotsidimos We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-06 10:31] #26334 closed

[2019-03-06 10:34] CHEEKATLAPRADEEP-MSFT commented on #26197
@linda33wj Could you please look into this issue?

[2019-03-06 10:35] CHEEKATLAPRADEEP-MSFT commented on #26293
@Minewiskan Could you please look into this issue?

[2019-03-06 10:38] NathanielRose opened #26347 "Provide better instructions on how to get git credentials for Azure API management service using REST api"
The API Management Service REST calls are not intuitive on how to generate the git credentials to clone the repo from my API service and push my policies.

I can check to see if the service has REST API management enabled using a http GET call. It returns a response body of
[code]
Unsure how to attain the git secret for the apim user to clone my repo. The secret can only be generated through the p

[2019-03-06 10:41] shashishailaj commented on #25968
@bastyuchenko Thank you for quick response. We apologize that the provided information was not useful to you . But app passwords were designed to serve as second factor for Microsoft legacy applications which could not work with MFA as per my knowledge and hence it may not be possible to use in your custom .NET code.

[2019-03-06 10:44] angoyal-msft commented on #26311
@SogoGolf I have assigned this issue to the content author to help you better with this.
@SnehaGunda Could you please look at this issue and update the document appropriately.

[2019-03-06 10:50] alec-lieberman-ef opened #26348 "ODBC mapping for nested collections"
Hello,

I am working on creating an ODBC mapping for a cosmos db collection that contains a few nested collections. A sample of the schema looks like this:

"courseList": [
        {
            "id": "4cbad5b6-c499-47c8-b9cf-0728063e0b7d",
            "documents": [
                {
                    "id": "affba13d-725e-4c4f-84b5-c9aae0f06f9e",
                    "uploadedDateTimeUtc": "2019

[2019-03-06 10:51] blueelvis commented on #25246
@SaurabhSharma-MSFT - Thanks a lot for checking! I wonder why the limit is not disclosed if it is there. Whatever you said about the number of objects impacting performance, that makes sense. Thanks!

[2019-03-06 10:53] EdwinGomes opened #26349 "Step 8. In the Add Azure VMs blade, click Create, no longer applies"
Step 8. In the Add Azure VMs blade, click Create, under To onboard an Azure Resource Manager VM for management by Azure Automation State Configuration, no longer applies.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96a48d43-dc10-b334-3774-b72ea10efdb7
* Version Independent ID: e56beb8a-da04-b799-8a04-4bed0b094836
*

[2019-03-06 10:53] danimir commented on #8085
@A144546 No, CLI 2.0 is not supported at this time. You can use other means available to you (CLI 1.0 and PowerShell). Thank you.

[2019-03-06 10:57] neeleshray commented on #26143
We will be closing this thread now. You could re-open the thread if you need further help.

[2019-03-06 10:57] #26143 closed

[2019-03-06 10:57] neeleshray commented on #26064
@brunole
We will be closing this thread now. You could re-open the thread if you need further help.

[2019-03-06 10:57] #26064 closed

[2019-03-06 11:25] steveaf opened #26350 "Unable to find package 'Microsoft.Azure.Management.ResourceManager'"
Following instructions, I get this unable to find package error.  Nuget (https://www.nuget.org/packages/Microsoft.Azure.Management.ResourceManager) shows the one to get.

Install-Package Microsoft.Azure.Management.ResourceManager -Version 2.0.0-preview

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ebc0c44-b401-1f1f-2

[2019-03-06 11:42] DixitArora-MSFT commented on #26149
@blueelvis In the documentation it is mentioned that event Grid retries delivery on the following schedule : 10 Seconds, 30 seconds ...

So just wanted to check what is the confusion regarding this .

[2019-03-06 11:42] CHEEKATLAPRADEEP-MSFT commented on #26350
@steveaf I'm able to install the package after creating the visual studio project.

`PM> Install-Package Microsoft.Azure.Management.ResourceManager -Version 2.0.0-preview`

![image](https://user-images.githubusercontent.com/44426401/53878765-baeac000-4032-11e9-9227-64cc42f135fe.png)

Could you please share the screenshot of the error message, in order to understand the issue?

[2019-03-06 11:45] SadiqhAhmed-MSFT commented on #25221
@KeiroKamioka0000 Could you let us know what specific region (West Europe) information you're looking for?

[2019-03-06 11:46] EdwinGomes opened #26351 "Update Check the compliance status of a managed node content"
$reports = Get-AzureRmAutomationDscNodeReport -ResourceGroupName 'MyResourceGroup' -AutomationAccountName 'myAutomationAccount' -Id $node.Id
Should be
$reports = Get-AzureRmAutomationDscNodeReport -ResourceGroupName 'MyResourceGroup' -AutomationAccountName 'myAutomationAccount' -NodeId $node.Id

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-03-06 11:56] Josh-Broughton opened #26352 "Scale throughput on an existing db, without using the portal"
We need to scale the throughput on existing dbs, will we be able to do this using the Azure CLI or an API?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 789936dc-e275-a87f-4f34-8f757db9b3b4
* Version Independent ID: ce1c88a2-5e85-1f2b-d5aa-a2f9b117635e
* Content: [Provision database throughput in Azure Cosmos DB](http

[2019-03-06 12:04] fusionet24 opened #26353 "Spelling Mistake"
Theres a typo on Blob Block Count, it says bock count.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2896ae0e-a559-64c7-1782-14ef1c83f509
* Version Independent ID: fdc01b78-9222-6231-f85e-68defe4eafa9
* Content: [Understand outputs from Azure Stream Analytics](https://docs.microsoft.com/en-us/azure/stream-analytics/st

[2019-03-06 12:07] shashishailaj commented on #26224
@AE-MS We checked this and found that as per the below code, it returns undefined

let userToken = authenticatedUserTokens.find((user) => {
        currentUser = user;
        user.sub === token.sub;
    });

I tried to use return statement in one of my sample java script application and I found that if we use "return user.sub === token.sub" it returns the usertoken value from **authenticatedUserT

[2019-03-06 12:08] angoyal-msft commented on #26352
@Josh-Broughton Thanks for your feedback.
You can refer [this](https://docs.microsoft.com/en-us/azure/cosmos-db/scripts/scale-collection-throughput-cli) document for scaling the throughput using Azure CLI.

For PowerShell, you can refer [this](https://github.com/PlagueHO/CosmosDB#working-with-offers) document.

Please let us know if you need more information.

[2019-03-06 12:12] steveaf commented on #26350
You are very quick  - thanks.

The instructions have the line below that fails for me in NuGet PM.
Install-Package Microsoft.Azure.Management.ResourceManager

I found the complete line, with version, that works and pasted that.  The instructions should update this line
Install-Package Microsoft.Azure.Management.ResourceManager
to
 Install-Package Microsoft.Azure.Management.ResourceManager -Version

[2019-03-06 12:16] mdc921 commented on #26259
@SaurabhSharma-MSFT fair enough, but I just noticed there's a minor typo here:

"Use the following script to assign a user and role to an application:"

Shouldn't this say "to remove a user and role from an application" instead?

[2019-03-06 12:19] cephalin commented on #25775
@timheuer Ah thanks. Didn't realize 2.2 is now supported. Will update the quickstart soon for 2.2.

[2019-03-06 12:20] SadiqhAhmed-MSFT commented on #25631
@dsghi The article you've linked in your post is in TechNet and it should be updated by the content owner. We recommend downloading the latest recovery services agent from the portal. In the poral, select Recovery Services vaults> Vault name> Properties under settings > Download

You can download the latest agent for backing up Windows Server, System Center DPM, or Windows client, from [here](http

[2019-03-06 12:20] #25631 closed

[2019-03-06 12:21] CHEEKATLAPRADEEP-MSFT commented on #26353
@fusionet24 Thanks for pointing out the issue, I've addressed this issue in PR [https://github.com/MicrosoftDocs/azure-docs-pr/pull/68730](https://github.com/MicrosoftDocs/azure-docs-pr/pull/68730) .
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love

[2019-03-06 12:21] #26353 closed

[2019-03-06 12:24] RohitMungi-MSFT commented on #26263
@srilekha82 Could you please raise an issue directly from the luis portal with the error?
Please go to Support -> General Inquiry Through User Voice and submit the issue, This will send the issue directly to the engineering team.

@diberry I am able to reproduce this scenario with the same error. Is there any specific version dependency with container image used in the tutorial?

[2019-03-06 12:24] jakaruna-MSFT commented on #26341
Thanks for the question! We are investigating and will update you shortly.

[2019-03-06 12:26] djaus2 commented on #23264
@kgremban Revisiting this:
I you are to supply a preconfigured Windows VM for Hyper-V then I guess that will come with Virtualisation enabled and will be generation 2.  Problem solved from that perspective.

But if you are to create the VM yourself and at setup specify that it is a Gen2 VM then I think you WILL need to enable Virtualisation in the VM as I have indicated. I'm looking to how far I g

[2019-03-06 12:30] garv-sd commented on #19316
An option you could attempt is to setup/configure LA/OMS agent in Docker container with base Alpine image and spawn multiple containers on one host with host's syslog directory mounted to multiple containers. This would push the host logs to multiple workspaces. The footprint can reduced by Alpine version of Linux image.

[2019-03-06 12:33] femsulu commented on #25909
@rayne-wiselman, any update please?

[2019-03-06 12:36] jakaruna-MSFT commented on #26328
@JayKus  I have assigned the issue to the content author to investigate further and update the document as appropriate.

@roygara Please take care of this issue

[2019-03-06 12:39] femsulu commented on #25921
adding @MGoedtel to comment on doc-enhancement request.

[2019-03-06 12:50] AmanGarg-MSFT commented on #26329
@imeya Thank you for the question! We are investigating this and will get back to you shortly.

[2019-03-06 12:51] AmanGarg-MSFT commented on #26339
@imeya Thank you for the question! We are investigating this and will get back to you shortly.

[2019-03-06 12:56] msrini-MSIT commented on #26343
@ytugarev , Thank you for posting your question here. It is been recommended by Microsoft Product team. The reason to deploy Azure Firewall in with Hub and Spoke Model is basically for the easy management purpose as your Firewall will be in a dedicated VNET. Also going forward if you want to use Azure WAN, along with Azure Firewall, this approach would be the best one.

If you have any further que

[2019-03-06 13:06] navin22 opened #26355 "Very slow if there are huge number of containers"
I think this has parallelism if we remove /SyncCopy option, and that will be fast with in a container. I was doing testing for 100K containers each container having 4 blobs. It's been running the script from the last 12 hours and it's not yet completed. Is there any better way of migrating the blobs spread across huge number of contaiers from one storage account to another storage account.

---
##

[2019-03-06 13:09] koboltmarky commented on #21014
Would i possible that you share your whole solution ?

[2019-03-06 13:09] Anded opened #26356 "Web activity behaviour"
I have a long running HTTP triggered function app that, once started, returns 202 Accepted status with a Location header containing URL where the function app run status can be followed. It seems that the Web Activity automatically follows the URL in Location header and returns whatever that URL replied. Is there some way to avoid this undocumented functionality? I'd like to handle this myself.

-

[2019-03-06 13:10] djaus2 commented on #23264
OK I can report my anticipation was incorrect.
BY creating a Generation 2  x64 Hyper-V VM with external network connection, installing Windows 10 Pro (x64), adding Containers Windows (only) capability, the Quickstart tutorial did work.  I did not need to action Virtualisation! :)

[2019-03-06 13:17] mark-mit-k commented on #20354
Hi @TomArcher , I am looking forward to the update. Would you notify this case on any change regarding this update?

[2019-03-06 13:21] rayne-wiselman commented on #25909
@femsulu Yes, we'll fix this over the next few days so that the statement is clearer.

[2019-03-06 13:23] PramodValavala-MSFT commented on #26312
@neil-rubens Both, IP restrictions and Function keys, are indeed ways of tackling this problem.

Another option would be to setup [Authentication/Authorization for Functions](https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-provider-aad) and [Managed Identity for APIM](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-use-managed-service-identity

[2019-03-06 13:24] psatyaa commented on #26230
I have verified and it is working as expected. However there is another question which i had put up regarding creating new Resource Group for Reusable Formula Base VM's. There is no way to configure Resource Group.  Currently is there a way to create Formula base VM under existing Resource Group ?

[2019-03-06 13:32] coosmiin opened #26357 "Ambiguity related to compatibility between V1 and V2 remoting"
When describing using the remoting V2 (interface compatible) stack it is stated:
`The remoting V2 (interface compatible, known as V2_1) stack has all the features of the V2 remoting stack. Its interface stack is compatible with the remoting V1 stack, but it is not backward compatible with V2 and V1.`
It's not clear what `but it is not backward compatible with V2 and V1` means as long as in the sam

[2019-03-06 13:35] #26272 closed

[2019-03-06 13:40] JimmyLS commented on #26342
More details. Such as the internal URLs generated through Javascript. Does this support in Option 1 and 2?

[2019-03-06 13:45] ctaggart opened #26359 "Can we get the schema and not a payload example?"
The "Payload schema" doesn't contain a schema. It contains an example payload that tooling may be able to derive the correct schema from. Would it be possible to provide the actual schema in either JSON Schema, OpenAPI Schema Objects, or both? That will make it easier to integrate with, since we can generate code directly from those schemas.

---
#### Document Details

⚠ *Do not edit this section.

[2019-03-06 13:46] CeciAc commented on #25945
Thanks, Yutong
I'll check this with the loc team

Kind regards,
Microsoft DOCS International Team

[2019-03-06 13:46] #25945 closed

[2019-03-06 13:48] shashishailaj commented on #26344
@michaelspinks Thank you for your query. We will investigate and update this thread further.

[2019-03-06 13:49] shashishailaj commented on #26320
@gowthamsans Thank you for your query . We will investigate and update this thread further.

[2019-03-06 13:51] OffColour opened #26360 "Machine resizing and availability sets"
The article https://docs.microsoft.com/en-gb/azure/virtual-machines/windows/resize-vm#resize-a-windows-vm-in-an-availability-set states that all VMs in an availability set need to be stopped if you resize VMs that can't be accommodated on the current cluster.
By recommending that, say, all web tier servers are placed in a single availability set, if you need to resize them, you'd take down your en

[2019-03-06 13:52] femsulu commented on #25929
@BartoszPorebski, would like to understand this issue better. Mind sharing a few sub IDs that fit this scenario? Please send the sub IDs to AzCommunity@microsoft.com including the subscription type and i will investigate further. The 2 possible expalnations are: 1.) a Policy definition was applied to restrict  creation of specific VM types or 2.) insufficient core quota.
Looking forward to additio

[2019-03-06 13:52] #25929 closed

[2019-03-06 13:54] mrbullwinkle commented on #26329
@imeya this doc is about installing Application Insights via Visual Studio to enable build time monitoring. You said in your first line that you didn't install Application Insights via Visual Studio, which means you aren't following the steps from this doc.

It sounds like you are trying to enable runtime monitoring for an App Service? If that is the case you would want to use this doc: [https://d

[2019-03-06 13:55] shashishailaj commented on #26332
@e0 Thank you for your query . We will investigate and update this further.

[2019-03-06 13:58] shashishailaj commented on #26333
@pawp81 Thank you for your feedback . We will investigate and update the thread further.

[2019-03-06 14:01] abhiSakhuja opened #26361 "SecureString parameter name must be specified"
Thank you for the code! However, there is a bug as follows:

SecureString function accepts a string parameter. However, it accepts the string when passed using "value" parameter key else it throws below given error:

`storage_string = SecureString('DefaultEndpointsProtocol=https;AccountName=&lt;storage account name&gt;;AccountKey=&lt;storage account key&gt;')`

`TypeError: __init__() takes exactly

[2019-03-06 14:02] femsulu commented on #25982
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-03-06 14:02] #25982 closed

[2019-03-06 14:10] tjrobinson commented on #21047
@oleh-zheleznyak Thanks, the instructions on https://hub.docker.com/r/microsoft/azure-cosmosdb-emulator/ work for me.

Will the documentation on https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator#running-on-docker be updated? Could one link to the other or vice-versa?

[2019-03-06 14:11] DanJ210 commented on #26292
@MarileeTurscak-MSFT Thank you!

[2019-03-06 14:12] femsulu commented on #26258
@tanyadenton apologies for your support experience. we continue work to improve our customer's support experience so your patience is appreciated. As @bandersmsft stated, the best channel for a partial data loss or break/fix would be Azure technical support. You are also welcome to post questions related to Azure Cost Management to the [MSDN Cost Management Forum](https://social.msdn.microsoft.com

[2019-03-06 14:12] #26258 closed

[2019-03-06 14:13] femsulu commented on #26200
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-03-06 14:13] #26200 closed

[2019-03-06 14:14] cramka commented on #10212
This still seems misleading
"Azure Site Recovery doesn't support VMs that have iSCSI and pass-through disks. The tool can't detect and profile iSCSI and pass-through disks that are attached to VMs."
Should it really say
"Azure Site Recovery **Deployment Planner** doesn't support VMs that have iSCSI and pass-through disks during data collection. The tool can't detect and profile iSCSI and pass-thro

[2019-03-06 14:16] shashishailaj commented on #26335
@goupadhy Thank you for your feedback . We will investigate and update this thread accordingly.

[2019-03-06 14:21] chenlonghu commented on #10588
@Vegas588 same here as I've been struggling for the past few weeks trying to achieve that...

[2019-03-06 14:24] femsulu commented on #26194
@lianger114 a PR has been initiated to resolve the typo . the change should be live in 24-48hrs.
Thanks again for catching this.
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-03-06 14:24] #26194 closed

[2019-03-06 14:26] shashishailaj commented on #26342
@JimmyLS Thank you for your query . We will investigate and update the thread further.

[2019-03-06 14:33] gate502 opened #26363 "Multiple UPN Transformations"
How would we add multiple UPN's to the transformation rule?  I added a separate inbound synchronization rule for each domain (we have 4) and only the first domain created the accounts as usertype=guest

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f469d121-1cda-1a60-97ba-6940502cd4cc
* Version Independent ID: 03294c05

[2019-03-06 14:35] EdwinGomes opened #26364 "Onboarding Linux VMs just hangs"
When using Ubuntu 18.04 the onboarding just hangs. Do other pre-requisites need to be installed such as Open Management Infrastructure (OMI) before onboarding?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 014371fb-2cac-c9af-804d-844430647572
* Version Independent ID: 9d450496-401f-5376-2787-3134efafeaca
* Content: [A

[2019-03-06 14:37] bt102 opened #26365 "Please include Exchange Online Powershell using Basic Auth"
When blocking "Other Clients" using CAP, it also blocks Exchange Online Powershell using Basic Auth. Please include this in the doc so it would be handy for future admin.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f81f4392-cb97-8af6-0ebc-e2751336216e
* Version Independent ID: fb9fd9d5-bde3-6845-61fe-5cfd63fc12d6
*

[2019-03-06 14:56] CHEEKATLAPRADEEP-MSFT commented on #26345
@robert4os Thank you for your interest in Azure products and services. We are investigating and will get back to you soon.

[2019-03-06 15:00] CHEEKATLAPRADEEP-MSFT commented on #26348
@alec-lieberman-ef Thank you for your interest in Azure products and services. We are investigating and will get back to you soon.

[2019-03-06 15:04] subashsivaji opened #26366 "Supported on Azure Data Lake Storage Gen2?"
Can you please highlight whether Azure Data Lake Storage Gen2 is supported. If not please explicitly mention this doc as Azure Data Lake Store Gen1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d951475-7822-31da-f06e-b40150a95aee
* Version Independent ID: 1aaab6c8-c6cd-8f3a-d80d-d978e5f1c16f
* Content: [Capture strea

[2019-03-06 15:04] CHEEKATLAPRADEEP-MSFT commented on #26349
@EdwinGomes Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2019-03-06 15:05] ericbrunner opened #26367 "There is no Basic deployment option"
Just provisioning my new Remote Monitor Solution but there is no Basic deployment option.

![image](https://user-images.githubusercontent.com/6480047/53891040-bf5eab00-4029-11e9-880a-58914ed83999.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8349b90f-e898-67fa-b3ec-b24b19700afa
* Version Independent ID: 93cb94ce-

[2019-03-06 15:10] AmanGarg-MSFT commented on #26329
@mrbullwinkle Thank you for the detailed explanation!

@imeya We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-03-06 15:10] #26329 closed

[2019-03-06 15:14] jeanluc33 opened #26370 "key-vault-use-from-web-application.md deleted without guidance/obsolete information"
The following tutorial, key-vault-use-from-web-application.md was deleted.  This tutorial covered scenarios of accessing the Key Vault from on-premises, legacy applications (e.g. Asp.Net Web application not running in Azure).  Article in Github: https://github.com/MicrosoftDocs/azure-docs/blob/7b99c4cf3ca7dced4924669a0dc0bee56c379511/articles/key-vault/key-vault-use-from-web-application.md

This w

[2019-03-06 15:15] CHEEKATLAPRADEEP-MSFT commented on #26351
@EdwinGomes Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2019-03-06 15:16] DCtheGeek commented on #26325
@bpit87 Thanks for the feedback! It looks like the AZ reference doc for the [-Top parameter](https://docs.microsoft.com/powershell/module/az.policyinsights/Get-AzPolicyState?view=azps-1.4.0#parameters), which is where this kind of data should be documented, shows the default value as _None_. We'll look at getting that updated. Thanks!

@MicrosoftDocs/azure-cxp-triage #in-progress

[2019-03-06 15:18] CHEEKATLAPRADEEP-MSFT commented on #26355
@navin22 Thank you for your interest in Azure products and services. We are investigating and will get back to you soon.

[2019-03-06 15:20] CHEEKATLAPRADEEP-MSFT commented on #26356
@Anded Thank you for your interest in Azure products and services. We are investigating and will get back to you soon.

[2019-03-06 15:23] CHEEKATLAPRADEEP-MSFT commented on #26357
@coosmiin Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-03-06 15:27] CHEEKATLAPRADEEP-MSFT commented on #26359
@ctaggart Thank you for your interest in Azure products and services. We are investigating and will get back to you soon.

[2019-03-06 15:30] CHEEKATLAPRADEEP-MSFT commented on #26360
@OffColour Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-03-06 15:33] CHEEKATLAPRADEEP-MSFT commented on #26361
@abhiSakhuja Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2019-03-06 15:33] georgewallace commented on #26351
@EdwinGomes I see you have submitted a PR to correct it. Thank you for that!  We will get that reviewed and merged.. We are updating our markdown engine at this time, so this change won't go live until 3/11 at the earliest.. Will circle back on the 11th to make sure we get your PR merged.

[2019-03-06 15:35] CHEEKATLAPRADEEP-MSFT commented on #26363
@gate502 Thank you for your interest in Azure products and services. We are investigating and will update you shortly.

[2019-03-06 15:38] MMAgeek opened #26372 "disks larger than 4 TB"
What are the options when a VMware VM has a single VMDK that is larger than the 4 TB limit?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 101f1927-9428-20c5-06d0-ccc48bad912c
* Version Independent ID: 6c23efba-9fab-8161-7885-dbddb7e737b2
* Content: [Enable replication of VMware VMs for VMware disaster recovery to Azur

[2019-03-06 15:38] theciscokid opened #26373 "Container billing"
Hi,
Is using containers billed at the same price as using the Face API direct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 889b34f3-060f-4507-32db-63d5a33cfd4c
* Version Independent ID: 74032f30-05bd-ea1f-4504-3444ba065c8b
* Content: [Install, run containers](https://docs.microsoft.com/en-us/azure/cognitive-services

[2019-03-06 15:39] georgewallace commented on #26349
@EdwinGomes Thanks for another great catch.  I have confirmed the process has changed.. Would you be willing to submit a PR to correct this just like you did for the other recent issue? Would love for you to get credit for your contribution.  You are always more than welcome to submit a PR to any of our docs, the author will be notified and if everything looks good they will just get it merged.. S

[2019-03-06 15:39] CHEEKATLAPRADEEP-MSFT commented on #26364
@EdwinGomes Thank you for your interest in Azure products and services. We are investigating and will update you shortly.

[2019-03-06 15:41] CHEEKATLAPRADEEP-MSFT commented on #26365
@bt102 Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-03-06 15:45] CHEEKATLAPRADEEP-MSFT commented on #26370
@jeanluc33 Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-03-06 15:46] sergaz-msft commented on #23842
Thanks @ajaybha . @dsk-2015 do we have any progress on resolving this issue? Thanks!

[2019-03-06 15:55] spelluru commented on #25753
@axisc -

Added a section
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-java-how-to-use-jms-api-amqp#jms-topics-vs-service-bus-topics

#please-close

[2019-03-06 15:55] CHEEKATLAPRADEEP-MSFT commented on #26366
@subashsivaji Currently, Azure Event Hubs capture is not available on Azure Data Lake Storage Gen2.

![image](https://user-images.githubusercontent.com/44426401/53894582-593c4d00-4056-11e9-9034-c32d8fb6d174.png)

For more details, refer [https://docs.microsoft.com/en-gb/azure/storage/blobs/data-lake-storage-upgrade?toc=%2fazure%2fstorage%2fblobs%2ftoc.json#assess-your-upgrade-readiness](https://do

[2019-03-06 16:01] RohitMungi-MSFT commented on #26373
@theciscokid The free/standard tier pricing for using the container based API and the web based API are mentioned at this [link](https://azure.microsoft.com/en-us/pricing/details/cognitive-services/face-api/). The [pricing calculator](https://azure.microsoft.com/en-us/pricing/calculator/) can be used to estimate your costs for the same pricing.

[2019-03-06 16:01] CHEEKATLAPRADEEP-MSFT commented on #26367
@ericbrunner Thank you for your interest in Azure products and services. We are investigating and will update you shortly.

[2019-03-06 16:04] CHEEKATLAPRADEEP-MSFT commented on #26372
@MMAgeek Thank you for your interest in Azure products and services. We are investigating and will update you shortly.

[2019-03-06 16:06] RohitMungi-MSFT commented on #26270
@ToadTW666 Could you please provide us the tutorial llink you used when you encountered this issue?

[2019-03-06 16:08] pradeeptm94 commented on #26317
@RohitMungi-MSFT I tried restarting and other ways too but it did not fix the issue. I opened the same notebook on Chrome and it works fine now. FYI, before this I was using Safari and it still doesn't work on it.

[2019-03-06 16:08] markjerz opened #26375 ""Swap with preview" seems to do the warmup in the complete (2nd phase)"
Doing a test of this through the Azure Portal, it looks to me like the warmup is being done in the "Complete" phase of the swap as opposed to the "Start" phase of the swap. This seems to contradict the documentation here.

Is it wrong or just a bug in my particular test case?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-03-06 16:09] ToMakeSense opened #26376 "Can't find document about API management backend"
I found this article(https://docs.microsoft.com/en-us/azure/api-management/import-logic-app-as-api) is too much brief. when I create a logic app API, a policy would be created automatically as shown below, but I could't find the **`backend-id`** anywhere in the azure portal under API management services windows. nor I couldn't get more details in the article about policy(https://docs.microsoft.com

[2019-03-06 16:09] pinyuko opened #26377 "Named location IP ranges"
The named location sample screenshot for IP ranges is very confusing. Please use a public ip range for example, instead of a private ip range.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74b164a7-31c5-7cb3-c8e2-7533d375bd43
* Version Independent ID: 11399252-d935-2cba-a414-a44e51e67007
* Content: [What is the locati

[2019-03-06 16:10] aujla0991 opened #26378 "Supported -VolumeType for the Linux documnetation conflict"
Section : https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption-linux#a-namebkmkrunninglinuxpsh-a-enable-encryption-on-an-existing-or-running-linux-vm-using-powershell

Commands:
 Set-AzVMDiskEncryptionExtension -ResourceGroupName $VMRGName -VMName $vmName -DiskEncryptionKeyVaultUrl $diskEncryptionKeyVaultUrl -DiskEncryptionKeyVaultId $KeyVaultResourceId -VolumeType '[All|

[2019-03-06 16:13] paule96 opened #26379 "Download link to Log Parser broken"
Hi Microsoft,

[here](https://docs.microsoft.com/en-us/azure/app-service/troubleshoot-diagnostic-logs#web-server-logs) is the link to "Log Paser" no longer working. Can we fix this? But I don't know the new link to the Log Parser

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfc316af-0d30-b449-a04f-3019b7a16bc1
* Vers

[2019-03-06 16:24] CHEEKATLAPRADEEP-MSFT commented on #26317
@pradeeptm94 **Note:**  Jupyter Spark kernel is only supported in Chrome browser.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-06 16:24] #26317 closed

[2019-03-06 16:27] Amondale commented on #26277
Hi Martin:

- 2x "an sign-in requirement" in flow chart (grammar error)

- Agent requirements of pass-through authentication: Diagram is confusing; is there a need for two separate on-premises service agents (far right of diagram)

- In those cases, it took them weeks or more to be up and running again (a bit misleading at best: loss of PW hashes would affect access to cloud, not on-premises, appl

[2019-03-06 16:37] ggirard07 opened #26382 "Always On general config is not swapped between slots"
According to the current documentation [Which settings are swapped?](https://docs.microsoft.com/en-us/azure/app-service/deploy-staging-slots#which-settings-are-swapped) general slot settings such as `Always On` are swapped during the swap process.

I think the documentation used to be true on that point, but since a few weeks it looks like it is no longer the case. I noticed around mid February, t

[2019-03-06 16:44] jeffhollan commented on #25655
Likely best for a forum but I think we could close it out here.  I think the pattern I'd recommend is using [Event Hubs triggered on Storage](https://docs.microsoft.com/en-us/azure/event-grid/resize-images-on-storage-blob-upload-event?tabs=dotnet).  In that case you can create a single function but subscribe multiple storage accounts to send events (via Event Grid) to the same function.

[2019-03-06 16:48] mmisztal1980 opened #26383 "--query nodeResourceGroup not working"
When executing the query for the nodes' resource group I get an empty output. I've checked my spelling twice:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7179d4ae-db6e-7f7c-a855-db0e0475dae9
* Version Independent ID: 1a6fa0e8-e175-ae4d-a9d6-d170255a598e
* Content: [Use a static IP address with the Azure Kube

[2019-03-06 16:51] Minewiskan commented on #26293
@CHEEKATLAPRADEEP-MSFT - I do not see any documentation issue here. This is a product question and should be directed to the support or forum channels.
#please-close

[2019-03-06 16:51] rifaterdemsahin opened #26384 "Invoke-ServiceFabricEncryptText does not work"
[code]

Error

[2019-03-06 17:00] dominicbetts commented on #26367
From azureiotsolutions.com, it's now only possible to do a **basic** deployment. If you want to do a **standard** deployment, you need to use the `pcs` CLI. See, https://docs.microsoft.com/en-us/azure/iot-accelerators/iot-accelerators-remote-monitoring-deploy-cli

We'll update the article shortly to reflect this. Thanks.

[2019-03-06 17:01] rayne-wiselman commented on #25631
@SadiqhAhmed-MSFT Hi, you can leave this open

 @dsghi Thanks. We'll fix the issue, and take a look at how we can improve this experience - Rayne

[2019-03-06 17:09] MicahMcKittrick-MSFT commented on #10813
Adding @aljo-microsoft

[2019-03-06 17:14] MicahMcKittrick-MSFT commented on #26383
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-06 17:18] Mike-Ubezzi-MSFT commented on #26323
@iljoong Thank you for making us aware of this documentation issue. I am assigning to the content owner to evaluate and update appropriately.

The current example found in: [Define ingestion mapping](https://docs.microsoft.com/en-us/azure/data-explorer/net-standard-ingest-data#define-ingestion-mapping), reads as:

![screenshot 301](https://user-images.githubusercontent.com/37126106/53900163-c0271b

[2019-03-06 17:23] tfitzmac commented on #26204
@IanMercer - thanks for this feedback. I have added apiProfile to this article; although, I am trying to track down a little more information about the right guidance.

[2019-03-06 17:27] MicahMcKittrick-MSFT commented on #26286
@anushreeringne I will close for now. If you have further questions just let us know

[2019-03-06 17:27] #26286 closed

[2019-03-06 17:30] MicahMcKittrick-MSFT commented on #26265
@aforank ah got it. That makes sense. I will assign to the content authors to see if it makes sense to add a note to this doc.

@aljo-microsoft @vturecek can you take a look?

[2019-03-06 17:31] MicahMcKittrick-MSFT commented on #26322
@aforank please ping me offline and I can give you some resources for answering these types of questions.

[2019-03-06 17:31] #26322 closed

[2019-03-06 17:31] sergaz-msft commented on #23256
@Blackmist I have classified the issue accordingly.

[2019-03-06 17:38] MicahMcKittrick-MSFT commented on #25543
@sybrenstuvel I will close this for now but if you have further questions just let me know. And thank you for bringing this to our attention. Some good work items have come out of it :)

[2019-03-06 17:38] #25543 closed

[2019-03-06 17:41] ericbrunner commented on #26367
@dominicbetts Thanks for clarification. I was astonished about the amount of resources created and especially the costs ans APP Service Plans. Because  I am an individual developer and only wanted to test the Remote Monitoring Sample I decided to delete the solution again. Because the App Service plans where both configured on B1 which would cost only for that 2 resources about 90 EUR/month. So fo

[2019-03-06 17:42] KumudD commented on #25941
#please-close

[2019-03-06 17:47] paulhickman-a365 opened #26386 "No API Documentation"
The links to "API Documentation" don't take you to any actual documentation of the API, just to some skeleton pages. Not one class, interface, method or property actually has any documentation to describe what it does.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14e425a8-0912-7516-b0e4-485f903c4003
* Version Indepen

[2019-03-06 17:47] martincoetzer commented on #26277
Thank you, Alex. I appreciate the feedback.

I fixed the diagram and added text in the article about your other bullets:
- We recommend 2 PTA agents for redundancy purposes.
- We recommend customers enable PHS even if they use on-premises/external identity systems/components, such as PTA or federation. This is recommended because if your on-premises identity components are down and you didn't enab

[2019-03-06 17:48] cjgronlund commented on #21868
@SychevIgor Thank you for pinging me! I'm passing this on the @nitinme who manages the Cognitive Services writers.

[2019-03-06 17:56] kgremban commented on #23264
Thanks for testing and confirming that the generation 2 VM worked for you, @djaus2. That will be an easy tip to share with future users.

[2019-03-06 17:56] MarileeTurscak-MSFT commented on #26332
Thanks, @e0 . I have passed your feedback on to the content author, @davidmu1 , to look into your suggestion.

[2019-03-06 17:57] priyamohanram commented on #24864
@Alberto-Vega-MSFT : Thanks for reporting the issue. Did you follow the [how-to guide](https://docs.microsoft.com/azure/active-directory/reports-monitoring/howto-integrate-activity-logs-with-log-analytics) to route the Azure AD logs to the Log Analytics workspace? Have you verified that the logs appear in your workspace? Also, can you verify if you are using a user who's a global administrator or

[2019-03-06 17:57] rayne-wiselman commented on #10212
Azure Site Recovery doesn't support, and the tool can't detect. We'll sharpen up the text a bit.

[2019-03-06 17:58] priyamohanram commented on #24864
@Alberto-Vega-MSFT : Also verifying that you are able to access the all-up sign-in report from the portal (i.e. you have a premium license)

[2019-03-06 18:02] #24033 closed

[2019-03-06 18:05] AdamSharif-MSFT opened #26387 "Overprovision and balancing not working correctly?"
It looks as if when we have overprovision enabled, override condition changes can cause an unbalanced VMSS.

For example, I had a 6 instance VMSS using 3 availability zones - initial VMSS was fully balanced with 2 instances in each zone.
Then I manually scaled-out to 9 instances, and saw 4 in zone 1, 2 in zone 3, and 3 in zone 2:

---

C:\Users\adsharif&gt;az vmss list-instances --resource-group m

[2019-03-06 18:10] Blackmist commented on #23256
Thanks @sergaz-msft

@edrickwong Thanks again for reporting this. I've spoken to the engineering team and they agree that we should remove the scripts and point to the IoT Hub documents as the single point of truth for provisioning devices and deploying images. The document update should go live later today.

#please-close

[2019-03-06 18:11] Mike-Ubezzi-MSFT commented on #26190
@Raviafkumar Thank you for this detail. In the Azure Portal is there any details to a public IP for your deployed Databricks instance? If you do see this information, please add this IP address to your Azure SQL Server setting in the firewall rules blade.

The following documentation discusses how to configure connectivity from Databricks to different data sources: [Connect to data sources from Az

[2019-03-06 18:13] cynthn commented on #20485
@Karishma-Tiwari-MSFT can you resassign to me for now? Thanks :)

[2019-03-06 18:16] KrishnaG-MSFT commented on #24864
@priyamohanram It's not Alberto who worked on this one but It's me! :)
To answer your question, yes I have followed all the instructions provided in the guide and Interestingly now I am able to see the views but views were empty when I tried the last time (i.e., a few days ago).
Please inform if any changes are done recently.

@Hellhound105 Can you please check from your end and update us ?

[2019-03-06 18:19] YutongTie-MSFT commented on #25953
@hning86 Hi Hai, I am willing to fix it but I have no access to that, so I assign this issue to you. Please help, thanks a lot!

[2019-03-06 18:19] mayurigupta13 commented on #26372
We do not have a workaround to protect disks larger than 4 TB currently. This is in our roadmap.

[2019-03-06 18:19] YutongTie-MSFT commented on #25957
@YaraZakaria
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-03-06 18:19] #25957 closed

[2019-03-06 18:23] priyamohanram commented on #24909
@GordonLam : Thank you for the feedback! To answer your questions:

1. The managed identity can be used in any location and is not limited to the region it was created in.
2. The managed identity is geo-replicated and therefore will not go away if a certain region goes down
3. Since the managed identity is replicated, there will not be any performance implications either.

The location parameter i

[2019-03-06 18:23] martincoetzer commented on #26277
#please-close

[2019-03-06 18:24] MicahMcKittrick-MSFT commented on #26341
@PixelRobots can you tell me at which point exactly in the doc you are getting the error?

[2019-03-06 18:27] PixelRobots commented on #26341
Hello,

So I download the scripts following the link.

I then follow the instructions and run the script. That's when I get the error.

[2019-03-06 18:27] MicahMcKittrick-MSFT commented on #26357
@coosmiin valid feedback.

@vturecek @aljo-microsoft could either of you comment further on this ask?

[2019-03-06 18:29] Mike-Ubezzi-MSFT commented on #26386
@paulhickman-a365 In looking through the [API documentation](https://docs.microsoft.com/dotnet/api/microsoft.azure.cosmosdb.bulkexecutor.bulkupdate?view=azure-dotnet) in the  [Bulk update data in Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/bulk-executor-dot-net#bulk-update-data-in-azure-cosmos-db) section, both links take you to a list of classes that allow you to then drill-

[2019-03-06 18:31] priyamohanram commented on #24316
@johnthcall : Thanks for reporting the issue. To follow availability status, please see [Services that support managed identities](https://docs.microsoft.com/azure/active-directory/managed-identities-azure-resources/services-support-msi). You can see that user-assigned managed identities are still not available or in preview for all of the supported services.

We will update this document as soon

[2019-03-06 18:33] BryanTrach-MSFT commented on #26375
@markjerz Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-06 18:33] BryanTrach-MSFT commented on #26379
@paule96 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-06 18:34] BryanTrach-MSFT commented on #26382
@ggirard07 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-06 18:42] SnehaGunda commented on #26321
I see the typo is fixed in the PR above, we will now close this issue.

#please-close

[2019-03-06 18:43] AjayKumar-MSFT commented on #26232
@vmaruhpe, Just checking to see if you had a chance to see the previous response. Kindly let us know if you need further assistance on this issue or its good to be closed.

[2019-03-06 18:44] roygara commented on #26328
@JayKus Thanks for reaching out.

Given that you're trying to calculate a financial break even point, I'd recommend making use of the actual pricing materials to achieve that, not the technical documentation. Which do also answer your questions related to transaction costs and so on.

I'd recommend starting here: https://azure.microsoft.com/pricing/details/managed-disks/

and here: https://azure.m

[2019-03-06 18:44] Mike-Ubezzi-MSFT commented on #26262
I have assigned the issue to the content author to evaluate and update as appropriate. Adding @CarlRabeler for awareness.

[2019-03-06 18:48] SnehaGunda commented on #26151
#please-close

[2019-03-06 18:51] #26321 closed

[2019-03-06 18:51] #26151 closed

[2019-03-06 18:52] MarileeTurscak-MSFT commented on #26377
@pinyuko
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-06 18:53] IanMercer opened #26389 "Linked templates linking to further linked templates?"
Can linked templates themselves link to other templates?

(The answer appears to be "yes" but it would be good to state this explicitly in the docs.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 255db119-3d96-f4de-a2bb-c90f782b883d
* Version Independent ID: f769af8b-63af-42ba-0ebc-933ade25645e
* Content: [Create link

[2019-03-06 18:56] Mike-Ubezzi-MSFT commented on #26348
@alec-lieberman-ef Can you provide the query the `sampler` is using the pick-up the nested documents? It might be your query: [Cosmos DB SQL Query for nested objects](https://stackoverflow.com/questions/51918488/cosmos-db-sql-query-for-nested-objects)

[2019-03-06 18:57] Mike-Ubezzi-MSFT commented on #25972
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-06 18:57] #25972 closed

[2019-03-06 18:59] roygara commented on #26235
@dcbrown16 Thanks for reaching out, we appreciate it! You're correct, we recently released 2.0 and that is now supported. We will add a backlog item to update this doc to reflect that.

[2019-03-06 19:08] BhargaviAnnadevara-MSFT commented on #26037
@harry12345678910 As an attempt to reproduce the reported issue, I followed the [Azure Dev Spaces Tutorial for .NET Core with Visual Studio](https://docs.microsoft.com/en-us/azure/dev-spaces/quickstart-netcore-visualstudio?toc=%2Fen-us%2Fazure%2Faks%2FTOC.json&bc=%2Fen-us%2Fazure%2Fbread%2Ftoc.json), and was able to build and connect to my container services successfully, via the configured Public

[2019-03-06 19:13] MicahMcKittrick-MSFT commented on #26387
Thanks for the question! We are investigating and will update you shortly.

[2019-03-06 19:14] tchristiani commented on #15833
@YutongTie-MSFT this issue is not a Cognitive Services issue. This is a PowerBI issue. Please move it to their repo. Thank you.

[2019-03-06 19:20] AjayKumar-MSFT commented on #24906
@KeiroKamioka0000, We will close this out, but if you feel you need more information please just let us know.

[2019-03-06 19:20] #24906 closed

[2019-03-06 19:22] MicahMcKittrick-MSFT commented on #26387
@AdamSharif-MSFT yes it looks to be the designed behavior.

See https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-use-availability-zones#zone-balancing

Since you manually scaled, the scale set did it best to allocate resources where it could. In your case, it seems that the best results it could do at the time of the manual scale was unbalanced. As per t

[2019-03-06 19:22] #26277 closed

[2019-03-06 19:24] jordanchang commented on #26095
Thanks for reply! That is great news and looking forward to standalone subscriptions.

[2019-03-06 19:26] shudson302 opened #26390 "Sample code does not build"
I am trying to use the sample code here and I get this build error:

Error	CS1729	'PlatformParameters' does not contain a constructor that takes 1 arguments

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d02de0bf-09d7-a7fc-1b4a-213426e96b2d
* Version Independent ID: 36f6c8fe-6bc1-6643-4b66-2c38bcd2e5f0
* Content: [Auth

[2019-03-06 19:27] shudson302 commented on #26390
Im using version 4.5.1 of Microsoft.IdentityModel.Clients.ActiveDirectory and 9.3.3 of WindowsAzure.Storage

[2019-03-06 19:28] mx-iao commented on #26035
@benc-uk totally agree; we will improve the reference docs. Thanks for bringing this to our attention!

[2019-03-06 19:30] mike-urnun-msft commented on #26376
Hi @ToMakeSense Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-03-06 19:30] SaurabhSharma-MSFT commented on #26370
@jeanluc33 Sorry for your inconvenience. I have assigned this issue to content author to investigate and update you on the same.

[2019-03-06 19:32] YutongTie-MSFT commented on #26035
@chad
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

@mx-iao Thank you!

[2019-03-06 19:32] #26035 closed

[2019-03-06 19:33] cramka commented on #10212
https://techcommunity.microsoft.com/t5/Azure/Azure-Site-Recovery-failover-failback-with-in-guest-iSCSI/td-p/201431

On Wed, Mar 6, 2019 at 12:58 PM Rayne Wiselman <notifications@github.com>
wrote:

[2019-03-06 19:36] SaurabhSharma-MSFT commented on #26320
@gowthamsans Thanks for your feedback.  Please post this as a feedback https://feedback.azure.com/forums/169401-azure-active-directory This will allow the community to up-vote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2019-03-06 19:38] mestew commented on #25988
@SteveParson
Hey Steve,
I have an answer for you that you probably won't be thrilled with. The template is for the previous release of ADE and it was deprecated intentionally. I'll be updating the documentation to remove references to it. The changes probably won't be published for this until early next week though. Sorry for the delay on getting it changed but unfortunately it's unavoidable.

#pl

[2019-03-06 19:44] MicahMcKittrick-MSFT commented on #26341
@PixelRobots I downloaded the scripts as mentioned in the example.

Once downloaded, I navigated to the source of the download.

Once in that folder, I ran the mentioned powershell commands making sure to modify the tenantID to the one associated with my subscription as well as to input a different cluster name

[code]

The output was successful and the applications were created. So the scripts an

[2019-03-06 19:45] SaurabhSharma-MSFT commented on #26259
@mdc921 Thank you for pointing this out.  The PR for the fix has been created and it will be merged soon.  I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2019-03-06 19:45] #26259 closed

[2019-03-06 19:48] SaurabhSharma-MSFT commented on #25246
@blueelvis Thanks for your feedback.  I will update here if there is any specific reason for the same.  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-06 19:48] #25246 closed

[2019-03-06 19:48] PixelRobots commented on #26341
Hello, thanks for the quick reply.

Yes I am an admin. I can create AD applications via the portal just fine.

I have selected the subscription I would like to use too.

I have tested the scripts on two machines and get the same issue.

Is there any other prerequisites needed?

Thanks again.

[2019-03-06 19:51] MicahMcKittrick-MSFT commented on #26384
@rifaterdemsahin can you share the doc you are referring to so we can better assist?

[2019-03-06 19:51] cynthn commented on #26248
@jakaruna-MSFT and @nmikuni thanks for the feedback! Can you give me some more details about this issue?

You say "some distributions" hit this issue - do you know which ones and what versions? Why is the dependency required? What affects will this have on chronyd service?

The article is meant as an overview of time sync in Azure, so if this issue is specific to a small number of distributions or

[2019-03-06 19:56] ctaggart opened #26391 "Which logs are available for ACS vs AKS?"
We are using ACS and these are the logs I have available to query from in Azure Monitor > Logs:

![image](https://user-images.githubusercontent.com/80104/53909272-1c5d5f80-4030-11e9-98ea-649299f17151.png)

- ContainerInstanceLog_CL
- ContainerInventoryPoc
- ContainerLogPoc
- ContainerNodeInventory_CL
- ContainerProcess_CL
- ContainerServiceLogPoc

In [Query logs for container data](https://docs.mi

[2019-03-06 20:00] diberry commented on #24640
#in-progress

[2019-03-06 20:07] markjbrown commented on #22907
Hello @kazshi. We are actively working on updating our content on this. Again our apologies for the delay.

[2019-03-06 20:08] LukeOlsen-zz opened #26392 "Neural voices"
When do you plan on providing neural voices to West US?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d004939e-c536-33b0-7151-fcae2abcc3fc
* Version Independent ID: 12d0932a-536d-f62b-c399-a56a7bf60fcd
* Content: [Regions - Speech Services](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/regio

[2019-03-06 20:09] TravisCragg-MSFT commented on #25941
@CeciAc We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-06 20:09] #25941 closed

[2019-03-06 20:10] MicahMcKittrick-MSFT commented on #26341
@PixelRobots interesting. I see no other prereqs other than being the tenant admin.

@aljo-microsoft any suggestions?

[2019-03-06 20:16] mumian commented on #26389
@IanMercer - The answer is yes.  Thank you for bringing up this question.  We will update the article to include the information.

#please-close

[2019-03-06 20:17] rohinkoul commented on #23168
This has been fixed with https://github.com/MicrosoftDocs/azure-docs/pull/26299
Please close the issue.

[2019-03-06 20:19] danobri opened #26393 "TIFF support"
This document does not list TIFF as a supported image format, but I found the following document on the OCR library in Cognitive Services that specifically mentions TIFF support:

https://docs.microsoft.com/en-us/rest/api/cognitiveservices/contentmoderator/imagemoderation/ocr

Isn't this ultimately the library being used as a "cognitive skill" in Azure Search?  Can you clarify - is TIFF a supporte

[2019-03-06 20:30] MouthOfMadness opened #26394 "Contacting Support"
FYI: you must purchase a support plan to create a ticket when domain validation doesn't occur in 24 hrs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: beac0740-af6e-61ce-bcfa-e783ca181b7d
* Version Independent ID: d97885ea-b051-5fde-bd14-ec977e34760e
* Content: [Tutorial - Configure HTTPS on an Azure CDN custom domain

[2019-03-06 20:32] areddish commented on #25759
@jtlz2 Thanks for the feedback, we'll add this into our requests for future articles and samples.

@YutongTie-MSFT - we don't currently have an article for this but I'll add a work item to track creating one.

[2019-03-06 20:32] craigshoemaker commented on #25491
We now have an IoT-specific binding reference: [Azure IoT Hub bindings for Azure Functions](https://docs.microsoft.com/azure/azure-functions/functions-bindings-event-iot). I'll add links to this article to the table.

[2019-03-06 20:52] sidramadoss commented on #26090
@karl-howard - thanks for the suggestion. The timeout limit is 60 seconds and it can't be extended. I have submitted a request to update it. You will soon see it reflected in the docs.

[2019-03-06 20:53] jofrance opened #26395 "Incomplete documentation missing options"
Please reference complete documentation for this extension on https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption-linux

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92f22921-4ced-4353-0a71-71536aee57c2
* Version Independent ID: 36873789-a9c9-6e27-c0c1-a24bf4c0b5aa
* Content: [Encrypt disks

[2019-03-06 21:11] bradhowe opened #26397 "Portal Failure loading Function app Settings while IP restrictions enabled"
Hi, Right now we have IP restrictions enabled on the function apps to restrict it to only the app gateway WAF. The issue i am facing is errors loading app settings via portal when IP restrictions is enabled. Once i remove the AppGW IP, it load fine.

With the IP in place the app works but the portal just fails.

Error:
OK - https://functions.azure.com/api/passthrough
Session Id: a289d3492b36446596

[2019-03-06 21:14] MarileeTurscak-MSFT commented on #26211
I suggest moving this conversation to MSDN if you are still having issues, since this is more of a product question. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-03-06 21:14] #26211 closed

[2019-03-06 21:19] CarlRabeler commented on #26262
Max backup stripe size using the BACKUP command in a managed instance is 195 GB (maximum blob size). Increase the number of stripes in the backup command to reduce individual stripe size and stay within this limit.

TIP
To work around this limitation when backing up a database from either SQL Server in an on-premises environment or in a virtual machine, you can do the following:

Backup to DISK in

[2019-03-06 21:19] CarlRabeler commented on #26262
@jftl6y see revised content

[2019-03-06 21:23] pmckeen opened #26399 "Button Text for Automatic Provisioning"
There appears to be a minor typo, "as sign" vs "assign" on the last button on this page:
https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/configure-single-sign-on-portal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f97b43d9-4a25-1552-c719-f0f0b418b0a8
* Version Independent ID: 13445782-bdb8-b9fa-b1

[2019-03-06 21:41] MicahMcKittrick-MSFT commented on #26256
@tb2johm I will close for now. If you have further questions let us know and we can always reopen and continue the discussion.

[2019-03-06 21:41] #26256 closed

[2019-03-06 21:44] Karishma-Tiwari-MSFT commented on #26395
@jofrance Thank you for the feedback. At the end of the document, under 'Next Steps', there is a link which takes the user to [About Azure Disk Encryption](https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption-overview) doc which further have links to the doc you shared.

[2019-03-06 21:48] #26328 closed

[2019-03-06 21:50] Bpratt commented on #25353
Just want to add I'd also like gcc support. I haven't been able to use Azure ML service because all the packages I want to use require gcc.

[2019-03-06 21:57] edavedian opened #26400 "Support Key Vault Referencing for Azure Function Java Local Development"
The Azure Functions Java project located here https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-java-maven is extremely helpful but when doing local development it unfortunately doesn't support Azure Key Vault referencing in local.settings.json as documented here https://azure.microsoft.com/en-us/blog/simplifying-security-for-serverless-and-web-apps-with-azure-functions

[2019-03-06 22:17] axisc commented on #25753
#please-close

[2019-03-06 22:18] spelluru commented on #15248
I have updated the article to use "partitions".

#please-close

[2019-03-06 22:19] Alberto-Vega-MSFT commented on #26029
@jelmerS2 Thanks again for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-06 22:19] Adam-Smith-MSFT commented on #26390
@shudson302 Thank you for the valuable feedback,we are investigating the issue.

[2019-03-06 22:21] Adam-Smith-MSFT commented on #26185
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-06 22:21] #26185 closed

[2019-03-06 22:21] WilliamBerryiii opened #26401 "Links at top all point to azure-documentdb not azure-cosmosdb"
The links at the top of this file appear to be out of date. Should they not be referencing azure-cosmosdb
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2550c40-5054-209e-1378-eeb3b10d6e34
* Version Independent ID: d935f42c-4b25-7ca2-b7a4-acde45a16b80
* Content: [Azure Cosmos DB: SQL Java API, SDK & resources](https://

[2019-03-06 22:21] shudson302 commented on #26390
Not sure if it shows up, but this is the document with the sample code:  https://docs.microsoft.com/bs-cyrl-ba/azure/storage/common/storage-auth-aad-app?toc=%2Fazure%2Fstorage%2Fqueues%2Ftoc.json

[2019-03-06 22:42] Mike-Ubezzi-MSFT commented on #26401
@WilliamBerryiii Thank you for providing this detail. Many of the projects were started when the product was known as Azure DocumentDB and since the name change to Azure Cosmos DB, the namespace for many of the projects remains as DocumentDB.

[2019-03-06 22:43] Mike-Ubezzi-MSFT commented on #26401
I am making the content owner aware of this request as perhaps there is some work being done to address this.

[2019-03-06 22:47] SogoGolf opened #26402 "umm, docs re (just) managing users for mobile/web apps ?"
so we're fairly new to Azure and wanted to answer the question "where is/are the docs to tell us how to manage users for a mobile app". (create user, auth a user w/ uid/pwd, Facebook, google etc.

enter the can of worms!

it might just be me but i got totally confused as to exactly what we should use on Azure and what API's exist for user management/authentication for mobile apps. compare this to

[2019-03-06 22:51] seguler commented on #26173
CNAME records does not allow root domains. See https://tools.ietf.org/html/rfc1912#section-2.4

[2019-03-06 22:51] seguler commented on #26173
#please-close

[2019-03-06 23:02] Alberto-Vega-MSFT commented on #26104
@HaraldHeide were you able to resolve your issue?

[2019-03-06 23:09] 1trevor opened #26403 "Need for agent"
This article and all of the articles on this topic completely fail to mention that you need to INSTALL AN AGENT on down-level devices in order for this to work. For some reason this is only mentioned under the documentation for ADFS: https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-fed-hybrid-azure-ad-join-post-config-tasks#9-install-microsoft-workplace-join-on-windows

[2019-03-06 23:21] #26389 closed

[2019-03-06 23:23] MaxMelcher commented on #26173
Thanks @seguler - It does work on Azure CDN and it's not mentioned in the docs article.
Additionally the menu entry in azure is called "Custom Domain" and not "Custom CNAME".

Background of the question is to host a website with the Static Website feature - but on a root domain and not a cname / subdomain.

[2019-03-06 23:25] seguler commented on #26173
Fair point - the only way to host a static website with a root domain is currently to use Azure CDN. Sorry for the confusion. We will update this article accordingly.