[2019-05-03 19:05] jayhub42 opened #30577 "a python example would be really helpful."
i would like to send an email with attachment from a python function.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67219504-786d-cb28-da42-e36e227a1c8a
* Version Independent ID: 9faa4531-ad36-7fda-c9e5-415aa2c5a400
* Content: [Azure Functions SendGrid bindings](https://docs.microsoft.com/en-us/azure/azure-functions/f

[2019-05-03 19:10] himanshusinha-msft commented on #30565
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-05-03 19:10] CharmanderJieniJieni opened #30578 "Can I enable NSG flow log through ARM template?"
We are looking into possibility to programmably enable NSG flow Log. Is this able to be enabled through ARM?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbb716b8-84da-2f21-2ef6-36a49ae2001f
* Version Independent ID: 8812ded6-3f56-737e-5aef-a33fcb908ba1
* Content: [Log network traffic flow to and from a VM - tutorial

[2019-05-03 19:11] himanshusinha-msft commented on #30565
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2019-05-03 19:13] himanshusinha-msft commented on #30576
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-05-03 19:13] jnoller commented on #29158
Adding the fixes and other bits to the doc today

[2019-05-03 19:16] tony-gutierrez commented on #30448
I have but an api reference is definitely needed.

The new cosmos sdk was added to here: https://docs.microsoft.com/en-us/javascript/api/%40azure/cosmos/?view=azure-node-latest

Same thing needs to happen with the new service bus sdk.

[2019-05-03 19:27] AmirGeorge commented on #29557
Hello everyone,

Sorry for the delayed follow-up. This is currently a portal issue when you package the app from the UI. Fix is committed but not yet deployed. To unblock yourself for now, you can do the packaging programmatically, something as simple as this C# snippet should work:

[code]

[2019-05-03 19:40] jnoller commented on #29158
PR is pending for the docs update

[2019-05-03 19:40] jnoller commented on #29497
PR is pending for the docs update

[2019-05-03 19:49] twooley commented on #18197
@JackHorlock Our apologies for the delayed response. For Data Lake Storage Gen2, please see https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-access-control. Thanks.

[2019-05-03 19:49] twooley commented on #18197
#please-close

[2019-05-03 19:50] cap273 commented on #29513
Hi @shashishailaj

Thank you for your response. This page specifically is about SAML 2.0, and not about WS-Federation (which is where Access Tokens and ID Tokens are used). In SAML, I'm asking about what will the value of the element "Issuer" be in the SAML response. I did a network trace, and it looks like it's in the form:
<Issuer xmlns="urn:oasis:names:tc:SAML:2.0:assertion">https://sts.windows

[2019-05-03 19:56] kaushalp commented on #30458
@KetanChawda-MSFT Thanks. I am aware of the thread and Pragna has responded to me. My ask is that we include this in the documentation so that it can be easily found.

[2019-05-03 19:56] aszalacinski opened #30581 "Office 365 AD"
So does this article apply to integrating Office 365 AD accounts as the identity provider? Are Azure AD and Office 365 AD the same and the steps outlined here apply?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b8cd351-ffd7-d9f4-2894-b31bd903915d
* Version Independent ID: 72118a2f-53cf-aaed-c655-b98f114eb0d5
* Conte

[2019-05-03 19:56] chetansriv commented on #28818
#please-close

[2019-05-03 20:03] MarileeTurscak-MSFT commented on #27051
Thank you all for the valuable feedback.

We are closing this out as the appropriate forum for this is User Voice, which Saurabh has linked above. Please post this same feedback there and the product team will gladly address it directly.

[2019-05-03 20:03] #27051 closed

[2019-05-03 20:17] BhargaviAnnadevara-MSFT commented on #30271
@frenchy237

All the above stated actions are indeed supported with the _DevTest Labs User_ role, provided the VMs are created by the User himself. This applies to the "Unclaim" action as well. [This](https://docs.microsoft.com/en-us/azure/lab-services/devtest-lab-add-devtest-user#actions-that-can-be-performed-in-each-role) doc lists the actions that can be performed by users in each role within D

[2019-05-03 20:27] rajdhandus commented on #30548
i might not have phrased my words correctly.. what i meant was that this feature is not available for Table API, Cassandra API or other document types of Cosmos.. It's just available for the Document API (Core SQL)...

[2019-05-03 20:31] #18197 closed

[2019-05-03 20:33] phillkOCCM opened #30582 "will changes to the verification options force immediate change"
Need to get clarity on this, before we change for 300+ enrolled users.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f132318f-8670-fd0d-2524-01305ccff2a1
* Version Independent ID: 0849b4a9-ff14-1d61-47f2-a2daecf3cde9
* Content: [Plan and execute an Azure Multi-Factor Authentication deployment - Azure Active Directory]

[2019-05-03 20:34] #19141 closed

[2019-05-03 20:47] Karishma-Tiwari-MSFT commented on #30370
@Shell32-Natsu I am working with the product team on your issue. They would need the 'name' and 'SubscriptionId' fields value as well from the output you shared.
Can you please share your Subscription Id and name values over an email to Azure CXP Community Connect <AzCommunity@microsoft.com>. Please mention my name and this GitHub issue link in the email as well.

[2019-05-03 20:54] Shell32-Natsu commented on #30370
@Karishma-Tiwari-MSFT Hi Karishma, the email has been sent.

[2019-05-03 20:55] MarileeTurscak-MSFT commented on #30412
I believe both of these would just be the sing-on/sign-in URL.

[2019-05-03 20:56] MarileeTurscak-MSFT commented on #30412
I am assigning this issue to the content author to update as appropriate. @jeevansd

[2019-05-03 21:03] taromielnaz opened #30583 "Set a Key"
After configuring Access Policy, it says Set up a key encryption key (optional), what is this used for? If it is optional means we can opt out and so, how the disk is encrypted?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0dbd38fa-89f0-320a-b517-b440be6927f9
* Version Independent ID: 8b2eeee3-fb49-37e5-917d-f36bcd60

[2019-05-03 21:07] kiwidamien commented on #30323
Thanks @ram-msft for the assistance. The helpdesk was able to assist, the thing that I needed to do was subscribe to the `Container.Registry` service. Once I did this, the notebook I was using worked. The person on the support side was able to see that the error was from the container registry side, but the error in the notebook didn't indicate this was the error.

I am leaving this note here in c

[2019-05-03 21:10] taromielnaz opened #30584 "keyEncryptionKeyURL"
In keyEncryptionKeyURL section it says, This parameter is optional if you select nokek in the UseExistingKek drop-down list. If you select kek in the UseExistingKek drop-down list, you must enter the keyEncryptionKeyURL value. Where is UseExistingKek drop-down list?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7c636

[2019-05-03 21:13] Jann-Skotdal commented on #30352
@TechWatching : We can investigate your issue in more detail via email. Could you send your subscription ID and the time frame where you were seeing the errors to translator@microsoft.com? Please also include the link to this issue for background.

[2019-05-03 21:26] rohrvy1989 opened #30585 "How do I migrate current Application gateway from v1 to v2?"
Need to migrate a production environment's App Gateway from v1 to v2? Does that require a downtime?

[2019-05-03 21:31] femsulu commented on #30308
@dcurwin any update on this please?

[2019-05-03 21:31] yaoshen2017 opened #30586 "Missing infos"
I can't find answers to the following questions:
1. Does AML support CNTK?
2. Does AML support distributed training in all the platforms(Tensorflow/Pytorch etc.) it supports?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17f599ac-d343-7fa1-1731-92d5d1fc6dad
* Version Independent ID: a8b2dd21-355e

[2019-05-03 21:46] aljo-microsoft commented on #30385
@MicahMcKittrick-MSFT
https://github.com/MicrosoftDocs/azure-docs-pr/pull/75719

Hyper-links "obtain access token" to:
https://docs.microsoft.com/azure/active-directory/managed-identities-azure-resources/how-to-use-vm-token#get-a-token-using-http

To help provide additional surface to deflect questions of this kind.

[2019-05-03 21:53] banisadr commented on #29533
Hi @ifflanb, are you using the preview cmdlet? Advanced filters are not GA yet, so to use the feature in powershell, CLI, etc. you need to install the preview cmdlet.

[2019-05-03 21:53] MarileeTurscak-MSFT commented on #30435
This sample might be helpful for you. https://github.com/Azure-Samples/active-directory-dotnet-desktop-msgraph-v2

As far as I am aware there should not be any limitations getting this to work on desktop applications, but because this feature is in preview it is possible that the full capability is not there. I am reaching out to the product team to get more information about this and confirm. I w

[2019-05-03 21:59] TravisCragg-MSFT commented on #30578
@Charmendar This is possible. NSG Flow Logs are enabled by adding the NSG to the flow log for a region.

You can find [examples for Azure Powershell, Azure CLI, and Rest API Here](https://docs.microsoft.com/en-us/azure/network-watcher/network-watcher-nsg-flow-logging-rest). Select the drop down at the top to switch between the 3.

[Here is an example of creating a Network Watcher with a template](

[2019-05-03 22:00] eraoul opened #30587 "It's not clear if time series can be multivariate"
I think this service only works for a time series that is a simple 1D list such as [3.2, 4.0, 3.2, 3.1, 3.2, 5.0]. But can it also handle multivariate time series such as [[1.0, 2.0], [1.1, 2.0]. [4.1, 2.1],...]?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e258114c-57c6-d918-c1b5-476014f209bc
* Version Independent I

[2019-05-03 22:02] Karishma-Tiwari-MSFT commented on #30561
@PtMcBride I could not find any official documentation on converting OVA to VHD. Please check if this post is helpful:
https://superuser.com/questions/483756/converting-a-vmdk-to-vhd/515985#515985

[2019-05-03 22:14] aszalacinski commented on #30581
Also, this article needs updating to reflect the new App Registrations experience

[2019-05-03 22:26] femsulu commented on #30014
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-05-03 22:26] #30014 closed

[2019-05-03 22:26] pragnagopa commented on #30525
cc @jeffhollan @asavaritayal @ggailey777
This is tracking issue to update Azure Java Functions doc: https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-java-maven?toc=%2Fen-us%2Fjava%2Fapi%2Fazure-java-sdk%2Ftoc.json&bc=%2Fen-us%2Fjava%2Fbreadcrumb%2Ftoc.json
to include instructions on how to set JAVA_OPTS

[2019-05-03 22:32] maertendMSFT commented on #22864
I am the PM for Cloud Shell, I cannot repo this to investigate.

[2019-05-03 22:39] kobulloc-MSFT commented on #30542
@bdschaap The test requests are sent from within the Azure Datacenters and [we recommend testing from multiple locations](https://docs.microsoft.com/en-us/azure/azure-monitor/app/monitor-web-app-availability#setup) (with a minimum of 5 locations) to prevent false alarms that may result from transient issues with a specific location.  You can get a bit more information from this answer regarding hi

[2019-05-03 22:57] #14377 closed

[2019-05-03 22:58] Adam-Smith-MSFT commented on #25948
@pinyuko I'd recommend providing product feedback here: https://feedback.azure.com/forums/217298-storage , Since only document related issues should be posted here.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-03 22:58] #25948 closed

[2019-05-03 23:06] femsulu commented on #30422
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-05-03 23:06] #30422 closed

[2019-05-03 23:10] prbans opened #30588 "from ..sharedcode import helpers does not work"
Folder structure

Functions
| - Function 1
|    | - File 1 &gt; from ..sharecode import helpers
| ...
| - sharedcode
|    | - helpers &gt; code

I get a red squiggly under "from .." in VSCode

Exact error message

Attempted relative import beyond top-level packagepylint(relative-beyond-top-level)

![image](https://user-images.githubusercontent.com/42591144/57169824-ff3dd680-6dbd-11e9-8c6b-b8cf8b1f

[2019-05-03 23:12] Karishma-Tiwari-MSFT commented on #30560
I have created a PR with the corrections and changes will be live shortly.

[2019-05-03 23:15] #18679 closed

[2019-05-03 23:15] #19093 closed

[2019-05-03 23:15] #19572 closed

[2019-05-03 23:15] #24680 closed

[2019-05-03 23:15] #24805 closed

[2019-05-03 23:16] #24858 closed

[2019-05-03 23:16] #28625 closed

[2019-05-03 23:16] #28818 closed

[2019-05-03 23:16] #28902 closed

[2019-05-03 23:16] #29430 closed

[2019-05-03 23:16] #29562 closed

[2019-05-03 23:17] #30033 closed

[2019-05-03 23:17] #30265 closed

[2019-05-03 23:26] kenog-slalom commented on #27712
![image](https://user-images.githubusercontent.com/19717746/57170226-3a410980-6dc0-11e9-872a-2b62f9762cb2.png)

Same here. :(

[2019-05-04 00:08] MarileeTurscak-MSFT commented on #30471
You can easily test this by running the query on both your DC and on your PTA agent to see if the logs appear on both. https://blogs.technet.microsoft.com/askds/2011/09/26/advanced-xml-filtering-in-the-windows-event-viewer/

Let me know what happens and if there is a discrepancy we can update this thread.

[2019-05-04 00:11] hansenms commented on #30483
#please-close

[2019-05-04 00:12] Mike-Ubezzi-MSFT commented on #30574
@bearrito Thank you for bringing this to our attention. We are reviewing this and will update the doc based upon content owner feedback.

[2019-05-04 00:14] Mike-Ubezzi-MSFT commented on #30586
@yaoshen2017 Thank you very much for bringing this to our attention. We are actively investigating and will get back to you soon.

[2019-05-04 00:16] Mike-Ubezzi-MSFT commented on #30587
@eraoul Thank you for bringing this to our attention. We are actively investigating and will get back to you soon.

[2019-05-04 00:19] Mike-Ubezzi-MSFT commented on #30570
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-04 00:19] #30570 closed

[2019-05-04 00:26] eyast opened #30590 "AutoML tutorial return Jupyter error on load"
When load the tutorial Jupyter notebook (regression-part2-automated-ml.ipynb) from within a notebook VM on a workspace deployed in SouthEast Asia, the following error is shown immediately in Jupyer:

Unreadable Notebook: /mnt/azmnt/code/Users/live.com#etaifour/samples-1.0.33.1/tutorial/regression-part2-automated-ml.ipynb UnicodeDecodeError('utf-8', b'{\r\n "cells": [\r\n {\r\n "cell_type": "markdo

[2019-05-04 00:30] ColbyTresness commented on #30575
@kashimiz to take a look

[2019-05-04 00:30] Mike-Ubezzi-MSFT commented on #30575
@jsandersrocks Thank you for bringing this to our attention. I have assigned to the content owner to review and update as appropriate.

[2019-05-04 00:37] YutongTie-MSFT commented on #30590
@eyast
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-04 00:38] Mike-Ubezzi-MSFT commented on #30577
@jayhub42 Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-05-04 00:41] Mike-Ubezzi-MSFT commented on #30588
@prbans Thank you for bringing this to our attention. We are investigating and will update this when we have more information.

[2019-05-04 00:44] Mike-Ubezzi-MSFT commented on #30564
@eshudnow Thank you for bringing this to our attention. We are investigating and will update you when we have more information.

[2019-05-04 00:45] Mike-Ubezzi-MSFT commented on #30559
@aydeisen Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-05-04 00:49] mike-urnun-msft commented on #30546
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-04 00:49] #30546 closed

[2019-05-04 00:51] Mike-Ubezzi-MSFT commented on #30552
@Rich-Lang Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-04 00:52] ColbyTresness commented on #30575
Are you using VS Code? What version of the functions extension are you running? Also, what version of the functions core tools do you have running?

[2019-05-04 00:52] Mike-Ubezzi-MSFT commented on #30558
@CeciAc Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-04 00:55] Mike-Ubezzi-MSFT commented on #30581
@aszalacinski Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-04 00:57] Mike-Ubezzi-MSFT commented on #30582
@phillkOCCM Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-05-04 00:59] Mike-Ubezzi-MSFT commented on #30583
@taromielnaz Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-05-04 01:01] Mike-Ubezzi-MSFT commented on #30584
@taromielnaz Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-05-04 01:03] Mike-Ubezzi-MSFT commented on #30571
@rbavery Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-05-04 01:11] Mike-Ubezzi-MSFT commented on #30585
@rohrvy1989 Thank you very much for your interest in Azure cloud services. From what I can initially find, there is no upgrade path from v1 to v2 but, I am going to assign this issue to an engineer in the web and mobile service area to get a more thorough answer.

[2019-05-04 01:14] jsandersrocks commented on #30575
all the latest, Installed yesterday.  jsanders is my alias

[2019-05-04 01:30] googol13 opened #30591 "Azure AD Connect Health for AD FS support for Server 2019?"
Is Server 2019 ADFS supported? aka v5?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79ab2bbb-4adc-3106-c8dc-3462cc23c587
* Version Independent ID: 8fa8f32e-ceca-6604-f2e3-a994efd17ecc
* Content: [What is Azure AD Connect and Connect Health.](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/whatis-azure-

[2019-05-04 01:32] Mike-Ubezzi-MSFT commented on #30508
@MarkAtAgilliance Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-05-04 01:41] seantleonard commented on #18158
@davidmu1

Opening this back up. I believe an article improvement could be a note in the Password sub-section of UserInputType. The note would be a caveat alerting devs that any user input for a password claim is:
1) Only scoped to the current Orchestration Step
2) Whether the claim is available to other Validation profiles within the same technical profile
3) Whether the claim is available to oth

[2019-05-04 01:49] antoniobriones commented on #30549
Hi @mike-urnun-msft, here you go: https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-vs-code

[2019-05-04 02:24] soninaren commented on #30541
Have identified the issue. The hosting environment was not being correctly identified by the runtime. There is a deployment going on right now that should address this. Will update the issue once the rollout is complete.

[2019-05-04 02:41] #30542 closed

[2019-05-04 04:17] KetanChawda-MSFT commented on #30458
@kaushalp I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-04 04:55] nmfisher opened #30592 "Update documentation to reflect all application-level extension settings now live under "extensions""
As per https://github.com/Azure/azure-functions-host/issues/3377 and https://github.com/Azure/azure-functions-host/wiki/host.json-(v2):

[code]

This documentation page does not reflect this and should be updated accordingly as it.

For example, as it stands, this page suggests inserting the following into hosts.json:
[code]

This won't work for Functions v2. The correct example should be:
[code]

[2019-05-04 05:02] SumanthMarigowda-MSFT commented on #30591
@googol13 Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-04 05:03] SumanthMarigowda-MSFT commented on #30592
@nmfisher Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-04 06:11] aquibqureshi26 commented on #30555
I've successfully created NSG using below, it was just a comma which was creating Issue. But i do not know how can i bind NSG to a subnet.

def create_network_security_group(network_client):
    params_create = azure.mgmt.network.models.NetworkSecurityGroup(
            location=LOCATION,
            security_rules=[
                azure.mgmt.network.models.SecurityRule(
                    name=

[2019-05-04 08:13] ggailey777 commented on #30525
@pragnagopa it seems unlikely that we would want document this in the Java quickstart. Probably something should be added instead to the [Java developer guide](https://docs.microsoft.com/azure/azure-functions/functions-reference-java). Can you add a section on this and I will review your addition, or provide me the info and I can add it for you.

[2019-05-04 08:34] PeterOrneholm commented on #30534
Yes, i totally know that now, but apparently more people than me are lazy and don't read the whole page :) Me myself searched for "Swedish" and just saw "No", "No" and "No" and just thought it wasn't avaiulable. I should of course have read all the text but didn't. I think it would benefit you if it was made more clear.

[2019-05-04 09:02] mahesh2000 commented on #6548
while deploying to a web app, i had to go to Deployment Center, Deployment Credentials. And then use either the App Credentials or create User Credentials. After this, delete the cached credentials on the local machine (windows: Control Panel\User Accounts\Credential Manager). run "git push webapp master:master" again, enter either of the Deployment Credentials. This worked for me.

[2019-05-04 11:32] tutul2010 opened #30593 "Sending Messages to an IoT Device(C2D) by Using Message Feedback"
Hi All,
I created a dotnet core(C#-7.3) consol app and wrote below code for sending a Message as  Feedback at C2D situation

[code]

It is giving an error at 'ReceiveFeedback' method
Pls guide, what things i am missing

Thanks,

[2019-05-04 12:09] georgesitoniv commented on #11101
Any updates on this? :)

[2019-05-04 12:12] rohrvy1989 commented on #30585
sure.that would be very helpful.

[2019-05-04 12:39] stantretyakov opened #30594 "How to prevent unauthorized access to tokens?"
Hello, currently mentioned that "All code/scripts running on a virtual machine can request and retrieve tokens for any managed identities available on it.". In this case if I need to have a secured access to Azure Key Vault secrets only from specific user inside VM or specific process, how could I prevent any other unauthorized access for any process or user who has logged in to this VM? Is there

[2019-05-04 13:10] dinesarun commented on #23792
Hi @SnehaGunda ,
The sample still holds the old snippet, not updated with @corneliussens stated modification - https://github.com/Azure-Samples/documentdb-dotnet-todo-app/blob/master/src/DocumentDBRepository.cs

[2019-05-04 13:29] aszalacinski commented on #18508
I am seeting this error as well. Have gone through the tutorial multiple times and cannot get this to work

[2019-05-04 13:42] aszalacinski opened #30595 "Does not login"
Following this tutorial and have gone through it multiple times to make sure everything is set right.

Upon login with a user (one who is registered with my tenant), the login popup goes away but then comes back with no changes to the parent page. I have't touched the code from github and I am seeing no errors in the console.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-05-04 13:42] Mike-Ubezzi-MSFT commented on #30483
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-04 13:42] #30483 closed

[2019-05-04 13:43] Mike-Ubezzi-MSFT commented on #30534
@PeterOrneholm We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-04 13:43] #30534 closed

[2019-05-04 13:47] Mike-Ubezzi-MSFT commented on #30458
@kaushalp We will now proceed to close this thread as the issue is being handled through above-referenced items. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-04 13:47] #30458 closed

[2019-05-04 13:49] aszalacinski commented on #30595
Digging into the code, this tutorial assumes one has setup the API and needed scopes. If you follow this tutorial straight through, top to bottom, it gives the above behavior.

[2019-05-04 13:50] ismatim commented on #18508
@aszalacinski: I got this resolved going to Storage Account's CORS and adding * for the custom-ui.html for * verb.

[2019-05-04 13:58] Mike-Ubezzi-MSFT commented on #30593
@tutul2010 Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-05-04 14:03] Mike-Ubezzi-MSFT commented on #30594
@stantretyakov Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-05-04 14:07] Mike-Ubezzi-MSFT commented on #30595
@aszalacinski Thank you for the detailed feedback. We are actively investigating and will have the content owner make an update as appropriate.

[2019-05-04 14:10] Paxxi opened #30596 "Broken links"
Some of the links such as seamless sso points to raw.github.com and doesn't render
https://aka.ms/SeamlessSSODPDownload goes to
https://raw.githubusercontent.com/AzureAD/Deployment-Plans/master/Authentication/Seamless%20Single%20Sign-On%20Deployment%20Plan.docx
In safari on iOS 12.2 this renders in the browser and looks really bad instead of prompting a file download

---
#### Document Details

⚠

[2019-05-04 14:10] aszalacinski commented on #17708
So the sample still hasn't been updated then 3 months later.

[2019-05-04 15:20] rimman commented on #30548
We will add support for Cassandra next. Support for other APIs will be based on customer feedback. If there is a particular use-case you are after with a particular API, please ping us at AskCosmosDB@microsoft.com. Thanks.

[2019-05-04 15:43] Hanwen196 opened #30598 "apache + azure blob to work as a http server"
Hi,

I am currently try to implement an architecture that makes the azure blob as a http server that can provide some static html files.

I have an apache works in front of the blob server as a proxy server, and every time a request comes to some route will be mapped to blob server.

see my apache configuration below
`ProxyPass /dummy-static http://localhost:10000`
`ProxyPassReverse /dummy-static

[2019-05-04 15:57] JonathanWilbur commented on #25361
Why are you closing this issue? This is something that users would certainly want to know about. Currently, MariaDB on Azure is only accessible if you disable TLS or disable server identification. That is a **big deal**.

And it's an easy fix, too. All you have to do is add `*.mariadb.database.azure.com` to the `subjectAltName` extension on your X.509 certificates that you deploy.

While we are on

[2019-05-04 16:26] SumanthMarigowda-MSFT commented on #30596
@Paxxi Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-04 16:26] xulxqqqq commented on #30139
Solved. Thank you.

[2019-05-04 16:26] #30139 closed

[2019-05-04 17:48] aszalacinski opened #30600 "Update tutorial to use newest version of MSAL"
I come to microsoft docs always hoping to find tutorials that work and that use latest best code. The code sample used in this tutorial is using MSAL 0.1.1 from 2017

The latest MSAL lib is 1.0.0 from this year.

I successfully got this sample to work but having challenges with my own implementation and the first difference I spot is the MSAL library version.

This needs to be noted at the outset

[2019-05-04 17:55] aszalacinski opened #30601 "Will this work with AD B2C?"
The B2C tutorial sample project for SPA is using an older library. Will the instructions above work with the B2C tenant?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 390c6d26-c7f8-6821-f3a8-ecb34c3b1a2a
* Version Independent ID: 7b696c88-56c4-1a1c-95eb-30c2dd42a5f1
* Content: [Microsoft identity platform JavaScript q

[2019-05-04 18:08] marvin06 opened #30603 "Chart Refresh"
Hi
could not find an example on chart refresh. Is that supported?
Thanks Thomas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 691ee7f7-6ffa-1f2e-bc90-abaae2d6faec
* Version Independent ID: f8a60b14-3a2c-9e16-77a9-365c50e0ca03
* Content: [Tutorial: Explore the Azure Time Series Insights JavaScript client library](https

[2019-05-04 18:35] johncrim commented on #30572
I don't think that solves the problem.

For starters, the title of that article is "for Windows" (while many of the docs don't clarify that something is for Windows only, this article seems to incorrectly narrow the scope to Windows). Also, it doesn't really answer the question to "what typeHandlerVersion number should I use in my ARM file".

[2019-05-04 18:41] JozoSlejko opened #30604 "System routes - network peering"
It would be good to add that when using network peering with Use remote gateway option, VPN gateway ranges get added as 'Virtual network gateway' source routes to the network routes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38bd69ac-a1b5-a401-184d-37b55188a7c4
* Version Independent ID: ef976d45-36eb-8a32-4b29-ae0

[2019-05-04 19:02] ynijsen commented on #30109
Hi,
We are aware that mfa for Azure AD B2C only supports phone or SMS/text
messages. But the docs are stating it supports Azure MFA see the first
link. This is not correct, and is.something different. As that support the
authenticator app.

It really is very confusing to not have an explicit mention about this in
the docs.

Kind regards,
Yuri Nijsen...

Op vr 3 mei 2019 20:21 schreef SaurabhSharma

[2019-05-04 19:58] zepedaherbey opened #30605 "Confusing description of throughput assignment"
Under Logical Partitions, you mention the following:
"...the throughput that you provision on the container are automatically (horizontally) partitioned across a set of logical partitions."

Then, under Physical Partitions you state the following:
"Throughput provisioned for a container is divided evenly among physical partitions"

But, we also know that multiple logical partitions can be mapped t

[2019-05-04 21:42] ehorodyski opened #30607 "InvalidImageSize"

[2019-05-04 21:52] ehorodyski opened #30608 "Upload File using octet-stream w/ JavaScript"
I'm creating a React Native app that uses a user's mobile camera to send an image to Azure's Face API.

I'm having a lot of trouble piecing it together with `fetch`, this is as far as I've gotten:

[code]

However, I am thrown this back as the response:
[code]

Right now there is no documentation on what to do for a local file, only how to use files published on a web server. Can I get some help?

[2019-05-04 22:10] beachseeker opened #30609 "Instructions for connecting a database are incorrect"
The portal doesn't work as instructed any more, and if one follows the linked document, the quickstart never finds the DB connection.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05d8bada-af9f-f016-16d1-a0fd7f60c89d
* Version Independent ID: 2f6ef7d9-5bef-c53f-92fa-380e1afeedc3
* Content: [Get Started with Azure Mobi

[2019-05-04 22:32] femsulu commented on #30432
@Rajeswari-Mamilla any input on this?

[2019-05-04 22:43] rimman commented on #30605
Azure Cosmos DB provides throughput guarantees at the container level if you provision throughput on a container or at the database level, if you provision throughput on database. There is no reserved throughput at individual partition key level. As long as your requests are distributed across sufficient number of partition keys you should be able to drive the utilization very high. I hope this he

[2019-05-04 22:43] blouwagie opened #30610 "Since you are using the word Identity all over, please define it"
Since you are using the word Identity all over, please define it.
Please make this page easier for someone to forward to a C level person or a decision maker. Maybe an executive summary at the beginning. Currently you have to be a quite technical focus to understand this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-05-04 22:49] SwiftOnSecurity opened #30611 "Survey link is broken"
This link is broken:

"Join our cohort. We're always interested in having new customers join our cohorts to get early access to new features and help us improve DNS Analytics. If you are interested in joining our cohorts, fill out this quick survey."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d84cea6b-a85a-1814-b3e

[2019-05-04 23:56] romankiss opened #30612 "Cloud Explorer - IoT Hubs: Monitoring a C2D Message Feedback"
Currently version of the Cloud Explorer for IoT Hubs has built in a feature for **Monitoring C2D Messages**.

Activating this feature on the Cloud Explorer will impact a real device what is absolutely non acceptable from any explorer.

The real device connected with MQTT protocol to the Azure IoT Hub is immediately disconnected because the Cloud Explorer monitoring job has been connected as a "sim

[2019-05-05 00:30] aszalacinski commented on #30601
...and is there a working example of a loginredirect?

[2019-05-05 00:51] brunoborges commented on #30525
I agree with @ggailey777 .

[2019-05-05 01:06] zepedaherbey commented on #30605
So, I understand that if we allocate 1000 RU/s to the container, and we have 5 partitions, each partition will have a limit of 200 RU/s.
From a purely throughput perspective, what is the motivation to have a partition key? Why not just put everything under the same partition?
You mention that we could have "hot spots" but this doesn't seem to be any different with partitions. I am confused...
Than

[2019-05-05 02:18] Mike-Ubezzi-MSFT commented on #30608
@ehorodyski Thank you so much for the detailed feedback. We are currently investigating and will update you when we have more information.

[2019-05-05 02:24] Mike-Ubezzi-MSFT commented on #30603
@marvin06 Thank you for the inquiry. We are actively investigating and will get back to you soon.

[2019-05-05 02:28] Mike-Ubezzi-MSFT commented on #30612
@romankiss Than you very much for the detailed feedback. We are currently evaluating the feedback and will provide guidance as appropriate.

[2019-05-05 02:30] Mike-Ubezzi-MSFT commented on #30611
@SwiftOnSecurity Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-05 02:31] Mike-Ubezzi-MSFT commented on #30604
@JozoSlejko Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-05-05 02:35] Mike-Ubezzi-MSFT commented on #30610
@blouwagie Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-05-05 02:37] Mike-Ubezzi-MSFT commented on #30601
@aszalacinski Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-05-05 02:39] Mike-Ubezzi-MSFT commented on #30600
@aszalacinski Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-05 02:43] Mike-Ubezzi-MSFT commented on #30598
@Hanwen196 Thank you very much for your interest in Azure cloud services. Do you have any tutorial or other Microsoft docs that you are following? I am going to assign this to an Azure Storage engineer to help you but this might be better served through the MSDN and Stack Overflow forums.

[2019-05-05 02:45] Mike-Ubezzi-MSFT commented on #30607
We will now proceed to close this thread. If there is a specific issue or recommendation with an article found in the Microsoft Docs repository, please click on the feedback link at the bottom of the page and your detailed feedback will be properly routed. Thank you, ~Mike

[2019-05-05 02:45] #30607 closed

[2019-05-05 02:47] Mike-Ubezzi-MSFT commented on #30609
@beachseeker Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-05-05 02:52] KalyanChanumolu-MSFT commented on #30303
@Anilkbalakrishnan We havent heard from you in a while.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-05 02:52] #30303 closed

[2019-05-05 02:55] Hanwen196 commented on #30598
It looks I resolved the issue. If I set up the blob properties as text/html rather than application/stream, it seems resolve the issue.

[2019-05-05 02:56] Hanwen196 commented on #30598
I will let you know if I can resolve the issue

[2019-05-05 04:20] KalyanChanumolu-MSFT commented on #30355
@sugarjig my sincere apologies for the confusion. I assumed that your database server is created from the portal and you are creating new databases using Azure DevOps.
Thank you very much for clarifying.

Coming to the issue, yes enabling the tuning itself isnt supported via the powershell cmdlet.
However this is supported using the [rest api](https://docs.microsoft.com/en-us/rest/api/sql/database

[2019-05-05 07:22] zirain commented on #30059
@mike-urnun-msft

maybe we can do more discussion here:https://social.msdn.microsoft.com/Forums/en-US/d78bf3c8-37e1-41d4-b069-9233d4480118/o365-send-approval-mail-can-not-work-with-do-until-loop?forum=azurelogicapps#d78bf3c8-37e1-41d4-b069-9233d4480118

[2019-05-05 07:58] BhargaviAnnadevara-MSFT commented on #30271
@frenchy237 Have you had a chance to check and verify the above?

[2019-05-05 11:39] guy1699 opened #30613 "spelling mistake"
In the code sample, the letter 'v' missing.
"ar authenticationContext = new"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2158523f-079f-bc67-3121-9fa28418f383
* Version Independent ID: 62c3aad7-6352-64d9-12b5-11a8df5c8366
* Content: [Quickstart: Create an Azure Data Explorer cluster and database by using C#](https://

[2019-05-05 12:45] oflipman commented on #30613
Thanks,
Opened this PR for a fix:
https://github.com/MicrosoftDocs/azure-docs-pr/pull/75747

Ofer

From: Guy Assaf <notifications@github.com>
Sent: Sunday, May 5, 2019 2:40 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Ofer Lipman <Ofer.Lipman@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/azure-docs] spelling mistake (#30613)

In the code sample

[2019-05-05 13:31] msrini-MSFT commented on #30540
@nabilzay any update on this issu?

[2019-05-05 14:00] martinKindall opened #30614 "Azure Maps Android and Kotlin not working"
Tested on Android 6.0.1

Hello there, I'm following this tutorial https://docs.microsoft.com/en-us/azure/azure-maps/how-to-use-android-map-control-library in order to use Azure Maps on my Android app.

I imported all dependencies and gradle finishes the building without problem. I also created an azure maps account Standard S1.

The thing is when I start the app, the map is not shown, it just rema

[2019-05-05 14:56] DanielLarsenNZ commented on #30381
Still getting

[code]

etc after following all steps above

[2019-05-05 16:40] navyasric commented on #30601
@aszalacinski Can you share the B2C tutorial link that you are referring to?  We are making updates to t the B2C sample and preparing a B2C doc which will use the new version. Please stay tuned and we will keep you posted soon.

[2019-05-05 16:55] SumanthMarigowda-MSFT commented on #30614
@martinKindall Thanks for your question. We are checking on this and will respond to you soon.

[2019-05-05 17:12] kasunsjc opened #30618 "aks update not in the az aks command group"
When I try to run below in Azure cloud shell prompt me error
az aks update \
&gt;   --resource-group aks-network \
&gt;   --name aks-network \
&gt;   --enable-cluster-autoscaler \
&gt;   --min-count 1 \
&gt;   --max-count 3
az aks: 'update' is not in the 'az aks' command group. See 'az aks --help'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-05-05 17:22] r-maestas commented on #27773
Can anyone recommend further troubleshooting steps to those still experiencing a similar ‘dscextension’ error, even after switching from a user UPN to a service principal? I still receive the same error message as the OP:

VM has reported a failure when processing extension ‘dscextension’. Error message: DSC Configuration ‘FirstSessionHost’ completed with error(s). Following are the first few: Pow

[2019-05-05 17:53] onkarsinghms opened #30619 "Associate a reserved ip to a cloud service by using a service configuration file"
My cloud service only has worker role, adding the reserved IP snippet asks for an endpoint defined in csdef and fails while upgrading the deployment. How to resolve this problem ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7b87378-8b9e-5500-1c00-95d1ee79a094
* Version Independent ID: 1335a9ae-b1c3-84d1-81be-211fba

[2019-05-05 17:55] darivuki opened #30620 "Stream Logs From App Service Plans/App Services to Event Hubs"
Is this section missing or is it not possible to stream logs from these resources to Event Hubs? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d52744d-cf7a-41cd-44d5-7e3e2fa505f4
* Version Independent ID: 15826ae7-1696-39e7-2a8d-06263a4aebad
* Content: [Stream Azure Diagnostic Logs to an event hub](https://do

[2019-05-05 18:14] soninaren commented on #30541
Udate: the deployment is complete and this should work now.

[2019-05-05 18:33] aszalacinski commented on #30601
@navyasric Absolutely! https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp

[2019-05-05 18:37] aszalacinski commented on #30601
@navyasric Referenced in https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-tutorials-spa under the B2C Tutorials

[2019-05-05 18:40] cogran opened #30621 "Managing an existing subnet/VNet"
After deleting a SQL Managed Instance, it takes upwards of a week for the underlying virtual cluster and network intent policy to be cleaned up allowing deletion of the associated networking resources. I did not see this mentioned in this article or the creating new vnet/subnet for MI. Is this mentioned elsewhere and I have missed it or can this be added to further the understanding of how Azure S

[2019-05-05 18:43] aszalacinski commented on #30601
With all of that said, will the current library work with B2C? I have no problem digging into the msal code to figure it out... I don't HAVE to wait for official documentation. I want to get moving on my project. Please advise. :)

[2019-05-05 18:43] SubhashVasarapu-MSFT commented on #30619
@onkarsinghms ,We are looking into this query and will update you as soon as possible.

[2019-05-05 21:28] abatishchev commented on #28841
Please reopen. The said documentation article still says _nothing_ about Visual Studio 2019.

[2019-05-05 22:34] mike-urnun-msft commented on #30431
@mjarmstrong Thanks again for pointing these out. We'll add **"... (Legacy)"** to all applicable occurrences for now so as to not create any further confusion but will also make larger update to reflect the current steps.

cc: @miaojiang

[2019-05-05 22:53] hostenvoy opened #30622 "Response Types?"
I was able make this work in a different form using Nodejs. The response was ArrayBuffer. Is there another response Type other than ArrayBuffer  such as Blob, Base64 string etc. ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c66a75d-b472-3bca-3cd5-8cbf7a77859d
* Version Independent ID: fa68e454-aadd-cba6-6d0d-e83030

[2019-05-05 23:23] Karishma-Tiwari-MSFT commented on #30561
@PtMcBride
As discussed offline, we will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-05-05 23:23] #30561 closed

[2019-05-05 23:26] Karishma-Tiwari-MSFT commented on #30618
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-05 23:36] mike-urnun-msft commented on #30212
Hi @agnimitra Have you tried exporting to ARM template and recreate against your new instance? Better yet, we recommend you try out this tool for establishing complete DevOps: [Azure API Management DevOps Resource Kit](https://github.com/Azure/azure-api-management-devops-resource-kit)

[2019-05-06 00:11] navyasric commented on #30601
@aszalacinski Thank you very much. The [sample above](https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp) has been updated to use the latest msal.js. Please try it out and please open any issues with the sample on the sample repo.. Thank you.

[2019-05-06 00:17] mike-urnun-msft commented on #30073
@xiaoyang-connyun Client Secret doesn't appear to be a required item as per: https://docs.microsoft.com/en-us/azure/templates/microsoft.apimanagement/2019-01-01/service/authorizationservers#authorizationservercontractproperties-object

Could you elaborate on your scenario with using named values for OAuth endpoint values? i.e: where are you referencing the named values in your APIM etc?

[2019-05-06 01:26] Mike-Ubezzi-MSFT commented on #30622
@hostenvoy Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-05-06 01:30] Mike-Ubezzi-MSFT commented on #30621
@cogran Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate. @CarlRabeler for awareness.

[2019-05-06 01:36] Mike-Ubezzi-MSFT commented on #30620
@darivuki Thank you for inquiring. We are actively investigating and will get back to you soon.

[2019-05-06 01:51] rahulunlimited opened #30624 "Function App URL not parameterized for ARM Template"
When you export the ARM template, the Azure Function App URL is not part of ARM parameter. This is required to make the ADF configurable and move between environments.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 965d9ab8-6b54-daba-9693-206845821d0c
* Version Independent ID: 08725018-92a0-6b2c-8130-6debcc535b7a
* Con

[2019-05-06 01:52] rahulunlimited opened #30625 "File Storage host not part of ARM template parameter"
When you export the ARM template, the Azure File Storage host is not part of ARM parameter. This is required to make the ADF configurable and move between environments.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 875046ad-0ad6-e02b-fc45-6eeb9afa340a
* Version Independent ID: 8f4e9372-eb73-d02a-7703-43fe149a7c1b
* Co

[2019-05-06 02:42] DixitArora-MSFT commented on #30451
@tony-gutierrez I have assigned this to content author to review and update as appropriate.

[2019-05-06 02:48] DixitArora-MSFT commented on #30521
@TurtleBeach This will be corrected when PowerShell 6.2 is installed. Installed powershell 6.2 from [doc](https://github.com/PowerShell/PowerShell#get-powershell) and configure in Visual Studio code as follow.
File-->>Preferences->> Settings

![image](https://user-images.githubusercontent.com/46984568/57204788-726e6500-6fd7-11e9-9894-d2e76eecf187.png)

[2019-05-06 02:50] DixitArora-MSFT commented on #30381
@eschrader Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-06 02:51] DixitArora-MSFT commented on #30448
@tony-gutierrez I have assigned this to content author to review and update as appropriate.

[2019-05-06 02:57] hostenvoy commented on #30622
I have resolved the issue. Everything works well now as expected. I was able to upload my returned audio (Unit8Array) to firebase storage.

[2019-05-06 03:23] trolleyboy commented on #27087
Hi @btardif,
When can I expect to see some more information on this?

[2019-05-06 03:33] jamshaidishaque opened #30626 "Azure function not reading the exsiting storage account values"
Hi Team,

I am still facing the issue of not linking the existing storage account with Azure function.

Every time when I try to deploy a Azure function with maven **mvn azure-functions:deploy** it is not reading my connection-string from pom.xml and create a new storage account.

I am providing the value like this

`<property>`
`<name>AzureWebJobsStorage</name>`
`<value>Storage_account_connection

[2019-05-06 04:04] RohitMungi-MSFT commented on #30395
@siddiqaa We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-06 04:04] #30395 closed

[2019-05-06 04:13] tutul2010 commented on #30593
ANy update , Pls

[2019-05-06 04:15] ChiragMishra-MSFT commented on #30624
@rahulunlimited Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-05-06 04:16] ChiragMishra-MSFT commented on #30625
@rahulunlimited Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-05-06 04:28] SadiqhAhmed-MSFT commented on #30445
@stewartadam Could you share the screenshot of the portal?

[2019-05-06 04:29] angoyal-msft commented on #30355
@sugarjig We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-06 04:29] #30355 closed

[2019-05-06 04:44] VikasPullagura-MSFT commented on #30408
@chi-ltd Is there any update.

[2019-05-06 05:12] jakaruna-MSFT commented on #30134
@m-raman I will close this out for now. If you need additional help please mention me in the comment and we can reopen and continue.

[2019-05-06 05:12] #30134 closed

[2019-05-06 05:13] jakaruna-MSFT commented on #29459
@kazshi Did you get a chance to look at the above comment.

[2019-05-06 05:26] DixitArora-MSFT commented on #30549
@antoniobriones The version 2.x runtime uses a new language extensibility model. In version 2.x, all functions in a function app must share the same language.

[2019-05-06 05:30] KrishnaG-MSFT commented on #30523
@elvirk Closing this issue for now. If there are further questions regarding this matter or questions or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-05-06 05:30] #30523 closed

[2019-05-06 05:32] alexmbaker opened #30628 "Security when copying between subscription"
The documentation suggests that I can make a copy of any database from any subscription given:

* I have a SQL User Name and password for the source database
* The user has db_manager role
* There is a firewall exception allowing access to the source

If I wanted to take an unauthorised copy of a database and:

* The "Allow Access to Azure Services" firewall option was selected
* I had an idea whi

[2019-05-06 06:01] #27078 closed

[2019-05-06 06:07] SadiqhAhmed-MSFT commented on #30520
@tcjohnson71 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-06 06:07] #30520 closed

[2019-05-06 06:07] spanditha opened #30629 "Out of date"
This documentation appears to be out of date. Also, the link to the API reference appears to be broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2db331e-a45b-e73e-d4d1-8507ffb73e73
* Version Independent ID: 56ed4f35-ce18-7a85-ffb5-c54e3edf760f
* Content: [What is the Entity Linking Intelligence Service API?](htt

[2019-05-06 06:10] SadiqhAhmed-MSFT commented on #30484
@MarkDNL PowerShell support is not yet out. It will take about a month to release it. Till that time, this [article](https://docs.microsoft.com/en-us/azure/site-recovery/vmware-azure-disaster-recovery-powershell#create-storage-accounts-for-replication) holds valid. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will g

[2019-05-06 06:10] #30484 closed

[2019-05-06 06:16] aquibqureshi26 commented on #30555
Hi Team,

I've successfully able to create NSG and Attach it to Subnet using below code. Please if you could add it in the docs then it might help someone else as well.

[code]

[2019-05-06 06:20] Zimmergren opened #30630 "Support for Managed Identity using the Container Instances Fluent API (C#)"
It's great with support for Managed Identities for ACI's, and they're working pretty well when I provision from the Azure CLI.

However, as far as I've been able to tell, the Fluent API (C#) for Container Instances are lacking the ability to specify Managed Identity when we create new container groups.

Is this planned, or have I missed it and it's already there?

There's a couple of important thi

[2019-05-06 06:22] AshokPeddakotla-MSFT commented on #28293
@zapdog43 We hope your query is addressed. As mentioned, we will update the readme with more details.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-06 06:22] #28293 closed

[2019-05-06 06:22] PramodValavala-MSFT commented on #30626
@jamshaidishaque Unfortunately, I believe this isn't supported yet. As mentioned in MicrosoftDocs/azure-docs#19298 where you've also commented, there is an open issue Microsoft/azure-maven-plugins#110 for supporting this.

As a workaround, you could use the maven plugin just for building and then use `func` to deploy.

1. Build the app
[code]
2. Use `func` to publish
[code]

We are assigning this

[2019-05-06 06:26] PramodValavala-MSFT commented on #19298
@abhinav-jain09 Here is a [workaround](https://github.com/MicrosoftDocs/azure-docs/issues/30626#issuecomment-489511754) for this until its officially supported

[2019-05-06 06:26] orspod commented on #30613
@guy1699 thanks for the correction.
Fixed by [pr#75747](https://github.com/MicrosoftDocs/azure-docs-pr/pull/75747)
#please-close

[2019-05-06 06:43] PramodValavala-MSFT commented on #30469
@aorsten Just following up here... Hope my previous comment helps.

[2019-05-06 06:45] PramodValavala-MSFT commented on #30514
@TurtleBeach Just following up here... Are you still facing this problem?

[2019-05-06 06:54] RohitMungi-MSFT commented on #30629
@spanditha Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-05-06 06:55] PramodValavala-MSFT commented on #30577
@jayhub42 Looks like this isn't supported yet for Python. Do note that Python support for Azure Functions is currently in preview.

I believe you can use the [sendgrid-python](https://github.com/sendgrid/sendgrid-python) library directly until its officially supported.

@asavaritayal Could you confirm if there is a plan for this?

[2019-05-06 07:00] aorsten commented on #30469
That's good. The important thing here is that new users (like I was) don't encounter roadblocks when trying new tech.. :)

[2019-05-06 07:14] VikasPullagura-MSFT commented on #30630
@Zimmergren Thanks for your feedback, we will look into this issue and will get back to you.

[2019-05-06 07:17] VikasPullagura-MSFT commented on #30630
@dlepow Please add your comments for the above issue.

[2019-05-06 07:31] dmytro-gokun commented on #30092
@jlian I'm not sure if this is the correct place to ask this question, but i did not find a better one... so, please bear with me. But.. what is the reasoning behind "Routing: messages delivered to messages/events" being only valid when the routing feature of IoT Hub is enabled? I mean, I do not have any rotuing, but i'm still interested to see if the messages are routed properly to the internal e

[2019-05-06 07:31] angoyal-msft commented on #30628
@alexmbaker Thanks for your feedback. I have assigned this issue to the content author.
@CarlRabeler Could you please look at this issue and update the document as appropriate.

[2019-05-06 07:33] nabilzay commented on #30540
My only concern is that if we use a Public LB in addition to the Azure Firewall, the default route for the subnet using the Public IP of the LB will need to be "Internet" and not the Azure Firewall, correct? That way we are bypassing the Azure Firewall for all VMs on that subnet.

[2019-05-06 07:53] PATRICKwithMSFT opened #30632 "Why this is not working (not MSFT support, sales rep school project)"
You can fix the issue by downloading twitter-stream-ml-0.2.0 Spark package not attempt to install "org.twitter4j:twitter4j-core:4.0.6" that version of the Twitter API is no longer supported. I gather?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fbd2747-9807-4c9b-e07f-819570e054f8
* Version Independent ID: 03a288c1-

[2019-05-06 08:02] ChiragMishra-MSFT commented on #30632
@PATRICKwithMSFT Can you please elaborate the exact issue you are facing?

[2019-05-06 08:04] githubavi opened #30633 "Sample missing in Github"
Hi, I was trying to use this new Api. As I checked in github samples, it is not there. I tried to write my own code based on the examples above but facing several issues to make it run.
1. Can this documentation be updated little better way like step-by-step approach?
2. Is it possible to update the current speech sdk git repo with "Transcribe conversation" sample?

---
#### Document details

⚠ *D

[2019-05-06 08:06] PATRICKwithMSFT commented on #30632
Essentially none of the Scala worked prior due to the "org.twitter4j:twitter4j-core:4.0.6" API being outdated and listed under "Attach libraries to Spark cluster". I fixed the issue using the method mentioned above.

[2019-05-06 08:11] RohitMungi-MSFT commented on #30629
@spanditha Project Entity Linking features are now available in the Cognitive Services Text Analytics API. To learn more, go to this [link](https://azure.microsoft.com/en-us/services/cognitive-services/text-analytics/)

[2019-05-06 08:14] ChiragMishra-MSFT commented on #30624
@rahulunlimited Thanks for bringing this to our notice. However Github is a channel to provide feedback on the docs on Azure Services.

I would recommend you to provide feedback at the [feedback forum](https://feedback.azure.com/forums/270578-data-factory/). All the feedback you share, is closely monitored by the Data Factory Product team and implemented in future releases.

Also, Regarding servic

[2019-05-06 08:14] #30624 closed

[2019-05-06 08:15] ChiragMishra-MSFT commented on #30625
@rahulunlimited Thanks for bringing this to our notice. However Github is a channel to provide feedback on the docs on Azure Services.

I would recommend you to provide feedback at the feedback forum. All the feedback you share, is closely monitored by the Data Factory Product team and implemented in future releases.

Also, Regarding service general availability, I would suggest to keep an eye on

[2019-05-06 08:15] #30625 closed

[2019-05-06 08:15] goldjg commented on #29834
Great news - just started to use the lifecycle management policy and was surprised by the lack of logging of lifecycle policy actions other than setting/changing the policy itself. Look forward to the additions.

[2019-05-06 08:24] angoyal-msft commented on #30536
@ajlam Could you please help with this issue.
I was trying to repro this issue. But I am not able to connect with MariaDB using port 3306 as in the note it is mentioned that this port needs to be opened by asking the IT department.

![image](https://user-images.githubusercontent.com/43370663/57214045-43bbb300-7006-11e9-8093-a4204e1fc165.png)

[2019-05-06 08:34] BryanTrach-MSFT commented on #30476
@fbarbare This might not be possible. There is chance this might be possible by manually approving it. We'll need to investigate further. Please reach out to us at azcommunity@microsoft.com with your subscription ID and the URL of this forum post. We look forward to your reply.

[2019-05-06 08:34] #30476 closed

[2019-05-06 08:57] houssamn commented on #30376
Managed to work around the issue by issuing a separate function call to enable_ssl()
provisioning_config = AksCompute.provisioning_configuration()
provisioning_config.enable_ssl(leaf_domain_label = "myservice")

[2019-05-06 09:09] SumanthMarigowda-MSFT commented on #30345
@RaviSahuImpetus Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-05-06 09:09] #30345 closed

[2019-05-06 09:10] ram-msft commented on #30633
@githubavi Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-05-06 09:16] papaiatis opened #30634 "What should I do with the token at the Resource Web API side?"
I'm implementing a solution to authenticate a service in another service and I'm using the techniques described in this document.
However, the document does not say what should I do with the token at the Resource Web API side?
Should I validate it's signature? If so, how? Because I couldn't do that using the appropriate public key.
Thanks!

---
#### Document Details

⚠ *Do not edit this section. I

[2019-05-06 09:19] PramodValavala-MSFT commented on #30469
@aorsten We totally understand. Sorry about the experience. This configuration is a pretty new feature that was added but guess this particular scenario was overlooked.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-06 09:19] #30469 closed

[2019-05-06 09:28] SumanthMarigowda-MSFT commented on #30393
@chanmmn  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-05-06 09:28] #30393 closed

[2019-05-06 09:30] SubhashVasarapu-MSFT commented on #30279
@ChrisLopezUK , Appreciate your patience. These doumentation aims at providing guidance for azure newbies so that they can understand the concepts easily and will be flexible to work with with them.But, again we would like to appreciate your valuable feedback on this and will share with the content author for further review.
@vhorne , Could you please provide your insights on this?

[2019-05-06 09:30] SumanthMarigowda-MSFT commented on #30396
@antgonmir Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-05-06 09:34] nphmuller commented on #21602
Setting `Origin type` and `Origin host` was indeed a bit vague in the docs. Took me a while to learn which values I had to use.

I used this page: https://docs.microsoft.com/en-us/azure/storage/blobs/storage-https-custom-domain-cdn
The page mentions the `Origin type` setting, but doesn't mention the proper value of `Origin host`.

[2019-05-06 09:38] lubalibu commented on #30415
Hi @EikisteinS,

In general auditing setting on server level applies on all databases under the server. Server level auditing is also applies on geo-dr secondary databases for auditing setting with storage account. However, currently, server level auditing policy with Log analytics/Event hub doesn't applies on the secondary database under the server (we skip does databases). We will support the Lo

[2019-05-06 09:58] SubhashVasarapu-MSFT commented on #30261
@JGrusa , Just checking in to see if you have had a chance to see the previous response.

[2019-05-06 10:06] JGrusa commented on #30261
Hi Subash,

sorry wasn’t able to do so. Will check later today or latest tomorrow.
Thank you for your effort so far. Highly appreciated.

Mit freundlichen Grüßen aus Markt Indersdorf,
Jürgen Grusa

[X-DATA-Transparent5050]
Sonnenstrasse 20a
D-85229 Markt Indersdorf

Tel.: +49 (0) 8136 2289 403
Fax.: +49 (0) 8136 80 88 52
Mobil: +49 (0) 151 1161 4963
http://www.x-data.de<http://www.x-data.de/>
Date

[2019-05-06 10:09] lightupdifire opened #30637 "Upgrade"
Hello,
Please confirm that when performing Agent and Proxy upgrade, no need to re-run configuration.
For Proxy seems to be clear as it is written "Registration of the proxy service for password protection is necessary only once in the lifetime of the service".
But regards DC Agent, simply installing on top of existing too?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-05-06 10:11] SumanthMarigowda-MSFT commented on #30404
@bertrandpons Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-05-06 10:11] #30404 closed

[2019-05-06 10:15] jakaruna-MSFT commented on #30524
@jaspertomas Goot to hear that.
When we follow the document, In the step [Create a virtual machine](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/tutorial-lamp-stack#create-a-virtual-machine) we didn't specify the size.
So it will pick `Standard_DS1_v2` as the default value. That size has 1 VCPU and 3.5 GB of RAM.
I think that should be fine for this use case and we dont need to up

[2019-05-06 10:15] #30524 closed

[2019-05-06 10:18] jakaruna-MSFT commented on #30230
@hfcheng66  I will assign the issue to the content author to investigate further and update the document as appropriate.

[2019-05-06 10:19] jakaruna-MSFT commented on #30230
@hfcheng66 Feel free to post on the [MSDN VM Forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=WAVirtualMachinesforWindows) if you face issues with creating windows machines with terraform.

[2019-05-06 10:21] MohitDhingra-MSFT commented on #30490
Hi @Norrch2,

Yes, the "Paragraph" user input type is used to provide a field that shows text only in a paragraph tag. For populating default value, Could you please mention the default text in <DisplayName> tags and remove the <Restriction> tags.
Please let us know if that helps.

[2019-05-06 10:21] KetanChawda-MSFT commented on #30592
@nmfisher I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-06 10:25] KetanChawda-MSFT commented on #30494
@alexkarcher-msft / @kashimiz  need your insights.

[2019-05-06 10:30] KetanChawda-MSFT commented on #30541
@githubavi We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-06 10:30] #30541 closed

[2019-05-06 10:31] SumanthMarigowda-MSFT commented on #30312
@Charmendar We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-06 10:31] #30312 closed

[2019-05-06 10:32] SumanthMarigowda-MSFT commented on #30482
@LosManos  Thanks for bring this to our attention, The PR request has been initiated

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-06 10:32] #30482 closed

[2019-05-06 10:43] SumanthMarigowda-MSFT commented on #30510
@Absoblogginlutely  You can have both the AzureRM and Az modules installed at the same time. If you have both modules installed, don't enable aliases. Enabling aliases will cause conflicts between AzureRM cmdlets and Az command aliases, and could cause unexpected behavior. It's recommended that before installing the Az module, you uninstall AzureRM. You can always uninstall AzureRM or enable alias

[2019-05-06 10:47] YASWANTHM-MSFT commented on #29214
@ohadbitt, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-06 10:47] #29214 closed

[2019-05-06 11:01] shashishailaj commented on #30467
@subhankars We tested this internally using a MVC app as well and your findings are accurate , we don't get issue with the same secret containing special characters while from within postman or MVC app . We have reported this internally to the APIM PG are engaging the Product team to further check on this.

Thank you.

[2019-05-06 11:02] prajster commented on #30527
Add-AzVirtualNetworkPeering `
  -Name myVirtualNetwork1-myVirtualNetwork2 `
  -VirtualNetwork $virtualNetwork1 `
  -RemoteVirtualNetworkId $virtualNetwork2.Id

The $virtualNetwork1 input here throws the error:
Add-AzVirtualNetworkPeering : Object reference not set to an instance of an object.
At line:1 char:1
+ Add-AzVirtualNetworkPeering -Name Hub1-Spoke1 -VirtualNetwork $virtua ...
+ ~~~~~~~~~~~

[2019-05-06 11:05] shashishailaj commented on #30467
@vladvino Could you please help get this reviewed by product engineering ?

[2019-05-06 11:19] MohitDhingra-MSFT commented on #30477
Hi @anuponugoti

As per the document, I am able to execute the policy but if you are only using local accounts and do not want to use facebook authentication then in active-directory-b2c-custom-policy-starterpack repo you can check "LocalAccounts" folder and the trust framework files within the same which can be used for a scenario where only local account logon needs to be permitted. Should this

[2019-05-06 11:28] SumanthMarigowda-MSFT commented on #30349
@monhaber Requesting you to please add your comment here

[2019-05-06 11:34] dcurwin commented on #30308
Hi, thank you for your feedback.

The article has been replaced with a more detailed article, with an up to date support matrix.

The article details that MABS Server can be installed on Server 2019.

Server 2019 cannot currently be backed up to MABS. When support is available, we will update the article.

[2019-05-06 11:34] dcurwin commented on #30308
#please-close

[2019-05-06 11:38] shashishailaj commented on #30475
@mrdfuse For improving the product security wildcard schemes are not supported anymore by design. You can check the section [reply URLs in this article](https://docs.microsoft.com/en-us/azure/active-directory/develop/app-registrations-training-guide#reply-urlsredirect-urls) for more information. The article says .

[code]
This behavior is by design now. We recommend you to use the new App registra

[2019-05-06 11:40] MohitDhingra-MSFT commented on #30472
@MicrosoftGuyJFlo Could you please have this verified this with product engineering and accordingly update the document.

Thank you.

[2019-05-06 11:49] blueelvis opened #30641 "PremiumV2 required for the new Vnet integration?"
Hi,

In one section (https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet), it is mentioned that this new integration will work with `Standard`, `Premium` or `PremiumV2` App Service Plan but in this section (https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet#new-vnet-integration), it is mentioned as if you can scale to `PremiumV2`. Could yo

[2019-05-06 11:49] martinweberhansen commented on #23408
I ran into the same problems as others and here is a few hints that might help others.

Firstly: If you added the .bat file like the tutorial says "right-click VotingWeb and select Add->New Item and add a new file named "Setup.bat". Visual studio might encode it wrong. In my case there was unwanted symbols in the beginning of the file (I might have done it incorrectly), check it by running the .ba

[2019-05-06 11:50] Norrch2 commented on #30490
@MohitDhingra-MSFT,

Thank you for your reply.

I am unsure of what you are saying. You mentioned to use the default tags and remove the tags?

I have tried using the DefaultValue attribute and was unable to get B2C to display any value in it. From the examples that are provided they are restriction elements.

Can you please provide an example that uses a default value without requiring a claimstr

[2019-05-06 11:51] catafest opened #30642 "working with this Endpoint"
computerVision.Endpoint = "https://westcentralus.api.cognitive.microsoft.com";
see results: https://t.co/i5NuNeE4Vf

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc1afe24-ffb4-7602-b809-b688a3757737
* Version Independent ID: bdc9a3ae-f4d3-76c6-e5ec-e83b5cd36883
* Content: [Quickstart: Extract handwritten text - SDK, C

[2019-05-06 11:57] hadr10 opened #30643 "Support for oracle linux"
Will be this in future possible to use with Oracle Linux?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb8e2623-1f79-aee3-bd97-8b5f647b6980
* Version Independent ID: 6346b54d-cc8d-0b79-a6b8-f9144cfa2459
* Content: [Log in to a Linux VM with Azure Active Directory credentials](https://docs.microsoft.com/en-us/azure/vi

[2019-05-06 12:12] RohitMungi-MSFT commented on #30642
@catafest Could you please provide more details about the issue? I see the endpoint has returned results for the image. Have you set the mode to Handwrittern?

Have you also tried other handwritten images with better quality for accurate results?

[2019-05-06 12:25] jakaruna-MSFT commented on #29975
@JerryMWeeks AAD login works well with Redhat 7.6. I verified just now.

[2019-05-06 12:27] jakaruna-MSFT commented on #29975
@carlosporter That is not a workaround. That can be used when the user don't want to login again with AAD when using sudo.
The default behavior is to ask for password when the user users sudo.

I will reply in that issue as well.

[2019-05-06 12:33] EikisteinS commented on #30415
Hi @lubalibu, Thank for your reply. I still think the message could be more clear because it is warning message. The wording "not supported" may induce the understanding that you can not enable eventhub and azure logs as audit logs target when the server holds a secondary database.<BR>
So, the current message "Using event hub or Azure Monitor logs as targets for audit logs at the server level is c

[2019-05-06 12:33] #30415 closed

[2019-05-06 12:33] markarnolditpro opened #30644 "Okta as IdP samples?"
Is there an IEF example available for integration with Okta as either an OIDC or SAML Idp?  Finding clear guidance has been challenging.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cb586f8-c1ff-7676-08b3-915ee00383b0
* Version Independent ID: f1770ad7-7ee4-090b-78f8-85924233b190
* Content: [Define an OpenId Connect

[2019-05-06 12:40] jakaruna-MSFT commented on #30340
Thanks @ashleywb. I will check this scenario and let you know.

 @MicahMcKittrick-MSFT Please provide your comments

[2019-05-06 12:57] Charmendar commented on #30578
Thank you very much! I will test this one. In the mean time could you please update this ARM template reference?
https://docs.microsoft.com/en-us/azure/templates/microsoft.network/2018-11-01/networkwatchers#NetworkWatcherPropertiesFormat

Looks like the link to NetworkWatcherPropertiesFormat object is broken so I am not able to see what is expected in the property

[2019-05-06 13:03] tmhui94 opened #30645 "Adding Application from different AAD"
Hi, I'm wondering is it possible to add Web Application which created from different tenant ?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f1c1d09-3921-2730-1b7b-2cc2d601bdd4
* Version Independent ID: 71c02dae-2cb2-07c2-dfa4-96990fee3389
* Content: [How to authenticate and authorize by API in Azure Time Series Insigh

[2019-05-06 13:05] TechWatching commented on #30352
Thanks, I just send an email with the details.

[2019-05-06 13:15] prajster opened #30646 "Errors out at the initial stage itself"
PS C:\WINDOWS\system32&gt; Register-AzResourceProvider -ProviderNamespace 'Microsoft.Security'
Could not load type 'Microsoft.Azure.Commands.Common.Authentication.Abstractions.IAzureContextContainer' from assembly
'Microsoft.Azure.PowerShell.Authentication.Abstractions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'.
At line:1 char:1
+ Register-AzResourceProvider -ProviderNames

[2019-05-06 13:18] TurtleBeach commented on #30514
@PramodValavala-MSFT The issue appears to be resolved - seems it was related to the Azure dns issue last week. Thank you for following up.

[2019-05-06 13:18] #30514 closed

[2019-05-06 13:21] cephalin commented on #26751
@ernesto-arm Not sure what you mean by auto-scaling + wardeploy but all instances in a scaled-out app uses the same deployment location, the network share that the war file is deployed. Files don't get deployed to individual instances.

[2019-05-06 13:35] HenryPSF commented on #19568
Hi everyone, I try to make the Quickstart: Send telemetry from a device to an IoT hub and read it with a back-end application (Node.js), with nodejs v6 or or next version this work, but with v5.12.0 or previus does work, can I Send simulated telemetry, please can help me.
C:\Users\HenrySisalema\SOUTHWORKSGIT\azure-iot-samples-node\iot-hub\Quickstarts\simulated-device>node SimulatedDevice.js
C:\Use

[2019-05-06 13:39] alamfsmb commented on #18508
For my situation, it was a simple case of users with firewalls that were blocking our blob storage resources.

[2019-05-06 13:48] #28834 closed

[2019-05-06 13:48] #30427 closed

[2019-05-06 14:00] Apholisha opened #30649 "alerts-common-schema-definitions.md doesn't mention monitoringService: "Resource Health" and "ServiceHealth""
In the [schema-definition](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-monitor/platform/alerts-common-schema-definitions.md) for the comman alerts there are a couple of things missing.

The Alert contexts can differ depending on the monitoringService.
The "Resource Health" and "ServiceHealth" are no mentioned and they are indeed different.

Could you please add them ?

-

[2019-05-06 14:07] shashishailaj commented on #30473
@Nosferatu-Dk When you reset a password directly from the user's client machine as a user, the client machine contacts the nearest domain controller and eventually the DC with a PDC role if that is available or not. because the password replication is an urgent event and the password needs to be updated on the domain controller which has PDC role in the least possible time. Because whenever a new

[2019-05-06 14:07] #30473 closed

[2019-05-06 14:11] shashishailaj commented on #30634
@papaiatis Thank you for your query . We will investigate and update the thread.

[2019-05-06 14:12] shashishailaj commented on #30637
@lightupdifire Thank you for your query . We will investigate and update the thread.

[2019-05-06 14:20] msfe opened #30650 "Broken link"
In: ASP.NET and .NET core applications point 4

4. Install the [[Azure Services Authentication extension for Visual Studio]]. Through this extension, app can access Key Vault using the Visual Studio sign-in identity.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba5deb43-08e3-09fe-1696-29f49764580b
* Version Independe

[2019-05-06 14:26] mrdfuse commented on #30475
Hi @shashishailaj @MGoedtel, I think you missed my point. It's your documentation that says to add a redirect uri with a wildcard in it (the second sentence of this paragraph: https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-live-logs#configure-aks-with-azure-active-directory). That won't be possible anymore using the new app registration UI.

Furthermore the docume

[2019-05-06 14:27] papaiatis commented on #30634
I manage to validate the signature with the public key. I had to wrap it within a BEGIN CERTIFICATE / END CERTIFICATE block.
However I'd still like to know what should I exactly do with the access token at the target side? Is signature validation enough?

[2019-05-06 14:28] maryannlim opened #30651 "Possible allocation methods for VPN gateway"
In the VPN gateways section under Public IP addresses, it says, "You can only assign a dynamic basic public IP address to a VPN gateway"; however, the summary table in the At-a-glance section has Yes in both the Dynamic and the Static columns for the row VPN gateway.

Can you kindly help confirm if you can assign a static basic public IP address to a VPN gateway or not? Thank you in advance!

---

[2019-05-06 14:29] #30431 closed

[2019-05-06 14:30] maryannlim opened #30652 "Typo in Routing example"
The explanation for Route ID #4 in the routing example ends with "The state of the routes in IDs 4 and 5 are still Active for Subnet2, because the route table that the user-defined routes in IDs 4 and 5 are in, isn't associated to Subnet2. A virtual network peering was created to meet requirement 1." I believe this should be "The state of the routes in IDs 4 and 5 are still Active for Subnet2, bec

[2019-05-06 14:32] antoniobriones commented on #30549
Thanks, we'll follow the path of targetting one vs code project to one fuction app.

[2019-05-06 14:32] #30549 closed

[2019-05-06 14:34] maryannlim opened #30653 "Allow gateway transit and Use remote gateways in globally peered virtual networks"
In the Create a peering section, under Allow gateway transit and Use remote gateways, it says "You cannot enable this option if you're peering virtual networks in different regions"; however, in the Requirements and Constraints section, it says "You can use remote gateways or allow gateway transit in globally peered virtual networks and locally peered virtual networks."

Can you kindly help confir

[2019-05-06 14:42] sugarjig opened #30654 "Smart detection rules not documented in ARM reference"
The `ProactiveDetectionConfigs` resource type documented here is not present in the [ARM reference for Insights](https://docs.microsoft.com/en-us/azure/templates/microsoft.insights/allversions). Also, the API version `2018-05-01-preview` used for `components` is not documented there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2019-05-06 14:50] digeler opened #30655 "Missing documentation regarding needed permissions for the user deploying aks."
Hi ,
I have the following scenario am using devops to deploy aks with advanced networking.
Am using to pre created spns :
1. is for the devops login which i assign the following role definitions  :
"Actions": ["Microsoft.Network/virtualNetworks/subnets/join/action", "Microsoft.Network/virtualNetworks/subnets/read"],

2. is for the aks usage which i supply in the az aks create ,with the same role d

[2019-05-06 14:57] Karishma-Tiwari-MSFT commented on #30643
Thanks for the question! We are currently investigating and will update you shortly.

[2019-05-06 15:01] abiabsurd opened #30656 "Misleading example description"
The description leads the reader to believe that the provided code will "ensure that only one instance of a particular orchestrator runs at a time", however this is not the case. If an instance has ever been created, the `existingInstance` variable will not be null, even if said existed is no longer running.

I suggest either updating the description to accurately match what the provided code does

[2019-05-06 15:10] hoylemd opened #30657 "context.Request.Body may be null"
I discovered that for requests that don't have a body (e.g. a GET request), `context.Request.Body` does not resolve to an `IMessageBody` instance as documented here, but instead resolves to `null`.  This caused a `NullReferenceError` whenever that policy was evaluated, breaking the whole request loop cycle. The information present in the trace tab of APIM Test wasn't very helpful in tracking the s

[2019-05-06 15:12] Charmendar commented on #30578
I have tried the above template and when I trigger the deployment I got following error:
"error": {
    "code": "InvalidRequestContent",
    "message": "The request content was invalid and could not be deserialized: 'Cannot deserialize the current JSON object (e.g. {\"name\":\"value\"}) into type 'Microsoft.WindowsAzure.ResourceStack.Frontdoor.Templates.Schema.TemplateResource[]' because the type

[2019-05-06 15:19] Mike-Ubezzi-MSFT commented on #17985
Are you looking for your backups or for a separate storage account? A separate storage account could be setup through T-SQL but backups take place automatically and is part of your provisioned storage. You would access this through the portal or via PowerShell for automatic backups.

[2019-05-06 15:22] MicahMcKittrick-MSFT commented on #30655
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-06 15:22] tb2186 commented on #29632
Does anyone know where I can find the list of annotations that are available for the internal load balancer?  I can't seem to find them anywhere.

What I'm trying to do is give a specific name for the internal load balancer when it's created so that I don't end up with a bunch of internal LB all named "kubernetes-internal"

I'm trying to figure out where these are documented (other than this artic

[2019-05-06 15:40] RyanHill-MSFT commented on #30641
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-06 15:42] rothja commented on #30479
@mfalkvidd I have updated links for two of the device twin settings including the one you mentioned. When this merges, this git issue will close. Thank you! @robinsh FYI.

[2019-05-06 15:45] #30479 closed

[2019-05-06 15:47] himanshusinha-msft commented on #30416
@jn-altius :  We are closing this issue as we have not heard back from you , you can always re-open the issue if you think that appropriate .

[2019-05-06 15:47] #30416 closed

[2019-05-06 15:48] shashishailaj commented on #30650
@msfe Thank you for your contribution. We will have this reviewed and updated as per review.

Thank you.

[2019-05-06 15:49] himanshusinha-msft commented on #30384
At this time we only have the Content-Type as application/octet-stream .
We are closing this issue  , you can always re-open the issue if you think that's appropriate .

[2019-05-06 15:49] #30384 closed

[2019-05-06 15:53] himanshusinha-msft commented on #30508
@MarkAtAgilliance : We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2019-05-06 15:57] gjswalling opened #30658 "inconsistentcy in JSON examples for multi-turn conversations"
At https://docs.microsoft.com/en-us/azure/cognitive-services/QnAMaker/how-to/multiturn-conversation#json-response-to-return-non-initial-answer-and-follow-up-prompts

most of the JSON examples are for "accounts and signing in", but the final example JSON response to non-initial answer is for "Give feedback", which is a little confusing.  I was hoping to see the example of non-initial answer for "ac

[2019-05-06 16:00] pragnagopa commented on #30525
sure @ggailey777 ! Here is the content: https://github.com/Azure/azure-functions-java-worker/wiki/How-to-set-JAVA_OPTS-to-customize-JVM-options-on-Azure-Functions

[2019-05-06 16:02] msrini-MSFT commented on #30540
@nabilzay , yes you are correct. If you change the routing rule to Internet, then your VM either use its instance IP address or it uses LB IP if it was added as the backend pool. But those traffic is not monitored by Azure firewall. Let me know if you have any further questions.

[2019-05-06 16:03] kobulloc-MSFT commented on #30654
@sugarjig Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-05-06 16:03] #30560 closed

[2019-05-06 16:06] twimmers opened #30659 "Missing "employeeID" attribute under the 3rd party apps section"
EmployeeID is missing from the 3rd party app selection. EmployeeID was added to the sync scope in version 1.1.524.0 which was released in May 2017. Not sure what other attributes may be missing here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7abde7c-df25-bd14-574c-92858daed39d
* Version Independent ID: 6652a5bc-4

[2019-05-06 16:09] lsoliveira99 commented on #11852
Hi

I would like to know when the backup for Azure File Share will be General Availability?

[2019-05-06 16:12] #30308 closed

[2019-05-06 16:14] vladvino commented on #30467
Yes, we will investigate ASAP. Thank you!

[2019-05-06 16:19] tamram commented on #21602
@normesta - FYI

[2019-05-06 16:20] MGoedtel commented on #30076
This article has been corrected and the updated article will be released as part of our afternoon publishing cycle.  #please-close

[2019-05-06 16:25] rothja commented on #30447
@danielstocker Thanks for the feedback. I manage this article, but I need to get this to someone in App Service who can evaluate better. @SumanthMarigowda-MSFT @SadiqhAhmed-MSFT Can you please assign this to @cephalin for more investigation (and unassign me please). Thank you!

[2019-05-06 16:27] mlutsan opened #30660 "Link to "Demystifying the magic behind App Service OS updates is broken""
Demystifying the magic behind App Service OS updates is broken opens "Not Found" page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bddebdc5-6ef4-f612-64d8-937eaad6de7d
* Version Independent ID: fba172bf-f982-a33f-1a46-edc6ef263702
* Content: [OS and runtime patching cadence - Azure App Service](https://docs.microsoft

[2019-05-06 16:31] MicahMcKittrick-MSFT commented on #30340
@ashleywb there is no direct way to decrease the time it takes for the Custom Script to apply. The time it takes will vary depending on what you are deploying using the script. So some things may take 2 mins to apply others may take longer as you are seeing.

You could consider looking into Azure DSC instead to see if that works better for your scenario

https://docs.microsoft.com/en-us/azure/virt

[2019-05-06 16:32] MicahMcKittrick-MSFT commented on #30386
@jfalameda any update on this?

[2019-05-06 16:32] MicahMcKittrick-MSFT commented on #30539
@chi-ltd any update on this?

[2019-05-06 16:34] MicahMcKittrick-MSFT commented on #30555
@aquibqureshi26 thanks so much for this! Fantastic work :) I will work to add this to the document.

[2019-05-06 16:35] nabilzay commented on #30540
Thanks, that is clear now

[2019-05-06 16:35] #30540 closed

[2019-05-06 16:39] jfalameda commented on #30386
Hi Micah!

Thanks, it is clear now for me.

Thanks a lot for your time!

Kind regards,
José.

El lun., 6 may. 2019 a las 18:32, Micah (<notifications@github.com>)
escribió:

[2019-05-06 16:43] MicahMcKittrick-MSFT commented on #30572
@johncrim sorry yes that link I provided was for Windows. We have the same one for Linux as well

https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/features-linux

From my understanding, the typehandlerversion should match the version of the extension you want to use. So you can get that information by running `az vm extension image list --location westus --output table`

I think

[2019-05-06 16:44] #30386 closed

[2019-05-06 16:57] MicahMcKittrick-MSFT commented on #30655
@digeler thanks for the feedback on this. We do have a doc that lists the available roles and the permissions that come with them

https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles

Based on the error you are seeing, it appears that using advanced networking requires additional access. I am assuming network write access.

@iainfoulds do we have anything on permissions

[2019-05-06 16:57] ChiragMishra-MSFT commented on #30644
@markarnolditpro  Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-05-06 16:59] ChiragMishra-MSFT commented on #30645
@tmhui94 Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-05-06 17:00] iainfoulds commented on #30655
Long running ask from engineering, I haven't had anything defined. Guidance is generally to provide 'Network contributor' rather than granular permissions. https://docs.microsoft.com/en-us/azure/aks/kubernetes-service-principal#networking isn't really descriptive enough.

[2019-05-06 17:15] #30417 closed

[2019-05-06 17:22] dlepow commented on #30630
@Zimmergren - Tobias, thank you for the questions. As you noted, the ACI Fluent .NET SDK doesn't currently support managed identities. The engineering team already has a backlog work item to update the SDK to a more recent API version that supports managed identities, but we currently don't have a target date to share.

Adding @dkkapur to comment on your identity scenario with ACR.

Cheers.

[2019-05-06 17:26] SaurabhSharma-MSFT commented on #30423
@mikenri Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-05-06 17:28] YutongTie-MSFT commented on #30373
@angellmethod I think it's right now. Please correct me if I am missing something.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-06 17:28] #30373 closed

[2019-05-06 17:29] danimir commented on #30621
@cogran Deletion of the virtual cluster takes 12 hours by design to allow faster deployment of subsequent managed instances. If you navigate to the particular virtual cluster in portal, you can manually delete it being effective immediately and releasing VNet resources. You can also automate deletion of virtual cluster through using [the API](https://docs.microsoft.com/rest/api/sql/virtualclusters

[2019-05-06 17:30] YutongTie-MSFT commented on #30376
@csteegz Please send us an email if above not works for you at Azcommunity@microsoft.com We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-06 17:30] #30376 closed

[2019-05-06 17:32] YutongTie-MSFT commented on #30414
@nguaman Sorry for your experience. Could you please send us an email at Azcommunity@microsoft.com for more help? Thank you.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-06 17:32] #30414 closed

[2019-05-06 17:35] SaurabhSharma-MSFT commented on #30315
@mrjohnsonalexander I cannot confirm on the recommended methods, the approach seems correct however I suggest you please open a new MSDN forum post with the details and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required.

[2019-05-06 17:36] csteegz commented on #30376
well we need to update the document... - I'll open a PR with the fix

[2019-05-06 17:42] SaurabhSharma-MSFT commented on #30496
@RobBath We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-06 17:42] #30496 closed

[2019-05-06 17:43] eross-msft commented on #30558
@Mike-Ubezzi-MSFT
Please assign this issue to @rolyon as he's looking into this with the product group.

[2019-05-06 17:46] #30387 closed

[2019-05-06 17:47] mfalkvidd commented on #30479
Looks great, thank you!

[2019-05-06 17:50] SaurabhSharma-MSFT commented on #30646
@prajster Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-06 17:50] dlepow commented on #30556
@TurtleBeach @MicahMcKittrick-MSFT - The requirements and conventions for DNS name label and other names in Container Instances are documented here: https://docs.microsoft.com/azure/container-instances/container-instances-troubleshooting#naming-conventions . The limit applies only to the label, not the fully qualified name that includes the ".azurecontainer.io" suffix. This information isn't curre

[2019-05-06 17:52] rolyon commented on #17031
Hi @michevnew
Thanks for your feedback. We finally got this article updated.
https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/pim-how-to-start-security-review

[2019-05-06 17:53] rolyon commented on #17031
@MicrosoftDocs/azure-cxp-triage
#please-close

[2019-05-06 17:53] #17031 closed

[2019-05-06 17:55] Zimmergren commented on #30630
Hey @dlepow,

Thanks for the insights. Would it be feasible to directly use the REST API's for this scenario (if possible), or do we at least know "if it's not too far into the future" we're talking about the SDK update?

Looking forward to hear more about the ACR identity thoughts in the Fluent API too.

Thanks!
Tobias

[2019-05-06 17:57] BrentOzar opened #30662 "Azure SQL DB Serverless billing image incorrect"
This image in the doc page:
https://docs.microsoft.com/en-us/azure/sql-database/media/sql-database-serverless/serverless-billing.png

Shows that after 2 hours of inactivity, the database gets paused. The minimum auto-pause delay is 6 hours. I know it sounds nit-picky, but for a business user, this is a big deal. The screenshot shows 4 hours of cost savings, but in this scenario, there would be zer

[2019-05-06 17:59] shadyshrif opened #30663 "where to get the .so files?"
I want to Enable PHP extensions for mysql driver

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ba00ed4-0fb2-ae6f-dec8-fc1e6a77c6e0
* Version Independent ID: 0b72e7cc-958d-378d-34b5-029c187db2a5
* Content: [Configure PHP apps - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/containers/configure-

[2019-05-06 18:01] RyanHill-MSFT commented on #30641
@blueelvis thanks for your feedback. Bear in mind this doc refers to both Vnet and Vnet (preview). I did rearrange the bullets so that it's more visible that the app service plan must capable of scaling up to PremiumV2

[2019-05-06 18:01] #30641 closed

[2019-05-06 18:07] BryanTrach-MSFT commented on #30660
@mlutsan Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-06 18:12] YutongTie-MSFT commented on #30550
@diberry Thank you Dina.

@janefreakindoe
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-06 18:12] #30550 closed

[2019-05-06 18:25] YutongTie-MSFT commented on #30352
@TechWatching
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

@Jann-Skotdal Hi Jann, I will close this for now.

[2019-05-06 18:27] cogran commented on #29835
@anirudhcavale is there any update on this?

[2019-05-06 18:28] erhopf commented on #30522
#please-close

We have a work item to update this. Thanks again @JamesEarle.

[2019-05-06 18:35] TravisCragg-MSFT commented on #30604
@JozoSlejko Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-06 18:37] YutongTie-MSFT commented on #30492
@EthanSolomon Hi, please go through the following tutorial to see how to deserialize JSON in JAVA. https://www.mkyong.com/java/how-to-convert-java-object-to-from-json-jackson/
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-06 18:37] #30492 closed

[2019-05-06 18:37] Karishma-Tiwari-MSFT commented on #30370
The product team engineer is helping out the customer offline.

[2019-05-06 18:39] #30291 closed

[2019-05-06 18:40] YutongTie-MSFT commented on #30522
@JamesEarle
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-06 18:40] #30522 closed

[2019-05-06 18:44] henriquebrisola opened #30665 "Add 18.04 steps"
add this to step 4

# sudo apt-get update
# sudo apt-get install --install-recommends linux-generic-hwe-18.04 xserver-xorg-hwe-18.04
# sudo apt-get install --install-recommends linux-cloud-tools-generic-hwe-18.04
 (recommended) sudo apt-get dist-upgrade

 # sudo reboot

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 413

[2019-05-06 18:45] cogran opened #30666 "Security Center Scanning and Updates"
How often does Security Center scan for operating system vulnerabilities, system updates, and endpoint protection issues?

The information here, while it provides the necessary information of when information will be updated, only contains a passive update schedule. Can this be updated to explicitly state that ASC does not update after an end user-initiated action in response to a completing a rec

[2019-05-06 18:47] sugarjig commented on #30355
Thank you for your help!

[2019-05-06 18:47] TravisCragg-MSFT commented on #30651
@maryannlim [You cannot use Static Public IPs for a VPN Gateway](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-vpn-faq#can-i-request-a-static-public-ip-address-for-my-vpn-gateway).

Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-06 18:48] msmimart commented on #28073
The context is adding an app to the gallery, so I replaced the existing link with a publicly-available how-to article. Thanks for pointing this out!

[2019-05-06 18:48] #28073 closed

[2019-05-06 18:50] YutongTie-MSFT commented on #30658
@gjswalling
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-06 19:02] SaurabhSharma-MSFT commented on #30583
@taromielnaz KEK is an optional and if you want to encrypt the data encryption keys then you need to follow the instructions [Set up a key encryption key (optional)](https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption-prerequisites#bkmk_KEK) else not required. Please refer to [Azure Data Encryption-at-Rest](https://docs.microsoft.com/en-us/azure/security/azure-security-e

[2019-05-06 19:09] andrewchungxam opened #30667 "Image is misleading"
On this page: https://docs.microsoft.com/en-us/azure/cosmos-db/secure-access-to-data

You have an image of an app represented by a mobile device/mobile app.  (Image is place under the following text:
The process of rotating your master key is simple. Navigate to the Azure portal to retrieve your secondary key, then replace your primary key with your secondary key in your application, then rotate t

[2019-05-06 19:11] Karishma-Tiwari-MSFT commented on #30618
The az-aks-update command is part of the Azure CLI AKS Preview Extension.

You need to Install this extension using the below CLI command to make it work, as described in [this section](https://docs.microsoft.com/en-us/azure/aks/cluster-autoscaler#before-you-begin) of the document.

`az extension add --name aks-preview`

Please refer to this for more details: https://github.com/Azure/azure-cli-ext

[2019-05-06 19:16] hrasheed-msft commented on #30576
@Silverlight42 Hello and thanks for bringing that to our attention. I think the best way to handle it for all of the products is just linking to the marketplace page so that customers can see the most current version of each product. I'm submitting a PR now to resolve this issue. Thanks.

[2019-05-06 19:17] MartinJaffer-MSFT commented on #30426
I have found that the change was made in the content source, but has not propagated to the public document.  I will solicit help from the document support team.
@nexxai @himanshusinha-msft

[2019-05-06 19:22] msmimart commented on #28911
Hi @lextm, thanks for pointing this out, I've looked into this but haven't been able to locate a post with that title ("Transition from Forefront TMG and.." etc.), and link hasn't changed. The original author probably intended to point to the "Modernizing Microsoft Application Access..." article but paraphrased the title. But let me know if you have another post or resource in mind.

[2019-05-06 19:23] cap273 commented on #30412
I can't get Workday-initiated timeout to actually work with the Timeout Redirect URL being the Sign-on/Sign-in URL. The user is redirected to the sign-on/sign-in URL after the timeout period, but the user is already authenticated and is not prompted to actually re-sign in.

[2019-05-06 19:32] TravisCragg-MSFT commented on #30652
@maryannlim Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@malopMSFT @KumudD This is fixed in #30668 but I do not have permissions to change this article.

[2019-05-06 19:40] TravisCragg-MSFT commented on #30653
@maryannlim the "Use Remote Gateways" option will work in different regions, unless you are peering with a [classic ](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-deployment-model)Virtual Network.

[2019-05-06 19:44] mamccrea commented on #30117
#please-close

[2019-05-06 19:44] MarkAtAgilliance commented on #30508
Hi all, I just heard back from Az support on a similar issue and it looks like Azure was suffering DNS problems last week which might have caused the errors above.  I have not been able to repro since they fixed it.

It makes sense if the commands were being sent randomly to a resource server that did not exist.

Happy to close this if you feel the same and I'll report if I have any reoccurrences.

[2019-05-06 19:49] himanshusinha-msft commented on #30508
Thanks @MarkAtAgilliance  . We are going ahead and closing this issue now .

[2019-05-06 19:49] #30508 closed

[2019-05-06 19:54] tamram commented on #27453
@MaximRouiller - The storage engineering team has said that there are no changes beyond just upping service version numbers accepted. Also note that this does not mean the service version's functionality was implemented.

The team is actively directing customers to the new [Azurite emulator](https://github.com/Azure/Azurite). Our docs will be updated to reflect this in the near future.

@mhopkins-

[2019-05-06 19:59] tamram commented on #23157
@MouthOfMadness - Thanks for your feedback.

The feature is now generally available, so the storage-preview cmdlets are no longer supported. If there is an issue in the future, please let us know.

#please-close

[2019-05-06 20:02] mayurpuli opened #30669 "HIPAA Compliance: encrypted traffic from Azure App Service front end and the back end worker process"
# HIPAA Compliance related : Is there any additional encryption layer that encrypts the traffic from Azure App Service front end and the back end worker process

## Details
As per this document : https://msdn.microsoft.com/en-us/magazine/mt793270.aspx, front end terminate SSL connection for all HTTPS requests for all applications and any type of certificate and then forwards the request to the des

[2019-05-06 20:02] #23157 closed

[2019-05-06 20:07] kpstolk commented on #27453
As long as Visual Studio ships with Azure Storage Emulator by default (and not Azurite) I think release notes still matter for the time being?

[2019-05-06 20:08] MartinJaffer-MSFT commented on #29970
My apologies, @arerlend , I was at a week long conference.  Is this the file you wanted?
[code]

[2019-05-06 20:10] Mike-Ubezzi-MSFT commented on #30667
@andrewchungxam Thank you for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-06 20:12] Mike-Ubezzi-MSFT commented on #30662
@BrentOzar Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-06 20:13] mike-urnun-msft commented on #30657
Hi @hoylemd Thank you for your feedback! We will review and update as appropriate.

[2019-05-06 20:14] MicahMcKittrick-MSFT commented on #30665
@henriquebrisola great feedback! Thanks for this.

@szarkos can you add some notes for 18.04? I tried but the formatting seems off on this doc

[2019-05-06 20:14] CharmanderJieniJieni opened #30670 "'SubscriptionId' property is not supported for nested deployments inside a deployment at subscription scope"
I am using nested template to deploy vnet peering. Below is my template, when deploying. It is complaining
"Message: Deployment template validation failed: 'The template resource 'peeringInitiateDeployment' at line '1' and column '594' is invalid. 'SubscriptionId' property is not supported for nested deployments inside a deployment at subscription scope. Please see https://aka.ms/arm-template/#res

[2019-05-06 20:15] mike-urnun-msft commented on #30656
Hi @abiabsurd Thank you for your feedback! We will review and update as appropriate.

[2019-05-06 20:17] abatishchev commented on #24681
hey @cwe1ss, can you please post your resulting ARM template?

[2019-05-06 20:18] r-maestas opened #30671 "Unable to deploy hostpool"
I am receiving an error during the dscextension deployment step.

VM has reported a failure when processing extension ‘dscextension’. Error message: DSC Configuration ‘FirstSessionHost’ completed with error(s). Following are the first few: PowerShell DSC resource MSFT_ScriptResource failed to execute Set-TargetResource functionality with error message: One or more errors occurred. The SendConfigur

[2019-05-06 20:20] Charmendar commented on #30670
and I am using cli to trigger the deployment
az deployment create --template-file vnet-peering.json --parameters vnet-peering.params.json --location canadacentral

[2019-05-06 20:24] tamram commented on #27453
@kpstolk - It's not that they don't matter, but we won't be further augmenting the release notes that are currently found at https://docs.microsoft.com/azure/storage/common/storage-use-emulator#storage-emulator-release-notes, because Azurite will be the recommended emulator going forward.

[2019-05-06 20:30] bdschaap commented on #27653
I wanted to follow up on this request.  Thanks!

[2019-05-06 20:33] bdschaap opened #30673 "Provide More Information on Types of Diagnostic Logs for Event Hub"
Please provide more information on other types of diagnostic operational logs for event hub. If there are no other types then please state that only "Create Queue" events are the only type supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de4bfe6b-7c26-9f63-e1f1-03c02ed5963e
* Version Independent ID: c852c81e-7

[2019-05-06 20:33] AmirGeorge commented on #29557
Hello everyone,

The UI fix has been deployed and the issue is now resolved. @diberry you can proceed with closing the issue.

[2019-05-06 20:35] seshenoy opened #30674 "How to Get MSI Token for Web App"
Hello,
I added myself in the IAM ( RBAC - Access control ) of my target web app. I opened up Visual Studio and signed into Azure using my Microsoft account. I then used the code , so as to get a bearer token with targetapi in the audience :
 var azureServiceTokenProvider = new AzureServiceTokenProvider();
            var accessToken = await azureServiceTokenProvider.GetAccessTokenAsync("https://My

[2019-05-06 20:40] mganeshphani commented on #30118
Thanks Pramod for going beyond and verifying this.

[2019-05-06 20:40] the-blesss commented on #29692
I'm also running into this issue in 3 different environments, PAYG, CSP and MSDN subscriptions. The MSDN new automation account is defaulting to East US 2 instead of Japan East like the other 2 types are. I opened a ticket but the support agent was not aware of this known bug in the Start/Stop template from the Marketplace.

[2019-05-06 20:46] spelluru commented on #27653
@axisc - what are the possible values for these two fields in an operations log? Thanks!

  "Status": "Succeeded",
  "EventName": "Create Queue"

Thanks.

[2019-05-06 20:48] Karishma-Tiwari-MSFT commented on #30643
@hadr10 Currently AADLogin for Linux feature is in Preview. I am not aware of any timelines for Oracle linux but I would recommend leaving feedback [here](https://feedback.azure.com/forums/216843-virtual-machines).
This will allow the community to up-vote and for the product team to include into their plans.
We also have the "Give Product Feedback" button in our documents now to take you directly

[2019-05-06 20:55] eross-msft commented on #30596
@MarileeTurscak-MSFT  Please assign to @jeevansd for corrections. Thanks!

[2019-05-06 21:00] git4ranjan commented on #23718
Setting up the variables does not solve the issues
set AZURE_CLI_DISABLE_CONNECTION_VERIFICATION=1
set ADAL_PYTHON_SSL_NO_VERIFY=1

is there an active thread to this problem or was it fully resolved ?

[2019-05-06 21:03] shabirjan opened #30675 "Cache not working"
Hi, i followed all the steps and prerequisites mentioned in this tutorial, but still i am unable to see any response cache.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad05f88c-be94-58f8-b05c-a4a1a102e24f
* Version Independent ID: 8f58d4b1-73f7-41f2-a15b-fe71d8bf82b0
* Content: [Add caching to improve performance in

[2019-05-06 21:13] TheSaltyKorean opened #30676 "Powershell example doesn't work"
Using the steps provided, it does not allow for Powershell, only json

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a558a9e-10d0-ea34-8780-d9084f87f952
* Version Independent ID: 60dda4e0-7630-f358-aa3a-6a992eae61e2
* Content: [Managing the Azure Storage lifecycle](https://docs.microsoft.com/en-us/azure/storage/blobs/

[2019-05-06 21:14] TheSaltyKorean opened #30677 "No indication of when the rules run"
When do the rules start to apply themselves?  There's no information on when it runs, especially once we've applied the rules.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a558a9e-10d0-ea34-8780-d9084f87f952
* Version Independent ID: 60dda4e0-7630-f358-aa3a-6a992eae61e2
* Content: [Managing the Azure Storage lifecyc

[2019-05-06 21:14] julesman101 opened #30678 "CLI Registration Command : 1st Line Incorrect"
The 1st line of the CLI registration snippet is incorrect.  It currently shows "az provider register –namespace Microsoft.Compute".
It should show a double hyphen : "az provider register --namespace Microsoft.Compute".
Thanks.. __JD__

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfbb6311-d76f-aefc-2791-c04cd0635c71
*

[2019-05-06 21:15] SaurabhSharma-MSFT commented on #30464
@todayppp I am able to add the claim when I put the name as "upn" and namespace as "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn".
![image](https://user-images.githubusercontent.com/38112130/57255628-3eac3300-7009-11e9-9b65-360ec7a6cc00.png)

[2019-05-06 21:16] jeevansd commented on #30596
@mtillman Can you please reassign this correctly? I dont own this article.

[2019-05-06 21:16] MicahMcKittrick-MSFT commented on #30678
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-06 21:18] SaurabhSharma-MSFT commented on #30315
@mrjohnsonalexander We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-06 21:18] #30315 closed

[2019-05-06 21:19] MicahMcKittrick-MSFT commented on #30671
We have a section with common errors during host pool creation

https://docs.microsoft.com/en-us/azure/virtual-desktop/troubleshoot-set-up-issues#issues-using-windows-virtual-desktop--provision-a-host-pool-azure-marketplace-offering

More specifically, related to DSC

https://docs.microsoft.com/en-us/azure/virtual-desktop/troubleshoot-set-up-issues#azure-resource-manager-template-and-powershell-de

[2019-05-06 21:21] SaurabhSharma-MSFT commented on #30582
@phillkOCCM yes, it will be in effect as soon as you select options and save the settings.

[2019-05-06 21:25] YutongTie-MSFT commented on #30669
@mayurpuli Hi, thank you for your feedback. Could you please share any Microsoft Document you are referring to ?

[2019-05-06 21:27] YutongTie-MSFT commented on #30649
@Apholisha
Thanks for the feedback! We are currently investigating and will update you shortly.

@anantr FYI

[2019-05-06 21:27] mtillman commented on #30596
@Paxxi This is an interesting problem. Have you tried to follow these links with another browser (besides Safari)? I can't repro your issue with Chrome, IE, Edge, or FireFox. Just trying to narrow down the issue. Sounds like it might be unique to Safari. If so, I can see about escalate the problem through GitHub.

[2019-05-06 21:29] cynthn commented on #30678
@julesman101 Thank you for catching that! I've just updated the topic. The fix should go live around 3:00 PST. Thanks again :)

[2019-05-06 21:29] mayurpuli commented on #30669
Hello @YutongTie-MSFT , Thank you for the response. I am referring to this one : https://msdn.microsoft.com/en-us/magazine/mt793270.aspx. I have posted a snapshot as well in the initial post

[2019-05-06 21:30] SaurabhSharma-MSFT commented on #30584
@taromielnaz Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.
@msmbaldwin can you please look into this.  I am also not able to find any "UseExistingKek" drop down list when I try to deploy the ARM template from the documentation.

[2019-05-06 21:31] r-maestas commented on #30671
I appreciate the response. Yes, I have checked these links.

Error: DeploymentFailed – PowerShell DSC Configuration ‘FirstSessionHost’ completed with Error(s), matches my error message. The fix indicates that the username and password provided should have admin access on the host VM. I can confirm that  the account provided for the the Windows Virtual Desktop tenant RDS Owner is both a TenantCreat

[2019-05-06 21:31] msLinuxNinja opened #30679 "Add steps for persistent mounts"
The github page has the required steps to mount the filesystem on boot:

https://github.com/Azure/azure-storage-fuse/wiki/2.-Configuring-and-Running

These need to be added to this article

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cef87c25-d489-ed0c-c94f-c764b3fd2413
* Version Independent ID: 7f8c5d56-2382-de90-dc

[2019-05-06 21:38] YutongTie-MSFT commented on #30669
@mayurpuli Thank you for your information.

@BryanTrach-MSFT Hi Bryan, this is not a Azure.doc issue but related to Azure magazine, do you have any idea about where is the right place for it?

@yochay Hi, this is a issue about your article. Just FYI

[2019-05-06 21:42] Silverlight42 commented on #30576
Hello!

Thanks for your time and attention.

Regards.

Carlos.

On Mon, 6 May 2019 at 14:17, Hassan Rasheed <notifications@github.com>
wrote:

[2019-05-06 21:45] #30601 closed

[2019-05-06 21:46] YutongTie-MSFT commented on #30622
@hostenvoy Glad to know that! Would you like to leave some experience for anyone who may suffer from this issue?
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-06 21:46] #30622 closed

[2019-05-06 21:52] ecfan commented on #23936
I've created a work item to cover this issue.

[2019-05-06 21:55] SaurabhSharma-MSFT commented on #30594
@stantretyakov yes, that is correct if MSI is enabled any code running on that VM is able to call managed identities for Azure resource endpoint and request tokens where these tokens represent the application accessing the resource and not any specific user.
However, I suggest you please open a new MSDN forum post with the details and community will help address your query. Please refer to below l

[2019-05-06 21:55] phillkOCCM commented on #30582
Please clarify, it was suspected the change would be instant.
Do You mean all users that had SMS set as default will have to re-configure? and be unable to authenticate?

Thank you,

Phillip Kenyon

Systems Engineer – Messaging & O365

904-407-1282, 51282

One Call

________________________________
From: SaurabhSharma-MSFT <notifications@github.com>
Sent: Monday, May 6, 2019 5:21:49 PM
To: Microso

[2019-05-06 21:55] zimbonz commented on #29895
I am experiencing the same issue. If I could answer on behalf of the OP - yes the user with the TenantCreator permissions is from the same AAD.
I have also tried from a Global admin user, without MFA, and specified the TenantCreator Role.
The WVD powershell module installs correctly.
The error remains the same. I have tried powershell on local PC and Azure Shell. Error is the same.
We are not able

[2019-05-06 21:58] MicahMcKittrick-MSFT commented on #30671
@Heidilohr @ChristianMontoya any suggestions?

@r-maestas you can also check Tech Communities where we support Virtual Desktop and have helped other users with similar issues

https://techcommunity.microsoft.com/t5/Windows-Virtual-Desktop/bd-p/WindowsVirtualDesktop

[2019-05-06 21:59] MarileeTurscak-MSFT commented on #30471
Since I have not heard back we will proceed to close this thread. If you have further questions feel free to continue the discussion on MSDN and I will reply. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-05-06 21:59] #30471 closed

[2019-05-06 22:00] soninaren commented on #30202
@ggailey777 the issue is resolved can be closed now.

[2019-05-06 22:01] Jez85 commented on #29895
@ChristianMontoya Yes it is sourced from the same directory.

[2019-05-06 22:02] Jez85 commented on #29895
This road block error is keeping us from testing the service.

[2019-05-06 22:03] TravisCragg-MSFT commented on #23718
@git4ranjan This should be working. If you have a Azure Stack Integrated System, your best bet is to open  a support request going forward. If you are using the ASDK, you can post this question on the [Azure Stack MSDN Forums](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureStack&filter=alllanguages).

[2019-05-06 22:11] YutongTie-MSFT commented on #30658
@gjswalling Hi Gary, good suggestion!

@diberry Hi Dina, could we change it? I can create a PR for that, but not sure if there any example you want to use.

[2019-05-06 22:13] r-maestas commented on #30671
Update- I was finally able to get past this by following the procedure to create the host pool using Powershell:

https://docs.microsoft.com/en-us/azure/virtual-desktop/create-host-pools-powershell

Still have no idea why dscextension was not running prior, but at least I can move on configuring resources! Thank you!

[2019-05-06 22:15] SaurabhSharma-MSFT commented on #30634
@papaiatis You need to get the access token (either via a secret or a certificate) in the client application which is calling the web api and validate the token in the client application.  Please refer to [GitHub Sample](https://github.com/Azure-Samples/active-directory-dotnetcore-daemon-certificate-credential) for the same.

[2019-05-06 22:17] mike-urnun-msft commented on #30202
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-06 22:17] #30202 closed

[2019-05-06 22:23] MicahMcKittrick-MSFT commented on #30671
Thanks for the update @r-maestas

Glad to hear you are no longer blocked :)

[2019-05-06 22:23] #30671 closed

[2019-05-06 22:25] dwatsonit opened #30680 "Push Notifications don't work properly O365"
Note: I've attempted several times to work with Office 365 support unsuccessfully to resolve this.

If I use passwordless logon with outlook.com (microsoft account) when an auth is required, there is a push notification on the device paired (in my testing either an iPhone XSMax (with and without a paired Apple Watch 2 with the authenticator app) and iPad Pro) with that account.  You click on it an

[2019-05-06 22:26] SaurabhSharma-MSFT commented on #30646
@prajster can you please run the cmdlet `Get-Module -ListAvailable -Name Az.Security` to check if required Security model is installed in your machine.

[2019-05-06 22:26] joshzngf commented on #26366
Do you have a timeline of when the capture feature will be available on Azure Data Lake Storage Gen 2?

[2019-05-06 22:32] YutongTie-MSFT commented on #30505
@michaelstiben  Sorry I can not open you file. Could you please check if your file meets the following requirements?

Container: WAV
Encoding: PCM
Rate:16K
Sample Format: 16 bit
Channels: Mono

Thank you.

[2019-05-06 22:32] haohaowasky opened #30681 "Offline communication MQTT delay"
I'm now using the offline feature and every time when there is a very first connection, the fist message sending from device to the edge is always about 15 secs of delay. And after that it go back to almost immediately.  Anyone knows why it happens?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f8e1616-f3c9-ba1c-2ebd

[2019-05-06 22:33] Alberto-Vega-MSFT commented on #30645
@tmhui94 Thanks for reaching out. You should be able to do that but you will need to configure a differnt AAD scenario. This issues are for documentation or feedback or to report bugs/errors.  This question seems to be better suited for the developer forums.
Would you please post in [MSDN Azure Active Directory forum?](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=WindowsAzureAD)

[2019-05-06 22:33] TurtleBeach commented on #30521
@DixitArora: The issue remains. I have (already done before my first report) installed PowerShell 6. I have (already done before my first report) set the PowerShell Exe Path (I did not previously set the Power Shell Default Version, but I have now done so). I have disabled the 1.12.1 PowerShell extension and uninstalled/reinstalled the 2.0.2 preview. The lower right corner of VS Code indicates tha

[2019-05-06 22:42] lextm commented on #28911
@msmimart I don't have any other post in mind.

I think this article contains most of the useful information. So if the technet blog post cannot be found any more, we can remove the reference to it.

[2019-05-06 22:47] YutongTie-MSFT commented on #30557
@aashishb Hi, could you please check this issue and see if we can add more examples? Thank you.

[2019-05-06 22:48] YutongTie-MSFT commented on #30562
@krishorrocks Hi, could you please share the forum thread you mentioned? Thank you.

[2019-05-06 22:56] Alberto-Vega-MSFT commented on #29722
@cobrauf were you able to resolve your issue?

[2019-05-06 22:59] msmimart commented on #28989
I've updated the terminology in the article from Linked SSO to Linked sign-on, and changes will publish shortly. Thanks also for your comments regarding the UI; I'll follow up on getting it to the appropriate feedback channel.

[2019-05-06 23:02] MarileeTurscak-MSFT commented on #30659
@twimmers thanks for the feedback. This appears to be correct based on the version history. I made a pull request to the doc but will let @billmath make the final call on what's needed and approve/deny the request.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/75904

https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-version-history

[2019-05-06 23:02] MarileeTurscak-MSFT commented on #30659
Closing this out.

[2019-05-06 23:02] #30659 closed

[2019-05-06 23:15] johnthcall opened #30683 "Azure Service Fabric cluster URI mapping is wrong"
It is listed as "\*.chinaeast.chinacloudapp.cn" instead of "\*.cloudapp.chinacloudapi.cn"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9874bc95-a5d9-a4fd-8d4a-909f67c83d1a
* Version Independent ID: 2105b80f-2867-1502-2997-0915ad232099
* Content: [Developer guide for Azure China 21Vianet](https://docs.microsoft.com/en

[2019-05-06 23:17] johnthcall opened #30684 "There isn't a mapping for "Azure Service Fabric cluster""
In mooncake version there is a mapping for "\*.cloudapp.azure.com" for fairfax it should be "\*.cloudapp.usgovcloudapi.net"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d0ab80e-bbb7-8eb9-f0b3-814f74e3a117
* Version Independent ID: e9952267-ab66-50a3-d3b0-7d2d621d5a9b
* Content: [Azure Government developer guide](htt

[2019-05-06 23:27] femsulu commented on #30670
@Charmendar Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-06 23:29] johnthcall opened #30686 "There isn't a mapping for "Traffic Manager DNS Suffix""
There should be a mapping between "\*.trafficmanager.net" to "\*.trafficmanager.cn"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9874bc95-a5d9-a4fd-8d4a-909f67c83d1a
* Version Independent ID: 2105b80f-2867-1502-2997-0915ad232099
* Content: [Developer guide for Azure China 21Vianet](https://docs.microsoft.com/en-us/az

[2019-05-06 23:30] zimbonz commented on #10258
Please update this document.

[2019-05-06 23:33] hrasheed-msft commented on #30576
@himanshusinha-msft  the page has been updated. #please-close

[2019-05-06 23:38] YutongTie-MSFT commented on #30681
@haohaowasky Hi, thank you for your feedback. Could you please share the document you are referring to?

[2019-05-06 23:41] hrasheed-msft commented on #29933
@jdecowski18 Given that the local jar option was disabled by default since 3.5, the feedback from the product group is that most likely the local-jar option has been disabled for security reasons and the editing of the livy config is not supported or encouraged by them for similar reasons. Alternatively, you can try using the azure storage option for hosting the jar as mentioned in the doc. We wil

[2019-05-06 23:41] YutongTie-MSFT commented on #30587
@aahill @yingqunpku  Hi, could you please help to check this question? Thank you.

[2019-05-06 23:45] MicahMcKittrick-MSFT commented on #30556
Thanks @dlepow :)

[2019-05-06 23:46] MicahMcKittrick-MSFT commented on #30539
@chi-ltd I will close this out for now. If you have further questions just let me know and we can always reopen and continue the discussion.

[2019-05-06 23:46] #30539 closed

[2019-05-06 23:47] haohaowasky commented on #30681
Here is the document

https://docs.microsoft.com/en-us/azure/iot-edge/offline-capabilities

[2019-05-06 23:48] MicahMcKittrick-MSFT commented on #30655
thanks @iainfoulds I will assign this to you then. If I can help with anything just let me know.

[2019-05-06 23:59] hrasheed-msft commented on #29933
@CHEEKATLAPRADEEP-MSFT we have updated the docs to remove the steps causing the confusion and just left the guidance to use wasb file paths. #please-close

[2019-05-07 00:11] sngupt opened #30691 "How to figure out if key regeneration has been set for a storage account"
Have successfully set up storage account key regeneration as per the instructions.
After we set this up, is there a way on portal to figure out which storage accounts have been set for this rotation and which key vault are they associated to? Or is this a manual book keeping?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-05-07 00:13] bebattis opened #30692 "NSG X on every subnet doesn't support the GatewaySubnet"
Hi All,
This policy doesn't create an exception for the Azure Gateway subnet and in the portal will tell customers that an NSG on the Gateway Subnet is not supported. When you go to remove this in the portal, the policy will prevent you from doing so.

This issue seems to be an ARM limitation first, since subnets can be modified as vnet properties or as child resources requiring a conditional on t

[2019-05-07 00:14] arerlend commented on #29970
Yes.  Can you also post the stack trace for node assignment time out message?

[2019-05-07 00:19] rimman commented on #30667
Correct. The image is misleading. We will fix it. thank you!

[2019-05-07 00:22] Zimmergren opened #30693 "Support for Managed Disks in Container Instances?"
With Container Instances, we can easily mount Azure Files. This is a great capability, but it is extremely slow to use File shares in storage accounts (even the Premium ones, which are in public preview). As a reference, with AKS, I've circumvented the performance bottlenecks by using Managed Disks instead of Azure Files, where we can then provision a Premium SSD disk and do any operations there w

[2019-05-07 00:31] MicrosoftGuyJFlo commented on #30582
If you remove the only methods a user could use to authenticate they will not be able to authenticate. If you introduce new methods they can register the new method and use it. This is why we recommend that admins enable more methods than they need users to authenticate with for features like SSPR and MFA.

[2019-05-07 00:37] revanthalampally opened #30694 "Sample code to Create the block blob and upload in Golang"
# Azure documentation issue guidance

I find there is an example code to create a blob in  dotnet "https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-app#feedback"
Can I get an example to do the same in GO?

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-05-07 00:40] dcallagh opened #30695 "PAYG vs BYOL benefit."
It states here that BYOL becomes more cost effective after 10 months, however if i purchase an 8 core enterprise license + SA the cost is $113,000 *excluding* VM costs, the cost to run a PAYG enterprise for 36 months on this platform is roughly $108,000 excluding VM costs.
Struggling to make a case for BYOL in this scenario. Is there something I am missing?

---
#### Document Details

⚠ *Do not ed

[2019-05-07 00:42] rioriost opened #30696 "The psql example must includes "sslmode" option"
The existing example is :
psql --host=mydemoserver.postgres.database.azure.com --username=myadmin --dbname=citus

But the coordinator node is configured to be connected with SSL/TLS, so the command line might be as following, I think.
psql "host=mydemoserver-c.postgres.database.azure.com dbname=citus sslmode=require" --username=citus --password

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.micr

[2019-05-07 00:43] #30653 closed

[2019-05-07 00:43] maryannlim commented on #30653
Got it, thank you for the quick confirmation, @TravisCragg-MSFT!

[2019-05-07 00:47] MarileeTurscak-MSFT commented on #30591
@googol13 it is not yet supported on Server 2019 but will be in the future.

[2019-05-07 00:47] v-maroge commented on #28941
Okay, Thanks for the info!

[2019-05-07 00:52] MarileeTurscak-MSFT commented on #30591
They are working on it and I would check the release notes for updates on this.

https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-version-history
https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/overview/whats-new-active-directory-federation-services-windows-server

[2019-05-07 00:52] #30591 closed

[2019-05-07 00:54] phillkOCCM commented on #30582
if we leave all other options alone, and users only have sms taken away, are you saying there alternate will become primary?

Thank you,

Phillip Kenyon

Systems Engineer – Messaging & O365

904-407-1282, 51282

One Call

________________________________
From: John Flores <notifications@github.com>
Sent: Monday, May 6, 2019 8:31:39 PM
To: MicrosoftDocs/azure-docs
Cc: Phillip Kenyon; Mention
Subjec

[2019-05-07 00:58] KingdomOfEnds commented on #30645
Hi @tmhui94 - I wanted to provide a link to: https://docs.microsoft.com/en-us/azure/time-series-insights/time-series-insights-data-access#provide-guest-access-from-another-aad-tenant. It contains steps describing how to provide guest access from another AAD tenant. Does that help to address your question?

[2019-05-07 01:03] MartinJaffer-MSFT commented on #30551
Hello @maamleka .  I am currently working on your case.  Did you tell Key Vault to give Data Factory, permissions to read?

[2019-05-07 01:04] KingdomOfEnds commented on #30603
Hi @marvin06! Thanks for the great question! The current TSIClient SDK Reference lives here: https://github.com/microsoft/tsiclient/blob/master/docs/API.md.

The SDK provides chart options that will allow your to update or trigger some event for your charts: https://github.com/microsoft/tsiclient/blob/master/docs/UX.md#line-chart-events-and-states-data-shape.

[2019-05-07 01:07] MartinJaffer-MSFT commented on #30426
The changes have been made.  Closing now.

[2019-05-07 01:07] #30426 closed

[2019-05-07 01:15] cynthn commented on #30678
#please-close PR merged, I think this can now be closed.

[2019-05-07 01:18] femsulu commented on #30372
@kendallroden thanks for the above comment. I will work with @MGoedtel to add this to the backlog and see if we can make this clearer in the future.
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-05-07 01:18] #30372 closed

[2019-05-07 01:20] femsulu commented on #30432
@fixx220 do you have the direct link to the template you are referencing. Tring to repro this to confirm the behavior.

[2019-05-07 01:24] KingdomOfEnds commented on #30603
I've also gone ahead and updated the documentation to include those resources. Thanks!

[2019-05-07 01:28] walsehgal commented on #30614
Hi @martinKindall,

Can you verify that you are using a real device for testing? Also, the Azure Maps mapcontrol SDK now has version '0.3'. Please try using it or alternatively you can replace the version with '+' so that it always points to the latest version.

[2019-05-07 01:35] femsulu commented on #30434
@bwren, is there a standard query for the above? Couldn't find any query samples to share.

[2019-05-07 01:39] kazshi commented on #29459
@jakaruna-MSFT Thanks for your comment. I got it today, and provided to my customer.  Thanks.

[2019-05-07 01:39] #29459 closed

[2019-05-07 01:43] #30678 closed

[2019-05-07 01:55] rjmholt opened #30697 "Examples for objects/uses of each output binding type"
It's not clear how each type of output binding should be used or what kinds of object should be used with each.

Ideally we would have an example for at least the most common kinds of output binding.

This is especially important since the output binding API has changed from the v1 to the v2 PowerShell functions worker.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-05-07 02:04] shashishailaj commented on #30680
@dwatsonit Thank you for your query. We will investigate and update further on this.

[2019-05-07 02:07] rjmholt commented on #30697
Some examples of output bindings in the v1 PowerShell worker:

- [Table storage](https://blog.darrenjrobinson.com/leveraging-the-azure-functions-table-storage-output-binding-with-powershell/)
- [Event Hub](https://blog.darrenjrobinson.com/outputting-data-from-an-azure-function-to-power-bi-with-powershell/)

[2019-05-07 02:22] shashishailaj commented on #30691
@sngupt Thank you for your query. We will investigate and update the same.

[2019-05-07 02:30] todayppp commented on #30464
I have tried putting "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn" both in name and namespace, but the attribute in SAML response becomes

<Attribute Name="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn/upn">
		<AttributeValue>(User name)</AttributeValue>
</Attribute>

Our SP program needs exactly
"http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn" to identify the

[2019-05-07 02:39] shashishailaj commented on #30666
@cogran Thank you for your query . We will investigate and update further.

[2019-05-07 02:46] kazshi commented on #22907
@SnehaGunda Thank you for the update.

[2019-05-07 02:52] kfprugger opened #30700 "aka.ms link borken"
The AKA.ms gatk link is broken. Looks like SAS is expired.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fcb147c-ad94-4926-6cec-da6013c6006a
* Version Independent ID: a2a1e627-0b49-4757-51b3-9a1e3ddd432e
* Content: [Quickstart: Run a workflow through Microsoft Genomics](https://docs.microsoft.com/en-us/azure/genomics

[2019-05-07 02:56] shashishailaj commented on #30650
@CawaMS Could you please take a look at this . As per my findings the extension Azure Services Authentication extension for Visual Studio has been removed from the marketplace and this functionality is natively present within the Visual Studio versions starting 15.6 and up.

[2019-05-07 03:02] YASWANTHM-MSFT commented on #30679
@msLinuxNinja, Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-07 03:04] shashishailaj commented on #30666
@cogran We are verifying this with PG and will update the same as per recommendations.

[2019-05-07 03:05] YASWANTHM-MSFT commented on #30677
@TheSaltyKorean, Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-07 03:06] YASWANTHM-MSFT commented on #30676
@TheSaltyKorean ,Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-07 03:10] mike-urnun-msft commented on #30675
Hi @shabirjan Thank you for your feedback! We will review and update as appropriate.

[2019-05-07 03:13] ctxldy opened #30701 "Ability to notify logged on users of shutdown"
Would like the ability to notify users of server shutdown prior to shutdown occurring

[2019-05-07 03:15] mike-urnun-msft commented on #30697
@rjmholt Thank you for your feedback! We will review and update as appropriate.

[2019-05-07 03:17] GitMaggie opened #30702 "Parameter is missing in the runbook code"
HI Team, I noticed this runbook was updated recently . However, the parameter part is missing after update . Witouout parameter part, runbook will fail . Please update doc accordingly, thanks .
[OutputType("PSAzureOperationResponse")]
param
(
    [Parameter (Mandatory=$false)]
    [object] $WebhookData
)
$ErrorActionPreference = "stop"

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-05-07 03:27] nikolaiblackie opened #30703 "Documentation is getting out of date"
Would be good to refresh this reference with details of schema validation and update the screen shots

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac80fef5-80b1-8084-394e-3328c4d30297
* Version Independent ID: 22ad8679-dc5b-44cb-69b3-80cd632d6fa0
* Content: [Use request and response actions](https://docs.microsoft.co

[2019-05-07 03:36] BryanTrach-MSFT commented on #30669
@mayurpuli We kindly request you to share your question on [MSDN ](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazurewebsitespreview)or [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-web-app-service). We try to keep this GitHub channel scoped to just issues related to [Azure Docs](https://docs.microsoft.com/en-us/azure/). Thank you for your understandin

[2019-05-07 03:36] #30669 closed

[2019-05-07 03:45] DCtheGeek commented on #30692
@bebattis Thanks for the feedback. There is an alias that appears to be what you are looking for: `Microsoft.Network/virtualNetworks/subnets[*].name`. Use that \[\*\] alias to evaluate for an element within the array. There is array specific guidance here: https://docs.microsoft.com/azure/governance/policy/how-to/author-policies-for-arrays.  Let me know if that's what you are looking for.

@Micros

[2019-05-07 03:45] KetanChawda-MSFT commented on #30703
@nikolaiblackie Thank you for your feedback! We will review and provide an update as appropriate.

[2019-05-07 03:48] KetanChawda-MSFT commented on #30656
@cgillum Any thoughts here?

[2019-05-07 04:07] RohitMungi-MSFT commented on #29557
@AmirGeorge Thanks for the update. @akaramanapp @jschweda @mansetaashok @zeeshan-ks Please do retry the export from portal and let us know if the container works without any errors.

[2019-05-07 04:16] grhuynh commented on #30700
The link has been fixed.

[2019-05-07 04:17] SnehaAgrawal-MSFT commented on #30663
@shadyshrif Thanks for the question! We are investigating and will update you shortly.

[2019-05-07 04:17] SadiqhAhmed-MSFT commented on #30447
@rothja Thanks for pitching in. Assigned to @cephalin as suggested.

[2019-05-07 04:18] #30076 closed

[2019-05-07 04:35] bebattis commented on #30692
Hey David,
I'm not quite sure this works as expected, but I could be thinking about this wrong. The problem as far as I can tell, is that when multiple array aliases are used, they do not evaluate properties in an iterative [X] for [X] way across multiple conditionals.

Put another way:
` "allOf": [
{"field": "alias1[*]", "equals": true}
{"field": "alias2[*]", "equals": true}
]`
Will evaluate true

[2019-05-07 04:38] lightupdifire commented on #30637
@shashishailaj, you can update article, we did installation on top and went fine.

[2019-05-07 04:39] realwanpengli commented on #21390
@BryanTrach-MSFT  `X-ZUMO-AUTH` doesn't work if the provider is AAD and the target is Azure Function api. But `Authorization` header works.

[2019-05-07 04:53] RohitMungi-MSFT commented on #30478
@horiacristescu Could you please confirm if the latest image works now?

[2019-05-07 04:56] RohitMungi-MSFT commented on #29958
@swanderz I see the release notes are now updated. Please go through them for more information. @j-martens Thanks for fixing the issues while publishing the notes.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-07 04:57] #29958 closed

[2019-05-07 05:02] CHEEKATLAPRADEEP-MSFT commented on #30532
@linda33wj Could you please look into above issue?

[2019-05-07 05:03] CHEEKATLAPRADEEP-MSFT commented on #30117
@nunocenteno We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-07 05:03] #30117 closed

[2019-05-07 05:05] CHEEKATLAPRADEEP-MSFT commented on #29933
@jdecowski18 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-07 05:05] #29933 closed

[2019-05-07 05:06] SwathiDhanwada-MSFT commented on #30461
We are closing the issue as the changes has been reflected in the docs.

[2019-05-07 05:06] #30461 closed

[2019-05-07 05:12] CHEEKATLAPRADEEP-MSFT commented on #30673
@bdschaap Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-05-07 05:16] visuazn commented on #30154
the error is fixed.  @YutongTie-MSFT  . but i need help on getting title for the images. like image.jpg classified as tree. since we are using opencv its hard getting file name.

I am following this code.
https://github.com/MicrosoftDocs/azure-docs/issues/27079

[2019-05-07 05:17] ajlam commented on #25361
@JonathanWilbur, thanks for the comment. Our fix to add MariaDB to our SAN is in the process of rolling out. We had a delay in our deployment schedule, which is why it has taken a bit longer than intended for the changes to be made available for the MariaDB service.

[2019-05-07 05:22] SadiqhAhmed-MSFT commented on #30486
@jtracey93 By secondary I assume you meant “Prefer Secondary” as there is no option called as “Secondary”. “Prefer Secondary” and “Secondary Only” are different options.
If the Backup preference is “Secondary only” it will mean backup will only happen from the secondary node, if secondary node is not available backup will fail.

If the Backup preference is “Prefer Secondary”, backup can happen fro

[2019-05-07 05:24] Rajeswari-Mamilla commented on #30432
@femsulu There are no known issues in the process shared. This requires some troubleshooting.
@fixx220  is there any support case raised for the issue?

[2019-05-07 05:27] ChiragMishra-MSFT commented on #30674
@seshenoy Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-05-07 05:29] ChiragMishra-MSFT commented on #30683
@johnthcall Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-05-07 05:30] ChiragMishra-MSFT commented on #30686
@johnthcall Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-05-07 05:32] MarileeTurscak-MSFT commented on #30545
Thoughts on this, @CelesteDG ?

[2019-05-07 05:39] stoff75 commented on #30471
Hello,
I think it's weird that you (as in "Microsoft") put something in your documentation about your products and then ask me to verify it for you??

But fine, this is what the log looks like on a DC using your filter from the documentation (using the process as the filter):
![image](https://user-images.githubusercontent.com/6229114/57274214-d312a600-709a-11e9-8b4d-c2b3bc4bd09a.png)

This is what

[2019-05-07 05:40] ChiragMishra-MSFT commented on #30684
@johnthcall Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-05-07 05:42] ChiragMishra-MSFT commented on #30694
@revanthalampally Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-05-07 05:43] femsulu commented on #30432
@fixx220 kindly raise a support case with Azure technical support using [these steps](https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request). If you don't have a support plan, please send mail to AzCommunity@microsoft.com, include your subscription ID and a link to this thread for context and we will gladly assist you with engaging Azure support.

We will

[2019-05-07 05:43] #30432 closed

[2019-05-07 05:43] VikasPullagura-MSFT commented on #30693
@Zimmergren Thanks for posting your query here. We have seen you post in [feedback.azure.com](https://feedback.azure.com/forums/602224-azure-container-instances/suggestions/37357582-support-managed-disks). We will check with the product team and will update you on this.

[2019-05-07 05:45] ChiragMishra-MSFT commented on #30701
@ctxldy Can you please provide the link of the doc you are following ? It would help us help you better.

[2019-05-07 05:47] vrishni commented on #30633
Thanks for your feedback. Can you please point to the code sample/issue you are facing. To transcribe a lot of audio files (two speakers) of customer service conversation into transcripts, Video Indexer is perfect for the job, You can even run the entire pipeline without writing a single line of code.

[2019-05-07 05:48] Agazoth opened #30705 "The returned object has one element holding several objects"
When returning an array of objects in a HTTP response, only one object is returned. The first element of this object contains the array of the objects expected as response.

When returning elements like this:

[code]
the following is received , when calling the webhook and storing the result in a variable called result:

[code]

Ideally result should contain the objects. Either way this should be

[2019-05-07 05:49] ChiragMishra-MSFT commented on #30701
@ctxldy In case you wanted to provide a product feedback and not doc feedback, please visit [Azure Feedback Forum](https://feedback.azure.com/forums/34192--general-feedback) and provide the feedback. The product teams closely monitor the feedback there and implement features in upcoming releases based on the feedback.

[2019-05-07 05:51] kazshi opened #30706 "please add vCenter 5.0 if it's supported"
This is related to the issue #30039 and the following thread - I learned that vCenter 5.0 migration is supported from discussion in the issue, so I think vCenter 5.0 should be added to the table in "On-premises virtualization servers" section.  Thanks.

Migration to Azure from vSphere 5.0
https://social.msdn.microsoft.com/Forums/sqlserver/en-US/910170a6-8dbf-40ff-ab97-0abcf28ae661/migration-to-azu

[2019-05-07 05:53] tmhui94 commented on #30645
Alright, thanks for the reply @Alberto-Vega-MSFT

[2019-05-07 05:53] CelesteDG commented on #30467
Hello @subhankars and @ThirstyBrain - Our dev confirmed that this was an issue with the API generating secrets which had special characters. This issue has been fixed, by removing special characters from the new secrets. Please try to generate a secret again, and try the E2E. The issue should be gone. If not, please let us know. Thank you.

[2019-05-07 05:54] githubavi commented on #30633
Thanks, for the suggestion. But, does Video Indexer supports audio file formats? In my business scenario the file inputs are audio files.
Also let me know which pipeline you are talking about?

-Avi

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: vrishni <notifications@github.com>
Sent: Tuesday, May 7, 2019 11:18:04 AM
To: MicrosoftDocs/azure-docs
Cc: Avijit

[2019-05-07 05:55] tmhui94 commented on #30645
@KingdomOfEnds
No, the link you provide for user from different AAD Tenant. I need it to be application instead of User.
By the way, thanks for the replay. I'll be post my question over MSDN  AAD forum.

Thanks you very much :D

[2019-05-07 05:55] VikasPullagura-MSFT commented on #30408
@chi-ltd I am closing this issue for now. If you need further help on this mention me in the comment so that we can continue the discussion.

[2019-05-07 05:55] #30408 closed

[2019-05-07 05:59] Zimmergren commented on #30693
Thanks @VikasPullagura-MSFT, looking forward to learn more about this roadmap.
Cheers,
Tobias

[2019-05-07 06:14] LasseNisted opened #30707 "MSAL .NET is listed as preview"
Is that still the case? (https://developer.microsoft.com/en-us/graph/blogs/msal-net-is-now-generally-available/)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b787325-589c-b5f5-f530-7f1fe12e075e
* Version Independent ID: 6d678569-0ebe-f2ef-ecd7-69cc62b4b7be
* Content: [Azure Active Directory v2.0 authentication libra

[2019-05-07 06:20] GuruCharan94 commented on #29871
You can find the [ARM Template reference to enable soft delete on key vault](https://docs.microsoft.com/en-us/azure/templates/microsoft.keyvault/2018-02-14/vaults)

From the page,

[2019-05-07 06:25] mansetaashok commented on #29557
@AmirGeorge, @RohitMungi-MSFT, @diberry  Thank you very much for your help. Container is working as expected now.

However, There is an additional issue. If I download the package file using a curl command, encountered with same error "The archive entry was compressed using an unsupported compression method."

[code]

I have two applications in the portal, one of the application I can 'Export for

[2019-05-07 06:33] abatishchev commented on #29871
Try to find this page in Google results for [azure key vault soft delete](https://www.google.com/search?q=azure+key+vault+soft+delete&ie=UTF-8)

[2019-05-07 06:35] kazshi commented on #30131
@mikebudzynski Thanks for your clarification.

[2019-05-07 06:42] yingqunpku commented on #30587
@eraoul That is true. Multivariate is not supported yet. It's in our road map.

[2019-05-07 06:48] femsulu commented on #30559
@AdiGanMsft any insights please?

[2019-05-07 07:03] SadiqhAhmed-MSFT commented on #30516
@andrewhellyer Sorry for the delay. This issue requires further deep dive technically. Suggest you raise a technical support ticket by following the instructions from this [link](https://docs.microsoft.com/en-in/azure/azure-supportability/how-to-create-azure-support-request). Let me know if you've any limitations creating a support request.

[2019-05-07 07:07] freakyfriday commented on #26228
What about OrderBy in the azure-storage-node library. I've raised it with the team but they said to email askcosmosdb@microsoft.com (whom haven't replied to my query sent on March 26 2019)

https://github.com/Azure/azure-storage-node/issues/571

[2019-05-07 07:09] ashleywb commented on #30340
@MicahMcKittrick-MSFT thanks for your reply the script takes the same amount of time, its just the installation of the plugin. Either the extension is slow to install or the vm is slow  starting up (no DSC has been applied)
![image](https://user-images.githubusercontent.com/9212081/57278714-2d156a80-709f-11e9-986b-8c1b2117ba57.png)
Why are there three versions?
![image](https://user-images.githubu

[2019-05-07 07:10] freakyfriday commented on #19489
@Mike-Ubezzi-MSFT What about OrderBy in the azure-storage-node library. I've raised it with the team but they said to email askcosmosdb@microsoft.com (whom haven't replied to my query sent on March 26 2019). Would love to migrate my Table Storage over to CosmosDB but without any ability to sort the way Tables Storage does on RowKey it's useless for my needs.

https://github.com/Azure/azure-storage

[2019-05-07 07:30] santoshmallena opened #30716 "Can we edit azure buitin RBAC roles"
Dear Team, Is it possible, can we edit & update the azure built in RBAC roles using powershell / azure cli.

Thanks&Regards,
Santosh Mallena.

[2019-05-07 07:46] SadiqhAhmed-MSFT commented on #30706
@kazshi Thanks for the comment! We will share this feedback with the content owner for further review and update as appropriate.

[2019-05-07 07:48] yotauber opened #30717 "How do I configure my application if my AppInsights instance is in Fairfax?"
I only see an option to configure the instrumentation key. I suppose that in order to report telemetry to AppInsights in Fairfax I also need to configure a different endpoint somehow?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0fe1dde-e648-523a-88f5-94811293729d
* Version Independent ID: 053b0d57-ab96-b235-cbe3-59

[2019-05-07 07:52] vinynigam commented on #15920
Doc updated. Will be in visibile by 5/8 #please-close

[2019-05-07 07:58] frehnejc opened #30718 "Connection name with <-> in the name causes no data to be displayed"
Just a note I created a connection monitor name with a &lt;-&gt; in it and after some time the chart has "error no data".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bf662d1-53fb-f651-ee67-6e174836d739
* Version Independent ID: 67782b9a-1dd5-acb4-6d93-62ee9ff60d43
* Content: [Monitor network communication - tutoria

[2019-05-07 08:18] junztan commented on #15584
Hi @vinodkmaurya , I was facing the same issue like your. Could you please share how did you fixed it? I enable the 'Reset Password' and it was working when i connected to internet. But when i connected to corporate network, it then prompt the something went wrong message.

[2019-05-07 08:26] ChiragMishra-MSFT commented on #30716
@santoshmallena Please help with the link of document on which above document feedback request is created. In case your query in not related to document content, open a new forum thread in MSDN forum or Stack Overflow as it could be better place to get help on your scenario. These forum community members could provide their expert guidance on your scenario based on their experience. Thanks.

[2019-05-07 08:28] ToMakeSense opened #30719 "can't save query statement of Azure Monitor log"
The documentation I am referencing: [Get started with Azure Monitor Log Analytics#save-queries](https://docs.microsoft.com/en-us/azure/log-analytics/query-language/get-started-analytics-portal#save-queries)

I am query the log of api management in Azure portal, however the **Save** button is disabled, what's up with this?
![image](https://user-images.githubusercontent.com/6244148/57285085-0843e600

[2019-05-07 08:28] KetanChawda-MSFT commented on #30703
@nikolaiblackie I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-07 08:35] DixitArora-MSFT commented on #30705
@Agazoth Thank you for your feedback! We will review and update as appropriate.

[2019-05-07 08:36] aaronhughesdelt opened #30720 "need to list for firewall/network connectivity"
issue on registering - failed to connect to uks.frontend.clouddatahub.net

this site needs to get add to rules for install/registration of the IR

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32785d15-8202-6e44-f1d2-420ef0600f3f
* Version Independent ID: 3af5fa49-7bd4-18ce-f8dc-aa4a2b8c6478
* Content: [Create a self-h

[2019-05-07 08:44] angoyal-msft commented on #30696
@rioriost Thanks for your feedback. I have assigned this issue to content author to update the document appropriately.
@jonels-msft Could you please look at this issue and update the document as appropriate.

[2019-05-07 08:45] markarnolditpro opened #30721 "Integration with App Services - App Settings UI in portal?"
Currently we manage settings across app services with key vault backed secrets that we have set in the portal.  Is it possible to reference App Configuration settings from App Services - App Settings dialog?  Or is it required that we manage settings in code?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31806d3b-6d26

[2019-05-07 08:49] #30716 closed

[2019-05-07 08:52] PingPongSet commented on #14560
What is the status of Azure Function Apps slots?

When will it be go to production?

Where is the official doucumentation?

The only one I can find is below
https://docs.microsoft.com/en-us/azure/app-service/deploy-staging-slots

[2019-05-07 08:56] pvrk opened #30722 "Evaluation between AsyncOperation and Location"
In this document, it is mentioned "For example, you may need to evaluate the Azure-AsyncOperation header value for one operation, and the Location header value for another operation". Can you please elaborate on what basis evaluation can be done? If we are writing a completely new API how to decide whether it should return Azure-AsyncOperation or Location header?

---
#### Document Details

⚠ *Do

[2019-05-07 08:57] hoanglam-novobi opened #30723 "Memory limitation when running on local machine"
Hi everyone,

I'm training the model on the local machine with about 200 GB RAM.
But I still got the message when training a time-series mode:
The lag-lead operator was removed due to memory limitation.
The rolling window operator was removed due to memory limitation.

Can anyone help me with that or show me where I can set the memory in the config?
Many thanks

---
#### Document Details

⚠ *Do no

[2019-05-07 08:58] VikasPullagura-MSFT commented on #30695
@dcallagh Thanks for the question! We are investigating and will update you shortly.

[2019-05-07 09:02] davidefiocco commented on #24319
@RohitMungi-MSFT if the 1 minute limit is actually enforced on ACI (as stated in https://social.msdn.microsoft.com/Forums/en-US/3f0d08cd-4a53-4445-ab11-597725115793/after-deploying-ml-model-got-time-out-when-call-the-service?forum=AzureMachineLearningService), that'd be great to have it stated in the docs (at least e.g. in https://docs.microsoft.com/en-us/azure/container-instances/container-instan

[2019-05-07 09:08] dorsborne opened #30724 "Backend Pool Options"
I dont see the option to configure my backend pool to anything other than a list of VMs... what controls the options?  I thought it might be down to SKU but I cant see the option with either Basic or Standard

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af871177-05e5-4194-bbb1-69d765c475c2
* Version Independent ID: a

[2019-05-07 09:10] stofte opened #30725 "OS patching"
I think it's critical that people are aware that machines in your scaleset will not update with OS patches at all, unless you're doing something manually (such as using POA, or whatever else admining you might do). And older revision of this page at least made it clear that this is the case.

https://github.com/MicrosoftDocs/azure-docs/blob/0474af7560684e71fbe9571f81d64bebfe8ecbfd/articles/service

[2019-05-07 09:14] vrishni commented on #30633
Yes, It supports audio file formats, Please refer to the following site for technical details, https://vi.microsoft.com/en-us/. Regarding the pipeline I am referring to the following VI Logic App pipeline (https://azure.microsoft.com/en-in/blog/logic-apps-flow-connectors-will-make-automating-video-indexer-simpler-than-ever/). I hope this helps.

[2019-05-07 09:18] dominicbetts commented on #19568
Hi @HenryPSF - it looks like some of the dependencies have changed. I'd recommend using Node v6 or greater. I'll get the docs updated to reflect this. Thanks for reporting the issue.

[2019-05-07 09:28] githubavi commented on #30633
Hi, the first link is just a landing page. Just want to reconfirm if it supports source file like WAV, MP3, M4A etc? I have not found that details.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: vrishni <notifications@github.com>
Sent: Tuesday, May 7, 2019 2:44:59 PM
To: MicrosoftDocs/azure-docs
Cc: Avijit Samanta; Mention
Subject: Re: [MicrosoftDocs/azure-

[2019-05-07 09:32] MPenny-nCipher opened #30726 "Link to nCore Key Hash needs to be updated"
For verification of the nCore Key Hash, the link currently points to the Thales website. As nCipher has now been separated from Thales, and this page is related to performing BYOK using nCipher products, the link should be repointed to the nCipher Security website.

The link required is: https://www.ncipher.com/products/key-management/cloud-microsoft-azure/validation

---
#### Document Details

⚠

[2019-05-07 09:36] WoutVergauwen opened #30727 "Esv2 VM size doesn't exist"
Esv2 VM size doesn't exist, should probably be Esv3.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfbb6311-d76f-aefc-2791-c04cd0635c71
* Version Independent ID: 9eda9815-6627-1354-6cae-a9fc144345df
* Content: [Ephemeral OS disks for Azure Linux Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines

[2019-05-07 09:47] OleksandrValetskyy opened #30728 "Tracking collection creation in CosmosDb"
There is a need to track collection created event. Is there any way to do that with change feed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa5bcb79-2af8-3b0e-c78c-0c89a2535e15
* Version Independent ID: 31b87687-7841-f46f-8c97-38898e7b97db
* Content: [Azure Cosmos DB bindings for Functions 2.x](https://docs.microso

[2019-05-07 09:52] ChiragMishra-MSFT commented on #30720
@aaronhughesdelt Thanks for the feedback. Can you please share the exact error message that you encountered and possibly a screenshot? That would help us narrow down to the problem.

[2019-05-07 09:54] ChiragMishra-MSFT commented on #30723
@hoanglam-novobi Please help with the link of document on which above document feedback request is created. In case your query in not related to document content, open a new forum thread in MSDN forum or Stack Overflow as it could be better place to get help on your scenario. These forum community members could provide their expert guidance on your scenario based on their experience. Thanks.

[2019-05-07 09:56] ToMakeSense opened #30729 "How to select all the available columns in the KQL"
The documentation I am referencing: [Get started with Azure Monitor Log Analytics#filter-the-results](https://docs.microsoft.com/en-us/azure/azure-monitor/log-query/get-started-portal#filter-the-results) and [Get started with Azure Monitor Log Analytics#select-columns-to-display](https://docs.microsoft.com/en-us/azure/azure-monitor/log-query/get-started-portal#select-columns-to-display)

I am quer

[2019-05-07 09:57] ChiragMishra-MSFT commented on #30721
@markarnolditpro Thanks for the question. We are currently investigating into the issue and will update you shortly.

[2019-05-07 09:58] acorn20180214 opened #30730 "[Documentation Error]The custom preset example in this CLI page seems to be copied directly from "With REST" page, which is not working for CLI command."
The sample custom preset can be found here at https://github.com/Azure/azure-cli/blob/59cd600d237472a08283e6ebe2f7528584a16ae7/src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/tests/latest/data/customPreset.json

{
    "@odata.type": "#Microsoft.Media.StandardEncoderPreset",
    "filters": {
        "rotation": "Auto",
        "overlays": [
            {
                "@odata.type

[2019-05-07 09:58] steveculshaw opened #30731 "Logic App download functionality only in VS2017, and not in VS2019"
The documentation on the Download option should make it clear that the functionality is currently only in VS2017, and NOT in VS2019 (at least as of 2019-05-07)
https://docs.microsoft.com/en-gb/azure/logic-apps/manage-logic-apps-with-visual-studio#download-from-azure

Both have Open, Disable, Delete and Refresh, but VS2017 has Open with Logic App Editor and Open Run History, whereas the VS2019 has

[2019-05-07 10:00] vrishni commented on #30633
Yes,  Please try trial VI with audio file's.

[2019-05-07 10:02] SumanthMarigowda-MSFT commented on #30481
@rwarnke Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-07 10:04] jakaruna-MSFT commented on #30725
@stofte Thanks for your feedback. We are investigating and we will update you shortly.

[2019-05-07 10:04] jakaruna-MSFT commented on #30727
@WoutVergauwen Thanks for your feedback. We are investigating and we will update you shortly.

[2019-05-07 10:09] hoanglam-novobi commented on #30723
Hi @ChiragMishra-MSFT,
You mean the link I follow to set up the AutoML service in Azure
(https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-auto-train-forecast)

[2019-05-07 10:14] SadiqhAhmed-MSFT commented on #30722
@pvrk Thanks for the comment! We will check on this and get back to you with an update.

@tfitzmac Could you share your insights on this?

[2019-05-07 10:18] jakaruna-MSFT commented on #30727
@WoutVergauwen Thanks for the feedback! I am assigning this issue to the content author to investigate further and update the document as appropriate.

[2019-05-07 10:20] jakaruna-MSFT commented on #30727
@cynthn Esv2 and DSv1 sizes are not available.  I checked in southindia and centralus.

Please review and update the doc as required.

[2019-05-07 10:26] bertrandpons commented on #29901
@himanshusinha-msft an idea about my need ? Thank you !

[2019-05-07 10:27] DRSPrashant opened #30733 "AzureSpatialAnchorLocalSharedDemo not working for Unity"
So I have tried to create HoloLens application to create and shared azure anchor on Unity, but couldn't make  it.

I have followed below unity tutorial
https://docs.microsoft.com/en-us/azure/spatial-anchors/quickstarts/get-started-unity-hololens,

I built the app and Installed it on hololens but unable to create and upload the anchor.

I followed the instruction mentioned  in LocalSharedDemo scene

[2019-05-07 10:28] WoutVergauwen opened #30734 "Register-AzRmProviderFeature requires ProviderNamespace"
Should be something like Register-AzRmProviderFeature -ProviderNamespace Microsoft.Compute –FeatureName LocalDiffDiskPreview

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfbb6311-d76f-aefc-2791-c04cd0635c71
* Version Independent ID: 9eda9815-6627-1354-6cae-a9fc144345df
* Content: [Ephemeral OS disks for Azure Linux V

[2019-05-07 10:35] jakaruna-MSFT commented on #30725
@stofte Automatic OS upgrade is supported now.
Please refer to this [comment](https://github.com/MicrosoftDocs/azure-docs/issues/26192#issuecomment-469348540) from another issue.

[2019-05-07 10:35] okanaslaner opened #30735 "Resize recommendation rationale"
It is mentioned that resizing takes into account the CPU utilization and network usage.  Does it take memory usage into account as well?  Also, what is the rationale for choosing DS13_v2 over another size?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9023110b-d573-32c5-cc00-962abc10c0be
* Version Independent ID: 1ce3

[2019-05-07 10:38] furkanvatandas commented on #10584
Is there any development?

[2019-05-07 10:40] stoff75 opened #30736 "Does the Kerberos rollover HAVE to be done from the Azure AD Connect server?"
Hello,
Question regarding the statement that the Kerberos rollover has to be performed on the Azure AD Connect server - is there a technical reason for that, or is it only a practical reason because that is where the Powershell module "AzureADSSO.psd1" is installed? Could one install that Powershell module on a different server to do the Kerberos rollover?

Reason I'm asking is because we have a m

[2019-05-07 10:42] Sviatik commented on #16832
I received the same error and found a solution.
Maybe someone will be useful

For deploy ACI to existing subnet, you definitely need to specify `--network-profile`.
So it's possible to deploy using commands below:
[code]

Also, I'm able to run one more container in the same subnet, using the same command but changed the name of the container group.
[code]

[2019-05-07 10:55] jakaruna-MSFT commented on #30734
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-07 10:56] KrishnaG-MSFT commented on #30485
@kevCurnow Perhaps I'm missing something, but given your explaination, I would suggest you to double check whether the time span is of same time zone (for example UTC) or not in both the cases. If it's the same time zone then as there's no edits or updates needed for this documentation article so I would suggest you to open a thread and ask for suggestions and answers in communities [MSDN Forum](h

[2019-05-07 10:56] #30485 closed

[2019-05-07 11:03] Anmolgan81 commented on #10343
Is this completed?

[2019-05-07 11:05] BhargaviAnnadevara-MSFT commented on #30717
@yotauber Yes, you're right. You will need to modify the default endpoint addresses that are used by the Application Insights SDKs. Each SDK requires slightly different modifications, which are detailed in [this](https://docs.microsoft.com/en-us/azure/azure-government/documentation-government-services-monitoringandmanagement#application-insights) document. Please check it out and let us know if it

[2019-05-07 11:06] Anmolgan81 opened #30737 "How to block access to specific tables for certain roles?"
I tried to block the access to some of the tables for specific users inside the roles, but I get the metadata being used error when trying this out in the SSDT, how can this be achieved?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f0e1195-b6a2-d789-a950-4454798f265e
* Version Independent ID: d8ea7415-3b97-5985-44e7

[2019-05-07 11:07] Anmolgan81 opened #30738 "How to add Azure AD Groups directly into particular roles?"
I have tried to add the Azure AD Groups into the roles with teantid@userid thing, it gets added into the model, but when the specific user tries to log in it do not see any database there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f0e1195-b6a2-d789-a950-4454798f265e
* Version Independent ID: d8ea7415-3b97-5985-44

[2019-05-07 11:11] Paxxi commented on #30596
I have tested it now with Safari, Edge and Firefox on iOS 12.2 and they all have the same behavior. Testing it with Edgium on Windows 10 results in a Word document being downloaded as expected

[2019-05-07 11:36] dtPaTh opened #30739 "Mock API endpoint wrong?"
The mock API endpoint is described to be the same as the production one. So does this mean it's the same API endpoint just without authentication?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9862992-905d-6343-d921-11d0cc117fa9
* Version Independent ID: 47437574-5c46-b88b-aee3-4ebf52efe4bf
* Content: [SaaS Fulfillme

[2019-05-07 11:36] ChiragMishra-MSFT commented on #30723
@hoanglam-novobi Thanks for sharing the link. An expert from the right team will get in touch very soon.

[2019-05-07 11:44] bdschaap opened #30740 "Time Granularity of Metrics"
What is the  time granularity that metrics are captured?  There are several that specify the time granularity but most do not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0a586c4-71fd-e60b-9c4c-1a3eb2443c74
* Version Independent ID: 2f3706cc-073b-a310-8da4-2a5a90da6473
* Content: [Azure Monitor supported metrics by

[2019-05-07 11:46] fkalseth opened #30741 "Alternative approach"
By leveraging DurableOrchestrationClientBase, we've implemented an  InMemoryOrchestrationClient which allows durable functions to be executed in-memory and thus tested with no mocking and less brittle fixtures. It's available here: https://github.com/fortedigital/Forte.Functions.Testable

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-05-07 11:47] yotauber opened #30742 "Can I make the configuration changes in .NET programatically instead of via applicationinsights.config?"
In order to send telemetry to a Fairfax instance of AppInsights from a .NET service (not .NET core), do I have to make the configuration changes in applicationinsights.config as explained above? Or is there any option to make these changes by code without touching the config file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2019-05-07 11:48] aaronhughesdelt commented on #30720
I think I have sorted the issue, it was a corp firewall rule not a local one that was needed!

[2019-05-07 11:49] stofte commented on #30725
@jakaruna-MSFT Thanks alot, that's good info :-)

[2019-05-07 11:49] #30725 closed

[2019-05-07 11:52] jakaruna-MSFT commented on #29975
@carlosporter
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-05-07 11:52] #29975 closed

[2019-05-07 11:52] montebhoover opened #30743 "Minor errors in Create Managed Disk From Snapshot powershell script"
I noticed there are a couple small errors in the example script that prevent it from executing successfully.  The line `$storageType = 'PremiumLRS'` should be changed to `Premium_LRS`, and there are a few extraneous characters causing errors where newlines should be at the bottom.  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-05-07 11:53] yotauber commented on #30717
@BhargaviAnnadevara-MSFT
Thanks, this helps! I've asked for further clarifications in that page.

[2019-05-07 11:58] montebhoover commented on #11409
I'd like to second this issue.  The page suggested, https://docs.microsoft.com/en-us/azure/virtual-machines/windows/snapshot-copy-managed-disk, gives instructions for creating a snapshot, not creating a managed disk from a snapshot.

Also, it looks like there are pages for doing this via Azure CLI - could you include links to those pages here if they are still relevant?

[2019-05-07 11:58] Heer-Boaz opened #30744 "Requirements for the API implementing paged results"
There appears to be no description of the requirements on how to support pagination from the perspective of the API that is being invoked by Logic Apps.
Now, we are getting an "InvalidPageResponse", related to a property 'value' missing in the result body.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 560fac39-1341-68

[2019-05-07 11:59] montebhoover commented on #30743
By the way, I'm happy to make a PR with the edits, but I couldn't find the script in the repo.

[2019-05-07 12:10] jakaruna-MSFT commented on #30734
@WoutVergauwen Thank you. I have submitted a PR to fix those commands

[2019-05-07 12:26] AjayKumar-MSFT commented on #30730
@acorn20180214, Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-05-07 12:30] uusimaeki commented on #30336
Any progress?

[2019-05-07 12:38] bjornbos opened #30745 "Documentation error"
The code example uses parameter "clientID" but that won't work. You need to use "clientId".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e6e5855-ef79-2759-6773-f3a44886cb14
* Version Independent ID: 73154754-ea03-f123-3506-9173f7472322
* Content: [Single-page application (app's code configuration) - Microsoft identi

[2019-05-07 12:39] #30734 closed

[2019-05-07 12:39] shashishailaj commented on #30707
@LasseNisted Thank you for your feedback. We will investigate and update this thread further.

[2019-05-07 12:40] crmhh opened #30746 "Square logo image"
"This image is only used for Windows authentication and appears only on tenants that are using Windows Autopilot for deployment or for password entry pages in other Windows 10 experiences"

In my experience this logo is used in consent dialogs too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72f2e675-436d-dcd4-fa27-

[2019-05-07 12:41] xiaoyang-connyun commented on #30073
Sure.
1. Although `client secret` is not mandatory for the API call, however, API-M has this constraint. If you try to setup OAuth via portal, the field is marked as mandatory and cannot be empty.
2. When using `jwt validation` policy, OAuth endpoint is referenced. Also, it is used for some APIs as backend, like login. Besides, my setup is one API-M per envrionment, so Named Value will make it han

[2019-05-07 12:42] marktab commented on #28754
@tomwwagstaff-product

See https://docs.microsoft.com/en-us/azure/machine-learning/studio/retrain-machine-learning-model

Github is not a help forum, but instead you are welcome to extended and lengthy interaction on our forums area https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=MachineLearning

@YutongTie-MSFT  please close this item

[2019-05-07 12:42] shashishailaj commented on #30726
@MPenny-nCipher Thank you for reporting this. We will investigate and update as needed.

[2019-05-07 12:42] garybushey opened #30747 "Question on supported regions"
Is this correct or is there a comma missing? " East US 2 EUAP (Canary)"  I have not heard of this region if it is correct and if it is indeed "East US 2, EUAP (Canary)" I was not able to link to a workspace created in East US 2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddafba5c-f652-3d1a-e4b4-f8eedc14e740
* Versio

[2019-05-07 12:43] martinKindall commented on #30614
It was tested on my cellphone and the sdk version was 0.3 and then it was set to 0+, without result.

Curiously, I also tried with the marker example, adding one marker to the map. The marker is rendered, but the map remains white.

[2019-05-07 12:44] shashishailaj commented on #30745
@bjornbos Thank you for your feedback. We will review and update the document as needed.

[2019-05-07 12:45] shashishailaj commented on #30736
@stoff75 Thank you for your feedback. We will investigate and update this thread further.

[2019-05-07 12:48] shashishailaj commented on #30746
@crmhh Thank you for your feedback. We will investigate and update this thread further.

[2019-05-07 12:58] BhargaviAnnadevara-MSFT commented on #30717
@yotauber Sure, thank you!

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-05-07 12:58] #30717 closed

[2019-05-07 13:06] tomwwagstaff-product commented on #28754
I've already looked at that link. I'm taking your response as confirmation of my earlier statement: that this is the *only* way to retrain a model and I can't programmatically retrain a model based on a saved dataset.

[2019-05-07 13:08] #29293 closed

[2019-05-07 13:13] rjmholt commented on #30697
Looping in @darrenjrobinson

[2019-05-07 13:13] dohughes-msft opened #30749 "Large production workloads"
Hi, does this page need an update? In section "Possible Scenarios" we only list medium and smaller SAP workloads. It sounds like we (MSFT) are implying that Azure is not suitable for large SAP workloads!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09846614-261a-dd02-b92a-4ea65bd06bd1
* Version Independent ID: 26c764

[2019-05-07 13:16] shashishailaj commented on #30666
@cogran We verified this with the Product group and have updated the documentation . The changes will go live in the next release cycle in a few days. Thank you for your contribution.

[2019-05-07 13:17] zkoncir commented on #30578
I was able to trigger a deployment with the following code:
`{
      "apiVersion": "2018-12-01",
      "type": "Microsoft.Network/networkWatchers",
      "name": "[variables('resourceNames').networkWatcher]",
      "location": "[parameters('location')]",
      "properties": {
        "flowLogs": [
          {
            "name": "[concat(variables('resourceNames').networkSecurityGroup,'-flowlogs')

[2019-05-07 13:20] steveculshaw opened #30750 "It would be useful to have the reason for the new tags, e.g. ISE and Core"
It would be useful to have some indication of the reason for the new tags, e.g. ISE and Core, that have appeared on various connectors, e.g. SQL & FTP have "ISE", and Request & Data Operations have "Core"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 283ea333-d9a1-50c6-581c-753131c88f5a
* Version Independent ID: 45207

[2019-05-07 13:22] kennethvs commented on #24677
Hi,

This still doesn't answer the Original question: " additional details on which *exact* user attributes need to be synced to AAD using AD Connect. Also, how can I *verify* for a given user that all the required information has been synced and is available in AAD."

Please clearify

[2019-05-07 13:26] githubavi commented on #30633
OK, thanks. Will update you soon.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: vrishni <notifications@github.com>
Sent: Tuesday, May 7, 2019 3:30:45 PM
To: MicrosoftDocs/azure-docs
Cc: Avijit Samanta; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Sample missing in Github (#30633)

Yes, Please try trial VI with audio file's.

—
You are receiving this bec

[2019-05-07 13:28] #30666 closed

[2019-05-07 13:30] kennethvs commented on #24677
@shashishailaj: see comment above

[2019-05-07 13:52] DCtheGeek commented on #30692
@bebattis Thanks for the detailed explanation. This appears to be more a support question than a docs issue, so I'm going to close this issue and redirect you to support (see my internal email). Once we get a resolution, please do share it back here for the benefit of others that may have the same question (even though it's not a docs issue).

@MicrosoftDocs/azure-cxp-triage #please-close

[2019-05-07 13:55] michaelstiben commented on #30505
Thanks in advance.

I just have compressed a [new audio](https://github.com/MicrosoftDocs/azure-docs/files/3152940/Ana.zip). Please, let me know if you can open this one.
Also, I checked the audio's specs and metadata. Check it out:

![image](https://user-images.githubusercontent.com/41975874/57304704-723c9b00-70a5-11e9-9fe3-e3a9d08dac10.png)

The only think that made me feel unsure is the mime ty

[2019-05-07 13:56] MSSedusch commented on #30749
We'll look into it and add additional scenarios in the next few days

[2019-05-07 14:08] doug-fish opened #30753 "Maximum number of pods per node is inconsistent or unclear"
In the section #maximum-pods-per-node the first sentence says "The maximum number of pods per node in an AKS cluster is 110. " but in the table I think it's telling me that 250 pods can be configured because of the "Yes (up to 250)" in the Configurable at deployment column.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2019-05-07 14:15] sergaz-msft commented on #30574
Hi @bearrito , adding the content author to review your feedback. I believe that there may be a confusion between a leaf device certificate and IoT Edge certificate:

- Leaf Device (also known as downstream devices): X509 authentication with IoTEdge not supported. Can only use symmetric key authentication.
- IoT Edge acting as a Transparent Gateway:  It will present an IoT Edge hub server certific

[2019-05-07 14:16] maamleka commented on #30551
Hi @MartinJaffer-MSFT, Yes, as I said it works perfectly fine with passphrase so all required permissions are given in KV. It fails only for private key content even if it is in OpenSSL format.

[2019-05-07 14:19] PramodValavala-MSFT commented on #30657
@hoylemd You're right. I believe like applies for some other properties like Certificate for example.

We are assigning this issue to the content author for review and to update the doc accordingly.

[2019-05-07 14:19] sergaz-msft commented on #30603
Thanks @KingdomOfEnds . @marvin06 let us know if this issue can now be closed? Thanks!

[2019-05-07 14:28] sergaz-msft commented on #30612
Thank you for your feedback @romankiss . @shizn are we addressing this issue already?

@romankiss may I kindly ask you that you contact us @ AZCommunity@microsoft.com with a link to this Doc/Issue as well? We will need some more details and a remote call may help us fixing it faster.

Thank you!

[2019-05-07 14:35] RichardKForester opened #30754 "Example has slight syntax error, possible bug."
Hello.  In the Kusto example above:

SecurityEvent
| top 10 by TimeGenerated
| extend localtime = TimeGenerated-8h

there needs to be a space in between the TimeGenerated and -8h otherwise it is showing as a syntax error.

Also, the intent here is likely just to show how "extend" works but this example will not result in any difference in the output.  To get the new column to show you'd need to ad

[2019-05-07 14:38] KumudD commented on #20657
Thanks @larryms for updating the script. #please-close

[2019-05-07 14:38] vhorne commented on #29938
@cogran Article updated.
#please-close

[2019-05-07 14:41] georgewallace commented on #30702
@GitMaggie already submitted a [PR](https://github.com/MicrosoftDocs/azure-docs/pull/30704) to correct this.  @MicrosoftDocs/azure-cxp-triage #please-close

[2019-05-07 14:42] barcar opened #30755 "Whiteboard still not supported 2 years after launch"
It is 2 years since Microsoft launched Whiteboard and it is still not listed as an Approved Client App. This is beyond ridiculous. This should be on the day one checklist for any new Microsoft mobile application.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0073f5a8-daf6-7f14-127f-e0c9d80af78d
* Version Independent I

[2019-05-07 14:44] #30702 closed

[2019-05-07 14:46] #30692 closed

[2019-05-07 14:47] KumudD commented on #26106
@aquibqureshi26  Thanks for bringing this to our attention!
The [Virtual Network Peering FAQ](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-faq#vnet-peering) section has now been updated.  **SQL Always On** has been removed from the list of  resources that are using Basic Load Balancer.  Thanks!

#please-close

[2019-05-07 14:49] KumudD commented on #27434
The article is now updated to use the Az module. Thanks!

#please-close

[2019-05-07 14:50] eximo84 opened #30756 "Proxy Requirement?"
If you have Domain Controllers with internet connectivity are the Proxy servers still required to make this function?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23e000f0-84ce-7ec7-e5ed-4bd9c49f5d49
* Version Independent ID: e636b9d1-be81-0f00-97c4-ff4fa9078be3
* Content: [Deploy Azure AD password protection - Azure

[2019-05-07 14:50] hoylemd commented on #30657
Great! Thanks for the quick updates

[2019-05-07 15:02] KumudD commented on #28930
@julesman101 Thanks for bringing this to our attention! The topic has been updated.

#please-close.

[2019-05-07 15:05] alvintai78 opened #30757 "Slide documentation issue"
Hi,

I am installing 4 nodes availability Group. I think in this page, u need to perform point 14 first follow by adding the replica. If do not set the dependencies and add the replica, u run into error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88e51bc6-b077-a976-c890-a02e7d71b88e
* Version Independent ID: f3af0a9

[2019-05-07 15:08] PramodValavala-MSFT commented on #30577
@jayhub42 Hope my previous comment helps for now.

We are assigning this issue to the content author for review and to update this doc accordingly once this is implemented.

[2019-05-07 15:14] jhakulin commented on #30633
Thanks for the feedback, Conversation Transcription capability is released as preview in Microsoft Cognitive Services Speech SDK 1.5.0 release. We are currently making updates to documents and samples to enable end users easier to use the API. Apologies for the inconvenience caused by the insufficient documentation, we will update documents shortly.

[2019-05-07 15:16] SubhashVasarapu-MSFT commented on #30718
@frehnejc , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-05-07 15:17] SubhashVasarapu-MSFT commented on #30724
@dorsborne , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-05-07 15:18] sergaz-msft commented on #30593
Hello @tutul2010 please let us know the document you are following? If your question is not related with a specific doc, please leverage [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azureiothub) or [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-iot-hub).

Thank you!

[2019-05-07 15:21] msangapu-msft commented on #27604
Hi team, this was updated in the docs few weeks ago. #please-close

[2019-05-07 15:21] Assisting opened #30758 "Typo in code sample; "Te content" -> "The content""
There's an error in the code comment, section "Add the code to initialize MSAL", step 2, line 13. It's minor but I thought you ought to know.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9b69d53-2f6f-38bc-321d-f5330518670e
* Version Independent ID: d0a8b8ab-02bf-d588-465c-03dc1e1fd013
* Content: [Get started with Mi

[2019-05-07 15:28] SubhashVasarapu-MSFT commented on #30407
@chrisdoofer , V2 SKU is available in all the regions listed below. Zone redundancy is one of the features of the v2 SKU. In regions where azure zones are supported v2 SKU will support zone redundancy. In other regions it would support all the other features (static vip, autoscaling, key vault, header rewrite, ingress controller etc), except zone redundancy. But, again your feedback is valuable an

[2019-05-07 15:31] craigcaseyMSFT commented on #10857
Fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/75291

[2019-05-07 15:31] #10857 closed

[2019-05-07 15:35] Mike-Ubezzi-MSFT commented on #19489
@freakyfriday Much confusion and may question around the Cosmos Table API versus Table Storage API. To see what are the currently query support [operators](https://docs.microsoft.com/en-us/rest/api/storageservices/query-operators-supported-for-the-table-service#unsupported-query-operators) for Cosmos Table API. The Uservoice forum is the appropriate channel for requesting feature requests and ther