[2021-03-31 17:13] santhoshsomayajula commented on #73007
@garbacik Thank you for posting your question. It looks like more of an access control questions on restricting egress from your on premise which should be part of the RBAC and AAD Conditional Access policies which you can use to prevent users accessing Azure portal from certain networks or ip ranges. There are a lot more options you can use through these CA policies. Please check
https://docs.mic

[2021-03-31 17:14] himanshusinha-msft commented on #72830
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-03-31 17:20] himanshusinha-msft commented on #73069
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-03-31 17:23] VikasPullagura-MSFT commented on #73041
@mimckitt
Can you please check and add your comments on this doc update request as applicable.

[2021-03-31 17:35] JamesTran-MSFT commented on #72922
@Norafify89
Thank you for the quick response on this!

1. is ADSync Service account have password?
- From our [ADSync service account documentation](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/concept-adsync-service-account), this will depend on the type of account you chose, i.e. Virtual Service Account (VSA), a Managed Service Account (gMSA/sMSA), or a regular User Account. In

[2021-03-31 17:41] JamesTran-MSFT commented on #73000
@DeanGross
I just wanted to check in and see if you were able to review my previous comment or if you were able to resolve this issue?

[2021-03-31 17:50] JamesTran-MSFT commented on #73037
@michael-freidgeim-webjet
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author (@msmimart ) to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-03-31 17:50] #73037 closed

[2021-03-31 17:54] czetie opened #73084 "vCPUs or CPUs?"
I'm confused by the last paragraph in this doc. It's unclear what is meant by "CPU" here. If hyperthreading is disabled, I would expect

- the number of cores to remain the same
- the number of threads per core to decrease from 2 to 1
- the number of vCPUs (cores * threads) to halve

So I _think_ it should say that the number of vCPUs is halved, not the number of CPUs is halved?

---
#### Document

[2021-03-31 17:57] leifbro commented on #73013
Fixed in Databricks docs source and awaiting review. Expect it to be published within 48 hours.

[2021-03-31 18:00] quintusm opened #73085 "Add documentation clearly showing how to create apps, flows etc using command line facilities"
The documentation currently shows how to add new applications, authentication configuration, flows etc using the Azure web interface.  However, these are complicated multi step processes that are prone to errors.  You should be showing how to do this using command line tools as well, as that is much easier to replicate from eg a dev setup to a production setup accurately and without mistakes.    P

[2021-03-31 18:02] JamesTran-MSFT commented on #73038
@trevornorman
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author(@curtand ) to review and sign off.

![image](https://user-images.githubusercontent.com/36619112/113189584-34543d00-9210-11eb-9918-339ec804b447.png)

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank y

[2021-03-31 18:02] #73038 closed

[2021-03-31 18:03] JamesTran-MSFT commented on #73085
@quintusm
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-31 18:05] HarshitaSingh-MSFT commented on #73072
Hello @dfatkulbayanova , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-03-31 18:10] trevornorman commented on #73038
Thank you very much!

On Wed, Mar 31, 2021 at 11:03 AM James Tran-MSFT ***@***.***>
wrote:

[2021-03-31 18:12] HarshitaSingh-MSFT commented on #73084
Hello @czetie , thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-31 18:43] ChaitanyaNaykodi-MSFT commented on #72755
Hello @geoffbrucepayne, apologies for the delay. The the SharedCode folder name is arbitrary.
`extension.csproj` file is generated when you [explicitly install the extensions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-register#explicitly-install-extensions) and do not have the extension bundle mentioned  in your `host.json` file.
For example I have created a JS Even

[2021-03-31 18:43] #72755 closed

[2021-03-31 18:49] Oury-MSFT commented on #73035
@cmanasseh Thank you for being patient while checking on this. I tried to repro the issue and it worked from my end. The host in the connection string should be your cosmosdbname.document.azure.com:443/ without the brackets. Please remove the bracket and try again. Let us know if that answer your question. See my example below
![image](https://user-images.githubusercontent.com/78940872/113195004-9

[2021-03-31 18:49] axisc commented on #72165
@CGiardino  Thanks for raising this issue. This is due to an issue with the JNDI support with our JMS SDK. We are going to have a fix for it (tentatively April/May) so it should resolve then.

To unblock, can you try instantiating the ServiceBusJmsConnectionFactory class? That should allow you to access Service Bus from your app.

[2021-03-31 18:49] Karishma-Tiwari-MSFT commented on #72771
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2021-03-31 18:49] #72771 closed

[2021-03-31 18:57] bandersmsft commented on #73078
@kp2017 You're right. We should have been much clearer. I've updated the article for clarity with:
## Delete other subscriptions

The only subscription type that you can manually delete is a free trial subscription. All other subscription types, including pay-as-you-go subscriptions, are deleted only through the [subscription cancellation](#cancel-subscription-in-the-azure-portal) process. In othe

[2021-03-31 18:57] #73078 closed

[2021-03-31 19:12] AjayKumar-MSFT commented on #72861
We will close this out, but if you feel you need more information please just let us know.

[2021-03-31 19:12] #72861 closed

[2021-03-31 19:14] #72596 closed

[2021-03-31 19:21] rthorn17 commented on #72249
@sopopa1 When transferring the subscription into a tenant that already has management groups set up, the subscription will fall under the default MG.  If the customer is seeing a different experience, then they should open a support ticket as this is not the expected behavior.

[2021-03-31 19:24] msmbaldwin commented on #70075
Hi, @ozBob, @ssivas: Our quickstarts are designed to provide only a single path of completion, with no decision trees (e.g., single-line versus multi-line secret). I have therefore put this content in its own article: https://docs.microsoft.com/en-in/azure/key-vault/secrets/multiline-secrets. The quickstart now includes a link to this new article.  Thanks! #please-close

[2021-03-31 19:24] #70075 closed

[2021-03-31 19:32] bergeron opened #73086 "Broken anchor link to az aks create"
This line tries to link to the `az aks create` section of the docs:
"Create an AKS cluster using the [az aks create](https://docs.microsoft.com/en-us/cli/azure/aks#az-aks-create) command."
But the anchor link to `#az-aks-create` is broken.  It should be `#az_aks_create`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6

[2021-03-31 19:33] AjayKumar-MSFT commented on #72912
@nikkelly, We have raised a PR based on your feedback and shared it with the author. Once the PR is reviewed and merged (as necessary), the doc would then reflect the changes. Thanks again for taking time to share your valuable feedback!.

[2021-03-31 19:36] khharper commented on #73042
Thanks @vipulsparsh. I also sent you a message with a couple questions on teams.

[2021-03-31 19:39] pesetskyps opened #73087 "link to C githib is broken"
please fix the link with text "Sample config file for DPS ID Scope transfer". goes to 404 page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7e8f240-bef9-7f69-613e-d8b9a77ae0b7
* Version Independent ID: c3726d18-572f-85c3-161d-7449ffe0e04e
* Content: [IoT Plug and Play Certification Requirements](https://docs.microso

[2021-03-31 19:45] jaseidman commented on #73013
Hi @dalemdb – I'm having trouble replicating the issue you're seeing. I've gone through the entire tutorial  again as-is (without the braces for the Spark conf), and my test job runs successfully. When I try adding the braces, I actually get an INVALID ARGUMENT error and the job fails. Can you provide more details on the how you tested this and the errors you ran into? Thanks!

[2021-03-31 19:50] SubhashVasarapu-MSFT commented on #72744
@madhub, Appreciate your patience. Looks like recent edits on the document avoided these errors. I did verify it with a lab in my local repo. Please give a try again.

![image](https://user-images.githubusercontent.com/44890829/113202355-496cb280-9288-11eb-8cf6-036e57bf2a48.png)

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladl

[2021-03-31 19:50] #72744 closed

[2021-03-31 19:52] fab2903 opened #73089 "Links to download source code no longer valid"
The link to download the source code, doesn't work. It just redirects to the code samples main page, but if you look for Contoso Ads Application there is no result. If you look for Cloud Service there is no result either.

So there is no way to follow the actual steps as there is no source code available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2021-03-31 19:54] AjayKumar-MSFT commented on #72873
@TheGoodNEvil, Apologies for the delay! You can try with the package name "azure-communication-phonenumbers" (without the extra space "_phonenumbers_")"- Kindly take a look at the screenshot below, it works.
Also, I have shared this feedback with our product engineering/content team and the doc or the name of the package would be updated as necessary.
-We will close this for now, please let us kno

[2021-03-31 20:04] dalemdb commented on #73013
Customer followed the example and it didn't work for them.  THe {{ }}
braces are required for secret lookup in Spark conf.

See this doc link:
https://docs.microsoft.com/en-us/azure/databricks/security/secrets/secrets#path-value

In that link you see this as a correct example:
spark.password {{secrets/testScope/testKey1}}

dale

*Dale Michalk*

*Sr. Solutions Architect*

*954-258-1465*

***@***.**

[2021-03-31 20:06] dalemdb commented on #73013
If you don't have the braces the cluster wont die...but when you try to
access the lake it won't be able to get a token from Azure AD and you will
get a cryptic token related error message and show your offending key entry
without secret replacement.

dale

*Dale Michalk*

*Sr. Solutions Architect*

*954-258-1465*

***@***.*** ***@***.***> *

On Wed, Mar 31, 2021 at 4:04 PM Dale Michalk ***@***.**

[2021-03-31 20:11] AjayKumar-MSFT commented on #72876
@imamahmadrazatrustadmin, Apologies for the delay!
You may try to add the **env** setting **CI: false** , as discussed [in this ](https://github.com/microsoft/Oryx/issues/605#issuecomment-632401561) thread and see if it helps.

As mentioned [in this](https://github.com/Azure/static-web-apps/issues/179#issuecomment-808724245) GitHub discussion thread/(response to your comment) - "Can you post your

[2021-03-31 20:13] cmanasseh commented on #73035
That is correct, but the documentation says:

  *   "Host: URI for your Azure Cosmos DB account. You can retrieve this from the Azure Cosmos DB Keys page in the Azure portal, as shown in the following screenshot."

That is not where the Host information is provided - the user will use port 10255 which is wrong and it has to be obtained from the Cosmos DB overview page where the port is 443. Plus t

[2021-03-31 20:31] xtianus79 opened #73090 "The docs for this tutorial don't work to get the application running for CSharp"
The docs for this don't get the application running

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec1d0558-8037-5162-cea2-03bc56e24bc8
* Version Independent ID: 23e26af9-b9ac-ef9a-601d-27eb4c323233
* Content: [Tutorial - Connect a generic client app to Azure IoT Central](https://docs.microsoft.com/en-us/azure/iot-cent

[2021-03-31 20:39] HSM83 opened #73091 "Please define "Microsoft 365 and Azure Active Directory (Azure AD) administrators""
The opening paragraph states that basic MFA features are available for administrators. What counts as an administrator? Is this only Global Admins, or other specific roles, or anyone that performs admin functions?

If a company uses Azure AD Premium P1/P2 features for their staff, but has an IT partner that does all Office 365 support (from Service Desk to GA), do the partner's accounts require P1

[2021-03-31 20:44] jaseidman commented on #73013
Thanks for the update Dale. I've retested your suggested changes, with the exceptions of the braces around  the "secrets/<secret-scope-name>/<application-id>" value. So my configuration looks like:

fs.azure.account.oauth2.client.id.acmeadls.dfs.core.windows.net secrets/<secret-scope-name>/<application-id>
fs.azure.account.oauth2.client.secret.acmeadls.dfs.core.windows.net {{secrets/<secret-scope-

[2021-03-31 20:45] xp0522 commented on #72447
Hi Jason,

Thanks for sending me the links. I checked those articles. What confused me
was for example in LOCATION 'abfs://
CONTAINERNAME@STORAGEACCOUNT.dfs.core.windows.net/example/data/' I thought
I also needed to include the file name in the directory. And later I
figured out it is pointing to the data folder and the file stored in data
folder is what it reads in. Sorry I think it is just me -

[2021-03-31 20:48] TravisCragg-MSFT commented on #73071
@jwilliams45-aug Are you following this example from the beginning and creating a new VMSS or trying to do this on an existing VMSS?

The error you received indicates that it is unable to download the file specified. Make sure that your VMSS has outbound connectivity to the internet on port 443.

[2021-03-31 20:53] jlichwa commented on #69678
@richardspitz we updated documentation to include Managed HSM information (it is still in preview, usually we do it after GA) #please-close

[2021-03-31 20:54] jwilliams45-aug commented on #73071
I and my students have all been following it from the beginning. The tutorial discusses connectivity for the VMs in the ScaleSet but connectivity to download data from GitHub is not included at the point in the tutorial that the tutorial tries to access the script hosted on GitHub. This seems to me to be a logical error in the tutorial.

Jason A. Williams PhD, PMP
Assistant Professor
School of Com

[2021-03-31 20:56] TravisCragg-MSFT commented on #73071
@jwilliams45-aug Thanks! I am going to repro the tutorial now.

[2021-03-31 20:56] jlichwa commented on #70390
Hello @markmcgookin for detail information and usage of Secret CSI Driver please refer to their documentation. This is just basic tutorial to get started. Secret CSI driver official documentation https://secrets-store-csi-driver.sigs.k8s.io/introduction.html

[2021-03-31 20:57] jlichwa commented on #70390
#please-close

[2021-03-31 20:57] #70390 closed

[2021-03-31 21:02] cweining commented on #72812
Hi @peter-bertok ,

Step 2 on this page has a link to an ARM template that you can use:
https://docs.microsoft.com/azure/azure-monitor/app/profiler-vm?toc=/azure/azure-monitor/toc.json

[2021-03-31 21:12] TravisCragg-MSFT commented on #73077
@zimmerab Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-03-31 21:20] SaiKishor-MSFT commented on #72212
I do not have an update yet. I apologize for the delay but I will keep you posted as soon as I hear from our team. Thank you!

[2021-03-31 21:25] wfschneider opened #73095 "Exactly where do I Request Support?"
I have created issues across multiple Microsoft support sites and none of them have these selections in this or any other order. Most recently I have tried using the Azure portal to open a support request.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1cc54a8-0176-4a2b-7d8f-ec7bb9bcdb7e
* Version Independent ID: 5577

[2021-03-31 21:32] TravisCragg-MSFT commented on #73086
@bergeron Thanks for the feedback! All the CLI links in this doc had similar issues with the anchor links, and I have updated them all. the docs should reflect the change within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-31 21:32] #73086 closed

[2021-03-31 21:33] JasonWHowell commented on #72447
@Xinrui it is a Hive + HDFS concept to read multiple files from a folder. Yeah, there is a lot of learning for these open-source components! Good luck on your journey and thanks for using Azure. ~J

[2021-03-31 21:36] Shto1337 opened #73096 "Information on downtime/network loss/write locks during the transfer"
Hello,

We are preparing to do the migration to a new directory.

This page doesn't make it clear if there is any service degradation/downtime/interruptions/network loss/write locks during the transfer for all other resources(VMs/Disks/Public IPs/etc) that do not require recreation in the target directory.

Could you please include these details in the documentation?

Thank you

---
#### Document

[2021-03-31 21:46] lgayhardt commented on #62303
@InstantHotCocoa Sorry for the delay and thanks for catching that. I made a PR to update the doc and it should go live later today.

#please-close

[2021-03-31 21:46] #62303 closed

[2021-03-31 21:48] cweining commented on #72812
@peter-bertok
I'm sorry you had trouble. We'll use your feedback to improve our documentation. I'll do my best to answer your questions here:
There's a requirement to install an unrelated monitoring agent. Why?
**The profiler runs out of proc, so we needed a vehicle for installing it on virtual machines. When we were doing this work a few years ago, the Windows Azure Diagnostic Agent was the diagn

[2021-03-31 21:49] JamesTran-MSFT commented on #73096
@Shto1337
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-31 21:56] MarileeTurscak-MSFT commented on #73091
@HSM83
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-31 21:58] MarileeTurscak-MSFT commented on #73063
@iliaselmatani
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-31 22:05] lgayhardt commented on #54691
Hi @gardnerjr, this was updated last July, sorry we forgot link the PR and close the GitHub Issue. For other documentation updates feel free to email or ping me on Teams and I can make a work item for it. =)

#please-close

[2021-03-31 22:05] #54691 closed

[2021-03-31 22:13] lgayhardt commented on #57939
@AdelaManea Sorry for the delay and thank you for helping us to improve the docs. = D

I made an [internal work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1831499) to review and update this doc, and added it to our backlog.

#please-close

[2021-03-31 22:13] #57939 closed

[2021-03-31 22:14] SaurabhSharma-MSFT commented on #72951
@nigelmeakins Thanks for your feedback.  I see you are correct and the document needs a correction.  I have assigned this issue to content author to update the document as appropriate as I do not have access to update the documentation.

@mssaperla can you please help on this.

[2021-03-31 22:53] xtianus79 opened #73100 "this is old and needs updated"
It's not the way you create an IoT hub

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb646d68-4e54-3238-351c-3cac262ed8ac
* Version Independent ID: cd1d9062-254b-4851-7c6b-afa1c639957d
* Content: [Quickstart - Create an Azure IoT Central application](https://docs.microsoft.com/en-us/azure/iot-central/core/quick-deploy

[2021-03-31 23:04] thoo1 opened #73101 "common and organizations endpoints documentation may be flipped?"
The documentation currently says

Value | Description
-- | --
common | Allows users with both personal Microsoft accounts and work/school accounts from Azure AD to sign into the application.
organizations | Allows only users with work/school accounts from Azure AD to sign into the application.

However our application is using "organizations" which is working for both personal Microsoft accounts a

[2021-03-31 23:23] Oury-MSFT commented on #73082
@machanth Thank you for your feedback. We raised a pull request to fix this issue, once the PR is approved ,the changes will be live in 24 to 48 hours.

[2021-03-31 23:28] Oury-MSFT commented on #73035
@cmanasseh  The above document is only valid for SQL API version as mentioned in the [note](https://docs.microsoft.com/en-us/azure/cosmos-db/odbc-driver?source=docs). You should not be using it for different APIs. Mongo DB is not compatible with this document.

[2021-03-31 23:44] dalemdb commented on #73013
I have confirmed with my customer they are up and running.

dale

*Dale Michalk*

*Sr. Solutions Architect*

*954-258-1465*

***@***.*** ***@***.***> *

On Wed, Mar 31, 2021 at 4:44 PM Jonathan Seidman ***@***.***>
wrote:

[2021-03-31 23:45] hpsin commented on #73101
The values are correct.  It's possible that if you're abusing Microsoft first party app client IDs that you will see different behavior that's internal for our legacy apps.

Additionally, single tenant apps can sign in MSA users _as guests_ in their tenant. That may be what's occurring here.  Have you enabled the MSA sign in audience for your application? If so, signing in users on /common should

[2021-03-31 23:45] mmacy commented on #72782
Hi @shaima-MS, thanks for the suggestion. I'm curious how you landed on this article rather than the more appropriate [Tutorial: Register a web application in Azure AD B2C](https://docs.microsoft.com/azure/active-directory-b2c/tutorial-register-applications) for registering your B2C app. Do you remember how you ended up here instead of the B2C-specific doc?

Now, landing on this doc instead of the

[2021-03-31 23:49] bwren commented on #61169
Thanks for this. Confirmed with the engineering team that this is correct. Fixing the article now.

#please-close

[2021-03-31 23:49] #61169 closed

[2021-03-31 23:53] bwren commented on #71081
Thanks for this. Had another issue opened on it too. Confirmed with the engineering team that this is incorrect. I just pushed out a fix.

#please-close

[2021-03-31 23:53] #71081 closed

[2021-04-01 00:07] craigg-msft commented on #67993
@ssabat fyi to close an issue vs PR the comment string is #please-close

[2021-04-01 00:09] dcstwh commented on #71635
#please-close

[2021-04-01 00:09] #71635 closed

[2021-04-01 00:13] RickAndMSFT opened #73103 "From the main Azure menu, choose - update pic"
image is out of date and will be out of date a week after you update it. Just have them search for Logic Apps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f744264-82e5-84ec-b260-0445b077c9c1
* Version Independent ID: 01354e77-3a2a-d6d7-6d86-38bc00507260
* Content: [Create logic app workflows faster by using prebuil

[2021-04-01 00:19] setuc opened #73105 "The link for Bayou conflict resolution is broken"
In the description for the conflict resolution, the link for the Bayou is broken and leads to a 403

https://docs.microsoft.com/en-us/azure/cosmos-db/global-dist-under-the-hood#conflict-resolution

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccf129c8-f33f-3747-45f5-e3e0eae16b75
* Version Independent ID: bb3bd0c9-fd71

[2021-04-01 00:23] kromerm commented on #65523
#please-close

[2021-04-01 00:23] #65523 closed

[2021-04-01 00:28] kromerm commented on #66361
For dynamic column handling in Pivot/Unpivot, use a Derived Column before the Pivot or Unpivot and set the dynamic names there.

[2021-04-01 00:28] kromerm commented on #66361
#please-close

[2021-04-01 00:28] #66361 closed

[2021-04-01 00:30] Karishma-Tiwari-MSFT commented on #73089
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-01 00:30] mmacy commented on #71140
@Ubus99 I'm moving this issue over to our internal Azure DevOps instance for triage/scheduling in upcoming sprint planning. Thanks again for bring this up! #please-close

*Microsoft-internal tracking information*:

ID | Title
-- | --
[1349205](https://identitydivision.visualstudio.com/Technical%20Content/_workitems/edit/1349205) | [ISSUE][71140] Incomplete documentation about single tenant apps

[2021-04-01 00:30] #71140 closed

[2021-04-01 00:31] geoffbrucepayne commented on #72755
Thank you, much clearer to me now!

From: ChaitanyaNaykodi-MSFT ***@***.***>
Sent: March 31, 2021 2:44 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Geoff Bruce-Payne ***@***.***>; Mention ***@***.***>
Subject: [EXT] Re: [MicrosoftDocs/azure-docs] Clarifications (#72755)

Hello @geoffbrucepayne<https://github.com/geoffbrucepayne>, apologies for the delay. The the SharedCode folder name is arbit

[2021-04-01 00:37] mingshen-ms commented on #72751
@adnan333bd, your thinking is correct.  Our guidance for the landing page is that it should support SSO, for which we recommend that the AAD app ID to support this be different from the one you use for integrating with Microsoft commerce service API, such as SaaS fulfillment APIs and Metering service APIs.  For further readings, please refer to [Use two Azure AD apps to improve security in product

[2021-04-01 00:42] Karishma-Tiwari-MSFT commented on #73095
Sorry for the inconvenience caused due to the instructions in the document. Please select the following on Azure Portal for Azure Image builder:

![image](https://user-images.githubusercontent.com/20851144/113227694-215d5f00-9248-11eb-817b-9dde1f6e46b0.png)

I will work on getting this document updated with these correct details.

Thanks for bringing this to our attention. We will now close this i

[2021-04-01 00:42] #73095 closed

[2021-04-01 00:42] NavtejSaini-MSFT commented on #73105
@setuc We are checking this and will get back to you.

[2021-04-01 00:43] setuc commented on #73105
Thank you for a super fast response @NavtejSaini-MSFT

[2021-04-01 00:43] mingshen-ms commented on #72751
#please-close

[2021-04-01 00:43] #72751 closed

[2021-04-01 00:43] mmacy commented on #70348
@semeif Thanks for your patience on this, I'll see what I can find out from @brandwe and @oldalton. Stay tuned.

[2021-04-01 00:51] jaseidman commented on #73013
Thanks again Dale. We'll be making the documentation change and deploying it shortly.

[2021-04-01 00:53] ChaitanyaNaykodi-MSFT commented on #73103
Hello @RickAndMSFT,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-04-01 00:55] mingshen-ms commented on #71580
As discussed offline, this is more complicated than initially thought, so tracking internally to bottom on this issue.

#please-close

[2021-04-01 00:55] #71580 closed

[2021-04-01 00:59] kromerm commented on #66769
#please-close

[2021-04-01 00:59] #66769 closed

[2021-04-01 01:01] kromerm commented on #69973
Adding dynamic content to the Sink properties is on the roadmap. Will add to doc.

[2021-04-01 01:02] kromerm commented on #69973
#please-close

[2021-04-01 01:02] #69973 closed

[2021-04-01 01:02] dcstwh commented on #72718
Thank you for the feedback. We will look into this and update the relevant docs (as needed).
For now, definitely use the UX for using the data path assignments.

[2021-04-01 01:02] yutaro113 opened #73106 "WebJobs Log Retention policy wanted to be mentioned."
Hi Team,
In this page, webjobs log retention policy is not mentioned.
Could you please mention it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24523dbf-010f-b844-5ff0-88192eac8849
* Version Independent ID: d7ef5962-d94c-96d0-bf08-1efffc6d402b
* Content: [Run background tasks with WebJobs - Azure App Service](https:/

[2021-04-01 01:03] kromerm commented on #71677
All functions are available in both. Sometimes the doc updates lag the UI updates. Additionally, the UI updates for Synapse and ADF are on different cadences.

[2021-04-01 01:03] kromerm commented on #71677
#please-close

[2021-04-01 01:03] #71677 closed

[2021-04-01 01:09] cmanasseh commented on #73035
Point taken- thanks.

From: Oury-MSFT ***@***.***>
Sent: Wednesday, March 31, 2021 7:28 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Christian Manasseh ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Error connecting via ODBC (#73035)

--CAUTION: This email originated from outside Mobius Logic. Do not click links or open attachments unless you recognize the sender an

[2021-04-01 01:13] mmacy commented on #71079
@CelesteDG @longMOR @jmprieur Added to internal Azure DevOps for triage/scheduling:

*Microsoft-internal tracking information:*

ID | Title | Iteration Path
-- | -- | --
[1349220](https://identitydivision.visualstudio.com/Technical%20Content/_workitems/edit/1349220) | [ISSUE][71079] Why you dont write same document like this article for springboot? | Technical Content\Backlog

[2021-04-01 01:13] Karishma-Tiwari-MSFT commented on #72848
Th boot diagnostics stores a screenshot and serial log information. The serial log contains kernel messaging and the screenshot is a snapshot of your VMs current state. There is no other data stored there.
Please refer to this thread for more details: https://github.com/MicrosoftDocs/azure-docs/issues/66163

It will be deleted once the VM is deleted.

We will now close this issue. If there are fur

[2021-04-01 01:13] #72848 closed

[2021-04-01 01:23] rolyon commented on #72424
Hi @github832040
Thanks for your feedback! We published an update to this doc to include administrative units.
thanks

[2021-04-01 01:24] rolyon commented on #72424
#please-close

[2021-04-01 01:25] kevinlam1 commented on #73103
I am no longer on the Logic Apps team. Please assign to @jonfancey

[2021-04-01 01:27] Karishma-Tiwari-MSFT commented on #72849
My understanding is, logs would be overwritten when total size in the managed storage account crosses 1 GB.
I will confirm with the Product team and let you know. Thanks.

[2021-04-01 01:34] dcstwh commented on #72714
Thank you for the question.

Did you check whether you are looking at the pipelines deployed to ADF Service or are you looking at the view of the trigger when it is in the Git repository?

Powershell will always return the state of the triggers that are published to ADF Live.
Do double-check.

[2021-04-01 01:44] dcstwh commented on #72718
You will see it under typeProperties
See example below

  "typeProperties": {
                    "experimentName": "Exp1",
                    "mlPipelineId": "40e3f02a-e26f-42af-92c3-9938e3e55499",
                    "dataPathAssignments": {
                        "datapath": {
                            "key1": "value1"
                        }
                    }
                },

[2021-04-01 01:53] dcstwh commented on #71918
Thank you for the feedback. That is accurate. the -deleteDeployment flag is used to delete the ADF deployment entry fromt he deployment history in ARM

[2021-04-01 01:57] thiruma0203 opened #73108 "Verification needed on Maximum IOPS information for Azure NetApp Files"
[Enter feedback here]
The documentation describes that Azure NetAppFiles can offer "Up to 320k (16K) IOPS with 4.5 GBps per volume at about 1 ms latency"

However, applying "16k" unit size of IO and 4.5GBps of throughput to below formula does not yield 320k IOPS. Using rounded numbers I get ~281k IOPS.

IOPS = (MBps Throughput / KB per IO) * 1024

https://docs.microsoft.com/en-us/azure/azure-netap

[2021-04-01 02:06] Karishma-Tiwari-MSFT commented on #72860
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

[2021-04-01 02:06] #72860 closed

[2021-04-01 02:29] nickQuant commented on #72750
Hi James,

The issue we are facing is with signed **assertions** in the SAML token (generated on each request to AAD B2C).  The SamlAssertionSigning attribute mentioned at https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory-b2c/saml-service-provider.md#enable-your-policy-to-connect-with-a-saml-application is simply not working.

It's been broken for at least a year an

[2021-04-01 03:40] AshokPeddakotla-MSFT commented on #73090
@xtianus79 Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-01 03:40] AshokPeddakotla-MSFT commented on #73100
@xtianus79 Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-01 03:51] chris-bowman opened #73112 "Msv2 and Mdsv2-series not listed"
The document https://docs.microsoft.com/en-us/azure/virtual-machines/msv2-mdsv2-series lists the new msv2/mdsv2 SKUs support Write Accelerator, however the SKUs are not listed on this page under Disk / IOPS limits supported by WA. This doc needs updating to list the limits / supportability.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2021-04-01 04:02] SnehaAgrawal-MSFT commented on #73065
@pierrejeandev Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-01 04:04] SnehaAgrawal-MSFT commented on #73079
@AllanMatias Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-01 04:07] SnehaAgrawal-MSFT commented on #73081
@mstaessen Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-01 04:10] SkywalkerHogie opened #73113 "icacls commands do not work on the page"
icacls <mounted-drive-letter>: /grant <user-email>:(M)
icacls <mounted-drive-letter>: /grant "Creator Owner":(OI)(CI)(IO)(M)
icacls <mounted-drive-letter>: /remove "Authenticated Users"
icacls <mounted-drive-letter>: /remove "Builtin\Users"

M : The term 'M' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was inclu

[2021-04-01 04:10] lgayhardt commented on #72812
Closing this issue for now, @peter-bertok let us know if you have any additional questions. Thank you!

#please-close

[2021-04-01 04:10] #72812 closed

[2021-04-01 04:10] sakash279 commented on #73010
Thanks for bringing this up. This doc was not updated since Azure storage supported automatic failover. I have created a PR to address this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/152947

[2021-04-01 04:11] rukasakurai opened #73114 "Broken links"
Links are broken (404) on
https://docs.microsoft.com/azure/azure-sql/database/high-availability-sla#testing-application-fault-resiliency
Specifically the three links under the "REST API" column.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15036ef6-9c0b-044e-d600-b9f90f039720
* Version Independent ID: 6fe5cd14-a1ad-e

[2021-04-01 04:17] VikasPullagura-MSFT commented on #73112
@chris-bowman
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-04-01 04:18] VikasPullagura-MSFT commented on #73112
@raiye
Can you please check and add your comments on this doc update request as applicable.

[2021-04-01 04:19] rukasakurai opened #73115 "Improve link to documentation about initiating manual failover for SQL"
Current link to "initiating manual failover" on https://docs.microsoft.com/azure/azure-sql/database/planned-maintenance
links to a blog talking specifically about SQL Managed Instance.

Suggestion to replace this or add a link that also covers SQL DB and Elastic Pool.

Current link: https://aka.ms/mifailover-techblog
Suggested addition/replacement: https://docs.microsoft.com/azure/azure-sql/databa

[2021-04-01 04:21] ecfan commented on #73103
@RickAndMSFT, thanks for flagging this outdated image. There are quite a few places where we have outdated screenshots, which we haven't had bandwidth to update yet. We'll get this on our backlog.

[2021-04-01 04:22] AnuragSharma-MSFT commented on #73114
@rukasakurai Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-04-01 04:23] AnuragSharma-MSFT commented on #73115
@rukasakurai Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-04-01 04:33] SumanthMarigowda commented on #72709
@Ayanmullick We don’t yet have an official and vetted tool for Gen1 to Gen2 VM migration. The image and VM sizes have to support Gen2 for the conversion to work. While there may be corner cases that might not work, but for testing purposes it’s worthwhile to give it a try.
I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to

[2021-04-01 04:33] #72709 closed

[2021-04-01 04:46] AjayKumar-MSFT commented on #73106
@yutaro113, Thanks for the feedback!

WEBJOBS_HISTORY_SIZE - Maximum number of runs kept in the history directory for a triggered job. The default is 50.

WEBJOBS_LOG_TRIGGERED_JOBS_TO_APP_LOGS - If set to true, output from triggered WebJobs get sent to the Application Logs pipeline (which supports file system, blobs and tables)

See this doc [WebJobs#configuration-settings ](https://github.com/pr

[2021-04-01 04:47] AshokPeddakotla-MSFT commented on #73087
@pesetskyps Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-01 05:13] lgayhardt commented on #61937
@aelking  Sorry for the delay and thank you for the feedback. Engineering does have plans to work on this. I made an [internal work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1831590) to update the docs when engineering is done. We'll close out this issue for now, but I will @mention you when the update is complete.

#please-close

[2021-04-01 05:13] #61937 closed

[2021-04-01 05:29] KeshavacGitHUB opened #73116 "ADFS Sign-in reports in Azure AD"
ADFS Sign-in reports in Azure AD now shows new sign-in information related to ADFS sign-ins (NotSet or NotApplicable in the Application ID/Name) but no information on when the feature was released to customers. When checked with Microsoft they confirmed it was from March 11th 2021. Please update the document how customers can make use of the sign-ins related to WS-FED and WS-Trust

---
#### Docume

[2021-04-01 05:31] chetansk commented on #56356
The issue seems to be with the order of elements.  Thanks @jarekkoziol , you saved my day.

What worked for me was add JourneyInsights is the first element in UserJourneyBehaviors

[2021-04-01 05:32] kachihro opened #73117 "Can't Leave The Organisation - Sign-In Blocked"
When I try to "leave organisation" - I have an error that the account 'sign-in is blocked'.    Was by the previous admin, who blocked login.

So - I can't login - and thus can't LEAVE...

Is there a way to just 'delete from *MY* list of directories ??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b448cfd0-b673-7d04-04

[2021-04-01 05:43] AnuragSharma-MSFT commented on #73066
@chull434 Rightly pointed out that these links are broken. I re-verified the links and could not find them working.

I am assigning this to the content author for further review.

[2021-04-01 05:47] lgayhardt commented on #55066
Thank you for helping us to improve the docs. We are tracking this [work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1831609) internally and it is currently on our backlog. We'll close out this issue for now, but I will @mention you when the update is complete.

#please-close

[2021-04-01 05:47] #55066 closed

[2021-04-01 05:49] RohitMungi-MSFT commented on #73060
@dotnetexpo Could you please try to use `https://api.cognitive.microsofttranslator.com/` as mentioned in the document?

[2021-04-01 06:23] lgayhardt commented on #56873
Sorry for the delay and thank you for the feedback, I created an internal [work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1831616 to review the query and it is currently on our backlog. We'll close out this issue for now, but I will @mention you when the update is complete.

#please-close

[2021-04-01 06:23] #56873 closed

[2021-04-01 06:29] lgayhardt commented on #60319
I created an [internal work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1831619):  to update the TOC and added it to the April sprint. Feel free to email or ping me on teams with other doc update request.

Thank you
#please-close

[2021-04-01 06:29] #60319 closed

[2021-04-01 06:33] hantou opened #73119 "Wrong command on the azure file share "connnect"tab"
We tried to mount the file share on MacOS(10.15.6) using this command, but it failed.

![image](https://user-images.githubusercontent.com/81673533/113252909-6f816980-92ff-11eb-8c17-a8dca7231869.png)

But, after changing the following two points to the above command, the mount was successful.

1.Change "/" to "% 2f"
2.Add file share name to the end of the connection string as below.
-------
[Before

[2021-04-01 06:36] #72876 closed

[2021-04-01 06:50] SnehaAgrawal-MSFT commented on #72998
@IgnacioAlvarezArenas Thanks again for the feedback! As this article is for Health check in the Azure portal to monitor App Service instances. Your ask is documented in this article, [How does my app run and scale?](https://docs.microsoft.com/en-us/azure/app-service/overview-hosting-plans#how-does-my-app-run-and-scale)

" When you create an app in App Service, it is put into an App Service plan. W

[2021-04-01 06:54] lgayhardt commented on #64570
@jmoralesv Sorry for the delay and thank you for the thoughtful suggestion. I made a PR repurposing your comment as a note to the Authenticated users section, it should go live tomorrow.

Thanks you again =)
#please-close

[2021-04-01 06:54] #64570 closed

[2021-04-01 06:55] IgnacioAlvarezArenas commented on #72998
Hi Sneha, it is not exactly what I was looking for, apologies as I am rereading my comment and it is unclear. Yeah all the App Services and slots run on the same VM instances on the App Service Plan. But my questions are a bit more specific.

Let's say Health Check fails for one of the apps, but it is still working for the others on the same App Servuce Plan. Will still generate a new instance, th

[2021-04-01 07:00] lgayhardt commented on #44476
@felipepessoto Sorry for the delay. I made an [internal work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1831626) to make this more clear in the documentation. I'll close out this issue for now but will @mention you when the update is complete.

Thank You!

#please-close

[2021-04-01 07:08] dcstwh commented on #71918
We will update the docs to include a note for the -deleteDeployment flag by this week.
Thank you.

[2021-04-01 07:08] dcstwh commented on #71918
#please-close

[2021-04-01 07:08] #71918 closed

[2021-04-01 07:17] shaima-MS commented on #72782
Hello team,

Thank you so much for your reply.

I totally agree with your suggestion and it makes more since to put a pointer to our B2C specific app registration article rather than mention this information in the Microsoft Azure identity platform article. I have already requested first to only update the B2C specific one Tutorial: Register an application - Azure AD B2C | Microsoft Docs<https://d

[2021-04-01 07:28] lightupdifire opened #73122 "Users state"
Hello,

Would be good to add a section like "Requirements", as an example missing information if this scenario support for:
AD Connect Password Hash Sync + SSO;
AD Connect Pass-through Auth + SSO;
AD FS;
Cloud only;

For synced users, I suspect that because it uses Azure AD and if password write-back is enabled, then the temp password is synced back on-prem AD?

And how to disable users' passwords

[2021-04-01 07:29] vipulsparsh commented on #73116
@KeshavacGitHUB Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-04-01 07:29] devikamv opened #73123 "SQL Server BYOL with Azure AHB on RHEL"
Can SQL server be installed as BYOL (manually with product keys) on an RHEL VM if Azure Hybrid Benefit is enabled (after enabling Cloud Access). I wanted to check from the compliance point of view since there is a statement: "Azure Dedicated Host instances, and SQL hybrid benefits are not eligible for Azure Hybrid Benefit if you're already using the benefit with Linux VMs.”

---
#### Document Deta

[2021-04-01 07:31] vipulsparsh commented on #73117
@kachihro Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-04-01 07:33] SnehaAgrawal-MSFT commented on #73065
@pierrejeandev Thanks again for the feedback! As this article is for Health check in the Azure portal to monitor App Service instances. You may want to refer to this document : [Default health probe](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-probe-overview#default-health-probe)

Let us know if you have further query on this.

[2021-04-01 07:39] vipulsparsh commented on #72804
@rofisher Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-04-01 07:42] vipulsparsh commented on #72401
@dpomBF No ETA has been provided to it yet, any known changes will be updated in document

[2021-04-01 07:42] #72401 closed

[2021-04-01 07:42] #72796 closed

[2021-04-01 07:44] vipulsparsh commented on #72832
@Raj-MCITP Closing this for now, please re-open and tag me with a screenshot if you want to continue working on this.

[2021-04-01 07:44] #72832 closed

[2021-04-01 07:53] Li-Yanzhi commented on #72420
Hi hamiltonha,  my device is a new device and did not install any Azure/AAD related app like Company Portal. All I done is just install Authentication App in new devices from Google Play Store and start to register my device in Authentication App, then I cannot find the option of registering as a shared device. In such circumstances,  any configuration on Azure cannot impact my device.

[2021-04-01 07:55] TravisCragg-MSFT commented on #73071
@jwilliams45-aug This was a fun one! I received the same error, and was able to tie to the allowed TLS versions in PowerShell not including TLS 1.2, which is required by GitHub. Unfortunately the typical way to add TLS versions is using a PowerShell command, which is difficult when you cant download the script you want to run.

This can be resolved by using the most recent -TypeHandlerVersion (whi

[2021-04-01 08:02] plettb opened #73124 "URL problems?"
I was able to make the first part of this work by using a URL I found in the "User Flow".  It is significantly different from the one in the article, which I couldn't get to work.  It is as follows:
`https://<tenant-name>.b2clogin.com/<tenant-name>.onmicrosoft.com/oauth2/v2.0/authorize?p=<policy-name>
&client_id=<application-ID>
&nonce=defaultNonce
&redirect_uri=https%3A%2F%2Fjwt.ms
&scope=openid

[2021-04-01 08:06] johol545 opened #73125 "Unable to connect to mailbox in Send email from a shared mailbox (V2) using Safari"
It is not possible to connect to a shared inbox using Safari (Version 14.0.3 (16610.4.3.1.7)) when editing a logic app.

Steps to reproduce:

1. Create a logic app and add a _Send an email from a shared mailbox (V2)_ action
2. Click the "Change connection" at the bottom of the action
![Screenshot 2021-04-01 at 10 05 48](https://user-images.githubusercontent.com/933461/113263285-dc7e0a80-92d1-11eb-

[2021-04-01 08:15] manekinekko commented on #73081
That's a great feedback. Thank you @mstaessen

@craigshoemaker are we planning to add this?

[2021-04-01 08:16] #73124 closed

[2021-04-01 08:16] plettb commented on #73124
I totally messed this up.  Please ignore it.  (I couldn't find a way to delete it.)

[2021-04-01 08:18] HarshitaSingh-MSFT commented on #72399
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-01 08:18] #72399 closed

[2021-04-01 08:25] otaskiran opened #73127 "West Europe availability"
[Enter feedback here]

The preview service also available in West Europe region.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0f1a335-26ae-c901-2c62-db165fb1d31f
* Version Independent ID: 1efa80f7-351e-05a7-c4ef-e8a1ad7baaa1
* Content: [Use Azure Storage inventory to manage blob data (preview)](https://docs.microsof

[2021-04-01 08:29] AjayKumar-MSFT commented on #73124
No worries, plettb. Thanks for taking time to post the question on Azure docs feedback channel.

[2021-04-01 08:35] amanmcse commented on #72813
@Norrch2 The time to update claims with MS Graph cannot be defined as the Azure AD directory model is a distributed asynchronously replicating system. Applications targeted to secondary replica are routed to the primary replica for write operations and the writes are pulled by the secondary replica.

Read More: [Data consistency](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals

[2021-04-01 08:35] #72813 closed

[2021-04-01 08:47] jyotiprakash90 opened #73128 "Enabling Accelerated Networking via Azure Portal"
[As option to enable Accelerated Networking is available via Azure Portal, can we add this to the MSDocs, also would it need reboot? As I tried to enable it from portal and it did not reboot the servers. Is it correct when doing it via Portal?]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4be8e45-460a-fab4-519b-32d8

[2021-04-01 08:48] VikasPullagura-MSFT commented on #73108
@thiruma0203
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-04-01 08:49] VikasPullagura-MSFT commented on #73108
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2021-04-01 08:51] emaborsa commented on #72218
I have again been able to fix it doing "something"....

[2021-04-01 08:51] #72218 closed

[2021-04-01 09:00] MayankBargali-MSFT commented on #73125
@johol545 Can you provide the session ID (ctrl + alt + d) reproducing the issue in Safari along with the working scenario session ID on any of the browsers that you have tested on Vivaldi and Chrome in MAC.

[2021-04-01 09:18] jmprieur commented on #71079
@mmacy also notifying @navyasric

[2021-04-01 09:27] johol545 commented on #73125
*In Safari (gives an error message):*

Workflow id: /subscriptions/656d1367-d082-40ce-b2c9-b254398eef85/resourceGroups/storemanager-dev-rg/providers/Microsoft.Logic/workflows/storemanager-email-dev
Azure portal session id: a5aabc8841a54fdc88ffbc756b968a4b
Logic App designer session id: 2770944e-6075-4fab-aae7-694e1af030d2
Logic App designer instance id: ef6c578c-8f93-4a2b-b9e6-1db20f8f8eab
Timesta

[2021-04-01 09:39] saadatahmed opened #73129 "Figure 2 and 3"
[Enter feedback here]

code from figure 2 does not match the pasted code in figure 3. While its understood, for consistency sake should be same.

rum.js should also be linked as text to enable fast review of the JS code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b62bfe91-9863-3740-850f-103d9fe6b1eb
* Version Indep

[2021-04-01 09:40] kozhemyak commented on #73018
@BharathNimmala-MSFT thanks, could you also answer i am able to change this script and publish pull request by myown? Or the scripts from the articles are in the separate internal repo?

[2021-04-01 09:50] pemsft opened #73131 "Additional steps required to enable each of Azure Defender for servers features?"
Thank for excellent documentation here. This matrix helps a lot in understanding which Azure Defender features are supported for servers:
https://docs.microsoft.com/en-us/azure/security-center/security-center-services?tabs=features-windows#supported-features-for-virtual-machines-and-servers-

Would you be able to add additional column relating to enablement that would save customers a lot of time?

[2021-04-01 10:33] danimir commented on #73115
I would not suggest replacing the link. Additional link can be added. This is because we walk both about SQL MI and DB.

[2021-04-01 10:53] #72903 closed

[2021-04-01 10:54] chrisbloe commented on #70270
Reopening as March has passed without a documentation change.

Please could we have an enhancement update?

Cheers :)

[2021-04-01 10:56] lucianrica opened #73135 "Document is sending me to another page straight from the start, you go to that page which is sending you to another page and so on until you get lost"
Trying to read through the documentation is getting difficult. Sending the user to another page to "get a high level overview" which sends you to another page to get another "high level overview"..., often I come to get more information about a particular topic and I get redirected so much that I forget what I was looking in the first place.

---
#### Document Details

⚠ *Do not edit this section.

[2021-04-01 11:31] Loreno10 opened #73136 "Enabling FQDN for VMs - article mentions nonexisting configuration"
Here' what I see in the Configuration panel of my VM:

![image](https://user-images.githubusercontent.com/10273406/113287810-5e7c2c80-92ee-11eb-9c7a-42b37995ae4d.png)

The article mentions "DNS Name Label" setting, which is not there.

The VM is an Ubuntu Server 19.10.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 484

[2021-04-01 11:58] SwathiDhanwada-MSFT commented on #73049
@mykolaichuk As requested earlier, can you please elaborate where you are facing issue ?

[2021-04-01 12:20] Ponant opened #73137 "A simpler model seems to do the job"
Skip the API permission part. It works with only a secret and User Administrator role. Tested with the console app
here https://github.com/Azure-Samples/ms-identity-dotnetcore-b2c-account-management/tree/master/
I could do all the calls 1-6 in the console app. I did not try out with custom attributes (7 and 8).

In practice I did the following:
-Register management application
-Create client secre

[2021-04-01 12:28] chrisdoofer opened #73139 "Log Analytics Gateway Guidance"
Hi Azure Migrate Team!

Working through the documentation with a customer and they noted the following guidance with respect to internet connectivity for agent-based dependency analysis:

Internet connectivity | If servers aren't connected to the internet, you need to install the Log Analytics gateway on them.
-- | --

This statement implies that you need to install the Log Analytics gateway on ea

[2021-04-01 13:09] mioteg opened #73140 "Shared documentation between Pro GPU/Pro R/Mini R refer to Pro GPU"
This page and most of the other pages with Shared documentation for Pro GPU/Pro R/Mini R have "Pro with GPU" in the title and/or "Azure Stack Edge Pro" in the body of the document in various places. As these pages apply to all Azure Stack Edge devices, this should consistently be changed to "Azure Stack Edge". The current state is incorrect and confusing.

For example, this page is currently title

[2021-04-01 13:13] GitaraniSharma-MSFT commented on #73129
@saadatahmed , thank you for your feedback. We have assigned this to the content owner/author for review.
@duongau , could you please review the suggestion and provide your inputs?

[2021-04-01 13:24] dotnetexpo commented on #73060
@RohitMungi-MSFT Thanks for helping out, It works. Enjoy your day!

[2021-04-01 13:25] RyanHill-MSFT commented on #73065
Hi @pierrejeandev, under [Enable Health Check](https://docs.microsoft.com/en-us/azure/app-service/monitor-instances-health-check#enable-health-check), it is stated

That path must return a HTTP code between 200-299 for Health Check to determine the service is healthy. The use of the relative path implies that Health Check runs from the same instance as your application.

[2021-04-01 13:27] RyanHill-MSFT commented on #73065
Hi @pierrejeandev, under Enable Health Check, it is stated

That path must return a HTTP code between 200-299 for Health Check to determine the service is healthy. The use of the relative path implies that Health Check runs from the same instance as your application.

[2021-04-01 13:27] dirkslab commented on #63642
@duongau

Hi. Any update?

[2021-04-01 13:31] lohithgn opened #73142 "Video Version of the Tutorial: Publish Azure Static Web Apps with Azure DevOps"
I have created a video version of this tutorial. You can have a look here: https://dotnetrumbles.wordpress.com/2021/04/01/publish-to-azure-static-web-apps-with-azure-devops/

It might be beneficial for somebody to go through the video version of the tutorial. If its possible, my video version can be added to the comment section of the page.

Thoughts ?

---
#### Document Details

⚠ *Do not edit th

[2021-04-01 13:35] DCtheGeek commented on #72249
@sopopa1 As @rthorn17 has provided the answer and this isn't a Docs issue, I'm going to close this GitHub Issue.  Thanks!

#please-close

[2021-04-01 13:35] #72249 closed

[2021-04-01 13:37] DCtheGeek commented on #73135
#assign:DCtheGeek
#label:"doc-enhancement"

[2021-04-01 13:39] AjKundnani opened #73143 "Create Recovery Plan using PowerShell new-azrecoveryservicesasrrecoveryplan"
Hello

When creating Recovery Plan using PowerShell cmdlet https://docs.microsoft.com/en-us/powershell/module/az.recoveryservices/**new-azrecoveryservicesasrrecoveryplan**?view=azps-5.7.0#examples, it expects a parameter named **RecoveryFabric**

In API, **RecoveryFabricId** is set to string "Microsoft Azure", how do I get the RecoveryFabric object related to Microsoft Azure in PowerShell?

Regard

[2021-04-01 13:44] jwilliams45-aug commented on #73071
@TravisCragg-MSFT Thanks for looking at it so quickly. I worked around it by taking the 2 lines of the custom script hosted on GitHub and issuing them one at a time using Add-AzVmssExtension. This inconsistently worked. It's interesting that you mention you were having issues with the load balancer and inbound connections. I also had these problems and couldn't figure out why. It seems like someti

[2021-04-01 13:53] DCtheGeek commented on #73135
@lucianrica Thank you for the feedback! Scope in Azure Policy is a complex subject that is based on several other core concepts. The links to "overview" topics are intended to give a reader an opportunity to delve deeper into those core concepts to ensure they have the right foundation for the rest of this specific topic. Our goal is to not duplicate content between topics, but to let each topic s

[2021-04-01 13:54] DCtheGeek commented on #73135
#label:"assigned-to-author"
#label:"triaged"
#label:"in-progress"

[2021-04-01 14:12] pesetskyps commented on #72896
thank you for update, Ugan!

[2021-04-01 14:21] alexeyshishkin01 commented on #72213
thanks, @dlepow

my case is much simpler, but the documentation is not so easy to understand

so, I have only Dockerfile and no github context

I can build and push the image manually as describe in the article - https://docs.microsoft.com/en-us/azure/container-registry/container-registry-quickstart-task-cli

I need to create a task so that the image is build on a schedule only (no triggers requir

[2021-04-01 14:28] yutaro113 commented on #73106
@ajay-msft
Thanks for the quick confirmation! I have 1 question to your instruction.

Is WEBJOBS_LOG_TRIGGERED_JOBS_TO_APP_LOGS worked in "ApplicationLogs" of "App Service Log" feature but not in "AppServiceApplicationLogs" of "Diagnostic Settings (Preview)"?
It would be great help to check the expected behavior.

Actually I have tested both scenario but only former scenario ("ApplicationLogs" of

[2021-04-01 14:39] SadiqhAhmed-MSFT commented on #73143
@AjKundnani Thank you for your post. We are looking into it and will get back to you soon.

[2021-04-01 14:42] PriceChild opened #73145 "Microsoft.Web/sites scope is global - Not true for ASE webapps?"
https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resource-name-rules#microsoftweb

This document lists Microsoft.Web/sites naming scope as global.

This isn't true given ASE deployments where names must be unique to the ASE, which delegates subdomains of it's own assigned domain.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-04-01 14:43] TRViana opened #73146 "Unable to enable FranceSouth feature for Microsoft.Resources"
I am getting the following error when trying to enable the FranceSouth feature on Microsoft.Resources:

` Get-AzProviderFeature -ProviderNamespace Microsoft.Resources -FeatureName FranceSouth | Register-AzProviderFeature -ProviderNamespace Microsoft.Resources`

I am getting the error:
`Register-AzProviderFeature : **The feature 'FranceSouth' does not support registration.**
At line:1 char:89
 ...

[2021-04-01 14:44] SadiqhAhmed-MSFT commented on #73139
@chrisdoofer Thanks for the feedback. We will review this with the content owner and update as appropriate.

[2021-04-01 14:59] vhorne commented on #71162
#please-close

[2021-04-01 14:59] #71162 closed

[2021-04-01 15:01] evanportwood commented on #69942
@SnehaAgrawal-MSFT I have the same question as @AntonioNH and the lack of Private Endpoint support for WebApp Slots is no longer listed in the "limitations" section of the Private Endpoint documentation.  Perhaps this was intended as part of a recent update, but it would be helpful to explicitly list this as a limitation.

We would like to use the deployment slots for B/G deployments but it must s

[2021-04-01 15:11] VikasPullagura-MSFT commented on #73136
@Loreno10
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-04-01 15:11] VikasPullagura-MSFT commented on #73136
@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2021-04-01 15:17] HitenBhavsarMSFT opened #73147 "Please clear the "Please consider the alternative route, if you want encrypt such factories." process. it's difficult to follow."
Please consider the alternative route, if you want encrypt such factories.
https://docs.microsoft.com/en-us/azure/data-factory/enable-customer-managed-key#during-factory-creation-in-azure-portal

Blow statement was so confusing for the customer
[121033026004429.pdf](https://github.com/MicrosoftDocs/azure-docs/files/6244584/121033026004429.pdf)
) , me and my ADF team on CXP. We have created steps (

[2021-04-01 15:19] HitenBhavsarMSFT commented on #73147
All the steps in the PDF:
[121033026004429.pdf](https://github.com/MicrosoftDocs/azure-docs/files/6244601/121033026004429.pdf)

[2021-04-01 15:27] alexeyshishkin01 commented on #72213
I've tried to do it the following way:

az acr task create \
--name task-build-$image_id \
--image $image_id:$tag_id \
--registry my_registry \
--context /dev/null \
--arg PGPRO_MAJOR_VERSION=$pgpro_major_version \
--arg PGPRO_FULL_VERSION=$pgpro_full_version \
--no-cache \
--no-push \
--file Dockerfile-pgpro-ent-debian-x64 \
--base-image-trigger-enabled false \
--commit-trigger-enabled false \
--

[2021-04-01 15:28] #65876 closed

[2021-04-01 15:35] AjKundnani commented on #73143
@SadiqhAhmed-MSFT - It's https://docs.microsoft.com/en-us/powershell/module/az.recoveryservices/new-azrecoveryservicesasrrecoveryplan?view=azps-5.7.0#examples

While adding bold within URL caused **** within URL

[2021-04-01 15:44] Oury-MSFT commented on #73035
@cmanasseh  Please let us know if you have any questions or need any help

[2021-04-01 15:44] #73035 closed

[2021-04-01 15:45] #73082 closed

[2021-04-01 15:48] JamesTran-MSFT commented on #73131
@pemsft
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-01 15:49] JamesTran-MSFT commented on #73137
@Ponant
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-04-01 15:50] dreeves14 opened #73148 "How many connectors per CEF Collector based on Minimum specs given of 4 Cores 8GB RAM?"
Im looking to hook up a bunch of connectors, how many can each of these boxes handle? For instance the Meraki Connector would be pushing 2 firewalls, 2 switches and 15 WAPs, then there are a few other connectors that appear to need this same setup.  I can't find any limitations mention but I don't want to assume its unlimited.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this

[2021-04-01 15:52] SamaraSoucy-MSFT commented on #73031
@danabrash

I'd like to be sure I understand what is unclear before I make any edits to the document. Are you asking to have the port included in the text, is the confusion around the fact that source/destination ports are different, or something else?

[2021-04-01 15:56] SwathiDhanwada-MSFT commented on #73142
@lohithgn Thanks for your feedback.

Assigning to content author @scubaninja for review.

[2021-04-01 16:00] NavtejSaini-MSFT commented on #73115
@danimir Should we add the link and send it to you for approval?

[2021-04-01 16:02] DerekHerman-MSFT commented on #72824
@jpdfr-msft It appears that your question was answered. If you have further questions or feel that the documentation needs further clarification please tag us on the thread and we will reopen it.

[2021-04-01 16:02] #72824 closed

[2021-04-01 16:06] NavtejSaini-MSFT commented on #73105
@setuc We have raised the request  - https://github.com/MicrosoftDocs/azure-docs-pr/pull/152978 to make this change. Once approved the changes will be live in 24 hours.
@SnehaGunda  - Please review the PR

[2021-04-01 16:10] MartinJaffer-MSFT commented on #73123
Thank you for bringing this to our attention.  To better assist you, could you please identify which document this is in reference to?

[2021-04-01 16:24] devikamv commented on #73123
Hi Martin,
This is in reference to the document:
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/azure-hybrid-benefit-linux#scope-of-azure-hybrid-benefit-eligibility-for-linux-vms

On Thu, 1 Apr 2021 at 8:10 PM, MartinJaffer-MSFT ***@***.***>
wrote:

[2021-04-01 16:27] DerekHerman-MSFT commented on #73119
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-01 16:27] YutongTie-MSFT commented on #72879
@CarlosAugustoDeSouzaJunior I have escalated this issue to the content team, a fix will be alive soon. Thanks for pointing out this.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-04-01 16:27] #72879 closed

[2021-04-01 16:37] JamesTran-MSFT commented on #72750
@nickQuant
Thank you for the quick follow up on this and the linked issue from Q&A!

I'll pass this info along to our engineering team and update as soon as possible.

If you have any other questions, please let me know.
Thank you again for your time and patience throughout this issue!

[2021-04-01 16:39] JamesTran-MSFT commented on #72922
@Norafify89
I just wanted to check in and see if you had any other questions or if you were able to review my previous comment?

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue.

[2021-04-01 16:44] MarileeTurscak-MSFT commented on #73122
@lightupdifire
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-01 16:46] DerekHerman-MSFT commented on #73127
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-01 16:48] SnehaGunda commented on #73010
We will now close this issue,

#please-close

[2021-04-01 16:48] #73010 closed

[2021-04-01 16:53] SamaraSoucy-MSFT commented on #73004
I'm going to assign this to the doc author- this option is available only in stand-alone SQL Pools (aka Azure DW), but not when connected to a Synapse workspace.

[2021-04-01 16:57] servisys commented on #72771
Sure i will do it!

Thank you

Inviato da iPhone

[2021-04-01 16:57] cynthn commented on #73136
@Loreno10 Thanks for the feedback! You now get to the FQDN\Domain name section through **Properties**. I've updated the article. Changes should be live late this afternoon.

#please-close

[2021-04-01 16:57] #73136 closed

[2021-04-01 16:58] servisys commented on #72771
Sure i will do it.

Thank you

Inviato da iPhone

[2021-04-01 17:01] DeanGross commented on #73000
Here is an example, we have 8 out of 8 points, but it still shows status as To Address
![image](https://user-images.githubusercontent.com/4058555/113328384-3985ba80-92ea-11eb-9361-405e32427670.png)

[2021-04-01 17:01] erhopf commented on #73060
@dotnetexpo - I'm curious where you got the original endpoint. I want to see if there is somewhere in docs that led you down the wrong path. Thanks again for your patience, and glad you're unblocked.

[2021-04-01 17:02] SnehaGunda commented on #70547
#please-close

[2021-04-01 17:02] #70547 closed

[2021-04-01 17:25] Rick-Anderson commented on #73103
That's why I suggest using search, then it doesn't become outdated :)

[2021-04-01 17:29] nandsfordays opened #73150 "Commands to create vm is not working"
I receive this error after trying to create the VM-
{"error":{"code":"InvalidTemplate","message":"Deployment template validation failed: 'Template parameter JToken type is not valid. Expected 'Boolean'. Actual 'String'. Please see https://aka.ms/resource-manager-parameter-files for usage details.'.","additionalInfo":[{"type":"TemplateViolation","info":{"lineNumber":54,"linePosition":17,"path":"par

[2021-04-01 17:32] JamesK3 opened #73151 "Request for clarification"
I was under the impression that the WVD service does not support RDS, has this changed?  And if it has (which would be awesome), can you provide an example connection string/URL?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c48acc6-21e6-2569-7c4b-ec102783ad8d
* Version Independent ID: db92ab59-ec03-5eb2-d2e7-8cfd24f

[2021-04-01 17:35] ChaitanyaNaykodi-MSFT commented on #72165
Thank you @axisc for the detailed explanation.
@CGiardino, I will now proceed to close this issue out. Please tag me in your response if there are any additional concerns. Thank you!

[2021-04-01 17:35] #72165 closed

[2021-04-01 17:48] JamesTran-MSFT commented on #73131
@pemsft
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-04-01 17:52] SadiqhAhmed-MSFT commented on #73143
@AjKundnani Try this - Get-AzRecoveryServicesVault -ResourceGroupName "Test" -Name "Test-RSV"
$Vaults = Get-AzRecoveryServicesVault -ResourceGroupName "Test" -Name "Test-RSV"
Set-AzRecoveryServicesAsrVaultContext -Vault $Vault -InformationAction SilentlyContinue
$Fabrics = Get-AzRecoveryServicesAsrFabric

Let me know if this works

[2021-04-01 18:03] kushantp58 opened #73154 "Not correct"
[Enter feedback here]

This document has incorrect Openssl documentation. (doesn't work that way)

I already had my root key and X509 cert, generated with the following command:

openssl req -x509 -newkey rsa:2048 -keyout root_private.pem -nodes -out root_cert.pem
Then, I needed to generate the verification cert...

Create verification key using command:-
**openssl genrsa -out verification.key 204

[2021-04-01 18:08] a-c-b opened #73155 "broken hyperlinks"
404 errors on:

https://docs.microsoft.com/en-us/rest/api/sql/datamaskingpolicies/createorupdate
https://docs.microsoft.com/en-us/rest/api/sql/datamaskingpolicies/get

not sure how many others

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5b25f3a-5371-2a50-3bff-6caf1b78ad8c
* Version Independent ID: a0d6b2d0-047b-202

[2021-04-01 18:10] AjKundnani commented on #73143
Thanks @SadiqhAhmed-MSFT , however this command doesn’t returns fabric object for “Microsoft Azure” which is required for **RecoveryFabricId**

Only returns Source or **PrimaryFabric** objects.

[code]

[2021-04-01 18:19] nansravn opened #73157 "Letter Casing"
<img width="810" alt="Screen Shot 2021-04-01 at 15 16 42" src="https://user-images.githubusercontent.com/9952451/113337044-a0609f00-92fd-11eb-937e-e9ea964f57ed.png">

Every service provider is written with the first letter in uppercase, except "microsoft.insights" (Application Insights).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2021-04-01 18:21] Blackmist commented on #73059
@damochiz @RohitMungi-MSFT That's correct. The document was updated earlier this morning to make this clear.

Thanks for reporting the problem and helping improve documentation!

[2021-04-01 18:23] negoe commented on #72552
#reassign: j-mantu

[2021-04-01 18:23] craigshoemaker commented on #72923
I updated this page yesterday with what I hope is a more clear explanation. @Costin-hcl please re-open this issue if you feel like it is still unclear.

#please-close

[2021-04-01 18:23] #72923 closed

[2021-04-01 18:24] PeterCLu commented on #73059
Thanks @damochiz for the report! @Blackmist has confirmed that this has been clarified in a fix this morning. You should see the changes live in a few hours.

I'll proceed to #please-close this issue. If you feel that your documentation issue hasn't been resolved, feel free to open a new issue with additional information.

[2021-04-01 18:24] #73059 closed

[2021-04-01 18:25] tamram commented on #72747
@michalswi - Thanks for your feedback! I added a link to the article about creating a key.

#please-close

[2021-04-01 18:25] #72747 closed

[2021-04-01 18:26] SwathiDhanwada-MSFT commented on #73073
@ScottLangham This is more of product suggestion rather than documentation feedback. Seems you have already raised issue in Microsoft Q & A forum. I will update you on that thread.

As there are no documentation issues, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-04-01 18:26] #73073 closed

[2021-04-01 18:27] Arkthos opened #73158 "screnshot out of date"
[Enter feedback here]
This section is outdated, the checkbox and slide were replaced by a "reset button on top of the page
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/workday-inbound-tutorial#enable-and-launch-user-provisioning

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 799c371a-a17e-08aa-ef56

[2021-04-01 18:28] fume opened #73159 "Page layout 2.1.4 is not documented"
On top of the page you talk about page layout 2.1.4 and related jquery version, but on all the page layouts listed the most recent version seems to be 2.1.2.

I know that 2.1.4 exist for selfasserted for sure since 2.1.2 had a bug about error messages #72247

can you please update the page layout list with all the available versions?

thanks,

---
#### Document Details

⚠ *Do not edit this section

[2021-04-01 18:32] NavtejSaini-MSFT commented on #73155
@a-c-b We are checking this and will get back to you.

[2021-04-01 18:33] dotnetexpo opened #73160 "TextToSpeech Cognitive services No connection to the remote host. Internal error: 1. Error details: Code: 11001."
I am trying to run sample program for TextToSpeech Cognitive services and got error No connection to the remote host. Internal error:
here is code that I am following:

public static async Task SynthesisToSpeakerAsync()
        {
            // Creates an instance of a speech config with specified subscription key and service region.
            // Replace with your own subscription key and servic

[2021-04-01 18:33] craigshoemaker commented on #73142
Thanks for making this post and video, @lohithgn!

Right now we aren't able to provide a direct link to this page, but we really appreciate your support!

#please-close

[2021-04-01 18:33] #73142 closed

[2021-04-01 18:37] dotnetexpo commented on #73060
@RohitMungi-MSFT No worries, I copied endpoint that was given on  my azure portal while creating the key. All good!

I had another issue with sample code for TextTospeech. No connection to the remote host. Internal error: 1. Error details: Code: 11001. if you can look into . I have created a new issue . here is link https://github.com/MicrosoftDocs/azure-docs/issues/73160

[2021-04-01 18:39] coolhome opened #73161 "How to escape `prop__{OriginalFormat}` in Workbooks"
In the event I have an Azure Workbook and Azure Functions traces it appears I need to escape {OriginalFormat} that is a customDimensions property. In the documentation for Parameters I did not find anything about escaping. Under kusto for strings it does not talk about parameters. Not really sure how to work around that.

Example from Azure Workbook
![image](https://user-images.githubusercontent.c

[2021-04-01 18:42] craigshoemaker commented on #68245
@mkarmark, @miwebst - can you help out here, please?

[2021-04-01 18:43] craigshoemaker commented on #65687
@mkarmark, @miwebst - is this a versioning issue?

[2021-04-01 18:47] craigshoemaker commented on #73081
That's all detailed on the [API page](https://docs.microsoft.com/azure/static-web-apps/apis) 😉

#please-close

[2021-04-01 18:47] #73081 closed

[2021-04-01 18:49] duyn9uyen opened #73162 "Confusing recommendations on using appsettings.json instead of using local.settings.json"
This [doc](https://docs.microsoft.com/en-us/azure/azure-functions/functions-develop-vs-code?tabs=csharp) talks about using `local.settings.json` files when working with Azure Function. But here, it is mentioned that we can use environment-specific app settings files with `appsettings.json`. There should be a reference on what is the best practice here and if we should or should not use `local.sett

[2021-04-01 18:49] craigshoemaker commented on #68722
@erhopf - did closing the pull request not clear out the pre-prod environment for you?

[2021-04-01 18:53] #68722 closed

[2021-04-01 18:58] DerekHerman-MSFT commented on #73140
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-01 19:00] KranthiPakala-MSFT commented on #73147
@HitenBhavsarMSFT
Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-04-01 19:01] BharathNimmala-MSFT commented on #73157
@nansravn Thanks a lot for bringing this to our notice . I have raised a PR to update the document , it will go live in a day or so.

At this point it appears that there's no further edits or updates needed to the documentation, other than what is already listed above. We will go ahead and close this issue for now, however if you have any further feedback please tag us in your reply and will be ha

[2021-04-01 19:01] #73157 closed

[2021-04-01 19:08] craigshoemaker commented on #63922
@taschemann, @PunditSharp - Here's a [demo for your reference](https://github.com/craigshoemaker/swa-post-login-redirect-demo). The key is that you need to provide a fully qualified URL and not a relative value to `post_login_redirect_uri`. I'll update the doc with more detail.

Thanks for pointing this out!

#please-close

[2021-04-01 19:08] #63922 closed

[2021-04-01 19:09] pattisanta opened #73163 "AzFilesHybrid"
# Azure documentPS C:\AzFilesHybrid> Join-AzStorageAccountForAuth `

the OU name as an input parameter, the AD identity that represents the storage account is created un
der the root directory. #> `

Get-WindowsFeature: C:\Users\plynn\Documents\PowerShell\Modules\AzFilesHybrid\0.1.2.0\AzFilesHybrid.
psm1:436
Line |
 436 |                      $features = Get-WindowsFeature | `
     |

[2021-04-01 19:23] craigshoemaker commented on #66755
You make a good point about emphasizing the routes array. The _routes.json_ file is deprecated, but I have made these changes to the [configuration article in the routes section](https://docs.microsoft.com/en-us/azure/static-web-apps/configuration#routes). (Note: I just pushed the change, so it may take a few hours to go live)

#please-close

[2021-04-01 19:23] #66755 closed

[2021-04-01 19:27] craigshoemaker commented on #71349
@mkarmark, @miwebst - have you encountered this behavior before?

[2021-04-01 19:30] craigshoemaker commented on #67792
@Ayanmullick - unfortunately we don't have anything that depicts a side-by-side comparison. Perhaps the biggest differentiator is the deep integration with Azure Functions and the security features found in Azure Static Web Apps. You can find more overall features in the [Overview page](https://docs.microsoft.com/azure/static-web-apps/overview).

#please-close

[2021-04-01 19:30] #67792 closed

[2021-04-01 19:41] BharathNimmala-MSFT commented on #73145
@PriceChild Thank you for your feedback, reviewing with our internal team and will update the document as needed.

[2021-04-01 19:48] BharathNimmala-MSFT commented on #72792
@blhubbard Our sincere apologies for delay in getting back to this thread. I am further validating few things with our internal team once i have the information will update the document accordingly.

[2021-04-01 19:49] JamesTran-MSFT commented on #73158
@Arkthos
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-04-01 19:59] SnehaGunda commented on #70199
@milismsft can you please look into this issue?

[2021-04-01 20:02] mikebutak opened #73164 "Lacking clear instructions on how to physically start the process"
I'm having a hard time finding practical instruction in these docs on how to use the portal to access the resource mover.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 987a2bcb-c25f-401a-062e-cda8fcb7291d
* Version Independent ID: 15236842-8476-a3e4-4564-9cf2721ca335
* Content: [About the move process in Azure Resourc

[2021-04-01 20:03] bergeron opened #73165 "Broken anchor links"
This line tries to link to the `az network public-ip create` section of the docs:
"Create a static public IP address with the [az network public ip create](https://docs.microsoft.com/en-us/cli/azure/network/public-ip#az-network-public-ip-create) command."
But the anchor link to `#az-network-public-ip-create` is broken. It should be `#az_network_public_ip_create`.

Note: This problem is not specifi

[2021-04-01 20:04] davidsbara opened #73166 "Consider updating Confirm network connectivity"
Hello Team,

Consider updating the "Confirm network connectivity" section of the article to include the command below.  I believe this can be beneficial to customers facing issues with connectivity.  It would help determine if access to the url and port were restricted in their environment.

Test-NetConnection -ComputerName https://ssprdedicatedsbprodncu.servicebus.windows.net -Port 443

or

Invok

[2021-04-01 20:06] JamesTran-MSFT commented on #73166
@davidsbara
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-01 20:09] MarileeTurscak-MSFT commented on #73159
@fume
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-01 20:09] jasonfritts opened #73167 "Microsoft Office 365 Portal service principal made global administrator?"
After a successful admin takeover of a viral tenant the following service principal is shown as a Global Administrator in the tenant.  Can this be documented and confirmation that this service principal can be removed from Global Administrator role and/or deleted entirely without issue?

_ObjectClass (1): ServicePrincipal
AppContextId (1): f8cdef31-a31e-4b4a-93e4-5f571e91255a
AppPrincipalId (1): 0

[2021-04-01 20:20] tamram commented on #72308
@seanalexander - Thanks for your feedback! The [Storage Blob Data Contributor](https://docs.microsoft.com/azure/role-based-access-control/built-in-roles#storage-blob-data-contributor) role includes the **Microsoft.Storage/storageAccounts/blobServices/containers/write** data action, which provides permissions to create a container.

If you are getting a 403 error, that suggests that you don't have

[2021-04-01 20:20] #72308 closed

[2021-04-01 20:28] James-Hamil-MSFT commented on #72761
Hi @Jones-Bones , I believe this is an error in the documentation. I have assigned the author.

[2021-04-01 20:35] James-Hamil-MSFT commented on #72474
Hi @mberry1212 , sorry for the delay.

For Edge, visit this link: https://microsoftedge.microsoft.com/addons/detail/my-apps-secure-signin-ex/gaaceiggkkiffbfdpmfapegoiohkiipl

For Chrome, visit this link: https://chrome.google.com/webstore/detail/my-apps-secure-sign-in-ex/ggjhpefgjjfobnfoldnjipclpcfbgbhl

Hope this helps!

Best,
James

[2021-04-01 20:35] #72474 closed

[2021-04-01 20:38] v-sashig opened #73168 "Please revise "You'll receive email notifications 30 days before reservation and at expiration. ""
[Enter feedback here]
Hello, I am an Azure subscription support engineer.
"You'll receive email notifications 30 days before reservation and at expiration. "

The above sentence is a bit confusing. I think this maybe a typo?
I assume this sentence is trying to address that you will receive email notification 30 days before reservation expiry and at expiration.

"30 days before reservation" part ne

[2021-04-01 20:47] miwebst commented on #71349
I believe @mkarmark has a fix for this and it will be released soon.

[2021-04-01 20:47] MarileeTurscak-MSFT commented on #73063
Thank you. I made a pull request to add the instructions.

@yelevin please review and let me know. https://github.com/MicrosoftDocs/azure-docs-pr/pull/153034

[2021-04-01 20:47] #73063 closed

[2021-04-01 21:30] mkarmark commented on #71349
Yes, this is a known issue we are in the process of fixing. I'll post here when the fix is out.

[2021-04-01 21:33] rboucher commented on #39977
We appreciate your question. Sorry didn't answer in a timely manner. Since this question was created some time ago, we don't know if it still applies. We kindly ask you to create a new github issue if it's still important. We will engage with you on the new thread. Thank you for your understanding.

[2021-04-01 21:33] rboucher commented on #39977
#please-close

[2021-04-01 21:34] rboucher commented on #39978
We appreciate your question. Sorry didn't fully answer in a timely manner. Since this question was created some time ago, we don't know if it still applies. We kindly ask you to create a new github issue if it's still important. We will engage with you on the new thread. Thank you for your understanding.

#please-close

[2021-04-01 21:35] rboucher commented on #40288
We appreciate your question. Sorry didn't fully answer in a timely manner. Since this question was created some time ago, we don't know if it still applies. We kindly ask you to create a new github issue if it's still important. We will engage with you on the new thread. Thank you for your understanding.

#please-close

[2021-04-01 21:35] rboucher commented on #42179
We appreciate your question. Sorry didn't fully answer in a timely manner. Since this question was created some time ago, we don't know if it still applies. We kindly ask you to create a new github issue if it's still important. We will engage with you on the new thread. Thank you for your understanding.

#please-close

[2021-04-01 21:35] rboucher commented on #42838
We appreciate your question. Sorry didn't fully answer in a timely manner. Since this question was created some time ago, we don't know if it still applies. We kindly ask you to create a new github issue if it's still important. We will engage with you on the new thread. Thank you for your understanding.

#please-close

[2021-04-01 21:35] rboucher commented on #45170
We appreciate your question. Sorry didn't fully answer in a timely manner. Since this question was created some time ago, we don't know if it still applies. We kindly ask you to create a new github issue if it's still important. We will engage with you on the new thread. Thank you for your understanding.

#please-close

[2021-04-01 21:35] rboucher commented on #49282
We appreciate your question. Sorry didn't fully answer in a timely manner. Since this question was created some time ago, we don't know if it still applies. We kindly ask you to create a new github issue if it's still important. We will engage with you on the new thread. Thank you for your understanding.

#please-close

[2021-04-01 21:36] TravisCragg-MSFT commented on #73165
@bergeron Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@mlearned I fixed this on #73086 for that page only, but it looks to be across multiple pages. The exact issue with the anchor links is better described there. It seems to be present for all CLI links.

[2021-04-01 21:36] rboucher commented on #51073
#please-close

[2021-04-01 21:36] rboucher commented on #19519
We appreciate your question. Sorry didn't fully answer in a timely manner. Since this question was created some time ago, we don't know if it still applies. We kindly ask you to create a new github issue if it's still important. We will engage with you on the new thread. Thank you for your understanding.

#please-close

[2021-04-01 21:37] rboucher commented on #43959
We appreciate your question. Sorry didn't fully answer in a timely manner. Since this question was created some time ago, we don't know if it still applies. We kindly ask you to create a new github issue if it's still important. We will engage with you on the new thread. Thank you for your understanding.

#please-close

[2021-04-01 21:38] rboucher commented on #38898
#please-close I believe this question has been answered. If not, please reopen this issue.

[2021-04-01 21:39] rboucher commented on #34079
We appreciate your question. Sorry didn't fully answer in a timely manner. Since this question was created some time ago, we don't know if it still applies. We kindly ask you to create a new github issue if it's still important. We will engage with you on the new thread. Thank you for your understanding.

#please-close

[2021-04-01 21:41] rboucher commented on #38400
#label:"CreateAzMonWIFeb2021"

[2021-04-01 21:42] rboucher commented on #38173
We appreciate your question. Sorry didn't fully answer in a timely manner. Since this question was created some time ago, we don't know if it still applies. We kindly ask you to create a new github issue if it's still important. We will engage with you on the new thread. Thank you for your understanding.

#please-close

[2021-04-01 21:44] rboucher commented on #44936
We appreciate your question. I think we answered your question.

Since this question was created some time ago, we don't know if it still applies. We kindly ask you to create a new github issue if it's still important. We will engage with you on the new thread. Thank you for your understanding.

#please-close

[2021-04-01 21:45] rboucher commented on #30159
Key Vaults is included when I checked today.

#please-close

[2021-04-01 21:52] vibraniumforge opened #73172 "Addition to C# code to prevent a null error"
In the first example, C# language, the code is:

`[FunctionName("ServiceBusQueueTriggerCSharp")]
public static void Run(
    [ServiceBusTrigger("myqueue", Connection = "ServiceBusConnection")]
    string myQueueItem,
    Int32 deliveryCount,
    DateTime enqueuedTimeUtc,
    string messageId,
    ILogger log)
`

I would like to add that, while using the Service Bus Connector from a PowerApp, the `

[2021-04-01 22:00] MarileeTurscak-MSFT commented on #73148
@dreeves14
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-01 22:02] danimir commented on #73115
Yes please.

[2021-04-01 22:02] erichrt commented on #72508
Hey @on-the-ray  thanks for the feedback. You are right that the example of msft:443 is wrong. I'll fix this today. Also which aspect of the second and third sentence do you feel are confusing?

[2021-04-01 22:19] BharathNimmala-MSFT commented on #72394
@D3athByMonkey Thanks again for bringing this to our notice and helping us improve our Azure documentation. Post validation with our internal team raised a PR to update the pre-requisites section in the document reflecting your feedback. Once the PR is reviewed and approved , changes would go live.

At this point it appears that there's no further edits or updates needed to the documentation, othe

[2021-04-01 22:19] #72394 closed

[2021-04-01 22:20] normesta commented on #72614
Thank you @ScottGuymer ! Yes I believe you are correct. I've updated the content to show your example. Thank you for the contribution! Those updates will appear live tomorrow by 10 AM.

#please-close

[2021-04-01 22:20] #72614 closed

[2021-04-01 22:24] BharathNimmala-MSFT commented on #73168
@v-sashig Thanks a lot for bringing this to our notice, will update the document accordingly to make this more clear.

[2021-04-01 22:24] rboucher commented on #39977
#assign:rboucher

[2021-04-01 22:25] alexeyshishkin01 commented on #72213
then I've tried to use yaml-file:

az acr task create \
--name task-build-$image_id \
--registry pgprostdacr \
--context /dev/null \
--no-cache \
--no-push \
--file pgpro-ent.yaml \
--base-image-trigger-enabled false \
--commit-trigger-enabled false \
--schedule "40 * * * *"

az acr task run
--name task-build-$image_id
--registry pgprostdacr

Queued a run with ID: cg52
Waiting for an agent...
2021

[2021-04-01 22:25] rboucher commented on #39977
#please-close

[2021-04-01 22:25] #39977 closed

[2021-04-01 22:26] rboucher commented on #39978
#assign:rboucher

[2021-04-01 22:27] rboucher commented on #40288
#assign:rboucher

[2021-04-01 22:27] rboucher commented on #42179
#assign:rboucher

[2021-04-01 22:27] rboucher commented on #42838
#assign:rboucher

[2021-04-01 22:27] rboucher commented on #45170
#assign:rboucher

[2021-04-01 22:27] rboucher commented on #49282
#assign:rboucher

[2021-04-01 22:27] rboucher commented on #51073
#assign:rboucher

[2021-04-01 22:27] rboucher commented on #19519
#assign:rboucher

[2021-04-01 22:27] rboucher commented on #43959
#assign:rboucher

[2021-04-01 22:27] rboucher commented on #38898
#assign:rboucher

[2021-04-01 22:27] rboucher commented on #34079
#assign:rboucher

[2021-04-01 22:28] rboucher commented on #38173
#assign:rboucher

[2021-04-01 22:28] rboucher commented on #44936
#assign:rboucher

[2021-04-01 22:28] rboucher commented on #30159
#assign:rboucher

[2021-04-01 22:28] rboucher commented on #39978
#please-close

[2021-04-01 22:28] #39978 closed

[2021-04-01 22:28] rboucher commented on #40288
#please-close

[2021-04-01 22:28] #40288 closed

[2021-04-01 22:28] rboucher commented on #42179
#please-close

[2021-04-01 22:28] #42179 closed

[2021-04-01 22:28] rboucher commented on #42838
#please-close

[2021-04-01 22:28] #42838 closed

[2021-04-01 22:28] rboucher commented on #45170
#please-close

[2021-04-01 22:28] #45170 closed

[2021-04-01 22:28] rboucher commented on #49282
#please-close

[2021-04-01 22:28] #49282 closed

[2021-04-01 22:28] rboucher commented on #51073
#please-close

[2021-04-01 22:28] #51073 closed

[2021-04-01 22:29] rboucher commented on #19519
#please-close

[2021-04-01 22:29] #19519 closed

[2021-04-01 22:29] rboucher commented on #43959
#please-close

[2021-04-01 22:29] #43959 closed

[2021-04-01 22:29] rboucher commented on #38898
#please-close

[2021-04-01 22:29] #38898 closed

[2021-04-01 22:29] rboucher commented on #34079
#please-close

[2021-04-01 22:29] #34079 closed

[2021-04-01 22:29] rboucher commented on #38173
#please-close

[2021-04-01 22:29] #38173 closed

[2021-04-01 22:29] rboucher commented on #44936
#please-close

[2021-04-01 22:29] #44936 closed

[2021-04-01 22:29] rboucher commented on #30159
#please-close

[2021-04-01 22:29] #30159 closed

[2021-04-01 22:40] rboucher commented on #38972
#label:"CreateAzMonWIFeb2021"

[2021-04-01 22:41] rboucher commented on #39303
#label:"CreateAzMonWIFeb2021"

[2021-04-01 22:41] rboucher commented on #39303
#reassign:shilpasharmaAM

[2021-04-01 22:45] rboucher commented on #40085
#label:"CreateAzMonWIFeb2021"

[2021-04-01 22:47] femsulu commented on #73161
@coolhome Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-04-01 22:55] rboucher commented on #40746
@shilpasharmaAM  Assigning to you.
#reassign:shilpasharmaAM

[2021-04-01 22:55] rboucher commented on #40746
#label:"CreateAzMonWIFeb2021"

[2021-04-01 22:56] rboucher commented on #43161
#label:"CreateAzMonWIFeb2021"

[2021-04-01 23:04] rboucher commented on #52810
@davidobrien1985 The data collection agent is supposed to replace all the older agents going forward. https://docs.microsoft.com/en-us/azure/azure-monitor/agents/data-collection-rule-overview

[2021-04-01 23:04] rboucher commented on #52810
@bwren For visibility.

[2021-04-01 23:04] rboucher commented on #52810
#assign:rboucher

[2021-04-01 23:04] rboucher commented on #52810
#please-close

[2021-04-01 23:04] #52810 closed

[2021-04-01 23:06] rboucher commented on #60540
@reassign:bwren

[2021-04-01 23:06] rboucher commented on #60540
#label:"CreateAzMonWIFeb2021"

[2021-04-01 23:08] rboucher commented on #60544
@reassign:bwren

[2021-04-01 23:08] rboucher commented on #60544
#label:"CreateAzMonWIFeb2021"

[2021-04-01 23:09] rboucher commented on #64805
@reassign:bwren

[2021-04-01 23:09] rboucher commented on #64805
#label:"CreateAzMonWIFeb2021"

[2021-04-01 23:11] rboucher commented on #70193
#label:"CreateAzMonWIFeb2021"

[2021-04-01 23:11] rboucher commented on #47226
#label:"CreateAzMonWIFeb2021"

[2021-04-01 23:15] rboucher commented on #60849
@reassign:bwren

[2021-04-01 23:24] SaurabhSharma-MSFT commented on #72995
@supernoodles I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-04-01 23:30] rboucher commented on #71240
removing and closing.
#please-close

[2021-04-01 23:30] #71240 closed

[2021-04-01 23:37] rboucher commented on #71151
@carolynblanding

Sorry for longer wait.
The behavior depends on the alert rule type, but in general:
•	Alert rules on stopped resource are still charged, because the rules continue to evaluate the resource, so when it resumes running and sends telemetry again, monitoring coverage will resume as well
•	In metric alerts, you might get a fired alert when stopping a resource, because the alert may se

[2021-04-01 23:39] rboucher commented on #70598
This is a problem across many other metrics too. @tomkerkhove , I'm going to close this issue but create a workitem for us to pursue this problem not only for Azure SQL but others. Thanks for pointing this out.

[2021-04-01 23:40] rboucher commented on #70598
#label:"CreateAzMonWIFeb2021" metrics

[2021-04-01 23:40] rboucher commented on #70598
#please-close

[2021-04-01 23:40] #70598 closed

[2021-04-01 23:50] rboucher commented on #70598
@tomkerkhove Are you familiar with calling the REST API to find out what metrics are available for a given resource instance?

[2021-04-01 23:53] ChaitanyaNaykodi-MSFT commented on #73113
Hello @SkywalkerHogie,
Thank you for your feedback! We will review and update as appropriate.

[2021-04-01 23:55] seephez opened #73173 "Security principal > service principal?"
[Enter feedback here]

Hi there,

In the Service Principal section of this document there are two references to 'security principal'. Is this correct or should this read 'service principal' like the other 40 mentions of service principal?

"To access resources that are secured by an Azure AD tenant, the entity that requires access must be represented by a security principal. This requirement is tr

[2021-04-02 00:00] ChaitanyaNaykodi-MSFT commented on #73123
Hello @devikamv,
Thank you for your feedback! We will review and update as appropriate.

[2021-04-02 00:04] SaurabhSharma-MSFT commented on #73058
@xiopeter3345 The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2021-04-02 00:04] #73058 closed

[2021-04-02 00:06] ChaitanyaNaykodi-MSFT commented on #73128
Hello @jyotiprakash90,
Thank you for your feedback! We will review and update as appropriate.

[2021-04-02 00:15] ChaitanyaNaykodi-MSFT commented on #73162
Hello @duyn9uyen,
Thank you for your feedback! We will review and update as appropriate.

[2021-04-02 00:17] ChaitanyaNaykodi-MSFT commented on #73172
Hello @vibraniumforge,
Thank you for your feedback! We will review and update as appropriate.

[2021-04-02 00:22] dotnetexpo opened #73174 "Can't find Punjabi language on Language and voice support for the Speech service"
Hi there,

I am trying to develop a textToSpeech app for Punjabi language . I checked on below link and can't find a option to select language option as Punjabi language. Can you please advise where can I find the option to choose Punjabi language in Text to Speech.

There is only  one option to select Punjabi language into Text to Translate but there is no other option to speech to Text, Text to

[2021-04-02 00:46] MNF opened #73175 "mention GitHub actions integration"
It will be useful in https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-trust-frameworks#continuous-integration section to mention GitHub actions integration
https://github.com/azure-ad-b2c/deploy-trustframework-policy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 358842cb-ce26-e1a7-926e-31e410a

[2021-04-02 00:52] slav commented on #39740
In case anyone is looking at this, it seems you need to use FILE_FLAG_WRITE_THROUGH flag when doing writes: https://azure.microsoft.com/en-us/blog/data-series-exploring-windows-azure-drives-disks-and-images/

[2021-04-02 01:28] devikamv commented on #73123
Thank you!But can you tell me the answer for this. Is BYOL via manual
installation with license keys possible on an AHB enabled RHEL (or SUSE) VM

On Fri, 2 Apr 2021 at 5:30 AM, ChaitanyaNaykodi-MSFT <
***@***.***> wrote:

[2021-04-02 01:30] BharathNimmala-MSFT commented on #73168
@v-sashig Thanks again for bringing this to our notice and helping us improve our Azure documentation. I have raised a PR to update the pre-requisites section in the document reflecting your feedback. Once the PR is reviewed and approved , changes would go live.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed above. We

[2021-04-02 01:30] #73168 closed

[2021-04-02 01:32] KranthiPakala-MSFT commented on #72714
As @dcstwh suggested could you please double check pipeline deployed to ADF service?

On a side note, this channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. And we didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Mi

[2021-04-02 01:32] #72714 closed

[2021-04-02 01:51] Norafify89 commented on #72922
Hi @JamesTran-MSFT ,

Thank you for the reply.

1. I'm more clearly about ADSync Service account now.

2. Refer to AD DS connector account, even with custom setting I'm prefer to lets AADC Wizard to create this account automatically then MSOL_xxxx will be created in User OU level as per stated here https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-accounts-permission

[2021-04-02 02:07] MartinJaffer-MSFT commented on #73160
Thank you for bringing this to our attention.  To better assist you, could you please identify which document this is in reference to?

[2021-04-02 02:22] MartinJaffer-MSFT commented on #73163
Thank you for bringing this to our attention.  To better assist you, could you please identify which document this is in reference to?

[2021-04-02 02:23] Karishma-Tiwari-MSFT commented on #73151
Thanks for the question. We are currently investigating and will update you shortly.

[2021-04-02 02:24] MartinJaffer-MSFT commented on #73164
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-04-02 02:28] MartinJaffer-MSFT commented on #73164
Thank you for your feedback, @mikebutak   . This has been assigned to the content owner , @rayne-wiselman  and will be updated as appropriate.

[2021-04-02 04:01] BharathNimmala-MSFT commented on #73164
@mikebutak Thanks for reaching out, sorry for your experience. The documentation you are referring was more focused on summarizing the components used by Resource Mover, and describes the move process from a workflow stand point which run in the background.

Please review the [Tutorial section in the documentation](https://docs.microsoft.com/en-us/azure/resource-mover/tutorial-move-region-virtual-

[2021-04-02 04:11] hiaga commented on #73146
Hi Team, can someone help us in registering FranceSouth feature in Microsoft.Resources provider

[2021-04-02 04:25] ToruMakabe opened #73177 "Should explain prerequisites early in the article"
You should explain [the prerequisites](https://docs.microsoft.com/en-us/azure/aks/servicemesh-osm-about?pivots=client-operating-system-linux#before-you-begin) early in the article. I have failed to enable this addon on my existing cluster due to a lack of aks-preview extension. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2021-04-02 05:14] karataliu commented on #66643
ping

[2021-04-02 05:18] antothomas23 opened #73178 "Validation Activity accepts wildcard paths ?"
I would like to check the existence of an ack file in a folder which will be having name like timestamp. (eg: folder name = 2021-03-31-01-19-21).
The day day part in the folder can be set, but we are not sure about the time part in the folder name. How to add this path for validation task?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-04-02 05:22] tomkerkhove commented on #70598
Makes sense.

I am familiar with some but maybe @anirudhcavale can help identify them for you.

[2021-04-02 05:31] JonathanAsbury-ACS opened #73179 "Tell readers they need to install Arduino IDE"
You assume readers are familiar with Arduino and overlook that they might not have it installed.  Perhaps tell them it's needed at step 5 in the "Install Visual Studio Code with Azure IoT Tools extension package" section.
Even providing them with this link might help:

- https://www.arduino.cc/en/guide/windows
- https://www.arduino.cc/en/software

---
#### Document Details

⚠ *Do not edit this sec

[2021-04-02 05:44] JonathanAsbury-ACS commented on #73179
Wow.  That was fast.
It might also be beneficial to suggest not installing Arduino from the Windows AppStore since it’s going to map it to a location that VS Code won’t pick up.  In my case it’s:
C:\Program Files\WindowsApps\ArduinoLLC.ArduinoIDE_1.8.42.0_x86__mdqgnx93n4wtt

[2021-04-02 05:49] ram-msft commented on #73150
@nandsfordays Thanks for the question. We are investigating the issue and will update you shortly.

[2021-04-02 05:50] ram-msft commented on #73154
@kushantp58 Thanks for the feedback! We will review and update accordingly.

[2021-04-02 05:56] ram-msft commented on #73146
@TRViana Thanks for the question. We are investigating the issue and will update you shortly.

[2021-04-02 05:58] ram-msft commented on #73167
@jasonfritts Thanks for the feedback! We will review and update accordingly.

[2021-04-02 06:01] vipulsparsh commented on #73050
@AmitavaHazra Per app selection is not possible with this. You are welcome to suggest this as a feature on our user voice.

[2021-04-02 06:01] ram-msft commented on #73173
@seephez Thanks for the question. We are investigating the issue and will update you shortly.

[2021-04-02 06:01] #72986 closed

[2021-04-02 06:03] ram-msft commented on #73174
@dotnetexpo Thanks for the question. We are investigating the issue and will update you shortly.

[2021-04-02 06:06] ram-msft commented on #73175
@MNF Thanks for the feedback! We will review and update accordingly.

[2021-04-02 06:07] ram-msft commented on #73177
@ToruMakabe Thanks for the feedback! We will review and update accordingly.

[2021-04-02 06:08] SatishBoddu-MSFT commented on #73179
@JonathanAsbury-ACS Thanks for the feedback!
I have assigned the issue to the content author for further review.

[2021-04-02 06:09] ram-msft commented on #73178
@antothomas23 Thanks for the question. We are investigating the issue and will update you shortly.

[2021-04-02 06:19] SatishBoddu-MSFT commented on #73154
@kushantp58 Thanks for the feedback!
I have assigned the issue to the content author for further review and update the doc as appropriate.

![image](https://user-images.githubusercontent.com/62923178/113387140-8f854d00-9340-11eb-894b-55cb693c8e4e.png)

[2021-04-02 06:25] Ericgre commented on #69942
as you can see it's not a limitation

[2021-04-02 06:44] aramesh-msft commented on #63642
@dirkslab
This is an old thread, not sure if the original author of this post still is experiencing the problem.
The URL rewrite custom forward path works exactly the same in rules engine as it would in routing rules. There are examples here - https://docs.microsoft.com/en-us/azure/frontdoor/front-door-url-rewrite

[2021-04-02 07:15] almckinven opened #73180 "><"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5689b389-ead5-825d-dde1-9a290bc0819f
* Version Independent ID: 52a526a2-477a-dda4-02b4-eac1440811ed
* Content: [Add an API to Azure Static Web Apps with Azure Functions](https://docs.microsoft.com/en-us/azure/static-web-apps/add-api)
* Content Source:

[2021-04-02 07:35] vipulsparsh commented on #73173
@seephez Security principal is correct. As it is the entity which associates permissions either with users or Applications. Service principal is used to contain permissions for application scenarios.

[2021-04-02 07:57] palma21 commented on #71599
#please-close

[2021-04-02 07:57] #71599 closed

[2021-04-02 07:58] palma21 commented on #70281
Your log mentions 9000 as I mentioned. Where is the doc issue?

[2021-04-02 08:02] William-Francillette opened #73182 "PTA Multi Forest with Selective Authentication"
Hi

We have a multi forest hybrid configuration set with PTA and 2-way trusts between the forests with selective authentication
We experienced an issue with the authentication agent when users from the external forest try to authenticate - it was returning error 1935: The computer you are signing into is protected by an authentication firewall. The specified account is not allowed to authenticate

[2021-04-02 08:07] rgembalik commented on #13883
Just to be clear, I also tried a custom role with additional permissions derived from API Reader Role:
[code]

However, this didn't change the behaviour. Throughout the entire exercise, my SP also had a Reader role added on the entire API Management Service resource.

[2021-04-02 08:52] manekinekko commented on #73180
#please-close

[2021-04-02 09:03] jovanpop-msft commented on #73023
I also updated hash bytes as @julieMSFT suggested offline.

#please-close

[2021-04-02 09:03] #73023 closed

[2021-04-02 09:58] saadatahmed opened #73183 "Split Tunneling"
We used P2S for testing Azure Site Recovery "Test Failover" VMs attached to an isolated network. Allowed the users to connect to this isolated network over P2S connection. This is to ensure they don't change anything in their existing production environment but still allow them to test the application running in Azure.

Problem: Split tunnel. To avoid any type of connectivity or human errors, that

[2021-04-02 10:10] LJtn44 opened #73184 "Block Blob Tiers"
Either I am confused or this is just very confusing. On the section “Access tiers for block blob data” it gives the 3 different type of tiers which are Hot, Cool and Archive for for block blob data. In the next section it give a table saying the support tiers are not available for BlockBlobStorage see below where I circled in red. Perhaps I am confusing block blob data and a BlockBlobStorage accou

[2021-04-02 11:12] gerardsimons opened #73185 "az model deploy cli code sample is missing a name parameter"
Az model deploy CLI code

` az ml model deploy -m afib:1 --ic inferenceconfig.json --dc deploymentconfig.json`

Does not work for me. It returns the error

[code]

so I need to pass it a name parameter (`-n`) as well

`az ml model deploy -n <name> -m afib:1 --ic inferenceconfig.json --dc deploymentconfig.json`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2021-04-02 11:31] morkisz opened #73186 "Wrong licensing requirements to get signinlogs data into Sentinel"
Any Azure AD license (Free/O365/P1/P2) is sufficient to ingest sign-in logs into Azure Sentinel

At least P1 or P2 seems to be required to ingest data into Azure Sentinel workspace.

Regards,
Mariusz

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ff6ed5e-5b5c-e516-aeae-c9bf0a0c69c9
* Version Independent ID: 63ecbda4-5

[2021-04-02 12:00] JeremyPouyet commented on #37847
Same here, a thousand thanks to you

[2021-04-02 12:34] gvashishtha commented on #73185
Thanks for the catch @gerardsimons, fixing now.

[2021-04-02 12:43] gvashishtha commented on #73185
Fixed with #153084

[2021-04-02 12:45] pattisanta commented on #73163
This is the document I used.
https://docs.microsoft.com/en-us/azure/storage/files/storage-files-identity-ad-ds-enable#confirm-the-feature-is-enabled.

Thank you

[2021-04-02 12:58] jakub-bochenski commented on #62419
Still missing

Also: https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/18960694

[2021-04-02 13:27] sijucm opened #73187 "Example shows only C#. Not everybody uses C# or want to use C#"
The example does not make anything clear and it should not be about C#

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03b00e4d-3af1-d053-373e-7724bc81113b
* Version Independent ID: e0e54223-efc3-f69f-efc1-e19ba0010760
* Content: [Azure Service Bus Subscription Rule SQL Filter syntax - Azure Service Bus](https://docs.mi

[2021-04-02 13:35] InformTechPro opened #73188 "Azure-cli-deployment script produces an error that parameters need to be included in double quotations"
Hello,

Kept getting an error in Azure PowerShell Cloud Shell that parameters need to be included in double quotations when running Azure-cli-deployment script. Had to add \ in front of double quotations in settings and private settings. Including screenshot.
For example,
--settings '{\"workspaceId\":\"

![image](https://user-images.githubusercontent.com/57687149/113420011-2b897580-938e-11eb-919a-

[2021-04-02 13:49] MonikaReddy-MSFT commented on #73188
@InformTechPro - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-04-02 14:15] #73105 closed

[2021-04-02 14:23] v-gpettibone commented on #73154
The documentation is correct as written. There are multiple ways to perform tasks in OpenSSL, and the way presented is directed at relatively unsophisticated users. The easy way to create a verification certificate is to create the key with the verification string embedded as the Common Name, get the CSR, and create the certificate. This has been tested multiple times, and it works.

[2021-04-02 14:32] dazfuller commented on #65546
I've been using bicep to create an ADF endpoint so that I can automate the creation of a private endpoint for accessing a data lake. Part of that requires creating an ADF managed network. The following is the compiled output which is working fine for me.

[code]

[2021-04-02 14:50] Fmstrat commented on #40480
@ivanignatiev How would you use this to update the PFX in an existing LDAPS setup? (Such as for an expiring cert)

@iainfoulds As it's 2021 now, any more progress? It seems odd to me that LDAPS still even requires a manual PFX setup when most everything else can use the Key Vault. And for that matter, if Let's Encrypt was enabled as a renewable cert option like DigiCert, the API route would be nul

[2021-04-02 14:52] dotnetexpo commented on #73160
@MartinJaffer-MSFT Thanks for helping out. here is link that I am following:

https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/csharp/sharedcontent/console/speech_synthesis_samples.cs

[2021-04-02 15:01] dirkslab commented on #63642
Thanks @aramesh-msft

I can get URL rewrite to work in routing rules. I am unable to get the same result in rules engine. There seems to be no documentation describing how Routing Engine works. It describe all the parts present, just no explanation on how it actually works?
Pointing to the routing rule doc and saying it is the same though field names and options are different, does not seem to be

[2021-04-02 15:04] sangonzal commented on #72780
@BillyBolton Comments only work in .properties files if they are the first non-blank character, and thus why you are seeing this issue.

This is not a valid comment:
`aad.authority=https://login.microsoftonline.com/${directoryID}/ #Directory (tenant) ID`

Instead you'd have to format it like this:
[code]

[2021-04-02 15:06] sangonzal commented on #72780
#please-close

[2021-04-02 15:06] #72780 closed

[2021-04-02 15:07] samsmithnz opened #73192 "Add troubleshooting for registering/unregistering operations that seem 'stuck' and don't complete"
Add troubleshooting for registering/unregistering operations that seem 'stuck' and don't complete

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48090bb5-2afb-28db-3fe4-332d70313fee
* Version Independent ID: d2df9f57-78c5-c373-fe0b-2905db21f084
* Content: [Resource provider registration errors - Azure Resource Manager]

[2021-04-02 15:19] amitbapat commented on #73061
The instructions for limits increase are stale in the documentation. We will get them fixed. Meanwhile, please file a support ticket with Azure support to increase private endpoint limits.

[2021-04-02 15:20] JamesTran-MSFT commented on #73182
@William-Francillette
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-02 15:23] rickmcguire opened #73193 "ssh key field in ARM template"
The ARM template fails the allowssh filed should be true not 'true'.

"allowSsh": {
      "type": "bool",
      "defaultValue": true,
      "metadata": {
        "description": "Allow SSH traffic through the firewall"
      }
    }

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2289383-6ce2-a036-c710-7d1fad6e1700
* Ve

[2021-04-02 15:33] deepikabandhanadham opened #73194 "Are the Access connectors supported by Azure Integration RunTime"
Are the Access connectors supported by Azure Integration RunTime? Could we avoid installing Self hosted integration runtime?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6064d234-0215-449b-41b7-9ebd2a805cde
* Version Independent ID: aca2693f-c2f1-08bc-88f6-acd05d198281
* Content: [Copy data from

[2021-04-02 15:51] SatishBoddu-MSFT commented on #72829
Hello @kgremban Could you please help with this issue?
We are looking for **Powershell** **Script** instead of Azure CLI for creating VM based on the prebuilt iotedge-vm-deploy template.

[2021-04-02 15:56] mhopkins-msft commented on #73127
Hi @otaskiran

Thanks for reporting this. I've added West Europe to the list of supported regions. The article will be updated today.

Thanks,
 ~ *Mark*

#please-close

[2021-04-02 15:56] #73127 closed

[2021-04-02 16:06] JamesTran-MSFT commented on #72922
@Norafify89
Thank you for the detailed follow up on this!

I completely missed the [more about the created accounts](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-accounts-permissions#more-about-the-created-accounts) section, where it says the [AD DS Connector account](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-accounts-permi

[2021-04-02 16:15] MarileeTurscak-MSFT commented on #73186
@morkisz
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-02 16:16] ascott18 opened #73195 "Recommended StackOverflow tag "azure-managedapps" has zero questions."
This page recommends using StackOverflow tag `azure-managedapps` to get support, but this tag is entirely unused. Meanwhile, there is a tag `azure-managed-app` that _does_ have a small handful of questions, although [there are questions there asked by MSFT employees that have gone unanswered](https://stackoverflow.com/questions/65361860/how-to-update-existing-azure-managed-applications-with-a-new-

[2021-04-02 16:18] SaurabhSharma-MSFT commented on #73194
@deepikabandhanadham Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-02 16:40] SatishBoddu-MSFT commented on #73193
Hello @rickmcguire Thanks for the feedback.

I think the right place to submit this issue would be directly under the [Azure/iotedge-vm-deploy](https://github.com/Azure/iotedge-vm-deploy) Page!

![image](https://user-images.githubusercontent.com/62923178/113434857-9343be80-9396-11eb-97de-7515c35cc753.png)

https://github.com/Azure/iotedge-vm-deploy/blob/7ddac8b5b79fe0bd6d7724b67d8dfffa4853c29c/edg

[2021-04-02 16:46] JamesTran-MSFT commented on #73000
@DeanGross
Thank you for following up on this!

I was able to see this within my tenant as well, and the status bar you're referring to only addresses the status for the "improvement action" (i.e planned, resolved through 3rd party, etc.), and not the "Met, Fulfilled, Completed, etc." status.

From our documentation, it looks like the score can [change every 48 hours](https://docs.microsoft.com/en

[2021-04-02 16:55] ceyhunkirmizitas commented on #46598
Traffic Manager Profile, If you choose "Azure endpoint" then Web App 1 and Web App 2 need to be in different regions.
or
You may add one of these Web App as "External Endpoint"
Hope that helps.

[2021-04-02 17:18] ChaitanyaNaykodi-MSFT commented on #73187
Hello @sijucm,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-04-02 17:21] tomdan-MSFT opened #73196 "Please document OVERRIDE_VOICE_OTP registry key"
Release notes for version 1.0.1.37 includes information about a new registry key (see below) :

**Version 1.0.1.37 of the Azure MFA NPS Extension adds the following additional functionality:

* Added support for OVERRIDE_VOICE_OTP registry entry to allow NPS Extension to use Voice
  Approval instead of Voice OTP for installations that don't support access/challenge.**

Can we get documentation add

[2021-04-02 17:30] Briwalkr commented on #72533
I found the issue. The above commands do not work as documented for the new Azure Synpase Analytics SQL Pools (only the formerly SLQ DW pools). There is a new module az.Synapse that contains the commands needed for the new Synapse SQL Pools.

[2021-04-02 17:40] kushantp58 commented on #73154
Ok I'll follow your advice. I know you guys must have definitely tried it out multiple times...but it didn't work for me ... I'll  give it a try once more. Thanks for the help. In case of any issues I'll reach out

[2021-04-02 17:42] alkohli commented on #72347
@LilacBrandy Could you explain what you are looking for? Currently we have deployment methods documented for all the compute types: VM, IoT Edge, and Kubernetes. Have you looked in the following TOC node: Shared Pro GPU, Pro R, Mini R? Here are some examples on how to deploy VMs:
https://docs.microsoft.com/en-us/azure/databox-online/azure-stack-edge-gpu-deploy-virtual-machine-portal
https://docs.m

[2021-04-02 17:42] #72347 closed

[2021-04-02 17:45] JamesTran-MSFT commented on #73166
@davidsbara
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-04-02 17:46] JamesTran-MSFT commented on #73182
@William-Francillette
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-04-02 17:46] JamesTran-MSFT commented on #73196
@tomdan-MSFT
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-04-02 18:03] alkohli commented on #73140
@mioteg Thanks for bringing this up! You have a fair point. Just to explain the problem a bit more, when we say Azure Stack Edge --> it also includes Azure Stack Edge Pro - FPGA (current in-market product). And Kubernetes, for example does not apply to Azure Stack Edge Pro - FPGA (feature is not available). It applies only to Pro GPU, Pro R, Mini R. A few articles apply to Pro GPU and Pro R -- for

[2021-04-02 18:05] v-gpettibone commented on #73154
What issues are you running into? What is the error and when do you receive it?

[2021-04-02 18:06] julieMSFT commented on #70727
@jasonhorner Thank you for contacting Microsoft and bringing this to our attention. You are correct, identity columns are now supported from within SSDT. I have updated the article and you should see the changes in the next day or so. I will go ahead with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope

[2021-04-02 18:06] julieMSFT commented on #70727
#https://github.com/MicrosoftDocs/azure-docs-pr/pull/153117

[2021-04-02 18:07] julieMSFT commented on #70727
#please-close

[2021-04-02 18:07] #70727 closed

[2021-04-02 18:15] alkohli commented on #66746
This fix was implemented with the above PR. Content went live here: https://docs.microsoft.com/en-us/azure/databox-online/azure-stack-edge-gpu-deploy-stateful-application-static-provision-kubernetes#provision-a-static-pv
Closing this issue. #please-close

[2021-04-02 18:15] #66746 closed

[2021-04-02 18:20] kushantp58 commented on #73154
Ok I tried this part again for openssl -  "If you are using OpenSSL to generate your certificates, you must first generate a private key and a certificate signing request (CSR)" using openssl req -new -key pop.key -out pop.csr  but before that you need to generate the pop.key

![image](https://user-images.githubusercontent.com/53931907/113442572-44118400-93be-11eb-960c-778c3f0ea952.png)

Maybe I'v

[2021-04-02 18:22] AjayKumar-MSFT commented on #72912
Nik, The PR is merged , the doc would reflect the changes in a few hours. Thanks again for taking time to share your feedback.

[2021-04-02 18:22] #72912 closed

[2021-04-02 18:28] jennydevopscheng opened #73198 "The maximum limit for Namespaces/Subscription for Service bus should be changed"
Hello there,

The limit of 100 Service Bus Namespaces per Subscription should be changed to 1000, according to this customer on https://twitter.com/codesapien/status/1378050400440360963

document with error: https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#service-bus-limits

---
#### Document Details

⚠ *Do not edit this section. It is req

[2021-04-02 18:31] julieMSFT commented on #72464
@storesund Thank you for contacting Microsoft. We have updated the article in question. Thank you for your contribution to Microsoft Docs. I will go ahead with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2021-04-02 18:31] julieMSFT commented on #72464
#assign:julieMSFT

[2021-04-02 18:32] PRMerger14 commented on #72464
julieMSFT is already assigned.

[2021-04-02 18:32] julieMSFT commented on #72464
#please-close

[2021-04-02 18:32] #72464 closed

[2021-04-02 18:32] AjayKumar-MSFT commented on #72911
Once the PR is merged, the doc would reflect the changes. Thanks again for taking time to raise this feedback!

[2021-04-02 18:32] #72911 closed

[2021-04-02 18:33] kgremban commented on #72829
Hi @madiathomas That's correct, we use the Azure CLI to deploy the ARM template that creates the virtual machine for this quickstart. The only reason that we call out PowerShell, Bash, or Cloud Shell is because the multiline command format is different in those different command line interfaces -- PowerShell uses a tick (`) while the others use a backslash (\). Since it's a very long CLI command,

[2021-04-02 18:36] julieMSFT commented on #71026
@Mja101 Thank you for contacting Microsoft. I will go ahead and close this issue since we have not heard back from you. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2021-04-02 18:37] julieMSFT commented on #71026
#assign:julieMSFT

[2021-04-02 18:37] julieMSFT commented on #71026
#please-close

[2021-04-02 18:37] #71026 closed

[2021-04-02 18:38] v-gpettibone commented on #73154
I'm able to reproduce your error, but I don't know why it is happening. Let me investigate further

[2021-04-02 18:50] BharathNimmala-MSFT commented on #73195
@ascott18 Thanks a lot for bringing this to our attention.

We support [Azure Managed applications tag on Microsoft Q&A ](https://docs.microsoft.com/en-us/answers/topics/azure-managed-applications.html) please feel free to use that. We will also work with respective document author and add Microsoft Q&A tag link as part of supportability.

[2021-04-02 18:52] BharathNimmala-MSFT commented on #73198
@jennydevopscheng Thanks a lot for bringing this to our attention, we will review this and update the document accordingly.

[2021-04-02 18:53] alkohli commented on #72936
@robnotto Thanks for bringing this to our notice! The work on this has begun. #in-progress

[2021-04-02 18:54] ggailey777 commented on #44083
@steamwings and @mslot sorry for the delay on this. We do now explicitly callout container support for the various plans here: https://docs.microsoft.com/azure/azure-functions/functions-scale#operating-systemruntime
Thanks for your patience! #please-close

[2021-04-02 18:54] #44083 closed

[2021-04-02 18:56] AjayKumar-MSFT commented on #73043
You may check this [Authenticate and authorize users end-to-end in Azure App Service](https://docs.microsoft.com/azure/app-service/tutorial-auth-aad?pivots=platform-windows#call-api-securely-from-server-code) -It also shows you how to secure a multi-tiered app, by accessing a secured back-end API on behalf of the authenticated user, both from server code and from browser code.

While the server co

[2021-04-02 18:56] ggailey777 commented on #59121
We now link to the Consumption plan article. #please-close

[2021-04-02 18:56] #59121 closed

[2021-04-02 18:57] #69415 closed

[2021-04-02 19:06] stefanushinardi commented on #72734
#assign: stefanushinardi

[2021-04-02 19:08] ggailey777 commented on #72734
@mcollier and @stefanushinardi let's track this issue internally [here](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1832117). #please-close

[2021-04-02 19:08] #72734 closed

[2021-04-02 19:20] Marwaabouawad opened #73199 "When this operation (custom domain add/delete) is performed, the expected behavior in regards to is app restart."
- It is confirmed after reproducing the scenario of custome domain (add/delete), the app service got restarted, either via Azure portal or Azure CLI

- PG already confirmed that after reproducing the issue we can submit the request to update the doc stating the expected behavior in regards to, app restart when this operation (custom domain add/delete) is performed.

---
#### Document Details

⚠ *D

[2021-04-02 19:25] billpieper commented on #72791
I am getting the following error:
![image](https://user-images.githubusercontent.com/682286/113447330-42948b80-93bf-11eb-90f3-710a0a0fa2be.png)

[2021-04-02 19:28] kwilli96 opened #73200 "Maybe change the Install the Azure Virtual Machine Agent step from optional to required"
Yeah this is a tutorial for moving a VM from a different system into azure. The Azure Virtual Machine Agent is kind of really important to allowing azure access the VM so marking this step as "optional" is misleading at best because it makes people assume it isn't really necessary when in fact it is completely necessary.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2021-04-02 19:29] femsulu commented on #73192
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-04-02 19:35] NoelAbrahams opened #73201 "[Azure Cosmos DB] Please provide an example for querying Geo-Spatial data stored in an array"
The examples in the documents cover the basic cases. But what if the geography data is stored in an **_array_**?

For example, here is a CDB document:
[code]
How do we query for matching `locations`?

You have an example for a simple case. But this will not work for data stored in an array.

[code]

Please add an example to the docs for this case.

---
#### Document Details

⚠ *Do not edit this se

[2021-04-02 19:36] v-gpettibone commented on #73154
Hi Kushant. The documentation does appear to be wrong. If you have the time, please follow this 2-step process to get a CSR and let me know what you get.

$ openssl genpkey -out fd.key -algorithm RSA -pkeyopt rsa_keygen_bits:2048
$ openssl req -new -key fd.key -out fd.csr

see below

REDMOND+v-gpettibone@MININT-T5I1CK2 /cygdrive/c/cygwin64/home/v-gpettibone/testca
$ openssl genpkey -out fd.key -al

[2021-04-02 19:42] BryanTrach-MSFT commented on #73180
Since there was no ask from your feedback, we have closed the issue. If this was done in error, please tag us in your reply and we will gladly reopen the issue.

[2021-04-02 19:42] #73180 closed

[2021-04-02 19:43] BryanTrach-MSFT commented on #73199
@Marwaabouawad Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-02 19:53] samirvora-MS opened #73204 "Disclaimer for bandwidth performance chart"
We need to add a disclaimer to the performance chart given on the page for reference. What setup was used to get these numbers? this is not applicable to every customer's scenario.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bbd66af-d49f-e595-a7bc-c48cd3675ddc
* Version Independent ID: d3e43062-2f4e-a7a9-17f0-9c3e0

[2021-04-02 20:08] jakereifer opened #73205 "dynamic_reprovisioning and reprovisioning events for IoT Edge X509 attestation"
The documentation discusses "If a device is set to dynamically reprovision itself, IoT Edge will restart and reprovision if a reprovisioning event is detected". What are these reprovisioning events? How does one trigger one? I was unable to find any explanation even in the linked documentation "for more information"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2021-04-02 20:20] SaiKishor-MSFT commented on #73183
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-02 20:33] ramya-rao-a commented on #72865
Just looked at the update

The phrase "return all messages" can be misleading on 2 counts
- You only get back at max the number of messages you have asked for, not "all"
- You do not get dead lettered messages

You can pull out certain text that is repeated in the tabbed content for T1 and T2 packages as these concepts apply to all languages and all SDKs. When pulling this out, use the term "peek

[2021-04-02 20:35] janetslei opened #73206 "Page needs to be updated"
Guest Invite settings have been updated in the Azure portal and need better explanation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce8ef300-3f05-0966-3991-68bcf79353cb
* Version Independent ID: aada60bd-e601-e19e-3532-82a1500a172e
* Content: [Enable B2B external collaboration settings - Azure AD](https://docs.micr

[2021-04-02 20:45] JamesTran-MSFT commented on #73206
@janetslei
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-04-02 20:47] NavtejSaini-MSFT commented on #73114
@emlisa We have raised the PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/153141 for correcting this issue. Please check and verify and approve.

[2021-04-02 20:48] kushantp58 commented on #73154
Hey Greg,

I did try out the entire procedure and it does work, I would definitely recommend this procedure.
It works for me -
![image](https://user-images.githubusercontent.com/53931907/113452964-11be5180-93d3-11eb-8300-041d2f78cb40.png)
(Since I was using it as a subordinate certificate for IoThub instance, I had to output it into a .pem file which worked for me too and I finally have it verifie

[2021-04-02 21:01] NavtejSaini-MSFT commented on #73115
@danimir @aamalvea We have created the https://github.com/MicrosoftDocs/azure-docs-pr/pull/153146 for adding the link. Please check, verify and approve.

[2021-04-02 21:04] v-gpettibone commented on #73154
Hi Kushant, thanks much. I'll update the docs.

[2021-04-02 21:06] #73154 closed

[2021-04-02 21:13] nitinme commented on #69601
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2021-04-02 21:13] #69601 closed

[2021-04-02 21:14] NavtejSaini-MSFT commented on #73155
@DavidTrigano We have raised the PR to fix this. Please check https://github.com/MicrosoftDocs/azure-docs-pr/pull/153150 , verify , and approve.

[2021-04-02 21:17] Oury-MSFT commented on #73201
@NoelAbrahams We are looking into this and will get back to you.

[2021-04-02 21:39] roy-work opened #73209 "Azure doesn't support IPv6 + Flexible DB"
The limitations section fails to mention that IPv6 and Flexible PG DBs just don't work at all.

It doesn't matter if you don't intend to assign an IPv6 address to the DB. It doesn't matter if the subnet you delegate to the DB is IPv4 only. If the vnet has _any_ IPv6 address ranges assigned to it, it will fail.

—Azure support

(And, if you try: it will take 2 hours for the deployment to time out.

[2021-04-02 21:41] ascott18 opened #73210 "Suggested StackOverflow tag "azure-custom-providers" for getting a "fast response" has zero responses."
This article suggests that tagging SO questions with `azure-custom-providers` will get a fast response from Microsoft. This is clearly not the case, as none of the questions with this tag have any responses whatsoever.

Please remove this faulty guidance, or make it clear that this is not a Microsoft-supported product and that support is community-provided only.

---
#### Document Details

⚠ *Do n

[2021-04-02 21:47] ecfan commented on #73103
@RickAndMSFT: I added a work item to our backlog for triage and will schedule for a future sprint. Thanks!

@ChaitanyaNaykodi-MSFT: #please-close

[2021-04-02 21:47] #73103 closed

[2021-04-02 21:56] Oury-MSFT commented on #73201
@timsander1 Can you please provide an example to the doc for above customer case.

[2021-04-02 21:56] Rick-Anderson commented on #73103
@ecfan  sounds good. If I get some time I'll PR the fix.

[2021-04-02 21:59] levpreece opened #73212 "Misdirected example"
[The text on this page: "Select the 70_driver_log.txt file. You should see the following output" is showing the output for "65_job_prep_***" which could be confusing.]

---
####

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2767a9e-eac1-8460-761f-a86154bd9685
* Version Independent ID: 4a40093e-1cdb-d9a8-2ca4-aff77a862845
* Content: [Tutorial:

[2021-04-02 22:00] DerekHerman-MSFT commented on #73184
@LJtn44
BlockBlobStorage is a type of storage account which is described in the [Types of storage accounts](https://docs.microsoft.com/en-us/azure/storage/common/storage-account-overview#types-of-storage-accounts) section. Access tiers is not supported for this type of storage account. It is supported in both General-purpose V2 and BlobStorage accounts which support block blob data.

[2021-04-02 22:14] kgremban commented on #71829
@AlexGilliland There may be a mix-up here because of the recently released IoT Edge for Linux on Windows (EFLOW) method of running IoT Edge on Windows devices.

The article you're linking to is for running IoT Edge with *Windows* containers on Windows devices. In that case, only build 1809 is supported because the host OS version must exactly match the container OS version.

The new EFLOW option a

[2021-04-02 22:17] technololy opened #73213 "Absence of verify api for csharp language and error received when tried with csharp anyway"
Absence of verify api for csharp language on the tutorial page is deep. it is available for only python.

When i go ahead and call verifyfacetoface in csharp, it returns badresult

Microsoft.Azure.CognitiveServices.Vision.Face.Models.APIErrorException: Operation returned an invalid status code 'BadRequest'
   at Microsoft.Azure.CognitiveServices.Vision.Face.FaceOperations.DetectWithUrlWithHttpMess

[2021-04-02 22:24] dlepow commented on #72987
@sandord - Fair point, strictly speaking it's not a GUID. I'll change to 'ID'. Thanks for the feedback.

[2021-04-02 22:38] AlexGilliland commented on #71829
This was relating to Linux containers on Windows using the script from here: https://aka.ms/iotedge-win which was the enum for your container OS, but still wants the build to only be 1809.

With EFLOW being published this is irrelevant and can be closed out.

[2021-04-02 22:42] nitinme commented on #72688
Thanks for your dedication to our documentation. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as necessary.

#please-close

[2021-04-02 22:42] #72688 closed

[2021-04-02 22:48] nitinme commented on #73060
Closing this since the original issue was resolved. Thanks.

#please-close

[2021-04-02 22:48] #73060 closed

[2021-04-02 22:57] KranthiPakala-MSFT commented on #73204
@samirvora-MS  Thanks for the feedback. Could you please provide few additional details/information in details so that we can involve the relevant team to further review this.

We look forward to your response.

Thanks

[2021-04-02 23:00] samirvora-MS commented on #73204
Hi,
Please ask Azure Data Factory team to provide the details of the configuration that was used to get these numbers.
***@***.***D727EA.0DD59290]

Regards,
Samir Vora
Technical Advisor
Azure Rapid Response
Office: +1 469-775-0098
Las Colinas, TX
***@***.******@***.***>
Hours: Monday - Friday 9am to 6pm CST ( UTC -6 )
***@***.***D727EA.0DD59290]

We are interested in any feedback you have about th

[2021-04-02 23:05] dlepow commented on #72444
@marcino239 - Thanks for the feedback and example. Yes, you can use a variety of if not most ACR-supported [auth methods](https://docs.microsoft.com/azure/container-registry/container-registry-authentication) with helm registries, depending on your needs. If you prefer time-limited tokens, also consider [repository-scoped tokens](https://docs.microsoft.com/azure/container-registry/container-regist

[2021-04-02 23:06] Karishma-Tiwari-MSFT commented on #73200
You are completely right about the importance of installing Azure VM agent to use your VM.
But since this article is about _preparing and uploading VHD_ to Azure, installing the VM agent is provided as a recommendation mentioning that, though these settings don't affect VHD uploading, they are used to perform critical operations of VM.
Hope that helps.

Thanks for bringing this to our attention. W

[2021-04-02 23:06] #73200 closed

[2021-04-02 23:23] JnHs commented on #73007
@garbacik I'm going to close this issue now as I believe it's been addressed above, but please let us know if you have additional questions. Thanks!
#please-close

[2021-04-02 23:23] #73007 closed

[2021-04-02 23:27] kgremban commented on #72534
Hi @stmccartney, I followed up with the team about your question. Yes, you need to have as many CPU cores (or vCPU cores in your case, since you were using a VM) as your chosen EFLOW VM size requires. The default VM size is 2 GB, 4 cores (Standard_K8S_v1). However, there are many sizes to choose from and if you don't have 4 cores you could consider one of the supported 2 core VM sizes.

The list o

[2021-04-02 23:33] phamqduc opened #73214 "Wrong email used for contact"
The section
"A: Yes, we have throttling limits. We don’t expect you’ll hit them for typical application development and testing. For production deployments, we are ready to support our customers’ high-scale requirements. Contact us to discuss."
where "Contact us" links to an unreachable email.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2021-04-02 23:35] Karishma-Tiwari-MSFT commented on #72939
There are no specific instructions to join the Preview. You will be provided the option to try this feature when you create a new VM on Azure.

The important thing to note is that Trusted launch requires the creation of new virtual machines. You can't enable trusted launch on existing virtual machines that were initially created without it.

Here are the limitations:

**Size support:**
All Generat

[2021-04-02 23:35] #72939 closed

[2021-04-02 23:38] tfitzmac commented on #73192
@samsmithnz - thanks for this feedback. I am not familiar with the scenario of register/unregister not completing. Can you provide us with more info about what you were trying to do? Were you able to eventually register the resource provider?

[2021-04-02 23:38] #73214 closed

[2021-04-02 23:39] phamqduc commented on #73214
Duplicate

[2021-04-03 00:02] kgremban commented on #71829
Ah yes, that makes sense. In that case, you're correct.

It sounds like you're open to using EFLOW as the solution for running Linux containers on Windows (which is the recommended route moving forward) but if you are still using the aka.ms/iotedge-win installation scripts and need them updated, I suggest opening an issue on the https://github.com/Azure/iotedge/ repo. But I'm not sure how much tim

[2021-04-03 00:02] #71829 closed

[2021-04-03 00:52] phamqduc commented on #72982
Thank you for letting us know about the issue. There is a Pull Request to address it - https://github.com/MicrosoftDocs/azure-docs-pr/pull/153175

For the time being, please use this email address to contact and discuss about questions or concerns regarding throttling - azuremrscontact@microsoft.com

[2021-04-03 01:28] ram-msft commented on #73205
@jakereifer Thanks for the question. We are investigating the issue and will update you shortly.

[2021-04-03 01:31] ram-msft commented on #73213
@technololy Thanks for the question. We are investigating the issue and will update you shortly.

[2021-04-03 01:33] ram-msft commented on #73209
@roy-work Thanks for the feedback! We will review and update accordingly.

[2021-04-03 01:36] ram-msft commented on #73212
@levpreece Thanks for the feedback! We will review and update accordingly.

[2021-04-03 01:43] SvenAelterman opened #73215 "Creating generation 2 VM from managed disk"
Under the heading Managed image or managed disk (https://docs.microsoft.com/en-us/azure/virtual-machines/generation-2#managed-image-or-managed-disk), it is stated that a generation 2 VM can be created the same way as a generation 1 VM.

However, I don't see how to change the generation of the VM. The managed disk I have came from a generation 2 VM in Azure. However, when I click on the managed dis

[2021-04-03 01:50] montereyharris opened #73216 "Misleading Warning"
[Enter feedback here]
Warning says that changing subscription will create breaking change to environment but there only be a breaking change if the subscription is in a different tenant correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc648f77-1e4c-2722-f3a5-8cbb7565a593
* Version Independent ID: cfbf4697-6ddd-f

[2021-04-03 02:04] BharathNimmala-MSFT commented on #73210
@ascott18 Apologies for your experience and thanks for bringing this to our notice, I will work with required team to adjust the guidance accordingly.

[2021-04-03 02:38] SvenAelterman commented on #73215
I believe I found the cause: I copied the disk with Storage Explorer from one subscription/tenant to another. Storage Explorer did not keep the hyperVGeneration property of the managed disk to V2.
I was able to use the az cli command below to set the property to its correct value for the disk:
[code]

[2021-04-03 03:05] rboucher commented on #71151
#label:"CreateAzMonWIFeb2021"

[2021-04-03 03:05] rboucher commented on #71151
#please-close

[2021-04-03 03:05] #71151 closed

[2021-04-03 03:30] BryanTrach-MSFT commented on #72110
@dmorris6-hub The product group was able to successfully complete the sample in this doc.

We would like to continuing working with you on this matter. Can you please email us at azcommunity@microsoft.com with the subject as ATTN: Bryan and in the body of the email include your Azure subscription ID.

We look forward to your reply.

[2021-04-03 03:30] #72110 closed

[2021-04-03 03:31] #73199 closed

[2021-04-03 03:38] BryanTrach-MSFT commented on #73199
@Marwaabouawad We have submitted and merged a PR. The changes should be public with 24 hours. Thank you for sharing this!

[2021-04-03 04:11] BryanTrach-MSFT commented on #72888
@gratisaccount I did not have issues when running through the document. Since this seems to be troubleshooting and not doc feedback, can you please email me at brtrach@microsoft.com with the subject ATTN: Bryan and in the body of the email, include your Azure subscription ID.

We look forward to your reply.

[2021-04-03 04:11] #72888 closed

[2021-04-03 04:12] BryanTrach-MSFT commented on #72284
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-04-03 04:12] #72284 closed

[2021-04-03 04:21] kotpal opened #73218 "ExceptionType : DocumentClientException Message: {"Errors":["Owner resource does not exist"]}"
No matter what I try and follow the documentation to the dot, I am not able to run the sample code.

I keep getting:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2700fc00-4872-6fcf-65e0-ab9fd5fde2a1
* Version Independent ID: e828bbb5-2c22-17f2-32aa-aa3773c55806
* Content: [Build an Azure Cosmos DB .NET Framewo

[2021-04-03 05:12] rboucher commented on #70598
@tomkerkhove  He won't have all that information given it varies so much. I work closely with Ani. It's really up to the resource provider. You can call the API at https://docs.microsoft.com/en-us/rest/api/monitor/metricdefinitions/list with an actual resource and find what metrics are available for it. But you can't query it to find all available metrics without actual resource IDs.

[2021-04-03 05:21] rarandiv opened #73219 "Recommendation to add info about “The encryption protectors for all servers linked by GeoDR must be in the same region as their respective servers”"
My primary SQL managed server is encrypted, and the secondary server has no access to the same key.
I was trying to set up failover group for our SQL Managed instance but received below error-

The encryption protectors for all servers linked by GeoDR must be in the same region as their respective servers. Please upload key 'https://<blob url>/ ' to a Key Vault in the region <region name>' as serv

[2021-04-03 05:27] rboucher commented on #47226
#assign:rboucher

[2021-04-03 05:32] rboucher commented on #68999
#label:"CreateAzMonWIFeb2021"

[2021-04-03 05:37] AnuragSharma-MSFT commented on #73218
@kotpal Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-04-03 05:37] rboucher commented on #48006
#reassign:shilpasharmaAM

[2021-04-03 05:38] rboucher commented on #48006
#label:"CreateAzMonWIFeb2021"

[2021-04-03 05:38] rboucher commented on #67799
#reassign:shilpasharmaAM

[2021-04-03 05:39] rboucher commented on #67799
#assign:rboucher

[2021-04-03 05:39] rboucher commented on #64027
#assign:shilpasharmaAM

[2021-04-03 05:40] rboucher commented on #63913
#label:"CreateAzMonWIFeb2021"

[2021-04-03 05:42] rboucher commented on #63098
@shilpasharmaAM Can you look into this please and verify that we should change to docs?

[2021-04-03 05:42] rboucher commented on #63098
#assign:shilpasharmaAM

[2021-04-03 05:44] #73061 closed

[2021-04-03 05:45] rboucher commented on #62751
Looks like we've dealt with this via the error message update.  Closing.
#please-close

[2021-04-03 05:45] #62751 closed

[2021-04-03 05:48] rboucher commented on #57838
I believe we've dealt with this, if not email me internally @adymorbiran.  Logz is at the bottom of the page in the closer integration section, but not in the larger list.  Let me know if that's a problem.
#please-close

[2021-04-03 05:48] #57838 closed

[2021-04-03 05:48] rboucher commented on #56666
#reassign:ofirmanor

[2021-04-03 06:02] rboucher commented on #56666
@ofirmanor Does this require a doc update?
@rajkumar-munusamy Rewording what Ofir said. Action rules suppress the notifications at the time of notification. The ending of a notification window doesn't force a recheck of alert status.  If you are using a stateless log alert, the alert will refire each time the query evaluates as true so you would get notified in that case. With a metric alert, you

[2021-04-03 06:05] rboucher commented on #56421
@kazshi This page has been updated a number of times since your comment and no longer has the annotation. Is this still a problem? If so, can you open a new issue?

#please-close

[2021-04-03 06:05] #56421 closed

[2021-04-03 06:06] rboucher commented on #56420
@kazshi This page has been updated a number of times since your comment and no longer has the annotation. Is this still a problem? If so, can you open a new issue?

#please-close

[2021-04-03 06:06] #56420 closed

[2021-04-03 06:08] rboucher commented on #56390
This was fixed some time ago.
#please-close

[2021-04-03 06:08] #56390 closed

[2021-04-03 06:11] rboucher commented on #54822
#assign: @normesta

[2021-04-03 06:11] rboucher commented on #54822
This still seems to be a problem.

[2021-04-03 06:15] rboucher commented on #54822
Checking with product group and Norm.

[2021-04-03 06:15] rboucher commented on #54822
#label:"TriagedFeb2021"

[2021-04-03 06:18] rboucher commented on #52532
@nisreen95 We run and automated process that tells us this log type is still available. Still seems to be an issue. I'll check with SQL team internally.

#label:"TriagedFeb2021"

[2021-04-03 06:19] rboucher commented on #52532
@stevestein Can you please look at this issue?

[2021-04-03 06:20] rboucher commented on #52532
#assign:stevestein

[2021-04-03 06:22] rboucher commented on #52532
Contacting Steve over internal email to discuss.

[2021-04-03 06:24] rboucher commented on #52210
Need to create a workitem for us to look deeper into this issue. @ramseygr @BakkerJan Is this still a problem?

#label:"CreateAzMonWIFeb2021"

[2021-04-03 06:24] rboucher commented on #51975
#label:"CreateAzMonWIFeb2021" Still an issue.

[2021-04-03 06:25] rboucher commented on #46935
#label:"CreateAzMonWIFeb2021"

[2021-04-03 06:26] rboucher commented on #45679
#label:"CreateAzMonWIFeb2021"

[2021-04-03 06:27] rboucher commented on #44333
#please-close

Been fixed for some time

[2021-04-03 06:27] #44333 closed

[2021-04-03 06:27] rboucher commented on #43835
Pending overhaul of that content. In process.
#please-close

[2021-04-03 06:27] #43835 closed

[2021-04-03 06:30] rboucher commented on #59756
#label:"CreateAzMonWIFeb2021"

Still a problem.

[2021-04-03 06:31] rboucher commented on #51542
#label:"CreateAzMonWIFeb2021"

[2021-04-03 06:31] rboucher commented on #48461
#label:"CreateAzMonWIFeb2021"

[2021-04-03 06:40] rboucher commented on #16576
#please-close

[2021-04-03 06:40] #16576 closed

[2021-04-03 06:41] rboucher commented on #34936
We appreciate your question. Sorry didn't fully answer in a timely manner. Since this question was created some time ago, we don't know if it still applies. We kindly ask you to create a new github issue if it's still important. We will engage with you on the new thread. Thank you for your understanding.

#please-close

[2021-04-03 06:41] #34936 closed

[2021-04-03 06:41] rboucher commented on #39382
We appreciate your question. Sorry didn't fully answer in a timely manner. Since this question was created some time ago, we don't know if it still applies. We kindly ask you to create a new github issue if it's still important. We will engage with you on the new thread. Thank you for your understanding.

#please-close

[2021-04-03 06:41] #39382 closed

[2021-04-03 06:41] rboucher commented on #44434
We appreciate your question. Sorry didn't fully answer in a timely manner. Since this question was created some time ago, we don't know if it still applies. We kindly ask you to create a new github issue if it's still important. We will engage with you on the new thread. Thank you for your understanding.

#please-close

[2021-04-03 06:41] #44434 closed

[2021-04-03 06:42] rboucher commented on #44566
We appreciate your question. Sorry didn't fully answer in a timely manner. Since this question was created some time ago, we don't know if it still applies. We kindly ask you to create a new github issue if it's still important. We will engage with you on the new thread. Thank you for your understanding.

#please-close

[2021-04-03 06:42] #44566 closed

[2021-04-03 06:42] rboucher commented on #53097
We appreciate your question. Sorry didn't fully answer in a timely manner. Since this question was created some time ago, we don't know if it still applies. We kindly ask you to create a new github issue if it's still important. We will engage with you on the new thread. Thank you for your understanding.

#please-close

[2021-04-03 06:42] #53097 closed

[2021-04-03 06:43] rboucher commented on #55474
#please-close

[2021-04-03 06:43] #55474 closed

[2021-04-03 06:43] rboucher commented on #57002
#please-close

[2021-04-03 06:43] rboucher commented on #59922
#please-close

[2021-04-03 06:43] #59922 closed

[2021-04-03 06:43] rboucher commented on #60379
#please-close

[2021-04-03 06:43] #60379 closed

[2021-04-03 06:44] rboucher commented on #61698
#label:"TriagedFeb2021"   Need to assign to Felix.

[2021-04-03 06:45] rboucher commented on #61698
@fewatson Can you please take a look at this? Is the comment correct given current UI updates?

[2021-04-03 06:46] rboucher commented on #61698
#assign:rboucher
#assign:fewatson

[2021-04-03 06:46] rboucher commented on #61698
#assign:rboucher

[2021-04-03 06:46] PRMerger17 commented on #61698
rboucher is already assigned.

[2021-04-03 06:47] rboucher commented on #24641
#label:"TriagedFeb2021"

[2021-04-03 07:23] aramesh-msft commented on #63642
@dirkslab
For any request `https://domain.com/path01`, a routing rule first matches the three identifiers in the URI. The scheme (`https`), host (`domain.com`) and URL path (`/path01`). Only then the rules engine conditions gets executed which can be any of request headers, url path, cookie etc. Can you give us a very specific example of what you are trying to do and how it seems to not work? I wi

[2021-04-03 09:33] devikamv opened #73221 "Windows 10 License requirements"
In reference to the article: https://azure.microsoft.com/en-in/offers/ms-azr-0148p/
For deploying Azure VM with Windows 10 client OS in an Azure Dev/Test subscription, is a Windows 10 license required. Also, are there any discounts while deploying a Windows 10 VM in an Azure Dev/Test subscription.

[2021-04-03 10:55] SandraVanDijk commented on #72833
Thank you so much for your help!

I understand that you don't make documentation for other providers. So I
really appreciate the time you spend on this.

Kind regards,

Sandra van Dijk

On Wed, 31 Mar 2021 at 17:24, Cephas Lin ***@***.***> wrote:

[2021-04-03 10:55] bilginbaldji opened #73222 "Outdated information"
[Enter feedback here]
The article has outdated options and screenshots for the Guest invite section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce8ef300-3f05-0966-3991-68bcf79353cb
* Version Independent ID: aada60bd-e601-e19e-3532-82a1500a172e
* Content: [Enable B2B external collaboration settings - Azure AD](https

[2021-04-03 11:25] samsmithnz commented on #73192
I was trying to recreate a customer situation where they were trying to use [embedded Powershell in an ARM template](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deployment-script-template), but they had not registered container instance.

Therefore, my first step was to unregister it. I found in both of my subscriptions (MSFT internal and MSDN), that the process ran for

[2021-04-03 11:53] dirkslab commented on #63642
thanks @aramesh-msft

Below, what I am trying to achieve. I hope this make sense, if not, please suggest format to better present.

----------------------------------
start Goal\Test1 (Working Example)
----------------------------------

route endpoint call: 'b9af09-dev-sites-core-we.azurewebsites.net/api/health' via frontdoor 'mydefaultfrontend.azurefd.net/b9af09/api/health'
note "path key" /b9af

[2021-04-03 12:19] technololy commented on #73213
After almost 6 hours, I was able to play around several methods around the documentation and achieved my aim.

WIll close this now. Kindly look into updating the doc/specified methods on the doc

[2021-04-03 12:19] #73213 closed

[2021-04-03 13:44] LJtn44 commented on #73184
So Block Blob Storage account and Block Blob Data are thesame thing? This is very confusing to me for some reason.

Are you saying I was correct the information needs to be changed on the page soit does not contradict itself since it says “By selecting the right access tierfor your needs, you can store your block blob data” see highlighted below? Thatstatements means to me that Block Blob data can

[2021-04-03 14:06] anumalasri commented on #44434
@rboucher .. Thanks for your response after **1.25 years**..   I have no interest on GitHub process and wait for another year.

If its import for me or my company, we will find other options to reach directly to Product teams.

[2021-04-03 14:23] lothbrok2020 opened #73223 "Advise on client app registration"
Is this the recommended approach for external client consumption of an API managed by APIM? In particular the approach where the an app registration is created on the provider AAD tenant to represent the external client application? My assumption is yes and that there would not be any benefit or reason for an external client to create this app registration of their tenant.

Thanks

---
#### Docume

[2021-04-03 14:52] confused-nerd opened #73224 "Error Required field is not set"
While following the article and adding the main.tf file and executing `terraform plan` I'm presenting `Error: "features": required field is not set`.

It appears that this is required even if the value is empty

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43614930-38b7-9497-117c-5a6e5dd52201
* Version Independent ID:

[2021-04-03 14:53] priyeshsd opened #73225 "Azure CLI parameter is referenced for Powershell"
In the "List Images" section, after point 4, an azure CLI parameter (--image) is referenced to be used for a powershell command. The correct parameter is -image

Here's the text: **Pass this URN with the --image parameter when you create a VM with the New-AzVM cmdlet**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e70

[2021-04-03 15:33] ripom opened #73226 "Scope value"
In the scope section, the correct string is _openid profile_, when I use only _openid_ I get error.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15942a1a-df5c-bbeb-a693-510aadede4b2
* Version Independent ID: dd96db95-d230-9690-ab08-dfc6ceaff7f2
* Content: [Set up sign-up and sign-in with OpenID Connect - Azure AD B2C

[2021-04-03 15:47] KrishnaG-MSFT commented on #73224
@confused-nerd Thanks for your comment! We will review and provide an update as appropriate.

[2021-04-03 15:54] epa095 opened #73227 "Remove reference to passthru_automl_config"
This page has one use of "passthru_automl_config". From a bit of googling (to figure out what it does) it seems deprecated, so then it should probably be removed from the example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 081ba4f6-5b23-324d-2b89-38e4abd8ad32
* Version Independent ID: e36e091a-2901-8afd-0a22-7dcefa

[2021-04-03 15:59] samueljamkhandi-MSFT commented on #72294
Thank you @roygara

[2021-04-03 16:20] cynthn commented on #73225
@priyeshsd Thank you for catching that error! I've filed a pull request to change it to `-Image`. The change should be live soon. Thanks again!

#assign @cynthn

[2021-04-03 16:20] cynthn commented on #73225
#please-close

[2021-04-03 16:20] #73225 closed

[2021-04-03 16:24] ram-msft commented on #73216
@montereyharris Thanks for the feedback! We will review and update accordingly.

[2021-04-03 16:25] ram-msft commented on #73219
@rarandiv Thanks for the feedback! We will review and update accordingly.

[2021-04-03 16:26] ram-msft commented on #73227
@epa095 Thanks for the feedback! We will review and update accordingly.

[2021-04-03 16:30] szabolevo opened #73228 "Git branch is incorrect for IoT tutorial"
Hi Microsoft IoT team,

FYI, the tutorial is pretty awesome but the Git command for pushing the code to Azure is failing:
`git push webapp main:main`

It looks like the correct branch name in the repo that was cloned is still `master`, so the changing the command to the below does work and deploys the site accordingly:

`git push webapp master:master`

Regards,
Levi

---
#### Document Details

⚠ *

[2021-04-03 17:38] Philo commented on #72952
Hi, I'm glad to see this is now possible however I am expecting an additional problem now that I can use deployment slots for my web app alongside private endpoint.

- I have a web app with a single additional slot called "deploy"
- I have a pipeline that does the following:
  - Stop the slot
  - Deploy web app code to the slot (uses "run from package")
  - Starts the slot
  - Begins a multi-phase

[2021-04-03 18:06] SatishBoddu-MSFT commented on #72829
Hello @madiathomas Just checking in if you have had a chance to see the previous response. Please let us know if you need further help in this matter!

[2021-04-03 18:08] madiathomas commented on #72829
You can close the issue.

[2021-04-03 18:08] #72829 closed

[2021-04-03 18:58] AjayKumar-MSFT commented on #73043
We will close this out, but if you feel you need more information please just let us know.

[2021-04-03 18:58] #73043 closed

[2021-04-03 19:07] AjayKumar-MSFT commented on #73106
Thanks for the detailed tests and update.
Yes, it's from Application Logs of App Service Log/feature.
AzureWebAppDiagnostics doesn't gain you Azure Monitor logs support. It, depending on configuration, writes to either a text file or blob storage; see https://docs.microsoft.com/en-US/dotnet/core/extensions/logging-providers#azure-app-service. You may configure 'AzureFileLoggerOptions' or 'AzureBlo

[2021-04-03 19:16] PKPublicCode opened #73229 "No SubscriptionId option in Set-AzContext parameter set"
Document says:

17. Add Set-AzContext to the canvas.

18. Select Set-AzContext on the canvas. In the Configuration control pane, enter Specify Subscription Id in the Label field.

19. Click Parameters and the Activity Parameter Configuration page appears.

12. The Set-AzContext cmdlet has multiple parameter sets, and you need to select one before providing parameter values. Click Parameter Set and

[2021-04-03 21:20] MartinJaffer-MSFT commented on #73221
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-04-03 21:26] MartinJaffer-MSFT commented on #73222
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-04-03 21:41] gorankuk opened #73230 "why this page is not fully in English? Bilješka -is foreign word - it should be Note"
[Ovdje unesite povratne informacije]

---
#### Detalji dokumenta

⚠ *Ne uređujte ovu sekciju. Ona je neophodna za povezivanje problema slijedom docs.microsoft.com ➟ GitHub.*

* ID: fb3ac1e2-54d2-36ea-87a2-6b17551a1d72
* Version Independent ID: 64a58b86-c1d8-bf1e-6535-8f9613882636
* Content: [Export & delete data - LUIS - Azure Cognitive Services](https://docs.microsoft.com/bs-latn-ba/azure/cogniti

[2021-04-03 21:43] MartinJaffer-MSFT commented on #73223
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-04-03 21:46] MartinJaffer-MSFT commented on #73226
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-04-03 21:51] MartinJaffer-MSFT commented on #73228
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-04-03 22:08] MartinJaffer-MSFT commented on #73229
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-04-03 22:10] MartinJaffer-MSFT commented on #73230
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-04-04 00:20] tokogee opened #73232 "setx COGNITIVE_SERVICE_KEY "your-key""
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e866571-0651-bddb-f012-bf3bfe16f179
* Version Independent ID: 27429467-3c37-27da-b839-065268c6af23
* Content: [Create a Cognitive Services resource in the Azure portal - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-servi

[2021-04-04 03:48] droidamar007 commented on #35370
@iliassk Did you find any way to invalidate refreshToken? I'm also facing the same issue and stuck for several weeks.

If you find any way please help me out.

Thanks!

[2021-04-04 05:47] ram-msft commented on #73232
@tokogee Thanks for the question. Can you please add more details about the issue that you are trying.

[2021-04-04 08:21] TheITguy666 opened #73233 "backend listeners?"
On the beginning you mention a step: 'Create backend listeners'
But there is misleading as a listener is something "in front"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 841418eb-7a51-60fe-a651-bf77a7c790de
* Version Independent ID: 2a5ede90-8d15-e4d4-faa6-99efed460a54
* Content: [Tutorial: Hosts multiple web sites

[2021-04-04 09:32] iliassk commented on #35370
@droidamar007 I haven't tried but you should check out https://docs.microsoft.com/en-us/graph/api/user-revokesigninsessions?view=graph-rest-1.0&tabs=http to invalidate the refresh tokens through the Microsoft Graph API.

[2021-04-04 10:21] amichel commented on #25273
I'm using service principal that has Contributor rights at subscription level, but not "Storage Blob Data Contributor" at storage account, and it works when running from notebook, but fails when using Terraform databricks_azure_adls_gen2_mount resource.
I am able to mount same containers with exactly same client_id and secret from a notebook running on same cluster that terraform uses, but when ru

[2021-04-04 10:55] PKPublicCode opened #73235 "Are private Private Endpoints+VNet integration secure enough for TLS termination?"
Assuming that I build multi-tier application that consists of
a) services in VNet
b) application service with private enpoint and integration to VNet,
Is it secure to use HTTP calls between app service and services in VNet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2174e399-063b-129a-eef6-2c49a67fd4e2
* Version In

[2021-04-04 11:54] memildin commented on #72950
Yes, it looks like @v-rajagt broke my document and, in so doing, presented invalid information to our customers.

@vmonge thanks so much for the feedback and for taking the time to help us improve the docs. I've reverted this error and am going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

The changes should go live within 2 days.

#pl

[2021-04-04 11:54] #72950 closed

[2021-04-04 12:24] memildin commented on #73131
Hi @pemsft, thanks for the feedback and for taking the time to help us improve the docs.

This documentation page is going to get refreshed in the coming months, and we'll consider that suggestion when making the updates. For now, all the necessary extras you're looking for are within the relevant feature pages.

I'm going to close this issue, but feel free to comment again here or open a new one

[2021-04-04 12:24] #73131 closed

[2021-04-04 12:26] SherifRadwan-MS opened #73236 "Azure Intra Regions Latency"
If we can have the latency figures within the same azure region would be great, we have customers requires below > 1ms latency for their applications to work and we have to prove it through a long POC steps

It would be fantastic to have those figures handy within the same doc with and without PPG

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2021-04-04 12:28] memildin commented on #72853
Hi @thommck, thanks for the feedback and for taking the time to help us improve the docs.

The confusion comes from the fact that MS renames components and old names die hard :)

In fact "MMA" (the 'A' stands for agent) and "Log Analytics agent" are one and the same thing.

As explained in the [Log Analytics agent overview](https://docs.microsoft.com/en-us/azure/azure-monitor/agents/agents-overvie

[2021-04-04 12:28] #72853 closed

[2021-04-04 12:36] memildin commented on #67383
Hi @BASFmthibodeaux, thanks for the feedback and for taking the time to help us improve the docs.

This docs page lists many of the alerts available through Azure Security Center but still not all of them. We're working to make it an exhaustive list but I can't give you a firm date on when that will be completed.

This page is frequently refreshed, and we'll keep your comments in mind for the next

[2021-04-04 12:36] #67383 closed

[2021-04-04 12:46] lucianrica commented on #73135
I agree with not duplicating content and I understand it's a complex topic.

I believe that good documentation avoid having a `call to action` type of message until the user reached the end of the document. By `call to action` I mean messages with the following format **_...to find out more, click here..._** or **_...For a high-level overview, see [Scope in Azure Resource Manager](https://docs.mic

[2021-04-04 13:54] WinzLogic opened #73238 "Step 7. "y" is missing from you"
Step 7 towards the bottom of the page.  "y" is missing from you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5689b389-ead5-825d-dde1-9a290bc0819f
* Version Independent ID: 52a526a2-477a-dda4-02b4-eac1440811ed
* Content: [Add an API to Azure Static Web Apps with Azure Functions](https://docs.microsoft.com/en-us/azure/

[2021-04-04 15:07] SumanthMarigowda commented on #72738
@mandar-karnik Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.   I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in

[2021-04-04 15:07] #72738 closed

[2021-04-04 15:17] SumanthMarigowda commented on #72914
@gokala  Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused. You should be able to [mount](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-how-to-mount-container-linux), I would also recommend to use Azure File : https://docs.microsoft.com/en-us/azure/storage/files/storage-how-to-use-files-linux
I'd recommend posting your question in h

[2021-04-04 15:17] #72914 closed

[2021-04-04 16:10] EllenFinkelstein opened #73239 "How can I download the transcript of a video?"
I see in the documentation that a transcript is created but couldn't find instructions for downloading it.

Ellen Finkelstein

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f08a5b8-5d07-c53d-8ff2-04cf7a146e5a
* Version Independent ID: 2f277d08-e5ab-7ab9-865d-d70f887a3bc4
* Content: [What is Azure Media Services Video

[2021-04-04 16:10] dotnetexpo commented on #73160
@MartinJaffer-MSFT any update on this enquiry ?

[2021-04-04 16:25] RohitMungi-MSFT commented on #73160
I think you are using wrong region name. Please try the region short name as canadacentral, The referenced issue is using the correct short name. You can run the CLI command `az account list-locations` to get the correct short name list.

[2021-04-04 16:37] codekoma opened #73240 "Python3 runbook code does not work"
- Some imports were missing
- `azure_credential`, `runas_connection` were not declared

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fcc4942-ed7f-891b-8fb2-f0aed8237d38
* Version Independent ID: c061735f-c5ce-d6fb-b6c0-fe02ed4eae3d
* Content: [Create a Python 3 runbook (preview) in Azure Automation](https://docs.micr

[2021-04-04 16:37] ram-msft commented on #73233
@TheITguy666 Thanks for the feedback! We will review and update accordingly.

[2021-04-04 16:52] VikasPullagura-MSFT commented on #73215
@SvenAelterman Thanks for confirming back with the details.

[2021-04-04 16:52] #73215 closed

[2021-04-04 16:53] Dharm78 opened #73242 "Fix errors in code"
[Enter feedback here]
This documentation is either outdated or wrong.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d2754e5-acea-2ab9-5291-e5aa11a61f79
* Version Independent ID: ed9e617f-24a7-efa3-12da-6e59e357a947
* Content: [Getting started with Teams interop on Azure Communication Services - An Azure Communication

[2021-04-04 17:26] dotnetexpo commented on #73160
@RohitMungi-MSFT No, I don't think so. I had other sample code program with the same region mentioned is running fine.

here is link https://docs.microsoft.com/en-us/azure/cognitive-services/translator/quickstart-translator?tabs=csharp and code for other sample program: namespace textspeechconsole
{
    class Program
    {

        private static readonly string subscriptionKey = "f3b8513946af4fe8

[2021-04-04 18:07] dionito opened #73243 "Any way to do this in the Portal?"
PowerShell is ok, but when you need to do something once, the Portal UI is even better.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9f056c1-cf62-d72b-0ee2-49cffdefbe59
* Version Independent ID: ffc6723a-87e8-8e5e-3128-897a6a56bacf
* Content: [Secure WebHook delivery with Azure AD in Azure Event Grid - Azure Event G

[2021-04-04 18:26] mslot commented on #38914
Is the work around to self host and add these IPs to the vault: https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-linux?view=azure-devops#im-running-a-firewall-and-my-code-is-in-azure-repos-what-urls-does-the-agent-need-to-communicate-with

[2021-04-04 18:40] AjayKumar-MSFT commented on #73106
We will close this out, but if you feel you need more information please just let us know.

[2021-04-04 18:40] #73106 closed

[2021-04-04 18:55] KrishnaG-MSFT commented on #73240
@codekoma Thanks for your feedback and PR! We will review and provide an update as appropriate.

[2021-04-04 19:11] MartinJaffer-MSFT commented on #73235
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-04-04 19:14] MartinJaffer-MSFT commented on #73236
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-04-04 19:16] MartinJaffer-MSFT commented on #73238
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-04-04 19:21] MartinJaffer-MSFT commented on #73239
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-04-04 19:24] MartinJaffer-MSFT commented on #73242
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.  Could you please share which part of the document in specific is outdated/wrong, @Dharm78  ?

[2021-04-04 20:20] andrePKI opened #73244 "Decentralized"
What is said about decentralized workspace organization, that multiple logs are harder to correlate, does that still hold with Sentinel?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2eef15ca-6d22-382c-6715-3044e2841890
* Version Independent ID: 42a25f5a-c986-2336-e9b9-2fbebbc4a886
* Content: [Designing your Azure Mon

[2021-04-05 00:41] fredp613 opened #73248 "issue with permissions"
Hi despite following these instructions the output of the ps1 script provided in your docs provides the following output:

2021-04-05T00:36:18.7215947Z ==============================================================================
2021-04-05T00:36:18.7216620Z Task         : PowerShell
2021-04-05T00:36:18.7217179Z Description  : Run a PowerShell script on Linux, macOS, or Windows
2021-04-05T00:36:1

[2021-04-05 00:46] #73248 closed

[2021-04-05 00:47] fredp613 commented on #73248
By default, do not add the policies from the graphAPI thats there by default in the app registration. Instead add new ones and ensure the policies are applied at application layer not delegation.

[2021-04-05 00:48] aronchick opened #73249 "Bug in Azure Docs on PSQL creation"
When you create a DB from the command line with an underscore in it, it fails with "already created". But this is wrong - it's actually an invalid name.

![image](https://user-images.githubusercontent.com/51317/113526209-fe93b900-956d-11eb-9d20-e7c99bca6f0d.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60f34411-4

[2021-04-05 00:57] sunscorch opened #73250 "this doc seems a little bit out of date and there are some mistakes"
[Enter feedback here]
I am one of the support engineers, one of our cx raised ticket to this doc and we find there are some mistakes in this section
* My Microsoft Alias: **leisun**

 I would like to give some feedback that I found some mistakes in this doc. It would be good if you verify and correct them.

* **(1) Under “consumer. properties” file  (it looks like we do not use old consumer API, s

[2021-04-05 01:22] randyram-at-ms opened #73251 "I'm getting Forbidden from Get-AzWebAppPublishingProfile"
Would be nice if the page addressed this:

`Get-AzWebAppPublishingProfile : Operation returned an invalid status code 'Forbidden'`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7d73b21-aa15-4aa8-7a89-f22bc2a172b0
* Version Independent ID: 5d7b19c2-8170-a0b1-7c46-e1dff7b27d9b
* Content: [PowerShell: Upload files using

[2021-04-05 01:55] Norafify89 commented on #72922
Hi @JamesTran-MSFT,

Thank you for the explanation, it's really help me. I have more question for custom settings, my installation will use custom settings because I have 2 Forest (account and resource). As per below, I need to creating the account before installation but it's possible or recommended to let's AADC Wizard create the AD DS connector for me even with custom settings?

If you use cust

[2021-04-05 03:05] MartinJaffer-MSFT commented on #73243
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-04-05 03:19] RohitMungi-MSFT commented on #73160
Yes, Please use **canadacentral**. The code snippet from the first comment is using centralcanada.

`var config = SpeechConfig.FromSubscription("xxxxxx", "centralcanada");`

This seems like a config issue rather than a documentation issue. We would request you to please raise an [issue ](https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues)on the issues page of SDK repo if the sam

[2021-04-05 03:28] CHEEKATLAPRADEEP-MSFT commented on #73250
@sunscorch  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-04-05 03:32] JasonWHowell commented on #73250
Thanks @sunscorch it would be helpful if you could click edit on the top of the docs page and make the changes. Thanks so much, Jason

[2021-04-05 03:47] KrishnaG-MSFT commented on #73244
@andrePKI Thanks for your comment! We will review and provide an update as appropriate.

[2021-04-05 03:58] MayankBargali-MSFT commented on #72989
@gsambrotta The article talks about "Create a function app on Linux in an **Azure App Service plan**". The Note clearly states that
[code]

Linux in an Azure App Service plan does supports portal editing as mentioned above and I have tested to confirm the same. If you have created the function app in the consumption plan then you cannot create function in portal.

Hope the above clears things up.

[2021-04-05 03:58] #72989 closed

[2021-04-05 04:02] AshokPeddakotla-MSFT commented on #73062
I am unable to repro this issue. This would require further troubleshooting to find out the root cause. I suggest you, please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Issue as well as your subscription ID and we can help get the support ticket opened for this issue.
Please send an e

[2021-04-05 04:15] AnuragSharma-MSFT commented on #73249
@aronchick Thank you for the feedback. We are actively investigating and will get back to you soon

[2021-04-05 04:29] SubhashVasarapu-MSFT commented on #72838
@Ozzian, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-04-05 04:29] #72838 closed

[2021-04-05 04:31] v-amallick commented on #70663
#reassign:v-amallick

[2021-04-05 04:43] AshokPeddakotla-MSFT commented on #73100
@xtianus79 There are no changes required at the moment for the current doc. You have mentioned **It's not the way you create an IoT hub** The tutorial is for creating IoT Central and not IoT Hub. Please let us know what exactly are you referring to and what needs to be changed.

[2021-04-05 04:59] SnehaAgrawal-MSFT commented on #73044
@jzhouw Thanks!. Your feedback has been shared with the content owner for further review

[2021-04-05 05:18] HarshalAwasthi-8978 opened #73252 "Azure Data Flow Unable to connect to Managed Instance in Private Cloud"
Hello Experts,

I have Managed Instance under Express Route peering Subnet, Opened Public endpoint, and provisioned port 3342 to allow public endpoint access, Linked Services are working as expected and copy activity is working great, however, when using dataflow sink is throwing following error

StatusCode":"DFExecutorUserError","Message":"Job failed due to reason: at Sink 'Group': java.lang.Runt

[2021-04-05 05:23] SnehaAgrawal-MSFT commented on #73065
@pierrejeandev We will close this out but if you feel you need more information please just let us know.

[2021-04-05 05:23] #73065 closed

[2021-04-05 05:34] SnehaAgrawal-MSFT commented on #73251
@randyram-at-ms Thanks for the feedback! We will review and update accordingly.

[2021-04-05 05:34] amanmcse commented on #72969
@gitforanand Please refer to below string ids and examples:

- ver_sent - Verification code has been sent to:
- ver_info_msg - Verification code has been sent to your inbox. Please copy it to the input box below.
- ver_fail_retry - That code is incorrect. Please try again.

**Examples:**

`    <LocalizedString ElementType="UxElement" StringId="ver_fail_code_expired">That code is expired. Please re

[2021-04-05 05:34] #72969 closed

[2021-04-05 05:41] amanmcse commented on #73042
@khharper I've assigned it to the author of the document to review and update.

[2021-04-05 06:10] talalgit commented on #24635
the error still persistent on Raspberry Pi OS Stretch.

![moby-engine](https://user-images.githubusercontent.com/47065888/113543323-ced8c580-95ee-11eb-9f89-7cf8f95371b7.jpg)

[2021-04-05 06:11] talalgit commented on #24635
Please check my post.

[2021-04-05 06:32] CHEEKATLAPRADEEP-MSFT commented on #73252
@HarshalAwasthi-8978  Please help with the link to the document on which the above document feedback request is created.

In case your query is not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community

[2021-04-05 06:33] rboucher commented on #21566
I believe the Key Vault solution has been replaced by Key Vault Insights at this point.  Correct @bwren ?

[2021-04-05 06:34] rboucher commented on #20295
We appreciate your question. Sorry didn't fully answer in a timely manner. Since this question was created some time ago, we don't know if it still applies. We kindly ask you to create a new github issue if it's still important. We will engage with you on the new thread. Thank you for your understanding.

#please-close

[2021-04-05 06:34] #20295 closed

[2021-04-05 06:36] rboucher commented on #48835
#assign:rboucher

[2021-04-05 06:38] rboucher commented on #48835
I believe this is documented at this location now. https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/metrics-getting-started#share-your-metric-chart.  If that's not enough, please let us know and open a new issue.

#please-close

[2021-04-05 06:38] #48835 closed

[2021-04-05 06:39] rboucher commented on #35574
@vgorbenko Anything been done on this recently?

[2021-04-05 06:39] rboucher commented on #35574
#assign:rboucher

[2021-04-05 06:44] rboucher commented on #57611
#label:"CreateAzMonWIFeb2021"

[2021-04-05 06:45] rboucher commented on #42655
May need documentation.
#label:"CreateAzMonWIFeb2021"

[2021-04-05 06:45] rboucher commented on #40998
#label:"CreateAzMonWIFeb2021"

[2021-04-05 06:46] rboucher commented on #34080
#label:"CreateAzMonWIFeb2021"

[2021-04-05 06:46] rboucher commented on #42707
#label:"CreateAzMonWIFeb2021"

[2021-04-05 06:48] rboucher commented on #53358
#label:"CreateAzMonWIFeb2021"
Have to check on status with PG.

[2021-04-05 06:48] AnuragSharma-MSFT commented on #73218
@kotpal I tried to use the document and was able to run the code successfully as mentioned in the document.

Can you please update the program.cs file with entries as mentioned below:

`private static string Host = "youraccountname.gremlin.cosmos.azure.com";`

` private static string PrimaryKey = "yourprimrykey";`

`private static string Database = "sample-database";`

`private static string Conta

[2021-04-05 06:50] rboucher commented on #13053
This information is covered in this article now. Has been for a few years.
https://docs.microsoft.com/en-us/azure/azure-monitor/alerts/action-groups-logic-app

We appreciate your question. Sorry didn't fully answer in a timely manner. Since this question was created some time ago, we don't know if it still applies. We kindly ask you to create a new github issue if it's still important. We will eng

[2021-04-05 06:50] #13053 closed

[2021-04-05 06:52] rboucher commented on #44112
#label:"CreateAzMonWIFeb2021"

[2021-04-05 06:52] rboucher commented on #43803
We appreciate your question. Sorry didn't fully answer in a timely manner. Since this question was created some time ago, we don't know if it still applies. We kindly ask you to create a new github issue if it's still important. We will engage with you on the new thread. Thank you for your understanding.

#please-close

[2021-04-05 06:52] #43803 closed

[2021-04-05 06:53] rboucher commented on #43225
@ofirmanor.  Any comments?

[2021-04-05 06:54] rboucher commented on #43225
#label:"CreateAzMonWIFeb2021"

[2021-04-05 06:54] rboucher commented on #67073
#label:"TriagedFeb2021"

[2021-04-05 06:55] KrishnaG-MSFT commented on #73146
@TRViana Thanks for reaching out! I also have tried to reproduce the issue and could see similar output as shown in below screenshot.

![image](https://user-images.githubusercontent.com/45988031/113543722-9cd25e00-9604-11eb-806b-8c46eb86b6d2.png)

Then, I have tried to list all the available features related to the namespace "Microsoft.Resources" as shown in below screenshot where I couldn't find

[2021-04-05 06:58] munir94 opened #73254 "you don't need a schedule to perform backups - Storage Account Backup"
Hello There, is this means that every time a new file added to storage account , the backup will be trigger ?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb741ba5-039d-d609-7795-e4900b0174d4
* Version Independent ID: 6181e7de-8415-e07f-f6c9-a5d4c4460231
* Content: [Configure operational backup

[2021-04-05 07:03] kotpal commented on #73218
I checked the values many times over. I copy pasted the various values to ensure that there are no typos.
I am able to connect to a gremlin server running locally - but not to the one on Cosmos DB.

[2021-04-05 07:04] AnuragSharma-MSFT commented on #73249
@aronchick Rightly mentioned by you. The error message is misleading.

I am assigning this to content author to take it further with product group.

[2021-04-05 07:08] andrewatfornax commented on #57002
#please-open and either let me know what changes are being proposed, or why no changes are being proposed?

[2021-04-05 07:12] SubhashVasarapu-MSFT commented on #72821
@hisasima, Appreciate your patience. We have assigned this issue to the respective content author to update the document accordingly.

[2021-04-05 07:13] stmccartney commented on #72534
Hi Kelly,

Yes, that sounds like a good idea. Adding a note to the PowerShell steps
seems like the best approach - as you say, it's much clearer in the UI.

Many thanks,

Stephen McCartney

On Sat, 3 Apr 2021, 00:27 Kelly Gremban, ***@***.***> wrote:

[2021-04-05 07:19] AshokPeddakotla-MSFT commented on #72982
@phamqduc Thanks for the PR.
@ChrisEke PR has been created to update the doc with correct email azuremrscontact@microsoft.com changes will go live once it has been peer reviewed and merged.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-05 07:19] #72982 closed

[2021-04-05 07:26] SubhashVasarapu-MSFT commented on #72852
@sreddy58, Appreciate your patience. This is by design of Azure Private Link and there is no ask/feature our feedback section till date about this feature request. Creating private link endpoints injects /32 routes into your Azure subnets. Hence you want to create User-Defined Routes for your endpoint using specific /32 prefixes too else the most specific prefix will take preceding's.
But you can