[2021-08-24 12:32] ram-msft commented on #80091
Thanks, @Blackmist Could you please check on this.

[2021-08-24 12:37] ChrisAtMAF opened #80126 "Under 'Require app protection policy', Microsoft Teams is now supported?"
Under 'Require app protection policy', isn't Microsoft Teams now supported? (see Microsoft 365 Roadmap ID 87773 - https://www.microsoft.com/en-au/microsoft-365/roadmap?filters=&searchterms=84773)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd934939-4dbb-3a92-f996-56b9557f49ac
* Version Independent ID: 3cda6b81-26e8-

[2021-08-24 12:44] marki555 opened #80127 "Generally Available?"
In the table you list most of the Speech containers with Release Status "Generally Available". However it seems that one still needs to have approved request to use them. So what does the "Generally Available" mean?

And the request form says that Speech containers are only for "Microsoft Partners, EA Customers, and employees". Is this still valid when this page lists them as GA?

---
#### Documen

[2021-08-24 12:46] iNdYvidual commented on #80120
Thank you for the super quick reply.
Just as a side note:
I just saw that the equivalent documentation for Windows has the same issue (missing colon in Policy name):
https://docs.microsoft.com/en-us/azure/governance/policy/samples/guest-configuration-baseline-windows

[2021-08-24 12:52] DCtheGeek commented on #80120
Yup! I caught that and am fixing both right now. :)

[2021-08-24 13:27] vhorne commented on #74311
fixed
#please-close

[2021-08-24 13:27] #74311 closed

[2021-08-24 13:36] moharmin commented on #48272
The above issue still exists. It was fixed in the example under "Workflow definition and parameters" but in the next example under subsection "Secure workflow definition parameters" it's still there.

`            // End workflow definition
            // Start workflow definition parameter values
            "parameters": {
               "authenticationType": "[parameters('TemplateAuthentication

[2021-08-24 13:41] Nicholak-MS commented on #63473
Hi @flcev, I am not seeing the issue you are reporting. Are you still seeing this issue? It is possible it was fixed. If you are still seeing this issue please provide more details like the stringID and GUID's you are referencing.

[2021-08-24 13:41] Nicholak-MS commented on #63473
#please-close

[2021-08-24 13:41] #63473 closed

[2021-08-24 13:45] BhargaviAnnadevara-MSFT commented on #80121
@piotrsrodka Thanks for the question. We're investigating this and will get back to you shortly.

[2021-08-24 13:47] ivratche opened #80130 "Password Reset of Synchronized Account DOES NOT remediate risk"
[We should make it clear in the article that password reset on-prem for an account synchronized to AAD, does not remediate the risk. It is not clear right now and is confusing.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bff3e81f-1107-2b97-8ae1-c85cf2314c95
* Version Independent ID: 63d5a109-a072-4442-972c-87a5f6bc

[2021-08-24 13:58] GitaraniSharma-MSFT commented on #80111
@AndrevdG , thank you for the feedback. We have assigned this to the content owner/author for review.

@vhorne , could you please review the above feedback and discuss the same with PG to clarify the concerns?

[2021-08-24 13:59] GitaraniSharma-MSFT commented on #80123
@qureshiaquib , thank you for your feedback. We'll review this and get back to you shortly!

[2021-08-24 14:10] chtourou-youssef opened #80131 "Exclude some folder to be swapped"
I've a PHP azure web application ( custom docker image / linux , with two slot : production and pre-prod ) , each contains it's own logs.

the problem is : when swap, all folder will be swapped including the log file , so , the log of production slot will be swapped to pre-prod slot and vise-versa

it's possible to exclude a particular folder ? because file mapping settings is swapped and no optio

[2021-08-24 14:32] aelij opened #80132 "Azure.Data.Tables SDK"
It looks like the SDK library `Microsoft.Azure.Cosmos.Table` is also deprecated in favor of [`Azure.Data.Tables`](https://docs.microsoft.com/en-us/dotnet/api/overview/azure/Data.Tables-readme):

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cd9a43c-1db8-eed4-5c76-4206c639c8ec
* Version Independent ID: 22eb758f-6247-ab

[2021-08-24 14:42] #80120 closed

[2021-08-24 14:45] JFolberth commented on #80036
Thanks that was it!

[2021-08-24 14:45] #80036 closed

[2021-08-24 14:54] cj8686 opened #80134 "User has a temporary password - now an optional feature"
Please update this section to include reference to the option to enable sync of temporary passwords - Set-ADSyncAADCompanyFeature -ForcePasswordChangeOnLogOn $true

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3409f9c9-509a-2c44-9478-7c3121aecf7e
* Version Independent ID: cb5be19e-f44a-4160-e36f-b98b6799ac08
* Content

[2021-08-24 14:58] jamie-evans-gridbeyond opened #80135 "Page Out of Date?"
I think the page needs updating because there doesn't seem to be any attribute options for any of the templates, and no option to disable email verification.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4f2f68f-0b69-2156-990d-c21937d52e65
* Version Independent ID: b93c92d9-6635-5c03-c728-fe8339f1747f
* Content: [Dis

[2021-08-24 15:32] shashishailaj commented on #80115
@MarcoJanse Thank you for your feedback . We will engage the content team for this request .

[2021-08-24 15:35] shashishailaj commented on #80119
@Neutrino-Sunset Thank you for sharing you feedback  We will investigate and update on the thread .

[2021-08-24 15:37] MarileeTurscak-MSFT commented on #80126
@ChrisAtMAF
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-24 15:43] shashishailaj commented on #80135
@jamie-evans-gridbeyond Thank you for sharing the feedback . We will investigate and update the thread.

[2021-08-24 15:44] jonasaebersold opened #80136 "Get Client ID programmatic (like AzMaps in Powershell)"
[Enter feedback here]

We use Azure Automation for the deployment of our services. Is there a way to access the "Client ID" of an Azure Maps account with code? Like a REST call or with Powershell commands? If there is a way to get the "Client ID", it would be great if you could add it to this Note: _x-ms-client-id is the Azure Maps account-based GUID that appears on the Azure Maps authentication p

[2021-08-24 15:44] shashishailaj commented on #80134
@cj8686 Thank you for your feedback . We will investigate and update the thread.

[2021-08-24 15:46] shashishailaj commented on #80116
@HenryFreiburg Thank you for pointing that out. We will investigate and update the thread.

[2021-08-24 15:48] shashishailaj commented on #80116
@HenryFreiburg We are engaging the content team for updating the article.

[2021-08-24 15:50] shashishailaj commented on #80135
@jamie-evans-gridbeyond We have engaged the content team to review this and update accordingly .

[2021-08-24 15:55] v-amallick commented on #79970
@nitvit610/@SadiqhAhmed-MSFT: I've updated the article. It will soon reflect in the article. Thanks.

[2021-08-24 15:55] RyanHill-MSFT commented on #79510
@JozoSlejko, three instance minimum count is mentioned over [here](https://docs.microsoft.com/en-us/azure/app-service/environment/overview#pricing). I will follow up with the content author about elevating this information. That section also mentions that instances are spread across AZs as the plan is scaled, but to be honest, I'm not sure exactly sure which zone gets the instance first. I can fol

[2021-08-24 15:59] thomas-hahn-kr opened #80137 "Cannot enter \* for default path"
The documentation says a default path of \* needs to be entered. The UI disallows \* in favor of /*

[](url)
###

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0880a27b-9437-31a1-ebec-1a892a207b3d
* Version Independent ID: 2df0a3fb-77f1-7cc2-8af0-ce239aacaae7
* Content: [Quickstart: Set up high availability with Azure

[2021-08-24 16:11] AshokPeddakotla-MSFT commented on #79896
@terrymandin As suggested, please file a support case.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-08-24 16:11] #79896 closed

[2021-08-24 16:11] Grace-MacJones-MSFT commented on #80131
Thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2021-08-24 16:15] kenwith commented on #77767
The diagram is updated and should be live shortly. I have also raised the SAML issue with the product team and will get it updated as soon as they respond.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/170124
#please-close

[2021-08-24 16:15] #77767 closed

[2021-08-24 16:17] MonikaReddy-MSFT commented on #80034
Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-08-24 16:32] msangapu-msft commented on #80003
Hi @HaiderShahid - I hope my response was useful. We've not heard back from you and will close this item.

#please-close

[2021-08-24 16:32] #80003 closed

[2021-08-24 16:40] whhender commented on #80011
@natecouto - Thank you! I'll work on getting some of those additional/most popular Azure source domains added. We will not be able to support a list of all possible domains, but I can certainly add some of the most used here.

I'll get those added this week.

[2021-08-24 16:41] MSNev commented on #79776
@harre096 How are you calling and using the Sender?

For the Snippet, you should also enable the "crossOrigin" setting for the snippet as documented here (https://github.com/Microsoft/ApplicationInsights-JS#snippet-configuration-options)

If you could provide a fiddler (or HAR) trace of the issue, this will help diagnose -- although I do acknowledge your comment `I can't figure out how to reproduc

[2021-08-24 16:42] kenwith commented on #50772
There is a lot of great product feedback in this doc issue. This is an old issue and there have been known RFC compliance issues. A number of the issues have been resolved and there is work to resolve additional issues. For the issues that have been resolved there is documentation available here: https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/application-provisioning-conf

[2021-08-24 16:42] #50772 closed

[2021-08-24 16:43] whhender commented on #80074
@jeremiahhoward - I'm looking into this issue now, to see if we can point to a more specific doc for purview, or if the same principals apply. I'll keep you up to date here. Thank you!

[2021-08-24 16:52] whhender commented on #80090
I'm looking into this issue now and will update you here! Thank you for your patience!

[2021-08-24 16:54] KBaroni commented on #80090
Hi Whitney - I should have waited a few more hours after provisioning my subscription.  It IS now showing up on my compliance page.  Thank you for following up ~

From: Whitney Henderson ***@***.***>
Sent: Tuesday, August 24, 2021 10:53 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Kate Baroni ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] No 'information protection'

[2021-08-24 16:57] mikebudzynski commented on #61561
API Management now supports custom domain certificates encrypted with the `AES256_SHA256` algorithm: https://github.com/Azure/API-Management/releases/tag/release-service-2021-08 Please, allow a few weeks for the release to roll out.

#please-close

[2021-08-24 16:57] #61561 closed

[2021-08-24 17:00] julieMSFT commented on #78982
@ayanan1020 Thank you for contacting Microsoft. I believe the document updated resolves this issue. I will go ahead and close this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2021-08-24 17:00] julieMSFT commented on #78982
#assign:julieMSFT

[2021-08-24 17:01] julieMSFT commented on #78982
#please-close

[2021-08-24 17:01] #78982 closed

[2021-08-24 17:03] tamram commented on #79901
@twooley FYI

[2021-08-24 17:08] SaurabhSharma-MSFT commented on #80033
@subspacefield I see email address -
mailto:AskAzureDBforPostgreSQL@service.microsoft.com available on the page.

Thanks
Saurabh

[2021-08-24 17:19] JamesTran-MSFT commented on #80130
@ivratche
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-08-24 17:22] MicrosoftGuyJFlo commented on #80006
The feature is in preview so is not currently available in GCC High. #please-close

[2021-08-24 17:22] #80006 closed

[2021-08-24 17:31] himanshusinha-msft commented on #80056
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on [Microsft Q&A ](https://docs.microsoft.com/en-us/answers/questions/351151/azure-synapse-analytics-2.html)and other forums , we have our engineers and others who are monitoring them and will be happy to

[2021-08-24 17:31] #80056 closed

[2021-08-24 17:50] SatishBoddu-MSFT commented on #80127
Hello @aahill thanks for the query.

Our SME will review your query and will get back to you.

[2021-08-24 17:59] v-gpettibone commented on #56291
Removed the column from the General, Identity and access management, Data protection and Networking tables
Kept column only for Monitoring table only.
Changed ASC to Azure Defender for IoT

[2021-08-24 18:00] v-gpettibone commented on #56291
#please-close

[2021-08-24 18:00] #56291 closed

[2021-08-24 18:01] ChaitanyaNaykodi-MSFT commented on #80137
Hello @thomas-hahn-kr,
Thank you for your feedback! We will review and update as appropriate.

[2021-08-24 18:16] rmahonPVH opened #80138 "AAD Token"
When getting the AAD token you should mention the resource otherwise the token will be invalid:
az account get-access-token --resource 2ff814a6-3304-4ab8-85cb-cd0e6f879c1d -o json

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47bb00ae-8ec1-0000-4972-5dfd22983982
* Version Independent ID: 8a8a2723-9a42-1f24-80c4-9c44b5

[2021-08-24 18:36] laultman opened #80140 "Black screen after successful model loading ARR"
I have the black screen as described in the Troubleshooting guide. However I am NOT receiving any frames from the server in the Unity app. There is nothing in the troubleshooting guide to help with this. I get no errors, and I can find no server side logs to help with the issue.
I checked the codec as described and it is current. I attempted to delete the "temp" libraries and obj folders in the Un

[2021-08-24 18:48] FlorianBorn71 commented on #80140
Hi, if it renders correctly in ARRT then it means that the model itself is OK. Also the fact that Quickstart did load the model without error indicates that everything went fine on that end.

However one important difference is that ARRT by default re-centers the model so its bounding box is inside the camera frustum. What I guess happened is that the source model has some kind of large translatio

[2021-08-24 18:55] daemel opened #80142 "How does a customer use a function to connect to Azure API using a function in this setup"
When setting up a function to work with Azure API for FHIR we are seeing 401 errors from Azure AD when a customer is using their own managed key within key vault.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1eb2941c-56a7-51ff-f333-0fbd4c9cbe51
* Version Independent ID: 6dcb24c0-e278-7a1a-d467-ca839146601f
* Content:

[2021-08-24 18:59] DEberhardt commented on #78499
I am delighted to find now 233 Licenses (+~100?).
Just wondering whether there is an "Office 365 A3 For Student" license that is missing here.

[code]

[2021-08-24 19:06] ChaitanyaNaykodi-MSFT commented on #79948
Hello @manishjha2088,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-08-24 19:21] MarileeTurscak-MSFT commented on #80077
Looks like this tool is no longer valid. https://github.com/MicrosoftDocs/azure-docs/issues/55171

@kenwith do you have a contact for this who could provide an update?

[2021-08-24 19:22] Ticozolano74 opened #80143 "Public document out of date"
Hello team,

I'm a Microsoft Support engineer, who works on the ABRS team.

Looking at this MS document (https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-how-to-enable-zone-to-zone-disaster-recovery#faqs) that is out of date, the date listed is from 04/08/2020 and there is a newer MS document that is 5-month-old, and it shows Brazil South been added

https://azure.microsoft.com/

[2021-08-24 19:25] kenwith commented on #80077
@MarileeTurscak-MSFT - correct, that tool doesn't exist anymore. The link in the other issue has also been updated to: https://docs.microsoft.com/en-us/azure/active-directory/app-proxy/application-proxy-add-on-premises-application#open-ports   I will update the other issue too with the correct link.

[2021-08-24 19:44] DavidVivash opened #80144 "Broken link"
There's a link to the feedback page under "What features are supported in an RDP session?" that points to
https://feedback.azure.com/forums/217313-networking?category_id=367303
It does not appear possible to provide feedback/feature requests via that link any more

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03ec4426

[2021-08-24 19:56] aahill commented on #79994
Thanks for reaching out @zaalion

we don't have any specific recommendations for subnet size; it depends what will support your business needs; for example how many private IPs you want to deploy to that subnet.

We can share the general [networking limits](https://docs.microsoft.com/azure/azure-resource-manager/management/azure-subscription-service-limits#networking-limits) so you know how many m

[2021-08-24 19:56] #79994 closed

[2021-08-24 20:05] Oury-MSFT commented on #80132
@aelij  Thank you for your feedback . We are reviewing this and will get back shortly.

[2021-08-24 20:12] rwike77 commented on #77965
@ZachEdwards7  I've done a little investigation on this but some of the engineers I need to talk to have been out.  I've opened up an internal workitem 1524237 to track this.  I'm closing this issue for now, will update in the future when there's more information.  Thanks.  #please-close

[2021-08-24 20:12] #77965 closed

[2021-08-24 20:12] kenwith commented on #80077
I raised the Event Viewer issue with the product team.

#please-close

[2021-08-24 20:12] #80077 closed

[2021-08-24 20:13] Blackmist commented on #80091
Hi @davystrong thanks for reporting this problem.

I'll have to research; the RSS feed isn't something that I have direct control over. It's supposed to 'just happen'. I'll see if I can find the correct folks internally to investigate why it's not updating as expected.

[2021-08-24 20:14] subspacefield commented on #80033
I sent an email to the email address and it bounced so I thought it was not valid anymore. Might have been a temporary issue, you can close this issue.

[2021-08-24 20:21] RyanHill-MSFT commented on #79733
Hi @OzBob, we've added a new section to the doc explaining the renewal process. Thanks for calling this out.

[2021-08-24 20:21] #79733 closed

[2021-08-24 20:25] davystrong commented on #80091
Great, thanks!

[2021-08-24 20:26] baanders commented on #79991
Hi @Sdelausnay, thank you for this inquiry! It turns out that this scenario isn't currently supported in Azure Digital Twins: we don't currently provide the capability to filter events based on fields within an array, including the `patch` section on a twin update notification. I apologize for the inconvenience and have noted this as a feature request.

I'm also adding a note to the document to cl

[2021-08-24 20:26] AjayKumar-MSFT commented on #79960
farjaf, Apologies for the delay!   Kindly review the Connection String value for correctness. the local development environment uses a Sqlite database file, and the Azure production environment uses a connection string from App Service. With Active Directory authentication, you want both environments to use the same connection string. In appsettings.json, replace the value of the MyDbConnection co

[2021-08-24 20:34] PatrickFarley commented on #77922
The service does not have a built-in mechanism to retry api calls. But I'll add this info as a tip in the how-to guide for image analysis
#please-close

[2021-08-24 20:34] #77922 closed

[2021-08-24 20:48] Nicholak-MS commented on #78499
Thanks @DEberhardt. I just submitted a PR to include Office 365 A3 for students it should publish later today or early tomorrow.

[2021-08-24 20:53] PatrickFarley commented on #79632
I don't know of a way to check the result without polling it. We use a polling timer on many similar APIs. You could always shorten the time of delay to reduce the lag.
#please-close

[2021-08-24 20:53] #79632 closed

[2021-08-24 20:56] tgiphil opened #80147 "Documentation Issue: App protection policies with Conditional Access"
In Scenario 3, step 9: "Under Access controls > Grant, select the following options", the "Require one of the selected controls" should be "Require all the selected controls" instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14348ba7-48f0-1862-ebec-0fc3640e587d
* Version Independent ID: 8188cee4-3f28-6014-f3be-1e

[2021-08-24 21:02] MarileeTurscak-MSFT commented on #80147
@tgiphil
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-24 21:08] veyalla commented on #79872
#please-close

[2021-08-24 21:08] #79872 closed

[2021-08-24 21:20] MarileeTurscak-MSFT commented on #80122
@v-bbalaiagar please provide a link to the document you are following so that we can better assist.

[2021-08-24 21:37] laultman commented on #80140
Did check the bounding box as was suggested in the troubleshooting guide. The largest number in the X was 167. This seemed to be in the "good" range compared to the 1000 or 2000 in the guide. However I will attempt a new rendering export.

[2021-08-24 21:37] MoAGitHub commented on #79632
@PatrickFarley If we reduce the delay time, the billing cost will be more. As you know, Microsoft charges you based on how many calls you make. I wish there was a smarter way to achieve this (rather than to use polling technique).
When I tired to reduce the time of the delay on the free tier, it started throwing exceptions and it asked to not make request so frequently (which means to increase the

[2021-08-24 21:40] joeljanke opened #80148 "Windows Always On VPN"
Outside of the `"<AlwaysOn>true</AlwaysOn>"` portion of the XML on this page there is no mention whatsoever that this works with Windows Always On VPN.   It would provide some clarity to explain further that this configuration is for Windows Always On VPN and thus the VPN experience will be seamless to the user without any prompting.  A nice paragraph on Windows Always On VPN and explaining what t

[2021-08-24 21:40] laultman commented on #80140
Just for additional info, your comments seem to indicate that if the object is not in the user view then ARR does not continue to update the object? For instance, the object is in another room out of my sight?

[2021-08-24 22:05] farjaf commented on #79960
Thanks Ajay,

I've already achieved the result with updating the connection string to Azure SQL but when followed the tutorial to update the connection string before sql migration I suspect it caused the issue. I tried both Powershell and CMD. Any ideas? also why we need to update from environmental variables?

(Below from tutorial)
# Set connection string to production database
# PowerShell
`$env

[2021-08-24 22:16] #79991 closed

[2021-08-24 22:27] #79869 closed

[2021-08-24 22:33] jlichwa commented on #78979
@porrascarlos802018 AKS implemented new version of CSI driver with Azure Support. We deprecated old key vault tutorial, please check new guide provided by AKS team here:
https://docs.microsoft.com/en-us/azure/aks/azure-disk-csi

If there are any issues, please create item on their documentation.
#please-close

[2021-08-24 22:33] #78979 closed

[2021-08-24 22:35] jlichwa commented on #79004
@bhargav-volet AKS implemented new version of CSI driver with Azure Support. We deprecated old key vault tutorial, please check new guide provided by AKS team here:
https://docs.microsoft.com/en-us/azure/aks/azure-disk-csi

If there are any issues, please create item on their documentation.
#please-close

[2021-08-24 22:35] #79004 closed

[2021-08-24 22:38] jlichwa commented on #79005
@carmodyquinn  AKS implemented new version of CSI driver with Azure Support. We deprecated old key vault tutorial, please check new guide provided by AKS team here:
https://docs.microsoft.com/en-us/azure/aks/azure-disk-csi

If there are any issues, please create item on their documentation.
#please-close

[2021-08-24 22:38] #79005 closed

[2021-08-24 23:05] MarileeTurscak-MSFT commented on #80147
I agree that this is confusing and it looks like this document is undergoing an update to clarify this point. There's a related issue here: https://github.com/MicrosoftDocs/azure-docs/issues/73762/

It seems that if you select both options "Require approved client app" and "Require app protection policy" with the Grant set to "Require one of the selected controls" the "Require app protection polic

[2021-08-24 23:09] MarileeTurscak-MSFT commented on #80136
@jonasaebersold
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-24 23:16] b-juche commented on #80116
@HenryFreiburg - Thank you, Henry!  Will follow up and let you know.
~ Julie (juliec@netapp.com; b-juche@microsoft.com)

[2021-08-24 23:44] tony1111111111111 opened #80149 "Inconsistent minimum version of Windows Server required for password writeback feature"
Hi,

Inconsistent minimum version of Windows Server required for password writeback feature.

https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-install-prerequisites
Azure AD Connect must be installed on a domain-joined Windows Server 2016 or later.

https://docs.microsoft.com/en-us/azure/active-directory/authentication/tutorial-enable-sspr-writeback
You typically insta

[2021-08-25 00:07] dlepow commented on #77258
@najohnson-msft - Just to let you know the article has been updated and the out-of-date video removed. Thank you again for raising the issue.
#please-close

[2021-08-25 00:07] #77258 closed

[2021-08-25 00:08] Oury-MSFT commented on #80142
@daemel Thank you for contacting Microsoft. We are looking into this and will get back shortly.

[2021-08-25 00:10] SaurabhSharma-MSFT commented on #80069
@ntorvik The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2021-08-25 00:10] #80069 closed

[2021-08-25 01:32] southwolf opened #80151 "Creating Azure Function Java did not work as expected"
Only a minimum java project was created after

[code]

![image](https://user-images.githubusercontent.com/150648/130711507-75cbac46-dfea-4694-b54c-7839f4834b3a.png)

No configuration files or anything mentioned in the document
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47cb39a6-cd9e-4f02-b31b-1e09d6a7fa3f
* Version

[2021-08-25 01:32] Karishma-Tiwari-MSFT commented on #79938
Azure Kubernetes Service (AKS) is a free container service that simplifies the deployment, management, and operations of Kubernetes as a fully managed Kubernetes container orchestrator service. **Paying for only the virtual machines, and associated storage and networking resources consumed** makes AKS the most efficient and cost-effective container service on the market.

Azure Load Balancer is a

[2021-08-25 01:33] #79938 closed

[2021-08-25 01:35] mike-urnun-msft commented on #79834
Hello @ErikMogensen - Thanks again for reporting this to us and helping us drive improvements towards MS Docs. I have created a PR that updates the statement to read as follows:

Changes should be live shortly after the PR is approved and merged. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussi

[2021-08-25 01:35] #79834 closed

[2021-08-25 01:48] YutongTie-MSFT commented on #80040
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-08-25 01:48] #80040 closed

[2021-08-25 01:56] MonikaReddy-MSFT commented on #80143
@Ticozolano74 -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-08-25 02:00] brootware opened #80152 "[Query] on cluster shut down"
[Enter feedback here]
Hi, I  got a question about the Azure Red Hat Openshift support policy for the cluster configuration. It's stated here that

1. Am I able to scale the master and worker nodes to 1 at least in the OpenShift cluster?
2. What are the options available for me to save cost as I am running a proof of concept and would like to minimize cost for the duration of the POC period.?

---

[2021-08-25 02:07] ggailey777 commented on #80151
I'm not able to reproduce your issue. This is what I get:
![image](https://user-images.githubusercontent.com/1388263/130714102-c07646c2-35b0-4ac2-a59b-6da83a51acf1.png)
I also don't get that message. Have you verified the prerequisites versions?

[2021-08-25 02:20] bigkangji opened #80153 "Azure CLI commands are incorrect"
Hello All,

Azure CLI commands in the docs are incorrect.

1. The following command is wrong. Two argument are wrong
   : Instead of "address-prefix", "address-prefixes" is right.
   : Instead of "subnet-prefix", "subnet-prefixes" is right.

az network vnet create \
  -n VNet1 \
  -g TestRG1 \
  -l eastus \
  --address-prefix 10.1.0.0/16 \
  --subnet-name Frontend \
  --subnet-prefix 10.1.0.0/24

[2021-08-25 03:06] yutaro113 opened #80155 "All settings which is not cloned should be mentioned."
Hi team,
In this page, current restriction for cloning is mentioned.
But as far as I checked, there is other config which won't be cloned.
Please mention all settings which is not copied while clone operation.

<Examples I found＞
・Custom Domain
・Diagnostic Settings
・Inbound IP

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-08-25 03:48] weitzhandler opened #80156 "IP address for CNAME, if ALIAS not available"
Hi,

I've watched the video and followed the instructions and managed to do all, up until forwarding the root domain (3:28 in the video).
The thing is that some major domain providers (GoDaddy, Google) don't provide ALIAS records, and in addition don't allow `CNAME` record forward with `@`, and that port to a website, only to an IP address.
Please elaborate further on how to deal with these situat

[2021-08-25 03:59] CHEEKATLAPRADEEP-MSFT commented on #80138
@rmahonPVH  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-08-25 04:04] SubhashVasarapu-MSFT commented on #80144
@DavidVivash, Thanks for reaching out. We will investigate and update this thread.

[2021-08-25 04:05] SubhashVasarapu-MSFT commented on #80153
@bigkangji, Thanks for reaching out. We will investigate and update this thread.

[2021-08-25 04:28] pavinan opened #80157 "How to get 'id_token' for managed identity or user assigned identity?"
How to get 'id_token' for managed identity or user assigned identity?

Only details about 'access_token' is written in doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aaf35ebc-b14e-167f-9f73-c7df4d2b60b5
* Version Independent ID: 32e1d780-ca81-a67c-1af0-b7f0bfc8149c
* Content: [Use managed identities on a virtual m

[2021-08-25 04:50] amanmcse commented on #80149
@tony1111111111111 Thank you for your feedback. We will investigate and update the thread further.

[2021-08-25 04:54] amanmcse commented on #80148
@ Thank you for your feedback. We will investigate and update the thread further.

[2021-08-25 04:58] VikasPullagura-MSFT commented on #80104
@RenSilvaAU
The limit that you see in the document are the default limits that are imposed per subscription and region.
These limits can be increased based on the subscription type as documented.

https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#container-instances-limits

Hope that clarifies.

![image](https://user-images.githubusercontent

[2021-08-25 04:58] #80104 closed

[2021-08-25 05:32] SaurabhSharma-MSFT commented on #80033
@subspacefield sure thanks. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-08-25 05:32] #80033 closed

[2021-08-25 05:35] Grace-MacJones-MSFT commented on #80156
Hi @weitzhandler, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-08-25 05:36] Grace-MacJones-MSFT commented on #80155
Hi @yutaro113 , thanks for your feedback! We will review and update this doc accordingly.

[2021-08-25 05:51] ErikMogensen commented on #79834
Thanks @mike-urnun-msft for putting the text here. It is better but I would still still like some changes to show that it is used for outgoing traffic too.

I don't have the permission to reopen this issue.

I suggest something like this:

Used for control plane traffic to management endpoint over port 3443, which can be locked down to the [ApiManagement][ServiceTags] service tag. In the none and

[2021-08-25 05:58] kohtala opened #80158 "Application authentication certificate credentials key and audience"
I tried the `private_key_jwt` authentication to token endpoint using [node-openid-client](https://github.com/panva/node-openid-client) library. Here some notes for you to improve documentation and maybe your services, if you like.

What is required of the credential is very difficult to find in documentation. Finally I stumbled on some documentation on [MSAL.js](https://github.com/AzureAD/microsof

[2021-08-25 06:00] aelij opened #80159 "Exact permissions required for writing diagnostic settings"
This page is missing the exact actions required to set diagnostics settings. If I'm not mistaken, they are:

* Storage: `Microsoft.Storage/listkeys/action`
* Event Hub: `Microsoft.EventHub/namespaces/authorizationrules/listkeys/action`
* Log Analytics: `Microsoft.OperationalInsights/workspaces/sharedKeys/action`

I think it may also incorrectly specify `Microsoft.ServiceBus/namespaces/authorizatio

[2021-08-25 06:05] ram-msft commented on #80067
@madiepev We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-08-25 06:05] #80067 closed

[2021-08-25 06:07] Salazander opened #80160 "Add more details about module restart behavior"
A customer of ours is using IoT Edge to run edge workloads in an always-on environment. Their requirement is to restart modules only when there are relevant changes in the deployment manifest.

To avoid time-intensive investigations it would be great to have more details in the docs about a module's restart behavior after performing following changes in the deployment manifest:
1. Modify image ver

[2021-08-25 06:11] timvankester commented on #75672
Thanks, I completely missed the edit button :D. I'll make some changes soon :).

[2021-08-25 06:11] #75672 closed

[2021-08-25 06:23] v-amallick commented on #79674
@MilanKrocek

We have updated the TCP port range information in the [reference document](https://docs.microsoft.com/en-us/system-center/dpm/deploy-dpm-protection-agent?view=sc-dpm-2019#set-up-firewall-exceptions).

As the document is updated, closing this case. Please get back to us if you have any queries.

Thanks.

[2021-08-25 06:25] v-amallick commented on #79674
#please-close

[2021-08-25 06:25] #79674 closed

[2021-08-25 06:48] #80049 closed

[2021-08-25 07:12] SatishBoddu-MSFT commented on #80000
Hello @mimcco Could you please help in this matter?

[2021-08-25 07:29] spaelling opened #80161 "Send Email connection?"
What happens with the logic app action connection on "Send Email" action when the user connected has their password reset, login disabled, access to shared mailbox removed, or Exchange license revoked? Ie. anything that could disrupt the connection?

I have tried reading through the logic app documentation but it does not clearly state scenarios for how this connection can be broken.

---
#### Doc

[2021-08-25 07:29] steverash opened #80162 "Billing page MAU explanation is absent"
This page seems to be the place that the docs should define exactly what a Monthly Active User (MAU) is.   But it has no definition - nor can I find one elsewhere in the docs.

e.g.   Do I get billed for multiple times per month for the same user authenticating multiple times - I assume not, but it is not stated.  Although I can find that each attempt at MFA is charged.

Do I get billed for failed

[2021-08-25 07:49] mardahl opened #80163 "Azure VPN client cant auto select a renewed certificate."
I have been using this client with a PKI for secure certificate distribution to all users. but as the users client certificate expires after a year and is auto-renewed without a hitch. Azure VPN client fails to pickup the new certificate for the connection, and the user is forced to go into the client and configure the connection to use the new certificate. manually.

If you are a small shop then

[2021-08-25 08:08] yanivlavi commented on #38898
It is a preview feature with a known issue. We don't include known issues in the documentation.
We are planning to release a fix very soon. I'll keep you posted.

[2021-08-25 08:36] olhel opened #80165 "Powershell script uses deprecated Azure AD Graph api"
The linked powershell script uses the deprecated Azure AD Graph api.
Is there an updated script using Microsoft Graph available somewhere?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8e1cf65-2201-42ab-7513-de1833ad1c66
* Version Independent ID: e6e10378-90cf-6e9f-41ae-10510e35e012
* Content: [Grant B2B users access

[2021-08-25 08:45] #78601 closed

[2021-08-25 08:48] annaselway opened #80167 "Inconsistent return of data from moreLikeThis in Azure Cognitive Search using API"
Following the documentation on this page I have had inconsistent results from using the moreLikeThis query parameter on the Preview API.

When running it against an index with 5 non-complex searchable fields, I have twice retrieved data in my return using postman. However, I have run the query with identical information and retrieve a blank value more times:

`{"@odata.context":"https://[mysearchs

[2021-08-25 08:49] AshokPeddakotla-MSFT commented on #80160
@Salazander Thanks for the feedback! I have assigned the issue to the content author and SME to evaluate and update as appropriate.

[2021-08-25 09:23] yelevin commented on #80161
@spaelling Hi Anders, thanks for your question!

As with any Logic App action connection, in the case of an email address or user whose credentials have changed or are no longer valid, the playbook can no longer perform that action until the playbook's author (or anyone with permission) re-authenticates that action with an identity with valid credentials - whether the same identity (in the case of

[2021-08-25 09:29] FlorianBorn71 commented on #80140
Re: bounding box size. The units are in meters, so if the box is167m off the origin, you would not see it with a default camera far-clip distance of 20m. Unless the bounds are like -167...167, in which case you would be located in the middle of a building and you should see it.
With regard to your second question, can you elaborate what you mean by "does not continue to update an object"? The ARR

[2021-08-25 09:46] slavizh opened #80168 "Incorrect schema for Log Alerts V2"
Hi,
From my testing the schema for Log Alert V2 is incorrect. The incorrect things are:
* metricMeasure property is metricMeasureColumn.
* metricMeasureColumn can be null. Depends on how the alert rule is created.
* targetResourceTypes can be null. This depends on how the alert rule is created.
* properties can be different than null, it can be object. Depends if additional static properties are a

[2021-08-25 10:02] weitzhandler commented on #80156
I now managed to achieve this behavior by utilizing the provider's Forward option.
Feel free to close the issue if you see fit. Might still be very handy if you could update the content with this info bit, as I've struggled with it several times myself in the past as well, and I reckon I'm not alone.

[2021-08-25 10:09] SaiKishor-MSFT commented on #80163
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-08-25 10:10] GitaraniSharma-MSFT commented on #80026
@cloud4free , could you please clarify if you are referring to External endpoints?

[2021-08-25 10:19] smiddy76 opened #80169 "SPN ObjectID is incorrect in instructions"
Microsoft.AzureFrontDoor-CDN object creation ID is as follows.  The ID listed in the current instructions is for Microsoft.Azure.FrontDoor which does not work.  Please update
New-AzADServicePrincipal -ApplicationId "ad0e1c7e-6d38-4ba4-9efd-0bc77ba9f037"
with
New-AzADServicePrincipal -ApplicationId "205478c0-bd83-4e1b-a9d6-db63a3e1e1c8"

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-08-25 10:43] yetanotherlogonfail opened #80170 "endless search for providing feedback..... waste of time literally why dont MS just say you cant"
I get this message in Azure, I really don't want help on this.
"you do not have permission to create resource groups under subscription Microsoft Azure Sponsorship"

WHAT I DO WANT IS THE ABILITY TO CUT AND PASTE ERROR MESSAGES SO I DONT HAVE TO RETYPE EVERYTHING EVERYTIME
its such a WASTE OIF HUMAN EFFORT
really MS, Think !!!!

---
#### Document Details

⚠ *Do not edit this section. It is require

[2021-08-25 10:53] SnehaAgrawal-MSFT commented on #80167
@ annaselway Thank you for your query . We will investigate and update the thread.

[2021-08-25 10:56] dominicbetts commented on #79155
Hi @W264946 - I'm closing this issue. Please let me know if you had any follow-up questions and we can re-open it. Thanks for your interest in IoT Central!

[2021-08-25 10:56] dominicbetts commented on #79155
#please-close

[2021-08-25 10:56] #79155 closed

[2021-08-25 10:59] SnehaAgrawal-MSFT commented on #79894
@PrometheusRising1 Since we did not here from you we will close this out but if you feel you need more information please just let us know.

[2021-08-25 10:59] #79894 closed

[2021-08-25 11:09] SwathiDhanwada-MSFT commented on #80159
@aelij Thanks for your comment. We will review the issue and get back to you shortly.

[2021-08-25 11:11] SwathiDhanwada-MSFT commented on #80168
@slavizh Thanks for your feedback.

Assigning to content author @ofirmanor  for review.

[2021-08-25 11:12] #79719 closed

[2021-08-25 11:34] GitaraniSharma-MSFT commented on #80169
@smiddy76 , thank you for your feedback. We'll review this and get back to you shortly!

[2021-08-25 11:37] pr-msft opened #80171 "dateOfBirth or birthday?"
Attribute dateOfBirth cannot be modified thru Graph. Error message: "Resource '' does not exist or one of its queried reference-property objects are not present."
Schema for the user resource type has instead attribute "birthday" of type DateTimeOffset. In B2C modification thru Graph fails with error message "Tenant does not have a SPO license."

---
#### Document Details

⚠ *Do not edit this sect

[2021-08-25 11:45] shashishailaj commented on #80157
@pavinan Thank you for your feedback . We will investigate and update the thread.

[2021-08-25 11:46] HelgeA opened #80172 "Same subscription/region restriction."
When was the line below added to restrictions section?

All resources related to your customer-managed keys (Azure Key Vaults, disk encryption sets, VMs, disks, and snapshots) must be in the same subscription and region.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ade067f1-3f3e-73de-0321-bb8d07147cd3
* Version Indep

[2021-08-25 12:18] mikenri commented on #79587
It seems this statement isn't accurate for Linux either.
It's been 12 days since an updated Linux image has been released.

[2021-08-25 12:49] AnuragSharma-MSFT commented on #80050
@hjf004 This will be updated very soon. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-08-25 12:49] #80050 closed

[2021-08-25 12:59] Blackmist commented on #80091
@davystrong can you check and see if your reader shows an update for August 17 or 18 now? I pushed a change to the publish date yesterday, and the RSS reader I'm testing with (Outlook) shows the pub date as Aug 17 now. Which is a little odd since I updated the date to the 18th in the article.

[2021-08-25 13:13] shashishailaj commented on #80158
@kohtala Thank you for sharing your inputs on this. We will investigate and update the thread.

[2021-08-25 13:15] DeanGross commented on #79719
The instructions are all about how to integrate with Windows AD. I would like to see some information about how we might be able to use azure ad groups, AAD PIM, AAD Conditional Access policies, etc to provide identity and access control functionality when creating and maintaining the Defender for IoT systems that are in on-premises locations.

[2021-08-25 13:15] shashishailaj commented on #80161
@yelevin Thank you for providing the clarification.

@spaelling Please let us know in case the provided details helped.

[2021-08-25 13:22] shashishailaj commented on #80171
@pr-msft Thank you for sharing this error . We will investigate and update the thread.

[2021-08-25 13:26] davystrong commented on #80091
@Blackmist thank you, that seems to have updated correctly now, though the reader I was trying to use (Blogtrottr) still isn't working. Outlook is working correctly, so no problem. I think that showing the 17th is just a timezone issue. Thanks for solving this for me!

[2021-08-25 13:26] #80091 closed

[2021-08-25 13:31] shashishailaj commented on #80165
@olhel Thankyou for your query. We will investigate and update the thread.

[2021-08-25 13:32] shashishailaj commented on #80162
@steverash Thank you for your feedback . We will investigate and update the thread.

[2021-08-25 13:34] shashishailaj commented on #80152
@brootware Thank you for your feedback . We will investigate and update the thread.

[2021-08-25 13:57] PandasBots commented on #80099
Hi @davidmrdavid thanks for your reply.

Actually I'm new here, so I would not know how to help with this edit.

yes you can do it, no problem!

Thanks!

[2021-08-25 14:08] shashishailaj commented on #80170
@yetanotherlogonfail We apologize for the inconvenience caused to you . I am sorry you had to face this. As per the details you mentioned , I assume you had this issue where you could not copy and paste the error somewhere on Azure Portal . I tried to reproduce this issue but could not exactly get in same state as you . I created an object within a subscription i did not have access and I got the

[2021-08-25 14:10] astavitsky opened #80174 "Conflicting gMSA prerequisites"
gMSA accounts actually supported from forest functional level 2012 as per https://docs.microsoft.com/en-us/windows-server/security/group-managed-service-accounts/getting-started-with-group-managed-service-accounts
Why does it state differentily on this page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d513d77-4a6d-

[2021-08-25 14:16] shashishailaj commented on #80172
@HelgeA Thank you for your feedback . We will try to find this information and update the thread.

[2021-08-25 14:20] shashishailaj commented on #80151
@southwolf Please let us know in case the information above helps ?

[2021-08-25 14:20] cloud4free commented on #80026
Yes, you are right. I was referring to  External endpoints.

[2021-08-25 14:22] amanmcse commented on #80171
@pr-msft How have you added the dateOfBirth attribute?
If you go to [This Link](https://portal.azure.com/?Microsoft_AAD_B2CAdmin_agegatingenabled=true#blade/Microsoft_AAD_B2CAdmin/TenantManagementMenuBlade/properties), and configure Age Gating, dateOfBirth attribute will be added for you as shown below:
![image](https://user-images.githubusercontent.com/33834131/130806790-0d01fe25-f537-4882-b77e-b

[2021-08-25 14:26] amanmcse commented on #80010
@jeffersonking This is assigned to the author to review and update.

[2021-08-25 14:27] amanmcse commented on #80157
@pavinan Could you please share your use case, why you want to acquire id_token with Managed Identity?

[2021-08-25 14:36] pavinan commented on #80157
@amanmcse This is asked in following docs
 https://cloud.google.com/iam/docs/access-resources-azure#exchange-token

[2021-08-25 14:39] pavinan commented on #80157
I think it is mistake in their docs only. They might have written id_token instead of access_token.

[2021-08-25 14:41] mmacy commented on #79827
Thanks for the issue, @x509cert. Reassigning to @derisen for fix - thanks, Dogan! #reassign:derisen #label="doc-bug"

@JamesTran-MSFT can you remove the `doc-enhancement` label?

[2021-08-25 15:00] PaulVrugt opened #80176 "Continuous web job example"
I'm having trouble finding a correlation between the Host in the example and continuous web jobs. It states that `The host is the runtime container for functions that listens for triggers and calls functions`. But what if I don't have functions that listen for triggers? I have a continuous web job that performs background tasks. I'm trying to integrate application insights into this web job, but t

[2021-08-25 15:10] whhender commented on #80090
#please-close

[2021-08-25 15:10] #80090 closed

[2021-08-25 15:11] timsander1 commented on #78830
#please-close

[2021-08-25 15:11] #78830 closed

[2021-08-25 15:15] yanivlavi commented on #38898
We deployed a fix, please check that is works as expected.

[2021-08-25 15:20] andybouts opened #80177 "StreamToString"
It would be great if this page included a StreamToString example like [this one does](https://docs.microsoft.com/en-gb/azure/storage/blobs/storage-quickstart-blobs-nodejs)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15591874-317e-ce4c-0dff-20d06b625e40
* Version Independent ID: be7fed9a-343a-0ec7-a94d-02c354d1ae33
*

[2021-08-25 15:22] pr-msft commented on #80171
thank you for the explanation @amanmcse .
The documentation isn't clear on that point. It may be worth detailing that dateOfBirth is an extension attribute and how to get it added to the set

[2021-08-25 15:22] #80171 closed

[2021-08-25 15:24] MarileeTurscak-MSFT commented on #80174
@astavitsky
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-25 15:43] fgendc opened #80179 "Traffic Manager: Subnet Routing tutorial didn't work"
I tried following the subnet routing tutorial but it didn't work
https://docs.microsoft.com/en-us/azure/traffic-manager/tutorial-traffic-manager-subnet-routing

I tried using both public and internal IP of the VMs in the Subnet routing settings, in CIDR format as specified by the tooltip, but none worked.
Only time it worked was creating a failover endpoint, with empty Subnet routing settings.

--

[2021-08-25 15:44] astavitsky commented on #80174
In addition, the wizard trace log indicates that the agent installation is looking for Windows 2012 domain controller, not Windows 2016 domain controller:
[code]

[2021-08-25 15:57] MicrosoftGuyJFlo commented on #77874
Pinged Author of doc for feedback

[2021-08-25 15:57] MicrosoftGuyJFlo commented on #33311
Pinged author of doc for feedback

[2021-08-25 16:09] PingPongSet opened #80180 "What is the role of Client Application in this example? Is it redundant? Azure APIM, AAD"
What is the role of the Client application in this example below?

https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-protect-backend-with-aad

An access token can be requested via Developer Portal without the steps related to the Client application on the link above.

Any idea?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-08-25 16:09] aelij opened #80181 "Array/object accessor operator"
This page is missing documentation for the array (and apparently object) accessor, `[]`. It's mentioned in the operator precedence table as "array indexer", but in fact it can be used to access object properties as well:

[code]

I could not find a reference to this ability in ARM template docs either.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-08-25 16:10] Justinha commented on #68244
@NavsM Thanks for the comment and sorry for delay. We don't recommend setting MFA per-user, although it is still possible. Security defaults are recommended and enabled for all users in Free tier or for more control use Conditional Access with Azure AD Premium. I think the Important note at the end of the introduction is trying to convey that where it says don't use these steps if you use security

[2021-08-25 16:26] SrijitBose-MSFT commented on #79997
@eosho can you please elaborate a little more on the ask? Particularly "pass a **value** to my docker file from the YAML multi-task approach". Where do you intend to define the **value**? Do you want to pass this **value** as a command line argument to `az acr run`?

[2021-08-25 16:28] ChaitanyaNaykodi-MSFT commented on #80179
Hello @fgendc,
Thank you for your feedback! We will review and update as appropriate.

[2021-08-25 16:29] Justinha commented on #69148
@scyto Thanks for the feedback! This has been added as a prerequisite.

#please-close

[2021-08-25 16:30] #69148 closed

[2021-08-25 16:30] msmimart commented on #80135
Hi @jamie-evans-gridbeyond, once you've completed the [prereqs](https://docs.microsoft.com/en-us/azure/active-directory-b2c/disable-email-verification?pivots=b2c-custom-policy#prerequisites) for creating your custom policy, the TrustFrameworkExtensions.xml should be available,where you can add a ClaimsProvider element as shown. Looks like this article needs a few minor fixes but it seems to be up

[2021-08-25 16:30] #80135 closed

[2021-08-25 16:37] zaalion opened #80182 "ARM template for enabling Diagnostic settings for existing Cognitive Services resource"
[Enter feedback here]

Only Azure Portal is explained. Could you provide the ARM template for enabling Diagnostic settings for existing Cognitive Services resource too?

Thanks,
Rez
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a25c323a-2b13-865b-c4c7-9f0715ba676d
* Version Independent ID: 4d9665ac-daf6-b5f4-f5ff-7a850

[2021-08-25 16:42] bischofb opened #80183 "Need an example with tenant info filled out"
The line:
authority: "Enter_the_Cloud_Instance_Id_HereEnter_the_Tenant_Info_Here",
Looks wrong. Is there supposed to be a comma separating the two values or should this be two different properties? Showing an example with actual dummy values filled in would help makes sense of this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2021-08-25 16:48] PramodValavala-MSFT commented on #80180
@PingPongSet The Client Application here is the Developer Portal and is the one that fetches the token for making requests to the backend (APIM). The Client ID and Client Secret for the Client Application is required to be configured as shown in the docs to [enable OAuth 2.0 user authorization in the developer portal](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-prote

[2021-08-25 16:49] YutongTie-MSFT commented on #80182
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@erhopf Hello, please take a look on this issue and update the document if need. Thanks!

[2021-08-25 17:23] lifesoccult opened #80187 "OMS Docker Image Does Not Exist"
This documentation is out of date. There is no `microsoft/oms` docker image anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec237c1c-6c64-c473-379c-ebb8ac8b2bba
* Version Independent ID: 1335a7b7-b1ce-8f6a-d4e2-bf5e73b31317
* Content: [Container Monitoring solution in Azure Monitor - Azure Monitor](https://docs

[2021-08-25 18:23] DeanGross opened #80189 "Best practice suggestions for Managed Identities"
Please add some information about managed identities to this discussion about best practices for identity management.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed24fd26-b126-c171-7edd-9f6713f23ab5
* Version Independent ID: 1e240640-ff8c-8183-bd28-ebe3aa4674ff
* Content: [Azure identity & access security best pract

[2021-08-25 19:46] foreverstupid opened #80194 "ADT doesn't allow to upload array of models, described in a single file"
Documentation says that:
[code]
But when I tried to do that, I've recieved an error.

**Steps to reproduce**
1. Create a DTDL models file with the folowing content (that is taken from the documentation page example):
[code]
2. Send a create model request.

**Expected behavior**
Described models are successfully created.

**Actual behavior**
The following error is occured:
[code]

---
#### Document

[2021-08-25 20:11] abates100 opened #80195 "UPS to Azure AD connection setup missing"
Great info on the permissions' required for the UPS to Azure AD connection but next steps to setup the UPS make no mention of using AAD.  https://docs.microsoft.com/en-us/SharePoint/administration/manage-profile-synchronization

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f95ecc6f-90c2-338c-cb74-f202da4afd4b
* Versio

[2021-08-25 20:54] jcbendernh opened #80196 "Build the Image error - getting-started\MXChip\AZ3166\tools\rebuild.bat fails"
When I go to execute the first step under Build the Image...

_1. In your console or in File Explorer, run the script rebuild.bat at the following path to build the image:
getting-started\MXChip\AZ3166\tools\rebuild.bat_

I receive the following error...

CMake Error at C:/Users/jobender/Documents/Repos/getting-started/cmake/arm-gcc-cortex-toolchain.cmake:31 (message):
  Unable to find ARM GCC.  E

[2021-08-26 01:18] musicjunkieg opened #80198 "-javaagent flag not compatible with Atlassian Jira"
The -javaagent flag is not supported for Atlassian Jira due to jira using Felix OSGI container. Atlassian recommends contacting the agent vendor for help with modifying the bootdelegation parameters. For more information, see Atlassian's known issue here: [Using -javaagent with Jira](https://confluence.atlassian.com/jirakb/using-javaagent-with-jira-790793295.html?utm_medium=scheduledLogScan&utm_so

[2021-08-26 02:17] bobsyourmom opened #80202 "suricata and sentinel integration?"
[Enter feedback here]
Could you show how to use network watcher, suricata and Sentinel?
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69e3a36e-ac7d-51a0-eb02-f8151b750a6a
* Version Independent ID: 38eaf5d3-b74f-8795-85f4-aa115b8151da
* Content: [Perform network intrusion detection with open source tools - Azur

[2021-08-26 06:49] Klaas- opened #80205 "Problems with the download of the prereg script"
Hi,
I think you have problems in the cdn serving the prereg script. One or more servers are out of date and not updating.

https://github.com/Klaas-/msawb-plugin-config-com-sap-hana.sh/commits/main (this is bascially a github action that gets the script once an hour for archival and change trackig)

You can see that it served the old version 2.0.8.3 as recently as two hours ago. And it switched be

[2021-08-26 08:40] daniel-seitz opened #80209 "web.config for nodejs app on app service"
Hello docs-team,

while trying to setup nodejs on azure appservice I got the error mentioned in the docs: "You do not have permission to view this directory or page."

There is note to inspect the logs and this did not help.

**Adding a web.config did.**

Please add a section so that others find what to do. Also please provide a link to a description to what this file is about and what the content

[2021-08-26 09:18] akashperfect opened #80211 "Is there an operator to validate a valid ISO format datetime in IotHub device query language"
So I have timestamp in my message body something like this:
[code]

I just want to have an operator to know if datetime is valid and if the value is above a given date it routes to another EventsHub. I am planning to use this expression as part of message routing.
Something like this I am expecting:

`IS_VALIDDATETIME($body.values[0].timestamp, ISO) AND TO_DATETIME($body.values[0].timestamp) > DAT

[2021-08-26 11:17] ColonelPanicks opened #80216 "Gen 1 Supported VM Sizes is Incorrect"
The page "Support for generation 2 VMs on Azure" does not seem to contain accurate information regarding Gen 1 image support.

The documentation states:

Which is not correct as I've experienced recently with launching `ND96asr A100 v4` VM types which explicitly require a Gen 2 image.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2021-08-26 11:17] realrubberduckdev opened #80217 "Cosmos Db firewall rules limit"
Hi, is there a limit to number of firewall rules that can be added on a cosmos db?

For other resources it is documented, such as for [webapp it is 512](https://docs.microsoft.com/en-us/azure/app-service/app-service-ip-restrictions#add-an-access-restriction-rule), for [storage account it is 200](https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security?tabs=azure-portal#grant-

[2021-08-26 13:04] ljacks1 opened #80219 "Gaps in documentation"
[Enter feedback here]

Step 1  -- the page jumps from JDBC doesn't open in a new window, taking you away from the instruction page.

For point 2 "Install the driver"  -- install it where?   https://www.cdata.com/kb/tech/spark-jdbc-azure-databricks.rst  gave clearer instructions.  (I don't know yet if it works but it tells me it can go under the "install library" of the cluster instead of needing t

[2021-08-26 13:06] kickertw opened #80220 "Have more clarity around "x-ms-client-principal""
As someone who is new to the Static Web Apps and EasyAuth authentication, it is not transparent on where **x-ms-client-principal** comes from. It seems it is implied that http requests made to functions would somehow include this in the headers, but when using something like Chrome Dev Tools, this header does not exist. The only thing that stands out is the **StaticWebAppsAuthCookie**.

It would b

[2021-08-26 14:13] codemaker opened #80221 "How do I remove sentinel from workspace - This workspace is locked."
I get below message while trying to remove the workspace.

This workspace is locked. You might not be able to make certain changes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d272cb77-30a3-15c5-eb77-c15e5b9937ed
* Version Independent ID: a1a18221-fe5a-aed8-3908-cbce1aa9502d
* Content: [Remove Azure Sentinel](https:

[2021-08-26 14:21] JMountainFrame opened #80222 "One of the links don't work"
[Enter feedback here]
The link at here right after: "Read more about Telephone Channel" is not working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faa51ea5-8035-49ff-70a9-3c5bef2df850
* Version Independent ID: bd18c388-eed7-ca2b-57cf-2d7d4bf4771d
* Content: [Phone number types in Azure Communication Services - An A

[2021-08-26 15:22] michaelmairegger opened #80224 "API connector should be called even when refreshing the token"
For me calling the API every time is essential. I have claims within the token that might change and the changed value is of importance in the API that the token allows to acces.

Is it planned to change this behavior and call the API-connector even when refreshing the access token?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2021-08-26 15:41] sidprasher opened #80225 "Network Requirements for Backing up SQL Server on VM using Azure Backup service"
In our organization, all external bound traffic is routed through the firewall and there is a general guidance that we can not provide wildcard rules for storage accounts.

The document states that the following FQDNs need to be whitelisted -

*.blob.core.windows.net
*.queue.core.windows.net
*.blob.storage.azure.net

- Is there a way to know the allocated blobs at the time of vault creation?
- Als

[2021-08-26 15:45] Ryaed opened #80226 "Issues with DNS address"
Under the "Azure services DNS zone configuration" section in the table. The row for "Azure Synapse Analytics" has a different private DNS zone name from the Public DNS zone name. which doesnt make sense. Also sqlondemand.azuresynapse.net is not resolvable.

![image](https://user-images.githubusercontent.com/75696022/130994104-8b26ce3d-64c8-4326-abf6-3bb01e40cdb8.png)

---
#### Document Details

⚠

[2021-08-26 16:25] PixelRobots opened #80227 "Docs need updating"
The section titled "Create a private AKS cluster with a Public DNS address" needs updating. This is now GA and the commands shown do not actually work as by default a private cluster has this enabled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b68f2c4-bb6c-11a2-6c61-8af4057a2438
* Version Independent ID: e3498bed-

[2021-08-26 16:52] lchen016 opened #80230 "Does app need to request permissions from a directory admin again after token is expired?"
In the Protocol diagram if the directory admin has granted permissions and a token is acquired with the client credentials, such as client_secret.  After the token expires, will it be necessary to request for directory admin to grant permissions again or a new token can be acquired by using the same client credentials?

If not, will the permissions granted by the directory admin expire?

---
####

[2021-08-26 17:07] helderpinto opened #80232 "Include agents/extensions/licensing requirements column for each alert"
Customers sometimes find it hard to understand which licensing or extensions their resources should have in order to benefit from specific Azure Defender alerts. For example:

- there are some alerts for Azure Resource Manager that require MCAS licensing and this is not clear in the documentation
- it is not clear whether network layer alerts depend only on having Azure Defender for Servers licens

[2021-08-26 19:42] aswini405 opened #80238 "Datastax Cassandra Kafka-connect retry policy is not documented"
retry policy while working with Datastax Cassandra sink connector on Cosmos DB is not documented or not given any reference document for all connector fields.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71c08309-17a4-b2b1-68b4-646a140c8479
* Version Independent ID: 68127df8-b1ed-c89b-fa3c-34a773a409d1
* Content: [In

[2021-08-26 19:48] lpamulagit opened #80239 "dmgcmd.exe -ts not working"
Customer is having trouble connecting on-prem DB via SHIR so they trying to run the diagnosis tool with the command: **dmgcmd.exe -ts (plus the AUTH_KEY)** but they get an error saying **"ts" is not a valid option**.  what is the right command to run the SHIR diagnosis tool?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2021-08-26 20:04] dwhend opened #80240 "Suggestion for tutorial for App Service custom docker image"
This tutorial is great, and fairly painless. I would suggest adding a small note to the SSH section. I altered the password in the ENV variable from Docker! to something stronger, thinking I was avoiding a potential security issue. I couldn't for the life of me figure out why the webssh at https://<app-name>.scm.azurewebsites.net/webssh/host was throwing Error: All configured authentication method

[2021-08-26 21:34] darylnz opened #80241 "Typo in one of the commands on the page - Get-AzRecoveryServicesBackupJobDetails"
Hi,

I believe there is a minor typo on this page. It states one of the commands is **Get-AzRecoveryServicesBackupJobDetails** , but should be Get-AzRecoveryServicesBackupJobDetail

As the link go to the Get-AzRecoveryServicesBackupJobDetail documentation page.

![image](https://user-images.githubusercontent.com/70985399/131039033-92d2844e-dbdb-43ba-830a-dc77e1cbdee6.png)

---
#### Document Detail

[2021-08-27 00:05] erholtz opened #80245 "Azure role assignment conditions not enforced"
I've looked at the troubleshooting doc, and I think this should work. I want to allow an AAD app ID to be able to write into a container, but not read data or delete data. Something like Example 7 only simpler.

I created a storage account and a container. Then granted my app ID Storage Blob Data Contributor role with the following condition:

[code]

When I run the following code, it should fail

[2021-08-27 02:38] diberry opened #80247 "Get blogs - typescript error with listBlobFlatSegment"
Should this code for getting blobs with containerClient.listBlobFlatSegment(); be rewritten?

[code]

![image](https://user-images.githubusercontent.com/41597107/131062973-343da42f-cd15-4964-89cd-cddfdf02ec4e.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1026434-050e-b1d5-7cac-47cf5d5d2cad
* Version Independent

[2021-08-27 03:23] manaccar opened #80248 "supported hardware is not current."
I have been advised the list of supported hardware is not current.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02235a4d-2df4-9a39-6d37-9dd6f3b68acf
* Version Independent ID: be6053d0-6fe5-504d-6a0a-642cefa53d35
* Content: [Defender for IoT installation - Azure Defender for IoT](https://docs.microsoft.com/en-us/azure

[2021-08-27 03:44] karataliu opened #80249 "The title and content does not match in page 'SSH into Azure Kubernetes Service (AKS) cluster nodes'"
The title for this page is 'SSH into nodes', previous version of this page well describes how to ssh, but after https://github.com/MicrosoftDocs/azure-docs/commit/fda33b7a5e4081c732afce63d6cb4aa97a0467c2 change, it has nothing to do with SSH.

Please consider update title and SSH related description of this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2021-08-27 07:07] sk-bln opened #80254 "Information about limits (connections per second) differ from German-language page."
The table with the SKU limits is different from the German version: https://docs.microsoft.com/de-de/azure/expressroute/expressroute-about-virtual-network-gateways

Limit connections/s for ErGw3AZ here: 16000, German: 28000

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a57b9d6d-27c6-78fd-3b7e-79d373c9699a
* Version In

[2021-08-27 07:18] PratibhaBeniwal opened #80255 "Not able to connect the source as a on premise Mongo Db through DMS"
[I am trying to connect the source as on-premise Mongo DB through DMS While Migrating data from on-premise MongoDB to Cosmos DB Mongo DB API. But I am not able to connect the source and getting the following error.
![image](https://user-images.githubusercontent.com/67694860/131088146-27d4c7ab-8f31-4f6b-9d67-ec5bcd17b9c0.png)
]

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-08-27 07:59] noplatecatcher opened #80256 "Only source subscription storage account is listed when selecting cache storage account"
[Enter feedback here]
Customer reported the storage account in target subscription is not listed, and found a related IcM 242115337.
Maybe it is needed to change the statement in the document, "Cache storage account need not be in the same subscription as the source virtual machine(s)."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2021-08-27 08:44] het-msft opened #80258 "Expected network bandwidth (Mbps) Information about NCv3-series VM"
Our customers would like to review their business based on the Expected network bandwidth (Mbps) for NCv3-series VMs. and we can not find it in the matrix. Could you please help to check the information about Expected network bandwidth(NCv3-series) and update it if possible?

Same issue was reported 1 year back on : https://github.com/MicrosoftDocs/azure-docs/issues/55141

[Enter feedback here]

-

[2021-08-27 10:22] superman-lopez opened #80260 "Wrong order of sunrise in “follow the sun”"
Although the purpose of [scenario 3](https://docs.microsoft.com/en-us/azure/azure-sql/database/designing-cloud-solutions-for-disaster-recovery#scenario-3-application-relocation-to-a-different-geography-without-data-loss-and-near-zero-downtime) is obvious, it might be confusing to some that the scenario describes switching to North Europe after US East.  This would be the opposite of following the

[2021-08-27 10:32] take-4c opened #80262 "When using VNet integration, "WEBSITE_DNS_SERVER" should be disabled."
Hi Team,

Regarding "WEBSITE_DNS_SERVER", I had thought that we could overwrite the default value by setting this item.
But when our app uses VNet integration or is in an App Service environment, the DNS server configuration from the VNet is applied and we should not be able to overwrite it even if setting this item.
It should be clearly expressed in the description.

Best Regards,
Takeshi Katayam

[2021-08-27 10:33] IanMoroney opened #80263 "Doc formatting fix"
Doc formatting fix to correct one sentence going over two lines.
Also to re-word sentence as it was duplicated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5de57846-f709-a0bb-8214-61f01f0ff944
* Version Independent ID: 8d8e0c80-ecad-a907-7546-fbcf7e19bfb5
* Content: [Azure security baseline for Azure Load Balancer](

[2021-08-27 10:51] rollandjb opened #80264 "Description of ClaimEquals precondition incorrect"
This documentation says:

However, if the claim **does not exist**, then the precondition is **ignored** and the **orchestration step is executed regardless**

For example, if the claim `greeting` does not exist, the `BuildGreeting` technical profile is run anyway, in contradiction to the documentation.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2021-08-27 11:42] liamfoneill opened #80265 "Network Constraints"
VPN Gateway SKU basic doesn't work. Please explicitly call this out in the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31580c1b-34e7-acad-dfed-db47f7dae39f
* Version Independent ID: 8a07d877-784a-3d88-54cd-8cd5341a2859
* Content: [Guidelines for Azure NetApp Files network planning](https://docs.microsoft.com/e

[2021-08-27 11:50] AdamSharif-MSFT opened #80266 "Supportability"
Please can we add clarification to this document to state that Kured is OSS and not supported by MS and that any issues need to go to GitHub?

May also be worth adding a caveat that by default there will be no schedule, and cx should follow the steps here to set one up:

https://github.com/weaveworks/kured#setting-a-schedule

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2021-08-27 12:28] Anaig opened #80268 "IP network rule limitation"
As stated in [this doc](https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security?tabs=azure-portal#grant-access-from-an-internet-ip-range), if the Media Services instance is in the same region as the storage account, the IP network rules won't work. The Media Services has to be in a different Azure region or needs to be set up with [private link](https://docs.microsoft.com/en

[2021-08-27 12:36] ishepherd opened #80270 "Azure Disk Encryption now supports port number"
I think they have fixed this issue.

I have just setup a DiskEncryptionKey of the `:443` form, and Azure Disk Encryption downloaded the secret to 'Bek Volume' and I was able to unlock the drive, without any issue.

(this was a plain BEK, not wrapped in a KEK)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa3ee076-b3c3

[2021-08-27 13:16] dflood007 opened #80273 "Broken links"
The hyperlinks in the 'Get reservations' and 'See reservation usage' of the md document located at the below address appears to be broken I.e. they point to an address that cannot be found - error 404

https://github.com/MicrosoftDocs/azure-docs/blob/master/rest/api/billing/enterprise/billing-enterprise-api-reserved-instance-charges

---
#### Document Details

⚠ *Do not edit this section. It is re

[2021-08-27 13:22] KoenigTH opened #80274 "Documentation is unsufficient"
Hi,
I have an issue with the following docs article:
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory/hybrid/how-to-connect-fix-default-rules.md

This document does not describe how to fix a default rule that is broken. It just describes how to create rules correctly. How do you repair a default rule that is already broken, so that the warning sign disappears.
We h

[2021-08-27 13:34] itskritibhardwaj opened #80275 "How to set auto pause delay time in minutes?"
[I moved my provisioned database to serverless database but was not able to set the auto pause delay time in 30 or less than 30min. I want to set the auto pause delay time at 30 min. Is it possible? If yes, then how should we do it?

please refer to the below image-

![image](https://user-images.githubusercontent.com/35427079/131135549-7cad4637-6343-490c-802c-77e1d753d1a7.png)
  ]

---
#### Docume

[2021-08-27 13:40] luisleong opened #80276 "Cannot see onboarded clients in azure lighthouse customers page"
Hello,

Days ago I onboarded a customer using Service Principal with an ARM template in our blob storage, then the client went to this URL: https://portal.azure.com/#create/Microsoft.Template/uri/{Blob Url}, accepted us as their resource manager, and we could make connections and go-to resources but via PowerShell, why it doesn't show to us in our Azure Lighthouse Customers page?

I can work with

[2021-08-27 14:49] lucabovo opened #80278 "Request for clarification about blocking traffic from the Public Internet using Private"
In this article [https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-configure-private-endpoints] there is a Note:   "Private Link doesn't prevent your Azure Cosmos endpoints from being resolved by public DNS. Filtering of incoming requests happens at application level, not transport or network level."

What's the meaning of this statement?
We should assume that traffic from Public Internet is

[2021-08-27 17:02] lvmajor opened #80282 "Javascript telemetry initializer sample not working"
The sample code provided to add a telemetry initializer looking at the url is not working with ai.2.min.js version 2.6.5

Effectively, the code [here](https://docs.microsoft.com/en-us/azure/azure-monitor/app/api-filtering-sampling#javascript-telemetry-initializers) suggests using `var telemetryItem = envelope.data.baseData` but at this point, this is **undefined**.

The sample code seems to take f

[2021-08-27 18:04] jwilliams45-aug opened #80283 "Add inbound security rule image out of date"
The "add inbound security rule" image in this article is out of date and doesn't show the current set of options for Azure. This was confusing for one of my students. Please update the picture and associated text.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b29d46b-5a37-3e56-00a5-98971bce4f6c
* Version Independent

[2021-08-27 18:35] jenellea opened #80284 "Azure UI Elements are Out of date."
Also, numbered labels are not even used  on this page in the descriptions:
#5 Portal menu no longer exists. There's no "active"  control to the right of the product name (Microsoft Azure) in the page header.
#6 Resource menu: is this also the name when "panes" are appended/overlaid...the text description just below the table calls it a "side bar". Which is it? MS Learn calls it "the left pane", or

[2021-08-27 19:00] dcaro opened #80285 "Outdated Azure PowerShell script"
The provided PowerShell script is using AzureRM module which are being retired.
Can you please updated the script to use the Az module?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eeafbf18-2bee-17c8-9871-118396f904b7
* Version Independent ID: 1c591c58-062c-695f-212f-523b4221935c
* Content: [Azure Instant Restore Cap

[2021-08-27 19:23] RonMatsu opened #80286 "generates errors, does not generate files required for IoT Hub"
1. This guide cannot be followed as written. Step 5 generates an error since no key for device2 has been created.

2. The very next document in this series discusses uploading .pem certificate files to IoT Hub for authentication. This guide has the user create .crt files which are unusable.

It would be awesome if documentation existed that actually works, and for people who are interested in IoT

[2021-08-27 19:45] naspinski opened #80287 "Unable to download deployment content (walkthrough fails)"
https://raw.githubusercontent.com/iainfoulds/architecture-center/aks-devops/docs/sample-solutions/app-modernization/templates/devops-with-aks/nested/grafana.json

does not exist, walkthrough fails

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbbd6dbf-a5be-f8cf-4f8d-08809db1d973
* Version Independent ID: 50b13

[2021-08-27 19:55] elibwhitems opened #80288 "pickZones is unsupported in UDFs."
[pickZones](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-functions-resource#pickzones) function also appears to be unsupported in user-defined functions. It'd be helpful to note that along with reference and list* functions already noted here (and any other built-in functions that are unsupported).

---
#### Document Details

⚠ *Do not edit this section. It is r

[2021-08-27 20:03] dagwoodbennett opened #80289 "Where does value of {personId} come from?"
In the section "Add faces to Persons" where does the {personId} value come from?  There is no mention of it in the Async response.  My assumption is the persionId guid is created when you add a person, but there is no mention of where to get that value?  Is it part of the response variable in the Create Person section?

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2021-08-27 21:08] nilekhc opened #80291 "Minimum supported AKS version for secret store CSI driver"
Can we document minimum supported k8s version for Secret Store CSI driver addon on AKS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 409a3be9-4831-9401-0bb3-c65209bb3f42
* Version Independent ID: 4cf81213-5989-f36c-7456-70accfe452c2
* Content: [Use the Secrets Store CSI driver for Azure Kubernetes Service secrets - A

[2021-08-27 21:26] begler1 opened #80293 "New security error when running Process Data option for Event Hub (Step 6)"
"Process data from your event hub using Azure Stream Analytics" - Step 6 - new security error.

I have been using the Process Data option for event hubs in the Azure Portal for a while now and it used to work fine after it created a consumer group and a policy for my event hub to preview incoming data. (See Step 6 in the doc)

However, now it produces an error after it creates the consumer group a

[2021-08-27 21:52] timmyreilly opened #80295 "Python Version Specifics - better aligning prereqs for all mlflow docs."
There seems to be a lot of missing prereqs for the MLFlow and Databricks workflows. As there are lots of overlap in tools and options it might be good to build a matrix for current supported python/databricks/conda configurations?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6910eb2-9a76-916c-133c-6d1b37cd077d
* Ver

[2021-08-27 22:11] pgbfnf opened #80296 "Where to find workflow designer is completely different for me in the portal"
I don't know why, but when I opened my new logic app, it looked nothing like your screenshots. I had to go to Workflows - add a new one, then open Developer/Designer. Maybe the portal UI has been updated since this document was created?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e996c57-14b5-75a3-29de-40e6a44c50d3

[2021-08-27 22:38] aravishdatabricks opened #80297 "How do i unlink the workspace"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b33cb27c-0786-efe9-75ef-b0665eaebde9
* Version Independent ID: 0301fab0-ec41-5b28-4c51-1b73dcc79036
* Content: [MLflow Tracking for Azure Databricks ML experiments - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-learning/how-t

[2021-08-27 22:39] aravishdatabricks opened #80298 "How do i unlink the workspace from Databricks?"
[Enter feedback here]

Is there an unlink equivalent for the link capability? OR are there any alternatives/steps to follow for unlink?

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b33cb27c-0786-efe9-75ef-b0665eaebde9
* Version Independent ID: 0301fab0-ec41-5b28-4c51-1b73dcc79036
* Content: [MLflow Tracki

[2021-08-27 23:03] RonyMSFT commented on #79299
Managed private endpoints are not ARM resources and therefore cannot be created through an ARM template.

[2021-08-27 23:18] trkeya commented on #74089
You can switch a private plan to public. However, you cannot switch a public plan to private.

[2021-08-28 00:10] cynthn commented on #80283
@jwilliams45-aug Thanks for the feedback! I've filed a PR to update the instructions and screenshots. Should be live early next week. Thanks again!

#please-close

[2021-08-28 00:10] #80283 closed

[2021-08-28 01:26] YutongTie-MSFT commented on #80298
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-08-28 01:30] YutongTie-MSFT commented on #80297
Thanks for reaching out to us. I have seen you posted another same question. I will close this thread and please keep eyes on https://github.com/MicrosoftDocs/azure-docs/issues/80298

[2021-08-28 01:30] #80297 closed

[2021-08-28 02:43] yutaro113 opened #80301 "Question about WebApps with Node.js Windows"
Hi team,
I have 2 question about WebApps with Node.js/Windows.

1, From configuration>General Settings tab, we couldn't choose Node.js stack so once we changed to another stack, we can't  choose Node.js again. Is it expected behavior?
![image](https://user-images.githubusercontent.com/36602021/131201526-6673d2f4-96db-4b82-b491-f6e2d4e6b00a.png)

![image](https://user-images.githubusercontent.com/3

[2021-08-28 04:17] amanmcse commented on #80293
@begler1 Thank you for your feedback. We will investigate and update the thread further.

[2021-08-28 04:20] amanmcse commented on #80295
@timmyreilly Thank you for your feedback. We will investigate and update the thread further.

[2021-08-28 04:22] amanmcse commented on #80296
@pgbfnf Thank you for your feedback. We will investigate and update the thread further.

[2021-08-28 04:23] amanmcse commented on #80301
@yutaro113 Thank you for your feedback. We will investigate and update the thread further.

[2021-08-28 09:39] tdihp opened #80304 "ingress-basic article no longer works with the latest nginx-ingress chart"
Several things are broken across the test after updating helm chart.

The offending chart version: `ingress-nginx-4.0.1` which is a new major release 4 of the chart, instead of the original 3.

The below install command works by sticking with chart version `3.34.0`:

[code]

I'd suggest to either:

1. Use some kind of doc test to validate docs from time to time, or manual test against latest helm

[2021-08-28 11:39] AnuragSharma-MSFT commented on #80112
@curia-damiano Thanks for replying back. If you look at the definition of DatabaseResponse class, you would notice it is using Database instance as implicit operator. This indicates that conversion would take place from DatabaseResponse to Database object. Same with ContainerResponse class. Please let me know if this helps.

![image](https://user-images.githubusercontent.com/66360845/131216650-c60

[2021-08-28 12:05] eosho commented on #79997
Please close this. I was able to resolve my issue.

[2021-08-28 12:51] psmanhas commented on #80304
@tdihp Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-08-28 12:52] psmanhas commented on #80304
@mlearned Can you please check and add your comments on this doc update request as applicable

[2021-08-28 13:14] fennekit opened #80305 "Please upgrade to ingress controller V.1.0.0"
The example does not work with V.0.48.1
Not compatible with the helm chart.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12009c1f-282d-2632-fac0-64b09c432833
* Version Independent ID: 6052d3d4-d295-9340-b16d-4c200e34cd73
* Content: [Use ingress controller with static IP - Azure Kubernetes Service](https://docs.micros

[2021-08-28 13:17] fennekit opened #80306 "The example does not work with V.0.48.1"
The example does not work with V.0.48.1
Not compatible with the helm chart.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12009c1f-282d-2632-fac0-64b09c432833
* Version Independent ID: 6052d3d4-d295-9340-b16d-4c200e34cd73
* Content: [Use ingress controller with static IP - Azure Kubernetes Service](https://docs.micros

[2021-08-28 14:08] BhargaviAnnadevara-MSFT commented on #80121
@piotrsrodka We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-08-28 14:08] #80121 closed

[2021-08-28 15:07] AyushKumar85 opened #80308 "Name wrong in the error code"
![ADALError](https://user-images.githubusercontent.com/89697339/131222386-9530e923-b9a7-4134-95cd-14bdd616ed24.png)
Highlighted in Red..Should be DEVELPOER Instead of EVELOPER
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f3073d5-376e-44af-6057-79019456b3f5
* Version Independent ID: bf455a28-279

[2021-08-28 16:08] archanapereira opened #80309 "Automated publishing for CI/CD : Empty ARMTemplateForFactory and ARMParametersForDataFactory"
Hi Abhishek,
I followed the same steps shown on youtube and also followed the article but there no artifacts generated during CI ( which is through yaml file). I do see predeployment.ps1 and other files but the file which is used for deployment does not have any details.

1. My ADF artifacts pipeline, dataset, linked services are all within src/datafactory
2. package.json file is inside src/datafa

[2021-08-28 17:38] SubhashVasarapu-MSFT commented on #80144
@DavidVivash, since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-08-28 17:38] #80144 closed

[2021-08-28 17:53] pmozbert commented on #37952
2 years later and still not fixed

[2021-08-28 20:03] shubert-wktaa opened #80310 "Mixing of terms "isolated" and "our-of-procress" misleading"
Please consider using either always "isolated process" or explain at the beginning, that "isolated process" and "out-of-process" are used synonymous. One always thinks, that "out-of-process" is the contrary to "isolated process".

Regards

Sven

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ad5f362-cbfb-0621-4389-6378

[2021-08-28 20:26] qbunia opened #80311 "I didnt have to deatch my disk when resizing"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d78385db-23e4-0471-6d03-262ac6c73407
* Version Independent ID: d2ebdfb2-5f43-8bdc-fdb4-01948a275681
* Content: [Attach or detach a data disk to a virtual machine in Azure DevTest Labs - Azure DevTest Labs](https://docs.microsoft.com/en-us/azure/devtes

[2021-08-29 01:59] ketaanhshah opened #80312 "BlobAuditingInsufficientStorageAccountPermissions with Storage account Vnet enabled"
SQL server cannot access storage account when it is Vnet enabled and no public Access. Storage is used for Vulnerability Scan logs db audit logs. It works absolutely ok when ALL Networks are enabled.
I have read the thread : https://github.com/MicrosoftDocs/azure-docs/issues/32068 but none of the solutions help.

We are deploying SQL Server with Auditing enabled and linking a storage a/c (which is

[2021-08-29 02:17] ranabanerjee15 opened #80313 "No Instructions to enable AD Recycle Bin"
The entire article talks about AD recycle bin, but no instructions are given to enable it, Neither there is any link to enable it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd5fd02e-6f34-8301-ac3d-023c8aa95fce
* Version Independent ID: 8e12cb08-cd75-f52c-6e15-6b14a5adc3b3
* Content: [Azure AD Connect sync: Enable

[2021-08-29 03:08] ccarns opened #80314 "duplicated sample value (minor)"
Very minor but you have the same value duplicated in your sample response:

"objectId": "ab3ec3b2-a435-45e4-b93a-56a005e88bb7"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 781ff5da-dba7-1be3-b310-e74ddf3bbce0
* Version Independent ID: d904416e-c5ba-89dd-c6d6-b8e6375b9c63
* Content: [Token enrichment  - Azure Active D

[2021-08-29 05:02] AfirstS opened #80315 "https://mybuild.microsoft.com/sessions?t=%257B%2522from%2522%253A%25222021-05-25T00%253A00%253A00%252B03%253A00%2522%252C%2522to%2522%253A%25222021-05-27T23%253A59%253A00%252B03%253A00%2522%257D"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf9169c8-ec81-9342-c93e-963647d70c6c
* Version Independent ID: 0ea93b27-477a-84e5-3d93-6707f5b9cb88
* Content: [Azure AD Connect: Upgrade from a previous version](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-upgrade-previous-v

[2021-08-29 05:07] shashishailaj commented on #80305
@fennekit Thank you for pointing this out . We will investigate and update the thread.

[2021-08-29 05:08] shashishailaj commented on #80306
@fennekit Thank you for pointing this out . We will investigate and update the thread.

[2021-08-29 05:11] shashishailaj commented on #80308
@AyushKumar85 Thank you for your inputs . We will engage with the backend team to get this reviewed and update the same. It may take some time though  .

[2021-08-29 05:12] shashishailaj commented on #80309
@archanapereira Thank you for your feedback . We will investigate and update the thread,

[2021-08-29 05:17] shashishailaj commented on #80311
@qbunia  Thank you for your feedback . If you could provide a little more details on what steps you followed it would be easier for us to review this accordingly .

[2021-08-29 05:18] shashishailaj commented on #80311
@Juliako Could  you please check and provide your inputs if this is a recent change ?

[2021-08-29 05:21] shashishailaj commented on #80312
@ketaanhshah Are you following any specific article while doing this ?? Please let us know and we will continue to help you on this.

[2021-08-29 05:22] shashishailaj commented on #80314
@ccarns Thank you for your feedback . We will investigate and update the thread.

[2021-08-29 05:23] shashishailaj commented on #80313
@ranabanerjee15 Thank you for pointing this out . We will review and update the thread accordingly .

[2021-08-29 05:28] shashishailaj commented on #80315
@AfirstS Thank you for creating this issue. Could you please provide more details about which documentation you have an issue with? We will be able to help you better if you provide us more information about any issue with documentation . If you are looking for details related to MS build , please let us know . We ask because we use this repository to improve our documentation and use the feedback

[2021-08-29 05:31] shashishailaj commented on #80310
@shubert-wktaa Thank you for your feedback . We will investigate and update the thread .

[2021-08-29 05:36] KSMB-2020 opened #80316 "Some of the guest users cannot access/login to SharePoint site anymore. The error recieved is either 'There is no Microsoft account found" or "This username may not be known...""
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 751889da-f001-117f-d525-3b27d467edf2
* Version Independent ID: ce46adec-de86-7c34-45ba-d735cba76d2d
* Content: [Add B2B collaboration users in the Azure portal - Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/external-identities/add

[2021-08-29 05:42] aelij commented on #80132
@Oury-MSFT why was this closed?

[2021-08-29 06:23] ahmedmuhi opened #80317 "A little vague statement"
[Enter feedback here]
Hello All,

I hope you are all doing well, just wanted to give feedback regarding below statement:

I am specifically talking about "However, administrators of 'Contoso' can control access to organization 'Test' if they sign in to the user account that created 'Test." This statement is confusing.

The way I understand it is as follow, I have person-A with Global Administrator

[2021-08-29 07:21] MarileeTurscak-MSFT commented on #80317
@ahmedmuhi
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-29 07:22] MarileeTurscak-MSFT commented on #80316
@KSMB-2020
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-29 07:26] CXMelga opened #80319 "time adjustment and justification, not available when access JIT direct from VM"
[Enter feedback here]
I see when requesting access to a JIT protected VM from "security center" you have can select the "time span" (e.g. reduce from the maximum allowed if you want) and also you need to add a "justification"

However, when access the VM direct from the Virtual Machine view in Azure, it only says "request access" then it the RDP file (for 3389) is downloaded right away and I can g

[2021-08-29 09:41] #80162 closed

[2021-08-29 10:03] yoelhor commented on #80314
Dear @ccarns, thanks for the feedback. I'm removing the second `objectId` from the sample token. A new version will publish later today or tomorrow, and this GitHub issue will be closed automatically (before the doc is published). If you have any questions or need further information, please open new GitHub issue.

[2021-08-29 10:10] #80314 closed

[2021-08-29 10:25] ctolkien commented on #64660
@miqm does this still need to be added via ARM?

[2021-08-29 10:38] miqm commented on #64660
Yes, but in can be added just once, no need to include it in updates where you change only linuxFxVersion

[2021-08-29 12:17] ketaanhshah commented on #80312
@shashishailaj following is the documentation:
https://docs.microsoft.com/en-us/azure/azure-sql/database/audit-write-storage-account-behind-vnet-firewall

[2021-08-29 12:41] amanmcse commented on #80319
@CXMelga Thank you for your feedback. We will investigate and update the thread further.

[2021-08-29 13:35] TomArcherMsft commented on #42348
This is a request for future articles and/or modifications to existing articles. It's not a documentation bug. #please-close.

[2021-08-29 13:35] #42348 closed

[2021-08-29 13:37] TomArcherMsft commented on #44776
This article was updated, but we forgot to close the GitHub Issue as we moved repos. Please let us know if the problems still exist. #please-close

[2021-08-29 13:37] #44776 closed

[2021-08-29 14:13] jonhtyler opened #80320 "Missing example of how to add Integration Runtime in UI."
[Enter feedback here]
I was trying to use this document to figure out how to add a newly created IR to a project I am working on.  I was not able to find where the file is to add teh reference to the new runtime in the existing document, but it would have also been nice to show where to set the runtime on the UI.  I did find it, however, it took me a lot longer, and I found ti by accident browsing

[2021-08-29 15:06] hamzaanwarjanjua commented on #34451
Hi guys,
I was facing the same problem and finally, I got a solution.
In Dockerfile I moved EXPOSE 80 instruction before WORKDIR command and it worked.

Dockerfile :
[code]

[2021-08-29 15:12] hamzaanwarjanjua commented on #78992
I was facing the same problem and finally, I got a solution.
In Dockerfile I moved EXPOSE 80 instruction before WORKDIR command and it worked.

Dockerfile :
[code]

[2021-08-29 15:15] GuyPaddock commented on #62877
Just ran into this again. For a new application, it errors out. Waiting hours or days, it eventually works.

[2021-08-29 15:35] AnuragSharma-MSFT commented on #80112
@curia-damiano Awaiting your response on this.

[2021-08-29 15:36] TomArcherMsft commented on #44893
Based on replies, I believe this issue should have been closed, but was missed when we moved repos. The article has been updated multiple times since this issue - including today where I updated the code (to fix deprecation issues) and text (to add "Verify the results" and "Clean up resources" sections). #please-close

[2021-08-29 15:36] #44893 closed

[2021-08-29 16:26] shashishailaj commented on #80320
@jonhtyler Thank you for your feedback . We will investigate and update the thread .

[2021-08-29 19:14] luisleong commented on #80276
Ok, I will try this tomorrow and will let you know the result.

[2021-08-29 19:17] dlahmad opened #80321 "Issue with Aks Ingress Automatic TLS Tutorial"
Hi,

following the description I get this error:

[code]
even though the docker images and the acr exist.

Furthermore, even explicitly setting the acr to the cluster via

[code]

does not solve it unfortunately. I tried this on a fresh cluster with AKS version 1.20.9.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada

[2021-08-29 19:34] blueviggen opened #80322 "Update the torch and torchvision versions in the Doc"
The torch and torchvision versions for start/requirements.txt are outdated.

As of August 29, 2021, the latest versions are as follows:

azure-functions
requests
-f https://download.pytorch.org/whl/torch_stable.html
**torch==1.9.0+cpu
torchvision==0.10.0+cpu**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6cf15fea-1b3

[2021-08-29 22:11] lucashfreitas opened #80324 "Can't upgrade a free subscription"
**Scenario:** My free trial subscription has ended and I have decided to continue using Azure and want to upgrade it.

**Expected**: It should be a straightforward process to upgrade a free trial to a paid account a select a plan.

**What's Happening:** Microsoft docs mention that an Upgrade button it's available but actually there is no option to upgrade or reactivate it. My account and services

[2021-08-29 23:43] ChrisAWith opened #80325 "Update page. User flow name in twitter callback URL must be LOWER CASE even if mixed case on AZURE."
Please update this article to note that the user flow entered in the callback URL must be lower case even if it shows upper case in the azure portal.  Twitter authentication will not work if the user flow name is mixed case.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 383fed5d-cba7-610d-8ce8-0329a45cfa2c
* Version I

[2021-08-29 23:44] lucashfreitas commented on #80324
If anyone is stuck with the same issue, this article has a workaround that solved the problem: https://dev.to/thebernardlim/azure-subscription-azure-subscription-reactivate-button-disabled-greyed-out-3b5

[2021-08-29 23:53] v-pethur opened #80326 "In the "Overall DR cost by states" are there actually 2 equations listed, and just missing punctuation separating the two?"
Hello, I directed a customer to this below explanation from this section: https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-vmware-deployment-planner-cost-estimation#overall-dr-cost-by-states
------------------------------
DR-Drill cost: The cost incurs at the time of DR drills. Azure Site Recovery spins up VMs during DR drills. The DR drill cost covers compute and storage cost of

[2021-08-29 23:54] brootware commented on #80152
@shashishailaj @SrijitBose-MSFT Hi folks, any update on this?

[2021-08-30 02:23] ram-msft commented on #80081
Thanks for the update @kevin-titantech. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-08-30 02:23] #80081 closed

[2021-08-30 02:27] jiacfan commented on #80245
Thanks for elaborting the scenario. I'll bring this to ABAC team's visiblity, and we'll discuss and optimize the doc/experience further.

Thanks,
Jiachen

[2021-08-30 02:31] ram-msft commented on #80057
Thanks, Currently we recommend not to use a single OutputFileDatasetConfig concurrently, will forward to the product team to support in the near future.

[2021-08-30 02:33] vicperdana opened #80327 "ExpressRoute image misspelled."
Hi please correct the image - as it shows misspelling of ExpressRoute - "ExressRoute"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 251f9147-c9e9-a17a-3316-0f8a3a3d6f3e
* Version Independent ID: e0714fbd-98f1-d125-f565-a68871b186d0
* Content: [Configure ExpressRoute encryption: IPsec over ExpressRoute for Azure Virtua

[2021-08-30 02:40] KrishnaG-MSFT commented on #80326
@v-pethur Thanks for the question! We are investigating and will update you shortly.

[2021-08-30 03:10] gary918 opened #80328 "Issues when I run az deployment"
Hi, experts,
When I run the following command:
`az deployment group create \
--resource-group IoTEdgeResources \
--template-uri "https://raw.githubusercontent.com/Azure/iotedge-vm-deploy/1.2.0/edgeDeploy.json" \
--parameters dnsLabelPrefix='<REPLACE_WITH_VM_NAME>' \
--parameters adminUsername='azureUser' \
--parameters deviceConnectionString=$(az iot hub device-identity connection-string show --de

[2021-08-30 03:22] ryo-0813 opened #80329 "In the Azure Cognitive Search network settings, the item "Exception: Allow access from the portal" has been added."
As a result of the feature improvement, I believe that the "Exception: Allow access from the portal" item has been added to the Azure Cognitive Search network settings.
However, it is not listed in the following public information, and I would like to request an update.

![image](https://user-images.githubusercontent.com/89760447/131280421-6899480e-1283-41a9-9fb6-a41d43318cc1.png)

Also, as the fo

[2021-08-30 03:33] vipulsparsh commented on #80221
@codemaker Any resource which has been locked by the owner or user access administrator does not allow either Edit or delete option when set accordingly.

If the workspace is locked, you must delete the lock first, if you are the owner, you can follow step 4 on this article to delete it :
https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/lock-resources?tabs=json#configure-lo

[2021-08-30 03:33] #80221 closed

[2021-08-30 03:37] vipulsparsh commented on #80313
@ranabanerjee15 Thanks for the feedback. We have engaged the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-08-30 03:39] vipulsparsh commented on #80308
@AyushKumar85 Thanks for the feedback. We have engaged the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-08-30 03:51] KranthiPakala-MSFT commented on #80293
Hi @begler1 , Thanks for feedback and bringing this to our notice. This issue seems to be more of possible product issue and not a doc feedback. Hence for deeper investigation of this issue, I would recommend you to please file a support ticket so that a support engineer can take a deeper look into it. In case if you don't have a support plan, please feel free to email us at AzCommunity@microsoft.

[2021-08-30 03:55] vipulsparsh commented on #80319
@CXMelga  This is by design and created so that you can choose the JIT method accordingly, JIT Access from VM blade have hard coded parameters which you cannot edit.

Whereas security center gives you the flexibility of editing the parameters and then connect.

[2021-08-30 04:17] SrijitBose-MSFT commented on #80306
Duplicate of #80305.

#please-close

[2021-08-30 04:17] #80306 closed

[2021-08-30 04:18] shashishailaj commented on #80325
@ChrisAWith Thank you for your feedback . We will engage the content team and update the thread.

[2021-08-30 04:20] shashishailaj commented on #80327
@vicperdana Thank you for your feedback . We will investigate and update the thread.

[2021-08-30 04:23] shashishailaj commented on #80327
@cherylmc Could you please review and update the following image.

![image](https://user-images.githubusercontent.com/532022/131284931-8519b23d-2cd9-4f43-9319-33ac6a50a82f.png)

[2021-08-30 04:26] AjayKumar-MSFT commented on #80329
@ryo-0813, Thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-08-30 04:36] shashishailaj commented on #80324
@lucashfreitas Thank you for sharing the inputs and the great article. I think the same is defined in the sections https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/subscription-disabled#your-credit-is-expired and https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/upgrade-azure-subscription . If the free trial is upgraded within the trial period it works with

[2021-08-30 04:36] psmanhas commented on #80322
@blueviggen Thank you for the feedback. We will work on it and will keep you updated on the thread

[2021-08-30 04:37] SrijitBose-MSFT commented on #80305
Yes, controller image tag v0.48.1 cannot be used as this tag and the corresponding release of Ingress NGINX no longer exists. However, since [Ingress NGINX v1.0.0 is a breaking change](https://newreleases.io/project/github/kubernetes/ingress-nginx/release/controller-v1.0.0) (This release **_only supports Kubernetes versions >= v1.19_**. The **_support for Ingress Object in networking.k8s.io/v1beta

[2021-08-30 04:54] krishna707patel opened #80330 "Azure Signalr with dotnet-isolated - Error: Failed to start the connection: Error: None of the transports supported by the client are supported by the server."
I am Implement Azure signalr with .net 5.0.
This is My Code:
------------------------------------Azure Function(Function.cs)------------------------------------------------------------

using System.Collections.Generic;
using System.IO;
using System.Net;
using System.Reflection;
using Microsoft.Azure.Functions.Worker;
using Microsoft.Azure.Functions.Worker.Http;
using Microsoft.Extensions.Logging;

[2021-08-30 04:59] shashishailaj commented on #80315
@AfirstS As we have not received any update from you , we will be closing this issue. Should you still have any query , please feel free to create a new issue referencing this one and we will be happy to help you .

Thank you

[2021-08-30 04:59] #80315 closed

[2021-08-30 05:02] ruixinxu commented on #77751
Matplotlib is already enabled on spark3.0. No extra fix steps are required any more.

[2021-08-30 05:03] ruixinxu commented on #77751
@KranthiPakala-MSFT  we can close this issue.

[2021-08-30 05:17] v-hakob opened #80331 "Inquiry about VM backup in availability zone"
For what situations, will the pinned zone be unavailable?
Are there any examples such as the outage for the source region?

---quote
If the pinned zone is unavailable, you won't be able to restore the data to another zone because the backed-up data isn't zonally replicated.
---

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-08-30 05:30] ruixinxu commented on #78097
Fixed the doc issue in https://github.com/MicrosoftDocs/azure-docs-pr/pull/170729
Meanwhile file a bug to fix the issue in product Bug 1343821: Cell isn't inserted at the top of the notebook when no parameter cell is designated

[2021-08-30 05:30] ruixinxu commented on #78097
@ShaikMaheer-MSFT  please close this.

[2021-08-30 05:32] curia-damiano commented on #80112
Ok cool,
I see it now.
The sample in fact declares some variables as Database and Container and
then initializes them with the assignments.
In my case I have declared them with "var" and so didn't get the automatic
conversion.

Wouldn't it make sense to note this nice trick in the same page?

Otherwise sorry for the confusion, the samples are then fine (tried also on
my source codes with explicitl

[2021-08-30 06:04] #78097 closed

[2021-08-30 06:06] VigneshMSCRM opened #80332 "Update content with better clear explanation"
Currently in the docs, its mentioned that "when the userPrincipalName is included in your attribute mappings as a source attribute, the #EXT# is stripped from the userPrincipalName". Lets say guest user "abc@gmail.com" will have UPN as abc_gmail.com#EXT#@contoso.onmicrosoft.com. While mapping the UPN, the saas app user is provisioned with original mail address i.e "abc@gmail.com". But as per the e

[2021-08-30 06:12] AnuragSharma-MSFT commented on #80112
@curia-damiano Thanks for replying back. Surely I can check with content team internally if we can include a note to say the same. Please let us know if you have any other queries, and we can gladly discuss them as well. Otherwise we can proceed to close the thread.

[2021-08-30 06:15] SrijitBose-MSFT commented on #80321
@dlahmad thank you for your feedback. This behavior however could not be reproduced.

Can you please follow [this guide](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-troubleshoot-login) for **troubleshooting registry login**?

**Note**: Some authentication or authorization errors can also occur if there are firewall or network configurations that prevent registry ac

[2021-08-30 06:21] shashishailaj commented on #71780
We apologize for the long delay in getting a solution for this one as we were unable to support this in a timely manner . I believe that may be specific to your environment however we would like to further assist you on this offline. We would like to take this offline to help you further.  Please email me at azcommunity [at] microsoft [dot] com with your azure subscription ID referencing this thre

[2021-08-30 06:21] #71780 closed

[2021-08-30 06:32] curia-damiano commented on #80112
Thank you, I think that if you could add it, it could be clear to others
too!

On Mon, Aug 30, 2021 at 8:12 AM AnuragSharma-MSFT ***@***.***>
wrote:

--
*Damiano Curia*
Swiss mobile: +41 76 50 40 60 2
Italian mobile: +39 348/360.25.73
skype: curia.damiano
email: ***@***.***
www: http://curia.me

[2021-08-30 06:41] rockboyfor commented on #79965
@SrijitBose-MSFT, Appreciate your great help!

Best Regards,
Edward Chen

[2021-08-30 06:43] Kenneth-Lindgren opened #80334 "Could you describe what level of Azure AD admin rights/role a user needs to preform this action. Thanks."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6197673d-42dc-8dd9-94d4-269b9066af42
* Version Independent ID: 668f3147-4559-f145-0dcc-8fec8c21a0f3
* Content: [Reset a guest user's redemption status - Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/external-identities/reset-redemp

[2021-08-30 07:02] asergaz commented on #80328
Hi @gary918 , thanks for reporting the doc issue. Did you try the same commands on Bash environment in [Azure Cloud Shell](https://docs.microsoft.com/en-us/azure/cloud-shell/quickstart?view=iotedge-2020-11)? This is only occurring in your local machine?

We have a note already for that :).

![image](https://user-images.githubusercontent.com/22173500/131299016-8e284644-6f94-47c3-9c14-4e863ce708a1.p

[2021-08-30 07:12] SadiqhAhmed-MSFT commented on #80331
@v-hakob Thank you for your question. We will check with the content owner and get back to you soon.

[2021-08-30 07:17] AnuragSharma-MSFT commented on #80112
@curia-damiano I am tagging the content author here to evaluate it more. Meanwhile we will go ahead and close the issue.

@kirankumarkolli Could you please check the request?

[2021-08-30 07:17] LockTar commented on #78069
@yoelhor, As said before. I was on holiday. I opened a new ticket. See above.

[2021-08-30 07:17] #80112 closed

[2021-08-30 07:18] KranthiPakala-MSFT commented on #77751
Thanks for the update @ruixinxu !
@keen85
We will now proceed to close this thread based on this update. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2021-08-30 07:18] #77751 closed

[2021-08-30 07:18] dlahmad commented on #80321
@SrijitBose-MSFT Thanks for the reply.

I'm not with your there. How this be issue if I create the registry together with the cluster like this:

![image](https://user-images.githubusercontent.com/21985067/131300247-8d06cea6-d061-4f80-9a7d-2fc4db919443.png)

To my understanding this binds the ACR to the AKS Cluster being created. Furthermore, after cluster creation I checked the access writes and

[2021-08-30 07:19] alanflanders-teck opened #80335 "Entry script for multi-field output compatible with PowerBI"
This page provides an example of how to write a compatible entry script for PowerBI for a single value output. How do you write an entry script for a model that outputs multiple values. For example outputting the class prediction AND the probability. Or to output hierarchical predictions. Each prediction should go into a new column when imported into power bi.

---
#### Document Details

⚠ *Do not

[2021-08-30 07:56] yutaro113 opened #80339 "Blob Trigger failed with HTTP 412 : The condition specified using HTTP conditional header(s) is not met"
Hi team,
When we frequently update Blob, Blob trigger (Input binding) function started to fail with HTTP 412 (The condition specified using HTTP conditional header(s) is not met).

ASK:
1,In this case, what should be the best practice to handle this error from function point of view?
・Configure retry policy
・Allow ETag mismatch (Is it possible?)
・Use Queue trigger etc between blob and functions?
・

[2021-08-30 08:52] HarshitaSingh-MSFT commented on #80055
Just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue or is good to be closed.

[2021-08-30 09:08] shhazam-ms commented on #80248
@manaccar Hi, Happy to help but would like more guidance. Can you be more specific regarding the dated info?

[2021-08-30 09:13] cloudchristoph commented on #79910
@shanranm Now you know why the notebooks were not available. 😉 - See https://chaosdb.wiz.io/

[2021-08-30 09:16] gvanteylingen commented on #79557
Thanks Juergen, these we very welcome changes. Support teams were struggling with answering questions about LIFs and SVMs… 😊

After speaking to Bernd there are a few additional changes we’d like to recommend for this document, hope you’re OK supporting us with those as well…:

--- included message

Under: https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/hana-vm-operations-neta

[2021-08-30 09:29] saaror commented on #80187
Yes, the document changes are in pipeline. The updated image is this 'mcr.microsoft.com/azuremonitor/containerinsights/ciprod:microsoft-oms-latest'

[2021-08-30 10:06] SrijitBose-MSFT commented on #80321
@dlahmad Thank you for confirming, Can you please run `az aks check-acr --acr $ACRName.azurecr.io --name $ClusterName -g $ClusterResourceGroup` and share the output?

Please redact all sensitive information from the output before sharing.

[2021-08-30 10:10] MonikaReddy-MSFT commented on #80330
@krishna707patel -  Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-08-30 10:12] MonikaReddy-MSFT commented on #80187
@saaror - Thank you for providing your insights.
@lifesoccult - I hope @saaror  has answered your question.
At this moment, the doc will be updated and will be live once its approved and merged, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-08-30 10:12] #80187 closed

[2021-08-30 10:20] MonikaReddy-MSFT commented on #80288
@elibwhitems - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-08-30 10:20] #80288 closed

[2021-08-30 10:22] easkay-castlight opened #80342 "Outdated service principal name in Batch CLI docs"
As per [this issue comment](https://github.com/MicrosoftDocs/azure-docs/issues/34903#issuecomment-511877340) the service principal `MicrosoftAzureBatch` has been removed, however the docs (undernoted) still reference it. The named service principal needs to be substituted for the application ID:

[code]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-08-30 10:34] dlahmad commented on #80321
@SrijitBose-MSFT

 az aks check-acr --acr cloudsandbox.azurecr.io --name cloudsandbox -g rg_cloudsandbox
Merged "cloudsandbox" as current context in /tmp/tmpz4zk0_0f
[2021-08-30T10:30:02Z] Checking host name resolution (cloudsandbox.azurecr.io): SUCCEEDED
[2021-08-30T10:30:02Z] Canonical name for ACR (cloudsandbox.azurecr.io): r0802weu-5.westeurope.cloudapp.azure.com.
[2021-08-30T10:30:02Z] ACR lo

[2021-08-30 11:09] Espean opened #80344 "Mobility Service Agent version"
In this doc its stated that the Azure VM Agent is installed from the Mobility Service Agent from version 9.7.0.0.
[https://docs.microsoft.com/en-us/azure/site-recovery/vmware-physical-mobility-service-overview#install-the-mobility-service-using-command-prompt-preview](url)
![bilde](https://user-images.githubusercontent.com/11628000/131329434-2d020053-7586-49eb-ab5e-09e45e49c24d.png)
In the latest

[2021-08-30 11:11] RohitMungi-MSFT commented on #80335
@alanflanders-teck Thanks for the feedback
@gvashishtha Is it possible to provide a sample with multiple output scenario for powerbi integration?

[2021-08-30 11:18] VikasPullagura-MSFT commented on #80342
@easkay-castlight Thanks for pointing this out. We will update the document accordingly.

[2021-08-30 11:23] Sharmistha-Rai commented on #80344
@Espean - we started packaging the Azure VM agent with the Mobility service from the version 9.7. Currently, we are on version 9.43. The 9.7 mention is just to inform since when we started packing the agent.

[2021-08-30 11:37] SumanthMarigowda commented on #80031
@tshaiman Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.  Even I am getting the same error I am getting internally on this issue

[2021-08-30 11:43] shashishailaj commented on #76490
@dbona75 We had this checked internally and there is no attribute UserCloudCertificate  . the attribute which contains the certificates is Usercertificate which is already mentioned in the page. As there are no changes required we will now close this issue.

[2021-08-30 11:44] AnuragSharma-MSFT commented on #80217
@realrubberduckdev There should not be any limit on number of firewall rules that we can create, also I could not locate any details on the same.

@ThomasWeiss Could you please confirm on this?

[2021-08-30 12:09] SumanthMarigowda commented on #80172
@HelgeA Apologies for delay in responding here! May I know what exactly are you trying to accomplish?

[Announcing server-side encryption with customer-managed keys for Azure Managed Disks](https://azure.microsoft.com/en-in/blog/announcing-serverside-encryption-with-customermanaged-keys-for-azure-managed-disks/)

I'd recommend posting your question in https://azure.microsoft.com/en-us/support/comm

[2021-08-30 12:09] #80172 closed

[2021-08-30 12:35] joshivinod opened #80345 "Workspace argument is required while creating a compute resource"
The command in the documentation fails because of missing `--workspace-name` argument. Kindly update the documentation.
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc8b3c87-63e7-48a2-bf6e-72fc6a4d13a5
* Version Independent ID: 5c19643d-9fc7-ec37-1a08-f742a895c199
* Content: [Train models (create jobs) with th

[2021-08-30 12:49] prithvibv opened #80346 "Exceptions while generalizing a windows VM in azure"
I am trying to generalize a windows azure VM of type Windows Server 2019 Datacenter.
I am using the command
$env:SYSTEMROOT\System32\Sysprep\Sysprep.exe /generalize /oobe /shutdown /quiet

I am getting the following exception in the logs C:\Windows\System32\Sysprep\Panther\setuperr.txt:
2021-08-30 11:24:24, Error      [0x0f0082] SYSPRP LaunchDll:Failure occurred while executing 'DscCore.dll,SysPre

[2021-08-30 12:58] DeanGross opened #80347 "Application management operations"
Please add some information about application management, this is part of azure ad operations, but is not currently addressed in this ops guide
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8476858-0191-cc97-39c7-4d158a33d8ff
* Version Independent ID: a4d212bf-8193-4465-4c6f-2590ae9d401d
* Content: [Azure Active Direc

[2021-08-30 13:03] RutgerKosters opened #80348 "Suggestions on how snapshots work"
Hi team,

A couple of suggestions for the 'How Azure NetApp Files snapshots work' page.

https://docs.microsoft.com/en-us/azure/azure-netapp-files/snapshots-introduction#what-volume-snapshots-are
**ORIGINAL**
"Snapshots are also efficient in storage space. They themselves consume no space, and only delta blocks between snapshots and active volume are kept."

I think the "They themselves consume no

[2021-08-30 13:27] GitaraniSharma-MSFT commented on #80148
@joeljanke , We have assigned this to the content owner/author for review.

@cherylmc , could you please review the suggestion and provide your inputs?

[2021-08-30 13:30] ram-msft commented on #80345
@joshivinod Thanks for the feedback! We will review and update accordingly.

[2021-08-30 13:36] begler1 commented on #80293
Please create support ticket for the following:"Process data from your event hub using Azure Stream Analytics" - Step 6 - new security error.
I have been using the Process Data option for event hubs in the Azure Portal for a while now and it used to work fine after it created a consumer group and a policy for my event hub to preview incoming data. (See Step 6 in the doc)

However, now it produces

[2021-08-30 13:39] SrijitBose-MSFT commented on #80321
We are looking at the logs on the Azure Container Registry similar to the following several times:

[code]
We checked the Registry for repository `jettech/kube-webhook-certgen` and found in the last 1d:

[code]
The `digest 950833e19ade18cd389d647efb88992a7cc077abedef343fa59e012d376d79b7` is no where to be found in this repository.

The problem now is that why we got **401 Unauthorized** instead of

[2021-08-30 13:50] shashishailaj commented on #76490
@dbona75 After checking internally I found something more on this and hence I have reopened it . The attribute CloudUserCertificate is not seen in the AD/AzureAD connector Spaces but is present in the "Out to AAD - Device Join SOAInAD" sync rule as a transformation.

[code]

![image](https://user-images.githubusercontent.com/532022/131348510-0618814e-28c7-4415-ac74-711dc2a948cd.png)

This is menti

[2021-08-30 13:51] #80324 closed

[2021-08-30 13:52] sebhe opened #80351 "Issues with Apple Watch - Authenticator app integration"
Hi team,

there seems to be a limitation around Apple Watch:
it seems as if the MS authenticator app on an Apple Watch is not able to integrate with password less. The 3 numbers to select from are not displayed on the Apple Watch, you have to use the Authenticator app on the iphone instead.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2021-08-30 14:00] thiagomoreirafjt opened #80352 "broken link to 'Understand customer data protection in Azure'"
page link is broken. problably this is the new link? https://docs.microsoft.com/en-us/azure/security/fundamentals/protection-customer-data

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fd137b3-01ad-e5d5-7c42-6f6372b3282b
* Version Independent ID: 752bbc75-0f6e-3c50-e913-243bdd8845c7
* Content: [Azure Security Control

[2021-08-30 14:03] m0000g opened #80353 "Confusing instructions reported by one customer."
Hello!

On this document:
https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting?tabs=Windows%2C2004#network-logs

Where the text is:

Customer got confused and introduced the whole path including the comma.
So! maybe include the "\" and change the text so the coma is not in the end, just like this?

Thank you so much!
Best regards,

---
#### Document Details

⚠ *Do

[2021-08-30 14:04] shashishailaj commented on #80273
@dflood007  This actually points to the original API documentation which is automatically generated. We generally do not recommend to use Github azure-docs repo for browsing documentation however we understand that organic/inorganic searches can sometimes land you there . The API pages are hosted in an internal system out of Github hence you got the error. If you check the page using the related a

[2021-08-30 14:04] #80273 closed

[2021-08-30 14:06] shashishailaj commented on #80161
@spaelling We are closing this now. Should you still have any issue , please open a new issue referencing this one and we will be happy to help further on this.

[2021-08-30 14:06] #80161 closed

[2021-08-30 14:09] shashishailaj commented on #76490
@dbona75 I checked this internally . there is no attribute named UserCloudCertificate . It is UserCertificate only .

[2021-08-30 14:15] shashishailaj commented on #77020
@baswijdenes We apologize we have not been ale to solve your issue in a timely manner. We are not able to change any customer's data directly from the backend hence we would not have been able to help you with your request of making you owner of the application.  We would like to understand more at a deeper level for this problem and take this offline to help you further. If you are still facing t

[2021-08-30 14:15] #77020 closed

[2021-08-30 14:16] shashishailaj commented on #77921
@cfcarrasco We apologize we have not been ale to solve your issue in a timely manner. We would like to understand more at a deeper level for this problem and take this offline to help you further. If you are still facing this issue , please send an email to azcommunity [at] microsoft [dot] com with your azure subscription ID referencing this thread with a subject line "ATTN:shashi" and we will hel

[2021-08-30 14:16] #77921 closed

[2021-08-30 14:20] shashishailaj commented on #77801
We have requested the content authors to review this one on how best we can update the documentation on this.

[2021-08-30 14:29] kwill-MSFT opened #80354 "The 'Function app on Azure App Service plan.' github template link points to the vm-simple-linux sample template"
The link in https://docs.microsoft.com/en-us/azure/azure-functions/functions-infrastructure-as-code#deploy-on-app-service-plan is pointing to the wrong sample template.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1ba8817-3e01-7e84-6c71-b98b131f2927
* Version Independent ID: a7703386-9e83-1075-72ef-f9e63f3dc4de
* Co

[2021-08-30 14:44] shashishailaj commented on #78115
@secpapa This change is now reflecting in the document . The mobile phone attribute is also present in the list of attributes which cannot be updated using Azure AD powershell if you are syncing the same from on-premise.

![image](https://user-images.githubusercontent.com/532022/131357419-5e3fcfc1-da24-430c-b2e3-f59473baf597.png)

Should you have any further queries , please feel free to open a ne

[2021-08-30 14:44] #78115 closed

[2021-08-30 14:50] lostmygithubaccount commented on #80345
Nearly all `az ml` commands require both. The prerequisite article runs through the recommended usage pattern of setting up the defaults for `--workspace-name` and `--resource-group`: https://docs.microsoft.com/azure/machine-learning/how-to-configure-cli#set-up.

[2021-08-30 14:52] psmanhas commented on #80332
@VigneshMSCRM Thank you for the feedback. We will work on it and will keep you updated on the thread

[2021-08-30 14:54] psmanhas commented on #80334
@Kenneth-Lindgren Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-08-30 14:57] shashishailaj commented on #80149
@tony1111111111111 Thank you for sharing this . We have initiated a pull request and the change will reflect in the next 24-48 hours as per global convergence. We will now close this issue.

Thank you.

[2021-08-30 14:57] #80149 closed

[2021-08-30 14:57] psmanhas commented on #80339
@yutaro113 Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-08-30 15:10] SaurabhSharma-MSFT commented on #80239
@lpamulagit I do not see any issues while running this command.
![image](https://user-images.githubusercontent.com/38112130/131361470-8674dae9-1506-4f0a-8b57-77ab696db159.png)
What's your integration run time version ?

[2021-08-30 15:18] shashishailaj commented on #80170
@yetanotherlogonfail You are totally correct. I tried the same and got the following while trying to create the resource. I tried CosmosDb object and AKS service object where I got the same error as you got .

![image](https://user-images.githubusercontent.com/532022/131361100-83acc3a2-9e8a-4fd8-97f4-b7dd36acddc6.png)

While doing the same while creating a storage account does not have the same af

[2021-08-30 15:18] psmanhas commented on #80346
@prithvibv Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-08-30 15:31] HelpNeeded2 opened #80355 "This doesnt work"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6e93be2-bad4-bae7-91bc-d4122dad86fd
* Version Independent ID: caf48884-743b-8f83-58a0-a92c3940fbba
* Content: [Configure the admin consent workflow - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/configur

[2021-08-30 15:36] RobinBeismann commented on #69493
@MGoedtel - looks like the support is still not there.. do you have any update on this?

[2021-08-30 15:37] SumanthMarigowda commented on #80348
@RutgerKosters Thanks for the question! We are investigating and will update you shortly.

[2021-08-30 15:40] SumanthMarigowda commented on #80353
@m0000g m0000g Thanks for the question! We are investigating and will update you shortly.

[2021-08-30 16:09] #79860 closed

[2021-08-30 16:18] SamaraSoucy-MSFT commented on #80354
Thanks for the feedback! We will review and get back to you shortly.

[2021-08-30 16:29] MarileeTurscak-MSFT commented on #80352
@thiagomoreirafjt
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-30 16:30] NickAjderian opened #80357 "Database level firewall rules are not sufficient to allow access to the database"
"If you specify an IP address range in the database-level IP firewall rule that's outside the range in the server-level IP firewall rule, only those clients that have IP addresses in the database-level range can access the database."

This is incorrect, and so is the diagram above it.

I created a database level firewall rule the deleted the server-level firewall rule that covered my ip address.

[2021-08-30 16:30] MarileeTurscak-MSFT commented on #80355
Hi @HelpNeeded2,

Can you tell me the exact issue you are facing with the document?

[2021-08-30 16:31] MarileeTurscak-MSFT commented on #80347
@DeanGross thanks for the feedback! I've assigned this to the content author to look over.

[2021-08-30 16:32] MarileeTurscak-MSFT commented on #80351
@sebhe
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-30 16:53] kgremban commented on #78744
@pascalvanegmond Thank you for sharing your experiences with us, and for your suggestion. I've updated the quickstart articles and how-to-install articles to set expectations that the 417 status is correct and expected when you've provisioned a new device but not yet deployed any modules. I'll have github close this issue as resolved once the pull request with those changes is merged.

[2021-08-30 16:54] #78744 closed

[2021-08-30 16:55] KrishnaG-MSFT commented on #80241
@darylnz Great observation! I have verified and updated the document as required. The change should reflect soon i.e., in less than 24 hours. Thanks again!

[2021-08-30 16:55] #80241 closed

[2021-08-30 16:58] luisleong commented on #80276
Ok after some time now the customer subscription began to show, it took around 3 hours to provision, now is working, thanks.

[2021-08-30 16:58] #80276 closed

[2021-08-30 17:05] martincoetzer commented on #80347
Thanks for the feedback, Dean. We'll discuss this in our next update of the doc. #please-close

[2021-08-30 17:05] #80347 closed

[2021-08-30 17:09] KrishnaG-MSFT commented on #80326
@v-pethur Great observation! I have verified it with the help of @Sharmistha-Rai and have updated the document as required. The change should reflect soon i.e., in less than 24 hours. Thanks again!

[2021-08-30 17:09] #80326 closed

[2021-08-30 17:10] johndeu commented on #74147
@lerichardson  - I'll take a look at this today - any more specific edits are welcome and i'll submit them.

[2021-08-30 17:12] JorgeGallegoVeguillas commented on #76803
Excuse me it is my first message in github and perhaps something it is not well

I worked with Microsoft Confidential Ledger the last week and I think that in Microsoft are updating features and in next dates we have the service available again to do the guide

Thank you for shared the guide, very interesting for me

[2021-08-30 17:16] KrishnaG-MSFT commented on #79776
@harre096 As you have not responded back to above comments and also as at this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2021-08-30 17:16] #79776 closed

[2021-08-30 17:16] tomcam opened #80358 "Missing a link to deploying to a specific URL"
I'd like this page to link me to an explanation about how to specify a URL on my Azure-hosted site, e.g.

`https://mydomain.com/delete-customer`

Where `delete-customer` is the Azure function I created and of course `my domain.com` is my Azure-hosted site.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b1ff97a-0ca7-c91

[2021-08-30 17:18] KrishnaG-MSFT commented on #79920
@JamesHeathcote At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2021-08-30 17:18] #79920 closed

[2021-08-30 17:19] johndeu commented on #74147
Added new PR here - https://github.com/MicrosoftDocs/azure-docs-pr/pull/170775

[2021-08-30 17:30] dommartel opened #80359 "Graph for Azure AD joined in Managed environments is wrong"
Hi,

It looks like the graph for Azure AD joined in Managed environments is wrong. It's the same graph than in Federated environment as ADFS appears in it but I think it should not be there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cb105c7-df5f-ad21-d5c0-32f6e48ab5fc
* Version Independent ID: a6baa965-434d-0392-

[2021-08-30 17:31] HelpNeeded2 commented on #80355
whenever you go from this screen in the admin center (Settings>Org Settings> Services> Microsoft Azure Information Protection).

‎Microsoft‎ ‎Azure Information Protection‎
Keep your information safe, online or offline
With ‎Microsoft‎ ‎Azure Information Protection‎ you can add another layer of protection to the data you store in ‎Office 365‎. The rules you set protect your files whether they're vi

[2021-08-30 17:46] MGoedtel commented on #80060
@ManasaDevadas - It is assumed that a customer will 1) have already tracked the servers/machines that were used to test/evaluate Arc-enabled servers, and 2) in preparation to onboard your machines to Arc-enabled servers, also want to identify which machines already have the LA agent installed (which would have been done manually, scripted method, etc.) Remember, we are talking about non-Azure VMs,

[2021-08-30 17:46] #80060 closed

[2021-08-30 17:50] meenalsri commented on #72302
#reassign: @RonyMSFT

[2021-08-30 17:53] jmprieur commented on #78400
Proposing to close as the customer has not provided any details.
#please-close

[2021-08-30 17:53] #78400 closed

[2021-08-30 18:04] RonyMSFT commented on #72302
@piotrgwiazda , there are two things in your original post: private network connectivity and conditional access. If you want to ensure that you can only access your synapse workspace through private links, then you need to configure private endpoints from your customer VNet to the workspace endpoints. Synapse Studio is a SPA (single page application) that runs in the user's browser and has a globa

[2021-08-30 18:11] baanders commented on #80194
Hi @foreverstupid ,

Thanks for raising this!

We've reproduced your issue and confirmed that the SDK actually requires models to be passed in separate files.
I'm updating the document to indicate that the multi-model file option is only for the CLI or REST APIs, and that SDK users should upload models in their own separate files.

The work is being done in [this pull request](https://github.com/M

[2021-08-30 18:13] #80194 closed

[2021-08-30 18:25] derisen commented on #79827
Resolved by [#170792](https://github.com/MicrosoftDocs/azure-docs-pr/pull/170792)

#please-close

[2021-08-30 18:25] #79827 closed

[2021-08-30 18:29] ecfan commented on #48272
@moharmin, thanks for reaching out about the additional issue. We have a fix in progress, which should be available after 4 PM Pacific Time.

[2021-08-30 18:31] maheshcheetirala opened #80360 "v1 to v2 update tutorials"
As v1 has been updated to v2 and many new folks starting journey seem intimidated with v1 json codes. if we could add gui versions of v2 for same concepts many can adopt easily  . All the tutorials having json can be updated with v2 gui codes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19a9d157-9b67-403f-6385-be26d

[2021-08-30 18:32] #80170 closed

[2021-08-30 18:34] MarileeTurscak-MSFT commented on #80352
@msmbaldwin can you please fix this link? I don't appear to have editing rights on this page.

[2021-08-30 18:35] tfitzmac commented on #80181
@aelij - thanks for this feedback. I'll add it to the docs.

[2021-08-30 18:35] JamesTran-MSFT commented on #80359
@dommartel
Thank you for pointing this out! The author has created a PR to update the documentation and it's currently waiting for review and sign off.

I will now close out this issue. Please allow some time for the changes to reflect.
Thank you for your time and patience!

[2021-08-30 18:35] #80359 closed

[2021-08-30 18:46] #77412 closed

[2021-08-30 18:47] pulse717 opened #80361 "If using staged rollout policy to enable Email as Alternate ID, do not exceed 200 users in your group."
The max limit of users in a group is 200 for staged rollout. If you exceed 200 users, Email as Alternate ID will randomly fail authentication. You will need to enable the Home Realm Discovery policy for the entire organization.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a2d44d9-f737-c619-a0b9-cf48755cd2ca
* Versio

[2021-08-30 18:51] JamesTran-MSFT commented on #80361
@pulse717
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-08-30 18:53] tbienvenu opened #80362 "azure-data-factory-utilities doesn't support sqlserver in Dataflow"
I set up the build pipeline and I'm blocked with error validation error: Dataset is using 'SqlServer' linked service type, which is not supported in data flow.
If I'm right, Sql server is general available since june 2021, when do you plan to add this support in azure-data-factory-utilities ?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2021-08-30 19:03] bmoreira-cignifi opened #80363 "Include Letsencrypt Root certificate in Azure Application Gateway Asked today"
I'm trying to folllow Azure Tutorial on how to get Api Management under a vnet and accessible through an application gateway (WAF). I'm stuck trying to upload the root cert into application gateway. It says that the "Data for certificate is invalid", apparently Azure Application gateway doesn’t like Letsencrypt certs.

My certs are:

mydomain.com.br
api.mydomain.com.br
developer.mydomain.com.br
ma

[2021-08-30 19:06] jahnavivalluri opened #80364 "Add steps for 'how to clone an existing app from the portal'"
[Enter feedback here]
This document only has steps to clone an existing app through PowerShell but not Portal. Please add the section on 'clone existing app from the portal' , detailed steps are mentioned in this article and use this for reference https://microsoft.github.io/AzureTipsAndTricks/blog/tip29.html. Please reach me @javallur on MS Teams for any additional questions.

---
#### Document D

[2021-08-30 19:22] b-juche commented on #80348
@RutgerKosters – Thanks much for the doc suggestions!

FYI that the article in discussion (How Azure NetApp Files snapshots work) has an updated version in the pipeline.  In the new version, the second change suggested in your comment has been eliminated entirely, so it's no longer an issue.

Per our email discussion, I've implemented the first suggestion in your comment.  It'll be published with

[2021-08-30 19:22] #80348 closed

[2021-08-30 19:29] shashishailaj commented on #80158
@kohtala We will track this change internally and will update the document . As there is no further action on this , we are closing the issue.

Thank you.

[2021-08-30 19:29] #80158 closed

[2021-08-30 19:34] SnehaGunda commented on #80108
@MS-jeremy Yes the capacity calculator isn't yet available for Gremlin API. Currently, there isn't any tool to estimate RU/s for Gremlin API. I added a sentence to the doc about availability.

#please-close

[2021-08-30 19:34] #80108 closed

[2021-08-30 19:34] wjpigott opened #80365 "Document needs updated for Standalone VM's without Hyper-V or VMWare"
We just found out today that Azure was changed for using Azure Site Recovery for Standalone virtual machines.  It appears that this is now grouped with VMWare (oddly) and then you have the option to create Site Recovery for server that is standalone.

![image](https://user-images.githubusercontent.com/86477713/131394726-d8b16bc4-0c35-44a9-a183-f4332f7fd916.png)

[Enter feedback here]

---
#### Doc

[2021-08-30 19:39] nanditavalsan commented on #75593
#reassign: @RonyMSFT

[2021-08-30 19:40] nanditavalsan commented on #77697
#reassign: @RonyMSFT

[2021-08-30 19:43] techAdamWilliams opened #80366 "& in parameter value causes issue with Invoke-AzRunCommand"
I am currently using the Invoke-AzRunCommand to run a custom script to download azure blobs to an azure vm. I'm providing the azure url and SASToken. The SASToken contains an '&' character which is causing the runCommand to hang for 90 minutes without completing the operation. If you escape the character with '^' so it  would read as '?%=^&test' in the example then it will work.

Example of the co

[2021-08-30 19:47] adamdost-msft opened #80367 "Please add Redis Cache as part of the environment return"
Redis Cache is missing from the environment function. This requires a developer to hard code values into their templates to ensure that the cache FQDN is somewhere. When working cross cloud this provides a challenge and we lose the ability to trace how a template written in commercial doesn't carry over to government, secret and top secret.

Please add the ability for us so that the call environme

[2021-08-30 19:50] AnuragSharma-MSFT commented on #80238
@aswini405 This is being assigned to the content author to evaluate and update as appropriate.

[2021-08-30 19:55] SnehaGunda commented on #79791
@MS-jeremy what the note means is for existing or new accounts, Zone redundancy is supported for specific regions only.

For example, when creating an account, if you select "East US", all the three storage redundancy options appear:
![image](https://user-images.githubusercontent.com/14284405/131396480-90b4f050-33e7-4190-ac05-d205a34acc05.png)

If you select "West US" region, the zone redundancy o

[2021-08-30 19:56] MGoedtel commented on #69493
@RobinBeismann - Ubuntu 20.04 LTS is [listed](https://docs.microsoft.com/azure/automation/update-management/operating-system-requirements#supported-operating-systems) as supported by Update Management. It was updated back in July if I remember correctly.  Thanks.

[2021-08-30 20:00] SaurabhSharma-MSFT commented on #80275
@itskritibhardwaj Unfortunately, an auto-pause delay of less than one hour isn’t currently supported.  Thanks for your feedback, I will share your feedback internally to the products team so that they can plan this feature in future releases.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-08-30 20:00] #80275 closed

[2021-08-30 20:14] SnehaGunda commented on #79791
#please-close

[2021-08-30 20:14] #79791 closed

[2021-08-30 20:29] tfitzmac commented on #80181
The update should get published later today.
#please-close

[2021-08-30 20:29] #80181 closed

[2021-08-30 20:56] ju-shim commented on #80216
Hello,

I am the content developer who supports the VM sizes team when it comes to doc needs. I do not own these documents, I mainly support the team if they run into issues. I can make the update, but I need the owner on the PM side to confirm this information and help adjust any related information on this document and other articles as well.

Khye Wei is the Gen 2 PM and I will reach out to the

[2021-08-30 21:01] stewartadam opened #80370 "APIM private DNS zone configuration not well documented"
The documentation for connecting an APIM instance to an internal VNet omits some information that would be helpful for users configuring the private DNS zones. Presently it simply mentions:

This leaves out several important pieces of information, namely:
- That users should point the records to the private IP address of the APIM instance (retrievable from its Resource Overview in the Azure Portal

[2021-08-30 21:09] tdx-devops opened #80371 "Problems deleting metric alert using "azurerm_monitor_metric_alert" via terraform:"
Error: Error deleting metric alert "" (resource group "xxx-xxx-xxxxx"): insights.MetricAlertsClient#Delete: Failure responding to request: StatusCode=400 -- Original Error: autorest/azure: Service returned an error. Status=400 Code="UnsupportedResourceOperation" Message="The resource type 'metricalerts' does not support this operation."

Previously we were able to import there resources to the sta

[2021-08-30 21:21] musicjunkieg commented on #80198
@KrishnaG-MSFT  - it looks like @MS-jgol  removed their assignment - is there an updated assignee?

[2021-08-30 21:33] AjayKumar-MSFT commented on #80176
PaulVrugt, Apologies for the delay.  Here the ‘WebJobs host’ –  The Host listens for triggers and calls functions. You can create a host instance in your code and write code to customize its behavior.

This is a key difference between using the **WebJobs SDK** **directly** and using it **indirectly **through **Azure Functions.**

In Azure Functions, the **service controls** the **host**, and you c

[2021-08-30 21:42] RobinBeismann commented on #69493
Thanks for the fast reply, however I just tried to deploy the update management agent on a Ubuntu 20.04 Azure VM today and it failed with an unsupported operating system error, it works fine with on premises oms agents on 20.04 through.

[2021-08-30 21:46] timlt commented on #80196
Based on follow-up, it sounds like you tested the setup script on a second PC and found it worked without the error.  On the first PC where you got the issue, it sounds like you enabled Windows 10 Developer Mode and then you no longer saw the error occur.

This is the first report we've had of this specific error, and of Windows 10 Developer mode needing to be enabled.  We'll monitor this and if t

[2021-08-30 21:46] #80196 closed

[2021-08-30 22:02] tfitzmac commented on #79651
I have added information for handling free managed certificates. It should get published tomorrow morning.
#please-close

[2021-08-30 22:02] #79651 closed

[2021-08-30 22:14] JimacoMS4 commented on #62639
Hi @asergaz -- thanks very much for your feedback. The topic now aligns with the [FileUploadSample](https://github.com/Azure-Samples/azure-iot-samples-csharp/blob/master/iot-hub/Samples/device/FileUploadSample/FileUploadSample.cs). I'm going to go ahead and close this issue. Please do @comment me in this issue if you think more needs to be addressed.

Again, thanks very much for taking the time to

[2021-08-30 22:14] JimacoMS4 commented on #62639
#please-close

[2021-08-30 22:14] #62639 closed

[2021-08-30 22:18] BharathNimmala-MSFT commented on #79817
@MhAllan My sincere apologies for delay in getting back to this thread. I am tracking down the right point of contact internally to validate your query. Will keep you updated as I have more information. Thank you

[2021-08-30 22:27] JnHs commented on #80284
Hi @jenellea - Thanks again for pointing out that the topic didn't reflect the current experience. I have updated the screenshots and information to be up to date.
The other issues you mentioned are outside of the scope of this document and are probably a larger discussion to be had across many teams, so I'm going to close this GitHub issue now.
#please-close

[2021-08-30 22:27] #80284 closed

[2021-08-30 22:33] tfitzmac commented on #80367
This feature request is being handled offline. There is currently no documentation update since Redis is not one of the returned values.
#please-close

[2021-08-30 22:33] #80367 closed

[2021-08-30 22:35] MonikaReddy-MSFT commented on #80367
@tfitzmac - Thank you for providing your insights.
@adamdost-msft - I hope @tfitzmac has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-08-30 22:39] chalcrow opened #80372 "Instructions for Helm creation of ingress controller need to be updated"
Hi, I got some support for this tutorial from Azure support, as the support tech could repeat an issue that I reported. The tutorial currently doesn't guarantee successful creation of an Ingress Controller using Helm. Please see the details including potential solutions, in the following StackOverflow question - https://stackoverflow.com/questions/68949434/installing-nginx-ingress-controller-into-

[2021-08-30 22:39] freastro opened #80373 "Free trial per tenant or per subscription"
The **Free Trial** section seems to indicate that it's not possible for a customer to restart a free trial. After speaking with Microsoft Marketplace Support there seems to be some cases where a free trial can be restarted, but these cases are not mentioned in this document.

The confusion seems to be around the term _customer_, which is not defined in this document. When purchasing a subscription

[2021-08-30 22:46] BharathNimmala-MSFT commented on #80198
Assigning this to @mattmccleary to further help on this. Thank you

[2021-08-30 22:50] DerekHerman-MSFT commented on #80353
@m0000g I have updated the document and the changes are now live.

[2021-08-30 22:50] #80353 closed

[2021-08-30 22:51] femsulu commented on #80371
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.
Kindly add the link to any documentation related to this issue so we can attempt to reproduce.

Cheers.

[2021-08-30 22:53] BharathNimmala-MSFT commented on #80373
@freastro Thanks a lot for taking time to share your valuable feedback, assigning this issue to our document author to further evaluate your feedback and update the document accordingly.

[2021-08-30 23:48] Ayanmullick opened #80376 "PowerShell steps to deploy VM with trusted launch enabled"
Is there **PowerShell** documentation on how to deploy a Windows VM with TPM and Secure boot enabled?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ee728ba-a880-324c-83e7-84936b4d9533
* Version Independent ID: 64638d26-e84c-22b9-6c22-2b1e0dd3608b
* Content: [Preview: Deploy a trusted launch VM - Azure Virtual Machine

[2021-08-30 23:54] Karishma-Tiwari-MSFT commented on #80366
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-08-31 00:15] asears opened #80377 "Roadmap for opentelemetry recommendation"
In the docs for Setup Azure Monitor with Python Application, it notes:

_You may have noted that OpenCensus is converging into OpenTelemetry. However, we continue to recommend OpenCensus while OpenTelemetry gradually matures._

https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/monitor/azure-monitor-opentelemetry-exporter

Is there any guidance as to when OpenTelemetry will be supported,

[2021-08-31 00:29] BharathNimmala-MSFT commented on #80377
@asears Thank you for reaching out to us with your query, we are further reviewing it and will get back to you at the earliest.

[2021-08-31 00:30] BharathNimmala-MSFT commented on #80365
@wjpigott Thanks a lot for bringing this to our notice, assigning this issue to our document author to further review this and update the document accordingly.

[2021-08-31 00:35] lzchen commented on #80377
@asears
Hi, thanks for taking an interest in OpenTelemetry. We plan on having a public preview by the end of October for Distributed tracing using the [exporter](https://pypi.org/project/azure-monitor-opentelemetry-exporter/) built on top of OpenTelemetry. Keep in mind this only supports distributed tracing. Metrics and logs are not yet supported nor recommended for production usage. For those, we

[2021-08-31 01:02] BharathNimmala-MSFT commented on #79634
@bwarren18 My sincere apologies for delay in getting back to this thread. I am further validating this with our internal team and will keep you updated at the earliest.

[2021-08-31 01:14] MS-jeremy commented on #80108
@SnehaGunda , in the title/subtitle,
Plan and manage costs for Azure Cosmos DB
08/26/2021 10 minutes to read
APPLIES TO:  SQL API  Cassandra API  **Gremlin API**  Table API  Azure Cosmos DB API for MongoDB

You may want to delete this as well.

[2021-08-31 01:30] RyanHill-MSFT commented on #80364
Thanks for the feedback [@jahnavivalluri](https://github.com/jahnavivalluri)! We'll look into adding it.

[2021-08-31 01:34] ranabanerjee15 opened #80379 "Wrong Instructions for enable and disable verification methods"
While following instructions for enabling or disabling MFA verification at the following link
https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-mfasettings#enable-and-disable-verification-methods. No option for Multi factor authentication exist under users.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2021-08-31 01:37] BharathNimmala-MSFT commented on #80377
Thanks a lot @lzchen for helping on the thread.

@asears Please review the information shared by @lzchen and let us know if you have any further queries.

Please note that this channel (the [Azure Docs repository](https://github.com/MicrosoftDocs/azure-docs/issues)) is only for driving improvements related to the Azure documentation and at this point it appears that there's no further edits or upd

[2021-08-31 01:37] #80377 closed

[2021-08-31 01:42] BharathNimmala-MSFT commented on #80205
@Klaas- Apologies for delay in getting back to this thread, I further assigning this issue to our document author @v-amallick  to review the query and update the document/script as needed.

[2021-08-31 01:55] VikasPullagura-MSFT commented on #80372
@chalcrow
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-08-31 01:55] VikasPullagura-MSFT commented on #80372
@zr-msft @mlearned
Can you please check and add your comments on this doc update request as applicable.

[2021-08-31 02:05] Infinitism opened #80380 "What's the reward aggregation for Multislot?"
It's not clear what the "Reward Aggregation" for multislot be? When you pick "sum" and submit rewards separately for each slot, what does that do? And what does it mean to have "earliest" in this situation when you're submitting reward for different slots separately. Like you submit reward for "slot-1" first, then "slot-2" after a minute, all for the same eventId. How is this situation handled?

!

[2021-08-31 02:21] VikasPullagura-MSFT commented on #80376
@Ayanmullick
Thanks for your Question! We are currently investigating and will get back on this.

[2021-08-31 02:34] KranthiPakala-MSFT commented on #80360
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-08-31 02:35] KranthiPakala-MSFT commented on #80362
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2021-08-31 02:58] MayankBargali-MSFT commented on #80322
@blueviggen Thanks for the feedback! As the document is based on the sample : https://github.com/Azure-Samples/functions-python-pytorch-tutorial and I do see that it is not using the latest torch and torchvision as per the sample. There could be chances that the new version may break the existing functionallity. I have assigned the issue to the content author to investigate further and update the

[2021-08-31 03:05] SumanthMarigowda commented on #80042
@jolauMSFT Firstly, apologies for the delay in responding here! it’s in the preview module. The guidance in that article explains that they need to install the preview module so the doc should be good. ! , You may check in Azure  [updates ](https://azure.microsoft.com/en-in/updates/)

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in y

[2021-08-31 03:06] MayankBargali-MSFT commented on #80296
@pgbfnf If you have created the Logic App under the Standard SKU then the screemshot will be different as mentioned in the document. You need to navigate to Workflows and create a new workflow as you have mentioned for Standard SKU. The document has the screenshot from the consumption tier logic app where you will see the option Logic App designer under Development Tools etc. [This document](https

[2021-08-31 03:08] MayankBargali-MSFT commented on #80310
@shubert-wktaa Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-08-31 03:08] #80031 closed

[2021-08-31 03:21] femsulu commented on #80358
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-08-31 03:24] femsulu commented on #80363
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-08-31 03:29] jasonhorner opened #80383 "Confusing title"
This article is titled "Best Practices" however it only covers dedicated pools

additionally there is already a dedicated pools best practices here:
https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/best-practices-dedicated-sql-pool

Finally there is a serverless pools best practices here:
https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/best-practices-serverless-sql-pool

W

[2021-08-31 03:36] jasonhorner opened #80384 "When does SAS outperform Pass through? additional technical detail needed"
https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/best-practices-serverless-sql-pool#azure-ad-pass-through-performance

Serverless SQL pool allows you to access files in storage by using Azure Active Directory (Azure AD) Pass-through or SAS credentials. **You might experience slower performance with Azure AD Pass-through than you would with SAS.**

**If you need better performance, try

[2021-08-31 03:55] CHEEKATLAPRADEEP-MSFT commented on #80383
@jasonhorner  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-08-31 03:55] CHEEKATLAPRADEEP-MSFT commented on #80384
@jasonhorner  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-08-31 04:02] mmoskal commented on #21306
In case someone stumbles on this - you need to use `/$iothub/websocket?iothub-no-client-cert=true` - otherwise the connection gets dropped.

[2021-08-31 04:05] joshivinod commented on #80345
Thanks @lostmygithubaccount! I guess I completed the installation and directly jumped to executing the commands.

[2021-08-31 04:05] #80345 closed

[2021-08-31 04:05] shashishailaj commented on #80370
@vladvino Thank you for this great feedback . We will engage the content team to review this and update the thread.

[2021-08-31 04:12] shashishailaj commented on #80379
@ranabanerjee15 Thank you for catching this. The name of the option is changed to **Per-User MFA** .

![image](https://user-images.githubusercontent.com/532022/131440599-d6b50718-40c9-4325-a497-41703750e298.png)

We will update this in the documentation .

Thank you.

[2021-08-31 04:12] sds111 opened #80387 "Error - Changes committed to remote repository but deployment to website failed."
Error - Changes committed to remote repository but deployment to website failed.

Followed tutorial: https://docs.microsoft.com/en-us/azure/app-service/tutorial-dotnetcore-sqldb-app?pivots=platform-windows#update-locally-and-redeploy

All works well till the step for deploying solution to Azure.

I am new to Azure app deployment. I identify what the issue is.
I can connect locally (http://localhos

[2021-08-31 04:33] BhargaviAnnadevara-MSFT commented on #80387
@sds111 Could you please provide the details/screenshot of the error you see upon deploying to Azure?

[2021-08-31 04:35] AnuragSharma-MSFT commented on #80357
@NickAjderian Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-08-31 04:48] KalyanChanumolu-MSFT commented on #80142
@daemel It's been a while we heard from you.
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-08-31 04:48] #80142 closed

[2021-08-31 04:55] psmanhas commented on #80258
@het-msft As per discussion with internal team below is the response I got :

As indicated [here](https://docs.microsoft.com/en-us/azure/virtual-machines/ncv3-series) "Actual network performance will depend on several factors including network congestion, application loads, and network settings.”
I encourage customers to test under their own environment since it may depending on these extra factor

[2021-08-31 04:59] ram-msft commented on #80380
@Infinitism Thanks for the feedback! We will review and update accordingly.

[2021-08-31 05:01] ram-msft commented on #80380
@jeffmend Could you please check on this.

[2021-08-31 05:28] tomkerkhove opened #80388 "Azure Kubernetes Metric Adapter is deprecated"
Azure Kubernetes Metric Adapter is deprecated and the recommendation should be to use KEDA with Azure Monitor scaler:
https://keda.sh/docs/2.4/scalers/azure-monitor/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b63a79cb-cc95-2135-2eee-4dbacaebb9b0
* Version Independent ID: 57506d98-9be9-bc9c-0e57-687f2f595236
* Conte

[2021-08-31 05:31] tomkerkhove commented on #80388
Relatest to https://github.com/Azure/AKS/issues/2505

[2021-08-31 05:38] PramodValavala-MSFT commented on #80358
@tomcam You can [Customize the HTTP Endpoint](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook-trigger?tabs=csharp#customize-the-http-endpoint) via the trigger configuration.

Another option is to front your azure function(s) with [Azure APIM](https://docs.microsoft.com/en-us/azure/api-management/api-management-key-concepts) that can act as a single gateway fo

[2021-08-31 05:38] #80358 closed

[2021-08-31 05:52] HarshitaSingh-MSFT commented on #80055
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-08-31 05:52] #80055 closed

[2021-08-31 06:11] SatishBoddu-MSFT commented on #80211
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2021-08-31 06:11] #80211 closed

[2021-08-31 06:14] #80319 closed

[2021-08-31 06:16] vipulsparsh commented on #80264
@rollandjb The changes have been made in public doc and will go live soon.

[2021-08-31 06:31] het-msft commented on #80258
@psmanhas Thank you for your response.

However I checked the sentence you quoted and found that entire sentence is "**Upper limits aren't guaranteed. Limits offer guidance for selecting the right VM type for the intended application.** Actual network performance will depend on several factors including network congestion, application loads, and network settings."

This means that there should be

[2021-08-31 06:35] genesis-barrios opened #80389 "ARM Template deployment: Resource Group scope failed 3 errors :The request content was invalid and could not be deserialized: 'Could not find member 'actions' on object of type 'Template'. Path 'properties.template.actions', line 1, position 155.'."
Hi I am trying to build a release pipeline that builds the artifact for the workflow definition and I am getting this error:

The request content was invalid and could not be deserialized: 'Could not find member 'actions' on object of type 'Template'. Path 'properties.template.actions', line 1, position 155.'.

This is my template:

[code]

---
#### Document Details

⚠ *Do not edit this section. I

[2021-08-31 06:43] PaulVrugt commented on #80176
@AjayKumar-MSFT
Thanks for the reply!

So if I understand correctly continuous web jobs simply shouldn't use the webjobs sdk? If this is true, how does application insights integration work with continuous web jobs?

I'm not sure why you're bringing up Azure Functions. Maybe for background information? We're not using Azure Functions. We're using web jobs.

So my actually my question remains the s

[2021-08-31 06:43] suuuuuper opened #80390 "No way to find the 'purge' command"
[Enter feedback here]
I followed the doc and using the latest version of Azure CLI, even tried it in Cloud Shell, but still the same error like this:

2021/08/31 04:04:04 Executing step ID: acb_step_0. Timeout(sec): 600, Working directory: '', Network: 'acb_default_network'
2021/08/31 04:04:04 Launching container with name: acb_step_0
ERROR: 'purge' is misspelled or not recognized by the system.

[2021-08-31 07:16] mikecowie-seequent opened #80391 "Site recovery documentation units are wrong"
Hi there

Investigating site recovery alerts on a support case, the observed metrics in the portal show that our "churn rate" is below the documented maximum supported for standard disks, given as 2MB/s .

The support engineer has identified that the actual limit is 2MBit/S i.e. 0.25MByte/s, and that this is a documentation using megabytes rather than megabits.

---
#### Document Details

⚠ *Do no

[2021-08-31 07:19] sds111 commented on #80387
Hi  BhargaviAnnadevara-MSFT

Thanks for reaching out.
Now the issue is solved. It arose from the single quotes around main : --settings DEPLOYMENT_BRANCH='main'

Now I have an issue now as the page (https://****.azurewebsites.net/) does not appear with message:
Error.
An error occurred while processing your request.
Request ID: |97ca470a-4c5662bad7c32071.

It might happen due to the Database IP re

[2021-08-31 07:29] MayankBargali-MSFT commented on #80389
@genesis-barrios MicrosoftDocs Github issue is mainly related to the document issue. I would recommend you to create a thread on the forums - [Stack Overflow](https://stackoverflow.com/) or [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2021-08-31 07:29] #80389 closed

[2021-08-31 07:43] LockTar opened #80392 "Add a new section with information what will happen if you remove a custom attribute"
My previous issue #78069 was closed during my vacation so that's why I created a new issue for updating the docs.
The [confirmation from the Microsoft Graph team](https://github.com/microsoftgraph/microsoft-graph-docs/issues/14030) is given. Deleted/removed custom attributes won't delete the data. You first need to set the data to `null` for every user. Maybe add a reference to the graph api docum

[2021-08-31 07:51] gary918 commented on #80328
Hi @asergaz, thanks for your reply. Yes, Azure Cloud Shell works fine. This only occurs when I use my local machine.

Thanks,
Gary

[2021-08-31 08:02] SadiqhAhmed-MSFT commented on #80391
@mikecowie-seequent Thank you for your post. We will review this question with the content owner and update you shortly.

[2021-08-31 08:02] JohnnyRoen opened #80393 "Linux InGuest support and features"
[Please split the Windows and Linux parts so it is easier to see exactly what is provided and supported. Right now it is very
 confusing and hard to understand how to deploy anything in this area on Linux.

 Please give an exact description on which InGuest polices that exists, how to insert the policy in Azure both with IaC and portal, show how to activate for subscription, resource groups and in

[2021-08-31 08:13] pvrk commented on #80285
@dcaro: Thanks for notifying. Updated the commands to Az module.

[2021-08-31 08:16] pvrk commented on #80285
https://github.com/MicrosoftDocs/azure-docs-pr/pull/170874

[2021-08-31 08:16] pvrk commented on #80285
Updated the doc. Please re-open, if required. #please-close

[2021-08-31 08:16] #80285 closed

[2021-08-31 08:21] PramodValavala-MSFT commented on #80363
@bmoreira-cignifi I believe the `-SslCertificates` parameter expects a list of [`PSApplicationGatewaySslCertificate`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.commands.network.models.psapplicationgatewaysslcertificate?view=az-ps-6) objects which can be created using the [`New-AzApplicationGatewaySslCertificate`](https://docs.microsoft.com/en-us/powershell/module/az.network/new-a

[2021-08-31 08:21] #80363 closed

[2021-08-31 08:30] dewitweb opened #80394 "Sentence in documentation unclear"
Hi,

Maybe it is my lack of understanding of English in technical documentation, but the following sentence is gibberish to me:

"This configuration uses source network address translation (SNAT) as the source or virtual machine's private IP is translated to a public IP address."

Can you clarify its meaning?

Best regards,

Wouter

---
#### Document Details

⚠ *Do not edit this section. It is req

[2021-08-31 08:38] Sharmistha-Rai commented on #80391
@mikecowie-seequent - the churn limits are in mega bytes, **not** mega bits. The documentation is correct.

[2021-08-31 08:43] abarqawi opened #80395 "using ServicePrincipal "Insufficient Privileges to complete the operation ""
Hello Team,
i have customer that using AzureDevops to automate this operation for role assignment
we login with ServicePrincipal  and  we perform the role assignment  Used in Azure DevOps it failed with below error

![image](https://user-images.githubusercontent.com/16225699/131471602-a5d599d7-3382-4851-a72b-3422b0c1e2b0.png)

if customer uses his user to perform the role assignment it will work
b

[2021-08-31 08:51] wolfgangfuker commented on #80395
+1

[2021-08-31 08:52] Markus-Hanisch opened #80396 "Required Log events for Diagnostic setting to retrieve ADAL apps - SignInLogs only?"
[**Step 1: Integrate audit logs with Azure Monitor**](https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-get-list-of-all-active-directory-auth-library-apps#step-1-integrate-audit-logs-with-azure-monitor) states to follow along the steps in the article [Integrate Azure AD logs with Azure Monitor logs](https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/howt

[2021-08-31 09:24] KrishnaG-MSFT commented on #80395
@abarqawi @wolfgangfuker Thanks for the question! We are investigating and will update you shortly.

[2021-08-31 09:24] Ogglas commented on #50330
If you get the error:

Navigate to application -> Authentication and select `Enable the following mobile and desktop flows:`.

[![enter image description here][1]][1]

Wait a few minutes and then it will start to work.

SO Thread:
https://stackoverflow.com/a/68996145/3850405

[2021-08-31 09:27] KrishnaG-MSFT commented on #80393
@JohnnyRoen Thanks for the feedback!
Tagging @DCtheGeek for visibility, review and document enhancement consideration if appropriate.

[2021-08-31 09:28] jasonpfraser opened #80397 "network ports required to local domain controller for SSPR with Win10 Hybrid AD Joined devices"
Hi, we are looking at running SSPR with hybrid AD joined devices over a pre-auth vpn and I can't find anything that specifies the exact ports that are required to be allowed to the local domain controller. Could someone please provide a list? I am assuming it will be some combination of Kerberos (88,389,464?) LDAP (389,636?) and maybe RPC/SMB (135,445?).

Thanks

Jason
---
#### Document Details

⚠

[2021-08-31 09:42] sizzler-5g opened #80399 "Self referencing page"
I was trying to get more detail on Azure AD Integration, there is a short description in this page with a link, which references to this page.
"Authorize access to data in Azure Storage".

Same at the Next steps Section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92eb0299-4a80-5c36-697e-a0dec54a8b46
* Version Indep

[2021-08-31 10:30] mikecowie-seequent commented on #80391
Thanks @Sharmistha-Rai . I have a support case open where (if I understand correctly) I am getting told the opposite (and what I am getting told by them does seem consistent with the documents being wrong.

I have asked them to clarify in the support case.

[2021-08-31 10:35] xingqiri opened #80400 "Why does it need rootdelay=300 in kernel boot line when preparing ubuntu vm"
[Enter feedback here]
Hi,

Got a warning message when testing a ubuntu virtual machine image

Warning: Some Kernel parameters mismatch for this test case.
Parameters details: Missing Parameter: rootdelay=300
Matched Parameter: console=ttyS0,earlyprintk=ttyS0

This parameter **delays the start of VM for 5mins**. Why does it need this parameter? is it mandatory to pass all entries?
Another reference

[2021-08-31 11:05] SrijitBose-MSFT commented on #80321
@dlahmad Can you please share if the workaround suggested has helped?

[2021-08-31 11:06] dcondevigo opened #80401 "AKS kubenet forbidden ranges."
Hi,

It seems that the "forbidden" IP address ranges are a new prerrequisite because some months ago we created an AKS cluster using these ranges for the vnet without a problem.

`AKS clusters may not use 169.254.0.0/16, 172.30.0.0/16, 172.31.0.0/16, or 192.0.2.0/24 for the Kubernetes service address range, pod address range or cluster virtual network address range.`

I think that some warnings sh

[2021-08-31 11:13] #80264 closed

[2021-08-31 11:14] yoelhor commented on #80264
Dear @rollandjb , thanks for the feedback. I'm updating the article with the relevant information. A new version will publish later today, and this GitHub issue will be closed automatically (before the doc is published). If you have any questions or need further information, please open new GitHub issue.

[2021-08-31 11:18] yoelhor commented on #80325
Dear @ChrisAWith, thanks for the feedback. Not sure I really go you, The doc says:

![image](https://user-images.githubusercontent.com/20111866/131493443-e85f6351-398b-4816-892b-e2784ba70f77.png)

[2021-08-31 11:19] ash-ishh commented on #53622
+1 it is throwing 401000 unexpectedly even with correct regional API Endpoint and headers.

[2021-08-31 11:27] jorge-ataide commented on #76884
Hello @psmanhas and @Heidilohr!
Is there any update here? I have the same question.

Thanks.

[2021-08-31 11:32] SrijitBose-MSFT commented on #80401
@dcondevigo , Thank you for your feedback! We have shared the same with the content author(s). This will now show up in their backlog.

[2021-08-31 11:36] SrijitBose-MSFT commented on #80390
@suuuuuper, thank you for sharing your concern here. We are internally investigating this and will get back to you with further updates.

[2021-08-31 11:41] pvrk commented on #80205
@Klaas- I have checked the link (https://aka.ms/scriptforpermsonhana) and the latest version is 2.0.8.5. And we updated the script only twice in last 2 months.  So, this is little surprising. Can you please let us know what version values were you seeing in those multiple switches?

[2021-08-31 11:57] marcelkmfst opened #80402 "clarification arround Kubernetes clusters should be accessible only over HTTPS"
What is exactly meant:

"Kubernetes clusters should be accessible only over HTTPS"

the API? The Pods?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33640fb2-b9e7-bd40-f970-acaf0b5a9fd1
* Version Independent ID: cc8276c0-fc47-3bfa-6c43-bde346fb4a86
* Content: [Built-in policy definitions for Azure Kubernetes Service -

[2021-08-31 12:08] afritz68 opened #80403 "Unauthorized access to purview catalog after successful authentication"
Hi, I followed the tutorial to test the API and when sending the request over Postman I get a JSON response:

`{"error":{"code":"Unauthorized","message":"Not authorized to access account"}}`

Which is _not rendered_ as an error, so I guess the communication works fine.

As endpoint URL I am using the syntax:

`https://<my purview account name in lowercase>.catalog.purview.azure.com/api/atlas/v2/ty

[2021-08-31 12:26] levalencia opened #80404 "Where are the azure region codes listed?"
When mentioning azure region codes, the link does not show the reigon codes, only the locaitons where there are azure data centers.  Its impossible to guess the real endpoints for each datacenter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f85aa75-03a5-cb34-6e56-96934b6f477c
* Version Independent ID: 0a179569-c955

[2021-08-31 12:27] PramodValavala-MSFT commented on #79768
@PingPongSet I've tried it out with V1 endpoints and can confirm it works. I did see this error for during a small window when I removed and re-added the Redirect URI but worked after a minute.

Could you confirm if you are still seeing this?

[2021-08-31 12:31] SadiqhAhmed-MSFT commented on #80225
@utraghuv For insights

[2021-08-31 12:38] SadiqhAhmed-MSFT commented on #80331
@v-hakob Since the availability zones are defined as “[Unique physical location within a region](https://docs.microsoft.com/en-us/azure/availability-zones/az-overview#:~:text=Unique%20physical%20locations%20within%20a%20region.%20Each%20zone%20is%20made%20up%20of%20one%20or%20more%20datacenters%20equipped%20with%20independent%20power%2C%20cooling%2C%20and%20networking)” it could happen that there

[2021-08-31 12:38] PramodValavala-MSFT commented on #79767
@PingPongSet The Application Manifest is part of the App Registration in Azure AD and the doc linked covers the steps needed to configure it.

[2021-08-31 12:40] astaykov opened #80405 "Discrepancies between description and actual file name/s or portal titles."
There are some discrepancies in this guidance:

Step (3) refers to `Select Manage provisioning *(preview)* > Review all agents.`. However this functionality is GA and there is no `(preview)` anymore in the portal.

Step (5) refers that the downloaded file is located in folder `C:\ProvisioningSetup`, however further bellow (step (6)) refers to `c:\tmp` folder.
Original Text:

Step (6) refers to a f

[2021-08-31 12:41] PramodValavala-MSFT commented on #80180
@PingPongSet I can get it to work using both endpoints and using both the client/backend app but using a separate client is the better approach like I've mentioned before.

Please do note that this repository is primarily for addressing doc related feedback. For other queries, [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-api-management.html) is a better forum to engage the

[2021-08-31 12:41] #80180 closed

[2021-08-31 12:52] bkarrlander opened #80406 "Support for v1.2 on Windows"
Hi,

The page states that "Currently, there is no support for IoT Edge version 1.2 running on Windows devices.". Is it known when there will be support for v1.2 on Windows?

Thank you

Best regards,
Björn

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5479e748-bf43-eb2d-6110-98bff73c696e
* Version Independent ID: 91da9

[2021-08-31 13:10] tarunmcom opened #80407 "How to change the provisioning String later and how to see which string is used (directly on the edge device)"
[Enter feedback here]

1) How to change the provisioning String later?

2) How to see which string is used (directly on the edge device)?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 981e06fb-977c-c6a3-b5bf-23ea63b4dfe6
* Version Independent ID: 3620faaf-95d0-cdd2-e4ed-18c9e24a0bb4
* Content: [Install Azure IoT Edge f

[2021-08-31 13:24] Klaas- commented on #80205
@pvrk, just look at the link I provided https://github.com/Klaas-/msawb-plugin-config-com-sap-hana.sh/commits/main - looks like your cdn is/was messed up

[2021-08-31 13:28] Klaas- commented on #80205
[code]

[2021-08-31 13:34] softcloudservices commented on #66276
@yoelhor  i am facing same problem can you please help help me with this.
i am using below policy

    <ClaimsProvider>
      <DisplayName>Local Account SignIn</DisplayName>
      <TechnicalProfiles>
         <TechnicalProfile Id="login-NonInteractive">
          <Metadata>
            <Item Key="client_id">6fc8db19-9de8-4e16-9eff-ee18b4a95fd0</Item>
            <Item Key="IdTokenAudience">bcca555

[2021-08-31 13:37] SrijitBose-MSFT commented on #80402
@marcelkmfst , thank you for your question. According to the [constraint](https://store.policy.core.windows.net/kubernetes/ingress-https-only/v1/constraint.yaml) in the [Policy Definition](https://portal.azure.com/#blade/Microsoft_Azure_Policy/PolicyDetailBlade/definitionId/%2Fproviders%2FMicrosoft.Authorization%2FpolicyDefinitions%2F1a5b4dca-0b6f-4cf5-907c-56316bc1bf3d) :

[code]
Hence, this appl

[2021-08-31 13:38] pvrk commented on #80205
Thanks for the details. We will investigate with our CDN provider.

[2021-08-31 13:41] tdx-devops commented on #80371
Hi @femsulu , here's the link for documentation.
https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/monitor_metric_alert

[2021-08-31 13:45] marcelkmfst commented on #80402
Thank you! Appreciated. Would be good to add those information to the docs directly instead of referencing the yamls.

But again - thanks!

Von: Srijit Bose ***@***.***>
Gesendet: Dienstag, 31. August 2021 15:38
An: MicrosoftDocs/azure-docs ***@***.***>
Cc: Marcel Keller ***@***.***>; Mention ***@***.***>
Betreff: Re: [MicrosoftDocs/azure-docs] clarification arround Kubernetes clusters should be a

[2021-08-31 13:51] MonikaReddy-MSFT commented on #80404
@levalencia - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-08-31 13:53] SrijitBose-MSFT commented on #80402
@marcelkmfst thank you for sharing your feedback. We have shared the same with the content author(s). This will now show up in their backlog.

[2021-08-31 13:57] rollandjb commented on #80264
Thank you!

[2021-08-31 13:58] sidprasher opened #80410 "Limitations - Is NIC based backend pool config mandatory?"
The following limitations are stated -

Limitations
The following are the known limitations when using the Private Link service:

Supported only on Standard Load Balancer. Not supported on Basic Load Balancer.
**Supported only on Standard Load Balancer where backend pool is configured by NIC when using VM/VMSS.**
Supports IPv4 traffic only
Supports TCP and UDP traffic only

The following limitatio

[2021-08-31 14:06] Svijay-msft commented on #80320
@lrtoyou1223 -  Can you please validate the feedback and update doc as appropriate ?

[2021-08-31 14:37] vhorne commented on #76795
Updated
#please-close

[2021-08-31 14:37] #76795 closed

[2021-08-31 14:54] ChrisAWith commented on #80325
Oh… LOL… terribly sorry I completely missed that and I read it like 15 times.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: Yoel ***@***.***>
Sent: Tuesday, August 31, 2021 5:18 AM
To: ***@***.***>
Cc: Chris ***@***.***>; ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Update page. User flow name in twitter callback URL must be LOWER CASE even if mixed cas

[2021-08-31 14:55] lukos opened #80412 "It isn't clear why we need to use VPN Gateway instead of VNet peering"
While following the instructions to create a new VNet and a VPN Connection, I realised that VNet peering is possibly faster and more secure than VPN Gateways but VNet Peering is not mentioned as an option or explicitly described as not available to setup this scenario.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88e

[2021-08-31 14:56] TerryLanfear commented on #77694
@nairmai - Thank you for your feedback. The image has been updated to be viewable in dark mode.

#sign-off

[2021-08-31 14:56] #77694 closed

[2021-08-31 14:57] RohitG92 opened #80413 "Message="Subscription xxxx-xxxxx-xxxxx-xxxxx is not registered for feature Microsoft.Network/AllowILBUseDelegatedSubnet required to carry out the requested operation.""
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-08-31 15:00] RohitG92 commented on #80413
To give some overview about this issue, I am trying to deploy internal load balancer (using Terraform) referencing existing subnet.
Microsoft. Network is registered provider in my subscription.

[2021-08-31 15:01] MarileeTurscak-MSFT commented on #80405
@astaykov
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-31 15:03] pgbfnf commented on #80296
Thanks. It's definitely not obvious that there are 2 different ways to do this.

[2021-08-31 15:14] mmaitre314 opened #80415 "Broken images"
The button images on this page are not loading anymore:

![image](https://user-images.githubusercontent.com/8584604/131528928-3a327a8e-232c-4946-96ee-0c5d760533c6.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c6985c1-fec9-dddd-e6f1-83dd9510e711
* Version Independent ID: ddf7c9f1-101a-fdf9-2af4-c9e537a52c2d
* Con

[2021-08-31 15:16] mmaitre314 opened #80416 "Unable to choose bash in Cloud Shell URL"
The doc mentions that using https://shell.azure.com/bash opens Cloud Shell with Bash, but it looks like after a number of auth redirects the bash setting gets lost and the most-recently-used shell gets used instead (Powershell in my case).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c6985c1-fec9-dddd-e6f1-83dd9510e

[2021-08-31 15:22] ramermancdb opened #80417 "Incorrect syntax for azcopy jobs resume command"
The section on the azcopy jobs resume command does reference a single command, but then provides the syntax pattern as two commands which is incorrect. This incorrect pattern is also located in at least one other place in azure-docs.

The correct syntax based on testing with azcopy and a singe note I was able to find is a single command:

azcopy jobs resume <job-id> --source-sas=<sas-token> --dest

[2021-08-31 15:30] sps014 commented on #76803
Student subscription can't use US central west region,
There are no other regions which can be used to leverage Ledger feature. Is there any roadmap for this?

[2021-08-31 15:31] BCarlson-RentPath opened #80418 "Incorrect Syntax"
The example provided at the top of the page gives "Msg 103010, Level 16, State 1, Line 16
Parse error at line: 2, column: 6: Incorrect syntax near 'openrowset'." I copied & pasted with changing the URL to that which was provided by the Azure portal.

select top 10 *
from openrowset(
    bulk 'adl://rentpathdatalake.azuredatalakestore.net/DEV/Input/Oracle/APTG/Common.AllLeads/yyyy=2021/mm=08/dd=30/

[2021-08-31 15:31] nikhilnaregal commented on #33177
any solution?

[2021-08-31 15:32] SaurabhSharma-MSFT commented on #80418
@BCarlson-RentPath Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-31 15:34] IPJT commented on #48769
@DixitArora-MSFT
Hi!
As the creator of this issue I'm wondering if it's possible to put the policy.xml file in the same repository as the template, referencing the policy.xml file using a relative path rather than putting the file in e.g. a blob storage?

I.e. I'd like to do something like:
{
"type": "Microsoft.ApiManagement/service/policies",
"apiVersion": "2019-01-01",
"location": "East US 2",
"