[2019-12-11 18:05] mamccrea commented on #44331
Thanks for bringing this to our attention. I've updated the article. The changes will go live by the end of the week.

#please-close

[2019-12-11 18:05] #44331 closed

[2019-12-11 18:10] mamccrea commented on #44199
I have opened a ticket to make the vnet injection documentation more clear. I will respond here once the updates have been made.

#please-close

[2019-12-11 18:10] #44199 closed

[2019-12-11 18:11] shashishailaj commented on #44468
@stefanwiele Thank you for pointing this out . We will have this reviewed and updated as needed.

[2019-12-11 18:13] shashishailaj commented on #44470
@adamfowlerit Thank you for your query . We will investigate and update this further.

[2019-12-11 18:16] mamccrea commented on #44185
Hi @tomkerkhove! Can you please tell me which step you are referring to? The access policy used when you create the key vault is for you, the user.

[2019-12-11 18:22] mamccrea commented on #44471
Hi @souravsubhankar! Thanks for bringing this to our attention. Did you have a chance to try the workaround given in this article? Did it work in Azure Data Factory notebook activity, or are you still getting an error?

[2019-12-11 18:25] jtuliani opened #44504 "RBAC permissions to upgrade?"
This page needs to explain what RBAC permissions are required to upgrade to the Standard tier.

We need to know both which built-in roles have the necessary permissions, and ALSO exactly which RBAC permissions are required as we will most likely need to enable this capability on custom roles.

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-12-11 18:27] AjayKumar-MSFT commented on #44451
@takekazuomi, We will close this out, but if you feel you need more information please just let us know. Thanks again for your feedback.

[2019-12-11 18:27] #44451 closed

[2019-12-11 18:28] bdcoder2 commented on #44498
@cynthn - Thanks - I think the original article should amended to include the following:

1. The link you mentioned (helpful).

2. Show (via Powershell) how to reassign the temp disk to something other than "D" after the VM is created, and make sure it is not taken back during a VM reboot or hypervisor switch.

My systems are all Windows specific, so I don't require a "Linux version"; but others m

[2019-12-11 18:34] ckarras commented on #43426
Hi @mamccrea,

That's great news, however I still have the same issue. I don't see any updated instructions in the documentation, so I assume I must update something? Where can I find the fix?

Thanks

[2019-12-11 18:35] RyanHill-MSFT commented on #44488
Thanks for the feedback @alejandrocolman! We are currently investigating and will update you shortly.

[2019-12-11 18:39] asudbring commented on #39634
#assign:@malopMSFT

[2019-12-11 18:41] tomkerkhove commented on #44185
My question is more, what permissions does Databricks need to integrate with Key Vault - Is Get enough?

[2019-12-11 18:41] tomkerkhove commented on #44185
Because in order for us to give it access, we need to know how much it needs rather than give full permissions.

[2019-12-11 18:44] npnelson commented on #43838
This adds more light to the issue: https://github.com/aspnet/EntityFrameworkCore/issues/13261

[2019-12-11 19:02] ecfan commented on #26707
@kevinlam1 & @derek1ee, could you please help answer the question from @strategywise about how to set a recurrence to something like "8th business day of the month"? Thanks!

GitHub issue: https://github.com/MicrosoftDocs/azure-docs/issues/26707

[2019-12-11 19:04] shashishailaj commented on #43851
@mikki Yes , the security center monitoring agent would enable the Windows Defender endpoint detection and response features on the Windows E3 machine.

[2019-12-11 19:04] mamccrea commented on #43426
Hi @ckarras - the plots cannot be displayed inline in the Notebook, but they download as separate HTML files that you can open in the browser. There was an issue with this functionality (the HTML versions of the plots were not being created), but now they should be. The issue is actually with htmlwidgets. You'll need to install htmlwidgets using [this updated notebook](https://docs.microsoft.com/e

[2019-12-11 19:06] roygara commented on #43770
@kogesaka Thanks for your patience, I've heard back from the product team.

The steps we'd recommend to follow are:
1.	Remove all server end-points that are involved with the bad drive
2.	Remove old drive
3.	Replace damage drive with a new drive
4.	Recreate server end-points against the new drive.

We recommend this because if you simply recreate the drive and restart the service then the server w

[2019-12-11 19:08] tchmiel opened #44505 "incorrect link - "this sample notebook""
the "this sample notebook" link at the end of "Configure data using datasets" section results in a 404 error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c99cbeb4-d519-dfcf-c3fc-d3828d4c6f4d
* Version Independent ID: a4658aec-a0e6-174c-5264-2a11eb41b6fb
* Content: [Create, run, & track ML pipelines - Azure Machine L

[2019-12-11 19:12] ecfan commented on #35331
Hi @steveculshaw, the functionality still exists, although the UX has changed a bit.

[2019-12-11 19:13] mamccrea commented on #44185
Thank you for clarifying that. I think this article should answer your question. It has information about how secret scopes work, the level of permissions, and how to set them.

https://docs.microsoft.com/en-us/azure/databricks/security/secrets/secret-scopes

[2019-12-11 19:14] femsulu commented on #37249
hi @zjalexander  - any update please?

[2019-12-11 19:15] CeciAc opened #44506 "errata report"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.zh-tw/issues/602

resourceGroupName=""
storageAccountName=""
This command assumes you have logged in with az login

httpEndpoint=$(az storage account show
--resource-group $resourceGroupName
--name $storageAccountName
--query "primaryEndpoints.file" | tr -d '"')
smbPath=$(echo $httpEndpoint | cut -c7-$(expr length $httpEn

[2019-12-11 19:16] mamccrea commented on #44185
That article links to this one, which might also be helpful:
https://docs.microsoft.com/en-us/azure/databricks/security/secrets/secret-acl

[2019-12-11 19:17] FrankHu-MSFT commented on #44473
@pkoelemij Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-11 19:17] FrankHu-MSFT commented on #44478
@StefanSchoof Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-11 19:17] FrankHu-MSFT commented on #44479
@pkoelemij Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-11 19:17] FrankHu-MSFT commented on #44485
@lightupdifire Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-11 19:17] FrankHu-MSFT commented on #44504
@jtuliani Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-11 19:18] kgremban commented on #41558
@mmydland Can you take a look at this issue?

[2019-12-11 19:20] ecfan commented on #43843
Hi @ToMakeSense, thanks for reaching out. The reference page for managed connectors is managed by a different team, so I'll contact them regarding your question and feedback on improving those pages.

[2019-12-11 19:20] roygara commented on #43894
@dwrightpulse Thanks for reaching out, I've confirmed with the product team that this is supported for server 2019. I will update the document accordingly.

[2019-12-11 19:24] CeciAc opened #44508 "Please update code examples and remove deprecated declaration"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.sv-se/issues/485

@gurrish commented 11 hours ago — with docs.microsoft.com
agent_pool_profile is replaced by default_node_pool

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c22b6ec6-7a27-4029-ff8f-674a40c0e552
* Version Independent ID: bd288

[2019-12-11 19:29] ghost opened #44509 "Possible typo?"
When reaching the part about isolated virtual machines, you find in the table that it lists VM family and VM SKU and it lists the following

        VM Family                                                             VM SKU
D-Series - General Purpose                      Standard_DS15_v2Standard_D15_v2
Memory Optimized                                  Standard_E64is_v3Standard_E64i_v3

Is the VM

[2019-12-11 19:30] TravisCragg-MSFT commented on #44157
@zhusulai We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-11 19:30] #44157 closed

[2019-12-11 19:36] CeciAc opened #44510 "typo"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.de-de/issues/602

@sn1ce commented 12 hours ago — with docs.microsoft.com

Hello!

There is a typo on this site,

resource "azurerm_public_ip" "jumpbox" {
name = "jumpbox-public-ip"
location = var.location
resource_group_name = azurerm_resource_group.vmss.name
allocation_method = "Static"
domain_name_label = "${random_str

[2019-12-11 19:40] ScottG489 opened #44511 "Sent events without a specified partition are not round-robin"
According to the discussion in the linked (below) github discussion it appears that the documentation about how a round-robin approach is used for events sent without a partition ID is false.

https://github.com/Azure/azure-sdk-for-js/issues/2772

Can someone update the documentation appropriately or clarify?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-12-11 19:41] permster commented on #39520
I would have to agree with @ryanspletzer.  If some of these operators are in fact still "preview" why isn't that reflected anywhere?

The docs are missing a few others but these are the ones that aren't as self explanatory:
- &
- !&
- INCLUDES
- IS_MEMBER_OF

[2019-12-11 19:47] DGG-IT opened #44512 "xMatters set-up instructions out of date"
It looks like the xMatters instructions are no longer 100% up-to-date. I completed an integration today with the help of an xMatters support agent.

Following the instructions as-written today does not allow for sp-initiated SSO. After speaking with xMatters, the step: Configure xMatters OnDemand Single Sign-On 3c should be amended.
Rather than using "Login URL" from Azure SAML configuration, the

[2019-12-11 19:54] QiMata opened #44513 "No Share Link"
I may be doing this wrong but I do not believe that the share link exists anymore

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39b2c82b-3624-18ac-de45-446049ca11c1
* Version Independent ID: 9f5f6ed4-c8d0-2010-8463-07c2e51b6eca
* Content: [Create and share a Jupyter notebook on Azure](https://docs.microsoft.com/en-us/

[2019-12-11 19:54] sanpil commented on #44505
Looking.

[2019-12-11 19:56] asudbring commented on #42472
@assign:@malopMSFT

[2019-12-11 19:56] asudbring commented on #42472
#assign:@malopMSFT

[2019-12-11 19:56] asudbring commented on #42378
@assign:@malopMSFT

[2019-12-11 19:57] asudbring commented on #42378
#assign:@malopMSFT

[2019-12-11 20:03] diberry commented on #43536
@VladPScreenMedia Can you please open a feedback issue from the QnA Maker portal with this information?

@RohitMungi-MSFT FYI -

[2019-12-11 20:05] gjustice opened #44514 "portal and CLI methods?"
How about including a reference to the procedure to create a VM from the snapshot via the portal.

Also, if this can be done using the CLI, please outline that as well since that is my goto mechanism!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bb0d5aa-46fa-b15d-8eec-c724b5ae468c
* Version Independent ID: 1977490f-

[2019-12-11 20:07] MarileeTurscak-MSFT commented on #44512
@DGG-IT
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-11 20:07] cijothomas opened #44515 "Doc is outdated."
3.0 support is added but docs says not supported.
Also there is no mention of Linux support. - it should be mentioned here (what is supported what is not supported) to avoid confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 098ffe3a-2cbd-1038-30f2-dd2f528984a3
* Version Independent ID: 65da3e70-2ac2-8f6e-51a5-e

[2019-12-11 20:08] mike-urnun-msft commented on #44489
@estensen Thank you for your feedback! We will review and update as appropriate.

[2019-12-11 20:09] andy-andykingit opened #44516 "Tracking Job Failures"
I've been testing out the Elastic Jobs today, I can see my test SQL statements (just simple inserts) work as expected, but the job failure status always comes back as a failure.
Not sure if this a bug or lack of understanding, what triggers the return codes? and is there any way for tracking where the issue could be? (for instance I can see the Azure SQL activity logs show the job being executed b

[2019-12-11 20:09] CHDAFNI-MSFT opened #44517 "FastPath - Speed considerations"
Please clarify on performance capabilities of FastPath.
Ex: If FastPath can exceed the ER 'Ultra' gateway speeds, i.e. &gt;10Gbps throughput when ER Circuits are provisioned &gt;10Gbps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ef08cf3-dc22-6ef6-e6fe-c17b1f7cfe69
* Version Independent ID: dbe4d186-129a-d76f-a5eb-7

[2019-12-11 20:14] asudbring commented on #42365
added note to article
#please-close

[2019-12-11 20:14] #42365 closed

[2019-12-11 20:23] roygara commented on #43894
Ah, looks like we've already updated the document.

Thanks for bringing this to our attention, and helping us to improve our documentation, we appreciate it!

#please-close

[2019-12-11 20:23] #43894 closed

[2019-12-11 20:28] kobulloc-MSFT commented on #44515
@cijothomas Thank you for bringing this to our attention!  I've assigned this to the author so they can update the documentation accordingly.

[2019-12-11 20:33] kgremban commented on #43440
@mmydland Can you take a look at this issue?

[2019-12-11 20:36] EmDecay opened #44518 "Lifecycle Action Logs"
Where can logs about Lifecycle actions be viewed?  I have a need to validate that Lifecycle actions are actually taking place, or view errors when they don't.  We had a Lifecycle rule to delete data after X period of time, but it looks like that rule didn't properly trigger or execute (can't yet determine which) for a fairly long period of time (a month or two).

---
#### Document Details

⚠ *Do n

[2019-12-11 20:41] asudbring commented on #39769
Updated FAQ
#please-close

[2019-12-11 20:41] #39769 closed

[2019-12-11 20:49] TravisCragg-MSFT commented on #44425
@oising I am moving this issue over to the [End to End SSL with the V2 SKU](https://docs.microsoft.com/en-us/azure/application-gateway/ssl-overview) page and assigning this issue to the doc author to evaluate and update as appropriate.

[2019-12-11 20:50] nibaccam commented on #44505
Hi @tchmiel thank you for your post, please see below for the appropriate link address: https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/work-with-data/datasets-tutorial/train-with-datasets/train-with-datasets.ipynb

I'm working to update the link, please leave this issue open for the time being. I will reach out when the link and appropriate docs have been updated.

[2019-12-11 20:53] asudbring commented on #44394
@jabbera
The custom DNS section has a link directly to using a custom DNS server with private link and the VNET that is associated.  You have to change the DNS servers that the VNET uses to point to your custom DNS, then you create A records for the private link resources in those DNS servers.  When resources get the DNS configuration from the VNET, they will use those DNS servers for name lookup.

[2019-12-11 21:01] asudbring commented on #43882
Region is specified in commands for RG creation.  Will ask PM about overlapping networks, as the PoSh commands have separate network spaces.
#44498 @malopMSFT

[2019-12-11 21:08] TravisCragg-MSFT commented on #44464
@jzoran05 Can you give some more context around what exactly should be clarified?

 I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-11 21:10] dhanyahk commented on #44052
As a rule of thumb, if you see a delay in the logs for more than 2 hours, please file a support ticket so we can investigate.

[2019-12-11 21:10] asudbring commented on #43475
Asking PM for clarification
#assign:@malopMSFT

[2019-12-11 21:11] asudbring commented on #43212
asking PM for clarification
#assign:@malopMSFT

[2019-12-11 21:23] joe-bethke opened #44520 "Debug Configuration"
Is there a debug configuration available for .NET Core?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fcbb526e-c8f4-87c8-94a6-f3d68ec34b97
* Version Independent ID: 05c39e2f-df86-bf85-2930-9ad7a9aa9926
* Content: [Connect your development machine to an AKS cluster - Azure Dev Spaces](https://docs.microsoft.com/en-us/a

[2019-12-11 21:26] henry-padilla opened #44521 "How to use New-AzADSpCredential to add certificate credentials"
I am using App Registrations to deploy resources and the certificate is expiring. I am trying to write a script to add a new cert to extend the life of this Service Principal but no matter who I login as (myself, a colleague, the Service Principal itself) I get the following error:

New-AzADSpCredential : Insufficient privileges to complete the operation.
At G:\XXX\XXX\XXX\Add-NewDmfCertificate.ps

[2019-12-11 21:28] femsulu commented on #44496
Thanks for the Kudos on the doc, @serlapoi. we appreciate the positive feedback.
@MGoedtel  - FYI

[2019-12-11 21:29] femsulu commented on #44496
We will now close this thread. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-12-11 21:29] #44496 closed

[2019-12-11 21:36] azsec commented on #30127
You can refer to this article for the guidance https://azsec.azurewebsites.net/2019/12/03/vm-security-log-to-event-hub-for-siem-integration/

[2019-12-11 21:39] MonikaReddy-MSFT commented on #44520
@joe-bethke , Thanks for asking the question. We will investigate it further and update you shortly.

[2019-12-11 21:44] femsulu commented on #44495
@heldchen your comment has been shared with the content owner for further investigation. We will share an update soon. Thanks for your patience.

[2019-12-11 21:44] jabbera commented on #44394
@asudbring none of these work. When you create a private endpoint and integrate it with a private dns zone then dig on the public address, it returns a cname to the linked private zone name. That only works if you use the prescribed naming: privatelink.database.windows.net in the case of SQL.

For example:
[code]

As you can see mikebtestsql1.database.windows.net is returning a cname to mikebtests

[2019-12-11 21:44] MarileeTurscak-MSFT commented on #44297
Have you tried adding both URLs as the reply URL? The exact message in Azure AD is "must start with HTTPS or http://localhost"

So you should still be able to add both URLs and test in localhost.

[2019-12-11 21:49] SunilMiracle commented on #42894
With V1 service client on **windows python 3.6.8** (as per @JimacoMS3 suggestion).
I still get http send failure error when running **BackEndApplication.py** file in the IOT Quickstarts folder ( with a valid IOT Hub Connection String).

------- Complete Error log  --------

**Error:** Time:Wed Dec 11 16:36:37 2019 File:C:\Release\iot-sdks-internals\release\python\automation\aziotsdk_pytools\src\c\

[2019-12-11 21:56] haydenhancock opened #44524 "ConnectWithManagedIdentity"
I don't see this available as an AzureAppConfigurationOptions in the latest API. Am I missing something? I am using Microsoft.Extensions.Configuration.AzureAppConfiguration 3.0.0-preview-010550001-251 in a Functions application. I should probably mention that I am using the Azure Functions v2 (.NET Core) template found in Visual Studio 2019 (Version 16.4.1).

---
#### Document Details

⚠ *Do not e

[2019-12-11 22:03] asudbring commented on #43882
From PM:
"Private Link Support PLS and PE in VNETs with overlapping IP space. Bot ends are independent of each other in terms of IP space."

#please-close

[2019-12-11 22:03] #43882 closed

[2019-12-11 22:04] KumudD commented on #20848
This doc issue has been addressed.
#please-close

[2019-12-11 22:04] #20848 closed

[2019-12-11 22:05] asudbring commented on #43475
From PM:
"Services have to configure the SSL certificates on the {privatelink.}{servicedomain} in addition to {servicedomain) for the config to work."

#please-close

[2019-12-11 22:05] #43475 closed

[2019-12-11 22:05] asudbring commented on #43212
This issue is being investigated by the Private Link team.

#please-close

[2019-12-11 22:05] #43212 closed

[2019-12-11 22:07] asudbring commented on #42472
Will add a note to docs that the service firewall must be configured for lockdown of public access.

#please-close

[2019-12-11 22:07] #42472 closed

[2019-12-11 22:08] asudbring commented on #42378
This is documented here:
https://docs.microsoft.com/en-us/azure/private-link/disable-private-endpoint-network-policy
#please-close

[2019-12-11 22:08] #42378 closed

[2019-12-11 22:18] ttilberg opened #44525 "Ruby doesn't use pip."
&gt; Ruby apps must be deployed with all the required pip modules.

Ruby doesn't use pip.

Is this implying that it should be deployed with a local gem directory? `bundle install --path vendor/bundle`

If in fact this for some reason does require Python to deploy a Ruby app, this sentence should be better clarified.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2019-12-11 22:20] MarileeTurscak-MSFT commented on #44308
This is a good point. The article does note that the role has global read-only permissions, but it doesn't mention the conditional access reader permissions in the section listing the permissions, so I made a pull request to add this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/98723

[2019-12-11 22:20] #44308 closed

[2019-12-11 22:25] amthomas46 opened #44526 "remove v12 from image name"
This is confusing and it's never explained in the documentation. I think we should just remove it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1e79991-5825-bd56-e5dc-567c5eac23e1
* Version Independent ID: aa72757c-f7a8-0cc7-1eaf-488569016711
* Content: [Query across cloud databases with different schema - Azure SQL

[2019-12-11 22:27] pratikrane101 opened #44527 "How to change the subscription within logic app designer in visual studio?"
In visual studio when I open .json template using logic app designer, the first time it allows me select Azure subscription & RG. Although once it is open it does not allow me to change the Azure Subscription. How to
 change azure subscription?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2650bd13-3b48-c09d-e0bc-bcad

[2019-12-11 22:43] himanshusinha-msft commented on #35816
@ivanignatiev : We have not heard back from you whether the official sample helped . At this time we are going ahead and closing the issues . If you think you need more clarity/help we can always open the issue .

[2019-12-11 22:43] #35816 closed

[2019-12-11 22:55] FrankHu-MSFT commented on #44406
@AggieCMD  can you clarify what you're requesting? The statement you wrote is not anywhere in the document. If it isn't in the document, then it shouldn't occur accordingly. If it this does occur please let us know and we can look into it further.

specifically for nameid, it explains the settings here : https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-saml-claims-c

[2019-12-11 22:55] himanshusinha-msft commented on #41554
We are closing this issue as we have not heard back from you , you can always re-open the issue if you think that appropriate .

[2019-12-11 22:55] #41554 closed

[2019-12-11 22:57] mmydland commented on #43440
@drajput Can you take a look at this please?

[2019-12-11 23:01] jofrance opened #44530 "Nvme and ephemeral drives"
While ephemeral drives can be encrypted under specific conditions using azure disk encryption, there's no mention of NVMe drivers under ADE nor under SSE or the encryption models mentioned on this page, can you add mention of NVMe drives supoortability of azure data encryption at rest?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-12-11 23:02] mmacy commented on #44225
@NachoVazquez We are investigating this on our end. To confirm, when you registered your application using the _App registrations (Preview)_ method, did you perform step 10 as specified here?

![image](https://user-images.githubusercontent.com/13394541/70667915-f7cd8e00-1c26-11ea-8644-6fca153311b4.png)

Setting in the Azure portal:

![image](https://user-images.githubusercontent.com/13394541/70667

[2019-12-11 23:03] mmydland commented on #41558
@drajput can you take a look at this.

[2019-12-11 23:03] Mike-Ubezzi-MSFT commented on #44516
@andy-andykingit Thank you for bringing this to our attention. Can you verify the value in the `lifecycle` column in the `job_executions` table (JobDatabase):

![Screenshot (520)](https://user-images.githubusercontent.com/37126106/70668048-5266ea00-1c27-11ea-9def-58a6965c447c.png)

[2019-12-11 23:10] FrankHu-MSFT commented on #44478
hello @stefanschoof thanks for your feedback, currently this is not supported. If you're interested in this feature, please submit it against the uservoice here : https://feedback.azure.com/forums/347535-azure-security-center and if there's enough community support the product team will look into implementing this in the future.

If there are no more questions I'll be closing out this github issue

[2019-12-11 23:11] NachoVazquez commented on #44225
Hello @mmacy,
Yes, I enabled the default client option.

I can later provide an screeshot with all my configurations.

[2019-12-11 23:17] mmacy commented on #44225
@NachoVazquez Thanks for the quick response! And no worries on the images, that should be enough. Just wanted to confirm that you'd switched public client to **Yes**.

Will update here when we have more info.

[2019-12-11 23:23] oak13 opened #44531 "Limitations ACR's VNET"
Is it possible to deploy ACR into a VNET? My understanding is that it is not. If it is possible to deploy ACR into VNET, could you provide link for the documentation.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b68f2c4-bb6c-11a2-6c61-8af4057a2438
* Version Independent ID: e3498bed-1447-6841-8353-9f1b5d3dc8df
* Cont

[2019-12-11 23:24] rbeauchamp opened #44532 "Video incorrectly states that "Allow Azure Services" only allows access from within the associated subscription"
It is verbally stated in the video that access is constrained to "within your own subscription", but not stated in the written documentation above.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3102127-3223-8b70-a029-bbc33fea53d6
* Version Independent ID: 0bd59bd9-753b-39c9-c773-e8c2a0e086e7
* Content: [Network Acces

[2019-12-11 23:26] kgremban commented on #41558
@ericmitt FYI

[2019-12-11 23:27] kgremban commented on #43440
@ericmitt FYI

[2019-12-11 23:27] kgremban commented on #43441
@ericmitt Do you think we can update the VM to include the CLI or should I add this step to the docs?

[2019-12-11 23:42] Alberto-Vega-MSFT commented on #44475
@fadyanwar Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-11 23:49] FrankHu-MSFT commented on #44504
Hey @jtuliani thank you for your feedback, we're currently looking into this and will try to update the docs accordingly.

cc: @memildin can you please look into this when you can to put this in the docs? Thanks

[2019-12-11 23:50] jeevansd commented on #44512
@DGG-IT With this value it will go in the loop. Can you please confirm that it is working with this change?

[2019-12-11 23:52] Karishma-Tiwari-MSFT commented on #44200
@gurudennis Can you please confirm on the "name": "[concat(variables('vmName'), '/NetworkWatcherAgent')]"?

[2019-12-11 23:56] boreys opened #44534 "Azure Cli for "Configure subscription for IoT Hub events""
is there an Azure Cli command for "Configure subscription for IoT Hub events"? I cannot find any command on Azure CLI for IOT to create such event.

Goal: automate deployment of IOT Hub and hook up event to Azure Functions

[2019-12-11 23:58] boreys opened #44535 "Azure Cli for "Configure subscription for IoT Hub events""
is there an Azure Cli command for "Configure subscription for IoT Hub events"? I cannot find any command on Azure CLI for IOT to create such event.

Goal: automate deployment of IOT Hub and hook up event to Azure Functions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07d7fa6c-ff20-a079-9e08-9fa8f6b6e1ed
* Version Ind

[2019-12-11 23:58] #44534 closed

[2019-12-11 23:59] FrankHu-MSFT commented on #44485
Hey @lightupdifire  can you clarify what your request is here? I'm not sure I understand, are you requesting there to be scenarios on this doc of what could occur if you follow the doc?

Or are you requesting how to properly test against each of those services?

That being said, it isn't feasible to document every single scenario. If it's not documented on the documentation here there shouldn't be

[2019-12-12 00:04] Karishma-Tiwari-MSFT commented on #44200
I have created a PR with the update, changes will be live in few hours.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-12-12 00:04] #44200 closed

[2019-12-12 00:08] Karishma-Tiwari-MSFT commented on #44310
I have created a PR with the update, changes will be live in few hours.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-12-12 00:08] #44310 closed

[2019-12-12 00:09] Karishma-Tiwari-MSFT commented on #44130
@andyturn31 Is there any update?

[2019-12-12 00:25] tedgoddard opened #44536 "Azure (sub) domains are not properly recorded in https://publicsuffix.org"
Certain OAuth consent configurations do not work due to the fact that azure domains are not considered top level suffixes.

For instance, the domain foo.westus.cloudapp.azure.com is considered to be only azure.com domain whereas foo.us-west-2.elasticbeanstalk.com is recognized as foo.us-west-2.elasticbeanstalk.com because us-west-2.elasticbeanstalk.com has been submitted by Amazon as a public suff

[2019-12-12 00:29] Karishma-Tiwari-MSFT commented on #44379
@MicrosoftDocs/aks-pm Can any of you please share insights on what could be the reason behind the error. I can't seem to find any information on this. Thanks :)

[2019-12-12 00:41] FrankHu-MSFT commented on #44521
@henry-padilla Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-12 00:43] FrankHu-MSFT commented on #44521
As this is a troubleshooting question please submit this at the Q&A Forums, this is most likely an issue with your permissions as your account is not a global admin, your utilizing a service principal by using the client credential flow, or you don't have the right rbac role permissions,

Please post here :
https://docs.microsoft.com/answers/index.html

As this is not within the scope of the githu

[2019-12-12 00:43] #44521 closed

[2019-12-12 00:44] FrankHu-MSFT commented on #44530
@jofrance Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-12 00:53] TravisCragg-MSFT commented on #44517
@CHDAFNI-MSFT Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-12 00:55] MarileeTurscak-MSFT commented on #44466
@ThomasBalder
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-12 00:56] MarileeTurscak-MSFT commented on #44466
@ThomasBalder this is good feedback. The best place to add this is in[ User Voice](https://feedback.azure.com/forums/34192--general-feedback), where the product team will reply directly. If you create a post there I will upvote it and help spread the word. https://feedback.azure.com/forums/34192--general-feedback

[2019-12-12 00:56] MarileeTurscak-MSFT commented on #44466
Closing as this is more product feedback than doc feedback, but please post to User Voice.

[2019-12-12 00:56] #44466 closed

[2019-12-12 01:03] kromerm commented on #43236
This is on our roadmap for CY20. No ETA or timeline at this time.

[2019-12-12 01:04] kromerm commented on #43623
https://docs.microsoft.com/en-us/azure/data-factory/connector-overview#supported-data-stores

[2019-12-12 01:06] JimacoMS3 commented on #42894
Hi @SunilMiracle,

This is odd to me. It looks like you're getting a **401** unauthorized error. Are you using the connection string that corresponds to the **service** policy for your IoT Hub?

Meaning are you using this cli command (including the `policy-name service` parameter to get your connection string:

[code]

Thanks,

Jimaco

[2019-12-12 01:22] Karishma-Tiwari-MSFT commented on #44483
It is the <guid> which is highlighted in red, the same color as "[0].id" in the command.

[2019-12-12 01:22] lostdoco commented on #32846
Can we get an update on this? For restrictive network environments this is essential information.

[2019-12-12 01:31] purnesh42H opened #44538 "ItemQueryIterator.ReadNextAsync() doesn't return results"
I am using "Microsoft.Azure.Cosmos" .net sdk v3. For some records even though my queryIterator has results but when I do .ReadNextAsync() my result count is 0. I am able to get the result in the portal with the same query. Its happening only for some records. Can someone help?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-12-12 01:35] Karishma-Tiwari-MSFT commented on #44514
Here is the document to create a VM from the snapshot via Azure portal:
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/create-vm-specialized-portal

[2019-12-12 01:39] MarileeTurscak-MSFT commented on #44484
@gerrynicol
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-12 01:52] MartinJaffer-MSFT commented on #44385
You only need to implement one of the URL's not both, @phrayze .  Still investigating why both are present in the doc.

[2019-12-12 01:55] yashesvi commented on #44438
Its based on the remaining balance.
Disclaimer: We currently are waiving off early termination fee. But can start charging anytime.

[2019-12-12 01:57] KrishnaG-MSFT commented on #44461
@mhopkins-msft Thanks for the response. :+1:

[2019-12-12 02:06] ram-msft commented on #44260
@phoenixx77 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-12 02:06] #44260 closed

[2019-12-12 02:10] dcbrown16 opened #44539 "NFS and NetApp Files"
There appear to be two more options besides Disks, Files, and BlobFuse. Can these be added to the comparison here?
https://docs.microsoft.com/en-us/azure/aks/azure-nfs-volume
https://docs.microsoft.com/en-us/azure/aks/azure-netapp-files

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc89d962-27d5-2ebd-4e8d-092948eb92a3

[2019-12-12 02:15] jlaidlawRTS opened #44540 "Get Metadata Activity Exists Field"
I am attempting to access the exists field for a folder in Azure Blob Storage via the Get Metadata Activity but I am getting a forbidden 403 error when I attempt to. Do I need anything more then read access on an Azure Blob to be able to access the exists field? I ask because I am able to do this on blob storage where I have the owner role but in this other storage account I have a limited role wh

[2019-12-12 02:51] jons-own-stuff opened #44541 "Gateway Manager Port"
Hello,

The "Important" note says the following:
"Enable port 4443 for inbound traffic from Gateway Manager for session monitoring to work."

In the documentation on working with NSGs, it only mentions 443. Is this a typo? Here's the exact wording on that page:

"Ingress Traffic from Azure Bastion control plane: For control plane connectivity, enable port 443 inbound from GatewayManager service ta

[2019-12-12 03:15] yuharucan opened #44542 "Is request access currently not accepted?"
Some users submit request access, but have not accepted for a long time. If request access is not  currently accepted, this should be shown on important section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 889b34f3-060f-4507-32db-63d5a33cfd4c
* Version Independent ID: 74032f30-05bd-ea1f-4504-3444ba065c8b
* Content:

[2019-12-12 03:15] MonikaReddy-MSFT commented on #44524
@haydenhancock , Thanks for reaching out to us. We will investigate it further and update you shortly.

[2019-12-12 03:21] arvind-dhariwal commented on #44291
I would say the last 2 window - sliding and session. an example is given in
the diagram but the same is not explained step by step.

somewhere there should tabular comparison also b/w all 4 windows type which
can help to understand when should be in which scenario.

Thanks
Arvind Dhariwal
+60 1124263708
Calendar - https://calendly.com/arvind_dhariwal

On Thu, Dec 12, 2019 at 1:55 AM Mary McCready

[2019-12-12 03:30] jusso-dev opened #44543 "Page references "Azure SQL Data Warehouse" instead of Azure Synapse Analytics"
Page referenced makes reference to "Azure SQL Data Warehouse" instead of Azure Synapse Analytics.

[2019-12-12 03:52] deeksha-v commented on #44294
Hi @asergaz, I have tried what you have recommended above with various bin files but I am still experiencing the same issue of seeing "Registering ... retry 1, 2, 3 etc". Any suggestions or ideas?

[2019-12-12 04:00] AshokPeddakotla-MSFT commented on #44535
@boreys Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-12 04:05] github2alfred opened #44544 "shared image gallery scope"
Can I move my existing image to the shared image gallery?

&gt;&gt; please add on that "the shared image gallery" must be in the same subscription with the image, in order to add image to that gallery.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d150ace-bd6d-8111-79b5-0ce7cb76a378
* Version Independent ID: 13a828ae

[2019-12-12 04:24] ManojReddy-MSFT commented on #44491
@anton-khoryukov-zf We are looking into this and will get back to you shortly.

[2019-12-12 04:26] arvind-dhariwal opened #44545 "endpoint link format"
now a days we see endpoint format like htts://&lt;CognitiveServiceName&gt;.cognitiveservices.azure.com on azure portal but here endpoint pattern/format is different

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69823924-7def-6548-4f85-4ab9b8075d46
* Version Independent ID: 9593dc98-656c-a73a-cbe6-ce201e497b11
* Conten

[2019-12-12 04:31] SumanthMarigowda-MSFT commented on #44506
@CeciAc Thanks for your question. We are checking on this and will respond to you soon.

[2019-12-12 04:32] SumanthMarigowda-MSFT commented on #44518
@EmDecay Thanks for your question. We are checking on this and will respond to you soon.

[2019-12-12 04:33] amanmcse commented on #43982
@Tiberriver256 I am proceeding with closure of this thread. Feel free to tag me in your reply if you need any further assistance on this issue.

[2019-12-12 04:33] #43982 closed

[2019-12-12 04:34] ManojReddy-MSFT commented on #44493
@mariojacobo Thanks for the feedback. We are looking into this and will get back to you shortly.

[2019-12-12 04:40] jakaruna-MSFT commented on #44366
@onkarthg
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-12-12 04:40] #44366 closed

[2019-12-12 04:40] #44221 closed

[2019-12-12 04:41] AshokPeddakotla-MSFT commented on #44494
@cmaneu  Thanks for bringing this to our attention. We are currently investigating and will update you shortly.

[2019-12-12 04:43] SnehaAgrawal-MSFT commented on #44525
@ttilberg Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-12 04:43] RohitMungi-MSFT commented on #44542
@yuharucan Could you please confirm if you are using an email address associated with either a Microsoft Account (MSA) or an Azure Active Directory (Azure AD) account in the form.

Currently access to the containers is private and the request is directly sent to our product team for evaluation. If the request is accepted email with details are sent to the user. We will check internally if the team

[2019-12-12 05:13] RohitMungi-MSFT commented on #44545
@arvind-dhariwal Thanks for bringing this up. Yes, the portal does provide an endpoint with the resource name as `https://<resource_name>.cognitiveservices.azure.com/sts/v1.0/issuetoken` to get the bearer token.

You can also use `https://<your-region>.api.cognitive.microsoft.com/sts/v1.0/issueToken` to get the token by replacing the region of your resource. In case the resource is a global resour

[2019-12-12 05:19] msrini-MSFT commented on #44541
@jons-own-stuff  , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-12-12 05:21] SnehaAgrawal-MSFT commented on #44254
@PingPongSet We will now proceed to close this thread. If there are further questions regarding this matter,Please let us know.

[2019-12-12 05:21] #44254 closed

[2019-12-12 05:23] csdevgithub commented on #14508
Could you please guide me how to develop new custom control?

[2019-12-12 05:25] amanmcse commented on #44469
@adamfowlerit Below are the three methods to apply Authentication Policy for blocking legacy authentication for single or multiple users under [Step 2: Assign the authentication policy to users](https://docs.microsoft.com/en-au/exchange/clients-and-mobile-in-exchange-online/disable-basic-authentication-in-exchange-online#step-2-assign-the-authentication-policy-to-users)
- Individual user accounts

[2019-12-12 05:28] avbhaskar opened #44546 "ARM template for SQL serve Sync Agent - Deployment Error"
**Issue**: ARM template for SQL Server Sync Agent fails if agent already exists, even with incremental mode deployment.
**Source**: [https://docs.microsoft.com/en-us/azure/templates/microsoft.sql/2015-05-01-preview/servers/syncagents]()
**Sample code:**
`{
      "condition": "[parameters('createSyncAgent')]",
      "name": "[concat(parameters('dataSyncsqlServerName'), '/',parameters('syncagentname

[2019-12-12 05:43] amanmcse commented on #44470
@adamfowlerit I have assigned it to the author for elaborating "**whenever necessary**" part under [Protecting all users](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/concept-fundamentals-security-defaults#protecting-all-users) section.

[2019-12-12 05:46] ram-msft commented on #43867
@sirjun05 We would recommend to raise a Azure support desk ticket from Help+Support blade from Azure portal.  This will help you to share the details securely and work with an engineer who can provide more insights about the issue. We have forwarded the same to the product team to check.

[2019-12-12 05:48] ManojReddy-MSFT commented on #44534
@boreys I am assuming you were able to find the command you are looking for. Let me know if you have any further questions regarding this.

[2019-12-12 05:50] souravsubhankar commented on #44471
Hi @Mary. Unfortunately we don't have a service principal with us to use for the workaround. Can you please help us know that if we are using a cluster with Azure AD Credential Passthrough enabled  and calling it through azure datafactory notebook activity, will it be running on Datafactory user context or any default user identity it will use.

[2019-12-12 05:51] Jegannathan commented on #35634
any update on this issue

[2019-12-12 05:51] huqianghui opened #44547 "az spring-cloud app deployment create error"
Hi,
I tried to use azure-cli to create deployment.
I have set the --name parameter but still get the validation error: Parameter 'deployment_name' can not be None.

Please see detail trace log below.

chnmct0504C74:piggymetrics huqianghui$ az spring-cloud app deployment create --app gateway --name gateway-deployment --jar-path ./gateway/target/gateway.jar --debug --verbose
Command arguments: ['spr

[2019-12-12 05:53] KalyanChanumolu-MSFT commented on #44532
@rbeauchamp Thank you for reaching out and providing feedback.

At 7:33 during the video, it is said that “Allow Access to Azure services” restricts traffic to resources within the subscription - which is incorrect.

Setting "Allow access to Azure services" button on the Portal (Firewall settings page) to ON shall allow traffic to/from resources ( e.g. Azure VM) or PaaS services( e.g. Web App) hos

[2019-12-12 05:58] ManojReddy-MSFT commented on #44503
@jpendyala We are looking into this and will get back to you shortly.

[2019-12-12 06:01] ManojReddy-MSFT commented on #44499
@IGx89 We are looking into this and will get back to you shortly.

[2019-12-12 06:02] ram-msft commented on #44117
@jonmikeli We have forwarded the same to the product team to check. @erhopf Could you please comment on the commercial devices fulfilling all the requirements in the [doc](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-devices-sdk-microphone).

[2019-12-12 06:05] RohitMungi-MSFT commented on #44339
@edu-gp We will now proceed to close the issue. If you need further help, please create a support issue from Azure portal from help+support blade from the portal as this issue needs a lookup of your experiment.

[2019-12-12 06:05] #44339 closed

[2019-12-12 06:06] ManojReddy-MSFT commented on #44508
@CeciAc @gurrish We are looking into this and will get back to you shortly.

[2019-12-12 06:09] ManojReddy-MSFT commented on #44543
@jusso-dev Thanks for bringing this to our attention. Can you share the link to the document you are referring to?

[2019-12-12 06:10] HexANN opened #44548 "The Skip and Log row functionality is not working"
Hi,
The Fault Tolerance option in the Copy Data component is not working. We had our pipelines running fine till 8-Dec-2019 but since that it is failing. We have selected the Skip and Log Incompatible Rows option. But is failing stating that the target column does not allow DBNULLs. As I stated, this functionality was working till 8-Dec-2019 and no code change has been done since.
The table never

[2019-12-12 06:11] ManojReddy-MSFT commented on #44538
@purnesh42H Can you please share the link to the document you are following?

[2019-12-12 06:19] dcurwin commented on #44495
#reassign:pvrk

[2019-12-12 06:19] dcurwin commented on #44495
#assign:saurabhsensharma

[2019-12-12 06:23] jusso-dev commented on #44543
This whole sub-section of the docs is outdated - https://github.com/MicrosoftDocs/azure-docs/tree/master/articles/sql-data-warehouse

[2019-12-12 06:25] ManojReddy-MSFT commented on #44527
@pratikrane101 We are looking into this and will get back to you shortly.

[2019-12-12 06:28] RohitMungi-MSFT commented on #44513
@QiMata I did a quick lookup of one of my notebook and the share option is still available. Are you checking for the share option after opening the notebook? The link is available in the project page as seen in the screen shot below.

![image](https://user-images.githubusercontent.com/46958063/70687989-ada3e580-1cd6-11ea-96f4-c051dc1f574a.png)

[2019-12-12 06:37] Jegannathan commented on #35634
A small workaround to this issue is instead of TrainingApi.TrainingAPIModels.Region() just replace with {} empty object. this solves my issue

[2019-12-12 06:43] pavanivm commented on #44297
I am configuring reply url in Basic SAML configuration section of Set up
Single Sign On section of application in Enterprise Applications. Here it
will accept only https url in reply url. http://local host
<http://localhost/> is not at all accepted because of this and this is the
blocker for local testing.

Thanks,
Pavani M.

On Thu 12 Dec, 2019, 3:14 AM Marilee Turscak - MSFT, <
notifications@git

[2019-12-12 06:49] msrini-MSFT commented on #44372
@bencalnan , Please tag me if you have any further questions.

[2019-12-12 06:49] #44372 closed

[2019-12-12 06:49] msrini-MSFT commented on #44375
@aidanfinn , Please tag me if you have any further questions.

[2019-12-12 06:49] #44375 closed

[2019-12-12 06:50] msrini-MSFT commented on #44474
@anttipo , Do you have any update on this issue?

[2019-12-12 06:50] Karishma-Tiwari-MSFT commented on #32846
Hi @cynthn, Need your help to find the right person to assign this doc enhancement issue to. Please let me know. Thanks :)

[2019-12-12 07:05] VikasPullagura-MSFT commented on #44400
@mirage8 You should not change the existing default tags and resources. But you can always add additional one, in this case you are not breaking the SLO.

[2019-12-12 07:33] ChiragMishra-MSFT commented on #44540
@jlaidlawRTS Thanks for reaching out. We are looking into your query and will respond to you shortly.

[2019-12-12 07:34] ChiragMishra-MSFT commented on #44511
@ScottG489 Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-12-12 07:40] MSNina123456 commented on #44445
Thanks for check. If it's not supported, please kindly help update our doc for cx to avoid any confusion.

[2019-12-12 07:49] awoSYS commented on #44388
Thank you for your reply, that helped me better understand it. One more
question: In this special case (
https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-threshold-based-rules#example-streaming-query
), could one also do
"metrics.metric.value as metrics" as opposed to
"metric = metrics.metric.value" and
"CASE rules.includeDim.[0] WHEN 'TRUE' THEN
metrics.custom.dimensions.[

[2019-12-12 07:56] awoSYS commented on #44387
Thank you for your reply.
So are the following things equal? (from
https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-stream-analytics-query-patterns#query-example-detect-the-duration-of-a-condition
)
"LAG([weight])" and "LAG(weight)"?
"previousTime [EndFault]" and "previousTime as EndFault"?
"[weight] < 20000" and "weight < 20000"?

Von:    "ChiragMishra-MSFT" <notifications

[2019-12-12 08:04] femsulu commented on #44509
@ArielRamirez99 thanks for bringing this to our attention. We are investigating and will respond soon.

[2019-12-12 08:07] femsulu commented on #44509
@dumartinmsft  - can you confirm if this is a content bug?

[2019-12-12 08:11] femsulu commented on #44296
@MGoedtel  - do we have any published content on ServiceMap pricing ?

[2019-12-12 08:12] lightupdifire commented on #44485
Hello @FrankHu-MSFT
I'm more like requesting feedback if this solution were deployed by anyone together with the ADFS from on-premise. But maybe wrong place :)
I will close the case, but please, if possible for you, can you please check with a team of this product.

[2019-12-12 08:12] #44485 closed

[2019-12-12 08:21] JayaC19 commented on #43842
Hello Mike,

Any update on this?

Regards,
Jaya Chatterjee

From: Mike Urnun <notifications@github.com>
Sent: Monday, December 2, 2019 1:25 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Jaya Chatterjee <Jaya.Chatterjee@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Application Insight - Configure Telemetry Module (#43842)

@JayaC1

[2019-12-12 08:34] ManojReddy-MSFT commented on #44309
@cwsusa We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-12-12 08:34] #44309 closed

[2019-12-12 08:35] VikasPullagura-MSFT commented on #44531
@oak13 Yes, your understanding is correct it is not possible to deploy ACR inside a VNET. Similar [issue](https://github.com/MicrosoftDocs/azure-docs/issues/34273) for your reference.
But you can restrict access to am ACR from specific VNET with firewall ruls, check this [document](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-vnet).
Hope this information helps.
We w

[2019-12-12 08:35] #44531 closed

[2019-12-12 08:35] jakaruna-MSFT commented on #44510
@CeciAc @sn1ce
Thanks for the feedback! I will submit a pr to correct the doc

[2019-12-12 08:42] jakaruna-MSFT commented on #44510
Submitted the fix.  Change will reflect in the doc in hours

[2019-12-12 08:43] andy-andykingit commented on #44516
Thanks Mike,
My job is has 1 step. When I execute the job I see 4 executions for the 1 job ID.
1 of these 4 is successful (the actual sql insert execution), the other 3 report a FAILED Status

![image](https://user-images.githubusercontent.com/56257939/70696290-ade6b580-1cc3-11ea-97a8-81c3893a61f5.png)

![image](https://user-images.githubusercontent.com/56257939/70696362-d53d8280-1cc3-11ea-9e07-13

[2019-12-12 08:43] VikasPullagura-MSFT commented on #44536
@tedgoddard Thanks for the Feedback. I am assigning the issue to content author for adding comments on this.

[2019-12-12 08:49] jakaruna-MSFT commented on #44539
@dcbrown16
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-12-12 08:49] VikasPullagura-MSFT commented on #44536
@georgewallace Can you please look into this Feedback and add your comments.

[2019-12-12 09:08] azr0112 opened #44550 "Collecting Security Logs"
Hi,
I have installed MMA in Windows VM and connect with Log Analytics workspace.
I am able to collect System and Application logs but I am not able to collect Security (Logon/Logoff) logs from my VM.
Is there any guide that will help me achieve this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00a00a3e-a0df-7ee5-473

[2019-12-12 09:19] ezenwankwogabriel commented on #31771
I had similar issues on Node. socket.io was failing on App services run on Linux on an azure cdn hosted domain.
Was able to mitigate this by using the Custom Domain and TLS/SSL settings to link my domain to the app service url instead of setting up an azure cdn on the app service.

[2019-12-12 09:21] GrzegorzHejman opened #44551 "Shouldn't IP addresses be changed to IP ranges?"
Shouldn't the list of IP addresses on this page be changed to a list of IP ranges for AppServiceManagement service which is published weekly by Microsoft as a json file? The difference here is that all the addresses on this page are configured with /32 network mask, whereas the AppServiceManagement IP ranges published weekly by Microsoft have different masks. For example: in this document one of t

[2019-12-12 09:23] andyturn31 commented on #44130
HI
Am i correct in thinking that you can't create an Image directly from an uploaded VHD?  So you have to create a VM first and then reference $diskID = $vm.StorageProfile.OsDisk.ManagedDisk.Id when creating the image?

[2019-12-12 09:33] VikasPullagura-MSFT commented on #44274
@bedro96 Apologies in delayed response.

The [document](https://azure.microsoft.com/en-us/services/virtual-desktop/assessment/) is now modified with a footer note to try reloading the Estimator Tool after setting DNS server that provides lowest RTT.
Below is the footer note.
![image](https://user-images.githubusercontent.com/48944027/70700192-56127380-1cf0-11ea-8d00-41c8aa8ac6e3.png)

Please try t

[2019-12-12 09:34] VikasPullagura-MSFT commented on #44314
@dariuszSki Any update on the issue?

[2019-12-12 09:41] ManojReddy-MSFT commented on #44374
@ksgopal4 Thanks for bringing this to our attention. I have submitted a pull request to update the doc accordingly. The issue will be closed automatically once the PR is merged.

[2019-12-12 09:42] SnehaAgrawal-MSFT commented on #44551
@GrzegorzHejman Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-12 09:54] AjayKumar-MSFT commented on #44259
@mslot, Apologies for the delay! Well, it's not. Just to give some clarity:
The confusion happens when users expect that their Staging site will not be restarted at all during the swap, and notice that it in fact is. But that is not normally as issue, since by the time the Staging site gets swapped, it has been warmed up.
So to summarize: the swap mechanism does not guarantee that the Staging site

[2019-12-12 10:01] andy-andykingit commented on #44516
Aha. I see the "message" now - failure on my part

[2019-12-12 10:02] ManojReddy-MSFT commented on #44526
@amthomas46 We are looking into this and will get back to you shortly.

[2019-12-12 10:02] LanderVe opened #44553 "no support in new SDK?"
I know that not all documentation is up to date with the new Azure.Storage.Blob package. That's ok, but I can't seem to find anything related to SAS in the new SDK. Are we supposed to use the older Microsoft.Azure.Storage.Blob SDK? Did I miss something? Or will support for SAS be added later?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-12-12 10:03] VikasPullagura-MSFT commented on #44448
@MicrosoftDocs/aks-pm Please look into this and add your comments.
I checked with the CLI, but there is no option to pass the cert validity with `az aks create -h` while creating the cluster.
Can you add some information on this.

[2019-12-12 10:12] SwathiDhanwada-MSFT commented on #44503
@jpendyala As of now, we don't have option of tags when creating Log analytics workspace via Azure Portal. As a workaround, I would suggest you deploy Log analytics workspace using ARM templates. Here are the links that helps in achieving your requirement.

1) [Log analytics template for quickstart](https://docs.microsoft.com/en-us/azure/azure-monitor/learn/quick-create-workspace-cli#create-and-de

[2019-12-12 10:16] thgengineering opened #44554 "Manage access for data lake storage Gen2 using Storage explorer"
[Enter feedback here]
I want to assign user permissions to two different blob containers in a single storage account, so that two different users cannot access each others folders. I used manage access but failed to maintain the isolation between the two. I want to know any other way to achieve this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-12-12 10:22] VikasPullagura-MSFT commented on #44508
@CeciAc PR has be raised for fixing the doc.

@gurrish Thanks for your feedback. The doc changes will go live once the PR is approved.

I will now go ahead and close this issue.

[2019-12-12 10:22] #44508 closed

[2019-12-12 10:24] GrzegorzHejman opened #44555 "Is it really needed to configure App Service Management IP addresses for all regions?"
Is it really needed to configure UDR with App Service Management IP addresses for all regions? Or is it enough to configure traffic to only App Service Management IP ranges for a region where the ASE is created?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80d8f411-2e7f-abc4-3e62-8b467e2409e7
* Version Independent ID

[2019-12-12 10:25] #44554 closed

[2019-12-12 10:29] RohitMungi-MSFT commented on #44463
@xieofxie I have tried to recreate the scenario to check if the deployment fails. With the same check to confirm the model_path my deployment works fine and the endpoint returns results. Here are the changes in score.py
![image](https://user-images.githubusercontent.com/46958063/70703688-9674f000-1cf6-11ea-9536-af6fbc7fc5e1.png)

Deployed the model as endpoint without errors
![image](https://user-

[2019-12-12 10:30] turnerno8 commented on #43379
Sorry, I forgot to answer
I downloaded the files, editted them and managed to get it working for now.

[2019-12-12 10:34] fadyanwar commented on #44475
Thanks @Alberto-Vega-MSFT, do you have some idea what happened with these templates? I can see only legacy 2018 template but it doesn't not have the full features the old templates had.

[2019-12-12 10:35] SwathiDhanwada-MSFT commented on #44465
@Contadmin Appreciate that you have resolved the issue yourself. As suggested , the information was already included in the document. For your reference, here is snapshot.
![image](https://user-images.githubusercontent.com/48976275/70705014-329ff680-1cf9-11ea-8621-9adee066d3a4.png)

Please revert if you further questions.

[2019-12-12 10:36] thgsiddhimorajkar opened #44556 "Manage access for data lake storage Gen2 using Storage explorer"
I want to assign user permissions to two different blob containers in a single storage account, so that two different users cannot access each others folders. I used manage access but failed to maintain the isolation between the two. I want to know any other way to achieve this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-12-12 10:41] SnehaAgrawal-MSFT commented on #44354
@v-shmao Thanks again for the feedback! As I can see it is mentioned in below doc link under Preview Limitation: https://docs.microsoft.com/bs-latn-ba/azure/app-service/containers/configure-custom-container#preview-limitations

[2019-12-12 10:43] shashishailaj commented on #14508
@csdevgithub Currently we have put a hold on this program . However if you already are using any existing MFA provider currently listed on the page , you can use the section [create a custom control](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/controls#creating-custom-controls) . to work with any of the listed providers.

In order to develop custom control you requir

[2019-12-12 11:15] KrishnaG-MSFT commented on #44554
@thgengineering Hope you have self resolved and hence closed the issue. Thanks for the update.

[2019-12-12 11:19] WhitWaldo commented on #36012
@jakaruna-MSFT Is it possible to define placement constraints for a service without using DefaultServices? Such as within each of the <ServiceManifestImport>s to describe the services themselves?

[2019-12-12 11:35] AjayKumar-MSFT commented on #44555
@GrzegorzHejman, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-12-12 11:35] memildin commented on #44504
Investigating. Thanks!

[2019-12-12 11:36] Aurel-Bruno opened #44557 "Supported Agents list"
Hello,

Linux Agents are missing in the supported Agents list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c98dc2bf-151b-16c3-da5e-eef859d07a63
* Version Independent ID: 0a65d614-122b-4d1a-0c6d-c5bc631bf4a4
* Content: [Agent Health solution in Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/insig

[2019-12-12 11:37] Chingleberry opened #44558 "Register GUIDs and Offers Steps"
Are the steps specified within the 'Register GUIDs and Offers' section up to date, as there's no 'Developer settings' options when selecting the gear icon in the top right hand corner of Partner Center?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db44bc8f-a6d7-8651-165d-929230435633
* Version Independent ID: c784782

[2019-12-12 11:37] aurokk commented on #44080
Hello!

I've some questions too. It would be cool if u explained it to me:
1. How to scale "change stream" consumers horizontally?
2. How to read "change stream" from the start?

Also, I've created a basic example of how to consume "change stream"
[code]

[2019-12-12 11:38] KrishnaG-MSFT commented on #44550
@azr0112 Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-12-12 11:41] KrishnaG-MSFT commented on #44546
@avbhaskar Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-12-12 11:42] VikasPullagura-MSFT commented on #44544
@github2alfred Thanks for the Feedback. I have assigned the issue to content author for checking on this doc enhancement request.

[2019-12-12 11:42] VikasPullagura-MSFT commented on #44544
@axayjo Please look into this doc enhancement request and update the document as applicable.

[2019-12-12 11:46] beastofbobmin commented on #39533
@jeevansd, Thanks for the reply, i still dont see it in the Microsoft Download Centre. is it meant to be there?

[2019-12-12 11:57] KrishnaG-MSFT commented on #44558
@Chingleberry Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-12-12 12:00] mslot commented on #44259
Thanks! I will rest my case :)

[2019-12-12 12:02] PramodValavala-MSFT commented on #44330
@dariagrigoriu Could you share any insights that could be documented as well?

@brandonmartinez We have assigned this issue to the content author for further review and to update accordingly.

[2019-12-12 12:02] PramodValavala-MSFT commented on #44447
@mjtpena Just following up here... Could you share more details on your scenario here?

[2019-12-12 12:14] Brale02 commented on #42205
https://github.com/MicrosoftDocs/azure-docs/issues/42205

[2019-12-12 12:19] KrishnaG-MSFT commented on #44557
@Aurel-Bruno Good observation! Thanks for the feedback.
Assigning @MGoedtel for visibility, review and document enhancement consideration.

[2019-12-12 12:21] pinkpuffles opened #44559 "Model is present but model.get_model_path says it's not present in cache"
I am trying to deploy my model as a service by using this link 👍

https://docs.microsoft.com/en-us/learn/paths/build-ai-solutions-with-azure-ml-service/
My experiment is present
![image](https://user-images.githubusercontent.com/48857033/70711757-0dfd4c00-1d04-11ea-9955-34966daddc48.png)

My model worked just fine too
![image](https://user-images.githubusercontent.com/48857033/70711809-279e9380-1d

[2019-12-12 12:28] xieofxie commented on #44463
Thanks~ @RohitMungi-MSFT
My script is right. However I set `overwrite=True` in Model.deploy to avoid removing new endpoints. And I am afraid it is the root cause. A new one works fine..

[2019-12-12 12:28] #44463 closed

[2019-12-12 12:31] dariuszSki commented on #44314
Yes, the sku is set to standard. It works as highlighted in the document. Thank you for the help.

[2019-12-12 12:31] #44314 closed

[2019-12-12 12:34] techiebuddhas commented on #42205
Thanks got the fix

[2019-12-12 12:35] kspoojary commented on #38914
Any update on this feature? Is there any link to track the feature 'Azure Dev Ops as a Trusted service for Azure Key Vault'

[2019-12-12 12:41] oak13 commented on #44531
Hi  @VikasPullagura-MSFT
In that case you may want to update the documentation:
https://docs.microsoft.com/en-au/azure/aks/private-clusters#limitations
3rd bullet point refers that ACR having a VNET:
"If customers need to enable ACR to work with private AKS, then the ACR's VNET will need to be peered with the agent cluster VNET"

[2019-12-12 13:01] #42906 closed

[2019-12-12 13:01] KrishnaG-MSFT commented on #44250
@ROSMITHJ-MSFT At this point it appears that there's no edits or updates needed for the referred Azure documentation and also looks like there are no additional comments from other tagged people so closing this issue for now. If there are further questions regarding this matter or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-12-12 13:01] #44250 closed

[2019-12-12 13:10] ErnestBrant opened #44561 ""Reset Password" link missing after every reboot (but present after logon and logoff but without reboot)"
Hello, can someone please assist with the the following
I have up Azure SSPR from the logon screen, by setting the following registry key via a group policy preference (as I could not see a builtin GPO setting)
HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\AzureADAccount

This works fine as long as the user does not reboot the computer. If the computer is rebooted the "reset password" link does n

[2019-12-12 13:17] nelsonmarcos commented on #20117
I couldn't find any official doc about the limits of subscriptions per account. Do they still valid? Does it exist an official doc about it?

[2019-12-12 13:17] mayankprayas commented on #42906
Hi @ManojReddy-MSFT  , I am trying to integrate MS Azure Login to our application. I am using Oauth 2.0 endpoint for same.
Currently my code_challenge length is 43 character, is it possible to provide this also as random length as code verifier which we randomly choose from 43 to 128 Characters.
Response to your question
(1) Yes, when code_challenge length is more than 43 character it throws this

[2019-12-12 13:21] KrishnaG-MSFT commented on #44283
@tfitzmac / @bmoore-msft Can you please help by reviewing and providing your insights, if any.
@azhar787 Apologize for the inconvenience caused. I believe it is tricky to say what is causing you to hit this timeout issue, support would be able to determine this with more information (like visibility to your environment, setup, access permissions, etc.) so if you already have a support plan then [h

[2019-12-12 13:23] SadiqhAhmed-MSFT commented on #44459
@kkondo-msft We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-12 13:23] #44459 closed

[2019-12-12 13:29] StefanSchoof commented on #44478
Thanks for your quick response (even when I hoped for a different answer)

[2019-12-12 13:29] #44478 closed

[2019-12-12 13:33] StingyJack commented on #44354
@SnehaAgrawal-MSFT  - There is nothing on this page that indicates any parts are preview. Nobody would be looking at the page you linked because its for _custom containers_, not docker-compose or multi-container apps.  Please address both of those documentation issues.

There is another documentation issue as well, trying to find the right place per web searching "azure docker-compose", finds this

[2019-12-12 13:41] dcurwin commented on #44460
Document was updated, thanks.

#please-close

[2019-12-12 13:41] #44460 closed

[2019-12-12 13:50] whynotm commented on #42508
Hello @kovaliovsg ,
Can you please post the pattern expression on your GitHub that i can try it.
i have the same issue with Application Gatewa and AAD integration.

thanks on advance

[2019-12-12 13:51] tinod opened #44562 "Azure Batch CLI samples have outdated commands."
The CLI samples contain outdated commands and should be updated to reflect the 'current' version of the Azure CLI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55359885-04c1-0018-5a63-599afa39a200
* Version Independent ID: 51a8fcb4-454b-b08c-178b-45d3f37c3d4c
* Content: [Azure CLI Script Example - Add an Application

[2019-12-12 13:55] cephalin commented on #44525
@ttilberg We apologize. This is a mistake.

[2019-12-12 13:55] SadiqhAhmed-MSFT commented on #44558
@qianw211 FYI

[2019-12-12 13:57] artisticcheese opened #44563 "Supported versions of Windows not listed"
Currently highest version of LTSC Windows node supported is listed as Windows 2016. Is it expected? When LTSC 2019 version shall be supported? It's 2020 in 2 weeks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34cbfa4b-29fd-01f3-2af4-402d500ca8d0
* Version Independent ID: dce1b342-4873-750b-700c-771693e8a2de
* Conten

[2019-12-12 14:01] KrishnaG-MSFT commented on #44439
@DCtheGeek Can you please look into this ?

[2019-12-12 14:03] DCtheGeek commented on #44439
I’ll test it shortly.  @mgreenegit can you look, too?

[2019-12-12 14:03] nualmeid opened #44564 "On AKS SLB, "idleTimeoutInMinutes" is default to 30minutes"
I've noticed that on my AKS cluster loadbalancer (standard) this parameter is set, by default, to 30 minutes and not 4minutes as mentioned above:

https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-outbound-rules-overview?source=docs#idletimeout

 "Outbound idle timeouts default to 4 minute"

Can you highlight the reason for this?

---
#### Document Details

⚠ *Do not edit this sec

[2019-12-12 14:14] merlinjim opened #44565 "Sample doesn't work for me"
Hello,

I trained an object detection custom vision model with one tag.  These instructions are outdated such that the ONNX file is named _ourOnnxFilename now in the code and I couldn't find anywhere to modify the number of labels.  When I run the sample, I get "error: The given key was not present in the dictionary."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2019-12-12 14:20] mjtpena commented on #44447
Hi @PramodValavala-MSFT. You're correct. It's about the URL character limit.
I believe in the future, this is something we should be able to set....

[2019-12-12 14:20] #44447 closed

[2019-12-12 14:29] yuharucan commented on #44542
I appreciate your great help.
Yes, we used MSA and Azure AD accounts.

[2019-12-12 14:31] MGoedtel commented on #44296
The pricing for Service Map was originally specified on the Azure Monitor pricing page and for some reason, the marketing team removed it.  The pricing is based on data stored and retained in Log Analytics.  That pricing is per GB and varies by region.  I will bring this up again with the PM for AzMon for VMs.  Thanks  #please-close

[2019-12-12 14:31] #44296 closed

[2019-12-12 14:31] RonaldMariah opened #44566 "Include property for setting the Severity Level of the Azure Resource Health alert."
[Enter feedback here]

There does not seem to be an option to set the severity level of the resource health alert.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73f3e9c6-8cf1-6c8d-2de7-54f6d3740fc1
* Version Independent ID: 42af845a-aed7-a035-33ee-66077d7efc57
* Content: [Configure Azure resource health alerts using R

[2019-12-12 14:34] IEvangelist commented on #44542
Hi @yuharucan,

Thank you for raising this question here, much appreciated. I just spoke with the teams and they are in active conversation about this concern. They are making final decisions about the request process but do not yet have final answers. They mentioned that next week they should have a conclusion and we'll share that here and update the docs accordingly.

With that said, I would lik

[2019-12-12 14:41] Zimmergren opened #44567 "Estimated time for App Service Key Vault integration to support vnet"
Hey,

On this page ( https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references ) it states the following note:

It's kind of a moot point where on one hand we need to secure our resources with Networking (which we have in place), and on the other hand we also need to pull secrets from a Key Vault natively using this built-in functionality for app settings instead of relyi

[2019-12-12 14:41] dany74q commented on #12292
+1 - this disparity between mongo and cosmos, and especially for collections that are used extensively in an enterprise system, makes it very difficult to simply migrate from mongo to cosmos.

Users are left with a choice of either non sharding their collections, limiting them to 10k RUs & 10GB of storage, or sharding their collections and revising **every** usage of their migrated collections acr

[2019-12-12 14:45] szmma opened #44568 "Complet tasks problem"
Hi,

I have inserted the code  from the tutorial , and it gave me back that . All the other functions are working perfectly. Do you have any idea what could go wrong?  I have not modified the functions.
Link: https://docs.microsoft.com/en-au/azure/cosmos-db/sql-api-nodejs-application

TypeError: Cannot set property 'completed' of undefined
    at TaskDao.updateItem (/Users/szmolyan/Desktop/Azure/o

[2019-12-12 14:47] szmma commented on #42987
Thanks for your help!

Merry Xmas!
Mark

[2019-12-12 14:50] JustenCs commented on #42829
Hi Kevin,

First, thanks for the screenshot and the upvote. I had been responding to the thread via email not realizing GitHub was posting here also. Last I heard, Saurabh was going to get someone else on this because he was out of town. That was 12/3.

Charles Ferreira

[2019-12-12 14:53] placidseven commented on #6356
Can someone answer @gbstan92 query?

"I understand that AzCopy might be using TLS 1.1. Any chance we can force it to use TLS 1.2?"

[2019-12-12 14:55] rbeauchamp commented on #44532
@KalyanChanumolu-MSFT Thank you for your response and clarification.

Oh, wow. I wasn't clear on that, and I'm sure that many Azure tenants/customers are now misinformed because of the video. This poses a significant security risk because of the cross-subscription attack vector, and is especially important to clarify since we are discussing SQL Server, where mission-critical data can be stored.

P

[2019-12-12 15:10] asergaz commented on #44383
@joslat @dootdootbeep can you try an older version of the firmware?

https://microsoft.github.io/azure-iot-developer-kit/versions/

Thanks

[2019-12-12 15:11] GiftA-MSFT commented on #44565
Hi @merlinjim, we will review your feedback and get back to you shortly. Thanks.

[2019-12-12 15:12] shashishailaj commented on #44530
@SumanthMarigowda-MSFT Could you please take a look at this query related to encryption ?

[2019-12-12 15:12] tomkerkhove commented on #44185
That's certainly helpful, but still not clear what permissions Databricks needs on our Azure Key Vault or am I reading over it?

[2019-12-12 15:27] rahultest098 opened #44570 "hdinsight cluster in existing vnet using powershell"
Hi All
below is the error i am getting while i use powershell script to launch hdinsight cluster in existing vnet using the below script :

$vnetName = "acctvnet"
$subnetName = "subnet2"
$resourceGroupName = "test"
$location = "West US"
$vnet = Get-AzVirtualNetwork `
    -Name $vnetName `
    -ResourceGroupName $resourceGroupName
$subnet = $vnet.Subnets | Where-Object Name -eq $subnetName
$default

[2019-12-12 15:29] evmimagina commented on #23789
Gosh, it's really dissapointing to bet for Microsoft products spending a couple of months deploying a full stack solution using their AKS to find out there's a bug like this....

[2019-12-12 15:29] stephbaron commented on #44566
That's right, we're considering this for a future improvement.

[2019-12-12 15:36] ROSMITHJ-MSFT commented on #44250
Hi KrishnaG,

Many thanks for the responses! That did answer my questions - especially the response concerning legacy savedsearches. I'm attempting to ensure that I am using the most up to date information with our customers and was able to put this information to good use.

Many thanks!

[2019-12-12 15:36] Dargos69 opened #44571 "DevPortalUrl variable is resolved with the Legacy portal url"
in the email templates, the $DevPortalUrl links to the legacy portal, not the new one.
will it be changed, or do I need to update every templates ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a55c0a23-de53-df95-fcc9-70cebebf3d0c
* Version Independent ID: 51f1b3fc-aa47-110b-6de9-e4fec8c5b269
* Content: [Configure not

[2019-12-12 15:43] chjone commented on #44438
Great, thank you for the clarification!

_______________________________________________
Typing with thumbs, please excuse brevity & typos.

Get Outlook<https://aka.ms/qtex0l> for iOS
________________________________
From: Yashesvi Sharma <notifications@github.com>
Sent: Wednesday, December 11, 2019 5:55:25 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Chris Jones <chjone@mic

[2019-12-12 15:47] mirage8 commented on #44400
Thank you!

[2019-12-12 15:49] #44405 closed

[2019-12-12 15:49] MonikaReddy-MSFT commented on #44276
Thanks @spelluru for updating the Docs.
Reference :  https://github.com/MicrosoftDocs/azure-docs-pr/pull/98363
@AzureAndre , Thanks again for bringing this to our attention. The doc has now been updated. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue..

[2019-12-12 15:49] #44276 closed

[2019-12-12 15:50] MonikaReddy-MSFT commented on #44275
Thanks @spelluru for updating the Docs.
Reference : MicrosoftDocs/azure-docs-pr#98363
@AzureAndre , Thanks again for bringing this to our attention. The doc has now been updated. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue..

[2019-12-12 15:50] #44275 closed

[2019-12-12 15:50] dhilgarth opened #44572 "Port error"
Following this tutorial will not lead to a successful deployment. Instead, the deployment will be in a Running state forever.
Executing the second to last command `az mesh app show ...` will reveal these errors:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a11074a-9b44-cb3c-77a9-fba646a75d3b
* Version Indepe

[2019-12-12 15:50] dombat opened #44573 "No mention of KeyVault?"
If KeyVault can be used for secrets, then it should be mentioned on this page or link through to this maybe? https://docs.microsoft.com/en-us/azure/aks/developer-best-practices-pod-security

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0fcc83c-c911-4d82-98af-ed8880ca6c4a
* Version Independent ID: 00462d96-9a30-8cef-5

[2019-12-12 15:54] georgewallace commented on #44536
#reassign @tanmaygore , Tanmay can you take a look at this?

[2019-12-12 16:01] NavtejSaini-MSFT commented on #44080
@srchi Please look into this request from user and help them regarding the same.

[2019-12-12 16:03] AshokPeddakotla-MSFT commented on #44494
@timlt  @dominicbetts Could you please check this and provide your suggestions?

[2019-12-12 16:03] hrasheed-msft commented on #44080
@aurokk Hello and thanks for reaching out to us. This feedback mechanism is primarily for communicating about the content of the documents posted on the website. For more general technical questions about cosmosdb, you can reach out to askcosmosdb@microsoft.com. Thanks.

[2019-12-12 16:08] KalyanChanumolu-MSFT commented on #44532
@rbeauchamp yes we are working internally to get that added to the documentation.

[2019-12-12 16:08] KalyanChanumolu-MSFT commented on #44238
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-12-12 16:08] #44238 closed

[2019-12-12 16:12] brettsam commented on #43842
I'm not sure whether the line above actually breaks anything -- it simply is a no-op right now. @JayaC19 were you seeing errors when this was run? Or losing telemetry?

[2019-12-12 16:14] Alberto-Vega-MSFT commented on #36506
Closing this issue since it has been resolved on the SDK Azure/azure-iot-sdk-c#1288.

[2019-12-12 16:14] #36506 closed

[2019-12-12 16:16] Alberto-Vega-MSFT commented on #27534
@JimacoMS3 Should we add these links to the doc for future reference?

[2019-12-12 16:20] SnehaAgrawal-MSFT commented on #44567
@Zimmergren Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-12 16:22] craigktreasure commented on #44491
Hey @anton-khoryukov-zf, the issue you're proposing appears to be a product issue rather than a documentation issue. Would you mind filing the issue in the Spatial Anchors product [GitHub](https://github.com/Azure/azure-spatial-anchors-samples)?

[2019-12-12 16:24] SamaraSoucy-MSFT commented on #44402
@jshinevar the second answer to your Stack question is correct. This is also discussed in [#18051](https://github.com/MicrosoftDocs/azure-docs/issues/18051). We don't currently support codeless monitoring on Linux for App Services. You need to add the nuget package as described in this doc. Only one of the two options need to be enabled (code or code-less) for App Insights to work.

[2019-12-12 16:24] #44402 closed

[2019-12-12 16:24] Alberto-Vega-MSFT commented on #39724
There is an open issue regarding this:
	python BackEndApplication.py is giving an error (#42894)

[2019-12-12 16:32] hrasheed-msft commented on #44244
@lab44Hub Please let us know if the clarification resolves your issue.

[2019-12-12 16:34] ecfan commented on #43843
@ToMakeSense, the team will create a work item to improve the connector docs. They also replied that the [Renew lock on the message in a queue](https://docs.microsoft.com/connectors/servicebus/#renew-lock-on-the-message-in-a-queue) operation doesn’t support session IDs and only renews the lock on a message. To renew a lock on a message in a session, use the [Renew lock on the session in a queue](h

[2019-12-12 16:39] hrasheed-msft commented on #44155
@cicorias Thanks for letting us know. The published Hadoop version of 3.1.1 is correct based on the version in production and is used to help customers distinguish the various patches and updates present on their clusters. At this time, Terraform is not one of our documented and supported deployment methods. I do not believe that any of our documented deployment methods such as Azure CLI, Powershe

[2019-12-12 16:39] hrasheed-msft commented on #44155
#please-close

[2019-12-12 16:39] #44155 closed

[2019-12-12 16:42] tamram commented on #44553
@LanderVe - Thanks for your feedback! Take a look at the [example](https://docs.microsoft.com/azure/storage/blobs/storage-blob-user-delegation-sas-create-dotnet#example-get-a-user-delegation-sas) for creating a user delegation SAS. It shows how to use the new library to create a SAS.

For a service SAS, you can use a similar approach, but you'll want to use the other overload for [BlobSasBuilder.T

[2019-12-12 16:51] StarkCaptain opened #44574 "Graph API Support?"
Are there any graph api endpoints available for workspaces?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97b489b7-9f8c-d46a-8699-c2b791b0a3be
* Version Independent ID: b75539dc-8803-cc28-af48-539799858daf
* Content: [Create workspaces for My Apps portals in Azure Active Directory](https://docs.microsoft.com/en-us/azu

[2019-12-12 16:51] awoSYS commented on #19092
I was just facing the same issue when following this tutorial and trying to develop for a 32bit Pi (Raspbian stretch). When following the tutorial as described, the module was successfully built and deployed to the Pi. But it failed with the following logs:

```standard_init_linux.go:211: exec user process caused "exec format error"```

What fixed this for me (developing on my 64bit Ubuntu machine

[2019-12-12 16:53] gri6507 opened #44575 "Automatically update module to newer version without changing device deployment policy"
I am trying to understand how IoT Edge devices deploy modules given a particular device deployment policy. Here is my test case:

- On my development machine, I created a custom IoT Edge module (essentially the default CModule example from VS Code). I manually pushed the module to my Azure Container Registry and manually tagged it with 1.0.1 and with 1.0
- I created a deployment policy which inclu

[2019-12-12 17:01] ecfan commented on #44447
@mjtpena, feel free to submit your suggestion on the team's customer feedback site: https://feedback.azure.com/forums/287593-logic-apps

[2019-12-12 17:08] yegu-ms commented on #44467
@TechWatching Thanks for your feedback! We'll be tracking this issue in [our backlog](https://github.com/Azure/AppConfiguration/issues/221)

#please-close

[2019-12-12 17:08] #44467 closed

[2019-12-12 17:11] j-martens commented on #44430
Per AK: You would just pass in the existing KV ARM ID to the AML template when provisioning. #please-close

[2019-12-12 17:11] #44430 closed

[2019-12-12 17:19] MonikaReddy-MSFT commented on #44467
@yegu-ms - Thank you for taking care of it.
@TechWatching -
Thanks again for bringing this to our attention. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-12 17:21] msangapu-msft commented on #44354
@StingyJack Both multi-container articles mention (preview) in the titles, but I will add a note to make it more visible. Thank you for the feedback.

[2019-12-12 17:25] osorito opened #44576 "Example does not work"
This following code fails to execute on runbook

# Ensures you do not inherit an AzureRMContext in your runbook
Disable-AzureRmContextAutosave –Scope Process

$connection = Get-AutomationConnection -Name AzureRunAsConnection

# Wrap authentication in retry logic for transient network failures
$logonAttempt = 0
while(!($connectionResult) -And ($logonAttempt -le 10))
{
    $LogonAttempt++
    # Logg

[2019-12-12 17:25] amthomas46 commented on #41298
I'll let Rohit comment on this, but I just went through the Quickstart and faced the same challenge (miss the network tab entirely), so adding my 2 cents.

I think for the purposes of this there needs to be a step that says (And includes a screenshot), in the Networking tab, "select enable public endpoint" and then a link to https://docs.microsoft.com/en-us/azure/sql-database/sql-database-networka

[2019-12-12 17:25] timlt commented on #44494
#in-progress

Submitted PR fix in private repo, pending merge.

[2019-12-12 17:27] cynthn commented on #44130
@andyturn31 Sorry it has taken me awhile to get back to this issue. If you follow the instructions here:  for uploading straight to a manage disk, you should already have a variable called $disk the is for the managed disk. If that is the case, you can simply assign the ID to the $diskID variable by doing: `$diskID = $disk.id'.

If you don't still have that variable available, you can `Get` the di

[2019-12-12 17:32] MicahMcKittrick-MSFT commented on #43359
@giovannifl
I will close this but if you have further questions let me know and we can always reopen and continue the discussion.

[2019-12-12 17:32] #43359 closed

[2019-12-12 17:35] FrankHu-MSFT commented on #44574
@StarkCaptain Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-12 17:35] FrankHu-MSFT commented on #44561
@ErnestBrant Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-12 17:39] FrankHu-MSFT commented on #44485
@lightupdifire I see, I suggest asking this question on Q&A for further troubleshooting, but there shouldn't be many problems, I would suggest taking a look at the FAQ to see if it answers any of your questions : https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-proxy-faq

[2019-12-12 17:51] eschrader commented on #33165
Thank you Micah, I have provided a link and the full command for other users, since all that this article needs is literally 1 line of code at the top if you are connecting to an existing service in Azure Cloud Shell.

az aks get-credentials --resource-group myResourceGroup --name myAKSCluster
https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough

Then you can use kubectl get services

[2019-12-12 17:52] ssrirama-aka opened #44577 "Revise content to reflect Dedicated Hosts GA"
[The last revision to this page was nearly 6 months ago in July. Now that Dedicated Hosts has gone GA, perhaps the Preview portions of the page should be removed?]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98de8b0f-6cc5-8d9f-6329-f1661e3dedb0
* Version Independent ID: a6eff3cd-3859-0cc1-c29b-c7ece21f6f6c
* Content

[2019-12-12 17:55] emilylagoand opened #44579 "Revisions required"
This documentation is missing preparatory requirements to running this script (i.e. you cannot have AzureRM and Az modules installed for this script to execute; you must remove AzureRM). Secondly, the PowerShell script is incorrect. The if, else statement in the '#Get lab information' section should be revised because the if statement is checking for AzureRM which will never return true since this

[2019-12-12 17:57] CarlRabeler commented on #41298
@VanMSFT I agree with @amthomas46

[2019-12-12 18:02] xubinzheng commented on #44225
![image](https://user-images.githubusercontent.com/9353989/70736972-5c8bf580-1cc6-11ea-8dcd-7606a64c63a4.png)

@NachoVazquez could you please also provide a screenshot of the Manifest view, want to see the value of `allowPublicClient`

[2019-12-12 18:05] jurajgh opened #44580 "only available if VM not domain-joined..?"
can you please confirm if this feature is available on domain-joined windows server machines?
to be clear: is it possible to have a windows server 2019 datacenter domain joined (either to aad domain services, or azure-hosted windows domain) *AND*  AAD Authentication enabled at the same time?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-12-12 18:06] msangapu-msft commented on #44354
@SnehaAgrawal-MSFT I've added notes to the articles. Feel free to review and close. Thanks.

[2019-12-12 18:18] #44494 closed

[2019-12-12 18:20] oising commented on #33157
I"m getting the same issue:  The 'UserAssignedIdentities' property keys should only be empty json objects, null or the resource exisiting property, and my  -- keyvault in a different resource group and vnet. I think in my case the vnets are not peered, so there is no route between the APIM instance and the keyvault at runtime, but the Azure Portal UI will still list the keyvault as available to us

[2019-12-12 18:21] FrankHu-MSFT commented on #44580
@jurajgh Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-12 18:25] FrankHu-MSFT commented on #44580
Hello @jurajgh per the docs :

This is not meant for on-prem machines, and this feature is in preview. If you're interested in this feature for on-prem please submit it against the feedback forums here and if there's enough community support this feature will be put on the roadmap to be implemented.
https://feedback.azure.com/forums/169401-azure-active-directory

For now, what you're requesting wi

[2019-12-12 18:32] Karishma-Tiwari-MSFT commented on #44562
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-12-12 18:36] RyanHill-MSFT commented on #44381
Let us know if this helpful @mtwelve.

[2019-12-12 18:37] sauryadas commented on #44448
There is no way to figure out the certificate expiry using the CLI. if you created the cluster before may 2018 it would expire in 2 years.. If you created after , it is 30 years

[2019-12-12 18:47] vinyar commented on #42673
@tfitzmac  - sorry i didnt keep the logs. I will post back when I get into spinning up a new env.
That said, if it makes any difference, I am using powreshell core on a mac. Running PS version `6.2.3` with azure powershell `3.0.0`

[2019-12-12 18:50] vjc216 opened #44582 "False Job Success?"
In testing the elastic job agent and testing to monitor failures, I'm curious why  the command "select 1 / 0" returns success?  This is without any output defined.  Once the output is defined, the job fails and the divide by zero error is returned.  I'm curious why the output is needed and why it is not failing when output is not defined?

---
#### Document Details

⚠ *Do not edit this section. It

[2019-12-12 18:56] FrankHu-MSFT commented on #44574
Hey @StarkCaptain you can find all supported calls in the reference doc here : https://docs.microsoft.com/en-us/graph/api/overview?view=graph-rest-beta

It looks like this currently isn't supported. If you're interested in this feature please submit it as feedback against the uservoice here : https://feedback.azure.com/forums/169401-azure-active-directory

@StarkCaptain Please let us know if there

[2019-12-12 18:58] MonikaReddy-MSFT commented on #44579
@emilylagoand , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-12-12 19:00] Karishma-Tiwari-MSFT commented on #44577
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-12-12 19:05] hitzand opened #44583 "Bracket Notation"
I ran into an issue where I was doing a Lookup activity to get data from a table to be used in a ForEach, but it was failing because a column name had a space in it and none of the notations on this page could handle that.  Someone pointed me to using bracket notation - like item()['Column Name'] - which solved my problem.  It would be good if this page included such notation in the examples.

---

[2019-12-12 19:11] jwk6 opened #44584 "Please document bracket notation for @item() array"
Can you please add to the documentation how to access a property of the @item() array using bracket notation?

This is necessary when you have a lookup activity pulling from an Azure SQL table and a column name has a space in it.  In the ForEach activity, you reference values from particular columns of the table using @item().ColumnName.  However, if a column name has a space in it, then data fact

[2019-12-12 19:12] mgodse opened #44585 "Process for authoring/submitting VM extensions"
I am trying to find out if there is any specific documentation about authoring and publishing VM Extensions to the extension store. I couldnt find anything from a simple search.

[2019-12-12 19:17] rbeauchamp commented on #44532
@KalyanChanumolu-MSFT To be even more clear: setting "Allow access to Azure services" button on the Portal (Firewall settings page) to ON only allows traffic from within the same tenant, correct?

Or is that also "- within the same tenant or from another tenant"

[2019-12-12 19:23] MarileeTurscak-MSFT commented on #44547
@huqianghui
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-12 19:42] MarileeTurscak-MSFT commented on #44548
@HexANN
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-12 19:42] GenMaximus13 commented on #44575
I've seen the same issue with my machines. Thanks for filing the issue.

[2019-12-12 19:46] nibaccam commented on #44505
Hi there @tchmiel an update with the correct link has been submitted to the article. We will now proceed to close this thread. #please-close

If you feel that your issue has not been resolved, please reopen the documentation issue and provide additional context. For product issues, contact technical support.

[2019-12-12 19:46] #44505 closed

[2019-12-12 19:47] alex-mason-jdas commented on #11811
I am not seeing the option for dynamic membership but only assigned and I have Global Administrator privilege on the B2C tenant. Is there something else that enables this functionality like premium or some such?

[2019-12-12 19:52] bartduncan opened #44587 "Missing uksouth2 and uknorth1"
Two newer paired UK regions are missing: uksouth2 and uknorth1

Also, the existing uksouth regions on the page should be renamed to "UK South 1" to disambiguate it from uksouth2.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a788e4-0130-73f2-d985-6fc3aec77974
* Version Independent ID: a9f4ec3f-f0a3-b050-020b-f487c74

[2019-12-12 19:56] tbarkley commented on #42443
Hello having the same issue here. Any updates by chance?

[2019-12-12 20:06] mike-urnun-msft commented on #44571
@Dargos69 Thank you for your feedback! We will review and update as appropriate.

[2019-12-12 20:19] gri6507 commented on #44575
@GenMaximus13 have you found any workarounds besides deleting and re-creating the deployment policy?

[2019-12-12 20:21] bdschaap commented on #38188
Any update?

[2019-12-12 20:25] phduf opened #44588 "Modifications to KQL - Reserved words and transnational statements"
The words 'time' and 'count' are reserved words, thus in the functions they need to be escaped to be able to run in the ADX query window.
eg         Timestamp = todatetime(events.['time']),

This needs to be done for all functions.

As the 0d retention on the translation tables, the alter table statement for the policy needs the IsTransactional set in the json to execute

---
#### Document Details

[2019-12-12 20:31] cicorias commented on #44155
you're closing this prematurely. Terraform is just calling the Resource Manager API with the data - the API Endpoint only accepts `3.1` for the value.

The DOC update change is to either clarify that as this affects anyone using the Go SDK which has a parameter "component_version"

This params object, used here: https://github.com/Azure/azure-sdk-for-go/blob/master/services/preview/hdinsight/mgmt/

[2019-12-12 20:32] StingyJack commented on #44354
@msangapu-msft - thanks, but the OP still has an issue with three features being unsupported and that info is hidden under an unexpected docs page. Is there a "main" docs page for multicontainer? I'd like to see when it's expected to be GA

[2019-12-12 20:32] pholly commented on #44437
You need to put that on a t-shirt

[2019-12-12 20:32] Noorish opened #44589 "Need clearification about "App passwords for Multi-Factor Authentication""
Hello there,

As far as I know, the App passwords are stored on the cloud and they are not part of a local active directory domain, I'm wondering in what context are App passwords are supported with PTA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12cbaf93-735d-e257-9203-0437bdf9d1ea
* Version Independent ID: f12c0f

[2019-12-12 20:38] eoq opened #44590 "need port details for verify internet access section"
The 'verify internet access' section refers to needing 2 ip ranges opened:
20.190.128.0/18
40.126.0.0/18

Please include which destination port(s) are needed on these ranges in this document as it is standard practice to lock down access to specific tcp/udp port #s or ranges.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-12-12 20:39] allan-mobley-jr commented on #44437
Right. Maybe I can sell enough T-shirts and get my money back.

On Dec 12, 2019 3:32 PM, Philip Holly <notifications@github.com> wrote:

You need to put that on a t-shirt

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/MicrosoftDocs/azure-docs/issues/44437?email_source=notifications&email_token=AJFK62ZKUMXKNBWHPFBN3DTQYKNWJA5

[2019-12-12 20:42] SunilMiracle commented on #42894
Thanks for pointing this out. Works now after using the right connection string of IoT Hub with all the accesses.

Apparently, there can be multiple connection strings for IoT Hub with different access levels. As a reminder (to myself), make sure the connection string has the right access level and the default SharedAccessKeyName name is **iothubowner**
ie **SharedAccessKeyName=iothubowner**

[2019-12-12 20:44] dcurwin commented on #44590
assign:saurabhsensharma

[2019-12-12 20:48] terrymandin opened #44591 "Drop is not listed under Artifacts"
The instructions above say to click on "Drop" under "Artifacts".  I do not see an option for "Drop".  I only see "Connect to feed".

![Capture](https://user-images.githubusercontent.com/833055/70748043-6e7d9080-1ce6-11ea-8130-0084ce864a7b.PNG)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5098fbad-7df5-7c62-9d56-6e964

[2019-12-12 20:49] joslat commented on #44383
Thanks, but I do not need it.
My intention was to try to help you notifying of this issue to so you can fix the HOL either adding that back to the fw or changing the instructions.
 If you continue the tutorial-HOL you end up setting the connection string through VS Code.

[2019-12-12 20:49] babak-kobari commented on #44151
So then I am failed to understand the main reason for using the decomposition model and creating subcomponents, as we need to create them separately anyway.

for example :

Let say we have three intents as CreateTask, CreateEmail and CreateMeeting.

These intents are correlated in the real world.  I mean one task can cause certain emails and meetings or one meeting can result in several tasks and

[2019-12-12 20:52] hrasheed-msft commented on #44155
@cicorias Thank you for providing more detail on the issue. I better understand your concern. The purpose of this particular document is just to document the actual versions of software components present on the clusters, not to provide instructions on specific deployment scenarios.  If the situation is as you described, I would be more than happy to document it. But because this is a detailed iss

[2019-12-12 20:58] eoq commented on #44590
fyi, i found a clarifying statement in a different doc. If it is accurate maybe you could add it here as well or link to the other doc so the details are only in one place?

https://docs.microsoft.com/en-us/azure/backup/backup-support-matrix-mars-agent

"Access to all of the URLs and IP addresses listed above uses the HTTPS protocol on port 443."

[2019-12-12 21:02] diberry commented on #44151
@babak-kobari - Thank you for this example - it always helps.

@hazemelh @cahann - I think this example can be handled with a machine-learned entity - can you provide any specific guidance about how you would build that out for this example.

[2019-12-12 21:05] RyanHill-MSFT commented on #44555
@GrzegorzHejman it is necessary to add all management IPs to your route table. At this time you can't use the IP Service tag in UDRs but hopefully this will be feature in the not too distant future.

If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-12 21:05] #44555 closed

[2019-12-12 21:05] gaikovoi commented on #42947
@mike-urnun-msft any updates? This a huge issue for my client as we must implement  all available security controls to reduce  attack surface, but we are unable to enable KV firewall without breaking  function apps.

[2019-12-12 21:06] j-martens commented on #42581
#please-close

[2019-12-12 21:06] #42581 closed

[2019-12-12 21:10] j-martens commented on #44266
@YutongTie-MSFT  what is the doc issue here?

[2019-12-12 21:11] roygara commented on #36145
#reassign: szarkos

[2019-12-12 21:17] rangler2 opened #44592 "Is there any downtime?"
The section explaining how to turn on and off TDE should include whether there is any downtime during the operation. I still do not know and will have to experiment...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a44a0e0d-f0a8-fe91-8ae5-a901e103f89e
* Version Independent ID: 834b8bc9-d661-0204-9ece-1f370067ec96
* Con

[2019-12-12 21:22] mgreenegit commented on #44439
Cloud shell is running PS 6.2.  DSC Compilation on Linux requires 7 preview 5.  Even then, we are working out a couple of issues.

[2019-12-12 21:26] NavtejSaini-MSFT commented on #44490
@Craigmeister68 Please can you explain this further as step 4 of the same part  mentions below:
"Create and save one more document where you insert a unique value for the id property, and change the other properties as you see fit. **Your new documents can have any structure you want as Azure Cosmos DB doesn't impose any schema on your data**."
Please explain it further to work on this.

[2019-12-12 21:29] NavtejSaini-MSFT commented on #44487
@sivethe Please confirm we can add this link. Once we get the confirmation we will raise the PR.

[2019-12-12 21:31] Craigmeister68 commented on #44490
You can create any document you want, but the Android Emulator application has a class defined that does not match the document that the instructions have you create in Azure Portal. The result is the document you create in Azure Portal is not displayed in the application. Creating a document that does match the class from the Azure Portal will show in the application.

[2019-12-12 21:34] tamram commented on #44553
#please-close

[2019-12-12 21:34] #44553 closed

[2019-12-12 21:35] kgremban commented on #43150
@njbuch At this time we don't provide an installation package for Raspbian Buster, only Raspbian Stretch, and it's not part of our testing process. However, some people (like you) have gotten it working, so it's listed as a Tier 2 operating system, which means that we know it can work but don't offer support. I do have one known workaround for Raspbian Buster and Debian 10 listed on the support pa

[2019-12-12 21:36] NavtejSaini-MSFT commented on #44490
@Craigmeister68 Thanks for the clarification. We are assigning this to doc owner for further review
@codemillmatt Please check this further and make changes if needed,

[2019-12-12 21:38] kgremban commented on #43144
@CeciAc and @rheingold, as @Alberto-Vega-MSFT mentioned, Raspbian Buster is not a supported operating system. We do know that some people have gotten IoT Edge working on it, and we have one known workaround for Raspbian Buster and Debian 10 listed on the support page (https://docs.microsoft.com/en-us/azure/iot-edge/support#tier-2) but besides that, this operating system isn't currently being docum

[2019-12-12 21:43] maxluk commented on #44230
For need to launch Tensorboard from outside of the run to monitor it. For example you can submit experiment from Notebook VM notebook and launch tensorboard from there. It will give you URL hosted on that notebook vm which will monitor the run as it progresses. See example here: https://github.com/Azure/MachineLearningNotebooks/blob/4a3f8e7025334ea8c0de0bada69b031ce54c24a0/how-to-use-azureml/track

[2019-12-12 21:47] aevitas commented on #19968
One of my worker services running on Docker is failing the health check repeatedly as well, causing the App Service to shut it down because it believes it to be unhealthy. My worker service doesn't have any available HTTP endpoints.

[2019-12-12 22:06] spike008t commented on #19968
I forget to mention when I post the issue, that's happens under my dockers containers under nodejs and aspnetcore, and I do not have PHP app... For my point of view, that's happens when using docker on app service.

[2019-12-12 22:12] aaronralls opened #44594 "Is Front Door required?"
Do I have to be using Front Door in order to use the new BOT rules in the Azure WAF?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8861d29-34c3-3b42-058d-d27d667560b7
* Version Independent ID: 3bffe183-b605-bf38-815d-93457d53b547
* Content: [What is Azure web application firewall on Azure Front Door?](https://docs.mi

[2019-12-12 22:17] lobrien commented on #43841
#assign @ManojBableshwar

[2019-12-12 22:18] bubbletroubles opened #44595 "Device Join is not a role"
In the "Role template ID's" table, it lists  "Device Join | Device join | 9c094953-4995-41c8-84c8-3ebb9b32c93f" as a role, but its not actually a role in Azure AD, and it's also not listed under the "Available Roles" heading of this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd

[2019-12-12 22:44] NavtejSaini-MSFT commented on #44582
@vjc216 We are looking into this and we will get back to you.

[2019-12-12 22:46] NavtejSaini-MSFT commented on #44588
@phduf We are checking this and will get back to you.

[2019-12-12 22:47] NavtejSaini-MSFT commented on #44592
@rangler2 We are checking this and will get back to you.

[2019-12-12 22:58] PeterCLu commented on #44210
@Yevsol Thanks for your report! The article fix will be live in a few hours. We will proceed to close this issue, #please-close.

If you feel that your issue has not been resolved, please reopen the documentation issue and provide additional context. For product issues, contact technical support.

[2019-12-12 22:58] #44210 closed

[2019-12-12 23:00] PeterCLu commented on #41738
@EricKyaw Thanks for your report. We hope this answers your questions, we shall proceed to close this issue, #please-close.

If you feel that your issue has not been resolved, please reopen the documentation issue and provide additional context. For product issues, contact technical support.

[2019-12-12 23:00] #41738 closed

[2019-12-12 23:08] LanderVe commented on #44553
Much appreciated, thanks a lot!

[2019-12-12 23:14] GiftA-MSFT commented on #44565
@PatrickFarley can you please provide clarification or updates to this doc? Thanks.

[2019-12-12 23:18] NachoVazquez commented on #44225
Hi, here it is

{
	"id": "2628a2c1-8092-4ab9-bb16-7bc32abd2ce0",
	"acceptMappedClaims": null,
	"accessTokenAcceptedVersion": 2,
	"addIns": [],
	"allowPublicClient": true,
	"appId": "af1e900b-4087-xxxxxxxx-5d8fd1329f89",
	"appRoles": [],
	"oauth2AllowUrlPathMatching": false,
	"createdDateTime": "2019-12-06T20:37:19Z",
	"groupMembershipClaims": null,
	"identifierUris": [],
	"informationalUrls": {

[2019-12-12 23:38] cloudmelon opened #44597 "Cannot load Microsoft.Azure.WebJobs.Extensions.DurableTask 2.0.0.0"
Working on something with Durable function 2.0,  meet this error:

![image](https://user-images.githubusercontent.com/4621560/70757642-40c13780-1d38-11ea-9605-1d0441d6e632.png)

My csproj is as the following :
[code]
100% follow the doc here to migrate from durable function 1.x to 2.x

https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-versions

---
#### Document Deta

[2019-12-12 23:43] iainfoulds commented on #44348
Thanks for the feedback, @v-akhana. Can you explain your scenario where the doc isn't providing enough of the required information? Are you wanting to clarify the steps required for the clients to trust the chain? The Azure AD DS managed domain part should be the same in that you apply the certificate you receive from the issuer.

#in-progress

[2019-12-12 23:58] femsulu commented on #44566
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-12-12 23:59] femsulu commented on #44590
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-12-13 00:06] MarileeTurscak-MSFT commented on #44556
@thgsiddhimorajkar
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-13 00:07] FrankHu-MSFT commented on #44386
Hey @andyjballgit it looks like it requires a subscription admin role, but I'm currently engaging some more members to determine what might be needed for this

cc : @mmacy

[2019-12-13 00:09] ahmelsayed commented on #44330
Consumption plan doesn't support custom container images currently. Main issue there is startup time which will depend on container size that'll always be significantly larger than just code/artifacts deployment.

If you're running on dedicated or premium, then there will always be a running instance, so the startup time is not very significant factor. I would recommend using docker containers whe

[2019-12-13 00:12] Alberto-Vega-MSFT commented on #44591
@terrymandin Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-13 00:13] MarileeTurscak-MSFT commented on #44559
@pinkpuffles
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-13 00:15] FrankHu-MSFT commented on #44561
Hey @ErnestBrant this should work properly, if it isn't working properly on an on premise machine, please file a support ticket to engage accordingly. This might be due to the fact that you're utilizing a VM, as this document is describing an on-prem machine.

That being said, as you are using a VM and you aren't experiencing this issue with an on prem machine, I will be closing out this github is

[2019-12-13 00:17] rheingold commented on #43144
@CeciAc, @Alberto-Vega-MSFT, @kgremban: Thanks for all that prompt and detailed feedback. I've cast my vote for upvoting Buster into T1, found my workaround as may be observed in the comments on https://docs.microsoft.com/cs-cz/azure/iot-edge/how-to-install-iot-edge-linux#feedback and so far so good for me.
For a prod environment I would not consider this as entirely correct, but for a proof-of-co

[2019-12-13 00:21] hugobarona opened #44600 "Language APIs table is incorrect"
Hi there, the video indexer entry in the languages apis table is incorrect, since video indexer belongs to the Vision APIs. Also under the Language APIs is missing the Immersive Reader service, as mentioned here - https://docs.microsoft.com/en-us/azure/cognitive-services/.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-12-13 00:23] JimacoMS3 commented on #42894
Hi @SunilMiracle,

I'm glad you got this working. It should actually work with the **service** policy. **iothubowner** is the most-privileged policy, and I'd be interested to learn if it didn't work with the **service** policy. You can read more about the privileges granted with various permissions in [IoT Hub permissions](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-security#io

[2019-12-13 00:25] TravisCragg-MSFT commented on #44564
@nualmeid This is the default for Azure Standard Load Balancer. When you have AKS create a Load Balancer for you, it alters the default outbound rules to 30 minutes. For an explanation on why, I am assigning to our AKS team and moving this issue to the [AKS Concepts - Networking doc](https://docs.microsoft.com/en-us/azure/aks/concepts-network).

[2019-12-13 00:28] shalosi opened #44601 "Please add Transferred enrollment is not reflectied in Cost Management only active enrollment"
Hello team,

Please add that the previous costs for a  transferred enrollment (old inactive enrollment)is not reflected in Cost Management only active enrollment

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbc00258-0efb-0589-34f5-c14c9660ee04
* Version Independent ID: c2671d6c-0a35-2c67-4e0d-2fc9461bef4e
* Content:

[2019-12-13 00:43] MarileeTurscak-MSFT commented on #44563
@artisticcheese
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-13 00:45] dargilco opened #44603 "Echo bot no longer has SSML tags. Need to update section "(Optional) Change the language and redeploy your bot""
A recent change was made to the echo bot to remove the SSML tag in the speak field. See this change: https://github.com/microsoft/BotBuilder-Samples/pull/1982/files
The section titled "(Optional) Change the language and redeploy your bot" needs to be updated. Do this in the echo bot to bring back the SSML, then experiment with selecting a different TTS voice or language:

protected override async

[2019-12-13 00:57] MarileeTurscak-MSFT commented on #44595
@bubbletroubles
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-13 01:02] MarileeTurscak-MSFT commented on #44595
It is a role template. You should be able to query it by using `Get-AzureADDirectoryRoleTemplate`

Hope this helps. If you have further questions please post to Q&A and we will gladly continue the discussion. https://docs.microsoft.com/answers/questions/index.html

[2019-12-13 01:02] #44595 closed

[2019-12-13 01:03] purnesh42H commented on #44538
@ManojReddy-MSFT This is the link https://docs.microsoft.com/en-us/azure/cosmos-db/create-sql-api-dotnet

[2019-12-13 01:12] #44580 closed

[2019-12-13 01:12] #44406 closed

[2019-12-13 01:22] Karishma-Tiwari-MSFT commented on #43511
Can you email me at AzCommunity@Microsoft.com and provide me with your Subscription ID and link to this thread?

I can enable a one time free support request so you can work with an engineer to help you on this one.

[2019-12-13 01:22] MarileeTurscak-MSFT commented on #44568
@szmma
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-13 01:25] rigerosa commented on #44448
Is it May 2018 or March 2019? Asking because I received an email saying March but I read May here.
Also, could you suggest a way to retrieve the creation date of an AKS cluster?

[2019-12-13 01:34] femsulu commented on #44376
@JasperCodes  - any update to @JnHs's request above?

[2019-12-13 01:43] Tylersuard commented on #12707
Here's my question: I have a python file that I would like to run at the same time every day.  How would I do that with Azure Logic apps?

[2019-12-13 01:45] MarileeTurscak-MSFT commented on #44297
Ah, got it! Yeah, I don't see a way to do that currently but I've checked in with the product team to see if there's a workaround. Do you mind sending me an email at AzCommunity@microsoft.com so I can loop you into any findings?

[2019-12-13 01:45] Karishma-Tiwari-MSFT commented on #44393
You can navigate to this to check the version:
https://resources.azure.com/subscriptions/[subscriptionId]/resourceGroups/[resource group]/providers/Microsoft.Compute/virtualMachineScaleSets/[vmss]/extensions/[vmss]_ServiceFabricNode

Or you can just go to https://resources.azure.com and navigate to your VMSS via the UI.

To update the version, Click Edit, change the typeHandlerVersion to 1.1, then

[2019-12-13 01:53] sauryadas commented on #44448
@andyzhangx Will kubectl get nodes returning the no of days a cluster has been up for be okay?

[2019-12-13 01:56] MarileeTurscak-MSFT commented on #44325
In B2C DisablePasswordExpiration is set by default in the password policies, and forceChangePasswordNextLogin should always be set to false. This is so that the user is recognized and can be authenticated.

Right now there's no policy allowing customers to change their passwords in b2c, but you can upvote the feature request here. https://feedback.azure.com/forums/169401-azure-active-directory/sug

[2019-12-13 01:56] #44325 closed

[2019-12-13 02:03] KrishnaG-MSFT commented on #44553
@tamram Thanks for the response. :+1:

[2019-12-13 02:07] esmcelroy commented on #26752
The ADF DevOps tooling is buggy at best, and problematic at worst. We regularly lose settings when performing a redeploy, and this leads to many hours of manual work and debugging. Hardly a production-ready approach to continuous deployment.

[2019-12-13 02:21] AshokPeddakotla-MSFT commented on #44494
@timlt Thanks for the quick fix.

[2019-12-13 02:27] Karishma-Tiwari-MSFT commented on #44514
Is there any update? Did it help, let me know. Thanks. :)

[2019-12-13 02:27] Karishma-Tiwari-MSFT commented on #44483
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-12-13 02:27] #44483 closed

[2019-12-13 02:33] andyzhangx commented on #44448
there is a way to get the accurate cert expiration time:
 - get the `certificate-authority-data` value under your kubeconfig(e.g. `~/.kube/config`)
 - base64 decoded that value(e.g. echo "LS0tLS1CRUdJTiBDRVJUSUZJQ0FUR..." > /tmp/cert.crt)
 - `openssl x509 -in /tmp/cert.crt -text`
and then you will get the accurate cert expiration time:
[code]

And as @sauryadas metioned, `kubectl get nodes` could

[2019-12-13 02:40] #27776 closed

[2019-12-13 02:42] yuwzho opened #44605 "az cli 2.0.70 is not compatiable"
I use azure cli 2.0.70 to install the private cluster result in
[code]

Update to the latest (2.0.77) is OK

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b68f2c4-bb6c-11a2-6c61-8af4057a2438
* Version Independent ID: e3498bed-1447-6841-8353-9f1b5d3dc8df
* Content: [Private Azure Kubernetes Service cluster](https://doc

[2019-12-13 02:47] liydu commented on #44383
@joslat , thanks for pointing it out. We found it's an regression issue for the pre-built firmware and will get a hot fix today.

[2019-12-13 02:57] glaucia86 commented on #35634
@areddish just see it this answer.

[2019-12-13 03:14] rygao commented on #42989
I believe this is the correct link for how to get an access token: https://docs.microsoft.com/en-us/azure/machine-learning/service/tutorial-pipeline-batch-scoring-classification#publish-and-run-from-a-rest-endpoint

[2019-12-13 03:27] haveyoumetcp opened #44606 "HDInsight LLAP with Enterprise Security Package"
I don't see any documentation about how/if this works with HDInsight LLAP with Enterprise Security Package.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8abcbc42-62d5-e0a0-c57f-db29c1c3e3fd
* Version Independent ID: 1f52fc40-7a28-f2cd-77a5-000821ccc2b7
* Content: [Apache Hadoop & Visual Studio Data Lake Tools - Azure

[2019-12-13 03:41] juniwang commented on #43099
Any update?

[2019-12-13 03:55] Dudleydogg commented on #16216
Add to NPS, then Update Mac RDP client
reg add HKLM\SYSTEM\CurrentControlSet\Services\RasMan\PPP\EAP\13 /v DisableEndEntityClientCertCheck /t reg_dword /d 0

[2019-12-13 04:09] RohitMungi-MSFT commented on #44600
@hugobarona Thanks for bringing this up. @nitinme Could you please review the cognitive services landing page and align the services according to their functionality?

[2019-12-13 04:10] #44259 closed

[2019-12-13 04:15] msrini-MSFT commented on #44594
@aaronralls  , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-12-13 04:23] CHEEKATLAPRADEEP-MSFT commented on #44570
Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [https://social.msdn.microsoft.com/Forums/en-US/home?forum=hdinsight](https://social.msdn.microsoft.com/Forums/en-US/home?forum=hdinsight
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2019-12-13 04:24] #44570 closed

[2019-12-13 04:29] CHEEKATLAPRADEEP-MSFT commented on #44606
@haveyoumetcp Yes, it works with Visual Studio tools.

The following table shows the recommended access methods for each cluster type:

![image](https://user-images.githubusercontent.com/44426401/70769351-26ff0f00-1d8f-11ea-9910-df2eb5587e62.png)

Reference: https://docs.microsoft.com/en-us/azure/hdinsight/domain-joined/apache-domain-joined-manage#access-the-clusters-with-enterprise-security-packa

[2019-12-13 04:36] RohitMungi-MSFT commented on #44603
@dargilco Thanks for the update. Could you please let us know if we need to submit a PR to update the document or tag this issue as part of feedback section so users can lookup the changes required to use SSML tags?

[2019-12-13 04:36] sauryadas commented on #44448
@VikasPullagura-MSFT Can you add the above samples on how to check for expiry date? Also please update the May 2018 to March 2019

[2019-12-13 04:46] jakaruna-MSFT commented on #44384
@truealex81 How many nodes you have on your nodepool

[2019-12-13 04:52] #44510 closed

[2019-12-13 04:53] johnbilliris opened #44607 "Required RBAC"
Could the required RBAC, on both source and target, for the move be documented?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move resources to a new subscription or resource group - Azure Resource Manager](

[2019-12-13 05:01] AjayKumar-MSFT commented on #44103
@dcbrown16, As we have been discussing on this internally and you know the _potential_ change that is needed in this article, we encourage you to submit the changes directly using a Pull Request (PR) for the author to review and merge.

1)	From the Azure Document where you wish to propose a change, click  on “Edit” option (top right hand corner). * Sign in to GitHub if you aren't already.
2)	On th

[2019-12-13 05:13] ManojReddy-MSFT commented on #44575
@gri6507 We are looking into this and will get back to you shortly.

[2019-12-13 05:14] Karishma-Tiwari-MSFT commented on #44573
I have created a PR with the update, changes will be live shortly.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/98882

[2019-12-13 05:16] ManojReddy-MSFT commented on #44576
@osorito Thanks for bringing this to our attention. Can you share the link to the document where this example is listed?

[2019-12-13 05:17] SidShetye opened #44609 "Please document how to add ssh support to custom asp.net core 3.1 container images"
We run containers off-azure and need to run the same/similar ones on Azure, so please document how to add ssh support to custom asp.net core 3.1 container images. Better yet, please link/document the standard Dockerfile used by Azure App Service for Linux containers, so we can adapt from that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-12-13 05:17] jakaruna-MSFT commented on #44572
@dhilgarth
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-13 05:19] EmmaZhu commented on #6356
AzCopy 7.0 is built against .NET Framework 4.5. You can set the TLS version it uses by a registry, Please refer to
https://docs.microsoft.com/en-us/dotnet/framework/network-programming/tls#schusestrongcrypto for details.

[2019-12-13 05:25] RohitMungi-MSFT commented on #44365
@vignesh-123 We will now proceed to close this thread. Our team is working on a backlog to add this to the API reference document. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2019-12-13 05:25] #44365 closed

[2019-12-13 05:26] YutongTie-MSFT commented on #44266
@j-martens Hi Josee, this is a code sample from https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-machine-learning-interpretability-automl#interpretability-during-training-for-the-best-model but returns error to customer.

[2019-12-13 05:27] RohitMungi-MSFT commented on #44513
@QiMata We hope you are able to locate the share link in the project page as shown above. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2019-12-13 05:27] #44513 closed

[2019-12-13 05:29] jayendranarumugam opened #44612 "Doc missing - How to create an azure synapses workspace"
From the [Slide reference](https://www.slideshare.net/jamserra/azure-synapse-analytics-overview)  by James Seera

![](https://image.slidesharecdn.com/azuresynapseanalyticsoverview-191203041250/95/azure-synapse-analytics-overview-13-638.jpg?cb=1575346702)

I'm trying to create the Azure synapses workspace, but I couldn't able to find that in my azure subscription

![image](https://user-images.githu

[2019-12-13 05:31] jefjos opened #44613 "Azure Custom resource provider - custom error message to ARM template"
This is a question about the contract between ARM and custom resource provider
https://stackoverflow.com/questions/59316621/azure-custom-resource-provider-custom-error-message-to-arm-template

---
#### Detalji dokumenta

⚠ *Ne uređujte ovu sekciju. Ona je neophodna za povezivanje problema slijedom docs.microsoft.com ➟ GitHub.*

* ID: 19900177-084a-5458-ce7b-45913d628eff
* Version Independent ID: 6

[2019-12-13 05:41] ChiragMishra-MSFT commented on #44584
@jwk6 Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-12-13 05:47] SnehaAgrawal-MSFT commented on #44609
@SidShetye Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-13 05:50] SnehaAgrawal-MSFT commented on #44525
@ttilberg Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-12-13 05:53] DixitArora-MSFT commented on #44433
@seetharamanis So for now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-13 05:53] #44433 closed

[2019-12-13 05:59] DixitArora-MSFT commented on #44411
@Ballzer0 It is mentioned in the Function app timeout duration section.

![image](https://user-images.githubusercontent.com/46984568/70772756-8236fe80-1d9b-11ea-94d5-6283ac022aa3.png)

So for now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-13 05:59] #44411 closed

[2019-12-13 06:02] ChiragMishra-MSFT commented on #44387
@awoSYS Since "weight" is not a reserved keyword, the following things are the same :

"LAG([weight])" and "LAG(weight)"
"[weight] < 20000" and "weight < 20000"

For "previousTime [EndFault]" and "previousTime as EndFault", both would work, but the latter is a best practice as it conforms with the conventions.

I will now proceed to close this issue. Feel free to still comment and tag me if you ha

[2019-12-13 06:02] #44387 closed

[2019-12-13 06:07] ChiragMishra-MSFT commented on #44388
@awoSYS `metrics.metric.value as metrics` will attach an alias of "metrics" to the field metrics.metric.value.
metric = metrics.metric.value will assign the value to a variable called metric.

and the same thing would happen in the 2nd case (dim0).

I will now proceed to close this thread. Feel free to still comment and tag me if you have any queries on the same.

[2019-12-13 06:07] #44388 closed

[2019-12-13 06:08] #44573 closed

[2019-12-13 06:09] ChiragMishra-MSFT commented on #44426
@CeciAc @Mr-San Yes right now the default behavior is to overwrite files.

I would recommend you to provide feedback at the [feedback forum](https://feedback.azure.com/forums/270578-data-factory). All the feedback you share, is closely monitored by the Data Factory Product team and implemented in future releases.

Also, Regarding service general availability, I would suggest to keep an eye on Azur

[2019-12-13 06:09] #44426 closed

[2019-12-13 06:10] ChiragMishra-MSFT commented on #44511
@ShubhaVijayasarathy Can you please take a look at this?

[2019-12-13 06:15] msrini-MSFT commented on #44474
@anttipo , please tag me if you have any further questions.

[2019-12-13 06:15] #44474 closed

[2019-12-13 06:16] msrini-MSFT commented on #44594
@aaronralls , Yes, Bot rules are part of WAF rule which you need to assign to Azure Frontdoor to protect your site.

[2019-12-13 06:26] SnehaAgrawal-MSFT commented on #44551
@GrzegorzHejman Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-12-13 06:33] PramodValavala-MSFT commented on #44391
@baatch Glad that we could help! I have raised this with the concerning team internally and will keep this thread updated when I get more details.

Since there is no doc update required here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-13 06:33] #44391 closed

[2019-12-13 06:36] #44400 closed

[2019-12-13 06:43] Zimmergren opened #44614 "Will User Assigned Managed Identity be supported for App Service Key Vault integration?"
Hi,

On this page ( https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references#granting-your-app-access-to-key-vault ) it mentions this:

Since it says "currently", I am led to believe that there may be support for User Assigned Managed Identities down the road. This is one of my requirements for some of my production workloads, where I can easily control the lifecycle of

[2019-12-13 06:47] GrzegorzHejman commented on #44555
@RyanHill-MSFT thanks for your answer, but the question is if it's necessary to create routes for all  App Service Management addresses in all public regions , or only for the addresses  within the region where ASE is created.  This article specifies all public regions addresses and doesn't separate the addresses region by region. I assume that ASEs communicate only to app service management addre

[2019-12-13 06:47] DixitArora-MSFT commented on #44458
@Heidelberger

The following assemblies are automatically added by the Azure Functions hosting environment:

- mscorlib
- System
- System.Core
- System.Xml
- System.Net.Http
- Microsoft.Azure.WebJobs
- Microsoft.Azure.WebJobs.Host
- Microsoft.Azure.WebJobs.Extensions
- System.Web.Http
- System.Net.Http.Formatting

The following assemblies may be referenced by simple-name (for example, #r "Assembly

[2019-12-13 06:47] #44458 closed

[2019-12-13 06:54] palma21 commented on #43962
Depends on if this is AAD enabled cluster or not. AAD tokens have the AAD-defined validity (which can also be controlled)
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes

For pipelines we normally recommend Service Accounts and SA tokens.

[2019-12-13 07:06] SadiqhAhmed-MSFT commented on #44607
@johnbilliris Thanks for the comment. Would be glad to help further on your ask if you could provide more details on what exactly you want us to document.

![image](https://user-images.githubusercontent.com/44458118/70777201-28d3cd00-1da5-11ea-9e86-87c82446bc09.png)

Reference link - https://docs.microsoft.com/en-us/azure/role-based-access-control/troubleshooting#recover-rbac-when-subscriptions-ar

[2019-12-13 07:07] ChiragMishra-MSFT commented on #44583
@hitzand Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-12-13 07:07] KrishnaG-MSFT commented on #44576
@osorito Ideally runbook fails because expected AzureRM modules are not imported into your Automation account. In general, AzureRM / Az Cmdlets that are used in a runbook would be part of any AzureRM / Az modules; so please import required modules before executing a runbook. For more information on importing modules, please refer [this](https://docs.microsoft.com/en-us/azure/automation/shared-reso

[2019-12-13 07:09] SadiqhAhmed-MSFT commented on #44601
@shalosi Thank you for the feedback. This issue is being assigned to the content author to evaluate and update as appropriate.

[2019-12-13 07:17] anton-khoryukov-zf commented on #44491
Thank you for a quick reply, Craig!
I will report the issue regarding not providing a proper exception / error message for the case when AR session is null.
However, in my opinion this tutorial needs to be amended as well.

[2019-12-13 07:19] SnehaAgrawal-MSFT commented on #44614
@Zimmergren Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-13 07:26] KrishnaG-MSFT commented on #44450
@jefjos At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-12-13 07:26] #44450 closed

[2019-12-13 07:33] p0shkar opened #44615 "Add examples for powershell when using MFA"
Best practice is to use MFA, especially as an admin.
MSOnline module don't support MFA.
Please add examples how to do the same things using e.g. AzureAD-module instead which has MFA support.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5905fd6-5899-f2c6-ff56-f90c4183b5f4
* Version Independent ID: d4ac0732-5985-702c-

[2019-12-13 07:40] p0shkar commented on #44615
Alright, seems I was looking at outdated documentation.
Seems MSOL later versions support MFA, sorry 'bout that.

[2019-12-13 07:40] #44615 closed

[2019-12-13 07:56] KrishnaG-MSFT commented on #44550
@azr0112 You would have to deploy Security & Audit solution to accomplish your requirement of monitoring security events like logon\logoff, etc. Currently Security & Audit solution solution is included in standard tier of ASC (Azure Security Center) but not directly in Log Analytics. In general, to store data ASC uses Log Analytics. Below one is the Kusto query to get logoff related events. Simila

[2019-12-13 07:59] DixitArora-MSFT commented on #44457
@jjgriff93 I have assigned this to content author for further review and update as appropriate.

[2019-12-13 07:59] KrishnaG-MSFT commented on #44615
@p0shkar Glad to know that you have self resolved and hence closed the issue. Thanks for the update.

[2019-12-13 08:01] jakaruna-MSFT commented on #44484
@gerrynicol I am reaching out to the internal teams. I will update you once i have some information.

[2019-12-13 08:08] xinyiz1226 opened #44619 "Device connection UI shows the key is group SaS keys, but actually they are individual keys"
In Device connection page in IoT Central, it is saying "SAS security tokens are an attestation mechanism for devices to connect to IoT Central. The group SAS keys for this device are shown below. Use them to register your device with IoT Central. ". but actually the keys shown below are individual keys

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-12-13 08:22] DixitArora-MSFT commented on #44446
@jimmcslim Yes it is Open Compute Project :) For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-13 08:22] #44446 closed

[2019-12-13 08:40] Anmolgan81 opened #44620 "Getting error while Mounting Data Lake Gen 1"
I am getting the below error while trying to read the file which I have mounted below is the error that i am facing:

Error fetching access token
Operation null failed with exception java.io.IOException : Server returned HTTP response code: 400 for URL: https://login.microsoftonline.com/1c8672ad-d9cc-4f59-b839-90be132d96ab/oauth2/token
Last encountered exception thrown after 5 tries. [java.io.IOEx

[2019-12-13 08:45] vukasinterzic opened #44621 "Unexpected ) in sample script"
The sample script provided at page

https://docs.microsoft.com/en-us/azure/virtual-machines/scripts/virtual-machines-windows-powershell-sample-encrypt-vm

has unexpected ")" on line 9.

Original line 9:
$password = $([guid]::NewGuid()).Guid)

")" at the end shouldn't be there.

Corrected line 9:

$password = $([guid]::NewGuid()).Guid

Thanks

---
#### Document Details

⚠ *Do not edit this section.

[2019-12-13 08:49] Sohryu7 opened #44622 "What happens if I delete the Approval mail?"
Great tutorial, thank you!
Is there any way to automatically react inside the logic app if the user just deletes the approval mail?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 616cbf28-e4c7-a539-911c-8c601031831a
* Version Independent ID: cad3d887-b65e-b2e0-a6b6-49e6cdb9e108
* Content: [Build approval-based

[2019-12-13 08:53] SychevIgor opened #44623 "Update Screenshot to address that ApplicationInsights.IO portal no longer exist"
This screenshot https://docs.microsoft.com/en-us/azure/azure-monitor/app/media/app-map/analytics.png
was done before Microsoft retired ApplicationInsights.IO. in current version of Azure portal, search is part of azure portal and looks a bit different.
It's minor moment, but could make documentation a bit more consistent.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-12-13 08:54] vukasinterzic opened #44624 "Unexpected characters in Sample Script"
The sample script provided at page

https://docs.microsoft.com/en-us/azure/virtual-machines/scripts/virtual-machines-windows-powershell-sample-create-snapshot-from-vhd

has unexpected Â characters on lines 33 and 35.

I had this show up in some of my scripts due to ta file encoding issue, I don't know if it is related. But they should be removed.

Thanks

---
#### Document Details

⚠ *Do not edit

[2019-12-13 09:01] jakaruna-MSFT commented on #44605
@yuwzho Thanks for sharing it here. It will help others.

This api version "2019_08_01" is new. i think thats why its not working with old version.
Since its working well with the latest version, We dont need to act on this isssue.

Also make sure you are using the latest version of aks-preview extension

[2019-12-13 09:02] ChiragMishra-MSFT commented on #44620
@Anmolgan81 This channel is for driving improvements towards MS Docs, Since this issue is not related directly to the doc,  I would recommend you to create a thread on the forums- [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataLake)/ [Stackoverflow](https://stackoverflow.com/questions/tagged/azure-data-lake). Once you post your issue on forums, it will have visibility a

[2019-12-13 09:02] #44620 closed

[2019-12-13 09:07] SychevIgor opened #44625 "Separate sentence about Elastic Plans"
Could you in one of first sentences explicitly write that all plans for Premium Plans named "Elastic Premium Plans".
Currently, it's looks like some inconsistency.
For example in pricing - there are no word "elastic" https://azure.microsoft.com/en-us/pricing/details/functions/
In this article - it also was not explicitly explained. As a result, I spend 10 minutes to understand that "Elastic" it's

[2019-12-13 09:07] jstclair opened #44626 "Storage accounts shared between function apps"
The phrasing of the "Storage account requirements" section seems to require a storage account per function app. It's unclear in the docs whether you can share a single storage account across multiple function apps. It would be good to clarify because:
- there is a limited # of storage accounts per subscription
- if sharing (and assuming that one is using separate storage accounts for Blobs/tables)

[2019-12-13 09:08] ishepherd opened #44627 "Security hole"
We can whitelist App Insights IP addresses, but this seems to defeat all networking security. (Anyone can create an Azure account, and use their own availability tests to call our apps)

Is there any solution to this now or planned? For example, do availability tests support VNET integration?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-12-13 09:11] yuwzho commented on #44605
Hey @jakaruna-MSFT , the documentation still need to be updated in section [before-you-begin](https://docs.microsoft.com/en-us/azure/aks/private-clusters#before-you-begin), it tells user use 2.0.70 or higher

[2019-12-13 09:17] liydu commented on #44383
We have got it fixed now and the pre-built firmware should have the connection string input box. Please help verify and close the issue if it works properly.

[2019-12-13 09:23] stardusttrans commented on #26881
Hello, are there any new re the on-boarding process for  3rd party MFA providers ?

[2019-12-13 09:26] MSNina123456 opened #44628 "AzureRM module need move to Az module, so please help modify script in this page using Az cmdlets"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56e2500f-e1f5-bc87-6e5c-f41b59265049
* Version Independent ID: d212be48-7d05-847d-3045-cea82e6ba603
* Content: [Manage Azure Automation Run As accounts](https://docs.microsoft.com/en-us/azure/automation/manage-runas-account)
* Content Source: [article

[2019-12-13 09:31] shawnharry opened #44629 "Android WVD Authentication failure"
When trying to launch a published app i see the following error which seems to indicate an authentication issue. Mac, Windows, web browser are all fine. Only the Android client is affected. Is the Android RD client fully supported for WVD?

https://twitter.com/shawnharry/status/1205207994499252224?s=20

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-12-13 09:36] msrini-MSFT commented on #44541
@jons-own-stuff , yes 4443 is used for the communication between Gateway Manager and the Bastion for the session monitoring to work.

We have plans to change that to 443 in the future. But as of now, just add a inbound rule to allow 4443 from Gateway Manager Tag

[2019-12-13 09:36] #44541 closed

[2019-12-13 09:40] mikaelsand opened #44630 "What accounts do I need to add?"
Hi there
So, no person in their right mind creates resources manually, but rather thru CI/CD from Azure Devops. In order to do that, you usually add a "service connection" for Azure Devops in your subscription. This is not a user but a Registered Application.

How do I go about logging in and registering the Azure DevOps CI/CD application as that creates about 100% of all resources for almost all

[2019-12-13 09:45] SadiqhAhmed-MSFT commented on #44623
@SychevIgor Thank you for the feedback. This issue is being assigned to the content author to evaluate and update as appropriate.

[2019-12-13 09:49] shashishailaj commented on #44231
@Martony78 Hope the above answered your query. Should you still have any query , please feel free to tag any of us to your reply and we will be glad to help .

[2019-12-13 09:49] #44231 closed

[2019-12-13 09:53] DixitArora-MSFT commented on #44626
Hi @jstclair Thanks for your feedback. We will review and update as appropriate.

[2019-12-13 09:54] DixitArora-MSFT commented on #44625
Hi @SychevIgor Thanks for your feedback. We will review and update as appropriate.

[2019-12-13 09:56] DixitArora-MSFT commented on #44622
Hi @Sohryu7 Could you elaborate more on "automatically react inside the logic app"?

[2019-12-13 09:56] Zimmergren commented on #44064
I'll concur that this could be better explained in the docs to be more transparent about how the secrets are fetched, and in what scenarios.

I built a PoC recently where I am triggering a Function to execute more than 1M times, but my Key Vault is hit only in the lower hundreds, which to me indicates that they may not be immediately fetched on every request, but I'd like that confirmed in the doc

[2019-12-13 09:58] ChiragMishra-MSFT commented on #44540
@jlaidlawRTS One possible cause is that the service principal or managed identity you use doesn't have permission to access the certain folder/file.

Resolution: Grant corresponding permissions on all the folders and subfolders you need to copy. Refer to [this doc](https://docs.microsoft.com/en-us/azure/data-factory/connector-azure-data-lake-store#linked-service-properties).

Please refer to the [

[2019-12-13 10:02] ChiragMishra-MSFT commented on #44584
@djpmsft Can you please have a look at this ?

We have a couple of more issues that are related :
https://github.com/MicrosoftDocs/azure-docs/issues/44583

[2019-12-13 10:03] ChiragMishra-MSFT commented on #44583
@hitzand Due to this being exactly same as another (https://github.com/MicrosoftDocs/azure-docs/issues/44584), I am closing this issue. Lets use the other thread(https://github.com/MicrosoftDocs/azure-docs/issues/44584) to track conversations.

[2019-12-13 10:03] #44583 closed

[2019-12-13 10:15] shashishailaj commented on #43563
@jegeib Could you please review this issue and help the customer. ?

[2019-12-13 10:16] shashishailaj commented on #44589
@Noorish Thank you for your query. We will investigate and update this thread further.

[2019-12-13 10:19] jakaruna-MSFT commented on #44585
@mgodse
Thanks for the question! We are investigating and will update you shortly.

[2019-12-13 10:35] Sohryu7 commented on #44622
In the logic app approval flow, is there a way to remind people of their task or automatically react on non-answers (eg. a timer of 7 days)? For example if the selected recipient just deletes the e-mail with the adaptive card inside. the logic app just keeps running and as an approver I have no way of answering the approval request.

Standard approval processes inside SharePoint Workflow, Power Au

[2019-12-13 10:35] amanmcse commented on #44109
@soorajpayyoor In this case email is the ClaimTypeReferenceId and salt is TransformationClaimType. Which means email claim will be transformed to salt during the processing of the policy.

Hope this helps clarifying the confusion. I will close this thread now. Feel free to tag me in your reply if you have any further doubts regarding the same.

[2019-12-13 10:35] #44109 closed

[2019-12-13 10:37] ManojReddy-MSFT commented on #44587
@bartduncan Thanks for bringing this to our attention. I have assigned this to the author to update the doc accordingly.

[2019-12-13 10:41] KalyanChanumolu-MSFT commented on #44526
@amthomas46  Thank you for the feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-12-13 10:43] PramodValavala-MSFT commented on #44597
@cloudmelon Thanks for the question! We will review and get back to you!

[2019-12-13 10:44] chi-ltd opened #44631 "Export to Event Hub"
Hi
I do not see this option...
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5a53f9b-0235-a221-f3c8-dccb3d7109a7
* Version Independent ID: cf6c67e8-1942-9eeb-2523-70c4a54b782d
* Content: [Export the Azure Activity Log](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/activity-log-export)
* Content

[2019-12-13 10:49] kogesaka opened #44632 "Cannot use Soft Delete with Classic Storage Account"
There is [Data Protection] that can set Soft Delete in the item of Classic Storage Account Management Blade.

![20191213](https://user-images.githubusercontent.com/15773157/70794626-66eee200-1de1-11ea-83ca-5143b946113b.png)

Does Soft Delete support Classic Storage Accout?
If you don't support it, please include it in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It i

[2019-12-13 10:51] CHEEKATLAPRADEEP-MSFT commented on #44612
@jayendranarumugam Azure Synapse Analytics is in private preview.  That's the reason it not available in the Azure Portal.

To use Azure Synapse Analytics, please do join the private preview here: [https://azure.microsoft.com/en-us/services/synapse-analytics/request-for-private-preview/](https://azure.microsoft.com/en-us/services/synapse-analytics/request-for-private-preview/).

Hope this helps.

[2019-12-13 10:57] Jerome2606 commented on #43710
I agree with @booyaa
You need to explicity write that 'It's not possible to switch between Pricing tier' and also that Standard Akamai that you are promoting **does not allow simple redirection HTTP to HTTPS**.
I have spent many hours to configure and told to my client that everything is ok before getting on this limitation that I can't understand ... how is it possible to have a CDN without a red

[2019-12-13 10:57] onkarthg commented on #44366
Hello @jakaruna-MSFT  Thank you your solution is worked.  but i got one more error taging base ansible using azure Cli  when i plugin the module i will explain you whole senario:
1. I have 3 VM
2. I was tag all the 3VM
3. now i want to install the vm2 NGINX using ansible so i followed same document ansible>2.8 step 1 in the document.
![roc](https://user-images.githubusercontent.com/54263809/707952

[2019-12-13 11:05] dcurwin commented on #42262
The documentation has been updated.

#please-close

[2019-12-13 11:05] #42262 closed

[2019-12-13 11:21] csamleong opened #44634 "Provision OMS extension on existing VM with ARM Template"
Is it possible to provision an existing VM with ARM template.

In the guide above,
it says ""name": "&lt;parentVmResource&gt;/OMSExtension".

Or is there a way i can pass my existing VM info to this ARM template as parameter and bind OMS extension to my existing VM?

Please give an example on how does &lt;parentVmResource&gt; looks like if it is possible.

Thanks

---
#### Document Details

⚠ *Do

[2019-12-13 11:29] HQJaTu commented on #39185
The mentioned solution does not mention anything about private DNS. Actually none of the Application Gateway documentation mentions private DNS applicability for the intended use.

By testing, one can find out that AppGw back-end doesn't use private DNS.

[2019-12-13 11:31] KalyanChanumolu-MSFT commented on #44532
@rbeauchamp The setting doesn't limit access to Azure resources within the tenant.
It is open to resources from other tenants as well.

[2019-12-13 11:32] KalyanChanumolu-MSFT commented on #44532
This is being assigned to the content author to evaluate and update as appropriate.

[2019-12-13 11:40] cloudmelon commented on #44597
Hi @PramodValavala-MSFT  it was at very beginning stage of AF durable 2.0 as this template not available in VS 2019 YET, which is why I picked up a durable function 1.0 template and followed the guidance to migrate to 2.0,  the source code is as the following :

using System.Collections.Generic;
using System.Net.Http;
using System.Threading.Tasks;
using Microsoft.Azure.WebJobs;
using Microsoft.Azu

[2019-12-13 11:45] dcurwin commented on #44207
Document updated, thanks.

#please-close

[2019-12-13 11:45] #44207 closed

[2019-12-13 11:56] LTUTE opened #44635 "link is missing"
[Create a site](https://docs.microsoft.com/en-us/azure/virtual-wan/virtual-wan-site-to-site-portal#site) is missing link to  to automation guidance from Azure to CPE partners.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d62470b-a511-4b32-5498-2ae5182ec585
* Version Independent ID: df2d4c2e-8afb-14ae-6667-9a504a5f81

[2019-12-13 12:01] Mat-pa opened #44636 "Clarify workaround python SDK known issue X_MS_VERSION"
Please clarify how to set the x-ms-version in python sdk version 12. V12 does not contain a block blob service class anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07a44a28-a19c-f68e-167c-5e8ad91605e0
* Version Independent ID: 33eacdff-4f0a-c543-d8f9-e7b208bab015
* Content: [Store block blobs on devices - Azur

[2019-12-13 12:10] jeethub5 opened #44637 "Getting error "Table is required for Copy activity.""
Followed all the steps and while validating first pipeline "IterateAndCopySQLTables" I'm getting following error :

Copy data1
Table is required for Copy activity.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 125c8ae8-332f-8792-d81b-30bb0eb3976f
* Version Independent ID: 2e2ac8cb-4208-6692-0f25-701e4906475a
* Content

[2019-12-13 12:14] SumanthMarigowda-MSFT commented on #44261
@LiorArmiev I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issu

[2019-12-13 12:14] #44261 closed

[2019-12-13 12:18] ErnestBrant commented on #44561
Hello @FrankHu-MSFT
I just want to clarify something
I am trying out the solution outlined in this document (it not in production at on our network at this point). The important point is "I do not have a physical on-prem" computer to try out the solution. However I do have Hyper-V installed on my on-prem works laptop. Therefore I built a LAB (e.g. the guests VMs) in Hyper-V to test out this techno

[2019-12-13 12:27] jakaruna-MSFT commented on #44340
@amuthusa I think its not possible.
If we look at the API, https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines/listavailablesizes

That lists only the avaialble sizes for a VM. That doesnt take the allowed vms for the subscription

[2019-12-13 12:28] SubhashVasarapu-MSFT commented on #44635
@LTUTE ,Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-12-13 12:28] KrishnaG-MSFT commented on #44628
@MSNina123456 Thanks for the feedback!
Assigning @MGoedtel for visibility, review and document enhancement considerations.

[2019-12-13 12:39] LTUTE opened #44638 "IPSec setup link is missing"
[Connect the VPN site to the hub](https://docs.microsoft.com/en-us/azure/virtual-wan/virtual-wan-site-to-site-portal#connectsites) link to IPSec configuration is missing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d62470b-a511-4b32-5498-2ae5182ec585
* Version Independent ID: df2d4c2e-8afb-14ae-6667-9a504a5f8197
* C

[2019-12-13 12:46] SumanthMarigowda-MSFT commented on #44417
@adrianwells Thanks for the feedback! Your feedback has been shared with the content owner for further review.

[2019-12-13 12:48] jayendranarumugam commented on #44612
@CHEEKATLAPRADEEP-MSFT thanks for letting me know. Can this be added to the synapses docs?

So that users aware of that it's private preview and not able to struggle to find it where to like me 😊

[2019-12-13 12:50] SumanthMarigowda-MSFT commented on #44440
@kazshi Are you looking for Operations - List Li[sts all of the available Storage Rest API operations.](https://docs.microsoft.com/en-us/rest/api/storagerp/operations/list)

[2019-12-13 12:58] haveyoumetcp commented on #44606
Yes, I see that.  But, I don't see any documentation on how to actually connect to an LLAP cluster with EST via Visual Studio. Because it's apparently different than a cluster without LLAP, as that's working for me.  But, the LLAP cluster without ESP is not working in Visual Studio.

[2019-12-13 13:03] p0shkar commented on #44615
Yes, my bad @KrishnaG-MSFT. I thought of Exchange Online (when not using Connect-ExoPSSession) instead of MS Online.

However, it would still be nice to see some Azure AD v2 (using AzureAD module) examples as well, if the same is possible to do with that.

[2019-12-13 13:31] mac8005 opened #44639 "Azure AD Integration broken"
After performing the certifcation rotation the Azure AD RBAC Integration seems broken.
Login with Admin credentials is working. After Login with Azure AD each kubectl command gives me this error:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b78509d-73eb-6c32-aee1-9b34685a64ff
* Version Independent ID: 6f87cf

[2019-12-13 13:43] cmalevris commented on #29664
Busy studing Az-300 exam and come through to this page to find the answers.
This paragraph is extremely confusing. With a combination of @SnehaGunda 's answer and the point in the document I'm sure MS can come up with a clearly description.

[2019-12-13 13:51] placidseven commented on #6356
@EmmaZhu
Thanks for the reply. I assume the same for version 8.1 and 10?

I was actually coming here to post that I had found the below thread. I appreciate the information.

https://github.com/microsoft/azure-pipelines-tasks/issues/10337
@TheJayMann AzCopy shipped with the Azure File Copy task should work fine with TLS 1.2. Refer this.

[2019-12-13 13:58] msandbu opened #44640 "Support for both Azure AD and Domain Services? and Azure AD B2B?"
Can this be using in combation with regular Active directory? meaning that a server can be part of both Azure AD and Active Directory? so that operator access is supported for Azure AD while regular users can login using Active directory? and secondly is B2B supported for logging in?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2019-12-13 14:01] LostinCloud opened #44641 "Not able to create private aks cluster if more than one cluster in same vnet. It looks like, route table is not getting updated with worker node routes"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-12-13 14:02] rmaziarka commented on #40366
Thanks @SnehaGunda for pointing this out. But what about a single partition key? I would like to update two documents with the same partition key. Will this operation be conducted in a transaction or not? Can I use optimistic concurrency control there?

[2019-12-13 14:06] IEvangelist commented on #44603
Hi @dargilco,

I went through the tutorial and I ended up making this change, and now in the Direct Line Speech Client, I get the following error. Is there anyway this could be related? Am I not allowed to use `centralus` as a region?

![image](https://user-images.githubusercontent.com/7679720/70805600-eb5c4900-1d7e-11ea-8beb-b670813825ce.png)

[2019-12-13 14:07] LostinCloud commented on #44641
Hi Team,
 Problem statement: It looks like, we can't create private AKS cluster in same vnet if more than one cluster in same vnet. Can you please help on this?
  Error details:
{
  "code": "DeploymentFailed",
  "message": "At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/DeployOperations for usage details.",
  "details": [

[2019-12-13 14:11] andy-andykingit commented on #44516
Still confused.

I run a Job ID with one step and 1 target configured in a target group.
When the job runs I can see 4 child jobs are created

![image](https://user-images.githubusercontent.com/56257939/70805610-a0abf280-1db9-11ea-8015-4240c7e46a57.png)

I see the end insert on my database, confirmed by the job task id 355cecfc-ef41-40a0-8ecd-af3989614ccf here (this is what i wanted)
![image](http

[2019-12-13 14:15] tfitzmac commented on #44607
@johnbilliris - I think what you are looking for is in the checklist on item 6. It says:

The account moving the resources must have at least the following permissions:
Microsoft.Resources/subscriptions/resourceGroups/moveResources/action on the source resource group.
Microsoft.Resources/subscriptions/resourceGroups/write on the destination resource group.

[2019-12-13 14:27] jlaidlawRTS commented on #44540
@ChiragMishra-MSFT  In this scenario I do not have the option of modifying the permissions on the file/folders in question. I would really just like to know what permissions are required to access Exists field as I assumed they would be similar to the field options in GET METADATA activity but that is not the case. I think this could be useful in the documentation as my situation of not having the

[2019-12-13 14:28] KalyanChanumolu-MSFT commented on #44613
Thank you for reaching out.
We are actively investigating and will get back to you soon.

[2019-12-13 14:31] englishguy64 commented on #39201
yeah CORS issues on PKCE frustrating - probably need abandon Azure B2C.  Any updates

[2019-12-13 14:48] julesman101 opened #44642 "Clarification on RDS CAL Requirement when implementing Windows Server RDS"
Can you confirm that both RDS PER USER and RDS PER DEVICE cals under SA are supported when using WVD to connect to a Windows Server RDS farm?  The "Requirements" section only specifies "RDS Client Access License (CAL) with Software Assurance" and does not indicates whether it is referring to PER USER or PER DEVICE cals or BOTH.
Thanks... JD

---
#### Document Details

⚠ *Do not edit this section.

[2019-12-13 15:00] tfitzmac commented on #44440
@tamram - do you know if Storage returns response header values that indicate how many operations are available before throttling is applied? I am referring to the [Storage resource provider scale limits](https://docs.microsoft.com/en-us/azure/storage/common/storage-scalability-targets#storage-resource-provider-scale-limits). I ran a test operation and did not see any value that was specific to St

[2019-12-13 15:07] jpcrs commented on #43952
@timsander1 Sorry about that, I've closed the issue/PR before it was merged :)

Feel free to merge whenever you want.

[2019-12-13 15:16] osorito commented on #44576
https://docs.microsoft.com/en-us/azure/automation/automation-first-runbook-textual-powershell

On Fri, Dec 13, 2019 at 12:16 AM K N Manoj Reddy <notifications@github.com>
wrote:

[2019-12-13 15:17] PishPoshery opened #44644 "Minor edit proposed"
If the settings are in correct, there is a loss of connectivity...
should read:
 If the settings are incorrect, there is a loss of connectivity...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f523808-b41b-848f-8ee1-428e158309b7
* Version Independent ID: d137f053-e38f-b090-0d61-d57b3f61a2ca
* Content: [Diagnose On-Pr

[2019-12-13 15:19] osorito commented on #44576
I'm just following the instructions on this url
https://docs.microsoft.com/en-us/azure/automation/automation-first-runbook-textual-powershell
There is no mention of required imports in said page. It's not like when
you program in Java or C that the documentation tells you that you need a
specific file to import. Can you please specify the required libraries to
import or include so this example can

[2019-12-13 15:30] jdouitsis commented on #36389
I don't know if this is still an issue, but I faced something similar and to fix it I went into my development machine's BIOS and enabled virtualization. That fixed up the issues right away

[2019-12-13 15:32] imsiddsingh commented on #43302
I am also facing this issue with ARM template deployment. I generated the template from azure portal by adding VNet Integration manually for azure function app (Add Vnet is in preview). My code is given below: -

          {
            "type": "Microsoft.Web/sites/virtualNetworkConnections",
            "apiVersion": "2018-11-01",
            "name": "[concat(parameters('funcAppName'),'/',paramet

[2019-12-13 15:35] #44481 closed

[2019-12-13 16:04] MonikaReddy-MSFT commented on #44124
@btardif - Do you have any insights on this?

[2019-12-13 16:04] dargilco commented on #44603
@RohitMungi-MSFT I submit a PR for tutorial changes in a few hours.
@IEvangelist per our off-line discussion I don't think your issue is related, but I will deploy the updated echo bot today to get back to you.

[2019-12-13 16:12] VladPScreenMedia commented on #43536
Thanks @diberry
I have done that just now, with id: 119121324002573
@YutongTie-MSFT

[2019-12-13 16:13] msandbu opened #44645 "Trouble with SID Mapping"
For new machines that has been installed running Windows Server 2019 Datacenter with the AAD plugin extension Installed I get this error message, AAD Cloud AP plugin call Lookup name name from SID returned error: 0xC000023C, short be part of the trobleshooting section here how to fix

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2019-12-13 16:13] diberry commented on #43536
@VladPScreenMedia Thank you - I'm going to close this now. #please-close

[2019-12-13 16:14] mlwhite4 opened #44646 "Brand name update - Company name is now KazooHR and no longer YouEarnedIt!"
Our company, YouEarnedit! , has rebranded and is now called KazooHR.

Is there any way that I can work with someone on your team to get a connector for KazooHR and remove and/or replace this tutorial with one that is KazooHR branded?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bda66bf-c89a-9537-970e-8fa33a4b7383
*

[2019-12-13 16:20] codemillmatt commented on #44490
Hi @Craigmeister68!

Thank you so much for pointing this out!

While I'm in there fixing things - I'm going to update some NuGets and also bring the Xamarin.Forms features up to 4.4.

[2019-12-13 16:47] paramrsingh opened #44647 "Importing the sample pizza json file fails"
Importing the sample pizza json file fails at this step: https://docs.microsoft.com/en-us/azure/cognitive-services/LUIS/tutorial-machine-learned-entity#import-example-json-to-begin-app

The LUIS portal throws the error "BadArgument: Failed to parse application json. Parameter name: applicationJsonString"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-12-13 16:49] paramrsingh opened #44648 "Sample pizza-intents.json file fails to load"
Importing the sample pizza json file fails at this step: https://docs.microsoft.com/en-us/azure/cognitive-services/LUIS/tutorial-machine-learned-entity#import-example-json-to-begin-app

The LUIS portal throws the error "BadArgument: Failed to parse application json. Parameter name: applicationJsonString"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-12-13 17:00] hrasheed-msft commented on #44606
Hello @haveyoumetcp. Just to clarify: Are you trying to connect to an Interactive Query ESP cluster with Visual studio? Which HDInsight version are you using? Could you share more details about whats happening when you say its not working? Are you getting a specific error message?

[2019-12-13 17:13] trevorbye commented on #42477
@rastala do you mind taking a look at this? We're trying to get some of these old ones closed. Thanks

[2019-12-13 17:13] #43952 closed

[2019-12-13 17:14] diberry commented on #44647
@paramrsingh Are you sure you are on the preview portal - preview.luis.ai? How did you download the file to disk? I just tested and it worked for me so we must not be using the same steps or the same portal. #in-progress

[2019-12-13 17:15] diberry commented on #44648
@paramrsingh - how is this different from your [previous issue](https://github.com/MicrosoftDocs/azure-docs/issues/44647)

[2019-12-13 17:19] Davy-F commented on #34159
@FrankHu-MSFT I am struggling to get this to work on .NET Core 3.0 with an API.

I have been required to change the ClientAuthMiddleware file like so:
[code]

However when running locally, I always get Unauthorized as the 'Authorization' header with the Basic auth is removed. Do you know of a workaround please?

[2019-12-13 17:21] tamram commented on #44440
@tfitzmac - I don't believe that we do, but adding @cbrooksmsft to confirm.

[2019-12-13 17:29] zr-msft commented on #44639
Adding @andyzhangx and @sauryadas

[2019-12-13 17:31] paramrsingh commented on #44648
This is a duplicate, for whatever reason Github put it in twice

[2019-12-13 17:31] #44648 closed

[2019-12-13 17:32] RyanHill-MSFT commented on #44488
@alejandrocolman I’m checking with the team. Can you tell me [preset](https://docs.microsoft.com/en-us/azure/media-services/previous/media-services-mes-presets-overview) you’re using with your blank audio asset?

[2019-12-13 17:38] paramrsingh commented on #44647
I just tried it with the preview portal and got the same error.
![Annotation 2019-12-13 123741](https://user-images.githubusercontent.com/5642336/70819949-75b7a380-1da5-11ea-925b-736021ca22af.jpg)

[2019-12-13 17:42] diberry commented on #44647
@paramrsingh Can you share the f12/dev tools error text from the browser?

[2019-12-13 17:48] tfitzmac commented on #36312
@davidjrh and @iibber - thanks for this feedback. I have confirmed that this behavior has changed. I am removing the step to delete the SSL binding from this article.

[2019-12-13 17:48] tfitzmac commented on #36312
#please-close

[2019-12-13 17:48] #36312 closed

[2019-12-13 17:58] SumanthMarigowda-MSFT commented on #44413
@normesta Can you please add your comments here

[2019-12-13 17:59] mmacy commented on #44386
@andyjballgit Hi Andy - when you create an Azure AD B2C tenant, you need to then link it to a subscription (as described in the article) to enable communication, support, and billing.

When link the subscription, an Azure AD B2C resource is created within said subscription. As such, the account you use needs to have been assigned at least the **Contributor** role within the subscription (or to a r

[2019-12-13 17:59] tfitzmac commented on #44607
@johnbilliris - I'll close this item for now, but if your question was not answered we can reopen it.

[2019-12-13 17:59] tfitzmac commented on #44607
#please-close

[2019-12-13 17:59] #44607 closed

[2019-12-13 18:01] dp80 commented on #25273
I am facing same issue in databricks 5.5 runtime as well when trying to access the files after mounting the adls gen2 container.

`ExecutionError: An error occurred while calling z:com.databricks.backend.daemon.dbutils.FSUtils.ls.
: GET https://xxxxxx.dfs.core.windows.net/bac?resource=filesystem&maxResults=5000&directory=sales&timeout=90&recursive=false
StatusCode=403
StatusDescription=This reques

[2019-12-13 18:06] paramrsingh commented on #44647
[preview.luis.ai-1576260347299.log](https://github.com/MicrosoftDocs/azure-docs/files/3962094/preview.luis.ai-1576260347299.log)
See attached for log

[2019-12-13 18:11] MarileeTurscak-MSFT commented on #44646
@mlwhite4
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-13 18:17] jgwinner commented on #41277
We still get "Weird things" in the control panel that have no explanation. Either, the control panel needs to change, or something should explain what "Ghosted Recall" is. That's the purpose of documentation. So no, I do still have questions on this issue.

Sorry for the delay, it's frustrating when I run into things even the documentation people don't know what it is, and see no possibility of im

[2019-12-13 18:25] DGG-IT commented on #44512
@jeevansd I'm not sure I understand what you're asking. As an example, my configuration from xMatters currently looks as below and is functional both idp-initiated (start from portal.office.com) and sp-initiated (start from https://mydomain.xmatters.com/).
![image](https://user-images.githubusercontent.com/27304430/70822540-cfbb6780-1dab-11ea-8fa8-53a68b67b065.png)

[2019-12-13 18:44] normesta commented on #44413
@aparent-talend thx for reporting. Can you pls tell me which link you are clicking? Is it the link labeled "Hadoop" that appears in the table "Supported open source platforms"? When I choose that link, I get to this page https://hadoop.apache.org/ which is the intended target for that page. Please let me know. Thank you.

[2019-12-13 19:11] alejandrocolman commented on #44488
Hi @ryanborMSFT . I  don't have this issue anymore.
I'm not sure which change I made to my Preset but now it's working.

[code]

Thanks for your help!

[2019-12-13 19:11] #44488 closed

[2019-12-13 19:14] MarileeTurscak-MSFT commented on #44297
Try testing with adfshelp.microsoft.com use EntityID of: urn:microsoft:adfs:claimsxray replyURL of: https://adfshelp.microsoft.com/ClaimsXray/TokenResponse

![image](https://user-images.githubusercontent.com/13383753/70825599-a98ccc00-1d99-11ea-8be7-60fadbcfbc16.png)

Assign the app to a user and then user can SSO themselves from myapps.microsoft.com to claims X-ray visualizer enter image descript

[2019-12-13 19:15] MarileeTurscak-MSFT commented on #44297
Hope this helps! Since this is more of a product question than a doc issue, please post to Q&A if you have further questions. https://docs.microsoft.com/answers/questions/index.html

[2019-12-13 19:15] #44297 closed

[2019-12-13 19:16] truealex81 commented on #44384
just 4

[2019-12-13 19:19] Alberto-Vega-MSFT commented on #44383
@dootdootbeep Can you please confirm that your issue has been resolved? Please see previous comments and retry

[2019-12-13 19:19] pwl-kdk opened #44656 "v2 Function Debugging via --language-worker"
Debugging locally running v2 functions is enabled via --language-worker (v1 uses --nodeDebugPort).

Perhaps the documentation for --language-worker could mention this and/or refer to where I learned about it: https://github.com/Azure/azure-functions-core-tools/wiki/Enable-Debugging-for-language-workers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-12-13 19:20] lisaguthrie commented on #40931
We've added .NET Core 3.0 sample code to this particular quickstart. Based on that, I think we can close out this item.

[2019-12-13 19:23] MartinJaffer-MSFT commented on #44637
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2019-12-13 19:24] FrankHu-MSFT commented on #44640
@msandbu Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-13 19:24] FrankHu-MSFT commented on #44645
@msandbu Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-13 19:32] MarileeTurscak-MSFT commented on #44646
I am assigning this to the content author, @Jeevans, since I don't have permission to change the page URL and the side blade.

I did, however, make a pull request to replace all of the instances of the platform name in the article. https://github.com/MicrosoftDocs/azure-docs-pr/pull/98949

[2019-12-13 19:40] Mike-Ubezzi-MSFT commented on #44516
I followed the tutorial verbatim and what I have is two SQL Server instances, one hosts the jobs database and the other hosts the two databases where the elastic job runs.

![Screenshot (522)](https://user-images.githubusercontent.com/37126106/70824221-a47a4d80-1d96-11ea-9f8e-dd77371aff04.png)

The tutorial creates a single job with two steps.

![Screenshot (523)](https://user-images.githubusercon

[2019-12-13 19:45] djpmsft commented on #44584
This is a valid ask and I have created a work item to add this to the documentation. ETA is this month. As you have discovered the fix and are unblocked, I will proceed to close this issue

#please-close

[2019-12-13 19:45] #44584 closed

[2019-12-13 19:52] toddysm opened #44657 "Missing using statement"
The C# example for output binding fails with:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fff7ae2f-4f02-7ed9-c2ed-a2715e407975
* Version Independent ID: 542016c1-3c25-f6af-cc83-0c5b6218e0ce
* Content: [Azure Blob storage bindings for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/func

[2019-12-13 19:53] Scottie2z opened #44658 "'Configure backup on VMs of a location to an existing central Vault in the same location' is not a definition for me"
the only definition i have available for the backup category is 'Azure Backup should be enabled for Virtual Machines', which can only AutidIfNotExists, not deploy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e2858cb-d4ce-2357-a092-5ba1ac7938fe
* Version Independent ID: 89c787d5-1202-4214-bd97-29d5b8f2ef3e
* Content

[2019-12-13 19:56] Karishma-Tiwari-MSFT commented on #44634
Thanks for the question. We are currently investigating and will update you shortly.

[2019-12-13 19:56] Karishma-Tiwari-MSFT commented on #44629
Thanks for the question. We are currently investigating and will update you shortly.

[2019-12-13 19:57] MonikaReddy-MSFT commented on #44520
Hello @joe-bethke ,
Can you provide more details on what kind of debug configuration are you looking for? Is it a remote debugging?

[2019-12-13 19:57] Karishma-Tiwari-MSFT commented on #44624
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-13 19:57] tfitzmac commented on #44440
@kazshi - the number of remaining requests for Storage management operations are not returned as header values. You would want to handle any requests that return the 429 error code and retry as appropriate. Here's some related info:
[Azure Storage scalability and performance targets for storage accounts](https://docs.microsoft.com/en-us/azure/storage/common/storage-scalability-targets?toc=%2fazure

[2019-12-13 19:58] Karishma-Tiwari-MSFT commented on #44621
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-13 19:59] craigshoemaker commented on #23928
Sorry for the confusion! I verifed with the Product Team that the hub name isn't tied to a class name.

Per the docs, the hub name you define in the configuration is:

#please-close

[2019-12-13 19:59] #23928 closed

[2019-12-13 20:01] richrundmsft commented on #42968
Hi @rlevchenko - Thanks for the feedback.

The UX doesn't make this very clear, but the Save and Discard buttons only apply to changes in the SSL Policy. Did you have a pending change to SSL policy that caused the Save/Discard buttons to be active?

As you noted, changes to the listeners are saved when you make them and don't need you to use the Save button.

I am looking at options for making the

[2019-12-13 20:01] pbaumgartner opened #44659 ""unsupported operand type(s) for -: 'NoneType' and 'NoneType'""
I am not able to install the Extension on SLES 15. Is this a known issue?

Set-AzVMAEMExtension : Long running operation failed with status 'Failed'. Additional Info:'VM has reported a failure
when processing extension 'AzureEnhancedMonitorForLinux'. Error message: "unsupported operand type(s) for -:
'NoneType' and 'NoneType'"
More information on troubleshooting is available at https://aka.ms/vmex

[2019-12-13 20:06] TravisCragg-MSFT commented on #44644
@PishPoshery Thanks for the feedback! I have fixed the typo, and the docs should reflect the change within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-13 20:06] #44644 closed

[2019-12-13 20:19] HoCGeek opened #44661 "More detail please"
When you say "the export stops and you receive an email", which address is this email sent to?  How is that determined?  When you say that the export stops, does the export stop permanently until this is resolved?  Or is it just this instance of the export that stops and the next scheduled run will still happen?  Does the process commit the first 500 deletes and then stop, or determine that there

[2019-12-13 20:24] #43623 closed

[2019-12-13 20:25] JeffBor commented on #27495
@tamram Agree with "served through anonymous access requests" but this confuses readers.  Recommend *explicitly* stating something like "Static Website feature will not authenticate."  This has come up again with a customer referencing this article.

[2019-12-13 20:27] wesleyniels commented on #41198
Hello, i'm also encountering this issue. How long does it take before a customer shows up in Lighthouse under the Customers (CSP) section when they accept the MCA?

[2019-12-13 20:32] theonlygusti commented on #44262
I specify my model ID like this:

   Guid[] modelList = new Guid[] { new Guid("the-Language-model-ID-from-Training") };

and use it as the final argument to [the sample batch transcription client's PostTranscriptionAsync](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/batch/csharp/batchclient.cs#L78) method.

I still get the same error as when I was (incorrectly

[2019-12-13 20:39] toddysm commented on #44657
This is the complete output with all the errors that the C# example spits out:
[code]

Also, the exampes for the C# and C# scripts are comletely different. The documentation not only doesn't describe how to create the output binding but adds a lot of confusion.

[2019-12-13 20:52] gjustice commented on #44514
Hi Karishma,

Yes, it did help.  Thanks.

But mainly, I was suggesting the document be updated to include links on alternate methods than just powershell.  Is Bash CLI also possible?  That is my preferred mechanism.

Gerald J.

?

________________________________
From: Karishma Tiwari - MSFT <notifications@github.com>
Sent: December 12, 2019 6:27 PM
To: MicrosoftDocs/azure-docs
Cc: Justice, Gerald

[2019-12-13 20:56] sauryadas commented on #44639
known issue .. we are investigating

[2019-12-13 20:59] j-martens commented on #42477
#assign:@trevorbye

[2019-12-13 21:07] JonathanAnd commented on #44383
I just downloaded the latest firmware and it is now fixed

[2019-12-13 21:19] jgwinner commented on #39759
I just wanted to make an update here in case someone else runs into this.

This behavior is apparently "as designed".

The problem is when an On-prem administrator is pushed into Azure AD. The matching rules intentionally fail, mostly as apparently someone decided that it would be a good idea not to promote an O365 account to an admin.

Unfortunately, this is just plain a bug. In every case with t

[2019-12-13 21:29] #44520 closed

[2019-12-13 21:34] mstephens-adig commented on #43524
Same issue here,  I'm not sure how to upload an image to our site through the WAF with request body inspection enabled.
The only option seems to be disabling request body inspection globally,  if we can't increase the size for it it would be really nice to exclude by url so I'm only disabling it for specific request.

[2019-12-13 21:35] Linaa commented on #43302
same issue here
[code]

results in:

[code]

[2019-12-13 21:36] Alberto-Vega-MSFT commented on #44619
@xinyiz1226 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-13 21:54] GenMaximus13 commented on #44619
Thanks for the quick response

[2019-12-13 21:55] kobulloc-MSFT commented on #44627
@ishepherd Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-12-13 21:59] amadav opened #44662 "PodNodeSelector"
Does it mean that by default, PodNodeSelector is enabled on AKS? If not, is there a version of AKS where it was started to be supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dae17603-813b-f1ef-e161-c229d49a2541
* Version Independent ID: 5c1dcea0-0cda-0233-2356-be63be776809
* Content: [Operator best practices

[2019-12-13 22:04] Karishma-Tiwari-MSFT commented on #44514
Thank you for the feedback. I will share this feedback to the docs team.
You can refer to [this doc](https://docs.microsoft.com/en-us/azure/virtual-machines/scripts/virtual-machines-linux-cli-sample-create-vm-from-snapshot?toc=%2fcli%2fmodule%2ftoc.json), samples for the Azure CLI are written for the bash shell.
We will now close this issue. If there are further questions regarding this matter, pl

[2019-12-13 22:04] #44514 closed

[2019-12-13 22:13] Karishma-Tiwari-MSFT commented on #44624
I have created a PR with the update, changes will go live in few hours.
https://github.com/Azure/azure-docs-powershell-samples/pull/250

[2019-12-13 22:13] #44624 closed

[2019-12-13 22:17] sauryadas commented on #44448
@VikasPullagura-MSFT  can i please get an ack ?

[2019-12-13 22:21] codemillmatt commented on #44490
PR created to update the backing sample: https://github.com/Azure-Samples/azure-cosmos-db-sql-xamarin-getting-started/pull/3

I'm fine merging it in, unless you want to test it @NavtejSaini-MSFT.

FWIW - the newer `Microsoft.Azure.Cosmos` package does not work w/ Xamarin.Android - opened a tracking item with the team. Once that's fixed, I'll update the sample again with the latest of everything.

[2019-12-13 22:21] lisaguthrie commented on #44524
Hi @haydenhancock - v3.0 of the App Config config provider (which is what you're using) introduced a breaking change around using managed identity. We're still working to update our docs to reflect this, but the required changes are documented in the release notes for v3.0 of the config provider: https://github.com/Azure/AppConfiguration/blob/master/releaseNotes/MicrosoftExtensionsConfigurationAzu

[2019-12-13 22:32] abdvlz opened #44663 "i have implemented a similar system and interested to be working with you. please contact me at abdul.zarea@gmail.com"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-12-13 22:39] msmimart commented on #43807
@older thanks for the feedback. I'm looking into this with the product team.

[2019-12-13 22:46] ElanShudnow opened #44664 "Will integrating Defender ATP in Security Center automatically uninstall Antimalware Extension?"
One of Security Center's recommendations out of the box is to install Antimalware Extension.  But if you later get Defender ATP and integrate into Security Center, the article mentions new servers onboarded into Security Center will automatically get onboarded to Defender ATP.  Will this happen for existing VMs and if so, will it remove the Antimalware Extension?

---
#### Document Details

⚠ *Do

[2019-12-13 22:53] msmimart commented on #42999
@jdelforno Thanks for your inquiry -- we don't currently have an update on this, but it would be great to get more details about your scenario. Would you please post this to the feedback forum at https://aka.ms/appprovisioningfeaturerequest? This will allow the community to upvote and the product team to include it in their plans.

[2019-12-13 22:58] GenMaximus13 commented on #44647
i was trying to follow this as well.

[2019-12-13 23:02] diberry commented on #44647
@GenMaximux13 - you also get an error importing the JSON?

[2019-12-13 23:02] msmimart commented on #42230
@ashkansirous thanks for your patience; the new reference code is in the works and will be available soon. We'll close this issue for now but please watch for updates.
#please-close

[2019-12-13 23:02] #42230 closed

[2019-12-13 23:04] Vaccano opened #44666 "Vi and Nano are hard, why not indicate that there is Code?"
This page talks about using Vi and Nano as an editor to make the file.  For anyone with a windows background those are very confusing text editors.

But `code .` will open a nice normal text editor.  Consider adding this to the list of editors shown on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6115d555-

[2019-12-13 23:07] msmimart commented on #42229
@ashkansirous thanks for your patience; a new reference code will be released soon to address this type of issue. We'll close this issue for now, but please watch for updates.
#please-close

[2019-12-13 23:07] #42229 closed

[2019-12-13 23:07] Vaccano opened #44667 "Call to create the cluster fails if "Microsoft.OperationsManagement" is not registered"
The command to create the cluster includes monitoring.  If that namespace is not registered then a rather ugly error message is returned.

The fix is to add a check to see if "Microsoft.OperationsManagement" is registered.  And indicate how to turn it on if it is not.  (Or remove the monitoring flag.)

As it is, first time users (like me) get really confused on what to do with the messed up resour

[2019-12-13 23:08] walsehgal commented on #43518
@jimbobbennett, @nicolasdaviaud, We have updated our docs to add more context as to what key to use for shared key authentication. Please let me know if it makes more sense now.

[2019-12-13 23:15] wardbox commented on #44639
Tacking on a "same issue here". Should I close my critical support request for this issue or leave it open?

[2019-12-13 23:17] sauryadas commented on #44639
Support ticket should be open until issue is resolved.

[2019-12-13 23:18] femsulu commented on #44658
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-12-13 23:19] MarileeTurscak-MSFT commented on #44630
@mikaelsand
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-13 23:20] MarileeTurscak-MSFT commented on #44631
@chi-ltd
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-13 23:23] JnHs commented on #41198
Hi @wesleyniels - I'm confirming how long this should normally take. I did want to clarify that a customer appearing in the **Cloud Solution Provider** section of **My customers** doesn't mean that they are also onboarded for management through Azure Lighthouse. Even if a customer appears in the CSP section, you would have to onboard them for Azure delegated resource management before they will ap

[2019-12-13 23:24] j-martens commented on #44266
#assign:@trevorbye

[2019-12-13 23:31] MarileeTurscak-MSFT commented on #44390
This error means that you are attempting to access an index of a collection (or array) that does not have the index available. It could either be negative or higher than the number of items.

I would recommend placing a breakpoint in your code to determine on what line this is taking place  and inspecting the values surrounding it.

If you are using SSMS I would also recommend downloading to the l

[2019-12-13 23:31] #44390 closed

[2019-12-13 23:34] lobrien commented on #43841
We are currently setting up a test environment for analysis.

[2019-12-13 23:47] rigerosa commented on #44448
FYI, from a quick test on our clusters the two methods didn't give us the same results:
from the certificate test mentioned by @andyzhangx we got that all our clusters except for one certificates expire after 2 years, while `kubectl get nodes` returned that all nodes have an age lower than 4 months.
Maybe `kubectl get nodes` returns the time since when the cluster was last upgraded?

[2019-12-13 23:49] MarileeTurscak-MSFT commented on #43552
Hi @1993Saurabh ,

I would need to see the code in the flow. I think this issue may require a support ticket for more detailed troubleshooting. If you send me an email with your subscription ID to AzCommunity@microsoft.com I can open a free support case for you.

[2019-12-13 23:52] MarileeTurscak-MSFT commented on #44473
I'm closing this out as we are tracking this item here: https://github.com/MicrosoftDocs/azure-docs/issues/44479

[2019-12-13 23:52] #44473 closed