[2020-03-25 07:55] DrReedo commented on #49056
Can we please make it clearer that the region's IP addresses are automatically added and not seen in the portal when the "Allow access from Azure Portal" is checked?
I manually added the addresses and then could not see them.
From the CLI team:
https://github.com/Azure/azure-cli/issues/12720
Yes those IP addresses are added when you check the box next to "Allow access from Azure portal". I just co

[2020-03-25 07:59] rhuanbarreto commented on #50552
You are moving the discussion to the wrong way. There is nothing to do with mysql CLI. It's about the mysql2 gem

On mysql2 gem in github:

[code]

On the doc page:

[code]

[2020-03-25 08:13] amergey commented on #50399
@mumian it is the latest version available for Microsoft.Sql/servers/databases :  2019-06-01-preview

[2020-03-25 08:19] mdzullo commented on #15826
I tried all the options but it doesn't works. Looks like it is not available in PS.

[2020-03-25 08:20] mdzullo commented on #15826
Doesn't worked.

[2020-03-25 08:40] fleed commented on #50571
Hi @NavtejSaini-MSFT
Thank you. I found interesting information, but still no description for the roles that I can assign from the `Access control (IAM)` tab.

[2020-03-25 08:44] theheatDK commented on #46130
I have updated the article with a Powershell example :-)

[2020-03-25 08:44] #46130 closed

[2020-03-25 08:59] smoms commented on #50800
One more thing please. I do have a Product linked to an AAD Groups and a Product without an AAD Group. User_x in the AAD Group can see both Products (in the dev portal). I thought he could only see the Product he is part of, am I wrong?
Also if User_x clicks button Subscribe on the Product he is not part of, I can see that as admin in Azure Portal APIM I receive a request from User_x that he has *

[2020-03-25 09:13] TheKlingon commented on #50435
Hi.
I'll try to solve the issue applying the last advice tomorrow, when I'll return to my home.
Thanks for your patience.
Alain.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: DashleenBhandari-MSFT <notifications@github.com>
Sent: Wednesday, March 25, 2020 3:37:28 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Alain Natalini <the_klingo

[2020-03-25 09:25] diego-palla commented on #16997
Hi Mike, support request ID is 120031725001124.
Thanks for your help

[2020-03-25 09:40] cerbusjpeg opened #50862 "Firewall link"
Link under Security Policies & Recommendations section on the bullet point "Use a firewall from a Microsoft partner to increase your security protections." goes to an unrelated Azure Sentinel page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5524b067-f3c4-2ef2-7a82-00214aa146c0
* Version Independent ID: 0ad17af0-c85

[2020-03-25 09:58] jwbliden opened #50864 "Allocation failure with different cluster types on North Europe"
For three days I can't start clusters on North Europe, allocation failures. Points me to this site http://aka.ms/allocation-guidance where I find no help. Are there problems with the North Europe VMs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1b587f6-8bf4-fb64-5515-be223a17f783
* Version Independent ID: a756c758-

[2020-03-25 09:59] sergiosolorzano commented on #50764
Hi, I hooked up the web app - web api example to custom policies and works, but it doesn't KMSI if I close the browser.

[2020-03-25 10:02] sergiosolorzano commented on #50727
Thank you @yoelhor that works indeed for the test, seems I missed the step of removing &prompt=login .

In production when calling the web app linked to these custom policies/KMSI if I close the browser it doesn't keep me signed in, do I need to make a change in the files uploaded in the tutorials similar to removing &prompt=login that I don't see in the files?

Thank you for your help

[2020-03-25 10:04] jeroenwo opened #50865 "Unclear that server firewall rules overrule database firewall rules"
In the server firewall rule the following is stated:
"Server-level IP firewall rules apply to all databases within the same SQL Database server."

To me it isn't clear that the server firewall rule trumps the database firewall rule. I didn't even look at the documentation of the server firewall rule, as that is easily changed. The database firewall rule is harder to configure and that is why the d

[2020-03-25 10:13] M0ns1gn0r commented on #19924
And nothing was done.

[2020-03-25 10:25] GMartinez-Sisti commented on #17210
Sorry for updating a closed issue, but this might be helpful:

https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/change-azure-account-profile#update-your-countryregion

[2020-03-25 10:27] cannibal-kush commented on #50694
That doc doesn't give instructions regarding a database clean-up task, though.

[2020-03-25 10:29] olivergrimes commented on #25613
I'm not sure I've fully understood the documentation.  I've updated a cluster to use common name instead of thumbprints.  I'm now attempting to update to a newer certificate.

- Obtained a new, later expiring, CA certificate, with the same common name as what is defined in the cluster.
- Uploaded the certificate to the existing KV referenced by the VMSS
- Registered the certificate secret with the

[2020-03-25 10:53] ForBravo opened #50866 "The API exposed by the server application doesn't need to be `Admins Only`"
As you have described in the CLI approach https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration-cli#create-azure-ad-client-component, the API exposed by the server application doesn't need to be `Admins Only` . This is in contradiction to what is shown in this page. I've also tried to exposed the server API as `Admins and Users` and the AzureAD Integration works well.

---
#### Document

[2020-03-25 10:56] haymansfield commented on #50416
@TravisCragg-MSFT Is there any additional documentation on use of the new traffic selectors allocation.
How do these traffic selectors interact with the address prefixes defined on the local gateway used by an S2S connection?

[2020-03-25 11:12] GaelBSB opened #50867 "qnamaker importing an Excel.xlsx file with line breaks in markdown format in the "question" column"
Good morning,

When importing an Excel.xlsx file with line breaks in markdown format in the "question" column, the line breaks disappear and are not interpreted. It is thus not possible to have a line break at the level of the answers of the qnamaker bot.

Gael

[2020-03-25 11:27] asergaz commented on #50819
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-25 11:30] Clen10 commented on #50029
Hi Patrick,
Thanks for your reply, Binary format ok, but what about the process
simplification. Even though we can send them as binary image. Still
complexity exists using it. I hope if anyone from  Microsoft have a look on
it. I also directly contacted support team and requested this  from Azure
Portal. But seems none is concerned  about this. I think its time to move
to some other providers.
On

[2020-03-25 11:38] samgoudie opened #50869 "Communication on IPV6"
On the above comments - "After enabling a service endpoint, the source IP addresses of virtual machines in the subnet switch. The source IP addresses switch from using public IPv4 addresses to using their private IPv4 address when communicating with the service from that subnet."

The communication when enabling a service endpoint switches to IPv6 communication not the private IPv4 address. If you

[2020-03-25 11:40] CealClem opened #50870 "Cannot find the application settings page in azure portal"
when I click on my app service in the portal, I cannot find the "application settings" button. Has it been lost in an update??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b012f1d7-50ea-1f6d-75fc-9961fb7b11b2
* Version Independent ID: d51d2728-85d5-dc51-9c2e-2793de03c559
* Content: [Get default answer - QnA Maker - A

[2020-03-25 11:45] solomson opened #50871 "Disk copy example not valid"
The disk sample states number of disks as
    "minValue": 0,
      "maxValue": 16,

However, I'm trying to create a loop where disks are only created for one VM

[code]
E.g. if vm name is vm05 - create 4 disks, otherwise 0. However, 0 is not valid for copies.
Using
"[if(equals(copyIndex(1),variables('totalVmCount')), 4, 1)]"
works.
[code]

---
#### Document Details

⚠ *Do not edit this section. It

[2020-03-25 12:27] ritrohit49 commented on #49863
Hi Travis,

How many user can connect to Azure Bastion at a time.

Thanks,
Rohit

[2020-03-25 12:46] JacobTheisen opened #50872 "Cant connect to site"
Hi, ive followed this tutorial, but when i try to enter the website With Public ip i dont get to server, only a message that says "cannot Reach this site". When i look at the Resources in gui it looks like everything should work properly. Does anyone know what this issue could be?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2020-03-25 12:49] JacobTheisen commented on #50786
@Karishma-Tiwari-MSFT Looks like thats it, Thank You!

[2020-03-25 12:57] alexdrenea opened #50873 "Confusing note "You can specify loggers on different levels - single API logger or a logger for all APIs.""
When you specify loggers both at the All APIs level as well as the individual level, the note on the page suggests logs are going to be written in both, however this does not seem to be the case.
As soon as I specified a logger (a different instance of App insights) at the API level, logs were only sent into that one.

Just to be clear, I think that is the correct behavior and I was actually tryin

[2020-03-25 12:57] Ozzian opened #50874 "How to add Managed Identities into assigned users and roles?"
Azure App Service Authentication is a great feature, and now with Managed Identities it makes it possible to Authenticate API Management service to call the App protected by the Azure Active Directory.

But, there seems to be no way to limit access using the Enterprise Application management panel to the App without blocking access from the Managed Identity aswell. You cannot add a Managed Identit

[2020-03-25 12:57] jmorcar commented on #50474
I tested the structure command must be:

UserName: "<user-created>@<name-mysql-instance>"
Host Server: "<name-mysql-instance>.mysql.database.azure.com:3306"

I think the UserName need @ to indicate the instance name to Azure proxy or similar allocated  in HostServer <name-mysql-instance>.mysql.database.azure.com:3306

This structure is OK tested with MYSQL WORKBENCH, but I don't validate with comm

[2020-03-25 13:07] shawnbutton opened #50875 "On "What is Azure Event Hubs" page link to javascript example points to java"
On the "What is Azure Event Hubs" page link to the javascript example points to the java example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a6e2fa9-99f3-7a01-5629-42ff4a762ea8
* Version Independent ID: d3992cd6-6809-d757-2725-0be592ee6521
* Content: [What is Azure Event Hubs? - a Big Data ingestion service](https

[2020-03-25 13:08] EagleWizard28 commented on #50771
Hi @DixitArora-MSFT. I think the confusion arises because the "AuthorizationLevel" in code can be set with an enum "Microsoft.Azure.WebJobs.Extensions.Http.AuthorizationLevel". This enum however holds different values than "Function" and "Host":
[code]
So this can maybe cleared out in the documentation somehow.

[2020-03-25 13:33] lengyuan opened #50878 "length"
[Enter feedback here]

I saw the document mentioned
"This REST API is ideal for content providers that need to synthesize audio from text greater than 5,000 character (or more than 10 minutes in length)."

If I use SSML, will SSML tags be counted as characters?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b69f7aec-e7

[2020-03-25 13:36] IEvangelist commented on #49992
Hi @JonathanPalmerGD,
Perfect, this is very helpful -- thank you. We're going to close this issue as we're tracking the effort internally to address this feedback. Thanks again.

#please-close

[2020-03-25 13:36] #49992 closed

[2020-03-25 13:38] allanmoller opened #50879 "Premium Elastic plan, functionTimeout don't exceed 1hour"
Hey, running an Azure function on an Elastic Premium plan, i have testet setting the functionTimeout to 3 hours, but it still time out, after 1 hour, anyone have any idea?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06436739-8586-23b1-6b69-1960e93c26be
* Version Independent ID: 8f7abfae-cf6d-56cb-1d20-f02041a6f6d9
*

[2020-03-25 13:38] ciufudean opened #50880 "Alternatives include this very solution"
Alternatives on this page includes "Data Collector API in Azure Monitor Logs". Isn't this exactly what this page is about?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1295e1b3-5aed-3aee-4331-8b81e7a7e544
* Version Independent ID: 3c00a5ee-7093-1e8b-9004-8fed3f82960e
* Content: [Azure Monitor HTTP Data Collector API

[2020-03-25 13:39] jopinidentity commented on #13086
Hi everyone,

Sorry but what type of trust do we need? One Way, 2 Way?

To me the document is not clear enough. And also for some of our customers.

Thank you!

[2020-03-25 13:42] ystrte commented on #33494
@brendanfoxen  do you have a working example? I tried your command:

`az rest --method post --uri https://graph.microsoft.com/beta/users/$user/appRoleAssignments --body "{"appRoleId": "$appRoleId","principalId": "$user","resourceId": "$spObjectId"}" --headers "Content-Type=application`

`az: error: unrecognized arguments: appRoleId: ***,principalId: ***,resourceId: ***`

[2020-03-25 13:44] przemos opened #50881 "Audience field is not compliant in accessTokenVersion 2"
Version 1 is not OpenID Connect compliant as its **iss** claim does not point to the same place as OIDC "issuer" property in metadata document.
However, it correctly transfers requested scope i.e. unique across tenant APP URI ID e.g. https://myappid.com gets translated into **the same** value in **aud** claim of the token.

This is great as you can send out spec to the application creator that tru

[2020-03-25 13:52] genlin commented on #50742
@RaphaelFrancisco Thanks for pointing out the problem. The limitation for both OS and data VHD is 2 TB. I will correct the information in the article.

#please-close

[2020-03-25 13:52] #50742 closed

[2020-03-25 13:53] dirkslab commented on #39518
Any where we can follow progress on this request? Also noticed secret keys not masked in Kudu.

[2020-03-25 13:54] genlin commented on #50742
@RaphaelFrancisco Thanks for pointing out the problem. The limitation for both OS and data VHD is 2 TB. I will correct the information in the article.

#please-close

[2020-03-25 13:54] genlin commented on #50742
@RaphaelFrancisco Thanks for pointing out the problem. The limitation for both OS and data VHD is 2 TB. I will correct the information in the article.

#please-close

[2020-03-25 14:02] mumian commented on #50399
@amergey - thank you for the information.

[2020-03-25 14:05] GuidoNeele commented on #48727
The Tags view in the Azure Notification Hub blade isn't the same as tagging registrations. The Tags in the Azure blade is for categorizing Azure resources and is available on any Azure resource including Notifications Hub. The tags tided to a registration aren't visible in the Notification Hub. I wish they were.

[2020-03-25 14:14] Sdelausnay commented on #48467
@asergaz Thanks for the clear explanation how everything is used.

Just one additional question: in the documents you provided, it stated that you need to "Reprovision the device" where the first method indicates to handle a "unauthorized" error. I can see how you can do this when building a device but how do you perform this if you are using the IoT Edge Runtime? Do you need to develop a new modu

[2020-03-25 14:15] softwarecraft commented on #16579
This issue should be re-opened.

This answer is wrong in two respects:

1) Yes it can be done programmatically, Azure Portal retrieves the User Source property via REST API

https://main.iam.ad.ext.azure.com/api/Users?searchText=something&top=25&orderByThumbnails=false&maxThumbnailCount=999&filterValue=All&state=All&adminUnit=&searchByObjectId=false

returns JSON payload that includes the Source a

[2020-03-25 14:17] Erick-Farias opened #50883 "New-AzVM : Required parameter 'storageProfile' is missing (null)."
Getting allocation issue on my Availability set so I use the script on that page to migrate to a new one.
Below is the full script that I run and in the end got error on the part of creating the VM, please how can I fix that , I have the VM deleted at the moment and don't know much Powershell to know what can be done to fix. :)

-=-=-=-=-=-=-=-
PS C:\Windows\system32&gt; # Set variables
&gt;&gt;

[2020-03-25 14:19] DCtheGeek commented on #50840
In Azure Blueprints, a Deny Assignment sets **Principals[i].Type** to _SystemDefined (Everyone)_, then you use **excludedPrincipals** to create exceptions. There's currently no way to only apply it to certain individuals. If you feel this is a necessary feature, please post it on [UserVoice](https://feedback.azure.com/forums/915958-azure-governance?category_id=345058) along with business use case

[2020-03-25 14:28] o-l-a-v opened #50884 "Disable getting alerted when a metric alert is marked as resolved by Azure?"
Metric alerts also generate an alert, for us an email, when metric alert is resolved/ threshold is not met anymore.

Is there any way to disable getting these alerts? For Automation Account runbooks for instance, it makes no sense getting a "resolved" alert as the runbook/ job that failed still failed while future runbooks/ jobs might not.

---
#### Document Details

⚠ *Do not edit this section. I

[2020-03-25 14:33] AshokPeddakotla-MSFT commented on #50650
@mxxmusic In the Azure IoT Edge tutorials, you build a deployment manifest by going through a wizard in the Azure IoT Edge portal. You can also apply a deployment manifest programmatically using REST or the IoT Hub Service SDK. For more information, see [Understand IoT Edge deployments](https://docs.microsoft.com/en-us/azure/iot-edge/module-deployment-monitoring).

Please check how to [Create a de

[2020-03-25 14:44] erotavlas commented on #49705
Yes I am building the image from a Windows 10 machine.

How do I create an image on Azure?  I tried creating a virtual machine for Windows Server 2019 Datacenter but I cannot install Docker on it.  When I tried it says 'Docker Desktop requires Windows 10 Pro or Enterprise version 15063 to run.'

How did you create your imsge?

[2020-03-25 14:46] NavtejSaini-MSFT commented on #50856
@MedAnd We are checking this and will get back to you.

[2020-03-25 14:46] jpduffield opened #50886 "Links in Script Explanation do not match script"
The sample script uses New-AzStorageContext and Start-AzStorageBlobCopy, but the Script Explanation section links to New-AzureStorageContext and Start-AzureStorageBlobCopy. It looks like the script was updated, but the doc links weren't.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07bf8ea7-91db-de43-acf1-af16543971f

[2020-03-25 14:48] NavtejSaini-MSFT commented on #50865
@jeroenwo We are checking this and will get back to you.

[2020-03-25 15:01] LouanDuToitS3 commented on #50497
It helps a lot thank you!

[2020-03-25 15:03] mrbullwinkle commented on #29917
adding @lzchen for comment.

[2020-03-25 15:04] harelbr commented on #50884
Hi @o-l-a-v
You can leverage [Action Rules](https://docs.microsoft.com/azure/azure-monitor/platform/alerts-action-rules) to suppress notifications when alerts are resolved. Simply set the relevant scope (which can be a specific resource, a resource group or even a subscription) and a filter for "Monitor Condition" equals "Resolved".

[2020-03-25 15:09] tjav opened #50887 "az deployment group create"
hi,
_az group deployment  create_ works for me, _az deployment group create_ not. Is this a version thing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0aca150-4747-7670-f465-7439aecc40e5
* Version Independent ID: f836844c-0089-1477-57af-43a76181e5d6
* Content: [Deploy resources with Azure CLI and template - Azure R

[2020-03-25 15:13] michaelshuck opened #50888 "Clarify required indexing for partition key, id and ttl when using custom indexing to only index certain properties"
I only want to explicitly index a few properties so I want to define a custom indexing but I am not sure if I need to include in my explicit indexing rules the partition key, id and ttl item properties?  Are these indexed by default if indexing is enabled and I use /* as the only excluded path?  Or do I need to include some, or all, of these properties in my indexing paths?

In other words what pr

[2020-03-25 15:14] LouanDuToitS3 commented on #50497
Setting the LogLevel to "Warning" does make the log quiet, but unfortunately when adding a new blob via the Python API method "upload_blob", the "error":

[2020-03-25 15:00:40.606] [error   ] [tid 149] [MetaStore.cc:1509] [GetBlobRecord] Blob not found. ContainerName:images BlobName: xxxx....

Is logged, and there does not seem to be any "create_blob" method, just "upload_blob".

[2020-03-25 15:14] mamccrea commented on #47752
Hi @dcbrown16 - yes, there is a work item to have this guidance added in the next few weeks.

I am going to close this issue for now, and will comment here when it is complete. Please reference the previously mentioned blog article in the meantime.

#please-close

[2020-03-25 15:14] #47752 closed

[2020-03-25 15:14] Jimbos10 commented on #50422
Not yet, we did work on it, but I am sure that he is very busy given the current situation.

[2020-03-25 15:30] YutongTie-MSFT commented on #50489
@rnielikki Thanks!  Will update the document to make it clear!
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-03-25 15:30] #50489 closed

[2020-03-25 15:40] IEvangelist commented on #50811
The Speech SDK is compatible with .NET Core as it supports .NET Standard 2.0.

![image](https://user-images.githubusercontent.com/7679720/77554851-969f9280-6e84-11ea-83b7-f2ba3ceb5247.png)

Likewise, the Speech SDK can be consumed by UWP applications -- thus, it could run on Windows 10 IoT core. Does this help? What exactly is confusing and how would you suggest fixing it?

[2020-03-25 15:41] tfitzmac commented on #50871
@solomson - the section called [Copy limits](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/copy-properties#copy-limits) indicates which versions support zero for copy. Are you using a recent version?

[2020-03-25 15:44] AjKundnani commented on #50729
Thanks @TravisCragg-MSFT - Will retry and confirm how it goes.

[2020-03-25 15:51] RajeshKaki commented on #50469
@jakaruna-MSFT,  If we maintain different ApplicationManifest.xml files then where to specify which Xml to pick. I do not see any element in the profile Xml. I see an option to specify the ApplicationParameters.xml file.

[2020-03-25 15:52] seb-brack opened #50891 "Remove note "Access to the NFSv4.1 feature requires whitelisting""
https://docs.microsoft.com/en-us/azure/azure-netapp-files/azure-netapp-files-faqs#what-nfs-version-does-azure-netapp-files-support

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 533a34cf-3791-0a45-f9f3-991fb4cf8eb1
* Version Independent ID: 8335006a-84b6-700d-03a4-36191da4791a
* Content: [FAQs About Azure NetApp Files]

[2020-03-25 15:56] Justien22 commented on #50658
Thank you for commenting on this issue. As I see now I was also working with the wrong stream. I was still using an RTSP stream from our program. We are currently looking if we would do the conversion to MPEG-DASH/HLS with FFMPEG or Wowza. So I let you know if we still have problems once we figured that out.

[2020-03-25 15:56] dargilco opened #50892 "Can't SAVE after creating a new command per the instructions"
In the section "Create a new Command" it says:
1. Create a new Command by selecting the + icon next to commands and give it the name TurnOn
2. Select Save
I do #1, but the "Save" button is grayed out and I cannot do #2
Darren

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7fef7486-1436-8450-275e-3a211ed90051
* Version

[2020-03-25 15:58] dargilco commented on #50892
Looks like I can only save after entering at least once sentence. So the instructions on the docs page should be updated.

[2020-03-25 15:58] Justien22 commented on #50658
@DashleenBhandari-MSFT , Thank you for commenting on this issue. As I see now I was also working with the wrong stream. I was still using an RTSP stream from our program. We are currently looking if we would do the conversion to MPEG-DASH/HLS with FFMPEG or Wowza. So I let you know if we still have problems once we figured that out.

[2020-03-25 16:00] jonwbstr opened #50893 "Wrong Quotes"
In the following line should be "Member" without fancy quotes

(user.objectId -ne null) -and (user.userType -eq “Member”)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f7a4070-1be8-5f1f-0092-68fb6b9e2305
* Version Independent ID: cd34312f-b507-affe-555e-1e0c63e7d494
* Content: [Rules for dynamic group membership - Az

[2020-03-25 16:00] valotee commented on #50583
@KranthiPakala-MSFT

I was trying to use the Odata Linked service, it connected perfectly but
was unable to create Dataset.

Regards.

*Valentine Akpowevwe*
*Software Architect.*
*OCP, MCP, MCTS, ITIL.*

On Fri, Mar 20, 2020 at 6:12 PM KranthiPakala-MSFT <notifications@github.com>
wrote:

[2020-03-25 16:01] tfitzmac commented on #50887
@tjav - thanks for this feedback. Yes, it requires version 2.2.0. We'll add that to the article.

[2020-03-25 16:02] jonwbstr opened #50894 "Delegated admin unable to create Dynamic Groups from web interface?"
Using CSP Admin account, trying to create a new dynamic group from web UI Fails. However, connecting to MSOL Service using powershell and performing the same operation is successful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24c25353-cfb3-811c-a970-2a04678eff6e
* Version Independent ID: 145d404a-f7ed-17f6-79a6-020

[2020-03-25 16:02] ketan-chawda-msft commented on #50879
@allanmoller Thank you for reaching out. Can you please share the how you are setting the functionTimeout property in your host.json file?

[2020-03-25 16:04] ketan-chawda-msft commented on #50879
@allanmoller In the Premium plan, the valid range of `functionTimeout` is from 1 second to 60 minutes, and the default value is 30 minutes.

Reference Document: https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#functiontimeout

[2020-03-25 16:06] ram-msft commented on #50855
@tnlthanzeel Thanks for the question. We are investigating the issue and will update you shortly.Could you please help with the document that you are trying.

[2020-03-25 16:09] dargilco opened #50897 "We should give a rule name and not leave it open"
In the section "Add a Completion Rule" it says:  "2. Enter the rule name". Per other examples here and in other quickstarts, please write down a rule name (as an example) that we should use.
For example in the previous section we say "1 . Create a new Command by selecting the + icon next to commands and give it the name TurnOn". So here we are giving the name TurnOn. We should do the same in all s

[2020-03-25 16:10] ram-msft commented on #50857
@codemaker Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-25 16:14] ram-msft commented on #50858
@Silthus Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-25 16:15] dargilco opened #50898 "Doc does not discuss the "Conditions" field in Completion rules"
The "Add a Completion Rule" section, there is no mentioning of the "Conditions" field. Should I skip it? If so the docs should say to not add any conditions.
Thanks,
Darren

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7fef7486-1436-8450-275e-3a211ed90051
* Version Independent ID: d1bc5898-d6db-460b-15d5-8039a91e6383

[2020-03-25 16:16] ram-msft commented on #50867
@GaelBSB Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-25 16:17] dargilco opened #50899 "Should say "send speech response" instead of "SpeechResponse""
In section "Add a Completion Rule" I see:
"a. Create a new Speech Response Action by selecting the + icon next to Actions and select SpeechResponse"
It should say "send speech response" instead of "SpeechResponse"
Thanks,
Darren

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7fef7486-1436-8450-275e-3a211ed90051
* Versi

[2020-03-25 16:18] ram-msft commented on #50859
@yvesjac Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-25 16:19] efeaimnewman commented on #50811
because when i try to run it on rasbian I get a error the it could not locate cognitiveSrvices.speech.core.dll and from googling i understood that meant i wasn't supported same error on ubuntu arm64

[2020-03-25 16:20] ram-msft commented on #50860
@lgmorand Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-25 16:21] ram-msft commented on #50861
@LeitchP Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-25 16:22] SaurabhSharma-MSFT commented on #50893
@jonwbstr Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-25 16:23] IEvangelist commented on #50811
Hi @efeaimnewman,

Have a look at [ship app](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/ship-application) doc and let me know if that helps? It talks specifically about that missing .dll.

[2020-03-25 16:23] DashleenBhandari-MSFT commented on #50683
@tbtmuse , I wanted to understand if you need any further assistance. If not, shall I proceed with the closure of the issue. Please let me know if you have any concerns.

[2020-03-25 16:25] DashleenBhandari-MSFT commented on #50658
@Justien22 , Thanks for the update. Sure you can let me know if you have any concerns. Shall I proceed with the closure of the issue for now? If you need any assistance we can reopen the issue.

[2020-03-25 16:25] tchristiani commented on #49002
#please-close

[2020-03-25 16:25] #49002 closed

[2020-03-25 16:25] jluk commented on #50558
The preview has been removed and the doc is GA as well.

[2020-03-25 16:26] ram-msft commented on #50864
@jwbliden Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-25 16:27] samgladstone opened #50900 "This page uses the legacy package"
This page uses the npm package azure-storage. According to the [details here](https://docs.microsoft.com/en-us/javascript/api/overview/azure/storage-overview?view=azure-node-latest#client-packages-2xx), this package is now legacy and @azure/storage-queue should be used instead. Could the examples be updated to point at the current package?

There are examples for the new package [available here](h

[2020-03-25 16:29] ram-msft commented on #50866
@ForBravo Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-25 16:31] dargilco opened #50901 "Missing instructions to press the "Train" button"
Nowhere does it say I need to train.

If I don't press the "Train" button, the "Test" button is disabled and I cannot do the "Try it out section"

Thanks,

Darren

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7fef7486-1436-8450-275e-3a211ed90051
* Version Independent ID: d1bc5898-d6db-460b-15d5-8039a91e6383
* Content:

[2020-03-25 16:32] ram-msft commented on #50862
@cerbusjpeg Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-25 16:33] dargilco opened #50902 "Docs should clearly say where to find the test chat panel"
In the section "Try it out" it says "Test the behavior using the Test chat panel".

I could not find the test chat panel.

Then I saw a grayed out "Test" button. I'm assuming it's behind the Test button.

The docs should clearly say how to find the test chat panel.

Thanks,

Darren

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-03-25 16:33] b-juche commented on #50891
@seb-brack -- Thanks for catching this.  We missed removing this instance!  It's now removed and the change should go live within a day.

[2020-03-25 16:36] ram-msft commented on #50870
@CealClem Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-25 16:38] phenixita commented on #50631
Oh I missed that line on the docs.
My value for the UserPrincipalName was michele.xxxxxx#EXT#@michelexxxxx.onmicrosoft.com
I think I was hitting the use case of different az ad tenant.
Thanks for the clarification team!

[2020-03-25 16:38] ram-msft commented on #50869
@samgoudie Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-25 16:41] ram-msft commented on #50892
@dargilco Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-25 16:43] ram-msft commented on #50902
@dargilco Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-03-25 16:44] markhobson opened #50903 "Azure App Service authentication is also known as 'Easy Auth'"
It would be helpful to mention that Azure App Service authentication is also known as 'Easy Auth'. This term is much easier to search the web for related information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75e17529-8b8a-1d67-f0e1-840d1d3ca990
* Version Independent ID: 265645df-ef21-4631-1744-7014b3ee681a
* Cont

[2020-03-25 16:44] ram-msft commented on #50901
@dargilco Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-03-25 16:45] lokeshkamalay opened #50904 "azure_rm.py is not found"
Links to Plugin Azure_rm.py not found.  Would be helpful if there is an instruction on installing the plugin.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2b8e92b-a339-3869-9c78-e99cb04b94ee
* Version Independent ID: f26cb51b-3a0f-ff82-1b92-03084b52fd56
* Content: [Tutorial - Configure dynamic inventories of your Az

[2020-03-25 16:45] lolekjohn opened #50905 "Issue with the Liquid Maps in Azure Logic App"
I am trying to convert a JSON from one schema to another and I am having issue in transforming the decimal data types. Whenever the decimals are transformed, it is getting rounded off up to 5 decimal places. Below mentioned is the input:

[code]

The output is coming as

[code]

The Liquid map is as below:
[code]

Why is this rounding off happening?

---
#### Document Details

⚠ *Do not edit this

[2020-03-25 16:46] ram-msft commented on #50899
@dargilco Thanks for the feedback. We will update you shortly.

[2020-03-25 16:46] markhobson opened #50906 "ASP.NET Core does not currently support Easy Auth"
There is no mention that ASP.NET Core does not currently support populating the current user when using Easy Auth. It'd be helpful to have a disclaimer here. See also: https://github.com/dotnet/aspnetcore/issues/4128

Perhaps also link to third-party implementations:
* https://github.com/MaximRouiller/MaximeRouiller.Azure.AppService.EasyAuth
* https://github.com/kirkone/KK.AspNetCore.EasyAuthAuthe

[2020-03-25 16:47] himanshusinha-msft commented on #50482
Hello @Hari1667 ,
As called out in the document which you referred ( please refer to the Azure Roles" ) and check the service principal permission .  The service principal is not having the enough permission and so you are getting this issue .

We are closing this issue for now ,  you can always re-open the issue if you think that appropriate .

[2020-03-25 16:47] #50482 closed

[2020-03-25 16:47] b-juche commented on #50891
Fixed.

#please-close

[2020-03-25 16:47] #50891 closed

[2020-03-25 16:48] ram-msft commented on #50897
@dargilco Thanks for the question. We will update you shortly.

[2020-03-25 16:49] ram-msft commented on #50898
@dargilco Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-03-25 16:50] mbialecka commented on #50497
@LouanDuToitS3 That's expected. Unfortunately we don't have any config to turn off logging this "error" at this time.

[2020-03-25 16:52] ram-msft commented on #50878
@lengyuan Thanks for the question. Can you please add more details about the question.

[2020-03-25 16:52] jluk commented on #46588
@tarba12 could you open a support ticket? The document should be correct that existing BLB clusters should continue to work. Our SRE team can take a look at your cluster to help you debug and resolve any issues.

[2020-03-25 16:58] markjbrown commented on #49491
Here are the instructions to do this.

First configure the task and specify that “Table” is the desired endpoint. Then to connect from a .Net app:

using Microsoft.WindowsAzure.Storage;
using Microsoft.WindowsAzure.Storage.Table;
using CloudTable = Microsoft.WindowsAzure.Storage.Table.CloudTable;
using CloudTableClient = Microsoft.WindowsAzure.Storage.Table.CloudTableClient;
                string

[2020-03-25 16:58] #49491 closed

[2020-03-25 16:58] dargilco opened #50907 "Section "Create Parameters" needs to be updated to match the new portal view"
(1) The portal has a "Default" field. The text above does not say what I should do with it. The screen cap does show it as empty, so I left it empty. But the table below the screen cap should mention the "Default" field and say leave it empty
(2) The portal has a "Configuration" field, but it behaves differently than described above. Please update the text to describe selection of "accept predefin

[2020-03-25 17:05] tbtmuse commented on #50683
@DashleenBhandari-MSFT, you may go ahead and close the issue as I think I have enough information to achieve what I want. Thanks again.

[2020-03-25 17:05] #50683 closed

[2020-03-25 17:10] olivergrimes opened #50908 "Unclear how to perform certificate rollover using common name"
I'm not sure I've fully understood the documentation.  I've updated a cluster to use common name instead of thumbprints.  I'm now attempting to update to a newer certificate.

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-rollover-cert-cn

I took the following steps:

- Obtained a new, later expiring, CA provided certificate, with the same common name as what is defi

[2020-03-25 17:15] smtamer opened #50909 "Super helpful"
This helped me get up and running quickly.  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee954f99-9e57-d746-e504-445acf410291
* Version Independent ID: 9008125f-1961-6b08-8b8d-afe629a7354e
* Content: [Get started with Azure IoT Hub device twins (Python)](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-

[2020-03-25 17:16] samhabaneh commented on #33674
Resolved. My issue was we had too many public ips allocated. This
deployement requires 2 public ips

On Wed, Mar 25, 2020 at 3:24 AM Fabian Faßbender <notifications@github.com>
wrote:

[2020-03-25 17:18] #50887 closed

[2020-03-25 17:24] ThomasWeiss commented on #50888
Adding @timsander1 who will address the question

[2020-03-25 17:24] JeremyTBradshaw opened #50910 "PowerShell guide for converting downloaded JSON formatted Risk Detections to CSV format (is better than just downloading CSV directly)"
When you download Risk Detections in CSV format, the CSV is very slimmed down.  When you download the JSON format, the file is very difficult to transform in Excel.  So, I'm opening this issue just to share this PowerShell snippet to get the high-fidelity CSV which is best of both worlds.

[code]
This gives you all properties, except - I've omitted CountryOrRegion from within additionalInfo, becau

[2020-03-25 17:25] Nickomang commented on #43159
Indeed, as the line above the image reads: "Reverse proxy exposes one or more endpoints on local node **for client services to use for sending requests to other services**" The illustration is showcasing the client service (service1) sending requests to other services (in this case service3). Thanks for bringing this up @ravi6456, it's always good to be taking a critical look at the illustrations

[2020-03-25 17:25] #43159 closed

[2020-03-25 17:26] efeaimnewman commented on #50811
That is for windows. does it work on linux-arm/arm64 or do i have to switch to windows-arm?

[2020-03-25 17:30] aahill commented on #50653
Thanks @homeworryfree

I've updated the link to point at the Bing visual search [tutorial](https://docs.microsoft.com/azure/cognitive-services/bing-visual-search/tutorial-visual-search-image-upload). It should be visible shortly.

#please-close

[2020-03-25 17:30] #50653 closed

[2020-03-25 17:31] briandunnington commented on #49491
@markjbrown Thanks, but those steps are for "how to connect to a Table endpoint from .NET" - I already know how to do that. The question is about the Cosmos DB emulator task in DevOps - how do you *get* the connection string for the Table endpoint? (In your sample code, you have the connection string hard-coded for the emulator when running on localhost, but the DevOps task runs the emulator in a

[2020-03-25 17:33] Roblarson opened #50911 "Consistent Limit naming"
There are tables that have Limit and some that say Maximum Limit. Need to make them consistent. Customers are not sure if they mean different things.  Customers need to know what the soft limit versus hard limit are.  We also need more APIs to enable the ability to alert across all limits.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-03-25 17:34] SaurabhSharma-MSFT commented on #50528
@scootafire Please let us know if you have any questions else we will be close this issue.

[2020-03-25 17:34] Nickomang commented on #47084
@eugen-nw After review we've decided this isn't a mainstream enough scenario to warrant calling out in the document. Thanks for your feedback as always.

#please-close

[2020-03-25 17:34] #47084 closed

[2020-03-25 17:34] timrnd commented on #16691
@JohnDelisle yes I'm enforcing client certificate authentication and then using the [exclusion paths](https://www.boredpanda.com/national-cowboy-museum-head-of-security-twitter/) to make a cert free path for the TM health probes mentioned by @j03INTHECLOUD.   In my example, I have a path for /public/health.html which is just a dumb page that returns 200.

[2020-03-25 17:35] SaurabhSharma-MSFT commented on #50574
@antonygibbs We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-25 17:35] #50574 closed

[2020-03-25 17:35] scootafire commented on #50528
I dont think your team is taking responsibilities on this issue and offering any steps or suggestions needed.

[2020-03-25 17:36] IEvangelist commented on #50811
If you're able to use Windows 10 IoT Core, I'd start there first. And package up an UWP application with the .NET SDK. Try that and let me know if that works.

[2020-03-25 17:36] SaurabhSharma-MSFT commented on #50635
@AshV We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-25 17:36] #50635 closed

[2020-03-25 17:37] j03INTHECLOUD commented on #16691
@JohnDelisle, that is what I am doing as well.

On Wed, Mar 25, 2020 at 1:35 PM Tim Benroeck <notifications@github.com>
wrote:

[2020-03-25 17:39] HarriKwok opened #50912 "Is there support for wildcard certificate end to end "passthrough" on wafv2"
So my situation is that I have a wildcard cert where the backend will route my requests based on the subdomains from the requests.
a.example.com
b.example.com
pear.example.com
apple.example.com

This totally works if I knew in advanced what these subdomains were and I have generated the listener/request routing pairs..  I'd have the end to end, the waf logs etc.

As some of these subdomains are dy

[2020-03-25 17:39] lzchen commented on #29917
@anandchugh
OpenCensus does not use the concept of `correlationId` for distributed tracing. It follows the [W3C Trace Context](https://www.w3.org/TR/trace-context/) protocol for correlation. OpenCensus automatically populates correlation information (traceId and spanId in W3C) in the span attributes. It looks like from your code sample that you want to correlate your outgoing requests using Python

[2020-03-25 17:40] Justien22 commented on #50658
That's good for me. I let you know then.

________________________________
Van: DashleenBhandari-MSFT <notifications@github.com>
verzonden: woensdag 25 maart 2020 17:25
Aan: MicrosoftDocs/azure-docs
Cc: Justien22; Mention
Onderwerp: Re: [MicrosoftDocs/azure-docs] No supported version of EME detected on this user agent (#50658)

@Justien22<https://github.com/Justien22> , Thanks for the update. Sure

[2020-03-25 17:46] CeciAc opened #50913 "Azure AD admin"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/697

@Sbou commented 8 hours ago — with docs.microsoft.com
Hello,

Is it possible to set the AD admin user or group by API or az CLI ?
If not, is it scheduled ?

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f87e092b-c331

[2020-03-25 17:49] schuettecarsten commented on #42032
There are still lots of SKUs and GUIDs missing in the list??!

[2020-03-25 17:51] yoelhor commented on #50712
Please take a look on the event timestemp claim. You can use this event date and time to track the performances of your policy.

[2020-03-25 17:53] squillace opened #50914 "Use `az aks install-client` instead of downloading kubectl directly"
Given that you're using the Azure CLI here, just download the client with `az aks install-client` to get kubectl installed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22a4b366-3eac-83f8-05bb-1302ce5c9235
* Version Independent ID: 73a9c88b-784d-2f96-becc-14e8d751834f
* Content: [Use Azure AD v2.0 in Azure Kubernetes

[2020-03-25 17:56] t-leblanc commented on #49654
@VikasPullagura-MSFT , thank you for your insights. I have further tested and this is now working as expected.

[2020-03-25 17:56] SaurabhSharma-MSFT commented on #50910
@JeremyTBradshaw Thanks for sharing the script !  I have assigned this issue to content author to investigate and update the document as appropriate.
@MarkusVi  can you please help checking if this can be added to the existing documentation.

[2020-03-25 17:57] SaurabhSharma-MSFT commented on #50894
@jonwbstr Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-25 17:58] SaurabhSharma-MSFT commented on #50874
@Ozzian Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-25 17:59] BryanTrach-MSFT commented on #50903
@markhobson Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-25 17:59] LeoLopezAtHL opened #50915 "unexpected results when jobs overlap"
I experienced some unexpected results when the job starts and the previous one had not finished yet. I have it schedule to run every 15 min and leave only 1 machine on. When the first job ran after Off-Peak hours started it made a selection on which machines to shut down and which ones to maintain on but it took longer than 15 min closing sessions and shutting servers down. After 15 min, when the

[2020-03-25 18:01] BryanTrach-MSFT commented on #50906
@markhobson Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-25 18:03] dargilco opened #50916 "Section "Add parameters to Completion rule" needs to be fixed to match the real portal"
In the section "Add parameters to Completion rule" it was not clear to me if I should be deleting the rule I crated as part of the previous quick start I did, or keep it and modify it.

Also it says "1. Add a new Condition and select Required parameter. Select both OnOff and SubjectDevice". But when I look at "New Condition" window in the portal I see 4 options. None of them are "Required paramete

[2020-03-25 18:05] ketan-chawda-msft commented on #50905
@lolekjohn Thank you for your question! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

If this issue is not related directly to the doc,  I would recommend you to create a thread on the forums- MSDN / Stackov

[2020-03-25 18:05] gundumon opened #50917 "ApiKind - GlobalDocumentDB or Sql"
The documentation for New-AzCosmosDBAccount (https://docs.microsoft.com/en-us/powershell/module/az.cosmosdb/New-AzCosmosDBAccount?view=azps-3.6.1) indicates GlobalDocumentDB, Sql, MongoDB, Gremlin, Table, Cassandra as acceptable values for ApiKind.

Is GlobalDocumentDB same as Sql? Should we not use Sql as the ApiKind. The sample code uses GlobalDocumentDB as the ApiKind.

Can someone please confi

[2020-03-25 18:06] SaurabhSharma-MSFT commented on #50664
@tsrob50 Can you provide me the set you of permissions you are trying to add to the custom role.  Based on the error message it seems the resource permissions is not supported.

[2020-03-25 18:08] CeciAc opened #50918 "Mistake Virtual Machine creation"
@MattDierick commented on [Wed Mar 25 2020](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/698)

In VM creation snippet below

storage_image_reference {
        publisher = "Canonical"
        offer     = "UbuntuServer"
        sku       = "16.04.0-LTS"
        version   = "latest"
    }

"Storage" does not exist. It must be "source"

source_image_reference {
        publisher = "Canonic

[2020-03-25 18:08] shashishailaj commented on #50465
@dcbrown16 The Security Center Log anlaytics workspaces created in PAYG subscriptions are not charged separately . The pricing is as per the type of the resource you are trying to monitor with Security center. The current resource type based pricing is as below.

![image](https://user-images.githubusercontent.com/532022/77569429-33e3e080-6ef0-11ea-8ef1-870757e5e10c.png)

Per node actually refers t

[2020-03-25 18:08] #50465 closed

[2020-03-25 18:12] markjbrown commented on #50080
I don't see any action for us here. This doc clearly states that OpenAsync() should be called once during the lifetime of the app.

[2020-03-25 18:14] shashishailaj commented on #50556
@tr-hagfjall Thank you for pointing this out . This URL has since been fixed and would not result in a 404 error. We will close this issue now . In case you have any further query, let us know. In case you have another query not related to this issue, feel free to open a new issue know and we will be happy to help .

Thank you.

[2020-03-25 18:14] #50556 closed

[2020-03-25 18:17] ojasp opened #50919 "Static IP address for the Private Link?"
I have followed the article and setup private link, however I would like to reserve the private IP assigned to the link so that we can use this IP directly to access the SQL server and there is no chance of losing it. When I try to set the IP address to static from the virtual network, I get an error that I cannot set it to static because it is linked to a private endpoint. Is there another way th

[2020-03-25 18:19] aschlick opened #50920 "partitionLowerBound cannot be "0" when partition option is PartitionOnInt"
Just got done with a support call to discover the reason my partitioning wasn't working was because I had "0" as my lower bound when partitioning by int. I believe it would be helpful to include that bit of information on this page.

Will this also prevent records with a 0 for the selected column to be omitted?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2020-03-25 18:24] CeciAc opened #50921 "Security Default - More details"
@jose-lima2011 commented on [Wed Mar 25 2020](https://github.com/MicrosoftDocs/azure-docs.pt-br/issues/585)

Hello guys, I would like more details of what policies are imposed when we enable security defaults, it is not clear what are the settings and what the impacts if I leave disabled, summing up what the focus of security defaults is only in the item identity, MFA ? If I choose to create my co

[2020-03-25 18:34] Houuse commented on #50560
@NavtejSaini-MSFT thanks for your reply , the link you've provided are informative, I think it's better to contact the support, just not that am trying to clean our db that reside on premise, while the test db reside in azure, it's not much of critic as we can just drop and recreate it, which make the case ambiguous between azure support and sqlserver support.

[2020-03-25 18:36] BharathNimmala-MSFT commented on #50904
@lokeshkamalay  Thank you for bringing this to our notice, will work on fixing the link in the document.

[2020-03-25 18:38] ali-elgabri commented on #50740
@PramodValavala-MSFT Any news? :)

[2020-03-25 18:40] himanshusinha-msft commented on #50920
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-03-25 18:44] himanshusinha-msft commented on #50875
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-03-25 18:45] mikebudzynski commented on #50554
Thanks for raising this. We'll reverse the order of the parameters in the developer portal code - you can track our progress with the GitHub issue: https://github.com/Azure/api-management-developer-portal/issues/552

ETA of deployment: second half of April.

[2020-03-25 18:46] lisaguthrie commented on #50493
@softchris - thanks for the feedback! The article is now updated.

![image](https://user-images.githubusercontent.com/26001667/77573632-331a6280-6e8e-11ea-8d6a-64c4151c385a.png)

[2020-03-25 18:46] BharathNimmala-MSFT commented on #50880
@ciufudean Thank you for bringing this to our notice, assigning this to our document author @bwren to further evaluate and do the needful.

[2020-03-25 18:46] lisaguthrie commented on #50493
#please-close

[2020-03-25 18:46] #50493 closed

[2020-03-25 18:46] MonikaReddy-MSFT commented on #50782
@darivuki - This is part of normal operating parameters for Continous Export. We do not have a latency or accuracy SLO or SLA for export and there is no way to configure the blob sizes.

I hope this answers your question. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-25 18:46] #50782 closed

[2020-03-25 18:47] pstokes1127 opened #50922 "Error when deploying additional VM in Host Pool"
The VM is created but it does not get added to the Host Pool.  Here are the error details:

{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/DeployOperations for usage details.","details":[{"code":"Conflict","message":"{\r\n \"status\": \"Failed\",\r\n \"error\": {\r\n \"code\": \"Resou

[2020-03-25 18:48] pstokes1127 commented on #50922
Here is the Raw Error:
{
  "code": "DeploymentFailed",
  "message": "At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/DeployOperations for usage details.",
  "details": [
    {
      "code": "Conflict",
      "message": "{\r\n  \"status\": \"Failed\",\r\n  \"error\": {\r\n    \"code\": \"ResourceDeploymentFailure\",\r\n

[2020-03-25 18:50] lisaguthrie commented on #50494
@softchris - thanks for the feedback! The process for validating the environment variable varies significantly depending on the shell in use, so I just added a line reminding users to do it.

![image](https://user-images.githubusercontent.com/26001667/77574036-c2c01100-6e8e-11ea-8ae8-2066b3a339c7.png)

#please-close

[2020-03-25 18:50] #50494 closed

[2020-03-25 18:54] BharathNimmala-MSFT commented on #50670
@jenkins540 Since we have not heard back from you we will now proceed to close this thread. However if there are further questions/feedback regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion. Thank you

[2020-03-25 18:54] #50670 closed

[2020-03-25 18:57] KranthiPakala-MSFT commented on #50920
@aschlick Thanks for the feedback. Could you please share the SR number related to this issue?

[2020-03-25 18:58] joshmouch opened #50923 "Error after following tutorial: AzureClassicRunAsConnection"
When I test the "ScheduledStartStop_Parent" Runbook after following this tutorial, I get the following error:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 225c9d05-83dd-b006-0025-3753f5ab25bf
* Version Independent ID: 9eecef0c-b1cb-1136-faf7-542214492096
* Content: [Start/Stop VMs during off-hours solution](h

[2020-03-25 19:00] mhopkins-msft commented on #50900
Hi @samgladstone,

Thanks for your feedback. We are currently in the process of updating all articles to the latest versions. This article is in the backlog for updating.

Thanks!
 ~ *Mark*

#please-close

[2020-03-25 19:00] #50900 closed

[2020-03-25 19:02] joshmouch commented on #50923
Setting the variable `External_EnableClassicVMs` to `False` fixed this.

[2020-03-25 19:02] #50923 closed

[2020-03-25 19:04] dargilco opened #50924 "Missing instructions to press the "Train" button"
This should come before the "Try it out sections", otherwise the chat panel will not be available.
Thanks,
Darren

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 172ca5fe-18be-3fa8-38e8-b72461192abc
* Version Independent ID: f6f45c1b-9cf9-986a-01ad-5b2d73992911
* Content: [Quickstart: Create a Custom Command with Parame

[2020-03-25 19:05] KranthiPakala-MSFT commented on #50506
@pygna84 Hope the above information helps. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you.

[2020-03-25 19:05] #50506 closed

[2020-03-25 19:06] dargilco opened #50925 ""Open the Test chat panel" should say where to find the chat panel"
It is not clear. It should say press the "Test" button on the top right.
Thanks,
Darren

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 172ca5fe-18be-3fa8-38e8-b72461192abc
* Version Independent ID: f6f45c1b-9cf9-986a-01ad-5b2d73992911
* Content: [Quickstart: Create a Custom Command with Parameters (Preview) - Speech se

[2020-03-25 19:06] gennadiy-dubina commented on #41048
hi everybody
@PramodValavala-MSFT @jasoncoding

We have got issue with lock time and delivery counter in sessioned queue
and i can not find answer in doc

We have sessioned queue with with **max delivery count = 10** and **lock duration = 5 min**

When event handler are failed with unhanded exception (abandon is not executed)
then event will be redelivered in 1 min (even lock time is 5) and delive

[2020-03-25 19:09] JohnDelisle commented on #16691
Interesting approach!  I'll take a look at that option.  Thanks for the suggestion.

[2020-03-25 19:10] dargilco opened #50926 "Missing dash in the speech response text"
Instead of "Ok, turning {OnOff} the {SubjectDevice}"

it should say "- Ok, turning {OnOff} the {SubjectDevice}"

otherwise you get an error when you train.

Thanks,

Darren

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 172ca5fe-18be-3fa8-38e8-b72461192abc
* Version Independent ID: f6f45c1b-9cf9-986a-01ad-5b2d73992911

[2020-03-25 19:11] JohnDelisle commented on #50641
Hi @femsulu  any updates?  I'm eager to deploy my workload to Azure.  :) Thank you.

[2020-03-25 19:13] kcovert opened #50927 "Credentials question"
When I run the Android app from this page it's requiring me to hard code an account id and account key for my Azure sharing service of this same page. I don't see any such credentials by these names for my service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb0af698-4a74-9098-691f-ecbbb0419398
* Version Independent

[2020-03-25 19:15] v-kydela opened #50928 "Ambiguity about "single pool for utterances per app""
If the unlabeled utterances aren't version specific, why do you have to provide a version to delete them with the REST API?

- https://westus.dev.cognitive.microsoft.com/docs/services/5890b47c39e2bb17b84a55ff/operations/58b6f32139e2bb139ce823c9
- https://westus.dev.cognitive.microsoft.com/docs/services/luis-programmatic-apis-v3-0-preview/operations/58b6f32139e2bb139ce823c9

---
#### Document Detai

[2020-03-25 19:18] kennethvs opened #50929 "Cannot update CA policy anymore"
March 25, 2020: I created this policy a while ago as a replacement for our Baseline Policy. Today I tried to update the policy be removing someone from the exclude list and now I get the following error: "Conditional Access now supports all client apps. Saving this policy might impact existing behavior. If you do not want to change existing behavior, then update the client app selection."

Client

[2020-03-25 19:18] spottedmahn commented on #49471
Hi @mike-urnun-msft - can you re-review and re-open this?  thanks! 🙏

[2020-03-25 19:18] Karishma-Tiwari-MSFT commented on #50631
Thanks for the update. Glad that it resolved the issue.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-25 19:18] #50631 closed

[2020-03-25 19:20] dargilco opened #50930 ""Next steps" should point to the "Use Custom Commands with Custom Voice" quickstart"
It currently points to the "use custom command with the speech SDK" quick start

Thanks,
Darren

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 172ca5fe-18be-3fa8-38e8-b72461192abc
* Version Independent ID: f6f45c1b-9cf9-986a-01ad-5b2d73992911
* Content: [Quickstart: Create a Custom Command with Parameters (Preview) - S

[2020-03-25 19:27] kennethvs commented on #50929
Nevermind, did this with an account with Global Administrator rights activated via PIM. Even though the Azure AD portal stated that I was Global Administrator I had to wait for a while before I was able to safe the CA policy.

This is actually something that needs to be solved by the team... that even though you have a role activated via PIM, you sometimes have to wait a while, and there is no way

[2020-03-25 19:29] timsander1 commented on #50888
Hi @michaelshuck. If you have indexing an policy with "consistent" indexing set, we will automatically include the id and _ts fields. There's no harm, however, with explicitly including these in your indexing policy. This is a good question and I'll update this doc  to mention that.

[2020-03-25 19:29] timsander1 commented on #50888
#please-close

[2020-03-25 19:29] #50888 closed

[2020-03-25 19:35] NavtejSaini-MSFT commented on #50552
@ajlam Please check into feedback from user and help us regarding the same.

[2020-03-25 19:38] amramtamir opened #50932 "kubernetes ttl override"
Hi,
I want to change the default TTL for the kubernetes plugin which is 5 seconds to 60 for example, the only way that I have it working is if I am overwriting the entire "server" block, for example:
[code]

My question is if this is the supported way and if not, what it is?
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-03-25 19:39] msmimart commented on #48903
@mikenri - Thanks so much for this feedback. We’re updating the script to change the $tags.Add("HideApp") line to $tags += "HideApp". This change should publish today. Please let us know if this fixes your issue. If not, please let us know which hidden apps are showing up in My Apps and we’ll continue investigating.

[2020-03-25 19:40] Karishma-Tiwari-MSFT commented on #50641
@JohnDelisle Sorry for the delay.

Azure Spot VMs pricing are not constant and the pricing changes periodically. As of now, there are no established API available for the consumers to check the current pricing for Spot instances.
But you can check the pricing from Azure portal. You need to select Create New VM --> Select Region and Azure Spot to Yes --> Click on Change Size.
You can see the curren

[2020-03-25 19:42] MarileeTurscak-MSFT commented on #50921
@CeciAc
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-25 19:46] NavtejSaini-MSFT commented on #50571
@fleed The SQL Security Manager is the role you would need to assign to anyone who wants to set Server level Firewall permission. You already did that but it didnt work. Can you please
granting this role on the Resource Group containing the SQL Server

[2020-03-25 19:48] spatney opened #50933 "Are you charged for events that are unmatched by a subject filter?"
Let me explain my scenario.

- I have a storage account with 'N' number of storage containers (container 1 ... N).
- I have 'N' number of event subscriptions added to this storage account.
- Each event subscription is listening to the 'Microsoft.Storage.BlobCreated' event.
- Each event subscription has a subject filter that matches only one of the containers ( filter == /path/conatinerN)
- Each ev

[2020-03-25 19:49] NavtejSaini-MSFT commented on #50080
@markjbrown Thanks for the confirmation
@nickkarpuk Do you need any further assistance regarding this or do you have another question regarding this issue.

[2020-03-25 20:00] dargilco opened #50934 "Need to deep link into the GitHub quickstart sample. Very hard to find it otherwise."
Regarding "the complete, ready-to-compile source code used in this quickstart is available in the Speech SDK Samples under the quickstart folder"
I Opened the link and go to the quickstart folder. I see many samples there:
https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart
It is not clear where to find the quickstart for dialog APIs. We need to be more specific.

[2020-03-25 20:05] nickkarpuk commented on #50080
@NavtejSaini-MSFT
Well, I am good as I already know that OpenAsync() makes these metadata calls. But this does not seem to be described anywhere so other teams are using it to verify connectivity to Cosmos DB and at some point it fails. IMHO this needs to be clarified. Which is why I suggested writing something about the connection between OpenAsync() and these metadata calls that Azure customers

[2020-03-25 20:07] kaylakirzinger opened #50935 "App Permission - not receiving scp/scope claim when using .default scope for client creds"
I have application A which is granted global consent for scope user_impersonation for App B. App A is able to get a token (using client credentials flow) for App B using the .default scope BUT the token does not contain the scp or scope claim (or roles).
The ms library for token validation validates the existence of one of these claims - {scp, scope, roles} but since I'm unable to get one with the

[2020-03-25 20:08] kaylakirzinger commented on #50935
Additional note - this documentation addresses the fact that if we have granted scopes and consent, we should be getting these scopes in our token when using the .default scope to request. This does not seem to be occurring.

[2020-03-25 20:14] markjbrown commented on #49491
Ah got it. Yes so this is supported by the DevOps team. I would file a bug on their docs here and ask for directions on how to do this.

https://docs.microsoft.com/en-us/azure/devops/pipelines/targets/cosmos-db?view=azure-devops

Thanks.

[2020-03-25 20:16] BharathNimmala-MSFT commented on #50718
@evmimagina Thank you for reaching out to us. Hoping you are trying to execute below commands from the [documentation](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-update-metrics#upgrade-per-cluster-using-azure-cli) to upgrade a specific cluster in your subscription.

[code]
If you are using it it via Cloud Shell and already signed in and trying to to run the fi

[2020-03-25 20:19] marceardz opened #50936 "Giving only folder access to a Service Principal"
Hi,
I have an azure function that is trying to access a storage account in adls gen 2 to write blob files. I'm using a service principal to authenticate my function against the adls gen2 storage account using Azure Active Directory. I don't want to give the service principal Storage Blob Data Contributor because I just want the SP to have write access to a specific folder in the container.

I'm us

[2020-03-25 20:20] markjbrown commented on #43088
Yes, will close. This isn't a docs fix anyway but will unblock Van here offline.  --Thanks.

#please-close

[2020-03-25 20:20] #43088 closed

[2020-03-25 20:24] mcollier opened #50937 "Incorrect links for "Designing resilient applications for Azure" and "Availability checklist""
The links for "Designing resilient applications for Azure" and "Availability checklist" both direct to the same page, https://docs.microsoft.com/azure/architecture/checklist/resiliency-per-service.

I think the "Designing resilient applications for Azure" should probably direct to https://docs.microsoft.com/azure/architecture/framework/resiliency/app-design.

---
#### Document Details

⚠ *Do not e

[2020-03-25 20:30] JamesEarle commented on #50724
@asudbring Good to know, please make sure when JSON is completed (currently ends before JSON is complete, a separate issue) that the remainder is highlighted as well. Also I didn't see mention of this in the documentation being why, so hopefully that will be added. Thanks.

[2020-03-25 20:41] JohnDelisle commented on #50641
Thanks, appreciate your help.  An API is essential for Spot VMs - from an Azure customer perspective, the point is to move workloads to where costs are the lowest, and we can't do that (programatically) without an API.  I guess for now I can scrape your pages.  Thanks.

[2020-03-25 20:41] #50641 closed

[2020-03-25 20:42] marceardz opened #50938 "Container Client Credential Expiration"
Hi,
I would like to know for how long is the default azure credential, given to the container client, valid??
Does it have an expiration time??

I'm using the code snippet provided here in an azure function. This azure function will receive many requests, so I was wondering how does the credential acquisition process works and if there is the possibility of getting an internal error when asking fo

[2020-03-25 20:44] farah-alyasari commented on #43518
The authentication with Azure Maps doc and the manage authentication document now explain what the primary key is, the secondary key, and explicitly state that the subscription key is the primary key, but you can also use the secondary key if you want. This issue was also kept in mind while reviewing/writing new docs, now a bunch of other Azure Maps document explain to use the primary subscription

[2020-03-25 20:45] marceardz opened #50939 "Giving only folder access to a Service Principal"
Hi,
I have an azure function that is trying to access a storage account in adls gen 2 to write blob files. I'm using a service principal to authenticate my function against the adls gen2 storage account using Azure Active Directory. I don't want to give the service principal Storage Blob Data Contributor because I just want the SP to have write access to a specific folder in the container.

I'm us

[2020-03-25 20:56] spelluru commented on #49644
This article has been updated recently.

#please-close

[2020-03-25 20:56] #49644 closed

[2020-03-25 20:58] v-kydela opened #50940 "How do we use the "delete unlabeled utterances" API?"
In both v2 and v3, there is only "delete unlabeled utterance" (singular) and it requires the specific text of the utterance to be specified:

- https://westus.dev.cognitive.microsoft.com/docs/services/5890b47c39e2bb17b84a55ff/operations/58b6f32139e2bb139ce823c9/console
- https://westus.dev.cognitive.microsoft.com/docs/services/luis-programmatic-apis-v3-0-preview/operations/58b6f32139e2bb139ce823c9

[2020-03-25 21:00] lisaguthrie commented on #50525
@softchris - the tutorial itself actually contains everything you need to know about Secret Manager in order to complete the tutorial itself. I've updated it to make clear that the link out to the Secret Manager article is purely informational, for anyone wanting to know more about it.

![image](https://user-images.githubusercontent.com/26001667/77585006-058ae480-6ea1-11ea-99c8-ddb121ea8c90.png)

[2020-03-25 21:00] #50525 closed

[2020-03-25 21:01] KranthiPakala-MSFT commented on #50395
@Siby22071989 I have verified with internal engineering team and confirmed that we don't have plans at the moment to move Shopify from preview to GA. But we recommend you to please follow/subscribe to [Azure Data Factory updates](https://azure.microsoft.com/updates/?product=data-factory)  to know about the latest updates, roadmap, announcements related Azure Data Factory.

Also we would like to kn

[2020-03-25 21:03] lisaguthrie commented on #50533
@softchris - the tutorial itself actually contains everything you need to know about Secret Manager in order to complete the tutorial itself. I've updated it to make clear that the link out to the Secret Manager article is purely informational, for anyone wanting to know more about it.

![image](https://user-images.githubusercontent.com/26001667/77585006-058ae480-6ea1-11ea-99c8-ddb121ea8c90.png)

[2020-03-25 21:03] #50533 closed

[2020-03-25 21:05] JohnGalt1717 opened #50941 "The helm install command doesn't work"
helm install -f &lt;helm-config.yaml&gt; application-gateway-kubernetes-ingress/ingress-azure --generate-name

this results in:

Error: unable to build kubernetes objects from release manifest: [unable to recognize "": no matches for kind "Deployment" in version "apps/v1beta2", unable to recognize "": no matches for kind "AzureIdentity" in version "aadpodidentity.k8s.io/v1", unable to recognize ""

[2020-03-25 21:05] turb0chrg opened #50942 "Max uncached disk throughput"
Table is missing the disk uncached throughput and IOPS as all other VM sizes have. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ab91be7-f262-4258-aa73-64a35e3d9ae4
* Version Independent ID: 93dc517e-720e-60bd-57b9-63a374d62a1f
* Content: [NVv4-series - Azure Virtual Machines - Azure Virtual Machines](https:/

[2020-03-25 21:06] lisaguthrie commented on #50534
@softchris - thanks for your feedback! I've updated the document text.

![image](https://user-images.githubusercontent.com/26001667/77585477-cf019980-6ea1-11ea-9136-547b087a64ea.png)

[2020-03-25 21:07] cnadler-MSFT opened #50943 "Remove security investigate pic/verbiage"
This functionality is no longer available in ASC as it's moved to Sentinel

https://docs.microsoft.com/en-us/azure/security-center/security-center-features-retirement-july2019#security-alerts-investigation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05da473f-3b1d-8b8b-ea7a-68d0e7e62c31
* Version Independent ID: e5e4

[2020-03-25 21:10] TomArcherMsft commented on #50904
@lokeshkamalay  What version of Ansible are you using?

[2020-03-25 21:17] farah-alyasari commented on #25751
#reassign:rbrundritt

[2020-03-25 21:21] sauryadas commented on #50914
Thanks @mlearned will update once he verifies that install-client installs 1.18 kubectl which is a requirement

[2020-03-25 21:27] Grace-MacJones-MSFT commented on #50809
Hi @mblanco77 thanks for the feedback.  I hope Eric's comment was able to bring some clarity to your question.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-25 21:27] #50809 closed

[2020-03-25 21:28] markjbrown commented on #50917
For now use GlobalDocumentDB for SQL API.

We will be shifting to sql for this value and deprecating GlobalDocumentDB.

Please note this release is in preview and we are planning to making changes to the cmdlet interfaces before we go GA. If you require formally supported PS cmdlets please refer to this article below which uses the New/Set-AzResource cmdlets to manage Cosmos resources.
https://doc

[2020-03-25 21:28] #50917 closed

[2020-03-25 21:30] SaurabhSharma-MSFT commented on #50581
@kelemvor33 Did you get a chance to share the details over email.

[2020-03-25 21:31] NavtejSaini-MSFT commented on #50865
@jeroenwo Please check the link https://docs.microsoft.com/en-us/azure/sql-database/sql-database-firewall-configure which explains the difference between the two rules.
Please do get back to us for any questions.
Hope this helps.

[2020-03-25 21:32] farah-alyasari commented on #43518
#reassign: mike-urnun-msft

[2020-03-25 21:36] NavtejSaini-MSFT commented on #50560
@Houuse Please do leave your feedback on https://feedback.azure.com/forums/217535-sql-data-sync , the product team monitors these feedbacks and will look into this further.

[2020-03-25 21:36] YutongTie-MSFT commented on #50907
@dargilco
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-25 21:41] mrbullwinkle commented on #48268
The fix has been merged internally:

[code]
It will go-live during the next update window. `Context.Properties` are considered obsolete in the latest version of the SDK. We recommend using `GlobalProperties` for global level properties and `ISupportProperties` for item level properties.

[2020-03-25 21:42] mrbullwinkle commented on #48268
#sign-off

[2020-03-25 21:42] MashaMSFT commented on #27485
Hi @benmiller86, thanks for contacting Microsoft! Actually, restoring long-term retention backups to a different server is not supported via the portal. This can only done using PowerShell. Additionally, point in time restore backups in the same region are only supported on the same server.

I hope that helps and please let us know if we can be of further assistance.

Thanks again!
Masha from the

[2020-03-25 21:42] mrbullwinkle commented on #48268
#please-close

[2020-03-25 21:42] NavtejSaini-MSFT commented on #50856
@SnehaGunda The links in the https://docs.microsoft.com/en-us/azure/cosmos-db/create-website#CreateDB section which points to https://portalcontent.blob.core.windows.net/samples/DocDBWebsiteTodo.json is not working.
Please check and help us change the same.
@MedAnd  We have assigned this to our doc author for checking and correcting this.

[2020-03-25 21:42] #48268 closed

[2020-03-25 21:43] HarriKwok commented on #50912
Never mind, just changed it into a basic listener and let the the cert do it's work

[2020-03-25 21:43] #50912 closed

[2020-03-25 21:43] knuthalvor commented on #50612
hi @femsulu. See attached picture. Looking at Metrics under AI, referencing to this documentation: https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-charts#change-colors-of-chart-lines
![Merknad 2020-03-25 224118](https://user-images.githubusercontent.com/25979569/77588321-ea909280-6ee9-11ea-9683-dc581ce4a400.png)

[2020-03-25 21:48] NavtejSaini-MSFT commented on #50913
@CeciAc We are checking this and will get back to you.

[2020-03-25 21:50] lokeshkamalay commented on #50904
@TomArcherMsft The Following are the details.

[code]

I'm able to add the dynamic inventory from CloudShell but not from a machine that is running from same Resource Group and same subnet.  Am I missing anything here?

[code]

my Config file:
[code]
Not sure why I'm getting the error

[2020-03-25 21:51] TomArcherMsft commented on #50904
@lokeshkamalay The engineering team and I are tracking this down now.

[2020-03-25 21:52] xtianus79 opened #50945 "The instructions need updating to new versions of truffle as these instructions don't work any longer"
Please update

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a001b81-9481-749c-534f-b2dd8f7e429a
* Version Independent ID: 765d557a-b80e-bffb-fab3-c9a6eeed0e73
* Content: [Use Truffle to connect to Azure Blockchain Service - Azure Blockchain](https://docs.microsoft.com/en-us/azure/blockchain/service/connect-truffle)
*

[2020-03-25 21:56] dargilco opened #50946 "Fixes needed to the "Fulfill with JSON payload" section"
In section "Fulfill with JSON payload", the Condition "RequiredParameters" does not exist in the Custom Command portal. I see 4 types listed under "New Conditions". None of them is "RequiredParameters". I believe it should say "Updated parameters" instead of "RequiredParameters".

Also, the action is called "Send activity to client", not "SendActivity".

Thanks,

Darren

---
#### Document Details

[2020-03-25 21:59] dargilco opened #50948 "Need a deep link into the relevant GitHub quickstart sample, in the section "Optional: Get started fast""
Similar to issue https://github.com/MicrosoftDocs/azure-docs/issues/50934

Thanks

Darren

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bfd0ea4-521e-ea49-3ec7-f2c8521f8bf4
* Version Independent ID: 9670af70-fbf6-6b6f-6cc8-d1c68e1b1e71
* Content: [How to fulfill commands from a client with the Speech SDK - Azure Cogni

[2020-03-25 22:03] dargilco opened #50949 "Missing instructions to press "Train" and "Publish""
At the end of section "Fulfill with JSON payload" users should be told to press the "Train" and then "Publish".

Note: why do I need to retrain if nothing changed in the language model?

Thanks,

Darren

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bfd0ea4-521e-ea49-3ec7-f2c8521f8bf4
* Version Independent ID: 9670af7

[2020-03-25 22:07] MartinJaffer-MSFT commented on #50520
Thank you for sharing the additional details, @TjommeVergauwen .  I am actively looking into the issue and hope to get back to you soon.

[2020-03-25 22:10] BharathNimmala-MSFT commented on #50911
@Roblarson Thank you for your feedback , i have assigned this issue to our document author @tfitzmac to further evaluate the feedback and update the document accordingly.

[2020-03-25 22:12] femsulu commented on #50633
Hi @jzhouw - Now closing this issue as we haven't heard back but please don't hesitate to respond if you still have an issue with any Azure documentation. We will be happy to engage further. If you need technical support for Azure-branded services, please check out the [MSDN technical Forums](https://social.msdn.microsoft.com/Forums/en-US/home) and select the appropriate Azure service to post your

[2020-03-25 22:12] #50633 closed

[2020-03-25 22:13] BharathNimmala-MSFT commented on #50923
@joshmouch Thank you for sharing the fix to help broader community members.

[2020-03-25 22:15] NavtejSaini-MSFT commented on #50913
@CeciAc The feature is still in Public Preview and there is no schedule for the CLI or API support that we are aware of. We advise to post the feedback/feature request on the https://feedback.azure.com/forums/597976-azure-database-for-postgresql and Product Group has direct insight into the same and will help regarding the schedule if any.

[2020-03-25 22:43] Chai-NED opened #50952 "Storage Account ingress limit"
This page indicates 20 Gbps for ingress, but It should be  50Gbps per https://azure.microsoft.com/en-in/blog/announcing-larger-higher-scale-storage-accounts/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36f49a06-90b1-cbe1-3853-2c38277b79f8
* Version Independent ID: 02ff6f6c-3ef6-b48f-060d-b290419e0aba
* Content: [Azu

[2020-03-25 22:45] jeevansd commented on #50528
@scootafire we need to discuss this issue in live meeting. So can you please send the details on the above email thread and then we can help you here. We would like to help you here. It is just not possible to guess what is happening. I suggest you can try uninstall the plugin and reinstall it. Then try uploading the XML again. This might solve the issue. Otherwise please send the details on the a

[2020-03-25 22:51] jayallen opened #50953 "Markdown not rendered"
In the following passage you have unrendered Markdown:

&gt; The implicit grant presents more risks than other grants, and the areas you need to pay attention to are well documented (for example, [Misuse of Access Token to Impersonate Resource Owner in Implicit Flow][OAuth2-Spec-Implicit-Misuse] and [OAuth 2.0 Threat Model and Security Considerations][OAuth2-Threat-Model-And-Security-Implications]

[2020-03-25 22:54] MarileeTurscak-MSFT commented on #50929
@kennethvs thanks for letting us know!

Can you estimate how long it took for the permissions to apply? I was not able to reproduce this issue in my own tenant.

Were you trying in a new browser that hadn't logged into that tenant before? It's possible an old credential had been cached.

Either way, I'm making a note of this for the portal team to look into.

[2020-03-25 22:55] Karishma-Tiwari-MSFT commented on #50883
Can you share the Az CLI version as well as Azure PowerShell version?
To find your installed version and see if you need to update, run az --version

[2020-03-25 22:57] SaurabhSharma-MSFT commented on #50605
@DrewBino No, as per my knowledge it is not possible.

[2020-03-25 22:58] jeevansd commented on #50861
@LeitchP It is mentioned in the Step 7.a. If you follow that step you will get that exact URL from step 7.

This is the value which you should copy from Atlassian and put it into Azure AD.
![image](https://user-images.githubusercontent.com/15001780/77593420-64f0f080-6eb1-11ea-9390-d963e02759c9.png)

[2020-03-25 22:58] jeevansd commented on #50861
#please-close

[2020-03-25 22:58] #50861 closed

[2020-03-25 22:58] Karishma-Tiwari-MSFT commented on #50786
Thanks for sharing the update. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-25 22:58] #50786 closed

[2020-03-25 23:03] Karishma-Tiwari-MSFT commented on #50872
Thanks for the question. We are currently investigating and will update you shortly.

[2020-03-25 23:05] Karishma-Tiwari-MSFT commented on #50299
Thanks for the update. Can you please share the resolution for the issue, so that it can help others in future? Thanks. :)

[2020-03-25 23:05] #50299 closed

[2020-03-25 23:07] Karishma-Tiwari-MSFT commented on #50415
We will now close this issue. Please share the details when you are ready and tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-25 23:07] #50415 closed

[2020-03-25 23:10] mike-urnun-msft commented on #50873
@alexdrenea Thank you for your feedback! We will review and update as appropriate.

[2020-03-25 23:10] mrbullwinkle commented on #47206
This has been fixed and the change will go live tomorrow. Thanks again for bringing this to our attention.

[2020-03-25 23:10] Karishma-Tiwari-MSFT commented on #50642
@yoyotam Can you please share where exactly is the document missing 3 dashes. Thanks. :)

[2020-03-25 23:11] mrbullwinkle commented on #47206
#sign-off

[2020-03-25 23:11] SaurabhSharma-MSFT commented on #50703
@Niclas1976 If you want to block the user sign in then you have to put "Yes" and If you do not want to block the user then you have to put a "No".

[2020-03-25 23:13] mike-urnun-msft commented on #50881
@przemos Thank you for sharing your feedback! Since this channel is for driving improvements towards MS Docs, could you provide us with a specific URL of the MS Doc that your feedback is most applicable to? That way, we're able to connect you with the right team that's best fit to address your feedback.

[2020-03-25 23:14] dotnetgator commented on #50543
Hi @yoelhor - any update on this topic? Just at a point where it would be useful to fill in the gaps on this (but understandable if it isn't something you've had time to get to, or have not heard a response from others...unusual times...)

[2020-03-25 23:15] mike-urnun-msft commented on #50918
@MattDierick Thank you for your feedback! We will review and update as appropriate.

[2020-03-25 23:16] mike-urnun-msft commented on #50919
@ojasp Thank you for your feedback! We will review and update as appropriate.

[2020-03-25 23:17] mike-urnun-msft commented on #50886
@jpduffield Thank you for your feedback! We will review and update as appropriate.

[2020-03-25 23:18] mrbullwinkle commented on #47206
#please-close

[2020-03-25 23:18] #47206 closed

[2020-03-25 23:22] mike-urnun-msft commented on #50908
@olivergrimes Thank you for your feedback! We will review and update as appropriate.

[2020-03-25 23:26] Karishma-Tiwari-MSFT commented on #50645
I have created a PR with the update, changes will be live shortly.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-25 23:26] #50645 closed

[2020-03-25 23:27] MarileeTurscak-MSFT commented on #50943
@cnadler-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-25 23:28] mike-urnun-msft commented on #50909
@smtamer Glad to hear that this documentation was helpful ;)

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-25 23:28] #50909 closed

[2020-03-25 23:32] mike-urnun-msft commented on #50915
@LeoLopezAtHL Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-03-25 23:33] jayallen commented on #50953
Made a PR for it: https://github.com/MicrosoftDocs/azure-docs/pull/50954

[2020-03-25 23:37] kgremban commented on #50650
@mxxmusic The .NET SDK has some IoT Edge deployment management options. Check out the [Microsoft.Azure.Devices namespace](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.devices?view=azure-dotnet)

There's also a sample demonstrating using the SDK to provision devices, create an automatic deployment, and create a layered deployment: https://github.com/massand/azure-iot-samples-csharp/b

[2020-03-25 23:37] GiftA-MSFT commented on #50808
@likebupt can you please help clarify?

[2020-03-25 23:44] kgremban commented on #50756
@Teodelas Are you talking about information like this: https://docs.microsoft.com/azure/iot-edge/production-checklist#place-limits-on-log-size. Or is there another scenario you're talking about?

[2020-03-25 23:45] BharathNimmala-MSFT commented on #50952
@Chai-NED Thank you for your query, we will look into it and get back to you at the earliest.

[2020-03-25 23:47] GiftA-MSFT commented on #50732
The [API reference documentation](https://westus2.dev.cognitive.microsoft.com/docs/services/form-recognizer-api-v2-preview/operations/AnalyzeWithCustomForm) has a [Get Analyze Form Result](https://westus2.dev.cognitive.microsoft.com/docs/services/form-recognizer-api-v2-preview/operations/GetAnalyzeFormResult) method for obtaining this information. Thanks.

[2020-03-25 23:50] VAnjan12 opened #50956 "Location Based Conditional Access Policies vs Security Defaults"
Hello Guys,

I totally understand the idea behind Security defaults but has few questions related to protection against geo-locations using Security Defaults.

As we are handling large customers within our CSP, we have created number of Conditional access policies to secure our environment. Geo-Filtering is the main policy that we are using. We have blocked all countries to access company resource

[2020-03-25 23:51] GiftA-MSFT commented on #50842
@trrwilson please take note of the above feedback. Thanks.

[2020-03-25 23:51] #50842 closed

[2020-03-25 23:51] TomArcherMsft commented on #50904
@lokeshkamalay

The azure_rm.py is now explained here: https://docs.ansible.com/ansible/latest/plugins/inventory/azure_rm.html

For 2.9, the link is now here: https://github.com/ansible/ansible/blob/stable-2.9/contrib/inventory/azure_rm.py

I'm still researching other related issues (such as the location of the file for < 2.8 ). I'll update the article as soon as we figure that out.

[2020-03-25 23:52] brent-robinson commented on #50463
@rohitnayakmsft - This IP is showing in TCPView while trying to diagnose connectivity failures. We see it stuck in a state of SYN_SENT.

![image](https://user-images.githubusercontent.com/6666613/77596296-c10a5200-6f4f-11ea-8712-59e397ec6699.png)

Today we hit this again for a different Azure SQL Server in the Australia East region. This time, we saw requests to 40.79.169.0. Adding this to out out

[2020-03-25 23:54] MartinJaffer-MSFT commented on #50520
@TjommeVergauwen I have reproduced your issue and will escalate internally.
When I hear back I will let you know.  Until then, I think I found a work-around.  It is possible to flatten items & genres, or items & images in the same step.
![image](https://user-images.githubusercontent.com/46612670/77595995-ff543280-6eb7-11ea-8b1a-3ae7f6b65c4f.png)
In the above screenshot I show the results of flatte

[2020-03-25 23:55] floriangrousset opened #50957 "Dockerfile update"
It seems the the docker image referenced in the Dockerfile provided is obsolete:
FROM microsoft/service-fabric-onebox

It should now be:
FROM mcr.microsoft.com/service-fabric/onebox:latest

By the way, the current options for Mac are the latest onbox docker image which is 6.5.435.1. When would the 7.x be available? I'd be keen to use it along with the 9.0.0 sfctl (saw the compatibility chart here

[2020-03-25 23:59] BharathNimmala-MSFT commented on #50443
@lunar87  Hope the above information helps. At this point it appears that there's no further edits or updates needed to the documentation. However if you have further feedback to enhance the document please let us know. We will go ahead and close this issue,  if you have any further queries please tag us in your reply and will be happy to reopen the thread and continue the conversation. Thank you

[2020-03-25 23:59] #50443 closed

[2020-03-25 23:59] xtianus79 commented on #36031
@pataltimore this is still an issue, along with many other things *eyes*, in 2020 lol

[2020-03-26 00:03] BharathNimmala-MSFT commented on #50817
@arunsingh2009 Since we have not heard back from you we will now proceed to close this thread. However if there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion. Thank you.

[2020-03-26 00:03] #50817 closed

[2020-03-26 00:04] kgremban commented on #49722
@ssljivar You're correct that the error you encountered was because of host vs target architecture. @czgtest Provided some recommendations, including following this blob post to use an SSH connection to build module images on a remote host: https://devblogs.microsoft.com/iotdev/easily-build-and-debug-iot-edge-modules-on-your-remote-device-with-azure-iot-edge-for-vs-code-1-9-0/

I will update the t

[2020-03-26 00:08] rboucher commented on #45647
Just doing another run and update on this doc. I'm using the same API as you
I think. Microsoft.DocumentDb/databaseAccounts | DeleteVirtualNetwork still doesn't show up.   I'm not seeing the others either.   Using this?   https://management.azure.com/PROVIDERS?api-version=2018-01-01

[2020-03-26 00:08] rtaylor72 opened #50958 "$condition set, but never used..."
In your example $condition is set, but never used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a4bd931-ba29-d16b-6f08-fc21f3d281ce
* Version Independent ID: 25a8ef46-66b5-da34-2329-1be12ccfd720
* Content: [Rewrite HTTP headers in Azure Application Gateway](https://docs.microsoft.com/en-us/azure/application-gateway/

[2020-03-26 00:11] Mike-Ubezzi-MSFT commented on #16997
This is being investigated but please ensure you are using the 3.6 endpoint (*.mongo.cosmos.azure.com) and not the Mongo 3.2 endpoint (*. documents.azure.com).

[2020-03-26 00:15] xtianus79 opened #50959 "This page may be obsolete and should either be updated and or abandoned in favor of the development kit"
this is not helpful towards doing a more manual interaction with truffle to test and write contracts outside of azure until there is deployment.  I feel like this should be rethought so there is a process that can work with an azure blockchain service still bound by local development.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-03-26 00:15] LeitchP commented on #50861
Thank you. Please update the documentation at step 4 that the details will be provided in step 7.  How can I do step 4 when information is provided at step 7?  But thank you very much for the information.

[2020-03-26 00:17] antonGritsenko opened #50960 "Are Graph extensions still maintained?"
Hello

I did check the https://github.com/Azure/azure-functions-microsoftgraph-extension repo, and looks like it dead. Are still maintain those extensions or we have to migrate to our own implementation?
There are several critical bugs and waiting pull requests active, but even no reply.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-03-26 00:23] aaronwjha commented on #32165
@BryanTrach-MSFT Any updates on this? I have a chart that depends on subcharts in a ACR repo. I can't seem to find a URL for the chart that works when calling helm dep update. I'm using Helm v3.1.2.

[2020-03-26 00:29] DevonAleshire opened #50961 "features is a required field in 2.0 provider"
Working through content and received: `Error: "features": required field is not set`.

Update the tf to include azurerm provider with blank features field

[code]

[Stackoverflow](https://stackoverflow.com/questions/60384689/terraform-azurerm-2-x-error-features-required-field-is-not-set)
[Terraform](https://github.com/terraform-providers/terraform-provider-azurerm/issues/5867)

---
#### Document D

[2020-03-26 00:31] sollender opened #50962 "Download VPN Configuration file issue"
When I attempt to Download the VPN Configuration file, I see the following error:
"There was an error provisioning the resource group 'microsoft-network-centralus'.
Additional details from the underlying API that might be helpful: The client 'username@itxyz.onmicrosoft.com' with object id '0e0f7ad1-6413-482d-bc72-0ca5393dd6ee' does not have authorization to perform action 'Microsoft.Resources/subs

[2020-03-26 00:37] mrbullwinkle commented on #50209
It looks like the AppService doc was updated by @Mikhail-msft on 02/202 to provide guidance on connection strings.

@Mikhail-msft just wanted to confirm that in the case of App Services only a connection string is required and that also explicitly setting the ikey would not be needed in this case?

[2020-03-26 00:37] dargilco opened #50963 "Value for rule "Conditions" is missing"
In section "Create a SetAlarm command", bullet 5 - "Add a Completion rule to confirm result" a row in the table is missing, to specify the value of the rule "Conditions"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dec17507-656e-5016-ff56-905735464df0
* Version Independent ID: 767f13d2-48cf-d6f9-57a1-2f7230b42b5f
* C

[2020-03-26 00:40] Erick-Farias commented on #50883
Hi,
Az version 3.6.1

[2020-03-26 00:42] mrbullwinkle commented on #50262
Going to close this issue out since any version greater than or equal to is supported as indicated by Cijo and the nuget package page.

[2020-03-26 00:42] mrbullwinkle commented on #50262
#please-close

[2020-03-26 00:42] #50262 closed

[2020-03-26 00:45] dargilco opened #50964 "This instructions do not match what I see in the Custom Commands portal"
For example, I don't see "State after execution" as part of completion rule. Seems like the portal has a new thing called "Interaction rules" and we should be using that one here. Please update the instructions here.
Thanks,
Darren

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fed369da-47d1-3c61-477a-f5fcd6a10881
* Ve

[2020-03-26 00:51] asergaz commented on #43518
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-26 00:51] #43518 closed

[2020-03-26 00:58] femsulu commented on #50612
Hi @vgorbenko , I am able to repro this issue and not able to change chart color as indicated here.
Has this feature been removed?

[2020-03-26 01:07] dsindona commented on #43121
#please-close

[2020-03-26 01:07] #43121 closed

[2020-03-26 01:10] dsindona commented on #44329
@santhoshbomma9 please contact me if you are still looking for the business explanation and I will see what I can find out for you. I am going to close this issue in the meantime.

[2020-03-26 01:10] dsindona commented on #44329
#please-close

[2020-03-26 01:10] #44329 closed

[2020-03-26 01:11] dsindona commented on #45877
#reassign:dsindona

[2020-03-26 01:12] dsindona commented on #50127
#reassign:dsindona

[2020-03-26 01:13] dsindona commented on #38530
#reassign:dsindona

[2020-03-26 01:15] dsindona commented on #46813
#reassign:dsindona

[2020-03-26 01:15] dsindona commented on #48612
#reassign:dsindona

[2020-03-26 01:16] dsindona commented on #49202
#reassign:dsindona

[2020-03-26 01:16] dsindona commented on #44173
#reassign:dsindona

[2020-03-26 01:16] dsindona commented on #45130
#reassign:dsindona

[2020-03-26 01:16] dsindona commented on #45267
#reassign:dsindona

[2020-03-26 01:21] SamGforce opened #50965 "missing steps"
under capture image step, seems like something was left to the user's imagination. I think the step to capture is actually not there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe2439bd-0a93-c9f8-93a3-64ec0ff4f114
* Version Independent ID: 57b6c8a1-c4ab-435b-eacd-362909531e33
* Content: [Configure the Microsoft Azu

[2020-03-26 01:31] dsindona commented on #45947
#reassign:dsindona

[2020-03-26 01:38] asergaz commented on #50945
Thank you for your feedback @xtianus79 .

Could you please let us know the output of `truffle version` as well as the error you are seeing?

I have assigned the issue to the content author @PatAltimore  to evaluate and update as appropriate.

[2020-03-26 01:45] jackvdbuk opened #50967 "product usage - Suitable for Exchange ActiveSync On prem?"
Hi There,

I'm curious as to the use cases also, would this be suitable and functional to provide Exchange ActiveSync On prem access? We will then integrate with Azure WAF when working etc.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbadca96-7341-36d0-8a38-1c6a5c96b22d
* Version Independent ID: 2fad91dc-25f

[2020-03-26 01:45] dpapkin opened #50968 "Prerequisites #2 needs to be updated"
Hello,

Please update this.

Under creating a Webapp, #2 needs more info. For example Publish and  Runtime Stack

As this Quickstart is a practice exercise in current MS courses such as AZ-300, needs to be updated ASAP

David Papkin
MCT

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0880a27b-9437-31a1-ebec-1a892a207b3d

[2020-03-26 01:48] asergaz commented on #50959
Thank you for your feedback @xtianus79 .
I will let @PatAltimore share any future changes planned to this doc, though please understand that the Azure Blockchain Development Kit is a Visual Studio Code extension that allows developers to leverage familiar tools like Truffle Suite to build smart contracts whether the intention of this Quickstart is to use Truffle alone to connect to an Azure Blockc

[2020-03-26 01:52] AnthonyPuca commented on #50757
Actually it does not, I can repo the issue easily, the latest AZCopy does not take the commands as posted. If you change COPY to CP, it works.

From: VikasPullagura-MSFT <notifications@github.com>
Sent: Monday, March 23, 2020 11:39 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Anthony Puca <Anthony.Puca@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Micros

[2020-03-26 02:01] KrishnaG-MSFT commented on #50965
@SamGforce Thanks for the feedback.
Assigning @dsindona for visibility, review and document enhancement consideration as appropriate.

[2020-03-26 02:02] KrishnaG-MSFT commented on #50629
Verified and updated the document as required. Thanks.

[2020-03-26 02:02] #50629 closed

[2020-03-26 02:06] KrishnaG-MSFT commented on #50655
Assigning content owner @adamabmsft for visibility, review and document enhancement consideration as appropriate and/or to provide related insights if any.

[2020-03-26 02:11] SubhashVasarapu-MSFT commented on #50941
@JohnGalt1717 , We are looking into this query and will update you as soon as possible.

[2020-03-26 02:12] SubhashVasarapu-MSFT commented on #50958
@rtaylor72 , We are looking into this query and will update you as soon as possible.

[2020-03-26 02:13] SubhashVasarapu-MSFT commented on #50962
@sollender , We are looking into this query and will update you as soon as possible.

[2020-03-26 02:14] eastcoastoilfan commented on #41184
Bahhhhh... we are experiencing the same issue. I"m sure if i used the storage account credentials it'd work, but that's what i'm trying to avoid!
THis DOES NOT work and seems to be a recent issue by the looks of these comments!

PLEASE FIX OR AT LEAST RESPOND!

[2020-03-26 02:15] SubhashVasarapu-MSFT commented on #50967
@jackvdbuk ,  We are looking into this query and will update you as soon as possible.

[2020-03-26 02:27] likebupt commented on #50808
@darshats Thanks for your feedback. The Evaluate Recommender only works for the second mode
![image](https://user-images.githubusercontent.com/39058063/77525681-5eb83f80-6ec4-11ea-8866-de6fa45eab4d.png)
If you connect the Score module with the other two modes to the Evaluate module, error will occur.

[2020-03-26 02:28] TravisCragg-MSFT commented on #50912
@HarriKwok Thanks for the follow up!

[2020-03-26 02:28] VikasPullagura-MSFT commented on #50961
@DevonAleshire
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-03-26 02:28] VikasPullagura-MSFT commented on #50961
@TomArcherMsft
Can you please check and add your comments on this doc update request as applicable.

[2020-03-26 02:30] TravisCragg-MSFT commented on #50968
@dpapkin Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-26 02:37] markjbrown commented on #50080
Hi Nick. I appreciate you raising this issue.

This scenario for repeatedly calling OpenAsync() is something of an edge case that goes against our current guidance so I don't think this behavior needs to be formally documented.  Also, as this is for an older SDK, it makes less sense to highlight we try to keep this guidance concise and focused on where customers should be which is using our latest

[2020-03-26 02:37] #50080 closed

[2020-03-26 02:39] VikasPullagura-MSFT commented on #50957
@floriangrousset
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-03-26 02:39] VikasPullagura-MSFT commented on #50957
@suhuruli
Can you please check and add your comments on this doc update request as applicable.

[2020-03-26 02:40] TravisCragg-MSFT commented on #49863
@ritrohit49 The limit is going to be with the system you are connecting to, not with Azure Bastion.

@nakamacchi We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-26 02:40] #49863 closed

[2020-03-26 02:43] rtaylor72 opened #50969 "priatednszonename is misspelled."
priatednszonename is misspelled.  Should be privatednszonename .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7b1b215-0434-145b-cd11-95d0f32bc015
* Version Independent ID: d328a868-a151-1985-2b62-f3884f7ad76c
* Content: [Name resolution for resources in Azure virtual networks](https://docs.microsoft.com/en-us/azure/

[2020-03-26 02:48] PramodValavala-MSFT commented on #50761
@Hari1667 Just following up here... Is there a specific doc that you are referring to here?

[2020-03-26 02:50] DashleenBhandari-MSFT commented on #50627
@crgarcia12 , We do not recommend running locally with the same instrumentation key, since that could mess up the data being collected from the production app. However, we can try to create a local-only App Insights instance (a separate key) and use that for local collection.

[2020-03-26 02:51] GiftA-MSFT commented on #50841
@trrwilson @j-martens please take note of the above feedback. Thanks.

[2020-03-26 02:55] GiftA-MSFT commented on #50719
@swmachan can you please help clarify?

[2020-03-26 02:56] PramodValavala-MSFT commented on #50839
@leela-uppuluri Since there is no specific azure doc issue to address here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-26 02:56] #50839 closed

[2020-03-26 03:00] AshokPeddakotla-MSFT commented on #50818
Adding author @kgremban for further review and update the doc as appropriate.

[2020-03-26 03:01] lolekjohn commented on #50905
@ketan-chawda-msft  I am referring to the URL - [https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-enterprise-integration-liquid-transform](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-enterprise-integration-liquid-transform)

[2020-03-26 03:02] GiftA-MSFT commented on #50916
@dargilco we will review your feedback and get back to you shortly. Thanks.

[2020-03-26 03:03] GiftA-MSFT commented on #50924
@dargilco we will review your feedback and get back to you shortly. Thanks.

[2020-03-26 03:04] GiftA-MSFT commented on #50925
@dargilco we will review your feedback and get back to you shortly. Thanks.

[2020-03-26 03:04] GiftA-MSFT commented on #50926
@dargilco we will review your feedback and get back to you shortly. Thanks.

[2020-03-26 03:06] GiftA-MSFT commented on #50928
@v-kydela we will review your feedback and get back to you shortly. Thanks.

[2020-03-26 03:11] PramodValavala-MSFT commented on #50956
@VAnjan12 Is there a specific doc that you are referring to there? If so, could you please share the same?

[2020-03-26 03:12] PramodValavala-MSFT commented on #50936
@marceardz Is there a specific doc that you are referring to there? If so, could you please share the same?

[2020-03-26 03:15] PramodValavala-MSFT commented on #50933
@spatney Thanks for the question! We will review and get back to you!

[2020-03-26 03:21] PramodValavala-MSFT commented on #50933
@spatney As mentioned in the [pricing page](https://azure.microsoft.com/en-us/pricing/details/event-grid/), event grid charges per million operations which include ingress of events to Domains or Topics, advanced matches, delivery attempts, and management calls.

In your case, you could just use [subject filtering](https://docs.microsoft.com/en-us/azure/event-grid/event-filtering#subject-filtering

[2020-03-26 03:24] DixitArora-MSFT commented on #50960
Hi @antonGritsenko Thanks for reaching out. We will review and update as appropriate.

[2020-03-26 03:26] GiftA-MSFT commented on #50930
@dargilco we will review your feedback and get back to you shortly. Thanks.

[2020-03-26 03:28] GiftA-MSFT commented on #50934
@dargilco we will review your feedback and get back to you shortly. Thanks.

[2020-03-26 03:28] v-tawe opened #50970 "`Install-Package` command doesn't have the parameter name `-version`"
`Install-Package` command doesn't have the parameter name `-version`, guess should be `-RequiredVersion`.
![image](https://user-images.githubusercontent.com/22313449/77607251-ae464c00-6f54-11ea-8f04-ce12fa44e4f1.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e9e1a8a-6284-a230-061e-7cb27258571a
* Version Independe

[2020-03-26 03:29] VikasPullagura-MSFT commented on #50932
@amramtamir
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-03-26 03:29] GiftA-MSFT commented on #50940
@v-kydela we will review your feedback and get back to you shortly. Thanks.

[2020-03-26 03:30] GiftA-MSFT commented on #50946
@dargilco we will review your feedback and get back to you shortly. Thanks.

[2020-03-26 03:31] GiftA-MSFT commented on #50948
@dargilco we will review your feedback and get back to you shortly. Thanks.

[2020-03-26 03:32] GiftA-MSFT commented on #50949
@dargilco we will review your feedback and get back to you shortly. Thanks.

[2020-03-26 03:35] GiftA-MSFT commented on #50963
@dargilco we will review your feedback and get back to you shortly. Thanks.

[2020-03-26 03:35] GiftA-MSFT commented on #50964
@dargilco we will review your feedback and get back to you shortly. Thanks.

[2020-03-26 03:36] DixitArora-MSFT commented on #50554
@mikebudzynski Thanks for the update.

@stephaneey For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-26 03:36] #50554 closed

[2020-03-26 03:42] DashleenBhandari-MSFT commented on #50623
@tbtmuse , If the question is specifically why an array is returned instead of a single item, it is because you could potentially have more than one SAS URL to the same asset.  The API in question, listContainerSas, is used for both upload and download.  While not common for uploads, it is moderately common for downloads.

[2020-03-26 03:46] VikasPullagura-MSFT commented on #50922
@pstokes1127 Thanks for your question.
You can find similar issue [here](https://github.com/MicrosoftDocs/azure-docs/issues/50715).

[2020-03-26 03:47] rockboyfor opened #50973 "Has the URL(https://raw.githubusercontent.com/) been blocked on Mooncake?"
When I run this powershell code in Mooncake.   it popup the following error message:  DownloadItemFromBlobFailed : Download of the item from blob at 'https://raw.githubusercontent.com/Azure/azure-managedapp-samples/master/Managed Application Sample Packages/201-managed-storage-account/managedstorage.zip' failed due
to a failed connection.    When I run the same code on global site. It is successfu

[2020-03-26 03:47] VikasPullagura-MSFT commented on #50715
Similar issue [here](https://github.com/MicrosoftDocs/azure-docs/issues/50922).

[2020-03-26 03:47] mrbullwinkle commented on #49336
The change to retire this doc has been merged internally, the change will go live tomorrow.

[2020-03-26 03:48] mrbullwinkle commented on #49336
#please-close

[2020-03-26 03:48] #49336 closed

[2020-03-26 03:49] mrbullwinkle commented on #49335
The change to retire this doc has been merged internally. The change will go live tomorrow.

[2020-03-26 03:49] mrbullwinkle commented on #49335
#please-close

[2020-03-26 03:49] #49335 closed

[2020-03-26 03:50] ketan-chawda-msft commented on #50803
@solankisamir can you please share your thoughts here?

[2020-03-26 03:52] DashleenBhandari-MSFT commented on #50970
@v-tawe , Thanks for raising the issue. We will investigate and update you.

[2020-03-26 03:53] ketan-chawda-msft commented on #50905
@divyaswarnkar any thoughts here?

[2020-03-26 03:53] tbtmuse commented on #50623
@DashleenBhandari-MSFT, thank you for the explanation as to why an array is returned, my follow up question would then be, what is the purpose of the second url that is returned when calling listContainerSas immediately after creating a new "input" Asset.

The MediaServices Rest API v3 returns an array of two SAS URLS and the documentation just says use the first one.

I'm just trying to understan

[2020-03-26 03:57] mrbullwinkle commented on #48646
The scope of this feature is covered here:

There are three types of security issues that are detected:
1. Insecure URL access: a URL in the application is being accessed via both HTTP and HTTPS. Typically, a URL that accepts HTTPS requests should not accept HTTP requests. This may indicate a bug or security issue in your application.

2. Insecure form: a form (or other "POST" request) in the appl

[2020-03-26 03:57] mrbullwinkle commented on #48646
#sign-off

[2020-03-26 03:58] mrbullwinkle commented on #48646
#please-close

[2020-03-26 03:58] #48646 closed

[2020-03-26 04:07] suhuruli commented on #50957
Yes, will update this accordingly.

[2020-03-26 04:09] mrbullwinkle commented on #48648
The lack of detail on the specific machine learning techniques/algorithms being used for the Smart Detection features is unfortunately by design since it is considered internal IP. If you are looking for specific examples of the type of machine learning/analysis techniques that can be used with things like Kusto data a good place to start would be [here](https://docs.microsoft.com/azure/data-explo

[2020-03-26 04:19] junztan opened #50975 "Password Reset Login Screen not working in public network"
I recently configure SSPR Windows Login Screen for all test environment client devices. All windows are windows 10 1803 and above. During our testing, most of the users reported positive results. In fact, there are still some gaps while testing the 'Reset Password' button:
- Loading time slightly longer.
- Page failed to load and showed "Something went wrong" error message when connected to a publ

[2020-03-26 04:19] VikasPullagura-MSFT commented on #50942
@turb0chrg
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-03-26 04:20] VikasPullagura-MSFT commented on #50942
@vikancha
Can you please check and add your comments on this doc update request as applicable.

[2020-03-26 04:21] mrbullwinkle commented on #48651
Failure Anomalies is unique in that it is the only Smart detection rule that is implemented as an Azure Monitor alert rule. This was done because failure anomalies requires the near real-time alerting capabilities of Azure Monitor Alerts.

Because of this Failure Anomalies is managed via the Azure Monitor Alert interface and all other Smart Detection rules are managed via the Smart Detection UI. T

[2020-03-26 04:37] SwathiDhanwada-MSFT commented on #50455
As there are no documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-03-26 04:37] #50455 closed

[2020-03-26 04:49] swinster opened #50976 "Is it possible to register an App via PowerShell that using "Mobile and desktop applications" Platform and Redirect URI?"
I'm trying to replicate the portal using Power Shell, which I guess should be completely possible.

When you create new app registration via the portal, you have the option of adding a redirect URI (reply URI in PS), which can be added either as a "Web" or "public client/native (mobile and desktop)" option. How can you add the Redirect URI as the "Public client/native"? Whn adding via PS, it just

[2020-03-26 04:50] swinster commented on #50976
I should also say, working with Azure Az

[2020-03-26 04:54] mrbullwinkle commented on #47902
Going to close this one out. But If you are finding gaps that you would like to see covered in the [functions monitoring doc](https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring?tabs=cmd) please open an issue against that doc so the Functions team can try to get them addressed.

[2020-03-26 04:54] mrbullwinkle commented on #47902
#please-close

[2020-03-26 04:54] #47902 closed

[2020-03-26 04:58] mrbullwinkle commented on #48651
I have modified the doc to fix the confusion with how the table was located and failure anomalies absence from it. The change needs to go through a final review but should merge and go-live by tomorrow at the latest.

[2020-03-26 04:58] mrbullwinkle commented on #48651
#please-close

[2020-03-26 04:58] #48651 closed

[2020-03-26 04:59] VikasPullagura-MSFT commented on #50866
@ForBravo Thanks for pointing this out. I have assigned this to content author for checking and updating the document as appropriate.

[2020-03-26 05:00] VikasPullagura-MSFT commented on #50866
@mlearned
Can you please check and add your comments on this as applicable.

[2020-03-26 05:02] SumanthMarigowda-MSFT commented on #50937
@mcollier Thanks for your question. We are checking on this and will respond to you soon.

[2020-03-26 05:02] SumanthMarigowda-MSFT commented on #50938
@marceardz Thanks for your question. We are checking on this and will respond to you soon.

[2020-03-26 05:02] SumanthMarigowda-MSFT commented on #50939
@marceardz Thanks for your question. We are checking on this and will respond to you soon.

[2020-03-26 05:03] mrbullwinkle commented on #42771
@dcbrown16, thank you for the suggestion we ended up creating a consolidated page for all of Azure Monitor and bumped it up in the TOC to make it more visible. [https://docs.microsoft.com/en-us/azure/azure-monitor/faq](https://docs.microsoft.com/en-us/azure/azure-monitor/faq)

Thanks again for suggesting this and helping to improve our docs!

[2020-03-26 05:03] mrbullwinkle commented on #42771
#please-close

[2020-03-26 05:03] #42771 closed

[2020-03-26 05:04] BhargaviAnnadevara-MSFT commented on #50975
@junztan Thank you for the question. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-03-26 05:04] swinster commented on #50976
If it is possible to do this, the the next step is to be able to assign API Permission, specifically from the Legacy Exchange API -> Delegated -> EWS

[2020-03-26 05:06] BhargaviAnnadevara-MSFT commented on #50935
@kaylakirzinger Thanks for the question! We're investigating this and will get back to you shortly.

[2020-03-26 05:07] BhargaviAnnadevara-MSFT commented on #50927
@kcovert Thanks for the question! We're investigating this and will get back to you shortly.

[2020-03-26 05:18] SudeshSharma opened #50978 "azure backup stored in local server"
Guys I have Created Azure Vm. Now I want to create vm backup and stored that backup snapshot to our local server. is that possible ?

[2020-03-26 05:27] mrbullwinkle commented on #49639
Thanks @FunkyGhost I have added an update to the doc that is merged internally to hopefully help mitigate this confusion. It will go live tomorrow. If you are still seeing issues with customers struggling with this after the update goes live please don't hesitate to reach out. Thanks again for bringing this to our attention.

Also awesome alias!

[2020-03-26 05:27] mrbullwinkle commented on #49639
#please-close

[2020-03-26 05:27] #49639 closed

[2020-03-26 05:30] mrbullwinkle commented on #49044
Thanks @kenakamu I have created a PR to cleanup the doc and remove the legacy classic alert content other than the modifying existing classic alert rule notifications which may be relevant in a few rare instances still. The PR just needs to go through one last round of review and then it should merge and go live tomorrow.

[2020-03-26 05:31] mrbullwinkle commented on #49044
#please-close

[2020-03-26 05:31] #49044 closed

[2020-03-26 05:34] VikasPullagura-MSFT commented on #50864
@jwbliden We are having capacity issues in few region for some VM sizes.
You can try to change the VM size and try to see if that helps. However, you can reach to support to know on this more.

Please see this [blog post](https://azure.microsoft.com/en-us/blog/our-commitment-to-customers-and-microsoft-cloud-services-continuity/) for more information.

As this is a know capacity issue, I will proce

[2020-03-26 05:34] #50864 closed

[2020-03-26 05:52] SubhashVasarapu-MSFT commented on #50969
@rtaylor72 , We are looking into this query and will update you as soon as possible.

[2020-03-26 05:53] M0ns1gn0r commented on #50627
You can specify a dummy instrumentation key in `local.settings.json` and AppInsights will start working in VisualStudio.

[2020-03-26 05:58] jakaruna-MSFT commented on #50932
@jnoller please add your inputs

[2020-03-26 06:05] RohitMungi-MSFT commented on #50775
@dem108 Thanks for pointing this out. Yes, the screen shot requires an update.
@lostmygithubaccount The latest screen from the ML Azure portal only has two options to enable. Please find the screen shot below for reference.
![image](https://user-images.githubusercontent.com/46958063/77615628-d5e9e400-6f55-11ea-939b-782242e379f3.png)

Can we update this in the document?

[2020-03-26 06:08] souravmishra-msft commented on #50521
@JLambEJG, Here you just need to type **_user.accountEnabled -eq true_** without the curve brackets.
![image](https://user-images.githubusercontent.com/54057592/77615810-3b3dd500-6f56-11ea-96ca-4c477a9c22dc.png)

I tested this and it works.

[2020-03-26 06:08] #50521 closed

[2020-03-26 06:09] DashleenBhandari-MSFT commented on #50623
There are two SAS URLs returned (why an array is returned as David  mentioned).

We return multiple SAS URLs as there are two storage account keys for each storage account. A storage account has two keys because it allows for seamless rotation  of storage account keys (e.g. change one while using the other then start using the new key and rotate the other key). The 1st SAS URL represents storage k

[2020-03-26 06:12] mrbullwinkle commented on #48379
Functions is a core part of Azure and that is in part why from an organizational standpoint Azure Functions has their own dedicated table of contents in docs for the Functions service and has a dedicated article on Functions monitoring maintained by the functions team.

When someone uses search and needs to know about Azure Functions and monitoring we really want to make sure we do everything to m

[2020-03-26 06:12] DashleenBhandari-MSFT commented on #50623
@tbtmuse , There are two SAS URLs returned.

We return multiple SAS URLs as there are two storage account keys for each storage account. A storage account has two keys because it allows for seamless rotation  of storage account keys (e.g. change one while using the other then start using the new key and rotate the other key). The 1st SAS URL represents storage key1 and second one storage key2.

We

[2020-03-26 06:13] DashleenBhandari-MSFT commented on #50658
@Justien22 , Thanks for the update. I will proceed with the closure.

[2020-03-26 06:13] #50658 closed

[2020-03-26 06:23] tbtmuse commented on #50623
@DashleenBhandari-MSFT, thank you for the explanation, it all makes sense now that you have explained it.

Yes, that should certainly be in the documentation as that information isn't available anywhere.

[2020-03-26 06:37] msrini-MSFT commented on #50765
@codemaker , Do you have any update for me on this issue?

[2020-03-26 06:37] mrbullwinkle commented on #48034
You can query from multiple disparate instances using the `app` query expression which we document here: [https://docs.microsoft.com/azure/azure-monitor/log-query/app-expression](https://docs.microsoft.com/azure/azure-monitor/log-query/app-expression). We can definitely add a more explicit link to this when we reference it in the correlation article to make things a little more clear. Thank you fo

[2020-03-26 06:44] geoffrey-vl commented on #49722
@kgremban , I hope you're not considering "building on remote host" as a good practice/solution.
If your edge software is anything but a "hello world" application it might take "ages" on most ARM devices. Best practice is to cross-build on your host pc / workstation, it was build to do that in the first place.

[2020-03-26 06:48] tnlthanzeel commented on #50855
I was following this doc from

microsoft https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-quickstart-azure-functions-csharp

After implementing the back end i  started with the client side implementation using jquery. The signalR client script i used was signalr.min.js that i installed using libman in my ASP.NET CORE MVC project.

[2020-03-26 06:48] SumanthMarigowda-MSFT commented on #50492
@asears The PR request has been raised!
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-26 06:48] #50492 closed

[2020-03-26 06:51] #50490 closed

[2020-03-26 06:59] neeleshray-msft commented on #50953
@jayallen Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-03-26 07:00] neeleshray-msft commented on #50976
@swinster Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-03-26 07:03] Peter-B- commented on #16997
@Mike-Ubezzi-MSFT Thanks for the hint. That might indeed have been my mistake.
Unfortunately, I already deleted my Test-CosmosDb.
I am kind of busy at the moment, but I will give it another try and come back to you.

[2020-03-26 07:03] mrbullwinkle commented on #48070
It looks like @cijothomas addressed these concerns with this PR: [https://github.com/MicrosoftDocs/azure-docs/commit/2977faa349a74bff3551eb327c28f44cca9063f6#diff-8d0bbf274d9544994ea2f2cd4fa753d3](https://github.com/MicrosoftDocs/azure-docs/commit/2977faa349a74bff3551eb327c28f44cca9063f6#diff-8d0bbf274d9544994ea2f2cd4fa753d3)

I am going to close out this issue. Thank you for bringing this to our

[2020-03-26 07:04] mrbullwinkle commented on #48070
#please-close

[2020-03-26 07:04] #48070 closed

[2020-03-26 07:10] mrbullwinkle commented on #48648
#please-close

[2020-03-26 07:10] #48648 closed

[2020-03-26 07:15] mrbullwinkle commented on #48171
adding @vgorbenko. Can you provide details around release annotations in the new Metrics experience or is this no longer supported?

[2020-03-26 07:24] mrbullwinkle commented on #48057
This question looks like a duplicate of this issue:
[https://github.com/MicrosoftDocs/appcenter-docs/issues/734](https://github.com/MicrosoftDocs/appcenter-docs/issues/734)

I am going to close this issue out as the App Center team will be better able to answer any questions you have around the integration. I think the issue above would be best place to add additional comments if you are experienc

[2020-03-26 07:25] mrbullwinkle commented on #48057
#please-close

[2020-03-26 07:25] #48057 closed

[2020-03-26 07:26] KrishnaG-MSFT commented on #50538
@cconrado It works with "/Runbooks" or "/" or any valid path that you ideally have in your repository. In the referred Azure document it's mentioned as "/Runbooks" for example and illustration purpose. Hope this clarifies!

![image](https://user-images.githubusercontent.com/45988031/77620508-8826a900-6f60-11ea-9f8f-edae5200e098.png)

So at this point it appears that there's no edits or updates nee

[2020-03-26 07:26] #50538 closed

[2020-03-26 07:38] mrbullwinkle commented on #48346
@NorthHighlandNicole Thank you for calling attention to this. I made some changes to the doc to hopefully help further clarify things. The change are merged internally but they will go-live tomorrow.

[2020-03-26 07:38] mrbullwinkle commented on #48346
#please-close

[2020-03-26 07:38] #48346 closed

[2020-03-26 07:52] jakaruna-MSFT commented on #50829
@athinanthny please add your inputs

[2020-03-26 07:53] junztan commented on #50975
@BhargaviAnnadevara-MSFT  https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-sspr-windows

[2020-03-26 07:54] jakaruna-MSFT commented on #50753
Can you try with pullic ip?
Refer to this issue and check if it fits your scenario https://github.com/MicrosoftDocs/azure-docs/issues/49404

[2020-03-26 07:54] mrbullwinkle commented on #47763
Sadly the doc was 50% correct. It is only obsolete for .NET Core, so for .NET Framework projects that snippet is still valid even with the latest SDK. I updated the doc so that it now clearly states the instructions only apply to .NET Framework and links out to the .NET Core specific instructions. These changes will go go-live tomorrow.

Thanks for catching this and bringing this to our attention.

[2020-03-26 07:55] DominikBritz commented on #43959
That what @jikuja said.

[2020-03-26 07:55] BhargaviAnnadevara-MSFT commented on #50975
@junztan Thank you for the response! I've routed this to the appropriate Team to investigate and update.

[2020-03-26 07:56] jakaruna-MSFT commented on #50656
@braest is there any update

[2020-03-26 07:57] PramodValavala-MSFT commented on #50978
@SudeshSharma  Is there a specific doc that you are referring to there? If so, could you please share the same?

[2020-03-26 08:01] braest commented on #50656
Dear,

Like this it works ;

Kr,

Tim

# Set variables
    $resourceGroup = "PROD-App-Cluster-DAF-Tax"
    $vmName = "AZ1112W028"
    $newAvailSetName = "PROD-AS-CLUSTER-28_29"

# Get the details of the VM to be moved to the Availability Set
    $originalVM = Get-AzVM `
                   -ResourceGroupName $resourceGroup `
                   -Name $vmName

# Create new availability set if it does

[2020-03-26 08:02] mrbullwinkle commented on #47763
#please-close

[2020-03-26 08:02] #47763 closed

[2020-03-26 08:04] mrbullwinkle commented on #44956
#please-close

[2020-03-26 08:04] #44956 closed

[2020-03-26 08:04] BryanTrach-MSFT commented on #50472
@Coldpawz Most features are tracked on the [Azure Road Map site](https://azure.microsoft.com/en-us/updates/?category=web).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-26 08:04] #50472 closed

[2020-03-26 08:05] PatrickFarley commented on #50163
Thank you for raising this issue. @erhopf has fixed the document.
#please-close

[2020-03-26 08:05] #50163 closed

[2020-03-26 08:08] PramodValavala-MSFT commented on #41048
@gennadiy-dubina That is expected. And to quote the document

[2020-03-26 08:08] PatrickFarley commented on #50161
Thank you, we've updated the docs.
#please-close

[2020-03-26 08:08] #50161 closed

[2020-03-26 08:10] PatrickFarley commented on #50159
@Jawvig , the web app you create will be an Azure Container Instance when you configure it that way. Does that make sense?

[2020-03-26 08:11] mrbullwinkle commented on #47549
It is deprecated but only for .NET Core apps. For .NET Framework apps it is still valid with the latest version of the SDK. This article is describing .NET exceptions in the context of .NET Framework apps. It is super helpful that you pointed this out though in that others have described similar issues with some of our other docs. I will add a clarifying note to help avoid the confusion.

[2020-03-26 08:17] ChiragMishra-MSFT commented on #50622
@arowse-pfl Since the issue is not a feedback on the doc in reference, I would recommend you to create a thread on the forums - [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory) or [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-data-factory).

Once you post your issue on forums, it will have visibility across the community which is a better suit

[2020-03-26 08:17] #50622 closed

[2020-03-26 08:19] mrbullwinkle commented on #47549
#please-close

[2020-03-26 08:19] #47549 closed

[2020-03-26 08:19] ChiragMishra-MSFT commented on #50654
@HughKu  Since the issue is not a feedback on the doc in reference, I would recommend you to create a thread on the forums - [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory) or [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-data-factory).

Once you post your issue on forums, it will have visibility across the community which is a better suited

[2020-03-26 08:19] #50654 closed

[2020-03-26 08:20] ChiragMishra-MSFT commented on #50695
@florin103 Since the issue is not a feedback on the doc in reference, I would recommend you to create a thread on the forums - [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory) or [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-data-factory).

Once you post your issue on forums, it will have visibility across the community which is a better suite

[2020-03-26 08:20] #50695 closed

[2020-03-26 08:20] jjindrich opened #50982 "Azure Firewall and Application Gateway"
Hello, can I configure Azure Firewall in following scenario ? Azure FW -&gt; Azure AppGw -&gt; backend
I found this discussion
https://social.msdn.microsoft.com/Forums/en-US/b1e653d8-818a-4903-a89f-df35c34911c9/recommended-architecture-for-app-gateway-waf-azure-firewall
I didn't found any definition how to setup Firewall rules for management rules.

---
#### Document Details

⚠ *Do not edit this s

[2020-03-26 08:40] PatrickFarley commented on #49890
Hi @hEi872 , I couldn't find an immediate fix so I'm asking others on my team to take a look.

[2020-03-26 08:43] omgrnd commented on #50733
I experience the same issue. Additionally when trying the same command with a manually created service principal I get a slightly different error message:

`Operation failed with status: 'Bad Request'. Details: The credentials in ServicePrincipalProfile were invalid. Please see https://aka.ms/aks-sp-help for more details. (Details: adal: Refresh request failed. Status Code = '401'. Response body:

[2020-03-26 08:44] benmiller86 commented on #27485
@MashaMSFT then these [docs](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-recovery-using-backups#managed-instance-database-3) that explicitly describe doing it via the portal need to be amended.

[2020-03-26 08:53] msrini-MSFT commented on #50982
@jjindrich , You just need to create a DNAT rule in the Firewall to forward the packet to the Application Gateway.

You don't need to allow any management rules in this case. Can you elaborate your architecture a bit more with a diagram ?

[2020-03-26 08:58] ams0 opened #50983 "Clarify rotation of MI"
It's unclear from reading the article if using Managed Identities avoid the one-year expiration previously affecting the Service Principal. Does Azure automatically rotate MI's?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a9c74a8-9f1a-3d3d-3aed-f8ec45f92e05
* Version Independent ID: 01e98043-dc80-490e-a761-8d558ff4

[2020-03-26 09:02] JavedEqbal commented on #35574
Any updates on this ?

[2020-03-26 09:13] Sdelausnay opened #50985 "Certificate renewal"
I'm looking for documentation how the IoT Edge handles certificates rolling. I have found this document [How to roll X.509 device certificates](https://docs.microsoft.com/en-us/azure/iot-dps/how-to-roll-certificates) explaining how certificate rolling is performed for IoT Devices. A last step explains that the device needs to re-provisioned trough catching "unauthorized" errors or using a direct m

[2020-03-26 09:15] jjindrich commented on #50982
If I good understand your answer correctly, there is no need to setup rules for 65200-65535 ? https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-faq#how-do-i-use-application-gateway-v2-with-only-private-frontend-ip-address

[2020-03-26 09:33] inthevortex commented on #46919
I am getting a similar error:
`gaierror: [Errno -3] Temporary failure in name resolution`

`NewConnectionError: <urllib3.connection.VerifiedHTTPSConnection object at 0x7f193b2d9048>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution`

`MaxRetryError: HTTPSConnectionPool(host='mike-test.cognitiveservices.azure.com', port=443): Max retries exceeded with url: /visi

[2020-03-26 09:35] wadstromdev opened #50986 "Dynamic rgName parameter?"
Hi,

Is it possible to pass the rgName as a parameter instead of hardcoding it in the rgDelegatedResourceManagement.parameters.json file? When I try with Powershell I receive the following error message:

`New-AzDeployment: 10:09:00 - Error: Code=InvalidTemplate; Message=Deployment template validation failed: 'The value for the template parameter 'rgName' at line '29' and column '39' is not provid

[2020-03-26 09:40] FSharpCSharp opened #50987 ""Useful Links" not available in the offer type for Business Central"
The manual talks about "Useful Links" quite far below.

Quote:
`It is also acceptable to provide a Useful Link URL to offer content in a language other than the one used in the Offer listing content.`

However, these do not exist in the offer type for Business Central. When I create a new offer of the SaaS type, I have this section. Maybe the text should then simply be removed if it has no meaning

[2020-03-26 09:47] DarranShepherd opened #50988 "Guidance for Functions V3 with FunctionsStartup class"
Is there any official guidance on how best to use the Azure AppConfig configuration provider with the Dependency Injection support in Azure Functions V3 (as opposed to the old static methods approach illustrated in this document)?

I've got it working using an approach inspired by this Stack Overflow answer https://stackoverflow.com/a/60349484 , but am unsure if this will continue working without

[2020-03-26 09:54] gennadiy-dubina commented on #41048
@PramodValavala-MSFT
i understand that event will be redeliverd if it's abandoned
we want to have redelivery

my concern is :

in case we got unhandled  exception on our side in business logic handler we will not send abandon to service bus
so service bus will delivery event again but delivery counter will NOT be incremented, it's always 0
also redelivery will be in 1 min not in 5 as configured in

[2020-03-26 10:03] sweeeneey opened #50990 "Can UNB2.1 and UNB3.1 be looked up from integration account partners when encoding?"
I don't see any way at the moment to get relevant IDs from the Integration account partners involved in an agreement when encoding an EDIFACT message.

There are some options to configure some header fields in the send settings of Integration account agreements. However, as far as I can tell, the IDs (UNB2.1, UNB3.1) need to be specified in the XEDIFACT message passed into the call to encode EDIFA

[2020-03-26 10:11] Jaans opened #50991 "PowerShell example not same as C# - $context never passed in"
The PowerShell example above does not match the equivalent C# code example.

The variable $context is not used - I think it should go into the call to Start-ServiceFabricChaos cmdlet as the -Context parameter argument.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87f95d49-485e-1151-bd35-1c9d8741cb4f
* Version Indepen

[2020-03-26 10:14] slugerrist commented on #21763
@PRMerger13  - Are you close to finishing this? 5 quarters later, we a major automobile company with major MQ integrations are still not in a position to appoint on-premise data gateway as an effective means of secured file transfer to Azure cloud. There is no documentation of how your MQ client works with SSL and clearly it doesnt work as normally IBM MQ clients do since we have tried every possi

[2020-03-26 10:15] VikasPullagura-MSFT commented on #50983
@ams0
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-03-26 10:15] VikasPullagura-MSFT commented on #50983
@sauryadas
Can you please check and add your comments on this doc update request as applicable.

[2020-03-26 10:18] slugerrist commented on #21763
@jpconnock

[2020-03-26 10:25] jelalanne opened #50992 "Error in 'Permission types' ?"
Good morning,
Just to be sure, isnt there a small error in the 'Permission types' section?
"Your app can never have more privileges than the signed-in user". Isn't it the opposite? If not, it seems unclear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ac43307-75d4-cb6f-e561-0dd9008f28c6
* Version Independent ID: 8fc

[2020-03-26 10:30] VikasPullagura-MSFT commented on #50715
@jileary23 Internal team suggested to open a support case as this issue needs live troubleshooting.

If you don't have the ability to open a technical support ticket, you can email me with Subject "ATTN Vikas" at AzCommunity@microsoft.com and provide me with your SubscriptionID and link to this thread. I can then enable your subscription for one time free support.

Since this channel is for drivin

[2020-03-26 10:30] #50715 closed

[2020-03-26 10:32] roofiq commented on #48108
@Mike-Ubezzi-MSFT, below is error notification in Azure devops pipeline.
Error is displaying when deploying sql Database that is in failover group.

[code]

[2020-03-26 10:33] VikasPullagura-MSFT commented on #50922
@pstokes1127 Internal team suggested to open a support case as this issue needs live troubleshooting and with support case the support engineer can work with you on this.

If you don't have the ability to open a technical support ticket, you can email me with Subject "ATTN Vikas" at AzCommunity@microsoft.com and provide me with your SubscriptionID and link to this thread. I can then enable your su

[2020-03-26 10:33] #50922 closed

[2020-03-26 10:41] DixitArora-MSFT commented on #50990
@sweeeneey Thanks for reaching out. We will review and update as appropriate.

@divyaswarnkar Can you please provide your inputs ?

[2020-03-26 10:43] sensei-wu commented on #13935
At the end, what need to be kept in mind (atleast my experience):

Static external IP need to be in the same region as AKS cluster and also same SKU type as AKS cluster. Then it seem to work

[2020-03-26 10:44] wudong opened #50993 "Calling az account get-access-token failed in cloudshell."
I'm trying get this work for me but in the cloudshell when I call az get access token with the resource-type, it give me an error of client bad request.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f87e092b-c331-8bc9-9061-89f0712adb5a
* Version Independent ID: d0ef3b6e-5973-e159-3c73-9eb8dbf2825f
* Content: [Use Azur

[2020-03-26 10:54] VikasPullagura-MSFT commented on #50991
@Jaans
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-03-26 10:54] VikasPullagura-MSFT commented on #50991
@motanv
Can you please check and add your comments on this doc update request as applicable.

[2020-03-26 10:55] hostmatic opened #50994 "Please clarify is Azure Active Directory Premium is needed"
So i've have a customer who uses the Microsoft 365 Business license. In here there are licensing for Conditional Access and thus MFA. The documentation mentions that "Azure Multi-Factor Authentication license" is required.

However when running the script .\AzureMfaNpsExtnConfigSetup.ps1, it fails with an "New-MsolServicePrincipalCredential : Service principal was not found".

When running this co

[2020-03-26 10:56] kha-dev commented on #50825
Sorry, I didn't notice that I lost context. The original url is placed here:
https://docs.microsoft.com/en-us/azure/cognitive-services/QnAMaker/how-to/multiturn-conversation

[2020-03-26 10:57] kha-dev commented on #50825
Sorry, I didn't notice that I lost context. The original url is placed here:
https://docs.microsoft.com/en-us/azure/cognitive-services/QnAMaker/how-to/multiturn-conversation

[2020-03-26 10:57] Potter-Gonchar opened #50995 "The code example provided here does not work"
It returns &lt;AttributeError: module 'swagger_client' has no attribute 'CustomSpeechTranscriptionsApi'&gt;

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec7afeb1-ee6a-0e11-2c0d-93ba81c04846
* Version Independent ID: 51fe73be-2cb7-7607-e937-a7d4ed04928c
* Content: [Quickstart: Recognize speech stored in blob storage -

[2020-03-26 10:58] Ozzian commented on #50874
Found and excellent how-to guide for this in here: https://joonasw.net/view/calling-your-apis-with-aad-msi-using-app-permissions

While there are no UI allowing you to add MSIs there, you can use Azure Powershell for it (no, couldn't find az cli command for this either).

`New-AzureADServiceAppRoleAssignment -ObjectId {MANAGED-IDENTITY-ID} -Id {YOUR-APPROLE-ID} -PrincipalId {MANAGED-IDENTITY-ID} -

[2020-03-26 11:07] jean-PierreP opened #50996 "Action Type needs to be updated"
Action type (7. B) under "Create an action group by using the Azure portal" mus be updated. There are 8 types of action type now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e27bedb5-7ff6-f4ae-eb7e-4ee25472d25b
* Version Independent ID: 804b814e-49c9-7fc8-dc86-27b431a9b7df
* Content: [Create and manage action groups

[2020-03-26 11:17] sergiosolorzano commented on #50727
Sorted, it was firefox I had setting to remove cookies when browser closes ... dohhh, thanks again for your help!

[2020-03-26 11:18] sweeeneey commented on #50990
@divyaswarnkar

Here are my input parameters to an "Encode to EDIFACT message by Identities" action.

As you can see, I am looking up the agreement by seller assigned partner IDs (ID Qualifier 91). However, the receiver needs to receive GLN IDs (ID qualifier 14) in UNB2.1 and UNB3.1. The only way I can see to set those IDs in that field is by specifying them directly in the XEDIFACT message passed

[2020-03-26 11:23] rdbraber opened #50997 "Is it possible to do an override of the default forward . /etc/resolv.conf?"
We would like to know if it is possible to change the default forward, which is forward . /etc/resolv.conf to something like forward . 8.8.8.8 8.8.4.4? And if it's possible then what should the configmap coredns-custom look like.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f95537e-770a-739c-0175-4447a995f8b2
* Vers

[2020-03-26 11:24] laurentiuleitan commented on #21149
Hello, the issue seems to persist, did anyone had the chance to find a solution?

[2020-03-26 11:38] VikasPullagura-MSFT commented on #50872
@JacobTheisen I tried following the tutorial to reproduce the issue. However, I don't see any issue reaching the sample website deployed on the scale sets. For me it is working as expected.

Can you try and deploy the scale sets one more time just to rule out any errors in your previous try, check if you are trying to reach correct public IP. Also, check if you have necessary port 80 on NSG rule o

[2020-03-26 11:40] Matusa69 opened #50998 "Update Hive driver package for HDInsight 4.0"
When install beeline on your own linux machine, the hive driver apache-hive-1.2.1-bin.tar.gz looks like minimal for HDInsight 3.x; but it fails with HDInishgt 4.0.
When using beeline to connect to Hive via zookeeper node it return
java.lang.NullPointerException

I have downloaded the https://archive.apache.org/dist/hive/hive-3.1.2/apache-hive-3.1.2-bin.tar.gz and all works fine.

Please update doc

[2020-03-26 11:47] SnehaAgrawal-MSFT commented on #50537
@KenBrady Thanks for the feedback! I have created PR for this and it will be visible soon.

[2020-03-26 11:53] JacobTheisen commented on #50872
@VikasPullagura-MSFT I love you!

[2020-03-26 11:55] JacobTheisen commented on #50872
@VikasPullagura-MSFT Turned out the scale set somehow wasnt Associated With the nsg

[2020-03-26 11:57] smoms opened #50999 "Please clarify on fixed price"
If i understand correctly the price model if i run Logic Apps in an ISE I only pay fixed rate according to price: https://azure.microsoft.com/en-us/pricing/details/logic-apps/

Foe example in West EU: 7.21$/h which is about 5k per month, right? Regardless how many time i run my Logic Apps flows, right? thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-03-26 11:59] VikasPullagura-MSFT commented on #50872
@JacobTheisen Thanks for figuring out the NSG stuff, this should work now.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-03-26 11:59] #50872 closed

[2020-03-26 12:01] krishjan05 opened #51000 ""File synchronization failed" error while updating"
When I am trying to updating a file on a live container, Visual studio code gives "File synchronization failed" error in the terminal. If I stop and run it again the changes are reflected correctly.

Visual Studio Code details:
Version: 1.43.2 (system setup)
Commit: 0ba0ca52957102ca3527cf479571617f0de6ed50
Date: 2020-03-24T07:38:38.248Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.

[2020-03-26 12:04] hostmatic commented on #50994
This article Mentions that per user consumption is not supported, which leads me to belive that the Microsoft 365 Business license isn't a valid option:
https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-nps-extension#licenses

[2020-03-26 12:05] dilyankostov commented on #49746
We are experiencing the same issue. If the solution is available, can MS change the Logic app json definition rather than everyone independently finding out the issue and trying to solve it?

[2020-03-26 12:08] PramodValavala-MSFT commented on #50999
@smoms Yes. Its like the document mentions, fixed price for any number of logic apps running in the ISE including built-in trigger/actions, standard/enterprise connectors (both ISE and global) with 1 integration account (tier depending on ISE tier as documented).

The only case where there is an additional cost is when using more integration accounts up to the limit documented based on the tier.

[2020-03-26 12:18] PramodValavala-MSFT commented on #50671
@prashantma Just following up here... Could you try with a fresh function app and see if it works? Also, if possible, you could probably try with the latest version (16.5.1) as well.

[2020-03-26 12:36] IEvangelist commented on #50995
Hi @Potter-Gonchar,

I have a few clarifying questions:
- Where exactly is that returned, what line number?
- What region are you using?

[2020-03-26 12:40] mrbullwinkle commented on #43959
adding PM at Microsoft who owns Azure Monitor Workbooks to comment: @shijatsu

[2020-03-26 12:40] smoms commented on #50999
@PramodValavala-MSFT thanks!

[2020-03-26 12:51] jakaruna-MSFT commented on #50997
@rdbraber
Thanks for the question! We are investigating and will update you shortly.

[2020-03-26 12:55] Mrchief85 opened #51001 "apiVersion 2018-06-30 not usable"
I have an issue with the following document:
https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/dsc-template

and specifically:
Template example for a Windows VM

The example uses: ""apiVersion": "2018-06-30"," and I'm unable to deploy this to Azure. Also my VS Code throws errors on this apiVersion, saying it is not a valid one.

I think I have managed to use a workaround by using

[2020-03-26 13:03] tudormaz commented on #43666
@gonzoramos: check with your ISP that the port 445 is also open. For me, it's open on my local machine, but closed at the ISP level.

[2020-03-26 13:03] haymansfield opened #51002 "PRF value must be the same as integrity value"
The device script indicates that: integrity and prf must be the same.

Can we infer from this that the Azure connections integrity value defines both the integrity and prf algorithms?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 400bf897-2cdd-39e8-85df-34ad53ca7838
* Version Independent ID: 606caa65-a95f-07b1-98a3-20

[2020-03-26 13:05] VAnjan12 commented on #50956
Thanks for the reply @PramodValavala-MSFT ,

https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/location-condition

above article is an example for creating Conditional access policies based on locations. We have all clients with these kind of permissions and don't know how it will help if we switch to Security Defaults.

Thanks in advance

[2020-03-26 13:10] SubhashVasarapu-MSFT commented on #51002
@haymansfield , We are looking into this query and will update you as soon as possible.

[2020-03-26 13:11] AshleyYang25 opened #51003 "What user is the admin user for hostVM when install Teams"
I'm trying to install Teams as described in the docs, but not sure which user should be entered in as an admin user for host VM. I tried the user I log in the client to access the wvd. But got this error:
![image](https://user-images.githubusercontent.com/22438762/77650371-5e907080-6fa6-11ea-9def-a01dc9389258.png)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-03-26 13:18] SychevIgor opened #51004 "Screenshot could be updated to address that classic alerts are no longer on portal"
Minor moment, but a bit frustrated me. Classic alerts are no longer accessable from azure portal -elastic pool blade. Could this image be updated to address no only features state but also ux.
https://docs.microsoft.com/en-us/azure/sql-database/media/sql-database-elastic-pool-manage-portal/basic.png

![image](https://user-images.githubusercontent.com/578954/77651212-80c1c880-6f7d-11ea-8a80-3e7c41c

[2020-03-26 13:19] TjommeVergauwen commented on #50520
Hello @MartinJaffer-MSFT ,
This is a great suggestion!
Unfortunately I'm running into error  "4501","Hit unexpected exception and execution failed." when trying this with multiple branches.
As a test, I cloned the data flow and removed one the first branch and then the other branch. Each of them work perfectly. It's only when combined that I get this error.
Another annoying thing is that the flatt

[2020-03-26 13:25] kelemvor33 commented on #50581
I sent it just now.
Thanks.

[2020-03-26 13:26] KalyanChanumolu-MSFT commented on #51004
@SychevIgor Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-03-26 13:32] MonikaReddy-MSFT commented on #50988
@DarranShepherd , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-03-26 13:35] aschlick commented on #50920
@KranthiPakala-MSFT the SR number is 120032521000998

[2020-03-26 13:40] DixitArora-MSFT commented on #50771
@munkii Just following up again in case missed the previous communication.

[2020-03-26 13:41] DixitArora-MSFT commented on #50800
@miaojiang Any thoughts in this ?

[2020-03-26 13:46] Potter-Gonchar commented on #50995
Region "eastus"
  Line 53, in transcribe
    transcription_api = cris_client.CustomSpeechTranscriptionsApi(api_client=client)

AttributeError: module 'swagger_client' has no attribute 'CustomSpeechTranscriptionsApi'

[2020-03-26 13:47] NavtejSaini-MSFT commented on #50560
@Houuse We are going ahead and closing this thread for now. If you have any further questions, please comment here and we will continue the discussion.

[2020-03-26 13:47] #50560 closed

[2020-03-26 13:48] DixitArora-MSFT commented on #50694
@cannibal-kush Both are different IDE environments and with both of them you can develop your Azure function. Public documentation is also there for both the IDE as well. I don't think there is a doc change required for this.

[2020-03-26 13:49] HasanAboShally-MSFT commented on #50773
@jjindrich currently [Advanced Threat Protection for Azure Storage](https://docs.microsoft.com/en-us/azure/storage/common/storage-advanced-threat-protection?tabs=azure-portal) leverages the advanced capabilities of Microsoft Threat Intelligence to detect **malware** in Storage Accounts. The current detection is based on hash reputation analysis and alerts customers upon potential malware uploaded

[2020-03-26 13:53] DixitArora-MSFT commented on #50960
@antonGritsenko As this is something specifically to a Product question , recommendation at this point is to create the product issue to the official [Azure Functions Repo](https://github.com/Azure/Azure-Functions/issues) for better clarity. Azure Function Repo will be monitored by Product team of Azure function.

[2020-03-26 13:53] NavtejSaini-MSFT commented on #50571
@fleed Please convey if you were able to check this.

[2020-03-26 13:54] mrbullwinkle commented on #49433
@dcbrown16 awesome suggestion. I have e-mails out to some folks internally to confirm the scope of that tag. It should cover the common endpoints, but I want to make sure it covers some of the functionality that is owned by other teams like profiler/snapshot debugger etc. and that there aren't any undocumented exceptions. We'll update the doc as soon a I hear back.

[2020-03-26 13:55] memildin commented on #29964
@julesman101 these lists have now been updated and consolidated into this new page:

https://docs.microsoft.com/en-us/azure/security-center/features-paas

Please let us know if you think anything is still outstanding.

#please-close

[2020-03-26 13:55] #29964 closed

[2020-03-26 13:55] #50773 closed

[2020-03-26 13:57] eparizzi opened #51006 "How to use the Microsoft.Azure.Services.AppAuthentication library to authenticate against Azure Data Explorer?"
The `Microsoft.Azure.Services.AppAuthentication` seems great. I love the idea to use developer credentials during local development and Managed Identity when deployed on Azure.

Unfortunately, the documentation around all this is very poor. There's only this particular KeyVault example.

How can I use this to authenticate against an Azure Data Explorer cluster?
The `KustoConnectionStringBuilder` c

[2020-03-26 13:59] efeaimnewman commented on #50811
I finally managed to set up iot core and now i get an application exception mic not found even though the device portal shows my camera:
![image](https://user-images.githubusercontent.com/62616600/77655174-bca75e80-6f7a-11ea-8d4f-a5920b2b47fd.png)

[2020-03-26 14:03] efeaimnewman commented on #50811
Do I need to set the source manually?

[2020-03-26 14:06] NavtejSaini-MSFT commented on #50865
@jeroenwo Please let us know if you need any further help regarding this.

[2020-03-26 14:08] NavtejSaini-MSFT commented on #50913
@CeciAc Please do let you us know if you need any further help with this.

[2020-03-26 14:12] mrbullwinkle commented on #42074
adding @Mikhail-msft. I can add this info to the troubleshooting section but just wanted to confirm if there were any caveats you want us to call out since you own this functionality.

[2020-03-26 14:20] Ryan165 opened #51007 "Moving marketplace Linux Virtual Machine"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a89ac262-76f7-45fd-d1ab-3a8702167483
* Version Independent ID: 5de7689c-dde8-6e0f-ceb4-b9c509dd57ef
* Content: [Move Azure VMs to new subscription or resource group - Azure Resource Manager](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/move-limit

[2020-03-26 14:21] Ryan165 commented on #51007
Would this also apply to marketplace Linux virtual machines ? "Virtual machines created from Marketplace resources with plans attached can't be moved across resource groups or subscriptions. De-provision the virtual machine in the current subscription, and deploy again in the new subscription."

[2020-03-26 14:26] ecfan commented on #21763
Hi @slugerrist,

- I'm adding @ChristopherHouser who is the Program Manager and owner for this MQ content. Chris,

You might want to remove @jpconnock from this discussion as he works on a different Azure area now.

- There are content updates in progress, but they've experienced delays due to competing deliverables, capacity, and people's availability. @ChristopherHouser, would you be able to rev

[2020-03-26 14:26] prateekjn12 opened #51008 "Is there any event occurs on change of map styleoptions as I have to chnage the textoption color on change of map styleoption i.e. grayscale_dark to satellite or any other but not getting any event on change of styleoption due to which I am not able to implement different textoption color for different style view."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-03-26 14:26] yobyot commented on #38914
Add us to the list. How can it be that ADO isn't a trusted service for Key Vaults?

[2020-03-26 14:27] #50558 closed

[2020-03-26 14:34] DjinnTonic commented on #46725
Any status update on this?
It doesn't work even if I try to paste the key manually from the function. I get

[2020-03-26 14:35] jordynniara commented on #50619
I agree. There's needs to be more explanation about how to connect these modules to classes in context. Adding an EventSource module who's source is name "MyCompany" doesn't tell me anything. Where did "MyCompany" come from? Is that the name of my EventSource class, or some other added listener?

[2020-03-26 14:47] tfitzmac commented on #50952
@Chai-NED - thanks for this feedback. The table indicates the default ingress limit, which varies by region. There is a note below the table that states the default limit can be increased through a support request. That information seems to match the blog post you provided.

Adding @tamram

[2020-03-26 14:50] inthevortex opened #51012 "Error in Computer Vision OCR API"
I am getting a list of these errors when I execute the exact code from [here](https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/quickstarts/python-print-text#create-and-run-the-sample):
`gaierror: [Errno -3] Temporary failure in name resolution`

`NewConnectionError: <urllib3.connection.VerifiedHTTPSConnection object at 0x7f193b2d9048>: Failed to establish a new connection:

[2020-03-26 14:51] PramodValavala-MSFT commented on #51000
@krishjan05 Is there a specific doc that you are referring to there? If so, could you please share the same?

[2020-03-26 14:52] HenryvanderHeide commented on #48347
please update the document asap

[2020-03-26 14:53] PramodValavala-MSFT commented on #51007
@Ryan165 Is there a specific doc that you are referring to there? If so, could you please share the same?

[2020-03-26 14:55] Ryan165 commented on #51007
@PramodValavala-MSFT Yes, it would be this one: https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/move-limitations/virtual-machines-move-limitations

[2020-03-26 14:55] ram-suresh opened #51013 "How to edit the welcome message"
Hi,

I am using QnA bot and am getting the message "Welcome to the QnA Maker sample! Ask me a question and I will try to answer it.". Can you please help me on how to edit this message.

Also, in case a answer is not found I get the message "No QnAMaker answers found.". How to edit this message?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-03-26 14:57] mrbullwinkle commented on #50619
Completely agreed. We have added a workitem to our internal backlog. If others are interested in this please add a comment or thumbs up as it helps us with prioritization.

[2020-03-26 14:58] AshokPeddakotla-MSFT commented on #50774
@Alexp2019 Could you share the lat and long values you are using? Also, In which step of the document leads the following error? please share few more details regarding the error message which you are getting.

[2020-03-26 15:02] tfitzmac commented on #50911
@Roblarson - thanks for this feedback. There is lots of variation in the type of limits being presented by the different services, so it won't be possible to be completely consistent. However, I agree with you that the consistency could be improved. My general guideline will be when the default and maximums are the same, the table should just list **Limit**. However, when a default can be increase

[2020-03-26 15:04] GiftA-MSFT commented on #50928
@v-kydela to help clarify, version is ignored in v3 of the API.  Thanks.

[2020-03-26 15:12] joshmouch opened #51014 "Disabling full SQL Query in ASP.Net Core"
How do you disable collecting the full query in ASP.Net Core?  This is causing an enormous amount of data to be collected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4ded2ce-d8c3-7118-bec9-865f6225dbe0
* Version Independent ID: a4089752-177c-866c-7237-3ac02c7750d9
* Content: [Dependency Tracking in Azure Applicati

[2020-03-26 15:16] R00iBaard commented on #46725
I got it to work by just doing it manually. Auto doesn't work. Just enter it all yourself and it should work.

[2020-03-26 15:24] djpmsft commented on #50652
This limit only occurs when you set a concurrency in a pipeline. Each additional run after the 100th queued run will be throttled.

Outside of pipeline-specific concurrency limits, users can create up to 10,000 runs across all of their pipelines combined at any given time.

[2020-03-26 15:24] djpmsft commented on #50652
#please-close

[2020-03-26 15:24] #50652 closed

[2020-03-26 15:26] PramodValavala-MSFT commented on #51007
@Ryan165 Thanks for the question! We will review and get back to you!

[2020-03-26 15:26] iulianb commented on #14130
@BigMorty Sorry if I'm asking this in the wrong place but I have the same issue as @MattHartz. I have Visual Studio Enterprise 2019 (16.5.1) with Service Fabric Tools installed, Microsoft Azure Service Fabric SDK (4.0.470) and still can't see the option in the menu.

[2020-03-26 15:29] PramodValavala-MSFT commented on #50956
@VAnjan12 Thanks for the question! We will review and get back to you!

[2020-03-26 15:29] craigktreasure commented on #50927
Hey @kcovert. Those values can be found in the section above as you setup your Azure Spatial Anchors Resource in the Azure Portal. See the section on the page [here](https://docs.microsoft.com/en-us/azure/spatial-anchors/tutorials/tutorial-share-anchors-across-devices?tabs=VS%2CAndroid#create-a-spatial-anchors-resource).

[2020-03-26 15:30] mrbullwinkle commented on #50602
Update addressing this is merged internally it will go-live later today.

[2020-03-26 15:30] PramodValavala-MSFT commented on #50999
@smoms Glad we could help!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-26 15:30] #50999 closed

[2020-03-26 15:30] mrbullwinkle commented on #50602
#please-close

[2020-03-26 15:30] #50602 closed

[2020-03-26 15:32] mrbullwinkle commented on #51014
adding @cijothomas

[2020-03-26 15:36] GiftA-MSFT commented on #51013
@ram-suresh we will review your feedback and get back to you shortly. Thanks.

[2020-03-26 15:39] kcovert commented on #50927
Thanks for the quick response Craig. Kind of explains why I can’t find it as my screen for my sharing service has different info on it. No Account ID, etc…

[cid:image003.png@01D60362.E36DA3A0]

I’m missing something here or not understanding,
Kirk

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Craig Treasure<mailto:notifications@github.com>
Sent: Thursday, M

[2020-03-26 15:41] krishjan05 commented on #51000
I am following the steps in https://docs.microsoft.com/en-us/azure/dev-spaces/get-started-netcore

[2020-03-26 15:46] dagiro commented on #50998
@Matusa69 Thanks for reaching out, I am looking into this and will provide a resolution shortly

[2020-03-26 15:47] farah-alyasari commented on #50473
Hi @StephaneD62 , could you please let me know if the API call worked after using the Content-Type key?

[2020-03-26 15:47] PramodValavala-MSFT commented on #51000
@krishjan05 Thanks for the question! We will review and get back to you!

[2020-03-26 15:49] craigktreasure commented on #50927
Hmmmm...it looks like you attempted to send a screenshot, but I can't see it.

Everything looks ok on my side. Things are where they should be. The only difference I see is that the "Keys" menu item is now called "Access Keys". Since you're doing the sharing tutorial, make sure you're looking at the Azure Spatial Anchors Resource in the Azure Portal instead of the Azure App Service where you deplo

[2020-03-26 15:49] v-kydela commented on #50928
@GiftA-MSFT - Are you saying it's not ignored in v2?

[2020-03-26 15:55] CodeRevver commented on #50354
I'm getting the same issue

[2020-03-26 15:55] stewalshy opened #51015 "Prevent owners from editing the policy on groups"
Hi,
There are 3 policy options which can be set on groups to define how there membership can be changed once self-serve is enabled.
- This group requires owner approval
- This group is open to join for all users
- Only the owner of this group can add members

The option to change this policy is provided to group owners. Can this be disabled or at the very least can we block the option to set it to

[2020-03-26 15:55] GiftA-MSFT commented on #51013
@ram-suresh please check out [this resource (step 3 - Step 5)](https://medium.com/@k.giguz/end-to-end-chatbot-creation-in-node-js-with-bot-framework-v4-qna-maker-1f3a396a387d) on how to customize the bot template. Thanks.

![image](https://user-images.githubusercontent.com/51332022/77667304-632e3800-6f58-11ea-800e-f06c488149a9.png)

[2020-03-26 15:56] mrbullwinkle commented on #41892
Apologies that this at open this long. We have updated the doc to include the reference to the official opencenus-python repo to make this easier for customers in the future. The change is merged internally and will go-live later today.

[2020-03-26 15:56] mrbullwinkle commented on #41892
#please-close

[2020-03-26 15:56] #41892 closed

[2020-03-26 15:58] Ryan165 commented on #51007
@PramodValavala-MSFT Thank you

[2020-03-26 15:58] gmantri opened #51016 "Explanation of "automatic" property"
When creating an indexing policy, there's a property called "automatic" which can have a value of either true or false. I am not able to find the purpose of this property.

Can somebody please explain what exactly does this property do?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1c7d0e0-b932-085e-6816-0b2219a1f37b

[2020-03-26 15:59] kcovert commented on #50927
Attached picture this time. Still looking around to try and find Account ID. I don’t think this would be my kcovert56@outlook.com<mailto:kcovert56@outlook.com> account ID. That would be bad if I had to embed my Azure credentials in my app.

From: Craig Treasure <notifications@github.com>
Sent: Thursday, March 26, 2020 11:50 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: kcover

[2020-03-26 16:03] mattchenderson commented on #50511
You can call any ARM API with a managed identity. In this case, I Imagine you’re looking for https://docs.microsoft.com/en-us/rest/api/cosmos-db-resource-provider/DatabaseAccounts/ListKeys

You'll want to make sure the resource you're requesting for that call is `https://management.azure.com/`

[2020-03-26 16:04] olivergrimes commented on #50908
@mike-urnun-msft Thanks!  A quick update, the portal is now using the updated certificate, however I didn't see a cluster upgrade.  I guess this makes sense given the cluster is now configured with common name, therefore no longer being configured with a new certificate thumbprint at renewal.

It looks like adding a new, later expiring certificate to the VMSS vault "just works", in which case I th

[2020-03-26 16:04] #50908 closed

[2020-03-26 16:07] jochenvanwylick opened #51017 "Can you show how to do this in ARM?"
Can you please provide an example how to deploy a CA cert through ARM ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e20660e-86ff-b872-628b-4b61c2bb63fe
* Version Independent ID: 6e7a2f4d-207b-2c9d-675c-c7b1c26bb39d
* Content: [Add a custom CA certificate - Azure API Management](https://docs.microsoft.com/en-us/azur

[2020-03-26 16:11] craigktreasure commented on #50927
It looks like you're replying from emails and it appears that images don't come through that way.

[2020-03-26 16:13] MarileeTurscak-MSFT commented on #50992
@jelalanne
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-26 16:14] MarileeTurscak-MSFT commented on #50994
@hostmatic
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-26 16:14] MarileeTurscak-MSFT commented on #51006
@eparizzi
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-26 16:16] MarileeTurscak-MSFT commented on #51015
@stewalshy
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-26 16:17] GiftA-MSFT commented on #50808
@darshats hope the above response clarifies your question. Will now proceed to close the thread. Thanks.

[2020-03-26 16:17] #50808 closed

[2020-03-26 16:18] BharathNimmala-MSFT commented on #50973
@rockboyfor  Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-03-26 16:18] asergaz commented on #50843
Hello @bigdimboom I would like to be sure that you looked at the [Azure Kinect Body Tracking Samples](https://github.com/microsoft/Azure-Kinect-Samples/tree/master/body-tracking-samples) and couldn't find what you were looking for? As described [here](https://docs.microsoft.com/en-us/azure/kinect-dk/about-azure-kinect-dk#azure-kinect-body-tracking-sdk):

**Azure Kinect Body Tracking features**
The

[2020-03-26 16:21] #50732 closed

[2020-03-26 16:21] pplavetzki opened #51018 "Uses of Etcd..."
Does the Cosmos DB support of the Etcd API only usable as K8S state store, or can it be used for other needs such as consensus for a Hyperledger Fabric cluster?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4425bdd9-918b-224d-f905-d7ed25cd9878
* Version Independent ID: e5f2fdfb-1405-60bc-3e5c-59953090a4f7
* Content: [

[2020-03-26 16:24] kcovert commented on #50927
Must be virus filtering on your Exchange server. The attached is an attempt to spoof it. You will need to change the file extension back to .png.  If that doesn’t work you can see the picture from m OneDrive here  https://1drv.ms/u/s!Aow_OnBrOlnk1dNpTGoIWWf1xXDZEA?e=2zcp2V

From: Craig Treasure <notifications@github.com>
Sent: Thursday, March 26, 2020 12:11 PM
To: MicrosoftDocs/azure-docs <azure-d

[2020-03-26 16:27] MonikaReddy-MSFT commented on #51014
@joshmouch , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-03-26 16:29] craigktreasure commented on #50927
Your email replies are relayed through GitHub. They don't go directly to others through email.

I was able to see the screenshot on OneDrive. It is as I thought. You are looking at the Azure App Service where you publish your Asp.NET Core application. You need to look instead at the Azure Spatial Anchors resource in the Azure Portal. Please follow the instruction [here](https://docs.microsoft.com/

[2020-03-26 16:30] Ayanmullick commented on #49908
The document should specify that the **diagnostics extension** can enable all but **boot diagnostics**.

[2020-03-26 16:31] mbiver opened #51019 "Error when exporting Cert"
I'm getting an error when trying to export the certificate.  The specific line is "$cert = new-object System.Security.Cryptography.X509Certificates.X509Certificate2($filePathForCert)"

and the error I'm receiving is
new-object : Exception calling ".ctor" with "1" argument(s): "The system cannot find the file specified."

Has anyone actually been able to get this line to work?  Thanks!

---
#### Do

[2020-03-26 16:31] kylehayes commented on #33157
When will it be rolling out? I've run into this issue as well and it is really a big issue not being able to configure or make any changes from Portal once you've run into it.

[2020-03-26 16:33] DeveloperBeginner opened #51020 "2 ways to upload file to blob storage (using DeviceClient and BlockBlobClient)"
I have noticed that there are 2 ways to upload a file to blob storage:
1. Using device client object (as mentioned in this page)
    client.uploadToBlobAsync(fileName, inputStream, streamLength, new FileUploadStatusCallBack(), null);
2. Using BloblBlobClient (as mentioned in https://docs.microsoft.com/en-us/java/api/overview/azure/storage-blob-readme?view=azure-java-stable#upload-a-blob-from-a-str

[2020-03-26 16:37] tfitzmac commented on #50911
I have submitted an update to change the table headers to consistent terms. It will get published today.

[2020-03-26 16:37] tfitzmac commented on #50911
#please-close

[2020-03-26 16:37] #50911 closed

[2020-03-26 16:40] timsander1 commented on #51016
Hi @gmantri,

I'm linking that doc here: https://docs.microsoft.com/en-us/azure/cosmos-db/index-policy#indexing-mode

You should leave automatic to its default "true" value. This will allow documents to automatically be indexed at the time of write/update.

[2020-03-26 16:41] DjinnTonic commented on #46725
Which API key are you using?
Also, did you do anything like [changing the TLS version](https://stackoverflow.com/questions/51381267/connection-test-failed-when-trying-to-add-an-azure-function-as-an-output-sink-to) or changing the storage of secrets to File from Blob?

[2020-03-26 16:42] kcovert commented on #50927
That’s what I was missing, found them now, thanks Craig. I been working off this page https://docs.microsoft.com/en-us/azure/spatial-anchors/tutorials/tutorial-share-anchors-across-devices?tabs=VS%2CAndroid#download-the-sample-project

From: Craig Treasure <notifications@github.com>
Sent: Thursday, March 26, 2020 12:30 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: kcovert <kc

[2020-03-26 16:44] craigktreasure commented on #50927
@BhargaviAnnadevara-MSFT, this issue has been resolved and can now be closed.

[2020-03-26 16:45] kcovert commented on #50927
Yes it may be closed and thanks again,

Kirk

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Craig Treasure <notifications@github.com>
Sent: Thursday, March 26, 2020 12:44:40 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: kcovert <kcovert1@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [Mic

[2020-03-26 16:46] AshokPeddakotla-MSFT commented on #50927
@kcovert Thanks for the confirmation.
@craigktreasure Thanks for the quick resolution.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-26 16:46] #50927 closed

[2020-03-26 16:50] Roblarson commented on #50911
Thanks

Robert Larson
Senior Domain Delivery Architect
Security and Infrastructure
Microsoft Services
Cell: 281.827.9083

From: Tom FitzMacken <notifications@github.com>
Sent: Thursday, March 26, 2020 11:38 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Robert Larson <Robert.Larson@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Con

[2020-03-26 16:54] solankisamir commented on #50803
@ketan-chawda-msft that has to be a entire new documentation. Please ask customer to report at aka.ms/apimwish.

[2020-03-26 16:55] cijothomas commented on #51014
@joshmouch Unfortunately there is no option to turn it off in any of the stable SDKs released. This is treated as a high priority privacy bug, and addressed.  The fix will be released in the upcoming stable release (beta already available) where the default will be to NOT collect full SQL Query.

An announcement regd. this will be made by next week on this with details and instruction to turn this

[2020-03-26 16:56] mbiver commented on #51019
So I found that my error is being generated because the System.Security assembly isn't loaded.  Once I ran this command "Add-Type -AssemblyName System.Security"  I was then able to successfully run the command "    $cert = new-object System.Security.Cryptography.X509Certificates.X509Certificate2($filePathForCert)"

Everything else was then able to run correctly and I can see the certificate in the

[2020-03-26 17:00] mrbullwinkle commented on #41902
The linked example has been added to the official docs. The change is merged internally and will go-live later today. Thanks for bringing this to our attention!

[2020-03-26 17:00] mrbullwinkle commented on #41902
#please-close

[2020-03-26 17:00] #41902 closed

[2020-03-26 17:00] BharathNimmala-MSFT commented on #50996
@jean-PierreP Thank you for bringing this to our notice , we will work to fix the document accordingly.

[2020-03-26 17:06] farah-alyasari commented on #50473
#reassign:philmea

[2020-03-26 17:08] gmantri commented on #51016
Thanks @timsander1. One followup question: So what happens if I set this property to false? Will the documents not indexed in that case?

[2020-03-26 17:11] z2alam commented on #41184
I think our customer-support either missed this thread or hasn't gotten chance to respond.
There was a regression that affected ~40 tenants.
80% affected tenants are fixed now.
Rest will be fixed today around ~3PM PT.
If your issue isn't resolved yet, then please share your tenantId, I can look into it urgently.
Thanks,

[2020-03-26 17:11] himanshusinha-msft commented on #50998
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-03-26 17:11] skeet70 opened #51022 "KeyVault Error responses page should reflect the actual API REST responses"
This page currently isn't very useful when writing error handling code that interacts with the API.

The common structure of errors that come back from the actual service seems to be `{ "error": { "code": "Unauthorized" | ???, "message": "Human readable message about problem" } }`. More documentation about the possible error codes and possible other error structures (seems like sometimes something

[2020-03-26 17:12] mrbullwinkle commented on #50687
looping in @DawgFan as his team is working on expanding our capabilities in these areas and may want to touch base.

[2020-03-26 17:14] TomArcherMsft commented on #48803
UPDATE: We are currently migrating this content, so it will be a few days before I can look into this issue.

[2020-03-26 17:16] emratha opened #51023 "AADSTS700005 Not Documented"
We are getting the following error when trying to authorize a partner center with microsoft: AADSTS700005: Provided Authorization Code is intended to use against other tenant, thus rejected.  We are getting this error when trying to authorize with users that have global admin access.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2020-03-26 17:17] eastcoastoilfan commented on #41184
Not sure i"ll publically share my tenant ID......do you have any documentation to link to about this outage/issue?

[2020-03-26 17:22] z2alam commented on #41184
Sorry, please create a support-request, and we will pick it up urgently.

[2020-03-26 17:22] abjoseph opened #51024 "This document is Out-Dated, Not helpful as a result."
Specifically, I'm referring to the screen shots from the section marked "View and analyze the Application Gateway access logs", it's outdated and does NOT reflect the current log screens in the portal. Also, in the section marked "Possible problem causes", it lists possible issues, one of which states "Your application cannot handle cookie-based affinity", what does even mean??? and there is not e

[2020-03-26 17:24] NavtejSaini-MSFT commented on #51018
@pplavetzki We are checking and we will get back to you.

[2020-03-26 17:24] NavtejSaini-MSFT commented on #50993
@wudong We are checking and we will get back to you.

[2020-03-26 17:26] MarileeTurscak-MSFT commented on #50929
There can sometimes be a delay after activation, which is noted here: https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/pim-how-to-activate-role?tabs=new#use-a-role-immediately-after-activation

In case of any delay after activation, follow these steps after you activate to use your Azure AD roles immediately.

1. Open Azure AD Privileged Identity Management.

[2020-03-26 17:26] #50929 closed

[2020-03-26 17:34] iampeterdaniels commented on #46560
I'm also overwhelmed by the options and name changes.  Power Automate, Azure Automation, Flow, Logic Apps, Azure Functions.  This page could use a little love. :)

[2020-03-26 17:35] YutongTie-MSFT commented on #49742
@rurounijones
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-03-26 17:36] SaurabhSharma-MSFT commented on #51023
@emratha Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-03-26 17:36] zhenlan commented on #50988
The Azure Functions example on the Azure App Configuration GitHub repo has bee updated to use v3 and FunctonsStartup. Please see my comments in the issue below for more details.

https://github.com/Azure/AppConfiguration/issues/221#issuecomment-602113631

[2020-03-26 17:37] SaurabhSharma-MSFT commented on #51022
@skeet70 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-03-26 17:41] Kentcomp opened #51025 "What is PSH?"
Are you using PSH as shorthand for PowerShell or it an acronym for something else? If it's shorthand only this page and another about What's New in AD FS 2019 use it. No one on docs.microsoft.com else uses it (see https://docs.microsoft.com/en-us/search/?search=PSH&category=All&category=All)  If it is shorthand please define it before using it such as PowerShell (PSH)

---
#### Document Details

⚠

[2020-03-26 17:43] vhorne commented on #50025
done. Should be live this afternoon.
#please-close

[2020-03-26 17:43] #50025 closed

[2020-03-26 17:49] D-Moonesinghe opened #51026 "Classic subscription administrator roles (is a misnomer)"
'Classic' is a term that is most often used with Azure Service Manager (ex: Classic portal etc).
In this context it seems to be used in another context.  But it is not very clear.    By using the term 'classic' are you meaning to say this only exists with earlier versions?  Or else why use the term.  Why not call it simply 'subscription administrator roles'.  I think clarification would be very he

[2020-03-26 17:49] SaurabhSharma-MSFT commented on #50794
@linusjody Have you created a support ticket for this ?  I suggest you to please open a [Azure Support Ticket](https://aka.ms/azsupt) so that Identity Support engineer can check further on this issue. In case you limitations in your support plan to open support ticket please let me know.

[2020-03-26 17:53] BharathNimmala-MSFT commented on #50987
@FSharpCSharp Thank you for your feedback, i have assigned this issue to our document author @dsindona to further evaluate the feedback and update the document accordingly.

[2020-03-26 17:54] collinstevens opened #51027 "Note for samplingExcludedTypes on applicationInsights is incorrect"
The [note here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#applicationinsights) incorrectly states "**Log sampling may cause some executions to not show up in the Application Insights monitor blade. To avoid log sampling, add samplingExcludedTypes: "Request" to the applicationInsights value.**".

The [property table below](https://docs.microsoft.com/en-us/azure/azur

[2020-03-26 17:58] henriquebelotto commented on #50354
I think that the problem is with this storage container.

But good to know that you also have this issue, @CodeRevver

Maybe they should re-open the ticket and investigate or send to someone to investigate it

[2020-03-26 17:59] BigMorty commented on #14130
Can you please open a new issue with the details you included below? That will make it easier for an engineer to look into this issue.

Thanks,
Mike

From: iulianb <notifications@github.com>
Sent: Thursday, March 26, 2020 8:27 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Mike Morton <Mike.Morton@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs

[2020-03-26 18:01] BharathNimmala-MSFT commented on #50837
@chelseario Thanks again for reaching out to us. I am assigning this to our document author @rboucher to further help to update the image with specific guidelines they have.

Thank you @rboucher for your help on this.

[2020-03-26 18:01] MarileeTurscak-MSFT commented on #50433
Hybrid will be available with the next version of Win 10.

Also, for Azure AD Registered you don't sign into the machine using Azure credentials.  But you can provision a security key for the work account and then use it with supported apps.

Hope this helps!

[2020-03-26 18:01] #50433 closed

[2020-03-26 18:02] Mike-Ubezzi-MSFT commented on #50831
@srdan-bozovic-msft Is there additional clarification you can provide with regard to `platform upgrade` ? @stevestein for awareness.

[2020-03-26 18:11] BharathNimmala-MSFT commented on #50718
@evmimagina Hope the above information helps. At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries/feedback please tag us in your reply and will be more than happy to reopen the thread and continue the conversation. Thank you

[2020-03-26 18:18] mrbullwinkle commented on #49093
@trask any thoughts on this one. We can update the docs, but just wanted to see if you had any additional feedback.

[2020-03-26 18:21] JnHs commented on #50986
Hi there -
You should be able to call the template as you are doing and pass your own parameters - use **$resourceGroupName = “rgName”** and syntax such as the following:

$params =@{
    Name = 'deployment1';
    Location = 'westeurope';
    TemplateUri = 'https...';
    TemplateParameterUri = 'example'
}

Let us know if you run into further issues!

[2020-03-26 18:21] SumanthMarigowda-MSFT commented on #50740
@ali-elgabri one policy per account, 100 rules max, each rule can have up to 10 prefixes defined

[2020-03-26 18:23] Karishma-Tiwari-MSFT commented on #50908
Thanks for sharing the update.

[2020-03-26 18:23] mrbullwinkle commented on #48739
Thank you for helping us to improve the docs. We are tracking this internally. This item is currently on our backlog, but we will hopefully have it taken care of soon.

[2020-03-26 18:25] SubhashVasarapu-MSFT commented on #50649
@yinoa , Appreciate your patience. BGP route propagation was renamed to Virtual network gateway route propagation.
![image](https://user-images.githubusercontent.com/44890829/77682430-f13c0a00-6fbc-11ea-8040-c99ec1199076.png)
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-03-26 18:25] #50649 closed

[2020-03-26 18:38] kennethvs commented on #50929
Thanks Marilee!

[2020-03-26 18:40] SubhashVasarapu-MSFT commented on #50686
@xtellurian , Appreciate your patience. Here is the list of [headers](https://docs.microsoft.com/en-us/azure/frontdoor/front-door-http-headers-protocol#front-door-to-backend) added by Azure Front Door to backend.

[2020-03-26 18:41] evmimagina commented on #50718
@BharathNimmala-MSFT , it didn't help. Still same issue,

I put the PIN but inmediately it requests a login again;

![image](https://user-images.githubusercontent.com/56918327/77683712-1880e000-6f99-11ea-96a1-851ed115c955.png)

I use my Azure credentials but it fails, kind of endless loop;

![image](https://user-images.githubusercontent.com/56918327/77683817-482fe800-6f99-11ea-887c-568df4e5ed0a.pn

[2020-03-26 18:42] mrbullwinkle commented on #47441
Thank you for bringing this to our attention. We have added this to our backlog.

[2020-03-26 18:43] SubhashVasarapu-MSFT commented on #50969
@rtaylor72 , Thanks for your feedback. We have edited the doc accordingly and it would take some time for the changes to get reflected.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.