[2019-05-20 06:41] CHEEKATLAPRADEEP-MSFT commented on #31461
Duplicate of #19726

[2019-05-20 06:45] ChiragMishra-MSFT commented on #31055
@swinarko Thanks for clarifying.
@ElectricLlama I will now proceed to close this issue. Please feel free still to comment.

[2019-05-20 06:45] #31055 closed

[2019-05-20 06:47] dalemyers commented on #31289
Does that mean that the documentation will or will not be improved?

[2019-05-20 06:51] slugerrist commented on #31259
@KetanChawda-MSFT
Ketan, thanks for facilitating this. Since the answer from @spelluru was not confirmatory in nature, I waited a bit to see if we have an answer from Bahram. Nevertheless, thanks @spelluru for your answer.

It also remain unsaid that this information should definitely make its way to the main content in the documented page. Could you please advise so to the content contributors? T

[2019-05-20 06:51] MohitDhingra-MSFT commented on #31318
Hi @markti,

I have followed [document](https://docs.microsoft.com/id-id/azure////active-directory/develop/v2-oauth-ropc) and am able to execute ROPC flow. Below is the screenshot of executing ROPC flow using postman.

![image](https://user-images.githubusercontent.com/47346772/58001408-04f32600-7af9-11e9-892b-f190cd6816ef.png)

Could you check API permissions, and also grant admin consent for the

[2019-05-20 06:53] shashishailaj commented on #31293
@dlduncan Thank you for your contribution on this. We have reviewed the NetDocuments support documentation and updated the details as requested. The changes should reflect within the next 24-48 hours max. as per the next release cycle. We will close this issue now.

Thank you.

[2019-05-20 06:58] #31293 closed

[2019-05-20 06:59] AlexGalvarez commented on #31361
I am using Azure Storage Explorer 1.8.1 but, as a later version, it should work, shouldn't it?

[2019-05-20 07:01] simon-jun commented on #31482
Well it's a direct question about the sample application.
Anyway, I posted it on MSDN: https://social.msdn.microsoft.com/Forums/en-US/163addf2-fbbe-47bc-8162-a4356e42a8ca/how-to-use-machine-learning-results-for-further-actions-web-service?forum=MachineLearning

[2019-05-20 07:05] shashishailaj commented on #31271
@frobnitzz  We appreciate your contribution . We have updated the documentation . We will close this issue now.

[2019-05-20 07:05] #31271 closed

[2019-05-20 07:07] lambodar opened #31697 "How to enable enable Accelerated Networking in VMSS?"
I tried this but it didn't work, invalid or unknown key.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 744c0642-d2d6-1db2-a208-d39777129d70
* Version Independent ID: 6cf61e7f-f58a-e738-bb3f-cc8a69ce3d24
* Content: [Use Terraform to create an Azure virtual machine scale set](https://docs.microsoft.com/en-us/azu

[2019-05-20 07:13] dcbrown16 opened #31698 "Renewal notification"
Can we please add info to confirm the existence/specification of renewal notification emails for Azure App Service domains?
There is a 3rd party blog claiming that we get them below, but any details of when they are sent and to whom would be great info to add to this doc.
https://heranonazure.wordpress.com/2019/02/11/renewal-notice-from-azure-webapp-domain/

---
#### Document Details

⚠ *Do not ed

[2019-05-20 07:15] janlunddk commented on #17492
Hi @TravisCragg-MSFT

Like @sujithq, I have a need to implement end to end SSL encryption between AppGw and AKS and have spent many hours trying, both with AppGW V1 and V2, ending up 502s (either failing probes or requests not coming through). I can get AppGW to work with SSL termination, and AKS to work with HTTPS/TLS at the load balancer using host headers. But I can't get the re-encryption betw

[2019-05-20 07:36] naveengmc commented on #26983
Hi @AmanGarg-MSFT  It is still not clear from the documentation or this page which RBAC role assignment is necessary to share gallery images within a tenant as well as across tenants. Could you please clarify?

[2019-05-20 07:37] BigBadPhysicist commented on #21968
Issued had been posed and has been solved with an update. Thx for the help.

[2019-05-20 07:49] DashleenBhandari-MSFT commented on #31245
@itanex , I will go ahead and close this issue. Please feel free to reopen if you need any assistance.

[2019-05-20 07:49] #31245 closed

[2019-05-20 07:50] CHEEKATLAPRADEEP-MSFT commented on #31551
@tutul2010 To store the
Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Azure Stream Analytics](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureStreamAnalytics)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2019-05-20 07:52] PramodValavala-MSFT commented on #31480
@leftmostlane We are assigning this issue to the content author for review and to update the doc accordingly.

[2019-05-20 08:00] marinnedea commented on #30890
@timlod - I think the one creating the documentation used the legacy mountpoint /mnt as an example, without taking into account the temporary disk. Not sure if this was because they weren't aware of the temporary disk or for some other reason.. but  /mnt or /mnt/resources (depending on the Linux distro) should be avoided.

@rbavery - you have 2 options here:
1. Change the mountpoint of the tempora

[2019-05-20 08:07] cxputcm opened #31699 "Doesn't initiate"
Hi,  the sample doesn't initiate the first turn outside of the emulator. Is there fix for this

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38f6b983-0c19-6439-78df-ea7bdab3f94e
* Version Independent ID: 15dc8197-fed8-a94f-4143-2799d5e6a002
* Content: [Multi-turn conversations - Azure Cognitive Services](https://docs.

[2019-05-20 08:07] syedhamjath commented on #31190
Yeah, it some times really confusing with the naming standards of
Microsoft. If you see in your screen shot, for SQL server the blade is to
set SQL server admin not active directory admin in that case it should
display as SQL server admin. Labeling it as active directory admin is
completely misleading. Anyway, please ignore that.

Thanks
Syedhamjath Syedmansur

On Wed, May 15, 2019, 12:51 PM Chira

[2019-05-20 08:12] ManojReddy-MSFT commented on #31696
@frobnitzz Thanks a lot for reporting this. I have updated the doc and it will be published shortly.

Thanks again.

[2019-05-20 08:12] #31696 closed

[2019-05-20 08:13] AshokPeddakotla-MSFT commented on #27022
@robinsh Jimaco Brannian updated the doc. Please see: https://github.com/MicrosoftDocs/azure-docs-pr/pull/75729/commits/95da23b9eda233044ae8d47cacdfd84d491daddf

[2019-05-20 08:16] CHEEKATLAPRADEEP-MSFT commented on #31529
@NileshGule The sqoop create-hive-table command may not support the --schema option.
You may try the below cmdlet to import data from SQL Server to hive table:
`sqoop import --connect "jdbc:sqlserver://sqlserverurl;databaseName=sqoop;user=sa;password=<your-sql-password>" --table w3c --hive-table w3c_sqoop --create-hive-table --hive-import -m 1`

For more details, refer “[Sqoop – Importing data int

[2019-05-20 08:16] tutul2010 commented on #31551
Thanks for response.
For small analysis, taking to much time. :)
Plseas , #close

[2019-05-20 08:16] #31551 closed

[2019-05-20 08:28] DashleenBhandari-MSFT commented on #31698
@dcbrown16 , Thanks for raising the issue.
If you have auto-renew enabled for your azure app service domain, you do not need to take any action.

We partner with Godaddy for custom domains and Godaddy documentation says:

You can set your domain names to automatically renew upon expiration, and Godaddy will attempt to renew them and bill your credit card if the renewal is successful.

Automatic Re

[2019-05-20 08:33] ChiragMishra-MSFT commented on #31134
@melzoghbi As of now, IRs are not supported for Azure Gov Region - "US Gov Texas". Hence you are unable to use it.
For troubleshooting the issue, please refer [this doc](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-register-provider-errors).

For a list of Products available by region, please refer[ this doc](https://azure.microsoft.com/en-in/global-infrastructure

[2019-05-20 08:33] #31134 closed

[2019-05-20 08:34] #31517 closed

[2019-05-20 08:36] RohitMungi-MSFT commented on #31699
@cxputcm Thanks for your feedback. Could you please provide more information about the issue like where is the multi turn conversation not initiated? Is it in your QnA bot?
@diberry Could you please confirm if this is the same issue as [31126](https://github.com/MicrosoftDocs/azure-docs/issues/31126)?

[2019-05-20 08:37] AshokPeddakotla-MSFT commented on #31161
@avinashchadalavada Please check the above response and let us know if that answers your queries.

[2019-05-20 08:49] frobnitzz opened #31700 "Exclude event ID 5?"
Hi,

Why should event 5 be excluded, is it an expected error? Just doing some troubleshooting with objects not updating and I want to rule out the event as a possible cause.

A brief summary of the event is "ConnectorErrorHandler.HandleErrorError - Error in connector service host: 'System.ServiceModel.CommunicationException: An error occurred while transmitting data."............ "System.IO.IOExce

[2019-05-20 08:55] DixitArora-MSFT commented on #31527
@d-h-morrison Agree. Purpose of Connection string–Primary key and Primary key can be documented under Get management credentials section which explain the usage of copying these keys.

[2019-05-20 08:56] jurjenoskam commented on #31369
This might be related to something I've run into this weekend. When the user is a member of more than ~5 groups *and* the access token is obtained via the implicit grant flow, Azure Storage will return a 401 error. The only exception appears to be when the user has direct permissions on the blob container, instead of via a group.

@kartee87: you could try granting the user you test with the role o

[2019-05-20 08:56] PramodValavala-MSFT commented on #31346
@dcbrown16 You are right. Thanks for catching that!

I have raised a PR to address this. The same should reflect in a couple of hours.

[2019-05-20 08:57] #31346 closed

[2019-05-20 08:58] KetanChawda-MSFT commented on #31528
@d-h-morrison Can you please confirm if your question is related to the [referenced](https://docs.microsoft.com/en-us/azure/service-bus-relay/relay-hybrid-connections-protocol) document? if not please provide a link to the correct document.

In Hybrid Connection, the `usermetadata` is a placeholder to store user-defined `string` data for the hybrid connection endpoint. For example, it can be used

[2019-05-20 09:02] KetanChawda-MSFT commented on #31533
@lesomnus Created a PR to update the note with command in the doc. Thank you for pointing this out.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-20 09:02] cxputcm commented on #31699
when you run the bot in the emulator it sends the user welcome message 'Welcome to the QnA Bot' . If you publish it to Azure and use anything related to the direct line channel(even the Azure test Environment) the bot doesn't send the welcome message. It doesn't send it when embedded either. I haven't tried it with Teams. There seems to be a difference between the emulated BOT and the way its host

[2019-05-20 09:03] cxputcm commented on #31699
31126  - its a linked issue but not the same

[2019-05-20 09:03] #31533 closed

[2019-05-20 09:10] axatix commented on #15575
any update for this topic? We received questions from many clients how it is handled for Availability zones, which are now available in a  lot of regions

[2019-05-20 09:12] benc-uk opened #31701 "Scary wording"
I've had several customers think that this networking approach is not recommended, based on the statement in the second paragraph:

"This approach requires more planning, and often leads to IP address exhaustion or the need to rebuild clusters in a larger subnet as your application demands grow."

I think this is needlessly off-putting and scary. It's leading my customers towards thinking that Azu

[2019-05-20 09:14] KrishnaG-MSFT commented on #31356
@lightupdifire AFAIK it is supported.
@MGoedtel Can you also pls confirm ? and consider updating the content source IF required ?

[2019-05-20 09:17] crmhh opened #31702 "Restrict access to Azure AD administration portal"
I think here is a mistake. Imho the correct explanation should be "Setting this option to Yes prevents users from accessing Azure Active Directory."

Here is the tooltip in the portal:
"No lets a non-administrator use this Azure AD administration portal experience to access Azure AD resources that the user has permission to read, or manage resources they own. Yes restricts all non-administrators f

[2019-05-20 09:19] vrishni commented on #31350
Custom logic which sits on top of multiple QnA KB’s like of (city/region/country/global) etc. then based upon score you can select your response. I hope this helps!

[2019-05-20 09:25] #31256 closed

[2019-05-20 09:26] angoyal-msft commented on #31256
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-20 09:30] smoms opened #31703 "Route Leaf Device clarification"
In the "Declare Route" section can you please clarify what is meant for  "leaf devices" route? Is it that a leaf device, through the SDK can directly send messages to $edgeHub without implementing any module for it? If yes, can you point out to some examples?
Also can you please clarify as "no output" in the statement: "Any device-to-cloud message sent by a module or leaf device through some or no

[2019-05-20 09:38] ackava opened #31704 "ReadOnly vs Read_Only"
You have mentioned two different options, "Read_Only", "ReadOnly" for Application Intent, are both correct? Again, how to verify if we are connected to ReadOnly?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 418c8458-948a-4549-fbaa-90a17cd345ee
* Version Independent ID: b5635e09-241c-0eea-61cd-bfef388af124
* Content:

[2019-05-20 09:41] KetanChawda-MSFT commented on #31289
@dalemyers The [documentation](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local#non-http-triggered-functions) holds true for time trigger as well.

You call the following administrator endpoint to trigger non-HTTP functions:

[code]
To pass test data to the administrator endpoint of a function, you must supply the data in the body of a POST request message. The message bo

[2019-05-20 09:42] dalemyers commented on #31289
Yes, I understand the documentation and I can see how it is done (and have indeed got it working successfully), my point is that the documentation is very difficult to find. This information could be put somewhere better.

[2019-05-20 09:49] KetanChawda-MSFT commented on #31289
@ggailey777 any thoughts here?

[2019-05-20 09:49] TristankMS opened #31705 "Supported Linux Operating Systems list purpose unclear"
Under "Supported Linux Operating Systems", there's a list of Linux distro versions. https://docs.microsoft.com/en-us/azure/azure-monitor/platform/log-analytics-agent#supported-linux-operating-systems

The top para explains that ALE is OK, but there's no context given for the list - i.e. is the list in addition to the "As of August 2018" statement, or is it identifying version requiring a forked re

[2019-05-20 09:52] ManojReddy-MSFT commented on #31702
@crmhh Thanks a lot for reporting this. You are correct and I have updated the document accordingly.

[2019-05-20 09:52] #31702 closed

[2019-05-20 09:55] Alevale opened #31706 "What else would be needed to add the JS SDK to the Face API"
I created a small library in order to ease up the use of the Face API with Nodejs or with plain client side Javascript.
What would be needed to be added to the library in order for it to become a part of the SDK's that you have here?
This is the library URL https://github.com/Alevale/cognitive-face-js

Thank you very much.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-05-20 09:55] AmanGarg-MSFT commented on #26983
@fluffy-cakes @naveengmc [This](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/shared-image-galleries?WT.mc_id=ITOPSTALK-blog-thmaure#access) talks about the RBAC role that needs to be assigned in order to share the gallery.
As mentioned in the document, you can provide permissions at three different levels:

Shared Image Gallery
Shared Image
Shared Image Version

However it is ad

[2019-05-20 09:57] VikasPullagura-MSFT commented on #31701
@benc-uk Thanks for your feedback. We are checking on this and will respond to you soon.

[2019-05-20 09:58] naveengmc commented on #26983
ah, great. Thanks @AmanGarg-MSFT

[2019-05-20 10:00] AmanGarg-MSFT commented on #26983
You are welcome 😄

[2019-05-20 10:05] angoyal-msft commented on #31343
@cowinr Could you please let me know in which region you are running this script.

[2019-05-20 10:09] Anmolgan81 commented on #31539
Hi @swinarko thanks for your comment, can we get on a skype call so that I can share what kind of package we are running and maybe we can fix this?

[2019-05-20 10:10] cowinr commented on #31343
I left the script as-is, so running in West Europe.

[2019-05-20 10:20] angoyal-msft commented on #31343
@cowinr Thanks for your  confirmation. ZRS is supported in West Europe. There could be some issue with your subscription.

You can refer [this](https://docs.microsoft.com/en-us/azure/storage/common/storage-redundancy-zrs) URL for the same.

For a deeper investigation and immediate assistance on this issue, if you have a support plan you may file a support ticket, else could you send an email to Az

[2019-05-20 10:25] angoyal-msft commented on #31704
@ackava Thanks for your feedback. We are investigating this issue actively and will get back to you soon.

[2019-05-20 10:26] AshokPeddakotla-MSFT commented on #31703
@smoms Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-20 10:28] lightupdifire commented on #31356
Hello,
Maybe good to add rest, like Windows 10 Home? Windows 8.1? etc.

[2019-05-20 10:33] thecpshah opened #31707 "Number of published ierations"
How many iterations can be published? I was under the impression that only one iteration can be published. However, I have currently trained 6 iterations and I can publish all 6.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 021ecbd2-8976-64a4-ca95-0009a1c02692
* Version Independent ID: 47011e64-0198-6fac-cd07-0334f35

[2019-05-20 10:47] AshokPeddakotla-MSFT commented on #31697
@lambodar Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-20 10:52] shashishailaj commented on #31322
@aszalacinski We are engaging the author on this for providing further clarification .

[2019-05-20 10:53] shashishailaj commented on #31322
@navyasric could you please take a look at the issue and provide some clarification on this?

[2019-05-20 10:54] #31075 closed

[2019-05-20 10:57] AshokPeddakotla-MSFT commented on #31700
@frobnitzz Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-20 10:58] jakaruna-MSFT commented on #31701
@benc-uk Thanks for your feedback.
We have seen some customers creating a /24 subnet and deploying the AKS cluster there.
with 3 nodes itself that subnet will be exhausted.

Regarding the tone, i let the content author decide on it.

@iainfoulds Please provide your comments

[2019-05-20 11:00] CortalUX commented on #31473
Yep I identified that in the api documentation, but I think this should be
in the documents.

On Mon, 20 May 2019, 07:18 RohitMungi-MSFT, <notifications@github.com>
wrote:

[2019-05-20 11:06] jakaruna-MSFT commented on #31697
@lambodar Can you try with this parameter?
https://www.terraform.io/docs/providers/azurerm/r/virtual_machine_scale_set.html#accelerated_networking

[2019-05-20 11:20] Saphirim commented on #31173
I'm really sorry about the delay here!

Our company-network was within the whitelisted sources (more specific the external IP(s) of our company proxy). But the Proxy was blocking traffic on the MongoDB-Port non the less.
That's obviously why our connections timed out and we were not able to talk to the database.

We had to change our firewall regarding these connections and now everything works as

[2019-05-20 11:28] lightupdifire opened #31710 "Testing steps"
Hello,
Using MFA Administrator portal, can we change manually from Enabled to Enforced user MFA status?
We have some users, were status not changing from Enabled to Enforced, the Sing-in activity present for last month business working days, MFA expire set to 5 days. Or maybe it is a "known bug" that status not changing from Enabled to Enforced?

---
#### Document Details

⚠ *Do not edit this sect

[2019-05-20 11:38] RohitMungi-MSFT commented on #31707
@thecpshah Thanks for your observation. I have also now noticed that multiple iterations can now be published with the prediction URL linked with that iteration. However, the publish name given during this process should be unique across all published iterations else it would give an invalid name error.

![image](https://user-images.githubusercontent.com/46958063/58018923-d2a9ee80-7b21-11e9-8104-6

[2019-05-20 11:46] RohitMungi-MSFT commented on #31706
@Alevale Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-05-20 11:51] tfitzmac commented on #31526
@IanMercer - I have submitted a change to clarify that the if function is used to test whether the resource is being deployed, rather than whether it exists. There is not a way to test if a resource exists. Typically, you would pass in a parameter that indicates the state of the resource, but it is there something about your scenario that makes it difficult to know before deployment if the resourc

[2019-05-20 11:57] #31526 closed

[2019-05-20 11:59] netapp-bcammett commented on #30437
It does. Thank you.

[2019-05-20 12:01] tfitzmac commented on #31082
@SadiqhAhmed-MSFT or @femsulu - can you move this issue to [https://github.com/Azure/azure-powershell](https://github.com/Azure/azure-powershell) and assign to someone on the Monitor team?

[2019-05-20 12:04] AshokPeddakotla-MSFT commented on #31705
@TristankMS Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-20 12:05] anusha56 commented on #31706
Could you please confirm the methods that you have leveraged is existing in the following link Node SDK?
https://docs.microsoft.com/en-us/javascript/api/azure-cognitiveservices-face/?view=azure-node-latest.

[2019-05-20 12:08] Alevale commented on #31706
Not all have been created.
I'll take a further look to the implementation I've done, and try to implement all the missing ones.
Thank you for your feedback

[2019-05-20 12:09] AshokPeddakotla-MSFT commented on #31710
@lightupdifire Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-20 12:24] frehnejc commented on #31694
If you could point out the minimum version eg 1803 that would be great.

[2019-05-20 12:32] ehrnst opened #31711 "Control egress/outgoing IP for all services in the cluster."
As I understand the doc, services on an internal LB gets a random Azure IP address when communicating out. I would like to have my services running on an internal LB, but still, be able to control what external address I use. I am comfortable running a single IP-address for all services communicating out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-05-20 12:35] SeriousM commented on #30332
Any updates on this issue?

[2019-05-20 12:39] thecpshah commented on #31707
@RohitMungi-MSFT Thank you for your reply. One more question: what is the best way to use CustomVision.AI for "develop/qa/deploy/iterate"?  My understanding is either of the two below:

1. Build a general model, test and publish without access to the model
2. Build a compact model, export and deploy in a different prod environment

With regards to option 1, do we have a choice to publish/deploy th

[2019-05-20 12:43] SirJewDanielBerg commented on #31472
@georgewallace Hello, and, thanks for the extra info.
Yes, clarifying that would be great, as, for example, I am a global admin and an Owner on the only subscription in this Azure tenant, so, knowing that I didn't have to do all of that would have been nice. I guess it's the User themselves that needs to have these permissions so as to create the automation account, and not the automation account

[2019-05-20 12:44] SirJewDanielBerg commented on #31474
@georgewallace Hi there. Sad that the auto-start isn't being implemented, that would have been so useful...

My only concern was whether absolutely everything in this solution was needed or not in terms of cost. Other tutorials posted online don't point to the need for a logs and analytics workspace account or such as far as I've seen.

Thanks.

[2019-05-20 12:45] SirJewDanielBerg opened #31712 "Figuring out which type of account is needed"
Hi.

It'd be helpful if this page would include information on how people could tell if they need a classic run as account for their resources or an ARM one.

The best way I know to do this is to look on the resource page and see if I have a "Classic" written next to any of them...

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-05-20 12:46] PramodValavala-MSFT commented on #31382
@Jacob-Strickland Thanks for catching that! It seems that step was missed when upgrading the doc for the [newer app registrations experience](https://developer.microsoft.com/en-us/identity/blogs/new-app-registrations-experience-is-now-generally-available/).

I have raised a PR for this and the same should reflect in a couple of hours.

We will now proceed to close this thread. If there are further

[2019-05-20 12:46] #31382 closed

[2019-05-20 12:47] lciocci commented on #31399
Hi Adam,

Yes, I could use some help with this. Blob storage can have an unlimited number of containers. Currently there's a limit to the number of blob storage life cycle rules that can be implemented.  Will there be some implementation of life cycle rules where the number of rules ultimately matches the number of containers?

[2019-05-20 12:52] YaraZakaria opened #31713 "Create an azure function V1"
I want to target the .NET Framework 4.7.2 using Azure Functions. I understand that this is impossible using the second version of Aure functions but it is doable with V1.
I'm using VS 2019 and when I create an Azure Function it is by default V2 targeting .NET CORE. When I try to change that in .csproj I get an incompatibility in packages and it doesn't run.

How can I create an azure function V1 t

[2019-05-20 12:56] PramodValavala-MSFT commented on #31448
@gotgenes Since there are a couple of updates required on this doc as mentioned in the other issues, we are assigning this issue to the content author to include these changes as part of their update.

[2019-05-20 12:58] annabarh commented on #30836
the rolling window is only applicable to the default sign-in frequency.As for the having two different places for the setting: these are different settings even though they are related. The inactivity timeout is a per app setting as it requires the app to detect that user is being inactive. Does it make sense?

[2019-05-20 12:59] YaraZakaria opened #31714 "Create Azure Function V1 in VS 2019"
I want to target the .NET Framework 4.7.2 using Azure Functions. I understand that this is impossible using the second version of Aure functions but it is doable with V1.
I'm using VS 2019 and when I create an Azure Function it is by default V2 targeting .NET CORE. When I try to change that in .csproj I get an incompatibility in packages and it doesn't run.

How can I create an azure function V1 t

[2019-05-20 13:00] msrini-MSFT commented on #31476
@mcurko Do you have any update for me?

[2019-05-20 13:22] jberezanski-mdg opened #31715 "What happened to "az ml image" commands?"
The earlier (preview) versions of the CLI extension contained commands for manipulating the Docker images (e.g. "az ml image create container"). This was very useful, because it made it possible to decouple the time consuming task of building the image from the actual deployment to a compute target and allowed verification of the image prior to deploying to production.

In the latest version, the

[2019-05-20 13:27] blueelvis opened #31716 "Is Swapping disabled on the Containers?"
Hi,

I am trying to create a swap space manually in the container instance using the Shell provided in the portal but I am not able to create it. Is swapping disabled in ACI?

Thanks,
Pranav

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff247151-29f6-4a55-61b2-e5eae2d48927
* Version Independent ID: 159517fe-202c-967d-

[2019-05-20 13:28] KetanChawda-MSFT commented on #31714
@YaraZakaria Thank you for your feedback! We will review and provide an update as appropriate.

[2019-05-20 13:31] blueelvis commented on #31358
@CHEEKATLAPRADEEP-MSFT - Thanks! But, is it possible that my source control is hosted on say Bitbucket
 or say a random source control system which supports `GIT` and I would like to integrate the data factory assets to be written to this, is it possible?

[2019-05-20 13:31] KetanChawda-MSFT commented on #31713
Since this issue is duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/31714, I am closing this out and will continue working with you on the other issue.

[2019-05-20 13:31] #31713 closed

[2019-05-20 13:31] jishnudantu commented on #31414
@arduppal I tried using storage explorer v1.5.0 in the same domain but with no luck. Also, when you mean name of the IoT Device do you mean the name given in IoT Hub or the name of the VM?

[2019-05-20 13:32] salimfadhley opened #31717 "Could you add a note about how to update the image?"
If I've published a new image, what is the procedure to update the running service so that it has pulled the new image and restarted but without changing the IP address or any other networking settings?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c06ec64b-fd1c-892d-88cf-e1c8fa66473a
* Version Independent ID: 9a57446

[2019-05-20 13:50] anusha56 commented on #31706
Thanks @Alevale . The above package is part of the Azure SDK (https://github.com/Azure/azure-sdk-for-node).

[2019-05-20 13:53] oscarzamora opened #31719 "Please add alias on where clause"
If you could please add the alias for the last containment query "ge", "gu".

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9b65f64-c521-3799-b833-9ac27213e927
* Version Independent ID: 0d6e2a8b-043b-7cdd-4e19-82c03c803c16
* Content: [Azure Database for PostgreSQL – Hyperscale (Citus) (preview) quickstart](htt

[2019-05-20 13:54] blueelvis commented on #31168
@VikasPullagura-MSFT -- Oh ok. Looks like it is not supported from the portal. I think we should add the steps to change the environment variables using this. Do you mind if I take a stab at this?

Also, it seems that this is only possible through the AZ Cli and not even using the PowerShell commandlets? I don't see a commandlet to output the YAML file.

[2019-05-20 13:58] tiagocostapt commented on #30887
Max IOps and Throughput are also outdated...

[2019-05-20 14:14] duckie commented on #30997
Hello

I am using  `OpenLogic:CentOS-CI:7-CI:latest`

Best

[2019-05-20 14:14] YaraZakaria commented on #31714
@KetanChawda-MSFT
Noting that I tried to uninstalled the Microsoft.Azure.WebJobs.Extensions.ServiceBus 3.0.3 (the default package which was when i created the project) and which was causing the conflict. I installed instead Microsoft.Azure.WebJobs.ServiceBus 2.3.0.

Now when I run the project I don't get errors or conflict warning, it runs but does nothing. So I tried with nothing but the default

[2019-05-20 14:18] j-martens commented on #25117
@YutongTie-MSFT - please assign to new PM, @vijetajo

[2019-05-20 14:19] j-martens commented on #25637
@YutongTie-MSFT - please assign to new PM, @vijetajo

[2019-05-20 14:19] j-martens commented on #26921
@YutongTie-MSFT - please assign to new PM, @vijetajo

[2019-05-20 14:20] TranKennyK opened #31720 "Get All Moderation Results Through Review API"
Using a moderation job, is there a way to save all the Moderation API results (isRacy, isAdult, racyScore, adultScore, hasFaces, etc.)?

It seems I am only receiving the results relevant to the specified workflow (i.e. my workflow condition depends on output of hasFaces, so I only recieve back value of hasFaces).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-05-20 14:20] squasta opened #31721 "Incorrect command to get Kubernetes endpoint IP address"
The writer of this article as probably done an alias k=kubectl on its workstation :)

The following command in this page will not works correctly unless you change "k get endpoint" with "kubectl get endpoint"

# Get the IP address of API server endpoint
K8S_ENDPOINT_IP=$(k get endpoints -o=jsonpath='{.items[?(@.metadata.name == "kubernetes")].subsets[].addresses[].ip}')

---
#### Document Details

[2019-05-20 14:26] rimman commented on #31173
#please-close

[2019-05-20 14:32] ponja01 opened #31722 "Is it needed to configure OMS Linux agent for custom logs anymore?"
I wonder is there a need to do any configuration on OMS Linux agent for custom logs anymore? Or all what is required is on this page, i. e.  no need for configuration file in /etc/opt/microsoft/omsagent/&lt;workspace&gt;/conf/omsagent.d ?
If custom log config file is required, what is correct syntax lets say for tomcat catalina.out?

---
#### Document Details

⚠ *Do not edit this section. It is re

[2019-05-20 14:34] ManojReddy-MSFT commented on #30437
@netapp-bcammett We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-05-20 14:34] #30437 closed

[2019-05-20 14:35] vimauro opened #31723 "FAQ link broken"
Hi team,
the FAQ hyperlink for the question "Can I configure an OAuth 2.0 authorization server with AD FS security?" is currently missing .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b45736d2-b0f4-05c3-8e2f-fde88f53b61a
* Version Independent ID: f6c4d89a-1cc5-3e2a-6a3c-3b292cecead7
* Content: [Azure API Management

[2019-05-20 14:41] diberry commented on #31699
@cxputcm @RohitMungi-MSFT To be clear, QnA Maker is successfully returning the correct response (yes?), and the bot builder code to manage multi-turn has been added (yes?), but the bot middleware in this particular channel, is not working with multi-turn, yes?

[2019-05-20 14:43] mrdfuse opened #31724 "Workaround for count problem should be mentioned here"
Hi,
it took me a while to discover that for using count in a conditional block, there is a workaround to follow which I found described here: https://docs.microsoft.com/en-us/azure/architecture/building-blocks/extending-templates/conditional-deploy#example-template
As this is the reference documentation for conditions in ARM templates, I think this should be mentioned here, or at least linked to.

[2019-05-20 14:50] bellowman commented on #31308
How is this not directly related to the Doc? This is a question on Parquet files which this document is about?

[2019-05-20 14:54] cxputcm commented on #31699
yep, I cant  analyse it fully as its working fine in the emulator  so I suspect that  there aren't any functional issues with the code on the sample. I've just tested another sample "Adaptive Cards" and this wont send its opening message either. Has a change been made in the way these are invoked ?

[2019-05-20 14:55] squasta opened #31726 "Error in CIDR in command az aks update with --api-server-authorized-ip-ranges option"
The result of the following command is a error message "--api-server-authorized-ip-ranges should be list of IPv4 addresses or CIDRs"
az aks update \
    --resource-group myResourceGroup \
    --name myAKSCluster \
    --api-server-authorized-ip-ranges 20.42.25.196/32,172.0.0.10/16,168.10.0.10/18

172.0.0.0/16 or 168.10.0.0/18 are more correct CIDR that do not generate error message

---
#### Docum

[2019-05-20 14:57] andremaree opened #31727 "BulkImportAsync() not working as expected"

[2019-05-20 15:00] marcelotpcosta commented on #31334
fyi. I made a new installation, now with with IIS 8.5 and works well

[2019-05-20 15:00] rangv opened #31728 "Spelling mistake"
2. You will see a list of workflows tha

"tha" -> "that"

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b651f2c-f149-4616-9f02-12b064a1b989
* Version Independent ID: 41ba41f4-03e5-b267-9a52-8290b30dfbec
* Content: [Build workflows with the Azure IoT Central connector in Microsoft Flow](https://d

[2019-05-20 15:06] mrbullwinkle commented on #29917
@stewartadam I have updated the samples to use `opencensus-ext-ocagent` which resolves the issues you were seeing. The changes are merged internally and will go live later this afternoon.

I spoke with the lead engineer working on `opencensus-ext-azure`. We aren't ready quite yet to officially announce the new extension even though it is certainly possible to follow the project's early development

[2019-05-20 15:08] squasta opened #31729 "Confusing content"
"To use the authorized IP range functionality, a public IP address is exposed on the node pool by deploying a basic NGINX service"
==&gt; can you give more details ? by default on AKS there is no basic NGNIX pod running with a public IP address. If you are talking about Ingress Controller, it's not enabled by default (add on http routing that is not recommended for production deployment).

"The AP

[2019-05-20 15:09] AmanGarg-MSFT commented on #29917
Thank you Michael.

[2019-05-20 15:09] #29917 closed

[2019-05-20 15:15] msamb92 commented on #25273
Hi all,

I have the same problem when trying to mount ADLS Gen2 to DBFS with this commande :

**configs = {"fs.azure.account.auth.type": "OAuth",
           "fs.azure.account.oauth.provider.type": "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider",
           "fs.azure.account.oauth2.client.id": clientID,
           "fs.azure.account.oauth2.client.secret": keyID,
           "fs.azure.

[2019-05-20 15:20] roygara commented on #31488
@acrov  thanks for reaching out, we appreciate it. I didn't find anything that actually denotes the max size limit in our documentation. So I will reach out to the product team and try to get confirmation on the actual size limit. I'll let you know what I hear back and update the doc accordingly.

[2019-05-20 15:21] mrbullwinkle commented on #31084
The PR to correct this issue in the docs has been merged internally. It will go live in the public docs later this afternoon.

@MicrosoftDocs/azure-cxp-triage #please-close

[2019-05-20 15:22] diberry commented on #31699
@cxputcm

This behavior difference is a known issue: https://github.com/microsoft/BotFramework-Emulator/issues/643

A workaround for directline/WebChat is described here: https://blog.botframework.com/2018/07/12/how-to-properly-send-a-greeting-message-and-common-issues-from-customers/

[2019-05-20 15:24] #31084 closed

[2019-05-20 15:29] JoeRistine opened #31731 "Availability of this feature in Azure Portal"
"Portal access will be supported before service is generally available."

This product is now generally available, but I don't see this feature in the portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aebf4602-3354-6007-e9ac-f19232352733
* Version Independent ID: 2667dae9-3a83-4360-ec76-2bee619fadcb
* Content: [Az

[2019-05-20 15:30] bertrandpons commented on #31281
@MartinJaffer-MSFT thank you for your help. I posted a suggestion [here](https://feedback.azure.com/forums/34192--general-feedback/suggestions/37692376-data-factory-activity-output-deciding-the-color)

[2019-05-20 15:30] diberry commented on #31699
#please-close

[2019-05-20 15:37] vitomaz-msft commented on #31386
@NonlinearMusings 'Member wins' it's a conflict resolution policy that only will be used in case there is a conflict (change on both sides).

Sync is triggered at the same time for all the members, this means that change enumeration will happen at the same time for all the members. It may take 2 syncs for the data to flow from one member to another.

Since all the members are trying to enumerate c

[2019-05-20 15:39] AshokPeddakotla-MSFT commented on #31711
@ehrnst Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-20 15:41] AshokPeddakotla-MSFT commented on #31712
@SirJewDanielBerg Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-20 15:43] MicahMcKittrick-MSFT commented on #31717
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-20 15:44] MicahMcKittrick-MSFT commented on #31721
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-20 15:44] MicahMcKittrick-MSFT commented on #31726
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-20 15:45] MicahMcKittrick-MSFT commented on #31729
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-20 15:46] Alberto-Vega-MSFT commented on #31727
Hi @andremaree Thanks for reaching out! Would you please provide the link for the document page that you are referring to? Also would you please provide more detail about this issue?

[2019-05-20 15:47] AshokPeddakotla-MSFT commented on #31715
@jberezanski-mdg Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-20 15:49] AshokPeddakotla-MSFT commented on #31716
@blueelvis Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-20 15:50] rysweet commented on #31330
yes, thank you. Notably the next article does have the cleanup section, and says something like "if you want to continue with the other quickstarts, do not clean up these resources..." - you could insert a similar section here.

Thank you.

[2019-05-20 15:50] #31330 closed

[2019-05-20 15:51] AshokPeddakotla-MSFT commented on #31719
@oscarzamora Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-20 15:51] Alberto-Vega-MSFT commented on #31728
Thanks @rangv I will create a PR with the fix

[2019-05-20 15:52] tfitzmac commented on #31424
@elentar - I ran some tests and I am not seeing that behavior. With a local parameter file and inline parameters, the inline parameters always took precedence. I am using New-AzResourceGroupDeployment. Was there anything unique about your scenario, like relying on default values for parameters or referencing secrets from a Key Vault?

[2019-05-20 15:55] jakaruna-MSFT commented on #31426
@gbellmann Thanks for reporting.
Many api versions are supported for availablity sets as shown [here](https://docs.microsoft.com/en-us/azure/templates/microsoft.compute/allversions#resource-types-and-versions).

I will raise a PR to update the doc with same api versions.

[2019-05-20 16:00] alexsab1 opened #31732 "Outdated information in the Service Limits table"
The information about custom domains for Consumption Plan is outdated. It is now possible to create custom domains for Consumption Plan. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06436739-8586-23b1-6b69-1960e93c26be
* Version Independent ID: 8f7abfae-cf6d-56cb-1d20-f02041a6f6d9
* Content: [Azure Functio

[2019-05-20 16:00] MicahMcKittrick-MSFT commented on #31188
@Anbukugan I updated the doc and increased the default timeout period from 3 minutes to 5 which seems to have fixed the error in my tests.

I will close this out but if you are still having issues after increasing the timeout period just let me know.

[2019-05-20 16:00] #31188 closed

[2019-05-20 16:01] MicahMcKittrick-MSFT commented on #31484
I will close this for now. If you are still having issues please open a new comment directly on the doc you are having problems with and we can investigate further.

[2019-05-20 16:01] #31484 closed

[2019-05-20 16:02] MicahMcKittrick-MSFT commented on #31520
@nganjisbi I will close this for now. If you are still having issues just let me know and we can always reopen and continue the discussion.

[2019-05-20 16:02] #31520 closed

[2019-05-20 16:02] MartinJaffer-MSFT commented on #31280
The product group has been made aware.  I will update this when I have more information.

[2019-05-20 16:02] MicahMcKittrick-MSFT commented on #31683
@biocatch-providers I will close this for now. If you are still having issues please open a new issue directly on the doc you are referring to and we can continue.

[2019-05-20 16:02] #31683 closed

[2019-05-20 16:02] bertrandpons commented on #31280
Thank you

[2019-05-20 16:03] iainfoulds commented on #31726
What version of Python are you running? There looks to be an underlying issue with Python 2.7 such that the latest Azure CLI 2.0.64 generates this error. Python 3-based CLI systems (recommended) correctly run this command.

[2019-05-20 16:03] MicahMcKittrick-MSFT commented on #31729
#31721
#31726
#31729

[2019-05-20 16:03] MicahMcKittrick-MSFT commented on #31726
#31721
#31726
#31729

[2019-05-20 16:04] MicahMcKittrick-MSFT commented on #31721
#31721
#31726
#31729

[2019-05-20 16:04] georgewallace commented on #31712
@SirJewDanielBerg Thanks for all the great feedback lately.. In regards to this issue, I don't want to get into too many details in our docs on how to deal with other resources, as those topics can change.. Would it be helpful is I inserted a link in there that pointed to https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-deployment-model where the folks that manage the

[2019-05-20 16:05] iainfoulds commented on #31701
@benc-uk Thanks for the feedback.

The wording is based on input from the product team and support team. The inverse can be that there are customers not adequately understanding the needs and causing longer-term problems based on the subnet size they specify. This leads to confusion and frustration are there aren't many resolutions.

I'll review this with the PM team next time we update the doc, b

[2019-05-20 16:08] hrfister commented on #30411
After a call the MS O365 service desk, this resolved my issue:

Added two keys:

[HKEY_CURRENT_USER\Software\Microsoft\Office\16.0\Common\Identity]
"DisableADALatopWAMOverride"=dword:00000001

[HKEY_CURRENT_USER\Software\Microsoft\Office\16.0\Common\Identity]
"DisableAADWAM"=dword:00000001

Hope this helps!

[2019-05-20 16:10] #31723 closed

[2019-05-20 16:13] SirJewDanielBerg commented on #31712
@georgewallace Hello George.
I think what I was trying to get at is telling people how to figure out what type of resource they already have in their Azure tenant. If they'd know how to find that out, then they'd be able to figure out if they need a classic run as account (if their resources are classic) or an ARM based on. This wouldn't be about telling them what resources they need, but them fig

[2019-05-20 16:14] SirJewDanielBerg commented on #31712
@georgewallace I forgot to add that I guess my question could be added as a FAQ at the bottom of that page and then this one could link to that one?

[2019-05-20 16:14] MicahMcKittrick-MSFT commented on #31685
@dlepow @dkkapur any idea on this?

[2019-05-20 16:20] oleksandr-bilyk opened #31735 "Avoid "baseball" game sample."
Hello. CosmosDB consistency levels are very interesting topic. However, please, consider to express this, definitely, not obvious topic using some other domestic analogy because 90% of engineers do not know baseball game rules except that players hit the ball. I assume that any sample with shop products ordering or any other domestic sample will be better.

---
#### Document Details

⚠ *Do not edi

[2019-05-20 16:28] AmanGarg-MSFT commented on #31431
@KeiroKamioka0000 Good news! We reached out to the Product team and it seems that the Application Insight Alerts will go GA this week.

We will now close the issue . Should you have any query with Specific Document please open a new ticket providing the reference to the document and tag me on the same and we will help you further on the same.

[2019-05-20 16:28] #31431 closed

[2019-05-20 16:30] MicahMcKittrick-MSFT commented on #31689
@igormusinov yes it is still cached. You can always check for which images are cached as well

https://docs.microsoft.com/en-us/rest/api/container-instances/listcachedimages/listcachedimages

I will close for now but if you have additional questions just let me know.

[2019-05-20 16:33] MicahMcKittrick-MSFT commented on #31690
@igormusinov not sure I am understanding the issue. At which point in this doc are you looking for clarification?

[2019-05-20 16:35] MicahMcKittrick-MSFT commented on #31688
@igormusinov the commands you are running appear to be a bit different than the ones in this doc. What is the output if you follow this doc as written?

[2019-05-20 16:37] MicahMcKittrick-MSFT commented on #31716
@blueelvis can you elaborate on swapping? I am not familiar and I don't see any mention of it in the doc you specified.

[2019-05-20 16:40] MicahMcKittrick-MSFT commented on #31721
@squasta good find! I corrected the doc. One the PR merges the changes will go live after a few hours.

[2019-05-20 16:40] #31721 closed

[2019-05-20 16:42] johnwildes commented on #31735
This might help shed some light on why it was chosen.  It's also referenced in the document? https://www.microsoft.com/en-us/research/wp-content/uploads/2011/10/ConsistencyAndBaseballReport.pdf

[2019-05-20 16:42] sandeepraichura opened #31738 "No documentation about VNET/NIC configuration"
The public documentation for Deep Learning image does not provide details about VNET/NIC configuration.  Please help improve the public documentation as this is attracting new support cases from customers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fcbdad5-24a1-a4a7-4b36-a4fd42935670
* Version Independent ID: 7022

[2019-05-20 16:44] #30911 closed

[2019-05-20 16:45] MicahMcKittrick-MSFT commented on #31726
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-20 16:45] oleksandr-bilyk commented on #31735
@johnwildes OK, Thanks. I see that it is related to the whitepaper.

[2019-05-20 16:45] #31735 closed

[2019-05-20 16:45] himanshusinha-msft commented on #31392
If an ADF which is tied to an IR is deleted , the IR will stay unless we decide it remove that . Deleting an ADF does not drop the IR associated with that .

Since this question is not related the document which was referred , we request you to please post your question on MSDN and other forums , we have our engineers and others who are monitoring them and will be happy to help .

If you have a do

[2019-05-20 16:48] iainfoulds commented on #31726
@MicahMcKittrick-MSFT This is not a doc issue, this is an Azure CLI / Python issue - https://github.com/Azure/azure-cli/issues/9189

[2019-05-20 16:50] Absoblogginlutely commented on #30509
Well there has been some changes to the page 4 days after my initial post, but I think the comment still stands.

At https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/storage/files/storage-sync-files-deployment-guide.md#powershell-1 it stats "Before interacting with the Azure File Sync management cmdlets, you will need to import a dll...."

The steps to get the dll onto your system

[2019-05-20 16:54] markarnolditpro opened #31739 "Does the WAF store data that traverses through?"
I've been asked to confirm for regulatory reasons if the WAF stores any data that passes through it on temporary or permanent storage.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78a96c28-d5fe-4955-3038-2f890174644c
* Version Independent ID: 25946736-314a-7c2a-af8c-3a5be0261757
* Content: [What is Azure web applicat

[2019-05-20 16:54] Adam-Smith-MSFT commented on #31221
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-20 16:55] AshokPeddakotla-MSFT commented on #31723
@vimauro Thanks for the feedback and reporting this. PR has been created to address this issue.

[2019-05-20 16:56] MicahMcKittrick-MSFT commented on #31726
@iainfoulds got it.

@squasta please see the link above and you can follow and chime in there to drive this further.

[2019-05-20 16:56] #31726 closed

[2019-05-20 16:57] cbailiss opened #31740 "DNS Label"
Is there an additional cost for setting the DNS name label?  It would be good to have that made clear on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a911376a-74ea-7c08-9209-24a3b3b2c8b1
* Version Independent ID: 9f6c0306-69b8-308e-e3c8-48d49cd07897
* Content: [Create FQDN for a Windows VM in the Azure por

[2019-05-20 16:57] stgeorgi commented on #31179
Azure AD auth does not suppor space in user name so this is not supported in WVD

[2019-05-20 16:58] #31392 closed

[2019-05-20 17:01] vitomaz-msft commented on #31386
@NonlinearMusings (Correcting b) )
b) If other member has changes in the same row, member value will be updated in the hub (member wins), overriding any update from previous sync'ing member.

[2019-05-20 17:01] YutongTie-MSFT commented on #25637
@j-martens  Hi Josee, I can not assign this to @vijetajo since he is not a member of this repo. Could you please let him know he need join this repo? I can help to send out a guidance if you could send me his alias.

[2019-05-20 17:04] YutongTie-MSFT commented on #31738
@sandeepraichura Thank you for your feedback, we will investigate it and get back to you soon.

[2019-05-20 17:04] YutongTie-MSFT commented on #31720
@TranKennyK Thank you for your feedback, we will investigate it and get back to you soon.

[2019-05-20 17:07] YutongTie-MSFT commented on #31379
@marktab Hi Mark, could you please take a look of this issue? Thanks a lot.

[2019-05-20 17:08] cblomart commented on #30836
I get that an app has the finer degree of control over the session. So it makes sense that inactivity is decided there.

I still don’t get what is meant by rolling Windows. Maybe is it less important as we have no control over it (and maybe don’t require it).

You know customer imagination... I dumbly thought that token refresh could be a sign of activity and maybe were involved in the notion of r

[2019-05-20 17:09] Schalkn commented on #31473
What happens after the 1000 profiles are reached? Can it be extended, or do you go over to a different subscription type, ... ?

[2019-05-20 17:11] brbell commented on #29988
That is correct. "Previous Generation" contains sizes which are still fully supported but it is not the latest version. For example Fv1 is in the previous generation as we do have the latest version Fsv2. This will be the same for Dv2 which we are working thru the process right now.

[2019-05-20 17:12] YutongTie-MSFT commented on #31383
@paul-arthurthiery Hi, I am sorry, this is not supported with REST. I will forward your feedback to product team, at the meantime, I would highly recommend you post your  feedback to[ UserVoice channel](https://cognitive.uservoice.com/), the engineering team will consider your idea seriously. Thank you.

We will now proceed to close this thread. If there are further questions regarding this matter

[2019-05-20 17:12] #31383 closed

[2019-05-20 17:14] YutongTie-MSFT commented on #31417
@krishorrocks
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-20 17:14] #31417 closed

[2019-05-20 17:19] jonels-msft commented on #31546
@jjfrost thanks, I'll test your suggestions and update the docs.

On my machine the default psql `client_encoding` is UTF8, so I overlooked the problem. Just out of curiosity, is WIN1252 the default value on your machine?

[2019-05-20 17:20] mohdabdulhameed542 opened #31744 "Spelling errros"
The word "additional" is spelled wrong in many places especially under "NOTE".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Independent ID: a380a828-03f9-e037-3a62-e4165fda7cb6
* Content: [Administrator role descriptions and permissions - Azure Active Directory](https://

[2019-05-20 17:22] iainfoulds commented on #31142
Sorry you're encountering issues, @sfilipi

It's not actually the case that the SSH key pair must be protected by a password. I can't repro that requirement, and the AKS product team has confirmed that's not a requirement they enforce.

@MicahMcKittrick-MSFT or @Karishma-Tiwari-MSFT Could you provide additional support here as to the specific condition being encountered?

[2019-05-20 17:24] tfitzmac commented on #30911
@sofianemad - I added a link that shows the roles which grant access to different tasks. Let me know if that does not answer your question.

[2019-05-20 17:25] Alberto-Vega-MSFT commented on #31296
Thanks @Zoltango  if someone else comes across this post and they want the same feature they can up vote your idea. Closing this issue now.

[2019-05-20 17:25] #31296 closed

[2019-05-20 17:26] CeciAc opened #31745 "StorageUri http://$storageaccountname.blob.core.windows.net/$storageContainerName/$bacpacFilename"
@remideprez02 commented on [Sun May 19 2019](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/377)

Change http to https

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: 7844350b-f5a2-2c2e-5085-38e65ab41077
* Version Independent ID: a0fd06d7-67fe-3fed-b8b6-2b99cfe09412
* Content: [Exemple Powe

[2019-05-20 17:27] CeciAc commented on #31745
Hi team,
the user is making a suggestion on the original documentation
kind regards

[2019-05-20 17:33] jjfrost commented on #31546
@jonels-msft Great, thanks so much.  Yes, correct, WIN1252 was the default upon install of psql and PostgreSQL client tools on my machine.  My OS is Windows 10 Enterprise (version 1809) and my PostgreSQL client tools version is 11.3 (64 Bit).

[2019-05-20 17:38] iainfoulds commented on #31460
Sorry you ran into issues, @krishjag

You should be able to use PuTTY Gen to create the key pair, however you need to save the key pair in an OpenSSH format. By default, PuTTY saves in it's own PuTTY private key (.ppk) format which doesn't work correctly. I've added a link to one of our docs that outlines options for creating a private key pair, along with a note about needing the key pair to be i

[2019-05-20 17:43] MicahMcKittrick-MSFT commented on #31142
Thanks @iainfoulds

@sfilipi I will close this for now. If you need additional help feel free to ping me offline.

[2019-05-20 17:43] #31142 closed

[2019-05-20 17:47] #31656 closed

[2019-05-20 17:48] #31460 closed

[2019-05-20 17:51] jonels-msft commented on #31719
@oscarzamora can you please provide a little more info about the query you are referring to, and how you would like it to change?

[2019-05-20 17:52] dlepow commented on #30925
Documentation updated with current regional availability/limits. @toddjeaton - thanks again for letting us know.
#please-close

[2019-05-20 17:52] MarileeTurscak-MSFT commented on #31744
@mohdabdulhameed542
Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-20 17:53] arduppal commented on #31414
I don't think it's an issue with the connection string, but rather your network setup.
Looks like a network issue, if the machine from where you are running the Azure Storage Explorer is in the same domain as your IoT device and you are not able to ping it.

Also, for your other question I meant name of the VM.

[2019-05-20 17:55] arduppal commented on #31361
No, currently with the preview build it won't work, as ASE is calling some of the methods we didn't implement. Look at the list of supported methods. Please use Azure Storage Explorer 1.5.0 for this preview build

[2019-05-20 17:59] #30925 closed

[2019-05-20 18:04] shashishailaj commented on #31333
@Neenisharma I do not think the password will be synchronized . The password sync uses a separate engine on-premise and needs to be enabled through Azure AD connect wizard Because when you enable password sync through wizard, the tenant level capability on your tenant gets switched on and tenant starts accepting passwords. So it wont work if you just mark the checkbox on the sync rules to enable p

[2019-05-20 18:04] #31333 closed

[2019-05-20 18:06] charlie-haley commented on #27787
Also interested in support this.. Is there an issue we can track at least?

[2019-05-20 18:06] anavinahar commented on #31693
Thank you! Has been already, but won't go live until EOD.

[2019-05-20 18:11] CeciAc opened #31748 "Used geograhies counter intuitive"
@vdweij commented on [Mon May 20 2019](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/321)

The geography Europe spans regions West Europe and North Europe. The geography name implies the continent Europe or at least a significant part, but there are separate geographies for UK, Germany and France. Confusing naming to say at least...

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerk

[2019-05-20 18:12] CeciAc commented on #31748
Hi team,
the contributor's comment refers to the original documentation
best

[2019-05-20 18:13] SubhashVasarapu-MSFT commented on #31693
@supermistag , We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-05-20 18:13] #31693 closed

[2019-05-20 18:13] ChristianMontoya commented on #31103
@AdamWorkAccount "User is not authorized to query the management service" indicates that your user doesn't have appropriate access to the tenant you provided. Otherwise, results should occur. Can you confirm you've run "Add-RdsAccount" and can run "Get-RdsTenant" which should result the tenant you want to have access to?

[2019-05-20 18:16] iainfoulds commented on #19749
Sorry for the delay on this one. We actually published a doc a few weeks that outlines how to use the Azure CLI to create an Azure AD-enabled cluster - https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration-cli

There was an issue in the Azure CLI in how it was granting permissions. That was resolved a few releases ago, so make sure you're running the latest Azure CLI.

#please-close

[2019-05-20 18:17] tj111 opened #31749 "Document Describes using built object for static method."
Under step 4, the documentation shows using the built client implementation to call the AddOrUpdateAsync method.  In reality, this is a static method that takes the built client subscription property as the first parameter, calling it under the built object will cause an error.

It should look like this:
var subscription = await SubscriptionsOperationsExtensions.CreateOrUpdateAsync(sbClient.Subscr

[2019-05-20 18:17] #27719 closed

[2019-05-20 18:20] mekinney opened #31750 "Multi-turn - Request QnA answer by id"
I've created a multi-turn dialog and when a user chooses a selection, the dialog knows the exact article (because it has the id) to retrieve.  However, the example sends the text on the button for QnA to analyze.  Is there a way to request a specific id?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38f6b983-0c19-6439

[2019-05-20 18:23] antogh opened #31751 "Missing "users" and "groups" tabs in my azure portal"
I'm trying azure api management for the first time.
I was following this sample but in my azure portal page I cannot find "users" and "groups" tabs referenced in this doc web page, so I cannot proceed.
It looks like this doc describes an azure portal version different than the current one

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-05-20 18:28] femsulu commented on #31416
@cdelcambre a PR has been successfully initiated to fix the incorrect registry paths. This will be live shortly. will now close this issue. Thanks again for catching this

[2019-05-20 18:28] #31416 closed

[2019-05-20 18:32] MicahMcKittrick-MSFT commented on #31729
@squasta are you seeing any specific issues while following this doc? Or are you just looking to have a bit more information added?

[2019-05-20 18:32] #29632 closed

[2019-05-20 18:35] MicahMcKittrick-MSFT commented on #31740
Thanks for the question! We are investigating and will update you shortly.

[2019-05-20 18:36] akalypse commented on #29632
If someone comes across the same issue as we had: We have checked with Azure Support and got the hint that the API Management instance does not tolerate any other resources on a custom subnet. This is why other microservices did not get any IP adress assigned from the range of this subnet.

[2019-05-20 18:37] SaurabhSharma-MSFT commented on #31387
@dustingarden We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-20 18:37] #31387 closed

[2019-05-20 18:42] Alberto-Vega-MSFT commented on #31482
@simon-jun Thanks for sharing the link. Closing this issue for now.

[2019-05-20 18:42] #31482 closed

[2019-05-20 18:47] banisadr commented on #31259
@slugerrist apologies for the slow response. This is all with respect to Event Grid schema. Of the top level fields in the Event payload:

- id: Required
- eventType: Required
- subject: Required
- eventTime: Required

- metadataVersion: Not required, but if included, must match the Event Grid Schema metadataVersion exactly (currently only "1"). If not included, Event Grid will stamp onto the even

[2019-05-20 18:48] LastTribunal opened #31753 "Duration.ofMillis()"
When it comes to Coding (same as with Bridge Building), Cultural Marxist garbage will not produce well written code or a stable bridge.  Java's main purpose is to conduct Virtue Signaling and propagate fringe subculture into mainstream, not to produce manageable and provable code

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-05-20 18:49] MicahMcKittrick-MSFT opened #31754 "Same commands but for UnManaged disks is needed."
This doc works great. However it is only for managed disks. We should also have one for unmanaged disks.

A good article on this can be found here:

https://marckean.com/2017/11/11/change-azure-arm-vm-os-disk/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12ea7e90-b545-258a-3bc8-dd840e1c0835
* Version Independent ID:

[2019-05-20 18:49] marroema opened #31755 "System stat backup via PowerShell?"
I see no scripts or cmdlets regarding how to configure System State via PowerShell. Is there any documentation that we could use as guidance to configure SS via PS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8704f4e-aca9-f84e-b5f8-84c0602dc6ec
* Version Independent ID: d8a0b916-91c2-49ac-b5d7-63d8755b7eb2
* Conten

[2019-05-20 18:50] MicahMcKittrick-MSFT commented on #31754
@cynthn created this issue for tracking. We discussed this idea a while back but a few customers think that we should add the commands for unmanaged disks. So we should follow up with PG and consider adding to this doc.

[2019-05-20 18:52] MicahMcKittrick-MSFT commented on #31753
@LastTribunal I don't understand your feedback. What are you looking to have added to this specific document?

[2019-05-20 18:52] #28673 closed

[2019-05-20 18:58] YutongTie-MSFT commented on #31750
@mekinney Thank you for your feedback, we will investigate it and get back to you soon.

[2019-05-20 19:01] Anand-Moghe opened #31756 "Where can I find the supported Audio file formats and extensions for Speech Service"
Based on the information [here](https://docs.microsoft.com/en-us/dotnet/api/microsoft.cognitiveservices.speech.audio.audiostreamformat?view=azure-dotnet), currently C# Speech SDK only support WAV/PCM format.

1. Is  there a road-map available for supporting additional audio/media file formats or the audio file extensions currently supported by C# Speech SDK?

2. And the audio file format/extension

[2019-05-20 19:03] MisinformedDNA opened #31757 "YAML example will not succeed"
There are a couple issues with the presented YAML:

1) "$(System.DefaultWorkingDirectory)/publish_output/s" is not a valid folder - should remove "/s"
2) '$(System.DefaultWorkingDirectory)/$(Build.BuildId).zip' is not a valid file - missing the "build" prefix from the last step.

And a question, why not let the dotnet command do the ZIP instead of doing a separate Archive task?

[code]

---
#### D

[2019-05-20 19:05] LastTribunal commented on #31753
I don't understand why MS needs to bond with the Java subculture..
But if you are looking for a contribution, find where timerIntervalInMilliSeconds is declared.  And then compare to the C# code.  Actually dont bother, because Java is not measurable by merit, but by "how it makes you feel"

[2019-05-20 19:06] ColbyTresness commented on #31533
This command actually isn't necessary anymore with the new extension bundling feature we released at build. So the doc was in fact incorrect, but now is correct as is. I have an open PR on the private docs repo that addresses some other feedback about this doc, so I'd appreciate if we didn't merge this change.

[2019-05-20 19:12] YutongTie-MSFT commented on #31756
@Anand-Moghe Thanks for the feedback, we will investigate it and get back to you soon.

[2019-05-20 19:14] tamram commented on #30887
@roygara - FYI

[2019-05-20 19:28] MicahMcKittrick-MSFT commented on #31753
I still don't understand the issue with the document. I have ran through it and I do not find any issues. If you have any specific feedback on items in the docs that are not working or you are having issues with we are happy to assist.

Simply inform us the problem you are seeing, any repro steps and we can take it from there. Else, if you just have general feedback on a doc that also works. Im cl

[2019-05-20 19:28] #31753 closed

[2019-05-20 19:30] mlimache02 opened #31759 "Hybrid benefit on Service Fabric"
Hello,
Is it possible to use hybrid benefit on Service Fabric cluster for containers?
Thanks in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ef4a337-5ded-458c-9131-fee7a8fa99a6
* Version Independent ID: 094498ab-3275-a114-8d47-1722c1af5388
* Content: [Azure Hybrid Benefit for Windows Server](https://docs.mi

[2019-05-20 19:35] Karishma-Tiwari-MSFT commented on #31759
Thanks for the question. We are currently investigating and will update you shortly.

[2019-05-20 19:39] TravisCragg-MSFT commented on #31540
@justSteve Thanks for the feedback! I have made the change, and it should reflect on the doc within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-20 19:39] #31540 closed

[2019-05-20 19:46] diberry commented on #8247
Is this still an issue?

[2019-05-20 19:46] mrbullwinkle commented on #13959
This has been addressed in the latest update of the doc.

@MicrosoftDocs/azure-cxp-triage #please-close

[2019-05-20 19:50] #13959 closed

[2019-05-20 19:50] Adam-Smith-MSFT commented on #31399
@lciocci the current limit is 100 rules per policy within storage, each rule can be different from the other, however, if you need a distinct rule for each of the containers, if you have millions, it wouldn't be possible in the scenario you've described. I'd highly recommend posting in https://feedback.azure.com/forums/217298-storage as a feedback to the Product team, perhaps to address it in the

[2019-05-20 19:50] #31399 closed

[2019-05-20 19:56] Mike-Ubezzi-MSFT commented on #31745
@CeciAc Thanks for bringing this to our attention. We will make an update as appropriate.

[2019-05-20 19:57] mike-urnun-msft commented on #31757
Hi @MisinformedDNA Thank you for your feedback! We will review and update as appropriate.

[2019-05-20 19:57] TravisCragg-MSFT commented on #20848
@KumudD @malopMSFT This issue was owned by Jim Dial, Assigning you two as you are now the current owner.

[2019-05-20 20:00] #31754 closed

[2019-05-20 20:01] hmayer1980 commented on #30160
I have made myself and example, but I am still not happy about it.
How would I make it dynamic in Waiting a different (configureable) duration for different functions (to have it generic).
Ans How would I implement a retry strategy with this?

![image](https://user-images.githubusercontent.com/7242162/58048273-a6ef2e80-7b4a-11e9-843c-034914f13ba1.png)
I currently use a custom SQL Procedure to "re-

[2019-05-20 20:01] mike-urnun-msft commented on #31751
Hi @antogh Thank you for your feedback! We will review and update as appropriate.

[2019-05-20 20:02] mike-urnun-msft commented on #31749
Hi @tj111 Thank you for your feedback! We will review and update as appropriate.

[2019-05-20 20:03] roygara commented on #30887
@sumptersmartt thanks for catching this, we appreciate it! You're right that the values are incorrect, I'll update them.

@YASWANTHM-MSFT FYI - if you would re-assign this to me, I'd appreciate it. Thanks in advance. :)

[2019-05-20 20:04] mike-urnun-msft commented on #31732
Hi @alexsab1 Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-05-20 20:09] Mike-Ubezzi-MSFT commented on #31745
@CarlRabeler I do not have access to the code examples to make a really simple edit:

![Screenshot (21)](https://user-images.githubusercontent.com/37126106/58048909-7edadd80-7b00-11e9-8a2e-fad3ce52ee07.png)

[2019-05-20 20:10] vladvino commented on #31751
@antogh Please find and click on your API Management instance and you should see the menu items for User and Groups in the API Management section.

[2019-05-20 20:11] iainfoulds commented on #30856
I've created a PR to update the screenshot, however the 'View live data' option is quite different. That option is to view real-time container logs. The option to 'View container logs' remains under 'View in analytics', which lets you query and review the historical log information shown in this doc.

Real-time logs typically require an additional step as most AKS clusters will have RBAC enabled b

[2019-05-20 20:15] okieselbach commented on #12527
Hi @mike-urnun-msft ,

reviving this old thread. I'm really struggling with the Call HTTP implementation on logic apps. As soon as it gets slightly more complex the body "auto-conversion" does something and my calls fails...

![image](https://user-images.githubusercontent.com/26136457/58048704-78be1e80-7b4b-11e9-8c9e-f88ed83b826b.png)

as soon as I use the same encoded values with curl I'm success

[2019-05-20 20:16] clauslund opened #31760 "Lists az cli version 2.0.65 as pre-req but that's not released yet"
is 2.0.65 really a pre-req?
Latest release is 2.0.64:
https://github.com/Azure/azure-cli/releases

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93aa980e-1970-235c-228a-7b19880171b8
* Version Independent ID: 6f7937a4-12e0-d61c-3bd8-c6347ec48385
* Content: [Tutorial - Create an Azure Red Hat OpenShift cluster](https://d

[2019-05-20 20:23] TylerMSFT commented on #31760
Yes, 2.0.65 is required but is not released yet. There is a problem with 2.0.64 that prevents the tutorial from working.

[2019-05-20 20:24] TylerMSFT commented on #31760
#please close

[2019-05-20 20:25] Benjiiim commented on #26077
Hi @priyamohanram,
Any news to share regarding this documentation update?
Thanks a lot.

[2019-05-20 20:27] roygara commented on #30890
@rbavery thanks for reaching out, we appreciate it!

As @marinnedea pointed out (thank you as well, by the way! :D ) this is probably happening because it is mounting to the temp disk. The documentation is currently out of date and we're working to create an up to date version now. We're also working on new guidance right now, actually.

For now, you could use something like //<storage-account-nam

[2019-05-20 20:27] iainfoulds commented on #25339
If you're still having problems here @woodwardmatt, please reach back out.

Otherwise, @jakaruna-MSFT #please-close

[2019-05-20 20:36] aakashi-kapoor commented on #31367
@bt102 Could you please provide us more information on the situations where you believe a service account would need to synchronize to AAD ?

[2019-05-20 20:40] mattyweb opened #31762 "Steps are pretty confusing. Would love a Docker-focused section too..."
I'm assuming the best path for dockerized apps in Azure is to do something like this...

1. Set up some pipeline variables for &lt;YOUR WORKSPACE ID&gt; and &lt;YOUR WORKSPACE PRIMARY KEY&gt;

2. Add that wget command to the Dockerfile

3. Add that service_control restart(?) call to whatever script is getting called when starting the container (BTW, is there a start command? or just restart?)

Any

[2019-05-20 20:41] Karishma-Tiwari-MSFT commented on #15575
@cynthn Please let us now if there is an update on this or if you know of any existing doc on this topic. Thanks. :)

[2019-05-20 20:44] Karishma-Tiwari-MSFT commented on #30997
@duckie @mgraff Also, please provide the link to the documentation, if you are following any, for steps you are taking on Azure portal. If not, screenshots will be helpful to understand it better.

[2019-05-20 20:44] cynthn commented on #15575
@raj-ganapathy-msft Can you work with me on covering how maintenance windows are handled for Availability Zones?

[2019-05-20 20:46] Karishma-Tiwari-MSFT commented on #31179
Thanks @stgeorgi
@tienlx93 We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-05-20 20:46] #31179 closed

[2019-05-20 20:48] #18497 closed

[2019-05-20 20:51] Karishma-Tiwari-MSFT commented on #29632
Fixed with https://github.com/MicrosoftDocs/azure-docs-pr/commit/9d951ee497922d85a0e336646279e31b7115ad95

[2019-05-20 20:55] MarileeTurscak-MSFT commented on #31393
I am assigning this to the content author, @billmath , to look into . If you have further questions feel free to reach out to me on MSDN. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD%2CAzureSecurityCenter%2Cwindowsazureactiveauthentication%2CAzureKeyVault&filter=unanswered%2Cnoreplies&sort=lastpostdesc

[2019-05-20 20:57] Karishma-Tiwari-MSFT commented on #31760
Thanks @TylerMSFT
@clauslund  We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-05-20 20:57] #31760 closed

[2019-05-20 21:00] Alberto-Vega-MSFT commented on #31728
#sign-off

[2019-05-20 21:01] #28847 closed

[2019-05-20 21:01] davidmu1 commented on #31063
According to the engineering team, the published article has the correct set of types. The document on the download site is out of date.

#please-close

[2019-05-20 21:02] davidmu1 commented on #30858
Revised the article to not rely on the missing sample.

#please-close

[2019-05-20 21:02] #30856 closed

[2019-05-20 21:03] rbavery commented on #30890
Ok cool thanks for your help both of you!

[2019-05-20 21:04] Alberto-Vega-MSFT commented on #31728
@viv-liu Would you please review the PR #77260

[2019-05-20 21:05] davidmu1 commented on #28959
#please-close

[2019-05-20 21:06] danebou commented on #27313
@sergaz-msft That's great! That's exactly what we want. So... how do we do that? Is there an SDK or API reference for this?

[2019-05-20 21:11] iteration21 commented on #12292
"query in command must target a single shard key", cannot really save on a partitioned collection while using mongo syntax. please escalate

[2019-05-20 21:15] CarlRabeler commented on #31745
@cecilphillip @Mike-Ubezzi-MSFT update in progress

[2019-05-20 21:19] iainfoulds commented on #31537
@paulbouwer We've got sample repos more aligned to Azure CLI or Azure PowerShell, not so much for a collection of YAML manifests. Agree that this is good to call out, though. The flip side is that I generally try to avoid just pointing people to a manifest in GitHub though, as there's a tendency then to just run the `kubectl apply -f` command not actually look at the contents.

Does this full gist

[2019-05-20 21:25] YutongTie-MSFT commented on #31687
@danielserver86 Thank you for your feedback. I have created a PR to fix it, you should see the change soon.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-20 21:25] #31687 closed

[2019-05-20 21:27] Mike-Ubezzi-MSFT commented on #12292
@iteration21 Transactions that span multiple partitions does not seem to be supported ([Link](https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/6408175-transactions-that-across-a-collection)). Can you please make a product request to Azure Cosmos DB [UserVoice](https://feedback.azure.com/forums/263030-azure-cosmos-db) and detail the specific functionality you are seeking. Thanks

[2019-05-20 21:28] Karishma-Tiwari-MSFT commented on #31313
@tedgoddard
Please check if this doc is helpful [Use a static public IP address with the Azure Kubernetes Service (AKS) load balancer](https://docs.microsoft.com/en-us/azure/aks/static-ip) and let me know.

[2019-05-20 21:29] seantleonard commented on #31239
@shashishailaj thank you for the explanation and update to the documentation.
Before closing, I'd like to see if the following can be clarified from the original issue:

I understand why extension attributes are prefixed with **extension_** however, it is still not clear or mentioned in the documentation, why a GUID is part of the attribute name. I have seen in other StackOverflow/GitHub issues th

[2019-05-20 21:32] Ashera138 commented on #30928
Thank you for addressing this!

[2019-05-20 21:32] #30928 closed

[2019-05-20 21:32] saulcruz opened #31765 "Check-in GitHub button is grayed out"
I've already synced my source control (Git repo). However this repo is empty which is expected. I'm trying to source control one of my runbooks that as of now only exists in my Azure Automation account, however I have not found in the documentation how to do this.

I noticed that the "Check-in" GitHub button was grayed out, did i miss something when setting up my source control?

![image](https://

[2019-05-20 21:32] Mike-Ubezzi-MSFT commented on #31735
@oleksandr-bilyk We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-20 21:32] Grace-MacJones-MSFT commented on #30585
Hi @rohrvy1989 , thanks for your patience. Currently, there is no migration path from an existing application gateway v1  to v2. You would have to create a new v2.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-20 21:32] #30585 closed

[2019-05-20 21:38] jderus opened #31766 "Does the Web UI support qualified name syntax?"
Reading up on cross-database documentation for the language syntax, it seems like it should. EG:
database("&lt;database name&gt;").&lt;table name&gt;

But everytime I try to do that with a selected cluster in the UI, I get an ERROR: Please select a database to execute queries.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-05-20 21:40] frankhu1234 commented on #31744
Thank you for your feedback, we are currently addressing the issue, and the fix should go live within 24 hours. Pull Request : https://github.com/MicrosoftDocs/azure-docs-pr/pull/77262

[2019-05-20 21:40] #31744 closed

[2019-05-20 21:50] don4of4 opened #31767 "Sideload Script Uses Ancient Azure Modules (V3)"
These scripts require a powershell module version that is three years old, and should probably be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be1cbb2c-d2a4-70b9-ae72-d55c0691f519
* Version Independent ID: 3b020e9c-e5e5-20f9-eb01-03b4f3d964b6
* Content: [Test the UI definition for Azure Managed Applications]

[2019-05-20 21:50] MarileeTurscak-MSFT commented on #31513
@jeking3

Python Software Foundation has a guide for this, which you can follow. https://pypi.org/project/O365/#authentication

[2019-05-20 21:51] MarileeTurscak-MSFT commented on #31513
We will now proceed to close this thread. If you have further questions feel free to reach out to me on MSDN or tag me in the comments, and I will gladly continue the discussion. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-05-20 21:51] #31513 closed

[2019-05-20 21:52] YutongTie-MSFT commented on #31481
@basgalupp Hi, could you please send us an email at Azcommunity@microsoft.com with your Azure Subscription ID and the URL of this thread? We would like to look into it with more information.

[2019-05-20 21:55] ggailey777 commented on #5525
@mishas23 since you are using the older version of Functions (v1.x), you are probably best served by posting your question to [the Forum](https://social.msdn.microsoft.com/Forums/home?forum=AzureFunctions) or to [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-functions). We try to maintain the latest set of NuGet package dependencies for Functions v2.x [here](https://docs.microso

[2019-05-20 22:05] ggailey777 commented on #31330
@rysweet you are right, except that we are trying to force customers to go on to the next article. 😁

[2019-05-20 22:05] unacao opened #31768 "Query for an Element by the Array Index Position"
I would like to run a MongoDB query to check if a specific position in an array of CosmosDB has the correct value, equivalent usage: https://docs.mongodb.com/manual/tutorial/query-arrays/#query-for-an-element-by-the-array-index-position
example query: db.inventory.find( { "dim_cm.1": { $gt: 25 } } )
currently the ".1" part does not seem to work in CosmosDB

---
#### Document Details

⚠ *Do not edi

[2019-05-20 22:10] jhhouston opened #31770 "Issues with Call Microsoft Graph API for a Universal widows platform application"
Issues 1:
await DisplayMessageAsync    Does not exist in current context

issue 2
Cliedid is not a Guid

This is supposed to be a plug and chug tutorial I am not sure why these two errors are occurring.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2333c6b-140e-6cc8-91ad-00e47935bc6b
* Version Independent ID: 738f87e

[2019-05-20 22:10] antogh commented on #31751
Thanks @vladvino , here is how the API Management menu appears in my portal , I cannot see the users tab, maybe I'm doing something wrong or I'm just too tired, it's very late, I'll try again tomorrow...

screen capture 👇
[https://imgur.com/MULsbj5](url)

[2019-05-20 22:12] MartinJaffer-MSFT commented on #30160
@hmayer1980 I really appreciate the work you have done.  Very cool.  Hmm, as to how to make the wait duration dynamic, I do have an idea.  I see that you are receiving both an ID and a status from the Azure Function.  If the function was made to also return a wait time, you could base off that.

To clarify, by retry, do you mean wait-and-check-status-again, or start the function over from the begi

[2019-05-20 22:19] prajaybasu opened #31771 "Azure App Service on Linux FAQ needs a disclaimer about WebSockets"
There needs to be a dedicated disclaimer (with appropriate formatting to make it visible) to disable the permessage-deflate extension for WebSockets (as a limitation) that is not language centric (i.e. not Node.js only).

ASP.NET Core or any other language using WebSockets is affected. For example, my Blazor SPA using SignalR seems to be affected by this limitation: aspnet/AspNetCore#10370 - the m

[2019-05-20 22:20] vladvino commented on #31751
@antogh Users and Groups are not available in the Consumption tier (which you are using).

[2019-05-20 22:24] JustinGrote opened #31772 "Programattically Query Paired Regions?"
Is there any API to query for this? az account list-locations doesn't show any information about paired regions. This documentation should include info for how to dynamically obtain what the paired regions are.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a788e4-0130-73f2-d985-6fc3aec77974
* Version Independent ID:

[2019-05-20 22:26] spelluru commented on #31071
@jwargo - In the Prerequisites section, we listed "An active Windows Store account" as a prerequisite. I will see if I should add details to it or a link to another topic that has the details. Thanks.

[2019-05-20 22:28] spelluru commented on #31071
I too see the "Create new app" button. Mine is not a paying subscription either.

[2019-05-20 22:31] codyborn commented on #29787
Hi @Sshetty2, apologies for the delay. I just saw this thread. I highly recommend giving our new VS Code extension a shot: https://marketplace.visualstudio.com/items?itemName=azblockchain.azure-blockchain
This has Truffle built-in with a simple right-click deploy experience.

[2019-05-20 22:34] femsulu commented on #31724
@mrdfuse Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-05-20 22:34] #31682 closed

[2019-05-20 22:36] femsulu commented on #31722
@ponja01 Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-05-20 22:37] cmcapellan commented on #21644
Please re-open. It would help if you updated the documentation to say "public IPs" rather than just answering the OP's question at the bottom of the page.

[2019-05-20 22:37] YutongTie-MSFT commented on #31715
@jberezanski-mdg Hi Jakub, are you mentioning the following commands https://docs.microsoft.com/en-us/cli/azure/image?view=azure-cli-latest#az-image-update ?

[2019-05-20 22:38] femsulu commented on #31755
@marroema Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-05-20 22:39] femsulu commented on #31762
@mattyweb Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-05-20 22:40] femsulu commented on #31765
@saulcruz Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-05-20 22:43] ggailey777 commented on #31682
Good catch @aws-scripting-guy...
Thanks a bunch!

[2019-05-20 22:44] femsulu commented on #31767
@don4of4 Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-05-20 22:49] Alberto-Vega-MSFT commented on #31770
@jhhouston Thanks for reaching out and I'm sorry that you are facing these issues. Would you please share the link to the tutorial you are following?

[2019-05-20 22:49] MartinJaffer-MSFT commented on #31392
If, and only if, you have an Azure-SSIR scenario, where it is both enabled and running, will the deletion of Data Factory be blocked.

[2019-05-20 22:53] TravisCragg-MSFT commented on #31739
@markarnolditpro Are you looking for a specific compliance for Azure Front Door? If so, you can [find more information about compliance in Azure Here](https://www.microsoft.com/en-us/trustcenter/compliance/complianceofferings).

[2019-05-20 22:58] dtec83 opened #31773 "Wrong arg for volume_type in data decryption section"
It has the following command:

Disable-AzVMDiskEncryption -ResourceGroupName 'MyVirtualMachineResourceGroup' -VMName 'MySecureVM' [--volume-type {ALL, DATA, OS}]

It has to be this other one instead:
Disable-AzVMDiskEncryption -ResourceGroupName 'MyVirtualMachineResourceGroup' -VMName 'MySecureVM' [-VolumeType {ALL, DATA, OS}]

In Powershell is needs -VolumeType not --volume-type (This is AZ CLI)

[2019-05-20 22:59] YutongTie-MSFT commented on #31756
@Anand-Moghe Hi Anand, from the release note https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/releasenotes you can learn the details of every update.
Road map here can provide what will be updated in near future https://azure.microsoft.com/en-us/updates/?category=ai-machine-learning

For now, I don't see any plan for that. But I highly recommend you to post your idea in[ Us

[2019-05-20 23:00] mhopkins-msft commented on #31366
@MNF Thanks again for the feedback. I've added links to API reference pages as you suggested.

#please-close

[2019-05-20 23:02] #20138 closed

[2019-05-20 23:03] TravisCragg-MSFT commented on #31731
@JoeRistine I am following up with this now.

[2019-05-20 23:10] SaurabhSharma-MSFT commented on #31411
@VladimirKhvostov Please can you make sure that you have to uncomment the bottom section of the code.
![image](https://user-images.githubusercontent.com/38112130/58057443-ba35d600-7b19-11e9-901d-29543253288b.png)

[2019-05-20 23:15] SaurabhSharma-MSFT commented on #31491
@chludwig-haufe Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-05-20 23:17] stevestein commented on #28941
#please-close

[2019-05-20 23:17] iainfoulds commented on #29158
This PR has been merged.

@MicahMcKittrick-MSFT #please-close

[2019-05-20 23:18] SaurabhSharma-MSFT commented on #31230
@mganeshphani We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-20 23:18] #31230 closed

[2019-05-20 23:18] iainfoulds commented on #29607
A doc update has been merged in the referenced PR.

@Karishma-Tiwari-MSFT #please-close

[2019-05-20 23:20] #29158 closed

[2019-05-20 23:20] iainfoulds commented on #28245
This doc update has been made in a separate PR and changes are live.

@MicahMcKittrick-MSFT @Karishma-Tiwari-MSFT #please-close

[2019-05-20 23:20] KS76 opened #31774 "Is this latest?"
Is there a latest version of this document ?. The screenshots in this document seem to be old.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63bc4d65-6d76-5bb1-49b8-0415c76667f8
* Version Independent ID: bafb894e-abc2-b068-ee53-38c5e20d0740
* Content: [Set up two-step verification - Azure Active Directory](https://doc

[2019-05-20 23:21] Karishma-Tiwari-MSFT commented on #29607
@CapKenR
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-05-20 23:21] #29607 closed

[2019-05-20 23:21] #28245 closed

[2019-05-20 23:24] elentar commented on #31424
I was using Test-AzResourceGroupDeployment. I don't think I tried New-AzResourceGroupDeployment since the test was failing.

I did not use Key Vault. I do have a default value for a couple of parameters. The error I saw was not for the default parameters, but a required parameter that I was trying to pass on the command line. That is, I want to use a remote template, local parameter file, and an i

[2019-05-20 23:40] rbavery commented on #31210
@YutongTie-MSFT ah thanks for the answer. is the geo data science vm also included in the dsvm? https://azuremarketplace.microsoft.com/en-us/marketplace/apps/microsoft-ads.geodsvm

I see that there is an esri publisher with images so I am unsure.

[2019-05-20 23:42] LindaLF opened #31775 "Text doesn't match screen captures"
The text states [Let’s assume that Managed Instance host is mi-demo.xxxxxx.database.windows.net. Run nslookup using the host name.]  There is no reference to [mi-demo.xxxxxx.database.windows.net] in the screen capture shown.  It instead looks like there has been tampering with the screen capture, where &lt;name&gt; has been substituted.
This is then followed by text to indicate removing the [.vnet

[2019-05-20 23:42] rbavery commented on #30571
@Adam-Smith-MSFT @timlod the issue is being tracked here and hopefully should be fixed soon

[2019-05-20 23:44] YutongTie-MSFT commented on #31210
@rbavery Hi Ryan, the Azure Geo AI Data Science VM (Geo-DSVM) delivers geospatial analytics capabilities from Microsoft's Data Science VM. Specifically, this VM extends the AI and data science toolkits in the Data Science VM by adding ESRI's market-leading ArcGIS Pro Geographic Information System. More information you can get: https://docs.microsoft.com/en-us/azure/machine-learning/data-science-vi

[2019-05-20 23:47] SaurabhSharma-MSFT commented on #31321
@jberg-ppi Thanks for your feedback.  I am checking this internally with the product team and update you once I have any updates.

[2019-05-20 23:49] SaurabhSharma-MSFT commented on #29235
Thanks @valnav
@ckarras Hope this helps ! We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-20 23:49] #29235 closed

[2019-05-20 23:58] JustinGrote opened #31777 "Behavior of multiregion Resource Groups during location failure"
Neither this documentation nor the DR cover what happens during the period after a failure but before MS has decided to failover to the peer datacenter, as what happened in South Central.

So I know Azure Resource Groups can contain resources from multiple regions, and that they failover with a peered region in a result of a failure, however as we well know from the South Central incident, it migh

[2019-05-21 00:03] Karishma-Tiwari-MSFT commented on #31506
@VaSquirrel This is because NVMe storage isn’t network attached. Because the storage isn’t network attached this means that the NVMe disks are local to the host, so if the VM moves to another host in the Azure Environment then the data will be lost. The same applies if you power down the VM and deallocate it. As soon as the VM is deallocated, any data stored on the NVMe disks is lost.

[2019-05-21 00:03] #31506 closed

[2019-05-21 00:09] Alberto-Vega-MSFT commented on #31774
Hi @KS76 Thanks for reaching out. Would you please provide the link to the document you are referring to?

[2019-05-21 00:10] MarileeTurscak-MSFT commented on #31773
@dtec83
Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-21 00:12] TravisCragg-MSFT commented on #31731
@JoeRistine This feature has been replaced by [Web Application Firewall for Azure Front Door](https://docs.microsoft.com/en-us/azure/frontdoor/waf-overview). Although Azure Front Door is generally available, WAF For Front Door is still in Public Preview, with some portal functionality.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in

[2019-05-21 00:12] #31731 closed

[2019-05-21 00:14] Karishma-Tiwari-MSFT commented on #31519
If a Pod is stuck in Pending it means that it can not be scheduled onto a node. Generally this is because there are insufficient resources of one type or another that prevent scheduling. Look at the output of the `kubectl describe pods ${POD_NAME}` command. There should be messages from the scheduler about why it can not schedule your pod.

One of the reason could be, you don’t have enough resourc

[2019-05-21 00:14] Karishma-Tiwari-MSFT commented on #31519
@kristianjaeger If a Pod is stuck in Pending it means that it can not be scheduled onto a node. Generally this is because there are insufficient resources of one type or another that prevent scheduling. Look at the output of the `kubectl describe pods ${POD_NAME}` command. There should be messages from the scheduler about why it can not schedule your pod.

One of the reason could be, you don’t hav

[2019-05-21 00:16] MarileeTurscak-MSFT commented on #31773
Thanks for catching this! I've created a pull request which should go live in 24 hours. https://github.com/MicrosoftDocs/azure-docs-pr/pull/77336

[2019-05-21 00:16] #31773 closed

[2019-05-21 00:17] Mike-Ubezzi-MSFT commented on #31775
@LindaLF Thank you for bringing this to our attention. We are evaluating this doc issue and will make an update as appropriate.

[2019-05-21 00:20] Alberto-Vega-MSFT commented on #31423
@marcelohsilva Are you still facing this issue? Did you installed cocoapods as described in the tutorial? Also are you opening the project in Xcode by opening the .xcodeproj file instead of the .xcworkspace file?

[2019-05-21 00:22] Mike-Ubezzi-MSFT commented on #31775
@srdan-bozovic-msft and @CarlRabeler If there are is a screen capture and text you would like to have updated, CxP is happy to do the pull request. We have limited/no access to images and code samples and are limited to text-based updates only.

[2019-05-21 00:25] Mike-Ubezzi-MSFT commented on #31768
@unacao Thank you very much for the inquiry. We are investigating and will update you when we have accurate information.

[2019-05-21 00:28] Mike-Ubezzi-MSFT commented on #31766
@jderus Thank you very much for the inquiry. We are investigating and will update you when we have accurate information.

[2019-05-21 00:28] Dave76 commented on #31278
Did you add the startup class and register the service?

[assembly: FunctionsStartup(typeof(Startup))]
namespace Your.Name.Space
{
    public class Startup : FunctionsStartup
    {
        public override void Configure(IFunctionsHostBuilder builder)
        {
            builder.Services.AddSingleton<ITimestampService,
LocalServerTimestampService>();
        }
    }
}

On Mon, May 20, 2019 at 2:1

[2019-05-21 00:30] Alberto-Vega-MSFT commented on #31415
@bhjolly Thanks again for taking the time to provide your feedback. If you create an entry in the user voice please feel free to share it here for future reference so others can up-vote it and help the product team to prioritize this. Also I will be raising your feedback internally.

[2019-05-21 00:32] KeiroKamioka0000 opened #31778 "How to see the used capacity for SQL DW?"
Hello, is it possible to see the used storage capacity for SQL DW with including the backup?

I assuming that it is possible with the following query but not sure with the backup.
Thanks

DBCC PDW_SHOWSPACEUSED (Transact-SQL)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4f77b03-42c2-2191-a0d1-d017ce795663
* Version

[2019-05-21 00:33] #29744 closed

[2019-05-21 00:34] #30169 closed

[2019-05-21 00:34] #31126 closed

[2019-05-21 00:47] paulbouwer commented on #31537
@iainfoulds I understand that it is easier to view the code block (yaml) inline and read through it without having to download it first. My concern though, is when these code blocks are large and embedded in an already large document. This can increase the visual noise in the document.

I feel that the same people who will read the code block inline (instead of simply cut+paste without looking) wi

[2019-05-21 00:50] Mike-Ubezzi-MSFT commented on #31778
@KeiroKamioka0000 Thank you very much for the inquiry. I have assigned this to an engineer with the databases service area to investigate and update your inquiry.

[2019-05-21 00:52] MikeChristensen opened #31779 "Is there a way to remove a secondary certificate using PowerShell?"
I'd like to remove a cert, but it isn't listed in the portal.  Is there a way to remove it with PowerShell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30fab368-8a51-14d6-1775-defa5f0ff04f
* Version Independent ID: a8fbbe3d-063a-d6c9-b61d-1ebcfcaa1422
* Content: [Manage certificates in an Azure Service Fabric cluste

[2019-05-21 01:13] mkreynoso commented on #30693
+1

[2019-05-21 01:24] Sshetty2 commented on #29787
@codyborn that's great, I just gave this a shot. I was able to deploy my contract to the network and I received a mnemonic. I am guessing that I use the mnemonic to generate a contract address through Meta Mask. Please confirm.

[2019-05-21 01:40] DianeHadley opened #31780 "Typo: "and" should be "an""
Current: "This includes creating outbound connectivity when using and internal Standard Load Balancer."

Should be: "This includes creating outbound connectivity when using an internal Standard Load Balancer."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a96406ce-2ffc-cdb3-1234-5154ccd5cc76
* Version Independent ID:

[2019-05-21 01:43] Mike-Ubezzi-MSFT commented on #31768
@unacao Additionally, we would like to request your instance name so we can investigate directly. Is this possible? If so, can you send the MongoDB API instance details to [AzCommunity](mailto:azcommunity@microsoft.com) and we can figure out what is occurring. Thank you!

[2019-05-21 01:43] dianehadley27 commented on #31780
"Type" should be "Typo". The irony is not lost on me :)

[2019-05-21 02:04] HuaTang92 opened #31781 "Sample Script for changing failover priorities doesn't work"
Changing script as below works for me:
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 851ce48c-fd0a-bc1d-5f2e-1d96005c99ec
* Version Independent ID: 70420d4e-e75d-cd11-1bbc-dd8474101e36
* Content: [Azure PowerShell script - Change failover priority for an Azure Cosmos account](https://docs.microsoft.com/en-us/azu

[2019-05-21 02:06] markarnolditpro commented on #31739
@traviscragg-MSFT not specifically.  Our own internal policies restrict the unintended spread of IP and PII.  As long as the WAF inspects the traffic as it passes through, never saving it to permanent storage we should be fine.

[2019-05-21 02:13] jaredpritchard7 opened #31782 "More detail needed to find account name and key for Azure storage connection string"
Instructions say to:
To create a connection string for your Azure storage account, use the following format. Indicate whether you want to connect to the storage account through HTTPS (recommended) or HTTP, replace myAccountName with the name of your storage account, and replace myAccountKey with your account access key:

With no detail about where to find the Account Name / Key. I understand the p

[2019-05-21 02:15] AshokPeddakotla-MSFT commented on #31771
@prajaybasu Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-21 02:23] AshokPeddakotla-MSFT commented on #31781
@HuaTang92 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-21 02:29] AshokPeddakotla-MSFT commented on #31361
@AlexGalvarez We hope your query is addressed. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-21 02:29] #31361 closed

[2019-05-21 02:35] AshokPeddakotla-MSFT commented on #31779
@MikeChristensen Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-21 02:36] YuichiTorigoe opened #31783 "P50/S50/E50 managed disk size"
I checked the size of P50 for managed disk.

I think the size of P50/E50/S50 is correct the 4,096 GiB

Could you confirm it ?

-- Pricing

https://azure.microsoft.com/en-us/pricing/details/managed-disks/

 -&gt; P50 = 4TiB = 4096 GiB

Best Regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cd6eb6c-745c-b3eb-8ea8-7

[2019-05-21 02:39] AshokPeddakotla-MSFT commented on #31772
@JustinGrote Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-21 02:42] AshokPeddakotla-MSFT commented on #31748
@vdweij Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-21 02:47] #28941 closed

[2019-05-21 02:50] MikeChristensen commented on #31779
It looks like it's the `Remove-AzureRmServiceFabricClusterCertificate` CmdLet.

[2019-05-21 02:50] AshokPeddakotla-MSFT commented on #31780
@DianeHadley Thanks for the feedback and reporting this. We will update the doc as appropriate.

[2019-05-21 02:51] oracle000 commented on #31278
Hi @Dave76
Thank you for your reply. I did add the configuration in the startup but it still doesn't work.

public override void Configure(IFunctionsHostBuilder builder)
   {
        builder.Services.AddSingleton<ITimeStamps, TimeStamps>();
   }

The only thing that I can make it work is this :
I create an instance of a class instead which is not the ideal behavior when doing dependency injection

[2019-05-21 02:53] AshokPeddakotla-MSFT commented on #31777
@JustinGrote Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-21 02:56] AshokPeddakotla-MSFT commented on #31783
@YuichiTorigoe Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-21 03:03] AshokPeddakotla-MSFT commented on #31782
@jaredpritchard7 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-21 03:08] ManojReddy-MSFT commented on #31367
@bt102 Ideally you do not have to synchronize service accounts and can be excluded from the synchronization scope.

As a thumb rule, you can consider that  accounts which are used in interactive Azure AD authentication should be licensed.

[2019-05-21 03:12] linruhui opened #31784 "Is it possible to grant users reader's access to Kudu site?"
I would like to grant users with reader's access in order to view configurations there.
Currently, with RBAC, users with reader's role can not access Kudu site. If I grant them contributor's role, they can do more than just read, they can also delete or modify the files on Kudu.

Is there a possible way that I grant them just reader's access to Kudu? Thanks.

---
#### Document Details

⚠ *Do not e

[2019-05-21 03:14] KalyanChanumolu-MSFT commented on #31277
@arolshan Is the AAD app external to your AD tenant?

This error usually comes up when trying to add an external account

Lets say your App is in the tenant yourdomain.co.cn
App1@yourdomain.co.cn

Whereas, as the Azure AD tenant name is test.mydomain.com, the UPN for the object would be:

App1_domain.co.cn#EXT#@test.mydomain.com

So the Create statement would be

`CREATE USER [App1_domain.co.cn#EX

[2019-05-21 03:15] lvjianjunljj opened #31785 "AAD: Question about AAD audience conifg in nodejs"
According to the doc: the doc: https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v1-nodejs-webapi . I complete the ADConfig and add the setting of audience. like this,
![image](https://user-images.githubusercontent.com/29011275/58065745-4b0fbe80-7bb9-11e9-91b3-0796a4c03e9b.png)

Then I can access the REST API with the token whose aud is "83ac8948-e5e1-4bbd-97ea-798a13dc8bc

[2019-05-21 03:23] Dave76 commented on #31278
Hmm. That's strange. Works fine for me.  Let me see if I can post my sample
to GitHub for you so you can get the whole solution.

Dave

On Mon, May 20, 2019 at 10:51 PM John Christopher Eniego <
notifications@github.com> wrote:

[2019-05-21 03:29] oracle000 commented on #31278
Sure thanks :)

[2019-05-21 03:30] celamb4 opened #31786 "Access control AD groups"
Would it be possible to add a group instead of a specific user to limit the admin config? Docs are specific to user only. Would be great if this can be enhanced.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: baa62b58-ede2-2367-5b42-0d00b551c41f
* Version Independent ID: 4a806bbd-886e-5061-192e-3c96998bb3b1
* Content:

[2019-05-21 03:30] KetanChawda-MSFT commented on #31682
@aws-scripting-guy Created a PR to add `PowerShell` worker under `FUNCTIONS_WORKER_RUNTIME` variable. The doc will updated with this PR.

Thanks for helping us in improving doc.

[2019-05-21 03:31] georgewallace commented on #31765
@saulcruz Thanks for reaching out.. This button should actually not be in the portal anymore.. We will be working to get it removed soon.  The current source control feature in Azure Automation only supports single direction sync from your source control repo to your Automation Account as described in the doc.  This button you point out in the UI does not work.  Sorry for any confusion this may ha

[2019-05-21 03:34] femsulu commented on #31765
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-05-21 03:34] #31765 closed

[2019-05-21 03:43] melvincanafranca opened #31787 "RetentionInDays expected value is inconsistent"
RetentionInDays parameter defines the possible value as between 1 to 2147483647 while in reality the possible value must be between 1 and 365 (in days).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74856982-ee13-cbab-28c8-0f57d95e98cd
* Version Independent ID: edfb1257-26ee-813c-88a6-f95b4198b6ca
* Content: [Overview

[2019-05-21 03:44] linruhui commented on #30902
Thank you @KetanChawda-MSFT for the reply. Clear.

[2019-05-21 03:55] angoyal-msft commented on #31343
@cowinr I hope your concern will be resolved with the support request.
So, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-21 03:55] #31343 closed

[2019-05-21 04:05] femsulu commented on #31198
@sujayt  - any update please

[2019-05-21 04:07] femsulu commented on #31199
@sujayt  - any update please

[2019-05-21 04:10] DixitArora-MSFT commented on #31527
@d-h-morrison Just following up here if you have any other questions/concerns.

[2019-05-21 04:11] DixitArora-MSFT commented on #31418
@juanren Just following up here... Hope my previous comment helps.

[2019-05-21 04:16] KalyanChanumolu-MSFT commented on #31279
@arwebs We are assigning this issue to the content author to update the sample.

@stevestein I do not have access to the "move-database-between-pools.sh" file to submit a PR.
Could you please take care of this issue.

[2019-05-21 04:16] SubhashVasarapu-MSFT commented on #31780
@DianeHadley , Changes were made accordingly to the document and it will take some time to get reflected.We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-05-21 04:16] #31780 closed

[2019-05-21 04:22] SubhashVasarapu-MSFT commented on #31249
@kanreisa ,Changes were made accordingly to the document and it will take some time to get reflected.We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-05-21 04:22] #31249 closed

[2019-05-21 04:22] RohitMungi-MSFT commented on #31473
@Schalkn You can raise a support request from Azure portal under "Service and Subscription limits" to request an increase and the support team will let you know if it is possible to increase the same for your subscription.

@CortalUX Thanks for the feedback. @dwlin Could you please add this feedback to your documentation backlog for better doc experience?

We will now proceed to close this thread.

[2019-05-21 04:23] #31473 closed

[2019-05-21 04:23] DixitArora-MSFT commented on #31380
@jonlanceley For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-21 04:23] #31380 closed

[2019-05-21 04:25] VikasPullagura-MSFT commented on #30408
@chi-ltd Thanks for confirming over email that the issue is resolved.

[2019-05-21 04:27] CHEEKATLAPRADEEP-MSFT commented on #31358
@blueelvis Currently, you can’t host projects on BitBucket.
I would suggest you to vote up an idea submitted by another Azure customer.
[https://feedback.azure.com/forums/270578-data-factory/suggestions/36599380-bitbucket-integration](https://feedback.azure.com/forums/270578-data-factory/suggestions/36599380-bitbucket-integration)
All of the feedback you share in these forums will be monitored and

[2019-05-21 04:28] KetanChawda-MSFT commented on #31528
@d-h-morrison Checking in to see if the above post helped answering your question.

[2019-05-21 04:32] #31701 closed

[2019-05-21 04:38] swinarko commented on #31539
Sure, you have my email address already, so you can contact me directly and raise support tickets for future questions that need deeper investigations.

[2019-05-21 04:45] msrini-MSFT commented on #31476
@mcurko , I will close this issue now. If you have any follow up questions, please tag me.

[2019-05-21 04:45] #31476 closed

[2019-05-21 04:47] siaomingjeng opened #31789 "loadBalancerIP from a Different SubNet (the same VNet) Fails the Controller Deployment"
When I deploy the controller following this page using a private ip from different SubNet but the same VNet, it does not work.
The content of internal-ingress.yaml:
controller:
  service:
    loadBalancerIP: 10.222.29.133
    annotations:
      service.beta.kubernetes.io/azure-load-balancer-internal: "true"
Cluster SubNet: 10.222.29.0/25,
Another SubNet in the VNet: 10.222.29.128/26.  (for the loa

[2019-05-21 04:47] femsulu commented on #31287
@CeciAc I successfully initiated a fix to resolve this issue in the English version of [the doc](https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-deployment-planner#version-history). I assume this fix will replicate to the [NL version](https://docs.microsoft.com/nl-nl/azure/site-recovery/site-recovery-deployment-planner) as well. Please let me know if you have any follow up quest

[2019-05-21 04:47] #31287 closed

[2019-05-21 04:49] #31498 closed

[2019-05-21 04:54] mohsena67 commented on #15833
Any update on this?
How can we refresh data in Power BI Service?

[2019-05-21 05:02] juanren commented on #31418
Yes, really helpful; thanks

On Mon, May 20, 2019 at 9:11 PM DixitArora-MSFT <notifications@github.com>
wrote:

[2019-05-21 05:08] ArttuArstila opened #31794 "New baseline policies missing documentation"
Three new baseline policies (preview) were added last week to AAD. Detailed documentation about those would be highly appreciated!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53ea4e70-2931-8691-e9cc-13c72b514d9c
* Version Independent ID: c1aa4a8f-16b2-79ac-edb1-8a87f51a3f7b
* Content: [What is a baseline protection

[2019-05-21 05:16] DixitArora-MSFT commented on #31418
@juanren For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-21 05:16] #31418 closed

[2019-05-21 05:19] shashishailaj commented on #31784
@linruhui Thank you for your query . We will investigate and update further.

[2019-05-21 05:21] ams0 commented on #31537
Thanks for the comments. I notice that even when those roles the sidecar injection fails the readiness probe, so the solution is not complete yet and needs a bit more investigation. However, the real fix would be a PR against istio/istio helm chart, so perhaps it's better to invest time in that route. What you think?

P.S. One more note to add: I usually run Standard_B2ms nodes, and the `discovery

[2019-05-21 05:21] shashishailaj commented on #31785
@lvjianjunljj Thank you for your query . We will investigate and update the thread further.

[2019-05-21 05:27] ferin08 opened #31795 "How to stop wrong predcition?"
The issue I was facing was that I am following this documentation for integrating both LUIS and QnA maker
https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/tutorials/integrate-qnamaker-luis
And I have modified the code for a FAQbot. I have two intents, one the FAQ intent which has the QnA maker and then another Intent.
When I ask a question in the chatbot from the FAQ intent it gi

[2019-05-21 05:28] shashishailaj commented on #31794
@ArttuArstila Thank you for your feedback . We will investigate and update this thread .

[2019-05-21 05:31] RohitMungi-MSFT commented on #31536
@JeanCollas We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-21 05:31] #31536 closed

[2019-05-21 05:34] VikasPullagura-MSFT commented on #31168
@blueelvis Thanks for the feedback. I will let the content author comment on this.

[2019-05-21 05:36] VikasPullagura-MSFT commented on #31168
@dlepow can you please add your comments for the customer query.

[2019-05-21 05:37] RohitMungi-MSFT commented on #31699
@diberry Thanks for your response. @cxputcm We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-21 05:37] #31699 closed

[2019-05-21 05:40] ram-msft commented on #30905
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-21 05:40] #30905 closed

[2019-05-21 05:44] KetanChawda-MSFT commented on #31714
@YaraZakaria Here are the steps for creating Azure Function v1 using VS 2019:

1. Create a new project and select Azure Function template using the VS 2019 template:

![image](https://user-images.githubusercontent.com/28587628/58070591-4a762880-7bb7-11e9-9a2d-390e27649051.png)

2. Click `Next` and Configure your project with the required details:

![image](https://user-images.githubusercontent.com

[2019-05-21 05:46] KetanChawda-MSFT commented on #31749
@spelluru / @axisc Any thoughts here ?

[2019-05-21 05:47] angoyal-msft commented on #31363
@ackava Could you please confirm, whether the concern here is no "Export" button in Portal or can we restore hyperscale SQL database.

If the concern is about restoring the hyperscale SQL database. You can refer [Backup and Restore](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-service-tier-hyperscale#backup-and-restore) URL for Hyperscale.

If the problem is with Export button,

[2019-05-21 05:48] KrishnaG-MSFT commented on #31705
@TristankMS I think @MGoedtel would be a better person to answer this question(s) and/or to provide insights on this.
@MGoedtel Can you please clarify and provide your insights ?

[2019-05-21 05:49] MohitDhingra-MSFT commented on #31318
Hi @markti

I hope the above information is helpful. We will now close this issue. Should you have any further queries, please tag me or @shashishailaj  to your reply and we can gladly continue the conversation.

Thank you.

[2019-05-21 05:49] #31318 closed

[2019-05-21 06:03] ram-msft commented on #31350
We don’t think it would be appropriate for QnA Maker as a service to respond with Region-specific answers. You can use Region-specific metadata, query QnAs with strict filters and add the business logic on your bot side. I hope this helps!
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discuss

[2019-05-21 06:07] DixitArora-MSFT commented on #31680
@Potapy4 Thanks for creating the PR.
@amtandon  PR have been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-21 06:07] #31680 closed

[2019-05-21 06:07] pugillum commented on #31509
Hi, thanks for the explanation, I did manage to get it working.  The document indeed mentions "you can run the sample query by replacing the placeholders with the job input and output aliases" but that isn't reflected in the image:
![image](https://user-images.githubusercontent.com/15220784/58072280-7c7b9080-7b9f-11e9-9965-f35a8fb4c567.png)

[2019-05-21 06:07] angoyal-msft commented on #31467
@LowerKees No we cannot create SQL database with "SIMPLE" recovery model. It is always created with "FULL" recovery Model. As in simple recovery model transaction log backups are not supported. Also, Point-in-time and page restore are not supported, only the restoration of the secondary read-only file is supported. While for SQL databases all the backups are required so that data can be restored i

[2019-05-21 06:07] AshokPeddakotla-MSFT commented on #31786
@celamb4 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-21 06:11] AshokPeddakotla-MSFT commented on #31789
@siaomingjeng Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-21 06:23] avinashchadalavada commented on #31161
yes thanks @AshokPeddakotla-MSFT  and @arduppal .
if i have anything else i ll connect back thanks.

[2019-05-21 06:24] angoyal-msft commented on #31352
@jssanta96 You could use Proxy as your connection policy in which you just need to configure only 2 IPs.  In this mode, all connections are proxied via the Azure SQL Database gateways. To enable connectivity, the client must have outbound firewall rules that allow only the Azure SQL Database gateway IP addresses (usually two IP addresses per region). Choosing this mode can result in higher latency

[2019-05-21 06:29] angoyal-msft commented on #31704
@ackava I have assigned this issue to the content author to help you further on this.
@stevestein Could you please look at this issue and update the document appropriately.

[2019-05-21 06:29] AshokPeddakotla-MSFT commented on #31795
@ferin08 Please help with the link of document on which above document feedback request is created.
In case your query is not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario.
These forum community membe

[2019-05-21 06:30] RohitMungi-MSFT commented on #31707
@thecpshah Yes, you can use the general model for a broad range of image classification tasks. If none of the other domains are appropriate, or you are unsure of which domain to choose, select the Generic domain. Publish the iteration that works best and use it for your predictions.

A compact model allows you to export the models and it is ideal for real-time classification on mobile devices. Cla

[2019-05-21 06:30] AshokPeddakotla-MSFT commented on #31787
@melvincanafranca Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-21 06:33] AshokPeddakotla-MSFT commented on #31161
@avinashchadalavada Thanks for the confirmation.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-21 06:33] #31161 closed

[2019-05-21 06:40] Darko-git opened #31797 "Add a note to the json example"
Json example looked like something I could just stick into an ARM template, so I did it. Validation passed but the deployment failed, because that is a json that is used in API calls and not in ARM templates.
Sticking the properties in, erm, properties inside outboundRules works in templates (after some trial and error).
Can you please add a note so people don't do the same thing. Unless I am the

[2019-05-21 06:40] prvempat opened #31798 "App GW creations steps"
Hello Team,

I have few comments regarding creation of App Gateway by following the above steps

Looks like steps to be followed are not in sequence with the way App Gateway is created through the Portal

I am drafting the sequence of steps to be followed so that customers will have ease while creating App Gateway without any confusion.

 1) First create a Vnet and a subnet for Backend pool
 2) Cr

[2019-05-21 06:45] MGoedtel commented on #31356
@lightupdifire & @KrishnaG-MSFT - The article already reflects that Windows 7 SP1 and higher is supported with the Log Analytics Windows agent.  On the other GitHub issue you opened, I explained that the agent has no dependency on AD for authentication when collecting data and when it does need to use a special form of authentication, it is a case-by-case basis depending on the solution/service yo

[2019-05-21 06:49] VikasPullagura-MSFT commented on #31779
@MikeChristensen can you try with this cmdlet [Remove-AzServiceFabricClusterCertificate](https://docs.microsoft.com/en-us/powershell/module/az.servicefabric/remove-azservicefabricclustercertificate?view=azps-2.0.0). This is the new Azure Powershell cmdlet to remove a cluster certificate from the cluster.

[2019-05-21 06:51] KetanChawda-MSFT commented on #31757
@ahmedelnably Any thoughts here?

[2019-05-21 06:57] SadiqhAhmed-MSFT commented on #31787
@johnkemnetz Could you please review the doc for "RetentionInDays" under the heading "Configure log profiles using the Azure PowerShell Cmdlets" and update as appropriate?

[2019-05-21 07:05] jberezanski-mdg commented on #31715
@YutongTie-MSFT No, I'm referring to the image manipulation commands from the Machine Learning CLI extension. [The older version of this docs page](https://github.com/MicrosoftDocs/azure-docs/blob/411dbbf07afbb8e0688fba557a2082c46ec41736/articles/machine-learning/service/reference-azure-machine-learning-cli.md#model-registration-image-creation--deployment) mentioned them:

az ml image create conta

[2019-05-21 07:05] YASWANTHM-MSFT commented on #31162
@vrvrvrvrvr, We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-21 07:05] #31162 closed

[2019-05-21 07:07] jssanta96 commented on #31352
@angoyal-msft  thanks for your answer, but before change to proxy mode, i need to know which the possibility the datacenter change the ip (primary or secondary) .All this for service warranty and your available to long-term

[2019-05-21 07:08] ggailey777 commented on #31278
\+ @jeffhollan since this is related to dependency injection.

[2019-05-21 07:08] KrishnaG-MSFT commented on #31356
@lightupdifire At this point it appears that there's no edits or updates needed for the documentation. Closing this issue for now. If there are further questions regarding this matter or questions or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-05-21 07:08] #31356 closed

[2019-05-21 07:17] angoyal-msft commented on #31352
@jssanta96  as mentioned earlier. These IPs are updated on weekly basis. So you need to update your on-premises firewall rule weekly.

Hope it helps.

[2019-05-21 07:23] sandervandevelde opened #31799 "Why do we need mcr.microsoft.com/ascforiot/edgehub:1.0.9-preview?"
When trying out Azure Security Center IoT support for IoT Edge, we are forced to replace the edgeHub module with mcr.microsoft.com/ascforiot/edgehub:1.0.9-preview.

This limits testing. Adding an extra module is OK within or project but replacing the edgeHub could have a severe impact on our test devices. So our team is not that much willing to take this step.

What is the reason behind this chang

[2019-05-21 07:25] slavizh opened #31800 "Why VM Contributor does not have access to disks resources?"
Why VM Contributor does not have access to disks resources? It does not make sense. In order to give someone access to disks I have to give him/her avere contributor rights. Disks should be included in vm contributor or there should be role for disks contributor. Please provide solution.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-05-21 07:40] femsulu commented on #31508
@jlagarda can you share the error that indicates the process is stuck on v.net access to portal. Not able to reproduce this error.

[2019-05-21 07:42] TheMbvt opened #31801 "Updating the ADF instance using ARM removes the Code Repo settings?"
First of all thanks for progressing towards CICD with ADF&gt;

This tutorial starts with 'Then go to your test data factory and production data factory and select Import ARM template.' Obviously the Test and Prod ADF instances aren't there, they are CICDed as well using ARM scripts.
When I update the ADF instance, e.g. for adding a Linked service, it seems the connection with the Code Repository g

[2019-05-21 07:45] femsulu commented on #31512
@CeciAc can you please help me understand what is being requested here? Is this simply FYI?

[2019-05-21 07:46] msrini-MSFT commented on #31798
@prvempat , Thank you for providing feedback. I will assign this issue to author @vhorne , to comment on this.

[2019-05-21 07:46] ManojReddy-MSFT commented on #31800
@slavizh We understand that the built-in roles do not meet the requirements in all scenarios and so we suggest creating custom RBAC roles which fit your exact needs.

In your scenario, you would have to add "Microsoft.Compute/disks/*"  as an action for the custom role and copy the rest from the role definition of VM contributor. You can follow this [guide ](https://docs.microsoft.com/en-us/azure/r

[2019-05-21 07:49] femsulu commented on #31544
adding @mrbullwinkle to review the doc-enhancement feedback.

[2019-05-21 07:50] YaraZakaria commented on #31714
Thank you so much.. I see it is simple now, i just couldn't see it before I was so focused on changing packages and all. It works.

Thank you again!

[2019-05-21 07:50] #31714 closed

[2019-05-21 07:58] msrini-MSFT commented on #31797
@Darko-git , Thank you for providing your feedback.

In the documentation, it is mentioned that you can use this JSON example along with the API version. If you  feel, a line can be included to avoid confusion we can certainly do that.

@KumudD , can you add a not this is an example for API call not for ARM template?

Also to answer your second query, Outbound rule for LB in the portal is not avai

[2019-05-21 08:05] masashimi opened #31802 "ConnectRetryInterval"
It describes "ConnectRetryInterval:  Default is 1 second." but according to the following page, it seems its default value is 10.

SqlConnection.ConnectionString Property - Remarks
https://docs.microsoft.com/en-us/dotnet/api/system.data.sqlclient.sqlconnection.connectionstring?redirectedfrom=MSDN&view=netframework-4.8#remarks
+++
ConnectRetryInterval	10	Specifies the time between each connection r

[2019-05-21 08:14] KentaroAOKI opened #31803 "The regional availability is not correct"
When enabling the following Virtual Node, it could not be used in Japan East because ACI Connecter is not enabled.

az aks enable-addons \
    --resource-group myResourceGroup \
    --name myAKSCluster \
    --addons virtual-node \
    --subnet-name myVirtualNodeSubnet

The results are as follows.

Operation failed with status: 'Bad Request'. Details: ACI Connector is not available in japaneast. I

[2019-05-21 08:23] sandervandevelde opened #31804 "Link to https://aka.ms/iot-security-schemas results in "Your connection is not private""
This page references 'https://aka.ms/iot-security-schemas'

Opening this link results in an error/warning in both Chrome, Firefox and Edge.

eg (Chrome):

or (firefox:)

or (Edge):

Please fix redirection or submit link to actual page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3726bd83-f00a-6027-e5d5-71452d9cfbfe

[2019-05-21 08:41] oramoss opened #31805 "Does this apply to Power Apps too?"
We are going to use Power Apps but seem to be having this error when trying to connect it to Azure Blob Storage on a hierarchical enabled storage account: "Blob API is not yet supported for hierarchical namespace accounts."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46d15a48-4780-edbb-4485-121f901cbac9
* Version In

[2019-05-21 08:42] ChiragMishra-MSFT commented on #31801
@TheMbvt Thanks for the feedback.

I am assigning the issue to the content owner to clarify here.

@gauravmalhot Can you please have a look at this one?

[2019-05-21 08:54] VikasPullagura-MSFT commented on #31803
@KentaroAOKI Thanks for your feedback. We are checking on this and will update you shortly.

[2019-05-21 08:55] paulmarshall opened #31806 "EventHubConsumerGroup.DefaultGroupName"
Where does this come from ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d72268d-2235-7fb1-3bdc-2bab4f589123
* Version Independent ID: b01de562-b11b-02a2-31a5-3deb5a490fb7
* Content: [Send and receive events using the .NET Framework - Azure Event Hubs](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-dot

[2019-05-21 08:56] paulmarshall opened #31807 "No valid combination of account information found"
When I enter the storage connection string I get a FormatException in the EventProcessorHost constructor "No valid combination of account information found". But the format given is correct????

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d72268d-2235-7fb1-3bdc-2bab4f589123
* Version Independent ID: b01de562-b11b-02

[2019-05-21 09:10] ChiragMishra-MSFT commented on #31806
@paulmarshall EventHubConsumerGroup is a class that represents the consumer group within an Event Hub. This class creates receivers for a specific consumer group within an Event Hub. This can be the default consumer group or another user-created consumer group.

DefaultGroupName is an attirbute that holds the name of the default ConsumerGroup that is pre-created when creating EventHub.

EventProce

[2019-05-21 09:11] vrishni commented on #31471
Hi, Please use the following query expression to get based on the institution. Ex: Composite(AA.AfN='harvard university'). Please refer the [Query Expression Syntax](https://docs.microsoft.com/en-us/azure/cognitive-services/academic-knowledge/queryexpressionsyntax).

[2019-05-21 09:16] VikasPullagura-MSFT commented on #31803
@KentaroAOKI I followed the document and I am facing same issue. I am reporting this to the Doc author.

[2019-05-21 09:19] thecpshah commented on #31707
Thank you @RohitMungi-MSFT Do we have access to artefact created from General Model? i.e. can I export the model file from General Model to be used in a different resource group?

[2019-05-21 09:20] hmayer1980 commented on #30160
@MartinJaffer-MSFT
I actually mean the start the function all over again.

The Wait was the thing that confused me the most at the beginning. I have already something to wait a dynamic duration at https://github.com/MicrosoftDocs/azure-docs/issues/29820
but would be very much intersted in your idea.

The WebRequest for GetDurationFunctionSTatus is Blocking - this waits for as long as the function

[2019-05-21 09:20] antogh commented on #22179
Hello @mike-urnun-msft any news on when Limit call rate by key is available in Consumption tier?

disclaimer: I cannot use tiers != consumption for budget reasons

This limit by call rate by IP is super important, here is why:
suppose you have an API accessed by a web site with a JavaScript call,
if an attacker keep requesting the API he will deny access to all other legit users
so this limitation

[2019-05-21 09:21] Eimovas commented on #27135
Agree this is well confusing.
Was trying to figure out which nuget package I need for Azure Table Storage - found the old package page at:
https://www.nuget.org/packages/WindowsAzure.Storage/
It points to:
https://www.nuget.org/packages/Microsoft.Azure.CosmosDB.Table/
Which points to:
https://www.nuget.org/packages/Microsoft.Azure.Cosmos.Table

Which doesn't really say this is the package for Azur

[2019-05-21 09:23] VikasPullagura-MSFT commented on #31803
@iainfoulds I reproduced the issue and running into same issue. Can you please add your comment.

![image](https://user-images.githubusercontent.com/48944027/58083997-ad77b780-7bd7-11e9-9570-928d2d18e30c.png)

[2019-05-21 09:23] ChiragMishra-MSFT commented on #31807
@paulmarshall This error looks like there's something wrong with the connection string.

Can you please confirm that in the statements :

  `string storageAccountName = "{storage account name}";
  string storageAccountKey = "{storage account key}";
  string storageConnectionString = string.Format("DefaultEndpointsProtocol=https;AccountName={0};AccountKey={1}", storageAccountName, storageAccountKey

[2019-05-21 09:32] mgraff commented on #30997
Hello @Karishma-Tiwari-MSFT,

Here is the command to provision from the CLI with custom data (`clout-init.txt`) :
[code]
When provisionning the same image from the portal, we cannot add custom data because the portail says "The selected image does not support cloud-init" (which obviously is not true) :

![portal-cloud-init](https://user-images.githubusercontent.com/6195497/58084221-c2921d80-7bba-1

[2019-05-21 09:47] YASWANTHM-MSFT commented on #31462
@mcurko, Could you give us the more information related to logs to help better on this?

[2019-05-21 09:50] SadiqhAhmed-MSFT commented on #31325
@jigarshah04 Use this link - https://support.microsoft.com/en-us/supportforbusiness/productselection?sapId=48734891-ee9a-5d77-bf29-82bf8d8111ff as provided by @pbutlerm

[2019-05-21 09:50] spacecat opened #31808 "What does this mean"
This process (which process?) may have disabled public access to your service. (&lt;- this whole sentence makes no sense to me) To enable public access, you can update the ingress value in the values.yaml. &lt;- why not just put the "quick" solution in this article? One has no clue where to look in the referred article.

Also, im receiving an error while writing this post:

An error occurred durin

[2019-05-21 09:52] SadiqhAhmed-MSFT commented on #31160
@LotusPainter We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-21 09:52] #31160 closed

[2019-05-21 09:57] keithcn opened #31809 "check for detail"
"consolidated view of recommendations for all your Azure resources" includes AAD?  confused and conflicted.
according to FAQ in overview page (No AAD check):
What resources does Advisor provide recommendations for?
Advisor provides recommendations for virtual machines, availability sets, application gateways, App Services, SQL servers, and Azure Cache for Redis.

---
#### Document Details

⚠ *Do n

[2019-05-21 09:59] mcurko commented on #31462
In fact, as I'm testing on Azure, tihs is a problem with nested virtualization. I solved this by creating an internal NAT on the host OS. Here comes another problem, the setup needs a domain controller and I'm again in the field of network connectivity issues for the guest OS. I suggest you amend the article with a step-by-step tutorial on how to deploy the hyper-v image on hyper-v on Azure.

[2019-05-21 10:04] squasta commented on #31729
Hi, not sure it's an issue or an explanation that is unclear. The sentence about the NGNIX service seems to have no place here (there is no additional info about this NGNIX in this page)  or I missed something.

[2019-05-21 10:04] Waterfox83 opened #31810 "Steps for Non-Windows machines not there"
It will be great if there were steps on how to create a p2s connection using non-Windows machines.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4530cab5-ae29-e402-7a58-67ce623088c5
* Version Independent ID: fe183a1c-d715-3ac9-61f9-d35a7d9d0879
* Content: [Configure P2S - Azure SQL Database Managed Instance](https://d

[2019-05-21 10:12] cdomotor opened #31811 "RPi still mentioned"
The final paragraph states this page is about raspberry pi. An artefact of adapting old material perhaps.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8e7c7d8-9e2e-a23b-35e6-489650473909
* Version Independent ID: 5861e5ab-fb35-02a6-c848-6d8680501901
* Content: [Connect a DevKit device to your Azure IoT Central appli

[2019-05-21 10:16] michaelmouawaddo commented on #31338
https://feedback.azure.com/forums/169385-web-apps/suggestions/37667269-make-app-settings-keyvault-reference-default-to-la

[2019-05-21 10:32] jakaruna-MSFT commented on #31786
@celamb4 We can assign the role "Azure Kubernetes Service Cluster Admin Role" to a group. Then the people who are part of that group can access.

@iainfoulds Please let us know about the possibility of adding examples for adding a group in the document.

[2019-05-21 10:46] VaSquirrel commented on #31506
Thanks,
But you missed my point.  I understand why the Non-Volatile Memory in your VM is in fact volatile.  My point is the widely accepted meaning of Non-Volatile would include words like "Persistent", "Long lasting", "Permanent", "secure", ...

Your use of the acronym NVMe implies that the storage is persistent when in fact it is not.

Thanks,
Ray Herring
Cell 214-924-9498

_____________________

[2019-05-21 11:01] AshokPeddakotla-MSFT commented on #31809
@keithcn Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-21 11:04] CHEEKATLAPRADEEP-MSFT commented on #31805
@oramoss Thanks for the question! We are investigating and will update you shortly.

[2019-05-21 11:08] bhageerathreddy9 opened #31813 "This API is inconsistent and ridiculous"
I want to query the API to check what all VM sizes are present in a particular region. First of all, there is no way to filter this API, as it returns all possible SKUs (I am looking only for VM sizes here).

Now even if I filter the more than 13MB of JSON response that I am getting, to pick elements with resourceType - "virtual machine", for each VM size, I expect all the regions which don't supp

[2019-05-21 11:11] johanburati opened #31814 "Support for RHEL 6.10"
Could you let us know when you plan to support  RHEL 6.10  ?

I have also opened an issue on github: https://github.com/Azure/azure-linux-extensions/issues/807

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75aaea98-a087-c6d0-61cd-4a2edab37be5
* Version Independent ID: 6a2fa1ec-fadc-2d1c-2ab3-8ded33843414
* Content: [F

[2019-05-21 11:16] AshokPeddakotla-MSFT commented on #31799
@sandervandevelde Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-21 11:17] AshokPeddakotla-MSFT commented on #31802
@masashimi Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-21 11:18] AshokPeddakotla-MSFT commented on #31804
@sandervandevelde Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-21 11:20] ferin08 commented on #31795
Sorry, the description did not get updated.

The issue I was facing was that I am following this documentation for integrating both LUIS and QnA maker
https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/tutorials/integrate-qnamaker-luis

And I have modified the code for a FAQbot. I have two intents, one the FAQ intent which has the QnA maker and then another Intent.
When I ask a que

[2019-05-21 11:22] AshokPeddakotla-MSFT commented on #31811
@cdomotor Thanks for the feedback and reporting this.
@dominicbetts Could you please check this and update?

[2019-05-21 11:30] SadiqhAhmed-MSFT commented on #31809
@keithcn Azure advisor does provide recommendation for security related issues and AAD is part of that security & Identity. Reference: https://docs.microsoft.com/en-us/azure/advisor/advisor-security-recommendations It gves you recomendations but for managing azure security recommendations you go to security center. See this link - https://azure.microsoft.com/documentation/articles/security-center-

[2019-05-21 11:41] #31426 closed

[2019-05-21 11:46] SnehaAgrawal-MSFT commented on #29963
@kazshi Yes  it applies to the IP address change notification, as well. We will close this out but if you feel you need more information please just let us know.

[2019-05-21 11:46] #29963 closed

[2019-05-21 11:51] tervoju opened #31815 "modbus address"
in example:
---&gt;
"UnitId":"1",
"StartAddress":"400001"
&lt;---

I assume e.g. "40001" is more likely address.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cf39c04-42da-c7a8-4367-7eec34528d1e
* Version Independent ID: a0b54432-40db-bbc0-354c-0b90b3c421fc
* Content: [Translate modbus protocols with gateways - Azure

[2019-05-21 11:54] jakaruna-MSFT commented on #31783
@YuichiTorigoe Thanks for reporting.

@roygara In the [table](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/disks-types#premium-ssd) under Premium disk, P50 has the storage of 4095 GiB.   All the other types storage capacity is in the power of 2 except P50 and P70.
Same scenario for the Standard SSD and Standard HDD.
Please share if there are any specific reasons for that.

[2019-05-21 11:54] vrishni commented on #31354
Similar Issue- Failed to create.
from azureml.core.compute import AksCompute, ComputeTarget
# Specify the Standard_PB6s Azure VM
prov_config = AksCompute.provisioning_configuration(vm_size = "Standard_PB6s",
                                                    agent_count = 1)
aks_name = 'my-aks-cluster'
# Create the cluster
aks_target = ComputeTarget.create(workspace = ws,

[2019-05-21 11:55] tfitzmac commented on #31424
Sorry, all of my tests are showing that with a remote template and a parameter value specified in both a local parameters file and inline, the inline value takes precedence.

[2019-05-21 11:56] jakaruna-MSFT commented on #31552
@lenadroid please add your comments

[2019-05-21 11:57] KalyanChanumolu-MSFT commented on #31810
@Waterfox83 Thank you for the feedback.
This issue is being assigned to the content author to evaluate and update as appropriate. 

[2019-05-21 11:59] YuichiTorigoe commented on #31783
Hi , I created the Disk with 4096GiB,
And this disk appears to be recognized as P50.
Could you check it ?

[2019-05-21 12:11] RohitMungi-MSFT commented on #31707
@thecpshah For General model you cannot export it unless it is modified to use compact from the settings.
Also the resource group cannot be changed of the project or the exported model does not allow to be imported to a new model in a new resource group currently.

[2019-05-21 12:13] jhhouston commented on #31770
https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-windows-uwp

[2019-05-21 12:23] YASWANTHM-MSFT commented on #31462
@mcurko , Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate

[2019-05-21 12:23] #31350 closed

[2019-05-21 12:24] thecpshah commented on #31707
Thank you @RohitMungi-MSFT

[2019-05-21 12:26] thecpshah commented on #31707
Last question on this: the compact model may have less accuracy, in that case, is it possible to enhance the accuracy by exporting the model into Azure ML service?

[2019-05-21 12:34] jhhouston commented on #31770
Solved it thanks for the quick response.

[2019-05-21 12:39] mlottner commented on #31804
@sandervandevelde Thanks for taking the time to comment and contribute to ASC for IoT docs.

The underlying link is directed to our [GitHub repository](https://github.com/Azure/Azure-IoT-Security/tree/master/security_message).

In the meantime, checked the links and they are resolving correctly on our end. Can you confirm you refreshed your browser and can access other GitHub locations without the

[2019-05-21 12:46] jakaruna-MSFT commented on #31260
@imlight Tried out in the "Australia southeast" region and got the same result.
Can you run ansible in debug mode and check if you have more info on that

[2019-05-21 12:47] cowinr commented on #31343
It's not the availability of ZRS in West Europe that is in question. As per the original comment "The script in the docs page tries to create a zone-redundant DB in **Standard** tier". You need to use **Premium** tier for this - at least according to the error message and this [article](https://azure.microsoft.com/en-us/blog/azure-sql-database-now-offers-zone-redundant-premium-databases-and-elasti

[2019-05-21 12:51] cephalin commented on #31698
Doc has been updated and will be published sometime today. #please-close

[2019-05-21 12:53] pwhang opened #31816 "What would cause one instance of Integration Runtime (Self-Hosted) Worker Process to use CPU at 99%?"
What would cause one instance of Integration Runtime (Self-Hosted) Worker Process to use CPU at 99%?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1a34b3c-a9b8-29ce-1eca-86f7f42981a1
* Version Independent ID: 61d6e6b3-ec54-552d-1bef-86bbcbfea8ff
* Content: [Integration runtime in Azure Data Factory](https://docs.micro

[2019-05-21 12:58] galmok opened #31817 "dependsOn trouble with copy"
We have created templates using the copy feature, both resource and property, and have run into an issue filling out the dependsOn field of the ARM template. Specifically I have a resource, `microsoft.insights/scheduledqueryrules`, that is depending on a number of action groups. The action groups it depends on are specified as a array parameter. This is how the resource is created:

[code]

The pa

[2019-05-21 12:58] spacecat commented on #31808
Working fine now with Azure workload installed.

[2019-05-21 12:59] rwatjen commented on #10834
It is just `\n` according to https://github.com/Azure/azure-sdk-for-net/blob/4bab05144ce647cc9e704d46d3763de5f9681ee0/sdk/servicebus/Microsoft.Azure.ServiceBus/src/Primitives/SharedAccessSignatureTokenProvider.cs#L143.

The SHA-256 pseudo-code is misleading. The signing is done with HMACSHA256 using the SAS policy's primary or seconday keys as input key. (https://github.com/Azure/azure-sdk-for-net

[2019-05-21 13:05] RyanHill-MSFT commented on #31548
@MisinformedDNA, you clone the application sample as instructed in https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-quickstart-azure-functions-csharp#clone-the-sample-application. After that, you switch back to the portal to copy the connection string info and paste it into `local.settings.sample.json` as instructed in Step 5 of https://docs.microsoft.com/en-us/azure/azure-signalr/sign

[2019-05-21 13:07] DixitArora-MSFT commented on #31691
@dcbrown16 Yes . It should be available in user profile. Do let me know if anything else is required.

[2019-05-21 13:09] simonlawl commented on #31126
I have similar issues. It works great when I try the bot in the QnA maker user interface, I receive the prompts.
But doesn't work in the Web Chat or the Azure test environment.

[2019-05-21 13:10] spacecat opened #31818 "How to test your back-end apps using Dev Spaces when they are behind a reverse proxy / ingress"
I have two back-end services.

And one ingress with several path rules.

I'm now trying to troubleshoot / debug some scenarios where I'm dependent on request headers being forwarded by the reverse proxy to my back-end services.

This setup seems not to be possible to troubleshoot/ debug using Azure Dev Spaces?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2019-05-21 13:12] dlstucki commented on #10834
It wasn't hard for me to figure out which was correct. The point of this issue is to have the documentation fixed to be consistent and point users at the right format. Read the initial description. (I'll update title to clarify).

[2019-05-21 13:18] Alberto-Vega-MSFT commented on #31817
Hi @galmok Thanks for reaching out and I'm sorry to hear you are having issues using Azure Services.  Could you please share the link of the documentation you were following? That way, we can pass your feedback to the appropriate content author.

[2019-05-21 13:21] rwatjen commented on #10834
I just wanted to point out the source and also that the pseudo-code is at best misleading (it doesn't mention they key at all), and also I wanted to get some attention on this issue, which has been open for 11 months now.

[2019-05-21 13:23] Alberto-Vega-MSFT commented on #31816
Hi @pwhang Thank you for your feedback. This looks like an issue that is not related to the documentation. If it is related to docs (a question about the document content) Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.
If it is not a doc issue: Are you asking a theoretical question or is this an issue that you

[2019-05-21 13:24] galmok commented on #31817
Sure. I used this documentation:

https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-define-dependencies#dependson

In the meantime, I am wondering if this solution would work:

[code]

And then have the dependsOn section like this:

[code]

Would this work?

I think that could work. If functions could have variables, then that would probably be a better/prettier way to s

[2019-05-21 13:33] diberry commented on #31126
This behavior difference is a known issue: https://github.com/microsoft/BotFramework-Emulator/issues/643

A workaround for directline/WebChat is described here: https://blog.botframework.com/2018/07/12/how-to-properly-send-a-greeting-message-and-common-issues-from-customers/

[2019-05-21 13:35] keithcn commented on #31809
so it should be modified in here:  https://docs.microsoft.com/en-us/azure/advisor/advisor-overview   in FAQ section:
it doesn't mention AAD resouce.

What resources does Advisor provide recommendations for?
Advisor provides recommendations for virtual machines, availability sets, application gateways, App Services, SQL servers, and Azure Cache for Redis.

[2019-05-21 13:45] lightupdifire opened #31819 "Testing steps | TLS 1.2 | Windows 10"
@MGoedtel,

I know that there was answer provided that TLS is mandatory, but as informed, in my test, using "Windows 10 1809" device, MMA worked without TLS 1.2 registry applied.
And as I know the TLS 1.2 support is enabled per default in Windows 10: "https://docs.microsoft.com/en-us/security/solving-tls1-problem";
So my question will be, do we need apply TLS 1.2 for MMA on Windows 10 device when

[2019-05-21 13:47] jboeshart commented on #31426
@jakaruna-MSFT looks like it was initially changed in the following commit to uplevel all the API versions.

https://github.com/MicrosoftDocs/azure-docs/commit/978a24f8b174f156b07b116c567066837ca33005#diff-83b7fda6c61c74da2d1bdf099eb9aea5

[2019-05-21 13:58] SubhashVasarapu-MSFT commented on #31172
@jaiminsoni2017 , Could you please provide me with the screenshot of the request response where it is getting failed for better guidance.

[2019-05-21 14:00] ChrRing commented on #31414
This could be an issue with the version of Azure Storage Explorer which only works with v1.5.0. @jishnudantu: Can you please check and let us know whether that works for you?
https://github.com/Microsoft/AzureStorageExplorer/releases/tag/v1.5.0

[2019-05-21 14:02] scrampy commented on #30359
@TravisCragg-MSFT I just stumbled across this feedback thread while trying to for some time, figure out why Microsoft.Web isn't working in my attempted configuration.  Is it still the case that "it is not yet usable"?  Does that mean that though we can appear to configure it in the UI, it does not work?

[2019-05-21 14:07] Alberto-Vega-MSFT commented on #31415
@bhjolly Just wanted to confirm if at the end you were able to use the REST API?

[2019-05-21 14:07] avinashchadalavada opened #31820 "How to include the node packages to the modules Script."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-05-21 14:07] avinashchadalavada opened #31821 "How to include the node packages to the modules Script."
Issue:-
I am creating edge modules in which i am trying to in corporate some packages of node which i can use it for getting some out of box functions. example i need some azure iot packages to be included in the packages.

I have gone through the " https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-node-module ".

when i created this i couldn't find node-module in that particular file which

[2019-05-21 14:08] Alberto-Vega-MSFT commented on #31423
@marcelohsilva Do you have any updates?

[2019-05-21 14:09] Alberto-Vega-MSFT commented on #31727
Hi @andremaree do you have an update?

[2019-05-21 14:12] Alberto-Vega-MSFT commented on #31770
@jhhouston That's great news 👍

[2019-05-21 14:12] #31770 closed

[2019-05-21 14:14] jaiminsoni2017 commented on #31172
Hi,

Please find attached screenshot. Cygnature.azureedge.net which is azure CDN Verizon and protocol showing http/1.1 and for Cygnaturestaging.azureedge.net which is on standard azure cdn  its showing h2. Please see the second screenshot.

Screenshot 1:
[cid:image001.png@01D5100C.A11C3510]

Screenshot 2:
[cid:image002.png@01D5100D.8C605380]

From: suvasara <notifications@github.com>
Sent: 21 May

[2019-05-21 14:17] jishnudantu commented on #31414
@ChrRing I am using azure storage explorer 1.5.0, it still doesn't work.

[2019-05-21 14:19] TRViana opened #31822 "Doc needs updating - outdated process for DPM"
Doc needs updating - outdated process for DPM
- Publishing setting dummy file needed
- Need to run tool to create the App Registration and certificate generation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 180fa9c7-be01-fb72-8ebc-527336c7edc0
* Version Independent ID: 3f9b9b23-e117-58b9-03c0-af272254658d
* Content:

[2019-05-21 14:20] jeking3 commented on #31513
I don't think that covers the use case I presented.  I want a programmatic way to create an app and service principal.  The instructions on that link tell you to log into the azure portal and create an app.  That's manual; I want the equivalent of "az ad app create" (https://docs.microsoft.com/en-us/cli/azure/ad/app?view=azure-cli-latest#az-ad-app-create) but from Python.  I just don't see a pytho

[2019-05-21 14:21] mirkogit opened #31823 "Azure IoT Edge Build Modules Images - Windows Container"
When I try to create a CI/CD pipeline for my IoT edge solution, it fails in the Build step with the following error:
"Error: Unable to locate executable file: 'iotedgedev'. Please verify either the file path exists or the file can be found within a directory specified by the PATH environment variable. Also verify the file has a valid extension for an executable file."
I am targeting windows-amd64

[2019-05-21 14:21] stephen-cairns commented on #16001
Hi - I was wondering if you can help.  "The virtual network for the AKS cluster must allow outbound internet connectivity."  Can this be more specific so that we can lock down a specific destination.  The internet is very wide so we want to tie this down to a specific set of destinations.

[2019-05-21 14:24] avinashchadalavada commented on #31821
Issue:-
I am creating edge modules in which i am trying to in corporate some packages of node which i can use it for getting some out of box functions. example i need some azure iot packages to be included in the packages.

I have gone through the " https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-node-module ".

when i created this i couldn't find node-module in that particular file which

[2019-05-21 14:27] stephen-cairns commented on #20599
@iainfoulds @seanmck  - any updates here on doc

[2019-05-21 14:28] AjayKumar-MSFT commented on #31771
@prajaybasu, Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-05-21 14:28] MikeChristensen commented on #31779
Thanks!  I'll give that a try..

[2019-05-21 14:29] MisinformedDNA commented on #31548
The issue is that I don't see the connection string being used. The instructions tell us to set the connection string info in "AzureSignalRConnectionString", but if you do a search for "AzureSignalRConnectionString" in the sample code, there are no other results. Is this setting hard-coded into the framework?

[2019-05-21 14:31] stephen-cairns commented on #18882
Appreciate this thread is six months old so wondering if there has been any update to this
@MicahMcKittrick-MSFT

[2019-05-21 14:33] kristianjaeger commented on #31519
@Karishma-Tiwari-MSFT Thanks.  I will try again and use those steps if needed.  Cheers.

[2019-05-21 14:34] alkohli commented on #31462
@YASWANTHM-MSFT This is not a doc enhancement. This is product question. The VHD that is provided is meant to be deployed on an on-premises server (that's what the product is designed for) and not in Azure which is what the customer is asking. Please reassign this to the product team. Thanks!

[2019-05-21 14:37] Alberto-Vega-MSFT commented on #31774
@KS76 Do you have an update?

[2019-05-21 14:42] AshokPeddakotla-MSFT commented on #31808
@spacecat Glad to hear that your issue is resolved. appreciate for sharing the resolution.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-21 14:42] #31808 closed

[2019-05-21 14:46] Alberto-Vega-MSFT commented on #31817
@galmok I'm afraid that this is not my area of expertise. Thanks for sharing the link this way I will get your issue seen by the right team.

[2019-05-21 14:48] fhe-fr opened #31824 "denied: requested access to the resource is denied"
I first connect:
docker login -u demoIotEdge -p XXXXXXXXXXXXXXXXXXX demoiotedge.azurecr.io

During the Build and Push to iotedge, I get back an error:
denied: requested access to the resource is denied
As a result, the contianer registery doesn't contain any image

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4cdb69f

[2019-05-21 14:52] iainfoulds commented on #20599
This feature is currently available in preview - https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic

[2019-05-21 14:53] iainfoulds commented on #16001
You can restrict outbound traffic, as noted in the feature preview - https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic

[2019-05-21 14:53] ChrRing commented on #31414
Then it is most likely a network issue (port 11002 open on your VM?) or something else is not configured properly (connection string, module not deployed properly,...). Can you please provide more details (e.g., deployment status of the modules, screenshots of your module config) and output - without your credentials - from this commands?
[code]

[2019-05-21 14:56] fhe-fr commented on #31824
In the visual code terminal I can see that the push point to docker:
**The push refers to repository [docker.io/library/demoiotedge.azurecr.io]**
76ab4738c3bd: Preparing
bf24414230e3: Preparing
fde6fe045163: Preparing
e96e2bba9577: Preparing
4c54072a5034: Preparing
49652298c779: Waiting
e15278fcccca: Waiting
739482a9723d: Waiting
denied: requested access to the resource is denied

[2019-05-21 14:59] mumian commented on #31724
@mrdfuse - thank you for the comment.  I have included a link. See https://github.com/MicrosoftDocs/azure-docs-pr/pull/77378

#please-close

[2019-05-21 15:03] chetanku commented on #16001
@iainfoulds thanks much..I have been waiting for this, this will allow better control on the outbound connectivity, any timeline on when it will be GA?

[2019-05-21 15:03] balintbako opened #31825 "Sharing SSIS IR with different tenants"
Hi,

 Can we share the self-hosted SSIS IR between 2 Azure tenants?

Regards,
 Balint

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe806b71-98be-8fe4-8de7-e147d5d3f7ad
* Version Independent ID: 5a6d1af0-62f7-a633-d5bd-f5c249f2f71f
* Content: [Create a shared self-hosted integration runtime in Azure Data Factory with

[2019-05-21 15:07] RGalanteG commented on #8765
Hello,

One more interested in knowing the bandwidth of machines B.

I'm a Microsoft Partner. How do I guarantee the bandwidth of B machines to my customers?

We have made closed packages of virtual machines for my clients. How do I inform them about the bandwidth?

It is a topic that should be seen by Microsoft.

At least put a minimum and a maximum of bandwidth.

Let's give our feedback in the f

[2019-05-21 15:07] georgewallace commented on #31712
@SirJewDanielBerg I still feel that putting information about figuring out what deployment model your resources used is not necessary in this article about Run As Accounts.. I am going to add the link to the deployment model page, I feel it gives enough information in it in regards to what resources support classic deployment model still.  I would recommend opening an issue on the article I linked

[2019-05-21 15:11] #31724 closed

[2019-05-21 15:12] georgewallace commented on #31474
@SirJewDanielBerg This solution just like other Automation solutions use Log Analytics for storing data.. Other are Update Management and Change Tracking and Inventory.  This solution supports alerts using action groups that are based on the Log Analytic queries.. You can always author your own runbooks and use them in your Automation Account. The problem there becomes supportability, we fully sup

[2019-05-21 15:12] AshokPeddakotla-MSFT commented on #31813
@bhageerathreddy9 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-21 15:13] jakubigla commented on #16001
What you can do guys, while this feature is in preview, is to create a user defined route and route all the outbound traffic through Azure Firewall, where you can whitelist those endpoints.

[2019-05-21 15:14] Mike-Ubezzi-MSFT commented on #31275
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-21 15:14] #31275 closed

[2019-05-21 15:15] AshokPeddakotla-MSFT commented on #31814
@msmbaldwin Could you please check this and provide your suggestions?

[2019-05-21 15:18] AshokPeddakotla-MSFT commented on #31815
@tervoju Thanks for the feedback! We are currently investigating and will update you shortly.
@kgremban Please check this and provide your insights as well.

[2019-05-21 15:20] AshokPeddakotla-MSFT commented on #31818
@spacecat Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-21 15:20] marcelodiiorio commented on #9407
B2C is in CSP. See https://docs.microsoft.com/en-us/azure/cloud-solution-provider/overview/azure-csp-available-services

[2019-05-21 15:21] AshokPeddakotla-MSFT commented on #31819
@lightupdifire Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-21 15:21] duckie commented on #30997
@Karishma-Tiwari-MSFT answered for me.

[2019-05-21 15:21] marcelodiiorio commented on #19554
Hello. See if this helps https://docs.microsoft.com/bs-latn-ba/azure/active-directory-b2c/solution-articles

[2019-05-21 15:23] #31712 closed

[2019-05-21 15:24] AshokPeddakotla-MSFT commented on #31820
Duplicate of #31821

[2019-05-21 15:24] #31820 closed

[2019-05-21 15:24] erhopf commented on #31337
@ram-msft - Please assign to @ArcherAZ

[2019-05-21 15:26] #31824 closed

[2019-05-21 15:26] fhe-fr commented on #31824
I found the solution here: https://github.com/MicrosoftDocs/azure-docs/issues/22296

[2019-05-21 15:27] AshokPeddakotla-MSFT commented on #31821
@avinashchadalavada Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-21 15:27] Anand-Moghe commented on #31756
@YutongTie-MSFT Thank you.

[2019-05-21 15:27] #31756 closed

[2019-05-21 15:30] AshokPeddakotla-MSFT commented on #31822
@TRViana Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-21 15:31] AshokPeddakotla-MSFT commented on #31825
@balintbako Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-21 15:31] SumanthMarigowda-MSFT commented on #31302
@shampton-myabt Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-05-21 15:33] AshokPeddakotla-MSFT commented on #31823
@mirkogit Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-21 15:33] ericcwk opened #31826 "Want to know is MFA server Onpremise support Linux login ?"
If yes, want kind of component is required?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75965afd-b39c-5bf0-bc9a-7520bddfd4af
* Version Independent ID: be56aebb-04fb-0518-017f-5a7115c8038b
* Content: [Getting started Azure Multi-Factor Authentication Server - Azure Active Directory](https://docs.microsoft.com/en-us/a

[2019-05-21 15:35] haohaowasky commented on #30681
I'm using edgeHub version 1.0

And I fixed the issue in version 1.0 by switching protocol from MQTT_WS to AMQP_WS.

Not sure why this fixed the problem but the delay is gone without updating the SDK.

[2019-05-21 15:40] KalyanChanumolu-MSFT commented on #31781
@HuaTang92 Thank you for pointing this out. This issue is being assigned to the content author to update the code snippet.

[2019-05-21 15:42] KalyanChanumolu-MSFT commented on #31781
@markjbrown Verified that the published script fails expecting an array.
I am unable to find the file ps-account-failover-priority-update.ps1 in the PR repo.
Could you please make the changes.

[2019-05-21 15:45] marcelohsilva commented on #31423
Hello Alberto, I figured out I'm using a Beta version of Unity. I'll give it a new try tonight with the official 2019.1 version.

Please, feel free to close this topic as Unity Beta version does not apply in this context.

Thanks for the feedback.

[2019-05-21 15:46] dlduncan opened #31828 "Modifying NameID claim"
Hi,
Not so much an issue, more of a suggestion. You may want to mention or describe changing the NameID claim to point to a different source attribute. By default, it will be the UPN, however I believe a user's UPN will change if their email address changes. If the NameID value being passed to NetDocuments changes for an existing user, this will cause issues for the user the next time they try and

[2019-05-21 15:46] CarlRabeler commented on #31775
@stevestein for visibility

[2019-05-21 15:49] Anand-Moghe commented on #28928
@DaleKoetke or @MGoedtel Any update on this?

[2019-05-21 15:52] AshokPeddakotla-MSFT commented on #19749
@haodeon We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-21 15:52] #19749 closed

[2019-05-21 15:52] #31698 closed

[2019-05-21 15:52] #31366 closed

[2019-05-21 15:52] #31071 closed

[2019-05-21 15:53] #31063 closed

[2019-05-21 15:53] AdamUnderwood opened #31829 "Add base_url to quickstart"
When following this quick start, I kept receiving 401 access denied.  This wasn't due to the incorrect key, but due to my service being in a different region.  The SDK allows a parameter like:

client = WebSearchAPI(CognitiveServicesCredentials(subscription_key), base_url="https://eastus2.api.cognitive.microsoft.com/bing/v7.0/")

which then allows the requests to go through correctly.  This doesn'

[2019-05-21 15:54] #30858 closed

[2019-05-21 15:56] #28959 closed

[2019-05-21 15:56] #27644 closed

[2019-05-21 15:57] #26026 closed

[2019-05-21 15:57] #25339 closed

[2019-05-21 15:57] sergaz-msft commented on #27313
Hi @danebou I believe we don't have a sample demonstrating it yet. Please vote for that here: https://feedback.azure.com/forums/907045-azure-iot-edge/suggestions/32497981-code-sample-for-identity-translation-pattern

Thanks!

[2019-05-21 15:59] #31474 closed

[2019-05-21 16:06] anwarmahmood1 opened #31830 "can you suggest how to populate custom attributes?"
scenario: user account details are in Active Directory.  I want to use Azure AD to authenticate to a SaaS - let's call it MyDetails.com.  MyDetails.com support just in time (JIT) provisioning.  In other words, users in MyDetails.com are created automatically after authentication, where Azure AD issues the claims for provisioning.

Now, MyDetails.com has details such as sexual orientation, disabili

[2019-05-21 16:08] anwarmahmood1 opened #31831 "can FIM or MIM support updating custom attributes in Azure AD?"
scenario: user account details are in Active Directory. I want to use Azure AD to authenticate to a SaaS - let's call it MyDetails.com. MyDetails.com support just in time (JIT) provisioning. In other words, users in MyDetails.com are created automatically after authentication, where Azure AD issues the claims for provisioning.
Now, MyDetails.com has details such as sexual orientation, disability,

[2019-05-21 16:11] jlagarda commented on #31508
Hi There,

The Azure portal provides this message withing the Firewall and VM's Sections of the CosmosDB Instance.

"The current settings block all access to the account, review the Virtual networks, Firewall, and Exceptions configuration in case you want to allow selected traffic to have access"

Unfortunately, I cannot edit this manually because the ansible-playbook is currently stuck and blocki

[2019-05-21 16:14] jlagarda commented on #31508
Please disregard, process a little longer to complete than I expected but it looks to be working now

[2019-05-21 16:14] #31508 closed

[2019-05-21 16:17] aydeisen opened #31833 "Exchange Server FAQ"
https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-faq#can-i-use-exchange-server-as-a-backend-with-application-gateway

There's a question in the FAQ that generically asks about using Exchange Server as a backend for an application gateway, and the question is specifically responded to regarding email protocols.

However, it doesn't address using an Exchange Server as a

[2019-05-21 16:25] johntyrrell99 commented on #10149
@singhkays
It looks like importing a certificate in a secret is deprecated according to the portal.

Even running the powershell
Set-AzureKeyVaultSecret -VaultName "<vault name>" -Name "<secret name>" -SecretValue $secret

give me a 'Forbidden' error message.
Putting the certificate in the Key Vault certificate store does not appear to work with a template deployment as it is still looking for a s

[2019-05-21 16:31] mganeshphani opened #31834 "Can we automate with powershell"
Is there a way we can automate this through powershell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe04a05a-f753-ee1f-5171-fd2a81a030f9
* Version Independent ID: 1507a7ac-11cc-81a7-e932-9e8ef9644e2b
* Content: [Azure Resource Manager vCPU quota increase requests](https://docs.microsoft.com/en-us/azure/azure-support

[2019-05-21 16:32] craigktreasure commented on #31423
@marcelohsilva Our current recommendation is to stick with Unity 2018.3, as stated in the guide, until we officially support Unity 2019.

[2019-05-21 16:36] tchristiani commented on #15833
@mohsena67 you should open this issue in the PowerBI repo.

[2019-05-21 16:47] jeevansd commented on #30412
@cap273  For Workday to force the authentication all the time you should enable this in the Workday SAML SSO configuration.

![image](https://user-images.githubusercontent.com/15001780/58114570-df275900-7bac-11e9-9a80-a53df97c796b.png)

For Mobile URL use the Azure AD sign on URL. That way when users are using the Workday Mobile app then they will be redirected to do the authentication with Azure

[2019-05-21 16:47] jeevansd commented on #30412
#please-close

[2019-05-21 16:48] sandervandevelde commented on #31804
Thanks, it's working again.

[2019-05-21 16:48] #31804 closed

[2019-05-21 16:52] levi106 opened #31835 "Exception was thrown while adding a Japanese phrase"
When I attempt to add a Japanese phrase, the following exception was thrown:

System.ApplicationException: 'bad conversion'

Language:
C#

Code:
phraseList.AddPhrase("アシカのショー");

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c3e4d66-e6fd-3ed1-f505-875064467f00
* Version Independent ID: 345501ca-4487-ff5a-b681-44950843

[2019-05-21 16:55] yiliaomsft commented on #31771
Are you saying your .NET Core web app is affected by this limitation? If so please send your web app name and we can take a look.

[2019-05-21 16:59] kartee87 commented on #31369
Hi,

have given the role of contributor to the blob storage and am the only user accessing it for now.
[withweburi.txt](https://github.com/MicrosoftDocs/azure-docs/files/3203629/withweburi.txt)

below link followed,
https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-app

[2019-05-21 17:00] kartee87 commented on #31369
All forums say only native or mobile app works with App registration and not Webapp

[2019-05-21 17:01] MohitDhingra-MSFT commented on #31785
Hi @lvjianjunljj,

The below client id has a permission to this resource ("83ac8948-e5e1-4bbd-97ea-798a13dc8bc6").
![image](https://user-images.githubusercontent.com/47346772/58115658-2565d200-7c18-11e9-98aa-f95f3d416853.png)

When you are sending the token to access web api, internally it checks two things.
First, verify the signature of the token to ensure the token was issued by Azure Active Di

[2019-05-21 17:02] codyborn commented on #29787
@Sshetty2 once you deploy the contract, it will have an address.  You should be able to see the contract address by scrolling up through the console output.  This will be more discoverable in the future :)

[2019-05-21 17:12] Sshetty2 commented on #29787
@codyborn I do not see anything in the console output... Is it possible that there is a problem with the migration?

please see attached image

![image](https://user-images.githubusercontent.com/28030683/58116328-017b9f80-7bca-11e9-9a31-135147d5e173.png)

[2019-05-21 17:13] YutongTie-MSFT commented on #31835
@levi106 Thank you for your feedback, we will investigate it and get back to you soon.

[2019-05-21 17:14] YutongTie-MSFT commented on #31829
@AdamUnderwood Thank you for your feedback, we will investigate it and get back to you soon.

[2019-05-21 17:15] krzwalko commented on #9010
If you still want to use kafkacat (I find it simpler to use than kafka-console-consumer), this configuration works for me:
[code]
You can change `-L` to whatever you need for produce, consume, metadata query, etc...
sasl-password is basically "Connection-string primary key" to be found in "Shared access policies" view of  your event hub.

This is version of kafkacat I am using:
`Version 1.4.0 (JSO

[2019-05-21 17:20] CeciAc commented on #31512
Hi @femsulu
Yes, the error seems fixed now and it will be fixed in the localized versions in future updates
best

[2019-05-21 17:20] #31512 closed

[2019-05-21 17:22] vhorne commented on #31412
@kumarallamraju

Sorry, I can't repro your issue. Whether you select the network interface directly from the resource group, and indirectly from via the VNet, it leads you to the same place: the network interface.

So, I'm not sure how you are seeing different settings for a network interface depending on the path you take to access it.

[2019-05-21 17:25] unacao commented on #31768
I don't think you need a specific instance for investigation. Just using your sample data in the documentation here https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-query-mongodb would be fine, as you just want to test the (dot notation+array index) for array data match.

[2019-05-21 17:30] sean-nixon opened #31837 "Provide example of Client ID parameter"
There is no example of the Client ID parameter for the Azure Instance Metadata Service identity endpoint. Can you provide an example of what it is supposed to look like? Is it `client-id=xxxx`, `clientId=xxxx`, other?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bd6bdc9-b545-f273-dc80-eeb69107d919
* Version Independ

[2019-05-21 17:30] cronq commented on #30836
I suppose it answers the question but I am not clear at all on how it actually works. When I talked to support, they said the it changed the lifetime of the session token, which I guess is wrong. The point of this thread is that while the howto describes the feature, it doesn't link to deeper technical references like this: https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-

[2019-05-21 17:39] codyborn commented on #29787
@cnsegura, where can @Sshetty2 find the contract address in the extension output?

[2019-05-21 17:42] Mike-Ubezzi-MSFT commented on #31277
@arolshan We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-21 17:42] #31277 closed

[2019-05-21 17:46] vladvino commented on #22179
@antogh We have no ETA or plan for rate limit by key support in the Consumption tier at this time.

[2019-05-21 17:50] ggailey777 commented on #31732
@alexsab1 just to clarify, Consumption plans only support CNAME records. If you want to use A records, you must be using a Premium plan or an App Service plan. I am updating the table and adding a note to this effect. Thanks for catching this!

[2019-05-21 17:55] MicahMcKittrick-MSFT commented on #31688
@igormusinov any update?

[2019-05-21 17:55] MicahMcKittrick-MSFT commented on #31690
@igormusinov any update?

[2019-05-21 17:56] MicahMcKittrick-MSFT commented on #31716
@blueelvis any update?

[2019-05-21 17:57] qianw211 commented on #30968
#please-close the link has been added and is now live.

[2019-05-21 17:59] MicahMcKittrick-MSFT commented on #31729
@iainfoulds anything you can add here?

[2019-05-21 18:00] msdpalam opened #31838 "Password contains an illegal unescaped character"
When I run the sample code in this page, as is, with my MongoDB API connection string, it failes with the error:
AssertionError [ERR_ASSERTION]: null == 'AssertionError [ERR_ASSERTION]: null == \'Error: Password contains an illegal unescaped character\''

This is coming from line:
MongoClient.connect(url, function(err, client) {
...

I changed the code with the following:
MongoClient.connect(url,

[2019-05-21 18:01] SaurabhSharma-MSFT commented on #31837
@sean-nixon Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-21 18:03] Mike-Ubezzi-MSFT commented on #31352
@jssanta96 The Azure SQL Database gateway IP addresses are subject to change but not before a notification process is initiated and a change notice is communicated out to customers.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-21 18:03] #31352 closed

[2019-05-21 18:03] mrdfuse commented on #31724
That link 404's on me?

[2019-05-21 18:03] ackava commented on #31363
I did get help from tech support on how to export backup with SSMS, but there is no export button in the portal.

[2019-05-21 18:04] SaurabhSharma-MSFT commented on #31831
@anwarmahmood1 Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-21 18:05] SaurabhSharma-MSFT commented on #31830
@anwarmahmood1 Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-21 18:05] cnsegura commented on #29787
Hi @Sshetty2 - take a look at the attached animated .gif. You can see the contract address in the "Azure Blockchain" output channel in VS Code. You may have to scroll through the output to make sure you see the bottom of the data that gets sent to that output channel. In future revisions of the extension we will add the capability to get contract address at any time, not just at deployment in the

[2019-05-21 18:06] SaurabhSharma-MSFT commented on #31828
@dlduncan Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-21 18:07] SaurabhSharma-MSFT commented on #31826
@ericcwk Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-21 18:09] Mike-Ubezzi-MSFT commented on #31363
@ackava For the specific database you wish to have exported, there is an `Export` button. Please ensure you are looking at the Database in the portal and not the SQL Server.

![Screenshot (24)](https://user-images.githubusercontent.com/37126106/58119872-de94bf80-7bb8-11e9-8f81-dcac5c1c1a37.png)

[2019-05-21 18:09] Mike-Ubezzi-MSFT commented on #31363
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-21 18:12] roygara commented on #30509
@Absoblogginlutely That text is inaccurate. The only "dll" that is required is the AZ module for PowerShell for that particular section of commands. The File Sync agent is *not* required for that specific section. I'll go ahead and remove that text from the article since the AZ module is covered in the pre-req section. Thanks for bringing this to our attention. :)

[2019-05-21 18:19] mumian commented on #31724
@mrdfuse, it is a private PR.  It will be merged later today.

[2019-05-21 18:23] dstampfli opened #31840 "Can you add limits for the new Mv2 VMs?"
Can someone please add the WA IOPs limits for the Mv2 series VMs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63b3e4e6-93e1-c93a-618e-fadc1329a79a
* Version Independent ID: 043f8f5f-b206-5b9d-f3bd-66dfe2b1e96d
* Content: [Azure Write Accelerator](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/how-to

[2019-05-21 18:27] YutongTie-MSFT commented on #31829
@AdamUnderwood  Great catching !!! Thank you a lot. I will fix the document and you should see the change shortly.

[2019-05-21 18:27] roygara commented on #31783
@YuichiTorigoe Thanks for reaching out, we appreciate it! The text is off by one, it is supposed to be 4,096, not 4,095. I've stood up a PR correcting this.

@jakaruna-MSFT FYI

[2019-05-21 18:29] sumeetmittal commented on #30359
Microsoft. Web should be working now. Below are the details.
https://docs.microsoft.com/en-us/azure/app-service/app-service-ip-restrictions

[2019-05-21 18:31] Mike-Ubezzi-MSFT commented on #31838
@msdpalam Thank you very much for bringing this to our attention. We are investigating and will make an update to the tutorial as appropriate.

[2019-05-21 18:38] MicahMcKittrick-MSFT commented on #31840
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-21 18:38] KS76 commented on #31774
Here is the link to the document.
https://docs.microsoft.com/en-us/azure/active-directory/user-help/multi-factor-authentication-end-user-first-time

[2019-05-21 18:42] TravisCragg-MSFT commented on #17492
@janlunddk Have you worked with Azure Support yet to get encryption working between the App Gateway and AKS?

Also, are you using an Azure Load Balancer for your AKS?

[2019-05-21 18:52] MicahMcKittrick-MSFT commented on #31840
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-21 19:02] bootsinthecity commented on #26076
I ran into the same error: https://github.com/Azure/MachineLearningNotebooks/issues/288

You are likely in a directory that has more than 300 MB worth of data or files inside. Move your notebook into a new subdirectory and try again. This worked like a charm for me.

Step 1: Create a new folder
Step 2: Move jupyter notebook into empty folder
Step 3: Try running the code again

[2019-05-21 19:14] iainfoulds commented on #31803
@srrengar Can you confirm the regional availability for Japan East as listed in https://docs.microsoft.com/en-us/azure/aks/virtual-nodes-cli#regional-availability, please?

[2019-05-21 19:14] roygara commented on #31783
The PR has been merged, the change should be live in a few hours. Thanks again for reaching out!

#please-close

[2019-05-21 19:17] iainfoulds commented on #31786
Thanks for the feedback, @celamb4. As @jakaruna-MSFT notes, there's nothing specific to a user account here, it's assigning RBAC to a given object would could also (and potentially more commonly) be a group.

I'll add a note that the same process works for adding a group rather than user and how to get a group object ID. I'm hesitant to add a complete example as some people may not have permission

[2019-05-21 19:18] tfitzmac commented on #31817
@galmok - are you deploying the actionGroups in the same template? If not, then you don't need to set any dependency. If are you deploying in the same template, are you using a copy loop to create the actionGroups? If so, set dependsOn to the name of that copy loop. If you are not using a copy loop, you need to set dependsOn to the name of any actionGroups that need to exist. Have you tried settin

[2019-05-21 19:20] kethahel99 commented on #25771
have a look at this. Compliments of @dbafromthecold

https://gist.github.com/dbafromthecold/21d3939a7cc23cbe2e6a1b05e30d2689

[2019-05-21 19:23] jlrd opened #31841 "Metadata error when installing New-OnPremiseHybridWorker.ps1"
On https://docs.microsoft.com/en-us/azure/automation/automation-windows-hrw-install#automated-deployment it references installing the script New-OnPremiseHybridWorker.ps1 from the Gallery. However currently when doing so it generates an error while attempting to install as Admin on a current PowerShell 5.1 about metadata. Having to manually download and install/use the script via the nupkg from th

[2019-05-21 19:27] jlrd commented on #31841
Upon looking at the script it looks like it is missing the Description attribute, from what appears to be the required set of Version, GUID, Description, and Author.

[2019-05-21 19:28] TravisCragg-MSFT commented on #31833
@aydeisen as long as you are not trying to use Email protocols such as SMTP, IMAP, and POP3, you should be good.

I am unfamiliar with the full scope of OWA and I am unsure if this is an explicitly supported scenario, but If you are sticking to http and https on port 80 and 443 it should work.

Please let me know if you need any additional info!

[2019-05-21 19:34] ahmedelnably commented on #31757
@MisinformedDNA thanks for the issue, will send a PR with the correct yaml

[2019-05-21 19:38] tfitzmac commented on #31777
@MikeWasson - do you have any architectural guidance about how to accommodate regional outages? It seems related to some articles you worked on, such as [Make all things redundant](https://docs.microsoft.com/en-us/azure/architecture/guide/design-principles/redundancy) or [Deploying Azure applications for resiliency and availability](https://docs.microsoft.com/en-us/azure/architecture/reliability/d

[2019-05-21 19:42] markjbrown commented on #31781
Yes, confirmed as well. Will update the samples repo and submit a PR now. Should get reflected in a day or two. Thanks for reporting.

[2019-05-21 19:46] ahmedelnably commented on #31757
Fix merged
Thanks again for reporting the issue

[2019-05-21 19:46] tfitzmac commented on #26865
@ToMakeSense - using reference in the input field works because that field resolves to the resource properties. When the template is expanded, the reference function is applied to resource properties. I'll add a note about that.

Reference doesn't work in the count field because that value must be resolved before deployment starts. Your best option is to pass the array as a parameter and then use

[2019-05-21 20:02] aydeisen commented on #31833
I'm good; I just think that particular FAQ in the document is misleading to just say that Exchange Server backends aren't supported when it can be used for OWA, and should be corrected.

[2019-05-21 20:03] msrini-MSFT commented on #31298
@johnthcall , Diagnostic logs are not supported in National clouds. This is apparently in the backlog. ETA cannot be shared in this Forum.