[2022-11-17 22:36] #96789 closed

[2022-11-17 22:39] schaffererin commented on #87136
Thank you @anschul for your feedback!

We have added an item to our backlog and will prioritize accordingly.

#please-close

[2022-11-17 22:39] #87136 closed

[2022-11-17 22:41] sfiguemsft commented on #100273
@TomaszWRutkowski we'll update the docs with a diagram but the name resolution is correct. If you query the inbound endpoint directly you're bypassing the name resolution order and will not do a query against your private DNS Zones. For the name resolution order to be respected, your VNET setting should have Azure provided DNS servers and your VMs will query the private DNS zone first, then rulese

[2022-11-17 22:43] greg-lindsay commented on #100273
Hi - we have plans to add a flow diagram here that should help to understand how DNS resolution works with the implementation of the DNS resolver. There is currently not an error in the article with regard to the flow.

Note: VNETs must be configured to use Azure DNS so that the clients in the VNET use Azure DNS.  When this is set, then private DNS zones are always queried first.  This is stated i

[2022-11-17 22:43] greg-lindsay commented on #100273
#please-close

[2022-11-17 22:43] #100273 closed

[2022-11-17 23:01] AbdullahBell commented on #101620
Hello and thank you for your question.

 If your Azure DDoS Protection plan is active for the entire month, you will be charged the monthly fee regardless of usage. However, if your service was active only for a portion of the month, you would only receive a prorated bill for the hours used.

 https://azure.microsoft.com/en-us/pricing/details/ddos-protection/#faq

[2022-11-17 23:27] WorldBosss1 commented on #101620
Yes please Cashapp me it’s easier to $payment7376 or to my tips on GitHub

[2022-11-17 23:28] WorldBosss1 opened #101625 "> If a customer removes a DDoS plan before the full month - are they still charged $2,944/month or are they prorated based on the date timeframe used?"
Yes please Cashapp me it’s easier to $payment7376 or to my tips on GitHub

_Originally posted by @WorldBosss1 in https://github.com/MicrosoftDocs/azure-docs/issues/101620#issuecomment-1319343347_

[2022-11-17 23:30] maishii opened #101626 ""git push azure main""
The part of the tutorial on this page that runs **_git push azure main_** didn't work.
Shouldn't it be **_git push azure master_** ?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 044dc8e6-5c10-41f8-1f5d-8cef2212fc2b
* Version Independent ID: a4384892-79c6-df57-66c4-1289d41d052d
* Content: [Tutorial: Deploy a PHP (Lar

[2022-11-17 23:43] kamilzzz commented on #101610
Thanks for info!

[2022-11-17 23:43] #101610 closed

[2022-11-18 00:02] paupal1 opened #101628 "deploymentScripts AzureCli Documented Versions Inaccurate"
Document gives link to check for valid version of AzureCli that can be specified for deploymentScripts. 2.42.0 is specified as a valid version (https://mcr.microsoft.com/v2/azure-cli/tags/list) but this is not accurate.

Response from Azure deployment:

{"code":"InvalidTemplateDeployment","details":,"message":"The script language version is not supported. Supported versions: '2.0.77,2.0.78,2.0.79,

[2022-11-18 00:21] jeremiahjordanisaacson opened #101629 "What if a user doesn't have Admin access to AAD?"
What if a user doesn't have Admin access to AAD and the admins are unwilling to make the update? Is the user blocked from using Adobe software for conditional access scenarios?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e9a17045-3e03-f5d8-d36c-dfadede14a9c
* Version Independent ID: 0dfd714e-fd2e-eb51-e2cf-8a6c8ec4

[2022-11-18 00:32] scharwood commented on #40975
This is still true.
Why isn't there a simple path for people who want simple?

There should be a simple form to create everything needed on the Azure side (for those who want simple).  I have a web service, I have an app (WPF or something), give the thing a name.  Now give me a URI.  That should be all that is needed.  Then, customize to your hearts content.
I should be able to make one call from

[2022-11-18 00:43] SnehaGunda commented on #93242
It’s on Linux 64 and maybe this doc can help: [https://learn.microsoft.com/en-us/azure/synapse-analytics/spark/apache-spark-troubleshoot-library-errors#validate-wheel-files:~:text=Validate%20wheel%20files](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Flearn.microsoft.com%2Fen-us%2Fazure%2Fsynapse-analytics%2Fspark%2Fapache-spark-troubleshoot-library-errors%23validate-wheel-file

[2022-11-18 01:07] uriel-kluk opened #101631 "When creating a route for non-telemetry events, the message in the event hub does not match the schema"
If the user monitors IoT Hub with the CLI `az iot hub monitor-events` tool as per the page describes, the annotations and application section match the JSON provided, but if the operator inspects the message in the routed eventhub from the selected endpoints, all the annotations and applications are gone. This appear to be a bug or something is missing from the documentation.

Suggestion, document

[2022-11-18 01:54] ChaitanyaNaykodi-MSFT commented on #101602
@RichardSmith1208 Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-11-18 01:55] ChaitanyaNaykodi-MSFT commented on #101612
@porrascarlos802018 Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-11-18 02:04] ManoharLakkoju-MSFT commented on #101593
@RDukes425
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-18 02:06] ManoharLakkoju-MSFT commented on #101595
@lireking
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-18 02:07] ManoharLakkoju-MSFT commented on #101596
@amanjeetsingh
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-18 02:09] ManoharLakkoju-MSFT commented on #101598
@benpbolton
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-18 02:13] ManoharLakkoju-MSFT commented on #101603
@manzaloros
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-18 02:25] GeethaThatipatri-MSFT commented on #101626
@maishii Thanks for your feedback! We will look into it and update as appropriate.

[2022-11-18 02:46] cnadler-MSFT opened #101634 "Video clarification"
In the first video at 1:04, there's a statement that you can create forest trusts to access resources in an on-premises domain.  Based on my understanding of AADDS, the managed domain when in resource domain mode only supports outbound one-way trusts to other AD forests, which allows access to resources in the AADDS domain, but not the inverse in the scenario you have AAD-only accounts synching to

[2022-11-18 03:02] ManoharLakkoju-MSFT commented on #101616
@LeedsDBA
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-18 03:07] ManoharLakkoju-MSFT commented on #101634
@cnadler-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-18 03:25] AshokPeddakotla-MSFT commented on #101621
@RBartonMesh Thanks for the feedback! I have assigned the issue to the content author @kgremban to evaluate and update as appropriate.

[2022-11-18 03:35] kingshukbarua opened #101635 "Customer Feedback"
Providing Feedback on behalf of Customer.

Customer wanted to use "Update Management Center (Preview)" Feature, however over 50 of the customer's VM was created from snapshot/ Specialized disk/ Custom Image, hence they are unable to use feature.

Customer Feedback, if there is a section/disclaimer on the document that mentions, If creating VM using snapshot/ specialized disk/Custom Image, customer

[2022-11-18 03:37] ManoharLakkoju-MSFT commented on #101619
@ashkickindevelopment
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-18 03:39] ManoharLakkoju-MSFT commented on #101625
@WorldBosss1
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-18 03:43] ManoharLakkoju-MSFT commented on #101622
@dluc
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-18 03:45] ManoharLakkoju-MSFT commented on #101628
@paupal1
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-18 03:47] ManoharLakkoju-MSFT commented on #101631
@uriel-kluk
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-18 03:49] ManoharLakkoju-MSFT commented on #101635
@kingshukbarua
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-18 03:58] TomaszWRutkowski commented on #100273
Hello,

Thank you for your reply. It's a bit a pity that it was closed without
giving me any time to reply - as I am not really agreeing if your last
comments Sergio&Greg

1. Inbound endpoint of Private DNS Resolver is exacly what should be
queried - that's the reason it exists - especially  from on-prem networks
as a target IP of Conditional Forwarders. It does not disturb DNS flow -
its the corr

[2022-11-18 04:31] #101397 closed

[2022-11-18 04:32] ManoharLakkoju-MSFT commented on #101411
@ravikiran-srini
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation

[2022-11-18 04:32] #101411 closed

[2022-11-18 04:34] ManoharLakkoju-MSFT commented on #101527
@Abhijeet2019
I'm going to assign this to the document author so they can take a look at it accordingly

@barclayn
Can you please check and add your comments on this doc update request as applicable.

[2022-11-18 04:36] ManoharLakkoju-MSFT commented on #101557
@jamesdplee
I'm going to assign this to the document author so they can take a look at it accordingly

@khdownie
Can you please check and add your comments on this doc update request as applicable.

[2022-11-18 05:15] devbyzen opened #101636 "Adding the two registry entries on this page breaks VPN connection"
[Enter feedback here]
After adding the two registry entries on this page and restarted my Windows 11 machine, the VPN connection failed to connect. The Event viewer entry: The user [redacted] dialed a connection named MSFTVPN-Manual which has failed. The error code returned on failure is 2250.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub

[2022-11-18 05:24] ChaitanyaNaykodi-MSFT commented on #101518
@JustinVenterGit Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-11-18 05:24] sfiguemsft commented on #100273
@TomaszWRutkowski we're going to update the document with a diagram to illustrate both inbound and outbound endpoints flow.

1. inbound endpoint - will resolve names from Private DNS zones linked to the VNET where the resolver and inbound endpoint is provisioned and should not resolve publicly
2. name resolution order for egress with azure provided DNS servers configured at the VNET level: a) priv

[2022-11-18 05:49] amarnath113 opened #101637 "Hi All,"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0f0990fc-9834-bde3-5e06-071c75fa89a5
* Version Independent ID: 96f5df37-aa95-443d-2500-37665179ce89
* Content: [Quickstart: Create a virtual network - Azure portal - Azure Virtual Network](https://learn.microsoft.com/en-us/azure/virtual-network/quick

[2022-11-18 06:01] amarnath113 commented on #101637
Hi,

I am using free trail account and try to create a VNET Using AzureBastion and I was followed all steps which is mentioned in this blog. While creating this flow I am unable to get the security tab options like in this blog.

Do I need to Upgrade my azure account from Free trail account to Pay-as-you-go or how?

Please find the below screenshots and help me how to I will get the Security Tab i

[2022-11-18 06:09] KapilAnanth-MSFT commented on #101637
@amarnath113 ,
It appears that there has been an UI update in the Portal.
You should be able to specify the subnet range under the "IP addresses" tab of the current UI.

[2022-11-18 06:20] RolandlinAKS commented on #101382
Apart from above query, the customer also have a question that if one container group can use both TCP and UDP ports?

[2022-11-18 06:56] Sakkie commented on #90225
Also struggling with this issue. Even after setting `ClientRetryOptions` in Startup.cs.

[2022-11-18 06:57] SaibabaBalapur-MSFT commented on #101573
@BenjiSec
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@limwainstein
Can you please check and add your comments on this doc update request as applicable.

[2022-11-18 07:06] Naveenommi-MSFT commented on #101525
@mssaperla
Could you please review this and update as appropriate.

[2022-11-18 07:06] Naveenommi-MSFT commented on #101525
@aravishdatabricks
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-18 07:10] ManoharLakkoju-MSFT commented on #101598
@barclayn
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-11-18 07:10] ManoharLakkoju-MSFT commented on #101598
@barclayn
Can you please check and add your comments on this doc update request as applicable.

[2022-11-18 07:11] Naveenommi-MSFT commented on #101591
@RaikHerrmann
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-18 07:11] ManoharLakkoju-MSFT commented on #101589
@harkx
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-11-18 07:12] Naveenommi-MSFT commented on #101591
@swatig007
Could you please review this and update as appropriate.

[2022-11-18 07:12] ManoharLakkoju-MSFT commented on #101589
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2022-11-18 07:12] huwjeffries opened #101638 "Could be clearer"
This paragraph could be clearer:

"When you've completed the app registration, you've a globally unique instance of the app (the application object) which lives within your home tenant or directory. You also have a globally unique ID for your app (the app or client ID)."

It should explain why we need TWO globally unique Id's for our app (the app Id and Client Id). e.g., Is the client Id really th

[2022-11-18 07:15] akshay-mahakalkar opened #101639 "Unable to retain version id when blobs are migrated to new storage account"
Blob versioning is a great feature, and we recently included it in our application. With this, our application no longer needs to create or maintain versions on our own. But there is a big problem if migration is needed.

With azure blob versioning we are recording the version id of the every blob so that application will pull the exact blob and its specific version. If we need to clone the enviro

[2022-11-18 07:31] AjayBathini-MSFT commented on #101583
@brianreidc7
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-11-18 07:31] AjayBathini-MSFT commented on #101583
@billmath
Could you please add your comments on the above query

[2022-11-18 07:33] dnunezmo commented on #101581
Published document is
https://learn.microsoft.com/en-us/azure/dns/dns-private-resolver-overview

Image file is:
https://learn.microsoft.com/en-us/azure/dns/media/dns-resolver-overview/resolver-architecture.png

Thanks!

[2022-11-18 08:37] MohamedSahbi commented on #95153
I posted a question in Azure Community Support about it https://learn.microsoft.com/en-us/answers/questions/1094865/add-aztable-row-throws-error-methodinvocationexcep.html

[2022-11-18 09:48] KapilAnanth-MSFT commented on #101581
@dnunezmo, unfortunately, we will not be able to share the .svg or .vsdx

Please let me know if you have any further questions on this.

[2022-11-18 10:07] KapilAnanth-MSFT commented on #101379
@FrancisZ0702, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me or @GitaraniSharma-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-11-18 10:07] #101379 closed

[2022-11-18 10:13] dsongatcos opened #101642 "typo in example URL address to the SAML metadata of an Azure AD B2C technical profile:"
[Enter feedback here]

I believe the URL on page, 'https://your-tenant-name.b2clogin.com/your-tenant-name/your-policy/samlp/metadata?idptp=your-technical-profile', should be like 'https://your-tenant-name.b2clogin.com/your-tenant-name**.onmicrosoft.com**/your-policy/samlp/metadata?idptp=your-technical-profile'.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.micro

[2022-11-18 10:33] KarlSupertramp opened #101643 "Azure Marketplace: "Object Anchors" is not available."
I want to test "Azure Object Anchors" but there is currently no way to create an Object Anchor, since this feature isn't available in the Marketplace, like it is described here:

https://learn.microsoft.com/en-us/azure/object-anchors/quickstarts/get-started-unity-hololens-mrtk?tabs=unity-package-web-ui#create-an-object-anchors-account

Do I have to enable something first? If yes, please add this i

[2022-11-18 10:35] Naveenommi-MSFT commented on #101569
@BlobSpirit
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-18 10:35] Naveenommi-MSFT commented on #101569
@ukchrist
Could you please review this and update as appropriate.

[2022-11-18 10:43] ManoharLakkoju-MSFT commented on #101606
@normesta
Thanks for your inputs

[2022-11-18 10:43] tomeks666 opened #101644 "Well - I still do not know how I purchase a phone numner"
I am looping through a documentation. But it looks like to get a phone number one of prerequisites is to have a purchased phone number. Catch 22. Where do I click "purchase a phone number"? Will I be able to choose the country, normal/toll-free, capability to receive SMS etc?

The thing I really need it to receive moderate quantity of text messages, tens per day.

---
#### Document Details

⚠ *Do

[2022-11-18 11:03] james-seddon-paymentsense opened #101645 "Expression Operator support for memberOf groups"
Is it, or will it be, possible to use expression operators such as "-startsWith" when using the memberOf dynamic group attribute?

IE: Will it be possible to do something like "user.memberof -any (group.objectId -startsWith "SSO-SalesForce")", "group.objectId" of course will not work in this example.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟

[2022-11-18 11:30] csmulligan commented on #96638
Hi @Wibusts  thank you so much for pointing this out. We've updated the article and changes should publish shortly. This issue will close automatically once the changes are merged. Thanks again!

[2022-11-18 11:41] becke-ch-s0-v1 opened #101648 "Consent/Permission Matching Bug: “User.Read” vs “openid profile email”"
The Administrator has granted admin consent respective given permission for “User.Read” (https://graph.microsoft.com/User.Read) but the application on-behalf of the user requests permission for scope “openid profile email” (https://login.microsoftonline.com/<tenant>/oauth2/v2.0/authorize?response_type=id_token&redirect_uri=...&client_id=...&scope=openid profile email&response_mode=form_post&nonce=

[2022-11-18 12:02] squasta opened #101649 "Pre requisites are wrong (az aks_preview extension version)"
with aks-preview extension version 0.5.115,  I get the following error message :

"_unrecognized arguments: --kube-proxy-config kube-proxy.json_"

meaning that the option for this feature is still not available for azure CLI

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: fd78c752-728a-9db9-fa4a-8e2167d2e48f
* Version

[2022-11-18 12:55] v-ksreedevan commented on #98000
Hi @shoyer089,

Thank you for pointing it out. This has been fixed and the update is available at https://learn.microsoft.com/en-us/azure/network-watcher/diagnose-vm-network-traffic-filtering-problem.

Hence, closing the issue.

#please-close

[2022-11-18 12:55] #98000 closed

[2022-11-18 12:57] v-ksreedevan commented on #93634
Hi @nlasok1 ,

Thank you for pointing it out.

The update is available at https://learn.microsoft.com/en-us/azure/network-watcher/network-watcher-connectivity-overview#fault-types.

Hence, closing this issue.

#please-close

[2022-11-18 13:14] RamanathanChinnappan-MSFT commented on #101505
@KellyVance

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-11-18 13:20] justin-ruffin commented on #91290
To log on using a consumer user account:

Go to the following url https://portal.azure.com and log in using the consumer account credentials:

**Login:** '[Object ID]@[Tenant Name].onmicrosoft.com".
* "[Object ID]" is the user object id for the consumer account.
* "[Tenant Name].onmicrosoft.com" is the Resource Name for the B2C directory.

**Password:** Use the existing consumer user account passw

[2022-11-18 13:41] kristofvanwoensel opened #101651 "SSPR reset button"
I activated the self service password reset service through intune, with writeback to AD.
The password reset works fine online, but not on the login screen.

When I click the 'Reset password' button, nothing happens and I get error message ""Something went wrong. Please, try again later."
When I then log in with my user credentials, suddenly the reset page does open.

Is there any logging on event

[2022-11-18 13:47] RamanathanChinnappan-MSFT commented on #101563
@ziadrida

Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-18 13:47] omondiatieno commented on #100975
@alexchen2016, thank you for contributing to our docs. The feature is currently not available in China. Kindly refer to a similar response to the same question here: https://github.com/MicrosoftDocs/azure-docs/issues/97983.

I'll go ahead and close this issue. Feel free to reach out in case you have any more concerns.

[2022-11-18 13:47] RamanathanChinnappan-MSFT commented on #101563
@mssaperla

could you please review this and update as appropriate.

[2022-11-18 13:48] omondiatieno commented on #100975
#please-close

[2022-11-18 13:48] #100975 closed

[2022-11-18 13:51] AshokPeddakotla-MSFT commented on #101470
@devgaia Thanks for raising this feedback! I have assigned the issue to the content author @kgremban to evaluate and update the doc as appropriate.

[2022-11-18 14:00] becke-ch-s0-v1 opened #101652 "App Service: Authentication: Add Identity Provider: Wrong Issuer URL"
For App Service when adding an Identity Provider and selecting “Pick an existing app registration in this directory” then the Issuer URL starts with "https://sts.windows.net/..." But according to documentation it should start with "https://login.microsoftonline.com/..."  so either the documentation or the implementation is wrong. FURTHERMORE, when picking an App Registration that has set “Accounts

[2022-11-18 14:05] XiaoYue2-22 opened #101653 "No FlushWithClose event triggered after call flush api"
[Enter feedback here]

Go to the document https://learn.microsoft.com/en-us/azure/event-grid/event-schema-blob-storage?tabs=event-grid-event-schema#data-lake-storage-gen-2-events

Data Lake Storage Gen 2 events-> Microsoft.Storage.BlobCreated->from this section, it mentioned that we will also have FlushwithClose event when using rest API,
![image](https://user-images.githubusercontent.com/10019225

[2022-11-18 14:09] kengaderdus commented on #91290
@justin-ruffin

Thank you for your feedback.

[2022-11-18 14:11] FerryMan-Coder opened #101654 "Step after setting breakpoint omitted"
It might be ever so obvious to the authors and perhaps also to most users, but after setting the breakpoint the application should continue from debug (which means either removing the breakpoint or stepping over it three times -- for Tokyo, Seattle and London) and this step is left out in the description.
To clarify, the text preceding the JSON produced by the application says:
"The request will q

[2022-11-18 14:47] SadiqhAhmed-MSFT commented on #101593
@RDukes425 What other URLs do you think that needs to be added specifically to the list of URLs for Azure Government?

[2022-11-18 15:03] kengaderdus commented on #101363
@amyndhupelia

Thank you for your feedback and patience. Can you explain in detail the scenario you want to address or the problem you want to solve. It will help us to address your issue properly or propose another approach.

Thanks you.

[2022-11-18 15:05] YashikaTyagi-MSFT commented on #101462
@matthewjlevy
Please find the below link which might help you with the query.
https://learn.microsoft.com/en-us/azure/active-directory/cloud-infrastructure-entitlement-management/onboard-azure?source=recommendations

[2022-11-18 15:10] ManoharLakkoju-MSFT commented on #101636
@devbyzen
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-18 15:11] ManoharLakkoju-MSFT commented on #101609
@mundayn
I'm going to assign this to the document author so they can take a look at it accordingly

@tamram
Can you please check and add your comments on this doc update request as applicable.

[2022-11-18 15:13] ManoharLakkoju-MSFT commented on #101639
@akshay-mahakalkar
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-18 15:15] ManoharLakkoju-MSFT commented on #101642
@dsongatcos
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-18 15:16] AjayBathini-MSFT commented on #101629
@jeremiahjordanisaacson
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@jeevansd
Please review it and add your inputs.

[2022-11-18 15:17] ManoharLakkoju-MSFT commented on #101643
@KarlSupertramp
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-18 15:18] MicrosoftGuyJFlo commented on #101401
@lightupdifire I will add a little clarity in a future update. Thanks for the feedback.

[2022-11-18 15:19] ManoharLakkoju-MSFT commented on #101644
@tomeks666
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-18 15:19] YashikaTyagi-MSFT commented on #101487
@JB40550
Thanks for leveraging Azure docs feedback channel to raise this question.
This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

As the issue is specific to your use case, we request you to please reach out in forums like [Microsoft Q&A](https://

[2022-11-18 15:21] ManoharLakkoju-MSFT commented on #101645
@james-seddon-paymentsense
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-18 15:22] ManoharLakkoju-MSFT commented on #101648
@becke-ch-s0-v1
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-18 15:22] Grace-MacJones-MSFT commented on #99277
Thanks again for the feedback! We apologize for the delay in response. Upon further review we feel your feedback would be best received by the doc author to determine if an update to the current doc is necessary, or to create a new doc if they align with the feedback.

[2022-11-18 15:23] ManoharLakkoju-MSFT commented on #101649
@squasta
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-18 15:28] ManoharLakkoju-MSFT commented on #101652
@becke-ch-s0-v1
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-18 15:41] Satona75 commented on #101537
@ManoharLakkoju-MSFT
Hi
Here are the links referring to the statements I referenced earlier

https://learn.microsoft.com/en-us/azure/backup/backup-azure-monitoring-built-in-monitor?tabs=recovery-services-vaults#:~:text=By%20default%2C%20alerts%20for%20job%20failures%20are%20turned%20off.

https://learn.microsoft.com/en-us/azure/backup/backup-azure-monitoring-built-in-monitor?tabs=recovery-services

[2022-11-18 15:45] ManoharLakkoju-MSFT commented on #101654
@FerryMan-Coder
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-18 15:46] rohanislam2 commented on #93798
Is there any update on this issue?

[2022-11-18 15:47] zya90102 commented on #28786
Add-AzureADApplicationPolicy is not accepting the appID as input for the -Id. It accepted only the App ObjectId. However, the policy is not getting enforced.

[2022-11-18 16:01] mumurug-MSFT commented on #101653
Based on my understanding, you want to know why no **FlushWithClose** event triggered. I looked at the screenshot for flush operation and it didn't have parameter "close" as true. Refer [URI Parameters](https://learn.microsoft.com/en-us/rest/api/storageservices/datalakestoragegen2/path/update#uri-parameters) and default value is false.

![image](https://user-images.githubusercontent.com/95652148/2

[2022-11-18 16:01] #101653 closed

[2022-11-18 16:11] jackchenwork commented on #36935
Any update?  My test shows assigning monitoring reader on subscription level can allow user access to VM insights, but this is not ideal, they can see all VMs.

I have a resource group rg-vm and a log analytics workspace in resource group rg-loga; I added the user as monitoring reader in both resource group, the user still can not access VM insight for VMs in rg-vm.

[2022-11-18 16:12] craigktreasure commented on #101643
@KarlSupertramp Thanks for trying out Object Anchors. I can't think of anything you'd need to enable. It looks like the UI has changed a bit since we made the docs, but it's mostly the same.

![image](https://user-images.githubusercontent.com/6309423/202750035-15278211-73ea-48b0-9c71-4b5cd1215349.png)

![image](https://user-images.githubusercontent.com/6309423/202750091-51119b7b-9916-46ca-a224-230

[2022-11-18 16:12] lon-tierney commented on #93242
Yay! New docs! That likely would be helpful to the user who is manually managing packages (though I haven’t validated it works). If it’s not linked from the page in question here, please do so.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Sneha Gunda ***@***.***>
Sent: Thursday, November 17, 2022 4:43:59 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Lon Tie

[2022-11-18 16:12] ManoharLakkoju-MSFT commented on #101448
@yashamygb
Since we have not heard back from you, we will now proceed to close this thread.
If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-11-18 16:13] tiago-msft opened #101657 "APIM | Maximum number of active WebSocket connections per unit"
<html>
<body>

Maximum number of active WebSocket connections per unit | 200

This does not apply for APIM Developer tier.

On Developer tier, the limit is 100.

Can we please add a footer note on this table?

Thanks!
-- | --

</body>
</html>

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 36f49a06-90b1-cbe1-3853-2c382

[2022-11-18 16:13] kristofvanwoensel commented on #101651
Of course:
https://learn.microsoft.com/en-us/azure/active-directory/authentication/howto-sspr-windows

[2022-11-18 16:33] SadiqhAhmed-MSFT commented on #101429
@jasongroce and @dhirajgandhi Please help answering the questions in the previous posts.

[2022-11-18 16:33] MicrosoftGuyJFlo commented on #101482
#reassign:@MicrosoftGuyJFlo #please-close

[2022-11-18 16:33] #101482 closed

[2022-11-18 16:34] Klaas- opened #101658 "RHEL 8.7 -- change of the sku?"
Hey,
it seems like there is a new sku for current rhels, is that correct?
[code]
Or are you just missing the "standard" images for 8.7, which from my understanding would be
[code]

Greetings

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 00768bd6-7aab-694a-e6c8-80daf8d41f99
* Version Independent ID: c1be58b6-143e-9c2c

[2022-11-18 16:34] MicrosoftGuyJFlo commented on #101482
#label:"assigned-to-author"

[2022-11-18 16:41] tommylux opened #101659 "Protection Goal missing"
[Enter feedback here]
Protection Goal no longer appears under Site Recovery and not sure if backing up Physical machines on prem is still supported by ASR?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d80f3217-4086-bc86-8ed2-fd42ebcca24e
* Version Independent ID: 3c4aceaf-4099-5d15-ea45-c135c5dbf0a2
* Content: [Set

[2022-11-18 16:47] DrSigmund opened #101660 "At least two functions are missing from the reference"
At least two functions, "CBin" and "Thumbprint", are not documented. They are used in standard synchronization rule "In from AAD - User NGCKey".

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: cd9b2f2c-7274-ab3a-56a7-89e5c8d37d2d
* Version Independent ID: a280a4c5-e59a-a734-2328-e99a12995564
* Content: [Azure AD Connec

[2022-11-18 16:55] craigktreasure commented on #101643
@KarlSupertramp I've been told there have been some glitches in the portal recently. I've double checked using a few of my own accounts and I can find the "Object Anchors Accounts" resource in the Azure portal. Please try again and let me know.

[2022-11-18 17:10] msangapu-msft commented on #72450
#reassign:msangapu-msft

[2022-11-18 17:10] msangapu-msft commented on #72450
#please-close

[2022-11-18 17:10] #72450 closed

[2022-11-18 17:11] jackchenwork commented on #36935
OK I spent quite some time to figure this out. Here is the current least privileges I can get:
1. on VM or VM resource group level, grant monitoring Reader role.
2. user also need to have access to the backend log analytics workspace and data collection rules. my log analytics workspace and data collection rule are in same resource group rg-loga, and the minimum role is "monitoring contributor", n

[2022-11-18 17:19] AjayKumar-MSFT commented on #101366
DavidKlempfner, we have made the requested changes, the doc would reflect the published changes shortly. Much appreciate your feedback!

[2022-11-18 17:19] #101366 closed

[2022-11-18 18:15] mtvessel opened #101664 "Does not explain how multiple precedence dependencies are evaluated"
This page details how single precedence dependencies between activities are evaluated.  It does explain how multiple dependencies are evaluated.  It needs to document how the following two cases are handled:

a) multiple dependencies from the same activity, and
b) multiple dependencies to the same activity, from different activities

Thank you.

---
#### Document Details

⚠ *Do not edit this secti

[2022-11-18 18:23] v-mariarob opened #101666 "Microsoft.Web/sites does not respect ipSecurityRestrictions For Deny All in ARM Templates"
There is corner case in creating a new Microsoft.Web/sites resource in ARM where in ipSecurityRestrictions is not respected when attempting to block all traffic when created without additional firewall rules.

Example:

This ignores the rule.

"properties": {
                "siteConfig": {
                    "ipSecurityRestrictions": [
                        {
                            "ipAdd

[2022-11-18 18:28] maloyaxa opened #101667 "Rewrite ambiguous text for ILB deployment"
[Enter feedback here]
1. For App Service Environment with an internal load balancer deployment, it's not clear if the VIP is the endpoint for FTP/S and
2. if insecure FTP is disallowed, would there still need to be a network rule to allow traffic internally in the case of ILB deployment.

Please rewrite this to make it clear.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-11-18 18:30] isdataninja opened #101668 "Unclear retirement message for Azure Data Lake Analytics"
https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/data-lake-analytics/includes/retirement-flag.md

What is **Azure Data Lake Analytics** going to be replaced by? Create a migration plan to what?

@whhender

#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0c24cdbb-27c2-3da6-a9f9-4630cc9443a6
* Version Independen

[2022-11-18 18:43] ChaitanyaNaykodi-MSFT commented on #101353
@EmreJM,

Thank you for sharing your feedback and apologies for the delayed response here.

403 forbidden error usually occurs if a firewall is blocking the connectivity between your system and Azure.
As we primarily monitor this channel for any documentation bugs/improvements and as we could determine any we will now proceed to close this issue out. If the issue still persists, you can create a t

[2022-11-18 18:43] #101353 closed

[2022-11-18 18:53] RDukes425 commented on #101593
This is the current way in which the customer would like to see URL's outline within the Proxy Allow List in Azure Government. It is effectively a folder level up within the wildcard.

The current list is as follows with a request for an updated list by CSA (Burker Brooks):
*aad.azure.us
*aadcdi.azure.us
*activedirectory.windowsazure.us
*ext.azure.us
*identitygovernance.azure.us
*mspim.azure.us
*m

[2022-11-18 18:59] JnHs commented on #101593
Thank you @RDukes425 for the suggestion. I'm reviewing this with the product team and we will plan to update this section once we confirm the details.

[2022-11-18 19:01] anliakho2 commented on #101297
@kiranpradeep The order of the the images should be the same as the execution follows identical path
However there is a way more ergonomic way of achieving this goal which would not even need to download the files in the first place. Your 'image_url' column contains file pointer class `StreamInfo` that object implements open() method which is a File-like object and could be used by any python libr

[2022-11-18 19:07] samjpv opened #101669 "Typo (?) on resource uri for module sas token generation"
[Enter feedback here]

This line:
The token is created by using /devices/{deviceId} or /devices/{deviceId}/module/{moduleId} as resourceURI, with deviceId as the device being authenticated or moduleId as the module being authenticated

Should be:
The token is created by using /devices/{deviceId} or /devices/{deviceId}/_modules_/{moduleId} as resourceURI, with deviceId as the device being authentic

[2022-11-18 19:19] KrishnaG-MSFT commented on #101657
@tiago-msft  Thanks for your comment! We will review and provide an update as appropriate.

[2022-11-18 19:30] sdgilley commented on #101297
Thanks, @anliakho2!  I'm updating our document to use your modification of the code.

[2022-11-18 19:41] #101297 closed

[2022-11-18 19:50] anliakho2 commented on #101297
Additionally if files need to be accesses multiple times it will make sense to control caching and parallelization degree for downloading each file stream. Here is what it exposed to make it possible:
[code]

[2022-11-18 19:55] anliakho2 commented on #101297
@sdgilley  as for documentation I think a scenario where images are processed in a loop would be more appropriate.
Also take not of updated comment when images are accessed as those are no longer downloaded, so comment needs to change too

[2022-11-18 20:15] BryanTrach-MSFT commented on #101350
@oshihirii The proper item to do here would be to contact support so they can investigate if this behavior is intended. If the behavior is not intended, they can create a ticket with the product group to have them investigate further and issue a fix if determined to be necessary. If this is a platform limitation or something else that needs to be documented, the support engineer can reach out to t

[2022-11-18 20:15] #101350 closed

[2022-11-18 20:42] BryanTrach-MSFT commented on #101667
@maloyaxa Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-11-18 20:43] RyanHill-MSFT commented on #101652
Hi [@becke-ch-s0-v1](https://github.com/becke-ch-s0-v1), the Issuer URL isn't wrong. Microsoft AAD provider uses sts.windows.net as the issuer when [authSettingsV2](https://learn.microsoft.com/en-us/azure/templates/microsoft.web/sites/config-authsettingsv2?pivots=deployment-language-bicep) came about along with the new portal experience. The doc doesn't explicitly state the issuer has to be login.

[2022-11-18 20:53] brandonh-msft opened #101671 "Peek Lock section needs clarity"
It's not clear in [the Peek Lock section](https://learn.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue-trigger?tabs=in-process%2Cextensionv5&pivots=programming-language-csharp#peek-lock) what the difference is between "if a function fails" and "if a function never completes due to crash" - how does a function communicate back to the host that it succeeded or failed? I.e

[2022-11-18 21:16] amycolyer commented on #101539
[kva.log](https://github.com/MicrosoftDocs/azure-docs/files/10044837/kva.log)
6 -
[vmware-resource.zip](https://github.com/MicrosoftDocs/azure-docs/files/10044839/vmware-resource.zip)
[log_2022-11-16-16.52.41.zip](https://github.com/MicrosoftDocs/azure-docs/files/10044845/log_2022-11-16-16.52.41.zip)
3. - 2.013
4. The arc appliance isn't running so there aren't any logs
5 . AZ CLI version is 2.42.

[2022-11-18 21:19] MicrosoftGuyJFlo commented on #87423
Backlog item 2169347 created to track internally. Will update here when the product group provides more details. #please-close

[2022-11-18 21:19] #87423 closed

[2022-11-18 21:22] MicrosoftGuyJFlo commented on #93460
Backlog item 2169348 created to track internally. Will update here when the product group provides more details. #please-close

[2022-11-18 21:22] #93460 closed

[2022-11-18 21:24] MicrosoftGuyJFlo commented on #95370
#label:"awaiting-product-team-response"

[2022-11-18 21:24] MicrosoftGuyJFlo commented on #95370
Backlog item 2169351 created to track internally. Will update here when the product group provides more details. #please-close

[2022-11-18 21:24] #95370 closed

[2022-11-18 21:26] MicrosoftGuyJFlo commented on #95373
#label:"awaiting-product-team-response"

[2022-11-18 21:28] MicrosoftGuyJFlo opened #101674 "Is there an article that describes how to enable an azure ad joined computer to access a file share on an on premise active directory."
Is there an article that describes how to enable an azure ad joined computer to access a file share on an on premise active directory.

_Originally posted by @mschaffer20 in https://github.com/MicrosoftDocs/azure-docs/issues/95373#issuecomment-1298455204_

[2022-11-18 21:29] MicrosoftGuyJFlo commented on #101674
@mschaffer20 yes there is, see the following article for details https://learn.microsoft.com/azure/active-directory/devices/azuread-join-sso

#assign:@MicrosoftGuyJFlo
#please-close

[2022-11-18 21:29] #101674 closed

[2022-11-18 21:31] MicrosoftGuyJFlo commented on #101674
#label:"active-directory/svc","devices/subsvc"

[2022-11-18 21:32] MicrosoftGuyJFlo commented on #101674
#assign:@MicrosoftGuyJFlo

[2022-11-18 21:32] MicrosoftGuyJFlo commented on #95373
Backlog item 2169353 created to track internally. Will update here when the product group provides more details. #please-close

[2022-11-18 21:32] #95373 closed

[2022-11-18 21:33] lucas-a-meyer opened #101675 "Wrong database server name"
The text says MySQL but it should say SQL Server.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a4f0ba51-20d1-76b0-788c-c56366e2d880
* Version Independent ID: a4f0ba51-20d1-76b0-788c-c56366e2d880
* Content: [Query SQL Server with Azure Databricks - Azure Databricks](https://learn.microsoft.com/en-us/azure/databricks/

[2022-11-18 21:38] MicrosoftGuyJFlo commented on #98745
Backlog item 2169364 created to track internally. Will update here when the product group provides more details. #please-close

[2022-11-18 21:38] #98745 closed

[2022-11-18 21:40] MicrosoftGuyJFlo commented on #99770
Backlog item 2169348 created to track internally. Will update here when the product group provides more details. #please-close
Related to https://github.com/MicrosoftDocs/azure-docs/issues/93460

[2022-11-18 21:40] #99770 closed

[2022-11-18 21:42] MicrosoftGuyJFlo commented on #100509
Backlog item 2169366 created to track internally. Will update here when the product group provides more details. #please-close

[2022-11-18 21:42] #100509 closed

[2022-11-18 21:43] SnehaGunda commented on #101359
The above PR fixes this issue.

#please-close

[2022-11-18 21:43] #101359 closed

[2022-11-18 21:43] SnehaGunda commented on #100156
The above PR fixes this issue.

#please-close

[2022-11-18 21:43] #100156 closed

[2022-11-18 21:44] SnehaGunda commented on #100915
The above PR fixes this issue.

#please-close

[2022-11-18 21:44] #100915 closed

[2022-11-18 21:44] SnehaGunda commented on #100519
The above PR fixes this issue.

#please-close

[2022-11-18 21:53] VinnyBonner opened #101677 "Azure Functions Runtime is Unreachable caused by setting a Read-Only app setting"
Add another section/cause for the Azure Functions Runtime is Unreachable

### Setting a Read-Only Environment Variable

When setting environment variables or app settings, which are marked as "Read-Only" the function host will fail to start, resulting in the Azure Function Runtime is Unreachable.

Review the function app's application settings to ensure that there are no ["Read-Only" Environment V

[2022-11-18 22:06] VinnyBonner opened #101678 "Add Info box regarding Read-Only app settings."
If "Read-only" Environment Variables or App Settings are set via Application Settings, the host will fail to start up. I think it would be a good idea to add in a warning or information box/section not to set the read-only settings.

Setting Read-Only Environment Variables and App Settings as an application setting will result in a "HTTP Error 503. The Service is unavailable".

Steps to Reproduce

[2022-11-18 22:14] MarileeTurscak-MSFT commented on #101294
Hi @van1989, you mentioned that you are using the same user/pw account you declared when you created the virtual machine. In that case, it sounds like you might be using the local admin account (needed to configure the core settings for the virtual machine) rather than the Azure domain credentials.

To join the domain, you need to provide admin credentials for a user that's a part of the managed d

[2022-11-18 22:17] SnehaGunda commented on #77851
@gkoperczaknord Apologies for the really long delay but the above PR adds a line to the doc to address this issue.

#reassig:@SnehaGunda

[2022-11-18 22:18] SnehaGunda commented on #77851
#please-close

[2022-11-18 22:18] #77851 closed

[2022-11-18 22:24] SnehaGunda commented on #93620
@yosaeki The dedicated SQL Pool must be paused after use to avoid charges. I am not sure which screen has the hidden resources, but I can see the databases directly. I don't see any doc update. Please elaborate if you have further questions.

[2022-11-18 23:24] yahooshua opened #101679 "What is MFA Server"
The article mentions MFA Server.

What is that exactly? Are you talking about MFA in the Admin console or something else?

![image](https://user-images.githubusercontent.com/5670933/202819363-c01e4994-279e-416e-8c73-c1e5bcdd7f11.png)

A link or a brief paragraph with a screenshot might help.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.mi

[2022-11-18 23:25] BryanTrach-MSFT commented on #101460
@georgeOsdDev What do your preinstall and postinstall scripts look like?

[2022-11-18 23:36] Grace-MacJones-MSFT commented on #101666
Hi @v-mariarob, thanks for your feedback! We will review and update the template in the doc soon.

[2022-11-19 00:08] fitzmill opened #101680 "Azure Front Door Guidance Out of Date?"
Trying to set up Azure AuthN/AuthZ for an App Service with Azure Front Door. The guidance here says in order to make the reply url match the AFD url instead of the app service url that you need to download the settings for the app and adjust the forward proxy settings. I followed the steps to download the settings json file but can't find any of the settings it says that I need to change. Is this

[2022-11-19 00:24] jmprieur opened #101681 "Add a Tip for the choice of the redirect URI: the deployment URL"
[Enter feedback here]

It may be useful to call out that clients should be able to use <app ID URI> being the physical authority of the WebAPI service e.g. https://graph.microsoft.com] and that it is responsibility of the WebAPI to register the physical authority as AppIDURI on their app object.
The main point being that clients don’t need to do any other discovery if they URL of the WebAPI they n

[2022-11-19 00:48] georgeOsdDev commented on #101460
@BryanTrach-MSFT
I'm not using any hooks.
package.json
[code]

I think `npm install --unsafe-perm` is generated by oryx.
https://github.com/microsoft/Oryx/blob/main/src/BuildScriptGenerator/Node/NodeConstants.cs#L28

[2022-11-19 01:05] MikeHillberg opened #101683 "Out-of-date text: "Search for and select Azure Active Directory.""
That instruction doesn't work anymore; the option is behind a menu that you have to open first.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c9642c47-826b-017f-eff3-ab3b25e4e454
* Version Independent ID: 091f26e7-6543-ef0f-b575-b44519943391
* Content: [Quickstart: Register an app in the Microsoft identity platform -

[2022-11-19 01:30] ChaitanyaNaykodi-MSFT commented on #101476
@gerrynicol,

Based on your conversation here #101120, I think your issue was resolved. We will now proceed to close this issue out. Please tag me in your response if you have any additional questions here. Thank you!

[2022-11-19 01:30] #101476 closed

[2022-11-19 01:46] #101538 closed

[2022-11-19 01:47] ChaitanyaNaykodi-MSFT commented on #101538
@Ekzorcist ,

I have made a PR to address this issue and the suggested change will go live soon. Thank you once again for the feedback.

[2022-11-19 01:56] SudheeshGH commented on #101334
Assign to @code-sidd

[2022-11-19 01:57] haider392 opened #101685 "Unable to change ZRS to GZRS using Azure Portal (option greyed out/disabled)"
Customer has a premium files storage account currently set to ZRS in East US 2 region. As per the replication change table in this doc, they should be able to use Azure portal to change it to GZRS. However, the option is greyed out/disabled. I confirmed with a repro in my lab subscription and I could repro the issue. Please update the documentation if this is not allowed or add the limitations for

[2022-11-19 02:01] SudheeshGH commented on #101334
#assign @code-sidd

[2022-11-19 02:04] SudheeshGH commented on #101334
#reassign: @code-sidd

[2022-11-19 02:07] dhduvall opened #101686 "AAD/Postgres configuration instructions mention incorrect roles"
The prerequisites include

It seems that Privileged Role Administrator is not sufficient to allow `New-AzureADServicePrincipal -AppId 5657e26c-cc92-45d9-bc47-9da6cfdb4ed9` to succeed. Global Administrator is, though I don't know if there's another role with fewer privileges that would be sufficient. It certainly seems on the surface like it should be possible to have a smaller-scoped role that wou

[2022-11-19 02:32] dhduvall opened #101687 "no instructions on how to enable pgaadauth_* functions"
This page suggests using several functions whose names begin with `pgaadauth_`. When I try to use them, I get errors like
[code]
When I type `\df` in `psql`, the list of functions doesn't show any like this. I thought perhaps there was a server extension I needed to enable, but in the list of available extensions (`az postgres flexible-server parameter show -n azure.extensions -o tsv --query allow

[2022-11-19 02:39] paulf1234 commented on #59932
Hello, Im experiencing the same issue. Im using "Superuser" rather than "superuser" as thats how its spelt on the firewall.

Did you manage to resolve the issue?

[2022-11-19 04:12] alexdrenea opened #101688 "Update Logo"
Can you show an example of how to upload / update the Application Logo with scripts?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7b38cbb3-a70a-4869-2f37-ca2c9ca7e3d8
* Version Independent ID: e4b15b6b-e0fe-fc0e-4981-5b23e3d343ea
* Content: [Register a client application in Azure AD using CLI and REST API - Azure He

[2022-11-19 04:18] ManoharLakkoju-MSFT commented on #101658
@Klaas-
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-19 04:21] ManoharLakkoju-MSFT commented on #101659
@tommylux
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-19 04:22] ManoharLakkoju-MSFT commented on #101660
@DrSigmund
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-19 04:23] roygara commented on #101132
@wellsluo Thanks for bringing this to our attention, we appreciate it!

We've updated the screenshots and the display text. It's true that you don't need to create a VM in order to create a Premium SSD v2, but the steps are mirroring the CLI/PowerShell instructions, which do.

Accordingly, I'm closing this out.

Thanks for bringing this to our attention and helping us improve the docs!

#please-cl

[2022-11-19 04:23] #101132 closed

[2022-11-19 04:31] ManoharLakkoju-MSFT commented on #101664
@mtvessel
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-19 04:36] ManoharLakkoju-MSFT commented on #101638
@huwjeffries
I'm going to assign this to the document author so they can take a look at it accordingly

@rwike77
Can you please check and add your comments on this doc update request as applicable.

[2022-11-19 04:41] ManoharLakkoju-MSFT commented on #101668
@isdataninja
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-19 04:45] ManoharLakkoju-MSFT commented on #101669
@samjpv
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-19 04:47] ManoharLakkoju-MSFT commented on #101671
@brandonh-msft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-19 04:49] ManoharLakkoju-MSFT commented on #101675
@lucas-a-meyer
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-19 04:52] ManoharLakkoju-MSFT commented on #101677
@VinnyBonner
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-19 04:57] ManoharLakkoju-MSFT commented on #101678
@VinnyBonner
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-19 04:59] ManoharLakkoju-MSFT commented on #101679
@yahooshua
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-19 05:01] ManoharLakkoju-MSFT commented on #101680
@fitzmill
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-19 05:02] ManoharLakkoju-MSFT commented on #101681
@jmprieur
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-19 05:04] ManoharLakkoju-MSFT commented on #101683
@MikeHillberg
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-19 05:05] ManoharLakkoju-MSFT commented on #101685
@haider392
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-19 05:07] ManoharLakkoju-MSFT commented on #101686
@dhduvall
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-19 05:09] ManoharLakkoju-MSFT commented on #101687
@dhduvall
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-19 05:10] ManoharLakkoju-MSFT commented on #101688
@alexdrenea
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-19 05:54] isdataninja commented on #101668
https://learn.microsoft.com/en-us/azure/data-lake-analytics/data-lake-analytics-whats-new

[2022-11-19 09:11] Amritanand25 commented on #92025
@shwetamathur7 can you point us to the PR? Not able to follow steps in the new Front door interface

[2022-11-19 10:18] philtapp opened #101691 "Is 2012 supported?"
The Supported operating systems section lists out 2012 R2 and the older 2008 R2 but not 2012, lower down the page in the Software requirements section it mention that WMF5.1 is required to provide pwsh 4 on 2008 R2 and 2012.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a4d7411a-32db-b1a7-09b6-88fde6daccf9
* Version

[2022-11-19 10:54] amarnath113 commented on #101637
Hi ,

While I am try to creating the Vnet in Security tab still I am unable to
find  the enable and disable options.

Please help me on this issue.can you explain and elaborate me.

Thanks
Amar.

On Fri, Nov 18, 2022, 11:39 Kapil Ananth ***@***.***> wrote:

[2022-11-19 13:06] ManoharLakkoju-MSFT commented on #101691
@philtapp
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-19 16:10] #101493 closed

[2022-11-19 16:12] Naveenommi-MSFT commented on #101502
@agnitc
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-19 16:12] #101502 closed

[2022-11-19 16:18] Naveenommi-MSFT commented on #101674
Case auto resolved by customer.

[2022-11-19 16:28] tgafpc opened #101693 "Doc does not align with UI :("
When connecting to a factory, the browser UI asks to set a Working Branch.

"Working Branch" does not appear anywhere in this article.  I guess no one actually tries this.

What is the use case for the Working Branch, what are the consequences of selecting an existing one vs creating a new one?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub

[2022-11-19 17:56] jonwbstr opened #101697 "A note would be nice in the client address pool section"
The most important thing in the about client address pools article referenced in the statement above is,

If you choose an overlapping address range, users will connect to the VPN and not be able to reach anything. Would also be nice of the product group checked the routes packaged with the vpn client, and the address pool and let administrators know it the address pool was misconfigured.

---
###

[2022-11-19 17:58] jonwbstr commented on #101697
Oh, the request is to add a "Note" or "Important" callout for that section saying something like,

[2022-11-19 18:05] jonwbstr opened #101698 "overlap between what?"
Hello,

I recently worked with a User VPN Configuration where the p2s vpn client address pool overlapped with another network in the configuration (bgp routing). Users could connect to the User VPN, but could not access anything in the network. After reconfiguring the user vpn address pool, users were able to access other devices in the vWAN.

I see that address pools must be distinct, but this co

[2022-11-19 18:37] crmhh opened #101700 "This script is only working with YAML files instead of JSON files"
The here described method is not working because the azcmagent is using YAML-files instead of JSON-files when using the --config switch. For everyone trying it until this guide is fixed: Just convert the JSON to the YAML format.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 43a831b8-f893-e4eb-b0

[2022-11-19 18:49] wpitallo commented on #78992
Loosing faith in MSFT basic stuff like this should not be such a struggle...

[2022-11-19 20:17] mpellizzon opened #101701 "Login Windows using AAD via Bastion"
[Enter feedback here]
Is there any plan to enable windows login with a AAD but with Bastion?

Thanks

Mirella

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c946fe0f-e18d-2529-2fbf-bce04759fbca
* Version Independent ID: 885a61d1-6096-5aa0-fe8d-f1ec8d55e542
* Content: [Log in to a Windows virtual machine in Azure by us

[2022-11-19 23:59] MM-MikeM opened #101702 "MS Authenticator App Number Matching Apple Watch support"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5d46abb2-6ad9-e86e-8808-b69ca11922d8
* Version Independent ID: c4ccd9d6-13c7-6150-6a44-241bdf9b0982
* Content: [Use number matching in multifactor authentication (MFA) notifications - Azure Active Directory - Microsoft Entra](https://learn.microsoft.

[2022-11-20 01:13] BenjiSec opened #101703 "Update permissions with Microsoft Sentinel Playbook Operator role"
Can we add Microsoft Sentinel Playbook Opertor as a role

https://learn.microsoft.com/en-us/azure/sentinel/automate-responses-with-playbooks#azure-roles-for-microsoft-sentinel

#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 8f58d86f-73dd-4b0f-12fc-2e6cf124ae15
* Version Independent ID: 30e13fd9-1a71-73bd-bd9f-2bb74337de14

[2022-11-20 03:33] ManoharLakkoju-MSFT commented on #101693
@tgafpc
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-20 03:34] ManoharLakkoju-MSFT commented on #101697
@jonwbstr
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-20 03:35] ManoharLakkoju-MSFT commented on #101698
@jonwbstr
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-20 03:37] ManoharLakkoju-MSFT commented on #101700
@crmhh
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-20 03:38] ManoharLakkoju-MSFT commented on #101701
@mpellizzon
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-20 03:39] ManoharLakkoju-MSFT commented on #101702
@MM-MikeM
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-20 03:40] ManoharLakkoju-MSFT commented on #101703
@BenjiSec
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-20 03:44] Naveenommi-MSFT commented on #101433
@TheNaila
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-20 03:44] #101433 closed

[2022-11-20 03:44] ManoharLakkoju-MSFT commented on #101529
@kishorerv25
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation

[2022-11-20 03:44] #101529 closed

[2022-11-20 03:46] Naveenommi-MSFT commented on #101499
@djdimmen
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-20 03:46] #101499 closed

[2022-11-20 06:43] GLLJJ opened #101705 "invalid link"
The "subscriptions tab" link invalid in the following message

You can also view the offer ID from the ['Subscriptions' tab](https://account.windowsazure.com/Subscriptions) of the Azure Account portal:

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 82cde811-05df-c34c-6268-90e7c71e9c53
* Version Independent ID: b7b97f2

[2022-11-20 08:23] ajith-ajmal opened #101706 "Azure Front Door Origin Timeout"
## Azure Front Door

- Our backend target does multiple retries in which the response time goes beyond 4 mins
- In that case, Front Door responds 503 without even considering the retries
- Is there a way to disable Front Door Origin Timeout in Classic ? any headers that we can remove ?
@Harikrishnan-M-B

[2022-11-20 08:56] ElazarK commented on #101475
@jrohrich Thank you for bringing this to my attention. I am checking with the appropriate people and will have an answer in the next few days

[2022-11-20 10:06] #101483 closed

[2022-11-20 11:50] AssafFraenkel commented on #101384
Hi

Here are the errors + screenshot

{"code":"DeploymentFailed","message": "At least one resource deployment operation failed. Please list deployment operations for details.
Please see https://aka.ms/arm-deployment-operations for usage details.","details":
[{"code":"0","message":"Blob https://wingtipsaas1.blob.core.windows.net/bacpacs-mt/tenants1.bacpac is not readable."},
{"code":"0","message":"

[2022-11-20 12:18] HarshitAranya commented on #40975
i have ymail account and by using this i have created microsoft account. i am trying to create azure account and want to use same mail ID for this. while creation it is asking me to add mail ID as alias. so i am providing my ymail account but its throwing error like - xxxx.yyyy@ymail.com is already a Microsoft account. Please try a different email address.
Should i create new mail ID? what is use

[2022-11-20 13:15] ManoharLakkoju-MSFT commented on #101705
@GLLJJ
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-20 13:17] ManoharLakkoju-MSFT commented on #101706
@ajith-ajmal
Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!

[2022-11-20 13:18] ManoharLakkoju-MSFT commented on #101552
@thesheebs
Since we have not heard back from you, we will now proceed to close this thread.
If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-11-20 13:18] #101552 closed

[2022-11-20 13:24] guywi-ms commented on #100756
#assign-reviewer: @shayoniseth

[2022-11-20 13:26] guywi-ms commented on #100451
@assign-reviewer: @noakup

[2022-11-20 13:42] guywi-ms commented on #97989
@ShubhamJain1992 Thanks for your feedback! I believe this issue has now been resolved.

#please-close

[2022-11-20 13:42] #97989 closed

[2022-11-20 14:20] SaibabaBalapur-MSFT commented on #101485
@nambir
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-20 14:20] #101485 closed

[2022-11-20 19:30] space-alien opened #101712 "How to verify Microsoft Graph API permissions for the managed identity service principal?"
This page state: `After executing the script, you can verify in the [Azure portal](https://portal.azure.com/) that the requested API permissions are assigned to the managed identity.`

_Where_ in the portal?

---
#### Document details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 15507fb4-6ebe-f0f0-96b6-f6c578747d3f
* Version Independent ID: b

[2022-11-20 19:42] randolphnz opened #101713 "Specify custom warm-up solutions"
Hi there,

The document says both "applicationInitialization" config in web config file and warm-up behavior like "WEBSITE_SWAP_WARMUP_PING_PATH" in App Settings.

Could the document specify more clearly whether we need both or either of them for custom warm-up?

Regards
Randy

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

[2022-11-20 19:45] space-alien commented on #101712
Ah, I realise that the subsequent documentation steps answer my question.

[2022-11-20 19:45] #101712 closed

[2022-11-20 20:14] CrowdsourceKurdish commented on #98447
Hi  @AjayBathini-MSFT @RamanathanChinnappan-MSFT

Why does it take so late to fix standard codes?
Any improvements to fix the language code?

Best,

[2022-11-20 21:17] harrystigman opened #101714 "Missing Links"
The page says "Refer to the SDK documentation for managing a Queue or a Job.". Where is this link? How would a reader find the docs for managing a Queue or a Job?

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a79cf87f-e649-520b-0b4c-fa7287fda208
* Version Independent ID: 1cef5944-2fbb-4f66-d659-af9e2af834

[2022-11-20 21:37] hannesne opened #101715 "Describe the use of client cert authentication (mtls)"
I've found a few people on the web looking for some more guidance on using mtls in functions. Most of the resources seem to point to some app service pages, but they don't really talk about how to do things such as accessing or deciphering the client certs in an http triggered function. This seems like something that should be a first class citizen in the Azure Functions documentation.

---
#### D

[2022-11-20 22:35] Trevor-Davis opened #101717 "Incorrect?"
Are we sure this is accurate?  I do not believe it is, 100% of the time.  Specifically, this statement

_You'll be notified before patches/updates or upgrades are applied to your private clouds. We'll also work with you to schedule a maintenance window before applying updates or upgrades to your private cloud._

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.micro

[2022-11-20 22:47] loryanstrant opened #101718 "Missing new option about tenant creation"
In the past few days a new option has appeared in this section of the Azure AD admin center. There does not appear to be any documentation about this specific setting, and this page seems to be the most suitable location for it.
![image](https://user-images.githubusercontent.com/51473494/202930609-460fc7b7-e92d-4d97-8038-d5e4be12033e.png)

---
#### Document details

⚠ *Do not edit this section. It

[2022-11-20 22:49] amyndhupelia commented on #101363
Sure @kengaderdus.

In the same Tenant, we have registered two different UI App under App Registration in AD.
Same Tenant:  **TenantID1**
Same Userflow:   **SignInFlow**
Angular UI App 1: **ClientID1**
React UI App 2: **ClientID2**

Both of these UI Apps call the same .NET 6 WEB API. Hence the .NET 6 WEB API, needs to validate 2 clients in the backend for same Tenant and Userflow.

I tried to add

[2022-11-21 01:10] violasung opened #101720 "The Restriction of inbound endpoint / outbound endpoint of Private DNS resolver."
Please add this restriction in Restriction Section
“The 10.0.1.0/24 - 10.0.16.0/24 is reserved. Please don’t use these IP address range for both inbound and outbound subnet”

![image](https://user-images.githubusercontent.com/118699969/202937879-9b5818d4-05da-4fc3-8530-29bc062b0ade.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue l

[2022-11-21 01:19] GeethaThatipatri-MSFT commented on #101484
@VitalyMCT  Document is updated and you will see the changes in the next 24hrs.

[2022-11-21 01:19] #101484 closed

[2022-11-21 01:33] imeya opened #101721 "Please update the document to reflect that Shared service plan is/will not supported for azure function app."
In the function app service plan page: https://learn.microsoft.com/en-us/azure/azure-functions/functions-scale#overview-of-plans, it says function app can be created in dedicated service plan.
but per testing, function app cannot be created in Shared service plan(a kind of dedicated service plan). it will throw error:
Function apps are not supported in Free or Shared App Service Plans.
![image](ht

[2022-11-21 02:04] GeethaThatipatri-MSFT commented on #99701
@seaqueller This issue is fixed

[2022-11-21 02:04] #99701 closed

[2022-11-21 02:20] #101628 closed

[2022-11-21 02:40] mrochon opened #101722 "Source code for acquiring tokens via workload identity?"
Can you please provide some example source code showing how an AKS client can acquire the token needed for by AAD as workload identity? (I assume I cannot use msal since it only knows about AAD, not generic MI/OIDC issuers).

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: efde8151-ca72-0ce1-271a-57a14a8c7ccd
* Version

[2022-11-21 02:54] SwathiDhanwada-MSFT commented on #101425
@kegregoi Thanks for your feedback.

Assigning to content author @rboucher  for inputs.

[2022-11-21 03:16] YashikaTyagi-MSFT commented on #101462
@matthewjlevy
We are going to close this thread as resolved as we have been waiting for your response but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-21 03:16] #101462 closed

[2022-11-21 03:17] ilhamfadhil14 opened #101723 "Typo Azure Blog Storage"
Typo:

In Registering single Azure data source section, it typed `Azure Blog Storage`. I believe it should be written as `Azure Blob Storage`.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 1986c2ac-c4bb-d66d-1482-9eb7566d956d
* Version Independent ID: 3de05df6-27f9-446f-f288-460c5c6faf5c
* Content: [Troubleshoot your

[2022-11-21 03:28] YashikaTyagi-MSFT commented on #101526
@kenwith
Kindly provide your inputs on this issue.

[2022-11-21 03:35] YashikaTyagi-MSFT commented on #101551
@rav0k
Thanks for pointing this out. Required changes have been made, once approve by the author it will reflect in the document itself.

[2022-11-21 03:35] #101551 closed

[2022-11-21 03:47] MayankBargali-MSFT commented on #101677
Duplicate MicrosoftDocs/azure-docs#101678

[2022-11-21 03:47] #101677 closed

[2022-11-21 03:57] YashikaTyagi-MSFT commented on #101616
@LeedsDBA
Please go through the following link. It might help you with the difference between P1 and P2.
https://www.microsoft.com/en-in/security/business/identity-access/azure-active-directory-pricing
https://learn.microsoft.com/en-us/azure/active-directory/authentication/concept-mfa-licensing#available-versions-of-azure-ad-multi-factor-authentication

[2022-11-21 03:58] didier-danloy opened #101724 "Updated value for cross-workspace query"
Hello team,

The sentence below can be updated:
"You can include up to 20 workspaces in a single query"

to the new value of 100:
"You can include up to **100** workspaces in a single query"

Thanks :-),
Didier

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3cb95110-5d3e-9b33-836f-d17395205f44
* Version Independent ID

[2022-11-21 04:00] VikasPullagura-MSFT commented on #101717
@Trevor-Davis
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-11-21 04:00] VikasPullagura-MSFT commented on #101717
@jjaygbay1
Can you please check and add your comments on this doc update request as applicable.

[2022-11-21 04:02] VikasPullagura-MSFT commented on #101722
@mrochon
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-11-21 04:02] VikasPullagura-MSFT commented on #101722
@MGoedtel
Can you please check and add your comments on this doc update request as applicable.

[2022-11-21 04:16] dhirajgandhi commented on #101429
@Laura ***@***.***> - Do you know answer to following question?

What level of Azure RBAC permissions does the PAL identity need in order show revenue?

From: SadiqhAhmed-MSFT ***@***.***>
Sent: Saturday, November 19, 2022 12:58 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Dhiraj Gandhi ***@***.***>; Assign ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] What level of Azure RBAC permissio

[2022-11-21 04:38] KapilAnanth-MSFT commented on #101720
@violasung , Thanks for your feedback. We shall review this and get back to you soon

[2022-11-21 04:38] AjayBathini-MSFT commented on #101528
@DeanGross
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-21 04:38] #101528 closed

[2022-11-21 04:41] ManoharLakkoju-MSFT commented on #101568
@mansingh8
Since we have not heard back from you, we will now proceed to close this thread.
If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-11-21 04:41] #101568 closed

[2022-11-21 04:41] #101487 closed

[2022-11-21 04:41] ManoharLakkoju-MSFT commented on #101588
@SaltyBenjamin
Since we have not heard back from you, we will now proceed to close this thread.
If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-11-21 04:41] #101588 closed

[2022-11-21 04:46] YashikaTyagi-MSFT commented on #101645
@james-seddon-paymentsense
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-11-21 04:46] Naveenommi-MSFT commented on #101578
Hi @MikeForster100

Please go through this below link for your reference. In this doc mentioned Both Metastore Service Principal & managed identity access information.

https://registry.terraform.io/providers/databricks/databricks/latest/docs/resources/metastore_data_access#:~:text=For%20Azure%20using%20managed%20identity%20as,value%0A%20%20%7D%0A%20%20is_default%20%3D%20true%0A%7D

If there are a

[2022-11-21 04:50] KapilAnanth-MSFT commented on #101720
@violasung ,

This restriction is documented here: [Subnet Restrictions](https://learn.microsoft.com/en-us/azure/dns/dns-private-resolver-overview#subnet-restrictions)
![image](https://user-images.githubusercontent.com/107474080/202968032-8e2c1181-e0cd-494b-9aac-1ac5f5904d02.png)

Please refer to this for Private DNS Resolver requirements and restrictions

[2022-11-21 04:59] AjayBathini-MSFT commented on #101564
@JuanKerr
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-11-21 04:59] #101564 closed

[2022-11-21 05:12] ManoharLakkoju-MSFT commented on #101701
@mpellizzon
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-11-21 05:12] ManoharLakkoju-MSFT commented on #101701
@MicrosoftGuyJFlo
Can you please check and add your comments on this doc update request as applicable.

[2022-11-21 05:19] ManoharLakkoju-MSFT commented on #101649
@squasta
I'm going to assign this to the document author so they can take a look at it accordingly

@phealy
Can you please check and add your comments on this doc update request as applicable.

[2022-11-21 05:19] AjayKumar-MSFT commented on #101714
@harrystigman,  Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-11-21 05:20] AjayKumar-MSFT commented on #101713
@randolphnz, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-11-21 05:22] YashikaTyagi-MSFT commented on #101718
@loryanstrant
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-11-21 05:22] ManoharLakkoju-MSFT commented on #101685
@haider392
I'm going to assign this to the document author so they can take a look at it accordingly

@jimmart-dev
Can you please check and add your comments on this doc update request as applicable.

[2022-11-21 05:24] YashikaTyagi-MSFT commented on #101715
@hannesne
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-21 05:27] YashikaTyagi-MSFT commented on #101721
@imeya
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-21 05:31] SnehaAgrawal-MSFT commented on #101383
@davihern Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-11-21 05:32] MyTestingAccountThatIUse opened #101725 "unsure which App permissions to consent to for API Custom role"
Hi Team,

Can you please list which Application/Delegated permissions are required to create a role via API?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 649bef7e-a492-d5b1-183a-be12c8994a51
* Version Independent ID: d79544a5-4b92-185e-0bcc-83660ecee475
* Content: [Create custom roles in Azure AD role-based access c

[2022-11-21 05:42] shaktisingh-msft commented on #101580
Hi @StefArroyo,

Could you please look into this document request. Thanks

[2022-11-21 05:43] shaktisingh-msft commented on #101686
Hi @kabharati,

Could you please look into this document request. Thanks

[2022-11-21 05:44] AjayBathini-MSFT commented on #101642
@dsongatcos
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@kengaderdus
Can you please check and add your comments on this doc update request as applicable.

[2022-11-21 05:44] shaktisingh-msft commented on #101687
Hi @achudnovskij,

Could you please look into this document request. Thanks

[2022-11-21 05:45] KapilAnanth-MSFT commented on #101697
@jonwbstr, As a general rule, any network range in a Hybrid set-up (Azure + OnPrem) would be required to be distinct unless and until NATed. However, I shall assign this thread to the author @cherylmc to consider adding a note.

Regarding the address space check, I would suggest you raise this feedback in [Azure Feedback Hub](https://feedback.azure.com/d365community/forum/8ae9bf04-8326-ec11-b6e6-0

[2022-11-21 05:48] AjayBathini-MSFT commented on #101679
Hi @yahooshua
Kindly refer below link for your reference.
https://support.microsoft.com/en-us/topic/what-is-multifactor-authentication-e5e39437-121c-be60-d123-eda06bddf661
https://learn.microsoft.com/en-us/azure/active-directory/authentication/howto-mfaserver-deploy

[2022-11-21 05:48] KapilAnanth-MSFT commented on #101637
Thanks @amarnath113, for the update.

But at this time, it does not look like you are referring to a document but to a specific scenario. We would request you to please post your question on Microsoft Q&A and other forums, we have our engineers and others who are monitoring them and will be happy to assist.

We are closing this issue for now. If there are further questions regarding this matter, p

[2022-11-21 05:48] #101637 closed

[2022-11-21 05:49] KapilAnanth-MSFT commented on #101581
@dnunezmo, as there are no active discussions, I shall go ahead and archive this thread.
If there are further questions regarding this matter, please reply and tag me, we will gladly continue the discussion.

[2022-11-21 05:49] #101581 closed

[2022-11-21 05:50] AjayBathini-MSFT commented on #101705
@GLLJJ
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-11-21 05:50] AjayBathini-MSFT commented on #101705
@ebolton-cyber
Can you please check and add your comments on this doc update request as applicable.

[2022-11-21 05:55] SaibabaBalapur-MSFT commented on #101611
@jennifer-klemisch-seagen
I'm going to assign this to the document author so they can take a look at it accordingly.

@MGoedtel
Please review it.

[2022-11-21 05:57] SaibabaBalapur-MSFT commented on #101635
@kingshukbarua
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue there so our community, and

[2022-11-21 06:03] SaibabaBalapur-MSFT commented on #101636
@devbyzen
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue there so our community, and MVPs

[2022-11-21 06:06] SaibabaBalapur-MSFT commented on #101648
@becke-ch-s0-v1
I'm going to assign this to the document author so they can take a look at it accordingly.

@nickludwig
Can you please check and add your comments on this doc update request as applicable.

[2022-11-21 06:12] SaibabaBalapur-MSFT commented on #101658
@Klaas-
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

@mathapli
Can you please check and add your comments on this doc update request as applicable.

[2022-11-21 06:17] SaibabaBalapur-MSFT commented on #101683
@MikeHillberg
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@cilwerner
Can you please check and add your comments on this doc update request as applicable.

[2022-11-21 06:29] SaibabaBalapur-MSFT commented on #101703
@BenjiSec
I'm going to assign this to the document author so they can take a look at it accordingly.

@yelevin
Can you please check and add your comments on this doc update request as applicable.

[2022-11-21 06:42] RamanathanChinnappan-MSFT commented on #101574
@sergiosolorzano

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue there so our community, a

[2022-11-21 06:44] mathapli commented on #101658
I am not sure who has added this. This offer is not tracked by our team so this does not need to be updated in doc. once we add RHEL 8.7, we will update the docs.

[2022-11-21 06:45] ggailey777 commented on #101678
It seems that the correct thing is to make the validation checks more complete rather than relying on docs. @FinVamp1 do you have any thoughts about this?

[2022-11-21 07:04] Naveenommi-MSFT commented on #101664
@mtvessel

Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-21 07:04] Naveenommi-MSFT commented on #101664
@dcstwh

Could you please review add comments on this, update as appropriate.

[2022-11-21 07:05] SurajSPujari opened #101726 "Checkpoint section needs correction"
[Under Checkpoint section both the documents for route and policy point to same article from Checkpoint and there is no mention of how to configure Checkpoint for route with VTI(Virtual Tunnel Interface) ]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 779fbece-f67b-28ef-143e-f58ecfa29b1d
* Version Independent ID: fe5

[2022-11-21 07:21] SwathiDhanwada-MSFT commented on #101592
@shriazure The recommended alert rules are based purely on host OS metrics. This was a conscious decision to avoid introducing any dependencies on installation of agents/extensions.

Hope this clarifies. We will close the issue for now. If there are further questions, please revert and we will be glad to assist you.

[2022-11-21 07:21] #101592 closed

[2022-11-21 07:52] shtakeda opened #101727 "Typo - Teams.ManageCalls and Teams.ManageCalls"
4. of Step 3 might be "Select the permissions Teams.ManageCalls and **Teams.ManageChats**, then select Add permissions"
https://learn.microsoft.com/en-us/azure/communication-services/quickstarts/manage-teams-identity?pivots=programming-language-javascript#step-3-add-the-communication-services-permissions-in-the-application

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-11-21 07:53] RamanathanChinnappan-MSFT commented on #101596
@amanjeetsingh

Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-21 07:54] RamanathanChinnappan-MSFT commented on #101596
@WilliamDAssafMSFT

could you please review this and update as appropriate.

[2022-11-21 07:59] KapilAnanth-MSFT commented on #101726
@SurajSPujari, Thank you for your feedback. We'll review this and get back to you shortly!

[2022-11-21 08:13] ManoharLakkoju-MSFT commented on #101651
@kristofvanwoensel
I'm going to assign this to the document author so they can take a look at it accordingly

@Justinha
Can you please check and add your comments on this doc update request as applicable.

[2022-11-21 08:16] violasung commented on #101720
@KapilAnanth-MSFT Tahnk you!! May I know if I got another portal issue about the inbound / outbound endpoints deletion, could I also share here with you? Or should I raise another feedback in another page? Thanks!!

[2022-11-21 08:23] KapilAnanth-MSFT commented on #101720
@violasung, Thank you.
I would suggest you raise a new one as it would be easier to track the threads and associated feedbacks.

[2022-11-21 08:24] violasung commented on #101720
Got it, Much appreciated your assistance and guidance :) Will do so.

[2022-11-21 08:28] #101720 closed

[2022-11-21 09:21] mayashauli commented on #92475
Same issue.
Any answers?

[2022-11-21 09:34] becke-ch-s0-v1 commented on #101652
Hi @RyanHill-MSFT , thank you for the feedback.
Regarding the second part of my question:
"_FURTHERMORE, when picking an App Registration that has set “Accounts in any organizational directory (Any Azure AD directory - Multitenant) and personal Microsoft accounts (e.g. Skype, Xbox)” the Issuer URL should be "https://login.microsoftonline.com/common/V2.0" but actually it is set to "https://sts.wind

[2022-11-21 09:46] cilwerner commented on #101683
Hi @MikeHillberg, thanks for bringing it to my attention. For reference, the attached screenshot is what I see when I log in to my personal account, so the instruction "Search for and select Azure Active Directory" is perfectly applicable here.

Could you maybe attach a screenshot of your view when you log in so we can compare and make adjustments if needed?

![Screenshot_20221121_094210](https://

[2022-11-21 10:09] csmulligan commented on #96638
#please-close

[2022-11-21 10:09] #96638 closed

[2022-11-21 10:12] SaibabaBalapur-MSFT commented on #101723
@ilhamfadhil14
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-21 10:14] SaibabaBalapur-MSFT commented on #101723
@ilhamfadhil14
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-11-21 10:16] mariatancu opened #101730 "include disclaimer for partners"
[Enter feedback here]

hello team,
we have a partner insisting that the page should mention that the pricelist for partners might include other currencies, which will not apply for MCA/ MPA partners, as they are billed in USD.
for internal details please contact matanc@microsoft.com or check the ticket 2209290040004065
https://microsoft.visualstudio.com/OSGS/_workitems/edit/41749033

thank you,
Ma

[2022-11-21 10:18] w0ut0 commented on #73810
@RohitMungi-MSFT, can this issue be reopened?

[2022-11-21 10:21] racchen opened #101731 "is it possible to export data from Analytics page directly?"
As title, is it possible to export data from Analytics page directly? [https://learn.microsoft.com/en-us/azure/api-management/howto-use-analytics](url)
Currently, we can only use Application Insight to list out all information needed and export. If there is an export options on the Analytic page, it will save lots of time.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-11-21 10:21] #101723 closed

[2022-11-21 10:28] KjeldSchmidt opened #101732 "Type for cosmosDB input binding is specified ambiguously in documentation"
In the [Configuration section](https://learn.microsoft.com/en-us/azure/azure-functions/functions-bindings-cosmosdb-v2-input?tabs=in-process%2Cfunctionsv2&pivots=programming-language-python#configuration) for Python, it says "`type`: Must be set to `cosmosDBTrigger`.

However, all examples above this use `"type": "cosmosDB"`
--

<br class="Apple-interchange-newline">

---
#### Document Details

⚠ *

[2022-11-21 10:28] davidvesp opened #101733 "Update limit for max Linux instances for Premium Plan"
In this page states that the limit for max Linux instances in a premium plan in 20-40 depending on the region, but in the following link (https://learn.microsoft.com/en-us/azure/azure-functions/functions-premium-plan?tabs=portal#region-max-scale-out)  states that the Premium plan has a limit between 20-100 that depends on the region.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2022-11-21 10:30] madsd commented on #101666
There is no need to define the Deny rule in ipSecurityRestrictions, it will be automatically generated by setting DefaultAction. We ignore any rule with ipAddress: "Any".

[2022-11-21 10:33] RamanathanChinnappan-MSFT commented on #101668
@isdataninja

Could please refer below link for your reference.

https://learn.microsoft.com/en-us/azure/data-lake-analytics/migrate-azure-data-lake-analytics-to-synapse

![image](https://user-images.githubusercontent.com/110973511/203028307-89f1a829-778c-4156-8045-adfba024e0c9.png)

If there are any further questions regarding the documentation, please tag me in your reply and we will be happy to

[2022-11-21 10:46] SurajSPujari opened #101734 "Typo on page"
[Note section has a typo as put up in bold below:
On-demand copy only full accepts any **v0alue** for **retaintion**.]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 1605ef17-ba88-503d-9b78-c2021d600e2b
* Version Independent ID: c2e6dc78-ec05-3daf-dc78-c45568cd92f3
* Content: [Back up SQL server databases in Azure VMs

[2022-11-21 10:59] RamanathanChinnappan-MSFT commented on #101693
@tgafpc

please see the screenshot for your reference. these are type of branch to create branches.
We will investigate and inform to our product team they will update as appropriate.

![image](https://user-images.githubusercontent.com/110973511/203032512-c80e25c4-8701-405a-895c-e39cd538e397.png)

If there are any further questions regarding the documentation, please tag me in your reply and we wi

[2022-11-21 11:00] RamanathanChinnappan-MSFT commented on #101693
@nabhishek

Could you please review this and add your comments, update as appropriate.

[2022-11-21 11:02] yelevin commented on #101703
@SaibabaBalapur-MSFT, @BenjiSec and I have taken this offline with the product team.
#please-close

[2022-11-21 11:02] #101703 closed

[2022-11-21 11:30] rrsrtdh opened #101735 "Is privileged Access Groups same as Identity Governance - Access Package Group Assignment?"
Access Package has the concept of Eligible & Active assignment through which we can add users to group as per the time bound policy. If yes, what is the recommended way to manage group membership for users to perform privilege tasks(writes on Azure resources)?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linkin

[2022-11-21 11:46] ChrisGibson1982 opened #101736 "Permissions needed to change to a commitment tier"
It would be fantastic if this article showed the permission required to change the pricing tier.  Specifically, so we can restrict those permissions

Regards,

Chris

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 98bde8f3-d80f-bcb1-cb4b-8c2be37f8110
* Version Independent ID: 9b16a726-1139-1e84-1d70-b569eb77ddb0
* Cont

[2022-11-21 12:19] KapilAnanth-MSFT commented on #101726
@SurajSPujari, There are no references given for VTI as it is not validated from Azure end.
This does not mean that the above is not supported, I would suggest you check with the vendor for the appropriate documentation for VTI configuration.

Let us know if you would require more information

[2022-11-21 12:25] miqm commented on #83932
I found the solution, but it would be nice to be documented on the page.

option 1: use allow list - mainly specify list of functions you want to load by setting environment variables
[code]
Plus to disable a particular *loaded* function use **single** underscore instead the dot as specified on the docs:
[code]

A bit of background:
The code responsible for loading functions uses asp.net configura

[2022-11-21 13:37] GitaraniSharma-MSFT commented on #101503
@mundayn , We have assigned this to the content owner/author for review.

@cherylmc , for your review.

[2022-11-21 13:43] KapilAnanth-MSFT commented on #101698
I see the thread https://github.com/MicrosoftDocs/azure-docs/issues/101697 has the same feedback.

I shall close this now.

[2022-11-21 13:44] #101698 closed

[2022-11-21 13:49] atiasadir opened #101738 "Where can I find more recent CIS Kubernetes benchmark for AKS 1.23 or higher ?"
Where can I find more recent CIS Kubernetes benchmark for AKS 1.23 or higher ?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ddaa7788-52c5-88ac-473e-ecd0d4e1b203
* Version Independent ID: 753718bc-a2a0-38ad-43b4-1bbf395aef8b
* Content: [Center for Internet Security (CIS) Kubernetes benchmark - Azure Kubernetes Servic

[2022-11-21 14:02] Marusyk opened #101739 "An error occurred while sending the request"
I've tried to use the tool for export data from CosmosDb.
I use the valid Connection String with Database=ProxyData at the end.
When I press Verify -
![image](https://user-images.githubusercontent.com/9221694/203073795-fac3f481-1819-4cfa-a3ad-5d0748c4d40f.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9edf1df2-58

[2022-11-21 14:27] GeethaThatipatri-MSFT commented on #101739
@Marusyk Thank you for reaching out. We will look into it and update you as appropriate.

[2022-11-21 14:28] MonikaReddy-MSFT commented on #101734
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-11-21 14:29] MonikaReddy-MSFT commented on #101730
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-11-21 14:32] HarikrishnaChilukurthi commented on #101258
Do we have any update on this issue please?

[2022-11-21 14:53] mumurug-MSFT commented on #101731
@racchen Thanks for the feedback. Unfortunately, there is no option available in the portal to export Analytics data and you can use [Analytics - REST API](https://learn.microsoft.com/en-us/azure/api-management/howto-use-analytics#analytics---rest-api) to export the required analytics data. You can submit feedback directly to our product team via https://aka.ms/apimwish for this or similar feature

[2022-11-21 14:55] fleetwoodstack opened #101741 "Unable to edit existing rules with the documented Access Restriction Permissions"
Documentation in question:
https://learn.microsoft.com/en-gb/azure/app-service/app-service-ip-restrictions#permissions

When the permissions listed here are applied to users, they are unable to edit existing rules on the Access Restrictions page. On clicking an existing rule, they get the following error:
https://user-images.githubusercontent.com/110163016/203081835-63063865-c137-4a98-a116-17b3d51

[2022-11-21 14:57] mumurug-MSFT commented on #101732
@KjeldSchmidt Thanks for the feedback. We will review and update as appropriate.

[2022-11-21 14:57] SurajSPujari commented on #101726
@KapilAnanth-MSFT Does that mean both route and policy based configuration will follow the same document? Surprisingly vendor also doesn’t have a VTI based document available publicly.

[2022-11-21 14:58] Aizmansor commented on #101666
Dihantar daripada telefon saya-------- Mesej asal --------Daripada: Mads Damgård ***@***.***>Tarikh: Isn, 21 Nov 2022, 6:30 PTGKepada: MicrosoftDocs/azure-docs ***@***.***>Sk: Faizul mansor ***@***.***>, Manual ***@***.***>Tajuk: Re: [MicrosoftDocs/azure-docs] Microsoft.Web/sites does not respect ipSecurityRestrictions For Deny All in ARM Templates (Issue #101666)
There is no need to define the De

[2022-11-21 15:00] Aizmansor commented on #101503
Dihantar daripada telefon saya-------- Mesej asal --------Daripada: Gitarani Sharma ***@***.***>Tarikh: Isn, 21 Nov 2022, 9:37 PTGKepada: MicrosoftDocs/azure-docs ***@***.***>Sk: Faizul mansor ***@***.***>, Manual ***@***.***>Tajuk: Re: [MicrosoftDocs/azure-docs] Require Azure AD Login? (Issue #101503)
@mundayn , We have assigned this to the content owner/author for review.
@cherylmc , for your re

[2022-11-21 15:22] becke-ch-s0-v1 opened #101744 "ID Token: Claims: roles & groups: Used for authorization"
According to the documentation: “_ID tokens should not be used for authorization purposes. Access tokens are used for authorization. The claims provided by ID tokens can be used for UX inside your application, as keys in a database, and providing access to the client application_” but then the question is why the ID Token offers/contains the claims: “roles” & “groups” which are clearly intended fo

[2022-11-21 15:23] SadiqhAhmed-MSFT commented on #101659
@ankitaduttaMSFT Please review the ask here and take appropriate action.

[2022-11-21 15:23] jdocampo opened #101745 "Databricks Enable Private Link: Missing integration with Azure Services"
## Add a section or a new page on how to integrate with Azure Services using private endpoints

I think this article is great on how to integrate Private Endpoints, but is missing a part on how to enable private connectivity between Databricks workspaces and Azure Services, making the documentation on Private Link incomplete.
Example of Azure Services that are commonly used are: Storage Account, A

[2022-11-21 15:27] jdocampo opened #101746 "Support for Key Vault with Private Endpoint"
There is no clear indication if Azure Key Vault-backed scopes supports Azure Key Vault using private endpoints.
Empiric tests show that it is not possible, so the documentation should clarify if this is possible or a limitation/known issue

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 810a218a-80a5-2da0-b540-26347f9e

[2022-11-21 15:32] isdataninja commented on #101668
Hello @RamanathanChinnappan-MSFT, where is the above screenshot from? I don't see that in either of the 2 documentations referenced in this conversation:

1. https://learn.microsoft.com/en-us/azure/data-lake-analytics/migrate-azure-data-lake-analytics-to-synapse
2. https://learn.microsoft.com/en-us/azure/data-lake-analytics/data-lake-analytics-whats-new

[2022-11-21 15:34] Rulluh commented on #34167
By the way, we're past September 2022 and this is still a problem,
![image](https://user-images.githubusercontent.com/41551566/203093245-9f120859-92ba-453a-986e-fd45e0e4bb3e.png)

There is still no favicon, the <title> is the most phishing-like phrase you could ever choose, the title and confirmation buttons both aren't capitalized, and the layout is straight-up Windows XP webpage era.

![image](h

[2022-11-21 15:35] fran38 opened #101747 "&sUQYKIr"
https://github.com/mdn/content/blob/sideshowbarker/rejectionhandled_event-clarification/.github/ISSUE_TEMPLATE/ff-project-issue.md

[2022-11-21 15:39] den4md opened #101748 "No warning about instant restart of AKS' nodepools in article about resetting windows admin password"
The chapter "How do I change the administrator password for Windows Server nodes on my cluster?" in article "Frequently asked questions for Windows Server node pools in AKS" doesn't containt any warning regarding instant restart of the all windows nodepools during the described operation. For my cluster this was critical.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-11-21 15:46] #99976 closed

[2022-11-21 15:46] #99854 closed

[2022-11-21 15:47] rybaz commented on #34167
Lol, why on earth was this closed?

-------- Original Message --------
On Nov 21, 2022, 10:34, Luke Rule 'notifications at github.com' wrote:

[2022-11-21 15:48] mumurug-MSFT commented on #101731
We will now proceed to close this thread.

[2022-11-21 15:48] #101731 closed

[2022-11-21 15:49] MicrosoftGuyJFlo commented on #101701
We don't comment on future plans in docs. I will forward your feedback to the product team. #please-close

[2022-11-21 15:49] #101701 closed

[2022-11-21 15:49] seesharprun commented on #92301
![image](https://user-images.githubusercontent.com/5067401/203098250-db1cfd41-30ba-4500-b579-4f1ba8c38bde.png)

I just tried again and I'm not able to reproduce. Can you please post a question in the [Azure Cosmos DB Q&A forum](https://learn.microsoft.com/en-us/answers/topics/azure-cosmos-db.html)?

Unfortunately, this is the docs repo and I won't be able to troubleshoot why the behavior is differ

[2022-11-21 15:49] #92301 closed

[2022-11-21 16:02] jasongroce commented on #101123
@urimsft It's for this D365 article: https://learn.microsoft.com/en-us/azure/marketplace/partner-center-portal/commercial-marketplace-lead-management-instructions-dynamics

[2022-11-21 16:05] YashikaTyagi-MSFT commented on #101724
@didier-danloy
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-21 16:09] YashikaTyagi-MSFT commented on #101727
@shtakeda
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-11-21 16:12] YashikaTyagi-MSFT commented on #101735
@rrsrtdh
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-21 16:13] altrivis opened #101750 "Update SC TLE Notice"
In the Tutorial [here](https://learn.microsoft.com/en-us/azure/orbital/downlink-aqua), a particularly important note is provided about keeping your SC resource TLE updated. This note should also be on this page.

<img width="641" alt="image" src="https://user-images.githubusercontent.com/106367419/203103884-281b98d2-1ac6-485d-9ebd-be02906ca310.png">

---
#### Document Details

⚠ *Do not edit this

[2022-11-21 16:15] AbbyMSFT commented on #96437
Hi @kmcconnell,
Thanks for your question. We have sent your question to our PM team. They were surprised to see the payload you sent - this is not an expected format.
If you are still experiencing this issue, at this point, we would say that your question is beyond the scope of our Azure Monitor Learn team which covers specific documentation fixes as opposed to technical support. We are happy to h

[2022-11-21 16:15] #96437 closed

[2022-11-21 16:16] YashikaTyagi-MSFT commented on #101736
@ChrisGibson1982
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-21 16:18] altrivis opened #101751 "Update SC TLE Notice"
In the Tutorial [here](https://learn.microsoft.com/en-us/azure/orbital/downlink-aqua), a particularly important note is provided about keeping your SC resource TLE updated. This note should also be on this page.

<img width="641" alt="image" src="https://user-images.githubusercontent.com/106367419/203103884-281b98d2-1ac6-485d-9ebd-be02906ca310.png">

---
#### Document Details

⚠ *Do not edit this

[2022-11-21 16:40] seesharprun commented on #101584
@tomkuijsten, you are right that DateTime.ToString() does not always provide the same consistent number of digits for the millisecond portion of the time.

We will update the doc to remove the mention that the time is always the same length.

[2022-11-21 16:46] VinnyBonner commented on #101678
@ggailey777 I agree and have submitted a SIRT via internal channels to the PG to review and update the validation as well.

I figure it may be a good idea to have something in the docs in case we get in this situation again. A new Read-Only app settings get's added and the validation check isn't updated.

[2022-11-21 16:51] #101584 closed

[2022-11-21 16:55] wiceywkus opened #101752 "https://tmtdist.azurewebsites.net/TMT7.application IS BROKEN"
When I try to download the latest Microsoft Threat Modeling Tool the Azure Websites returns an error.   Can you have someone correct the link or the Azure Websites configuration, please?  Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 60c188c4-9aee-f131-f9c4-2582fcc2db6e
* Version Independent ID: bf54e8b2-b

[2022-11-21 17:21] uriel-kluk opened #101753 "[Feature Request] BYO ADT"
I am super exited to see finally see synchronization between IoTHub devices with Digital Twins, kudos!
Is there a way for me to use my own ADT instance? I have other twins that extend `devices` such as **spaces** ontology.
For a highly composable IoT Hub feature, our recommendation is BYO ADT!

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub

[2022-11-21 17:21] jephlu opened #101754 "App Service backup limits"
Hi,

On App Service, mismatch on # of backup between this page and another reference: https://learn.microsoft.com/en-us/azure/app-service/manage-backup (this one seems the more "up to reality" aligned to service operation, every hour)

Also, in the portal when changing on the "Scale up (App Service plan)", it is mentioned in "included features":

- on basic sku nothing of "daily backup"
- on Stand

[2022-11-21 17:22] rav0k opened #101755 "What about CAPs that were applied to "non-interactive" sign-ins? Are they reported on the Insights & Reporting?"
[Hello Team,

Please let our customers know if there is any limitation to report CAPs that were applied to non-interactive sign-in logs if that applies.

Thanks in advance!
Christian]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a12ef4ce-a851-9578-ba6b-668cac4d08b9
* Version Independent ID: bd7d9242-379c-2d4a-3286-1

[2022-11-21 17:24] #101349 closed

[2022-11-21 17:27] csmulligan commented on #96305
Hi @DeanGross thanks for reaching out. Indeed, the app has to be registered in your Azure AD organization or partner Azure AD organizations. We've opened an internal work item to add this to the next revision of the article. This issue will close automatically once the changes are merged.
Thanks again!

[2022-11-21 17:32] austinmccollum commented on #101724
#assign:austinmccollum

[2022-11-21 17:34] #101310 closed

[2022-11-21 17:35] #101078 closed

[2022-11-21 17:36] ChristianMay21 commented on #34167
I guess they just want everyone to switch over to the combined experience.

Which like - sure, that's nice - but why not also update the existing page so it doesn't look like a phishing test?

[2022-11-21 17:38] ChristianMay21 commented on #34167
I guess they just decided to leave the old (and still live and supported) page looking like a phishing trap because you can opt in to the "combined experience".

[2022-11-21 17:49] seesharprun commented on #101739
#please-close

[2022-11-21 17:50] #101739 closed

[2022-11-21 17:50] rdoetjes opened #101757 "Missing rebase, revert to earlier version for hotfix"
-What I am missing is how to rebase your feature branch from the master. Because often your colleagues merge to master and you want (need) those changes in your branch.
With “real” software development, you can pull the master and rebase that to your local branch. What would be the process here? I don’t think it’s possible because of the way ADF is not designed with this in mind.

-And how to do c

[2022-11-21 17:51] bfeldmann12 opened #101758 "Key Vault RBAC permission model documentation unclear"
The documentation reads to me as if the Key Vault RBAC permission model is not supported via the Azure Portal only. While other client libraries like ARM and Azure PowerShell will work with the Key Vault RBAC permission model. Is this a correct understanding?

From the documentation:

I have both the **Key Vault Secrets User** and **Key Vault Reader** roles on the _Resource Group_ containing the K

[2022-11-21 17:56] chcomley commented on #89932
Hi @jamesfranklinnetsec, thanks for reaching out. There's nothing specific that we can call out to help build timing per se, but a PM told me that you could choose to have a pre-built app and go for skip_app_build to save the build time. I'm not going to add it to the article, as it doesn't make a huge difference, but just in case you want to give it a whirl...
Thank you and have a great day!

[2022-11-21 18:03] seesharprun commented on #101338
@hannosgit, you are right that it should say Java 8. We are publishing a change to the article.

#please-close

[2022-11-21 18:03] #101338 closed

[2022-11-21 18:17] austinmccollum commented on #101724
updated article and 2 other service limits articles where this was referenced.
#please-close

[2022-11-21 18:17] #101724 closed

[2022-11-21 18:18] seesharprun commented on #101292
Hello @DavidKlempfner,

We have updated the language of this item in the list to better fit the other items.

The change should be live later today.

[2022-11-21 18:19] seesharprun commented on #101555
Hello @DavidKlempfner,

We have updated the link.

The change should be live later today.

[2022-11-21 18:19] seesharprun commented on #101580
Hello @DavidKlempfner,

We have updated the sentence to have better grammar.

The change should be live later today.

[2022-11-21 18:19] seesharprun commented on #101438
Hello @DavidKlempfner,

We have added the `CosmosClientOptions.ApplicationName` property to the list.

The change should be live later today.

[2022-11-21 18:20] seesharprun commented on #101376
Hello @DavidKlempfner,

We have softened the language to say that Direct mode typically use TCP. Since using HTTP mode with TCP is no longer a recommendation or possibility, we don't want to promote that in the docs.

The change should be live later today.

[2022-11-21 18:26] chcomley commented on #89932
#please-close

[2022-11-21 18:32] VitalyMCT opened #101759 "Classic vs preview notebooks?"
Is the information about this aspect still accurate?

My understanding is that the notebooks formerly known as "preview" have since gone GA and the classic notebooks are no longer available.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7ee7a3ce-bccc-2c9d-e2dd-d4fc37cf77cb
* Version Independent ID: 403bf1bc-4b24-ed36

[2022-11-21 18:34] #101292 closed

[2022-11-21 18:34] #101555 closed

[2022-11-21 18:34] #101580 closed

[2022-11-21 18:34] #101365 closed

[2022-11-21 18:34] #101438 closed

[2022-11-21 18:34] #101376 closed

[2022-11-21 18:35] muj-beg opened #101760 "Doc not well-suitable for general developer audience"
This reads more like  math theorems rather than being easily digestible and intuitive for a developer audience.  For example:

Mmm ... no! Let's not!

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 1b884aa0-cea6-bdfc-80af-7b7a8385b3de
* Version Independent ID: 6a77610e-3b6b-44ab-6226-91820603f594
* Content: [SQL JOIN q

[2022-11-21 18:42] seesharprun commented on #101299
Hi @AdityaNair102001!

We have a change incoming that covers these two issues:

- We removed the "migrate Node.js web app" link since that tutorial no longer exists
- We changed the first link to a Node.js quickstart instead of a .NET quickstart
- We updated the Java quickstart link's text

These changes should be live later today.

[2022-11-21 18:47] gwynforthewyn opened #101761 ""Manually Install" link misleading"
On this page, in the section "Linux virtual machine on-premises or in another cloud" (https://learn.microsoft.com/en-us/azure/azure-monitor/agents/log-analytics-agent?WT.mc_id=Portal-Microsoft_Azure_Security#linux-virtual-machine-on-premises-or-in-another-cloud), there's a sentence which reads:

I assumed the link "Manually install" would take me to a web page which would give directions to the wr

[2022-11-21 18:54] #101299 closed

[2022-11-21 18:56] DeanGross opened #101762 "Permissions to create apps"
I cannot find anything in the documentation about Azure App Service about what permissions are necessary to perform the various tasks. Please add this basic information.
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 64e750b6-a84d-c665-9bb3-167241a33d10
* Version Independent ID: f22f673f-469c-e137-304b-aa92662e0790
* C

[2022-11-21 18:57] mumian commented on #101628
@paupal1 - there is an important note in the article:

Important

Deployment script uses the available CLI images from Microsoft Container Registry (MCR). It takes about one month to certify a CLI image for deployment script. Don't use the CLI versions that were released within 30 days. To find the release dates for the images, see [Azure CLI release notes](https://learn.microsoft.com/en-us/cli/az

[2022-11-21 19:13] gwynforthewyn commented on #101761
I think I found the right link for the install script - https://learn.microsoft.com/en-us/azure/azure-monitor/agents/agent-linux?tabs=wrapper-script

[2022-11-21 19:19] AbdullahBell commented on #101625
Hello and thank you for your question.

If your Azure DDoS Protection plan is active for the entire month, you will be charged the monthly fee regardless of usage. However, if your service was active only for a portion of the month, you would only receive a prorated bill for the hours used.

https://azure.microsoft.com/en-us/pricing/details/ddos-protection/#faq

[2022-11-21 19:19] AbdullahBell commented on #101620
#please-close

[2022-11-21 19:19] #101620 closed

[2022-11-21 19:19] AbdullahBell commented on #101625
#please-close

[2022-11-21 19:20] tasdflkjweio commented on #88207
Looking forward to this feature! It will streamline so much.

[2022-11-21 19:36] markingmyname commented on #93643
#please-close

[2022-11-21 19:36] #93643 closed

[2022-11-21 19:39] #101210 closed

[2022-11-21 19:52] markingmyname commented on #101334
@dicrtarasov

Thanks for your contribution.

This request has been addressed.

[2022-11-21 19:53] markingmyname commented on #101334
#please-close

[2022-11-21 19:53] #101334 closed

[2022-11-21 19:59] matthewjlevy commented on #101462
Thank you, but I've already onboarded Azure subscriptions using the recommended automatic method, but I need to know how to create a user object in Permissions Management that I can then assign a role within Permissions Management.

You see, the global admin used to onboard Permissions Management to the AAD tenant is a temporary Global Admin activated through PIM. When the global admin role is rev

[2022-11-21 20:08] markingmyname commented on #101626
@maishii

We appreciate your contribution.

References to the term *master,* is a term that Microsoft no longer uses.

I'm not sure why it doesn't work for you, but i would suggest opening a ticket with support.

[2022-11-21 20:08] markingmyname commented on #101626
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To ask a question directly to our Q&A environment, please visit https://docs.microsoft.com/en-us/answers/support/ for more information on asking questions about the product or service.

Thank you.

#please

[2022-11-21 20:08] #101626 closed

[2022-11-21 20:11] markingmyname commented on #93787
@bjoeysouza

We appreciate you identifying this discrepancy for us.

Now that Single Server is on the retirement path, we do not recommend using Single Server anymore.

The Cognitive article needs to be updated.

Thank you.

[2022-11-21 20:13] DanielBirmingham opened #101765 "Selective PHS is Supported"
The article has outdated information concerning selective PHS, which is now supported.

"The first time you enable the password hash synchronization feature, it performs an initial synchronization of the passwords of all in-scope users. **You cannot explicitly define a subset of user passwords that you want to synchronize.** However, if there are multiple connectors, it is possible to disable pass

[2022-11-21 20:19] markingmyname commented on #93787
Made edits to the search article.

Thank you.

#please-close

[2022-11-21 20:19] #93787 closed

[2022-11-21 20:20] markingmyname commented on #96468
#reassign: @vivgk

[2022-11-21 20:26] markingmyname commented on #99534
@Robert-Lauriston-at-Striim

We appreciate the feedback.

Not sure what experience you are having, but the links still works for me.

Have you tried other browsers by chance?

[2022-11-21 20:26] markingmyname commented on #99534
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To ask a question directly to our Q&A environment, please visit https://docs.microsoft.com/en-us/answers/support/ for more information on asking questions about the product or service.

Thank you.

#please

[2022-11-21 20:26] #99534 closed

[2022-11-21 20:28] v-jbasden commented on #100555
Thank you @furu2022 for your feedback and your dedication to our documentation. I have made the requested change and you should see it online within a day or two. Please feel free to continue to reach out to us with any comments or feedback.

#please-close

[2022-11-21 20:28] #100555 closed

[2022-11-21 20:39] jtruong-uipath opened #101766 "Version support for 9.4.0"
Hi,
from reading this article, I see that the supported versions are 6.4 to 8.22.1. I am wondering if this is a oversight since the latest version is 9.4.0

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d38cad90-6574-38c2-3262-059a9f975064
* Version Independent ID: dd08d5c5-65a4-c2cc-8b51-7a35268dde68
* Content: [Tuto

[2022-11-21 20:40] markingmyname commented on #99361
@YuKogasaka

Thank you for your contribution.

Azure AD is now GA as of last week.

The article will be updated by the end of the week.

[2022-11-21 20:40] markingmyname commented on #99361
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To ask a question directly to our Q&A environment, please visit https://docs.microsoft.com/en-us/answers/support/ for more information on asking questions about the product or service.

Thank you.

#please

[2022-11-21 20:40] #99361 closed

[2022-11-21 20:44] jarredm-demo opened #101768 "ADF Managed Store vs. AKV"
Having the two (ADF Managed Store and AKV) side by side will have every reader asking when to use which one.  The article should address in one or two sentences why one might be better than the other in a given use case.  Please assume that the reader does not necessarily understand/know the difference between the two.

---
#### Document Details

⚠ *Do not edit this section. It is required for lea

[2022-11-21 20:50] jenniehubbardDB commented on #57301
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue in a timely manner and sincerely apologize for the delayed response. We are closing this issue for now, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).
#please-close

[2022-11-21 20:52] jenniehubbardDB commented on #61140
#please-close

[2022-11-21 20:54] jenniehubbardDB commented on #60471
This work was completed.
#please-close

[2022-11-21 20:58] tomkuijsten commented on #101584
@seesharprun thanks for the update. To make this very clear (also for future readers), the amount of ms precision doesn't influence the indexing of the property in cosmos as a datetime, correct? Eg if I store a string as `2022-08-18T10:13:31.1234567Z` and another as `2022-08-18T11:14:55.1Z` they both get indexed as a datetime and both work in a range query.

[2022-11-21 21:04] jenniehubbardDB commented on #60111
This work appears to have been done some time ago.

#please-close

[2022-11-21 21:09] markingmyname commented on #86462
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To ask a question directly to our Q&A environment, please visit https://docs.microsoft.com/en-us/answers/support/ for more information on asking questions about the product or service.

Thank you.

#please

[2022-11-21 21:09] #86462 closed

[2022-11-21 21:13] markingmyname commented on #99882
it's now GA - https://learn.microsoft.com/en-us/azure/mysql/flexible-server/how-to-azure-ad

[2022-11-21 21:14] #99882 closed

[2022-11-21 21:26] dhivyagana commented on #101766
Hi @jtruong-uipath, thanks for letting me know. We do support 9.X versions of JIRA.  I will check the PR that is being raised to see why this hasn't been updated in the document.

[2022-11-21 21:38] randolphnz opened #101769 "Basic and client certificate authentication for Back end service"
Hi there,

This page says:

1. Basic and client cert authentication are available for authentication for back end service.
2. Managed identity for azure resources like Azure SQL, Azure KV, and so on.

However, it's NOT clear which kind of back end service supports Basic and client cert authentication.

I am wondering if Basic authentication only supports HTTP end points, while client cert authenti

[2022-11-21 21:48] Grace-MacJones-MSFT commented on #101666
Thanks for the clarification and adding your input @madsd

We will now proceed to close this thread. If there are further questions regarding this matter, please tag us in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-11-21 21:52] PabloG-MSsupport opened #101770 "Can you please add to these FQA the steps to Deallocate and Allocate a AzFW on a Vhub (aka Secure vHUB)!"
Hello,

There`s a git already that explains how to Deallocate and Allocate a AzFW on a Secure vHUB, but having those steps on a FQA, below the steps for regular Azfw, I believe would be more practical for support Engineers and Users:

https://github.com/adstuart/azure-firewall-deallocate#azure-firewall-in-virtual-wan-hub-aka-secured-virtual-hub

# Stop an existing Secure vHUB firewall

Deallocate:

[2022-11-21 21:52] Usha-Rathnavel commented on #32624
@marosrojis have you tried using Azure Functions or Event grid?  Depending on your use-case, there are a few options that we could explore . Please drop an email to usrathna at microsoft dot com, with more details on scenario and we can see how we can help. Thanks!

[2022-11-21 21:59] GeethaThatipatri-MSFT commented on #101760
@muj-beg Thanks for your findings, I'm assigning this to the author for the feedback review.

[2022-11-21 21:59] seesharprun commented on #101760
Hi @muj-beg, I totally agree with you! I recently took over reviewing these SQL query language articles and we are looking at ways of clearing up the language. The brilliant minds who designed this language tend to have wrote their own docs in the past and sometimes it can come across as entirely too academic.

The simplest way to think of JOIN is that it's a cross-product. Perhaps a visual exampl

[2022-11-21 22:08] seesharprun commented on #101584
My understanding is that this is accurate, but I want to double check with a colleague. Hang tight.

[2022-11-21 22:21] seesharprun commented on #101584
I just got validation that the datetime stored as a string will work in a range query. The range type of index is the default type for any string or number property.

[2022-11-21 22:34] thesheebs opened #101772 "This sample does not work with .Net 6 and does not provide an alternate to Microsft.AspNetCore.Authentication"
[Enter feedback here]
This tutorial does not work with .Net 6 Blazor Server.

Also, according to [Microsoft's own documentation](Microsoft.AspNetCore.Authentication ) Microsoft.AspNetCore.Authentication  cannot be used to access an API. This is what I am trying to do. The documentation does not show how to use Microsoft.Identity.Web in .NET 6 to sign in via Azure and access a protected API.
---
##

[2022-11-21 22:37] rwike77 commented on #95336
@fowl2 Sorry for the slow reply.  I wasn't able to find much information on this one on the internet.  Here's one thing I found, though it may not be very helpful:
https://answers.microsoft.com/en-us/msoffice/forum/all/national-cloud-request-process-switched-off/75d611d9-2ddb-4357-9fb9-21daff83ee40

I've also sent a request to the engineering team for more information, but have not heard back.  If

[2022-11-21 22:49] jtruong-uipath commented on #101766
@dhivyagana thank you for the quick reply!

[2022-11-21 22:57] jonwbstr commented on #101697
I opened two separate feedback items on two different documents.
This item is to add a "note" so readers do not need to visit the related article to see an important piece of information.

#101698, which was closed, is requesting clarification around the "address pool" language. Terms like subnet, or address range are more common when talking about the other networks connected through the vWAN. "a

[2022-11-21 22:59] mike-urnun-msft commented on #101769
Thank you for your feedback! We will review and update as appropriate.

[2022-11-21 23:02] muj-beg commented on #101760
Thanks very much for your prompt attention and the great description/examples.  Much appreciated.

[2022-11-21 23:31] eric-urban commented on #101428
@nicholasgcotton - Thanks for letting us know. I've submitted a pull request to fix the link in the referrer repo. https://github.com/Azure-Samples/cognitive-services-speech-sdk/pull/1756

[2022-11-21 23:31] eric-urban commented on #101428
#please-close

[2022-11-21 23:31] #101428 closed

[2022-11-21 23:36] MartinJaffer-MSFT commented on #101746
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-11-21 23:37] MartinJaffer-MSFT commented on #101746
Thank you for your feedback. This has been assigned to the content owner and will be updated as appropriate.

[2022-11-21 23:46] rwike77 commented on #101458
@bb-froggy  You're right, thanks for pointing this out.  I'm updating the screenshot, should publish soon.  #please-close

[2022-11-21 23:46] #101458 closed

[2022-11-22 00:22] jenniehubbardDB commented on #79256
Currently it is the API only.

#please-close

[2022-11-22 00:26] kgremban commented on #101470
Hello @devgaia, I've confirmed that in the API the job type property is called **scheduleUpdateTwin** and I'll fix the query examples to reflect this. Thank you for pointing this out.

[2022-11-22 00:37] #101470 closed

[2022-11-22 00:51] JustinGrote opened #101773 "BGP Peering is no longer in preview"
The docs here link to bgp peering with VWAN in preview, but it is a GA feature now.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 928d7a76-5472-0f2d-c6d9-100099ee5dff
* Version Independent ID: 78d77834-58eb-c0b6-197d-73e3af2dc469
* Content: [Scenario: Route traffic through a Network Virtual Appliance (NVA) - Azure Vi

[2022-11-22 00:54] mejiach opened #101774 "Permisos para poder eliminar y restaurar usaurios en Office"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9661198d-b7ad-f939-637b-5a879b50e5a2
* Version Independent ID: 8a286ca6-982f-cfd7-77ce-ad2cb1fa325d
* Content: [User management permissions for Azure AD custom roles (preview) - Azure Active Directory - Microsoft Entra](https://learn.microsoft.com/en

[2022-11-22 00:55] mejiach opened #101775 "Eliminar y activar usuarios en Office365"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9661198d-b7ad-f939-637b-5a879b50e5a2
* Version Independent ID: 8a286ca6-982f-cfd7-77ce-ad2cb1fa325d
* Content: [User management permissions for Azure AD custom roles (preview) - Azure Active Directory - Microsoft Entra](https://learn.microsoft.com/en

[2022-11-22 01:18] dbrennan commented on #94209
This issue is still present.  How do I restore a storage account now that someone has botched up the documentation and it's not possible to find the restore location?

[2022-11-22 01:36] AndrewBlumhardt opened #101776 ""Crown Jewels" reference is external advertisement and may be offensive to some readers"
This article has several reference URLs to itself which is a little confusing.

More importantly there is a reference to MITRE Crown Jewels with a link to their website. I recommend reconsidering this for a few reasons. First the term Crown Jewels has potentially offensive connotations. Also, references to an external link and a licensed service advertisement by a 3rd party seems unusual for Micro

[2022-11-22 01:38] randolphnz opened #101777 "Configure an API to use client certificate for gateway authentication"
According to the screenshot, are Azure Logic App and HTTP(s) endpoint only two types for the target of Backend?

Regards
Randy

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b9db9c9e-e856-8035-70f1-8c0b5608d55f
* Version Independent ID: 3b800621-f33e-36b6-5ce9-a809dd227e52
* Content: [Secure API Management backend usi

[2022-11-22 01:41] alexxiongxiong opened #101778 "Wrong description in limitation Section"
Wrong description in "limitation" Section:
The AKS cluster must be built with virtual machine scale sets as the VM type and the Standard SKU load balancer.

The truth is that AKS 1.23 support VMAS.

Do the lab with following command:
root@AlexRampUpVM-01:~# az aks create -g MyResourceGroup -n MyManagedCluster --vm-set-type AvailabilitySet
The behavior of this command has been altered by the follow

[2022-11-22 01:49] fowl2 commented on #95336
Thanks for the reply, could this issue please be left open until it was actually resolved?

Internal work items are fairly opaque externally ;)

[2022-11-22 01:51] fowl2 commented on #95336
(if nothing else, be honest and close it as "Not planned", if it's not planned :)

[2022-11-22 02:20] Grace-MacJones-MSFT commented on #101762
Hi @DeanGross, thanks for your feedback! Are you referring to permissions when it comes to Azure AD? Can you please give more details as to what tasks you would like to achieve which isn't covered in the docs?

[2022-11-22 02:22] MartinJaffer-MSFT commented on #101745
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-11-22 02:23] MartinJaffer-MSFT commented on #101745
Thank you for your feedback. This has been assigned to the content owner and will be updated as appropriate.

[2022-11-22 02:28] Naveenommi-MSFT commented on #101738
@atiasadir

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-22 02:30] Naveenommi-MSFT commented on #101744
@becke-ch-s0-v1
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-22 02:32] Naveenommi-MSFT commented on #101748
@den4md

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-22 02:40] Naveenommi-MSFT commented on #101741
@fleetwoodstack

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-22 03:32] YashikaTyagi-MSFT commented on #101750
@altrivis
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-11-22 03:34] YashikaTyagi-MSFT commented on #101751
@altrivis
Duplication issue as #101750 so closing this thread.

[2022-11-22 03:36] YashikaTyagi-MSFT commented on #101752
@wiceywkus
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-11-22 03:42] YashikaTyagi-MSFT commented on #101754
@jephlu
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-22 03:43] YashikaTyagi-MSFT commented on #101755
@rav0k
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-22 03:45] YashikaTyagi-MSFT commented on #101757
@rdoetjes
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-22 03:46] YashikaTyagi-MSFT commented on #101758
@bfeldmann12
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-22 03:46] VikasPullagura-MSFT commented on #101778
@alexxiongxiong
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-11-22 03:46] VikasPullagura-MSFT commented on #101778
@MGoedtel
Can you please check and add your comments on this doc update request as applicable.

[2022-11-22 04:15] SwathiDhanwada-MSFT commented on #101761
@gwynforthewyn Thanks for your comment. We will review the issue and get back to you shortly.

[2022-11-22 04:16] DavidKlempfner commented on #101438
Thanks for that. Looks good except the text is aligned too far to the right.

[2022-11-22 04:20] Naveenommi-MSFT commented on #101759
@VitalyMCT

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-22 04:24] jamesdplee commented on #101557
Thank you!

[2022-11-22 04:44] YashikaTyagi-MSFT commented on #101765
@DanielBirmingham
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-22 04:45] YashikaTyagi-MSFT commented on #101768
@jarredm-demo
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-22 04:47] YashikaTyagi-MSFT commented on #101770
@PabloG-MSsupport
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-22 04:54] YashikaTyagi-MSFT commented on #101774
@mejiach
Could you explain your query in detail so that I can understand in a better way?

[2022-11-22 04:56] YashikaTyagi-MSFT commented on #101775
@mejiach
Could you explain your query in detail so that I can understand in a better way?

[2022-11-22 04:58] YashikaTyagi-MSFT commented on #101776
@AndrewBlumhardt
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-11-22 04:58] aolszowka commented on #101666
@Grace-MacJones-MSFT I don't see a merge that includes documentation for this setting? While @madsd is correct that you do not need to define the `Deny Rule` you absolutely need to provide `ipSecurityRestrictions` which is currently undocumented. The whole point of this was to document this, currently undocumented, flag.

[2022-11-22 05:00] #101294 closed

[2022-11-22 05:06] AnuragSingh-MSFT commented on #101537
@Satona75, thank you for bringing it to our attention. You are right, they both refer to the same thing - backup job failure.
By default, they are **enabled**, as you can see from the portal description:

![image](https://user-images.githubusercontent.com/87687088/203226477-22eed5ad-dcb0-427d-9ae6-1b9d0b3a7db8.png)

I will submit an update to this doc to avoid contradiction, which once reviewed wi

[2022-11-22 05:15] iamramengirl commented on #100971
@PatrickFarley @Naveenommi-MSFT May I follow up on this, please?

[2022-11-22 05:18] shtakeda commented on #99753
Hi @xixian73
Please delete , { threadId: '00000000-0000-0000-0000-000000000000' }, and update as follows:

[code]

See this. threadId is not required for 1:1 PSTN call.
https://github.com/Azure/Communication/blob/master/releasenotes/acs-javascript-calling-library-release-notes.md#170-beta1-2022-08-01
[code]

[2022-11-22 05:33] KapilAnanth-MSFT commented on #101773
@JustinGrote , Thanks for your feedback. I shall assign this thread to the author for review.

@cherylmc , it appears BGP peering with Virtual Hub feature is now generally available. Request you to update the document accordingly.

[2022-11-22 05:51] AjayBathini-MSFT commented on #101679
@yahooshua
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@Gargi-Sinha
Kindly add your inputs on the above query.

[2022-11-22 05:58] RamanathanChinnappan-MSFT commented on #101574
@sergiosolorzano

We are going to close this thread  but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-22 05:58] #101574 closed

[2022-11-22 06:16] thecmdradama commented on #100896
Hi guys,

I have also just been trying to do the same as @mcupito.

I have had some success with this however I have noticed some minor frustrations,
1. From the documentation there appears to be no option on the `func kubernetes deploy` command to specify an operating system or specifically a node pool. In my case, it was attempting to deploy a linux container onto a windows node pool in the same

[2022-11-22 06:18] SnehaAgrawal-MSFT commented on #101572
@baaaaif Thanks for sharing feedback! Could you please share more insights on requirement for adding suggested document link ((https://learn.microsoft.com/en-us/windows/apps/windows-app-sdk/notifications/push-notifications/push-quickstart) as this repo is for Azure Notification hubs.

[2022-11-22 06:24] ShingoHanai opened #101781 "Add ApiConnectionNotification in trigger types list and indivisual explanation for ApiConnectionNotification"
I'd like you to add ApiConnectionNotification in trigger types list and indivisual explanation for ApiConnectionNotification.
[https://learn.microsoft.com/en-us/azure/logic-apps/logic-apps-workflow-actions-triggers#trigger-types-list](url)

That trigger type is known as "When a new email arrives (V3)" trigger of Office 365 Outlook connector.
[https://learn.microsoft.com/en-us/connectors/office365/

[2022-11-22 06:29] thecmdradama opened #101783 "Azure Functions on Kubernetes with KEDA feedback"
Hi guys,

I have just been working on implementing this and have noticed some minor frustrations with getting it working.

1. From the documentation there appears to be no option on the 'func kubernetes deploy' command to specify an operating system or specifically a node pool. In my case, it was attempting to deploy a linux container onto a windows node pool in the same cluster...
2. I also had t

[2022-11-22 06:42] RamanathanChinnappan-MSFT commented on #101668
@isdataninja

In this below link we have shared the screenshot. Here clearly mentioned If you are using Azure Data Lake Analytics, we recommend you migrate to [Azure Synapse Analytics](https://azure.microsoft.com/en-us/services/synapse-analytics/#overview) before 29 February 2024.
 in this doc mentioned about following steps for migration

https://azure.microsoft.com/en-in/updates/migrate-to-azure

[2022-11-22 06:49] KapilAnanth-MSFT commented on #101770
@PabloG-MSsupport, Thanks once again for bringing this to our attention. I shall assign this to the author for further review.

@vhorne, I have checked the above commands and I was able to deallocate and allocate the firewall in a secured hub. Please review this feedback and update the FAQ section as required.

[2022-11-22 06:49] RamanathanChinnappan-MSFT commented on #101757
@rdoetjes

Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-22 06:49] RamanathanChinnappan-MSFT commented on #101757
@nabhishek

could you please review this and update as appropriate.

[2022-11-22 06:54] mike-urnun-msft commented on #101118
Hello @ethanjscannell - Sorry for the late reply. The problem lies within the sample, and was reported before in the following:

- https://github.com/MicrosoftDocs/azure-docs/issues/93528
- https://github.com/Azure-Samples/containerapps-albumapi-javascript/issues/3

Since we didn't determine any changes to this particular doc, we will now proceed to close this thread for now. If there are further

[2022-11-22 07:28] lireking commented on #101595
Hi @AnuragSingh-MSFT, thank you for your help, but React (nextjs) is not only running on the client side. I use it with SSR (Server Side Rendering), but as you already said, the current npm package doesn't support live metrics and I guess this applies to the (client-side) JS snippet implementation as well, right?

[2022-11-22 07:29] omki12 commented on #99305
any Update on this?
I am able to create vs template, but the project template not appearing in the "Add module" section as mentioned by @fgheysels
is there any tag that needs to be added in template, or any specific place, where it should be placed?

[2022-11-22 07:34] mepowerleo10 opened #101787 "Mixed tabs"
The tabs for Django and Flask have been interchanged. For example, clicking on the Flask tab shows the source code for Django and vice versa is true. I think this is a bug.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 1a96d5fc-0dd1-a344-5416-44039cee39b8
* Version Independent ID: 72844ca4-b087-de15-be00-e0d87020a48b

[2022-11-22 07:41] toku345 opened #101788 "Wrong description in ja-jp doc: "When Always On is not turned on (default), ...""
Hi,

I found a wrong description in ja-jp doc.
I think the an-us doc is correct.
So update the ja-jp one, please.

ja-jp: https://learn.microsoft.com/ja-jp/azure/app-service/configure-common?tabs=portal#configure-general-settings
![image](https://user-images.githubusercontent.com/3142849/203250764-a9e467cb-bd17-4127-9c9b-9c0fc6886eb8.png)
→ Translate to English, it means...

en-us: https://learn.m

[2022-11-22 07:44] amihailes opened #101789 "Update the documentation to take into account the evolution of EA portal"
Hello,

I recently had to move a subscription for my customer from PAYG to EA.
The customer uses Direct Administration, not a CSP.

As from 12 of October 2022, EA portal for Direct customers became read-only.
So, the page is no more usable for direct customers.

Could you, please update this page to reflect this the evolution? Actually, it creates confusion in customer area and support tickets are

[2022-11-22 08:03] ErikEJ opened #101790 "Missing inforamation about Powershell commands to run"
Noo useful Powershell info on the page, although it is listed as an option for configuration.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 44113950-5a72-d794-3e50-67dbf17ee6f0
* Version Independent ID: efa9e1fb-ae7a-6d60-256a-30e866f93067
* Content: [Register a web app that signs in users - Microsoft Entra](https://

[2022-11-22 08:13] isdaniel commented on #100327
Hi @kabharati @GeethaThatipatri-MSFT  Is there any update? thanks.

[2022-11-22 09:15] tomaschladek commented on #101727
The documentation has been updated. @YashikaTyagi-MSFT can you close the ticket?

[2022-11-22 09:16] doruchiulan commented on #38660
Having issues too, trying to use tags in combination with startDate/endDate does not work, giving always empty result

`https://management.azure.com/subscriptions/{{subscriptionId}}/providers/Microsoft.Consumption/usageDetails?api-version=2021-10-01&$filter=tags eq 'Vendor:Databricks'  and properties/usageStart ge '2022-11-01' and properties/usageEnd le '2022-11-10'`

[2022-11-22 09:22] RolandlinAKS commented on #101382
@tomvcassidy
Could you please review this issue?
1. What is the exact port limit for each IP address? It shows 5 in the ACI document, while it shows 10 in the Azure CLI output.
2. Does one container group can use both TCP and UDP simultaneously if they are not the same port?
The customer is waiting for the response.

[2022-11-22 09:23] YimingSun60 opened #101792 "variables with different types cannot be converted"
[Enter feedback here]

The line of code

`ObjectModel model = await observer.LoadObjectModelAsync(modelAsBytes);`

model is a IList and the right side returns a IReadOnlyList

Can I cast IReadOnlyList to the IList?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3886deaa-fbcd-d5b9-250c-4a1f65c5c0d1
* Version Independen

[2022-11-22 09:52] henrymbuguakiarie commented on #78005
Hello @christianrowlands,

Thanks for you contribution.

The article "Use MSAL in a National Cloud Environment" includes examples for various frameworks or programming languages but doesn't include instructions for Android Microsoft Authentication Library configuration. You are building an Android app, and you want to look at the [Android Microsoft Authentication Library configuration file](https:

[2022-11-22 10:08] csmulligan commented on #95965
#reassign:@csmulligan

[2022-11-22 10:15] YashikaTyagi-MSFT commented on #101727
@tomaschladek
Thanks for the update.

[2022-11-22 10:15] #101727 closed

[2022-11-22 10:17] henrymbuguakiarie commented on #78003
Hello @christianrowlands,

Thanks for your contribution.

You're right. We need to add clarity that `authority_url` can be used with type AAD, as shown in [the Microsoft identity Android Java sample.](https://github.com/Azure-Samples/ms-identity-android-java/blob/master/app/src/main/res/raw/auth_config_single_account.json)

Once the doc has been updated, I'll close the issue.

[2022-11-22 10:20] Kyle-Jeynes commented on #79483
There is also no documentation on where to write the access log and error log streams IOT view them inside the Azure portal. Looking around the SSH, there is a `/home/LogFiles` - is this the correct location as `/var` is out of the persistence scope.

I prefer Nginx over Apache2, its not neccessarily a bad change but you need to document Azure specifics. Writing the FPM pass for a Laravel app was

[2022-11-22 10:22] Poil opened #101794 "vWan & azure firewall & private appgw v2"
Hi Azure Team,

I'm trying to create a private appgw v2 behind the vWan (protected with an Azure Firewall)

I tried
* by adding a route table on the VNET (0.0.0.0/0 to Internet, MyPrivateCIDR to VNetLocal) and a NSG to filter Internet trafic : Backend Health and metric works but I have no more traffic from my other VNET (no flow in the Firewall logs)
* by setting bypass next hop on the Virtual Net

[2022-11-22 10:26] xenon8 opened #101795 "Unclear in the calculations"
The example is not clear between Endpoints, Routes, Domains and Origin Groups

For example does it mean that:

Route => an endpoint, which has the potential of multiple routes?
Paths => Routes in that endpoint? Or are they Patterns to match within a route definition?

Or are Endpoints not considered at all in the route profile limits?

Are there any issues with having lots of Origin Groups? Do the

[2022-11-22 10:33] v-ksreedevan commented on #99505
#reassign: @Vikram1988

[2022-11-22 10:35] SnehaAgrawal-MSFT commented on #101787
@mepowerleo10 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-11-22 10:36] v-ksreedevan commented on #99053
#reassign: @sunishvohra-MS

[2022-11-22 10:36] SnehaAgrawal-MSFT commented on #101788
@toku345 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-11-22 10:40] v-ksreedevan commented on #96099
#reassign: @sunishvohra-MS

[2022-11-22 10:41] v-ksreedevan commented on #98284
#reassign: ajaypartha95

[2022-11-22 10:42] v-ksreedevan commented on #98284
#reassign: @ajaypartha95

[2022-11-22 10:49] Poil commented on #101794
https://learn.microsoft.com/en-us/azure/virtual-wan/scenario-secured-hub-app-gateway#scenario-1

[2022-11-22 10:49] #101794 closed

[2022-11-22 10:52] v-ksreedevan commented on #100463
#reassign: @pingvishal-msft

[2022-11-22 10:53] v-ksreedevan commented on #100449
#reassign: @piyushdhore-microsoft

[2022-11-22 10:55] v-ksreedevan commented on #91499
#reassign: @piyushdhore-microsoft

[2022-11-22 11:34] #101635 closed

[2022-11-22 11:34] #101636 closed

[2022-11-22 11:38] Wizzzzzzard opened #101796 "azsecrets.NewClient() used in the example expects one variable but receives two"
The code needed to create a connection to the Key Vault client, expects one value but is given two variables in the example:

client := azsecrets.NewClient(vaultURI, cred, nil)

This returns the following error:

cannot initialize 1 variables with 2 valuescompiler[WrongAssignCount](https://pkg.go.dev/golang.org/x/tools/internal/typesinternal#WrongAssignCount)
---
#### Document Details

⚠ *Do not e

[2022-11-22 11:39] syedatifakhtar commented on #96360
Currently do you recommend credentials passthrough or not, the issue is confusing

[2022-11-22 11:52] SaibabaBalapur-MSFT commented on #101772
@thesheebs
I'm going to assign this to the document author so they can take a look at it accordingly.

@Dickson-Mwendia
Can you please check and add your comments on this doc update request as applicable.

[2022-11-22 11:56] AjayBathini-MSFT commented on #101755
@rav0k
I'm going to assign this to the document author so they can take a look at it accordingly.

@MicrosoftGuyJFlo
Can you add your inputs on above query

[2022-11-22 12:01] AjayBathini-MSFT commented on #101738
@atiasadir
I'm going to assign this to the document author so they can take a look at it accordingly.

@MGoedtel
Could you please add your comments on above query

[2022-11-22 12:03] isdataninja commented on #101668
Thanks, @RamanathanChinnappan-MSFT . I've submitted this PR to clarify this --> https://github.com/MicrosoftDocs/azure-docs/pull/101798

+@whhender

[2022-11-22 12:03] #101668 closed

[2022-11-22 12:07] AjayKumar-MSFT commented on #66490
I'm following-up internally, requesting your insights, @mattchenderson.

[2022-11-22 12:08] ManoharLakkoju-MSFT commented on #101744
@becke-ch-s0-v1
I'm going to assign this to the document author so they can take a look at it accordingly

@nickludwig
Can you please check and add your comments on this doc update request as applicable.

[2022-11-22 12:08] lmalmeida opened #101799 "Request attributes by keys and values"
The section "Request attributes by keys and values" is not clear. Specifically the statements "The value of the header (1=1) might be detected as an attack by the WAF. But if you know this is a legitimate value for your scenario, you can configure an exclusion for the value of the header. To do so, you use the RequestHeaderValues request attribute, and select the header name (My-Header) with the v

[2022-11-22 12:20] sergiosolorzano opened #101800 "Integration->Outputs says No outputs defined with no option to add an output"
I published a c# function app and can't edit output as shown in this doc: Integration->Outputs says No outputs defined with no option to add an output

It would help you explain how/why to address this issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e952d385-d5c8-de9b-27c5-4d02add9b180
* Version Independent ID:

[2022-11-22 12:24] CrowdsourceKurdish commented on #90660
Hi @YutongTie-MSFT @ram-msft @laujan
 This issue continues to cause errors in the use of Microsoft services.
Any progress on resolving this issue?

[2022-11-22 12:31] dirkslab opened #101801 "Important notice managed identities maintain a cache"
Please can we get clarity on the following statement in the doc. Not sure if I am misunderstanding.
https://learn.microsoft.com/en-us/azure/app-service/overview-managed-identity?tabs=cli%2Chttp

**Important**

_"The back-end services for managed identities maintain a cache per resource URI for around 24 hours. If you update the access policy of a particular target resource and immediately retrieve

[2022-11-22 12:32] SwathiDhanwada-MSFT commented on #101761
@gwynforthewyn Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the doc within 24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2022-11-22 12:38] SwathiDhanwada-MSFT commented on #101754
@jephlu Thanks for your feedback.

Assigning to content author  @tfitzmac for review.

[2022-11-22 12:40] vermegi commented on #100431
Will probably also need to be changed then here: https://learn.microsoft.com/en-us/azure/spring-apps/access-app-virtual-network?tabs=azure-CLI#create-dns-record

[2022-11-22 12:45] arp-mbender opened #101803 "Microsoft.Intune application setting enforces "Users may register their devices with Azure AD" (poorly documented)"
This page should also list that the `Microsoft.Intune` application, if it has "Enabled for users to sign-in?" property enabled, will force the "Users may register their devices with Azure AD" setting to "all" and grey it out. It would be very helpful for the page to list exactly how to reach the properties of the `Microsoft.Intune` application in Azure, because this isn't a straightforward process

[2022-11-22 13:18] Naveenommi-MSFT commented on #101578
@MikeForster100
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-22 13:18] #101578 closed

[2022-11-22 13:20] YashikaTyagi-MSFT commented on #101777
@randolphnz
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-22 13:25] Naveenommi-MSFT commented on #101768
Hi @jarredm-demo

Please go through this below link for your reference.

https://learn.microsoft.com/en-us/azure/data-factory/store-credentials-in-key-vault.

If there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-22 13:37] jarredm-demo commented on #101768
This doesn't really fix the problem in the article. It simply references a different article.

Best,

--Jarred M.
________________________________
From: Naveenommi-MSFT ***@***.***>
Sent: Tuesday, November 22, 2022 8:25:53 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Jarred Mooney ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] ADF Managed Store vs. AKV (Issue #10176

[2022-11-22 13:38] a-goo opened #101804 "Missing information for internal takeover"
What happens if you can't use PowerBI as per the instructions for Internal takeover because it's blocked??

**You've selected Microsoft Power BI**
Let's get you started
_"Your organization doesn't currently allow its users to purchase Microsoft Power BI. Contact your IT admin for more information."_

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ G

[2022-11-22 13:39] #101761 closed

[2022-11-22 13:39] a-goo commented on #101804
![image](https://user-images.githubusercontent.com/105272899/203328228-a1bad355-2ea9-41d8-94bc-2d29b0475e09.png)

[2022-11-22 13:47] AshokPeddakotla-MSFT commented on #101792
@YimingSun60 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-11-22 13:55] SwathiDhanwada-MSFT commented on #101457
@wUEZRs Thanks for your feedback.

Assigning to content author @SnehaSudhirG  for review.

[2022-11-22 13:56] ethanjscannell commented on #101118
Hi @mike-urnun-msft Thanks for the reply. Not sure what you mean by this:

But whatever. I'll just follow up in that existing issue you linked - it looks like there are some workarounds anyway.

[2022-11-22 14:14] YashikaTyagi-MSFT commented on #101781
@ShingoHanai
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-22 14:18] YashikaTyagi-MSFT commented on #101783
@thecmdradama
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-22 14:19] kudu-star opened #101806 "Mass update using Azure policy"
Is there a guide how you could use Azure Policy to update in bulk an existing diagnostic setting?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3ed939cb-2e5d-67d8-011d-84fbd2bffdde
* Version Independent ID: 61cd5bf8-2fdd-b24d-f6c3-9b2c625c5cbf
* Content: [Create diagnostic settings at scale using Azure Policy - Azure

[2022-11-22 14:21] YashikaTyagi-MSFT commented on #101790
@ErikEJ
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-11-22 14:29] seesharprun commented on #101438
We'll get that fixed this week

[2022-11-22 14:32] MGoedtel commented on #101738
@atiasadir - Thanks for bringing up this question. I'm creating a work item for this and will prioritize for our December sprint, as we'll need to work with the product group to properly update this information.

[2022-11-22 14:48] cedwards-telis commented on #94907
You closed the ticket and didn't make the change and now I find myself in same position as OP.

[2022-11-22 14:48] rav0k opened #101809 "Please do mention that "Remember Multi-Factor Authentication" does not work very well with Sign-in Frequency"
[Hello Team,

Please check if we can make a reference/noter that the "Remember Multi-Factor Authentication" feature doesn't work very well as we have it mentioned on the following doc: https://learn.microsoft.com/en-us/azure/active-directory/conditional-access/howto-conditional-access-session-lifetime#configuring-authentication-session-controls

Thanks in advance!]

---
#### Document Details

⚠ *D

[2022-11-22 15:00] mat-liu opened #101811 "How to pass metadata while manually invoking azure functions?"
Article covers how to include message body under `input` property, but not message metadata like `@BindingName("MessageId")`

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f538a557-7e88-e077-6a6f-6fb14d89dbf6
* Version Independent ID: 84a1693b-2795-c865-35df-3ad3b9b61e2c
* Content: [Manually run a non HTTP-triggered A

[2022-11-22 15:03] sergiosolorzano opened #101812 "key name - confusing"
Key | If you want to use an Azure Function from another subscription, you can do so by providing the key to access your function.

Stream Analytics offers output function app (1) App Keys and (2) Function keys. What is the difference, when use one or the other? And how is the description in this document relevant to the options offered in the portal's setup? What if I want to use the func app from

[2022-11-22 15:22] Marusyk opened #101813 "How to use "Aggregating data in clusters" with pagination"
Let's say my DataSource is paginated. I can return only 1000 records. Is there any info on how to work paged geojsonFeed?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 76f1fdb8-a82f-31ec-c216-3bcec63994e2
* Version Independent ID: a1f98242-3f0d-8338-655e-27c5a557cd56
* Content: [Clustering point data in the Web SDK](

[2022-11-22 15:32] jasonshave commented on #101714
@harrystigman, in the meantime while the docs are sorted out, the doc for managing a queue is [here]( https://learn.microsoft.com/en-us/azure/communication-services/how-tos/router-sdk/manage-queue).

While this platform is in Private Preview we are unable to link all documents to the "table of contents" which usually helps a lot with navigation and discovery of docs. I've asked the platform owner

[2022-11-22 15:36] rav0k commented on #101551
Hello [YashikaTyagi-MSFT](https://github.com/YashikaTyagi-MSFT)
Thank you for that!
I can see that the changes were made.
Is it supposed to appear my user on the "Contributors" list?

[2022-11-22 15:39] rav0k commented on #101551
I thought my user would appear as a "Contributor" on that.

Best Regards,

Christian Centeno
Support Engineer
Cloud Identity POD Support
Working hours: Mon-Fri 08h-17h GMT+1
+351 21 060 5517
Microsoft Portugal, Parque das Nações
Alternate Contacts if I am unavailable
Team Manager | Susana Rodrigues ( ***@***.******@***.***> )
To contact the next available engineer
during my non-working hours: ***@

[2022-11-22 15:41] artisticcheese opened #101815 "Sample is wrong"
1. Correct certificate for single server is located here (https://learn.microsoft.com/en-us/azure/mysql/single-server/how-to-configure-ssl#step-1-obtain-ssl-certificate), the one which is used in the code is for Flexible server while this documentation for single server. Certificate authority is `Baltimore CyberTrust`
2. Sample code which is being used specifies variables in first part of the scri

[2022-11-22 16:04] MonikaReddy-MSFT commented on #101806
@kudu-star  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can review and update accordingly.

[2022-11-22 16:08] YashikaTyagi-MSFT commented on #101795
@xenon8
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-22 16:15] MonikaReddy-MSFT commented on #101734
@SurajSPujari - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-11-22 16:15] #101734 closed

[2022-11-22 16:21] OWinfreyATL commented on #101392
@brolifen that is a good question, and I should have an answer for you next week about licenses required for compliance.

[2022-11-22 16:46] #99923 closed

[2022-11-22 16:47] #78005 closed

[2022-11-22 16:55] vohuythao commented on #36581
Hello @hansenms

In my case, got 403 Forbidden Authorization failed
I use FHIR Proxy and Azure API for FHIR, I have added
- Service principal has FHIR Data Contributor in Azure API for FHIR
- My Azure AD account has FHIR Data Contributor in Azure API for FHIR

I use https://jwt.ms/ to get the oid, it is my Azure AD account, but the iss is strange
![image](https://user-images.githubusercontent.com/

[2022-11-22 17:07] RyanHill-MSFT commented on #101084
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2022-11-22 17:07] #101084 closed

[2022-11-22 17:11] PatAltimore commented on #99305
Hi @omki12 ,

I'm not that familiar with VS extensions. I work in documentation. This issue was assigned to me as doc feedback. Since this is outside my expertise, my guidance in this issue is my best guess. I think you would need to have access to the extension source code to add an additional module to the extension. The extension source code isn't public. Note that the IoT Edge VS extension is

[2022-11-22 17:22] pejuborg opened #101816 "Error in url"
In the two wget commands, the url's contain a space after "Azure-" "https://raw.githubusercontent.com/Azure/Azure- Sentinel/master/"

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f2e85c61-71f5-e722-0e97-c6181d0e7ad8
* Version Independent ID: 28aef1ff-5669-7ac6-e766-b1843084b351
* Content: [Stream CEF logs to Microsof

[2022-11-22 17:30] mattchenderson commented on #66490
The original comment makes a ton of sense - we can add some content that discloses this limitation up front.

The behavior is meant to prevent disclosures where RBAC permissions allow reading app settings but not publishing. The experience impact is indeed frustrating, but there are two main workarounds:
 - Navigate to the App Insights instance and use the tools from there. Only the Functions port

[2022-11-22 17:57] PaulCornellDB commented on #101546
The corrected code examples should be (assuming the secret string is "a1!b2@c3#":

Python:

[code]

R:

[code]

Scala:

[code]

Any attempts to convert and print the bytes as a string from within the notebook will output the string "[REDACTED]". I will update the docs accordingly.

#please-close

[2022-11-22 17:57] #101546 closed

[2022-11-22 18:10] BryanTrach-MSFT commented on #101460
We would like to work closer with you on this via email to better understand what is occuring.

Can you please reach out to us via email at azcommunity@microsoft.com with the subject as ATTN: Bryan and in the body of the email include your Azure subscription ID.

We look forward to your reply.

[2022-11-22 18:10] #101460 closed

[2022-11-22 18:30] Jassingh819 commented on #91892
Multiple connection types are not supported in this file. You can import multiple integration modules to create multiple connection types. - https://github.com/MicrosoftDocs/azure-docs/pull/101817

[2022-11-22 19:18] GudlaPreethi opened #101821 "To Add special Note about the upcoming change of Authenticator App on Apple Watch"
[Enter feedback here]
Note to be added as below:
On January 17, 2023, the Apple Watch companion app will be removed from the iOS version of the Microsoft Authenticator application due to it being incompatible with Authenticator security features. This means Apple Watch users will no longer be able to install or use Authenticator on Apple Watch.

Microsoft recommends users delete the Authenticator

[2022-11-22 19:29] laujan commented on #100733
#pleaase-close

[2022-11-22 19:31] #100733 closed

[2022-11-22 20:17] MGoedtel commented on #101778
@alexxiongxiong - I've confirmed the statement is outdated and should be removed from the article. I'm going to create a work item now and get that updated before end of this week. Thanks for bringing this to our attention.  #please-close

[2022-11-22 20:17] #101778 closed

[2022-11-22 20:40] AjayKumar-MSFT commented on #101622
dluc, we'd been discussing on this internally.
Our content team is working on an update to the docs that will be a better destination for the “Other” option. Thanks for bringing this up.

[2022-11-22 20:47] uoutubeb opened #101825 "You're not eligible for an Azure free account"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-11-22 20:47] jenniehubbardDB commented on #64968
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-22 20:55] jenniehubbardDB commented on #80037
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-22 20:59] moshezvi opened #101826 "Where is the REST API"
Documentation is great, but doesn't help at all when it comes to actually automating deployments.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ab637373-71e0-ef91-db1b-2f9d4141a93c
* Version Independent ID: fa643994-52c8-0c94-4438-05ad4b17e9d7
* Content: [Manage Apache Spark configuration - Azure Synapse Analytics](h

[2022-11-22 21:06] Tyler-V opened #101827 "How can we create custom variables on Shared Dashboards for filtering our KQL queries?"
I have searched far and wide for this answer, hoping someone can help explain whether this is a possibility or not

I have created a detailed issue here,

https://stackoverflow.com/questions/74525718/using-filtering-in-shared-dashboard-with-kql/74530509#74530509

This appears to be related an unanswered as well,

https://stackoverflow.com/questions/72945799/filters-in-azure-dashboards

Can anyone

[2022-11-22 21:12] khdownie commented on #101557
Article text has been updated to clarify this. Still waiting on the diagram however.

[2022-11-22 21:14] jamesdplee commented on #101557
Just saw this yesterday actually when working through the options again - was perfect. Thank you.

[2022-11-22 21:17] Tyler-V opened #101828 "How can we create custom variables on Shared Dashboards for filtering our KQL queries?"
I have searched far and wide for this answer, hoping someone can help explain whether this is a possibility or not

I have created a detailed issue here,

https://stackoverflow.com/questions/74525718/using-filtering-in-shared-dashboard-with-kql/74530509#74530509

This appears to be related an unanswered as well,

https://stackoverflow.com/questions/72945799/filters-in-azure-dashboards

Can anyone

[2022-11-22 21:53] PatrickFarley commented on #100820
@IyshwaryaK Could you please share the repo?

[2022-11-22 22:13] Trevor-Davis opened #101830 "Incorrect Statement?"
[Enter feedback here]
I think this mis-represents what the tool can, Azure Migrate, last I checked, cannot migrate on-prem VMs to Azure VMware Solution.
 Yes, it can assess VMs, but not actually do the migration.  Please can you verify this statement and correct as needed.

_Servers, databases and web apps: Assess on-premises servers including web apps and SQL Server instances and migrate them to

[2022-11-22 22:27] nkrebsbach opened #101831 "Must detach data disk if resize exceeds 4TB"
Near excerpt:   If a disk is 4 TiB or less, you can't expand it beyond 4 TiB without deallocating the VM. If a disk is already greater than 4 TiB, you can expand it without deallocating the VM._

Add:
- you also need to detach the disk.
![image](https://user-images.githubusercontent.com/116596706/203433843-a33d279d-c760-4eb7-9633-24339bb6212a.png)

---
#### Document Details

⚠ *Do not edit this se

[2022-11-22 22:29] nkrebsbach commented on #101831
I double checked - and with disk caching disabled - I get the same error.

[2022-11-22 22:29] jenniehubbardDB commented on #59688
Thanks for your dedication to our documentation. Unfortunately, we have been unable to address your issue and apologize for the delayed response. We are closing this issue, but if you feel that it's still a concern, please let us know directly at [doc-feedback@databricks.com](mailto:doc-feedback@databricks.com).

#please-close

[2022-11-22 22:30] #101733 closed

[2022-11-22 23:43] gmason1491 opened #101834 "Add the cluster core IP address for the Windows Server Failover Cluster (WSFC)"
Under the section Add the cluster core IP address for the Windows Server Failover Cluster (WSFC), this uses the port 58888 for the health probe and then uses the same port for the front end and backend.  There is nothing that uses port 58888 related to the cluster network name.  If customer wants to use RDP, then they should use port 3389 for the front end and back end port, or if they want to use

[2022-11-22 23:49] altrivis commented on #101751
@YashikaTyagi-MSFT this is not exactly a duplicate, the comment is the same, but it is on a different page within the Orbital hierarchy on MS Docs. Can we get this reopened and assigned to the page owners? (By the way, I'm on the team that owns this service. Trying to keep track of documentation issues for the team to address.)

[2022-11-22 23:51] shlipsey3 commented on #82006
Hello,
I am working on an update to the documentation that will end up retiring the article in question. We'll redirect to and reference the following article, where appropriate:
https://learn.microsoft.com/en-us/azure/azure-monitor/visualize/workbooks-view-designer-conversion-overview

Thanks for bringing this to our attention. If there's anything else you need, please let me know. Otherwise I'll

[2022-11-22 23:52] shlipsey3 commented on #73774
Hello,
I am working on an update to the documentation that will end up retiring the article in question. We'll redirect to and reference the following article, where appropriate:
https://learn.microsoft.com/en-us/azure/azure-monitor/visualize/workbooks-view-designer-conversion-overview

Thanks for bringing this to our attention. If there's anything else you need, please let me know. Otherwise I'll

[2022-11-22 23:52] shlipsey3 commented on #70845
Hello,
I am working on an update to the documentation that will end up retiring the article in question. We'll redirect to and reference the following article, where appropriate:
https://learn.microsoft.com/en-us/azure/azure-monitor/visualize/workbooks-view-designer-conversion-overview

Thanks for bringing this to our attention. If there's anything else you need, please let me know. Otherwise I'll

[2022-11-23 00:04] #73774 closed

[2022-11-23 01:52] jamesdplee opened #101835 "Route Support for Service Tags"
Hi Team,

Could you please confirm whether there are any limitations using Service Tags with User Defined Routes? I'm aware some tags aren't supported for Azure Firewall, but wasn't certain whether there are any such limitations when used with UDRs.

Thank you!
James

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0821

[2022-11-23 02:11] denny-eapen opened #101836 "The link "https://learn.microsoft.com/en-us/open-datasets/dataset-taxi-green.md?tabs=azureml-opendatasets#additional-information" to get the dataset is broken"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 8a819f2a-490b-0cdd-7d95-21139a20f4ff
* Version Independent ID: 181a621d-0e83-af7d-cb8a-7e63f3195604
* Content: [Quickstart: Get started - create a Synapse workspace - Azure Synapse Analytics](https://learn.microsoft.com/en-us/azure/synapse-analytics/

[2022-11-23 02:21] ibarrien opened #101837 "Definition of "endpoint" is circular."
An endpoint is not clearly defined on this page due to this circular statement "An endpoint is an HTTPS endpoint".
Perhaps we could try something like: "An endpoint in this context is a compute node or instance that acts as a communication device which typically functions through a programmatic interface".
If a non-circular definition is too cumbersome, another idea is to not attempt to define "en

[2022-11-23 02:22] YashikaTyagi-MSFT commented on #101751
@altrivis
Thanks for the clarification. i have reopened the case and assigned to the content author.

[2022-11-23 02:52] YashikaTyagi-MSFT commented on #101799
@lmalmeida
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-23 02:54] YashikaTyagi-MSFT commented on #101800
@sergiosolorzano
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-23 02:56] YashikaTyagi-MSFT commented on #101801
@dirkslab
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-23 02:59] YashikaTyagi-MSFT commented on #101804
@a-goo
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-23 03:00] YashikaTyagi-MSFT commented on #101809
@rav0k
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-23 03:02] YashikaTyagi-MSFT commented on #101811
@mat-liu
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-23 03:03] YashikaTyagi-MSFT commented on #101812
@sergiosolorzano
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-23 03:06] carlrabelerDB commented on #100872
https://github.com/databricks/docs/pull/8896

[2022-11-23 03:12] AaronMaxwell commented on #99774
Thank you for confirming.

We have been able to reproduce this internally and the documentation will be updated as follows in the next day or two.

- We are renaming "App Service on Linux" to "App Service on Linux - Publish as Code". Support scenarios will remain unchanged from what's currently published.
- We are adding a row for "App Service on Linux - Publish as Docker" and specifying that this

[2022-11-23 03:12] #99774 closed

[2022-11-23 03:39] YusukeTobo commented on #100209
@BryanTrach-MSFT , sorry for being late to reply to you. We could use api/wardeploy, but it's unpack the war file into site/wwwroot/webapps/ROOT. Because the place is remote storage, in very rare cases, some application could fail to read some of unpacked files there.

To overcome the problem, I believe api/publish was released. In api/publish, app.war is placed in site/wwwroot/app.war. The App Se

[2022-11-23 03:54] VikasPullagura-MSFT commented on #101834
@gmason1491
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-11-23 03:54] VikasPullagura-MSFT commented on #101834
@tarynpratt
Can you please check and add your comments on this doc update request as applicable.

[2022-11-23 04:07] v-ksreedevan commented on #98284
@pnarsi ,

This change has been updated at https://learn.microsoft.com/en-us/azure/migrate/common-questions-appliance#how-does-the-appliance-connect-to-azure.

Hence, closing this issue.

#please-close

[2022-11-23 04:07] #98284 closed

[2022-11-23 04:08] YashikaTyagi-MSFT commented on #101816
@pejuborg
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-23 04:17] SadiqhAhmed-MSFT commented on #101830
@Trevor-Davis Thank you for posting your question. Azure VMware Solution assessment can be created for VMware vSphere VMs only.

![image](https://user-images.githubusercontent.com/44458118/203468282-0524a91a-95e4-4011-a848-2f9375688287.png)

Reference links - https://learn.microsoft.com/en-us/azure/migrate/concepts-azure-vmware-solution-assessment-calculation

https://learn.microsoft.com/en-us/azu

[2022-11-23 04:45] KapilAnanth-MSFT commented on #101835
@jamesdplee , there are no such restrictions with using service tag in UDR.
They should be as good as using them with NSG, unlike Azure Firewall.

[2022-11-23 04:51] YashikaTyagi-MSFT commented on #101825
@uoutubeb
It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-11-23 04:52] YashikaTyagi-MSFT commented on #101821
@GudlaPreethi
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-23 04:59] eyoh5 opened #101839 "Please add limitation of max 2TB size of MBR partition type disk"
In case of MBR partition type, user can't expand the MBR partition volume over 2TB.
It's limitation from Windows: https://learn.microsoft.com/en-us/troubleshoot/windows-server/backup-and-storage/support-for-hard-disks-exceeding-2-tb#table-4-windows-support-for-large-capacity-disks-as-non-booting-data-volumes

Please add this limitation on this document.
---
#### Document Details

⚠ *Do not edit th

[2022-11-23 05:06] Naveenommi-MSFT commented on #101837
@ibarrien
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-23 05:08] Naveenommi-MSFT commented on #101826
@moshezvi
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-23 05:10] Naveenommi-MSFT commented on #101836
@denny-eapen

Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-23 05:10] Naveenommi-MSFT commented on #101836
@saveenr

Could you please review add comments on this, update as appropriate.

[2022-11-23 05:12] KapilAnanth-MSFT commented on #101541
@AnisioMoreira ,

I was able to get an update on this.

AFD WAF only matches custom rules with PostArgs variable types against application/x-www-form-urlencoded body types. If a multipart request contains a urlencoded part, AFD will scan that, but PostArgs is only applied to the x-www-form-urlencoded.

[2022-11-23 05:36] AshokPeddakotla-MSFT commented on #101669
@samjpv Thanks for raising this issue. PR has been created to fix the URI. This issue will be closed automatically once it has been peer reviewed and merged. Do let us know if you have any further queries.

[2022-11-23 05:45] KapilAnanth-MSFT commented on #101726
@SurajSPujari, we shall close this thread as there are no active discussions going on.
Please tag me in the thread should you require additional information

[2022-11-23 05:45] #101726 closed

[2022-11-23 05:53] AshokPeddakotla-MSFT commented on #101753
@uriel-kluk Thanks for your feedback. Your feedback is important to us. Since this is not a major change, I ask author and SME of this doc @dominicbetts for further review and update the doc if needed.

Alternatively, you can create a feedback item here: https://feedback.azure.com/d365community/forum/fcb810f7-f824-ec11-b6e6-000d3a4f0da0

[2022-11-23 05:55] Naveenommi-MSFT commented on #101827
@Tyler-V
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-23 06:00] Naveenommi-MSFT commented on #101828
Duplicate of #101827

[2022-11-23 06:00] #101828 closed

[2022-11-23 06:03] Naveenommi-MSFT commented on #101831
@nkrebsbach
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-23 06:06] Naveenommi-MSFT commented on #101839
@eyoh5
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-23 06:08] #101669 closed

[2022-11-23 06:42] ManoharLakkoju-MSFT commented on #101725
@MyTestingAccountThatIUse
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-11-23 06:43] ManoharLakkoju-MSFT commented on #101725
@rolyon
Can you please check and add your comments on this doc update request as applicable.

[2022-11-23 06:47] SaibabaBalapur-MSFT commented on #101748
@den4md
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-11-23 06:47] SaibabaBalapur-MSFT commented on #101748
@MGoedtel
Can you please check and add your comments on this doc update request as applicable.

[2022-11-23 06:56] ManoharLakkoju-MSFT commented on #101804
@a-goo
we are closing this ticket as duplicate you can follow the update below thread and our technical team working on the same.
https://github.com/MicrosoftDocs/azure-docs/issues/101598
Duplicate of #101598

[2022-11-23 06:56] #101804 closed

[2022-11-23 06:59] dirkslab opened #101841 "Storage Primary region down - DR Planning - Additional considerations"
Please can we have more information or link to regarding what happens when primary region goes down with GRS enabled.
What happens with assigned permission roles, do they get replicated, can they be adjusted as management operations will be down in primary. Any special considerations when using managed identity for storage access?
What happens with networking/firewall setup, do they get replicated

[2022-11-23 07:40] dirkslab opened #101842 "Managed Identity when primary region is down."
Please advise: In a DR scenario when primary region is down. User Assigned Managed Identity management plane would be unavailable.
Would the following CLI command still work?
az webapp identity assign --resource-group <group-name> --name <app-name> --identities <identity-name>
Does the az call get the required identity info from AD and add to the app service, or will it try and get detail from the

[2022-11-23 07:43] ichibanbrew commented on #101296
Any update on this?

[2022-11-23 07:45] sergiosolorzano opened #101843 "ServiceBusTrigger not in namespace can't be found"
Your example below,ServiceBusTrigger not in namespace can't be found. I did install nuget suggested packages. On VS2022
 using Microsoft.Azure.ServiceBus;
using System.Threading;

namespace ServiceBusCancellationToken
{
    public static class servicebus
    {
        [FunctionName("servicebus")]
        public static void Run([ServiceBusTrigger

[Enter feedback here]

---
#### Document Details

⚠

[2022-11-23 07:48] sergiosolorzano opened #101844 "ServiceBusTrigger namespace not found"
Example below ServiceBusTrigger namespace not found. I installed nuget using Azure.Messaging.ServiceBus;
Please provide what libraries to use in your examples. And this one doesn't work on VS2022

[FunctionName("ServiceBusQueueTriggerCSharp")]
public static void Run(
    [ServiceBusTrigger("myqueue", Connection = "ServiceBusConnection")]
    string myQueueItem,
    Int32 deliveryCount,
    DateTim

[2022-11-23 08:03] kurtkluth commented on #101283
@Oury-MSFT on the page referenced there is a Full Script that is, provided that flat out does not work as I have already indicated.

Simply scroll down on page to Full script copy and paste into PowerShell ISE edit the $SubscriptionId with your ID and hit run something that 14 people who have contributed to the article have not done.

Just now going back and looking I am certian that "Create a res

[2022-11-23 08:09] dazfuller commented on #59688
I think gradual documentation updates over the 2 years that this issue has been open has meant that the docs are in a better shape and cover more information than was there previously. Happy for this to be closed

[2022-11-23 08:09] #59688 closed

[2022-11-23 08:38] baaaaif commented on #101572
The current documentation only shows how to do a configuration for the "old" UWP apps where you have to specify the package SID.
The UWP successor apps that are created with the WindowsAppSDK now also support push via WNS, but not with the package SID and the PartnerCenter, but with the AAD app registration.

"Push notifications in Windows App SDK use identities from Azure Active Directory (AAD).

[2022-11-23 08:46] namkedia commented on #88510
@astaykov , can you help me understand if you still see this behavior?

[2022-11-23 09:03] lightupdifire opened #101846 "User registration"
Hello,

I try to check if it is possible to set up a full Passwordless combination in a way that the user doesn't know the password and cannot reset it, is it supported?

1. Used Temporary Access Password that expires after use
2. Because of step 1, the user doesn't know the password
3. Using TAP from step 1, the user can register Microsoft Authenticator, FIDO key
4. But if the user clicks on "Ena

[2022-11-23 09:39] v-hgampala commented on #101221
Can you please share your PR here?

[2022-11-23 10:07] dazfuller commented on #81178
@himanshusinha-msft has there been any movement on this at all?

[2022-11-23 10:14] 1Jesper1 opened #101849 "Add `services.AddRequiredScopeAuthorization();` to make the `RequiredScope` attribute work for .NET Core"
Add `services.AddRequiredScopeAuthorization();` to make the `RequiredScope` attribute work. [https://stackoverflow.com/a/71686804/2908623](https://stackoverflow.com/a/71686804/2908623)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 14524e2e-a5c6-ef53-0643-879b63b6a9f4
* Version Independent ID: 5b3eb1d5-300e-6e03-9e3d-

[2022-11-23 10:42] #90973 closed

[2022-11-23 10:57] newSebastienTHOMAS opened #101850 "az k8s-extension create always prompts user a question for Microsoft.Dapr Extension."
When using az cli command "az k8s-extension create --extension-type Microsoft.Dapr", there is always a prompted question that fails when executed by Devops Agent.

![image](https://user-images.githubusercontent.com/75215554/203529195-81421c0b-25ab-4355-8d17-cfad3de42286.png)

If the command is launched on azure devops agent, the command will fail with a message raise NoTTYException()
![image](http

[2022-11-23 11:11] dirkslab opened #101851 "RBAC Scope inheritance"
Please advise if there are any limitation regarding inheriting roles from higher level scope.
Example: storage blob contributor set at resource group level vs set at resource level.

Is there any scenario or resource where inheritance would not work or cause an issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: cab

[2022-11-23 11:16] Lesrac opened #101852 "More information regarding logging required"
There is a short chapter about [logging](https://learn.microsoft.com/en-us/azure/azure-functions/functions-host-json#logging) on the page. But I'm missing information or related links about what is really possible there and what are outcomes when modifying/changing something.

For example: I've written some Azure Function with Spring Cloud. And that application connects with a Service Bus and a Bl

[2022-11-23 11:22] adminAsks commented on #95751
Hello,
another user reported the problem with wildly different specifications as follows:

- Brand: iPhone
- Model: 13 Pro
- iOS Version: 16.1.1
- Browser: Safari
- Browser version: not specified, most likely newest 16.1

Just an update to show how widespread the issue really is and is affecting multiple environments, so QA can widen its testing.
Thank you.

[2022-11-23 11:33] YashikaTyagi-MSFT commented on #101844
@sergiosolorzano
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-11-23 11:36] YashikaTyagi-MSFT commented on #101843
@sergiosolorzano
Duplicate case as #101844   we will be providing update on this case.

[2022-11-23 11:40] YashikaTyagi-MSFT commented on #101846
@lightupdifire
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-23 11:43] YashikaTyagi-MSFT commented on #101841
@dirkslab
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-23 11:43] sarmaria opened #101855 "Expected More"
I couldn't start my functions app from my local.  I installed function core which is not mentioned in this page. Still Im facing problem because it couldnt resolve my java home.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ca90dae1-a7bb-b8f5-3a23-75f4ff9c4137
* Version Independent ID: aec1302d-df09-ef04-6d31-2b1cb63

[2022-11-23 11:44] YashikaTyagi-MSFT commented on #101849
@1Jesper1
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-23 11:52] VDRobert commented on #95950
I can also verify this issue... and therefore stopppd in migrating our functions to dotnet-isolated.
Any ETA would be much appreciated

[2022-11-23 12:11] guywi-ms commented on #77234
#reassign: @Lukeout

[2022-11-23 12:12] guywi-ms commented on #77234
@Lukeout please update the document.

[2022-11-23 12:13] jd1984 opened #101856 "Organizations may choose to require other grant controls with or in place of Require multifactor authentication at step 6b"
Hello,

"Organizations may choose to require other grant controls with or in place of Require multifactor authentication at step 6b"

This should say 7a

7.Under Access controls > Grant.
a. Select Grant access, Require multifactor authentication.
b. Select Select.

We are also experiencing issues when selecting other grant controls such as 'Require Hybrid Azure AD joined device' without 'Require m

[2022-11-23 12:13] guywi-ms commented on #79634
#reassign: @Lukeout

[2022-11-23 12:24] guywi-ms commented on #90315
@JeffreyWolford would you be able to help with this?

[2022-11-23 12:26] guywi-ms commented on #99325
@JeffreyWolford is the list of supported regions above up to date?

[2022-11-23 12:33] Naveenommi-MSFT commented on #101759
@VitalyMCT

Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-23 12:33] Naveenommi-MSFT commented on #101759
@ruixinxu

Could you please review add comments on this, update as appropriate.

[2022-11-23 12:56] newSebastienTHOMAS commented on #101850
Hi, I am using this documentation for az k8s-extension
https://learn.microsoft.com/en-us/cli/azure/k8s-extension?view=azure-cli-latest#az-k8s-extension-create

And this documentation for specific dapr extension install
https://learn.microsoft.com/en-us/azure/aks/cluster-extensions

[2022-11-23 13:17] terafirma92 opened #101859 "azcopy - azcopy list does"
This is the command that was run
[code]

You as the microsoft team have an incredibly poor documentation format

i.e what does this mean?

[code]

Nowhere here does this specify anything that actually matches up with that error, what is my resoluation how do I get information.

For clarity this is the output of the actual command help
[code]

This does not, as the above, provide ANY information to

[2022-11-23 13:24] cilwerner commented on #101683
The correct link exists in the document and it is working as intended. The following instruction

directs the user towards the screenshot mentioned above, where Azure Active Directory is clearly visible.

Unless there are any additional comments or questions, I will close the issue by the end of the week.

[2022-11-23 13:27] GitaraniSharma-MSFT commented on #101795
@xenon8 , We have assigned this to the content owner/author for review.

@johndowns , could you please review the suggestion and provide your inputs?

[2022-11-23 13:42] chengyuliu-msft commented on #98831
Hi @travis-leith,
I am also crossing this. I also built container image first and deployed into a web service. The reason for building container images is that Azure App Service does't not support R. On the other hand, Python is one of the supported [languages](https://learn.microsoft.com/en-us/azure/app-service/overview). In case you use any of supported languages, you can deploy to a webservice

[2022-11-23 13:43] SUNNUWORKS opened #101860 "Missing Azure Databricks Linked Service Properties"
As per the ADF UI, I can see that Data bricks supports Integration Runtime property too, but it is not mentioned anywhere here or in detail configurations if SHIR is being used, what authentication or firewall needs to be setup on ADF or on databricks.
<img width="467" alt="image" src="https://user-images.githubusercontent.com/20816905/203561660-9683a750-c693-49b5-9459-bee19c851085.png">

---
####

[2022-11-23 13:54] hmenchaca commented on #100809
Hello MS team! - is there any update on this?? thanks a lot!

[2022-11-23 14:27] MGoedtel commented on #100714
@jyama4ta - The only supported method to resize the OS disk is to create a new node pool with the resized disk(s). I'm going to bug the article and correct the note before the end of this week. I'm going to proceed with closing this issue. Feel free to share your feedback with the product group using [Microsoft Feedback](https://feedbackportal.microsoft.com/feedback). #please-close