[2021-07-05 17:48] SatishBoddu-MSFT commented on #77895
Hello @vurhanau Thanks for the feedback!
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-07-05 17:49] SatishBoddu-MSFT commented on #77896
Hello @sommerfn Thanks for the feedback!

I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-07-05 17:51] SatishBoddu-MSFT commented on #77897
Hello @vurhanau Thanks for the feedback on the document!

Our SME will respond to this issue soon.

[2021-07-05 17:57] SatishBoddu-MSFT commented on #77898
Hello @rpilot Thanks for the catch! we will fix it!

[2021-07-05 18:00] SatishBoddu-MSFT commented on #77898
Hello @msmbaldwin Could you please review & merge the PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/164574

[2021-07-05 18:04] SatishBoddu-MSFT commented on #77900
Hello @AlexCesarini
I have assigned the issue to the content author for further review.

[2021-07-05 18:09] jmprieur commented on #77899
#please-close

[2021-07-05 18:40] haalkaz opened #77906 "Create Load Balancer interface"
Hi,

The current interface and tabs are different than what is shown in this doc page: (https://docs.microsoft.com/en-us/azure/load-balancer/manage):
![image](https://user-images.githubusercontent.com/85655443/124508942-83bd8280-dd96-11eb-8c92-6c2b554d8f26.png)

These are the current tabs:
![image](https://user-images.githubusercontent.com/85655443/124508911-70aab280-dd96-11eb-99a5-87005869fbf4.pn

[2021-07-05 18:59] mcox13579 opened #77907 "The information provided is incomplete. For me the JSON returned is "tenant_region_scope":"NA""
The information provided is incomplete. For my Government Client, the value of "tenant_region_scope" returned is "NA", so the explanation in this page is not helpful in determining if B2B is supported or not.  The full JSON returned in my case is shown below:

{"token_endpoint":"https://login.microsoftonline.com/50a0089c-01a8-4e19-b730-6e382aa884a4/oauth2/v2.0/token","token_endpoint_auth_methods_s

[2021-07-05 19:00] #77826 closed

[2021-07-05 19:15] rbgigo opened #77908 "How to correlated ContainerID_s with actual container"
We forward the ACI logs to Log Analytics. There is this column ContainerID_S which is described as follows : "A unique identifier for the container associated with the record". I wonder how this ID can be linked to a a specific container in the container group. I tried to connect to the container to find any traces of it but was unsuccessful, hence I assume this information comes from the underlyi

[2021-07-05 19:22] rlabinot opened #77909 "Incorrect address space for NAT VPN Gateway ?"
Hello,

I was looking for a solution with the overlapping IPs and I saw this schema on this page with this example of NAT for Azure VPN Gateway :
https://docs.microsoft.com/en-us/azure/vpn-gateway/media/nat-overview/vpn-nat.png#lightbox

The example takes the address space 100.0.1.X/24, 100.0.2.X/24 and 100.0.3.X/24 for the branches but actually this might lead to a problem :

- If you take that r

[2021-07-05 20:38] javiersoriano opened #77910 "AzureActivity query no longer works"
The query shown in define query logic section doesn't work anymore due to schema changes in AzureActivity.

New query should be:

AzureActivity
| where OperationNameValue == "Create or Update Virtual Machine" or OperationNameValue =="Create Deployment"
| where ActivityStatusValue == "Succeeded"
| make-series dcount(ResourceId)  default=0 on EventSubmissionTimestamp in range(ago(7d), now(), 1d) by

[2021-07-05 20:55] DJango316 commented on #49245
Have enabled websockets under Configuration but also experiencing the same 503 issue with an app service running on Linux with an F1 plan.

[2021-07-05 21:02] MonikaReddy-MSFT commented on #77901
@Ipmac - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-05 21:05] MonikaReddy-MSFT commented on #77902
@lpmac  - I see that you have opened a similar issue [here](https://github.com/MicrosoftDocs/azure-docs/issues/77901). I have assigned that to a right engineer to work on it and get your issue resolved.
 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-05 21:05] #77902 closed

[2021-07-05 21:07] MonikaReddy-MSFT commented on #77903
@deangross -  Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-07-05 21:09] MonikaReddy-MSFT commented on #77904
@swimbuger-  Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-05 21:12] MonikaReddy-MSFT commented on #77905
@melazrak -  Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-07-05 21:14] MonikaReddy-MSFT commented on #77906
@haalkaz - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-07-05 21:15] MonikaReddy-MSFT commented on #77907
@mcox13579  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-07-05 21:16] MonikaReddy-MSFT commented on #77908
@rbgigo - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-05 21:17] MonikaReddy-MSFT commented on #77910
@javiersoriano -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-05 21:20] MonikaReddy-MSFT commented on #77910
@javiersoriano - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-05 21:20] #77910 closed

[2021-07-05 21:41] RomDaBoss commented on #77894
Hello I don't follow what you mean about the "MS document link"?

On Mon, Jul 5, 2021 at 12:37 PM SatishBoddu ***@***.***>
wrote:

[2021-07-05 21:55] SatishBoddu-MSFT commented on #77894
Hello, Could you please provide us the document or the tutorial which you have followed for your scenario?

Is this the document which you were referring to ? : [Quickstart: Create a Windows virtual machine in the Azure portal](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/quick-create-portal)

[2021-07-05 22:09] RomDaBoss opened #77911 "I recently decided to factory reset my virtual machine after resetting it closed my session now every time I try to boot it I get failure. Please help"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-07-05 22:22] RomDaBoss commented on #77894
It was a youtube toturial link will be down below what failed was the
Nvidia drivers extensions in the video it worked for him but it failed for
me so that need to be fixed on your end.
https://www.youtube.com/watch?v=yd9JIsfDwOM&t=423s

(Completely different situation listed down below)
So I recently decided to factory reset my virtual machine due to it being
extremely slow when trying to open bo

[2021-07-05 22:36] SatishBoddu-MSFT commented on #77894
Hello @RomDaBoss

We want to be sure, we can help you in the proper place and leverage the community as well. For that reason, I kindly ask that you post your question in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html). Please use a tag.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly

[2021-07-05 22:42] RomDaBoss commented on #77894
Wait so will I be given back my vcpus?

On Mon, Jul 5, 2021 at 5:36 PM SatishBoddu ***@***.***> wrote:

[2021-07-05 22:48] SatishBoddu-MSFT commented on #77894
Hello @RomDaBoss Sorry for the inconvenience caused. I understand your situation!
I would highly recommend you approach **Microsoft Support** by filing a support ticket from your subscription.

[2021-07-05 23:05] l3ender opened #77912 "Unsure on footnote for Java SE app logging (`WEBSITE_AZMON_PREVIEW_ENABLED`)"
The footnote under the "Supported log types" shows:

Is it supposed to be:
`$WEBSITE_AZMON_PREVIEW_ENABLED`
or
`WEBSITE_AZMON_PREVIEW_ENABLED`
?

[This blog post](https://azure.github.io/AppService/2019/11/01/App-Service-Integration-with-Azure-Monitor.html) mentions the latter, which causes me some confusion.

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2021-07-05 23:11] RomDaBoss commented on #77894
That is the problem and why twitter support sent me to github because the
ticket couldn't be made because the system doesn't allow Azure for Students
to make technical tickets.

On Mon, Jul 5, 2021 at 5:49 PM SatishBoddu ***@***.***> wrote:

[2021-07-05 23:23] SatishBoddu-MSFT commented on #77894
I understand your situation, we use Github to report issues related with **Documentation** Or **Product** issues.

For submitting Github issues, we should either have the Microsoft's Official Documentation or the Tutorial or the SDK repo under which the issues can be reported.

**Option 1:**
I highly recommend you to give us the Official Microsoft's Documentation or the Microsoft's published Tutor

[2021-07-06 02:33] zhaohy023 opened #77917 "Missing the step to configure the load balance"
[Enter feedback here]
When I finished all the steps described on the page, I still can not access the application that deployed to Azure Service Fabric. I checked the cluster, and everything was good. At last, I found I should configure the load balance(add a new rule) to expose the port 80 that did not describe on the page.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2021-07-06 02:33] SatishBoddu-MSFT commented on #77909
Hello @rlabinot Thanks for the feedback!
I have assigned the issue to the content author for further review.

[2021-07-06 02:34] #77894 closed

[2021-07-06 03:29] jdelforno opened #77920 "Table in JSON/CSV?"
If possible, can these be supplied in a JSON/CSV file? Or potentially, explain how the table is built?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 374ec8eb-64d4-3766-5c5e-39137a262ffd
* Version Independent ID: 3abeeae9-6854-651a-483c-a1673eea9f9f
* Content: [Resource naming restrictions - Azure Resource Manager](htt

[2021-07-06 03:34] AshokPeddakotla-MSFT commented on #77911
@RomDaBoss Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2021-07-06 03:40] VikasPullagura-MSFT commented on #77917
@zhaohy023
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-07-06 03:40] VikasPullagura-MSFT commented on #77917
@sukanyamsft
Can you please check and add your comments on this doc update request as applicable.

[2021-07-06 03:46] BhargaviAnnadevara-MSFT commented on #77912
@l3ender Thanks for the question. We're investigating this and will get back to you shortly.

[2021-07-06 03:47] cfcarrasco opened #77921 "Custom role update returns errors"
Hello. I cloned an existing custom role to recreate a new one with slightly restrictions using the json file. Once I had the json file I opened my Cloud shell session and ran the below command to create the new custom role.

az role definition create --role-definition json.file.json

I received the following error message

The resource provider referenced in the action is not returned in the list

[2021-07-06 04:15] mirsaeedi opened #77922 "Does ComputerVisionClient have built-in retry mechanism?"
It would be beneficial to mention if the `ComputerVisionClient` handle transient errors automatically using retry pattern. If it handles, how can the consumer customize the retry behavior? The [SDK's help page for Python ](https://docs.microsoft.com/en-us/python/api/overview/azure/cognitiveservices-vision-computervision-readme?view=azure-python)has a very brief section about handling transient err

[2021-07-06 04:42] lgayhardt commented on #76557
#please-close

[2021-07-06 05:04] dbeswick-bupa commented on #63686
Hello, I think that this issue should be reopened because the advice given doesn't help the initial poster. They have no control over the schema definitions because these are chosen by the Hive schema initialization code.

It seems that this is a bug in Hive and it also applies to the Hive schematool. During my most recent communications with MS Support, it was recommended to me that Metastores ru

[2021-07-06 05:08] dbeswick-bupa commented on #66975
Please also note that these variables are deprecated in Hive 2.3.x. For those versions, the correct variables are:

spark.hadoop.datanucleus.schema.autoCreateAll true
spark.hadoop.hive.metastore.schema.verification true

But for those trying to use MS Sql Server to back a Metastore, there are bugs that will cause metastore schema creation to fail. To solve this, see #63686.

[2021-07-06 05:12] ElazarK commented on #77027
Hi @r0nen, I apologize for the lack of response on this question. I was only notified about this question when you closed the PR. I will look in to this and try to have a response for you as soon as possible.

[2021-07-06 05:20] PramodValavala-MSFT commented on #77535
@sijucm Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-06 05:20] #77535 closed

[2021-07-06 05:22] ram-msft commented on #77922
@mirsaeedi Thanks for the feedback! We will review and update accordingly.

[2021-07-06 05:22] ShaikMaheer-MSFT commented on #77644
@ozdemir-mehmet Thanks for pointing out the issue, I've addressed this issue in PR:https://github.com/MicrosoftDocs/azure-docs-pr/pull/164584
 The changes should be live soon. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2021-07-06 05:27] PramodValavala-MSFT commented on #77586
@olveslind The `DisableAsyncPattern` has different implications when used on either end I suppose.

On the response action, if its ON, it would immediately send a 202.
On the request action (logic app action), if its ON, it would skip waiting on the 202 (which is the default).

So, for a synchronous-like behavior, it would be best to always have it enabled on the calling action. This way, even if

[2021-07-06 05:28] HarshitaSingh-MSFT commented on #77920
Hello @jdelforno , thanks for the question! We are taking a look into this and will get back to you soon.

[2021-07-06 05:29] BhargaviAnnadevara-MSFT commented on #77783
@LimingRenPA You should be going with the .NET snippet. Alternatively, I would suggest using the [Deployment Center](https://docs.microsoft.com/en-us/azure/app-service/deploy-github-actions?tabs=applevel#use-the-deployment-center) to get started with GitHub Actions quickly. This will automatically generate a workflow file based on your application stack and commit it to your GitHub repository in t

[2021-07-06 05:30] PramodValavala-MSFT commented on #77665
@sashkotarasenko Just checking in to see if you had a chance to check your `host.json`. Also, could you confirm if you are using a freshly generated project or perhaps it was an existing project, that might have had this setting missing.

[2021-07-06 05:34] cpinotossi commented on #77420
Hello @alfredogan, i just had a similar issue. Tried to assign a RBAC enabled Key vault Certificate to an Application Gateway and received the error message "this key vault doesn't allow access to the managed identity".
But there is an CLI command which can do the trick:

Command
    az network application-gateway ssl-cert create : Upload an SSL certificate.

Arguments
    --gateway-name       [Re

[2021-07-06 05:42] kroodl21 opened #77923 "Error: New-AzRoleAssignment' is not recognized as the name of a cmdlet, function, script, file, or operable program"
When I copy the code below Under 'Assign permissions with Azure RBAC'and run it on PowerShell, the error occurs that says 'New-AzRoleAssignment : The term 'New-AzRoleAssignment' is not recognized as the name of a cmdlet, function, script, file, or operable program...'

New-AzRoleAssignment -SignInName <email> `
    -RoleDefinitionName "Storage Blob Data Contributor" `
    -Scope  "/subscriptions/<

[2021-07-06 06:02] PramodValavala-MSFT commented on #77871
@olavt Thanks for the feedback! I think I agree with you, especially for someone who isn't familiar with App Service, this would indeed be confusing.

Here are answers to your questions to the best of my knowledge. @ggailey777 Please correct me if I wrong anywhere. 😄

Worker and Instances mean the same thing here.

Yes. Correct.

Nope. They are the same.

Since they are the same, its the same sett

[2021-07-06 06:04] slavizh opened #77924 "Is the schema for dynamic metric alert different from static metric alert?"
When you define metric alert rule there are different properties if the alert is static or dynamic. Does that difference also reflects the schema? From what I can see the example is for static metric alert so I wonder if it is the same for dynamic one. It is important as if you create logic app or any other automation to process the schema it might fail if there is difference.

---
#### Document D

[2021-07-06 06:21] nkumars commented on #77732
@SnehaAgrawal-MSFT, this concludes it all, thanks.

[2021-07-06 06:21] #77732 closed

[2021-07-06 06:26] YusukeTobo opened #77925 "WEBSITE_CONTENTOVERVNET appears not to be only for Premium plans."
In regard to the following doc, WEBSITE_CONTENTOVERVNET is technically for all Windows virtual network-supported SKUs in the Dedicated (App Service) plan and for Windows Elastic Premium plans.

https://docs.microsoft.com/en-us/azure/azure-functions/configure-networking-how-to#restrict-your-storage-account-to-a-virtual-network

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-07-06 06:36] prasenjitcloudgurua opened #77926 "Unable to resolve myvmprivate"
[Enter feedback here]
Unable to resolve vm name myvmprivate from both myvmpublic and myvmnva. While trying to tracert ip number, it works. Any idea why?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cc61595-d1ea-d72b-bef8-52e7b7838a14
* Version Independent ID: 6df6127e-bf72-eb63-82c2-a132a6576add
* Content: [Route ne

[2021-07-06 06:42] r0nen commented on #77027
Much appreciated!

[2021-07-06 06:55] tuxnam opened #77927 "Missing info on Linux Defender for endpoint"
The page still document: 'Integrated license for Microsoft Defender for Endpoint (Windows only) - Azure Defender for servers includes Microsoft Defender for Endpoint. Together, they provide comprehensive endpoint detection and response (EDR) capabilities. For more information, see Protect your endpoints.'
However this is also now the case for Linux.

---
#### Document Details

⚠ *Do not edit this

[2021-07-06 07:26] HarshitaSingh-MSFT commented on #77920
@jdelforno, [this](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resource-name-rules) page has **naming** rules and restrictions for Azure resources. The sub-topics are mapped according to the ARM template resource type, for example check out [Microsoft.AnalysisServices servers](https://docs.microsoft.com/en-us/azure/templates/microsoft.analysisservices/servers?tabs=json

[2021-07-06 07:45] torewillmar1969 opened #77928 "Please update"
The intune registration pictures for SurfaceHubs in Azure Monitor is not correct
Please update with correct procedure
Thanks
Tore W Jakobsen
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a15ac450-32ef-a27e-8aa4-0f728f59d8c7
* Version Independent ID: a3107b7d-b096-6974-5b0b-15e448dfc9af
* Content:

[2021-07-06 07:55] NakayamaKento opened #77929 "issue of script"
I tried the following script, but "location of the resource is required" is shown.

////////
az resource create \
    --resource-group $sigResourceGroup \
    --properties @helloImageTemplateforSIGfromWinSIG.json \
    --is-full-object \
    --resource-type Microsoft.VirtualMachineImages/imageTemplates \
    -n imageTemplateforSIGfromWinSIG01
////////

---
#### Document Details

⚠ *Do not edit thi

[2021-07-06 07:59] AndrevdG opened #77930 "Wrong validation email address for digicert"
The document refers to admin@digicert.com as the sender address for the validation e-mail. However, we have been receiving the validation emails from no-reply@digitalcertvalidation.com in stead. Considering this is not just a different mailbox but a completely different domain, this should probably be reflected in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2021-07-06 08:16] AdCCooN commented on #77113
Hello @msftradford,

In the end I have followed the tutorial from https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-asa-02 and manage to make it work. I have set the log level to all and seems to work.

[2021-07-06 08:22] IgnacioAlvarezArenas opened #77931 "Update Traffic Manager Routing Methods"
Hi there,

Traffic Manager has a few new routing methods (multivalue and subnet). In the Routing methods section it is listing only four methods, but there is a couple of new methods (multivalue and subnet) that are not included. More information: https://docs.microsoft.com/en-us/azure/traffic-manager/traffic-manager-routing-methods

Regards,
Ignacio

---
#### Document Details

⚠ *Do not edit this

[2021-07-06 08:24] beckerrobin opened #77932 "Auth2 breaks the tutorial"
Under the headline [Configure App Service to return a usable access token](https://docs.microsoft.com/en-us/azure/app-service/tutorial-auth-aad?pivots=platform-windows#configure-app-service-to-return-a-usable-access-token), in the step where you modify the configuration with
`"additionalLoginParams": ["response_type=code id_token","resource=<back-end-client-id>"],`
you receive the following error

[2021-07-06 08:41] Visinghr opened #77933 "need documentation for workrpofile"
Document doesn't talks about the Android workprofile. Can you add how the CA policy and broker behavior in Workprofile.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9257b263-b12e-4e0a-74d3-e2657567aed5
* Version Independent ID: 7fe7472b-7f0d-b7c3-3202-c31cef3c2673
* Content: [How to enable cross-app SSO on Android us

[2021-07-06 08:56] rajeevac opened #77934 "Need to update security guidance for managing Connection Strings"
In 2021, the best way to manage connection strings (and secrets) for Cloud resources, is *not* configuration files, but a secure key storage tech like Azure Key Vault or equivalent. We should change this recommendation of storing secrets in plain text files such as app.configs.

_"The best way to maintain your storage connection string is in a configuration file. To configure your connection strin

[2021-07-06 08:56] SnehaAgrawal-MSFT commented on #77932
@beckerrobin Thank you for your feedback! We will review and update as appropriate.

[2021-07-06 09:15] VikasPullagura-MSFT commented on #77908
@rbgigo This is the Container ID for log source as seen by Docker engine, please check this [document](https://docs.microsoft.com/en-us/azure/azure-monitor/reference/tables/containerlog). More information on docker container ID [here](https://docs.docker.com/language/nodejs/run-containers/).

Yes, this ID is available to the container runtime on the underlying infrastructure and is abstracted for

[2021-07-06 09:26] solmon commented on #73310
For me this seems to have worked along with following configuration. I didn't have helm chart uninstallation problems.

        --set controller.scope.enabled=true \
        --set rbac.scope=true \
        --set controller.scope.namespace="$CLS_NAMESPACE" \

[2021-07-06 09:38] VikasPullagura-MSFT commented on #77733
@saptarshibasu
Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.
I could not reproduce the issue at my end.

This issue needs deeper investigation. Support team will be able to check and help on this. I would recommend you to open a azure support case.

If you don't have the ability to open a technical support ticket, please let me know so that I

[2021-07-06 09:45] ElazarK commented on #77027
@r0nen You are correct and that is the wrong place to contact for assistance. You should contact support.microsoft.com who will be happy to help you with the best practices to receive the SDK.

I am making a correction to the document and it has been submitted to be published to reflect this fact.

Thank you for bringing it to our attention.

[2021-07-06 09:48] amitdixit opened #77936 "Please update the sample source code."
[Enter feedback here]

This code sample still uses deprecated SDK's kindly update it.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d35e3d8-a644-dfb6-a16a-93679276c079
* Version Independent ID: 8c6bcc7c-4428-be5b-2221-0c0302cdd281
* Content: [Tutorial - Run a parallel workload using the .NET API - Azure Batch](https:/

[2021-07-06 10:01] SwathiDhanwada-MSFT commented on #77437
@JFolberth Thanks for sharing repository details. Yes, the repository is still active. You can submit PR's to this repository.

As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-07-06 10:01] #77437 closed

[2021-07-06 10:04] vykhand opened #77937 "Please update this page - Object detection models (compact) also support export"
see subj.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 916de6f5-ef41-c82b-5918-0c6149326aab
* Version Independent ID: c7a4bb67-957d-f0a3-4a9f-e71035923f58
* Content: [Export your model to mobile - Custom Vision Service - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision

[2021-07-06 10:17] SrijitBose-MSFT commented on #77731
@matzter is there any update on this?

[2021-07-06 10:23] hanslai opened #77938 "not able to fine the User Attributes & Claims section"
I am trying to add the EmployeeId claim to Azure AD's Id Token & Access Token, Yet in the document

_To view or edit the claims issued in the SAML token to the application, open the application in Azure portal. Then open the `User Attributes & Claims` section._

I am not able to fine the `User Attributes & Claims` section under the Application or my tenant's AD in Azure Portal.

Is it because I am

[2021-07-06 10:24] BhargaviAnnadevara-MSFT commented on #77791
@LimingRenPA AFAIK, the GitHub Action [azure/webapps-deploy@v2](https://github.com/Azure/webapps-deploy) performs package deployment using the ZIP Deploy method. It looks for your site's kudu URL (`publishUrl`) within the configured Publish profile credentials that's in this format: `<app-name>.scm.azurewebsites.net`.

So, this should have you covered for the Web and Zip deploy methods. However, i

[2021-07-06 10:34] saptarshibasu commented on #77733
@VikasPullagura-MSFT Thank you for your response. However, I'm not on a support plan.

[2021-07-06 10:37] marki555 commented on #77737
Just tested and TTS doesn't work for me, only STT.

[2021-07-06 10:44] BhargaviAnnadevara-MSFT commented on #77912
@l3ender Thanks for bringing this to our attention. I believe `WEBSITE_AZMON_PREVIEW_ENABLED` is the right app setting name. I have submitted a PR to fix the issue that's in review.

[2021-07-06 10:47] vladimir-zorin opened #77940 "Azure Queue Storage"
What about Azure Queue Storage? When should it be used?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08e12671-466a-8807-63bb-fb1923554d60
* Version Independent ID: 88dcdcb5-e611-134d-5c2e-66c657416445
* Content: [Compare Azure messaging services - Azure Event Grid](https://docs.microsoft.com/en-us/azure/event-grid/co

[2021-07-06 10:55] DJango316 commented on #49245
I have also ended up going for the B2 plan which works fine.

[2021-07-06 10:57] SubhashVasarapu-MSFT commented on #77926
@prasenjitcloudgurua , Thanks for reaching out. We will investigate and update this thread.

[2021-07-06 11:05] lanicolas opened #77941 "ARM template deployment returns error"
I followed the quickstart and even used the "Deploy to Azure" button, provided all of the parameters and the automation will not go through either manually or via the portal. I get this error for 3 different resources:

{
    "status": "Failed",
    "error": {
        "code": "BadRequest",
        "message": "{\"Message\":\"Invalid argument specified. Argument content cannot be null.\"}"
    }
}

[2021-07-06 11:06] AjayKumar-MSFT commented on #77931
@IgnacioAlvarezArenas, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-07-06 11:20] psmanhas commented on #77929
@NakayamaKento Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-07-06 11:20] psmanhas commented on #77936
@amitdixit Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-07-06 11:21] psmanhas commented on #77936
@JnHs Can you please check and add your comments on this doc update request as applicable

[2021-07-06 11:33] cveld commented on #77728
We would like to know when the container can be removed so we can plan accordingly.

[2021-07-06 11:34] SubhashVasarapu-MSFT commented on #77930
@AndrevdG , Thanks for reaching out. We will investigate and update this thread.

[2021-07-06 11:37] SubhashVasarapu-MSFT commented on #77921
@cfcarrasco , could you please share the document you were referring to here for further insights?

[2021-07-06 11:39] PramodValavala-MSFT commented on #77655
@supachris28 Visual Studio uses `func` to [run the function app locally](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=windows%2Ccsharp%2Cbash#start) and the same arguments hold true. The default argument is just `start`, so you can set the same along with the required port under the debug configuration.

![image](https://user-images.githubusercontent.com/43602528

[2021-07-06 11:39] #77655 closed

[2021-07-06 11:52] amanjeetsingh opened #77942 "Clarification / update (?) - Container registry scan for ACR with private link enabled?"
Can you please clarify if this statement is true for scenarios where "Allow trusted MSFT services to access this container registry" has been enabled? If not, should we add it to the document?

![image](https://user-images.githubusercontent.com/7122931/124594988-c91ba600-dea3-11eb-974c-dd3344be4046.png)

![image](https://user-images.githubusercontent.com/7122931/124595399-50691980-dea4-11eb-9b5b-9

[2021-07-06 11:55] gargankurg commented on #24491
I am getting this error even today as well. Is there anything else I need to do? I a using blob storage to ingest my json file into Cognitive search

[2021-07-06 12:01] v-anvari opened #77943 "Contributor can delete Function App"
This is related to an issue submitted in Functions repo.

As the documentation states here https://docs.microsoft.com/en-us/azure/azure-functions/security-concepts#user-management-permissions only the Owner role should be able to delete a Function App.

![image](https://user-images.githubusercontent.com/66122429/124595985-5567a200-de7f-11eb-8216-f86eef254ef0.png)

But, A contributor should be able

[2021-07-06 12:07] beckerrobin commented on #77932
By following a few steps from [this guide](https://docs.microsoft.com/sv-se/azure/app-service/scenario-secure-app-access-microsoft-graph-as-user?tabs=azure-resource-explorer%2Ccommand-line#configure-app-service-to-return-a-usable-access-token) it seems to work.
By following the steps under the headlines _Configure App Service to return a usable access token_ and _Update the issuer URL_, it now wor

[2021-07-06 12:21] olaplassen commented on #77019
I have followed the two guides for testing Creator to create indoor maps.
https://docs.microsoft.com/en-us/azure/azure-maps/tutorial-creator-indoor-maps
https://docs.microsoft.com/en-us/azure/azure-maps/how-to-use-indoor-module#embed-the-indoor-maps-module

I followed the guides withour errors but problems occurs when i launch my web application.
It looks like the request from the imported scripts

[2021-07-06 12:21] lanicolas commented on #77941
Also, the template has this reference:

"_artifactsLocation": {
            "type": "string",
            "defaultValue": "[deployment().properties.templateLink.uri]",

That when run as is you get: {"error":{"code":"InvalidTemplate","message":"Deployment template validation failed: 'The template resource '_artifactsLocation' at line '78' and column '31' is not valid: The language expression proper

[2021-07-06 12:29] cfcarrasco commented on #77921
[Analytics-Contributor.txt](https://github.com/MicrosoftDocs/azure-docs/files/6770006/Analytics-Contributor.txt)

Hello Subhash,

I attached a txt copy of the custom roles json file.

Thank you

[2021-07-06 12:30] sugi-a opened #77944 "Is Japanese acoustic model adaptation supported? (It was once "Yes" in the doc but was deleted in Feb 11)"
Looking at the change below (line 81), I'm wondering why the statement about the Japanese acoustic model adaptation support was deleted.
[https://github.com/MicrosoftDocs/azure-docs/commit/4f27db08de3358c85e8e92cbf3bdfcc61c6ee357#diff-c7a7ddff987db1e139b2da380966527feac9fc7c34eda650b7be402e47ea7dddL81](https://github.com/MicrosoftDocs/azure-docs/commit/4f27db08de3358c85e8e92cbf3bdfcc61c6ee357#diff

[2021-07-06 12:32] spelluru commented on #77940
Please see this article in the same TOC:
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-azure-and-service-bus-queues-compared-contrasted

Thanks

[2021-07-06 12:35] shikha1970 opened #77945 "Documentation needs to be corrected"
[Enter feedback here]
data = np.array(data)
result = model.predict(data)
inputs_dc.collect(data) #this call is saving our input data into Azure Blob
prediction_dc.collect(result) #this call is saving our input data into Azure Blob

Second comment needs correction

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ec57fee-

[2021-07-06 12:50] tfitzmac commented on #77816
Those deletions would be handled at different rates, so there is no dependable order. The only predictable order is for resources that are dependent on other resources, which is covered by the first two points.
#please-close

[2021-07-06 13:02] PieterD01 opened #77946 "test"
test

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53dd65b1-6f9d-9431-5850-9cee636aeabd
* Version Independent ID: 0012e819-bb2b-2955-d87b-d6f145fb6af7
* Content: [Overview - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/overview)
* Content Source: [articles/app-service/overview.md](https://gith

[2021-07-06 13:02] #77946 closed

[2021-07-06 13:17] RomDaBoss commented on #77911
I genuinely didn't understand a word you just said I am fairly new to
github.

On Mon, Jul 5, 2021 at 10:34 PM AshokPeddakotla-MSFT <
***@***.***> wrote:

[2021-07-06 13:20] RomDaBoss commented on #77911
I didn't use any document I just factory reset the pc by going to settings
in the operating system which now I can no longer boot my virtual machine.

On Mon, Jul 5, 2021 at 10:34 PM AshokPeddakotla-MSFT <
***@***.***> wrote:

[2021-07-06 13:46] dombarnes commented on #53360
Definitely not fixed.
Just trying to deploy a Sinatra-based app, not really any different from Rails.
I use Azure DevOps (ADO) to build my app which uses yarn and webpack to build my assets. I do this on the CI side, so the zip file that gets deployed to Azure App Service (AAS) is build and ready. Then when I use ADO, I do a normal Deploy App Service step, and run my post deploy script:
[code]

Fo

[2021-07-06 13:46] SnehaAgrawal-MSFT commented on #77639
@huipingli2009 As mentioned in [this document](https://docs.microsoft.com/en-us/azure/azure-sql/database/troubleshoot-common-connectivity-issues) that A transient error has an underlying cause that soon resolves itself. An occasional cause of transient errors is when the Azure system quickly shifts hardware resources to better load-balance various workloads. Most of these reconfiguration events fi

[2021-07-06 13:48] vhugogarcia commented on #27171
Are those connection @fbacker limits under a specific period of time?

so for example, if you reach to 4,000 connections within a time frame of 5 minutes, is that OK? or is does the documentation refers to 3,968 per second?

[2021-07-06 13:54] MicrosoftGuyJFlo commented on #77889
Did you run az login like it mentions in the doc before attempting to sign in to the VM with az ssh vm? https://docs.microsoft.com/azure/active-directory/devices/howto-vm-sign-in-azure-ad-linux#using-az-cli

[2021-07-06 13:55] tamram commented on #77923
@kroodl21 - You need to install the Az PowerShell module in order to use Azure RBAC. The article provides those instructions:

Install-Module Az -Repository PSGallery -AllowClobber

#reassign: @tamram

#please-close`

[2021-07-06 14:00] dombarnes commented on #53360
Follow up:
Maybe Hack around it with this as your startup command
`gem install bundler:2.1.4 && bundle install && bundle exec rails -b 0.0.0.0 -p $PORT`

[2021-07-06 14:01] mirzaj opened #77949 "Bad Translation (Drugs)"
[Enter feedback here]
Not sure if you seen this before - auto translate for this page from English to Portuguese (https://docs.microsoft.com/pt-pt/azure/synapse-analytics/sql-data-warehouse/sql-data-warehouse-tables-distribute)

"Recommendations for designing hash-distributed and round-robin distributed tables in dedicated SQL pools." translates to "Recomendações para a conceção de mesas distribuí

[2021-07-06 14:11] luisquintanilla commented on #75540
#assign:lobrien

[2021-07-06 14:16] luisquintanilla commented on #75540
#assign:@lobrien

[2021-07-06 14:19] shashishailaj commented on #77927
@tuxnam Thank you for providing your feedback on this. We will investigate and update the thread.

[2021-07-06 14:20] luisquintanilla commented on #75616
#assign:@Blackmist

[2021-07-06 14:22] shashishailaj commented on #77933
@hamiltonha Thank you for your feedback . We will engage the content team to review the ask .

[2021-07-06 14:22] shashishailaj commented on #77933
@hamiltonha Could you please review this one and help make the required changes?

[2021-07-06 14:24] shashishailaj commented on #77938
@hanslai Thank you for your query . We will investigate and update the thread.

[2021-07-06 14:24] MonikaReddy-MSFT commented on #77940
@spelluru - Thank you for providing your insights.
@vladimir-zorin- I hope @spelluru has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-06 14:24] #77940 closed

[2021-07-06 14:24] luisquintanilla commented on #75768
Hi @wang-piaoliang

Thanks for your question. To clarify, you're looking for a sample on using ADLA step?

[2021-07-06 14:25] KrishnaG-MSFT commented on #77527
@mifurm UPDATE: As you might already be aware, The REST API for excluding disks is already documented [here](https://docs.microsoft.com/en-us/azure/backup/backup-azure-arm-userestapi-backupazurevms#excluding-disks-in-azure-vm-backup). For now the ARM template is not yet updated with it because we were waiting to see if disk exclusion during configuration of backup is the mainline scenario or not.

[2021-07-06 14:25] luisquintanilla commented on #76159
#assign:@lobrien

[2021-07-06 14:26] luisquintanilla commented on #75768
#assign:@lobrien

[2021-07-06 14:29] luisquintanilla commented on #76604
#assign:@nibaccam

[2021-07-06 14:31] luisquintanilla commented on #75540
@lobrien can you please take a look at this one

[2021-07-06 14:32] #77923 closed

[2021-07-06 14:32] luisquintanilla commented on #75768
@lobrien can you please take a look at this one

[2021-07-06 14:33] luisquintanilla commented on #77100
#assign:@lobrien

[2021-07-06 14:33] luisquintanilla commented on #77100
@lobrien can you please take a look at this one

[2021-07-06 14:33] KrishnaG-MSFT commented on #77729
@priyankareddy20 I was able to access and login to Azure Portal. Can you please re-try and if issue persists, provide screenshots for reference.

![image](https://user-images.githubusercontent.com/45988031/124617987-062c6c00-de95-11eb-83f0-d52bc4278a48.png)

![image](https://user-images.githubusercontent.com/45988031/124617939-f876e680-de94-11eb-8d35-02bd87cf005e.png)

[2021-07-06 14:34] luisquintanilla commented on #76604
@nibaccam can you please take a look at this one

[2021-07-06 14:35] luisquintanilla commented on #75616
@Blackmist can you please take a look at this one

[2021-07-06 14:37] ArielRam99 opened #77951 "Hubs be created in different resource group in Virtual WAN"
https://docs.microsoft.com/en-us/azure/virtual-wan/virtual-wan-faq#can-hubs-be-created-in-different-resource-group-in-virtual-wan

In the link above it says that Hubs can be created in different resource groups if they are created by PowerShell only. I have tried this with Terraform using the azurerm provider and verified it is possible to put the virtual hubs in a different resource groups while

[2021-07-06 14:50] sistoimenov opened #77952 "The application insights example is broken"
Trying to run the code as in the example I get the error that Activity.Current is null. I also found that other people have had the same issue after some googling -> [https://stackoverflow.com/questions/68100960/timer-triggered-azure-function-activity-current-is-null](https://stackoverflow.com/questions/68100960/timer-triggered-azure-function-activity-current-is-null) (this question is not submitt

[2021-07-06 14:53] MikeDodaro commented on #77645
Good suggestion.  I added a line to the document that will publish today.

[2021-07-06 15:14] tamram commented on #77824
@damone1200 - Thanks for your feedback. The min TLS version only defaults to 1.2 if you create a new storage account with the portal. If you create it with any other tool, it defaults to null, which means that it will accept requests made with 1.0 and higher.

Although the documentation does say all of this, I have tried to further clarify the behavior. The change should go live by tomorrow.

#ple

[2021-07-06 15:18] kobulloc-MSFT commented on #77650
@BeameX Thank you for helping us to improve the documentation!  The PR is pending sign off from @Juliako and should be completed shortly.  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-07-06 15:18] #77650 closed

[2021-07-06 15:30] eross-msft commented on #31136
We understand your concerns and frustrations. As a content organization, we've stepped away from using the aka.ms URLs; however, outside of our organization they are still in use. While we've talked to the product teams about this, they feel they are still of use and continue to use them. Because this thread is about the documentation, I'm going to close it to commenting now.

[2021-07-06 15:35] avansummeren opened #77956 "Typos in Azure Cli command"
There are typos in the Azure CLI command to deploy (missing dash).
I created a PR with an update: https://github.com/MicrosoftDocs/azure-docs/pull/77954

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a52b0724-6b3b-0daf-7749-d18104d6a40b
* Version Independent ID: 56e5c7c4-f456-fc2e-99da-2771eb162947
* Content: [Azure Ke

[2021-07-06 15:39] #77912 closed

[2021-07-06 15:41] giovannifl opened #77957 "az ssh vm raise an "Could not find ssh-keygen.exe. Is the OpenSSH client installed" error when execured from a Window 10"
After following https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-vm-sign-in-azure-ad-linux steps,
when I try from a Windows 10 VM to ssh into an Azure Linux VM using the following command:
az ssh vm -n myVM -g AzureADLinuxVMPreview

I got the following error:
Could not find ssh-keygen.exe. Is the OpenSSH client installed?

Above error is quite strange because OpenSSH is instal

[2021-07-06 15:42] BharathNimmala-MSFT commented on #77816
Thank you @tfitzmac for helping on the thread.

@urosmil Hope the above information helps. At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed above. We will go ahead and close this issue for now, however if you have any further feedback on the document please tag us in your reply and will be happy to reopen the thread and

[2021-07-06 15:42] #77816 closed

[2021-07-06 15:46] MonikaReddy-MSFT commented on #77943
v-anvari -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-06 15:46] dagiro commented on #77536
https://github.com/MicrosoftDocs/azure-docs-pr/pull/164624

[2021-07-06 15:48] MonikaReddy-MSFT commented on #77943
@v-anvari - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-06 15:48] #77943 closed

[2021-07-06 15:56] MonikaReddy-MSFT commented on #77956
@avansummeren - Thanks for brining this to our attention and thanks for raising the PR.

[2021-07-06 15:58] MicrosoftGuyJFlo commented on #77957
Did you run az login like it mentions in the doc before attempting to sign in to the VM with az ssh vm? https://docs.microsoft.com/azure/active-directory/devices/howto-vm-sign-in-azure-ad-linux#using-az-cli

[2021-07-06 16:01] iromanovsky opened #77958 "How to add to proxy bypass list"
How to do that? There is not settings in the interface.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a495a50-1ebc-67e6-1ef5-6f097a19bb62
* Version Independent ID: 27678aa4-c3da-d0fc-557d-fefc8715b0e8
* Content: [Use Azure Migrate with private endpoints - Azure Migrate](https://docs.microsoft.com/en-us/azure/migrate/

[2021-07-06 16:08] rolyon commented on #54335
#please-close

[2021-07-06 16:12] kroodl21 opened #77959 "Error: The provided subscription identifier 'Pay-As-You-Go' is malformed or invalid"
When I type in below in the Powershell according to the instructions on this page(https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-user-delegation-sas-create-powershell), I get an error message.

New-AzRoleAssignment -SignInName <email> `
    -RoleDefinitionName "Storage Blob Data Contributor" `
    -Scope  "/subscriptions/<subscription>/resourceGroups/<resource-group>/providers/M

[2021-07-06 16:16] v-amallick commented on #76212
Hi @shanecastle-osharp, we have updated the article and screenshots. These will reflect in the article soon. Thank you.

[2021-07-06 16:17] v-amallick commented on #76212
#please-close

[2021-07-06 16:21] sakash279 commented on #74965
#please-close

[2021-07-06 16:22] #76212 closed

[2021-07-06 16:25] mike-urnun-msft commented on #77794
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-07-06 16:25] #77794 closed

[2021-07-06 16:30] evmill opened #77961 "Page says needs HL2 OS, but has info for both HL1 and HL2"
Hello ASA Docs folks,

I was looking at this page for HoloLens and was confused be a piece of info. I saw "You need a HoloLens device on which developer mode enabled. Windows 10 May 2020 Update ", which would be [Windows Holographic, version 2004](https://docs.microsoft.com/en-us/hololens/hololens-release-notes#windows-holographic-version-2004). That is a HL2 build, which would imply that HL1 isn'

[2021-07-06 16:34] SnehaGunda commented on #76736
#reassign: @manishmsfte

[2021-07-06 16:52] kmkelly2015 commented on #70168
Hi

Is there any news on this?
is it a future feature?

[2021-07-06 16:53] minhe-msft commented on #77841
@heyucongtom, thanks for your feedback. You are right that the status value should be "Cancelled". I'm fixing the document now.

[2021-07-06 16:55] mattchenderson commented on #60833
I believe this can be closed, as ADAL references have been removed from this article.

[2021-07-06 16:56] BharathNimmala-MSFT commented on #77671
@cmw2 Thanks again for taking time to share your feedback , our document authoring team will further take this as a backlog item and update the document as needed.

We will go ahead and close this issue for now, however if you have any further feedback on the document please tag us in your reply and will be happy to reopen the thread and continue the conversation. Thank you

[2021-07-06 16:56] #77671 closed

[2021-07-06 16:59] ivapplyr commented on #50919
Hey @blueelvis,

Public Preview has been delayed and is targeting Q3CY21 ~ End of August
GA is targeting Q4CY21 ~ Around ignite time

[2021-07-06 17:03] anastasia-ms commented on #77019
Yes, this is by design: On the page it says:

This tutorial uses the `us.atlas.microsoft.com` geographical URL. If your Creator service wasn't created in the United States, you must use a different geographical URL.  For more information, see [Access to Creator Services](how-to-manage-creator.md#access-to-creator-services). To view mappings of region to geographical location, [see Creator service

[2021-07-06 17:05] KranthiPakala-MSFT commented on #77901
@lpmac
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2021-07-06 17:09] KranthiPakala-MSFT commented on #77751
@keen85  Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

@ruixinxu - Could you please have a look at the above feedback? - Thank you

[2021-07-06 17:14] priyankareddy20 commented on #77729
Sure, will do that.

On Tue, Jul 6, 2021, 4:33 PM KrishnaG-MSFT ***@***.***> wrote:

[2021-07-06 17:18] laujan commented on #75939
#please-close

[2021-07-06 17:22] blueelvis commented on #50919
Hey!

Any chance for a private preview?

On Tue 6 Jul, 2021, 10:29 PM Ivens Applyrs, ***@***.***>
wrote:

[2021-07-06 17:25] ajburnle commented on #69998
#please-close

[2021-07-06 17:27] ajburnle commented on #69998
#please-close

[2021-07-06 17:30] MicrosoftGuyJFlo commented on #77900
Until the session expires an update/require reaccept a user will not be required to accept the new TOU. This is something the Product Group is aware of and is in their backlog. If you want to ensure reaccept delete and recreate or create a new TOU for this case.

[2021-07-06 17:32] YutongTie-MSFT commented on #77945
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-06 17:32] YutongTie-MSFT commented on #77944
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-06 17:32] YutongTie-MSFT commented on #77937
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-06 17:35] fuocor commented on #7650
Is there an actual resolution to this?
I have the following, where the first vault is in a different subscription.

[code]

[2021-07-06 17:39] r0nen commented on #77027
Thanks for the help.

[2021-07-06 17:39] #77027 closed

[2021-07-06 17:43] JustinGrote opened #77964 "This is not the approval workflow"
It looks like the activate workflow was copy-pasted here. This needs to be the approval workflow.
https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/pim-how-to-activate-role?tabs=new

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43125fc1-f1fb-fa8c-69a6-7866a1b3a1fe
* Version Indepen

[2021-07-06 17:48] ivapplyr commented on #50919
Yes we are looking to start Private Preview this month. Waiting on the final build confirmation. In the mean time, I can collect your dev subscription for white listing

[2021-07-06 17:51] aliosmanulusoy commented on #77961
Thanks for raising this issue Evan. ASA does support HL1 and HL2 devices. We created a bug (34246893) to track the issue on our side. We will post on this thread once the documentation is fixed.

[2021-07-06 17:56] himanshusinha-msft commented on #77949
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-07-06 17:58] KranthiPakala-MSFT commented on #77841
Hi @heyucongtom, PR for the fix has been initiated and will be merged soon - https://github.com/MicrosoftDocs/azure-docs-pr/pull/164633. Thanks again for reporting this to us and helping us to improve the content.

Thanks @minhe-msft for the PR.

[2021-07-06 17:58] ZachEdwards7 opened #77965 "Missing docs for "SocialIdp" ServicePrincipalType"
This doc states there are only 3 types of ServicePrincipals however it is missing information on "SocialIdp".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c12e139-8cb6-dd6d-2e08-89d4f22c7eef
* Version Independent ID: 675b5ee9-bfe6-344f-7b39-ca0e2bc18b9b
* Content: [Apps & service principals in Azure AD - Microsoft i

[2021-07-06 18:07] SwathiDhanwada-MSFT commented on #77804
@tshepang Thanks for bringing this to our notice. I have made necessary changes to the document and the changes will reflect soon.

We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-07-06 18:09] JamesTran-MSFT commented on #77741
@arbrctb
Thank you for your time and patience throughout this issue!

Using one of my own provisioning apps (create your own), I was able to reproduce your error message:
![image](https://user-images.githubusercontent.com/36619112/124645860-ccce0f00-de48-11eb-8cfa-0abc5d3e1379.png)

In order to work around this, I created a Workday provisioning app, and  was able to update the "SkipOutOfScopeDelet

[2021-07-06 18:09] shraboin opened #77966 "Number of Backups + Scale"
If you have RDB persistence enabled then scale to a different size Redis then there will be multiple RDB blobs for a specific instance of Redis. This isn't covered in the doc and the doc suggests the opposite: https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-how-to-premium-persistence#what-happens-to-the-old-rdb-backups-when-a-new-backup-is-made

I work in support. Feel free to p

[2021-07-06 18:13] glebaron opened #77967 "Domain Join Issues"
There are a couple of issues with this document:

1. When a domain user ($user) logs into the linux machine via ssh, their home directory appears as /home/$user@contoso.com/.
It would be preferable if you showed how to edit the "session required pam_mkhomedir.so skel=/etc/skel/ umask=0077" so that it creates a home directory of /home/$user/ instead.

2. It would be nice if the document included in

[2021-07-06 18:15] #77804 closed

[2021-07-06 18:17] SwathiDhanwada-MSFT commented on #77924
@slavizh Thanks for your comment. We will review the issue and get back to you shortly.

[2021-07-06 18:24] BharathNimmala-MSFT commented on #77952
@sistoimenov Thanks a lot for bringing this to our notice, we will review it and update the document as needed.

[2021-07-06 18:28] DerekHerman-MSFT commented on #77934
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-06 18:29] mike-urnun-msft commented on #77925
@YusukeTobo  Thank you for your feedback! We will review and update as appropriate.

[2021-07-06 18:30] RaoulRSV commented on #77598
It works. Instruction : az acr check-health -n <name>, gives a correct result. Many thanks

[2021-07-06 18:30] #77598 closed

[2021-07-06 18:40] artisticcheese opened #77968 "Please verify that instructions for setting up conditional forwarders are correct."
Per this page it states that conditional forwarders shall be using `privatelink.api.azureml.ms` as zone to forward inside settings of DNS resolver. While official documentation for general private endpoints (https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-dns#:~:text=The%C2%A0conditional%C2%A0forwarding%C2%A0must%C2%A0be%C2%A0made%C2%A0to%C2%A0the%20recommended%20public%C2%A0D

[2021-07-06 18:50] JamesTran-MSFT commented on #77886
@momdim
Thank you for the detailed post!

When it comes to the `end_session_endpoint`, you should be able to call it directly using the [OpenID Connect metadata document](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-protocols-oidc#fetch-the-openid-connect-metadata-document).

[code]

Additional Links:
[OpenID Connect - Send a sign-out request](https://docs.microsoft.com/en-us

[2021-07-06 18:54] rwike77 commented on #75211
@agoodwin  Thanks for the feedback. Unfortunately, this article is pretty long and bulky.  We've got it in our queue to make some updates.

Dynamic consent is very convenient, but presents a challenge for permissions that require admin consent (since the admin consent experience doesn't know about those permissions at consent time). If you require admin privileged permissions, you should register

[2021-07-06 19:00] tfitzmac commented on #77920
@jdelforno - the page was originally populated with values from the REST API specifications. However, the specs did not always provide all of the information that was needed. So, now it is maintained manually.

I am curious to hear how you would use the JSON/CSV file. There's a chance I could add it.

[2021-07-06 19:10] #75181 closed

[2021-07-06 19:10] #74965 closed

[2021-07-06 19:12] lobrien commented on #76159
#assign @lobrien

[2021-07-06 19:13] SnehaGunda commented on #74585
@jtwalters25 because we couldn't reproduce this issue and didn't hear back further from you, we will now close it.

#please-close

[2021-07-06 19:14] #74585 closed

[2021-07-06 19:21] olveslind commented on #77586
Hi!

Thank you very much for a good explanation and answer! This helps a lot for
me to understand the logic:-)

Regards,
Olve Slind

tir. 6. jul. 2021 kl. 07:27 skrev Pramod Valavala ***@***.***

[2021-07-06 19:27] blueelvis commented on #50919
@ivapplyr - Could you please provide an email address where I could send these out? Thanks!

[2021-07-06 19:43] lobrien commented on #77100
Querying product team.

[2021-07-06 19:44] tamram commented on #77589
@uonie - I have made the change. It should go live later today.

#please-close

[2021-07-06 19:44] #77589 closed

[2021-07-06 19:48] BharathNimmala-MSFT commented on #77928
@torewillmar1969 Thanks a lot for bringing this to our notice. I have assigned this issue to our document author who will further review this and update the document accordingly.

[2021-07-06 19:49] momdim commented on #77886
Hi James,

Thanks for your suggestion. Unfortunately, this doesn't answer my question (maybe I was a bit unclear).

We have more 3rd party IDPs (all of them are OIDC compliant) that integrate with Azure B2C. On the other side, we have a "fleet" of more than 10 applications that will be using Azure B2C for authentication, which means that each and every one of them would need to have additional cod

[2021-07-06 19:55] #77900 closed

[2021-07-06 19:55] yoelhor commented on #77853
Dear @hypertrends, thank for asking. To change the name of the claims, update the **input** claims partner claim type of the UserInfoIssuer technical profile.

[code]

I have tested this one and got the JSON in the format you expected. I'll update the document after you approve the solution. I'd appreciate if you keep us posted.

Yoel

[2021-07-06 19:57] bobleujr opened #77970 "Static WebApp staticwebapp.config.json rewrite and redirect unclear about paths and domains"
When deploying an angular static web app locally, we can add a proxy.config.js that gets served with ng serve.

So for instance, in my `package.json` I would add `"start": "ng serve --proxy-config proxy.config.js",`

In my `proxy.config.js` I have the rule:

[code]

Which in a production web server like nginx would translate to

[code]

(Thanks https://github.com/angular/angular-cli/issues/2969#is

[2021-07-06 19:59] hpsin commented on #74347
#please-close , we've added some fixes that will be live tomorrow.

[2021-07-06 19:59] #74347 closed

[2021-07-06 20:02] timsander1 commented on #77125
Added TRUNC to index usage details

[2021-07-06 20:02] timsander1 commented on #77125
#please-close

[2021-07-06 20:02] #77125 closed

[2021-07-06 20:03] shraboin commented on #77966
To be more specific, say you enable RDB persistence, a back up is created. Every time it persists the old blob is deleted. When you scale a Redis to different size then the rdb prior to scale persists, a new blob is created, then every time it persists with this new size then only old rdb blobs from the new current size are deleted.

[2021-07-06 20:27] amsliu commented on #69998
#please-close

[2021-07-06 20:27] #69998 closed

[2021-07-06 20:30] tmmueller commented on #76113
@aahill Is this out of preview now? The documentation still says preview, but there was another [GA announcement](https://azure.microsoft.com/en-us/updates/general-availability-azure-cognitive-services-text-analytics-for-health/) after the Build one (about a month after this issue was opened).

[2021-07-06 20:33] rolyon commented on #54335
#please-close

[2021-07-06 20:33] #54335 closed

[2021-07-06 20:36] JamesTran-MSFT commented on #77886
@momdim
Thank you for the quick and detailed follow up!  This definitely makes more sense, I've reached out to our engineering team and will update as soon as possible.

Thank you for your time and patience throughout this issue.

[2021-07-06 20:55] ericjay1 opened #77971 "trove page does not exist"
the trove page mentionned in this page does not exist (https://www.microsoft.com/ai/trove?activetab=pivot1:primaryr3)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8198ccf7-c499-c84b-6d54-e48a8fc4a150
* Version Independent ID: aae607bf-72be-59dd-32bc-be33039de820
* Content: [Quickstart: Build a classifier with the Cus

[2021-07-06 20:59] luisquintanilla commented on #75540
#assign:@lobrien

[2021-07-06 21:32] mikebudzynski commented on #52660
The `backendUrl` is set in the self-hosted portal configuration files as per the documentation I linked in my previous answer. Please, reach out to Azure Support for further assistance.

[2021-07-06 21:33] SnehaGunda commented on #76736
@sesmyrnov thank you for reporting, I fixed it in the above PR. Changes will be live by EOD. we will close this issue now.

#please-close

[2021-07-06 21:33] #76736 closed

[2021-07-06 21:34] SnehaGunda commented on #77679
#reassign: @StefArroyo

[2021-07-06 21:35] SnehaGunda commented on #67188
#reassign: @gahl-levy

[2021-07-06 21:35] KumudD commented on #55503
@SubhashVasarapu-MSFT Please can you change the service label to  **frontdoor/svc**  for this issue. Thanks!

[2021-07-06 21:36] SnehaGunda commented on #73829
#reassign: @StefArroyo

[2021-07-06 21:39] rbgigo commented on #77908
@rbgigo Vikas

Unfortunately the Docker ACI integration when using docker ps has a shortcoming, namely that under column _container id_ it only shows the ACI container group name and not the individual containers inside the group with its individual IDs.

Nevertheless your information helped and from inside the container I can query the Linux container control groups which reveal the container ID,

[2021-07-06 21:39] kgremban commented on #77773
@nenright Thank you for flagging this error in the documentation. I've got a pull request open to fix this, and will close this issue as resolved once those changes are merged.

[2021-07-06 21:42] YutongTie-MSFT commented on #77971
@ericjay1 Are you mentioning this page? I can open it with no issue. Thanks.
![image](https://user-images.githubusercontent.com/38084098/124670123-60630800-de68-11eb-8bf1-f409b999f827.png)

[2021-07-06 22:00] SnehaGunda commented on #77379
@afscrome I think you may be confused with the control plane and management plane terminology they both mean the same. I merged the two notes and added some clarity in the above PR. Changes will be live tomorrow. Closing this issue now.

#please-close

[2021-07-06 22:00] #77379 closed

[2021-07-06 22:19] James-Hamil-MSFT commented on #77858
Hi @kdupindersingh , are you asking for us to update the images?

Best,
James

[2021-07-06 22:24] epomatti opened #77973 "App Service - Authentication Provider - Change "redirect_uri""
I have the following setup:

Front Door (forward requests to)
/site --> App Service : Frontend
/api  --> App Service : Backend

The same "App Registration" is assigned to both App Services.

The login uses the App Service's **host** every time, therefore I cannot authenticate using the Front Door public IP.

![image](https://user-images.githubusercontent.com/6530769/124673523-530d4400-de8f-11eb-82

[2021-07-06 22:29] minhe-msft commented on #77841
Hi @heyucongtom

My PR merged and I verified the double-L "Cancelled" status code shows up in the documentation, I will go ahead close this issue. Thanks again for your feedback and appreciate your time to answer follow-up questions.

#please-close

[2021-07-06 22:29] #77841 closed

[2021-07-06 22:39] SaiKishor-MSFT commented on #77951
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-07-06 22:48] ivapplyr commented on #50919
Apologies it's

Ivens.Applyrs at microsoft dot com

[2021-07-06 22:55] gmndrg opened #77975 "Network service tags are missing the Redis tag in the documentation"
Please add the **Redis** service tag in the documentation. It is currently one of the options that you can choose for virtual network service tags already. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08217244-82bb-13b5-46f7-454801d8f865
* Version Independent ID: 4a8b0a32-bf57-7544-c60d-6b7f250c4477
* Cont

[2021-07-06 23:07] SatishBoddu-MSFT commented on #77942
Hello @amanjeetsingh
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-07-06 23:08] SatishBoddu-MSFT commented on #77958
Hello @iromanovsky
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-07-06 23:09] SatishBoddu-MSFT commented on #77959
Hello @kroodl21
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-07-06 23:12] SatishBoddu-MSFT commented on #77964
Hello @JustinGrote
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-07-06 23:13] SatishBoddu-MSFT commented on #77965
Hello @ZachEdwards7
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-07-06 23:15] SatishBoddu-MSFT commented on #77966
Hello @shraboin
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-07-06 23:16] SatishBoddu-MSFT commented on #77967
Hello @glebaron
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-07-06 23:17] shgoldbe opened #77976 "Note on webjobs/ app integration with .net core is wrong"
this note is not correct- it doesn't work if the web APP is .net Core, not just the WebJob. Please update the documentation accordingly.

Since folks on stack overflow have been banging their head against it for 5 years, I wonder if/when this will be supported as well?
https://stackoverflow.com/questions/38919723/how-do-i-deploy-an-azure-webjob-alongside-a-net-core-web-app-via-git

https://stackov

[2021-07-06 23:18] SatishBoddu-MSFT commented on #77970
Hello @bobleujr

Could you please let us know what Microsoft's official documentation or tutorial you have referred to over here?

[2021-07-06 23:19] SatishBoddu-MSFT commented on #77968
Hello @artisticcheese
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-07-06 23:23] jdelforno commented on #77920
Doing so would allow for validation of resource name creation within the UI rather than waiting for validation to be executed via PowerShell ARM / Runner.

If we can do the name validation in the UI, it simplifies the process and makes it much faster. Failing Naming validation is currently a process of:

- User specifies name
- System creates a job with the required details
- Required details are

[2021-07-06 23:30] JustinGrote opened #77977 "Title Typo"
"tp management group" should be "to management group"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a46e3b3-b5da-d9a3-4da5-a77b9ae0c834
* Version Independent ID: 6997b9f3-5f52-2fec-978b-f6cc1a9d18a1
* Content: [Use Bicep tp deploy resources to management group - Azure Resource Manager](https://docs.microsoft.com/en-u

[2021-07-06 23:31] jdelforno commented on #49024
@jpawlowski

It's a great start but given it's now 2 years old and probably a couple dozen skus out of date, is there a way to regenerate the bulk of it at the moment?

[2021-07-06 23:41] sakash279 commented on #74860
There is currently no support for SAS tokens in CosmosDB Table API. If you see the sample at: https://github.com/Azure-Samples/azure-cosmos-table-dotnet-core-getting-started/blob/d8ab70f17bf0d54c8192d6824408afa5e16f9703/CosmosTableSamples/AdvancedSamples.cs#L32

SAS only works when the endpoint is Table Storage.

[2021-07-06 23:43] BharathNimmala-MSFT commented on #77977
@JustinGrote - Thanks again for bringing this to our notice and helping us improve our Azure documentation. I have raised a PR to fix the typo in the title within the metadata. Once the PR is reviewed and approved , changes would go live.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed above. We will go ahead and close

[2021-07-06 23:43] #77977 closed

[2021-07-07 00:08] Karishma-Tiwari-MSFT commented on #77550
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-07 00:12] tamram commented on #77959
@kroodl21 - Check to see that you are using the correct subscription ID in your scope param.

This isn't a doc issue, and it's not an Azure Storage issue, so I can't help you beyond that. If you need additional support, feel free to reach out to the support team at https://docs.microsoft.com/en-us/answers/topics/azure-rbac.html.

#please-close

[2021-07-07 00:12] #77959 closed

[2021-07-07 00:20] SnehaGunda commented on #77283
@milismsft can you please help?

[2021-07-07 00:20] dlepow commented on #77870
@rogerbramon - Thanks for reaching out and apologies that the script didn't work for you. A change was introduced in the `az ad sp create-for-rbac` command in Azure CLI v. 2.25. 0 that affects how ids are handled in this script. Instead of using this `az ad sp show` command:

[code]

you should instead run `az ad sp list`:

[code]

Please let us know if this helps. We'll retest and publish a doc u

[2021-07-07 00:23] dlepow commented on #77904
(Duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/77870)
@Swimburger - Thanks for reaching out and apologies that the script didn't work for you. A change was introduced in the `az ad sp create-for-rbac` command in Azure CLI v. 2.25. 0 that affects how ids are handled in this script. Instead of using this `az ad sp show` command:

[code]

you should instead run `az ad sp list` as yo

[2021-07-07 00:45] SnehaGunda commented on #77283
@patanric I am not sure if I understood your question, the docker-compose file in the doc is just an example, the IP address mentioned is for demo purposes. You have to modify the IP address per your environment. If you face any issues with the docker-compose file itself, you can get help from the docker docs.

[2021-07-07 00:55] rurounijones commented on #76951
@aahill Could you have a look at the above?

[2021-07-07 01:04] SnehaGunda commented on #76060
@deborahc let's add the partition set description to the text.

[2021-07-07 01:04] SnehaGunda commented on #76060
Made a change in the above PR. we will now close this issue.

#please-close

[2021-07-07 01:04] #76060 closed

[2021-07-07 01:08] SnehaGunda commented on #76569
@slavizh that page was recently updated, the tags on the page and the content is applicable for all APIs. I don't see a mention where it says dedicated tables are supported for SQL API only. It was probably fixed in the latest updates.

We will now close this issue.

#please-close

[2021-07-07 01:08] #76569 closed

[2021-07-07 01:11] xuegao112 opened #77980 "Can't add app service metric chart to the workbook"
Hi team,

I found it's not able to add app service's metric chart to the workbook. Looks like only AI supported to do that.
Is this by design limitation?

[2021-07-07 01:34] JasonWHowell commented on #77863
@CHEEKATLAPRADEEP-MSFT did you test it?
I'm not a technical contact, so I don't have any additional insight.

[2021-07-07 01:39] Karishma-Tiwari-MSFT commented on #77670
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2021-07-07 01:42] #77670 closed

[2021-07-07 02:01] ealsur commented on #74249
@JamesCromptonMSFT I cannot repro that, the source code for the article is at: https://github.com/Azure-Samples/cosmos-dotnet-change-feed-processor

Running `dotnet build` builds correctly:

![image](https://user-images.githubusercontent.com/1633401/124688912-71257500-de8c-11eb-85dd-da35e0b60d56.png)

Maybe the issue is that the solution you are working on has some code analyzer that stops builds

[2021-07-07 02:04] haalkaz opened #77981 "Typo"
Hi,

There is a small typo in this section, actually it is "you" that should not be there.
https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-multivip-overview#rule-type-1-no-backend-port-reuse

![image](https://user-images.githubusercontent.com/85655443/124689124-97074580-de9d-11eb-9547-f636af2af97c.png)

Regards,
Hussein
---
#### Document Details

⚠ *Do not edit this section. It

[2021-07-07 02:28] SubhashVasarapu-MSFT commented on #77981
@haalkaz , Thanks for reaching out. We will investigate and update this thread.

[2021-07-07 02:29] SubhashVasarapu-MSFT commented on #77975
@gmndrg , Thanks for reaching out. We will investigate and update this thread.

[2021-07-07 03:25] VikasPullagura-MSFT commented on #77733
@saptarshibasu

You can email me with Subject as "ATTN: Vikas" at AzCommunity[at]microsoft[dot]com and provide me with your SubscriptionID and [link](https://github.com/MicrosoftDocs/azure-docs/issues/77733) to this thread. I can then enable your subscription for one time free support. I will share further instructions over the email.

Also, once you get the issue fixed, request you to reply back

[2021-07-07 03:28] VikasPullagura-MSFT commented on #77908
@rbgigo Thanks for confirming and sharing your feedback.

I would request you to share this product feedback [here](https://feedback.azure.com/forums/602224-azure-container-instances), so that it reaches the Product team. Team will check these feedback and then will share updates back.

[2021-07-07 03:28] #77908 closed

[2021-07-07 03:41] BryanTrach-MSFT commented on #77976
@shgoldbe Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-07 04:14] RohitMungi-MSFT commented on #77971
@ericjay1 The correct link should be https://www.microsoft.com/en-us/ai/trove?activetab=pivot1:primaryr3 Just a minor change. Thanks for spotting this. I have submitted a PR to fix this.

[2021-07-07 04:23] AjayKumar-MSFT commented on #77946
PieterD01 , Thanks for leveraging Azure docs feedback channel. I see you have opened this as a test issue.
This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. If you any suggestions or feedback for the Azure docs content improvements, please file a new issue with a detailed description. Thanks again.

[2021-07-07 04:33] SamaraSoucy-MSFT commented on #77829
Hello @ECNUJason

I have two questions for you:

- If you tried immediately after registering the providers listed in the doc can you please try again? It can take a few minutes for that process to complete.
- Did you try selecting the provider from the list or searching for it? It won't show up in the default list, but if you start searching for "Azure Spring..." it should show up.

[2021-07-07 04:48] ShaikMaheer-MSFT commented on #77659
@jbreunung Thanks for the question. Github forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilise Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html)

[2021-07-07 04:48] #77659 closed

[2021-07-07 04:51] ShaikMaheer-MSFT commented on #77849
@chez-charlie Could you please validate feedback and update as appropriate. Thank you

[2021-07-07 04:58] gaurav1264 opened #77984 "Roadmap for Atlassian provisioning connector and its support model"
I am exploring Atlassian provisioning connector in Azure AD, and in portal it say connector is in preview. I could not find when this connector will be GA released? I am using this connector from my Azure AD tenant for user provisioning onto Atlassian cloud.

Is this something you can help me?

Official guide - https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/atlassian-cloud-provi

[2021-07-07 05:01] PramodValavala-MSFT commented on #77586
@olveslind Glad we could help!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-07 05:01] #77586 closed

[2021-07-07 05:11] PramodValavala-MSFT commented on #77665
@sashkotarasenko Hope our previous comments helped. Feel free to share the requested details and we could share more insights as required about the default configuration.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the iss

[2021-07-07 05:11] #77665 closed

[2021-07-07 05:58] JamesCromptonMSFT commented on #74249
Thanks Matias,

The reason it compiles for you is because you are using .Net Core 3.1 in this project, however if you use .Net framework 4.6 or older you will hit

**CS1738**  C# Named argument specifications must appear after all fixed arguments have been specified. Please use language version 7.2 or greater to allow non-trailing named arguments.

I believe consistency in the code sample will be

[2021-07-07 05:59] tshepang commented on #77804
reference https://github.com/MicrosoftDocs/azure-docs/commit/c356a2d03cf2121d4a8687705d9bbda9bf390518#diff-4c2aec38269de6bf556620d84dc2144aec3636c09e2451709ee102be046d002f

[2021-07-07 06:00] JamesCromptonMSFT commented on #74249
Hi Matias,

The reason it compiles for you is because you are using .Net Core 3.1 in this project, however if you use .Net framework 4.6 or older you will hit

CS1738  C# Named argument specifications must appear after all fixed arguments have been specified. Please use language version 7.2 or greater to allow non-trailing named arguments.

I believe consistency in the code sample will be better f

[2021-07-07 06:09] himanshusinha-msft commented on #77832
We are closing this issue as we have not heard back from you , you can always re-open the issue if you think that appropriate .

[2021-07-07 06:09] #77832 closed

[2021-07-07 06:12] BhargaviAnnadevara-MSFT commented on #77783
@LimingRenPA Hope the above inputs help. Are there any further questions here?

[2021-07-07 06:32] yoelhor commented on #77853
Dear @hypertrends, thanks for the valuable feedback. I'm updating the article with the relevant information and a sample. A new version will publish later today or tomorrow, and this GitHub issue will be closed automatically (before the doc is published). If you have any questions or need further information, please open new GitHub issue.

[2021-07-07 06:33] SumanthMarigowda commented on #77215
@knssubFor blobs and files, MMK keys are scoped to the storage account and are unique. However, for tables and queues, the key is unique to the service, not the storage account. Users need to take an extra step to create an account-scoped key for the storage account at creation time, and then they can enable CMK.

We recommend CMK for optimal security.

We will now proceed to close this thread. If

[2021-07-07 06:33] #77215 closed

[2021-07-07 06:34] MayankBargali-MSFT commented on #76887
@Sti2nd We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-07-07 06:34] #76887 closed

[2021-07-07 06:36] DeSeelam commented on #77958
Hello @iromanovsky, the UI for proxy bypass is available on the appliance configuration manager web interface. You can find it in Panel 1 > Set up prerequisites > Check connectivity to Azure > Set Proxy. Can you please check and verify.

@Vikram1988 for visibility and comments.

[2021-07-07 06:38] SumanthMarigowda commented on #77728
@cveld  I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

For a storage account, the m

[2021-07-07 06:38] #77728 closed

[2021-07-07 06:46] SumanthMarigowda commented on #77805
@mauriciojost Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.

Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-07-07 06:50] bmitisor commented on #27171
@vhugogarcia no, they are concurrent websocket connections.

[2021-07-07 06:52] #77656 closed

[2021-07-07 06:56] SumanthMarigowda commented on #77845
@santoshmallena  Apologies for delay in responding here! Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-07 07:04] #77853 closed

[2021-07-07 07:23] olaplassen commented on #77019
As stated in my previus comment my Creator service was created in West Europe and all the assets was published to `eu.atlas.microsoft.com`. But the guides you linked give no explanation on how to set up the app shown in [Indoor Map Module](https://docs.microsoft.com/en-us/azure/azure-maps/how-to-use-indoor-module#embed-the-indoor-maps-module)  and how to make it send requests to **eu** region.

[2021-07-07 07:29] pujvari opened #77988 "TimerTrigger auto generated code is failing"
For me the generated TimerTrigger code is failing on execution.

        [Function("Function1")]
        public static void Run([TimerTrigger("* * * * * *")] MyInfo myTimer, FunctionContext context)
        {
            var logger = context.GetLogger("Function1");
            logger.LogInformation($"C# Timer trigger function executed at: {DateTime.Now}");
            logger.LogInformation($"Next

[2021-07-07 07:37] gzmrst-sr opened #77989 "Auth information incomplete"
There is some important information missing from these docs.
They state: "Put the access token in a header to provide authorization."
They decline to give any information about what that header is called or what the exact content should be.
An example would help too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb578

[2021-07-07 07:42] jbreunung commented on #77659
I think I found the answer:
https://stackoverflow.com/questions/66347465/databricks-notebook-doesnt-return-value-to-caller-notebook-when-using-structure
I was able to validate that a structured streaming command in the notebook will prevent the values from being passed to ADF.
Maybe you could include a hint in the documentation that passing return values via dbutils.notebook.exit to adf is not wor

[2021-07-07 07:46] MayankBargali-MSFT commented on #77776
@scott-alvis Sorry for your experience. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-07 07:50] BhargaviAnnadevara-MSFT commented on #77791
@LimingRenPA Hope the above inputs help. Are there any further questions here?

[2021-07-07 08:04] arbrctb commented on #77741
Thanks for your response. We spoke to someone via Premier Support and we managed to fix it by ignoring the part of the documentation where it says to specify the Content-Type header in the request. Without this header, the request succeeded. The documentation could perhaps be updated to reflect this to help others.

[2021-07-07 08:07] HarshitaSingh-MSFT commented on #77989
Hello @gzmrst-sr , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-07-07 08:10] v-smotonaga opened #77990 "Description of support for zone redundancy when using Azure private links in the Japanese documentation"
Zone redundancy is supported when using private links, but the Japanese documentation still states that zone redundancy is not supported.
Title : Azure Private Link を使用した Azure Cache for Redis
Address : https://docs.microsoft.com/ja-jp/azure/azure-cache-for-redis/cache-private-link
======
現時点では、ゾーン冗長、ポータル コンソールのサポート、ファイアウォール ストレージ アカウントへの永続化はサポートされていません。
======

In the English (US) documentation,

[2021-07-07 08:20] KrishnaG-MSFT commented on #77527
At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now.
If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2021-07-07 08:20] #77527 closed

[2021-07-07 08:29] MikhailCompo opened #77991 "Invalid Command "remove CorporateWerServer* from""
This command:

"remove CorporateWerServer* from Computer\HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\Windows Error Reporting"

is garbage, it is not a valid command at all. How did this get missed during proofreading?

Please correct.....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdad1b23-8c75-cd08-41cc-6313fc70

[2021-07-07 08:33] JamesBaxterSoftware opened #77992 "SAML integration without metadata url for application"
Hello,

We are trying to integrate Azure B2C SAML with our Zoho Helpdesk. We have been told that Zoho will not provide a metadata url or document for the integration.

The only documentation for integrating SAML is here: https://docs.microsoft.com/en-us/azure/active-directory-b2c/saml-service-provider?tabs=macos&pivots=b2c-custom-policy

It states that to integrate the application we would need a

[2021-07-07 08:35] AnuragSharma-MSFT commented on #77990
@v-smotonaga Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-07-07 08:54] psmanhas commented on #77991
@MikhailCompo Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-07-07 08:54] psmanhas commented on #77991
@Heidilohr Can you please check and add your comments on this doc update request as applicable

[2021-07-07 08:55] mohamedbadr commented on #14746
Adding 'list' permission worked for me as well

[2021-07-07 09:00] santo2 opened #77993 "can this page get a renewal? the devops pipeline setup does not support setting it up like mentioned."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95e331af-2350-c9cc-1205-f17ae4d17eb0
* Version Independent ID: a69e5b1f-1195-b191-58a4-0caf73cceccc
* Content: [Deploy an app with CI and Azure Pipelines - Azure Service Fabric](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tuto

[2021-07-07 09:28] SnehaAgrawal-MSFT commented on #77639
@huipingli2009 Since we did not here from you. We will close this out but if you feel you need more information please just let us know

[2021-07-07 09:28] #77639 closed

[2021-07-07 09:34] MayankBargali-MSFT commented on #77776
@scott-alvis I have followed up the document and I couldn't observe any issue. But I do observe that there are some typo in commands which I will work with @spelluru to fix them.

Please verify whether you have specified the Subject begins with "/blobServices/default/containers/images" for the event grid subscription as mentioned in the document. The trigger will only trigger for the container nam

[2021-07-07 09:40] AjayKumar-MSFT commented on #77973
@epomatti, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-07-07 10:05] ElazarK commented on #77706
@jimoneil You are indeed right that the documentation was confusing in it's wording. The docs have been corrected to better fit the options available. It will be pushed live with the next build.

IF you need further clarity regarding the differences between agentless and agent based i would refer you to the overview documentation for both organizations ( https://docs.microsoft.com/azure/defender-f

[2021-07-07 10:22] knssub commented on #77215
Thank you. This is very helpful.

From: SumanthMarigowda-MSFT
Sent: 07 July 2021 14:33
To: MicrosoftDocs/azure-docs
Cc: isgms; Mention
Subject: Re: [MicrosoftDocs/azure-docs] How Encryption Managed for Each Customer (#77215)

@knssubFor blobs and files, MMK keys are scoped to the storage account and are unique. However, for tables and queues, the key is unique to the service, not the storage accou

[2021-07-07 10:33] UnoSD commented on #39194
I believe this is still a valid issue; comparison should be against Gen2, also given that on Feb 29, 2024 Azure Data Lake Storage Gen1 will be retired.

[2021-07-07 10:51] tiantun opened #77994 "Clarify TTL behaviour when a TTL is set on topic & subscription"
Hi team,

I'd like to suggest adding a note about the TTL, when it is set on the topic & subscription.
In particular, if the topic specifies a smaller TTL than the subscription, the topic TTL is applied.
The page already mentions entity level expiration which suffices for most scenarios. I believe the particular topic+subscription TTL case might be worth its own note, as we have been receiving a f

[2021-07-07 10:55] yutaro113 opened #77995 "Question about Correct Support Matrix for Azure Functions Codeless AI Monitoring"
Hi team, I'd like to know correct support matrix of Codeless AI Monitoring for Azure Functions.

For example, if I tested wiht Azure Function with Linux Elastic Premium plan / West Japan region, Application Insights cannot be enabled while app creation. but as far as I see the support matrix of this doc, this seems not mentioned. (for all runtimme at Azure Functions - Basic, it's mentioned as GA)

[2021-07-07 11:03] halmg opened #77997 "Incomplete authorization code example"
The authorization code given as an example is incomplete. Clicking copy gives the following url:

`https://jwt.ms/?code=eyJraWQiOiJjcGltY29yZV8wOTI1MjAxNSIsInZlciI6IjEuMC...`

Which leads to an empty page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 836ec1be-7675-d0f1-c861-0520dc3ea01e
* Version Independent ID: c6a2

[2021-07-07 11:15] GitaraniSharma-MSFT commented on #77877
@KevinInch , thank you for your feedback. This issue is already raised and assigned to author on https://github.com/MicrosoftDocs/azure-docs/issues/77499 to validate & update the doc accordingly.

We are closing this issue as duplicate of #77499. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-07-07 11:15] #77877 closed

[2021-07-07 11:17] GitaraniSharma-MSFT commented on #77499
@damendo , do we have any update on this issue?

[2021-07-07 11:18] abij opened #77998 "Group 'admin' is actually 'admins' plural"
Small improvement is the naming of the admins group on this page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80be7853-c235-4280-7be9-75dfcee89b3d
* Version Independent ID: fe446deb-5733-c3df-5c0f-9fe14a0844f4
* Content: [Administration guide - Azure Databricks - Workspace](https://docs.microsoft.com/en-us/azure/data

[2021-07-07 11:26] mirind4 commented on #52660
All right, thanks again for all the support!

Best wishes further!

[2021-07-07 11:32] shashishailaj commented on #77997
@halmg Thank you for your query . We will have this reviewed and update the thread .

[2021-07-07 11:35] shashishailaj commented on #77992
@JamesBaxterSoftware Thank you for your query . We will investigate and update the thread.

[2021-07-07 11:38] shashishailaj commented on #77984
@gaurav1264 Thank you for your feedback . We will investigate and update the thread .

[2021-07-07 11:45] rajdpandey opened #77999 "Azure IoT Edge : identity and protocol translation incomplete Doc and no working example"
Hi,

We are working on a project which runs on devices that uses TCP/IP as a communication protocol. As Azure IoT Hub doesn't support it directly we were searching for a solution.

It seems that we can use the Azure IoT Edge as a gateway(by deploying it on the server) and connect our thousands of devices to it and this gateway will communicate to the Azure IoT Hub as a single device.

And if we us

[2021-07-07 11:54] rajdpandey opened #78000 "Azure IoT protocol gateway working example and Fully detailed Documentation"
Hi,

We are working on a device that uses TCP/IP as a communication protocol. Someone in the forum suggested that we use the Azure IoT protocol gateway(Implement it in the server). Then create a custom TCP listener socket inside it. And connect thousands of devices to it. It will act as a medium. And this IoT protocol gateway can two-way communication with the device.

But there is only a GitHub l

[2021-07-07 11:55] rajdpandey commented on #77999
Also, I wanted to know that if we use this gateway do we need to put something inside the devices, or does this gateway send any authentication thing on the device and the device firmware should have this authentication compatible code to get started working with this gateway.

[2021-07-07 12:01] steavy29 opened #78001 "CosmosDb Mongo API free tier information inaccuracy"
Page says "The first 1000 RUs per second are free with Free Tier." which is not accurate.
Free tier includes only 400 RUs per second.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 958fb2c2-c1b8-5a1b-09db-8f255bf07778
* Version Independent ID: 5bf25011-d90e-8e9c-e330-7952cf0c71b0
* Content: [Introduction to Azure Cosmo

[2021-07-07 12:25] sukhdeepsingh1 opened #78002 "Gateway subnets are not correct in the Azure SQL gateways specification"
Gateway subnets are not correct in the table, can you please check and correct this information on this page.

For example:
West Europe | 40.68.37.158, 104.40.168.105, 52.236.184.163 | 104.40.169.32/29, 13.69.112.168/29, 52.236.184.32/29
1. 104.40.169.32/29 subnet do not include 104.40.168.105
2. 52.236.184.32/29 subnet do not include 52.236.184.163
3. **40.68.37.158 in not in any subnet given**

[2021-07-07 12:45] vengi83644 commented on #27590
We have configured App Insights data as a data source to the Log Analytics Workspace. Is there a way to query the failure anomalies in the Log Analytics Workspace?

[2021-07-07 12:47] Blackmist commented on #75616
Thanks for the question @AndreasMWalter

I've mailed the engineering team and asked if they can confirm if this is an error in the documentation, or a behavior specific to Azure ML.

[2021-07-07 12:48] christianrowlands opened #78003 "authority_url description on Android Microsoft Authentication Library configuration file page"
The Android Microsoft Authentication Library configuration file documentation page has the `authority_url` field in the [Authority Properties](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-configuration#authority-properties) section. It states

However, after debugging [this issue](https://github.com/AzureAD/microsoft-authentication-library-for-android/issues/1454), I found

[2021-07-07 12:52] lohithgn opened #78004 "Outdated "Create an Azure IoT Edge project" section"
Hi,

I am trying out Azure IoT Edge Tools for Visual Studio 2019 and following the documentation from here: https://docs.microsoft.com/en-us/azure/iot-edge/how-to-visual-studio-develop-module?view=iotedge-2020-11

The section titled "Create an Azure IoT Edge project" has the following paragraph after bullet # 3:

`
Now you have an AzureIoTEdgeApp1.Linux.Amd64 project or an AzureIoTEdgeApp1.Windows

[2021-07-07 12:57] christianrowlands opened #78005 "Wrong field name in Use MSAL in a national cloud environment page"
The Use MSAL in a national cloud environment page talks about setting the JSON field `authority` to allow for using MSAL with national clouds. While debugging [this issue](https://github.com/AzureAD/microsoft-authentication-library-for-android/issues/1454), I had tried following that page and set the `authority` field in my json config file, but that did not work. Maybe I set the field in the wron

[2021-07-07 12:57] AnuragSharma-MSFT commented on #78001
@steavy29 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-07-07 12:58] AnuragSharma-MSFT commented on #78002
@sukhdeepsingh1 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-07-07 13:05] Cindarus opened #78006 "How can I change the number of retries allowed for AzureMfa-SendSms OneWaySMS?"
I have implemented Technical Profile with AzureMfa-SendSms with operation OneWaySMS.

I see that I can change the error message if the number of retries is exceeded but how can I change the number of retries?

https://docs.microsoft.com/en-us/azure/active-directory-b2c/multi-factor-auth-technical-profile

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-07-07 13:13] DEberhardt opened #78007 "Teams Meeting Room Licenses missing?"
Hello,

The Teams Meeting Room Licenses are not listed it seems - https://docs.microsoft.com/en-us/microsoftteams/rooms/rooms-licensing

Can they be added please?

Thanks,
David

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7ae

[2021-07-07 13:21] laclefyoshi opened #78008 "Contradiction about log write throughput in two docs"
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-sql/database/service-tiers-general-purpose-business-critical.md#service-tier-comparison

| - | General Purpose | Business Critical |
| --- | --- | --- |
| Log write throughput | 1.875 MB/s per vCore (max 30 MB/s) | 6 MB/s per vCore (max 96 MB/s) |

However, in the below documentation,

* Log write throughput of GP looks like 4.

[2021-07-07 13:27] MalteHB opened #78009 "pip install azureml-sdk takes for ever"
Hi there!

When running `pip install azureml-sdk` it takes forever and this is the continuous stream of warnings:

[code]

I am currently running Python 3.9.5 through Anaconda.

Hope you have some insight regarding this!

[2021-07-07 13:28] #78009 closed

[2021-07-07 13:28] MalteHB commented on #78009
Closing because of using Python 3.9.5 and azureml-sdk requires Python >=3.6, <3.9

[2021-07-07 13:47] Vama97 opened #78010 "unable to use free trial"
Hello, I tried to use the free subscription but it is not working. Could you give information about the pay per use? what will the pay as you go look like. Like what is the the billing amount for services and also tell me why the free trial not work? I am attaching the screenshot after giving the billing information for enabling the free trial.

![Screenshot (12)](https://user-images.githubusercon

[2021-07-07 14:15] shashishailaj commented on #77997
@halmg Thank you for your inputs however the example is just a representation of how the token which always starts from "ey..."  looks and the user can use the access token they get as per the article to test and see different attributes in the same using https://jwt.ms website. This is a Microsoft website which runs completely on the client side and the token data will never leave your machine if

[2021-07-07 14:16] vipulsparsh commented on #77927
@tuxnam Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-07-07 14:18] #77997 closed

[2021-07-07 14:20] SrijitBose-MSFT commented on #77731
Since we haven't heard from you in some time, we are archiving this at the moment.

#please-close

[2021-07-07 14:20] #77731 closed

[2021-07-07 14:28] #77899 closed

[2021-07-07 14:30] AbhishekShaha opened #78013 "Can you please put the examples of sample payload with the examples of the URL's for each type of authentication?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61587dc8-44c7-f9da-93db-ea1f153a9b53
* Version Independent ID: 7949f1ef-8399-df44-665f-a0261415cbd1
* Content: [Copy data from Concur using Azure Data Factory (Preview) - Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/connecto

[2021-07-07 14:36] #76977 closed

[2021-07-07 14:59] jstewart612 opened #78014 "Rewrite dns instructions reuslt in error"
plugin/kubernetes: /etc/coredns/custom/ipa1.server:7 - Error during parsing: unknown property 'upstream'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f95537e-770a-739c-0175-4447a995f8b2
* Version Independent ID: 6c9a1132-05af-70f1-5a2b-8dad56de9cc3
* Content: [Customize CoreDNS for Azure Kubernetes Service (AKS) - A

[2021-07-07 15:04] rwike77 commented on #74602
#please-close

[2021-07-07 15:04] #74602 closed

[2021-07-07 15:07] ClamSession commented on #11811
I'm having the same issue.

[2021-07-07 15:17] AksanaKuzmitskaya opened #78015 "Python 2.7 issue when installing Azure Spark Extension"
The issue I am having:
can not change which python version is used for the dependencies installation.
Even I have my local pip pointing to the python 3.9 version, the vscode one is still using python 2.7 and because of that fails with errors. How to switch the python version in vscode environment?
Please see the output below.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is r

[2021-07-07 15:18] MWestermeier opened #78016 "Content/ Style crashing when implementing custom password reset flow policy"
Thanks to your manuals, I was able to setup and integrate an additional policy for Self-service password reset within our AD B2C-flows.

However, the complete HTML/CSS styling seems to be frozen now and I do not know how to resolve. I have set the <ContentDefinition Id="api.localaccountpasswordreset"> parameters to my custom stylesheets but they do not change anything anymore.

E.g. the login-mask

[2021-07-07 15:27] KranthiPakala-MSFT commented on #77998
Hi @abij
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-07-07 15:27] ealsur commented on #74249
Makes sense. The repo code has been updated https://github.com/Azure-Samples/cosmos-dotnet-change-feed-processor/commit/b71a0bbcc2569776f7bedb0ce068f7d1574331b5, and the doc article will eventually reflect it (whenever doc articles get daily refreshed).

[2021-07-07 15:31] Sti2nd commented on #76887
@MayankBargali-MSFT No need to continue the discussion, it is confirmed that the current docs are confusing/wrong. I haven't gotten around to fix it, but will try to make time :-)

[2021-07-07 15:33] davedowns-condatis commented on #69092
The problem I had was that the Subscription wasn't selected when I was in my B2C tenant. Make sure you have All Subscriptions selected in the following dropdown:

![image](https://user-images.githubusercontent.com/83003324/124788101-fec29c80-df40-11eb-9b8a-b3ec68e8bdea.png)

[2021-07-07 15:33] MikeDodaro commented on #77989
An earlier step demonstrates how to get the access token:

Get an access token: After an Azure AD user is assigned the Azure Spring Cloud Data Reader role, customers can use the following commands to log in to Azure CLI with user, service principal, or managed identity to get an access token. For details, see Authenticate Azure CLI.
az login
az account get-access-token

But we should provide the n

[2021-07-07 15:37] javester opened #78017 "object replication seems to work with immutable blob legal hold"
per document, obj replication fails if there is a legal hold, however it seems to work. in my test i enabled legal hold on both source and destination gpv2 storage account containers and then enabled obj replication, and it replicates.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8eb0dea9-36b5-22ab-c8e3-8177acca705d

[2021-07-07 15:48] amsliu commented on #75981
Thanks for providing feedback that helps improve our documentation. In the past, the User Administrator role had permissions to manage access packages, catalogs etc., however, after receiving feedback from customers, these permissions were removed. We will be making updates to reflect this change once a permanent solution is in place. We are now closing the issue. #please-close

[2021-07-07 15:48] #75981 closed

[2021-07-07 16:01] PhaedrusM42 opened #78019 "101-logic-app-and-function-app does not include azuredeploy.json"
101-logic-app-and-function-app does not include azuredeploy.json
Also called logic-app-and-function-app, no 101 prefix.
The only file created from the template is the Deploy-AzureResourceGroup.ps1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94310cb7-9772-1a22-4504-1feae964ddfc
* Version Independent ID: acda52fb-c12e

[2021-07-07 16:03] SubhashVasarapu-MSFT commented on #77980
@xuegao112 ,  could you please share the document you were referring to here for further insights?

[2021-07-07 16:10] SubhashVasarapu-MSFT commented on #77981
@haalkaz , Appreciate your feedback. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-07-07 16:10] #77981 closed

[2021-07-07 16:17] Arkthos opened #78020 "Duplicated section"
[Enter feedback here]
this section is duplicated: https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/licensing-groups-resolve-problems#force-group-license-processing-to-resolve-errors

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb0fc0fc-b772-de61-258a-a6fd4ea9711c
* Version Independent ID: 04e8

[2021-07-07 16:19] sidprasher opened #78021 "Use of LogAnalytics Agent"
The documentation mentions the following step for enabling defender on SQL Server VMs

Step 2. Provision the Log Analytics agent on your SQL server's host:

Is it necessary to provision this Agent or the **Azure Monitor agent** can be used instead?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5344137c-53ec-8e0b-7f96-

[2021-07-07 16:23] LarsKemmann commented on #75344
I'm concerned that this was closed without actually providing a fix or a timetable on the fix. Please reopen this issue until it is actually resolved. This is impacting a very large client of ours and there should be visibility on open issues.

[2021-07-07 16:24] PrasadKasireddy commented on #78020
Thanks for reporting, we will correct this and publish PR

[2021-07-07 16:36] SatishBoddu-MSFT commented on #78004
Hello @lohithgn
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-07-07 16:36] aleguillen opened #78023 "MySQL connection using SSL sample"
There is no documentation on how to create a Linked Service to MySQL using SSL certificate from Key Vault.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82c51aad-3c71-f6d4-1930-869426830cfa
* Version Independent ID: 9f8f7a47-4256-948e-0e09-c1b14f3626e1
* Content: [Copy data from MySQL using Azur

[2021-07-07 16:38] AshokPeddakotla-MSFT commented on #77911
@VikasPullagura-MSFT Will you be able to help?

[2021-07-07 16:55] #77925 closed

[2021-07-07 16:56] Karishma-Tiwari-MSFT commented on #77993
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-07 16:57] MonikaReddy-MSFT commented on #77988
@pujvari -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-07 16:58] JamesTran-MSFT commented on #78003
@christianrowlands
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-07 17:00] JamesTran-MSFT commented on #78005
@christianrowlands
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-07 17:06] SatishBoddu-MSFT commented on #77844
Hello @manhquang144
Our SME @anastasia-ms will be reviewing your feedback soon.

[2021-07-07 17:08] EtonMon opened #78025 "Multi-region, single-region writes WITHOUT AZ not in table?"
The availability zone support table does not include data for Multi-region, single-region writes **without** AZs. Is there a reason for this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 139a721d-cf90-8b72-f344-9bdf9b2f9738
* Version Independent ID: b2afbc24-ebfc-b225-ee4a-8eaa27838cd0
* Content: [High availability i

[2021-07-07 17:10] JamesTran-MSFT commented on #78007
@DEberhardt
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-07 17:12] JamesTran-MSFT commented on #78010
@Vama97
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-07 17:12] JamesTran-MSFT commented on #78006
@Cindarus
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-07 17:14] SaurabhSharma-MSFT commented on #78008
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hovercard-url

[2021-07-07 17:15] SaurabhSharma-MSFT commented on #78025
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hovercard-url

[2021-07-07 17:23] JamesTran-MSFT commented on #78020
@Arkthos
Thank you for pointing this out! However, after looking into these two paragraphs, they're referencing two separate topics (Groups/Users).

![image](https://user-images.githubusercontent.com/36619112/124802903-50513400-df0d-11eb-8706-30e691bd5ad0.png)

Since our documentation is correct, I'll go ahead and close this out.
Thank you for your time and patience throughout this issue.

[2021-07-07 17:23] #78020 closed

[2021-07-07 17:29] KranthiPakala-MSFT commented on #78013
@AbhishekShaha
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2021-07-07 17:30] KranthiPakala-MSFT commented on #78015
@AksanaKuzmitskaya
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-07-07 17:31] KranthiPakala-MSFT commented on #78023
@aleguillen
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2021-07-07 17:43] JamesTran-MSFT commented on #78021
@sidprasher
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-07 18:02] SnehaGunda commented on #74249
Thank you, Matias. The update is live.

closing this issue now.

#please-close

[2021-07-07 18:02] #74249 closed

[2021-07-07 18:08] SnehaGunda commented on #78001
@steavy29 free tier used to offer 400 RU/s and 5 GB storage earlier. This feature was updated in May and the limits were increased to 1000 RU/s and 25 GB storage. You can confirm that from the Azure portal. When creating a Mongo DB account from the portal, free tier limits are displayed.

[2021-07-07 18:13] mike-urnun-msft commented on #77994
Hi @tiantun - Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-07-07 18:17] mike-urnun-msft commented on #78019
Hi @PhaedrusM42 - Thank you for your feedback! We will review and update as appropriate.

[2021-07-07 18:19] anavinahar commented on #77906
Thanks @haalkaz for creating this issue, we recently updated the LB create experience in Portal and will update our documents shortly!

[2021-07-07 18:21] anavinahar commented on #70213
Thank you! We have updated this, https://docs.microsoft.com/en-us/azure/virtual-network/public-ip-addresses#at-a-glance

#please-close

[2021-07-07 18:21] #70213 closed

[2021-07-07 18:22] anavinahar commented on #77720
@KumudD  could you assign this to me? Thx

[2021-07-07 18:24] KumudD commented on #77720
#reassign: @anavinahar

[2021-07-07 18:25] asudbring commented on #77906
I'm working on updating this.  It's not visible for all in the main production portal yet.  Will be publishing updates for the docs this week.

[2021-07-07 18:28] inknochen opened #78026 "Could you update the instructions with the new Azure Virtual Desktop names and commands?"
Could you update the instructions with the new Azure Virtual Desktop names and commands?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bd423d2-dba9-a2ef-5222-aeed7a064393
* Version Independent ID: c07a6696-37fd-f026-c872-6c243dc45dcb
* Content: [Scale session hosts Azure Automation Azure Virtual Desktop (classic) - A

[2021-07-07 18:31] MicrosoftGuyJFlo commented on #77889
Per the Program Manager he has not tried changing the port but sees no reason why it should not work.

[2021-07-07 18:32] MicrosoftGuyJFlo commented on #77889
#please-close

[2021-07-07 18:32] #77889 closed

[2021-07-07 18:35] cephalin commented on #60833
@mattchenderson Thank you. #please-close

[2021-07-07 18:35] #60833 closed

[2021-07-07 18:37] cephalin commented on #65724
Sorry for the delay. At this time we're not planning to document the scenario with Azure AD B2C login. #please-close

[2021-07-07 18:37] #65724 closed

[2021-07-07 18:39] MicrosoftGuyJFlo commented on #77957
#please-close

[2021-07-07 18:39] #77957 closed

[2021-07-07 18:42] MartinJaffer-MSFT commented on #77740
Thank you for your feedback. This has been assigned to the content owner, @nabhishek , and will be updated as appropriate.

[2021-07-07 18:48] JoshLove-msft opened #78028 "Update to use Azure.Messaging.ServiceBus"
The code snippets and article should be updated to use Azure.Messaging.ServiceBus.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62521082-c9fb-646f-6db0-2cdabe486dab
* Version Independent ID: ebf938ec-1d97-1cfd-ad28-5e616990d658
* Content: [Track custom operations with Azure Application Insights .NET SDK - Azure Monit

[2021-07-07 18:49] JoshLove-msft commented on #78028
/cc @spelluru

[2021-07-07 18:59] markjbrown commented on #78025
Thanks for reporting. Yes, that table should include multi-region w/o AZ's. Added it to the table. Should publish by this afternoon.

thanks again.

#please-close

[2021-07-07 18:59] #78025 closed

[2021-07-07 19:03] himanshusinha-msft commented on #77848
@SandeepShah89  : I just checked and the links are just working fine for me . Am I looking at the wrong place ? Can you check again and let us know .

![EH_issue](https://user-images.githubusercontent.com/47539458/124814825-53ebb780-df1b-11eb-943a-b7d3706a8c4f.gif)

[2021-07-07 19:12] agoodwin commented on #75211
Thank you Ryan, that does explain it.

For our purposes then, I think we'll continue to chance it by not statically defining the permissions - just because of the convenience it provides as you mentioned. It sounds like if this decision ever comes back to bite us, it should be pretty obvious what we need to do based on the error message we'll get (even if we were to forget what the difference betw

[2021-07-07 19:30] SnehaGunda commented on #77780
@snugghash Currently the Azure portal can't track the deployment of VNET so it's hard to notify users that the change is in effect. We're working on that gap and in the meantime, we added a note to the docs in the above PR.

We will close this issue now.

#please-close

[2021-07-07 19:30] #77780 closed

[2021-07-07 20:01] bobleujr commented on #77970
Here it is https://docs.microsoft.com/en-us/azure/static-web-apps/configuration

[2021-07-07 20:02] KWornell opened #78029 "Please provide this information in xml or csv format so it can be more easily used"
Please provide this information in xml or csv format so it can be more easily used

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product names and service plan identifiers for licensing - Azure AD](https://d

[2021-07-07 20:08] jsandersrocks opened #78030 "Desperately need a Java sample here for Linux"
Desperately need a Java sample here for Linux.
Use code similar to:
https://stackoverflow.com/questions/1666052/java-https-client-certificate-authentication/1710543#1710543

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbf6dd80-7e07-3e24-7aa8-d3f278f34588
* Version Independent ID: e06a85f1-9a8c-7b94-a86d-33bdf2daf9d5

[2021-07-07 20:16] SnehaGunda commented on #74860
@benCoomes I updated this doc in the above PR to remove SAS support for Table API. Changes will be live by EOD.

We will now close this issue,

#please-close

[2021-07-07 20:17] #74860 closed

[2021-07-07 20:25] SatishBoddu-MSFT commented on #77970
Hello @bobleujr Thanks for the info,
I have assigned the issue to the content author for further review.

[2021-07-07 20:29] SatishBoddu-MSFT commented on #77875
hello @andrewbrownmsft could you please help with this query/

[2021-07-07 20:30] SatishBoddu-MSFT commented on #77893
Since we didn't receive any response, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2021-07-07 20:30] #77893 closed

[2021-07-07 20:33] JamesTran-MSFT commented on #78029
@KWornell
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-07 20:46] poyadav2001 commented on #21258
I don't think the workaround you have suggested will work, copy creates an array and userAssignedIdentities expects a dictionary.
Link to our ARM template https://microsoft.visualstudio.com/Universal%20Store/_git/SC.CST.Dunning?path=%2F.ev2%2FServiceGroupRoot%2FTemplates%2FAppServiceCreation.json

There is an older api version of ARM templates 2017-01-12 where the identity property expects an arra

[2021-07-07 20:47] mmacy commented on #76926
@emmet-m Thanks for the bug report, Emmet! This article just went through a fairly major overhaul by @derisen in https://github.com/MicrosoftDocs/azure-docs/issues/76926 which took care of this and several other issues.

I'll close this issue as it's resolved the PR noted above, but if you notice any more syntax errors or other problems, we always appreciate the notification. Thanks again! #please

[2021-07-07 20:47] #76926 closed

[2021-07-07 21:01] jonstelly opened #78032 "AKS Virtual Nodes - Resources - Limits vs Requests"
Trying to launch a pod on an AKS Virtual Node, there appears to be a need to match limits to requests: https://github.com/virtual-kubelet/azure-aci/issues/17

That requirement is not at all intuitive and can be very difficult to do if using sidecars like a service mesh, etc...

If Limits of all containers in a pod > Requests of all containers in a pod, the ACI Connector gives the following error:

[2021-07-07 21:07] giovannifl commented on #77957
@MicrosoftGuyJFlo , yes I did: I executed az login as mentioned in the doc.
As explained in my original message, no issue from a Linux VM.
After further digging, I discovered that the root cause was that I was using a different version of the Windows 10 built-in OpenSSH client because of its issues ( https://github.com/PowerShell/Win32-OpenSSH/issues/1646 )

Now that Windows 10 2021 H1 has introdu

[2021-07-07 21:09] andrewbrownmsft commented on #77875
@SatishBoddu-MSFT, I need to assign this to someone else on my team. I don't see an option to do so, however?

[2021-07-07 21:16] rwike77 commented on #75211
OK, glad that helped.  I've also added some [more info on types of consent](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent#consent-types) to the article.  I'll close this issue now, feel free to re-open if need be.  #please-close

[2021-07-07 21:16] #75211 closed

[2021-07-07 21:16] MonikaReddy-MSFT commented on #77995
@yutaro113 -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-07 21:28] JamesTran-MSFT commented on #77741
@arbrctb
Thank you for the quick follow up and I'm glad that you were able to resolve this issue! I'll go ahead and close this out.

Adding the author @kenwith for visibility on updating this doc.
Thank you for your time and patience throughout this issue.

[2021-07-07 21:28] #77741 closed

[2021-07-07 21:31] JamesTran-MSFT commented on #78003
@christianrowlands
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-07 21:33] spelluru commented on #78028
Thank you @JoshLove-msft

I will be OOF next week. I will pick it up after I am back.

[2021-07-07 21:35] RomDaBoss commented on #77911
Hello this problem is already being resolved by a technician so no need for
anyone else thank you for your time

On Wed, Jul 7, 2021 at 11:38 AM AshokPeddakotla-MSFT <
***@***.***> wrote:

[2021-07-07 21:40] poyadav2001 opened #78033 "Missing ARM template support for assigning multiple user assigned managed identities"
In the 2018-06-01 api version, it is not possible to assign an array of user-assigned managed identities. The userAssignedIdentities object expects a dictionary, using copy creates an array so it is not possible to assign to dynamically assign a resource an array of managed identities

 Duplicate issue: https://github.com/MicrosoftDocs/azure-docs/issues/21258
 Solution suggested there will not wor

[2021-07-07 21:43] sneakernuts commented on #76386
Any updates on this? Thanks.

[2021-07-07 21:45] JamesTran-MSFT commented on #78010
@Vama97
Thank you for your question!

Could you give information about the pay per use?
- When it comes to subscription and billing information, please refer to our Subscription documentation for more info.

[Change your Azure subscription to a different offer](https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/switch-azure-offer)
[Pay-As-You-Go](https://azure.microsoft.com/en-u

[2021-07-07 21:45] #78010 closed

[2021-07-07 21:54] dimitri-furman commented on #78008
@laclefyoshi Thank you for letting us know about this discrepancy. We have corrected the outdated page, changes should be visible in a few hours.

[2021-07-07 21:56] JamesTran-MSFT commented on #78033
@poyadav2001
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-07 21:57] SnehaGunda commented on #77679
@ankku we're happy to help with this issue, however, this forum is for doc issues only,. For technical troubleshooting can you please either:
•	Post the question on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-cosmos-db.html) or
•	File a support ticket

We'll continue the discussion there.

[2021-07-07 22:09] autocloudarc opened #78034 "How long does it take for new custom role creation or updates to the JSON definition to apply to an assigned scope?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-07-07 22:09] santhoshbomma9 opened #78035 "Can we have multiple tax/payouts in the same seller/publisher account?"
Can we have multiple tax/payouts in the same seller/publisher account?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00448cbd-79ca-5067-9d01-7f99578864f7
* Version Independent ID: 07d739db-c455-fc2e-53c4-9109f4e966e8
* Content: [Create a commercial marketplace account in Partner Center - Azure Marketplace](https://doc

[2021-07-07 22:12] laujan commented on #75939
#please-close

[2021-07-07 22:12] #75939 closed

[2021-07-07 22:12] SnehaGunda commented on #76868
@nudbeach The V2 Async SDK will be deprecated in the future, we have the doc published to help the existing users on that SDK. There is a note on the page that says to use the latest v4 SDK. We will keep this page until the SDK is deprecated.

[2021-07-07 22:21] SnehaGunda commented on #76868
#please-close

[2021-07-07 22:21] #76868 closed

[2021-07-07 22:25] SnehaGunda commented on #77679
#please-close

[2021-07-07 22:25] #77679 closed

[2021-07-07 22:34] JamesTran-MSFT commented on #78021
@sidprasher
Thank you for your question!

You'll still have to use the Log Analytics agent since the Azure Monitor agent isn’t at parity yet with the current agents for other functionalities. As of right now, the only supported feature within SQL Server with the Azure Monitor Agent is SQL insights which is currently in public preview.

**Additional Info:**
[Should I switch to Azure Monitor agent?]

[2021-07-07 22:34] #78021 closed

[2021-07-07 22:37] SnehaGunda commented on #77173
@danielgerlag thank you for reporting, I fixed it in the above PR. Changes will be live tomorrow.

We will close this issue now.

#please-close

[2021-07-07 22:37] #77173 closed

[2021-07-07 22:46] mkumar1212 opened #78036 "Table partitioning source control section is misleading and does not work as expected"
The table partitioning source control section recommends defining the table in source control with a static DDL and then creating the actual partitions as part of deployment process. This recommendation does not solves the problem it intends to solve. Here are the issues with this approach:

- If table DDL is created as outlined in this article and is part of source control using the SSDT solution

[2021-07-07 23:03] normesta commented on #77845
Great feedback. Thank you for sharing. We'll review to ensure it clearly states this. For now, the article clarifies in two spots. The first spot is in the opening sentence where the term "copy" is used: "create a copy of your storage account in another region", and the second is in the modify the template step where this line appears: "Modify the template by changing the storage account name and

[2021-07-07 23:03] #77845 closed

[2021-07-07 23:14] normesta commented on #77812
Thanks @gkoperczak001! This looks like an issue with successfully completing the steps of a separate article. This specific article points that one, but I don't believe this specific article contains the problematic step. The doc issue likely best belongs in that article for the appropriate author to track - ([https://docs.microsoft.com/en-us/azure/hdinsight/hadoop/apache-hadoop-linux-create-clust

[2021-07-07 23:14] #77812 closed

[2021-07-07 23:57] euchungmsft commented on #76868
Thanks for the feedback @SnehaGunda. It would be much appreciated if you could respond with deprecation timeline. However this will be closed

[2021-07-07 23:59] JasonWHowell commented on #77812
I think you'd need to work with support via the Azure portal to raise the compute quota on the subscription. Its pretty easy, but I don't have access to a trial account to test it.

The doc explains it pretty well here: https://docs.microsoft.com/en-us/azure/hdinsight/quota-increase-request

[2021-07-08 00:09] JamesTran-MSFT commented on #77787
@DeanGross
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-07-08 00:09] #77787 closed

[2021-07-08 00:37] denniseik commented on #77100
@beandrad The workspace share commands were layering on top of `az role assignment create` commands and we believe it makes for more clarity to use these commands directly. You can find more details here https://docs.microsoft.com/en-us/cli/azure/role/assignment?view=azure-cli-latest.

[2021-07-08 00:46] BharathNimmala-MSFT commented on #78035
@santhoshbomma9 Thank you for reaching out with your query, assigned this issue to our document author @varsha-sarah to further review the query and share any insights.

[2021-07-08 01:10] Karishma-Tiwari-MSFT commented on #78026
It looks the author has updated this document with the new name - Azure virtual desktop. Please let me know specifically what changes you would like to see in the document and it will help the doc author make the updates. Thanks.

[2021-07-08 01:14] Karishma-Tiwari-MSFT commented on #78032
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-08 01:16] MonikaReddy-MSFT commented on #78014
@jstewart612 -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-08 01:20] ChaitanyaNaykodi-MSFT commented on #77988
Hello @pujvari, Thank you for reaching out.
I think the issue is due to the CRON expression used `* * * * * *` which runs an instance of the timer trigger every second. Can you try running the code with a more practical period ? (Like the example in the doc shows as `0 */5 * * * *`  which runs every 5 minutes)
As we primarily monitor this channel for any documentation updates and bugs,  we will no

[2021-07-08 01:20] #77988 closed

[2021-07-08 01:21] MonikaReddy-MSFT commented on #78016
@MWestermeier -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-07-08 01:51] ryoji-kawamura commented on #77649
@jeevansd  @GitaraniSharma-MSFT Can you please let me know what the status of this correspondence is?

[2021-07-08 02:02] ECNUJason commented on #77645
Awesome!

[2021-07-08 02:02] #77645 closed

[2021-07-08 02:17] MonikaReddy-MSFT commented on #78034
@autocloudarc -  Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-07-08 02:23] MayankBargali-MSFT commented on #77819
@TobiTh Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2021-07-08 02:24] ECNUJason commented on #77829
Let me try again and post the result here. Since got busy recently, and don't get a chance to retry now, let me close this first.

[2021-07-08 02:24] #77829 closed

[2021-07-08 02:24] SatishBoddu-MSFT commented on #77875
Hello @andrewbrownmsft Please let us know their GitHub alias and we will triage\assign appropriately.

[2021-07-08 02:25] jyotiprakash90 opened #78039 "Correction"
[Doc mentions "VMware HCX Advanced **Connector** is pre-deployed in Azure VMware Solution", it should be VMware HCX advanced **Cloud Manager** is pre-deployed in Azure VMware Solution..]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22ff7d16-d987-3269-aa24-876e8db911d6
* Version Independent ID: 8d92d8b7-f5a3-a220-603d

[2021-07-08 02:25] SamaraSoucy-MSFT commented on #77829
Not a problem. I should get pinged when you respond, but you can also @ me to make sure I get notified, or you can open a new issue if you are still having trouble.

[2021-07-08 02:27] #77819 closed

[2021-07-08 03:08] SatishBoddu-MSFT commented on #78000
Hello @rajdpandey Thanks for reaching out to us!

We are really sorry for the confusion caused in this matter. We try to help every customer to have a better experience with Azure.

Below are some of the reading which will help you get understanding.

**Azure IoT protocol gateway:**

[Support additional protocols for IoT Hub](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-protocol-gateway)

[2021-07-08 03:08] TsuyoshiUshio opened #78041 "This tutorial might need to configuration of the Storage Table"
I run through this tutorial to understand the Vnet integration with premium plan, then I found the table storage issue looks happens for the scaling metrics.

![image](https://user-images.githubusercontent.com/1390976/124855508-e4e38280-df5d-11eb-8c1d-4ebabc94c3e3.png)

Runtime Driven Scaling needs to connect storage table. I think this document missing this part.
I'm not sure if it is the best wa

[2021-07-08 03:17] MikeDodaro commented on #77829
Something else to consider: set the pricing tier to standard, not basic, when you create the virtual network.

[2021-07-08 03:22] YutongTie-MSFT commented on #77945
@shikha1970 Thanks for your feedback again, I have created a PR to fix this issue.

[2021-07-08 03:26] boriskudr opened #78042 "Inconsistent statements about path selection for "Multiple on-premises VPN devices" scenario."
Hi,

This page says that:

***
1. You should use BGP to advertise the same prefixes of the same on-premises network prefixes to your Azure VPN gateway, and the traffic will be forwarded through these tunnels simultaneously.
2. You must use Equal-cost multi-path routing (ECMP).
***

Another page provides different information:

https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-vpn-faq

[2021-07-08 03:32] #77945 closed

[2021-07-08 03:32] YutongTie-MSFT commented on #77945
You should see the fixing soon! We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-07-08 03:48] HarshitaSingh-MSFT commented on #77989
@gzmrst-sr, just checking in to see if you got a chance to see @MikeDodaro's reply.

[2021-07-08 04:04] langstonj opened #78045 "Adding Ledger to an existing SQL Database?"
The documentation covers CREATE DATABASE and CREATE TABLE for adding LEDGER functionality to new databases and tables but what about existing databases?  ALTER DATABASE doesn't appear to have a LEDGER option or am I just missing it?  I have 300 on separate elastic pools.
Thanks in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-07-08 04:07] AshokPeddakotla-MSFT commented on #78017
@javester Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-08 04:08] AshokPeddakotla-MSFT commented on #77999
@rajdpandey Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-07-08 04:13] AshokPeddakotla-MSFT commented on #77911
@RomDaBoss Thanks for the confirmation. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-08 04:13] #77911 closed

[2021-07-08 04:19] MartinJaffer-MSFT commented on #77361
@nunepalli I received some details.
While this is a valid metric, ADF is currently not outputting any events to it.  We hope to turn it back on soon, pending some bug fixes.

[2021-07-08 04:24] VikasPullagura-MSFT commented on #78039
@jyotiprakash90
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-07-08 04:24] VikasPullagura-MSFT commented on #78039
@shortpatti
Can you please check and add your comments on this doc update request as applicable.

[2021-07-08 04:33] benjamincburns commented on #64994
@SwathiDhanwada-MSFT @MSEvanhi sorry to chase, but this issue has been open for quite some time. I can't successfully implement a CRP without this knowledge, and this knowledge isn't currently in the documentation. Is there any update on when it will be added?

[2021-07-08 04:33] SnehaAgrawal-MSFT commented on #78030
@jsandersrocks Thank you for your feedback! We will review and update as appropriate.

[2021-07-08 04:43] benjamincburns commented on #64994
@MSEvanhi Given the above, how can my CRP endpoint determine the identity of the user/application that made the request to the ARM API?

If it's not possible to determine the AAD identity that made the request to the ARM API, how can I enforce authorization decisions within the CRP logic itself?

[2021-07-08 05:27] GitaraniSharma-MSFT commented on #78042
@boriskudr , thank you for your query. We'll review this and get back to you shortly!

[2021-07-08 05:27] gkoperczak001 commented on #77812
As far as i understand (from mentioned community response) we cant increase such limits in trial/mpn subscriptions. But i could be wrong.

Grzegorz

[2021-07-08 05:50] varsha-sarah commented on #78035
Tagging @shikhakohli to help on this question.

[2021-07-08 05:57] AnuragSharma-MSFT commented on #78001
@SnehaGunda Thanks for providing the details.

@steavy29 Please let us know if there are further questions regarding this matter, and we will gladly continue the discussion.

[2021-07-08 06:00] mourackb commented on #51543
Any updates regarding this functionality? Is it in GA?

[2021-07-08 06:04] AnuragSharma-MSFT commented on #77990
@v-smotonaga Thanks for pointing it out as I also noted the discrepancy in both the documents. This is being assigned to the content author to evaluate and update as appropriate.

[2021-07-08 06:06] AnuragSharma-MSFT commented on #78045
@langstonj Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-07-08 06:16] Dharm78 commented on #73242
Thanks

[2021-07-08 06:16] #73242 closed

[2021-07-08 06:19] KjellZijlemaker commented on #51543
Not that I know of. We have omitted to use this solution and completely work within a closed environment via private links.

[2021-07-08 06:24] ShaikMaheer-MSFT commented on #78036
@mkumar1212 Thank you for feedback. We are actively validating it. We will get back to you soon.

[2021-07-08 06:37] HarshitaSingh-MSFT commented on #77865
@dcbrown16, can you tell me which ToC had this page?

[2021-07-08 06:58] dcbrown16 commented on #77865
@HarshitaSingh-MSFT I don't know if there was something else before. Currently it shows as a Portal doc.
That seems fine, it should probably go in this section somewhere.
https://docs.microsoft.com/en-us/azure/azure-portal/supportability/per-vm-quota-requests

[2021-07-08 07:40] Shivani2596 opened #78049 "How to query data from graph cosmos DB using gremlin query in case insensitive manner?"
How to query data from graph cosmos DB using gremlin query in case insensitive  manner?
How can we implement the toUppercase or toLowercase operation to fetch data from the graph db?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8584b48f-a94a-04b9-b754-7e77974053c2
* Version Independent ID: cab88f8b-b622-5568-64c3-cca

[2021-07-08 07:40] ChezMose opened #78050 "Missing article on how to delete a workspace"
I am unable to delete unused Synapse workspaces.
The 'Support request page' indicates 2 articles:
- How to create a workspace
- How to delete a workspace
They both link to the create page. The delete page is missing.

Thanks for adding the procedure, I am unable to remove 2 test workspaces.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2021-07-08 07:43] steavy29 commented on #78001
@SnehaGunda thank you for clarifying that. I somehow missed that update of free tier limits.
Will close this issue now.

[2021-07-08 07:43] #78001 closed

[2021-07-08 07:57] gzmrst-sr commented on #77989
Yes, getting the access token is not a problem, knowing what to do with it is.
It's this line in the docs : 'Put the access token in a header to provide authorization.'

Which header?
And an example using e.g. curl would be an enormous help.

[2021-07-08 08:24] BhargaviAnnadevara-MSFT commented on #77783
@LimingRenPA We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-07-08 08:24] #77783 closed

[2021-07-08 08:25] BhargaviAnnadevara-MSFT commented on #77791
@LimingRenPA We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-07-08 08:25] #77791 closed

[2021-07-08 08:32] priyankareddy20 opened #78051 "Microsoft trusted OATH hardware token vendors."
Leveraging OATH hardware tokens for the 1st time, I would like to know the Microsoft trusted OATH hardware token vendors.

Could you please add the trusted list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3580bf07-789b-a9c0-26c2-68d21eb66b70
* Version Independent ID: f61c354b-cac2-c3e2-881a-2f0540bdd8e1
* Content:

[2021-07-08 08:47] shashishailaj commented on #77843
@BryRamCam I had a discussion with one of the teams who works on this from product group and they agreed to update this collection. They have added this as a work item on their side and I will update once I have more information on this.

[2021-07-08 08:47] DavidJFowler opened #78052 "Configure allowedAudiences for openIdConnectProviders"
Is it possible to configure for allowed audiences for openIdConnectProviders when using file based authentication?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca023618-58e6-d10c-d736-5fb42a028ec9
* Version Independent ID: 2b9d2673-c57f-c5b7-a2e3-ff04ff16a31d
* Content: [File-based configuration of AuthN/AuthZ - Azur

[2021-07-08 09:05] pwmusic opened #78053 "Please make this a true just-in-time task, *not* a several-hours-after-just-in-time one"
I approve 100% of the idea and intention.

I disapprove 100% of the implementation.

Due to the length of time spent waiting for elevation rights to kick-in, this is *not* just-in-time, it is several-hours-after-just-in-time.

Temporary admin tasks that require elevation are mostly small tasks that need implementing immediately, not 40 minutes later. (Or, in one case, over two hours later.)

Pleas

[2021-07-08 09:20] lukju opened #78054 "Does not seem to work with App Permissions"
I tried the feature of resetting the redemption status using MS Graph Explorer webapp - it works there without any issues.
But as soon as I call the same service in my .NET Core app using App permissions, i get an error:

[code]

The app has Directory.ReadWrite.All as well as User.Invite.All permissions granted. And the invitation without the resetRedemption switch works. I used the Beta endpoint

[2021-07-08 09:29] psmanhas commented on #77904
@Swimburger Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-07-08 09:29] #77904 closed

[2021-07-08 09:45] hanslai opened #78055 "No doc for how to do automatic Integrated Testing with Azure Ad (Microsoft identity platform)"
I am looking for a way to do automatic Integrated Testing for Web Api with Azure ad.  Yet under the entire section of "Microsoft identity platform documentation"  there is nothing mention related to test at all.

Please add a testing section since testing is so important for quality software development.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2021-07-08 09:48] wladinho31 opened #78056 "Microsoft.Compute/virtualMachines/runCommand/action permission missing"
Hello,

Permission `Microsoft.Compute/virtualMachines/runCommand/action`, which is mentioned in the article, under the **_Limiting access to Run Command_** part, is no longer available.

There are only available permissions read, write, and delete.

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 792f4871-0d07-6

[2021-07-08 09:48] HarshitaSingh-MSFT commented on #78053
Hello @pwmusic , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-07-08 10:00] amanmcse commented on #77992
For SAML integration, Azure AD B2C depends on the the properties exposed in Application Manifest. There are a few but not all properties exposed in the Metadata to provide the information required for integration with the relying party application, which is why specifying the Metadata URL or link to XML doc is required.

[2021-07-08 10:00] #77992 closed

[2021-07-08 10:03] AnuragSharma-MSFT commented on #78049
@Shivani2596 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-07-08 10:04] JayaChatterjee-MSFT commented on #77725
@ggailey777 Could you please look into it and share your feedback?

[2021-07-08 10:20] diegoalb opened #78057 "Remove the comments on the example output for the Az version 1.10.0 modules"
Hello,

There is this comment line on the example output of the Step 4: Set up Azure PowerShell on the client

**"this doesn't look correct. Neeraj to provide one for PS core"**

We may want to remove the comment, or push Neeraj to adjust the sample output :)

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c82f

[2021-07-08 10:25] HarshitaSingh-MSFT commented on #78054
Hello @lukju, thanks for the question! We are taking a look into this and will get back to you soon.

[2021-07-08 10:29] MWestermeier commented on #78016
Hi @MonikaReddy-MSFT -
thanks for your quick reply.
I am referring to this document: https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory-b2c/add-password-reset-policy.md
Indeed I think, it is worth to extend the document in the end and explain why adding the new ClaimsProvider can do trouble to the existing html/CSS templates (as I experienced and have described above

[2021-07-08 10:49] MonikaReddy-MSFT commented on #78056
@wladinho31 - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-07-08 10:55] HarshitaSingh-MSFT commented on #77920
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-08 10:55] #77920 closed

[2021-07-08 10:56] MonikaReddy-MSFT commented on #77866
@claire-q - The article that you are citing already has the answer in the documentation.

It's the third note here: https://docs.microsoft.com/en-us/azure/storage/file-sync/file-sync-planning#backup

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly conti

[2021-07-08 10:56] #77866 closed

[2021-07-08 11:00] MonikaReddy-MSFT commented on #77869
@jyama4ta - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-08 11:00] #77869 closed

[2021-07-08 11:04] MonikaReddy-MSFT commented on #77956
Thanks again for bringing this to our attention. The doc is updated with necessary changes it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-08 11:04] #77956 closed

[2021-07-08 11:11] SnehaAgrawal-MSFT commented on #78052
@DavidJFowler Thank you for your feedback! We will review and update as appropriate.

[2021-07-08 11:15] ddexter26 opened #78058 "The doc says AVD but the portal says WVD"
![image](https://user-images.githubusercontent.com/17059874/124912630-d2c01d80-e00b-11eb-99f2-df6975bf95e8.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fac2ed89-73b2-b382-d331-bef4df300297
* Version Independent ID: a4364f7a-f260-36db-b08e-08c5a3a4762c
* Content: [Start virtual machine connect - Azure](https://do

[2021-07-08 11:21] jyama4ta commented on #77869
Thanks @MonikaReddy-MSFT !! 💯

[2021-07-08 11:36] psmanhas commented on #78058
@ddexter26 Thank you for sharing your query!!!

Recently Windows Virtual Desktop has been renamed to Azure Virtual Desktops. Our documentation is reflecting same but work is underway to change it on portal side as well.

We have already shared the feedback as well to mention same in documentation to avoid confusion for time being and rest assured it is being worked upon.

Hope it helps!!!

[2021-07-08 11:48] wladinho31 commented on #78056
Hello,

This is a link for official docs. https://docs.microsoft.com/en-us/azure/virtual-machines/linux/run-command#limiting-access-to-run-command

A mentioned permission `Microsoft.Compute/virtualMachines/runCommand/action` is not visible in portal.

If I try to create a custom role, as explained on this page, but there are only read, write, and delete permissions.

![image](https://user-images.g

[2021-07-08 12:00] stefan923456 opened #78059 "Azure VPN Config updates."
[Enter feedback here]
Azure VPN with Intune config deployment works only once. If you deploy a config to the client it works. If you change the XML and upload in the same config or in a new config to the same device the config never gets updated. It needs a manual removal of the VPN connection, removal of the Azure VPN client and a reinstall of the Azure VPN client to get it to work.

I think this

[2021-07-08 12:25] psmanhas commented on #77929
@NakayamaKento I did the repro on my side and encountered a similar error.
@cynthn Do you have any inputs on the mentioned issue or can we enhance the script to reflect same?

Thanks

[2021-07-08 12:29] mstair opened #78060 "Export rule disable requires --tables argument"
The --tables arg is required to update an existing rule

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5daf3365-76b8-b98f-7fc8-51f520e6276b
* Version Independent ID: 93a216a6-fd66-cc0a-9346-58955bd0a7ba
* Content: [Log Analytics workspace data export in Azure Monitor (preview) - Azure Monitor](https://docs.microsoft.co

[2021-07-08 12:31] HarshitaSingh-MSFT commented on #78054
@lukju, for troubleshooting questions, please post a question [here](https://docs.microsoft.com/en-us/answers/topics/azure-active-directory.html).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-08 12:31] #78054 closed

[2021-07-08 12:48] shortpatti commented on #78039
#please-close

This topic is currently being updated with new and updated content and screenshots.

[2021-07-08 12:48] #78039 closed

[2021-07-08 12:59] nunepalli commented on #77361
@MartinJaffer-MSFT
We want alerts for long-running and failed pipelines.
It would be really appreciated if you can help me understand when I can get those alerts setup in ADF and also in synapse ADF.

[2021-07-08 13:02] autocloudarc commented on #78034
Sure, it's: https://docs.microsoft.com/en-us/azure/role-based-access-control/custom-roles
It just doesn't mention when we should expect a manual change to the JSON role definition from the portal to take effect, so I'm asking on behalf of one of my clients because he demonstrated that even after editing a custom role JSON definition in the portal, the changes didn't apply during his tests until ab

[2021-07-08 13:17] dibyendupal05 commented on #52844
I think I found a solution , Rather than using the **[newGuid()]** function that can only be used in the scope of parameter declaration , I used the **[guid()]** function inside the resources.name. I used relevant workbook details to generate the guid.
After using this my ARM template has become idempotent.

https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-functions

[2021-07-08 13:25] mhmoore12 opened #78062 "Minimum Physical Distance Between AZs within a Region"
Hello,

I have a client who has minimum requirements for distance between data centers. What is the minimum distance between data centers (particularly US East)? This would be helpful info to have in the article by Region.

Thanks,

Michael

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ef6739c-50e6-e80b-cfc1-4d7d5b5d

[2021-07-08 13:26] beowulf79 opened #78063 "Service Principal to a group"
Hello team,

I've a question regarding the statement found in the Wiki:

_"currently if you add a service principal to a group, and then assign an app role to that group, Azure AD does not add the roles claim to tokens it issues."_

It seems to me a glitch, is there a bug filled somewhere on github ? Or, do you have any ETA for when it will be fixed ?

Thanks,
Christian.

[Enter feedback here]

--

[2021-07-08 13:27] subommu opened #78064 "Error when running the starter kit script"
[Enter feedback here]

Hello, while trying the steps in the Purview tutorial [here](https://docs.microsoft.com/en-us/azure/purview/tutorial-scan-data),  the step .\RunStarterKit.ps1 -  errors out with "You must use multi-factor authentication to access tenant". I didn't know a work around to keep MFA in place but still progress. For the time being i disabled mfa on this account and continued with

[2021-07-08 13:35] LockTar opened #78065 "Custom attributes are case sensitive"
The documentation is not completely correct. As not documented but very important is that custom attributes are case sensitive. So the example on this page talks about `LoyaltyId` with a capital L.
The extension attribute is then `"extension_831374b3bd5041bfaa54263ec9e050fc_LoyaltyId": "212342"` and not `"extension_831374b3bd5041bfaa54263ec9e050fc_loyaltyId": "212342"` as stated at the bottom.

Th

[2021-07-08 13:43] simonfrindberg opened #78066 "Doesn't work behind proxy"
This feature isn't working if the device is behind a proxy.
I tried a normal simulated device using C# and it picked up the env for proxy.
I'am using ubuntu 18.04.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31cd2f69-1c17-95fe-49b7-f1ad2705e8ba
* Version Independent ID: 3fa1a754-75a7-5dcd-1892-b76fea68cd19
* Content

[2021-07-08 13:50] Restry opened #78068 "api management gateway how to offline restart with backup snapshot ?"
i'm not very sure it this description means the gateway can be able to start without internet ? if they have been run with the backup ?

_When configuration backup is turned on and connectivity to Azure is interrupted:

Running self-hosted gateways will continue to function using an in-memory copy of the configuration
Stopped self-hosted gateways will be able to start using a backup copy of the co

[2021-07-08 13:58] MonikaReddy-MSFT commented on #78041
@TsuyoshiUshio -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-08 13:59] LockTar opened #78069 "What will happen with the data of the custom attribute when you remove a custom attribute"
Hi,
I have a data problem in my B2C instance. I have a custom attribute called `userType` (small letter u). I store and query my data with the microsoft graph api SDK (C#) as `extension_{number here}_UserType` (capital U). A few weeks back (around june 16th) my app went down because querying data with the custom attribute name UserType (capital U) couldn't find the records anymore. The result of t

[2021-07-08 14:26] MGoedtel commented on #77820
@davi-cruz - Thanks for bringing this to our attention.  I'll create a work item for this and see about updating the article before the week is over.  #please-close

[2021-07-08 14:26] #77820 closed

[2021-07-08 14:26] leonard520 commented on #77989
@gzmrst-sr Thanks for the feedback. Please check the example below if any help.
curl --request GET 'https://{SERVICE_NAME}.svc.azuremicroservices.io/config/actuator/'' \
--header 'Authorization: Bearer {TOKEN_FROM_PREVIOUS_STEP}'

[2021-07-08 14:45] arcpan opened #78070 "Availability of MariaDB 10.4"
[Enter feedback here]
We are planning to use Azure Database for MariaDB. We only see version 10.2 and 10.3 available. When can we expect that V10.4 will be available?

https://docs.microsoft.com/en-us/azure/mariadb/concepts-supported-versions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f5e4798-d1ea-e82b-0459-2e2683

[2021-07-08 15:01] LockTar commented on #78069
The UI in Azure B2C says that all data will be removed but I tested it and the data is still there after an hour.
Steps to reproduce:

1. Create custom attribute `shoeSize`
2. Patch data of a user xxx with custom attribute name `ShoeSize` (capital S) and as value '45'
3. Query `ShoeSize` (with capital) and see '45' as a result
4. Delete the custom attribute `shoeSize` (with small letter s)
5. Try

[2021-07-08 15:07] kzk839 opened #78071 "Can't open this page in ja-jp"
These 2 pages are translated in GitHub but I can't open it in ja-jp. And there are no links to these.
I can't create issue on azure-docs.ja-jp so I created here.

・Japanese Translated page 1
https://github.com/MicrosoftDocs/azure-docs.ja-jp/blob/master/articles/azure-vmware/set-up-backup-server-for-azure-vmware-solution.md

・Japanese Translated page 2
https://github.com/MicrosoftDocs/azure-docs.ja

[2021-07-08 15:18] mkistler opened #78072 "Minor problems with Blob Storage Quick Start"
The instructions in the section "Copy your credentials from the Azure portal" are confusing.

To start, the instructions "In the Security + networking section of the storage account overview," are confusing because when I go to storage account I am initially placed in the "Overview"

![image](https://user-images.githubusercontent.com/800728/124944957-9b794e80-dfc2-11eb-8434-ac640619ee44.png)

So I

[2021-07-08 15:21] savjani commented on #78070
Hi @arcpan - MariaDB 10.4 is upgrade is not part of immediate plans in next 3 months. Our current focus is to land Azure Database for MySQL Flexible server to GA. Have you considered or evaluated MySQL Flexible Server?

[2021-07-08 15:26] xuwenjian1995 opened #78073 "APIM related"
[Enter feedback here]
can anyone could help me understand the CA certificates and certificates in the APIM on the Azure Portal. May I know the differences of them and how they work with APIM ? Thank you so much.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e20660e-86ff-b872-628b-4b61c2bb63fe
* Version Independent ID

[2021-07-08 15:28] kxs399 commented on #77571
In bash,  to compute tomorrow's date we can use  date command since " (get-date)." is not valid in bash
tomorrowDate=$(date -d "1 day"  -u +"%Y-%m-%dT%H:%M:%SZ")

[2021-07-08 15:33] SatishBoddu-MSFT commented on #78066
Hello @simonfrindberg

Could you please elaborate more on the issue, with the error screenshots or any logs which would make us to better understand?

![image](https://user-images.githubusercontent.com/62923178/124949219-37588980-dfc6-11eb-8a8b-3f5b5428a75b.png)

[2021-07-08 15:35] shortpatti commented on #78071
Triaging now

[2021-07-08 15:37] inaun commented on #37163
If using a managed certificate, exporting the ARM template does not have any configuration information for enabling HTTPS

[2021-07-08 15:58] iching2 opened #78074 "Provide an example without implicit grant?"
From https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-implicit-grant-flow
_"With the plans for third party cookies to be removed from browsers, the implicit grant flow is no longer a suitable authentication method."_

Can this same example be modified to not use implicit grant? Or perhaps I am getting things confused and the implicit grant in this example is different from

[2021-07-08 16:08] jmprieur commented on #78074
@iching2 this is not implicit grant, this is the hybrid flow.

[2021-07-08 16:18] anwarmahmood1 opened #78075 "are the code examples formatted with Github Markdown?"
eg for the first example, your page shows...

`c:[Type == "[https://schemas.microsoft.com/ws/2008/06/identity/claims/groupsid](https://schemas.microsoft.com/ws/2008/06/identity/claims/groupsid)",
`
should it be...
`c:[Type == "https://schemas.microsoft.com/ws/2008/06/identity/claims/groupsid",`

For users unfamiliar with claims markup language, this is *HUGELY* frustrating!

[Enter feedback here]

[2021-07-08 16:24] iching2 commented on #78074
So this will still work when third party cookies are removed from browsers?

[2021-07-08 16:33] seraosnuno opened #78077 "Code doesn't work, so a quick way to send notifications to android devices through notification hubs is currently unavailable!"
The class **RegistrationIntentService** that is the core of the app is totally deprecated taking the tutorial impractical.

_import com.google.firebase.iid.FirebaseInstanceId_ and _import com.google.firebase.iid.InstanceIdResult_ are deprecated and it would be of great help if you help to replace the code with what seems to be the replacements: FirebaseInstallations and FirebaseMessaging.getToken(

[2021-07-08 16:34] BharathNimmala-MSFT commented on #77744
@pjrcdf Our sincere apologies for delay in getting back to this thread. I am further validating about your query with our internal team and will get back to you as I hear more information.

[2021-07-08 16:37] #77773 closed

[2021-07-08 16:37] trkeya commented on #76041
@iqshahmicrosoft

[2021-07-08 16:39] JamesTran-MSFT commented on #78051
@priyankareddy20
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-08 16:40] JamesTran-MSFT commented on #78055
@hanslai
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-08 16:45] JamesTran-MSFT commented on #78065
@LockTar
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-08 16:49] JamesTran-MSFT commented on #78063
@beowulf79
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-08 16:49] JamesTran-MSFT commented on #78069
@LockTar
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-08 16:55] JamesTran-MSFT commented on #78075
@anwarmahmood1
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-08 17:14] #77756 closed

[2021-07-08 17:14] himanshusinha-msft commented on #77848
We are closing this issue as we have not heard back from you , you can always re-open the issue if you think that appropriate .

[2021-07-08 17:14] #77848 closed

[2021-07-08 17:15] SaiKishor-MSFT commented on #78059
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-08 17:18] cynthn commented on #77929
@psmanhas I've created a pull request to add the `--location` parameter to that section.

Thank you!

#please-close

[2021-07-08 17:18] #77929 closed

[2021-07-08 17:22] RyanHill-MSFT commented on #19952
Closing this issue as there are no Linux restrictions with regards VNET integration.

[2021-07-08 17:22] #19952 closed

[2021-07-08 17:22] SaiKishor-MSFT commented on #76824
@spissay Firstly I apologize for the delay in response to this question.

There is no out of box setup that would enable you to report log analytics data to slack. You will need to check for action types with in action groups ... either via webhook or logic apps you need to invoke them and customize to invoke slack from there.

Here is some documentation that you can refer to:

https://docs.micros

[2021-07-08 17:23] ROSMITHJ-MSFT opened #78078 "Please state explicitly that NPM is being deprecated"
Howdy y'all!

I see some of the verbiage alluding to the fact, but just for the sake of clarity, could we list out the fact that NPM is being deprecated?

Much obliged!

https://azure.microsoft.com/en-us/updates/we-re-retiring-network-performance-monitor-on-29-february-2024/

Because the new Connection Monitor in Azure Network Watcher enhances your monitoring experience, we retire Network Performa

[2021-07-08 17:37] SnehaGunda commented on #77283
@patanric This forum is for doc issues only, I don't see a doc update per this issue. We're happy to help further, for technical troubleshooting can you please either:

* Post the question on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-cosmos-db.html) or
* File a support ticket

Thanks,
Sneha

[2021-07-08 17:37] SnehaGunda commented on #77283
#please-close

[2021-07-08 17:37] #77283 closed

[2021-07-08 17:44] SaiKishor-MSFT commented on #77758
@rajeevmv The Bastion FAQ explains correctly regarding the Azure services overlap with the names listed (core.windows.net
& azure.com), thus avoid integrating the endpoint with private DNS zone. This is correct and need to be setup as mentioned.

Please let us know if you have any further questions and we will be glad to assist further. Thank you!

[2021-07-08 17:45] jeevansd commented on #77649
@CelesteDG Can you please help on the localization team who can get this fixed in Japanese language?

[2021-07-08 17:46] vlado101 opened #78079 "Possible bug when using Azure DevOps release pipeline and Azure Databricks Delta Lake LS"
Hello,

I am running into an issue when I am am trying to promote a pipeline that uses Azure Databricks Delta Lake LS through our Azure DevOps release pipeline.

Our ADF pipeline uses the LS to do a quick look up on a parquet file. This parquet file was created using Databricks. In the LS we have fields for domain and existing cluster id.

![image](https://user-images.githubusercontent.com/9321800

[2021-07-08 17:46] vlado101 opened #78080 "Possible bug when using Azure DevOps release pipeline and Azure Databricks Delta Lake LS"
Hello,

I am running into an issue when I am am trying to promote a pipeline that uses Azure Databricks Delta Lake LS through our Azure DevOps release pipeline.

Our ADF pipeline uses the LS to do a quick look up on a parquet file. This parquet file was created using Databricks. In the LS we have fields for domain and existing cluster id.

![image](https://user-images.githubusercontent.com/9321800

[2021-07-08 17:47] vlado101 opened #78081 "Possible bug when using Azure DevOps release pipeline and Azure Databricks Delta Lake LS"
Hello,

I am running into an issue when I am am trying to promote a pipeline that uses Azure Databricks Delta Lake LS through our Azure DevOps release pipeline.

Our ADF pipeline uses the LS to do a quick look up on a parquet file. This parquet file was created using Databricks. In the LS we have fields for domain and existing cluster id.

![image](https://user-images.githubusercontent.com/9321800

[2021-07-08 17:53] vlado101 commented on #78080
closed as this is a duplicate

[2021-07-08 17:53] #78080 closed

[2021-07-08 17:53] vlado101 commented on #78079
closed as this is a duplicate

[2021-07-08 17:53] #78079 closed

[2021-07-08 17:57] vlado101 opened #78082 "Possible bug when using Azure DevOps release pipeline and Azure Databricks Delta Lake LS"
Hello,

I am running into an issue when I am am trying to promote a pipeline that uses Azure Databricks Delta Lake LS through our Azure DevOps release pipeline.

Our ADF pipeline uses the LS to do a quick look up on a parquet file. This parquet file was created using Databricks. In the LS we have fields for domain and existing cluster id.

image

When I hit the publish button I notice that in the

[2021-07-08 18:06] PhaedrusM42 commented on #78019
I tried this again at about 2pm Eastern on 7/8/2021 - still had the same issue.

[2021-07-08 18:11] Shaked opened #78083 "You can no longer access the docker engine, /var/run/docker.sock, or use Docker-in-Docker (DinD)."
Is there a reason for DinD to stop working? The all idea of DinD is to maintain its own docker.sock instead of the one that used to run the k8s node. Can you elaborate?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1e42fdb-aa59-786b-ba0d-659f67db3cf3
* Version Independent ID: cc199e1d-6737-5f52-f2a2-b6c0b603dbdc
* Co

[2021-07-08 18:17] arcpan commented on #78070
we have not evaluated MySQL Flexible Server. We are trying to use MVP approach to migrate on-prem load to Azure  and then   modernize application using Azure PaaS services.

[2021-07-08 18:18] #76725 closed

[2021-07-08 18:24] MW-b0t opened #78084 "Need programmatic method to pull ASE management addresses"
Parsing a webpage or markdown file isn't really a great option.

If we could get a generic method for pulling all these addresses then we could automate our processes better.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80d8f411-2e7f-abc4-3e62-8b467e2409e7
* Version Independent ID: b4737b1d-b963-2ee4-aed0-558c80f0270

[2021-07-08 18:25] chtourou-youssef opened #78085 "Azure Web App for container and swap support"
In documentation, Microsoft don't say if this feature is supported in Azure web app for container ( Linux )

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6e09089-1ae2-8943-5ce2-9d48f458c81f
* Version Independent ID: ba780cba-f604-b0a4-a81a-23c7d2384762
* Content: [Set up staging environments - Azure App Service](http

[2021-07-08 18:27] ChaitanyaNaykodi-MSFT commented on #78068
Hello @Restry,
Thank you for your feedback! We will review and update as appropriate.

[2021-07-08 18:29] weevil44 opened #78086 "Databricks name length"
The resource name rules page says the workspace name must be between 3 and 30 characters.  This is not accurate.  It should be between 3 and 64 characters.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 374ec8eb-64d4-3766-5c5e-39137a262ffd
* Version Independent ID: 3abeeae9-6854-651a-483c-a1673eea9f9f
* Content: [Resou

[2021-07-08 18:32] RyanHill-MSFT commented on #60280
The doc has been updated to include a table of CIDR block recommendations.

[2021-07-08 18:32] #60280 closed

[2021-07-08 18:35] tacharyagithub opened #78087 "The solution is throwing error in high concurrency cluster"
hi there,

I am trying the provided solution to move data from databricks to synapse using a high concurrency cluster and below piece of code is throwing error. Since it is a high concurrency cluster I have to write code in python.

Code where it is failing is

sc._jsc.hadoopConfiguration().set(acntInfo, blobAccessKey)

error is

Py4JError: An error occurred while calling o241.hadoopConfiguration.

[2021-07-08 18:39] msangapu-msft commented on #60957
#please-close

[2021-07-08 18:39] #60957 closed

[2021-07-08 18:49] msangapu-msft commented on #74081
#reassign: msangapu-msft

[2021-07-08 18:57] MSEvanhi commented on #64994
@benjamincburns You can determine the custom provider that is making the call from X-MS-CustomProviders-RequestPath. Since not all custom providers are used via apps, we don't have any built-in forwarding of which app called it.

An example of that is show in this doc: https://docs.microsoft.com/en-us/azure/azure-resource-manager/custom-providers/proxy-resource-endpoint-reference#create-a-custom-r

[2021-07-08 19:02] MicrosoftGuyJFlo commented on #77957
Awesome! Glad you were able to resolve it @giovannifl

[2021-07-08 19:06] lgayhardt commented on #76557
#please-close

[2021-07-08 19:06] #76557 closed

[2021-07-08 19:06] MonikaReddy-MSFT commented on #78060
@mstair - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-08 19:07] lgayhardt commented on #77709
#please-close

[2021-07-08 19:07] #77709 closed

[2021-07-08 19:13] alephenne opened #78088 "French version of the page contains different (wrong) information"
In the Azure Monitor Limits, the english version states :
    Log alerts | 1000 active alert rules per subscription. 1000 active alert rules per resource.
while the french version indicates
    512 règles d’alerte actives par abonnement. 200 règles d’alerte actives par abonnement.
which is not only different from the english version, but also contradictory : is it 512, or 200 : both have "abonneme

[2021-07-08 19:24] loza0269 opened #78089 "Advanced Settings no longer exists for resolution of Azure Monitor not picking up custom logs"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8de16fd2-54aa-1f46-0a42-d1540d937d03
* Version Independent ID: 7a4964d7-8dc9-e838-4d81-914e9c31645b
* Content: [Troubleshoot Azure Log Analytics Linux Agent - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/agents/agent-linux-troub

[2021-07-08 19:28] tfitzmac commented on #78086
@weevil44 - thanks for this feedback. How are you creating a workspace with name of greater than 30 characters?

I am seeing conflicting information. The REST API specification indicates the max length should be 64 characters. However, the portal limits input to 30 characters. I thought there might be a problem with portal validation so I deployed an ARM template with a name of 56 characters but t

[2021-07-08 19:34] patanric commented on #77283
@SnehaGunda this is not the problem. I changed the IP addres to one that suits my necessities. But according this documentation the Cosmos DB should then be reachable at the defined address. But, in reality it gets another, random address but still in the same subnet. For example I define 172.21.83.126, but it runs with 172.21.83.86.
The rest of the compose file is the same as the documentation.

[2021-07-08 19:35] RyanHill-MSFT commented on #18613
This was addressed in a prior update and should no longer be an issue.

[2021-07-08 19:35] #18613 closed

[2021-07-08 19:45] tfitzmac commented on #77920
@jdelforno - By "UI", do you mean the Azure portal or your own UI? The portal does a lot of the validation already. Some of the validation can't be completed until deployment, such as detecting naming conflicts.

I could create a JSON file, but I'm not sure this content is really the best source for automated checks. The fields are meant to be more descriptive than uniform structures. For example,

[2021-07-08 19:48] JamesTran-MSFT commented on #78065
@LockTar
I've created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2021-07-08 19:48] #78065 closed

[2021-07-08 19:49] tomcam opened #78090 "Link needed to "Resource Manager deployment model""
Love your work, docs people! Trying to figure out how to get a MacVPN client running and this note tells me something that's not helpful without a link. The "Note" graf says "Mac VPN clients are supported for the Resource Manager deployment model only. They are not supported for the classic deployment model."

I don't know what the Resource Manager deployment model is. I'd like an authoritative li

[2021-07-08 19:54] JamesTran-MSFT commented on #78051
@priyankareddy20
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-08 19:56] tfitzmac commented on #78086
@weevil44 - correction on earlier post. Deploying an ARM template with a longer name worked. I passed in the wrong parameter file.

I'll update the doc with the correct limit.

[2021-07-08 19:56] kayoshino opened #78092 "Update list of valid certitifacte issuer thumbprints in Service Fabric from powershell"
When using certificate common name to validate certificates in Service Fabric, our team occasionally needs to update the list of valid issuer thumbprints on our service fabric cluster when we roll over to a new cert with a new issuer. Is there any PowerShell command to pull this off? It would be nice to use in an automation script, since we use the VMSS extension to auto rotate our certs. The less

[2021-07-08 19:57] cynthn commented on #77700
#please-close

[2021-07-08 19:57] #77700 closed

[2021-07-08 20:01] yikei opened #78093 "Incorrect link to Azure CLI"
The second link in the sentence "You can also browse available images and offers using the Azure Marketplace or the Azure CLI." is supposed to link to "Azure CLI", but instead it links to the current page.

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/cli-ps-findimage

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2021-07-08 20:02] MikeDodaro commented on #77989
Added to documentation as follows:
3. Access the composed endpoint with the access token. Put the access token in a header to provide authorization: `--header 'Authorization: Bearer {TOKEN_FROM_PREVIOUS_STEP}`. Only the "GET" method is supported.

It should be published this afternoon.

[2021-07-08 20:03] SatishBoddu-MSFT commented on #78050
Hello @ChezMose
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-07-08 20:04] MonikaReddy-MSFT commented on #78057
@diegoalb - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-07-08 20:06] MonikaReddy-MSFT commented on #78062
@mhmoore12 -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-08 20:07] MonikaReddy-MSFT commented on #78064
@subommu - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-07-08 20:08] jlichwa commented on #77420
Feature is GA. @alfredogan and @cpinotossi the Application Gateway is calling secrets API to retrieve certificate and then you need Secrets User role for it.
Roles correspond to permissions for Key Vault API so depends what API is called by app or service , the equivalent permissions are needed. I believe that Application Gateway may need Certificate Officer and Secrets User roles for their use ca

[2021-07-08 20:08] #77420 closed

[2021-07-08 20:08] mike-urnun-msft commented on #78073
Hello @xuwenjian1995 - Thank you for your feedback! We will review and update as appropriate.

[2021-07-08 20:08] anastasia-ms commented on #77844
@manhquang144. Have you looked at this documentation?

https://docs.microsoft.com/en-us/rest/api/maps/render/get-map-image#uri-parameters

[2021-07-08 20:09] RyanHill-MSFT commented on #21316
We've updated the doc to provide further clarification. If there is something that isn't quite clear, please do open a new issue.

[2021-07-08 20:09] #21316 closed

[2021-07-08 20:14] Phanita commented on #78071
test comment for notification

[2021-07-08 20:16] jlichwa commented on #77070
@mvzink can you clarify your issue and where are you seeing error.
In role above you give key vault (global id) permission to regenerate keys:

[2021-07-08 20:27] jlichwa commented on #75516
#please-close

[2021-07-08 20:27] #75516 closed

[2021-07-08 20:30] tfitzmac commented on #78086
The update will get published later today.
#please-close

[2021-07-08 20:30] #78086 closed

[2021-07-08 20:35] mrbullwinkle commented on #77348
Going to close this out since the PM team has addressed the question.

[2021-07-08 20:35] mrbullwinkle commented on #77348
#please-close

[2021-07-08 20:35] #77348 closed

[2021-07-08 20:43] marc181982 opened #78094 "Unclear documentation"
Postman obviously doesn't work anymore since the session expired. Next to that, the documentation is unclear on how to use Postman.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58bc32c3-9e21-a56a-f876-3e750576f228
* Version Independent ID: 83231247-55a8-e69b-0712-8c7b1481a02d
* Content: [OAuth 2.0 device code flow -

[2021-07-08 20:48] RyanHill-MSFT commented on #20348
Apologies for delays but please do see https://github.com/Azure/azure-quickstart-templates/tree/master/quickstarts/microsoft.web/app-service-regional-vnet-integration for ARM and Bicep templates.

[2021-07-08 20:48] #20348 closed

[2021-07-08 20:49] JamesTran-MSFT commented on #78094
@marc181982
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-08 20:56] hpsin commented on #78094
Heya! Postman is a handy tool for testing REST APIs that lets you control all of the various aspects of an HTTP request - think cURL on steroids. The collection itself explains how to use the Microsoft-specific requests (e.g. run GET requests in your browser, which generates a session and auth artifacts).  You can learn more about how to use Postman on [their website](https://learning.postman.com/

[2021-07-08 20:58] #78094 closed

[2021-07-08 21:11] BharathNimmala-MSFT commented on #78088
@alephenne Thanks a lot for taking time to share your feedback, I have escalated this issue to our internal team who looks into localized content and they help review the feedback and update the document accordingly.

At this point it appears that there's no further edits or updates needed to the English version of the documentation. We will go ahead and close this issue for now, however if you ha

[2021-07-08 21:11] #78088 closed

[2021-07-08 21:24] manhquang144 commented on #77844
Hi @anastasia-ms I already read at that one, doesn't seem to mention the paths and pins render order in the map image, unless I missed something ?

[2021-07-08 21:40] tamram commented on #77824
#please-close

[2021-07-08 21:40] #77824 closed

[2021-07-08 21:48] lgayhardt commented on #77012
@mcurko sorry for the delay. The code that should be added to the web.config are httpModules, dependentAssembly, and modules from the example, highlighted in the screenshot below.

![Web.config sample with httpModules, dependentAssembly, and modules highlighted](https://user-images.githubusercontent.com/23491583/124993614-7522d580-dff9-11eb-8d26-3bdecd2eeda9.png)

I will update the doc to added co

[2021-07-08 21:48] #77012 closed

[2021-07-08 21:49] YutongTie-MSFT commented on #77944
@sugi-a Double check with PM and content author. Thanks for the feedback again.

[2021-07-08 21:49] anastasia-ms commented on #77844
Hi! Can you be more precise about what you are trying to do. I want to make sure I understand completely!

On Jul 8, 2021, at 2:24 PM, manhquang144 ***@***.***> wrote:

﻿

Hi @anastasia-ms<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fanastasia-ms&data=04%7C01%7Cv-stharr%40microsoft.com%7C9c6e3ff8d70546db510d08d94256cb4f%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7

[2021-07-08 22:07] manhquang144 commented on #77844
@anastasia-ms I was following this https://docs.microsoft.com/en-us/azure/azure-maps/how-to-render-custom-data -> _Render uploaded features on the map_ section
This is the sample url:
https://atlas.microsoft.com/map/static/png?subscription-key={subscription-key}&api-version=1.0&layer=basic&style=main&zoom=12&center=-73.96682739257812%2C40.78119135317995&pins=default|la-35+50|ls12|lc003C62|co9B2F15

[2021-07-08 22:32] RyanHill-MSFT commented on #17194
Doc has been updated.

[2021-07-08 22:32] #17194 closed

[2021-07-08 22:36] RyanHill-MSFT commented on #49988
This has been addressed and should no longer be an issue.

[2021-07-08 22:36] #49988 closed

[2021-07-08 22:38] nunepalli opened #78097 "Designated parameters cell in Synapse notebook"
Its mentioned in this page that `When a parameters cell isn't designated, the injected cell will be inserted at the top of the notebook.`
https://docs.microsoft.com/en-us/azure/synapse-analytics/spark/apache-spark-development-using-notebooks?tabs=preview

My understanding is that there is no need to explicitly designated parameters cell in my notebook.
But, Notebook activity pipeline failed when I

[2021-07-08 22:39] RyanHill-MSFT commented on #20530
This feedback has been addressed. _New VNET Integration_ is Regional VNET.

[2021-07-08 22:39] #20530 closed

[2021-07-08 22:48] RyanHill-MSFT commented on #76029
Apologies for delays but please do see https://github.com/Azure/azure-quickstart-templates/tree/master/quickstarts/microsoft.web/app-service-regional-vnet-integration for ARM and Bicep templates.

[2021-07-08 22:48] #76029 closed

[2021-07-08 22:58] #78008 closed

[2021-07-08 23:34] wienleung opened #78098 "Event Hubs Partition documention is poorly written"
This section is unclear and poorly written:

https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-features#number-of-partitions

e.g. this sentence isn't grammatical "We recommend that you choose at least as many partitions as you expect to require in sustained the throughput units (TU), processing units (PU) or capacity units (CU) during the peak load of your application for that particul

[2021-07-08 23:43] BharathNimmala-MSFT commented on #77753
@david-tap My sincere apologies for delay in getting back to this thread, I am further evaluating the feedback with our internal team and we will update the document accordingly.

[2021-07-08 23:48] BharathNimmala-MSFT commented on #78078
@ROSMITHJ-MSFT Thanks a lot for taking time to share your feedback, seems that this update needs to happen at multiple places. We will take this as a backlog item and post review with our internal PG team , will create the PR's accordingly to update the docs.

We will go ahead and close this issue for now, however if you have any further feedback on the document please tag us in your reply and wil

[2021-07-08 23:48] #78078 closed

[2021-07-08 23:49] mo-ws opened #78099 "Small Typo"
“_A cache sink also must the first sink written._” should be “_A cache sink also must **be** the first sink written._”

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b52f7d74-8aac-9e9a-e13e-112eaf2e434b
* Version Independent ID: 2e16d8b4-2081-f6d4-9879-5774e9fb1dd1
* Content: [Sink transformation in mapping data flow -

[2021-07-08 23:57] celinama commented on #77339
Hello @sachinsbigdata , could you please help to provide your insights? Thank you!

[2021-07-08 23:58] jdelforno commented on #77920
@HarshitaSingh-MSFT Not sure why you've closed this, to be honest..

@tfitzmac It's for our own UI's and validation. There are some basic patterns that we can throw in to try and ensure that the UI will tell people that they're going to fail validation before submitting.

For our POC, we'll be creating a PowerApp that'll execute a Blueprint - for internal use only - that we'd then migrate to a RES

[2021-07-08 23:59] MonikaReddy-MSFT commented on #78099
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-09 00:01] MonikaReddy-MSFT commented on #78093
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-09 00:37] MichaelEbert opened #78101 "SLA link is broken"
"SLA" link is broken under "Hyperscale pricing model"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80e91c6d-6b32-5f29-a604-9a7857ed920c
* Version Independent ID: bd7b284c-9cc5-c656-875b-d9b72568cb2e
* Content: [What is the Hyperscale service tier? - Azure SQL Database](https://docs.microsoft.com/en-us/azure/azure-sql

[2021-07-09 00:43] RyanHill-MSFT commented on #25847
Apologies for the delayed response. We have included a [troubleshooting section](https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet#troubleshooting).

[2021-07-09 00:43] #25847 closed

[2021-07-09 00:49] poyadav2001 commented on #78033
Any updates on this issue, can you illustrate a way to assign multiple user-assigned managed identities to a resource using latest ARM template api version. If not, turn it into a feature request for the future

[2021-07-09 00:53] RyanHill-MSFT commented on #72957
Apologies for the delayed response @zhenyar, we do have a [troubleshooting section](https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet#troubleshooting) in the doc. It would help though if you could clarify what sort of troubleshooting steps you were looking for. Did you encounter an error when trying to access Key Vault from an VNET integrated app service? If so, what

[2021-07-09 00:55] Karishma-Tiwari-MSFT commented on #78071
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-09 00:58] Karishma-Tiwari-MSFT commented on #78083
The explanation is provided in the document here:
Kubernetes isn't fully aware of those consumed resources, and those approaches present numerous issues detailed [here](https://jpetazzo.github.io/2015/09/03/do-not-use-docker-in-docker-for-ci/) and [here](https://securityboulevard.com/2018/05/escaping-the-whale-things-you-probably-shouldnt-do-with-docker-part-1/), for example.

[2021-07-09 01:00] Karishma-Tiwari-MSFT commented on #78092
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-09 01:01] Karishma-Tiwari-MSFT commented on #78026
Please let me know the details. Thanks.

[2021-07-09 01:02] Karishma-Tiwari-MSFT commented on #77870
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-07-09 01:02] #77870 closed

[2021-07-09 01:09] zhenyar commented on #72957
It's been so long that I don't remember the exact error I was encountering.

[2021-07-09 01:10] inknochen commented on #78026
I just noted it says (classic)
My bad. Thanks!

On Thu, Jul 8, 2021 at 6:02 PM Karishma Tiwari - MSFT <
***@***.***> wrote:

--
--
Ilan N. Knochen
MCSE

[2021-07-09 01:13] TamirAl opened #78102 "Data structure paragraph grammatical errors"
Hello Team,

I am currently reading through the documentation to study for my AZ-304 and came up on a few grammatical issues.

Log queries retrieve their data from a Log Analytics workspace. Each workspace contains **multiple tables are that are organized** into separate columns with multiple rows of data. Each table is defined by a unique set of columns that are shared by the rows of data provide

[2021-07-09 01:20] dimitri-furman commented on #78101
@MichaelEbert Thanks for letting us know. We are aware of this problem and are working on the fix. The latest SLA is available at https://azure.microsoft.com/en-us/support/legal/sla/azure-sql-database/v1_5/.

[2021-07-09 01:42] MonikaReddy-MSFT commented on #78099
@mo-ws -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-09 01:42] #78099 closed

[2021-07-09 01:46] MonikaReddy-MSFT commented on #78072
@mkistler -  Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-07-09 01:47] darrenlynn74 opened #78103 "Grammatical error"
[Enter feedback here]
Under the Require approved client apps section, the sentence starting with "if managing only data" needs a capitol I in if.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e4eb266-d556-29dd-8c22-1b0221a048a7
* Version Independent ID: 3b4c4a89-85a8-5948-3ad2-efc7459945c2
* Content: [Plan an Azure A

[2021-07-09 01:51] MonikaReddy-MSFT commented on #78062
There is less than 2ms latency between zones.  We are working on a new content as we will not be able to share the distance between AZs within a region, and have already incorporated this as part of the update.

I hope the above has answered your question. At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this

[2021-07-09 01:51] #78062 closed

[2021-07-09 01:55] MonikaReddy-MSFT commented on #78093
@yikei - The document is actually referring to Azure CLI doc which is appropriate.

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.