[2019-05-31 11:12] ashley-pillay commented on #32499
Managed to fix this: You need to create an App_Data folder in the solution folder. The MDF file is created in this folder, but the folder has to exist for the MDF to be created.

[2019-05-31 11:20] wpitallo commented on #32461
Thanks very much @Grace-MacJones-MSFT !

[2019-05-31 11:22] mattm310 commented on #32093
I can confirm I was able to deploy from the portal last night without an issue

[2019-05-31 11:24] romankiss commented on #32445
After more evaluating this new _Microsoft.Devices.DeviceTelemetry_ event and based on the [Compare message routing and Event Grid for IoT Hub ](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-event-grid-routing-comparison), I can see the _Microsoft.Devices.DeviceTelemetry_ event is published after the message routing.

So, the description in the [Event types](https://docs.microsoft.com/en-u

[2019-05-31 11:25] icas-code commented on #32420
https://docs.microsoft.com/en-us/azure/connectors/connectors-create-api-office365-outlook

[2019-05-31 11:26] mateocox opened #32501 "Prerequisites-Samanage US platform only"
Hi, the user sync feature is only available to users on the US platform of Samanage. Because this requires use of APIs there are important differences between the URLs to which Microsoft points. Samanage datacenters have different URLs which Microsoft would need to accommodate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-05-31 11:26] AjayKumar-MSFT commented on #32499
@ashley-pillay, Glad to know that you have sorted out the issue. Thanks for the update. We will close this out, but if you feel you need more information please just let us know.

[2019-05-31 11:28] AjayKumar-MSFT commented on #32478
@Leon99, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2019-05-31 11:44] shashishailaj commented on #32453
@nelfer Thank you for your feedback . We will investigate and update further.

[2019-05-31 11:45] shashishailaj commented on #32454
@ivratche Thank you for pointing this out . We will investigate and update this thread further.

[2019-05-31 11:47] shashishailaj commented on #32462
@rbrayb Thank you for your feedback. We will have this validated and update accordingly.

[2019-05-31 11:53] shashishailaj commented on #32459
@purduegrad06 Thank you for your feedback . We will investigate and update further.

[2019-05-31 11:54] shashishailaj commented on #32496
@phw198 Thank you for your feedback. We will investigate and update this further.

[2019-05-31 11:54] jakaruna-MSFT commented on #32500
@vdweij  Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-31 11:56] shashishailaj commented on #32496
@phw198 We suggest you to provide your feedback on uservoice forums for licensing https://feedback.azure.com/forums/169401-azure-active-directory/search?category_id=345511 . This is monitored by Product group and program managers who will accordingly take action and prioritize this request . We will now close this issue as there is nothing more which can be done at this point . We encourage you to

[2019-05-31 11:56] #32496 closed

[2019-05-31 11:58] shashishailaj commented on #32495
@abhinavcarlsberg Thank you for your feedback . We will investigate and update this further.

[2019-05-31 12:02] shashishailaj commented on #32484
@anandkgpt03 Thank you for your query. We will investigate and update further.

[2019-05-31 12:02] RyanHill-MSFT commented on #32086
That's fair enough and welcome to Azure. I'll have our content authors take a look at the docs and take your feedback under advisement.

Thanks again.

[2019-05-31 12:03] shashishailaj commented on #32483
@dcbrown16 Thank you for your feedback . We will investigate and update further.

[2019-05-31 12:05] shashishailaj commented on #32474
@elaan Thank you for your feedback . We will investigate and update further.

[2019-05-31 12:06] shashishailaj commented on #32501
@mateocox Thank you for your feedback . We will investigate and update further.

[2019-05-31 12:21] jakaruna-MSFT commented on #32500
@lastcoolnameleft please review the PR

[2019-05-31 12:23] frehnejc opened #32502 "5.1.4300.0 seems to be the latest."
Can this page be updated when there is a new version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34ee5745-9573-219d-480d-201c9d1459b4
* Version Independent ID: 5b75108a-595a-5a13-d934-0a1e1f51b917
* Content: [Azure Site Recovery updates](https://docs.microsoft.com/en-us/azure/site-recovery/service-updates-how-to)
*

[2019-05-31 12:25] jwargo commented on #32086
@RyanHill-MSFT why did you assign this to me? This isn't my area. Please remove me.

[2019-05-31 12:48] #32421 closed

[2019-05-31 12:48] TomArcherMsft commented on #32383
@cpolzer You're very welcome. As the writer for Ansible on Azure, I recently published 11 new articles written specifically for the 2.8 version. Great question, but Ansible is most definitely still supported on Azure.

@CeciAc #please-close

[2019-05-31 13:43] rothja commented on #32239
Sorry, I'm not the right person to investigate whether the portal or the pricing page is correct here. @bwren, are you the owner for the log analytics docs? I also see @mrbullwinkle and @mgoedtel on the azure-monitor docs.

@ToMakeSense Thanks for pointing this out and sorry for the delay!

[2019-05-31 13:48] PramodValavala-MSFT commented on #32244
@rowanb Could you confirm if the logs you are seeing are from your function?

The functions run time also emits informational logs like these
![image](https://user-images.githubusercontent.com/43602528/58709618-2fd25980-83d8-11e9-931e-e761fda439bc.png)
which can be disabled by setting the default log level to `None` as shown in the [host.json reference doc](https://docs.microsoft.com/en-us/azure/a

[2019-05-31 13:49] msrini-MSFT commented on #32494
@fdebonneval , I will take a look and get back to you shortly.

[2019-05-31 13:59] rothja commented on #32430
@fedorovdima I apologize for this experience. The problem we have had historically with this article is that it doesn't belong in any one service but sits at the root of our docs site where there is no TOC. Then the system picks a TOC where it is used randomly (probably alphabetically). This is not an excuse but an explanation. We are looking at how to correct this and have some ideas of a home wh

[2019-05-31 14:01] pvrk commented on #32306
@dcbrown16: As you can see in the portal screen, there are 2 options: Resource group and Storage account. when the backup has managed disks, these disks are restored to the RG and the deployment template is put in storage account. When the backup has unmanaged disks, the disks will be restored as blobs along with the deployment template, to the storage account. Hope this clarifies.

[2019-05-31 14:03] PramodValavala-MSFT commented on #32244
@rowanb I wasn't able to reproduce the same. Could you confirm if your `function.json` is something like this?

[code]

[2019-05-31 14:05] ddobric opened #32504 "Example for actions and filters is missing"
It would be great to have at least a single example of filters and actions on this page.
When reading this page without any previous knowledge, it is not clear how filter/action can be used exactly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45d45fc4-082b-6da7-80d5-5ab1bc337ce5
* Version Independent ID: 54245f96-ae

[2019-05-31 14:05] pvrk commented on #32306
@dcbrown16: Infact, if the backed up VM has only unmanaged disks, when you click restore disks, the only option is"Storage account". This means both blobs and the template are put in this account. "Storage account" AND "Resource group" appears when there is managed disks. This means, managed disks are restored to RG and deployment template is put to Storage account.

[2019-05-31 14:09] CeciAc opened #32505 "connection type"
@eunjisson commented on [Thu May 30 2019](https://github.com/MicrosoftDocs/azure-docs.ko-kr/issues/658)

I tried to get current connection policy by PowerShell & Azure CLI. I can't show this configuration value.
Please add script to get current connection and change connection settings via PowerShell & Azure CLI like Azure SQL Connectivity Architecture. (https://docs.microsoft.com/en-us/azure/sql-

[2019-05-31 14:10] CeciAc commented on #32505
Hi team,
I'm moving this here since the user is making a suggestion on the original documentation
best regards

[2019-05-31 14:11] LuisGonzalezLT opened #32506 "Azure Portal recent resources ADF link is lower casing the ADF name on the URL"
Problem - If you have an ADF name of "MyADFactory" and click on it in your Azure Portal recent resources, the name of the ADF is lower cased in the URL causing issues downstream. e.g. /resourceGroups/dripprod/providers/Microsoft.DataFactory/factories/myadfactory

Workaround - If you go through the Azure Portal All Services link the ADF name retains proper casing and everything downstream works pro

[2019-05-31 14:20] areddish commented on #32172
Publish model name is not iteration name - it's a separate name.

We do have this how-to on [using the Prediction API](https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/use-prediction-api) which covers a lot of it.

[2019-05-31 14:24] msrini-MSFT commented on #32494
@fdebonneval , No length requirements for Express route.

yes you can advertise smaller subnets.

Let me know if you have any further questions.

[2019-05-31 14:28] Blackmist commented on #30938
Thanks again for reporting this @tarockey . The bug in the doc has been corrected and is now live.

@YutongTie-MSFT #please-close

[2019-05-31 14:30] xiaoyang-connyun commented on #30073
@mike-urnun-msft
Are there any updates here?

[2019-05-31 14:47] nick-lvt commented on #32093
Seeing this same issue when running get-rdshostpool from powershell. Also nothing populating on https://rdweb.wvd.microsoft.com/webclient/index.html

[2019-05-31 14:47] Mike-Ubezzi-MSFT commented on #32505
@CeciAc Thank you for interpreting the Korean to English and filing this on behalf of the customer. All PowerShell scripts samples for Azure SQL Database can be found [here](Azure PowerShell samples for Azure SQL Database). A doc enhancement for this doc is more appropriate.
Additionally, the new [Az.sql](https://docs.microsoft.com/en-us/powershell/module/az.sql/?view=azps-2.1.0#sql) PowerShell mo

[2019-05-31 14:59] msangapu-msft commented on #29532
Hi @ketaanhshah and team, the article has been updated to use the maven plugin. I believe it should address this issue.

#please-close

[2019-05-31 15:00] msangapu-msft commented on #17640
Hi @arscek. The article has been updated to use the maven plugin.

#please-close

[2019-05-31 15:07] Panzerbjrn opened #32508 "Problem with New-AzResourceGroupDeployment"
When running this command, there's no parameter called "adminUsername", "adminPassword" or "dnsLabelPrefix".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1c3ddc2-2b4c-de03-9f24-183e22290786
* Version Independent ID: 21931d61-9772-4f72-1da6-e26c2b6c3813
* Content: [Create Azure Resource Manager templates with depende

[2019-05-31 15:29] Panzerbjrn commented on #32508
So this was actually user error. But the lack of parameters with the mentioned names caused me to look for the problem in the wrong place...

[2019-05-31 15:29] #32508 closed

[2019-05-31 15:32] fdebonneval commented on #32494
Hi,

Are you really shure ?
I know I can announce more specific than /24 on ExR Private Peering.
But my question is about "Microsoft Peering" (the public ExR).

Just double-checking.
Thx

[2019-05-31 15:39] msrini-MSFT commented on #32494
@fdebonneval , If I understand it correctly, for Microsoft peering, you will not be advertising any routes whereas routes will be advertised from Azure to you. You can make use of Route filters and filter what route you need to advertise.

Thanks

[2019-05-31 15:43] AjayKumar-MSFT commented on #32417
@totokliem, Thanks for sharing all the details. Just to clarify, when you say 'but today there is no error' , are you able to publish fine now or experiencing any specific issue?

[2019-05-31 15:46] alathrop commented on #30336
We also have this same issue where KbID is not returned by the query.

[2019-05-31 15:49] GeorgeAbouSamra opened #32509 "Command needs updating"
The command under the "Create an Azure Key Vault and keys" section needs updating to use the new Az module cmdlets.

From:
Add-AzureKeyVaultKey -VaultName $keyVaultName -Name "myKey" -Destination "Software"

To:
Add-AzKeyVaultKey -VaultName $keyVaultName -Name "myKey" -Destination "Software"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-05-31 15:52] jimpope opened #32510 "Add message to queue has to be base64 encoded to process"
I have a C# function app that processes the queue. When it ran, there was an error with the following message:
The input is not a valid Base-64 string as it contains a non-base 64 character, more than two padding characters, or an illegal character among the padding characters.

To allow processing, I added encoding and processing was successful
 //Create message
    $queueClient-&gt;createMessage

[2019-05-31 15:54] huzzeytech opened #32511 "Reference to old AzureRm Module"
This page is one example of references to the older AzureRM PowerShell Module.
https://docs.microsoft.com/en-us/azure/automation/automation-dsc-onboarding#powershell

Should direct users here: Register-AzAutomationDscNode

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2c40f2e-91ef-eafc-1288-094266885d41
* Version Inde

[2019-05-31 15:59] Mike-Ubezzi-MSFT commented on #32458
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-31 15:59] #32458 closed

[2019-05-31 16:00] pixelicous commented on #14983
So.. this was closed but i

This doesn't work for me either.. I tried i still get:
"persistentvolumeclaims is forbidden: User "system:serviceaccount:kube-system:kubernetes-dashboard" cannot list resource "persistentvolumeclaims" in API group "" in the namespace "default""

I followed the guides very closely to create the AKS cluster, everything seems to be operational besides this.

Following the

[2019-05-31 16:00] elamalani commented on #32267
@TheEye1806 Thanks for the verification. Good to know that it's all set up for you.

[2019-05-31 16:02] MicahMcKittrick-MSFT commented on #32509
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-31 16:07] spboyer opened #32512 "az aks create command requires ServicePrincipleProfile"
Running the following command to create the cluster fails with the error:
[code]
Command used
[code]

Even when `--disable-rbac` is passed, ServicePrincipal is required.

reference:
https://docs.microsoft.com/en-us/azure/aks/kubernetes-service-principal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c420b2c-e868-9a6a-

[2019-05-31 16:16] MicahMcKittrick-MSFT commented on #32509
@GeorgeAbouSamra good find! I have corrected the doc. Once the PR merges the changes will go live after a few hours.

[2019-05-31 16:16] #32509 closed

[2019-05-31 16:20] tfitzmac commented on #32488
@julesman101 - thanks for making us aware of this needed change. I have removed the sentence.

[2019-05-31 16:21] MicahMcKittrick-MSFT commented on #32512
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-31 16:23] #32488 closed

[2019-05-31 16:26] danewber commented on #32455
It seems the keys were changed for this workspace without notice and the "invalid signature" was referring to bad keys.  My apologies.  We have worked it out.

[2019-05-31 16:26] #32455 closed

[2019-05-31 16:27] rogerbramon commented on #26382
Hi, I'm also experiencing this issue when it used to work for me. As well as the webserver logs to be stored on a storage account I used to configure it in the staging slot, or the Min TLS Version. It's a major regression for us.  @ggirard07, have you found anything?

[2019-05-31 16:29] shashishailaj commented on #32462
@rbrayb We appreciate your contribution . We have initiated a change and it must be visible within the next 24-48 hours as per the next release cycle. We will now close this issue as there is nothing else pending on this. In case you do not see the article updated even after 48 hours , please tag me to your reply and i will have this checked internally . You can always open a new ticket for the sa

[2019-05-31 16:29] #32462 closed

[2019-05-31 16:32] shashishailaj commented on #32495
@billmath Could you please comment on the above scenarios as request by the customer if we can add something related to the scenario's in the current article ?

[2019-05-31 16:32] brtmeyer opened #32513 "DataFlow preview not available for region Brazil South"
I have created a Data Factory in Brazil South region, but it seems that the preview for Data Flow is not available, although the message "Sign up for Azure Data Factory Data Flow limited preview!
Click here" is showed in the main page and it stays available when creating the resource in East Us.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-05-31 16:35] palma21 commented on #32512
@spboyer could it be your local cached SP credentials have expired?

Try to delete your cached $HOME/.azure/aksServicePrincipal.json or explicitly pass the SP parameters via
`--service principal <SP_ID> --client-secret <SP_Password>`

[2019-05-31 16:35] pixelicous commented on #23789
You guys promised timelines, at the moment there is no solution and we revert to using this insecure solution. The issue has been open for a long time while [at the same time there are other things being attended](https://github.com/Azure/aks/releases). Can you give us real timelines??

@iainfoulds Can you please actually provide timelienes??
quoting :

@palma21 This doesn't seem like a fine resol

[2019-05-31 16:37] shashishailaj commented on #32217
@alexander-barisic @CeciAc We are engaging with the content author for review of the modifications suggested by you and how bet we can incorporate it in the article.

@jeevansd Could you please help review this request for document modifications ?

[2019-05-31 16:39] shashishailaj commented on #32185
@davidmu1 Could you please review this request and provide some clarification ?

[2019-05-31 16:41] Anmolgan81 opened #32514 "Cost reduction for always On?"
I have 2 virtual machines which I am using for hosting 4 databases on always on, if I use 1 Managed instance (with sql cost) I will not be charged for the cost 2 virtual machines, and only be charged for 1 Managed instance is that correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28ca1f7f-5a34-0f23-10ce-3ff24c76d

[2019-05-31 16:42] roygara commented on #32300
@KeiroKamioka0000 Thanks for reaching out, we appreciate it. :)

In this case, this isn't a limitation but, is instead feature availability. So we don't think that information should be added to the limits article.

But again, thank you for the suggestion! It does highlight a potential issue with the wording in the FAQ. I'll make it clear that the 32 TiB is referring to the max disk size and not t

[2019-05-31 16:46] tfitzmac commented on #32466
@StephenWeatherford - thanks for this feedback. I am adding that clarification to the article.

[2019-05-31 16:53] spboyer commented on #32512
@palma21 Good point. file created 02/07/2018. Year has passed. Error message should be better.

`--disable-rbac` should not look for the file, nor principal though correct?

[2019-05-31 17:03] palma21 commented on #32512
it will always look for the SP in other to give it permissions as network contrib to the azure subnet. will also need it later on to expose svcs through LBs.

We just added that message which is now doing pre-flight validation of the SPs credentials to avoid clusters in a bad state. Let me see how we can improve the text, thanks for the feedback.

[2019-05-31 17:08] rupeshprasad opened #32517 "Handle forgot password when using SAML"
I have enabled SAML for my B2C. How do i handle forgot password link.
When using oAuth and owin it was suggested to catch error AADB2C90118 and do the redirect. How do i achieve same with application which are using SAML.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5330b0b2-0c1c-ebe8-cf24-2a6430e44c28
* Version Inde

[2019-05-31 17:08] MarileeTurscak-MSFT commented on #32449
@jsmessier-Sherweb Our guidance is to use Azure MFA in the cloud and not take a dependency on MFA server. MFA server isn't receiving feature updates and we do intend to deprecate it. That deprecation will follow the usual deprecation path of announcement followed by a window of support before full deprecation.

[2019-05-31 17:08] MarileeTurscak-MSFT commented on #32449
We will now proceed to close this thread. If you have further questions feel free to tag me in the comments and I will gladly continue the discussion.

[2019-05-31 17:08] #32449 closed

[2019-05-31 17:18] rupeshprasad opened #32518 "Handle forgot password when using SAML"
I have created a issue for this and was hoping to get an answer.
https://github.com/MicrosoftDocs/azure-docs/issues/32517

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8b5f81a-f216-b345-d434-c0ebbf70ff00
* Version Independent ID: e77fb894-d7a0-ae0c-7f4c-1030df97f073
* Content: [User flows in Azure Active Directory B2

[2019-05-31 17:19] anirudhcavale commented on #32319
#please-close

[2019-05-31 17:21] anirudhcavale commented on #31684
@MicahMcKittrick-MSFT  what do you mean by polling periods? Do you mean at what frequency the metrics is emitted? For 90% of metrics it is 1minute  frequency, there are a few capacity metrics that are 5min or 1hour. This information is available in the metric definitions, which you can get programatically via: https://docs.microsoft.com/en-us/rest/api/monitor/metricdefinitions/list

[2019-05-31 17:28] vhorne commented on #30585
@rohrvy1989
FYI, a new article has just been published about this topic:
https://docs.microsoft.com/azure/application-gateway/migrate-v1-v2

[2019-05-31 17:29] anirudhcavale commented on #30095
@bdschaap the ServiceAPIHit metric captures every single API transaction made against the Azure Key vault (ex. List Keys, Create Key, Encrypt, Decrypt, etc.)
The dimensions help you understand which specific activity was being completed. I believe the only sampling type you can use is Count (which is a running count of transactions that occurred in a particular interval).

#please-close

[2019-05-31 17:30] #31772 closed

[2019-05-31 17:31] tfitzmac commented on #32466
The update has been published.

[2019-05-31 17:32] tfitzmac commented on #32466
#please-close

[2019-05-31 17:32] #32383 closed

[2019-05-31 17:32] anirudhcavale commented on #29058
@forester123 thank you! sorry for the super late reply. I went and approved the PR.
#please-close

[2019-05-31 17:34] anirudhcavale commented on #29059
@forester123 Now all the metrics Network Billable and Total are on the documented.
#please-close

[2019-05-31 17:35] #32300 closed

[2019-05-31 17:36] anirudhcavale commented on #17169
#please-close

[2019-05-31 17:37] anirudhcavale commented on #25758
these are all now updated :). Thanks folks! #please-close

[2019-05-31 17:38] anirudhcavale commented on #9124
#please-close

[2019-05-31 17:42] anirudhcavale commented on #14804
#please-close

[2019-05-31 17:44] spelluru commented on #30441
@trichardson01-kellogg - I have tested the application and it worked as is. I will test one more time and see if I can reproduce the issue.

[2019-05-31 17:45] dlepow commented on #32470
@RezaRahmati - Thanks for the good suggestion to improve this article with a complete JSON template for deployment. I am adding it to our doc work list for ACI. In the meantime you might find it helpful to see how the `volumes` and `volumeMounts` properties are arranged in templates for other mounted volumes such as [secret](https://docs.microsoft.com/azure/container-instances/container-instances-

[2019-05-31 17:45] Karishma-Tiwari-MSFT commented on #29614
Thanks @cynthn for sharing the repos. I found the one I needed to update.
Here is the pull request: https://github.com/Azure-Samples/azure-cli-samples/pull/255
Since this is Azure-samples repo and not Azure-docs-pr, I am not sure who can help get this PR merged. Do you know the process, please let me know.

[2019-05-31 17:46] satbirbaidwan opened #32520 "Step 15 @ Create a Facebook application"
Hi,
I ran into an issue where I was getting below error while clicking Facebook Link:

Error:
URL Blocked: This redirect failed because the redirect URI is not whitelisted in the app’s Client OAuth Settings. Make sure Client and Web OAuth Login are on and add all your app domains as Valid OAuth Redirect URIs.

On carefully looking the redirect uri I noticed that it was sent as:
https://login.micro

[2019-05-31 17:48] #29532 closed

[2019-05-31 17:48] #32470 closed

[2019-05-31 17:50] WhitWaldo opened #32521 "Page is titled "Set and retrieve a secret - .NET" but describes steps using Azure CLI"
The only note on this page that's relevant to .NET specifically is the link to the quick start repo that contains a .NET project. Beyond that, this is little more than a variation of the CLI docs page at https://docs.microsoft.com/en-us/azure/key-vault/quick-create-cli.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc

[2019-05-31 17:53] seesharprun opened #32522 "ARM Template"
How do we do a multi-container deployment using an ARM template? This would be worthy of another section on this page.

If I go into the portal today and tried to "reverse engineer" the ARM template, it sets the the **linuxFxVersion** field of the **siteConfig** to a string that includes a prefix of ``COMPOSE|`` and some clearly encoded version of my Docker Compose YAML file.

What type of encodin

[2019-05-31 17:55] SaurabhSharma-MSFT commented on #32429
@jaffadog Yes, this policy applies to all users including guest accounts.

[2019-05-31 17:59] Karishma-Tiwari-MSFT commented on #31989
I would recommend using the workaround at this point.
We will close the issue now, I am in touch with the product team and will share the ETA here as soon as I get an update.

[2019-05-31 17:59] #31989 closed

[2019-05-31 18:01] thecherrytree commented on #12480
What was the error with this?

[2019-05-31 18:04] kgremban commented on #31878
@csamleong References to the Visual Studio Code UI were updated last week. Could you review the article and verify that this issue was resolved? Thanks again for letting us know about the issue.

[2019-05-31 18:07] BryanTrach-MSFT commented on #32476
@benoithamet Can you please provide us with the URL of the Azure doc that you are having issues with? We look forward to your reply.

[2019-05-31 18:10] BryanTrach-MSFT commented on #32492
@sannzay Can you please provide us the URL of the Azure doc that you are having issues with? We look forward to your reply.

[2019-05-31 18:12] SaurabhSharma-MSFT commented on #32439
@spzSource Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-05-31 18:12] BryanTrach-MSFT commented on #32513
@brtmeyer Can you please provide us with the URL of the Azure doc that you are having issues with? We look forward to your reply.

[2019-05-31 18:14] BryanTrach-MSFT commented on #32455
@danewber Glad to hear you were able to find a resolution.

[2019-05-31 18:15] KranthiPakala-MSFT commented on #32506
@LuisGonzalezLT
Thank you for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update you soon.

[2019-05-31 18:17] kgremban commented on #31821
@AshokPeddakotla-MSFT Arpita isn't the right person to assign this issue to. You can assign it to me instead.

@avinashchadalavada Can you provide more information about which packages you're trying to include, and what steps you've taken so far? In the Node.js solution template in Visual Studio Code that you created following the tutorial, there should be a package.json file that already contains

[2019-05-31 18:20] AjayKumar-MSFT commented on #30809
@git-heath and @MarkDordoy, We will close this out, but if you feel you need more information please just let us know.

[2019-05-31 18:20] #30809 closed

[2019-05-31 18:21] Karishma-Tiwari-MSFT commented on #32427
@justinfcoffey We don't have any roadmap information on whether B series VMs will be added to Cloud services.
Please post this as a product feedback [here](https://feedback.azure.com/forums/169386-cloud-services-web-and-worker-role). This will allow the community to up-vote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to

[2019-05-31 18:21] #32427 closed

[2019-05-31 18:24] MarileeTurscak-MSFT commented on #32521
@WhitWaldo
Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-31 18:25] robinsh commented on #32289
@AshokPeddakotla-MSFT @ janlange Thanks for the input. I'll run through the how-to and verify this, and post back here to confirm.

[2019-05-31 18:25] MarileeTurscak-MSFT commented on #32520
@satbirbaidwan
Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-31 18:36] MarileeTurscak-MSFT commented on #32517
@rupeshprasad
Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-31 18:37] MarileeTurscak-MSFT commented on #32518
@rupeshprasad I am closing this out because it is a duplicate of #32517

[2019-05-31 18:37] #32518 closed

[2019-05-31 18:39] romankiss commented on #32445
Finally I got it. The workaround to the portal bug for selecting single/multiple endpoint(s) for Enrich messages is to use the REST API for [Iot Hub Resource - Create Or Update](https://docs.microsoft.com/en-us/rest/api/iothub/iothubresource/createorupdate#iothubskuinfo)

The following is my _enrichments_ in the properties:

     "enrichments": [
        {
          "key": "status",
          "val

[2019-05-31 18:39] pixelicous commented on #23789
You guys promised timelines, at the moment there is no solution and we revert to using this insecure solution. The issue has been open for a long time while [at the same time there are other things being attended](https://github.com/Azure/aks/releases). Can you give us real timelines??

@iainfoulds Can you please actually provide timelienes??
quoting :

When???
@palma21  At the moment the solution

[2019-05-31 18:41] KranthiPakala-MSFT commented on #32506
@LuisGonzalezLT Would you please provide more details about the scenario where you are seeing this (Naming - Case insenstive) as an issue and also the impact?

[2019-05-31 18:46] SaurabhSharma-MSFT commented on #32117
@cconrado We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-31 18:46] #32117 closed

[2019-05-31 18:47] AjayKumar-MSFT commented on #29766
@TwoSeven99, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag us in your reply. We will gladly reopen the issue and continue the discussion.

[2019-05-31 18:47] #29766 closed

[2019-05-31 18:49] LuisGonzalezLT commented on #32506
We have an IF condition that has this in it:

@equals(pipeline().DataFactory, 'MyADFactory')

Due to the lower casing when coming into the ADF through Recent Resources it makes the wrong decision since the name has been translated to "mydatafactory" and does not match.

When we come in through All Services it makes the right decision because the name stays as "MyADFactory"and matches.

The only th

[2019-05-31 18:49] rolyon commented on #31901
Hi @robfinney
Let me know if you have any additional feedback. I plan to close this issue, but you can re-open if you have additional feedback.
thanks

[2019-05-31 18:50] rolyon commented on #31901
@MicrosoftDocs/azure-cxp-triage
#please-close

[2019-05-31 18:51] AjayKumar-MSFT commented on #29743
@stefsch, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag us in your reply. We will gladly reopen the issue and continue the discussion.

[2019-05-31 18:51] #29743 closed

[2019-05-31 18:55] Grace-MacJones-MSFT commented on #32522
Hi @seesharprun,  thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2019-05-31 19:02] BryanTrach-MSFT commented on #32472
@carlpoole Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-31 19:02] rolyon commented on #31402
Hi @chadcarlton
I've created work item for the team to review PIM and PowerShell. Let us know if you have any additional feedback. You can just re-open this issue.
thanks

[2019-05-31 19:03] rolyon commented on #31402
@MicrosoftDocs/azure-cxp-triage
#please-close

[2019-05-31 19:04] ggirard07 commented on #26382
@rogerbramon got a confirmation by the Azure support that the behavior changed and AlwaysOn is no longer being swapped (as the updated documentation now clearly states). They shared an undocumented property to revert to the old behavior, which I don't know if I can share it as they refused to document it publicly...

They acknowledge this was a breaking change and consented to clearly advertise an

[2019-05-31 19:16] JustinGrote opened #32523 "Testing Against Azure Functions Core Tools?"
This testing doesn't seem much different than normal unit testing, however how do I test that the function actually works? Say I run it in Azure Functions Core Tools, is there a test mode to mock external connections or something, or do I just have to write my test as another azure function, set up the mocks using that, and call that as my "test" and return the test results?

---
#### Document Det

[2019-05-31 19:18] rolyon commented on #32312
Hi @regulator-g
Okay, thanks. I sent your request for a module to our Learn team.

[2019-05-31 19:20] derekschauland opened #32524 "Case MatchiNg"
Is there any way, when creating a policy definition that matches a parameter to get it to watch for certain characters to be upper case? I am hoping to use notmatchinsesitively, but want to find a way to specify that some characters should be uppercase - specifically the resource type RG or VM and the First Letter of the resource name MyAppServer rather than myappserver or Myappserver

---
#### Do

[2019-05-31 19:21] iainfoulds commented on #32450
Thanks for the feedback, @iharrington. I've made an update to the doc that should publish this afternoon.

#in-progress

[2019-05-31 19:24] #31901 closed

[2019-05-31 19:24] #31402 closed

[2019-05-31 19:25] palma21 commented on #23789
If the deployment manifest is invalid it's likely a syntax or indentation issue. I just did it again and it works.
Try with an inline
`args: ["--authentication-mode=token", "--enable-insecure-login"]`

We should have this fixed around on June timeframe.

[2019-05-31 19:33] #32450 closed

[2019-05-31 19:33] iainfoulds commented on #32234
The doc has been updated to reflect both port requirements. We'll publish additional updates as the behavior changes.

#please-close

[2019-05-31 19:33] Ayanmullick commented on #32441
@Mike-Ubezzi-MSFT, That doesn't have the managed instance failover group cmdlets; eg. 'New-AzSqlDatabaseInstanceFailoverGroup'.

[2019-05-31 19:35] maneeshbhat21 commented on #31545
Any further news on this one plz?

[2019-05-31 19:36] iainfoulds commented on #32500
Thanks, @vdweij.

And thanks, @jakaruna-MSFT - change looks good. This update is merged and should publish this afternoon.

[2019-05-31 19:37] DCtheGeek commented on #32524
@derekschauland **notMatchInsensitively** is a case-insensitive **notMatch**. The match part is against the "any other character to match that actual character" part of the definition. If you have a limited set of values for the upper-case characters, you could combine them with some _allOf_ and _anyOf_ nesting. There's a more complex example of doing that here: https://github.com/DeanCefola/Azure

[2019-05-31 19:39] #32500 closed

[2019-05-31 19:41] asubmani opened #32525 "Why does the doc say this is in preview"
Has there been a breaking change made to the API? I have used this feature for a few years, so seeing the (Preview) flag seems misleading. Would love to clarify of there a big change being made to the data collector API

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1295e1b3-5aed-3aee-4331-8b81e7a7e544
* Version Indepe

[2019-05-31 19:45] dlepow commented on #32393
@ianhinder - Thanks for your question. I ran through the steps of the tutorial, using an access token with the documented permissions to create the webhook with ACR Tasks, then ran the task successfully both manually and triggering through a git commit/push to my public fork of the acr-build-helloworld-node repo. So I don't reproduce your need to add permissions to the token.

Are you seeing the i

[2019-05-31 20:00] SaurabhSharma-MSFT commented on #32428
@jaffadog Basically baseline policies are available for everyone to enable 4 baseline level of security without any extra cost.  However, you still need to get P2 licenses for enabling Identity Protection and CA policies require P1 or higher licenses.

[2019-05-31 20:06] SHAGGAR commented on #32277
Looks good! 👍

[2019-05-31 20:15] Mike-Crowley opened #32526 "please expand on when to use this vs basic auth controls in exo"
Blocking Basic authentication via conditional access is better in the sense that it also includes services such as Skype for Business Online, but worse in the sense that conditional access is *authorization* logic that happens *after* authentication (after attackers learn their password was correct). These pros and cons should be discussed here. This article should also acknowledge otherwise contr

[2019-05-31 20:17] bmonteiro opened #32527 "Wrong description"
The point 5 (Set additional URLs and perform the following step if you wish to configure the application in SP initiated mode) is really possible ? Currently it is possible to setup only 1 URL. It is actually a good feature but it is not possible now. Any suggestions ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb3

[2019-05-31 20:25] Karishma-Tiwari-MSFT commented on #29614
@guillenmiguel
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-05-31 20:25] #29614 closed

[2019-05-31 20:31] artisticcheese opened #32528 "Exec into windows containers fails"
Hello,

I'm using preview for windows containers in AKS and exec into running container from dashboard fails since it tries by default execute `bash` which shall be set to cmd.exe or powershell.exe in windows containers instead
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ba1dad2-9792-2a7b-cdb6-68da0524cff3
*

[2019-05-31 20:33] MikeChemi opened #32529 "Azure Spatial Anchors sample doesn't work with .NET Core 2.2.3"
The web app for Azure Spatial Anchors says it requires the .NET Core 2.2 SDK. I downloaded the latest (which is 2.2.3), and the Visual Studio solution wouldn't load. I went into the global.json file and saw that it was referencing version 2.2.1. Updating the version in global.json to 2.2.3 allowed the project to load.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2019-05-31 20:40] PatAltimore commented on #31988
@dpbangera95 FYI, We're still looking into this. I can reproduce the issue.

[2019-05-31 20:42] SaurabhSharma-MSFT commented on #32483
@dcbrown16  You cannot select individual SQL servers/App Services/Storage accounts as Standard pricing tier is applied by the resource type and you cannot select individual resources.  As mentioned in the document in order to make Azure Security Center take care of non-Azure VM's, you need to first onboard the VM's to Azure Security Center and thus you are seeing option to select the VM's for onbo

[2019-05-31 20:45] paramda commented on #29395
@jovanpop-msft, can you confirm if this is applicable to MI?

[2019-05-31 20:46] ankush351992 opened #32530 "Lack of Supporting Kernal list of Ubuntu 16.04"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-05-31 20:47] ayprof opened #32531 "SAML EntityID can't contain URL encoding '%20' (a space) as it then doesn't see the application"
I have a service provider with a space in the EntityID.  Azure doesn't allow for the EntityID to include a space.  It does allow for the '%20' encoding for a space in the URL, but then Azure fails to see the application as existing during the SAML authentication process.  Example: 'https://sp.example.com/app/this%20application' is the entityID, but Azure will look for 'https://sp.example.com/app/t

[2019-05-31 20:47] jeevansd commented on #32527
@bmonteiro Yes, if you are trying to setup the SP initiated SSO please populate the sign on URL value. Then Azure AD will put your application in SP initiated mode. Also now Azure AD does support multiple URL configuration from the UI for Identifier and Reply URLs. If you have not tried that recently then please do so.

[2019-05-31 20:48] jeevansd commented on #32527
#please-close

[2019-05-31 20:49] ankush351992 commented on #32269
Also, Ubuntu 16.04 does not have latest version of kernel supported.

[2019-05-31 20:49] #32530 closed

[2019-05-31 20:58] zjalexander opened #32532 "Incorrect instructions for updating Az modules in automation account"
For "Update Azure Automation modules", the instructions are not sufficient and the resulting script will not work. Please see the documentation at https://docs.microsoft.com/en-us/azure/automation/az-modules#import-the-az-modules for instructions on how to import the Az modules into an automation account.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-05-31 21:15] roygara commented on #30890
@rbavery We've updated the article with new instructions and cmdlets. Although so far just this article, there may still be out of date cmdlets in the rest of the docset. We're working on that and are tracking it separately.

Thanks again for bringing this up. :)

#please-close

[2019-05-31 21:34] ChristianMontoya commented on #31103
@AdamWorkAccount : Can you continue down the manual path right now from this article: https://docs.microsoft.com/en-us/azure/virtual-desktop/create-host-pools-powershell .

However, if you would like to try again, the Azure Marketplace offfering is up and running: https://docs.microsoft.com/en-us/azure/virtual-desktop/create-host-pools-azure-marketplace .

[2019-05-31 21:45] jeevansd commented on #32425
@m4gosselin We are testing your issue in our lab. It seems that the iFrame is not rendering the Azure AD Login button here. We are finding another way to fix it. So please be patient here.

[2019-05-31 22:00] KranthiPakala-MSFT commented on #32506
@LuisGonzalezLT Thank you for the detailed info and bringing this to our notice. To mitigate your issue, we would recommend to use a 'toUpper'  or 'toLower' String Function as below which should resolve the issue. Please let us know if this doesn't work.

@equals(toUpper(pipeline().DataFactory), 'MYADFACTORY')
@equals(toLpper(pipeline().DataFactory), 'myadfactory')

We have provided your feedback

[2019-05-31 22:00] femsulu commented on #32497
@win2000b Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-31 22:08] MarileeTurscak-MSFT commented on #32426
You need to have the right license assigned for this to work. https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-sspr-licensing

Please check the related conversations:
https://github.com/MicrosoftDocs/azure-docs/issues/28597
https://docs.microsoft.com/en-us/azure/active-directory/authentication/active-directory-passwords-troubleshoot
https://docs.microsoft.com/en-us/az

[2019-05-31 22:09] MarileeTurscak-MSFT commented on #32426
We will now proceed to close this thread. If you have further questions feel free to reach out to me on MSDN and I will gladly continue the discussion.

We are migrating product questions and troubleshooting questions to the forums since the docs are mainly used for doc feedback.

[2019-05-31 22:09] #32426 closed

[2019-05-31 22:16] Karishma-Tiwari-MSFT commented on #30997
@duckie Thanks for the explanation. It helped in understanding that the issue is for the private managed images. I am in touch with the product teams and will share as soon as I have an update.

[2019-05-31 22:20] femsulu commented on #32497
@win2000b a PR has been successfully raised to resolve this issue. The correct link will be live in 24 hours.

[2019-05-31 22:21] rolyon commented on #32312
Hi @regulator-g
We've made some updates to the access reviews overview article:
https://docs.microsoft.com/en-us/azure/active-directory/governance/access-reviews-overview
Thanks for the feedback.

[2019-05-31 22:22] rolyon commented on #32312
@MicrosoftDocs/azure-cxp-triage
#please-close

[2019-05-31 22:23] #32497 closed

[2019-05-31 22:25] #32312 closed

[2019-05-31 22:27] #17169 closed

[2019-05-31 22:27] #25758 closed

[2019-05-31 22:28] #9124 closed

[2019-05-31 22:28] #14804 closed

[2019-05-31 22:33] #32524 closed

[2019-05-31 22:34] BryanTrach-MSFT commented on #32530
@ankush351992 Please let us know if you need assistance in the future with any docs.

[2019-05-31 22:37] MicahMcKittrick-MSFT commented on #32528
@artisticcheese thanks for reaching out. Seeing as this feature is in preview I would expect the exec command to not work since it is trying to connect to a Linux Cluster. That being said, I don't see this as a limitation we call out here:

https://docs.microsoft.com/en-us//azure/aks/windows-node-limitations

@iainfoulds @seanmck @TylerMSFT could any of you confirm on this? If so, I can add it to

[2019-05-31 22:39] BryanTrach-MSFT commented on #32498
@devsmart Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-31 22:39] MicahMcKittrick-MSFT commented on #32093
I have confirmed the fix has been rolled out. If you experience any further issues with this, please open a thread on Tech Communities so we can take a look further.

https://techcommunity.microsoft.com/t5/Windows-Virtual-Desktop/bd-p/WindowsVirtualDesktop

[2019-05-31 22:39] #32093 closed

[2019-05-31 22:41] bwren commented on #32173
@SadiqhAhmed-MSFT This is a support issue, not documentation.  Suggest we involve engineering team.

[2019-05-31 22:52] bwren commented on #31477
#please-close

[2019-05-31 22:58] Adam-Smith-MSFT commented on #32510
@jimpope Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-31 23:00] femsulu commented on #32502
@frehnejc  Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-05-31 23:01] femsulu commented on #32511
@huzzeytech Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-05-31 23:02] iainfoulds commented on #32512
Updated the service principal doc to add a troubleshooting note to check for credential file expiration. That PR has merged and will go live during the next publication cycle early Monday morning PST.

[2019-05-31 23:03] femsulu commented on #32525
@asubmani Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-05-31 23:03] #32512 closed

[2019-05-31 23:18] mike-urnun-msft commented on #32504
Hi @ddobric Thank you for your feedback! We will review and update as appropriate.

[2019-05-31 23:19] mike-urnun-msft commented on #32523
Hi @JustinGrote Thank you for your feedback! We will review and update as appropriate.

[2019-05-31 23:21] mtillman commented on #30596
@Paxxi, GitHub engineering has confirmed that this is working as designed in iOS. Apparently iOS always attempts to render files if it can, otherwise it displays an option to save it. For docx files, it tries to render it (even when it can't do a very good job of it). Once it's rendered, you can tap the share icon and move it to a third-party app like Pages or Word (to render it) or iCloud drive (

[2019-05-31 23:22] chetansriv commented on #19083
This is fixed.
#please-close

[2019-05-31 23:23] iainfoulds commented on #32528
Sorry you ran into issues, @artisticcheese

I believe that `kubectl exec` should still work into a Windows pod, but it looks like the Kubernetes dashboard itself is defaulting to passing `/bin/bash` which causes it to fail. If so, that would be an issue to fix upstream in the Kubernetes dashboard project.

Adding @MikkelHegn and @PatrickLang for confirmation on the expected behavior and if we need

[2019-05-31 23:24] chetansriv commented on #30124
This is fixed

#please-close

[2019-05-31 23:26] ththiem opened #32536 "Does this work across application insight instances?"
I assume it doesn't, I just would like clarification on this. Say my team logs our services to an application insights with instrumentation key "XYZ" and we provided the telemetry Id to another team and they tried to correlate their telemetry to that id and log it to their application insights at instrumentation key "ABC", would that even work? I assume it wouldn't, since the logs are in separate

[2019-05-31 23:26] BryanTrach-MSFT commented on #32498
If you wish to be doing testing with your site by using the custom domain, you will have to make some sort of DNS changes in order for this to work. There are some workarounds though, which would allow you to keep the bulk of the traffic on your old site while you validate your new Azure Web App by allowing small amounts of traffic through.

The best option I can think of is to use Azure Traffic M

[2019-05-31 23:26] #32498 closed

[2019-05-31 23:29] aquibqureshi26 opened #32537 "Vnet peering vs VPN gateway vnet to vnet"
First of all thanks for the detailed explanations of the content. I believe azure networking blog is very detailed everytime and contains all the possible queries. but have one more...

VPN gateways and peering with no regional / subscription / Tenant boundaries. Why would we use one over the other?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-05-31 23:30] MashaMSFT commented on #29526
Hi @daveberm ,
The article associated with the Git Issue is: Content: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-sql-performance

By the way, I'm not sure it was intentional, but your contact information is visible on Github from a comment.

Hope that helps and please let me know if we can be of further assistance :)

Thanks!

[2019-05-31 23:31] KranthiPakala-MSFT commented on #32374
@jgnewton Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2019-05-31 23:57] MarileeTurscak-MSFT commented on #32520
You can use the following domains with Azure AD B2C:

1. your-tenant-name.b2clogin.com (recommended)
2. login.microsoftonline.com

If you're using the your-tenant-name.b2clogin.com domain with Azure AD B2C, then the redirection URL that is registered for Azure AD B2C in Facebook must be set to:

https://your-tenant-name.b2clogin.com/your-tenant-name.onmicrosoft.com/oauth2/authresp

If you're using

[2019-05-31 23:59] johnkemnetz commented on #31787
Hi @SadiqhAhmed-MSFT - this should be assigned to @nkiest now

[2019-06-01 00:01] roygara commented on #31302
@shampton-myabt Thank you for reaching out, we appreciate it! The way the article is written is a little unclear but it does try to explicitly state that it is showing the non-persistent way of doing this. And the note below the script highlights the persistent way of doing it.

However, I've consulted with the product team and it doesn't sound like there's a good reason not to have the persistent

[2019-06-01 00:02] johnkemnetz commented on #26721
This should go to @nkiest who works on diagnostic settings now.

[2019-06-01 00:02] johnkemnetz commented on #24785
@femsulu can you change assignment to @nkiest ?

[2019-06-01 00:04] johnkemnetz commented on #24222
@femsulu can you change the assignee to @nkiest ?

[2019-06-01 00:05] johnkemnetz commented on #21951
@Karishma-Tiwari-MSFT this should be assigned to @anirudhcavale

[2019-06-01 00:06] johnkemnetz commented on #18746
@femsulu can you change assignee to @nkiest ?

[2019-06-01 00:07] johnkemnetz commented on #17826
#please-close since the issue is updated.

[2019-06-01 00:08] johnkemnetz commented on #17601
#please-close this looks resolved now.

[2019-06-01 00:08] johnkemnetz commented on #17826
#please-close

[2019-06-01 00:09] johnkemnetz commented on #17163
doc location changed #please-close

[2019-06-01 00:09] johnkemnetz commented on #17029
@femsulu please assign to @nkiest

[2019-06-01 00:10] johnkemnetz commented on #15209
doc location moved. #please-close

[2019-06-01 00:10] johnkemnetz commented on #15192
doc location has moved and been updated #please-close

[2019-06-01 00:11] johnkemnetz commented on #13847
@femsulu please assign to @nkiest for comment.

[2019-06-01 00:11] johnkemnetz commented on #13547
@femsulu please assign to @nkiest

[2019-06-01 00:12] johnkemnetz commented on #13417
@femsulu please assign to @nkiest

[2019-06-01 00:12] johnkemnetz commented on #13013
@femsulu please assign to @nkiest

[2019-06-01 00:13] johnkemnetz commented on #10374
@femsulu please assign @nkiest

[2019-06-01 00:25] sahya commented on #32273
@Alberto-Vega-MSFT thank you!

* more info:
    * The detail of "(config or json)" :
        * config = iotedge's Config.yaml
        * json = iothub's configuration or json env

I wish the document improved for everyone to use it.

[2019-06-01 00:33] Mike-Ubezzi-MSFT commented on #32514
@Anmolgan81 If you selected a Managed Instance and deployed it as a complete solution (not individually deployed services) you will be billed for the Managed Instance and not a bunch of individual services.

If you should find a billing related item that does not meet your expectation, you are free to open a billing related Support Request to have this investigated without the need for a support p

[2019-06-01 01:14] gojanpaolo opened #32538 "Error when running `dotnet ef database update`"
The application to execute does not exist: 'C:\Users\gojan\.dotnet\tools\.store\dotnet-ef\2.2.4-servicing-10062\dotnet-ef\2.2.4-servicing-10062\tools\netcoreapp2.2\any\dotnet-ef.dll'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00961883-36eb-f736-b906-73d4c35e69b0
* Version Independent ID: 3a2fd493-9682-eedf-fad1-57

[2019-06-01 01:19] aljo-microsoft commented on #31759
If you got an error while invoking an API or performing an operation (E.G. Failed to provision an SF Cluster, or failed to scale your infrastructure that host your SF cluster or application), or you are experiencing any kind of production incident; please review/acquire support options to enable us to help you be successful:
https://docs.microsoft.com/azure/service-fabric/service-fabric-support
 

[2019-06-01 01:22] jschurman opened #32539 "Azure Activity Log RDP Event Recon"
What is the process to see who configured destination and source access to RDP for a given VM or resource?

[2019-06-01 01:41] kobulloc-MSFT commented on #32536
@ththiem Thank you for the question!  We are investigating this and will get back to you shortly.

[2019-06-01 01:46] gojanpaolo commented on #32538
The issue was because I have .NET Core 3 preview installed. uninstalling the current dotnet-ef tool and installing the preview version as suggested [here](https://github.com/aspnet/EntityFrameworkCore/issues/15448#issuecomment-485893936) solved the issue.

[2019-06-01 01:46] #32538 closed

[2019-06-01 02:00] BryanTrach-MSFT commented on #32538
@gojanpaolo We are happy to hear you were able to resolve the issue. Please reach out if you have any issues in the future.

[2019-06-01 02:24] knbz opened #32540 "issue guidance"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-06-01 02:31] ConcreteGannet opened #32541 "Burst to Azure Container Instances diagram is wrong"
I think the third diagram https://docs.microsoft.com/bs-cyrl-ba/azure/aks/media/concepts-scale/burst-scaling.png is wrong. Compare it to https://docs.microsoft.com/bs-cyrl-ba/azure/aks/media/concepts-scale/cluster-autoscaler.png . The two boxes to the right of the Node boxes should also be labelled "Node", possibly "Virtual Node"

---
#### Document details

⚠ *Do not edit this section. It is requi

[2019-06-01 02:36] tkumark opened #32542 "could you update doc on what %{http_origin} does"
Could you please update the doc on what %{http_origin} does. I am assuming it replaces the origin value of the request.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 728c8dff-6ea7-54f7-cdbe-a212b74e09cf
* Version Independent ID: 52149ed5-562d-751f-b2eb-c4ee52d107a9
* Content: [Using Azure CDN with CORS](https://docs.m

[2019-06-01 02:56] Mike-Ubezzi-MSFT commented on #32279
I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-01 02:59] Mike-Ubezzi-MSFT commented on #32353
I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-01 03:00] Mike-Ubezzi-MSFT commented on #32358
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-01 03:00] #32358 closed

[2019-06-01 03:00] Mike-Ubezzi-MSFT commented on #32432
I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-01 03:05] tkumark opened #32543 "time taken to for approval of rule be reduced"
4 hours for approval for a rule is too much of time especially if we need to try out different type of rules. Is there a way to reduce this? also is there a way to trouble shoot rules

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b667f198-4035-b35c-117d-5f3843085ba0
* Version Independent ID: 21a5591c-695a-735b-685a-c5

[2019-06-01 03:17] BryanTrach-MSFT commented on #32537
@aquibqureshi26 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-01 03:18] BryanTrach-MSFT commented on #32539
@jschurman Can you please provide us the URL of the Azure doc that you are having issues with? We look forward to your reply.

[2019-06-01 03:19] BryanTrach-MSFT commented on #32540
@knbz Can you please provide us the URL of the Azure doc that you are having issues with? We look forward to your reply.

[2019-06-01 03:21] BryanTrach-MSFT commented on #32526
@Mike-Crowley Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-01 03:22] BryanTrach-MSFT commented on #32527
@bmonteiro We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-01 03:22] #32527 closed

[2019-06-01 03:23] BryanTrach-MSFT commented on #32529
@MikeChemi Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-01 03:24] femsulu commented on #10374
adding @nkiest

[2019-06-01 03:24] BryanTrach-MSFT commented on #32531
@ayprof Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-01 03:27] #15192 closed

[2019-06-01 03:28] #15209 closed

[2019-06-01 03:28] BryanTrach-MSFT commented on #32532
@zjalexander Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-01 03:29] BryanTrach-MSFT commented on #32541
@ConcreteGannet Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-01 03:30] BryanTrach-MSFT commented on #32542
@tkumark Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-01 03:31] BryanTrach-MSFT commented on #32543
@tkumark Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-01 03:33] BryanTrach-MSFT commented on #32424
@gitnwana Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-06-01 03:33] #32424 closed

[2019-06-01 03:33] BryanTrach-MSFT commented on #32452
@abhi9866 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-06-01 03:33] #32452 closed

[2019-06-01 03:36] femsulu commented on #17163
Hi John, just to confirm "doc location changed" means the UX screenshot has been updated? :)

[2019-06-01 03:36] BryanTrach-MSFT commented on #32431
@mfbhatt Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-01 03:36] #17163 closed

[2019-06-01 03:38] BryanTrach-MSFT commented on #32420
@icas-code Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-01 03:39] BryanTrach-MSFT commented on #32476
@benoithamet Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-06-01 03:39] #32476 closed

[2019-06-01 03:42] #17826 closed

[2019-06-01 03:43] #17601 closed

[2019-06-01 03:50] femsulu commented on #13847
adding @nkiest

[2019-06-01 03:52] femsulu commented on #13547
adding @nkiest

[2019-06-01 03:52] femsulu commented on #13417
adding @nkiest

[2019-06-01 03:52] femsulu commented on #13013
adding @nkiest

[2019-06-01 03:58] femsulu commented on #26721
adding @nkiest

[2019-06-01 03:59] femsulu commented on #24785
adding @nkiest

[2019-06-01 04:00] femsulu commented on #24222
adding @nkiest

[2019-06-01 04:01] femsulu commented on #18746
adding @nkiest

[2019-06-01 05:44] das-kaustav commented on #23045
@Mike-Ubezzi-MSFT I have upgraded my Free Azure trial to Pay-as-you-Go with the thought I can start my training on Databricks. But it is still unfortunate that even after the same I cannot create ADB cluster with default settings. I get the same errors as explained above. I went ahead and tried raising a support ticket, and to my surprise, I cant; because it still says my subscription is a Free tr

[2019-06-01 05:53] neerajkrshukla commented on #32234
@sauryadas to thanks for clarifications however for port 22 and 9000 application rules does not work in firewall to limit egress and we need to have a subnet range of API/Master servers so that we can narrow down egress to only AKS API server endpoints. Do we have a public IP range for master servers (*.azmk8s.io).

Thanks

[2019-06-01 05:58] das-kaustav commented on #24214
@Adam-Smith-MSFT #23045

Azure Free trail / Pay-as-you-Go subscriptions are not in sync to allow tutorials on Azure Databricks. All published documents are hitting road blocks, as you can check from the attached Issue number.

[2019-06-01 06:04] carloshm commented on #32172
Thanks @RohitMungi-MSFT  and @areddish for the followup. My objective with the feedback was with a "Quickstart" and "newbie" mindset point of view. Sure you can search around docs and find solutions to the questions. I would expect to be able to understand and run the quickstart and "variations" based on initial execution, or after having onboard the service.
Specificaly, PublishingMode does not a

[2019-06-01 06:22] lymedo opened #32544 "Typo"
Misspelling of flows (floes) in Set sink batch size section.

In order to avoid row-by-row processing of your data floes, set...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 849ca34d-0f6b-64eb-745c-27427c017f8d
* Version Independent ID: 6ca5ca5f-c8a1-6924-0afd-c96bec08fc97
* Content: [Mapping Data Flow performance an

[2019-06-01 06:57] tauqirghani opened #32545 "NuGet package StackExchange.Redis installation gives the following error"
PM&gt; Install-Package StackExchange.Redis

Attempting to gather dependency information for package 'StackExchange.Redis.2.0.601' with respect to project 'RedisTutorial2.1', targeting '.NETFramework,Version=v4.5.2'
Gathering dependency information took 9.94 ms
Attempting to resolve dependencies for package 'StackExchange.Redis.2.0.601' with DependencyBehavior 'Lowest'
Resolving dependency informat

[2019-06-01 07:34] sufi1321 commented on #32158
@shashishailaj thanks for your reply but unfortunately I still see the iOS devices in the dynamic device group, where I need only devices below iOS 12.

I guess the rule is not working, did you test it btw ?

[2019-06-01 07:49] msrini-MSFT commented on #32215
@rogerbramon , I am closing this issue now. If you have any further questions, feel free to tag me. I will reopen and work with you.

[2019-06-01 07:49] #32215 closed

[2019-06-01 08:00] microsoftbuild opened #32548 "Redundant phrase "in the" under "Create Custom Vision resources in the Azure portal""
The phrase "in the" occurs twice in the following sentence under "Create Custom Vision resources in the Azure portal"

To use Custom Vision Service, you will need to create Custom Vision Training and Prediction resources in the in the Azure portal. This will create both a Training and Prediction resource.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-06-01 08:32] fdebonneval commented on #32494
Well, not exactly. With a Microsoft Peering :
* I will announce my prefixes over the BGP session
* I will get announces from Microsoft Peering of the BGP session

I wanted to know if I can announce more specific prefix than a /24 over my Microsoft Peering session (which is not possible with a traditional transit link or over a route server session at an IXP).

Thx;
Foucault

[2019-06-01 08:38] bmonteiro commented on #32527
The only way I found to overcome this is this (image). Using a generic URL so it won't point to the Atlassian site directly.
<img width="709" alt="Screen Shot 2019-06-01 at 10 34 47" src="https://user-images.githubusercontent.com/908425/58745997-5389b400-8459-11e9-9d59-d8c7be5394da.png">

[2019-06-01 08:42] KrishnaG-MSFT commented on #32466
@StephenWeatherford Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-06-01 08:42] #32466 closed

[2019-06-01 08:45] KrishnaG-MSFT commented on #32319
@aquibqureshi26 Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-06-01 08:45] #32319 closed

[2019-06-01 09:47] julesman101 opened #32550 "Replace "LiveLogRBAC.yml" with "LogReaderRBAC.yml""
In the section titled "Kubernetes RBAC authorization", Step 2 contains the following line:
"If you previously enabled support for live logs preview before we introduced live event logs, to update your configuration, run the following command: kubectl apply -f LiveLogRBAC.yml."

The string "LiveLogRBAC.yml" should read "LogReaderRBAC.yml".

Thanks.. JD

---
#### Document Details

⚠ *Do not edit thi

[2019-06-01 09:57] grofattila commented on #31354
Hi!

I am facing the same issue. Trying to follow the quickstart notebook (https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/deployment/accelerated-models/accelerated-models-quickstart.ipynb).

I get the same 400 Bad request error when trying to deploy the an Image to Standard_PB6s.

My subscription is: Free Trial
ML worskapce location: East US 2

@ram-msft Should I

[2019-06-01 12:09] bennor commented on #32004
It would be really helpful if it showed how to wire it up to send to AI, like the default `ILogger` passed to the function does automatically when you have AI instrumentation on. It appears that `ILogger` isn't injected when I take a dependency on it in any of my other injected dependencies. 😞

[2019-06-01 13:03] Phoenix1112 opened #32551 "how can i delete azure account?"
hello. i want to delete azure aaccount... i dont want cancel subscription.. i have not subscription.. onyl i want to delete azure account. i dont want to use azure cloud. please answer me

[2019-06-01 13:53] DarqueWarrior commented on #32149
Much better. Pointing out it uses constructor injection is a great addition.

[2019-06-01 14:07] tudort-iquest commented on #31937
Indeed, it would be very useful to document the minimum permissions an user needs in order to grant directory reader access to Azure AD to SQL Managed Instance - it happens very often that the person who plays the Azure AD global/company administrator role is reluctant to use that account to run a script that a developer asks him to run, each time a SQL MI instance is created..

[2019-06-01 14:33] srv-twry opened #32552 "Cannot deploy application"
Hi,

I am following the guide on how to create Windows Server Containers on Azure Kubernetes Service. [Link](https://docs.microsoft.com/en-us//azure/aks/windows-container-cli)

I pulled the sample image demonstrated in the guide, tagged it and uploaded it to Azure container registry.
Upon deploying the application to Kubernetes, the pods are unable to pull the image from the container registry.

T

[2019-06-01 15:30] AshokPeddakotla-MSFT commented on #32445
@romankiss Thanks for the detailed feedback and sharing the steps. I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-01 15:57] MicahMcKittrick-MSFT commented on #32552
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-01 15:59] diberry opened #32555 "try/finally"
Is there a reason the node.js code doesn't have any catch with the try block? Is it something specific to the service of the npm package or is it a bug in the code but should really have a catch block?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9b4c933-be74-a3a0-153c-34ab0cb7df1b
* Version Independent ID: 44949422

[2019-06-01 16:05] AshokPeddakotla-MSFT commented on #32322
I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-01 16:10] fatichar opened #32556 "Typo in Example Code"
In "LINQ query for Distance" example on page https://docs.microsoft.com/en-us/azure/cosmos-db/geospatial, the variable in the where clause is named 'u', but its Location property is accessed as 'a.Location'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c72695a-0bef-6a4b-0210-e02e4145f652
* Version Independent ID: e2

[2019-06-01 17:07] davidfeng74 opened #32562 "Resource Graph results return time"
Hi,

Can you please tell usually how long it takes to get the query results (especially for advanced queries) in case there are resources in multiple accounts and regions? Also, I am not able to find the pricing of this feature (running specific queries). Can you please help with it?

Thanks,
David

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-06-01 17:12] BryanTrach-MSFT commented on #32544
@lymedo Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-01 17:14] BryanTrach-MSFT commented on #32545
@tauqirghani Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-01 17:18] BryanTrach-MSFT commented on #32551
Can you please let us know the URL of the Azure doc that you are having issues with? We look forward to your reply.

[2019-06-01 17:21] BryanTrach-MSFT commented on #32556
@fatichar Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-01 17:23] BryanTrach-MSFT commented on #32562
@davidfeng74 Can you please provide us the URL of the Azure doc that you are having trouble with? We look forward to your reply.

[2019-06-01 17:27] BryanTrach-MSFT commented on #32548
@microsoftbuild Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-01 17:28] BryanTrach-MSFT commented on #32550
@julesman101 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-01 17:30] BryanTrach-MSFT commented on #32555
@diberry Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-01 17:35] davidfeng74 commented on #32562
I am referring to the below document-
https://docs.microsoft.com/en-us/azure/governance/resource-graph/overview

I am able to access the document. I have the above additional questions which are not answered in the doc.

Thanks,
David

[2019-06-01 18:21] Phoenix1112 commented on #32551
hello... i want to delete azure account.  there is no document for this.. I want to completely delete my azure account.

microsoft shared the following link for this.
https://docs.microsoft.com/en-us/azure/billing/billing-how-to-cancel-azure-subscription

but I can't delete my azure account with the ones here... The links above refer to only deleting subscriptions...  i want to delete azure accoun

[2019-06-01 18:32] jhampsonPSS opened #32565 "Is mounting different?"
Now that I have assigned my user the correct permissions via RBAC. When they go to mount the Azure file share they still use the key to do so. Will the share recognize the users AAD creds even though they used a key to authenticate?
in the Invoke-Expression command to mount I am using  "/user:Azure\Storagename /pass:12398safs9fhafhsdf"  but of course this is not the name of my user. So does the Az

[2019-06-01 18:42] shashishailaj commented on #32565
@jhampsonPSS Thank you for your feedback . We will investigate and update this thread.

[2019-06-01 18:53] jhampsonPSS commented on #32565
I found this: https://docs.microsoft.com/en-us/azure/storage/files/storage-files-active-directory-enable
seems part of the way there.
Do i need to use icacls as instructed in that url, or will the RBAC rights I assigned in the Azure web console work.

[2019-06-01 18:55] abhinavcarlsberg commented on #32495
Just to add the first scenerio where you are unable to edit the connectors properties is an known update only for the staging mode but as of now its not updated on any article on the internet .Could you update that please (confirmed from the PG team)

[2019-06-01 18:57] jhampsonPSS commented on #32565
There is a section titled "Mount a file share from a domain-joined VM"
I need a section called "Mount a file share from a AAD domain-joined Windows 10 Pro machine"

[2019-06-01 19:55] smoms opened #32566 "IoT Hub downstream messaging clarification"
If a route Source can be either module or leaf devices only, then am i correct that for the IoT Hub's backend app to reach a module or leaf device it can only leverage direct method or cloud-to-device messages ?
thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad3731a8-f0df-f1a1-d1a1-e89a769a0908
* Version Indepen

[2019-06-01 21:01] msimecek opened #32567 "Dated walkthrough"
This walkthrough was last updated in 2017 and it's a bit outdated. While the steps are still valid, there's now a new unified Azure Management SDK (`Microsoft.Azure.Management.Fluent`) which makes things simplier and cleaner.

[code]

And also: the CDN management library used in this walkthrough (`Microsoft.Azure.Management.Cdn`) puts `resourceGroupName` as the first parameter, therefore the sampl

[2019-06-01 21:32] SubbuKonathala commented on #32404
Hi Thomas

You can easily repro the issue at your end. All you got to do is stop the VM's and try to perform the restart operation. It will give a different error, that I mentioned initially. So the public document seems to be wrong.

I'm from CSS support team (sukon), so you can reach out to me via Teams for more questions.

Thanks
Subbu
________________________________
From: Thomas Lin <notifica

[2019-06-01 22:48] Paxxi commented on #30596
Obviously it's a bit sad that it couldn't be resolved, but it's out of your hands and I understand that.
Thank you for the continuous feedback, it's been great 😀

[2019-06-01 23:14] HUBBER12 commented on #28220
Mattchenderson…. thank you soo much that worked perfectly.. Apologies I did not respond sooner, but yes your article posted there worked great for what i needed !

[2019-06-02 00:02] whihathac opened #32568 "The diagram shows that the workaround bypasses the FW's rules"
Is that the case?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07b33cf5-3747-59b6-29b4-9aa076a6d271
* Version Independent ID: ddd15c52-275e-68e6-513e-07d42292b059
* Content: [Integrate Azure Firewall with Azure Standard Load Balancer](https://docs.microsoft.com/en-us/azure/firewall/integrate-lb#feedback)
* Content So

[2019-06-02 00:30] SubbuKonathala commented on #32404
I guess, the main concern or confusion is using the work "Restart partially stopped (deallocated) VMs" or "Restart fully stopped (deallocated) VMs". Instead can't we just call is start, because there is also operation called "Restart". It's logically correct to say why would someone try to restart a stopped VM, rather they will try to start a stopped VM.

To discuss more, please feel free to reach

[2019-06-02 02:41] BryanTrach-MSFT commented on #32566
@smoms Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-02 02:42] BryanTrach-MSFT commented on #32567
@msimecek Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-02 02:43] BryanTrach-MSFT commented on #32568
@whihathac Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-02 07:48] YASWANTHM-MSFT commented on #32416
@b-juche ,  could you please look into this?

[2019-06-02 08:06] hmayer1980 commented on #30153
Any Update on this?

[2019-06-02 08:11] AshokPeddakotla-MSFT commented on #32324
@ac2707 Please ensure that your env file should be in the location of <your home folder>\.pcs\<solution name>.env
Also, check if you are using the correct subscription where your resources are created.

[2019-06-02 08:39] mlottner commented on #32037
@kartheekakkur Please let us know if the latest instructions from @kfbehar helped and you have now succeeded, or if you still need assistance.

[2019-06-02 11:41] giovannifl opened #32569 "Performance diagnostics for Linux"
Hello,
Please could you confirm / clarify if this extension only works on Windows and in case of Linux if Linux Diagnostic Extension should be used ?

Thanks in advance

Giovanni

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70ed8599-3bc1-6246-ccfa-4478a3061d56
* Version Independent ID: f7019695-1c99-500f-e1fb-de8cc22

[2019-06-02 12:53] danishaamirs opened #32570 "2 factor authentication Problem"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-06-02 12:59] danishaamirs opened #32571 "Two factor authentication proble"
I am using my personal microsoft accout for azure with free subscription, I have activated 2 factor authentication and chose mobile app authentication method in Azure AD.  Now Im unable to log in to my account.
Authenticator app shows 8 digit code but my accout is accepting only 6 letters.
My id is danishaamir@outlook.com
This is the error code shows while logging.

Error Code: 50089
Request Id: 1

[2019-06-02 13:22] mellondongit commented on #23045
I am having the same problem. I am half way through my 30 day free trial, and I am following the free tutorials where all exercises should be able to be done. This message about switching to pay-as-you-go doesn't make sense, as the comment above says, that is something that you only want to do at the end of the free trial. There are no options on the list to allow 2 x 2core, all of them assume you

[2019-06-02 13:42] mellondongit commented on #24214
Maybe those affected can have their trial period extended once you fix this?

[2019-06-02 13:52] wojtekmaj opened #32572 "Deployed via FTP, no changes visible?"
I created a simple App Service to deploy a static HTML app of mine. Followed the instructions to deploy via FTP. I successfully connected to FTP server and uploaded the files. I removed default HTML file just to be sure. I made sure I uploaded index.html file. And what? I still see "Hey, Node developers!" welcome page on my app's home address.

---
#### Document Details

⚠ *Do not edit this sectio

[2019-06-02 13:57] wojtekmaj opened #32573 "How do I create static HTML site through Azure portal?"
It looks like it's impossible to create static HTML site through Azure portal. I'm forced to choose some runtime environment, and I need none.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a825f031-250e-034d-e552-4b0d976d88b1
* Version Independent ID: 626d7451-0b8e-051e-e512-0bf90be319a0
* Content: [Create static HTML

[2019-06-02 14:28] sysadmin-exe opened #32574 "issue with the custom probe documentation."
I can see that we cannot specify the loopback address in the custom health probe. we have to specify a hostname now. but the document still says we can use 127.0.0.1 when we don't have a host name. can this be addressed? thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c47f14c-8432-fa9b-59c2-8283cc455041
* Versio

[2019-06-02 14:54] vultureman opened #32575 "Hybrid Setup with ADFS but someone didn't disable Seamless SSO properly"
The one thing that I got from Jason's blog beyond this post is that a hybrid Setup using ADFS has different content in the PRT than a Seamless SSO PRT. This is apparent when you switch to ADFS with pass hash sync but didn't disable Seamless SSO via powershell or remove the computer, steps 2 and 3 of the MS Steps to disable Seamless SSO. Can you please be sure to include that these have different a

[2019-06-02 15:43] KalyanChanumolu-MSFT commented on #32556
@fatichar Thank you for pointing out the issue, I have updated the doc accordingly.
The changes should be live EOD or tomorrow. We will close this issue now.

In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update.
We love taking contributions from the community. 

[2019-06-02 15:47] #32556 closed

[2019-06-02 16:04] IotCore-Developer opened #32579 "In real life application, doesn't seem to work"
Implemented on a raspberry pi, it doesn't seem to work.
Get a lot of communication errors but no real connection.

Any ideas how to get it working on ARM ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31cd2f69-1c17-95fe-49b7-f1ad2705e8ba
* Version Independent ID: 3fa1a754-75a7-5dcd-1892-b76fea68cd19
* Content: [Azure

[2019-06-02 16:05] MicahMcKittrick-MSFT commented on #32569
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-02 16:16] msrini-MSFT commented on #32574
@sysadmin-exe, This validation has been introduced in the portal recently.

The default probe from Application gateway looks like Http/https://127.0.0.1:HTTPSettingPort/

If you want the probe to be different from this, then you can go ahead and create custom probe and attach to the HTTPSettings.
If not you can use the default probe.

Let me know if you have any further questions.

[2019-06-02 16:18] meirpr commented on #32178
@YutongTie-MSFT Andrew answered me that you can run the object detection model with code provided in the zip file. I see python code entitled **Object__Detection.py **. It creates a class entitled Object_Detection with a method entitled **predict**. The comment states """Evaluate the model and get the output
        Need to be implemented for each platforms. i.e. TensorFlow, CoreML, etc.
        "

[2019-06-02 16:20] sysadmin-exe commented on #32574
Yea. Thought as much. A recent change. So if I want to probe the backend with 127.0.0.1, I just need to not create a probe. Right?

[2019-06-02 16:22] msrini-MSFT commented on #32574
@sysadmin-exe , Yes you are correct.

[2019-06-02 16:26] sysadmin-exe commented on #32574
Thank you. 🙂

[2019-06-02 16:28] #32574 closed

[2019-06-02 16:43] KalyanChanumolu-MSFT commented on #32545
@tauqirghani StackExchange.Redis version 2.x requires .NETFramework 4.6.1 or higher.
You will have to upgrade your application to target the same.

If you are using Visual Studio, right click on your project, select properties and change the target framework. Then try installing the StackExchange.Redis package.

![image](https://user-images.githubusercontent.com/8835012/58764329-70baa180-8583-11e9

[2019-06-02 17:02] KalyanChanumolu-MSFT commented on #32532
@zjalexander Thank you for highlighting this.
This is being assigned to the content author to evaluate and update accordingly.

@danimir  Could you please check if the "[Update Azure Automation modules](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-automatic-tuning-email-notifications#update-azure-automation-modules)" section of this doc can reference content from "[Migrating to

[2019-06-02 17:06] BryanTrach-MSFT commented on #32570
@danishaamirs We will be closing this as a duplicate of #32571.

[2019-06-02 17:06] #32570 closed

[2019-06-02 17:10] BryanTrach-MSFT commented on #32571
@danishaamirs Can you please provide us the URL of the Azure doc that you are having trouble with? We look forward to your reply.

[2019-06-02 17:14] BryanTrach-MSFT commented on #32573
@wojtekmaj Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-02 17:14] BryanTrach-MSFT commented on #32572
@wojtekmaj Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-02 17:16] BryanTrach-MSFT commented on #32575
@vultureman Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-02 17:17] BryanTrach-MSFT commented on #32579
@IotCore-Developer Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-02 18:37] BPtLNfxZWo opened #32583 "Why PKDF2 and not bcrypt, scrypt or Argon2"
Why was PKDF2 (with only 1000 iterations) choosen, instead of more suitable algorithms like bcrypt, scrypt or even better Argon2, the winner of the password hashing competition?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c900f942-4456-5238-9f4c-a7a5bd685c04
* Version Independent ID: a5d7d971-765f-0977-f531-232ea592

[2019-06-02 18:54] githubavi opened #32584 "Enrollment for "Speaker verification" is being added to same profile, but with multiple users voices"
Hi, during my testing with "Speaker verification" api, I have found that the "enrollment" can be applied in more than one cycle, i.e., as each cycle is 3 recordings for a "profile enrollment", if 2 different users apply their voices against a same "profile id", it is getting accepted. Then during "Verification" testing it showing "Green" for both the users against the same profile id.

I think it

[2019-06-02 18:56] carlpr opened #32585 "compressionCodec not found?"
Input is malformed. Reason: inputTable.compressionCodec : Could not find member 'compressionCodec' on object of type 'TextFormat'. Path 'compressionCodec'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2309a152-b9bc-7876-e010-b3bde6945d42
* Version Independent ID: 751c7679-b01c-301d-8211-30f43ff50c54
* Content: [Delimi

[2019-06-02 20:18] AngryVirginian opened #32586 "Multi-Turn - Update API to add multi-turn prompts not working"
I want to add multi-turn prompts to an existing QnA kb by using API (patch) but it is not working.  Below is an example JSON that I tried to send.  I verified that both IDs existed.  The page mentioned that adding multi-turn via API is possible - https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/multiturn-conversation#display-order-supported-in-api

{
    "update": {

[2019-06-02 22:07] sowsan opened #32588 "Anyway to customize the widget? (video indexer insights and media player)"
Hello Team -

Any way to customize the widget to remove certain parts (highlighted), apply some custom css , and also if possible use audio only player for audio only scenarios?

![image](https://user-images.githubusercontent.com/11544153/58767963-23c5d380-8561-11e9-8e73-a5006320c622.png)

# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation reposi

[2019-06-02 22:43] flyingjay16 opened #32589 "Unclear node.js instructions?"
What happens after we create a ToDoItem table? The instructions seem to end for the node.js backend after that. Is there a repo for the node.js that we download?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7041142f-6df3-4e70-b1b9-22b2f13f4966
* Version Independent ID: 4a9dc512-f04b-fd66-5c25-b2095522b497
* Content:

[2019-06-02 23:22] BryanTrach-MSFT commented on #32588
@sowsan Can you please provide us the URL of the Azure doc that you are having issues with? We look forward to your reply.

[2019-06-02 23:24] sowsan commented on #32588
I was referring to one of the sample videos provided in the trial account and i was testing it.

https://www.videoindexer.ai/accounts/00000000-0000-0000-0000-000000000000/videos/a232840f83/

[2019-06-02 23:24] BryanTrach-MSFT commented on #32584
@githubavi Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-02 23:25] BryanTrach-MSFT commented on #32585
@carlpr Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-02 23:29] BryanTrach-MSFT commented on #32589
@flyingjay16 The docs are in the process of being updated due to changes in the portal. We have assigned your feedback to the doc author for further updates.

[2019-06-02 23:30] BryanTrach-MSFT commented on #32583
@BPtLNfxZWo Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-02 23:31] dcbrown16 commented on #32306
That is excellent information, thanks. I created a PR to update this doc with this useful information.

[2019-06-02 23:31] BryanTrach-MSFT commented on #32586
@AngryVirginian Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-02 23:35] BryanTrach-MSFT commented on #32492
@sannzay Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-06-02 23:35] #32492 closed

[2019-06-02 23:36] BryanTrach-MSFT commented on #32513
@brtmeyer Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-06-02 23:37] BryanTrach-MSFT commented on #32539
@jschurman Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-06-02 23:37] #32539 closed

[2019-06-02 23:43] BryanTrach-MSFT commented on #32588
@sowsan Thank you for the update. Please note that we keep feedback scoped to Azure Docs in this channel. Since your feedback is product support related, we kindly ask you to share it on either [MSDN](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=MediaServices), [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-media-services), or [in a support case](https://docs.

[2019-06-02 23:43] #32588 closed

[2019-06-02 23:46] BryanTrach-MSFT commented on #32562
@davidfeng74 Thanks for the update. We are currently investigating and will update you shortly.

[2019-06-02 23:52] BryanTrach-MSFT commented on #32551
You should delete your subscription by following the steps listed in the doc your mentioned if you wish to remove all services.

After that, to delete your Microsoft account, please follow [these steps](https://support.microsoft.com/en-us/help/12412/microsoft-account-how-to-close-account).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag m

[2019-06-02 23:52] #32551 closed

[2019-06-03 00:10] BryanTrach-MSFT commented on #32540
@knbz Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-06-03 00:10] #32540 closed

[2019-06-03 00:28] dcbrown16 opened #32591 "Archive??"
What are these archived pages (per the ToC)? Is this all deprecated functionality?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 693c6d95-1e8d-8dd8-d6a7-75630c97ab84
* Version Independent ID: b3c4de65-63a8-544d-f6e8-f9e5bd8da732
* Content: [Apply disk encryption in Azure Security Center](https://docs.microsoft.com/en-

[2019-06-03 00:39] qaaditya opened #32592 "Enable-AzSqlServerAdvancedDataSecurity not working in Az 2.1.0"
I have installed Az v2.1.0 on my laptop. But unable to run the following commands! Unable to run them on Azure Portal's powershell as well! I have Powershell 5.1 installed on my laptop.Could someone help me?

https://docs.microsoft.com/en-us/powershell/module/az.sql/enable-azsqlserveradvanceddatasecurity?view=azps-2.1.0

https://docs.microsoft.com/en-us/powershell/module/Az.Sql/Get-AzSqlServerAdva

[2019-06-03 02:17] mike-urnun-msft commented on #32555
@diberry It's a valid pattern for this particular type of use-case, check out the answer on this post: https://softwareengineering.stackexchange.com/questions/131397/why-use-try-finally-without-a-catch-clause?newreg=675b611d370f4f2795e50436d8fb8449

`finally` clause is used for closing connection & any `Exceptions` will be caught in this call:
[code]

[2019-06-03 02:40] RavennMSFT commented on #32222
BlockAADWorkplaceJoin is meant to block AAD registered state on domain joined machines. This helps with preventing inadvertent AAD registration when you haven't planned for hybrid Azure AD join yet.

Autoworkplacejoin is meant to block hybrid Azure AD join itself, this enables a controlled validation of hybrid azure ad join instead of enabling it for all devices. We understand the name is a little

[2019-06-03 02:56] hiromingithub commented on #32329
Hi Jason,

Thank you for your kind review and suggestion.
I totally understand what you clarify but
our Premier EA customer would like to put more information.
Is it possible to be like this?

Resource VM total cores per subscription
Default limit 20-350 ※per region.
Maximum limit Contact support.

Resource VM per series, such as Dv2 and F, cores per subscription
Default limit 20-350 ※per region.

[2019-06-03 03:24] rowanb commented on #32244
I'm using v1.
"logger": {
    "categoryFilter": {
      "defaultLevel": "Information",
      "categoryLevels": {
        "Host.Results": "Information",
        "Function": "Warning",
        "Host.Aggregator": "Information"
      }
    }
  }

[2019-06-03 03:56] Anand-Moghe opened #32596 "Salesforce SSO is not accepting downloaded SAML certificate as the size is higher than allowable limit"
[Enter feedback here]

Unable to setup downloaded SAML Signing Certificate in to salesforce SSO setup as the file size is greater than allowable limit of 5K. This [link](https://developer.salesforce.com/forums/?id=906F00000009ej0IAA) says the max size is 4K.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adf2d1dc-ab4d-5

[2019-06-03 04:34] ManojReddy-MSFT commented on #31800
@slavizh We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-06-03 04:34] #31800 closed

[2019-06-03 04:34] ManojReddy-MSFT commented on #31875
@idarryl We have not heard from you in a while.We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-06-03 04:34] #31875 closed

[2019-06-03 04:35] ManojReddy-MSFT commented on #32047
@kevintaber We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-06-03 04:35] #32047 closed

[2019-06-03 04:37] ManojReddy-MSFT commented on #32060
@ajfleming1 We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-06-03 04:37] #32060 closed

[2019-06-03 04:41] b-juche commented on #32416
Thanks, the technical owner of this content is current investigating the suggestion.
~Julie
-------------
Sent from Outlook<https://aka.ms/qtex0l> for iOS
________________________________
From: YASWANTHM-MSFT <notifications@github.com>
Sent: Sunday, June 2, 2019 12:48:53 AM
To: MicrosoftDocs/azure-docs
Cc: Chen, Julie; Mention
Subject: Re: [MicrosoftDocs/azure-docs] share vdbench scripts & configu

[2019-06-03 04:45] lightupdifire commented on #32222
@RavennMSFT
Thank you! Maybe can add in FAQ?!

[2019-06-03 04:45] #32222 closed

[2019-06-03 04:48] CHEEKATLAPRADEEP-MSFT commented on #32544
@lymedo Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/78545](https://github.com/MicrosoftDocs/azure-docs-pr/pull/78545).
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take

[2019-06-03 04:48] #32544 closed

[2019-06-03 05:03] ManojReddy-MSFT commented on #32591
@dcbrown16 Thanks for reporting this. I am assigning this to the author to provide more details regarding this.

[2019-06-03 05:13] ManojReddy-MSFT commented on #32044
@KaishM Thanks for reporting this. The sample code provided is just an example of implementation and needs to be customized based on your environment. You can implement cache clean up in the following ways.
1) Clean up the cache on a timer.
2) Schedule an asynchronous task to remove the cache entry on expiry.
3) Check the cache size when TryAdd is called and trigger an asynchronous cleanup job.

I

[2019-06-03 05:15] KrishnaG-MSFT commented on #24745
@cmeeren It means that at this point you would need to write a query.
Just FYI, @vgorbenko is working on an article that lists all standard metrics with the underlying queries. It should be finished and released very soon.

[2019-06-03 05:21] #32499 closed

[2019-06-03 05:22] AjayKumar-MSFT commented on #32417
@totokliem, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-06-03 05:22] #32417 closed

[2019-06-03 05:24] AshokPeddakotla-MSFT commented on #32198
We have not heard from you in a while.We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-06-03 05:24] #32198 closed

[2019-06-03 05:27] saikumaru opened #32599 "Get list of users who have consented"
Currently the documentation doesn't provide a list of users who have consented to the AAD application.
We need this to keep track of the users who have accessed our application. Please can you add this documentation. Of if it is available, please can you point to that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a85

[2019-06-03 05:31] Karishma-Tiwari-MSFT commented on #31759
@mlimache02 We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-06-03 05:31] #31759 closed

[2019-06-03 05:36] RohitMungi-MSFT commented on #32349
@vrishni  Thanks for the update. @areddish Could you please ensure the document is updated to use the updated version since the same will be deprecated from July 2019.

![image](https://user-images.githubusercontent.com/46958063/58778269-8a91ce00-85ef-11e9-94d0-291231765a23.png)

@Hannah-goodridge Thanks for pointing this out.

[2019-06-03 05:44] dcbrown16 commented on #32483
I see, I guess the SQL DB "Advanced Data Security" feature is separate from enabling Standard ASC. This is really confusing but I think the burden is on SQL to clarify their docs in this case.

[2019-06-03 05:44] #32483 closed

[2019-06-03 05:46] msrini-MSFT commented on #32494
@fdebonneval , When you advertise the prefix over BGP, there are no length requirements.

[2019-06-03 05:46] #32494 closed

[2019-06-03 05:48] RohitMungi-MSFT commented on #32352
@adalfa Thanks for pointing this out.

@aahill It looks like the [language and region support](https://docs.microsoft.com/en-us/azure/cognitive-services/text-analytics/language-support#language-list-and-status) page shows all the languages as supported for Named Entity Recognition but in this documentation [page](https://docs.microsoft.com/en-us/azure/cognitive-services/text-analytics/how-tos/text

[2019-06-03 05:51] AshokPeddakotla-MSFT commented on #32579
@IotCore-Developer Can you share the exact error message you are getting? Please check the Connectivity Requirements and White list Device Streaming Endpoints suggestions from the documentation.
Also, please share more details about the scenario which you are trying.

[2019-06-03 05:57] CHEEKATLAPRADEEP-MSFT commented on #32592
@qaaditya Thanks for reporting this issue. I would request you to raise a bug here: [https://github.com/Azure/azure-powershell/issues/new?assignees=&labels=&template=az-module-bug-report.md&title=](https://github.com/Azure/azure-powershell/issues/new?assignees=&labels=&template=az-module-bug-report.md&title=)

This will assist you with a faster reply to your query.

[2019-06-03 06:04] linruhui commented on #31879
@cephalin @SadiqhAhmed-MSFT Can you please push this thread a little forward? 11 days has passed and we still get no response.

[2019-06-03 06:12] vairaselvam commented on #32262
It is working fine now. No issues i observed.

[2019-06-03 06:15] CHEEKATLAPRADEEP-MSFT commented on #32592
@qaaditya Meanwhile, I'm working with the product team to get more info.

[2019-06-03 06:25] AshokPeddakotla-MSFT commented on #28693
@LeeHyeongWon We have not heard from you in a while. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-03 06:25] #28693 closed

[2019-06-03 06:28] jakaruna-MSFT commented on #32201
@benhartwich is there any update

[2019-06-03 06:33] mpnow commented on #29245
I'm also wondering the same thing as @Arash-Sabet  and @SqweeeRyan  - how to set the User Id. Hopefully an answer will be provided soon.

[2019-06-03 06:36] CHEEKATLAPRADEEP-MSFT commented on #32592
@qaaditya The cmdlet “Enable-AzSqlServerAdvancedDataSecurity” is available only from version 2.1.0.
Az.Sql 2.1.0 is not released yet, so in the meantime you can use the same cmdlet, with the old name Enable-AzSqlServerAdvancedThreatProtection.

![image](https://user-images.githubusercontent.com/44426401/58780866-e1030a80-85f7-11e9-8476-26fd0b9e6298.png)

Current Az.Sql version is 1.10.0. [https://

[2019-06-03 06:39] sannzay commented on #32492
Hi, @BryanTrach-MSFT. Sorry for the late reply. The code i have used to create the 2nd step is:
[code]

I have given information about compute target in my question. Please let me know if you want any other information.

[2019-06-03 06:39] benatuts opened #32601 "Invalid Python"
In Step 3:
    3. Instantiate the client
    Python
    var client = new VisualSearchClient(new ApiKeyServiceClientCredentials("YOUR-ACCESS-KEY"))

"var client" is not valid Python.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4daeefbb-fb10-fa82-617d-d2f08e2fac8e
* Version Independent ID: becd0359-f45b-1f6c-4db9-24f2

[2019-06-03 07:17] Phoenix1112 commented on #32551
Heyyy? İ dont want microsoft account. Only i want to delete azure account. i will complain microsoft with fraud... Why does everyone play the idiot? I say I want to delete my azure account completely, but you are sharing a link about how to delete my microsoft mail account...

I'm asking you how to delete my azure account.

I'm not asking about deleting an Azure subscription.

Deleting azure subsc

[2019-06-03 07:23] MohitDhingra-MSFT commented on #32297
@TiloGit You can manually set the account by logging on to the management VM in the managed domain (AAD domain services) and using powershell to modify the attributes. But it will automatically get reset in the next sync from Azure AD -->> Azure AD domain services. Currently the mail attribute for a Azure AD user object is only setup by Exchange online . You can setup ```otherMails``` attribute an

[2019-06-03 07:23] #32297 closed

[2019-06-03 08:23] SubhashVasarapu-MSFT commented on #31172
@jaiminsoni2017 , This will require deeper troubleshooting, if possible please go ahead and file a support request, if you don’t have access to support please reach out to me by emailing azcommunity@microsoft.com please reference this post and send your subscription ID as well
**Mail Contents:**
Your Subscription ID (this can be found by searching for "Subscriptions" in the portal)
A link to this

[2019-06-03 08:24] SubhashVasarapu-MSFT commented on #31172
@jaiminsoni2017 , We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-06-03 08:24] #31172 closed

[2019-06-03 08:39] DashleenBhandari-MSFT commented on #32472
@carlpoole , So in order to ensure a container is up and running and ready to serve requests our Platform has to ensure that the web server inside the container is capable of handling requests. While the app container is starting up, our platform keeps sending HTTP requests to /robots933456.txt inside the container. Now /robots933456.txt doesn't actually exist inside a container but the intention

[2019-06-03 08:47] dominicbetts commented on #32322
@v-krghan - Krishna, can you take a look at this one and make any updates. Thanks.

@AshokPeddakotla-MSFT can you reassign this to Krishna please?

[2019-06-03 08:49] dominicbetts commented on #32337
@v-krghan - can you see if we need to make any doc updates for this? Thanks!

[2019-06-03 09:01] lawrencegripper commented on #32421
It's an interesting line to draw.

At what point is this an problem an issue with the docs? Currently it looks like the setup guide gives incorrect certificate configuration instructions or a least a bit muddled and that's why I see the issue but I'm not able to 100% validate. If I can reproduce this with a brand new Ubuntu 18.04 machine does this then become a docs issue?

Specifically regarding

[2019-06-03 09:05] msrini-MSFT commented on #32421
@cherylmc, can you add your comment here?

[2019-06-03 09:10] jakaruna-MSFT commented on #32552
@srv-twry Can you give me the base image for `pocaspnetcoreweb.azurecr.io/pocaspnetcoreweb:v1`

[2019-06-03 09:32] jjindrich opened #32604 "Is RBAC allowed"
Hi, please I don't see any infomation if RBAC is supported. In you example you are creating cluster with disabled RBAC which is not common scenario for clusters.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c0f176f-ffed-ce36-150d-c6ed6d47d6f7
* Version Independent ID: 9a642e32-7081-dbdb-c4be-69f44fdc8e8c
* Content:

[2019-06-03 09:32] mariojacobo commented on #12480
@thecherrytree we didn't find the solution, just gave up on the product completely, and moved to another cloud.

[2019-06-03 09:37] awalman opened #32605 "Adding Second Endpoint not possible through web interface"
The example given of being able to add two paths on the same server doesn't seem possible through the web app, as the dropdown for registered servers is empty after adding as a first endpoint. Expected to be able to choose an existing registered server and enter a different path to create a second endpoint.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-06-03 09:40] pabbinedi opened #32606 "Site Recovery didn't created availability set in the target region with the suffix "asr" for the VM's which are replicated"
As per the article below
https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-architecture

Site Recovery creates a availability set(AS) in the target regions with the suffix "asr" for the VM's which are located in AS in the source location, but when i did testing i did noticed AS was not created after fail over in the target region. In my case i am doing the testing from West Europ

[2019-06-03 09:40] spaelling opened #32607 "Does not work with resource group policies"
the auto-generated resource group will not be allowed and the request to create a cluster fails.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93aa980e-1970-235c-228a-7b19880171b8
* Version Independent ID: 6f7937a4-12e0-d61c-3bd8-c6347ec48385
* Content: [Tutorial - Create an Azure Red Hat OpenShift cluster](https://do

[2019-06-03 09:43] idanci commented on #30802
Getting the same error. Using the ROPC request from postman collection. Does this flow work?

[2019-06-03 09:49] spaelling commented on #32607
To ellaborate, if Azure policies is enabled and affects resource groups, ex. by requiring certain tags upon creation of a resource group, the request to create a cluster fails.

[https://docs.microsoft.com/en-us/azure/governance/policy/overview](https://docs.microsoft.com/en-us/azure/governance/policy/overview)

[2019-06-03 09:50] benzini00 commented on #31078
We've just fallen foul of this issue, why has this been feedback been closed without updating the documentation to alert people the GPO control doesn't work?!

[2019-06-03 09:50] srv-twry commented on #32552
@jakaruna-MSFT
Hi, As I mentioned already, I just pulled the `mcr.microsoft.com/dotnet/framework/samples:aspnetapp` image from docker hub as mentioned in the guide, tagged it with the required name and pushed it to ACR.

[2019-06-03 09:54] avinashchadalavada commented on #31821
hi @kgremban
I have followed the steps you have given in this link completely "https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-node-module".

1.I wanted to some packages like "OS".  I am trying to install and use its functions  inside the sample modules which i am try to build.

normally we install the node package inside node-module. i want to understand where should install the the pack

[2019-06-03 10:05] GeoLiu opened #32608 "Document Clarification for Comparsion between AzureCNI and Kubenet"
For the below statement mentioned in this doc:

------------------------------
- Every pod in the cluster is assigned an IP address in the virtual network. The pods can directly communicate with other pods in the cluster, and other nodes in the virtual network.
- Pods in a subnet that have service endpoints enabled can securely connect to Azure services, such as Azure Storage and SQL DB.
- You can

[2019-06-03 10:08] MohitDhingra-MSFT commented on #32484
Hi @anandkgpt03,
Could you check API permissions, and also grant admin consent for the service principal. Please check the below screenshot for help.

![grant permission](https://user-images.githubusercontent.com/47346772/58794321-8d071e80-8615-11e9-963d-1601092b89d1.png)

I hope the above information helps.

[2019-06-03 10:12] rogerbramon commented on #26382
Thanks for the info @ggirard07. I'll contact Azure support to try to get this property because this is currently breaking our deployment pipeline...

[2019-06-03 10:23] mike-urnun-msft commented on #32311
@himalpatel81 Polling interval increments up to 1min, as explained [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue#trigger---polling-algorithm), so existing documentation stating the starting time as 100ms seems valid.

[2019-06-03 10:40] ianhinder commented on #32393
On 31 May 2019, at 20:46, Dan Lepow <notifications@github.com<mailto:notifications@github.com>> wrote:

@ianhinder<https://github.com/ianhinder> - Thanks for your question. I ran through the steps of the tutorial, using an access token with the documented permissions to create the webhook with ACR Tasks, then ran the task successfully both manually and triggering through a git commit/push to my pu

[2019-06-03 10:40] dnyaneshlb opened #32609 "How to replay already processed data from event hub?"
Hello,

I need to re-process the data from event hub (with 7 days retention period) due to some business use cases ( like event hub data receiver picked data from event hub, acknowledged "successful delivery" to event hub but failed further ).

Is there any way I can achieve this?

Note : I am aware of Event Hub Capture; wherein I can read captured data from blob storage and replay back. I don't w

[2019-06-03 10:43] rogerbramon commented on #32215
@msrini-MSFT thanks for the suggestion but I think it doesn't work for my use case. In my case I need that the hostname is the custom domain we use to communicate with the appGW because I'm serving different content depending on the host name.

[2019-06-03 10:46] ChiragMishra-MSFT commented on #32585
@carlpr Please make sure that your datasets have Compression Type set to the appropriate type or 'None' (in case of an uncompressed file) as shown in the below screenshot :
![image](https://user-images.githubusercontent.com/43365826/58796420-d9a12880-861a-11e9-8747-6572f9c2b3ad.png)

That should resolve the problem.

[2019-06-03 10:58] MikkelHegn commented on #32528
This PR fixed this: https://github.com/kubernetes/dashboard/pull/2922

I'm not able to reproduce this on either a 1.13.5 or 1.14.0 cluster, I do however see the above mentioned messages, before the dashboards falls back to a PowerShell prompt - which I assume is based on the shell command order in the PR above.

I'm using this image: mcr.microsoft.com/windows/servercore/iis:windowsservercore-ltsc2

[2019-06-03 11:00] ManojReddy-MSFT commented on #32599
@saikumaru The consent is saved against the service principal linked to the application object. So if you navigate to the Azure Portal > Enterprise Applications > Application name > Permissions tab.

You will be able to see both the Admin consent and user consent details.

Hope this helps.

[2019-06-03 11:09] mf1987ir commented on #22160
Hello Guys,

I am new to Azure and have some issue regarding pipeline release building from Azure DevOps.

The error is also about case sensitive letters, I converted all parameter names to lower case but sill the error remains as below:

`here was an error while overriding 'KeyVaultName' parameter because of 'TypeError: Cannot read property 'type' of undefined', make sure it follows JavaScript Ob

[2019-06-03 11:13] sbugalski opened #32610 "Unable to create 168.63.129.16/32 UDR"
The documentation says we should create route for the 168.63.129.16/32 to the Internet. However creating such rule via Portal / Template / Powershell / API gives error:
{
"error": {
"code": "AddressPrefixInRestrictedAddressSpace",
"message": "AddressPrefix 168.63.129.16/32 for route hdi-mgmt-dns-168.63.129.16 is not allowed because its in restricted address space.",
"details": []
}
}

[User voice]

[2019-06-03 11:21] maurert opened #32611 "Writing to the built-in endpoint"
The article does not state if it is possible to write to the built-in event hub endpoint. The use case would be for example to route messages to an adapter service witch when done processing sends back the message in the adapted form to the built-in endpoint. Services reading from the built-in endpoint can then process all messages the same way.

---
#### Document Details

⚠ *Do not edit this sect

[2019-06-03 11:32] AlissonRS opened #32612 "Possible Status for Webjobs"
Hello!

I'd like to know if there a list of all possible "Status" a Webjob can go, and what they mean.

Just as an example, what does it mean when a triggered webjob is on "Aborted" status? I want to monitor the webjobs, but I'm not sure what statuses I should be concerned, what they mean.

The doc I was reading and hoping to find the answer to this question is here:

https://docs.microsoft.com/en

[2019-06-03 11:40] ChiragMishra-MSFT commented on #32609
@dnyaneshlb Thanks for the feedback. We are assigning the issue to the content owner to comment.
@ShubhaVijayasarathy Can you please take a look at this?

[2019-06-03 11:45] ChiragMishra-MSFT commented on #32610
@sbugalski Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-06-03 11:46] wpitallo commented on #32461
Hi @Grace-MacJones-MSFT, any updates on this?

[2019-06-03 11:57] jakobli commented on #30802
so it was "solved" for us. We had missed out that ROPC was not supported in hybrid set ups. In case anyone else is stuck for the same reason.

[2019-06-03 12:00] Ablesius opened #32613 "luis-concept-collaborator phrasing unintelligible "owner can delete the app receive email""
- [X] The relevant Azure service or technology: **LUIS**
- [X] A link to the published documentation article that you have feedback about: [LUIS App Owner](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-concept-collaborator#luis-app-owner)
- [X] Clear, specific feedback that the author can act on: To me it is not understandable what the sentence means: "The owner can delete th

[2019-06-03 12:05] chhamso opened #32614 "Minor "typo" in the route table."
The typo is the first line here. The Next hop of 'Virtual network'  should say "VnetLocal"  If you type it in as Virtual network you will be sad.   :(

User defined routes

Name                                Address prefix              Next Hop
subnet_to_vnetlocal          MI SUBNET                  Virtual network

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2019-06-03 12:09] kartheekakkur commented on #32037
@mlottner @kfbehar

the link does not work https://docs.microsoft.com/en-us/dotnet/core/rid-catalog%3E

[2019-06-03 12:11] artisticcheese commented on #32528
Once you are in powershell prompt, can you do anything there? Mine immediately disconnected as soon as it receives any input

![image](https://user-images.githubusercontent.com/13176884/58800960-dc762c00-85ce-11e9-8787-8b73dba000d1.png)

[2019-06-03 12:22] maxgaulhofer opened #32615 "Please add instructions onboard Security Center via Rest"
Please add instructions onboard Security Center via Rest

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3663e88-0fa4-cdd3-7f4c-9660f0592473
* Version Independent ID: 05e2cb42-80e3-d26f-7d32-5bb791138948
* Content: [Use PowerShell to onboard Azure Security Center and protect your network](https://docs.microsoft.com/en-

[2019-06-03 12:28] CalvinDale opened #32616 "Suggest explaining Domain_hint"
This article could be improved by either explaining or linking to an article that explains the optional Domain_hint value entered in Step 9.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b8cd351-ffd7-d9f4-2894-b31bd903915d
* Version Independent ID: 72118a2f-53cf-aaed-c655-b98f114eb0d5
* Content: [Tutorial - Add ident

[2019-06-03 12:31] thomps0 opened #32617 "Minimum required permissions to configure password protection"
Looking for the minimum required permissions to configure/view this page.  Could this be a standard inclusion on any product you are documenting?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 799247b7-b3f3-807f-2183-1775f47500f9
* Version Independent ID: 8c242698-eaa1-4132-497f-e6ac336e94f6
* Content: [Azure AD Passwo

[2019-06-03 12:38] qaaditya commented on #32592
Could you tell me when is v2.1.0 scheduled for release? Also, where on the microsoft portal would i find that info? Reading from the portal, it looked like its available now!

[2019-06-03 12:39] craigshoemaker commented on #32149
Now that the article is updated, #please-close this issue for now.

[2019-06-03 12:51] TheEye1806 commented on #32267
Is there an easier way to access an azure sql database ? I only need a demo app and I don't really have time nor the knowledge to rewrite the entire .net backend.

[2019-06-03 13:03] jakaruna-MSFT commented on #32608
@GeoLiu Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-03 13:03] ManuDemoen opened #32618 "Azure B2B (guest) accounts limitation"
What's the purpose of this? It is very limiting for me and my colleagues who do not always have an account in the same AD as our customers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc58ee8d-9650-6a07-8740-e10bf9dc12af
* Version Independent ID: ca47ad42-0033-3b26-f7ac-6fb32c3ff8d6
* Content: [Install On-premises d

[2019-06-03 13:03] jakaruna-MSFT commented on #32608
@iainfoulds please take care of this issue

[2019-06-03 13:14] satyajitps opened #32619 "Implicit activity dependencies using "inputs" and "outputs""
I wanted to understand if activities can 'implicitly' depend on each other based on the datasets specified in the "inputs" and "outputs" section. For example:
1. ActivityA "outputs" DatasetA
2. ActivityB has DatasetA specified in "inputs"

Does this create an implicit dependency of ActivityB on ActivityA, and ensure that ActivityB will not start until the slice created by ActivityA is available?

[2019-06-03 13:15] mlottner commented on #32037
@kartheekakkur Try this: [.NET Core RID Catalog](https://docs.microsoft.com/dotnet/core/rid-catalog)

[2019-06-03 13:23] ram-msft commented on #31354
@grofattila Yes, Please send an email with the subscription id and the above mentioned details.

[2019-06-03 13:24] ManojReddy-MSFT commented on #31078
@lightupdifire Generally Device registration task runs on every Windows 10 device automatically and having the GPO described int he doc will prevent his task from running.

In a federated scenario, when you configure AAD HJ through AD connect, ADFS rules are created and updated by AAD Connect, so if the rules are created correctly then the device will be joined to Azure AD. I am not sure what you

[2019-06-03 13:30] vrishni commented on #32586
@AngryVirginian Thanks, From the QnA Portal I am able to add the multi-turn prompts, but not from the Update API.I think this feature currently in preview.

[2019-06-03 13:45] m4gosselin commented on #32425
No problem thank you for the quick answer

[2019-06-03 13:50] lightupdifire commented on #31078
@ManojReddy-MSFT
Sure, we use ADFS and we want to deploy only "down-level", the 2nd option in AD Connect:
![image](https://user-images.githubusercontent.com/39700914/58806686-fe939c80-8616-11e9-839a-bb74dfd0f86b.png)

Question is, if using this 2nd option only, any similar issue like this case we could face?

[2019-06-03 13:55] fabich commented on #32062
@PramodValavala-MSFT I created a new issue.
https://github.com/Azure/azure-service-bus/issues/286
We will track the new issue and will ignore this one

[2019-06-03 14:14] BhargaviAnnadevara-MSFT commented on #32604
@jjindrich Thanks for the question! We're investigating this and will get back to you shortly.

[2019-06-03 14:23] rajcheval commented on #15745
Currently, we deploy global solutions using Azure Traffic manager->AppGateway->Web App.
For customers hosting their DNS in Azure DNS we can use alias record and point apex domain to Azure Traffic Manager CName. This does require us to convert all of our traffic manager nest endpoints to be type external.     We want to start using Azure Front Door. Its WAF is GA now so we were hoping to get rid of

[2019-06-03 14:28] ManojReddy-MSFT commented on #31078
@lightupdifire The ADFS claim rules required will be created when you select either of the options. So, your Windows 10 devices also will get registered if you have any in your environment.

You would have to follow the steps mentioned in this doc and clear the SCP and use a GPO to populate the required registry keys.

@benzini00 The article has been updated with the information regarding SCP. let

[2019-06-03 14:29] mutzl commented on #32004
Same here. Need to inject the default ILogger into service classes.

[2019-06-03 14:40] gcormier opened #32620 "Clarification on network traffic pricing"
It would be useful to address data traffic price implications of a Storage Account service endpoint (or other) versus default bevahiour. EG. A VM downloading data from a service-endpoint for a storage account, both in the same regions, will be considered ______  traffic and charged at ___$.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-06-03 14:48] danimir commented on #32532
@KalyanChanumolu-MSFT Thanks. Article updated (will be visible in the next 24hrs).

[2019-06-03 14:51] benbelow opened #32621 "Clarify that overriding IConfiguration is not advised"
When migrating to a v2 function, we had some issues with `host.json` configuration not being respected - the reason was that we were overriding `IConfiguration`, so our app reverted to default settings instead of reading our configuration.

&gt; Overriding services provided by the host is currently not supported

This line does cover this case, but I wonder if it could be made more obvious that we

[2019-06-03 14:55] ms-jasondel opened #32622 "OSBA is not supported despite FAQ?"
Following the directions here: https://github.com/Azure/open-service-broker-azure#openshift-project-template causes an error: *clusterservicebrokers.servicecatalog.k8s.io at the cluster scope: no RBAC policy matched*

secret/osba-redis created
secret/osba-open-service-broker-azure-auth created
secret/osba-open-service-broker-azure created
service/osba-redis created
service/osba-open-service-broker

[2019-06-03 14:55] cloudlucky commented on #31033
It seems that the project (csproj) must not directly reference the package Microsoft.Azure.WebJobs.Script.ExtensionsMetadataGenerator

See https://github.com/Azure/azure-functions-host/issues/3386#issuecomment-497492442

[2019-06-03 15:14] robinsjoe commented on #26244
Here's the manual for the driver, Provided by Microsoft Support.
http://www.mellanox.com/related-docs/prod_software/MLNX_VPI_Windows_user_manual.pdf

Turns out my issue was Global RSS wasn't Enabled and running the Command wasn't working so we had to enable the reg key manually.
HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\Tcpip\Prameters
Enable RSS

[2019-06-03 15:18] MicahMcKittrick-MSFT commented on #32622
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-03 15:21] MicahMcKittrick-MSFT commented on #32612
@AlissonRS please provide us a link to the documentation you are referring to so we can better assist.

[2019-06-03 15:23] MicahMcKittrick-MSFT commented on #32613
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-03 15:25] MicahMcKittrick-MSFT commented on #32607
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-03 15:25] MicahMcKittrick-MSFT commented on #32606
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-03 15:26] JoelCBennett commented on #25175
In my testing, it seems to require 'Contributor' permissions over the Log Analytics workspace.  "Log Analytics Contributor" is *not* sufficient at this time.  IMO, this is a bug.

[2019-06-03 15:30] lciocci opened #32624 "Message Route (custom endpoint) limit set to 10"
[Enter feedback here]

Are there any plans to extend the number of custom endpoints beyond 10? We currently take advantage of IoT Hub Routing and have built rules to route messages to specific Event Hubs -> Service Fabric applications (microservices). As we further develop our applications we'd like to fan out incoming messages to processes that are specific each a given message Type (and Subtype)

[2019-06-03 15:42] pabbinedi commented on #32606
I managed to fix the issue by adding some lines to the script.. Below is the overall script.

None of the MS document had mentioned on how to migrate the VM's between geographic cluster(may be i missed out). In this case i am migrating from West Europe to South India Azure regions.

Note: The below script is intended to use when you have below points
1)You already have ASR fabric  created.
2) Sing

[2019-06-03 15:43] alexlorenzo commented on #6903
Thank you for your answer. Is it possible to be more precise on which algorithms is used?

[2019-06-03 15:47] AlissonRS commented on #32612
@MicahMcKittrick-MSFT sorry, here you are:

https://docs.microsoft.com/en-us/azure/app-service/webjobs-create

[2019-06-03 15:52] MicahMcKittrick-MSFT commented on #32612
Thanks for that! I will assign to @BryanTrach-MSFT to look into this further

[2019-06-03 15:55] jwisener commented on #10987
So based on this (bullets points), is safe to say, that only on service bus ensures **reliable asynchronous message delivery** ?

[2019-06-03 15:57] jwisener opened #32625 "reliability?"
So based on these (bullets points), is it safe to say, that only "service bus" ensures reliable asynchronous message delivery, and the other two would not ensure reliability?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08e12671-466a-8807-63bb-fb1923554d60
* Version Independent ID: 88dcdcb5-e611-134d-5c2e-66c65741644

[2019-06-03 15:58] shashishailaj commented on #32615
@maxgaulhofer Thank you for your valuable feedback. We will have this reviewed and see what details can be provided .

[2019-06-03 15:59] MikkelHegn commented on #32528
Godo one - I never got that far :-)

I see the same, and I also see the proxy throwing the following error:

`E0603 17:49:35.018520    8032 portforward.go:331] an error occurred forwarding 8001 -> 9090: error forwarding port 9090 to pod 0febf75c6b824a1d69753615c33e9ab8f65f412d727b19b9d5bf9ecb6ea392b2, uid : exit status 1: 2019/06/03 15:49:37 socat[65120] E connect(6, AF=2 127.0.0.1:9090, 16): Conn

[2019-06-03 16:00] tfitzmac commented on #31883
#please-close

[2019-06-03 16:00] shashishailaj commented on #32616
@CalvinDale Thank you for your valuable feedback. We will have this reviewed with the content team and update accordingly.

[2019-06-03 16:01] shashishailaj commented on #32596
@Anand-Moghe Thank you for your feedback . We will investigate and update the thread.

[2019-06-03 16:02] ajfleming1 commented on #32060
@ManojReddy-MSFT Thanks Manoj. I ended up using regular MSAL without B2C (even though I really want b2c) because this call

`authResult = await App.PCA.AcquireTokenSilent(App.Scopes, firstAccount).ExecuteAsync();`

returns a token (with a refresh token) that I can use to call my API while

`authResult = await App.PCA.AcquireTokenSilent(App.Scopes, GetUserByPolicy(App.PCA.Users, App.PolicySignUpSig

[2019-06-03 16:03] shashishailaj commented on #32617
@thomps0 Thank you for your feedback. We will have this reviewed with the content team and update accordingly.

[2019-06-03 16:03] sbhuttan opened #32626 "Accessing DB using Managed Identity without AD Group"
We are working with multiple applications requiring different and granular access to databases within SQL Server. I would like to create managed identity for each application and setup separate access. From documentation above (Grant minimal privileges to identity), it seems only way I have is to have each managed identity in a separate AD group.

Is it possible to achieve this without the AD grou

[2019-06-03 16:08] sqlshep opened #32627 "No Deploy Button in Portal"
delete me
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0211b3a-7229-fde6-cdfc-3fac1f5fb512
* Version Independent ID: 104dee68-825f-ac1c-5bcd-f10853d13355
* Content: [Create and explore experiments in Portal - Azure Machine Learning service](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-create

[2019-06-03 16:08] naziml commented on #32377
@Grace-MacJones-MSFT I no longer work on the AppService team. Could you please reassign this to @ccompy ?

[2019-06-03 16:10] #32627 closed

[2019-06-03 16:13] #19083 closed

[2019-06-03 16:14] cherylmc commented on #32421
Sure - which article could use a note saying that if you are installing on a Linux client, you must create the certificate using the Linux steps? (Just making sure I understand what is being asked)

[2019-06-03 16:15] shashishailaj commented on #30124
Closing as per comments above.

[2019-06-03 16:15] #30124 closed

[2019-06-03 16:19] PatAltimore commented on #32218
Updated all code in the article to match the current sample. Tried the current sample from the GitHub samples repo and couldn't reproduce the issue.

#please-close

[2019-06-03 16:21] PatAltimore commented on #32339
Verified steps in the tutorial. If variable in the truffle-config.js is set correctly, you should be able to connect to the alpha transaction node using the steps in the tutorial.

#please-close

[2019-06-03 16:32] artisticcheese commented on #32528
No issues with proxy on my side.

[2019-06-03 16:43] hrasheed-msft commented on #32610
@sbugalski Thanks letting us know. You are right, the UDR mentioned is incorrect. I am removing it from the list.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/78573

[2019-06-03 16:47] SubhashVasarapu-MSFT commented on #32620
@gcormier , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-06-03 16:52] dlepow commented on #32393
@ianhinder - That information is helpful. I'll confirm the token permissions expected for a private repo and I will plan to add a note to the article. Thanks!
#in-progress

[2019-06-03 16:52] shashishailaj commented on #32233
Azure AD does not support refreshing the ID_token. ID token is used for user identification. For authorization you use access token which is what you can refresh and hence you do not see a id_token coming back in subsequent requests. You can check more on the article about [refreshing the access token](https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-protocols-oauth-code#refreshi

[2019-06-03 16:52] #32233 closed

[2019-06-03 16:56] nelsonavanade opened #32628 "Query compilation error: Function is either not supported or not usable in this context"
Step: Configure the query of the Stream Analytics job/Run the Stream Analytics job

I have followed the steps in the guide but encountered the following error when I tried to run the job. Note I have renamed the function alias from "machinelearning" to "weatherprediction"

"The streaming job failed: Stream Analytics job has validation errors: Query compilation error: Function 'weatherprediction' i

[2019-06-03 16:56] hrasheed-msft commented on #32610
#please-close

[2019-06-03 16:59] #32628 closed

[2019-06-03 17:00] nelsonavanade commented on #32628
I misspelled "weatherprediction" hence the query did not recognise the function

[2019-06-03 17:00] nezoic opened #32629 "AdaptiveSamplingTelemetryProcessor Default options are incorrect."
When installing a fresh install of this on a WebAPI the only excluded type is Event. Exceptions are not excluded by default.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f4c906d-7abe-eab7-331a-120230344583
* Version Independent ID: ab24ade5-5e4c-b430-c3f8-2a00073e9e81
* Content: [Telemetry sampling in Azure Applicat

[2019-06-03 17:02] Anand-Moghe opened #32630 "What are some of the advantages of using Automated User provisioning VS enabling B2C access?"
If we enable Automated User Provisioning and SSO in B2B scenario, can AAD detect the new login added to Salesforce.com from its login portal and sync up it self automatically...like register that user in AAD as B2B user (without a manually inviting that user into AAD B2B Application like salesforce.com) ?

One way that automated user provisioning helps is providing automated user creation in Sales

[2019-06-03 17:03] sergaz-msft commented on #32218
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-03 17:03] #32218 closed

[2019-06-03 17:07] cijothomas commented on #32629
@nezoid Thanks for reporting. Will correct the table.

btw, FAQ #1 below is the correct default config.
https://docs.microsoft.com/en-us/azure/azure-monitor/app/sampling#frequently-asked-questions

[2019-06-03 17:08] sbugalski opened #32631 "Missing FQDNs in HDInsightAllFQDN.json and HDInsightFQDNTags.json"
[The mentioned](https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-restrict-outbound-traffic#fqdn-httphttps-dependencies) "full list of FQDNs for configuring your NVA" included in a [commit](https://github.com/Azure-Samples/hdinsight-fqdn-lists/commit/34a55a6906a18d846e62b138f07f6882b5d67424) does not include endpoints in the table, as well as Windows Update tag used in Azure Firewall

---

[2019-06-03 17:09] KranthiPakala-MSFT commented on #32619
@satyajitps Thanks for reaching out. At this time we are reviewing the feedback and will update you soon.

[2019-06-03 17:11] KranthiPakala-MSFT commented on #32618
@ManuDemoen
Thanks for the reaching out and bringing this to our notice. At this time we are reviewing the feedback and will update you soon.

[2019-06-03 17:22] Adam-Smith-MSFT commented on #32605
@awalman Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-03 17:25] Grace-MacJones-MSFT commented on #32626
Hi @sbhuttan, thank you for the detailed question! We are currently investigating and will update you when we have accurate information to provide.

[2019-06-03 17:25] MicahMcKittrick-MSFT commented on #32541
I have assigned the issue to the content author to investigate further and update the document as appropriate.

CC @iainfoulds

[2019-06-03 17:27] julieMSFT commented on #26737
@Mike-Ubezzi-MSFT Please assign to @mlee3gsd. Thank you.

[2019-06-03 17:28] MicahMcKittrick-MSFT commented on #32569
@giovannifl this specific document does say it is only for Windows. We list the supported versions as well.

For linux, see the following: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/monitor

That being said, We could likely make this more clear. I will assign to the author to review.

CC @genlin

[2019-06-03 17:30] MicahMcKittrick-MSFT commented on #32606
@pabbinedi thanks for this! I will assign this to the content author to review and see about updating the doc.

[2019-06-03 17:30] sauryadas commented on #32234
@neerajkrshukla
however for port 22 and 9000 application rules does not work in firewall to limit egress -> what errors are you getting?

we need to have a subnet range of API/Master servers so that we can narrow down egress to only AKS API server endpoints. Do we have a public IP range for master servers (*.azmk8s.io) -> Unfortunately the API server end point is public . You can start with the fi

[2019-06-03 17:34] robinsh commented on #32624
@ash2017 Is there anything you can share that would be helpful?

[2019-06-03 17:35] brtmeyer commented on #32513
@BryanTrach-MSFT,
The URL is https://docs.microsoft.com/en-us/azure/data-factory/data-flow-create

[2019-06-03 17:36] anandhms commented on #32569
@MicahMcKittrick-MSFT  Currently Performance Diagnostics supports Windows only. But we are working on lighting up the Linux support by end of June. We will be updating the docs as well by then.

[2019-06-03 17:37] JimacoMS3 commented on #27369
@hglkrijger  Thanks very much for letting us know. We've actually re-written the topic to emphasize running the web site locally with an option to deploy it to App Service using the Azure CLI. The sample has also been updated. Please have a look and let us know if we can close this issue.

[2019-06-03 17:40] #32569 closed

[2019-06-03 17:45] lciocci commented on #32624
One thing to add is that we are aware of routing via Event Grid. We are currently dependent on preserving the processing of messages in order in which they're received. As Event Grid does not support  the ordering of messages, Event Grid is not being considered at this time.

[2019-06-03 17:47] aljo-microsoft commented on #32272
@MicahMcKittrick-MSFT
https://docs.microsoft.com/azure/service-fabric/service-fabric-cluster-nodetypes#service-fabric-virtual-machine-extension

Its true as of today you can not declare issuerthumbprint value in your VMSS SF Extension and a work item is tracking this.

[2019-06-03 17:47] ash2017 commented on #32624
IoT Hub now publishes device telemetry events on Event Grid. With this capability, IoT Hub expands the services data can reach, beyond the endpoints supported through message routing. https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-event-grid

[2019-06-03 17:48] BryanTrach-MSFT commented on #30938
@tarockey We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-03 17:48] #30938 closed

[2019-06-03 17:48] BryanTrach-MSFT commented on #32021
@MPenny-nCipher We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-03 17:49] bendq opened #32632 "Default Storage Account setting for encryption"
For the document (and template) https://docs.microsoft.com/en-us/azure/templates/microsoft.storage/2019-04-01/storageaccounts we state that default encryption setting is "off"

This is inaccurate and by default encryption for a storage account is on (see https://docs.microsoft.com/en-us/azure/storage/common/storage-service-encryption )

[2019-06-03 17:53] MicrosoftGuyJFlo commented on #32617
https://docs.microsoft.com/azure/active-directory/authentication/howto-password-ban-bad-on-premises-deploy#deployment-requirements

[2019-06-03 17:56] SaurabhSharma-MSFT commented on #32630
@Anand-Moghe Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-03 17:57] thomps0 commented on #32617
I did see this, however the only thing mentioned for permissions to see this page is "A Global Administrator account to register the proxy service for password protection and forest with Azure AD."  This is for setup.  I am looking for the least permissions required to both view and/or configure this page after the initial setup. Thanks!

[2019-06-03 17:58] Adam-Smith-MSFT commented on #32565
@jhampsonPSS The tutorial mentioned [here](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-active-directory-enable), should provide you with all the steps required to configure AAD auth to Azure file Shares. I'd recommend posting on the other document since it is under the storage services, vs this one which is under Identity services.
We will now proceed to close this thread. I

[2019-06-03 17:58] #32565 closed

[2019-06-03 18:00] JimacoMS3 commented on #22701
@jgodha Thanks very much for letting us know about these issues. We've published a new sample and rewritten the topic to emphasize running the sample locally. We've included a section to optionally deploy the web app to App Service using the Azure CLI rather than the portal. We've added more explanation to the deployment steps. We are using user-level deployment credentials rather than app-level d

[2019-06-03 18:02] iainfoulds commented on #32608
While you can modify those resources, it's technically not a supported action with kubenet unless you manually create all those resources yourself. The default action of using kubenet and having the Azure platform create the virtual network resources for you means that you'd be modifying AKS-managed resources, which is out of scope for support. For more information, see https://docs.microsoft.com/

[2019-06-03 18:04] JimacoMS3 commented on #25436
@anonymouse64 Thanks for reporting this issue! We've published an updated sample and rewritten the topic to emphasize running the sample locally with an option to deploy it to App Service using Azure CLI. As part of this rewrite, we've tried to include better explanations. Please have a look and let us know if you still see issues. Thanks again!

[2019-06-03 18:07] jhampsonPSS commented on #32565
As noted earlier... The instructions in that document, and I called it out specifically, say to use the Storage Account Key.
Storage Account Key uses  user:Azure\<storage-account-name>
**If I am connectingto the storage account via /user:Azure\<storage-account-name>**
**How does the storage account know to use my RBAC credentials?????????????????????**
Because that is the exact same way I would mo

[2019-06-03 18:08] SaurabhSharma-MSFT commented on #32428
@jaffadog We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-06-03 18:08] #32428 closed

[2019-06-03 18:08] SaurabhSharma-MSFT commented on #32429
@jaffadog We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-06-03 18:08] #32429 closed

[2019-06-03 18:10] JimacoMS3 commented on #19116
@rhawley26 Thanks for reporting this issue! We have recently published an updated sample and refactored the topic to emphasize running the sample locally with an option to deploy to App Service using the Azure CLI. We've also tried to add more explanation in the deployment steps. Please have a look and let us know if we can close this issue. Thanks again!

[2019-06-03 18:11] SaurabhSharma-MSFT commented on #32255
@sadiehenry Can you please help..

[2019-06-03 18:14] JimacoMS3 commented on #14585
@jantoney Thanks again for your feedback! We've recently published an updated sample and have updated this topic to emphasize running the sample locally with an option to deploy it to App Service using the Azure CLI. We've added additional explanation to the deployment steps. Please have a look and let us know if you still see issues. Thanks!

[2019-06-03 18:21] MicahMcKittrick-MSFT commented on #32607
Thanks @spaelling what exactly are you looking to have added to this doc?

[2019-06-03 18:22] SadiqhAhmed-MSFT commented on #32173
@shrirampophali Could you please reach out to support team for further assistance on this?

[2019-06-03 18:23] MicahMcKittrick-MSFT commented on #32622
@ms-jasondel this might be related to being and FTE and using an internal account. Are you using an internal subscription or a personal one?

[2019-06-03 18:23] kgremban commented on #31821
1. Did you try adding the packages to the package.json file in the Visual Studio Code solution?

2. The command 'npm install -g yo generator-azure-iot-edgemodule` is run on your development machine, not the IoT Edge device. The Azure IoT Edge extension for Visual Studio Code uses this package to create the solution templates for NodeJS modules. It's not used by the modules on the IoT Edge devices.

[2019-06-03 18:24] tedway commented on #31354
If you are not able to deploy, please fill out a request form here with your subscription ID and region you want to deploy to: https://aka.ms/accelerateAI

Some subscription IDs may need to be added to an allowed list, even though they may already have quota.

Thanks!

[2019-06-03 18:24] #29059 closed

[2019-06-03 18:25] #29058 closed

[2019-06-03 18:26] #30095 closed

[2019-06-03 18:28] BryanTrach-MSFT commented on #32612
@AlissonRS Below is a list of common webjob statues and a brief description. I hope this answers your question.

- **Initializing** - The site was just started and the WebJob is doing it's initialization process.
- **Starting** - The WebJob is starting up the process/script.
- **Running** - The WebJob's process is running.
- **PendingRestart** - The WebJob's process exited (for any good or bad rea

[2019-06-03 18:28] #32612 closed

[2019-06-03 18:28] spaelling commented on #32607
A mention that an extra resource group will be created, for good measure include the naming of that resource group, OS_<CLUSTER-NAME>_<LOCATION>, and that any policies that will hinder the creation of such a resource group must be disabled, ex. required tagging when creating a resource group.

[2019-06-03 18:30] kgremban commented on #32445
@robinsh or @ash2017, I know you two have been working on events and routing more recently than I have. Could one of you take a look at this?

[2019-06-03 18:33] ash2017 commented on #32445
UI is being deployed and will have event grid as an endpoint listed for enrichments very soon.

[2019-06-03 18:33] MicahMcKittrick-MSFT commented on #32607
@spaelling got it. Thanks for that. I will assign this to the author to review and update the doc as needed.

[2019-06-03 18:36] MicahMcKittrick-MSFT commented on #32607
@jimzim @erikadoyle can either of you take a look? Looks like @jimzim cannot be assigned issues in this repo so assigned to @erikadoyle

[2019-06-03 18:37] lciocci commented on #32624
Apologies but I'm not sure that my latest comment had been seen. We cannot rely on Event Grid as it does not preserve message order when processing messages.

[2019-06-03 18:38] AjayKumar-MSFT commented on #32478
@Leon99, Yes, the automatic port detection detects the port (default 80). Azure Load Balancer has a default idle timeout setting of approximately four minutes (230 seconds), so after that the requests timesout. When we start your container, we'll wait a while for it to start and initialize. We consider the startup to be successful once the container is running and once, we get a response to a ping

[2019-06-03 18:38] eriawan commented on #32552
@srv-twry

The error is quite obvious: The `kubelet` has reported that it doesn't support image based on `10.0.18362` and this is equal to Windows Server 1903. Unfortunately, AKS is using 10.0.17763, this is equal to Windows Server 2019, This means AKS supports Windows Server 2019 and the OS it runs is also using Windows Server 2019.

According to  [MS' Docker Hub of .NET Framework Samples](https:

[2019-06-03 18:42] BryanTrach-MSFT commented on #32513
@brtmeyer Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-03 18:42] MicahMcKittrick-MSFT commented on #32286
@krawls19 I reached out to some SF members offline.

If I understand correctly you have a .netcore implemented service that is isolated within a container, and you are leveraging Service Fabric to schedule your containers in either process or hyper-v isolation mode on your compute machines.

Your ask is to know how you can expose your .netcore containerized service logic, by invoking a rest call t

[2019-06-03 18:48] kgremban commented on #32273
@sahya To clarify, the steps themselves were clear enough for you to follow, but it wasn't obvious which sections were required and which sections were optional?

[2019-06-03 18:59] BryanTrach-MSFT commented on #32571
@danishaamirs Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-06-03 18:59] #32571 closed

[2019-06-03 19:13] krawls19 commented on #32286
Ok. Thank you. Is this also true for Service Fabric Mesh?

[2019-06-03 19:27] MicahMcKittrick-MSFT commented on #32286
Yes it would also be true for Mesh. Essentially the same product, just removed the need for customers to manually manage the nodes the cluster is running on.

[2019-06-03 19:29] yalangriver commented on #23292
Any update on this documentation?

[2019-06-03 19:29] mike-urnun-msft commented on #32625
Hi @jwisener Thank you for your feedback! We will review and update as appropriate.

[2019-06-03 19:31] #32286 closed

[2019-06-03 19:31] MartinJaffer-MSFT commented on #32385
As I have not heard back from you, I am closing this issue.

[2019-06-03 19:31] #32385 closed

[2019-06-03 19:31] mike-urnun-msft commented on #32621
Hi @benbelow Thank you for your feedback! We will review and update as appropriate.

[2019-06-03 19:39] ms-jasondel commented on #32622
Hi – yes, I am using an internal subscription, but in an AD tenant (onmicrosoft.com) that I created.  Can you describe why I’d be disabled from doing this on an internal subscription?

Thank you,
Jason

From: Micah <notifications@github.com>
Sent: Monday, June 3, 2019 2:24 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Jason De Lorme <jasondel@microsoft.com>; Mention <mention@

[2019-06-03 19:39] lucasmaj opened #32635 "Messages with future enqueue time."
Do messages with future enqueue time need any manual drain/intervention?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8576690c-ff62-9691-b66e-77beaa754431
* Version Independent ID: d0e6f360-a80e-56e5-b163-3937dd167fcc
* Content: [Migrate existing Azure Service Bus standard namespaces to the premium tier](https://docs

[2019-06-03 19:41] rothja commented on #31879
@linruhui So sorry for the delay. I'm going to try to look into this as well and see where we are at. Thank you!

[2019-06-03 19:43] MicahMcKittrick-MSFT commented on #32622
I have just seen issues with FTEs when using the MSFT AAD as we do not have write permissions to that directory. So figured it was worth noting.

I can give it a test too. At which point are you seeing the error exactly?

[2019-06-03 19:52] migrande opened #32637 "Graphics are unreadable with dark theme"
I'm using the dark theme for the docs site, and the text in the graphics is unreadable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a32c05e-04ab-f76f-8dd1-cbffed44da06
* Version Independent ID: 906d444a-332d-2254-7093-8dc817bb1026
* Content: [Azure Virtual WAN global transit network architecture](https://docs.micro

[2019-06-03 20:02] mike-urnun-msft commented on #32311
@himalpatel81 Thank you for pointing this out and helping us drive improvements towards MS Docs! We have updated the specific section to clarify better that the polling interval starts from 100ms and **_increments up to 1min_**. We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-06-03 20:02] #32311 closed

[2019-06-03 20:03] sandervandevelde opened #32638 "Is application property 'type' a reserved keyword?"
In our project we use an application property named 'type':
"applicationProperties": {
  ...
  "type": "heartbeat",
}

Using this 'type' property in a query expression does not work as expected. Whatever I try, there is never a match opposite to other fields.

Is it a reserved keyword? If so, how can I get around this?

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2019-06-03 20:12] MarileeTurscak-MSFT commented on #32617
It still needs to be a global admin account, from what I recall. @MicrosoftGuyJFlo

[2019-06-03 20:13] ms-jasondel commented on #32622
I created a separate AD Tenant within my subscription to deal with issues that were potentially related to App Registration consent, so I don’t think (could be wrong) that it’s related to an internal sub.

From: Micah <notifications@github.com>
Sent: Monday, June 3, 2019 3:44 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Jason De Lorme <jasondel@microsoft.com>; Mention <menti

[2019-06-03 20:18] StephenWeatherford commented on #32466
Looks great, thanks!

[2019-06-03 20:18] MicahMcKittrick-MSFT commented on #32622
Looking around, it seems the best place to raise this issue is directly on the OpenShift repo

https://github.com/Azure/open-service-broker-azure/issues

The team that supports this product should be able to look into this further.

Please open an issue on that repo and feel free to CC me

[2019-06-03 20:18] #32622 closed

[2019-06-03 20:23] TravisCragg-MSFT commented on #32620
@gcormier there are no price differences for using Azure Storage in a Service Endpoint vs accessing from public internet. The only difference is how your traffic is routed to your storage account.

[2019-06-03 20:25] TravisCragg-MSFT commented on #32637
@migrande Thanks for the feedback! I can confirm it is unreadablein dark mode, and I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-03 20:25] KranthiPakala-MSFT commented on #32631
@sbugalski Thank you for the feedback and bringing this to our notice. At this we have assigned the issue to the content author. They will evaluate and update the document as appropriate.

@hrasheed-msft Could you please take a look into feedback from @sbugalski

[2019-06-03 20:30] gcormier commented on #32620
I have a ticket open ( 119053123002138 ) that is indicating otherwise...

On Mon, Jun 3, 2019 at 4:23 PM TravisCragg-MSFT <notifications@github.com>
wrote:

[2019-06-03 20:33] TravisCragg-MSFT commented on #32620
@gcormier Thanks, I will have a look over that ticket!

[2019-06-03 20:37] MarileeTurscak-MSFT commented on #32501
@mateocox I created a pull request to add this as a prerequisite but will leave it to @zchia to make the final call. https://github.com/MicrosoftDocs/azure-docs-pr/pull/78518

[2019-06-03 20:40] cherylmc commented on #32637
Thanks for bringing that to our attention. We'll take a bug to update the graphics as needed the next time we do a doc review. #please-close

[2019-06-03 20:41] KranthiPakala-MSFT commented on #32506
@LuisGonzalezLT Just wanted to see if the above suggestion (using toUpper/toLower string funciton) helped to resolve your issue?

[2019-06-03 20:41] MarileeTurscak-MSFT commented on #32520
Since there has been no activity we will now proceed to close this thread. If you have further questions feel free to tag me in the comments and I will gladly continue the discussion.

[2019-06-03 20:41] #32520 closed

[2019-06-03 20:43] cherylmc commented on #32421
Hi- can you confirm that certificates for Linux clients must be generated using a Linux computer? If so, I will update the documentation to reflect that. @msrini-MSFT

[2019-06-03 20:46] bkphysics commented on #30649
Another note I found and am confused by.  In a Log Analytics, Number of Results monitor, the JSON contains a SearchResults section under AlertContext, but none of the samples reference SearchResults nor how to parse the JSON (it seems to be malformed).  Here is a sample snippet of the section I am referring to (and I'm using the Common Alert Schema for these alert rules):

`"RequestBody": "{\"sche

[2019-06-03 21:00] TravisCragg-MSFT commented on #32537
@aquibqureshi26 If you are connecting 2 Azure VNETs, peering is the better option. Peering does not require a gateway, it is faster, and cheaper than using a VPN connection.

Please let me know if you need any additional information.

[2019-06-03 21:02] TravisCragg-MSFT commented on #32542
@tkumark Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-03 21:22] jeevansd commented on #32596
@chetansriv and @v-viinde Can you please test this in our lab and check the certificate file size?

[2019-06-03 21:23] jeevansd commented on #32596
@Anand-Moghe Have you tried using the Federation Metadata XML file here? This is also mentioned in the step 6 of the document.

[2019-06-03 21:23] sandervandevelde commented on #32638
After testing this issue again, it works as advertised.

[2019-06-03 21:23] #32638 closed

[2019-06-03 21:34] femsulu commented on #32508
added triage labels.

[2019-06-03 21:40] MarileeTurscak-MSFT commented on #32616
I created a pull request to add an explanation and a reference. https://github.com/MicrosoftDocs/azure-docs-pr/pull/78620

CC: @davidmu1

[2019-06-03 21:40] #32616 closed

[2019-06-03 21:49] Adam-Smith-MSFT commented on #32632
@bendq Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-03 21:50] #30890 closed

[2019-06-03 21:50] #31477 closed

[2019-06-03 21:50] #32021 closed

[2019-06-03 21:50] #32207 closed

[2019-06-03 21:51] TravisCragg-MSFT commented on #32543
@tkumark Unfortunately there is not a way to test the rules at this time. If you would like us to have a way to test the rules, or if you would like us to change our rule approval process, please [Leave your Feedback Here. ](https://feedback.azure.com/forums/169397-cdn)

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We

[2019-06-03 21:51] #32543 closed

[2019-06-03 21:52] TravisCragg-MSFT commented on #32567
@msimecek Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-03 21:54] shahzzzam commented on #32393
Hi @dlepow , yes we do need hook permissions. I think Write should be enough for that.

[2019-06-03 21:55] xyh1 commented on #31203
#please-close

[2019-06-03 21:57] carlpoole commented on #32472
Thanks for the info. Our app wasn't setup with this in mind but I have configured it to send 404 messages now.

[2019-06-03 22:01] millercor opened #32641 "Dead link"
The link under "Subscribe and create a project" (https://review.docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-custom-voice?branch=release-build-cogserv-speech-services#set-up-your-azure-account) does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f336872-7980-3723-403b-7a2a17f5e15b

[2019-06-03 22:15] amchew opened #32643 "Updates to Azure portal app registration"
Under the "Add an application" header (https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-custom-setup-msa-idp#add-an-application), the instructions are outdated.

Under step 1, Microsoft Application Registration Portal (https://apps.dev.microsoft.com/?referrer=https%3a%2f%2fdocs.microsoft.com%2fen-us%2fazure%2factive-directory-b2c%2factive-directory-b2c-custom-setup-

[2019-06-03 22:21] trolleyboy opened #32645 "Workspace questions"
I have some question about the Workspace requirements...
- Can the Workspace be used by both Sentinel and other Azure services (eg: Automation Account integration, Security Center, Recovery Services, IaaS Monitor, Diagnostics endpoint, etc)?
- What Pricing Tier does the workspace need to be?  EG: Free, Standalone, etc?

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2019-06-03 22:22] MicrosoftGuyJFlo commented on #32617
For now the requirement is global administrator to enable that portion.

[2019-06-03 22:40] #32430 closed

[2019-06-03 22:42] normesta commented on #32386
Thank you for helping us find these things. The content has been fixed.

[2019-06-03 22:42] normesta commented on #32386
#please-close

[2019-06-03 22:57] mike-urnun-msft commented on #32460
Hi @joshmosby Thanks for pointing this out and helping us drive improvements towards MS Docs! We have added following statement in the Note section that follows the particular step where we create the function app on Azure to clarify that the app will be available on the said regions:

The changes should reflect with our next scheduled auto-merge within 24hrs. We will now proceed to close this thr

[2019-06-03 22:57] #32460 closed

[2019-06-03 22:58] MarileeTurscak-MSFT commented on #32617
We will now proceed to close this thread. If you have further questions feel free to tag us in the comments and we will gladly continue the discussion.

[2019-06-03 22:58] #32617 closed

[2019-06-03 23:00] mike-urnun-msft commented on #32555
Hi @diberry Just following up here, let me know if my previous reply helps answer your question.

[2019-06-03 23:00] TylerMSFT commented on #32552
@srv-twry - sorry for the frustration. I have just been assigned this content and will update which image to use in the topic.

[2019-06-03 23:05] femsulu commented on #32239
thanks @rothja.
@MGoedtel  - can you please take a look at this.

[2019-06-03 23:07] diberry commented on #32555
@mike-urnun-msft Yes, wonderful. #please-close

[2019-06-03 23:08] femsulu commented on #32254
Thanks for the response @garybushey
@bwren can you confirm if we have a one-stop shop for these or better yet add this to our backlog for future review

[2019-06-03 23:11] mike-urnun-msft commented on #32555
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-06-03 23:11] #32555 closed

[2019-06-03 23:23] MarileeTurscak-MSFT commented on #32526
This might be a topic for another article. I'm assigning this to @MicrosoftGuyJFlo to assess.

[2019-06-03 23:39] KranthiPakala-MSFT commented on #32354
@vs199vishal Thanks for the information. At this time we were not able to reproduce the same error, but please see below findings.

1. In the referenced document, for AzureMLBatchExecution Activity, the [Training input](https://docs.microsoft.com/en-us/azure/data-factory/v1/data-factory-azure-ml-update-resource-activity#training-input-dataset) is ".arff" file and the [Training output](https://docs

[2019-06-03 23:43] mike-urnun-msft commented on #32420
@icas-code It may be best to post this question on [MSDN forums](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azurelogicapps) as this is a channel for driving improvements towards MS Docs only.

With that said, often times it's a matter of lowering your security requirements on the said channels, i.e: https://support.google.com/a/answer/6260879?hl=en Could you try this out and see if

[2019-06-03 23:43] #32420 closed

[2019-06-03 23:50] dcbrown16 opened #32650 "Finding inbound IP"
The inbound IP is no longer displayed under Virtual IP in Properties unless you have an IP-based SSL binding.
I believe the "Custom Domains" menu is (obtusely) the best place to find your inbound IP on an App Service now.
Please confirm and update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c6e0cb7-2621-fa82-7c35-

[2019-06-03 23:52] mike-urnun-msft commented on #32635
Hi @lucasmaj Thank you for your feedback! We will review and update as appropriate.

[2019-06-03 23:54] PingPongSet opened #32651 "Difference of Scale out UI between current portal and that on this article"
The scale out UI is different from the one on portal. Which one is correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3847e16b-92ae-0202-c7e1-ca9a8474e65f
* Version Independent ID: a25b6b5b-05ab-b3b2-616c-5d06eadb928d
* Content: [Azure Functions Premium plan (preview)](https://docs.microsoft.com/en-us/azure/azure-

[2019-06-03 23:54] mike-urnun-msft commented on #32650
Hi @dcbrown16 Thank you for your feedback! We will review and update as appropriate.

[2019-06-03 23:55] mike-urnun-msft commented on #32651
Hi @PingPongSet Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-06-04 00:01] alvipeo opened #32652 "How to use the script in Windows Configuration Designer?"
You wrote:

"In this profile, the workstation will enable security controls and policies described in the content, and deployed in the DeviceConfiguration_NCSC - Windows10 (1803) SecurityBaseline script"

Where in the WCD should I put that script? How do I do that??? Please explain, desirable with screenshots! Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2019-06-04 00:05] KranthiPakala-MSFT commented on #32618
@ManuDemoen Apologizes for the inconvenience, at this time Azure B2B (guest) accounts are not supported when installing and registering the gateway. Please feel free to share you feedback/idea/request in [Azure Analysis Services feedback forum](https://feedback.azure.com/forums/556165-azure-analysis-services).
Azure Analysis Services Product team will closely monitor, review the feedback and will

[2019-06-04 00:16] totokliem commented on #32417
Ok, i'm on holiday now, maybe next week im start studying again

Pada tanggal Sen, 3 Jun 2019 12:23, AjayKumar-MSFT <notifications@github.com>
menulis:

[2019-06-04 00:25] kobulloc-MSFT commented on #32536
@ththiem You may have to expand on your scenario, but hopefully this answers your question.

I currently have two Application Insights instances set up (one for .NET and one for .NET Core).  If I use a query with an operation_Id from my .NET Application Insights resource, my .NET Core Application resource will return 0 results.  Your instrumentation key determines what telemetry gets linked:

http

[2019-06-04 01:10] frehnejc commented on #32502
Can I get a list of fixes please for the latest version at http://aka.ms/unifiedinstaller_ae.

[2019-06-04 01:15] robinsh commented on #32289
@janlnage I  have found that this tutorial works "as is", with UpdateTwinAsync, so there is no reason to use ReplaceTwinAsync. If you want to try it, can you update your NuGet packages in both VS projects and see if it now works for you?  Or I can just leave these comments here in case someone else comes across this GitHub issue. @AshokPeddakotla-MSFT What do you think?

[2019-06-04 01:19] YanlongLi opened #32656 "Is there a length limitation for the environment variable?"
As titled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 552373c2-1d7c-bc6b-46a3-c635a9f9f15e
* Version Independent ID: ed48ef85-d772-552c-d451-2d5a6eab9d70
* Content: [How-to specify environment variables for services in Azure Service Fabric](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-how-to

[2019-06-04 01:20] Anand-Moghe commented on #32596
@jeevansd This is happening on Salesforce trial account only. So I switched to developer account and it worked as per the steps mentioned in the MS Doc [link](https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/salesforce-tutorial) here. This is resolved now.

[2019-06-04 01:24] anirudhcavale commented on #21951
@dcbrown16 so yes, they will flow as custom metrics and be chargeable. The pricing has not gone into effect yet, and that April 2019 date should have been updated to reflect a much later date (Q4 of CY 2019)

[2019-06-04 01:31] Hassan-Elseoudy opened #32657 "Custom Vision Prediction (ClassifyImageUrl)"
Hello, I have a website and i want to show results of a test image on my pre-trained model with Custom Vision.

**Example** I want to pass `http://imagexx.jpg` to classify it and get output label with the highest probability.

I'm not so familiar with JavaScript i didn't understand the sample code provided.

Thanks a ton!

[2019-06-04 01:32] dcbrown16 commented on #21951
Thanks @anirudhcavale . The pricing page has been updated to December since then.
I think it would be useful to indicate on this page that these are considered custom metrics, particularly given that this is something of a change from the classic metrics setup iirc.

[2019-06-04 01:39] aligma opened #32658 ""Select Keys and then click Generate key""
After completing step 7 in "Register a web application", the Keys link doesn't appear on the screen. "Create a client secret" should contain an additional step to navigate back to the newly created app before "1. Select Keys and then click Generate key."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 670bf490-966b-e72e

[2019-06-04 02:00] dcbrown16 opened #32659 "Schema reference"
Where do we find the schema so we can see exactly what you can set up for these alerts?
For example, if I want to alert on user-initiated events instead of limiting it to platform-initiated events, what values of properties.cause are there?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73f3e9c6-8cf1-6c8d-2de7-54f6d374

[2019-06-04 02:00] MartinJaffer-MSFT commented on #32513
Hello @brtmeyer and thank you for your inquiry.  I have confirmed that the Data Flow feature is missing from the Brazil South instances.  I will make inquires to the product group.

[2019-06-04 02:26] HJToland3 opened #32660 "Test - Please delete after routing"
Trying to verify that author pochiraju can receive comments on articles.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2469f918-a128-5375-89be-632e86af4eab
* Version Independent ID: 137d87f2-a1bf-e6fb-d9c4-be438b7a234f
* Content: [Azure Database Migration Service Overview](https://docs.microsoft.com/en-us/azure/dms/dm

[2019-06-04 02:49] jeffhollan commented on #32651
Portal one is correct. This one needs to be updated.

/cc @alexkarcher-msft @craigshoemaker

[2019-06-04 03:06] SeanFeldman opened #32661 "Refreshing EventGrid extension"
The documentation says to execute `az extension add --name eventgrid` if it hasn't been executed before.
The issue I had was with adding a new subscription with SB queue as a  handler, which is currently in preview.
&gt; # If you haven't already installed the extension, do it now.
&gt; # This extension is required for preview features.

Problem with this is that if the extension has been added bef

[2019-06-04 03:31] dcbrown16 commented on #32659
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/activity-log-schema#resource-health
I found it, but apparently I'm not savvy enough to make a working PR to reference this.
Can you add this link to Next steps?

[2019-06-04 03:36] himalpatel81 commented on #32311
Hi Mike,

PropertyDefaultDescription
maxPollingInterval 00:00:01

As per this, it says that the default max polling interval is 1 second.
which is not true. Default is 1 minute.

On Tue, Jun 4, 2019 at 6:03 AM Mike Urnun <notifications@github.com> wrote:

[2019-06-04 03:38] shashishailaj commented on #32596
@Anand-Moghe Thank you for confirmation of the same. We appreciate you sharing the reason with the community .

Thank you.

[2019-06-04 03:42] v-yanfw opened #32662 "SQL Database Managed Instance does not support Windows authentication, the contents of related documents need to be updated."
SQL Database Managed Instance does not support Windows authentication, the contents of related documents need to be updated.

In this document it shows Azure SQL Database Managed Instance connector supports “Copying data by using SQL or Windows authentication.” But actually, I did a verification, it is shows that SQLMI does not support Windows Authentication. I no method connect SQL MI through Win

[2019-06-04 03:49] shrirampophali commented on #32173
@SadiqhAhmed-MSFT How to contact support team?

[2019-06-04 03:58] srv-twry commented on #32552
@eriawan Thank you!
@TylerMSFT No worries! I was able to successfully deploy the application using `mcr.microsoft.com/dotnet/framework/samples:aspnetapp-windowsservercore-ltsc2019` image.

[2019-06-04 04:00] ManojReddy-MSFT commented on #32611
@maurert Thanks for reporting this. We are looking into this and will provide an update appropriately.

[2019-06-04 04:00] AjayKumar-MSFT commented on #32417
@totokliem, Sure, kindly do let us know when you're ready we will continue the discussion. Enjoy your holidays!

[2019-06-04 04:04] ManojReddy-MSFT commented on #32614
@chhamso Thanks for reporting this. We are looking into this and will provide an update appropriately.

[2019-06-04 04:05] RohitMungi-MSFT commented on #32641
@millercor Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-06-04 04:07] RohitMungi-MSFT commented on #32627
@sqlshep It looks like you have resolved the issue.Thanks!!

[2019-06-04 04:08] ManojReddy-MSFT commented on #32643
@amchew Thanks for reporting this. We are looking into this and will provide an update appropriately.

[2019-06-04 04:11] ChiragMishra-MSFT commented on #32662
@v-yanfw Thanks for bringing this to out notice. I am assigning the issue to the content owner to review and update as appropriate.

@linda33wj Can you please take a look at this ?

[2019-06-04 04:11] ManojReddy-MSFT commented on #32645
@trolleyboy We are looking into this and will provide an update appropriately.

[2019-06-04 04:16] SumanthMarigowda-MSFT commented on #31968
@dombat Once the PR is Merged necessary changes will be taken place.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-04 04:16] #31968 closed

[2019-06-04 04:24] TranKennyK opened #32663 "Raw Text in Request Body as Hyperlinks"
For raw text content, is there a robust way to classify some text as URL in the request body to show the URL as a hyperlink in the Review Tool?

This is to save human moderators the trouble of copying and pasting URLs when they appear in the text.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07a23045-3a24-6b5f-9738-3

[2019-06-04 04:35] peterjlay commented on #10410
Please update the AAD Connect wizard to allow a user in a child domain who is member of Enterprise Admins in the AD forest (root domain) to create the SCP in the AD forest, as it should work, but seems to be a bug that requires this user to be in the AD root forest/domain, rather than allowing a user in a child domain. The powershell script works fine with user in child domain as member of Enterpr

[2019-06-04 04:43] jordanchang commented on #10363
@Mike-Ubezzi-MSFT, I came across this thread today because the Azure product docs still seems to contradict your last comment, "DLQ is configured per queue, not topic". Are you saying there is no concept of a DLQ for topics? Github code samples provides a DLQ path for topics such as "Topic1/Subscriptions/Subscription1/$DeadLetterQueue".

More evidence of a DLQ per topic/subscription can be found h

[2019-06-04 05:00] gazataeon commented on #32118
@piotrzaremba I'm also seeing this.
Using Centos 7.5 Openlogic Azure image.

[2019-06-04 05:03] nikeshv opened #32664 "Web activity fails because of string escape character"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-06-04 05:05] nikeshv commented on #32664
I am using a third party API called sendgrid to send emails using ADF. In the API call, below is the request body which the API is looking for.
{
        "personalizations": [
            {
                "to": [
                    {
                        "email": "nikesh.vadavathi@cognizant.com"
                    }
                ],
                "subject": "Building Data Ingestionhas fa

[2019-06-04 05:40] Anilkumarsunkesula opened #32665 "Anaconda prompte is not showing after installing Aaconda in a windows virtual machine"
I am using a windows virtual machine as a development environment for Machine Learning.
Downloaded Anaconda from below link
https://www.anaconda.com/distribution/#download-section
But after installing Anaconda, anaconda prompt is not showing in the virtual machine.
When I installed It on my local computer, the prompt is showing.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-06-04 05:45] sruthiiyer commented on #32144
Hello Sir, this code sample is not working for me. I'm getting socket error. What does that mean and how should I rectify?.

[2019-06-04 05:54] nikeshv commented on #32664
There was a typo in the above.
“personalizations“ is getting converted to "\personalizations\"

[2019-06-04 05:58] dcbrown16 commented on #23026
Please raise the priority on this item if possible. The list of possible events is crucial information for a Load Balancer monitoring strategy.

[2019-06-04 06:00] romankiss commented on #32445
@ash2017  Thanks for prompt fix. The following screen snippet shows this fix:

![Capture3](https://user-images.githubusercontent.com/30365471/58854833-4df7be00-8653-11e9-9b3b-2cb06311e321.PNG)

[2019-06-04 06:00] #32445 closed

[2019-06-04 06:21] GeoLiu commented on #32608
Hi Iain,

In latest Azure CLI, the AKS Kubenet already supported Custom VNET:

https://docs.microsoft.com/en-us/azure/aks/configure-kubenet

az aks create \
    --resource-group myResourceGroup \
    --name myAKSCluster \
    --node-count 3 \
    --network-plugin kubenet \
    --service-cidr 10.0.0.0/16 \
    --dns-service-ip 10.0.0.10 \
    --pod-cidr 192.168.0.0/16 \
    --docker-bridge-address

[2019-06-04 06:21] mike-urnun-msft commented on #32360
Hi @ToMakeSense Thanks for pointing this out and helping us drive improvements towards MS Docs! I have created PRs that remove the use of `-AppServicePlan` parameter (in all samples in both docs) and other references as well. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-06-04 06:21] #32360 closed

[2019-06-04 06:38] mma-mm opened #32668 "Accessing Edge Blob storage from Azure Storage Explorer gives error: Unable to retrieve child resources"
Hi,

i try to access my blob storage edge module instance from Storage Explorer. Upon expanding the Blob Containers the following Error Messages show:

    Server encountered an internal error. Please try again after some time.

and

    Unable to retrieve child resources. Details: Parse Error

The Edge Module seems to be running correctly. It is configured without tiering and without TTL.
Upon ac

[2019-06-04 06:43] amchew commented on #32643
Thanks!

[2019-06-04 06:57] lightupdifire commented on #31078
@ManojReddy-MSFT,
Update of this article makes it more complex to understand what should be done, we don't want to enable automatic registration at all, only 2x servers should be allowed from 300+. What should we do?

What should be done to Disable automatic registration for Windows current devices for Managed domain?
What should be done to Disable automatic registration for Down-level devices for

[2019-06-04 07:30] MikkelHegn commented on #32656
I don't think Service Fabric enforces any, outside of what's inherent based on types used to store them and any OS limitations. Are you hitting any issues, or is there a particular use-case you are considering?

[2019-06-04 07:48] gimsdj opened #32670 "Should the page be updated for the new 'App registration' page?"
There is a new 'App Registration page' that has been updated in Microsoft Azure portal. However the documentation still refers to the 'App Registration(Legacy)' that is to be removed soon. Should this be updated to reflect the new 'App Registration' page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3eb2e7c5-e153-406

[2019-06-04 07:53] shashishailaj commented on #32658
@aligma Thank you for your query. We will have this reviewed and update the thread accordingly.

[2019-06-04 07:59] PramodValavala-MSFT commented on #32244
@rowanb I can confirm the same behavior for the log levels as well. I will check on this internally for this.

As for no logs for a particular function, it could be that it's running on another instance which won't be streamed as mentioned in the docs.

We are assigning this issue to the content author for further review.

[2019-06-04 08:06] shashishailaj commented on #32454
@ajayanti1 Could you please review this one and add the missing SKU on the page "Microsoft 365 E5" ?

Thank you.

[2019-06-04 08:11] shashishailaj commented on #32459
@billmath Could you please get this reviewed with the engineering if this can be updated as requested by the OP?

[2019-06-04 08:26] #31883 closed

[2019-06-04 08:27] sannzay commented on #32492
@BryanTrach-MSFT

The azure docs I referred to run my experiments are:

For pipelines : [https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/machine-learning-pipelines/intro-to-pipelines/aml-pipelines-getting-started.ipynb](url)

For estimators: [https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-train-ml-models#distributed-training-and-custom-docke

[2019-06-04 08:28] ToMakeSense commented on #32360
@mike-urnun-msft  Thanks for your updates, you are so productive to moving forward 👍 💯

[2019-06-04 08:29] DennisBaekgaard opened #32671 "How to practically handle updates of denormalized data"
Imagine you have a user with some information:
{
    id: "",
    username: "",
    firstName: "",
    .....
}

Given the ladder principle you selectively only add the needed information to other documents so in 99% of the cases you end up with documents looking like this:

{
    SomeEntityInformation1,
    SomeEntityInformation2,
    ....
    user: {  id: "user_guid", username: "MyUser" }
}

All g

[2019-06-04 08:31] genius00xp opened #32672 "Error 403 - Forbidden: Client Certificate Required when client send public certificates"
[https://docs.microsoft.com/en-us/azure/app-service/app-service-web-configure-tls-mutual-auth](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-configure-tls-mutual-auth)

Following this sample, I am able to send the request from a client console app with a **PFX certificate with a secret** and it is working fine.

However, when I change the certificate with a **public certificat

[2019-06-04 08:32] ggailey777 commented on #17088
Just to circle back on this issue. We have superseded this interactive tutorial with a new Microsoft Learn module that features a serverless web app. The new module supports Azure Functions v2.x. If you are interested in the image resize scenario, see [this Event Grid tutorial](https://docs.microsoft.com/en-us/azure/event-grid/resize-images-on-storage-blob-upload-event?toc=%2fazure%2fazure-functio

[2019-06-04 08:37] ggailey777 commented on #19469
Just to circle back on this issue. We have superseded this interactive tutorial with a [new Microsoft Learn module](https://docs.microsoft.com/learn/modules/automatic-update-of-a-webapp-using-azure-functions-and-signalr/) that features a serverless web app. The new module supports Azure Functions v2.x. If you are interested in the image resize scenario, see [this Event Grid tutorial](https://docs.

[2019-06-04 08:38] ggailey777 commented on #21517
Just to circle back on this issue. We have superseded this interactive tutorial with a [new Microsoft Learn module](https://docs.microsoft.com/learn/modules/automatic-update-of-a-webapp-using-azure-functions-and-signalr/) that features a serverless web app. The new module supports Azure Functions v2.x. If you are interested in the image resize scenario, see [this Event Grid tutorial](https://docs.

[2019-06-04 09:04] shraddhaagrawal commented on #23163
we are getting same exceptions and we cannot allow all networks.
We are accessing cosmos db from azure functions and enabled following settings-

- Accept connections from within public Azure datacenters

- Allow access from Azure Portal

Day before it was working and now we are getting exception.
Thanks in advance.

[2019-06-04 09:04] braveheartDotNet10 opened #32673 "Sample Project"
Do you have sample project on this that we can check and test?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d78d6b50-a564-c783-3ee0-85548d8af907
* Version Independent ID: 9f495adf-8d21-68a5-75fc-837a9904febc
* Content: [Web API that calls downstream web APIs (overview) - Microsoft identity platform](https://docs.micr

[2019-06-04 09:05] shraddhaagrawal commented on #22889
we are getting same exceptions and we cannot allow all networks.
We are accessing cosmos db from azure functions and enabled following settings-

Accept connections from within public Azure datacenters

Allow access from Azure Portal

Day before it was working and now we are getting exception.
Thanks in advance.

[2019-06-04 09:05] Ettores88 opened #32674 "Fix command"
In the "Configure Helm" chapter I think there is an error with this command:
' helm init --service-account tiller --node-selectors "beta.kubernetes.io/os"="linux" '

On windows 'helm init' use these arguments:
--node-selectors string
--service-account string

I received an error with the command on the guide (Error: This command does not accept arguments) and I fix it running:
' helm init --servic

[2019-06-04 09:13] jmprieur commented on #32673
Yes, there is a sample referenced at the end of the chapter (See https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-web-api-call-api-production)

[2019-06-04 09:22] SumanthMarigowda-MSFT commented on #32302
@mhopkins-msft Requesting you to please add your comments here

[2019-06-04 09:31] RohitMungi-MSFT commented on #32663
@TranKennyK Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-06-04 09:32] ManojReddy-MSFT commented on #32652
@alvipeo Thanks for reaching out to us. We are looking into this and will provide an update shortly.

[2019-06-04 09:32] KetanChawda-MSFT commented on #32661
@SeanFeldman Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-04 09:33] Ettores88 opened #32675 "Cannot install istio-init"
In "Install the Istio CRDs on AKS" section, I was unable to run "helm install install/kubernetes/helm/istio-init --name istio-init --namespace istio-system".
This was the error received: "Error: failed to download "install/kubernetes/helm/istio-init" (hint: running `helm repo update` may help)"

To fix this I have cloned the repo of istio in my workspace and launch the command from the repo.
This

[2019-06-04 09:34] RohitMungi-MSFT commented on #32665
@Anilkumarsunkesula Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-06-04 09:37] ChiragMishra-MSFT commented on #32585
@carlpr I will now proceed to close the issue. Please feel free to still comment and tag me if you want any further assistance.

[2019-06-04 09:37] #32585 closed

[2019-06-04 09:39] ManojReddy-MSFT commented on #32657
@Hassan-Elseoudy Thanks for reaching out to us. It would help us if you could provide the MS Doc with the sample you are trying to implement.

[2019-06-04 09:40] csamleong opened #32676 "Simulated Temperature Sensor Module Error with Wins 2019 as IoTEdgeDevice environment"
I am using Windows server 2019 with container [smalldisk] as my VM with IoTEdge installed
Note: i am not using CORE here

Guide followed: https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-windows-server-vm

i can verified that my IoTEdge works fine with command "Get-Service iotedge" - status = Running.
i then proceed to get Simulated temperature Sensor, and deployed to my edg

[2019-06-04 09:48] CHEEKATLAPRADEEP-MSFT commented on #32610
@sbugalski We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-04 09:48] #32610 closed

[2019-06-04 09:49] jakaruna-MSFT commented on #32552
@TylerMSFT I have assigned this issue to you.

[2019-06-04 09:49] jakaruna-MSFT commented on #32201
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-06-04 09:49] #32201 closed

[2019-06-04 09:55] kazshi opened #32677 ""classic deployment model" has broken link"
"Microsoft antimalware workflow" section
Virtual Machines and Cloud Services – Using the Antimalware classic deployment model
https://msdn.microsoft.com/library/azure/ee460799.aspx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39836c50-a16b-55c4-e088-566f83af1d86
* Version Independent ID: 7f581c98-fb53-3cf2-bfc5-556ef

[2019-06-04 09:55] jakaruna-MSFT commented on #32675
@Ettores88 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-04 09:56] rgalexey commented on #30997
Can you please let me know when I can find check-box for enabling cloud-init on publishing VM offer?
I am trying to publish VM based on Ubuntu and want to have cloud-init available in portal.

[2019-06-04 09:57] eriawan commented on #32552
@TylerMSFT

Could we have update in this AKS doc page on which OS is supported and also clarification that 1903 (10.0.18362) based image is not supported?

[2019-06-04 09:57] ChiragMishra-MSFT commented on #32664
@nikeshv Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-06-04 10:15] t-l-k opened #32678 "Automatic queue creation not documented"
In my experiments, both using the storage emulator and cloud store account, I was surprised to discover that the storage queues are created automagically when they're referenced as part of a binding.

But I can't see or find anywhere in the documentation which describes this, and consequently, if there are any circumstances (e.g. authorization level) where it would not be the case?

---
#### Docum

[2019-06-04 10:19] PingPongSet opened #32679 "Info on how to use CosmosClient"
How to use CosmosClient based on below on the article?

            builder.Services.AddSingleton((s) =&gt; {
                return new CosmosClient(Environment.GetEnvironmentVariable("COSMOSDB_CONNECTIONSTRING"));
            });

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5786402e-9d88-5de0-607a-1c2a143af006
* Ve

[2019-06-04 10:21] PingPongSet opened #32680 "Issue with HttpClient"
There is an issue with HttpClient

https://github.com/Azure/azure-functions-host/issues/4344#issuecomment-498229916

        public HttpTrigger(IMyService service, HttpClient client)
        {
            _service = service;
            _client = client;
        }

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5786402e