[2020-07-10 16:03] adrianichim opened #58798 "Missing availability set creation instructions"
The VM creation instructions make reference to an availability set "myAvailabilitySet"
You need to create the availability set in advance (before creating the VMs):

az vm availability-set create --name myAvailabilitySet -g myResourceGroupSLB --location eastus

Without it the VMs creation fails. I am using a free Azure trial subscription and the Azure CLI 2.1.0 on Windows 10 + WSL1 (Ubuntu session

[2020-07-10 16:13] mengtingw opened #58799 "ACI ML model deployment: Healthy but encountered internal issues"
After I deployed my ML model to ACI successfully and I got the scoring URL. **The the URL only showed a word 'data'**. So I looked into the log, I found there was an error:

[code]

My score script is like this:

[code]

My input data is an array with shape = (1,3,32,32)
data=json.dumps({'data': data.tolist()})
result = service.run(data)
I can get the correct result through this request. But the a

[2020-07-10 16:22] SaurabhSharma-MSFT commented on #58543
@remideprez02 Please refer to the steps listed in [Transfer CSP subscription to other offer](https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/transfer-subscriptions-subscribers-csp#transfer-csp-subscription-to-other-offer). Also, some resources can't be moved to other subscriptions and there might be a downtime for during the move.

[2020-07-10 16:25] luisquintanilla commented on #58537
@kiranpradeep you shouldn't have to upload `utils.py` to be able to train your model. Referencing `train.py` should work but let me take a look to see if I can reproduce the error.

[2020-07-10 16:31] MarileeTurscak-MSFT commented on #58654
I think we should close this out since we can handle this without creating a Github issue. Feel free to do any of the things above though.

[2020-07-10 16:31] #58654 closed

[2020-07-10 16:33] DarrinEide commented on #58759
@Shaktikantpadhi, to help I need to better understand what it is you're asking.

Are you saying you'd like to query for papers labeled with chemistry or any of its *immediate* child fields of study (i.e. children such Inorganic Chemistry, Crystallography, Biochemistry, etc.), or are you trying to query for papers labeled with chemistry or any of its *descendant* fields of study (i.e. children, gra

[2020-07-10 16:40] YutongTie-MSFT commented on #58778
@V3sp
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-10 16:42] esparks-ipl opened #58801 "SQL Permissions needed"
This page should indicate that MABS when backing up SQL workloads requires the SYSADMIN role.
This is documented under SharePoint for MABS, and under the separate DPM documentation, but not here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97341fbf-735c-2e5a-258f-223faa6b4724
* Version Independent ID: 87e233b3-f1b7-

[2020-07-10 16:44] julieMSFT commented on #53684
#assign:julieMSFT

[2020-07-10 16:49] cisko81 commented on #37602
Hi, finally it's supported move VPN GATEWAY (for example SKU: vpngw1) to another azure suscription? Thanks in advance

[2020-07-10 16:51] amanmcse commented on #58752
@dgusoff  Your understanding is correct that you should be able to log in the an external AAD account using this flow. However the option "Accounts in this organizational directory only" is correct, the application is not required to be multi-tenant app for this purpose.

Could you please verify the application configured with option "Accounts in this organizational directory only" is registered i

[2020-07-10 16:51] cisko81 commented on #37602
@hisasima i need to move vpn gateway (vpngw2 SKU) with a site to site VPN  to another suscription ¿it's possible today? or i need to recreate y destination suscription? Thanks!!

[2020-07-10 16:55] ChaitanyaNaykodi-MSFT commented on #58784
@tiny-dancer, Thank you for your feedback! We will review and update as appropriate.

[2020-07-10 16:57] MarileeTurscak-MSFT commented on #58538
Thanks! I made a pull request to update this but will leave it open for the author, @billmath, as I'm unsure why the domain controller was specified. https://github.com/MicrosoftDocs/azure-docs-pr/pull/121927

[2020-07-10 16:57] #58538 closed

[2020-07-10 17:04] KranthiPakala-MSFT commented on #58773
@sdebruyn
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-07-10 17:07] KranthiPakala-MSFT commented on #58777
@BreakingBI
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2020-07-10 17:11] djpmsft commented on #58773
Hey @sdebruyn ,

Global parameters is a new feature that is not yet out in the UX. Including it in your parameterization will not affect anything you have. If you manually have changed the default parameterization template, you may need to add this to your template if you wish to use the feature when it is released.

Thanks,
Daniel

[2020-07-10 17:12] djpmsft commented on #57249
As there is no response on this, I will go ahead and close the issue

#please-close

[2020-07-10 17:12] #57249 closed

[2020-07-10 17:13] WhitWaldo opened #58802 "Support for Windows Server 2019"
The documents indicate support for Windows Server 2016. Is Windows Server 2019 also a supported platform here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a6e5704-b7fc-1eec-eac1-fceb95260d42
* Version Independent ID: 97f7b4da-f7a1-0e77-4bca-4422ba89f792
* Content: [Overview of Service Fabric and containers - Azure

[2020-07-10 17:14] djpmsft commented on #57673
The $deleteDeployment does not affect the triggering. Are your triggers started in the ARM template? The deployment should reflect the status in the template.

Best,
Daniel

[2020-07-10 17:16] djpmsft commented on #57369
As the question has been answered and there is no followup, I am going to go ahead to close the issue

#please-close

[2020-07-10 17:16] #57369 closed

[2020-07-10 17:18] djpmsft commented on #56395
As there has been no response I am going to go ahead and close this issue. Feel free to continue commenting/reopen

#please-close

[2020-07-10 17:18] #56395 closed

[2020-07-10 17:19] djpmsft commented on #53093
This should be fixed.

#please-close

[2020-07-10 17:19] #53093 closed

[2020-07-10 17:23] burkeholland commented on #57861
The app itself isn't doing anything besides calling the SDK. If there is a cert error, that's happening at the SDK call, which wraps the REST calls.

That said, we could add that environment variable to the "npm start" command for the project. Can anyone here replicate this error quickly on their end to verify that the fix works?

[2020-07-10 17:24] shooker commented on #56965
![Annotation 2020-07-10 132410](https://user-images.githubusercontent.com/10927314/87181668-b2526b80-c2b0-11ea-9700-c83a67b3fadf.png)

[2020-07-10 17:25] djpmsft commented on #58758
Hey Vitaly,

To clarify the behavior, batch count determines the maximum number of concurrent iterations. This number must be between 1 and 50. 20 is the default batch count if nothing is specified.

I agree the document is confusing and have added a work item to fix this.

Thanks,
Daniel

#please-close

[2020-07-10 17:25] #58758 closed

[2020-07-10 17:26] burkeholland commented on #57861
@nselewa - Could you modify the start script in the `package.json` to the following...

[code]
Let us know if that fixes the issue.

[2020-07-10 17:35] SnehaGunda commented on #57152
Thanks, Luis, I made further updates to the PR based on your comment.

[2020-07-10 17:38] MarileeTurscak-MSFT commented on #58639
If you logged in at 1:30 or unlocked your device, your session would extend. If you simply accessed the application without signing in interactively, it would not extend.

If you would like to extend the session to 2:30, you could either change the sign-in frequency to a higher number of hours, or unlock your device at 1:30.

Hope this helps! If you have further questions feel free to reach out on

[2020-07-10 17:38] #58639 closed

[2020-07-10 17:45] LarryOsterman opened #58803 "SGX should be "Intel SGX", and you should probably include a reference to Intel Software Guard Extensions (SGX) (tm) somewhere."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b22057d4-94e3-1a39-9cb2-4320838bc748
* Version Independent ID: 7f67afa0-4ef4-8cc8-c9ef-647e91ab18bc
* Content: [Microsoft Azure Attestation](https://review.docs.microsoft.com/en-us/azure/attestation/overview?branch=pr-en-us-118427)
* Content Source: [

[2020-07-10 17:48] MarileeTurscak-MSFT commented on #58640
Since this is more of a product question than a doc issue, please post to [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-active-directory.html) and we will gladly answer there.

[2020-07-10 17:48] #58640 closed

[2020-07-10 17:52] kiranpradeep commented on #58770
Apologies. My bad. I had an extra quotes in the iot edge route between tempSensor and machinelearningmodule.  So the original issue can be considered closed.

But, even when working, the machine learning module prints the error message attached above as [6]. Also quoting below. But still, I like to bring this to attention of engineers. This error is no more on the documentation aspect. Should I cl

[2020-07-10 17:52] ajlam commented on #58532
@sayanghosh123 - the geo-replication feature in Azure DB for MySQL uses asynchronous binary log replication. Replication to the read replica servers occurs when the transaction has been written to the binary log. From there, the read replica server reads from the binary logs and replays the transaction on the read replica. You can read more about binary log replication [here](https://dev.mysql.com

[2020-07-10 17:55] ajlam commented on #58749
We are working with on engineering teams to understand the future integration between managed services like Azure DB for MySQL and AKS. No short term fix at the moment, but I will look into how to improve the documentation.

[2020-07-10 17:56] dgusoff commented on #58752
I figured it out, I had to add the user into the directory as an external user first. I'll close the issue. Thanks @amanmcse

[2020-07-10 17:56] #58752 closed

[2020-07-10 18:01] stantoni-msft opened #58804 "Networking Requirements section doesn't include URIs for Government cloud."
The Networking Requirements section should also include Government Cloud URIs as noted here:
 https://github.com/MicrosoftDocs/azure-docs/blob/master/includes/site-recovery-urls.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e620d8f-e370-f7a7-191c-5d9a8fa7ce9b
* Version Independent ID: edd44266-2d74-3f05-3ee8-abad1

[2020-07-10 18:05] MonikaReddy-MSFT commented on #58799
@mengtingw -  Thank you for your question. Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on MSDN or Stack Overflow. Thank you for your understanding.

[2020-07-10 18:07] MarileeTurscak-MSFT commented on #58781
@kobulloc-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-10 18:07] MonikaReddy-MSFT commented on #58803
@LarryOsterman - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-10 18:09] PatAltimore commented on #58191
Hi @gs-repo

I ran though your logs. I don't know why you are getting that error. I tried setting up a peer and orderer using the HLF template. I could use the latest azhlfTool and set up a consortium and channel.

pat@Azure:~/azhlfTool$ ./azhlf channel joinPeerNodes -o $PEER_ORG_NAME  -u $PEER_ADMIN_IDENTITY -c $CHANNEL_NAME --ordererOrg $ORDERER_ORG_NAME
Retrieving channel genesis block...
Joini

[2020-07-10 18:09] LarryOsterman commented on #58803
See the attached. Sorry, I assumed that when I clicked the "submit feedback for this page” link, it would include a link to the page upon which I was submitting feedback.

From: MonikaReddy-MSFT <notifications@github.com>
Sent: Friday, July 10, 2020 11:08 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Larry Osterman <Larry.Osterman@microsoft.com>; Mention <mention@noreply.gith

[2020-07-10 18:12] SadiqhAhmed-MSFT commented on #58801
@esparks-ipl Thanks for reaching out to us. The documentation - [Back up SQL Server by using Azure Backup Server - Azure Backup](https://docs.microsoft.com/en-us/azure/backup/backup-azure-sql-mabs#) doesn't explicitly talk about the permissions required because the same is covered in "Before you start" section - Before you begin, ensure that you have [installed and prepared Azure Backup Server](ht

[2020-07-10 18:17] MonikaReddy-MSFT commented on #58720
@Prabhakar96-dev - Can you please share with us the URL of the document that you are having issues with?

[2020-07-10 18:18] MonikaReddy-MSFT commented on #58756
@Groovycho - Can you please share with us the URL of the document that you are having issues with?

[2020-07-10 18:18] CharmanderJieniJieni opened #58807 "how to add $ in path"
We have a function to look into storage account $logs folder, but when I put '$logs' in the function path it is complaining "Your blob path must be a container name of 3 to 63 characters, followed by a blob name of 1 to 1,024 characters. The blob name can be any combination of characters and can contain a maximum of 254 path segments, which are separated by the forward slash (/)."

Would you pleas

[2020-07-10 18:20] esparks-ipl commented on #58801
@SadiqhAhmed-MSFT
The "Install and prepared Azure Backup Server" page does not reference the need for these permissions anywhere that I can see?

Additionally why is it specifically called out in the SharePoint instructions page, but not on the SQL instructions page?
 Seems counter-intuitive.

[2020-07-10 18:21] JimacoMS3 commented on #58154
@nayato @elhorton @nehsin @SatishBoddu-MSFT

Please see https://github.com/MicrosoftDocs/azure-docs-pr/pull/121950. You're all @ commented for review there.

**Also, is the same key/value format enforced for the property bag in d2c messages? i.e do devices need to set null values and empty strings in message properties in the same way when they send messages to IoT hub?**

[2020-07-10 18:22] SadiqhAhmed-MSFT commented on #58797
@stuartMoorhouse Thanks for contacting us. This could be an intermittent issue. May I know the type of subscription you currently have? Could you also share a screenshot of the error message?

Couple of suggestions to try:

1. Try it on a different browser or in a in-pvt or incognito window. If problem persist,
2. Try [programmatically creating Azure subscriptions](https://docs.microsoft.com/en-us

[2020-07-10 18:34] JimacoMS3 commented on #58187
Hi @chschrae -- it's been a couple of days, and I haven't heard back, so I'm going to close this issue. If you feel the problem hasn't been addressed or have additional feedback, please @ comment me here. Alternatively, you could open another issue and reference this one.

Thanks again for taking the time to let us know about this problem with our documentation! It's much appreciated.

-Jimaco

[2020-07-10 18:34] JimacoMS3 commented on #58187
#please-close

[2020-07-10 18:34] #58187 closed

[2020-07-10 18:38] SadiqhAhmed-MSFT commented on #58804
@stantoni-msft Thanks for bring this to our attention. This issue is being assigned to the content author for further review.

@rayne-wiselman FYI - To review and update as required.

[2020-07-10 18:38] Mike-Ubezzi-MSFT commented on #58764
@Pancat007 Thank you for bring this to our attention. As for the migration attempt, can you please disable (unselect) the `Trust server certificate` option for the `Migration source detail` configuration. Also, are you using a FQDN value or an IP Address for `Source SQL Server instance name`? The source server name should be the on-premise instance name (or IP) for the SQL Server that hosts the da

[2020-07-10 18:42] IngridAtMicrosoft commented on #58483
This is a known issue. Use the US English language setting.  Your transcriptions will still be in German.

"transcriptions": [{"language": "en-US"}],

[2020-07-10 18:42] IngridAtMicrosoft commented on #58483
#please-close

[2020-07-10 18:42] #58483 closed

[2020-07-10 18:46] roygara commented on #58783
#assign: roygara

[2020-07-10 18:47] roygara commented on #58783
@nickmcmahan Thanks for bringing this to our attention, I checked with the product team and they say it's actually 50 per region per subscription. Accordingly, we've updated both articles to include this information. The changes will be live later today. :)

As always, we appreciate your help improving our docs! :)

#please-close

[2020-07-10 18:47] #58783 closed

[2020-07-10 18:51] SadiqhAhmed-MSFT commented on #58801
@dcurwin FYI.

[2020-07-10 19:04] shashishailaj commented on #57612
As we have not recieved any response on this. We are closing this issue. Should you have any further query , feel free to tag me to your reply .

Thank you.

[2020-07-10 19:04] #57612 closed

[2020-07-10 19:05] shashishailaj commented on #58109
@worldspawn Sure , we will wait for your update early next week . thank you.

[2020-07-10 19:06] swinster opened #58809 "Seems very out of date. Dcs to not appear to match workflow at all"
As per title

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f07f556-0bd5-c782-f34f-ba9c22244763
* Version Independent ID: a4803b09-98a7-11b5-4d3f-c710168f3b0b
* Content: [Add a non-gallery application - Microsoft identity platform](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/add-non-gallery-app

[2020-07-10 19:11] SadiqhAhmed-MSFT commented on #58757
@amanjeetsingh For EA, it’s the enrollment. For MCA, it’s the billing account. We will update the article with these details and we will also add additional context to the article.

Stay tuned for the updates to roll out in a day or two. Let me know if you don't find the updated information.

[2020-07-10 19:16] luisquintanilla commented on #58537
Hi @kiranpradeep I just followed the steps outlined in the tutorial and was unable to replicate your issue.

Also, when using the AML VS Code extension, you only need to provide the script that acts as an entrypoint. In this case *train.py* Automatically, your current directory, which in the case of the tutorial contains all dependent scripts is uploaded and run as part of your training job. That'

[2020-07-10 19:18] shashishailaj commented on #57943
@mol We have an internal bug with engineering for this and this will be fixed soon.

Thank you for your patience with us.

[2020-07-10 19:22] wbinterns opened #58810 "Bullet List Breaks When Adding Follow-up Prompts"
Note sure if this is a bug, or an undocumented feature, but thought I would bring it up.

When working in the QnaMaker say you have the following qnapair:
Question: "Menu"
Answer:
"Menu List:
- ==========Item A==========
- ==========Item B==========

Which would you like?
"

If you leave the qnapair just like that, it is displayed correctly when the user types Menu
![CorrectAnswerDisplay](https://

[2020-07-10 19:53] nitinme commented on #58759
@RohitMungi-MSFT - could we remove the cognitive-services label for this since Academic Knowledge is not a cognitive service offering?

[2020-07-10 19:55] tomdds commented on #58484
I am currently seeing this issue as well. Along with that, if I remove the prescribed `passwordCredentials` field, and only include the `keyCredentials` I get a different error that doesn't seem to be correct:

**Request**
[code]

**Response**
[code]

As you can see, the `"usage"` values are both correct based on the documentation and what the error message says, but it still doesn't consider them

[2020-07-10 19:57] nitinme commented on #54743
@GiftA-MSFT could you please assign this to the right product contact to move this forward?

[2020-07-10 19:57] bandersmsft commented on #50095
@artislismanis The latest version of Consumption - Usage Details – List REST API always returns effectivePrice. For more information, see https://docs.microsoft.com/rest/api/consumption/usagedetails/list . The effectivePrice could be 0, if the cost is actually 0. This could be the case for your situation.
#please-close

[2020-07-10 19:57] #50095 closed

[2020-07-10 20:00] julieMSFT commented on #56582
@sthoward0914 Hello, I am sorry for the delayed response. Copy is not the same as PolyBase. I have renamed the article so that the URL shows copy rather than PolyBase. PolyBase will not be deprecated. External tables will still be supported to enable data virtualization scenarios when querying over the data lake. Thank you for your contribution to Microsoft Docs. I will proceed with closing this i

[2020-07-10 20:00] julieMSFT commented on #56582
#https://github.com/MicrosoftDocs/azure-docs-pr/pull/121963

[2020-07-10 20:00] julieMSFT commented on #56582
#please-close

[2020-07-10 20:00] #56582 closed

[2020-07-10 20:01] julieMSFT commented on #56582
#assign:julieMSFT

[2020-07-10 20:03] aahill commented on #58257
@ram-msft this is something the product group should look at. Can you reassign this to the product contact?

[2020-07-10 20:06] julieMSFT commented on #56614
@nikolapeja6 I have filed the bug and will use that work item to track this issue going forward. I will let you know when this has been resolved. For now, I will proceed with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. Thank you for your contribution to Microsoft Docs! We hope to hear from you again.

[2020-07-10 20:06] julieMSFT commented on #56614
#please-close

[2020-07-10 20:06] #56614 closed

[2020-07-10 20:14] mike-urnun-msft commented on #58745
@ecfan Do you know how we can make updates on the REST API doc?

[2020-07-10 20:16] Akshat-Kesarwani opened #58812 "Mistake on Step 8 in Enable with Conditional Access policy configuration steps"
In the configuration steps on step 8 it says "Under **Access controls** > **Grant**, select **Grant access**, **Require password change**, and select **Select**" but in Azure Conditional Access policy configuration there is no option for "Require password change". So I think this page should be updated.
This option on be configures from Identity Protection but not in Conditional Access Policy.

--

[2020-07-10 20:17] aahill commented on #58778
Thanks for finding this bug @V3sp . I've updated the quickstart, and it should be visible soon!

#please-close

[2020-07-10 20:17] #58778 closed

[2020-07-10 20:24] tfitzmac commented on #58787
@APIWT - thanks for this feedback. I'll add a link to an example.

[2020-07-10 20:26] chandra9787 commented on #57673
Hi Daniel,

My apologies, the triggers were started in ADF but for some reason the build was stick with old ARM master template were the triggers were stopped. So, it’s totally working fine, I missed to update in issue.

Thanks,
Chandra

Sent from my iPhone

On Jul 10, 2020, at 10:45 PM, Daniel Perlovsky <notifications@github.com> wrote:

﻿

The $deleteDeployment does not affect the triggering. Ar

[2020-07-10 20:27] msmbaldwin commented on #46487
Hello. The only connection string that is unsupported for .NET Core is "RunAs=CurrentUser", and we now specify this in the table.  Thank you for your feedback! #please-close

[2020-07-10 20:27] #46487 closed

[2020-07-10 20:28] msmbaldwin commented on #53597
Hello. The only connection string that is unsupported for .NET Core is "RunAs=CurrentUser", and we now specify this in the table.  Thank you for your feedback! #please-close

[2020-07-10 20:28] #53597 closed

[2020-07-10 20:31] msmbaldwin commented on #55707
Hello. To address this, we added the following, above the connection string table:

 Thank you for your feedback! #please-close

[2020-07-10 20:31] #55707 closed

[2020-07-10 20:32] aregaz commented on #58483
Is this known issue somewhere on Github? Can I track the progress of it somehow?

[2020-07-10 20:35] msmbaldwin commented on #57743
As @jlichwa says, DefaultAzureCredential is not specific to .NET, and is used by python as well.  If you are getting an error when trying to use it in python, let us know. #please-close

[2020-07-10 20:35] #57743 closed

[2020-07-10 20:36] DCtheGeek commented on #58776
@arindam-b Thanks again for pointing this out.  I've updated the example to convert the data results into JSON. When that update merges (which happens prior to publish), this issue will automatically close.

The preview to the fix is this snippet of updated code:

[code]

[2020-07-10 20:38] agrabhi opened #58813 "This page needs to update api calls to Microsoft Graph for restoring extension app"
The Microsoft Graph apis for lisitng deleted applications and restoring  are given below

https://docs.microsoft.com/en-us/graph/api/directory-deleteditems-restore?view=graph-rest-1.0&tabs=http
https://docs.microsoft.com/en-us/graph/api/directory-deleteditems-list?view=graph-rest-1.0&tabs=http

We should remove AAD Graph apis and replace with MSGraph
---
#### Document Details

⚠ *Do not edit this

[2020-07-10 20:39] MikeRayMSFT commented on #53675
The article went through a significant update over the last couple of weeks with @MashaMSFT . I'm closing the issue at this time, because the update probably addressed it. It was a general refresh.

[2020-07-10 20:39] MikeRayMSFT commented on #53675
#please-close

[2020-07-10 20:39] #53675 closed

[2020-07-10 20:39] nkhuyent opened #58814 "DCM concept is PnP is no longer exist"
DCM concept is PnP is no longer exist. Wonder if this is misleading
"...To define **models** and interfaces using the Digital Twins Definition Language (DTDL)..."
![image](https://user-images.githubusercontent.com/50382895/87200990-8f28bb80-c2b2-11ea-9552-46225cd0ba2b.png)

"...Define the device model. You author a set of JSON files that define your device's capabilities using the DTDL. A model de

[2020-07-10 20:40] JamesTran-MSFT commented on #58809
@swinster
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-07-10 20:40] MikeRayMSFT commented on #53686
The article was recently refreshed under the direction of @MashaMSFT

#please-close

[2020-07-10 20:40] #53686 closed

[2020-07-10 20:40] mol commented on #57943
No problem, thanks for the update. Of course this isn't really an issue either, I just wanted to let you guys know there was a mistake :)

[2020-07-10 20:41] MikeRayMSFT commented on #55106
This article was recently refreshed under the direction of @MashaMSFT #please-close

[2020-07-10 20:41] #55106 closed

[2020-07-10 20:41] MikeRayMSFT commented on #56188
The articles in this section were recently updated under the direction of @MashaMSFT #please-close

[2020-07-10 20:41] #56188 closed

[2020-07-10 20:43] shashishailaj commented on #57943
@mol. Thank you for catching this. We appreciate your input . At this point we will close this issue here and once the internal bug is fixed me or @kenwith will update the thread.

[2020-07-10 20:44] #57943 closed

[2020-07-10 20:46] msmbaldwin commented on #56663
The link has been updated. Thank you, @sarajang! #please-close

[2020-07-10 20:46] #56663 closed

[2020-07-10 20:47] baanders commented on #58755
Having added the suggested information, I'll go ahead and have GitHub automatically close this issue once my pull request is merged. If you have any follow-up questions, feel free to continue this conversation and we can reopen the issue if necessary!

[2020-07-10 20:49] msmbaldwin commented on #56296
The link has been updated. Thank you, @sarajang! #please-close

[2020-07-10 20:49] #56296 closed

[2020-07-10 20:52] julieMSFT commented on #53684
@emshimon Hello, Thank you for bringing this to our attention. I am working to update the documents.

[2020-07-10 20:55] SatishBoddu-MSFT commented on #58814
@nkhuyent
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-10 20:58] djpmsft commented on #57673
Glad you are unblocked! I'll go ahead and close the issue then

#please-close

[2020-07-10 20:58] #57673 closed

[2020-07-10 21:05] #58755 closed

[2020-07-10 21:06] #58787 closed

[2020-07-10 21:08] arvindsindhu opened #58815 "Disable or Enable Deletion threshold"
Disable or Enable Deletion threshold now requires AAD Admin Credentials to be supplied in the command prompt it doesn't automatically ask for creds.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddd7dc27-98e4-d56e-1ac5-a59aab428b57
* Version Independent ID: 4c1e580a-e1a8-f3c6-6b52-65665e8c16e4
* Content: [Azure AD Con

[2020-07-10 21:09] arvindsindhu commented on #58815
Enable-ADSyncExportDeletionThreshold -DeletionThreshold 5000 -**_AADCredential $creds_**

[2020-07-10 21:10] rido-min commented on #58814
The DCM concept is still valid, what has changed is a _Device Capability Model_ DTDL entity. We are trying to do not capitalize DCM in docs.

Devices describes their capabilities with a model, although it's not a Device Capability Model anymore.

[2020-07-10 21:12] jlichwa commented on #43898
I've also updated document:
"certificateStoreLocation": <disk path where certificate is stored, default: "/var/lib/waagent/Microsoft.Azure.KeyVault">,
#please-close

[2020-07-10 21:12] #43898 closed

[2020-07-10 21:15] IngridAtMicrosoft commented on #58483
Hi @aregaz . Get notified about when to revisit this page for updates by copying and pasting this URL: https://docs.microsoft.com/api/search/rss?search=%22Azure+Media+Services+v3+release+notes%22&locale=en-us into your RSS feed reader.

We will be updating this document monthly.

[2020-07-10 21:15] jlichwa commented on #49767
For user assigned ones there is optional configuration available:
  "authenticationSettings": {
                "msiEndpoint":  <Optional MSI endpoint e.g.: "http://169.254.169.254/metadata/identity">,
                "msiClientId":  <Optional MSI identity e.g.: "c7373ae5-91c2-4165-8ab6-7381d6e75619">
        }
Document updated. #please-close

[2020-07-10 21:15] #49767 closed

[2020-07-10 21:18] OmegaMadLab opened #58816 "The PowerShell command used to initialize the disk and format it is missing"
The PowerShell command used to initialize the disk and format it is missing.
Instead, there's the commando to attach the shared disks to the Azure VM inside its box,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef9c3670-0919-cef3-66b7-8ff697ea2add
* Version Independent ID: 4a200477-327e-67b8-d1da-4569bd660667
* Conte

[2020-07-10 21:23] aregaz commented on #58483
Ok, thanks.

[2020-07-10 21:30] ChaitanyaNaykodi-MSFT commented on #58807
@CharmanderJieniJieni, Thank you for your feedback! We will review and update as appropriate.

[2020-07-10 21:33] TravisCragg-MSFT commented on #56965
@shooker Interesting. To view this, you have to 'show hidden types'. I would not recommend moving this resource, and I would move it back to the 'NetworkWatcherRG' if you have moved it elsewhere.

I am unsure if the change will revert, but the Network Watcher resources should stay in the Network Watcher RG.

We will now proceed to close this thread. If there are further questions regarding this ma

[2020-07-10 21:33] #56965 closed

[2020-07-10 21:42] hisasima commented on #37602
In my understanding, it is supported today.

--- notifications@github.com wrote:

[2020-07-10 22:02] GiftA-MSFT commented on #58810
@wbinterns we will review your feedback and get back to you shortly. Thanks.

[2020-07-10 22:11] ckittel opened #58819 "Where is AadIssuerValidator?"
I am having isssues finding the AadIssuerValidator as it is not found in the Microsoft.Identity.Web nuget
Where is the source code for the samples used here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 906f1086-776e-9abe-b6cc-bf93e84dc238
* Version Independent ID: 50b27c9e-8f8a-3425-a1bb-b5d30e9d95e4
* Content: [Con

[2020-07-10 22:17] TravisCragg-MSFT commented on #58772
@aidanfinn Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-07-10 22:24] rachel-msft commented on #57217
Thanks for the feedback. An edit has been checked in to the docs repo and will be published in the next cycle (Monday morning)

#please-close

[2020-07-10 22:24] #57217 closed

[2020-07-10 22:27] TravisCragg-MSFT commented on #58795
@inuvano-labs although [Azure Container Instances has a known limitation regarding Azure Load Balancer](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-virtual-network-concepts#unsupported-networking-scenarios), this doc does outline a way to use ACI with Azure Load Balancer by adding the backends by IP.

We do not have an example with Azure Container Instances at th

[2020-07-10 22:38] luleonpla commented on #58484
You can PATCH passwordCredentials with keyCredentials where usage="Sign" if the keyId for the keyCredential used for "Sign" matches the keyId of the passwordCredential.

What is the error that you're getting?

[2020-07-10 22:41] TravisCragg-MSFT commented on #58798
@adrianichim As is discussed Here, the Availability Set is not needed unless you are using a Basic Load Balancer. if you are using a Standard Load Balancer, the Availability Set is not needed and can be removed from the VM Create command.

This doc seems to be confused between basic and standard, and even though it states on the title that this is for a Standard Load Balancer, it gives commands fo

[2020-07-10 23:03] kimadeline opened #58820 "Python code snippet for "Get Read results" is different from the Azure Computer Vision client library (version 3.0.0)"
The code snippet under the "Get Read Results" header of the "Read printed and handwritten text" category has the following content:

[code]

But when looking at the Computer Vision package details (version 3.0.0) the enum values have different casing:
[code]

The next part of the code snippet says that in order to use the read results you need to access the `read_results` key, however when I do so

[2020-07-10 23:05] julieMSFT commented on #53684
#https://github.com/MicrosoftDocs/azure-docs-pr/pull/121976

[2020-07-10 23:05] julieMSFT commented on #53684
#https://github.com/MicrosoftDocs/sql-docs-pr/pull/15949

[2020-07-10 23:07] julieMSFT commented on #53684
@emshimon Hello, I have made the edits to the documents and you should see the updates soon. Thank you for your contribution to ensuring the quality of Microsoft Docs. I will proceed with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2020-07-10 23:07] julieMSFT commented on #53684
#please-close

[2020-07-10 23:07] #53684 closed

[2020-07-10 23:49] mengtingw commented on #58799
Thanks for your quick reply. I have updated the post and please check the documentation.
BTW, could you tell me where to find the ID and version ID? This is my first time to report an issue on Github and apologies for the inconvenience.

[2020-07-11 00:35] MarileeTurscak-MSFT commented on #58637
Hello,

"When customers delete data or leave Azure, Microsoft follows strict standards for overwriting storage resources before their reuse, as well as the physical destruction of decommissioned hardware. Microsoft executes a complete deletion of data on customer request and on contract termination."

In case where you would need to make a request to Microsoft, you can [ create a support case](htt

[2020-07-11 00:35] #58637 closed

[2020-07-11 00:41] MarileeTurscak-MSFT commented on #58222
I apologize for the late reply! For troubleshooting questions like this the best place to ask is in[ Microsoft [](Q&A](https://docs.microsoft.com/answers/topics/azure-active-directory.html?filter=unanswered).) This appears to be more of a troubleshooting issue than a documentation issue.

Is the user a guest user by chance? If that is the case then the job title claim would not be returned because

[2020-07-11 00:41] #58222 closed

[2020-07-11 00:48] Karishma-Tiwari-MSFT commented on #58780
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-11 00:49] Karishma-Tiwari-MSFT commented on #58816
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-11 00:50] MarileeTurscak-MSFT commented on #58812
Thanks @Akshat-Kesarwani . We are looking into this feedback.

[2020-07-11 00:50] Karishma-Tiwari-MSFT commented on #58788
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-11 00:50] Karishma-Tiwari-MSFT commented on #58794
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-11 00:56] Karishma-Tiwari-MSFT commented on #58753
@lunar87 Can you please elaborate on the change you are requesting for the example here:
![image](https://user-images.githubusercontent.com/20851144/87213021-af6a7180-c2d6-11ea-86bb-02312c847f39.png)

[2020-07-11 00:57] MarileeTurscak-MSFT commented on #58812
I tested and can confirm. I also can only get to this option from Identity Protection and not by creating a policy the other way. @MicrosoftGuyJFlo , has this option not been enabled?

[2020-07-11 00:57] Karishma-Tiwari-MSFT commented on #58727
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-11 01:00] Karishma-Tiwari-MSFT commented on #58563
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2020-07-11 01:00] #58563 closed

[2020-07-11 01:30] palma21 commented on #46132
region=westus2
vmSize=Standard_E64s_v3

az vm list-skus --resource-type virtualMachines  --location $region --query "[?name=='$vmSize'].capabilities"

Shows nothing about ultra. Same behavior on Powershell. Latest versions.
It should say true or false, and per docs it should be true

[2020-07-11 01:36] wemiao opened #58821 "hostname not found for adlaJobClient.Job.Create"
Following this documentation:

We verified to ADLA account exists:
bool exists = adlaClient.Account.Exists(rg, adla));
if (exists)
{
   var adla_accnt = adlaClient.Account.Get(rg, adla);
}

We are following the example here:

https://docs.microsoft.com/en-us/azure/data-lake-analytics/data-lake-analytics-manage-use-dotnet-sdk#submit-a-u-sql-job

We are trying to submit a scope job, so we are using

[2020-07-11 02:02] feiyushi opened #58822 "Do I need to grant system identity permission to vnet again?"
I have created a cluster with an existing vnet and system identity enabled and there's no error. After checking the vnet activity history, I saw that AKS first party service principal join the cluster nodes to the vnet without using system identity.

My question is since it's joined already, do we still need to grant system identity permissions to vnet? Same goes to public ip which is used as load

[2020-07-11 02:10] feiyushi opened #58823 "Pod scheduling in system vs user mode node pools"
1. are control plane pods like `coredns`, `tunnelfront`, `metrics-server` always scheduled on the system node pools? I see they are also in the user mode node pools recently.
2. I'd want to reserve system node pool for only control plane pods and user node pool for application pods. How can I do that? Adding node taints on the system node pool: "key=value:NoSchedule"? What's the recommended way?

[2020-07-11 02:38] JeffSmalley opened #58824 "Management Group Scope Missing"
It states "levels at which you can scope access to Azure blob and queue resources". Shouldn't Management Groups be listed as well???

Cheers,
Jeff Smalley MCT
Chicagoville

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ca94e03-5f05-6703-1672-8062f31c0780
* Version Independent ID: a6a8d9e9-9aac-c0ed-c474-34cbd0609584
*

[2020-07-11 02:45] MonikaReddy-MSFT commented on #58779
@Druffl3 -  Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-11 02:47] oo2316oo opened #58825 "Run ID: ck1 failed after 5s. Error: failed during run, err: exit status 1"
#i want build  ubuntu base image and save in my registry, but face following error.**

##command
az acr build --image sample/ubuntu:latest --registry eld0710 --file dockfile .

##log
2020/07/11 02:39:18 Downloading source code...
2020/07/11 02:39:19 Finished downloading source code
2020/07/11 02:39:19 Using acb_vol_c708f5f3-7ad0-4706-abba-09a53b65fefe as the home volume
2020/07/11 02:39:19 Setting

[2020-07-11 03:07] MonikaReddy-MSFT commented on #58802
@WhitWaldo - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-11 03:16] MonikaReddy-MSFT commented on #58813
@agrabhi - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-11 03:17] dery168 opened #58826 "Output to MongoDB interface doesn't work"
Failed to execute the following code.
`      context.bindings.employeeDocument = JSON.stringify({
        id: context.bindings.myQueueItem.name + "-" + context.bindings.myQueueItem.employeeId,
        name: context.bindings.myQueueItem.name,
        employeeId: context.bindings.myQueueItem.employeeId,
        address: context.bindings.myQueueItem.address
      });`

500 Error:
Sql api is not suppo

[2020-07-11 03:18] MonikaReddy-MSFT commented on #58815
@arvindsindhu - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-11 03:53] SB-o-matic commented on #58613
@amanmcse Please don't be in a hurry to close a thread without at least getting feedback or allowing some time to pass when you receive none.  You are still missing out the part where accounts in Azure AD are synchronized with no access to password hashes or the hash function. So an export from Azure AD is not the answer for a seamless migration. For a seamless migration in this scenario, how will

[2020-07-11 03:55] SB-o-matic commented on #58717
The problem I had was figuring out how to link a policy I had created for sign in using Azure Ad as Idp with another I created for SAML.

I was able to resolve this by creating a custom policy signup signin user flow (call this SignUpOrSignInPolicyA) with Azure AD federation (I had initially only used built-in sign in and sign up flow with Azure AD IdP). Then in the custom policy for the signup si

[2020-07-11 03:55] #58717 closed

[2020-07-11 03:57] vipulsparsh commented on #58819
@ckittel  Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-07-11 05:48] SadiqhAhmed-MSFT commented on #58621
@bandersmsft For visibility.

[2020-07-11 06:17] akulnev commented on #56208
Hi @MicrosoftGuyJFlo
I cannot agree with your answer.  According to the [article](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/howto-conditional-access-session-lifetime), it does not matter whether WH4B is used or not in order to unlock a device. I have tested a scenario with W10 Hybrid Azure AD joined device without WH4B. It works exactly as described in the article

[2020-07-11 06:41] akulnev opened #58827 "Sign-in frequency and mobile devices (iOS)"
Hello Everyone,

Could someone explain the correct (expected) behaviour of an Azure AD Registered mobile device (e.g. iOS), when it is used to run O365 mobile applications like Outlook, Teams, etc.? In accordance with this [article](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/howto-conditional-access-session-lifetime), if you use an Azure AD registered device, when y

[2020-07-11 06:59] smallhaes opened #58828 "doc bug report: there lacks a right parenthesis when invoking "Environment.from_conda_specification""
As following picture shows, there lacks a right parenthesis when invoking "Environment.from_conda_specification"
![](https://note.youdao.com/yws/public/resource/d68209b5672655918654069ad86b7ac0/xmlnote/F0F66C64395A4D2BA95198A64A9952C2/74520)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38e267fb-efa2-dab5-aa83-4a4addc

[2020-07-11 07:01] solcada opened #58829 "Trying to compile on ubuntu"
Doesn't seem to work on ubuntu.

test@testElastic:~/Desktop/Blah/qpid-proton-0.7/build$ sudo make install
[  1%] Generating protocol.h
  File "/home/test/Desktop/Blah/qpid-proton-0.7/proton-c/src/protocol.h.py", line 23
    print "/* generated */"
          ^
SyntaxError: Missing parentheses in call to 'print'. Did you mean print("/* generated */")?
make[2]: *** [proton-c/CMakeFiles/qpid-proton.di

[2020-07-11 07:30] mslot opened #58830 "When will the automatic deletion start?"
Could you maybe put an emphansis on

As i understand it, it is yet to be implemented. Maybe put the above quote in a note box? It is easy to miss. Is there a time estimate on when this is going to be implmented?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33dbe714-4b2a-d075-432d-ed335d2d8f5c
* Version Independent ID

[2020-07-11 09:58] SwathiDhanwada-MSFT commented on #58324
@jdorecae Thanks for your confirmation. We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-07-11 09:58] #58324 closed

[2020-07-11 10:02] gagwithgaffer commented on #58592
Same problem with the docs for Azure AD, I'm trying to configure optional claims to be added to the ID Token using V.2, following the guide here: "https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-optional-claims" I first tried adding claims to Manifest file, nothing worked, then I'm looking for this token configuration menu which is not present. Where do I go for he

[2020-07-11 10:08] AnirudhBragadeesan commented on #17302
@kundan123456  Can you Please let me know how was this resolved?
This issue got resolved now I am able to add specific services and regions using ARM templates.

[2020-07-11 10:23] kmrrakesh opened #58831 "h77t87y8i"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-07-11 10:29] akhtar-miah opened #58832 "too many missing steps"
if you are doing a guide to implementing a script then please make steps comprehensive enough to follow through.

i had to follow a a more detailed page to do this
https://medium.com/@adilsonbna/twitter-sentiment-analysis-using-azure-databricks-1ddba8a96c13

also i get an error message when running the SendTwitter notebook

_<console>:23: error: '=' expected but ';' found.
_def sendEvent(message:

[2020-07-11 11:07] BhargaviAnnadevara-MSFT commented on #58831
@kmrrakesh Thank you for reaching out. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-07-11 11:28] ydbendasan opened #58833 "Non-Wizard instructions needed"
There should be a page that describes adding Application Insights without the wizards so we can understand the details and the latest best practices for Application Insights. I'm now trying to work out how to retrospectively add application insights into a project and figure out exactly what modules I need and how to configure them.

---
#### Document details

⚠ *Do not edit this section. It is re

[2020-07-11 12:58] chaelli commented on #58715
seems more like a but than a feature.. but I created a uservoice entry anyway: https://feedback.azure.com/forums/34192--general-feedback/suggestions/40885105-allow-leaving-an-organization-where-the-account-is

[2020-07-11 13:08] ram-msft commented on #58820
@kimadeline Thanks for the question. We are investigating the issue and will update you shortly.

[2020-07-11 13:45] MonikaReddy-MSFT commented on #58821
@wemiao - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-11 13:50] MonikaReddy-MSFT commented on #58822
@feiyushi - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-11 13:52] MonikaReddy-MSFT commented on #58823
@feiyushi - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-11 13:54] MonikaReddy-MSFT commented on #58824
@JeffSmalley - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-11 14:00] MonikaReddy-MSFT commented on #58825
@oo2316oo - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-11 14:04] ericsampson commented on #55707
@msmbaldwin thank you very much! Have a great weekend 🥳

[2020-07-11 14:04] MonikaReddy-MSFT commented on #58827
@akulnev - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-11 14:05] MonikaReddy-MSFT commented on #58826
@dery168 -  Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-11 14:08] MonikaReddy-MSFT commented on #58828
@smallhaes - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-11 14:09] MonikaReddy-MSFT commented on #58828
@smallhaes -
Thanks again for bringing this to our attention. We have updated the Doc and it should go live once its merged and We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-11 14:09] #58828 closed

[2020-07-11 14:11] MonikaReddy-MSFT commented on #58829
@solcada - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-11 14:44] alfredogan opened #58836 "Insufficient information on Azure app Push Notifications"
Azure app Push Notifications not explained

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e27bedb5-7ff6-f4ae-eb7e-4ee25472d25b
* Version Independent ID: 804b814e-49c9-7fc8-dc86-27b431a9b7df
* Content: [Create and manage action groups in the Azure portal - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-moni

[2020-07-11 15:49] MustAl-Du opened #58838 "BYOL is not publishing option"
There is a confusion on how BYOL was documented in this page. Here is why:

1) In the subsection "**List, trial, and BYOL publishing options**": "BYOL" has been documented as the third "publishing option" after "List" and "Trial". This is not correct. "Transact" should be the third publishing option. "BYOL" is one the billing model under "Transact".

2) In the subsection "**Transact publishing opt

[2020-07-11 15:54] MustAl-Du opened #58839 "Confusion with BYOL"
There is a confusion in how BYOL is documented on this page versus "https://docs.microsoft.com/en-us/azure/marketplace/marketplace-commercial-transaction-capabilities-and-considerations#transact-billing-models".

It seems that BYOL is a "**billing model**" and not a "**publishing option**". Please confirm and correct the content to either billing model or publishing options across all documentatio

[2020-07-11 15:59] MonikaReddy-MSFT commented on #58832
@akhtar-miah - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-11 16:01] MonikaReddy-MSFT commented on #58833
@ydbendasan - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-11 16:02] MonikaReddy-MSFT commented on #58836
@alfredogan - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-11 16:03] MonikaReddy-MSFT commented on #58838
@MustAl-Du - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-11 16:05] MonikaReddy-MSFT commented on #58839
@MustAl-Du - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-11 16:06] MonikaReddy-MSFT commented on #58830
@mslot - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-11 16:13] MonikaReddy-MSFT commented on #58540
@Gowthami-Ronda - Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2020-07-11 16:13] #58540 closed

[2020-07-11 16:14] MonikaReddy-MSFT commented on #58720
@Prabhakar96-dev - Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2020-07-11 16:14] #58720 closed

[2020-07-11 16:16] MonikaReddy-MSFT commented on #58740
@nsaiisasidhar - Can you please share with us the URL of the document that you are having issues with?

[2020-07-11 16:17] MonikaReddy-MSFT commented on #58756
@Groovycho - Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2020-07-11 16:17] #58756 closed

[2020-07-11 17:30] rgward opened #58840 "Missing image in doc page for AAD and Azure SQL Database"
Looks like there is a missing image on this doc page

https://docs.microsoft.com/en-us/azure/azure-sql/database/authentication-aad-configure?tabs=azure-powershell#provision-azure-ad-admin-sql-database

In the Azure portal, in the upper-right corner, select your connection to drop down a list of possible Active Directories. Choose the correct Active Directory as the default Azure AD. This step link

[2020-07-11 17:30] jalvarezca commented on #13639
I decided to reinstall visual studio and SDK and that fixed the issue. I'm back to business.

[2020-07-11 18:30] krish-gh commented on #58722
@Expecho , Could you let me know what is your function version, dotnet version and also version of [Microsoft.NET.Sdk.Functions](https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/). With the latest SDK version 3.0.8 and my function v2/v3 with .net core 3.1, I could not reproduce it. DependencyTelemetry is getting logged for me (e.g. with external REST call generated from the function) wit

[2020-07-11 18:37] sthoward0914 commented on #56582
Thank you, JulieMSFT.

[2020-07-11 18:59] GiantCrocodile opened #58841 "License information for Azure Maps SDK missing"
Hello,

it seems there is no information in the docs about the license that applies to the Azure Maps SDK. Please document proper license information like what are we allowed to do with it (just use it, modify the source code, redistribute it, use it for non-Azure-related projects/development, etc.) and if we have to respect some other licenses too because of some dependencies or whatever.

Furthe

[2020-07-11 19:37] MustAl-Du opened #58842 "Metered Billing is missing from the "Transact billing models" subsection"
The "Metered Billing" model seems to be missing for the listed model under the "**Transact billing models**" subsection.

I would suggest to add the below "Metered Billing" description as the sixth point under the "**Transact billing models**" subsection.

**Metered Billing** - With the Marketplace metering service, you can create software-as-a-service (SaaS) offer or Azure managed application off

[2020-07-11 20:13] Kenneth-Abrams opened #58843 "AKS Availability Zones WestUS & EastUS"
[Enter feedback here]
Do we have a road map for when AKS AZ support will be rolling out to additional AZ regions? Specifically looking for support in West US and East US. I have been waiting and asking my Microsoft TAM for an update every month for ~9 months now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 471c32a2-

[2020-07-11 20:53] andreasmalta opened #58844 "SSO settings missing on Freshdesk security page"
[Enter feedback here]
I think these instruction are out of date, it seems SSO settings have changed to freshworks and not sure how to proceed...

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 859cfdb1-2692-307f-6b90-65fa9d45e2a7
* Version Independent ID: 2ade8aca-407c-00d1-9552-ae294a42dfcb
* Content: [Tutorial: Azure

[2020-07-11 21:16] DeanGross opened #58845 "Where is PIM Content"
[Enter feedback here]

This page states that PIM is part of Identity Governance, but PIM is not listed as a section in this documentation. The PIM content should be moved from https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/ into a subsection in this documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-07-11 22:02] moazmirza opened #58847 "Minor typo to be fixed - (A)SCS/ERS instead of NFS"
Hi - Under Deploy Linux manually via Azure portal section (https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/high-availability-guide-suse#deploy-linux-manually-via-azure-portal).
1. Can you change the heading to: Deploy Linux **Virtual Machines** manually via Azure portal
2. The first line in the section incorrectly refers to "NFS" cluster instead of (A)SCS/ERS cluster.

Thanks

[2020-07-11 22:31] MonikaReddy-MSFT commented on #58842
@MustAl-Du - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-11 22:34] MonikaReddy-MSFT commented on #58842
@MustAl-Du - Thanks again for bringing this to our attention. We have updated the Doc and it should be live once its merged, and We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-11 22:34] #58842 closed

[2020-07-11 22:36] MonikaReddy-MSFT commented on #58847
@moazmirza - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-11 22:40] MonikaReddy-MSFT commented on #58847
@moazmirza - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-11 22:40] #58847 closed

[2020-07-11 23:46] nikhilsk99 opened #58848 "Terrible, Your cloud does not have agility but you are blocking people from working"
[Enter feedback here]

I need to spring 4 VM each with 8 vCPU's and your process to increase quota awful. I need to do a quick test and your process are blocking me to get the work done.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e19f68c5-3917-c131-a379-3b9e3156593b
* Version Independent ID: 89f78479-edd5-f96c-b342

[2020-07-12 01:32] UCdavidUC opened #58849 "Entities URL"
[Enter feedback here]

At the end of the entities' URL the string is repeating "/recognition/general" making it an non existing URL and in consequence it returns a 404 Resource Not Found Exception when accessed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b710595e-a14c-f083-65e8-bbeb74f4af23
* Version Independent ID

[2020-07-12 02:10] ROSMITHJ-MSFT opened #58850 "Global VNet Peering Typo"
The Global VNet Peering section has a typo:

"VNets connected to virtual hub is same region incur VNet peering charges."

This should read, "VNets connected to virtual hub in the same region will incur VNet peering charges."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 316afee6-13d5-4b73-5224-073b35e69737
* Version I

[2020-07-12 03:17] Tankzor opened #58851 "Confusing warning about [elastic] pools?"
Hey team,

I find this statement slightly confusing and maybe not as clear as it could be:

![image](https://user-images.githubusercontent.com/6135007/87238016-3e02fe00-c451-11ea-97ac-d8c6793337a7.png)

1. Assuming this is an elastic pool and not something else I don't know about? Usually in docs I see "elastic pool" for SQL but there's definitely other pools around.

2. I think the pause/resume a

[2020-07-12 03:28] sakabio commented on #58398
Thanks @aahill, this worked.

[2020-07-12 03:58] MonikaReddy-MSFT commented on #58840
@rgward - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-12 04:01] MonikaReddy-MSFT commented on #58841
@GiantCrocodile - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-12 04:03] MonikaReddy-MSFT commented on #58843
@Kenneth-Abrams -  Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-12 04:12] MonikaReddy-MSFT commented on #58844
@andreasmalta -  Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-12 04:16] MonikaReddy-MSFT commented on #58845
@DeanGross - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-12 04:18] MonikaReddy-MSFT commented on #58850
@ROSMITHJ-MSFT - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-12 04:23] MonikaReddy-MSFT commented on #58850
@ROSMITHJ-MSF - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-12 04:23] #58850 closed

[2020-07-12 04:24] amanjeetsingh commented on #58757
Thank you @SadiqhAhmed-MSFT.
Please feel free to close this Issue.

[2020-07-12 04:44] SwimlaneBuilder commented on #56273
The suggestion was regarding the operational load in an international scenario, where a request in India may need to access a function app in America, and the ideal way to reduce the latency of that call.

In addition, there is warm-up time for an unloaded Application pool in both the Function and API app that B2C uses.

Finally, if that function or API app is experiencing a problem with load or c

[2020-07-12 05:07] razvansalajan opened #58852 ""Properties that aren't included in the template are reset to the default values" - is it true ?"
Based on the note from the incremental mode
_"Properties that aren't included in the template are reset to the default values"_ and
_"The resource definition in the template always contains the final state of the resource. It can't represent a partial update to an existing resource."_ I expect that when deploying a resource the properties that are not specified to be reset to default.

This does n

[2020-07-12 06:26] dcurwin commented on #58801
@SujayJDesai - can you give your insights into this?

#reassign:SujayJDesai

[2020-07-12 06:45] SwathiDhanwada-MSFT commented on #58713
@mrbullwinkle Can you please provide your insights on this issue?

[2020-07-12 06:46] SwathiDhanwada-MSFT commented on #58463
@sormita Just following up to check if you had chance to check previous comments?

[2020-07-12 06:55] SwathiDhanwada-MSFT commented on #58852
@razvansalajan Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-07-12 07:32] kromerm commented on #58181
fixed

[2020-07-12 08:36] sensomatic opened #58853 "New-AzDiskConfig expects size in MiB multiples"
This code from the referenced page

[code]

Can produce an error like this
[code]

I had to calculate a disk size in multiples of MiB
`([Math]::Ceiling(($vhdSizeBytes - 512) / (2 -shl 19)))*(2 -shl 19)
`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 912457e0-26de-cb94-fa50-075f986ce595
* Version Independent ID: 0d50c9

[2020-07-12 09:34] arvind-dhariwal opened #58854 "Sharing additional contents for this page to help our customer and partner"
Hi,

Currently I came across a situation where I had to query list of list of element so i used this page  to solve the problem .I modified the json and then wrote a query.

Sharing modified json and query here in case you want share with other on this page for quick help. Mostly people are looking for such complex queries...

-------2. List of Dimensions of profileType
/*
{
    "id": "66532691-ab

[2020-07-12 12:09] arvindsindhu commented on #58815
FYI even with  Get-ADSyncExportDeletionThreshold we are not getting clear results See Below Output #1, but if we user pass AAD Creds manually then it shows correct results See Result #2

**_Get-ADSyncExportDeletionThreshold_**
DeletionPrevention ThresholdPercentage ThresholdCount
------------------ ------------------- --------------
                 1                   0           5000

**Get-ADSy

[2020-07-12 12:15] omki12 opened #58855 "Does this limitation also apply for Free tier.? cause i am facing same issues with device twin tag that occurs with basic tier?"
I am using Message enrichment in Free tier of IoT Hub and adding device twig tag property called "Location".
when I try to use it in Azure stream analytics / in backend application, I get string "$twin.tags.Location" instead of actual value.
I have set device twin as
[code]
![image](https://user-images.githubusercontent.com/47273901/87243841-e36ca080-c456-11ea-86fb-61c625e00f70.png)

my understand

[2020-07-12 12:20] vipulsparsh commented on #58849
@UCdavidUC  Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@aahill Can you look into this ?

[2020-07-12 12:26] vipulsparsh commented on #58851
@Tankzor   Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@DavidTrigano  : Can you look into this ?

[2020-07-12 12:30] vipulsparsh commented on #58848
@nikhilsk99  Thanks for reaching out and providing this feedback. We will investigate and update the thread accordingly.

[2020-07-12 13:19] DavidTrigano commented on #58851
Hi @Tankzor,

Thanks for the feedback, We changed our documentation. Changes should be published between 24 to 48 hours.

@vipulsparsh pull request #122074. You can go ahead and close this ticket

[2020-07-12 13:33] Brucius opened #58856 "Migration options for SQL managed instances."
[Enter feedback here]
Hello, referring to the section on SQL managed instances being unsupported for cross subscription migration.
https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/move-support-resources#microsoftazuredata

Could someone please guide on what other options for migrating them across subscriptions are available?

---
#### Document Details

⚠ *Do not edit this s

[2020-07-12 14:06] BakkerJan commented on #58680
I have the same question.

[2020-07-12 14:06] memildin commented on #54727
The page has been updated to clarify the situation and the changes will go live within the next three days.

@JasonHershey, thanks for taking the time to leave your feedback and help us make these pages better.

[2020-07-12 14:06] memildin commented on #54727
#please-close

[2020-07-12 14:06] #54727 closed

[2020-07-12 14:07] BakkerJan commented on #58812
Same here. Is this still rolling out? @MicrosoftGuyJFlo

[2020-07-12 14:53] SychevIgor opened #58857 "Windows Server nodes (currently in preview in AKS) -no longer in preview"
"Windows Server nodes (currently in preview in AKS)" - Windows nodes are no longer in preview
https://azure.microsoft.com/en-us/blog/announcing-the-general-availability-of-windows-server-containers-and-private-clusters-for-azure-kubernetes-service/
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7010bd58-42b1-5c90-3253-0

[2020-07-12 15:25] kosinsky opened #58858 "HDI Version'3.6' is not supported for clusterType 'MLSERVICES' and componentVersion 'default'?"
Is ML Service still supported? Deprecation note says "The ML Services cluster type on HDInsight is supported only on HDInsight 3.6. HDInsight 3.6 is scheduled to retire on December 31, 2020.", however all attempts to create cluster of that time fail with following error:
[code]

cc: https://github.com/terraform-providers/terraform-provider-azurerm/issues/7670

---
#### Document Details

⚠ *Do not

[2020-07-12 16:03] MonikaReddy-MSFT commented on #58853
@sensomatic - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-12 16:22] MonikaReddy-MSFT commented on #58854
@arvind-dhariwal - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-12 16:27] AshokPeddakotla-MSFT commented on #58855
@omki12 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-12 16:47] MonikaReddy-MSFT commented on #58856
@Brucius - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-12 16:59] MonikaReddy-MSFT commented on #58857
@SychevIgor - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-12 17:14] KrishnaG-MSFT commented on #58536
At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-07-12 17:14] #58536 closed

[2020-07-12 17:59] BillmanH commented on #51993
Hey thanks at @abhimanyusood for the update here. Could you talk someone into updating this doc to reflect that? https://docs.microsoft.com/en-us/azure/cognitive-services/text-analytics/quickstarts/text-analytics-sdk?tabs=version-3&pivots=programming-language-python

[2020-07-12 18:00] BillmanH opened #58860 "delete issue"

[2020-07-12 18:07] amitsuneja commented on #58321
Looking forward for Active-Active documentation

[2020-07-12 18:11] #58860 closed

[2020-07-12 18:34] mifurm opened #58861 "Sample code is given without proper info thus it takes some time to run this"
[Provided sample code is given but without any explanation :( First, it uses DefaultAzureCredential() method which will not work in 100% and more, the documentation says nothing about the format of the Key used for the encryption. It takes some digging to find out it must be AES-256. However, the CustomerProvidedKey constructor says that you should provide base64 encoded string (doc: https://docs.

[2020-07-12 19:01] AjayKumar-MSFT commented on #58514
Apologies for the delay!
If I understand your scenario correctly, as mentioned in the same [document](https://docs.microsoft.com/en-us/azure/app-service/deploy-staging-slots#route-production-traffic-manually) - By default, new slots are given a routing rule of 0%, shown in grey. When you explicitly set this value to 0% (shown in black text), your users can access the staging slot manually by using

[2020-07-12 19:09] djpmsft commented on #57695
Hey @breakingBI,

The point you are raising is valid, but may be better suited for the Azure Machine Learning documentation. ADF is simply an orchestrater of machine learning jobs. It is assumed that users have knowledge of the AML pipelines they wish to run as they are building their ADF pipelines (I know there is overloading of this work :))

Hope this clears somethings up.

Best,
Daniel

(I am

[2020-07-12 19:09] #57695 closed

[2020-07-12 19:11] djpmsft commented on #56745
Closing due to lack of response

#please-close

[2020-07-12 19:12] #56745 closed

[2020-07-12 19:16] djpmsft commented on #36854
Hey Breno,

Apologies for the super large delay in response! This issue must have gotten lost in the mix. Overall any custom activity code needs to have a CI/CD process that parallels ADF's (this applies to any external activity that gets orchestrated). This can either be included in the same CI/CD pipeline or separate pipelines. As this is a separate Azure service that we are orchestrating, I wil

[2020-07-12 19:16] #36854 closed

[2020-07-12 19:38] shashishailaj commented on #58774
@SAIMMINHAS As you have mentioned you do not have a organisational or school account so maybe you are loggedin with Live ID which has global admin access. Could you please try to create a new user with AdminUser@<tenant>.onmicrosoft.com and assign this user a global admin privileges. and you dont need to assign any licenses to this user. Just the global admin role is enough . Once done , you can l

[2020-07-12 19:58] smithashajith commented on #58321
We have created the HANA Active-Active cluster in Azure successfully. Happy to share the documentation to update the Azure document link.

![image](https://user-images.githubusercontent.com/57118386/87255388-5591b500-c458-11ea-9314-5fbf2744779b.png)

[2020-07-12 20:27] JarroVGIT opened #58862 "Missing fields for Subscription or ResourceGroup when creating new tenant"
When following the instructions on creating a new tenant, it states under step 6, bullit 4 and 5 to fill out the subscription and resource group in which you'd like to create the AAD B2C tenant. This is is however not an option in the portal (anymore):

Text in Docs:
![image](https://user-images.githubusercontent.com/13659033/87255879-d8cdfd80-c48e-11ea-8386-4f85771911c1.png)

Screenshot of curren

[2020-07-12 20:40] AjayKumar-MSFT commented on #58529
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2020-07-12 20:40] #58529 closed

[2020-07-12 21:00] AlissonRS commented on #58514
Hi @AjayKumar-MSFT no worries, thanks for your reply.

I had already read the two links you provided before opening this issue.

The solution in StackOverflow thread you shared is to remove the `routingRules` from the settings, or delete zero from the slot page and save to make it grayed out, which is the same as "stop using slots". If I was to not use slots, I wouldn't have this question to begin

[2020-07-12 21:01] SAIMMINHAS commented on #58774
Hi shashishailaj,

Just to clarify that i'm already using the Admin Account which has the Global Admin access assigned to it as shown below:

![image](https://user-images.githubusercontent.com/30388154/87255792-b683b200-c485-11ea-9f66-5de6862bdfed.png)

I then also tried your suggestion but it won't let me delete as well. However, i was able to cancel the P2 trial by clicking on 'Delete all licens

[2020-07-12 21:08] nitrologic commented on #49245
I have been searching for this info for 5 days. Hurrah. And boo.

[2020-07-12 21:22] AjayKumar-MSFT commented on #58544
@IgnacioAlvarezArenas, Based on your feedback, we have raised a PR. We have been discussion on this internally and will make necessary changes as required. Thanks again for reporting this.

[2020-07-12 21:54] mark-beaupre opened #58863 "Need to add outbound NTP access to time.windows.com as a network port requirement"
Hi there,

Please include outbound NTP (UDP 123) access to time.windows.com in the list of network ports that need to be open. My network didn't have NTP open to the internet (and many customers run their own time source stratum don't open up NTP to the internet) and the time skew was too great and REST API authentication was broken when I tried copying data to the Databox via REST API.

After ope

[2020-07-12 21:55] SatishBoddu-MSFT commented on #58814
@nkhuyent
I have assigned the issue to the content author @rido-min  for further review and update the doc as appropriate.

[2020-07-12 22:19] QuetzalcoatlRosso opened #58864 "Improving code sample suggestion"
Suggestion: make argument passing style uniform and explicit.

For example, to be consistent with explicit passing of arguments in statements like:
`client = SecretClient(vault_url=KVUri, credential=credential)  # explicit args`
replace the following
`retrieved_secret = client.get_secret(secretName)  # ambiguous (implicit) args`
with
`retrieved_secret = client.get_secret(name=secretName)  # explic

[2020-07-13 00:46] dcbrown16 opened #58865 "Document GuestAndHybridManagement service tag"
GuestAndHybridManagement service tag represents the required outbound connectivity for machines using Update Management. Please add this to the document under "Network planning" as the recommended way to allow communication for machines. The service tag should be allowed in the outbound rules in the NSG.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-07-13 00:53] gregdegruy opened #58866 "How can you enable the Docker compose file to point to an Azure ACR image?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6489b871-9cf8-7c99-9834-076ec646d0e6
* Version Independent ID: fa5d2995-5833-c04b-2530-c100bcd1e76b
* Content: [Configure a custom Linux container - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/containers/configure-custom-cont

[2020-07-13 00:54] sujayathavale opened #58867 "validate-jwt policy documentation is stale"
1) Looks like the documentation is not up to date for this new feature that has been released for validate-jwt policy to work with uploaded certificates. Some examples would be handy. Refer https://azure.microsoft.com/en-us/updates/azure-api-management-update-june-2020/
2) Can you have single validate-jwt policy reference 2 sets of open id metadata, one via URL, other the certificate?

---
#### Do

[2020-07-13 01:00] majorvin opened #58868 "Confused with pre/post deployment script"
There's a sample script for ADF cic/cd, how will this handle currently runniing pipelines?

The script can be found here: https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment#script

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e22e4d6-366f-fbf8-e141-8905ca7ab7ae
* Version Independent

[2020-07-13 01:04] majorvin commented on #58868
Ok, after reading through the script carefully, I think it does is to delete only the ones that are not in the arm template.

[2020-07-13 01:39] gs-repo commented on #58191
Hi Pat,

Thanks for getting back to me. In terms of the issue; I will try again this week. Out of curiosity, did you just run the script I provided; were there any changes?

I realize it will take time to update the docs, but if you can provide me the script and variables you used I can try reverse engineering. Any information would be appreciated. From my side I will try again to deploy this week

[2020-07-13 02:44] Pancat007 commented on #58764
Hi @Mike-Ubezzi-MSFT ,
Thanks for your reply.
I found the the `Source SQL Server Instance name` cannot recognize the **PUBLIC IP** as the source, after I put the DMS and the vm(with SQL) in the same vnet, the `Source SQL Server Instance name` can recognize the **PRIVATE IP** and **FQDN.**

And what I get frustrated is that when I tried to test the DMS for Managed Instance, **EVERY STEP** for testi

[2020-07-13 02:47] MonikaReddy-MSFT commented on #58858
@kosinsky - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-13 02:50] MonikaReddy-MSFT commented on #58861
@mifurm - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-13 02:51] MonikaReddy-MSFT commented on #58862
@JarroVGIT -  Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-13 02:55] MonikaReddy-MSFT commented on #58863
@mark-beaupre - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-13 03:00] MonikaReddy-MSFT commented on #58864
@QuetzalcoatlRosso - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-13 03:10] MonikaReddy-MSFT commented on #58865
@dcbrown16 - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-13 03:13] MonikaReddy-MSFT commented on #58866
@gregdegruy - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-13 03:22] MonikaReddy-MSFT commented on #58867
@sujayathavale - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-13 03:40] SadiqhAhmed-MSFT commented on #58757
@amanjeetsingh Thanks for confirming. Closing this issue for now.

[2020-07-13 03:40] #58757 closed

[2020-07-13 03:48] rizwan365 opened #58869 "VM to use NAT gateway"
The Instructions mentioned in this document dont make sense to me. Perhaps somebody can help me to understand. Steps mentioned like this:
Create Virtual Network
All is OK

Create VM to use NAT gateway
step 4 under this part, states create public IP

Create NAT gateway
All is OK

The purpose of NAT gateway is to allow traffic from VM, without a public IP to surf Internet. If VM already has a public

[2020-07-13 03:59] kiranpradeep commented on #58537
Thanks. It works.

[2020-07-13 03:59] #58537 closed

[2020-07-13 04:00] SadiqhAhmed-MSFT commented on #58797
@stuartMoorhouse Any progress on this issue? If problem, previous reply with the above requested information to understand/investigate this issue further.

[2020-07-13 04:03] SadiqhAhmed-MSFT commented on #58760
@fire-fly Any update on this? Let us know if there are still any additional issues we can help with.

[2020-07-13 04:05] jerbio opened #58870 "Cannot deploy django python web app while following tutorial steps"
If you follow the steps in the support article you'll get this [screenshot](https://paste.pics/57af9fd185b3e5c66903b10f143cfe4d). Essentially "Your app service is up and running. Time to take the next step and delpoy your code".

django 2.1.2
Python 3.7.7
Windows 10 Pro

I have tried both the tutorial and deploying it and using the "deploy center" on my local implementation https://github.com/jerb

[2020-07-13 04:13] SnehaAgrawal-MSFT commented on #58870
@jerbio Thank you for your query . We will investigate and update the thread.

[2020-07-13 04:14] sormita commented on #58463
@SwathiDhanwada-MSFT my on-prem cluster is currently down, I am trying to create another on-prem cluster, once it is available I will try out the suggestion and let you know.

[2020-07-13 04:20] ChiragMishra-MSFT commented on #58517
@successhawkCG As answered on your [SO thread](https://stackoverflow.com/questions/62766636/what-permissions-are-needed-to-run-an-azure-data-factory-adf-debug-session), and as you are already aware, for someone to be able to access the author (create/edit/modify,etc) parts of ADF, you would need to assign the in-built contributor role.

You can however also [create custom roles depending on your r

[2020-07-13 04:20] #58517 closed

[2020-07-13 04:21] ChiragMishra-MSFT commented on #58707
@ramnaik-g I will now proceed to close the issue. Feel free to still comment and tag me if you have queries around the same.

[2020-07-13 04:21] #58707 closed

[2020-07-13 04:21] SwathiDhanwada-MSFT commented on #58767
@brunis We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-07-13 04:21] #58767 closed

[2020-07-13 04:25] ram-msft commented on #58257
Thanks for the feedback. @yingqunpku Can you please help on this.

[2020-07-13 04:36] PramodValavala-MSFT commented on #58807
@CharmanderJieniJieni While I can not be sure without looking at the code, it is very likely that you have to escape the `$` in your code. It is usually by using `\$` instead.

If possible, please do share your code. A snippet would do.

[2020-07-13 04:41] MayankBargali-MSFT commented on #58528
@pacodelacruz Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-07-13 04:41] #58528 closed

[2020-07-13 04:47] ram-msft commented on #58512
Thanks @gvashishtha Can you please check on this.

[2020-07-13 05:04] sormita commented on #58463
I am getting error like below for logs of api-server pod of kube-system namespace:
W0713 04:33:13.786790       1 clientconn.go:1208] grpc: addrConn.createTransport failed to connect to {https://127.0.0.
:2379  <nil> 0 <nil>}. Err :connection error: desc = "transport: Error while dialing dial tcp 127.0.0.1:2379: connect:
onnection refused". Reconnecting...
W0713 04:33:13.792382       1 clientconn.g

[2020-07-13 05:10] ganga1980 commented on #58463
Hi, @sormita, looks like you have issues configuring etcd as described here https://github.com/kubernetes/kubernetes/issues/19235.
If you are planning to create dev/test on-prem cluster you can use kind https://kind.sigs.k8s.io/docs/user/quick-start/

[2020-07-13 05:21] KranthiPakala-MSFT commented on #58595
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Please do share the forum link once you have opened a thread.

Thank you.

[2020-07-13 05:21] #58595 closed

[2020-07-13 05:39] avalcarlos opened #58871 "Missing Information"
[Enter feedback here]
Why are the Tenant and Issuer URLs greyed out. It's not clear what to enter here. I followed the instructions per the document but am still getting an error. Also, the instructions tell you to copy the directory ID from your AAD properties but it's not clear where to enter that information. The screenshot shows a blank field and it's not clear how the various values tie toget

[2020-07-13 05:41] CHEEKATLAPRADEEP-MSFT commented on #58527
@ElectricLlama The issue is because the SQL connector for Spark is not currently supported for Spark 3.0. We are in the process of getting this prioritized for the roadmap but the current recommendation would be to either use JDBC with Spark 3.0 (instead of the native connector) or use the compatible Spark runtime.

Could you please do let us know your name, organization and how big of an issue (i

[2020-07-13 05:51] vipulsparsh commented on #58453
@rsitrifork We will close this for now. Please tag me when you have attached a screenshot with complete error.

[2020-07-13 05:51] #58453 closed

[2020-07-13 05:52] vipulsparsh commented on #58715
@chaelli Thanks for creating a user voice and sharing us the link. We will close this now.

[2020-07-13 05:52] #58715 closed

[2020-07-13 05:53] psmanhas commented on #58298
@1RedOne Apologies for the delay in response.

As such for now there is no default exclusions in extensions.

In Windows Defender(OS 2016+), the client do has built in [exclusions](https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-antivirus/configure-server-exclusions-microsoft-defender-antivirus#list-of-automatic-exclusions
).

It is totally up to you to decid

[2020-07-13 05:57] shashishailaj commented on #58819
@KatteKwaad The code is here https://github.com/AzureAD/microsoft-identity-web/blob/master/src/Microsoft.Identity.Web/Resource/AadIssuerValidator.cs . I hope this is what you were looking for. Please let us know if this helps . The complete code for Microsoft Identity web is present at https://github.com/AzureAD/microsoft-identity-web URL . Let us know in case you have any further queries on this.

[2020-07-13 06:01] PriyanshuHarshavat opened #58872 "Azure translator subscription key not working"
I just **code as your example**, but the translate return the **401000**, I put my key in the program, but it still don't work. Please help me.

[2020-07-13 06:14] kiazhi opened #58873 "Please clarify the Service Principal AppId GUID hardcoding in doc."
Does the new Service  Principal account requires this "205478c0-bd83-4e1b-a9d6-db63a3e1e1c8" GUID as a must have rule of thumb or it is just an example?

[code]

I have client asking that it is a must have AppID GUID value. Please clarify or update the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: beac0

[2020-07-13 06:21] CHEEKATLAPRADEEP-MSFT commented on #58858
@kosinsky I'm able to created HDInsight ML Services in Central US region.

![image](https://user-images.githubusercontent.com/44426401/87276659-6c8ae280-c4fe-11ea-85d8-c894839de619.png)

Could you please re-try to create the HDInsight ML Services. In case, if you see the same error message, I would request you to re-try after 5 mins.

[2020-07-13 06:29] CHEEKATLAPRADEEP-MSFT commented on #58872
@PriyanshuHarshavat  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community members

[2020-07-13 06:31] kazshi opened #58874 "AMSE Credentials UI is obsolete"
The Credentials UI in the current AMSE v2 tool version (4.3.14.0) is up-to-date and the Credentials screen shot (ASC Authentication) is obsolete. Would you please update the screen shot and the description in the Step 2.?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7adc6e30-aa23-b412-e575-4c51180ca6c1
* Version Inde

[2020-07-13 06:52] rick-hayek opened #58875 "B2C_1A_signup_signin keeps complaining that the idp app needs admin consent"
hi genius,

I followed the [document](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-multi-tenant-custom) to set up a multi-tenants login, everything seemed fine except i got this when testing the signupsignin policy:

![image](https://user-images.githubusercontent.com/17425089/87278273-9cde7b00-c516-11ea-8b87-58e6673970ac.png)

the application xxx-b2c-ident

[2020-07-13 06:55] yelevin commented on #56803
#please-close

[2020-07-13 06:55] #56803 closed

[2020-07-13 07:05] rick-hayek opened #58876 "signupsignin keeps complaining that the IDP needs admin consent"
hi genius,

I followed the [document](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-multi-tenant-custom) to set up a multi-tenants login, everything seemed fine except i got this when testing the signupsignin policy:

![2](https://user-images.githubusercontent.com/17425089/87279222-69512000-c519-11ea-80b0-59393e2a1d86.png)

![1](https://user-images.githubus

[2020-07-13 07:38] stuartMoorhouse commented on #58797
Hi,
The issue is resolved when I use a different browser (Chrome). So, I assume that it is a problem using the Console with Brave,
Thanks,
Stuart
    On Monday, 13 July 2020, 06:00:55 CEST, SadiqhAhmed-MSFT <notifications@github.com> wrote:

@stuartMoorhouse Any progress on this issue? If problem, previous reply with the above requested information to understand/investigate this issue further.

—

[2020-07-13 08:11] rkorver commented on #58652
Hi Vikas,

I’ve managed to access the External IP’s of the example project ☺ Also the IP on my own project. On the example (vote-app), the issue was that the service wasn’t of type LoadBalancer. On my own project I had  not mapped the port correctly to the port the application in the container was listening on.

Kind regards,

Roman Korver

From: VikasPullagura-MSFT [mailto:notifications@github.co

[2020-07-13 08:13] kewu-93 commented on #58458
Hi @SubhashVasarapu-MSFT , Is there any update?

[2020-07-13 08:20] vipulsparsh commented on #58876
@rick-hayek  Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-07-13 08:21] vipulsparsh commented on #58875
@rick-hayek  Closing this as duplicate for https://github.com/MicrosoftDocs/azure-docs/issues/58876

[2020-07-13 08:21] #58875 closed

[2020-07-13 08:27] tukan17 commented on #56384
@SubhashVasarapu-MSFT @winthrop28 Hello, any update upon this?

[2020-07-13 08:35] Shaktikantpadhi commented on #58759
Whether the above-provided query only providing the parent "chemistry" related articles or it's also providing the parent along with child-topics?? If it's not providing the child topics then how to make a query which will provide the parent along with child-topics articles information from MAG??

[2020-07-13 08:38] Shaktikantpadhi commented on #58759
Basically I want a query which will provide parent as well as child topics articles for the "chemistry" related articles.

[2020-07-13 08:41] mfilippo opened #58878 "IoT Edge Identity Translation scenario VS. IoT Edge Security Manager architecture"
Hello,

I'm aware of the fact there is a lack of documentation about how to implement the [Identity Translation scenario](https://docs.microsoft.com/en-us/azure/iot-edge/iot-edge-as-gateway) as pointed out [here](https://github.com/MicrosoftDocs/azure-docs/issues/18398) and [here](https://feedback.azure.com/forums/907045-azure-iot-edge/suggestions/32497981-code-sample-for-identity-translation-patt

[2020-07-13 08:44] new-kirte opened #58879 "Guidance no longer works - no SSO experience"
The guidance no longer works. After following the steps and clicking on Workplace by Facebook users are not redirected to company workspace. Instead they're facing very ugly "Page not found". All Facebook URLs also have changed to *.wokplace.com, so a good update is required.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-07-13 08:56] vipulsparsh commented on #58879
@new-kirte  Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@jeevansd Can you have a look ?

[2020-07-13 09:00] Membaer commented on #53222
@SaurabhSharma-MSFT  we released a documentation update for azure integration:
https://www.picturepark.com/help-cp/How_To__Integrate_Azure_Active_Directory_with_Picturepark.html

Shall we update the current doc and add a pull request?

Please keep in mind, that the old version should stay active. We are maintaining two products, one using SAML, one OpenID Connect. Thanks for an update.

[2020-07-13 09:19] tukan17 commented on #56384
Hello,
sorry for the late reply.
Its pretty simple. We deployed basic webapp (wordpress) plus other dummy app in k8s cluster. both services deployed via application gw with WAF enabled. OWASP 3.0 ruleset enabled.
Then we tried several mal-requests on GW and saw these rules in Log Analytics.
If you need more detail explain what you want to know, thanks.

[2020-07-13 09:22] VikasPullagura-MSFT commented on #58652
@rkorver Thanks for confirming that the issue is resolved.

[2020-07-13 09:22] #58652 closed

[2020-07-13 09:27] hugohhk commented on #58709
@SadiqhAhmed-MSFT
Any further feedback to my reply?

[2020-07-13 09:28] SubhashVasarapu-MSFT commented on #58458
@kewu-93 , Appreciate your patience. Yes, you need to allow incoming Azure Load Balancer probes (AzureLoadBalancer tag) and inbound virtual network traffic (VirtualNetwork tag) on the NSG. You can follow the gateway service manager service tag description for Azure loadbalacner tag while setting up the NSG.

We are closing this issue for now. If there are further questions regarding this matter, p

[2020-07-13 09:28] #58458 closed

[2020-07-13 09:29] ThijsLecomte opened #58882 "Zscaler still in preview?"
[Enter feedback here]
The connector page in docs doesn't say it's in preview anymore.
Is this article still up to date?
![image](https://user-images.githubusercontent.com/42153270/87288759-0f8e2d00-c4fc-11ea-8260-6c9e3ecb4ba7.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d70ada9-9280-4ca6-6a1f-cb11304bc3f3
* Ver

[2020-07-13 09:37] WhitWaldo opened #58883 "Additional code examples needed"
While this explains the basics, it'd be nice to see additional examples provided for the following
- Given an existing secret, how to add another version to it
- Check if the vault contains a named secret
- What happens if GetSecret cannot find the named secret? Does it throw an exception (what type) or does it simply return a null value?

---
#### Document Details

⚠ *Do not edit this section. It

[2020-07-13 09:38] LazarusRSKAJ opened #58884 "The example JSON for 'monitoringService = Log Analytics' is invalid"
The example JSON for 'monitoringService = Log Analytics' is invalid, it is missing a comma after the dataSources array

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e4d20cc-b693-ee2d-2694-832b455376a6
* Version Independent ID: 7b929793-dba5-8f94-e44f-7dace50ee018
* Content: [Alert schema definitions in Azure Monitor

[2020-07-13 09:59] zandercodes commented on #58484
Thank you, but here's what you need to remember.
The Microsoft documentation is really bad.

Microsoft GraphAPI Docs [Service Principal Update](https://docs.microsoft.com/de-de/graph/api/serviceprincipal?view=graph-rest-beta&tabs=http)

This is not true in this case, because you have to send the password when uploading the sign certificates.
The sign certificate must be exported as Pkcs12 with pas

[2020-07-13 10:09] BhargaviAnnadevara-MSFT commented on #58845
@DeanGross Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-07-13 10:10] SnehaAgrawal-MSFT commented on #58874
@kazshi Thank you for your query . We will investigate and update the thread.

[2020-07-13 10:11] VikasPullagura-MSFT commented on #58843
@Kenneth-Abrams The East US region has support for availability zones. Please check this [document](https://docs.microsoft.com/en-us/azure/availability-zones/az-region) for details on regions that support Availability Zones. The West US region does not have zones.

As this request on zones is not specific to AKS service, and this general ask related to datacenters.

I would request you to provide

[2020-07-13 10:11] #58843 closed

[2020-07-13 10:15] KrishnaG-MSFT commented on #58884
@LazarusRSKAJ Thanks for your comment! We will review and provide an update as appropriate.

[2020-07-13 10:20] garfbradaz opened #58886 "Can you use Time to Live?"
Can you test the _time to live_ functionality with the emulator?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 109ed3f8-faf1-92b9-bf50-4be52e9099d4
* Version Independent ID: ebc5326a-46da-6bc1-1f47-01a8e16d11fb
* Content: [Develop locally with the Azure Cosmos Emulator](https://docs.microsoft.com/en-gb/azure/cosmos-db

[2020-07-13 10:23] ram-msft commented on #58860
@BillmanH  Hope you have self resolved your issue. If not please add more details to check on this.

[2020-07-13 10:26] TheBigBear opened #58887 "centos 8 - python cannot be forced to be aliased to python2 - as python ver 2 is now EOL"
How can python 2 still be required?
Python 2 is EOL!

How do you get this to work on a Centos 8 that has python 3 as default?

You say: "The python2 executable must be aliased to "python" using the built-in alternatives system to set python to version 2 that is not longer allowed or legal because python 2 is now EOL. So that is no longer allowed as a new centos 8 install now needs to have python a

[2020-07-13 10:37] bpcastilho opened #58888 "List and get Users"
In the documentation for the section "User management Microsoft Graph operations" we have the links to List, Get and Create Users, but these go to the general MS Graph docs. Where we only have example related to B2C users on the list users - https://docs.microsoft.com/en-us/graph/api/user-list?view=graph-rest-1.0&tabs=http#example-3-find-a-user-account-using-a-sign-in-name

It might be interesting

[2020-07-13 10:49] vipulsparsh commented on #58888
@bpcastilho   Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@msmimart Can you have a look at this ?

[2020-07-13 10:52] CHEEKATLAPRADEEP-MSFT commented on #58869
@rizwan365  Thanks for the question! We are investigating and will update you shortly.

[2020-07-13 10:53] CHEEKATLAPRADEEP-MSFT commented on #58871
@avalcarlos  Thanks for the question! We are investigating and will update you shortly.

[2020-07-13 10:54] irriss opened #58889 "How to provision AAD from GSuite"
How to do it vice versa?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c64daae8-0d9c-5986-043f-e383d06827d9
* Version Independent ID: 65c4180b-3540-6de6-2b6e-833d1793fb65
* Content: [Tutorial: Configure G Suite for automatic user provisioning with Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-d

[2020-07-13 10:54] grzesiczek1 opened #58890 "Step missing in "Run SAP HANA Studio backup on a database with Azure Backup enabled" section"
Dear MS Team,

https://docs.microsoft.com/en-us/azure/backup/backup-azure-sap-hana-database guide for SAP HANA DB backup is missing a required step for catalog backup. Step required is "set catalog_backup_using_backint to False""

If this step is not added after backup is completed a "catalog backup XXXXXXXXXXXXX was not successful" error is generated and catalog was not backed up to Azure. Otherw

[2020-07-13 10:55] CHEEKATLAPRADEEP-MSFT commented on #58873
@kiazhi, Thanks for the question! We are investigating and will update you shortly.

[2020-07-13 10:55] AnuragSharma-MSFT commented on #58886
@garfbradaz Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-07-13 10:59] dcurwin commented on #58890
#reassign:msshradhabarpute

[2020-07-13 10:59] KrishnaG-MSFT commented on #58848
Hello @nikhilsk99, Thanks for bringing this up! So the concern is, you wanted to do a quick test here but the current process explained in the referred Azure document takes you to creating support request which is blocking you to get the work done quickly.

As you have stated, IMHO also I see the concern as a good idea / feature request to make the process here more agile. [This](https://feedback.

[2020-07-13 11:11] SwathiDhanwada-MSFT commented on #58887
@TheBigBear Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-07-13 11:24] amanmcse commented on #58704
@ifslearning Closing the thread now. Feel free to tag me in your reply if you have any question.

[2020-07-13 11:24] #58704 closed

[2020-07-13 11:28] arseyam opened #58892 "Incorrect Screenshot"
In step 5, For the HTTP setting, the screenshot shows HTTPS is selected which is against the purpose of this tutorial as HTTP should be selected instead.

Please correct the screenshot

Adding screenshot which needs to be changed

![image](https://user-images.githubusercontent.com/44426401/87320232-50ac2e80-c548-11ea-8689-8fcc180ae61b.png)

---
#### Document Details

⚠ *Do not edit this section. I

[2020-07-13 11:57] marqueewinq opened #58893 "JSON parameter's text case is not correct"
The sample response is not entirely correct: in the docs it's stated that the key would be `UserDetails`, but in fact the `userDetails` key is received.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1a60d4c-0a7a-4deb-9687-047e3041acfe
* Version Independent ID: 2e2137fa-b152-1220-8855-23e33fcfb966
* Content: [Lead man

[2020-07-13 11:58] ModernRonin opened #58894 "Doesn't seem to be the acr claim anymore that holds the policy used to get a token,."
At least with a token I got from b2c, the policy name is encoded in the `tfp` claim rather than the `acr` claim

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b05bb7df-98fc-1342-640d-02063f6d8a11
* Version Independent ID: f6ac357f-f846-83c5-f19f-91e1bc0954e3
* Content: [Overview of tokens - Azure Active Directory B2C](

[2020-07-13 12:08] AnuragSharma-MSFT commented on #58886
@garfbradaz There are couple of ways you can test TTL functionality with Emulator:

1. You need to set the TTL at the Container or Item level. Please refer to [Link](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-time-to-live?tabs=dotnetv2%2Cjavav4). I set it up at container level with 120 seconds as shown in below screenshot:

![image](https://user-images.githubusercontent.com/66360845/8

[2020-07-13 12:16] shashishailaj commented on #58340
@qiufasheng The details in the document pertain to two different things. And what you have mentioned is completely correct that the hacker could redirect your users to their dummy site if they can use the same App service resource name as mentioned in your DNS CNAME record. This is the reason the records in public DNS for any organization must be vetted time to time. This responsibility lies with

[2020-07-13 12:16] #58340 closed

[2020-07-13 12:17] vipulsparsh commented on #58894
@ModernRonin  Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-07-13 12:21] vipulsparsh commented on #58889
@irriss  Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-07-13 12:28] mizan93 opened #58895 "hd"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f78b0802-5c41-f1c9-d23c-99cf707308a8
* Version Independent ID: 4fe899bc-c79b-f7a7-7797-8089104e0d6f
* Content: [Tutorial: Create a custom search web page - Bing Custom Search - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive

[2020-07-13 12:30] str1ke-cw commented on #57689
@kgremban @mbialecka  Could you please give further information on this? My worry now is that _1.2-linux-arm64v8_ is the one and only preview version, you referred to before, and that is no plans for future versions for arm64v8. My hope is that a architecture supported as _preview_ will ultimately transistion into a fully supported architecture.

[2020-07-13 12:31] JohanKlijn opened #58896 "The property transcription.properties.DestinationContainerUrl is missing required query parameters."
I try to use the property DestinationContainerUrl  when creating a batch transcription. Without the property a transcription request is successfully made, nut when I set the DestinationContainerUrl I get the error:

`{"code":"InvalidRequest","details":null,"message":"The property transcription.properties.DestinationContainerUrl is missing required query parameters. OR The property transcription.pr

[2020-07-13 12:35] OwainWin opened #58897 "Access control context using Start from Log Analytics workspace information incorrect?"
In regard to the **Comparing access modes** section and _How can user access logs?_

It states for both the Workspace and Resource contexts that the logs can be access by
![image](https://user-images.githubusercontent.com/25898556/87304010-0907b180-c50c-11ea-8d0d-3cec66a25ddc.png)

This doesn't seem correct.
For a user to be able to access the Log Analytics Workspace from the Azure Portal explicit

[2020-07-13 12:37] BhargaviAnnadevara-MSFT commented on #58831
@kmrrakesh Any update here?

[2020-07-13 12:45] vipulsparsh commented on #58883
@WhitWaldo  Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2020-07-13 12:48] amanmcse commented on #58889
@irriss  As of now, inbound provisioning to Azure AD is supported only with Workday and SAP SuccessFactors. You can post feedback regarding this at https://feedback.azure.com.

[2020-07-13 12:48] #58889 closed

[2020-07-13 12:49] tchmiel opened #58898 "Enhance the custom docker base image"
The [Custom Base Image](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-custom-docker-image#build-a-custom-base-image) should be enhanced with the following:
1.  Run as a user and not as root as per [Docker best practices](https://docs.docker.com/develop/develop-images/dockerfile_best-practices/#user)
2.  Show an example of a "conda install" as this user.
3.  as well as inclu

[2020-07-13 13:00] nehaoberoi26 commented on #57948
@mike-urnun-msft  : mTLS would require apim Ip address, (that we don't have in consumption tier ), raised question https://docs.microsoft.com/en-us/answers/questions/46009/azure-apim-consumption-tier-with-dotnet-core-api-d.html

Thanks

[2020-07-13 13:15] krish-gh commented on #58876
@ModernRonin while creating the multi-tenant Application in B2C, you must have seen the below setting (by default checked) in the first screen.
![image](https://user-images.githubusercontent.com/2088089/87308119-5dc12180-c538-11ea-8fc8-f90d80b4cdbf.png)

If by any chance, you have marked that off during application creation, you can do this later by going to "API Permission" from application blade

[2020-07-13 13:19] shashishailaj commented on #58288
@win2000b . Moving the Key vault to another subscription associated with same tenant can be done from the portal itself. I think , it should have been described within the same article but its not as clarified and we sure can edit and ad the two use cases in this current article.

1. How to move Azure Key vault to another subscription within same tenant.
2. How to move Azure Key vault to another s

[2020-07-13 13:21] shashishailaj commented on #58288
@ShaneBala-keyvault Could you please review this request ?

[2020-07-13 13:49] divyamoorthyTR opened #58899 "Dynamic refresh of the App configuration (.Net core) depends on a App configuration key , is there a way there could be refresh of all the settings without having to specify a key dependency?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22237330-6826-5a33-80b9-73c9beb5417a
* Version Independent ID: 5aadf141-63c8-9f12-e010-939ef4b9958c
* Content: [Tutorial for using Azure App Configuration dynamic configuration in an Azure Functions app](https://docs.microsoft.com/en-us/azure/azure-ap

[2020-07-13 14:03] nerajput1607 commented on #58810
This seems like an issue in the rich-text editor, i would request to disable the rich text editor .

![image](https://user-images.githubusercontent.com/60152525/87313543-a6300d80-c53f-11ea-9707-b66bd1b321de.png)

[2020-07-13 14:09] SwathiDhanwada-MSFT commented on #58897
@OwainWin Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-07-13 14:15] GiftA-MSFT commented on #58898
@tchmiel we'll review your feedback and get back to you shortly. Thanks.

[2020-07-13 14:16] GiftA-MSFT commented on #58896
@JohanKlijn we'll review your feedback and get back to you shortly. Thanks.

[2020-07-13 14:17] GiftA-MSFT commented on #58895
@mizan93 thanks for reaching out. Your feedback seems to be missing some information. Can you please let us know how we can help? Thanks.

[2020-07-13 14:19] AshokPeddakotla-MSFT commented on #58770
@kiranpradeep Glad to hear that issue is resolved. For module errors, kindly check the syntax and make sure following the steps correctly. Yes, your understanding is correct. This channel is to cater the issues related with docs and enhancements. You may kindly create an issue on the same repo from where you are running the sample for better insights.
We will now proceed to close this thread. If t

[2020-07-13 14:19] #58770 closed

[2020-07-13 14:21] tfitzmac commented on #58830
@mslot - thanks for this feedback and question. We will be addressing these issues shortly but will hold off on updates to this article until then.

[2020-07-13 14:22] remideprez02 commented on #58543
Thank you for your answer. So, the steps are to move csp sub to EA sub, then move EA sub to the other tenant. Can you confirm the steps please ?

[2020-07-13 14:22] tfitzmac commented on #58830
#please-close

[2020-07-13 14:22] #58830 closed

[2020-07-13 14:25] fire-fly commented on #58760
@ryotokuro, @Sadiqh-Ahmed
I wanted to cancel the free Azure subscription.
[https://azure.microsoft.com/en-us/free/](url) is the url
Thanks

[2020-07-13 14:25] AshokPeddakotla-MSFT commented on #58878
@mfilippo Apologies for the inconvenience caused. I have assigned the issue to the content author @kgremban  to evaluate and update as appropriate.

[2020-07-13 14:25] SnehaAgrawal-MSFT commented on #58870
@jerbio Thanks for asking question! Could you please elaborate on what error you are receiving when trying to deploy django python web app, to help you better on this.

[2020-07-13 14:33] turnma opened #58900 "Admin experience - referenced menu items don't exist"
Documentation states in AAD overview page to go to "Other capabilities heading, select Tenant restrictions".  There's no link for "Other capabilities" on the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89ea5c2d-4602-25b8-3cdd-60cfb5c31895
* Version Independent ID: 35d4af7e-72e4-7c40-9dd6-b8490ee73f0d
* Content

[2020-07-13 14:35] AshokPeddakotla-MSFT commented on #58775
I have assigned the issue to the content author @robinsh  to evaluate and update the doc as appropriate.

[2020-07-13 14:38] prasannapkr opened #58901 "User program failed with ValueError: ZIP does not support timestamps before 1980"
Hi i'm running into an issue in Azure ML-

I'm getting the error "User program failed with ValueError: ZIP does not support timestamps before 1980"
when it calls the

when i run the following part of the code as a part of a pipeline

from azureml.train.estimator import Estimator

script_folder = os.getcwd()
print("script folder : ",script_folder)
est = Estimator(source_directory=script_folder,

[2020-07-13 14:39] SatishBoddu-MSFT commented on #58751
@DeepikaSadahiro The DTDL version2 Hyperlink is already added in the same section as shown in the below image.
Please confirm if this info is enough on doc side for 'Version2' link.

![image](https://user-images.githubusercontent.com/62923178/87317160-7cdd9600-c4db-11ea-87c4-4a26442e723a.png)

[2020-07-13 14:55] PatAltimore commented on #58191
@gs-repo Hi Gurinder,

I reviewed your script and log to try and find an issue. I didn't try and recreate your deployment. Here's my environment variables and output. I did it in the bash Azure Cloud shell in the portal.

Environment variables:

ORDERER_ORG_SUBSCRIPTION="<my subscription ID>"
ORDERER_ORG_RESOURCE_GROUP="patricka-hlf-orderer-rg"
ORDERER_ORG_NAME="paorder"
ORDERER_ADMIN_IDENTITY="ad

[2020-07-13 14:55] manikandantk88 commented on #57863
Many Thanks

[2020-07-13 14:56] turnma commented on #58900
It's now under Features Services, Tenant restrictions.

[2020-07-13 14:58] CHEEKATLAPRADEEP-MSFT commented on #58882
@ThijsLecomte  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-07-13 15:00] daweins opened #58902 "Please fix the "Build your own" bullet point"
Looks like we merged a header "Build your own BCAP" into the previous topic, leading to confusion:

DISA BCAP:
DISA has two operational BCAPs at the Pentagon and at Camp Roberts, CA. A third is planned to come online soon.
DISA’s BCAPs all have Azure ExpressRoute circuits to Azure, which can be used by DoD customers for connectivity.
DISA has an enterprise-level Microsoft peering session for DoD c

[2020-07-13 15:01] CHEEKATLAPRADEEP-MSFT commented on #58890
@grzesiczek1 Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-07-13 15:06] djpmsft commented on #58868
Hey @majorvin,

Once a pipeline starts it will always run using the configuration at start time. Because of this behavior, ADF doesn't require anything like a 'maintenance window'. So if you update a pipeline mid-run, the running pipeline will not be affected but all new pipelines will use the new configuration.

Hope this clears things up. Going to close this issue, but feel free to keep comentin

[2020-07-13 15:06] CHEEKATLAPRADEEP-MSFT commented on #58892
@arseyam  Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

[2020-07-13 15:06] #58868 closed

[2020-07-13 15:08] djpmsft commented on #57616
I have opened a documentation work item on this. As its currently being tracked internally, I am going to go ahead and close this issue.

#please-close

[2020-07-13 15:08] #57616 closed

[2020-07-13 15:09] OwainWin opened #58903 "SQL Analytics custom role not giving the required access"
I have a successfully installed and enabled SQL Analytics solution in a Log Analytics Workspace, I have confirmed access to it with a Subscription Contributor account.

I want to give access to an SQL admin test account to view the SQL Analytics soultion, this test user is in an Azure AD group that has the following Azure RBAC roles assigned at the subscription level:
 - SQL DB Contributor
 - SQL

[2020-07-13 15:14] michaelburch opened #58904 "Does SQL Managed Instance use multiple Availability Zones?"
The note under "Zone Redundant Configuration" states "This feature is not available in SQL Managed Instance."

The conclusion paragraph of this same document states

"Azure SQL Database and Azure SQL Managed Instance feature a built-in high availability solution, that is deeply integrated with the Azure platform. It is dependent on Service Fabric for failure detection and recovery, on Azure Blob s

[2020-07-13 15:18] MGoedtel commented on #51379
@jmorey4158 - Following-up on your feedback, we aren't able to repro your issue (i.e. MOF file not compiling when imported into the Automation svc).  You mentioned that you had a workaround you were going to test, curious of the result of that test?
Thanks.

[2020-07-13 15:23] shashishailaj commented on #58774
@SAIMMINHAS The error "**We have detected that your current user account is external to this tenant ....** "explains the same thing what I had suggested . Please try to follow the steps below once.

- Please go to Azure Active directory > users and create a new user in the format <adminuser>@ittechlinkltd2.onmicrosoft.com .
- Assign the global admin role to that user.
- Now Logon with that newly c

[2020-07-13 15:24] Gaz2600 opened #58906 "Contact Adobe Creative Cloud Client support team"
Regarding the step 4 note

I have contacted the Adobe Creative Cloud Client Support Team and their response is "Unfortunately, there is no process of Identifier token to be issued by us. Please reach out to Microsoft if they can help you with this."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7423f45d-4444-ff05-3893

[2020-07-13 15:24] shashishailaj commented on #58708
@amitbapat Could you please help review the above and see how best the suggested information can be incorporated in the current document ?

[2020-07-13 15:25] MonikaReddy-MSFT commented on #58893
@marqueewinq - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-13 15:27] MonikaReddy-MSFT commented on #58893
@marqueewinq - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-13 15:27] #58893 closed

[2020-07-13 15:28] MonikaReddy-MSFT commented on #58899
@divyamoorthyTR - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-13 15:29] DeepikaSadahiro commented on #58751
Confirmed.

From: SatishBoddu <notifications@github.com>
Sent: Monday, July 13, 2020 7:39 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Deepika Sadahiro <deesa@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] ADTv2: Add link to DTDL v2 spec in concept article (#58751)

@DeepikaSadahiro<https://nam06.safelinks.protection.outlook.com/

[2020-07-13 15:32] MonikaReddy-MSFT commented on #58900
@turnma - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-13 15:39] MonikaReddy-MSFT commented on #58740
@nsaiisasidhar - Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2020-07-13 15:39] #58740 closed

[2020-07-13 15:42] gmndrg opened #58908 "Clarify RBAC is only available for Event Grid topic subscription operations"
The documentation is a bit confusing and it would be good to clarify that RBAC is not supported for other than subscription operations in other than the paragraph below. It is in a place where already reading authentication and the rest of authorization documents is not quite clear. Thank you!

Built-in roles
Event Grid provides two built-in roles for managing event subscriptions. They're importan

[2020-07-13 15:55] Mike-Ubezzi-MSFT commented on #58851
@Tankzor We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-13 15:55] #58851 closed

[2020-07-13 15:59] amitbapat commented on #58708
The error that customer is reporting has nothing to do with Key Vault. It's not even the key vault command. Please redirect this to ARM team.

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: ShashiShailaj-MSFT <notifications@github.com>
Sent: Monday, July 13, 2020 8:25 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Amit Bapat <amit.bapat@mic

[2020-07-13 16:00] kenwith commented on #58900
@turnma - thank you for taking the time to let us know about the UI discrepancy. I know it takes time to open an issue and I very much appreciate it. I found the UI changed and Tenant Restrictions is now under a different section. I will get this article updated right now. Screenshot below on where I found it and thanks again!

![image](https://user-images.githubusercontent.com/27743960/87326265-5

[2020-07-13 16:05] SatishBoddu-MSFT commented on #58751
@DeepikaSadahiro Thanks for the confirmation!
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-13 16:06] kenwith commented on #58900
#please-close

[2020-07-13 16:06] #58900 closed

[2020-07-13 16:06] ynorvo opened #58910 "Avoid the confusion for the metadata file of Alibaba Cloud Service"
Hi Microsoft,
We just found there were two metadata files from the service provider: Alibaba Cloud.
1. [https://signin.alibabacloud.com/saml-role/sp-metadata.xml](url) for Alibaba Cloud International Site as the Tutorial mentioned in the note of step #4 in "Configure Azure AD SSO" section.

2. However, there is another one for Alibaba CN Site, which is [https://signin.aliyun.com/saml-role/sp-metad

[2020-07-13 16:08] MikePennington commented on #58908
Or, specifically, that one cannot use RBAC to publish to an event grid topic. After reading through the docs I thought that I could use the "EventGrid EventSubscription Contributor" to publish messages to an event grid topic and "EventGrid EventSubscription Reader" to read off an event grid subscription. But that does not seem to be the case.

[2020-07-13 16:11] MonikaReddy-MSFT commented on #58725
@anlucen -
Its mentioned in the doc that it could be either Azure AD joined or Hybrid AD Joined. Please look at the below screenshot.

![image](https://user-images.githubusercontent.com/47833949/87327251-d658bb80-c501-11ea-9164-d9a7e39e177a.png)

I hope this clarifies your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are furthe

[2020-07-13 16:11] #58725 closed

[2020-07-13 16:12] krish-gh commented on #58894
@ModernRonin , this is expected. As already documented [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/tokens-overview#claims),

Name | Claim | Example value | Description
-- | -- | -- | --
Authentication context class reference | acr | Not applicable | Used only with older policies.
Trust framework policy | tfp | b2c_1_signupsignin1 | The name of the policy that was used to acq

[2020-07-13 16:16] NunoBem commented on #47611
@RyanHill-MSFT I tried following the guide: https://github.com/azure-ad-b2c/samples/tree/master/policies/sign-in-with-apple
and then compare with the doc you sent to make adjustments. But I'm unable to make this work. I implemented the Azure Functions in the sample, has I don't use App Service, but that seems to be the case for the doc you sent.
Can't the sample be updated? Will Sign in with Apple

[2020-07-13 16:19] MashaMSFT commented on #56834
Hi @jusnitlive, thanks for contacting Microsoft! Would you mind providing repro steps, and perhaps a screenshot of the behavior your experiencing? My research shows that there should not be a difference so if there is we'll need to investigate further.

Thanks!
Masha from the SQL Docs team

[2020-07-13 16:19] AdelaManea opened #58911 "Supported performance tiers by storage accounts"
Hi,

I notice in this table you explain that the Premium Performance tier is only supported with a BlockBlob Storage account.
![image](https://user-images.githubusercontent.com/67159737/87328075-a0392d00-c53d-11ea-8d38-851e3da2d329.png)

However if you go on the link for storage account types present in this table, you can see that there are more account types that support the Premium performance

[2020-07-13 16:24] #58751 closed

[2020-07-13 16:24] mrbullwinkle commented on #58713
I have reached out to the engineering team that owns this feature within Application Insights. I will reply back once I get confirmation if the statement in the doc is still accurate, and will update the doc accordingly if any changes are needed.

[2020-07-13 16:25] eduardobaitello commented on #51103
I'm [trying to use](https://serverfault.com/q/1025060/405239) the OpenLogic repository but seems like it is down...

Can anyone confirm that the mirror os down or it's moved/disabled?

[2020-07-13 16:28] NavtejSaini-MSFT commented on #58031
@jschrap Do you need any further help regarding this?

[2020-07-13 16:30] pmahmoudzadeh opened #58912 "Can shiny app run on Azure Databricks?"
It is not clear on documentation whether you can run a shiny app in azure databricks? I know we can develop shiny app on azure databrick, but it's not clear where to host or publish our apps after development? Do we need a separate server to host the shiny apps?

https://docs.microsoft.com/en-us/azure/databricks/spark/latest/sparkr/shiny

---
#### Document Details

⚠ *Do not edit this section. It

[2020-07-13 16:34] DerekHerman-MSFT commented on #58911
@AdelaManea Thanks so much for providing your feedback. Premium performance on this page is referring to block blob storage performance only. You can also see this under reference number 5 on the Storage account overview page:
"5 Premium performance for general-purpose v2 and general-purpose v1 accounts is available for disk and page blob only. Premium performance for block or append blobs are onl

[2020-07-13 16:39] mrbullwinkle commented on #58833
@ydbendasan thank you for calling this out. We have updates to this doc planned for this month's sprint. I'll add in a section to help address your concerns to hopefully make this a little easier in the future.

[2020-07-13 16:40] Mike-Ubezzi-MSFT commented on #58532
@sayanghosh123 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-13 16:40] #58532 closed

[2020-07-13 16:42] SaurabhSharma-MSFT commented on #58543
@remideprez02 Yes, first both subscriptions needs to be on the same tenant for transfer and later you can move your subscription to another tenant.

[2020-07-13 16:42] MartinJaffer-MSFT commented on #58596
@ticars I think the first option is better.  The reason is the case when you have two feature branches you want to merge into collaboration branch and then publish together.  If you used the second option, you would end up doing two publishes, one for each feature branch.

Doing two publishes does have the advantage of  testing the first one before adding the second layer, but since you have many

[2020-07-13 16:42] #58596 closed

[2020-07-13 16:46] karolz-ms opened #58913 "Need to update ACI YAML reference to account for recent API changes"
I was looking for information on how to use init containers via ACI YAML, but the information is not there.

According to [ARM docs](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-init-container) init containers require API 2019-12-01 or newer. The YAML reference should be updated to reflect the new API.

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-07-13 16:56] palma21 commented on #40258
Cc @keikhara

[2020-07-13 16:56] palma21 commented on #32528
Cc @keikhara

[2020-07-13 16:58] #37918 closed

[2020-07-13 16:59] ShaneBala-keyvault commented on #55381
@ezYakaEagle442 Thank you for your feedback and contribution, I added those CLI commands to the tutorial. The changes are being merged and should be publicly visible within 48-72 hrs.

[2020-07-13 16:59] ShaneBala-keyvault commented on #55381
#please-close

[2020-07-13 16:59] #55381 closed

[2020-07-13 17:01] Karishma-Tiwari-MSFT commented on #58913
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-13 17:02] tchristiani commented on #54764
Issue has been moved to email communication.
#please-close

[2020-07-13 17:02] mrbullwinkle commented on #58655
We have updated the doc to only reflect the currently active Live Metrics Endpoints. This change is merged internally and will go-live later today. Thanks for reporting this to us!

[2020-07-13 17:02] #54764 closed

[2020-07-13 17:02] asudbring commented on #58869
Hi @rizwan365!
The VM with public IP is there for demonstration purposes so that you can easily remote to the VM and test the NAT.  The public IP address would not be required for a production install.  Once the Nat gateway is enabled on the subnet, all traffic from the VMs in that subnet will automatically route out the Nat.

Thanks!

#please-close

[2020-07-13 17:02] mrbullwinkle commented on #58655
#please-close

[2020-07-13 17:02] #58869 closed

[2020-07-13 17:02] #58655 closed

[2020-07-13 17:03] MartinJaffer-MSFT commented on #58731
@linda33wj could you please provide guidance on preferred display of these items?
I.E. should it be in a colored warning, or re-written into a single Prerequisites section?

[2020-07-13 17:05] damart23 opened #58914 "Clarification on whether UDR to specific subnets is supported or not for AppGWv2:"
The AppGWv2 documentation says that it can support UDRs in 3 scenarios:

Scenario 1: UDR to disable Border Gateway Protocol (BGP) Route Propagation to the Application Gateway subnet

Scenario 2: UDR to direct 0.0.0.0/0 to the Internet

Scenario 3: UDR for Azure Kubernetes Service with kubenet

And one unsupported Scenario:

Scenario 1: UDR for Virtual Appliances

Any scenario where 0.0.0.0/0 needs

[2020-07-13 17:08] damart23 commented on #58914
I think an update in the documentation is necessary.

[2020-07-13 17:10] mmacy commented on #58300
#reassign:knicholasa

[2020-07-13 17:20] successhawk commented on #58517
I disagree.  I think it would be helpful for the documentation to state the minimum permissions necessary to run a debug session,  even if that requires a custom role.  Giving someone built in Contributor or even Data Factory Contributor, gives too much access.
I believe this is what is needed, but this documentation should confirm this:
![image](https://user-images.githubusercontent.com/3745327/8

[2020-07-13 17:28] anuragdalmia commented on #52075
@dhirajgandhi who is going to look a this.

[2020-07-13 17:29] asudbring commented on #58873
Hi @kiazhi!
That is an example and you can have the command generate the app ID by default be omitting the -ApplicationID switch.  Will update the doc with proper command and screenshot.
https://docs.microsoft.com/en-us/powershell/module/az.resources/new-azadserviceprincipal?view=azps-4.3.0
![image](https://user-images.githubusercontent.com/26909696/87334417-75c28200-c4f3-11ea-96e5-de447c4319d9.pn

[2020-07-13 17:31] YutongTie-MSFT commented on #58580
@ojmendezz I have fixed the document and it should be alive shortly. Thanks.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-07-13 17:31] #58580 closed

[2020-07-13 17:33] YutongTie-MSFT commented on #58642
@crevulus
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-07-13 17:33] #58642 closed

[2020-07-13 17:35] djpmsft commented on #58517
If you want to know the various available permissions, refer to: https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations#microsoftdatafactory

[2020-07-13 17:38] YutongTie-MSFT commented on #58912
@pmahmoudzadeh
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-13 17:41] palaughton commented on #51103
+1 on this -- thank you for validating that it wasn't just me, Eduardo!

[2020-07-13 17:42] ChaitanyaNaykodi-MSFT commented on #58908
@MikePennington, Thank you for your feedback! We will review and update as appropriate.

[2020-07-13 17:42] arduppal commented on #57689
@str1ke-cw:- Thank you for your feedback, will add it in our backlog items and will to do it when we get to it.
Currently there are no plans on future versions or any update on the current versions of this module. But will check with @ebertrams if there is strong business justification for us to go GA with arm64

[2020-07-13 17:44] PramodValavala-MSFT commented on #58506
@VidyaKukke We have worked up a PR to address this, which once merged should reflect in a couple of hours. Thanks again for catching this!

[2020-07-13 17:44] #58506 closed

[2020-07-13 17:45] PramodValavala-MSFT commented on #58573
@pekspro Looks like the **500MB** is for the default temp storage

![image](https://user-images.githubusercontent.com/43602528/87335570-282f2f00-c55e-11ea-8298-c4e94d134d8d.png)

while the Azure Files mount is under `/d/home`

![image](https://user-images.githubusercontent.com/43602528/87335515-13eb3200-c55e-11ea-933f-de77ab62530d.png)

[2020-07-13 17:46] NavtejSaini-MSFT commented on #58904
@michaelburch  We are checking this and will get back to you.

[2020-07-13 17:51] YutongTie-MSFT commented on #58914
@damart23 Hi, thanks for reaching out to us. Could you please share the document link you are referring for this case? Thanks.

[2020-07-13 17:53] dhirajgandhi commented on #52075
I have updated the documentation - https://github.com/MicrosoftDocs/azure-docs-pr/pull/122154

[2020-07-13 17:55] successhawk commented on #58517
Thanks. That is a great reference page for all Data Factory permissions, that I am already familiar with.  Should I assume that every DataFactory action that mentions "debug" should be given.  I think these assumptions could easily be cleared up on the Debug page associated with this issue by someone who knows the product, instead of me guessing and struggling through a trial by error approach.  M

[2020-07-13 17:55] knicholasa commented on #58300
#please-close

[2020-07-13 17:55] #58300 closed

[2020-07-13 17:56] knicholasa commented on #58300
Reviewed the linked PR, the correct link is now in the doc

[2020-07-13 17:56] #58857 closed

[2020-07-13 17:56] damart23 commented on #58914
https://docs.microsoft.com/en-us/azure/application-gateway/configuration-overview#user-defined-routes-supported-on-the-application-gateway-subnet

[2020-07-13 17:56] zr-msft commented on #58857
thank you for the feedback @SychevIgor

I have updated the article based on your comment and the changes should be live soon.

[2020-07-13 17:57] cynthn commented on #52491
#please-close

[2020-07-13 17:57] #52491 closed

[2020-07-13 18:02] bandersmsft commented on #52075
@the-blesss Hi Matt, the Billing team updated the article per your feedback with https://github.com/MicrosoftDocs/azure-docs-pr/pull/122154.
#please-close

[2020-07-13 18:03] #52075 closed

[2020-07-13 18:03] djpmsft commented on #58517
Are you talking about pipeline debug or data flow debug? They are different concepts. What do you wish for your users to be able to do?

[2020-07-13 18:03] MarileeTurscak-MSFT commented on #58910
@jeevansd
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-13 18:06] MarileeTurscak-MSFT commented on #58906
@Gaz2600
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-13 18:10] kosinsky commented on #58858
I ran MLService creation 10 times only 1 succeeded. 10% success rate isn't very good for still supported scenario.

[2020-07-13 18:10] laurenhughes commented on #57847
Thanks @squasta, the update is in the linked PR and should be live later today.

[2020-07-13 18:10] YutongTie-MSFT commented on #58307
@PatrickFarley Hi Patrick, do you have any update for this? Thanks.

[2020-07-13 18:11] YutongTie-MSFT commented on #57993
@erhopf Hi Eric, do you have any update for this case? Thanks.

[2020-07-13 18:12] MonikaReddy-MSFT commented on #58813
@agrabhi - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-13 18:12] #58813 closed

[2020-07-13 18:17] MonikaReddy-MSFT commented on #58864
@QuetzalcoatlRosso - Thanks again for bringing this to our attention.
We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-13 18:17] #58864 closed

[2020-07-13 18:25] YutongTie-MSFT commented on #58799
@mengtingw Hi Mengting, I will highly suggest you posting your question to Q&A forum - https://docs.microsoft.com/en-us/answers/index.html Thanks very much.

[2020-07-13 18:27] PatrickFarley commented on #58307
Our SDK reference docs appear to be offline right now. I'm looking into this issue with the product team

[2020-07-13 18:35] dtblodgett opened #58917 "Box prerequisites"
This documentation is great, but there seems to be something missing from the prerequisite section. It is obviously a Box issue and I went to them first, but they were less than helpful. I'm hoping someone here might have insight into this issue and can update the prerequisites accordingly.

In the "Enable Automated User Provisioning" section after logging in at Step 6, I get an error that states

[2020-07-13 18:39] MonikaReddy-MSFT commented on #58862
@JarroVGIT - Thanks again for bringing this to our attention.
We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-13 18:39] #58862 closed

[2020-07-13 18:40] tamram commented on #58824
#reassign: @tamram

[2020-07-13 18:43] #35607 closed

[2020-07-13 18:45] zr-msft commented on #35607
thank you @dave-read for the feedback!

I've updated the article to incorporate your feedback and the changes should be available soon.

[2020-07-13 18:45] tamram commented on #58824
@JeffSmalley - This article is specifically about assigning RBAC roles for accessing blob and queue data, as stated in the title. Management roles are covered elsewhere in the Azure docs.

Please see these sentences in the article for links to resources about assigning management roles:

Only roles explicitly defined for data access permit a security principal to access blob or queue data. _Built-

[2020-07-13 18:48] rjygraham opened #58918 "ARM template function listchannelwithkeys is missing from the list* section"
The ARM template function listchannelwithkeys is missing from the list* section. This function is required to get the keys of bot service channels in order to integrate in web pages, apps, etc.

The table should be updated to reflect this function as follows:

Resource type | Function name
--- | ---
Microsoft.BotService/botServices/channels | listchannelwithkeys

---
#### Document Details

⚠ *Do n

[2020-07-13 18:49] PatrickFarley commented on #57830
I've reached out to the product team to learn the rules for MDY date parsing.

[2020-07-13 18:56] GiftA-MSFT commented on #58898
@jpe316 please review above feedback for doc enhancement. Thanks.

[2020-07-13 18:56] femsulu commented on #57426
@vikramdesai01 , @ShilpiGautam  - any insights please?

[2020-07-13 18:56] manish1347 opened #58919 "Subnet IP allocation order."
[Enter feedback here]

What is the IP allocation order in Application gateway subnet.
eg: I have 1 AG in my subnet, I want to configure it with private frondend. What will be the first private IP available for frontend?
As per the doc, 1st 4 will be used for internal, so the next IP should be available for me?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-07-13 18:58] msmimart commented on #52943
#please-close

[2020-07-13 18:58] #52943 closed

[2020-07-13 18:59] successhawk commented on #58517
I think the answer is Pipeline debug.  I don't know about data flow debug, but maybe.  Keeping it to the scope of this issue.  I want them to be able to at least perform anything mentioned on this page:[ Iterative development and debugging in Azure Data Factory - Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/iterative-development-debugging)

[2020-07-13 18:59] normesta commented on #58079
Hi @crisansou, The docs are now updated with notes about how to obtain the root directory (to set ACLs). For Python, you'd call the FileSystemClient._get_root_directory_client method. Thanks for helping us clarify the content!

[2020-07-13 19:00] normesta commented on #58079
#please-close

[2020-07-13 19:00] #58079 closed

[2020-07-13 19:02] jonwbstr commented on #51103
According to someone responding in that forum, these instructions are out
of date and we shouldn't need to update repro list in a fresh install. I
haven't tried a fresh install in some time. Is that true?

On Mon, Jul 13, 2020, 1:41 PM palaughton <notifications@github.com> wrote:

[2020-07-13 19:03] zr-msft commented on #58727
Thank you for the feedback @blessedwithsins

This limitation is called out in the article around using multiple node pools:
* https://docs.microsoft.com/en-us/azure/aks/use-multiple-node-pools#limitations
* https://docs.microsoft.com/en-us/azure/aks/use-multiple-node-pools#create-an-aks-cluster

[2020-07-13 19:03] zr-msft commented on #58727
#please-close

[2020-07-13 19:03] #58727 closed

[2020-07-13 19:07] StephenWeatherford commented on #58918
Thanks!  Right now we don't have a good way of getting info on the available list* functions directly.  Can you point me to a sample REST return value or its shape?  Thx.

[2020-07-13 19:18] palaughton commented on #51103
The concern there is that there were _some_ packages that were previously only available in the OpenLogic repo (on olcentgbl.trafficmanager.net ), but it looks like the requisite package (WALinuxAgent, and its updated dependency python3-pyasn1) is now available in the upstream "AppStream" repository -- so it appears that there may no longer be any hard dependencies on the site that's presently dow

[2020-07-13 19:36] SaurabhSharma-MSFT commented on #53222
@jeevansd Can you please help here.

[2020-07-13 19:42] jusnitlive commented on #56834
Repro steps would be to create a Sql Server Virtual Machine in the portal.
And create one with the same number of data and log disks using this template: https://github.com/Azure/azure-quickstart-templates/tree/master/101-sql-vm-new-storage

When you try to extend the volumes of the Sql Server Virtual Machine created via ARM template in the Azure portal you will see this:
![not_extendable](https:/

[2020-07-13 19:45] duwood opened #58920 "Clarification on consent classification and allowable apps"
In the User consent setting section, bullet #2 mentions "All users can only consent to apps that were published by a verified publisher and apps that are registered in your tenant" which seems to indicate that apps registered under Azure Active Directory 'App registrations' should allow consent if the permissions needed by those applications fall within the list of permissions classified as "low i

[2020-07-13 19:47] anbene commented on #58230
@cj13579 thanks for the follow up. I investigate with the team.
The format of test lead fields varies depending on the lead destination. The sample in the documentation is meant to be indicative of the data sent in the lead, not of the format (which is different for each lead destination). We will clarify this in our documentation.

[2020-07-13 19:48] zr-msft commented on #53708
Thank you @benc-uk for the feedback!

The following section has the updated information:
https://docs.microsoft.com/azure/aks/faq#is-azure-key-vault-integrated-with-aks

#please-close

[2020-07-13 19:48] #53708 closed

[2020-07-13 19:53] jonels-msft commented on #52084
@screig we updated the [dblink and postgres_fdw](https://docs.microsoft.com/azure/postgresql/concepts-hyperscale-extensions#dblink-and-postgres_fdw) section. Do these changes make it clearer?

[2020-07-13 19:55] MicrosoftGuyJFlo commented on #58812
Waiting on response from the PG

[2020-07-13 19:55] jimlane opened #58921 "ACR Push Error"
I received "unauthorized" errors during the build and push steps of this walkthrough. The instructions indicated that an az docker login should be performed. I had to perform az acr login before my modules would successfully push

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4cdb69f-46f8-26c2-0518-b3816ed287ec
* Vers

[2020-07-13 19:57] femsulu commented on #58902
@daweins Thanks for the Comment. We are actively investigating and will get back to you soon.

[2020-07-13 20:00] femsulu commented on #58903
Hi @OwainWin, Thanks for the Comment. We are actively investigating and will get back to you soon.

[2020-07-13 20:01] RyanHill-MSFT commented on #58866
Hi @gregdegruy assuming you've [pushed](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-get-started-portal#push-image-to-registry) your image to [your](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-get-started-portal#create-a-container-registry) ACR, you would just use *_youracr.azurecr.io/image:label_*

[2020-07-13 20:02] jeevansd commented on #58844
@v-nagta and @chetansriv Can we please test the application again and update the documentation here?

[2020-07-13 20:03] #58911 closed

[2020-07-13 20:07] femsulu commented on #58918
@rjygraham Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-07-13 20:09] Nepomuceno opened #58922 "Storage"
Storage does not accept enabling monitoring anymore
so the
Microsoft.Storage/storageAccounts/*
do not work anymore

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32bfe423-574d-4a5a-113c-47ccfaf1cd27
* Version Independent ID: 2b732976-7092-7707-3c57-e31dddd2ea73
* Content: [Azure Monitor Resource Logs supported services

[2020-07-13 20:11] cuwaters opened #58923 "Incorrect argument name for handling metadata"
under "Handle Differences in Object Metadata", the documentation says to provide a value for `s2s-invalid-metadata-handle`, but in azcopy v10 (and maybe earlier?), the actual parameter name is `s2s-handle-invalid-metadata` (the 'handle' bit is moved around).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7440c0c4-3fd0-

[2020-07-13 20:19] JeffSmalley commented on #58824
I think you are missing my thought.  I am talking about the absence of the Management Group scope in the article.  It mentions the Storage Account itself, the Resource Group, and the Subscription as possible scopes. If you are mentioning that, you should be complete and add the Management Group scope as well.

Cheers,
Jeff

On Jul 13, 2020, at 1:45 PM, PRMerger17 <notifications@github.com> wrote:

[2020-07-13 20:23] RyanHill-MSFT commented on #58866
Hi @gregdegruy, assuming you've created your container registry, you would simply point the image to your container registry as follows `image:<youracr>.azurecr.io/image:label`

[2020-07-13 20:27] MonikaReddy-MSFT commented on #58803
@LarryOsterman - I hope you have received an email from Matthew Baldwin and you can send an email directly to them for staged attestation articles.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-13 20:27] #58803 closed

[2020-07-13 20:28] #57847 closed

[2020-07-13 20:31] tamram commented on #58824
@JeffSmalley - I am not sure what "management group scope" refers to. There are four scopes that support RBAC role assignment for data access in storage:

- subscription
- resource group
- storage account
- container/queue

[2020-07-13 20:35] MonikaReddy-MSFT commented on #58917
@dtblodgett - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-13 20:43] jcpayne commented on #18771
I just set up a new DSVM (an NC24r; in mid-July 2020) and it comes with azcopy v7.2.  I--and most users of a DSVM-- will want to install azcopy 10, so getting rid of version 7 is not just an academic exercise.  It would be nice if software update process was a little more standard so the user didn't have to worry about it.

[2020-07-13 20:47] MonikaReddy-MSFT commented on #58827
@akulnev - That is expected behavior. Unlocking will only satisfy the first factor but not the second one. I hope this information helps.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-13 20:47] #58827 closed

[2020-07-13 20:48] bandersmsft commented on #57320
@kichiu Hi there. Sorry this article was inaccurate about downloading the PBIX file. As SwathiDhanawada-MSFT said, Power BI apps don't support downloading the PBIX file directly. I've updated the article to say as much with https://github.com/MicrosoftDocs/azure-docs-pr/pull/122185. We're working on putting the file on GitHub, but there's no clear timeline when the work will be completed.

Thanks

[2020-07-13 20:48] #57320 closed

[2020-07-13 20:49] PeterCLu commented on #37335
#please-close

[2020-07-13 20:49] #37335 closed

[2020-07-13 20:50] krispenner commented on #58350
In case anyone else experiences this issue.

This was a bug found with Linux App Services using VNet integration and managed identities (MSI). The ASPNETCORE_URLS environment variable was being overwritten by Azure and it should not have been. A fix has already been completed and deployment is pending at this time.

[2020-07-13 20:52] jeevansd commented on #58917
@v-nagta and @chetansriv can you please add a note to this article which calls out saying that "Apps need to be enabled in the Box application first" Otherwise the step 6 is not going to work here.

[2020-07-13 20:57] asudbring commented on #58795
Sending to PM for review

#reassign:@anavinahar

[2020-07-13 20:57] Karishma-Tiwari-MSFT commented on #58802
@DCtheGeek Do you know if Windows Server 2019 is supported? This doc says:

[2020-07-13 20:59] asudbring commented on #58798
Sending to PM for review

#reassign:@anavinahar

[2020-07-13 20:59] MartinJaffer-MSFT commented on #58733
There is no easy way to do that.  There are two possibilities.

What you probably are trying to do, is make the keyvault url in the request, match the kevault of the environment you are deployed to ( dev / test / prod).  If this is the case, the ARM template could be edited so that both the request and the linked service definitions use the same ARM template parameter.  This way, the correct URL i

[2020-07-13 21:06] DCtheGeek commented on #58802
That's a question better for @erikadoyle :)

[2020-07-13 21:08] DerekHerman-MSFT commented on #58861
@mifurm More information about DefaultAzureCredential() is linked in the document [Authorize access to blobs and queues with Azure Active Directory and managed identities for Azure Resources.](https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-msi?toc=/azure/storage/blobs/toc.json#authenticate-with-the-azure-identity-library)

I think it would be helpful to possibly link to the

[2020-07-13 21:13] JPBres opened #58927 "Metadata Json filename formating"
This document says this => The name of the metadata JSON file has the following format: <source_file_name>_manifest.json (for example, BigBuckBunny_manifest.json).

I found that that is not completly true. My source file name is a GUID (ex: 5e1e89ec-f56c-411e-afcb-bfabaf0b6d38.mp4)
but the manifest file only takes the first 32 chars and not the full name of 36 chars. => https://.../5e1e89ec-f56c-4

[2020-07-13 21:14] OmegaMadLab opened #58928 "Please describe how to handle the VNN clustered IP address"
DNNs are a great addition, but it's not clear to me how to handle the clustered IP address initially assigned to the VNN, once I renamed it.
We're supposed not to have the load balancer, so we can't make Azure aware of its presence in the traditional way. Having a clustered IP defined only at Guest OS level may lead to IP conflicts, as in the first days of clustering in Azure.

Is it feasible to d

[2020-07-13 21:14] olavt opened #58929 "Github page requires logon?"
"Go to Azure IoT explorer releases and expand the list of assets for the most recent release. Download and install the most recent version of the application."

The above links to Github page which requires authentication to access.

Is this really indented?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd479a85-8c5e-

[2020-07-13 21:23] cijothomas commented on #57716
+1, +1 on behalf of two other customers who reported this.

[2020-07-13 21:25] asudbring commented on #58795
#reassign:@erichrt

[2020-07-13 21:31] AjayKumar-MSFT commented on #58535
You could try the following steps:

1.	Setup Azure Front Door with a custom domain: https://docs.microsoft.com/azure/frontdoor/front-door-custom-domain
2.	In your Azure Front Door backend, make the “Backend host header” empty. This will propagate your custom domain as the HOST header, which is what EasyAuth uses to redirect.
3.	Add https://<custom-domain>/.auth/login/aad/callback to your list of R

[2020-07-13 21:31] #58535 closed

[2020-07-13 21:40] tishi2000 opened #58930 "The compatible sdk versions should be less than 4.1 (not 4.0) for cluster version 7.1.*, right?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59cb9800-4bbe-ef99-3217-56434dd4bc6c
* Version Independent ID: eb11a4ad-0b29-237e-2a4a-a0e77361e5b5
* Content: [Supported cluster versions in Azure Service Fabric - Azure Service Fabric](https://docs.microsoft.com/en-us/azure/service-fabric/service-fa

[2020-07-13 21:44] apeguy opened #58931 "the Hardware Token related paragraph is located in software token section"
[Enter feedback here]
![image](https://user-images.githubusercontent.com/60859613/87356701-5ccbc800-c517-11ea-98f8-9ce2c94e54e8.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8f14188-98ec-5c94-f408-162ee1baa076
* Version Independent ID: 41ed4874-e1e6-56d3-4de4-39c024d1e06c
* Content: [Authentication methods and f

[2020-07-13 21:44] JeffSmalley commented on #58824
Though I have not tried to see if it works, you can assign identities to Storage related roles on Management Groups. Attached is a png picture from the Azure portal.

In terms of general Azure resource scope hierarchies for RBAC, it goes:

--Management Groups

    --Subscriptions

      --Resource Groups

        ---Resources (i.e. Storage Accounts)

Source: https://docs.microsoft.com/en-us/azure/

[2020-07-13 21:56] MicrosoftGuyJFlo commented on #58812
Should be fixed and re-appear later today.

[2020-07-13 21:59] TravisCragg-MSFT commented on #58919
@manish1347 App Gateway will begin taking addresses after the first 4, and might scale up and down depending upon your configuration.

I would use the 2nd to last address in the subnet as your internal IP, this will allow your App Gateway to scale as needed in the remaining space with the first addresses.

[2020-07-13 22:09] MarileeTurscak-MSFT commented on #58931
@apeguy
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-13 22:12] cinglis-msft opened #58933 "No info about AAD Domain Services"
There's no info in here about the need to create and connect domain services to sign into Azure-provisioned Windows VMs in order to connect to Azure AAD on this page. I am testing internal features that require Intune enrollment, AAD enrollment, and multiple VMs and am having a lot of trouble figuring out all the steps and need to resort to unofficial MSDN direction: https://social.msdn.microsoft.

[2020-07-13 22:20] SaurabhSharma-MSFT commented on #53244
@nfpiche Sorry for delay on this issue. The product team has confirmed that you are not required to keep up the resources used for verification after domain has been verified. So, once the verification is done you can remove the hosted file if you want.

[2020-07-13 22:22] #58794 closed

[2020-07-13 22:23] zr-msft commented on #58794
thank you @bdschaap for the feedback

I have updated the article based on your feedback and the changes should be available soon.

[2020-07-13 22:27] MartinJaffer-MSFT commented on #58733
There are a number of things to remember when fetching the definition.
This [REST call](https://docs.microsoft.com/en-us/rest/api/datafactory/linkedservices/get) queries the extant resources.  This means resources that have already been published.  If you make a change in Git mode, the change will not be reflected.  If you try to fetch a key vault linked service, before it has been published you w

[2020-07-13 22:28] jeevansd commented on #58906
@Gaz2600 Please follow the guidance on the step 4 of "Configure Adobe Cloud SSO" section. In that you can open the Federation Metadata XML file and get the Entity ID value from it and put that as a Identifier value in Azure AD configuration. You dont have to reach out to Adobe for this.

[2020-07-13 22:28] genesavvy-chris opened #58935 "Event Grid Triggers don't seem to work for Premium Storage accounts, and it is not mentioned in documentation"
I followed the documented sample to create an app that takes photo uploads and resizes them, but I made some small changes to make it fit my application. One of those changes included using a premium storage account. When I finished setting things up, I was confused why no blob upload events ever showed up. I redid the tutorial with a non-premium storage account and it works as intended.

This lim

[2020-07-13 22:29] jeevansd commented on #58906
@chetansriv and @v-nagta Can you please remove this step from the doc where we talk about "Reach to Adobe team and get the correct value from support team"?

[2020-07-13 22:30] gvashishtha commented on #58512
Our build system wasn't publishing MDC docs, but they should be online soon.

[2020-07-13 22:32] qiufasheng commented on #58340
Hi, Shashi,
@memildin
Thanks for the reply with explanation!
Then I feel the below sentence should be deleted or updated, to avoid confusing readers.

_Without the ability to prove ownership of the domain name, threat actors can't receive traffic or control the content_

Thanks!
Fasheng

[2020-07-13 22:48] MarileeTurscak-MSFT commented on #58931
@apeguy ,

Thanks! I made a pull request to move this to the other paragraph as I do think it belongs better there, though I think there's a case for it belonging in either paragraph. It talks about programmable hardware tokens can be set up using the secret key or seed obtained from the software token setup flow, so it connects to that paragraph too.

https://github.com/MicrosoftDocs/azure-docs-p

[2020-07-13 22:48] #58931 closed

[2020-07-13 22:49] ohorvath commented on #58726
I've already opened this for the AKS team:

https://github.com/Azure/AKS/issues/1638

[2020-07-13 23:28] Gaz2600 commented on #58906
I tried those instructions, on step 3 there is no configure option under
the Details tab, I have these buttons: Log into Azure, Change Synced
Domains, Change Synced Groups, View Users

On Mon, Jul 13, 2020, 3:28 PM Jeevan Desarda <notifications@github.com>
wrote:

[2020-07-13 23:36] daviburg opened #58936 "OnStop must update Application Health Probe state to avoid service unavailability"
As a subtle but critical implication of https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-custom-probe-overview#design

The on-stop handler must update the application custom health probe implementation to immediately return 503 Service Unavailable. Without application custom health probe the default guest agent probe would have done that, but its behavior is overwritten by the ap

[2020-07-13 23:37] dlepow commented on #58913
@karolz-ms - Hi, thanks for pointing that out. We just published the updated YAML ref, hope it helps.
https://docs.microsoft.com/en-us/azure/container-instances/container-instances-reference-yaml

[2020-07-13 23:41] dlepow commented on #58393
I published an update to this and some related articles to use the `az deployment group` command. Thanks again for pointing it out.
#please-close

[2020-07-13 23:41] #58393 closed

[2020-07-13 23:43] iainfoulds commented on #58130
Doc has been updated to indicate the permission must be set the at the root, and may already be present.

#please-close

[2020-07-13 23:43] #58130 closed

[2020-07-13 23:43] iainfoulds commented on #55262
Doc has been updated to indicate the permission must be set the at the root, and may already be present.

#please-close

[2020-07-13 23:43] #55262 closed

[2020-07-13 23:45] iainfoulds commented on #58060
If there's additional feedback, @bpcastilho, we can review this. Otherwise, for now #please-close

[2020-07-13 23:45] #58060 closed

[2020-07-14 00:03] xiafu-msft commented on #24481
Hi @YASWANTHM-MSFT

If this is required `az extension add --name storage-preview`, then do you think this doc is not accurate enough? because that command isn't mentioned here.
https://docs.microsoft.com/en-us/azure/storage/common/storage-account-create?toc=%2Fazure%2Fstorage%2Fblobs%2Ftoc.json&tabs=azure-cli#create-a-storage-account

Is it possible to have someone make it accurate? Thanks for you

[2020-07-14 00:08] Mike-Ubezzi-MSFT commented on #58619
@rishabh-cldcvr Thank you for the additional detail. As part of using OPENROWSET you need to create a path to the external data and there are generally two ways of configuring this:

- Absolute path in the format `'<prefix>://<storage_account_path>/<storage_path>'` enables a user to directly read the files.
- Relative path in the format `'<storage_path>'` that must be used with the `DATA_SOURCE` p

[2020-07-14 00:09] karolz-ms commented on #58913
@dlepow super, thank you!

Couple minor things:
- The link to ARM template for a container group (second paragraph in the document) points to the older API version. It probably should point to the latest version of the template (2019-12-01)
- I noticed new setting called "encryptionProperties". What do these encrypt? ☺️ I did a quick search but could not find any information. A short info about th

[2020-07-14 00:10] crisansou commented on #58079
Thank you!

[2020-07-14 00:13] Mike-Ubezzi-MSFT commented on #58619
@rishabh-cldcvr Additionally, you will need to rebuild the view to pass a more complete `'<storage_path>'` to either A or B schema so that it is not treated like a sub-folder. In the case of Hadoop, this would not be an issue:

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-14 00:21] Mike-Ubezzi-MSFT commented on #58724
@roofiq
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-14 00:21] #58724 closed

[2020-07-14 00:22] dlepow commented on #58612
@mganeshphani - Thanks for the feedback. Can I please confirm your scenario? Are you trying to reach a repo in an on-prem container registry? ACI is able to pull images from private repos in Docker Hub, ACR, GCR and so on. Thanks!

[2020-07-14 00:26] kgremban commented on #13315
Sorry everybody, I thought I responded to this issue a long time ago. We went through and tried to add more descriptive location markers for the interface. I'm going to mark this issue as closed, and if you feel there are specific improvements that can be made to articles feel free to open new issues against them. Thanks.

#please-close

[2020-07-14 00:26] #13315 closed

[2020-07-14 00:33] SaurabhSharma-MSFT commented on #58543
@remideprez02 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-07-14 00:33] #58543 closed

[2020-07-14 00:41] Mike-Ubezzi-MSFT commented on #58764
@Pancat007 Thank you for the additional clarification. It helps to understand the direction of the migration in troubleshooting [source database](https://docs.microsoft.com/en-us/azure/dms/known-issues-troubleshooting-dms-source-connectivity) connectivity issues. There is an [FAQ](https://docs.microsoft.com/en-us/azure/dms/faq) page and [troubleshooting and optimization](https://docs.microsoft.com

[2020-07-14 00:42] zhenlan commented on #58899
@divyamoorthyTR, no, it's not supported.

[2020-07-14 00:53] ChaitanyaNaykodi-MSFT commented on #58935
@genesavvy-chris, Thank you for your feedback! We will review and update as appropriate.

[2020-07-14 01:14] BenjaminWFox-Lumedic opened #58937 "The logout URL must start with "HTTPS" 🤦‍♂️"
The logout URL must start with "HTTPS" 🤦‍♂️

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee46492b-ac24-eecf-7fcf-dcc05dbbd530
* Version Independent ID: 3b9a7920-899a-c0ae-9db1-be47015736b1
* Content: [Add OIDC sign in to a Node.js Web app - Microsoft identity platform](https://docs.microsoft.com/en-us/azure/active-di

[2020-07-14 01:23] mamaejim2 opened #58938 "Incorrect sample source code"
[Enter feedback here]
The notebook does not work correctly when I follow steps as per the following document.

https://docs.microsoft.com/en-us/azure/databricks/scenarios/service-endpoint-cosmosdb?source=docs#query-cosmos-db-from-a-databricks-notebook

In step 2 in the above document, following sample code looks incorrect.
Could you confirm if the sample code is correct?

connectionConfig = {
  "E

[2020-07-14 01:24] kewu-93 commented on #58458
@SubhashVasarapu-MSFT , Yes we need to follow the follow the gateway service manager service tag description for Azure loadbalacner tag while setting up the NSG. But can we also add the add a similar description for tag AzureLoadBalancer? Follow:
![image](https://user-images.githubusercontent.com/52403540/87369749-d0231780-c5b3-11ea-8481-ab05cd9cb3f8.png)

[2020-07-14 01:45] pdhimate opened #58940 "Scopes are not added in the request to acquire the token using Client_Assertion"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc3f2cc1-73e4-8d32-bd46-30a84e28f710
* Version Independent ID: 4ccd0fa0-91de-4c53-6a63-3175a433a0df
* Content: [Client assertions (MSAL.NET) - Microsoft identity platform](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-net-client

[2020-07-14 01:45] cicinelli opened #58941 "Javascript link points to Java quickstart"
The link for the JavaScript quick start currently points to the Java Quickstart tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99dabb21-d758-693c-5088-b5ee204d808d
* Version Independent ID: 0533b2c9-aaf0-4d87-e090-2dcf73d91c1e
* Content: [Create an event hub using Azure CLI - Azure Event Hubs - Azure Event Hu

[2020-07-14 01:47] rick-hayek commented on #58875
sorry yesterday github seemed to be down for a while, i thought the first thread was not created successfully. ok to close

[2020-07-14 01:53] ShadowXVII opened #58943 "Custom Rules Engine"
Can this example be updated to use the Custom Rules Engine?
This should allow HTTP to HTTPS without a Routing Rule which reduces costs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 908053a8-ebc0-35ec-87ad-24e59f587eb9
* Version Independent ID: c8b90a6a-c37f-68eb-1e1d-54322eae9324
* Content: [Create a Front Door with

[2020-07-14 01:56] MonikaReddy-MSFT commented on #58937
@BenjaminWFox-Lumedic - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-14 02:07] mganeshphani commented on #58612
@dlepow our scenario is a repository that is hosted onprem, please find more details in ticket
120050624006032

[2020-07-14 02:11] jerbio commented on #58870
@SnehaAgrawal-MSFT There are no errors during the deployment. The problem is the site doesn't actually get deployed to the server. Going to the address after deployment simply generates the [default page](https://i.paste.pics/57af9fd185b3e5c66903b10f143cfe4d.png).

Have you tried going through the instructions on one of [MS Docs](https://docs.microsoft.com/en-us/azure/app-service/containers/tutori

[2020-07-14 02:23] YutongTie-MSFT commented on #58943
@sharad4u FYI

@ShadowXVII
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-14 02:37] JasonWHowell commented on #45860
#reassign:omafnan

[2020-07-14 02:37] JasonWHowell commented on #48720
#reassign:omafnan

[2020-07-14 02:37] JasonWHowell commented on #48886
#reassign:omafnan

[2020-07-14 02:54] CHEEKATLAPRADEEP-MSFT commented on #58858
@kosinsky I’m working with the product team to fix this issue.

[2020-07-14 02:55] CHEEKATLAPRADEEP-MSFT commented on #58938
@mamaejim2  Thanks for the question! We are investigating and will update you shortly.

[2020-07-14 02:58] CHEEKATLAPRADEEP-MSFT commented on #58920
@duwood  Thanks for the question! We are investigating and will update you shortly.

[2020-07-14 02:59] CHEEKATLAPRADEEP-MSFT commented on #58921
@jimlane  Thanks for the question! We are investigating and will update you shortly.

[2020-07-14 03:01] CHEEKATLAPRADEEP-MSFT commented on #58922
@Nepomuceno  Thanks for the question! We are investigating and will update you shortly.

[2020-07-14 03:02] CHEEKATLAPRADEEP-MSFT commented on #58923
@cuwaters  Thanks for the question! We are investigating and will update you shortly.

[2020-07-14 03:03] CHEEKATLAPRADEEP-MSFT commented on #58927
@JPBres  Thanks for the question! We are investigating and will update you shortly.

[2020-07-14 03:04] CHEEKATLAPRADEEP-MSFT commented on #58928
@OmegaMadLab  Thanks for the question! We are investigating and will update you shortly.

[2020-07-14 03:06] CHEEKATLAPRADEEP-MSFT commented on #58929
@olavt  Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-14 03:06] muazmian commented on #57426
The issue is that the applicationId and the graph object ID are not the same.

If you get the service principal details using Get-AzADServicePrincipal the 'Id' property is the OID, the ApplicationId property is the applicationId, and the serviceprinipalnames are in teh "ServicePrincopalNames' property.

    Get-AzADServicePrincipal -ApplicationId ****

The Id will be objectId you need to use.

[2020-07-14 03:07] CHEEKATLAPRADEEP-MSFT commented on #58930
@tishi2000  Thanks for the question! We are investigating and will update you shortly.

[2020-07-14 03:08] chriswithpants opened #58945 "RSS subscription link 404's"
In this text on [the breaking changes page](https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-breaking-changes):

the "this URL" link returns a 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ba685a5-9e71-f269-26c0-f48b8a7dd020
* Version Independent ID: efdc145e-256b-261d-94a1-abec7b66f3aa

[2020-07-14 03:08] CHEEKATLAPRADEEP-MSFT commented on #58933
@cinglis-msft  Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-14 03:09] CHEEKATLAPRADEEP-MSFT commented on #58936
@daviburg  Thanks for the question! We are investigating and will update you shortly.

[2020-07-14 03:13] AlfonsoGitHub opened #58946 "CONFUSION BETWEEN FILESTORAGE ACCOUNT AND FILESTORAGE SERVICE"
Very confusing documentation: You talk about FileStorage Accout but I can't see that option when creating an storage accout.

I FileStorage an account type or a service type?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06288d35-3c83-c29d-95d8-a56823d910a3
* Version Independent ID: 002fb5f5-5e4a-a95a-4564-2c399bcb5e0

[2020-07-14 03:17] CHEEKATLAPRADEEP-MSFT commented on #58941
@cicinelli  Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/122255](https://github.com/MicrosoftDocs/azure-docs-pr/pull/122255)
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to

[2020-07-14 03:17] #58941 closed

[2020-07-14 03:22] vipulsparsh commented on #58940
@pdhimate  Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-07-14 03:25] tektigergt opened #58947 "Typo"
Please correct the typo on the year. I believe it should be Jan 10 2021.

 API will be deprecated on January 10, 2020;
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a1b0992-84f5-43f1-6b18-b690dde9753b
* Version Independent ID: db4234aa-2047-33db-6c8a-19a7b732074b
* Content: [Microsoft Graph API for Azure Active Direct

[2020-07-14 03:26] vipulsparsh commented on #58945
@chriswithpants  Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@rwike77  Can you have a look at this ?

[2020-07-14 03:26] msshradhabarpute commented on #58890
Hi Greg

Could you be more specific about which section of the following document - https://docs.microsoft.com/en-us/azure/backup/backup-azure-sap-hana-database you are referring to. I am not sure I understand your feedback.

Regards
Shradha

[2020-07-14 03:35] DataBitz opened #58948 "Using "TimeGenerated 15m" and Evaluation Period of 15 minutes does not generate alerts"
There seems to be a problem with the logic used in the examples, or at least it's a bad example using an evaluation period of 15 minutes with 3 consecutive failures.

TimeGenerated 15m in the queries, creates a single data point every 15 minutes.
Consecutive breaches of 3 in a 15 minute period will never happen with only 1 data point.
Even consecutive breaches of 1 in a 15 minute period seems to n

[2020-07-14 03:48] rbx44 opened #58949 "Azure Blob Storage One of the request inputs is out of range error"
Error while calling DownloadTextAsync on CloudBlockBlob. Microsoft.Azure.Storage.StorageException   One of the request inputs is out of range. I have double/triple checked the container name, account name and blob name. They all are lower case while reading and writing. However, I do see the url is messed up, but I am using the client and I'm not sure what is causing this.

![image](https://user-i

[2020-07-14 04:02] mprcba opened #58950 "Environmental sensor capability model - https://raw.githubusercontent.com/Azure/IoTPlugandPlay/9004219bff1e958b7cd6ff2a52209f4b7ae19396/samples/EnvironmentalSensorInline.capabilitymodel.json"
[the link at section  _**Create a device template**_   to download  **Environmental sensor capability model**  isn't opening the website is unavailable.
 https://raw.githubusercontent.com/Azure/IoTPlugandPlay/9004219bff1e958b7cd6ff2a52209f4b7ae19396/samples/EnvironmentalSensorInline.capabilitymodel.json ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-07-14 04:04] CHEEKATLAPRADEEP-MSFT commented on #58949
@rbx44  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community members could provide

[2020-07-14 04:09] cladeira opened #58951 "Model instead of APP"
[Enter feedback here]

Query prediction endpoint
After your app is trained and published to the endpoint, the client application sends utterances to the prediction endpoint API. The API applies the **app** to the utterance for analysis and responds with the prediction results in a JSON format.

On the sentence above, I think you wanted to say MODEL instead of APP (highlighted in BOLD).

---
#### D

[2020-07-14 04:13] SumanthMarigowda-MSFT commented on #58946
@AlfonsoGitHub Thanks for your question. We are checking on this and will respond to you soon.

[2020-07-14 04:19] Mikako-ff opened #58952 "Split-merge tool depends on powershell version?"
It works well with vscode, but not with powershell-7.0.2.

![image](https://user-images.githubusercontent.com/39982069/87383460-3a4bb480-c5d4-11ea-8d57-6a1b42340489.png)

![image](https://user-images.githubusercontent.com/39982069/87383356-05d7f880-c5d4-11ea-9181-c457d0564dda.png)

![image](https://user-images.githubusercontent.com/39982069/87383343-01134480-c5d4-11ea-9bbb-94ae4e590412.png)

---
#

[2020-07-14 04:20] asudbring commented on #33290
This one appears to have been fixed in screenshot.

#please-close

[2020-07-14 04:20] #33290 closed

[2020-07-14 04:23] bradleyGamiMarques opened #58953 "Retryable Writes are not supported"
Step six of the documentation is missing additional parameters in the block of code. The most important of which is the retrywrites parameter. If this parameter is missing writing to the DB will fail with the rest of the code listed in the documentation.

The other two parameters are useNewUrlParser and useUnifiedTopology.
See the mongoose documentation here for what these properties do: https://m

[2020-07-14 04:28] asudbring commented on #32985
Clarified rule override.

PR for fix:  https://github.com/MicrosoftDocs/azure-docs-pr/pull/122262

#please-close

[2020-07-14 04:28] #32985 closed

[2020-07-14 04:46] shashishailaj commented on #58947
@tektigergt Thank you for catching this. We will have this reviewed and updated as needed.

[2020-07-14 04:52] manish1347 commented on #58919
Hi..
Thankyou for promt response.
Now, I've asked this question because.. I've created a AG subnet in my vnet
and only deployed 1st AG in that subnet.
First I created public frontend IP AG and later as per change in
requirements.. I changed it to Both public and private Frontend IP.
When I assigned static private IP.. it was not taking .6 and .7 IP in my
subnet and error throwing already using.
So

[2020-07-14 04:56] shashishailaj commented on #58947
@tektigergt As per the [earlier notifications last year](https://developer.microsoft.com/en-us/office/blogs/deprecatation-of-the-identityriskevents-api/)  , I believe this is correct date . The The identityRiskEvents API has now been deprecated on January 10, 2020; and we suggest to use the riskDetections API instead for obtaining similar data. We will update the wording on the article.

Thank you

[2020-07-14 04:57] asudbring commented on #27197
Fixed rendering of regex on page.  The screenshot was right and the underlying .md was right, but docs had it has an ampersand.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/122264
#please-close

[2020-07-14 04:57] #27197 closed

[2020-07-14 05:00] shashishailaj commented on #58947
@MicrosoftGuyJFlo Could you please review the PR for this one ?

[2020-07-14 05:03] shashishailaj commented on #58819
@KatteKwaad Hope the above source code link was helpful . Please do tag me to your reply in case of any further queries. We will close this issue now.

Thank you  .

[2020-07-14 05:03] #58819 closed

[2020-07-14 05:05] shashishailaj commented on #58774
@SAIMMINHAS Hope you are good. Could you please let us know if you were able to follow the above instructions ?

[2020-07-14 05:12] anuragdalmia commented on #51656
Updated doc - https://github.com/MicrosoftDocs/azure-docs-pr/pull/122266

[2020-07-14 05:19] SujayJDesai commented on #58801
@esparks-ipl - Thanks for the feedback. We will add the required details. For now please refer DPM article referenced below. We will add this information to MABS as well.
https://docs.microsoft.com/en-us/system-center/dpm/back-up-sql-server?view=sc-dpm-2019#prerequisites-and-limitations

[2020-07-14 05:21] AnuragSharma-MSFT commented on #58952
@Mikako-ff Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-07-14 05:21] dominicbetts commented on #58950
Hi @mprcba - can you try again? I just checked and it's working for me.

[2020-07-14 05:23] AnuragSharma-MSFT commented on #58953
@bradleyGamiMarques Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-07-14 05:24] akulnev commented on #58827
@MonikaReddy-MSFT - thank you for your feedback. I cannot agree with the statement: "_there is no doc update required_". According to testing, the user experience is different depending on the type of device. When users use W10 devices even without WH4B and sign in / unlock their devices at least once within the sign-in frequency interval, then they are not prompted for MFA. It means this event sa

[2020-07-14 05:32] SychevIgor commented on #18771
nobody care. 1.5 years is more than enough

[2020-07-14 05:32] #18771 closed

[2020-07-14 05:34] mprcba commented on #58950
Thank you @dominicbetts . looks like the link is blocked in my network. It is working fine in open network.

[2020-07-14 05:44] ecfan commented on #58404
@vnextcoder, the topic is now updated to say that an ISE uses fixed pricing, rather than consumption-based pricing.

@SaurabhSharma-MSFT: #please-close

[2020-07-14 05:44] #58404 closed

[2020-07-14 05:49] femsulu commented on #58902
thanks again for pointing this out, @daweins. A PR has been successfully submitted and approved to correct this formatting bug. This change will be live once the PR has been merged. We will now close this issue but don't hesitate to ping if you have any questions.

#please-close

[2020-07-14 05:49] #58902 closed

[2020-07-14 05:49] iqsarv commented on #39508
You need to use kubelet identity to do role assignment

`[reference(variables('clusterResourceId'), '2020-03-01').identityProfile.kubeletidentity.objectId]`

[code]

[2020-07-14 05:53] PramodValavala-MSFT commented on #58935
@genesavvy-chris Based on [storage docs](https://docs.microsoft.com/en-us/azure/storage/common/storage-account-overview#performance-tiers), the Premium General Purpose Storage Accounts are meant for unmanaged virtual machine disks.

For Premium Blob Blob Storage, a `BlockBlobStorage` is the one that you should be using, for which I can confirm the events work as expected.

[2020-07-14 05:59] PramodValavala-MSFT commented on #58747
@dsi28 Thanks for raising this! We have [another issue](https://github.com/MicrosoftDocs/azure-docs/issues/58116) open for addressing this. Closing this in favor of that.

[2020-07-14 05:59] #58747 closed

[2020-07-14 06:00] PramodValavala-MSFT commented on #58807
@CharmanderJieniJieni Just following up here... Hope my previous comment helps.

[2020-07-14 06:06] CHEEKATLAPRADEEP-MSFT commented on #58938
@mamaejim2 Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

The sample provided in the document is incorrect. We are currently working on updating the document.

@mamccrea Could you please change the document/screenshots to containers to collections.

![image](https://user-images.githubusercontent.com/44426401/87390176-efc33b80-c

[2020-07-14 06:18] sahalsaad commented on #11383
Hi @jchilde, can you share some code example ? Thanks

[2020-07-14 06:18] SadiqhAhmed-MSFT commented on #58709
@hugohhk Yes, we generate crash-consistent recovery points every 5 mins in the V2A scenario as well. And you are right – the RPO could be a few seconds as well.

[2020-07-14 06:27] divyamoorthyTR commented on #58899
Thanks. Is there any plan to get this done?

[2020-07-14 06:28] ChaitanyaNaykodi-MSFT commented on #58826
Hello @dery168,
Thank you for reaching out. Azure Functions’ CosmosDB Binding does not support MongoDB using SQL API. The alternative is to run the MongoDB client directly within the code. You can refer to this [blog](https://www.mongodb.com/blog/post/how-to-integrate-azure-functions-with-mongodb) which shows how to integrate MongoDB with Azure Functions using C# and something similar can also be

[2020-07-14 06:29] RohitMungi-MSFT commented on #58951
@cladeira Thanks for pointing this out. We have added a PR to review and update this. The change should be available within 24 hours after the PR is approved and merged.
@diberry FYI

[2020-07-14 06:31] dkelertasdevops opened #58955 "Using internal CA-signed certificate for service fabric common name trust method"
Can you use your own internal CA signed certificate for service fabric common name certificate-trust method?

I would assume the certificate just has to have a valid certificate trust chain. i.e. if also adding the CA cert to the trusted Root store of cluster nodes the CA-signed certificate will be trusted.

The documentation seems to suggest the certioficate must be generated by a domain registra

[2020-07-14 06:33] pdhimate commented on #58940
Thanks. Not sure what was the issue but I have managed to get to working for me. here is the sample project:  https://github.com/pdhimate/AzureAD-Client

[2020-07-14 06:33] #58940 closed

[2020-07-14 06:33] rick-hayek commented on #58876
ok i sorted things out. this permission approval prompts if AD admin has disabled the user ability to grant app access to ad data in User settings.

what @krish-gh said above seems not to be relevant to my issue, as my app is registered in organization AD (not B2C), and from the document permission openid or offline_access is not mentioned during [this step](https://docs.microsoft.com/en-us/azure/

[2020-07-14 06:33] #58876 closed

[2020-07-14 06:42] krish-gh commented on #58894
We will now proceed to close this issue, but if there are any further questions, please tag me in your reply and will be happy to continue the conversation.
#please-close

[2020-07-14 06:42] #58894 closed

[2020-07-14 06:50] AnuragSharma-MSFT commented on #58953
@bradleyGamiMarques  Really appreciate you for pointing out the issue, we have updated the document content accordingly.
The changes should be live once the PR is approved.

We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-14 06:50] #58953 closed

[2020-07-14 07:03] KatteKwaad commented on #58819
Hi @shashishailaj ,

Ah ok, I assumed that there was a missing nuget that I had to grab that extended the Identity platform with token validators as the sample documentation [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-protected-web-api-app-configuration) doesn't specify that the contrary

[2020-07-14 07:06] yelevin commented on #49054
This has been fixed.
#please-close

[2020-07-14 07:06] #49054 closed

[2020-07-14 07:18] yelevin commented on #55165
@FrankMcGovern Also, we will try to be more specific on the MS service-to-service connector pages about the exact information ingested.
Have we answered your question?
Can I close this issue?

[2020-07-14 07:22] AdelaManea commented on #58911
Oh, my bad. I didn't notice that. Sorry for the confusion and thank you very much for the clarification! Have a great day!

[2020-07-14 07:37] CloudBreadPaPa opened #58957 "Batch means one big file not multiple files in blob container"
Batch means one big file not multiple files in container.

Symptom : Error message "Transcription failed. Status: Authentication failed for recordings URI."

Research : Found answer from here : https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/518

Resolution : try to generate only one file - SAS token and pass it to param.

---
#### Document Details

⚠ *Do not edit this sectio

[2020-07-14 07:42] jfle75 opened #58958 "Soon-to-be-retired endpoint URLs still provided for Device Code flow, new b2clogin not working"
On 04 December 2019, Microsoft announced the scheduled retirement of login.microsoftonline.com support in Azure AD B2C on 04 December 2020 in favor of b2clogin.com . Unfortunately that page on Device Code OAuth2  still uses the old URL and the endpoints for Device Code flow are not detailed in the manifest.

I tried to change the URL from microsoftonline.com to b2clogin.com but the endpoint does n

[2020-07-14 07:43] saikumaru commented on #57531
Thank you @Mike-Ubezzi-MSFT . I just completed a conversation with the support on this issue, and supposedly the V3.6 doesn't support this feature yet, when the data is <10GB. The suggestion is to move back to V 3.2

[2020-07-14 07:45] JasSuri commented on #58645
For SAML and OIDC providers, you must follow rules 1&2 from the table:
**The IncludeClaimResolvingInClaimsHandling metadata must be set to true.
The input or output claims attribute AlwaysUseDefaultValue must be set to true.**

Please share your technical profile in full if that is not working.

[2020-07-14 07:48] JasSuri commented on #58561
There is an increasing multiplication factor applied. We are not documenting that for security purposes at this stage.

[2020-07-14 07:49] JasSuri commented on #58451
@msmimart we should remove this reference as its not supported in an AAD B2C directory.

[2020-07-14 07:52] JasSuri commented on #58109
Make sure you used the Social or LocalAndSocial (withMFA) Starter pack. The error indicates that the Base file did not contain the original `AAD-UserWriteUsingAlternativeSecurityId` technical profile, which is contained in the mentioned starter packs only.

[2020-07-14 07:52] mouadcherkaoui opened #58959 "the tutorial and code sample should be updated to avoid errors and confusion."
Hi,

I started with the problems in this thread on msdn: https://social.msdn.microsoft.com/Forums/en-US/57296376-86c7-46af-9004-6d8cc5c6906c/i-am-trying-to-use-sample-code-on-microsoft-documents-for-form-recognizer-but-it-has-so-many-errors?forum=Offtopic

in the beginning, I suspected that it was just a missing package, but when I started I found that the organization is confusing, also there is

[2020-07-14 07:55] JasSuri commented on #57608
For custom policies, the guidance for modifying the policy files for SLO (OIDC&SAML) is here:
https://docs.microsoft.com/en-us/azure/active-directory-b2c/session-behavior-custom-policy#single-sign-out

[2020-07-14 07:55] SAIMMINHAS commented on #58774
Hi shashishailaj,

So i've now tried your steps and here's what happened.

I logged in with this newly created Admin Account and saw two Admin User accounts. I was obviously unable to delete the one that i was logged in with but was able to delete the other Admin Account which is created by default. In the Users section, i see the below now:
![image](https://user-images.githubusercontent.com/30388

[2020-07-14 08:00] JasSuri commented on #57462
What library made this request? We usually see this with other libraries which make an OPTIONS request to the .well-known endpoint. We only support GET requests.

[2020-07-14 08:03] JasSuri commented on #57984
This option:
"Accounts in any organizational directory (Any Azure AD directory - Multitenant) and personal Microsoft accounts (e.g. Skype, Xbox)"

**In this case, is only for Microsoft personal accounts (@outlook.com, @hotmail.com etc..).**

If you want to support Work accounts, use this option:
https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-single-tenant

[2020-07-14 08:04] sahithikkss commented on #58810
Did you build the bot from latest QnA Maker sample?  Link is below
https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/49.qnamaker-all-features
in which some of these markdown issues (in old samples) are fixed.

[2020-07-14 08:11] JasSuri commented on #56907
Currently you cannot customize the text of the SMS message.

[2020-07-14 08:12] rick-hayek opened #58960 "b2c multi-tenancy: how to ignore the registration for GivenName and Surname information"
I'm going through this [tutorial ](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-multi-tenant-custom)to setup multi-tenancy support for b2c login. I got 2 questions here:

1) when I'm trying sign in as an AD user, it will request an optional givenname and surname, which I dont want this information from customer users (from other AD tenant):

![image](https

[2020-07-14 08:19] vipulsparsh commented on #58960
@rick-hayek  Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-07-14 08:26] aykitaya opened #58961 "Required role for Advisor recommendations."
Hello team,
With regard to the title, this document is described as follows,
--You can access Advisor recommendations as Owner, Contributor, or Reader of a subscription.

but I think that it is better to fix it as follows.
--You can access Advisor recommendations as Owner, Contributor, or Reader of a subscription, resource group, or resource.

reference information)
https://docs.microsoft.com/en-u

[2020-07-14 08:30] vipulsparsh commented on #58958
@jfle75  Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-07-14 08:30] LeaShallev opened #58962 "Can't Find Batched Event Delivery"
Hi,
I read the article about "Event Grid message delivery and retry" and tried to define batched event delivery, but I couldn't find it in the portal.
I looked for it in the EG subscription definitions (where I do see the retry definitions that also appear in the article)  under the basic, the filters and the additional features tabs.
Where can I set it?

Thanks,
Lea Shallev.
---
#### Document Det