[2019-10-23 17:16] Zhi-Liu commented on #41314
I met the same issue. I upgraded from 2.0.69 to 2.0.75,  I installed aks-preview before, is it related to  aks-preview?
[code]

[2019-10-23 17:17] jasonfare commented on #41223
That worked for me. Thank you @moorereason  !

[2019-10-23 17:22] MicahMcKittrick-MSFT commented on #41314
@giuliov Great find! That is it

[code]

@MicrosoftDocs/aks-pm can you provide some input here? Should I simply note this doc won't work with the aks vmss preview settings? Or is this something that needs to be addressed from a product side?

[2019-10-23 17:28] gkgaurav31 commented on #41248
I don't think it's covered in any documentation, however, this is the feature I'm using:
https://docs.microsoft.com/en-us/azure/app-service/overview-authentication-authorization

[2019-10-23 17:29] msrini-MSFT commented on #41270
@swhite24 , yes your understanding is correct. Only paths which is appended to the request will gets appended.

Regarding the redirection part of 301, I will do a test in my lab and tell you whether it is by design.

[2019-10-23 17:33] KatieProchilo commented on #40601
On [Prepare data for Custom Speech](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-custom-speech-test-data), the data is referred to as `utterance` data, but on the portal, it's called `language` data:

![LanguageDatasets](https://user-images.githubusercontent.com/43346846/67418892-848d9100-f580-11e9-963c-a076fe3242fd.jpg)

[2019-10-23 17:34] ajlam commented on #41272
@rgosling - the design of the portal has changed a bit, but the functionality for managing firewall rules still exists. Please see image below.

![image](https://user-images.githubusercontent.com/11048726/67418918-91aa8000-f580-11e9-95e7-7845fae35b88.png)

I'll update the docs with more updated screenshots.

[2019-10-23 17:34] normesta commented on #41003
Hi @HiQiQi - This issue is likely related to how Windows Command shell (cmd.exe) handles single quotes. All other command shell environments (including Windows PowerShell) work well with single quotes. We're adding a warning that appears in the console that will help raise the visibility of this issue for those using a Windows Command Shell. I've updated the documentation to make this clearer as w

[2019-10-23 17:34] normesta commented on #41003
#please-close

[2019-10-23 17:34] #41003 closed

[2019-10-23 17:36] thebestshop opened #41328 "United Microsoft"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 950b9f9f-dd0e-47eb-cfe1-3035625a4ec7
* Version Independent ID: e1fe884d-d853-3a52-53ad-9be20eb7d8fb
* Content: [Xamarin Android considerations (Microsoft Authentication Library for .NET) - Microsoft identity platform](https://docs.microsoft.com/en-us/

[2019-10-23 17:36] KatieProchilo commented on #40614
On [Prepare test data for Custom Speech](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-custom-speech-test-data) it is referred to as `utterance data`, but on the portal it is referred to as `language data`:

![LanguageDatasets](https://user-images.githubusercontent.com/43346846/67419160-067dba00-f581-11e9-9355-dbd69739f098.jpg)

[2019-10-23 17:40] erhopf commented on #40614
#reassign: @ArcherAz

[2019-10-23 17:41] TylerMSFT commented on #41328
No info about what this is for.
#please-close

[2019-10-23 17:41] #41328 closed

[2019-10-23 17:48] MicahMcKittrick-MSFT commented on #41294
@tkopacz I also see you are an FTE so feel free to ping me offline. Sometimes there are some issues for FTEs working out of their internal subscriptions when it relates to AD since we don't have normal permissions to the MSFT AD Tenant.

[2019-10-23 17:48] #41294 closed

[2019-10-23 17:49] MarileeTurscak-MSFT commented on #41308
@mahoekst
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-23 17:49] MonikaReddy-MSFT commented on #40789
@v-kydela, Sorry for the delay Here. We have heard from our internal team that For Windows Apps, the node version is set in the 'Application Settings' tab (as an App Setting - 'WEBSITE_NODE_DEFAULT_VERSION') rather than the stacks dropdown in the 'General Settings' tab. And there is a plan in the future to remove this confusion.

I hope this answers your question. So closing this thread for now, I

[2019-10-23 17:49] #40789 closed

[2019-10-23 17:50] SaurabhSharma-MSFT commented on #41310
@heaps926 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-10-23 17:53] SaurabhSharma-MSFT commented on #41302
@andremieth Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-10-23 17:57] joeythomaschaske opened #41330 "Needs other language examples"
This needs examples for all languages supported by the azure function framework. Currently at a loss on how to do this with node

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee2ce9e8-8504-ddab-1880-485962b99ffa
* Version Independent ID: 1dc67396-c348-d66b-bbab-0d424375ed51
* Content: [Use client SSL certificate in ap

[2019-10-23 17:57] dmeads9595 commented on #25494
You have to add Microsoft.Insights as a Resource Provider.  Documented here:
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-troubleshoot#microsoftinsights-resource-provider-isnt-registered-for-your-subscription

[2019-10-23 17:58] James-Burnham commented on #9553
I find it hard to believe "the script works", at least not as intended. Ever since pre-AZ module, and now even with the AZ module, you cannot remove an Azure RSV with this cmdlet while there are protected items. Could you please at least outline that it works including which protected items?

I have a script at over 100 lines with the only purpose of clearing out the various protected items so tha

[2019-10-23 18:03] cwester72 commented on #41323
None I am getting an error for RDS licensing.

In a default RDS environment you would have a connection broker and other servers and install the Remote Desktop Cals on the server. However this is a Microsoft managed service but I am still getting you have X amount of days until you need to license your RDS.

Craig Wester
Cloud Solutions Consultant
cwester@360visibility.com<mailto:cwester@360visibi

[2019-10-23 18:08] MicahMcKittrick-MSFT commented on #41323
Got it. Check this Troubleshooting section which explains how to fix this error:

https://docs.microsoft.com/en-us/azure/virtual-desktop/troubleshoot-vm-configuration#remote-desktop-licensing-mode-isnt-configured

[2019-10-23 18:12] CelesteDG commented on #35288
#reassign:@negoe Reassigning to Neha.

[2019-10-23 18:12] v-kydela commented on #40789
@MonikaReddy-MSFT - Can you clarify that a bit? I wasn't asking how to set the Node version, I was asking how to select Node as a stack. Are you saying if a Node version is present in the Application Settings tab then Node is automatically selected as the stack and the stack dropdown in the general settings is ignored?

[2019-10-23 18:13] CelesteDG commented on #29375
#reassign:@negoe Reassigning to Neha.

[2019-10-23 18:14] mike-urnun-msft commented on #41309
@chadcarlton Thank you for your feedback! We will review and update as appropriate.

[2019-10-23 18:15] banisadr commented on #41010
Hey @sarah206, there are a few technical limitations preventing this from being possible today, but we are working on some updates that will be released shortly and will allow you to do just that. Once we have those ready, we'll update the documentation with how to do it!

[2019-10-23 18:15] mike-urnun-msft commented on #41315
@melvillo Thank you for your feedback! We will review and update as appropriate.

[2019-10-23 18:16] mike-urnun-msft commented on #41318
@zpittmansf Thank you for your feedback! We will review and update as appropriate.

[2019-10-23 18:16] MarileeTurscak-MSFT commented on #41308
I agree that those appear unrelated. I think it should be this list instead. https://github.com/Azure-samples?utf8=%E2%9C%93&query=multiten

I made a pull request for approval by @rwike77

https://github.com/MicrosoftDocs/azure-docs-pr/pull/93033

[2019-10-23 18:16] #41308 closed

[2019-10-23 18:21] mike-urnun-msft commented on #40865
@clineer We'll close this issue for now. Once you're able to provide repro steps, please reopen it and we will gladly continue the discussion.

[2019-10-23 18:21] #40865 closed

[2019-10-23 18:22] mike-urnun-msft commented on #41152
@John-Blair Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-10-23 18:22] #41152 closed

[2019-10-23 18:23] dlepow commented on #41131
Doc updated, so I am proceeding to close this issue.
#please-close

[2019-10-23 18:23] #41131 closed

[2019-10-23 18:24] MarileeTurscak-MSFT commented on #41289
@praba984 please provide a link to the document which you are following so that I can better assist you.

[2019-10-23 18:26] Alberto-Vega-MSFT commented on #41301
@yenbohuang Thanks for trying IoT Edge! We try to reserve these issues for feedback directly related to the tutorials: like if there are errors that blocks tutorial completion or if there are updates/changes required, suggestions for improvement, etc. If this is not the case I would open an issue with your question on the Edge repository or StackOverflow MSDN dev forums where there is a community

[2019-10-23 18:29] mike-urnun-msft commented on #40856
@cconcordet @magaudef Could either one of you open a thread on [MSDN forums](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureFunctions) for this question and tag me here with the URL, please? Once I get notified and see your MSDN thread, I'll make sure your question gets answered.

Since this channel is more for driving improvements towards MS Docs and the scenario doesn't really re

[2019-10-23 18:29] #40856 closed

[2019-10-23 18:30] mganeshphani opened #41331 "Bad link to EventHubTriggerAttribute definition"
In following section of the document
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-hubs#trigger---attributes

there is a hyperlink to following, which returns page not found, please fix it
https://github.com/Azure/azure-webjobs-sdk/blob/master/src/Microsoft.Azure.WebJobs.Extensions.EventHubs/EventHubTriggerAttribute.cs

---
#### Document Details

⚠ *Do not edit th

[2019-10-23 18:45] jz247 commented on #41189
Thanks for your prompt reply, @RohitMungi-MSFT! Will do.

[2019-10-23 18:47] azav opened #41332 "Podfile use_frameworks! outdated."
As per  https://stackoverflow.com/a/49469205/1058199

The contents of the podfile no longer needs to have `use_frameworks!` since frameworks are supported by Swift as of Xcode 9.

[2019-10-23 18:51] diberry commented on #41043
@Tiagojaduarte Please use this deep link into the portal [https://ms.portal.azure.com/#create/Microsoft.CognitiveServicesLUISAllInOne](https://ms.portal.azure.com/#create/Microsoft.CognitiveServicesLUISAllInOne). The docs will be updated with the correct link and text as well.

#please-close

[2019-10-23 18:51] #41043 closed

[2019-10-23 19:06] TravisCragg-MSFT commented on #41296
@SanatMoharir can you post a link to the doc you are referring to?

[2019-10-23 19:10] TravisCragg-MSFT commented on #41303
@jainankita can you post a link to the doc you are referring to?

[2019-10-23 19:10] SaurabhSharma-MSFT commented on #41223
@moorereason Thanks for sharing this.
@eross-msft Can you please help documenting this on this page.

[2019-10-23 19:10] TravisCragg-MSFT commented on #41311
@giancarlos29 Can you post a link to the doc you are referring to?

[2019-10-23 19:12] TravisCragg-MSFT commented on #41312
@giancarlos29 Can you post a link to the doc you are referring to?

[2019-10-23 19:15] matjazl commented on #41247
You could use Azure App service to run this. For dev/testing you could run it locally off your machine.

[2019-10-23 19:15] XiaoyuMSFT commented on #33389
#please-close

[2019-10-23 19:15] #33389 closed

[2019-10-23 19:19] craigshoemaker commented on #41331
Thanks, @mganeshphani! This is a duplicate of #40676 which was resolved this morning 😃 #please-close

[2019-10-23 19:19] #41331 closed

[2019-10-23 19:22] SanatMoharir commented on #41296
@TravisCragg-MSFT
I am using:
   https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/cognitive-services/Computer-vision/QuickStarts/python-print-text.md

I have used the Jupiter Notebook from the binder.

After Running OCR on image containing tables it is not able to separate it. I have converted the output json to the excel using the online tool (Just for testing sake) but, it was no

[2019-10-23 19:26] SaurabhSharma-MSFT commented on #41132
@cabailey Can you please help here if this is possible.

[2019-10-23 19:27] TravisCragg-MSFT commented on #41332
@azav can you post a link to the Azure Doc you are referring to?

[2019-10-23 19:29] mprsic opened #41334 "Unable to unbox truffle project (in VS Code or Command Prompt)"
I am encountering one after another issue trying to create a basic project, either in VS Code or just running "truffle unbox Azure-Samples/Blockchain-Ethereum-Template".
I followed the article closely. Read all similar issues on GitHub including those below, however problems are not going away. Lost 2 full days already.

Below is the last error I am getting. Running as admin on Windows cmd. Instal

[2019-10-23 19:29] TravisCragg-MSFT commented on #41327
@axelgMS Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-23 19:31] craigshoemaker commented on #12978
As the original intent of this issue is addressed, I am going to #please-close this issue. I have requests out to the Product Team regarding the requests made by @camiloramirezf and @GuyHarwood's questions and will update the doc once that content is ready.

[2019-10-23 19:31] #12978 closed

[2019-10-23 19:34] kjulson opened #41336 "Manager field is blank on Download user export"
Looking at individual users, you can see there are managers but the export (Download users) results in every single manage field being blank.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7800fcb4-d251-f271-bc12-9377cd0407fa
* Version Independent ID: 319b62fc-cea7-1add-559b-bb2a35b3a0ad
* Content: [Download a list of

[2019-10-23 19:35] XiaoyuMSFT commented on #31265
#please-close

[2019-10-23 19:35] #31265 closed

[2019-10-23 19:45] MarileeTurscak-MSFT commented on #40493
The StrongAuthenticationRequirements are applicable for "Per-User MFA" so a user in "Disabled" state can still use MFA via Conditional Access. The better option would be to look for the StrongAuthenticationMethods property which tells if the user registered any methods.

`Sample: Get-MsolUser -All | where {$_.StrongAuthenticationMethods.Count -eq 0} | Select-Object -Property UserPrincipalName | So

[2019-10-23 19:47] PatAltimore commented on #41334
@mprsic I'm sorry the installation is a bit tricky. The specific versions of the prerequisites are here: https://github.com/Microsoft/vscode-azure-blockchain-ethereum/wiki. There's also information in the FAQ. https://github.com/Microsoft/vscode-azure-blockchain-ethereum/wiki/FAQ.  Based on the error, it seems like it's related to the msbuild tools but you said you installed them.

[2019-10-23 19:55] Gamecock commented on #12992
@chriswue  @ko5win   Have you had any luck getting IoTEdge to run inside a container?

[2019-10-23 19:58] MarileeTurscak-MSFT commented on #41062
What error message do you see?

[2019-10-23 20:02] danpetitt opened #41338 "Doesn't seem to work..."
Trying to create an azure automation runbook to start a VM and cant believe how hard it is; i have tried the scripts above and it just errors:
"Cannot find the 'Connect-AzureRmAccount' command"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f830218-a56b-6a7e-d6e7-7736896d3f91
* Version Independent ID: ae33d704-d0b7-d4

[2019-10-23 20:05] RyanHill-MSFT commented on #41035
Hi @aregaz, according to the media services team, there is not a current way to scaling RUs in the v3 SDK.

Feel free to reopen the issue and tag me if there are further questions regarding this matter.

[2019-10-23 20:05] #41035 closed

[2019-10-23 20:15] eross-msft commented on #41223
@moorereason  @SaurabhSharma-MSFT   This page is intended only for IT workers/end users. This audience would have no access to the Azure portal and wouldn't be able to do anything with the information about how to turn a preview feature on, so we don't cover it here. Instead, you can find the information in the content written for Administrators: https://docs.microsoft.com/azure/active-directory/a

[2019-10-23 20:15] #41223 closed

[2019-10-23 20:18] tylerwel opened #41339 "Invalid Email - We are unable to process your request at this time, please try again later."
We have successfully configured SSO between Azure AD and G Suite. If users already have an account created in G Suite, then they are able to sign in to G Suite using their Office 365 credentials without any issue.

However, we get the "Invalid Email" error message for users that do not already have a G Suite account. The users that get this error have valid exchange licenses assigned in Office 365

[2019-10-23 20:22] cabailey commented on #41132
@SaurabhSharma-MSFT & @DeanGross : I don't think you can force an update.  After configuration of the workspace, the data should stream without interruption. Unfortunately, I also don't think you can delete the connector and add it again, which might achieve the same thing.  If the data is not refreshing as it should, and the workspace hasn't been changed (Sentinel and AIP must use the same worksp

[2019-10-23 20:24] TravisCragg-MSFT commented on #41320
I am able to see the "Save" button without an issue.

![image](https://user-images.githubusercontent.com/38542241/67430945-2076c700-f598-11e9-907f-1362ff7c8328.png)

Can you try to open the browser in a new incognito window and try this again?

[2019-10-23 20:27] LeonardiSugianto opened #41340 "Download link outdated"
Hi there,

I tried to download the latest library and it seems to give me the previous version (that I installed few weeks ago) instead of the latest version. Please have a check and let me know if it is correct :)

Cheers,
Leo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 601aaca4-89f2-59e9-78b3-46ff1f7320c1
* Versio

[2019-10-23 20:29] jasonfare commented on #41223
@eross-msft Could there maybe be a reference to that page from here?  I never would have thought to search for something called "Security Info Registration" to enabling the new profiles.  I'm an administrator and all my searching took me to these two pages which didn't give much information to administrators.  At least others can go to this page now and look at the closed tickets to see where they

[2019-10-23 20:32] flyboarder commented on #5806
When will Azure AD B2C access token be usable on the Microsoft Graph API?

[2019-10-23 20:35] mcollier opened #41341 "Default values for maxBatchSize and prefetchCount?"
Is the default value for maxBatchSize really 64, and prefetchCount really "n/a"?  When I look at the doc for EventProcessorOptions (see https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.eventhubs.processor.eventprocessoroptions?view=azure-dotnet#properties), it shows a default maxBatchSize of 10 and default prefetchCount of 300.  Is the Functions binding setting a different default?

---

[2019-10-23 20:43] TomArcherMsft commented on #35060
@bpollard  The article has been updated. I'll update this issue when the article is live (later today).

[2019-10-23 20:44] MarileeTurscak-MSFT commented on #41196
@taliesins thanks for this feedback.

Licenses are applied per tenant and do not transfer across tenants. I made a pull request to add this note in the documentation. https://github.com/MicrosoftDocs/azure-docs-pr/pull/93063

I've passed this along to the doc authors and to the product team as well, as I think the language in the portal could also be clearer.

Feel free to leave this as feedback i

[2019-10-23 20:44] #41196 closed

[2019-10-23 20:45] royshea opened #41342 "Update "Hadoop documentation" link"
Provided link to "Official Hadoop documentation" targets the old https://hadoop.apache.org/docs/r3.2.0/hadoop-azure/abfs.html version with almost no content.  Recommend updating to point to the more recent Hadoop documentation at https://hadoop.apache.org/docs/r3.2.1/hadoop-azure/abfs.html.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-10-23 20:45] #35060 closed

[2019-10-23 20:46] amason304 commented on #41062
I don't see an error when uploading the custom policy, but I have an IDE that is checking against the XSD and so it flags that element as invalid. I guess the XSD is out of date with reality? I also haven't seen evidence that the logs are being generated in the portal, but perhaps I don't understand where to look

[2019-10-23 20:49] eross-msft commented on #41223
@jasonfare  I truly do understand your pain, but we've had so many end users express their frustrations with us putting things in our content that they can't do. It turns out many of the users don't know whether they're administrators or not and don't understand the role difference. I will put some more thought into this and see if I can come up with a way to add a link.

[2019-10-23 20:50] femsulu commented on #41300
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-10-23 20:51] femsulu commented on #41306
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-10-23 20:52] josuvil opened #41343 ""disappearnce""
There is a misspelling "For more information see Understanding Azure AD Connect 1.4.xx.x device disappearnce"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57f5478b-3132-21d0-a420-a1140db235de
* Version Independent ID: 266bbd16-2117-f680-6493-e183eb09fdbc
* Content: [Azure AD Connect: Version release history](https://

[2019-10-23 20:53] RyanHill-MSFT commented on #40955
@Djongov I see your cloning your app from WebApp-RG to WebApp-RG-US. It's a stretch but do you get the same error if you clone within the resource group?

[2019-10-23 20:55] femsulu commented on #41321
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

@bandersmsft - can you help with these questions?

[2019-10-23 20:56] femsulu commented on #41325
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-10-23 20:56] lachie83 commented on #40650
I managed to track it down - https://github.com/Azure/kubeflow-labs/blob/master/1-docker/src/Dockerfile

[2019-10-23 21:00] femsulu commented on #41338
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-10-23 21:14] markjbrown commented on #41145
Hello. The Bootstrap program window has concluded and the program is now closed. We overlooked updating this article.

Our apologies for the inconvenience.

#please-close.

[2019-10-23 21:14] #41145 closed

[2019-10-23 21:22] RyanHill-MSFT commented on #40770
Hi @theronic you would in fact use

[code]

to insert your data using the mobile services sdk where `table` is the table name of your easy table. And since insert; along with the other CRUD methods, are async, you can promise to do your error handling as shown [here](https://github.com/Azure/azure-mobile-apps-quickstarts/blob/172c03dbf6c463815a5693f8120c2c0dd558f720/client/cordova/ZUMOAPPNAME/www/

[2019-10-23 21:22] #40770 closed

[2019-10-23 21:23] spelluru commented on #40826
@SeanFeldman - Checked with @axisc (Ashish). Currently, only premium supports publishing of events to Event Grid. Thanks.

[2019-10-23 21:27] SeanFeldman commented on #40826
Sorry for the confusion then.
Really needs to support the Standard as well...
Right, @axisc?

[2019-10-23 21:27] #40826 closed

[2019-10-23 21:45] richardspitz opened #41344 "Implement SSO - "Custom application onboarding is an Azure AD Premium P1 or P2 licenses feature""
Which one is it? P1 or P2? How does functionality differ between P1 and P2?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24a8e0d0-05e1-ed0a-9e8a-9c6527d9982c
* Version Independent ID: ef0e6101-abad-e5d5-0331-880fab1c46d1
* Content: [Plan an Azure Active Directory single sign-on deployment](https://docs.microsoft.com/

[2019-10-23 21:56] chriswue commented on #12992
Yes, this is the dockerfile we've been using:

[code]

and the entrypoint script (main point is to have a separate file for the connection string which then gets combined into the single iotedge config):

[code]

Run the container with bind mounting `/var/run/docker.sock:/var/run/docker.sock`. Assumes docker is running on the host

You might need to tweak it a little bit to suit your needs but ove

[2019-10-23 21:58] MonikaReddy-MSFT commented on #41330
@joeythomaschaske ,
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-10-23 22:00] TravisCragg-MSFT commented on #40135
@tsls Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-23 22:00] #40135 closed

[2019-10-23 22:01] TravisCragg-MSFT commented on #40872
@lichasu We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-23 22:01] #40872 closed

[2019-10-23 22:02] TravisCragg-MSFT commented on #40861
@Neckross We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-23 22:04] TravisCragg-MSFT commented on #39888
@raakeshn Any further updates on this? If not I will close for inactivity, and we can continue at any time.

[2019-10-23 22:06] SnehaGunda commented on #39542
@HowardEdidin Thanks for your response. As you update the tutorial, can you remove the mapping to FIHIR statements that are no longer supported and update the doc with the supported data format?

[2019-10-23 22:14] v-hacho commented on #41340
Hi Leo,

I have downloaded latest available client library and verified the versions are correct (please see below).

MSOLAP (amd64) | 15.1.5.15
MSOLAP (x86) | 15.1.5.15
AMO | 18.0.9.0
ADOMD | 18.0.9.0

[2019-10-23 22:17] SnehaGunda commented on #39986
@NullQubit sorry for the delay, do you get certain error when using VS2019? can you share the error message?

[2019-10-23 22:19] bcdunbar commented on #40523
hmmm looks like "next few months" for CSP customers https://azure.microsoft.com/en-us/updates/azure-cost-management-features-in-development-october-2019/

[2019-10-23 22:26] Alberto-Vega-MSFT commented on #40863
@robinsh   Screenshots might need to be updated. After completing the tutorial you have one simulated device but the screenshots show 7 which is confusing. This is what I saw
![image](https://user-images.githubusercontent.com/10910841/67438880-8881d900-f5a9-11e9-8be4-f8f8494f2066.png)

[2019-10-23 22:27] jeevansd commented on #41344
It is part of P1 license. Please see the Azure AD licensing here https://azure.microsoft.com/en-us/pricing/details/active-directory/

[2019-10-23 22:27] jeevansd commented on #41344
#please-close

[2019-10-23 22:27] #41344 closed

[2019-10-23 22:27] jeevansd commented on #41271
@v-viinde and @v-nagta Can you please fix this?
CC: @chetansriv Can you please track this?

[2019-10-23 22:31] kirikintha commented on #31468
@Stoumfou  - I know this has been closed for a while, but I wanted to reiterate your solution is correct and not well documented. Even on the latest version of the logic app designer, if you do not specify the minutes to the minute you want it to run, LA will pick a minute for you. I've included a screenshot of the set up and also of the before after, in case anyone finds this as well.

![2019-10-

[2019-10-23 22:33] roygara commented on #41281
Hello @jgwinner , thanks for reaching out.

Actually, at this time, AAD DS is not supported with Azure File Sync if you want to preserve your NTFS DACLs. What you're describing would fail- your ACLs would not be preserved...that is what you're trying to do here, correct?

[2019-10-23 22:34] dkinkead opened #41345 "Command needs to be updated"
It looks like the 'az ad sp create-for-rbac' command does not have the password option any longer as it says it is an invalid option and I don't see it listed as a valid option on the documentation page for it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: baa8b9eb-853d-2af6-cc4e-f2da4e95fd3a
* Version Independent ID:

[2019-10-23 22:35] MicahMcKittrick-MSFT commented on #41345
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-23 22:35] LeonardiSugianto commented on #41340
Hi Harsha,

Thanks for the reply. I tried to re-download them again but still got the
previous version:

[image: image.png]
I even tried to install it and it just did repair instead of upgrade to the
new version.
Is there anything that I missed?
Cheers,

Leo Sugianto

BI/DW DEVELOPER

Mobile 022 097 6494 <0220976494>
[image: B&T Facebook] <http://www.facebook.com/barfootandthompson> [image:
B&T Tw

[2019-10-23 22:35] KranthiPakala-MSFT commented on #41340
@v-hacho Thanks much for your assistance and  sharing your findings.

Hi @LeonardiSugianto , Could you please share the versions which you have downloaded from the links provided in the document?

[2019-10-23 22:40] LeonardiSugianto commented on #41340
This is the ADOMD one: x64_15.0.2000.20_SQL_AS_ADOMD.msi

The version is my local machine after installing that (repair):
[image: image.png]
Cheers,

Leo Sugianto

BI/DW DEVELOPER

Mobile 022 097 6494 <0220976494>
[image: B&T Facebook] <http://www.facebook.com/barfootandthompson> [image:
B&T Twitter] <http://twitter.com/#!/BarfootThompson> [image: B&T LinkedIn]
<http://www.linkedin.com/company/673

[2019-10-23 22:42] Adam-Smith-MSFT commented on #41304
@karthick4d It is possible only when enabling AAD DS, which supports authentication via user roles. Let me know if this helps.

Thanks,
Adam

[2019-10-23 22:44] SamaraSoucy-MSFT commented on #41024
I thought that might be the case, which is why I tried the other sample as well. I've uploaded the code here for you: [https://github.com/SamaraSoucy-MSFT/appconfigdyamic](https://github.com/SamaraSoucy-MSFT/appconfigdyamic)

[2019-10-23 22:45] v-hacho commented on #41340
Hi Leo,

15.0.2000.20 is the build number for the latest available client library. Can you please check the version following below instructions? If the version is 18.0.9.0, it means you have latest available client library.

Go to C:\Windows\Microsoft.NET\assembly\GAC_MSIL\Microsoft.AnalysisServices.AdomdClient\. If you have more than one folder, choose the higher number.
Right-click Microsoft.An

[2019-10-23 22:45] KS76 opened #41346 "Incorrect statement."
The following statement sounds incorrect. To request ID token,  we need to enable Access tokens under implict grant flow ?.

To successfully request an ID token, the app registration in the Azure portal - App registrations page must have the implicit grant flow enabled correctly, by selecting Access tokens and ID tokens under the Implicit grant section. If it's not enabled, an unsupported_response

[2019-10-23 22:45] Adam-Smith-MSFT commented on #41307
@xiongyu0523 Not sure if I understand your question, are you requesting a way to construct SAS via REST API ?

Thanks,
Adam

[2019-10-23 22:46] Adam-Smith-MSFT commented on #41342
@royshea Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-23 22:50] Alberto-Vega-MSFT commented on #40863
@jmonticelli @jhosteny I created an issue on the SDK repository so the team can fix the issue https://github.com/Azure/azure-iot-sdk-python/issues/373
I will leave this issue open cause I noticed that the screenshots do not match what you see following this guide and the content author will evaluate and update if appropriate.

[2019-10-23 22:52] KS76 opened #41347 "Request ID_token only ?"
The following statement sounds incorrect. To request ID token, we need to enable Access tokens under implict grant flow ?.

To successfully request an ID token, the app registration in the Azure portal - App registrations page must have the implicit grant flow enabled correctly, by selecting Access tokens and ID tokens under the Implicit grant section. If it's not enabled, an unsupported_response

[2019-10-23 22:52] SnehaGunda commented on #41101
@jwfallaw Thanks for pointing out the issue. I updated the links to point to powershell way to get the connection strings.

We will close this issue if there aren't further questions.

#please-close

[2019-10-23 22:52] #41101 closed

[2019-10-23 22:53] KS76 commented on #41346
I have created the issue under the feedback section of the page.

[2019-10-23 22:53] #41346 closed

[2019-10-23 22:54] LeonardiSugianto commented on #41340
Aww got it. Product version and build version. Thanks for clarifying that,
all good then. Please close or delete this :)

[image: image.png]

Cheers,

Leo Sugianto

BI/DW DEVELOPER

Mobile 022 097 6494 <0220976494>
[image: B&T Facebook] <http://www.facebook.com/barfootandthompson> [image:
B&T Twitter] <http://twitter.com/#!/BarfootThompson> [image: B&T LinkedIn]
<http://www.linkedin.com/company/67

[2019-10-23 22:58] KranthiPakala-MSFT commented on #41340
Hi @LeonardiSugianto,  as @v-hacho mentioned below section of the document explains on how to determine the client library version.

https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-data-providers#bkmk_LibUpdate

We will now proceed to close this thread. If there are further questions regarding this matter, please reply and reopen the issue. We will gladly continue the di

[2019-10-23 22:58] #41340 closed

[2019-10-23 23:02] rwike77 commented on #40828
@lafe, sorry for the inconvenience.  Yes, MSA accounts are now supported in device code flow.  We're updating the content, should be published shortly.

The end point is https://login.microsoftonline.com/{authority}/oauth2/v2.0/devicecode .  authority can be  /common, /consumers, or /organizations.  It can also be the directory tenant that you want to request permission from in GUID or friendly na

[2019-10-23 23:02] SamaraSoucy-MSFT commented on #41159
You are correct that the site is now setup for using the Javascript SDK and you can call methods like `appInsights.trackevent()`. I will assign this to the doc author to decide whether or not to add an example in addition to the linked documentation.

[2019-10-23 23:03] hpsin commented on #41347
You're correct, that wording is bad and incorrect.   Fixing now.

[2019-10-23 23:03] hpsin commented on #40933
That's not how you should use it.  I'll clean up the example.

[2019-10-23 23:05] Neckross commented on #40861
Wait... Why? Didn't you read the engineer said we're working on a fix that will be deployed soon... That has not happened yet, please don't close it until the fix has been applied and the issue has been resolved.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: TravisCragg-MSFT <notifications@github.com>
Sent: Wednesday, October 23, 2019 6:02:33 PM
To: Micros

[2019-10-23 23:06] jgwinner commented on #41281
Correct, but that's confusing as this document says:

https://docs.microsoft.com/en-us/azure/storage/files/storage-files-active-directory-overview

Is there something I'm missing?

The goal is to have Azure Files replicate an on-prem file server, maintain DACL's, and be able to access that file server via the cloud. For the latter, I realize it'll require a separate Azure VM (which is sort of biza

[2019-10-23 23:06] SnehaGunda commented on #41145
@markjbrown submitted a PR to remove the bootstrap links from docs.

[2019-10-23 23:07] TravisCragg-MSFT commented on #40861
@Neckross I can re-open the issue until this is fixed.

[2019-10-23 23:15] mkiernan commented on #41172
Unfortunately tried lots of browsers, in private mode etc. nothing works. Asked a colleague to try the same - he can't get it to work either.

[2019-10-23 23:17] Mike-Ubezzi-MSFT commented on #40928
@dev9998 Apologies for the delay in looking into this issue. This is being looked at now.

[2019-10-23 23:25] svangeti opened #41348 "Python function app zip deployment doesn't work in Linux Standard/Premium app service plans"
The python function app zip deployment with "WEBSITE_RUN_FROM_PACKAGE" with url doesn't work in Linux Standard/Premium app service plans but the same is working with Linux Consumption plan.

Are there any limitation around python zip deployments with App service plans?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbd

[2019-10-23 23:26] femsulu commented on #40966
@DBtheDBA  - we will now close this request. please don't hesitate to reply if you have any follow-up questions.

[2019-10-23 23:26] #40966 closed

[2019-10-23 23:28] iainfoulds commented on #41282
Thanks for the feedback, @jgwinner

As the docs note, tutorials and how-to article use the custom domain of _contoso.com_ as a short example to keep the text and screenshot examples brief. In all commands, you'd then specify your own domain name, which may include a unique prefix.

There's nothing actually stopping you from using the root domain of _contoso.com_, for example, you'd just need to ma

[2019-10-23 23:28] #41282 closed

[2019-10-23 23:30] femsulu commented on #37793
@anirudhcavale  - any input or update on this please?

[2019-10-23 23:30] dkelertastspl opened #41349 "Azure SQL Serverless - when will it have ARM template support?"
Prior to serverless feature we use ARM templates to provision Azure SQL DB's, however there appears to be no support for building a serverless config using ARM template. I can create standard DTU using ARM, then use Powershell to change to serverless but then I can't redeploy ARM with unrelated changes (such as a new LTR backup config) without it reverting to DTU. I am forced to make ongoing incre

[2019-10-23 23:31] mike-urnun-msft commented on #41319
@svangeti Thank you for your feedback! We will review and update as appropriate.

[2019-10-23 23:32] DBtheDBA commented on #40966
No problem, just trying to give you a heads-up on this issue.  Apologize,
but I just don't have a lot of time to give feedback on all of the bugs I
find.  I commented out the guts of your "find_available_port" function and
my issue went away.  I suspect the installation has an order-of-execution
issue on the service such that it's checking for an available port after
the service has started.....

[2019-10-23 23:33] dkelertastspl opened #41350 "Azure SQL Serverless - when will it have ARM template support?"
Prior to serverless feature we use ARM templates to provision Azure SQL DB's, however there appears to be no support for building a serverless config using ARM template. I can create standard DTU using ARM, then use Powershell to change to serverless but then I can't redeploy ARM with unrelated changes (such as a new LTR backup config) without it reverting to DTU. I am forced to make ongoing incre

[2019-10-23 23:36] anirudhcavale commented on #37793
This document is not hand crafted. It is auto-generated using metadata from each Azure service. That metadata file doesn't have a description for each azure service.
#please-close

[2019-10-23 23:36] #37793 closed

[2019-10-23 23:39] femsulu commented on #38371
@Nkiest - is this something you can help with?

[2019-10-23 23:41] yunjchoi commented on #35357
@KeiroKamioka0000 and @SnehaAgrawal-MSFT,
Can you verify that this issue has been addressed and close it?

[2019-10-23 23:52] qibozhu opened #41351 "Page not found error when clicking "building and managing" hyperlink"
The hyperlink is in "Well managed using software-defined innovation" section:

Running one of the leading clouds in the world, Microsoft has gained a lot of insight and experience in _building and managing_ high-performance global infrastructure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77cbdf7e-3cba-b87b-214a-a7

[2019-10-24 00:07] MarileeTurscak-MSFT commented on #41343
@josuvil
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-24 00:08] brandikun opened #41352 "Public Key doesn't match the JWK_Uri key for the specified "kid" in access_token"
According to the docs I have set up both a client and service app in the Azure AD portal. I have added a scope to the service, then added that scope to the set of permissions requested by the client App. I am using MSAL on android to request an id and access_token using auth code grant flow and the custom scope. I get an access token back with the correct "aud" and "scp". I will mention that the t

[2019-10-24 00:09] MGoedtel commented on #40684
I'm escalating this with engineering to identify what the specifics are for that sovereign cloud.  #in-progress

[2019-10-24 00:10] MarileeTurscak-MSFT commented on #41336
@kjulson
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-24 00:10] MarileeTurscak-MSFT commented on #41343
Good catch. Just fixed it. https://github.com/MicrosoftDocs/azure-docs-pr/pull/93113

[2019-10-24 00:10] #41343 closed

[2019-10-24 00:11] damiandiaz76 commented on #40733
It seems to work for me too.  Thanks for checking!

[2019-10-24 00:13] MGoedtel commented on #36949
After following up with engineering there is no ETA as to when this will be supported with AzCLI. It is planned for and that's the best answer I can provide at this time.  Nothing planned that I am aware of regarding accomplishing via Terraform.  #please-close.

[2019-10-24 00:13] #36949 closed

[2019-10-24 00:14] MGoedtel commented on #40864
Yes, I'll bug this and we will get to it as soon as we can. #in-progress

[2019-10-24 00:22] ashishmundrajll commented on #41191
Yes, so what I understand from your comment is that, I can connect Azure APIM to Okta and then Register Apps in Okta and then also this will work.

[2019-10-24 00:24] Alberto-Vega-MSFT commented on #41163
We will now proceed to close this thread. Feel free to share the link here if you create the question on the Edge repository. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-24 00:24] #41163 closed

[2019-10-24 00:25] MarileeTurscak-MSFT commented on #41167
Thanks @Don-Fuego

I made a pull request to add this note https://github.com/MicrosoftDocs/azure-docs-pr/pull/93116

[2019-10-24 00:25] #41167 closed

[2019-10-24 00:26] Alberto-Vega-MSFT commented on #41161
@josiahlaivins We will now proceed to close this thread. If for some reason you do not get traction on the Edge repo please or if there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-24 00:26] #41161 closed

[2019-10-24 00:30] #41241 closed

[2019-10-24 00:32] bel-from-nz commented on #40941
I had this same issue. Ended up swapping to App Gateway V2 instead using the Trusted CA cert option on the backend http settings

[2019-10-24 00:38] FrankHu-MSFT commented on #41237
Hey @gprl I see, we're currently looking into this issue a little further and will let you know the results as soon as possible.

Thanks for your question!

[2019-10-24 00:42] MarileeTurscak-MSFT commented on #41233
@itguysocal I reached out to the product team to check.

[2019-10-24 00:47] FrankHu-MSFT commented on #41056
Hey @jaffadog I'm currently looking into this issue a little bit further, and will get back to you once I have an update in regards to the optional claims for extension attributes.

In the meantime if you need to get this working, many customers have had better success using the custom claims mapping policy which is discussed here : https://docs.microsoft.com/en-us/previous-versions/azure/ad/graph

[2019-10-24 00:54] MGoedtel commented on #40864
I just took a look at the query myself and it is syntactically correct.  I ran it as is and it returned results by aggregating the count per each data type and sorting by the highest count.  Your suggested change isn't valid and causes a syntax error and as a result, there is no change required to the example query.  #please-close

[2019-10-24 00:54] #40864 closed

[2019-10-24 01:21] TomArcherMsft commented on #26747
@fernandoBRS Thank you for the feedback. I'm updating the article now.

[2019-10-24 01:37] TomArcherMsft commented on #26747
@fernandoBRS I've updated the article and it's been merged. I'll update this thread when it's live.

[2019-10-24 01:43] VikasPullagura-MSFT commented on #41197
@satish225 Thanks for confirming that the issue is resolved now.
I am closing this issue now.
Thanks.

[2019-10-24 01:43] #41197 closed

[2019-10-24 01:57] Mike-Ubezzi-MSFT commented on #40928
@dev9998 Did you want to have a dialog to be able to pass in a search string to search on @description?

[2019-10-24 02:08] Mike-Ubezzi-MSFT commented on #40928
In `ICosmosDbService` you have the following `Task<Item> GetItemAsync(string id);` where ID is the primary property for listing task items.

namespace todo.Services
{
    using System.Collections.Generic;
    using System.Threading.Tasks;
    using todo.Models;

    public interface ICosmosDbService
    {
        Task<IEnumerable<Item>> GetItemsAsync(string query);
        Task<Item> GetItemAsync(

[2019-10-24 02:18] Mike-Ubezzi-MSFT commented on #40928
@SnehaGunda Is there guidance on how to extend the ToDo Web App solution so customers have some guidance on how to modify the code to meet a specific use case? I believe the `id` value drives all the query results and that likely should not be changed but if the customer wanted to add an additional search by task name or description, what would be needed to accomplish this?

[2019-10-24 02:23] TomArcherMsft commented on #36335
@bijopunnoose I apologize for the long wait. I know that the engineering team has this on their plate, but they've been busy Ignite work. I'll ping them again to get an ETA. Thanks much for your patience.

[2019-10-24 03:03] AvatarRolon commented on #41320
# Try
 I tried in my browser in private mode, but i'm still not able to see the "save" button

![image](https://user-images.githubusercontent.com/35464194/67449772-e0880200-f5e0-11e9-99c2-2690289d59b7.png)

[2019-10-24 03:04] TomArcherMsft commented on #33434
@marcinpraczko Are you asking about how to use SSL cert to authenticate/sign in to a Linux machine with Ansible?

**~/.azure/credentials** is one of the many ways to keep Azure service principal used to authenticate to Azure.

Refer to https://docs.ansible.com/ansible/latest/scenario_guides/guide_azure.html

[2019-10-24 03:14] jz247 commented on #41189
It works. Thank you so much for your help, @RohitMungi-MSFT!

[2019-10-24 03:22] TomArcherMsft commented on #32860
@ScottAzure Chef is not supported internally and the Chef team has not replied to this.

@MicahMcKittrick-MSFT #please-close

[2019-10-24 03:22] #32860 closed

[2019-10-24 03:53] TomArcherMsft commented on #29061
@axelgMS The engineering team explained that, "Jenkins plugin name can’t be changed once shipped."

#please-close

[2019-10-24 03:53] #29061 closed

[2019-10-24 04:05] neeleshray-msft commented on #41339
@tylerwel Thank you for your query. We will check on the same and update the thread.

[2019-10-24 04:07] KrishnaG-MSFT commented on #41344
@jeevansd Thanks for the quick response. :+1:

[2019-10-24 04:09] KrishnaG-MSFT commented on #41346
@KS76 Thanks for the update.

[2019-10-24 04:09] thikon opened #41355 "Sign-in error code does not display on password credentials"
I tried to authenticate with password credentials flow from these url "https://docs.microsoft.com/en-US/azure/active-directory-b2c/configure-ropc" but i didn't get the sign-in error code from response message when account is locked.

 Could you recommend me what is the best solution for getting a sign-in error code?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2019-10-24 04:13] anas24aj commented on #41103
Hi @ChiragMishra-MSFT

Sorry for the delayed response.
I was referring to https://docs.microsoft.com/en-in/azure/site-recovery/vmware-azure-architecture document to understand how I can Enable DR as a service from VMware enabeled on prem env to Azure.
I couldn't find any where mentioning about the availability of Management Server, It make me curious. as the Management Server will become a SPOF

[2019-10-24 04:13] TomArcherMsft commented on #27414
@Leon99 @echuvyrov As this is not a tested scenario, it's not something we document.

#please-close

[2019-10-24 04:13] #27414 closed

[2019-10-24 04:14] KrishnaG-MSFT commented on #41328
@TylerMSFT Thanks for the quick response.
@thebestshop To better assist you, you may provide more details on the feedback.

[2019-10-24 04:19] PramodValavala-MSFT commented on #41341
@mcollier Thanks for the question! We will review and get back to you!

[2019-10-24 04:23] RohitMungi-MSFT commented on #41189
@jz247 We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-24 04:24] #41189 closed

[2019-10-24 04:32] ChiragMishra-MSFT commented on #41103
@anas24aj Thanks for sharing the doc link. I have assigned the issue to the respective team to take a look.

[2019-10-24 04:32] neeleshray-msft commented on #41175
@jyotsnaravikumar
This could be because of the browser cache with the user credentials.
1. Suggest you to go to the Portal, login with the tenant Admin credentials. Now go under the user that you have invited and you would find an option to "Resend The Invitation"
![Guest User](https://user-images.githubusercontent.com/52521788/67453756-48703400-f645-11e9-8c0c-9edc5fd1444b.JPG)

2. Now the user wo

[2019-10-24 04:36] SwathiDhanwada-MSFT commented on #41219
@ciufudean I have verified by adding the extension to VM  and it shows location of log file as "C:\WindowsAzure\Logs\Plugins\Microsoft.Azure.Diagnostics.IaaSDiagnostics<DiagnosticsVersion>\" . Can you confirm if  the log location provided for the cloud service ?

[2019-10-24 04:38] SwathiDhanwada-MSFT commented on #41085
@thiagosoeiro Just following up on the issue to check if you have got chance to provide the required information.

[2019-10-24 04:38] SwathiDhanwada-MSFT commented on #41084
@thiagosoeiro Just following up on the issue to check if you have got chance to provide the required information.

[2019-10-24 04:42] neeleshray-msft commented on #40897
@chjone  As of today with the Call to Phone option, the user would have receive a call that they have to pick and press the # key to complete the MFA challenge. Else, they can setup for a verification code that would be sent as a text message. **Ref**: [Additional security verification page](https://docs.microsoft.com/en-us/azure/active-directory/user-help/multi-factor-authentication-end-user-firs

[2019-10-24 04:42] #40897 closed

[2019-10-24 04:44] PramodValavala-MSFT commented on #41191
@ashishmundrajll Yes. APIM supports any OAuth or OpenID Connect providers.

[2019-10-24 04:46] TomArcherMsft commented on #10806
@nvick @ronbok I apologize for nobody updating this. The article has had several owners and this fell between the cracks. I'll take it as a task to update this article and clean up the ambiguity.

#please-close

[2019-10-24 04:46] #10806 closed

[2019-10-24 04:48] souravmishra-msft commented on #41352
@brandikun, Thank you for sharing the details. We are looking into this and will get back to you soon on this thread.

[2019-10-24 04:55] neeleshray-msft commented on #41355
@thikon Thank you for the query. We would check and update on the same.

[2019-10-24 05:09] GiftA-MSFT commented on #41134
Okay, thank you @greazer for the information.

@stawo hope the above comments help to clarify the issue you;re experiencing, we're currently working on a resolution. Please let us know if you have further questions or concerns, otherwise, we'll proceed to close this thread.

[2019-10-24 05:10] SubhashVasarapu-MSFT commented on #41351
@qibozhu , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-10-24 05:14] SnehaAgrawal-MSFT commented on #41230
@nspiteri We typically try to keep the Azure-Docs channel scoped to feedback directly about the docs. Since your question goes beyond what is discussed in the doc, we kindly invite you to share your question [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home) forum. Thank you for your understanding

[2019-10-24 05:27] msrini-MSFT commented on #41172
@mkiernan , This requires deeper investigation, can you raise a support request to check why you are not getting the copy/paste palette. If you don't have a support plan, drop an email to azcommunity@microsoft.com with your subscriptionID. I will enable one time free support ticket to get this issue resolved.

When you get an working solution from support, please update this thread so other custom

[2019-10-24 05:27] #41172 closed

[2019-10-24 05:31] KetanChawda-MSFT commented on #41348
@svangeti Thank you for your question! We will review and provide an update as appropriate.

[2019-10-24 05:32] SubhashVasarapu-MSFT commented on #40835
@JackNs-16 , We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-10-24 05:32] #40835 closed

[2019-10-24 05:33] msrini-MSFT commented on #41270
@swhite24 , Do you have any redirect config in your backend server or in AFD ?

When I tried to debug your URL which you mentioned, I see this:

Request URL: https://myfd.azurefd.net/foo
Request Method: GET
Status Code: **302**
Remote Address: [2620:1ec:bdf::10]:443
Referrer Policy: no-referrer-when-downgrade
content-length: 0
date: Thu, 24 Oct 2019 05:29:33 GMT
location: /pages/404.html
**server:

[2019-10-24 05:40] ggailey777 commented on #41348
Are you [sync'ing your triggers](https://docs.microsoft.com/azure/azure-functions/functions-deployment-technologies#trigger-syncing) after deployment?

@ColbyTresness should we also link to [trigger syncing](https://docs.microsoft.com/azure/azure-functions/run-functions-from-deployment-package#enabling-functions-to-run-from-a-package) from this run from package article?

[2019-10-24 06:14] stoff75 opened #41357 "Same domain account -> 2 tenants in migration scenario"
We're facing a migration scenario where we have one AD forest synced to TenantA with Azure AD Connect.
We have about 8 UPN domains.
Now we need to move to a new tenant (TenantB) but want to keep the on-prem AD identities intact.
Would it be possible to setup a seperate Azure AD Connect and sync users to TenantB so their identities are created in TenantB with a @tenantb.onmicrosoft.com UPN while we

[2019-10-24 06:38] pmeuser opened #41358 "Howto configure F5 SSO for SAML applications?"
We are running on-prem SAML apps that needs to be published/protected with F5/AAD. Is there a best practice guide for this scenario available from Microsoft, too?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 425194b4-d7e2-5f13-a6ca-294bd227d565
* Version Independent ID: f69fa1c5-ae24-be73-e77b-1c3d8c8fd6a1
* Content:

[2019-10-24 06:52] haroldwongms commented on #41345
Addressed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/93150

[2019-10-24 06:53] raakeshn commented on #39888
I am sorry for the delay, Travis.

I am trying hard to get access to labs. My team tested RDS access (Access to the RD Gateway) without firewall interference.

Please archive the case. I will keep you posted.

Thank you very much for the kindness.

Regards
Raakesh

[2019-10-24 07:05] Sandeepkumarv399 opened #41359 "Modifying Availability zone for an existing Disk"
I created a VM without Availability zone. I have data in its OS disk. I now wish to re-create the VM within an Availability Zone using the same disk. So i delete VM retain disk and use the old disk. Will the disk be moved to the same Availability zone?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4dd4a5e2-c630-2702-a

[2019-10-24 07:17] lafe commented on #40828
Thanks for the feedback. I am looking forward to the documentation. I was able to get my project running, but unfortunately, it was more of an trial and error approach (not just this page but the whole documentation regarding Device Code flow and Microsoft accounts (also with the MSAL library).

[2019-10-24 07:42] pkanavos commented on #38903
@blessingmu GDPR isn't that simple, nor does it require encryption. It's about data access, processing and retention. Database encryption won't make an *application* or web site GDPR compliant.

Encryption isn't required and in fact, won't help at all with the most common problems:  if *everyone* has access to the web app that uses that database, if there are no access rules in the app, if the dat

[2019-10-24 07:56] pkanavos commented on #38903
@blessingmu for starters, that's an old issue. Always Encrypted was added in the new Microsoft.Data.SqlClient which is used by EF Core 3.0. Check [Introducing the new Microsoft.Data.SqlClient](https://devblogs.microsoft.com/dotnet/introducing-the-new-microsoftdatasqlclient/) and [the relevant issue](https://github.com/dotnet/SqlClient/issues/11)

Second, GDPR doesn't require encryption nor can you

[2019-10-24 08:10] rajurh commented on #40074
Thanks for the update.

[2019-10-24 08:29] VikasPullagura-MSFT commented on #41359
@Sandeepkumarv399 Thank you for sharing the query. We are looking into this and would get back to you soon on this thread.

[2019-10-24 08:30] KalyanChanumolu-MSFT commented on #41349
Duplicate of #41350

[2019-10-24 08:37] KalyanChanumolu-MSFT commented on #41350
@dkelertastspl Azure SQL Database Serverless is still in preview.
ARM template support should be available by the time it reaches GA (general availability).
We do not have the timelines at this time.
This feature is already [requested ](GA (general availability) ). Please vote for the same.

[2019-10-24 08:37] #41350 closed

[2019-10-24 08:38] lgmorand commented on #31081
6 months later, the doc is still no clear. it just say, you'll need CLI and Firewall...and that's all.

[2019-10-24 08:53] VikasPullagura-MSFT commented on #41205
@JDWNL Thanks for confirming on the confusion.
Hope you got this clarified now, I am closing this issue now.
However feel free to reply on this thread, if you have further questions so that we can reopen this issue and continue.

[2019-10-24 08:53] #41205 closed

[2019-10-24 08:59] AshokPeddakotla-MSFT commented on #41187
@inzi25 Please ensure you complete the prerequisite [Quickstart: Use Visual Studio Code to connect to a Azure Blockchain Service consortium network](https://docs.microsoft.com/en-us/azure/blockchain/service/connect-vscode).
Also, please refer the suggestions outlined [here](https://github.com/MicrosoftDocs/azure-docs/issues/41334) and see if it helps.

@mprsic Please continue your discussion on th

[2019-10-24 09:02] perkops opened #41361 "Trigger - C# example - Code block mixes v.1.x and v.2.x syntax"
[FunctionName("ServiceBusQueueTriggerCSharp")]
public static void Run(
    [ServiceBusTrigger("myqueue", AccessRights.Manage, Connection = "ServiceBusConnection")]
    string myQueueItem,
    Int32 deliveryCount,
    DateTime enqueuedTimeUtc,
    string messageId,
    ILogger log)
{
    log.LogInformation($"C# ServiceBus queue trigger function processed message: {myQueueItem}");
    log.LogInforma

[2019-10-24 09:06] ram-msft commented on #41199
@NikhilBansal21 Thanks, We try to reserve these issues for feedback directly related to the tutorials: like if there are errors that blocks tutorial completion or if there are updates/changes required, suggestions for improvement, etc.
I would recommend open an issue with your question on the [StackOverflow dev forums](https://stackoverflow.com/questions/tagged/azure-cognitive-services)  where the

[2019-10-24 09:09] mprsic commented on #41334
@AshokPeddakotla-MSFT Ganache-CLI installation returned the error below, on a clean machine, and following the quickstart process closely. In the end, did state that "Keccak bindings compilation fail. Pure JS implementation will be used". So far, I was able to run VS Code and create a sample project with truffle unbox. Unsure however if this problem will have any other effect. Will let you know so

[2019-10-24 09:18] SadiqhAhmed-MSFT commented on #41185
@Rajani-Janaki-Ram Could you please check this query and help further?

[2019-10-24 09:19] SadiqhAhmed-MSFT commented on #41102
@tfitzmac Would you be able to provide some help here?

[2019-10-24 09:22] impact79 opened #41362 "Question about deallocation of VMs using ephemeral OS disks"
The Article says "VMs and scale set instances cannot be stop-deallocated". Does this mean that the VMs are producing costs 24/7 even if i stop them?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8064dd15-4df9-79ed-9ba2-6faceb0fc6d0
* Version Independent ID: 5698d8b5-23e9-878d-fdfd-59f871dd552b
* Content: [Ephemeral OS

[2019-10-24 09:41] Anaig opened #41363 "Tag function"
Could you please give an example of tag parameter for the tag scoring function? Its function is a bit unclear

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a4500af-aa55-57cc-98b6-6994f64101a1
* Version Independent ID: c662d3eb-971c-4acf-f78d-45c9628c3184
* Content: [Add scoring profiles to a search index - Azure Sear

[2019-10-24 09:52] limjianan opened #41364 "AADconnect system requirement"
at the last paragraph, it says "minimum requirement for computer running AD FS or Web Application Servers"

This article is all about AADConnect, so i will assume it should be AADConnect instead of AD FS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06faa428-c7b6-ca5c-271e-3f98d9536d4f
* Version Independent ID: 63adb

[2019-10-24 09:56] #39192 closed

[2019-10-24 10:09] SwathiDhanwada-MSFT commented on #41219
@rboucher Can you please review this and update the document accordingly?

[2019-10-24 10:13] Sudharma opened #41365 "basic authentication documentation is totally obselete. Please update"
The basic auth implementation guide <https://docs.microsoft.com/en-us/azure/api-management/api-management-authentication-policies> is totally obsolete. Please Update the documentation for Basic credentials can be already validated using a combination of check header policy and expression (use named value for storing username and password).

Please let me know if this is valid and makes sense!

---

[2019-10-24 10:20] #41186 closed

[2019-10-24 10:21] cconcordet commented on #40856
@mike-urnun-msft I tried to but I coudn't use links in my question and therefore couldn't tag you, so please find the issue [there](https://social.msdn.microsoft.com/Forums/en-US/8582c383-8fe3-49ee-9d95-b3587e893f3c/install-and-import-xgboost-in-the-deployment-of-python-azure-function-app?forum=AzureFunctions)

[2019-10-24 10:24] Rajani-Janaki-Ram commented on #41186
#please-close

[2019-10-24 10:32] maryannlim opened #41367 "Max # of role assignments in each management group < max # of role assignments in each subscription?"
I noticed that the limit on role assignments per subscription is higher than that for each management group. Does this look correct?

"You can have up to 2000 role assignments in each subscription and 500 role assignments in each management group."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e21d4b9-f574-e01d-8676-

[2019-10-24 10:42] Valery-Lapurin commented on #39430
Updates. When I re-created AKS from scratch today, didn't face any problems while setting up CI/CD...

[2019-10-24 10:51] ChiragMishra-MSFT commented on #41194
@artsheiko Since I have not heard from you in quite some time, I will proceed to close this issue now. Feel free to still comment and tag me if you have any queries in this regard.

[2019-10-24 10:51] #41194 closed

[2019-10-24 10:53] SubhashVasarapu-MSFT commented on #41109
@idubnori , Appreciate your patience. We are assigning this issue to content author to update the document accordingly .

[2019-10-24 10:59] francisco-ltech commented on #22870
@tscholze Just in case you still have issues. The TextAnalyticsClient object knows about the endpoint via the method, e.g.: client.Entities(), so if you just delete "/text/analytics" form your url, it should work.

[2019-10-24 11:04] marcinpraczko commented on #33434
@TomArcherMsft  When I was working on this my issue was that both docuementations (Azure and Ansible) recommending to use Certificate Auth (Service Principal). However there was not clear details how to generate proper Certiicate and what is proper syntax for `~/.azure/credentials`. All examples whcih I found on internet ALWAYS got password - not SSL cert.

[2019-10-24 11:07] iceyokuna opened #41368 "Get-AzPolicyState only returns only 1000 results"
The problem is "Get-AzPolicyState" is return only 1000 results by default.
So, i use -top parameter to get more data but when i try with "-top 3000", its worked!!.
But when i change value to 5000, it didnot work with error "ResponseTooLarge: The query response exceeded the allowed size"

**command**
get-azpolicystate -ManagementGroupName "{my tenant id}" -top 5000

**Error message**
get-azpolicyst

[2019-10-24 11:18] kez96 opened #41369 "namespace name 'CreatePersonResult' could not be found."
I am trying to follow the 'Example: Identify faces in images' How-To (https://docs.microsoft.com/en-us/azure/cognitive-services/face/face-api-how-to-topics/howtoidentifyfacesinimage) but I am getting a missing reference when trying to use 'CreatePersonResult'.

I have downloaded Microsoft.Azure.CognitiveServices.Vision.Face version 2.5.0-preview.1 (Although I have tried the previous versions as we

[2019-10-24 11:30] MonikaReddy-MSFT commented on #40789
@v-kydela , I am sorry for not clarifying it clearly, and yes you are correct. Once you select the Node in Runtime Stack while creating the WebApp, it should be automatically selected as the stack and the actual stack dropdown is ignored for now. As I mentioned earlier, the Product team is aware of it and they are planning to clear this confusion in the future.
![NodeJSStack](https://user-images.g

[2019-10-24 11:31] SumanthMarigowda-MSFT commented on #41088
@murdockcrc  I was able to reproduce the issue and Configure encryption with customer-managed keys
![Untitled](https://user-images.githubusercontent.com/44606021/67481285-72464c80-f67f-11e9-9a64-1667cf597606.png)
![Untitled1](https://user-images.githubusercontent.com/44606021/67481289-74101000-f67f-11e9-8513-18d3c2da2da1.png)

 az storage  account update  --name su***diag --resource-group  Storage

[2019-10-24 11:31] #41088 closed

[2019-10-24 11:39] AjayKumar-MSFT commented on #41363
@Anaig, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-10-24 11:43] joachimloe opened #41370 "Workplace - Azure - User Provisioning - Not Approved"
Any news on the New Guidelines from Workplace in regards to the User Provisioning.?
When can we expect to see it approved or define if we need to plan for a change here?

1 week before deadline is not enough time.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00d003d5-46df-5bd0-b33f-105cf2445950
* Version Ind

[2019-10-24 11:47] pmeuser opened #41371 "Inconsistent broker behavior?"
We have observed this behavior of Authenticator on iOS:
Authenticator is NOT installed on a device and the first apps signed by the same certificate (from same vendor) are installed using shared keychain for SSO. If then Authenticator will be installed, newly installed apps signed with the same certificate (from same vendor) will stick with the shared keychain and do not use Authenticator. To have

[2019-10-24 11:48] SriharshaHack opened #41372 "Typo - "endpoiont""
There's a typo in the line below, it should be "endpoint" instead of "endpoiont"  -
"So if your app uses the v2.0 endpoiont to get a token to call Microsoft Graph, which expects v1.0 format access tokens, your app will recieve a token in the v1.0 format."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0e44e68-9746-eaa

[2019-10-24 11:51] sajithvasu commented on #40941
@TravisCragg-MSFT: Any luck? Were you able to reproduce this scenario and check?

[2019-10-24 11:53] shimst3r opened #41373 "Example ARM for Linked Service misses optional `dependsOn` attribute"
## Issue

When I tried to connect a Storage Account to my Data Factory via a Azure Key Vault Linked Service using *one* ARM template and Terraform Template deployment, the deployment would not work until I added an `"dependsOn": "<Key Vault Linked Service>"` to each Storage Linked Service.

## Solution

Describe the optional step of adding `dependsOn` in the case that all services are deployed usi

[2019-10-24 11:54] artomh commented on #5806
Most likely never. B2C access token context is "consumer" identity. And consumer has no business accessing MS Graph. B2C access token is only relevant to access and API which itself is federated with B2C. This is the most common misconception about Azure AD B2C. It should really be looked at as a separate product, unrelated to Azure AD. Which of course is hard, considering its built on one.

[2019-10-24 11:56] rajdhandus opened #41374 "No mention of effectiveOutboundIPs"
With the most recent version of AKS, I believe we can designate IP addresses that should be used for all egress traffic.. there is no mention of that in this relevant page at all...

https://docs.microsoft.com/en-us/azure/templates/microsoft.containerservice/2019-08-01/managedclusters

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-10-24 12:03] giuliov commented on #41314
Confirm that `az extension update --name aks-preview` fixes the issue

[2019-10-24 12:04] ilcorvo opened #41375 "Some Example"
Here is where I found some very useful examples :
https://codehollow.com/2016/03/azure-servicebus-filters/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03b00e4d-3af1-d053-373e-7724bc81113b
* Version Independent ID: e0e54223-efc3-f69f-efc1-e19ba0010760
* Content: [Azure Service Bus SQLFilter syntax reference](https://

[2019-10-24 12:09] KrishnaG-MSFT commented on #41178
Assiging content owner @rayne-wiselman for visibility, help, review, document enhancement considerations and update OMS related image & OMS related content accordingly (if required).

[2019-10-24 12:16] tikimo commented on #39771
Hi,

Thank you very much.

[2019-10-24 12:20] Rajani-Janaki-Ram commented on #41185
checked in

#please-close

[2019-10-24 12:20] #41185 closed

[2019-10-24 12:33] VikasPullagura-MSFT commented on #41359
@Sandeepkumarv399 This is my understanding of your question.
1. You are trying to recreate a non Availability Zone VM to a Availability Zone option and want it with the same Data disk as the old VM.
2. Also, you mentioned that you have data on the OS disk on a non-AZ VM (you want to restore the data onto new VM in AZ if that is possible).

Here are the solutions that I tried reproducing in my Lab

[2019-10-24 12:38] lordneeko commented on #38859
what is the timeframe for resolution? I need to know how to switch the App Service Plan from Standard to Free pricing. The option within the interface appears to be missing, and the only section that shows the pricing tier (Properties) doesn't let you change it.  If someone can quickly just tell me how to change it I'd appreciate it!

[2019-10-24 12:39] james-stocks commented on #40493
Thanks Marilee.
It's interesting that that query is users with MFA registered, and not just uses with MFA enabled. I think we need compliance checks for both.

Is there a better forum/helpdesk for requesting new interfaces for MSOL management?

Thanks!

[2019-10-24 12:39] cephalin commented on #38569
@lukepuplett Sorry for the delay. One of our CDAs has a blog on this: https://blog.maximerouiller.com/post/using-easyauth-appservice-authentication-with-aspnet-core/. The short answer is no but he has a workaround. I added the information into our doc and it should be published sometime today. #please-close

[2019-10-24 12:39] #38569 closed

[2019-10-24 12:40] andrewbettany opened #41376 "Download the template for a VM - files"
This page contains old information as follows:
The following are all files that appear in the downloaded zip file: 

parameters.json
template.json 

Previously, these files were also included in the download:
deploy.ps1
deploy.sh
deployer.rb
DeploymentHelper.cs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 818affca-9d

[2019-10-24 12:42] cephalin commented on #38859
@lordneeko are you following this doc: https://docs.microsoft.com/en-us/azure/app-service/manage-scale-up? The screenshots there are updated and you should be able to change the pricing tier. There's a link in this doc to go there as well.

[2019-10-24 12:45] lordneeko commented on #38859
ah! thanks!

[2019-10-24 12:54] brandikun commented on #41352
Thank you. I think the basic issue is that these docs should include more
details about how key validation works behind the scenes for users who run
servers that can't use MSAL server libraries for whatever reason.

On Wed, Oct 23, 2019, 9:49 PM souravmishra-msft <notifications@github.com>
wrote:

[2019-10-24 12:54] jtuliani opened #41378 "Missing Partner account type"
It would be very useful if this page (or some other page) explained Partner Agreement billing accounts properly, and how they relate to the CSP program and MS Open Licensing. I've looked and looked and I just can't find an explanation anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23040d03-c7f5-1213-6146-8fb6

[2019-10-24 12:58] MoiMoiDG commented on #41024
Hi @SamaraSoucy-MSFT ,

Many thanks for the reply and the quick solution. I cloned your repo and I can confirm that it does work.
I am a beginner in ASP.NET Core, but in some places your solution differs from the current tutorial, especially in the ConfigureServices method which had some problems (for me) with .NET Core 3.0.
Maybe you/somebody could update or review the current tutorial.

Thanks!

[2019-10-24 13:03] jtuliani opened #41379 "Azure Plan?"
Need to explain / link to what an 'Azure Plan' is. Fundamental to understanding this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ccc6ede-f1df-1c54-5b14-8dcfdd65011a
* Version Independent ID: 0ba01e76-4b60-def0-9dd6-14069e1a7647
* Content: [Get started with your Microsoft Partner Agreement billing account - Az

[2019-10-24 13:05] SimonLuckenuik commented on #9152
@cgillum, I just raised a follow-up issue on versioning directly in the Durable Functions repo to have proper visibility. It would be nice if some developers could share how they are handling versioning as well.

[2019-10-24 13:06] vamsitp opened #41380 ""own" is spelt as "onw" in a NOTE on the page"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a27a93-a596-114e-6bc2-7a8ab5b20ef2
* Version Independent ID: 54077d4d-6f1c-5a92-9d61-0533f85628fe
* Content: [Desktop app that calls web APIs (acquiring a token for the app) - Microsoft identity platform](https://docs.microsoft.com/en-us/azure/activ

[2019-10-24 13:12] Morishiri opened #41382 "ReferenceError: data is not defined"
The example under `Recommended pattern` is wrong. It will lead to error. You cannot define `data` inside try and use it outside this block.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b47363e3-c36f-0755-819c-26946013d673
* Version Independent ID: 197c63a1-9f72-1049-f27e-8c9c672ec472
* Content: [JavaScript developer

[2019-10-24 13:12] abhi23arora opened #41383 "qna import error "Bad argument""
Hi! I created a KB with multiturn questions which worked fine in QnA test window.
Now, when I export it in xlsx format and try to import it (with multiturn option checked) in a new KB, it shows the "Bad Argument" error.
If I export the same as tsv format and try to import it in a new KB, it gets imported but looses the multiturn feature.

Can you please look into the issue?

---
#### Document Deta

[2019-10-24 13:20] jmprieur commented on #41380
Thanks for the feedback, @vamsitp
Fixing it right now.

[2019-10-24 13:22] LMIT-Dev opened #41384 "Documentation on ModelKind, DataImportKind and which DataImportKind needs to be used for which ModelKind is impossible to find"
Where can we find Documentation on what kind of DataSet is needed to build what kind of Model. For example, i can upload a DataSet of kind Acoustic but i cannot use it to create a Acoustic Model (at least not when using the BaseModels which all seem to be of the same Model Kind AcousticAndLanguage).

Is there any Documentation on this at all?

All the Documentation is using the Portal not the API.

[2019-10-24 13:22] #41384 closed

[2019-10-24 13:24] svangeti commented on #41348
Since, the function is in readonly mode, I cannot retrieve the master key to do trigger syncing. Moreover the same deployment works fine with Linux consumption plan but not working with Standard/premium plans.
Are there any limitations?

[2019-10-24 13:24] jaffadog opened #41385 ""upn" is not always included in v1.0 claims"
If the user is a guest rather than a member, then the v1.0 claim will not include "upn".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d8e93d6-413b-34aa-3359-41f5baa442d3
* Version Independent ID: 0d657318-8058-a76a-c219-393ab3a4920d
* Content: [Learn how to provide optional claims to your Azure AD app - Microsoft id

[2019-10-24 13:27] VikasPullagura-MSFT commented on #41374
@rajdhandus Thanks for pointing this out. I am assigning the issue to the document author for updating accordingly.

[2019-10-24 13:28] VikasPullagura-MSFT commented on #41374
@mlearned Can you please add your comments and update the document as appropriate.

[2019-10-24 13:29] jaffadog opened #41386 "How do claims map to AAD user attributes?"
This article could be improved by providing these mappings. For example, is "unique_name" mapped to UPN? for guests, is that an unmangled UPN?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0cace34-34bf-32f7-c857-e4d71d535a77
* Version Independent ID: cdbbc4ae-5894-da21-42d7-928b3674bbd1
* Content: [Microsoft identity

[2019-10-24 13:35] jay98014 commented on #40326
Hi 410sean,

Not sure if your question was answered offline already, but I'll comment anyway.

Even though a password is randomly generated does not mean that it will always succeed, as you found out.  Note that Azure AD Password Protection is not the only entity that may reject a password - the baseline Active Directory password validation logic still runs even with AADPP deployed.  Therefore in

[2019-10-24 13:36] cstainie opened #41388 "Regional VNET Integration General Availability"
Dear, Any ETA available on the GA date for this feature?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a98803-1438-b1b5-f543-7dd88bc4294e
* Version Independent ID: 37ff1d0f-ed8e-5e4d-1f4c-1b9f6cffb938
* Content: [Integrate app with Azure Virtual Network - Azure App Service](https://docs.microsoft.com/en-us/azure/app

[2019-10-24 13:37] OffColour opened #41389 "Register with Azure migrate"
What permissions does the Azure user registering to Azure migrate require?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3627fc8d-b1f2-0d8e-958b-a6e3a95c939b
* Version Independent ID: 47425ae8-9f63-046b-c1f0-daf64cb6734d
* Content: [Set up an appliance for Azure Migrate Server Assessment/Migration for VMware VMs](http

[2019-10-24 13:39] ZaherButt opened #41390 "Verify how federation was configured no longer correct"
As of Azure AD Connect build 1.4.18, the Azure AD Connect GUI no longer displays whether it has configured AD FS on the 'Review your Solution' page as described under the 'Verify how federation was configured' section of this article.  This may confuse some into thinking AD FS was not configured by Azure AD Connect. The new location where Azure AD Connect configured AD FS information is displayed

[2019-10-24 13:43] VikasPullagura-MSFT commented on #41376
@andrewbettany Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-24 13:45] mandrie commented on #37386
Any update on this, I also spent some wasted time on this before I realized it probably just doesn't work for Classic accounts since nothing is returned :(

[2019-10-24 13:51] sanketpandia opened #41392 "Token verification failed"
I am using the @azure/msal-angular to access my active directory app registrations. I have no custom secrets or certificates installed. When i am verifying the token in jwt.io then the token signature verification is failing.

[2019-10-24 13:51] VikasPullagura-MSFT commented on #41376
@andrewbettany Thanks for pointing this out.
I have raised a PR for doc update, the changes will go live once it is approved.

[2019-10-24 13:51] spottedmahn commented on #41159
FYI `appInsights.trackEvent({ name: 'blah' });` didn't "work".  The event gets logged but the name was something like '[object object]'.

`appInsights.trackEvent('blah');` does work though.

I got the first approach from [here](https://docs.microsoft.com/en-us/azure/azure-monitor/app/api-custom-events-metrics#trackevent).  Seems like that doc page is wrong 🚫.  Thoughts?

[2019-10-24 13:52] iMicknl opened #41393 "Documentation is missing skill parameter (degreeOfParallelism)"
The Skill Definition Templates in (prod) Azure Portal has an example template of a custom Web API skill. They mention parameters like `degreeOfParallelism`, but this one is not documented.

What does `degreeOfParallelism` mean and what values can it have? It would be good to know the boundaries and the default value.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-10-24 14:02] geekGK opened #41394 "Scenario 2: Multiple entries of one private IP to one public IP on standard public Load balancer frontend"
If there are multiple public IP addresses configured on Load balancer front end, how to ensure outgoing connection picks public IP that is intended for a given private IP (one and only private IP). On the back-end pool VM, say we SNAT different outbound connections to different but unique private IP (SNAT'ed private IP is different than back-end VM instance's IP). Please note mapping of "private-p

[2019-10-24 14:04] PirateBread commented on #41374
Hopefully someone is going to update the various interfaces to AKS to support this new property. All clusters now get deployed with a random public IP and none of the interfaces support defining this IP we want to use e.g. AZ CLI, Portal, Terraform etc...

[2019-10-24 14:07] chadmath opened #41395 "Add note mentioning that on-premises device needs to be updated with new 'interesting traffic' for the peered VNets IP ranges."
Add note mentioning that on-premises device needs to be updated with new 'interesting traffic' for the peered VNets IP ranges.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e439c62-035c-47f0-a03d-c70e66f2887b
* Version Independent ID: d745a499-f6bf-ca46-f378-c64535df626f
* Content: [Create, change, or delete an Azure

[2019-10-24 14:17] MonikaReddy-MSFT commented on #41330
@joeythomaschaske -  I'm going to assign this to the document author so they can update the document accordingly.

[2019-10-24 14:19] joeythomaschaske commented on #41330
Much appreciated! Thanks for the quick response!

[2019-10-24 14:21] MonikaReddy-MSFT commented on #41393
@iMicknl , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-10-24 14:23] 3GDXC commented on #35973
on a similar note using '%Environment%' in the blob path where Environment = 'Development' create an invalid path

[2019-10-24 14:27] IGx89 opened #41396 "Mention that the .NET Core 3.0 SDK is not supported"
Anyone with the .NET Core 3.0 SDK installed is going to risk having problems unless they add a global.json forcing the .NET Core 2.x SDK to be used. See https://github.com/Azure/azure-functions-vs-build-sdk/issues/333 for details.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a4532b8-8c27-ca15-edc6-85fc38cab341
* Ver

[2019-10-24 14:27] jmprieur commented on #41380
Fixed.

[2019-10-24 14:29] NavtejSaini-MSFT commented on #41135
@srdan-bozovic-msft Assigning to you for further action.

[2019-10-24 14:30] NavtejSaini-MSFT commented on #41239
@ravick4u We are going ahead and closing this thread for now. If you have any other issue with this, please get back to us and we will continue the discussion.

[2019-10-24 14:30] #41239 closed

[2019-10-24 14:32] NavtejSaini-MSFT commented on #41245
@SvenAelterman We are going ahead and closing this thread. Please get back to us if you have any further question.

[2019-10-24 14:32] #41245 closed

[2019-10-24 14:42] scottcun commented on #40864
@MGoedtel

Are you looking at the same query as I?  Here's the query, just copied and pasted from page
[https://docs.microsoft.com/en-us/azure/azure-monitor/platform/manage-cost-storage#data-volume-by-computer](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/manage-cost-storage#data-volume-by-computer), second query from deep link:

`union withsource = tt *
| where _IsBillable == tru

[2019-10-24 14:46] KrishnaG-MSFT commented on #41384
@LMIT-Dev Hope you have self resolved and hence closed this issue. In future, if you share any feedback under this azure-docs repo then please mention Azure documentation link / URL to which feedback is related to. This helps us to provide you better assistance. Cheers!

[2019-10-24 14:48] videlalvaro opened #41397 "Paragraph needs rewording"
&gt;This theorem discusses the choice between consistency, availability, and partition tolerance. It states that for the systems partitioned by network there is always tradeoff between consistency and availability.

To:

&gt;This theorem discusses the choice between consistency, availability, and partition tolerance. It states that for the systems suffering from a network partition there is always

[2019-10-24 14:49] KrishnaG-MSFT commented on #41331
@craigshoemaker Thanks for the quick response. :+1:

[2019-10-24 14:52] videlalvaro opened #41398 "partition wording mismatch"
The docs say:

&gt;Partition tolerance: the ability of a data processing system to continue processing data even if a partition failure occurs.

I think we should be able to make a distinction in partitions as specified in the CAP theorem, and partitions as used by Event Hubs, because they are not the same, which I think end up making this article a bit confusing, since theoretically you can have

[2019-10-24 14:53] MicahMcKittrick-MSFT commented on #41362
Thanks for the question! We are investigating and will update you shortly.

[2019-10-24 14:56] videlalvaro opened #41399 "ordering in partitions needs clarifying"
While the article on partitions talks about this issue, on this page we have:

&gt;In some scenarios, the ordering of events can be important. For example, you may want your back-end system to process an update command before a delete command. In this instance, you can either set the partition key on an event, or use a PartitionSender object to only send events to a certain partition. Doing so ens

[2019-10-24 14:56] MicahMcKittrick-MSFT commented on #40650
Thanks @lachie83

@karlmutch I will go ahead and close. If you have further questions let me know.

[2019-10-24 14:56] #40650 closed

[2019-10-24 15:01] asergaz commented on #40855
Hi @keshava-hm I think I made some confusion of what document you were talking about sorry :). In the metadata of this issue it said:

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64575e7c-664c-4d6b-a440-24c91e93def5
* Version Independent ID: 17d9481c-a75b-bbfd-1f9a-76fc3d6b2930
* Content: [Quickstart create an Azure IoT

[2019-10-24 15:09] SamaraSoucy-MSFT commented on #41159
The [JS SDK Github repo](https://github.com/microsoft/ApplicationInsights-JS) has the `appInsights.trackEvent({ name: 'blah' });` syntax as well, so it doesn't look like that particular doc is the problem. I'll investigate that further.

[2019-10-24 15:14] MonikaReddy-MSFT commented on #41330
@joeythomaschaske Happy to help :)

[2019-10-24 15:15] AndyWu7623 opened #41400 "Disable authorized IP range cli is not working"
we follow the doc - https://docs.microsoft.com/en-us/azure/aks/api-server-authorized-ip-ranges#update-or-disable-authorized-ip-ranges to disable via
az aks update \
    --resource-group myResourceGroup \
    --name myAKSCluster \
    --api-server-authorized-ip-ranges ""
We use the command in Powershell but receive error message that that range expect one argument. Does this command specific in bas

[2019-10-24 15:16] MicahMcKittrick-MSFT commented on #41314
@giuliov I also confirmed the same.

So I will go ahead and close this out but if others hit this issue they can see the comments here and move past it. If we see more people hitting this issue we can always consider adding a note to this document.

[2019-10-24 15:16] #41314 closed

[2019-10-24 15:20] SamaraSoucy-MSFT commented on #41024
[Andrew Lock did a good blog post](https://andrewlock.net/comparing-startup-between-the-asp-net-core-3-templates/) on the difference between 2.x and 3.0 templates, although the App Config portions do stay the same.

I've added @yegu-ms to decide how to handle updating the sample code as I don't think we want to remove the 2.x version yet.

[2019-10-24 15:21] PramodValavala-MSFT commented on #41396
@IGx89 Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

Note that [Azure Functions 3.0](https://github.com/Azure/app-service-announcements/issues/200) has been announced which supports .NET Core 3.

[2019-10-24 15:25] MicahMcKittrick-MSFT commented on #41362
@impact79 this means we do not even allow you to stop the VMSS instances. If you use ephemeral disks we expect you to run a 24x7 workload or remove the VMSS all together. If you try to stop the instance you will see the following:

![image](https://user-images.githubusercontent.com/32313503/67500603-c75e7000-f637-11e9-8c29-74a9d937ca56.png)

[2019-10-24 15:25] keshava-hm commented on #40855
@asergaz thank you.
1. Yes it did work when I change the protocol to mqtt.
2. I'll try this.

But the thing I found strange is that, temperature sensor (or any other module which uses amqp) communication with my module using amqp doesn't work (receives first message alone again and again ), but when I change my code to mqtt, it works.

[2019-10-24 15:26] #39771 closed

[2019-10-24 15:26] IsaacRoitman opened #41401 "QnA maker encryption at rest? Methods and documentation needed, not listed as a service"
QnA maker encryption at rest?  Methods and documentation are needed.

[2019-10-24 15:27] keshava-hm commented on #40855
@asergaz and is it possible to check if this works for you?
Reproduction steps:
Create iot edge module on vs2019, deploy it with simulated temp sensor and check the logs on new module.

Thanks
--Keshava

[2019-10-24 15:27] rtaylor72 commented on #39182
Same issue with me.  A no help message with no error code for a template that Azure is generating under the covers.  Hoping links above have an answer.

[2019-10-24 15:30] sandeepraichura opened #41402 "Guidance on Zonal Allocation Failures"
There is no guidance on what one should do when there are zonal allocation failures for existing VMs, this page has generic content and it would be good to have some additional details on recommendations for zonal failures for existing VM's.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1b587f6-8bf4-fb64-5515-be223a1

[2019-10-24 15:30] DCtheGeek commented on #41126
@sajames1003 Since I haven't heard back and believe the answer is provided, I'm going to close this issue. If you continue to experience an issue, please respond back here, open a new issue, or contact support.  Thanks!

@MicrosoftDocs/azure-cxp-triage #please-close

[2019-10-24 15:31] #41126 closed

[2019-10-24 15:36] MicahMcKittrick-MSFT commented on #41402
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-10-24 15:41] tsls commented on #40135
@travisCragg-MSFT Appologies for the delay missed the fact that you responded to me. It's back to the Azure Team as the Windows Team could only help troubleshoot RRAS. We are running 1903 and have added the regkey mentioned and IKE still fails. I have tried from 3 different networks and have even tried 1809 and 1803. Any you able to provide any other advice

[2019-10-24 15:41] PramodValavala-MSFT commented on #41365
@Sudharma The policies described in this doc are required for authentication with API backends.

The `authentication-basic` policy essentially sets the `Authorization` header to `Basic base64("username:password")` in the forwarding request.

For incoming requests to APIM with Basic Authentication, using [`check-header`](https://docs.microsoft.com/en-us/azure/api-management/api-management-access-re

[2019-10-24 15:46] rtaylor72 commented on #39182
There is a need for documentation updates or a fix in the Azure portal to just show the real error and not this unhelpful one.  The documentation update should state if you are sent to this page without an error message or code, then go to your resource group and look for failed deployments to get the real error.

[2019-10-24 15:46] mike-urnun-msft commented on #40856
@cconcordet Thanks! I'll take a closer look and respond with my findings on your MSDN thread.

[2019-10-24 15:47] asergaz commented on #40855
Hi @keshava-hm ,

1) Please let me know how it went after defining the routes as suggested
2) Please try using a different network as protocols\ports may be blocked in specific network environments
3) I will try and repro your issue after you confirm 2 points above.

Thanks!

[2019-10-24 15:48] caleteeter commented on #41334
Hi @mprsic!  The issue that looks like you are bumping into was triggered by the new LTS version of nodejs (12.13.x).  Initially, we supported 10.x version of nodejs but with this recent change, some installation issues came up.  If you are seeing the Pure JS implementation being used that is good, and nothing is broken, its just not use the C++ version, which relies on the windows build tools.

T

[2019-10-24 15:50] keshava-hm commented on #40855
@asergaz
Thank you.
1. Yes, I'll try it.
2. I'm using azure VM. Can you suggest any specific settings for testing ?

Thanks.
--Keshava

[2019-10-24 16:02] PramodValavala-MSFT commented on #41382
@Morishiri Thanks for catching that! We will review and update the doc accordingly.

[2019-10-24 16:06] abdale opened #41404 "Tumbling window supports a one-to-one relationship i.e. only one pipeline can be triggered"
The article states "Pipelines and triggers have a many-to-many relationship." This is contradicted further down where it talks about tumbling window triggers that it "Supports a one-to-one relationship. Only one pipeline can be triggered."

This exception should be added to the general statement.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2019-10-24 16:12] cwester72 commented on #41323
Worked!

Thanks,
Craig

[360 Visibility]<https://www.360visibility.com/?source=sig>
Craig Wester
Cloud Solutions Consultant
cwester@360visibility.com<mailto:cwester@360visibility.com> | (905) 907-3614<tel:(905)%20907-3614>
926 Nashville Rd., Vaughan ON L0J 1C0
[Twitter]<https://twitter.com/360visibility>[LinkedIn]<https://www.linkedin.com/company/360-visibility>[YouTube]<https://www.youtube.com/us

[2019-10-24 16:13] #41382 closed

[2019-10-24 16:13] mohbarkat opened #41406 "When getting notifications"
on my iphone xs when I get notifications I get double notifications don't know why, any help would be appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 640b9158-3bba-2f76-b9f1-c2660e530062
* Version Independent ID: d6d2980d-b36b-9dc3-5c0c-4abed8d19ae2
* Content: [Download and install the Microsoft Authenticat

[2019-10-24 16:13] PramodValavala-MSFT commented on #41382
@Morishiri We worked up a PR to address this, which should reflect in a couple of hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-24 16:15] jcbrooks92 commented on #35318
@droessmj The doc has been updated to indicate this isn't supported.

Key Vault references are not presently able to resolve secrets stored in a key vault with network restrictions.

[2019-10-24 16:17] #41323 closed

[2019-10-24 16:19] djohnsomsft opened #41408 "Converting to xcworkspace fails after upgrade to Catalina"
If you had this working and upgraded to Catalina, you'll hit the issue referenced here: https://github.com/CocoaPods/CocoaPods/issues/8955

You'll need to reinstall cocoapods using the following two commands to fix this:

brew install cocoapods --build-from-source
brew link --overwrite cocoapods

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-10-24 16:22] basilwong commented on #41235
Thank you for that information.

Do you know if there any examples of Azure Functions for SFTP that my team can reference?

[2019-10-24 16:30] MarileeTurscak-MSFT commented on #41372
@SriharshaHack
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-24 16:32] MarileeTurscak-MSFT commented on #41390
@ZaherButt
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-24 16:33] MarileeTurscak-MSFT commented on #41372
Thanks! This is fixed https://github.com/MicrosoftDocs/azure-docs-pr/pull/93218

[2019-10-24 16:33] #41372 closed

[2019-10-24 16:34] Sudharma commented on #41365
@PramodValavala-MSFT thank you for quick reply! you can close this ticket!

[2019-10-24 16:34] #41365 closed

[2019-10-24 16:34] shashishailaj commented on #41364
@limjianan Thank you for pointing this out . We will have this reviewed and update the same.

[2019-10-24 16:36] shashishailaj commented on #41358
@pmeuser Thank you for your query. As far as I know we do not have any specific guide as such covering F5 specifically but we will investigate and update this further.

[2019-10-24 16:36] ThunderHorse commented on #40529
I wanted to follow up on this. The functionality doesn't seem to be in place for all regions and that was my issue. I was attempting to enroll a scale set in the AU region and was not successful. I attempted this on a scale set in the US and everything worked fine. I was even able to remove enrollment from a scale set.

[2019-10-24 16:38] shashishailaj commented on #41357
@stoff75 Thank you for your query. We will investigate and update this thread further.

[2019-10-24 16:39] #41342 closed

[2019-10-24 16:40] shashishailaj commented on #41367
@maryannlim Thank you for your feedback. We will have this verified internally with PG and update the thread.

[2019-10-24 16:42] shashishailaj commented on #41380
@vamsitp Thank you for pointing this out . We have fixed this on our end . We will close this issue now. In case you have any further query on this , feel fre to tag me to your reply and we will be happy to help.

Thank you

[2019-10-24 16:42] #41380 closed

[2019-10-24 16:42] MashaMSFT commented on #35729
Hi @Cyber-Cloud-Consulting , we haven't heard back from  you so we'll assume your question has been addressed and close out this Git Issue. Please feel free to comment if you need anything further.

Thanks and hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2019-10-24 16:42] #35729 closed

[2019-10-24 16:42] #41376 closed

[2019-10-24 16:43] MashaMSFT commented on #40185
Hi @banzaisi, since we haven't heard back from you, we'll assume your question has been addressed and close out this Git Issue. Please feel free to reach out via comment should you need anything further from us.

Thanks again for reaching out and hope you have a wonderful rest of your day!
Masha from the SQL Docs team

[2019-10-24 16:43] #40185 closed

[2019-10-24 16:45] FunkEinstein opened #41409 "Problem with SAML broadcast Logout request NameId format!"
I am duplicating [request](https://github.com/MicrosoftDocs/azure-docs/issues/29978) for the reason that no one answer my questions in original thread!!! It was closed in may 22 and we don't have any information of progression! In august I checked state of functionality by myself and found that problem is still there! Now I need to know when it will be fixed and what a priority of that bag?

---
#

[2019-10-24 16:48] AtOMiCNebula commented on #41396
@PramodValavala-MSFT  Based on my bug report in the mentioned bug, it does not _fully_ support .NET Core 3, which is why I'm trying (and so far failing 🤕) to get in touch with the team.

[2019-10-24 16:51] diberry commented on #41383
@abhi23arora What steps did you do, exactly, to create the KB from the xls?

[2019-10-24 16:54] hpsin commented on #40828
Glad to hear you were unblocked at least @lafe .  If you can share any specific areas where you had trouble, it will help us better document this for the next developer.

[2019-10-24 16:55] KehindeOwens opened #41410 "Extra Values"
Hi, can other values be added to this .csv file? (Jobtitle, Phone Number, etc)??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 704378b4-148f-49a9-3b18-fad694da0dc7
* Version Independent ID: db6f6680-22ef-fc80-4914-e72ff27820ad
* Content: [Tutorial for bulk inviting B2B collaboration users - Azure Active Directory](htt

[2019-10-24 16:57] cabailey commented on #41132
Confirmation from the Azure Information Protection side: "The logs should be constantly streamed online. No manual update." with the recommendation of opening a support ticket for investigation.

[2019-10-24 17:02] karpikpl opened #41412 "Issues connecting to on-prem DB using ISE"
The guide describes connecting to on-prem using data gateway, but I believe there's another way using ISE, VNets and express route.

I was able to connect using ISE, but I'm having issues connecting using Windows Credentials.
Could you provide some more information?
Is it possible to use windows credentials via ISE?
How to troubleshoot connectivity issues? (particularly - bad password error which

[2019-10-24 17:08] himanshusinha-msft commented on #41373
@shimst3r  Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-10-24 17:09] vermagit commented on #41264
On all IB-enabled VMs except HB and HC (currently):
For RDMA over InfiniBand, you must use Intel MPI. Other MPI implementation can still be used over Ethernet without RDMA. The article provides examples of both.
Since the date of the publication of the article, HB and HC VMs have been introduced which allow all MPI implementations to be used for RDMA over IB on them.

[2019-10-24 17:11] himanshusinha-msft commented on #41397
@videlalvaro Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-10-24 17:13] himanshusinha-msft commented on #41398
@videlalvaro Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-10-24 17:13] mprsic commented on #41334
Hi @caleteeter , @AshokPeddakotla-MSFT , @PatAltimore

After much more research, trials and failures, as well as helpful previous advice, here are final findings regarding the basic procedures described in the tutorial for Azure Blockchain Service.

1) Quickstart: Use Visual Studio Code to connect to an Azure Blockchain Service consortium network (https://docs.microsoft.com/en-us/azure/blockchain/

[2019-10-24 17:14] #41164 closed

[2019-10-24 17:15] himanshusinha-msft commented on #41399
@videlalvaro : Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-10-24 17:16] PramodValavala-MSFT commented on #41396
@AtOMiCNebula Sorry about that. Do note that Functions v3 is still in preview.

I believe it would be best to file the issue directly in the [functions host repo](https://github.com/Azure/azure-functions-host) for better visibility.

[2019-10-24 17:17] KranthiPakala-MSFT commented on #41164
@imlarry The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2019-10-24 17:17] himanshusinha-msft commented on #41404
@abdale :Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-10-24 17:17] PramodValavala-MSFT commented on #41361
@perkops Thanks for catching that! We will review and update accordingly.

[2019-10-24 17:18] IGx89 commented on #41396
@PramodValavala-MSFT  Neither of us is talking about Functions v3 actually, just v2.

[2019-10-24 17:23] PramodValavala-MSFT commented on #41048
@jasoncoding Just following up here... Hope my previous comments help.

[2019-10-24 17:23] bandersmsft commented on #41379
@jtuliani I updated the article intro to explain Azure plan and added a link.  https://github.com/MicrosoftDocs/azure-docs-pr/pull/93226
#please-close

[2019-10-24 17:23] #41379 closed

[2019-10-24 17:25] videlalvaro commented on #41397
@himanshusinha-msft let me know if I can be of help

[2019-10-24 17:28] MicahMcKittrick-MSFT commented on #41264
Thanks @vermagit ! So this document seems good as it if I am not mistaken?

[2019-10-24 17:35] MicrosoftGuyJFlo commented on #41287
@tomdan-MSFT I was asked by the Windows Product Group to not include that in the article. While it does work it is not their preferred means to configure.

[2019-10-24 17:35] Magnus-Hedlund opened #41414 "Make sure to register Microsoft.Network"
I was starting on a completely clean Azure subscription, and got an error when configuring the simple load balancer that Microsoft.Network wasn't registered on my subscription.  Simple fix to run:
az provider register -n Microsoft.Network

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4af71a4-648e-580f-7e86-94ce05196d

[2019-10-24 17:35] MicrosoftGuyJFlo commented on #41287
#please-close

[2019-10-24 17:35] #41287 closed

[2019-10-24 17:36] MicahMcKittrick-MSFT commented on #40457
@lilixu-ny I added your suggestion to the document. Once the PR merges the changes will go live after a few hours.

[2019-10-24 17:36] #40457 closed

[2019-10-24 17:38] jeevansd commented on #41370
@joachimloe We are working hard on this. So the change should be there in  few weeks. We are closely working with Facebook team on this.

[2019-10-24 17:38] jeevansd commented on #41370
#please-close

[2019-10-24 17:38] #41370 closed

[2019-10-24 17:40] MicahMcKittrick-MSFT commented on #41107
@LouisDK yes please share your yaml file :)

[2019-10-24 17:41] MonikaReddy-MSFT commented on #41393
@iMicknl - I'm going to assign this to the document author so they can update the document accordingly.

[2019-10-24 17:44] #41345 closed

[2019-10-24 17:45] #41362 closed

[2019-10-24 17:47] devan10 opened #41415 "Clarification on Self Service Password Reset"
On the section which says "However, the user can unlock by using self-service password reset (SSPR) from a trusted device or location."

Does this mean that self-service password reset can differentiate between familiar and unfamiliar locations?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c7b90ca-a2b1-9cd8-9769-cd4

[2019-10-24 17:48] TravisCragg-MSFT commented on #41320
@AvatarRolon Are you able to do it from the [Preview portal](https://preview.portal.azure.com/#home)?

[2019-10-24 17:49] TravisCragg-MSFT commented on #39888
@raakeshn no worries. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-24 17:49] #39888 closed

[2019-10-24 17:51] abhi23arora commented on #41383
hi @diberry!
I tried multiple things after that and the simplest way to replicate this issue would be,
create a new blank kb
add a test qna pair and also add a follow up question of the same.
train the model and test (should run fine)
now go to settings and export your kb in xlsx format.
now try to create a new kb using this file.
you will get an error.

[2019-10-24 17:52] TravisCragg-MSFT commented on #40941
@sajithvasu This lab takes quite a long time to set up! I am currently experimenting with different ways to add the backend pools and heath probes to find a working configuration. I will let you know what I find.

Most of the best practice documentation involves the V2 SKU and not the V1.

[2019-10-24 17:55] TravisCragg-MSFT commented on #41368
@iceyokuna can you post a link to the doc you are referring to?

[2019-10-24 17:55] MicrosoftGuyJFlo commented on #41090
@kennethvs I will mention it to the Product Group again. You are correct, this string does cause some confusion.

[2019-10-24 17:56] nibaccam commented on #39799
@nibaccam

[2019-10-24 17:57] MicrosoftGuyJFlo commented on #41090
@kennethvs I'll also see if I can add some clarity to the doc in a future update. If you can think of anything that I can add that would help please feel free to send it my way.

[2019-10-24 17:57] MicahMcKittrick-MSFT commented on #41414
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-24 17:58] MicrosoftGuyJFlo commented on #41090
#please-close

[2019-10-24 17:58] #41090 closed

[2019-10-24 17:58] LarsLiden opened #41418 "Show family item class"
It would be helpful if you showed what that "familyItem" class actually looked like.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40462fee-eb9e-5874-35b8-26d4605e390f
* Version Independent ID: bccb7915-dca2-7f10-9ccc-33fdf26baf65
* Content: [Node.js tutorial for the SQL API for Azure Cosmos DB](https://docs.microsoft

[2019-10-24 17:59] TravisCragg-MSFT commented on #41392
@sanketpandia can you post a link to the doc you are referring to?

[2019-10-24 18:00] LarsLiden commented on #41418
Found it.   Maybe link to if from page?

[2019-10-24 18:00] #41418 closed

[2019-10-24 18:00] TravisCragg-MSFT commented on #41401
@IsaacRoitman can you post a link to the doc you are referring to?

[2019-10-24 18:04] TravisCragg-MSFT commented on #41408
@djohnsomsft Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-10-24 18:11] anirudhcavale commented on #40998
@femsulu can we assign this to @rboucher please?

[2019-10-24 18:11] nswitanek opened #41419 "AKS is GA in Azure Gov, uncertain audit scope"
Hi,

AKS went GA in USGov East / Fairfax VA on Sept 8, 2019. Would be good to update the corresponding row in this documentation page. I do not know the audit scope of AKS in Azure Gov, however.

Thanks,
Nick

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e27d0b1-56f9-2eb7-8fee-0c47cfbafeac
* Version Independent ID: 1

[2019-10-24 18:12] cephalin commented on #38859
@ratocego Sorry for the delay. I've made the update to the steps in the doc and the screenshots. It should be published sometime today. #please-close

[2019-10-24 18:12] #38859 closed

[2019-10-24 18:17] ebelinski commented on #39834
I'm getting a similar crash. I'm on:

* macOS Catalina
* Xcode 11.1
* Visual Studio 8.3.4 (build 8)
* Xamarin.Forms 4.3.0
* Microsoft.Azure.NotificationHub 3.2.1
* iPhone X running iOS 13.1.3 (not beta)

My code:

[code]

Crash:

[code]

[2019-10-24 18:19] Jain-Garima commented on #41419
Hi Nick, Thanks for the feedback. AKS is GA but not certified for FedRAMP. It is marked as planned in the FedRAMP docs page as it is still going compliance review and is planned to be submitted to FedRAMP for review in 2019. Please let me know if that addresses your question. thanks!

[2019-10-24 18:22] TravisCragg-MSFT commented on #41394
@geekGK as is discussed near the end of Scenario 2:

Your Public IP Address will be functionally random.

If you would like to guarantee the outbound IP Address, you will need to only use 1 IP Address on your Load Balancer, or attach a Public IP to the NIC.

[2019-10-24 18:23] TravisCragg-MSFT commented on #41395
@chadmath Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-10-24 18:24] ebelinski commented on #39834
I think this is an iOS 13.1 problem. When I had iOS 13.0, I tested this all and it worked fine.

[2019-10-24 18:24] MarkusH opened #41420 "Missing note on the maximum number of usage events in the batch API"
The batch API has a hard limit of 25 events in a single batch.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a23f10fa-69e2-a65b-3885-229e0168b443
* Version Independent ID: 09a35184-5614-c7b8-37e7-07ec963ef764
* Content: [Marketplace metering service APIs](https://docs.microsoft.com/en-us/azure/marketplace/part

[2019-10-24 18:27] nswitanek commented on #41419
Thank you for the information and additional context!
Nick

From: Jain-Garima <notifications@github.com>
Sent: Thursday, October 24, 2019 1:20 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Nick Switanek <Nick.Switanek@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] AKS is GA in Azure Gov, uncertain audit scope (#41419)

Hi Nick, Than

[2019-10-24 18:28] NavtejSaini-MSFT commented on #41418
@LarsLiden Thanks for the feedback and glad that you were able to find the relevant information.

[2019-10-24 18:31] MicahMcKittrick-MSFT commented on #41419
Also, that doc you linked is under NDA...

[2019-10-24 18:31] Magnus-Hedlund opened #41421 "--ouput table option not available on az aks get-upgrades?"
The initial get upgrades command gave an error:

az aks get-upgrades --resource-group myResourceGroup --name myAKSCluster --output table

Gave this error:

Table output unavailable. Use the --query option to specify an appropriate query. Use --debug for more info.

It works and returns JSON without the --output table option

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-10-24 18:32] #41419 closed

[2019-10-24 18:35] xiongyu0523 commented on #41307
No, I mean the document link is named service SAS (REST API), but this page is not a REST API but just describe the details of how to construct the SAS. So the (REST API) ending is confusing.

[2019-10-24 18:39] MicahMcKittrick-MSFT commented on #41421
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-24 18:45] RyanHill-MSFT commented on #41388
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-24 18:46] MGoedtel commented on #40684
I've got the list for Azure China and I've already updated the onboarding documentation with this information, which is included with the updated/new content I'm publishing for Ignite.  In the meantime, here are the specifics:

*.ods.opinsights.azure.cn , 443
*.oms.opinsights.azure.cn, 443
*.blob.core.windows.net, 443
microsoft.com, 80
dc.services.visualstudio.com, 443.

Hope that helps.  I will c

[2019-10-24 18:46] #40684 closed

[2019-10-24 18:49] ridomin opened #41424 "Application Export is not available"
I dont see the Application Export option with any of my apps in https://azureiotcentral.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31d03e55-8f4d-ca7e-c988-7d12937e0f6c
* Version Independent ID: a335e484-7d9b-9afc-e2fe-d3082d792f49
* Content: [Use application templates in Azure IoT Central](https://docs.microsof

[2019-10-24 18:50] FrankHu-MSFT commented on #41371
@pmeuser Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-24 18:50] FrankHu-MSFT commented on #41385
@jaffadog Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-24 18:50] normesta commented on #36196
@koyasuda-msft I've updated the example to AzCopy V10. Thank you!

[2019-10-24 18:50] FrankHu-MSFT commented on #41386
@jaffadog Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-24 18:50] normesta commented on #36196
#please-close

[2019-10-24 18:50] #40082 closed

[2019-10-24 18:50] #36196 closed

[2019-10-24 18:50] FrankHu-MSFT commented on #41410
@KehindeOwens Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-24 18:50] FrankHu-MSFT commented on #41415
@devan10 Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-24 18:50] nswitanek commented on #41419
Thank you, Micah.

Did I inadvertently share it more widely than is appropriate by linking in my docs edit?

Nick

From: Micah <notifications@github.com>
Sent: Thursday, October 24, 2019 1:32 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Nick Switanek <Nick.Switanek@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] AKS is GA in Azure G

[2019-10-24 18:51] normesta commented on #35658
Thank you @SychevIgor for raising our attention to this. I've updated the article to refer to AzCopy V10 instead.

[2019-10-24 18:51] normesta commented on #35658
#please-close

[2019-10-24 18:51] #35658 closed

[2019-10-24 18:52] FrankHu-MSFT commented on #41392
Hey @sanketpandia can you please go over this link and see if it resolves your issue?
This has been a common ask so a blog post was created to address this scenario.
https://blogs.aaddevsup.xyz/2019/03/using-jwt-io-to-verify-the-signature-of-a-jwt-token/

[2019-10-24 18:53] dagrooms52 opened #41425 "Link Diagnose & Solve Best Practices"
Diagnose & Solve includes a section on Best Practices for Availability & Performance, and checks for use of features such as Local Cache. This document would be a great place to lead customers to Diagnose & Solve to help proactively identify potential issues with their application.
The Diagnose & Solve detector route is `/detectors/ParentAvailabilityAndPerformance`.

---
#### Document Details

⚠ *

[2019-10-24 18:54] dagrooms52 opened #41426 "Deployment Slots Markdown Link Broken"
The section "Local Cache" includes the following text:
 [deployment slots](deploy-staging-slots md)
This appears to be a broken link to a markdown file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eaaa2dff-e57f-370e-fbf7-3ed37de2bb2a
* Version Independent ID: 24c98efe-5bcf-fe19-445d-8512e7929a58
* Content: [Deployme

[2019-10-24 18:54] FrankHu-MSFT commented on #41406
Hey @mohbarkat  can you please provide some screenshots of what you're currently seeing?

When you send a request once, you're seeing two requests each time? It might be an issue with your network connectivity and it's not sending back an acknowledgement when the request is sent.

[2019-10-24 18:56] tamram commented on #41307
@xiongyu0523 - Thanks for your feedback. It's true that the articles you mention that describe how to create a SAS token do not require that you use the REST API to create the token. However, they reference REST API operations like Get User Delegation Key and Revoke User Delegation Keys (in the case of the user delegation SAS). Hopefully that helps to clarify why they are included in the REST API

[2019-10-24 18:56] #41307 closed

[2019-10-24 19:01] MicahMcKittrick-MSFT commented on #41419
The link in the issue went to an internal word doc

[2019-10-24 19:06] mohbarkat commented on #41406
![IMG_9294](https://user-images.githubusercontent.com/31258026/67517100-6e0e3500-f667-11e9-879a-a03d43efdc6d.PNG)

[2019-10-24 19:06] #41406 closed

[2019-10-24 19:07] nswitanek commented on #41419
Thanks for the catch.

[2019-10-24 19:08] rastala commented on #39799
There's a way to customize the output folder. Notice that the PythonScriptStep takes runconfig as an optional argument. You can specify output folders within the RunConfiguration object:

[code]

[2019-10-24 19:11] v-vasuke commented on #41016
I will verify the minimum Azure CLI version and update the docs to clear up any confusion. Thanks for alerting us to this issue.

[2019-10-24 19:12] anoopasokan opened #41428 "Error in getting mlflow tracking uri"
mlflow.set_tracking_uri(ws.get_mlflow_tracking_uri()) throws the following error.
AttributeError: 'Workspace' object has no attribute 'get_mlflow_tracking_uri'
I am running this code in Notebook VM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6910eb2-9a76-916c-133c-6d1b37cd077d
* Version Independent ID: adb35769-d5

[2019-10-24 19:15] FrankHu-MSFT commented on #41406
Hello @Mohbarkat did you mean to close this out?

It sounds like an issue with how your phone is currently interacting with the product.
My suggestion is to reach out to Microsoft Support here for more help on this  :https://support.microsoft.com/en-us/contactus/

For future reference you can find app support for apps for Android/iOS in the store's listing : https://apps.apple.com/app/microsoft-au

[2019-10-24 19:18] FrankHu-MSFT commented on #41234
Hello @sgdesmet B2C runs on Azure, so it can be from any of those IP Addresses.

That is THE list for all B2C services.

Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please file a new git issue with a reference to this one if you have anymore concerns. Thanks

[2019-10-24 19:18] RyanHill-MSFT commented on #41388
@cstainie it's still TBD at the moment. Should I come across a date though, I'll update the issue.

[2019-10-24 19:18] #41388 closed

[2019-10-24 19:19] KrishnaG-MSFT commented on #41370
@jeevansd Thanks for the update. :+1:

[2019-10-24 19:19] MicahMcKittrick-MSFT commented on #40998
#reassign @rboucher

[2019-10-24 19:21] MicrosoftGuyJFlo commented on #41090
@kennethvs just got confirmation from one of the PMs that they are going to get the string revised in a future build.

[2019-10-24 19:22] KrishnaG-MSFT commented on #41379
@bandersmsft Thanks for the quick response. :+1:

[2019-10-24 19:25] jaffadog commented on #41385
On further investigation, I found that i was able to make the "upn" claim be emitted by using the "include_externally_authenticated_upn" and "include_externally_authenticated_upn_without_hash" options. But this statement is not accurate:

"Although this claim is automatically included, you can specify it as an optional claim to attach additional properties to modify its behavior in the guest user

[2019-10-24 19:27] vijayalaya opened #41429 "Timeout issue"
Getting the Timedout  exception while sending the message on

 await eventHubClient.SendAsync(new EventData(Encoding.UTF8.GetBytes(message)), pKey);

A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-10-24 19:33] FisherOps opened #41431 "Is there any metric support for Azure Recovery Services? I don't see any metrics in the azure docs that say that this is possible. Can someone please confirm if this is available or not."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-10-24 19:34] raakeshn commented on #39888
Sure, Travis. Thanks for your help.

Regards
Raakesh

On Thu, 24 Oct 2019 at 6:49 PM, TravisCragg-MSFT <notifications@github.com>
wrote:

[2019-10-24 19:37] vanderby opened #41432 "Azure CLI Deployment Example For VM Scale Set Has Incorrect Parameter"
The VM scale set example uses --vm-name when it should be --vmss-name according to "az vmss extension set --help"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a52b0724-6b3b-0daf-7749-d18104d6a40b
* Version Independent ID: 56e5c7c4-f456-fc2e-99da-2771eb162947
* Content: [Azure Key Vault VM Extension for Windows](https

[2019-10-24 19:39] MicahMcKittrick-MSFT commented on #41432
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-24 19:40] vanderby commented on #41432
There is also a missing quote in the settings string.

\"observedCertificates\": [\ <observedCerts>\"]

Should be

\"observedCertificates\": [\" <observedCerts>\"]

[2019-10-24 19:43] mike-urnun-msft commented on #41375
Thank you for your feedback! We will review and update as appropriate.

[2019-10-24 19:44] mike-urnun-msft commented on #41412
@karpikpl Thank you for your feedback! We will review and update as appropriate.

[2019-10-24 19:50] GiftA-MSFT commented on #41428
@anoopasokan thanks for reaching out. We'll review this issue and get back to you shortly. Thanks.

[2019-10-24 19:53] arcotek-ltd opened #41433 "Certificate does not show in portal"
I can confirm the PowerShell (Windows 10) steps work, however, the certificate does not show in the portal. How come? I think it might be worth mentioning this, as I have spent hours trying to get the certificate in the portal.

Also, I notice there are similar commands using the AzureAD module. Is there a preference, i.e. are you retiring AzureAD in favour of Az commands? Annoyingly, one has to r

[2019-10-24 19:56] HeidiSteen commented on #41393
@iMicknl  Thanks for the heads up.  An engineer just documented this parameter.  The change is making its way through the system and will be published in a few days. Pasting it here to unblock you:

degreeOfParallelism | (Optional) When specified, indicates the number of calls the indexer will make in parallel to the endpoint you have provided. You can decrease this value if your endpoint is faili

[2019-10-24 19:56] HeidiSteen commented on #41393
#please-close

[2019-10-24 19:56] #41393 closed

[2019-10-24 20:03] ajlam commented on #40531
#please-close

[2019-10-24 20:03] #40531 closed

[2019-10-24 20:05] ThunderHorse opened #41434 "Terminate Event Cannot be Re-Enabled after Disabling"
I was able to configure my vmss to pick up terminate events via the Azure Rest API call. It appears that after you enable it if you disable by changing enable to false in the payload of the API call you cannot re-enable after doing so. So, on my scale set, I enabled terminate events, disabled, and I am unable to re-enable the scale set to get terminate events.

API Call Payload To Enable (this ini

[2019-10-24 20:06] ThomasWeiss commented on #40910
@renbud This page covers indexing policies only, please refer to [this one](https://docs.microsoft.com/azure/cosmos-db/sql-query-getting-started) regarding the syntax of SQL queries. In your example, the query would be `SELECT c FROM c JOIN l IN c.locations WHERE IS_DEFINED(l.country)`.
#please-close

[2019-10-24 20:06] #40910 closed

[2019-10-24 20:13] MicahMcKittrick-MSFT commented on #41400
@AndyWu7623 yes this doc is written to be ran using Azure CLI not PowerShell

![image](https://user-images.githubusercontent.com/32313503/67521561-00123f80-f660-11e9-9cba-8946162dcb98.png)

We usually start the docs with CLI methods and as a service moves into GA we add documentation for other methods like PowerShell, Python, Portal, etc.

Let me know if you have further questions.

[2019-10-24 20:13] #41400 closed

[2019-10-24 20:20] djpmsft commented on #40876
@subashsivaji Do you have anymore inqueries or can we close this issue?

[2019-10-24 20:25] MicahMcKittrick-MSFT commented on #41414
@Magnus-Hedlund thanks for this feedback. At this point in time we are going to leave the doc as is. This is the first we have experience someone getting into AKS without the networking provider registered. That being said, your comment will remain on this doc so if others have this issue they can comment and we can always reconsider in the future.

[2019-10-24 20:25] #41414 closed

[2019-10-24 20:27] MicahMcKittrick-MSFT commented on #41421
@Magnus-Hedlund I tested this and it worked as expected in the Cloud Shell and Local CLI.

The CLI version I am running is 2.0.75

What version are you running? You can find that by running az --version

[2019-10-24 20:33] MicahMcKittrick-MSFT commented on #41432
@vanderby fixed :) Once the PR merges the changes will go live after a few hours. Thanks for the find!

[2019-10-24 20:33] #41432 closed

[2019-10-24 20:40] NullQubit commented on #39986
Hi,  the error is "The container operating system does not match the host operating system."

Log file:
[log.txt](https://github.com/MicrosoftDocs/azure-docs/files/3769385/log.txt)

Thanks

[2019-10-24 20:40] Magnus-Hedlund commented on #41421
@MicahMcKittrick-MSFT

C:\src\aks\tutorial\azure-voting-app-redis>az --version
azure-cli                         2.0.75
command-modules-nspkg              2.0.3
core                              2.0.75
nspkg                              3.0.4
telemetry                          1.0.4

I still see this:

C:\src\aks\tutorial\azure-voting-app-redis>az aks get-upgrades --resource-group aksTutorial --na

[2019-10-24 20:51] MicahMcKittrick-MSFT commented on #41421
Looks like an issue running locally for some reason. I ran the cloud shell I get:

micah@Azure:~$ az aks get-upgrades --resource-group Compute-Resources --name XXXXXXX --output table
Name     ResourceGroup      MasterVersion    NodePoolVersion    Upgrades
-------  -----------------  ---------------  -----------------  ---------------
default  Compute-Resources  1.15.3           1.15.3

[2019-10-24 21:02] djohnsomsft commented on #41408
FYI, there is another blocking bug that Catalina users may run into; Unity 2019.2 recent releases crash on iOS at runtime: https://issuetracker.unity3d.com/issues/ios

[2019-10-24 21:10] nibaccam commented on #39852
@hctrivedi
@GiftA-MSFT the above referenced PR addresses this issue. The doc update will go live in a few hours. If satisfied #please-close.

[2019-10-24 21:10] #39852 closed

[2019-10-24 21:11] charlieduso opened #41438 "Concerns about 'getLastRequestStatistics' interaction with concurrent operations"
For the MongoDB API, the documentation states that the command, 'getLastRequestStatistics' returns information about the last operation executed (name, request charge, duration). By 'last operation executed' does it mean the last operation made against the database, or is it something more aware, like the last operation within the execution context of a thread?

If multiple, concurrent calls were

[2019-10-24 21:13] azav opened #41439 "Explain how to change the settings from the sample app to use those from the Azure auth that we are asked to create."
Explain these:
 kGraphURI = "https://graph.microsoft.com/v1.0/me/"
let kScopes: [String] = ["https://graph.microsoft.com/user.read"]
let kAuthority = "https://login.microsoftonline.com/common"

Explain what needs to be changed or doesn't need to be changed to use the Azure Auth that you have been instructed to set up.  Explain why.  Why do we have an Application ID URI?  What does it do?  Where do

[2019-10-24 21:14] femsulu commented on #41378
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-10-24 21:15] femsulu commented on #41389
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-10-24 21:16] PatAltimore commented on #41334
Hi @mprsic,

Thank you for the detailed information. I'll improve the pre-reqs. I have it on the backlog. I won't get to it for a couple of weeks. Thanks again for the feedback.

Pat

[2019-10-24 21:16] femsulu commented on #41420
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-10-24 21:16] kyschouv opened #41440 "Basic SKU IP doesn't work"
It appears that at some point Standard Load Balancers started being used for AKS deployments, and they refuse to bind Basic SKU IP Addresses. The line "Currently only Basic IP SKUis supported." seems to be incorrect now, and could cause a lot of headache and wasted time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7

[2019-10-24 21:18] shashishailaj commented on #40969
@jgwinner We checked the above and found that this is correct as you would not be able to delete the conflicted Azure AD/O365 Admin object to fix the duplicate account conflict. For sync of the correct on-prem account to the Azure AD we need to make sure that on-premise account UPN is not available on the Azure AD.

I think we can ad a section of making sure that there is another GA account availa

[2019-10-24 21:25] Alberto-Vega-MSFT commented on #41093
@orionJag Can you confirm that you have the prerequisites installed?

 C# for Visual Studio Code (powered by OmniSharp) extension.
.NET Core 2.1 SDK.

[2019-10-24 21:25] NavtejSaini-MSFT commented on #41438
@charlieduso Thanks for the feedback. We have already received your request for this issue through [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/202135b3-3afd-46e2-ba81-db19be25799d/cosmos-mongodb-api-get-ru-cost-for-specific-queries-is-getlastrequeststatistics-contextually?forum=azurecosmosdb)
We are working towards finding a better answer for you. Thanks for your patience. We will get b

[2019-10-24 21:25] CodyBatt opened #41441 "Removal is missing"
The second paragraph says:
```This article details installation, detection, and **removal** of the Azure Virtual Machine Agent.```

There is no information concerning removal of the Azure Virtual Machine Agent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab75f449-661d-bd1e-3ebd-61e2384a911a
* Version Independent ID:

[2019-10-24 21:29] craigktreasure commented on #41408
@djohnsomsft Ouch. Thanks for reporting this! I'll see about getting our docs for the iOS apps updated with these workaround.

[2019-10-24 21:30] ckbargavi opened #41442 "psp:restricted ClusterRole is not found"
Did you mean to say "psp:privileged" ? It is confusing that at some places, you referred as "restricted".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7dc4598-18d3-bdcc-e21a-f838fb752268
* Version Independent ID: edf2d399-9bbb-1c1e-e4cc-d69bf2ce0f05
* Content: [Use pod security policies in Azure Kubernetes Service (

[2019-10-24 21:30] MicahMcKittrick-MSFT commented on #41440
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-24 21:31] MicahMcKittrick-MSFT commented on #41441
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-24 21:31] MicahMcKittrick-MSFT commented on #41442
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-24 21:33] ckbargavi commented on #41442
Pls fix typos
priviledged => privileged

[2019-10-24 21:34] tomdan-MSFT opened #41443 "Multiple FIDO2 identities and logon behavior with Windows 10?"
Can we add documentation on the expected behavior with multiple FIDO2 token identities for interactive Windows logon?  If you enroll multiple identities with a FIDO2 token, it will allow you to pick which identity one to use when doing web authentication.  If you take the same token and use it to logon a Windows 10 PC, it does not give you an option of which identity to use.  It will automatically

[2019-10-24 21:43] MicahMcKittrick-MSFT commented on #41442
@ckbargavi I believe this is related to another issue currently being addressed against this doc

#40300

I can quickly fix the typo though

[2019-10-24 21:48] wallace commented on #41053
@amanmcse , I apologize for misleading you.

In my original message, I did not include the requests made in my case. Instead, I copied the requests from the documentation. I will now include my original requests to demonstrate that the problem exists.

My original request copied below:

[code]

A screenshot showing that request before I log the azure ad user who does not have admin consent capabil

[2019-10-24 21:50] ggailey777 commented on #41396
@IGx89 I'm checking with the product team about this. This sounds like a product bug, but we do need to update this article to mention version 3.x.

[2019-10-24 21:52] jgwinner commented on #40969
Are you saying if I'm bob@contoso.com in my local AD that I cannot have an email address of bob@contoso.com in O365?

Seriously?

How does the first account get setup? The above is mandatory when creating an O365 account, as is the multiple SMTP addresses.

In this case, I already demoted one of the accounts, but I'm still getting the conflicted address complaint, every 30 minutes. It's driving me

[2019-10-24 21:56] trickyxl commented on #24686
I was able to resolve this by going to the app registration (after following all of the service principal name recommendations), and then in the app registration that was created go to API permission and add Azure Storage for user_impersonation, i added Azure Data Lake the same way for good measure.

[2019-10-24 22:03] rajukum opened #41444 "Link to all the sample is broken"
Link to HTTP data Downloader is broken and also others.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 389f4119-1f40-d14d-273d-970828829aba
* Version Independent ID: 20c91bc2-121f-c753-80ff-d1c490e03e1d
* Content: [Use custom activities in an Azure Data Factory pipeline](https://docs.microsoft.com/en-us/azure/data-fact

[2019-10-24 22:06] ctopete77 commented on #28478
Are there any additional notes to this? I spun up an Azure NV6 attempting to get RDP to use the M60 GPU - when I perform dxdiag and check the display tab, it states it is using "MS Remote Display Adapter". Do you know if there is any particular settings that would allow the client to use the host GPU instead using the virtual graphic card when using RDP?

[2019-10-24 22:16] HJToland3 commented on #41226
@kpetrow - You don’t have to worry about the site-to-site VPN, which refers to setting up connectivity between on-premise to Azure. However an Azure VNET is still required to provision DMS. Create a new virtual network by entering a new name. This will create a basic VNET that can connect to source servers with public facing IPs. You can then take additional steps to upgrade this network and incre

[2019-10-24 22:19] Breaker119 opened #41445 "Incorrect test under Errors"
Step 2 under Errors "Select Additional Security Verification." should now read "Select Edit security info."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d577f70e-9632-48ee-8e00-cead8e3cbd5b
* Version Independent ID: 44ebe4c6-0e6a-5ce4-554c-d4ed856e09c9
* Content: [Azure Multi-Factor Authentication FAQ - Azure Active

[2019-10-24 22:28] dgregoraz opened #41446 "Some variable names are wrong"
There are some inconsistencies in the variable names declared in "Set global variables" and some of the operations. For example, to create a pipeline it uses ${subsId} but the variable name is ${subscriptionId}. Also ${resourceGroupName} and ${resourceGroup}.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7dbdc219-c30f

[2019-10-24 22:28] MGoedtel commented on #35546
This fix has been included as part of a set of changes and new content being released for the Ignite conference and goes live the week of 11/4.  #please close.

[2019-10-24 22:44] CeciAc opened #41447 "Version Information"
I moved this from here:
the contributor is asking for aditional information
The comment below was machine translated:

@michel-priori commented 13 hours ago — with docs.microsoft.com
"a new feature of the database engine" says nothing about the versions (vintage) or editions concerned.
Thanks for adding the information

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2019-10-24 22:45] MicahMcKittrick-MSFT commented on #41442
@mlearned I fixed the typos but I agree with @ckbargavi the doc does say restricted a lot then goes to show privileged roles. We should review this to see if it is correct.

I will assign to you but this could be included in #40300 as well

[2019-10-24 22:54] cabailey commented on #41132
@DeanGross : Dean, because we have confirmation that instructions aren't missing from the documentation, I'm going to close this with the repeated recommendation that you follow up with Support.
#please-close

[2019-10-24 22:54] #41132 closed

[2019-10-24 22:56] GiftA-MSFT commented on #41369
@kez96 thanks for reaching out. We'll review this issue and get back to you shortly. Thanks.

[2019-10-24 22:59] TravisCragg-MSFT commented on #41429
@vijayalaya can you post a link to the doc that you are referring to?

[2019-10-24 23:02] MicahMcKittrick-MSFT commented on #41441
@CodyBatt good point! I will assign to the content author to review.

[2019-10-24 23:03] CeciAc opened #41450 "Recommandations et limites"
Hi team
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/642
The contributor is requesting aditional information

The comment below was machine translated
@michel-priori commented 14 hours ago — with docs.microsoft.com
the recommendation is to put the LDF file on a different disk than the data files.
What about the sLOG file? with the LOG file? with the data? elsewh

[2019-10-24 23:05] MarileeTurscak-MSFT commented on #41445
@Breaker119
Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-24 23:06] TravisCragg-MSFT commented on #41434
@ThunderHorse Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-10-24 23:18] MarileeTurscak-MSFT commented on #41445
@Breaker119 can you please post a screenshot? Mine shows "Additional Security Verification."

[2019-10-24 23:19] DeanCefola opened #41451 "Clarity on Active Directory Requirements"
many customers are confused on the AD requirements.  They read the requirements section I mention below and think that Azure AD DS is a requirement for WVD, when it is only 1 of the supported options.

Current wording in the docs:
Your infrastructure needs the following things to support Windows Virtual Desktop:

An Azure Active Directory
A Windows Server Active Directory in sync with Azure Active

[2019-10-24 23:24] MarileeTurscak-MSFT commented on #41289
Emails inherit the logo and names set in custom branding.

I am closing this out because I have not heard back but feel free to email me at AzCommunity@microsoft.com or open a new issue under the doc itself and I will gladly continue the discussion.

[2019-10-24 23:24] #41289 closed

[2019-10-24 23:27] aldesan opened #41452 "issues I have following "Sign in users and call the Microsoft Graph from an Android app""
"Select Basic Activity and select Next." should read "Select Empty Activity and select Next."
implementation 'com.microsoft.identity.client:msal:1.0.+' did not work.
implementation 'com.microsoft.identity.client:msal:0.3.+' did work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aecf9610-b6e2-75fc-a674-869d9b95702c
* V

[2019-10-24 23:27] CeciAc opened #41453 "Old screenshots?"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/543

@D3nnisd commented 9 hours ago — with docs.microsoft.com
Hi,

This page seem to have old screenshots. Or is this a new version/theme?

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89177180-caeb-e2e1-5614-60719f59367

[2019-10-24 23:29] MicahMcKittrick-MSFT commented on #41440
@kyschouv I just tested and you are correct. Seems we by default use a standard load balancer.

@mlearned @MicrosoftDocs/aks-pm how would you like to address this in this doc?

[2019-10-24 23:31] ckbargavi opened #41454 "admin credentials added by default when using az aks get-credentials command ?"
This statement could be incorrect
"By default, when you use the az aks get-credentials command, the admin credentials for the AKS cluster are added to your kubectl config."

Currently, I am the user with below role assignment
principalType": "User",
"roleDefinitionName": "Contributor"

In my case, I don't see any admin credentials have been added by default.
Please clarify.

---
#### Document Deta

[2019-10-24 23:31] MicahMcKittrick-MSFT commented on #41434
@shabanovanton do you know if this is a currently known limitation? I know this feature is in preview but if we are not aware of this it would be worth looking into.

[2019-10-24 23:32] djpmsft commented on #41453
This is outdated, I can create a work item to update these. Given other priorities, cannot commit to an ETA

[2019-10-24 23:33] CeciAc opened #41455 "HTTPS Trigger for flow is a premium feature"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.de-de/issues/579

@boehmmic44 commented 7 hours ago — with docs.microsoft.com
Unfortunately the https trigger is a pemium flow feature. So you need a user who pays 15$ every month or you buy 5 flows for 500$ only to configure the lead management for the azure marketplace listing. This is very bad.

---
#### Document Detai

[2019-10-24 23:33] Alberto-Vega-MSFT commented on #41424
@ridomin Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-24 23:33] tfitzmac commented on #40816
I have passed on this feedback to the team that owns the REST conceptual docs. It should get fixed in the future.

[2019-10-24 23:33] tfitzmac commented on #40816
#please-close

[2019-10-24 23:33] #40816 closed

[2019-10-24 23:33] MicahMcKittrick-MSFT commented on #41454
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-24 23:35] MarileeTurscak-MSFT commented on #41062
Which IDE are you using? It's possible that it's being flagged by the IDE and not by B2C.

[2019-10-24 23:35] tfitzmac commented on #38467
This article was out-of-date with the current client libraries. It has been removed in favor of [Authentication flows and application scenarios](https://docs.microsoft.com/en-us/azure/active-directory/develop/authentication-flows-app-scenarios).

[2019-10-24 23:36] tfitzmac commented on #38467
#please-close

[2019-10-24 23:36] #38467 closed

[2019-10-24 23:40] MicahMcKittrick-MSFT commented on #41451
@DeanCefola I think that's valid and good feedback.

I will assign to the content author to review.

[2019-10-24 23:46] TomArcherMsft commented on #26747
CC: @elliottnichols @Karishma-Tiwari-MSFT
@fernandoBRS Thanks again for your feedback

The article has been updated: https://docs.microsoft.com/azure/terraform/terratest-in-terraform-modules

#please-close

[2019-10-24 23:46] #26747 closed

[2019-10-24 23:56] patrickjlee opened #41456 "The flow is still wrong: the user needs to be warned about the error BEFORE it happens, not afterwards!"
When I ran this, I got the "This application does not have sufficient permissions against this web resource.." error and I did not see the subsequent explanation on this page (perhaps I needed to scroll down to see it) in the Error: insufficient permissions section!
So I wasted a couple of hours trying to find out where I had gone wrong.
So you should warn the reader beforehand that an error is ex

[2019-10-25 00:04] amason304 commented on #41062
I am using Intellij IDEA but it's pretty clear all the IDE is doing is on-the-fly XML validation against the declared XSD which I can find here ... https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/blob/master/TrustFrameworkPolicy_0.3.0.0.xsd#L97. There is no declared JourneyInsights element. There is an AzureApplicationInsights element. You can also validate same sor

[2019-10-25 00:04] Alberto-Vega-MSFT commented on #41424
@ridomin I was not able to reproduce the issue. This will require some deeper analysis. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2019-10-25 00:08] sajithvasu commented on #40941
@TravisCragg-MSFT : Thank you! I will wait for the outcome. Just FYI. It worked fine for me with the new setup in the month of September with V1 SKU. This month we got another requirement to spin up one more similar environment and we started encountering this problem.  Unfortunately, we cannot have one environment alone with V2 which will cause mismatch across different environments. Also, we don

[2019-10-25 00:09] KranthiPakala-MSFT commented on #41444
@rajukum Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and provide an update as appropriate.

[2019-10-25 00:13] KranthiPakala-MSFT commented on #41446
@dgregoraz Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate

[2019-10-25 00:14] GiftA-MSFT commented on #41428
@anoopasokan have you installed the "azureml-contrib-run" package. If not, please do so using the "pip install azureml-contrib-run" command as shown in the document and try to run the code again. Let me know if you're still experiencing errors. Thanks.

[2019-10-25 00:14] #41134 closed

[2019-10-25 00:24] mmacy commented on #41456
Apologies for your trouble, @patrickjlee. That was my attempt at a stop-gap measure until we get the code sample updated so that it doesn't throw the error in the first place

Until the sample is updated, I'll add another warning higher up in the flow.

#reassign:mmacy

[2019-10-25 00:30] #41234 closed

[2019-10-25 00:40] FrankHu-MSFT commented on #41371
hey @pmeuser I'm currently looking into this issue further. Thanks for letting us know about this, and stay tuned for more information in regards to this.

[2019-10-25 00:42] redwoz opened #41457 "ncorrect statement regarding adding disks to replication when VM already protected"
[https://docs.microsoft.com/en-us/azure/site-recovery/vmware-azure-exclude-disk](https://docs.microsoft.com/en-us/azure/site-recovery/vmware-azure-exclude-disk): statement may be no longer relevant/correct:

See [here](https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-enable-replication-added-disk):

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2019-10-25 00:48] limjianan opened #41458 "SchUseStrongCrypto requirement"
According to
https://docs.microsoft.com/en-us/dotnet/framework/network-programming/tls#for-net-framework-35---452-and-not-wcf
the registry key only required below  4.5.2 .netframework

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06faa428-c7b6-ca5c-271e-3f98d9536d4f
* Version Independent ID: 63adb39a-c4fa-92bb-480d-59

[2019-10-25 00:58] #41444 closed

[2019-10-25 00:59] KranthiPakala-MSFT commented on #41444
@rajukum The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2019-10-25 01:05] vijayalaya commented on #41429
Sure Travis please find the below link which I tried  to send messages to event hub

https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-dotnet-standard-getstarted-send#send-events

[2019-10-25 01:26] soorajpayyoor opened #41459 "PKCE Bug"
Either there is a bug in the document or there is a bug in the PKCE implementation. The following is based on a testing done on Azure AD B2C Tenant.

The documentation says while requesting for an authorization code, code_challenge is required if code_challenge_method is included, but that is not true. I am able to send the Authorisation Code request by only including code_challenge_method paramet

[2019-10-25 01:27] gossion commented on #40684
thanks @MGoedtel , would you update it to the document here: https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-faq#which-ports-and-domains-do-i-need-to-openwhitelist-for-the-agent

[2019-10-25 01:28] dcbrown16 opened #41460 "Missing code"
"The following code snippet creates an output asset if it doesn't already exist:"
There is nothing in the code block following that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62cb819c-cd9f-1770-56d7-0fadf1b8df78
* Version Independent ID: 3874d680-04f6-518d-7273-4362a93ffe94
* Content: [Create an Azure Media Servic

[2019-10-25 01:33] femsulu commented on #41420
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-10-25 01:52] helayoty opened #41461 "Remove unnecessary note"
[Enter feedback here]
If you could please remove the following part, I doubled check with the engineering team that we don't need it anymore. it costs me a decent amount of time trying to apply it.

" Note

The application names must match the names of the JARS exactly for the provided configuration server to work properly."

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-10-25 01:57] ebelinski commented on #39834
Well I figured out my problem thanks partially to the suggestions here. First of all I removed the packages `Microsoft.Azure.NotificationHubs` and `Microsoft.WindowsAzure.Messaging.iOS`, and added `Xamarin.Azure.NotificationHubs.iOS`. I'm not sure why there are multiple packages covering iOS Azure NotificationHubs, but it seems like only `Xamarin.Azure.NotificationHubs.iOS` has the fix related to

[2019-10-25 02:00] SLdragon commented on #41093
Hi, @orionJag, from your error logs, seems like that your system installed the dotnet core SDK 3.0. Please uninstall it and then try to use dotnet core 2.1

[2019-10-25 02:41] SnehaAgrawal-MSFT commented on #41426
@dagrooms52 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-25 02:42] SnehaAgrawal-MSFT commented on #41425
@dagrooms52 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-25 02:42] femsulu commented on #41038
@vboyev-MSFT not completely sure what you mean by: "_Some workspaces are orphaned or no longer valid_". I reviewed the supported [PowerShell](https://docs.microsoft.com/en-us/powershell/module/az.operationalinsights/New-AzOperationalInsightsWorkspace?view=azps-2.8.0) modules and [REST APIs](https://docs.microsoft.com/en-us/rest/api/loganalytics/workspaces) specific to Workspace management and didn

[2019-10-25 02:44] #41038 closed

[2019-10-25 02:51] dhruvingajjar opened #41463 "Cannot setup self-hosted IR as proxy for my Az-SSIS IR"
Even after following the instructions and following the steps as mentioned in this article, when I click on the checkbox 'Set up Self-Hosted Integration Runtime as a proxy for your Azure-SSIS Integration Runtime' then my self-hosted integration runtime does not show up in the dropdown for me to select it. I have got a self-hosted integration runtime that is showing as running in the Data Factory M

[2019-10-25 02:52] watahani opened #41464 "Add mobile browser supported Password-Base SSO"
AFAIK Mobile Edge and Intune Managed Browser are support Password-Base SSO.
Please add those supported browser to supported browsers list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9edfc165-8727-4f35-1be0-b570ee716673
* Version Independent ID: b41dd96e-4a97-6f83-0b31-9ce17d1de42c
* Content: [Single sign-on to appl

[2019-10-25 02:52] xenogew opened #41465 "Export as Tensorflow Lite can't use in Android OD example app"
from this [Android Object Detection example](https://github.com/tensorflow/examples/blob/master/lite/examples/object_detection/android/README.md) I found the exported model from this instruction page, can't use in the example project I mentioned aboved. What is the difference between Azure exported model and Android example using model?

What other else is I tried download the `.pb` model file, an

[2019-10-25 02:52] femsulu commented on #41138
@WaltNC this is really valuable feedback. we recommend sharing this directly with the Cost-management feature team using [this link](https://feedback.azure.com/forums/906772-cost-management). This gives our user community & feature team to review and upvote your suggestion which helps us prioritize this request against our backlog.

@bandersmsft  - FYI.

[2019-10-25 02:52] #41138 closed

[2019-10-25 02:54] yenbohuang commented on #41301
Thanks for the reply and I will forward this question to stackoverflow.

[2019-10-25 02:54] #41301 closed

[2019-10-25 02:58] iceyokuna commented on #41368
@TravisCragg-MSFT  Sure - this document below

https://docs.microsoft.com/en-us/powershell/module/az.monitor/get-azdiagnosticsetting

https://github.com/Azure/azure-powershell/blob/master/src/Monitor/Monitor/help/Get-AzDiagnosticSetting.md

[2019-10-25 02:59] swinarko commented on #41463
Are your Self-Hosted IR and SSIS IR under the same ADF?  This proxy feature supports only IRs under the same ADF for now.  If they're, we'll need your ADF and IR names to investigate further.

[2019-10-25 03:28] sqltj opened #41466 "ADF Copy Activity page needs update for auto-creating destination table"
ADF Copy Activity page needs update for auto-creating destination table

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f8f06db-58d4-75b9-f150-9a1b4767cf75
* Version Independent ID: 54c26e53-460a-2f6e-b4f2-86f1e8581435
* Content: [Copy activity in Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/

[2019-10-25 03:39] ram-msft commented on #41465
@xenogew Thanks for the question. We are investigating the issue and will update you shortly.

[2019-10-25 03:39] dhruvingajjar commented on #41463
Yes, @swinarko . My Self-Hosted IR and SSIS IR are under the same ADF.

[2019-10-25 03:52] swinarko commented on #41463
You can email them to me now (sawinark@microsoft.com) or raise a support ticket with them.

[2019-10-25 03:55] #35546 closed

[2019-10-25 04:05] souravmishra-msft commented on #40975
@patrickjlee, I wanted to check if you got a chance to check the response posted earlier, and if it helped in answering your queries or not. If more queries around this ask, please feel free to share the same with us so that we can help you further.

[2019-10-25 04:07] souravmishra-msft commented on #40977
@Absoblogginlutely, we are closing this thread for now.

[2019-10-25 04:07] #40977 closed

[2019-10-25 04:08] souravmishra-msft commented on #40981
@JefTek, we are closing this thread for now, in case any more queries come up regarding this ask, please feel free to share the same with us so that we can help you further.

[2019-10-25 04:08] #40981 closed

[2019-10-25 04:09] #40985 closed

[2019-10-25 04:11] souravmishra-msft commented on #41070
@mohitmeshram, I wanted to touch base with you to check if the above response helped or there are still any more queries around this. if there are any more queries, please do share the same with us so that we can help you further.

[2019-10-25 04:12] SwathiDhanwada-MSFT commented on #41084
@thiagosoeiro As there is no further information has been shared , we will be closing the issue for now. If you need further assistance ,please respond  and we will be glad to help you.

[2019-10-25 04:12] #41084 closed

[2019-10-25 04:12] SwathiDhanwada-MSFT commented on #41085
@thiagosoeiro As there is no further information has been shared , we will be closing the issue for now. If you need further assistance ,please respond  and we will be glad to help you.

[2019-10-25 04:12] #41085 closed

[2019-10-25 04:18] keshava-hm commented on #40855
Additional info: If I restart the iotedge using following commands:
stop-service iotedge
start-service iotedge
I receive all the messages (with amqp), but with long delay (about 30 sec).

I see this behavior almost similar to one explained in another thread:
https://github.com/Azure/iotedge/issues/1715

He's using Linux, I get this issue with Win10 as well.

[2019-10-25 04:21] rwike77 commented on #40828
@lafe, the article has been updated.  I'm closing this issue, but feel free to reopen if need be.  Thanks.  #please-close

[2019-10-25 04:21] #40828 closed

[2019-10-25 04:23] #41271 closed

[2019-10-25 04:23] #41230 closed

[2019-10-25 04:26] souravmishra-msft commented on #41433
@arcotek-ltd, Thank you for sharing the details. We are looking into this and will revert on this thread soon with the recommendations.

[2019-10-25 04:28] AjayKumar-MSFT commented on #41247
@katerinapetsa, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag us in your reply and we will gladly continue the discussion. Thanks again for posting this question!

[2019-10-25 04:28] #41247 closed

[2019-10-25 04:33] souravmishra-msft commented on #41456
@patrickjlee, Thank you pointing this out. I do see that Marsh is already working on this request.

[2019-10-25 04:35] souravmishra-msft commented on #41458
@limjianan, Thank for sharing query. We are looking into this and will get back to you on this thread soon.

[2019-10-25 04:38] souravmishra-msft commented on #41452
@aldesan, Thank you for sharing the query. We are looking into this and will get back to you on this thread soon.

[2019-10-25 04:43] VikasPullagura-MSFT commented on #41409
@FunkEinstein Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-25 04:44] AjayKumar-MSFT commented on #41460
@dcbrown16, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-10-25 04:52] VikasPullagura-MSFT commented on #41359
@Sandeepkumarv399 Any update on the issue?

[2019-10-25 04:52] VikasPullagura-MSFT commented on #41202
@LeonardoFelippine I have been following following up with the doc author internally. Will update here once I hear back.

[2019-10-25 04:53] VikasPullagura-MSFT commented on #41201
@AlexJPawlak I have been following following up with the doc author internally. Will update here once I hear back.

[2019-10-25 04:58] #41199 closed

[2019-10-25 04:59] SwathiDhanwada-MSFT commented on #41198
@ctolkien Can you please let us know if you need further assistance on this issue?

[2019-10-25 05:00] rwike77 commented on #40619
@stewartadam , you're right we don't have this documented.  I've got a work item for this, will try to get to it soon.  Have you seen this blog post?  https://winsmarts.com/how-to-call-the-userinfo-endpoint-in-azuread-6ff769567a5a .  Hopefully that's enough to get you started.  @hpsin , FYI.

[2019-10-25 05:03] inzi25 commented on #41187
@AshokPeddakotla Yes,I have already completed the prerequisite steps and can able to connect ABS from VS, But still same issue when create the smart contract project. Any way I will check those suggestions.

[2019-10-25 05:04] hpsin commented on #40619
You can't, per OIDC spec. In general, the userinfo endpoint is standards compliant. We can add details on how to use it, but the general guidance from Microsoft here is to use the claims in the ID token since they will be a superset of what is in the userinfo endpoint. If you need more info, use /me on MS Graph.

[2019-10-25 05:04] inzi25 commented on #41187
Thanks for your support !

[2019-10-25 05:05] ManojReddy-MSFT commented on #41458
@limjianan For versions above 4.5.2, the registry key will be set to 1 by default. If it already exists you don't have to set it again.

So, the registry key is required for all versions.

[2019-10-25 05:08] harika-thallam commented on #40674
Thanks for the response, I was able to work make it work with the Arm template body.

[2019-10-25 05:08] #40674 closed

[2019-10-25 05:12] roygara commented on #41277
@jgwinner thanks for reaching out, I'm not too sure I follow, though. Would you mind clarifying what you mean by access policy?

[2019-10-25 05:13] hpsin commented on #36432
You have to use /.default on the original admin consent. You can use dynamic scopes (eg individually called out scopes) on the v2 one, which should be in the sidebar.

[2019-10-25 05:15] wahyuen opened #41468 "Azure SQL Serverless - current supported methods of provisioning?"
Given the response from #41350 which states there is no ARM support currently, is there currently support for provisioning Serverless SQL via Azure CLI? or is PowerShell the ONLY programatic way to provision this type of database currently?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46602618-c925-75b6-bf3e-1039f168

[2019-10-25 05:20] JJussi opened #41469 "Colors used at diagrams"
For red-green-blind person, arrow colors (Data pathway, Log pathway) at https://docs.microsoft.com/en-us/azure/sql-database/sql-database-service-tier-hyperscale#distributed-functions-architecture section diagram are almost same color. So, it's hard to see directly, which one is which.
You should use "stronger" green (0,255,0) and red (255,0,0) on those diagrams.

I can see "pure" red and green. Pr

[2019-10-25 05:22] roygara commented on #41281
@jgwinner That specific section of the text isn't talking about Azure File Sync. We do support maintaining DACLS, just not if you're trying to use both Azure File Sync as well as Azure AD DS. For now, you'd need to be using either/or of these, not both of them, if you want to persist NTFS DACLs.

I'm a little confused why the 24 hour sync period is coming into play for you though. In your use case

[2019-10-25 05:28] dhruvingajjar commented on #41463
Thanks, I've dropped you the details now. You can drop your email address if you want to now. I had no other easier way to share with you this issue in my account. So, I appreciate you letting me PM you the details.

[2019-10-25 05:30] shabanovanton commented on #41434
Have no clue:) why asking me?:)

[2019-10-25 05:34] RohitMungi-MSFT commented on #41466
@sqltj Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-10-25 06:05] joachimloe commented on #41370
@jeevansd Thanks for the update. Keep up the good work :)

[2019-10-25 06:13] ameetkonnur opened #41470 "Updating ASGfor VMSS through CLI shows the below error. Doesnt allow to add ASG for VMSS."
All IPConfigurations on a Network Interface should reference the same set of Application Security Groups. IPConfiguration ipconfig2 references ASG(s) , wheras IPConfiguration /subscriptions/&lt;subsription id&gt;/resourceGroups/MC_AKS_AKS_CENTRALINDIA/providers/Microsoft.Compute/virtualMachineScaleSets/aks-agentpool-11552782-vmss/updateGroups/3b0dd537-b47b-485a-967b-6a214f8975be/networkInterfaceCo

[2019-10-25 06:14] stewartadam commented on #40619
@rwike77 thx - I’m posting the feedback on behalf of a customer, we did get it worked out but would have been much clearer with explicit docs for v1/v2 userinfo endpoints.

@hpsin shouldn’t that be validated as a part of the token request and rejected by IdP as invalid instead of implicitly using the first API seen in the scopes as the audience, and dropping others?

[2019-10-25 06:26] aralvar opened #41471 "The limitation of NSG in Gateway Subnet also applies to ExpressRoute GWs"
There's a note in this page that says that NSG on Gateway Subnet is not supported. I understand this article is about VPN, but there's no public article where we specify that this limitation also applies to ExpressRoute GWs.
So could we change the note to this?

When working with gateway subnets, avoid associating a network security group (NSG) to the gateway subnet. Associating a network security

[2019-10-25 06:28] hisasima opened #41472 "Only Application Gateway v2 support Availabitity Zones"
I know that Availabitity Zones is supported by only Application Gateway v2 not v1. I hope you to add this limitation in this document.
E.g:
Now : Application Gateway
After : Application Gateway v2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cca70845-100f-2cfd-aba3-34b7fa4a5264
* Version Independent ID: 475b26e5-9e23

[2019-10-25 06:37] msrini-MSFT commented on #41471
@aralvar , Yes, this limitation applies to both VPN and Express Route gateways.

I will update the documentation.

[2019-10-25 06:40] AjayKumar-MSFT commented on #34265
Apologies for the delay! Thanks for sharing the feedback! Since this channel is reserved for ‘Azure docs’ questions- For doc feedback and content improvements, we recommend posting technical questions on the [technical forum1](https://stackoverflow.com/questions/tagged/azure-web-app-service) and/ [technical forum2 ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azuremobile) where one o

[2019-10-25 06:42] swinarko commented on #41463
#please-close

[2019-10-25 06:42] #41463 closed

[2019-10-25 06:44] PramodValavala-MSFT commented on #41191
@ashishmundrajll Just following up here... Hope my previous comments help.

[2019-10-25 06:44] msrini-MSFT commented on #41472
@hisasima , Thank you for your feedback. I will update the documentation.

[2019-10-25 06:47] msrini-MSFT commented on #41471
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/93441

[2019-10-25 06:49] msrini-MSFT commented on #41472
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/93442

[2019-10-25 06:55] #41471 closed

[2019-10-25 06:55] #41472 closed

[2019-10-25 07:03] #41210 closed

[2019-10-25 07:18] AshokPeddakotla-MSFT commented on #41278
@rbrundritt Can you help answer this question? I don't see this information other than
"Every Azure Maps account gets a free storage limit of 50 MB. This means that you can either upload 1 document of size 50 MB or 5 documents, each of size 10 MB or 100 documents, each of size 500 KB and so on. Once the free storage limit is reached, all the new upload API calls will return a 409 Conflict http err

[2019-10-25 07:21] ggailey777 commented on #40744
@brandonh-msft good catch!

[2019-10-25 07:36] dearandyxu commented on #40478
The tutorial has been updated.
#please-close

[2019-10-25 07:36] #40478 closed

[2019-10-25 07:38] #40744 closed

[2019-10-25 07:52] KetanChawda-MSFT commented on #41111
@AlexisMtr Please check [Consumption Plan Cost Billing FAQ](https://github.com/Azure/Azure-Functions/wiki/Consumption-Plan-Cost-Billing-FAQ) for details. If you are seeing any discrepancy in the monitoring and documentation, I would request you to create a support request as it would require a deeper analysis.

If you do not have access to a support plan, please reach out `AZCommunity[at]microsoft

[2019-10-25 07:52] #41111 closed

[2019-10-25 07:56] dearandyxu commented on #37955
#please-close

[2019-10-25 07:56] #37955 closed

[2019-10-25 08:11] ukerzel opened #41473 "Permission to use graphics for Team Data Science Process in a university course book / script ?"
Dear all, I'm with IUBH, a German university of applied sciences focusing on distance learning. We're currently establishing new study programmes in Data Science and AI. As part of the material to cover I would like to ask whether we may include the graphics on the TDSP page, in particular the Data Science Lifecycle illustration.
Many thanks
Ulrich

---
#### Document Details

⚠ *Do not edit this s

[2019-10-25 08:21] ShirleyWangMSFT commented on #18263
@ikramer-ssb Sorry for taking so long to get back to your question.  Oracle Eloqua connector is in preview state at the moment and we will evaluate when to move it into GA state based on customer requirements.  We will further enhancement documentation for Oracle Eloqua at that time to better describe how to extract data from the various datasets out of Oracle Eloqua.

#please-close

[2019-10-25 08:21] #18263 closed

[2019-10-25 08:25] souravmishra-msft commented on #41443
@tomdan-MSFT, Thank you for the query. I am requesting the Author to review and make the changes accordingly.

[2019-10-25 08:55] moseleycj opened #41474 "More info needed on internal key rotation"
"Encryption keys are managed by Microsoft and are rotated per Microsoft internal guidelines."

... Which is how often? Where can I see the Microsoft internal guidelines on key rotation? (please don't just respond with a link to the gigantic trust center).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16c7901b-497c-38b

[2019-10-25 08:59] jtuliani commented on #41379
Thank you all!

[2019-10-25 09:00] ManojReddy-MSFT commented on #41464
@watahani  For password-based SSO, you need the "My Apps Secure Sign-in Extension" and this is available only on PCs. Can you provide more details around why you think this is supported? Have you tested this in your environment?

[2019-10-25 09:16] stephbaron commented on #39197
This fix has been deployed to production, I'll get the documentation updated as well.

[2019-10-25 09:17] mkiernan commented on #41172
The issue has been resolved by: a) enable clipboard in "settings" in chrome browser b) Restart the Microsoft windows clipboard agent on the windows bastion node.

[2019-10-25 09:41] RohitMungi-MSFT commented on #41473
@ukerzel The terms of use of our documentation is available [here](https://docs.microsoft.com/en-us/legal/termsofuse). The guidelines for the usage of images is only restricted to own, personal, non-commercial use only.

[2019-10-25 09:46] VikasPullagura-MSFT commented on #41439
@azav Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-25 09:47] ukerzel commented on #41473
Hi,
many thanks - I know, hence my question...
We are a state accredited but private university of applied sciences. It
would be great to include the figure into our teaching material (with
proper reference and citation of course) but it would be not "my" own use
as it's intended for the students. Whether or not it's commercial is
probably more difficult to discern. Unlike a state-owned university

[2019-10-25 09:56] limjianan commented on #41458
I don't want to argue but I look at my AADconnect server which is .netframework 4.7.2 and it do not have SchUseStrongCrypto by default.

So does it means, it will not use TLS1.2?

[2019-10-25 10:09] gpartridge2004 commented on #12576
The comments above refer to information that is no longer in this article. Is that because the data is now just stored in Europe, or is there a link to the information referenced? For example, I see nothing about password hashes or certain attributes being replicated or solely stored in the US

[2019-10-25 11:13] cephalin commented on #34265
@chrisscalzo It looks like the custom deployment script portion (deploy.sh) of the doc steps are not being run like before and the deployment engine is somehow defaulting to Node.js deployment because it sees a package.json. I reproduce the same error you're seeing. Will track this down and get back to you.

[2019-10-25 11:26] AshokPeddakotla-MSFT commented on #41279
@SeaDude Thanks for the additional information. Adding author @walsehgal  to validate and provide more information.

[2019-10-25 11:36] mxsh commented on #19428
How can you have a log running as 30-40k IOPS (IOs per second)
     Data/Log IOPS (approximate)	Up to 30-40 K IOPS per instance
but also have a max throughput of the logs of 22Mb/second.

If you have a 8 core machine with each core being used for inserting data into tempdb or a live db then have you you've limited each core to just <3Mb/second.

[2019-10-25 11:54] psignoret commented on #36432
@stewartadam @sandeepbhupathi Thanks for all your feedback here.

To clarify: There is no mechanism to dynamically *request* app-only permission (i.e. the permissions that are included in access tokens obtained through Client Credentials). Like you've managed to figure out, all Client Credentials requests on the v2 endpoint must include `scope={resource}/.default` where `{resource}` is the API whi

[2019-10-25 12:05] Herr-Sepp opened #41476 "ACI: Multi-container groups are not sharing resources by default"
ACI offers the possibility to offer up to 60 containers in one group according to the documentation.

If you want to provide so many containers, the single specification of resources for each container is very cumbersome instead of only specifying the resources for the whole group once, which are shared among the containers.

Example:
If I want to provide 40 containers in a group and ACI max CPU c

[2019-10-25 12:44] KalyanChanumolu-MSFT commented on #41450
Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-10-25 12:45] KalyanChanumolu-MSFT commented on #41447
Duplicate of #41450

[2019-10-25 12:45] KalyanChanumolu-MSFT commented on #41450
Closing this as this is a duplicate

[2019-10-25 12:49] KalyanChanumolu-MSFT commented on #41469
@JJussi Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-10-25 13:04] VikasPullagura-MSFT commented on #41459
@soorajpayyoor Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-25 13:08] KalyanChanumolu-MSFT commented on #41468
@wahyuen Thank you for reaching out. We are actively investigating and will get back to you soon.

[2019-10-25 13:08] VikasPullagura-MSFT commented on #41457
@redwoz Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-25 13:09] KalyanChanumolu-MSFT commented on #41100
Thank you for the feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-10-25 13:10] VikasPullagura-MSFT commented on #41461
@helayoty Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-25 13:11] VikasPullagura-MSFT commented on #41470
@ameetkonnur Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-25 13:13] VikasPullagura-MSFT commented on #41474
@moseleycj Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-25 13:13] John-Blair opened #41477 "How do i run the New-AzSqlDatabaseCopy script on the portal.azure"
Like most ms docs - this is really confusing.
You show the powershell script for copying a database - but how do i run it on azure or devops- and where do i run it?
Also I want to replace an existing target database - how is that done?
Try making your examples complete and childproof.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-10-25 13:22] PramodValavala-MSFT commented on #41048
@jasoncoding Hope my previous comments help.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-10-25 13:22] #41048 closed

[2019-10-25 13:24] xtianus79 commented on #41058
@diberry yea, I am going to submit a ticket

[2019-10-25 13:34] diberry commented on #41058
Can you try this link [https://ms.portal.azure.com/#create/Microsoft.CognitiveServicesLUISAllInOne](https://ms.portal.azure.com/#create/Microsoft.CognitiveServicesLUISAllInOne)?

[2019-10-25 13:35] RyanHill-MSFT commented on #40955
@Djongov, I think the best course of action is to file an issue over at https://github.com/Azure/azure-powershell/issues. I'm thinking it might be a bug in a the New-AzWebSite cmdlet.

I'm going to go ahead and close this issue. But should you require assistance, feel free to reopen and tag me.

[2019-10-25 13:35] #40955 closed

[2019-10-25 13:38] Breaker119 commented on #41445
![image](https://user-images.githubusercontent.com/47760935/67575751-d8c07e80-f702-11e9-88e8-a8ec25f9201f.png)

[2019-10-25 13:49] wojciehm opened #41478 "The provided script to create a Run As account by using a self-signed certificate isn't working in cloud shell"
Hi
I am trying to create a new Run As account for my customer in Azure Cloud Shell.

Here is the command I am trying to execute
[code]
The script is always failing with the following error.

[code]
I installed azurerm from powershell gallery.
.\New-RunAsAccount.ps1 -ResourceGroup <ResourceGroupName> -AutomationAccountName <NameofAutomationAccount> -SubscriptionId <SubscriptionId> -ApplicationDispl

[2019-10-25 13:51] karthick4d commented on #41304
Hi Adam,

Our Org has a AD synced with AAD. I tried using my ID where I have Contributor access to the storage account, I get an error. If it's possible, I can raise a formal ticket through our subscription to Microsoft to help us. Meanwhile If there are any other document explaining this, I can give one more try.

[2019-10-25 14:28] xtianus79 commented on #41058
@diberry ahhh that works. Where did you get that link? lol so that is what we should use?

[2019-10-25 14:28] JimBlizzard opened #41479 "Azure DevOps Administrator role - How?"
The **Azure DevOps Administrator** role is described as being able to "manage the Azure DevOps policy to restrict new Azure DevOps organization to a set of configurable users or groups. Users in the role can manage this policy through any Azure DevOps organization that is backed by the company's Azure AD organization."  But there is no documentation anywhere on how to do this. It's a huge hole in

[2019-10-25 14:30] NavtejSaini-MSFT commented on #41477
@John-Blair We are checking this and we will get back to you.

[2019-10-25 14:34] rwike77 commented on #41310
@heaps926  Sorry to hear you were having trouble.  We're just starting to add content and samples for authenticating Functions apps, actually.  Here are some samples for Function Web APIs (clients use auth code flow to authenticate):
- https://github.com/Azure-Samples/ms-identity-dotnet-webapi-azurefunctions
- https://github.com/Azure-Samples/ms-identity-nodejs-webapi-azurefunctions
- https://gith

[2019-10-25 14:38] diberry commented on #41058
@xtianus79 - yes, the docs with be updated in the next few weeks with that link. Sorry for the confusion.   Please continue asking questions when you find issues with the product or docs.

[2019-10-25 14:42] NBnfork opened #41480 "Removed attribute mapping information"
Hey Docs Team,
I noticed that the last updated you made to these docs, you removed the section about how to map attributes. I believe this is still a necessary part of the setup process. Would it be possible to bring those sections back that were removed? It would help our customers in implementing this important Azure feature. Thank you.

Sincerely,
Noah Buchen, software support engineer
Lessonly

[2019-10-25 14:52] NavtejSaini-MSFT commented on #41477
@John-Blair The link just below sample script takes you to [this ](https://docs.microsoft.com/en-us/azure/sql-database/scripts/sql-database-copy-database-to-new-server-powershell) page where you will have all the instructions on using PS, portal etc.
![CaptureSam](https://user-images.githubusercontent.com/52257742/67581163-8dfc3200-f715-11e9-8a96-c97b580114b1.JPG)
Hope this helps.

[2019-10-25 14:56] behrad-techtiq commented on #11450
i'm getting exactly same error . any update on this ?

[2019-10-25 15:04] MGoedtel commented on #40684
No, I've removed this from the FAQ because I need to include information for Azure China and US Gov Clouds, as well as Azure cloud so it's going to be published in the Enable AzMon for containers overview article.  Hope that helps.

[2019-10-25 15:07] tfitzmac commented on #41102
@dcbrown16 - thanks for this feedback. I have removed those resource providers from this article. It should get published this morning.

[2019-10-25 15:07] tfitzmac commented on #41102
#please-close

[2019-10-25 15:07] #41102 closed

[2019-10-25 15:23] LeonardoFelippine opened #41481 "Domain join requirements"
Hello.

Does the account that will join the VMs to the ADDS (not AADDS) need to be synchronized to Azure AD?

I am getting generic errors during the domain-joining process.

Regards.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 970202b7-165f-18df-e928-c47c45a18755
* Version Independent ID: d5393b62-4211-72f5-fc7a-363

[2019-10-25 15:23] geekGK commented on #41394
@TravisCragg-MSFT, That is with basic load balancer. I'm using a standard Public Load Balancer, in that case deterministic assignment is possible?

[2019-10-25 15:24] eanyanwu opened #41482 "Table headers use `GB` instead of `GiB`"
The [notes at the bottom of the page](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes-hpc#size-table-definitions) seem to indicate that the sizes are in GiB.
Additionally, the other Virtual Machine pages seem to all use `GiB` in their headers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d9f65d

[2019-10-25 15:25] John-Blair commented on #41477
For goodness sake - I don't want to run it on https://shell.azure.com/

I want to run it on https://portal.azure.com/  ....where is the powershell console on there?

not impressed.
Microsoft Azure<https://portal.azure.com/>
Microsoft is radically simplifying cloud dev and ops in first-of-its-kind Azure Preview portal at portal.azure.com
portal.azure.com

Thanks

John Blair

_______________________

[2019-10-25 15:26] RyanLWilliams commented on #33167
@ChristianMontoya Karishma-Tiwari-MSFT is Teams supported yet?

[2019-10-25 15:45] danielsollondon opened #41483 "You can now add the Storage output binding to your project."
I am new to functions, and just trying to get this basic example working, this walk through breaks at the subject line, it does not mention that you need to install the Azure Functions Vis Studio Code plugin, and then, when you install it, and 'add bindings', you are then asked to initialize the project, which is not obvious how to do so.

---
#### Document Details

⚠ *Do not edit this section. It

[2019-10-25 15:51] rayne-wiselman commented on #41431
THanks for your feedback! Can you clarify what you mean by metrics. Azure Monitor support?

[2019-10-25 15:54] rayne-wiselman commented on #41389
Please take a look at the walkthrough for the scenario you're migrating (links below). You should find the information there. If you don't find what you're looking for let me know Thx!
https://docs.microsoft.com/en-us/azure/migrate/tutorial-prepare-vmware
https://review.docs.microsoft.com/en-us/azure/migrate/tutorial-prepare-hyper-v?branch=release-ignite-migrate

[2019-10-25 15:54] svangeti commented on #41348
@ggailey777 / @KetanChawda-MSFT  - Is this setting important for python function Siteconfig:
"linuxFxVersion": "DOCKER|microsoft/azure-functions-python3.6:2.0"? Looks like after setting this property, "WEBSITE_RUN_FROM_PACKAGE" option seem to be working. I am automating the function app creation from terraform.

[2019-10-25 15:54] rbrundritt commented on #41278
@rolucchi Can you respond to this one.

[2019-10-25 15:57] qianw211 commented on #40907
@jiahuachoo This issue has been fixed.  New purchases will result in GUID.  Thanks!

#please-close

[2019-10-25 15:58] #40907 closed

[2019-10-25 15:58] agentmorris opened #41484 "Typo"
"loosing" should be "losing"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cbc0539-4aad-5d73-7f0d-2bb56086a72f
* Version Independent ID: b2b7425d-a2e5-8261-cee9-49783fea1e9c
* Content: [Multi-protocol access on Azure Data Lake Storage (preview)](https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-m

[2019-10-25 16:08] mezmiro2040 commented on #41260
Perfect - adding the SQL DB Contributor role resolved this issue.

Thanks @danimir !

[2019-10-25 16:08] #41260 closed

[2019-10-25 16:13] justinsilverMSFT commented on #41402
Following error when running into zonal allocation failures.

{\"code\":\"ResourceOperationFailure\",\"message\":\"The resource operation completed with terminal provisioning state 'Failed'.\",\"details\":[{\"code\":\"OverconstrainedZonalAllocationRequest\",\"message\":\"Allocation failed. VM(s) with the following constraints cannot be allocated, because the condition is too restrictive. Please re

[2019-10-25 16:13] dadx4 commented on #40734
I am experiencing the same issue for some users.

[2019-10-25 16:18] ChristianMontoya commented on #33167
@RyanLWilliams : Not yet. However, as mentioned, it continues to be one of our top asks since leading up to and after GA, and we're still working hard on it.

[2019-10-25 16:20] MicahMcKittrick-MSFT commented on #41434
Sorry @shabanovanton for some reason you are listed as the author of this doc. I will get that update :)

Adding @shandilvarun to help :)

[2019-10-25 16:22] MicahMcKittrick-MSFT commented on #41434
@shandilvarun do you know if this is a currently known limitation? I know this feature is in preview but if we are not aware of this it would be worth looking into.

[2019-10-25 16:22] dadx4 commented on #40734
As you mentioned, changing the UAC to an option other than Never Notify, was a workaround for us as well. thanks for that!

[2019-10-25 16:23] MicahMcKittrick-MSFT commented on #41481
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-25 16:23] MicahMcKittrick-MSFT commented on #41476
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-10-25 16:30] ThomasWeiss commented on #41438
@charlieduso `getLastRequestStatistics` returns the statistics of the last request executed on the same connection that was used to issue that `getLastRequestStatistics` command. Note that you can also get the request charge per request by using our [diagnostic logging](https://docs.microsoft.com/en-us/azure/cosmos-db/logging#turn-on-logging-in-the-azure-portal).
#please-close

[2019-10-25 16:30] #41438 closed

[2019-10-25 16:35] xtianus79 commented on #41058
@diberry where there be a create resource that is different as well.  Meaning, when you type language understanding will that be the new choice that comes up?

[2019-10-25 16:37] MicahMcKittrick-MSFT commented on #41264
@martinjoshua appears the doc is good as is. I will go ahead and close this. If you have further questions let me know and we can always reopen and continue the conversation :)

[2019-10-25 16:37] #41264 closed

[2019-10-25 16:38] VikasPullagura-MSFT commented on #41482
@eanyanwu Thanks for pointing this out. I have raised a PR for updating the doc, the changes will go live once it is approved.

[2019-10-25 16:38] diberry commented on #41058
@xtianus79 - eventually, at some point in time, yes. Bugs are logged and in process but I don't have access to the status.

[2019-10-25 16:39] MicahMcKittrick-MSFT commented on #41288
@zffocussss appears this is just an issue with the first few logs due. I did some testing and found the same. However after that they are all in order. So at this time I am going to close this issue as there is nothing we want to add to this document at this moment.

If you have further questions let me know and we can always reopen and continue the discussion.

[2019-10-25 16:39] #41288 closed

[2019-10-25 16:46] FrankHu-MSFT commented on #41479
@JimBlizzard Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-25 16:49] VikasPullagura-MSFT commented on #41202
@Heidilohr Can you please look into this doc enhancement and add your comments.

[2019-10-25 16:50] VikasPullagura-MSFT commented on #41201
@Heidilohr Can you please look into this doc enhancement and add your comments.

[2019-10-25 16:52] craigshoemaker commented on #38372
The links are fixed and change the changes will go live with the next push of the site. #please-close

[2019-10-25 16:52] #38372 closed

[2019-10-25 16:59] MicahMcKittrick-MSFT commented on #41454
@ckbargavi I got confirmation and the statement in the doc is correct.

I also tested this in the quickstart guide and I found it worked as expected and the admin credentials were inserted.

https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough#connect-to-the-cluster``

Can you share the command you used to check and the output you got? It might have just been a mix up as that is the d

[2019-10-25 17:00] normesta commented on #41484
Thank you @agentmorris for finding this. We've corrected the spelling error. The fix will appear on the live version of this page by this afternoon. Thanks again!

[2019-10-25 17:00] normesta commented on #41484
#sign-off

[2019-10-25 17:00] normesta commented on #41484
#please-close

[2019-10-25 17:00] #41484 closed

[2019-10-25 17:00] FrankHu-MSFT commented on #41479
Hey @JimBlizzard can you clarify on your ask? Are you asking for azure devop docs on how to utilize azure devops policies to restrict new azure devops orgs to a set of users/groups?

[2019-10-25 17:01] MicahMcKittrick-MSFT commented on #41470
@ameetkonnur not sure I fully understand what you are trying to achieve. In addition looks like you are attempting to modify the AKS cluster networking which I assume you are using AKS with VMSS. What exactly is the end goal here?

[2019-10-25 17:01] FrankHu-MSFT commented on #41480
@NBnfork Thanks for your feedback! We will investigate and update as appropriate.

[2019-10-25 17:05] MicahMcKittrick-MSFT commented on #41476
Adding @dlepow and @dkkapur to see how they want to address this

[2019-10-25 17:10] MicahMcKittrick-MSFT commented on #41481
To my knowledge yes the account needs to be synced.

You can also review our troubleshooting guides for further help:

https://docs.microsoft.com/en-us/azure/virtual-desktop/troubleshoot-set-up-overview

Lastly, we have a large community of WVD users and engineers in Tech Communities who can help with troubleshooting

https://techcommunity.microsoft.com/t5/Windows-Virtual-Desktop/bd-p/WindowsVirtu

[2019-10-25 17:10] #41481 closed

[2019-10-25 17:12] MicahMcKittrick-MSFT commented on #41421
@Magnus-Hedlund I have verified this works so not 100% sure why you are seeing the issue. I would suggest you use the Azure Cloud Shell as this will ensure all the correct versions are in place.

I will close this as no updates are needed to the doc. Let me know if you need further assistance.

[2019-10-25 17:12] #41421 closed

[2019-10-25 17:18] SidShetye opened #41486 "HTTP/2 on the backend?"
Do you also use HTTP/2 at the backend, between front door and the pools at the backend (our servers, setup for http/2) ? How do we set that up? If not, what’s the plan?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d975e3d1-caac-4fd5-bcce-bf58d5b13a06
* Version Independent ID: 3f7b3c0f-d974-96e2-689f-391aea1c7c93
* Co