[2021-02-27 20:21] manekinekko opened #71356 "SWA: Installing the Git binary should be added to the Prerequisites section."
Installing the Git binary should be added to the Prerequisites section.

![image](https://user-images.githubusercontent.com/1699357/109399195-aa2f6500-7941-11eb-9d7c-bdb19e38fe45.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59b3b161-b559-f90b-1566-f18776a5f7da
* Version Independent ID: 3e536234-16ad-2ed3-fb58-c1

[2021-02-27 20:25] SynapsePOC opened #71357 "Error in document azure-docs/articles/synapse-analytics/metadata/table.md"
# affected document in repository:
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/synapse-analytics/metadata/table.md

# affected MSDN article:
https://docs.microsoft.com/en-us/azure/synapse-analytics/metadata/table#expose-a-spark-table-in-sql

# affected document area:
share-spark-tables

# incorrect text:
byte | smallint

Please correct type mapping. The data type mapped to byt

[2021-02-27 20:42] rolyon commented on #71121
Hi @omerzubair
I've made updates for Microsoft.DataShare resource provider. Updates should appear sometime next week.
thanks

[2021-02-27 20:42] rolyon commented on #71121
#please-close

[2021-02-27 20:42] #71121 closed

[2021-02-27 20:48] epa095 opened #71359 "Specify how mini_batch_size works differently based on datastore"
I have a tabular dataset backed by SQL, and it seems to me that mini_batch_size had no effect then (similarly to how it can not split a large parquet file). This should be mentioned somewhere.

It would also make more sence is the `mini_batch_size` specified nr of rows;-)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-02-27 21:03] rolyon commented on #71308
Hi @DeanGross
Thanks for the feedback. We made an update to the description. Update should appear sometime next week.
thanks

[2021-02-27 21:03] rolyon commented on #71308
#please-close

[2021-02-27 21:03] #71308 closed

[2021-02-27 21:06] rolyon commented on #71307
#please-close

[2021-02-27 21:06] #71307 closed

[2021-02-27 21:15] rolyon commented on #71309
Hi @DeanGross
This is good feedback. We've explored breaking up this long article into multiple pages. We've also received feedback that some people prefer to keep roles together so they can search across roles and scroll.
We plan to keep roles on one page for now, but if you have ideas on how we should refactor page, please let use know.
thanks

[2021-02-27 21:15] rolyon commented on #71309
#please-close

[2021-02-27 21:15] #71309 closed

[2021-02-27 21:41] IntegerMan opened #71361 "External DNS Instructions Needed"
This only covers if you're using Azure DNS. I can see that you need me to create an A record named @, but I don't know what value to use if I'm using an external DNS provider.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5ad8e3b-9adb-e5d2-9001-d1385b31d636
* Version Independent ID: 5cbf4baf-f958-6b3a-4858-b1cd9e6e00

[2021-02-27 22:41] nhwilly opened #71362 "DateTime data type in example isn't clear"
So I was following the example in this page and it shows a .NET data type of `DateTime` in the `Order` class.

Later it shows that sample stored as: `"OrderDate": "2014-09-15T23:14:25.7251173Z",`

However when I try the same thing, mine is stored as:  `"grantDateTimeUtc": "2021-03-01T08:55:00",`

I've lost the trailing `Z` and the fractions of a second, although in my case they are always zeros.

[2021-02-27 23:31] nhwilly commented on #71362
How it works makes sense, now that I've dug into it.  It's a little subtle, but the example is using `UtcNow` extension, which infers a time zone.  My dates didn't have it, so the serializer just decided to turn it into parse-able text.

[2021-02-27 23:31] #71362 closed

[2021-02-27 23:33] AvySirius opened #71363 "Procedure to require MFA seems to be outdated"
Reproducing the steps on the section to require users to register MFA (Policy Configuration) , if you click Azure Active Directory > Security, you will land on a page with links to documentations and nothing else.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed580e9f-f99a-7e85-65f0-8a4304b9bf82
* Version Independent

[2021-02-28 01:00] kevinzhang8888 opened #71364 "on AKS use azure files for pvc, azure-pvc-files.yaml example, got the following error"
https://docs.microsoft.com/en-us/azure/aks/azure-files-dynamic-pv
on AKS use azure files for pvc, azure-pvc-files.yaml example, got the following error
kevin@Azure:~/aksanfdemo1$ kubectl apply -f azure-pvc-files.yaml
The Pod "mypod" is invalid: spec: Forbidden: pod updates may not change fields other than `spec.containers[*].image`, `spec.initContainers[*].image`, `spec.activeDeadlineSeconds` or `

[2021-02-28 02:16] SamaraSoucy-MSFT commented on #71352
Thanks for the question! We will review and get back to you shortly.

[2021-02-28 02:17] SamaraSoucy-MSFT commented on #71353
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-02-28 02:18] SamaraSoucy-MSFT commented on #71354
Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

The best place for specific answers about implementations are going to be the [Microsoft Q&A](https://docs.microsoft.com/answers/) a

[2021-02-28 02:19] SamaraSoucy-MSFT commented on #71355
Thanks for the question! We will review and get back to you shortly.

[2021-02-28 02:20] SamaraSoucy-MSFT commented on #71356
Thanks for the PR! I have assigned the issue to the doc author to update appropriately.

[2021-02-28 02:22] SamaraSoucy-MSFT commented on #71357
Thanks for the feedback! We will review and get back to you shortly.

[2021-02-28 02:23] SamaraSoucy-MSFT commented on #71359
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-02-28 02:25] SamaraSoucy-MSFT commented on #71363
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-02-28 02:48] islamtg opened #71365 "How to get KB ID and simplifying the publish script"
Hello Running the code I had some issue
Here is alternative simplified code to publish a kb.

`

    import http.client, os, urllib.parse, json, time, sys

    # Represents the various elements used to create HTTP request path for QnA Maker operations.
    #Replace this with a valid subscription key.
    # User host = '<your-resource-name>.cognitiveservices.azure.com'
    host = '<your-resource-na

[2021-02-28 04:30] girishgouda commented on #71354
This is the URL https://docs.microsoft.com/en-us/azure/azure-arc/data/create-sql-managed-instance

[2021-02-28 05:44] amanmcse commented on #71365
@islamtg Thank you for your feedback . We will investigate and update the thread further.

[2021-02-28 05:55] islamtg commented on #71365
thanks

Kind regards,
Islam El-Ghazali

Cloud Solution Architect (CSA) - Data & AI
Customer Success Unit (CSU)
[A close up of a logo  Description automatically generated][Linkedin]<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.linkedin.com%2Fin%2Fislamelghazali&data=02%7C01%7Ciselghaz%40microsoft.com%7C00e882d8135a45bef6e208d7d5976bcb%7C72f988bf86f141af91ab2d7cd011db47%7C1%

[2021-02-28 06:04] yuriwoof commented on #71206
Sure, this is actually customer's feedback within support request.
But I'll create internal feedback by "user voice".

[2021-02-28 07:43] psmanhas commented on #71222
@AnandKatta
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-02-28 07:43] #71222 closed

[2021-02-28 08:26] yelevin commented on #71233
Thanks for the feedback! We will have a look at this and update as appropriate.

[2021-02-28 08:42] gautamksr commented on #70709
@ssivas  - The  "provisioningState": "Succeeded". I have create another test VM of Windows 2019 in East Us reagion from protal, as i said there is no option available on management tab to select "Azure AD login" option. after successfully created the VM. I logged in to VM sucessfully.
I executed the PowerShell scripts:
[code]
 Then create a new User in AAD and give the role assignment as " Virtual

[2021-02-28 09:01] savjani commented on #71348
Thanks for reaching out. Here are the steps.

 If log_bin` is returned with the value "OFF",
   - locate your MySQL configuration file (my.cnf) in the source server. For example: /etc/my.cnf
   - Open the configuration file to edit it and locate **mysqld** section in the file.
   - In the mysqld section, add following line
     log-bin=mysql-bin.log
   - Restart the MySQL source server for the cha

[2021-02-28 10:05] nunepalli commented on #71183
I'm able to migrate database from AWs RDS for SQL Server to Azure SQL by choosing "SQL Server" as the source server type in DMS project.

[2021-02-28 12:20] vforteli opened #71368 "Section: Restrict your storage account to a virtual network"
Section: Restrict your storage account to a virtual network

This section only describes how to replace the storage account after the function has been created. It seems completely doable to create a function with a firewall secured storage account straight away with ARM-templates and therefore never having to do the replacement. In most cases this is probably desirable since it simplifies the dep

[2021-02-28 13:50] efonsecab opened #71369 "Link to submit feedback for Video Indexer is not working"
The links to submit feedback redirect to a User Voice page which is not working anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f08a5b8-5d07-c53d-8ff2-04cf7a146e5a
* Version Independent ID: 2f277d08-e5ab-7ab9-865d-d70f887a3bc4
* Content: [What is Azure Media Services Video Indexer? - Azure Media Services](http

[2021-02-28 15:15] psmanhas commented on #71364
@kevinzhang8888
Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-02-28 16:49] blueelvis commented on #71368
+1 . We need guidance on how to do it the first time correctly via ARM templates. The copying and all is not feasible when you have to deploy multiple functions across environments.

[2021-02-28 17:45] SamaraSoucy-MSFT commented on #71368
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-02-28 17:47] SamaraSoucy-MSFT commented on #71369
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-02-28 18:21] BharathNimmala-MSFT commented on #71226
@crhistianramirez Thanks again for bringing this to our notice, I have reached out to our internal team to understand why the data is not showing up for the Log Analytics demo environment. Will keep you updated as I hear more information on this.

Sharing this as reference regarding Azure Activity Log Event schema. Thank you

https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/activity

[2021-02-28 18:32] casualc0der opened #71370 "Reference error when pushing to azure main"
Bash command @ [link](https://docs.microsoft.com/en-us/azure/app-service/tutorial-dotnetcore-sqldb-app?pivots=platform-linux#push-to-azure-from-git) asks the user to run the below command

``` git push azure master ```

later in the [doc](https://docs.microsoft.com/en-us/azure/app-service/tutorial-dotnetcore-sqldb-app?pivots=platform-linux#publish-changes-to-azure), the user is asked to perform th

[2021-02-28 18:49] tommywalsh34 opened #71371 "Quick start requires Outdated runtime version which is no longer available"
From the article

"For this article, create a cluster with 5.2 runtime. Do NOT select 5.3 runtime."

The oldest available runtime is 5.5

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8640ab3-d89f-c2a7-a575-947884beaeeb
* Version Independent ID: f151c68d-76d4-5ab6-e2b9-b7fb0613add1
* Content: [Tutorial: Anomaly detect

[2021-02-28 19:00] vforteli commented on #71368
https://github.com/vforteli/funcstoragevnet/blob/main/funcvnettest.json

This is what I used to test this. The only gotcha was that the file share also in this case has to be created explicitly. It is mentioned in the documentation, but I assumed it was only relevant when replacing an existing storage account. Turns out this step is also needed when deploying straight to the secured storage accoun

[2021-02-28 19:59] blueelvis commented on #71368
@vforteli - Thanks a lot mate! I tried this out by creating the file share explicitly and it worked. Just confused as to why the runtime won't do it itself because everything is in place and from the looks of it, it only has an issue creating the file share, it can create the queues, blob containers and tables but just not the file share.

One other question I have is how would you do this for Fun

[2021-02-28 20:54] vforteli commented on #71368
@blueelvis slots i havent tested since there seems to be quite a lot of confusion regarding website_contentshare and slots even without firewall rules: https://github.com/MicrosoftDocs/azure-docs/issues/36458

[2021-02-28 20:56] mpchen opened #71375 "Is it possible to enforce "high security" auth methods for a group of users?"
I want to mandate that high privileged users within a specific AD group can only use "high security" authentication methods,
while other low privileged users can still use medium and low authentication methods with MFA.

I am wondering whether we can set a policy in AAD to enforce this. Thanks.

# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation

[2021-02-28 21:02] blueelvis commented on #71368
@vforteli - Yeah, that is a pain. Even private endpoints cannot be used with slots. But since we are using Durable functions, I think we are fine getting by without deployment slots. Plus, there is another issue where you have issues with Durable functions along with slots. https://github.com/Azure/azure-functions-durable-extension/issues/1057

[2021-02-28 21:59] blueelvis commented on #71368
Also, 1 more thing, for some reason, the first time it didn't populate the File Share but after doing a second deployment, it populated the file share and the runtime started.

[2021-02-28 23:35] #68304 closed

[2021-02-28 23:40] BryanTrach-MSFT commented on #71092
@youteeee The steps you need are:

1. Upload the source video (https://docs.microsoft.com/en-us/azure/media-services/media-services-dotnet-upload-files)
2. Encode it to a format that supports streaming, using Standard Encoder using a preset like "Content Adaptive Multiple Bitrate MP4" (https://docs.microsoft.com/en-us/azure/media-services/media-services-dotnet-encode-with-media-encoder-standard)
3

[2021-02-28 23:46] szakharov7723 opened #71377 "Where did you get 'fitted_pipeline' ?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf6e8bb8-9f33-6315-dec3-915c82152f4f
* Version Independent ID: 0d184dff-a615-49e4-089a-8c41a8ff801c
* Content: [Auto-train a time-series forecast model - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-auto-train

[2021-02-28 23:48] BryanTrach-MSFT commented on #71095
@yuu045-ran Thank you for raising this up. We agree that this would be useful information to share with readers. We have created a PR but cannot merge it until after Microsoft Ignite starts on Tuesday. We have added this PR to our list of items needing to be merged after Microsoft Ignite starts.

We will now proceed to close this thread. If there are further questions regarding this matter, please

[2021-02-28 23:48] #71095 closed

[2021-02-28 23:48] zqyAmy commented on #71200
Thanks, is there any update?

[2021-03-01 00:01] YamaguchiKei1 commented on #70910
The following links have not been improved.

https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/non-gallery-apps

Capabilities for apps not listed in the Azure AD gallery

Link to
https://www.microsoft.com/ja-jp/microsoft-365/blog/2014/10/16/organize-office-365-new-app-launcher-2/

[2021-03-01 00:04] YamaguchiKei1 commented on #70910
![image](https://user-images.githubusercontent.com/60492960/109438361-017e2400-7a6d-11eb-945c-947a2dddef88.png)

[2021-03-01 00:36] juvtib opened #71379 "Group-based Licensing Examples are Out-of-date"
I'm not familiar with group-based licensing. I thought this topic might be useful to me.

But after a quick scan, I find this page using an old version of the AD module and returning REST responses.

This document is dated "12/02/2020". Is it up-to-date? Is there an example using the V2 module?

Thanks,
Mike

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2021-03-01 01:14] SamaraSoucy-MSFT commented on #71370
Thanks for the question! We will review and get back to you shortly.

[2021-03-01 01:15] SamaraSoucy-MSFT commented on #71371
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-03-01 01:17] SamaraSoucy-MSFT commented on #71375
Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

The best place for specific answers about implementations are going to be the [Microsoft Q&A](https://docs.microsoft.com/answers/) a

[2021-03-01 01:17] SamaraSoucy-MSFT commented on #71377
Thanks for the question! We will review and get back to you shortly.

[2021-03-01 01:18] SamaraSoucy-MSFT commented on #71379
Thanks for the question! We will review and get back to you shortly.

[2021-03-01 01:22] YutongTie-MSFT commented on #71155
@vaidya-s Hello, thanks for the response, we have followuped with the author to see if we have this item in our backlog already. We will let you know when we have response.

[2021-03-01 01:29] YutongTie-MSFT commented on #71377
Hello, I am not sure what is your question. Are you mentioning the following code sample?

[code]

[2021-03-01 01:58] ecfan commented on #41412
Hi @KritikaSingh89, the two sections in this topic seem to confirm that the SQL Server ISE connector works with SQL Server Authentication:

* https://docs.microsoft.com/azure/connectors/connectors-create-api-sqlazure#connect-to-on-premises-sql-server
* https://docs.microsoft.com/azure/connectors/connectors-create-api-sqlazure#connect-to-azure-sql-database-or-managed-instance

[2021-03-01 03:17] VikasPullagura-MSFT commented on #71333
@paulbouwer
Can you please check and add your comments on this doc update request as applicable.

[2021-03-01 03:18] VikasPullagura-MSFT commented on #71316
@vikancha-MSFT @vikancha-MSFT-zz
Can you please check and add your comments on this doc update request as applicable.

[2021-03-01 04:10] AnuragSharma-MSFT commented on #70732
@takekazuomi We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-03-01 04:10] #70732 closed

[2021-03-01 04:10] AnuragSharma-MSFT commented on #71104
@yashwanthchannegowda We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-03-01 04:10] #71104 closed

[2021-03-01 04:27] AnuragSharma-MSFT commented on #71190
@JasonHershey Thanks your patience. This document mostly talks about changing the TLS setting for Azure SQL Database. I could not locate to change TLS setting for Azure Synapse. I am assigning this to the content author to evaluate and update as appropriate.

[2021-03-01 04:29] AshokPeddakotla-MSFT commented on #71119
@baanders Thanks for the fix. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-01 04:29] #71119 closed

[2021-03-01 04:30] VitalyMCT opened #71382 "Importance of enabling the Do Not purge Setting"
Regarding:

Can you please elaborate on the specific reason(s) enabling Do Not Purge is a pre-requisite for using the CMK feature? What would happen if this feature is left disabled?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8571ca06-129a-58b7-92be-dc680acb835f
* Version Independent ID: 9bd22daf-eb91-b509-0f84-4d5

[2021-03-01 04:35] AnuragSharma-MSFT commented on #71200
@zqyAmy Thanks for your patience. Please refer to below link for online migration through DMS. Please let us know if this helps:

[Online migrations using Azure DMS](https://azure.microsoft.com/en-in/resources/videos/online-migrations-using-azure-dms/)

[2021-03-01 04:53] shashishailaj commented on #71361
@IntegerMan Thank you for your feedback . We will investigate and update the thread.

[2021-03-01 05:05] vforteli commented on #71368
It works the first time after you ping it, but takes a while to wake up. I think this is just the result of me out of habit setting the appsettings in a separate resource to avoid circular dependencies. I suppose if you put them directly in siteconfig/appsettings it will start immediately.... maybe

[2021-03-01 05:06] zqyAmy commented on #71200
Hi Anurag,
I have no concerns about DMS online migration. Our customer has concerns about this doc, since the Azure SQL online migration doesn't support now, why the doc still list online migration information here:
please check the following screenshot:

![image](https://user-images.githubusercontent.com/54308252/109454172-9ba29400-7a8e-11eb-909a-9ca576881b3c.png)

Thanks for your help.

[2021-03-01 05:15] AnuragSharma-MSFT commented on #71200
@zqyAmy Thanks for replying back and we understand your concerns. I am assigning it to content author to evaluate and update accordingly.

[2021-03-01 05:26] RohitMungi-MSFT commented on #71196
@Yonet We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-03-01 05:26] #71196 closed

[2021-03-01 05:28] RohitMungi-MSFT commented on #71209
@chengyu-liu-cs At this moment we don’t support advanced aks configurations in the Azure ML SDK or Studio. For advanced cases, we recommend to create AKS with AKS API's and attach to the AML workspace. Thanks.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-03-01 05:28] #71209 closed

[2021-03-01 05:29] RyanHill-MSFT commented on #55046
Sorry it took me so long @sdebruyn, but this will get you going. After creating your storage account and file share, use the `Name` of your path mapping as the volume mount that's pointed to the directory inside your container. One thing I ran into is that even though I have a directory named `logs` in my file share, the path mapping still mounted to the root of the share.

![image](https://user-i

[2021-03-01 05:31] RohitMungi-MSFT commented on #71215
@scofield1991 Thanks for posting it in the repo. I am referencing the case #https://github.com/Azure/MachineLearningNotebooks/issues/1371 for others to reference if required.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-03-01 05:31] #71215 closed

[2021-03-01 05:34] brwilkinson commented on #71352
I plan to test this again by deploying an AKS cluster without RBAC enabled.

[2021-03-01 05:37] VikasPullagura-MSFT commented on #70985
@DavidNorena Can you please share the requested information to assist you better on this.

[2021-03-01 05:50] psmanhas commented on #71273
@vanpyrzericj Apologies for the delay in response and all the inconvenience caused because of the issue.

The az-aks-update command is part of the Azure CLI AKS Preview Extension.

You need to Install this extension using the below CLI command to make it work. You can refer to [this](https://docs.microsoft.com/en-us/azure/aks/cluster-autoscaler#before-you-begin) for more info

`az extension add --

[2021-03-01 05:59] SubhashVasarapu-MSFT commented on #70983
@wongwiyan, Appreciate your patience. It is just to lock the link between storage and VNET. No other VNET or internet can access storage when it is are configured properly both on networking side and service side.
Assigning this to the author for further insights. @malopMSFT , Could you please provide insights on this?

[2021-03-01 05:59] Neuroboy23 opened #71383 "Title claims article is for a Stateful Service, but provides instructions for a Stateless Service"
See title.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0d03b4f-4157-0d04-0f48-0a3e2fb966cb
* Version Independent ID: 6b7bed89-eb53-105a-7971-476ddd4cf3b7
* Content: [Create a .NET app on Service Fabric in Azure - Azure Service Fabric](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-crea

[2021-03-01 06:00] VikasPullagura-MSFT commented on #71335
@zr-msf @mlearned
Can you please check and add your comments on this doc update request as applicable.

[2021-03-01 06:01] psmanhas commented on #71317
@rflather-tibco Really glad to hear your feedback around our documentation and I have shared your feedback with our internal team as well.
Do let us know if you have any feedback around how we can improve as well :)

Since as per your verbatim you don't need any help and it is more around feedback we will now close this issue. If there are further questions regarding this, please tag me in a comme

[2021-03-01 06:01] #71317 closed

[2021-03-01 06:02] VikasPullagura-MSFT commented on #71332
@originalnetadmin The document is updated and changes will go live soon.

[2021-03-01 06:05] SadiqhAhmed-MSFT commented on #70573
@assaf-grth Checking in to see if you have any further questions or are we good to close this issue?

[2021-03-01 06:05] psmanhas commented on #71306
@DavidSchrag You can get this token from the UI portal as well from the host pool blade if that helps. You can extract the specific property and expand it in PowerShell.

Thanks

[2021-03-01 06:05] wy10cheng opened #71384 "Why I cannot see "Users and Groups" in the app I owned?"
Hi,

I am attempting to restrict some of the users in my organization to access my app on Azure AD, with the following guide:
https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-restrict-your-app-to-a-set-of-users

However I cannot view the "Users and Groups" options under "Manage" as shown below. Could you please help?
https://htkk-my.sharepoint.com/:i:/g/personal/michaelwingyin

[2021-03-01 06:06] RohitMungi-MSFT commented on #71365
@islamtg Thanks for posting the helpful snippets. I have tagged our content team to review and add it to the documentation for REST calls if required. Similar snippets to manage a KB are available for the SDK in this [document](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/quickstarts/quickstart-sdk?tabs=version-1%2Cv1&pivots=programming-language-python).
@nerajput1607 FYI.

[2021-03-01 06:19] amanmcse commented on #71288
@angrymrt This is a feature request. You can post an idea at our [Feedback Portal](https://feedback.azure.com) which is monitored by the product group to plan the future roadmap of the product.

[2021-03-01 06:19] #71288 closed

[2021-03-01 06:23] jackawatts opened #71385 "Backend certificate from key vault scenario is invalid"
The backend certificate scenario insists on use of a certificate thumbprint rather than a certificate ID whether it is done from the UI or via AZ API:

(Note this is choosing a valid keyvault certificate from the dropdown on the Backend design screen)

One or more fields contain incorrect values:
Error in element 'authentication-certificate' on line 16, column 10: The Certificate with id '#######'

[2021-03-01 06:26] psmanhas commented on #71352
@brwilkinson I just tried to do repro on my side as well following the documentation and I was successfully able to pass through:

![image](https://user-images.githubusercontent.com/35990743/109459556-04850e80-7a85-11eb-840f-481b1d973b8d.png)

I have owner role over Subscription and mostly it should work with contributor role as well. Can you please check and let me know if it is working for you o

[2021-03-01 06:28] amanmcse commented on #71219
@cowinr Yes, new claims has to be defined in the policy XML files which are provided with starter pack. We recommend defining new claims in the TrustFrameworkExtensions.xml file. Please refer to [Define claims](https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-rest-api-claims-validation#define-claims) for more detail.

[2021-03-01 06:28] #71219 closed

[2021-03-01 06:29] brwilkinson commented on #71352
Did you click through to the next page ?

[2021-03-01 06:29] AshokPeddakotla-MSFT commented on #71382
@VitalyMCT Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-01 06:30] AnuragSharma-MSFT commented on #71214
@Arithmomaniac Thanks for bringing this up. As mentioned in the document, now we have an alternative of using Azure Cosmos DB Table API in place of Table storage which has many advantages that come with Azure Cosmos DB database. Placing the content here will help the users to take a call which one they can choose among these two, also rightly pointed out by @lohithgn.

Please let us know if this h

[2021-03-01 06:35] psmanhas commented on #71352
@brwilkinson Yes I was able to complete the creation. If you are still not able to go through after being assigned mentioned role over subscription then you might need to contact Microsoft Technical Support. If you have a Support Plan would request you to open one otherwise let me know I can help you out with one Time Free Technical Support.

Thanks

[2021-03-01 06:38] #71383 closed

[2021-03-01 06:39] psmanhas commented on #71364
@kevinzhang8888 Can you please check below threads with similar ask and let me know if that helped?:

https://stackoverflow.com/questions/65296446/cannot-update-kubernetes-pod-from-yaml-generated-from-kubectl-get-pod-pod-name

https://github.com/kubernetes/kubernetes/issues/65766

Thanks

[2021-03-01 06:40] brwilkinson commented on #71352
I'll test tomorrow deploying an AKS cluster without RBAC enabled... then let you know. Most likely it's broken in that scenario, then we can update the docs accordingly. I will keep you posted.

[2021-03-01 06:41] psmanhas commented on #71352
@brwilkinson Sure works for me will await your response :)

Thanks

[2021-03-01 06:48] PramodValavala-MSFT commented on #71269
@colejnic Thanks for catching that! We have worked up a PR to address this, which once merged should reflect in a couple of hours.

[2021-03-01 06:52] GitaraniSharma-MSFT commented on #71078
@geminiyeak , thank you for the update and the solution summary.
As I mentioned earlier, the backend team has updated the details for Azure Site Recovery in the repo and the changes in the doc will be reflected shortly.

Hence, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-03-01 06:52] #71078 closed

[2021-03-01 07:12] Neuroboy23 opened #71386 "Error in code for Index.cshtml"
`Key` and `Value` should be capitalized in these expressions on lines 40 and 43:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0d03b4f-4157-0d04-0f48-0a3e2fb966cb
* Version Independent ID: 6b7bed89-eb53-105a-7971-476ddd4cf3b7
* Content: [Create a .NET app on Service Fabric in Azure - Azure Service Fabric](htt

[2021-03-01 07:14] Arithmomaniac commented on #71214
By that metric, there shouldn't be two separate documentation trees at all, particularly since most (if not all) of the content here is copied from the [table storage concepts subtree](https://github.com/MicrosoftDocs/azure-docs/blob/21639dacdaaec28a7db7d43ce7a044aee3a293b0/articles/storage/tables/TOC.yml#L44-L83). Also, some of the stuff on this page still applies (like table design for pseudo-re

[2021-03-01 07:15] zqyAmy commented on #71200
Got it, thank you @AnuragSharma-MSFT

[2021-03-01 07:22] YutongTie-MSFT commented on #71155
@shivanissambare FYI, as the information discussed in Teams, could you please help  check if we have any backlog for this document going on or could you please update the document? Thansks.

[2021-03-01 07:30] lgayhardt commented on #71345
@ojpbay Thanks for catching that. I created a PR to remove the links to an article that was retired and the update should go live sometime this week.

#please-close

[2021-03-01 07:30] #71345 closed

[2021-03-01 07:33] zqyAmy opened #71387 "Confirm if Oracle to Azure Database for PostgreSQL" migration scenario is support or not"
[Enter feedback here]
From DMS Azure portal, it shows Oracle to Azure Database for PostgreSQL" migration scenario (currently in preview) will no longer be available after May 1, 2021. But I didn't see update on this document, would you please confirm if the scenario is still support ? What's the alternative tool? Thanks a lot.

![image](https://user-images.githubusercontent.com/54308252/109465410-

[2021-03-01 07:38] assaf-grth commented on #70573
Hi thanks for reaching out, I will close the issue

[2021-03-01 07:38] #70573 closed

[2021-03-01 07:50] Debpriya1994 commented on #70353
We are investigating this and will get back to you as soon as we can.

[2021-03-01 08:05] mathapli commented on #71332
#sign-off

[2021-03-01 08:22] szakharov7723 commented on #71377
Yes it doesn't seem that fitted_pipeline is getting defined earlier in
documentation
Sorry, wanted to add details to issue later.

On Sun, 28 Feb 2021 at 20:29, YutongTie-MSFT <notifications@github.com>
wrote:

[2021-03-01 08:29] crgarcia12 commented on #40720
Hi Rolyon,
I think this is not answered. The doc says that you can create deny assignments with blueprints. How do you do that? there are no examples, only examples implementing Locks (they are not the same thing :))

[2021-03-01 08:39] djpugh opened #71388 "Misleading Documentation"
Hi,

I'd like to raise that according to Microsoft support (Ticket Tracking ID 2102240050004383)

The section in Training compute targets that says compute instances can be used as a training target for machine learning pipelines has at least a functionality bug that prevents it being commonly used (which according to support is a won'tfix) - the compute instance will soon run out of disk space du

[2021-03-01 08:40] nilsga opened #71389 "Can't add custom internationalized domain name"
Trying to add a custom internationalized domain name fails. I have tried entering both regular and punycode versions of the domain name but no matter what it fails with `Property 'ValidateCustomDomainInput.HostName' cannot be set to '<my-idn-domain>'.` Using powershell or az cli fails with the same error. It can't be, in 2021, that IDN domains are not supported by Azure?

---
#### Document Details

[2021-03-01 09:04] r3dlin3 opened #71390 "Internal Link to "Metrics and logs" broken"
The link in the "next steps" for "Metrics and logs" is broken.
It refers to https://docs.microsoft.com/en-us/data-platform.md.
A 404 is displayed.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 144afccf-4ab9-bb34-957d-e86d3732d688
* Version Independent ID: 863b80ff-f60a-e727-dc12-0d6aba937df6
* Content: [Azure Monitor o

[2021-03-01 09:07] vikaskumawat80 opened #71391 "Can we add root/apex domain to AFD Std/Premium?"
Can we add root/apex domain to AFD Std/Premium? We can achieve this in Azure Front Door if we are using Azure DNS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed72df51-8f93-f2f3-6d66-fc4d085fe691
* Version Independent ID: 2774ed11-a0a1-bc23-45f2-d128954650ba
* Content: [Configure HTTPS for your custom domain in an A

[2021-03-01 09:12] Spsutar opened #71392 "Manual way of updating AES 256 kerberos encryption type"
Please provide a manual way of updating the AD account to support AES 256 kerberos encryption type.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfcc20de-f394-74bf-155f-639cfe00aba4
* Version Independent ID: 76ccfc8f-6190-0618-f668-91c9bab532c0
* Content: [Troubleshoot Azure Files problems in Windows](https://docs.mi

[2021-03-01 09:18] AshokPeddakotla-MSFT commented on #71198
@songqiwei Looks like this is not possible.

![image](https://user-images.githubusercontent.com/44426435/109476655-27bbb800-7a9d-11eb-916b-a52a42d9f8d3.png)

Let me check that internally and update you. Appreciate your time and patience.

[2021-03-01 09:29] SadiqhAhmed-MSFT commented on #71238
@daspo Hope the previous post helped answer your question. Let us know if you have any questions in this matter or are we good to close this issue?

[2021-03-01 09:30] SubhashVasarapu-MSFT commented on #71391
@vikaskumawat80, Thanks for reaching out. We will investigate and update this thread.

[2021-03-01 09:33] SubhashVasarapu-MSFT commented on #71389
@nilsga, Thanks for reaching out. We will investigate and update this thread.

[2021-03-01 09:39] AshokPeddakotla-MSFT commented on #71277
@lyrana Can you look into this feedback?

[2021-03-01 09:44] AshokPeddakotla-MSFT commented on #71342
@terrymandin I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-03-01 09:58] robinhultman commented on #36458
@akoz0r is this the same thing as it _should_ work out of the box? That each release to the slot gets its own unique CONTENTSHARE folder?

[2021-03-01 10:05] KrishnaG-MSFT commented on #71390
@r3dlin3 Thanks for your comment! We will review and provide an update as appropriate.

[2021-03-01 10:09] SnehaAgrawal-MSFT commented on #71259
@cricex Thanks again for the feedback! Also, The best way to share your feedback would be to create a [User Voice feedback](https://feedback.azure.com/forums/169396-azure-media-services) item and upvote it. The product group monitors this site for feedback. This is the best way to ensure you are heard and you may receive a response depending on how much they information they can currently share.
W

[2021-03-01 10:09] #71259 closed

[2021-03-01 10:13] SnehaAgrawal-MSFT commented on #71203
@komayama  Thanks for reply and feedback! Great to know it helps. The PR has been created for this, once reviewed by author it will be visible.

We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2021-03-01 10:13] #71203 closed

[2021-03-01 10:14] SandeepGuduru opened #71394 "Unable to read same table data from a pdf file spanning across multiple pages using form recognizer client library using C# code"
I am not able to read table data which is spanning across next page. I am using c# code to extract data using FormRecognizerClient
and by using a trained custom model in a console application. Also tried by using StartRecognizeInvoicesFromUriAsync i.e using
analyze invoices of FormRecognizerClient , this is also failed in that scenario mentioned above.

And FormRecognizerClient in C# is also not r

[2021-03-01 10:16] SnehaAgrawal-MSFT commented on #71195
@pitawatn Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-03-01 10:19] algattik opened #71395 "Please document how to escape single quote in string"
e.g.

  SELECT T FROM digitaltwins T WHERE $dtId = 'b54e1787-bf40-9d6c-15de-4b3cce41d308' AND name = 'D\\'Souza'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cffbc230-7cbf-b2c4-7845-c82b0d1cdba0
* Version Independent ID: b2ef5908-7ccd-076a-e409-13fee63349e0
* Content: [Query language - Azure Digital Twins](https://do

[2021-03-01 10:45] VikasPullagura-MSFT commented on #71386
@Neuroboy23 Thanks for the Feedback. The document is updated and changes will go live soon.

[2021-03-01 10:56] AjayKumar-MSFT commented on #71112
Thanks for the update, rido-min.

[2021-03-01 11:15] #71332 closed

[2021-03-01 11:29] jitendraRai commented on #70861
Thanks @Norrch2. The interpretation is to return sub journey object value to the user journey is not supported at this period of time however it is in public preview and please submit your feedback if you are expecting to return object value.

The currently Sub journey supports returning of control to the main user journey and it is working.

[2021-03-01 11:37] AshokPeddakotla-MSFT commented on #68401
@martgut Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-03-01 11:37] #68401 closed

[2021-03-01 11:39] VikasPullagura-MSFT commented on #71334
@frankparth8 I just created a VMSS with load balancer as per this tutorial. And tried reproducing the issue you have mentioned by listing the connection info with below cli command. I am not getting the error you mentioned.

`az vmss list-instance-connection-info --name MyScaleSet --resource-group MyResourceGroup`

Can you please try to recreate and check if you are still facing this error. Ensure

[2021-03-01 11:45] SnehaAgrawal-MSFT commented on #70560
@RonnieQuan Thanks for asking question! Apologies for late response!  If I have understood right you want to know what automatic action would be taken if queue length grows. So, to elaborate on as mentioned in the document that A high disk queue length is an indication of an app that might be slowing down because of excessive disk I/O and Autoscaling could start additional instances of a service a

[2021-03-01 11:51] AshokPeddakotla-MSFT commented on #71395
@algattik Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-01 12:15] assaf-grth opened #71396 "Using public DNS servers as part of adds vnet"
Hi,
I created an adds vnet with internal dns servers (10.0.04 and 10.0.0.5)
I have on prem VMs and Azure VMs joint to this managed domain which also require access to public DNS servers (8.8.8.8)
What is the best practice to include public dns servers in my environment?
Should it be added as another row to DNS servers of the adds-vnet after the existing internal servers (10.0.04 and 10.0.0.5)?
Sho

[2021-03-01 12:18] HarshitaSingh-MSFT commented on #71385
Hello @jackawatts , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-03-01 12:28] pemsft opened #71398 "Typo in Azure SQL Database sub resource"
Thank you for the great documentation!
https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-dns#azure-services-dns-zone-configuration

There is a small typo in the doc that can cause / has caused reduction in productivity.

Currently the table states Private link resource type / Subresource for Azure SQL Server:
"Azure SQL Database (Microsoft.Sql/servers) / SQL Server"

It should s

[2021-03-01 12:40] amanmcse commented on #71139
@clupeacode Thank you for pointing it out. Input claim collection is not optional. I have updated the document and sent the change to the author to review and merge.

[2021-03-01 12:55] clupeacode commented on #71139
@amanmcse : Excellent

[2021-03-01 12:56] amanmcse commented on #71208
@jiorblommaert The KeepAliveInDays is not a required attribute. I have updated [This Document](https://docs.microsoft.com/en-us/azure/active-directory-b2c/relyingparty#singlesignon) and sent the change to author to review and merge the change.

[2021-03-01 13:01] RohitMungi-MSFT commented on #71388
@djpugh Thanks for sharing the tracking id in this case. Our team will review the case to check if a note can be added to the documentation. @sdgilley @PeterCLu FYI.

[2021-03-01 13:11] vbrinza opened #71399 "aks autoupgrade disabling"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-03-01 13:27] RohitMungi-MSFT commented on #71394
@SandeepGuduru Thanks for the question. The response from the above API's is dependent on the form provided as input. For tables, you can use the [analyze layout API](https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/quickstarts/client-library?tabs=preview%2Cv2-1&pivots=programming-language-csharp#analyze-layout) and check if it works.

[2021-03-01 13:52] gitmadness opened #71401 "Greater than or greater than or equal to?"
I'm a little confused by the statement below from https://docs.microsoft.com/en-us/azure/azure-sql/database/connectivity-settings#minimal-tls-version.

"choosing a TLS version greater than 1.1 means only connections with TLS 1.1 and 1.2 are accepted"

Typically, "greater than" means 1.1  is not included. If 1.1 is included, then shouldn't it be "greater than or equal to"?

---
#### Document Detail

[2021-03-01 13:54] shashishailaj commented on #71384
@wy10cheng Thank you for your feedback . We will investigate and update the thread.

[2021-03-01 13:58] shashishailaj commented on #71398
@pemsft Thank you for catching this . We will have this reviewed and update accordingly  .

[2021-03-01 14:39] commakoerschgen opened #71403 "Consents by Application Administrator role"
I have just experimented with the roles described in this document and consenting to permissions.

From the document, it appears that the role "Application Administrator" can consent to application permissions for the legacy Azure AD Graph API.

However, it appears that the role behaves in the same way as the "Cloud Application Administrator role":

Here, it is expressly stated that consents to ap

[2021-03-01 14:40] jitendraRai commented on #71146
Thanks @ertork. You can get most of the answer in this document
https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/howto-manage-inactive-user-accounts#when-does-azure-ad-update-the-property

However the lastSignInDateTime  is the attribute can be used by Graph API to find the activity of the sign in users. The lastSignInDateTime is persistent for more than 30 days.

[2021-03-01 14:46] JohnStraumann66 opened #71404 "V3 OCR Error?"
Hello:

With the previous version of the Vision OLCR service, the text in the attached image was recognized perfectly. Now with teh V3 version, this is what I get:

Ano{he.r angry alun de an
a,slouning number of aardvarb
![OCR2](https://user-images.githubusercontent.com/44039918/109513374-0645d680-7a73-11eb-84be-d73132c1614b.png)

Any ideas?

Thanks!

John.

[Enter feedback here]

---
#### Documen

[2021-03-01 14:46] tom-norwood opened #71405 "Power Query in Azure Synapse Analytics"
[Enter feedback here]

Hi,

I've noticed that wrangling data flows have disappeared from Azure Synapse Analytics. I can see these are now improved in ADF as Power Queries. When will this feature come to Synapse?

Cheers,

Tom

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d81ea8c0-8aae-1bd1-d17a-ca3e79126b12
* Version

[2021-03-01 15:10] terrymandin commented on #71342
I've also created a StackOverflow issue as I haven't been able to get nested edge working.

[Nested Edge: unable to get local issuer certificate](https://stackoverflow.com/questions/66404628/nested-edge-unable-to-get-local-issuer-certificate)

[2021-03-01 15:20] jsquire commented on #71339
A couple of thoughts:

1) We really should not be demonstrating ignoring the return of `TryAdd` when placing things in a batch.   Doing so could lead to data loss for customers, as a `false` return indicates that the batch did not accept the event.   We should always be careful to illustrate checking that property;  we saw a lot of customer confusion with our initial wave of repository samples tre

[2021-03-01 15:23] YutongTie-MSFT commented on #71404
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-01 15:25] jsquire commented on #71340
A couple of thoughts:

- We really should not be demonstrating ignoring the return of `TryAdd` when placing things in a batch. Doing so could lead to data loss for customers, as a false return indicates that the batch did not accept the event. We should always be careful to illustrate checking that property; we saw a lot of customer confusion with our initial wave of repository samples treating th

[2021-03-01 15:25] wy10cheng commented on #71384
@shashishailaj kindly please advise if i did wrongly?

[2021-03-01 15:32] GiftA-MSFT commented on #70763
@XavM  Long Audio API doesn't support word boundaries. The Real Time API has the limitation of 10 mins, but with SDK, you can [synthesize ](https://github.com/Azure-Samples/Cognitive-Speech-TTS/wiki/How-to-synthesize-long-sentences-to-a-single-audio-file) long sentences to a single audio file.

[2021-03-01 15:32] #70763 closed

[2021-03-01 15:48] Klaas- commented on #70385
I am still not fully there :)

So what you say does mean an availability zone has it's own fault domains & update domains, right?
Coming back to my question earlier:
[code]

Or would it be possible that VMa in Zone1 and VMb Zone2 are on the same update domain?

Viewing this from the availability set side of things: is it defined that an VMs in an availability set are located inside a single zone o

[2021-03-01 15:50] VikasPullagura-MSFT commented on #71329
@danielsollondon
Can you please check and add your comments on this doc update request as applicable.

[2021-03-01 15:57] sethmanheim commented on #50677
#please-close

[2021-03-01 15:57] #50677 closed

[2021-03-01 15:59] sethmanheim commented on #51415
We have made some updates to this article, so if this is still an issue please open a new GitHub issue and we will investigate. Thank you! #please-close

[2021-03-01 15:59] #51415 closed

[2021-03-01 15:59] clambert commented on #71304
Mine is
Subscription name:
Visual Studio Professional with MSDN
Offer ID:
MS-AZR-0059P

I saw an offer id in the table you sent listed as 0059P

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: TravisCragg-MSFT <notifications@github.com>
Sent: Friday, February 26, 2021 11:45:05 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: clambert <charles.w.

[2021-03-01 16:00] sethmanheim commented on #51499
@jayeshshingote92 We have made some updates to this article but if this is still an issue for you, please open a new GitHub issue. Thank you! #please-close

[2021-03-01 16:00] #51499 closed

[2021-03-01 16:00] MGoedtel commented on #71228
@tyeth - I've re-reviewed this issue this morning and realized the article does not make reference to the Start-AzureAutomationConnection cmdlet. Rather, it is using the build-in cmdlet - Get-AutomationConnection, which is an internal cmdlet for Automation runbooks running in Azure authenticating with the Run As credential.  I don't see any changes that need to be made to this article.
If I have m

[2021-03-01 16:03] clambert commented on #71304
I also have another subscription which is on the “azure plan”, but has no offer id. Would this subscription be able use the spot vms?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Charles Lambert <charles.w.lambert@gmail.com>
Sent: Monday, March 1, 2021 9:59:41 AM
To: MicrosoftDocs/azure-docs <reply@reply.github.com>; MicrosoftDocs/azure-docs <azure-docs@norepl

[2021-03-01 16:05] harre096 opened #71406 "dotnet core version clarity needed for AZFs"
C# | GA (.NET Framework 4.7) | GA (.NET Core 2.2)

I am not clear at what version of core is to be supported/used.

This [dotnet-core support policy page](https://dotnet.microsoft.com/platform/support/policy/dotnet-core) says that 2.2 is out of support and yet the [functions page](https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions) still recommends it.

Also [this blog-looki

[2021-03-01 16:05] jcbrooks92 opened #71407 "Add a note explicitly saying Create Synonym is not supported in Azure SQL DB"
We had a customer encounter the error "This feature is not supported in this version of SQL Server" when trying to run the Create Synonym query against their DB. It would be helpful to specifically call this out for Azure SQL DB for customers to find that it's not supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2021-03-01 16:08] sethmanheim commented on #55414
@v-radelg We have made some updates to this article. I have tested the tutorial and it seems to work, but if you still have questions please open a new GitHub issue. Thank you! #please-close

[2021-03-01 16:08] #55414 closed

[2021-03-01 16:10] CaitlinV39 commented on #70864
@zxue Can you review this and see if there is anything else before we need to close?

[2021-03-01 16:11] CaitlinV39 commented on #70866
@NavtejSaini-MSFT - Can we close this one? It looks like the response from @louis-Kimura was the same as another ticket and I've asked @zxue to review.

[2021-03-01 16:14] #65846 closed

[2021-03-01 16:15] spelluru commented on #71186
We should update link to:
https://github.com/Azure/azure-service-bus/tree/master/samples/DotNet/Microsoft.Azure.ServiceBus/ManagingEntities/SASAuthorizationRule

[2021-03-01 16:18] sethmanheim commented on #64143
@largeDachshund Thank you for the feedback and sorry for the delayed response. There is example code later in this section for two scenarios. Please let us know if this is not what you were looking for. #please-close

[2021-03-01 16:18] tyeth commented on #71228
@MGoedtel Thanks Matt, I got confused by the similarly named Azure prefixed cmdlet, (the Az + Azure prefixed versions are the first / only related google results in MS Docs 🤦‍♂️ ) apart from this similar issue you solved in January!
https://github.com/MicrosoftDocs/azure-docs/issues/45590

[2021-03-01 16:18] #64143 closed

[2021-03-01 16:19] AshokPeddakotla-MSFT commented on #71198
@songqiwei Here is the response received from our team on this query.

Let us know if that answers your query. If not, please let us know the complete scenario and use case with more details.

[2021-03-01 16:20] brcarpio commented on #70813
Thank you for the guidance!

[2021-03-01 16:23] spelluru commented on #71328
We should add (except Dedicated) in the common table or add the row to the second (basic vs. standard) table.

[2021-03-01 16:26] sethmanheim commented on #69380
@ewoody Thank you for the feedback and sorry for the delay. We have tested this tutorial and it seems to work -- can you please let us know specifically what errors you are receiving? Please re-open this issue if necessary. #please-close

[2021-03-01 16:26] #69380 closed

[2021-03-01 16:27] MGoedtel commented on #71228
@tyeth - Awesome, glad we are on the same page (thumbs-up)!

[2021-03-01 16:27] michalhoppe commented on #71321
For some reason what I pasted into the ticket isn't showing up in above, all of the escaping ("\") is missing.

The bottom line is that the RegEx tries to match "...blah...ubuntu.com/" with "...blah...ubuntu.com//", but the sources.list file doesn't contain the trailing slash.  This RegEx matches correctly: "...blah...ubuntu.com"

Michal

[2021-03-01 16:29] sethmanheim commented on #68448
@lawrenceong001 Thank you for updating us. If you're still experiencing issues with this tutorial, can you please re-open this incident? #please-close

[2021-03-01 16:29] #68448 closed

[2021-03-01 16:36] zxue commented on #70864
@louis-Kimura Thanks for the update. @CaitlinV39 The issue has been resolved. So yes you can close the it.

[2021-03-01 16:49] mattchenderson commented on #71221
The documentation accurately reflects our current statement of support. We hope to have this resolved soon.

[2021-03-01 16:50] RyanHill-MSFT commented on #71100
Hi @jasonchw, you can use the `SCM_TARGET_PATH` to set your deployment target to something other than root. See https://github.com/projectkudu/kudu/wiki/Deploying-inplace-and-without-repository for more details. If you have any further questions, please feel free to '@' us down below. If you run into issues, please feel free to reopen the issue.

[2021-03-01 16:50] #71100 closed

[2021-03-01 16:56] rugglcon commented on #52499
Has there been progress on what causes this error? I have encountered it now as well and there is no further explanation on documentation pages that I can find.

[2021-03-01 17:03] JamesTran-MSFT commented on #71278
@eggind
I just wanted to check in and see if you had any other questions or if you were able to resolve this issue?

[2021-03-01 17:06] SamaraSoucy-MSFT commented on #71144
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-03-01 17:06] #71144 closed

[2021-03-01 17:08] CaitlinV39 commented on #70864
#please-close

[2021-03-01 17:08] #70864 closed

[2021-03-01 17:10] ChaitanyaNaykodi-MSFT commented on #71186
Thank you @spelluru
Hello @ColeSiegelTR, I will make a PR shortly to update these links.

[2021-03-01 17:10] ramya-rao-a commented on #71339
Thanks @jsquire!

cc @spelluru

[2021-03-01 17:11] ramya-rao-a commented on #71340
Thanks @jsquire!

cc @spelluru

[2021-03-01 17:12] davihern opened #71410 "Missing a zero, to display partitions bigger than 8GB"
In section "Troubleshoot issues with diagnostics queries"

point 14, there is a missing zero in the query. Now it displays partition information that is bigger than 800MB. When the query should show partitions over 8GB should be:

AzureDiagnostics
| where ResourceProvider=="MICROSOFT.DOCUMENTDB" and Category=="PartitionKeyStatistics"
| where todouble(sizeKb_d) > 8000000

---
#### Document Details

[2021-03-01 17:27] duongau commented on #71088
@Zhaph Thank you for your suggestion. I have incorporated what you've written into the doc. It will take some time to reflect. PG is aware of this issue and have addressed the request path matching not including the initial / in the new Front Door Standard/Premium SKU Rule Set feature.

[2021-03-01 17:35] shilpasharmaAM commented on #33914
Noted, added the update the documentation with revised screenshots to our backlog. Closing.
#please-close

[2021-03-01 17:35] #33914 closed

[2021-03-01 17:37] jasonchw commented on #71100
Thanks for the reply, although the given link is not what we are looking for, we did find the docs for using `curl` to deploy the war artifact in https://github.com/projectkudu/kudu/wiki/Deploying-WAR-files-using-wardeploy#deploying-to-apps-other-than-root section `Deploying to apps other than ROOT`.

[2021-03-01 17:40] NavtejSaini-MSFT commented on #70866
@louis-Kimura As you were able to fix this issue, we are going ahead and closing this. Please get back to us for any issues.

[2021-03-01 17:40] #70866 closed

[2021-03-01 17:43] himanshusinha-msft commented on #71058
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-03-01 17:43] DeanGross opened #71413 "Role Requirements"
What role is required to perform the tasks described on this page, It is not clearly stated, please add.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0290c16b-f205-94bb-23c3-4981ec8b0ac3
* Version Independent ID: 3ad049c0-a292-c616-06e6-8d7b4b3dd756
* Content: [Protecting DNS Zones and Records - Azure DNS](https://do

[2021-03-01 17:44] himanshusinha-msft commented on #71060
We have raised a PR and hence closing the issue for now .

[2021-03-01 17:44] #71060 closed

[2021-03-01 17:45] himanshusinha-msft commented on #71085
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-03-01 17:46] dkataria1990 commented on #65655
I am also having the same issue. What is the resolution?

[2021-03-01 17:46] reydelleon-skuvault opened #71414 "Documentation conflict"
There is conflicting information between the last paragraph in section `Create client secret`, which declares that at that point the app has the permissions to delete a user. An the first sentence of the next section, `Enable user delete and password update` section, that states that the application doesn't have permissions to delete users without assigning further permissions.

---
#### Document

[2021-03-01 17:47] rwike77 commented on #57557
@astaykov  @hpsin Moving this stale issue (☢️ 252 days) to Azure DevOps work item backlog for review in recurring sprint triage. We'll move on it as appropriate and resolve when possible.

ID | Title | Iteration   Path
-- | -- | -- | --
[1313654](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fidentitydivision.visualstudio.com%2Fdf21e56e-d2d6-4252-9c4b-0165d7b6059f%2F_workitems%2

[2021-03-01 17:47] #57557 closed

[2021-03-01 17:48] himanshusinha-msft commented on #71157
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-03-01 17:49] Josh-Kewley-BC opened #71415 "AI JS for Angular documentation is dated"
It looks like the documentation on this page is dated. The AngularPluginService is no longer provided by @microsoft/applicationinsights-angularplugin-js. The getting started code has been updated in the project repo and needs to be updated here as well:
https://github.com/microsoft/ApplicationInsights-JS/tree/master/extensions/applicationinsights-angularplugin-js

---
#### Document Details

⚠ *Do

[2021-03-01 17:56] SaiKishor-MSFT commented on #71413
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-03-01 17:56] SaiKishor-MSFT commented on #71396
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-01 18:02] JamesTran-MSFT commented on #71414
@reydelleon-skuvault
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-01 18:10] AjayKumar-MSFT commented on #71221
As Matthew mentioned, once it's resolved we will also update our doc appropriately. We will close this for now. Thanks for taking time to share your feedback.

[2021-03-01 18:10] #71221 closed

[2021-03-01 18:11] tvdvoorde opened #71416 "Passwordless authentication"
Hi, I'm trying to get this sample to work with passwordless authentication.
I have all of that enabled on my tenant, and it works fine in my own OAuth2/OIDC PKCE apps, but I do not get the option to choose passwordless in the sign-in methods in the Electron app.
Is this simply not supported, or am I missing something?
Thanks,
Ted

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2021-03-01 18:12] lgayhardt commented on #71415
Hi @Josh-Kewley-BC, The update for this doc is already in the works and should go live this week.

Thank you!

#please-close

[2021-03-01 18:12] #71415 closed

[2021-03-01 18:14] KranthiPakala-MSFT commented on #71405
@tom-norwood
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-03-01 18:16] AjayKumar-MSFT commented on #71174
ericsampso,  Your feedback has been shared with the content owner for further review.

[2021-03-01 18:17] NavtejSaini-MSFT commented on #71401
@gitmadness We are checking this and will get back to you.

[2021-03-01 18:19] NavtejSaini-MSFT commented on #71183
@nunepalli We are glad this is resolved for you. Please convey which screenshots are not correct. If you can give an example, please convey that as well.

[2021-03-01 18:22] NavtejSaini-MSFT commented on #71410
@davihern We are checking this and will get back to you.

[2021-03-01 18:26] nunepalli commented on #71183
@NavtejSaini-MSFT
These 2 screenshots are showing that we can AWS RDS for SQL Server in DMS
![dms-create-and-run-activity1](https://user-images.githubusercontent.com/44655242/109541388-60519680-7a89-11eb-87ce-b3b2d86680c2.png)
![dms-create-project4](https://user-images.githubusercontent.com/44655242/109541390-60519680-7a89-11eb-8550-495f4627c9cb.png)

[2021-03-01 18:30] SamaraSoucy-MSFT commented on #70666
I've uploaded the test project I've been using which does not use the `spring.zipkin.sender.type=web` property, but uses your pom.xml configuration (minus key vault): https://github.com/SamaraSoucy-MSFT/spring_2.4_test

I do want to acknowledge that a simple demo app may be missing something that is causing problems in your larger distributed application, and this forum is not meant for doc issues

[2021-03-01 18:32] alkohli commented on #67894
@caz3542 Thank you for your feedback! I have added the note as well as clarified that we support only PS version 5.0. The change is in this PR. When the PR is merged, change will go live. https://github.com/MicrosoftDocs/azure-docs-pr/pull/148499
Closing this issue.
#please-close

[2021-03-01 18:32] #67894 closed

[2021-03-01 18:36] ChaitanyaNaykodi-MSFT commented on #71406
Hello @harre096,
Thank you for your feedback! We will review and update as appropriate.

[2021-03-01 18:38] MicrosoftGuyJFlo commented on #71363
@AvySirius Steps are correct. I just re-validated them in multiple test directories.

![image](https://user-images.githubusercontent.com/25777989/109542681-39d82f00-7a7a-11eb-9202-ec81b1341fc8.png)

[2021-03-01 18:39] JayaChatterjee-MSFT commented on #71001
The behavior of leasing and locking is the same but they are for 2 different products (lease is for storage queues, and lock is for Service Bus). In lease based the lease is acquired at the message level.. We can set different timeout value to individual message. Locks are also acquired at the message level but all the messages in the entity (queue/subs) will have the same lock duration. In both w

[2021-03-01 18:40] KranthiPakala-MSFT commented on #71341
@ramya-rao-a
Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-03-01 19:05] MicrosoftGuyJFlo commented on #71363
#please-close

[2021-03-01 19:05] #71363 closed

[2021-03-01 19:13] jjeziorny commented on #70853
Hi @SaiKishor-MSFT , I've replicated the issue in a LAB environment so you can confirm what is happening.
In this case, I have not touched the LISTENERS, only the RULES and you will see the certificate returned when no SNI is presented is from the first RULE (not the first listener).

Note the CN = SERVER(x)  at the output of the openssl commands

Liste listener and rules
[code]

Using openssl we

[2021-03-01 19:14] MicrosoftGuyJFlo commented on #71223
Thanks for the suggestion will try and add in a future revision. #please-close

[2021-03-01 19:14] #71223 closed

[2021-03-01 19:14] IngridAtMicrosoft commented on #71092
Thanks Bryan!
I will make an ADO item for the docs.
Ingrid

#please-close

[2021-03-01 19:14] #71092 closed

[2021-03-01 19:15] MicrosoftGuyJFlo commented on #71008
Covered in the overview topic... https://docs.microsoft.com/azure/active-directory/identity-protection/overview-identity-protection#permissions

[2021-03-01 19:16] MicrosoftGuyJFlo commented on #71008
#please-close

[2021-03-01 19:16] #71008 closed

[2021-03-01 19:16] burstingninja opened #71417 "How Can I assign a user to an organization?"
Which property is required to add under User attributes and Claims to assign a user to a GCP organization automatically?
![image](https://user-images.githubusercontent.com/7752099/109545795-ea502e00-7a8e-11eb-9aca-a4cc5c496726.png)

For example assigning a user to the GCP.REFINITIV.COM by configuring the app registration manifest and adding the user to this organization by assigning a role within

[2021-03-01 19:36] brwilkinson commented on #71352
I tested with a non private and non "AKS-managed Azure Active Directory" deployment of AKS and it works, I will have to test further to know which one was blocking this. Hopefully I can test in the next day or so.

[2021-03-01 19:47] TravisCragg-MSFT commented on #71304
@clambert It is unlikely, as the 'Azure Plan' is a combination of free services & Pay As You Go. The doc explicitly lists that only the 'Pay-as-you-go offer code 003P' Is the only one that is allowed to use this service. You can always try and see if it lets you.

You will likely need to convert one of your existing subscriptions, or even create a new Pay As You Go subscription in order to use Spo

[2021-03-01 19:51] ddobric opened #71418 "Monitoring does not work"
For some reason, the monitoring for running Azure Container Instance does not work.

![image](https://user-images.githubusercontent.com/1756871/109550613-cfea7480-7acf-11eb-855a-4bce35e09ba0.png)

Thanks in advance

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6018cbb-71d5-e997-64fa-b199d4c9cf71
* Version Independent

[2021-03-01 19:54] fkucuk opened #71419 "broken link"
_To create your own custom SecretProviderClass object with provider-specific parameters for the Secrets Store CSI driver, use this template. This object will provide identity access to your key vault._

current link: https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/examples/v1alpha1_secretproviderclass_service_principal.yaml

should be: https://github.com/Azure/secrets-

[2021-03-01 19:55] lgayhardt commented on #52657
@joaopgrassi Sorry for the delay and thanks for the feedback.

This section on [How to customize ilogger logs collection](https://docs.microsoft.com/azure/azure-monitor/app/asp-net-core#how-do-i-customize-ilogger-logs-collection) shows how to explicitly override the logging configuration ( It was added to the docs late last year).

We are going to close this thread as resolved but if there are any

[2021-03-01 19:55] #52657 closed

[2021-03-01 19:56] Tom-Van-Asch commented on #70666
I've deployed your github project with the name "sample-app" on our azure spring-cloud service and I'm getting the same error:
![image](https://user-images.githubusercontent.com/5707385/109550548-b9dcb400-7acf-11eb-9743-7b103d431f95.png)

I only added one extra endpoint to generate an exception easily as this will trigger a call to the zipkin endpoint. Can you try this test also on your azure spri

[2021-03-01 20:03] clambert commented on #71304
How do I convert it to a pay-as-you-go plan? I have a Customer Service Agreement on this plan. I assumed it was a pay-as-you-go. This is not very intuitive.

From: TravisCragg-MSFT <notifications@github.com>
Sent: Monday, March 1, 2021 1:48 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: clambert <charles.w.lambert@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [

[2021-03-01 20:09] TravisCragg-MSFT commented on #71304
@clambert I would create a CSS case. They can Verify your subscription offer, quota, as well as verify that the one you are converting to will 100% work for this service.

The only thing to consider is that if you are getting free credits on the subscription, you might lose those free credits when you convert.

[2021-03-01 20:10] yevster opened #71421 "Missing Resource Provider documentation for Azure Spring Cloud"
The list of Resource Provider Operations reference omits all Azure Spring Cloud operations (`Microsoft.AppPlatform/Spring`).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33219707-3b9f-cc6b-541e-a806dc82622a
* Version Independent ID: b4e96391-bcf9-1f30-cb44-ed339469da4f
* Content: [Azure resource provider operations](

[2021-03-01 20:35] SaiKishor-MSFT commented on #71291
@RayMaAU If you have followed the document and properly added all of the permissions between the tenants, your best bet is to open a support request. If you do not have a support plan, please let me know. Thank you!

[2021-03-01 20:37] anmuk601 commented on #71002
Thank you for the feedback, @hurtn. We are updating the user documentation to remove confusion. Also, in the product, we will consider making updates based on your feedback.

[2021-03-01 20:40] James-Hamil-MSFT commented on #71392
Hi, we are investigating your issue and will update you shortly.

Best,
James

[2021-03-01 20:48] anmuk601 commented on #71002
#please-close

[2021-03-01 20:48] #71002 closed

[2021-03-01 20:56] rugglcon commented on #52499
I may be able to provide some sort of help here: we run into this error when we have a social login OIDC policy (auth/federate with Azure AD) and a local account login/signup policy using the same UserJourney. Below is the UserJourney as it is in our TrustFrameworkExtensions xml file:

[code]

If we remove Orchestration step 4 and renumber, we are able to use Azure AD login and federation just fin

[2021-03-01 21:05] spelluru commented on #71337
Done with #1 and #2.
For #3: I will add the links after adding Java, Python, and JavaScript code to the article as part of resolving this issue: https://github.com/MicrosoftDocs/azure-docs/issues/71338

[2021-03-01 21:19] jdubois commented on #71300
Hi @coffeeplant I've just tested and the code works, but there's a misunderstanding: the variable "AZ_DATABASE_NAME" is probably what you call "SERVER_NAME" (by the way, we don't use this "SERVER_NAME" variable in the page, so I guess you created it yourself).
It's indeed the name of the server, for example if I create a database called "judubois-tmp", then I would have:
[code]
-> that server name

[2021-03-01 21:22] spelluru commented on #71340
@ramya-rao-a @jsquire - As per this SDK article, PartitionId is a string.

https://docs.microsoft.com/en-us/dotnet/api/azure.messaging.eventhubs.producer.sendeventoptions.partitionid?view=azure-dotnet#Azure_Messaging_EventHubs_Producer_SendEventOptions_PartitionId

[2021-03-01 21:26] spelluru commented on #71340
I am using this code now to add events to the batch:

[code]

[2021-03-01 21:31] #71277 closed

[2021-03-01 21:33] spelluru commented on #71340
I am using this code now:

[code]

[2021-03-01 21:41] jsquire commented on #71340
Hey @spelluru:  Mea culpa.   You're correct;  I forgot that we had rolled back the numeric enforcement to maintain parity with the legacy types.  Your snippet looks good to me.   Apologies for the confusion.

[2021-03-01 21:47] ramya-rao-a commented on #71340
Yes, and you can add a comment saying one can call GetPartitionIds on the client to get list of all partitionIds

[2021-03-01 21:48] spelluru commented on #71341
Reviewed the history. Reverted to the original code.

[code]

[2021-03-01 21:57] SaiKishor-MSFT commented on #71323
@kahawai-sre secure Inter hub connectivity is not possible at the moment but this will be supported in June.

[2021-03-01 21:59] SaiKishor-MSFT commented on #71324
@kahawai-sre Connectivity for Vnet in different region that hub is not supported at the moment. Since you have to setup Hub in different region, this too is considered inter-hub.

[2021-03-01 22:10] spelluru commented on #71339
@ramya-rao-a @jsquire

#1: I check the return value of TryAdd now (not published yet)

#2: I will use MyAppSequenceNumber to highlight that it's application-specific.

#3: I am trying to understand it too (I inherited this content). The advantage of using an app-specific seq number would be that the producer client could send events to any partition. The consuming client will use the sequence numb

[2021-03-01 22:17] jsquire commented on #71339
There are two advantages that I can think of:

- It would help to guard against duplicate processing;  the application can track which sequence numbers were processed and avoid re-processing if the event had been seen.  _(Event Hubs does not offer a built-in way to uniquely identify an event,  an application has to handle this concern)_

- It would allow an application to achieve higher throughput

[2021-03-01 22:23] andersonmsilva opened #71425 "description of metric "SocketInboundAll""
Could you elaborate a little more the meaning or description of metric "SocketInboundAll"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f496941-f125-1671-5de7-66438e68043f
* Version Independent ID: ce30fce1-45a5-4f00-e0e9-57a00cc07687
* Content: [Azure Monitor supported metrics by resource type - Azure Monitor](http

[2021-03-01 22:24] JamesTran-MSFT commented on #71418
@ddobric
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-01 22:27] JamesTran-MSFT commented on #71419
@fkucuk
Thank you for pointing this out!

I've created a PR to update the documentation and it's currently waiting for the author(@msmbaldwin) to review and sign off.

We are currently tracking the issue on this thread - #71076

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-03-01 22:27] #71419 closed

[2021-03-01 22:30] JasonFreeberg opened #71426 "Web Apps: Need to distinguish which metrics are supported on Linux"
This doc currently has a flat list of the metrics that web apps emit, but some are simply not applicable to **Linux**. The following lists are the supported metrics for Linux. @msangapu , @cephalin could one of you help update this doc? Not sure if a table is good, or separate lists

### App Service Plan Metric (Per worker instance)
#### Namespace: Microsoft/Web/AppServicePlans
* CpuPercentage
* M

[2021-03-01 22:30] JamesTran-MSFT commented on #71421
@yevster
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-01 22:35] Lou-tech-dotcom opened #71427 "Plugin for Microsoft Azure Active Directory single sign-on for Jira"
Hello,
I am trying to install the plugin for Microsoft Azure Active Directory single sign-on for Jira but after I enter the metadata for xml it populates the needed fields but does not allow me to save the configuration, the save button stays grey.
Thanks

[2021-03-01 22:37] JamesTran-MSFT commented on #71417
@burstingninja
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-01 22:37] JamesTran-MSFT commented on #71403
@commakoerschgen
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-01 22:49] peacefulvibes opened #71428 "Document not matching what is on Azure DevOps"
These are not clear:
#6: Under Supported account types, select Accounts in any identity provider or organizational directory (for authenticating users with user flows).

these are the options - none match the above
Supported account types
Who can use this application or access this API?
	Accounts in this organizational directory only (Heska B2C only - Single tenant)
	Accounts in any organizational

[2021-03-01 23:00] RyanHill-MSFT commented on #71426
@JasonFreeberg, I've assigned the issue to @btardif and crew.

[2021-03-01 23:14] chrisweis opened #71430 "Power BI support for Managed Identities is unclear"
Hello,

This page notes that "Microsoft Power BI also supports managed identities" but the link directs to a Stream Analytics page, leaving the reader unclear whether the Power BI Embedded/Premium services do/don't fully support Azure managed identities.  Clarification of this would make this page much more valuable.

Thanks!
Chris

---
#### Document Details

⚠ *Do not edit this section. It is req

[2021-03-01 23:18] JamesTran-MSFT commented on #71428
@peacefulvibes
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-01 23:19] JamesTran-MSFT commented on #71430
@chrisweis
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-01 23:22] Tiberriver256 opened #71431 "Missing documentation for the developer portal experience of subscriptions"
What does requesting a subscription look like for someone logged into the developer portal?
What behavior does selecting the 'Require Subscription' and 'Require Approval' checkboxes on a product drive?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 896691fb-064a-eaf8-f71f-53200149b48a
* Version Independent ID: ff3e18ed

[2021-03-01 23:25] ChaitanyaNaykodi-MSFT commented on #71163
Hello @fakdaddy75, you can find additional Python based examples for Azure Function Apps [here](https://docs.microsoft.com/en-us/samples/browse/?products=azure-functions&languages=python).  You can also find additional examples in the [Azure Serverless Community Library ](https://www.serverlesslibrary.net/?technology=Functions%202.x%2CCosmos%20DB&language=Python). [Here is](https://github.com/yoka

[2021-03-01 23:26] James-Hamil-MSFT commented on #71399
Hi @vbrinza , can you please post the document that you're referencing?

Thank you,
James

[2021-03-01 23:28] SamaraSoucy-MSFT commented on #71286
I'm going to hand this off to the doc author to update with some additional info about the chart.

In the default view the y-axis is the column value and the x-axis is the index of that value if you convert the results to array.

If you take one more step and set the category column on the left side to passenger count, you will get the results you expect (this is not set automatically). You can al

[2021-03-01 23:33] ethanturk commented on #44973
This is a bug in the docs, as others have called out. Please correct this.

[2021-03-01 23:33] AlifUnseen opened #71432 "Get started: [some link] Consistency"
Thanks for the documentation. It would be great if each sub-section used the structure below for consistency:

* Get started: [some link]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1cce701-aeb0-07af-6961-4f3e5cf2ed44
* Version Independent ID: 9c3e5bd6-7367-bfd8-f296-2f91f058a0fe
* Content: [Get started guide for d

[2021-03-01 23:37] ChaitanyaNaykodi-MSFT commented on #71186
Hello @ColeSiegelTR, Thank you for your feedback, I have made a PR to address this issue and you will be able to see the changes soon. We will now proceed to close this issue out, please tag me in you response if there are any additional concerns. Thank you!

[2021-03-01 23:37] #71186 closed

[2021-03-01 23:46] James-Hamil-MSFT commented on #71407
Hi, we are investigating your issue and will update you shortly.

[2021-03-01 23:48] #71247 closed

[2021-03-02 00:04] mhopkins-msft commented on #44973
We're working on getting the docs updated right now.

[2021-03-02 00:06] cynthn commented on #68171
I've made some updates to the doc, including creating newer screenshots. The changes should be live later this week. Thanks again!

#please-close

[2021-03-02 00:06] #68171 closed

[2021-03-02 00:08] rboucher commented on #71425
Understood and agreed.  Here are updated descriptions for the metrics that just repeat the displaynames. I'll work to get them into the documentation.  If this answers you question @andersonmsilva , please close this request or let me know how else I can help.

SocketInboundAll           The average number of sockets used for incoming HTTP requests across all the instances of the plan.
SocketLoopb

[2021-03-02 00:39] NavtejSaini-MSFT commented on #71293
@tarwn Will like to understand the question better and if you can add reference from High Availability document. Both documents are saying that atleast one replica is available in any tier but premium tier have other options as well.
Please elaborate to answer it correctly.

[2021-03-02 00:45] ramya-rao-a commented on #71339
cc @serkantkaraca for any additional thoughts here

[2021-03-02 00:46] nelroosevelt opened #71433 "Port 25 usage in VNET Integration"
Could the document inform the users of regional vnet integration that Port 25 is not available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a98803-1438-b1b5-f543-7dd88bc4294e
* Version Independent ID: 37ff1d0f-ed8e-5e4d-1f4c-1b9f6cffb938
* Content: [Integrate app with Azure Virtual Network - Azure App Service](htt

[2021-03-02 00:51] brianmooremsft opened #71434 "Correct PS for retrieving KV secret and displaying via cleartext for validation"
The section in the doc on retrieving secret and displaying in clear text for validation appears incorrect.

"To validate the deployment, run the following PowerShell command in the same shell pane to retrieve the secret in clear text. The command works only in the same shell session, because it uses the variable $keyVaultName, which is defined in the preceding PowerShell script.
(Get-AzKeyVaultSec

[2021-03-02 01:12] tielushko opened #71437 "Receiving an incoming call - "Type annotations can only be used in TypeScript files" error."
Hi Microsoft Team,

After reviewing the Calling Client Library, I tried implementing the "Receiving the incoming call feature in my ReactJS client app".
The docs say the example is in JavaScript, but unfortunately, the VS Code linter produces an error "Type annotations can only be used in TypeScript files." in the arguments line.

What is the good alternative of replacing the arguments line inside

[2021-03-02 01:40] zqyAmy commented on #71387
Thanks a lot

[2021-03-02 01:51] NavtejSaini-MSFT commented on #71401
@gitmadness We have raised a Pull Request - https://github.com/MicrosoftDocs/azure-docs-pr/pull/148556 to resolve this issue.

[2021-03-02 01:56] dlepow commented on #71141
Hello @jcamu - Thanks for the question. There are a number of considerations and I think the approach will depend on how you're using your registry for builds/deployments, the size of your organization, storage needs, budget, organizational controls, and so on. Which scenarios are you particularly interested in?
As an example for build workflows involving base images for multiple groups: https://d

[2021-03-02 01:56] NavtejSaini-MSFT commented on #71410
@davihern Thanks for the feedback, we have made the change to document - https://github.com/MicrosoftDocs/azure-docs-pr/pull/148559. Once approved the changes will be live in approx. a day.

[2021-03-02 02:00] NavtejSaini-MSFT commented on #71183
@nunepalli Thank you for this.
@pochiraju Please check the screenshots above and please help us change the same.

[2021-03-02 02:10] NavtejSaini-MSFT commented on #71407
@jcbrooks92 The [creation ](https://docs.microsoft.com/en-us/sql/t-sql/statements/create-synonym-transact-sql?view=sql-server-ver15)for the Synonym is available in Azure DB.
If you are looking for using Synonym for Cross DB joins that feature is not currently available and you can upvote the Azure Feedback [here](https://feedback.azure.com/forums/217321-sql-database/suggestions/9588600-to-allow-th

[2021-03-02 02:21] mumian commented on #71434
@brianmooremsft - Thank you for your comment.  I have a PR created to address the issue.

#please-close

[2021-03-02 02:21] #71434 closed

[2021-03-02 02:25] KrishnaG-MSFT commented on #71415
@lgayhardt Thanks for the super quick response. :+1:

[2021-03-02 02:26] KrishnaG-MSFT commented on #71434
@mumian Thanks for the super quick response. :+1:

[2021-03-02 02:51] spelluru commented on #71341
https://github.com/MicrosoftDocs/azure-docs-pr/pull/148561

#please-close

[2021-03-02 02:51] #71341 closed

[2021-03-02 02:51] spelluru commented on #71340
#please-close

[2021-03-02 02:51] #71340 closed

[2021-03-02 02:59] tdihp opened #71439 "ACR should clarify how the service endpoint policies configuration can affect data endpoint access"
This article here specifies how ACR uses storage account to access blobs. As the [service endpoint polices](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-service-endpoint-policies-overview) can also affect blob access in addition to firewall, it would be great to have clarification on which setting in service endpoint policies will affect ACR access, and what's the recomme

[2021-03-02 03:03] MonikaReddy-MSFT commented on #71052
@kof-f  - Thank you for providing your insights.
@jabbera - I hope @kof-f has answered your question.
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the

[2021-03-02 03:03] #71052 closed

[2021-03-02 03:15] BryanTrach-MSFT commented on #71433
@nelroosevelt Thank you for the feedback. We saw your email discussion with the PG. As a result, we will update the doc tomorrow once the Microsoft Ignite doc update is lifted.

[2021-03-02 03:17] AnuragSharma-MSFT commented on #71214
@Arithmomaniac Thanks for replying back and providing more inputs. This is being assigned to the content author to evaluate and update as appropriate.

[2021-03-02 03:20] SamaraSoucy-MSFT commented on #71311
Those items are controlled by the Stream Analytics service and the documentation for Stream Analytics does include them.

_Error Information/Logging_
In order to use Synapse as an output, you must [connect a storage account](https://docs.microsoft.com/en-us/azure/stream-analytics/azure-synapse-analytics-output) to Stream Analytics. If you are asking about job logs specifically, you need to configu

[2021-03-02 03:45] antrix1989 opened #71442 "The note regarding WPJ+CBA combination is missed in the doc"
The note was added in [this pr](https://github.com/MicrosoftDocs/azure-docs/pull/54474), but it is missed in the [current doc](https://docs.microsoft.com/en-us/azure/active-directory/user-help/user-help-auth-app-sign-in). It needs to be put back as we still don't support WPJ+CBA in the iOS Authenticator.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-03-02 03:47] tomomi-code opened #71443 "Missing the step for Deploy the Key-vault by ARM template"
Hello there,

This document is missing the deployment step. It shows the ARM template, but then the next step is checking if it deployed.
I think just the following command is helpful to show how to deploy.
[code]
Or maybe adding some other reference documents is also helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-03-02 03:55] SnehaAgrawal-MSFT commented on #71437
@tielushko Thank you for your feedback . We will investigate and update the thread further.

[2021-03-02 04:00] brwilkinson commented on #71352
okay I confirmed that when the cluster is set to privateCluster then this does not work

I definitely am on the private network and have access to kubectl and also directly to resources via the portal

![image](https://user-images.githubusercontent.com/3605266/109593769-70d43200-7ac6-11eb-80dc-24c9cb7ff2c5.png)

 . . . so the Deployment center must run from some other context, since it cannot conn

[2021-03-02 04:15] shashishailaj commented on #71442
@antrix1989 Thank you for pointing this out . We will have this checked internally and see how best the document can be updated.

[2021-03-02 04:16] SamaraSoucy-MSFT commented on #71357
I've submitted a PR- it will go live once the doc author has approved it.

[2021-03-02 04:16] #71357 closed

[2021-03-02 04:18] psmanhas commented on #71416
@tvdvoorde Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-03-02 04:19] psmanhas commented on #71439
@tdihp
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-03-02 04:20] psmanhas commented on #71439
@dlepow
Can you please check and add your comments on this doc update request as applicable

[2021-03-02 04:24] DerekHerman-MSFT commented on #71130
@star286 Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-02 04:36] DerekHerman-MSFT commented on #71136
@star286 Yes, append and page blob do not currently support access tiers.

[2021-03-02 04:36] #71136 closed

[2021-03-02 04:41] shashishailaj commented on #71427
@Lou-tech-dotcom Thank you for your query . I also wanted to let you know that we use this github repository only as a document improvement platform . In your case it seems to be a product issue. I would try to research and find something related on this however if it requires deeper troubleshooting , I would suggest you to open a thread on [Microsoft QnA ](https://docs.microsoft.com/answers/index

[2021-03-02 04:42] shashishailaj commented on #71443
@tomomi-code Thank you for your feedback . We will investigate and udpate the thread.

[2021-03-02 04:52] psmanhas commented on #71352
@brwilkinson Thank you for confirming on same. Let me reach out to our internal team on this and check with them for inputs.

Thanks

[2021-03-02 04:56] brianlehr commented on #64688
This was incorrect legacy information and will be adjusted in future docs push.  In short, the current state is:

VpnGw1-5 – Use Basic (Dynamic) public IP resources
VpnGw1-5/AZ – Use Standard public IP resources

[2021-03-02 05:59] rboucher commented on #71425
Actually,  @andersonmsilva.  I'm going to close this issue.  But feel free to comment or reopen if this doesn't fully answer your question.  Thanks!
#please-close

[2021-03-02 05:59] #71425 closed

[2021-03-02 06:32] dduleep opened #71447 "AzureDevOps for outbound connection"
As per the This [MS document](https://docs.microsoft.com/en-us/azure/devops/organizations/security/allow-list-ip-url?view=azure-devops#ssh-connections), AzureDevOps could be used for both direction(outbound/inbound).
I'm afraid I don't understand what you mean limitation of the new AzureDevOps tag

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-03-02 06:52] ShrivastavaAkash opened #71448 "Document needs more info on "Advanced" training method."
The page does not have any info on the difference between 2 presented training methods for model training. Specifically how much time does the advanced training method takes. As seen in below screenshot:

![image](https://user-images.githubusercontent.com/12945858/109609545-7aef4280-7b51-11eb-91bc-baed5b78dc08.png)

Also, there is no check box to add training data anymore.

---
#### Document Detai

[2021-03-02 06:54] vipulsparsh commented on #71442
@antrix1989 Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-03-02 06:55] vipulsparsh commented on #71443
@sebansal Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-03-02 07:41] ssivas commented on #71138
@Evalpo , Thanks for reaching out.

I had followed the same instructions and was able to extend the schema in Azure Active Directory (Azure AD) with own attributes from on-premises Active Directory, here is screenshot from my lab

Its name is always Tenant Schema Extension App.

![image](https://user-images.githubusercontent.com/57458999/109613297-f69fbe00-7b56-11eb-8a74-b33e91f1465a.png)

Here is

[2021-03-02 07:41] #71138 closed

[2021-03-02 07:48] AnandKatta opened #71449 "Do we need add "pod-identity" to all namespaces for managed-identity to work in all namespaces in a cluster ?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3c187c0-27f1-11c9-41af-6c65ca36e77e
* Version Independent ID: 249a570b-90ba-4a11-4467-320f0369ec25
* Content: [Use Azure Active Directory pod-managed identities in Azure Kubernetes Service (Preview) - Azure Kubernetes Service](https://docs.microsoft.

[2021-03-02 08:11] vipulsparsh commented on #71282
@WhippsP Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-03-02 08:24] mxxmusic opened #71450 "Question: How Azure Resource Manager deployment web server with key vault without keyvault version?"
[Enter feedback here]

I  want to deploy a web server app with key vault, but from this doc, the ARM example deployment have the key vault version like below:
`(variables('storageConnectionStringResourceId')).secretUriWithVersion`

If I want have the version value for the key vault, below is by modify is OK, if OK, where can find the doc about it, I can not find the dos about `).secretUri`
`(varia

[2021-03-02 08:30] subashsivaji commented on #65655
The person who actually creates the key vault secret scope in the Azure Databricks UI, must have permission in Azure Active Directory to create service principals. Either get that permission or ask a person who has that permission to create the secret scope in azure databricks on behalf. I went for the latter option.

[2021-03-02 08:33] ssivas commented on #71384
@wy10cheng , Thanks for reaching out.

You would find  "Users and Groups" options under "Manage" from **Enterprise Application** section as shown below screenshot.

If you sign in to the [Azure portal](https://portal.azure.com/) as a Global Administrator, then **Azure Active Directory > Enterprise Applications** (Select the application you want to assign a user) **> All applications > Users and gr

[2021-03-02 08:33] #71384 closed

[2021-03-02 08:34] dkataria1990 commented on #65655
That solution is not ideal. Is this possible to do via terraform on provisioning?
I have access to an SPN which has contributor access, so will be able to run pipelines or cli commands etc. I have manually granted key vault permission to other managed identities, however databricks only seems to have an enteprise application, and when I grant this key vault access (get, list), I get the same error

[2021-03-02 08:38] HollyQM opened #71452 "please help with azure network watcher NSG flow log's supportability of AKS service"
https://docs.microsoft.com/en-us/azure/network-watcher/network-watcher-nsg-flow-logging-overview#nsg-flow-logging-considerations

customer's verbatism:
The main reason we are asking Azure teams to extend Flow Logs and Traffic Analyser to AKS is for allowing clients with web applications running on Kubernetes clusters to monitor, analyse and alert about all traffic hitting the cluster’s public IP a

[2021-03-02 08:39] AjayKumar-MSFT commented on #71450
@mxxmusic, If I have understood you correctly- You may simply remove the version from the reference to begin leveraging this capability. No further configuration is required.

Additionally - Key Vault references allow the app to use a system-assigned managed identity to resolve secrets from Azure Key Vault and expose them as environment variables. So, this allows teams to easily move secrets into

[2021-03-02 08:44] lgayhardt commented on #69207
Hi @yohny, sorry for the delay and thanks for the feedback. Snippets will be updated in a PR created by one the engineers which should go live this week.

#please-close

[2021-03-02 08:44] #69207 closed

[2021-03-02 08:45] blochl opened #71453 "Please fix the Linux instructions of connecting to ASE"
Page/section: https://docs.microsoft.com/en-us/azure/databox-online/azure-stack-edge-gpu-connect-powershell-interface#remotely-connect-from-a-linux-client

It is written: `sudo pwsh`, but root privileges are not needed for this, so just `pwsh` would be enough. Tested on ASE at our office. Invoking PowerShell as root when not absolutely needed is a security vulnerability.

Thanks,
Leonid.
___

---

[2021-03-02 08:46] psmanhas commented on #71432
@AlifUnseen
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-03-02 08:46] psmanhas commented on #71432
@ggailey777
Can you please check and add your comments on this doc update request as applicable

[2021-03-02 08:49] psmanhas commented on #71306
@DavidSchrag
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-03-02 08:49] #71306 closed

[2021-03-02 08:49] psmanhas commented on #71364
@kevinzhang8888
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-03-02 08:49] #71364 closed

[2021-03-02 08:50] lgayhardt commented on #68418
Hi @rdaruich, sorry for the delay. One of the engineers is updating the snippet in the doc and it should go live this week.

Thank you!
#please-close

[2021-03-02 08:50] #68418 closed

[2021-03-02 08:50] psmanhas commented on #71273
@vanpyrzericj
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-03-02 08:50] #71273 closed

[2021-03-02 09:06] Molx32 commented on #71028
Oh my bad! I didn't test this, thanks for you feeback!

[2021-03-02 09:06] #71028 closed

[2021-03-02 09:10] pwcasdf opened #71455 "Validate move not working!!"
I'm tring to take a test with this validation reource move through http request.

All the resources returns 202 Accepted event the resource does not support resource move.
(I tested in portal and it showed up not available)

I thought any resources which are not movable between subscriptions would return other responses except 202.
Am I missing sth?

![alt text](https://by3301files.storage.live.co

[2021-03-02 09:28] mxxmusic commented on #71450
@AjayKumar-MSFT , Yes I just remove the key valut version by modify the ARM deployment(`(variables('storageConnectionStringResourceId')).secretUriWithVersion` to `(variables('storageConnectionStringResourceId')).secretUri` ) by my guess, and it work. But I can not find any docs about the `secretUriWithVersion` and `secretUri`. I want to find the official docs about it.

[2021-03-02 09:33] VikasPullagura-MSFT commented on #53013
@TomArcherMsft Thanks for updating the document.

[2021-03-02 09:33] #53013 closed

[2021-03-02 09:41] alfiyashka commented on #54858
where this location is located? Is it local filesystem or databrisks filesystem?

[2021-03-02 09:44] alfiyashka opened #71456 "Copy into DELTA lake. where is source location?"
I don't understand where the file  location is located? Is it in my local filesystem (Windows) or in the Databricks filesystem, or in azure or in aws...? How can I provide it correctly? Thank you.

[2021-03-02 09:51] psmanhas commented on #71290
@ld0614 Apologies for delay in response and all the inconvenience caused because of the issue. I had discussion internally and below is their response:

Documentation on the Azure Files side would need an update and we have informed doc author on same.
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment.

[2021-03-02 09:51] #71290 closed

[2021-03-02 09:52] chriscopemorgan commented on #71348
Hi Parikshit

This works OK for on-prem Server.

But how does one do the same for the Azure Database, when setting up as the destination server for on-prem source replication.

There is no option for this on an Azure MySQL Server.

Regards

Chris Cope Morgan

InterAccess Communications

Port Elizabeth, South Africa

Mob +27 83 232 1122

From: Parikshit Savjani
Sent: Sunday, 28 February 2021 11:02

[2021-03-02 09:59] #71386 closed

[2021-03-02 10:01] ssivas commented on #70709
@gautamksr .

Thanks for sharing detailed information.

Looking at above above error, this issues need more investigation and live troubleshooting for quicker resolution I would recommend you to contact azure support.

Once gain thank you for your cooperation on this matte.

[2021-03-02 10:03] Nimleth opened #71457 "TLS 1.0/1.1"
Hi,

This page states that "it is not possible for key vault service team to disable old versions of TLS for individual key vaults at transport level".
Ok, so are there any plans to disable old TLS versions at all? For instance by not allowing old TLS versions for any key vault?

Rgds,
Dennis

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2021-03-02 10:12] ssivas commented on #70028
Hello @psandgren , Hope above mentioned instruction helps you with right direction. If you have any queries, feel free to reach out to us. Thanks.

[2021-03-02 10:12] #70028 closed

[2021-03-02 10:20] savjani commented on #71348
Chris - the recommendation to turn ON binlog is on the "source server" . If your source server is on-premises or running VMs, above steps would apply but if it is on AWS RDS, you will have to enable it through server parameters. I am not sure why you would want to use source server as Azure since Azure DB for MySQL is the target server in this case for data-in replication

[2021-03-02 10:27] Debpriya1994 commented on #70353
Hello @wUEZRs
After having an internal discussion, we concluded that this is not a normal flow.
Can you give us the details of the steps you did which led to this issue?

[2021-03-02 10:58] ddobric opened #71458 "Container enters failed state without any error"
Sometimes containers enter 'Failed' state and no error can be found. This is a serious issue. The container is first running properly for a while. However, when the container is terminated due to some unknown error, it is not possible to find the error.
In such cases, the application log also does not contain any error. Interestingly, when the same container is run locally, all works fine. This in

[2021-03-02 10:59] fkucuk opened #71459 "Unclear documentation"
It's been a week, I'm still trying to solve this documentation.

The resource group names are very confusing. I have three resource groups:
1- For the cluster I created
2- For the key vault
3- Auto created RG by Azure for ScaleSets.

which one is which one on this document.

SecretProviderClass object.
which value does this area expect from me?
userAssignedIdentityID: "servicePrincipalClientID"

W

[2021-03-02 11:01] RohitMungi-MSFT commented on #71448
@ShrivastavaAkash Thanks for spotting this. Yes, the check box to upload training data is not available anymore. @trevorbye FYI.. for updating the screen shot and adding more info on training times.

[2021-03-02 11:05] DavidWorner-Cert opened #71460 "Why get Microsoft Azure Certified?"
There are several reasons to earn the credentials of Microsoft Azure technology. Microsoft certifications are among the highest certified in the IT industry. This applies to any Microsoft certificate, and Microsoft Azure-related certificates are at the forefront of technology.
There are different certification paths that you can choose based on your experience and skills. There are some benefits t

[2021-03-02 11:08] mattou07 commented on #50164
This fixes my issue too. Thank you! Created a CSR for a GoDaddy cert and made the PFX in Windows MMC and imported into Azure Keyvault. Azure Front Door would give the error above. Creating the PFX via OpenSSL using the method above fixed it.

[2021-03-02 11:19] mauve opened #71461 "Documentation is unclear whether device stream limits apply per-hub or per-device"
It is unclear whether device-streams limits apply per device or per-hub for the following limits:

- Device stream initiation rate: 5 new streams/sec
- Maximum number of concurrently connected device streams: 50
- Maximum device stream data transfer: 300MB

Are those limits per device or per hub?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2021-03-02 11:20] jitendraRai opened #71462 "Typo of the easly and begging in the document"
Please correct the spelling of easly to easily and spelling of begging to beginning.

![image](https://user-images.githubusercontent.com/4159689/109640373-6a9d8e80-7b76-11eb-99c1-d25d835f313b.png)

Reference document link:-
---  https://docs.microsoft.com/en-us/azure/active-directory-b2c/language-customization?pivots=b2c-custom-policy
#### Document Details

⚠ *Do not edit this section. It is requi

[2021-03-02 11:22] TheFairey commented on #61587
I have also raised a support ticket, in my case if I remove the subnet I still get a similar error this time - --assign-identity is not a valid Azure resource ID

[2021-03-02 11:33] tarwn commented on #71293
**In the [High Availability article](https://docs.microsoft.com/en-us/azure/azure-sql/database/high-availability-sla):**

In the section on [Basic, Standards, ...](https://docs.microsoft.com/en-us/azure/azure-sql/database/high-availability-sla#basic-standard-and-general-purpose-service-tier-locally-redundant-availability):
* The diagram shows only a primary replica only
* the write-up states:

In

[2021-03-02 11:37] MayankBargali-MSFT commented on #71260
@zaalion Can you provide more details on how you are getting the workflow ids from azure portal? I can only see the workflow name. Are you talking about run ids?

[2021-03-02 11:42] VikasPullagura-MSFT commented on #71458
@ddobric This issue needs deeper investigation. Support team will be able to check and help on this.
If you have a support plan, requesting you to file a support ticket, else please do let us know, we will try and help you get a one-time free technical support.

[2021-03-02 12:11] psandgren commented on #70028
Hi @yoelhor!

I wouldn't really call that a full experience since you get an error if you click the "Go back"-arrow, but at least it's better than nothing. Thanks!

Regards,
Pär

[2021-03-02 12:38] Lou-tech-dotcom commented on #71427
thanks. I had an issue with the confluence plugin and this group was able to resolve it. that is why i tried again for this.

[2021-03-02 12:46] AdamSharif-MSFT opened #71464 "Windows nodes use different counters for Perf"
Hi team,

When querying Log Analytics with k8snode for Windows node pool nodes, the memory counters are incorrect:

Performance metrics for nodes part of the Kubernetes cluster | Usage metrics are obtained from cAdvisor and limits from Kube api | Perf \| where ObjectName == "K8SNode" | Computer, ObjectName, CounterName (cpuAllocatableNanoCores, memoryAllocatableBytes, cpuCapacityNanoCores, memoryC

[2021-03-02 13:10] tomkuijsten commented on #70912
Btw, I couldn't find any documentation on how to change to geometry, except the c# sample. I want to use it in my pipeline, so c# is not really an option. Is there CLI support?

[2021-03-02 13:20] lyytinen commented on #66087
I'm still getting the exact same error using azure-cli 2.20.0 although the documentation says  2.15.1 or later should be sufficient.

Running `az feature register --name MigrateToMSIClusterPreview --namespace Microsoft.ContainerService` also has no effect.

[2021-03-02 13:21] KrishnaG-MSFT commented on #71263
@lgayhardt Can you provide your insights on this? Do we have anything planned around this in the roadmap?

[2021-03-02 13:34] lyytinen opened #71465 "Updating an AKS cluster to use managed identities not working"
Tickets #66087, #66119, and #66133 are all closed but the issue has not been resolved.

The document states that azure-cli versions 2.15.1 and later would be sufficient to update an AKS cluster but even with 2.20.0 you still get the exact same error reported in those issues:

[code]

Also executed `az feature register --namespace Microsoft.ContainerService -n MigrateToMSIClusterPreview` but it has

[2021-03-02 13:37] my3sons opened #71467 "Azure Schema Registry does not seem to support Forward Compatibility"
Hello,

I registered a simple schema with Azure Schema Registry (see V1 Schema below). The corresponding Schema Group's serialization type is Avro and compatibility is set to Forward. I then created both an Event Hub Producer and Consumer using this schema to auto generate the model classes (using the avro-maven-plugin). The Azure Function implementation is Java.

Using V1 of the below schema in b

[2021-03-02 13:42] TheFairey commented on #55330
@jmasengesho @sujithq
I was having a similar issue but when I switched my Hosted Agent to Ubuntu from Windows things started to work, still testing but definitely looking better.

[2021-03-02 13:54] SnehaAgrawal-MSFT commented on #70560
@RonnieQuan We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2021-03-02 13:54] #70560 closed

[2021-03-02 14:08] BhargaviAnnadevara-MSFT commented on #71460
@DavidWorner-Cert Thanks for reaching out. Are you looking to provide feedback on the Azure documentation? If yes, please provide us with the URL of the MS Doc that you were following, if any.

[2021-03-02 14:13] jmprieur commented on #71140
@Ubus99: I don't understand. This is clearly explained in the link in the paragraph https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-desktop-app-registration#audience-for-interactive-token-acquisition ?

cc: @mmacy

[2021-03-02 14:21] psmanhas commented on #71447
@dduleep Thank you for the feedback. We will work on it and will keep you updated on the thread

[2021-03-02 14:22] psmanhas commented on #71449
@AnandKatta Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-03-02 14:37] timwebster9 opened #71469 "possible error in XML config documention/example"
I'm not certain, but I think there is an error in either the the documentation or the example.

In the [XML configuration example](https://docs.microsoft.com/en-us/azure/azure-monitor/agents/diagnostics-extension-schema-windows#xml), there is a snippet for `PerformanceCounters`:
[code]
Note the comma between the `scheduledTransferPeriod` and `sinks` attributes.  This will fail XML validation.

Als

[2021-03-02 14:40] LauraDamianTNA opened #71470 "Display issue in the intput information of the reference data in the Streaming Job"
Hi,
We have a test subscription with several streaming jobs and SQL servers.
Recently I noticed a display issue in the reference data details of all streaming jobs.
They all point to an incorrect SQL server in the portal. If I try to export the streaming job, I can see that the template displays the server correctly and the query also uses a correct SQL server.
I have attached a screenshot with th

[2021-03-02 14:40] mariekekortsmit opened #71471 "Outdated notebooks"
The notebooks in this tutorial are outdated. Replace the following to make it work:

- Use Spark Event Hubs connector - com.microsoft.azure:azure-eventhubs-spark_2.11:2.3.12
- In the SendTweetsToEventHub replace `EventHubClient.create` by `EventHubClient.createFromConnectionString`
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2021-03-02 14:43] arturdrozd opened #71473 "Azure Vmware Solution POC"
I am considering running a POC on Azure Vmware Solution.  We want to test the posybilisty of integrating local Vmware with Azure Vmware Solution and migrate machines using Vmotion. We would like to use S2S VPN
The documentation states that "S2S VPN considerations: For Azure VMware Solution production deployments, Azure S2S VPN isn't supported due to network requirements for VMware HCX. However, yo

[2021-03-02 14:48] KranthiPakala-MSFT commented on #71471
@mariekekortsmit
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-03-02 14:50] KranthiPakala-MSFT commented on #71470
@LauraDamianTNA
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2021-03-02 14:51] psmanhas commented on #71452
@HollyQM Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-03-02 14:51] psmanhas commented on #71452
@damendo Can you please check and add your comments on this doc update request as applicable

[2021-03-02 14:58] psmanhas commented on #71453
@blochl Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-03-02 14:59] psmanhas commented on #71453
@alkohli Can you please check and add your comments on this doc update request as applicable

[2021-03-02 15:01] DonKarlssonSan opened #71474 "Update page functions-recover-storage-account.md with Linux info"
This document seems outdated. It has a date stamp of 09/05/2018.

It claims that WEBSITE_CONTENTAZUREFILECONNECTIONSTRING and WEBSITE_CONTENTSHARE are required:
[code]

But the "Diagnose and solve problems" tool in Azure Portal says: "WEBSITE_CONTENTSHARE and WEBSITE_CONTENTAZUREFILECONNECTIONSTRING should not be set for Linux Consumption".

There is a contradiction there.

Maybe you forgot to upd

[2021-03-02 15:07] ddobric commented on #71418
One more thing might be important. The service is hosted in Germany West Central

[2021-03-02 15:31] psmanhas commented on #71455
@pwcasdf Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-03-02 15:31] v-tcassi commented on #71342
Hi! We're currently working on updating the flow of this tutorial for simplicity and clarity, as there are a lot of moving parts. Some of these changes have addressed your first item of feedback.

@ebertrams should be able to provide more detailed information about the remaining items.

I'll return to this issue and inform you when the tutorial has been updated with the new flow!

[2021-03-02 15:33] v-tcassi commented on #69564
Hi! This piece of feedback as been addressed in a pull request that has now been merged.

Thanks!

#please-close

[2021-03-02 15:33] #69564 closed

[2021-03-02 15:51] YutongTie-MSFT commented on #71351
@RonnieQuan Thanks for reaching out to us. I am checking internally for this issue.

[2021-03-02 15:53] RyanHill-MSFT commented on #19968
We appreciate the feedback @fgheysels. We'll pass along to the product group to see how it can be addressed.

[2021-03-02 15:54] lyytinen commented on #71465
Now managed to start my cluster upgrade.

It's not enough to have azure-cli 2.15.1 or later. You also need a recent enough version of the aks-preview extension.

The [document](https://docs.microsoft.com/en-us/azure/aks/use-managed-identity) should state this in the "Before you begin" section.

[2021-03-02 16:05] JamesTran-MSFT commented on #71457
@Nimleth
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-02 16:07] JamesTran-MSFT commented on #71462
@jitendraRai
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-02 16:10] ConeyGreen opened #71476 "I don't have an organisation, I don't have a mobile phone, I can't get into my office account"
WHY???????????????????????????????????????????????????????

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfac0ecf-e5a9-c5ff-f8c2-ce27789708f5
* Version Independent ID: 0f5e0cc9-a54f-a5c8-192d-d60a6a4db3ff
* Content: [Azure Active Directory security defaults](https://docs.microsoft.com/en-gb/azure/active-directory/fund

[2021-03-02 16:12] aaronjones1 opened #71477 ""BadRequest" on database extension operation"
Hey!

I'm receiving "Bad Request (HTTP Status Code: 400)" when I execute my ARM template.  This is occurring on the "Microsoft.Sql/server/databases/extensions/write" operation.

The bacpac file is in an Azure Storage Account container in a different Azure Subscription than the target Azure SQL Server.  I don't know if that makes a difference.

Importing the bacpac file manually through the Azure p

[2021-03-02 16:16] JamesTran-MSFT commented on #71459
@fkucuk
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-02 16:18] #71269 closed

[2021-03-02 16:24] mike-urnun-msft commented on #71474
@DonKarlssonSan Thank you for your feedback! We will review and update as appropriate.

[2021-03-02 16:33] mksuni commented on #70600
This is being worked on and plan is have it live in a few weeks. I shall update this issue when the API docs go live.

[2021-03-02 16:35] soccerjoshj07 opened #71479 "custom domain for app service requires a txt record for the app service url for a record validation"
The documentation and the Azure Portal itself only reference the following DNS records that are needed to map a custom domain:

Type | Host | Value
-- | -- | --
TXT | asuid | `custom domain verification id`
A | @ | `ip`

I could not get the domain to verify even after waiting several days.

I found the idea from this [post](https://social.msdn.microsoft.com/Forums/azure/en-US/f134d4c0-e663-47e4-ad

[2021-03-02 16:41] nibaccam commented on #70668
@MayMSFT can you help here, please

[2021-03-02 16:43] JSeb225 commented on #71470
Adding @enkrumah who is the SME for this area. Thanks!

[2021-03-02 16:45] bmc-at-hfi commented on #20104
Just wanted to add that I am experiencing the same issue hosting a Vue app in blob storage, and I was experiencing the same side effects as @danmana where directly navigating to a subroute would cause a 404... even though the page did render properly once the front end router got a hold of it.

It's nice that you can redirect errors to index.html using the static website feature, but it would be n

[2021-03-02 16:59] DerekHerman-MSFT commented on #71346
@pchandra02 Logging in Azure Monitor for ADLS Gen2 is in Preview according to the [features page](https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-supported-blob-storage-features). Assigning to author to update the doc appropriately.

[2021-03-02 16:59] PeterCLu commented on #70642
Hi @epa095,

Interesting use case. The approach for dynamic loading would be to put the source code into a folder structure like this:

/ml-project/train.py
/ml-project/package-x/__init__.py
/ml-project/package-x/<library code for package x>
/ml-project/package-y/__init__.py
/ml-project/package-y/<library code for package y>

Then, when you submit a script run, the source code in the folder & subf

[2021-03-02 17:00] fakdaddy75 commented on #71163
Thanks

On Mon, Mar 1, 2021 at 6:25 PM ChaitanyaNaykodi-MSFT <
notifications@github.com> wrote:

[2021-03-02 17:01] PeterCLu commented on #71292
#assign:@lobrien

[2021-03-02 17:04] vikancha-MSFT commented on #71316
Thanks for the feedback @agentmorris I have submitted #148619 to update the docs. The changes will go live later today.

[2021-03-02 17:04] #71278 closed

[2021-03-02 17:07] tflorio opened #71482 "question in re licensing"
[Enter feedback here]

On this page, you make reference to the following:
Note
Only SQL Server core-based licensing with Software Assurance or subscription licenses are eligible for Azure Hybrid Benefit. If you are using Server + CAL licensing for SQL Server and you have Software Assurance, you can use bring-your-own-license to an Azure SQL Server virtual machine image to leverage license mobility

[2021-03-02 17:10] Alessandro91-dev commented on #40696
`{
    "count": 3,
    "value": [
        {
            "Prop_0": "SELECT *"
        },
        {
            "Prop_0": "FROM dl.contact"
        },
        {
            "Prop_0": "\t WHERE contactType = 'customer'"
        }
    ]
}`
I try to replace in a For Each - Append Variable ('sqlArray') - @**replace**(string(item().Prop_0), '\t', ' ')
Also when I try in @replace(join(variables('sqlArray'

[2021-03-02 17:11] NavtejSaini-MSFT commented on #71293
@emlisa Please check feedback from @tarwn and help clarify the difference between the two.

[2021-03-02 17:13] NavtejSaini-MSFT commented on #71407
@jcbrooks92 Please get back to us for any further info regarding this,

[2021-03-02 17:13] DavidLangworthy opened #71484 "Incorrect curl command"
the header should be Authorization rather than Authentication and a content type is required

https://mauridb.medium.com/calling-azure-rest-api-via-curl-eb10a06127

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cae7ede7-4c80-9f1c-e9b1-ce120842dd87
* Version Independent ID: 44784819-29d2-fcdb-bc6e-242b62581362
* Content

[2021-03-02 17:15] JamesTran-MSFT commented on #71414
@reydelleon-skuvault
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

![image](https://user-images.githubusercontent.com/36619112/109686904-9188a000-7b37-11eb-8f73-a48f4926edf6.png)
https://docs.microsoft.com/en-us/graph/permissions-reference#remarks-5

I will now close out this issue. Please allow som

[2021-03-02 17:15] #71414 closed

[2021-03-02 17:19] Alessandro91-dev commented on #40696
Solution is to either copy the code from VS Code to Data Factory or remove it within the code in Data Factory by hand
![image](https://user-images.githubusercontent.com/79930853/109687026-2795e800-7b83-11eb-8178-bc5fe1cc0d88.png)
![image](https://user-images.githubusercontent.com/79930853/109687118-3a102180-7b83-11eb-8a48-de70ec8c2d01.png)
![image](https://user-images.githubusercontent.com/7993085

[2021-03-02 17:19] NavtejSaini-MSFT commented on #71362
@nhwilly We are glad this is resolved for you. Please get back to us for any other question.

[2021-03-02 17:35] ChaitanyaNaykodi-MSFT commented on #71163
We will now proceed to close this issue out, please let me know if there are any additional concerns. Thank you!

[2021-03-02 17:35] #71163 closed

[2021-03-02 17:38] lgayhardt commented on #71263
@drdamour As of today, you can only use the Click Analytics Auto-collection plugin in through NPM.

Thank you

#please-close

[2021-03-02 17:38] #71263 closed

[2021-03-02 17:40] DavidNorena commented on #70985
![image](https://user-images.githubusercontent.com/26279057/109690361-4335ca00-7b54-11eb-887e-74f4b5a4797e.png)

Hi people sorry for the delay, this is an example, we are using Azure DevOps and also a Virtual Machine in azure which can Have Managed identities attached to it.

So instead of using
- containerRegistry: $(containerRegistryServiceConnection)

We should like to take advantage of the Man

[2021-03-02 17:44] SamaraSoucy-MSFT commented on #71375
Just checking in. Could you please provide the relevant documentation so we can route this question appropriately?

[2021-03-02 17:45] KumariSupriya commented on #69276
The public document has been updated. #close

[2021-03-02 17:47] fakdaddy75 commented on #71163
Thank you

On Tue, Mar 2, 2021 at 12:35 PM ChaitanyaNaykodi-MSFT <
notifications@github.com> wrote:

[2021-03-02 17:47] KumariSupriya commented on #69276
#please-close

[2021-03-02 17:47] #69276 closed

[2021-03-02 17:48] vhorne commented on #71162
@shodazzl
Moving that note into the Intro section would be too much detail for an Intro. It would be better to stay where it is, given that a similar note is present in the **End-to-end TLS with the v2 SKU** section.

[2021-03-02 17:50] MS-jgol commented on #66928
@shabirjan Are you running on App Service on Wondows or Linux?

[2021-03-02 17:54] normesta commented on #71346
Thanks @pchandra02 ! Yes. Logs in Azure Monitor are in preview. I've updated the article and the change should go live later today. Thank you!

#please-close

[2021-03-02 17:54] #71346 closed

[2021-03-02 17:58] SatishBoddu-MSFT commented on #71198
Hello @songqiwei Thanks for posting this technical How-To question over here.

We kindly request to repost this Technical How-To question on [**Microsoft QnA**](https://docs.microsoft.com/en-us/answers/topics/azure-iot-hub.html) with tag iot-hub , the home for technical questions and answers at Microsoft.

We will continue our discussion on Microsoft Q&A.

Please let us know if you need further he

[2021-03-02 18:08] JamesTran-MSFT commented on #71418
@ddobric
Thank you for pointing this out! I've assigned this issue to one of our Container engineers so they can take a closer look into this issue.

Thank you for your time and patience throughout this issue.

[2021-03-02 18:10] SubhashVasarapu-MSFT commented on #71197
@eggind, assigning this issue to the content owner for updating the document accordingly.

[2021-03-02 18:22] normesta commented on #70603
Hi @minnieshi - I've updated the CLI and PowerShell articles to show how to add groups and users. This change should appear live later today. Thank you for the feedback!

#please-close

[2021-03-02 18:23] #70603 closed

[2021-03-02 18:24] normesta commented on #68954
@jeffpatt24 - any feedback on this?

[2021-03-02 18:26] SatishBoddu-MSFT commented on #71461
Hello @mauve Thanks for asking!
I have assigned the issue to the content author for further review and help us!

[2021-03-02 18:27] PeterCLu commented on #71388
#assign:@sdgilley

[2021-03-02 18:29] DerekHerman-MSFT commented on #71083
@star286 This is mentioned at the bottom of the page:
_If I update an existing policy, how long does it take for the actions to run?
The updated policy takes up to 24 hours to go into effect. Once the policy is in effect, it could take up to 24 hours for the actions to run. Therefore, the policy actions may take up to 48 hours to complete._

Yes, the blob would be moved after the 7th day, as soon

[2021-03-02 18:29] #71083 closed

[2021-03-02 18:29] KranthiPakala-MSFT commented on #71467
@my3sons
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-03-02 18:32] JamesTran-MSFT commented on #71428
@peacefulvibes
Thank you for your post!

For steps 6-9, this should be completed through your AzureAD B2C tenant during application creation.
![b2cappcreation](https://user-images.githubusercontent.com/36619112/109696693-2bede100-7b42-11eb-9e5e-2ee3da9683a7.gif)

Since our documentation is currently correct, I'll go ahead and close this out at the end of the day pending any other questions from yo

[2021-03-02 18:36] JamesTran-MSFT commented on #71462
@jitendraRai
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

Related issue:
https://github.com/MicrosoftDocs/azure-docs/issues/71107

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-03-02 18:36] #71462 closed

[2021-03-02 18:40] JamesTran-MSFT commented on #71457
@Nimleth
Thank you for your question!

I've reached out to our AKV engineering team to see if they can provide any comments on this.

Thank you for your time and patience throughout this issue.

[2021-03-02 18:51] SaiKishor-MSFT commented on #71324
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-02 18:51] #71324 closed

[2021-03-02 18:51] SaiKishor-MSFT commented on #71323
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-02 18:51] #71323 closed

[2021-03-02 18:52] jcbrooks92 commented on #71407
@NavtejSaini-MSFT thank you. Yes it was for the cross db join operations that was being inquired about. Thank you for the link to the feedback request. I think this provides the information needed. Thank you

[2021-03-02 18:52] #71407 closed

[2021-03-02 18:55] GiftA-MSFT commented on #71484
@DavidLangworthy we'll review your feedback and get back to you shortly. Thanks.

[2021-03-02 18:55] tielushko commented on #71437
I was able to resolve the issue by passing in setting args to be the parameter of the function.

Then from within the function access args.incomingCall.accept() to accept the instance of IncomingCall class. I was wondering if you guys are able to update the documentation to resemble JavaScript code, and not TypeScript since it mentions the code snippets are provided in JS?

[2021-03-02 18:58] JamesTran-MSFT commented on #71403
@commakoerschgen
Thank you for pointing this out!

I've reached out to our engineering team to confirm whether or not the "Application Administrator" can consent to application permissions for Azure AD Graph.

[2021-03-02 19:05] jlorich opened #71488 "ADU"
The graphics still use the old ADU initialism instead of Device Update for IoT Hub

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e0faeec-4d01-8971-e784-bde6356d5501
* Version Independent ID: 0e6ef221-089c-eb86-12c0-12b3c96c1bae
* Content: [Introduction to Device Update for Azure IoT Hub](https://docs.microsoft.com/en

[2021-03-02 19:12] mangov99 opened #71489 "Typo in the AMD Download URL in the AMD Driver Installation Page."
Hello,

It appears to be there is a typo (**.exee**) in the AMD Driver Download URL  as below:

**https://download.microsoft.com/download/f/1/6/f16e6275-a718-40cd-a366-9382739ebd39/AMD-Azure-NVv4-Driver-20Q4.**exee****
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/n-series-amd-driver-setup

![image](https://user-images.githubusercontent.com/78450749/109701242-6793a580-7b58-11eb-8

[2021-03-02 19:22] MayMSFT commented on #70668
@fabianescacr  which version of sdk are you using?

[2021-03-02 19:40] vikancha-MSFT commented on #71489
@mangov99 Thank you for reaching out. We have already updated the link and the changes should go live later today

[2021-03-02 19:42] skolbin-ssi commented on #50164
I confirm this solution. My issue (RapidSSL Certificate) has just been fixed too. I have re-assembled the .PXF container (originally both the one downloaded from RapidSSL and the one re-exported from Windows did not work with Azure Front Door) using the **openSsl** utility, then re-uploaded the re-assembled .PXF container to the Azure Key Vault, and the Azure Front Door finally accepted the conten

[2021-03-02 19:48] KranthiPakala-MSFT commented on #71382
Hi @VitalyMCT  If disabled, users would be able to delete and purge their key vault with no way to recover it.
If that happens, then access to all factory objects would be lost (all runtime and CRUD APIs will fail) and it could cause problems like not being able to delete their factory.

Hope this helps.

[2021-03-02 20:10] GiftA-MSFT commented on #71292
@epa095 here are some clarifications:

`get_by_name()` [method ](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.data.abstract_dataset.abstractdataset?view=azure-ml-py#methods) allows you to access a registered Dataset directly from your workspace by its registration name. `as_named_input()` [method ](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.data.abstract_d

[2021-03-02 20:12] #71292 closed

[2021-03-02 20:13] MonikaReddy-MSFT commented on #71489
@vikancha-MSFT  - Thank you for providing your insights.
@mangov99 - I hope @vikancha-MSFT has answered your question.
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we

[2021-03-02 20:13] #71489 closed

[2021-03-02 20:14] ssabat commented on #67993
PR #148675 is created to update [CI/CD Troubleshooting Guide](https://docs.microsoft.com/en-us/azure/data-factory/ci-cd-github-troubleshoot-guide) with above steps.

[2021-03-02 20:21] ssabat commented on #67993
#sign-off

[2021-03-02 20:24] GiftA-MSFT commented on #71484
@DavidLangworthy thanks for pointing out the error. A PR is underway. Thanks!

[2021-03-02 20:32] YutongTie-MSFT commented on #71351
@RonnieQuan Hello, is this the data encryption key used when customer's don't elect for CMK? or is this in reference to model encryption?

[2021-03-02 20:37] GiftA-MSFT commented on #71484
@lobrien can you please merge the PR at your earliest convenient time? Thanks.

[2021-03-02 20:38] himanshusinha-msft commented on #71207
@amankhatri24dec  . Thanks for bringing this to our knowledge as this helps us to imrpve our document . We have created a PR and the changes will be merged in the next 24-48 hrs . Going ahead and closing the issue now .

[2021-03-02 20:38] #71207 closed

[2021-03-02 20:40] himanshusinha-msft commented on #71298
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-03-02 20:42] himanshusinha-msft commented on #71315
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on Micrsoft QnA and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you think it needs  an update ,

[2021-03-02 20:42] #71315 closed

[2021-03-02 20:42] epa095 commented on #71292
Tja, the documentation is still not really clear to me, especially not in the case where the tabulardataset is backed by e.g. a SQL database and not files on a blob store. What happends if one tries to mount/download it? Does it become exported, or will it fail?
And how does `get_by_name` compare to the download/mounting options performancewise? Intuitively it should be the same as streaming it, b

[2021-03-02 20:42] RonnieQuan commented on #71351
@YutongTie-MSFT
The encryption for data at rest mentioned in here
https://docs.microsoft.com/en-us/azure/cognitive-services/QnAMaker/encrypt-data-at-rest?tabs=v1

https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/encrypt-data-at-rest

[2021-03-02 20:44] himanshusinha-msft commented on #71328
Thanks @spelluru  for the feedback , I have assigned the issue to you for now .

[2021-03-02 20:45] Bendy22 opened #71493 "20.Q4 download link has a typo"
The link to download the 20.Q4 driver has an extra "e" in the extension, making the click download fail unless you manually correct it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b614e743-5405-47cd-ee21-b442b4acb44d
* Version Independent ID: 3aecf729-8f36-6e60-be76-b740df7aa7a6
* Content: [Azure N-series AMD GPU dr

[2021-03-02 20:45] mangov99 commented on #71489
Thank you Vijay and Mounika for your quick turn around!

--------------------------------------
Best Regards,

Manasa Govindu
Support Engineer
(O):  +1 425-707-5156 | (E): Manasa.Govindu@microsoft.com<mailto:Manasa.Govindu@microsoft.com>
Manager Email: bipaxs@microsoft.com<mailto:bipaxs@microsoft.com>
Hours: Monday - Friday 9:00 AM CST to 6:00 PM CST
[cid:image001.png@01D70F72.B1427550]
----------

[2021-03-02 20:53] lobrien commented on #71484
Approved. There may be a delay in publication because of an ongoing issue with the build process (no ETA).

[2021-03-02 21:05] kzuenkler-avanade opened #71494 "Signup links do not work"
Signup link https://aka.ms/SemanticSearchPreviewSignup on this page leads to:
You don't have permission to view or respond to this form
Please fix the link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3b38bed-e5a0-2c9b-18cb-f16a7423c822
* Version Independent ID: adc69a3d-c53a-6c7a-7b22-8f2bc08c8df3
* Content: [Sema

[2021-03-02 21:09] MonikaReddy-MSFT commented on #71493
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-03-02 21:10] MonikaReddy-MSFT commented on #71493
@Bendy22 - Thanks again for bringing this to our attention. We have updated the link in the doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-02 21:10] #71493 closed

[2021-03-02 21:10] bretcowie opened #71495 "Deprovisioning?"
The article mentions deprovisioning at the top, but then doesn't have anything down in the tutorial. When exploring the configuration screens for this application, I can't find anything that would indicate deprovisioning is supported... Is the article wrong? Or am I missing something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2021-03-02 21:11] HeidiSteen commented on #71494
@kzuenkler-avanade  Thank you for reporting this issue!  @puneet-hariharan-MSFT for visibility.

[2021-03-02 21:12] #71484 closed

[2021-03-02 21:13] puneet-hariharan-MSFT commented on #71494
@HeidiSteen @kzuenkler-avanade - thank you. have fixed the permission on the redirect.

[2021-03-02 21:14] alkohli commented on #67263
@riwasa thank you for your patience! We have fixed the inconsistencies in the article. Closing this issue. #please-close

[2021-03-02 21:14] #67263 closed

[2021-03-02 21:15] alkohli commented on #68435
@RDukes425  thanks for your patience. Work on this has begun. #in-progress

[2021-03-02 21:17] alkohli commented on #69138
@craigdubose This work has completed. The PR is now merged. Closing this issue. #please-close

[2021-03-02 21:17] #69138 closed

[2021-03-02 21:17] mlcooper opened #71497 "Consider adding .python_packages to Folder Structure tree example"
In the `Folder Structure` example on this page, I was wondering if you would consider adding the `.python_packages` directory to it.  This is a critical directory for users who run their Azure Functions from an uploaded .ZIP file and who need to import libraries from pypi.org (or other such places).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2021-03-02 21:18] alkohli commented on #66746
@deichten Engg has confirmed this. We have begun the work on updating the docs. #in-progress

[2021-03-02 21:20] jcamu commented on #71141
Hello thanks for the feedback.

We have configured our CI/CD pipeline build and push into an ACR registry then push it in an AKS.
We are using a Gitflow branching model strategy and we was thinking that maybe we should create another ACR containing all images and accessible from dev workstation for test. In the Pipeplines, the image should be pushed to production after scan image and integration t

[2021-03-02 21:23] lobrien commented on #71036
Fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/148058

[2021-03-02 21:40] mlcooper opened #71499 "Missing SCM_DO_BUILD_DURING_DEPLOYMENT and ENABLE_ORYX_BUILD"
Is this list of App Settings for Azure Functions Apps a fully comprehensive list?

I am asking because I was working on an Azure Function today (python3.8) and the documentation instructed me to configure `SCM_DO_BUILD_DURING_DEPLOYMENT` and `ENABLE_ORYX_BUILD`.

You can find the documentation referencing these items [here](https://docs.microsoft.com/en-us/azure/azure-functions/recover-python-func

[2021-03-02 21:43] YutongTie-MSFT commented on #71351
@RonnieQuan The default Microsoft managed encryption key is not unique to each FR resource. To have a resource specific encryption key customers need to use CMK.

[2021-03-02 21:56] my3sons commented on #71467
Thanks @KranthiPakala-MSFT ,

One thing I forgot to add initially, is the relevant deserialization code I implemented for the consumer. I have included that here:
`SchemaRegistryAsyncClient schemaRegistryAsyncClient = new SchemaRegistryClientBuilder()
                .credential(tokenCredential)
                .endpoint("https://scc-poc-eventhub-namespace.servicebus.windows.net")

[2021-03-02 22:11] YutongTie-MSFT commented on #71404
Thanks a lot for the feedback, I have forwarded this to product team for investigating and fixing. I will recommend you to move to Read API. The Read API is optimized for text-heavy images and multi-page, mixed language, and mixed type (print – seven languages and handwritten – English only) documents.

https://westus.dev.cognitive.microsoft.com/docs/services/computer-vision-v3-1-ga/operations/5d9

[2021-03-02 22:13] LauraDamianTNA commented on #70640
It's confusing to have a value there that is never read.
However, I noticed that I can change the location of the script from another file, asaproj.json, which resolved my issue.

[2021-03-02 22:15] James-Hamil-MSFT commented on #71456
Hi, we are investigating your issue and will update you shortly.

[2021-03-02 22:18] rafsalas19 opened #71502 "Current supported OS versions for the extensions doesn't match other AMD documentation"
The listed supported OS versions for the extension on this page is inconsistent with the supported OS versions for the [Manual installation of the AMD driver ](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/hpccompute-amd-gpu-windows) page.
This is how it shows on this page:
![image](https://user-images.githubusercontent.com/70273488/109722353-96bb0e80-7b7a-11eb-8e4c-941c71edb8

[2021-03-02 22:21] chitturs opened #71503 "Incorrect sample command for "az vmss""
[Enter feedback here]

The az vmss command needs a -vmss-name parameter, not -vm-name as shown.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7fd1350-6158-4eb0-b41b-5c7b9a776e96
* Version Independent ID: 713b91b9-d810-aca5-0ab4-00e0a4ee0fed
* Content: [Azure Key Vault VM Extension for Linux - Azure Virtual Machines](

[2021-03-02 22:39] LauraDamianTNA commented on #70258
Hi,
I was expecting the Stream Analytics source code, not the sample project. anyway, I understand that this is not open-sourced.
However, I would expect to get access to the sample pipelines, and I still don't.

Right now the links mentioned in 2 and 3 are not displaying the pipelines.
I can try to see the pipeline
<img width="1259" alt="asa_pipeline" src="https://user-images.githubusercontent.co

[2021-03-02 22:47] 0rpandya opened #71504 "Correctly document expectations on auto remediation for node not ready condition"
The conditions outlined here do not work if customer kubelet service /runtime reports not responding resulting in node not being ready. The doucmentation should clarify that there are some scenarios, preferably which ones, when node not ready condition is not auto repaired and what customers can do to catch and remediate such issues.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2021-03-02 22:51] VitalyMCT commented on #71382
Thanks @KranthiPakala-MSFT. This clarifies the topic.

[2021-03-02 23:08] KranthiPakala-MSFT commented on #71382
Glad to be of help @VitalyMCT !
We will now proceed to close this thread. If there are further questions please feel free to open a new thread.

Thank you

[2021-03-02 23:08] #71382 closed

[2021-03-02 23:09] mmacy commented on #71140
@jmprieur This looks like both a content **clarity** and a content **completeness** issue.

@Ubus99 please chime in if any of the below is incorrect, or if you have anything to add to help us clear things up.

### Clarity

The clarity issue is two-fold.

First, this IF-THEN statement in the first bullet appears prominently under a **Redirect URIs** heading and presents only the `common` and the no

[2021-03-02 23:09] mpchen commented on #71375
this is the doc I am referring to https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/howto-conditional-access-policy-azure-management

Thanks.

[2021-03-02 23:13] KSLHacks opened #71505 "Unclear behavior when securing AML workspace"
When taking the first step to secure the AML workspace with a private endpoint (no other resources secure yet), it is not immediately clear what the expected behavior should be. There was a false sense of security that the workspace and supporting resources are secured using private IP to communicate once the AML resource was utilizing private endpoints. A note that states - the workspace and rela

[2021-03-02 23:20] KranthiPakala-MSFT commented on #71470
@LauraDamianTNA  The product team has confirmed this as a UI display bug and opened a work item to fix it. Since it is only a display issue and does not affect job run, the fix will go out with upcoming deployments (_Note: Tentative ETA 2 weeks_)

Thanks for the feedback and bringing this to our attention.

We will now proceed to close this thread. If there are further questions regarding this mat

[2021-03-02 23:20] #71470 closed

[2021-03-02 23:25] GiftA-MSFT commented on #71505
@KSLHacks thanks for reaching out. The information you're seeking, is it related to [Secure the workspace and associated resources](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-network-security-overview#secure-the-workspace-and-associated-resources)?

[2021-03-02 23:33] KSLHacks commented on #71505
Yes, it is related specifically to the second step in the series: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-secure-workspace-vnet. Overall following the documentation produces the desired secure state, but it was not clear until the end that some resources could be secure, while others can still operate in an unsecure way. My team was surprised to find out that the secure AML

[2021-03-02 23:34] James-Hamil-MSFT commented on #71417
Hi @burstingninja , this could be because Azure AD and GCP use different data models. You need to match the organization representation to how that is represented in Azure AD. It looks like the most similar thing we have for organizations in AAD is groups. Try putting the user in a group instead. Please let me know if this works.

Best,
James

[2021-03-02 23:37] normesta commented on #68954
Hi @hoakedo - @jeffpatt24 has updated the content has been updated to clarify things. Those updates should appear live shortly. Thank you for bringing this to our attention! Thank you @jeffpatt24 for updating!

#please-close

[2021-03-02 23:37] #68954 closed

[2021-03-02 23:43] gholliday commented on #59108
Key Vault RBAC-based access is [generally available as of 16 February, 2021](https://azure.microsoft.com/en-gb/updates/azure-rolebased-access-control-rbac-for-azure-key-vault-data-plane-authorization-is-now-available/)

When will Application Gateway support integration with a Key Vault using RBAC-based access control?

[2021-03-02 23:47] TravisCragg-MSFT commented on #70385
@Klaas- My Apologies, there is a lot of confusion about Availability Zones and Availability Sets. First off, from here on out I will only be referring to Availability Zones.

2nd off, this statement that I made earlier is incorrect -

This statement in the article describes what really happens:

So a single Availability Zone has 1 distinct update domain and 1 distinct fault domain. What this means

[2021-03-03 00:02] su-jie commented on #70258
@LauraDamianTNA Thanks for your feedback . The Stream Analytics tools for VS Code is not open sourced yet at this point and we don't have a timeline in the future. We are still working on making the pipeline link available to anyone and haven't figured out the right way to do that.

[2021-03-03 00:03] JamesTran-MSFT commented on #71459
@fkucuk
Thank you for your post! After walking through the documentation myself, I'll share my findings below.

Resource groups:
1) Cluster Resource Group: This resource group holds the [AKS cluster that you created](https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough#create-aks-cluster).
2) Azure Key Vault Resource Group: This resource groups holds the [Azure Key Vault that you crea

[2021-03-03 00:06] JamesTran-MSFT commented on #71476
@ConeyGreen
Thank you for your post!

Would you be able to share some more details on what you're facing? Did you enable security defaults and are now locked out of your account?

Any additional details would be greatly appreciated.
Thank you!

[2021-03-03 00:07] JamesTran-MSFT commented on #71495
@bretcowie
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-03 00:19] DTronD opened #71507 "Workflow() function seems incomplete. Please add info on missing properties of the Workflow object"
Please provide more details on the Workflow function/object.

For example,  there is no mention of the [tags] property.  Ideally the docs page should include the info about getting the run ID (aka name) and such as described in the following resources.  I.e. please save us from having to go hunt for this info beyond the official document of the Workflow function.

https://docs.microsoft.com/en-us/

[2021-03-03 00:22] szakharov7723 opened #71508 "AttributeError: 'Run' object has no attribute 'predict' when running best_run.predict(test_data)"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf6e8bb8-9f33-6315-dec3-915c82152f4f
* Version Independent ID: 0d184dff-a615-49e4-089a-8c41a8ff801c
* Content: [Auto-train a time-series forecast model - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-auto-train

[2021-03-03 00:29] burstingninja commented on #71417
Tried that but same behavior; it only added the users to my gsuite subscription but couldn't associate an organization.
I'm trying to perform the configuration required for step 6  with a Specific role instead of "Default Access"
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/google-apps-tutorial#assign-the-azure-ad-test-user

[2021-03-03 00:35] NavtejSaini-MSFT commented on #71401
@gitmadness PR is approved and changes will be live in next 24 hours. For now we are going ahead and closing this feedback.

[2021-03-03 00:35] #71401 closed

[2021-03-03 00:35] vin-yu commented on #71354
Hi @girishgouda, looks like your Kubernetes cluster does not have enough resources available to run the SQL MI workload.

[code]

You can use `--cores-request 1` to deploy with minimum number of cores else you'll need more CPU resources on your Kubernetes cluster

[2021-03-03 00:44] rinisbet opened #71509 "Azure.Core.Pipeline instead of Azure.Core"
The "HttpClientTransport" class wouldn't resolve until I added "using Azure.Core.Pipeline;" in the header. "using Azure.Core;" didn't work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0de01786-459d-f25b-5219-eb6f598db9bd
* Version Independent ID: a34a0d3c-758a-c56d-517c-9d5235edc5b7
* Content: [Set up a function in A

[2021-03-03 01:00] heidenm opened #71510 "Update owner of TPM from iotedge to aziottpm for iotedge 1.12 and above."
In section Give IoT Edge access to the TPM, for iotedge version 1.12, step 4 should be updated with the correct owner of the tpm.

Was:

# allow iotedge access to tpm0
KERNEL=="tpm0", SUBSYSTEM=="tpm", OWNER="iotedge", MODE="0600"

Should now be:
# allow aziottpm access to tpm0
KERNEL=="tpm0", SUBSYSTEM=="tpm", OWNER="aziottpm", MODE="0600"

---
#### Document Details

⚠ *Do not edit this section.

[2021-03-03 01:01] GiftA-MSFT commented on #71505
@KSLHacks thanks for clarifying. I think it would be beneficial to include a caveat on this page.

@PeterCLu can you please review above feedback? Thanks!

[2021-03-03 01:06] ChaitanyaNaykodi-MSFT commented on #71497
Hello @mlcooper,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-03-03 01:11] yuriwoof opened #71511 "Request for adding 'Microsoft.Authorization' RP into "Register the resource providers" section"
I understand 'Microsoft.Authorization' is preregistered RP, but some customer has following error at deployment.

[code]

They explicitly did following command.
 
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93aa980e-1970-235c-228a-7b19880171b8
* Version Independent ID: 6f7937a4-12e0-d61c-3bd8-c6347ec48385
* C

[2021-03-03 01:14] BharathNimmala-MSFT commented on #71464
Thank you @AdamSharif-MSFT for bringing this to our attention, we will review and get back to you at the earliest.

[2021-03-03 01:31] VikasPullagura-MSFT commented on #71503
@chitturs Thanks for pointing this out. The document is updated and changes will go live soon.

[2021-03-03 01:32] VikasPullagura-MSFT commented on #71316
@vikancha-MSFT Thanks for updating the document.

[2021-03-03 01:32] #71316 closed

[2021-03-03 01:33] VikasPullagura-MSFT commented on #71504
@0rpandya
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-03-03 01:33] VikasPullagura-MSFT commented on #71504
@mlearned @zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2021-03-03 01:34] ChaitanyaNaykodi-MSFT commented on #71499
Hello @mlcooper,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-03-03 01:35] VikasPullagura-MSFT commented on #71502
@rafsalas19
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-03-03 01:35] VikasPullagura-MSFT commented on #71502
@vikancha-MSFT
Can you please check and add your comments on this doc update request as applicable.

[2021-03-03 01:36] VikasPullagura-MSFT commented on #71482
@tflorio
Thanks for your Question! We are currently investigating and will get back on this.

[2021-03-03 01:37] #71503 closed

[2021-03-03 01:40] armanrahman22 opened #71513 "How to register a model from a MLFlow project run?"
Hi!

It'd be helpful to have some documentation for how to log models from MLFlow Project runs to your AML Model Registry. There is an example of how to do it for training runs using `ScriptRunConfig()`, but it seems like for MLFlow projects there is a different process. The type of run returned from `mlflow.projects.run()` is different than what's returned from `experiment.submit()`. From the pro

[2021-03-03 01:47] TravisCragg-MSFT commented on #71176
@ivayala I am still not able to reproduce this, even in CloudShell PowerShell:

![image](https://user-images.githubusercontent.com/38542241/109739681-d84db880-7b7e-11eb-8837-312d89caf337.png)

the commands I used:
$region = "eastus2"
$vmSize="Standard_E16-8s_v4"
$sku = (Get-AzComputeResourceSku | where {$_.Locations.Contains($region) -and ($_.Name -eq $vmSize) -and $_.LocationInfo[0].ZoneDetails.C

[2021-03-03 01:47] #71176 closed

[2021-03-03 01:49] agentmorris commented on #71316
This is much better, thank you for the quick updates.

Honestly it's still confusing to many (most?) users that when you say "NC VMs", you <i>don't</i> mean to include NCv2 VMs.  This is a fundamental nomenclature issue that may be outside the scope of this page, but one way to fix here it would be to enumerate the SKUs, rather than saying "all other".  Not essential, but you can see how "NC" is c

[2021-03-03 01:53] shivanissambare commented on #71155
Thank you for the feedback.
I will create a backlog item on our side to take in this request.
As a reminder this recipe is currently under Preview.

Thanks,
Shivani S.S.

[2021-03-03 01:56] #62945 closed

[2021-03-03 02:18] BharathNimmala-MSFT commented on #71226
@crhistianramirez Apologies for your experience , post discussing with our Internal team it was called out that due to some security considerations data was not being sent to AzureActivity table. Our team has taken a backlog item to update the document with the new table so that its not confusing any more.

However the filters shared in the existing document should work if you are sending the Azur

[2021-03-03 02:23] BharathNimmala-MSFT commented on #71354
Thanks a lot @vin-yu for helping on this thread.

@girishgouda  Please review the information shared by @vin-yu and let us know if you have any further queries.

Please note that [this ](https://github.com/MicrosoftDocs/azure-docs/issues) channel (the Azure Docs repository) is only for driving improvements related to the Azure documentation. At this point it appears that there's no further edits o

[2021-03-03 02:23] #71354 closed

[2021-03-03 02:31] SamaraSoucy-MSFT commented on #70666
First off, I want to thank you for your patience as we investigate this issue.

Initially adding the endpoint still didn't reproduce the error. Fortunately, running the same minimal code rules out anything having to do with dependencies, custom code, or with the version upgrade. Looking through what could be different in the environment there is one more thing that I can see in what you've shared

[2021-03-03 02:47] BharathNimmala-MSFT commented on #71469
@timwebster9 Thanks a lot for bringing this to our attention and apologies for your experience. I have assigned this issue to our document author to further review your feedback and update the document accordingly.

[2021-03-03 02:50] Andriy-dev opened #71514 "Link points to 404 page"
Links Learn how to configure Azure Route Server. ( https://docs.microsoft.com/en-us/azure/route-server/quickstart-configure-route-server-portal.md ) points to 404 page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b062f96a-73d9-8904-f9d7-d211c995c88e
* Version Independent ID: 624aa28b-e761-cd46-60b5-2c59ffa99df8
* Con

[2021-03-03 03:12] Grace-MacJones-MSFT commented on #71494
Thanks for updating the link @puneet-hariharan-MSFT . we will now close this thread.

[2021-03-03 03:12] #71494 closed

[2021-03-03 03:14] arorasam opened #71515 "Why not add a link to SDK reference too?!!!"
[Enter feedback here]
I often see a pattern of section named "Next Step" with bunch of link, but never a link to SDK for APIs described on the page itself.
Having so would save so many cycles for developers looking for info. Please don't do half-ass job!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e974af9-501a-8ea

[2021-03-03 03:19] SnehaAgrawal-MSFT commented on #71479
@soccerjoshj07 Thanks for the feedback. We are currently investigating and will update you shortly.

[2021-03-03 03:20] psmanhas commented on #71477
@aaronjones1 Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-03-03 03:23] psmanhas commented on #71473
@arturdrozd Can you please help me understand which documentation you are referring to so I can help you out better?

[2021-03-03 03:24] psmanhas commented on #71465
@lyytinen Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-03-03 03:25] psmanhas commented on #71465
@mlearned Can you please check and add your comments on this doc update request as applicable

[2021-03-03 03:26] psmanhas commented on #71488
@jlorich Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-03-03 03:27] psmanhas commented on #71488
@vimeht Can you please check and add your comments on this doc update request as applicable

[2021-03-03 03:38] MayankBargali-MSFT commented on #71260
@zaalion The Logic App (Preview) is still in preview and the management REST API's, PowerShell commands, CLI command will be available once it is GA. If you still want the list of names for Logic App (Preview) then for now I see that [Web App List](https://docs.microsoft.com/en-us/rest/api/appservice/webapps/list) returns the list of Logic App (Preview) with the kind value as "functionapp,workflow

[2021-03-03 03:38] #71260 closed

[2021-03-03 04:08] AshokPeddakotla-MSFT commented on #71509
@rinisbet Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-03 04:09] JayaChatterjee-MSFT commented on #71001
@vjraitila  Following up to understand whether my previous comment helps and works out for the mentioned problem statement.

[2021-03-03 04:09] AshokPeddakotla-MSFT commented on #71510
@heidenm Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-03 04:34] songqiwei commented on #71198
Thanks SatishBoddu, Sorry for the delay response.

what I thought is "IotHub-EnqueuedTime" is for the time when a message is received by IOT HUB(not routing to built-in event hub, or other routes). I suppose there would be very slight delay when routing is started.

the question I asked is if there is a way I can enrich a message with an additional property(NOT going to replace/set IotHub-Enqueued

[2021-03-03 04:38] MayankBargali-MSFT commented on #71255
@phatcher The statement holds true "_When assigning a subnet to your function app in a Premium plan, you need a subnet with enough IP addresses for each potential instance. We require an IP block with at least 100 available addresses._"
The maximum default [scale unit](https://docs.microsoft.com/en-us/azure/azure-functions/functions-premium-plan?tabs=portal#region-max-scale-out) is 100 for differe

[2021-03-03 04:59] AshokPeddakotla-MSFT commented on #71198
Thanks for the further response.

You can use the monitoring options for routing to get insights: [Monitoring Azure IoT Hub data reference](https://docs.microsoft.com/en-us/azure/iot-hub/monitor-iot-hub-reference#routing-metrics)

As Satish Suggested, request to post the Technical How-To questions on [**Microsoft QnA**](https://docs.microsoft.com/en-us/answers/topics/azure-iot-hub.html) with tag i

[2021-03-03 04:59] #71198 closed

[2021-03-03 05:07] ram-msft commented on #71508
@szakharov7723
Thanks for the question. We are investigating the issue and will update you shortly.

[2021-03-03 05:26] shashishailaj commented on #71515
@arorasam We appreciate your feedback and we are sorry for the inconvenience. We will have this reviewed and update the thread. Are you looking for the SDK download page or Azure REST API reference page ?

[2021-03-03 05:29] VikasPullagura-MSFT commented on #71334
@frankparth8 Any update on the issue?

[2021-03-03 05:34] lgayhardt commented on #68746
Thanks @cijothomas, the update should go live this week.

#please-close

[2021-03-03 05:35] #68746 closed

[2021-03-03 05:40] amanmcse commented on #71146
@ertork Just checking if you have any further question.

[2021-03-03 05:42] frankparth8 commented on #71334
Hi Vikas,

I actually didn’t set up the variable correctly, but found a much easier
way to do this is in the creation of the Azure Scale Set. Thank you for
your time and consideration!

On Tue, Mar 2, 2021 at 10:29 PM VikasPullagura-MSFT <
notifications@github.com> wrote:

--
* Frank Parth*
* Software Engineer *
* 949-426-2294*
* LinkedIn <https://www.linkedin.com/in/frank-parth-8047145a/> *

[2021-03-03 05:48] VikasPullagura-MSFT commented on #71334
@frankparth8 Thanks for responding back.
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-03-03 05:48] #71334 closed

[2021-03-03 05:50] ShrivastavaAkash commented on #71448
Thanks @RohitMungi-MSFT, just curious do we have any other source for information on Advanced Custom Keyword training? I had scheduled a model (with advanced training method) that's in 'Processing' status since last 6 days. I'm not sure when it will complete/fail.

[2021-03-03 05:55] SadiqhAhmed-MSFT commented on #71238
@daspo We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-03 05:55] #71238 closed

[2021-03-03 05:58] Grace-MacJones-MSFT commented on #71180
Thanks for the feedback I have submitted a PR to update the doc. The change is merged internally and will go-live in the public docs shortly.

[2021-03-03 05:58] #71180 closed

[2021-03-03 06:03] SamaraSoucy-MSFT commented on #70666
@bmitchell287 Can you please look at the dependency lists for monitoring 2.4? There seems to be a conflict in what is listed as required between these two articles so if you follow those directions it does not work:

Step 2 here: https://docs.microsoft.com/en-us/azure/spring-cloud/spring-cloud-tutorial-distributed-tracing?pivots=programming-language-java
https://docs.microsoft.com/en-us/azure/spri

[2021-03-03 06:08] dcbrown16 commented on #71181
I'm looking at a similar question - Azure's default DNS is 168.63.129.16, do you still have to set WEBSITE_DNS_SERVER to that value even if you don't have custom DNS configured for the integrated vnet? Just tagging in because I expect any answer to the initial question will be useful for my inquiry as well.

[2021-03-03 06:31] SubhashVasarapu-MSFT commented on #71514
@Andriy-dev, Thanks for reaching out. We will investigate and update this thread.

[2021-03-03 06:38] RohitMungi-MSFT commented on #71513
@armanrahman22 To register the model the documentation from the next [tutorial ](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-mlflow-models)provides some info.

[code]

The Azure ML notebook repo on github provides some [examples ](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/track-and-monitor-experiments/using-mlflow/train-projects-loca

[2021-03-03 06:38] lucarv opened #71516 "Incorrect info on page"
[Enter feedback here]
https://docs.microsoft.com/en-us/azure/defender-for-iot/quickstart-onboard-iot-hub
States that it is possible to add Defender on an existing IoT Hub.
Step 3 states:
Click Secure your IoT solution and complete the onboarding form.

There is no such button/link on the panel. See [screenshot](https://microsofteur-my.sharepoint.com/:i:/g/personal/lucarv_microsoft_com/EYsvZLC2fQRM

[2021-03-03 06:40] SubhashVasarapu-MSFT commented on #71391
@vikaskumawat80, AFDX will support it, but no ETA at this moment since we have dependencies with other Azure services. So, you can expect this by GA time.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-03-03 06:40] #71391 closed

[2021-03-03 06:54] yutaro113 opened #71517 "Inconsistency between published MicrosoftDocs and its original Github MD page"
In the below document, description is different from its original md file in github.
I found this difference at least in Japanese MD file, and not in English ver. (I haven't checked other languages)

Published MicrosoftDocs
https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-python#folder-structure

GithubMD Page
https://github.com/MicrosoftDocs/azure-docs.ja-jp/blob/457519e

[2021-03-03 07:02] ahmadkarim commented on #62866
is there any way to use `docker run` command with parameters in the Azure app service? because in order to use Vnet and containers I think that's the only workout, but the problem is in App services there is no option of adding parameters to docker run for e.g `docker run -p 8080:8089 repo/image:latest` is not possible and if you add parameters in the startup file area all the parameters are then

[2021-03-03 07:11] Klaas- commented on #70385
are the update domains and fault domains of availability zones the same ones that are used in a availability set? or are those two different groups that share the name "fault domain"?

[2021-03-03 07:23] shhazam-ms commented on #71516
Hi, Thanks for writing. I am including @ElazarK  as he is dealing with the agent-based solution.

[2021-03-03 07:29] nanowireUK opened #71520 "Change Digital Twin to Device Twin in image"
The image for this [section](https://docs.microsoft.com/en-us/azure/iot-hub-device-update/understand-device-update#device-update-agent) incorrectly refers to the IoT Hub *Digital* Twin instead of *Device* Twin.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e0faeec-4d01-8971-e784-bde6356d5501
* Version Independent ID:

[2021-03-03 07:40] SwathiDhanwada-MSFT commented on #71202
@alex--thomas We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-03-03 07:40] #71202 closed

[2021-03-03 08:00] savjani commented on #71348
@chriscopemorgan - You have further questions for us?

[2021-03-03 08:14] YutongTie-MSFT commented on #71377
@szakharov7723 Thanks for your feedback again, I have assigned this issue to author. There will be a delay since it's Azure Ignite now.

[2021-03-03 08:19] sushdroid opened #71523 "Error code 10002 from Baidu with Hello World app"
Hi Team, I have an app in the play store and an account in Baidu cloud with an app (created about 2 years ago) having a set of active credentials. Since one week, no users are getting subscribed to receive push notifications on their devices. To recreate the issue, I created a hello world app as mentioned in this repository, but I'm getting error code 10002 in MyPushMessageReceiver after calling P

[2021-03-03 08:41] AshokPeddakotla-MSFT commented on #71520
@nanowireUK Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-03-03 08:50] ddobric commented on #71458
@VikasPullagura-MSFT  thanks for the quick response.
I will open a support ticket. However, in the meantime, I have an idea of what the issue could be.
If the container hits the memory limit, the host will terminate it. The problem with this is, that the host should give information about this. That unfortunately doesn't happen.

Additionally, the issue with this is the monitoring, which is probab

[2021-03-03 08:59] BhargaviAnnadevara-MSFT commented on #71523
@sushdroid Thanks for reaching out. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2021-03-03 09:01] moagra commented on #71452
@HollyQM I am from the product team of NSG flow logs. Thanks for your feedback.
We are aware of this requirement. Due to platform limitations we are not able to support AKS on flow logs.
Internally we are working with the partner teams and trying to add support.
Currently, I don't have an ETA on this, but the requirement is noted and being worked on.

[2021-03-03 09:30] RohitMungi-MSFT commented on #71394
@SandeepGuduru We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-03-03 09:30] #71394 closed

[2021-03-03 09:33] RohitMungi-MSFT commented on #71448
@ShrivastavaAkash The current documentation is the updated source for speech studio. There have been lot of updates in speech studio functionality in the recent past so some of the screen shots may be dated. With respect to your issue the status needs to be checked on the backend by our team, If you have a valid support plan you can raise a support ticket from Azure portal or try to upload the dat

[2021-03-03 09:37] #71510 closed

[2021-03-03 09:37] AshokPeddakotla-MSFT commented on #71510
@heidenm PR has been created to update the doc accordingly. Changes will go live once it has been peer reviewed and merged.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-03 09:39] tejinderrai opened #71524 ".0 addresses for gateways"
Hello,

There are multiple addresses in different regions with a .0 address.

Are these correct?

Thank you

Tejinder

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1a62365-4312-8aad-d2f1-bb5c4184adf1
* Version Independent ID: 2ba5b809-8025-d7ee-c756-d6d1bab033fb
* Content: [Azure SQL Database Connectivity Architectur

[2021-03-03 09:48] SwathiDhanwada-MSFT commented on #71129
@jieliewang Apologies for late response. Frequently occurring errors and their troubleshooting steps are documented [here](https://docs.microsoft.com/en-us/azure/azure-monitor/app/javascript-sdk-load-failure). Traverse through the document and revert if you have further questions.

As there are no further documentation changes, we will close the issue for now.

[2021-03-03 09:48] #71129 closed

[2021-03-03 09:55] czirjak commented on #19456
Still an issue!

[2021-03-03 10:01] Ubus99 commented on #71140
Thanks, @mmacy, that is exactly what I meant.
When I wrote the issue I was quite confused and frustrated because even after looking in the documentation for hours, I still couldn't figure out which RedirectURL to use.

I am trying to write a single-tenant public client application in Java, using the Interactive sign in method here https://docs.microsoft.com/en-us/azure/active-directory/develop/sce

[2021-03-03 10:02] #71509 closed

[2021-03-03 10:03] AshokPeddakotla-MSFT commented on #71509
@rinisbet PR has been created to update the doc accordingly. Changes will go live once it has been peer reviewed and merged.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-03 10:21] VikasPullagura-MSFT commented on #71511
@yuriwoof Thanks for the feedback. We will check and update the document.

[2021-03-03 10:46] arorasam commented on #71515
Thanks MicrosoftDocs/azure-docs for taking note of my feedback. Yes please
add SDK reference in the context of topics.

On Tue, Mar 2, 2021, 9:26 PM ShashiShailaj-MSFT <notifications@github.com>
wrote:

[2021-03-03 10:54] theav8or opened #71525 "connection issue App Service to Azure Database for PostgreSQL"
I've tried to set up an environment without our docker containers according to this tutorial: Tutorial: Deploy Django app with App Service and Azure Database for PostgreSQL - Flexible Server (Preview) in virtual network | Microsoft Docs
But even following the tutorial, it looks like I can't get a connection to the postgres flex server.
Since the flex-server needs a dedicated subnet, I'm unable to

[2021-03-03 10:58] stingster opened #71526 "Specify availability zone for storage account"
- Storage Account
- https://docs.microsoft.com/en-us/azure/storage/common/storage-account-create?tabs=azure-portal
- No information on how to set up the availability zone for a storage account

Is it possible to set up a specific availability zone for a storage account? (As it is the case with kubernetes-cluster for example)

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It i

[2021-03-03 10:59] rarandiv opened #71527 "Inside the Automatic tuning tab, getting a message “Automated recommendation management is disabled because Query store parameter are not optimally set for this database. To enable automated recommendation management, set optimal query store parameters.”"
While enabling the Automatic tuning at the SQL database level, Inside the Automatic tuning tab in the portal, I was getting a message “Automated recommendation management is disabled because Query store parameter are not optimally set for this database. To enable automated recommendation management, set optimal query store parameters.”

![image](https://user-images.githubusercontent.com/72970021/1

[2021-03-03 11:08] cblomart opened #71528 "mail vs. primary smtp address (proxyAddresses)"
Should this document mention the behavior when the set mail attribute is different from the one in proxyAddresses?

From testing, the primary smtp address has precedence over mail.

I will also look to open an issue on https://github.com/MicrosoftDocs/SupportArticles-docs/blob/main/support/azure/active-directory/proxyaddresses-attribute-populate.md

---
#### Document Details

⚠ *Do not edit this s

[2021-03-03 11:10] cblomart commented on #71528
Looks like i cannot open an issue on the support doc.

[2021-03-03 11:13] victorguo opened #71529 "Service Plan - Missing friendly names and incorrect line breaks"
Missing related friendly names:
MCOEV_GOV (db23fce2-a974-42ef-9002-d78dd42a0f22)

Incorrect line breaks on the right side of the following lines:
EXCHANGE_S_FOUNDATION (113feb6c-3fe4-4440-bddc-54d774bf0318)
MCOEV_GOV (db23fce2-a974-42ef-9002-d78dd42a0f22)
MCOFREE (617d9209-3b90-4879-96e6-838c42b2701d)
EXCHANGE_S_FOUNDATION (113feb6c-3fe4-4440-bddc-54d774bf0318)
WINDOWS_STORE (a420f25f-a7b3-4ff5-a9

[2021-03-03 11:16] sushdroid commented on #71523
Hi Bhargavi, apologies for not updating that. Here is the link for the doc which i followed https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/notification-hubs/notification-hubs-baidu-china-android-notifications-get-started.md

[2021-03-03 11:21] pimbelien opened #71530 "The PS script does bind the rewrite rule to the route correctly"
Hi team,

In short I think there is an issue with binding the rewrite to the routing rule using PS. It simply didn't work for me.

I have been using this script to create the Location header rewrite as part of my DevOps pipeline. Even though the script executes successfully and everything seems to have been created, the rewrite did not happen when I accessed the app through the gateway.

There is

[2021-03-03 11:23] ElazarK commented on #71516
Hi @lucarv I am looking in to this now.

[2021-03-03 11:34] ulysses4 opened #71531 "Emulator missing start button"
when running the viewcontroller.swift code, the emulator comes up but there is no start / stop buttons. It is possible the are below the visible screen but there is no way to scroll the iPhone emulator (or if there is they're truly missing). tnx

[2021-03-03 11:37] dvXcode commented on #70505
Is there any news on this issue?

[2021-03-03 11:47] GitaraniSharma-MSFT commented on #71266
@turb0chrg , I checked with the PG team and they mentioned that the limits for move of Azure resources are not generally posted as they can change and the error messages in case of failures provides clear information and exact number of the resources allowed for the move at the time.

They have provided the below reference numbers for your benefit:
VnetsPerMoveRequest = 50
VnetIpConfigurationsPerM

[2021-03-03 11:47] #71266 closed

[2021-03-03 11:58] RZomermanMS opened #71532 "Wrong commands"
[Enter feedback here]

the deployment command does not recognize -name, but needs to be New-AzRouteServer -RouteServerName
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9051fe3-f785-0f9d-3915-8a08d842ab0a
* Version Independent ID: b2ae1d2f-3d9d-8ec9-8112-722b315ce283
* Content: [Quickstart: Create and configure Route

[2021-03-03 12:02] arun-cogniz opened #71533 "Reg. Linux log analytics agent installation"
Team,

For a customer, we were installing Linux OMS agent on a Redhat linux machine.
Installation failed with the below error

Error during the onboarding request: curl returned 35.
Check the correctness of the workspace ID and shared key or run omsadmin.sh with '-v' Trying to stop omi with systemctl omi is stopped. Trying to start omi with systemctl omi is started. System appears to have SELinux

[2021-03-03 12:08] lucarv commented on #71516
Hi, You can enable that, but it is not on the overview panel, it is on the security alerts panel.

[2021-03-03 12:22] GitaraniSharma-MSFT commented on #71361
@IntegerMan , as mentioned in [this](https://docs.microsoft.com/en-us/azure/cdn/onboard-apex-domain) article, mapping your apex or root domain to your CDN profile requires CNAME flattening or DNS chasing. A mechanism where the DNS provider recursively resolves the CNAME entry until it hits an IP address. This functionality is supported by Azure DNS for CDN endpoints in form of [alias records](http

[2021-03-03 12:28] FabianHertwig commented on #70668
Hi, you probably wanted to reach me, and not @fabianescacr.

Here are the versions. But I have the same issue in the Azure Portal UI. So I think it is more likely a backend problem.

[code]

[2021-03-03 12:30] SwathiDhanwada-MSFT commented on #71533
@arun-cogniz Thanks for your feedback. Can you please share your below information to make recommended changes ?

- Share the Azure document that you were following
- Which OS version of RedHat are you using

[2021-03-03 12:34] danimir commented on #71527
@rarandiv - Thank you on the feedback. I believe we actually already state in the article that the issue could be that Query Store is in R/O mode. I will make the suggested change adding the specific steps to rectify this. Thanks.

[2021-03-03 12:35] ElazarK commented on #71516
@lucarv  i'm not sure what you mean by "You can enable that, but it is not on the overview panel, it is on the security alerts panel."

I reworded and clarified the instructions and added images to better reflect the correct procedure.

![image](https://user-images.githubusercontent.com/58463413/109806663-a182ab80-7c2d-11eb-9bc5-23305a7a05eb.png)
![image](https://user-images.githubusercontent.com/

[2021-03-03 12:35] ElazarK commented on #71516
please let me know if solves your issue

[2021-03-03 12:47] rarandiv commented on #71527
Thank you very much for the quick response @danimir

[2021-03-03 12:50] ixevix opened #71534 "Documentation is conflicting"
The default value for WEBSITES_ENABLE_APP_SERVICE_STORAGE seems to be true according to this

https://techcommunity.microsoft.com/t5/apps-on-azure/things-you-should-know-web-apps-and-linux/ba-p/392472

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d385179-7730-3b99-aff6-75491deb070a
* Version Independent ID: 7da429ea-

[2021-03-03 12:52] lucarv commented on #71516
Hello,

If you go to the portal, and click on security overview for an existing IoT Hub, you don't get that message. You only have this message if you have not previously done that action, i.e secured your IoT Hub. You could do that before Azure Defender for IoT came along.
However, if you click on the item below Overview, named Security Alerts, that is when you see that message with the option to

[2021-03-03 13:00] JayaChatterjee-MSFT commented on #71507
@DTronD  Thank you for your feedback! We will review and update as appropriate.

[2021-03-03 13:04] dfatkulbayanova opened #71535 "Misleading information"
[Enter feedback here]
Hi guys,

You have misleading information on different pages
On this page you say:

Prerequisites
To register your SQL Server VM with the extension, you'll need:

An Azure subscription.
An Azure Resource Model **Windows Server 2008 (or greater**) virtual machine with SQL Server 2008 (or greater) deployed to the public or Azure Government cloud.
The latest version of Azure CLI

[2021-03-03 13:12] danimir commented on #71527
@rarandiv - changes will be published later on in the day on the page. You are welcome to provide additional feedback. PS: there is also a way to set what you did from T-SQL which was also explained.

[2021-03-03 13:22] GitaraniSharma-MSFT commented on #71532
@RZomermanMS , thank you for your feedback. We are currently investigating this issue and will get back to you shortly.

[2021-03-03 13:24] rarandiv commented on #71527
Perfect! Yep, addition of T-SQL commands in the doc would be super helpful.
Thank you very much for considering the feedback @danimir

[2021-03-03 13:34] jmprieur commented on #71140
Thanks for the explanation @mmacy and @Ubus99
Adding @navyasric for Java. We need to better explain the Java scenarios here as well, across the board. cc; @kalyankrishna1 as well.

Imho, the AADSTS50194 error you see @Ubus99 is not due to the redirect URI, but to the authority. Apparently there is a recent change in Azure AD (which I was not aware of), where the authority of you app needs to be te

[2021-03-03 13:39] arun-cogniz commented on #71533
Red Hat Enterprise Linux Server release 7.6 (Maipo)

This is the doc page that i referred

https://docs.microsoft.com/en-us/azure/azure-monitor/agents/agent-linux

[2021-03-03 14:09] martinmeeser commented on #62347
sudo apt purge storage explorer

[2021-03-03 14:11] ElazarK commented on #71516
@lucarv  you are correct, if you select any option under the security section, it will direct you to the "Secure your IoT solution" button.

I will correct the wording to reflect that.

[2021-03-03 14:17] alijahnas opened #71536 "App Service Authentication / Authorization permissions"
Hello,

I can't find documentation for the necessary role in order to acces the Authentication / Authorization information in an Azure App Service: https://docs.microsoft.com/en-us/azure/app-service/overview-authentication-authorization

The Global Reader and Security Reader aren't sufficient to access this panel. I still have a 403 error code:
`{ "shellProps": { "sessionId": "xxx", "extName": "We

[2021-03-03 14:26] NavtejSaini-MSFT commented on #71524
@tejinderrai We are checking this and will get back to you.

[2021-03-03 14:27] NavtejSaini-MSFT commented on #71525
@theav8or We are checking this and will get back to you.

[2021-03-03 14:27] KrishnaG-MSFT commented on #71289
@vanessabruwer I have verified and updated the document as required. The change should reflect in some time i.e., in less than 24 hours. Thanks again!

[2021-03-03 14:27] #71289 closed

[2021-03-03 14:35] marcelkmfst opened #71538 "Enable Storage Firewall for existing audit configurations"
It would be good if we can also describe howto configure the storage account firewall if auditing is already enabled.
So Auditing was used with a non firewall protected account, then the fw was enabled. Auditing stopped working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c5d04af-000b-a895-c22d-fe869b04ff21
* Versi

[2021-03-03 14:35] ElazarK commented on #71516
@lucarv Thank you for the feedback. the documentation has been updated and will be published in the next publishing cycle.

[2021-03-03 14:36] ElazarK commented on #71516
#please-close

[2021-03-03 14:36] #71516 closed

[2021-03-03 14:38] KrishnaG-MSFT commented on #71390
@r3dlin3 I have verified and updated the document as required. The change should reflect in some time i.e., in less than 24 hours. Thanks again!

[2021-03-03 14:38] #71390 closed

[2021-03-03 14:41] frankparth8 commented on #71334
Sounds good! Thank you! Just as a suggestion I would break that article
into two separate articles. One for VMSS that already exist and one for
setting everything up from scratch.  I know a lot of the content would be
repeated, but it was a little difficult to figure out which chunks of it to
pay attention to.

On Tue, Mar 2, 2021 at 10:49 PM VikasPullagura-MSFT <
notifications@github.com> wrote:

[2021-03-03 14:42] BhargaviAnnadevara-MSFT commented on #71531
@ulysses4 Thank you for the question. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2021-03-03 14:43] alevere opened #71539 "update picture"
Would Microsoft consider updating the diagram in this doc that resides at:

https://docs.microsoft.com/en-us/azure/virtual-network/media/network-security-group-how-it-works/network-security-group-interaction.png

to show a connection between vm1->vm2. Intra-subnet traffic is a little confusing and not at all diagrammed. I think diagramming it would be helpful, esp. as groups are moving different w

[2021-03-03 14:59] tamram commented on #71526
@stingster - You can set up zone-redundant storage (ZRS) in a supported region to use availability zones with Azure Storage. See [Zone-redundant storage](https://docs.microsoft.com/azure/storage/common/storage-redundancy#zone-redundant-storage] for details.

#please-close

[2021-03-03 14:59] #71526 closed

[2021-03-03 15:00] MonikaReddy-MSFT commented on #71535
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-03-03 15:04] Rhynri opened #71540 "Inference Configuration needs clear documentation"
On this page you can find very clear 1:1 documentation of JSON entity to method parameter translations for the Deployment configuration, but for the inference configuration, there is only very basic documentation and then a link pointing to the `azureml.core.environment.environment` class.

I think it's important to have a full breakdown of the inference class as many of the Deployment JSON entiti

[2021-03-03 15:12] BhargaviAnnadevara-MSFT commented on #71523
@sushdroid Thank you for the response. I've routed this to the appropriate Team to investigate and update.

[2021-03-03 15:14] MonikaReddy-MSFT commented on #71050
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-03-03 15:17] BhargaviAnnadevara-MSFT commented on #71460
@DavidWorner-Cert Please provide us with the URL of the document that you'd like to share feedback on.

[2021-03-03 15:22] MonikaReddy-MSFT commented on #71321
@danielsollondon - Can you please take a look at this issue and provide your insights on raising a PR

[2021-03-03 15:45] xuhongl opened #71542 "Error in "path based versioning" section"
Hi team,

One of our clients, has found an issue in this page, under path based versioning:

In this block, below is mentioned:

The format of an API request URL when using header-based versioning is: https://{yourDomain}/{apiName}/{versionIdentifier}/{operationId}.

But this is actually for path-based versioning.

Would you please modify it to avoid causing confusions in the future? thanks!

Chee

[2021-03-03 15:49] GiftA-MSFT commented on #71540
@Rhynri we'll review your feedback and get back to you shortly. Thanks.

[2021-03-03 15:51] panitaxx commented on #68170
Hello @RohitMungi-MSFT. Any updates on this issue? Thanks

[2021-03-03 15:52] psmanhas commented on #71517
@yutaro113
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-03-03 15:52] psmanhas commented on #71517
@ggailey777
Can you please check and add your comments on this doc update request as applicable

[2021-03-03 16:05] psignoret commented on #71403
@commakoerschgen, thanks for reaching out.

The permission to grant consent is the same for Application Administratators and Cloud Application Administrators:
* Any delegated permission, including delegated permissions for Microsoft Graph and Azure AD Graph
* Any application permission, _except_ application permissions for Microsoft Graph and Azure AD Graph

I've made an update to the documentatio

[2021-03-03 16:14] wpcarroll opened #71543 "Changing the CIDR ranges for databricks subnets after creation is unsupported"
Need warning sections that changing the CIDR ranges for databricks subnets after creation is unsupported and can lead to not being able to launch a cluster.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93bd5c16-e0ec-5064-9bc0-1c527c328a7e
* Version Independent ID: 5342d01e-c2da-f7a8-d22e-86995a17af79
* Content: [Depl

[2021-03-03 16:21] JamesTran-MSFT commented on #71528
@cblomart
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-03 16:23] JamesTran-MSFT commented on #71529
@victorguo
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-03 16:27] daveba commented on #71529
@JamesTran-MSFT #assign: @curtand

[2021-03-03 16:33] JnHs commented on #71122
Thanks for your patience @DeanGross - and great point. I've updated this section so it no longer says "manage". Appreciate your raising the issue!
I'm going to close this issue now but if you have additional feedback, please let us know.
#please-close

[2021-03-03 16:33] #71122 closed

[2021-03-03 16:36] MashaMSFT commented on #71535
Hi @dfatkulbayanova , thanks so much for reaching out! The information in these two docs is not intended to be misleading, but is actually talking about two different things. The SQL Server IaaS extension supports Windows VMs starting with Windows Server 2008. There are multiple ways to register with the extension, one of which is the automatic registration feature for an entire subscription. The

[2021-03-03 16:36] #71535 closed

[2021-03-03 16:37] mgblythe commented on #70619
@dcbrown16 - thanks for the suggestion, I added a short section to the doc re: export. #please-close

[2021-03-03 16:37] #70619 closed

[2021-03-03 16:48] btatter opened #71544 "Authentication Policy Admin Role"
The new role "AUTHENTICATION POLICY ADMINISTRATOR" lets you import the OAUTH hardware token seed file and then it shows the error that the import failed.
When the same file is imported by the Global Admin role, it goes through successfully.

Looks like the broken or untested functionality of the new role.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2021-03-03 16:53] nibaccam commented on #71508
@cartacioS can you take a look at this one, please?

[2021-03-03 16:54] nibaccam commented on #71377
@cartacioS can you help with this one?

[2021-03-03 16:56] AnuragSharma-MSFT commented on #71387
@zqyAmy Yes as per the documentation this will be available till the end of April, 2021. In the same article at the top of the document, there is guide link mentioned which has details related to migration.

[Oracle to Azure Database for PostgreSQL Migration Guide](https://github.com/microsoft/OrcasNinjaTeam/blob/master/Oracle%20to%20PostgreSQL%20Migration%20Guide/Oracle%20to%20Azure%20Database%20