[2018-11-06 18:49] TravisCragg-MSFT commented on #18063
@benjamingorman @robymes @SamirFarhat

I will try to repro this myself to see exactly what is going on and what permissions are needed. the permission "Microsoft.Network/JoinServicetoaSubnet" is only included for a few higher roles, and it is likely restricting the roles that can use VNET Service endpoints. I will report back as soon as I am able.

[2018-11-06 18:51] davmhelm opened #18304 "DBG Internet Bandwidth"
Per the Internet bandwidth heading:
* Your Data Box Gateway has a dedicated 20 Mbps Internet bandwidth (or more) available at all times. This bandwidth should not be shared with any other applications.
* Your Data Box Gateway has a dedicated 32 Mbps Internet bandwidth (or more) when using network throttling.

The reason for the second bandwidth requirement is unclear. Why would there need to be a

[2018-11-06 18:52] MicahMcKittrick-MSFT commented on #18002
@dlepow thanks for that. This makes sense and should work.

@ganrad can you try this out and get back to us?

[2018-11-06 18:53] MicahMcKittrick-MSFT commented on #18055
Thanks @promontis. Appreciate the extra details :)

CC @iainfoulds to add any info to the doc

[2018-11-06 18:53] #18055 closed

[2018-11-06 18:59] andsmit9 commented on #14662
Thanks.

[2018-11-06 19:15] dlepow commented on #17920
@MicahMcKittrick-MSFT @jluk - I am adding information to the intro paragraph of this article to clarify that Azure Files uses SMB to mount the file share, and that the behavior in container instances is similar to VMs. I link to Azure Files docs as well.

"By default, Azure Container Instances are stateless. If the container crashes or stops, all of its state is lost. To persist state beyond the l

[2018-11-06 19:16] #17920 closed

[2018-11-06 19:28] MicahMcKittrick-MSFT commented on #18225
@kkho I just ran through it using a Local Azure CLI instance and it worked fine. I am running Azure CLI 2.0.50

One thing to note, I did have to manually enter the --assigned-identity and service principle

az container create --resource-group myResourceGroup --name mycontainer --image microsoft/azure-cli --assign-identity **FULL RESOURCE ID** --command-line "tail -f /dev/null"

az keyvault set-po

[2018-11-06 19:31] MarkusVi commented on #17775
#please-close

[2018-11-06 19:32] williamdlupo opened #18309 "Geospatial functions not compatible with Azure functions CosmosDB output binding."
As the title implies, each of this functions will result in a 500 error when used as "sqlQuery" parameters when used as Azure function output bindings (most likely due to special characters). A work around would be appreciated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c72695a-0bef-6a4b-0210-e02e4145f652
* Version

[2018-11-06 19:35] dixitsuneel commented on #16609
@mike-urnun-msft Is there any update on this?

[2018-11-06 19:43] kkho commented on #18225
I see. Because I was using system assigned identity.

[2018-11-06 20:08] craigshoemaker commented on #14159
Thanks for the feedback, @timmyreilly. I have created an internal work item to address this issue. Please let me know if you see anything else that needs attention.

#please-close

[2018-11-06 20:11] craigshoemaker commented on #12939
I have created an internal work item for this issue. Thanks for your input @georgeslegros!

#please-close

[2018-11-06 20:14] vtjc2002 opened #18312 "Incorrect docker comment?"
. {Invoke-WebRequest -useb aka.ms/iotedge-win} | Invoke-Expression; `
Install-SecurityDaemon -Manual -ContainerOs Linux

This being Deploy code to a Windwos device, should -ContainerOS Windows instead?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64575e7c-664c-4d6b-a440-24c91e93def5
* Version Independent ID: 17d9481c

[2018-11-06 20:14] vtjc2002 commented on #18312
command - typo

[2018-11-06 20:14] craigshoemaker commented on #14132
Thanks for the heads-up, @garrytrinder! I have created an internal work item to verify or update this article based on your feedback.

#please-close

[2018-11-06 20:16] craigshoemaker commented on #15766
Thanks for all your feedback, @timmyreilly! I have created an internal item for this issue as well.

#please-close

[2018-11-06 20:19] craigshoemaker commented on #15821
Thanks, @silvermoong. I suspect there is not much to change here, as @Mike-Ubezzi-MSFT notes about the distinction between v2.0 only having support for .NET core. I have created an internal work item to investigate further.

#please-close

[2018-11-06 20:20] #14132 closed

[2018-11-06 20:20] PatAltimore commented on #18280
@tsaltd I passed along your feedback to the azure.com team.  Thanks for pointing out the issue. They appreciated the feedback and are going to look at ways to improve the getting started page. I'm going to request this issue be closed since it's not a docs.com issue.

Pat

#please-close

[2018-11-06 20:28] jeffwmiles opened #18313 "Confusing terminology"
The "Tenant location and Application Proxy service" section of this document makes repeated references to "region". For example, a Tenant in a region, application proxy instances within a region.
However the example given is an "if your Azure AD tenant’s region is the European Union (EU), all your Application Proxy connectors use service instances in Azure datacenters in the EU".

According to Azu

[2018-11-06 20:28] craigshoemaker commented on #15487
I submitted a PR for a refresh of this article today. All steps are now verified. Thanks for your input, @mcurko!

#please-close

[2018-11-06 20:30] craigshoemaker commented on #17549
An internal work item is now created. Thanks for your feedback!

#please-close

[2018-11-06 20:34] Alberto-Vega-MSFT commented on #18286
Hi @alexander-riss  Thank you for your valuable feedback! Is it possible for you to share both samples so the author can evaluate this? Thanks

[2018-11-06 20:39] TravisCragg-MSFT commented on #12939
@georgeslegros We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-06 20:39] #12939 closed

[2018-11-06 20:40] craigshoemaker commented on #10261
@Adam-Smith-MSFT please assign this issue to @tamram as she is the new owner of this article.

[2018-11-06 20:44] Mike-Ubezzi-MSFT commented on #18309
@williamdlupo Thank you very much for the detailed feedback. I want to provide you the following `Azure Functions` specific documentation for [Azure Functions triggers and bindings concepts](https://docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings) where the examples use JavaScript and C#. Please also see the [Supported bindings](https://docs.microsoft.com/en-us/azure/azu

[2018-11-06 20:46] nick-wegner opened #18315 "Powershell command to generate a Service Identity doesn't work"
Calling the Set-AzureRmDataFactoryV2 -ResourceGroupName &lt;resourceGroupName&gt; -Name &lt;dataFactoryName&gt; -Location &lt;region&gt; doesn't create a new service identity.

I created my factories using an ARM template and no service identity was created.  Trying to figure out how to create them without luck.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2018-11-06 20:46] MicahMcKittrick-MSFT commented on #18272
@SamBroner I ran through the doc and it appears to be working as written. It does take a couple mins before the pvc is created and displayed properly.

[code]

Are you running this in Azure Cloud Shell or a local instance of CLI? I ran it in the Cloud Shell and it worked as written.

What is your output when you run `kubectl describe pod mypod`?

[2018-11-06 20:47] MicahMcKittrick-MSFT commented on #18225
@kkho ah okay! Thanks for that update :)

I will close this out for now then. If you have any additional comments just let me know and we can always reopen and continue the discussion.

[2018-11-06 20:53] Mike-Ubezzi-MSFT commented on #17985
@DMKmod We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-11-06 20:53] #17985 closed

[2018-11-06 20:53] alexander-riss commented on #18286
The samples right next to the paragraph already show the difference

[2018-11-06 20:57] georgewallace commented on #13563
@MirzaSikander I have a pull request created that fixes the steps you outlined.  Once the PR has been merged this issue will automatically close.  Don't hesitate to reach out again if you have issues with the docs or just have any questions.

[2018-11-06 20:57] georgewallace commented on #16353
@lukealton  I have a pull request created that fixes the steps you outlined.  Once the PR has been merged this issue will automatically close.  Don't hesitate to reach out again if you have issues with the docs or just have any questions.

[2018-11-06 20:58] kkho commented on #18225
so would it work with system assigned identity @MicahMcKittrick-MSFT ? or is there a minor issue to it?

[2018-11-06 20:58] MicahMcKittrick-MSFT commented on #18288
@iainfoulds are you aware of a way to increase this? I am not finding anything to suggest it is possible.

[2018-11-06 20:59] erhopf commented on #18286
@PanosPeriorellis is this by design?

[2018-11-06 21:01] MicahMcKittrick-MSFT commented on #18291
Duplicate of #18225

[2018-11-06 21:01] #18291 closed

[2018-11-06 21:07] DMoonesinghe opened #18318 "Private Key is never exposed"
[Enter feedback here]
Isn't this statement wrong?
"The private key is what you present to your Linux VM when you make an SSH connection, to verify your identity."

In public key encryption, you never expose your private key to any party.  You send data that is encrypted with the public key so that the receiver can use the senders public key to decrypt it.

That is my understanding of public key en

[2018-11-06 21:09] MicahMcKittrick-MSFT commented on #18225
@kkho yes. I just tested using Example 2 system-assigned identity on local Azure CLI and it worked.

Again, I had to manually put in the principalID rather than use it in the stored variable

[2018-11-06 21:10] kkho commented on #18225
ok I will try again and see if it works.

[2018-11-06 21:11] MicahMcKittrick-MSFT commented on #18295
@jmpichardo to confirm, you have the correct Resource Group Name and Cluster name when running the command?

The command is correct.

You can also try running `rm ~/.kube/config` to clear any past credentials

Then try the command again

[2018-11-06 21:14] MicahMcKittrick-MSFT commented on #18225
@kkho yes. I see no regional limitations other than where you can deploy ACI to and that managed identities are only available on Linux at the moment.

https://azure.microsoft.com/en-us/global-infrastructure/services/?products=container-instances

Give it another try. I did it in East US but if you still have issues I can test in West Europe as well.

[2018-11-06 21:16] MGoedtel commented on #16340
@tFable, @alexcastrus, @Karishma-Tiwari-MSFT - I just came back from vacation, so apologies for not getting back sooner.  I can also confirm that ARM does not support configuring the Log Analytics VM Extension for Windows with more than one workspace.  #please-close since this isn't a doc issue.

[2018-11-06 21:18] Karishma-Tiwari-MSFT commented on #16340
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-11-06 21:18] #16340 closed

[2018-11-06 21:20] tejasavora commented on #14245
@MicahMcKittrick-MSFT Do you guys have a fix in place for this? I enabled remote debugging using VS and it completed all tasks. However, after that, I could not attach to debugger - as other people have mentioned, it says: "Failure to launch Remote Debugger" - this is very frustrating, as it always happens wth MS product that it does not work as advertised when it is most needed.

[2018-11-06 21:22] Karishma-Tiwari-MSFT commented on #18057
@chrisvoisey Any update?

[2018-11-06 21:22] scals44 commented on #10754
Ticking this thread as well - any update on how to restrict the --admin flag to a select group?

[2018-11-06 21:27] alexsab1 opened #18322 "Run daily at specific time"
Hi, is it possible to schedule a job to run daily at 8am central time? Looking at definition of stored procedure sp_add_job, I do not see such ability, unless enable the job at the precise hour I want it to run daily.

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 386f5b1f-e835-0a3b-8e3f-302a6bf5670e
* Versi

[2018-11-06 21:32] TravisCragg-MSFT commented on #18200
@luqmanawawi86 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-06 21:32] #18200 closed

[2018-11-06 21:38] kkho commented on #18225
It still won't work (I ran it with Azure CLI 2.0.49)

ok so the case is. I have an ARM template that I want to run through Azure Devops CD pipeline.
Doing the ARM template works! However, It seems that I still get an unauthorized for accessing a keyvault (after adding the principalId into the access policy)

Another thing: What can i do to get the Managed Identity  output of the principalId in ARM

[2018-11-06 21:40] jaredmoo commented on #18322
Currently only UTC time is supported. Did you want the schedule to follow time zone changes due to daylight savings?

[2018-11-06 21:44] jeffwmiles commented on #18313
A related question to this, once the "region" terminology is cleared up. The document says "Application Proxy chooses the location of instances for you, based on your tenant location".

If region is meaning geography, and "Americas" is the geography in question, is this saying my connector will communicate with ANY region in the geography (perhaps in a round-robin fashion), or is the service geogr

[2018-11-06 21:47] #17775 closed

[2018-11-06 21:48] cynthn commented on #18287
@marinnedea thanks for the feedback. I'm a little confused by what you said: "please remember that Azure doesn't offer support for OS disk encryption in Linux, although the ADE extension supports (aka is able to encrypt) OS disks."

The ADE overview (https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption-overview) says: "Disk Encryption leverages the industry standard BitLo

[2018-11-06 21:48] vhorne commented on #17541
@CHDAFNI-MSFT
Added firewall to docfx.json file.

[2018-11-06 21:48] jmpichardo commented on #18295
Yes, resource group and cluster names were OK.

I tried removing config file from .kube and then running "az acs kubernetes get-credentials...." command, and I got the same error again.
Then, I tried with "az aks get-credentials..." and worked well.

Used machine info:
Windows 10 Pro 10.0.17134 Build 17134
Azure-cli version 2.0.46
Kubernetes Client v1.10.3
Kubernetes Server v1.11.2
The Kubernetes

[2018-11-06 21:48] vhorne commented on #17541
#please-close

[2018-11-06 21:50] tfitzmac commented on #18264
@ajaypamarthy - I would recommend looking at the documentation focused on that feature - [What are Azure Active Directory reports?](https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/overview-reports)

[2018-11-06 21:53] williamdlupo opened #18326 "Cosmos DB Geospatial input binding not functioning correctly."
As the title implies, the CosmosDB functions for querying geospatial data do not return the correct result when the query is specified as a string in the function.json and .csx file.

It is required to escape the "{ }" characters in order to get the function to execute, but decimal coordinates passed in as url parameters are not passed as decimals.
 For example:
SELECT ST_ISVALID({ "type": "Point"

[2018-11-06 21:53] sergaz-msft commented on #17405
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-06 21:53] #17405 closed

[2018-11-06 21:53] Xorima commented on #18288
My expectation would be for this to work like aks where once I have credentials they work indefinatly

[2018-11-06 21:54] moez-slimi opened #18327 "New claim not returned once the user is authenticated"
Following these steps, once the user is authenticated, we did not see the new claim in the list of claims (used jwt.ms to inspect the list).
We had to also add the new ClaimTypeReferenceId under AAD-UserReadUsingObjectId.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2eae8461-82d9-9172-a76d-3185799203b4
* Version Inde

[2018-11-06 21:54] #18280 closed

[2018-11-06 21:56] andresravinet opened #18328 "MMAgent.ps1 script may contain an out of date ProductId."
I believe this:
ProductId = "8A7F2C51-4C7D-4BFD-9014-91D11F24AAE2"

should be changed to:
ProductId = "125E840F-D03A-4F95-8236-8176B6150760"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00a00a3e-a0df-7ee5-4733-7231bd7a024f
* Version Independent ID: 94361683-e1e7-7e55-6993-86d3c2486a14
* Content: [Connect Windows comp

[2018-11-06 21:58] iainfoulds commented on #18288
I think this is tied in with the Azure CLI token expiration timeframe. @SteveLas and @sajayantony for confirmation and any additional thoughts here.

@Xorima What issues are you running into with this token length, what does your workflow look like when developing and building that this comes up?

[2018-11-06 21:58] itsknob opened #18330 "Cosmos DB Input SQL Query requires values as String - Javascript"
I'm not sure if this is the intended behavior, but I spent a better part of the day trying to send an Azure Storage Queue Message to an Azure Function using a Cosmos DB input, utilizing the SQL Query option, to get specific documents, and I think I have found an issue.

When I tried to query documents in the form `{"String": Number}` where the database's document match that form, the query was uns

[2018-11-06 22:00] iainfoulds commented on #18288
For the AKS credentials, that's a slightly different mechanism in that `az aks get-credentials` adds a context to your local `~/.kube/config` file. It's not technically Azure presenting a token-based authentication process that would have an expiration aligned to it. But, good feedback in terms of how the Helm authentication experience is currently available.

[2018-11-06 22:03] DCtheGeek commented on #18234
@PawelLiebich The update to the content should merge this afternoon. When it does, this item will automatically be closed.  If you don't feel the updated text is clearer, please just respond here and I'll continue the conversation with you.

To bullet the changes:
- Correct, **Contributor** does have read.  The only real difference, related to Policy at least, between **Contributor** and **Reader*

[2018-11-06 22:04] femsulu commented on #18289
@TomasLipensky Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2018-11-06 22:06] TravisCragg-MSFT commented on #17541
@CHDAFNI-MSFT We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-06 22:06] #17541 closed

[2018-11-06 22:08] MarkusVi commented on #18232
Hi @Skorfulose, Azure registered devices (formerly known as workplace joined) **CAN** actually become hybrid Azure AD joined. I will add a related note to the overview article. You can only manually register a device.  The only automatic option is the hybrid Azure AD join. There are no "special reasons" for registered devices in addition to what is already outlined why a hybrid Azure AD join might

[2018-11-06 22:08] #18234 closed

[2018-11-06 22:10] #16353 closed

[2018-11-06 22:10] #13563 closed

[2018-11-06 22:11] JackHorlock opened #18332 "Runs successfully, but no files appear in the destination"
Hi, I have run through this process a few times now and  the pipeline I have created runs successfully and reports that it has read and written a number of files exactly as you show in Step 15. However, when I look at the destination either using the Azure Portal or the Azure Storage Explorer the files are not present. Any suggestions as to why this might be would be very welcome. Thank you

---
#

[2018-11-06 22:14] SnehaGunda commented on #18216
@Liversage thanks for the feedback, I have had a discussion about this issue with our team, we recently added this example. I understand that it's little complicated, we will consider adding a simpler one. There is an example with musical notes that explain different consistency levels, it's currently in Azure Portal if you want to check out. We will add the same example and description to docs as

[2018-11-06 22:17] A140475 commented on #18012
@Alberto-Vega-MSFT just wondering how you are going wit this issue? Do you need any more information from me?

[2018-11-06 22:30] CarlRabeler commented on #16312
#please-close

[2018-11-06 22:35] axayjo commented on #18173
@Rick-Kirkham The documentation team has been notified and it'll be clarified. We'll detail the process to create versions iteratively.

[2018-11-06 22:44] alkohli commented on #18304
@davmhelm  Yes, these are hard requirements. The solution will not work if these requirements are not followed. This solution is currently in preview and based on the latest changes that have gone in, the requirement for throttling has changed from 32 Mbps to 64 Mbps. You will soon see this reflected in the docs as well.

Hopefully this helps. Thanks!

[2018-11-06 22:45] MarileeTurscak-MSFT commented on #18327
@moez-slimi
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-06 22:50] A140475 commented on #18012
Actually, instead of pointing to Log Analytics I pointed to Application Insights and I got further. Although the body of my email with visualisation looks like this:
<body style='text-align:center;'><img src="cid:ai_flow_chart_20181106224715.jpg"/><br>

Is that correct?

thanks
Russ

[2018-11-06 22:57] A140475 commented on #18012
Ok, So now I can open the image as attachment but the pie graph I see in analytics is way different to the one sent in the attachment. I think I will just wait until this comes out of preview.

[2018-11-06 23:00] tamram commented on #10261
@ashishmundrajll - if you still need help troubleshooting, please go ahead and ask your question in the [Azure MSDN](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata&filter=alltypes&sort=lastpostdesc) forum. Our support team will help you there.

#please-close

[2018-11-06 23:02] xyh1 commented on #17883
Thank you. I have made that change.

#please-close

[2018-11-06 23:04] ashishmundrajll commented on #10261
The fix is no longer required. We used some other mechanism and that worked. We may be doing something wrong earlier. Please close.

[2018-11-06 23:10] kobulloc-MSFT commented on #18222
@kelujule Sure thing!  The information you are looking for is in the Power BI documentation, which you can find here:
https://docs.microsoft.com/en-us/power-bi/refresh-scheduled-refresh

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2018-11-06 23:10] #18222 closed

[2018-11-06 23:11] sergaz-msft commented on #17477
Hello @formulahendry can you please add this as a feature request here?: https://feedback.azure.com/forums/321918-azure-iot

Let us know the link to it, so others can also vote.

Thank you!

[2018-11-06 23:11] sergaz-msft commented on #17477
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-06 23:11] #17477 closed

[2018-11-06 23:15] MarileeTurscak-MSFT commented on #18313
@jeffwmiles
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-06 23:20] alexmarshall132 opened #18339 "Expressions don't work in Dataset and Pipeline references"
"Expressions can appear anywhere in a JSON string value and always result in another JSON value."

This is not true for Dataset or Pipeline references. Trying to use any kind of expression in these fields results in an ARM template deployment error : `The document creation or update failed because of invalid reference ''.`

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-11-06 23:41] walsehgal commented on #18190
@tomkuijsten, thanks for pointing it out. Our Engineering team is looking into it and we will inform you once its resolved.

[2018-11-06 23:47] cwarne commented on #5638
Any update on this issue? I am experiencing the same problem.

[2018-11-06 23:48] sandervandevelde commented on #17351
It took some effort to get to the coredump and zip it, but:

Behold the [coredump.zip](https://github.com/MicrosoftDocs/azure-docs/files/2555516/coredump.zip)

[2018-11-06 23:49] kobulloc-MSFT commented on #18215
@jolguk I was able to successfully complete step 3 of [Build and run code in Kubernetes](Dev Spaces create fails with can't create a Dockerfile because of unsupported language).  Is that where you ran into problems?

![image](https://user-images.githubusercontent.com/37556655/48101367-8a595d80-e1db-11e8-8ccf-292e35764a1b.png)

[2018-11-06 23:50] sergaz-msft commented on #17804
@RipinAggarwal to clarify, the $lastUpdate will differ from property to property on device Twin. The example on this doc may cause some confusion though. @fsautomata can we revisit the doc and add some random values to the $lastUpdate on the different properties?

Thanks!

[2018-11-06 23:57] kobulloc-MSFT commented on #18278
@mcurko I'm seeing the same thing, and am continuing to investigate.

![image](https://user-images.githubusercontent.com/37556655/48101656-a5789d00-e1dc-11e8-812c-487857dff061.png)

[2018-11-07 00:00] mattbriggs commented on #18250
@@CeciAc Thanks I will add this as soon as I get a chance. Cheers! Matt #in-progress

[2018-11-07 00:01] sergaz-msft commented on #17068
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-07 00:01] #17068 closed

[2018-11-07 00:02] mattbriggs commented on #17440
@kristopherjturner and @SqlTechMike Thanks for your feedback. I'll be able to update shortly. #in-progress

[2018-11-07 00:02] marcindabrowski commented on #16790
@raphaelkoeppel I'm getting the same issue, Have you fixed it?
I also found this topic about the same issue https://social.msdn.microsoft.com/Forums/en-US/af68a498-f8f4-43bf-9704-1a0700a34d15/post-refreshes-response-header-does-not-include-location-header-with-refresh-id?forum=AzureAnalysisServices

[2018-11-07 00:03] chiragk25 opened #18340 "Limit of 50 subscriptions per account"
Is there any way to increase this limit?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 371189c2-154f-2716-bbc0-8496a76c5ac9
* Version Independent ID: bb5cd103-ff51-1753-f269-e2c1aa49a8c8
* Content: [Programmatically create Azure Enterprise subscriptions](https://docs.microsoft.com/en-us/azure/azure-resource-manager/pr

[2018-11-07 00:04] yzhong94 commented on #16384
Hi @FluxReality , thanks for the feedback.  We are definitely aware of this issue, we have been working with the doc team, but we are running into technical difficulty.  Python version is a full implementation of the C-API, where are you seeing discrepancy?

[2018-11-07 00:09] sergaz-msft commented on #14341
@Mike-Ubezzi-MSFT can you confirm if you were able to see the system properties on your tests? @kgremban let us know if you were able to repro this scenario and if the documentation should be enhanced to reference it?

Thanks both!

[2018-11-07 00:10] femsulu commented on #17983
@vhorne any update on this please?

[2018-11-07 00:18] MarkusVi commented on #18135
Hi @JacenBoy, thanks for bringing this up. I have fixed the link.

#please-close

[2018-11-07 00:19] walsehgal commented on #18149
@tomkuijsten Thanks for raising this issue, we are looking at it and will get back to you as soon as it is resolved.

[2018-11-07 00:20] sergaz-msft commented on #18312
Thank you for your feedback @vtjc2002 . This quickstart uses Windows with Linux Containers:

"The instructions in this section configure the IoT Edge runtime with Linux containers. If you want to use Windows containers, see [Install Azure IoT Edge runtime on Windows to use with Windows containers.](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-windows-with-windows)"

![im

[2018-11-07 00:20] sergaz-msft commented on #18312
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-07 00:20] #18312 closed

[2018-11-07 00:29] MarileeTurscak-MSFT commented on #18214
@priyaananthasankar have you tried doing it directly in the portal with the regular app registration blade?

CC: @priyaananthasankar

[2018-11-07 00:29] sammym1982 opened #18342 "broken doc link"
the link is broken. please fix https://aka.ms/AnomalyFinderPrivatePreview

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bf09f20-c06f-0d5a-fdd8-c20279786534
* Version Independent ID: 8606c464-8ca9-636e-ab5f-70e8db1c3752
* Content: [What is Anomaly Finder? - Microsoft Cognitive Services](https://docs.microsoft.com/en-u

[2018-11-07 00:32] iainfoulds commented on #18283
Sorry for the confusion, @guybartal. It does look like a bit of conflict in the minimum supported version, and then what's shown to be installed using the Azure CLI.

@johnsta or @lisaguthrie Could you confirm the minimum supported version, please? I can update the appropriate docs as needed to clarify this.

[2018-11-07 00:34] iainfoulds commented on #18243
Thanks for the feedback, @ChrisJCo. Yes, depending on your VS Code configuration, you may be prompted for the extension. I'll review this for where we could call this out if needed.

#in-progress

[2018-11-07 00:35] johanburati commented on #12265
It has been months since this issue has been reported.
A customer ran into some issues, it could have been avoided would the documentation have been updated in timely manner.

[2018-11-07 00:37] iainfoulds commented on #18204
Thanks for the feedback, @ams0. Is the DNS name also then updated on the corresponding public IP address resource created in Azure? What if a static public IP address was pre-created, is the DNS record added to that existing Azure resource?

@sauryadas Is this annotation supported for use in AKS?

[2018-11-07 00:38] iainfoulds commented on #18000
Sorry you ran into problems, @yevster.

@kobulloc-MSFT Can you replicate the behavior reported.

[2018-11-07 00:38] iainfoulds commented on #17828
Sorry you ran into issues, @solstarz.

@kobulloc-MSFT Can you replicate the behavior reported?

[2018-11-07 00:41] iainfoulds commented on #18295
There's two different things here. This doc was for a Kubernetes created with Azure Container Service (ACS), which is largely deprecated and replaced by Azure Kubernetes Service (AKS). `az acs kubernetes get-credentials` should be correct for Kubernetes clusters created with ACS.

For clusters created with AKS, then yes, `az aks get-credentials` is correct.

[2018-11-07 00:41] PramodValavala-MSFT commented on #17549
@JonnMsft Thanks for contributing to MS Docs!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-07 00:41] #17549 closed

[2018-11-07 00:44] iainfoulds commented on #17981
@sauryadas Should this suggestion be added? I can push a PR to quick add the link to the Azure updates page.

[2018-11-07 00:46] PramodValavala-MSFT commented on #17061
@abhinav-jain09 Thanks for contributing to MS Docs!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-07 00:46] #17061 closed

[2018-11-07 00:48] MarileeTurscak-MSFT commented on #18220
Did you restart the server after following the instructions in the document?

CC: @MicrosoftGuyJFlo

[2018-11-07 00:49] Mike-Ubezzi-MSFT commented on #18019
@tim-yan To provide some additional feedback, you can use a tool like whatismyip.com to identify which IP to use. Additionally, I found that in a corporate LAN environment there are numerous firewalls being traversed and  thus, a public IP undergoes multiple NAT (Network Address Translation) occurrences. In this case, the IP address from whatismyip.com (which should match your public IP from ipcon

[2018-11-07 00:49] #18019 closed

[2018-11-07 00:53] rezasherafat commented on #17804
@RipinAggarwal, metadata tracks last updated timestamp of each node in the json document, including both the leaf nodes as well as the inner nodes (non-leaf). In the page, the reason `2016-03-30T16:24:48.789Z` is repeated is the fact that it applies to leaf node `reported.telemetryConfig.sendFrequency`, as well as the 2 parent nodes `reported` and `reported.telemetryConfig`. Hope this helps.

[2018-11-07 00:56] Mike-Ubezzi-MSFT commented on #17054
@gregorvilkner The link is not public, as it references a part of the repository not available to customers. I believe that to be the case. Regardless, the document has been updated and you should see these updates shortly, if you don't see them already.

[2018-11-07 00:59] MarileeTurscak-MSFT commented on #18296
It should be possible. You just need to download the Remote Desktop client from iTunes and follow the steps in this guide. https://docs.microsoft.com/en-us/windows-server/remote/remote-desktop-services/clients/remote-desktop-ios

[2018-11-07 01:00] andrewatfornax opened #18343 "Missing Information - New Users"
In the text, it says "You should also have the Credential asset that's mentioned in the prerequisites."

Unfortunately, the prerequisites don't mention this - they just say you should have an Automation Account, with permissions that are required.

This means new users (which this page is aimed at) now need to go digging to try and find out what this means, and how to make it all work. The steps a

[2018-11-07 01:00] MarileeTurscak-MSFT commented on #18296
We will now proceed to close this thread. If you have further questions please tag me or @barbkess in the comments and we will gladly continue the conversation.

[2018-11-07 01:00] #18296 closed

[2018-11-07 01:02] KeiroKamioka0000 commented on #18276
I meant for restoring multiple VMs at the same time.

[2018-11-07 01:04] Mike-Ubezzi-MSFT commented on #16312
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-11-07 01:04] #16312 closed

[2018-11-07 01:12] sauryadas commented on #17981
@iainfoulds Sure.. thanks

[2018-11-07 01:12] MGoedtel commented on #18328
@andresravinet - Thank you for submitting your feedback regarding the use of the script to deploy the agent.  As the article points out, you need to update the ProductId value in the script with the product code from the latest version of the MMA installer package before using it. This is specified in the paragraph following the links to download the package -
**The 32-bit and 64-bit versions of t

[2018-11-07 01:13] MGoedtel commented on #18328
I'll bug this and tweak the article to make this more clearer.  Thanks.  #please-close

[2018-11-07 01:14] wesmc7777 commented on #17477
@formulahendry As long as your compiler of choice is recognized by CMake, you should be able to complete this example as shown.  What compiler and platform are you testing?

[2018-11-07 01:16] mike-urnun-msft commented on #17986
Hi @cgillum - Any thoughts on this one?

[2018-11-07 01:19] cgillum commented on #17986
@raych1 Application Insights will tell you the names of all the VMs that your functions are running on, so you can use that to determine how many unique instances are running your functions at any given time.

[2018-11-07 01:34] wesmc7777 commented on #17690
@sergaz-msft @zweim1 I've also reproduced this failure.  I'm investigating to see if this is a known issue at the moment.

[2018-11-07 01:38] jason-j-MSFT commented on #18231
@calinmarina I don't see this in Powershell or the REST API.  I would say automated ways of doing this is not supported at this time.

[2018-11-07 01:38] #18231 closed

[2018-11-07 01:40] jason-j-MSFT commented on #18211
@sharonlo101 could you take a look at this?

[2018-11-07 01:43] jason-j-MSFT commented on #18097
@saveenr could you take at look at this?

[2018-11-07 01:45] #18050 closed

[2018-11-07 01:47] BryanTrach-MSFT commented on #16146
@davojta @serverud @wald-tq @hkhamm We believe there might be a platform issue that is causing this behavior. We are currently investigating this issue and will reply back once we have a further update.

[2018-11-07 01:52] Alberto-Vega-MSFT commented on #18330
@itsknob Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-07 01:53] MicahMcKittrick-MSFT commented on #18318
Thanks for the question! We are investigating and will update you shortly.

[2018-11-07 01:59] jason-j-MSFT commented on #18303
@hrasheed-msft could you take a look at this request?

[2018-11-07 02:01] Alberto-Vega-MSFT commented on #18326
@williamdlupo Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-07 02:03] SaurabhSharma-MSFT commented on #18158
@rodji Can you please provide more information to proceed further with your concerns.

[2018-11-07 02:04] Alberto-Vega-MSFT commented on #18342
@sammym1982 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-07 02:04] jason-j-MSFT commented on #17494
@dearandyxu could you take look?

[2018-11-07 02:07] jason-j-MSFT commented on #17665
@linda33wj could you take a look?

[2018-11-07 02:13] conceptdev commented on #18171
@mscherotter thanks for your feedback. It looks like the Live SDK just recently reached end-of-life (see this [migration doc](https://docs.microsoft.com/en-us/onedrive/developer/rest-api/concepts/migrating-from-live-sdk?view=odsp-graph-online) for more info). We'll update this page to reflect the deprecation.

I haven't had a chance to do an exhaustive search, but perhaps this [Microsoft Graph Aut

[2018-11-07 02:14] BryanTrach-MSFT commented on #16146
@davojta @severud @wald-tq @hkhamm This issue is part of a known issue at this time. We have a fix for it and hope to have the fix deployed shortly.

Feel free to track the issue here: https://github.com/Azure/azure-cli-extensions/issues/388

[2018-11-07 02:16] femsulu commented on #18105
@jjindrich, while it is possible to export metrics data to Excel using [Application Insights](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-export-telemetry)? AFAIK, persistent data connection to Excel are not supported.
![image](https://user-images.githubusercontent.com/34327711/48106315-cdbdc700-e1ef-11e8-8973-4faea8658785.png)

If the underlying goal is to perform dee

[2018-11-07 02:16] femsulu commented on #18105
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2018-11-07 02:16] #18105 closed

[2018-11-07 02:20] femsulu commented on #18217
@mrbullwinkle any thoughts on this?

[2018-11-07 02:29] #18328 closed

[2018-11-07 02:32] jason-j-MSFT commented on #18315
@nick-wegner Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-07 02:32] jason-j-MSFT commented on #18300
@jdickson289 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-07 02:33] rizwaans opened #18345 "Execute custom script more than once."
Can someone please provide me an example on how to execute/invoke the existing customscript extension. I know the document suggested to use timestamp thing but I wasn't able to figure out the powershell script to do it. Help!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40aaccb8-19ba-168f-f5bf-65f1f5331541
* Version

[2018-11-07 02:37] adashen commented on #16699
@mikewiegand, jump into this issue when googleling. The reason of this error is your are using a normal device connection string instead of an edge device. So please register an IoT edge device in your IoT Hub and use the edge device connection string to setup iotedgehubdev again and run.

[2018-11-07 02:38] jason-j-MSFT commented on #18332
@JackHorlock Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-07 02:40] jason-j-MSFT commented on #18339
@alexmarshall132 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-07 02:40] gabrieli88 opened #18346 "Masters"
Hello

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7733e992-48c0-0f31-d9c4-8303064d63cc
* Version Independent ID: 609d9b6e-03d6-a8d8-3b86-6ca7021dba44
* Content: [Azure Marketplace and AppSource publishing guide](https://docs.microsoft.com/en-us/azure/marketplace/marketplace-publishers-guide)
* Content Source: [artic

[2018-11-07 02:41] AceHack opened #18347 "Please clarify warning"
I don't understand the warning.  Create new K8s after upgrading the tools?  What is "az aks use-dev-spaces -n &lt;your-aks-cluster&gt; -g &lt;your-aks-cluster-resource-group&gt; --update" for.  Your cluster has to already exist, so then you need to delete and recreate your cluster after running this command?  I'm very confused.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2018-11-07 02:45] AceHack opened #18348 "--update flag is not value"
The --update flag is not valid in this document

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2af5c40c-cd4e-f680-2c9a-ac1b0145b3a9
* Version Independent ID: 0d3ff836-0f48-1888-92c3-4014bc14b9e8
* Content: [How to upgrade Azure Dev Spaces tools - Azure Dev Spaces](https://docs.microsoft.com/en-us/azure/dev-spaces/how-t

[2018-11-07 02:46] femsulu commented on #18343
@andrewatfornax Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2018-11-07 02:50] femsulu commented on #18340
@chiragk25 Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2018-11-07 02:51] johngil1 commented on #18303
According to Sriram Vasudevan, HDI integration works only with AAD Ds on ARM based vNets.

From: Jason J <notifications@github.com>
Sent: Tuesday, November 6, 2018 9:00 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: johngil1 <johngil@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Configuration FAQ (#18303)

@hrasheed-msft<https://nam03

[2018-11-07 02:57] femsulu commented on #18346
@gabrieli88, need more information on your issue. please elaborate and we can assist.

[2018-11-07 03:09] hanabi1224 commented on #18049
@DiegoRamirez-MSFT  How about downloading files that are self-hosted on other azure VMs in the same region?

[2018-11-07 03:56] zweim1 commented on #17690
Additional Information:
I can assign the function to the custom allocation successfully if I use the Visual Studio to deploy Azure function, AND choose "Azure Functions v1 (.NET Framework)" when create function.
But if I choose "Azure Functions v2 (.Net Core)" when create new function in VS, the Group Enrollment page displays the same error as the function created using Azure portal.
Looks like th

[2018-11-07 04:41] andrewatfornax opened #18350 "Importing Module"
The documentation states that "... you can import the AzureRM-KeyVault module into Azure Automation".

However, it doesn't link to anywhere that I can see that explains how to do this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a107c5b-d222-3ade-80d3-657111781fc9
* Version Independent ID: f5dddea6-bff4-fe87-b367-1

[2018-11-07 04:59] gokul2018 opened #18351 "PAYG to CSP migration query"
Hi Team,

I am currently in the process of migrating the Azure resources from PAYG to CSP subscription. I have read the pre-requisites and best practices to complete the migration seamlessly.

Actually, what I concerned the most is the timeout issue that most users encountered. The timeout of 15 mins.
1.	How can I make sure my 400 resources can be migrated to CSP subscription within 15 mins?
2.	Un

[2018-11-07 05:16] ebashmakov commented on #18018
@vhorne your addition is important but this is actually not what has my interest.

I have read the note multiple times and after some time it became clear for me how it works. I think it shouldn't be just a note since it's quite important information. I spend quite a lot of time researching Application Gateway and it turns out that it's not what I need. I expected it to support some like IIS URL R

[2018-11-07 05:37] SteveLasker commented on #18288
Hi @Xorima  What are you using to login? A service principal? A user, the admin account?
Are you running this locally, or part of a CI/CD solution?

FWIW, I have noticed the az cli has been requiring me to login more frequently in the last few days...

[2018-11-07 05:56] zzulueta opened #18352 "What is "result""
Hello,

Your documentation is incomplete. What is "result" in the code here? It is not defined. Also it says that Futures.addCallback is already deprecated.

JSONObject payload = new JSONObject();
payload.put("access_token", result.getAccessToken());
ListenableFuture&lt;MobileServiceUser&gt; mLogin = mClient.login("{provider}", payload.toString());
Futures.addCallback(mLogin, new FutureCallback&lt

[2018-11-07 06:10] marinnedea commented on #18287
@cynthn
I'm not saying ADE doesn't work for OS disk on Linux, because it does.
However, there's no supported way to decrypt an Linux OS disk, at this moment, in Azure: https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption-faq#can-i-encrypt-both-boot-and-data-volumes-with-azure-disk-encryption and https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryptio

[2018-11-07 06:32] BenjaminStein commented on #17348
so luckily our version 6.9.1 is still running fine. May i ask if you have plans for further troubleshooting?

[2018-11-07 07:12] shizn commented on #17737
@sakkuru Could you share which Build Agent you are using? Is it Hosted Ubuntu 1604?

[2018-11-07 07:13] shizn commented on #17737
@michaeljqzq

[2018-11-07 07:17] MarkAtAgilliance opened #18359 "Config clarification"
In the configuration section, step 1, it may be worth re-emphasizing why AD endpoint is needed to authenticate the VNet.  In other services (like Microsoft.Sql or Microsoft.KeyVault endpoints), this step doesn't appear to be needed so may confuse people.  It did for me until I went back to the into that touched on this point.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-11-07 08:01] Skorfulose commented on #18232
Hi @MarkusVi ,
mh so I am still not sure what causes hybrid join to fail on these devices. I will probably have to open a support case. But this defeats the sense of the troubleshooting guide, right? 😉

Also please elaborate on the following statement from the article:
"In this case, the account is ignored when using the Anniversary Update version of Windows 10 (1607)."

- What does it mean that t

[2018-11-07 08:01] FluxReality commented on #16384
Hi @yzhong94 and thanks for your reply.

It might just be me not being able to navigate or misunderstand the documentation, but if you take a class like `IotHubClient `and the method `set_message_callback` It has a few overloads that I can not find in the [C-documentation](https://docs.microsoft.com/en-us/azure/iot-hub/iot-c-sdk-ref/iothub-device-client-h/iothubdeviceclient-setmessagecallback).

A

[2018-11-07 08:06] Skorfulose opened #18362 "Include note for problems with RS3 and alt logon id"
Please include a note about the problems with RS3 (seemingly fixed in RS4 and above) in combination with alt logon id and a non-registered UPN suffix mentioned here:
https://treeforestcloud.wordpress.com/2018/05/19/azure-hybrid-join-with-alternate-login-id-and-adfs/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9f81d

[2018-11-07 08:09] kudlatiger opened #18363 "Is time series saves my data for future retrieval ?"
Right now I am planning to pump my data in to time series insights. but additionally do I need to store it in some cosmoDB for future retrieval. ? or time series can act as datastore?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e98db64d-9617-991a-4145-3f5cc280d966
* Version Independent ID: d6d4e34a-25ad-7152-85a9-a0

[2018-11-07 08:11] willyrj commented on #18220
Yes, first restart the adfs service and then when it didnt work restart the server.
Thanks.

[2018-11-07 08:15] lukdlu commented on #8961
Looks like the issue is caused by the fact, that when trying to access vhd from DTLab the only possibility is to use Grant-AzureRmDiskAccess (I'm I mistaken?), which is providing uri with some kind of hash and not "plain" one - and this is a problem

[2018-11-07 09:11] jmpichardo commented on #18295
Thanks @iainfoulds, that makes sense because I used AKS.
I will close the issue then.

[2018-11-07 09:11] #18295 closed

[2018-11-07 09:40] jasonwangnanjing opened #18364 "why only .pfx certificate can be uploaded?"
Hi Azure,

I am using keyvault object to store certificate.But it only allowed to upload .pfx certificate.Why it do not support upload .cer .crt format?

[2018-11-07 09:42] herckens-mt opened #18365 "Link to pricing is missing"
It seems like in "Next steps", there should be a link to a IoT Hub pricing page. This link is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45b76f3e-0318-070e-ff9f-0598ed6379b1
* Version Independent ID: 52d8706b-30a2-93db-020c-1dc7098730f9
* Content: [Azure IoT Hub scaling](https://docs.microsoft.com/en-us/az

[2018-11-07 09:53] dominicbetts commented on #17948
@mbialecka - that's a great suggestion thanks. I'll make some changes to the article that should publish in the next few days.
#please-close

[2018-11-07 09:54] hilfans opened #18366 "add information if failed to Login"
in step Shrink the database, at step 4. is very useful if add some information for user failed to Login to localdb

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25ae7f53-8fe9-75af-9559-3369161174f4
* Version Independent ID: 3cfb4576-a6f7-7b05-4f41-1a991efb5978
* Content: [Azure AD Connect: How to recover from LocalDB

[2018-11-07 10:04] kkho commented on #18225
Any updates @MicahMcKittrick-MSFT ?

[2018-11-07 10:10] win2000b opened #18367 "Duplication"
Under Configure the local intranet settings for device registration, is there a reason the device login URL is listed twice.

https://device.login.microsoftonline.com
https://device.login.microsoftonline.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9c51404-0a1b-c22e-e220-ce4126ff88d0
* Version Independent ID: bd

[2018-11-07 10:12] calinmarina commented on #18231
thanks for confirming it @jason-j-MSFT ...
I'd state this in the page somewhere as the way it's written now makes you think it is, via Powershell, but you can only do it manually via portal :(

[2018-11-07 10:15] davidjamartin opened #18368 "PHP_EXTENSIONS discontinued?"
Has the PHP_EXTENSIONS approach been discontinued, as it recently stopped working on my site (Azure Web App - PHP 7.2), the solution was to use the technique described for PHP_INI_SCAN_DIR?

The last time it was known to work was 30th October 2018.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e564777-8d59-9065-6f0d-

[2018-11-07 10:37] Marinagt opened #18369 "File system helthy state before resize a disk"
We hav a case where customer resized a disk , as machine was restarted FSCK was triggered  and orphan inodes deleted (data was lost)   as there was  file System has corruption preiously the resize  .

Same way we are warning our Customers to trigger a Backup before the operation  , can  include  a recommendation/tip/warning for  them to verify the file System is in healthy state before perfom the

[2018-11-07 10:41] wald-tq commented on #16146
My resolution was to use Azure Storage to host my static app.

[2018-11-07 11:10] anfelbeghoura commented on #18282
thank you I'm gonna update my rungtime and I'll see.

I'm facing other troubles , I used azure-iot-hub-sdk-C to connect a downstream device to the IoT Gateway (using Iot Edge). My device is the ESP32. So I tried to fix the program and the libraries, but I had a problem with IDF-ESP.  So if  there is an updated version for the ESP32 please let me know
Thank you

[2018-11-07 11:36] vicperdana opened #18370 "Managed disks support for VMware failback and failover"
I read before that Managed disks are not supported for a VMware failback scenario.  Is this now supported?  Thanks for clarifying.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 078d3818-692c-79ec-53d2-3e646270db20
* Version Independent ID: 41337efa-df45-44c9-c076-5a75a160e1b3
* Content: [Fail over and fail back VMware

[2018-11-07 11:36] Ahmad-Al-Ali commented on #17965
Hello., thank you for taking this issue, please find below screenshot. and error I'm getting

{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.","details":[{"code":"NotFound","message":"{\r\n \"Code\": \"NotFound\",\r\n \"Message\": \"Repository 'UpdateSiteSo

[2018-11-07 11:41] Xorima commented on #18288
I am using an Azure Active Directory account which is replicated from an onsite active directory server

My current workflow is something along the lines of (local):
run: `az acr helm repo add --name <name>`
run: `helm repo update`

I would expect this to work for at least a full working day, unfortunately after a few hours I have to re-authenticate, I am not actively working with helm during this

[2018-11-07 11:44] rayne-wiselman commented on #18370
@vicperdana . Hi, this is supported.

I don't see a statement in this article to the contrary. If you can let me know where you've seen that statement I'll fix that source.

Thx - #please-close

[2018-11-07 11:51] Mostafa-Yousry opened #18371 "Dv2 and DSv2 and Av2 should show Cores not vCPU"
I think we should change the column name for these VM series because in the calculator it is showing as cores not vCPU.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bb1d37c-6337-0906-42ff-b5dbc6afdc8b
* Version Independent ID: 72a96e16-1d2d-4c01-45be-3caf82470592
* Content: [Azure Windows VM sizes - General purpose]

[2018-11-07 12:34] stofte opened #18373 "Deletion of Azure B2C tenants"
Where is the "delete" button mentioned in the deletion guide?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc5e148d-b7cf-92e7-4cc7-a65d20d037b6
* Version Independent ID: 2ba6e31b-5899-f35a-0f08-d280110ded13
* Content: [Frequently asked questions for Azure Active Directory B2C](https://docs.microsoft.com/en-us/azure/a

[2018-11-07 12:40] MGoedtel commented on #18350
Please reassign to @georgewallace, who owns all the Automation content.  Thanks!

[2018-11-07 13:25] AzureStackNerd opened #18374 "Known Issue Networking #2"
"Azure Stack supports a single local network gateway per IP address. This is true across all tenant subscriptions. After the creation of the first local network gateway connection, subsequent attempts to create a local network gateway resource with the same IP address are blocked."

1. Does this mean this gets resolved in 1810 (or later)?
2. I am confused about the sentence "This is true across al

[2018-11-07 13:54] jayendranarumugam commented on #8390
@BryanTrach-MSFT I'm having a problem with enabling the SSL binding for my web app.

Could you please see the below link
https://stackoverflow.com/questions/53094316/azure-no-certificates-match-the-selected-hostname-even-it-has-the-certificate

I've purchased the SSL Certificate from GoDaddy (3rd part).

My question is
Do I need to export the certificate before moving my WebApp, then upload it man

[2018-11-07 13:56] mgblythe commented on #16411
@aravish and @victorp13 - the article should now be correct and up to date. Thanks for the feedback.

[2018-11-07 13:57] mgblythe commented on #16411
@Mike-Ubezzi-MSFT - please close

[2018-11-07 14:04] CKeene78 commented on #17853
Checking in: update to this issue/doc?

[2018-11-07 14:05] zivkan opened #18375 "SDK no longer available"
The nuget package that needs to be installed is no longer listed on nuget.org.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6793619-efc3-eb91-793c-b5d38369a5a1
* Version Independent ID: 388a2155-2661-bed0-bffc-416eb290ebd8
* Content: [Quickstart: Bing Spell Check SDK, C#](https://docs.microsoft.com/en-au/azure/cogni

[2018-11-07 14:19] pazdedav opened #18376 "Blueprint assignment scope clarification + two more questions"
Hi team. I am really excited about Azure Blueprints. I have couple of questions/comments:

1. In the 'Blueprints and management groups' section you wrote: "The blueprint is available to assign to any child (management group or subscription) of that management group." But in the 'Permissions in Azure Blueprints' section you wrote: "As blueprint assignments are created on a subscription, the bluepri

[2018-11-07 14:45] sergaz-msft commented on #17804
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-07 14:45] #17804 closed

[2018-11-07 14:48] DCtheGeek commented on #18376
@pazdedav Thanks for the question and we are glad to hear you are excited about Blueprints!

- Good catch, that should just say subscriptions.  Blueprints can't be assigned to a management group today. Will get the doc fixed!
- Role and policy assignments are artifacts in Blueprints, so you can deliver them in a blueprint if it makes sense within the context of that blueprint. If a role or policy

[2018-11-07 15:14] Joogle commented on #11420
Is the support of X.509 certificates implemented by now?
[Here](https://feedback.azure.com/forums/907045-azure-iot-edge/suggestions/34812739-support-x-509-certificates-in-iot-edge-for-raspbia) the status still is "Planned" but [this](https://docs.microsoft.com/en-us/azure/iot-dps/quick-create-simulated-device-x509) is a tutorial about provisioning  a virtual device with X.509 certificates.

[2018-11-07 15:14] davebanthorpe opened #18377 "openssl verification failure"
Have followed the above guide but when I try to run an openssl connection verification test as below, I get the following error. Note I am running this command from the same directory as where the certs reside.

openssl s_client -connect &lt;edgeFQDN&gt;:8883 -CAfile azure-iot-test-only.root.ca.cert.pem

    Start Time: 1541602843
    Timeout   : 300 (sec)
    Verify return code: 20 (unable to get

[2018-11-07 15:37] jsandersrocks opened #18379 "Port 4024"
Customer reporting that Port 4024 is now open.  I assume this is for VS 2019?  Can you document this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 170e617a-423c-d4a2-ed52-8869dfcdd5d9
* Version Independent ID: b703eb35-f291-465b-d46a-889cb2c8f9a6
* Content: [How To Control Inbound Traffic to an App Service Environmen

[2018-11-07 15:37] sergaz-msft commented on #17948
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-07 15:37] #17948 closed

[2018-11-07 15:42] sergaz-msft commented on #18282
Hi @anfelbeghoura , I believe that you are having issues with azure iot sdk c for that specific device and not with iotedge. Therefore I suggest that you open a new issue [here](https://github.com/Azure/azure-iot-sdk-c/issues).

Thank you!

[2018-11-07 15:43] richardharrison2 opened #18380 "SLES support"
We love this feature but have a mix of linux os's. The biggest os missing for us is SLES - is this on the roadmap?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb8e2623-1f79-aee3-bd97-8b5f647b6980
* Version Independent ID: 6346b54d-cc8d-0b79-a6b8-f9144cfa2459
* Content: [Log in to a Linux VM with Azure Active Directo

[2018-11-07 15:43] lewislivingstone opened #18381 "Validation Move Link Broken"
In the Validate Move section, the link is broken.

https://docs.microsoft.com/en-us/rest/api/resources/resources/resources_validatemoveresources

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move Azure resou

[2018-11-07 15:46] spelluru commented on #18170
@axisc

[2018-11-07 15:53] sergaz-msft commented on #11420
Hello @Joogle . IoTHub supports X509 and DPS. The same doesn't happens for IoTEdge yet. IoTEdge [latest version is 1.0.4](https://github.com/Azure/azure-iotedge/releases/tag/1.0.4).

Thanks!

[2018-11-07 15:56] nick-wegner commented on #18315
Jason,

This actually works fine.  You have to have the correct subscription selected to make it work, which is totally my fault.  I'm going to close this.  Sorry for false alarm!

[2018-11-07 15:56] #18315 closed

[2018-11-07 15:59] anfelbeghoura commented on #18282
I updated the vesion of the iotedge runtime and it works thank you

[2018-11-07 15:59] #18282 closed

[2018-11-07 16:11] danielcrisp commented on #18195
I'm having the same issue (just like #17280) and I'm not behind a proxy.

Where the error message says:

Does that suggest that it is trying to use the hostname `raspberrypi`? Because my device doesn't use that hostname.

[2018-11-07 16:12] bertrandpons opened #18382 "Documentation about powershell script Set ConnectionString for Azure Web App"
Hi,

Would it be possible to have a documentation on the right powershell commands to use in order to set connection strings (and appsettings) for an azure web app ?

It doesn't seem to be indicated on the page [Configure web apps in Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/web-sites-configure)

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is r

[2018-11-07 16:16] davojta commented on #16146
I fixed problem with setup service account and using zip deployment: i've written a simple script to make zip archive from the folder with source file and then i upload archive using zip deployment + service account to run it on CI

[2018-11-07 16:19] danielcrisp commented on #18195
Ok, just found a hostname setting in `/etc/iotedge/config.yaml` which was set to `raspberrypi`. Changing that for the actual hostname has resolved error messages shown above, but I'm yet to receive any D2C messages.

[2018-11-07 16:32] paololec opened #18383 "Missing SharePoint 2019 support indication"
Missing SharePoint 2019 support indication

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52f7582c-c2a6-87bb-d236-2066e727c90c
* Version Independent ID: 1cbc7ee7-2518-137a-f6d6-d1d62a1a1bc3
* Content: [What can Azure Backup Server back up](https://docs.microsoft.com/en-us/azure/backup/backup-mabs-protection-matrix)
* C

[2018-11-07 16:41] lesterw1 opened #18384 "PowerShell Version of tutorial?"
Is there a way to accomplish the above steps using PowerShell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96b35262-d52a-00f0-e8f8-225322f9c156
* Version Independent ID: dd46aa98-a9b7-954e-77a5-1f2a0bcf3879
* Content: [Tutorial - Archive Azure Active Directory logs to an Azure storage account (preview)](https://docs

[2018-11-07 16:43] mddazure opened #18385 "Outbound-rule"
the outbound-rule parameter in the example above does not exist:
az network lb: error: argument subcommand: invalid choice: outbound-rule
usage: az network lb [-h]
                     {create,delete,show,list,update,frontend-ip,inbound-nat-rule,inbound-nat-pool,address-pool,rule,probe}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2018-11-07 16:54] spacewu opened #18386 "response body is empty"
Dear All,I'm using Android Studio,when I debuging this API ,logs display in the console is response code 200,but response body is empty,No error message,I can't find any problems,Code as follows，thanks
        OkHttpClient client = new OkHttpClient();
        MultipartBody.Builder requestBody = new MultipartBody.Builder().setType(MultipartBody.FORM);
        if (file != null) {
            Request

[2018-11-07 16:55] Adam-Smith-MSFT commented on #18383
@paololec it doesn't seem to be supported officially yet since I couldn't find any official release notes regarding this support.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-11-07 16:55] #18383 closed

[2018-11-07 16:56] CalumJEadie opened #18387 "Implementing Always Encrypted in ASP.NET Core / EF Core"
What is the current maturity of the Always Encrypted feature in an ASP.NET Core / EF Core environment. We are looking to use add Always Encrypted to an existing ASP.NET Core / EF Core / SQL Server web application and would be great to get more information on that use case.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-11-07 17:03] marcusmills opened #18388 "Must choose "Business Critical" pricing tier for online migrations"
^^

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04c3b39d-7881-8c85-0a66-e5cd6f971427
* Version Independent ID: b5cb6daf-f6da-f62d-4bfb-d6eee57c8b4a
* Content: [Tutorial: Use the Azure Database Migration Service to perform an online migration of SQL Server to Azure SQL Database](https://docs.microsoft.com/en-us/azure/

[2018-11-07 17:06] #18370 closed

[2018-11-07 17:14] PaulTzl opened #18389 "How to Blueprints relate to driving deployments via VSTS/Azure DevOps"
This looks interesting, but trying to understand how driving deployments via this approach contrasts with deploying ARM templates from VSTS/Azure DevOps. Could you explain when you see each being used and how the two relate to each other? Many thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1b33f46-674b-d3ef-76

[2018-11-07 17:15] tfitzmac commented on #18381
@lewislivingstone - thanks for this feedback. I have submitted a fix.

[2018-11-07 17:20] hkhamm commented on #16146
I did the same thing as @davojta. After building I did:

[code]

[2018-11-07 17:34] tchristiani commented on #5934
Please reassign to @PatrickFarley

[2018-11-07 17:35] tchristiani commented on #7523
Please reassign to @PatrickFarley

[2018-11-07 17:35] #18381 closed

[2018-11-07 17:37] Mike-Ubezzi-MSFT commented on #18387
@CalumJEadie Thank you very much for your interest in Azure services. We are currently investigating this and will update you shortly.

[2018-11-07 17:37] tchristiani commented on #12886
please reassign to @gopitk

[2018-11-07 17:37] loothood commented on #11486
I there an arm template example(mount azure files to windows server)?

[2018-11-07 17:41] MicahMcKittrick-MSFT commented on #18380
Thanks for the question! We are investigating and will update you shortly.

[2018-11-07 17:42] Grace-MacJones-MSFT commented on #18352
Hi @zzulueta, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-11-07 17:42] tchristiani commented on #10162
#please-close

[2018-11-07 17:42] MicahMcKittrick-MSFT commented on #18345
Thanks for the question! We are investigating and will update you shortly.

[2018-11-07 17:43] MicahMcKittrick-MSFT commented on #18369
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-07 17:43] Grace-MacJones-MSFT commented on #18379
Hi @jsandersrocks, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-11-07 17:44] MicahMcKittrick-MSFT commented on #18371
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-11-07 17:44] Grace-MacJones-MSFT commented on #18368
Hi @davidjamartin thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-07 17:45] basilhariri commented on #9289
For anyone searching for a Kafka-enabled Event Hubs .NET sample in the future, here is a link to the official sample:

https://github.com/Azure/azure-event-hubs-for-kafka/tree/master/quickstart/dotnet

[2018-11-07 17:45] tchristiani commented on #6880
please reassign to @PatrickFarley

[2018-11-07 17:47] tchristiani commented on #11923
please reassign to @PatrickFarley

[2018-11-07 17:48] jason-j-MSFT commented on #18359
@MarkAtAgilliance Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-07 17:50] alex-frankel commented on #18389
Blueprints are more appropriate when you are deploying an environment "pattern" many times for different application teams. For example, you may set up app teams with similar RBAC, policies, network peering, and default storage accounts.

That being said, you don't need to choose *between* Blueprints and ARM. All of your ARM templates can be easily integrated into a Blueprint. You also can deploy/

[2018-11-07 17:51] dmgeurts commented on #15922
CASB solutions only provide access to documents stored in your own tenancy, not outside. Microsoft does provide Azure tenancy controls, they require SSL interception of the login traffic. Apart from that, there's only agent-based DLP which might help a little now that Microsoft is using certificate pinning.

[2018-11-07 17:52] jontreynes opened #18390 "grammar check"
Please correct this sentence :)

Check that all the latest root certificates are present on the Windows or Linux VMs you want to replicate. If the latest root certificates aren't, the VM CAN'T REGISTERED to Site Recovery, due to security constraints.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c714cc40-47f5-fb3c-51e

[2018-11-07 17:53] lisaguthrie commented on #18283
1.9.6 is the minimum _required_. We strongly _recommend_ using the latest available k8s version, which is currently 1.11.3 (we should update that command line). It's confusing, I know :( Open to suggestions on how to reword. We don't want people to say, "Oh, my cluster is v1.9.6 and I can't upgrade so I can't use Dev Spaces," but we also don't want people who are creating a brand-new cluster to us

[2018-11-07 17:54] tchristiani commented on #9883
@YutongTie-MSFT please reassign to @aahill

[2018-11-07 17:55] lisaguthrie commented on #18283
I should mention, too, that I have an ask in to update the CLI so that it always defaults to the latest version when the `--version` argument isn't explicitly specified. In which case, we'll be able to remove that argument from the suggested `az aks create` command line, which may address the confusion. But, we're not there quite yet.

[2018-11-07 18:00] spelluru commented on #17743
The article has been updated.
#please-close

[2018-11-07 18:01] spelluru commented on #14176
#please-close

[2018-11-07 18:01] spelluru commented on #14176
The article has been updated.

[2018-11-07 18:02] spelluru commented on #12580
#please-close

[2018-11-07 18:02] sethmanheim commented on #11561
@Mike-Ubezzi-MSFT Can you please reassign this issue to spelluru? It looks like he is handling this.

[2018-11-07 18:04] MarileeTurscak-MSFT commented on #18362
@Skorfulose
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-07 18:05] spelluru commented on #12072
I have it working with RootManageSharedAccessKey.

#please-close

The article has been updated. Thanks.

[2018-11-07 18:05] spelluru commented on #11974
#please-close

[2018-11-07 18:06] MarileeTurscak-MSFT commented on #18350
@andrewatfornax
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-07 18:07] spelluru commented on #11561
@clemensv - please review as soon as you can. Thanks.

[2018-11-07 18:12] MicahMcKittrick-MSFT commented on #18002
@ganrad I will close this out for now. As @dlepow mentioned, to mount multiple locations you will need to use a .yaml file rather than CLI alone. If you have issues trying the above let me know and we can always reopen and continue.

[2018-11-07 18:12] #18002 closed

[2018-11-07 18:12] Grace-MacJones-MSFT commented on #18382
Hi @bertrandpons, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-11-07 18:14] ehsan67 commented on #8227
This issue still exists in 4.3.0.

[2018-11-07 18:15] MarileeTurscak-MSFT commented on #18367
@win2000b
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-07 18:16] Adam-Smith-MSFT commented on #18276
@KeiroKamioka0000 You should be able to, each backup has a separate restoration point, so technically they would be separate independent workloads, which should allow you to restore multiple VMs at the same time.  Let me know if this helps.

[2018-11-07 18:17] MarileeTurscak-MSFT commented on #18366
@hilfans

[2018-11-07 18:17] Adam-Smith-MSFT commented on #18390
@jontreynes Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-07 18:19] tchristiani commented on #15387
#please-close

[2018-11-07 18:20] MarileeTurscak-MSFT commented on #18373
@stofte
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-07 18:20] SeanFeldman commented on #14176
👍 thank you.

[2018-11-07 18:21] tchristiani commented on #16100
#please-close

[2018-11-07 18:30] tchristiani commented on #13848
Translator Speech is being retired and no enhancements to this doc set will be made. Please consider migrating your project to the new Speech Service. The migration guide can be found here: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-migrate-from-translator-speech-api.

[2018-11-07 18:31] tchristiani commented on #13848
#please-close

[2018-11-07 18:32] #18376 closed

[2018-11-07 18:32] iainfoulds commented on #18283
Thanks, @lisaguthrie. That makes sense. I've created a work item to clean up the wording on version requirements here.

@guybartal As Lisa notes, 1.9.6 is the minimum version for Dev Spaces, but you should use the latest available based on `az aks get-versions` for your location.

CC: @sauryadas who is also pushing for change in the Azure CLI behavior on the default version used when creating an A

[2018-11-07 18:32] MarileeTurscak-MSFT commented on #18364
Hi @jasonwangnanjing ,

It's in the backlog for the product team. If you would like to leave this as a feature request please do so on https://feedback.azure.com/forums/906355-azure-key-vault

[2018-11-07 18:32] jsandersrocks opened #18391 "Add and remove ports"
With ANT78 release we have ports 4020(VS 2015 debugger), 4022(VS 2017 debugger) and 4024(VS 2019 debugger) open.
Also with ANT78, we closed ports 4016 and 4018 as we no longer support remote debugging from VS2012 and VS2013.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89142752-64bc-31c2-9189-aa2c2dcf2997
* Version I

[2018-11-07 18:32] MarileeTurscak-MSFT commented on #18364
We will now proceed to close this thread. If you have further questions please tag me in the comments and I will gladly continue the conversation.

[2018-11-07 18:32] #18364 closed

[2018-11-07 18:33] Alberto-Vega-MSFT commented on #18386
@spacewu Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-07 18:33] jsandersrocks commented on #18379
also remove the old
With ANT78 release we have ports 4020(VS 2015 debugger), 4022(VS 2017 debugger) and 4024(VS 2019 debugger) open.
Also with ANT78, we closed ports 4016 and 4018 as we no longer support remote debugging from VS2012 and VS2013.

[2018-11-07 18:35] rajeshsetlem opened #18392 "Typo"
Typo at this statement" Provides a connection endpoint for server and database access (.postgresql.database.azure.com)."
It should be .postgres.database.azure.com instead of .PostgreSQL...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce06598d-eeb6-3cd8-4a15-f013d8d7b69b
* Version Independent ID: 185e53b3-e2eb-0d70-fa

[2018-11-07 18:35] lisaguthrie commented on #18283
@iainfoulds - can you make sure to clean up wording in the tutorials for Node.js and .NET Core on VS Code as well? I think they have the exact same text.

[2018-11-07 18:36] wolfma61 commented on #17592
There is actual dev work in progress right now to fix this
it didn't make it into the just release version 1.1 ... hopefully in the next refresh

[2018-11-07 18:37] Alberto-Vega-MSFT commented on #18375
@zivkan Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-07 18:37] iainfoulds commented on #18283
@lisaguthrie Yep, I'll update across all docs that detail versioning since all quickstarts and tutorials likely have this.

[2018-11-07 18:38] DiegoRamirez-MSFT commented on #18179
Hi Chacko

Can't seem to find their user ID in GitHub, could you please provide so I can re assign this?

Best

Diego

From: Chacko Daniel
Sent: Monday, November 5, 9:13 PM
Subject: Re: [MicrosoftDocs/azure-docs] Compare reliable services to external stores (#18179)
To: MicrosoftDocs/azure-docs
Cc: Diego Ramirez, Comment

Diego – can you assign this to Preetha and Mani, who I have copied on this.

[2018-11-07 18:38] DCtheGeek commented on #18389
@MicrosoftDocs/azure-cxp-triage Please assign to @alex-frankel and myself, label as 'product-question', and #in-progress.

[2018-11-07 18:40] kkho commented on #18225
it seems I still have a problem. In the keyvault. it has a get permission in the access policies. However, When I log into the container and get the access token. When I use the access token to retrieve my secret key. It still gets unauthorized (in POSTMAN) or no answer back when I have logged into the container bash.

[2018-11-07 18:42] rajeshsetlem opened #18393 "Another Typo"
It should be three instead of two
"An Azure Database for PostgreSQL server has two default databases"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce06598d-eeb6-3cd8-4a15-f013d8d7b69b
* Version Independent ID: 185e53b3-e2eb-0d70-fa85-b9705d10a9bd
* Content: [Server concepts in Azure Database for PostgreSQL](https://d

[2018-11-07 18:43] tchristiani commented on #18286
@Alberto-Vega-MSFT please reassign this to @PanosPeriorellis

[2018-11-07 18:44] tchristiani commented on #17188
@YutongTie-MSFT please reassign to @wolfma61

[2018-11-07 18:44] davidmu1 commented on #17918
Changed the prerequisite to:

Make sure that you have access to a certificate .pfx file with a private key. You can generate your own signed certificate and upload it to Azure AD B2C. Azure AD B2C uses this certificate to sign the SAML request sent to your SAML identity provider.

#please-close

[2018-11-07 18:46] Karishma-Tiwari-MSFT commented on #18057
@chrisvoisey  We will now close this issue. PLease come back whenever you are ready. we will reopen it and gladly continue the discussion.

[2018-11-07 18:46] #18057 closed

[2018-11-07 18:47] tchristiani commented on #14897
fixed. #please-close

[2018-11-07 18:49] wolfma61 commented on #17188
neither author nor owner of this ... @PanosPeriorellis

[2018-11-07 18:50] tchristiani commented on #17188
OK, thank you! @YutongTie-MSFT please reassign back to @PanosPeriorellis

[2018-11-07 18:53] iainfoulds commented on #17981
Added link to the Azure update channel. This change should publish later on this afternoon.

[2018-11-07 18:55] davidmu1 commented on #17942
It's possible that the article was revised since this issue was submitted. The link currently goes to the conceptual overview article about application types: https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-apps.

#please-close

[2018-11-07 18:56] #17981 closed

[2018-11-07 18:59] msekkappan opened #18394 "Response method is missing under "add supporting functions and structures""
public struct Response
        {
            public HttpResponseHeaders headers;
            public string response;

            public Response(HttpResponseHeaders headers, string response)
            {
                this.headers = headers;
                this.response = response;
            }
        }

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2018-11-07 19:00] chrisvoisey commented on #18057
There are other issues appearing on the system as well.
“UpdateUptimeRegKey: Operating system error 2(The system cannot find the file specified.) encountered.”

This issue is quite concerning because now the properties for the SQL server are inaccessible from
Management studio.

Thank you,
Chris Voisey
Senior Consultant
Covenant Technology Partners
Office: 636-481-8094
Cell: 573-999-4891

We help

[2018-11-07 19:01] Mr-Schneider commented on #17866
Can I get some clarification on the contraints of this field? There does not seem to be a character limit specified in the docs that I can see. I am also running into this error but would like to avoid shortening my aws arn role name.

[2018-11-07 19:02] conceptdev commented on #18352
Hi @zzulueta `result` is an `AuthenticationResult`, see the longer code example in the [ADAL section](https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mobile-android-how-to-use-client-library#adal) just below the code snippet you mentioned.

I'll see if I can make this clearer in the doc.

Thanks for the note about the deprecated method - I'll pass that on.

[2018-11-07 19:04] diberry commented on #18394
@msekkappan Thank you for reporting this. It will be fixed immediately.

[2018-11-07 19:08] Karishma-Tiwari-MSFT commented on #18318
Test

[2018-11-07 19:10] PatAltimore commented on #18277
@oaks-view I contacted the product team owner for this template about your issue. He's out of town.  For support, you can always post questions to the blockchain forum here: https://aka.ms/workbenchforum.

Pat

[2018-11-07 19:12] Karishma-Tiwari-MSFT commented on #18318
Test2

[2018-11-07 19:15] Karishma-Tiwari-MSFT commented on #18318
@dlepow Can you please help the customer in clarifying the statement in the doc. Thanks. :)

[2018-11-07 19:17] diberry commented on #18166
#please-close

[2018-11-07 19:18] strohne commented on #17188
You Microsoft people are so funny. :) After 20 days, do we really have a bunch of reactions here, none ist helpful?

I really spent a lot of time to get batch speech recognition working with your REST API. Until now, it doesn't work. The main problems:
- Which of the various endpoints should I use (URL)?
- Where should I register and which of the numerous subscription keys is right?

I uploaded my

[2018-11-07 19:20] tchristiani commented on #15563
@Mike-Ubezzi-MSFT please reassign to @aahill

[2018-11-07 19:20] diberry commented on #18284
@nicojdejong Thank you for asking the question. I'm investigating an appropriate answer. #in-progress.

@Alberto-Vega-MSFT please assign this issue to me.

[2018-11-07 19:22] EmandM opened #18395 "Typo"
At the top of the file should be "When using linked **templates**"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ec87df7-43e5-2d11-3546-9f338534e560
* Version Independent ID: c5319e4e-7d0c-6c94-b53e-6689f2d041c2
* Content: [Link templates for Azure deployment](https://docs.microsoft.com/en-us/azure/azure-resource-man

[2018-11-07 19:27] Karishma-Tiwari-MSFT opened #18396 "Typo"
Updated to update

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40aaccb8-19ba-168f-f5bf-65f1f5331541
* Version Independent ID: 6cdfd166-633a-50a3-2b45-cde0e991e540
* Content: [Azure Custom Script Extension for Windows](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/custom-script-windows)
* Content

[2018-11-07 19:29] Alberto-Vega-MSFT commented on #17919
Hi @SamirFarhat You might want to read this if you haven't yet https://docs.microsoft.com/en-us/azure/data-factory/join-azure-ssis-integration-runtime-virtual-network

[2018-11-07 19:31] #18352 closed

[2018-11-07 19:43] ChackDan commented on #18179
@Preetha Subbarayalu<mailto:preethas@microsoft.com> and @Subramanian Ramaswamy<mailto:subramar@microsoft.com> – can you respond with your git-hub accounts.

From: Diego Ramirez <notifications@github.com>
Sent: Wednesday, November 7, 2018 10:38 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Chacko Daniel <chackdan@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re

[2018-11-07 19:48] #18171 closed

[2018-11-07 19:48] Karishma-Tiwari-MSFT commented on #18396
I have opened a PR for this change. It will be live shortly
https://github.com/MicrosoftDocs/azure-docs-pr/pull/57410

[2018-11-07 19:48] #18396 closed

[2018-11-07 19:56] DimsumPanda commented on #18214
@MarileeTurscak-MSFT Yup and that works fine. I just wanted to know if it doesn't work if the application was created in the Application Registration Portal.

[2018-11-07 19:57] manishgonsalves commented on #12453
I am seeing the exact same issue. The drop down just stays at loading and never populates. I have Owner access to the subscription.

[2018-11-07 19:58] Karishma-Tiwari-MSFT commented on #18380
@deosandeep Can you please share if you have the information on the roadmap for adding SLES to AADForLinuxExtension. Thanks. :)
@richardharrison2 Please provide your feedback/feature-request [here](https://feedback.azure.com/forums/169401-azure-active-directory)
This allows you to get direct feedback on your request from engineering, and will also allow other customers to vote it up for prioritiza

[2018-11-07 20:01] ajaypamarthy commented on #18264
I am trying ARM template to stream AAD logs into log analytics & event hub. I am looking for specific resource provider at tenant level. Somewhere in other part of document section, currently it is not supporting at tenant level.

[2018-11-07 20:02] simardst opened #18397 "Multi-tenancy"
Is there nay guidelines how to implement multi-tenancy with the IoT Hubs?  Is creating 1 IoT Hub per client an option?  If so, the limited number of IoT Hub allowed per susbscription would be problematic.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46282564-724c-bc0d-7c74-bb30ee8653aa
* Version Independent ID: c4f80

[2018-11-07 20:03] kobulloc-MSFT commented on #18347
@AceHack Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-11-07 20:04] kobulloc-MSFT commented on #18348
@AceHack Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-11-07 20:05] simardst opened #18398 "Identity translation gateway"
Can you provide more details and/or samples on how to implement the identity translation gateway scenario?
How can a module publish events on behalf of a leaf device?
How can a module subscribe to leaf device twins updates?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22ebfe95-4ec9-e071-bc89-67ea25905d37
* Version In

[2018-11-07 20:09] chargerback-ron opened #18399 "Steps are reversed"
Steps 1 and 2 are reversed in Resource Manager to Resource Manager peering with gateway transit. In Step 1, you cannot select Use remote gateways until you have setup peering from the VNet that has the gateway and have selected Allow gateway transit.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d098f17-7f58-4304-063

[2018-11-07 20:11] MarileeTurscak-MSFT commented on #18367
@win2000b can you screenshot where you see this? I don't see it in the document in that section.

[2018-11-07 20:13] Ayanmullick opened #18400 "Reprotection PowerShell steps missing"
The final step during any DR Drill is to reprotect and failover again. One needs the PowerShell steps to reprotect 'Protected items'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32d3f437-872e-7927-2652-6d2606a3342a
* Version Independent ID: 06a7db7e-4ce0-00d0-37fa-968833b121c3
* Content: [Azure Site Recovery - Setup

[2018-11-07 20:28] brlewi commented on #17931
Test

[2018-11-07 20:31] brlewi commented on #17931
Test

[2018-11-07 20:32] #16189 closed

[2018-11-07 20:35] MarileeTurscak-MSFT commented on #18373
When you click into Azure Active Directory from the left blades, you can see the "Delete Directory" button at the top left of the Overview section. See the screenshot below.

![image](https://user-images.githubusercontent.com/13383753/48159294-a9aec400-e289-11e8-95a9-65d47a494f3f.png)

[2018-11-07 20:36] MarileeTurscak-MSFT commented on #18373
We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2018-11-07 20:36] #18373 closed

[2018-11-07 20:37] yzhong94 commented on #16384
Adding @pierreca

[2018-11-07 20:42] Adam-Smith-MSFT commented on #18400
@Ayanmullick Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-07 20:43] alexsab1 commented on #18322
Yes, I wanted to ensure that daylight savings changes are followed.

[2018-11-07 20:43] DeanGross opened #18401 "Identify Exceptions"
The above instructions for "Configure the app for self-service and assign the group to the app" do not seem to apply to any of the apps from Office 365, the "Select Single Sign-on" option is not present for SharePoint Online, Yammer, Teams, Power BI, etc.. Please update the documentation to describe which type of enterprise applications these instructions apply to.

---
#### Document Details

⚠ *D

[2018-11-07 20:43] PatAltimore commented on #18277
#in-progress

[2018-11-07 20:48] DeanGross opened #18402 "Incomplete Instructions"
Where can we find the screen shown above? Please provide instructions that identify its location.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce8ef300-3f05-0966-3991-68bcf79353cb
* Version Independent ID: aada60bd-e601-e19e-3532-82a1500a172e
* Content: [Delegate invitations for Azure Active Directory B2B collaborati

[2018-11-07 20:52] rizwaans commented on #18345
Just being more precise.
1.Is there a cmdlt that invokes the existing customextension script?
2. what happens when I run the same Set-AzureRMVMCustomScriptExtension "mytestscript" more than once. Does it overwrites the existing script?

[2018-11-07 20:54] yevster opened #18403 "Add --generate-ssh-keys to AKS creation step."
Instructions to create AKS cluster should be:
[code]

As is, the step can fail with the following error if the keys have not been generated previously:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8615c06c-620c-a16a-2270-e6e5ac454b0b
* Version Independent ID: 0513d76e-a1f2-3944-45a6-fd01bcedb166
* Content: [Cr

[2018-11-07 21:01] JazzyWagdaddy opened #18404 "Linux is now supported"
All over this page we state Linux isn't supported and now it is.  References need to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b084d947-abfd-a8f9-b09f-d07f39eb5ad7
* Version Independent ID: a935fe20-e074-1fb0-1810-5cf384abb55e
* Content: [What is Azure Backup?](https://docs.microsoft.com/en-us/azure/ba

[2018-11-07 21:07] TravisCragg-MSFT commented on #18388
@marcusmills Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-11-07 21:10] Karishma-Tiwari-MSFT commented on #18093
@elang-bmrn Does the tutorial not work for you? Can you please share which part of the doc you are facing issues with.

[2018-11-07 21:13] DeanGross opened #18405 "Unexpected permissions"
I added an account to the Guest Inviter role and they are able to create new Groups, which, is not what I expected, but since the documentation is not clear, I'm not sure which role could be providing additional permissions.

The Note for the Guest Inviter role states "This role inherits additional permissions from the role." Please identify which role the Guest Inviter is inheriting from.  There

[2018-11-07 21:14] SteveLasker commented on #18288
For your local scenario, are you using bash on windows, PowerShell or a Mac?

[2018-11-07 21:22] Karishma-Tiwari-MSFT commented on #18093
@MikeRayMSFT Would you be able to share your insights on customer's question 'How to connect to the new SQL cluster by its cluster IP address'? Thanks :)

[2018-11-07 21:36] Xorima commented on #18288
PowerShell on windoes

[2018-11-07 21:37] MarileeTurscak-MSFT commented on #18220
Hi @willyrj ,

Which log folder are you checking? I was able to follow the steps in the article and can view the logs under Multi-Factor Authenticator Server > Logging > View Log Files.

![image](https://user-images.githubusercontent.com/13383753/48162446-fe563d00-e291-11e8-964a-1f73716bb719.png)

Alternatively, I can view them under This PC > Local Disk (C:) > Program Files > Multi-Factor-Authent

[2018-11-07 21:45] TomArcher commented on #17726
Thanks @draggeta for the feedback, but I'm in agreement with @echuvyrov that the Tip currently in the docs is enough.

@MicahMcKittrick-MSFT #please-close

[2018-11-07 21:47] davidmu1 commented on #17599
Change the text to:

## Configure delete or update password permissions for your application

Currently, the *Read and write directory data* permission does **NOT** include the ability to delete users or update user passwords. If you want to give your application the ability to delete users or update passwords, you'll need to do these extra steps that involve PowerShell, otherwise, you can skip to

[2018-11-07 21:47] #17726 closed

[2018-11-07 21:51] kinseymd opened #18406 "Typo in Confidence Rating section"
In this section (https://docs.microsoft.com/en-us/azure/migrate/tutorial-assessment-vmware#confidence-rating) there appears to be a typo. Can you reword this sentence?
"Confidence rating is not applicable to as on-premises assessments."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2369d635-5ccf-92f1-b534-e2dce47113a1

[2018-11-07 21:52] BryanTrach-MSFT commented on #8390
@BryanTrach-MSFT If you purchased the cert directly from GoDaddy, you will need to delete the SSL binding AND delete the certificate.

Under the SSL settings blade, you'll need to delete all SSL bindings. Then you'll need to go under the private certificates tab and delete all certificates from the web app. Please ensure that you have a copy of your cert in .pfx format to upload after the move is

[2018-11-07 21:52] BryanTrach-MSFT commented on #8390
@jayendranarumugam If you purchased the cert directly from GoDaddy, you will need to delete the SSL binding AND delete the certificate.
Under the SSL settings blade, you'll need to delete all SSL bindings. Then you'll need to go under the private certificates tab and delete all certificates from the web app. Please ensure that you have a copy of your cert in .pfx format to upload after the move is

[2018-11-07 21:52] dougsikora opened #18407 "RBAC for table storage?"
Is there any RBAC plan to allow authentication of managed identities for Azure Table Storage as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3dc128b-0ee5-1344-0034-2fce6960daa4
* Version Independent ID: b2499482-1101-4937-7f34-ad7b9fd9fdc4
* Content: [Authenticate access to blobs and queues with Azure Active D

[2018-11-07 21:53] rayne-wiselman commented on #18406
I need to check with PM what that means. I’ll reword as soon as I have more information.

From: Kinsey Macdonald <notifications@github.com>
Sent: Wednesday, November 7, 2018 11:52 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rayne Wiselman <raynew@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/azure-docs] Typo in Confidence Rating section (#1840

[2018-11-07 21:54] BryanTrach-MSFT commented on #8390
@jayendranarumugam Please note that the above thread is about App Service Certs, which have different requirements than 3rd party certs. My most recent reply to you should allow you to move your site if you're using a 3rd party cert.

[2018-11-07 21:56] MarileeTurscak-MSFT commented on #18384
There is no Powershell guide available for this yet and since this feature is still in preview I do not believe it is possible to do this with Powershell yet. (CC: @priyamohanram, can you confirm?)

[2018-11-07 21:57] Grace-MacJones-MSFT commented on #18391
Hi @jsandersrocks, thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-07 21:58] MarileeTurscak-MSFT commented on #18367
It looks like this got resolved so I will proceed to close this thread. If you have further questions or are still seeing this issue, please tag me in the comments and leave a screenshot and we will update the document.

[2018-11-07 21:58] #18367 closed

[2018-11-07 22:00] pierreca commented on #16384
@FluxReality: that's absolutely valid feedback.

The best source right now to "discover" the API is a combination of 3 things:
- the following sample has most of the API covered: https://github.com/Azure/azure-iot-sdk-python/blob/master/device/samples/iothub_client_sample.py
- Some docstrings were added to try and accomodate the docs.microsoft.com team framework limitations... which didn't work (b

[2018-11-07 22:02] i-vanl opened #18408 "One more parameter to enable swap file"
I needed to set this ResourceDisk.Format=y before seeing the swap file.
# Format if unformatted. If 'n', resource disk will not be mounted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7792d5a-de76-c48a-0c8d-46b3e918a503
* Version Independent ID: 23b37b12-4a16-d108-2705-2d96ceb484c8
* Content: [Optimize your Linux V

[2018-11-07 22:03] curtand commented on #14088
Mario, do you have any response to my question in the comment above?
@malopMSFT

[2018-11-07 22:15] malopMSFT commented on #14088
Depending on the LB configuration the ports might change dinamically, I would recommend to keep this configuartion simple with any port, the only reason multiple ports might be used are always network admin operations on the LB resource API.

[2018-11-07 22:17] kobulloc-MSFT commented on #18348
@AceHack I was able to get the command to work successfully.  Where exactly did you run into a problem?

![image](https://user-images.githubusercontent.com/37556655/48164561-ade1de00-e297-11e8-9956-ff7e950b5601.png)

[2018-11-07 22:19] Adam-Smith-MSFT commented on #18404
@JazzyWagdaddy Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-07 22:21] Mike-Ubezzi-MSFT commented on #18388
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-07 22:22] femsulu commented on #18346
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2018-11-07 22:22] #18346 closed

[2018-11-07 22:35] kobulloc-MSFT commented on #18347
@AceHack The aks update command will launch the Azure Dev Spaces CLI installer:

`az aks use-dev-spaces -n <your-aks-cluster> -g <your-aks-cluster-resource-group> --update`

![image](https://user-images.githubusercontent.com/37556655/48165152-8d1a8800-e299-11e8-9736-dab44fd57dcc.png)

@iainfoulds It is a bit unclear from the documentation what the relationship between the CLI tool and the aks clus

[2018-11-07 22:41] jlian commented on #14341
@vladislav-mitev when you say services (Functions, Stream Analytics) attached, how are you attaching them? Those system properties look like the specific properties that occur when Event Hub interacts with Stream Analytics.

https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-define-inputs

![image](https://user-images.githubusercontent.com/2320572/48165670-20a08880-e29b-11e8-

[2018-11-07 22:41] rfsonders commented on #17931
Hello.
Solved via the forum. The PS removal and reinstall was successful.
https://social.msdn.microsoft.com/Forums/en-US/bc1cac31-a668-4c78-8e42-18a5272eca92/sql-rp-install-powershell-error-1809?forum=AzureStack

[2018-11-07 22:41] #17931 closed

[2018-11-07 22:44] jgallucci32 opened #18409 "Incorrect IAM role listed for Managed Disks"
The article says to ensure the IAM role **Azure Stack – Managed Disk** is present for Managed Disks to work. This role does not exist and the correct IAM role for this is **AzureStack-DiskRP-Client**. Please update the documentation to reflect the correct IAM role.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b37e5fa

[2018-11-07 22:48] qibozhu commented on #17351
@sandervandevelde Magdalena is out of office and she will be back in the middle of next week. It appears that we need her Linux machine where she created the container image to debug the dump. We will get back to you late next week. Sorry for the delay.

[2018-11-07 22:48] tfitzmac commented on #17010
I am no longer seeing this problem. I have tested through portal and CLI.

[2018-11-07 22:48] tfitzmac commented on #17010
#please-close

[2018-11-07 22:49] SteveLasker commented on #18288
I did some more checking. It turns out this is a Helm client limitation, as it doesn't understand refresh tokens... yet. We have a proposal for Helm 3 to fix this, including two factor auth.
The problem is:
- `az acr helm repo add` adds a 1 hour token to the helm client
- we generally don't like giving out longer tokens as someone may leave the company, privileges are changed, etc. Refresh tokens

[2018-11-07 22:51] DMoonesinghe opened #18410 "Whatever happened to OMS"
To Quote from this Document:

I would be nice if you don't delete OMS reference completely but mention that it has been incorporated into something else and what that is.  I am guessing it is Azure Monitor.  But I am shooting in the dark.

Because whenever Microsoft does a name change or aggregate products the documentation teams simply stop mentioning anything about the previous product.  Any ref

[2018-11-07 22:54] msalvadores opened #18411 "Azure Container Instance in VNET accessing Storage Account with firewall on the same VNET"
I am not sure that one of the features advertised here actually works. I am referring to "Retrieve content for container instances from a service endpoint in the virtual network". I have deployed an ACI to a subnet following this tutorial and I have not been able to access a storage account with a vnet firewall rule for another subnet in the same vnet. Moreover I cannot deploy the ACI in the same

[2018-11-07 22:56] krokoko commented on #17936
Hello @chipalost ,

   Ok make sense, thank you for the clarification :)

[2018-11-07 22:56] #17936 closed

[2018-11-07 23:00] adpick commented on #18340
You should reach out to your Technical account manager to find out if you qualify for any limit increases while the API is still in preview.

[2018-11-07 23:06] jason-j-MSFT commented on #17977
@vishalaj1 this feature is not officially available yet.  Here is the User Voice request to have this implemented, where you can see some workarounds and suggestions:
https://feedback.azure.com/forums/556165-azure-analysis-services/suggestions/17173610-built-in-ssrs-support-for-azure-as

[2018-11-07 23:06] #17977 closed

[2018-11-07 23:08] MarileeTurscak-MSFT commented on #18384
I've escalated this to someone from the PG team to confirm definitively and will update the thread accordingly.

[2018-11-07 23:10] MarileeTurscak-MSFT commented on #18242
Unfortunately. No. I escalated this to my contacts but no one has replied. I will ping them again.

[2018-11-07 23:10] Mike-Ubezzi-MSFT commented on #18365
@herckens-mt Thank you for your interest in Azure products and services. I have assigned this to the content owner to evaluate and update as appropriate.

[2018-11-07 23:11] andres-carrilloAdapt2 opened #18412 "Virtual Kubelet access internal services"
From inside a container(windows container) running in a virtual kubelet, I curl'ed an IP of a container by cluster ip(not in the virtual kubelet). it didnt work. I need to access the services from inside the cluster, i dont want to have to go outside to the load balancer and get routed in. is there any solution for this?

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2018-11-07 23:22] zzulueta commented on #18352
Thanks for the reply .

On a separate note, is there some documentation that explains how developers can access the Facebook user id or google user id once a user has logged in via server or client flow authentication? Once a user logs in , it would be a nice feature to show his name and photo in an app. So the data must be stored somewhere in azure to access the data in order to make the necessar

[2018-11-07 23:32] Alberto-Vega-MSFT commented on #18237
@franelj We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-07 23:32] #18237 closed

[2018-11-07 23:33] hei9gag commented on #15387
Thanks all!

[2018-11-07 23:33] #15387 closed

[2018-11-07 23:36] balag0 opened #18413 "Linux function apps based on private images from dockerhub / ACR need credential information to pull the image."
These additional app settings need to be set on the function app if the image is not publicly accessible.
DOCKER_REGISTRY_SERVER_URL
DOCKER_REGISTRY_SERVER_USERNAME
DOCKER_REGISTRY_SERVER_PASSWORD

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d505ab9-d351-6650-6d0c-bb65d2daa229
* Version Independent ID: 2a1d3487-a93d

[2018-11-07 23:40] MarileeTurscak-MSFT commented on #18214
That's correct. We do not currently support the v2 endpoint for Reporting API. https://docs.microsoft.com/mt-mt/azure/active-directory/reports-monitoring/troubleshoot-graph-api

[2018-11-07 23:41] conceptdev commented on #18352
I don't think we have that covered in our documentation, but I believe you need to use the authentication token you obtain in the authentication process to access the Facebook Graph.

Here is a _really old_ blog that mentions it: [Using the Facebook Android SDK .. Azure Mobile](https://blogs.msdn.microsoft.com/carlosfigueira/2014/01/07/using-the-facebook-android-sdk-for-logging-in-to-azure-mobile-

[2018-11-07 23:41] MarileeTurscak-MSFT commented on #18214
We will now proceed to close this thread. If you have further questions please tag me in the comments and I will gladly continue the conversation.

[2018-11-07 23:41] #18214 closed

[2018-11-07 23:46] kgremban commented on #18365
@herckens-mt Thank you for the feedback. I'll add that link today, and the new version of the article will be published tomorrow morning.

[2018-11-07 23:55] ShahRukhK opened #18415 "No 32-bit integration runtime environment available."
It say to select the appropriate needed environment when downloading. The only provided option given is a 64-bit./quote/ Go to the Microsoft integration runtime download page.
Select Download, select the appropriate version (32-bit or 64-bit), and select Next.
Run the MSI file directly, or save it to your hard disk and run it. /quote/

---
#### Document Details

⚠ *Do not edit this section. It is

[2018-11-08 00:02] Alberto-Vega-MSFT commented on #18212
Okay no problem. We will now proceed to close this thread.

[2018-11-08 00:02] #18212 closed

[2018-11-08 00:03] jason-j-MSFT commented on #17824
@djpirra the guidance seems to be to develop on SSDT and SSMS.

You might consider opening a feedback item here:
https://feedback.azure.com/forums/556165-azure-analysis-services

[2018-11-08 00:03] #17824 closed

[2018-11-08 00:03] Alberto-Vega-MSFT commented on #18207
@GPAgethub We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-08 00:03] #18207 closed

[2018-11-08 00:04] Alberto-Vega-MSFT commented on #18203
@thomshib We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-08 00:04] #18203 closed

[2018-11-08 00:06] MarileeTurscak-MSFT commented on #18405
@DeanGross
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-08 00:07] MarileeTurscak-MSFT commented on #18401
@DeanGross
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-08 00:10] zzulueta commented on #18352
Hello,

"but I believe you need to use the authentication token you obtain in the
authentication process to access the Facebook Graph." - that's what I
exactly did. I did a LOG of the MobileServiceUser class and did
user.getAuthenticationToken().
I applied that value to this link as specified in stackoverflow:
https://graph.facebook.com/me?access_token= and it says bad request. It
seems that the t

[2018-11-08 00:18] Alberto-Vega-MSFT commented on #17991
@ced1967 Are you still facing this issue? Would you please share the errors?

[2018-11-08 00:33] rodji commented on #18157
In general `Verified.Email` does 'magic': It binds field with b2c email verification system.

[2018-11-08 00:36] hassanbabaie commented on #18236
@markgalioto @Adam-Smith-MSFT just checking if you're able to confirm if this is still true or not. Obviously I'm hoping note.

Thanks

Hass

[2018-11-08 00:49] falccc opened #18417 "Attribute Mapping titles are the wrong way around"
Under Zendesk - Provisioning - Attribute Mapping the title for each attribute table is incorrect.  The Azure AD Attribute title should be Zendesk and vice versa.  The same applies if you click the "Show Advanced Options".  The two links under this "Edit attribute list for Zendesk" and "Edit attribute list for Azure Active Directory" are titled incorrectly.

---
#### Document Details

⚠ *Do not edi

[2018-11-08 01:04] JamesLee-MSFT commented on #18377
Hi @davebanthorpe, Are you running the openssl command on Linux or Windows?

If on Linux can you execute/provide the results: ls -la azure-iot-test-only.root.ca.cert.pem

or on Windows, can you execute/provide the results: dir azure-iot-test-only.root.ca.cert.pem

Thanks.
James

[2018-11-08 01:05] kobulloc-MSFT commented on #18403
@yevster Thank you for the feedback!  We've assigned this to the document author so they can update the document accordingly.

[2018-11-08 01:08] wesmc7777 commented on #17690
@zweim1 A fix is in progress but, I don't have an ETA at the moment.

As a workaround can you try adding an Application Setting to your function app named **AzureWebJobsSecretStorageType** and set the value to **'Files'**?

[2018-11-08 01:11] #18365 closed

[2018-11-08 01:37] #18145 closed

[2018-11-08 01:53] MicahMcKittrick-MSFT commented on #18412
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-08 01:54] MicahMcKittrick-MSFT commented on #18408
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-08 01:55] MicahMcKittrick-MSFT commented on #18410
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-08 01:56] MicahMcKittrick-MSFT commented on #18411
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-08 02:02] #17997 closed

[2018-11-08 02:03] #18012 closed

[2018-11-08 02:08] Alberto-Vega-MSFT commented on #18015
@ine8181 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-08 02:12] yadcam opened #18421 "Which User Is Requested First and Which Second"
Hello All.

I have a question when it come to Registering which confuses me.

When I attempt to register the agents, it is mentioned that it requires credentials of the Global Admin and the Domain Admin in the Local AD.

My main concern is, when I run either command Register-AzureADPasswordProtectionProxy or Register-AzureADPasswordProtectionForest

Powershell opens a "Windows PowerShell Credentia

[2018-11-08 02:13] jayendranarumugam commented on #8390
@BryanTrach-MSFT  Thanks for your quick response

[2018-11-08 02:14] AceHack commented on #18348
This command did not work until I ran

    az extension update --name dev-spaces-preview

Then this command worked.  I was not able to find that in the documentation that I needed to run that first command.

[2018-11-08 02:16] jayendranarumugam commented on #8390
@BryanTrach-MSFT Another question from your response that is "How can we export that cert in .pfx. Is there is any PowerShell scripts? Or this can be done within the GoDaddy site?

[2018-11-08 02:29] AceHack commented on #18348
it looks like if you call the "az aks use-dev-spaces" it will install the dev-spaces-preview extension if it does not exist but it will not updated older ones.  So if this is the first time you've done it then everything works fine.  But if your on an older extension then things might not work well.

Thanks.

[2018-11-08 02:29] hannesne commented on #18252
In addition to features, I'm also curious whether Linux web apps are supported on azure stack. Can't find any documentation about that.

[2018-11-08 02:31] vnvaditya commented on #11516
Just checking if you figured out a way to disable this RDP.

[2018-11-08 02:35] femsulu commented on #18340
@chiragk25 can you confirm you have a Technical account manager?

[2018-11-08 02:51] #5721 closed

[2018-11-08 02:51] #7806 closed

[2018-11-08 02:51] #7911 closed

[2018-11-08 02:52] #9990 closed

[2018-11-08 02:52] #10162 closed

[2018-11-08 02:52] #10261 closed

[2018-11-08 02:53] #11974 closed

[2018-11-08 02:53] #12072 closed

[2018-11-08 02:53] #12580 closed

[2018-11-08 02:53] #13848 closed

[2018-11-08 02:53] #14159 closed

[2018-11-08 02:53] #14176 closed

[2018-11-08 02:54] #14897 closed

[2018-11-08 02:54] #15487 closed

[2018-11-08 02:54] #15654 closed

[2018-11-08 02:54] #15766 closed

[2018-11-08 02:54] #15821 closed

[2018-11-08 02:54] #16085 closed

[2018-11-08 02:55] #17010 closed

[2018-11-08 02:55] #17599 closed

[2018-11-08 02:55] #17613 closed

[2018-11-08 02:55] #17743 closed

[2018-11-08 02:56] #17883 closed

[2018-11-08 02:56] zweim1 commented on #17690
Yes, the workaround (set AzureWebJobsSecretStorageType = Files) allows the Group Enrollment page to save custom allocation function.
Note: The example function in the tutorial has one compilation error "No overload for method 'CreateResponse' takes 2 arguments" for
req.CreateResponse(HttpStatusCode.BadRequest, message). Need to remove the 'message' from the method call.

[2018-11-08 03:03] DeanGross opened #18424 "Relationship to SharePoint Online Sharing Settings"
How do the settings above interact with the sharing settings in SharePoint Online? what happens if they conflict?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce8ef300-3f05-0966-3991-68bcf79353cb
* Version Independent ID: aada60bd-e601-e19e-3532-82a1500a172e
* Content: [Delegate invitations for Azure Active Directory

[2018-11-08 03:50] SaurabhSharma-MSFT commented on #18037
@chriscoop We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-11-08 03:50] #18037 closed

[2018-11-08 04:03] #15880 closed

[2018-11-08 04:03] gokul2018 commented on #18351
Hi Alberto,

Please find the links I referred given below.

https://github.com/MicrosoftDocs/azure-docs/issues/8966

http://www.identityandcloud.com/2018/04/15284/

https://social.msdn.microsoft.com/Forums/en-US/a9e17b27-ea78-4394-a1c5-262056153480/unable-to-move-resources-to-different-subscription-not-finish-within-allowed-time?forum=windowsazuredata

The first and the 3rd link are from MS GitHub

[2018-11-08 04:03] #16100 closed

[2018-11-08 04:03] #17222 closed

[2018-11-08 04:04] #17918 closed

[2018-11-08 04:04] #17942 closed

[2018-11-08 04:04] #18135 closed

[2018-11-08 04:05] #18166 closed

[2018-11-08 04:07] #18283 closed

[2018-11-08 04:08] phillipgibson opened #18425 "Configure an application rule steps not clear using portal"
If you follow the link https://docs.microsoft.com/en-us/azure/firewall/tutorial-firewall-deploy-portal at step #7 it doesn't specifically state which rule you should be applying the data to for Rules as there are "FQDN tags" and "Target FQDNs". It's confusing to know if it applies to the FQDN tags rule since that is the first field of options available. Then you get to step #10 that mentions "Targ

[2018-11-08 04:12] SaurabhSharma-MSFT commented on #18262
@arnabganguly  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-11-08 04:14] mike-urnun-msft commented on #18413
Hi @balag0 Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-11-08 04:15] jasonshave opened #18426 "CloudConfigurationManager is deprecated."
Could someone please revisit this great content and update it accordingly.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2449e264-13a7-ecc0-7400-b6d6bed1b029
* Version Independent ID: bcd3da61-efe6-4ef5-1c79-4fa78cdf473d
* Content: [Get started with Azure Queue storage using .NET](https://docs.microsoft.com/en-ca/azur

[2018-11-08 04:17] jasonshave commented on #18426
Perhaps consider: https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library#environment-variables

[2018-11-08 04:30] adashen commented on #17489
@kgremban we tried to reproduce the issue, but we cannot reproduce it. And based on the log, it should be an SDK issue. And we found there is an issue in java SDK repo opened for it  https://github.com/Azure/azure-iot-sdk-java/issues/353

[2018-11-08 04:35] dcbrown16 opened #18428 "Missing TOC"
Is this page moving or something, or why doesn't it show in the TOC?
I got here from Monitor &gt; How-to &gt; Collect data &gt; Install and configure agents &gt; Log Analytics agents &gt; VM Extension for Linux.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d5b8e22-49e6-bba4-d42b-8dd42d469e3b
* Version Independent ID

[2018-11-08 04:45] spelluru commented on #18213
This issue has been fixed.

#please-close

[2018-11-08 04:47] spelluru commented on #18084
This issue has been fixed. I have updated the article to include the full template.

#please-close

[2018-11-08 04:51] jaredmoo commented on #18322
Ok, understood. Sorry there is no way to do this at the moment and this is the first we have heard for this feature request. Unfortunately it is going to be relatively low priority to address this since we are not yet hearing much demand for this feature, but I would love to hear more feedback.

One workaround that I can think of is to write a job which targets the job database itself and runs `jo

[2018-11-08 04:53] SaurabhSharma-MSFT commented on #18417
@falccc Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-11-08 04:58] SaurabhSharma-MSFT commented on #18421
@yadcam Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-08 04:58] jakaruna-MSFT commented on #17891
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-11-08 04:58] #17891 closed

[2018-11-08 04:59] SaurabhSharma-MSFT commented on #18424
@DeanGross Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-08 05:13] Karishma-Tiwari-MSFT commented on #17522
@Jatinder-Luthra Any update?

[2018-11-08 05:53] kieranheck commented on #15726
I can't get policies for auditing Resource Groups Tag existence to work.  My Policy always shows 100% compliance.  Any suggestions or pointing out what I'm doing wrong is appreciated.
{
  "mode": "all",
  "policyRule": {
    "if": {
      "allof": [
        {
          "field": "type",
          "equals": "Microsoft.Resources/subscriptions/resourceGroup"
        },
        {
          "field": "ta

[2018-11-08 06:07] parthasarathi204 commented on #18185
Will be great if any one can suggest on this. Also I found even though the script has been executed it is waiting for the next poll for the status(java sdk)
[RxIoScheduler-4] INFO com.microsoft.azure.management.compute.VirtualMachineExtensions createOrUpdate (poll)
Will it be possible to reduce the poll interval?

[2018-11-08 06:36] parthasarathi204 opened #18434 "CustomScriptExecution is taking around 2 minutes for a simple script to create directory/file"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-11-08 06:42] saifuddin123 opened #18435 "Create deployment for single device doesn't reflect changes"
I am using "create deployment for single device" to deploy changes to a device for testing as per this documentation - https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-python-module.

This doesn't reflect the changes i made in code unless i do below steps:
1.  "Build & push Iot Edge solution"
2.  Delete module docker on the device - sudo docker rm -f PythonModule

---
#### Document Details

[2018-11-08 06:42] parthasarathi204 commented on #18434
CustomScriptExecution is taking around 2 minutes for a simple script to create a directory/file for the first time. WaAppAgent logs shows the time around 1 minute, extension logs shows the execution time less than 30 seconds.  So where the another minute spend ? Is there any way to increase the priority of the script execution or execute synchronously ?

[2018-11-08 06:42] SaurabhSharma-MSFT commented on #18158
@rodji I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-11-08 06:56] dcbrown16 commented on #15576
I can't imagine the temp disk is kept through a host migration, since the temp disk is storage local to the physical stamp on which the VM is located.

[2018-11-08 06:59] alexeyshishkin01 opened #18436 "az disk update doesn't increase os disk filesystem size"
hello, all

pls. have a look at https://github.com/Azure/azure-cli/issues/3380

you can find a solution for the issue at https://postgrespro.com/products/postgrespro/azure/enterprise#vmconfigurationchange

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ab24f5b-50fd-37cc-e031-34301147953d
* Version Independent ID: c2bc2

[2018-11-08 07:05] twoqubits opened #18437 "Wrong usage of backslash "\" in navigation and this doc"
Backslash "\\" is not a punctuation mark.  Backslashes are used to denote file and/or folder separation, i.e. C:\Windows\System32.  Forward slashes "/" is also an incorrect usage as it indicates or.  A comma would probably be the right usage here.

**Install a SQL, IIS, and .NET stack**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2018-11-08 07:09] SaurabhSharma-MSFT commented on #18157
@rodji You can get the email claim using the InputClaimsTransformations as you described at this [SO](https://stackoverflow.com/questions/47145452/return-emails-on-custom-policies) post.

[2018-11-08 07:10] vladislav-mitev commented on #14341
Hello,
"attached" meaning:
- stream input for ASA
- trigger for Function

The documentation you gave seems to explain what is really happening. I have missed that point. Thank you a lot for quoting it.
I think we are done here, except for the still missing fix on this JSON message: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-monitor-resource-health#connections . All others have been fix

[2018-11-08 07:20] zivcaspi opened #18438 "Example is wrong"
The example for "Create a general-purpose v2 storage account" doesn't work. When run using Azure CLI it gives the following error: `az: error: unrecognized arguments: --hierarchical-namespace true`

Indeed, running `az storage account create --help` doesn't show this argument as an option (nor do the docs for the Azure CLI linked-to on this page)

---
#### Document Details

⚠ *Do not edit this sec

[2018-11-08 07:32] dcbrown16 opened #18440 "Worth noting ExpressRoute restriction"
Per the VNet integration doc for Web Apps:
"The VNet Integration feature does not integrate an app with a VNet that has an ExpressRoute Gateway. Even if the ExpressRoute Gateway is configured in coexistence mode the VNet Integration does not work. If you need to access resources through an ExpressRoute connection, then you can use an App Service Environment, which runs in your VNet."
https://docs.

[2018-11-08 07:49] vominhquan commented on #7457
Hey guys,
Don't know if this can help.
Try User Properties, it can show the params you want on inner monitor.

[2018-11-08 07:50] dcbrown16 opened #18441 "ExpressRoute limitation"
Can the (current, not preview) VNet integration work with a VNet that is peered to another VNet that has ExpressRoute?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a98803-1438-b1b5-f543-7dd88bc4294e
* Version Independent ID: 37ff1d0f-ed8e-5e4d-1f4c-1b9f6cffb938
* Content: [Integrate an app with an Azure Virtual Net

[2018-11-08 07:53] dcbrown16 commented on #18440
This restriction is, however, lifted for the new preview VNet integration.

[2018-11-08 08:02] mike-urnun-msft commented on #17986
Hey @raych1 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-11-08 08:02] #17986 closed

[2018-11-08 08:19] andrae opened #18442 "What is the needed extension for the abcd VHD File? abcd.vhd?"
One more step how to rename the file for a Hyper-V import would be useful?

Is the extension .vhd?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 218c3a24-424f-e928-d0c0-89c8b8349bc8
* Version Independent ID: 0ba31a4b-94cf-2b4f-1fbc-29a92fe7d97a
* Content: [Download a Windows VHD from Azure](https://docs.microsoft.com/

[2018-11-08 08:19] FluxReality commented on #16384
Thank you @pierreca for your explanation.

This is actually what I did, and was eventually able to build a python-module that is working. As you point out; - the SDK is buggy, and the fact that the documentation is missing, makes it really hard to find out where the problem is. Is it wrong use of the API or the API itself to blame?

Nevertheless I appreciate the Python SDK, because it seems like a

[2018-11-08 08:39] vanLeeuwen1 commented on #14410
Hi @vasivara-MSFT it is getting very quiet, how are wee doing on this matter?

[2018-11-08 08:51] plcos opened #18444 "Can't create alerts from SQL metrics"
When i try to create an alert using SQL metrics on the new Alerts panel i don't get any metrics just logs.

When i go to the Alerts (Classic) the button to Add a metric alert (classic) is greyed out

Is there any workaround?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c790b13c-3cac-5f70-f59e-63ac2bc38417
* Version I

[2018-11-08 08:51] garfbradaz opened #18445 "ASP.NET Core 2.1 auto complete support"
Is there autocomplete support for   net standard 2.x?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de445b14-68fc-85d4-6f7a-0447e6068f67
* Version Independent ID: 4bff523f-c1a3-63bd-64eb-c0843a7c7a29
* Content: [Tutorial for adding auto-complete to your search box using Azure Search](https://docs.microsoft.com/en-us/a

[2018-11-08 08:51] sandervandevelde commented on #17351
Hello Qibozhu,

I can leave the same setup untouched until then. Meanwhile, if you need more information or if you want me to do some tests, just let me know.

Please DM me on twitter @svelde regarding the device used.

[2018-11-08 09:06] mddazure commented on #18385
Thanks Travis, I upgraded and it works now!

[2018-11-08 09:19] Juliako commented on #18294
@wboyer, thank you, I corrected the typo.

[2018-11-08 09:19] Juliako commented on #18294
#please-close

[2018-11-08 09:35] davebanthorpe commented on #18377
Running on windows. Here you go:

[code]

[2018-11-08 09:40] srikwit opened #18447 "Needs a sample output on the number of events that can be retrieved"
By using the above code sample, I am able to retrieve only a single event from the Event Hub with Offset set to -1 on an Azure Basic Tier.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06732419-d1dd-55ba-80cd-714ea22cfe07
* Version Independent ID: a4bccf95-a129-05a8-707b-b80c68723c5b
* Content: [Receive events from Az

[2018-11-08 09:43] Xorima commented on #18288
Thank you Steve for this update, the Helm 3 login spec looks just right for what I am envisioning and I will await it's release.

[2018-11-08 09:43] #18288 closed

[2018-11-08 09:45] jopgommans opened #18448 "Version 1.2.65.0 TLS 1.2 usage"
I see the following on the latest AAD Connect version "Added full support for TLS 1.2. This release supports all other protocols being disabled and only TLS 1.2 being enabled on the machine where Azure AD Connect is installed. "
Does this also mean that TLS 1.0 and 1.1 and being disabled system-wide? I ask because if so, this can become impacting if AAD Connect is co-located on a machine providing

[2018-11-08 09:51] zhouwangzw commented on #9705
The speech service support 2 ways to connect: via SDK and via REST API. SDK currently support multiple languages and platforms, as described [here](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/). Connecting via [REST API ](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/rest-apis) is also supported, although it has limitation in audio length and

[2018-11-08 09:52] mtengmo opened #18449 "Work account vs Other account"
If I setup a new account with a prepulated AD mobile number but no MFA enabled it will prompt me for "Other Account". If I enable MFA on the user, it will prompt me to choose a "Work or school account".
This is related to the wizard during Authenticator app.
What is the different?
Will push work for both ?

[2018-11-08 09:55] rarera commented on #17188
Hi Strohne,

I am very sorry for your experience.
The problem is that the Batch Transcription API, does not support a free key yet.
You need to have a SpeechServices.S0 key for this.
This should have been stated in the documentation, I will create a bug for the author, to add this information to the documentation.

Sorry for your inconveniences,
Ramin

[2018-11-08 10:02] guybartal commented on #18283
thank you @lisaguthrie, @iainfoulds and @kobulloc-MSFT  for the quick response!
I would also add a side note that if you already have an existing cluster you can enable HTTP Application Routing:
`az aks enable-addons -a http_application_routing -g $RESOURCE_GROUP_NAME -n $AKS_CLUSTER_NAME
`
[https://github.com/MicrosoftDocs/azure-docs/issues/10399#issuecomment-404593864](https://github.com/Microso

[2018-11-08 10:40] jakaruna-MSFT commented on #18412
@andres-carrilloAdapt2 I think cluster network is not shared with virtual kubelet nodes.
@iainfoulds Please provide your inputs.

[2018-11-08 10:55] chaholl opened #18454 "Storage account configuration doesn't work"
When you try to select a storage account via the portal nothing happens. You can select a storage account and a container but there's no way to actually apply that selection to the export job and no error messages indicating what the problem might be.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c0b8c1d-41ff-f7ab-bc

[2018-11-08 11:30] solstarz commented on #17828
@kobulloc-MSFT I ran the az aks use-dev-spaces again and the debug option is available.

You can close this ticket

[2018-11-08 11:31] vetrivelmp opened #18456 "Add AAD Group Button is missing"
https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-aad#add-an-external-azure-ad-group

From the above url, i could see we are able to add external azure ad group into APIM.

But the button itself missing for us. Any Idea?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 692852cd-11a6-1d6b-9540-cae

[2018-11-08 11:35] kudlatiger commented on #18363
Can I query the data using c#? And get mean, aggregation calculations?

[2018-11-08 11:36] cephalin commented on #7028
#please-close

[2018-11-08 11:47] tolstyiii commented on #18292
Ok, thanks.

[2018-11-08 12:10] MikhailFrenkel commented on #15420
When i edited CORS i enter for Allowed origins, Allowed headers, and Exposed headers your-tenant-name.b2clogin.com and it's not work for me. I replace your-tenant-name.b2clogin.com on * and it's work for me.

[2018-11-08 12:22] strohne commented on #17188
Thanks for your reply. Where do I get such a key?

[2018-11-08 12:31] wolfma61 commented on #17592
we are shooting for a 4-6 week update cycle

but ...
especially for JavaScript there is more happening in the next update. We try to keep to the schedule, but there are some public holidays coming up ;)
mid of december if we can land it ... if we can't, we are running against another big public holiday at the end of the year ... and we probably will look at early january

[2018-11-08 12:41] casalam commented on #17494
not helpful still step 15 not fixed.

[2018-11-08 12:59] parthasarathi204 commented on #18434
This is not a doc issue . Opened the issue https://github.com/Azure/azure-libraries-for-java/issues/647

[2018-11-08 12:59] #18434 closed

[2018-11-08 13:00] ghvanderweg opened #18459 "(device.managementType -eq "MDM") returning unmanaged devices"
In a dynamic device group, when using (device.managementType -eq "MDM"), alot of the devices that are added to the group are actually not managed at all.
Using Get-AzureADGroupMember on the dynamic group and grouping the results by the 'IsManaged' attribute, I see a lot of unmanaged devices in the group.
What underlying attribute is device.managementType based on, and is there an accurate way of c

[2018-11-08 13:02] jtuliani commented on #15576
That was my feeling also, which is why I raised the question.

If that's the case, it changes my understanding of when the content of the temp disk might be lost. Previously, I understood the temp disk might be lost on shut down, reboot, or HW failure. But if it is not migrated, then it might be lost at ANY time, even when you're VM is running. Might a file be yanked out from under you while you'r

[2018-11-08 13:06] jarroput opened #18460 "Valid tag characters inconsistent with InstallationId"
This document says

But there is another page
https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-push-notification-registration-management

That page tells us we can send a push message to a specific installation using the system tag `$InstallationId:[installationId]`.

When I try to do so I get the following error message:

[code]

How can we make use of the `$Installation

[2018-11-08 13:09] ghvanderweg commented on #18459
A real world example:
I have a dynamic group named "All Corporate Owned Windows Devices", with the following dynamic membership rule:

`(device.accountEnabled -eq true) -and
(device.deviceOwnership -eq "Company") -and
(device.managementType -eq "MDM") -and
(device.deviceOSType -contains "Windows")`

Running `Get-AzureADGroupMember -ObjectId $objectId -All:$true | Group-Object -Property IsManaged |

[2018-11-08 13:51] sorgina13 opened #18461 "4-d. Missing parenthesis in the print statement."
# Creating widgets for leveraging parameters, and printing the parameters

dbutils.widgets.text("input", "","")
dbutils.widgets.get("input")
y = getArgument("input")
print ("Param -\'input':")
print (y)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a176f27b-f9fc-e0ff-0a48-aa42036051f2
* Version Independent ID: d2356b8

[2018-11-08 14:01] BrodaUa commented on #17580
@sergaz-msft thanks. Eventually, all watchdog problems stated by you were not the same as mine. But creatig new IoT Hub and conecting the device again helped me.

[2018-11-08 14:03] SaurabhSharma-MSFT commented on #18180
@tariqjaber Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-11-08 14:06] cephalin commented on #17872
@cloudmelon Private certs are for SSL binding for your app (your app is the server, not the client) and has both a public key and private key. Your app uses the private key in it to encrypt traffic with clients. No private key, no SSL binding. The public cert only has a public key. It's used when you want your app to act as the client (not the server) to another HTTPS protected resource (like a re

[2018-11-08 14:29] JackDnls opened #18463 "Example that targets .Net Framework"
Hi,
Thanks for such a comprehensive info. Could you please suggest an example or any references for .Net Framework too, with same content. Thanks in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d49b5477-e862-d90b-07fc-18d9f17c1dd3
* Version Independent ID: 35f47cc0-0d57-3241-b79d-7f742b168e38
* Content: [Use

[2018-11-08 14:32] mathieu-benoit opened #18464 "Don't need anymore the --enable-cloud-console-aks-browse parameter"
With the Azure CLI 2.0.50 already integrated in the Azure Cloud Shell, we don't need anymore the --enable-cloud-console-aks-browse parameter from there. Otherwise we get an error `unrecognized arguments`.

Breaking change logged here: https://github.com/Azure/azure-docs-cli-python/blob/master/docs-ref-conceptual/release-notes-azure-cli.md#acs

Fix proposed here: https://github.com/MicrosoftDocs/az

[2018-11-08 14:57] tomkuijsten opened #18466 "Why doesn't it trigger an alert"
I created an AI search alert with "requests | limit 1" and triggered when "greater then 0" with an interval of "every 5 minutes over the last 10 minutes". We have a lot of logging and there are always requests. "suppress alerts" is not configured. How can it be that nothing is triggered? I created it an hour ago, and still not a single alert.

---
#### Document Details

⚠ *Do not edit this section

[2018-11-08 15:03] simardst opened #18467 "Provide more detailled informationm on the offline scenarios adressed and current limitations"
Can you provide more details on the current limitations.
For instances:
- What happens if the IoT Edge device restarts while the network connectivity is down?  Can the module reconnect and be authenticated on the Edge Hub until the network connectivity is restored?
- What happens if the Edge hub restarts while the network connectivity is down?  Will the module be able to reconnect and publish mess

[2018-11-08 15:04] simardst opened #18468 "Does the IoT Edge can fully work offline forever?"
Assuming that the modules are not publishing any event messages to the IoT Hub.  Does the IoT Edge can fully work offline forever?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f8e1616-f3c9-ba1c-2ebd-9d7f74d79005
* Version Independent ID: 3158bd35-4d7d-63ec-1df7-520f00c053c0
* Content: [Azure IoT Edge offline capabil

[2018-11-08 15:16] wuffers opened #18469 "Has anyone deployed the Patch Orchestration Application using the ARM template when deploying a *new* cluster?"
Support does not have a pre-defined POA ARM template, but does show how it can be installed with PowerShell. This requires Service Fabric SDK, and that's not something I would expect to be installed on a non-dev machine. I had found this article and tried to integrate it with our cluster's ARM template, but I get an error (I've replaced our cluster and resource group names):

VERBOSE: 3:28:47 PM -

[2018-11-08 15:18] dparragaTNS opened #18470 "How to pass file name to output"
I have a process that will read all the files on a folder. The name of the file will determine some business rule. Is there a way to capture the file name, or to append it to the dataset?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c34a89ba-18a0-a095-ac1b-612cd342f601
* Version Independent ID: f331c188-e7b3-bbeb-811

[2018-11-08 15:36] numeratus opened #18471 "Team Drive support"
Hi, it doesn't look like this connector supports Team Drives, only the earlier My Drive version of Gdrive. Am I missing something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a6ad0f2-376b-0092-71bb-224a95b717a5
* Version Independent ID: c6e520d2-dd4d-2516-b3fa-51d4b77c50a6
* Content: [Connect to Google Drive - Azur

[2018-11-08 15:42] Mr-Schneider commented on #17866
I have verified with Microsoft support that for the 'value' field in an app role the character limit is 121, and is not a bug but an intended limit.

[2018-11-08 15:51] ckaiser-egnyte opened #18472 "Error in instructions"
There is no instruction here to switch the Egnyte account to SSO on the Egnyte side. Without doing that, the user will always be prompted for Egnyte Authentication credentials.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e29a931-f453-8ef9-fc72-5ec4a8e0c4e6
* Version Independent ID: 3c42090f-0745-1833-a84c-37802a304

[2018-11-08 16:15] TWolverson opened #18475 ""Checking a thumbprint against certificates uploaded to API Management" is unclear"
The last section, about checking a frontend client certificate against the APIM instance's own certificate store, doesn't explain how to upload these certificates to APIM. The only scenario explained is one where the APIM is acting as the client, and the certificates uploaded are the ones to be presented by APIM to the backend, so APIM holds a password to access the certificate's private key. For

[2018-11-08 16:22] alkohli commented on #18304
@Adam-Smith-MSFT  Answer was provided two days ago.
#please-close

[2018-11-08 16:24] jcbrooks92 commented on #18039
As a workaround you can use CLI:

https://docs.microsoft.com/en-us/cli/azure/webapp/deployment/user?view=azure-cli-latest

[2018-11-08 16:35] zzulueta opened #18476 "Documentation incomplete - table inaccessible when permissions are changed"
So i went thru this documentation and it works perfectly with the todoitem table, however when i do the same setup with another table i created, the issue arises after setting the new table's permissions to authenticated access only. None of the data can be seen and azure thru logs is telling me i need authenticated access. Is there some server side script running to make the todoitem accessible o

[2018-11-08 16:40] iainfoulds commented on #18464
Thanks, @mathieu-benoit. I've signed off on the PR so it should merge and publish today.

#please-close

[2018-11-08 16:45] bdcoder2 opened #18477 "Powershell example? ..."
Is there a way, when provisioning a VM via PowerShell to set the temporary disk letter to something other than "D"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecd7a86b-b95d-05dd-d1f8-6725fb6e439c
* Version Independent ID: 99e9ba63-6ad0-0288-2c32-5c304f5d07d1
* Content: [Make the D: drive of a VM a data disk](https:

[2018-11-08 16:47] xsqian opened #18478 "Telemetry messages sent: unit is count, but is it per sec, per min?"
For the Telemetry messages sent, the unit is "count", count for SUM make sense, how about AVERAGE, is it per sec, per min?
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 128ea613-ba7a-88bc-4f2b-cc425df00fe7
* Version Independent ID: e2732359-a5c9-1333-d5ec-4e5f2af0527c
* Content: [Use metrics to monitor Azure I

[2018-11-08 16:49] gandiniandrea opened #18479 "Missing /etc/ssh/sshd_config edit"
Hi, I have just followed the guide but failing when try to login with my AAD user, having "Permission Denied (publickey)" error.
File /etc/ssh/sshd_config has to be edited in order to have parameter:
PasswordAuthentication yes
then execute command
sudo systemctl restart ssh

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2018-11-08 16:49] LisandroSu opened #18480 "Pictures missing article/batch"
Hi team,

We received the following PR #[114](https://github.com/MicrosoftDocs/azure-docs.zh-tw/pull/114), in which the user added some pictures and files to the ZH-tw repo. Should this be also included in the ENU repo?

CC: @Sara-Nicolini @SunnyDeng FYI

Thanks!

[2018-11-08 16:50] rangeranger opened #18481 "How to get stored procedure error in the output"
**Azure Docs Link**: https://docs.microsoft.com/en-us/azure/data-factory/transform-data-using-stored-procedure

**Scenario:** When a Stored Procedure failed then if it returns the error details, How to capture this in the output?

**Why?** I'm using Azure Logic App to trigger an email when Stored Procedure failed. I want to send the error details in the email. Currently in the body of the POST req

[2018-11-08 16:55] diberry commented on #18067
@drub0y Thanks for you patience. This article is backlogged for update. Meanwhile the link to Bot Framework's version of this article for V4 is available here. https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-tutorial-dispatch?view=azure-bot-service-4.0&tabs=csharp

#please-close

[2018-11-08 17:00] #18010 closed

[2018-11-08 17:00] dlepow commented on #18052
@raduart - I will close this issue for now and leave the script as-is to focus on a typical scenario. Thanks again for the suggestion.
#please-close

[2018-11-08 17:01] #18395 closed

[2018-11-08 17:04] dlepow commented on #18043
@raduart - A doc update is pending to point this out: "You need to supply the name of a resource group that was created in a region that supports container groups in a virtual network" [with a link to the section on preview limitations]. Thanks for the good suggestion.
#please-close

[2018-11-08 17:10] conceptdev commented on #18476
See this link to [require authentication for access to tables](https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mobile-node-backend-how-to-use-server-sdk#howto-tables-auth), which is mentioned in [this section](https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mobile-android-get-started-users#permissions) of the doc

[2018-11-08 17:13] SnehaGunda commented on #18216
#please-close

[2018-11-08 17:14] #18276 closed

[2018-11-08 17:16] dlepow commented on #17520
@chrnz - Thanks for providing information about your scenario. Would adding a service endpoint to the Microsoft.Sql service from the ACI-specific subnet help?  Overview of service endpoints [here](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-service-endpoints-overview), and more detail about service endpoints for Azure SQL Database [here](https://docs.microsoft.com/en-us/

[2018-11-08 17:18] Adam-Smith-MSFT commented on #18438
@zivcaspi Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-08 17:20] thedrum808 commented on #16850
Hmm… I think Frank is referring to this: https://docs.microsoft.com/en-us/windows/deployment/windows-autopilot/user-driven-hybrid

[2018-11-08 17:21] Mike-Ubezzi-MSFT commented on #18454
@chaholl Thank you very much for the feedback. I have navigated through this process in the portal, and you can in fact create and select a specific container to locate the backup. Premium Storage is not support.

 ![alt text](https://wtv3.blob.core.windows.net/media/screenshot (510).png?sv=2017-04-17&sr=b&sig=o7zvkCfPVIFoNk7BNPLfR%2BIXJOF0FQHyazeaAKWx%2F0Y%3D&st=2018-11-08T17%3A16%3A03Z&se=2021-1

[2018-11-08 17:23] thiago-vivas opened #18482 "Possible mistake"
Something looks strange in here: "However, let's increase the HealthCheckStableDuration to 60 seconds (so that the services are healthy for at least 20 seconds before the upgrade proceeds to the next update domain)."
Is not supposed to wait for 60 seconds instead of 20? If not, what happens with the 40s left?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2018-11-08 17:31] MarileeTurscak-MSFT commented on #18459
@ghvanderweg
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-08 17:31] bandersmsft commented on #14962
Compelted.
#please-close

[2018-11-08 17:32] MarileeTurscak-MSFT commented on #18472
@ckaiser-egnyte
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-08 17:32] johnkwaters opened #18483 "Why am I seeing Debug telemetry in the Live Metrics Stream when LogLevel is warning?"
I have an aspnetcore API. My appsettings.json contains:

[code]

There are no other logging setting (no appsettings.Produciton.json, no Application Settings in the Azure Portal, no secrets in keyvault etc) - that's the ONLY logging setting.

My startup includes this:

[code]
My Startup class includes:

[code]

But - I see a ton of Debug level info in the Azure Portal Live Metrics stream in the tel

[2018-11-08 17:33] MicahMcKittrick-MSFT commented on #18482
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-08 17:33] MarileeTurscak-MSFT commented on #18479
@gandiniandrea
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-08 17:36] bandersmsft commented on #17100
#in-process

[2018-11-08 17:36] MarileeTurscak-MSFT commented on #18448
@jopgommans
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-08 17:37] Key-international opened #18484 "Key International academy"
https://answers.microsoft.com/en-us/profile/69d2c4de-f4f0-4701-ae05-ef1ac4c3bc9e

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aaba64e4-09b7-3f7e-1d0a-c6d4563a380b
* Version Independent ID: 97194e36-c465-b4b1-7429-9f6ba18f1e40
* Content: [Connect a computer to a virtual network using Point-to-Site and certificate auth

[2018-11-08 17:42] Alberto-Vega-MSFT commented on #18397
@simardst Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-08 17:47] PrasadNandanavanam opened #18486 "HTTP Connector in Azure Data Factory"
I am trying to connect to Sharepoint folder using HTTP Linked service and pick the files from sharepoint folder to Azure Data lake store. The connection was succesful but the pipleline is not moving the files to ADLS.  Does HTTP connector can be used to connect to sharepoint and is it the rightway? or there any other options?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-11-08 17:52] Alberto-Vega-MSFT commented on #18398
@simardst Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-08 17:52] Mike-Ubezzi-MSFT commented on #18444
@plcos Thank you very much for your interest in Azure products and services. If you populate the Alerts (Classic) filter down to the resource, the create button should become active. I will look into the new Alerts functionality.

![screenshot 516](https://user-images.githubusercontent.com/37126106/48217228-b4299600-e33b-11e8-889b-3db0c2763323.png)

[2018-11-08 17:54] Mike-Ubezzi-MSFT commented on #18440
@dcbrown16 Thank you very much for your interest in Azure products and services. I have assigned this to the content owner to evaluate and update as appropriate.

[2018-11-08 17:56] Key-international opened #18487 "Key International academy"
https://www.keyinternational.academy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 144afccf-4ab9-bb34-957d-e86d3732d688
* Version Independent ID: 863b80ff-f60a-e727-dc12-0d6aba937df6
* Content: [Azure Monitor overview](https://docs.microsoft.com/en-us/azure/azure-monitor/overview)
* Content Source: [articles/azure-mon

[2018-11-08 17:58] MicahMcKittrick-MSFT commented on #18428
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-08 17:58] MarileeTurscak-MSFT commented on #18449
@mtengmo
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-08 17:59] nberdy commented on #18478
@jlian FYI

[2018-11-08 17:59] Alberto-Vega-MSFT commented on #18481
@rangeranger Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-08 17:59] MicahMcKittrick-MSFT commented on #18437
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-08 18:00] MicahMcKittrick-MSFT commented on #18442
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-08 18:01] MicahMcKittrick-MSFT commented on #18469
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-08 18:02] #18464 closed

[2018-11-08 18:02] MicahMcKittrick-MSFT commented on #18477
Thanks for the question! We are investigating and will update you shortly.

[2018-11-08 18:03] jamestm27 opened #18488 "Need more instructions for defining schema for Swagger"
This is needed for end-to-end scenario.  For example,

# --------- SCHEMA GENERATION: Creating schema.json file for image creation ------------
user_input_schema = {"input_df": SampleDefinition(DataTypes.STANDARD, ['this is my input phrase'])}
output_schema = {"output_df": SampleDefinition(DataTypes.STANDARD, [['output phrase']])}

def sample_run_method(input_df):
    return {"output_df": [["outpu

[2018-11-08 18:04] Alberto-Vega-MSFT commented on #18480
@LisandroSu Is there an open GitHub  issue that this PR is fixing?

[2018-11-08 18:06] dlepow commented on #18318
@DMoonesinghe - Thanks for the feedback! You're of course correct about not exposing SSH private keys - they need to be protected on the local system used to make SSH connections. The article makes the point a couple of times about protecting the private key and not sharing it. That said, I hear your point. The sentence you point out could be misinterpreted to mean that the private key is sent to

[2018-11-08 18:10] JamesLee-MSFT commented on #18377
@davebanthorpe the MicrosoftDoc looks more related to this doc here instead of the one attached to this thread.  Is that correct?
[](https://github.com/Azure/azure-iot-sdk-c/blob/master/tools/CACertificates/CACertificateOverview.md)

[2018-11-08 18:14] Alberto-Vega-MSFT commented on #18399
@chargerback-ron Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-08 18:15] MarileeTurscak-MSFT commented on #18456
@vetrivelmp
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-08 18:16] femsulu commented on #18466
@tomkuijsten Thanks for the Comment. We are actively investigating and will get back to you soon.

[2018-11-08 18:16] MicahMcKittrick-MSFT commented on #14662
@ramankumarlive @cynthn @zr-msft any thoughts on how we should move forward with this one?

For one, this specific doc should state that this only works across tenants IF the user performing the action is the Global AAD Tenant Admin of both subscription.

Second, thanks to @CoyoteCloud46 we do have some scripts we tested that work for people who do not meet those requirements and need to move cros

[2018-11-08 18:17] Alberto-Vega-MSFT commented on #18409
@jgallucci32 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-08 18:18] RavennMSFT commented on #16850
Hybrid join with or without Autopilot works exactly the same way i.e. on-prem domain join happens first and then client automates the hybrid join to AAD. The Autopilot mechanism enables doing domain join over the wire through Intune as described in https://docs.microsoft.com/intune/windows-autopilot-hybrid

[2018-11-08 18:21] MicahMcKittrick-MSFT commented on #18225
@kkho at this point I think it would be best if you opened a ticket to Support to have it investigated further. From a doc perspective it seems to work for me so there is likely something specific with your subscription blocking you. Do you have the ability to open a technical support ticket? If not, you can email me at AzCommunity@microsoft.com and provide me with your subscriptionID and link to

[2018-11-08 18:21] #18225 closed

[2018-11-08 18:21] MicahMcKittrick-MSFT commented on #18272
@SamBroner I will close this for now. If you need more help let me know and we can always reopen and continue.

[2018-11-08 18:21] #18272 closed

[2018-11-08 18:26] rhan1161 opened #18489 "Getting exception when setting up Reminder"
We started using Actor Reminder a few weeks ago and it was working correctly (or so it seemed).  But registering a new reminder now generates an exception "Reminder EmailReminder for Actor cannot be registered or unregistered since the actor is loading reminders. Please try again later.".  I followed the example code above and I am still getting the same exception.  Does anyone have any idea?

---

[2018-11-08 18:28] Alberto-Vega-MSFT commented on #18435
@saifuddin123 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-08 18:30] Mike-Ubezzi-MSFT commented on #18444
@plcos The new alerts functionality is not available for SQL metrics which is why you only see activity log options in the create alerts process.

This is what I am seeing with regard to Alerts (Classic).

The filter is empty and only `Add activity log alert` is active:

![screenshot 517](https://user-images.githubusercontent.com/37126106/48219203-bf32f500-e340-11e8-8202-716e86d3db24.png)

Filter

[2018-11-08 18:31] #18264 closed

[2018-11-08 18:32] jeevansd commented on #18417
@chetansriv Can you please verify this issue?

[2018-11-08 18:33] Karishma-Tiwari-MSFT commented on #17522
@Jatinder-Luthra Thanks for the update. I am glad it worked out for you.
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-11-08 18:33] #17522 closed

[2018-11-08 18:35] Karishma-Tiwari-MSFT commented on #18185
@roiyz-msft Would you be able to share your insights on the custom solution. Thanks. :)

[2018-11-08 18:36] DMoonesinghe commented on #18318
Right on!

On Thu, Nov 8, 2018 at 1:06 PM Dan Lepow <notifications@github.com> wrote:

--
Deepal Moonesinghe
(408) 568 1669
deepal.moon@gmail.com

"We must accept finite disappointment, but we must never lose infinite
hope."
~ Martin Luther King, Jr. ~

[2018-11-08 18:39] MicahMcKittrick-MSFT commented on #18477
@bdcoder2 no this is not possible. The user does not have any control over the D drive until the VM has been provisioned. This is automatically taken care of my the Azure Fabric during creation. You could run a script after you created the VM to change the drive letter. But regardless, when deploying the VM you would need to wait until after it is provisioned before changing any driver letters.

I

[2018-11-08 18:40] aujla0991 opened #18490 "Discrepency in selecting the protection goal "Are your machines virtualized""
As in this page common question: https://docs.microsoft.com/en-us/azure/site-recovery/vmware-azure-common-questions#on-premises
"To discover the getting started steps of deploying the configuration server on your own Windows Server machines, in the Protection goal of enable protection, choose To Azure &gt; Not virtualized/Other."

However, as per documentation: https://docs.microsoft.com/en-us/azu

[2018-11-08 18:40] vladvino commented on #18475
Client certificates collection was intended for holding certificates to be used for mutual authentication with backends and thus requires private keys. You are right, private keys are not required for validating client certificates in the context of this article. We will see what we can do to better accommodate this use case.

If this is an issue, for now, please consider using context.Request.Cer

[2018-11-08 18:40] Karishma-Tiwari-MSFT commented on #18318
@dlepow Thank you:)
@DMoonesinghe Thanks for the feedback! I have assigned the issue to the content author to update the document as appropriate.

[2018-11-08 18:41] #18441 closed

[2018-11-08 18:41] Karishma-Tiwari-MSFT commented on #18093
@elang-bmrn Any update? Can you please share the details asked above. Thanks

[2018-11-08 18:41] jeevansd commented on #18472
@chetansriv Can you please verify this issue with Egnyte team?

[2018-11-08 18:42] Alberto-Vega-MSFT commented on #18436
@alexeyshishkin01 Thanks for your valuable feedback. I'm afraid that one issue is for one document only. I edited this one so it works for the first article. Would you please create issues for the other two and add the details of the edits you are suggesting.

[2018-11-08 18:43] bandersmsft commented on #17371
@nmarchini Hi. Per the engineering team, sizing recommendations are based on the last 30 days of usage. Unfortunately, that setting is not user-configurable.
#please-close

[2018-11-08 18:44] BryanTrach-MSFT commented on #18463
@JackDnls Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-11-08 18:44] MicahMcKittrick-MSFT commented on #18482
@mani-ramaswamy could you clarify on this one?

[2018-11-08 18:47] BryanTrach-MSFT commented on #18445
@garfbradaz Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-08 18:49] BryanTrach-MSFT commented on #18460
@jarroput Thanks for the feedback! We compared the two docs and agree that there appears to be some conflicting information. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-11-08 18:50] vasivara-MSFT commented on #14410
@vanLeeuwen1 Sorry for the delayed response..
@linda33wj Can you please take a look at this issue and shed some light ?
Also looping in @Alberto-Vega-MSFT, @jason-j-MSFT and @JamesLee-MSFT  , to take a look at this issue.

[2018-11-08 18:55] vhorne commented on #17084
@ecaron
This is a bug and the product team is working on a fix.

[2018-11-08 18:56] GarrettDavis opened #18492 "Microsoft.Hadoop.Avro NuGet package has been unlisted"
The NuGet package for Microsoft.Hadoop.Avro has been unlisted and can no longer be "installed" using the NuGet Package Manager.  The section titled *Install Avro Library* is no longer valid.  The only way to consume this library at the moment is to clone the repository and compile the library yourself.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-11-08 18:57] #7028 closed

[2018-11-08 18:57] KehindeOwens opened #18493 "Terms of Use Per Session"
Is there a way to enforce the acceptance of "Terms Of Use" per login? Currently users only need to accept the "Terms Of Use" once but certain government organizations require the acceptance of them per login session.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 618ca851-56c8-5ba1-35de-a7b8e7af8aa2
* Version Independe

[2018-11-08 18:57] TravisCragg-MSFT commented on #18425
@phillipgibson Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-08 18:57] #14962 closed

[2018-11-08 18:57] #18067 closed

[2018-11-08 18:57] #18084 closed

[2018-11-08 18:58] #18213 closed

[2018-11-08 18:58] #18216 closed

[2018-11-08 18:58] MicahMcKittrick-MSFT commented on #18469
@wuffers this should be possible as it is possible via Visual Studio for example.

@dkkapur could you possibly elaborate on achieving this via ARM template?

[2018-11-08 18:59] MarileeTurscak-MSFT commented on #18479
Do you have global administrative access on the account?

[2018-11-08 19:01] #18245 closed

[2018-11-08 19:01] #18294 closed

[2018-11-08 19:02] #18304 closed

[2018-11-08 19:12] SteveLasker commented on #18288
There's a robust design conversation underway. https://github.com/helm/community/pull/57 I expect we'll get this worked out.

[2018-11-08 19:13] jlian commented on #18478
@xsqian it's per minute. Thanks

[2018-11-08 19:13] MarileeTurscak-MSFT commented on #18449
@mtengmo please link the document that you are referring to for this issue or leave the question on MSDN. https://msdn.microsoft.com/forums

[2018-11-08 19:14] mike-urnun-msft commented on #18080
@whihathac We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-11-08 19:14] #18080 closed

[2018-11-08 19:15] kgremban commented on #14341
Thanks @jlian for helping clear this up. And thanks @vladislav-mitev for pointing out the JSON sample that I missed. I'll make the update to the Connections sample, then close this issue as resolved.

[2018-11-08 19:18] mike-urnun-msft commented on #18471
Hi @numeratus Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-11-08 19:29] itanex opened #18494 "No details about setting up Audit to Storage Account"
The section about using a Storage Account does not provide details into which type of Storage Account should/must be used.

While the portal limits you to selecting Storage, StorageV2 and BlobStorage there are no details about this in this document and I am having trouble finding ancillary resources to help me properly configure a Storage Account for Auditing purposes.

I can settle for something

[2018-11-08 19:30] TravisCragg-MSFT commented on #18399
@chargerback-ron Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-08 19:34] TravisCragg-MSFT commented on #18409
@jgallucci32 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-08 19:34] DMoonesinghe commented on #18410
Yes.   I don't necessarily think it is a fault of the tech writers as
much as an operational issue that is causing a documentation flaw on your
end.  So please give me a day to explaining the problem with some clear
examples and links, without coming across as just pure griping from a
customer.

On Thu, Nov 8, 2018 at 1:22 PM Micah <notifications@github.com> wrote:

--
Deepal Moonesinghe
(408) 568

[2018-11-08 19:35] jtuliani commented on #15576
The PG have confirmed that the temp disk *IS* migrated (https://www.yammer.com/azureadvisors/#/threads/show?threadId=1188304758).
I suggest the doc should be updated to reflect this.

[2018-11-08 19:37] MarileeTurscak-MSFT commented on #18493
@KehindeOwens
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-08 19:37] Alberto-Vega-MSFT commented on #17919
@SamirFarhat We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-08 19:37] #17919 closed

[2018-11-08 19:42] TravisCragg-MSFT commented on #18484
@Key-international that link takes me to a profile on answers.microsoft.com. What exactly is your issue?

[2018-11-08 19:52] vhorne commented on #18425
@phillipgibson
Yep, the UI changed after the article was written.
Update is in.

[2018-11-08 19:52] vhorne commented on #18425
#please-close

[2018-11-08 19:57] itanex commented on #18494
I have continued my research and found this page "[Storage Account Overview](https://docs.microsoft.com/en-us/azure/storage/common/storage-account-overview)". It does shed some light into my issue here, however it does not provide details in regards to your service.

1) It suggests all storage accounts be StorageV2 unless it is necessary to be one of the other options
2) It says that if you use Bl

[2018-11-08 19:59] TravisCragg-MSFT commented on #18425
@phillipgibson We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-08 19:59] #18425 closed

[2018-11-08 20:10] irgnosis commented on #16348
Ping! can someone point me to correct document to attach a ADLS storage to an existing HDInsight Cluster?

[2018-11-08 20:32] aherrick commented on #16002
Below is how I'm doing it:

`			services.AddSingleton<ITelemetryInitializer, WebSessionTelemetryInitializer>();
`

[code]

[2018-11-08 20:34] aherrick commented on #16002
Below is how I'm doing it:

		`	services.AddSingleton<ITelemetryInitializer, WebSessionTelemetryInitializer>();`

	public class WebSessionTelemetryInitializer : TelemetryInitializerBase
	{
		public WebSessionTelemetryInitializer(IHttpContextAccessor httpContextAccessor)
			 : base(httpContextAccessor)
		{
		}

		/// <summary>
		/// Called when initialize telemetry.
		/// </summary>
		/// <param na

[2018-11-08 20:36] hemantkr opened #18496 "VNET and subnet access control for your Cosmos account."
Please rename to "Access from virtual networks"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d6fa068-69da-7a32-6479-1145f14f2ed2
* Version Independent ID: 952c3241-3f4c-b319-6457-02701b24d46d
* Content: [IP firewall for Cosmos accounts](https://review.docs.microsoft.com/en-us/azure/cosmos-db/firewall-support?branch=

[2018-11-08 20:41] hrasheed-msft commented on #18303
@johngil1 Thanks for bringing that to our attention. I am updating the documentation to clarify that Azure AD-DS must be deployed in ARM based vNETs.

[2018-11-08 20:46] jpetitte opened #18497 "Constantly getting staging cert"
Hi there,

I've run this tutorial multiple times (on the same kubernetes cluster), and I followed the Cleanup Resources Section between each tutorial run. I also executed the following commands between each run:

kubectl get customresourcedefinitions
kubectl delete customresourcedefinition &lt;thelistedresourcedefs&gt;

to eliminate any custom resource definitions.

The first time through the tuto

[2018-11-08 20:47] abdullah58 opened #18498 "directory integration tools"
the above information helps me to evolved directory integration tools. Check out our blogs: https://www.ssogen.com/oracle-ebs-sso-integrations/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6865c730-34cc-42a7-544e-597536b1bfd5
* Version Independent ID: b2955f76-2767-bb73-e00a-8017c9514094
* Content: [Hybrid Identity:

[2018-11-08 20:49] alexeyshishkin01 opened #18499 "expanding disks"
pls. feel free to find ideas from here - https://postgrespro.com/products/postgrespro/azure/enterprise#vmconfigurationchange

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06c61c5a-d9e4-742b-36e5-b9effa33d903
* Version Independent ID: cb9dbd59-460d-a1a0-9863-5213d6a1093e
* Content: [Expand virtual hard disks on a Linux

[2018-11-08 21:00] wesmc7777 commented on #16372
@ddentrec @arovillard I just successfully tested Raspbian 4.14 (2018-10-09) with Node v10.13.0 by replacing the wiring-pi dependency with node-wiring-pi as shown in [PR#21](https://github.com/Azure-Samples/iot-hub-node-raspberrypi-client-app/pull/21/files).  Would this work for you ?

[2018-11-08 21:01] CHDAFNI-MSFT opened #18500 "Network firewall requirement - Soverign clouds missing"
https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-concept-hybrid#network-firewall-requirements

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2c9767e-8558-7b76-fc26-34c4776f7bcf
* Version Independent ID: f9853d6a-639a-c9df-a82c-01afdaf43edc
* Content: [Collect data in a hybrid environment with Azure L

[2018-11-08 21:15] Adam-Smith-MSFT commented on #18490
@aujla0991 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-08 21:19] Siewen123 opened #18501 "Following Microsoft Azure tutorial: Not Authorized Exception"
Hello all,

I am currently following a Microsoft Azure guide on IoT Hub.
https://docs.microsoft.com/en-us/azure/iot-hub/tutorial-routing

At the moment I am at the Routing messages tutorial.

I have run the the tutorial twice, following the exact steps but I keep ending up with an Not Authorized Exception.

I am pretty sure I have entered the correct device key, name and adress to my IoT hub.

Doe

[2018-11-08 21:19] robertspears opened #18502 "Incorrect value for health probe path"
I notice that the screenshot under Create a health probe has a value which does not work.
In the path field, it shows that you should enter "Healthprobe.aspx" as the path.  If this is the value used, the load balancer will not work.
Instead, the default value offered when creating a health probe, "/" should be accepted instead.  The load balancer works with this value. Screenshot image should be m

[2018-11-08 21:21] theheatDK opened #18503 "Can you create a subscription if you only have the Contributor role in the Enrollment Account"
Hi,
Under Prerequisites this is stated:
"You must have an Owner or Contributor role on the Enrollment Account"
Everywhere else I can find it is stated that you need to be Owner.
So I would like to know if it is actually possible to do if you only have Contributor?
Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-11-08 21:31] hrasheed-msft commented on #18303
#57543

[2018-11-08 21:31] ravitejapinnaka opened #18504 "Tumbling Trigger can't start with the REST api."
The Tumbling Trigger can't be started through the REST API or even through the `Try It` section in https://docs.microsoft.com/en-us/rest/api/datafactory/triggers/start
I keep getting this error when I try to Start an existing Tumbling trigger. It works fine with Scheduled Triggers though.
[code]

This is supposed to work, right ?
https://management.azure.com/subscriptions/sub-id/resourceGroups/rg-

[2018-11-08 21:33] Alberto-Vega-MSFT commented on #18068
@ajaypamarthy Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate. @bwren Since the documentation seems to have changed I am not sure which links will be the the right ones to update the document with. It seems like this one would be the new one for data explorer https://docs.microsoft.com/en-us/azure/data-explorer/data-explorer-overview a

[2018-11-08 21:33] MicahMcKittrick-MSFT commented on #18497
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-08 21:34] MicahMcKittrick-MSFT commented on #18499
@alexeyshishkin01 can you elaborate on any issue or enhancement you would like to see in this doc? I am not understanding the context of your comment.

[2018-11-08 21:34] MGoedtel commented on #18500
@CHDAFNI-MSFT - There is separate content managed by a different team that covers the sovereign clouds.  Here is a link to the article specific to Log Analytics and firewall config - https://docs.microsoft.com/en-us/azure/azure-government/documentation-government-services-monitoringandmanagement#log-analytics.

[2018-11-08 21:34] MicahMcKittrick-MSFT commented on #18489
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-08 21:36] #14341 closed

[2018-11-08 21:41] rodji commented on #18157
Sorry, it's not an issue, it's just undocumented behavior.
I looking [this (SO)](https://stackoverflow.com/questions/44351072/triggering-email-verification)answer in official documentation.

[2018-11-08 21:41] Mike-Ubezzi-MSFT commented on #18494
@itanex Thank you very much for the detailed feedback. I have assigned this to the content owner to evaluate an update as appropriate.

[2018-11-08 21:46] rhan1161 commented on #18489
I appreciate the quick response.  This is currently affecting our Production system.  We are using Actor to send email to our customers.  When we receive a request to send email, we create an actor which logs the email request, registers a reminder, and when the reminder hits the email is sent.  Since the registering the reminder generates an exception, the actor terminates, SF wakes up the actor

[2018-11-08 21:48] dkijc opened #18505 "old documentation"
This tutorial should be updated with the newer az webapp commands. It does not have 'up' anymore

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 116d6e28-471b-2cf4-3eb8-6249b4ef3016
* Version Independent ID: f199d3a2-0c11-e2d6-18f0-d081c76d511d
* Content: [Create a Node.js in Azure App Service on Linux](https://docs.mic

[2018-11-08 21:50] msangapu commented on #18505
Hi @dkijc - can you please clarify your comment?

[2018-11-08 21:53] rolandwales10 opened #18506 "Steps to incorporate B2C into a .NET app"
This tutorial was helpful for identifying the steps needed to incorporate B2C into a .NET app.  However, the source code wasn’t.  It is missing, among other things, the using statements in the C# code.  What was helpful is the demo app on github, which is complete and works nicely.  I would recommend eliminating the C# code, referring to the github demo instead.  Working examples are worth their w

[2018-11-08 21:55] Mike-Ubezzi-MSFT commented on #18265
@IdiotLeon It does not appear that `TableBatchOperation` is not Thread Safe. If there is a very specific desired functionality, the [Azure Storage Uservoice](https://feedback.azure.com/forums/217298-storage) is where features and functionality can be requested.

[TableBatchOperation Class](https://docs.microsoft.com/en-us/dotnet/api/microsoft.windowsazure.storage.table.tablebatchoperation?view=azu

[2018-11-08 21:57] rodji commented on #18158
This 'magic' behavior prevents to split sign up form in two, three, ... pages.
Our case:
We implemented own 'verification code by mail' backend (REST). We don't like unbranded emails from MS domain ('From' email field can't be branded, so B2C policy verification emails are useless for serius clients).
Imagine next steps to signup user:
1st page: fields: FirstName/LastName/etc, email
  when user en

[2018-11-08 22:00] Mike-Ubezzi-MSFT commented on #18496
@hemantkr Thank you very much for you interest in Azure products and services, and for the detailed feedback. I have assigned this to the content owner to evaluate and update and appropriate.

[2018-11-08 22:02] Alberto-Vega-MSFT commented on #18003
@Minewiskan Any insights on this?

[2018-11-08 22:09] aljo-microsoft commented on #17881
@gperrego

"add orchestration support to an existing .net application" is adding an SF Package to your solution.

Documentation you Referenced:

"A new project Service Fabric application project FabrikamFiber.CallCenterApplication is created in the solution. A Dockerfile is added to the existing FabrikamFiber.Web project. A PackageRoot directory is also added to the FabrikamFiber.Web project, whic

[2018-11-08 22:09] sconrod-tester opened #18507 "HTTP Routing to Application Concourse(Helm Stable) presents logon screen but logon fails with error: 127.0.0.1 127.0.0.1 refused to connect"
Deployed Helm Stable Concourse and it works successfully using Kubectl port fowarding - can logon to console Ok an deploy pipelines.

HOWEVER, want to publicly expose application and followed steps here:
https://docs.microsoft.com/en-us/azure/aks/http-application-routing

I can see the concourse logon page, but when I try to logon I get the error:
127.0.0.1 refused to connect

I also tried the ste

[2018-11-08 22:09] robsrip opened #18508 "AADB2C90047 Error when testing the policy"
I've followed these steps and the only way I've gotten the custom-ui.html page to load is when I add a wildcard entry for the CORS setup like the screenshot in the tutorial. I have entries for both {my-tenant}.b2clogin.com and login.microsoftonline.com but  I get an AADB2C90047 '...custom-ui.html' contains script errors preventing it from being loaded" errors returned to my MVC app when I run the

[2018-11-08 22:12] sconrod-tester commented on #18507
Deployed Helm Stable Concourse and it works successfully using Kubectl port fowarding - can logon to console Ok an deploy pipelines.HOWEVER, want to publicly expose application and followed steps here:
https://docs.microsoft.com/en-us/azure/aks/http-application-routing
I can see the concourse logon page, but when I try to logon I get the error:
127.0.0.1 refused to connect
I also tried the steps h

[2018-11-08 22:12] srdan-bozovic-msft commented on #18440
@Mike-Ubezzi-MSFT We could c/p note at the bottom of the section. The documentation should reflect current state. Feel free to create PR

[2018-11-08 22:16] MarileeTurscak-MSFT commented on #18498
@abdullah58 Thanks for the feedback and providing the blog!

[2018-11-08 22:16] #18498 closed

[2018-11-08 22:18] v-kydela opened #18509 "The Internet of things is referred to inconsistently"
In one place it's the Internet of Things and in another place it's the internet-of-things.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8a0ac96-e410-b481-9fdb-90d827a98935
* Version Independent ID: 6a133cdf-a66a-9807-d431-2e0ae43b253b
* Content: [Azure Functions Overview](https://docs.microsoft.com/en-us/azure/azure

[2018-11-08 22:24] dcnoren opened #18510 "Azure PowerShell appears to not be included in conditional access for Microsoft Azure Management"
Tested by creating a policy that targets all users, with app of "Microsoft Azure Management". Had a user log in via AzureAD Powershell cmdlets. Logs show "Azure AD Powershell" as the application in the sign-in log. They are not MFAd.

Therefore, it seems the guidance of "The policy you create applies to all Azure management endpoints, including classic Azure portal, Azure portal, Azure Resource Ma

[2018-11-08 22:24] melezhik opened #18511 "core settings are not applied through ARM"
I have successfully deployed ARM , no errors seen. However cors setting are not applied. Googling gives me a vague answer on the question whether ARM supports cors settings for web sites or not ...

My ARM template is look like this:

[code]

Parameters are:

[code]

[2018-11-08 22:36] #18049 closed

[2018-11-08 22:38] rkamalnath commented on #18144
We are facing the same issue. The custom attributes are not being brought along with the access token. The sign in policy has these custom attributes defined in the Application Claims. We get all the Built-in properties as part of the token but none of the custom attributes which have the name defined as "extension_" come through. We have a B2CGraph Client that bring all the properties tied to a u

[2018-11-08 22:39] mariomeyrelles opened #18512 "Adjustments on the example - CORS preflight requests"
Hello,

I'm using Google Authentication in my case and it works fine. But to make this work I had to make some small changes:

1) Change function.json to allow methods "options" and "post":
[code]

2) Since the same node function will be used for options and post, we won't be able to bind userId on function json. On the function SignalRInfo, we should bind the user only if the header exists:

[cod

[2018-11-08 22:39] TracyGH commented on #12377
@MarileeTurscak-MSFT - Can you point me towards the document where you made the edit?
There are quite a few of us who have not been able to locate any documentation for this functionality.
[https://stackoverflow.com/questions/42640158/azure-active-directory-allow-token-audiences](https://stackoverflow.com/questions/42640158/azure-active-directory-allow-token-audiences)
Thank-you!

[2018-11-08 22:42] MohitGargMSFT commented on #8499
@AdamGrossTX We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-11-08 22:42] #8499 closed

[2018-11-08 22:44] MohitGargMSFT commented on #15144
@dimachernov This issue is now resolved. Please let us know if you still face it.

[2018-11-08 22:48] DiegoRamirez-MSFT commented on #18173
Hey @axayjo do you know who is the author that should be working on this item?

[2018-11-08 22:51] axayjo commented on #18173
@cynthn is the one working on the item.

[2018-11-08 22:52] TravisCragg-MSFT commented on #18502
@robertspears Thanks for the feedback! the path "healthprobe.aspx" is an example URL pointing to a health monitoring page on your website. You can also use an index page or just simply "/".  I do think that this should be made more clear in the doc.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-08 22:57] MohitGargMSFT commented on #18459
@ghvanderweg As per my understanding of the issue you are stating that when creating a Dynamic group with condition (device.managementType -eq "MDM"), then in that group you can still find devices with (device.managementType -eq "PC"). If this is the case then Azure Support Engineer need to check on it. I would request you to open [Azure Support Ticket](https://aka.ms/azsupt) and Identity Support

[2018-11-08 22:58] BryanTrach-MSFT commented on #16146
@wald-tq @davojta @hkhamm We are happy to hear that you were able to find workarounds. Thank you for your patience on this matter.

The product group believes this issue should now be fixed through their latest patch.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reope

[2018-11-08 22:58] #16146 closed

[2018-11-08 22:58] rwike77 commented on #8675
@gopalvithal , haven't heard back so hopefully @jsturtevant 's answer helped.  Setting the container retention policy be helpful.  Closing this issue, please re-open if you need.  #please-close

[2018-11-08 23:01] MicahMcKittrick-MSFT commented on #18489
@rhan1161 thanks for the extra details. Hard to know the exact problem without digging into your code a bit. How long after getting this exception have you tried again? What have you done so far to try and fix it?

Also, if this is impacting a production system and you need it fixed immediately I would suggest opening a technical support ticket to engage with a Service Fabric Support Engineer to l

[2018-11-08 23:01] CHDAFNI-MSFT commented on #18500
Some of our docs do mention both sets of information (commercial and sovereign). Is it possible to just display the markdown file (that way there isn't extra overhead) or at the very least specifically call out and link to the sovereign Doc?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Matt Goedtel <notifications@github.com>
Sent: Thursday, November 8, 20

[2018-11-08 23:05] #8675 closed

[2018-11-08 23:05] Karishma-Tiwari-MSFT commented on #18437
@twoqubits I have created a PR, the changes will be live shortly.

[2018-11-08 23:06] yevster commented on #18403
The doc has been updated in f53ed0464b7f2a1a8db3e2d993f6e0c45945a5fc. Closing.

[2018-11-08 23:06] #18403 closed

[2018-11-08 23:07] MicahMcKittrick-MSFT commented on #18507
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-08 23:08] #17371 closed

[2018-11-08 23:09] #18232 closed

[2018-11-08 23:09] pisees opened #18513 "Toc incorrect"
If I navigate directly to https://docs.microsoft.com/en-us/azure/monitoring/monitoring-vminsights-overview, the incorrect ToC is shown.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cb3bf18-2640-4180-ab9c-583e242d4ca9
* Version Independent ID: 84d9db72-5d6d-d999-6ee4-bf759aa52436
* Content: [What is Azure Monitor for

[2018-11-08 23:12] rhan1161 commented on #18489
@MicahMcKittrick-MSFT I sent you email.  Would you be able to provide me with a complete sample code (actor and reminder) that I can try to install in my environment?  I can try to send you our code but it will take a while for me to remove all the unnecessary code.  I also emailed you.

[2018-11-08 23:32] MicahMcKittrick-MSFT commented on #18477
@bdcoder2 I don't off the top of my head... But let me look around and if not I am sure I can create one for you. I will get back to you on this.

[2018-11-08 23:46] itanex opened #18515 "Debugging an Infinite Deployment"
Recently, I have been experiencing deployments that become indefinite and must be cancelled. This is due to receiving 500 Internal Server errors on pieces of the ARM Template. A deployment that receives this error, one would expect, would have ended in failure and not continue on forever. The message content of the error was "An error has occurred while saving Auditing settings, please try again l

[2018-11-08 23:53] hrasheed-msft commented on #18303
The doc has been updated, we expect the change to be live this afternoon.

[2018-11-08 23:53] hrasheed-msft commented on #18303
#please-close

[2018-11-08 23:55] bunceg opened #18516 "Example of multiple intra-field filtering"
It's common to want to search within one or more fields with filtering, eg title:(potter) AND author:(rowling).... i.e intra field filtering on 2 fields in the same query. Is this possible; if so please provide an example in the documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0994cc30-5874-31bc-8da8-dc2e0a

[2018-11-08 23:56] gunnarcms opened #18517 "No approval process needed for Pen testing"
As of June 15, 2017, Microsoft no longer requires pre-approval to conduct a penetration tests against Azure resources, we should probably update the sentence "If you prefer to perform your own penetration tests or want to use another scanner suite or provider, you must follow the Azure penetration testing approval process and obtain prior approval to perform the desired penetration tests."

---
##

[2018-11-09 00:00] Mr-Schneider commented on #17866
They put a note in to consider raising the limit, they are also going to try and add it to the existing app role documentation so we can be aware ahead of time.

[2018-11-09 00:02] Karishma-Tiwari-MSFT commented on #18442
@andrae  To help me understand, can you please elaborate a little more on your ask?
It looks like you got the answer to your initial question about the extension of abcd the file.

For the below statement, what is your question and which doc are you referring to? Thanks.

[2018-11-09 00:10] Karishma-Tiwari-MSFT commented on #18428
@roiyz-msft Can you please take a look. The article is not showing up/selected on the left side (table of contents). Thanks.

[2018-11-09 00:29] MarileeTurscak-MSFT commented on #18220
@willyrj Please let me know if you are still having this issue. CC: @MicrosoftGuyJFlo

[2018-11-09 00:35] MarileeTurscak-MSFT commented on #18493
I just reproduced this in my own account and created a conditional access policy. At present this sort of configuration does not seem to be supported based on the controls available in the blade.

CC @rolyon for confirmation.

[2018-11-09 00:36] summermick opened #18519 "have you verified before you publish this guide?"
1. a typo at Create a network security group
2. Create virtual machines cmdlet fails to create VMs
I used the portal to create the VMs and the following steps were not working at all

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0b47de5-2b49-5fe1-4e69-3efd13e95fb0
* Version Independent ID: d140f652-6481-022e-ac09-3ed

[2018-11-09 00:36] MarileeTurscak-MSFT commented on #18493
Your best bet would probably be to hard code this in instead.

[2018-11-09 00:36] MarileeTurscak-MSFT commented on #18493
@KehindeOwens We will now proceed to close this thread. If you have further questions, please tag me or @rolyon in the comments and we will gladly continue the conversation.

[2018-11-09 00:36] #18493 closed

[2018-11-09 00:40] BryanTrach-MSFT commented on #18512
@mariomeyrelles Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-11-09 00:43] FallenGameR opened #18520 "Typo in number of languages supported"
&gt;linguistic-aware text processing (stemming, lemmatization, word forms) in over 55 languages.
&gt;Linguistic and custom analysis, with analyzers for solid full text search in 56 languages
I guess one of the numbers has a typo.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b04b3531-592d-c859-e627-d6b8f7883498
* Vers

[2018-11-09 00:46] dcbrown16 commented on #18428
I guess this is just a function of having an article cross-listed between Monitor and VM Extensions, if you remove "?toc=%2Fazure%2Fazure-monitor%2Ftoc.json" from the link you hop to the VM extensions page. Not sure if that can be fixed.

[2018-11-09 00:52] MarileeTurscak-MSFT commented on #18384
There does not appear to be a way to do this through Powershell yet so we will now proceed to close this thread. If you have further questions please tag me in the comments and I will gladly continue the conversation.

[2018-11-09 00:52] #18384 closed

[2018-11-09 01:01] summermick commented on #18519
also what's the point to create two NICs without assigning them???

[2018-11-09 01:03] MarileeTurscak-MSFT commented on #18448
If TLS 1.2 is not available on the underlying operating system, AD Connect will incrementally fall back to older protocols (1.1 and 1.0).

See the prerequisites document.  https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-install-prerequisites

The note here just means that you can force it to use 1.2 and not use the other protocols.

[2018-11-09 01:03] MarileeTurscak-MSFT commented on #18448
@jopgommans we will now proceed to close this thread. If you have further questions please tag me in the comments and I will gladly continue the conversation.

[2018-11-09 01:03] #18448 closed

[2018-11-09 01:08] BryanTrach-MSFT commented on #18516
@bunceg Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.