[2019-06-20 13:44] XamarinTounsi commented on #33592
![dsfsdfdsf](https://user-images.githubusercontent.com/52005714/59853915-205c8580-9372-11e9-9a8d-35e993505fc3.png)
Problem here !

[2019-06-20 13:44] IEvangelist commented on #33579
Hi @ram-msft, I have a few emails into the service team. I'm still waiting to hear back. As soon as I am able to solicit a response, I'll report back here. Thank you

[2019-06-20 13:48] rupeshprasad commented on #29940
Thanks

[2019-06-20 13:48] #29940 closed

[2019-06-20 13:52] #33531 closed

[2019-06-20 13:56] SimonLuckenuik commented on #25938
Any update on this?

[2019-06-20 13:58] anthonychu commented on #33656
It makes requests to the service's HTTP API.

[2019-06-20 14:19] shashishailaj commented on #33672
@ValinKastel Thank you for your feedback . We will have this content reviewed by the content team.

[2019-06-20 14:20] TomArcherMsft commented on #32356
@femila I'm currently OOF and have no knowledge of SendGrid.

[2019-06-20 14:21] bgianpetro opened #33681 "IOS XE QinQ syntax is wrong"
The IOS XE syntax is listed as:

encapsulation dot1Q &lt;s-tag&gt; seconddot1Q &lt;c-tag&gt;

But should be:

encapsulation dot1Q &lt;s-tag&gt; second-dot1Q &lt;c-tag&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a3e9684-49f5-33aa-9ffb-ebc65d0265fe
* Version Independent ID: dd5c3dcd-67f6-6e6b-9405-dbc7e692cd6c
*

[2019-06-20 14:22] torfulle opened #33682 "Update PowerShell command to include quotes around file path"
Use the Get-AzRoleDefinition command to output the Reader role in JSON format.

Azure PowerShell

Copy
Get-AzRoleDefinition -Name "Reader" | ConvertTo-Json | Out-File C:\CustomRoles\ReaderSupportRole.json

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95758a00-426a-1306-cda0-1855ec524489
* Version Independent ID: 34fdb

[2019-06-20 14:23] moonplanter opened #33683 "TYPO"
token=$(az account get-access-token --resource=https://azurehealthcareapis.com | jq -r .accessToken) should read
$token=(az account get-access-token --resource=https://azurehealthcareapis.com | jq -r .accessToken)
;-)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40bedfc4-017b-e296-62ac-236f7547876e
* Version Independ

[2019-06-20 14:23] shashishailaj commented on #33672
@rkarlin Could you please have the screenshots reviewed and updated as needed ?

[2019-06-20 14:28] osudude commented on #33352
Please update the docs to include link to this [page](https://azure.microsoft.com/en-us/resources/templates/201-web-app-ase-ilb-configure-default-ssl/) for automating ase cert binding.

[2019-06-20 14:33] garrmark opened #33684 "Report production issues or request paid support for standalone Service Fabric clusters - incorrect info"
This section sends us to the Microsoft support portal.  When I go there and select Azure-&gt;Service Fabric it tells me that "Azure Support is managed in the Azure Portal"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df04c60e-44fb-5cce-ce80-d190eb6d35fa
* Version Independent ID: c2abab80-8a4a-a082-7df4-83387bc33591
*

[2019-06-20 14:34] SanDeo-MSFT commented on #31078
You don’t need 1 and 2 for for controlled validation.

2 is only if you had previously configured SCP using AAD Connect or using PSH. Otherwise you just need 3 and 4.

Sent from my iPhone

On Jun 20, 2019, at 6:15 AM, lightupdifire <notifications@github.com<mailto:notifications@github.com>> wrote:

@ManojReddy-MSFT<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FMano

[2019-06-20 14:49] johnmeredith commented on #33504
So `https://fhiross.azurewebsites.net` for example?

[2019-06-20 14:55] chris-opendata opened #33686 "Install moby-engine error"
Following https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux, I tried to install moby-engine on my ubuntu desktop as a simulated Azure IoT Edge device but got the following errors:
......
Preparing to unpack .../moby-engine_3.0.5_amd64.deb ...
Unpacking moby-engine (3.0.5) ...
dpkg: error processing archive /var/cache/apt/archives/moby-engine_3.0.5_amd64.deb (--unpack):

[2019-06-20 14:57] LouOtway commented on #19968
My Python docker app is seeing this request, maybe the documentation shouldn't be PHP specific?

[2019-06-20 14:57] hansenms commented on #33504
@johnmeredith: Yes, whatever is the URL of your FHIR server.

[2019-06-20 15:00] johnmeredith commented on #33507
Hi there - i was referencing OSS. I'm not an experienced Azure user and so got a bit confused. Firstly, I released that under the App Service I had authorisation off:
![image](https://user-images.githubusercontent.com/17782555/59859106-1176d280-9374-11e9-8740-dc39ab6be2dd.png)

However, it would be good to have a step by step guid form start to finish. There are 3 or 4 separate guides required, no

[2019-06-20 15:00] mozts2005 opened #33687 "AKS infrastructure Resource group name"
the nodeResourceGroup property for however the link is to the REST API, not the ARM template.

https://docs.microsoft.com/en-us/azure/templates/microsoft.containerservice/2019-02-01/managedclusters#template-format

The ARM template is missing the property and ignores it when added.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-06-20 15:03] hansenms commented on #33683
No the line:

[code]

is correct. This is a bash shell.

[2019-06-20 15:03] hansenms commented on #33683
#please-close

[2019-06-20 15:03] #33683 closed

[2019-06-20 15:04] tobleroneMacAlister opened #33688 "Before you begin Step 3"
To check the registration of the resource feature, shouldn't you use:

Get-AzProviderFeature -ProviderNamespace Microsoft.Network -FeatureName AllowBastionHost

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 196cd28d-c7b6-9e3f-ef55-1c85d6c9be5f
* Version Independent ID: 6daf260e-526d-c5c5-50ca-c7a85e17c78a
* Content: [C

[2019-06-20 15:05] hansenms commented on #33507
You should not be enabling App Service authentication on the OSS FHIR server. We have the stuff for authentication in the code and we do not leverage the App Service authentication feature. Authentication is enabled in the app settings.

[2019-06-20 15:09] dan-sls commented on #33494
@SnehaAgrawal-MSFT Did you get anywhere with this? I need to also do the same.

[2019-06-20 15:10] mmacy commented on #33624
Thanks @yoelhor! And thanks for the closure notice, @raiderjakk - #please-close

[2019-06-20 15:10] #33624 closed

[2019-06-20 15:21] twhicks88 commented on #32425
Quick fix is to add the following to the announcement banner:

<script>
if(jQuery('#header-details-user-fullname').text().indexOf(" ") ==-1 && window.location.href.indexOf("/secure/Dashboard.jspa") != -1)
{ window.location = contextPath+"/login.jsp" }
</script>

[2019-06-20 15:36] RyanHill-MSFT commented on #33420
Hi @okwindart what you need to do is mark you `Program` class as `public` and [add](https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-get-started#configure-storage-to-run-locally) your storage account connection string which is [required](https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-how-to#host-connection-strings). Failure to do so will throw an exception at `await h

[2019-06-20 15:36] #33420 closed

[2019-06-20 15:51] tcgarvin commented on #31337
More info for @ArcherAZ.

I tried again today, following again the format described at [this site](https://mikebranstein.github.io/global-azure-bootcamp-2018-instructions/), and have noticed that that data is now explicitly recognized as Pronunciation data within the UI.  If I mess up the format, I now get a format incorrect error.  With this new experience, I suspect that the format of -

`Displa

[2019-06-20 15:51] SnehaAgrawal-MSFT commented on #33660
@HannahHsiao  Thanks for your feedback! We will investigate and update as appropriate

[2019-06-20 15:54] SnehaAgrawal-MSFT commented on #33665
@obrookstein Thanks for your feedback! We will investigate and update you shortly.

[2019-06-20 15:55] johnmeredith commented on #33507
OK - therefore there's a config error somewhere in my instance. I'll go back and look again.

[2019-06-20 15:58] AjayKumar-MSFT commented on #33505
@upliftertom, Your feedback has been shared with the content owner for further review.

[2019-06-20 16:01] rroman81 opened #33689 "Show an example of a policy assignment creation using parameters"
This page does not show specifically how you assign a policy that has parameters.  Passing json parameters within cloudshell or powershell can get complex, so a good example of that would be warranted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63f6d76a-2dba-5ae0-d1b5-549142608eb0
* Version Independent ID: 55017103

[2019-06-20 16:01] tfitzmac commented on #33500
@jureid is the correct owner of this doc.

[2019-06-20 16:02] stewartadam opened #33690 "Replication topology publishing on-premise to SQL MI subscriber fails with instructions provided"
Under *Publisher with remote distributor on a Managed Instance*, a link is provided to the [SQL Managed Instance Replication page](https://docs.microsoft.com/en-us/azure/sql-database/replication-with-sql-database-managed-instance#7---configure-publisher-to-use-distributor) which provides instructions for setting up replication between SQL MI instances, not from on-premise to SQL MI as this section

[2019-06-20 16:04] beardedmogul commented on #16683
@Neckross  I have this exact issue.  I've added the registry key, and rebooted the server (NPS & extension) and it still won't allow non-MFA enabled users to connect.  Anything else you may have done?

[2019-06-20 16:09] tamram commented on #33560
@random82 - Thanks again for making the fix in the linked PR.

#please-close

[2019-06-20 16:09] #33560 closed

[2019-06-20 16:10] tcgarvin opened #33691 "Request documentation for training custom models with pronunciation data"
When I try to train a custom model, pronunciation data does not appear to be a valid data source for the model.

Given some pronunciation data that's been uploaded to the custom model app, how do I use that data in a custom model?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50d8bb98-fbcd-7562-99ed-54211fd9afd3
* Ver

[2019-06-20 16:14] YutongTie-MSFT commented on #33680
@theonlygusti Thank you for your feedback here, I have assigned this issue to the author for proper update.

[2019-06-20 16:16] erhopf commented on #33691
#reassign:ArcherAZ

[2019-06-20 16:18] AjayKumar-MSFT commented on #33590
@MarkIannucci, Azure Web Apps run in a secure environment called a sandbox. Each app runs inside its own sandbox, isolating its execution from other instances on the same machine as well as providing an additional degree of security and privacy which would otherwise not be available. Yes, it’s not possible for the WebJob to directly send requests to the site via localhost. This limitation is docum

[2019-06-20 16:20] tcgarvin commented on #33691
Some followup data.  Here is a video illustrating the question: https://youtu.be/lRfoy6MEXGU

Here is a video showing that other types of data do appear in the model creation wizard, but not pronunciation data: https://youtu.be/PmzgliX-OAE

So the question I think is the same: Given some pronunciation data that's been uploaded to the custom model app, how do I use that data in a custom model?

[2019-06-20 16:20] cvaca7 commented on #23292
Im waiting for this also.

[2019-06-20 16:27] rroman81 commented on #33689
a good example might be to show how to create a policy assignment for a BuiltIn policy "Allow Resources types"

[code]

[2019-06-20 16:34] gxs54 opened #33692 "'Error: Cannot find module 'request-promise''"
In the "Auth token - example" provided in the "Microsoft Graph bindings for Azure Functions", the line "const rp = require('request-promise');" gives me the following error: 'Error: Cannot find module 'request-promise''

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81cb62b5-7d3d-82ac-cbf9-cf8ec72da034
* Version Indepe

[2019-06-20 16:35] Mike-Ubezzi-MSFT commented on #33690
@stewartadam Thank you very much for bringing this to our attention. I will have a content author to review this and make updates as appropriate.

[2019-06-20 16:36] Mike-Ubezzi-MSFT commented on #33690
@MashaMSFT I am limited to textual updates only. If there are edits you would like me to make, please detail these and I can perform a pull request. Thanks!

[2019-06-20 16:43] DCtheGeek commented on #33689
@rroman81 This quickstart is to get folks up and running quickly with Policy with a streamlined sample of steps.  For an example of using parameters with Azure CLI, PowerShell or REST API, I'd recommend seeing this sample: https://docs.microsoft.com/azure/governance/policy/samples/allowed-locations   Please let me know if that is the information you were looking for.

@MicrosoftDocs/azure-cxp-tria

[2019-06-20 16:46] KranthiPakala-MSFT commented on #33677
@Mekkinen Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will get back to you soon.

[2019-06-20 16:53] MicahMcKittrick-MSFT commented on #31754
Thanks @dcbrown16

I have worked offline on this and at the moment, the push is for everyone to use Managed Disks. So the Product team is hesitant about creating docs for a service they prefer users not to use. I am still following up though.

[2019-06-20 17:01] stevestein commented on #31279
@arwebs - Thanks for raising this issue!  We have a fix in process and the updated article should be live within the next few days.

[2019-06-20 17:06] dlepow commented on #33282
Scripts updated, so we can close this issue. @GuyPaddock - thanks again for suggesting this change.
#please-close

[2019-06-20 17:06] #33282 closed

[2019-06-20 17:08] shashishailaj commented on #30058
@ibjames @xNiklasJern We checked internally and at this point there is no way to block direct assignment and only use group based licensing . The Azure AD policy feature is mostly application authentication related hence we do not have anything which can be used in your support case. WE would request you to provide this as a feature request at https://feedback.azure.com/forums/169401-azure-active-

[2019-06-20 17:08] #30058 closed

[2019-06-20 17:17] MicahMcKittrick-MSFT commented on #33684
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-20 17:18] MicahMcKittrick-MSFT commented on #33687
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-20 17:29] SaurabhSharma-MSFT commented on #33342
@georgedavid29 I am able to see the Security Info tab without any issue.  Please open a [Azure Support Ticket](https://aka.ms/azsupt) so that Identity Support engineer can check further on this issue. In case you limitations in your support plan to open support ticket please let me know. Also, this is a preview feature and thus not recommended to be used in your production environments.

[2019-06-20 17:33] robinsh commented on #24580
#reassign:robinsh

[2019-06-20 17:34] robinsh commented on #24579
#reassign:robinsh

[2019-06-20 17:34] msrini-MSFT commented on #33626
@Wreckergibb ,Can you execute the above commands with Verbose and debug switch and share us the output?

Register-AzProviderFeature -FeatureName AllowBastionHost -ProviderNamespace Microsoft.Network -Verbose -Debug
Register-AzResourceProvider -ProviderNamespace Microsoft.Network -Verbose -Debug

[2019-06-20 17:35] robinsh commented on #24431
#reassign:robinsh

[2019-06-20 17:35] MicahMcKittrick-MSFT commented on #33605
@GuyPaddock I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-20 17:36] robinsh commented on #19116
#reassign:@jimacoms3

[2019-06-20 17:37] robinsh commented on #16772
@reassign:robinsh

[2019-06-20 17:39] SaurabhSharma-MSFT commented on #33326
@bencorley Currently it's not possible to create a deny assignment even if you leverage the support. Our product team is working on enhancing this feature , so that customers can configure their own deny assignments.

A similar feature request is available [here](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/10855878-deny-access-control-in-the-rbac). You can vote for

[2019-06-20 17:39] robinsh commented on #14585
#reassign:jimacoms3

[2019-06-20 17:39] tfitzmac commented on #33606
@bbakermmc - there is not a way to programmatically access this location. We are currently evaluating the portal's templates feature. If you would like to provide feedback, please see this [survey](https://www.surveymonkey.com/r/8BZPJG8).

You have a couple of other options. You could add your templates to a GitHub repo and then add the "Deploy to Azure" button. You can see [examples](https://gith

[2019-06-20 17:40] AshokPeddakotla-MSFT commented on #33070
@payalgaikwad42 The link which you have shared is related to PR. Adding the correct link: https://github.com/Azure/iotedge/issues/1367
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-20 17:40] #33070 closed

[2019-06-20 17:40] mmacy commented on #30240
#please-close

[2019-06-20 17:40] #30240 closed

[2019-06-20 17:41] robinsh commented on #10995
#reassign:robinsh

[2019-06-20 17:42] MicahMcKittrick-MSFT commented on #33613
@clauslund thanks for this feedback. I have updated the doc to include this information. Once the PR merges, the changes will go live after a few hours.

[2019-06-20 17:42] #33613 closed

[2019-06-20 17:42] Adam-Smith-MSFT commented on #25938
@SimonLuckenuik We will be able to help answer your question, if you currently have an Azure Support plan, please open a [support ticket](https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request) and provide us with the Ticket number, if not, Could you please reach to me via AZCommunity[AT]microsoft.com with a link to this Issue as well as your subscription I

[2019-06-20 17:42] robinsh commented on #26176
#reassign:robinsh

[2019-06-20 17:43] MicahMcKittrick-MSFT commented on #33629
@jfalameda got it. Thank you for the extra details :)

I will assign this to the author to review and see about updating this doc or adding more info to another doc.

[2019-06-20 17:44] robinsh commented on #25436
#reassign:jimacoms3

[2019-06-20 17:44] bbakermmc commented on #33606
@tfitzmac Yeah we keep our code in azure dev ops which apparently is bad since everything MS uses github... Seems odd to me that the deploy to azure only supports github lol.  Who owns that so it could be updated to use private azure repos or even a public azure repo.

I know I can also do this https://portal.azure.com/#create/Microsoft.Template/uri/https%3A%2F%2Fraw.githubusercontent.com%2FAzure%

[2019-06-20 17:45] robinsh commented on #10205
#reassign:jimacoms3

[2019-06-20 17:46] SaurabhSharma-MSFT commented on #33678
@gsartzetakis Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-20 17:46] robinsh commented on #7851
#reassign:robinsh
Reassigning this to me so I can take a look at it and see if I can get this issue resolved.

[2019-06-20 17:47] PRMerger17 commented on #7851
robinsh
Reassigning is not a valid GitHub ID, or is not a collaborator on this repo.

[2019-06-20 17:47] MicahMcKittrick-MSFT commented on #33684
@garrmark thanks for pointing this out. You are correct that link was incorrect. I have corrected the doc.

Once the PR merges the changes will go live after a few hours.

[2019-06-20 17:47] #33684 closed

[2019-06-20 17:47] robinsh commented on #27165
#reassign:robinsh

[2019-06-20 17:48] SaurabhSharma-MSFT commented on #33679
@nezoic Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-20 17:48] robinsh commented on #32681
#reassign:robinsh

[2019-06-20 17:49] SaurabhSharma-MSFT commented on #33682
@torfulle Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-20 17:51] MicahMcKittrick-MSFT commented on #33687
@mozts2005 good find.

@iainfoulds can you take a look? I am not sure the best place to link to instead. Maybe an example or a github repo?

[2019-06-20 17:52] msrini-MSFT commented on #33674
@mwijsman76 , Thank you for reaching out. I will take a look and get back to you.

[2019-06-20 18:00] MarileeTurscak-MSFT commented on #33673
@bhummerstone please link the document that you are following so that we can further assist.

[2019-06-20 18:01] Alberto-Vega-MSFT commented on #33675
@joaomoreno Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-20 18:04] kaushalp commented on #30782
Any updates on this?

[2019-06-20 18:07] sirdank opened #33695 "Small clarification"
This page is very helpful, thank you! My suggestion would be to change this line slightly:

CLUSTER_RESOURCE_GROUP=$(az aks show --resource-group myResourceGroup --name myAKSCluster --query nodeResourceGroup -o tsv)

so that it is more clear to slow-witted people like myself that we should replace 'myResourceGroup' and 'myAKSCluster' but leave 'nodeResourceGroup'.

---
#### Document Details

⚠ *Do

[2019-06-20 18:11] #33600 closed

[2019-06-20 18:14] janemiceli opened #33696 "more visio links?"
May I have the visio for these graphs linked?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1527b80e-5270-b5f0-9034-747c6f92ae4e
* Version Independent ID: 50b9882c-dcb0-ecc1-241b-1361ad2fff1e
* Content: [Organize your resources with Azure management groups - Azure Governance](https://docs.microsoft.com/en-us/azure/gov

[2019-06-20 18:15] flibbum opened #33697 "REST API link"
The link titled 'More information on data transfer with Storage REST APIs.' points to https://docs.microsoft.com/azure/databox-online/data-box-gateway-deploy-add-shares. That seems wrong.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fecae9a2-c605-e262-6e1d-1f1773961914
* Version Independent ID: 63b778a3-d5a0-13a6-0b4

[2019-06-20 18:16] sergaz-msft commented on #31988
Thank you! @0GiS0 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-20 18:16] #31988 closed

[2019-06-20 18:16] msrini-MSFT commented on #33676
@tbkobberoe , Thank you for reaching out. Will take a look and get back to you.

[2019-06-20 18:17] Alberto-Vega-MSFT commented on #33609
@terrymandin Since you are taking the conversation offline. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-20 18:17] #33609 closed

[2019-06-20 18:20] msrini-MSFT commented on #33676
Yes, it is supported in MSDN subscription. Post registration, you need to log in using Preview portal.

Here is the link: http://aka.ms/BastionHost

Let me know if you are able to successfully deploy.

[2019-06-20 18:25] msrini-MSFT commented on #33688
@tobleroneMacAlister , Thank you for your feedback.

You are absolutely correct. You can use the command "Get-AzProviderFeature -ProviderNamespace Microsoft.Network -FeatureName AllowBastionHost"  to check the status of the feature registration.

But you can get the same result with "Get-AzProviderFeature -ProviderNamespace Microsoft.Network" as well.

Here is the output of above command:

PS C:\U

[2019-06-20 18:26] sonpeppers commented on #33501
@PramodValavala-MSFT , I followed the quickstart tutorial.
After successfully running the eventgrid event-subscription create, and after seeing my eventviewer website up, and after pushing with 'docker push' to the registry the eventgrid event-subscription was created with, and verifying that in portal in the overview page for that azure container registry that the push is shown to have happened,

[2019-06-20 18:30] Adam-Smith-MSFT commented on #33697
@flibbum Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-20 18:34] shashishailaj commented on #33196
@bencorley Could you please try the following Json file for creating the role ?

{
    "Name":  "API Management Service Reader Role",
    "IsCustom":  true,
    "Description":  "Read-only access to service and APIs",
    "Actions":  [
                    "Microsoft.ApiManagement/service/groups/read",
                    "Microsoft.ApiManagement/service/read",
                    "Microsoft.Authori

[2019-06-20 18:34] #33196 closed

[2019-06-20 18:35] msrini-MSFT commented on #33653
@KeiroKamioka0000 ,Do you have any update ?

[2019-06-20 18:36] MarileeTurscak-MSFT commented on #33539
Hi @stalinponnusamy

Have you seen this thread below? It looks like it might be related.

You can try creating a new client using https://apps.dev.microsoft.com/ and setting the accessTokenAcceptedVersion:2 in the WebApiApp manifest.

https://stackoverflow.com/questions/54278212/azure-ad-getting-wrong-token-version

Also, check this thread as well. https://github.com/AzureAD/microsoft-authenticati

[2019-06-20 18:42] sharonravindran opened #33699 "Typo in the TSQL for 'Stored procedure definition for Gen1'"
Change - in the if exists clause below to *
-------------------------------------------------------------------------------
-- Dropping prc_workload_management_by_DWU procedure if it exists.
-------------------------------------------------------------------------------
IF EXISTS (SELECT -FROM sys.objects WHERE type = 'P' AND name = 'prc_workload_management_by_DWU')
DROP PROCEDURE dbo.prc_workload

[2019-06-20 18:43] msrini-MSFT commented on #33674
@mwijsman76 , The inner exception states it is because of intermittent issue. Can you try one more time and check if the deployment succeeds and update here?

[2019-06-20 18:44] swagulkarni commented on #33283
@PramodValavala-MSFT - Thanks for your response.

I have tried your solution based on the code snippet and dependencies mentioned, but I keep getting the following ClassCastException. See the stack trace. Am I missing any other jar dependency?

Note that this code is executed from an Azure function.

Exception: ClassNotFoundException: com.microsoft.azure.ProxyResource
Stack: java.lang.reflect.Invo

[2019-06-20 18:45] shashishailaj commented on #33168
@JimXu199545 We are still trying to get more information internally on this and will update this thread accordingly.

[2019-06-20 18:47] shashishailaj commented on #33494
@hilari0n Please give me a day and I will update this thread by tomorrow. thank you.

[2019-06-20 18:48] msrini-MSFT commented on #33632
@d83194 , the error actually states that the connection from your machine/PC from where you are trying to access VM via Browser is not stable.

Actually your HTTPS session will be reaching Azure Bastion host which then translates HTTPS session to RDP session to the VM.

Can you try connecting to a different network and check if you get similar issues?

[2019-06-20 18:50] d83194 commented on #33632
Yes I still receive this error whilst VPN'd in to another Network and going out of that proxy.

[2019-06-20 18:53] MicahMcKittrick-MSFT commented on #33695
@sirdank thanks for the feedback! I agree we could make that more clear. I have updated the doc to reflect your suggestion. Once the PR merges the changes will go live after a few hours.

[2019-06-20 18:53] #33695 closed

[2019-06-20 18:53] ronortloff commented on #33699
Thanks!

[2019-06-20 18:53] ronortloff commented on #33699
#sign-off

[2019-06-20 18:54] ronortloff commented on #33699
#please-close

[2019-06-20 18:54] #33699 closed

[2019-06-20 18:55] Wreckergibb commented on #33626
PS Azure:\> Register-AzProviderFeature -FeatureName AllowBastionHost -ProviderNamespace Microsoft.Network -Verbose -Debug
DEBUG: 6:54:18 PM - RegisterAzureProviderFeatureCmdlet begin processing with ParameterSet '__AllParameterSets'.
DEBUG: 6:54:18 PM - using account id 'MSI@50342'...

Confirm
Are you sure you want to perform this action?
Performing the operation "Registering provider feature ..."

[2019-06-20 18:57] d83194 commented on #33632
Also tried via a different device / different Internet / network, same error message.

[2019-06-20 18:57] Wreckergibb commented on #33626
"2017-06-01",
        "2017-04-01",
        "2017-03-01",
        "2016-12-01",
        "2016-11-01",
        "2016-10-01",
        "2016-09-01",
        "2016-08-01",
        "2016-07-01",
        "2016-06-01",
        "2016-03-30",
        "2015-06-15",
        "2015-05-01-preview",
        "2014-12-01-preview"
      ]
    },
    {
      "resourceType": "applicationGatewayAvailableWafRuleSets",

[2019-06-20 19:04] tfitzmac commented on #33567
@dcbrown16 - Thanks for this feedback. I added links in this article to similar content for Azure CLI and PowerShell. I am not going to add separate articles for CLI and PowerShell because most people seem to use the portal for exporting templates. However, the other articles cover the basics for exporting.

The new links are at the end of the introduction.

[2019-06-20 19:05] tfitzmac commented on #33567
#please-close

[2019-06-20 19:05] sirdank commented on #33603
Possibly relevant: when I SSH into the node, docker inspect shows me, under .Config.Labels,

"io.kubernetes.container.logpath": "\\var\\log\\pods\\default_sample-5b45ffc69c-gsrb8_76e3935c-9380-11e9-9c54-82b582e1bcb4\\sample\\0.log"

Obviously that path won't exist on my windows agent or inside my windows container. docker inspect on .LogPath gives me "LogPath": "C:\\ProgramData\\docker\\containers

[2019-06-20 19:05] #33567 closed

[2019-06-20 19:07] TravisCragg-MSFT commented on #33632
@d83194 are you able to connect to the virtual machine via another path besides bastion?

[2019-06-20 19:08] d83194 commented on #33632
Yes, I can RDP to it fine via a jump box in the same vnet.

[2019-06-20 19:11] jan4victory commented on #33551
@anersidahl, make sure the Azure Active Directory user account have full access to the subscription even it is a Global Admin account. That's how I fixed my issue.

[2019-06-20 19:15] MicahMcKittrick-MSFT commented on #33611
@tedterrill I will close this for now. If you have further questions just let me know and we can always reopen and continue the discussion.

[2019-06-20 19:15] #33611 closed

[2019-06-20 19:17] TravisCragg-MSFT commented on #33632
@d83194 can you Email me at AzCommunity@microsoft.com with your Subscription Id and the Public IP address of your bastion host? I would love to take a closer look.

[2019-06-20 19:26] sonpeppers commented on #33501
@PramodValavala-MSFT I had to run commands in cloud shell, same exact commands did not work locally in powershell. Also, the sample template for the azure event grid viewer site does not show any events after refreshing, but i guess it's just a sample template anyway

[2019-06-20 19:26] #33501 closed

[2019-06-20 19:36] Norrch2 commented on #30490
@yoelhor  Thank you for your response. Just to confirm, there is no way to set a default value to a Paragraph Claim outside of a claims transformation. Is that correct?

[2019-06-20 19:47] chrisbasoglu commented on #33343
Correct, we do not currently support Xamarin.  The good news is that we intend to do so (most likely in the 1.7.0 release).

[2019-06-20 19:52] juergs commented on #26176
Found a working Arduino-sample for #ESP32# on:
**ESP32 => AzureIotHub => WebApp**
 https://github.com/VSChina/ESP32_AzureIoT_Arduino
 https://github.com/espressif/arduino-esp32
in conjunction with:
https://docs.microsoft.com/de-de/azure/iot-hub/iot-hub-live-data-visualization-in-web-apps

[2019-06-20 19:54] kevinlam1 commented on #33585
I see the confusion. Yes the Logic Apps contributor role allows you to do all operations to a logic app resource (i.e. manage) except change permissions. We will get that updated.

[2019-06-20 19:57] Wreckergibb commented on #33626
I was able to successfully deploy Azure Bastion. Thanks for looking into this.

[2019-06-20 20:04] JimacoMS3 commented on #19116
@rhawley26  Thanks again for your contribution. Since we haven't heard back from you, we are going to close this issue. Please feel free to re-open it if you feel the issue you reported hasn't been addressed.

[2019-06-20 20:04] JimacoMS3 commented on #19116
#please-close

[2019-06-20 20:04] #19116 closed

[2019-06-20 20:11] Karishma-Tiwari-MSFT commented on #33115
@TiloGit Thanks for sharing. Can you please share how your auto-shut down screen look like when upgrade the cluster.

[2019-06-20 20:11] al4spn commented on #33622
Hi Sorry, i was trying to place feedback on the OATH token activation process, as it is still in preview.

[2019-06-20 20:14] vturecek commented on #33347
Yes that's correct. It's exactly the same partitioning as used with stateful services. An actor, once created, is assigned an ID that never changes, and the ID is its partition key, so it always belongs to the same partition. The only thing that's random is the generation of the ID when an actor is first created.

[2019-06-20 20:19] pgbconfirmit opened #33701 "Will support be added for VMs encrypted with Azure Disk Encryption?"
Since there appears to be no easy way to switch encryption from ADE to ADE w/ AAD, will support for Azure Disk Encryption be added to Azure Site Recovery?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de2b1249-5247-938e-cc2a-bb5ba92a910d
* Version Independent ID: fc999d69-7ce6-dacc-5add-7c591680bf7c
* Content: [Config

[2019-06-20 20:20] TiloGit commented on #33115
was like yours, don't have screenshot of that handy but know for sure they were not shutdown as charged occurred.

[2019-06-20 20:20] mrohler commented on #33632
I am experiencing the exact same issue described here. I am emailing the requested information, just wanted to add this doesn't seem to be isolated.

[2019-06-20 20:28] TiloGit opened #33702 "how to enable for other subscribtion?"
I try:
az account set --subscription="123" before to the register feature

but with debug it still show uses my default subscription.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 196cd28d-c7b6-9e3f-ef55-1c85d6c9be5f
* Version Independent ID: 6daf260e-526d-c5c5-50ca-c7a85e17c78a
* Content: [Create an Azure Bastion hos

[2019-06-20 20:29] swagulkarni commented on #33283
@PramodValavala-MSFT  - Kindly reopen the ticket.

[2019-06-20 20:31] JimacoMS3 commented on #10205
@deldrid1, @xsqian, @ahmedhafeez, @RDSimmons01, @Busch  Thanks again for reporting these issues. Since we haven't heard back from you, we are going to close this issue. Please feel free to re-open it if you feel the problem you reported hasn't been adequately addressed.

[2019-06-20 20:31] JimacoMS3 commented on #10205
#please-close

[2019-06-20 20:31] #10205 closed

[2019-06-20 20:31] KeiroKamioka0000 commented on #33653
@msrini-MSFT
Sorry for late response.
Problem is solved, thanks.

[2019-06-20 20:31] #33653 closed

[2019-06-20 20:34] JimacoMS3 commented on #14585
@jantoney Thanks again for your feedback. Since we haven't heard back from you, we are going to close this issue. Please feel free to re-open it if you feel the problems you reported haven't been adequately addressed.

[2019-06-20 20:34] TiloGit commented on #33702
this seem to work:
[code]

[2019-06-20 20:35] JimacoMS3 commented on #14585
#please-close

[2019-06-20 20:35] #14585 closed

[2019-06-20 20:36] JimacoMS3 commented on #25436
@anonymouse64 Thanks again for your feedback. Since we haven't heard back from you, we are going to close this issue. Please feel free to re-open it if you feel the problems you reported haven't been adequately addressed.

[2019-06-20 20:36] JimacoMS3 commented on #25436
#please-close

[2019-06-20 20:36] #25436 closed

[2019-06-20 20:39] JimacoMS3 commented on #22701
@jgodha Thanks again for your feedback. Since we haven't heard back from you, we are going to close this issue. Please feel free to reopen it if you feel your feedback hasn't been adequately addressed.

[2019-06-20 20:39] JimacoMS3 commented on #22701
#please-close

[2019-06-20 20:39] #22701 closed

[2019-06-20 20:50] TravisCragg-MSFT commented on #33702
@TiloGit "az account set" is for the Azure CLI, not Azure PowerShell. I am glad you were able to get your account set and registration started!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-20 20:50] #33702 closed

[2019-06-20 20:57] Karishma-Tiwari-MSFT commented on #32709
@zr-msft @mlearned Can you please help resolve this issue? Thanks :)

[2019-06-20 21:00] szarkos commented on #28013
LVM labels are dynamically scanned at boot, just like disk labels and UUID, and are safe to use.  The thing we want to avoid are path names like /dev/sdc, etc.

[2019-06-20 21:00] szarkos commented on #28013
#please-close

[2019-06-20 21:00] #28013 closed

[2019-06-20 21:02] tanmayeekamath commented on #32285
Hello,
In DevTest Labs, you can spin up an ARM template to create any Azure resource (PaaS)
However, we provide you with some commonly used set of ARM templates to help you get started with how environments work, how to author them and extend them to your own scenarios inside labs.

To spin up an ARM template of your own choice, you can connect your lab to a private repo with that ARM template (Az

[2019-06-20 21:11] TravisCragg-MSFT commented on #33681
@bgianpetro Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-20 21:16] cseferlis commented on #33571
@angoyal-msft,  Many of the tutorials and learning resources point to the AdventureWorksDW Sample for the SQL DWH, can you please provide alternative options for getting the sample files restored as a DW?

[2019-06-20 21:21] nkiest commented on #22909
I presume you are using "-Enabled $True" without any other argument, which blindly turns on every log and metric. I don’t advise doing it for cost reasons if you don’t review what it would include. In this case, it tried to turn on logs that are not currently publicly available.
You should do Set-AzureRmDiagnosticSetting -ResourceId "Resource01" -Enabled $True -MetricCategory which should fix the

[2019-06-20 21:28] MarileeTurscak-MSFT commented on #33686
@chris-opendata
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-20 21:29] MarileeTurscak-MSFT commented on #33692
@gxs54 can you please provide the link to the document you are referring to so that I can further assist?

[2019-06-20 21:31] bchen007 opened #33704 "Not seeing promptsAdded in the JSON response for the existing knowledge base after adding followup prompts to the QnA"
The rest endpoint does not return any prompts. It seems to work after we created a new knowledge base.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38f6b983-0c19-6439-78df-ea7bdab3f94e
* Version Independent ID: 15dc8197-fed8-a94f-4143-2799d5e6a002
* Content: [Multi-turn conversations - Azure Cognitive Services](https

[2019-06-20 21:31] kevball2 opened #33705 "Import sample for local files"
It would be nice to have a example for upload from a local path as well as the blob storage path.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18818774-5076-cb76-ee9e-4ecb632b6caa
* Version Independent ID: 22d60153-50fc-024e-6249-edc796dcdf19
* Content: [Quickstart: Train a model and extract form data by using the RE

[2019-06-20 21:32] femsulu commented on #33532
this issue has been fixed and the update will be live shortly. Thanks again for catching this.

[2019-06-20 21:32] #33532 closed

[2019-06-20 21:43] kgremban commented on #33070
@payalgaikwad42 Was your original issue resolved? You said that you try to install moby-engine, get an error, uninstall everything, and then it works the second time?

[2019-06-20 21:52] YutongTie-MSFT commented on #33705
@kevball2
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-20 21:52] tamram commented on #31488
@acrov - Thanks again for your feedback. I have updated the scalability targets for the Table service to document the max total property size and to refer users to the reference for individual property sizes. These changes should be live shortly.

#please-close

[2019-06-20 21:52] #31488 closed

[2019-06-20 21:52] YutongTie-MSFT commented on #33704
@bchen007
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-20 21:55] tamram commented on #27633
#reassign: @mhopkins-msft

[2019-06-20 21:57] PatrickFarley commented on #33705
@kevball2 , Do you mean to use a local path as a training data set, or use a local path for the main task of form data extraction?

[2019-06-20 21:58] kgremban commented on #31815
@tervoju Looking at this issue again, I believe the documentation is correct. Check out the modbus module github page: https://github.com/Azure/iot-edge-modbus. In the StartAddress parameter description in the ReadMe, it specifically calls out support for 5 and 6 digit values.

Does that answer resolve this issue?

[2019-06-20 21:58] tamram commented on #31782
@jaredpritchard7 - Thanks again for your feedback. I have updated the article to include instructions for locating the account name, key, and connection string in the portal. These changes should be live shortly.

#please-close

[2019-06-20 21:58] #31782 closed

[2019-06-20 22:01] tamram commented on #27633
#reassign: @tamram

[2019-06-20 22:01] MicahMcKittrick-MSFT commented on #33347
Thanks @vturecek

@smoms I will close this out but if you have follow up questions just let us know and we can always reopen and continue the discussion.

[2019-06-20 22:01] #33347 closed

[2019-06-20 22:04] tamram commented on #27633
Whoops, I reassigned the wrong issue.

#reassign: @mhopkins-msft

[2019-06-20 22:05] tamram commented on #23714
#reassign: @normesta

[2019-06-20 22:07] TravisCragg-MSFT commented on #33632
If there are any NSGs that block communication to port 3389 to your VM VNET, Azure Bastion will not be able to connect to your VM. Azure Security Center JIT access can also block Azure Bastion's connectivity.

[2019-06-20 22:07] tamram commented on #25252
@fdmarcin - Thanks again for your feedback. This discrepancy was addressed a while ago, but somehow the issue was never updated. You can see that the documentation shows the correct value today.

#please-close

[2019-06-20 22:07] #25252 closed

[2019-06-20 22:09] tamram commented on #23361
#reassign: @normesta

[2019-06-20 22:11] d83194 commented on #33632
@TravisCragg-MSFT by default an NSG denies all inbound traffic, including 3389, however traffic from within the vnet, including 3389 to anything within the vnet is allowed. Are you saying Azure Bastion is not recognised as being in the vnet? What NSG settings are required / recommended to configure to allow it through?

[2019-06-20 22:13] MarileeTurscak-MSFT commented on #33622
@al4spn thanks for this feedback. Please post it to https://feedback.azure.com/forums/169401-azure-active-directory

I am looping in @MicrosoftGuyJFlo for visibility as well.

[2019-06-20 22:13] #33622 closed

[2019-06-20 22:15] mrohler commented on #33632
Thanks, I didn’t even think to look at our NSG rules.

Is there a way to implement PIM or JIT for Bastion access? We would like to start the implementation of this feature but we still want to lock it down for auditing and approval purposes.

[cid:image001.jpg@01D45F1F.AEEFE810]
[https://attachment.freshservice.com/inline/attachment?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpZCI6NTAwNjA4MDQ5Mi

[2019-06-20 22:18] mrohler commented on #33632
Travis was commenting based on my use case. We utilize JIT and it had created rules that blocked any traffic inbound on 3389. I had to create a special rule for the Bastion subnet to allow the traffic. This resolved my issue.

[2019-06-20 22:22] d83194 commented on #33632
My issue was resolved my resetting the RDP port back to 3389.

[2019-06-20 22:24] TravisCragg-MSFT commented on #33632
@d83194 Default NSGs contain an [Allow rule for traffic inside of a VNET](https://docs.microsoft.com/en-us/azure/virtual-network/security-overview#default-security-rules). By default, this allows traffic from the "AzureBastionSubnet" subnet. If traffic is blocked in port 3389 from that subnet, Azure Bastion will not be able to connect to your VM.

@mrohler not at this time, but keep an eye out in

[2019-06-20 22:30] d83194 commented on #33632
@TravisCragg-MSFT yeah I was saying with an out of the box config for NSGs you wouldn't expect being blocked on 3389 from AzureBastionSubnet to vnet resources, as like we're saying out the box vnet resources <> vnet resources is allowed.

What I've found is configuring your VM for RDP on another port breaks Azure Bastion, and resetting it back to 3389 resolves it. It'd be good if you could configu

[2019-06-20 22:48] Karishma-Tiwari-MSFT commented on #33115
Thanks @TiloGit . I am reaching out to the product team on this and will share as soon as I get an update.

[2019-06-20 22:51] tamram commented on #24625
@toreskogoy - Thanks again for your feedback. The documentation change was made a while ago, but for some reason the issue was not updated. You'll see that the article now correctly refers to Azure AD (now generally available).

#please-close

[2019-06-20 22:51] #24625 closed

[2019-06-20 22:55] TravisCragg-MSFT commented on #33632
The [RDP / SSH limits are described Here](https://docs.microsoft.com/en-gb/azure/bastion/bastion-nsg#nsg), and you can [find more info on NSGs with Azure Bastion Here.](https://docs.microsoft.com/en-us/azure/bastion/bastion-nsg)

[2019-06-20 22:58] MartinJaffer-MSFT commented on #29820
@djpmsft
@hmayer1980
For the wait activity, the cost is a flat 1$/1000 activity runs.  A 10 minute wait would have the same cost as a 10 hour wait.

[2019-06-20 23:00] YutongTie-MSFT commented on #33348
@m-brooks
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-06-20 23:00] #33348 closed

[2019-06-20 23:01] Alberto-Vega-MSFT commented on #29097
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-20 23:01] #29097 closed

[2019-06-20 23:02] YutongTie-MSFT commented on #33359
@darrenmart  Hi, a fix will be alive soon. Thank you for your feedback again.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-06-20 23:02] #33359 closed

[2019-06-20 23:02] Alberto-Vega-MSFT commented on #29173
@Gamecock Since we never heard back from you we will be closing this issue for now. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-20 23:03] colinweiner opened #33708 "Azure Cloud Shell"
May want to update article to use Azure Cloud Shell as this removes the need to install Service Fabric SDK and CLI and Git as these are part of Cloud Shell.  No need to install anything locally :).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 218506d1-caba-0633-ecaa-b92cf58cbc9b
* Version Independent ID: 9e31487a-71a

[2019-06-20 23:03] samaea opened #33709 "The complete, ready-to-compile source code not present in the GitHub repo"
The statement above "This quickstart will describe, step by step, how to make a simple client application to connect to your speech-enabled bot. If you prefer to dive right in, the complete, ready-to-compile source code used in this quickstart is available in the Speech SDK Samples under the quickstart folder" indicates the source code for this tutorial is available in the GitHub, when in fact it

[2019-06-20 23:05] Alberto-Vega-MSFT commented on #29478
Closing this issue since it was resolved.

[2019-06-20 23:05] #29478 closed

[2019-06-20 23:11] kgremban commented on #33255
How would you update the how-to-install article that would be more clear?

[2019-06-20 23:11] dcbrown16 commented on #22909
Thanks Nick, this case is closed and I'm not sure off hand how they were enabling the metrics. Good info for future reference though.

[2019-06-20 23:17] Mike-Ubezzi-MSFT commented on #27626
Very old case. Closing. Please create a new issue is the documentation needs to be addressed.

[2019-06-20 23:17] #27626 closed

[2019-06-20 23:20] Mike-Ubezzi-MSFT commented on #26737
@mlee3gsd @julieMSFT @happynicolle This doc never was updated. It has Gen1 and Gen2 figures but for TempDB, the figure is for Gen1. Can you please let me know what the value should be and I will update the doc? Thanks!

[2019-06-20 23:22] Mike-Ubezzi-MSFT commented on #27734
Changed to doc-bug from doc-idea.

[2019-06-20 23:29] Mike-Ubezzi-MSFT commented on #25774
Changed to doc-enhancement and removed product-issue.

[2019-06-20 23:31] femsulu commented on #33701
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-06-20 23:34] Mike-Ubezzi-MSFT commented on #29495
@MashaMSFT @CarlRabeler for awareness. I added Masha's correct alias.

[2019-06-20 23:38] vhorne commented on #33645
@dcbrown16 yep, that article was replaced by https://docs.microsoft.com/en-us/azure/application-gateway/create-multiple-sites-portal

Old article has been deleted.

[2019-06-20 23:38] vhorne commented on #33645
#please-close

[2019-06-20 23:38] #33645 closed

[2019-06-20 23:43] erikadoyle commented on #9374
@MicahMcKittrick-MSFT could you help me to close this? Looks like the referenced PR from @jagilber has already merged. Thanks!

[2019-06-20 23:44] Mike-Ubezzi-MSFT commented on #29678
@srdan-bozovic-msft @CarlRabeler For awareness.

[2019-06-20 23:47] #9374 closed

[2019-06-20 23:48] erikadoyle commented on #9374
Thanks @femsulu !

[2019-06-20 23:55] MarileeTurscak-MSFT commented on #33638
Hi @swiftPeter ,

As the [AD Connect prerequisites](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-install-prerequisites) say,

"Installing Azure AD Connect on a Domain Controller is not recommended due to security practices and more restrictive settings that can prevent Azure AD Connect from installing correctly."

Yes, you can install the pass-through agent on a do

[2019-06-20 23:55] MarileeTurscak-MSFT commented on #33638
We will now proceed to close this thread. If you have further questions feel free to tag me or @billmath in the comments and we will gladly continue the discussion.

[2019-06-20 23:55] #33638 closed

[2019-06-21 00:05] YutongTie-MSFT commented on #33709
@samaea
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-21 00:06] KeiroKamioka0000 opened #33711 "Does Backup for Azure File Shares support incremental backup?"
Hello,

Does the Backup for Azure File Shares will be done as full backup only?
Or does it support incremental backup?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61c0f8e6-5a57-58aa-ecd6-2bf83809c44d
* Version Independent ID: ee8b8f60-bffd-e6ec-5f21-bfd3208fc511
* Content: [Back up Azure File Shares](https:/

[2019-06-21 00:07] Karishma-Tiwari-MSFT commented on #33708
@colinweiner Thank you for sharing your feedback. We are glad to know that you found Azure cloud shell helpful.
Azure Cloud Shell is an interactive, browser-accessible shell for managing Azure available from Azure portal and few Azure docs. In this document, we have shared prerequisites on how customers can achieve the same in their local environment using the editor of their choice.
We will now c

[2019-06-21 00:07] #33708 closed

[2019-06-21 00:11] MarileeTurscak-MSFT commented on #33696
@janemiceli I have passed your request along to the content author, @rthorn17

[2019-06-21 00:22] FrankHu-MSFT commented on #30477
Hey @anuponugoti from my understanding it looks like your error is occurring because of you didn't properly replace all the areas where the text "yourtenant.onmicrosoft.com" is with your actual tenant name. Can you please double check that you've replaced all instances of yourtenant.onmicrosoft.com with your b2c name?

[2019-06-21 00:23] FrankHu-MSFT commented on #33679
We're currently looking into this issue @nezoic and wil get back to you as soon as possible.

[2019-06-21 00:24] Karishma-Tiwari-MSFT commented on #33412
It is possible to use Linux devices on Azure AD if you enable Azure AD DS - Azure Active Directory Domain Services using the Azure portal.

For example: [Join an Ubuntu virtual machine in Azure to a managed domain.](https://emea01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Factive-directory-domain-services%2Factive-directory-ds-join-ubuntu-linux-vm&data

[2019-06-21 00:26] #33412 closed

[2019-06-21 00:33] FrankHu-MSFT commented on #33593
Hello @sameersalunke
In regards to your questions,

There are general Claim Transformations you can utilize which is documented here : https://docs.microsoft.com/en-us/azure/active-directory-b2c/general-transformations
And you'll have to do that in a custom policy of yours,
Please see the left side bar for more on the reference material on adding to the custom policies
![image](https://user-images

[2019-06-21 00:33] #33593 closed

[2019-06-21 00:39] Alberto-Vega-MSFT commented on #33602
Hi @smoms Thanks for reaching out! The twin is a representation of the device "state" and a [backend application](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-device-twins#back-end-operations) can interact with it to induce changes in the device state that IoT hub will communicate to the physical device.  You can use the "state" of the twin to change logic in the device itself.

[2019-06-21 00:40] chris-opendata commented on #33686
Thank you for your assistance. BTW, I was following the instruction for my OS Ubuntu 18.04.

[2019-06-21 00:45] FrankHu-MSFT commented on #33679
You can adjust this via the Azure Graph API. And soon via the Azure AD Blade, just like in Azure AD today.

Changing the values via Graph API will reflect in the UI too. The Smart Lockout is a tenant wide setting.

Go to https://developer.microsoft.com/en-us/graph/graph-explorer and login with the Global Admin account of the B2C directory, it must be @something.onmicrosoft.com.

Make the following

[2019-06-21 00:45] #33679 closed

[2019-06-21 01:30] OzBob opened #33713 "Contacting the team"
I am having ApplicationInsights issues(https://github.com/microsoft/ApplicationInsights-Home/issues/361), and noticed this document (https://docs.microsoft.com/en-us/azure/azure-monitor/app/profiler-troubleshooting) say: "If you can't figure out why Profiler isn't working for you, you can download the log and send it to our team for assistance." the contact details are missing from this document.

[2019-06-21 01:35] tkumark opened #33714 "How do i secure the App Config connection string during CI/CD"
In our code we have config.AddAzureAppConfiguration(settings["ConnectionStrings:AppConfig"]); where the connection string this is read from secrets.json. for deployment in production I assume we do need this connectionstring in appsetting.json. I would not like to check-in the connection string in Azure Devops repo. What would be the best way to inject the connectionstring into appsettings.json  d

[2019-06-21 02:00] #33514 closed

[2019-06-21 02:00] kobulloc-MSFT commented on #33514
@CeciAc The changes should go live soon.  Thank you again for bringing this to our attention!

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-06-21 02:08] KeiroKamioka0000 opened #33715 "Approaching subscription quota limit?"
Does the Notification [Approaching subscription quota limit] will work only when quota-by-key policy or quota policy is enabled?

Or does this including the limitation of API Management itself to? Thanks.
https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#api-management-limits

Approaching subscription quota limit - The following email recipients and users will receive email

[2019-06-21 02:15] kwang1 opened #33716 "This page is out of date"
This page is written in 2014, some screen captures are different with current product.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f981eebe-0bfe-a4eb-0dc5-8703df171f80
* Version Independent ID: c0cbd00a-defe-8856-9f4f-b66895d53ca0
* Content: [How to use the SendGrid email service (Java)](https://docs.microsoft.com/e

[2019-06-21 02:31] kzu commented on #33343
That's great news! The bug, though, is that the doc mentions NS2 as a platform when it's not. So it's worth clarifying

[2019-06-21 02:35] kzu commented on #33343
@YutongTie-MSFT I know what NS2 "supports" (it's actually an API specs that the various *runtimes* you mention actually support, not the other way around). Hence, saying a library supports NS2 is ambiguous and incomplete, since as it's clearly the case in this library, not all runtimes are supported.

[2019-06-21 02:38] sameersalunke commented on #33593
Hey thanks Frank,
It seems you did not understand my question 1 and 3.
Please find my reply for questions.
1. UserIdentity is collection object of issuer and issueruserid and I wanted to extract UserIdentity collection from useridentities collection based on issuer value?
Answer which you have referred which will give
Claimesist or not and output will be Boolean.

2. I will check how this will hel

[2019-06-21 02:38] AlexanderTodorovic opened #33717 "8 cores/hr of general compute with a 60 minute time-to-live"
Dear All,

the pricing information "...8 cores/hr of general compute with a 60 minute time-to-live..." on this page is referring to this https://azure.microsoft.com/en-us/pricing/details/data-factory/data-pipeline/ ?
Once the Debug mode is started it'll run at least 60 minutes, correct?
Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-06-21 02:46] mike-urnun-msft commented on #33715
Hi @KeiroKamioka0000 Thank you for your feedback! We will review and update as appropriate.

[2019-06-21 02:53] SnehaAgrawal-MSFT commented on #33455
@StefH Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-06-21 02:55] erhopf commented on #31337
Yes, now you can upload pronunciation files individually since the UI is refined.
However, please do understand the “pronunciation” is not a standalone training set, and it’s to help improve the language model and correct the display format. Please upload some related text sentences then choose the pronunciation data with it (as shown below)
[cid:image001.png@01D5281F.E07A0D10]

We will improve th

[2019-06-21 03:12] gjlamb commented on #30477
Thanks for the reply. I deleted my comment. I didn’t upload in the correct order.

Sent from my iPhone

[2019-06-21 03:13] #33626 closed

[2019-06-21 03:18] KalyanChanumolu-MSFT commented on #33648
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-21 03:18] #33648 closed

[2019-06-21 03:18] KalyanChanumolu-MSFT commented on #33658
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-06-21 03:18] #33658 closed

[2019-06-21 03:43] ecfan commented on #33585
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/80237

[2019-06-21 03:52] htleeab opened #33718 "No mention of chunked encoding support"
Chunked transfer feature is required for ultra-low latency HTTP streaming, proposed by CMAF.
Akamai support chunked transfer.
https://blogs.akamai.com/2018/10/best-practices-for-ultra-low-latency-streaming-using-chunked-encoded-and-chunk-transferred-cmaf.html
Do Azure CDN Standard from Akamai also support it?  Do other Azure CDN Standard support it?

---
#### Document Details

⚠ *Do not edit this

[2019-06-21 04:35] YutongTie-MSFT commented on #33343
@kzu Hi Daniel, I agree with you.

@chrisbasoglu Hi Chris, could you please update the document to make it more clear? Thank you.

[2019-06-21 04:41] payalgaikwad42 commented on #33070
@kgremban yes it is resolved when i do clean installation again.
But i was not able to find out the reason as why this happens.

[2019-06-21 04:42] AmanGarg-MSFT commented on #33714
@tkumark Thank you reaching out! You can follow the below document to substitute the connection string in appsettings.json dynamically during the CI/CD pipeline.

https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/transforms-variable-substitution?view=azure-devops#json-variable-substitution

Hope this helps!

[2019-06-21 05:32] manishjoisar commented on #33585
Hello Kevin,

Thanks for your update.

Regards,
Manish Joisar

________________________________
From: Kevin Lam <notifications@github.com>
Sent: Thursday, June 20, 2019 7:54 PM
To: MicrosoftDocs/azure-docs
Cc: manishjoisar; Author
Subject: Re: [MicrosoftDocs/azure-docs] Logic Apps Permissions (#33585)

I see the confusion. Yes the Logic Apps contributor role allows you to do all operations to a lo

[2019-06-21 05:34] jakaruna-MSFT commented on #33479
@coreyperkins Did you got a chance to look at the above comment

[2019-06-21 05:51] SubhashVasarapu-MSFT commented on #33718
@htleeab , We are looking into this query and will update you as soon as possible.

[2019-06-21 05:51] AjayKumar-MSFT commented on #22714
Suchiman, We have already reached out to the product team and they would publish a blog detailing the change soon. Sorry for the long wait! Thank you for your patience and co-operation.

[2019-06-21 05:53] ManojReddy-MSFT commented on #33659
@Anmolgan81 I noticed that you closed the issue. I am assuming you got the info you are looking for. If you have any questions feel free to tag me and I will continue the conversation.

[2019-06-21 05:53] AjayKumar-MSFT commented on #33592
Sorry for the inconvenience. We are aware of this issue and we will update the getting started instructions very soon.

[2019-06-21 06:01] AjayKumar-MSFT commented on #33592
@XamarinTounsi, On which region have you hosted your Mobile App? It’s working fine on my existing Mobile App(s), if you haven’t tried this already so and feasible, kindly restart the app /re-login to the Portal and let us know.
![image](https://user-images.githubusercontent.com/44606227/59901179-0aa19b80-9418-11e9-8274-85b2e603e205.png)

[2019-06-21 06:02] tbkobberoe commented on #33676
@msrini-MSFT thx for your answer. I've tried the guide here https://docs.microsoft.com/en-us/azure/bastion/bastion-create-host-portal and all the PowerShell command work fine, the Bastionhost feature gets registered, but I'm not able to see it in Marketplace. I also tried to look in the "Usage + Quotas" tab on my subscription, only choosing the locations where Bastion is enabled, but it doesn't sh

[2019-06-21 06:15] smoms commented on #33602
@Alberto-Vega-MSFT thanks. I know what is a Twin. My question is rather focused on the use of device twin for Edge devices. I haven't see any example. All twins for Edge are implemented through module twin. Again, how would you use device twin concretely? Both the Edge runtime and apps have already their module twins. Would you write another module that is going to manage both module and device tw

[2019-06-21 06:16] FredericExa opened #33721 "How to use the same signature and encryption keys as for built-in policies?"
I have already built-in policies working. By enabling IEF, this page explains how to configure new couples of keys. But how do we set up the same keys as for existing built-in policies? There is no documentation explaining this, and testing the upload of a json file containing the same data as found in discover/keys URL, this is properly uploaded but it returning tokens from my custom policies cra

[2019-06-21 06:17] smoms commented on #33255
well what we have said so far is not perfectly consistent with statement: For development and test scenarios, Azure IoT Edge with Windows containers can be installed on any version of Windows 10 or Windows Server 2019 (build 17763) that supports the containers feature.

[2019-06-21 06:18] lightupdifire commented on #31078
@SanDeo-MSFT

That is the main question from me, how exactly stop auto-register.
If I start following like "how to deploy hybrid" then I need to run: ADConnect for federated domain
If I will run wizard of ADConnect for federated domain, then auto-register can happen.
I cannot do "controlled validation" first, because if I will not run wizard of ADConnect for federated domain, then SCP record not a

[2019-06-21 06:37] julesman101 opened #33722 "Incorrect wording in the section titled "UDRs and NSGs""
In the section title "UDR's and NSGs", the 1st sentence reads: "Network security groups (NSGs) with a next hop cannot be used as delegated subnets for Azure NetApp Files."   (This sentence does not make sense. NSG's do not have a "next hop" value.  And you cannot use an NSG as a "delegated subnet". )
The second sentence is also a little unlcear. Its says "Similarly, user-defined routes (UDRs) are

[2019-06-21 06:43] julesman101 opened #33723 "Are Windows Server 2019 Domain Controllers supported for "AD Connections" ?"
The section titled "What versions of Windows AD are supported?" lists windows server versions 2008R2 SP1 to 2016.
Are Windows Server 2019 Domain Controllers supported?

Thanks.. JD

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 533a34cf-3791-0a45-f9f3-991fb4cf8eb1
* Version Independent ID: 8335006a-84b6-700d-03a4-36191

[2019-06-21 06:52] arkiaconsulting commented on #20348
Please note that at the time of writing, the property `swiftSupported` must be set to true, otherwise the deployment will end up with 500 Internal Server error.

[2019-06-21 07:11] msrini-MSFT commented on #33676
@tbkobberoe , You will not see the Bastion deployment in Portal. You need to log into the Preview portal.

Just click on [this ](http://aka.ms/BastionHost)link and try deploying Azure Bastion.

[2019-06-21 07:11] #33688 closed

[2019-06-21 07:14] cveld opened #33724 "Applicable to internal service catalog publishing?"
Is this customer usage attribution applicable to managed app that are published into an internal service catalog?

https://docs.microsoft.com/en-us/azure/managed-applications/publish-service-catalog-app does not state any requirement for GUID registration.

Additionally, the link https://aka.ms/listonazuremarketplace towards the submit form appears to be outdated. After submitting I received an au

[2019-06-21 07:16] forester123 opened #33725 "Create Linux VM with username "video" failed"
When creating Linux VM with username "video", I get the following error, seems "video" is not an allowed value for username which is not listed in the username table.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 438a36d1-e1ed-c78e-e9f4-396afe36928c
* Version Independent ID: 741c1587-7252-1edb-20d6-afaf77004bd

[2019-06-21 07:20] linda33wj commented on #30532
@dearandyxu please take a look

[2019-06-21 07:22] tbkobberoe commented on #33676
@msrini-MSFT Ok, got it now, I thought the https://preview.portal.azure.com was the same as https://aka.ms/Bastionhost. Thx a lot for your help, I'm trying it out right now

[2019-06-21 07:27] ChiragMishra-MSFT commented on #33717
@AlexanderTodorovic Yes, the Debug mode, once started will run for 60mins as specified in the time to live. Hence if you enable Debug mode, you will be charged at the Data Flow debug rate of 8 cores/hr of general compute unless you manually shut it down.

[2019-06-21 07:29] AmanGarg-MSFT commented on #33713
@OzBob Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-06-21 07:33] b-juche commented on #33722
@ram-kakani -- Feedback re. the network planning article FYI.

[2019-06-21 07:45] linda33wj commented on #10237
@dearandyxu please double confirm the tutorial

[2019-06-21 07:50] ShirleyWangMSFT commented on #14541
Thank you for your interest in ADF!  We are going to update documentation and explicitly mentioned that IBM DB2 for i 7.3 is supported.

#please-close

[2019-06-21 07:50] PRMerger18 commented on #14541
Only Microsoft employees can manage issues via commenting in this repo.

[2019-06-21 07:56] tudort-iquest opened #33727 "Very old, preview version of Microsoft.Azure.Services.AppAuthentication"
In the 'Modify ASP.NET code' section, it is written to use an old, preview version of Microsoft.Azure.Services.AppAuthentication package (1.1.0-preview, published 2 years ago: 16/11/2017).
Is it safe to use the latest stable version (1.0.3, from 13/06/2018) in order to get the token, in .NET 4.7.2?
(when using Azure AD managed identities to authenticate to Azure SQL Managed Instance from an Azure

[2019-06-21 07:57] nabhishek commented on #32861
@basilwong I see you did a PR with all the fixes! Thanks again for that. I will close this issue.
#please-close

[2019-06-21 07:57] #32861 closed

[2019-06-21 08:00] iricigor commented on #33688
Hm, as it takes some time to register I think it is better to use command suggested by @tobleroneMacAlister. Looks like without -FeatureName filter, it displays only registered components and not the ones in process of registration. Here is my example

PS C:\> Get-AzureRmProviderFeature -ProviderNamespace Microsoft.Network  -FeatureName AllowBastionHost

FeatureName      ProviderName      Registra

[2019-06-21 08:02] SnehaAgrawal-MSFT commented on #33498
@UMANGAWASTHY Thanks again for question and sharing links. User-assigned identities are currently in preview and Sovereign clouds are not yet supported for this as mentioned in the [Azure Doc](https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity#adding-a-user-assigned-identity-preview)

[2019-06-21 08:04] ShirleyWangMSFT commented on #15071
@RoopAnymous When you are copying from Azure Table to Azure Data Lake, it falls into "All other copy scenarios" category, which means (1) the default parallel copy count determined by ADF is 1, and (2) if you specify an input that is larger than 1, through UX or .NET SDK, the input is ignored and parallelCopies=1 will be used during copy activity execution.

#please-close

[2019-06-21 08:04] PRMerger6 commented on #15071
Only Microsoft employees can manage issues via commenting in this repo.

[2019-06-21 08:09] msrini-MSFT commented on #33688
@iricigor , Thank you for your Feedback. I will do a PR and update the doc.

[2019-06-21 08:13] nabhishek commented on #32780
Thanks @MikeBarker-MSFT. Have updated the section.
Here is the pull request [80246](https://github.com/MicrosoftDocs/azure-docs-pr/pull/80246).

[2019-06-21 08:14] nabhishek commented on #32780
#Please-close

[2019-06-21 08:14] #32780 closed

[2019-06-21 08:17] PramodValavala-MSFT commented on #33715
@KeiroKamioka0000 The notification is only for the quota control policies. This is a notification from the APIM service side.

The limitations you've linked to are from the APIM resource perspective,

[2019-06-21 08:19] nabhishek commented on #29655
@MartinJaffer-MSFT Please update all 8050 -> 8060. The current default is 8060 and can be modified by the customer if needed.

[2019-06-21 08:25] ShirleyWangMSFT commented on #15735
@vabed Thanks for raising the feature request for "requester pays buckets".  We will add this to our feature backlog and evaluate it against other feature asks.  For now there is no immediate plan in adding this support.

@sagimanoj Using ADF S3 connector, if you are copying a single object out of S3, you can specify both key and version to request that a specific version of the object to be extra

[2019-06-21 08:25] PRMerger12 commented on #15735
Only Microsoft employees can manage issues via commenting in this repo.

[2019-06-21 08:26] huislaw commented on #33226
Hmmm, they say it is out of scope when I asked there. Any idea who is controlling the geography?
URL: https://github.com/microsoft/Recognizers-Text/issues/1641

[2019-06-21 08:29] SnehaAgrawal-MSFT commented on #33727
@tudort-iquest Thanks for the question! We are investigating and will update you shortly.

[2019-06-21 08:31] ShirleyWangMSFT commented on #30248
@cveld This restriction is intentional - Office 365 data is a highly valued assets for the organization, and in addition to validating consent at the time of data extraction, we also need to ensure that Office 365 data is not accidentally being copied to another tenant.

In your case, you need to create an Azure subscription inside your demo Office 365 tenant, and then create ADF and sink store in

[2019-06-21 08:31] PRMerger14 commented on #30248
Only Microsoft employees can manage issues via commenting in this repo.

[2019-06-21 08:36] sjpb commented on #14397
If the comment by tfitzmac, Oct 19, 2018, is true then why on earth doesn't it explain this in the docs?

[2019-06-21 08:39] cocowalla commented on #33119
@axisc sorry, but I'm still unclear on what exactly a "receive request" is - is it when an AMQP client subscribes to a queue, or is it each individual message an AMQP client reads, or something else?

[2019-06-21 08:41] #30248 closed

[2019-06-21 08:54] ShirleyWangMSFT commented on #15735
@vabed Thanks for raising the feature request for "requester pays buckets". We will add this to our feature backlog and evaluate it against other feature asks. For now there is no immediate plan in adding this support.

@sagimanoj Using ADF S3 connector, if you are copying a single object out of S3, you can specify both key and version to request that a specific version of the object to be extract

[2019-06-21 08:54] PRMerger19 commented on #15735
Only Microsoft employees can manage issues via commenting in this repo.

[2019-06-21 08:57] giovannifl opened #33728 "Update Module Matrix for Ansible 2.8"
Please,
Could you update Ansible Module Matrix for version 2.8 ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e60c7c8-0595-308d-0c51-c1267a5dcb01
* Version Independent ID: 733ea857-2d13-0159-8611-3ea5184c0a62
* Content: [Ansible module and version matrix for Azure](https://docs.microsoft.com/en-us/azure/ansible/ansi

[2019-06-21 09:05] vuzzlevuzz opened #33729 "Restart required"
Can you confirm if a server restart is required after installation and/or upgrade please?
It would be great if this could be included in release notes as standard
Many thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42797ef6-81d4-d8d6-a771-ef427f11698d
* Version Independent ID: c56473d5-ebfe-96f9-57fe-96446ada56f

[2019-06-21 09:08] PramodValavala-MSFT commented on #33485
@ToMakeSense Thanks for reporting this!

This does looks like a bug. I will confirm with the team and get back to you on this.

[2019-06-21 09:09] dearandyxu commented on #31094
Close by updating document to address feedback

#please-close

[2019-06-21 09:19] YASWANTHM-MSFT commented on #33729
@vuzzlevuzz, A restart is required when the storage sync monitor process is not running or the server is unable to communicate with the Azure File Sync Service due to a proxy or firewall.

A restart may be required if files are in use during the update roll-up installation. Hope this helps you!

[2019-06-21 09:20] YASWANTHM-MSFT commented on #33729
@vuzzlevuzz, Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-21 09:27] vuzzlevuzz commented on #33729
Thanks - if it does require a restart, will it just inform me or will it restart the server automatically?
I just want to know if it is safe to run the update in hours or if I need to schedule a maintenance window before doing this?

[2019-06-21 09:36] VikasPullagura-MSFT commented on #33725
@forester123 Thanks for the feedback.
As there is a group named video in the Linux OS, you are seeing this error message "useradd: group video exists - if you want to add this user to that group, use -g."
I am raising PR for updating the document.

[2019-06-21 09:37] YASWANTHM-MSFT commented on #33729
@vuzzlevuzz , I would recommend you to check the Azure file Sync release notes [here](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-release-notes) and you can find more information and instructions for each release notes like mentioned [here](https://support.microsoft.com/en-in/help/4489738/update-rollup-for-azure-file-sync-agent-june-2019) . See if that helps you!

[2019-06-21 09:53] htleeab commented on #33718
I have further questions if chunk transfer is supported.
How do the CDN handle multiple request for incomplete file? Currently I could think of 3 approaches.
(a) CDN cache chunks and share the cached chunks to all request that go through the node.
(b) CDN forward request to origin for each request.
(c) CDN connect to origin for the first request, pause other requests, and resume other request afte

[2019-06-21 10:06] vuzzlevuzz commented on #33729
The release notes only mention restart prompts if manually installing the package on a new installation - I just want to know if the upgrade prompts or automatically restarts?

[2019-06-21 10:19] theheatDK opened #33730 "How does this work when you use an Application Gateway in-front of the AKS?"
Hi,
We have an Application Gateway in-front of the internal load balancer from the AKS cluster.
How can we get it to work in this situation?
Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10de2de7-9d5a-b791-1e28-a399634993d6
* Version Independent ID: a92015a1-4f3a-8b1b-1794-5566af729d16
* Content: [Static

[2019-06-21 10:32] prabhakarreddy1234 opened #33731 "Alert Schema for azure budgets"
I can't find alert schema json for azure budgets.

Can someone share the link or schema please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81ec8d74-7b0a-a943-b1b4-fc3d9210b363
* Version Independent ID: 11688ab7-9553-f03d-5a06-06f25383eff9
* Content: [Azure billing and cost management budget scenario](https://docs.m

[2019-06-21 10:32] TarunKrShukla opened #33732 "frontend AAD needs permission to access resources in your organization which only admin can grant."
I followed the steps mentioned in the article : https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-auth-aad

But after deploying final code changes to front end azure app. I am getting this error:
**<MyFrontEndApp> needs permission to access resources in your organization that only an admin can grant. Please ask an admin to grant permission to this app before you can use i

[2019-06-21 10:55] JasSuri commented on #30435
1. It is not clear where you are trying to render the DropDown box, is that in WPF app or inside the B2C login page? Can you explain in more detail what you did to create the DropDown box and where you want it displayed?

2. I have created a WPF app in Visual Studio, using .net 4.6.1. Then i have added a web browser control from the toolbox. I added this code to initiliase the browser to my B2C po

[2019-06-21 11:11] JasSuri commented on #29159
Take a look at our sample apps, the libraries do handle sending the correct policy parameter. If you are building the request yourself, you can find the policy id in the users Id_token in the `acr` claim (`"acr": "b2c_1a_susi"`).

When the user is sent to the logout endpoint, the Azure AD B2C SSO [cookies](https://docs.microsoft.com/en-us/azure/active-directory-b2c/cookie-definitions) are cleared,

[2019-06-21 11:21] ONI-Assassin commented on #28817
workaround doesn't seem to work as expected and the commandlet and documentation hasn't been updated over a month later.  Can we get an update on the current status?

[2019-06-21 11:33] stalinponnusamy commented on #33539
Hi Marilee, I refereed but no luck. Architecture plan to use Azure AD as token issuer and authenticate on Layer 7 to consume onprem API.

Azure Function (Get Token) --> Layer 7 (CA Gateway) --> onprem (Exposed API)

Getting V1 token.
Question : Is it possible to get V2 azure token without specifying resource. Since resource is an onprem API. Please refer the code sample (Postman)

Code Sample
![im

[2019-06-21 11:36] kgopi05 opened #33733 "How to get the System Assigned identity id when the VM provisioned using Terraform"
To access the Azure resources such as Key Valut , we need to provide the Secrets management access to VM System Assigned identity id , In order to update the Key Valut Access policy , i need the System Assigned identity id. How to get that value once the VM provisioned .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7

[2019-06-21 12:06] johnlnash opened #33734 "Backup on Virtual Networks and Retention"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-06-21 12:10] johnlnash commented on #33734
Hi,

I just started setting up back up of Azure File Shares using Azure backup.

2 things.

1. Do you plan on supporting Virtual Networks?  Seems like a no-brainer that we'd like to secure our storage from external access, pity to lose the ability to back up our data because of it however.
2. Do you have any plans on expanding the snapshotting to a solution that supports any kind of retention like

[2019-06-21 12:30] lightupdifire commented on #31078
@SanDeo-MSFT @ManojReddy-MSFT

Because we don't need any other device or any auto-register process to be done at all, only few required "Down level" devices,

Do you confirm that the best steps, to stop auto-register, will be by doing this setup in following order:

1. Run AD-Connect wizard to enable Azure AD Hybrid join for federated domain;
2. Monitor SCP and as soon as added, clear it out;
3. F

[2019-06-21 12:38] alejosroj2c commented on #33632
Hello, IT work with Active Diretory user for login on our VMs?

[2019-06-21 12:41] TomArcherMsft commented on #33728
@giovannifl What is not updated?

[2019-06-21 12:53] axthosarouris opened #33735 "The example code does not compile"
For which libraries does this compile?  `services.AddAzureAdBearer(options =&gt; Configuration.Bind("AzureAd", options));` yieds a compilation error
Using the latest Microsoft.AspNetCore.App and the Microsoft.AspNetCore.Authentication.AzureAD.UI version 2.2.0, this code does not compile.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-06-21 12:53] atsun91 opened #33736 "B2C Request.IsAuthenticated returning false until refresh"
Hello

I have created an ASP.net MVC Web application, which utilises the Azure B2C functionality to handle users login.

I have replicated https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi and in my test Environment all is set up and working well, I can get out to Microsoft and return the Authenticated User. When I run this in my Live environment, the application goes

[2019-06-21 12:56] zboyanov commented on #33238
my question also is do I need backend to send push notifications ?

On Thu, Jun 20, 2019 at 2:36 PM Zdravko Boyanov <zbboyanov95@gmail.com>
wrote:

[2019-06-21 12:56] lightupdifire commented on #31078
And btw. did anyone tested by doing:

1. Clear SCP from domain
2. Run AD-Connect client upgrade/update or check if there was auto-update done
3. Check if SCP added automatically back

?

[2019-06-21 13:01] jayantabanerjee opened #33737 "-g switch doesn't work"
instead of -g use --resource-group and the command works

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac500792-0af0-26df-77fc-56f661b76024
* Version Independent ID: 43f8a2d2-572c-e8d1-7045-4a8303febbd2
* Content: [Swap OS disk for an Azure VM using CLI](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/os

[2019-06-21 13:04] tcgarvin commented on #31337
@erhopf Thanks for the information!  The image you attached does not seem to have been uploaded (or perhaps the link just doesn't work).  Would you mind posting that image again?

[2019-06-21 13:12] Rutikhal opened #33738 "cant find this in Marketplace after registered"
Hi
I followed this instruction to register this feature but cant find this in Azure Markeplace on preview portal.
Tried on 2 different tenants. Any ideas?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 196cd28d-c7b6-9e3f-ef55-1c85d6c9be5f
* Version Independent ID: 6daf260e-526d-c5c5-50ca-c7a85e17c78a
* Content: [Create

[2019-06-21 13:13] gxs54 commented on #33692
Here it is:

https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-microsoft-graph#auth-token---javascript-example

[2019-06-21 13:30] rlustik commented on #29770
Hi @ShirleyWangMSFT, any updates on this issue? I also find the connector reaches the Xero daily limits in an unreasonable speed.

[2019-06-21 13:36] mmacy commented on #29597
#please-close

[2019-06-21 13:36] #29597 closed

[2019-06-21 13:40] gomesandres opened #33740 "The samples are out of date"
The samples are out of date, the method registerMessageHandler( IMessageHandler, MessageHandlerOptions ) it's deprecated

[2019-06-21 13:58] kcsportal commented on #31927
Within the Azure AD SAML settings for Google SSO, my Sign on URL used to be https://drive.google.com/a/mydomain.org.

I changed it to https://www.google.com/a/mydomain.org/ServiceLogin?continue=https://drive.google.com and the issue reduced greatly. Chrome would pause syncing and log me out of G Suite dozens of times per day. After I made that change, it only happens once or twice per day.

I had

[2019-06-21 14:01] renebik opened #33741 "Receive error when creating Custom topic using CLI"
When creating custom topic using CLI as described above, I receive the error: 'InputSchema is a readonly property.'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccb247e6-02af-3828-4818-3c3327818009
* Version Independent ID: f8ab9dff-4aed-de20-e6e8-23287a06092a
* Content: [Map custom field to Azure Event Grid schema](

[2019-06-21 14:01] diepnt90 commented on #23919
@staal-it Do you have any update?

[2019-06-21 14:03] rehan2908 opened #33742 "unable to deploy bastion service in western europe"
# Azure documentation issue guidance

When trying to create Azure Bastion service manually, i am getting below error.

{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.","details":[{"code":"NotFound","message":"{\r\n \"error\": {\r\n \"code\": \"InvalidResour

[2019-06-21 14:09] migrande opened #33743 "WAF Firewall Log Action Values"
This doc lists that Blocked and Allowed are the only values for the Action field for the Firewall log.  However, my log also has "Detected" and "Matched".  These need to be added to the doc with applicable descriptions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5f080ad-843f-d7be-eba6-2837993d052b
* Version Indepe

[2019-06-21 14:14] giovannifl commented on #33728
Sorry, probably I was looking an old version of this page where version 2.8 was not showed.
I can see it
Thanks

[2019-06-21 14:14] nezoic commented on #33679
@FrankHu-MSFT Thanks! Does this also cover password reset attempts or would that fall under another policy/setting?

[2019-06-21 14:14] zboyanov commented on #33238
nevermind everything is okay now

On Fri, Jun 21, 2019 at 3:55 PM Zdravko Boyanov <zbboyanov95@gmail.com>
wrote:

[2019-06-21 14:15] mmacy commented on #29683
@lucasfldmn and @ericcox are correct. In this step, you must use the domain of the Azure AD tenant, not the B2C tenant.

#please-close

[2019-06-21 14:15] #29683 closed

[2019-06-21 14:16] robmacf opened #33744 "What about federated deployments?"
There is not a single mention on this page about Federated hybrid deployments. There needs to be - this is VERY confusing for customers. (I work at a Partner dealing with deployments of this stuff.)

My understanding (hopefully correct!) is that Azure Active Directory smart lockout does not apply for Federated deployments, because all logons are processed by AD FS. There is a roughly  equivalent f

[2019-06-21 14:21] wbpluto opened #33745 "The Expected network bandwidth (Mbps) should not be MBps in zh-cn pages"
In Simplified Chinese pages, the 期望的网络带宽 (**MBps**) should be **Mbps**!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe301d91-d416-fd08-af13-f84b12cee7cd
* Version Independent ID: b668960b-4524-6d97-9ddf-af8beb5ef8ad
* Content: [Azure Linux VM sizes - General purpose](https://docs.microsoft.com/en-us/azure/virtual-mac

[2019-06-21 14:24] tfitzmac commented on #32830
@ToMakeSense - the article has been updated with the option to use an Az module script. It now shows how to use either versions of the script.

[2019-06-21 14:24] tfitzmac commented on #32830
#please-close

[2019-06-21 14:24] #32830 closed

[2019-06-21 14:29] mmacy commented on #30241
Thanks @yoelhor. Requesting closure on this issue as no article updates are required at this time.

#please-close

[2019-06-21 14:29] #30241 closed

[2019-06-21 14:46] jchomarat opened #33746 "https for image computer-vision"
Hello,

The documentation says that we can access our local endpoint with https://localhost:5000 - it appears that only http is supported. Is there a configuration setting to force https?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 439c70ec-4484-25de-4942-939112188d58
* Version Independent ID: 08f0bb9d-c6a0-

[2019-06-21 14:51] rupeshprasad commented on #32517
Hi -

Any update for me on this?

Also i noticed that @rojasja deleted the SAML technical profile and related stuff from https://github.com/Azure-Samples/active-directory-b2c-advanced-policies Repo. Was there any specific reason to do that. I am planning to use the logic which was there in my PROD environment. If you feel that using SAML with B2C in PROD will be an issue then please let me know.

[2019-06-21 14:58] MrCNeale opened #33747 "Tag Limits"
Is the Limit for "Tags per resource" accurate?
I was led to believe this is now 50?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f-e546-b3ea-f83892f4c23d
* Version Independent ID: 27aecc7b-f107-96d4-b044-ae026bca2727
* Content: [Azure subscription limits and quotas](https://docs.microsoft.com/en-us/azure/

[2019-06-21 15:04] MicahMcKittrick-MSFT commented on #33745
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-21 15:04] MicahMcKittrick-MSFT commented on #33737
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-21 15:05] MicahMcKittrick-MSFT commented on #33730
Thanks for the question! We are investigating and will update you shortly.

[2019-06-21 15:06] mlearned commented on #32709
I'm having a look and will be back, fyi.

[2019-06-21 15:10] ManojReddy-MSFT commented on #33721
@FredericExa We are looking into this and we will get back to you shortly.

[2019-06-21 15:14] aquibqureshi26 opened #33748 "How much data is included in log analytics of security center for free"
Hi Team

In the pricing page it is mentioned that security center provides free data and if VM is pushing more data then it will be charged per GB. can you please share how much data is free and also if you could add that in this page then it would be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75c7f3f6-1c1

[2019-06-21 15:19] ToMakeSense commented on #32830
@tfitzmac  Great job 👍 !

[2019-06-21 15:23] ColinLaws commented on #33338
Is this not a bug? I wasn't sure if I should post it to the UserVoice forum because it was something that needs implemented, but isn't being classified as a bug.

[2019-06-21 15:23] alireza1989 commented on #31481
Same error here.

[2019-06-21 15:30] drewsac commented on #11721
This appears to be a problem with .Net Core as well.  Is there any solution to help with that?

[2019-06-21 15:30] erhopf commented on #31337
@tcgarvin sorry about that ;).

![pronunciation](https://user-images.githubusercontent.com/42188191/59933746-d53c8400-93fe-11e9-8fc8-8e564774753f.png)

[2019-06-21 15:32] MicahMcKittrick-MSFT commented on #33745
@wbpluto the docs are correct.

Mbps means megabits per second. Mb is used in reference to download and upload speeds.
It takes 8 bits of data to equal 1 byte.

MBps stands for megabytes per second. MB is used in reference to file size, or the amount of data transferred.

[2019-06-21 15:39] mdgattuso commented on #33718
https://docs.microsoft.com/en-us/azure/cdn/cdn-large-file-optimization

Object chunking as mentioned in this doc is chunked transfer encoding.

[2019-06-21 15:40] AjayKumar-MSFT commented on #33238
@zboyanov, Glad it is working fine now. Thanks for the update.

[2019-06-21 15:41] MicahMcKittrick-MSFT commented on #33737
@jayantabanerjee I tested the commands and -g is an allowed command when using the Azure Cloud Shell. This might be different if you are running the commands from a local instance of CLI depending on the version. But all in all, the commands do work if you use the Azure Cloud Shell as described in the doc.

I will close this out for now but if you have further comments just let me know.

[2019-06-21 15:41] #33737 closed

[2019-06-21 15:46] msmbaldwin commented on #24649
Hi, @danchemistruck. You were not alone in finding the tier listing confusing, and it was onerous to update it every time a new tier was introduced. We therefore:
- Switched to specifying the VM size requirements strictly in terms of the memory necessary; and
- Moved this information to the prerequisites article (where it belongs).

You can see the update here: https://docs.microsoft.com/en-us/azu

[2019-06-21 15:46] #24649 closed

[2019-06-21 16:00] lgordoncurtiswork opened #33750 "Interpret your Key Vault logs instructions don't work"
I was able to run through all the instructions successfully until I got to the "Interpret your Key Vault logs".   The first instruction in this section says to run "Get-AzKeyVault -VaultName 'contosokeyvault'" but this doesn't return anything to the user.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42e52c78-8986-28f

[2019-06-21 16:02] TomaszOledzki opened #33751 "Enable Application Insights logging for my API using PowerShell"
Hi, is it possible to enable Application Insights logging for my API using PowerShell commands?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c26c1996-853e-9a55-5802-8c4095d545b9
* Version Independent ID: 437f5553-6914-c0ef-9370-bb11d3a0fa4b
* Content: [How to integrate Azure API Management with Azure Application Insi

[2019-06-21 16:33] kumarallamraju opened #33754 "backslash is not needed in the last line."
[Enter feedback here]
az vm create \
    --resource-group myResourceGroup \
    --name myVM \
    --image Canonical:UbuntuServer:16.04-LTS:latest \
    --size Standard_D2S_V3 \

There shouldn't be "back slash" in the last line..
Pls check out the similar command  for Windows VMs
https://docs.microsoft.com/en-us/azure/security/azure-disk-encryption-windows-cli-quickstart
---
#### Document Details

[2019-06-21 16:40] CarlRabeler commented on #25774
@Mike-Ubezzi-MSFT please assign to me

[2019-06-21 16:41] CarlRabeler commented on #29678
@stevestein for awareness

[2019-06-21 16:41] chrisbues opened #33755 "More frequent updates"
"These tables are for reference purposes and are accurate only as of the date when this article was last updated. Microsoft does not plan to update them for newly added services periodically."

As a Microsoft customer with a significant investment in Office 365, I really cannot believe that this reference cannot be updated more frequently. To not do so leaves customers who rely on programmatic acc

[2019-06-21 16:43] AndyHerb opened #33756 "Route Table Validation is test is faulty"
The "prepareSubnet" PowerShell script from [https://raw.githubusercontent.com/microsoft/sql-server-samples/master/samples/manage/azure-sql-db-managed-instance/prepare-subnet/prepareSubnet.ps1](https://raw.githubusercontent.com/microsoft/sql-server-samples/master/samples/manage/azure-sql-db-managed-instance/prepare-subnet/prepareSubnet.ps1) tests a number of configuration points including the neces

[2019-06-21 16:47] tcgarvin commented on #31337
Aha! Much clearer, thank you.

[2019-06-21 16:47] #31337 closed

[2019-06-21 16:49] tcgarvin commented on #33691
This question has been answered in #31337

[2019-06-21 16:49] #33691 closed

[2019-06-21 16:53] #33676 closed

[2019-06-21 16:56] osudude opened #33757 "Please update docs to include requirements for ASE subject name in self signed cert"
[Enter feedback here]
When using a self signed cert for ASE, the subject name must be in the format of "CN={ASE_NAME_HERE}_InternalLoadBalancingASE otherwise ASE will be unhappy.

Please include this in the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f3a8caa-796a-18ab-480c-161e6c806782
* Version Independent I

[2019-06-21 16:56] PIKESTEL opened #33758 "Conflicting info on global VNET peering and remote gateway usage"
This page states that: You cannot enable this option if you're peering virtual networks in different regions

But in requirements and constraints section it is stated that it is possible: You can use remote gateways or allow gateway transit in globally peered virtual networks and locally peered virtual networks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2019-06-21 17:06] mike-urnun-msft commented on #33741
Hi @renebik Thank you for your feedback! We will review and update as appropriate.

[2019-06-21 17:13] stephenc01 opened #33759 "Needs some updates"
Get-AzureADPolicyAppliedObject -ObjectId should be Get-AzureADPolicyAppliedObject -id

Remove-AzureADApplicationPolicy -ObjectId should be Remove-AzureADApplicationPolicy -id

"Step 2: Locate the service principal to which to assign the policy" In this section it should be added that it can be obtained by running get-azureadserviceprincipal.

---
#### Document Details

⚠ *Do not edit this section.

[2019-06-21 17:20] CeciAc opened #33760 "where are the python code?"
@haohuancheng commented on [Fri Jun 21 2019](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/538)

I can not found any python code in this page:
https://docs.microsoft.com/zh-cn/azure/iot-central/howto-connect-raspberry-pi-python

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: f9195da5-634f-e46f-4af3-4e8e1b7c4690
* Version Independent ID: a82ddd98-db6f-7ad7-

[2019-06-21 17:21] CeciAc commented on #33760
Hi team,
I'm moving this here because the issue can be found in the en-us, too
kind regards

[2019-06-21 17:21] Karishma-Tiwari-MSFT commented on #33115
@TiloGit The product team shared that this is expected behavior, settings changed by the user directly to the IaaS resources in the MC_* resource group are not supported by AKS and are not guaranteed to persist on the cluster.

Please refer to the note in [this doc](https://docs.microsoft.com/en-us/azure/aks/support-policies#managed-features-in-aks) which says:

[2019-06-21 17:22] YutongTie-MSFT commented on #33746
@jchomarat Thank you for your feedback, we will investigate it and get back to you soon.

[2019-06-21 17:24] ram-kakani commented on #33722
@julesman101 thanks for the feedback. Updated and made it simpler.

[2019-06-21 17:32] mike-urnun-msft commented on #33751
Hi @TomaszOledzki Thanks for your feedback!

Yes, you can use the creator tool: https://github.com/Azure/azure-api-management-devops-resource-kit/tree/master/example/diagnostics

[2019-06-21 17:32] BryanTrach-MSFT commented on #33757
@osudude Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-21 17:42] YutongTie-MSFT commented on #32682
@PatrickFarley Hi Patrick, are you going to change it?

[2019-06-21 17:42] YutongTie-MSFT commented on #32959
@pablohr88
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-06-21 17:42] #32959 closed

[2019-06-21 17:43] YutongTie-MSFT commented on #33307
@darosas
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-06-21 17:43] #33307 closed

[2019-06-21 17:51] kevball2 opened #33766 "Python SAS URL Instructions"
The SAS URL instructions in Step 2. for training your model should be more descriptive like the instructions for cURL
From the cURL page -

Replace &lt;SAS URL&gt; with an Azure Blob storage container shared access signature (SAS) URL of the location of the training data. (Retrieve your SAS-URL by clicking 'Shared Access Signature' under settings menu in the storage account and 'Generate SAS and c

[2019-06-21 18:03] MarileeTurscak-MSFT commented on #33716
@kwang1
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-21 18:10] SaurabhSharma-MSFT commented on #33342
@georgedavid29 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-06-21 18:10] #33342 closed

[2019-06-21 18:11] SaurabhSharma-MSFT commented on #33326
@bencorley We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-06-21 18:11] #33326 closed

[2019-06-21 18:13] kumarallamraju opened #33768 "Suggestion to enhance the yaml script to start the httpd service"
[Enter feedback here]

#cloud-config
package_upgrade: true
packages:
  - httpd

The above snippet just installs the package. It's a good idea to include the command to start the service by adding the following lines
runcmd:
  - systemctl start httpd.service

This way when the VM boots up, it will install the "httpd" package and starts the service. When the customers input the public IP of the VM,

[2019-06-21 18:19] MarileeTurscak-MSFT commented on #33723
@julesman101
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-21 18:20] hpsin commented on #27666
#please-close

[2019-06-21 18:20] #27666 closed

[2019-06-21 18:20] MarileeTurscak-MSFT commented on #33724
@cveld
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-21 18:21] MicahMcKittrick-MSFT commented on #33768
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-21 18:22] MicahMcKittrick-MSFT commented on #33730
@theheatDK you should be able to simply point the NAT rules to point to the Internal Load Balancer IP and Port. Have you attempted any configuration? Any issues/ errors?

[2019-06-21 18:23] MarileeTurscak-MSFT commented on #33731
@prabhakarreddy1234
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-21 18:24] kgremban commented on #32273
Hello @sahya. The changes that I made are now available in the Japanese version of the article. Please let me know if the original issue you had is resolved with the updates, or if you think that there's more work to be done. Thank you.

[2019-06-21 18:24] stgraves opened #33770 "Cannot deploy an AKS Cluster"
az group create --name myResourceGroup --location centralus
Unable to load extension 'aks-preview'. Use --debug for more information.
{
  "id": "/subscriptions/e91c06e3-00de-4cc1-a69e-62e4d9f6e204/resourceGroups/myResourceGroup",
  "location": "centralus",
  "managedBy": null,
  "name": "myResourceGroup",
  "properties": {
    "provisioningState": "Succeeded"
  },
  "tags": null,
  "type": null
PA

[2019-06-21 18:25] MarileeTurscak-MSFT commented on #33732
@TarunKrShukla
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-21 18:27] BobGerman opened #33772 "Github link to MSAL.js library points to the Angular library not the core MSAL.js"
Github link to MSAL.js library points to the Angular library not the core MSAL.js

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b787325-589c-b5f5-f530-7f1fe12e075e
* Version Independent ID: 6d678569-0ebe-f2ef-ecd7-69cc62b4b7be
* Content: [Microsoft identity platform authentication libraries](https://docs.microsoft.co

[2019-06-21 18:33] TomArcherMsft commented on #33728
@giovannifl Sounds good.

@MarileeTurscak-MSFT #please-close

[2019-06-21 18:33] #33728 closed

[2019-06-21 18:37] alexdlevin commented on #28157
@colinrubbert Thanks for the post Colin.  Question, what are some of the quirks you ran into?  @christianmontoya  Hey Christian.  I was a bit confused on the link you referenced as of today, the writing of the doc calls out that the  'Virtual machines can't be Azure AD-joined.'   Just trying to get some clarity around this, as being able to use AADDS is very appealing.

[2019-06-21 18:37] SaurabhSharma-MSFT commented on #33750
@lgordoncurtiswork Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-21 18:42] FrankHu-MSFT commented on #33772
@BobGerman  Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-21 18:44] FrankHu-MSFT commented on #33759
@stephenc01  Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-21 18:45] FrankHu-MSFT commented on #33755
@chrisbues  Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-21 18:47] SaurabhSharma-MSFT commented on #33754
@kumarallamraju Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-21 18:48] Karishma-Tiwari-MSFT commented on #33770
Thanks for the question. We are currently investigating and will update you shortly.

[2019-06-21 18:50] SaurabhSharma-MSFT commented on #33748
@aquibqureshi26 Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-21 18:51] FrankHu-MSFT commented on #33744
@robmacf  Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-21 18:53] FrankHu-MSFT commented on #33735
@axthosarouris  Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-21 18:54] theheatDK commented on #33730
Thanks @MicahMcKittrick-MSFT. Yes ingress and egress works fine, but how do you force the egress to use a static IP?

[2019-06-21 18:56] FrankHu-MSFT commented on #33733
@kgopi05  Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-21 19:06] rasadovsky commented on #30003
I have the same issue with "Get Metadata" activity. Whenever I try to use Binary Copy option - I get the 3500 "FormatSetting property is not initialized" error message.
The only workaround is to use Text format, but if I have mix of files and just want to read metadata without detecting their type - the activity doesn't work.

[2019-06-21 19:08] MarileeTurscak-MSFT commented on #33736
@atsun91 please provide the document you are following so that we  can further assist.

[2019-06-21 19:32] Adam-Smith-MSFT commented on #33518
Thanks @MartinNr5  , I'll assign the case to the author for a doc-enhancement :)

[2019-06-21 19:34] Adam-Smith-MSFT commented on #25938
@SimonLuckenuik Could you let me know which option did you want to pursue ?

Thanks,

[2019-06-21 19:47] Alberto-Vega-MSFT commented on #33760
Thanks @CeciAc! Hi @haohuancheng Thanks for reaching out. I am not sure if I understand your feedback. It looks like you would like to see an explanation of the code in this tutorial vs just using the sample application and adding your credentials to it?

[2019-06-21 19:49] MarileeTurscak-MSFT commented on #33734
@johnlnash Please provide a link to the document you are referencing so that I can assist.

[2019-06-21 19:53] mike-urnun-msft commented on #33692
Hi @gxs54

You'll want to run `npm install` at the root of your project to install the required dependency. This documentation should help you: [Dependency management](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node#dependency-management)

[2019-06-21 19:59] johnlnash commented on #33734
Sure - here is the link to the document - look at the bullet points under limitations.

https://docs.microsoft.com/en-us/azure/backup/backup-azure-files for item #1.

https://docs.microsoft.com/en-us/azure/backup/backup-azure-backup-cloud-as-tape for item #2.  This functionality is also in the MARS server and should be extended to Azure Files as well.  I can't be the only enterprise customer that

[2019-06-21 20:00] MarileeTurscak-MSFT commented on #33716
@thinkingserious do you know who owns this page? It appears to not come from the MS docs team.

[2019-06-21 20:01] yangyadi1993 commented on #33523
I added the Microsoft.Extensions.Configuration.AzureKeyVault dependency and I could use the method. It is using Microsoft.Extensions.Configuration.AzureKeyVault.dll.

[2019-06-21 20:01] kasparks commented on #33228
Hi @KanikaGMS - thanks for the comment. 7 days is correct. I am updating this documentation to reflect this.

[2019-06-21 20:07] IEvangelist commented on #33579
Hey, @phanikkm could you please reply here with what details you're able to share?

[2019-06-21 20:07] rjosephp opened #33775 "How does a client receive message from Service Bus"
The document has this text: "The key scenario of this feature is that Service Bus queues or subscriptions with a low volume of messages do not need to have a receiver that polls for messages continuously."

Does it mean that the client actually receives the messages using a pull ? Is there a continuous polling done by the Subscription Client (in case of a Topic) to receive the messages - how does

[2019-06-21 20:15] taromielnaz opened #33776 "Tenant DBs"
What are the management DB and Tenant DBs? What is the solution if we have multiple web apps and one DB for each Web App? All DBs are in one SQL server and using the elastic pool.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28b8feeb-3db2-51b5-6a93-955f37072348
* Version Independent ID: 4b6bd620-7520-d08f-be9c-b20bb8

[2019-06-21 20:17] awentzel commented on #32982
We are having a similar issue where our Azure Web App runs on Linux with Node.  We're looking for a solution.

[2019-06-21 20:18] MarileeTurscak-MSFT commented on #33740
@gomesandres please send me the document that you are referring to so that I can assist you.

[2019-06-21 20:18] MarileeTurscak-MSFT commented on #33742
@rehan2908 Please link the document that you are following so that we can assist you.

[2019-06-21 20:19] Alberto-Vega-MSFT commented on #33686
Please see if the troubleshooting in this other issue helps https://github.com/MicrosoftDocs/azure-docs/issues/33070#issuecomment-501058490

"_did you complete all three steps in the Register Microsoft key section, and then run sudo apt-get update before trying to install the moby engine or CLI? I get the errors that you're listing when I skip that section, or skip the apt-get update after complet

[2019-06-21 20:19] MarileeTurscak-MSFT commented on #33738
@Rutikhal
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-21 20:20] alexernest opened #33777 "Session Id set incorrectly?"
Shouldn't the following line in the TelemetryInitializer set the Session.Id to the requestTelemetry.Context.Session.Id?

So: telemetry.Context.Session.Id = requestTelemetry.Context.Session.Id;

Instead of: telemetry.Context.Session.Id = requestTelemetry.Context.User.Id;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7

[2019-06-21 20:20] YutongTie-MSFT commented on #33766
@kevball2 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@PatrickFarley Hi Patrick, could you please take a look of this issue? This is the similar doc feedback we just discussed yesterday. https://github.com/MicrosoftDocs/azure-docs-pr/pull/79141

[2019-06-21 20:21] SaurabhSharma-MSFT commented on #33521
@maryannlim If you update an existing named location on Conditional access blade. For example if you have a named location "test" on the page if you select that and upload the file under that then all the IP ranges listed will be replaced with the file IP ranges.
![image](https://user-images.githubusercontent.com/38112130/59949193-39733e00-9427-11e9-9a7e-99210bcbfbd8.png)
![image](https://user-ima

[2019-06-21 20:23] jasonpnnl opened #33778 "Consider including warning about syncing directory users and causing conflicts with consumer accounts"
It might be a good idea to include a big warning about syncing users from Azure AD into G Suite and that if the users already have an existing personal/consumer account using the email address of the Azure AD user that it will cause issues that could have been more easily resolved by using the Google Transfer Tool prior to performing the directory sync. I believe they are going to add something li

[2019-06-21 20:27] rachel-msft commented on #30696
Japanese article updated

#please-close

[2019-06-21 20:27] #30696 closed

[2019-06-21 20:35] MarileeTurscak-MSFT commented on #33756
@AndyHerb
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-21 20:50] SaurabhSharma-MSFT commented on #33678
@gsartzetakis Yes, these are the generic prerequisites for BYOK in Azure.  AFAIK Azure Key Vault supports nCipher only to protect your keys.

[2019-06-21 20:57] MarileeTurscak-MSFT commented on #33743
@migrande
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-21 20:58] SaurabhSharma-MSFT commented on #33682
@torfulle I do not see any issue running the command without double quotes.  See below -
![image](https://user-images.githubusercontent.com/38112130/59951049-93c2cd80-942c-11e9-8fce-b6a3c64f509e.png)

[2019-06-21 21:07] SaurabhSharma-MSFT commented on #33748
@aquibqureshi26 you can refer to [Azure Monitor pricing](https://azure.microsoft.com/en-us/pricing/details/monitor/) to get the details around charges for data ingested to a log analytics.  First 5 GB is of data ingested per customer to Azure log Analytics service every month is free.

[2019-06-21 21:11] SaurabhSharma-MSFT commented on #33750
@lgordoncurtiswork I think you are either not connect to the correct tenant or passing incorrect key vault name to the cmdlet.  I have used the cmdlet on PowerShell with the proper keyvault name and it worked fine.
![image](https://user-images.githubusercontent.com/38112130/59951632-637c2e80-942e-11e9-9b1b-518611702842.png)

[2019-06-21 21:11] KranthiPakala-MSFT commented on #33548
@toenie23 Thank you for reaching out and bringing this to our notice.

Looks like the document needs an update. Please use "@trigger().outputs.body.fileName" as "sourceFile" and "@trigger().outputs.body.folderPath" as "sourceFolder" in Trigger Run Parameters. This should work.

At this time we are reviewing the document and will update as appropriate.

[2019-06-21 21:21] sn131678 opened #33779 "Start and Stop Dates"
Should give info in here about setting the dates as its very confusing when you set the date. Just sayin.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 225c9d05-83dd-b006-0025-3753f5ab25bf
* Version Independent ID: 9eecef0c-b1cb-1136-faf7-542214492096
* Content: [Start/Stop VMs during off-hours solution](https://docs.

[2019-06-21 21:21] PatrickFarley commented on #32682
@YutongTie-MSFT Hi, I've just fixed it in master

[2019-06-21 21:23] YutongTie-MSFT commented on #32682
@msimecek
It has been fixed. Thank you for the feedback. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

@PatrickFarley  Thank you.

[2019-06-21 21:23] #32682 closed

[2019-06-21 21:32] vladvino commented on #31497
Item #1 was removed from the policy list in Azure portal. #please-close

[2019-06-21 21:32] lgordoncurtiswork commented on #33750
That shows the vault properties and not the log entry, though

Sent from my iPhone

On Jun 21, 2019, at 5:11 PM, SaurabhSharma-MSFT <notifications@github.com<mailto:notifications@github.com>> wrote:

@lgordoncurtiswork<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_lgordoncurtiswork&d=DwMCaQ&c=ilBQI1lupc9Y65XwNblLtw&r=uIbv5JjVKkZJS9yWoErxl1G1jzipBoGDrKMe-JGX4o4&m=jYNMljCFPNex__qrj

[2019-06-21 21:38] KranthiPakala-MSFT commented on #33548
@toenie23 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-21 21:39] #33548 closed

[2019-06-21 21:44] ecfan commented on #33584
@DrReedo, the updates are live. Please review and confirm the text is more clear now? Thanks!

[2019-06-21 21:49] ggirard07 opened #33780 "Infinite loop should be avoided"
According to your own documentation in [Reliable Execution/Code Constraints](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-checkpointing-and-replay#orchestrator-code-constraints), infinite loop should be avoided.

But your example for [Cross-Function App Communication](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-types-features

[2019-06-21 21:49] georgewallace commented on #33779
@sn131678 Thanks for reaching out. What is it that you found confusing when setting the date? We link to the schedule doc that has info about setting the schedule. Is there something specific you would like to see here?

[2019-06-21 21:50] MarileeTurscak-MSFT commented on #33747
@MrCNeale
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-21 21:51] MarileeTurscak-MSFT commented on #33775
@rjosephp please provide the link to the document you are following so that we can assist you.

[2019-06-21 21:52] MarileeTurscak-MSFT commented on #33758
@PIKESTEL
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-21 21:52] TravisCragg-MSFT commented on #33738
@Rutikhal Even if you have not registered the feature to the Azure.Networking Resource provider, you should still see the "Bastions (preview)" service in the [Preview Portal](http://aka.ms/BastionHost). I use the search feature at the top center of the starting screen.

![image](https://user-images.githubusercontent.com/38542241/59953282-1f8c2800-9434-11e9-9f42-6e29b6439d64.png)

If you are unable

[2019-06-21 21:53] sn131678 commented on #33779
Where it reads:

Select a Schedule. This value is a recurring date and time for starting and stopping the VMs in the target resource groups. By default, the schedule is configured for 30 minutes from now. Selecting a different region is not available. To configure the schedule to your specific time zone after configuring the solution, see Modifying the startup and shutdown schedule<https://docs.mi

[2019-06-21 21:53] nonik0 commented on #32439
@spzSource Thank you for pointing this out! This is technically a bug, because as you have pointed out, ASAL (and consequently AppAuth) do not support IWA for .NET Core. The fix would simply be to return an error message that this scenario is not supported in .NET Core versions of AppAuth, and this will be in the next release of AppAuth.

[2019-06-21 21:56] Jura commented on #8247
The answer is hardcoded in QnA bot template, line #61 of qnaBot.js (in my node.js version):

[code]

[2019-06-21 21:59] FrankHu-MSFT commented on #33772
Thanks Bob for the feedback again! we're currently changing that information and appreciate reports of issues with the doc.
In addition to that, the MSAL.JS Readme is at this URL : https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/README.md

[2019-06-21 21:59] #33772 closed

[2019-06-21 22:00] #33228 closed

[2019-06-21 22:01] MNF opened #33781 "Can multiple secondary databases share an elastic pool?"
Are “Each elastic pool is contained within a single region, therefore multiple secondary databases in the same topology can never share an elastic pool.” and
“You can use geo-replication to create a secondary database in the same region as the primary.” statements contradict each other?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-06-21 22:02] TravisCragg-MSFT commented on #33632
@alejosroj2c I do not believe there is a restriction with AAD user login.  Any valid login for the VM should work with Azure Bastion.

[2019-06-21 22:05] rjosephp commented on #33775
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-to-event-grid-integration-concept

[2019-06-21 22:06] femsulu commented on #33500
assigning to @jureid

[2019-06-21 22:21] tamram commented on #26849
#reassign: @tamram

[2019-06-21 22:24] diberry commented on #8247
@Jura How did you create your bot?

[2019-06-21 22:26] kgremban commented on #33255
Yes, I understand that your issue is with that statement, but I don't know what I could say to make it more clear for future readers. From my perspective, that statement is not in contradiction to what we have said so far. Perhaps you could make a suggestion for a new statement that makes more sense to you. Otherwise, we can just mark this issue as resolved because your question has been answered.

[2019-06-21 22:43] peterpogorski commented on #33629
@jfalameda Thank you for the feedback! This is something that we will investigate and add to the backlog.

[2019-06-21 22:52] ram-kakani commented on #33722
#please-close

[2019-06-21 22:52] #33722 closed

[2019-06-21 23:01] MarileeTurscak-MSFT commented on #33776
@taromielnaz
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-21 23:02] MarileeTurscak-MSFT commented on #33777
@alexernest
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-21 23:02] MarileeTurscak-MSFT commented on #33778
@jasonpnnl
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-21 23:03] MarileeTurscak-MSFT commented on #33780
@ggirard07
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-21 23:04] MarileeTurscak-MSFT commented on #33781
@MNF
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-21 23:15] iyerusad opened #33784 "Document: Original Table storage support is legacy/backlog/unplanned"
**Documentation Feedback:** Omission: Support of original table storage has decreased, direct users to well supported path (Azure Cosmos Table API) for production workloads.

To be clear, this isn't product feedback, I understand the capacity model changes between Azure Table storage (consumption) and Azure Cosmos Table API (reserved). It would appear documentation omits the lack of support moving

[2019-06-21 23:21] joshzngf opened #33785 "What is the delay of the captured file? Capture order of the partitions?"
What is the delay of the captured file? For example, if I set the duration to 5 minutes, when will I see the captured file in the storage blob?

The second question is, is there an order of the captured file being generated in terms of partition number? Basically I'm trying to aggregate all the files in a specific time window across all partitions, it will be nice to know when will all the files i

[2019-06-21 23:31] TravisCragg-MSFT commented on #33742
@rehan2908 Please make sure that you have registered the resource provider on your subscription. You can [find out how to register the feature Here](https://docs.microsoft.com/en-gb/azure/bastion/bastion-create-host-portal#before-you-begin).

After you have taken those steps, please make sure that you are in the correct subscription by using the Get-AZContext cmdlet, and then verifying that the "A

[2019-06-21 23:39] TiloGit commented on #33115
thanks for the update and clarification.
What is the officially supported way of enabling auto-shutdown of an AKS cluster?

[2019-06-21 23:50] TravisCragg-MSFT commented on #33758
@PIKESTEL Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-22 00:03] MNF opened #33786 "Which connection string should be used for geo-replication failover?"
Consider the following scenario:
The client application has a connection string primaryserver.database.windows.net, that connects to primary instance of the geo-replicated database. In case of failover the database on the secondaryserver becomes active. But application still refers to old primaryserver.
Will application calls to the database fail until connection string will be changed to secondar

[2019-06-22 00:09] KranthiPakala-MSFT commented on #33785
@joshzngf Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will get back to you soon.

[2019-06-22 00:13] Karishma-Tiwari-MSFT commented on #33770
@stgraves Can you please confirm that you followed all the pre-requisites listed [here](https://docs.microsoft.com/en-us//azure/aks/windows-container-cli#before-you-begin):
which includes:
1. Install aks-preview CLI extension
2. Register Windows preview feature

[2019-06-22 00:21] chrisbasoglu commented on #33343
How about: Speech Services supports Windows 10, Universal Windows Platform (UWP), and .NET Standard 2.0. (not including Xamarin)

[2019-06-22 00:26] Karishma-Tiwari-MSFT commented on #33034
@brushwood24 The document that you have referenced is for changing availability set.
If you create a VM from managed image by following these instructions: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/create-vm-generalized-managed
the createOption should be"FromImage".

Can you please elaborate more on what you are trying to do, how are you creating your VM etc, so that I can as

[2019-06-22 00:34] brushwood24 commented on #33034
I'm not trying to create a VM from an image.  I followed the instructions for removing a VM from an existing availability set.  The only part I did not do was then out it in a new availability set becuae the end state I wanted was to remove the VM from the availability set.  I don't know how to explain it more clearly than I already have.

[2019-06-22 00:48] cynthn commented on #33034
The original ARM template that you used, what did it have for the image? Was it a custom image your created or a Marketplace image?

The document you used has you remove the VM from Azure, then you recreate the VM by attaching the OS disk from the VM that was in the AV set.

Do you have any other VMs in the AV set that were created using the original template?

[2019-06-22 00:51] FrankHu-MSFT commented on #33759
Thank you for that information @stephenc01 ! We are currently making those changes and appreciate you bringing these issues to our attention. As this has been addressed, will be closing this issue out now.

[2019-06-22 00:51] #33759 closed

[2019-06-22 00:53] brushwood24 commented on #33034
The original ARM template created the VM from a marketplace image.

I do have other VMs that were in the AV set. I have not removed them by deleting the VM then recreating it from the OS disk like I did with the VM in question.

[2019-06-22 00:59] DixitArora-MSFT commented on #33451
@rajrao I have assigned this to content author to review and update as appropriate.

[2019-06-22 00:59] DixitArora-MSFT commented on #33456
@rajrao I have assigned this to content author to review and update as appropriate.

[2019-06-22 01:06] tamram commented on #18259
#reassign: @tamram

[2019-06-22 01:07] cynthn commented on #33034
@brushwood24 I guess the short answer is "no" because the VM you removed from the AV set was recreated by "attaching" the OS disk to the new VM that isn't in an AV set.

If you want to create new VMs, that aren't in an AV set, I would start with the template from one of the other VMs and edit out the pieces for the AV set.

Any time you are recreating a VM and using the existing VHD as the OS disk

[2019-06-22 01:09] tamram commented on #14638
#reassign: @tamram

[2019-06-22 01:14] brushwood24 commented on #33034
Yes.  That makes sense.  So if you create a VM in an availability set, there is no way to remove it and also continue to use the ARM template to manage it.  Is that a correct statement?

[2019-06-22 01:22] conceptdev commented on #33592
Further documentation updates were published today - basically you create an App Service Web App and use that for the back-end.

[2019-06-22 01:47] FrankHu-MSFT commented on #33744
@robmacf I'm sorry that you're having issues with the document.
However in the document it does say :

That being said, currently our doc writers are looking into this issue and will determine next steps accordingly.

Thanks again for your feedback,

[2019-06-22 02:29] SimonLuckenuik commented on #25938
Couple of questions before we proceed, since this is for a system in production :
1) Is there a downtime related to that operation?
2) We have multiple accounts in multiple subscriptions for different tenants (maybe 50 accounts to convert), is that still ok?

[2019-06-22 02:39] cynthn commented on #33034
@brushwood24 You can still use the template to manage that VM, you just can't create other VMs from that template (because you can only attach the VHD to one VM).

[2019-06-22 03:29] BryanTrach-MSFT commented on #32950
@PhilKoay I just wanted to check in to see if you are still having this issue. I went through the doc myself and unforunately did not encounter the same issue.

If you are still having this issue, can you please let us know at what step this is happening?

[2019-06-22 03:41] BryanTrach-MSFT commented on #32922
@jscaravilli and @GreyKarnival We apologize for the confusion and frustration that you have encountered. I have verified they are looking into additional doc edits to help make this recent change more clear. The changes should be live in the coming weeks.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly con

[2019-06-22 03:41] #32922 closed

[2019-06-22 03:47] BryanTrach-MSFT commented on #33604
@chlowell I have gone ahead and assigned the author to see if this is a product change that would be considered. They should reply shortly.

[2019-06-22 04:00] aquibqureshi26 commented on #33748
what about per node? How much GB per node is free.

[2019-06-22 04:20] SnehaAgrawal-MSFT commented on #33498
@UMANGAWASTHY We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-22 04:20] #33498 closed

[2019-06-22 04:57] SnehaAgrawal-MSFT commented on #33784
@iyerusad Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-22 05:01] Pokeystuff opened #33788 "Code errors"
For "Add your storage account info" code there is an extra bracket at the end that needs to be deleted.

For "Upload Blobs" code the "fileInput.addEventListener("input", uploadFiles);" should be "change" not "input"

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4090e045-28aa-2924-ca80-e74546f677f5
* Version Independen

[2019-06-22 05:03] SnehaAgrawal-MSFT commented on #33786
@MNF Thanks for the question! We are investigating and will update you shortly.

[2019-06-22 05:34] kenakamu opened #33789 "ValueError: ZIP does not support timestamps before 1980"
When run = exp.submit(config=est), it generates error "ValueError: ZIP does not support timestamps before 1980"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bee4b9a-ce0f-f98b-3160-d6c4a40ef3ac
* Version Independent ID: a0475a9e-47f6-2803-8707-fac54ba898dd
* Content: [Image classification tutorial: Train models - Azu

[2019-06-22 06:04] jsacapdev commented on #33738
I am seeing the same thing.

When I run the following command, the following is returned:

[code]

When I go into the preview portal, I dont see the option:

![image](https://user-images.githubusercontent.com/10151920/59960159-e39ca580-94bb-11e9-8c09-789d0ff6d5c2.png)

[2019-06-22 06:20] PhilKoay commented on #32950
Can you tell me how to create a new pom file?

Phil Koay ( From my mobile, so please excuse the typos, lack of content etc
:) )

On Sat., 22 Jun. 2019, 1:30 pm Bryan Trach, <notifications@github.com>
wrote:

[2019-06-22 06:26] mikeerickson commented on #21706
As per @mhoeger comment, this is not the case as Node 12.x does not work either.

[2019-06-22 07:03] theheatDK commented on #33730
To be more precise, we use the application gateway (AG) for inbound ingress. Egress from the AKS cluster is not going through the AG. If we can configure Kubernetes to use the AG for egress that would solve the problem. Is this possible?

[2019-06-22 07:05] AmanGarg-MSFT commented on #33713
@OzBob Please reach out to serviceprofilerhelp@microsoft.com for further debugging.

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-06-22 07:05] #33713 closed

[2019-06-22 07:20] patriziobruno commented on #29197
Hi @YASWANTHM-MSFT, I am having the same issue as @rajmusuku's and Admin Centers > Azure AD > Users and Groups > User Settings > "Users can consent to apps accessing company data on their behalf" is enabled

[2019-06-22 07:32] #33674 closed

[2019-06-22 07:35] AmanGarg-MSFT commented on #33714
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-06-22 07:35] #33714 closed

[2019-06-22 08:32] googol13 opened #33795 "ADFS on Server 2019"
When will there be support for ADFS on Server 2019? Server 2019 has been out for 10+ months now, where is the support? I would like to monitor my Server 2019 based ADFS with this health agent. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b4b9ec9-9ce6-dcff-b557-2816d40459b8
* Version Independent ID: b2f56d

[2019-06-22 08:55] AmanGarg-MSFT commented on #33777
@alexernest The code sample is correct and is just an example. This example sets the user ID to an identifier that expires after the session. If possible, use a user ID that persists across sessions.

If you read the note in this document:

_"This is an advanced article outlining the manual steps for tracking user activity with Application Insights. With many web applications these steps may not b

[2019-06-22 08:55] #33777 closed

[2019-06-22 09:40] ohorvath commented on #33738
Same here, I've used the service a few days ago and now it simply disappeared from everywhere.

[2019-06-22 10:22] AlexanderTodorovic commented on #33717
Thank you.

[2019-06-22 10:22] #33717 closed

[2019-06-22 10:28] kgopi05 opened #33797 "Grant your VM access to a Secret stored in a Key Vault"
Hi ,
To grant VM to access the secrets key , we need to add Get + List in Key Management also for successful secrets retrieve , need to update the documentation to include the permissions for Key Management.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6ae37a8-0a93-e077-d15f-50d2d0d6aa99
* Version Independent ID: 41

[2019-06-22 10:42] Vinhaman opened #33798 "Procedure Invalid object name 't1'."
This is related to the https://docs.microsoft.com/en-us/azure/sql-data-warehouse/sql-data-warehouse-tables-temporary

When running the example procedure we get the error "Invalid object name 't1'.

The error is on the creation of the table that is trying to use a cte that was not created.
On top we need the **WITH t1 AS**  as we can see below:

CREATE TABLE #update_stats_ddl
	WITH
	(
		DISTRIBUTIO

[2019-06-22 10:49] grahamauty opened #33799 "How to pass parameters into Liquid JSON to JSON transform in Logic Apps"
As part of a JSON to JSON transformation, I need to pass parameters into the map so that these values can be placed in an appropriate place within the transformed JSON, by the Liquid map. How do you define and consume such parameters in the Liquid map? Will the definition of parameters within the map be picked up by the connector for it to then allow you to enter the values for those parameters?

[2019-06-22 10:59] d83194 opened #33800 "Mouse focus in an RDP window"
Whilst RDP'd to a VM via Bastion, and with Windows Explorer open, normally the forwards and backwards mouse buttons would go up and down a folder structure. Even though the mouse focus is in the VM, it doesn't go up / down the folder structure as you'd expect. Is this something that can be added in the future?

Cheers

---
#### Document details

⚠ *Do not edit this section. It is required for docs

[2019-06-22 12:08] Skyscalesystems commented on #33565
Hi there, any updates on this? I am able to connect using Postman and get the right response. So basically the endpoint and subscription are working on Postman for TextAnalytics but not in the console project as given in the blog, error remains same `Operation returned an invalid status code 'NotFound'`

[2019-06-22 12:33] haekenssam commented on #22945
Having the same exception thrown but following the instructions from @acured removing the "/face/v1.0" it works!

[2019-06-22 13:10] SnehaAgrawal-MSFT commented on #33788
@Pokeystuff Thanks for the feedback! We are currently investigating and will update you shortly

[2019-06-22 13:17] SnehaAgrawal-MSFT commented on #33789
@kenakamu Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-22 13:19] SnehaAgrawal-MSFT commented on #33795
@googol13 Thanks for the question! We are investigating and will update you shortly.

[2019-06-22 13:21] SnehaAgrawal-MSFT commented on #33797
@kgopi05 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-22 13:27] SnehaAgrawal-MSFT commented on #33798
@Vinhaman Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-22 13:30] SnehaAgrawal-MSFT commented on #33800
@d83194 Thanks for the question! We are investigating and will update you shortly.

[2019-06-22 13:34] SnehaAgrawal-MSFT commented on #33799
@grahamauty Thanks for the feedback! Could you share the URL of the doc you are referencing.

[2019-06-22 13:50] lipsius opened #33801 "No temp warning"
I connected an IoT DevKit AZ3166 to Azure IoT Hub and can visualize the data without any problem. See tutorial https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-live-data-visualization-in-web-apps. However I get no temperature warning. The Logic app is evaluating every 3 minutes but the status always indicates "skipped". Please help. Many thanks.

---
#### Document Details

⚠ *Do not edit thi

[2019-06-22 13:51] lipsius commented on #33801
This is what gets sent : Broadcasting data {"IotData":{"temperature":81.3,"temperature_unit":"F","humidity":43.8,"humidity_unit":"%","pressure":1013.6,"pressure_unit":"psig"},"MessageDate":"2019-06-22T13:45:12.098Z","DeviceId":"MyNodeDevice"}

[2019-06-22 13:57] msrini-MSFT commented on #33674
@mwijsman76 , if you still have issues, please tag me, so that I can reopen and work with you.

[2019-06-22 15:27] MarileeTurscak-MSFT commented on #33801
@lipsius
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-22 15:47] kevball2 commented on #33705
@PatrickFarley,
Looking to use a local path as the training data set yes.

[2019-06-22 16:07] stack247 opened #33803 "What is "file-based"?"
It would be nice to clarify and explain what is "file-based" store and what Azure services / other services that are considered file-based or non-file-based.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bbd66af-d49f-e595-a7bc-c48cd3675ddc
* Version Independent ID: d3e43062-2f4e-a7a9-17f0-9c3e05d36f27
* Cont

[2019-06-22 16:15] XiangyuL-Microsoft commented on #33798
This issue is assigned to wrong people.

[2019-06-22 17:23] priyangithub commented on #30070
ADF web hook call back Uri does not work. Even the calling URL response before time out, web hook activity waits until time out and failed due to the time out.
Can anybody give me proper example for working ADF web hook activity with call back to activity before time out?

[2019-06-22 18:34] cabailey commented on #32155
@julesman101  Thanks for flagging this & apologies for the delay.  Article is now updated so I'll ask for this to be closed.
#please-close

[2019-06-22 18:34] #32155 closed

[2019-06-22 19:13] xtianus79 opened #33805 "the .bot file is deprecated so the instructions above need to be revisited"
Configuring a .bot file is not longer standard practice so when creating this tutorial a .bot file is never created.  New instructions on how to configure the bot file i.e. via the appsettings.json and starrtup.cs should be provided.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfbfbd93-0056-6d8b-8ee1-f7d0c6d0a739
*

[2019-06-22 19:32] diberry commented on #33805
@xtianus79 This tutorial uses all the files from the web app bot download, which is already configured for the bot created in the tutorial. You don't need to change any of the settings or create a new file in order to use this tutorial. If you want to learn how to configure those files for a different bot, please use the [bot framework documentation](https://github.com/Microsoft/botframework).

[2019-06-22 20:45] SeanFeldman opened #33806 "Language used in the article"
Events are also messages.
Looking at the canonical Enterprise Integration Patterns, there are three distinguished definitions:
1. [Message](https://www.enterpriseintegrationpatterns.com/patterns/messaging/Message.html)
1. [Event](https://www.enterpriseintegrationpatterns.com/patterns/messaging/EventMessage.html)
1. [Command](https://www.enterpriseintegrationpatterns.com/patterns/messaging/EventMes

[2019-06-22 21:03] kaushikghosh commented on #33473
@Mike-Ubezzi-MSFT Now the linking works. The problem was that I had an Edge Id same as one of the vertex Id. But it still creates a hot partition even when I specify the server Url as the write region's URL.

[2019-06-22 23:17] Mike-tech commented on #33401
Thanks for this info @yoelhor

In regards to the JavaScript, I'm not sure what may be causing this but Javascript is not being fired on my pages.

I used the browser developer tool, and i can see the pages being loaded successfully, but not JS:

![image](https://user-images.githubusercontent.com/21954124/59969695-fb236f00-954b-11e9-9a81-245d9f5a6c7b.png)

When i then inspect the html content, i ca

[2019-06-22 23:35] msfcolombo opened #33808 "Where is the mapping between the claim type URI and the JWT identifier?"
I need to diagnose an issue where the code is reading claims by URI (i.e. `http://schemas.microsoft.com/identity/claims/objectidentifier`), but the parsed JWT token shows only the short identifier (`oid`).

For instance, what is the short name for claim `http://schemas.microsoft.com/ws/2008/06/identity/claims/confirmationkey` ?

Ideally, the list here should provide the mapping. But if there is qu

[2019-06-23 01:55] Infraton11 commented on #25739
I was at least able to contribute study

[2019-06-23 02:13] SnehaAgrawal-MSFT commented on #33803
@stack247 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-23 02:19] SnehaAgrawal-MSFT commented on #33806
@SeanFeldman Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-23 02:21] SnehaAgrawal-MSFT commented on #33808
@msfcolombo Thanks for the question! We are investigating and will update you shortly.

[2019-06-23 02:24] SnehaAgrawal-MSFT commented on #33569
@Pauline-Kowa Since we didn’t hear back from you. We will now proceed to close this thread.

[2019-06-23 02:24] #33569 closed

[2019-06-23 03:15] MarileeTurscak-MSFT commented on #33673
Please specify the document that you are following and open an issue on that doc. Since I have not heard from you we will now proceed to close this thread.

[2019-06-23 03:15] #33673 closed

[2019-06-23 03:18] artfulhacker opened #33810 "existing gateway"
How do I add a custom WAF rule to an existing application gateway?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 911f89a4-11b8-fdf5-6fb0-21ead568f7e0
* Version Independent ID: d3d55d32-9067-48b9-3bea-68eb6efc8194
* Content: [Configure Web Application Firewall v2 custom rules using Azure PowerShell](https://docs.micros

[2019-06-23 03:54] cuongdnv opened #33811 "Can i consult this artical to config helm to work over https"
Formerly i used linkerd and ingress to config https for a web application . Now i tried to deploy this web application by helm. But can i consult this article to config with helm to work over https.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b977-d3bc-65f92406e16d
* Version Independent ID: 5c596e04-fd

[2019-06-23 03:58] GIOkafor opened #33812 "Node Sample program fails with response 'the request is invalid'"
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3037e4f3-8db5-071a-de35-99e9825de73e
* Version Independent ID: 8ef0f945-9a5d-f9d5-72d8-0c65a8349be4
* Content: [Get intent, Node.js - Language Understanding - Azure Cognitive Services](https://docs.microsoft.com/en-gb/azure/cognitive-services/luis/lui

[2019-06-23 04:01] GIOkafor commented on #33812
Wasn't passing the proper app id nvm 😅

[2019-06-23 04:01] #33812 closed

[2019-06-23 04:54] MarileeTurscak-MSFT commented on #33810
@artfulhacker
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-23 04:55] MarileeTurscak-MSFT commented on #33811
@cuongdnv
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-23 05:04] KranthiPakala-MSFT commented on #33677
@Mekkinen Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2019-06-23 05:05] KranthiPakala-MSFT commented on #33677
@linda33wj Could you please look at the feedback from @Mekkinen.

[2019-06-23 07:48] jitendra-25 opened #33813 "Copy a disk documentation issue - Account Type option not available when creating copy from snapshot."
Steps I followed -
1. Created a data disk Standard SSD, name - DataDisk1.
2. Created a snapshot of disk with type Standard HDD, name - DataDiskSnapshot.
3. When creating a new managed disk from the snapshot in step #2, there was no Account Type option on Azure Portal.

So, is there an correction in this documentation ? Or do I have to follow some different steps to get the Account Type option when

[2019-06-23 13:03] theheatDK opened #33815 "Application Type Native?"
Hi,
When you use App registration (Legacy) you can select Native for the Client app.
In the old Legacy version of this article, you were told to use native.
This is no longer the case. Is that not a problem?
I could not get it to work before using Native...
Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a

[2019-06-23 13:14] grahamauty commented on #33799
Hi, the URL is https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-enterprise-integration-liquid-transform

[2019-06-23 13:24] dustindortch opened #33816 "Windows Server 2019 Support"
This page hasn't been updated in a couple of years.  Commentary related to support for Windows Server 2019 should be included.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d92acad0-13e9-f009-eff1-a89fad7a08b7
* Version Independent ID: 462590b7-1d83-0e32-63d4-79a4726023d0
* Content: [Using Azure AD Connect Health with

[2019-06-23 14:41] robinmanuelthiel opened #33817 "Azure App Service CORS vs. ASP.NET Core CORS"
What happens, if I enable CORS in the Azure App Service Settings but also have CORS enabled in the code of my ASP.NET Core Application for example? Which config wins?

#### Code sample:
[code]

#### Azure sample:

![image](https://user-images.githubusercontent.com/44606227/60042987-a7945b00-96dc-11e9-82cf-0abdd86e79c7.png)

Both allow different origins (**:4200** and **:5000**)

Edited: Trimmed PI

[2019-06-23 14:52] tkumark opened #33818 "How to set this up for Service Fabric Stateless ASP.Net Core API"
Could you please provide an example how  App Configuration can be use in Service Fabric Stateless ASP.net Core API?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2984100d-7d78-2115-40f4-4b9478a5a5bc
* Version Independent ID: 24ac6adc-6779-b847-ce81-c9d36e4b067b
* Content: [Quickstart for Azure App Configuration with A

[2019-06-23 16:18] archmangler opened #33821 "No examples and guidance on actually setting up UDRs for kubenet inter-node routing"
- The documentation mentions that UDRs are required to configure internode (inter-pod) routing when using kubenet networking.
- However there are no examples in the documentation on actually configuring this.
- Please could we have examples of this configuration, for as many scenarios as are relevant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-06-23 16:38] MicahMcKittrick-MSFT commented on #33815
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-23 16:39] MicahMcKittrick-MSFT commented on #33813
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-06-23 16:42] MicahMcKittrick-MSFT commented on #33821
@archmangler please provide us with the link to the documentation you are following so we can better assist.

[2019-06-23 16:53] MarileeTurscak-MSFT commented on #33816
@dustindortch
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-23 16:57] mike-urnun-msft commented on #33692
@gxs54 Just following up here, please let us know if you have any further questions. Otherwise, we'll proceed to close this issue.

[2019-06-23 16:57] mike-urnun-msft commented on #33751
@TomaszOledzki Just following up here, please let us know if you have any further questions. Otherwise, we'll proceed to close this issue.

[2019-06-23 17:01] MarileeTurscak-MSFT commented on #33816
I am assigning this to the content author to investigate. @zhiweiwangmsft

[2019-06-23 17:03] MarileeTurscak-MSFT commented on #33817
@robinmanuelthiel
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-23 17:04] MarileeTurscak-MSFT commented on #33818
@tkumark
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-23 17:38] jmoralesv opened #33822 "Is there a way to improve the image quality when connecting to the VM using Azure Bastion?"
Hi,
I'm using Azure Bastion and so far so good, however I noticed that the image quality of the RDP session is lower compared with the native RDP session in Windows. Is there a way to improve it so I can see the screen crispy and shiny? I know this is a cosmetic thing, but it would be great to have it as in RDP.

On the other hand, I thought that resizing the window to go to full screen would resi

[2019-06-23 18:20] jmoralesv commented on #33822
Hi,
Other things I noticed about image quality is that the Bastion RDP session disables the default themes in Windows 7 and Windows 8.1 virtual machines, which where respected when using native RDP in Windows. I hope Azure Bastion can add the options to get themes and wallpaper support in the future.

Besides, I noticed that some common keyboard combination are not redirected to the Bastion RDP se

[2019-06-23 19:15] AjayKumar-MSFT commented on #33590
@MarkIannucci, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion.

[2019-06-23 19:15] #33590 closed

[2019-06-23 19:19] AjayKumar-MSFT commented on #33592
Thank you, @conceptdev. Since the document is now updated, we will proceed to close this issue.

[2019-06-23 19:19] #33592 closed

[2019-06-23 19:26] AjayKumar-MSFT commented on #32478
SirichaiLordsin, Your specific question is not very clear, could you please provide more details on the issue or open-up a new GitHub issue on the doc you want to share your feedback.

[2019-06-23 19:46] pdr-richardjohnston commented on #33810
I have the same question, it doesn't seem clear how we can add a custom rule using PowerShell to an existing gateway without having to specify all of the details for the gateway.

Please can you advise?

[2019-06-23 20:58] MarileeTurscak-MSFT commented on #33822
@jmoralesv
Thanks for your feedback! We will investigate and update as appropriate.

[2019-06-23 22:29] SinghGurd commented on #33382
Thanks @ManojReddy-MSFT; that article doesn't cover our scenario in detail. We want to know 100% what AAD Connect does to ADFS and AAD when user sign-in method is changed to Federation and domain credentials and ADFS details are provided in the wizard.

I have outlined our scenario below again
1. Domain federated with AAD using ADFS. Existing AAD Connect in place and working fine.
2. New AAD Conne

[2019-06-23 22:43] jmeddy commented on #13089
Still not fixed, link is still going to an old Hyper-V VM support page. I searched and could not find a current page with a full list of supported VM OSes in Azure anywhere - https://support.microsoft.com/en-us/help/2721672/microsoft-server-software-support-for-microsoft-azure-virtual-machines is close but focuses on software and not OS support.

[2019-06-23 23:04] Datachick opened #33824 "Unneeded <PATH>"
The &lt;PATH&gt; in SQL CREATE TABLE script is not covered in the instructions.  And since the previous cmd didn't include a path, it is unneeded.  Deleting the /&lt;PATH&gt; in the command allows it to run correctly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 322a9e6d-be2e-69b0-cae0-8007aba12aa6
* Version Independ

[2019-06-23 23:25] Datachick commented on #33571
There is this:

https://github.com/microsoft/sql-server-samples/tree/master/samples/databases/adventure-works

[2019-06-23 23:46] dcbrown16 opened #33825 "Add File Sync note"
https://docs.microsoft.com/en-us/azure/storage/files/storage-sync-files-firewall-and-proxy
This page states that File Sync isn't supported with the storage firewall feature, yet this page is still present in the Files ToC with no indication of that information. Until File Sync is supported, this page (the one I am reporting this on) should have a clear indication that Sync isn't supported.

---
##

[2019-06-24 01:05] KeiroKamioka0000 commented on #33715
Thanks!

[2019-06-24 01:05] #33715 closed

[2019-06-24 01:45] jmoralesv opened #33826 "Why doesn't Azure Bastion appear in preview.portal.azure.com?"
Hi,
I want to know why Azure Bastion doesn't appear in the preview portal: https://preview.portal.azure.com/, but it does appear when using the URL mentioned here: http://aka.ms/BastionHost, which resolves to the regular portal but with something added to make Azure Bastion work.

Will there be a plan to enable Azure Bastion using the preview portal? That will make bookmarks look better.

Regards,

[2019-06-24 02:24] gojanpaolo opened #33827 "CloudStorageAccount.CreateCloudFileClient is missing"
Was CloudStorageAccount.CreateCloudFileClient already removed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eff27d7-f909-fc99-14f6-ad572629907f
* Version Independent ID: 57504146-9f89-e4d6-3f5b-5cd9af305d45
* Content: [Develop for Azure Files with .NET](https://docs.microsoft.com/en-us/azure/storage/files/storage-do

[2019-06-24 02:29] gojanpaolo commented on #33827
CloudFileShare.Exists is also not found

[2019-06-24 02:33] gojanpaolo commented on #33827
// Get a reference to the file share we created previously.
CloudFileShare share = fileClient.GetShareReference("logs");

when did we create the file share?

[2019-06-24 02:34] dacarubio opened #33828 "Maximum AS-Path Limit"
Can you please confirm what's the  maximum AS Path that MSEE can received from the customer end?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4792b5c-81ee-5619-15bd-cd63aec1f946
* Version Independent ID: 12f9c00f-e6f6-ab76-8d34-b7f5a6b4d15f
* Content: [Optimize routing - ExpressRoute circuits: Azure](https://docs.mi

[2019-06-24 02:36] juned-nuamedia opened #33829 "LUIS container throwing Metering attempt failed with status 'Invalid'."
I am trying to setup LUIS container on my macbook following the below article

https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-container-howto

I have downloaded the production slot gz and running the latest luis container. But when the container starts up it throws the following error

[code]

Going through the old posts I have tried the following. Downloaded the gz to be sure

[2019-06-24 02:59] SnehaAgrawal-MSFT commented on #33799
@grahamauty Thanks again for the feedback! We are currently investigating and will update you shortly.

[2019-06-24 03:38] shanjin90 opened #33830 "requires documentations on "Different auth method is based on different AAD verified domains whether they are federated or managed.""
One of my end user requires documentations on "different domains in a single tenant with different authentication methods" or "Different auth method is based on different AAD verified domains whether they are federated or managed."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74a7839e-3be4-a6b8-10ac-addc1285d0a6
* Ve

[2019-06-24 03:44] #33745 closed

[2019-06-24 03:51] LeeHyeongWon commented on #33652
@AshokPeddakotla-MSFT
The test is currently in progress and there is no abnormality yet.
I'll keep it closed until there's a problem later.
Thank you!!

[2019-06-24 04:03] gojanpaolo commented on #33827
I was able to resolve my issues after a bit of research and trial and error. The documentation has some room for improvement though.

[2019-06-24 04:03] #33827 closed

[2019-06-24 04:06] htleeab commented on #33718
Thanks a lot. Media streaming optimization is what I'm looking for.
After read it, I still have one question. MS and Verizon have section "Partial cache sharing" but Akamai didn't. Do Azure from Akamai support partial cache sharing for low latency media if it is optimized for "General media streaming"?

[2019-06-24 04:29] KalyanChanumolu-MSFT commented on #33784
Similiar issue [#27135](https://github.com/MicrosoftDocs/azure-docs/issues/27135) is open with the author.
Please continue the discussion there to avoid overlap.

[2019-06-24 04:34] KalyanChanumolu-MSFT commented on #33784
@SnehaGunda @wmengmsft @rimman for awareness

[2019-06-24 04:48] OzBob commented on #33713
@AmanGarg-MSFT will the the missing email be added to this document (https://docs.microsoft.com/en-us/azure/azure-monitor/app/profiler-troubleshooting) say: "If you can't figure out why Profiler isn't working for you, you can download the log and send it to our team for assistance."

The contact email is missing from this document.

[2019-06-24 04:48] SwathiDhanwada-MSFT commented on #33711
As per [this](https://docs.microsoft.com/en-us/azure/backup/backup-architecture#backup-types) article, incremental backup is supported by all Azure Backups. so yes, Azure file shares support incremental backup.

[2019-06-24 04:57] KetanChawda-MSFT commented on #33523
@devlife Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-24 04:57] #33523 closed

[2019-06-24 04:57] KetanChawda-MSFT commented on #33584
@DrReedo We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-24 04:57] #33584 closed

[2019-06-24 05:03] MohitVerma-MSFT commented on #33830
@shanjin90 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-24 05:05] MohitVerma-MSFT commented on #33829
@juned-nuamedia  Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2019-06-24 05:08] MohitVerma-MSFT commented on #33828
Thank you for your feedback! We will review and provide an update as appropriate

[2019-06-24 05:10] MohitVerma-MSFT commented on #33826
@jmoralesv  Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-24 05:13] DashleenBhandari-MSFT commented on #33639
@KeiroKamioka0000 , In your first sentence it sounds like you’re saying it takes 2 hours to enable the endpoint.  That isn’t exactly correct.  Typically starting and stopping happen very quickly.  Often this takes only about a minute.  The same is true for starting the endpoint.  What takes longer is the DNS propagation for the CDN.  This means that the streaming endpoint is running and can take l

[2019-06-24 05:13] vrishnitf commented on #33565
Hi, I am able to execute the sample code for text analytics successfully after passing the SubscriptionKey of the Text analytics cognitive service and Endpoint in the Program.cs file, without any issue. Please verify the following checkpoints that can help you.
Replace the subscription key stub with the key you obtain from your azure account.
Ensure that region is set to the Azure region associate

[2019-06-24 05:15] MohitVerma-MSFT commented on #33825
@dcbrown16 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-24 05:18] MohitVerma-MSFT commented on #33824
@Datachick Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-24 05:20] YASWANTHM-MSFT commented on #33825
@dcbrown16, Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-24 05:21] KetanChawda-MSFT commented on #33595
@robotwyatt Actually the document is confusing because it creates ServiceBusClient Object using connection-string and Connection-string itself contains namespace, sharedaccesskeyname, and sharedaccesskey with your namespace, shared access signature (SAS).

So if you are creating ServiceBusClient Object using connection-string you just need to paste the connection string of your service bus namespa

[2019-06-24 05:28] YASWANTHM-MSFT commented on #33788
@Pokeystuff, Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-06-24 05:35] troyphil opened #33832 "Link for implementing WPAD to legacy docs"
Link for 'implementing Web Proxy Auto-Discovery (WPAD)' connects to legacy Server 2008 era docs https://docs.microsoft.com/en-au/previous-versions/tn-archive/cc995261(v=technet.10).

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9c51404-0a1b-c22e-e220-ce4126ff88d0
* Version Independent ID: bd3aab43-4202-bb69-bd1a-580e

[2019-06-24 05:38] #33595 closed

[2019-06-24 05:39] SwathiDhanwada-MSFT commented on #33563
To monitor Azure Container Instances via Azure Monitor, you need to enable [Container Monitoring Solution](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/containers).

![image](https://user-images.githubusercontent.com/48976275/59994135-60708080-9670-11e9-8455-f01534e67a44.png)

[2019-06-24 05:42] AshokPeddakotla-MSFT commented on #33686
@chris-opendata Have you had a chance to see the above response? Do let us know if you still need help.

[2019-06-24 05:44] tamitarai opened #33833 "parameter of az ml command is wrong"
the command below does not work.
&gt;az ml workspace share -n my_workspace -g my_resource_group --role "Data Scientist" --user jdoe@contoson.com

I changed param "-n" into "-w"  then works.
&gt;az ml workspace share -w my_workspace -g my_resource_group --role "Data Scientist" --user jdoe@contoson.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-06-24 05:45] juned-nuamedia commented on #33829
@MohitVerma-MSFT  https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-container-howto

[2019-06-24 05:46] SnehaAgrawal-MSFT commented on #33580
@SantoshAvaji  I have updated the doc.  Thanks again for bringing this to our attention.
  We will now close this issue

[2019-06-24 05:46] #33580 closed

[2019-06-24 05:48] MohitVerma-MSFT commented on #33833
@tamitarai Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-24 05:53] MohitVerma-MSFT commented on #33832
@troyphil Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-24 05:57] SubhashVasarapu-MSFT commented on #33157
@DanijelMalik, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-06-24 05:59] jakaruna-MSFT commented on #33662
@axelgMS I am closing this issue because it will be taken care from #33663

[2019-06-24 05:59] #33662 closed

[2019-06-24 06:00] AshokPeddakotla-MSFT commented on #33760
@haohuancheng Please check the "Configuring Raspberry Pi" section for sample codes. When you open the link you will be able to see the samples on [Github repo](https://github.com/Azure/iot-central-firmware/tree/master/RaspberryPi). We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and

[2019-06-24 06:00] #33760 closed

[2019-06-24 06:01] jakaruna-MSFT commented on #33479
@coreyperkins I am closing this issue for now. Both methods to give access to the AKS for ACI is documented and its working.
If you need additional help, Please mention me in the comment.

[2019-06-24 06:01] #33479 closed

[2019-06-24 06:20] juned-nuamedia commented on #33829
Okay, I have got it working. The documentation does not mention the step to link Azure Cognitive subscription with the LUIS app. Finally, I found the below link and got it working

https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-how-to-azure-subscription

[2019-06-24 06:20] #33829 closed

[2019-06-24 06:29] ChiragMishra-MSFT commented on #33803
@stack247 By file-based store, it is meant data stores that have a file-based storage model. It includes Azure Blob Storage, File Storage, FTP servers, etc.

Some non-file-based stores include Azure SQL, SQL server, Azure SQL Data Warehouse etc.

Hope this helps.

[2019-06-24 06:31] Joostul opened #33834 "Broken link to SQL query in next steps"
The link to https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-sql-query in the first bullet in Next steps is broken and returns 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5108574a-cc34-22e6-1bf8-9ea50264ea4f
* Version Independent ID: 29d8f8d8-3e26-a10e-0893-a507456b3477
* Content: [SQL query metrics for

[2019-06-24 06:40] gsartzetakis commented on #33678
OK, thanks for the feedback!

[2019-06-24 06:43] PramodValavala-MSFT commented on #33576
@ashkansirous Just following up here... Hope my previous comment help.

[2019-06-24 06:44] RohitMungi-MSFT commented on #33789
@kenakamu Could you please confirm if you are using azure [notebooks](notebooks.azure.com) and if your project folders and timestamps show the current values? For example as seen in this screen shot.

![image](https://user-images.githubusercontent.com/46958063/59997055-851d2600-9679-11e9-81b8-0c6fabd8307e.png)

The error you received might be because your notebook VM or server might not be having

[2019-06-24 06:48] LeeHyeongWon opened #33835 "There have been two same messages on IoT Edge Module."
The same message came into my module twice.

When I checked the log on edgeHub, I sent a message once, but when I checked my module log, I could see that the message came in once more.

It doesn't matter much that the message came in twice, but it takes too long for the first message to come in and the duplicate message to come in.

No matter how you've searched like me couldn't find a man whose p

[2019-06-24 06:52] AmanGarg-MSFT commented on #33713
@OzBob The contact email is added to the page now.

[2019-06-24 07:02] kikawash opened #33836 "Please clarify what service is included in "Other Office 365 Online services""
"Other Office 365 Online services" in the table is unclear. Could you specify names which are included in BGP community "12076:5200"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b29b475d-056b-ba43-5309-dd1ee50b4318
* Version Independent ID: 55d5f203-32ef-40a1-62fa-83e8c81cdb14
* Content: [Routing requirements - Expr

[2019-06-24 07:04] artfulhacker commented on #33157
Same issue here.

[2019-06-24 07:09] ashkansirous commented on #33576
Hi PramodValavala,
Thanks for the answer. I think we need a good example for this.
Let's say I have a servicebus triggered function and I am passing the correlationId as a property of the message. I assume it would have a different value than the invocationId:
"Provides the invocation ID, uniquely identifying the current invocation"
How do I set invocation ID to be my message.CorrelationId even be

[2019-06-24 07:16] ManojReddy-MSFT commented on #33795
@googol13 I am assigning this to the author to validate this from the PG and update the doc accordingly.

[2019-06-24 07:17] AmanGarg-MSFT commented on #33818
@tkumark I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-06-24 07:24] ashkansirous commented on #33576
Also, I don't think invocationId is the right field because it should be the one showing the current invocation.
Let's say I have set correlationId='xx1' when I have received a request and passed it down to my service bus on the message. Then my function tries to process the message and it failes the first 2 times but succeeds the 3rd time. I should be able to log it like this:

Api:
Request xx1 s

[2019-06-24 07:26] xyfoo opened #33838 "Installation method doesn't support Baidu Cloud Push, but Registration method do."
This should be highlighted in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1fe12c8b-5f7b-be6f-9db0-1009a27ceef8
* Version Independent ID: 5bb28d30-3240-7354-9f58-e9e51da7f3ae
* Content: [Registration Management](https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-push-notific

[2019-06-24 07:40] dhhuang opened #33839 "Can we do the user identity management and authentication ourself in our SAAS system"
Hi Azure document writers,
We are developing our SAAS on Azure these days, we encounterd one issue as below:
In the chapter "Offer setup" -&gt; "Sell through Microsoft" -&gt; "SaaS Offer Requirements",
The first requirement "Your offer must use Azure Active Directory (Azure AD) for identity management and authentication",
what's this mean, as we have already develpoed a customer management system,

[2019-06-24 07:41] asgang commented on #19277
#please-close      this is fixed, please check the link

[2019-06-24 07:41] #19277 closed

[2019-06-24 07:46] asgang commented on #19904
thanks for the feedback. I have fixed it in the docs https://github.com/MicrosoftDocs/azure-docs-pr/pull/80370

[2019-06-24 07:47] asgang commented on #19904
#please-close

[2019-06-24 07:47] #19904 closed

[2019-06-24 07:50] asgang commented on #29042
thanks for the feedback. I am fixing the document

[2019-06-24 07:51] ManojReddy-MSFT commented on #33797
@kgopi05 Can you please elaborate a little bit more? You need access to the keys only if you are retrieving them in the VM. Were you getting any error trying to get secrets when you did not give the permissions to the keys?

Can you provide the steps you followed so that I can reproduce this?

[2019-06-24 07:53] AjayKumar-MSFT commented on #33838
@xyfoo, Thank you for posting the question and sharing your feedback.

As mentioned in the [document](https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-baidu-china-android-notifications-get-started) - Baidu cloud push is a Chinese cloud service that you can use to send push notifications to mobile devices.

As Google Play and FCM (Firebase Cloud Messaging) are not availabl

[2019-06-24 07:56] ManojReddy-MSFT commented on #33808
@msfcolombo The following [doc ](https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens#claims-in-access-tokens)has a list of the all the JWT identifiers sent in the payload of Azure AD token.

Let me know if this is the list you are looking for?

[2019-06-24 08:00] konrad79 opened #33840 "Subfolders not working"
If I put an index.html into a subfolder like $web/subfolder1 I can access it, but relative links within this html page doesn't work (e.g. cannot load a mycss.css from $wbe/subfolder1/css)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcd3f99a-f522-6edb-6d39-eac1bb917956
* Version Independent ID: 69e9c1e5-8deb-8092-46f

[2019-06-24 08:05] MohitVerma-MSFT commented on #33840
@konrad79  Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-24 08:08] MohitVerma-MSFT commented on #33836
@kikawash Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-24 08:10] MohitVerma-MSFT commented on #33834
@Joostul Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-24 08:11] KrishnaG-MSFT commented on #33660
Unable to resolve @tonguyen - adding @Erikre for visibility and confirmation

[2019-06-24 08:16] jmprieur commented on #32453
@nelfer : you might want you Ajax method to pass an access token (or an id token since this is the same project) as an Authentication header. This will enable the controller to understand that your call is authenticated.

[2019-06-24 08:22] PramodValavala-MSFT commented on #33576
@ashkansirous Indeed. For a single function run, `InvocationId` will do the trick, especially if you'd want to trace requests from a particular invocation of your function to other services.

**_But_** for tracking the actions related to a single message (queue or service bus), then you would need a user-defined property like you've mentioned that could be used for tracing instead.

As for an exam

[2019-06-24 08:35] msfcolombo commented on #33808
That one shows only short names. I need the mapping between the claim spec URI (`http://schemas/etc`) and the short name.

[2019-06-24 08:50] archmangler commented on #33821
Hi @MicahMcKittrick-MSFT  , as below:

https://docs.microsoft.com/en-us/azure/aks/configure-kubenet

Particularly, I believe the documentation should reflect two scenarios for this case:

- Configuring UDRs for AKS inter-node routing with a freshly deployed cluster deployed into a new subnet
- Configuring UDRs for AKS inter-node routing with a freshly deployed cluster deployed into a pre-existing

[2019-06-24 08:53] angoyal-msft commented on #33197
@razvansalajan Thanks for your patience. I have discussed internally and scenario of not having the metric would not happen. So you can use existing PreAggregate type.

Hope this helps. Please let us know if you still need more information.

[2019-06-24 09:02] prabhakarreddy1234 opened #33841 "Common Alert schema for Budget alerts is missing"
Can't find common schema for azure budget alerts.

I find a schema in below link but not sure if it's common schema.

https://docs.microsoft.com/en-us/azure/billing/billing-cost-management-budget-scenario#create-an-azure-logic-app-for-orchestration

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81ec8d74-7b0a-a943-b1b4-

[2019-06-24 09:02] jfalameda commented on #33629
Thanks Peter,

Is it possible to debug C# remotely via the network? Without attaching
directly to the process?

Kind regards,
/ José.

El sáb., 22 jun. 2019 a las 0:43, Peter Pogorski (<notifications@github.com>)
escribió:

[2019-06-24 09:02] AmanGarg-MSFT commented on #32192
@amrelbakry Can you try copying the 201-web-app-redis-cache-sql-database folder to your personal repo with fewer ARM templates and then try again?

[2019-06-24 09:03] RohitMungi-MSFT commented on #33833
@tamitarai Thanks for pointing this out. We have raised a PR [80372](https://github.com/MicrosoftDocs/azure-docs-pr/pull/80372) to fix the documentation. The change should be updated in the next 24 hours.

[2019-06-24 09:13] robotwyatt commented on #33595
Thank you Mike.

[2019-06-24 09:27] aasis21 opened #33842 "How is CTR calculated from logged data?"
Can you please give more details about how is the CTR calculated from the data that is logged?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d15016b-314c-5757-2ea0-76bd04cf87c6
* Version Independent ID: bc6c02ee-9770-7af5-e496-34e5ef8d0865
* Content: [implement search traffic analytics - Azure Search](https://docs.mi

[2019-06-24 09:36] Aculeo commented on #5111
I have an app registration with `acceptMappedClaims` set to `true`, I authenticate against it and I'm still getting:

[code]

Am I missing something? And when is the documentation going to get updated, it's been over a year and there is still no mention of `acceptMappedClaims`.

[2019-06-24 09:40] mwijsman76 commented on #33674
@msrini-MSFT Deployed for the second time and now provision state is Succeeded. Is this a timing issue? Deployment was not finished?

[2019-06-24 09:43] msrini-MSFT commented on #33674
@mwijsman76 , we are aware of this issue and the backend call gets timed out when the deployment was initiated. So, redeploy would fix the issue as of now. When the product is GA you will get better experience on deployment

[2019-06-24 10:17] CHEEKATLAPRADEEP-MSFT commented on #33785
@joshzngf That it can take up to an hour for log data to appear in the blobs in the container because the frequency at which the storage service flushes the log writers.

The number of partitions is specified at creation and must be between 2 and 32. The partition count is not changeable, so you should consider long-term scale when setting partition count. Partitions are a data organization mechan

[2019-06-24 10:20] saketmodi commented on #30062
@galiniliev - When I set the policy as demonstrated in the example, it works fine when called from the azure portal's "Test" tab. However, when I hit the API management endpoint externally or even from the developer portal, I get a 401 Unauthorized.

Does the following trace make sense?

When I test from the azure portal "Test" Tab, I see the following in the traces:

authentication-managed-identi

[2019-06-24 11:00] sergaz-msft commented on #33602
Hello @smoms, IoT Edge Device Twin should be treated as a normal Device Twin with the difference being that iotEdge capability is set to true:

`"capabilities": {
    "iotEdge": true
  }`

For example, on an IoT Edge deployment the target condition interacts with tags defined on IoT Edge Device Twin. See [here](https://docs.microsoft.com/en-us/azure/iot-edge/iot-edge-glossary#iot-edge-target-condi

[2019-06-24 11:00] sergaz-msft commented on #33602
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-24 11:00] #33602 closed

[2019-06-24 11:08] morshabi commented on #33203
The Power BI record is in our backlog, but we do not have specific ETA yet.

[2019-06-24 11:19] kgopi05 commented on #33797
Hi,
I have provisioned the VM with System Managed identity and try to access the Key Valuts secrets
as per the document , however , i'm got Access denied message , Raised the Microsoft case # 119061725000540 and as per the Engineer advise along with secrets management permission i have given Key (Get+List) permissions and then able to retrieve the secrets .

[2019-06-24 11:20] DrReedo commented on #33584
Thanks all, it is much clearer now.

[2019-06-24 11:35] SubhashVasarapu-MSFT commented on #33810
@artfulhacker, You can attach existing rules to WAF policy using this command,
[code]
and you can even update the web application firewall configuration of the application gateway with this command
[code]
These should help in updating the custom rules.

[2019-06-24 11:50] MohitVerma-MSFT commented on #33835
@LeeHyeongWon Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2019-06-24 11:52] MohitVerma-MSFT commented on #33842
@aasis21 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-24 11:55] MohitVerma-MSFT commented on #33841
@prabhakarreddy1234 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-24 11:59] jakaruna-MSFT commented on #33464
@psbds I will close this issue here. I have created an issue in Azure cli on your behalf.

[2019-06-24 11:59] #33464 closed

[2019-06-24 12:08] MohitVerma-MSFT commented on #33839
@dhhuang Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-24 12:15] Skyscalesystems commented on #33565
Thanks for getting back, Glad it was resolved at your end.
My situation remains same, Could you please be available do screen sharing
to get my issue resolved.
Looking forward,
Ravikumar.

<https://www.avast.com/en-in/recommend?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=default3&tag=a5ba15ab-d07b-4818-972c-06306ef8163c>
I’m
protected online with Avast Free

[2019-06-24 12:15] Skyscalesystems commented on #33565
You sent Thanks for getting back, Glad it was resolved at your end. My situation remains same, Could you please be available do screen sharing to get my issue resolved. Looking forward, Ravikumar.

[https://ipmcdn.avast.com/images/icons/icon-envelope-tick-round-orange-animated-no-repeat-v1.gif]https://www.avast.com/en-in/recommend?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content

[2019-06-24 12:20] jmprieur commented on #33735
@axthosarouris: I suggest you have a look at https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2

[2019-06-24 12:23] asrServer opened #33843 "Using a static IP address from another resouce group"
It would have saved me over two hours of my life if the helm command had described this feature of the helm chart:

    --set controller.service.annotations."service\.beta\.kubernetes\.io/azure-load-balancer-resource-group"=myResouceGroup

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd0e7d5a-37e9-07dc-f395-9cb5bb580e

[2019-06-24 12:30] jakaruna-MSFT commented on #33813
@jitendra-25 Account type option is moved to Size.
Click on the `change Size`  , Then select the account type on thew right side.
![image](https://user-images.githubusercontent.com/43405697/60018810-e1983980-96a9-11e9-8bdf-443ed6082bd9.png)
We will update the document as per the new UI

Try this out and let me know

[2019-06-24 12:37] MohitVerma-MSFT commented on #33843
@asrServer Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-24 12:43] gxs54 commented on #33692
Unfortunately, the instructions to run npm install doesn't help me (which I
realize is because I'm new to javascript and using the azure portal).  I am
doing all of my developing in the azure portal, so I don't have a
package.json file for Kudu to access when running npm install.  How do I
generate the package.json file?

Is there a better set of guides that cover these sorts of details?  I am
con

[2019-06-24 12:44] chrisetler opened #33844 "Cannot integrate with backend systems that require an Authorization header"
Based on these instructions as well as the testing I've done, it seems like the App Proxy requires the bearer access token acquired in these steps to be placed in the Authorization header rather than the Proxy-Authorization header. Because of this we cannot integrate with backend apis that require their own Authorization header to be consumed. Am I doing something wrong or is there a workaround to

[2019-06-24 12:50] MohitVerma-MSFT commented on #33844
@chrisetler Thank you for your feedback! We will review and provide an update as appropriate.

[2019-06-24 12:50] modelolito commented on #33628
Same issue. Azure spatial anchor works on ios but i have DllNotFoundException: azurespatialanchorsndk on android  .

[2019-06-24 12:51] Anmolgan81 commented on #20444
any updates on this?

[2019-06-24 12:54] ffais commented on #33770
I have the same problem.

Command:
`az aks create \
    --resource-group myResourceGroup \
    --name myAKSCluster \
    --enable-vmss \
    --node-count 2 \
    --node-vm-size Standard_D4s_v3 \
    --location westeurope \
    --ssh-key-value /key/path \
    --kubernetes-version 1.13.5`

Error:

`Unable to load extension 'aks-preview'. Use --debug for more information.
az: error: unrecognized argu

[2019-06-24 12:56] martinjosephogorman opened #33845 "Log Analytics Saved Search Schedules and Azure Monitor"
With Alerts moving over to Azure Monitor is the above example still valid?  Do you have an example of using Management Solution with Azure Monitor alerts and is this possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61973322-29e9-e093-a0de-4d5f0fb7bdd5
* Version Independent ID: de7de6e3-d632-71d9-7c24-03f9cdc604

[2019-06-24 13:05] dcurwin commented on #30559
The document has been updated:

https://docs.microsoft.com/en-us/azure/backup/backup-azure-log-analytics-data-model

Please close.

[2019-06-24 13:12] jsandersrocks opened #33846 "App Service Domains"
add information about app service domain moves.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move Azure resources to new subscription or resource group](https://docs.microsoft.com/en-us/azure/azure-resource

[2019-06-24 13:14] modelolito commented on #33628
Hi, in my case I found the issue, it's just because I put internal in Build System whereas we need to put gradle.

[2019-06-24 13:18] robmacf commented on #33744
Hi Frank, thank you for the followup. A Federated deployment is a different type of hybrid deployment. A Federated deployment does not use Password Hash Sync, nor does it use pass-thru authentication. In a Federated deployment, all authentication is performed by AD FS. This is why Azure AD Smart Lockout doesn’t work for a Federated deployment. Customers who have a federated deployment need to be p

[2019-06-24 13:21] PramodValavala-MSFT commented on #33775
@rjosephp The .NET SDK has a [MessagePump](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/servicebus/Microsoft.Azure.ServiceBus/src/MessageReceivePump.cs) which polls for messages. The underlying connection however uses AMQP by default in the .NET Standard SDK. This is common for Queue, Topic and Subscription clients.

Also, note that this connection counts towards the brokered connect

[2019-06-24 13:25] kgopi05 opened #33847 "Unable to edit the variables after deploying the Solution"
Hi,

I need to exclude the VM's for this solution and trying to edit External_ExcludeVMNames variable , im not getting any option to edit .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 225c9d05-83dd-b006-0025-3753f5ab25bf
* Version Independent ID: 9eecef0c-b1cb-1136-faf7-542214492096
* Content: [Start/Stop VMs during

[2019-06-24 13:27] PingPongSet opened #33848 "Shared access signature support with Azure Service Bus trigger input/output for Azure Functions 2"
Do Azure Service Bus trigger input and output support shared access signature (SAS) with Azure Functions 2?

https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-sas
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0

[2019-06-24 13:32] PramodValavala-MSFT commented on #33485
@ToMakeSense This has now been fixed.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-06-24 13:32] #33485 closed

[2019-06-24 13:46] jjindrich opened #33850 "Custom DNS on vnet"
I tried to deploy to vnet with custom DNS server settings. Deployment failed. is it supported scenario in Preview ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03ec4426-bfc1-b046-500d-38b2ca89c71d
* Version Independent ID: cdacb6c7-1d83-c62b-9204-f04d9955722c
* Content: [Azure Bastion FAQ](https://docs.microsoft.com

[2019-06-24 13:46] dcurwin commented on #33223
Please assign to @pvrk

[2019-06-24 13:47] jjindrich opened #33851 "Deployment in Hub network"
Hi, we have Azure reference architecture Hub & Spoke. Can I deploy Bastion in Hub network and access VM in spoke networks ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03ec4426-bfc1-b046-500d-38b2ca89c71d
* Version Independent ID: cdacb6c7-1d83-c62b-9204-f04d9955722c
* Content: [Azure Bastion FAQ](https://docs.micro

[2019-06-24 13:48] danmyhre commented on #18669
@MicrosoftGuyJFlo - any update on this?

[2019-06-24 13:50] shashishailaj commented on #33168
I am unable to get a conclusive result for this and hence as per my test this would require additional troubleshooting . Please send us an email at azcommunity[at]microsoft[dot]com with your azure subscription ID and we will help you with alternate support options. We will close this issue now. We would request you to contact us on the mentioned email to continue the conversation further.

Thank y

[2019-06-24 13:50] #33168 closed

[2019-06-24 13:58] shashishailaj commented on #33424
@dips23 No dipti , your understanding that the synchronization tool AAD connect only synchronizes objects inside Active directory . like users devices etc. It does not synchronize SQL database or emails from exchange server.

In the following picture the connecting arrows from Identity Management represent signle-sign on to all the seperate systems. the Identity management label in the middle does

[2019-06-24 13:58] #33424 closed

[2019-06-24 13:59] oguennec opened #33853 "AADSTS901002 is missing"
AADSTS901002 is missing. I am getting this error trying to authorise a user with Azure OpenID.

**Error details:**
AADSTS901002: The 'resource' request parameter is not supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a826ee6f-f457-7109-9f77-67c57977d4e7
* Version Independent ID: 11766f27-492e-a579-dced-8a4252

[2019-06-24 14:05] shashishailaj commented on #21911
@dan-jackson-github Could you please send us an email at azcommunity[at]microsoft[dot]com along with your azure subscription ID and we will help you with alternative support options for this issue.

@johndowns We checked this and found that this requires additional deeper troubleshooting and would request you to send us an email at azcommunity[at]microsoft[dot]com along with your azure subscriptio

[2019-06-24 14:14] CeciAc opened #33854 "[ADD AZURE REPLICA] DONT APPEARS"
@mmgil commented on [Sat Jun 22 2019](https://github.com/MicrosoftDocs/azure-docs.pt-br/issues/409)

I'm using SQL Server 2017 and "Add Azure Replica" dont appears in my wizard...

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: 0e8e9cf2-a018-4898-cee7-0943804bb4fa
* Version Independent ID: 571a7f39-3274-7b

[2019-06-24 14:15] bhummerstone commented on #33673
Apologies: missed this notification. The link is here: https://docs.microsoft.com/en-us/azure/aks/configure-azure-cni#configure-networking---portal

[2019-06-24 14:16] CeciAc commented on #33854
Hi team,
the user reports the tutorial may not be updated
best

[2019-06-24 14:17] nnamedieh opened #33855 "Update explanation of available service tags"
Hi all,
I was just about to add the service tag "sql" to my NSG when I saw a new one called "sqlmanagement". What's that for? I can't find anything in this documentation about this new service tag. I would be happy if you could update your documentation.
Thank you! Yours sincerely, Daniel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-06-24 14:19] HarrisburgUSysAdmin opened #33856 "Step two is incorrect. There is no checkbox, this is now a drop down box."
Step two is incorrect.  There is no checkbox, this is now a drop down box.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5699f56d-758d-e3c2-cd44-571f9364dfef
* Version Independent ID: 91ec729c-9ffd-a705-c03f-3608e01ce83a
* Content: [Add your work or school account to the Microsoft Authenticator app - Azure Active Dire

[2019-06-24 14:21] cradle77 commented on #21911
Hello @shashishailaj, we have the same issue.

We run `New-AzureADServiceAppRoleAssignment`, it fails with a 403-Forbidden, but the MSI gets actually assigned the role.

Following times we get a 400 Bad Request (but I guess that's because the role already exists).

That being said, may I ask why are you closing the issue if it's still there and requires further digging? :)

[2019-06-24 14:29] shashishailaj commented on #33472
@dkoleary88 We are trying to find this information internally and will update this thread accordingly.