[2018-05-28 03:18] scarson commented on #9270
![image](https://user-images.githubusercontent.com/9357767/40595695-1024e310-61eb-11e8-9333-d7a4ea02c204.png)

[2018-05-28 03:29] genlin commented on #9173
@masters3d  You can find the guidance in [Manage Role-Based Access Control with the REST API](https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-rest). Hope this helps.

[2018-05-28 03:58] Fahad0987 opened #9271 "Saudi Aurab"
Goood

---
#### تفاصيل المستند

⚠ *تجنب تحرير هذا القسم. مطلوب لـ docs.microsoft.com ➟ ربط مشكلة GitHub.*

* ID: d23565fb-ccc9-42fc-6bde-f999d92fc762
* Version Independent ID: 60c86bac-f951-8181-793b-34018f4a76ea
* Content: [Microsoft sigin-in experience updates](https://docs.microsoft.com/ar-sa/azure/multi-factor-authentication/end-user/sign-in-experience-updates)
* Content Source: [articles/mult

[2018-05-28 04:16] jakedenyer opened #9272 "Insecure SHA1"
Please update this article to not use the insecure SHA1 algorithm. You cannot even access the web portal if you follow this security guide with any modern browser.

Also, Makecert.exe has been deprecated as well. Please update using the PowerShell method with New-SelfSignedCertificate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2018-05-28 04:35] jeevansd commented on #9264
@andrew-best-diaxion Yes, we support up to version 7.8 We forgot to update the version in the section. We will get this done. We have not tested the plugin on 7.9 yet but we will get that done.

[2018-05-28 04:46] MightyPen commented on #9117
The EA (_Enterprise Agreement_) link in question is:
https://ea.azure.com/helpdocs/associateExistingAccount ,
and in the article the link is visibly labeled as:
'Associate an Existing Account'
.
But this is not my area.

[2018-05-28 05:08] kazshi commented on #9033
Thank you, Saurabh.
Now I think I understood what it means, I provided the info to the customer. I would expect the explanation would be described in somewhere.

[2018-05-28 05:08] #9033 closed

[2018-05-28 05:34] VuPhong opened #9273 "Please update availability for storage events"
From two links below, I assume the availability for blob storage event subscriptions has been expanded. Please update to prevent confusion. Thank you.
https://docs.microsoft.com/en-us/azure/event-grid/overview
Currently, Event Grid supports the following regions:

Asia Southeast
Asia East
Australia East
Australia Southeast
Central US
East US
East US 2
Europe West
Europe North
Japan East
Japan West

[2018-05-28 06:23] jeromeecho opened #9275 "mistype format may lead to confusion."
sequence number is not correct in the description of the figure X ,  duplicated number 1 and 2, missing number 3 and 4.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5968ffa4-2de8-18b8-e195-53ce6a5f650e
* Version Independent ID: ebb6259a-9289-fcdc-135e-40092067f719
* Content: [Hybrid identity design - data protection

[2018-05-28 07:06] harvgall opened #9276 "U"
H

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79604501-4e57-c776-6117-82d15c9ebb34
* Version Independent ID: fc6e660a-0180-98b5-c53a-30e57507a707
* Content: [Manage your two-step verification settings](https://docs.microsoft.com/en-us/azure/multi-factor-authentication/end-user/multi-factor-authentication-end-user-ma

[2018-05-28 07:33] JuergenKosel opened #9278 "Please describe how the sample code finds the generated x509 certificate"
Hello,

in the sample description, you wrote that running `provisioning_client/tools/dice_device_enrollment/dice_device_enrollment`
outputs 2 certificates.
Unfortunately it is not described what are these certificates?
I guess, it should be the public certificate of the device to register.
In the following steps, running `provisioning_client/samples/prov_dev_client_sample/prov_dev_client_sample` s

[2018-05-28 07:49] VitorX opened #9279 "The link for <specification> in the document is broken."
The correct should be 'https://trustedcomputinggroup.org/work-groups/trusted-platform-module/' instead of 'https://docs.microsoft.com/en-us/azure/iot-dps/(https://trustedcomputinggroup.org/work-groups/trusted-platform-module/)'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd8ddf46-09f2-cc99-4e95-e6c834edcc46
* Versio

[2018-05-28 08:26] genlin commented on #9117
Thanks @MightyPen. The url is correct.  But we have to sign into EA portal before we can access the link.  I have forwarded this feedback to product team.

#please-close

[2018-05-28 08:42] LarrikinAussie opened #9280 "Sign-in sequence to access Microsoft Outlook accounts."
I cannot understand why Microsoft hasn't come up to speed with their sign-in sequence for their email products.   Hotmail has always been a reliable email service and it continues in Outlook.   However, I was having to type out, the name of my account in 1997 and I'm still doing it in 2018.    Whereas, if I had the same account in gmail, when I clicked on the email page, my account would be there

[2018-05-28 09:04] oavioz opened #9281 "mysql.az_replication_xxx does not exist"
Hi,

Where i can find all mysql.az_replication_xxx stored procedures? should i need to create the on my local(On-prem)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 261311a4-69ae-3bb8-7271-f8f8bd81ec38
* Version Independent ID: 2fe7e95b-c316-ed88-4f7d-ad8e6463c952
* Content: [Configure Data-in Replication to replicat

[2018-05-28 09:13] fajanssen opened #9282 "cloud-init documentation for ARM Templates"
Hello there,

in the documentation for cloud-init and Azure-CLI there is mentioned, that you can also use cloud-init with ARM Templates.

The problem is i can not find any documentation or examples on using cloud-init in ARM Templates and there is no link provided in the section where it is mentioned.

Is there any documentation on how to use a cloud-init file in ARM Templates?

Greetings Fabian

[2018-05-28 09:27] wernerstinckens commented on #5506
The documentation above is lacking a few lines of code.
If you look at
https://github.com/Azure/Machine-Learning-Operationalization/blob/master/samples/python/code/iris/iris_train.py
you can see first a 'clf1' is built, which is the model (so it is 'clf' in the example above).
Next, the model gets pickled to a local file named 'model.pkl'
And finally this local file gets loaded into 'clf2'.
That i

[2018-05-28 09:32] farislivemaker opened #9283 "How to use Volley or retrofit for sending binary data instead of Asyntask"
In above example you have used Asyn task for sending binary data, Is there any options for sending binary data using Volley or retrofit.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 751ccff2-59c4-e2e4-8a64-d90b195c89ac
* Version Independent ID: 6c696aa8-9226-737e-94fe-1f0697e88038
* Content: [Face API Java for Androi

[2018-05-28 11:24] Abhijitk914 opened #9285 "Using Azure MSI can we create resource in cross subscription ?"
Hello Team ,

Using Azure MSI i want to create multiple resources in cross subscription. is that possible ?

Or do you have anyother way for the same ?

[2018-05-28 11:55] #9254 closed

[2018-05-28 13:07] tusharjambhekar opened #9286 "Very helpful article"
Very helpful article for beginners also. I was searching this article on blogs but found here at MS-Azure KB.

I have configured P2S very easily refer this article.
I want to know is it possible to configure the ASR (VMware VM) for my test P2S network failover and failback.

Thanks,
Tushar

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-05-28 13:49] spottedmahn opened #9287 "Switch Directory Screenshot is Out of Date"
The portal UI has changed...  not a problem for people w/ experience but could be confusing to a beginner IMO.

![image](https://user-images.githubusercontent.com/14079228/40617544-9d4b8444-625c-11e8-908a-1263b21d393a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 670bf490-966b-e72e-ab6c-1d189f9a1f58
* Version Ind

[2018-05-28 14:13] jotheman03 commented on #7974
Nice, I appreciate you taking my feedback into account ☺

Met vriendelijke groeten / Kind regards / Mit freundlichen Grüßen,

Jop Gommans
Consultant
[cid:image001.jpg@01D3F69E.C1D12050]

J.Gommans@itsn.nl

[cid:image002.jpg@01D3F69E.C1D12050]  +31 888 111111
[cid:image003.jpg@01D3F69E.C1D12050]  +31 77 3821933
[cid:image004.jpg@01D3F69E.C1D12050]  +31 6 11091186

Sint Jansweg 15 | 5928 RC | Venlo

[2018-05-28 14:21] SaurabhSharma-MSFT commented on #9034
@dendave  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-28 14:21] #9034 closed

[2018-05-28 14:27] vincepower opened #9288 "Missing upload option that is in PowerShell"
I would like to upload a VHD to create a specialized VM. I do not have a Windows client so having the Portal page end with the following line makes my life difficult as I know it can be done in the Portal or via the CLI, I just don't know how.
"You can also use PowerShell to upload a VHD to Azure and create a specialized VM." ... ugh

---
#### Document Details

⚠ *Do not edit this section. It is r

[2018-05-28 14:42] githubavi opened #9289 ".NET client for "Event Hubs for Kafka""
Can you provide any example for classic .NET or .NET core application?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd1ea4ea-2221-3a5e-5a78-ba94596305d8
* Version Independent ID: eeddad65-1e80-1ff9-ffbc-3e5730265a1f
* Content: [Stream into Azure Event Hubs for Kafka Ecosystem](https://docs.microsoft.com/en-gb/azure/e

[2018-05-28 14:45] megadix commented on #9257
**Update**

I tried pushing from another network, which has far more upload capacity than my home DSL, it worked without problems.
Is it possible that a slow upload link can lead to timeouts? (just speculation)

Thanks,
Dimitri

[2018-05-28 15:19] toanyonebutyou commented on #5872
I stumbled across this when facing the same issue. Hybrid Azure AD is already setup in the environment and can confirm it is working for most machines. I have a couple problem computer objects that upon domain join did not receive the userCertificate attribute. These machines of course are not being synced up.

I have tried Initial Syncs, confirmed connectivity, even removed the machine from the d

[2018-05-28 15:27] toanyonebutyou opened #9290 "UserCertificate"
As a prereq you need to sync your device objects, this relies on the UserCertificate attribute to be populated in newer versions of AAD Connect. What do we do when an object does not have that attribute populated but should be joined? What if it is a server object with a critical workload but you still want to apply a hybrid joined conditional access statement to it?

I have a few objects in my AD

[2018-05-28 15:28] dendave commented on #9034
Hi,
As per this article: https://products.office.com/en-us/business/microsoft-office-license-restrictions

Cuba, Iran, Democratic People’s Republic of Korea, Sudan, and Syria

[2018-05-28 15:31] SaurabhSharma-MSFT commented on #9259
@limjianan Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-28 15:36] tyrotoxin commented on #8959
@banisadr, @tfitzmac, honestly, I don't use it, just wanted to point that out while was reading the documentation.

[2018-05-28 16:38] wesmc7777 commented on #8909
Yes. From client’s perspective, you don’t need to “detect sa is down”, you only see there is something wrong with the connection and it’s disconnected by the service. Then you need to do a reconnect to get your connection back to normal. Disconnect/reconnect is normal is websocket scenario because there is always a chance for connection to be interrupted due to some network issues. So handling rec

[2018-05-28 16:48] SaurabhSharma-MSFT commented on #9263
@andrew-best-diaxion Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-28 16:51] SaurabhSharma-MSFT commented on #9268
@karataliu Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-05-28 16:57] SaurabhSharma-MSFT commented on #9269
@scarson Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-05-28 17:01] SaurabhSharma-MSFT commented on #9270
@scarson Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-05-28 17:06] MeitziQ opened #9291 "Translate"
Translations are terrible.
They are just machine translate and wrong. Camon, its not that many words.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d23565fb-ccc9-42fc-6bde-f999d92fc762
* Version Independent ID: 60c86bac-f951-8181-793b-34018f4a76ea
* Content: [Microsoft sigin-in experience updates](https://docs.microso

[2018-05-28 17:06] SaurabhSharma-MSFT commented on #9275
@jeromeecho Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-28 17:09] SaurabhSharma-MSFT commented on #9276
@harvgall Can you please provide details of your ask.

[2018-05-28 17:45] GeekActual opened #9292 "Completely and totally out of date"
Screen shots are wrong, the options are wrong and following the first step "create your project" does not create the boilerplate c# class. Completely useless as a starting point.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e88ea08-81ef-2b5a-b9d6-539e85592672
* Version Independent ID: f2d8b7b4-906a-d1f5-5201-fc22a78

[2018-05-28 18:20] mike-urnun-msft commented on #9285
@Abhijitk914 Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2018-05-28 18:20] ggailey777 commented on #9292
@GeekActual thanks for the feedback. We are in the process of updating this topic now, and you should see updates in a week or so. My apologies for the bad experience.

[2018-05-28 18:27] sistoimenov opened #9293 "Missing links"
The links in "Deploy to Azure" in the first two sections are not working. It seems the template is removed...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c35122b0-871e-12d4-6473-974a2124c17a
* Version Independent ID: f2087c02-f7a6-5727-140e-f21a776bc48a
* Content: [Assess Service Fabric applications with Log Analyti

[2018-05-28 18:29] mike-urnun-msft commented on #9283
@farislivemaker Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2018-05-28 18:36] mike-urnun-msft commented on #9261
@markmassad Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-05-28 18:40] mike-urnun-msft commented on #9282
@fajanssen Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-05-28 18:44] mike-urnun-msft commented on #9288
@vincepower Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-05-28 18:47] mike-urnun-msft commented on #9289
@githubavi Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2018-05-28 18:49] mike-urnun-msft commented on #9272
@jakedenyer Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-05-28 18:51] mike-urnun-msft commented on #9281
@oavioz Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-05-28 18:54] mike-urnun-msft commented on #9278
@JuergenKosel Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-05-28 18:55] mike-urnun-msft commented on #9279
@VitorX Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-05-28 18:57] mike-urnun-msft commented on #9266
@bingosummer Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-05-28 18:59] mike-urnun-msft commented on #9286
@tusharjambhekar Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-05-28 19:05] mike-urnun-msft commented on #9280
@LarrikinAussie Thank you for your feedback! We will review and get back to you with the relevant info.

[2018-05-28 19:13] mike-urnun-msft commented on #9290
@toanyonebutyou Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-05-28 19:18] mike-urnun-msft commented on #9291
@MeitziQ Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-05-28 19:20] mike-urnun-msft commented on #9273
@VuPhong Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-05-28 19:45] #9117 closed

[2018-05-28 19:52] cephalin commented on #9230
https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1270696 created.

[2018-05-28 19:56] cephalin commented on #8660
@lorindavis I'm going to assume the issue is resolved. If not, please go ahead and reopen it. Thank you. #please-close

PS. I've also created a [doc update item](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1270697) based on your question.

[2018-05-28 19:58] cephalin commented on #8454
Tracking internally at https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1270698

[2018-05-28 20:01] cephalin commented on #8136
Tracking internally at https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1270699

[2018-05-28 20:16] jeremyhagan commented on #5872
Check the User Device Registration Event Log. The errors will be indicated in there. The machine wont generate the userCertificate until it is sure it can reach the device registration endpoint. Obviously the computer account has to be within the scope of replication (i.e. not in the wrong OU if you aren't syncing the whole domain) and the GPO telling it to join need to be not configured or enable

[2018-05-28 21:37] Jinnial commented on #9138
I can confirm that I am receiving the exact same error on version 60 on Mac. I can't even get the dashboard to load while using Firefox. For now I will use Chrome which is working, but will be keeping up to date to see if the Firefox bug gets fixed.

[2018-05-28 21:48] sumo786 commented on #8818
Snapshots are stored locally to boost recovery point creation and also to speed up restore. Therefore, you see storage costs that correspond to snapshots during the seven-day period.

is this not applicable to managed disk VM's backup? are there not extra cost of storage involved for managed disk VM.

can you please explain how and why.. just wanted to be sure before implementing

[2018-05-28 22:35] daniel012 opened #9297 "EventData interface"
I  cannot implement this solution due EventData is  an interface, not a calls so I cannot create an  EventData object.

Can I just implement this class in another class and that is it?

[2018-05-28 23:04] daniel012 opened #9298 "executorService object"
the   example  code  has  a  variable   called  executorService  this   variable   never  is  explained  and   and  it is required to  create   EventHubClient variable

[2018-05-28 23:20] shaunol opened #9299 "Powershell example for enabling MSI for a WebApp"
The Powershell API's are vast and don't follow convention from resource-to-resource (ie. the example for enabling MSI for a VM cannot be ported to WebApps). It would be great to have an example of how to this for a WebApp using Powershell. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a93ee241-6e6c-12c6-cb14-7

[2018-05-29 00:03] shaunol commented on #9299
I figured it out after browsing the azure-powershell github repo, this requires the latest AzureRM powershell module `Update-Module AzureRM`

[code]

This will take around 10 seconds and successfully enables the web app for MSI

[2018-05-29 00:13] BryanTrach-MSFT commented on #9271
@Fahad0987 Thank you for the feedback.

[2018-05-29 00:13] #9271 closed

[2018-05-29 00:54] cynthn commented on #9288
@vincepower Are you trying to upload a Windows or Linux specialized VHD? Just make sure you pre-install the Azure agent. I can send links along, but it is different for Windows vs Linux.

But, here is how to upload the VHD using the CLI: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/upload-vhd

[2018-05-29 01:06] peternield opened #9300 "Installing NPS Extension on server with limited access to the Internet"
Hi, is it possible to install the NPS extension on a server that has limited access to the Internet? In particular where nuget is blocked from downloading the Azure AD PowerShell Module.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a61a7e9a-44bf-7bdc-f810-87e2fd6792e1
* Version Independent ID: 71d11105-b83e-952e-d107

[2018-05-29 01:31] krishnav888 opened #9302 "Incorrect file name"
On line 2:
Open the src/main/java/com/microsoft/docs/iothub/samples/ReadDeviceToCloudMessages.java file in a text editor of your choice.

ReadDeviceToCloudMessages.java is referenced but the file name in the iot-hub\Quickstarts\back-end-application folder is BackEndApplication.java file. It should be BackEndApplication.java file.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2018-05-29 01:34] bingosummer commented on #8610
@lakasa How is it going?

[2018-05-29 01:35] bingosummer commented on #7710
@mattbriggs Any updates?

[2018-05-29 02:40] la-trejas commented on #8015
I am having a similar issue when trying to set the Keys to Auto Regenerate. My userPrincipalId Is allowed to create the AzureKeyVaultManagedStorageAccount but if I remove the -DisableAutoRegenerateKey flag the command fails with an "Operation returned an invalid status code 'Forbidden' error.

Any ideas of why my user would not be allowed to set the keys to AutoRegenerate?

[2018-05-29 03:13] SaurabhSharma-MSFT commented on #9300
@peternield Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-29 03:17] MicahMcKittrick-MSFT commented on #9119
@vinaykumar-rm if you just want to download the function the doc you referenced shows you how:

https://docs.microsoft.com/en-us/azure/azure-functions/deployment-zip-push#download-your-function-app-project

Then you could spin it up in a local function environment.

[2018-05-29 03:18] MicahMcKittrick-MSFT commented on #9121
Got it. @dlepow or @neilpeterson could either if you help on this one?

[2018-05-29 03:29] ravikiran-srini opened #9303 "Azure CLI"
In 'Send an event to your topic' section,
Getting error when you just use 'endpoint', 'key'. You need to use $endpoint, $key etc., as they are variables.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa9fcb9e-8d13-c4d1-a5d0-7eeb706c2b51
* Version Independent ID: 642cbcbe-ed7d-1181-fc9a-ee3538446996
* Content: [Custom

[2018-05-29 04:15] barbkess commented on #7105
@Kirbogd : Thanks for surfacing this issue.  I am out of the office this week, and will fix this when I return.

[2018-05-29 04:27] neilpeterson commented on #9238
@DaveAurionix - this is a good question. I hate to punt you to a different issues tracker, but would you mind raising this as an issue at this repo (AKS service issues tracker).

https://github.com/Azure/AKS

If you ping me on the issue, i will help track.

[2018-05-29 04:52] femsulu commented on #9297
@daniel012 Thanks for the comment. Please share the link to the solution you are referring to and we can help answer your question.

[2018-05-29 05:01] femsulu commented on #9298
@daniel012 Thanks for the comment. Please share the link to the solution you are referring to and we can help answer your question.

[2018-05-29 05:08] femsulu commented on #9302
@krishnav888 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-29 05:13] femsulu commented on #9303
@ravikiran-srini Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-29 05:18] femsulu commented on #9299
@shaunol Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-29 05:20] femsulu commented on #8660
@lorindavis We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-29 05:26] andrew-best-diaxion opened #9304 "Confluence 6.x"
Please advise when support for Confluence 6.x will be available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a45acbc6-caae-be6c-939e-55451831d03e
* Version Independent ID: 0d88f4ee-2ac5-1ad4-245b-b8c0752a7303
* Content: [Tutorial: Azure Active Directory integration with Confluence SAML SSO by Microsoft](https://docs

[2018-05-29 05:35] oavioz commented on #9281
Thanks Mike!

[2018-05-29 05:42] SnehaGunda commented on #8126
@NIVJAIN can you share the version of Node.js driver and version of Node.js that you are using and can you confirm if you have port 10255 is open on your firewall?

[2018-05-29 05:50] MohitGargMSFT commented on #8973
@cstainie We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-05-29 05:50] #8973 closed

[2018-05-29 05:51] MohitGargMSFT commented on #9153
@gramidt We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-05-29 05:51] #9153 closed

[2018-05-29 05:52] pedrr opened #9305 "Matching Criteria for users"
What is the matching criteria for the AAD App Proxy in Step 5 or 7?
The other way around, can you please clarify "A representation or “footprint” of the Fabrikam guest user object". Which attribute is used to match the Accounts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8e1cf65-2201-42ab-7513-de1833ad1c66
* Versi

[2018-05-29 06:00] MohitGargMSFT commented on #9232
@KjetilEVRY If you configured AD FS federation outside of AAD Connect , you'll want to stop what you're doing and go convert your federated domains to managed (Set-MsolDomainAuthentication or Convert-MsolDomainToStandard). Please note that as soon as you do this, users will be unable to log in until you complete the pass-through authentication setup.

Good reference blog - [Change from AD FS authe

[2018-05-29 06:14] perbergland commented on #7693
It seems to be coming soon to .NET core:

In dotnet/corefx#8807, David-Engel says "There is a separate issue specifically for AccessToken: #13660, It is the next thing we will be working on as soon as currently active work items are wrapped up" https://github.com/dotnet/corefx/issues/13660

[2018-05-29 06:19] CassiuxKlei opened #9306 "Password expiration policy reset not required anymore"
I just redeployed the ASDK to update 1804 and the password expiration is now set to 364 days by default. So there is no need to reset it to 180 days anymore

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be299a6e-e10b-ae65-a59d-e5730e33a54d
* Version Independent ID: 5e7e99e2-4d26-c869-fdd8-1012acc29604
* Content: [Post

[2018-05-29 06:19] MohitGargMSFT commented on #9256
@mahanpathak Please note that as mentioned in the document the value of redirect_uri parameter, in [Get an authorization code](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-oauth-code#1-get-an-authorization-code) section, is where authentication responses are sent and received by your app. It must exactly match one of the redirect URIs that you register

[2018-05-29 06:55] hadr10 commented on #9121
@neilpeterson I recreated the environment today and here are the logs:
kubectl describe hpa
Name:                                                  azure-vote-front
Namespace:                                             default
Labels:                                                <none>
Annotations:                                           <none>
CreationTimestamp:

[2018-05-29 06:59] SachinRanka opened #9308 "Restoration of 0365 Groups by Administrator"
Hi,
Under "Roles and Permissions" section, I believe Administrator role can also do restoration of O365 groups but in  the documentation above "Restore" is mentioned only under "User" role and not under "Administrator" role. Or is it true that since Administrator does not own the group he cannot do the "Restoration"? Please verify and correct it. Thanks.
[https://docs.microsoft.com/en-us/azure/act

[2018-05-29 07:09] SaurabhSharma-MSFT commented on #9123
@curtand Can you please help adding or correcting details in the documentation.  I tried setting up the logo and still I am not able to see that image on my login or Azure AD page.

[2018-05-29 08:40] Rachitgupta1994 commented on #8167
Hi. Is there any update on this?

[2018-05-29 08:41] gunzip opened #9311 "redis client with premium tier: must support clustering ?"
Documentation is somewhat confusing here. It states "At the present time not all clients support Redis clustering", then "You can connect to your cache using the same endpoints, ports, and keys that you use when connecting to a cache that does not have clustering enabled. Redis manages the clustering on the backend so you don't have to manage it from your client". So it's not clear if you *must* u

[2018-05-29 08:48] paulandrewkent opened #9312 "Where is the cmdlet?"
Hi,
I would like to run the Set-AzureRmSqlDatabaseBackupShortTermRetentionPolicy cmdlet but it is not listed in the available commands. I tried running this command from the Azure Cloudshell / powershell in the browser; so where do l get the cmdlet from?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9492cedc-ce

[2018-05-29 08:52] EelcoLos opened #9313 "One more requirement for the AKS screenshot"
though it is said in the text that the region must be eastus or canada, it might be handy to (for the time being) also put a red circle on the screenshot (kubernetes-create-cluster-2.png) as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a28fe6ff-a564-a867-2f1d-91197e74f22b
* Version Independent ID: 2119d269-d3e2

[2018-05-29 08:53] DaveAurionix commented on #9238
@neilpeterson no problem, done, and thanks.  [#397](https://github.com/Azure/AKS/issues/397)

[2018-05-29 08:54] paulceli opened #9314 "WebJobs deploy from Visual Studio Community Mac OS"
Hey,
Working on a Mac with VS Community 7.5.1 and I'm trying to following this guide to add a WebJob to my .net core Web App.
Added a Console App project and "linked" it with the Web App through the json files as described, but a "Publish" on the Web App doesn't create the WebJob on Azure...
Also on the Console App I can't see a "Publish as WebJob" anywhere, nor any mention of "WebJobs".. :(
Is th

[2018-05-29 08:59] Wintekso opened #9315 "Section 10 Notes"
Hello,

At section 10 would it be possible to add what version the setinputmessagehandlerasync was removed and also delete the last line of code as it causes a little bit of confusion.

at section 10, could the last line be removed as it causes confusion:

// Register callback to be called when a message is received by the module
await ioTHubModuleClient.SetInputMessageHandlerAsync("input1", Filte

[2018-05-29 09:08] dominicbetts commented on #9302
Hi @krishnav888 - thanks for taking the time to point this out. I've updated the filename, change should be visible shortly. Thanks again, Dominic

[2018-05-29 09:08] dominicbetts commented on #9302
#please-close

[2018-05-29 09:17] appalaraju commented on #6348
Hi,
i have gone through the example provided in above link but it is throwing so many errors. how to fix them? and that file is pointing to some other base class so where is that class? overall it is throwing errors at the time of compiling so please provide the full solution on managing session.

[2018-05-29 09:25] olavt opened #9316 "Confusing wording"
This wording might be slightly confusing: "An Unexpected Downtime rarely occurs when the hardware or the physical infrastructure underlying your virtual machine has faulted in some way"

I think what is meant is: "Faults in hardware or physical infrastructure rarely occurs and this will cause Unexpected Downtime".

The current wording leads you to believe that even if the hardware or physical infr

[2018-05-29 09:38] appalaraju opened #9318 "Problem with [Singleton] attribute for azure functions"
i have tried below 2 options for Azure function which is ProcessTopicMessage

[Singleton(Mode = SingletonMode.Listener)] attribute
[Singleton]

but problem i face here is

after changing Azure app service plan( ex : plan1 : 2 instances, plan2: 1 instance) in azure portal for the web job which i deployed in azure, ProcessTopicMessage stopped receiving messages from the topic-subscription which is s

[2018-05-29 09:51] Wintekso commented on #9315
Found SetInputMessageHandlerAsyncunder preview-001's

[2018-05-29 10:12] SychevIgor opened #9319 "Add information about other Ubuntu versions rather than 16.04 lts"
Already available 18.04 and it can be deployed, but officially in a guide we don't have any information about support of never version.
Also my customer faces with a deployment issue of 17.10 (after investigation it's looks like it's not a problem with image). As a result to give our customer 100% clear vision of supported versions- it will be great to have it in a guide, to address questions.

--

[2018-05-29 10:13] dominicbetts commented on #9125
Hi @cezane - IoT Hub is not intended to be a generic MQTT broker. It supports IoT devices connecting using the MQTT, AMQP, or HTTP protocols. Telemetry sent from devices is, by default, routed to an Event Hubs-compatible endpoint intended to be read by a back-end app for processing in the cloud - this service-facing endpoint supports the AMQP protocol for reading the telemetry. In the diagram on t

[2018-05-29 10:45] anand-agrawal-yash opened #9320 "Gateway Timeout Error in deploying Model Management Service"
Hi Team,

I am trying to deploy Azure Machine Learning Model Management service in my Azure account using Azure Portal.
However, I am facing Gateway Timeout Error each time I am trying to do so.

Error Code: GatewayTimeout
Error Msg: The Gateway did not receive a response from 'Microsoft.MachineLearning ModelManagement' within the specified time period.

Kindly help here.

Regards,
Anand Agrawal

[2018-05-29 10:46] dominicbetts commented on #9220
Hi @tylerd - thanks for reporting this. It does look as if the shared c library is no longer installed by default - I'll follow up with the developers to see what's changed. In the meantime - thanks for the fix - I'll update the docs with this workaround. Thanks, Dominic

[2018-05-29 10:55] dominicbetts commented on #9220
#please-close

[2018-05-29 11:11] DaveAurionix opened #9321 "What are the allowed template parameter types?"
When creating a parameter, this article could mention the permitted parameter data types.  String, int, array, object all seem to be mentioned across various articles, but are bool, float and others supported?  If so, what are the permitted names?  Same feedback applies to the variables page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2018-05-29 11:13] denishol opened #9322 "Link for Azure AD Graph Explorer is not working"
The linked Azure AD Graph Explorer: "Also, you can test this in the Azure AD Graph Explorer, and the Microsoft Graph Explorer by using your Azure AD account." with the URL https://graphexplorer.cloudapp.net is not working. I suppose, the link changed to: https://graphexplorer.azurewebsites.net

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2018-05-29 11:13] jtuliani opened #9323 "Does subscripion() behave like resourceGroup()"
The article explains nicely how resourceGroup() behaves differently for nested vs linked templates.

However, it doesn't mention whether the subscription() function has the same behaviour when deploying to two separate subscriptions. It really should.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a327806-354a-df02-bf

[2018-05-29 11:18] Jtayta opened #9324 "The invoke does not work."
Invoke-StorageSyncFileRecall : The term 'Invoke-StorageSyncFileRecall' is not recognized as the name of a cmdlet. This is despite having ran the Import-Module.

Also, on the Import-Module command for StorageSync.Management.ServerCmdlets.dll complains about unapproved verbs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2018-05-29 11:38] kkaczmarzyk opened #9326 "Uncaught ReferenceError: WindowsAzure is not defined"
I did everything in this tutorial correctly. But when I run this app on a device(Android) or on a device emulator(Android) I'm getting "Uncaught ReferenceError: WindowsAzure is not defined" error. Help please as this is a base tutorial for the subsequent ones.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dc0b51e-07e

[2018-05-29 12:21] NIVJAIN commented on #8126
Hi,

its a holiday in Singapore, i will let you know by tomorrow.

regards
Jain

On Tue, May 29, 2018 at 1:42 PM, Sneha Gunda <notifications@github.com>
wrote:

[2018-05-29 12:45] waheedhussain opened #9327 "columns not presents in the log analytics query results"
Hi,

I am looking at the 'container record' table (link below), the last two entries mention Perf Queries and when I run these queries I don't get the fields mentioned in the right column. Is this a documentation error?

How do i get the fields mentioned?

https://docs.microsoft.com/en-us/azure/monitoring/monitoring-container-health#container-records

Thanks,
Waheed

---
#### Document Details

⚠ *

[2018-05-29 12:46] georgiosd opened #9328 "How does one set an alert for Exceptions in the new Alerts page?"
I can only see how to do it with the Alerts (Classic) page. Also, how does one filter which exceptions to receive notifications for?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d8048b3-aa66-eaac-7374-c01089bcb96e
* Version Independent ID: eafc35e8-740c-527a-ea11-e44a9e6991ee
* Content: [Set Alerts in Azure Applicat

[2018-05-29 13:04] toanyonebutyou commented on #5872
@jeremyhagan The machine is within the scope and I do see a warning under the event viewer > apps and services > Microsoft > User Device Registration, but no errors. The warning states it can not be joined the process must run as NT authority.

I am not trying to get it to join right now though, I just need the object to sync,

[2018-05-29 13:17] kunalaphadnis99 opened #9329 "Operation timeout expired"
Hello,

I tried with all the above steps. However when I run the command line to see the logs, it gives me an exception: Operation timeout expired.

Please see below screenshot:

![image](https://user-images.githubusercontent.com/3131438/40661201-c7ab7cb6-6370-11e8-880d-4f5ad0b4ba7a.png)

Please let me know if I missed something here. Appreciate your help.

---
#### Document Details

⚠ *Do not edi

[2018-05-29 13:18] Yogi5555 commented on #6548
At this step  "git push azure master" it prompted me for credentials , after providing deployment user credentials it throws an error  "fatal: Authentication failed for 'https://<website_name>azurewebsites.net/'"
I have changed the deployment user from portal but hitting same error

[2018-05-29 13:19] kunalaphadnis99 commented on #8239
Hello, finally it worked! Thanks for your help.

[2018-05-29 13:27] vinaykumar-rm commented on #9119
this is manual download. What i wanted to know is if there is any way we
can download using script.

On Tue, May 29, 2018 at 8:47 AM, Micah <notifications@github.com> wrote:

[2018-05-29 13:29] sanjaysahu1984 opened #9331 "Getting error while installation in resource jenkins/init with status code conflict"
Getting error while installation in resource jenkins/init  with status code conflict

"status": "Failed",
  "error": {
    "code": "ResourceDeploymentFailure",
    "message": "The resource operation completed with terminal provisioning state 'Failed'.",
    "details": [
      {
        "code": "VMExtensionProvisioningError",
        "message": "VM has reported a failure when processing extension '

[2018-05-29 13:30] SamirFarhat commented on #9316
Correct, this is confusing and may be misundrestood

[2018-05-29 13:31] josephge2018 commented on #9203
Hi,
Your recent changes for One Drive login broke our embedded browser - we got JavaScript exception after we input username (and try to transit to password page). It seems you are using JavaScript Promises that breaks our browser. It is extremely difficult for us to change our browser so we are wondering whether you can roll back your change or avoid using JavaScript promises so that our solution

[2018-05-29 13:34] turbolego commented on #8701
I have the same issue, and i tried to run

`Install-Package Microsoft.Azure.IoTHub.IoTHubClient`

From [https://github.com/Azure/azure-iot-sdk-c/tree/master/iothub_client](https://github.com/Azure/azure-iot-sdk-c/tree/master/iothub_client)

But i get this error:

[code]

Perhaps there is a package source i need to add?

[2018-05-29 13:50] DuoKristina commented on #8923
@TravisCragg-MSFT I don't see 51005 on the page. The codes skip from 51004 to 51006.

[2018-05-29 13:51] JuanKerr opened #9333 "Dead link"
Hi - the link in section 1 of the walkthrough ("This walk through uses the Operations Management Suite Experience Center, which provides a complete Log Analytics environment with sample data" to https://experience.mms.microsoft.com/) is no longer valid. I think that site has been retired and OMS is now available through the portal...

---
#### Document Details

⚠ *Do not edit this section. It is r

[2018-05-29 13:54] georgewallace commented on #8986
@zarchigl If there are no other questions, #please-close this issue.  If you have any other questions please feel free to open another issue.

[2018-05-29 13:56] georgewallace commented on #8969
@RemiBou The documentation was updated to reference that this is the local machine that contains the log.  The change is now live.  #please-close

https://docs.microsoft.com/en-us/azure/automation/automation-update-management#troubleshooting

[2018-05-29 13:58] RemiBou commented on #8969
perfect, thanks for the reactivity here 👍

[2018-05-29 13:58] #8969 closed

[2018-05-29 13:59] waheedhussain opened #9334 "new alerts support for AKS metrics"
Hi,

when can we expect newer alerts supporting the below metrics for AKS?

https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-supported-metrics#microsoftcontainerservicemanagedclusters

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d191c7d-1448-447e-244f-2a3a775af259
* Version Indepe

[2018-05-29 14:04] cbeech1980 opened #9335 "Indexer creation error"
Great article. All is well until I create the Indexer. I receive a 400 error code with the message "Connection string does not specify a supported ApiKind value".  The connection string used is of the format stated above, including the ApiKind=MongoDB addition on the end.

Any ideas?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2018-05-29 14:22] iop111 opened #9336 "Any plan to support SSAS"
Hi, do you have plan when will the Azure Analysis Services support the managed service identity?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726adac9-1848-01a6-9586-842c81f820f7
* Version Independent ID: 249db438-8c95-8e69-f69e-8e48fcd0b359
* Content: [Azure Services that support Managed Service Identity](https://do

[2018-05-29 14:26] CraigB7708 opened #9337 "Missing code"
51005 is not in this list

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f83a9e6-2363-2c73-5ed2-f40bd48899b8
* Version Independent ID: f47dc642-f083-b173-9b6e-ce61e31685a9
* Content: [Sign-in activity report error codes in the Azure Active Directory portal](https://docs.microsoft.com/en-us/azure/active-directory/activ

[2018-05-29 14:28] turbolego commented on #8701
This is what fixed this issue for me:

`Register-PackageSource -Name nuget.org -Location https://www.nuget.org/api/v2 -ProviderName NuGet
`

Log:

[code]

[2018-05-29 14:32] dem108 opened #9338 "Typo"
Typo in section: https://docs.microsoft.com/en-us/azure/data-factory/create-self-hosted-integration-runtime#tlsssl-certificate-requirements

The last bullet has obvious type. Please update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32785d15-8202-6e44-f1d2-420ef0600f3f
* Version Independent ID: 3af5fa49-7bd4-18ce-f

[2018-05-29 14:36] DaveVoyles commented on #5506
Ah OK, now I understand, thank you!

Would it be alright if I added that note in the docs for clarification?

[2018-05-29 14:45] JPL0908 commented on #9029
Same issue...The code failed because of a fatal error:
	Failed to register auto viz for notebook.
Exception details:
	"cannot import name DataError".
This error occurs when trying to setup SparkContext: sc = SparkContext('yarn-client') or import spark.sqlContext.implicits._

[2018-05-29 14:50] grandparoach opened #9339 "risk of sample script going away"
This article references a script from "the community".  It was authored by Taylow Newill who is no longer employed by Microsoft.  I have forked a few of his repositories and noticed that he has removed the original instances.  I am suggesting that there is a risk that that script might dissapear and perhaps this article should reference something more permanent instead.

---
#### Document Details

[2018-05-29 14:53] aloneguid opened #9340 "3.1.274 install fails on Windows 10"
Installing the latest SDK from web platform installer fails with the following error:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23e79576-36ff-8e39-9d21-adc897608b73
* Version Independent ID: bb904115-2166-6871-6347-0941dbb32d2a
* Content: [Set up a Windows development environment for Azure microservices](h

[2018-05-29 15:07] jonorogers opened #9343 "Markdown is incorrect for the install.cmd script"
Looks like there are markdown errors on the above page, which cut the script in half and has strange characters at the end.

Spent hours not realising why I couldn't debug my worker role after a quick copy + paste job...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f082a39c-4081-f5c3-1e1d-effcfecb2fd7
* Version Indep

[2018-05-29 15:40] neilpeterson commented on #9238
@DaveAurionix - thanks. I am going to close this one in favor of #397

#please-close

[2018-05-29 15:44] MicahMcKittrick-MSFT commented on #9319
@SychevIgor Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-29 15:44] MicahMcKittrick-MSFT commented on #9331
@sanjaysahu1984 can you please share the doc you are following?

[2018-05-29 15:46] DCtheGeek commented on #9223
@guillemsola External Data (either in the form of Configuration Data or Parameters) is one of the great things about DSC (and separating the what from the how).  Configuration Data is only one way to achieve that; Parameters is another.  The article does explain how to use credentials with Parameters (External Data). Can you clarify what you were looking for in the doc that you didn't find?  Thank

[2018-05-29 15:48] neilpeterson commented on #9237
@command0r this doc is not meant to be run from PowerShell rather Bash. We are working on some platform tooling that will allow us to switch between languages / environments (PowerShell / Bash), once that is complete, we will add PowerShell samples to this doc.

In the interim, we can clarify in the doc that the commands assume Bash / WSL.

[2018-05-29 15:50] cynthn commented on #9316
#please-close the changes have merged and should go live with the 10:00 AM publish. @olavt thanks again for the feedback!

[2018-05-29 15:54] aqasrawi opened #9344 "Wrong link"
The link at the top of the page for "What is self-service signup for Azure Active Directory?" currently reloads the same page.   I think you meant to have it go to https://docs.microsoft.com/en-us/azure/active-directory/active-directory-self-service-signup instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd934d5

[2018-05-29 15:59] cynthn commented on #8770
#in-progress @pebarrer thanks for the feedback! I've added Esv3 to the list and the change should go live sometime today. Thanks again!

[2018-05-29 15:59] cynthn commented on #8770
https://github.com/MicrosoftDocs/azure-docs/pull/9345

[2018-05-29 16:06] dlepow commented on #9319
@SychevIgor - Thanks for the feedback and suggestion. The current document attempts to state clearly the current supported distributions and versions. I will check with my product team colleagues about support for more recent versions of Ubuntu, and publish updates if needed. Were you interested in deploying on NC*/ND-series, or NV, or both?
#in-progress

[2018-05-29 16:12] usavilaje opened #9346 "Not an issue - just a question..."
Thank you for sharing info on AZURE - However, One thing is unclear...   Ability to "create" virtual machines by essentially saving the information, e.g. data, about the VM on Azure.  Therefore, since a VM is essentially just DATA stored in AZURE, could the VM be listed in the AZURE Data Catalogue as a data resource available in Azure?   Would it not be best practice to do so?  Is there a reason w

[2018-05-29 16:16] akramwaseem commented on #8591
@gatneil -- Maybe if you can add registering to auto upgrades using azure cli in the current document might help lot of other people.
Just keep in mind that not everybody uses powershell for everything and not every organization using azure uses windows VMs.
We completely use linux VMs and VMss.
If possible please add registering with azure cli to the current document. Thanks

[2018-05-29 16:19] akramwaseem opened #9347 "Add registering OS upgrades through azure cli to above documentation"
Maybe if you can add registering to auto upgrades using azure cli in the current document might help lot of other people.
Just keep in mind that not everybody uses powershell for everything and not every organization using azure uses windows VMs.
We completely use linux VMs and VMss. this link here "https://docs.microsoft.com/en-us/cli/azure/feature?view=azure-cli-latest#az-feature-register" is he

[2018-05-29 16:26] jimdial commented on #9180
@kasunsjc. A link to the [requirements and constraints](https://docs.microsoft.com/azure/virtual-network/virtual-network-manage-peering#requirements-and-constraints) is in the article. The specific issue you mentioned is in the requirements and constraints, as are several other important constraints. We didn't want to replicate the list of requirements and constraints, which is why this article li

[2018-05-29 16:40] davidmu1 commented on #8880
@jintux I am currently working on revising this tutorial and will make an effort to clarify the use of scopes.

[2018-05-29 16:59] douglaslMS commented on #8039
@HemantChandurkar Please help me respond to your questions by providing the clarifications that I requested a few days ago. Thank you!

[2018-05-29 17:00] TravisCragg-MSFT commented on #9238
@DaveAurionix  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-29 17:00] #9238 closed

[2018-05-29 17:03] TravisCragg-MSFT commented on #9205
@josephge2018 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-29 17:06] HemantChandurkar commented on #8039
I m out vacation. Will respond tmrw. Tnx

On Tue, May 29, 2018, 10:29 PM Douglas Laudenschlager <
notifications@github.com> wrote:

[2018-05-29 17:06] TravisCragg-MSFT commented on #8923
@DuoKristina I am able to see that 50027 exists, but 51005 does not.

@MarkusVi are there any plans to update the doc with error code 51005?

[2018-05-29 17:07] MGoedtel commented on #9327
Requesting this issue is closed as I have updated the article and corrected the item raised by @waheedhussain.  #close.  The update will be released during the am or afternoon publish.

[2018-05-29 17:19] YutongTie-MSFT commented on #9320
@anand-agrawal-yash Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-29 17:29] mtillman commented on #9291
@MicrosoftDocs/azure-cxp-triage - this is a localization issue not a doc-enhancement. Please relabel and assign to the appropriate localization contact. Thanks.

[2018-05-29 17:41] rwike77 commented on #9229
@vlele @ggailey777 Good suggestion, however we have not yet released Mesh as a public preview.  I've added a doc work item to update this article when Mesh releases publicly.  Thanks.  #please-close

[2018-05-29 17:50] kgremban commented on #8723
@nuiwos What kind of azure subscription are you using? When I first tried this out, I was using my Visual Studio credits, and received the same type of failures. Azure Machine Learning requires subscriptions that aren't restricted, like Visual Studio subscriptions. If you don't have a credit card attached to your account, adding one might resolve the problem.

[2018-05-29 17:51] j-martens commented on #5506
@DaveVoyles - Yes, please.

[2018-05-29 17:51] mike-urnun-msft commented on #9335
@cbeech1980 Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-05-29 17:54] SaurabhSharma-MSFT commented on #9305
@pedrr Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-29 17:54] kgremban commented on #9105
@JanaAbhijit and @vishalkhatal you can always go to https://azure.microsoft.com/global-infrastructure/services/ to see where each Azure service is available. In the top left of the table, open the regions drop-down list to select India. Then you can look at the availability under Internet of Things. Currently, I see that Azure Maps is not supported in any of the India regions. You can submit produ

[2018-05-29 17:56] #9119 closed

[2018-05-29 17:59] SaurabhSharma-MSFT commented on #9322
@denishol Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-29 18:00] TravisCragg-MSFT commented on #9142
@MrRoyce  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-29 18:00] #9142 closed

[2018-05-29 18:02] SaurabhSharma-MSFT commented on #9337
@CraigB7708 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-05-29 18:03] jennyhunter-msft commented on #8460
Hello, thank you for reporting this. Unfortunately, during my efforts to address this issue I have not been able to reproduce your error. According to the open source code for the cmdlet, the following SKU types should be supported: "free", "standard", "premium", "pernode","standalone". In my tests, I have been able to successfully create workspaces of each type.
Would you be able to send the deta

[2018-05-29 18:12] MicahMcKittrick-MSFT commented on #9343
@jonorogers Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-29 18:13] mganeshphani opened #9349 "Is there a powershell command to validate resources that can be moved?"
Looking for powershell command to check if a resource in RG/Subscription can be moved to a new RG/Subscription

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move Azure resources to new subscription or resour

[2018-05-29 18:18] jefffanjoy opened #9350 "Azure Automation Limits is missing disk space available for temporary storage."
Azure Automation Azure based runbook workers have an imposed limit of 1 GB per sandbox process of disk space that can be leveraged for temporary file storage during runbook job execution.  This limit is not documented under the Azure Automation Limits section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6

[2018-05-29 18:19] mike-urnun-msft commented on #9318
@appalaraju Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2018-05-29 18:23] jankrib opened #9351 "Have to have channel on newer android versions"
This answer helped me to get it to work:
https://stackoverflow.com/a/16448278/4675936

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a03ab5f-3dda-f469-33e0-9504c90d468c
* Version Independent ID: 4f8e4309-cd06-f09f-00f0-d978b3d16777
* Content: [Push notifications to Xamarin.Android apps using Azure Notification Hubs](h

[2018-05-29 18:24] nuiwos commented on #8723
I'm using a Pay-As-You-Go Dev/Test subscription. It has a credit card attached to the subscription. I was previously using a free trial subscription but stopped using it.

![image](https://user-images.githubusercontent.com/39097997/40677420-73c89112-6332-11e8-9b33-9d9d853ca014.png)

[2018-05-29 18:28] MicahMcKittrick-MSFT commented on #9282
@fajanssen I don't believe we have an exact example from Cloud-init using ARM. However, there are some examples of pushing custom data to VMs using ARM.

For example, I found this one: https://github.com/Azure/azure-quickstart-templates/blob/master/101-vm-customdata/azuredeploy.json

It shows the following values used to push custom data:

[code]

[code]

[2018-05-29 18:28] eross-msft commented on #7981
Thank you for your feedback. I've added this as a new, internal work item. I'll report back on this issue, letting you know when the work item is complete.

[2018-05-29 18:32] MicahMcKittrick-MSFT commented on #9340
Looks like the version you are trying to install is not actually the latest. I checked mine and found the following:

![image](https://user-images.githubusercontent.com/32313503/40677892-dfa30a92-6333-11e8-83eb-e6b8fe3191ed.png)

Are you only prompted for 3.1.274?

[2018-05-29 18:37] #9286 closed

[2018-05-29 18:43] chaosrealm commented on #9335
I'm an engineer in charge of this feature. Please email me directly at eugenesh at the usual Microsoft domain and we'll take it from there. Thanks!

[2018-05-29 18:46] #8660 closed

[2018-05-29 18:46] mike-urnun-msft commented on #8986
@zarchigl We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-29 18:46] #8986 closed

[2018-05-29 18:47] mike-urnun-msft commented on #9302
@krishnav888 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-29 18:48] mike-urnun-msft commented on #9316
@olavt We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-29 18:48] #9316 closed

[2018-05-29 18:51] SychevIgor commented on #9319
@dlepow we already done with ND this time, but customer interesting in all N* types including v3(announced, but not yet available)

[2018-05-29 18:54] SaurabhSharma-MSFT commented on #9259
@limjianan I have assigned this issue with the content author to validate and update the documentation.
 @rolyon Can you please validate and help updating the document.  Also, we need to update [Azure Active Directory sign-in activity report API samples](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-reporting-api-sign-in-activity-samples) with the correct file name. Curr

[2018-05-29 18:54] dlepow commented on #9319
@SychevIgor - Hi, I confirmed that the only supported Ubuntu version currently on any of the N*-series is 16.04 LTS. We'll update the docs if/when later version(s) are supported. Hope this helps.
#please-close

[2018-05-29 18:54] #9319 closed

[2018-05-29 18:55] aloneguid commented on #9340
Apologies, I just saw the latter version. However, installing it gives the identical problem. I've tracked the issue on GitHub and found a workaround here https://github.com/Azure/service-fabric-issues/issues/1056. Seems to be a bug.

[2018-05-29 18:57] femsulu commented on #9321
@DaveAurionix Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-29 18:58] jeevansd commented on #9263
@andrew-best-diaxion These are the correct steps.

1. Configure Azure AD Single Sign-On - to enable your users to use this feature.
2. Create an Azure AD test user - to test Azure AD single sign-on with Britta Simon.
3. Create a Microsoft Azure Active Directory single sign-on for JIRA test user - to have a counterpart of Britta Simon in Microsoft Azure Active Directory single sign-on for JIRA that

[2018-05-29 18:58] CelesteDG commented on #8955
Updates to the doc is now live. https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-protocols-oauth-code

@SaurabhSharma-MSFT @MohitGargMSFT @femsulu - #please-close Thank you

[2018-05-29 18:59] mahesh-unnikrishnan commented on #6682
The tile within 'Required Configuration steps' for configuring DNS automatically disappears if the DNS server settings are configured correctly for the virtual network.

You can see the DNS server IP addresses from the 'Properties' tab within the UI.

#please-close

[2018-05-29 18:59] #9324 closed

[2018-05-29 19:00] jeffgilb commented on #9306
Thank you for your feedback, I'll verify in my lab and make any necessary doc updates.

[2018-05-29 19:00] jeffgilb commented on #9306
#please-close

[2018-05-29 19:01] mahesh-unnikrishnan commented on #7869
There is no license requirement for the sync from Azure AD to AAD-DS. It works for all Azure AD editions (free, basic & premium).

#please-close

[2018-05-29 19:02] femsulu commented on #9323
@jtuliani Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-29 19:03] BryanTrach-MSFT commented on #9318
@appalaraju Can you please verify that you have turned on the feature, 'always on' for your web app?

[2018-05-29 19:04] jimdial commented on #9072
#AzureArchitecture Thanks for catching. Fix will publish later today. #please-close

[2018-05-29 19:10] mike-urnun-msft commented on #9312
@paulandrewkent Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-05-29 19:12] mike-urnun-msft commented on #9315
@Wintekso Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-05-29 19:14] femsulu commented on #9350
@jefffanjoy Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-29 19:17] mike-urnun-msft commented on #8111
@faceoffers28 Sorry for delay in response here. Were you able to find a workaround for this issue?

[2018-05-29 19:21] TravisCragg-MSFT commented on #9072
@AzureArchitecture We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-29 19:21] #9072 closed

[2018-05-29 19:34] mike-urnun-msft commented on #9285
@Abhijitk914 It appears you have opened this question on [MSDN forum here](https://social.msdn.microsoft.com/Forums/en-US/9e57d398-d436-4771-8011-5fd42b0195c4/can-we-create-resources-in-cross-subscription-using-msi-?forum=WindowsAzureAD) which is one of the appropriate channels to bring this type of question to.

We will now proceed to close this thread. If there are further questions regarding a

[2018-05-29 19:34] #9285 closed

[2018-05-29 19:38] MicahMcKittrick-MSFT commented on #9340
Thanks for confirming @aloneguid! I was able to get it to install without issue but as you mentioned seems to be a known issue. I will close this out for now as it is already tracked on the correct GitHub repo and there is nothing to update on this specific doc but rather the SDK itself. I am following that issue as well.

[2018-05-29 19:38] #9340 closed

[2018-05-29 19:48] ajlam commented on #8764
@saurabhjain39, can you confirm the versions of the components you are using?

[2018-05-29 20:04] timmyreilly opened #9356 "Visual Studio 2017 Versioning for Hosted Container Template..."
You need to have Visual Studio Version 15.7.2 to use the Hosted Container Template. To Repro create a VM with Visual Studio 2017 and try to follow these instructions. To work around you'll need to update VS in the Windows VM and the Hosted Container Templates will be available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-05-29 20:07] jennyhunter-msft commented on #8460
The script has been updated to a new version in both the GitHub repository and the [PowerShell Gallery](https://www.powershellgallery.com/packages/New-OnPremiseHybridWorker/1.5/DisplayScript ), including the change to the "pernode" SKU. Thank you for the reporting the issue.

[2018-05-29 20:12] jeremyhagan commented on #5872
The object wont sync until the user certificate is created. The workstation
wont create the user certificate and push it to AD until it decides it want
to do the hybrid join. It is just the way it works.

On 29 May 2018 at 23:04, toanyonebutyou <notifications@github.com> wrote:

[2018-05-29 20:13] SaurabhSharma-MSFT commented on #9275
@jeromeecho Thanks for reporting this. I have assigned this to content author to validate and update accordingly.

@billmath I see GitHub Repository are showing correct sequence numbers as 3 and 4 however it is not reflecting on docs.microsoft.com

[2018-05-29 20:20] femsulu commented on #6017
@ThierryBT We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-29 20:20] #6017 closed

[2018-05-29 20:20] femsulu commented on #6682
@garthk We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-29 20:20] #6682 closed

[2018-05-29 20:21] #8955 closed

[2018-05-29 20:26] amanarneja commented on #9081
@AndriyGorda Apologies for this being confusing. We will definitely take that feedback and provide it into the team that creates the content for that page.

In the meantime, I see a couple of additional next steps here:

1. The document asks users to create a support ticket but doesn't take into account users that don't have a support plan, we need to have a mechanism for all users to perform thes

[2018-05-29 20:52] mostafae opened #9358 "cannot import name 'CommandResultItem'"
I am getting the following error when i try to create a service principal:
Traceback (most recent call last):
  File "/usr/lib/python3.5/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/usr/lib/python3.5/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/usr/lib/python3/dist-packages/azure/cli/__main__.py", line 9, in <module>
    import azure.cli.m

[2018-05-29 20:52] mike-urnun-msft commented on #8928
Hey @michaelscodingspot - Sorry for delay in response here. The `AzureServiceTokenProvider` class, from which the `GetAccessTokenAsync` method derive from, caches the token in memory and retrieves it from Azure AD just before expiration. To learn more, check out this documentation: https://docs.microsoft.com/en-us/azure/key-vault/service-to-service-authentication#using-the-library

We will now pro

[2018-05-29 20:52] #8928 closed

[2018-05-29 20:56] rolyon commented on #9337
Thanks. I'll ask the team about this code.
#in-progress

[2018-05-29 20:57] marcu5fen1x commented on #8317
Hey, you could totally do this on a PC. You need a Mac, however, to compile iOS projects due to Apple's requirements. So you can compile android and UWP projects on a PC except iOS.

[2018-05-29 20:58] snpdev opened #9359 "Email owners, contributors, and readers checkbox not present"
Regarding the alert option to "Check Email owners, contributors, and readers option if you want the subscription administrators and co-administrators to be emailed when the alert fires", I do not see this checkbox in the portal. Has this option been removed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e119056c-5238-

[2018-05-29 21:03] kgremban commented on #8723
@tedway could you take a look at this issue?

[2018-05-29 21:12] conceptdev commented on #8317
Yeah, you're right @marcu5fen1x, I think the doc is a little misleading in claiming the Mac is _required_ (like @nateous pointed out). We have an update to this doc in review that will clarify this; hope to get it published soon.

[2018-05-29 21:15] cezane commented on #9125
Thank you for your response, @dominicbetts . What if I want to process the telemetry messages outside the cloud (on-premise, for example - as I was trying)? I understand that I have to follow [this guide](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-messages-read-builtin), but, yet, I would like to know how to do this without the [SDKs](https://github.com/Azure/azure-iot-sdk-pyt

[2018-05-29 21:16] conceptdev commented on #8111
@faceoffers28 Perhaps the Xamarin-specific FCM docs can help?

https://docs.microsoft.com/en-us/xamarin/android/data-cloud/google-messaging/

or the Compatibility discussion here?

https://docs.microsoft.com/en-us/xamarin/android/app-fundamentals/notifications/local-notifications#compatibility

[2018-05-29 21:17] kgremban commented on #8084
@pratyush-19 I just saw a different issue where some people weren't able to use Maps in certain regions. It reminded me of your issue. Are you in one of the unsupported regions listed in the documentation? https://docs.microsoft.com/en-us/azure/azure-maps/about-azure-maps#unsupported-regions If so, perhaps try to run the demo app in a VM located in a different region.

[2018-05-29 21:18] SnehaGunda commented on #9081
@AndriyGorda sorry that you had to spend bunch of time tracking the issue. Form docs perspective, I will update the doc to call out that technical support is not available for basic plan, its available for selected plans only and link off to the different support plans page.

[2018-05-29 21:19] kristianjaeger opened #9363 "Note about Docker for OS X and Mounts denied: \r\nThe path /usr/local/share/dotnet/sdk/NuGetFallbackFolder\r\nis not shared"
Full error is:
/Applications/Visual Studio.app/Contents/Resources/lib/monodevelop/AddIns/docker/MonoDevelop.Docker/MSbuild/Sdks/Microsoft.Docker.Sdk/build/Microsoft.VisualStudio.Docker.Compose.targets(5,5): Error: Building webapitest
Recreating dockercompose14885517393904128885_webapitest_1 ...
Recreating dockercompose14885517393904128885_webapitest_1 ... error
ERROR: for dockercompose148855173939

[2018-05-29 21:26] thx1200 commented on #8861
@twbux That's interesting, I wonder if it's different per region?  That would be weird.  I was in the WestUS region.

[2018-05-29 21:27] quantumtunneling commented on #6150
We have experience MANY problems with scaling Service fabric machine counts. It takes forever for the machines to come online (frequently more than 1 hour) and often times the entire cluster just doesn't scale at all and all the new machines end up in a hung state, and then we are charged for these non-functioning machines. I don't understand how the absolute most basic feature of a system like th

[2018-05-29 21:32] mganeshphani commented on #9349
@femsulu Thankyou. I did find a rest API which helps in this regard
https://docs.microsoft.com/en-us/rest/api/resources/resources/validatemoveresources

and also think I can use following command to invoke the api action mentioned above
https://docs.microsoft.com/en-us/powershell/module/azurerm.resources/invoke-azurermresourceaction?view=azurermps-6.1.0

however would appreciate if there is a Powe

[2018-05-29 21:32] peternield commented on #9300
Hi Saurabh,

I understand that. However, to install the MSOnline module using the install-module cmdlet requires enabling nugget and then allowing that to access the repository. In an environment which requires whitelisting of specific URLs, this will be difficult to achieve, and installing the MSOnline module and the Sign-In assistant interactively may be the only available option.

Also, there i

[2018-05-29 21:40] jason-j-MSFT commented on #8733
@usama-masood
That template you linked is community authored as stated at the top of the page:
" This Azure Resource Manager (ARM) template was created by a member of the community and not by Microsoft. Each ARM template is licensed to you under a licence agreement by its owner, not Microsoft. Microsoft is not responsible for ARM templates provided and licensed by community members and does not sc

[2018-05-29 21:43] mganeshphani opened #9364 "invoke-azurermresourceaction Missing example"
GitHub Feedback system is not yet integrated into following, hence creating issue like this
https://docs.microsoft.com/en-us/powershell/module/azurerm.resources/invoke-azurermresourceaction?view=azurermps-6.1.0

Example section is empty.. this is very powerful command and can be used predominantly with good examples.

[2018-05-29 21:44] Thraka commented on #9343
@jonorogers Thanks for pointing this out. The source material is OK and it renders in Github just fine. This must be a publishing issue. I'll try and force the page to refresh via a minor update. Sorry about that.

[2018-05-29 21:45] MicahMcKittrick-MSFT commented on #9356
@timmyreilly Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-29 21:46] MicahMcKittrick-MSFT commented on #9358
@mostafae Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-29 21:52] YutongTie-MSFT opened #9365 "Is it possible to delete manifests, images etc either through AZ ML or the Azure portal?"
[If there is, can you please add to the document? Thanks a lot!]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec139450-97ab-ee40-a03d-76cecd07978f
* Version Independent ID: 479c4939-328b-a837-1576-da2a362c159e
* Content: [Azure Machine Learning Model Management command-line interface reference](https://docs.microsoft

[2018-05-29 21:52] MicahMcKittrick-MSFT commented on #8861
@thx1200 yes very strange.... Thanks for bringing this back up @twbux

@ramankum can you take a look into this?

[2018-05-29 21:53] AndriyGorda commented on #9081
@amanarneja
Hello Aman,

Agree,

Point 1 - we have got trapped with this document and still confused - the customer expectation on reading it Microsoft will restore the database, while Azure Portal and customer support prevent this without moving to paid support plan.  Hence we would like to have full clarity over this question.

Point 2 - Overall the mechanism of database restore through communic

[2018-05-29 21:55] YutongTie-MSFT commented on #9365
@aashishb Hi, this is a doc-enhancement issue, can you please check it and update the document as necessary? Thanks a lot!

[2018-05-29 21:57] AndriyGorda commented on #9081
@SnehaGunda ,
Hello Sneha,

Good we have agreement on that point.
We really love and promote Cosmos DB and other Microsoft products for businesses and developers and I think our mutual aim is to help other developers love this and other MS stuff and not be disappointed :)

Thank you,
Andriy

[2018-05-29 22:01] markmassad opened #9366 "ARM Template Example Context should be relevent to article"
Please update the ARM Template example to match context of the Article.  Suggest providing template that installs and configures extensions vs. deploying a load balancer and SQL.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2de55b5-9d87-fdb9-3040-6bdf3cf8ff0b
* Version Independent ID: 4e3fbc53-a0d2-182a-9d57-b94caba

[2018-05-29 22:02] SaurabhSharma-MSFT commented on #9199
@dragerz  Updating AD FS SSL Certificate is not version dependent.  Is your ADFS configured correctly with a new certificate ?  have you validated the Federation Service Metadata. Also, please verify if Azure AD and ADFS are in sync. Please refer to [Confirm that AD FS and Azure AD are in sync
](https://docs.microsoft.com/en-us/azure/active-directory/connect/active-directory-aadconnect-o365-certs#

[2018-05-29 22:04] amanarneja commented on #9081
@AndriyGorda - Good to know that you are unblocked! We will definitely provide this feedback to the engineering team about support tickets being an inefficient mechanism for backup/restore. If they already have plans, will make sure to +1 them with this feedback.
Also, i did see that you added the request on Feedback.Azure.com (https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/3

[2018-05-29 22:06] MicahMcKittrick-MSFT commented on #9358
@mostafae where are you attempting to run this? Azure Cloud Shell or your local machine using Azure CLI?

[2018-05-29 22:09] AndriyGorda commented on #9081
@amanarneja Thank you again for your involvement in this ticket, that was really helpful.
We really appreciated, Aman.

[2018-05-29 22:10] fosk06 opened #9367 "invalid ( or deprecated) option in commands"
Hello,
The option " --hub-name {YourIoTHubName} " of the command "az iot hub show-connection-string" is not valid (anymore ?).
The valid command is  "az iot hub show-connection-string --name {YourIoTHubName} --output table"

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: 0f1d1d66-4cc5-82ec-b4e5-1c886

[2018-05-29 22:15] yadcam opened #9368 "Script Issues with Set-AzureRMKeyVaultAccessPolicy"
So this I read before when using the command, and now it is effective, where the action of "all" for the permissions was going to be deprecated, its there any chance you can modify the script so instead of using "all", it has the full list that is available for each Object?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2018-05-29 22:21] amanarneja commented on #9280
@LarrikinAussie - Echoing Mike's sentiment in thanks for the feedback! While we will send this feedback over to the Outlook.com, it would also be good for you to Upvote or add more details in the Outlook Feedback page. Details on how to access it is as follows

- Upvote existing feedback : You can [upvote this](https://outlook.uservoice.com/forums/284136-outlook-com/suggestions/32180194--serious-e

[2018-05-29 22:21] #9280 closed

[2018-05-29 22:22] daveclarke opened #9370 "Page is currently displaying Server Error"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cab98a1-46f4-6dcb-e9a2-368b8212a80c
* Version Independent ID: b60b899d-d6af-fa2c-0ce2-bb020067ceeb
* Content: [Understand a system reboot for Azure Linux VM](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/understand-vm-reboot#feedback)
* Content Source: [art

[2018-05-29 22:29] SaurabhSharma-MSFT commented on #9305
@pedrr The application proxy retrieves user object (which contains User Principal Name (UPN)) from the token for validations.  Please refer to point 4 of [How single sign-on with KCD works](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-proxy-configure-single-sign-on-with-kcd#how-single-sign-on-with-kcd-works) to understand how user is impersonated through AD Proxy

[2018-05-29 22:30] #8317 closed

[2018-05-29 22:31] conceptdev commented on #8317
The update should be published soon - thanks for your feedback!

[2018-05-29 22:38] daveba commented on #9268
The links have now been fixed.  @SaurabhSharma-MSFT, #please-close.  Thanks.

[2018-05-29 22:41] MohitGargMSFT commented on #8167
@danieldobalian @mtillman Please help with an update on this issue.

[2018-05-29 22:41] wwangotv commented on #5965
@MicahMcKittrick-MSFT what's the reason to close this ticket while the link for https://atlassaprod.blob.core.windows.net/connectedcar/CarEventGeneratorSoln.zip is still broken?

[2018-05-29 22:43] YiWuti opened #9371 "How to undelete the blob if it is dropped by dropping the container?"
In this case, is the blob recoverable? How to get the deleted blob and recover it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78964956-a479-5fbe-710d-19e361542a36
* Version Independent ID: 15e70532-6d39-47ed-6932-ef3eb88e33f0
* Content: [Soft delete for Azure Storage blobs (Preview)](https://docs.microsoft.com/en-u

[2018-05-29 22:46] bwren commented on #9333
@JuanKerr I think we'll be retiring this article.  Checking with product team.

[2018-05-29 22:47] bwren commented on #9333
#in-progress

[2018-05-29 22:47] Thraka commented on #9343
Just checked and a simple republish will not fix it. It seems the parser is broken. I've filed a bug for the markdown team to investigate. I will follow up when I have more information.

[2018-05-29 22:53] SaurabhSharma-MSFT commented on #9308
@SachinRanka Yes, I got your point. thanks for reporting it.
@curtand Permissions to restore is only stated against the User role under [Roles and permissions](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-groups-lifecycle-azure-portal#roles-and-permissions), however [Restore a deleted Office 365 group in Azure Active Directory](https://docs.microsoft.com/en-us/azure/act

[2018-05-29 22:54] Roblarson opened #9372 "Support for Managed Disks and SSE in Azure China"
Managed disks are available in Azure China, so the assumption is SSE is also there. The FAQ does not indicate that environment is supported. Need to update that information if it is really available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 263abdef-3478-8261-6c4c-5d608698ba4e
* Version Independent ID: 61ef3094-f

[2018-05-29 23:09] douglaslMS commented on #6976
The ML Batch Execution Activity was only quite recently made available in the Data Factory v2 UI. See the attached screenshot. You have to provide the JSON for the activity to use, however. At this writing, the team does not plan to provide a full UI-based experience for the version 1 machine learning activities.

![ml-batch-execution-activity-v2](https://user-images.githubusercontent.com/10604251

[2018-05-29 23:10] Juliako commented on #7011
@jackawatts,
The Sources element is primarily used in scenarios involving clipping a video, stitching together videos, or applying overlays. If you need information on how to handle these scenarios, contact us via amshelp@microsoft.com, and we can provide further guidance.
We are in the process of migrating to Azure Media Services v3 APIs, where the underlying schema will be documented publicly at

[2018-05-29 23:10] Juliako commented on #7011
#please-close

[2018-05-29 23:11] jwood803 commented on #6976
Thanks a lot, @douglaslMS! Does that mean the team plans on updating or adding newer ML activities since these are currently from v1?

[2018-05-29 23:16] hr00 opened #9373 "Submission of Batch Jobs with Python Code"
Is it possible to submit a Livy Spark Batch job that references a python file instead of a jar file? I have tried something of the following, but the job fails:
curl -k --user "user:pwd" -v -H "Content-Type: application/json" -X POST --data "{"file": "wasb://test@mystorage.blob.core.windows.net/livybatchtest.py"}" https://mycluster.azurehdinsight.net/livy/batches | python -m json.tool

---
#### Do

[2018-05-29 23:17] jagilber opened #9374 "modify service-fabric-quickstart-dotnet documentation for reverse proxy base uri"
modifying service-fabric-quickstart-dotnet to document changes in PR :
https://github.com/Azure-Samples/service-fabric-dotnet-quickstart/pull/11/files
issue: unable to change protocol or port for reverseproxy without changing code
resolution: create ReverseProxyBaseUri environment variable in servicemanifest.xml

doc:
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-quickstart-

[2018-05-29 23:17] MichaelHauss commented on #9371
Currently, soft delete does not protect against container level deletions. If you delete a container, you cannot recover any of the blobs that were in that container. You can choose to take an infinite lease on the container to protect against accidental container deletions. Container level soft delete is on our backlog.

[2018-05-29 23:28] rolyon commented on #9259
Hi @SaurabhSharma-MSFT,
Thanks for the info. I'll have a look. Is there someone that should review the code updates?
Robert

[2018-05-29 23:37] SaurabhSharma-MSFT commented on #9300
@MicrosoftGuyJFlo Can you please check if there is an enhancement opportunity to the current documentation.

[2018-05-29 23:38] SaurabhSharma-MSFT commented on #9322
@denishol The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2018-05-29 23:38] #9322 closed

[2018-05-29 23:44] SaurabhSharma-MSFT commented on #9368
@yadcam Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-29 23:58] BryanTrach-MSFT commented on #9351
@jankrib Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@dimazaid It appears there might be a different process when working with newer versions of Android. Can you please investigate whether or not the doc needs to be updated to reflect this.

[2018-05-29 23:58] femsulu commented on #9364
@mganeshphani , thanks for the feedback. I have shared this with the content owner to provide an update and fix eta for the missing examples.

[2018-05-30 00:02] rolyon commented on #9259
#in-progress

[2018-05-30 00:02] femsulu commented on #9374
@jagilber Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-30 00:03] mrbullwinkle commented on #8232
Changes to this doc to address this question have been merged and will go-live tomorrow at 10 am.

[2018-05-30 00:03] mrbullwinkle commented on #8232
#please-close

[2018-05-30 00:08] femsulu commented on #9268
@karataliu We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-30 00:08] #9268 closed

[2018-05-30 00:09] #8275 closed

[2018-05-30 00:09] dlepow commented on #9339
@grandparoach - Steve, thanks for pointing this out. I'll investigate moving the script sample directly into the article, in case the linked repo you mention should change.
#in-progress

[2018-05-30 00:09] femsulu commented on #9081
@AndriyGorda We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-30 00:09] #9081 closed

[2018-05-30 00:09] #8232 closed

[2018-05-30 00:10] #7869 closed

[2018-05-30 00:10] femsulu commented on #7011
@jackawatts We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-30 00:10] #7011 closed

[2018-05-30 00:18] MicahMcKittrick-MSFT commented on #9366
@markmassad Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-30 00:18] MicahMcKittrick-MSFT commented on #9370
@daveclarke Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-30 00:19] TPNI commented on #9326
I am getting the same error

[2018-05-30 00:19] MicahMcKittrick-MSFT commented on #9372
@Roblarson Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-30 00:21] jason-j-MSFT commented on #9373
@hr00
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-30 01:57] yanghui150926 opened #9376 "Chinese document"
Can you provide Chinese documents? I'm not very good at English.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72b3eda8-8d7c-1828-1765-aebb61201a42
* Version Independent ID: 9983151a-9fb0-2707-0f4d-f86ab0b972ec
* Content: [Install SAP NetWeaver HA on a Windows failover cluster and shared disk for an SAP ASCS/SCS insta

[2018-05-30 02:10] toanyonebutyou commented on #5872
@jeremyhagan  First off, thank you for your time in replying to me. Secondly I must apologize as there is something that I am not understanding, it is not clicking for me.

I did a test in my lab, I disabled AAD Connect and joined a new machine and that new machine recieved the usercertificate if that sheds any light.

Can you describe the process a little more for me? At least the flow of events?

[2018-05-30 02:17] rathishrms commented on #8614
i believe we need to correct the below statement. It says Microsoft peering is preferred over Microsoft peering for PaaS

All Azure PaaS services are also accessible through Microsoft peering. We recommend you to create Microsoft peering and connect to Azure PaaS services over Microsoft peering.

[2018-05-30 02:22] rathishrms opened #9377 "Azure Public Peering Important Section incorrect?"
i believe we need to correct the below statement. It says Microsoft peering is preferred over Microsoft peering for PaaS

All Azure PaaS services are also accessible through Microsoft peering. We recommend you to create Microsoft peering and connect to Azure PaaS services over Microsoft peering.

[2018-05-30 02:33] NIVJAIN commented on #8126
Hi Sneha,

i am using
node 8.1.0
npm 5.1.1
mongodb  3.0.5 (driver mongo-client)

below is the package.json from my node app
{
"name": "truffle-init-webpack",
"version": "0.0.2",
"description": "Frontend example using truffle v3",
"scripts": {
"lint": "eslint ./",
"build": "webpack",
"start": "node server.js"
},
"author": "Douglas von Kohorn",
"license": "MIT",
"pwd": {},
"engines": {
"node": "8.1.

[2018-05-30 02:41] andrew-best-diaxion commented on #9304
Afternoon and thank you for the quick followup.
Im currently testing with 6.8.
6.9 is the current release version which I will be testing with shortly as well.

[2018-05-30 02:44] andrew-best-diaxion commented on #9263
Afternoon,

Create the Enterprise App in AAD it provides a link to a QuickStart guide that is in the AAD App Marketplace. I cannot surface a URL from the Azure Portal to send to you as the URL doesnt actually display.

Sign into the Azure Portal and open AAD.
Create a new Enterprise App per the Documentation guide.
When deploying the app in AAD, click the link to the QuickStart and you can see the

[2018-05-30 02:50] jeremyhagan commented on #5872
Sure @toanyonebutyou There are a couple of disjoint processes in play.

AAD Connect has a sync rule which prevents a computer account from syncing unless the userCertificate attribute is populated. It has no involvement in populating that attribute on the computer account. It is just a simple sync rule. The question is: How does this attribute get populated? I'm going to stick to describing the pr

[2018-05-30 03:08] twitchax commented on #9364
Created issue in product repo: please close this one. 😄

[2018-05-30 03:55] ChackDan commented on #6150
When ever you have a production issue, please file a CSS ticket. In that way we can get to the bottom of what is going on. In general, most of the time is spend for the VMSS instances to come up, once they come up the SF extensions get deployed, and then an fabric upgrade is rolled out.  you are able to see the status of the fabric upgrades in SFX or via API (https://docs.microsoft.com/en-us/power

[2018-05-30 03:57] ishepherd opened #9379 "Adding Function Filters?"
Is it possible to add global [Function Filters](https://github.com/Azure/azure-webjobs-sdk/wiki/Function-Filters) by specifying them in host.json?

If it isn't - what is the best way to add them?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27150c55-615f-fb44-d5e4-7b5815631c7d
* Version Independent ID: 271006dc-afce-

[2018-05-30 03:58] nehtechnine opened #9380 "multi-factor-authentication"
Update
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d23565fb-ccc9-42fc-6bde-f999d92fc762
* Version Independent ID: 60c86bac-f951-8181-793b-34018f4a76ea
* Content: [Microsoft sigin-in experience updates](https://docs.microsoft.com/en-us/azure/multi-factor-authentication/end-user/sign-in-experienc

[2018-05-30 04:04] quantumtunneling commented on #6150
Can you provide more details about what a CSS ticket is, where I create
them, and how it differs from the ticket that I created?

I get that different machine sizes have different scalability behaviors,
but regardless of machine size, we shouldn't be experiencing a failure to
scale that results in the entire cluster being unresponsive for 12 hours or
so right? Can you elaborate on what caused this

[2018-05-30 04:29] vikasgoyal opened #9381 "Very useful"
Thanks team for the guidance. The most important being 'Don't mix the definition of intents and entities'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d0fd49d-4f0a-061c-84c0-9ddeefa039ad
* Version Independent ID: 6b87ed50-802f-74ed-bd99-14bffd5142d5
* Content: [Understand LUIS best practices - Azure](https://docs.m

[2018-05-30 04:29] ChackDan commented on #6150
Here is the support option for production support - https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-support#report-production-issues-or-request-paid-support-for-azure

once the person on call, reviews the logs, s/he would be able to answer the specific issue you are hitting.

[2018-05-30 04:32] quantumtunneling commented on #6150
Thanks Chaco. Can you tell me how we can scale the cluster up? We
desperately need more machines ASAP, thanks,

Graham

On Tue, May 29, 2018, 9:30 PM Chacko Daniel <notifications@github.com>
wrote:

[2018-05-30 04:33] jackawatts commented on #7011
Thanks Juliako, I realize in retrospect I should have been more specific in my query. I had already viewed the documentation relating to the various video clipping etc options however it referred to XML elements which hadn't been defined on the schema page (where this issue was created) so it was a matter of guesswork determining which elements were required and which weren't.

The issue was that

[2018-05-30 04:41] appalaraju commented on #9318
Hi,

i have verified the option 'always on' for my web app. it is enabled.

[2018-05-30 04:46] mganeshphani commented on #9364
Closing on behalf of

https://github.com/Azure/azure-powershell/issues/6335

[2018-05-30 04:46] #9364 closed

[2018-05-30 04:57] nitinme commented on #9146
@joymon Thanks for your interest in HDInsight. You can use conf parameter to pass this through Livy Rest API, as shown below:

_{
“file”: “<application-jar>”,
“className”: “<main-class>”,
“args”: [args1, args2, ...],
“conf”: {“foo1”: “bar1”, “foo2”: “bar2”...}
}_

So, to specify maxAppAttempt, you would use:

_“conf”: {“spark.yarn.maxAppAttempt”:4}_

[2018-05-30 04:57] femsulu commented on #9377
@rathishrms Thanks for your comment. Please share the link to the doc you are referencing and we will investigate further.

[2018-05-30 04:59] nitinme commented on #8388
@adumont I have updated the article with the new approach. Please check here - https://docs.microsoft.com/en-us/azure/azure-databricks/databricks-extract-load-sql-data-warehouse#associate-service-principal-with-azure-data-lake-store

To read data in a folder in Data Lake Store, we need **Execute** permissions at all the folders in the path leading up to the file, and **Read** permissions on the fi

[2018-05-30 05:00] femsulu commented on #9381
@vikasgoyal thanks for the feedback and Kudos.
@v-geberr FYI - Kudos on your document.

[2018-05-30 05:00] #9381 closed

[2018-05-30 05:01] rathishrms commented on #9377
https://docs.microsoft.com/en-us/azure/expressroute/expressroute-circuit-peerings

From: femsulu-MSFT <notifications@github.com>
Sent: Wednesday, May 30, 2018 12:58 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rathish Ravikumar <rathishr@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Azure Public Peering Important Section incorre

[2018-05-30 05:02] femsulu commented on #9376
Thanks for bringing this to our attention. Your feedback has been shared with the content localization lead for further review.

[2018-05-30 05:02] pratyush-19 commented on #8084
Yes, you are right, my location is in the list of unsupported region.

Regards,
Pratyush

On Wed, May 30, 2018 at 2:47 AM, Kelly Gremban <notifications@github.com>
wrote:

[2018-05-30 05:06] femsulu commented on #9379
@ishepherd  Thanks for the comment. We are actively investigating and will get back to you soon.

[2018-05-30 05:07] SeaDude opened #9382 "Incorrect CLI Syntax"
Below the "Warning" box of section: "#view-change-settings-for-or-delete-a-public-ip-address", the command syntax for the CLI commands are incorrect.

Shown                                Should be
az network public-ip-list     az network public-ip list
az network public-ip-show  az network public-ip show

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2018-05-30 05:12] femsulu commented on #9359
@snpdev Thanks for the comment. We are actively investigating and will get back to you soon.

[2018-05-30 05:14] michaelcsikos commented on #9051
Any ETA for the updated Quickstart?

[2018-05-30 05:15] femsulu commented on #9367
@fosk06 Thanks for bringing this to our attention. Your comment has been shared with the content owner for further review.

[2018-05-30 05:18] Yogi5555 commented on #6260
It seems Custom Domains feature is not available for for free subscription.
I am getting below message ( even with the standard plan wherein custom domains feature is available)
"This subscription is not eligible to purchase App Service Domains"

[2018-05-30 05:20] femsulu commented on #9363
@kristianjaeger Thanks for bringing this to our attention. Your comment has been shared with the content owner for further review.

[2018-05-30 05:30] Juliako commented on #7011
@jackawatts you are correct, it will be addressed in v3

[2018-05-30 05:49] femsulu commented on #9377
@rathishrms thanks for sharing the doc link. Your comment has been shared with the content owner for further review.

[2018-05-30 05:51] tamram commented on #9183
@sebader - Thanks for your feedback. I've fixed this across the storage docs by removing the -preview suffix from the version number. The docs should now match the package name.

#please-close

[2018-05-30 05:52] jeevansd commented on #9304
@andrew-best-diaxion Thanks for letting us know. We will prioritize this work now.

[2018-05-30 05:53] femsulu commented on #9382
@SeaDude Thanks for the comment. We are actively investigating and will get back to you soon.

[2018-05-30 06:07] ThierryBT commented on #6017
Thank's !  ;)

[2018-05-30 06:18] masters3d commented on #9173
Cool, is there a reason why these are not linked in the document?

[2018-05-30 06:18] #9173 closed

[2018-05-30 07:02] mike-urnun-msft commented on #9311
@gunzip Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-05-30 07:15] sebader commented on #9183
great :)

[2018-05-30 07:15] #9183 closed

[2018-05-30 07:19] toddwhitehead commented on #8532
@kgremban Its not really that much of an edge case. Anyone following the instructions will get blocked by this error on Raspbian and ubuntu, two pretty core use cases.

[2018-05-30 07:28] LarrikinAussie opened #9385 "Outlook sign-in"
I cannot understand why Outlook sign-in doesn't take a leaf out of the very successful Gmail model and have your Outlook account name there when you click on the mail page.   Having to type in the account name and wait for the password page, to come up, is only a short time, but it is time that would be better spent using your account.   In addition, in the case where a person has multiple Outlook

[2018-05-30 07:36] naveenkrsh opened #9386 "datalake store as default storage"
how do I set datalake store as default storage while creating on demand spark cluster

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc24ebe8-5309-3143-ae92-41b6a5150cf6
* Version Independent ID: d0e667a5-9160-73ce-2d29-156915b60a83
* Content: [Tutorial: Create on-demand Hadoop clusters in Azure HDInsight using Data Fa

[2018-05-30 08:01] SnehaGunda commented on #9081
@AndriyGorda FYI I updated the doc to clarify the supported plans. Hope it helps.

[2018-05-30 08:18] AndriyGorda commented on #9081
@SnehaGunda Thank you Sneha, would you be so kind to share the link to the updated document?
Haven't found it on my own so far.

[2018-05-30 08:32] dominicbetts commented on #9125
@cezane - if you did want to process the telemetry on-premises (which is not how IoT Hub is intended to be used), you need to connect to either the default built-in Event Hubs-compatible endpoint (messages/events), or route messages to a custom endpoint (currently Azure Service Bus, Azure Event Hubs, or Azure Blob storage). In each case Microsoft provide a selection of SDKs and in some cases a RES

[2018-05-30 08:44] HemantChandurkar commented on #8039
In the document under section "Spark Activity Properties". There is py file path mentioned:

"entryFilePath": "test.py",

I assume this is Python file (and I tested it, worked!). I wanted to run Scala script instead of Python (or Pyspark?) within Spark context.

[2018-05-30 08:50] dominicbetts commented on #9367
@fosk06 - did you install the extension as shown in the first CLI script sample?

[code]

The extension is used later in the tutorial and changes  `show-connection-string` to use the parameters as shown in the Quickstart:

[code]

If you don't install the extension, the parameter is `--name`

Thanks,
Dominic

[2018-05-30 09:05] femsulu commented on #9124
@richardcox13 Regarding question #2:
Account Administrator, Service Administrator and Co-administrator will get notified when the checkboxes are used. Only the Owner role can be added as a Co-administrator specifically to manage  Azure Classic deployments. For steps on how to assign co-administrator to the Owner role, please review the steps [HERE](https://docs.microsoft.com/en-us/azure/billing/bi

[2018-05-30 09:17] jecarlsen opened #9387 "AzsScaleUnitnode examples with parameter Region is incorrect"
The Region parameter for <Verb>-AzsScaleUnitNode is not available. Location is the parameter, but it is not required.
I just checked the https://github.com/Azure/AzureStack-Tools/tree/master/Infrastructure

Suggestion:
- Provide samples with 'default' behaviour, no Location
- Provide one sample with additional parameter Location or a note for clarity.

---
#### Document Details

⚠ *Do not edit thi

[2018-05-30 09:19] femsulu commented on #9138
@Davilink & @Jinnial can you both confirm if you are seeing similar latency with page load using Edge?

[2018-05-30 09:36] megadix commented on #9257
On **DSL connection**:

- quick layers (e.g. `f1199079b064`, `c93bcc0e66d8`, etc. see first post) take a minute or so
- slow layers (`6691330056f3`, `bcbe43405751`, etc.) can take 3 to 15 minutes each, however when they reach 100% they never actually complete (Pushed)
- after some "thinking" the process stops with just `EOF` message

On a **corporate network** it takes a couple of minutes for the

[2018-05-30 09:48] PeterKlapwijk commented on #6050
Hi @mtwelve did you get this to work with a internet proxy?

[2018-05-30 10:05] sanjaysahu1984 opened #9388 "Solution for ERROR: Failed to clean the workspace '/var/lib/jenkins/workspace/HelloWorld'"
Had below error while build creation:

ERROR: Failed to clean the workspace
java.io.IOException: Unable to delete '/var/lib/jenkins/workspace/HelloWorld'. Tried 3 times (of a maximum of 3) waiting 0.1 sec between attempts.

It seems like Jenkins doesn't have access to delete. It can be fixed by login into your azure vm and run below command:

$sudo chown -Rh jenkins:jenkins /var/lib/jenkins/worksp

[2018-05-30 10:07] sanjaysahu1984 opened #9389 "Solution for ERROR: Failed to clean the workspace '/var/lib/jenkins/workspace/HelloWorld'"
Had below error while build creation:

ERROR: Failed to clean the workspace
java.io.IOException: Unable to delete '/var/lib/jenkins/workspace/HelloWorld'. Tried 3 times (of a maximum of 3) waiting 0.1 sec between attempts.

It seems like Jenkins doesn't have access to delete. It can be fixed by login into your azure vm and run below command:

$sudo chown -Rh jenkins:jenkins /var/lib/jenkins/worksp

[2018-05-30 10:08] joeweale opened #9390 "Error setting throughput for cosmos db collection"
I am unable to update the throughput (scale) a collection using the azure portal.

![image](https://user-images.githubusercontent.com/12300378/40714106-9bf05626-63f9-11e8-9102-e114c1f48fe7.png)

Lots of errors in dev console...

![image](https://user-images.githubusercontent.com/12300378/40714149-b3975dba-63f9-11e8-97f1-d6474a7c8137.png)

[2018-05-30 10:08] #9388 closed

[2018-05-30 10:26] Praxiss opened #9391 "Azure Container Health documentation issue"
Have reproduced the steps in terms of creating the template and defining the parameters, when executing via the Azure CLI. Following entering the command noted on the page, the action fails. The error is non-specific enough to not know where to go next. Any ideas appreciated

"status": "Failed",
"error": {
  "code": "ResourceDeploymentFailure",
  "message": "The resource operation completed with t

[2018-05-30 10:28] Jens-Lorenz opened #9392 "Make the privacy notice customisable and optional"
We are already using the Azure AD Conditional Access option "Terms of Use" for external B2B accounts (and are happy about the preview option to have a CA for all B2B users, so we can apply it to them). But now users get both this privacy notice with a standard text and the terms of use.
Also, there seems to be no option to customise the privacy notice, which is awkward for a lot of our customers w

[2018-05-30 10:47] joeweale commented on #9390
should add, despite being set to 2500 on initial creation. The box is empty when loaded.

Recently created collections don't have this issue.

[2018-05-30 11:06] DenWin opened #9394 "Azure SQL Database gateway IP addresses for Germany and other national clouds are missing"
Do there exist a command to get the IP addresses from these national clouds, or is this place not even the right location?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1a62365-4312-8aad-d2f1-bb5c4184adf1
* Version Independent ID: 2ba5b809-8025-d7ee-c756-d6d1bab033fb
* Content: [Azure SQL Database connectivity archit

[2018-05-30 11:15] nganani opened #9395 "Add option for Bash in addition to PowerShell"
Can you please add a side by side option for creating certificates via Bash and not just PowerShell. you can use a good Microsoft document that already exist [here](https://github.com/Azure/azure-iot-sdk-c/blob/master/tools/CACertificates/CACertificateOverview.md), and just do the required changes/additions next to each PowerShell script-snippet in the existing doc.

In general, great documentatio

[2018-05-30 11:18] horwengliang95 opened #9396 "Calculation of Sentiment"
Can you explain how does the sentiment of 0 - 1 calculated in Azure Text Analytics as I have been using this tool for my academic research but it seems that there are no reference support on how the value is being calculated? Why 0 to 0.49 is negative, 0.5 is neutral and above 0.5 is positive. What is the calculation behind this value? How do we get to that value?

[2018-05-30 11:26] sanjaysahu1984 opened #9397 "Getting error while installation in resource jenkins/init with status code conflict"
Getting error while installation in resource jenkins/init with status code conflict

"status": "Failed",
"error": {
"code": "ResourceDeploymentFailure",
"message": "The resource operation completed with terminal provisioning state 'Failed'.",
"details": [
{
"code": "VMExtensionProvisioningError",
"message": "VM has reported a failure when processing extension 'Init'. Error message: "Enable failed:

[2018-05-30 11:38] cmilanf opened #9398 "Clarify Oracle support"
The Oracle support stated in this page is confusing. It would be good to know if we are talking about Oracle DB, supported versions and recommended procedure, even as I understand that this should be provided by Oracle.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2eca019-3dc3-a07a-3ff5-a3b67eb437b0
* Version Indepe

[2018-05-30 11:46] noamles opened #9400 "The new wizard dosn't create the correct claim in ADFS when using alternate login id"
The new wizard created all the claim rules described in:
 https://docs.microsoft.com/en-us/azure/active-directory/device-management-hybrid-azuread-joined-devices-setup#step-2-setup-issuance-of-claims
except the rule 'Issue ImmutableID for computer when one for users exist (e.g. alternate login ID is set)' even though ADConnect is configured with alternate login id.
After adding the claim manually

[2018-05-30 11:51] kskvarci commented on #9194
Thanks! I saw this note, while it provides partial clarity I think it could be more concise. It's implied that integration of services that are not covered under exceptions is entirely unsupported. Is this the case? If so it should be explicitly stated. If there's a way to craft a rule-set that supports this integration it should be referenced. Thanks!

[2018-05-30 12:20] JAkerblom commented on #6646
We are also seeing the exact same results when doing both the iris example and on our own models/scoring files. If there is a new issue opened, could you please refer to it here?

[2018-05-30 12:31] jtuliani opened #9402 "Need to explain ContentVersion"
Please can this article be enhanced to explain content version?
For nested templates, the nested template contains 'contentVersion'. But does it do anything?
For linked templates, the linked template contains 'contentVersion' and the parent template also contains a 'contentVersion' property for the linked template. How are these two related? Does Resource Manager include any logic to ensure the co

[2018-05-30 12:42] maoyujiao commented on #7075
LoginFailed-1910505470 i also meet this error,the key is vaild ,but when i get the token,hint the key isnot  vaild.how to do

[2018-05-30 12:52] jimdial commented on #9382
@SeaDude Thanks for catching. I've fixed it.  The change will publish sometime today. #please-close

[2018-05-30 13:11] munir94 opened #9405 "RAM requirement"
Hello, based on my last deployment , the RAM needed for Site Recovery Server is 16GB instead of 12GB. hopefully this document can update on that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc12f304-5826-fb32-1728-5e43f1b05d8a
* Version Independent ID: 7cc3d5a7-9b0e-dd6b-3b34-2036219f5bd6
* Content: [Support matrix

[2018-05-30 13:15] ghost opened #9406 "No module named 'azureml.datacollector'"
When creating an online (so not in local mode) service from an image with the data collector, I get the error:
from azureml.datacollector import ModelDataCollector
ImportError: No module named 'azureml.datacollector'

This is strange as in local mode I do not get this error (because I installed the package with pip).
Is data collection available?

---
#### Document details

⚠ *Do not edit this sec

[2018-05-30 14:04] knssub opened #9407 "When AD B2C will be available in CSP"
When will Azure AD B2C will be available in CSP?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 245ef8a4-a811-19b7-676c-aa9b82e2126f
* Version Independent ID: ad2ec743-2aa7-b3c7-3350-2986a78d7c90
* Content: [What is Azure Active Directory B2C?](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-director

[2018-05-30 14:10] venkateshwj opened #9408 "Register Identity Experience Framework applications as Web Application and Web Api"
I have changed the application type of ProxyIdentityExperienceFramework to "Web APP /Web API" but am getting "Your password is incorrect" when I sign in.

I have a Web App(TaskWebApp) and Web API(Task Service) and am planning to access Web API from web app with custom policies configured.

Is there a way to make it work?

Thanks in advance.

[2018-05-30 14:11] montanamott opened #9409 "What happens if you set a monthly schedule on say, the 31st, and it's February?"
Would the Patch Orchestration App just not check for updates? Would it shift it to the next month? Are you simply not able to put in a number for the date exceeding 28? I apologize if this was answered in the document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3a16900-c967-ccf9-2d87-1c994013bf0e
* Version Indepen

[2018-05-30 14:16] Davilink commented on #9138
Edge has the same behavior than crome on the loading.

[2018-05-30 14:20] SuperDre commented on #9385
I agree, it's very annoying to have 2 screen just to log in.

[2018-05-30 14:23] SuperDre opened #9410 "Seems to log out automatically"
Since the new sign-in, it seems to automatically log me out after a while, even though I have checked the 'keep me signed in' checkbox (or what it's called now). This is very annoying. To me, it seems with every update webbased mail is getting worse and worse.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d23565fb-ccc

[2018-05-30 14:49] mcrsw opened #9412 "Link is incorrect"
In the section "Generating the publish scripts", the link labelled "generate publish scripts for web apps in Azure App Service." goes to a page that doesn't describe how to generate publish scripts. I was expecting instructions on how to create a powershell script?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b189030

[2018-05-30 14:51] mrbullwinkle commented on #9328
@kobulloc-MSFT you can assign this one to me.

[2018-05-30 15:16] YanniG1 opened #9415 "My client wants to move his MPSA azure agreement that comes EOL to a CSP agreement. I believe this can be done by MSFT support once the customer raises a Support Ticket. Can you confirm if this is possible as I can not find instructions on this page. Thanks"
The page doesn't provide information for MPSA migrations to CSP

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65b8cd29-3c9b-6afc-d4fb-256463776002
* Version Independent ID: d905e8f9-49c6-19de-1c43-796efc04003f
* Content: [Transfer Azure subscription ownership to another account](https://docs.microsoft.com/en-gb/azure/

[2018-05-30 15:16] Anmolgan81 opened #9416 "How can I copy from Blob storage to Azure postgre sql database?"
Can you tell me are there any other methods in order to copy the blobs to postgre sql database??
We coudlnt find any documentation in microsoft pages which talks about copying from the azure blob, are there any other methods which can let us copy the daily data, and we can build a pipeline similarly how we do today using ADF??

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-05-30 15:25] jspaith commented on #9395
While we're at it we should consider just pointing back to the repo that contains PowerShell and bash scripts, https://github.com/Azure/azure-iot-sdk-c/tree/master/tools/CACertificates.  This way as we make bug fixes in the underlying scripts they're picked up free, instead of being duplicated.  And the customer doesn't need to clone the whole repo but could just download the scripts in question.

[2018-05-30 15:26] #9382 closed

[2018-05-30 15:31] conceptdev commented on #9051
The [pull request that fixes this](https://github.com/Azure/azure-mobile-apps-quickstarts/pull/113) has been merged, just needs to be enabled in the Azure portal. Can't give exact ETA, but soon.

[2018-05-30 15:47] Mike-Ubezzi-MSFT commented on #9394
@DenWin Thanks for the feedback. We are actively investigating and it appears that, although, there is an Azure Government GitHub branch for documentation, the links from [Azure Government Databases](https://docs.microsoft.com/en-us/azure/azure-government/documentation-government-services-database) source links from the main MicrosoftDocs Azure repository. I believe the Azure SQL Gateway IP addres

[2018-05-30 15:58] mike-urnun-msft commented on #9388
@sanjaysahu1984 Thanks for sharing this solution. Could you let us know which documentation this is applicable to?

[2018-05-30 16:03] mike-urnun-msft commented on #9390
Hey @joeweale - Thank your for your feedback. Could you provide the URL for the specific documentation you were following? That way, we're able to reach out to appropriate content & engineering teams to make necessary changes to that documentation so that others won't run into same issue. Thanks again!

[2018-05-30 16:07] mike-urnun-msft commented on #9396
@horwengliang95 Thank you for your feedback. Were you following a particular documentation when opening this issue? if so, could you provide the URL? That way, we're able to delegate your question to the appropriate content & engineering team.

[2018-05-30 16:12] mike-urnun-msft commented on #9408
Hey @venkateshwj - Thank you for your feedback. Were you following a particular azure documentation when opening this issue? If so, could you provide the URL? That way, we're able to delegate your question to the appropriate content & engineering team and make necessary changes to that documentation so that others won't run into same issue. Thanks again!

[2018-05-30 16:15] aljo-microsoft commented on #6150
Hello Graham, what node type are you scaling up? Do you need to scale vertically or horizontally? Are you adding new workloads, or keeping existing? Are you running in Azure or on prim? Determining how to scale up your cluster requires business and work load context. I'd be happy to take a call to learn more about this, and figure out how we can help you achieve more. The following are some of our

[2018-05-30 16:18] ChackDan commented on #6150
You should be able to go to VMSS (mapped to the nodetype you want to add nodes to) and change the instance count.  the VMs should get added to your cluster in 15 - 30 mins . If that is not happening, then we need to review your cluster logs, for which you need to file a ticket at  https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-support#report-production-issues-or-request-paid-

[2018-05-30 16:20] horwengliang95 commented on #9396
https://westus.dev.cognitive.microsoft.com/docs/services/TextAnalytics.V2.0/operations/56f30ceeeda5650db055a3c9

This is the link that i have read through, i could't understand how the value is being calculated. I need to explain in my conference paper.

[2018-05-30 16:21] neilpeterson commented on #9121
@hadr10 - to follow up on this, I've spoken with the product group. As expected, the issue is related to the crashing Heapster pod. A fix has been merged and should roll out shortly.

@MicahMcKittrick-MSFT - can you assign this one to myself?

Thanks

[2018-05-30 16:27] mimizone opened #9418 "Error 400 Bad Request when following this documentation."
I set up a Ubuntu 16.04 LTS VM and followed all the steps in the documentation.
- enabled the extension via the CLI
- try assigning an admin role to myself

the role assignment returns an error though.

[code]

I both tried from my macOS CLI client and from the web CLI client

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-05-30 16:28] mike-urnun-msft commented on #9412
@mcrsw Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-05-30 16:30] femsulu commented on #9415
@YanniG1 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-30 16:31] mike-urnun-msft commented on #9387
@jecarlsen Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-05-30 16:34] mike-urnun-msft commented on #9395
@nganani & @jspaith Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-05-30 16:36] femsulu commented on #9402
@jtuliani, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-30 16:49] craxal commented on #8900
See also Microsoft/AzureStorageExplorer#92.

[2018-05-30 17:04] mahesh-unnikrishnan commented on #8616
Resolved. #please-close

[2018-05-30 17:07] mahesh-unnikrishnan commented on #8617
#please-close

[2018-05-30 17:08] nitinme commented on #9146
@vasivara-MSFT - Please close this issue.

[2018-05-30 17:09] nitinme commented on #8388
@adumont - We'll proceed to close this issue.

@vasivara-MSFT - Please close this issue.

[2018-05-30 17:09] tfitzmac commented on #9321
@DaveAurionix - the allowed types for the type property are listed in the table.

#please-close

[2018-05-30 17:12] YutongTie-MSFT commented on #9406
@wernerstinckens Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-30 17:15] MicahMcKittrick-MSFT commented on #9121
@neilpeterson done and done. Let me know if you need it reopened or prefer it to be closed.

[2018-05-30 17:15] #8932 closed

[2018-05-30 17:16] neilpeterson commented on #9121
@MicahMcKittrick-MSFT - nope, issue can remain closed. Just wanted to keep it in my bucket for easy retrieval / tracking.

Thanks

[2018-05-30 17:17] tfitzmac commented on #9349
@mganeshphani - thanks for your question. Currently, there is not a PowerShell command for validating a move operation. The best place to request that addition is the [product feedback forum](https://feedback.azure.com/forums/281804-azure-resource-manager).

#please-close

[2018-05-30 17:20] YutongTie-MSFT commented on #9396
@horwengliang95 Hi, please check our [Machine Learning Blog](https://blogs.technet.microsoft.com/machinelearning/2015/04/08/introducing-text-analytics-in-the-azure-ml-marketplace/), which explain the detail of the algorithm. Thanks.

[2018-05-30 17:21] kobulloc-MSFT commented on #9105
@JanaAbhijit and @vishalkhatal

This is where you would submit product feedback requests:

https://feedback.azure.com

We'd be happy to submit this feature request on your behalf, but we'd like to give you the chance to submit directly in case you want to receive notifications, vote, or monitor progress more closely.  Let us know which you would prefer.

[2018-05-30 17:27] faceoffers28 commented on #8111
@Mike-Ubezzi-MSFT, @conceptdev and @BryanTrach-MSFT  It's working, but I don't believe it is working as designed.

Here is the critical snippet of code

[code]
As you can see, I've had to specifically use V4 of the Android.Support.V4.App.NotificationCompat.Builder because version 7 has been deprecated. If not, I won't get the method that allows me to pass the channelId. As such, I can't use the ne

[2018-05-30 17:29] MicahMcKittrick-MSFT commented on #9389
@sanjaysahu1984 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-30 17:30] MicahMcKittrick-MSFT commented on #9409
@montanamott Thanks for the question! We are investigating and will update you shortly.

[2018-05-30 17:31] tfitzmac commented on #9303
@ravikiran-srini - on which line are you getting the error? When used with the curl command, they are referenced as $key and $endpoint.

[2018-05-30 17:31] MicahMcKittrick-MSFT commented on #9418
@mimizone Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-30 17:32] MicahMcKittrick-MSFT commented on #9397
@sanjaysahu1984 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-30 17:37] ggailey777 commented on #7875
@MicrosoftDocs/azure-cxp-triage can you please assign instead to @cephalin, who has agreed to own this issue. Thanks!

[2018-05-30 17:44] TravisCragg-MSFT commented on #8959
@tyrotoxin We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-30 17:44] #8959 closed

[2018-05-30 17:46] vasivara-MSFT commented on #9386
@naveenkrsh Please take a look at this [document](https://docs.microsoft.com/en-us/azure/data-lake-store/data-lake-store-hdinsight-hadoop-use-portal)

[2018-05-30 17:51] YutongTie-MSFT commented on #9283
@farislivemaker Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@SteveMSFT Hi, this should be a product-question & doc-enhancement issue. Can you please help with it and update the document as necessary? Thanks a lot!

[2018-05-30 17:51] vasivara-MSFT commented on #9146
@joymon We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-30 17:51] #9146 closed

[2018-05-30 17:53] tfitzmac commented on #9013
@michaeldaw - thanks for this question.

@banisadr - what qualifies as filtering that is billable?

[2018-05-30 17:59] YutongTie-MSFT commented on #9320
@anand-agrawal-yash I think the problem is related to deploying to a resource group that failed previously.  Can you please try to delete the resource group and deploy again? Thanks!

[2018-05-30 18:01] cherylmc commented on #9377
Hi @rathishrms  - I can change the wording just a bit, but I'm reading it as recommending Microsoft peering over public peering. Is it the "important" comment that is confusing, or are you seeing this somewhere else additionally?

[2018-05-30 18:02] CeciAc opened #9419 "Request for changing the context for step no. 4 in Japanese <https://docs.microsoft.com/ja-jp/azure/billing/billing-how-to-pay-by-invoice>"
@hiromingithub commented on [Wed May 16 2018](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/520)

Hi team, This is Hiromi from Japan Azure Subscription Management Support team.  Please change the contexts for step no. 4 in Japanese as below.  This helps our customers provide all the required information for credit check and reduces the duration and customer effort too.

Current)
会社名
•請求

[2018-05-30 18:04] ameesh-shah commented on #9051
Could you let us know when the quickstart is fixed?

[2018-05-30 18:07] YutongTie-MSFT commented on #9406
@wernerstinckens Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@aashishb Hi, can you please help to make sure if the data collector is available online? And if necessary, can you please update the document as well for users creating online service? Thanks.

[2018-05-30 18:07] vasivara-MSFT commented on #9391
@Praxiss Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-30 18:07] JPL0908 opened #9420 "Error: Jupyter Notebook in HDInsight Spark Cluster"
Same issue as Error in running Jupyter notebook #9029

The code failed because of a fatal error:
Failed to register auto viz for notebook.
Exception details:
"cannot import name DataError".
This error occurs when trying to setup SparkContext:
sc = SparkContext('yarn-client')
or
import spark.sqlContext.implicits._

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2018-05-30 18:10] vasivara-MSFT commented on #9416
@Anmolgan81 Please take a look at this [document](https://docs.microsoft.com/en-us/azure/data-factory/copy-activity-overview#supported-data-stores-and-formats). Azure database for postgre sql is not supported data source as a sink by data factory.

[2018-05-30 18:10] vasivara-MSFT commented on #9416
@Anmolgan81 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-30 18:10] #9416 closed

[2018-05-30 18:11] douglaslMS commented on #6976
@jwood803 Jon, I don't know whether that's on the team's long-term roadmap, and if I did, I wouldn't be able to go beyond what they've announced in public. At the moment, all the focus is on finishing version 2 and its new UI to move from Public Preview to General Availability. The team blogs actively - [Azure Data Factory](https://azure.microsoft.com/en-us/blog/tag/azure-data-factory/) - so follo

[2018-05-30 18:11] douglaslMS commented on #6976
#please-close

[2018-05-30 18:12] #9371 closed

[2018-05-30 18:12] vasivara-MSFT commented on #6976
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-30 18:12] #6976 closed

[2018-05-30 18:15] Adam-Smith-MSFT commented on #9405
@munir94 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-30 18:17] SaurabhSharma-MSFT commented on #9385
Thanks for your feedback! Please post this as a feedback to outlook using either of these
- [upvote](https://outlook.uservoice.com/forums/284136-outlook-com/suggestions/32180194--serious-easy-switching-between-multiple-account) existing feedback using and add more context
- You can alternatively create a new feedback item, either directly at [https://outlook.uservoice.com](https://outlook.uservoic

[2018-05-30 18:18] SaurabhSharma-MSFT commented on #9392
@Jens-Lorenz Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-30 18:19] NickDorak opened #9423 "Remove classic policies?"
We have several classic policies now disabled. How do we remove them?
All options for these disabled classic policies are all greyed out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 105de938-1d05-f418-fde6-e553871de464
* Version Independent ID: 8d050a1b-a22f-3361-ea83-fe227c42814b
* Content: [Migrate classic policie

[2018-05-30 18:19] SaurabhSharma-MSFT commented on #9400
@noamles Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-30 18:21] SaurabhSharma-MSFT commented on #9407
@knssub Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-30 18:24] chrisvugrinec opened #9424 "Additional comments"
Please add the following commands somewhere to the pre requisites piece:
# create SP and give the proper rights
- az ad sp create-for-rbac -n [ NAME OF SP ] --password [ SP PASSWORD ] --role contributor --scopes /subscriptions/[ YOUR SUBSCRIPTION ID ]   (do a "az account show" for this info)
# create resourcegroups for openshift and keyvault
- az group create -n [ NAME OF RG FOR OSO ] -l [ REGION

[2018-05-30 18:27] CeciAc opened #9425 "Source code for the first part of this example"
@mariomeyrelles commented on [Wed May 30 2018](https://github.com/MicrosoftDocs/azure-docs.pt-br/issues/95)

The full code for the first part of the example is located here: https://github.com/Azure/azure-documentdb-dotnet/blob/b349486f4f33ce47c94965a67905cd26187826d8/samples/code-samples/ChangeFeed/Program.cs

It's a more involved example. I recommend to download the example and analyze it locall

[2018-05-30 18:32] chaosrealm commented on #9335
Fixed with https://github.com/MicrosoftDocs/azure-docs-pr/pull/42462

[2018-05-30 18:34] vasivara-MSFT commented on #9416
At this moment, It is not possible by data factory to do this functionality.

[2018-05-30 18:36] #9385 closed

[2018-05-30 18:36] mike-urnun-msft commented on #9410
Hey @SuperDre Thank you for your feedback! While we will send this feedback over to the Outlook.com, it would also be good for you to Upvote or add more details in the Outlook Feedback page. Details on how to access it is as follows

- Upvote existing feedback : You can [upvote this](https://outlook.uservoice.com/forums/284136-outlook-com/suggestions/32180194--serious-easy-switching-between-multip

[2018-05-30 18:36] #9410 closed

[2018-05-30 18:38] quantumtunneling commented on #6150
Hey aljo,

We had issues scaling up the WorkerP0 nodetype (All on Azure, we don't have
any on prem custers). Yesterday at 10:30 AM PST, we manually scaled UP the
WorkerP0 cluster from 18 machines to 60 machines. Then at 11:30 AM PST, we
initiated another scale UP before the first one had finished. We believe
that the second scale up tried to cancel the first scale up (Need
verification of this ide

[2018-05-30 18:41] quantumtunneling commented on #6150
Hey Chacko, VM's take around 45 minutes, sometimes longer before they come
online, and this is an ongoing issue that we have had since day one. To
recap what I told aljo,

We had issues scaling up the WorkerP0 nodetype (All on Azure, we don't have
any on prem custers). Yesterday at 10:30 AM PST, we manually scaled UP the
WorkerP0 cluster from 18 machines to 60 machines. Then at 11:30 AM PST, we
in

[2018-05-30 18:41] watashiSHUN commented on #5525
@jefflafay  @pug205 if you bind to `JObject`, does it still give a nullpointerexception?

[2018-05-30 18:41] Mike-Ubezzi-MSFT commented on #9359
@snpdev Adding a metric alert versus an activity log alert has different implications for configuring the means for the notification process.

When you select Metric Alert, you are presented with the 'Email owners checkbox'.

![screenshot 22](https://user-images.githubusercontent.com/37126106/40740702-5ca4c4ca-63fe-11e8-832d-cbbdc336a2a5.png)

![screenshot 23](https://user-images.githubusercontent

[2018-05-30 18:43] Mike-Ubezzi-MSFT commented on #9359
When you select the Activity Log Alert, you are presented with additional options, in addition to email:

![screenshot 24](https://user-images.githubusercontent.com/37126106/40740785-99ff039e-63fe-11e8-93b7-e39347b5ed52.png)

![screenshot 25](https://user-images.githubusercontent.com/37126106/40740801-9ee11122-63fe-11e8-9660-cde82b86dfec.png)

[2018-05-30 18:45] mferris2421 commented on #8416
@giladmit

Just following up on this one. So far, we're still just piloting things and figured out our issue; but this would be good to know for the future.

[2018-05-30 18:48] Adam-Smith-MSFT commented on #8900
@HZass  closing this thread since Microsoft/AzureStorageExplorer#92 seems to be related to the root cause.

[2018-05-30 18:48] #8900 closed

[2018-05-30 18:53] laultman opened #9427 "Missing Required Info - You Lose the User with a Directory Switch"
Clearly written by someone who already knows where "stuff" is, also known as advanced knowledge not generally known to those just arriving.
Working through the process at "Creating a new application to store..." at the end of the steps (13) you move to the next topic "Modifying your custom policy...". You give no indication that we must switch from AAD to AAD B2C directory or where the "Relying Pa

[2018-05-30 18:56] mike-urnun-msft commented on #8616
@SychevIgor We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-30 18:56] #8616 closed

[2018-05-30 18:57] mike-urnun-msft commented on #8617
@SychevIgor We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-30 18:57] #8617 closed

[2018-05-30 18:57] mike-urnun-msft commented on #9243
@theheatDK We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-30 18:57] #9243 closed

[2018-05-30 18:58] mike-urnun-msft commented on #9321
@DaveAurionix We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-30 18:58] #9321 closed

[2018-05-30 18:59] mike-urnun-msft commented on #9349
@mganeshphani We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-30 18:59] #9349 closed

[2018-05-30 19:00] rathishrms commented on #9377
Nope important section only..

From: Cheryl McGuire <notifications@github.com>
Sent: Wednesday, May 30, 2018 2:02 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rathish Ravikumar <rathishr@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Azure Public Peering Important Section incorrect? (#9377)

Hi @rathishrms<https://na01.safelinks.

[2018-05-30 19:01] Adam-Smith-MSFT commented on #9398
@cmilanf Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-30 19:02] tamram commented on #9273
@VuPhong - Thank you for your feedback.

@aesser - Thank you for providing the fix. It's been merged and will be published to docs.microsoft.com later this afternoon.

#please-close

[2018-05-30 19:02] Glenlake opened #9428 "Please include something that confirms or refutes if these policies are applied if federated with ADFS"
I have seen articles about access control policies that can be applied in ADFS, but it is not clear if you are using ADFS if the polices described in this article can be applied when users obtain a token for a service (for a Microsoft service, or a 3rd party service) where the token is issued by Azure AD.  I can imagine the source IP of the client could be forwarded in a claim, as possibly the bro

[2018-05-30 19:07] SnehaGunda commented on #9081
The changes aren't live yet they should be published by EOD today, you can see the content here: https://docs.microsoft.com/en-us/azure/cosmos-db/online-backup-and-restore#restoring-a-database-from-an-online-backup

[2018-05-30 19:15] snpdev commented on #9359
Thanks Mike. I see the checkbox today, but not yesterday. Here is a screenshot I took on May 29th:

![image](https://user-images.githubusercontent.com/1825479/40742300-14d28132-641c-11e8-83d2-ae334143bda2.png)

[2018-05-30 19:17] laultman commented on #9427
In the note: is this statement: The is referred to as "common" because its elements... Subject is missing from the sentence, what does "The" refer to in the sentence?

[2018-05-30 19:17] HZass commented on #8900
Interesting item is that all versions prior to latest release displayed all items, including empty directory folders.  Where can I download previous release?

Regards,
Hans

Sent from my iPad at an unknown location

[2018-05-30 19:20] NickDorak opened #9429 "List of "Cloud apps""
How can we get a list of all "Cloud apps"? The UI only shows the first few, then you have to already know them to do a search.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 625bb1b2-81fd-9804-c0b5-3cd2904decd9
* Version Independent ID: e4468b05-200e-24ae-75e9-29fb2b3a6ddc
* Content: [Conditions in Azure Active Directo

[2018-05-30 19:22] tfitzmac commented on #8748
@maniankara - that is interesting. I am not sure what is happening here, but perhaps the portal creates a local copy when deploying from that interface. The easiest option is use PowerShell or CLI to deploy and directly reference the external template. If you really need to use the Portal interface, your best option might be to replace the use of that expression with hard-coded values that point t

[2018-05-30 19:22] aljo-microsoft commented on #6150
It sounds like you attempted to scale out your primary node type to 60, from 18, and then a second Azure Resource Manager deployment attempted to scale from 60 to 85 total VM's; before your initial scale out to 60 VM's deployment finished?

As mentioned previously this is the document that describes how to scaling out:
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-sc

[2018-05-30 19:23] laultman commented on #9427
I found this in the Prerequisites section:
"Complete the steps in the article Getting Started with Custom Policies."

This has the missing information. It would be advisable to mention again that the reader will find the information in the Getting Started link from Prerequisites.  However the actual name in the left side menu is "Get Started" not Getting Started.

[2018-05-30 19:26] MicrosoftGuyJFlo commented on #9300
@SaurabhSharma-MSFT This is a product question and should be routed to the PG

[2018-05-30 19:27] Mike-Ubezzi-MSFT commented on #9359
@snpdev Thanks for the update. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

Regards,
Mike

[2018-05-30 19:27] #9359 closed

[2018-05-30 19:28] mike-urnun-msft commented on #9273
@VuPhong We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-30 19:28] #9273 closed

[2018-05-30 19:31] cshalda opened #9430 "Prerequisites section is redundant"
Looks like two versions of the prerequisites content are showing in the public view, should be cleaned up.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1a0ff03-4368-38c8-70e6-b41b6f79051c
* Version Independent ID: 31491ee3-751f-ccf7-8d54-049065bfba20
* Content: [Manage user access with Azure AD access reviews](https

[2018-05-30 19:32] YutongTie-MSFT opened #9431 "Experimentation Service -> Remote compute in on premise Linux VM"
Hi,

There is some difference between two documents we have, please help to correct them to make it consistent. Thanks.

[Document 1](https://docs.microsoft.com/en-gb/azure/machine-learning/desktop-workbench/experimentation-service-configuration)
[Document 2](https://docs.microsoft.com/en-us/azure/machine-learning/desktop-workbench/overview-general-concepts)

The post in [MSDN](https://social.msdn

[2018-05-30 19:39] martimartin commented on #8837
the same error...

Start-AzureStorageBlobCopy : Cannot bind argument to parameter 'AbsoluteUri' because it is null.

[2018-05-30 19:44] douglaslMS commented on #8039
@HemantChandurkar Thanks for the clarification. I'm not personally experienced with Spark. I'm waiting for an answer to your question.

[2018-05-30 19:45] Mike-Ubezzi-MSFT commented on #9425
@CeciAc Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-30 19:50] jefflafay commented on #5525
@watashiSHUN yes I still get the same error. I believe that's what the VS template added as the type to bind to when I created the function file.

Native support like this for event grid hasn't been so good since I've started to develop solutions that utilize the new feature. So I had to manually create functions with http triggers instead. Which isn't the best because I have to do the validation

[2018-05-30 19:52] SaurabhSharma-MSFT commented on #9344
@aqasrawi The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2018-05-30 19:52] #9344 closed

[2018-05-30 20:00] Mike-Ubezzi-MSFT commented on #9118
GitHub pull request #9341

[2018-05-30 20:17] mferris2421 opened #9432 "Powershell Method"
Documentation on the powershell way would be excellent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d90bbf62-44f9-30a6-d6ea-bbf776f6efc5
* Version Independent ID: b3961eac-6c70-b345-f48c-e4c0ec67059c
* Content: [Azure App Service IP Restrictions](https://docs.microsoft.com/en-us/azure/app-service/app-service-ip-rest

[2018-05-30 20:21] dkkapur commented on #8875
No, you'll have to use certs or use AD/Kerberos.

[2018-05-30 20:26] pixelbath opened #9433 "Further login improvements"
Not only would placing the email and password on the same screen be an immense improvement, you could go further. Place them on the same form **at the same time**, and I can use more secure login options like KeePass or LastPass.

(removed unnecessary ranting)

[2018-05-30 20:26] #8875 closed

[2018-05-30 20:30] TechnicallyWilliams opened #9434 "ONNX link"
There is no link in this documentation for an example on how to use ONNX in C#. Please include this link in the Next Steps portion:

https://github.com/Microsoft/Windows-Machine-Learning/tree/master/Samples/UWP/WinMLExplorer/WinMLExplorer

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 916de6f5-ef41-c82b-5918-0c6149326a

[2018-05-30 20:32] Gemakk opened #9435 "The Webhook example does not work as shown for the Test Pane"
The JSON string used isn't valid JSON and would fail during serialization.  Additionally, the workbook script would take in the JSON as a string object instead of a PSObject.  The solution would be to:

1. Cast $Webhookdata as a PSObject
2. Remove the single quotes around the array

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2018-05-30 20:33] ctapus opened #9436 "Broken download link"
The download link https://azurebigdatatutorials.blob.core.windows.net/rquickstart/RFiles.zip is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a98c24e0-abdd-7de6-136c-7a436c4817d2
* Version Independent ID: cbade9b4-0f5d-982f-b4a2-0bb25ee93995
* Content: [Quickstart tutorial for R language for Machine Learning](

[2018-05-30 20:35] tamram commented on #9192
@kskvarci - Thanks for your feedback. I've updated the article with more information about the supported operations. It will be published to docs.microsoft.com later this afternoon.

Basically, the supported operations are those for containers/blobs and queues/messages for which you have permissions given your RBAC role. We have a [reference table](https://docs.microsoft.com/rest/api/storageservic

[2018-05-30 20:35] tamram commented on #9192
#please-close

[2018-05-30 20:42] MicahMcKittrick-MSFT commented on #9424
@chrisvugrinec Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-30 20:42] MohitGargMSFT commented on #9256
@mahanpathak We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-05-30 20:42] #9256 closed

[2018-05-30 20:52] MicahMcKittrick-MSFT commented on #9257
@megadix thanks for the extra information. I will assign this to the author to review and see if we need to add any additional information to the doc on upload speeds.

@SteveLas can you take a look?

[2018-05-30 20:58] vasivara-MSFT commented on #9420
@JPL0908 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-30 21:00] vasivara-MSFT commented on #8388
@adumont We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-30 21:00] #8388 closed

[2018-05-30 21:01] rothja commented on #9350
@georgewallace Are you the lead for the Azure Automation content? If so, can you take a look at this limits request and see if this is something you could add to the article? @jefffanjoy Thank you for the feedback!

[2018-05-30 21:07] aliuy commented on #9215
Yes, you can form a composite key by concatenating the device id and time (for example - partition key = "device123-april-2017") to increase the amount of storage per device.

You could then route queries to the appropriate partition key values using the IN clause e.g. SELECT * FROM c WHERE c.partitionKey IN ("device123-april-2017", "device123-may-2017")

[2018-05-30 21:09] watashiSHUN commented on #5525
what is your visual studio version and function tools version? for reference, here is mine:
![image](https://user-images.githubusercontent.com/6531400/40747671-dd5c713a-6412-11e8-816e-af09f525baf2.png)
![image](https://user-images.githubusercontent.com/6531400/40747632-b82d5104-6412-11e8-9ca0-e95941e298e3.png)
Yes, in the past this was not prioritized, but with latest VS, you can work from a **def

[2018-05-30 21:11] col726 opened #9438 "email scope appears as if it is supported"
From only looking at this page, it looks like the email scope is supported and would bring back an email claim. However if I refer to this page: https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-limitations, it explicitly states that the email scope is not supported for the v2.0 endpoint. Would be nice to note that in the email scope section.

---
#### Document De

[2018-05-30 21:13] #9141 closed

[2018-05-30 21:18] aliuy commented on #9098
Hey @HK-Zhang - Monotonic writes and read your own writes is only guaranteed for session consistency; and bounded staleness is not inclusive of session consistency (RYW).

[2018-05-30 21:18] MicahMcKittrick-MSFT commented on #9331
@TomArcher can you help on this one? I followed the doc and I am seeing the same error

![image](https://user-images.githubusercontent.com/32313503/40748136-4a101a42-6414-11e8-8ab8-ffd79ef6d56c.png)

[2018-05-30 21:18] georgewallace commented on #9350
@rothja Yes I own the automation content.  @jefffanjoy let's work this offline and get this implemented.. I will email you as I have other limits I need to add to this as well.  Are you ok to close and we can work on updating this?

[2018-05-30 21:19] MicahMcKittrick-MSFT commented on #9370
@daveclarke can you elaborate? Where are you seeing this issue in the doc?

[2018-05-30 21:19] SnehaGunda commented on #9098
@Mike-Ubezzi-MSFT  can you assign this issue to @aliuy

[2018-05-30 21:20] MicahMcKittrick-MSFT commented on #9379
@tdykstra is this something you can advise on?

[2018-05-30 21:20] SnehaGunda commented on #9215
@Mike-Ubezzi-MSFT  can you assign this issue to @aliuy

[2018-05-30 21:21] MicahMcKittrick-MSFT commented on #9389
@iainfoulds can you take a look and see if this is something we should include into the doc?

[2018-05-30 21:26] daveclarke commented on #9370
I took a screen grab of it.
-----
daveclarke@me.com | T 06 752 1122 | M 027 539 0094

[2018-05-30 21:27] MicahMcKittrick-MSFT commented on #9409
@montanamott I believe it will default to the 28th in this case if there is a month that does not have 31 days.

@novino can you confirm on this?

[2018-05-30 21:27] ggailey777 commented on #9292
@GeekActual I've made some freshness updates to the Visual Studio quickstart, but I didn't find anything in the current article that was "completely and totally out of date." I was able to create a C# functions project from the HTTP trigger C# template. Are you using the [latest version](https://docs.microsoft.com/en-us/azure/azure-functions/functions-develop-vs#check-your-tools-version) of Visual

[2018-05-30 21:30] MicahMcKittrick-MSFT commented on #9370
@daveclarke can you share it? Not sure I am fully understanding the issue.

The doc page is displaying an error?

[2018-05-30 21:32] daveclarke commented on #9370
I attached the image to the previous email - wasn’t intending to be obtuse :-) I’ll attach again but is it being scrubbed on the way to you?

-----
daveclarke@me.com | T 06 752 1122 | M 027 539 0094

[2018-05-30 21:33] HK-Zhang commented on #9098
@aliuy, do you mean they are not guaranteed even in a single region?

[2018-05-30 21:39] #9402 closed

[2018-05-30 21:39] mike-urnun-msft commented on #9432
@mferris2421 Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-05-30 21:40] tfitzmac commented on #9402
@jtuliani - thanks for this question. I added some content to clarify its usage. Basically, the contentVersion is a required property of a template, so when you use a nested template, you have to include it. When linking to a template, you do not have to specify a content version. But, if you do provide it, it must match the version in the template.

There is no connection between the version in t

[2018-05-30 21:44] kobulloc-MSFT commented on #9248
@HowardvanRooijen Thank you again for catching this.  The link has been corrected (https://blogs.msdn.microsoft.com/apimanagement/2018/04/11/important-changes-to-openapi-import-and-export/) and should be merged shortly.

We are going to close this thread as resolved but if there are any further questions regarding this matter, please tag me in your reply and we will be happy to continue the conver

[2018-05-30 21:44] #9248 closed

[2018-05-30 21:47] MurrayFoxcroft opened #9439 "Cant run samples."
No matter what I try I cant get the samples to launch. I seem to hit the endpoint fine but the functions cannot be found.

[30/05/2018 21:42:41] Executed HTTP request: {
[30/05/2018 21:42:41]   "requestId": "098e836e-4fb0-4fd1-9bb3-3be76edd9764",
[30/05/2018 21:42:41]   "method": "GET",
[30/05/2018 21:42:41]   "uri": "/orchestrators/E1_SayHello",
[30/05/2018 21:42:41]   "authorizationLevel": "Anon

[2018-05-30 21:47] TheYabadabadou opened #9440 "Need more details for when we create the dataset with the Azure portal UI"
I find that there is not enough details for when I create the job with the Azure Portal UI.  The "Dataset properties" and "Copy activity properties" parts are really not intuitive and clear for me when I am in the UI.
Once I configure the service, I don't know what to do next in the UI (for example: what should I enter in the schema tab and advanced tab?).  It definitely needs more details and som

[2018-05-30 21:52] sethmanheim commented on #8422
@GraemeSMiller Thank you for the suggestions! Sorry for the slow response. We are actively updating the Event Hubs Capture guidance, so we will definitely take this feedback into account when updating the article.

[2018-05-30 21:52] sethmanheim commented on #8422
#please-close

[2018-05-30 21:54] sethmanheim commented on #9099
#please-close

[2018-05-30 21:58] cgillum commented on #9439
@MurrayFoxcroft **E1_SayHello** is an activity trigger and is not intended to be invoked directly. Instead you're supposed to target orchestration triggers with this HTTP API. Can you try invoking **/orchestrators/E1_HelloSequence**?

[2018-05-30 21:59] nitinme commented on #9420
@JPL0908 Can you give more details on your setup, such as:
* HDI/Spark cluster version
* Kernel you use for the notebook

Thanks!

[2018-05-30 22:01] femsulu commented on #9433
@pixelbath Thanks for your comment. It's unclear If this general feedback or if it is targeted towards a specific document. If its a specific document, please share the document url.

[2018-05-30 22:01] tamram commented on #8163
@jabberhams - thanks for your feedback. I agree this was confusing. The SAS token does not require that the container be available for public access. The token grants access to a secured container for an interval of time and with specific permissions.

I've removed the line of code that set the container public access to "Blob", from both the article and the sample. I will also further evaluate to

[2018-05-30 22:03] MicahMcKittrick-MSFT commented on #9418
@mimizone are you using a local instance of Azure CLI or using the Cloud Shell? I attempted this in the cloud shell and it succeeded as expected.

[2018-05-30 22:04] femsulu commented on #9419
@CeciAc Thanks for bringing this to our attention. Your feedback has been shared with the content owner and localization lead for further review.

[2018-05-30 22:07] femsulu commented on #9435
@Gemakk Thanks for bringing this to our attention. Your comment has been shared with the content owner for further review.

[2018-05-30 22:30] roygara commented on #9372
@Roblarson thank you for reaching out! I looked into it, SSE is available in Azure China with MS managed keys, not customer managed keys. I'll add an item to our backlog to update the FAQ.

[2018-05-30 22:32] rafats commented on #9425
Can you please point me to the exact solution which did not work for you?

[2018-05-30 22:46] SaurabhSharma-MSFT commented on #9336
@iop111 MSI Please post this as a feedback @ https://feedback.azure.com/forums/169401-azure-active-directory. This will allow the community to upvote and for the product team to include into their plans.
We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2018-05-30 22:47] SaurabhSharma-MSFT commented on #9199
@dragerz We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-30 22:47] #9199 closed

[2018-05-30 22:47] cbrooksmsft commented on #9194
@AlanSt - can you take a look?

[2018-05-30 22:51] anandyadavMSFT commented on #9199
Updating AD FS SSL certificate via AAD Connect **is** dependent on the version of AAD Connect to be higher than 1.1.819.0. @dragerz can you try installing the latest version?

[2018-05-30 22:51] SaurabhSharma-MSFT commented on #9423
@NickDorak Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-30 22:53] vasivara-MSFT commented on #9440
@TheYabadabadou Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-30 22:53] SaurabhSharma-MSFT commented on #9427
@laultman Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-05-30 22:54] SaurabhSharma-MSFT commented on #9428
@Glenlake Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-30 22:56] SaurabhSharma-MSFT commented on #9429
@NickDorak Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-30 22:57] SaurabhSharma-MSFT commented on #9430
@cshalda Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-30 23:00] SaurabhSharma-MSFT commented on #9438
@col726 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-05-30 23:06] ravensorb opened #9442 ""Add Existing" functionality no longer exists in current azure Portal interface"
Looks like the documentation needs to be updated as their is no longer any way to add an existing disk to a VM

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d78385db-23e4-0471-6d03-262ac6c73407
* Version Independent ID: d2ebdfb2-5f43-8bdc-fdb4-01948a275681
* Content: [Attach or detach a data disk to a virtual machine

[2018-05-30 23:07] iainfoulds commented on #9389
Sorry you ran into issues, @sanjaysahu1984

@MicahMcKittrick-MSFT Can you replicate this behavior?

[2018-05-30 23:15] iainfoulds commented on #9347
Thanks for the feedback, @akramwaseem . This feature is currently in preview, so we're not trying to cover every possible way of interacting with the platform. In some instances, we do try to, such as the scale set disk encryption in preview for PowerShell and Azure CLI. The existing doc is already somewhat busy with the PowerShell registration steps including Service Fabric clusters, so duplicati

[2018-05-30 23:16] #9347 closed

[2018-05-30 23:56] dynamicwebpaige opened #9445 "Additional language support (JavaScript, etc.)."
🙏Thanks for adding code samples for Python🐍 and for C#💣! Would it be possible to also add code for JavaScript and other widely used languages? Or are those model inferencing code samples available in another repo?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6ce721f-942d-58e3-3ab1-0df98fb5d1b5
* Version Independent

[2018-05-30 23:56] banisadr commented on #9013
@michaeldaw that's a great question - today advanced matches are only use of the subject ends with (suffix) filter. As we add more types of filtering, those will also count as advanced matches as they will require extra computation on our end.

[2018-05-31 00:13] rolyon commented on #9259
Made updates to files names
https://docs.microsoft.com/en-us/azure/active-directory/active-directory-reporting-api-audit-samples
https://docs.microsoft.com/en-us/azure/active-directory/active-directory-reporting-api-sign-in-activity-samples

[2018-05-31 00:13] rolyon commented on #9259
#please-close

[2018-05-31 00:16] limjianan commented on #9259
just on the sign in activities sample the below still says audit logs.

Once you finish editing the script, run it and verify that the expected
data from the <<<<Audit logs>>> report is returned.

On 31 May 2018 at 10:13, Robert Lyon <notifications@github.com> wrote:

[2018-05-31 00:26] SaurabhSharma-MSFT commented on #9203
@cshahria Can you try following [How to troubleshoot non-browser apps that can’t sign in to Office 365, Azure, or Intune](https://support.microsoft.com/en-us/help/2637629/how-to-troubleshoot-non-browser-apps-that-can-t-sign-in-to-office-365) documentation if this helps resolve your issue.

[2018-05-31 00:26] YutongTie-MSFT commented on #9434
@TechnicallyWilliams Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-31 00:27] YutongTie-MSFT commented on #9436
@ctapus Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-31 00:27] YutongTie-MSFT commented on #9445
@dynamicwebpaige Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-31 00:43] #8103 closed

[2018-05-31 00:50] SteveLasker commented on #9257
Hi @megadix
I confirmed with our engineering team that this is a common problem with slow/latent/unreliable connections. The larger the image, or more specifically, the larger the layers, the more fragile it is.
You might also see problems if you're attempting to pull a linux image from windows, or a windows image from mac.  If you're using Docker for Windows, you might confirm you're set to the p

[2018-05-31 00:57] femsulu commented on #9138
Do you have any network/fiddler capture for these latency peeks. If yes, please send to AzCommunity@microsoft.com and my team will investigate further.

[2018-05-31 00:57] YiWuti commented on #9371
Thank you.

[2018-05-31 01:00] YiWuti opened #9447 "Does double delete extend the retention time?"
If I try to delete a deleted blob, will it start counting again and extend the retention time or not? Just to confirm.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78964956-a479-5fbe-710d-19e361542a36
* Version Independent ID: 15e70532-6d39-47ed-6932-ef3eb88e33f0
* Content: [Soft delete for Azure Storage blobs (Previ

[2018-05-31 01:01] CelesteDG commented on #8751
PR in progress: https://github.com/MicrosoftDocs/azure-docs-pr/pull/42600

[2018-05-31 01:03] irinilu opened #9448 "Incompelted documtent that I do not find details on how to configure eventhubs as diagnostic sinks."
1 - details on how to configure eventhubs as diagnostic sinks.

2 - know the specifics of how to configure which metrics get sent to the eventhub.

3 - Some details in various examples that aren't described in the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0ec37aa-f814-8277-60b7-0dc4f91834f1
* Version Indepe

[2018-05-31 01:32] michaeldaw commented on #9013
Sounds great. Thank you for getting back to me.

[2018-05-31 01:42] MicahMcKittrick-MSFT commented on #9257
Thanks for that @SteveLasker!

@megadix I will close this out for now but if you have further issues let us know.

[2018-05-31 01:50] femsulu commented on #9442
@ravensorb Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-31 01:53] femsulu commented on #9431
@YutongTie-MSFT Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-31 02:01] gokhanuluderya-msft commented on #9431
On-prem Linux VMs are not officially supported although it may technically work. We will clarify in both documents.

[2018-05-31 02:20] MicahMcKittrick-MSFT commented on #9389
@iainfoulds I had other issues earlier but seems it was user error. I just went through it again and it seems to have worked just fine:

<img width="328" alt="image" src="https://user-images.githubusercontent.com/32313503/40757629-4c3200f4-643e-11e8-92e3-881a19017e8e.png">

<img width="615" alt="image" src="https://user-images.githubusercontent.com/32313503/40757637-5386bcaa-643e-11e8-81e7-bc23403

[2018-05-31 03:14] horwengliang95 commented on #9396
Hi i have read through the blog, now i understand the algorithm behind the Azure Text Analytic. But im still figuring out the formula that is being used as i have to reference them in my research paper. This is an example of formula that is being stated in one of the research paper but is for different model used in Azure Text Analytic.

<img width="588" alt="screen shot 2018-05-31 at 11 03 42 am"

[2018-05-31 03:19] genlin commented on #9173
@masters3d Good idea. I will link to this article from "Add or change Azure admin subscription roles".

[2018-05-31 03:31] genlin commented on #9415
@YanniG1 Yes, we can migrate from MPSA to CSP. For more detail,  please contact [contact support](https://portal.azure.com/?#blade/Microsoft_Azure_Support/HelpAndSupportBlade).

[2018-05-31 03:42] jefffanjoy commented on #9350
Sure, reach out to me as needed.

[2018-05-31 03:45] domkirby commented on #9203
@cshahria - If using chrome, check out the Windows 10 Accounts plugin https://chrome.google.com/webstore/detail/windows-10-accounts/ppnbnpeolgkicgegkbkbjmhlideopiji

[2018-05-31 04:12] LloydLimH opened #9449 "Error in Documentation: https://*.trafficmanager.com should be https://*.trafficmanager.net"
There is an error in the documentation https://*.trafficmanager.com should be https://*.trafficmanager.net

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bf65509-158a-6ae7-60f0-586170fab6af
* Version Independent ID: e42850b4-5019-37d3-701b-aac444d3c314
* Content: [Azure Stack datacenter integration - Publish endpoints

[2018-05-31 04:17] cshahria commented on #9203
Thank you everyone for your recommendations. I will try these steps. And to clarify, I'm using chrome for business which is locked down in my organization. I'll try the steps and will report back!

[2018-05-31 05:30] SaurabhSharma-MSFT commented on #9276
@harvgall We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-31 05:30] #9276 closed

[2018-05-31 05:32] marknhenry commented on #9029
I've set up a vanilla HDI cluster 3.6 with Spark 2.2.0.  Jupyter works fine there.  When I tried to configure my local sparkmagic kernels to jupyter and I connected to the spark cluster via my local jupyter, I got this error.

Help appreciated.

[2018-05-31 05:59] astaykov opened #9451 "Include licensing information"
Dear team, please Include here also the very important licensing information. The licensing is very well described [here](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-reporting-azure-portal), but is missing from the current doc. This leaves the impression that everything is accessible through the API.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2018-05-31 06:20] xiaoyinok commented on #9061
if the communication is high frequency, then it's better to set up the TCPIP parameter to release the TIME_WAIT connection.

Get-Item 'HKLM:\System\CurrentControlSet\Services\Tcpip\Parameters' | New-ItemProperty -Name MaxUserPort -Value 65534 -Force | Out-Null
Get-Item 'HKLM:\System\CurrentControlSet\Services\Tcpip\Parameters' | New-ItemProperty -Name TcpTimedWaitDelay -Value 30 -Force | Out-Null

[2018-05-31 06:47] farislivemaker commented on #9283
hay there, I worked it out, I have created volley class for sending a binary image to FACE API and receive a response, And I found that face_similar API consumes JSON Object parameter and gives JSON Array response.  worked on both section and solved it out.

[2018-05-31 07:04] larsvillaume opened #9452 "Some menu options are not visible"
I cannot see the Filter and Publish menu items in edit mode in view designer. Why could that be?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 509bc5b8-98b4-001c-0111-bc9f2e4645a5
* Version Independent ID: 3f44c969-e9a0-fc09-17e0-df9ecb842712
* Content: [Create views to analyze data in Azure Log Analytics](https://doc

[2018-05-31 07:23] Jeffa007 opened #9454 "OrganizationalUnit attribute for device objects"
I have been unable to create a dynamic device group based on the above attribute .. it doesn't appear to be synched to Azure. Can you confirm that this actually works?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f7a4070-1be8-5f1f-0092-68fb6b9e2305
* Version Independent ID: cd34312f-b507-affe-555e-1e0c63e7d494
* Con

[2018-05-31 07:29] junpark12 opened #9455 "node.js + visual studio"
[Enter feedback here]
Can you provide a guidance for node.js + vs.net 2017 environment? not vs code.
thanks.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55e8079e-2433-4c01-550b-f9c2c7fd4271
* Version Independent ID: 5cc692b3-2faf-c9b3-fd9e-bd2b8676efd2
* Content: [Create a Kubernetes development environment in the cl

[2018-05-31 07:41] LevariGitHub opened #9456 "QnA Maker"
Hi. The new portal has a new "filter" functionality, also based on pairing?. I would be grateful if anybody could supply the documentation for this new feature.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cb10c01-db1f-1c61-f5cd-857df2b7fbd8
* Version Independent ID: 3ef184f7-6288-caec-ea33-f3d5dadd8965
* Content: [

[2018-05-31 07:43] MohitGargMSFT opened #9457 "Issue with FileAgnt.exe mentioned in To create a sample SCIM endpoint section"
There has been lot confusion around the step 7 mentioned in this section - https://docs.microsoft.com/en-us/azure/active-directory/active-directory-scim-provisioning#getting-started-1 of document which state to use FileAgnt.exe. However, it seems that is not correct, it need to be Filesvc.exe. There have been Stack Overflow thread - https://stackoverflow.com/questions/49412093/azure-ad-synchroniza

[2018-05-31 07:43] femsulu commented on #9447
@YiWuti  Thanks for the comment. We are actively investigating and will get back to you soon.

[2018-05-31 07:45] femsulu commented on #9451
@astaykov Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-31 07:46] femsulu commented on #9449
@LloydLimH Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2018-05-31 07:48] MohitGargMSFT commented on #9457
@asmalser-msft Please check on this issue as customers have raised it in multiple online forum. I have verified one part of it where using - FileAgnt.exe http://<ip-address>:9000 TargetFile.csv seems to be wrong as when we build solution and run it, below is the result. It seems Filesvc.exe need to be run in this step. Please clarify and make required changes to document.
![s1](https://user-images

[2018-05-31 07:51] femsulu commented on #9448
@irinilu Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-31 08:02] davelee212 opened #9458 "Incorrect screenshot"
In part 2 of "Add a retention disk" the wrong screenshot is used.

It should look something like this

root@ASRLinuxMT01:~# multipath -ll
36000c295cf08d003e0902a37288ef983 dm-2 VMware,Virtual disk
size=1.0T features='0' hwhandler='0' wp=rw
'-+- policy='round-robin 0' prio=1 status=active
  '- 32:0:1:0 sdb 8:16 active ready running

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2018-05-31 08:13] junpark12 opened #9459 "debugging error."
Hi when i run debug , i received the following exception.
---------------------------
Microsoft Visual Studio
---------------------------
Could not find Azure Dev Spaces resource 'xxxx' in resource group 'xxxx' in subscription 'xxxxxxx'.
---------------------------
It worked before, but when i try "debug across multiple services" section, i receive the sample error from webfrontend and webapi proj

[2018-05-31 08:16] dodgy99 commented on #5461
There is no longer an option to enter Parameterizable properties in ADF. Could this tutorial please be updated?

[2018-05-31 08:33] vishalkhatal commented on #9105
Thanks @kobulloc-MSFT . I will submit the feedback.

[2018-05-31 08:49] dominicbetts commented on #8860
@cezane - Thanks for this - I've made a change to the docs as you suggested. It should be live later today.

[2018-05-31 08:49] dominicbetts commented on #8860
#please-close

[2018-05-31 09:04] sanjaysahu1984 commented on #9389
I did it in cloud shell

[2018-05-31 09:22] GraemeSMiller commented on #8422
Great thanks. Just be better to explain how to get a more Kafka like experience of replaying all historic events.

[2018-05-31 09:22] #8422 closed

[2018-05-31 10:07] coffeymatt opened #9460 "Why do I need a special SignalR Service for this in azure?"
What's wrong with a regular app service with web sockets enabled, why do I need this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edb1fa6c-8433-882f-8b97-4d381f885b1d
* Version Independent ID: aad3ec71-363f-3500-8bcd-dc040f71821e
* Content: [Quickstart to learn how to use Azure SignalR Service](https://docs.microsof

[2018-05-31 10:19] SamirFarhat opened #9462 "Storage Service Endpoints with ASR ?"
Is the following statement true ?
 "If you're using custom routes, you should create a virtual network service endpoint in your virtual network for "Storage" so that the replication traffic does not leave the Azure boundary"

Storage Service Endpoints are only applicable for the communication within the same region or between paired regions. Which means that the Virtual network and the Storage acc

[2018-05-31 10:32] waheedhussain opened #9463 "Global VNet peering"
Hi,

Global VNet peering explained at below link, but the above article says that the VNets "cannot be connected together" in the overview section. Confusing! Please explain....

https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-peering-overview

thanks
Waheed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2018-05-31 10:32] LarrikinAussie opened #9464 "Outlook sign-in page."
It is an absolute joke, that you are messing around with the layout of the Outlook sign-in page !!!   Who gives a flyin' stuff if I have to type my account name, into a text box, or onto an open line!!!   I'm still having to type it out!!!   Then I have to wait for the password page to arrive and type into another form.   It all takes time away from my day.    I should be clicking on my Microsoft

[2018-05-31 11:10] martinfierz opened #9466 "Empty chart"
I ran the example - everything seemed to work as intended, except that in the end the graph is empty. A little more information on how to see where data might be stuck would be helpful

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 681e10a1-05d3-5761-2afd-42602a7efecf
* Version Independent ID: f72e21b1-3530-8554-f1f1-f

[2018-05-31 11:11] kskvarci opened #9467 "Default VM Size"
Create VM with specific size
In the previous VM creation example, a size was not provided, which results in a default size. A VM size can be selected at creation time using az vm create and the --size argument.

Can the documentation specify what the "default size" is and how it it calculated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2018-05-31 11:14] martinfierz opened #9468 "Azure storage explorer"
I ran the example, and could find something in the Azure Storage explorer - under blob containers there is the container I created, but I cannot see the messages sent from my device. If I double-click on the files (named by date, e.g. 01>2018>05>31>09>24, I get a prompt asking me how I want to open this file - if I choose the editor, I see a large number of Chinese symbols (扏Ūᐄ癡潲挮摯捥済汵ᙬ癡潲献档浥큡笄琢灹≥∺敲

[2018-05-31 11:16] mayanknayar commented on #9462
Hi Samir
Replication for IaaS DR is a two step process. Data writes on the VM are first sent to the cache storage account in the same region and then transferred to the target storage account in the target region.

The first part is where data coming out of the VM network can be redirected out of Azure and that's where VNet service endpoints will come into the picture. The latter part (transfer fr

[2018-05-31 11:19] SamirFarhat commented on #9462
That makes sense. I thought that step2   was working like step2. Thanks for the confirmation and the quick reply.

[2018-05-31 11:20] snehithm commented on #9334
@waheedhussain This is supported. Docs are pending update. Will update the docs and close this out.

[2018-05-31 11:21] mayanknayar commented on #9462
Happy to help. Let us know if you face any issues with the setup and we'll look into it.

#please-close

[2018-05-31 12:00] SaurabhSharma-MSFT commented on #9454
@Jeffa007 Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-31 12:01] amit133 opened #9469 "Powershell variable assignment needs a $ sign else it throws error"
I am using Powershell to execute this tutorial. The following commands threw error:
CLIENT_ID=$(az aks show --resource-group myResourceGroup --name myAKSCluster --query "servicePrincipalProfile.clientId" --output tsv)
ACR_ID=$(az acr show --name <acrName> --resource-group myResourceGroup --query "id" --output tsv)

Error (Full error message not pasted for brevity):
CLIENT_ID : The term 'CLIENT_ID'

[2018-05-31 12:20] Ankush-Jacob opened #9470 "A very nice first experiment tutorial !"
Lucid yet progressively intuitive first tutorial. Feels like someone is holding our hands to guide us.
Even smaller details have been covered.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdd7dec4-a353-0ad5-2de3-1300ade6ad87
* Version Independent ID: 3f024fa1-7c94-a0a1-f72b-df98b33540a5
* Content: [A simple experimen

[2018-05-31 12:27] Artnabaz commented on #9233
Found my self in the exact same situation.
Did you manged to apply appropriate permission using powershell and then access the blob with Storage Explorer, or is powershell the only way to access the blob with Azure AD auth at the moment ?

[2018-05-31 12:28] almusawi opened #9471 "Data lake as data source"
Hi,

How can add a data lake in another azure subscription as a data source to Data lake Analytics?

Thanks

# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation f

[2018-05-31 12:31] miicahjardine commented on #9233
Hi,

I can apply the permissions using portal,  but at the moment libraries are only available for python, .net and java.   So I am just waiting for updates to the powershell modules and or storage explorer.

Cheers

Micah

Sent from my iPhone

On 31 May 2018, at 13:27, Artnabaz <notifications@github.com<mailto:notifications@github.com>> wrote:

Found my self in the exact same situation.
Did you m

[2018-05-31 12:51] JPadster opened #9472 "Running for a few weeks, now failing"
Hi,
Has something changed in the AppInsights API Connector from LogicApps? I've had this logic app running for a few weeks, but its failing today with a 401 authentication error. I've updated the API connection in Logic Apps but getting the same issue.

            "code": 401,
            "source": "logic-apis-westeurope.azure-apim.net",
            "clientRequestId": "f4938353-9f27-47d7-9c40-d1f

[2018-05-31 12:59] dalmat36 commented on #9050
@aliuy So from the Mongo import doc I found the following equation for calculating insertion workers: numInsertionWorkers = (provisioned throughput * latency in seconds) / (batch size * consumed RUs for a single write).  I have all but the latency...What is the easiest way to determine the latency to Cosmos DB when using the SQL API?

[2018-05-31 13:19] saachinvettiyattil opened #9474 "How can we load/read data into azure psql from a csv file?"
Is there a way to establish a connection between azure postgresql and storage account to load/import data to psql  as my data csv files are stored in it.
Or can we import data from azure sql database to azure postgresql

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79c3f263-04ba-ea60-1927-c2fedde96d61
* Version Indepe

[2018-05-31 13:31] briansturrock commented on #8877
Actually, we have found that the change didn't work for us.  It may be because of our locale settings, but GetEffectiveDateString() returns a string object, while New-AzureRmADAppCredential is expecting a DateTime object.  Like I said, it may be because it can't auto-convert the string to a date, as it's 31/5, and in US format that is invalid, but the script should be changed nonetheless.  The cor

[2018-05-31 13:43] SteveL-CXP opened #9475 "Update Prerequisites for Mounting Azure File Share with Windows to include Test-NetConnection"
Can we please update the section "Prerequisites for Mounting Azure File Share with Windows" to include the PowerShell Command Test-NetConnection.  It is often easier for people to use native tools rather than downloading a separate bit of software.

Test-NetConnection -ComputerName <storageAccount>.file.core.windows.net -Port 445

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2018-05-31 13:47] KuldeepShikhare opened #9476 "Triggering Azure Functions using ARM Template"
Hi,

I am trying to trigger an HTTP Triggered Azure Function using ARM Template.

There is no such resource/documentation regarding this approach.

Is it even possible to achieve this?

If yes, then please help me with the steps to do the same

Thanks in advance! :)

[2018-05-31 14:04] radka-j commented on #9418
I have the same issue, both when running a local instance of Azure CLI and when using the Cloud Shell.

[2018-05-31 14:09] spottedmahn commented on #6721
Hello - any updates?  Thanks 🙏

[2018-05-31 14:19] mjcarrabine opened #9477 "Is protectedSettings a child or sibling of settings?"
Which of these is correct?

The first two examples use this schema:
[code]

But then the rest of the document uses:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4ebf9bf-fb61-e694-1711-4fa00fc8a875
* Version Independent ID: c0b1ab45-6775-b84b-09fa-c77709bbb5d0
* Content: [Desired State Configuration extension

[2018-05-31 14:36] JAkerblom commented on #6646
Apparently there was an issue with running this out-of-the-box on Windows. In docker you could specify using Linux type instead and then it worked.

[2018-05-31 14:45] crowtherdr opened #9478 "Multipage signin is not friendly for password manager software experience"
I use a password manager (1Password) and would rather have the username & password fields on one screen. Microsoft & Google's signin have two of my least favorite signin experiences because they keep track of the last account I was signed in with and have the multiscreen signin. I understand that this experience may be helpful to those who memorize usernames & passwords and type them in. However,

[2018-05-31 15:03] #8861 closed

[2018-05-31 15:04] andreasnilsen commented on #5759
If anyone else is trying to transform an existing Azure Resource Manager template with APNS certificate based credentials into using the Token based authentication instead, be aware that you will also need to change the endpoint address. If you don't, you will just get an uninformative "Bad Request" error.
The Azure portal just displays icons with "Production"/"Sandbox", so it's easy to forget tha

[2018-05-31 15:09] mike-urnun-msft commented on #9312
@paulandrewkent Thanks for reporting this issue. I have validated this issue and confirmed that the particular `cmdlet` that this documentation references is not available yet as the [latest version on Powershell Gallery is at 4.5.0](https://www.powershellgallery.com/packages/AzureRM.Sql/4.5.0).

Furthermore, I have assigned this issue to the content author to review and take the right course of a

[2018-05-31 15:12] wortho opened #9479 "Test that client agent can contact the Locator Service"
The suggested endpoint to test that the client agent can contact the Locator Service "https://locator.sync.azure.com/LocatorServiceApi.svc" cannot be reached. Even on a Client Agent that is connected and working.
Has this changed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86d25bdb-b669-e55b-6750-03c7b25857d5
* Ver

[2018-05-31 15:18] mike-urnun-msft commented on #9408
Hey @venkateshwj - just checking in here again. If you were following steps from a particular azure documentation, could you provide its URL here? That way, we can repro the steps and help unblock you from this issue.

On the other hand, if this was a generation implementation issue specific to your unique project, I recommend opening a [Stackoverflow](http://stackoverflow.com) or [MSDN](https://s

[2018-05-31 15:21] mike-urnun-msft commented on #9390
Hey @joeweale - just checking in here again. Did you run into this issue while following steps from a particular azure documentation?

[2018-05-31 15:28] mike-urnun-msft commented on #9455
@junpark12 Thank you for your feedback! We have assigned this issue to the author to review and take the right course of action.

[2018-05-31 15:29] damarna85 commented on #9084
Hi, I am experiencing the same issue here. It worked perfect several weeks ago, but now I get a timeout no mater what I deploy.
Thanks in advance!

[2018-05-31 15:30] Mike-Ubezzi-MSFT commented on #9004
@cbailiss Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-31 15:31] mike-urnun-msft commented on #9459
@junpark12 Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-05-31 15:33] mike-urnun-msft commented on #9460
@coffeymatt Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2018-05-31 15:34] Mike-Ubezzi-MSFT commented on #9004
@bonova Is it possible to include such details in the documentation?

[2018-05-31 15:34] mike-urnun-msft commented on #9471
Hey @almusawi - Thanks for your feedback. Were you following a particular azure documentation when opening this issue?

[2018-05-31 15:38] keikhara commented on #7018
@BharathRahulDS This will be supported soon.

[2018-05-31 15:41] mike-urnun-msft commented on #9476
Hi @KuldeepShikhare - Thank you for your question! Since this is a channel for addressing issues and discussing improvements for azure documentation, could you post your question on either [Stackoverflow](http://stackoverflow.com) or [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home)?

[2018-05-31 15:42] erikkross opened #9480 "Duplicate paragraph"
Under prerequisites the first paragraph is duplicated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94205933-3124-b7ee-c1f1-cd9cc44e439d
* Version Independent ID: c7c22007-3d50-f273-53a1-0cafd6da0737
* Content: [Manage guest access with Azure AD access reviews](https://docs.microsoft.com/en-us/azure/active-directory/

[2018-05-31 15:45] RobertoPrevato opened #9481 "Please document REST api tags for users"
Instead of just saying: "We recommend using the JavaScript SDK", please describe the information that should be added when contacting the Application Insights REST api. The tags 'ai.user.id', 'ai.user.accountId' and 'ai.session.id' documented in the official GitHub repository have no effect on the Azure Portal Users and Session pages, they always display "1 User", "1 Session", even though inside t

[2018-05-31 15:46] KjetilEVRY commented on #9232
Well, that's fine. But the link you are referring to has clearly the text "Undocumented Features" on top. Why is it hidden so deep? It should be part of the standard documentation.

[2018-05-31 15:47] mike-urnun-msft commented on #9466
@martinfierz Thank you for your feedback! We have assigned this issue to the content author to review and take the right course of action.

[2018-05-31 15:50] mike-urnun-msft commented on #9468
@martinfierz Thank you for your feedback! We have assigned this issue to the content author to review and take the right course of action.

[2018-05-31 15:51] #8163 closed

[2018-05-31 15:51] #8860 closed

[2018-05-31 15:52] #9099 closed

[2018-05-31 15:52] #9192 closed

[2018-05-31 15:53] mike-urnun-msft commented on #9259
@limjianan We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-31 15:53] #9259 closed

[2018-05-31 15:56] mike-urnun-msft commented on #9462
@SamirFarhat We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-31 15:56] #9462 closed

[2018-05-31 15:58] ghogen commented on #9455
Thanks for the suggestion. We're looking into this.

[2018-05-31 16:03] SaurabhSharma-MSFT commented on #9203
@cshahria sure thing. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-31 16:03] #9203 closed

[2018-05-31 16:03] smoms opened #9482 "EventProcessorHost order guarantee"
Can you please clarify how ordering is guaranteed with EventProcessorHost (it spawns several threads in the same process) ? The app code would need to filter by itself on the partitionId e.g. within the callback ProcessEventsAsync()? With direct consumer i can see easily but with EventProcessorHost i would need your help.

thanks lot

---
#### Document Details

⚠ *Do not edit this section. It is r

[2018-05-31 16:10] craxal commented on #8900
@HZass The previous release can be downloaded from the [Storage Explorer website](https://azure.microsoft.com/en-us/features/storage-explorer/) at the bottom. Just look for the Previous Release label.

[2018-05-31 16:13] RandalliLama opened #9483 "Key Vault VM extension documentation must be removed ASAP"
This article: https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/virtual-machines/extensions/key-vault-windows.md

Is incorrect and misleading.  The extension in question is not yet publicly available.  The publisher listed is not the one that will be used when the extension is publicly available.  The publisher listed is a test instance of the extension which will not be stable enou

[2018-05-31 16:17] SaurabhSharma-MSFT commented on #9430
@cshalda The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2018-05-31 16:17] #9430 closed

[2018-05-31 16:23] Mike-Ubezzi-MSFT commented on #9050
@dalmat36 The easiest way to measure latency is to use the 'ping' utility but given that the Cosmos DB API's do not respond to ping, you need to take additional measures. One option is to deploy a VM in the same region you have your Cosmos DB instance deployed (Read/Write Region) and set-up a PsPing server instance (per these instructions): [Measuring Latency and Throughput Between Azure Regions](

[2018-05-31 16:24] bcrobinson commented on #9472
I am also having the same issue, an existing logic suddenly stopped working with unauthenticated errors.

I've also tried creating a brand new logic app with a new App Insights connection using a new api key (with all permissions just to be sure) the same issue still occurs.

Correlation Id 08586738232814982114125872739

Inputs
[code]

Outputs
[code]

[2018-05-31 16:24] danielserver86 opened #9484 "Oracle and Oracle RAC"
Hi, is Oracle / Oracle RAC supported on Azure Stack? I can't find information about it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2945c53e-1796-2a51-7de8-55b6289f319c
* Version Independent ID: 77acdc28-60fb-f87d-5094-cda1cfb4c48f
* Content: [Azure Marketplace items available for Azure Stack](https://docs.microsoft

[2018-05-31 16:27] pixelbath commented on #9433
This was in regard to Microsoft Teams. While I was frustrated with the email address and password being on two separate forms, it's exacerbated by the fact that I'm then forced to choose between a corporate and "personal" account as an intermediate step every time (the personal account only having been created as a result of problems logging into the corporate account).

[2018-05-31 16:30] Mike-Ubezzi-MSFT commented on #9080
@skreebydba Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-31 16:32] Mike-Ubezzi-MSFT commented on #9116
@gwellbrock @wesmc7777 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-31 16:37] cbrooksmsft commented on #9233
Today we offer preview modules for PowerShell and Azure CLI that are integrated with Azure AD Auth.

See:
https://docs.microsoft.com/en-gb/azure/storage/common/storage-auth-aad-script?toc=%2fazure%2fstorage%2fblobs%2ftoc.json

Work is underway with Storage explorer and Azure Portal to support this preview. Stay tuned for that work to appear over the next few months.