[2020-12-07 23:35] ChaitanyaNaykodi-MSFT commented on #67021
Hello @mikegoatly, thank you for reaching out, you can refer to [this sample](https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/servicebus/azure-servicebus/samples/sync_samples/session_send_receive.py) for sending messages using Python when sessions are enabled.
We have now assigned this issue to the author to review further and take the next course of action. Thank you!

[2020-12-07 23:41] kprunella commented on #66835
Azure Key Vault uses nCipher HSMs, which are Federal Information Processing Standards (FIPS) 140-2 Level 2 validated. This is captured in Docs under AKV Overview (https://docs.microsoft.com/en-us/azure/key-vault/general/overview).  Thales documentation for HSM device used and certified found here. https://go.ncipher.com/rs/104-QOX-775/images/nShield-Solo-ds.pdf

[2020-12-07 23:49] Jeankimgithub commented on #66835
Thank you so much!

[2020-12-07 23:49] Jeankimgithub commented on #66835
@

[2020-12-07 23:49] #66835 closed

[2020-12-07 23:58] Puneetb opened #67279 "The username or password provided in the request are invalid."
Post implementing the custom policy setting as is from the Microsoft documentation.
I am prompted to change the password but i get an error as follows when i try to change the password.
"The username or password provided in the request are invalid." this does not makes sense as i am using the test harness https;//jwt.ms and i know the password i used is correct.

Following is how my Custom policy

[2020-12-08 00:05] rbschneider commented on #67251
Fixed in PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/140232

[2020-12-08 00:24] NavtejSaini-MSFT commented on #67252
@flmmartins We are checking this and will get back to you.

[2020-12-08 00:25] NavtejSaini-MSFT commented on #67270
@mcurko We are checking this and will get back to you.

[2020-12-08 00:26] Ayanmullick opened #67280 "PowerShell steps for APIMgmt & AzAD integration"
Is there documentation for the PowerShell steps to do AzAD integration for API management?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 823eb96f-e5f1-0832-b175-0b31009be92f
* Version Independent ID: 330085ae-dcf6-e930-86a8-0e4a60ab1314
* Content: [Protect API backend in API Management using OAuth 2.0 and Azure AD - A

[2020-12-08 00:28] NavtejSaini-MSFT commented on #67261
@xuehongg We are checking this and we will get back to you.

[2020-12-08 00:30] NavtejSaini-MSFT commented on #67263
@riwasa We are checking this and will get back to you.

[2020-12-08 00:31] NavtejSaini-MSFT commented on #67264
@hindocha85 We are checking this and we will get back to you.

[2020-12-08 00:32] NavtejSaini-MSFT commented on #67273
@HEVARY We are checking this and will get back to you.

[2020-12-08 00:33] NavtejSaini-MSFT commented on #67278
@llx9 We are checking this and we will get back to you.

[2020-12-08 00:34] NavtejSaini-MSFT commented on #67276
@eugen-nw We are checking this and will get back to you.

[2020-12-08 00:35] NavtejSaini-MSFT commented on #67279
@Puneetb We are checking this and will get back to you.

[2020-12-08 00:37] NavtejSaini-MSFT commented on #67272
@carfarmer We are checking this and we will get back to you.

[2020-12-08 00:38] NavtejSaini-MSFT commented on #67274
@jpborsi We are checking this and we will get back to you.

[2020-12-08 00:39] NavtejSaini-MSFT commented on #67280
@Ayanmullick We are checking this and will get back to you.

[2020-12-08 00:51] NavtejSaini-MSFT commented on #67151
@deborahc Please check this issue and provide further guidance.

[2020-12-08 01:09] cgillum commented on #67272
@carfarmer Indeed, this wording is misleading. The `RowKey` is always expected to be empty. We will fix this.

[2020-12-08 01:09] rbschneider commented on #67254
Fixed internally; I just updated some other section in this one today so the original author will get it tomorrow. Thanks!

[2020-12-08 01:18] #67272 closed

[2020-12-08 01:18] #67146 closed

[2020-12-08 01:25] kxying-kk commented on #67172
I figured it out.  the last step of the az cli commands in the tutorial is very important
[code]
I was trying to use console directly but this step somehow i cannot replicate as what the command generated.

thanks
Kelly

[2020-12-08 01:25] WinstonHoward-MSFT commented on #67148
Hi vinay-gunjalli,

Yes for your new nodes to be able to access the key vault they must have the certificate so that would have to be copied over. You can set in your scaling configuration that when a new node is created it should have that certificate.

[2020-12-08 01:25] #67148 closed

[2020-12-08 01:25] kxying-kk commented on #67172
I figured it out.  the last step of the az cli commands in the tutorial is very important
[code]
I was trying to use console directly but this step somehow i cannot replicate as what the command generated.

thanks
Kelly

[2020-12-08 01:27] kxying-kk commented on #66978
I figured it out.  the last step of the az cli commands in the tutorial is very important
[code]
I was trying to use console directly but this step somehow i cannot replicate as what the command generated.

thanks
Kelly

[2020-12-08 01:27] kxying-kk commented on #66978
I figured it out.  the last step of the az cli commands in the tutorial is very important
[code]
I was trying to use console directly but this step somehow i cannot replicate as what the command generated.

thanks
Kelly

[2020-12-08 01:28] #67172 closed

[2020-12-08 01:30] lmenten commented on #67052
Awesome!  Thanks!

On Mon, Dec 7, 2020, 5:13 PM Alex Karcher <notifications@github.com> wrote:

[2020-12-08 01:38] jmstrupp-psjh opened #67282 "Missing Service Principal Information"
I tried to follow this documentation to create a Service Principal in a new Tenant for the purpose of creating new subscriptions in the Tenant.  The opening line indicates that this will work for a Service Principal, but when I went through the steps of Granting the SP permissions to Create subscriptions it returns with an error.

Article opening line:
As an Azure customer on Enterprise Agreement

[2020-12-08 01:43] tfitzmac commented on #66001
Thanks for this feedback. I have made the suggested change to the reference content.

[2020-12-08 01:43] tfitzmac commented on #66001
#please-close

[2020-12-08 01:43] #66001 closed

[2020-12-08 01:52] MonikaReddy-MSFT commented on #67080
@mrbullwinkle  - Thank you for providing your insights.
@a8ree - I hope @mrbullwinkle has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-08 01:52] #67080 closed

[2020-12-08 01:53] MonikaReddy-MSFT commented on #67089
@jasonnutter  - Thank you for providing your insights.
@fabiociconi  - I hope @jasonnutter  has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-08 01:53] #67089 closed

[2020-12-08 01:53] MonikaReddy-MSFT commented on #67096
@basavarajb - Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2020-12-08 01:53] #67096 closed

[2020-12-08 01:53] hophanms commented on #67183
@msandbu Please log the error with Customer Support.
The screenshot has been updated via https://github.com/MicrosoftDocs/azure-docs-pr/pull/140244

@MarileeTurscak-MSFT We can close this.

[2020-12-08 01:54] MonikaReddy-MSFT commented on #67114
@mlearned - Thank you for providing your insights.
@poochwashere - I hope @mlearned has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-08 01:54] #67114 closed

[2020-12-08 01:55] MonikaReddy-MSFT commented on #67132
@kostrse -
Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-12-08 02:20] saimachi commented on #66925
Has anyone made any progress with this issue? I have tried the deployment specifying a load balancer IP address as shown in the command below:

`helm install nginx-stable/nginx-ingress --namespace kube-system --set controller.replicaCount=2 --set controller.nodeSelector."beta\.kubernetes\.io/os"=linux --set defaultBackend.nodeSelector."beta\.kubernetes\.io/os"=linux --set controller.service.loadBa

[2020-12-08 02:29] sewillia-msft opened #67284 ""Application Insights API for custom events and metrics" page broken (no header/sidebar, UI fails to load)"
Hey folks,

The Application Insights API article [Application Insights API for custom events and metrics](https://docs.microsoft.com/en-us/azure/azure-monitor/app/api-custom-events-metrics) appears to be broken - the page isn't rendering anything other than the content itself (no header/sidebar) and most of the page integrations seem to be malfunctioning. (I had to copy in the document details man

[2020-12-08 02:30] ChaitanyaNaykodi-MSFT commented on #67045
Hello @jadams74, Thank you for reaching out. The "FunctionAppLogs" will get displayed after some delay. According to the Azure Monitor documentation we need to wait a few minutes for the diagnostic setting to be created and for data to initially be written to the workspace and after this delay, all events written to the Activity log will be sent to the workspace within a few seconds.

[2020-12-08 02:41] kobulloc-MSFT commented on #67172
@kxying-kk  Thank you for providing an update!

[2020-12-08 03:11] Anand-Moghe opened #67285 "When I transfer my Visual Studio Enterprise Azure Subscription to EA Tenant, what happens to my benefits?"
If I transfer the Azure Subscription which is available as credit ($150/month) for being the owner of Visual Studio Enterprise License, does the credit stops? What happen to the Benefits that I get as part of VS Ent license subscriber? Do I still continue to be recognized as VS ENt license users in Azure DevOps Service? Can EA Administrator setup certain policies and initiatives to control what th

[2020-12-08 03:28] TravisCragg-MSFT commented on #67266
@SenthuranSivananthan Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-12-08 03:42] yannis-r opened #67286 "obsolete interface"
The pages are not reflecting the latest product. It is creating a lot of confusion and a call to support!
Also mention where needed the requirement to wait FOR REPLICATION!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8751595d-4839-d2ee-1e2c-16d07ef84a2d
* Version Independent ID: e66f96b3-5b88-9304-1ec0-9e3bb8a2cfbe

[2020-12-08 03:51] bargor-code commented on #67052
That fix worked, however, the last part of the tutorial where the Temperature of the room is meant to be updated in response to the Temperature being delivered in externally is not working. The temperature is being displayed as 0

[2020-12-08 03:57] sonnyng opened #67287 "domain"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2382361-1699-3beb-574e-0879c87f7442
* Version Independent ID: 97f40a33-983d-f927-beb5-cb03aa3f82dd
* Content: [Known issues for application provisioning in Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/known-issue

[2020-12-08 03:57] #67287 closed

[2020-12-08 04:01] AnuragSharma-MSFT commented on #67208
@GarbarovJava Could you please provide more information on the issue you are facing?

[2020-12-08 04:11] vipulsparsh commented on #67061
@memildin Can you look into this ?

[2020-12-08 04:13] vipulsparsh commented on #67195
@hamiltonha Can you have a look ?

[2020-12-08 04:14] shashishailaj commented on #67286
@yannis-r Thank you for your feedback . We will investigate and update the thread.

[2020-12-08 04:22] ashimaasudani opened #67288 "How to create loopback interface for the VMs to support floating IP?"
I'm trying to enable floating IP to allow below 2 load balancing rules (with backend port re-use) for the same backend pool. From the [doc ](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-multivip-overview), it's not clear how can I create 2 loop back interface with frontend IP addresses. Is there a wiki that lists all steps?
VMs have operating system - Windows Server 2019 Data

[2020-12-08 04:22] BharathNimmala-MSFT commented on #67284
@sewillia-msft Thanks a lot for bringing this to attention, I have reached out to our internal team to understand if there is any ongoing issue impacting this experience. Will keep you updated.

[2020-12-08 04:22] vipulsparsh commented on #67126
@EFAQM-JBernard  Normally you would see this in case of a guest account in your directory. As the guest account is external and has its home account in some other tenant, you see this error.

You should be able to reset password for all the users in your own directory.

[2020-12-08 04:25] dcurwin commented on #67144
#please-close

[2020-12-08 04:25] #67144 closed

[2020-12-08 04:30] SumanthMarigowda-MSFT commented on #67053
@snnn Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused. Your feedback has been shared with the content owner for further review.

[2020-12-08 04:33] EFAQM-JBernard commented on #67126
Hello,

Then it means the 'reset password' link should not appear for guest users,
otherwise it's confusing.

Cordialement / Best Regards,

Jean-Michel BERNARD

IT Manager

*Eurofins*  |  Consumer Product Assurance

Eurofins | AQM

Shanghai Technology Building, No.705 Yishan Road, Building B, Room 2001-2002

上海市徐汇区宜山路705号科技大厦B座2001-2002室 200233

200233 Shanghai, CHINA

The information transmitted

[2020-12-08 04:37] Mja101 commented on #67052
@barger-code, I'm facing the same problem. I've checked both azure functions and there are 0 executions for each. I'm not sure the publish step works as intended

[2020-12-08 04:44] SubhashVasarapu-MSFT commented on #67288
@ashimaasudani, Thanks for reaching out. We will investigate and update this thread.

[2020-12-08 04:46] AjayKumar-MSFT commented on #67287
@sonnyng, Thanks for leveraging Azure docs feedback channel to raise this question.  We notice that you have closed this thread, if you still have questions or need help with this, could you please share the Azure documentation for which this feedback is applicable to?

This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2020-12-08 04:59] lgayhardt commented on #67284
Hi @sewillia-msft

Yea something weird is going with that doc. We already created a bug with the engineering team earlier today. Sorry for the inconvenience, hopefully it will be resolved soon.

Thank you!

[2020-12-08 04:59] lgayhardt commented on #67284
#please-close

[2020-12-08 04:59] #67284 closed

[2020-12-08 05:02] zhenlan commented on #67253
@gary918 the `SetCacheExpiration` is an API in the .NET version of the config provider. It's about how long the application should use current configuration data before checking for updates, so it's a concept to the application (client), not to the service. This is not something you can set through Azure Portal. Any change you made in the portal will change the value in service immediately. In Pyt

[2020-12-08 05:16] CHEEKATLAPRADEEP-MSFT commented on #67273
Duplicate of #67264

[2020-12-08 05:16] #67273 closed

[2020-12-08 05:17] jcbrooks92 commented on #63254
One additional requirement for VMSS modifications of SSH Key or Password is an update and a restart of the node.

[2020-12-08 05:20] vipulsparsh commented on #67225
@SnowWolf7  Can you verify and confirm that you have setup the correct redirect URI under the app registration :
Azure portal -> Azure Active Directory -> App registration -> Your App

![image](https://user-images.githubusercontent.com/63580915/101443305-25850a00-3943-11eb-96e5-8e593413797e.png)

Confirm and correct the Reply URL if mismatched. Let us know if it helped.

[2020-12-08 05:59] v-hagamp commented on #45600
Updated the article as per the above suggestion.
#please-close

[2020-12-08 06:00] #45600 closed

[2020-12-08 06:00] v-hagamp commented on #44512
Updated the article as per the above suggestion.
#please-close

[2020-12-08 06:00] #44512 closed

[2020-12-08 06:26] GarbarovJava commented on #67208
Everything is OK now

On Tue, Dec 8, 2020 at 5:01 AM AnuragSharma-MSFT <notifications@github.com>
wrote:

[2020-12-08 06:33] Console32 opened #67291 "ContainerSoftDelete Registration duration"
The Documentation states that:

It would be great if there would be a general information about how long this takes. Checking a CLI Command every 2 Minutes is not a good Idea if this takes a view hours.

[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6da2e215-16f4-4cfa-9df8-ed2f62f2d690
* Version

[2020-12-08 06:34] anthonysomerset opened #67292 "Documentation is not clear that to setup Keyvault Auto-Renew user must use PS or az CLI"
We have setup multiple App Gateways in azure now - we are pulling certs from KeyVault.

We initially configured the certs via Azure Portal and all worked great - however when we renewed the cert and uploaded to KeyVault - the app gateways did not pick up the new certs at all - we had to manually renew them via portal.

when this happened again (we using LetsEncrypt) we opened a ticket with Microso

[2020-12-08 06:39] anthonysomerset commented on #67292
I note that this is effectively a duplicate of

#64656 and #56264

[2020-12-08 07:01] pdhimate opened #67293 "Can you specify the RPO/RTO metrics for fail over and fail back?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a925494b-31b5-b856-4448-f6925c41047a
* Version Independent ID: 3b73b271-189c-cf3f-fd46-36386abcd2e6
* Content: [Azure Key Vault availability and redundancy - Azure Key Vault](https://docs.microsoft.com/en-us/azure/key-vault/general/disaster-recovery-g

[2020-12-08 07:06] KalyanChanumolu-MSFT commented on #67208
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-12-08 07:06] #67208 closed

[2020-12-08 07:51] nerajput1607 commented on #65759
#please-close

[2020-12-08 07:51] #65759 closed

[2020-12-08 07:51] nerajput1607 commented on #65761
#please-close

[2020-12-08 07:51] #65761 closed

[2020-12-08 07:53] lonevvolf opened #67295 "What is exactly meant by Allow Azure services and resources to access this server"
The option in the screenshot: "Allow Azure services and resources to access this server" is not explained in detail anywhere.  For instance:
1) Where does this option fit in the flowchart diagram on this page?
2) What Azure services are included in this tag?  Does it include Azure DevOps hosted agents, for example?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-12-08 07:55] ssugar opened #67296 "Where do I download the powershell module?"
Article makes a number of references to Microsoft.DataCatalog.Management or commands like Set-AzDataCatalog, but I can't find any info on those (google/powershell gallery).  Where is that powershell module downloaded from?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2058d99-ebe7-6d5d-1337-43de20df8116
* Version Ind

[2020-12-08 08:00] AnuragSharma-MSFT commented on #67295
@lonevvolf Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-12-08 08:03] GitaraniSharma-MSFT commented on #67292
@anthonysomerset , thank you for your feedback. We'll review this and get back to you shortly.

[2020-12-08 08:05] vipulsparsh commented on #67293
@pdhimate Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@ShaneBala-keyvault Can you have a look ?

[2020-12-08 08:09] sivac-ms opened #67297 "Create Device method missing in the list of methods."
Create Device method is not listed on this page in the list of methods. Is that done on purpose or is it missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d02de0bf-09d7-a7fc-1b4a-213426e96b2d
* Version Independent ID: 36f6c8fe-6bc1-6643-4b66-2c38bcd2e5f0
* Content: [Acquire a token from Azure AD for authorizing r

[2020-12-08 08:29] Console32 opened #67298 "PITR for Storage Accounts in CLI / PWSH"
Please add a description on how to automate enable  this feature using azure cli and PWSH

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac6b8ef7-1727-9f8c-cc35-7f12c25845f4
* Version Independent ID: 1f455058-e981-8fb6-299a-cac94b1a2e5b
* Content: [Point-in-time restore for block blobs - Azure Storage](https://docs.mic

[2020-12-08 08:43] AndrewSmithRS commented on #67067
Thanks for confirming the behaviour. Having the documentation updated to include this change would help.
Is there any technical reason for this occur? I know some of my customers will fail specific security audits due to this. I'm happy to raise a ticket if this is not the right forum.

[2020-12-08 09:12] VikasPullagura-MSFT commented on #67251
@rbschneider Thanks for updating the document, changes will go live once the PR is approved.

[2020-12-08 09:12] #67251 closed

[2020-12-08 09:50] psmanhas commented on #66080
@mcurko Apologies for all delay in response.

You can refer to below article to see how to create Resource Group and connect it to clsuter:

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-creation-via-portal

Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen

[2020-12-08 09:50] #66080 closed

[2020-12-08 09:50] CHEEKATLAPRADEEP-MSFT commented on #67296
@ssugar Thanks for bringing this to our attention. Currently, I’m working with the product team and get back to you when I have more information.

[2020-12-08 10:05] mcurko commented on #66080
The reference provided is outdated - such Azure Portal interface doesn't exist anymore. And even then, it's a general guide on how to create an Azure SF cluster, while my question refers specifically to the usage of Azure Monitor, which is unclear in the article.

[2020-12-08 10:11] Hjortsberg opened #67301 "Add example of token validation for AAD enabled EventGrid event."
**Scenario**
I want to secure my API webhook endpoint with AAD so that only requests that originate from EventGrid gets processed. Currently, anyone who has access to the url can post to it.

The documentation shows how to set up the service principal perfectly fine, however there is not much information regarding the token that is then included in the request. The token seems to be of AAD V1 type

[2020-12-08 10:11] bgarcial opened #67302 "Encoding term is different to encryption process."
I want to highlight, the "encoding" term is used [here](https://docs.microsoft.com/en-gb/azure/security/fundamentals/encryption-atrest#what-is-encryption-at-rest) to denote the same as the encryption process

Encryption at Rest is the - encoding (encryption) - of data when it is persisted. The Encryption at Rest designs in Azure use symmetric encryption to encrypt and decrypt large amounts of data

[2020-12-08 10:25] StevenDeRoover commented on #11383
Hi jchilde

How exactly did you solve this?

I too am getting this issue.

[2020-12-08 10:41] miracle2come opened #67303 "Issue with PS command copy"
Hi there,

When I copy "Get-AzStorageTable –Context $ctx | select Name" and paste it after I got "Get-AzStorageTable Context $ctx | select Name"

Not sure what it is, looks like a symbol looks like "-" but not it.

Regards
Kosta
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1093baf6-b6b6-52f7-5268-697fe6412bdf
* Versio

[2020-12-08 10:44] mcurko opened #67304 "Use the remoting V2 stack - do I?"
I have not made any modifications to my services as described on this page (my endpoints are not _ServiceEndpointV2_ etc.), but when I look at SF explorer I see that all my endpoints are _V 2 1 Listener_. How is this possible, is the documentation here provided simply outdated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-12-08 10:44] miracle2come commented on #67303
Looks like it is a VSC issue.
It pastes fine to the code part, but not to the console

![image](https://user-images.githubusercontent.com/11173634/101473920-4b47f880-39af-11eb-9189-f9266340f9e6.png)

[2020-12-08 10:59] anhowe opened #67305 "Document to support Cloud Shell (https://shell.azure.com)"
It would be great if there was a note for how to run this from cloud shell (https://shell.azure.com).  This will help customers who are not familiar with powershell or windows on a day to day basis.  For these customers it is high friction to have them find a windows machine, and install the azure powershell sdk.

Instead have them run these commands from cloud shell (https://shell.azure.com).  Do

[2020-12-08 11:03] nireshb opened #67306 "Missing Public Cloud URL"
URL's for government cloud include: graph.windows.net
Public URL's do not include this URL. Cx has indicated that when connecting to Public Cloud, Azure Migrate appliance also reaches out to graph.windows.net and not having this URL allowed results in connection failure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7

[2020-12-08 11:06] a8ree commented on #67080
Thanks for the guidance @mrbullwinkle

Ideally I'd like to run this out as Terraform but if I can do it in the portal, then that'll do for now!

Strangely, I cannot see the option on all my WebApps (greyed out on server webapp)- even though they are on the same App Service Plan.

The front end client is React, the back end is nodejs. Both have the App Insights key added...

<img width="1113" alt="

[2020-12-08 11:19] hansmbakker opened #67307 "Best practices are missing"
The explanation of technical steps is there, but I'm missing the best practices around CI/CD of ARM templates.

like:
- how to deal with artifacts? (normally there is a build pipeline where initial linting / testing etc is done for PRs and a separate deploy pipeline that takes the artifact along multiple environments)
- how to deal with multiple environments based on the same ARM template (dev/tes

[2020-12-08 11:21] hkarthik7 opened #67308 "Typo in the "Health Check Path" section"
[Enter feedback here]

Hi ya,

Thank you for the comprehensive documentation on auto-scale. There is a typo in the Health Check Path section [here](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/autoscale-get-started#health-check-path).

**Health Check integrates with App Service's authentication and authorization features, the system will reach the endpoint even if these secuity fe

[2020-12-08 11:33] magooster opened #67309 "AKS create command fails for pod-managed identities in Azure Kubernetes Service (Preview)"
az aks create -g myResourceGroup -n myAKSCluster --enable-managed-identity --enable-pod-identity

The behavior of this command has been altered by the following extension: aks-preview

BadRequestError: Operation failed with status: 'Bad Request'. Details: Network plugin kubenet is not supported to use with PodIdentity addon.

Seems you need to use azure network plugin - so need to add following co

[2020-12-08 11:42] psmanhas commented on #66080
@mcurko Thank you for your response. I have assigned the issue to content author to check and update the document as appropriate .We will update you accordingly.

[2020-12-08 11:42] psmanhas commented on #66080
@srrengar Can you please check and add your comments on this doc update request as applicable

[2020-12-08 11:45] cephalin commented on #65424
Update merged. #please-close

[2020-12-08 11:45] #65424 closed

[2020-12-08 11:54] T-19PJ commented on #67308
Fun you NiggersOn Dec 8, 2020 3:22 AM, Harish Karthic <notifications@github.com> wrote:

[Enter feedback here]

Hi ya,

Thank you for the comprehensive documentation on auto-scale. There is a typo in the Health Check Path section here.

Health Check integrates with App Service's authentication and authorization features, the system will reach the endpoint even if these secuity features are enabled

[2020-12-08 11:57] fgheysels opened #67310 "Authentication for Timeseries Insights using Managed Service Identity"
Is it possible, or will it be possible to authenticate using MSI when communicating with TSI ?

Suppose I have an Azure Function or Azure WebApp which needs to interact with Timeseries Insights, would I be able to authenticate using the System Assigned or User Assigned Identity of that Function or Web App ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2020-12-08 12:13] SadiqhAhmed-MSFT commented on #67308
@hkarthik7 Thanks for pointing that out. We will fix that through a pull request.

[2020-12-08 12:14] SadiqhAhmed-MSFT commented on #67306
@nireshb Thanks for the comment. We will investigate this issue and get back to you with an update soon.

[2020-12-08 12:15] SadiqhAhmed-MSFT commented on #67285
@Anand-Moghe Thanks for the question. We are taking a look into this and will get back to you shortly.

[2020-12-08 12:17] SadiqhAhmed-MSFT commented on #67282
@jmstrupp-psjh Thanks for the question. We are looking into it and will get back to you shortly.

[2020-12-08 12:21] sebader commented on #66572
same here! :( This should really be supported!

[2020-12-08 12:27] VijayRod opened #67311 "Key vault secrets not accessible from windows pod"
Repro only for pod in Windows pool.

Ref: https://docs.microsoft.com/en-us/azure/key-vault/general/key-vault-integrate-kubernetes

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eee999c1-32dd-d014-40df-8027adee1258
* Version Independent ID: 19a29c09-79f8-580a-841f-873e2801da56
* Content: [Integrate Azure Key Vaul

[2020-12-08 12:29] VijayRod commented on #67311
@aramase.

[2020-12-08 12:40] perrodstrom opened #67312 "link in dokumnetation is wrong"
https://docs.microsoft.com/en-us/azure/batch/quick-run-dotnet has  wrong link to cloudStorageaccount.

Correct link:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.storage.cloudstorageaccount?view=azure-dotnet

Current link:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cosmos.table.cloudstorageaccount?view=azure-dotnet

---
#### Document Details

⚠ *Do not edit this sec

[2020-12-08 12:42] VikasPullagura-MSFT commented on #67205
@mcurko Apologies for delayed response.

I checked on this with internal team and regarding if supported framework is even a consideration, it depends on the hosting model being used. For guest executables, or containers, for example, there is no requirement of framework version (or language at all). When it referred as SF support for .NET 5, it means usage of the Service Fabric SDKs/APIs.

Howeve

[2020-12-08 12:42] VikasPullagura-MSFT commented on #67205
https://github.com/microsoft/service-fabric/issues/1081

[2020-12-08 12:42] #67205 closed

[2020-12-08 12:45] hkarthik7 commented on #67308
@SadiqhAhmed-MSFT Excellent! thank you very much.

[2020-12-08 13:00] mcurko commented on #67205
OK, but for the sake of completeness, where in the documentation can I find .NET support for Service Fabric SDKs/APIs? Let's say I wonder weather .NET Core 3.0 or .NET Core 3.1 is supported, where is it mentioned?

[2020-12-08 13:19] SimonSimCity opened #67313 "Connecting Function to IoT Hub is badly described"
As already mentioned quite a while ago (in fact almost 9 month ago in #50024), the documentation of [Azure IoT Hub bindings for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-iot-trigger?tabs=python&source=docs#feedback) is mildly said bad.

I spent quite a considerable amount of time to get through to the findings in my comment on that ticket (htt

[2020-12-08 13:38] SwathiDhanwada-MSFT commented on #66928
@lgayhardt Can you please provide your insights and also update the document with the requested information?

[2020-12-08 13:41] AjayKumar-MSFT commented on #67291
@Console32, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-12-08 13:43] AjayKumar-MSFT commented on #67297
@sivac-ms, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-12-08 13:46] SubhashVasarapu-MSFT commented on #66946
@perktime, Appreciate your feedback. We are working on editing the doc and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-12-08 13:46] #66946 closed

[2020-12-08 13:48] AjayKumar-MSFT commented on #67298
@Console32, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-12-08 13:50] SumanthMarigowda-MSFT commented on #67303
@miracle2come Thanks for the question! We are investigating and will update you shortly.

[2020-12-08 14:06] andrew-js-wright opened #67314 "Confusing curl snippet"
The curl snippet for getting an access token is misleading. It specifies a GET HTTP method and then overrides it to a POST using the `-d` flag.

Snippet in question:
[code]

Proposed update:
[code]

curl docs outlining the method change from GET to POST:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34a79d78-8f

[2020-12-08 14:22] AnthonyDelagarde opened #67315 "Option 2 documentation is incomplete"
Working with my colleague byboudre@microsoft.com we attempted option 2 by applying a static IP to a nested vm we could not get the nested vm to pass traffic past the internal switch on to the VNET. Looks like we are missing some additional commands to setup the static route for the nested vm to communicate with 0.0.0.0/0 via PowerShell.

If I use option one with the DHCP Server the nested vm with

[2020-12-08 14:49] zaricase opened #67316 "missing examples"
the examples for "Reconfigurations where the primary is not changing." in the "reconfiguration types" section are not listed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0623707-57ba-9050-75ff-1d5f14d71a85
* Version Independent ID: 9c43d9bf-7307-9443-37cd-20806c3f82fa
* Content: [Reconfiguration in Azure Service Fab

[2020-12-08 14:49] sailando opened #67317 "Weak and strong MFA"
Note
While your organization may choose to use an existing weaker form of MFA during a transition period, attackers are increasingly evading the weaker MFA protections, so all new investment into MFA should be on the strongest forms.

Customers expect our guidance. They don't know what makes an MFA weak or strong. We need to tell them which MFA techniques are weak and which we consider strong.

--

[2020-12-08 15:01] scannme commented on #67228
@SubhashVasarapu-MSFT   I have some questions to consult. Please send me the correct email address. Thank you.

[2020-12-08 15:02] JeremyTBradshaw opened #67318 "In practice, Azure AD Device Limits seem to be 'per device type'"
It seems as though the maximum number is per device type (i.e. Windows, Android, etc.).  It's either this, or "Azure AD Registered" is also immune, not just "Hybrid Azure AD Joined".  I have confirmed in multiple tenants, if you have the limit set to 1, you can have both an Azure AD Registered Windows 10 device (NOT Hybrid Azure AD Joined), and then you can still add another device of a different

[2020-12-08 15:04] leebjn opened #67319 "User Provisioning - Admin Credentials Change"
Hello,

It appears that something has changed recently in the BlueJeans Azure AD Application where the User Provisioning section is requesting a Tenant URL & Secret Token, rather than the previous Admin Username and Password.

Here is the configuration before
![image(2)](https://user-images.githubusercontent.com/55557130/101500580-48f48880-3934-11eb-8881-e659c88f4e68.png)

And here it is now
![ima

[2020-12-08 15:04] shashishailaj commented on #67302
@bgarcial Thank you for your feedback . We will investigate and update the thread.

[2020-12-08 15:06] NavtejSaini-MSFT commented on #67301
@Hjortsberg We are checking this and will get back to you.

[2020-12-08 15:09] NavtejSaini-MSFT commented on #67304
@mcurko We are checking this and will get back to you.

[2020-12-08 15:09] sailando opened #67320 "List of privileged access roles"
"Privileged access security roles typically include:"

These are on-premises roles only! I suggest we create a separate article that is referenced wherever we talk about privileged access accounts/roles and clearly list roles in AD and AAD. AAD roles need to be updated regularly, so it's not a good idea to have this list in many locations.

---
#### Document Details

⚠ *Do not edit this section. I

[2020-12-08 15:12] NavtejSaini-MSFT commented on #67309
@magooster We are checking this and will get back to you.

[2020-12-08 15:13] NavtejSaini-MSFT commented on #67312
@perrodstrom We are checking this and will get back to you.

[2020-12-08 15:15] shashishailaj commented on #67311
@VijayRod Thank you for reporting this. We will investigate and update the thread.

[2020-12-08 15:15] NavtejSaini-MSFT commented on #67315
@AnthonyDelagarde We are checking this and we will get back to you.

[2020-12-08 15:16] NavtejSaini-MSFT commented on #67316
@zaricase We are checking this and we will get back to you.

[2020-12-08 15:18] NavtejSaini-MSFT commented on #67305
@anhowe We are checking this and we will get back to you.

[2020-12-08 15:20] NavtejSaini-MSFT commented on #67310
@fgheysels We are checking this and we will get back to you.

[2020-12-08 15:20] Borkason opened #67321 "FAQ and documentation have contradicting statements"
This FAQ states:

The staged roll documentation states:

https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-staged-rollout#pre-work-for-pass-through-authentication

So on the FAQ you say that the first agent must be installed on the Azure AD Connect server. But then when looking at the staged rollout documentation, it tells you to do the opposite of that.

One of the doc

[2020-12-08 15:26] Styxxy commented on #50692
@MarileeTurscak-MSFT Do you have any feedback yet?

I experience the same issue. On the resource group level I have Reader role (= management plane) and on the App Configuration resource I have "App Configuration Data Owner" role (which I expect to operate on the data plane). However it still complains about "User is not authorized to load access keys". Why would I need permissions on the Access K

[2020-12-08 15:31] NavtejSaini-MSFT commented on #67307
@hansmbakker We are checking this and will get back to you.

[2020-12-08 15:33] mcurko opened #67322 "Example needed"
Please provide a working example. It's difficult to wire the code snippets here presented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdbc635e-08ec-f285-468a-bee351d34a22
* Version Independent ID: ef67c6f1-370a-ee38-7bdb-00c8b3f1563e
* Content: [Events in actor-based Azure Service Fabric actors - Azure Service Fabr

[2020-12-08 15:34] NavtejSaini-MSFT commented on #67317
@sailando We are checking this and we will get back to you.

[2020-12-08 15:34] JayaChatterjee-MSFT commented on #67173
@verbedr If I understand correctly, let's say there are multiple container and you want to trigger the events for all container that have name starting with test*** (test1, test2 etc.) For that you are creating multiple trigger for different container name. Is this the scenario?

[2020-12-08 15:35] NavtejSaini-MSFT commented on #67318
@JeremyTBradshaw We are checking this and we will get back to you.

[2020-12-08 15:36] NavtejSaini-MSFT commented on #67319
@leebjn We are checking this and we will get back to you.

[2020-12-08 15:36] NavtejSaini-MSFT commented on #67320
@sailando We are checking this and we will get back to you.

[2020-12-08 15:38] NavtejSaini-MSFT commented on #67321
@Borkason We are checking this and will get back to you.

[2020-12-08 15:43] NavtejSaini-MSFT commented on #67314
@andrew-js-wright We are checking this and will get back to you.

[2020-12-08 15:43] maximepollet27 commented on #67005
Hi @alexkarcher-msft, thank you for looking into this. I am not sure what is causing this (it might be on me) but when I try to publish the app using the code with the temporary fix, it doesn't succeed. Here is what is shown in the output:

![image](https://user-images.githubusercontent.com/75030380/101504699-cee3f400-3973-11eb-8e26-4e126ea11d62.png)

![image](https://user-images.githubusercontent

[2020-12-08 15:45] normesta commented on #40403
Hi @rbaker26 - Just an update. I've been coordinating with some other internal teams. I've moved this work item into our January sprint so I'll assemble some content. With cross-service, I'll need to figure out the best location, coordinate with the App Gateway team, and try to avoid duplicate content/procedures if possible. BTW - have you seen this post? - [How to configure Application Gateway in

[2020-12-08 15:47] allanmoller opened #67323 "ResourceId function has correct parameters"
The test case fails when using concat! if i forexample have a loop of keyvaults, where i want to output vaulturi, i would be unable to to this:

`
"outputs": {
        "keyvaultUris" : {
            "type": "array",
			"copy": {
				"count": "[length(parameters('keyVaults'))]",
				"input": "[reference(concat(parameters('keyVaults')[copyIndex()].keyVaultNamePrefix, uniqueString(resourceGroup().id)

[2020-12-08 15:48] AzureAzim opened #67324 "Powershell commands confusing"
In step 2, you declare the variable ($remote), but in step 4, you put in a placeholder($[local variable name]), making the powershell unclear. I recommend you either change step 4 to $remote or change step 2 to tell the user to create an arbitrary local variable name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcdb

[2020-12-08 15:52] gkens opened #67325 "Mfa method control for both guest and non-guest external users"
How can 365 admins configure and constrain which mfa methods are allowed for guest users?

Same question for external non-guest users

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38883fa1-020d-1721-56fd-d92a99a2cef9
* Version Independent ID: ea2e2ce3-3316-d0bd-16b6-aa036a6af806
* Content: [Tutorial - Multi-factor aut

[2020-12-08 16:01] SadiqhAhmed-MSFT commented on #67308
@hkarthik7 Correction done - https://github.com/MicrosoftDocs/azure-docs-pr/pull/140280 the same should reflect post review by the content owner.

[2020-12-08 16:05] verbedr commented on #67173
@JayaChatterjee-MSFT that is true. I want to trigger the events for all the containers that have the same prefix in their name.  This scenario came up during a POC investigation and by now we have created a workaround and everything works.

Al I wanted to say with my remark was that it could be mentioned in the documentation that a container name can't contain a resolver. So you can not have somet

[2020-12-08 16:05] BharathNimmala-MSFT commented on #67323
@allanmoller Thank you for reaching out, we will review your query and circle back with you at the earliest.

[2020-12-08 16:05] tfitzmac commented on #67323
@allanmoller - which test case failed? Also, it sounds like you feedback is more related to the test toolkit itself rather than the documentation. If so, the issue should be created in that repo - [https://github.com/Azure/arm-ttk](https://github.com/Azure/arm-ttk)

[2020-12-08 16:14] #67190 closed

[2020-12-08 16:14] allanmoller commented on #67323
Ahh sry yes its the toolkit that fails, will open case in referred link

[2020-12-08 16:14] #67323 closed

[2020-12-08 16:20] speschka opened #67326 "Correct Scope for SharePoint API use with v2 MSAL Auth Endpoint"
Can someone please document what the correct scope(s) are to use for the SharePoint Online APIs with the v2 MSAL auth endpoint?  I have more details that I posted two months ago now on StackOverflow at https://stackoverflow.com/questions/64128710/adal-to-msal-for-sharepoint-online.  I have an app that uses the SharePoint Online APIs (*not Graph*), and I will continue to use them because I do a num

[2020-12-08 16:22] sailando opened #67327 "Interface examples"
"Interface examples"
We need to list Azure Resource Management and other API endpoints here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a562cde7-b448-e9b4-d04b-4ed29ee06b85
* Version Independent ID: 88ed1630-3ab7-6fce-e7eb-fe641f31b3f8
* Content: [Securing privileged access interfaces](https://review.docs.microsoft

[2020-12-08 16:23] niklarin opened #67328 "Brazil Southeast?"
Now that Brazil Southeast is available, is it going to become a paired region for Brazil South? Thanks.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a788e4-0130-73f2-d985-6fc3aec77974
* Version Independent ID: a9f4ec3f-f0a3-b050-020b-f487c74c5179
* Content: [Ensure business continuity & disas

[2020-12-08 16:23] SadiqhAhmed-MSFT commented on #67306
@nireshb Could you please provide a screenshot of failure message?

[2020-12-08 16:26] brthurr opened #67329 "Step missing for Connect to a virtual network with ExpressRoute"
In the section **Connect to a virtual network with ExpressRoute**, step three tells us to _Navigate to the Virtual Network Gateway you created in the previous step and under Settings, select Connections. On the Connections page, select + Add._.

There is no such step in previous sections.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-12-08 16:28] sailando opened #67330 "Where do we cover DevOps as a system of privileged access"
The components we consider here (accounts, devices, intermediaries, interfaces) cover the "traditional" operational use cases where an operator is using an account on a device to access a system to execute privileged tasks.
What about the aspect of increased automation and usage of ADO and similar systems? There you have a privileged service principal operating from a deployment agent and accessin

[2020-12-08 16:33] timsander1 commented on #67222
Hi @paulomorgado , ChangeFeedProcessor.StopAsync will stop your Change Feed Processor instance (in other words, stop listening for changes).  Here are some examples: https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos.Samples/Usage/ChangeFeed/Program.cs

[2020-12-08 16:35] mrbullwinkle commented on #67080
If Application Insights is greyed out entirely that would usually indicate an OS + App combination which is not currently supported for codeless monitoring. So for example while Linux + Node.js is supported as a public preview for codeless monitoring Windows +Node.js is not currently supported for codeless which will lead to that link/button being greyed out.

If that is the case you can either no

[2020-12-08 16:37] SadiqhAhmed-MSFT commented on #67282
@bandersmsft For assistance!

[2020-12-08 16:44] JamesTran-MSFT commented on #67325
@gkens
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-08 16:44] shortpatti commented on #67329
#assign @shortpatti

[2020-12-08 16:45] NavtejSaini-MSFT commented on #67268
@PedroC88 Please convey if you were able to read through the information or need further help.

[2020-12-08 16:45] shortpatti commented on #67329
@brthurr, I'll put some clarification in the content.  Thank you for letting us know 👍

[2020-12-08 16:45] JamesTran-MSFT commented on #67327
@sailando
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-08 16:48] NavtejSaini-MSFT commented on #67277
@shueybubbles The PR is approved and changes will be live in few hours. We will be closing the feedback once the changes are visible.

[2020-12-08 16:48] srrengar commented on #66080
Hi @psmanhas I do not work at Microsoft anymore!

[2020-12-08 16:48] eaarnoudse opened #67331 "Create Dataset"
In the Create Dataset chapter, please add a screendump that you need to click on the Author link first. I searched for many hours to find the 'Add Dataset' option.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1f2edef-d233-6125-1499-7f55d86ecb0c
* Version Independent ID: e994602f-882a-327e-9333

[2020-12-08 16:50] NavtejSaini-MSFT commented on #67188
Thanks @markjbrown . We have assigned the case to @christopheranderson for further action.

[2020-12-08 16:55] PedroC88 commented on #67268
I'm taking another route so my ticket can be closed, besides it's indeed a
duplicate of #62833
<https://github.com/MicrosoftDocs/azure-docs/issues/62833>

On Tue, Dec 8, 2020 at 12:45 PM NavtejSaini-MSFT <notifications@github.com>
wrote:

--
Pedro Sánchez
Gracias por su Tiempo
http://about.me/pedroc88

[2020-12-08 16:59] vipulsparsh commented on #67126
@EFAQM-JBernard  For now, it does appear for guest users as well. But if you want to provide any feedback about this,  feel free to raise it here :  https://feedback.azure.com/forums/169401-azure-active-directory

[2020-12-08 17:01] shortpatti commented on #67329
I've updated the content and it will be published later today.

#please-close

[2020-12-08 17:01] #67329 closed

[2020-12-08 17:05] Karishma-Tiwari-MSFT commented on #66742
We will now close this issue. Please share the details when ready and tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-12-08 17:05] #66742 closed

[2020-12-08 17:11] mousas opened #67334 "It's necessary update CI/CD integration in a git Rep"
[It's necessary update CI/CD integration in a git Repo since Synapse Analytics is in GA with this function.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27340de0-6e3a-bd83-080a-d1fa6e2984ad
* Version Independent ID: d261fb23-c1b5-0713-427b-ebe98af597f8
* Content: [Differences from Azure Data Factory - Azure Synapse

[2020-12-08 17:16] leebjn commented on #67319
Thank you! I am working with our Dev team as well to see if any recent changes were made to the requirements.

[2020-12-08 17:20] ShaneBala-keyvault commented on #67139
@amitbapat @jlichwa Can you help answer this question?

[2020-12-08 17:23] kobulloc-MSFT commented on #67253
@gary918 We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-12-08 17:23] #67253 closed

[2020-12-08 17:29] SatishBoddu-MSFT commented on #67310
Hello @shreyasharmamsft Could you please look into this question?

[2020-12-08 17:29] nireshb commented on #67306
Hi,

I have reached out to my customer requesting.

Thanks
Nireshen

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: SadiqhAhmed-MSFT <notifications@github.com>
Sent: Tuesday, December 8, 2020 6:23:25 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: nireshb <nireshen@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/az

[2020-12-08 17:37] clokk commented on #53425
Hi Tig10, I do not represent Microsoft but did you run npm install and check localhost:3000 after setting your connection string and consumer group in launch.json?

[2020-12-08 17:41] askpatrickw commented on #67118
It is great to see that new content created. I love that you're always creating more value !

Some feedback

1. The original page still lacks this information: https://docs.microsoft.com/en-us/azure/iot-central/core/concepts-get-connected#associate-a-device-with-a-device-template
1. The `provisioning_payload` isn't mentioned in the SDK Wiki https://github.com/Azure/azure-iot-sdk-python/wiki/key-wo

[2020-12-08 17:43] BharathNimmala-MSFT commented on #67026
@amyholco Thanks again for bringing this to notice.  Apologies for the experience, just to keep you informed solutions are going away with their functionality being replaced with insights and our team has some of the backlog items to reflect the same information in our documentation later this month and this document would also be revamped to reflect the current UI.

We will go ahead and close thi

[2020-12-08 17:43] #67026 closed

[2020-12-08 17:46] mcurko opened #67337 "Package your Service Fabric application -> for a particular publish profile"
How do I create a package for a particular publish profile? When publishing directly from VS, it'll be done automatically, but for packaging only, there's no profile choice available. So then I have to change parameters in the app manifest manually, which is not the best solution.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2020-12-08 18:03] WinstonHoward-MSFT commented on #67322
Thanks for the feedback, I've assigned to the author to take a look.

[2020-12-08 18:09] gb5757870 opened #67339 "Updated location of "Firewalls and virtual networks tab""
Need to update "Managing virtual network rules" -->Azure Portal --> "Click on the settings menu called Firewalls and virtual networks."

The last line above should read "Select Networking, and then select the Firewalls and virtual networks tab"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2632af75-7664-b79b-ac5b-c7c1

[2020-12-08 18:11] SaiKishor-MSFT commented on #67324
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-08 18:14] WinstonHoward-MSFT commented on #67136
So, the package does not contain the parameters. The package is environment neutral. Packaging just creates a deployable package from the given application. Deploying is when you actually select a given parameter set, for the specific target environment. When you want to specify the parameters you can do it through the deployment phase.

[2020-12-08 18:14] #67136 closed

[2020-12-08 18:16] gb5757870 opened #67340 "Update "Create a virtual network""
1. Screenshot is outdated
2. Service Endpoint option is no longer available when creating vnet
3. DDoS option is different to what's shown

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfd9533e-c174-cd48-0f72-a58457efa958
* Version Independent ID: b7a77b77-61c2-5e89-cb4b-0b9a502fce71
* Content: [Restrict access to Paa

[2020-12-08 18:16] DerekHerman-MSFT commented on #67263
@riwasa Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-08 18:17] SaiKishor-MSFT commented on #67104
@ruderod Any update? Thanks!

[2020-12-08 18:31] amitbapat commented on #67139
Key Vault uses Azure Storage with RA-GRS for data replication and therefore carries the same replication behavior as Azure Storage RA-GRS.

[2020-12-08 18:31] VanMSFT commented on #42056
#please-close

[2020-12-08 18:31] #42056 closed

[2020-12-08 18:39] mksuni commented on #63318
@shizn This is fixed .

[2020-12-08 18:40] spelluru commented on #66878
Fixed.

@tfv-waken - Thanks for reporting the issue.

#please-close

[2020-12-08 18:40] #66878 closed

[2020-12-08 18:40] mksuni commented on #66329
@evertonmc  This was fixed yesterday.

[2020-12-08 18:42] JCDeist opened #67342 "SQL Missing conversion for SQLG7"
When attempting to follow this process the slo_Name was MS8C_MinZero_MaxS6_SQLG7. The SQL currently provided does not take into account a result with SQLG7 included.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29de5f9b-8b70-45b9-3bc1-ed181b7ce2af
* Version Independent ID: 2575fbc4-40f7-704c-bd3a-bf119d4dddf0
* Conte

[2020-12-08 18:43] mksuni commented on #66437
Working on fixing the doc to include reader.close(). This should go live by next week

[2020-12-08 18:45] bertsawicki opened #67343 "Max IOPS from VMs"
[Enter feedback here]

I'm confused by the statement "If you want to get the best performance for your VMs, you should limit the number of data disks to two disks per vCPU."
this seems to contradict the information on getting max IOPS from this article
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/disk-performance-linux
If I wanted to get max IOPS from a Standard_D16ds_v4 it looks

[2020-12-08 18:46] JamesTran-MSFT commented on #67166
@elafnit
**KV Team update:**
Azure Key Vault is a certificate enrollment tool. You can create the CSR and submit it to the CA. It is on the CA to accept or reject it. In that sense, there is nothing stopping you from doing Code Signing cert from AKV. EV needs to meet industry requirements and it is on the CA to assess that those standards are met.

----------------

The Key Vault repo within [Azur

[2020-12-08 18:46] JamesTran-MSFT commented on #67162
@AndyBunning
I just wanted to check in and see if you had any other questions or if you were able to resolve this issue?

[2020-12-08 18:47] SadiqhAhmed-MSFT commented on #67285
@Anand-Moghe If a VS Benefit subscription is added to EA, the subscription would auto convert to Dev/Test and monetary credit benefit would be lost.

Ref: https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/ea-portal-administration#msdn

[2020-12-08 18:51] NavtejSaini-MSFT commented on #66437
Thank you @mksuni

[2020-12-08 18:52] rbschneider commented on #66607
#please-close

[2020-12-08 18:52] #66607 closed

[2020-12-08 18:53] rbschneider commented on #66674
#please-close

[2020-12-08 18:53] #66674 closed

[2020-12-08 18:53] rbschneider commented on #66684
#please-close

[2020-12-08 18:53] #66684 closed

[2020-12-08 18:54] JamesTran-MSFT commented on #67120
@rgsteele
Looking further into this we found a [User Voice item](https://feedback.azure.com/forums/34192--general-feedback/suggestions/40178662-azure-app-proxy-myapps-extension-for-edge-chrome) that might be related to your issue. We've also reached out to our engineering team regarding this potential bug.

Since your issue seems to be resolved because you discovered that this was being caused by

[2020-12-08 18:54] #67120 closed

[2020-12-08 18:54] musabukhari commented on #47048
@djsly could you please elaborate on that? Our team is also struggling with this and trying to find workaround.

[2020-12-08 18:54] rbschneider commented on #66552
#please-close

[2020-12-08 18:54] #66552 closed

[2020-12-08 18:56] iloving opened #67344 "Instructions don't work"
I have performed the steps outlined in this document, and the user account has MFA configured, and yet it is still not possible to create an app password.  The sections just don't appear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42fff764-77f2-2878-f27f-867c71d9a8fc
* Version Independent ID: 669c3568-eedc-f959-01d

[2020-12-08 19:03] iloving opened #67345 "Option doesn't appear"
This page is useless.  The app password section doesn't even appear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8751595d-4839-d2ee-1e2c-16d07ef84a2d
* Version Independent ID: e66f96b3-5b88-9304-1ec0-9e3bb8a2cfbe
* Content: [How to manage app passwords - Azure Active Directory](https://docs.microsoft.com/en-us/azure

[2020-12-08 19:05] rbschneider commented on #66988
We will be reviewing this issue further this week. Thank you to @wahyuen for reminding us about this.
@SwathiDhanwada-MSFT You can close this issue as this is now part of a larger internal documentation update effort.
#please-close

[2020-12-08 19:05] #66988 closed

[2020-12-08 19:06] rbschneider commented on #66548
#please-close

[2020-12-08 19:06] #66548 closed

[2020-12-08 19:08] WinstonHoward-MSFT commented on #67165
Hey @bdschaap, That feature is unavailable. However there is maintenance mitigation through https://docs.microsoft.com/en-us/azure/azure-sql/database/planned-maintenance.

[2020-12-08 19:08] #67165 closed

[2020-12-08 19:14] DerekHerman-MSFT commented on #67298
@Console32 I believe what you are looking for can be found on this page. There are not currently CLI instructions, but PowerShell is available. https://docs.microsoft.com/en-us/azure/storage/blobs/point-in-time-restore-manage?tabs=powershell#enable-and-configure-point-in-time-restore

[2020-12-08 19:21] mrbullwinkle commented on #64942
The changes to retire and redirect this article have been merged internally. Those changes will go-live later today. Thanks again for bringing this to our attention.

[2020-12-08 19:21] mrbullwinkle commented on #64942
#please-close

[2020-12-08 19:21] #64942 closed

[2020-12-08 19:22] cgat commented on #53227
@RyanHill-MSFT This was very confusing for me as well. I spent a fair bit of time trying to figure out how to use the new js sdk to achieve to send push notifications. The tutorial should clearly state that this is not currently supported in the new sdk.

[2020-12-08 19:25] JamesTran-MSFT commented on #67194
@andreasmarx
When it comes to AzureAD Free and MFA, you can use [security defaults](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/concept-fundamentals-security-defaults) to enable multi-factor authentication for all users. You don't have granular control of enabled users or scenarios, but it does provide that additional security step.

For more info - [Available versions of

[2020-12-08 19:49] mcurko commented on #67136
Does this mean that environment-specific XML in the solution are just instructions to VS on how to deploy?

[2020-12-08 19:49] OMSRocks commented on #67194
Hi @JamesTran-MSFT .
Thank you for the feedback. Unfortunately this does not answer my question regarding using sms with azure ad free/security defaults. Could you please provide details about hat? Best regards Andreas

[2020-12-08 19:51] aahill commented on #66165
Thanks @yfphoon

Data used to train the model such as entities, intents, and utterances will be saved in LUIS for the lifetime of the application. If an owner or contributor deletes the app, this data will be deleted with it. If an application hasn't been used in 90 days, it will be deleted.

Application authors can choose to [enable logging](https://docs.microsoft.com/azure/cognitive-services/lui

[2020-12-08 19:51] #66165 closed

[2020-12-08 19:57] paulomorgado commented on #67222
I think examples, or even the mention of `StopAsync`, would be useful in this docs article.

[2020-12-08 19:58] WinstonHoward-MSFT commented on #67136
Yes. That is correct.

[2020-12-08 20:06] timsander1 commented on #67222
Sure, I can mention StopAsync in this doc and reference the above link.

[2020-12-08 20:06] timsander1 commented on #67222
#please-close

[2020-12-08 20:06] #67222 closed

[2020-12-08 20:15] NavtejSaini-MSFT commented on #67328
@niklarin We are assigning this to our author for information regarding this.
@barbkess Please help us to answer the Cx question.

[2020-12-08 20:19] MicrosoftGuyJFlo commented on #67219
Yes it does.
"When administrators are comfortable that the policy applies as they intend, they can switch to On or stage the deployment by adding specific groups and excluding others."
#please-close

[2020-12-08 20:19] #67219 closed

[2020-12-08 20:20] MashaMSFT commented on #60158
Hi @githubnagaraj , thank you so much for sharing your feedback! My sincerest apologies for the delay, we've been going addressing a greater than average volume of Git Issues.

I agree there is some value in adding some additional information for how ADR works.  I have created an internal work item to track this work and added it to our backlog to be addressed based on priority: [1799729](https://

[2020-12-08 20:20] #60158 closed

[2020-12-08 20:24] NavtejSaini-MSFT commented on #67313
@SimonSimCity We are checking this and we will get back to you.

[2020-12-08 20:29] MarileeTurscak-MSFT commented on #67326
@speschka
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-08 20:30] MarileeTurscak-MSFT commented on #67330
@sailando
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-08 20:34] MarileeTurscak-MSFT commented on #67344
@iloving what happens when you try to create the app password?

[2020-12-08 20:41] MWL88 commented on #67139
Thank you for the update.

[2020-12-08 20:41] gkens commented on #67219
Please explain how That allows an admin to  control which mfa methods are available to guest and non-guest external users

Glenn Kime
Principal
Enspired IT of Ann Arbor
Voice: 734-228-7077
Fax: 734 219-5469
glenn.kime@enspireditaa.com
www.enspireditaa.com

________________________________
From: John Flores <notifications@github.com>
Sent: Tuesday, December 8, 2020 3:19:38 PM
To: MicrosoftDocs/azur

[2020-12-08 20:41] #67139 closed

[2020-12-08 20:44] CaryMoore-DB opened #67348 "Move Requirements to the Top - Runtimes are not otherwise limited in Deployments."
Please Move Requirements to the top.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b7ae4e7-2a4a-5f6f-657b-063013319cf0
* Version Independent ID: fce3f503-a61b-cbc3-41ae-64a7c21808ba
* Content: [Databricks Runtime for Genomics - Azure Databricks - Workspace](https://docs.microsoft.com/en-us/azure/databricks/runtime/ge

[2020-12-08 20:55] kodubeau opened #67349 "Virtual WAN ASN Typo"
There is a typo in the ASN for Virtual WAN.

BGP setting
On the Virtual network gateway Configuration page, you can configure the BGP ASN. Change the BGP ASN. The BGP ASN cannot be 65515. **_66515_** will be used by Azure Virtual WAN.

It should be 65515.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 124ec59c-bf0d-50e

[2020-12-08 20:56] MarileeTurscak-MSFT commented on #67083
As you mentioned, conditional access would be the way to go because you could exclude the users or applications rather than include them. This is documented here: https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/howto-conditional-access-policy-all-users-mfa

Another thing you could do is use the MFA service portal. If the MFA for the users has been enabled using a conditi

[2020-12-08 20:56] #67083 closed

[2020-12-08 20:56] mcurko commented on #67136
OK, thank you.

[2020-12-08 20:59] gkens commented on #67219
Please ignore - this reply was not intended for this particular feedback

Glenn Kime
Principal
Enspired IT of Ann Arbor
Voice: 734-228-7077
Fax: 734 219-5469
glenn.kime@enspireditaa.com
www.enspireditaa.com

________________________________
From: Glenn Kime <glenn.kime@enspireditaa.com>
Sent: Tuesday, December 8, 2020 3:41:39 PM
To: MicrosoftDocs/azure-docs <reply@reply.github.com>; MicrosoftDocs/

[2020-12-08 21:01] JamesTran-MSFT commented on #67194
@andreasmarx and @OMSRocks
Thank you for the quick follow up! I completely missed the SMS portion of your question. I was able to test this out and will post my findings below.

If you enabled security defaults and have a phone number listed under "Authentication Methods".
![image](https://user-images.githubusercontent.com/36619112/101537789-ed84c380-3950-11eb-9651-11e909336b1e.png)

You'll be abl

[2020-12-08 21:07] brphelps opened #67350 "The "note" text doesn't work when configuring Front Door"
The note `Automatic rotation of certificates to the latest version, when a newer version of the certificate is available in your Key Vault.` doesn't seem to apply, since you cannot configure azure front door to have a blank version when hooking up the cert. This is either out of date or something is wrong in the azure portal UI.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2020-12-08 21:13] Aegrum opened #67351 "Authenticator as a brokering app on Android?"
[Enter feedback here]
Under "Require approved client app" it now states:
`A broker app is required to register the device. The broker app can be the Microsoft Authenticator for iOS, or either the Microsoft Authenticator or Microsoft Company portal for Android devices.`

The addition of Authenticator as a brokering app for Android is very exciting for us. This part of the document was added by pull

[2020-12-08 21:24] Aegrum commented on #67351
Here's the [commit](https://github.com/MicrosoftDocs/azure-docs/commit/aca4e39c327e1eb3d40f898e027fe899a6aea996?branch=aca4e39c327e1eb3d40f898e027fe899a6aea996&diff=unified)

[2020-12-08 21:27] Karishma-Tiwari-MSFT commented on #67316
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-08 21:38] shanerisk opened #67353 "Document out of date - Accelerated database recovery is GA for Azure Synapse"
Accelerated database recovery is GA for Azure Synapse.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a825ecf0-9d63-29be-8e8a-aab285a53c7a
* Version Independent ID: 4e25d0f7-56b5-3229-89d8-7509264647a5
* Content: [Accelerated database recovery - Azure SQL](https://docs.microsoft.com/en-us/azure/azure-sql/accelerated-da

[2020-12-08 21:49] appi101 commented on #67316
I do not own the content anymore. @manojsi @chuxin to look further.

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Karishma Tiwari - MSFT <notifications@github.com>
Sent: Tuesday, December 8, 2020 4:28 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Aprameya Rao <Aprameya.Rao@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [

[2020-12-08 21:56] julieMSFT commented on #55577
@frvigano Hello, Please see [Synapse Managed private endpoints](https://docs.microsoft.com/en-us/azure/synapse-analytics/security/synapse-workspace-managed-private-endpoints). I also believe RonyMSFT answered your question. I will go ahead with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear fr

[2020-12-08 21:57] julieMSFT commented on #55577
#assign:julieMSFT

[2020-12-08 21:59] julieMSFT commented on #55577
#please-close

[2020-12-08 21:59] #55577 closed

[2020-12-08 22:03] julieMSFT commented on #55588
@eliasvakkuri Hi, I am sorry for the delayed response. I believe this article will answer your questions, [Connect to Azure Synapse Studio using Azure Private Link Hubs](https://docs.microsoft.com/en-us/azure/synapse-analytics/security/synapse-private-link-hubs). please let me know if this answers your questions.

[2020-12-08 22:04] julieMSFT commented on #55588
#assign:julieMSFT

[2020-12-08 22:11] spelluru commented on #66805
#please-close

[2020-12-08 22:11] #66805 closed

[2020-12-08 22:12] SusanGude opened #67354 "Inaccurate information"
[Enter feedback here]
Some of this information is wrong, please have someone email me to walk through the changes that need to be made: sgudenkauf at vmware dot com.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2354e09e-549e-f2d3-fb89-7972d88ce1f2
* Version Independent ID: de77584b-978d-0f26-5772-c5ab891fcbba
* Conte

[2020-12-08 22:16] sec23206 commented on #50904
@TomArcherMsft

I'm running into a similar error as described at the top of this thread:

[code]

I thought that when using Ansible >= 2.8, the dynamic inventory plugin for Azure was part of the distribution (that you didn't need to download the Python script separately).  Is that not correct?  In my case, I've defined my Azure "credentials" as environment variables, but am getting this message:
[

[2020-12-08 22:17] VanMSFT commented on #62077
Need clarification. Following-up with Rohit.

[2020-12-08 22:17] mcurko opened #67355 "Debugging doesn't work"
I tried to attach the debugger to an Azure cluster, but it always resulted with _cannot attach..._ message. Azure VM, no firewall, NSG completely open, latest VS 2019. From my laptop the same thing. So there must be some additional conditions for debugging to work which are not specified here. (I used the sample _Voting_ application and one-node dev cluster.)

---
#### Document Details

⚠ *Do not

[2020-12-08 22:22] evertonmc commented on #66329
What do you mean by fixed? Can you reference a commit for the fix please?

[2020-12-08 22:22] shortpatti commented on #67354
#assign @shortpatti

[2020-12-08 22:22] shortpatti commented on #67354
@SusanGude please respond to my email so that we can provide the correct information to this topic.  Thank you!

[2020-12-08 22:24] JamesTran-MSFT commented on #67319
@leebjn
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-08 22:30] dlepow commented on #66574
@psmanhas - I'm sorry not to help here, probably better for content author @jimzim to look at? thanks

[2020-12-08 22:30] jpveritone commented on #50904
I am getting the same error `[WARNING]:  * Failed to parse /home/jperez/vtdev/ansible/inventories/stage_azure_rm.yml with auto plugin: global name 'ServicePrincipalCredentials' is not defined` using ansible 2.9
My `stage_azure_rm.yml` looks like
`    plugin: azure_rm
    include_vm_resource_groups:
    - zsfc01-usgoveast1-nsq-cluster
    auth_source: auto

    keyed_groups:
    - prefix: tag

[2020-12-08 22:40] ambhatna commented on #66669
Hi @yoshioterada, Thank you for the feedback. As discussed offline. I have updated the documentation with the limitation. Please refer to the PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/140348

[2020-12-08 22:40] dlepow commented on #65471
@zerolagtime - Thanks for pointing out the content gap. I have logged a work item to add applicable ACR Tasks limits to the [Registry service tiers and features - Azure Container Registry](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-skus).

Our doc team will prioritize work items and include this item in our planning. I'll proceed to #please-close this issue. Thank

[2020-12-08 22:40] #65471 closed

[2020-12-08 22:44] dlepow commented on #57404
@porrascarlos802018 - Since we haven't heard back from you we will now proceed to close this issue.
However if you can share additional information regarding the documentation you are referring and circle back on this thread, we will gladly reopen the issue and continue the discussion. Thank you.
#please-close

[2020-12-08 22:44] #57404 closed

[2020-12-08 22:48] mentorfloat commented on #67192
@RohitMungi-MSFT no worries, will do. It is slightly related to the docs, because it might be helpful to add a line saying that if features were excluded from the dataset, when making a POST request, the length of the json body must still match the original length of the dataset. I will close the issue now.

[2020-12-08 22:48] #67192 closed

[2020-12-08 22:48] julieMSFT commented on #61036
@feemurk Thank you for your feedback. The article has been updated to include why the file system is needed.  Please review  [Creating a Synapse workspace](https://docs.microsoft.com/en-us/azure/synapse-analytics/get-started-create-workspace#create-a-synapse-workspace-1). I will go ahead with closing this issue. The @notification mechanism continues to work even after an item is closed, in case fu

[2020-12-08 22:48] julieMSFT commented on #61036
#assign:julieMSFT

[2020-12-08 22:49] julieMSFT commented on #61036
#please -close

[2020-12-08 22:49] SusanGude commented on #67354
Hi please connect me with the appropriate person from Microsoft so we can clarify the web page. VMware does not support the on-premises version of vRealize Operations within AVS directly.

Thanks,
Susan

On Dec 8, 2020, at 4:22 PM, Patti Short <notifications@github.com> wrote:

﻿

@SusanGude<https://github.com/SusanGude> please respond to my email so that we can provide the correct information to

[2020-12-08 22:51] #61036 closed

[2020-12-08 22:52] shortpatti commented on #67354
@SusanGude, I am the correct person.  I can get this updated fast since I am the content owner.

[2020-12-08 22:53] alexpapworth opened #67356 "Unclear how to create Container Registry credentials for use in Github Actions"
Step 3 states "define the following additional secrets for the container registry credentials", but it doesn't explain *how* to do so.

Am I meant to use my admin user details, or create another user against the Azure Container Registry to perform the push instead?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 425acc4

[2020-12-08 22:53] dlepow commented on #53039
@harsha130699 - Very sorry for slow response to your comment. Our App Service team has published some preliminary content for this scenario (Linux containers only at this time):

[How to use system-assigned Managed Identities with App Service and Azure Container Registry](https://github.com/Azure/app-service-linux-docs/blob/master/HowTo/use_system-assigned_managed_identities.md)
[How to use user-a

[2020-12-08 23:00] JamesTran-MSFT commented on #67325
@gkens
When it comes to Azure MFA, some authentication methods can be used as the primary factor when you sign in to an application or device, such as using a FIDO2 security key or a password. Other authentication methods are only available as a secondary factor when you use Azure AD Multi-Factor Authentication or SSPR.

For more info on [how each authentication method words and how to implement e

[2020-12-08 23:01] navyasric commented on #66101
Please assign to @hamiltonha who is PM for JavaScript.

[2020-12-08 23:06] brandonh-msft opened #67357 "What are the limits of scheduled messages?"
I'm looking for information on how far into the future we can schedule messages on a Service Bus queue but cannot seem to find these types of limits

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 034f7b39-4f6b-87c4-5dfa-a09ea0235b6e
* Version Independent ID: 6987bbec-c4e9-573f-89c5-aa316af045f9
* Content: [Azure Servic

[2020-12-08 23:07] MarileeTurscak-MSFT commented on #67345
@iloving thanks! I'm closing this out as a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/67344

We can continue on that thread.

[2020-12-08 23:07] #67345 closed

[2020-12-08 23:10] dlepow commented on #57954
Added "Portal deployment of image from registry to Azure App Service..." is added to description of admin account scenarios in [Registry authentication options - Azure Container Registry](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-authentication#admin-account)

#please-close

[2020-12-08 23:10] #57954 closed

[2020-12-08 23:12] MarileeTurscak-MSFT commented on #67351
@Aegrum thanks for the question! I have assigned this issue to the content author to confirm.

[2020-12-08 23:14] hrasheed-msft commented on #67143
Hello @lesterw1 You can see details about viewing and managing scans in the "How-To" guides for the specific data source you are working with. For example, [Azure Blob Storage - View Scans](https://docs.microsoft.com/en-us/azure/purview/register-scan-azure-blob-storage-source#viewing-your-scans-and-scan-runs).

[2020-12-08 23:15] hrasheed-msft commented on #67183
#please-close

[2020-12-08 23:15] #67183 closed

[2020-12-08 23:21] bandersmsft commented on #67282
@jmstrupp-psjh Do you have the Azure RBAC owner role on your enrollment account?

[2020-12-08 23:21] spelluru commented on #66995
Thank you. Fixed the statement.

https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-availability-and-consistency?tabs=latest#consistency

#please-close

[2020-12-08 23:21] #66995 closed

[2020-12-08 23:24] #64705 closed

[2020-12-08 23:28] ChaitanyaNaykodi-MSFT commented on #67357
Hello @brandonh-msft, Thank you for your feedback! We will review and update as appropriate.

[2020-12-08 23:44] VanMSFT commented on #62077
@dcbrown16 - Hey Dillon, I'm adding the associated roles that we reference as Network Admin and Database Admin in the doc. Thanks for the feedback on this! We really appreciate it.

[2020-12-08 23:51] #62077 closed

[2020-12-08 23:58] MarileeTurscak-MSFT commented on #67331
@eaarnoudse
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-09 00:02] ArnoMicrosoft commented on #58854
#closed
I would have to change all the content in the documents

[2020-12-09 00:10] julieMSFT commented on #34212
@LindaLF Hello, sorry for the delay in a response. I am still trying to track down the answer.

[2020-12-09 00:13] jmstrupp-psjh commented on #67282
@bandersmsft
Prior to running the commands below - I had an EA account for this Tenant (I only assigned this account Tenant UAA rights)
I ran the following commands as the EA account owner (according to the documentation) to Grant the Azure RBAC owner role on the enrollment account (see below):

(1) Grabbed the ObjectID (not AppID) of the SP
`az ad sp list --display-name "$SPNAME" --output tsv --q

[2020-12-09 00:21] NavtejSaini-MSFT commented on #67339
@gb5757870 We are checking and will get back to you.

[2020-12-09 00:22] cherylmc commented on #67349
Thanks! Fixing in a different PR. #please-close

[2020-12-09 00:22] #67349 closed

[2020-12-09 00:22] NavtejSaini-MSFT commented on #67343
@bertsawicki We are checking this and will get back to you.

[2020-12-09 00:23] JamesTran-MSFT commented on #67326
@speschka
Thank you for your time and patience!

Based off your issue, I'd recommend re-posting your Stack Overflow post to our ["office-sharepoint-server-development" MS Q&A forum](https://docs.microsoft.com/en-us/answers/topics/office-sharepoint-server-development.html) or our [SharePoint Developer Tech Community](https://techcommunity.microsoft.com/t5/sharepoint-developer/bd-p/SharePointDev).

[2020-12-09 00:24] NavtejSaini-MSFT commented on #67355
@mcurko We are checking this and will get back to you.

[2020-12-09 00:25] NavtejSaini-MSFT commented on #67356
@alexpapworth We are checking this and will get back to you.

[2020-12-09 00:27] NavtejSaini-MSFT commented on #67350
@brphelps We are checking this and will get back to you.

[2020-12-09 00:34] jlichwa commented on #66774
#please-close

[2020-12-09 00:34] #66774 closed

[2020-12-09 00:36] MarileeTurscak-MSFT commented on #67317
Hi @sailando,

This [article [](](https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-authentication-methods)details) the different MFA methods and describes the security levels of each method, so might be more of what you are looking for. This screenshot is a good simplified overview:

![image](https://user-images.githubusercontent.com/13383753/101558244-6eed4d80-3973-1

[2020-12-09 00:36] #67317 closed

[2020-12-09 00:39] cherylmc commented on #67006
Working with the product team to get an updated graphic from them. Thanks!

[2020-12-09 00:42] julieMSFT commented on #66923
@swanderz Thank you for contacting Microsoft. It sounds like you're looking to provide suggestions or ideas for improvement for the product,  you can do so at https://feedback.azure.com/forums/307516-azure-synapse-analytics.

I will go ahead with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear

[2020-12-09 00:44] julieMSFT commented on #66923
#assign:julieMSFT

[2020-12-09 00:45] julieMSFT commented on #66923
#please-close

[2020-12-09 00:45] #66923 closed

[2020-12-09 00:47] NavtejSaini-MSFT commented on #67268
Thank you @PedroC88. We will closing this request at this point in time.

[2020-12-09 00:47] #67268 closed

[2020-12-09 00:47] #67277 closed

[2020-12-09 00:52] NavtejSaini-MSFT commented on #67004
@lfittl-msft Please check as the Sample for Single server and Hyperscale both point to https://docs.microsoft.com/en-us/azure/postgresql/sample-scripts-azure-cli page.

[2020-12-09 00:54] TravisCragg-MSFT commented on #67255
@archiemaskill It is likely that there is an issue with the 'backend' subnet, make sure that it has enough address space to put your VMS into. If you made that subnet incorrectly, you can always make a different subnet that is large enough and put the VMs there. As long as the VMs are in the same VNET, there should be no change in functionality.

[2020-12-09 00:55] gary918 commented on #67253
Got it. Thanks a lot, @zhenlan !

[2020-12-09 00:59] NavtejSaini-MSFT commented on #67353
@shanerisk We are checking this and will get back to you.

[2020-12-09 01:00] NavtejSaini-MSFT commented on #67342
@JCDeist We are checking this and will get back to you.

[2020-12-09 01:02] TravisCragg-MSFT commented on #67278
@llx9 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-12-09 01:03] JamesTran-MSFT commented on #67302
@bgarcial
Thank you for pointing this out! I reached out to our encryption product team and have created a PR to update the documentation.

I will now close out this issue, please allow some time for the changes to reflect.
Thank you for your time and patience!

[2020-12-09 01:03] #67302 closed

[2020-12-09 01:04] NavtejSaini-MSFT commented on #67334
@mousas We are checking this and we will get back to you.

[2020-12-09 01:06] TravisCragg-MSFT commented on #67305
@anhowe Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-12-09 01:07] NavtejSaini-MSFT commented on #67348
@CaryMoore-DB We are checking this and will get back to you.

[2020-12-09 01:08] cawrites commented on #58854
#please-close

[2020-12-09 01:08] #58854 closed

[2020-12-09 01:09] cawrites commented on #58854
@ArnoMicrosoft I added @please-close to this issue instead of #close. If it was not your intent to close it, you can update this issue.

[2020-12-09 01:21] liudan66 commented on #66901
@gfree76 for execution the sql scripts, you need to click the "Run" .The t-sql objects or the results of sql script is not supposed be synced to source control system

[2020-12-09 01:37] msdpalam opened #67363 "Isn't partition key is a required field for all gremlin containers?"
In the document we mentioned that "Partitioning is required if the container is expected to store more than 20 GB in size or if you want to allocate more than 10,000 request units per second (RUs).". I tested created few containers and I see that the partition key is a required field.

Can you please verify and update the document?

---
#### Document Details

⚠ *Do not edit this section. It is req

[2020-12-09 01:40] viseshag commented on #67210
@DJuanes Do you have control plane access/role (e.g. contributor) to the subscription and tenant that you are trying to connect to?

[2020-12-09 01:42] nanditavalsan commented on #67163
Resolved offline with Kyle. It is possible to use discrete permissions to create a custom role or grant to a user directly for pause/resume actions. The SQL DB Contributor role covers these permissions in the database/* permission

[2020-12-09 01:44] sebansal commented on #66602
#please-close

[2020-12-09 01:44] #66602 closed

[2020-12-09 01:52] jlichwa commented on #66679
It is not an error for both applicat(ion only and user only - objectid is populated and aplicationid is null. The applicationid is only used for Application+User option - when application access key vault on behalf of user. #please-close

[2020-12-09 01:52] #66679 closed

[2020-12-09 01:53] nanditavalsan commented on #67163
#please-close

[2020-12-09 01:53] #67163 closed

[2020-12-09 01:59] #66901 closed

[2020-12-09 02:08] Karishma-Tiwari-MSFT commented on #67356
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-09 02:32] dcbrown16 opened #67364 "ToC placement"
This doc does not appear to be tied to anywhere in the ToC. Is it still a current doc?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d36001d-36c5-909f-7e5f-3b6ef05cd625
* Version Independent ID: b9f0a304-3dfd-eab9-cbaf-57a47318aab5
* Content: [Intelligent Insights performance diagnostics log - Azure SQL Database](htt

[2020-12-09 02:45] Karishma-Tiwari-MSFT commented on #67312
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2020-12-09 02:45] #67312 closed

[2020-12-09 02:51] gkens commented on #67325
It seems that Authenticator app can only be added as a secondary method

Please explain how guest and non-guest users can set a secondary mfa method

Thanks

Glenn Kime
Principal
Enspired IT of Ann Arbor
Voice: 734-228-7077
Fax: 734 219-5469
glenn.kime@enspireditaa.com
www.enspireditaa.com

________________________________
From: James Tran-MSFT <notifications@github.com>
Sent: Tuesday, December 8,

[2020-12-09 02:52] jstevensgithub commented on #64488
I was trying to settle on coding an Eventsource for each app.  However, I am also having trouble configuring, or finding the information to configure correctly, how to get Eventsource events into Application Insights traces.  Eventsource works great with Perfview.  It works with LTTng on Linux and dotnettrace.  I will try to implement the above code but it seems an incredible amount of code to rep

[2020-12-09 02:59] MonikaReddy-MSFT commented on #67132
@kostrse - Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2020-12-09 02:59] #67132 closed

[2020-12-09 02:59] VikasPullagura-MSFT commented on #67141
@girishgouda Any update on the issue.

[2020-12-09 03:05] yiliuTo opened #67365 "[Query] Application can acquire scopes in access_token even though the permission is not configured in API permissions"
I use the `Azure AD v2.0 Protocols - OAuth 2.0 Authorization Code Flow` template of Postman to acquire access_token. However, during my experiments, I found that when I add scope parameters of some permissions that I don't configure in Azure Portal `API permissions` at first and also don't need admin consent, as long as I consent for that permission when I login to that application, then the appli

[2020-12-09 03:12] mrbullwinkle commented on #64054
@jairbubbles This example is written to support Classic Windows Desktop apps where TelemetryConfiguration.Active is still supported in the latest release of the Application Insights SDKs for .NET Framework based apps. There are also still some situations where TelemetryConfiguration.Active is required even for the .NET Core SDK where tc.active is officially deprecated: https://github.com/Microsoft

[2020-12-09 03:29] yiliuTo commented on #67365
Here are the process of my experiment:
1. Acquire the authorization code, and you can see from the picture that I add one `scope` paremeter of `https://graph.microsoft.com/Bookings.Manage.All`.
<img src="https://user-images.githubusercontent.com/63028776/101569407-65192800-3a0f-11eb-917e-c732591ab852.png" width="650" height="250">

2. Check Azure Portal for `API permission` of that application, yo

[2020-12-09 03:32] NavtejSaini-MSFT commented on #67364
@dcbrown16 We are checking this and we will get back to you.

[2020-12-09 03:35] Aegrum commented on #67351
We figured it out. Authenticator works with the CA policy as a brokering app _only_ if you have _zero_ Intune app protection policies assigned. I'm sure there are probably _some_ people out there who configure the CA sans Intune APPs, but I doubt there's many. As soon as you apply the APP you have to use Company Portal instead. May be worth calling out 🤷‍♂️

[2020-12-09 03:38] mrbullwinkle commented on #66043
TelemetryConfiguration.Active is still valid for .NET Framework apps in the latest version of the Application Insights SDK. it is only deprecated for .NET Core apps. It's also the only way to use certain Logging frameworks like NLog with Application Insights. I updated the code sample to not use tc.active to avoid confusion, but the previous code is still valid in this context.

[2020-12-09 03:38] mrbullwinkle commented on #66043
#please-close

[2020-12-09 03:38] #66043 closed

[2020-12-09 03:42] AnuragSharma-MSFT commented on #67363
@msdpalam Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-12-09 03:42] julieMSFT commented on #58854
#assign:julieMSFT

[2020-12-09 03:42] julieMSFT commented on #58854
#please-close

[2020-12-09 04:01] arvind-dhariwal commented on #58854
Where can i see updated document?

[2020-12-09 04:07] AnuragSharma-MSFT commented on #67238
@lfittl-msft Thanks for the information provided.

@msymons Please let us know if you need more information. As specified. documentation shall be updated accordingly in some days.

[2020-12-09 04:09] NavtejSaini-MSFT commented on #67348
@CaryMoore-DB We want to further understand the requirement here to move it to top. Is the reasoning that it is not clearly visible.
The Sequence appears correct with What is it first and Requirements later.

[2020-12-09 04:20] NavtejSaini-MSFT commented on #67334
@mousas Please elaborate your feedback or question so that we can take this issue forward in right way.

[2020-12-09 04:26] AnuragSharma-MSFT commented on #67295
@lonevvolf You can find more details on the same in another article as mentioned below:
https://docs.microsoft.com/en-us/azure/azure-sql/database/firewall-configure

Also, could you please provide little more information about 2nd point?

[2020-12-09 04:29] PureKrome commented on #29892
I know this is a closed issue, etc .. but this page NEEDS to have the proper .NET48 data updated to accurately reflect NET48 installs. NET48 has been out in the wild for a while .. so can this please get an update?

[2020-12-09 04:32] NavtejSaini-MSFT commented on #67314
@mssaperla Please check and confirm the change and we will raise the PR for the same.

[2020-12-09 04:34] WinstonHoward-MSFT commented on #67337
The packaging process is __environment neutral.__ Packaging just creates a deployable package from the given application. If you want a 1:1 relationship between packages and environment specific parameters or publishing information (i.e a Publish Profile) you need to have separate projects in VS. This can be easily accomplished with separate folders and a parallel directory structure. Otherwise yo

[2020-12-09 04:34] #67337 closed

[2020-12-09 04:37] mrbullwinkle commented on #64710
This article needs to be updated further in the future, but to address your immediate issue I modified that code snippet as follows:
[code]
The update should go live tomorrow.

[2020-12-09 04:37] mrbullwinkle commented on #64710
#please-close

[2020-12-09 04:37] #64710 closed

[2020-12-09 04:44] NavtejSaini-MSFT commented on #67342
@stevestein Please check this feedback and provide guidance here.

[2020-12-09 04:45] AjayKumar-MSFT commented on #67340
@gb5757870, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-12-09 04:48] PramodValavala-MSFT commented on #67193
@epieters Thanks for catching that! Since `context.Request.Headers` is a `IReadOnlyDictionary<string, string[]>`, the example in the doc checks for a match in the `string[]` instead of a string.

We have worked up a PR to address this, which once merged should reflect in a couple of hours.

[2020-12-09 04:52] AjayKumar-MSFT commented on #67235
@ChrisSommers, We will close this out, but if you feel you need more information please just let us know.

[2020-12-09 04:52] #67235 closed

[2020-12-09 04:59] #67193 closed

[2020-12-09 04:59] AjayKumar-MSFT commented on #67254
@moehoward, The requested changes have been merged. We will close this thread for now. Thanks again for taking time to share your feedback!

[2020-12-09 04:59] #67254 closed

[2020-12-09 05:03] VikasPullagura-MSFT commented on #67205
@mcurko Please find the requested details on the linked issue.

https://github.com/microsoft/service-fabric/issues/1081#issuecomment-741141768

[2020-12-09 05:05] vipulsparsh commented on #67365
@yiliuTo Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-12-09 05:06] sandeep-ma opened #67366 "The Common Data Service connector with entity hierarchy"
This CDS Connector is a complete disaster when it comes to entity hierarchy. Firstly, it is not compatible with the original connector for entity hierarchy and all logic apps have to be rewritten and secondly it mangles up any complex data in its json escape characters. Not at all elegant implementation. They ran out of funds half way into the project, so delivered half baked solution.

---
#### D

[2020-12-09 05:45] MS-jeremy commented on #64658
![image](https://user-images.githubusercontent.com/64671905/101590079-b5e74b80-3a24-11eb-9811-2ef30ec7ba51.png)

@markjbrown , Hi in the above table, it's still showing N+1, do you have any chance to change it to N?

[2020-12-09 05:49] drchilds opened #67367 "Azure B2C Tutorial w/Facebook Login Needs More Frequent Review"
This article is out of date and does not reflect the current UI steps within Facebook itself for creating an AAD B2C integration. Further, this tutorial as a whole could use some additional clarification around what app registrations are needed in the primary Asure AD account vs. B2C tenants, as this gets confusing very quickly as written.

---
#### Document Details

⚠ *Do not edit this section. I

[2020-12-09 05:51] wahyuen commented on #67058
@CHEEKATLAPRADEEP-MSFT does that mean the only way we can enable this feature is through manual deployment in the Portal?

Are there any ARM templates or REST endpoints that we could utilize?

[2020-12-09 06:08] eliasvakkuri commented on #55588
Unfortunately no, the updated page still just explains how to set up the private endpoint but not how to use it.

[2020-12-09 06:17] nireshb commented on #67306
Hi,

List of URLs customer saw on their proxy.

[cid:image001.jpg@01D6CE03.B7652050]

Thanks
Nireshen

From: Nireshen Beerbul <nireshen@gmail.com>
Sent: Tuesday, 08 December 2020 19:29
To: MicrosoftDocs/azure-docs <reply@reply.github.com>; MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>; Nireshen Beerbul <nireshb@microsoft.com>
Cc: Mention <mention@noreply.github.com>
Subject: [EXTERNAL]

[2020-12-09 06:23] Console32 commented on #67298
Thank you very much, After digging around I found the CLI as well. Can you add this to the documentation?

[code]

[code]

Performing the restore from CLI would be of interest as well. :)

[2020-12-09 06:26] mayurpuli opened #67368 "There should be an equivalent Java SDK sample for User Delegation SAS"
There should be an equivalent Java SDK sample should also be made available in this page. I know Microsoft's priority is .Net but Java SDK samples would really benefit some of the customers who are especially Java shops

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 356fbbd8-db87-fb87-2c0d-d50c8657e9e3
* Version Indepe

[2020-12-09 06:50] lonevvolf commented on #67295
@AnuragSharma-MSFT Thank you.
While the link is helpful, it does not resolve the issue.  The flowchart on this page says that if Deny Public Network Access is enabled, any connection must go through the private endpoint.  It should be made clear the interaction between the Deny Public Network Access and the Allow Azure services option to indicate that the second option bypasses the first, as well

[2020-12-09 06:51] yuu045-ran opened #67369 "Local cache document should be clear on what should be done on client end"
Hello engineers,

I'm from CSS team and I'm currently working on a support ticket regarding local cache, the issue is "after enabling local cache and after a deployment, the new content will not show up until a manual restart on the site".

After testing, we figured out:
- Local cache requires *manually* restart on customer's side, our platform will not auto restart the site, and the old content w

[2020-12-09 06:52] SadiqhAhmed-MSFT commented on #67306
@nireshb Please post snippet, the image you shared isn't opening.

FYI: As mentioned in the [Public URLs](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fmigrate%2Fmigrate-appliance%23public-cloud-urls&data=04%7C01%7CSadiqh.Ahmed%40microsoft.com%7C7987646ae877427f5fd408d89bfbe975%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637430853663378834%

[2020-12-09 07:12] Hannahayek opened #67370 "Overriding Endpoints in ServiceManifest.xml"
when passing ports in application manifest, change will not be reflected in service manifest ,however the port that will be used will be the one from application manifest ?
could you please confirm ?

application manifest
<Parameter Name="Port" DefaultValue="10023" / / this one will be used ?

service manifest
 <Endpoint Name="GatewayService_ServiceEndpoint" Port="10022" Protocol="https" Type="Inp

[2020-12-09 07:26] JayaChatterjee-MSFT commented on #67057
@JackyChiou This is an expected behavior while creating the app from portal. Once it is created you can change the connection string in the application settings and use whichever storage you want. But you need to consider the latency when the storage is in different region. Also if there is a regional outage/failure then the function would encounter issues as the storage will not be functional, un

[2020-12-09 07:28] nireshb commented on #67306
Thanks for the update - cx felt that *.windows.net was too permissive and didn’t configure.

You are correct and so are the docs - the public url detailed covers graph.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: SadiqhAhmed-MSFT <notifications@github.com>
Sent: Wednesday, December 9, 2020 8:53:12 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com

[2020-12-09 07:34] slavizh opened #67371 "resource-specific mode for diagnostic settings"
Hi.
According to this doc https://docs.microsoft.com/en-us/azure/azure-monitor/reference/tables/azurediagnostics#azure-diagnostics-mode-or-resource-specific-mode IoT Hub is one of the services that support resource-specific mode for diagnostic settings. On this page this is not noted and also cannot be configured from portal. Because of this I have several questions:
- Is this functionality offici

[2020-12-09 07:49] jan-tosovsky-cz commented on #66697
@SubhashVasarapu-MSFT  I am not sure my last comment was noticed. Should I rather create a new issue?

[2020-12-09 07:52] chengyu-liu-cs opened #67372 "Example of how to get and refresh tokens from outside SDK"
Hi,

We are providing ML webservices which are key-based authentication to customers who donot necessarily use Azure ML services or Azure. Now they want to have token based authentication.

In the document it says that

We strongly recommend that you create your Azure Machine Learning workspace in the same region as your Azure Kubernetes Service cluster.
To authenticate with a token, the web servi

[2020-12-09 08:12] AnuragSharma-MSFT commented on #67295
@lonevvolf Thanks for reverting back.

Once we enable Deny Public Network on Azure SQL server, connectivity from inside or outside the Azure is not possible with out using Private Network. It does not matter if enable 'Allow Azure Services' option or not. Deny Public Network takes the precedence over other options. However if Deny Public Network is not enabled and we also don't set the Allow Azure

[2020-12-09 08:32] skmkzyk opened #67375 "add App Service to scheme table"
There's many scheme listed, but App Service is missing.
Why not add link to this [URL](https://docs.microsoft.com/en-us/azure/app-service/troubleshoot-diagnostic-logs#supported-log-types)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: daf3e121-6ca8-4e35-ff35-1b6151d26a16
* Version Independent ID: 3efd2282-db7f-02e3-9a

[2020-12-09 08:41] SadiqhAhmed-MSFT commented on #67306
@nireshb Thanks for confirming. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-09 08:41] #67306 closed

[2020-12-09 08:44] bobbybhaskar opened #67376 "cloud-init user-data script is not working on centos 7"
Hello everyone,

In cloud-init I took one of the centos VM, while I am creating the VM there is an option called "custom data" in that given one of the sample scripts for testing, I attach the script.

 just follow this link "

([(https://docs.microsoft.com/en-us/azure/virtual-machines/linux/tutorial-automate-vm-deployment)])

OS:

NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel f

[2020-12-09 08:52] riccom76 commented on #61554
@mimckitt, that "How do I remove deprecated certificates" paragraph is missing of an example to guide users to remove the certificates from the VMSS Model (rather than removing from the KV).

Something structured like the "[How do I add a new vault certificate to a new certificate object](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-faq#how-do-i-add-

[2020-12-09 08:56] GitaraniSharma-MSFT commented on #67067
@AndrewSmithRS , the difference between App gateway V1 and V2 SKU multi-site behaviour is documented in the below article:
https://docs.microsoft.com/en-us/azure/application-gateway/ssl-overview#frontend-tls-connection-client-to-application-gateway

[2020-12-09 08:58] justas-exadel opened #67378 "The code is incorect"
[Enter feedback here]
In the documentation your code is wrong. You use
`logger.info("I will be sent to Application Insights with Custom Dimensions", custom_dimensions)`

True code that actually works is
`logger.info("I will be sent to Application Insights with Custom Dimensions",extra= {"custom_dimensions":custom_dimensions})`

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-12-09 09:01] apaulro commented on #34843
This is still a bug in the Logic App designer..code behind retains the expression.

[2020-12-09 09:10] SwathiDhanwada-MSFT commented on #67375
@skmkzyk Thanks for your feedback.

Assigning to content author @rboucher for review and for updating the document accordingly.

[2020-12-09 09:17] MatthijsvdVeer opened #67379 "Azure Digital Twins wrongly mentioned in IoT PnP section?"
Questionmark at the end of this issue, because I might very well be wrong here. This doc is about Digital Twins and Device Twins, but throughout the document, references are being made to Azure Digital Twins (ADT) and Digital Twins in PnP. Under [this section](https://docs.microsoft.com/en-us/azure/iot-pnp/concepts-digital-twin#digital-twin-apis) the sentence `Azure Digital Twins comes equipped wi

[2020-12-09 09:21] eaarnoudse commented on #67331
Thank you very mcuh 😊

Van: Marilee Turscak - MSFT <notifications@github.com>
Verzonden: woensdag 9 december 2020 00:59
Aan: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
CC: eaarnoudse <eaarnoudse@gmail.com>; Mention <mention@noreply.github.com>
Onderwerp: Re: [MicrosoftDocs/azure-docs] Create Dataset (#67331)

@eaarnoudse <https://github.com/eaarnoudse>
Thanks for your feedback! We wi

[2020-12-09 09:32] GitaraniSharma-MSFT commented on #67227
@lissff , A network profile is a network configuration template for Azure resources. It specifies certain network properties for the resource, for example, the subnet into which it should be deployed. When you first deploy a container group to a subnet (and thus a virtual network), Azure automatically creates a network profile for you. And since this is an ancillary resource created/managed by Azu

[2020-12-09 09:32] #67227 closed

[2020-12-09 09:49] GitaraniSharma-MSFT commented on #67292
@anthonysomerset , as I mentioned in https://github.com/MicrosoftDocs/azure-docs/issues/64656, the PG team is already aware of this issue and the change has already been deployed in the code level but the production roll out is pending. I checked with the PG team again and they mentioned they are trying to get it rolled out in the upcoming portal update before 20th December.

[2020-12-09 10:11] SubhashVasarapu-MSFT commented on #66697
@jan-tosovsky-cz, Apologies. Somehow, I missed the notification. Could you please send a mail to azcommunity@microsoft.com ? This needs deeper investigation, and we can connect over skype to close this issue.

[2020-12-09 10:11] psmanhas commented on #66574
Thank you @dlepow . @jimzim Can you please provide your input on mentioned ask?

[2020-12-09 10:24] marcelkmfst opened #67381 "Role required"
Hi,

as far as I know, there is no full contributor required. You just need "network contributor" rights on the VNET in the target tenant.
This should be fixed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcdbb009-ef13-5e6c-d206-6d86418cd270
* Version Independent ID: 8684030a-20a7-33ba-9b94-2acf37d613c6
* Content: [C

[2020-12-09 10:36] dineshpathapati opened #67382 "Azure policy definition is unable to deny a resource group deployment with no tag value"
Hi
I have a requirement where I need to write a custom azure policy definition that denies deployment of a resource group with no tags.
For that, I wrote a custom definition as below. When I assign it, it's denying the resource group deployment with no tags. But the problem is when I just give only tag name without mentioning tag value then the deployment is passing the validation as it has a tag

[2020-12-09 10:49] SnehaAgrawal-MSFT commented on #67369
@yuu045-ran Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-12-09 10:49] SubhashVasarapu-MSFT commented on #67228
@scannme, Apologies for the delay in response. The doc will be updated, with the appropriate email id asap.

[2020-12-09 10:52] BASFmthibodeaux opened #67383 "Alert in ASC not reference in this list "New certificate added to an IoT Hub""
[Enter feedback here]
Dear Colleagues,

The following "New certificate added to an IoT Hub" is not referenced on the list but has been alerted upon. To correctly handle this it would be very nice to have the background on it as with the others.

Thanks,

Mihcael

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2eb1ae9-1

[2020-12-09 10:57] SubhashVasarapu-MSFT commented on #67381
@marcelkmfst, Thanks for reaching out. We will investigate and update this thread.

[2020-12-09 11:00] vipulsparsh commented on #67383
@BASFmthibodeaux  Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2020-12-09 11:06] AshokPeddakotla-MSFT commented on #67371
@slavizh Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-09 11:07] AshokPeddakotla-MSFT commented on #67379
@MatthijsvdVeer  Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-09 11:09] visionthroughdesign opened #67384 "New Language Request"
Hi,

Wondering what the process is for a new language request? Currently Bing Translate utilises "Punjabi" as a language to translate to and fro. Unsure of the base language data platform Live transcripts is using but having Punjabi as a new addition would help the Sikh/Punjabi Development community highly

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-12-09 11:40] mcurko opened #67386 "Environment vs Settings"
Both environment variables and settings can be set and overriden in a similar way. In a SF solution I use empty environment variables per service, application parameters and service environment overrides. Is there some reason to use settings or environment variables? In practical terms it seems more or less the same to me.

Is there a way to have a "default override" for all services, for either e

[2020-12-09 11:52] urjitgokhale opened #67387 "https://login.microsoftonline.com/organizations/v2.0/adminconsent - how to get 'Application' permission"
Hello,

I have an application configured to work with a set of scopes and need to access the tenant resources as 'Application' and not with delegated permissions. I would like to request authorization from the admin for only a subset of scopes (My application would request for elevated authorization later on a need basis). I am unable to achieve this.

https://login.microsoftonline.com/common/admi

[2020-12-09 12:02] mahelsay commented on #51250
Is there any update regarding this issue? i'm still seeing same

[2020-12-09 12:06] CHEEKATLAPRADEEP-MSFT commented on #67220
@felipespas-brz The database name is not case senstive.

![image](https://user-images.githubusercontent.com/44426401/101627876-02db1a00-3a45-11eb-9c13-a940765b2c40.png)

Hope this helps.

[2020-12-09 12:06] #67220 closed

[2020-12-09 12:10] #67308 closed

[2020-12-09 12:12] sec23206 commented on #50904
After a bit of digging, I found this in the azure_rm.py source code:
[code]
So this looked like yet [another Python module](https://pypi.org/project/azure-common/1.1.26/) that needed to be manually installed for this to work (which goes back to my original point as to where that is documented).  After using pip to install this, I'm now getting a different error, but that seems to have solved the "

[2020-12-09 12:21] skaue-ms opened #67389 "Unable to add IP to firewall"
The error thrown if the IP was not added to the firewall when using Query Editor used to include the actual IP address, allowing us to add the IP address to the firewall. Now this is not showing the IP address any longer. It just shows a generic error. How exactly are users going to be able to know what IP address the Azure Portal is using when connecting to the database? This change effectively r

[2020-12-09 12:29] psmanhas commented on #67204
@mcurko Apologies for delay in response.

I reached out to our internal team and got below response:

There is still no solidified time frame to support this for standalone. We will  try to get the feature at least in the backlog for renewed discussion.

Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a commen

[2020-12-09 12:29] #67204 closed

[2020-12-09 12:38] samsmithnz commented on #27135
@Mike-ubezzi-MSFT: Any thoughts on creating a migration doc on how to move from the deprecated Windows storage to CosmosDB packages? I know it's as easy as changing the namespaces - but when searching for docs, I was brought here as the top hit.

[2020-12-09 12:38] SwathiDhanwada-MSFT commented on #67382
@dineshpathapati Thanks for your comment. We will review the issue and get back to you shortly.

[2020-12-09 13:00] #67375 closed

[2020-12-09 13:06] sec23206 commented on #50904
@TomArcherMsft, apologies for all these questions, but just trying to get this working ...

I see in my Python 3.9 distribution (which was installed along with Ansible 2.10 via HomeBrew) that there are multiple files with the name "azure_rm.py":
[code]
The first one doesn't look like code, but the other two are.  The last one appears to be the file [you linked above](https://github.com/ansible/ans

[2020-12-09 13:08] RohitMungi-MSFT commented on #67378
@justas-exadel The referenced PR is created to update this. This should be updated in the document within 24hrs after the author's review and approval.

[2020-12-09 13:09] kausui opened #67390 "The desktop wallpaper is not displayed and the desktop is black while connecting to VM"
Q. The desktop wallpaper is not displayed and the desktop is black while connecting to VM
A. This symptom(behavior) is expected correct behavior.

Some users misunderstand this behavior(No desktop picture) is incorrect one. So, the document needs to clarify about this behavior.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-12-09 13:37] SwathiDhanwada-MSFT commented on #67191
Assigning to content author @lgayhardt for review

[2020-12-09 13:40] drjayvee opened #67392 ""PHP app with MySQL" specifies inconsistent runtimes, causing failed deploy"
The [section "Create a web app"](https://docs.microsoft.com/en-us/azure/app-service/tutorial-php-mysql-app?pivots=platform-linux#create-a-web-app) states that

but the CLI commands specifically sets `--runtime "PHP|7.3":
[code]

This causes a failed deploy because the project is [not compatible with PHP 7.3](Azure-Samples/laravel-tasks/issues/20).

---
#### Document Details

⚠ *Do not edit this se

[2020-12-09 13:41] timoklimmer opened #67393 "Variable $kv_network_interface_private_ip is unclear"
The code example to setup the private DNS record uses a variable $kv_network_interface_private_ip but it does not have any code that shows how the variable value is set. Hence I cannot use the provided code.

Can you add more infos?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 191d0067-67ee-212d-77f6-ffb1db6

[2020-12-09 13:41] AjayKumar-MSFT commented on #67366
@sandeep-ma, Apologies for the frustrated experience with this. Thanks for sharing your feedback! We are taking a look into this and will get back to you soon.

[2020-12-09 13:43] AjayKumar-MSFT commented on #67367
@drchilds, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-12-09 13:44] AjayKumar-MSFT commented on #67368
@mayurpuli, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-12-09 13:45] gfree76 commented on #66901
While it would definitely be better to have some way to automate the running of SQL scripts, I understand that it's out of scope. It would be good to at least mention that it's not supported, however - everything else is tied to git and published, but not sql? it just seems like an obvious gap, both functionally, and in documentation.

[2020-12-09 13:47] AjayKumar-MSFT commented on #67370
@Hannahayek, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-09 13:50] cveld opened #67394 "Container bits and pieces"
Can you explain more in detail what is the way of working with the extra edgeAgent modules:
* dockerContainerRegistry
* IoTEdgeAPIProxy

It looks like the child device will connect to the `IoTEdgeAPIProxy` to pull images. And the `IoTEdgeAPIProxy` will connect on its turn to `dockerContainerRegistry` for pulling the images. `dockerContainerRegistry` will then finally reach out to the external repo

[2020-12-09 13:52] AjayKumar-MSFT commented on #67376
@bobbybhaskar, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-09 13:54] orgoldma opened #67396 "service-fabric-cluster-resource-manager-metrics - unclear example"
When reading this example:
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-resource-manager-metrics#global-metric-weights
it's very hard to understand what do the shapes represent and what is an assignment for a node.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c03caff-9b57-cb6d-3c3c-2b

[2020-12-09 13:56] AjayKumar-MSFT commented on #67384
@visionthroughdesign,  Thanks for the feedback! We are taking a look into this and will get back to you soon.

@IngridAtMicrosoft, Requesting your comments on this.

[2020-12-09 13:58] drjayvee opened #67398 "PHP app doc contains wrong git push command"
The section [Publish changes to Azure](https://docs.microsoft.com/en-us/azure/app-service/tutorial-php-mysql-app?pivots=platform-linux#publish-changes-to-azure) states

That needs to read
[code]
(there is no `main` branch)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ac69cc1-da55-0221-3068-68c32247cf07
* Version Ind

[2020-12-09 14:01] lee-alderdice-mgh opened #67399 "Azure SQL Analytic Query is not working ..."
Hi.  The query below receives the error at the bottom.

let cpu_percentage_threshold = 95;
let time_threshold = ago(1h);
AzureDiagnostics
| where Category == "ResourceUsageStats" and TimeGenerated > time_threshold
| summarize avg_cpu = max(todouble(avg_cpu_percent_s)) by ResourceId
| where avg_cpu > cpu_percentage_threshold

'summarize' operator: Failed to resolve scalar expression named 'avg_cpu_

[2020-12-09 14:16] Hjortsberg commented on #67301
Update: after inspecting the SP with a more senior member, we found that the app registration created by [the script in the linked doc](https://docs.microsoft.com/en-us/azure/event-grid/secure-webhook-delivery) does not get the role correctly set. Trying to set the role manually in the portal, we get a message that we can not assign roles to this app registration since it's not a user. However, if

[2020-12-09 14:22] AndrewSmithRS commented on #67067
Thanks for reminding me to read the documentation :)
I'll feedback via our partner team in regards to the implications of the new behaviour.

[2020-12-09 14:24] tanveerbadar commented on #48738
Hi! I have the same query that my tables have variable number of rows in various documents even conforming to the same overall template.

If the table itself is not recognized - which is something happening most of the time - then there's no way to extract all rows. Or is there that I am unaware of?

[2020-12-09 14:24] NavtejSaini-MSFT commented on #67353
@shanerisk Thank you for the feedback. We will correct the line "ADR is currently available for Azure SQL Database, Azure SQL Managed Instance, databases in Azure Synapse Analytics (currently in preview), and SQL Server on Azure VMs starting with SQL Server 2019."
Please let us know if you wanted any other update to the document.

You can refer this [document ](https://docs.microsoft.com/en-us/sql

[2020-12-09 14:26] SwathiDhanwada-MSFT commented on #67399
@lee-alderdice-mgh Thanks for your comment. We will review the issue and get back to you shortly.

[2020-12-09 14:26] wouterdevinck opened #67400 "WantsEncryptedAssertions not documented here"
See this paragraph:
https://docs.microsoft.com/en-us/azure/active-directory-b2c/connect-with-saml-service-providers#enable-encrypted-assertions-optional

"WantsEncryptedAssertions" is not mentioned on the linked page https://docs.microsoft.com/en-us/azure/active-directory-b2c/relyingparty#metadata

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-12-09 14:31] sarathsasidharan opened #67401 "Lineage information not Showing up in Purview"
[Enter feedback here]

While executing the starter kit , lineage does not show up as mentioned in the docs.

Reason  :  The MSI for Puriview needs access to the ADFv2 resource too along with storage for this to happen.

Fix : I had to provide eleaved rights to the MSI in the ADFv2 IAM and then it turned up in the purview studio.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2020-12-09 14:35] billmath commented on #67321
Yes, this definitely is a contradiction.  Checking with engineering to get clarification and update.

[2020-12-09 14:42] JuanKRuiz opened #67402 "Gemalto Links Broken / Thales is the new Owner"
Gemalto Links in the article are broken, Thales has bought Gemalto, the websites have changed .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d17c38e-cdae-d4d1-c100-62b1bcf4567e
* Version Independent ID: d1af9dea-b693-815f-3e45-1d5dd9cb563e
* Content: [High availability - Azure Dedicated HSM](https://docs.microsoft.c

[2020-12-09 14:42] Borkason commented on #67321
I did follow the documentation for implementing the staged rollout. We currently use federation and installed the the first PTA agent on a server that is not the AD Connect server, contradicting the FAQ. This worked immediately and the runner is shown as active. So from a technical perspective, this looks like it just works. However, it would be interesting why the FAW states something else. I hop

[2020-12-09 14:44] NavtejSaini-MSFT commented on #67364
@dcbrown16 Thank you catching this. @danimir Please convey where exactly this document will suited to be added or this is a standalone document.

[2020-12-09 14:46] ElazarK commented on #66557
@sandervandevelde After reviewing the newer versions are not currently supported. A note has been added to the documentation.

[2020-12-09 14:47] ElazarK commented on #66557
#please-close

[2020-12-09 14:49] ElazarK commented on #66559
@sandervandevelde There are 4 levels "Fatal", "Error", "Warning", and "Information". Thank you for alerting us to this. The documentation has been updated.

[2020-12-09 14:49] ElazarK commented on #66559
#please-close

[2020-12-09 14:49] #66559 closed

[2020-12-09 14:54] speschka commented on #67326
James, thank you, but with respect, this is not a "how do I do this in SharePoint" question.  It's a problem related to migrating from the v1 auth endpoint and its use of "resources" to access content, to the v2 auth endpoint and its use of "scopes" to access content.  The page that I posted this feedback on (https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consen

[2020-12-09 14:55] DariuszPorowski opened #67403 "No clear documentation about SecretVersion"
In the App Settings for the App Service, the KeyVault reference expects the SecretVersion parameter to be present, but it can be blank to use the latest version.

This should be clearly documented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7feaa3d0-7233-a3cb-cb9b-a9a55b1f0d7a
* Version Independent ID: f41f9d51-52f

[2020-12-09 15:01] onionhammer commented on #52726
EF Core and System.Linq.Async have no issue with combining iqueryable with async. Why do you @ealsur ?

[2020-12-09 15:15] gioulisapo opened #67404 "Spelling Error"
https://docs.microsoft.com/en-us/azure/cost-management-billing/understand/subscription-transfer#determine-account-billing-administrator.

The To identify accounts for which you're a billing administrator, visit the Cost Management + Billing page in Azure portal. Then select All billing scopes from the left-hand pane. The subscriptions page shows all **thee** subscriptions where you're a billing ad

[2020-12-09 15:17] rssllptrs opened #67405 "Are Mac clients supported for on-premises Active Directory Domain Services authentication over SMB?"
The documentation states that "Only supported on clients running on OS versions newer than Windows 7 or Windows Server 2008 R2." However, it remains silent about Mac support. Are Mac clients supported?

In my environment, I've been able to get the storage account joined to AD and Windows clients can connect fine using AD credentials and SSO. But Mac clients get authentication errors. Same problem

[2020-12-09 15:26] xelossan opened #67407 "Custom attributes returned from API Connector not stored in B2C"
Hi,

I have the following problem and I'm not sure if it's expected behavior, bug or am I doing something wrong.

I have 3 custom user attributes defined, let's call them A, B and C.
In user flow, attribute A is set as User attribute (so it's collected during registration), and all 3 attributes A, B and C are set as Application claims, as I need them later in access tokens.

The problem is, when I

[2020-12-09 15:39] barclayn commented on #49685
@amunger Thank you. We have made changes to the tutorial based on your feedback.

[2020-12-09 15:39] barclayn commented on #49685
#please-close

[2020-12-09 15:39] #49685 closed

[2020-12-09 15:56] ChaitanyaNaykodi-MSFT commented on #67045
Hello @jadams74,
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. I will add a note a note to the document which describes the delay. Thank you!

[2020-12-09 15:56] #67045 closed

[2020-12-09 16:00] SwathiDhanwada-MSFT commented on #67404
@gioulisapo Thanks for the feedback. I have made changes to the document and the changes will be live soon.We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-12-09 16:01] #67404 closed

[2020-12-09 16:05] mulcahys opened #67409 "Is it possible to deploy the Azure Security Benchmark blueprint using PowerShell?"
The page describes only how to deploy the Azure Security Benchmark blueprint using the portal. Is it possible to achieve the same using PowerShell (even if only by importing from a github repo, in which case a link to the github repo tracking the current Azure Security Benchmark would be sufficient).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-12-09 16:10] djpmsft commented on #67334
@NavtejSaini-MSFT The author is saying that this article needs to be updated now that CI/CD and git integration are available in Synapse workspaces.

[2020-12-09 16:13] marlonsingleton opened #67410 "New-AzureADPolicy fails with Request_ResourceNotFound"
**Issue:**
Following the create claims mapping policy documentation @ https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-claims-mapping#example-create-and-assign-a-policy-to-omit-the-basic-claims-from-tokens-issued-to-a-service-principal results in error.

**Environment**
AzureUSGovernment

**Error**
PS C:\WINDOWS\system32> New-AzureADPolicy -Definition @('{"ClaimsMap

[2020-12-09 16:15] midesa commented on #65682
The documentation has been updated. #please-close

[2020-12-09 16:15] #65682 closed

[2020-12-09 16:16] lonevvolf commented on #67295
Thank you for the fast and detailed response.

[2020-12-09 16:16] #67295 closed

[2020-12-09 16:16] RohitMungi-MSFT commented on #67372
@chengyu-liu-cs With respect to using the webservice endpoints deployed from Azure ML you can use auth or key based authentications. Some examples on using these endpoints are listed in our documentation page to [consume web services](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-consume-web-service?tabs=azure-portal#authentication-with-tokens). From the end

[2020-12-09 16:20] cutecycle opened #67411 "rgLocation is no longer a parameter in Az PowerShell cmdlet"
Regarding code in this section:

https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deploy-to-subscription?tabs=azure-powershell#deployment-commands

[2020-12-09 16:22] BASFmthibodeaux opened #67412 "Additon of a FireEye Agent check similar to these"
[Enter feedback here]
Hello Colleagues,

We have a challenge similar to what is solved on this page but it is in relation to the FireEye Agent.

Has anyone suggested until now the fireeye agent integration?

Michael

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9d13d5f-fb6e-2757-2e97-ea13a5732086
* Version Independen

[2020-12-09 16:25] sgreci commented on #47707
Hello, here the same.

[2020-12-09 16:26] mimckitt commented on #61554
Got it. Thank for that! I will get working on it.

[2020-12-09 16:26] JamesTran-MSFT commented on #67393
@timoklimmer
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-09 16:27] JamesTran-MSFT commented on #67402
@JuanKRuiz
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-09 16:29] rbaker26 commented on #40403
@mihaipanait
Here is a screenshot of my custom Health Prob.
I am in the process to typing up my exact steps.

Also make sure you enabled "anonymous access for blobs" in the Storage Account.
![image](https://user-images.githubusercontent.com/31376573/101657319-96d2c480-39f8-11eb-9fe7-e8de71db717a.png)

[2020-12-09 16:29] MonikaReddy-MSFT commented on #67140
@makushima - Can you elaborate your question a little bit more specific? As to what exactly are you trying to accomplish here? And specific problem with the doc that you have referenced?

[2020-12-09 16:33] IngridAtMicrosoft commented on #67384
Hi @visionthroughdesign I will ask the engineering team about that.

[2020-12-09 16:37] mihaipanait commented on #40403
@rbaker26 thanks! It works indeed when using HTTP.
In my case i was using HTTPS between the Application Gateway and the storage account, so the probe was set to use HTTPS. But i think it is not an issue. Serving static files shouldn't require SSL end to end.

[2020-12-09 16:42] JamesTran-MSFT commented on #67400
@wouterdevinck
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-09 16:44] JamesTran-MSFT commented on #67410
@marlonsingleton
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-09 17:11] lyrana commented on #67310
Hi @fgheysels,
Yes you can absolutely do that. In that case, you'd follow the Azure AD guidance on how to acquire tokens for resources as an MSI. Please see the documentation [here](https://docs.microsoft.com/azure/app-service/overview-managed-identity?tabs=dotnet#using-the-rest-protocol). The resource would be https://api.timeseries.azure.com/ and one of the optional properties is required. Note

[2020-12-09 17:16] MonikaReddy-MSFT commented on #67411
@cutecycle -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-12-09 17:19] gb5757870 opened #67414 "The Screenshot and options under "Create a file share in the storage account" are outdated."
The Screenshot and options under "Create a file share in the storage account" are outdated.
Should now be "File Shares" instead of "Files

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfd9533e-c174-cd48-0f72-a58457efa958
* Version Independent ID: b7a77b77-61c2-5e89-cb4b-0b9a502fce71
* Content: [Restrict access to PaaS

[2020-12-09 17:20] MonikaReddy-MSFT commented on #67409
@mulcahys -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-12-09 17:21] gb5757870 opened #67415 "Correction to "Create a file share in the storage account", step 4"
Correction to "Create a file share in the storage account", step 4.
The "OK" button no longer exists. It's now "Create"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfd9533e-c174-cd48-0f72-a58457efa958
* Version Independent ID: b7a77b77-61c2-5e89-cb4b-0b9a502fce71
* Content: [Restrict access to PaaS resources - tutor

[2020-12-09 17:23] SubhashVasarapu-MSFT commented on #67415
@gb5757870, Thanks for reaching out. We will investigate and update this thread.

[2020-12-09 17:28] julieMSFT commented on #58854
@arvind-dhariwal Hi Arvind. The author has decided not to include your code in the article at this time. Thank you for your comments on this article. We hope to hear from you again.

[2020-12-09 17:35] makushima commented on #67140
lock subscription. please add documentation how to do this. I know it is possible.

[2020-12-09 17:41] julieMSFT commented on #67334
@mousas Hello, thank you for alerting us to this update in the cods. I have made the update. You will see it later today. Thank you for your contribution to keeping Microsoft Docs up to date. I will go ahead with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2020-12-09 17:41] qubika opened #67417 "Does MAU pricing apply when Microsoft 365 tenant/license exists?"
Could more details / clarifications be provided about how MAU pricing relates to Microsoft 365 subscription.  Is it the same "first 50,000 monthly active users free." model as the standalone Azure AD Premium P1?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d48108c5-3850-af59-ed14-84238bca37f7
* Version Independent ID

[2020-12-09 17:42] julieMSFT commented on #67334
#reassign:julieMSFT

[2020-12-09 17:43] mousas commented on #67334
Excellent my friend! Congratulations! Many thanks for the update.

Kind Regards,

----------------------------------------------

*Moises Silva Rocha dos Santos*

*Land line*: +55 11 3593-7200

*Mobile*: +55 11 93001-9000

*Email*: mousas.rocha@gmail.com <Mousas.rocha@gmail.com>

*Skype*: mousas.rocha

Em qua., 9 de dez. de 2020 às 14:42, julieMSFT <notifications@github.com>
escreveu:

[2020-12-09 17:46] julieMSFT commented on #67334
#please-close

[2020-12-09 17:46] #67334 closed

[2020-12-09 17:47] DerekHerman-MSFT commented on #67298
@Console32 Thanks for providing that. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-09 18:00] JamesTran-MSFT commented on #67166
@elafnit
I just wanted to check in and see if you had any other questions or if you had a chance to review my previous post?

Based off our PG's response on storing EV code signing certificates. I'll go ahead and close out this issue at the end of the day, since you'll have to reach out to our [Azure DevOps experts](https://developercommunity.visualstudio.com/spaces/21/index.html) for additional i

[2020-12-09 18:01] #67162 closed

[2020-12-09 18:06] robgagliano commented on #62877
We are also experiencing the exact same issue

[2020-12-09 18:06] JamesTran-MSFT commented on #67326
@speschka
Thank you for the detailed response and explanation! I've reached out to our engineering team regarding this issue and will update as soon as possible. Once I get a confirmation of the scope used, I'll update the documentation.

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue.

[2020-12-09 18:08] b-juche commented on #52895
This has been a long standing ticket.  In my previous discussion with the product manager, it was not recommended that we implement the suggested change, due to the extent of Resource Types that might be involved.

#please-close

[2020-12-09 18:08] #52895 closed

[2020-12-09 18:10] IngridAtMicrosoft commented on #67384
@visionthroughdesign, Speech Services transcription does not yet support Punjabi.  However, it is on the minds of the engineering team.  Thank you for your question.

#please-close

[2020-12-09 18:10] #67384 closed

[2020-12-09 18:11] JamesTran-MSFT commented on #67417
@qubika
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-09 18:14] anuragdalmia commented on #67029
Yes you can transfer it the same way. You need to send out the transfer request to the Billing Owner. You can understand roles at https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/understand-mca-roles and you can look and transfer options for MCA at https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/mca-request-billing-ownership#:~:text=%20Request%20billing%2

[2020-12-09 18:16] AjayKumar-MSFT commented on #67386
@mcurko, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-09 18:19] Karishma-Tiwari-MSFT commented on #67396
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-09 18:19] AjayKumar-MSFT commented on #67387
@urjitgokhale, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-09 18:20] kprunella commented on #65107
We've submitted PR to update pricing details. The PR has been pending review now for 2 days to get pushed out.

[2020-12-09 18:38] WinstonHoward-MSFT commented on #67240
Assigning this to author so the doc can be updated.

[2020-12-09 18:43] MGoedtel commented on #66964
Suggesting we close this GitHub issue as there doesn't appear to be an issue with the article and there has been no activity since my initial response.  Please feel free to open a GitHub issue if there is an issue with the documentation. #please-close

[2020-12-09 18:43] #66964 closed

[2020-12-09 18:48] nitinme commented on #66362
@ksaye - thanks for your feedback. This issue is a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/66714 so we are closing this one and will address the issue in the other one.

#please-close

[2020-12-09 18:48] #66362 closed

[2020-12-09 18:48] nitinme commented on #67185
@anastasia-nesterenko - thanks for your feedback. This issue is a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/66714 so we are closing this one and will address the issue in the other one.

#please-close

[2020-12-09 18:48] #67185 closed

[2020-12-09 18:48] mcurko opened #67419 "Script errors"
[code]

Please provide instuctions on what exactly to create in AAD through Azure Portal, it'll be much simpler and quicker.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51489a2b-fef9-86d8-117e-200d81cd0694
* Version Independent ID: e371c257-18cb-aead-707a-3b1eed0c30a8
* Content: [Set up Azure Active Directory for cl

[2020-12-09 18:50] hmayer1980 commented on #58527
This is our current roadblock to Spark 3.0  / Azure Databricks 7.3 - since this is the only really fast BULK INSERT Option with Azure SQL DB.

[2020-12-09 18:53] SadiqhAhmed-MSFT commented on #67285
@Anand-Moghe I hope the previous post answered your query. Feel free to ping if you have any question regarding the same.

[2020-12-09 18:56] JamesTran-MSFT commented on #67393
@timoklimmer
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-09 18:58] JamesTran-MSFT commented on #67402
@JuanKRuiz
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-09 18:59] chengyu-liu-cs commented on #67372
@RohitMungi-MSFT
Thanks. I was asking for example of refreshing tokens from outside python sdk, particularly for this quote:

[2020-12-09 19:02] felixtsem5 opened #67420 "Create data factory / UI page needs updating"
Create a data factory section
The screenshots look a little different now. There are a few more steps before you can click the **Create** button.

Create datasets section
Does not mention how to get to step 1. Should mention that you need to click the **Author** tab.

Create a pipeline section
Step 6, The **>> (right arrow) button** does not exist. The Validation icon button will close it.

Trigge

[2020-12-09 19:04] rahatur opened #67421 "Correction in the sample code"
Example codes for the _Refresh access tokens_ should be as followings:
[code]
Also users need to add _using Azure.Communication;_ to avoid compile errors.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a29430c6-fd84-c423-db14-4f87853dc5d6
* Version Independent ID: 99605c52-055e-8361-4540-2527fd0ad342
* Content: [Quicks

[2020-12-09 19:08] julieMSFT commented on #65751
@ahughes257 thanks for contacting Microsoft with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

[2020-12-09 19:09] elafnitzegger commented on #67166
There seems to be a bit of mixed messaging at this point regarding if code signing with EV cert stored in key vault within an azure pipeline is possible or supported. I have a meeting scheduled tomorrow to go through a working session with another MS team to actually perform the activities described above. I will provide feedback here for completeness.

[2020-12-09 19:09] julieMSFT commented on #66370
@Niharikadutta thanks for contacting Microsoft with feedback about our product documentation. We are working on resolving this documentation issue. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

[2020-12-09 19:14] nitinme commented on #66408
Submitted a fix. Changes should go live in a day.

#please-close

[2020-12-09 19:14] #66408 closed

[2020-12-09 19:15] nitinme commented on #66407
Submitted a fix. Changes should go live in a day

#please-close

[2020-12-09 19:15] #66407 closed

[2020-12-09 19:16] JamesTran-MSFT commented on #67166
@elafnit
Thank you for the quick response and I look forward to your feedback regarding any tests you perform tomorrow! Your findings and answer will definitely help our community in case any other customers run into this same problem/question.

In the meantime, I'll go ahead and close out this issue. If you require additional support from the Azure Key Vault side, please feel free to tag me and I

[2020-12-09 19:16] #67166 closed

[2020-12-09 19:23] blummichellec commented on #65678
@BryanTrach-MSFT I saw this change be added and it looked awesome! Now when I navigate to the doc the change seems to not be there anymore and the doc says it was last updated on August 5th 2020. Unsure how that would have happened, but thought I would let you know.

[2020-12-09 19:23] JamesTran-MSFT commented on #67279
@Puneetb
Thank you for your time and patience throughout this issue.

Is the user you're trying to sign-in with part of your B2C tenant and not your AzureAD Tenant?
![image](https://user-images.githubusercontent.com/36619112/101675781-18cde800-3a0f-11eb-9f6b-d381d83a704b.png)

Can you try resetting the user's password and using the "temporary password" when testing the User Flow. You can also make

[2020-12-09 19:32] kenwith commented on #65659
Created a PR to get this article updated and inline with the newer article. @mattallscripts thank you for the catch and taking the time to provide feedback. I know it is a lot easier to just make a mental note and move on and that it takes time to log in and open and issue and improve the docs for the community. I really appreciate it. PR fix should be live shortly.

#please-close

[2020-12-09 19:32] #65659 closed

[2020-12-09 19:33] kenwith commented on #65659
https://github.com/MicrosoftDocs/azure-docs-pr/pull/140473

[2020-12-09 19:38] Grace-MacJones-MSFT commented on #67403
Thanks again for the feedback @DariuszPorowski. We will review the doc and update it.

[2020-12-09 19:39] Grace-MacJones-MSFT commented on #67398
Hi @drjayvee, thanks for bringing this to our attention. We will review the doc and update it shortly

[2020-12-09 19:41] Grace-MacJones-MSFT commented on #67392
Hi @drjayvee, thanks for your feedback! We will review and update this doc accordingly.

[2020-12-09 19:42] Grace-MacJones-MSFT commented on #67421
Hi @rahatur, thanks for your feedback! We will review and update this doc accordingly.

[2020-12-09 19:55] DerekHerman-MSFT commented on #67339
@gb5757870 Thanks for bringing this to our attention. I have created a PR to update the document with the appropriate settings menu name. It should go live shortly.

[2020-12-09 19:55] #67339 closed

[2020-12-09 19:59] JamesTran-MSFT commented on #67325
@gkens
When it comes to guest and non-guest users setting a secondary MFA method, they can navigate to

aka.ms/mfasetup

From here a user can select "Mobile App" as the primary means of authentication:
![image](https://user-images.githubusercontent.com/36619112/101680241-40c04a00-3a15-11eb-917b-afd4ba282391.png)

Once you follow the steps to set up your Mobile App, the user will be asked for a sec

[2020-12-09 20:00] MonikaReddy-MSFT commented on #67105
@sanikolov - Thank you for reaching out to us with details, we will review with our internal product team and circle back accordingly.

[2020-12-09 20:03] MonikaReddy-MSFT commented on #67140
@makushima - Please try this and let us know if it works -
` az lock create --name lockName --resource-group group --lock-type ReadOnly` locks the resource group.
` az lock create --name lockName --lock-type ReadOnly (without the group name)` locks whatever subscription you are signed into.

[code]

[2020-12-09 20:06] SB-o-matic commented on #65835
Thank you for your response.
I will note however, that I understand that not all guest accounts are from social networks. I maintain what I stated earlier that I used to be able to sign in to MyAccess portal with a guest account created with a social identity. As it relates to a tenant hint, if that were the case, it the still bores down to signing into the myaccess portal with a guest account usi

[2020-12-09 20:18] MonikaReddy-MSFT commented on #67409
@mulcahys - It is covered in this document - https://docs.microsoft.com/en-us/azure/governance/blueprints/create-blueprint-powershell.

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-09 20:18] #67409 closed

[2020-12-09 20:18] rspiewak47 opened #67424 "Overly complex instructions could benefit from a link to a simpler way"
This page has a convoluted approach which may serve some more general cases, but there is a simpler way to just get a shell in a K8s container. This is not specific to AKS, and is documented here:
https://kubernetes.io/docs/tasks/debug-application-cluster/get-shell-running-container/
The only missing piece to that is the need to know the name of the running pod, which can be acquired from the kube

[2020-12-09 20:28] MashaMSFT commented on #66524
Hi @leizhang1984 , thanks so much for contacting Microsoft! This is great feedback, and the documentation would benefit from this information. I have created an internal work item to address this in the future [1752022](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1752022).

I'll close out the Git Issue for the time being but please feel free to comment should you need anything

[2020-12-09 20:28] #66524 closed

[2020-12-09 20:30] bandersmsft commented on #67029
Updated https://docs.microsoft.com/azure/cost-management-billing/manage/mca-request-billing-ownership for clarity with https://github.com/MicrosoftDocs/azure-docs-pr/pull/140488.

[2020-12-09 20:31] bandersmsft commented on #67029
#please-close

[2020-12-09 20:31] #67029 closed

[2020-12-09 20:44] James-Hamil-MSFT commented on #67318
No maximum number of devices per user includes all OS versions. If its set to '1', a user will not be able to register more than a single device . I just tested this in my lab and its working as expected.

I can look into this further if needed. What is your configuration, and how are you trying to register your device?

Best,
James

[2020-12-09 20:52] markjbrown commented on #64658
Ugh. thought I had removed them all. Thanks for catching. Got this in a PR now. Will merge later today.

Thanks!!!

[2020-12-09 20:52] bandersmsft commented on #65987
Updated https://docs.microsoft.com/azure/cost-management-billing/manage/ea-portal-enrollment-invoices with https://github.com/MicrosoftDocs/azure-docs-pr/pull/140488.

[2020-12-09 20:52] DerekHerman-MSFT commented on #67405
@rssllptrs Mac and Linux are not supported for Azure Files ADDS authentication currently, which is why there is no instructions included in the documentation. For product feedback and feature requests I will refer you to our [feedback forum](https://feedback.azure.com/forums/217298-storage). This allows the community to add their voice and upvote popular ideas. The forums is monitored and responde

[2020-12-09 20:52] #67405 closed

[2020-12-09 20:54] bandersmsft commented on #65987
@gihermos I'm updating the article I linked above for calarity. Per the Cost Management and Billing enginnering team, 72 hours is correct. I working with the Microsoft support folks to update their internal support article.
#please-close

[2020-12-09 20:54] #65987 closed

[2020-12-09 21:04] NavtejSaini-MSFT commented on #67389
@skaue-ms We are checking this and will get back to you.

[2020-12-09 21:21] the-blesss commented on #67029
Thank you for the reply, but I may not have explained properly that we are Azure Expert MSP using the transfer tool from SCE/EA to CSP. When logged into the Azure Portal (screen sharing with the customer credentials before we do the transfer), we do not see any account listed on the Properties blade of a direct MCA subscription (0017G) the same way we see it on a 0017P subscription. This is how we

[2020-12-09 21:25] NavtejSaini-MSFT commented on #67390
@kausui We are checking this and get back to you.

[2020-12-09 21:27] NavtejSaini-MSFT commented on #67394
@cveld We are checking this and will get back to you.

[2020-12-09 21:30] lmenten commented on #67052
Same problem.  Thermostat reporting correct temp but room21 reporting 0"
$dtId: thermostat67, Temperature: 67.639...
$dtId: room21, Temperature: 0

[2020-12-09 21:31] NavtejSaini-MSFT commented on #67401
@sarathsasidharan We are checking this our author.
@viseshag Please check the feedback from the Cx and check if we need to update the document.

[2020-12-09 21:35] NavtejSaini-MSFT commented on #67412
@BASFmthibodeaux We are checking this and will get back to you.

[2020-12-09 21:35] NavtejSaini-MSFT commented on #67407
@xelossan We are checking this and will get back to you.

[2020-12-09 21:36] NavtejSaini-MSFT commented on #67414
@gb5757870 We are checking this and will get back to you.

[2020-12-09 21:38] NavtejSaini-MSFT commented on #67424
@rspiewak47 We are checking this and we will get back to you.

[2020-12-09 21:39] NavtejSaini-MSFT commented on #67419
@mcurko We are checking this and we will get back to you.

[2020-12-09 21:40] NavtejSaini-MSFT commented on #67420
@felixtsem5 We are checking this and we will get back to you.

[2020-12-09 21:52] fgheysels commented on #67310
Hi @lyrana

Thanks.
I just did a first quick test and this looks promising

[code]

gives me an access token that I can use to query TSI.

Should the documentation [here](https://docs.microsoft.com/en-us/azure/time-series-insights/time-series-insights-authentication-and-authorization) be updated or extended to show how MSI authentication to TSI can be done ?

[2020-12-09 21:53] shehackspurple opened #67427 "No pricing info, also not available in marketplace"
Hi,

This is not available in the marketplace, so this documentation is really confusing. Could you add 1) that it costs money and 2) how much and 3) a link of how to install it? I feel like I've been going in a circle for a while now. I'm interested, please make it clear how much and where I get it.

Thanks!
Tanya Janca

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-12-09 21:56] rjewell-lower opened #67428 "Mode Selection Documentation"
I am unable to find any documentation on how "default mode" for CNI of transparent or bridged is selected, or how to verify what mode a cluster is using.  Can modes be switched? Are they switched automatically as part of https://github.com/Azure/AKS/releases/tag/2020-11-30 ?

I also haven't seen any mention of Calico in a while, and the documentation from "Transparent" looks awfully similar. If th

[2020-12-09 21:58] MashaMSFT commented on #66394
Hi @sameeraman , thanks so much for your feedback! #reassign:bluefooted should be able to help you out.

Thanks!
Masha from the SQL Docs team

[2020-12-09 22:03] WinstonHoward-MSFT commented on #67419
Reassigning to author as its a bug from the docs script.

[2020-12-09 22:09] niyer-msft opened #67429 "Public IP address limit per subscription"
The Azure subscription limits and quotas page has only per resource group limit for public ip address as 800. However, are there are any limits for public IPs at subscription level?

Please document that information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36f49a06-90b1-cbe1-3853-2c38277b79f8
* Version Independe

[2020-12-09 22:11] JamesTran-MSFT commented on #67326
@speschka
Thank you for your time and patience throughout this issue, I reached out to my team regarding this issue and am still waiting for a response from our PG teams. However, can you try the below and let us know if this works.

Scope:
`https://<your tenant name>.sharepoint.com/.default`

Initially, you can try using your client secret to see if it works, if not, you can use a [client asserti

[2020-12-09 22:12] MashaMSFT commented on #65887
Hi @rajgang , thanks so much for reaching out and my apologies for the delay! This was a limitation during preview that has since been removed. I've updated the documentation to reflect this and it should be live later this week.

I hope that helps and thanks again for improving our documentation! I hope you have a great rest of your day :)
Masha from the SQL Docs team
#please-close
#assign:bluefo

[2020-12-09 22:12] #65887 closed

[2020-12-09 22:15] MashaMSFT commented on #62237
Hi @sklim2002 and @audhage , thanks for reaching out and my sincerest apologies for the delay! This was a limitation during preview that has since been removed. The documentation has been updated and should be live later this week.

Thanks again for improving our docs and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close
#assign:bluefooted

[2020-12-09 22:15] #62237 closed

[2020-12-09 22:15] kutsyk-neocles commented on #17132
Hey guys, any update on Windows Managed identity?

[2020-12-09 22:16] fhryo-msft opened #67430 "There is no definition of output schema."
[Enter feedback here]
There is no definition of output schema. How to understand what information is listed in result?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0f1a335-26ae-c901-2c62-db165fb1d31f
* Version Independent ID: 1efa80f7-351e-05a7-c4ef-e8a1ad7baaa1
* Content: [Use Azure Storage inventory to manage blob

[2020-12-09 22:17] MashaMSFT commented on #64829
Hi @tonycaidotcom , thanks for contacting Microsoft and my apologies for the delay, we're addressing a greater than average number of Git Issues. #assign:bluefooted can you please look into this licensing question?

Thanks!
Masha from the SQL Docs team

[2020-12-09 22:18] NavtejSaini-MSFT commented on #67348
@CaryMoore-DB Please help with the questions above and we will try to help in best possible way.

[2020-12-09 22:18] MashaMSFT commented on #64681
Hi @rhyscooper , my apologies for the delay! I believe this behavior is expected when using the DNN, but we're double checking on our end. #assign:kfarlee can you please confirm?

Thanks!
Masha from the SQL Docs team

[2020-12-09 22:25] Grace-MacJones-MSFT commented on #67398
@cephalin can you please look into this?

[2020-12-09 22:25] CaryMoore-DB commented on #67348
My customer was looking to setup a genomics cluster but the option was not
there.  They went and looked at the documentation, but did not read
through.  I looked at the documentation, but did not read all the way
through.  Since it is a link, and the option for genomics is different from
other run times and is not expected, placing a simple call out box or
something to bring your attention to it I

[2020-12-09 22:26] NavtejSaini-MSFT commented on #67353
@shanerisk We have raised the request to change this document
@stevestein Please review and take action on  - https://github.com/MicrosoftDocs/azure-docs-pr/pull/140506

[2020-12-09 22:27] MarileeTurscak-MSFT commented on #66624
There are some steps mentioned online such as updating the Windows policy or changing the user name so I have assigned this to the author to update.

[2020-12-09 22:29] mikben commented on #67421
Thanks for the feedback @rahatur! We've updated the documentation to clarify the C# token refresh snippet. You should see these changes live within the next 24 hours. cc @Grace-MacJones-MSFT

[2020-12-09 22:34] Grace-MacJones-MSFT commented on #67403
Based on the response from the doc auth on a [ similar feedback,](https://github.com/MicrosoftDocs/azure-docs/issues/63523) it looks like the note still holds due to some rough edge cases. So no update to the doc is needed at this time. We will close this out, but if you feel you need more information please just let us know!

[2020-12-09 22:34] #67403 closed

[2020-12-09 22:35] Grace-MacJones-MSFT commented on #67421
Thanks for the update @mikben! We will now proceed to close this thread.

[2020-12-09 22:35] #67421 closed

[2020-12-09 22:36] leonzhu1985 commented on #15719
Still not clear how multiple rules/filters work together. A message must satisfy all filters to be pulled in the subscription?

[2020-12-09 22:40] NavtejSaini-MSFT commented on #67389
@skaue-ms We are still able to see the client IP when trying to connect using Query Editor.
![image](https://user-images.githubusercontent.com/52257742/101697299-97457c80-3a45-11eb-8946-338481dbe5b8.png)

Please share a screenshot for what you see and we will try to resolve this further.

[2020-12-09 22:41] PatrickFarley commented on #66771
Fixes made
#please-close

[2020-12-09 22:41] PatrickFarley commented on #66714
Fixed
#please-close

[2020-12-09 22:41] #66771 closed

[2020-12-09 22:41] #66714 closed

[2020-12-09 22:47] Grace-MacJones-MSFT commented on #65348
Hi @cephalin, checking to see if there are any updates on this issue?

[2020-12-09 22:50] ChaitanyaNaykodi-MSFT commented on #67186
Hello @mahomedalid, apologies for the delay in addressing this issue. We have assigned this issue to the author to review further and take the next course of action. Thank you!

[2020-12-09 22:52] JeremyTBradshaw commented on #67318
Hi @James-Hamil-MSFT , thanks for testing it out.  It's a customer I'm working with where I noticed this.  I believe I have it figured out.  They have most of their domain-joined computers registered in Azure AD, although they aren't Hybrid Azure AD Joined, and only show up in Azure AD as "Azure AD registered".  Most users' domain-joined computer show up this way.

In Azure AD Device Settings: Max

[2020-12-09 22:59] cherylmc commented on #67006
Updated and awaiting publishing. Thanks! #please-close

[2020-12-09 22:59] #67006 closed

[2020-12-09 22:59] tfitzmac commented on #67259
@dlepow - do you know if there is a limit on the number of products in an API Management instance?

[2020-12-09 22:59] sandervandevelde commented on #66557
@ElazarK If newer versions are not supported soon, it feels like this ASC feature is becoming deprecated.

The 1.0.8.3 version of the edgehub is more than 1 year old and lacks quite some features which are equally important.

Will newer versions of the Edgehub be supported in the near future? At least in the 1.0.10 which is considered the first LTS version?

[2020-12-09 23:07] JamesTran-MSFT commented on #67417
@qubika
On our [Azure Active Directory pricing page](https://azure.microsoft.com/en-us/pricing/details/active-directory/) it states:

 "Azure Active Directory comes in four editions—Free, Office 365 apps, Premium P1, and Premium P2. The Free edition is included with a subscription of a commercial online service, e.g. Azure, Dynamics 365, Intune, and Power Platform. Office 365 subscriptions include

[2020-12-09 23:07] #67417 closed

[2020-12-09 23:09] nitinme commented on #65134
#reassign:trevorbye

[2020-12-09 23:12] tfitzmac commented on #67429
@niyer-msft - the article mentions that the Networking limits are per region per subscription. Default limits vary by offer type but for EA subscriptions, the default limit is 1,000. The link [Check resource usage against limits](https://docs.microsoft.com/en-us/azure/networking/check-usage-against-limits) is helpful for verifying usage.

[2020-12-09 23:12] tfitzmac commented on #67429
#please-close

[2020-12-09 23:12] #67429 closed

[2020-12-09 23:13] alexpapworth commented on #67356
Hiya. I dug a bit deeper into the [Azure/docker-login](https://github.com/Azure/docker-login) Action, and found that the [prerequisite](https://github.com/Azure/docker-login#prerequisite) section links to [this](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-authentication#admin-account) Azure doc, which suggests using the admin account.

Specifically, I was able to g

[2020-12-09 23:19] jigote opened #67431 "VideoStream URL of IP Camera and Azure IoT Central"
I'm trying to use my Ip camera with Azure IoT Central, but when I place the VIDEOSTREAM URL of my camera like this: `rtsp://admin:password@192.168.1.108:554/cam/realmonitor?channel=1&subtype=1`

and after I click safe I know that it automatically edit the configuration file in my jetson nano device, but that config file get like this:

`uri=rtsp://admin:password@192.168.1.108:554/cam/realmonitor?c

[2020-12-09 23:23] softchris opened #67432 "The field has been renamed from `CacheExpirationTime ` to `CacheExpirationInterval` in 2.2.0 version of Microsoft.FeatureManagement.AspNetCore"
Cache expiration field has been renamed to `CacheExpirationInterval`. Code won't work for someone using 2.2.0 of `Microsoft.FeatureManagement.AspNetCore`

Additionally, it looks like a feature flag needs a label for the hot reload to work and that label needs to match the config, according to this post https://github.com/microsoft/FeatureManagement-Dotnet/issues/30#issuecomment-565096742

Maybe wo

[2020-12-09 23:30] conor-joplin opened #67433 "Formatting error in the 'Media graph concept' page"
There is a formatting error in the first line of the '[RTSP source](https://docs.microsoft.com/en-us/azure/media-services/live-video-analytics-edge/media-graph-concept#rtsp-source)' section that is causing a link to be displayed incorrectly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ebfa099-3ed5-ac9a-e8c2-c7d2c5d

[2020-12-09 23:30] techangelsau opened #67434 "Updated screenshots"
Hi team,
Just to note that the screenshots used in this article are quite old.
 - The first blade no longer has a list of apps, it just shows as one "Enterprise Apps".
 - The Licensing options in the second screenshot are also out of date.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c81d6f9-ede5-46eb-8ca0-eaec8019e

[2020-12-09 23:31] JamesTran-MSFT commented on #67407
@xelossan
Thank you for your detailed post! Since attributes B and C are collected at a later time, not at the time the API endpoint is called (during registration), this looks like it's by design.

If a claim does not have a value at the time the API endpoint is called, the claim will not be sent to the API. Your API should be designed to explicitly check and handle the case in which a claim is n

[2020-12-09 23:32] Wikenson-MSFT opened #67435 "Documentation Revision"
[**Customer Request**:  Please update to reflect potential compatibility issues with older versions of nginx and kubernetes.  -
**Reason**: Newest version of nginx.yaml ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd0e7d5a-37e9-07dc-f395-9cb5bb580e45
* Version Independent ID: 7e4faf70-9724-7e7b-832b-1cd99a974920
*

[2020-12-09 23:41] JasonFreeberg opened #67436 "Powershell snippet fails"
There's a powershell snippet for adding an extension to execute a custom script. When I try to run it on Azure CLI v2.13.0 it fails with the exception `Expecting property name enclosed in double quotes: line 1 column 2 (char 1)`

[code]

What do?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2de55b5-9d87-fdb9-3040-6b

[2020-12-09 23:44] julieMSFT commented on #55588
@eliasvakkuri Hello, Can you provide a more detailed explanation of what you are looking to do?

[2020-12-10 00:00] MarileeTurscak-MSFT commented on #67434
@techangelsau
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-10 00:00] JennyLJY opened #67437 "Could you please provide more details regarding the azure firewall performance in the official documentation ?"
Could you please provide more details regarding the azure firewall performance in the official documentation?

Edited: Added doc metadata.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bba1b4d-cf65-c0a2-9bb6-4ff7896f0a15
* Version Independent ID: 7ab0db77-e78d-de58-369f-641782327264
* Content: [Azure Firewall FAQ](ht

[2020-12-10 00:16] lipalath-ms opened #67438 "Geneva Workflow"
I have a question regarding Geneva workflow. It would be great if I can get some insights.

I have an Azure Table Storage with a Table. The Table contains a column named 'Status'.  Here is an example of data in the table:

![image](https://user-images.githubusercontent.com/6519992/101704492-b9390200-3a39-11eb-895a-f6e3be9549c3.png)

If the 'Status' of any row is set as "Error", I need to send an e

[2020-12-10 00:18] MarileeTurscak-MSFT commented on #67427
@shehackspurple
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-10 00:23] barclayn commented on #65707
@zjakub1 Thanks for the feedback. We have made updates to the article

[2020-12-10 00:23] barclayn commented on #65707
#please-close

[2020-12-10 00:23] #65707 closed

[2020-12-10 00:29] ChaitanyaNaykodi-MSFT commented on #67280
Hello @Ayanmullick, Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-12-10 00:49] johnmccauley1718 opened #67439 "where are the ip addresses?"
where are the ip addresses? I need to added the to a whitelist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33fc045d-cec5-9c08-0eee-8af574b9e76f
* Version Independent ID: 94e41877-46e8-f5fa-f1f7-14714db3a447
* Content: [Azure Integration Runtime IP addresses - Azure Data Factory](https://docs.microsoft.com/en-us/azu

[2020-12-10 00:54] MGoedtel commented on #65451
Based on review of this article [Configure Azure Storage firewalls and virtual networks](https://docs.microsoft.com/azure/storage/common/storage-network-security?toc=/azure/storage/blobs/toc.json) it states that by default, storage accounts accept connections from clients on any network. Based on my assessment, I'll update the article to reference this article and I'm also basing this on the lack

[2020-12-10 00:54] #65451 closed

[2020-12-10 01:02] lzchen commented on #67174
@saifbadran9

Hey thanks for taking interest in our SDK.

What do you mean by logs? Are you referring to having distributed tracing telemetry generated from these "Middleware containers"? Or are you referring to capturing actual "logs" (which refers to use the standard Python [logging](https://docs.python.org/3/howto/logging.html) library) being sent WITHIN these "Middleware containers"?

For the

[2020-12-10 01:36] femsulu commented on #67174
Thanks for the response, @lzchen.

@saifbadran9  - Kindly review the SME's comment above and let us know if you have any follow-up questions. we will now close this issue but don't hesitate to ping if if needed.

Cheers.

[2020-12-10 01:36] #67174 closed

[2020-12-10 01:43] dirksteele opened #67440 "Really useful help."
The help was written from the point of view of a scenario rather than a feature.  It tied in multiple features to produce a specific goal and provided good examples.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11aaa091-1108-52f6-0066-0f4e939aeef4
* Version Independent ID: dbc7e37e-87a7-c124-3e4c-47aa060e6cf3
* Conte

[2020-12-10 01:47] Karishma-Tiwari-MSFT commented on #67428
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-10 02:01] KrishnaG-MSFT commented on #67429
@tfitzmac Thanks for the super quick response. :+1:

[2020-12-10 02:03] greendx opened #67441 "Azure Defender pricing for SQL servers on machines"
Can you confirm that this Azure Defender pricing for SQL servers on machines is correct and is charged for $15/Server/Month AND $0.015/Core/Hour? So basically a minimum $25.95/month assuming 1 core?

![ASC-SQL-pricing](https://user-images.githubusercontent.com/35792006/101711490-a5a19180-3a61-11eb-9f01-e745ab075eb2.jpg)

Edited: Update doc info

---
#### Document Details

⚠ *Do not edit this secti

[2020-12-10 02:04] AlexanderTodorovic opened #67442 "The Analyze Layout operation - Operation Location?"
Dear All,
shouldn't [The Analyze Layout operation](https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/concept-layout#the-analyze-layout-operation) sample URL
refer to
`https://{endpoint}/formrecognizer/v2.1-preview.2/layout/analyze[?language][&pages]`

instead of
`https://{endpoint}/formrecognizer/v2.1-preview.2/layout/analyzeResults/{resultId}`

which is actually the second

[2020-12-10 02:17] docbugger commented on #65806
Ping @BharathNimmala-MSFT , is @cherylmc still the right author for this content? Thank you.

[2020-12-10 02:33] JacquesNZGithub opened #67443 "Grammar mistake with "Pick up" and "Pickup""
There is a spelling mistake with pickup:

"Pickup and drop-off dates and times." should read "Pick-up and drop-off dates and times."
"Pick up and drop-off locations." should read "Pick-up and drop-off locations."

kindest regards
Jacques
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 068f5779-7ef3-5967-06ba-cec5972c1a81

[2020-12-10 02:39] seanmmccormick opened #67444 "The docs are out of date"
I tried the example you used with a `-a 10.10.10.10` argument. This generates an error, as you have apparently deprecated that option, replacing it with an undocumented option called --set (the --set is in the docs, but not how to use it. The example offered, unhelpfully, shows me how to add an Azure resource tag to a record-set.)

Given that these documents are intended to show people how to use

[2020-12-10 02:42] v-tawe opened #67445 "Document need to update"
[Create a keyword in Speech Studio](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/custom-keyword-basics?pivots=programming-language-csharp#create-a-keyword-in-speech-studio)

In step 3, there is no "Language" option, please help to update the doc. Thanks.
![image](https://user-images.githubusercontent.com/22313449/101714336-547eb580-3ad4-11eb-8160-a539ad1d46a4.png)

---

[2020-12-10 03:12] mkiaei opened #67447 "Snapshot Diagram"
The diagram for Snapshots is missing. The one under the section is a duplicate from Workspace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8e951c2-65b8-2bf2-5c67-f4b57fbab467
* Version Independent ID: e369876f-650d-c9f0-9f3b-d25c92e111cf
* Content: [Architecture & key concepts - Azure Machine Learning](https://docs

[2020-12-10 03:36] jamserra opened #67448 "Scanning PBI in a different tenant"
I'm confused if I am trying to scan PBI in a different tenant, would I need to create a security group?  If so, would I create the security group in the tenant of Purview or the tenant of PBI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2058d99-ebe7-6d5d-1337-43de20df8116
* Version Independent ID: 643c4310-00e2-3da

[2020-12-10 03:37] SnehaAgrawal-MSFT commented on #67433
@conor-joplin Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-12-10 04:04] BenHagueLucidity opened #67449 "SecretValueText has been removed"
SecretValueText has been removed from PSKeyVaultSecret as of Az 5.0.0. I had to replace
$secret = (Get-AzKeyVaultSecret -VaultName $VaultName -Name "SendGridAPIKey").SecretValueText
with
$secret = (Get-AzKeyVaultSecret -VaultName $VaultName -Name "SendGridAPIKey").SecretValue
$ssPtr = [System.Runtime.InteropServices.Marshal]::SecureStringToBSTR($secret)
try {
    $SENDGRID_API_KEY = [System.Runtim

[2020-12-10 04:07] AshokPeddakotla-MSFT commented on #67431
@jigote Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-10 04:08] Anand-Moghe commented on #67285
Thanks @SadiqhAhmed-MSFT

[2020-12-10 04:08] #67285 closed

[2020-12-10 04:09] MohdTalib006 opened #67450 "how to Integrate Time Series insight Gen2 javascript Client SDK in our application"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-12-10 04:10] VikasPullagura-MSFT commented on #67435
@Wikenson-MSFT
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-12-10 04:10] VikasPullagura-MSFT commented on #67435
@zr-msft @mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-12-10 04:11] CHEEKATLAPRADEEP-MSFT commented on #67439
@johnmccauley1718  You can get an IP range list of service tags from the [service tags IP range download link](https://docs.microsoft.com/en-us/azure/virtual-network/service-tags-overview#discover-service-tags-by-using-downloadable-json-files).

For example, if the Azure region is AustraliaEast, you can get an IP range list from DataFactory.AustraliaEast.

![image](https://user-images.githubuserco

[2020-12-10 04:17] AnuragSharma-MSFT commented on #67238
@msymons We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-12-10 04:17] #67238 closed

[2020-12-10 04:19] CHEEKATLAPRADEEP-MSFT commented on #67443
@JacquesNZGithub Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/140537](https://github.com/MicrosoftDocs/azure-docs-pr/pull/140537)
The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributi

[2020-12-10 04:19] #67443 closed

[2020-12-10 04:21] v-mosh21 opened #67451 "Document is not clear"
Hi Team,

I wish to improve the document at this page https://docs.microsoft.com/en-us/azure/api-management/api-management-policy-expressions#ContextVariables to add the explanations on each of the variables.

For example, under context.Subscription tab, there are several variables: StartDate, EndDate, CreateTime (it should be CreatedDate), Id, Key, Name, etc.

I can finally find the document to e

[2020-12-10 04:39] BryanTrach-MSFT commented on #65678
@blummichellec Thank you for bringing this up. It appears that the doc author made a change on the [doc ](https://github.com/MicrosoftDocs/azure-docs/blob/master/includes/app-service-web-vnet-regional.md)the same day as well and caused the changes to be overridden. I submitted a new PR and the changes should be visible within 24 hours.

[2020-12-10 04:45] CHEEKATLAPRADEEP-MSFT commented on #67058
@wahyuen Yes, you can enable this feature only via Azure Portal.

Currently, you cannot set Managed virtual Network programmatically via REST API, PowerShell, ARM.

[2020-12-10 04:47] vipulsparsh commented on #67440
@dirksteele   Thanks for reaching out and providing the great feedback.

[2020-12-10 04:47] ram-msft commented on #67447
@mkiaei Thanks for the feedback! We will review and update accordingly.

[2020-12-10 04:48] vipulsparsh commented on #67225
@SnowWolf7 We will be closing this now, if you have any questions feel free to tag me in your comments.

[2020-12-10 04:48] #67225 closed

[2020-12-10 04:48] ram-msft commented on #67445
@v-tawe Thanks for the feedback! We will review and update accordingly.

[2020-12-10 04:48] #67126 closed

[2020-12-10 04:50] vipulsparsh commented on #67367
@drchilds Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2020-12-10 04:50] SwathiDhanwada-MSFT commented on #67449
@BenHagueLucidity Thanks for your comment. We will review the issue and get back to you shortly.

[2020-12-10 04:56] vipulsparsh commented on #67365
@yiliuTo  The experience that you had with scopes are expected in this oauth flow, which is also known as dynamic or incremental flow of permissions.
The End user would get the prompt for consent for any new permission which is being asked via scopes. This is to get developer more custom options to query the same API/resource with different permissions to perform different activities.

For an exam

[2020-12-10 05:02] AjayKumar-MSFT commented on #67430
@fhryo-msft, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-12-10 05:17] AjayKumar-MSFT commented on #67437
@JennyLJY, Thanks for leveraging Azure docs feedback channel to raise this question.

Kindly see this document '[Monitor Azure Firewall logs and metrics](https://docs.microsoft.com/azure/firewall/firewall-diagnostics)' for more details.

You may interested to check the [Azure: SLA for Azure Firewall document](https://azure.microsoft.com/support/legal/sla/azure-firewall/v1_1/).
As mentioned in the

[2020-12-10 05:32] christianigay commented on #30802
Hi there. I'm facing same issue. I entered the correct credential and able to access with the browser but not in postman.
Hope anybody can help me cause I'm stuck. thanks in advance
parameters:
grant_type: password
client_id: xxxxxprovidedxxxxxx
client_secret: xxxxxxprovidedxxxxxx
scope: https://graph.microsoft.com/.default
username: xxxxxxprovidedxxxxxx (can be accessed through browser https://de

[2020-12-10 05:39] AjayKumar-MSFT commented on #67441
@greendx, Thanks for leveraging Azure docs feedback channel to raise this question. Could you please share the Azure documentation for which this feedback is applicable to?
This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

To help you get started, you may use [Azure Pricing calculator](https://azure.microsoft.com/pricing/calculator/?

[2020-12-10 05:39] coin8086 opened #67452 "The quick start sample failed compiling in latest Visual Studio(16.8.3)"
The error output is

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3aa58af5-02ea-e425-1fc5-9f588d394016
* Version Independent ID: 86440381-783a-6e49-bacb-59b1c1581d81
* Content: [Quickly create a .NET app on Service Fabric in Azure - Azure Service Fabric](https://docs.microsoft.com/en-us/azure/service-fabric/se

[2020-12-10 05:42] AjayKumar-MSFT commented on #67450
@MohdTalib006,  Thanks for leveraging Azure docs feedback channel to raise this question. Could you please share the Azure documentation for which this feedback is applicable to?

This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2020-12-10 05:45] SumanthMarigowda-MSFT commented on #67436
@JasonFreeberg Thanks for the question! We are investigating and will update you shortly.

[2020-12-10 06:05] SubhashVasarapu-MSFT commented on #67086
@steveculshaw, Appreciate your patience.  Our team is internally working on adding the tag to the list once after its testing. The doc will be updated soon.
we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-12-10 06:05] #67086 closed

[2020-12-10 06:07] rageshm110 opened #67453 "Query: Is ingress-controller-leader-addon-http-application-routing config map part of http-application-routing add on"
[Enter feedback here]
I am trying to clean up the cluster after removing the http-application-routing addon, wanted to confirm if ingress-controller-leader-addon-HTTP-application-routing can be deleted

Command used:
kubectl get configmaps --namespace kube-system

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51a32f9e-

[2020-12-10 06:08] SubhashVasarapu-MSFT commented on #67228
@scannme, could you please drop a mail to azcommunity@microsoft.com? So that we will direct you to the right SME team for quick help in the meantime.

[2020-12-10 06:10] RohitMungi-MSFT commented on #67372
@chengyu-liu-cs Thanks for the clarification. The REST API examples which are in preview are available [here ](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-manage-rest#retrieve-a-service-principal-authentication-token)to get the token which can help list the workspaces, runs, models and other artifacts. Some samples with ADAL library are also available [here](https://docs.microso

[2020-12-10 06:13] christianigay opened #67454 "Hi there. I'm facing same issue. I entered the correct credential and able to access with the browser but not in postman."
Hi there. I'm facing same issue. I entered the correct credential and able to access with the browser but not in postman.
Hope anybody can help me cause I'm stuck. thanks in advance
parameters:
grant_type: password
client_id: xxxxxprovidedxxxxxx
client_secret: xxxxxxprovidedxxxxxx
scope: https://graph.microsoft.com/.default
username: xxxxxxprovidedxxxxxx (can be accessed through browser https://de

[2020-12-10 06:23] yiliuTo commented on #67365
Hi @vipulsparsh , thanks for you explanation and I can understand why application can acquire scopes without Portal configuration.

But I have another question now. What is the meaning of configuring API permissions of scopes that doesn't need admin consent?
During my experiments, I found that if I added one scope like `https://graph.microsoft.com/Bookings.Manage.All` which doesn't need admin cons

[2020-12-10 06:28] xumou-ms commented on #41961
@bergmeister @cpmohanraj The description of the command line application is confusing. Doing multiple actions together within one line isn't supported.

I've improved the document in this [PR](https://github.com/MicrosoftDocs/azure-docs/pull/67373). Thank you so much for your feedback.

[2020-12-10 06:31] HarshitaSingh-MSFT commented on #67432
Hello @softchris , thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-10 06:55] RohitMungi-MSFT commented on #67442
@AlexanderTodorovic The mentioned section in the document is referring to the response from the analyze operation which contains the result id which is used by the analyzeResults API. The Analyze layout operation is correctly referenced though in the same section to the REST API reference page.

[2020-12-10 07:04] Tenseiga commented on #62981
@irenehua  HI , the  restriction is only to Avaialibity set or to Availability zone as well. Well in my case I creating 2 VMs with 2 NICs each, 2 internal LBs will be created for each nic, load balancing the 2 vms, I m getting the same error. though the VMS are in Avail ZOne.

[2020-12-10 07:17] AlexanderTodorovic commented on #67442
@RohitMungi-MSFT Thank you!

[2020-12-10 07:17] #67442 closed

[2020-12-10 07:31] #67057 closed

[2020-12-10 07:36] CHEEKATLAPRADEEP-MSFT commented on #67448
@jamserra  Thanks for the question! We are investigating and will update you shortly.

@darrenparker Could you please take a look into the ask?

[2020-12-10 07:42] SayakMukhopadhyay commented on #62918
@JTInfinite Since you are the author, could you reopen this issue so that MS could look at it?

[2020-12-10 08:11] BzSpi opened #67455 "Azure Monitor Agent: VMSS support has been added"
Documentation is outdated since VMSS support has been added.
https://azure.microsoft.com/en-us/updates/new-azure-monitor-agent-and-data-collection-rules-capabilities-released/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95469537-cce5-9a60-50bb-867d7e093e14
* Version Independent ID: 1ea8b3d8-3672-270e-3fe3-ac2f9a47a8

[2020-12-10 08:16] mulcahys commented on #67409
Thanks for the prompt response @MonikaReddy-MSFT - I'm aware of https://docs.microsoft.com/en-us/azure/governance/blueprints/create-blueprint-powershell but that seems to deal only with creating a blueprint from scratch. It doesn't address the topic of creating a blueprint based on one of the built-in samples using PowerShell?

[2020-12-10 08:16] SwathiDhanwada-MSFT commented on #67216
Assigning to content author @bwren for review and updating document if necessary.

[2020-12-10 08:21] aahill commented on #65653
Thanks for the information. I tried this process and at first I had trouble seeing a shared app as well, after being given the contributor role.

What fixed this (and might be the same in your case) was switching the Azure directory on my contributor account.

![image](https://user-images.githubusercontent.com/6517568/101738500-12755580-3a7b-11eb-9192-043be1729d5d.png)

I'd recommend making sure y

[2020-12-10 08:21] #65653 closed

[2020-12-10 08:23] dmc-tech opened #67456 "kubectl describe storageclass\<storage class name> is incorrect"
kubectl describe storageclass\<storage class name> uses the wrong 'slash'

kubectl describe storageclass/<storage class name> works.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3135f590-c419-e321-83f6-79145c5701e5
* Version Independent ID: 9c191ee0-f065-c003-04a3-bacc68987579
* Content: [Storage configuration - Azur

[2020-12-10 08:26] ramakrpr commented on #67394
In continuation to what @cveld has asked, do you also recommend to include these modules as a standard when we configure the parent (this being in preview now). Do you know that these will remain as is.
Also on the overall architecture on how the image pull and information exchange between child to parent via $upstream are you planning any major changes in the actual release

[2020-12-10 08:27] serjdag commented on #64681
In my case it is even worse. DNN listener still points to original primary even if I connect to AOAG database. MultiSubnetFailover=True is also specified in SSMS connection option in Additional Connection Parameters.
This is definitely a bug or documentation missing some required configuration.

**SQL on Azure VM.**

**Version:**
- Microsoft SQL Server 2019 (RTM-CU8) (KB4577194) - 15.0.4073.23 (X6

[2020-12-10 08:40] chengyu-liu-cs commented on #67372
@RohitMungi-MSFT So the only options are to use the SDK or the az ml service get-access-token [option](https://docs.microsoft.com/en-us/cli/azure/ext/azure-cli-ml/ml/service?view=azure-cli-latest#ext_azure_cli_ml_az_ml_service_get_access_token). In the case we choose az ml service get-access-token, what we need to do as a webservice provider and how our customer gets authenticated to fetch tokens

[2020-12-10 08:41] JTInfinite commented on #62918
@Budlee @SayakMukhopadhyay its mentioned under the single page application registration section:

https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-register-spa

I've spent a bit of time with B2C recently and from what I can understand from the frankly confusing documentationis that implicit grant flow is less preferred than PKCE flow, which disables implicit grant flow.

[2020-12-10 08:50] KrishnaG-MSFT commented on #67456
@dmc-tech Thanks for your comment! We will review and provide an update as appropriate.

[2020-12-10 08:51] KrishnaG-MSFT commented on #67455
@BzSpi Thanks for your comment! We will review and provide an update as appropriate.

[2020-12-10 08:59] Radiergummi commented on #62877
I have created a QA on Serverfault on this topic recently: [serverfault.com/questions/1044101](https://serverfault.com/questions/1044101/cannot-add-verified-publisher-mpn-id-to-azure-multi-tenant-app). @JamesTran-MSFT might you be able to forward it to someone responsible inside Microsoft, by chance? That'd probably a good place to answer the question canonically for anyone arriving here.

[2020-12-10 09:14] makushima commented on #67140
doesnt work

[2020-12-10 09:24] hantimo opened #67458 "Kali Linux Hyper-V 64 Bit"
Kali Linux Hyper-V 64 Bit no longer exists.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 069fc461-f1d5-5be7-eb91-e6049d673581
* Version Independent ID: e1819532-943a-8a6f-d61c-aa9e6f8e167d
* Content: [Set up an Ethical Hacking lab with Azure Lab Services - Azure Lab Services](https://docs.microsoft.com/en-us/azure/la

[2020-12-10 09:24] #67449 closed

[2020-12-10 09:25] SwathiDhanwada-MSFT commented on #67449
@BenHagueLucidity Thanks for the feedback. I have made the changes to the document and the changes will be live soon.We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-12-10 09:28] magnus-longva-bouvet opened #67459 "My tests indicate liveness probes may be supported for ACI container groups deployed to virtual networks. Docs say it's not supported"
`Currently you cannot use a liveness probe in a container group deployed to a virtual network.`

I've done experiments that would suggest liveness probes *are* supported for virtual networks. Is the documentation still correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64b5c5a2-21f2-e3ac-bddf-27ecf3994331
* Versio

[2020-12-10 09:36] HarshitaSingh-MSFT commented on #67458
Hello @hantimo , thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-10 09:37] skaue-ms commented on #67389
This is the error I see now. It has worked before, for both me and my team, but this week we started seeing this error:
![image](https://user-images.githubusercontent.com/47558654/101754132-b0950a00-3ad3-11eb-9b69-937cf45b0cb2.png)

[2020-12-10 10:11] rayne-wiselman commented on #50822
#assign:vineetvikram

[2020-12-10 10:13] dominicbetts commented on #66966
@SatishBoddu-MSFT - I spoke with Pranshu directly.
I've made some updates to the tutorial to provide more information about the model ID parameter, and added more context to the device connectivity concepts article with more links to relevant resources.

[2020-12-10 10:14] dominicbetts commented on #66966
#please-close

[2020-12-10 10:14] #66966 closed

[2020-12-10 10:21] dominicbetts commented on #67118
Hi @askpatrickw - I've added some more information about the model ID to both the code tutorials and the device connectivity concepts article - there's also some additional links to more detailed information. The updates should be live later today.
I'll pass on your comments about the Python code sample to authors of the sample.

Thanks for the feedback - always welcome!

[2020-12-10 10:21] dominicbetts commented on #67118
#please-close

[2020-12-10 10:21] #67118 closed

[2020-12-10 10:41] pankaj-pal opened #67460 "inserting ssh-keys into VM so that code can be pulled from git"
We have some code in the git, which we want VM to pull whenever we are creating it.
We have created ssh-keys into our repository, but how to insert ssh private key into the VM while creating the VM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69db0238-ad2d-43b9-52db-2f2fad0ea380
* Version Independent ID: 6f355823-2d