[2020-01-30 16:08] pballai opened #47145 "New Azure VM Fails to Deploy with Eror"
Have a clean Resource Group with one subnet and not much else. Went to deploy a new Windows 2019 VM with very basic (default) configuration. All went fine till if failed with a not too helpful error (at least to me). Here is the JSON if anyone has seen this before:

{
    "authorization": {
        "action": "Microsoft.Compute/virtualMachines/write",
        "scope": "/subscriptions/13dd5309-285f-

[2020-01-30 16:09] connor-ww opened #47146 ""Authorization token does not have access to path.""
On my IoT Central app's "Administration" page, there is a tab that says "API tokens" not "Access tokens".
When attempting to log in using the "iotc-explorer login" command, I am met with "Error: IoT Central API call failed with message Authorization token does not have access to path. [IOTC_API_ERROR]".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-01-30 16:17] emanuelgaleaHWS commented on #14508
Our customers use our product for MFA. Now they want to move to Azure but they are stuck, as we cannot support Azure Custom Control.
Azure should just delegate the tenant authentication to an OpenID or SAML external Idp.

[2020-01-30 16:20] tiagodenoronha opened #47147 "Send error codes"
Is it possible to send these error codes in custom policies ourselves? For example if an API we have returns false, is there any way to return a specific error code?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd9c64ff-5065-9a2b-4965-c48685482fe1
* Version Independent ID: 3ff9871f-d28d-b752-750e-1142556ec8cb
* Conte

[2020-01-30 16:20] tfitzmac commented on #47063
@Mike-Ubezzi-MSFT - I think this issue was mislabeled. Shouldn't it go to resource health?

[2020-01-30 16:30] MGoedtel commented on #47052
@OffColour - I'm planning on re-writing this article as part of a broader set of changes to apply to the Update Management content, and I agree there are details missing and inaccuracies that need to be addressed here.  To answer your question about WSUS - Configuring the client to report to an internal WSUS server for scanning/downloading updates requires the updates to be approved in WSUS.  This

[2020-01-30 16:30] #47052 closed

[2020-01-30 16:31] lobrien commented on #46409
@jorgeso Please let me know if the sample I provided addressed your problems.

[2020-01-30 16:38] PramodValavala-MSFT commented on #47062
@philipstreet-hiscox Sorry about that! Not sure what I was thinking but using `Any` is almost never right.

@ecfan Could you share some insights on this?

[2020-01-30 16:47] bandersmsft commented on #34024
@femsulu Prashant Kumar (Azure), tho I dunno if he has a GH user account or of their fix ETA.

[2020-01-30 16:48] philipstreet-hiscox commented on #47062
For the intrasubnet rule, how about having the Source / Destination Prefixes = the Address Space of the virtual network containing the ISE subnets (and other subnets that need to access the ISE Logic Apps)? That'll work, yes?

[2020-01-30 16:56] JasSuri commented on #46916
Sorry, misunderstood your previous comment. As Yoel mentioned, the displayName is required for ClaimsProviders and TechnicalProfile elements. We will update the doc to make that accurate and get the XML snippet updated to align with that.

[2020-01-30 17:01] JasSuri commented on #47147
You can only return custom error codes back to your application when it is **not** one of these exceptions, since these errors are more in line with service issues from misconfiguring the policy itself. They should not appear in any production workload. If you have a REST API, make sure it is part of a validation technical profile within a self asserted technical profile, then it can return errors

[2020-01-30 17:01] jyori opened #47148 "to azure"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-01-30 17:01] cananac opened #47149 "Logging SAS generation"
Hi,

Is there a way to log SAS generation(datetime when a token is generated, who requested it and what were the parameters, etc.)?

Thanks,
Canan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30ebd39b-ae34-4988-5694-09acd19693e8
* Version Independent ID: c36c476f-a7c3-1f68-7ef6-1a7e3664bbe1
* Content: [Azure Storage

[2020-01-30 17:01] jyori opened #47150 "service"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-01-30 17:02] JasSuri commented on #47020
Here is the exact release notes on the status of B2C Custom Policies. In general it is mostly GA.
https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-developer-notes

[2020-01-30 17:03] Poolshark314 commented on #46811
@TravisCragg-MSFT Is there any additional information I can provide to you for this?

[2020-01-30 17:05] JasSuri commented on #46988
Make sure you have not removed the OutputClaimsTransformation from your external IdP Technical Profile. It will output the AltSecId for use in "AAD-UserReadUsingAlternativeSecurityId-NoError".
[code]
https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/blob/master/SocialAndLocalAccounts/TrustFrameworkBase.xml#L496

[2020-01-30 17:05] dastewa opened #47151 "ComplexType Sub-field Mapping"
Is it possible to map a specific property within a complex object to a field in a target index, for documents being indexed from Cosmos DB?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1be935e6-88cc-38b8-aab4-bd43fd32ed4d
* Version Independent ID: 3c900aa3-ebc8-17bc-cfa2-3e3a6e7400e9
* Content: [Field mappings in ind

[2020-01-30 17:06] shraboin opened #47152 "Setting sslProtocol in Redis Session State Provider"
There is no config option to pass the ssl  protocol in RedisSessionStateProvider. Instead customer can do a workaround where they pass the config options through a connection string:
https://github.com/Azure/aspnet-redis-providers/wiki/Configuration#connectionstring-valid-stackexchangeredis-connection-string-string​
​
The parameter to specify in the connection string is sslProtocols: https://stack

[2020-01-30 17:06] JasSuri commented on #46872
Is there any reason why you would like to integrate AAD as a SAML IdP to B2C? Is the OIDC implementation not sufficient?
https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-single-tenant-custom?tabs=applications

Otherwise, it is very much the same approach as the examples for ADFS as a SAML IdP.
https://docs.microsoft.com/en-us/azure/active-directory-b2c/identit

[2020-01-30 17:07] bmwaechter commented on #47091
FYI: After doing further testing I think this is either a bug wit the Service Bus Trigger.  I believe it is not registering the possibility of having a JSON payload with the `IBinder`  used to connect services.

[2020-01-30 17:10] JasSuri commented on #46866
The screenshot would pertain to a login issue against SalesForce itself, rather than something to do with B2C. Have you checked that the URL you are authenticating to at SalesForce is the expected tenant? Make sure this is correct in the B2C policy:
[code]

[2020-01-30 17:14] martininvillia opened #47153 "Error AADSTS50076"
Is it possible to authenticate with the oauth 2.0 protocol with the grant_type password for a user with MFA enabled?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2870d4a9-e204-023a-56a8-c34e56347b43
* Version Independent ID: 846fe3ae-21cb-e030-f68f-db73acef0c74
* Content: [Understand the OAuth 2.0 authorization code

[2020-01-30 17:23] Mike-Ubezzi-MSFT commented on #47025
@sanchetanparmar Sure, please see: [High availability concepts in Azure Database for MySQL](https://docs.microsoft.com/en-us/azure/mysql/concepts-high-availability)

Please let me know if you have any additional questions.

[2020-01-30 17:24] MashaMSFT commented on #37127
Hi @mjcarrabine , thanks for reaching out once more! My apologies for the delay; we're still looking into this.

@pjvander , thanks for letting us know! Let me look into this; but just so you know you may get faster assistance opening up a support ticket, as this forum is really meant for issues with the documentation, and not with the product.

Thanks!
Masha from the SQL Docs team

[2020-01-30 17:24] Mike-Ubezzi-MSFT commented on #46885
@leela-uppuluri We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion. We are here to help you.

[2020-01-30 17:24] #46885 closed

[2020-01-30 17:29] thisisbrianstewart opened #47154 "VPN Gateway Basic SKU or Standard SKU"
In the SKUs section, under Basic header (https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-ip-addresses-overview-arm#basic), the docs say this:

Additionally, the Standard SKU says this:

So, as you can see, both Standard and Basic mention that they can be used for VPN Gateway.  However, the VPN Gateway section (https://docs.microsoft.com/en-us/azure/virtual-network/virtual-ne

[2020-01-30 17:31] CESARDELATORRE opened #47155 "Provide direct link to supported Algorithms list Constants to be used by WhiteList/BlackList arguments"
Please, Provide direct link to supported Algorithms list Constants to be used by WhiteList/BlackList arguments.

It is not clear how to find those constants when saying:
"Use the whitelist or blacklist parameters to further modify iterations with the available models to include or exclude. The list of supported models can be found on SupportedModels Class." because that page appears kind of empty:

[2020-01-30 17:32] Linda1515 opened #47156 "MySQL on Azure VM"
"Always-on failover clustering, always-on group replication, log shipping, or transactional replication" is for SQL Server, not MySQL

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 939b6294-b230-1400-1e53-cb635fb574e1
* Version Independent ID: 516e5c0e-e303-0969-16f1-aed1a0932778
* Content: [Selecting the right deploym

[2020-01-30 17:42] EdwardP-VEN commented on #47060
I had a customer who ran the Update Agent Readiness script in Update Management and it came back with 2 failed errors:
“Failed: Operating System version (Linux-5.0.0-1025-azure-x86_64-with-Ubuntu-18.04-bionic) is not supported. Supported versions listed here: https://docs.microsoft.com/en-us/azure/automation/automation-update-management#clients”
“Failed: Hybrid worker is not running. current_mof f

[2020-01-30 17:43] ecfan commented on #47062
@kevinlam1, I think you're the better person to help comment about these ISE questions. Please help? Thanks!

[2020-01-30 17:43] BryanTrach-MSFT commented on #47130
@PHATGZA Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-30 17:44] sanchetanparmar commented on #47025
@Mike-Ubezzi-MSFT  Thanks for your response. This document I already found.
As mentioned in documents **built-in fail-over** , so I don't need any additional configuration. It's support for all **azure database for MySQL** instances by default.  Right ? Please correct me if I'm wrong.

[2020-01-30 17:44] BryanTrach-MSFT commented on #47122
@Naboo2604 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-30 17:48] deyanp commented on #46724
@himanshusinha-msft , I opened case 120012425000336 on Fri last week, but no response yet ...

[2020-01-30 17:52] artisticcheese opened #47157 "Log Analytics as search medium"
It's not possible to use search via Log Analytics for NSG logs? I see a lot of third party tools is mentioned but why not Log Analytics?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1fa6c20-b0a4-a593-ae3f-caa62aedd89c
* Version Independent ID: e6cae9b1-e822-894e-11ff-985d305743cc
* Content: [Read NSG flow logs](http

[2020-01-30 17:53] dotnetgator commented on #46916
Thank you again @JasSuri. We're getting close, and I appreciate your patience and diligence in digging in on these. Just to be sure - the documentation for the ClaimsProviders and Technical Profile elements is to be updated to reflect that DisplayName is required **-and-** also to reflect a different description for the property in those 2 cases other than "displayed to users" (is it used for logg

[2020-01-30 17:55] BhargaviAnnadevara-MSFT commented on #47138
@rbonini Thanks for catching that one! I shall make the required changes and update the document shortly.

[2020-01-30 17:59] johnwildes opened #47158 "Statement of supportability for Production"
Can we get a statement of whether or not the DSVM can be used for production purposes ? There are use cases for the VM but none of them say whether or not you should rely on it for production purposes.   In my mind this is a VM for Proof of Concepts only.  In a lot of environments where VMs are regulated, working with these data tools, this VM as deployed poses challenges.  It would be more helpfu

[2020-01-30 18:00] aka0 opened #47159 "Schema change"
The activity log schema had more changes than what's outlined above. For example, Category is now CategoryValue.
1. Where can I get the latest schema? Is it documented?
2. In the future, we would like to get advanced notification on schema changes. Is such service available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-01-30 18:00] ThomasWeiss commented on #47126
These properties have been deprecated for new containers but are still surfaced to users using older containers. We're seamlessly migrating all containers over the next couple of months, and will update the documentation accordingly when the properties will be deprecated for everyone.
#please-close

[2020-01-30 18:00] #47126 closed

[2020-01-30 18:02] suhuruli commented on #47000
@peterpogorski , can you help with this?

[2020-01-30 18:07] KranthiPakala-MSFT commented on #47125
@mcurko
Thank you for reaching out . At this time we are reviewing the ask and will provide an update as appropriate

[2020-01-30 18:08] tiagodenoronha commented on #47147
My intention is to return the error to the website, for example how the ResetPassword button returns the error code AADB2C90118, is this possible?

[2020-01-30 18:08] alfkla opened #47160 "Not updated"
Hi, this page is not updated. Som commands (like the --attach-acr &lt;acrName&gt;) does not work anymore. Could you please send me the link to the updated documentation of the azure kubernetes AKS documentation and examples? Please, regards alf.normann.klausen@norkart.no

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d

[2020-01-30 18:09] JasSuri commented on #46846
- Is there a maximum length for "string". What kind of encodings are supported?
256 Char. 64 char for GivenName
The structure follows Azure AD limitations.
Need to confirm encodings.

- Is boolean "true, false", or is it 1,0? Or perhaps -1 and 0? Is it "truthy" like JavaScript?
True/False

- What are the ranges of int and long - are they 32/64-bit respectively? Are negative values supported?
Int:

[2020-01-30 18:10] KranthiPakala-MSFT commented on #47127
@mcurko Thank you for reaching out and bringing this to our attention. At this time we are reviewing the ask and will provide an update as appropriate.

[2020-01-30 18:13] AjayKumar-MSFT commented on #46948
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2020-01-30 18:13] #46948 closed

[2020-01-30 18:14] Mike-Ubezzi-MSFT commented on #47025
@sanchetanparmar Yes, it is built-in. There is no High Availability functionality a the server level. It is at the node level, and there is no way to test this. Azure SQL Server has server level High Availability between Azure Paired Regions, and there is a means to test the fail-over functionality. With Azure Database for MySQL, the HA feature is tied to a single region and replicates your instan

[2020-01-30 18:15] alfkla commented on #47160
Sorry, I saw the post by Magnus-Hedlund and his solution. Upgraded the azure-cli package to 2.0.80 and now the --attache-acr works fine again! (please remove my email address from the comment above if possible, I didn't know this was not posted online)

[2020-01-30 18:16] SaurabhSharma-MSFT commented on #47143
@mikerodrick Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-30 18:17] SaurabhSharma-MSFT commented on #47139
@mikerodrick Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-30 18:17] JasSuri commented on #47147
Unfortunately not. These are the possible error handling methods:
1. B2C service issue, static error issued to the app as described in the article. Also applies to an unhandled error not originating from B2C service, eg REST API does not respond, an error is returned to the app.
2. REST API returns an error in Validation technical profile - Error is shown to the user within the B2C page.

If this

[2020-01-30 18:17] SaurabhSharma-MSFT commented on #47137
@prvempat Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-30 18:21] JasSuri commented on #46761
Not quite sure what the issue is.
This is how you request an access token:
https://docs.microsoft.com/en-us/azure/active-directory-b2c/access-tokens

If response_type = Id_token token, and a scope has been provided for a resource, youll get both tokens back in the first auth request. msal.js has a limitation right now that it only does response_type=Id_token. But other libraries allow you to confi

[2020-01-30 18:22] tiagodenoronha commented on #47147
When you say "an error is returned to the app", do you mean returned to B2C to show on screen?
Our issue is not showing the default error message on B2C, but show our own error screen.

The way we are doing it, we are using javascript to check if the error label is modified, and if it is, redirects to a page in our blob storage. But we need it to return to our application, to handle that error.

I

[2020-01-30 18:24] JasSuri commented on #47147
No, i mean if it is one of the service errors in the referenced article, then that error is returned to the app.

"The way we are doing it, we are using javascript to check if the error label is modified, and if it is" -- then--> Generate a link with JS that sits in your AAD B2C custom HTML page to send to https://myapp.com?error&errorcode=123456

[2020-01-30 18:26] rwike77 commented on #39037
@atkinchris, sorry for the slow reply.  I just ran through the steps in this article and am not able to repro the URL decoding issue.  I used a secret generated in the Azure portal, which had some special characters in it.  I'd say the issue has been resolved by now.  I was able to generate an `invalid_client ` error by putting a URL encoded secret into Postman.  Postman expects the secret to be i

[2020-01-30 18:26] JasSuri commented on #46728
@mmacy this is accurate, RaiseErrorIfClaimsPrincipalAlreadyExists only works for AAD Write operations.

[2020-01-30 18:28] j82w commented on #47126
@ThomasWeiss this is causing confusion for users with new containers. Is there any reason there can't be a section for new containers?

[2020-01-30 18:29] CharlieDigital commented on #46833
@Rohit, I have the same issue.  I set up the account today and downloaded the latest docker image.  404 on access to the following URL:

https://{MY_RESOURCE}.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models

[2020-01-30 18:30] ThomasWeiss commented on #47126
@timsander1 can you help here?

[2020-01-30 18:31] CharlieDigital commented on #45640
@stammd: I second this; I am running into the same issue.

[2020-01-30 18:32] Shelabd commented on #46833
@CharlieDigital i was able to solve this issue. The labeled only works when the form recognizer is created in west Europe or West US. Doesn’t work if the resource exists anywhere else.

[2020-01-30 18:32] Norrch2 commented on #46761
Thanks for your reply. When using the url directly in the browser and not using MSAL I only get the idtoken returned in the browser.

________________________________
From: Jas Suri <notifications@github.com>
Sent: Thursday, January 30, 2020 1:21:01 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Norrch2 <christopherlnorris@outlook.com>; Mention <mention@noreply.github.com>
Sub

[2020-01-30 18:39] zhouwangzw commented on #46744
Regarding TranscriptionResultsContainerUrl, it is supported. I just tested and it works for me. Could you please check whether the SAS contains the write permission to the blob?

[2020-01-30 18:39] NavtejSaini-MSFT commented on #47131
@StingyJack We are checking this and we will get back to you.

[2020-01-30 18:42] RamanAditazz commented on #47025
@Mike-Ubezzi-MSFT  Thanks for update and appreciate your help. But as you mentioned

it will take longer time based on data size/type because there is no stand-by instance like AWS RDS multi AZ. any future plan for multi-az ?

[2020-01-30 18:43] curtand commented on #46552
That is the answer (30K). I'll add this to the bulk restore article and the restore a user article.

#please-close

[2020-01-30 18:43] #46552 closed

[2020-01-30 18:43] nahk-ivanov commented on #47126
Yeah, I agree with @j82w - using Cosmos DB SDK is basically shooting a moving target and documentation does not help. If we can have documentation kept up-to-date with the current state of the service - it would be very helpful.

[2020-01-30 18:43] JasSuri commented on #46761
Follow the article i linked. Only then will you have the access token menu appear in the portal when running the policy and be able to select a resource to get an access token for.

[2020-01-30 18:44] YesPrepDataCenter opened #47161 "Question about this not working"
If we configured Azure AD for Skyward on the 23rd, and this document was updated the 24th, should I remove the service principal and start over?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5f5f697-b7fe-de70-13b1-bd660f951898
* Version Independent ID: 6b1bbb1a-a09f-e706-db19-ce7ff485d7fe
* Content: [Tutorial: Azure

[2020-01-30 18:44] sanchetanparmar commented on #47025
@Mike-Ubezzi-MSFT  Thanks for update and appreciate your help. But as you mentioned

it will take longer time based on data size/type because there is no stand-by instance like AWS RDS multi AZ. any future plan for multi-az ?

[2020-01-30 18:45] curtand commented on #46636
HI @cchambers-cap
Investigating...

[2020-01-30 18:48] sanchetanparmar commented on #47025
readreplica will also take time to come up as master

[2020-01-30 18:48] NavtejSaini-MSFT commented on #47152
@shraboin Thanks for the feedback. We are checking this.

[2020-01-30 18:49] zhouwangzw commented on #46744
In your example above, the property is shown as "TranscriptionDestinationBlobSASUrl":, instead of " "TranscriptionResultsContainerUrl". What is the property name you specified in the batch request?

[2020-01-30 18:50] NavtejSaini-MSFT commented on #47156
@Linda1515 We are checking this and will get back to you.

[2020-01-30 18:53] GiftA-MSFT commented on #46971
@girishnadiger-gep can you please be specific on what needs to be changed?

[2020-01-30 18:55] CharlieDigital commented on #46833
@Shelabd, thanks!  This need to be in the invite email in bold letters :D

[2020-01-30 18:55] timsander1 commented on #47126
All existing indexing docs and samples are relevant for new containers. If you do not specify these properties (kind and precision), they take on the default values specified in this doc.
#please-close

[2020-01-30 18:56] Karishma-Tiwari-MSFT commented on #47160
Thanks for sharing the update. I have removed your email from the post.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-30 18:56] #47160 closed

[2020-01-30 18:58] Karishma-Tiwari-MSFT commented on #47145
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2020-01-30 18:59] davidsmatlak commented on #46870
#assign:davidsmatlak

[2020-01-30 19:00] ticianaciminari opened #47162 "Error in doc - kubectl get nodes returns 1 node instead of 2. # 681"
@couscousbzh commented on [Thu Jan 30 2020](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/681)

Hello,

Just to report a small error in the doc, when we list the nodes with the command kubectl get nodes the result must give us 2 nodes and not 1 as indicated in the doc.

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison de

[2020-01-30 19:05] ticianaciminari commented on #47162
Hi Team, could you please check the user's report?

Kind regards,

Microsoft DOCS Global Experience Team

[2020-01-30 19:06] davidsmatlak commented on #46870
I'll check on the status of the agent software and update the document when more information is available.

[2020-01-30 19:07] ticianaciminari opened #47163 "Error AADSTS50076"
@martininvillia commented on [Thu Jan 30 2020](https://github.com/MicrosoftDocs/azure-docs.pt-br/issues/576)

Is it possible to authenticate with the oauth 2.0 protocol with the grant_type password for a user with MFA enabled?

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: ffdaa549-8f3b-75e0-9d27-a1a10417

[2020-01-30 19:07] jeevansd commented on #47161
@YesPrepDataCenter No you don't have to. You can just review your configuration with this new guide. That should be sufficient here. Other option is just look at the changes between versions and you know what we have updated.

[2020-01-30 19:08] jeevansd commented on #47161
#please-close

[2020-01-30 19:08] #47161 closed

[2020-01-30 19:09] ticianaciminari commented on #47163
Hi Team, could you please check the question from user?

Kind regards,

Microsoft DOCS Global Experience Team

[2020-01-30 19:11] adwise3 commented on #46792
@yashas850039 can you clarify the transfer you made a little further? Did you transfer a single subscription from one EA enrollment to another EA enrollment?

In cost analysis are you only trying to view the costs for that one subscription that was transferred?

[2020-01-30 19:15] BhargaviAnnadevara-MSFT commented on #46909
@taromielnaz Have you had a chance to check if the above reponse helps?

[2020-01-30 19:17] Karishma-Tiwari-MSFT commented on #46804
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-30 19:17] #46804 closed

[2020-01-30 19:18] femsulu commented on #46735
thanks for the response @himanshusainig

@egondalia Please review the comments above and let us know if you have any followup questions.
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-01-30 19:22] Karishma-Tiwari-MSFT commented on #46876
Thanks @ChristianMontoya
@diecknet We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-30 19:22] #46876 closed

[2020-01-30 19:23] taromielnaz commented on #46909
Yes, Thanks. So I think having one separated resource for each web apps make sense for my environment sine each web apps serves one customer separately.

[2020-01-30 19:23] sandeep8530 opened #47164 "Can we access Event hub in Databricks using service principal instead of SAS"
Event hub document shows that we can access it using service principal and also I see that, we can access event hub using service principal using python libraries.

Can we access Event hub in Databricks using service principal instead of SAS

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25b9dc22-bf44-8023-6751-5a4a24d

[2020-01-30 19:24] laurentbastien opened #47165 "This feature is not available."
I do not see this feature on the Databricks UI.

Also, I do not see this feature on the Data Factory UI for Databricks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98eb0b83-1816-1010-23cd-fb85c4827063
* Version Independent ID: 59f33c51-5f16-1427-3bae-01fcaa8814e7
* Content: [Customize Containers with Databricks Cont

[2020-01-30 19:31] neka-github opened #47166 "Backend Pool Size of basic Azure Load Balancer"
2 different limits are shown on this page, for basic Azure Load Balancer backend pool size/IP-configuration.

On top of the page, under Backend Pool it is shown as 300 and at the bottom, under load balancer SKU comparison it is shown as 100. Which one is accurate?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0aecd7fa

[2020-01-30 19:45] ggoforth-yournucleus commented on #32248
can you remove the reference to the stand alone MFA license from this document please

[2020-01-30 19:56] ghogen commented on #44499
https://developercommunity.visualstudio.com/content/problem/895743/startdevelopmentstorage-set-to-false-does-not-work.html - link to the issue.

The engineers wanted an example of a project that demonstrates the issue. @duranmg @PhilipSkinner

It worked for me on what I tried so far, but I can try to reproduce this.  There are some other settings that might also be relevant.

[2020-01-30 20:00] asudbring commented on #47166
Per this site, it's 300
https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#load-balancer

I'll get the number changed on the table.

Thanks @neka-github for finding the discrepancy!

[2020-01-30 20:02] TravisCragg-MSFT commented on #46791
@sunilprabha Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-30 20:02] #46791 closed

[2020-01-30 20:06] pballai commented on #47145
https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/error-register-resource-provider

[2020-01-30 20:06] AjayKumar-MSFT commented on #41645
David, Apologies for delay! We would need to understand more details on the issue you're experiencing executing the script. The script helps to enable VNet integration by using PowerShell and also removeVNet ( for cleanup) - function RemoveVnet($subscriptionId, $resourceGroupName, $webAppName). Kindly open a new GitHub issue as it is not related to this thread original ask for visibility or you ca

[2020-01-30 20:15] SquirrelAssassin opened #47167 "Tabs will break the code"
In ISE I wrote this code and pasted it into notepad .... I then copied it to the broswer and ran it ..... NOTICE THE INDENT

    Write-Output "There was an error."

Error message:
A : The term 'A' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the
spelling of the name, or if a path was included, verify that the path is correct and try again.
At C:\Pack

[2020-01-30 20:24] twimmers commented on #46530
@sawdit The SkipOutOfScopeDeletions secret will not be returned until it has been set. If you take a look at the doc, it calls out "Add the lines highlighted in green to the end and update the Workday connection password highlighted in blue." - the lines in green being the SkipOutOfScopeDeletions secret.

[2020-01-30 20:25] cmmdesai commented on #46530
That's right. Thank @twimmers for the clarification.

[2020-01-30 20:29] NavtejSaini-MSFT commented on #47034
@anumjs Please check and confirm the correct links. Once you do that we will raise the PR for the same.

[2020-01-30 20:29] mdddev opened #47168 "Can passwordless be required?"
It would be really useful to know if an administrator can require users to use security keys as a means of logging in. I.e. not mere as an option to login next to other methods like either app based or SMS based login. An example of this is Google's advanced protection program where you cannot login without the use of a key.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2020-01-30 20:32] erikadoyle commented on #29465
Done. Thanks for the suggestion @maulik-modi! #please-close

[2020-01-30 20:32] #29465 closed

[2020-01-30 20:32] mbialecka commented on #46512
@aros1697 You need to upload the file through blob api (e.g. via Storage Explorer). Putting the file directly in the underlying storage directory won't make it a blob for edge storage - the module won't notice it and won't recognize it as a blob. This is because we store some additional metadata in the database which is the ultimate source of truth.

This behavior may change in the future - we cou

[2020-01-30 20:37] ryanspletzer opened #47169 "Is Azure API Management zone redundant within a given region?"
If one provisions an Azure API Management resource (say, a Standard resource), will it withstand the loss of an availability zone within a given region?

Also if one unit is located in only one availability zone, would adding a second unit in a given region help in this regard?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-01-30 20:39] ryanspletzer opened #47170 "Is an Azure Function App resource zone redundant within a given region?"
If one provisions an Azure Function App resource, will it withstand the loss of an availability zone within a given region?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 575492a7-f7e1-0610-3788-bd0d2dfe032e
* Version Independent ID: c126723a-21b8-a044-82be-276ab8868718
* Content: [Azure Functions geo-disaster recovery

[2020-01-30 20:39] wilpatest opened #47171 "Is there a way to automate the on-boarding of a ASC Security Solution?"
Is there a way to automate the on-boarding of a ASC Security Solution? For Example, I would like to leverage Azure Policy to deploy the Qualys Security Solution across all of my subscriptions, with the the appropriate configuration, so that all VMs (existing and new) get teh Qualys Extension.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2020-01-30 20:40] garimpeirodouniverso opened #47172 "Power BI"
Shouldn't Power BI (https://analysis.windows.net/powerbi/api) be included on the list of services that support managed identities?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4832141d-6ca8-4b8e-319c-2f96b3c082d0
* Version Independent ID: 88c94157-70f7-730b-3c7f-c370a9dc5161
* Content: [Azure Services that support ma

[2020-01-30 20:41] NavtejSaini-MSFT commented on #47156
@Linda1515 We have created the Pull Request to fix this. The changes will reflect once it is approved.

[2020-01-30 20:42] mbialecka commented on #47054
@JesvinJoseph Thanks for bringing this to our attention. Unfortunately we missed this setting and it's hardcoded right now in the storage module. It looks like the log will indeed grow indefinitely. We should fix this in the next version.

[2020-01-30 20:46] NavtejSaini-MSFT commented on #47115
@LowerKees We have raised a Pull Request https://github.com/MicrosoftDocs/azure-docs-pr/pull/102848 to fix this and changes will reflect once it is approved.

[2020-01-30 20:46] Minewiskan commented on #47090
#in-progress

[2020-01-30 20:48] Minewiskan commented on #47090
Fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/102836. Should be live 01/30/2020 4:00pm.
#please-close

[2020-01-30 20:48] #47090 closed

[2020-01-30 20:50] #41055 closed

[2020-01-30 20:50] jorgeso commented on #46409
@lobrien it looks like it should work for my case. Thanks for looking into this!

[2020-01-30 20:53] MartinJaffer-MSFT commented on #47049
You do not need to worry about blocks unless you are writing extremely large blobs (gigabyte / terrabyte range) or fine tuning parallel writes to a single blob.
The general idea of writing and joining together is what blocks do for you already (in a single blob).

[2020-01-30 20:58] lobrien commented on #46409
#please-close

[2020-01-30 20:58] #46409 closed

[2020-01-30 20:59] markjbrown commented on #42962
We're pushing an update to our docs which will address this issue. When this docs update gets merged into our docs I'll post an update here

thanks

[2020-01-30 21:02] BryanTrach-MSFT commented on #34922
@kaushik-hemant Are you able to take a look at this and let us know how to change the swagger file to indicate how the fields are related if possible?

[2020-01-30 21:03] SaurabhSharma-MSFT commented on #47143
@mikerodrick I have followed the documentation and I do not see any error.  Also, once the Key Vault is created I am able to see my email added automatically under Access Policy blade.
![image](https://user-images.githubusercontent.com/38112130/73490208-e3715c00-4360-11ea-9a12-04feaeeceb2b.png)

[2020-01-30 21:06] cmullican opened #47173 "Typo"
This phrase -- "that service is not running in an environment you do not fully control" -- should have one of the "not"s removed (either one), and ideally, a "the" added before "service".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28ca1f7f-5a34-0f23-10ce-3ff24c76db97
* Version Independent ID: 5c4a22c4-78fc-911d-9fa

[2020-01-30 21:06] SaurabhSharma-MSFT commented on #47139
@mikerodrick The PR for the fix has been created and it will be merged as soon as author approves the changes. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-01-30 21:06] #47139 closed

[2020-01-30 21:11] DeanBrighton opened #47174 "Too much <Strong> for my liking."
The Strong just does not appear to end. Nothing major.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e63fe71-eb6a-b59e-1a84-20927a59fdf3
* Version Independent ID: cfc082db-5dd8-9726-8331-b3e479211f93
* Content: [User Privacy and Azure Active Directory Pass-through Authentication](https://docs.microsoft.com/en-us/azur

[2020-01-30 21:15] FrankHu-MSFT commented on #47163
@ticianaciminari @martininvillia
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-30 21:15] LXBdev commented on #47020
Thank you, I did not know about this page and did not find it when I looked for it.

[2020-01-30 21:15] #47020 closed

[2020-01-30 21:15] FrankHu-MSFT commented on #47133
@ld0614 Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-30 21:15] FrankHu-MSFT commented on #47121
@hsbsandrecv Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-30 21:15] FrankHu-MSFT commented on #47119
@andyjballgit Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-30 21:20] blair0011 opened #47175 "Trying to configure Prometheus in AKS"
after following the documentation above for applying the configmap I keep getting this error:
"config::error::Exception while parsing config map for prometheus config: \nparse error on value \"prometheus\" (IDENTIFIER), using defaults, please check config map for errors"

I have tried multiple "fixes" but nothing works. Can you add a full working example that enables prometheus on AKS?

---
#### D

[2020-01-30 21:23] samcookies opened #47176 "Azure MFA to secure RD gateway (RemoteAPP)"
I followed this GUIDE..

https://docs.microsoft.com/en-ca/azure/active-directory/authentication/howto-mfa-nps-extension-rdg

And the issue is all my users are able to login without getting prompted for the MFA..

this is the logs I see on the NPS server with Extension..

NPS Extension for Azure MFA: Radius request is missing NAS Identifier and Nas IpAddress attribute.Populating atleast one of thes

[2020-01-30 21:25] langstonj opened #47177 "Is there a reason"
Directing SQL Logging to Log Analytics and Event Hub are documented (screenshots) but to a storage account is not.  Is there something significant to this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c27fe13-a824-84a5-e314-892a27c1dec5
* Version Independent ID: 510b5427-c927-84df-563f-31dfe13fc771
* Content: [Get s

[2020-01-30 21:29] SnehaGunda commented on #46291
@Styrna The above PR will update the doc content to remove preferred regions and set regions using "CurrentRegion" property. The content will be live by EOD today.

We will now close this issue.

#please-close

[2020-01-30 21:29] #46291 closed

[2020-01-30 21:29] NavtejSaini-MSFT commented on #47152
@yegu-ms Please look into the feedback from user and check if we will be able to enhance the document.
@shraboin We are assigning this to our doc author for further review.

[2020-01-30 21:42] NavtejSaini-MSFT commented on #47173
@cmullican We have created a Pull Request to correct this  - https://github.com/MicrosoftDocs/azure-docs-pr/pull/102856
Once approved changes will be available. Thanks for the feedback.

[2020-01-30 21:47] MarileeTurscak-MSFT commented on #47174
@DeanBrighton
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-30 21:49] luigiw opened #47178 "Tracking usage of an image"
Hello, is there a way I can track how many times a image is used to provision VM and requested by who?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d150ace-bd6d-8111-79b5-0ce7cb76a378
* Version Independent ID: 13a828ae-ae92-9ea7-5f37-5a69eeeb87b7
* Content: [Azure Shared Image Gallery - Azure Windows Virtual Machine

[2020-01-30 21:49] NavtejSaini-MSFT commented on #47177
@langstonj The details are there in Step 6. Please elaborate if I am misunderstanding the question:
![image](https://user-images.githubusercontent.com/52257742/73493262-66ee7580-4380-11ea-8ce1-bbccb26a5114.png)

[2020-01-30 21:52] langstonj commented on #47177
Feeling silly here for not seeing that one.

Please accept my apologies…

John C Langston  |   SQL Database Administrator  |  eLynx Technologies, LLC  |  2431 E. 61st, Suite 700  |  Tulsa, OK  74136  |  www.elynxtech.com

From: NavtejSaini-MSFT <notifications@github.com>
Sent: Thursday, January 30, 2020 3:50 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: John Langston <john.la

[2020-01-30 21:52] langstonj commented on #47177
Thanks for help see that one tree in the forest!

[2020-01-30 22:05] MarileeTurscak-MSFT commented on #47174
@DeanBrighton thanks for catching this! It definitely shouldn't look like that. I made a pull request to remove the HTML, which might be causing the corruption. The weird thing is that the document looks normal in preview, but all the text is bold in the published version. https://github.com/MicrosoftDocs/azure-docs-pr/pull/102867

[2020-01-30 22:07] asudbring commented on #47166
Created PR to fix table.

#please-close

[2020-01-30 22:07] #47166 closed

[2020-01-30 22:08] FrankHu-MSFT commented on #47133
@ld0614 thank you for your feedback, I believe that there are already changes to be made to the docs in the pipeline.

cc: @iainfoulds  can you confirm?

[2020-01-30 22:11] MarileeTurscak-MSFT commented on #47174
@billmath do you know why it might be showing up this way?

[2020-01-30 22:12] JimacoMS3 commented on #46125
@uriel-kluk Thanks for your response. So I think what's going on here is that I'm using a .NET console App and you're using UWP. The topic is written for a .NET console app. Here's a list of my packages:

[code]

I agree with you, though. We really should return JSON. I'll make the fix and let you know when it goes live. Thanks for reporting this and taking the time to help answer my questions!

[2020-01-30 22:13] Karishma-Tiwari-MSFT commented on #47093
I have created a PR with the update, changes will be live shortly.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/102869
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-30 22:13] #47093 closed

[2020-01-30 22:13] Karishma-Tiwari-MSFT commented on #46888
@techsaau Is there any update?

[2020-01-30 22:23] Karishma-Tiwari-MSFT commented on #47041
@dfatkulbayanova Can you please provide the details, it will help the author to update the document.

[2020-01-30 22:29] michaelhambe opened #47179 "Default permissions"
Hi,

Can we please get an example of how to set a folders default ACL's?
The following page mentions it is possible:
https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-access-control
But I am not sure I understand how to apply the umask (if that is the correct method)

Thanks
Mike

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-01-30 22:32] GiftA-MSFT commented on #47158
@johnwildes we will review your feedback and get back to you shortly. Thanks.

[2020-01-30 22:33] GiftA-MSFT commented on #47155
@CESARDELATORRE we will review your feedback and get back to you shortly. Thanks.

[2020-01-30 22:36] Mike-Ubezzi-MSFT commented on #47054
@JesvinJoseph If there are no additional questions, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-01-30 22:36] #47054 closed

[2020-01-30 22:39] amandasong opened #47180 "Add & modify text languages for speech translation"
Add/modify text languages section of Language Support for Speech Services [here](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/language-support#text-languages) to match the list in docs for [Translator Text API](https://docs.microsoft.com/en-us/azure/cognitive-services/translator/language-support#translation)

Changes to make:
- Add **Irish**, language code: **ga**
- Ren

[2020-01-30 22:46] arnoldtropo opened #47181 "why is microsoft letting so many of these Azure tutorial sites get so out of date?"
tutorial is out of date

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 679c851f-0cc9-3b99-1d31-88672aebb693
* Version Independent ID: 91ce6957-0bc6-1934-8ac9-f7af096caa95
* Content: [Tutorial: Create a CI/CD pipeline for your existing code by using Azure DevOps Projects](https://docs.microsoft.com/en-us/azure/devops-pr

[2020-01-30 22:49] Adam-Smith-MSFT commented on #47149
Hi @cananac it's not currently possible yet, I'd recommend posting feedback in : https://feedback.azure.com/forums/217298-storage

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-01-30 22:49] #47149 closed

[2020-01-30 22:49] Karishma-Tiwari-MSFT commented on #47058
@ph3ll3r Is there any update?

[2020-01-30 23:04] GiftA-MSFT commented on #47180
@amandasong we will review your feedback and get back you shortly. Thanks.

[2020-01-30 23:05] GiftA-MSFT commented on #47141
@rodionaltshuler we will review your feedback and get back to you shortly. Thanks.

[2020-01-30 23:06] kgremban commented on #46646
I'm reviewing this issue to see if the tutorial needs to be changed. When you create a Machine Learning workspace, it creates a container registry to use for storing ML model images. The first command in the cell that leela-uppuluri pointed out, `container_reg = ws.get_details()["containerRegistry"]` is supposed to pull the registry details from the workspace config information.

I just ran throug

[2020-01-30 23:14] MarileeTurscak-MSFT commented on #47174
I pushed a fix. The changes should go live within 24 hours.

[2020-01-30 23:14] #47174 closed

[2020-01-30 23:20] MarileeTurscak-MSFT commented on #46865
@WoutVergauwen just to clarify, are you asking about ways to authenticate such as password, pin, photo, etc?

If so, you can find that under "sign-in options"

![image](https://user-images.githubusercontent.com/13383753/73499064-e1fd5f00-4373-11ea-98e4-13cb3ac7cbe1.png)

[2020-01-30 23:23] MarileeTurscak-MSFT commented on #46865
I created a work item to add this to the documentation, as I do see how it would be useful to have this here. CC: @iainfoulds

@WoutVergauwen , if that's not what you meant to ask, please let me know and I will re-open this and continue the discussion.

[2020-01-30 23:23] #46865 closed

[2020-01-30 23:25] v-matjac commented on #46825
i have confirmed that the instructions provided here do not - turn on boot diagnostics if they are already off - https://docs.microsoft.com/en-us/powershell/module/az.compute/set-azvmbootdiagnostic?view=azps-3.3.0#examples

[2020-01-30 23:36] michaelhambe opened #47182 "az storage blob: 'directory' is not in the 'az storage blob' command group"
Hi,

The example given for creating a directory within a container fails with this message:
az storage blob: 'directory' is not in the 'az storage blob' command group

I am running within the latest docker image, so everything should be the latest version.
https://hub.docker.com/_/microsoft-azure-cli

Thanks
Mike

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-01-30 23:37] SnehaGunda commented on #42962
The updated doc is live, we will now close this issue.

#please-close

[2020-01-30 23:37] #42962 closed

[2020-01-30 23:45] jacobwbutler opened #47183 "Syntax Error in Bearer Token Example"
Looks like the second double quote should be inside the closing brace?
I'm assuming
var scopes = new[] {$"api://.../access_as_user}";
should be
var scopes = new[] {$"api://.../access_as_user"};

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 906f1086-776e-9abe-b6cc-bf93e84dc238
* Version Independent ID: 50b27c9e-8f8a-34

[2020-01-30 23:47] eugen-nw commented on #47084
One needs to run both commands.  Probably they were run manually and they never made it into the documentation.  If the Key Vault (KV) permissions on the certificates are not set, then the Import-AzKeyVaultCertificate line will fail with some Forbidden error.  If one cannot list & get the Key Vault secrets, the ARM deployment will fail because the certificates cannot be accessed.

[2020-01-30 23:47] galvesribeiro commented on #42962
Can yOu please share the link? Can’t find the update

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Sneha Gunda <notifications@github.com>
Sent: Thursday, January 30, 2020 8:37:55 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Gutemberg Ribeiro <gutemberg@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-do

[2020-01-30 23:48] FrankHu-MSFT commented on #47163
@martininvillia it is not possible because if MFA is enabled, you must have a separate form of authentication to confirm the MFA part of your auth.

That being said, do you have anymore questions within the scope of this issue? Otherwise I will be closing this out eod tomorrow,
Thanks,
- Frank

[2020-01-30 23:48] TravisCragg-MSFT commented on #47154
@thisisbrianstewart There is a [requirement on a VPN Gateway for a dynamic public IP, not Static](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-vpn-faq#can-i-request-a-static-public-ip-address-for-my-vpn-gateway). Standard SKU Public IPs must be static, so they cannot be used for VPN Gateways. I removed VPN Gateways from the list of services that can be used with Standard SKU Publ

[2020-01-30 23:48] #47154 closed

[2020-01-30 23:49] MarileeTurscak-MSFT commented on #47172
@garimpeirodouniverso
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-30 23:50] jmprieur commented on #47183
Thanks for reporting. yes, this is right.

[2020-01-30 23:52] MarileeTurscak-MSFT commented on #47183
I made a PR to correct this. Once approved, changes should go live within 24 hours. https://github.com/MicrosoftDocs/azure-docs-pr/pull/102891

@jmprieur

[2020-01-30 23:52] #47183 closed

[2020-01-31 00:00] TravisCragg-MSFT commented on #47157
@artisticcheese Right now, NSG Flow logs are sent to a storage account, not to Log Analytics. In order for Log Analytics (or any other analytics source) to get the data, you must export the data programmatically. [The process to export to Log Analytics is described in the doc here](https://docs.microsoft.com/en-us/azure/network-watcher/network-watcher-read-nsg-flow-logs#feedback). There is current

[2020-01-31 00:06] Mike-Ubezzi-MSFT commented on #42962
@galvesribeiro It was merged into master about 30 mins ago, and will be visible by you within 24 hours per our docs publishing process, likely by 10am PST Friday morning (Jan 31) at the very latest.

[2020-01-31 00:06] artisticcheese commented on #47157
It is available now looks like. Am I missing something?
https://docs.microsoft.com/en-us/azure/network-watcher/traffic-analytics

[2020-01-31 00:10] ryanspletzer opened #47184 "Is an Azure Automation resource zone redundant within a given Azure region?"
Is an Azure Automation resource zone redundant within a given Azure region? Wasn't able to find this in the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab68016c-9077-a521-2e05-86cdd9a42adc
* Version Independent ID: a31432ac-2b6a-2d4f-2e4f-72c55701b296
* Content: [Azure Automation Overview](https://docs.microso

[2020-01-31 00:10] MarileeTurscak-MSFT commented on #47172
@garimpeirodouniverso I see what you mean. It does support managed identities. It's seems to not be included here because this article is referring specifically to Azure services,

I made a pull request to add a note that Power BI also supports managed identities but will leave it up to @MarkusVi to make the final call. https://github.com/MicrosoftDocs/azure-docs-pr/pull/102895

[2020-01-31 00:10] #47172 closed

[2020-01-31 00:11] femsulu commented on #47132
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-01-31 00:14] Karishma-Tiwari-MSFT commented on #47128
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.
CC: @dlepow

[2020-01-31 00:24] zfchen95 opened #47185 "Why P@ssword123 is not allowed?"
It has lowercase, uppercase, digit and special character (@).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e14cfdc3-89e0-a2cf-39e6-b733e59b4784
* Version Independent ID: 4c30cc9b-fa80-b174-8cdb-c615286cdcc5
* Content: [FAQ about Windows VMs in Azure - Azure Windows Virtual Machines](https://docs.microsoft.com/en-us/a

[2020-01-31 00:27] ph3ll3r commented on #47058
My question is what am I doing incorrectly?

On a physical server with Windows server 2019 enterprise, I created Hyper V multiple vms both Servers and win10 pro client. I installed docker Windows Desktop on one of the win10 pro VM client.
The client virtual machine name is the Hyper-V Manager.  I get an error when I try to start DockerDestopVM and the state remains off.  Any Docker command crashes

[2020-01-31 00:28] femsulu commented on #47140
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-01-31 00:33] Karishma-Tiwari-MSFT commented on #47162
@ticianaciminari You are right, kubectl get nodes command shows all the nodes command to return a list of the cluster nodes. I have updated that information.
I have created a PR with the update, changes will be live shortly.

[2020-01-31 00:34] femsulu commented on #47159
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-01-31 00:38] Mike-Ubezzi-MSFT commented on #47136
@mhomol Thank you for making us aware of the issue you are experiencing. I have assigned this to an engineer to investigate and identify next steps.

[2020-01-31 00:39] YamaguchiKei1 opened #47186 "Daemons/server-side applications"
What does the Enterprise Tenant below refer to?

An Azure AD B2C tenant shares some functionality with Azure AD enterprise tenants.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b05da885-25ac-99ff-890d-97e9c670f1d7
* Version Independent ID: 0673a2a2-e408-8ed4-83c8-1acc461d2c74
* Content: [Application types supported b

[2020-01-31 00:40] FrankHu-MSFT commented on #46962
@chai-ned per the customer lockbox description:

Customer Lockbox is now generally available and currently enabled for remote desktop access to virtual machines.

Therefore the data that is accessible from using a remote desktop will be accessible.

I don't understand what you mean by Azure Dedicated Host. If you mean an Azure Service that has Lockbox enabled, then per the supported scenarios, Azu

[2020-01-31 00:43] Mike-Ubezzi-MSFT commented on #47142
@Haritha-Nuthi Thank you for making us aware of this gap in our documentation. We are evaluating this issue and will provide feedback as to next steps. This issue is being assigned to an engineer and will be updated shortly.

[2020-01-31 00:44] nastassiar commented on #36505
I am having the same issue. Is there any guidance on how to set up the credentials for ACR via ARM?

[2020-01-31 00:53] #47162 closed

[2020-01-31 00:56] femsulu commented on #47167
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-01-31 00:57] JohnGalt1717 opened #47187 "The linux instructions for ubuntu/deb do not get you v3"
The instructions don't get you the right version for v3.  The docs need to be updated to reflect how to properly install v3 on linux.
(following these directions you get an out of date version of v2)

In the mean time, can someone post how to install v3 on linux without manually installing from the zip file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-01-31 00:57] bwren commented on #47006
@yossi-y Can you clarify which workspaces this would apply to?  Should be a pretty minor doc update to clarify?

[2020-01-31 00:59] Mike-Ubezzi-MSFT commented on #47148
@jyori Thank you for your interest in Azure. If there is a documentation related issue you are wanting to raise, or a question you would like to ask, please ensure you create a GitHub Issue from the specific document related to the service or topic you are seeking information.

![ContentFeedback - Copy](https://user-images.githubusercontent.com/37126106/73503695-d5800300-4381-11ea-96e4-3990025ff44

[2020-01-31 00:59] #47148 closed

[2020-01-31 01:01] Mike-Ubezzi-MSFT commented on #47150
@jyori Thank you for your interest in Azure. If there is a documentation related issue you are wanting to raise, or a question you would like to ask, please ensure you create a GitHub Issue from the specific document related to the service or topic you are seeking information.

![ContentFeedback - Copy](https://user-images.githubusercontent.com/37126106/73503776-0ceeaf80-4382-11ea-8a52-64eafa1f49d

[2020-01-31 01:01] #47150 closed

[2020-01-31 01:03] bwren commented on #46720
@OffColour Azure Monitor for VMs too.  All those options are part of the consolidation we're working on.

[2020-01-31 01:05] Mike-Ubezzi-MSFT commented on #47151
@dastewa Thank you for you interest in Azure. I have assigned this to an engineer and will update you when we have information to share.

[2020-01-31 01:10] Karishma-Tiwari-MSFT commented on #47145
@pballai Can you please share the doc that you are following to deploy the VM. The doc that you shared above has error codes but not the process you followed to deploy the VM.

[2020-01-31 01:13] Karishma-Tiwari-MSFT commented on #47185
These passwords are not allowed because they are very common and easy to hack. Therefore for security purposes, we recommend to use a stronger password.

[2020-01-31 01:13] Mike-Ubezzi-MSFT commented on #47153
@martininvillia Thank you for your interest in Azure. I want to make sure your question is correctly categorized, so I have added the following document to this issue: [Authorize access to Azure Active Directory web applications using the OAuth 2.0 code grant flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-protocols-oauth-code)

If there is a specific document you were fol

[2020-01-31 01:13] Karishma-Tiwari-MSFT commented on #47185
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-31 01:13] #47185 closed

[2020-01-31 01:20] femsulu commented on #47175
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-01-31 01:33] Mike-Ubezzi-MSFT commented on #47171
@wilpatest Thank you for your interest in Azure. We are currently investigating your inquiry but, in looking at this...Azure Policy will ensure specific deployment actions are restricted to a desired policy, and Azure Security Center has a manual deployment capability for the Qualys extension. YOu could create a VM image that is configured with the extension and any VM that is deployed should have

[2020-01-31 01:39] Mike-Ubezzi-MSFT commented on #47171
@wilpatest Additionaly, I edited this issue for clarity as well as added a document reference to help categorize the issue. If there is a specific document you are asking this question in reference to, can you please provide a link. It helps us improve the documentation.
@DCtheGeek and @memildin for assistance and awareness.

[2020-01-31 01:43] Mike-Ubezzi-MSFT commented on #47176
@samcookies Thank you for bringing this to our attention. I have assigned this issue to an engineer familiar with this service and will update you when they have more information to share.

[2020-01-31 02:22] AshokPeddakotla-MSFT commented on #47146
@connor-ww Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-31 02:48] nabhishek commented on #47037
@sanjkuma Can we improve the recommendations?

[2020-01-31 02:56] GiftA-MSFT commented on #46887
@QiMata thanks for your feedback. Document should reflect changes soon once approved. Thanks.

var result = endpoint.DetectImage(project.Id, publishedModelName, File.OpenRead(imageFile));

**is updated to:**

var result = endpoint.DetectImage(project.Id, publishedModelName, stream);

[2020-01-31 02:56] #46887 closed

[2020-01-31 03:01] MatthewSteeples opened #47189 "CDN Pricing information incorrect"
Related: https://github.com/MicrosoftDocs/azure-docs/issues/44043

https://azure.microsoft.com/en-gb/updates/data-transfer-from-azure-origins-to-azure-cdn-from-microsoft-is-now-free-of-charge/ - The section on pricing needs updating to reflect changes made in October 2019

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-01-31 03:04] amanmcse commented on #47164
@sandeep8530  Thank you for your feedback. We will investigate and update the thread further.

[2020-01-31 03:07] p2vyou commented on #44482
just ran into this issue with trying to do direct federation with a G suite tenant with multiple domains. it seems I can only associate a single domain with the IdP

[2020-01-31 03:07] amanmcse commented on #47165
@laurentbastien  Thank you for your feedback. We will investigate and update the thread further.

[2020-01-31 03:09] amanmcse commented on #47168
@mdddev  Thank you for your feedback. We will investigate and update the thread further.

[2020-01-31 03:11] amanmcse commented on #47169
@ryanspletzer  Thank you for reaching out. We will investigate and update the thread further.

[2020-01-31 03:13] amanmcse commented on #47170
@ryanspletzer  Thank you for reaching out. We will investigate and update the thread further.

[2020-01-31 03:14] neeleshray-msft commented on #47186
@YamaguchiKei1 Thank you for your feedback . We will investigate and update the thread further.

[2020-01-31 03:15] amanmcse commented on #47182
@michaelhambe  Thank you for your feedback. We will investigate and update the thread further.

[2020-01-31 03:16] amanmcse commented on #47179
@michaelhambe  Thank you for reaching out. We will investigate and update the thread further.

[2020-01-31 03:18] amanmcse commented on #47178
@luigiw  Thank you for reaching out. We will investigate and update the thread further.

[2020-01-31 03:20] amanmcse commented on #47184
@ryanspletzer  Thank you for your feedback. We will investigate and update the thread further.

[2020-01-31 03:23] amanmcse commented on #47189
@MatthewSteeples  Thank you for your feedback. We will investigate and update the thread further.

[2020-01-31 03:23] navidatk commented on #8902
One of the solutions is:

1- Get list of user tables from Managed Instance databases
2- Create user tables in the target database  on-premises database (only copy the table structure, no indexes, no triggers, no fKs , etc)
3- Copy data from source to destination by import/export

[2020-01-31 03:25] amanmcse commented on #47187
@JohnGalt1717 Thank you for reaching out. We will investigate and update the thread further.

[2020-01-31 03:26] amanmcse commented on #47181
@ Thank you for your feedback. We will investigate and update the thread further.

[2020-01-31 03:29] duckblaster opened #47190 "Typo?"
This doesn't seem right:
`If Server Manager doesn't open by default, search for it in File Explorer`
I think you mean:
`If Server Manager doesn't open by default, search for it in the Start Menu`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d79b73cd-ddef-ab70-ffa2-840eaaec6372
* Version Independent ID: 5098ffb1-bbbf-

[2020-01-31 03:44] BryanTrach-MSFT commented on #46881
@wmekal-pgs Just to verify, your feedback is regarding the storage documentation and not the web apps document that you linked your feedback to. Is that correct?

linked web app doc: https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity?context=azure%2Factive-directory%2Fmanaged-identities-azure-resources%2Fcontext%2Fmsi-context&tabs=dotnet#obtaining-tokens-for-azure-resourc

[2020-01-31 03:54] shawndewet opened #47191 ".Net Core 3+ Instruction inaccurate"
Step 4 of the "Add Azure SignalR to the web app" section says: "For ASP.NET Core 3+, there is no change needed for ConfigureServices method."
So I leave my ConfigureServices method as per the scaffolded mvc template, like so:
`public void ConfigureServices(IServiceCollection services)
        {
            services.AddControllersWithViews();
        }`

Yet, upon the first running of the app after

[2020-01-31 04:34] neeleshray-msft commented on #46999
We will be closing this thread. Let us know if you need further help.

[2020-01-31 04:34] #46999 closed

[2020-01-31 04:36] neeleshray-msft commented on #46995
@billmath Could you please check on the update if required ?

[2020-01-31 04:38] amanmcse commented on #47065
@Schenz I would suggest you to get a token with audience https://graph.windows.net and use https://graph.windows.net/{tenant}.onmicrosoft.com/users?api-version=1.6 to make the POST call as this is tested and documented with Azure AD Graph and not Microsoft Graph.

[2020-01-31 04:43] AshokPeddakotla-MSFT commented on #47040
@nanowireUK The doc has been updated with the suggested changes. Please have a look and let us know if any further details missing.
Thanks of updating the doc @kgremban.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-31 04:43] #47040 closed

[2020-01-31 04:44] SumanthMarigowda-MSFT commented on #47190
@duckblaster Thanks for your question. We are checking on this and will respond to you soon.

[2020-01-31 04:46] amanmcse commented on #46631
@shankurmahajan I am proceeding with closure of this thread now. Feel free to tag me in your reply if you have any further questions.

[2020-01-31 04:46] #46631 closed

[2020-01-31 04:50] SnehaAgrawal-MSFT commented on #46949
@vinu11 Thanks for asking question! We are working on scoping 4.8 – but no date at this point.
Azure app service supports up to .NET framework 4.7.2.
For more details, please refer to the [document.](https://techcommunity.microsoft.com/t5/azure-app-service/how-to-determine-the-installed-net-version-in-azure-app-services/ba-p/392342)

[2020-01-31 04:53] amanmcse commented on #47021
@dinesh71 I am looking into it and will update the thread once I have the confirmation on this.

[2020-01-31 04:54] AshokPeddakotla-MSFT commented on #46983
@freeknortier Please check the [Troubleshooting Guide](https://github.com/Azure/azure-iot-sdk-node/wiki/Troubleshooting-Guide-Devices) and [Detect and troubleshoot disconnects with Azure IoT Hub](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-troubleshoot-connectivity) see if it helps to identify the root cause.

[2020-01-31 05:12] ananthradhakrishnan commented on #47132
Looping in @nolavime who is the new PM owner.

[2020-01-31 05:14] PramodValavala-MSFT commented on #47142
@ecfan @divyaswarnkar Could you share insights on this one?

[2020-01-31 05:16] shunkino opened #47192 "About the Prerequisites section"
Hi,

I understand that prerequisites section is only applicable for the scenario used in the tutorial, and doesn't always mean that it is mandatory for other use cases.

But some users, especially when they are new to the platform, it's easy to misunderstand that prerequisites are mandatory for all scenarios.

For example on this page,
* A custom domain with a DNS Zone in **the same resource group

[2020-01-31 05:17] BhargaviAnnadevara-MSFT commented on #46909
Absolutely yes. Do take a look at [this](https://docs.microsoft.com/en-us/azure/azure-monitor/app/app-insights-overview) document if you want to know more about the capabilities of Application Insights.

On a side note, I'd like to let you know that this channel is only for driving improvements related to the Azure documentation. The best place for specific answers about implementations are going

[2020-01-31 05:17] #46909 closed

[2020-01-31 05:36] #47138 closed

[2020-01-31 05:37] BhargaviAnnadevara-MSFT commented on #47138
@rbonini I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs soon.

Also, please know that we welcome public contributions to the Azure Docs documentation from the community! Please feel free to submit a PR as you see fit the next time you stumble upon a bug or an enhancement. :)

[2020-01-31 05:37] karimabuzaid commented on #47064
@Grace-MacJones-MSFT, the fact that if you're not on the `Certificates` tab `Apple Worldwide Developer Relations Certification Authority` is not the selected one you'll get an error.

[2020-01-31 05:58] AshokPeddakotla-MSFT commented on #46990
@Gamecock You can get the DPS connection string from the portal.

Please follow below steps to get the connection strings.

-> Sign in to the Azure portal, select All resources, and then your Device Provisioning Service.

-> Select Shared access policies, then choose the access policy you want to use to open its properties. In Access Policy, copy and save the primary key connection string.

![imag

[2020-01-31 05:58] #46990 closed

[2020-01-31 06:03] MohitVerma-MSFT commented on #47192
Hello @shunkino ,

Thanks for reaching out and the feedback.

Most of the scenario, prerequisite content is specifically for the scenario which is mentioned in the doc and it covers the best practices around design.

But I have assigned content-author for the further review.

[2020-01-31 06:16] MohitVerma-MSFT commented on #46982
Hello @ticianaciminari ,
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue. Thanks for bringing this to our attention. We will now close
 this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the disc

[2020-01-31 06:16] #46982 closed

[2020-01-31 06:23] viswanadham-k commented on #44395
Hi @Karishma-Tiwari-MSFT
Please wait for sometime Microsoft planning to publish the latest version of "WVD-Scaling-AzureLogicApp" general available soon.

I have given the fix for all versions of scaling scripts.

Thanks,

[2020-01-31 06:30] girishnadiger-gep commented on #46971
client = CustomSearchClient(CognitiveServicesCredentials(subscription_key))

Here CustomSearchClient in v0.3.0 asks for endpoint too, which is not updated in the documentation.

[2020-01-31 06:36] koratshail commented on #46601
@AshokPeddakotla-MSFT, @MohitVerma-MSFT , @ PtwHub

Please let me know if really there is some information is available about IoT edge for Gateway as Identity translation.
I am still waiting for reply...

[2020-01-31 06:36] VikasPullagura-MSFT commented on #47084
@eugen-nw Thanks for the details. I have assigned the issue to content author for updating the document as applicable.

[2020-01-31 06:37] VikasPullagura-MSFT commented on #47084
@athinanthny Can you please look into this and update the document as appropriate.

[2020-01-31 06:40] VikasPullagura-MSFT commented on #46277
@BenjaminHerbert We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-01-31 06:40] #46277 closed

[2020-01-31 06:54] jonmikeli commented on #46744
Hi @zhouwangzw,

Thank you for your messages and your tests.
My request:
[code]

The SAS contains the write permission to the blob (double checked).

If I replace "TranscriptionDestinationBlobSASUrl" by "TranscriptionResultsContainerUrl" I get this:
Request:
[code]
Response:
`{"code":"InvalidPayload","message":"The property transcription.TranscriptionResultsContainerUrl is missing required query p

[2020-01-31 07:07] techsaau commented on #46888
This document is about egress traffic only. I want to block Ingress as well.

[2020-01-31 07:16] wmekal-pgs commented on #46881
@BryanTrach-MSFT Thank you for response. I meant this paragraph https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity?context=azure%2Factive-directory%2Fmanaged-identities-azure-resources%2Fcontext%2Fmsi-context&tabs=dotnet#asal.

I was confused, because the paragraph presents `Microsoft.Azure.Services.AppAuthentication` nuget package, while for accessing blobs recommended l

[2020-01-31 07:16] #46881 closed

[2020-01-31 07:29] pvrk commented on #44495
Apologies for the delay here. We have fixed the issue and the cmdlet should be working in the version planned to be released on Feb 18th, 2020.

[2020-01-31 07:38] DashleenBhandari-MSFT commented on #46839
@bhatir , We will need Exception stack trace to troubleshoot further.
Does it work after removing .htaccess? .htaccess is similar to web.config for IIS.
Can you share the docker logs?

[2020-01-31 07:42] maverick126 commented on #46671
Hi,

The image supplied is for reservation utilisation of the existing reserved
object.  I am looking for databricks recommendations for how much DBCU
reservation we need for our existing databricks.  Like VM reservation where
it provides you recommended quantity.

Cheers
Chito

On Wed, Jan 29, 2020 at 10:02 AM PRMerger6 <notifications@github.com> wrote:

[2020-01-31 07:44] danone1985 opened #47193 "AllowAddGuests wrong"
in the chapter "Configure Guest Policy For Groups at Directory Level ", there should be "AllowToAddGuests" instead of AllowAddGuests.
Field: $Setting["AllowAddGuests"] = $False

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cd7a703-534a-5fbd-6470-5d29bf512fd2
* Version Independent ID: 4f70ed16-6a1c-c0be-3c5e-d56e1b7c7

[2020-01-31 07:47] HMatsumura commented on #47110
@shashishailaj Thank you for your confirming. It seems to not roll out this fix for the similary issue (https://github.com/MicrosoftDocs/azure-docs/issues/42851) in spite of the status of resolved. I hope the fix for the issue will roll out, also the case of  Azure CLI.

[2020-01-31 07:54] CHEEKATLAPRADEEP-MSFT commented on #47165
@laurentbastien **Note:** Azure Databricks workspace must have Databricks Containers Services enabled.

![image](https://user-images.githubusercontent.com/44426401/73521674-9eb2f700-442c-11ea-8d6e-282df1803cb0.png)

Once Containers Services is enabled, you will see the option "Use your own Docker container".

![image](https://user-images.githubusercontent.com/44426401/73521825-00736100-442d-11ea-9

[2020-01-31 07:56] souravmishra-msft commented on #47010
@TerryLanfear, Can you look into this and update the doc accordingly.

[2020-01-31 08:04] souravmishra-msft commented on #47012
@FoundryFounder, Can you share which code repo are you referring to that has the wrong entry?
Is that the one https://github.com/Azure-Samples/AAD-Security, which is mentioned under the section "https://docs.microsoft.com/en-us/azure/security/develop/secure-aad-app?source=docs#implement-azure-active-directory-oidc"
Do update us so that we can get that fixed.

[2020-01-31 08:13] JasSuri commented on #47186
Refers to Azure AD (AAD), which you obtain when getting a subscription to Office 365. AAD B2C does not support any subscriptions, but it builds upon AAD. So it does share some of AADs free features, such as groups and smart lockout.

[2020-01-31 08:20] sjthompsonengl opened #47194 "Single logout throws an exception"
Making a request to the single logout URL always throws an exception (80131500) with the message:
"A logout request has been made by a service provider that is not a session participant. Check that SAML session participation has been configured correctly in your policy."

I can't see any documentation about session participation, I already have the Session Management Provider configured.

---
####

[2020-01-31 08:25] zhouwangzw commented on #46744
It seems that you were using an account SAS, instead of a service SAS. Could you please try to [create a service SAS](https://docs.microsoft.com/en-us/rest/api/storageservices/create-service-sas) with write permission to the container where the results should be stored? We will update the documentation to make it clear that a service SAS is expected.

Using V2.0 API is correct. Below is the test I

[2020-01-31 08:46] jakaruna-MSFT commented on #45872
@marc-gmail-towersap
I will close this out for now. If you need additional help please let me know and we can reopen and continue or open a new issue

[2020-01-31 08:46] #45872 closed

[2020-01-31 08:47] jakaruna-MSFT commented on #46264
@wangjun-jwa @savyasachisamal  Can you add your comments?

[2020-01-31 08:48] jakaruna-MSFT commented on #46595
@jluk Thank you.
@ondrejhlavacek please add your comments

[2020-01-31 08:49] nnamedieh opened #47196 "Virtual Machine Limit per subscription"
Hi, I can't find the limit of max virtual machines per subscription in ARM, but only for the classic deployment model, availability set and scale set. So what is the limit? Thanks a lot! Kind regards, Daniel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36f49a06-90b1-cbe1-3853-2c38277b79f8
* Version Independent ID: 02

[2020-01-31 08:53] souravmishra-msft commented on #47030
@AlexanderTodorovic, Can you let me know what AAD role is assigned to this user who is trying to check the options under the quick steps section of per-user MFA page?

[2020-01-31 08:57] AshokPeddakotla-MSFT commented on #46601
@koratshail @PtwHub @justinatomatic
The product team has this on their to-do list. There's already an request for it in the IoT Edge feedback forum: https://feedback.azure.com/forums/907045-azure-iot-edge/suggestions/32497981-code-sample-for-identity-translation-pattern. You can help to prioritize this content by adding your votes.

For more details, please refer: https://github.com/MicrosoftDocs/

[2020-01-31 08:59] KrishnaG-MSFT commented on #47161
@jeevansd Thanks for the quick response. 👍

[2020-01-31 09:00] souravmishra-msft commented on #47032
@AlexanderTodorovic, You can try the following script: https://gallery.technet.microsoft.com/scriptcenter/Enable-Azure-MFA-Powershell-f2591bca

Do let me know if this helped or not.

[2020-01-31 09:01] #47012 closed

[2020-01-31 09:02] DixitArora-MSFT commented on #47123
@deep-mm For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-31 09:02] #47123 closed

[2020-01-31 09:02] DixitArora-MSFT commented on #47096
@pwild For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-31 09:02] #47096 closed

[2020-01-31 09:08] hubert-associates commented on #46601
Yes, the samples you provide help a lot for starters. Hadn't seen those yet.

[2020-01-31 09:15] AlexanderViken commented on #39508
Is there an example somewhere that shows what role assignments is done?

[2020-01-31 09:24] kirubha-webex opened #47197 "Microsoft Authenticator App Glitch"
I created a user account in office365 developer tenant [kirubhakaran@241093.onmicrosoft.com] and set up Microsoft Authenticator app and logged in. I accidentally uninstalled the Authenticator app and now couldn't log-in my developer tenant user account now as it is asking code from app every time.

I tried to add that user account in Microsoft Authenticator after re-installing, but it is asking fo

[2020-01-31 09:29] PaulSells commented on #46945
@SaurabhSharma-MSFT
I worked through the issue yesterday with Azure Support, it looks like the feature to "Enable the built-in vulnerability assessment solution (powered by Qualys)" is currently not available for the VM's in the subscription, the recommendation is currently listed under Unavailable assessments for the VM's in the Subscription in question.

 I assume this feature is not available i

[2020-01-31 09:31] knssub commented on #40081
I do understand, at the least, the documentation can be made clear starting where the PAL can be applied (such as Subscription, resource group, and resource instance). This is not even mentioned in this article. We are confused, what happens when the cmd is run and where exactly it is applied and how.
Why not use the article below, mainly the first paragraph and relevant webinars for better inform

[2020-01-31 09:47] dazinator opened #47198 "App Service for Windows Containers /appsvc_availabilitycheck.txt"
I'm not sure where the docs are for App Service for Windows Containers (in preview) so I am adding this here.
I have noticed that whilst my .net core application is running as a windows container, it very often recieves HTTP GET requests for the path: /appsvc_availabilitycheck.txt
Please can this mechanism be documented - i.e what's it doing, how to control it (turn it on or off) etc.

---
#### Do

[2020-01-31 09:51] jakaruna-MSFT commented on #46893
Thanks for the info.

Lets do couple of checks.

Use this command `kubectl  describe service/kubernetes-dashboard -n kube-system`
Sample output is shown below

[code]
In that output look at the endpoints field.  It should have an ip and port.   If that's empty then the pod responsible for the dashboard is not running.

If that's fine,  Then cluster is working fine.   Lets move to the kuvbectl.

`k

[2020-01-31 09:56] AshokPeddakotla-MSFT commented on #47009
Adding @rbrundritt for further insights. Ricky, please help answer this question.

[2020-01-31 09:58] mindra opened #47199 "Undefined parameter reference"
Does "Reference secrets with dynamic ID" sample really works, because am getting "Undefined parameter reference" error on:

`"properties": {
                "administratorLogin": "[parameters('adminLogin')]",
                "administratorLoginPassword": "[parameters('adminPassword')]"
              }`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-01-31 10:00] SubhashVasarapu-MSFT commented on #46938
Application Gateway Probe is bound to HTTP Settings. So probe to the Backend pool will look something like this (http/https://hostname:HTTPSettingsport/Path).
Generally, Path here refers to Relative path of the probe. The valid path starts from '/'.
You can also provide custom probe here where you need to mention complete URL path that is invoked by the application gateway to determine the health

[2020-01-31 10:03] VikasPullagura-MSFT commented on #47088
@michaelschmit The NSG rules will be opened based on ports on services with type Load Balancer.
Do you see any services or ingress deployed for Grafana and Kiali.

[2020-01-31 10:03] wendlandreas commented on #43257
I think I found a solution

1. Add a new rule
2. Condition: URL file extension
  a. Operator: Less than
  b. Extension: 1
  c. Case transform: No transform
3. Action: URL rewrite
  a. Source pattern: /
  b. Destination: /index.html
  c. Preserve unmatched path: No
4. Save rule

See screenshot below
![Annotation 2020-01-31 095537](https://user-images.githubusercontent.com/16876435/73530683-da3fc800

[2020-01-31 10:18] moussaillon20 opened #47200 "Please mention that resource-group must be set when creating storage class"
I try to create a storage class in order to use Azure file for my AKS cluster. I follow this documentation but a got an error like

with StatusCode 409. So I google a little bit and I found that I need to precise the resource-group in the declarative creation of the storage class.

So please add it to the declarative creation you put in the documentation.

---
#### Document Details

⚠ *Do not edit

[2020-01-31 10:41] RTodorov opened #47201 "Terraform doesn't support attach ACR"
Looks like the terraform module doesn't support the attach acr function on AKS clusters. Will it be supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed59d472-ac33-5c03-dbb7-0e86e88c7dd8
* Version Independent ID: 69e1ad8c-2dd3-cc1b-2b31-996a5d866cc0
* Content: [Integrate Azure Container Registry with Azure Kube

[2020-01-31 10:58] SwathiDhanwada-MSFT commented on #47199
Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-01-31 11:05] RohitMungi-MSFT commented on #47004
@a-mart33 We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-01-31 11:05] #47004 closed

[2020-01-31 11:13] Vikasjx opened #47202 "How about a Video"
I want to create a video for this article. Please suggest if that is permitted and if that video link can be published in this article?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11cda2e8-81c4-ab6a-371e-73506948488f
* Version Independent ID: f18c9bf9-a0e7-ea07-144b-c2c7cedc8b6b
* Content: [Classic subscription admi

[2020-01-31 11:13] crow-ua commented on #47051
Did some investigation on `ChangeFeedProcessor`, found out that feed polling is customizable and is defaulted to 5 seconds, and also there is possibility to start from the beginning of the feed.
This raises another question - how long changes are persisted in feed? Do we really need Event Hub to store changed documents if we want to access arbitrary change from the past within some defined window

[2020-01-31 11:29] hulvei3 opened #47203 "Remove Powershell code in azure cli example"
In the azure cli example of importing, you use "ConvertTo-SecureString" which is a powershell command and will obviously fail if you run it in any normal shell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65a16702-87ad-4801-5171-f5e629661cb4
* Version Independent ID: bdd076dd-9b65-4054-b7f8-16e12e6a6f99
* Content: [

[2020-01-31 11:37] WoutVergauwen commented on #46865
It's not, I'm referring to the authentication methods that are supported to execute a self-service password reset from the Windows 10 logon screen. As far as I'm aware, the methods supported from the logon screen are more limited than the methods that are available from the web interface (I believe it doesn't support the Authenticator app). That's what I'm trying to get clarification on.
This blog

[2020-01-31 11:40] AshokPeddakotla-MSFT commented on #47146
@connor-ww Looks like you are trying these commands with preview application. This tool is only compatible with non-preview IoT Central applications.

When you use the command with legacy applications.

![image](https://user-images.githubusercontent.com/44426435/73536700-8521a780-444c-11ea-9e78-c5f1a5d4b27e.png)

Note that, you can access the same functionality for both preview and non-preview app

[2020-01-31 11:56] TynThordin commented on #47130
We have 3 applications with same issue. SQLite not working with Azure File Shares (even when disabling WAL). Only with Blob Storage containers. Please DO NOT DISABLE Write operations to blob storage, until this is fixed.

[2020-01-31 11:58] jakaruna-MSFT commented on #47201
@RTodorov Please take a look at this github issue where the feature is requested.
https://github.com/terraform-providers/terraform-provider-azurerm/issues/4636

That issue also has a comment which suggests a workaround(created a role assignment) for this issue.

It will be better to create a feature request in terraform repo.

[2020-01-31 12:00] gavinwoolley commented on #37127
Hi, i would like to share my findings. I have managed to make this work successfully using Terraform, Azure and SQL 2017 with Server 2019 image.
This is the link to the Terraform module for configuring SQL https://github.com/gavinwoolley/TerraformWindowsVmInfrastructure/blob/master/Azure/modules/sql-vm/4-configure-sql.tf

You can see what the entire solution does here : https://github.com/gavinwoo

[2020-01-31 12:00] jakaruna-MSFT commented on #47201
Also refer to the developers comment on that issue https://github.com/terraform-providers/terraform-provider-azurerm/issues/4636#issuecomment-554766590

[2020-01-31 12:23] bertrandpons commented on #47036
@msrini-MSFT well actually it does not seem to work at all when it is in Detection mode... Would you have an explanation?

[2020-01-31 12:33] jakaruna-MSFT commented on #47200
@moussaillon20 Thanks for the feedback.

By default, If we provide the storage account name, Then that should reside in the same resource group of the cluster.

If its empty, a new storage account will be created.

Can you provide the example which you tried?

Where you used the resource group parameter?

I can update the doc

[2020-01-31 12:34] jakaruna-MSFT commented on #47178
I think thats not possible.

@axayjo please add your inputs

[2020-01-31 12:38] amanmcse commented on #47191
@shawndewet  Thank you for reaching out. We will investigate and update the thread further.

[2020-01-31 12:40] amanmcse commented on #47193
@danone1985  Thank you for your feedback . We will investigate and update the thread further.

[2020-01-31 12:44] msrini-MSFT commented on #47036
You should see logs when your WAF is in Detection mode as well

[2020-01-31 13:16] AlexanderTodorovic commented on #47030
@souravmishra-msft The role is Owner. After I've added a second user also in role Owner Enable is shown. The only difference is the source. First user was source was _Microsoft Account_ and for the second user _Azure Active Directory_. So only after the second user was added MFA can be anbled for both users. Would be great if you can add this to the documentation. see also screenshots. Thank you!

[2020-01-31 13:16] #47030 closed

[2020-01-31 13:18] AlexanderTodorovic commented on #47032
@souravmishra-msft Unfortunately the script runs into the same error.

[2020-01-31 13:20] IEvangelist commented on #47180
This effort is being tracked privately and will be addressed when #MicrosoftDocs/azure-docs-pr#102933 is merged.

[2020-01-31 13:21] fallmake commented on #44047
Thanks @Glenlake - same situation and same question here.

Is the sentence "You cannot set routes on the traffic coming from your app into your VNet" in the docs no longer applicable or meant to describe some different aspect?

[2020-01-31 13:23] dotnetgator commented on #46846
@amanmcse Why is this closed? @JasSuri has provided the content that is missing from the documentation, but as of now, I do not see an update to https://docs.microsoft.com/en-us/azure/active-directory-b2c/claimsschema that captures the missing information that he has provided.

[2020-01-31 13:28] #47180 closed

[2020-01-31 13:29] digipato opened #47204 "Error code for "Read printed and handwritten text""
Hi, in "Read printed and handwritten text" section, source code is wrong; infact there isn't any recognizePrintedTextInStream method in the source code!!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8815595-4c76-7c52-2d2c-dcbdd635bcea
* Version Independent ID: 723dfef2-1e9f-478d-1fa4-06254c8d41fc
* Content: [Quicks

[2020-01-31 13:32] amanmcse commented on #46846
@dotnetgator I have reopened the thread and assigned to author.

[2020-01-31 13:46] DCtheGeek commented on #47171
I'm not familiar with the Qualys Extension specifically. If it can be deployed via a Resource Manager template, such as in [this example](https://github.com/Azure/azure-quickstart-templates/blob/master/anti-malware-extension-windows-vm/azuredeploy.json#L261), a [deployIfNotExists](https://docs.microsoft.com/azure/governance/policy/concepts/effects#deployifnotexists) policy definition should work.

[2020-01-31 13:47] DCtheGeek commented on #47171
Of course, as soon as I hit 'Comment' I found the sample I was really looking for. This is a deployIfNotExist and deploys a specific extension, but should be adaptable to the extension you want: https://github.com/Azure/azure-policy/blob/master/built-in-policies/policyDefinitions/Monitoring/DependencyAgentExtension_Windows_VM_Deploy.json

[2020-01-31 14:00] reallydontask commented on #36505
This is what we ended up using on our arm template

[code]

where $(acrName) is a para

[2020-01-31 14:02] DavidRayner opened #47205 "Academic-Knowledge Evaluate API endpoint timeout parameter does not work"
Hello,

The [Academic Knowledge](https://www.microsoft.com/en-us/research/project/academic-knowledge/) API has an `evaluate` endpoint documented here: https://docs.microsoft.com/en-us/azure/cognitive-services/academic-knowledge/evaluatemethod

When I try to pull data down using the API, after a few minutes I get an error stating:
[code]

1. The `timeout` parameter is not mentioned in the documenta

[2020-01-31 14:04] NavtejSaini-MSFT commented on #46936
@thomshib Please get back to us for any further questions or we will go ahead and close this thread by EOD.

[2020-01-31 14:05] #47173 closed

[2020-01-31 14:07] #47156 closed

[2020-01-31 14:08] #47115 closed

[2020-01-31 14:11] pballai commented on #47145
Here is a video of the process and some comments.

https://www.dropbox.com/s/11dvzfcnzq64jw9/Azure Issues Creating VM.mp4?dl=0

[2020-01-31 14:20] jeremytbrun commented on #43301
Well, I finally reached a "resolution" of sorts with Microsoft on this. Here is the low-down.

For customers with a GCC-Mid L2 Azure Active Directory tenant (GCC tenant on Azure Public infrastructure for use with Office 365 GCC-Mid - accessed via https://portal.azure.com/), it is not supported to register an on-premise data gateway with an account in that tenant and then use it with Logic Apps in

[2020-01-31 14:23] jeremytbrun commented on #44993
Please see my latest update to #43301 that provides the latest resolution after working with Microsoft.

https://github.com/MicrosoftDocs/azure-docs/issues/43301#issuecomment-580752248

[2020-01-31 14:32] NavtejSaini-MSFT commented on #47087
@Ayanmullick There is no ETA for this as of now. Please create the feedback on https://feedback.azure.com/forums/915676-sql-managed-instance for this functionality and Team has direct visibility to it and they can look into it and provide their feedback.

[2020-01-31 14:35] NavtejSaini-MSFT commented on #47177
@langstonj No Problem. This happens to all of us at some time. We are happy we could help. Closing this thread.

[2020-01-31 14:35] #47177 closed

[2020-01-31 14:41] mikerodrick commented on #47143
It seems that it depends on where you run the command to create the new Key Vault. The documentation states:

"If you are running PowerShell locally, you also need to run Login-AzAccount to create a connection with Azure."

This implies that if you are running Cloud Shell from the Portal, you do not need to run Login-AzAccount. However, if you try to create a Key Vault from Cloud Shell using

New-

[2020-01-31 14:46] DixitArora-MSFT commented on #46937
@MoimHossain This limit is at the subscription level. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion.

[2020-01-31 14:46] #46937 closed

[2020-01-31 14:52] SnehaAgrawal-MSFT commented on #46960
@cat-mucius Since We didn’t hear back from you. We will now close this out but if you feel you need more information please just let us know.

[2020-01-31 14:52] #46960 closed

[2020-01-31 14:53] SnehaAgrawal-MSFT commented on #46949
@vinu11 We will now close this out but if you feel you need more information please just let us know.

[2020-01-31 14:53] #46949 closed

[2020-01-31 15:10] Ayanmullick commented on #47087
@NavtejSaini-MSFT , Thanks for clarifying. Is the Az.SQL PowerShell module on Github? I could move this issue as an enhancement suggestion to that repository.

[2020-01-31 15:14] crow-ua commented on #47051
Ran load test with dozens of clients that generated ~20k documents. 30% of requests that exceeded RU limit have failed, but consumer Functions did not drop anything. Although even 10 minutes after load test has finished they are still receiving updates. I presume this is by design?
Also I've noticed for every 1K RU single lease generates around 15-25 RUs as well. I guess there is no way to project

[2020-01-31 15:16] NavtejSaini-MSFT commented on #47087
@Ayanmullick That will not help your case as the team working on feature could be different from team managing the GitHub repos. The above feedback link would be the way to go about it.

[2020-01-31 15:17] ram-msft commented on #47204
@digipato Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-01-31 15:19] ram-msft commented on #45640
We have road map to support all regions. Starting end of this week all the regions will be supported.

[2020-01-31 15:25] ryanspletzer commented on #47169
Also to add to this, there is a newer Consumption plan that doesn't have explicit units -- is the Consumption plan zone-redundant within a given region?

[2020-01-31 15:25] greektreat opened #47206 "Invalid code in example "add custom Property""
the code says this:  !itemProperties.ContainsKey("customProp")
it should be   !itemProperties.Properties.ContainsKey("customProp")

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26b3e91f-c240-fffa-6ae9-d676deb7ad4c
* Version Independent ID: bbfa099e-3ed6-09ea-fbde-f2a3ed13139a
* Content: [Filtering and preprocessing in

[2020-01-31 15:26] ticianaciminari commented on #47162
@couscousbzh FYI

[2020-01-31 15:30] ondrejhlavacek commented on #46595
@jakaruna-MSFT @jluk thanks for the replies! I got unexpectedly busy with other stuff at the moment. I expect a week to deal with it to give a sensible comment. Thanks a lot for your patience, will look at it as soon as possible.

[2020-01-31 15:36] ticianaciminari commented on #46982
Hi @MohitVerma-MSFT I've just read the thread. I'll tag the user so they can read the reply.

@ynguyenluat, could you please check the reply above?

Kind regards,

Microsoft DOCS Global Experience Team

[2020-01-31 15:37] venkat1017 opened #47207 "Unable to update a Storage account present in other location ex:"uk south""
Command used:
Set-AzStorageAccount -ResourceGroupName &lt;RG&gt; -AccountName &lt;Storage account name&gt; -SkuName Standard_ZRS -EnableHttpsTrafficOnly:$true -UpgradeToStorageV2 -AccessTier Hot

Location:UK South

Error message :
Error code
InvalidValuesForRequestParameters
Message
Values for request parameters are invalid: sku.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-01-31 15:37] TheovanKraay commented on #47051
@crow-ua the change feed log persists forever. Your instinct is correct, change feed can indeed be used as an alternative to a separate event queue, particularly if Cosmos DB is your only source/target for event sourcing. For the error, which version of Azure functions are you using? I’m aware V1 has some issues in supporting change feed processor. Please ensure you use the latest version of Funct

[2020-01-31 15:39] andyjballgit opened #47208 "Do Security Center MFA Policies take into account Privileged Identity Management and associated settings"
Hi,

think this is worth documenting here.

- If a user is Eligible for (say) Owner role in PIM but not active will Security Centre flag it as an issue ?
- If so , will it be smart enough to look up whether Owner Role in PIM has MFA forced on Activation as per below

https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/pim-resource-roles-configure-role-settings

c

[2020-01-31 15:40] MikeWedderburn-Clarke commented on #47062
Sorry about the confusion @philipstreet-hiscox
Yes, for rule 1, setting source and destination to VirtualNetwork would work but is possibly overly permissive if you have other things in the same Vnet. You can set each subnet source and destination to be the address space of that subnet instead - it is listed as 'in**tra**subnet communication'

@PramodValavala-MSFT I marked your 'any/any' comment w

[2020-01-31 15:47] michaelschmit commented on #47088
Perhaps I just assumed those NSG ports were opened up for the Grafana and Kiali dashboards, maybe Istio needs those ports open.  To me, my lack of understanding means there is minimally a documentation gap.  I feel there should be a note that states as part of the istio install, these ingress ports will be opened up and what those ports are used for.

[2020-01-31 15:49] connor-ww commented on #47146
Thank you @AshokPeddakotla-MSFT ! You are correct, and the Azure CLI commands worked.

[2020-01-31 15:49] #47146 closed

[2020-01-31 15:54] PaulHuizer commented on #40223
Anyone know the solution? I ran into the same problem.

[2020-01-31 15:54] mattruma opened #47209 "Disable built-in logging"
I have enabled Application Insights for my Azure Function, and per the document I am trying to disable built-in logging, but when I delete the AzureWebJobsDashboard  app setting, my function stops working correctly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13672b67-22ea-3dda-8b6b-3332c24e6030
* Version Independen

[2020-01-31 16:13] crow-ua commented on #47051
@TheovanKraay Good to know. Maybe you can post to some examples how to implement that? I think I saw code how to implement custom checkpointing logic for change feed, but not actually accessing and navigating it.
As for functions - I'm using `netcoreapp3.1` on `Function Runtime Version: 3.0.12930.0`.
Side note - 35 minutes after load test all my consumers finished receiving updates. Number of rece

[2020-01-31 16:31] tesych commented on #46641
@J-Corwin, thank you for your question, but we didn't provide the information about the files size because it depends on a lot of things: specific settings that are selected, what sensors are used, what SDKs are utilized (only Sensor SDK or Body tracking SDK). If you are interested in this information you can perform a test recording to help you plan the storage requirements.

[2020-01-31 16:31] bigdatamoore opened #47210 "Please update section on trigger blob receipts"
Can you update the docs to indicate that the timestamp of the blob needs to be changed in order for the trigger to be fired.  https://feedback.azure.com/forums/169385-web-apps/suggestions/36864556-describe-effect-of-deleting-same-blobreceipt-multi

We struggled with figuring out how to reprocess blobs that were already processed.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-01-31 16:46] 9songs commented on #46844
Could you please let me know, if it would be possible to insert a note into the page, to refer to the other docs-page with the PowerShell cmd?  Thanks!

[2020-01-31 16:50] pranotiDE opened #47213 "CMD 5 needs to be changed"
val df = spark.read.json("abfss://" + fileSystemName + "@" + storageAccountName + ".dfs.core.windows.net/small_radio_json.json")

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d863ab39-0b6a-eb81-9dde-5eb25b46cc33
* Version Independent ID: 655abadf-5f9e-a65b-0109-c5166f956c4d
* Content: [Tutorial - Perform ETL operation

[2020-01-31 16:52] leela-uppuluri commented on #46646
@kgremban That's right, I have experienced the same issue like you did now. Yes, I did create a ML workspace before starting Azure notebook. As per @RohitMungi-MSFT suggestion when I replaced reg name with my actual container registry name then it started working fine for me. please go through my code snapshot below for clear understanding.

![img](https://user-images.githubusercontent.com/4367853

[2020-01-31 16:55] nilopmsft opened #47214 "Managed Instance PITR Backup Storage"
Under Storage Costs, there is discussion on how to view the Managed Instance PiTR backup storage.  However the 'mi pitr backup storage' meter subcategory is not available under the cost analysis in the portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9492cedc-cea0-af9d-29a0-52cbca8c5e21
* Version Independent ID:

[2020-01-31 16:59] asudbring commented on #45707
Researched this further.
@anavinahar here is a screenshot where the discrepancy is:
![image](https://user-images.githubusercontent.com/26909696/73558312-c80d5c00-4407-11ea-9028-6121499dcfbb.png)

Does this line need to be removed or reworked, it does imply to use outbound rules on an internal load balancer.

#assign:@anavinahar

[2020-01-31 16:59] pasedu7y commented on #47086
It doesn't work for me either. I also get a triangle error icon on the right side of the Branch master tab, Can you tell me why? Stating 'Error while listing Git repo branches: Failed to retrieve repo branch list: java.lang.NullPointerException'

[2020-01-31 17:05] dhmorrison opened #47215 "Helm Install Command Is No Longer Correct."
Hello,

This document provides an outdated version of the helm install command.
[code]
- Helm install requires the **--name** parameter. This is not optional.
- Helm install no longer supports the **--dependency-update** flag. The flag is now **--dep-up**

##This needs to be changed in this documentation, and any other doc referencing the legacy paradigm.

The current version of helm (2.14.3) supp

[2020-01-31 17:13] mutazn opened #47216 "Missing backslash in most of az cli commands"
Most of az cli commands need " \ " at the end of each line:

  az network vnet subnet update \
  --resource-group myResourceGroup \
  --name mySubnet \
  --vnet-name myVnet \
  --remove delegations

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9203aa6f-daa2-a067-797e-c292902e8a4f
* Version Independent ID: d1d3fe99-80e

[2020-01-31 17:28] #40202 closed

[2020-01-31 17:30] kgremban commented on #46646
Yes, I saw that Rohit's workaround helped you, but I'm trying to get the notebook back working the way it's supposed to with the ML Workspace's container registry and no manual intervention.

[2020-01-31 17:32] kgremban commented on #47040
@nanowireUK Thank you for pointing out that oversight. I updated the article to include reported properties in the target condition definitions. Please take a look and let us know if this change resolves the issue or if you think there's more improvements that can be made to the article.

[2020-01-31 17:32] SaurabhSharma-MSFT commented on #47208
@andyjballgit Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-01-31 17:34] SaurabhSharma-MSFT commented on #46964
@VOVELEE We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-01-31 17:34] #46964 closed

[2020-01-31 17:35] garybushey opened #47217 "TAXII connector not showing"
There is not Threat Intelligence - TAXII (Preview) connector showing in the list.  Is this a private preview offering?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0588fd19-837a-95f8-b300-558d385056f3
* Version Independent ID: c51f135d-8378-b263-aed8-3de8e8f593ed
* Content: [Connect threat intelligence data to Azure

[2020-01-31 17:36] ealsur commented on #47051
Ok, there are multiple points here.

1. See https://docs.microsoft.com/en-us/azure/cosmos-db/change-feed-processor#components-of-the-change-feed-processor to understand how each component is used
1. Functions Change Feed Trigger uses the Change Feed Processor underneath, not all of the APIs that the Change Feed Processor has are exposed in Functions.
1. FeedPollDelay is only used when Change Feed

[2020-01-31 17:41] prashanthmadi opened #47218 "symlink for anaconda python2 or python3"
Can we have symlink for anaconda python2 or python3 instead of changing that config in multiple places.

Changing symlink using script action should be much easier than juggling around in ambari portal.

Feedback for https://docs.microsoft.com/en-us/azure/hdinsight/spark/apache-spark-python-package-installation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2020-01-31 17:43] anavinahar commented on #45707
Yes, thank you. This means that outbound rules need to be added, AKA it will be a public LB but locked down via NSGs which is probably where the issue occurs for customers?

@spitfire184  can you confirm the confusion is bc of  this issue above?

[2020-01-31 17:49] zhouwangzw commented on #46744
Regarding the other question: "any ETA for "fr-fr" support in features like conversation, phrase lists":

- fr-fr support for phrase list will be available very soon, probably in the next 2 weeks.
- Supporting conversation transcription in fr-fr might take some time, and we do not have date yet.

Thanks,
Zhou

[2020-01-31 17:58] msrini-MSFT commented on #47216
@mutazn , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-01-31 17:59] Adam-Smith-MSFT commented on #47207
@venkat1017 please post in either StackOverflow forums or MSDN social network for this question since it is not relevant to the documentation link.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-01-31 17:59] #47207 closed

[2020-01-31 18:01] msrini-MSFT commented on #47216
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/102959

[2020-01-31 18:03] KranthiPakala-MSFT commented on #47213
@pranotiDE Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate

[2020-01-31 18:10] #47216 closed

[2020-01-31 18:13] samcookies commented on #47176
Any update on this please ?

[2020-01-31 18:16] mike-urnun-msft commented on #47209
@mattruma Thank you for your feedback! Could you provide more details about your function? Is it an HttpTriggered function on .Net Core runtime? Have you tried restarting?

[2020-01-31 18:16] andrewleader opened #47219 "samplingExcludedTypes is incorrect, it goes inside samplingSettings and is just called excludedTypes"
The docs claim `samplingExcludedTypes` (and `samplingIncludedTypes`) are directly children of `applicationInsights` and NOT inside `samplingSettings`...

[code]

However, that's incorrect. It actually goes inside samplingSettings, and is called `excludedTypes`. I spent 40 minutes trying to figure out why the excluded types weren't working, all because the docs are wrong!

[code]

Their source code

[2020-01-31 18:19] Marty070 opened #47220 "Azure Front Door instance not visible in Azure DNS Resource list"
Hi all,

I'm trying to configure my APEX domain, using Azure DNS. I've created a DNS zone in the same subscription as my Front Door resource. When I create a DNS record set in the DNS zone, and select the options 'Alias record set' and 'Azure Resource', my Azure Front Door resource is not appearing in the 'azure resource' dropdown list. It only shows three empty collections; traffic manager, publi

[2020-01-31 18:23] mattruma commented on #47209
Hi @mike-urnun-msft, thanks for the quick response! It is .NET Core 3.1 function app that has two Http trigger functions and two CosmosDB change feed trigger functions.

[2020-01-31 18:23] mumian commented on #47199
@mindra - thank you for your comments.  The template works fine.  I just tested it.  The VSCode resource manager template extension needs some improvements.  You can ignore those warnings from VSCode.

#please-close.

[2020-01-31 18:23] #47199 closed

[2020-01-31 18:24] porrascarlos802018 opened #47221 "Upgrade procedure outdated and not clear for current Azure aks design"
Please update the document with all the right procedures, step by step guides, limitations , clarifications for skilled and non skilled users in terraform.

Customers are asking for guides and clarifications on how to upgrade aks node pools in multiple pool scenario using vmss and availability set and the correct confirmed process to succeed using terraform.

The documentation seems to be outdated

[2020-01-31 18:33] tfitzmac commented on #47196
@nnamedieh - thanks for this feedback. I believe the information you are looking for is [listed is the article](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#subscription-limits---azure-resource-manager) but perhaps not where you expected to find it. Does the link provide what you were looking for? If so, I can look at moving the content

[2020-01-31 18:33] JimacoMS3 commented on #46125
@uriel-kluk Thanks again for your help and for bringing this to our attention. I've updated the topic, and it is now live: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-csharp-csharp-device-management-get-started#create-a-simulated-device-app. I'm going to go ahead and close this issue. If you think that the problem hasn't been adequately addressed, please @ comment me here, and we can co

[2020-01-31 18:34] JimacoMS3 commented on #46125
#please-close

[2020-01-31 18:34] #46125 closed

[2020-01-31 18:35] bdschaap opened #47222 "Reservation Effective Date"
Can you clarify when reservations take effect for billing charges?  For instance, do they apply to all charges within a billing period if the reservation is configured in the middle of that billing period?  Or are they only effective as of the date date / time when the reservation is configured?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-01-31 18:39] msrini-MSFT commented on #47220
@Marty070 , Do you have a Frontdoor deployed in your subscription already ?

[2020-01-31 18:41] grahamehorner opened #47223 "please update to show typescript"
at present the documentation pages don't look to have any reference to typescript and/or how to use the microsoft-cognitiveservices-speech-sdk typescript pacakges; please update documentation and samples showing how to use the above typescript packages.

-    "microsoft-cognitiveservices-speech-sdk": "1.9.0"

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-01-31 18:41] mike-urnun-msft commented on #47209
Thanks, @mattruma! Could you provide your Function App name [privately](https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately)? When you say your functions stopped working _correctly_, do you mean that your triggers are still working your functions are being invoked but there's an issue as to how it executes?

[2020-01-31 18:43] mike-urnun-msft commented on #47210
@bigdatamoore Thank you for your feedback! We will review and update as appropriate.

[2020-01-31 18:44] Mike-Ubezzi-MSFT commented on #47203
@hulvei3 Thank you for bringing this to our attention. I will have the content author review and update the document as appropriate.

[2020-01-31 18:47] GiftA-MSFT commented on #47223
@grahamehorner we will review your feedback and get back to you shortly. Thanks.

[2020-01-31 18:48] mattruma commented on #47209
@mike-urnun-msft can you confirm first that I understood the documentation correctly ... if I have AppInsights enabled on my Azure Function App, I should be able to delete the `AzureWebJobsDashboard` AppSetting so that AppInsights will be the default for logging and NOT Azure Storage. Is my interpretation correct?

[2020-01-31 18:54] jjgriff93 commented on #36991
Im not sure why this is closed off as this is still very much an issue - following the documentation guidance I still get `ModuleNotFoundError: No module named '__app__'`

[2020-01-31 18:58] SaurabhSharma-MSFT commented on #46945
@PaulSells Yes, the new recommendation is being rolled out gradually and thus it may not appear in your subscription but not sure about the timelines.

[2020-01-31 18:59] Grace-MacJones-MSFT commented on #47198
Hi Darrell, thanks for your feedback. you can find the docs for App Service for Windows Containers (in preview) [here](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-windows-container). In the meantime, I have assigned the issue to the content author to evaluate and update as appropriate. @dazinator

[2020-01-31 19:01] SaurabhSharma-MSFT commented on #47143
@mikerodrick yes, you are correct, if you not explicitly using the Login-AzAccount in cloud shell you will be getting this error.

[2020-01-31 19:04] SaurabhSharma-MSFT commented on #46171
@cat-mucius I have received the information that you typically would not import an entire certificate to HSM since the public key needs to be available to users and keys never leave the HSM boundary.

Therefore, you can extract the private key from the PFX and upload it to the Key Vault using Add-AzKeyVaultKey -Destination "HSM".

See docs: [Add-AzKeyVaultKey](https://docs.microsoft.com/en-us/powe

[2020-01-31 19:05] slavizh opened #47224 "Increase Access Token on management.azure.com"
Hi,
The document describes how to set this policies but it does not describes fully on what authentication they can be used. For example we have App registration that is impersonating user account to access Azure APIs (management.azure.com). We issue access token that can be used by the app registration. If I set policy for Access token lifetime for the app and I issue token to resource management

[2020-01-31 19:05] SaurabhSharma-MSFT commented on #46898
@Superdabdab We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-01-31 19:05] #46898 closed

[2020-01-31 19:09] Schenz commented on #47065
ok, but now how do I get that specific audience?

[2020-01-31 19:09] cynthn commented on #44747
#please-close Work item has been created to update this topic for freshness and clarity :)

[2020-01-31 19:09] #44747 closed

[2020-01-31 19:09] SaurabhSharma-MSFT commented on #47217
@garybushey Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-31 19:13] Schenz commented on #47065
I was able to get the token, but now get the following error from the service:
[code]

[2020-01-31 19:19] dastewa commented on #47151
Thanks @Mike-Ubezzi-MSFT!

[2020-01-31 19:24] Schenz commented on #47065
graph explorer now gives this:
[code]

[2020-01-31 19:25] aravish commented on #46645
The Cluster delete event is logged on workspace delete, but just cluster delete activities aren't logged. We should probably remove this doc and point customers to use Azure monitor diagnostics logging.

[2020-01-31 19:32] IsaacBoy commented on #6484
Can you tell me more about this " issue that sometimes occurs following an upgrade or when you change the port number when there's pre-existing data"?

[2020-01-31 19:42] aahill commented on #46971
Thanks for all of this information @girishnadiger-gep !

I've reached out to the team to look into this, and if other documentation changes are needed surrounding the change.

[2020-01-31 19:44] Skhorava commented on #43925
Any luck?

[2020-01-31 19:51] sudolibre opened #47225 "Javascript Single User Flow Clarification"
A typical use case will have 3 or 4 user flows. A sign in flow, a sign up flow, a password reset flow, and a profile edit flow. You can also use a combined sign in / sign up flow to drop it to 3 policies. The javascript msal library only supports a single policy:
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/440

This means the only real use case supported for javascrip

[2020-01-31 19:53] EdwardP-VEN opened #47226 "Please add Azure Monitor Metrics Alert Handler"
I've seen that the Azure Monitor Metrics Alert Handler is the proper way to send messages to Slack and other software from a triggered alert.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28360a4e-c758-66f0-39fd-518e480d80d9
* Version Independent ID: 52f4d95e-627c-07d7-a4a3-95b31fc616d4
* Content: [How to trigger comp

[2020-01-31 20:04] jluk opened #47227 "explain how next IP is selected if multiple frontends exist"
There is no info on how the next IP address is selected if multiple frontends exist. Customers need to know:
1. When outbound IPs are selected from the multiple frontend options
1. How it relates to allocated outbound ports
1. Selection algorithm for the next available IP

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-01-31 20:05] adityaramgopal opened #47229 "Cognitive Service: MaskedITN seems to include upper case character"
According to the docs for MaskedITN form [here](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/cognitive-services/Speech/concepts.md#masked-itn-form):

However when I tried it with my own code, I see that the MaskedITN form has an upper case character. Is this unexpected or should the docs be changed to reflect this?

[code]
MaskedITN in the above result begins with an upper case

[2020-01-31 20:06] AlexeyBoiko opened #47230 "Subscription term startDate endDate not set"
Get subscriptions with this end point
https://marketplaceapi.microsoft.com/api/saas/subscriptions?api-version=2018-08-31

Most subscriptions have no startDate endDate in term node
"term": { "termUnit": "P1Y" }

but some subscriptions have
"term": {
        "startDate": "2020-01-26T00:00:00Z",
        "endDate": "2020-02-25T00:00:00Z",
        "termUnit": "P1Y"
      }

How to get endDate for all s

[2020-01-31 20:09] dawndrain opened #47231 "zfs for one-line partitioning and mounting"
I was having trouble partitioning and mounting my 32TB disk after attaching it following these instructions (I was getting errors related to it being read-only). It turns out there's a way to do this in a single line using zfs:
sudo zpool create /datadrive /dev/sdc

(I first had to sudo apt install zfsutils-linux.)

You can then sudo zfs set datadrive compression=lz4 to use the disk more efficient

[2020-01-31 20:12] ebasseri opened #47232 "update SIEM integration list"
current: A: Currently, Azure Monitor is supported by Splunk, QRadar, and Sumo Logic. For more information about how the connectors work, see Stream Azure monitoring data to an event hub for consumption by an external tool.

should be: A: Currently, Azure Monitor is supported by ArcSight, LogRhythm, Logz.io, IBM QRadar, Splunk, and Sumo Logic. For more information about how the connectors work, see

[2020-01-31 20:24] CarlRabeler commented on #47203
please assign to @MashaMSFT

[2020-01-31 20:26] NavtejSaini-MSFT commented on #47203
@MashaMSFT This issue has been assigned to you. Please check and provide your feedback.

[2020-01-31 20:30] NavtejSaini-MSFT commented on #47214
@nilopmsft Please provide and a screenshot for better understanding of where it is exactly happening and we will take this forward.

[2020-01-31 20:36] anumjs commented on #47034
Yes, the suggested link is correct. https://github.com/Azure/elastic-db-tools

[2020-01-31 20:39] nilopmsft commented on #47214
Thanks. Under the Cost Analysis, selecting the Meter Subcategory only gives me the option of Managed Instance compute and storage metrics.  No 'mi pitr backup storage' mentioned and shown in the documentation screenshot.  Below is what I am seeing, unfiltered and trying to filter by 'mi'

![subcategory](https://user-images.githubusercontent.com/43865931/73572753-34538400-4437-11ea-8767-5c04e5ffaea

[2020-01-31 20:41] bhatir commented on #46839
Thanks for replying.

The reason for putting the .htaccess was to change the site root as
described here
<https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/app-service/containers/configure-language-php.md#change-site-root>however
thats when I get the error. Without the .htaccess there is no error but
then again that does not work for me since this is a Laravel app and the
site root

[2020-01-31 20:41] laurenhughes commented on #45622
#please-close

[2020-01-31 20:41] #45622 closed

[2020-01-31 20:55] azav opened #47233 "Possible error in http request for Request a token."
&scope=https://tenant-name&gt;.onmicrosoft.com/api/read

Notice the &gt; before .onmicrosoft.com.  There should be a &lt; before tenant-name or the &gt; should be removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 836ec1be-7675-d0f1-c861-0520dc3ea01e
* Version Independent ID: c6a2a6f6-57fd-20ae-36f7-b6db1987ebe5
*

[2020-01-31 21:11] rwike77 commented on #37204
@activeNathan, apologize for the late reply.  In these examples, the scopes requested don't require admin consent.  The problem here is that the scope requested in the auth code request example is different than the scope requested in the Postman example for requesting an access token.  If you were following the example as written, you received an auth code for the `https://graph.microsoft.com/use

[2020-01-31 21:14] ticianaciminari opened #47234 "Why the resources exist, that is 'supportsTags'=FALSE but 'costReport'=TRUE."
@na2ko-ucym commented on [Fri Jan 31 2020](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/3039)

 I was just wondering why these resources is 'supportsTags'=FALSE but 'costReport'=TRUE?

providerName				resourceType							supportsTags	costReport
Microsoft.Network			frontdoors								FALSE			TRUE
Microsoft.Network			frontdoorWebApplicationFirewallPolicies	FALSE			TRUE
Microsoft.SQL				man

[2020-01-31 21:15] ticianaciminari commented on #47234
Hi Team, could you please check the question from user?´

Kind regards,

MS DOCS International Team

[2020-01-31 21:18] mimckitt commented on #46175
#reassign: @migerdes

[2020-01-31 21:18] fgheysels opened #47235 "Why is the JSON structure that is supported in TimeSeries Inights GA not supported in TSI preview ?"
When looking at the differences between TimeSeries Insights GA and TimeSeries Insights Preview, I've noticed that the GA version supports a JSON model that is not supported by the TSI Preview version.

To be more precise, GA supports this JSON model:

[code]
But according to the documentation, this model is no longer supported in the Time Series Insights Preview version, as the documentation state

[2020-01-31 21:19] ticianaciminari opened #47236 "Using common endpoint for admin consent is wrong"
@barisbikmaz commented on [Fri Jan 31 2020](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/617)

The docu says in the section **Request the permissions from a directory admin**

tenant | Required | The directory tenant that you want to request permission from. Can be provided in GUID or friendly name format ""_OR generically referenced with common_"" as seen in the example.
-- | -- | --

[2020-01-31 21:20] ticianaciminari commented on #47236
Hi Team, could you please check the question from user?

Kind regards,

MS DOCS International Team

[2020-01-31 21:20] mimckitt commented on #29547
#reassign: @anupaaggarwal

[2020-01-31 21:20] PRMerger10 commented on #29547
anupaaggarwal is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-01-31 21:21] migerdes commented on #46175
Micah, I have PR 44528 already created and waiting for approval to fix this error.  It currently sits with Jon B awaiting approval.  I will catch up with him Monday when he returns.

Mike

From: Micah McKittrick <notifications@github.com>
Sent: Friday, January 31, 2020 1:18 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Mike Gerdes <Michael.Gerdes@microsoft.com>; Mention <ment

[2020-01-31 21:21] PRMerger10 commented on #46175
migerdes<https is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-01-31 21:26] #47141 closed

[2020-01-31 21:27] GiftA-MSFT commented on #47141
@rodionaltshuler thanks for your feedback. The document has been updated accordingly and changes should be visible soon.

[2020-01-31 21:29] #47155 closed

[2020-01-31 21:31] GiftA-MSFT commented on #47155
@CESARDELATORRE thanks for your feedback. The document has been updated accordingly and changes should be visible soon.

[2020-01-31 21:37] MartinJaffer-MSFT commented on #47049
@Willem-J-an I have assigned this issue to the author for further updates.

@linda33wj Could you please add this feature to the documentation?

[2020-01-31 21:39] MarileeTurscak-MSFT commented on #47202
@Vikasjx
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-31 21:41] BharathNimmala-MSFT commented on #47196
Thank you @nnamedieh for sharing the feedback.

Thank you @tfitzmac for helping on this.

[2020-01-31 21:45] BharathNimmala-MSFT commented on #47226
@EdwardP-VEN Thank you for sharing your feedback , we will further evaluate and get back to you at the earliest. Thanks

[2020-01-31 21:51] FrankHu-MSFT commented on #47194
@sjthompsonengl  thanks for your feedback, we're looking into this and will get back to you as soon as possible.

[2020-01-31 21:52] FrankHu-MSFT commented on #47225
@sudolibre thanks for letting us know your feeedback, we're currently looking into this issue and will get back to you as soon as possible.

[2020-01-31 21:52] MarileeTurscak-MSFT commented on #47232
@ebasseri
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-31 21:52] FrankHu-MSFT commented on #47233
@azav thanks for letting us know your feeedback, we're currently looking into this issue and will get back to you as soon as possible.

[2020-01-31 22:00] BharathNimmala-MSFT commented on #47230
@AlexeyBoiko Thank you for your query, we will further look into it and get back to you at the earliest. Thanks

[2020-01-31 22:00] markjbrown commented on #42962
Here's the link.
https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator#running-on-mac-or-linux

Thanks everyone for your patience on this. We are very happy we could provide a workaround on this.

Thanks again

[2020-01-31 22:04] TimothyMothra commented on #45544
@SamShekhovtsov
I just created an empty Asp Net Core 3.1 app and added version 2.12.0 of our SDK.
It compiles without error for me.

![image](https://user-images.githubusercontent.com/28785781/73577657-58f92d00-4432-11ea-8ab4-642596a5604d.png)

![image](https://user-images.githubusercontent.com/28785781/73577662-60203b00-4432-11ea-8bfa-53ceb5e84f75.png)

I don't believe this is a docs issue.
You'r

[2020-01-31 22:05] eedorenko opened #47237 ""Enable AppInsights diagnostics" option is available for AKS only"
"Enable AppInsights diagnostics" option in Advanced Settings is available for AKS compute only

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12f83c8d-8ec9-0b56-00c3-cdafc53c90f1
* Version Independent ID: 9fb32434-54da-9789-ec8e-1d192343feb5
* Content: [Monitor and collect data from Machine Learning web service endpoin

[2020-01-31 22:07] lgayhardt commented on #45544
#please-close

[2020-01-31 22:07] #45544 closed

[2020-01-31 22:10] cuadue commented on #45415
Thanks yes, we are well aware of the C SDK, but are seeking to use the HTTP API directly per specific request and requirements.

[2020-01-31 22:15] Air-Git opened #47238 "Tutorial structure"
I found this tutorial difficult to follow. There seem to be two quite different topics. One is: how to work with Azure resources at the command line. The other is: how to construct a template. It is difficult to follow the examples for working with the template, because of the different ways a person may work with the command line.
The simplest way to do it may be to use the Azure Cloud Shell. Tha

[2020-01-31 22:19] SaurabhSharma-MSFT commented on #47217
@garybushey Thanks for your feedback.  I am also not able to find this connector in my sentinel workspace and checking internally with the product team on the same.  I will update you as soon as hear back from the team.

[2020-01-31 22:19] mutazn opened #47239 "I can't connect to the dashboard. What should I do?"
I have tried to access the Dashboard using:
http://localhost:8001/api/v1/namespaces/kube-system/services/kubernetes-dashboard/proxy/#!/node?namespace=default

But it does not work for me; It should be modified as below:
http://localhost:8001/api/v1/namespaces/kube-system/services/https:kubernetes-dashboard:/proxy/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-01-31 22:24] LarsKemmann commented on #40805
The solution for me turned out to be doing a Repair operation through the Visual Studio Installer.

[2020-01-31 22:25] LarsKemmann commented on #47099
The solution for me turned out to be doing a Repair operation through the Visual Studio Installer.

[2020-01-31 22:25] #47099 closed

[2020-01-31 22:29] Grace-MacJones-MSFT commented on #47089
are you getting any errors when you referencing the secret? could you try reconfigure the app including the key vault reference in the app settings of the function app?

[2020-01-31 22:30] MartinJaffer-MSFT commented on #46901
@gauravga I have attempted to reprduce the issue.  I have been able to produce the customOutput using Command `cmd /c echo 'hello world' > outputs.json`

![image](https://user-images.githubusercontent.com/46612670/73578986-f6099500-4435-11ea-8958-ac47874620f2.png)

The outputs.json exist in the batch account, not the blob storage.

Here is the json of my pipeline.
[code]

If you are still experien

[2020-01-31 22:30] #46901 closed

[2020-01-31 22:30] ross-p-smith opened #47240 "Size is no longer a valid parameter for creating HDInsight hadoop cluster"
Instructions state that to use
 --size $clusterSizeInNodes \

However size is no longer a valid parameter when creating an hadoop cluster. Maybe try --workernode-count

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7dd65ab-4441-aea4-6378-bb36628bab9e
* Version Independent ID: a97993c7-ccf1-933f-b338-274b305c505c
* Con

[2020-01-31 22:31] markingmyname commented on #10237
@JimFoster & @Rraghun

I just went through this tutorial and experienced the same thing.

How I got around it was under step 4. where it states:
--------------------------------------------------------------
Define a variable for the data factory name.

Important
Update the data factory name to make it globally unique. An example is ADFIncMultiCopyTutorialFactorySP1127.

$dataFactoryName = "ADFInc

[2020-01-31 22:37] #47095 closed

[2020-01-31 22:38] FrankHu-MSFT commented on #47233
@azav thanks for letting us know about i'm going to go ahead and fix that. Please let us know if you have any other concerns otherwise i'll be closing out this git issue by end of day today.

[2020-01-31 22:39] Mike-Ubezzi-MSFT commented on #47197
@kirubha-webex Thank you for bringing this to our attention. Can you please follow the steps outlined in the following doc: [Set up the Microsoft Authenticator app as your verification method](https://docs.microsoft.com/en-us/azure/active-directory/user-help/security-info-setup-auth-app)

In step 6, there is an option detailed to manually add account information:

![Screenshot (644)](https://user-

[2020-01-31 22:40] iainfoulds commented on #46993
Thanks for the feedback, @adamgourd. As noted in the doc:

As such, password change operations against the Azure AD DS managed domain for synchronized users would fail. Those user attributes are read-only in the managed domain. A user would need to change their password in Azure AD, or in a hybrid environment, against an on-prem DC.

The [administration concepts doc](https://docs.microsoft.com/azu

[2020-01-31 22:40] #46993 closed

[2020-01-31 22:41] iainfoulds commented on #44348
Hi, @v-akhana. For now, I'm going to close this out, but I'm happy to revisit what specifics you feel are missing if you can provide some additional context. Thanks.

#please-close

[2020-01-31 22:41] #44348 closed

[2020-01-31 22:46] #46627 closed

[2020-01-31 22:47] femsulu commented on #47202
Hi @Vikasjx  - we greatly appreciate your willingness to contribute to this content. Your reqeust has been shared with the content owner, @rolyon for further review. We will provide an update soon.
Cheers,

[2020-01-31 22:50] MarileeTurscak-MSFT commented on #45857
@JasSuri any idea on this one?

[2020-01-31 22:52] KranthiPakala-MSFT commented on #46897
@gbarr42 We have assigned this issue to content author to confirm about your query.

@djpmsft Coud you please have a look at the ask from @gbarr42 ? - Thanks.

[2020-01-31 22:53] erikadoyle commented on #46627
Good catch @leandroshan--thanks for raising the issue.

[2020-01-31 22:59] Mike-Ubezzi-MSFT commented on #47205
@DavidRayner Thank you for bringing this our attention. I have assigned this to a Cognitive Services engineer who will be able to help you with this service.

[2020-01-31 23:02] TravisCragg-MSFT commented on #47157
@artisticcheese you are correct, I am the one who is missing something! This document is intended to be an example of how to programatically read NSG logs from an Azure Storage account.

It does need to be called out in this document that the native Azure Log Analytics solution is elsewhere. I am going to re-open and assign the issue to the content author to evaluate and update as appropriate.

[2020-01-31 23:17] femsulu commented on #47238
Thanks for your comment, @Air-Git. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-01-31 23:20] Karishma-Tiwari-MSFT commented on #46939
@Chandan-SS
VMSS doesn’t guarantee running shutdown scripts when VMs are deleted. If you need to perform some operations at scale-in, you can use terminate notifications as described in this doc - https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-terminate-notification.

[2020-01-31 23:21] Karishma-Tiwari-MSFT commented on #47069
To perform some operations at scale-in, you can use terminate notifications as described in this doc - https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-terminate-notification.

Enabling terminate notifications will hold the machine in the delete state, allow you to perform any delete cleanup operations and safely delete the VM once cleanup is complete.

[2020-01-31 23:23] #46939 closed

[2020-01-31 23:23] re4s0n4 commented on #45935
I was able to make a custom role with this privilege, worked like a charm, thank you!

[2020-01-31 23:23] Mike-Ubezzi-MSFT commented on #47218
@prashanthmadi Thank you very much for making this suggestion. There are a couple actions items here. The first is for you to make a product recommendation on the [UserVoice forum](https://feedback.azure.com/forums/217335-hdinsight). The second, I will forward this issue on to the Analytics Service Area to make this suggestion to the PG.

[2020-01-31 23:24] Karishma-Tiwari-MSFT commented on #47069
VMSS doesn’t guarantee running shutdown scripts when VMs are deleted. If you need to perform some operations at scale-in, you can use terminate notifications as described in this doc - https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-terminate-notification.
Enabling terminate notifications will hold the machine in the delete state, allow you to perform a

[2020-01-31 23:27] MarileeTurscak-MSFT commented on #47232
@ebasseri thanks! I verified these and made a PR to update the list. https://github.com/MicrosoftDocs/azure-docs-pr/pull/103017

[2020-01-31 23:27] #47232 closed

[2020-01-31 23:28] mike-urnun-msft commented on #47209
@mattruma That's correct

[2020-01-31 23:32] CESARDELATORRE opened #47241 "If including 'Time-series forecasting' section in this intro doc, Regression and Classification should be included, too"
It is not consistent with AutoML to have a section of 'Time-series forecasting' in this document but not on Regression and Classification.
Those three areas should be treat as equal in this intro doc on "What is Automated Machine Learning".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2fcbcc1-0824-1dba-f5ae-6cf5c97a

[2020-01-31 23:35] rbrundritt commented on #47009
@outinyman can you look into this.

[2020-01-31 23:36] skyarkitekten opened #47242 "If You Are Having Cert Issues"
You cannot simple 'change the extension from .crt to .cer, you have to convert it. The simplest way to do that is described here: https://www.sonicwall.com/support/knowledge-base/how-can-i-convert-a-certificate-file-from-crt-to-cer/170504597576961/.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e220c1f-c1ad-ccc9-a61d

[2020-01-31 23:37] BharathNimmala-MSFT commented on #47167
@SquirrelAssassin Thank you for reaching out to us. To get a better understanding of the issue, can you please help clarify which specific script you are referring in the document or is there a custom script which you are running which you can share here (excluding any sensitive information you might have in the script) . That would really help to troubleshoot further and route the issue according

[2020-01-31 23:41] Lisiczka27 opened #47243 "/// <summary> /// The delegate receives batches of changes as they are generated in the change feed and can process them. /// </summary> static async Task HandleChangesAsync(IReadOnlyCollection<ToDoItem> changes, CancellationToken cancellationToken) { Console.WriteLine("Started handling changes..."); foreach (ToDoItem item in changes) { Console.WriteLine($"Detected operation for item with id {item.id}, created at {item.creationTime}."); // Simulate some asynchronous operation await Task.Delay(10); } Console.WriteLine("Finished handling changes."); }"
An example of a delegate would be:

`/// <summary>`
`/// The delegate receives batches of changes as they are generated in the change feed and can process them.`
`/// </summary>`
`static async Task HandleChangesAsync(IReadOnlyCollection<ToDoItem> changes, CancellationToken cancellationToken)`
`{`
`    Console.WriteLine("Started handling changes...");`
`    foreach (ToDoItem item in changes)`
`

[2020-01-31 23:42] walsehgal commented on #47009
@apcsaba, thanks for the feedback. We have updated our doc, to include Azerbaijan in under Europe.

[2020-01-31 23:42] JasSuri commented on #45857
I’m struggling to understand.
Seems like the Reply URL was set incorrectly on the App Reg in the Twitter dev portal.
Fixing that as per the doc should make it work, the “loose wire” maybe at Twitter who’s caching the App Reg settings on their side.

Then it seems like a new App Reg was created at the Twitter dev portal and now we want to change the client id in the B2C Twitter IdP connection. Seem

[2020-01-31 23:43] Grace-MacJones-MSFT commented on #47070
Hi @safaheem thanks for your feedback! Upon reviewing the doc, it doesn't say the default value of WEBSITES_ENABLE_APP_SERVICE_STORAGE is set to 'true', therefore it doesn't need to be corrected. The doc states:

 "WEBSITES_ENABLE_APP_SERVICE_STORAGE setting is **unspecified** or set to **true**, the /home/ directory will be shared across scale instances, and files written will persist across rest

[2020-01-31 23:43] #47070 closed

[2020-01-31 23:43] kgremban commented on #43440
@dgancho Following up again to see if you're still experiencing this issue, or if it's resolved?

[2020-01-31 23:44] Lisiczka27 commented on #47243
Snap Inc ⚅

[2020-01-31 23:45] outinyman commented on #47009
Asia is also approved region, please see https://microsoft.sharepoint.com/sites/globalreadiness/SitePages/Official-Country-Region-List.aspx
In this case it makes more sense to add it under Europe, thanks @walsehgal. @apcsaba

[2020-01-31 23:48] djpmsft commented on #46897
The default parameterization template is still the same. I set up a demo with it just last week.

#please-close

[2020-01-31 23:48] #46897 closed

[2020-01-31 23:51] KranthiPakala-MSFT commented on #47240
@ross-p-smith Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate

[2020-01-31 23:53] SquirrelAssassin commented on #47167
Maybe I wasn’t clear I literally ran the below powershell:
    Write-Output "There was an error."

[2020-01-31 23:56] JimacoMS3 commented on #45415
Hi @cuadue ,

I think your best shot here is to post on [stackoverflow](https://stackoverflow.com/). Tag your post with `azure-iot-hub` and `azure-blob-storage`. Stackoverflow is monitored by our support engineers, and they will be able to either answer your questions or get you to a resource who can. In other words, you're more likely to talk to an someone with expertise using that channel.

I wi

[2020-01-31 23:56] SquirrelAssassin commented on #47167
Maybe do this:
$thing = $null
If(!$thing) {
    write-output “no”
}

You will get an error for the spaces after the first variable and the equal and then the space after the equal and the null then another for the indent before the write-output.

[2020-02-01 00:07] Karishma-Tiwari-MSFT commented on #47231
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-01 00:09] vplauzon commented on #43302
Thank you Caio!  I just used your solution and it fixed my problem right away!

Cheers,

Vincent-Philippe

[2020-02-01 00:18] dhoegl commented on #36432
Hello @psignoret, please let us know when this article will be updated. The methods explained are woefully inadequate. Perhaps step-by-step instructions are needed. Thanks!

[2020-02-01 00:24] TylerMSFT commented on #44997
@seadoggie01, thanks for bringing this to our attention.
I have fixed this one, plus all of the others in our identity developer docs that had this issue.
The fix will be live by Monday.
#please-close

[2020-02-01 00:24] #44997 closed

[2020-02-01 00:25] dhoegl opened #47244 "Reply URL mismatch when attempting to consent to Enterprise Application"
When performing admin consent on an Enterprise Application (Service Principal), the following error is returned: AADSTS50011: The reply URL specified in the request does not match the reply URLs configured for the application: 'abcdef...'.

Enterprise Applications (in this case, the Microsoftgraphsecuritypowerbiconnector) do not contain reply URLs. Please advise on how to overcome this error.

---

[2020-02-01 00:29] Karishma-Tiwari-MSFT commented on #47239
I have created a PR with the update, changes will be live shortly.
https://github.com/MicrosoftDocs/azure-docs/pull/47245
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-02-01 00:29] #47239 closed

[2020-02-01 00:58] cynthn commented on #47231
@dawndrain Thanks for the feedback! I'll take this into consideration when I do the next update for this article. Thanks again!

#please-close

[2020-02-01 00:58] #47231 closed

[2020-02-01 01:04] Karishma-Tiwari-MSFT commented on #44395
Thanks @viswanadham-k for sharing the update.
We will now close this issue and share the updates once it is published. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-02-01 01:04] #44395 closed

[2020-02-01 01:22] Karishma-Tiwari-MSFT commented on #47041
We will now close this issue. Please provide the details when you are ready and tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-02-01 01:22] #47041 closed

[2020-02-01 01:59] Mike-Ubezzi-MSFT commented on #47242
@skyarkitekten Thank you for bringing this to our attention. I just walked through this tutorial and I am experiencing a couple issues. The first is the certificate step, as you have detailed. Once you complete the export of the .crt file to .cer, the client will connect to the Cassandra API.

**Per the instructions of changing the .crt extension to .cer:**

_tls_common.js:113
      c.context.setC

[2020-02-01 02:00] vitaliy-goncharuk opened #47248 "Unable to create OAuth client ID. Getting Invalid Origin: domain must be added to the authorized domains list before submitting."
Unable to create OAuth client ID.
Getting error when input data.
    Invalid Origin: domain must be added to the authorized domains list before submitting.

Getting this error even after done domain "myapp.azurewebsites.net/" verification. (By creating a func without route prefix and name)

Stuck in it.....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2020-02-01 02:07] Mike-Ubezzi-MSFT commented on #47242
As an example:

![Screenshot (645)](https://user-images.githubusercontent.com/37126106/73585252-4c85cc00-4454-11ea-9bb4-d816750dc113.png)

![Screenshot (646)](https://user-images.githubusercontent.com/37126106/73585253-58718e00-4454-11ea-9b7d-0bfc5e7742f9.png)

![Screenshot (647)](https://user-images.githubusercontent.com/37126106/73585263-60313280-4454-11ea-9c4e-89570f89df00.png)

![Screenshot (6

[2020-02-01 02:09] rajanbhayana commented on #47033
Wrote a blog here for anyone who wants to know how to fix this bug using resource explorer.
https://wordpress.com/post/devopsandcloud.wordpress.com/425

[2020-02-01 02:15] femsulu commented on #46900
@musa-57  - can you review please? The url section requires a revision.

[2020-02-01 02:26] FrankHu-MSFT commented on #47225
@sudolibre Thanks for letting us know your thoughts, can you please let us know what makes this doc seem like that?

[2020-02-01 02:26] #47163 closed

[2020-02-01 02:26] #46962 closed

[2020-02-01 02:27] DixitArora-MSFT commented on #47219
Hi @andrewleader Thanks for your feedback. We will review and update as appropriate.

[2020-02-01 03:01] BryanTrach-MSFT commented on #46879
@twomm That would be unnecessary. If you're trying to capture \site\wwwroot you can simply put \site and everything within site would be backed up.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-01 03:01] #46879 closed

[2020-02-01 03:02] Mike-Ubezzi-MSFT commented on #47242
@SnehaGunda This step of adding the .cer extension to the .crt certificate file will cause a TLS exception, as detailed in the first exception I detailed. Then there is a second exception for `type` undefined once you have the certificate issue corrected.

[2020-02-01 03:15] mike-urnun-msft commented on #46812
@shashankkr At every poll when LA discovers `n` number of messages, LA will run `n` number of instances in parallel. This behavior can be controlled by the Concurrency Control toggle in the Settings of the Service Bus connector as shown below:
![image](https://user-images.githubusercontent.com/36717703/73586105-b48ce000-445d-11ea-95b5-b0d6cfc2e267.png)

If you'd like to learn more, please review t

[2020-02-01 03:15] #46812 closed

[2020-02-01 03:17] mike-urnun-msft commented on #46380
Closing as a duplicate of #47219

[2020-02-01 03:17] #46380 closed

[2020-02-01 03:18] Mike-Ubezzi-MSFT commented on #47243
@Lisiczka27 Thank you for taking the time to bring an issue to our attention. Is there a specific issue you would like to raise or make a suggestion?

[2020-02-01 03:34] Mike-Ubezzi-MSFT commented on #47237
@eedorenko Thank you for bringing this to our attention. I am going to have a service area engineer evaluate this issue and either have the documentation updated or work with the product group with regard to this product gap.
The [Prerequisites](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-enable-app-insights#prerequisites) section indicates the following:

Just to reiterate and

[2020-02-01 03:37] Mike-Ubezzi-MSFT commented on #47241
@CESARDELATORRE Thank you for bringing this to our attention. I have assigned this to the content author to evaluate and update as appropriate. If you have additional suggestions with the documentation, please continue to raise an issue. It is greatly appreciated.

[2020-02-01 03:40] Mike-Ubezzi-MSFT commented on #47206
@greektreat Thank you for bringing this to our attention. I have assigned this to the content author to evaluate and update as appropriate.

[2020-02-01 03:42] Mike-Ubezzi-MSFT commented on #47215
@dhmorrison Thank you for bringing this to our attention. I have assigned this to the content owner to evaluate and update as appropriate.

[2020-02-01 03:46] rafagsiqueira commented on #39325
@mimckitt and how about now? Are closing in on an ETA?

[2020-02-01 03:46] Mike-Ubezzi-MSFT commented on #47235
@fgheysels Thank you for bringing this to our attention. We are currently investigating and will update you when we have additional information to share.

[2020-02-01 03:49] Mike-Ubezzi-MSFT commented on #47244
@dhoegl Thank you for bringing this issue to our attention. We are investigating and will update you when we have additional information to share.

[2020-02-01 03:54] Mike-Ubezzi-MSFT commented on #47224
@slavizh Thank you for making us aware of this scenario. I will have an engineer investigate this issue and provide feedback as appropriate.

[2020-02-01 04:01] Mike-Ubezzi-MSFT commented on #47227
@jluk Thank you for bringing this issue to our attention. I have assigned this to the content author to evaluate and update as appropriate.

[2020-02-01 04:03] vikramdadwal opened #47249 "How is the performance of getting the data? Can we get similar implementation as Keyvault where we can define configuration settings as Keyvault reference in appsetting?"
How is the performance of getting the data? Can we get similar implementation as Keyvault where we can define configuration settings as Keyvault reference in appsetting?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec838379-f1fa-0cab-ff31-3bb1b30a7ccc
* Version Independent ID: e2571455-af0a-19f6-799c-ea09ae602680
* C

[2020-02-01 04:04] Mike-Ubezzi-MSFT commented on #47248
@vitaliy-goncharuk Thank you for making us aware of this issue. I have assigned this issue to an engineer to investigate and provide guidance as appropriate.

[2020-02-01 04:16] Mike-Ubezzi-MSFT commented on #47221
@porrascarlos802018 Thank you for making this suggestion. I have assigned this to the content author to evaluate and update as appropriate.

[2020-02-01 04:19] Mike-Ubezzi-MSFT commented on #47222
@bdschaap Thank you for your interest in Azure. We are currently evaluating your question and will update this issue when we have the correct information to share.

[2020-02-01 04:25] Mike-Ubezzi-MSFT commented on #47229
@adityaramgopal Thank you for bringing this to our attention. We are currently investigating the correct `MaskedITN` value and if there is a docs.microsoft.com hosted copy of this documentation.

[2020-02-01 04:30] Mike-Ubezzi-MSFT commented on #47234
@tfitzmac For awareness.

[2020-02-01 04:33] Mike-Ubezzi-MSFT commented on #47236
@ticianaciminari @srvbpigh Is there a link to the specific document in question?

[2020-02-01 05:05] manalotoj opened #47250 "app settings"
This action should include ability to configure app settings similar to this https://github.com/marketplace/actions/azure-app-service-settings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 967b3514-23c5-514d-186f-d901ac94069b
* Version Independent ID: 7a8581b2-feb6-534e-c88d-a0d7c7de7b92
* Content: [Configure CI/CD w

[2020-02-01 05:17] amanmcse commented on #47249
@vikramdadwal  Thank you for reaching out. We will investigate and update the thread further.

[2020-02-01 05:20] amanmcse commented on #47250
@manalotoj  Thank you for your feedback. We will investigate and update the thread further.

[2020-02-01 05:36] #47250 closed

[2020-02-01 07:18] asudbring commented on #47227
Sending to PM for review.

reassign@anavinahar

[2020-02-01 07:24] muthuTheerthan commented on #11486
I'm facing similar kind of issue .. Is there any solution or work arond ??

[2020-02-01 08:26] amanmcse commented on #47065
@Schenz  Have you replaced {tenant} with your tenant name in the request URL:  `https://graph.windows.net/{tenant}.onmicrosoft.com/users?api-version=1.6`?
Make sure there is no typo.

[2020-02-01 08:28] umeshbarapatre commented on #45071
Hi Keith,

Apologies but I got a little busy with day to day responsibilities. Which timezone are you working with. We can connect over skype on Tuesday 4th feb sometime.

Thanks
Umesh

From: Keith Voels [mailto:notifications@github.com]
Sent: 21 January 2020 03:14
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Umesh B <umesh.barapatre@hotmail.com>; Mention <mention@noreply.githu

[2020-02-01 09:25] heldchen commented on #44495
awesome, thanks alot. looking forward to the next release.

[2020-02-01 09:29] juunas11 opened #47251 "Issue in the "bank account transfer" code"
In the example at https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-entities?tabs=csharp#example-transfer-funds-c, the transfer amount is negated and added to the source, while the given amount is added to the destination.

If transferAmount &lt; 0, we will actually move money from the destination to the source.
A small validation check could be added at the start.

[2020-02-01 09:29] nnamedieh commented on #47196
@tfitzmac , thank you for your answer! This is exactly what I was looking for. Yes, I assumed this in the category "Virtual Machines" and did not look at the other categories. For me this case is done.

[2020-02-01 09:29] #47196 closed

[2020-02-01 09:39] slavizh commented on #47224
Thanks @Mike-Ubezzi-MSFT to give a context we are trying to do this: https://docs.microsoft.com/en-us/powershell/partnercenter/multi-factor-auth?view=partnercenterps-3.0#azure
We need to use refresh token to issue access token which we can use to automate with Azure PowerShell. Unfortunately 1 hour access token is not enough as we have workflows that run more than 1 hour and because of this issue

[2020-02-01 10:15] ohorvath opened #47252 "Kubernetes cluster autoscaler support"
As others already mentioned, the whole situation with "managed" cluster autoscaler is extremely confusing. The parameters for the "managed" scaler are completely hidden from us and cannot be controlled in any single way. Also it's unclear if the Kubernetes official autoscaler project is supported with AKS or not. The Kubernetes documentation mentions different modes like vmss, standard, AKS and th

[2020-02-01 10:42] ybuasen commented on #32900
@StianOvrevage Now `az aks nodepool add` already exposes scaleset priority. However, I need to enable the AKS Preview Features (https://github.com/Azure/AKS/blob/master/previews.md) to be able to execute it successfully.

[2020-02-01 10:48] Marty070 commented on #47220
Hi Karthik,

Yes, I've got a front door resource deployed. This morning, suddenly the front door option has appeared!

[2020-02-01 10:48] #47220 closed

[2020-02-01 12:46] mchudinov opened #47253 "Microsoft.Extensions.Configuration.AzureAppConfiguration for Core 3.1?"
Any similar package with samefunctionality as Microsoft.Extensions.Configuration.AzureAppConfiguration available for Core 3.1 ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec838379-f1fa-0cab-ff31-3bb1b30a7ccc
* Version Independent ID: e2571455-af0a-19f6-799c-ea09ae602680
* Content: [Quickstart for Azure App Configur

[2020-02-01 13:42] amanmcse commented on #47253
@mchudinov  Thank you for reaching out. We will investigate and update the thread further.

[2020-02-01 13:44] amanmcse commented on #47252
@ohorvath  Thank you for your feedback . We will investigate and update the thread further.

[2020-02-01 13:47] amanmcse commented on #47251
@juunas11  Thank you for your feedback. We will investigate and update the thread further.

[2020-02-01 14:38] fberasategui opened #47254 "It is not clear from the documentation whether using Azure Functions > V1 while targetting .NET Framework is a supported scenario"
Or is .NET Core a requirement? Right now we have a single .NET Framework-only dependency: Microsoft.Xrm.Sdk which is preventing us to fully move to .NET Core.

Notice that while the V2 project template currently uses Microsoft.NET.Sdk.Functions version 1.0.29, which has both .NETFramework AND .NETStandard dependencies, 3.0.x versions of that Nuget package only declare dependencies for .NETCoreApp

[2020-02-01 14:45] jurajgh opened #47255 "Conditional Access not working?"
i have a functional P2S VPN with native Azure Active Directory authentication, however, the Contidional Access and MFA don't seem to be working. I have configured a CA policy that should require a compliant device and MFA, however, when tested from BYOD (noncompliant device) the connection works anyway, which, I understand, isn't a correct behavior.
strangely enough, when checking the Azure VPN ap

[2020-02-01 14:53] StingyJack opened #47256 "This doesnt work from powershell 5.1, 6, or 7. "Keyword not supported: 'Authentication'""
Really really frustrating to not be able to use the popular administrative/utility _and Microsoft authored_ language to connect to Azure SQL.

Do I really have to create SQL users in each database? I'd do that by running `sp_msforeachdb` but thats not possible in Azure SQL.   I'd do it via a powershell script then, except... (see title)

The way I'm trying to use it is similar to how I would conne

[2020-02-01 14:57] StingyJack opened #47257 "There should be a note on here that this does not work with any version of powershell."
The "Authentication" keyword is not known to them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55747c48-5caa-3234-f978-a667aed13352
* Version Independent ID: c18a4db6-71e3-a539-1e7f-2f49662f4bbc
* Content: [Azure Active Directory - Azure SQL Database](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-

[2020-02-01 15:05] amanmcse commented on #47254
@fberasategui Thank you for your feedback. We will investigate and update the thread further.

[2020-02-01 15:07] amanmcse commented on #47255
@jurajgh  Thank you for reaching out. We will investigate and update the thread further.

[2020-02-01 15:09] amanmcse commented on #47257
@StingyJack  Thank you for your feedback. We will investigate and update the thread further.

[2020-02-01 15:11] amanmcse commented on #47256
@StingyJack  Thank you for reaching out. We will investigate and update the thread further.

[2020-02-01 15:34] spmanjunath commented on #47019
Thanks for the response, i have no further clarification.

[2020-02-01 15:35] spmanjunath opened #47258 "Is it possible to reference the parameter values through a json file in New-AzPolicyAssignment cmdlet?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50f6b34e-7ed0-5ecd-6cf4-192e7393663c
* Version Independent ID: cb186c12-22a3-5ac4-667c-b1d07ab5f566
* Content: [Design Policy as Code workflows - Azure Policy](https://docs.microsoft.com/en-us/azure/governance/policy/concepts/policy-as-code)
* Content

[2020-02-01 15:50] spmanjunath commented on #47258
Micorsoft documentation on **Azure policy** repo structure recommends using [params.dev.json/params.tst.json/...](https://docs.microsoft.com/en-us/azure/governance/policy/concepts/policy-as-code#create-and-update-policy-definitions) to store parameter values.  Is it possible to use this file as part of `New-AzPolicyAssignment` cmdlet, the way the azurepolicy.rules.json (**-policy**) and azurepolic

[2020-02-01 15:56] jurajgh commented on #47255
update: so I just tried with a regular (test) user account, and the Sign-Ins blade *does* list sign ins for it, however, the Conditional Access policy still doesn't apply. If I reconfigure the CA policy to apply to "All applications", it starts working for Azure VPN as well. this, however, doesn't solve the problem, as we need CA policies to be applied to particular apps, instead of all of them.
n

[2020-02-01 16:08] jurajgh commented on #47255
update#2: the Sign-Ins blade reports the policy as "Not applied", while the "What if" tool in the Conditional Access "home" blade lists the policy in "Policies that will apply" list. now i'm totally confused.

[2020-02-01 16:27] Air-Git commented on #47238
But the tutorial on the use of templates is excellent. Clear and accurate.

[2020-02-01 16:29] bartvermeersch opened #47261 "Caution remark on not enabling SSPR is unclear"
The following remark is not very clear.

"If you do not enable Self-service Password Reset (SSPR) in Azure AD users will have a confusing experience when they reset their password in Azure AD and then attempt to sign in in Active Directory with the new password, as the new password isn’t valid in Active Directory. You should only use this feature when SSPR and Password Writeback is enabled on the

[2020-02-01 17:24] spmanjunath opened #47264 "Inconsistency in allowed length between 'assignment name' through portal and powershell cmdlet"
In the New-AzPolicyAssignment the 'Name' parameter limits length to 64 characters (there is exception if length exceeds 64 chars), however Azure portal does not seem to have such restriction.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17303875-153e-fc00-382d-39a10596ab3a
* Version Independent ID: 6eeda5e5-e

[2020-02-01 17:48] plord789 commented on #45857
Yes, Jas. I can confirm. You've got it right. The B2C Twitter IdP
connection is frozen it will not allow an update to the new and corrected
Twitter Reply URL.

On Fri, Jan 31, 2020 at 6:42 PM Jas Suri <notifications@github.com> wrote:

--
*AltoVio*
*Digital Marketing and Productivity Solutions*
Nashua, NH

PH: (978) 828-8482

[2020-02-01 17:51] skyarkitekten commented on #47242
Thanks for the quick reply. I also had the type issue, I will open a second issue for that.

I do appreciate that this documentation used x509- security must be 'part of the start'.

[2020-02-01 17:57] skyarkitekten opened #47265 "Type Issue on the Insert Function"
When inserting the data, there is a type error:

&gt; There was an error Cannot read property 'type' of undefined TypeError: Cannot read property 'type' of undefined
at getParamType (C:\Users\miubezzi\projects\git-samples\azure-cosmos-db-cassandra-nodejs-getting-started\node_modules\cassandra-driver\lib\requests.js:328:50)...

This is due to a mismatch in the number of args in the query and the pa

[2020-02-01 18:09] ggailey777 commented on #45365
Thanks @xhinker for your feedback. Would you find an animated .gif more helpful? It would also need to be updated for UI changes.

[2020-02-01 18:15] dotnetgator opened #47266 "ClaimsExchange element declaration in ClaimsExchanges section is incorrect, incomplete"
The ClaimsExchange element is listed as 0:n. This is incorrect. A ClaimsExchanges element must have at least 1 ClaimsExchange entry.

Furthermore, the ClaimsExchange element can only have &gt; 1 entry under a very specific circumstance - when it is preceded by a claims provider selection in order to determine which claims exchange can be used. That circumstance is described above in the "ClaimsPro

[2020-02-01 18:19] gregsmi opened #47267 "Confusing statement in Blob binding attributes"
These two sentences are nonsensical together:"If the app setting name begins with "AzureWebJobs", you can specify only the remainder of the name here. For example, if you set connection to "MyStorage", the Functions runtime looks for an app setting that is named "MyStorage.""

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-02-01 18:33] lyrana commented on #47235
Hello @fgheysels thank you for opening this issue, the fix for duplicate properties in PAYG Preview is in production and this documentation will be updated to remove that warning by the end of the week.

[2020-02-01 19:03] dotnetgator opened #47268 "The Type of Technical Profiles section is missing the One-time password type"
The section above https://docs.microsoft.com/en-us/azure/active-directory-b2c/technical-profiles-overview#type-of-technical-profiles lists a variety of scenarios that provide a superset of the sibling documents in the same section. This list is missing a reference to and description of the use case for the "One-time password" TP that is in the same set, which can be found at https://docs.microsoft

[2020-02-01 19:04] ggailey777 commented on #45009
Thanks @robertlagrant an excellent point! We want to try to be a Python-y as possible.

[2020-02-01 19:14] dotnetgator opened #47270 "Please remove "Facebook" from the concept of "Getting Started with Custom Policies in AAD B2C""
While it is nice to know that you can use Facebook and other Social IdP's with AAD B2C Custom Policies, "Getting Started" is a universal concept that includes use cases that do and do not want to leverage social identities. However, this "Getting Started" document, which is referenced frequently throughout the B2C Custom Policy docs, makes it almost seem like you cannot get started with working on

[2020-02-01 19:17] nbarrasson commented on #36939
Hello,
Same issue there.
Trying to attach a different AAD than the one from my APIM sub and get the error.

[2020-02-01 19:21] ggailey777 commented on #45062
I'll update to clarify this article. Thanks all!

[2020-02-01 19:24] ggailey777 commented on #45883
These issues are addressed in the most recent updates. #please-close

[2020-02-01 19:24] #45883 closed

[2020-02-01 19:24] dcurwin commented on #47136
#reassign:sachdevaswati

[2020-02-01 19:25] ggailey777 commented on #45036
@kulkarnisonia16 can you suggest a more reasonable structure for the shared_code folder examples?

[2020-02-01 19:57] MatthewSteeples opened #47271 "0.9 is available"
See https://github.com/MicrosoftGenomics/msgen#release-notes-v0-9-0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d65cda4-f125-43c7-3b46-7eab85fad8b4
* Version Independent ID: a7de4399-04af-30ee-7b52-97823d5a2626
* Content: [Version release history - Microsoft Genomics](https://docs.microsoft.com/en-us/azure/genomics

[2020-02-01 20:12] nbarrasson commented on #42136
Same here.
Any news ?

[2020-02-01 20:36] bartvermeersch commented on #40130
@MicrosoftGuyJFlo can you share the feedback from the PG?

[2020-02-01 21:33] dotnetgator opened #47272 "A distinction needs to be made between this Technical Profile and the one used in the RelyingParty element"
Both this Technical Profile, which is used to call an Open ID Connect endpoint, and the one in the Relying Party element (https://docs.microsoft.com/en-us/azure/active-directory-b2c/relyingparty#technicalprofile), which is used to RETURN information from an OIDC TP, have identical declarations in that they both specify the Protocol of "OpenIdConnect". However, the required items when it is specifi

[2020-02-01 22:35] GedillurBjorn opened #47273 "ASP.Net Core version"
Hi,

Is it possible to have a version of the web app calling the api using .Net Core 3.1 ?

[2020-02-01 23:32] robertlagrant commented on #44332
@tomarchermsft it would be good to get an update.

[2020-02-01 23:35] samjones00 opened #47274 "Example link is incorrect"
Under the heading "Queue service concepts", there's a diagram including queues including the queues "incoming-orders" and "outgoing-orders", and then further down under the URL Format bullet point the example link is "http://myaccount.queue.core.windows.net/images-to-download". Where does "images-to-download" to come from? Maybe that line can be removed?

---
#### Document Details

⚠ *Do not edit

[2020-02-01 23:45] dotnetgator opened #47275 "Several incorrect occurrence specifiers for the TechnicalProfile element"
There are several problems with the TechnicalProfile documentation:
* SubjectNamingInfo is required, not 0:1
* OutputClaims is required, not 0:1 (the claim indicated in SubjectNamingInfo must appear inside the OutputClaims collection)
* (Related) In OutputClaims, OutputClaim is not 0:n, it is 1:n, where the 1 must be the claim indicated in the SubjectNamingInfo element
* DisplayName is required, n

[2020-02-01 23:49] dotnetgator opened #47276 "What is the purpose of the Metadata element indicated in the TechnicalProfile?"
The documentation indicates a Metadata element can be included within the TechnicalProfile:
_The collection of Item of key/value pairs utilized by the protocol for communicating with the endpoint in the course of a transaction to configure interaction between the relying party and other community participants._

For this particular TP, what are the uses of the Metadata element? And why is Metadata

[2020-02-01 23:51] dotnetgator opened #47277 "Under what specific circumstances are the TechnicalProfile DisplayName and Description "displayed to users"?"
The descriptions for both the DisplayName and Description elements in the TP section include the phrase that is displayed to users. Where specifically in the interaction with a Custom Policy, do the DisplayName and Description of the RelyingParty's Technical profile get displayed to end-users?

Or is this an error in the documentation that needs to be corrected?

---
#### Document Details

⚠ *Do n

[2020-02-01 23:52] andecreation commented on #47130
@BryanTrach-MSFT: Thank you for looking in to this issue.  We are also facing same problem with SQLite and Azure File.

[2020-02-02 00:03] JasSuri commented on #45857
The callback url provided in our B2C portal can never be changed. You must take that URL and replace the policyId etc, and put that url in the Twitter Dev Portal against the App Registration there.

[2020-02-02 00:35] gerardvanderland opened #47278 "Small error in PowerShell command"
The PowerShell command to put a CanNotDelete lock on the SOA record has a misplaced space.

-ResourceType" Microsoft.Network/DNSZones/SOA" should be -ResourceType "Microsoft.Network/DNSZones/SOA"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0290c16b-f205-94bb-23c3-4981ec8b0ac3
* Version Independent ID: 3ad049c0-a292-

[2020-02-02 01:06] mganeshphani opened #47279 "Copy file size limit"
the 15MB limit on the copy file is no longer a hard limit, looks like one of the project teams I work with successfully copied 45MB file

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8acdbe0-a74f-a747-10f3-c861c831e46a
* Version Independent ID: bf1b180c-b240-6340-d409-74dfc125a5d6
* Content: [Connect to SFTP server w

[2020-02-02 01:19] dpaulino opened #47280 "Azure DevOps token question"
Can I use the token provided by this MSAL library to make calls to the Azure DevOps rest api?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cceddcd-1431-ab61-df75-7ccf74a84fba
* Version Independent ID: d5833a30-c43e-8048-63b3-d94d26410a3b
* Content: [Microsoft identity platform Windows UWP quickstart](https://docs.mi

[2020-02-02 01:21] dpaulino opened #47281 "Update ADAL v3 references to MSAL?"
MSAL is now available as the next generation of the ADAL packages. Should this page be updated to mention MSAL instead of ADAL?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5e545dc-070f-9f8f-ba70-1465eb690878
* Version Independent ID: dcdae435-fdb2-7757-143e-85fb16766f95
* Content: [Azure Active Directory Authentica

[2020-02-02 01:54] yoelhor commented on #47277
Thanks you for your feedback. We are fixing the document as following: display name is required, and not display to the user. Description is not required and not display to the user. You should see the changes in the next couple of days.

[2020-02-02 02:05] marckassay opened #47282 "TLS 1.0 and 1.1 are retired"
According to this:
"Starting January 13, 2020, Azure Container Instances will require all secure connections from servers and applications to use TLS 1.2. Support for TLS 1.0 and 1.1 will be retired." -[link](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-overview#container-access)

So, I believe that the nginx.conf file in this [section](https://docs.microsoft.com/

[2020-02-02 02:19] Mike-Ubezzi-MSFT commented on #47282
@marckassay Thank you for bringing this to our attention. I will have the content author review this and make an update as appropriate.

[2020-02-02 02:28] Mike-Ubezzi-MSFT commented on #47265
@skyarkitekten Thank you for taking the time to file this issue and detail the root cause. I will have the content author review this, as well as make the repository contributors aware of this issue. @kanshiG @zanasrin @mimig1 @kansrini @cmcclister for awareness.

[2020-02-02 02:33] yoelhor commented on #47276
From IEF schema perspective the rallying party technical profile MAY have metadata. Although in most cases the metadata is not required, there are some scenarios that you may set a metadata. For example, the previous version of [SAML relying RP (service provider)](https://docs.microsoft.com/en-us/azure/active-directory-b2c/connect-with-saml-service-providers) had some metadata.

[2020-02-02 02:35] Mike-Ubezzi-MSFT commented on #47261
@bartvermeersch Thank you for making us aware of this scenario with our documentation. I will have the content team evaluate this and make an update as appropriate.

[2020-02-02 02:38] Mike-Ubezzi-MSFT commented on #47266
@dotnetgator Thank you for providing feedback with this precision of detail. I will have the content team evaluate this information and make an update as appropriate.

[2020-02-02 02:39] Mike-Ubezzi-MSFT commented on #47268
@dotnetgator Thank you for providing feedback with this precision of detail. I will have the content team evaluate this information and make an update as appropriate.

[2020-02-02 02:42] yoelhor commented on #47275
Thanks you for your feedback. We are fixing the document you should see the changes in the next couple of days.

[2020-02-02 02:44] Mike-Ubezzi-MSFT commented on #47270
@dotnetgator Thank you for providing feedback with this precision of detail. I will have the content team evaluate this information and make an update as appropriate.

[2020-02-02 02:46] Mike-Ubezzi-MSFT commented on #47272
@dotnetgator Thank you for providing feedback with this precision of detail. I will have the content team evaluate this information and make an update as appropriate.

[2020-02-02 02:56] Mike-Ubezzi-MSFT commented on #47280
@dpaulino Thank you for taking the time to detail your question and file this issue. We are investigating and will update you when we have additional information to share.

[2020-02-02 02:59] Mike-Ubezzi-MSFT commented on #47281
@dpaulino Thank you for taking the time to file this issue and make us aware of the documentation. I am going to have this issue reviewed and upon confirmation, we will have the documentation updated as appropriate.

[2020-02-02 03:03] Mike-Ubezzi-MSFT commented on #47267
@gregsmi Thank you for providing feedback with this precision of detail. I will have the content team evaluate this information and make an update as appropriate.

[2020-02-02 03:05] Mike-Ubezzi-MSFT commented on #47279
@mganeshphani Thank you for providing feedback with this level of detail. I will have the content team evaluate this information and make an update as appropriate.

[2020-02-02 03:09] Mike-Ubezzi-MSFT commented on #47258
@spmanjunath Thank you for the inquiry. We are investigating your inquiry and will update this issue when we have additional information to share.

[2020-02-02 03:16] Mike-Ubezzi-MSFT commented on #47264
@spmanjunath Thank you for bringing this to our attention. Might be a good idea to detail this in the documentation, as well as making the PG aware of this inconsistency.

[2020-02-02 03:19] Mike-Ubezzi-MSFT commented on #47278
@gerardvanderland Thank you for bringing this to our attention. We will get a PR filed and a fix published to the public facing version of the document.

[2020-02-02 03:22] Mike-Ubezzi-MSFT commented on #47274
@samjones00 Thank you for bringing this to our attention. We will have a fix published after reviewing the content for accuracy.

[2020-02-02 04:05] Mike-Ubezzi-MSFT commented on #47271
@MatthewSteeples Thank you for bringing this to our attention. I have assigned this to the content team to update the [Version Release History](https://docs.microsoft.com/en-us/azure/genomics/version-release-history-genomics) document with this release detail.

[2020-02-02 04:14] Mike-Ubezzi-MSFT commented on #47273
@GedillurBjorn Thank you for your interest in Azure. Would it be possible to provide a link to a document that best exemplifies your use case? At this time, based upon your inquiry, this is a forum question best handled by [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azureappconfiguration&filter=alltypes&sort=lastpostdesc) or [Stack Overflow](https://stackoverflow.com/search?q=

[2020-02-02 04:35] lucidqdreams commented on #46938
Right, but this is a probe setup by kubernetes. I have a shared instance so kubernetes should be controlling all features of the ingress via the application gateway without me having to update any settings in the application gateway. Also If I change anything the k8s aad pod should theoretically change it back.

What I understand the url path to be is that I can mask a back end service hosted in k

[2020-02-02 06:57] euphonious28 opened #47284 "String checking done incorrectly"
In RegistrationIntentService, you're checking a String using != instead of .equals() which is causing the token to be considered compromised everytime

            // Check to see if the token has been compromised and needs refreshing.
&gt;&gt;       else if ((storedToken=sharedPreferences.getString("FCMtoken", "")) != FCM_token) {

---
#### Document Details

⚠ *Do not edit this section. It is req

[2020-02-02 07:10] yossi-y commented on #47006
The Application Insights Connector was deprecated early 2019 (https://docs.microsoft.com/en-us/azure/azure-monitor/platform/oms-portal-transition#application-insights-connector-and-solution) and the method of sending Application Insight logs to Log Analytics workspace and with that, the 'ApplicationInsights' table isn't generated in the workspace. Therefore, querying 'ApplicationInsights' generate

[2020-02-02 07:38] andyjballgit opened #47285 "What version of OWASP ruleset does Azure Front Door Default Result implement ?"
I can't find any information about this .

Also this article mentions preview as per below ,which is out of date now right ?

At public preview, the Azure-managed Default Rule Set includes rules against the following threat categories:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8861d29-34c3-3b42-058d-d27d667560b7

[2020-02-02 08:49] akki-s commented on #39518
@mattchenderson Does your comment mean that anyone who have access to Kudu credentials, can view the secrets from Key Vault if the app service in question here has managed identity access to Key Vault? I think this is a security risk, because we may have someone from our support team accessing kudu, but we still do not want them to view secrets. Kudu can not only be accessed by using one's own cre

[2020-02-02 09:15] DashleenBhandari-MSFT commented on #46839
@bhatir , This would be helpful:

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule ^.*$ /public/$1 [NC,L,QSA]
</IfModule>

https://raw.githubusercontent.com/Azure-Samples/laravel-tasks/master/.htaccess

The Laravel application starts in the /public directory. The default PHP Docker image for App Service uses Apache, and it doesn't let you customize the DocumentRoot for Laravel. Howeve

[2020-02-02 09:51] fabito commented on #43302
Another important detail: don't forget to enable delegation in the target subnet.

[2020-02-02 10:35] amanmcse commented on #47284
@euphonious28  Thank you for your feedback. We will investigate and update the thread further.

[2020-02-02 10:37] amanmcse commented on #47285
@andyjballgit  Thank you for your feedback. We will investigate and update the thread further.

[2020-02-02 11:20] lucidqdreams commented on #46938
This text has no mention of powershell or probes. It's says I can add additional paths to expose other services from k8s directly

![Screenshot_20200202-031737_Chrome](https://user-images.githubusercontent.com/6086602/73607418-a7114c00-456a-11ea-86a6-fc948fb14598.jpg)

[2020-02-02 12:30] plord789 commented on #45857
Jas -

Thanks for the feedback.
But, I'm not sure if I understand correctly.
The recommendation puts me back to where I first discovered the problem.
Something I did not mention earlier: The Tenant was only recently set up.
There are only a few test user accounts in the directory.
Would it be better/effective to delete the B2C Tenant and start over?

Thanks again for the assist.

Peter

On Sat, Fe

[2020-02-02 12:41] JasSuri commented on #45857
If you follow the article end to end again, everything should work. Or you just need to reconfigure the Callback URL at the **Twitter Dev Portal** to be lowercase.

[2020-02-02 12:55] plord789 commented on #45857
If I understand correctly, you are saying to put the following in the *Twitter
Dev Portal *setting.

https://<mydomain>.b2clogin.com/ <mydomain> .onmicrosoft.com/
*your-user-flow-id*/oauth1/authresp

Does not "your-user-flow-id" section need to be fixed?

On Sun, Feb 2, 2020 at 7:41 AM Jas Suri <notifications@github.com> wrote:

--
*AltoVio*
*Digital Marketing and Productivity Solutions*
Nashua, N

[2020-02-02 13:24] jpietruszewski commented on #46469
@shashishailaj Is it possible for you to solve @dkedzior-smh problem? To be honest we are waiting for your response. We have tried all suggestions which have not helped us.

[2020-02-02 14:09] mganeshphani commented on #47279
Thanks Mike

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Mike Ubezzi <notifications@github.com>
Sent: Saturday, February 1, 2020 9:05:15 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Ganesh Phani Kumar Majeti <mganeshphani@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Copy file size limit (#

[2020-02-02 14:33] asterisk37n commented on #11741
Same here. I just started to use azure for GPU, but I cannot request GPU quota, and I need pay for general support.

[2020-02-02 14:40] SnehaAgrawal-MSFT commented on #47097
@Ayanmullick Thanks a lot for your valuable feedback! The best way to share your feedback would be to create a [User Voice feedback](https://feedback.azure.com/forums/169385-web-apps) item and upvote it. The product group monitors this site for feedback. This is the best way to ensure you are heard and you may receive a response depending on how much they information they can currently share.
We w

[2020-02-02 14:45] SnehaAgrawal-MSFT commented on #47028
@loopfish Thanks again for the feedback! The screenshot in the document is captured from a Linux Web App which has a different set of diagnostic reports in Diagnose and Solve Problems.
For Windows web app, suggest you view the Application Event Logs. You can get to Application Event Logs by searching “Application Event Logs” in the search bar or going to Diagnostics Tools -> Application Event Logs

[2020-02-02 15:35] guyetoro opened #47286 "Azure B2C reset password"
I managed to reach the page in B2C but after the reset password, the new temp password doesn't work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0576a50-8bfd-ac73-6cfc-5121de4c1ba1
* Version Independent ID: df6d7234-db4f-1a15-3010-26bd56d934e8
* Content: [Self-service password reset in Azure Active Directory B2C](ht

[2020-02-02 15:43] yanivlavi commented on #46707
@ankur021188 Can you please open a support case for us to work with you on resolving this?
Without more details, I can say it maybe because you have enabled common schema that reverts any custom email subject/JSON.

[2020-02-02 15:52] JasSuri commented on #45857
Yes it need to to be changed as per this part of the article:

https://docs.microsoft.com/en-gb/azure/active-directory-b2c/identity-provider-twitter#create-an-application

It does not need to be changed or fixed in the Azure Portal. The greyed our text is just for guidance to set it at the Twitter Portal as per the above link.

[2020-02-02 16:16] ecfan commented on #47078
Hi @szliuxf, thanks for finding this issue. The docs will be updated tomorrow.

@DixitArora-MSFT: #please-close

[2020-02-02 16:16] #47078 closed

[2020-02-02 16:18] dotnetgator opened #47287 "Incorrect Occurrences value specified for ClaimType"
DataType is currently indicated as 0:1. It should be changed to 1:1. DataType is a required element in a ClaimType declaration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e31c230-4294-6b21-91c2-b829852f80a3
* Version Independent ID: ea251507-2a65-6ceb-0ccf-fa4f75133fa3
* Content: [ClaimsSchema  - Azure Active Dire

[2020-02-02 16:42] ecfan commented on #43566
@ToMakeSense, could you please respond to Divya's question? Thanks!

[2020-02-02 17:07] plord789 commented on #45857
I did that earlier, as explained. Here is the Callback URL in the twitter
app:

https://<tenant>.b2clogin.com/ <tenant>  .
onmicrosoft.com/b2c_1_signupsignin01/oauth1/authresp

On Sun, Feb 2, 2020 at 10:52 AM Jas Suri <notifications@github.com> wrote:

--
*AltoVio*
*Digital Marketing and Productivity Solutions*
Nashua, NH

PH: (978) 828-8482

[2020-02-02 17:09] JasSuri commented on #45857
Do you get an error, what’s the problem after doing that?

[2020-02-02 17:16] plord789 commented on #45857
<<  It does not need to be changed or fixed in the Azure Portal. The greyed
our text is just for guidance to set it at the Twitter Portal as per the
above link. >>

The above statement is incorrect if it has the below value:

https://<tenant>.b2clogin.com/ <tenant>  .onmicrosoft.com/
*your-user-flow-id*/oauth1/authresp

As in instruction  *Item 4*.   Replace your-tenant with the name of your
tenan

[2020-02-02 17:18] JasSuri commented on #45857
Item 4 is completed in the Twitter Dev Portal, where it can be modified.

[2020-02-02 17:20] plord789 commented on #45857
Jas,

I have changed nothing since you joined this thread. See my latest message.

On Sun, Feb 2, 2020 at 12:09 PM Jas Suri <notifications@github.com> wrote:

--
*AltoVio*
*Digital Marketing and Productivity Solutions*
Nashua, NH

PH: (978) 828-8482

[2020-02-02 17:24] JasSuri commented on #45857
If it’s still not working, we need an error.

As I said Azure does not need or care about this URL. We generate it automatically in the request to Twitter. The fact that you cannot change it in the Azure Portal is not a problem.

 **Twitter does** care about the URL and you must supply the URL to Twitter manually. Make the change in the Twitter Dev Portal as Item 4 describes.

I don’t see how the

[2020-02-02 17:29] fgheysels commented on #47235
@lyrana thanks for the answer.
Does this mean that this kind of messages is also supported for TSI PAYG preview:

[code]
I'm asking this since I do not succeed in visualizing the data when sent in this format in the TSI web view.

[2020-02-02 17:55] GilShalit opened #47288 "Sample .net core application not running tests in VisualStudio 2019"
The sample application aspnet-core-dotnet-core is created with UnitTests and FunctionalTests projects.  When I clone the application to VisualStudio 2019, I am not able to run the Functional Tests locally.  I need this to be able to debug tests while crating them.

The ChromeDriver .Navigate().GoToUrl(webAppUrl) produces a window with the message 'localhost refused to connect.'

Any idea as to how

[2020-02-02 18:04] jj-moore opened #47289 "Application package not activated"
When the sample code (https://github.com/Azure-Samples/batch-dotnet-ffmpeg-tutorial) tries to create the batch pool, it threw an error stating the application package was not activated.

The command here, https://docs.microsoft.com/en-us/cli/azure/batch/application/package?view=azure-cli-latest#az-batch-application-package-activate activated the package and eliminated the error.

---
#### Document

[2020-02-02 18:09] jj-moore opened #47290 "Low-priority node quota"
The sample code (https://github.com/Azure-Samples/batch-dotnet-ffmpeg-tutorial.git) failed to run the job as the code uses low-priority nodes and the default quota for my Batch account was 0 low-priority nodes.

Setting the instance variable LowPriorityNodeCount=0 and the DedicatedNodeCount=5 fixed the issue and allowed the job to complete.

Alternatively, I suppose you could request an increase i

[2020-02-02 18:47] swieder opened #47291 "Does SAMLToolkit actually support Just In Time user provisioning??"
In workshop using SAMLToolKit as sample app and proctor from Product Group says that SAMLToolkit does not support user provisioning and it doesn't appear that it does.

This section https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/saml-toolkit-tutorial#create-azure-ad-saml-toolkit-test-user states that it does.  Please verify that it does.... and if so, please update docs to inclu

[2020-02-02 18:51] nthewara opened #47292 "Basic SAML Configuration is incorrect"
article above doesn't indicate that we need to get SAML basic configuration from the SAML Tookit App and replace them without using generic Sign on URL. Article need to specify the pattern that needs to be used eg for Sign on URL https://samltoolkit.azurewebsites.net/SAML/Login/&lt;3 digit number&gt; and Reply URL https://samltoolkit.azurewebsites.net/SAML/Consume/&lt;3 digit number&gt;

---
####

[2020-02-02 19:14] vplauzon commented on #43302
I did (copied it from your sample).  What I found odd is that if I removed the service endpoint from your sample, it doesn't work.  I thought that integration was independent from service endpoint but it doesn't seem to be the case.

[2020-02-02 19:43] plord789 commented on #45857
Jas-

The article is accurate.
My problem lies elsewhere.
Error: AADSTS50011

Sorry for the confusion.

On Sun, Feb 2, 2020 at 12:24 PM Jas Suri <notifications@github.com> wrote:

--
*AltoVio*
*Digital Marketing and Productivity Solutions*
Nashua, NH

PH: (978) 828-8482