[2020-07-06 09:53] Sharmistha-Rai commented on #56754
@Rajeswari-Mamilla - requesting you to go through this query.

[2020-07-06 09:53] Sharmistha-Rai commented on #57981
@mayurigupta13 - requesting you to go through this query.

[2020-07-06 09:53] Sharmistha-Rai commented on #56207
@Rajeswari-Mamilla - requesting you to go through this query.

[2020-07-06 09:56] asergaz commented on #54519
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-06 09:56] #54519 closed

[2020-07-06 09:57] amanmcse commented on #58267
@frankdrewes Thank you for sharing the details. I have updated the document and submitted for author review. The changes might take around 24 hrs to reflect.

[2020-07-06 09:58] #58286 closed

[2020-07-06 10:03] amanmcse commented on #58302
@fowl2  I just verified the link is working. Could you please try again or use this URL: https://www.microsoft.com/en-us/download/details.aspx?id=56843

[2020-07-06 10:03] #58302 closed

[2020-07-06 10:04] dastewa commented on #58451
Thanks a lot @shashishailaj - I appreciate the help on clarifying this.

[2020-07-06 10:07] sormita opened #58463 "Not able to get on-prem K8S logs in LogAnalytics Workspace"
I am trying to get the logs from on-prem K8s cluster. The cluster is succefully on-boarded to Azure portal but I cannot see the logs though the script is successfully executed at my end:
![image](https://user-images.githubusercontent.com/32789466/86581799-3ef1e680-bf9e-11ea-900f-a390d0fe204e.png)
The cluster is visible in the Azure portal, however no logs are available:
![image](https://user-image

[2020-07-06 10:09] justin-caldicott opened #58464 "-p doesn't seem to be a valid option on this page"
`azure storage blob upload -c <connectionstring> -p cacheControl="max-age=3600"`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e745eb82-ea12-5135-31f8-7f5a88882560
* Version Independent ID: 68496c81-5048-fb2b-645f-ead02aa2fbf6
* Content: [Manage expiration of Azure Blob storage - Azure Content Delivery Network](https:

[2020-07-06 10:13] becke-ch-s0-v1 opened #58465 "Wrong title/link: "Azure Machine Learning SDK for Python" should be "Azure Machine Learning SDK for R""
[Enter feedback here]
Hi,
On Page: https://docs.microsoft.com/en-us/azure/machine-learning/concept-train-machine-learning-model
The title "Azure Machine Learning SDK for Python" links to the page: https://docs.microsoft.com/en-us/azure/machine-learning/concept-train-machine-learning-model#r-sdk
And therefore the title needs to be changed to: "Azure Machine Learning SDK for R"
Kind Regards
Raoul
--

[2020-07-06 10:14] AnuragSharma-MSFT commented on #58449
@michaelhambe Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-07-06 10:15] AnuragSharma-MSFT commented on #58460
@keyz182 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-07-06 10:22] becke-ch-s0-v1 opened #58466 "Data Flow Diagram: Missing: Microsoft Container Registry (MCR)"
[Enter feedback here]
Hi,
I think on the page: https://docs.microsoft.com/en-us/azure/machine-learning/concept-enterprise-security#data-flow-diagrams
The component: "Microsoft Container Registry (MCR)"
Because according to: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-enable-virtual-network#compute-instance
Some images are coming from MCR - especially when working with the design

[2020-07-06 10:25] BhargaviAnnadevara-MSFT commented on #58114
@pnarsi We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-07-06 10:25] #58114 closed

[2020-07-06 10:44] AjayKumar-MSFT commented on #58444
@JoseFMP, Thanks for taking time to share your valuable feedback. It's much appreciated.

The doc aims at demonstrating key concepts and steps on how to attach Azure Storage to App Service Linux. For example, here you learn about the  ‘Prerequisites, ‘Limitations of Azure of Storage with App Service’, and instructions on how to Configure and Verify app with Azure Storage. For a detailed instructio

[2020-07-06 10:49] anvarich commented on #37025
i can't understand such things

[2020-07-06 10:52] m-chau opened #58467 "Obsolete Sample Code for Client-Side Encryption/Decryption for Azure Storage"
The sample listed at this uses the legacy Storage SDK. Since [Microsoft Docs](https://docs.microsoft.com/en-us/dotnet/api/overview/azure/storage?view=azure-dotnet) recommends using version 12.x for new applications, the sample here should be updated. This is necessary because many APIs used here seems to be missing in the new version.

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-07-06 10:54] simonness opened #58468 "Missing details about logical partition size limit?"
[This stackoverflow](https://stackoverflow.com/questions/48034580/azure-cosmosdb-partition-key-reached-maximum-size-of-10-gb) shows lots of people have been caught out by a limit on the size of a logical partition.  I'm surprised that it's not mentioned on this page, perhaps in the section "Choosing a partition key"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2020-07-06 10:59] ram-msft commented on #58389
@NickAjderian We apologize for the inconvenience that has caused the portal to fail.We had a deployment issue that caused this and our team is fixed the same. Could you please try the scenarios again and check if it is successful?

[2020-07-06 11:00] nkumars opened #58469 "Custom B2C Policy: ByPass selfAsserted page during signing from external IDP"
I have a use case that some of the expected claims (eg: displayName, familyName, surname) that user must input in **selfAsserted** page should be prefilled and proceed with next step and **not having this page popping to the user (in other words, selfAsserted page should be bypassed)**,

Please note this is for a sign-in flow from an external IDP. I assume this is something to do with **SelfAssert

[2020-07-06 11:01] AjayKumar-MSFT commented on #58443
@JoseFMP, Thanks again for taking time to share your valuable feedback and in contributing to Azure doc improvements.

As mentioned in this #https://github.com/MicrosoftDocs/azure-docs/issues/58444 –custom-id is the unique identifier for the storage mapping- You may checkout these [samples](https://github.com/rramachand21/appsvcdemobyos).
and as mentioned [here](https://azure.github.io/AppService/

[2020-07-06 11:07] elbaza1 opened #58470 "Event Hub Output Binding Example with func.Out example"
I came across many implementations in python with output bindings for Event Hub using the $return, however I am unable to find an example with the func.Out object.
In my __init__.py i tried :
`def` main(events: List[func.EventHubEvent], results: `func.Out[func.EventHubEvent])`

With functions.json
`...`
 `{`
 `    "type": "eventHub",`
`      "name": "results",`
`      "eventHubName": "event-hub-20

[2020-07-06 11:28] Sharmistha-Rai commented on #42148
@jeffwmiles - this capability is now available on UI too. You should use that capability rather than this script.

[2020-07-06 11:34] str1ke-cw commented on #57689
I just want to let you know, that the module is working as expected when 1.3-linux-arm32v7 is used. Please let me know, when the arm64v8 is updated as well. Also from all that I got so far it seems that the documentation [here](https://docs.microsoft.com/de-de/azure/iot-edge/how-to-store-data-blob#supported-storage-operations) should be updated to say that API version 2019-07-07 is used (at least

[2020-07-06 11:36] BukeMan commented on #54847
@SaurabhSharma-MSFT @rwike77: do you have any update on this?

[2020-07-06 11:45] amanmcse commented on #58448
@BarakSilverfort There is an issue ([54714](https://github.com/MicrosoftDocs/azure-docs/issues/54714)) already assigned to the author of the document regarding this. Please follow that thread.

[2020-07-06 11:45] #58448 closed

[2020-07-06 11:50] CHEEKATLAPRADEEP-MSFT commented on #50023
@mamccrea Any update on this issue?

[2020-07-06 11:50] CHEEKATLAPRADEEP-MSFT commented on #53487
@mamccrea Any update on this issue?

[2020-07-06 11:50] CHEEKATLAPRADEEP-MSFT commented on #54342
@mamccrea Any update on this issue?

[2020-07-06 11:51] loket commented on #53299
I experienced the exact same issue. Turns out, it was the RBAC role assignments that hadn't been properly propagated, as is warned about in [this](https://docs.microsoft.com/en-us/azure/storage/common/authorize-data-operations-cli?toc=/azure/storage/blobs/toc.json#example-authorize-an-operation-to-create-a-container-with-azure-ad-credentials) document:

I tried this command several times, and it f

[2020-07-06 11:52] CHEEKATLAPRADEEP-MSFT commented on #56762
@cequencer  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-06 11:52] #56762 closed

[2020-07-06 11:53] CHEEKATLAPRADEEP-MSFT commented on #56828
@mamccrea Any update on this issue?

[2020-07-06 11:54] CHEEKATLAPRADEEP-MSFT commented on #56875
@mamccrea Any update on this issue?

[2020-07-06 11:54] CHEEKATLAPRADEEP-MSFT commented on #56891
@mamccrea Any update on this issue?

[2020-07-06 11:57] VikasPullagura-MSFT commented on #58459
@phenixita
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-07-06 12:14] simonvane opened #58471 "Additional cause of unauthorized: authentication required could be documented"
Regarding the section:
_az acr login succeeds but docker fails with error: unauthorized: authentication required
Make sure you use an all lowercase server URL, for example, docker push myregistry.azurecr.io/myimage:latest, even if the registry resource name is uppercase or mixed case, like myRegistry._

Another cause of this can be including the port number e.g.:
`docker push myregistry.azurecr.io

[2020-07-06 12:18] VikasPullagura-MSFT commented on #58423
@iainfoulds
Can you please check and add your comments on this doc update request as applicable.

[2020-07-06 12:23] VikasPullagura-MSFT commented on #58471
@simonvane
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-07-06 12:23] VikasPullagura-MSFT commented on #58471
@sajayantony
Can you please check and add your comments on this doc update request as applicable.

[2020-07-06 12:27] LukeGahan commented on #45914
@linda33wj Hi just reading through this and I was wondering if this connector was updated? We've been using this without trouble until a week ago but have noticed an issue with reading from the customers.json endpoint in the last week. Just wondering if it's possibly related to the end of support for Shopify APIs 2019-04 and 2019-07

PS the REST connector pagination doesn't support the link format

[2020-07-06 12:30] AnuragSharma-MSFT commented on #58468
@simonness Thank you for the feedback.

Actually limit on the size of logical partition has been covered in very next article [Logical partitions](https://docs.microsoft.com/en-us/azure/cosmos-db/partition-data) under 'Logical partitions' sections. Please let us know if that covers your suggestion.

If there are further questions regarding this matter, please comment and we will gladly continue th

[2020-07-06 12:36] danfaulkner81 commented on #31078
Is GPO control still an issue?
Looking to enabling HAADJ in the next few weeks and planning on using this GPO as part of our implementation.

[2020-07-06 12:43] ram-msft commented on #58202
@diberry Thanks for the details.May I know if any backlog item has been created for this to get published in near future, If yes I will proceed further to close this thread.

[2020-07-06 13:03] diberry commented on #58202
@ram-msft Yes, internal tracking item created for both unsure predictions tutorial and pattern tutorial. Unsure predictions is published live, as of this morning. Patterns is still in sprint.

[2020-07-06 13:09] amanmcse commented on #58361
@foramkumar-parekh For this purpose, Azure AD B2C first need to request email claim from the federated Azure AD. For this purpose, you need to add email scope to under ```<Metadata>``` tag in the Technical Profile for federated Azure AD.

```<Item Key="scope">openid profile email</Item>```

Then add below output claim to ```<OutputClaims>``` in that Technical Profile.

```<OutputClaim ClaimTypeRef

[2020-07-06 13:13] VOVELEE opened #58473 "Automatic deployment deletions threshold"
Hello,

is there more clarity about how quickly Azure Fabric will delete the oldest 10 deployments?
Currently I have multiple pipelines which redeploy solutions (ensure IaC) every four hours. Today I hit the 800 limit but actually no deployments were removed. My automation is configured to try redeployment three times ( 30 seconds after last deployment) but it failed .
So definitely the deletion d

[2020-07-06 13:14] SubhashVasarapu-MSFT commented on #58464
@justin-caldicott , Thanks for reaching out. We will investigate and update this thread.

[2020-07-06 13:15] shashishailaj commented on #58461
@dazinator Thank you for your feedback . We will investigate and update the thread.

[2020-07-06 13:16] SubhashVasarapu-MSFT commented on #58458
@kewu-93 , Thanks for reaching out. We will investigate and update this thread.

[2020-07-06 13:16] SwathiDhanwada-MSFT commented on #58463
@sormita Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-07-06 13:17] shashishailaj commented on #58469
@nkumars Thank you for your query . we will investigate and update the thread.

[2020-07-06 13:18] jdorecae commented on #58324
Thank you for your fast answer! Based on the documentation you provided, I looked for a Log Analytic Workspace that would be linked to my Application Insight. I found some Log Analytic Workspaces in my Subscriptions. However, in [this document](https://docs.microsoft.com/en-us/azure/azure-monitor/app/create-workspace-resource#:~:text=%20Workspace-based%20Application%20Insights%20resources%20%28pre

[2020-07-06 13:18] SwathiDhanwada-MSFT commented on #58473
@VOVELEE Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-07-06 13:24] Blackmist commented on #58465
Thanks for reporting this @becke-ch-s0-v1 I've updated the document to change this to SDK for R. The change will be published in a few hours.

#please-close

[2020-07-06 13:24] #58465 closed

[2020-07-06 13:27] SvenSowa opened #58475 "Trusted services - Azure App Service confusion"
With Azure App Service being listed as a trusted service, one would assume it can be used as such to access a keyvault.
Apparently its not, and only the "certificate scenario" seems supported. This scenario however is "the other way around", at least for me. As I can choose to enable "Allow trusted Microsoft services to bypass this firewall?" on a keyvault, one would assume, code running with a ma

[2020-07-06 13:28] amanmcse commented on #58431
@danielbjork Thank you for pointing this out. I have updated the document.

[2020-07-06 13:30] mblanco77 commented on #58110
Hi @jason-ra ,
the on-prem DNS conditional forwarder should be **Public DNS zone forwarders** found in the article , accordingly to the service being used.

[2020-07-06 13:43] VikasPullagura-MSFT commented on #57926
@cynthn Can you please check and add your comments onthis.

[2020-07-06 13:43] VikasPullagura-MSFT commented on #57927
@cynthn Can you please check and add your comments on this.

[2020-07-06 13:43] #58475 closed

[2020-07-06 13:44] tfitzmac commented on #58473
@VOVELEE - sorry about the confusion with this new feature. It has not been fully rolled out yet. I will try to clarify  the current status.

[2020-07-06 13:44] tfitzmac commented on #58473
#please-close

[2020-07-06 13:44] #58473 closed

[2020-07-06 13:45] #58387 closed

[2020-07-06 13:45] shashishailaj commented on #58437
@Mirona This is not possible by design to have configurable signup page for azure AD instance. The link that you have mentioned is for Azure AD B2C which is designed as a directory where you can support the self signup experience for your users. In case of Azure AD B2C the users are generally unknown consumers who can try to access your application / signup for your application while in case of Az

[2020-07-06 13:45] #58437 closed

[2020-07-06 13:54] Torxsmind opened #58476 "Example Import file"
The Section of "Obtain your existing DNS zone file" should really have a example of the file format. There are many different providers to export the current zone information / file.  So instead of asking for examples of major providers (I.E. AWS, GoDaddy, Network Solutions), please show a example of what the file format SHOULD look like.

---
#### Document Details

⚠ *Do not edit this section. It

[2020-07-06 13:54] SnehaAgrawal-MSFT commented on #57960
@LucaOtto Since we will be working with you closely here. (AzCommunity[at]microsoft[dot]com) Will now close this here.

[2020-07-06 13:54] #57960 closed

[2020-07-06 13:57] spelluru commented on #57611
Including Ashish @axisc for any follow up questions.

https://docs.microsoft.com/en-us/azure/service-bus-messaging/message-counters#message-count-details
Messages in the queue or subscription that are in the active state and **ready for delivery**. The messages are **available to be received**.

Messages can be in **deferred state** (https://docs.microsoft.com/en-us/azure/service-bus-messaging/mes

[2020-07-06 13:57] mayurigupta13 commented on #57981
CentOS 7 is supported in Deployment Planner. Are you seeing this as incompatible in the recommendations?

[2020-07-06 14:01] VikasPullagura-MSFT commented on #58315
@shawon017 Apologies in delayed response.

I would recommend to open a support case to get this issue checked.

[2020-07-06 14:21] burkeholland commented on #57834
@DaveSlinn there is no support for A records as of right now in the preview of Static Web Apps. It will be coming for the official release. In the meantime, you can setup it up with a bit of a workaround that I documented [here](https://burkeholland.github.io/posts/static-app-root-domain/).

[2020-07-06 14:35] tfitzmac commented on #58033
@roofiq - thanks for this feedback. I am adding the unregister commands to this article.

[2020-07-06 14:43] Alex-Derbyshire commented on #57981
Correct, it states

Operating system CentOS 7   (64-bit) is not supported.

[2020-07-06 14:44] Duchynko commented on #29971
Is there any workaround for this at the moment? Such as placing an Application Gateway behind Azure Frontdoor?

[2020-07-06 14:44] alexdrenea opened #58479 "Error in example"
In the "Create filter rules in configuration with appsettings.json" section, there is an example for configuring the Application Insights log level
the example shows incorrect syntax for the logging setting:
Current:
[code]
Correct:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b09a09da-72ae-d5c0-fe25-69274054d

[2020-07-06 14:46] tfitzmac commented on #58346
@Yonathan159 - I think your only options are to either use an ARM template or the REST API. In both cases, you can add tags during the create operation.

[2020-07-06 14:46] PramodValavala-MSFT commented on #58380
@ericthomas1 As mentioned in the note at the top of this doc, *Integration with Azure Monitor Logs is currently in public preview for function apps running on **Windows** Consumption, Premium, and Dedicated hosting plans.*

Since you are trying this with a Linux App, its expected.

[2020-07-06 14:47] Silvenga opened #58480 "Invalid Link"
Given the following text in this article:

The link provided is invalid:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22a4b366-3eac-83f8-05bb-1302ce5c9235
* Version Independent ID: 73a9c88b-784d-2f96-becc-14e8d751834f
* Content: [Use Azure AD in Azure Kubernetes Service - Azure Kubernetes Service](https://docs

[2020-07-06 14:47] shashishailaj commented on #58417
@normesta Could you please review the document and see how best the details on the azcopy commands in the document could be improved ?

[2020-07-06 14:49] zr-msft commented on #22676
Thank you for the feedback!

Scale down operations are consistent across all operations against the AKS Resource Provider, including the Azure CLI, Azure Portal, and Terraform.

#please-close

[2020-07-06 14:49] #22676 closed

[2020-07-06 14:54] zr-msft commented on #35932
Thank you for updating @palma21

#please-close

[2020-07-06 14:54] #35932 closed

[2020-07-06 14:54] zr-msft commented on #37943
Thank you for updating @palma21

#please-close

[2020-07-06 14:54] #37943 closed

[2020-07-06 14:55] zr-msft commented on #38512
Thank you for updating @palma21

#please-close

[2020-07-06 14:55] #38512 closed

[2020-07-06 14:55] zr-msft commented on #53059
Thank you for updating @palma21

#please-close

[2020-07-06 14:55] #53059 closed

[2020-07-06 14:57] zr-msft commented on #54113
Thank you for the feedback @aelmanaa and for clarifying @palma21

#please-close

[2020-07-06 14:57] #54113 closed

[2020-07-06 14:57] psmanhas commented on #58263
@amadav Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-07-06 14:57] #58263 closed

[2020-07-06 14:58] zr-msft commented on #54103
Thank you for the feedback @dstampfli and for clarifying @palma21

#please-close

[2020-07-06 14:58] #54103 closed

[2020-07-06 15:09] zr-msft commented on #50031
Thank you for the feedback @juanand and for clarifying @palma21

#please-close

[2020-07-06 15:09] #50031 closed

[2020-07-06 15:09] lfecci commented on #43316
I have this exact requirement.

[2020-07-06 15:10] abhimanyusood commented on #51993
On April 7, 2020, a new version of azure.ai.textanalytics (1.0.0b4) was released, in which they removed TextAnalyticsApiKeyCredential and are now using AzureKeyCredential from azure.core.credentials as key credential
(details can be found here - https://pypi.org/project/azure-ai-textanalytics/)

You basically have two options -
1) Start using AzureKeyCredential instead of TextAnalyticsApiKeyCreden

[2020-07-06 15:10] mblanco77 commented on #57630
@jasonphillipsofkroger , those records get added the private dns zone privatelink.azurewebsites.net.
The article intention is to mention the private dns zones , not the particular records of each service.
#please-close

[2020-07-06 15:10] #57630 closed

[2020-07-06 15:13] APIWT opened #58482 "Glossary of terms"
I have been trying to understand more about B2C custom policies, and I think something that would be helpful is a glossary of terms used in this area of the documentation. Here are some of the terms that could use definitions:

- trust relationship
- metadata exchange
- data protection policy
- accredited participant
- relying party
- identity provider
- attribute provider
- levels of assurance
-

[2020-07-06 15:14] diberry commented on #58245
#in-progress

[2020-07-06 15:15] aregaz opened #58483 "Live Transcription for non-English languages is shown only if IMSC1 captions locale set to en-US"
Hi there,

I've noticed that Azure Media Service has extended the list of supported languages and regions for Live Transcription.
I've wanted to use Live Transcript for German, but I found out that when I create a Live Event with transcript language set to **de-DE**
[code]
[Azure Media Player demo page](https://ampdemo.azureedge.net/azuremediaplayer.html) does not show the transcript when I add IM

[2020-07-06 15:19] mblanco77 commented on #57782
Hi @iampeterdaniels our general recommendation for your case is to use a server-level forwarder pointing to 168.63.129.16

**This DNS forwarder is responsible for resolving all the DNS queries via a server-level forwarder to the Azure-provided DNS service 168.63.129.16.**

[2020-07-06 15:20] zandercodes opened #58484 "Add a custom signing key don't working anymore"
Microsoft Example code: [Show on docs](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-saml-sso-configure-api#request-7)
[code]

Microsoft Documentation: [Show on docs](https://docs.microsoft.com/en-us/graph/api/serviceprincipal-update?view=graph-rest-beta&tabs=http)

Why create Microsoft a documenation that no longer matches the API calls?

---
#### Document Detail

[2020-07-06 15:25] pandainlove commented on #57766
@MayankBargali-MSFT Yes, I am currently using azure cli to monitor the logs. I am trying to stay with az module that's why I reported in this issue Get-AzWebSiteLog doesn't exist. Let me know if your team can finally locate it.

Thanks

[2020-07-06 15:29] zandercodes commented on #58461
Solution: Enterprise Application > "Your Application" > Single sign-on > SAML

[2020-07-06 15:37] MarileeTurscak-MSFT commented on #58482
@APIWT thanks for this feedback! I've assigned this to the author to update the doc.

[2020-07-06 15:38] ericthomas1 commented on #58380
Ah, thank you. I missed that note. Is there an ETA for Functions running Python (Linux)?

[2020-07-06 15:38] #58380 closed

[2020-07-06 15:43] vipulsparsh commented on #58461
@kenwith Can you look into this ? Thanks.

[2020-07-06 15:46] epomatti commented on #57611
@spelluru thanks for the active messages definition.

However, I still don't understand the difference in the auto-scaling options:

- Messages processed
- Active messages processed

From the consumer perspective it is clear to me what "active" means, but how about the auto-scaling rule?

[2020-07-06 15:49] aregaz commented on #58483
I've created an example Live Archive asset, you can check it [here](https://ampdemo.azureedge.net/azuremediaplayer.html?url=https%3A%2F%2Fstreamer-euwe.streaming.media.azure.net%2F7415b093-b944-441e-9be7-fa75dbf1767a%2F781b039d-6411-4df2-92d8-cbdae96ec1f8.ism%2Fmanifest(format%3Dm3u8-aapl)&imsc1Captions=German,de-DE,;English,en-US,).

Check the **IMSC1 captions** section there. I've added two trac

[2020-07-06 15:49] #57778 closed

[2020-07-06 15:52] dazinator commented on #58461
@zandercodes

Just to clarify that isn't a solution in this case: as per issue description, the docs state:

.. and indeed my application was registered using App registrations, and I do not see any "Single sign-on" option for it under Enterprise Application.

[2020-07-06 15:57] RichardSlater commented on #58087
Thanks @JamesTran-MSFT

A little bit of additional context, when configuring SAML 2.0 Single Sign On with Azure Active Directory as the Identity Provider (IdP) and Salesforce as the Relying Party (RP) there are actually two X.509 certificates involved:

1. Signs the Request from Salesforce to Azure Active Directory (Yellow)
2. Signs the Token from Azure Active Directory to Salesforce (Blue)

![Req

[2020-07-06 15:57] zr-msft commented on #56274
Thank you for the feedback @benc-uk

The article has been updated with details for accessing the dashboard.

#please-close

[2020-07-06 15:57] #56274 closed

[2020-07-06 16:00] PramodValavala-MSFT commented on #58224
@JiroP Could you confirm if you are seeing this only for JavaScript function apps? Also, can you double check if the user hasn't been added via the [REST API](https://github.com/Azure/azure-signalr/blob/dev/docs/swagger/v1.md#check-whether-a-user-exists-in-the-target-group)?

[2020-07-06 16:04] vipulsparsh commented on #58345
@ramuvr  Apologies for delay on this.  As you already know that Get-AzureADDirectorySetting requires a Azure AD Preview module , it also necessary that you uninstall any installed Azure AD module before you try the preview functions.

So you would need to uninstall the powershell module for AAD like this :
1) Uninstall-Module azuread

Then install the preview module :
2)  Install-Module -Name Azur

[2020-07-06 16:04] diberry commented on #58245
Merged into master, should be published today. #please-close

[2020-07-06 16:04] #58245 closed

[2020-07-06 16:05] iainfoulds commented on #58431
Security questions aren't enabled by default, which is why they're not shown in the tutorial. For more information on the use of security questions, please see https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-authentication-methods#security-questions

@amanmcse Please revert the doc change.

[2020-07-06 16:05] zandercodes commented on #58461
That's odd. With me it is indicated.

![Anmerkung 2020-07-06 180348](https://user-images.githubusercontent.com/46308805/86614298-12949500-bfb3-11ea-9157-3de4cd6cde8a.jpg)

[2020-07-06 16:11] dazinator commented on #58461
@zandercodes it doesn't appear to be odd that it doesn't appear in my case, as per the docs:

You are adding an enterprise application. If you try using "App Registrations" instead to add an application, and then go find it in the Enterprise Application's list, I suspect you won't see the single sign on entry there either?

[2020-07-06 16:15] ram-msft commented on #58202
@diberry Thanks for sharing the details. @dargilco We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-06 16:15] #58202 closed

[2020-07-06 16:15] danielbjork commented on #58431
@iainfoulds  The tutorial https://docs.microsoft.com/en-us/azure/active-directory/authentication/tutorial-enable-sspr is describing how to activate SSPR and when in the list of "Methods available to users" in the portal "Security Questions" is an valid option.  But maybe im not getting what you are trying to say.

[2020-07-06 16:17] mikeblakeuk opened #58485 "Data Lake reference missing"
Where does the "3" Map to for the data Lake comment?

![image](https://user-images.githubusercontent.com/1986660/86615586-8aab8c80-bfac-11ea-8269-c7e261b6c22c.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c9ef03f-cf87-a333-623b-afbd39fd75a2
* Version Independent ID: 7ab8460b-b303-c829-4c45-462be21b38b2
* Content

[2020-07-06 16:22] zandercodes commented on #58461
@dazinator Ya, that's right, you won't find it under "App Registrations".

[2020-07-06 16:31] iainfoulds commented on #58431
Yes, security questions are a valid option. However, the tutorials aren't meant to be exhaustive of all options available. Security questions aren't a default option or specifically something to enable here as there are potential security concerns around them, as noted in the previously linked conceptual article:

[2020-07-06 16:34] danielbjork commented on #58431
ah, then I understand. Thanks for the clarification. The reason that I reported this was due to a facebook post with about ~80 comments and everyone got confused. So maybe a clarification in the tutorial would be good instead.

[2020-07-06 16:38] iainfoulds commented on #58060
Thanks for the feedback, @bpcastilho. Is there something specific you're look for for Windows? The first section of testing the certificate is for generic browser-based apps on a device, like a Windows device - https://docs.microsoft.com/en-us/azure/active-directory/authentication/active-directory-certificate-based-authentication-get-started#testing-your-certificate. The iOS and Android test secti

[2020-07-06 16:41] zr-msft commented on #57580
thank you for the feedback @mchudinov

Please see the warning at the top of the page with details on versions of Kubernetes and the dashboard add-on.

#please-close

[2020-07-06 16:41] #57580 closed

[2020-07-06 16:43] zr-msft commented on #23789
Thank you for the feedback!

The article has been recently updated with details on signing in to the Kubernetes dashboard.

#please-close

[2020-07-06 16:43] #23789 closed

[2020-07-06 16:44] cynthn commented on #58436
@arcotek-ltd Thanks for the feedback! Shared Image Gallery supports creating an image for a "specialized" VM, one that hasn't been generalized. The tutorials are meant for relatively new Azure users, so the simplest way to show Shared Image Galleries is to just use a VM that you already have, without going through the process of generalizing it first.

The explanation of an image source links to a

[2020-07-06 16:52] IngridAtMicrosoft commented on #58483
Thank you! I will follow up with the engineering team.

[2020-07-06 16:52] Karishma-Tiwari-MSFT commented on #58480
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you

[2020-07-06 16:52] #58480 closed

[2020-07-06 16:55] JamesTran-MSFT commented on #58087
@RichardSlater
Thank you for the additional info!

- I have reached out to our product team for an update on your initial question.

After we receive a response from the product group, we can definitely work with the author of this doc for the specific questions you would like to see answered in the documentation along with additional doc-enhancement requests you have.

[2020-07-06 16:57] swanderz commented on #37025
@anvarich can you talk more about what you don't understand?

[2020-07-06 16:57] DerekHerman-MSFT commented on #58281
@JarroVGIT I confirmed the behavior you reported, Contributor role scoped at the subscription was able to access blob data, even though I have a Databricks workspace.

Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-06 16:58] JamesTran-MSFT commented on #57608
@iliassk
I just wanted to let you know that I reached out to our product team this morning and will update as soon as I hear back from them.

[2020-07-06 16:59] robertmuehsig commented on #13263
Not sure what the "fix" was, but we had the same problem. It seems Windows Containers on AppService are "limited" to 1.5GB RAM per default.
I searched and found a comment from @apwestgarth that there is a config key available: http://disq.us/p/26gru0x
With the "CONTAINER_MEMORY" (see [here](https://github.com/Azure/app-service-windows-containers/wiki/things-you-should-know#all-containers-have-1gb-

[2020-07-06 17:00] Mike-Ubezzi-MSFT commented on #27135
I did want to follow up on this topic. I understand the need for Azure Table storage and Azure Cosmos DB Table API docs to be separate. This is a larger effort and something that is being discussed internally and thank you for continuing to share your thoughts and ideas on this.
Additionally, there is a sort option with Cosmos Table API as was pointed out on March 15, 2019 as an [answer](https://s

[2020-07-06 17:03] jusnitlive commented on #56834
@VikasPullagura-MSFT -- I attempted to configure this in the template by setting the backupScheduleType = "Automated"
and received the following error:

`  "error": {
    "code": "BackupScheduleTypeNotSet",
    "message": "Backup schedule type needs to be set."
  }`

It turns out that when you set the autoBackupSettings in the template, backupScheduleType == "Manual"
which is very counter-intuitiv

[2020-07-06 17:03] KranthiPakala-MSFT commented on #58313
Hi @aodugga Could you please share the Support Request number for reference?

Thank you.

[2020-07-06 17:06] MartinJaffer-MSFT commented on #57831
@mamccrea  can you please help me determine whether the solution hosted on Databricks website is officially endorsed by Microsoft?

[2020-07-06 17:07] aodugga commented on #58313
Hi there,

Sure no problem - 120062523001647

Kind Regards,
Aoife Duggan
Azure Customer Engineer 
Advanced Cloud Engineering (ACE) 
[cid:image001.png@01D653C0.39CD9950]
Azure. Invent with purpose. 

Office:  +353 (1) 7066888
Region: Dublin UTC+1 (Mon-Fri)
aodugga@microsoft.com<mailto:aodugga@microsoft.com>

     [cid:image002.png@01D653C0.39CD9950] <https://nam06.safelinks.protection.outlook.com/?

[2020-07-06 17:07] JnHs commented on #58211
Hi @shawon017 - we're sorry to hear that you're experiencing this problem. It's hard to know what the issue is without more information. Can you please open a support request in the Azure portal so that we can investigate further. Thank you!

I am going to close this issue now as it does not seem from the info so far that a documentation update is needed, but please feel free to reopen it if you d

[2020-07-06 17:07] #58211 closed

[2020-07-06 17:09] siwon opened #58486 "Azure Redis firewall - Allow Azure Services"
[Enter feedback here]
Hi,

There is nothing about allowing Azure IPs in this documentation (like for databases) : https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/security-baseline

Is it possible ?

Thanks a lot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 362f248c-12a5-1378-a42d-1a4722967692
* Version

[2020-07-06 17:11] robinsh commented on #58187
@chschrae The variables that are used between different tutorials may be the same, but for unconnected tutorials, it is not necessary. I'm kind of loathe to change, for example, the routing tutorial, because it's not just a sample, there is also sample powershell and sample CLI and a sample Azure Resource management template. (Come to think of it, that series of tutorials uses the same device id.)

[2020-07-06 17:13] robinsh commented on #58187
#reassign JimacoMS3

[2020-07-06 17:18] dlepow commented on #58393
@jaydarius - Thanks for the feedback! We have a work item in progress to make the update you suggested to use the `az deployment group` command.
#in-progress

[2020-07-06 17:33] YutongTie-MSFT commented on #58466
@becke-ch-s0-v1
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-06 17:34] GiftA-MSFT commented on #58466
@becke-ch-s0-v1 we will review your feedback and get back to you shortly. Thanks.

[2020-07-06 17:37] elhorton commented on #58154
Hi @SatishBoddu-MSFT , after exploring the docs more, it seems this information would best be included on [this page](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-messages-c2d) since it describes the mechanics of sending c2d messages. It would be its own section titled something like "Convention for C2D Message Properties". Properties can have key/value pairs, so the above infor

[2020-07-06 17:47] #52001 closed

[2020-07-06 17:47] jvano commented on #13263
For GA, those settings will be renamed as:
WEBSITE_CPU_CORES_LIMIT and WEBSITE_MEMORY_LIMIT_MB

[2020-07-06 17:50] JamesTran-MSFT commented on #58395
@RTTrickster
Please see below for my findings along with next steps.

**Findings:**
1. When creating a Key Vault, using the Azure Portal, it looks like the "Soft Delete" option is Enabled by Default, but can be changed to Disabled.
![createKvPortal](https://user-images.githubusercontent.com/36619112/86622256-7350ad00-bf74-11ea-9513-8e18b8c468b3.JPG)

2. When creating a Key Vault using PowerShell,

[2020-07-06 17:52] Iorek73 opened #58487 "What model does Custom Vision use to train object detection models?"
Hi,

I've been through about every doc Custom Vision has to offer. What model does Custom Vision use to train object detection models? Is it SSD inception v2, yolov3, etc?

Reason I'm asking is the output of a tensorflow file is peculiar. It outputs a single tensor as opposed to the 4 tensors usually required by most androids that I'm familiar with.

Thanks!

[2020-07-06 17:54] StefanFried opened #58488 "Inbound service tag for azurebotservice and graph api"
Dear Azure Team. Would it be possible to get an AzureBotService tag for INBOUND? An INBOUND tag for MS Graph API would be great as well in order to consume change notifications from GRaph via the subscription resource type.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08217244-82bb-13b5-46f7-454801d8f865
* Version In

[2020-07-06 17:56] sethmanheim commented on #58396
@ramya-rao-a @SaurabhSharma-MSFT The docs team does not own the content on azure.com, we only publish to docs.microsoft.com. I have filed a request with the ACOM team to get this changed -- for future reference, any internal person can do that. #please-close

[2020-07-06 17:56] #58396 closed

[2020-07-06 17:58] MarileeTurscak-MSFT commented on #58484
@zandercodes
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-06 17:58] ramya-rao-a commented on #58396
How does an external person log this issue?

[2020-07-06 18:00] kenwith commented on #58461
@dazinator thank you for opening this issue and taking the time to provide feedback. I know it takes time and I really appreciate you doing it. Also, thanks to everyone for the active discussion here.

I am new to the doc team in this area and as I was coming up to speed I experienced the same confusion. I added the note about the "Single sign-on" option not appearing in the navigation in "Enterpr

[2020-07-06 18:06] andrePKI opened #58489 "Elevate access for a GA"
Text states "Global admin can manage Azure Subscriptions and Management Groups switch" but isn't that now called "Access management for Azure resources"  on the Directory's Properties blade?
And the text on the blade suggests that other admin roles also could elevate themselves?
"... (...@example.com) can manage access to all Azure subscriptions and management groups in this tenant. Learn more"

-

[2020-07-06 18:07] steveculshaw commented on #58132
@PramodValavala-MSFT  Thanks for the response. Ok, the logic app action is calling the target logic app using a SAS key. Couple of related questions.
(a) what happens if the target logic app's access key is regenerated? ... and which key is used?; primary or secondary
(b) is there anyway to use Azure AD, as we want to enable Azure AD authorization policies on the target logic app, and you're only

[2020-07-06 18:13] mmurshed commented on #57932
Hi @justinyoo
I am an Engineer from the Power Platform Connectors team. Can you please give us more detail about your issue with twitter? Are you having difficulty creating a connection or connector? Connection difficulty would mean you are are using the twitter connector to connect to twitter, but the can't connect. Connector problem would mean that you are trying to create a custom connector and

[2020-07-06 18:15] jonthenerd opened #58490 "C# example for the Azure Monitor Data Collector API uses incorrect encoding?"
The C# example provided for the Azure Monitor Data Collector API uses ASCII encoding while other parts of the page reference UTF8. Please determine which is correct and align.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1295e1b3-5aed-3aee-4331-8b81e7a7e544
* Version Independent ID: 3c00a5ee-7093-1e8b-9004-8fed3f8296

[2020-07-06 18:19] mbialecka commented on #57689
There is no 1.3 module for arm64, we only have this one preview version, and some things may not work as expected. At this time I don't have an arm64 to investigate this issue. All versions should be compatible with 2017-04-17 api as specified in our docs. New api versions should be backwards compatible and using newer api should still work with the module. However, it's best to use 2017-04-17 if

[2020-07-06 18:22] YutongTie-MSFT commented on #58168
@dargilco Thanks for the feedback, I have fixed the document and you should see the change shortly.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-07-06 18:22] #58168 closed

[2020-07-06 18:35] Silvenga commented on #58480
I would have made the change, but I have no way of knowing the correct link. :joy_cat:

[2020-07-06 18:36] jfggdl commented on #53817
@cjjohansen, Thanks for raising this issue. Are you trying to get metrics by event types for System Topics?

[2020-07-06 18:46] shashishailaj commented on #58287
@MisiekBest You are correct . We have fixed it and initiated a pull request . The changes should go live in the next 24-48 hours as per next release cycle. We will now close this issue.

Thank you.

[2020-07-06 18:47] shashishailaj commented on #58442
@memildin Could you please help on the same ?

[2020-07-06 18:48] itahirov opened #58492 "Controversial information about mount path with webapp storage config CLI documentation,"
To mount a storage account to a directory in your App Service app, you use the az webapp config storage-account add command. Storage Type can be AzureBlob or AzureFiles. AzureFiles is used in this example. **The mount path setting corresponds to the folder you would like to mount from Azure Storage**. Setting it to '/' mounts the entire Azure Storage.

form this page is controversial to

--mount-p

[2020-07-06 18:51] Mike-Ubezzi-MSFT commented on #58486
@siwon Thank you for the inquiry regarding Azure Cache for Redis firewall settings and the security baseline functionality. In the case where an Azure Cache for Redis instance has been deployed with a VNET (premium tier with VNET option selected at time of deployment), the public interface for the cache instance is likely not an active interface or enabled. The context of the [security baseline](h

[2020-07-06 18:52] lisaguthrie commented on #58425
@ashinzekene you can utilize anything that implements the [`IFeatureFilter`](https://docs.microsoft.com/dotnet/api/microsoft.featuremanagement.ifeaturefilter) interface. There are currently three feature filters that ship by default as part of the `Microsoft.FeatureManagement` package, and you can write your own, too.

[2020-07-06 18:53] anbene commented on #58450
Thank you for the feedback @wmmartins ! We will review this issue and we'll get back to you as soon as possible.

#reassign:anbene

[2020-07-06 18:57] dazinator commented on #58461
@kenwith

And

Thanks for the response..

From the title of the doc, the doc is concerned with enabling SAML but it doesnt really clarify what to do if its an app registration and you don't see the "single sign on" menu option mentioned. It mentions you might not see it due to that but what's the remedy? If SAML is indeed enabled by default for app registrations, then where can I go to see those S

[2020-07-06 18:59] YutongTie-MSFT commented on #58170
@dargilco Hi Darren, I have fixed the document and you will see the change shortly. Thanks for pointing out this again.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-07-06 18:59] #58170 closed

[2020-07-06 19:00] parkbsu commented on #34451
We are encountering this same issue -

`docker run -d -p 9931:8080 --name <VALUE> -e PORT=8080 -e WEBSITE_SITE_NAME=<VALUE> -e WEBSITE_AUTH_ENABLED=False -e WEBSITE_ROLE_INSTANCE_ID=0 -e WEBSITE_HOSTNAME=<VALUE> -e WEBSITE_INSTANCE_ID=<VALUE> -e HTTP_LOGGING_ENABLED=1 appsvc/node:12-lts_20200522.6 `

[2020-07-06 19:01] MicrosoftGuyJFlo commented on #58290
#assign @SanDeo-MSFT

[2020-07-06 19:05] mike-urnun-msft commented on #58470
@elbaza1 Thank you for your feedback! We will review and update as appropriate.

[2020-07-06 19:08] peturh commented on #34451
Don't set the port, and listen to PORT in your app and it works.

[2020-07-06 19:09] aashishb commented on #57860
I agree this should be called out in the docs that. @Blackmist to help

[2020-07-06 19:11] peturh commented on #34451
And again. Don't set the environment variable yourself, not through WEBSITE_PORT or PORT. Instead, just use it directly in your app.

[2020-07-06 19:12] peturh commented on #34451
Guys, 3 times I've been answered this. Just LISTEN to it, don't SET it!

[2020-07-06 19:17] DerekHerman-MSFT commented on #58349
@sep3digital Unfortunately we are unable to provide an ETA for this feature. I do recommend that you provide feedback [here](https://feedback.azure.com/forums/217298-storage). Our product teams do monitor and prioritize features based on Feedback. You can also keep an eye on our Azure updates [page](https://azure.microsoft.com/en-us/updates/).

[2020-07-06 19:17] #58349 closed

[2020-07-06 19:19] kenwith commented on #58461
@dazinator - this is very helpful. I am working to implement your ideas on this and will get the article updated shortly.

One thing I put in my comment that I think created more confusion, I found out that when you use "App registrations" the app is preconfigured to use OpenID Connect (OIDC) and OAuth and not SAML. I am slowly getting my brain wrapped around the standards. I will edit my reply ab

[2020-07-06 19:24] Grace-MacJones-MSFT commented on #58155
@rfrankeny did the above recommendation work for you?

[2020-07-06 19:25] yugangw-msft commented on #58471
@VikasPullagura-MSFT, we will investigate this as a product issue and will update the doc appropriate based on the root cause.

[2020-07-06 19:27] pvrk commented on #58365
@Klaas- You can subscribe to [Azure backup updates](https://azure.microsoft.com/updates/?query=Azure%20Backup) to get regular important updates on the product. Hope this helps.

[2020-07-06 19:29] neeleshray-msft commented on #57428
@DiSae The IAM assignment is to the Managed Identity Contributor. You create a User-Assigned Managed Identity then you can assign the required IAM permissions to the same. The Managed Identity when created does not have the permission assignment. Hence, the required permissions have to be set by IAM for the Managed Identity to have required access to the resources in the Resource Group.

We will b

[2020-07-06 19:29] #57428 closed

[2020-07-06 19:29] #58155 closed

[2020-07-06 19:30] parkbsu commented on #34451
@peturh - I had set the PORT/WEBSITE_PORT through other troubleshooting methods. The Docker container will not start and the following errors continue to appear in the log:

[code]
It's been a stab in the dark trying to understand A) why this started because the site was working fine and B) how to resolve it. A series of forum searches led me to this post, so again, just trying different suggestio

[2020-07-06 19:30] neeleshray-msft commented on #57555
@msmimart Please check on the broken link.

[2020-07-06 19:33] peturh commented on #34451
Again, DON'T SET the port, not through WEBSITE_PORT or PORT. Just listen to it, because it's set implicitly for you.

[2020-07-06 19:37] Klaas- commented on #58365
so that would be the feed a new version would be announced? Like an upgrade to a version that does not need sap internal hana support role anymore? :)

[2020-07-06 19:37] parkbsu commented on #34451
It's been removed but the error above still persists. I ended up on this thread based on comments from https://github.com/MicrosoftDocs/azure-docs/issues/46401. Not arguing about the port setting, simply trying to resolve the issue with the Docker container not starting with very little information from Azure or the support forums to figure it out.

[2020-07-06 19:40] pvrk commented on #58365
Yes, we normally announce all important updates on this feed. And the removal of this role certainly falls in this category :-)

[2020-07-06 19:45] varnav commented on #44425
Application gateway gives me an error:

'Backend health': 'The Common Name (CN) of the backend certificate does not match the host header of the probe.' for both backend instances.

But if I try to access scale set instances directly, the certificate is valid:

https://apitestss000000.mycorp.local/ and https://apitestss000001.mycorp.local/

look fine and valid in browser

HTTP setting is set to 'P

[2020-07-06 19:50] DerekHerman-MSFT commented on #58485
@mikeblakeuk Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-06 19:53] shashishailaj commented on #58330
@schnitz76

You are correct . The Azure AD EDU license is mentioned in [the licensing page](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/licensing-service-plan-reference) but does not provide any detail here as to what kind of features it includes. I am certain that the EDU edition includes SSPR for cloud users . The table below is from the article. I will engage the

[2020-07-06 19:55] shashishailaj commented on #58454
@BASFmthibodeaux We have engaged the content author on this issue and they will further update the thread.

[2020-07-06 19:56] shashishailaj commented on #58438
@Toledocollege Please let us know the details of your issue so we can guide you better.

[2020-07-06 19:58] MonikaReddy-MSFT commented on #58487
@Iorek73, Thank you for your question.

Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on [Microsoft Q&A ](https://docs.microsoft.com/en-us/answers/index.html) or Stack Overflow. Thank you for your understanding.

[2020-07-06 20:01] DerekHerman-MSFT commented on #58386
@jeffreykey The documentation states that the AzCopy copy operation is synchronous. Other operations are not necessarily synchronous. Can you let me know which other documents you found that conflicted this?

[2020-07-06 20:03] Klaas- commented on #58365
okay, thanks

[2020-07-06 20:03] #58365 closed

[2020-07-06 20:04] DerekHerman-MSFT commented on #58467
@m-chau Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-06 20:08] Blackmist commented on #57860
Thanks @dgcaron and @aashishb I've updated the note in the doc to call out the requirement for the virtual network to be in the same resource group as the Azure ML workspace when using Azure Container Instances in a virtual network. This update will go live later today.

[2020-07-06 20:27] SatishBoddu-MSFT commented on #58301
@creationsoft Thanks for the feedback! We will update the document.

[2020-07-06 20:27] scale-tone opened #58499 "Uniqueness of orchestration instances can now be ensured with overridableExistingInstanceStates config parameter. Why isn't it mentioned on this page?"
See https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.webjobs.extensions.durabletask.durabletaskoptions.overridableexistinginstancestates?view=azure-dotnet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5d6badc-f611-71ad-b167-aabfb95dc13f
* Version Independent ID: db5c72cb-648c-5009-7261-1ba55703c08e
* Cont

[2020-07-06 20:28] JamesTran-MSFT commented on #58185
@IntegralITManager
I was able to find the same question posted about a year ago by a different customer, which I'll post below:

[Key Rotation Frequency Question](https://github.com/MicrosoftDocs/azure-docs/issues/40842)

If you require more control over your keys, I'd recommend using our [Customer Managed Key model](https://docs.microsoft.com/en-us/azure/security/fundamentals/encryption-atrest#se

[2020-07-06 20:32] siwon commented on #58486
Thank you @Mike-Ubezzi-MSFT for your quick answer.

I tried to use the Azure Redis' embedded firewall without any VNET configured.
The web application (inside an Azure App Service) is supposed to connect to a redis cache. To protect this redis I want to set some rules to avoid external connections.

If I understand correctly your message, to allow Azure resources reaching the redis cache (not only

[2020-07-06 20:37] tmoeltner opened #58500 "Wrong api level in the url for module direct methods"
"https://<iothubName>.azure-devices.net/twins/<deviceId>/modules/<moduleName>/methods?api-version=2018-06"
using excatly "api-version=2018-06" the https call will not work. The api-version must be "2018-06-30".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58ad27ec-834c-d85d-79f9-ee699019be33
* Version Independent ID:

[2020-07-06 20:37] ayngling commented on #34451
I don't think this is correct unless someone is using the Azure App Service VNet Integration feature. For others, the port must  be set, cf. https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-custom-docker-image#configure-environment-variables

[2020-07-06 20:39] Grace-MacJones-MSFT commented on #57511
Thanks for your detailed feedback @epomatti  .Upon further review, we feel your feedback would be best received by the doc author to determine if an update to the current doc is necessary by providing information on obsolete deployment slots.

[2020-07-06 20:40] SatishBoddu-MSFT commented on #58420
@ampac28 Could you please let us know the exact document(s) which you have followed for Azure Device twin notifications using Java IoT SDK 1.21 ? Just wanted to correlated the issue with connected SDK document.

[2020-07-06 20:40] slewis1904 opened #58502 "Example EXEC prc_sqldw_update_stats doesn't work"
The examples provided don't work.

Change the procedure to include update_stats_ddl column in #stats_ddl like the example for prc_sqldw_create_stats
...
AS
WITH T
AS
...
...
FROM T
...
...

Thanks,
Steve

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8131ee36-cabb-0b6a-e27c-650159833a90
* Version

[2020-07-06 20:41] #58301 closed

[2020-07-06 20:42] BharathNimmala-MSFT commented on #58479
@alexdrenea Thank you for bringing this to our notice, we will further review and update the document accordingly.

[2020-07-06 20:44] MonikaReddy-MSFT commented on #58476
@Torxsmind -  Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-06 20:44] PatAltimore commented on #58191
Hi @gs-repo,

I'm following up with the dev team.

Thanks,
Pat

#in-process

[2020-07-06 20:46] anbene commented on #58450
@wmmartins - Our team is investigating this issue. In the meantime, we suggest that you recheck the term dates of the subscription about 10 minutes after the SaaS becomes active. Sometimes this information needs some time to be updated in the Subscription details.

[2020-07-06 20:49] amadav commented on #58263
What SKU's are public-ip's when I use
`az vmss create -n MyVmss -g MyResourceGroup --image centos --public-ip-per-vm --vm-domain-name myvmss`
https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-networking#creating-a-scale-set-with-public-ip-per-virtual-machine

[2020-07-06 20:52] hosser commented on #55702
Any update on this please? Unable to finish configuring SSO because of this issue.

[2020-07-06 20:54] SatishBoddu-MSFT commented on #58429
@abhijitkakade914 Thanks for reaching out to us!. Could you please confirm on below point to better assist you in this matter.
1) What is the system architecture, target OS , host OS you have ?
2) Could you please confirm the exact document you have followed for **developing and debug** IoT Edge module in VS code?
3) Please also confirm if this error is with both languages Python & C# ?

[2020-07-06 20:55] PitWayne opened #58503 "How to change StrongAuthenticationRequirements.State using PowerShell (MSOL)"
Hi,
According to this article:  https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-userstates#use-powershell I should be able to disabling MFA using PowerShell but param StrongAuthenticationRequirements.State always remains "Enabled". Do someone have idea why it doesn't work sa it should?

![image](https://user-images.githubusercontent.com/67928176/86642033-e2152100-b

[2020-07-06 20:58] Grace-MacJones-MSFT commented on #57930
Thanks again for your feedback @phwecker!  We have updated the doc to show a non 'www.' example for CNAME records. We will work on improving the wording in the UI as well.

We will close this out for right now since the doc is updated but if you feel you need more information please just let us know and we would gladly reopen this thread.

![image](https://user-images.githubusercontent.com/4224708

[2020-07-06 20:58] #57930 closed

[2020-07-06 21:10] arcotek-ltd commented on #58436
Hi @cynthn,
I must admit I did this quickly in the portal. I realise that one can add a non-generalised/specialised VM, however, as I hadn't created an image (capture) of a VM, the portal did not allow me to select the VM. It had to be an image or a snapshot.

Thanks

[2020-07-06 21:20] JimacoMS3 commented on #58154
@elhorton Can we talk about this? I'm not really sure what the issue is. Have we had problems with folks trying to update device twins as the document details seems to indicate, or has it been in general with sending c2d messages. In either case, these are JSON-formatted messages no? If that's the case, what does an "=" sign have to do with anything? That is unless we are talking about using dot-f

[2020-07-06 21:25] cynthn commented on #58436
@arcotek-ltd Just to be clear, there are 2 kids of images now. Managed images, which can only be of generalized VMs and Shared Image Gallery "image versions" which can be generalized or specialized.

The "Capture" button on a VM page in the portal creates a "old style" managed image.

I think the only thing you can use as a source for an image version in the portal is a snapshot. I don't think you

[2020-07-06 21:30] VidyaKukke opened #58506 "Gateway resource creation explanation is incorrect"
[Enter feedback here]
Gateway resource is incorrectly called out as under Settings->Gateways. It is under Deployment and Infrastructure. Please fix in all the pages that talks about this type of resource creation in Portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f058892e-5cf6-1d77-3306-939efd53b006
* Version In

[2020-07-06 21:32] ayngling commented on #34451
I don't think this is correct unless someone is using the Azure App Service VNet Integration feature. For others, the port must be set, cf. https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-custom-docker-image#configure-environment-variables

[2020-07-06 21:37] jlichwa commented on #28109
This document is deprecated #please-close

[2020-07-06 21:37] #28109 closed

[2020-07-06 21:38] jlichwa commented on #40253
This entire document and method is deprecated #please-close

[2020-07-06 21:38] #40253 closed

[2020-07-06 21:39] jlichwa commented on #51921
Entire document and method for rotation is deprecated #please-close

[2020-07-06 21:39] #51921 closed

[2020-07-06 21:42] SnehaGunda commented on #58408
@icdavid Thanks for the feedback, would you be interested in contributing to the doc, You can click on the edit button on the page and submit a PR. Let me know in case you can't I will handle it.

[2020-07-06 21:45] SatishBoddu-MSFT commented on #58414
@dc995 Just checking back! Please let us know if you need further help.

[2020-07-06 21:49] jlichwa commented on #57743
@falleson DefaultAzureCredential it is not .net. It is new SDK for Authentication to Azure.
https://docs.microsoft.com/en-us/azure/developer/python/azure-sdk-authenticate?tabs=cmd

When you run your code locally, DefaultAzureCredential automatically uses the service principal described by the environment variables named AZURE_TENANT_ID, AZURE_CLIENT_ID, and AZURE_CLIENT_SECRET.

A little more on u

[2020-07-06 21:57] elhorton commented on #58154
Hi @JimacoMS3 , the issue here is two-fold. Essentially there was no defined standard for how edge cases of properties with empty values should be handled. For customers who are not using the SDKs, they need to understand how these C2D messages will be handled by the hub. This doesn't impact customers using the SDKs. On the other hand, each SDK and service team also needs to know about this standa

[2020-07-06 21:59] femsulu commented on #58490
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-07-06 22:04] SnehaGunda commented on #58468
@simonness the same doc also has a pointer to a doc with all the limits:

![image](https://user-images.githubusercontent.com/14284405/86653444-0c45ef00-bf9a-11ea-8cf0-a2cb7cb964a6.png)

[2020-07-06 22:06] nitinme commented on #57892
Fixed in PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/120632.

#please-close

[2020-07-06 22:06] #57892 closed

[2020-07-06 22:07] nitinme commented on #57879
Fixed in PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/120632.

#please-close

[2020-07-06 22:07] #57879 closed

[2020-07-06 22:07] nitinme commented on #57812
Fixed in PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/120632.

#please-close

[2020-07-06 22:07] #57812 closed

[2020-07-06 22:07] nitinme commented on #57807
Fixed in PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/120632.

#please-close

[2020-07-06 22:07] #57807 closed

[2020-07-06 22:07] nitinme commented on #58075
Fixed in PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/120632.

#please-close

[2020-07-06 22:07] #58075 closed

[2020-07-06 22:10] johndowns opened #58511 "Remote desktop connection doesn't work"
I have followed the steps verbatim to create a new VMSS, retrieve the NAT port assignments, and get the IP address. This all works. But when I try to connect to a VM using mstsc (or Remote Desktop Client) the connection does not succeed.

Are there any missing steps? Has something changed around default NSG rules or similar?

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2020-07-06 22:15] jadhosn opened #58512 "Outdated doc for MDC"
There's a reference for `CorrelationId` and `identifier` parameters that I can't seem to find anywhere in the doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ec57fee-a0d0-c9a7-eeb2-90b9223b932c
* Version Independent ID: 0f840fe8-5786-59ba-5b80-87595f370133
* Content: [Collect data on your production models - Azure

[2020-07-06 22:19] MartinJaffer-MSFT commented on #58121
@ElectricLlama did mamccrea's note help you?   As this is more of a troubleshooting issue than a doc issue, please feel free to reach out on [Q&A](https://docs.microsoft.com/en-us/answers/products/).

[2020-07-06 22:19] #58121 closed

[2020-07-06 22:42] Mike-Ubezzi-MSFT commented on #58486
@siwon You could use a network range value to allow traffic from a subset of public facing clients, as is suggested instead of opening the firewall to all Public IP ranges. As for other Azure services connecting to your cache instance, in the case of the Azure App Service, you configured the App Settings with the FQDN of the Azure Cache for Redis instance as `CacheConnection` (See [example](https:

[2020-07-06 22:44] dbradish-microsoft commented on #58476
@rohinkoul, can you please provide an example as requested above?  Thank you.

[2020-07-06 22:46] Karishma-Tiwari-MSFT commented on #58511
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-06 22:47] AlissonRS opened #58514 "Disable x-ms-routing-name"
Hello!

I found this in the docs:

How can we disable this feature of pinning client session to a slot? I don't want this behavior because if I change traffic to a different slot, some users might still be routed to the pinned slot from `x-ms-routing-name` cookie (even if we set traffic to 0%).

ARR Affinity is "Off" in the app config (for slot config as well).

![image](https://user-images.github

[2020-07-06 22:49] #58099 closed

[2020-07-06 22:51] dc995 commented on #58414
I'm good.  Thanks!

[2020-07-06 22:52] SatishBoddu-MSFT commented on #58414
@dc995
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-06 22:53] rachel-msft commented on #51930
An update to the document with additional cert info has been checked in. Changes will be live tomorrow.

#please-close

[2020-07-06 22:53] #51930 closed

[2020-07-06 23:05] JasonWHowell commented on #58020
@akumaranchath  Let's resolve this thread as-is. Sounds like you got a discussion started with Azure support. If there is change needed to the docs, feel free to respond and we'll continue investigating.

Thanks, Jason
#please-close

[2020-07-06 23:05] #58020 closed

[2020-07-06 23:07] SnehaGunda commented on #58099
I made a minor doc update to add the ToString information.

[2020-07-06 23:10] gorillatechnology commented on #58206
Thanks. I can see this has been updated.

[2020-07-06 23:11] SnehaGunda commented on #57707
@anfeldma-ms did you had a chance to update the doc?

[2020-07-06 23:12] ramuvr commented on #58345
Thank you, I was able to run the command fine without uninstalling the AD module, its just the documentation is not clear on the module required for the command Get-AzureADDirectorySetting
________________________________
From: VipulSparshMSFT <notifications@github.com>
Sent: Tuesday, 7 July 2020 00:04
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Ramu Venkitaramanan <ramuvr@out

[2020-07-06 23:27] tfitzmac commented on #58310
@win2000b - thanks for this feedback. I have added the link you suggested. The update should get published tomorrow. Most resource providers do not require additional instructions to be moved, but I will add links for ones that do.

[2020-07-06 23:27] tfitzmac commented on #58310
#please-close

[2020-07-06 23:27] #58310 closed

[2020-07-06 23:29] #58414 closed

[2020-07-06 23:34] hrasheed-msft commented on #58337
@kcheeeung The notice at the top is correct - using storage accounts in a different region than your cluster is not supported. The language at the bottom is older and I have removed it. Thanks for bringing that to our attention.

[2020-07-06 23:34] hrasheed-msft commented on #58337
#please-close

[2020-07-06 23:34] #58337 closed

[2020-07-06 23:36] TravisCragg-MSFT commented on #58067
@rohitrdua We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-06 23:36] #58067 closed

[2020-07-06 23:41] Grace-MacJones-MSFT commented on #56799
Hi @vaibhavramdasi,  thanks for your patience. We apologize for any frustration this issue may have caused.

At this time, VNET integration does not formally support ARM templates. The engineering team is aware of this limitation ([#20348](https://github.com/MicrosoftDocs/azure-docs/issues/20348)) and is working to resolve it. However, you can try using this [workaround](https://github.com/ScottHo

[2020-07-06 23:41] #56799 closed

[2020-07-06 23:49] abirax commented on #36458
@shubDhond for windows consumption plans if I provide only WEBSITE_CONTENTAZUREFILECONNECTIONSTRING I get an error via arm template deployment saying WEBSITE_CONTENTSHARE is missing.
I dont need to use slots. If omitt both the deployment goes through but bu I get the warning "storage is not configured.function scalling will be limited".

Whats the guidance on consumption plans w.r.t those two para

[2020-07-06 23:52] MashaMSFT commented on #56997
Hi @CODevOp, it's been some time since we've heard from you so we're going to assume your question is addressed and close out this Git Issue. However, please feel free to comment should you need anything further.

Thanks!
Masha from the SQL Docs team
#please-close

[2020-07-06 23:52] #56997 closed

[2020-07-06 23:55] JimacoMS3 commented on #58154
Hi @elhorton -- We have an open chat going, so feel free to take it up in there too :). But I guess I have a few questions:
1. What is the best way to set a property to null? (What does that look like on the wire.)
2. What is the best way to set a property to an empty string? (What does that look like on the wire.)
3. Do we consider sending a property with no "=" sign valid? (i.e. are we going to

[2020-07-06 23:57] tfitzmac commented on #58405
@OrionLethe13 - thanks for this feedback. I am adding that information to the article. It should get published tomorrow.

[2020-07-06 23:59] yugangw-msft commented on #58471
@simonvane I have logged an CLI issue: https://github.com/Azure/azure-cli/issues/14245 for this.
In short, docker will include the token cached by `az acr login` in the request header. The token to include is based on the registry url matching, which doesn't work if there is port number in the url. Both CLI and doc will need to update to get it work. @VikasPullagura-MSFT you can feel free to close

[2020-07-07 00:00] MashaMSFT commented on #58013
Hi @jamserra , thanks for bringing this to our attention!I have created an internal work item ([1744245](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1744245)) to track this work and hope to have this fixed for you this month.

I'm going to close out this Git Issue for the time being but please feel free to comment should you need anything further.

Thanks again and hope you hav

[2020-07-07 00:00] #58013 closed

[2020-07-07 00:00] MashaMSFT commented on #58018
Hi @jamserra , thanks for bringing this to our attention!I have created an internal work item ([1744245](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1744245)) to track this work and hope to have this fixed for you this month.

I'm going to close out this Git Issue for the time being but please feel free to comment should you need anything further.

Thanks again and hope you hav

[2020-07-07 00:00] #58018 closed

[2020-07-07 00:03] successhawkCG opened #58517 "What permissions are needed to run an ADF debug session?"
What permissions are needed to run a debug session?
We have removed Data Factory Contributor because we want to disallow publishing to the dev instance. However, this page does not say what permissions are required to run Debug.

Related stackoverflow question: https://stackoverflow.com/questions/62766636/what-permissions-are-needed-to-run-an-azure-data-factory-adf-debug-session

---
#### Document

[2020-07-07 00:14] #58405 closed

[2020-07-07 00:32] MonikaReddy-MSFT commented on #58503
@PitWayne - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-07 00:36] IntegraITManager commented on #58185
Thanks, I saw that other question, but it was not answered.

I don't need more control, I just need to know for our audits how often it's done when managed by MS.

Note that I also reached out to MS Support (I'm in the middle of an audit and needed answers quickly) and got back that "It is at least an annual rotation." Case is 120070224005028.

If that can be confirmed, then it would be good to pu

[2020-07-07 00:40] jacobwbutler opened #58518 "Difference between example and description"
[Description](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/create-ssh-keys-detailed#basic-example) mentions 2048 bit key, but example is `ssh-keygen -m PEM -t rsa -b 4096`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69db0238-ad2d-43b9-52db-2f2fad0ea380
* Version Independent ID: 6f355823-2d16-5085-0f

[2020-07-07 00:41] justinyoo commented on #57932
@mmurshed Hi, I'm using the Twitter connector from Logic App. Yes, it's the "connection" issue, not the "connector" issue.

![image](https://user-images.githubusercontent.com/1538528/86676363-7d86b000-c035-11ea-8665-e3750ee8e80b.png)

This is the Logic App in the Korea Central region, it throws 403 error. However, if I create another Logic App in West US 2 region, it's fine.

As @BharathNimmala-MS

[2020-07-07 00:42] tamram commented on #58185
@ozgeeg - FYI

[2020-07-07 00:51] jeevansd commented on #55702
@sbthackston You should still able to use the right patterns from our documentation. Azure AD UI will not block you for using any pattern here.

[2020-07-07 00:51] jeevansd commented on #55702
@chetansriv for tracking.

[2020-07-07 01:10] tamram commented on #58282
@JarroVGIT - Thanks for your feedback, I've made the note more prominent.

[2020-07-07 01:11] tamram commented on #58281
@JarroVGIT - Thanks for pointing this out. The Databricks issue has been resolved, and I've removed the note from the doc.

#please-close

[2020-07-07 01:11] #58281 closed

[2020-07-07 01:18] tamram commented on #58228
@pjirsa - Actually, the statement is correct. Those roles do not permit you to access blob data with an Azure AD account. When you are able to access data in the portal without one of the "Storage Blob Data Owner/Contributor/Reader" roles assigned to you, you are actually using the account access keys. This behavior is described in more detail in [Use the Azure portal to access blob or queue data]

[2020-07-07 01:19] tamram commented on #58228
#please-close

[2020-07-07 01:19] #58228 closed

[2020-07-07 01:19] MonikaReddy-MSFT commented on #58488
@StefanFried , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-07 01:32] JamesTran-MSFT commented on #58185
@IntegralTManager
Thank you for the support case and additional details!

I'll review the ISO documentation provided by our support engineers and if I'm not able to locate the specific reference in the documentation, I'll reach out to our Storage engineering team to confirm the "yearly" rotation.

Once confirmed, we can definitely work to get this doc updated.

[2020-07-07 01:40] TravisCragg-MSFT commented on #58488
@StefanFried If you would like us to add this feature in the future, please [leave your feedback at Azure Networking's feedback.azure.com page](https://feedback.azure.com/forums/217313-networking).

[2020-07-07 01:40] TravisCragg-MSFT commented on #58488
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-07 01:40] #58488 closed

[2020-07-07 01:44] SaurabhSharma-MSFT commented on #58294
@laminsamba We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-07-07 01:44] #58294 closed

[2020-07-07 01:45] SaurabhSharma-MSFT commented on #58312
@Gigio77 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-07-07 01:45] #58312 closed

[2020-07-07 01:46] SaurabhSharma-MSFT commented on #58373
@Rinshad Thanks for sharing links!  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-07-07 01:55] PramodValavala-MSFT commented on #58506
@VidyaKukke Thanks for the feedback! We will review and update accordingly.

[2020-07-07 02:06] icdavid commented on #58408
Sure I will give it a try

----------------------
David Lyall
207 423 7413 (mobile)
________________________________
From: Sneha Gunda <notifications@github.com>
Sent: Monday, July 6, 2020 5:42:20 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: David Lyall <david@inform.care>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Please add CLI steps (#58

[2020-07-07 02:10] leaderanalytics commented on #56756
+1 everything @rrperkin said.
See also [this](https://old.reddit.com/r/dotnet/comments/hdichp/we_need_a_giant_map_of_everything_having_to_do/).

[2020-07-07 02:14] SatishBoddu-MSFT commented on #58500
@tmoeltner
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-07 02:21] SatishBoddu-MSFT commented on #58500
@tmoeltner Thanks for the feedback! We will update the document.

[2020-07-07 02:23] KrishnaG-MSFT commented on #58276
Closing this issue as there is further response.

[2020-07-07 02:23] #58276 closed

[2020-07-07 02:26] KrishnaG-MSFT commented on #58352
Closing this issue as there is no further response.

[2020-07-07 02:26] #58352 closed

[2020-07-07 02:30] anavinahar commented on #55431
To clarify - table above is dynamic SNAT port.
Static SNAT port is with respect to outbound rules.

#please-close

[2020-07-07 02:30] #55431 closed

[2020-07-07 02:35] AshokPeddakotla-MSFT commented on #58278
@donniekerr Could you please share more details on where exactly you found this information?
@kgremban Please look into this issue and update the doc as appropriate.

[2020-07-07 03:22] Grae-Saunders opened #58521 "Document out of date to current UI"
I spent ages trying to troubleshoot a configuration issue because the documentation here references old UI and thus was not able to easily solve the issue. Please update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 218baca3-fde1-9a34-6cb2-19fd48daa471
* Version Independent ID: 651db569-1550-84d5-24e2-7287d51b3af2
*

[2020-07-07 03:24] mike-urnun-msft commented on #58499
@scale-tone Thank you for your feedback! We will review and update as appropriate.

[2020-07-07 03:28] vipulsparsh commented on #58489
@andrePKI  Thanks for reaching out. We will investigate the thread and update.

[2020-07-07 03:30] vipulsparsh commented on #58492
@itahirov  Thanks for reaching out, we will investigate and update the thread.

[2020-07-07 03:31] AshokPeddakotla-MSFT commented on #58370
@Raregine Yes, you need to delete all the files in two directories. Those two directories contains the certificate related files and keys hence required to delete it.
Hope that answers your query. Please let us know if you have any further queries.

[2020-07-07 03:34] vipulsparsh commented on #58502
@slewis1904  Thanks for the feedback. We will engage the content team for further investigation, they will verify and perform necessary changes in the document as needed.

[2020-07-07 03:35] vipulsparsh commented on #58502
@slewis1904  Can you look into this ?

[2020-07-07 03:43] tyconsulting opened #58523 "Default value for retentionInterval"
for retentionInterval, currently the document states "The default value is P1D, which means seven days". P1D means 1 day, not 7 days.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5c4c8c5-7757-a969-5800-17f2f2312649
* Version Independent ID: 9ced8dd5-43ca-6d1f-c054-842299db8327
* Content: [Use deployment scripts in t

[2020-07-07 03:49] vipulsparsh commented on #58345
@ramuvr  Thats good to know and thanks for letting us know how you tried it. We will be closing this now.

[2020-07-07 03:49] #58345 closed

[2020-07-07 03:50] SatishBoddu-MSFT commented on #58154
@JimacoMS3 @elhorton , Please tag me, for all updates, I will make sure to submit the PR once the target document location is finalized.

[2020-07-07 04:06] ashinzekene commented on #58425
Thanks @lisaguthrie

Is there a way to use the targeting filter with app configuration? Is there a way to create a custom filter to use on app configuration? If yes, how

[2020-07-07 04:07] #58500 closed

[2020-07-07 04:14] VikasPullagura-MSFT commented on #58471
@yugangw-msft Thanks for adding the details.

[2020-07-07 04:14] #58471 closed

[2020-07-07 04:16] PramodValavala-MSFT commented on #58190
@RonnieQuan Hope my previous comment clears things up.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-07 04:16] #58190 closed

[2020-07-07 04:19] AmitavaHazra opened #58524 "How to modify AuthnContextClassRef in Azure AD"
Reference:
https://docs.microsoft.com/en-us/azure/active-directory/develop/single-sign-on-saml-protocol

How to change AuthnContextClassRef as PasswordProtectedTransport in Azure instead of Password. ?

from,

<AuthnContextClassRef>urn:oasis:names:tc:SAML:2.0:ac:classes:Password</AuthnContextClassRef>

to,

<saml:AuthnContextClassRef>urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTranspor

[2020-07-07 04:26] AjayKumar-MSFT commented on #58514
@AlissonRS, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-07-07 04:26] VikasPullagura-MSFT commented on #58518
@jacobwbutler
Thanks for the feedback! We are currently investigating and will update the doc as appropriate.

[2020-07-07 04:29] ram-msft commented on #58512
@jadhosn Thanks for the feedback. We will update you shortly.

[2020-07-07 04:47] vipulsparsh commented on #57821
@Sadika9 Apologies for delay on this one.  I checked with our PG, seems the portal UX is not updated yet to support the IdTyp claim.  But you can still use it for app only tokens that are being requested FOR your app ID audience.

If you still do not see that claim being passed, drop us an email at azcommunity[at]microsoft[dot]com with subject mentioning "Attn- Vipul"  with your Tenant ID and Azur

[2020-07-07 05:07] wmmartins commented on #58450
@anbene  The subscription was activated a month ago, so it must be something else.

[2020-07-07 05:13] NT-D opened #58525 "Would you please also provide pyspark based sample and document ?"
How about to provide pyspark based sample and document for connecting to Kafka ? It provide more value for many developers, because over 68% Spark users use python now.
https://databricks.com/blog/2020/06/18/introducing-apache-spark-3-0-now-available-in-databricks-runtime-7-0.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2020-07-07 05:14] rachelxj-ms commented on #58457
@AjayKumar-MSFT The document doesn't describe how to define secret in key-vault and how to use it in codes. It's not clear to reader.

[2020-07-07 05:19] hisasima opened #58526 "Can not configure TCP idle timeout value of the private IP."
We can not configure TCP idle timeout value of the private IP. I know we can configure the value of public IP. Could you add the limitation in to this document ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88466307-81b8-1e5b-7f2c-191d8e818071
* Version Independent ID: 08ad49f3-6a57-b925-794a-37215e985aba
* Content:

[2020-07-07 05:20] AlissonRS commented on #58514
Thanks @AjayKumar-MSFT

I believe if there was a way to just disable these two cookies `x-ms-routing-name` and `TiPMix` (they are coming from response headers that Azure create, probably in some proxy server), it would do the trick. But I'm not sure if this is possible at all.

[2020-07-07 05:21] ElectricLlama opened #58527 "java.lang.NoClassDefFoundError: scala/Product$class"
When running this scala code on databricks version 7.0 (Scala 2.12, Spark 3.0.0)

[code]

The following error is generated:

 java.lang.NoClassDefFoundError: scala/Product$class
at com.microsoft.azure.sqldb.spark.config.SqlDBConfigBuilder.<init>(SqlDBConfigBuilder.scala:31)
....
...

It works fine in databricks 6.5

This appears to be a Scala versioning issue.

---
#### Document Details

⚠ *Do not

[2020-07-07 05:34] AnuragSharma-MSFT commented on #58527
@ElectricLlama Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2020-07-07 05:35] ampac28 commented on #58420
Issue is resolved. Root Cause : Opening multiple device client connection .

Please close this request.

[2020-07-07 05:35] #58420 closed

[2020-07-07 05:35] stephaneey commented on #58402
Any news on this?

[2020-07-07 05:39] vipulsparsh commented on #58524
@AmitavaHazra  Thanks for reaching out. We will investigate and update the thread.

[2020-07-07 05:54] pacodelacruz opened #58528 "Please Explain how to configure DNS for alias with GeoDR and Private Endpoints"
The document explains that when GeoDR is enabled the recommended setup for Private Endpoints is:

Then it suggests

However, it does not explain how we can use the paired alias with these settings. Is it possible that applications hosted in the private VNET continue using the alias and that the alias keeps working after DNS failover? Please explain what's the recommended configuration including al

[2020-07-07 05:58] gopicloudarch opened #58529 "Dialing VPN connection poin-to-site, Status = The operation was canceled by the user."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-07-07 06:07] VikasPullagura-MSFT commented on #57927
@kazshi Apologies in delayed response on this.

I got update from internal team on this, there is an effort going on for putting the code samples.
This should be available in couple of weeks.

[2020-07-07 06:07] VikasPullagura-MSFT commented on #57927
@kazshi
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-07-07 06:07] #57927 closed

[2020-07-07 06:11] jschrap commented on #58031
We have configured Private Endpoints, including a Firewall, on the storage account where the Vulnerability Assessments were being written to.
Since then the VA's have been failing. Even though the Managed ID of the DB had the correct permissions on the storage account.
The solution was to disable VA. Then enable (and essential reconfigure it).

[2020-07-07 06:13] VikasPullagura-MSFT commented on #57926
@kazshi Maintenance status will change to “In progress”,  and then to “Up-to-date” till the next update shows up.

[2020-07-07 06:15] VikasPullagura-MSFT commented on #58432
@NitroAMD
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-07-07 06:15] #58432 closed

[2020-07-07 06:15] kazshi commented on #57926
@VikasPullagura-MSFT  That's what I wanted to know. Thank you!

[2020-07-07 06:15] #57926 closed

[2020-07-07 06:15] #58315 closed

[2020-07-07 06:16] sayanghosh123 opened #58531 "Azure Database for MySQL Read replicas | pricing estimation method"
Azure Database for MySQL Read replicas – is there a special pricing option to determine how much will they cost? Or as per the docs “For each read replica, you're billed for the provisioned compute in vCores and storage in GB/ month.” – so we just size up a separate instance using the pricing calculator which indicates the cost.

The intent here is to provide an accurate estimate of pricing to the

[2020-07-07 06:19] sayanghosh123 opened #58532 "Azure Database for MySQL | Geo-replication frequency"
When we configure a general purpose Azure Database for MySQL instance on a geo-replication mode, is there any details available on the frequency of the replication which basically influences the RPO? This page mentions that the RPO is < 1 hour. Is there any further detail available on this, i.e. how frequency is the replication process run?

Also, is there a way / metric to see the status of geo-r

[2020-07-07 06:21] VikasPullagura-MSFT commented on #58102
@axayjo Can you please check and add your comments.

[2020-07-07 06:26] sayanghosh123 opened #58533 "Azure Database for MySQL | Fail-back to primary region"
Let us say we have a general purpose Azure Database for MySQL instance in a primary region (lets say AU East) with geo-replication set up on backups and the region went down went down. This resulted a customer executing their fail over process, which amongst other things would spin up an Azure Database for MySQL instance in the secondary region (playing along with my example AU Southeast) with the

[2020-07-07 06:29] VikasPullagura-MSFT commented on #57648
@sayanghosh123 An update on this, team is requesting the portal team to add this.
However, we don't have an ETA on this yet.

[2020-07-07 06:29] VikasPullagura-MSFT commented on #58269
@sormita
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-07-07 06:29] #58269 closed

[2020-07-07 06:33] mayoneka opened #58534 "The link for Configuration Guide of IIJ SEIL Series is not available"
The page of configuration guide for SEIL Series is not working.
https://www.iij.ad.jp/biz/seil/ConfigAzureSEILVPN.pdf

[2020-07-07 06:36] JamesTran-MSFT commented on #58185
@IntegralTManager
I was able to review the documentation and will post my findings below.

**Findings:**
From your support case the below solution was provided:
- _It is at least an annual rotation. We keep keys rotated as required by applicable regulations and compliance obligations, as reflected at https://docs.microsoft.com/en-us/microsoft-365/compliance/offering-iso-27001?view=o365-worldwide_

[2020-07-07 06:38] vipulsparsh commented on #58517
@successhawkCG  Thanks for reaching out. We will investigate and update the thread.

[2020-07-07 06:38] dgcaron commented on #57860
do we need to raise an issue with the azure ml python sdk to lift that restriction or is that something that is being worked on?

[2020-07-07 06:45] AshokPeddakotla-MSFT commented on #58275
@FMauroy Sorry for the delay. Just wanted to check are you able to execute the steps with only "debug" option?
Adding author @kgremban for further review and update the doc.

[2020-07-07 06:48] erndob opened #58535 "Front door integration/changing redirect url"
I have front door in front of the app service. When enabling the app service auth, the redirect url is *.azurewebsites.net/.auth/login/google/callback instead of the front door custom domain.

Is there a way to tell the auth mechanism to use a different host, or make it respect HTTP-X-FORWARDED-HOST header which Front Door and other similar proxies add?

At the moment after signing-in the user is

[2020-07-07 06:57] souravmishra-msft commented on #58397
@goh-chunlin, Thank you for reaching out. I believe, the implicit grant section in the second screenshot is not visible because platform chosen is "**Mobile and Desktop Applications**". Since for Mobile or Desktops apps (native app) doesnt support Implicit flow, hence its not listed with the platform choosen as the **Mobile and Desktop application**. If you select **Web** as the platform, you shou

[2020-07-07 06:57] PramodValavala-MSFT commented on #58447
@hannesne Just following up here... Hope my previous comment clears things up.

[2020-07-07 07:02] SubhashVasarapu-MSFT commented on #58353
@mqlkmd , Appreciate your patience. AFAIK this feature is not yet available today. There is a similar feature request submitted in the [feedback forums](https://feedback.azure.com/forums/217313-networking/suggestions/34217131-feature-request-changing-idle-timeout-for-applica). Please take a few minutes to submit your idea or vote up an idea submitted by another Azure customer. All of the feedback

[2020-07-07 07:02] #58353 closed

[2020-07-07 07:15] souravmishra-msft commented on #58400
@Prabhakar96-dev, Thank you for reaching out. Just wanted to check are you trying to update the user's profile image who has sent the invitation with the company logo? If yes, then I would suggest, you to update the user's profile pic with the company logo so that it gets displayed in the invitation email. There is no section available in the B2B invitation email that where the company logo gets d

[2020-07-07 07:17] str1ke-cw commented on #57689
@mbialecka Is a version 1.3 planned for arm64? Could you please provide a roadmap? This would be very interesting also for IoT Edge on arm64 in general.

As a user, I would hope for basic things to work without me having to worry about API versions, as long as I use the newest version of a Azure Blob Storage on IoT Edge on a platform (e.g. arm64) and the newest version of a supported SDK (e.g. Azu

[2020-07-07 07:25] ngaba18 commented on #13305
@Alberto-Vega  : We are not getting this option in basic server setup. Although it is available in General Purpose.

[2020-07-07 07:26] PramodValavala-MSFT commented on #58132
@steveculshaw

The Logic App Action requires the Resource ID instead of the Callback URL itself, so it works despite key regeneration

This is where the [APIM option](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-http-endpoint#q-can-i-configure-callable-endpoints-further) comes in. You would [restrict Logic Apps to trigger only from requests coming in from APIM](https://docs.microso

[2020-07-07 07:34] Prabhakar96-dev commented on #58400
@souravmishra-msft  Thank you for your quick response, I would like to change the logo at footer section. Currently Microsoft logo is appearing at footer.

[2020-07-07 07:38] ram-msft commented on #58257
@aahill Could you please help on this issue.

[2020-07-07 07:45] hisasima commented on #55431
Could you reopen this issue ? What is dynamic SNAT port ? I can not understand your answer. I hope you to add dynamic SNAT port into this document.

[2020-07-07 07:48] KrishnaG-MSFT commented on #58475
@SvenSowa I assume that you have self resolved the issue and hence cancelled / closed this feedback. Thanks for the update. If you want us to consider this feedback or if there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-07-07 07:55] KrishnaG-MSFT commented on #58523
@tyconsulting Thanks for your comment! We will review and provide an update as appropriate.

[2020-07-07 08:06] noa1697 commented on #9010
I havea question I've done the same only insert port 9092 didnt worked for me.
1 sasl.password should be the event_Hub ~ 'topic' primary key or namespace?

[2020-07-07 08:06] arramranjith opened #58536 "Export to Power BI (M query)' grayed out"
[Enter feedback here]
I see the option of 'Export to Power BI (M query)' grayed out when I tried on my log analytics workspace, is there anything am missing ?
have you see such behavior before?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: daf84287-d3e6-38f3-e67d-41b7aaf350ce
* Version Independent ID: b03d56d0-1fba-be

[2020-07-07 08:10] kiranpradeep opened #58537 "train.py includes utils which is not uploaded from vscode extension"
I was trying this tutorial and it failed with error message: `ServiceError: Job preparation failed: HTTP Error 404: Unable to find snapshot with id: 00000000-0000-0000-0000-000000000000`.

But more importantly it appears the tutorial is incomplete. For e.g kindly take a look at `train.py` which is uploaded from vscode extension. That refers to utils (`from utils import prepare_data`) in utils.py w

[2020-07-07 08:16] tajaber opened #58538 ""Domain Controller logs" must be "Pass-through Authentication agent logs""
The XML Query can be used on any server that has PTA agent installed. So the name of this section must be changed to  "Pass-through Authentication agent logs" instead of "Domain Controller logs" which is at https://docs.microsoft.com/en-us/azure/active-directory/hybrid/tshoot-connect-pass-through-authentication#domain-controller-logs

---
#### Document Details

⚠ *Do not edit this section. It is r

[2020-07-07 08:18] MayankBargali-MSFT commented on #58347
@barbados-clemens I have tested the repro at my end and I don't see any issue with the azure relay and I am able to send content length more than 3072 as per below screenshot. Whatever content I am sending I am receiving the same. If your search functionality is not working as expected you need to look into your business logic.

Update the code Listener Program.cs:

	        using (var sw = new St

[2020-07-07 08:19] vipulsparsh commented on #58521
@Grae-Saunders  Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@abshamsft  Can you please look into this ?

[2020-07-07 08:22] KrishnaG-MSFT commented on #58536
@arramranjith One general scenario I see it in is, whenever you run some query and get the output but you remove the query from the query box and try to export it to Power BI. Double check if you fall in the same scenario.

**_With query existing in query box_**:
<img width="958" alt="LA18" src="https://user-images.githubusercontent.com/45988031/86746811-f3504300-c058-11ea-9876-063ae67e1346.png">

[2020-07-07 08:24] johndowns commented on #58511
This is a duplicate of #53859, so I'll close this issue.

[2020-07-07 08:24] #58511 closed

[2020-07-07 08:44] CHEEKATLAPRADEEP-MSFT commented on #58525
@NT-D, Thanks for the feedback! Your feedback  has been shared with the content owner for further review.

[2020-07-07 08:49] souravmishra-msft commented on #58400
@Prabhakar96-dev, As far as my knowledge is concerned, the Microsoft logo on the footer cant be changed. If you have an org branding logo set already in the tenant, that would come up in the beginning of the email body, but apart from that the footer logo cant be changed as of now.

Having said that I would like to recheck the things to make sure my statement is correct 100%. Do allow me sometime

[2020-07-07 08:49] DrachovDmytro commented on #58286
Hey, thanks for response.

I am basically looking on that from backend side. So our client sends us non-jwt access token and we failed to validate it using flow described in the [same page](https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens#validating-tokens).

Basically I guess it would be nice to mention that access token could be non-jwt and as best how to handle vali

[2020-07-07 08:54] SubhashVasarapu-MSFT commented on #58268
@InfiniteQ2 , Appreciate your patience. We request you to wait till this weekend as there is a portal roll out underway which will let you use previous routes.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-07-07 08:54] #58268 closed

[2020-07-07 08:55] AjayKumar-MSFT commented on #58535
@erndob, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-07-07 08:55] SubhashVasarapu-MSFT commented on #58526
@hisasima , Thanks for reaching out. We will investigate and update this thread.

[2020-07-07 08:59] nkumars commented on #58469
Response from @amanmcse in [this](https://docs.microsoft.com/en-us/answers/questions/24451/how-to-skip-self-asserted-page.html) link, if we set **ExecuteActionsIf** to **false**, it does work fine, but the second time the same page is popped up for user input. So, I added another Precondition _(as below)_ to existing Preconditions list
[code]
So my full set of Preconditions will be as below:
[code

[2020-07-07 08:59] JavedEqbal opened #58539 "Unable to modify/edit the Storage Account configurations (like Replication Type from GRS -> LRS)"
[Kindly include a NOTE or LIMITATION section on the page that the Storage Account resource deployed in the Resource Group cannot be edited or modified as this is created in a managed resource Group which is part of Databricks workspace. If you wish to use LRS storage account then you may want to create new storage and mount it on the existing Databricks workspace.]

---
#### Document Details

⚠ *D

[2020-07-07 09:03] Gowthami-Ronda opened #58540 "Azure Email APIs for customisation"

[2020-07-07 09:07] RobThaBlob opened #58541 "Missing NuGet Info"
It would be helpful if you mentioned which NuGet packages are needed for the code to work to help developers trying to follow through the code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 906f1086-776e-9abe-b6cc-bf93e84dc238
* Version Independent ID: 50b27c9e-8f8a-3425-a1bb-b5d30e9d95e4
* Content: [Configure protect

[2020-07-07 09:16] foramkumar-parekh commented on #58361
@amanmcse , thanks for your help.

I just have one more question.

I just figured out that not all the people, in my tenant, have an email address so now what I need is the userPrincipalName.

I tried using below, just as you suggested for email,
`<OutputClaim ClaimTypeReferenceId="userPrincipalName"/>`

But for that, I got the below output (i have replaced the original unique key with xxx)
`"upn"

[2020-07-07 09:21] remideprez02 opened #58543 "Move CSP subscription to different tenant"
Hello,

I would like to know if it's possible to move and convert CSP subscription to EA subscription in a different tenant ?
If I can't, how can I backup everything (Web app, web app configuration, storage accounts, sql etc) and redeploy ? Is there a specific tool or method ?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-07-07 09:23] AnuragSharma-MSFT commented on #58531
@sayanghosh123 Thanks for reaching out to us.

You can refer to [Azure Database for MySQL pricing](https://azure.microsoft.com/en-in/pricing/details/mysql/) and check the section 'Read Replica' to know about pricing model.

If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-07 09:25] AnuragSharma-MSFT commented on #58468
@simonness We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-07 09:25] #58468 closed

[2020-07-07 09:27] AnuragSharma-MSFT commented on #58533
@sayanghosh123 Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2020-07-07 09:27] simonness commented on #58468
Hi @AnuragSharma-MSFT @SnehaGunda, all makes sense, thanks for your help!

[2020-07-07 09:28] ChiragMishra-MSFT commented on #58325
@dearandyxu Can you please take a look at this?

[2020-07-07 09:30] AnuragSharma-MSFT commented on #58532
@sayanghosh123 Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2020-07-07 09:31] ChiragMishra-MSFT commented on #58335
@shabirjan This channel is for driving improvements towards MS Docs, Since this issue is not related directly to the doc,  I would recommend you to create a thread on the forums- [MS Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-data-lake-storage.html)/ [Stackoverflow](https://stackoverflow.com/questions/tagged/azure-data-lake-gen2).

Once you post your issue on forums, it will have v

[2020-07-07 09:31] #58335 closed

[2020-07-07 09:50] IgnacioAlvarezArenas opened #58544 "Restore Deleted App (App Services) information requires updated information"
In the section "Restore Deleted App" it is mentioned that  for restore-azdeletedwebapp you need as resourcegroupname the destination resource group. It says explicitly:

"The inputs for command are:

Resource Group: Target resource group where the app will be restored
Name: Name for the app, should be globally unique.
TargetAppServicePlanName: App Service plan linked to the app"

Reality is that -

[2020-07-07 09:52] msharsur opened #58545 "Disable-ADSyncExportdeletionThreshold and Enable-ADSyncExportdeletionThreshold currently not asking for AAD credentials. Looks like the change is local. Can we confirm if this is known and doc be updated or a fix is in works?"
Disable-ADSyncExportdeletionThreshold and Enable-ADSyncExportdeletionThreshold currently not asking for AAD credentials. Looks like the change is local. Can we confirm if this is known and doc be updated or a fix is in works?

More info: Cmdlets run alone do not even need internet connection. unless -AADCREDENTIAL is passed, it just works. Does it mean the threshold set locally will be honored?

-

[2020-07-07 09:53] msharsur opened #58546 "Disable-ADSyncExportdeletionThreshold and Enable-ADSyncExportdeletionThreshold currently not asking for AAD credentials."
Disable-ADSyncExportdeletionThreshold and Enable-ADSyncExportdeletionThreshold currently not asking for AAD credentials. Looks like the change is local. Can we confirm if this is known and doc be updated or a fix is in works?

More info: Cmdlets run alone do not even need internet connection. unless -AADCREDENTIAL is passed, it just works. Does it mean the threshold set locally will be honored?

-

[2020-07-07 09:55] donniekerr commented on #58278
I didn’t find any information.  I experienced it myself.  If you follow the instructions in this tutorial, it installs the correct Windows build that works with IoT Edge. However, the Azure VM’s Updates force you to update Windows to current build, which breaks IoT Edge.   This is only related to this specific tutorial when using an Azure VM to host IoT Edge, which is supposed to be temporary for

[2020-07-07 09:57] danimir commented on #58314
Yes, that is still the case.

[2020-07-07 10:00] AjayKumar-MSFT commented on #58544
@IgnacioAlvarezArenas,  Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-07-07 10:04] amanmcse commented on #58391
@mrochon Thanks for your feedback. I have updated the document with ProxyIdentityExperienceFrameworkAppId and IdentityExperienceFrameworkAppId instead of 00000000-0000-0000-0000-000000000000. Changes might take upto 24 hrs to reflect.

[2020-07-07 10:04] RohitMungi-MSFT commented on #58537
@kiranpradeep Thanks for the feedback. The entire set of VS code tools that are required are available in this [repository](https://github.com/microsoft/vscode-tools-for-ai/archive/master.zip). utils.py should be available in the mnist-vscode-docs-sample directory if you can download this zip file to your local computer and follow the steps mentioned as is you should be able to complete all the st

[2020-07-07 10:08] #58391 closed

[2020-07-07 10:10] PramodValavala-MSFT commented on #58528
@pacodelacruz Thanks for the question! We will review and get back to you!

[2020-07-07 10:15] royal opened #58548 "Grammatical Error"
The section [Log Data Anti-Pattern - Solution](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/storage/tables/table-storage-design-patterns.md#solution-12), paragraph 4 has the final sentence:

This should be changed to:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbd87ab1-9a5b-4d23-05ce-d9d5f5bb74a

[2020-07-07 10:20] steveculshaw commented on #58132
@PramodValavala-MSFT Thanks again for the comprehensive responses. Interesting point about APIM versus the need to configure  Azure AD OAuth for each logic app.

[2020-07-07 10:20] vipulsparsh commented on #58489
@rolyon Can you look into this ?

[2020-07-07 10:20] robertmuehsig commented on #13263
What is the current default size for memory? Is it 1GB or 1.5GB? I tested it yesterday, but wasn't sure if I read the values correct.

[2020-07-07 10:32] CHEEKATLAPRADEEP-MSFT commented on #58539
@JavedEqbal  Thanks for the feedback! Your feedback  has been shared with the content owner for further review.

[2020-07-07 10:51] slawekww opened #58550 "No examples how to update kubernetes manifests to use Availability zones"
This feature has been introduced on AKS without asking customers.
Now nodes are spawned in random availability zone and if pod is re-scheduled on different node, volume are not remounted between availability zones.

Please provide kubernetes manifests examples how to ensure about affinity to always re-schedule pod in the same availability zone.

---
#### Document Details

⚠ *Do not edit this secti

[2020-07-07 10:52] a142690 opened #58551 "What is the number of deployments deleted from the history"
Its great to hear about this feature. However I would like to understand what would be the number of deployments that would be deleted from the history. I assume logically it would be more than 10 as the trigger of auto delete happens at 790 or above.
Can you please clarify?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-07-07 10:53] AjayKumar-MSFT commented on #57806
Apologies for the delay, we had been discussing on this internally. I have assigned the issue to the content author to review further and update the document as appropriate. Thanks again for your feedback.

[2020-07-07 10:55] writex opened #58552 "Change the word create to creates"
Not: create
But: creates

Then depending on that information the manager service create an instance of your actual contact-storage service just for that customer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bb25acc-6868-7ae8-5b42-813eee29efa4
* Version Independent ID: ba88e4b7-f27c-6d0a-7550-6e04c6f36c4c
* Content:

[2020-07-07 10:55] AjayKumar-MSFT commented on #58529
@gopicloudarch,  Thanks for leveraging Azure docs feedback channel to raise this question. Could you please share the Azure documentation for which this feedback is applicable to?
This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2020-07-07 11:17] kiranpradeep commented on #58537
@RohitMungi-MSFT I have already downloaded the repository: that is how I recieved the `train.py` script. To repeat the original post: utils.py is never uploaded. Did any of the steps in that document mention to upload utils.py?

[2020-07-07 11:22] abhilashmk opened #58553 "We can use port 80 - Need to update the document https://docs.microsoft.com/en-us/azure/app-service/containers/configure-custom-container#configure-port-number"
[Enter feedback here]
The document here says we can use any other port than 80. Actually we can use port 80 as well now.
https://docs.microsoft.com/en-us/azure/app-service/containers/configure-custom-container#configure-port-number

Document needs an update
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6489b871-9cf8-7c

[2020-07-07 11:29] VikasPullagura-MSFT commented on #58552
@writex Thanks for the Feedback.
I have updated the document and changes will go live soon.

[2020-07-07 11:30] Bunzab opened #58554 "Missing Link in document"
Under the securing [AKS section](https://docs.microsoft.com/en-us/azure/firewall/protect-azure-kubernetes-service#securing-aks) there is a reference to a table that is not displayed:
To be more specific, see the *.hcp..azmk8s.io and addresses in the following table.

For the third bullet point it is not clear how this is, or even if it should be, set in the Azure Firewall.

---
#### Document Detai

[2020-07-07 11:33] #58552 closed

[2020-07-07 11:37] anwojcie opened #58555 "kubectl apply -f hello-world-ingress.yaml --namespace ingress-basic"
Hi,

isn't the --namespace ingress-basic missing for the apply ingress command?
so
<== kubectl apply -f hello-world-ingress.yaml
==> kubectl apply -f hello-world-ingress.yaml --namespace ingress-basic

Cheers,
Andre

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd0e7d5a-37e9-07dc-f395-9cb5bb580e45
* Version Independen

[2020-07-07 11:42] MonikaReddy-MSFT commented on #58534
@mayoneka , Thank you for your question.

Can you please share with us the URL of the document that you are having issues with?

Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft Q&A or Stack Overflow. Thank you for your understanding.

[2020-07-07 11:44] MonikaReddy-MSFT commented on #58540
@Gowthami-Ronda - Thank you for your question.

Can you please share with us the URL of the document that you are having issues with?

Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on MSDN or Stack Overflow. Thank you for your understanding.

[2020-07-07 11:50] anwojcie commented on #58555
Just saw that one is already fixed in master though not in docs yet...

[2020-07-07 11:50] #58555 closed

[2020-07-07 11:53] FrenezOrg commented on #57099
Hello,

Any news on this?

Thanks,

FrenezOrg

[2020-07-07 11:55] MayankBargali-MSFT commented on #58528
@pacodelacruz Once you have created the private endpoints as mentioned

![image](https://user-images.githubusercontent.com/67255909/86777307-9d8a9380-c076-11ea-9f7a-ab079cf31c3d.png)

[2020-07-07 12:03] MonikaReddy-MSFT commented on #58548
@royal -  Thanks again for bringing this to our attention and for updating the doc. The doc should be updated once it is merged. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-07 12:03] #58548 closed

[2020-07-07 12:09] MonikaReddy-MSFT commented on #58487
@lorek73, Can you please share with us the URL of the document that you are having issues with?

[2020-07-07 12:16] MayankBargali-MSFT commented on #58528
@pacodelacruz  You can follow this article: https://docs.microsoft.com/en-us/azure/service-bus-messaging/private-link-service to create private links as mentioned in the geo dr document. Once you have created the private link one namespace having two private endpoints as per the below screenshots.

![image](https://user-images.githubusercontent.com/67255909/86778095-94e68d00-c077-11ea-826d-6acf259

[2020-07-07 12:29] KrishnaG-MSFT commented on #58551
@a142690 Thanks for your comment! We will review and provide an update as appropriate.

[2020-07-07 12:30] arczibdg commented on #55058
Do you have any estimation when fix for such problem will be delivered?
It's really causing a problems if we want to switch to Az module.

[2020-07-07 12:38] Blackmist commented on #57860
Hi @dgcaron, this GitHub repo is only for reporting and tracking documentation issues. While @aashishb and I can let the engineering team know about this functionality change you are asking for, we would not be able to track and report back on status.

A better way to file a feature request is to use [https://feedback.azure.com/forums/257792-machine-learning](https://feedback.azure.com/forums/2577

[2020-07-07 12:41] bevinduplessis opened #58556 "Information is inaccurate"
Information is inaccurate, my accounts page is missing options mentioned in the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8751595d-4839-d2ee-1e2c-16d07ef84a2d
* Version Independent ID: e66f96b3-5b88-9304-1ec0-9e3bb8a2cfbe
* Content: [How to manage app passwords - Azure Active Directory](https://docs.microsof

[2020-07-07 12:42] tfitzmac commented on #58551
@a142690 - thanks for your comment. At this point, the number is being evaluated. I will add it once it has been finalized.

[2020-07-07 12:42] tfitzmac commented on #58551
#please-close

[2020-07-07 12:42] #58551 closed

[2020-07-07 12:53] hosser commented on #55702
Not my experience. The Identifer field only allows specific patterns, none of which match the expected identifier leading to an error when signing in with SAML. I had to create a custom application instead of using the gallery one, as it currently cannot be configured correctly.

[2020-07-07 12:54] stevepmo opened #58557 "Speed of Light error"
[Enter feedback here]

The speed of light numbers are wrong by more than 3 orders of magnitude
https://en.wikipedia.org/wiki/Speed_of_light

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9e17ce9-1b86-b744-f5c8-c86db7267376
* Version Independent ID: 915a5706-f1ba-525e-a8dc-338574e3c3f7
* Content: [TCP/IP performance tu

[2020-07-07 12:57] rimayber commented on #58557
I don’t think so. I think you’re just reading it wrong.

From: stevepmo <notifications@github.com>
Sent: Tuesday, July 7, 2020 7:55 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: JR Mayberry <rimayber@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/azure-docs] Speed of Light error (#58557)

[Enter feedback here]

The speed of light numbers are wron

[2020-07-07 13:00] danielstocker opened #58558 "Official documentation does not match Azure Feedback site"
The Azure Feedback item here https://feedback.azure.com/forums/281804-azure-resource-manager/suggestions/38394862-automatically-delete-old-deployments-as-deployment states that DeploymentQuotaExceeded should not occur anymore as deployments get deleted automatically when a user approaches 800 per region or management group.

The quota documentation still states that deployments have to be deleted

[2020-07-07 13:02] RohitMungi-MSFT commented on #58537
@kiranpradeep Apologies for the confusion. The documentation does not mention this to select `utils.py` and you are right the extension does not allow us to select more than one file or script while selecting the file for training. As it looks like the training script is now broken down and the steps in the document are not updated.

@luisquintanilla Could you please help clarify how the extension

[2020-07-07 13:02] chronicle17 opened #58559 "More Realistic Architecture"
If you used something like Logic App to get the tweets from Twitter and write to Event Hub, that would be more realistic than having two different DataBricks notebooks.  I think the tutorial is good, but would make more sense if I didn't have a notebook getting the tweets, putting them in event hub, only to have another notebook pull them from event hub.

---
#### Document Details

⚠ *Do not edit

[2020-07-07 13:13] ashinzekene commented on #58425
After going through I quite get it.I was initially wondering why `Microsoft.Percentage` wasn't working on a typescript project.

When working with a .NET or Spring project it's quite straightforward, however using any other language or framework, one has to build their own `FeatureManagement` library, using the data/configuration from app configuration

[2020-07-07 13:19] memildin commented on #58442
Thanks for taking the time to help improve this page, @cqueern

I've added the ACR domain to the table and the changes will go live within 24hrs.

#sign-off

[2020-07-07 13:22] amanmcse commented on #58361
@foramkumar-parekh  You need to define a new claim with id **preferred_username** under `<ClaimsSchema>` tag.

[code]

Then add below output claim to `<OutputClaims>` in the Technical Profile for federated Azure AD.

`<OutputClaim ClaimTypeReferenceId="preferred_username" PartnerClaimType="email" />`

Also, make sure you have below `<OutputClaim>` present in your RP (SignupOrSignin.xml) file.

`<O

[2020-07-07 13:22] #58361 closed

[2020-07-07 13:23] tfitzmac commented on #57674
@motim6026 - I tested your template and it worked as expected. When I used complete mode and set the number of vnets to 1, it deleted the second vnet. I would check that you are using the latest version of PowerShell when you deploy the template.

[2020-07-07 13:23] tfitzmac commented on #57674
#please-close

[2020-07-07 13:23] #57674 closed

[2020-07-07 13:24] cqueern commented on #58442
Thank you Team for your hard work.

[2020-07-07 13:26] tfitzmac commented on #58558
@danielstocker - thanks for this feedback. The feature is not fully rolled out to Azure. I will make those changes once it goes live.

[2020-07-07 13:26] tfitzmac commented on #58558
#please-close

[2020-07-07 13:26] #58558 closed

[2020-07-07 13:26] tfitzmac commented on #58346
#please-close

[2020-07-07 13:26] #58346 closed

[2020-07-07 13:28] SadiqhAhmed-MSFT commented on #58227
@sasikumarsampath We haven't heard back from you, so we will now close this issue. Tag me in your reply if you have further questions we can help with.

[2020-07-07 13:28] #58227 closed

[2020-07-07 13:29] kensykora opened #58561 "Documentation is not clear on how the lockout duration impacts duration after repeated lockouts"
The documentation on this page states

The settings explanation below shows that the lockout duration can be configured differently than 1min/60 seconds:

![Adjust Lockout Settings](https://docs.microsoft.com/en-us/azure/active-directory-b2c/media/threat-management/portal-02-password-protection.png)

However the documentation doesn't address how the lockout duration setting impacts the "slightly l

[2020-07-07 13:29] SadiqhAhmed-MSFT commented on #58212
@ANISSARIZKY We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2020-07-07 13:29] #58212 closed

[2020-07-07 13:30] jusnitlive commented on #56834
@VikasPullagura-MSFT, I do have another question regarding configuring this extension.
When I add multiple data and log drives through the portal they are extendable.
When I add multiple data and log drives through the template they are not. Can you point me in the right direction for how to resolve this?

[2020-07-07 13:39] joedyndale opened #58562 "Wrong information"
This is wrong (or, at least incomplete). Actions are optional. And the behavior differs depending on whether an action is defined or not.

First, it's not 100% clear what a "rule condition" is; is "MyProperty = '1' AND MyOtherProperty = '2'" one rule containing two conditions, or is it one "rule condition"? It's the latter, but as I say, that's not entirely clear from the wording.

All rules witho

[2020-07-07 13:40] writex opened #58563 "Redundant Wording--external ingress traffic"
Remove the word external in "external ingress traffic"

Ingress traffic is by definition external--it is "Data originating outside of the local network that is transmitted to a station within the network."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e9457e8-c623-9218-027e-37059f5493ec
* Version Independent ID: 6232

[2020-07-07 13:41] foramkumar-parekh commented on #58361
@amanmcse , as I already mentioned, I cannot use email as PartnerClaimType as this is not available for all the users. I need to fetch the userPrincipalName from the B2B tenant.

[2020-07-07 13:43] amanmcse commented on #58361
@foramkumar-parekh These steps are to get UPN as email claim. Federated AAD sends UPN as preferred_username in the token.

[2020-07-07 13:49] foramkumar-parekh commented on #58361
Yes, that's what I would like to have.
But how can Partner claim type = email gives me UPN, is what I cannot understand. As shown below, the email claim does the same as you mentioned above. So how will it behave differently here?

`<ClaimType Id="email">
        <DisplayName>Email Address</DisplayName>
        <DataType>string</DataType>
        <DefaultPartnerClaimTypes>
          <Protocol Name

[2020-07-07 13:50] VaclavK opened #58564 "Ran the sample... subsequent releases fail"
I ran this sample...the initial CI/CD ran

any subsequent CD attempts fail at helm upgrade with the following

2020-07-07T13:34:58.5603447Z ##[section]Starting: Helm upgrade
2020-07-07T13:34:58.5612143Z ==============================================================================
2020-07-07T13:34:58.5612542Z Task         : Package and deploy Helm charts
2020-07-07T13:34:58.5612980Z Description  :

[2020-07-07 13:52] slewis1904 commented on #58502
This is what I changed the procedure to be in order to successfully run the next bit of code.

`CREATE PROCEDURE    [dbo].[prc_sqldw_update_stats]
(   @update_type    tinyint -- 1 default 2 fullscan 3 sample 4 resample
    ,@sample_pct     tinyint
)
AS

IF @update_type NOT IN (1,2,3,4)
BEGIN;
    THROW 151000,'Invalid value for @update_type parameter. Valid range 1 (default), 2 (fullscan), 3 (samp

[2020-07-07 13:55] AshokPeddakotla-MSFT commented on #58189
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-07 13:58] SatishBoddu-MSFT commented on #58200
@DNorthcott
Since we didn't received any response, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-07 13:59] #58200 closed

[2020-07-07 13:59] #58442 closed

[2020-07-07 14:01] memildin commented on #55254
There are multiple ways of viewing the policies that affect ASC.

Within the security center > security policy page you can see a list of the policies that Azure Security Center supports directly.
The number of policies here may be different from the number in the Security Center policy initiative (“ASC default”). That initiative includes the policies not currently supported by Security Center.

#

[2020-07-07 14:01] #55254 closed

[2020-07-07 14:01] amanmcse commented on #58361
@foramkumar-parekh  PartnerClaimType is the claim name sent to the application by B2C. In Federated AAD TP, we are sending preferred_username as email to the application. Refer to below line that we added in the technical profile.

`<OutputClaim ClaimTypeReferenceId="preferred_username" PartnerClaimType="email" />`

If email value is causing confusion for you, you can define a new claim id (e.g. u

[2020-07-07 14:03] motim6026 commented on #57674
Hi
Thanks, its work now (i didn't change anything its).

[2020-07-07 14:03] robtextrequest opened #58566 "The setting MaxOrchestrationActions is undocumented"
If an Orchestrator function executes more than 100,000 times, an exception is thrown of

"Orchestrator function ':functionName' failed: Maximum amount of orchestration actions 100,000 has been reached. This value can be configured in host.json file as MaxOrchestrationActions."

However, this MaxOrchestrationActions in host.json is not documented here or anywhere else I can find. Can you please pro

[2020-07-07 14:13] foramkumar-parekh commented on #58361
So, to understand better, let's take an example of claim, mentioned below.

  <DisplayName>Surname</DisplayName>
  <DataType>string</DataType>
  <DefaultPartnerClaimTypes>
    <Protocol Name="OAuth2" PartnerClaimType="family_name" />
    <Protocol Name="OpenIdConnect" PartnerClaimType="family_name" />
    <Protocol Name="SAML2" PartnerClaimType="http://schemas.xmlsoap.org/ws/2005/05/identity/claim

[2020-07-07 14:16] Pachehra opened #58567 "Expanding Data Disk"
[Enter feedback here]
in this link : https://docs.microsoft.com/en-us/azure/virtual-machines/windows/expand-os-disk
under resizing data disk - its mentioned no need to deallocate VM

- Its not TRUE VM needs to shutdown when we update the azdisk

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccc58c74-7913-f1f6-8681-1823

[2020-07-07 14:17] #58189 closed

[2020-07-07 14:17] DeanGross opened #58568 "Ending Preview Status"
[Enter feedback here]
This has been in preview for over 6 months, can you provide any information about how much longer the Preview phase will continue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86afa989-3f13-743e-23c5-19cc203b2aa8
* Version Independent ID: 01e70701-b38a-cf0f-2fb7-db790507ed4a
* Content: [Tutorial

[2020-07-07 14:18] amanmcse commented on #58361
@foramkumar-parekh  Your understanding is not correct. B2B tenant also stores surname as surname and not as family_name. The claim family_name is returned by B2C to the application which is federated with the B2C tenant and the value of the family_name claim will be same as surname.

[2020-07-07 14:29] bussemac opened #58569 "Update page with screenshots and instructions for App registrations"
Now that Applications is deprecated in B2C, this page should be updated to talk users through the correct steps with App registrations.

Further, the instructions to select a Signup and Signin policy were completely vague and unhelpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18a8a3ac-153d-90b9-4c66-cc6207eaafac

[2020-07-07 14:39] PramodValavala-MSFT commented on #58224
@JiroP Just following up here. I was able to successfully add/remove users from a group using their `userId` with JavaScript functions.

Apart from my previous comment, could you also double check if the [`userId` is set properly for the input binding](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-signalr-service-input?tabs=javascript#authenticated-tokens) required for

[2020-07-07 14:47] pauldj54 opened #58572 "When executing autorest: ERROR: Referenced file not found"
Hi,
when trying the autorest to generate a python sdk I got the following error:

`ERROR: Referenced file 'file:///C:/Users/z003pwpn/git/adt_api_python/examples/DigitalTwinsCheckNameAvailability_example.json' not found
    - file:///C:/Users/z003pwpn/git/adt_api_python/digitaltwins.json:560:12 ($.paths["/subscriptions/{subscriptionId}/providers/Microsoft.DigitalTwins/locations/{location}/checkName

[2020-07-07 15:03] vpohl commented on #57579
It worked as described above except that I had to additionally match the query parameters in the source URL and insert those in the Destination after the SAS token using &.

[2020-07-07 15:09] pekspro opened #58573 "Local storage"
On the **Service limits** table on this page:

https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#hosting-plans-comparison

It says that storage is 5 TB for consumption plan, and 250 GB for premium plan. Is this right? I would assume that consumption plan had less storage than premium plan, and in my experience that is the case.

Also, is this value for **local storage**? If I

[2020-07-07 15:15] MonikaReddy-MSFT commented on #58564
@VaclavK , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-07 15:30] mrbullwinkle commented on #58479
That section appears to be doing exactly what the sentence preceding it describes in that it is changing the behavior to log categories that start with "Microsoft" at Error level and above. I believe changing to Default as you have done would invalidate the preceding sentence as it would more broadly log all providers/categories at Error level/above which is not what this example is trying to show

[2020-07-07 15:30] amanmcse commented on #58469
@nkumars  If you never want to execute SelfAsserted-Social technical profile, you can just remove/comment-out the orchestration step and re-sequence the orchestration step order number.

With the above preconditions, you are skipping the orchestration step in both conditions; objectID exists=true and object exists=false which means this orchestration step will never be executed. So rather than mak

[2020-07-07 15:37] nschoenberg commented on #11092
I googled because I had the same question and landed here. I would like to understand the concept of providers, why do I have to enable specific ones. What would be the downside if it would be enabled by default?

Cheers

[2020-07-07 15:41] mattlunzer opened #58575 "Incorrect wording"
In the **Transit Connectivity Between VNets** section it states to **Reset Router** if the Virtual Hub is in a failed state. However, in the Azure Portal it is **Reset Hub**

Please review and update to accurately reflect the Portal experience.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 316afee6-13d5-4b73-5224-073b

[2020-07-07 15:42] sethmanheim commented on #55690
Hi @AdamMarciniec -- sorry for the delay in responding, we have updated the code in this step based on your suggestion and it should be live later today. Thank you for catching this and sending your feedback! #please-close

[2020-07-07 15:42] #55690 closed

[2020-07-07 15:44] #33821 closed

[2020-07-07 15:46] zr-msft commented on #33821
thank you for the feedback @archmangler

The article has been updated with additional information and the changes will be available soon.

[2020-07-07 15:52] MonikaReddy-MSFT commented on #58575
@mattlunzer , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-07 15:52] dmgonch commented on #58102
Later on I figured out that 'Exclude from latest' properly actually can be updated on an existing image version with a command like below. It just wasn’t obvious that this was a possibility from just reading the online docs.

az sig image-version update -g … -r … -i … -e … --set publishingProfile.excludeFromLatest=false

From: VikasPullagura-MSFT <notifications@github.com>
Sent: Monday, July 6, 20

[2020-07-07 15:55] sethmanheim commented on #55558
Hi @razvansalajan and thank you for your feedback. Sorry for the delayed response -- I have updated the valid values per your suggestion. I will need to report the toggle issue to the portal development team, but again thanks for pointing that out. Please open a new issue if you have any further questions. #please-close

[2020-07-07 15:55] #55558 closed

[2020-07-07 15:56] chwolfe commented on #58307
@PatrickFarley FYI, I am specifically looking for documentation on leveraging Form Recognizer with documents on-premise and not in Azure Blob Storage.

[2020-07-07 16:02] sethmanheim commented on #55216
@ederbond Thank you for the feedback and sorry for the delay. This looks like it will require a new sample and tutorial. We are currently working with the engineering team to provide this, and will add it to our current list of work items. I can't say for sure when this will be completed, but it will be ASAP. Please open a new issue if you have further questions. Thanks again! #please-close

[2020-07-07 16:02] #55216 closed

[2020-07-07 16:03] mrbullwinkle commented on #58324
@jdorecae Thanks for calling this out. It looks like you and a few other users who recently started reporting issues with this doc have found a bug that was recently introduced to that UI which is causing the issue you are seeing. There are currently two different types of Application Insights resources. A new workspace-based resource went public preview at Build and in conjunction with that relea

[2020-07-07 16:03] MonikaReddy-MSFT commented on #58575
@mattlunzer , Thanks again for bringing this to our attention.

We have updated the Doc and it should be updated once its merged and We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-07 16:03] #58575 closed

[2020-07-07 16:04] dtblodgett opened #58576 "Outdated script"
The script for converting users from per-user to Conditional Access based MFA is written using the MSOnline module which I can't seem to install any longer as it is being deprecated. It would be great to have this script updated to use the new Azure AD v2 module.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f132318f-

[2020-07-07 16:05] YutongTie-MSFT commented on #58390
@bdnts I have fixed the document and you should see the change soon. Thanks for the feedback again.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-07-07 16:05] #58390 closed

[2020-07-07 16:06] hpsin commented on #58286
You're not supposed to though - that's the crux of the issue here. Can you describe the scope you're using to request the token?

[2020-07-07 16:08] NavtejSaini-MSFT commented on #58246
@stevestein Please help with the query here.

[2020-07-07 16:10] sethmanheim commented on #49731
@robcamer Very sorry for the delayed response on this -- we have the engineering team looking at this. Can you tell us what the exception is that you're receiving from ProcessNotification?

[2020-07-07 16:10] NavtejSaini-MSFT commented on #58031
@jschrap Thanks for the feedback.
@MashaMSFT @stevestein Is there a doc update needed for this information.

[2020-07-07 16:13] ajlam commented on #58533
@sayanghosh123 - the Azure DB for MySQL service does not support automatic failover, but you can perform manual failover. I am in the process of adding these details to the MySQL docs. For now, you can refer to the [PostgreSQL failover instructions](https://docs.microsoft.com/azure/postgresql/concepts-read-replicas#failover), which will be the same as MySQL.

[2020-07-07 16:13] mimckitt commented on #58567
#assign: @mimckitt

@Pachehra can you point me to the section that says that?

It specifically says it does **not** have to be deallocated.

![image](https://user-images.githubusercontent.com/32313503/86810752-19162180-c032-11ea-8b6e-5f2c37f23573.png)

[2020-07-07 16:15] barbados-clemens commented on #58347
it looks to be related to using the C# 8.0 inline using statements like the code you showed you changed.

https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-8#using-declarations

is this a bug with the Azure SDK then? or does it not support this? or am I using the using feature wrong?

either way this solved my issue.

Thank you for taking a look at this for me. 😄

[2020-07-07 16:18] mrbullwinkle commented on #57139
@tp6hannah I found a temporary workaround in case you decide you would like to be able to use the UI for these changes; https://github.com/MicrosoftDocs/azure-docs/issues/58324#issuecomment-654964252

[2020-07-07 16:20] NavtejSaini-MSFT commented on #58314
@m60freeman Please convey if you have any other question. We will close the thread by EOD.

[2020-07-07 16:22] sethmanheim commented on #51499
@jayeshshingote92 Thank you for the feedback and sorry for the delay. Can you please clarify what the documentation issue is here? I do not see calls to UnregisterAllAsync and RegisterNativeAsync in this article. Thank you!

[2020-07-07 16:23] NavtejSaini-MSFT commented on #58246
Adding @MashaMSFT to the thread as well.

[2020-07-07 16:25] sethmanheim commented on #51415
@maxal1917 Thank you for the feedback and sorry for the delay. Can you please clarify what the documentation issue is with this article? After discussing with the engineering team, we are not sure why you are asking for this information. Thank you!

[2020-07-07 16:29] stevepmo commented on #58557
It says meters and it should say kilometers - 200 (kilo)metres per millisecond

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: JR Mayberry <notifications@github.com>
Sent: Tuesday, July 7, 2020 2:57:26 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: stevepmo <stevepmo@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [MicrosoftDocs

[2020-07-07 16:32] sethmanheim commented on #49161
@timnot90 Thank you for your feedback and we are very sorry for the delay. I have added this information to the article per your suggestion, and enhanced the description of the Bundle ID. This should be published later today PDT. Thank you again! #please-close

[2020-07-07 16:32] #49161 closed

[2020-07-07 16:37] zr-msft commented on #34806
Thank you for the feedback @AndyWu7623

In this section https://docs.microsoft.com/azure/aks/use-multiple-node-pools#schedule-pods-using-taints-and-tolerations

the article calls out this is a basic example, and links to the this article for a Tensorflow example:
https://docs.microsoft.com/azure/aks/gpu-cluster

#please-close

[2020-07-07 16:37] #34806 closed

[2020-07-07 16:39] ammills01 commented on #58257
It looks like there may be a 'suggestion' for how to make this type of thing work more broadly. It would be cool if this just worked as part of the refresh at the server level, specifically using a Gateway. Hopefully I've just configured something wrong and a tutorial on how to properly publish this to the server and auto-refresh would clear it up.

https://ideas.powerbi.com/forums/265200-power-bi

[2020-07-07 16:40] elhorton commented on #58154
Hi @nehsin , can you please help Jimaco with the above questions? We are trying to document the convention that the Hub team defined for how to handle c2d message properties somewhere, but I can't speak to how hub wants to share this information. Satish has a PR in progress for [this page](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-messages-c2d) to include this information.

[2020-07-07 16:41] btardif commented on #53436
We have a fix for this that will be rolling out with the next app service deployment. ETA for this to rollout to prod is Sept

[2020-07-07 16:42] DerekHerman-MSFT commented on #58418
@D3-LucaPiombino Thanks for reporting this issue. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-07 16:43] #34264 closed

[2020-07-07 16:44] zr-msft commented on #34264
Thank you for the feedback @montebhoover

I have incorporated your feedback and the changes should be available soon.

[2020-07-07 16:46] alexdrenea commented on #58479
Yup! You are correct, I think I missed the last par of the paragraph and got confused.
I will close the issue. Thank you!

[2020-07-07 16:46] #58479 closed

[2020-07-07 16:52] dfaa502 opened #58578 "What is the expected GA date for this feature?"
What is the expected GA date for this feature?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed78755d-0d64-5531-f1e2-a09106c3d0cd
* Version Independent ID: 3702ce02-ac7b-efa5-8201-5129b5a1dc33
* Content: [Monitoring Key Vault with Azure Event Grid](https://docs.microsoft.com/en-us/azure/key-vault/general/event-grid-ov

[2020-07-07 16:53] himanshusinha-msft commented on #58559
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-07-07 16:54] KrishnaG-MSFT commented on #58388
Tagging @tfitzmac and @mumian for insights.

[2020-07-07 16:54] ttilberg commented on #53360
https://github.com/MicrosoftDocs/azure-docs/issues/53436#issuecomment-654985908

[2020-07-07 16:55] hansenms commented on #58000
This is fixed in https://github.com/MicrosoftDocs/azure-docs/pull/58510. So when that merges, we can close this one too.

[2020-07-07 16:58] sethmanheim commented on #56282
Hi @marstr, if you can please take a look that'd be great. I think that the new prerequisites tutorial (https://docs.microsoft.com/en-us/azure/notification-hubs/ios-sdk-get-started) might also help in this situation. Thanks!

[2020-07-07 17:01] JamesTran-MSFT commented on #58556
@bevinduplessis
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

Can you provide some screenshots of what you're seeing compared to what the doc is showing, to help us get a better understanding of what doc improvements need to be made.

[2020-07-07 17:03] JamesTran-MSFT commented on #58576
@dtblodgett
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-07-07 17:04] sethmanheim commented on #56083
@CDrosos Thank you for your feedback and sorry for the delay in responding. We have determined that this tutorial should be updated (as opposed to creating a new tutorial), and we have put this work item on the backlog. It should be completed sometime in the next quarter. Thank you again! #please-close

[2020-07-07 17:04] #56083 closed

[2020-07-07 17:11] normesta commented on #58417
Thanks for the feedback @kashyap-bhatt-by. Please refer to the related conceptual articles list that appears in that article. Those articles contain all of the details related to SAS, ADD, and other authentication options that apply to all AzCopy commands. These reference articles are outputs from the help that appears when you use the "--help" switch in the command window, and exist mainly to pro

[2020-07-07 17:11] normesta commented on #58417
#please-close

[2020-07-07 17:11] #58417 closed

[2020-07-07 17:14] abhirockzz opened #58579 "Provide clarity on how to assign Event Hubs roles to Managed Identity"
The screenshot in ["To Assign RBAC roles using the Azure portal"](https://docs.microsoft.com/en-us/azure/event-hubs/authenticate-managed-identity?tabs=latest#to-assign-rbac-roles-using-the-azure-portal) section suggests that the role is being assigned to an AD user/group or service principal, but this is not the case.

As per use case discussed in the article, the diagram should reflect the correc

[2020-07-07 17:16] normesta commented on #49309
Thank you for the feedback @HemanK! We are in the process of revising this material. Most likely, we will separate out best practice information into the relevant task articles throughout the table of contents to make the information more focused. In the meantime, you can refer to this (less formal) Github page - [The Hitchhiker's Guide to the Data Lake](https://github.com/rukmani-msft/adlsguidanc

[2020-07-07 17:16] normesta commented on #49309
#please-close

[2020-07-07 17:16] #49309 closed

[2020-07-07 17:22] rolyon commented on #58489
Hi @andrePKI
Thanks for the feedback. Yes, I'll update this switch name.

[2020-07-07 17:22] ojmendezz opened #58580 "Missing semicolon"
I think there is a missing semicolon in the java code sample at the end of the following statement:

`SpeechRecognitionResult result = recognizer.recognizeOnceAsync().get()`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 095c74d0-66b3-9cd7-4588-291bf4f56a47
* Version Independent ID: 8125527b-407f-c34f-57e8-fea89db144e8

[2020-07-07 17:26] SatishBoddu-MSFT commented on #58572
@pauldj54
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-07 17:30] normesta commented on #57729
#assign:amishra-dev

[2020-07-07 17:30] PRMerger14 commented on #57729
amishra-dev is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-07-07 17:31] tamram commented on #58185
@IntegraITManager -

The Microsoft-managed key is rotated appropriately per compliance requirements. Note that the frequency may change without notice. Azure does not expose the logs to indicate rotation to customers. If you have specific key rotation requirements, then we recommend that you move to customer-managed keys. That way, you can manage and audit the rotation yourself.

#reassign: @tamra

[2020-07-07 17:31] #58185 closed

[2020-07-07 17:34] BhargaviAnnadevara-MSFT commented on #58344
@jamesbannan Thank you for bringing this to our attention. Our product group is investigating the issue further.
 I will get back to you once I have an update. Thanks for your patience.

[2020-07-07 17:40] #58386 closed

[2020-07-07 17:42] ehuna opened #58581 "How do I set the device registration expiration time for a notification hub?"
Hello,

Regarding -
  https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-push-notification-registration-management

There is this note -
  "By default, registrations and installations do not expire"

How do I set the device registration expiration time for this hub?

I found this -
  https://stackoverflow.com/questions/39413953/how-to-update-expiration-time-in-azure-notific

[2020-07-07 17:45] Karishma-Tiwari-MSFT commented on #58511
Thanks for sharing the update.

[2020-07-07 17:46] Karishma-Tiwari-MSFT commented on #57099
@ayshakeen Did you get a chance to look into this doc-enhancement request? Thanks :)

[2020-07-07 17:54] diberry commented on #58389
@NickAjderian This issus appears to be fixed. I'll close for now. If you still have an issue, please re-open the issue. #please-close

[2020-07-07 17:54] #58389 closed

[2020-07-07 17:58] AmitavaHazra opened #58582 "Myapps to myapplication.microsoft.com portal migration plan from MS"
Reference:
https://docs.microsoft.com/en-us/azure/active-directory/user-help/my-apps-portal-end-user-access

When exactly myapps.microsoft.com portal will be migrated to https://myapplications.microsoft.com . Any timeline from Microsoft side ?
Also for SSO experience we checked it is not mandatory to add myapps secure sign in but why it is specified in this doc .
1. Myapps secure sign in extension

[2020-07-07 18:04] IntegraITManager commented on #58185
Tamram - that doesn't really answer the question. Yes it might change, but what are the current compliance requirements?

[2020-07-07 18:05] AmitavaHazra commented on #58582
@vipulsparsh can you please clarify me on above points

[2020-07-07 18:10] nitinme commented on #53162
@ram-msft could you please assign this to the product group by putting the right label?

[2020-07-07 18:12] iainfoulds commented on #58576
Thanks for the feedback, @dtblodgett

I believe @BarbaraSelden was looking to work on some updates to this deployment guide, so it may be able to roll in to that. Our specific per-user doc is also using the MSOnline module, unfortunately - https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-userstates#convert-users-from-per-user-mfa-to-conditional-access-based-mfa

#as

[2020-07-07 18:13] writex opened #58584 "Roll back is one word in this sentence"
which triggers roll back or pauses the cluster upgrade, depending on the upgrade configuration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 128db716-892a-adf2-022a-01d8b77185c4
* Version Independent ID: 4875fcd1-70c1-da6f-08d5-90a1411d051b
* Content: [Health monitoring in Service Fabric - Azure Service Fabric](https

[2020-07-07 18:16] mrbullwinkle commented on #58479
I am going to add bold to the words in that section help offset them a little bit more. I missed that as well the first time I read through. Thanks for pointing this out!

[2020-07-07 18:16] ChaitanyaNaykodi-MSFT commented on #58562
@joedyndale Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-07-07 18:20] shashishailaj commented on #58438
As we have not received any response from you , We are closing this issue.  Should you have any query related to the document , please let us know by tagging me in your reply and we will be happy to help you . If the question is something which would require troubleshooting , I would suggest you to post on the [Microsoft QnA](https://docs.microsoft.com/en-us/answers/index.html) forums and the comm

[2020-07-07 18:20] #58438 closed

[2020-07-07 18:21] jaekster opened #58585 "Please update images on document."
[Enter feedback here]
The figures used in the document are duplicates and there seem to be images that are missing from the document.
please update with appropriate images. Thank you!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e019d080-69ea-06e3-9b7c-b66101f15cfc
* Version Independent ID: b4237652-1d19-1ef1-a4ac-e55

[2020-07-07 18:21] shashishailaj commented on #58415
@curtand Could you please review this and update the documentation as required.

[2020-07-07 18:25] savelinomediagroup opened #58586 "htt488.zendesk.com"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d429ecd5-657d-35fc-fbe5-d8131c4da484
* Version Independent ID: 5b51f1ff-c0b2-4810-7c05-b867a9aa06af
* Content: [Azure Cloud Shell Quickstart - PowerShell](https://docs.microsoft.com/en-us/azure/cloud-shell/quickstart-powershell)
* Content Source: [art

[2020-07-07 18:26] ChaitanyaNaykodi-MSFT commented on #58566
@robtextrequest Thank you for your feedback! We will review and update as appropriate.

[2020-07-07 18:27] normesta commented on #57729
#assign:amnguye

[2020-07-07 18:27] PRMerger13 commented on #57729
amnguye is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-07-07 18:31] normesta commented on #57729
Thanks for passing this on to us @davidOSUL! I've filed this issue with the .NET ref content - [https://github.com/Azure/azure-sdk-for-net/issues/13278](https://github.com/Azure/azure-sdk-for-net/issues/13278). Thanks again.

[2020-07-07 18:31] normesta commented on #57729
#please-close

[2020-07-07 18:31] #57729 closed

[2020-07-07 18:32] ChaitanyaNaykodi-MSFT commented on #58569
@bussemac Thank you for your feedback! We will review and update as appropriate.

[2020-07-07 18:33] CyborgDroid opened #58587 "Typo in code'/'"
```displayHTML("<img src ='files/image.jpg/'>")```

should be:

```displayHTML("<img src ='files/image.jpg'>")```

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e5344fa-d8d1-1292-ea0e-ad41f9bbca16
* Version Independent ID: bd399877-f5f4-f8e9-cb8d-c9c4640b45c3
* Content: [FileStore - Azure Databricks](https://docs.micr

[2020-07-07 18:35] #58459 closed

[2020-07-07 18:37] zr-msft commented on #58459
thank you for the feedback @phenixita

I have updated the article based on your feedback. The changes should be available soon.

[2020-07-07 18:39] BarbaraSelden commented on #58576
Thank you. I have reached out to get help in updating this script

Thank you!

-bmws

Barbara Winter Selden
Identity Knowledge Mangement
206-601-4223

From: Iain Foulds <notifications@github.com>
Sent: Tuesday, July 7, 2020 11:13 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Barbara Winter Selden <Barbara.Selden@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re:

[2020-07-07 18:39] PRMerger16 commented on #58576
BarbaraSelden is already assigned.

[2020-07-07 18:39] tamram commented on #58185
@IntegraITManager - I'm sorry, but that's all the information we can provide about Microsoft-managed key rotation. Again we recommend that you use customer-managed keys if you need more control over key management.

[2020-07-07 18:40] MonikaReddy-MSFT commented on #58586
@savelinomediagroup -
Thank you for your question.

Can you please share with us the URL of the document that you are having issues with?

Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

.

[2020-07-07 18:41] julieMSFT commented on #56769
#assign:julieMSFT

[2020-07-07 18:42] MonikaReddy-MSFT commented on #58581
@ehuna - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-07 18:43] shashishailaj commented on #58406
@Calvin-Yuhui-Liu yes you are correct . I have verified this and the analytics feature is not part of application insights any more as per the [update on the Azure blog](https://azure.microsoft.com/en-in/blog/analyze-your-data-with-application-insights-analytics/).

The article needs to be updated and we will engage the content authors to update the same.

[2020-07-07 18:43] shashishailaj commented on #58406
@msmimart Could you please help update the article after review with engineering ?

[2020-07-07 18:44] jvano commented on #13263
The default is 1GB per container.

[2020-07-07 18:46] georgewallace commented on #56497
@shortpatti can you take a look at this?

[2020-07-07 18:50] mundayn opened #58589 "MFA for PIM Roles"
Can you please provide an update on allowing MFA on the PIM related PowerShell commands?

I appreciate that you have provided an external blog as a workaround, but this blog requires you to install a 3rd party package which is not ideal due to security.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51dbe039-2ab8-b9a3-

[2020-07-07 18:53] prasadvaze opened #58590 "The sample Notebook URL does not work"
[The sample Notebook URL at the bottom of this page does not work]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a884fb49-304e-554d-3bf4-e56fea670220
* Version Independent ID: d8faf8c3-8696-902f-308a-a7606ea37a2a
* Content: [How to set up Hive metastore on SQL Server with Hive 2.0-2.2 - Azure Databricks](https://docs.

[2020-07-07 18:59] #41616 closed

[2020-07-07 19:03] esbenbach commented on #30986
Any updates on this - its still seems lacking in the breyed pointed out.

[2020-07-07 19:06] nayato commented on #58154
First of all, let's get the use case straight. Today the only way to send c2d message is over AMQP (Service Client SDK uses that transport as well). AMQP allows these cases:
- "ne": null,
- "ne": "",
- "ne": "ne",
where "ne" stands for any non-empty value.
When c2d message is then dispatched over MQTT to client, properties are encoded as a segment in PUBLISH packet's topic name, e.g. `/?k1=v1&k2=v

[2020-07-07 19:10] zr-msft commented on #41616
thank you for the feedback @sahammer

I have updated the article to fix the spelling error and the changes should be available soon.

[2020-07-07 19:22] VanMSFT commented on #58366
Hi @Tim-Bijnens - Thanks for bringing up this issue. Looks like the tabs got mixed up, and included only useful information in one tab. I have fixed this in a new pull request, and it should be updated later today. We appreciate your assistance by bringing this to our attention!

[2020-07-07 19:23] MarileeTurscak-MSFT commented on #58541
@RobThaBlob
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-07 19:28] rboucher commented on #58382
Hi @awpetree Can you tell me where you are expecting to see these metrics? Part of what namespace (Resource provider and type)?  I produce this file from an API so I'm not up on every metric in the file.

[2020-07-07 19:29] cicinelli opened #58591 "Typo on page"
Functions 1.x apps automatically have a reference the Microsoft.Azure.WebJobs NuGet package, version 2.x.

should be:
Functions 1.x apps automatically reference the Microsoft.Azure.WebJobs NuGet package, version 2.x.
- or -
Functions 1.x apps automatically have a reference to the Microsoft.Azure.WebJobs NuGet package, version 2.x.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2020-07-07 19:29] cijothomas commented on #30986
Agree this is important and missing.

The easy workaround is to use ilogger to log exceptions, and apply filtering to control which ones are required to be tracked. Its not ideal, but that should help most customers.

[2020-07-07 19:30] Karishma-Tiwari-MSFT commented on #58555
Thanks for sharing the update.

[2020-07-07 19:31] Karishma-Tiwari-MSFT commented on #58563
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-07 19:37] kyzeofsd opened #58592 "Token Configuration Section Missing"
In the "Configuring Optional Claims" section of the document, the instructions appear to be wrong.  The Configuring optional claims through the UI says that there is a Token Configuration section under the manage section of the app registration.  As of 07-07-2020, this section appears to be removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-07-07 19:47] DeanGross opened #58593 "Identifying Responsibility"
[Enter feedback here]
Explicitly stating the customer has the responsibility is great idea. Please do this in more of the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a227f12f-c803-e267-d0e0-37576f2edfa9
* Version Independent ID: b3921687-a746-b8ea-6160-4c48f350c763
* Content: [Azure Policy security baseline fo

[2020-07-07 19:49] dimant opened #58594 "screenshots contain ppe URLs"
The slack setup screenshots contain PPE urls which is potentially misleading

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 919ac673-c2e9-6768-1071-7607c5c6a5c9
* Version Independent ID: 7620fb9f-2085-ab9b-60dd-7e5a73355c0d
* Content: [Tutorial: Azure Active Directory single sign-on (SSO) integration with Slack](https:

[2020-07-07 19:53] zr-msft commented on #34520
Thank you for the feedback @dave-read

The article has been updated with additional information that should address your feedback.

#please-close

[2020-07-07 19:53] #34520 closed

[2020-07-07 19:55] zr-msft commented on #42451
Thank you for your feedback @xSilverboltx

The article has the following section which should address your feedback:
https://docs.microsoft.com/azure/aks/update-credentials#update-aks-cluster-with-new-aad-application-credentials

#please-close

[2020-07-07 19:55] #42451 closed

[2020-07-07 19:57] durayakar opened #58595 "SKU Upgrade on the portal does not work as described"
When we try to upgrade the Databricks  SKU to Premium from the portal we get an error code "ConflictWithNetworkIntentPolicy"

We are using our own Virtual Network and use the same network settings

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffe20a92-15f7-ef03-3038-e30ea0c97ad5
* Version Independent ID: 854ae140-2107

[2020-07-07 19:58] Ticars opened #58596 "CI/CD workflow for project with additional artifacts"
Our team is trying to figure out how to balance the ADF approach defined here with the GitFlow workflow when our project contains other artifacts within the same repository (database project, azure functions, SSAS models, etc).

Typically, we would expect to use development branch as the collaboration branch and once a pull request is committed to Dev, we would kick off a release pipeline that wou

[2020-07-07 19:59] #58366 closed

[2020-07-07 20:01] jeevansd commented on #58594
We will get this updated. But most of the applications we are testing with PPE environment and so we capture those screenshots. Once the testing is successful then we move those applications to Production.

[2020-07-07 20:01] jeevansd commented on #58594
@V-nagta and @v-hagamp Can you please get this article updated with the Production Azure AD Screenshots?

[2020-07-07 20:07] MonikaReddy-MSFT commented on #58596
@Ticars - Thanks for leveraging Azure docs feedback channel to raise this question.

 Could you please share the Azure documentation for which this feedback is applicable to?

This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

If you have a product question, please post it on [DevOps Community](https://developercommunity.visualstudio.

[2020-07-07 20:09] MonikaReddy-MSFT commented on #58582
@AmitavaHazra - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-07 20:10] areddish commented on #57515
We have examples of the prediction API usage with the SDK in the quickstarts in multiple languages, as @RohitMungi-MSFT  mentioned above.

This article is not SDK focused and uses the REST api directly. I'd encourage usage of the SDK for easy of use. If you want a pure REST example you can look at the API reference and choose your language for examples: [ClassifyImage](https://southcentralus.dev.c

[2020-07-07 20:12] #58356 closed

[2020-07-07 20:13] zr-msft commented on #58356
Thank you for the feedback @loekd

I have updated the article to incorporate your feedback and the updates should be available soon.

[2020-07-07 20:14] zr-msft commented on #41158
Thank you for the feedback @porrascarlos802018

I have updated the article to incorporate your feedback and the updates should be available soon.

#please-close

[2020-07-07 20:14] #41158 closed

[2020-07-07 20:15] MarileeTurscak-MSFT commented on #58561
@kensykora
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-07 20:20] memildin commented on #58454
Hi @BASFmthibodeaux,

Thanks so much for taking the time to report this. The alert _is_ actually in this list.The reason you missed it is the title is dynamic. On the page it's shown as "Unusual change of access permissions in a **storage account**", but it can actually say "blob container" or "file share", depending on the service that triggers the alert.

We'll make sure to add that information

[2020-07-07 20:20] #58454 closed

[2020-07-07 20:20] MonikaReddy-MSFT commented on #58503
@PitWayne - The doc is accurate, but from the screenshot above, looks like you're running a wrong command.

You're setting `StrongAuthenticationMethods `and checking for `StrongAuthenticationRequirements`. Please ensure to add the settings for `StrongAuthenticationRequirements`.

Can you try running `Set-MsolUser -UserPrincipalName user@domain.com -StrongAuthenticationRequirements @()`

I hope thi

[2020-07-07 20:20] zr-msft commented on #37462
Thank you @nodeselector for the feedback.

The following section in the article details the limitations around providing your own subnet and route table while using kubnet:

https://docs.microsoft.com/azure/aks/configure-kubenet#bring-your-own-subnet-and-route-table-with-kubenet

#please-close

[2020-07-07 20:20] #37462 closed

[2020-07-07 20:23] Ticars commented on #58596
Sorry, it's was in reference to:
https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment

[2020-07-07 20:23] MarileeTurscak-MSFT commented on #58578
@dfaa502
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-07 20:25] MarileeTurscak-MSFT commented on #58578
Hi @dfaa502 , we don't have an ETA yet, but you can check this page for updates and also check the Azure updates RSS feed. https://azure.microsoft.com/en-us/updates/

[2020-07-07 20:25] #58578 closed

[2020-07-07 20:26] MarileeTurscak-MSFT commented on #58568
@DeanGross
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-07 20:28] pacodelacruz commented on #58528
Thanks @MayankBargali-MSFT for your response.  Yes, I understand that from the document and I have tested it. However,  the missing info is the required DNS configuration in the private DNS zone.

This document
https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-dns
Explains that we need to create the corresponding DNS configuration in our private zone

In the GeoDR scenario we ha

[2020-07-07 20:28] SatishBoddu-MSFT commented on #58572
@pauldj54 I have assigned the issue to the content author @baanders  for further review and update the doc as appropriate.

[2020-07-07 20:30] MonikaReddy-MSFT commented on #58538
@tajaber -  Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-07 20:32] MonikaReddy-MSFT commented on #58543
@remideprez02 , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-07 20:33] MonikaReddy-MSFT commented on #58545
@msharsur -  Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-07 20:35] MonikaReddy-MSFT commented on #58546
@msharsur -  Thanks again for bringing this to our attention.
Looks like this is a duplicate of [this ](https://github.com/MicrosoftDocs/azure-docs/issues/58545)issue and hence we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-07 20:35] #58546 closed

[2020-07-07 20:40] PitWayne commented on #58503
Sorry, have done much of try outs, attached wrong screen, but problem is like i wrote above.

![image](https://user-images.githubusercontent.com/67928176/86840036-85306e00-c0a2-11ea-8837-e46f60f930ce.png)

[2020-07-07 20:43] PitWayne commented on #58503
I found that when MFA is disabled then param StrongAuthenticationRequirements.State have no value at all. When I assing a $null to this param it doesn't work too.

[2020-07-07 20:51] cmmdesai commented on #58568
We plan to announce GA by end of July / early August timeframe.

[2020-07-07 20:52] xiafu-msft opened #58597 "This page is not for Python fuction"
Hi!

This page is not for people who wants to use Python function, while this was not mentioned on the page.
So Python users ideally should be redirected to a correct tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6cf91d8c-d16b-346d-759b-f3c787dea2e5
* Version Independent ID: 7e422baf-0a19-dded-ee83-a71b1c819

[2020-07-07 20:58] mikenri opened #58598 "US East region IP addresses are not accurate"
It appears that the IP addresses for the US East region are not accurate and need to be updated.

An Azure MySQL instance that I have running in US East is returning the following IP address that is not included in this documentation.

This breaks a forced VPN tunneling configuration that we have configured which was working until just recently.

Name:    cr7.eastus1-a.control.database.windows.net

[2020-07-07 21:09] BharathNimmala-MSFT commented on #58593
@DeanGross Thanks a lot for taking time to share your feedback, will pass this on to our document authoring team.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen the thread and continue the conversation. Thank you

[2020-07-07 21:09] #58593 closed

[2020-07-07 21:10] LukePWilkins opened #58599 "Expand on the variable $servicePlansFromGroups and $expectedDisabledPlans - Users Additional licences - No direct licenses removed"
[Enter feedback here]
Is it possible to further comment and explain the logic\thinking behind the **$servicePlansFromGroups** and **$expectedDisabledPlans**? I ran the script against a group and particular SKU, which returned the **"User has extra plans that may be lost - license removal was skipped. Extra plans: $extraPlans" warning**

Do you require people to enter in additional SKU names, to th

[2020-07-07 21:11] jeffreykey commented on #58386
Apologies for not listing the other pages I referred to. Thanks for the clarification.

[2020-07-07 21:15] stevestein commented on #57703
Doc update is live. Thanks!

#please-close

[2020-07-07 21:15] #57703 closed

[2020-07-07 21:28] #58568 closed

[2020-07-07 21:29] MarileeTurscak-MSFT commented on #58568
Thanks @cmmdesai ! Closing this out.

@DeanGross - when the announcement goes up in the next month or so it should appear on this page or on the "What's New?" in Azure AD page.

[2020-07-07 21:29] kainzuu commented on #57579
This totally worked, thanks for the extra tip, documentation really does need updating.  Really appreciate the assistance.

[2020-07-07 21:33] zr-msft commented on #37491
Thank you for the feedback @larryclaman

At this time, the two docs are going to remain separate since they serve different purposes.

#please-close

[2020-07-07 21:33] #37491 closed

[2020-07-07 21:37] MarileeTurscak-MSFT commented on #58592
@kyzeofsd
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-07 21:38] JnHs commented on #57755
@nathankitchen I haven't heard back from you but did want to follow up on the other part of your question. Possible deployment paths for CSPs are the same as for non-CSP users with the appropriate level of access, i.e. the ARM template should be able to be deployed using PowerShell or Azure CLI.
I am going to close this issue now but please reopen if you still have further questions about the cont

[2020-07-07 21:38] #57755 closed

[2020-07-07 21:44] YutongTie-MSFT commented on #58580
@ojmendezz
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-07 21:45] JimacoMS3 commented on #58154
@naytao @elhorton @SatishBoddu-MSFT  Max-- thanks so much for the clarification! That's super helpful.

All -- it seems to me that this behavior **does** need to be documented and that the correct place is in the [Receiving cloud-to-device messages](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-mqtt-support#receiving-cloud-to-device-messages) section of our MQTT support topic. I think we

[2020-07-07 21:55] KranthiPakala-MSFT commented on #58590
@prasadvaze Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

@mamccrea Could you please fix the link? - Thanks

[2020-07-07 21:57] KranthiPakala-MSFT commented on #58595
@durayakar Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2020-07-07 21:58] cynthn commented on #58436
#please-close

[2020-07-07 21:58] #58436 closed

[2020-07-07 21:59] KranthiPakala-MSFT commented on #58587
@CyborgDroid Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

@mamccrea Could you please have a look at this feedback? - Thanks

[2020-07-07 21:59] axayjo commented on #58102
@dmgonch, sorry, it wasn't obvious. The CLI documentation is generated by the CLI team. Let me add @qwordy here to take a look.

[2020-07-07 22:01] MartinJaffer-MSFT commented on #58559
Hello @chronicle17  and thank you for your feedback.

While you do have a point that using Databricks for both producing and consuming in the same scenario is not the most realistic architecture, there are some good reasons for doing this in the tutorial.

As this is a tutorial, the goal is to educate the users.  The aim of this tutorial is to demonstrate how Databricks can be used in various stre

[2020-07-07 22:03] KranthiPakala-MSFT commented on #58579
@abhirockzz
Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

@spelluru Could you please have a look at this feedback? - Thanks.

[2020-07-07 22:09] rolyon commented on #58489
Hi @andrePKI
This article has been updated:
https://docs.microsoft.com/en-us/azure/role-based-access-control/rbac-and-directory-admin-roles
thanks

[2020-07-07 22:09] Mike-Ubezzi-MSFT commented on #13305
@ngaba18 As is with Azure Database for PostgreSQL and other Azure services, VNET availability is also dependent upon the service tier of the service the VNET is being deployed. In the case of Azure Database for PostgreSQL, the [limitations](https://docs.microsoft.com/en-us/azure/postgresql/concepts-data-access-and-security-vnet#limitations) section details the following:

Thank you for following u

[2020-07-07 22:09] rolyon commented on #58489
#please-close

[2020-07-07 22:09] #58489 closed

[2020-07-07 22:10] divurgentuser commented on #25484
I'm having a similar issue where I can make HTTP requests with Postman successfully, but can't make the same request from other places. I have a token but still get forbidden. Not sure what permission I'm missing

[2020-07-07 22:12] kummanish commented on #58598
thanks for pointing this out. @mikenri . These are valid IP ranges East US region.
We have fixed the doc and it should be published by tomorrow.

[2020-07-07 22:13] GiftA-MSFT commented on #58466
@aashishb can you please review above feedback.It's not clear if MCR is created by default when setting up a workspace.

[2020-07-07 22:14] hansenms commented on #25484
You need to inspect the token and see who the token was issued for (the `oid` claim in the token). If that is a specific user or service principal, you need to grant that user or service principal access to the API.

This issue is closed, we don't always spot comments/questions on closed issues. I would recommend opening a new one for future reference.

[2020-07-07 22:57] mattruma opened #58603 "Bind BlobTrigger to POCO"
I am trying to bind a blob to a POCO and getting the following error:

The 'BlobTrigger2' function is in error: Microsoft.Azure.WebJobs.Host: Error indexing method 'BlobTrigger2'. Microsoft.Azure.WebJobs.Host: Can't bind BlobTrigger to type 'FunctionApp1.BlobTrigger2Options'.

The docs seem to imply this is possible, am I missing something?

Azure Function

[code]

POCO

[code]

Blob

[code]

---

[2020-07-07 23:01] TravisCragg-MSFT commented on #58554
@Bunzab Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-07-07 23:02] aashishb commented on #58466
Thanks for the feedback! MCR is not directly exposed to the customers unlike ACR, which gets created in user's subscription and that's why we do not show MCR in the data flow diagrams. Let me revisit the data flow diagrams and see how we can talk about MCR.

[2020-07-07 23:19] YassineSOUABNI opened #58604 "Documentation doesn't state that the name of the attributes when referenced inside Expression should be case sensitive"
[Enter feedback here]

Dear,

I have the following Expression
Replace([description], "@domain.onmicrosoft.com", , , "@domain.com", , )  flown into target app's Email attribute

I accidently noticed that when trying to save it as following, It fails and I  receive (Error code "SchemaInvalid") error
Replace([Description], "@domain.onmicrosoft.com", , , "@domain.com", , )  flown into target app's Ema

[2020-07-07 23:20] divurgentuser opened #58605 "Assigning RBAC for an App?"
Hi

Doc - https://docs.microsoft.com/en-us/azure/healthcare-apis/configure-azure-rbac

I have an Azure API for FHIR, and I want other apps (hosted on Azure) to be able to access the FHIR API. I keep getting 403 forbidden. It works on Postman.

I added the app as a user under the Azure API for FHIR's IAM Access Control but it's still not working.

Any idea what else I can do?

I read this other iss

[2020-07-07 23:27] TravisCragg-MSFT commented on #58557
@stevepmo Thanks for the feedback! Speed of light in Kilometres per ms is approximately equal to 300 (299.79 KM/ms), however using 200 for this value produces more realistic latency numbers. I have updated the doc to specify kilometres

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion

[2020-07-07 23:27] #58557 closed

[2020-07-07 23:27] ChaitanyaNaykodi-MSFT commented on #58573
@pekspro Thank you for your feedback! We will review and update as appropriate.

[2020-07-07 23:30] ChaitanyaNaykodi-MSFT commented on #58591
@cicinelli Thank you for your feedback! We will review and update as appropriate.

[2020-07-07 23:36] ChaitanyaNaykodi-MSFT commented on #58597
@xiafu-msft,
Thank you for your feedback! We will review and update as appropriate.

[2020-07-07 23:43] ChaitanyaNaykodi-MSFT commented on #58603
@mattruma
Thank you for your feedback! We will review and update as appropriate.

[2020-07-08 00:09] VanMSFT commented on #58031
Hi @jschrap - The instructions to store VA scans behind firewalls and VNets is documented here: https://docs.microsoft.com/en-us/azure/azure-sql/database/sql-database-vulnerability-assessment-storage

[2020-07-08 00:17] MarileeTurscak-MSFT commented on #58589
@mundayn
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-08 00:22] kummanish commented on #58598
#please-close

[2020-07-08 00:22] #58598 closed

[2020-07-08 00:46] jeevansd commented on #55702
@hosser and @sbthackston Yes, I can see the problem here. I can fix this tomorrow and then it will allow you to configure any URL as needed.

[2020-07-08 01:01] SaurabhSharma-MSFT commented on #57965
@Yamin-lawar We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-07-08 01:01] #57965 closed

[2020-07-08 01:18] Karishma-Tiwari-MSFT commented on #58584
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2020-07-08 01:18] #58584 closed

[2020-07-08 01:23] itahirov commented on #53773
https://github.com/MicrosoftDocs/azure-docs/issues/58441

[2020-07-08 01:26] MonikaReddy-MSFT commented on #58596
@Ticars - Thank you for providing the reference to the doc.

[2020-07-08 01:28] MonikaReddy-MSFT commented on #58605
@divurgentuser - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-08 01:30] MonikaReddy-MSFT commented on #58553
@abhilashmk - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-08 01:49] kummanish commented on #58598
hi @Mike-Ubezzi-MSFT this is fixed and merged. It should be visible tomorrow. We can go ahead and close this one.

[2020-07-08 01:57] Mike-Ubezzi-MSFT commented on #58598
@kummanish Yes, issue was closed but not labeled nor containing a link to the PR/Commit. These items have been added. Thank you for the quick turn around.

[2020-07-08 02:16] dcbrown16 opened #58608 "Document schema"
The schema for the logs collected by this feature isn't documented on this page, nor is anything listed in the resource log schemas doc below.
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/resource-logs-schema

Can this info please be added to both documents?
The FunctionAppLogs schema is what we are looking for.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2020-07-08 02:33] vipulsparsh commented on #58545
@billmath Can you look into this ?

[2020-07-08 02:40] vipulsparsh commented on #58585
@jaekster  Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@GithubMirek  Can you please look into this ?

[2020-07-08 02:43] Mike-Ubezzi-MSFT commented on #58000
That PR has a commit that is specific to this issue. For reference: https://github.com/MicrosoftDocs/azure-docs/pull/58510/commits/4a7e688894d9dbd30568fb389c64469e528159fb

[2020-07-08 02:45] Mike-Ubezzi-MSFT commented on #58486
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-08 02:45] #58486 closed

[2020-07-08 02:48] vipulsparsh commented on #58599
@LukePWilkins Thanks for reaching out. We will investigate and update this thread accordingly.

[2020-07-08 02:50] JuneZhao commented on #57657
@shashishailaj @divka78  Any update on this one?

[2020-07-08 02:50] vipulsparsh commented on #58604
@YassineSOUABNI  Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@kenwith Can you look into this ?

[2020-07-08 02:53] vipulsparsh commented on #58582
@curtand Can you look into this ?

[2020-07-08 02:54] rachelxj-ms commented on #58457
I tested it again, I added a ConnectionString in app service, whose value is referring to key vault (@Microsoft.KeyVault(SecretUri={your secret uri}), when system identity is on, it works fine. When I turned off system identity, using user-assigned identity, there is exception: Exception Details: System.ArgumentException: Keyword not supported: '@microsoft.keyvault(secreturi'.

I think the doc is

[2020-07-08 02:59] j-martens commented on #57808
Release notes are a good place for that and the upcoming studio concept. Thanks.
#please-close

[2020-07-08 02:59] #57808 closed

[2020-07-08 03:24] PramodValavala-MSFT commented on #58608
@dcbrown16 Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2020-07-08 03:28] ram-msft commented on #53162
@nitinme Apologies for the delay.
Container is deployed and maintained at customer on-prem. you could either keep files at on-prem location or online locations. you can write up sth to feed the files from these locations to the STT container.
More details: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-container-howto?tabs=stt%2Ccsharp.

We also recommend batch pro

[2020-07-08 03:29] qwordy commented on #58102
Let me test it to see if it can be updated. `--set` parameter can update custom properties. But you need to know the property full path. I will add an example if it can be updated.

[2020-07-08 03:31] BharathNimmala-MSFT commented on #58231
@RonnieQuan Apologies for delayed response on this. Can you please refer to [this ](https://docs.microsoft.com/en-us/azure/automation/runbook-input-parameters#pass-a-json-object-to-a-runbook) documentation to further understand how objects needs to be converted as string and pass as input parameter to start automation runbook.

Hope the above information helps. At this point it appears that there'

[2020-07-08 03:31] #58231 closed

[2020-07-08 03:32] PramodValavala-MSFT commented on #58566
@robtextrequest Thanks for catching that! We are assigning this issue to the content author to review and update accordingly.

In the meantime, [MaxOrchestrationActions](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.webjobs.extensions.durabletask.durabletaskoptions.maxorchestrationactions?view=azure-dotnet) would be *`extensions > durableTask > maxOrchestrationActions`* in `host.json

[2020-07-08 03:43] PramodValavala-MSFT commented on #58597
@xiafu-msft While creating functions from the Azure Portal is possible, its [recommended](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference#fileupdate) to develop functions locally. The [quickstart doc for creating functions using Visual Studio Code](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-vs-code?pivots=programming-language-p

[2020-07-08 04:04] hansenms commented on #58605
If the token is not issued on behalf of a user, then it is probably issued for a service principal, you can find the service principal with the Azure CLI:

[code]

where `18fa..` is the `oid` claim from the token.

[2020-07-08 04:07] PramodValavala-MSFT commented on #58499
@scale-tone Thanks for catching this! Looks like this setting is a rather new feature compared to the doc. We have assigned this issue to the content author to review and update accordingly.

In the meantime, the default value for this setting is [`OverridableStates.NonRunningStates`](https://github.com/Azure/azure-functions-durable-extension/blob/dev/src/WebJobs.Extensions.DurableTask/Options/Dur

[2020-07-08 04:12] MayankBargali-MSFT commented on #57766
@pandainlove I have got an update that there is no equivalent command for now in the az PowerShell module. This will be the feature request and it would be great if you can create the feature request here: https://github.com/Azure/azure-powershell/issues

Thanks for pointing it out and we will update the document to reflect the same.

[2020-07-08 04:13] sormita commented on #58463
Is there an update to this issue?

[2020-07-08 04:25] amanmcse commented on #58469
@nkumars closing the thread now. Feel free to tag me in your reply if you have any question.

[2020-07-08 04:25] #58469 closed

[2020-07-08 04:37] jachin84 opened #58611 "Clarify if wildcards are supported on backend servers"
I am looking at the section for 'Why is HTTPS traffic to my backend failing?' and it isn't clear if wildcard certificates are supported on the backend. From my testing it seems as though it is necessary to disable the certificate subject name check when using a wildcard on backend servers. Eg. *.contosonews.net in the provided example.

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-07-08 04:38] MayankBargali-MSFT commented on #58347
@barbados-clemens The latest SDK for the azure relay is 2.0.1 and dependencies on .NETStandard 2.0: https://www.nuget.org/packages/Microsoft.Azure.Relay/

Thanks for your confirmation. I will go ahead and close this issue.

[2020-07-08 04:38] #58347 closed

[2020-07-08 04:41] mganeshphani opened #58612 "No mention of private repository support in entire documentation"
We went through almost all significant pieces of documentation on if ACR is the only supported option for container images to run ACI and to our surprise there not documentation stating that a a pre-requisite. hence we went ahead with support ticket(120050624006032) and after almost a month of to and fro emails, this is confirmed. can this be included in documentation?
can the e2e architecture dia

[2020-07-08 04:48] MayankBargali-MSFT commented on #58591
@cicinelli Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2020-07-08 04:54] #58591 closed

[2020-07-08 05:03] VikasPullagura-MSFT commented on #58612
@mganeshphani
Thanks for the feedback and sharing all support and response details.
I have assigned the issue to content author to check and update the document as appropriate.

[2020-07-08 05:03] VikasPullagura-MSFT commented on #58612
@dlepow
Can you please check and add your comments on this doc update request as applicable.

[2020-07-08 05:06] SwathiDhanwada-MSFT commented on #58210
Assigning to content author @dkamstra for review .

[2020-07-08 05:07] SB-o-matic opened #58613 "REST API To Validate On-premises Active Directory Users"
Hello B2C Team,

How does one apply the seamless migration concept in a situation where the users are located in on-premises Active Directory? I have looked at user credential validation via PowerShell to query directory services but not sure how this can be exposed in a manner that will be leveraged in this case. Or at least not in a manner that will not raise security concerns. I have also looke

[2020-07-08 05:08] ganga1980 commented on #58463
Can you please share  o/p of following commands to understand what’s going on here

kubectl get pods -n kube-system
kubectl  logs <omsagent-pod-name> -n kube-system

# exec into one of the pod
kubectl exec -it <omsagent-pod-name> -n kube-system  bash
cat /var/opt/microsoft/omsagent/log/omsagent.log  # check if you see any errors

[2020-07-08 05:11] AshokPeddakotla-MSFT commented on #58370
@Raregine We hope that addresses your query.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-08 05:11] #58370 closed

[2020-07-08 05:13] vipulsparsh commented on #58613
@SB-o-matic Thanks for reaching out. We will investigate and update the thread.

[2020-07-08 05:14] VikasPullagura-MSFT commented on #58180
@mlearned
Can you please check and add your comments on this.

[2020-07-08 05:36] Gowthami-Ronda commented on #58540
No i need information wethere any email apis are available

[2020-07-08 05:39] SwathiDhanwada-MSFT commented on #58433
Assigning to content author @mrbullwinkle for reviewing the issue

[2020-07-08 05:48] Prabhakar96-dev opened #58614 "Configuring the invitation message with multiple recipient's"
As per the documentation [URL](https://docs.microsoft.com/en-us/graph/api/resources/recipient?view=graph-rest-1.0) I'm sending multiple recipients in JSON body, but it's taking only one recipient which is configured last in the array. Below is the sample JSON I'm using.

{
  "invitedUserEmailAddress": "pralingi@abc.com",
  "sendInvitationMessage": true,
  "invitedUserDisplayName": "prabha",
  "inv

[2020-07-08 06:06] dc-isafonov opened #58616 "Add details about proxy support"
Documentations mentions that outgoing access to port 64.39.104.113 and 154.59.121.74 port 443 is required.
But no recommendations as to what can be done for servers that have no direct access to Internet.

Is proxy supported and if yes - how to configure it?
When installing agent using "Remediate" in ASC recommendations section there is no way to specify proxy.

Qualys agent itself does support pr

[2020-07-08 06:07] linda33wj commented on #56279
Thanks for sharing your feedback and experience. We added a section on retrieving the managed identity via REST API. https://docs.microsoft.com/en-us/azure/data-factory/data-factory-service-identity#retrieve-managed-identity-using-rest-api

#please-close

[2020-07-08 06:07] #56279 closed

[2020-07-08 06:10] dc-isafonov opened #58617 "Add details about FIPS compliance"
Please add details whether this extension will work on servers with FIPS enabled.
As example: https://docs.microsoft.com/en-us/azure/azure-monitor/platform/log-analytics-agent#installation-and-configuration

Based on my research - it does not fully support FIPS on Linux VMs because extension management script avme_common.sh uses "openssl dgst -r" to calculate configuration file hash and this won't

[2020-07-08 06:17] souravmishra-msft commented on #58397
@goh-chunlin, Just wanted to follow up with you to check if there are any more queries around this. If not do let us know so that we can close this thread.

[2020-07-08 06:24] Prabhakar96-dev commented on #58614
I found in the document **"Currently only 1 additional recipient is supported"**. Still it supporting only 1 recipient??

[2020-07-08 06:29] kensonwu1 commented on #49471
Hi team,
How is the state of this issue, any update?
Could you also update the example as well: https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-java-how-to-use-topics-subscriptions#how-to-receive-messages-from-a-subscription
Thanks.

[2020-07-08 06:30] SatishBoddu-MSFT commented on #58429
@abhijitkakade914 Just checking back, Could you please conform on the below ask, so that we look into the issue.

1. What is the system architecture, target OS , host OS you have ?
2. Could you please confirm the exact document you have followed for developing and debug IoT Edge module in VS code?
3. Please also confirm if this error is with both languages Python & C# ?

[2020-07-08 07:17] rishabh-cldcvr opened #58619 "Infer schema does not work for different schema in different partitions"
Openrowset picks schema from first partitioned folder's first file. It does not infer or compares schema in other partitioned folder and emits any column mismatched. is this an issue or does it works this way?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7770a017-f3de-4ffb-fbe1-7f673e46b9f6
* Version Independent ID: