[2019-08-21 17:33] #37477 closed

[2019-08-21 17:35] barclayn commented on #30328
@kilasuit Thank you for submitting this but I don't see a reference to self-nomination. If there is something else you would like me to change on this article please let me know. Thank you.

[2019-08-21 17:35] barclayn commented on #30328
#please-close

[2019-08-21 17:35] #30328 closed

[2019-08-21 17:36] NavtejSaini-MSFT commented on #37422
@ajlam Thanks for the information and changes to the doc.
@ahelal It will take sometime for changes to reflect. Once the doc is updated we will close this thread.

[2019-08-21 17:44] daveba commented on #23112
#please-close

[2019-08-21 17:44] #23112 closed

[2019-08-21 17:44] aashishb commented on #37511
Check the following doc links for more details:

https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/deployment/production-deploy-to-aks/production-deploy-to-aks.ipynb (check section “Test the web service using raw HTTP request”)
https://docs.microsoft.com/en-us/azure/machine-learning/service/concept-enterprise-security#authentication-with-tokens
https://docs.microsoft

[2019-08-21 17:46] lazinnat commented on #37440
@GeorgePlotnikov thank you for the question! Custom metrics were not supported by back-end, we are checking if it is now supported. We will update the documentation accordingly and get back to you once we have any updates.

[2019-08-21 17:49] NavtejSaini-MSFT commented on #37319
@omiday we have made necessary changes to the doc and they may take some time to reflect. We will close the issue once the changes are reflecting.

[2019-08-21 17:51] AjayKumar-MSFT commented on #37306
@jorgecarleitao, Just checking in to see if you have any further questions on this topic or this thread is good to be closed.

[2019-08-21 17:53] daveba commented on #34851
@dkboon01 , did you see @jmprieur request for more information?  If there's no response, we'll look to close this issue in the next several days.  Thanks!

[2019-08-21 17:54] mgolub2 commented on #12292
Just to add another voice in, but we are facing the same issues using a shared throughput collection with the MongoDB API and Spring Data. We will either have to write a custom repository that attempts to inject shard keys into every operation where possible, or migrate off CosmosDB.

When something is advertised as Mongo compatible, we expected Spring Data to work without heavy lifting.

[2019-08-21 17:59] eross-msft commented on #37449
@joeywalla  Please feel free to add a comment or open a new issue, but I'm going to close this one for now.

#please-close

[2019-08-21 17:59] #37449 closed

[2019-08-21 18:00] AjayKumar-MSFT commented on #37505
@nicklooo, That's a good catch! We have made the correct requested changes and it should be public within the next 24 hours. Thanks again for reporting this! Much appreciated.

[2019-08-21 18:02] MarileeTurscak-MSFT commented on #36620
Hi @DeanGross ,

This information is in some of the per-service documentation under identity governance (like PIM and access reviews).

I am assigning this issue to the content author @msaburnley to address your feedback.

[2019-08-21 18:02] barclayn commented on #28305
@kazshi support for ATP with VMSS is documented in the table that is part of this article  https://docs.microsoft.com/bs-latn-ba/azure/security-center/security-center-os-coverage I will update the article you pointed out with a link to this article for others that may have questions around what is supported in Azure security center.

[2019-08-21 18:03] ggailey777 commented on #30814
#reassign:craigshoemaker

[2019-08-21 18:08] ajlam commented on #37422
PR was merged and changes should be live in about 4-5 hours.

[2019-08-21 18:11] MicrosoftGuyJFlo commented on #37537
Thanks for the heads up @citykidz I have alerted the Product Team who owns the download so they can revise.

[2019-08-21 18:11] MicrosoftGuyJFlo commented on #37537
#please-close

[2019-08-21 18:11] #37537 closed

[2019-08-21 18:18] NavtejSaini-MSFT commented on #37540
@kgalic We are looking into this and will make necessary changes.

[2019-08-21 18:19] MicrosoftGuyJFlo commented on #35364
I do not have visability into the roadmap for the Microsoft Authenticator app but I can pass your feedback along to the product group. You can also suggest this as a feature using the product feedback link at the bottom of the doc. That way other people can vote on the idea.

[2019-08-21 18:21] MicrosoftGuyJFlo commented on #35364
#please-close

[2019-08-21 18:21] #35364 closed

[2019-08-21 18:28] NavtejSaini-MSFT commented on #37540
@kgalic The PR has been created for this issue. Once reviewed the changes will be published.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/86136

[2019-08-21 18:31] Alberto-Vega-MSFT commented on #36639
Yes @craigktreasure thanks for looking into this issue.

[2019-08-21 18:31] #36639 closed

[2019-08-21 18:34] Alberto-Vega-MSFT commented on #37545
@laxmihub I'm glad to hear that you resolved your issue. Please feel free to reach out if you have any feedback for this documentation.

[2019-08-21 18:34] RyanHill-MSFT commented on #37129
@ghclo does you deployment also fail when you use curl?

` curl -X POST -u <deployment credential username> –data-binary @<war-file> <kudu_url>/api/wardeploy `

[2019-08-21 18:42] GeorgePlotnikov commented on #37440
@lazinnat I'm looking forward

[2019-08-21 18:46] StingyJack opened #37548 "This program does not work in the manner the documentation states that it should."
Its not up to me to determine which is wrong; the program or the docs, and I am not really interested in playing or discarding responsibility via any bureaucratic games. I would not do that to you (or anyone) so I do not expect it in return.

Clicking on the program in the start menu produces the following.
[code]

Having to constantly run up against this is another productivity impediment I dont

[2019-08-21 18:47] cynthn commented on #14727
#please-close I've created a work item to get this covered in an upcoming update to the extensions docs. Thank you!

[2019-08-21 18:47] #14727 closed

[2019-08-21 18:50] Nickomang commented on #29705
We updated the content here: https://github.com/MicrosoftDocs/azure-docs-pr/pull/86134

Thanks for your suggestion!

#please-close

[2019-08-21 18:50] #29705 closed

[2019-08-21 18:53] DavidMMaxwell opened #37549 "Incorrect Link"
"What Is Hybrid Identity" link at the bottom instead redirects to Password Hash Synchronization page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c0b212d-56e7-5918-09aa-86e53dc1d83b
* Version Independent ID: 7c34c9d0-fbd5-4db2-4587-2842835a09b9
* Content: [What is federation with Azure AD?](https://docs.microsoft.c

[2019-08-21 18:53] libbro2006 commented on #35364
Hotmail accounts are personal Microsoft Accounts.

You may be asked for device biometrics to approve notifications in the following scenarios:

* Consumer passwordless phone sign-in.
* Azure AD passwordless phone sign-in (what you see in the video)
* Azure MFA push notification approval (only possible when your organization is running Azure MFA on-premises, and require a PIN to complete MFA approv

[2019-08-21 18:55] cynthn commented on #23415
#please-close I've created a work item to have a topic created about using custom images for VMSS creation. Thank you :)

[2019-08-21 18:55] #23415 closed

[2019-08-21 19:03] rolyon commented on #37142
When I run the az provider operation list command, I don't see the following operation:
Microsoft.Authorization/policies/audit/action
I've sent a message to see if I can find out more.
thanks

[2019-08-21 19:03] cynthn commented on #26715
@the-grayest Thanks for the feedback! We are working on some guidelines around when to use "Try-it" vs a block just for Bash. I'll use this feedback to help create that guidance. Thanks again :)

#please-close

[2019-08-21 19:03] #26715 closed

[2019-08-21 19:05] sonpeppers opened #37551 "More recommendations for improving os provisioning time desired"
Hello, as a suggestion (since we run into OS provisioning issues due to long time), it would be good to add more recommendations for improving os provisioning time during vm create, since the only recommendation right now is to specify linux vs windows.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc54e5b0-a2e4-e231-

[2019-08-21 19:05] guitarfreak58 commented on #37517
This is breaking existing groups and not letting folks build new ones! WTF Microsoft!

[2019-08-21 19:13] Karishma-Tiwari-MSFT commented on #37551
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-21 19:14] arcticdoggie commented on #28931
Do you have anything that compares and contrasts the following? I think the above provide the needed info when comparing Azure Front Door against Azure App Gateway, how about Traffic Manager? When should we use TM versus AFD? Are they used together? Any FAQ's or additional info would be great.

•	Azure Traffic  Manager
•	Azure Front Door services
•	Azure Application Gateway

[2019-08-21 19:17] Alberto-Vega-MSFT commented on #37356
@asagage Closing this issue since we have haven't heard back from you. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-21 19:17] #37356 closed

[2019-08-21 19:22] Alberto-Vega-MSFT commented on #37425
Hi @PixelPartner Which sample app are you referring to? and how do they differ?

[2019-08-21 19:30] ahelal commented on #37422
thank you both @ajlam @NavtejSaini-MSFT for your quick response 👍

[2019-08-21 19:30] #37422 closed

[2019-08-21 19:30] Karishma-Tiwari-MSFT commented on #37541
Thanks for the question. We are currently investigating and will update you shortly.

[2019-08-21 19:33] sasanmcp opened #37552 "code in "Find the website URL by using PowerShell" needs updating"
it should be -Name rather than -AccountName in the PowerShell script.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d693507-4b62-07d9-a708-d26d62d990ac
* Version Independent ID: 6c7f4c32-69da-3929-dbf2-1591d667f979
* Content: [Host a static website in Azure Storage](https://docs.microsoft.com/en-us/azure/storage/blob

[2019-08-21 19:33] rolyon commented on #34699
Hi @v-viher
If you also need to manage resource groups, you could create a custom role that includes that just includes the resource group permissions you need. For example to be able to create resource groups, you'll need to have the following permission:
Microsoft.Resources/subscriptions/resourceGroups/write
https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-opera

[2019-08-21 19:34] rolyon commented on #34699
Let me know if you have any additional feedback.
thanks

[2019-08-21 19:35] rolyon commented on #34699
#please-close

[2019-08-21 19:35] #34699 closed

[2019-08-21 19:35] psteniusubi opened #37553 "Step 5: Pending request never appears"
I'm following the steps in the "create your first access package" tutorial.
In Step 5 the pending request never appears. The tutorial says "wait a few minutes and try again". Does not help.
I have started the tutorial from beginning a few times without success.
Please advice. How can I troubleshoot a pending request missing?

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-08-21 19:38] Adam-Smith-MSFT commented on #37530
@VOVELEE Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-21 19:38] mike-urnun-msft commented on #37532
Hi @nickstaggs - Thank you for your feedback! We have assigned this issue to the author to review and update as appropriate.

[2019-08-21 19:40] Adam-Smith-MSFT commented on #37548
@StingyJack Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-21 19:41] Adam-Smith-MSFT commented on #37552
@sasanmcp Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-21 19:44] JnHs commented on #37488
@Lowell-Syncrety Glad to hear that it looks like Azure Lighthouse will be helpful. As you note, there is an onboarding process but once you have that set up, you’ll be able to manage multiple customers’ resources without having to access each tenant one by one. See our [cross-tenant management experiences](https://docs.microsoft.com/azure/lighthouse/concepts/cross-tenant-management-experience) top

[2019-08-21 19:50] mhopkins-msft commented on #37548
Hi @StingyJack,

The Storage Emulator starts up fine on my machine, using the method you described. However, I was able to replicate the error you're seeing when I had Azurite already running. Is it possible that you are trying launch the Azure Storage Emulator when Azurite is already running?

 ~ _Mark_

[2019-08-21 19:52] vlado101 opened #37554 "Triggering pipeline produces an error "InvalidTemplate""
Hello,

I am following the Incremental tutorial for UI and I get the following error when executing the pipeline:

{"error":{"code":"BadRequest","message":"ErrorCode=InvalidTemplate, ErrorMessage=The template validation failed: 'The action(s) 'LookupNewWaterMarkActivity' referenced by 'inputs' in action 'ExecuteIncrementalCopyActivity' are not defined in the template","target":"pipeline/Incrementa

[2019-08-21 19:54] rachel-msft commented on #36197
@nagytech, thanks for reaching out. This Manage Read Replica CLI doc does not provide an exhaustive list of operations available, but rather shows a common example. We don't have plans to update it with the specific example you referenced.

#please-close

[2019-08-21 19:54] #36197 closed

[2019-08-21 19:59] rachel-msft commented on #35725
Marking as #please-close since Kalyan replied with the links

[2019-08-21 19:59] #35725 closed

[2019-08-21 19:59] StingyJack commented on #37548
Azurite 2.7 is installed but not running. Port 8888 isn't in use per netstat.

[2019-08-21 20:05] MarileeTurscak-MSFT commented on #37549
@DavidMMaxwell
Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-21 20:08] MarileeTurscak-MSFT commented on #37549
Good catch, @DavidMMaxwell !

I created a pull request to fix the link. Changes should go live within 24 hours. https://github.com/MicrosoftDocs/azure-docs-pr/pull/86152

You are also welcome to make your own pull requests for these types of fixes.

[2019-08-21 20:08] #37549 closed

[2019-08-21 20:13] RyanHill-MSFT commented on #37274
@kkagill have a look at [this](https://stackoverflow.com/a/37913398/10987310) stackoverflow answer. It references the same blog post but instead of persisting the keys to storage, they used a thumbprint instead and had success.

Let us know if you continue to experience an issue.

[2019-08-21 20:13] Mike-Crowley opened #37555 "PHS can be disabled on a per-connector basis."
"The first time you enable the password hash synchronization feature, it performs an initial synchronization of the passwords of all in-scope users. You cannot explicitly define a subset of user passwords that you want to synchronize."

This statement isn't 100% connect. If there are multiple connectors, it is possible to disable password hash sync for some connectors, but not others (using Set-AD

[2019-08-21 20:17] pdarvasi opened #37556 "Centos 7 support in GA"
I would like to ask when will Centos 7 CI be available in GA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67fb132b-0dc3-d493-69bc-dc28b5bfd5e1
* Version Independent ID: ba5cb476-3e32-911f-0395-0cc8087d1ff3
* Content: [Overview of cloud-init support for Linux virtual machines in Azure](https://docs.microsoft.com/en-u

[2019-08-21 20:21] citykidz commented on #37537
Looks good, you fixed the QR code in the file "Posters.pptx", but the QR code in the file "Table Tents.pptx" still points to an invalid URL containing simply the string "Ver 1".

[2019-08-21 20:40] Karishma-Tiwari-MSFT commented on #37317
I will leave the doc as is, for now. since Serial console option is not yet available in Azure government or Azure China clouds. Also, there are some limitations like the serial console can only be accessed by using the Azure portal and is allowed only for those users who have an access role of Contributor or higher to the VM or virtual machine scale set.
Thanks for bringing this to our attention.

[2019-08-21 20:40] #37317 closed

[2019-08-21 20:57] artisticcheese opened #37559 "Incorrect parameter mentioned to limit concurrency"
There is no parameter named `-MaxParallelism` as mentioned in article in cmdlet called `Add-AzSqlElasticJobStep`

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe5d5f3a-ed62-4868-962e-2a2561309e80
* Version Independent ID: fbeebf38-10b9-e855-467f-750310b15acb
* Content: [Azure SQL Elastic Database Jobs (preview

[2019-08-21 21:12] femsulu commented on #37519
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-08-21 21:13] FrankHu-MSFT commented on #37535
I just had a colleague test this and they were able to get it working.

Did you set it up via aka.ms/sspr?

[2019-08-21 21:13] KranthiPakala-MSFT commented on #37343
@Jaiphadnis-20 Thank you for bringing this to our notice. We have assigned the issue to the content author. They will evaluate the ask and provide an update as appropriate.

@linda33wj or @ShirleyWangMSFT Could you  please have a look at the feedback from @Jaiphadnis-20? - Thanks!

[2019-08-21 21:13] femsulu commented on #37523
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-08-21 21:14] cynthn commented on #29974
@Klaas-  You can mix sizes in an Availability Set, as long as there is capacity for the size in that region. So, if you have a certain mix of VM sizes that you want, you should use `Get-AzVMSize -ResourceGroupName "myResourceGroupAvailability" -AvailabilitySetName "myAvailabilitySet" ` to see what region has all of the sizes you are looking for. It is just a limitation of the hardware that is in t

[2019-08-21 21:18] mkennedy345 commented on #37373
Thanks Bhargavi,

I appreciate the help. Looking for an answer by Friday if possible.

Thanks!

[2019-08-21 21:18] KranthiPakala-MSFT commented on #37461
@vlad-kozlov We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2019-08-21 21:18] #37461 closed

[2019-08-21 21:19] apwestgarth commented on #37452
@andriysavin We are working on bringing VNET integration options for Windows Container workloads in Azure App Service.  We will be providing options inline with the documented approach for integrating your apps with Azure Virtual Networks - https://docs.microsoft.com/azure/app-service/web-sites-integrate-with-vnet

We are targeting delivering this experience before the end of the year but we hope

[2019-08-21 21:19] JimacoMS3 commented on #33108
Hi @yatish123  - thanks for pointing out this issue in our documentation. As @rezasherafat stated, we don't support sharding in IoT Hub. We've removed that section from the topic: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-scaling . As this is a documentation repo, I'm going to close this issue.

If you still have questions about constructing an IoT Hub solution, I would suggest trying

[2019-08-21 21:20] MrRitt opened #37561 "Public IPs"
How many public IPs can be associated with a container instance?  Is there a way to bind more than 1?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7a4f16d-190f-a1c0-fab0-5a9065554166
* Version Independent ID: 0dab3702-f14f-7fb8-f9d7-e39be7230ab5
* Content: [Azure Container Instances quotas and region availability](h

[2019-08-21 21:22] #31719 closed

[2019-08-21 21:23] ajlam commented on #37232
@eiffelsturm - I believe you should be able to upload the Baltimore Certificate to the App Service file system (ref: https://github.com/projectkudu/kudu/wiki/Understanding-the-Azure-App-Service-file-system).

[2019-08-21 21:26] joeywalla commented on #37449
Thank you @eross-msft!  In order to use the app code option, would I have to disable the push notification option?
Thank you again!

[2019-08-21 21:27] rolyon commented on #37142
Hi @garrylean
Microsoft.Authorization/policies/audit/action is an activity log operation (event), not an RBAC permission operation. That is why it does not appear in the Microsoft.Authorization resource provider operations list:
https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations#microsoftauthorization
Here is the policy schema for activity logs:
https://d

[2019-08-21 21:29] CelesteDG commented on #29851
#reassign:@rwike77
We have an ADO work item tracking this doc enhancement work item (#795916). We'll update this thread when the work is completed.
For now, #please-close

[2019-08-21 21:29] #29851 closed

[2019-08-21 21:30] CelesteDG commented on #30777
Response provided. #please-close

[2019-08-21 21:30] #30777 closed

[2019-08-21 21:30] FrankHu-MSFT commented on #37517
Hey @SjoerdV  @guitarfreak58

I'm sorry for the difficulties this is causing you.

If you're still having an issue with this and it is urgent for this to be fixed, please email AzCommunity[at]microsoft[dot]com and I can enable a one time free support ticket. Please provide your Azure Subscription GUID and a reference to this thread. And hopefully we can get you on the right path again soon. 

Plea

[2019-08-21 21:34] #37543 closed

[2019-08-21 21:37] normesta commented on #37552
@sasanmcp Thank you for reporting. I've updated the content as per your correction. This update should appear live shortly. Thanks again.

[2019-08-21 21:37] normesta commented on #37552
#please-close

[2019-08-21 21:37] #37552 closed

[2019-08-21 21:39] CelesteDG commented on #32028
Hello @jackhorton - Thank you for the feedback. I've opened ADO work item #795924 to track this work on our end. We'll update this thread when we can report on the progress. Thank you.

For now, #please-close

#reassign:@rwike77

[2019-08-21 21:39] #32028 closed

[2019-08-21 21:40] MarileeTurscak-MSFT commented on #37555
@Mike-Crowley
Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-21 21:41] FrankHu-MSFT commented on #32583
Hey @BPtLNfxZWo

Unfortunately, I am currently unable to provide a clearer answer in regards to this and I'm very sorry for that.

When I say "Implementing it", we are currently looking into other encryption solutions but we are using PKDF2 as it was the best fit at the time.

That being said, I will go ahead and close out this issue by end of day today. Please reply back if you have anymore quest

[2019-08-21 21:42] FrankHu-MSFT commented on #33264
@AzureGuineaPig Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-21 21:48] Karishma-Tiwari-MSFT commented on #37556
Thanks for the question. We are currently investigating and will update you shortly.

[2019-08-21 21:48] Karishma-Tiwari-MSFT commented on #37561
Thanks for the question. We are currently investigating and will update you shortly.

[2019-08-21 21:50] eross-msft commented on #37449
@joeywalla. Unfortunately you would have to turn off notifications, you can only use one of the options at a time.

[2019-08-21 21:52] MicrosoftGuyJFlo commented on #36960
@StephenFerrero Step 1 includes this information. Are you saying that Step 2 needs this as well? Feel free to reach out to me I would like to get this resolved. Email is in my profile.

[2019-08-21 21:56] MarileeTurscak-MSFT commented on #37555
Thanks, @Mike-Crowley

I made a PR to add this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/86170

[2019-08-21 21:56] #37555 closed

[2019-08-21 22:00] rohitnayakmsft commented on #37077
@NavtejSaini-MSFT please reassign this item to Azure Web Apps team for comment on the above limitation called out by @pmcilreavy

[2019-08-21 22:01] mramnet opened #37562 "Note "2" and "3" are missing from section"
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes#configurable-token-lifetime-properties

In this section there are notations 1-4, and at the bottom of the section, there is the reference for notation 1 and 4.  Where did 2 and 3 go?
MaxAgeSessionSingleFactor(2)
MaxAgeSessionMultiFactor(3)

---
#### Document Details

⚠ *Do not edit this se

[2019-08-21 22:12] PingPongSet commented on #37315
@cgillum

Did you get a chance to read my last message?

[2019-08-21 22:16] rwike77 commented on #31853
Hello @scott1138  - Thank you for the feedback. I've opened ADO work item #795939 to track this work on our end. We'll update this thread when we can report on the progress. Thank you.
For now, #please-close

[2019-08-21 22:16] #31853 closed

[2019-08-21 22:21] stack247 opened #37564 "Where should I run the commands?"
The tutorial series articles are great way to get someone started at Kubernetes.

The only feedback I have, particular for this page but may be applicable to others as well, is when I follow the instruction, I sometime lost whether I should run the commands (`az`, `kubectl`, `docker`) in Azure Cloud Shell or my local. A clarification would be very helpful.

Thanks!

---
#### Document Details

⚠ *D

[2019-08-21 22:22] stack247 commented on #37564
The particular example is "Tutorial 4 - Run application" when running the following command
[code]

[2019-08-21 22:27] euandekock commented on #19578
@BryanTrach-MSFT any update?. Please reopen this or reference where it is being tracked. Thanks.

[2019-08-21 22:30] Alberto-Vega-MSFT commented on #37534
Hi @ugurgokdere I'm sorry to hear that you are facing this issue. It looks like you are experiencing this issue https://github.com/Azure-Samples/IoTEdgeAndMlSample/issues/45

[2019-08-21 22:31] jayanthurs-au commented on #37487
Is there any other way of achieving this?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: K N Manoj Reddy <notifications@github.com>
Sent: Wednesday, August 21, 2019 8:58:10 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: jayanthurs-au <jayanthurs@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] prepop

[2019-08-21 22:32] axayjo commented on #37551
@sonpeppers thanks for the feedback. what kind of recommendations are you thinking about?

[2019-08-21 22:36] TravisCragg-MSFT commented on #37261
@lyan-git At this time, [you cannot connect 2 different VWAN Hubs in different regions](https://docs.microsoft.com/en-us/azure/virtual-wan/virtual-wan-global-transit-network-architecture#crossregion). This feature is on our roadmap, but I do not have a timetable for its release.

You can connect resources from one region to a Hub in a different region. If you need cross region connectivity with Az

[2019-08-21 22:36] #37261 closed

[2019-08-21 22:36] walsehgal commented on #36806
@Luksys5, you can use our [Get Structured Search Address](https://docs.microsoft.com/en-us/rest/api/maps/search/getsearchaddressstructured) API. This will allow you to exclusively search within a specified area by providing area specific parameters.

[2019-08-21 22:38] stack247 opened #37568 "Missing Docker Login Step"
When following **Push images to registry** section, there should be `docker login` step before users can push image to ACR instance.

`docker login acrInstance.azurecr.io -u acrInstanceName -p somePassword`

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6afe8c14-efa4-31a6-9fd9-e68f2d878226
* Version Independen

[2019-08-21 22:38] Karishma-Tiwari-MSFT commented on #37427
@MSIH Sorry for the confusion. A regional scale set is a non-zonal scale set i.e no availability zones selected. I have update the doc. I ave created a PR and changes will be live shortly.
You can also find a mention of it in the following doc:
https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-faq#do-scale-sets-work-with-azure-availability-sets
Thanks for

[2019-08-21 22:38] #37427 closed

[2019-08-21 22:44] MashaMSFT commented on #37127
Hi @mjcarrabine , thank you for this feedback! Let me see what I can find out for you regarding this.

Thanks!
Masha from the SQL Docs team

[2019-08-21 22:46] YutongTie-MSFT commented on #37522
@yingqunpku FYI

[2019-08-21 22:47] FrankAtHexagon opened #37569 "NodePort Confusion"
I find the explanation about NodePort to be pretty confusing. From the Kubernetes documentation:

The article here on Microsoft Docs makes no reference to the fact that NodePort allows for *external* access, nor the fact that each service is basically a superset of the last.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-08-21 22:51] jonels-msft commented on #31546
Interesting, the following commands worked for me when I ran them in psql from the Windows 10 Command Prompt application:

[code]

* Did you run the command exactly as shown, with the backslash?
* Did you run it in psql locally on your computer?
* Did you start psql in a working directory for which you have write access?

Yep, confirmed that this worked for me on windows as well. I'll add that to

[2019-08-21 22:51] MashaMSFT commented on #37396
Hi @binoyjt , just to confirm, you're trying to register in full mode, and would like to do so in a single command (therefore, agreeing to allow the SQL Server to restart), instead of registering in lightweight and then upgrading to full. Is that correct?

Thanks!
Masha from the SQL Docs team

[2019-08-21 22:51] RicksterCDN commented on #33768
I very much like the idea of updating this with the additional run section and opening a port for testing.
@MicahMcKittrick-MSFT  Please re-assign this to @danielsollondon  as he is the new owner to the document.

[2019-08-21 22:52] FrankAtHexagon commented on #37569
Messed up the Markdown. Another issue might be that there's no way to preview Markdown 😁. Comment should read:

I find the explanation about NodePort to be pretty confusing. From the Kubernetes documentation:

The article here on Microsoft Docs makes no reference to the fact that NodePort allows for external access, nor the fact that each service is basically a superset of the last.

[2019-08-21 22:53] JimacoMS3 commented on #35519
Hi @marrichamsft,

Thanks for your feedback! I've been through this topic and I've converted some of the full absolute paths to full relative paths. I feel that the topic is pretty easy to follow. I think the instructions are structured the way they are in the CMAKE section because we are asking the user to create a directory. Please have a look: https://docs.microsoft.com/en-us/azure/iot-hub/quic

[2019-08-21 22:56] YutongTie-MSFT commented on #37464
@loomlike Hi Kun, thank you for your catching! I have created a PR to fix this problem. It should be live soon. I am closing this issue, thank you again.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-08-21 22:56] #37464 closed

[2019-08-21 23:02] Karishma-Tiwari-MSFT commented on #37459
Thank you for providing the steps, it helped me quickly update the doc. I have created a PR with the changes and it will be live shortly.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-08-21 23:02] #37459 closed

[2019-08-21 23:02] yasufs opened #37571 "No information about how to get password when using an existing service principal"
When creating a new SP, I can see that the `az ad sp create-for-rbac` command returns the password that can then be used with `docker login` or similar.
But what about the case where the SP already exists? `az role assignment create` seems to add the SP to the appropriate role, but it does not return the password.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2019-08-21 23:13] FrankAtHexagon opened #37572 "Layer References"
The documentation makes several references to different "layers":

What are these layers? Layers of the OSI reference model? Some clarification would be appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9615c579-305d-2482-7eaf-2d120c75e8d5
* Version Independent ID: 064f4a10-bd74-f554-9550-781dd3e838cb
* Conte

[2019-08-21 23:30] Karishma-Tiwari-MSFT commented on #37479
@JonShelley Can you please provide a screenshot of the dropdown. I am seeing this in the VM series dropdown:

![image](https://user-images.githubusercontent.com/20851144/63475249-ea4e8700-c430-11e9-9ca4-84d8078de091.png)
 On scroll down, I see pools/active jobs:
![image](https://user-images.githubusercontent.com/20851144/63475272-04886500-c431-11e9-986f-8c4fbbf4eb17.png)

[2019-08-21 23:32] MashaMSFT commented on #37396
Hi @binoyjt , thanks for contacting Microsoft! If the SQL IaaS extension has not already been installed, then registering with the resource provider is always going to be a two step process, where you register with lightweight, and then upgrade to full.

This is because we do not want to install the full SQL IaaS extension during the registration process. If you'd like to avoid doing this two step

[2019-08-21 23:33] j-martens commented on #37354
Thanks for your report! We've fixed the docs. See the best links above.

#please-close

[2019-08-21 23:33] #37354 closed

[2019-08-21 23:33] j-martens commented on #35719
Hope this answers your question Keiro.

#please-close

[2019-08-21 23:33] #35719 closed

[2019-08-21 23:35] KranthiPakala-MSFT commented on #37365
@tspannagel Could you please confirm how you got the list of return properties for powershell command Get-AzDataFactoryV2IntegrationRuntime?

[2019-08-21 23:37] zxyanliu commented on #37056
@diberry Hi Dina, thanks for your reply. I really appreciate it.
The text you will add to the troubleshooting section makes much sense to me!
I actually would like to know if two or more applications could share one knowledge base at the same time. In theory, it seems to be possible.

Thanks again for reaching out.

Yan

[2019-08-21 23:38] psoukal-ms opened #37573 "Consider adding a limitation section for Azure Lighthouse"
In the following section https://docs.microsoft.com/en-us/azure/lighthouse/concepts/cross-tenant-management-experience#supported-services-and-scenarios titled "Supported Services and Scenarios" the final paragraphs relate to limitations.

To call this out more clearly, I suggest a change to the documentation with a new section headed Current limitations - which is consistent with other services.

[2019-08-21 23:39] binoyjt commented on #37396
Hi @MashaMSFT... I really do not see a difference. the commands that you have entered under the section "Install SQL IaaS extension" are exactly the same commands that I was using (except for the license type). Can you confirm if this should work as I was not able to get it to work and it always failed with the "Resrart Required" comment in the error.

[2019-08-21 23:40] MicrosoftGuyJFlo commented on #37349
Investigating.

[2019-08-21 23:44] MashaMSFT commented on #37396
@binoyjt , ahh, I see what you mean.. Let me investigate further :) Thanks!

[2019-08-21 23:53] binoyjt commented on #37396
Thank you @MashaMSFT

[2019-08-22 00:01] diberry commented on #37056
@zxyanliu Yes, two client applications, such as chat bots, can share a knowledge base. If the knowledge base starts to lag, the solution is to up the app service tier for the knowledge base.

[2019-08-22 00:01] KingdomOfEnds commented on #37460
Hi @Nicholas-I! First, I'm sorry to hear that and I'm glad you're able to access the API's. Proxy settings, CORS, or other server/IP configuration settings can impact your ability to connect. Sounds like we're in a good place regarding those. Hmmm …. Depending on your security settings, you may need to contact the Super Administrator of your Azure tenant or subscription to see if your account can

[2019-08-22 00:04] Karishma-Tiwari-MSFT commented on #37564
@stack247 For this particular command, it is mentioned that open the manifest file with a **text editor, such as vi**
You can use any text editor, an example is vi.
Similarly, the commands should have this information on the top of command box, for example:
![image](https://user-images.githubusercontent.com/20851144/63476358-664ace00-c435-11e9-9a5f-e49260a97651.png)

This command can be run on Azu

[2019-08-22 00:04] #37564 closed

[2019-08-22 00:21] Alberto-Vega-MSFT commented on #37538
@smoms Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-22 00:24] Alberto-Vega-MSFT commented on #37546
@jkewley Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-22 00:24] saif-chaudhry opened #37576 "incorrect parameter names"
Hi, Minor update...

The following parameter names should reflect the names that are being referenced in the cmdlet.

$workspaceGUID should be $workspaceid
$workspaceLocation should be $workspaceRegion

It will also beneficial to make a note that the Traffic Analytics is not available in all Azure region e.g. Canada East. I spent some time trying to figure out why I'm getting bad request.

Saif

-

[2019-08-22 00:27] zxyanliu commented on #37056
Thanks! @diberry
I was wondering if that is documented anywhere?

[2019-08-22 00:28] Alberto-Vega-MSFT commented on #37544
Thanks for the feedback @smoms  We are currently investigating and will update you shortly.

[2019-08-22 00:28] Karishma-Tiwari-MSFT commented on #37568
@stack247 The document already includes the step to log in to container registry here: https://docs.microsoft.com/en-us/azure/aks/tutorial-kubernetes-prepare-acr#log-in-to-the-container-registry

As per [this doc](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-authentication), there are two ways to do log in:
1. Using invidual login with Azure AD
az acr login --name <

[2019-08-22 00:28] #37568 closed

[2019-08-22 00:31] david-lennox commented on #31417
@YutongTie-MSFT
I don't think you have answered the original question. You seem to be saying the only advantage of Studio (over Service) is the usability of the GUI. But then you seem to say the new GUI for Service is now just as usable. So the original question remains. Is ML Studio to be retired once ML Service GUI becomes more user-friendly?

[2019-08-22 00:34] MarileeTurscak-MSFT commented on #37562
@mramnet
Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-22 00:35] TravisCragg-MSFT commented on #36809
@saif-chaudhry The displayed available ports when editing the NSG is most likely not correct, we are currently looking into this further. I will post any updates here as I have them.

[2019-08-22 00:36] Karishma-Tiwari-MSFT commented on #37569
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-22 00:37] TravisCragg-MSFT commented on #37576
@saif-chaudhry Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-22 00:44] #33108 closed

[2019-08-22 00:45] marktab commented on #37464
@loomlike I tried the link -- it does land at a page which is not 404.  Of course, the notebook has been archived, meaning that we are not updating it anymore.

The notebook did not show when I did it the first time, but was OK when I did a "refresh" in the browser.   Try it yourself.

@YutongTie-MSFT this possible issue with refresh is an external site not controlled in our docs, and therefore wo

[2019-08-22 00:48] Alberto-Vega-MSFT commented on #37483
Thanks @eazykiel  I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-22 00:48] Karishma-Tiwari-MSFT commented on #37572
@FrankAtHexagon I understand your confusion.
You are right, Layer 4 and Layer 7 are transport layer and application layer resp.
You may find this article helpful to get more details: https://devblogs.microsoft.com/premier-developer/azure-load-balancing-solutions-a-guide-to-help-you-choose-the-correct-option/
We will now close this issue. If there are further questions regarding this matter, please

[2019-08-22 00:48] #37572 closed

[2019-08-22 00:48] tunagezer commented on #37349
This observation is correct, the correct hyperlink should be Active Sync limitations in CAP described here https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/conditions#exchange-activesync-clients @MicrosoftGuyJFlo can you double check plz.

[2019-08-22 00:49] Karishma-Tiwari-MSFT commented on #37571
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-22 00:54] rolyon commented on #25930
Hi @miss-tech
I've updated this list with the apps that I'm aware of, but unfortunately I've been unable to get a more comprehensive list. I've talked with the product team and created a work item to track.
I'm going to close this issue for now, but once I learn more I will update this article and issue. If you have any additional comments or feedback, please reopen this issue.
thanks

[2019-08-22 00:55] rolyon commented on #25930
#please-close

[2019-08-22 00:55] #25930 closed

[2019-08-22 00:55] Alberto-Vega-MSFT commented on #37433
Hi @Kressilac sorry you are facing that issue. This channel is dedicated to documentation feedback like suggesting enhancements on clarity, content, formatting  and reporting errors. If you need help to get you unblocked please reach out to support. If you do not have access to support plan please let me know.

[2019-08-22 01:02] YutongTie-MSFT commented on #31417
@david-lennox Hi Dave, sorry to make you confused. Yes, ML Studio will be retired and Azure Machine Learning Service Visual Interface (Which is known as Studio V2) will be the best choice to replace it.
Please refer to the document if you want to learn more details:  https://docs.microsoft.com/en-us/azure/machine-learning/service/ui-concept-visual-interface

[2019-08-22 01:05] YutongTie-MSFT commented on #37464
@marktab Hi Mark, the original one is broken and I have fixed it 2 hours ago. So it's good now.

[2019-08-22 01:23] JonShelley commented on #37479
Are you using a batch account in a user subscription?

On Wed, Aug 21, 2019 at 5:31 PM Karishma Tiwari - MSFT <
notifications@github.com> wrote:

[2019-08-22 01:23] garrylean commented on #37142
Hi @rolyon
Thank you. I wonder if this "Microsoft.Authorization/policies/audit/action" operation have a user-friendly readable description, like those Microsoft.Authorization resource provider operations? -OR- this brilliant command Get-AzProviderOperation is unique and there is no similar command and similar list for "Microsoft.Authorization/policies/audit/action" and "Microsoft.Security/tasks/wr

[2019-08-22 01:26] femsulu commented on #37224
@snehithm  - any input on this please?

[2019-08-22 01:28] femsulu commented on #37276
@genlin & @bandersmsft  - please review and advise if a doc-enhancement is required

[2019-08-22 01:36] RyanHill-MSFT commented on #37129
@ghclo There is an issue with the Powershell commandlet which is not passing the required multipart-form request. #9883 addresses this issue.

I'm proceeding to close this issue but after #9883 is released please let us know if you're still not able to upload *.war files.

[2019-08-22 01:36] #37129 closed

[2019-08-22 01:37] krishorrocks commented on #31417
Has the retirement time line for Studio been publicly released?

[2019-08-22 01:41] tdihp opened #37578 "Enable CoreDNS log for troubleshooting."
A common scenario for CoreDNS customization is doing troubleshooting.

As referred in Kubernetes documentation [https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/#are-dns-queries-being-received-processed], adding "log" plugin to Configmap makes it possible for users to see DNS queries received/processed.

As the AKS customization approach of CoreDNS config isn't straight

[2019-08-22 01:45] rolyon commented on #37142
Hi @garrylean
I don't think the "Microsoft.Authorization/policies/audit/action" activity log has a corresponding description. I don't work with activity logs so I'm not sure. I'll ask someone in that area and see what I can find out.

[2019-08-22 01:50] jachin84 opened #37579 "PowerShell Examples"
Please provide example in PowerShell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd4c4f41-2050-234e-e35b-750158cfba54
* Version Independent ID: 09c0145e-fa2b-210d-d1a0-4acb8c790bc3
* Content: [Create a Windows VM with Azure Image Builder (preview)](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/ima

[2019-08-22 01:52] mike-urnun-msft commented on #37279
Hi @Anand-Moghe - Sorry for the delay in response. Here's the related documentation: https://docs.microsoft.com/en-us/azure/azure-government/documentation-government-services-webandmobile#api-management

[2019-08-22 02:04] bhjolly commented on #28293
@wesmc7777 what's the progress like on the new library? It's frustrating to check back after almost 4 months and still run into the same problems. I'm running Ubuntu 18.04 so it looks like I'm still screwed.

[2019-08-22 02:04] t-eckert opened #37580 "Step 3 under `Configure and run the Azure Function app` boxes the wrong item"
While the text of the instruction for step 3 says to copy the "CONNECTION-STRING", it is the "KEY" that is boxed in red.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f04b2376-8901-ee7a-86a7-500b09cfcf94
* Version Independent ID: 01198991-2c3b-9873-3b2c-233b7b9a0ff0
* Content: [Azure SignalR Service serverless quickst

[2019-08-22 02:07] #37100 closed

[2019-08-22 02:09] anthonychu commented on #37580
Nice catch. Thanks. I’ll fix it.

[2019-08-22 02:17] TysonLinger opened #37582 "Supported image formats not specified"
I followed the instructions on this page closely but had a lot of difficulty getting it to recognize the images that I uploaded to my blob storage container for training. It kept returning an error message of: "No valid blobs found in the specified Azure blob container."

It took me a long time to figure out that what this error meant was that the format that I was uploading the images in (tif) wa

[2019-08-22 02:20] Kressilac commented on #37433
I appreciate the response.  I did not find that linked document in the process so I will try that.  I was able to get a S2S connection up and running to avoid having to create a P2S connection so it worked out in the end.  However, getting the P2S working again will aid in remote troubleshooting.

I just found it odd that this behavior started out of no where when it was working for months before.

[2019-08-22 02:38] dcbrown16 opened #37583 "Update terms"
"Audit log" is not the current term - please use "activity log".
I would like to know what progress is being made towards the updates requested in #23026.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d797fa9d-3a8c-6775-978d-c4e9420872c2
* Version Independent ID: 8770fb75-b8fd-af32-10a8-5d1391217333
* Content: [Monito

[2019-08-22 02:43] coderUT commented on #11216
I'll 15th the request....its absurd that Microsoft is pushing using managed disks and managed images EVERYWHERE (including in the AZ-103 certification exam), but the documentation STILL only shows how to use a custom managed image with the New-AzVM, OVER 1 year after this was supposedly "Closed".

New-AzVM to create VMs is bollocks for any decent programmer who wants full control without a single

[2019-08-22 02:53] coderUT commented on #11216
There should also be a re-factoring here, its only been over 2 years.
Set-AzVMSourceImage should pretty much be JUST for platform image specification
Set-AzVMOsDisk should be refactored to add a -Image or -ImageId parameter that can be used instead of -SouceImageUri.....this is pretty obvious stuff, surprised that its not been done as of Azure Powershell 2.5

[2019-08-22 03:12] kudlatiger opened #37584 "How to connect my existing IoT Hub to this solution?"
I have devices in field and they send data to IoT Hub. I would like to use the capabilities of accelerators on this IoT Hub. How can I connect?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8349b90f-e898-67fa-b3ec-b24b19700afa
* Version Independent ID: 93cb94ce-e8bf-b3cf-deb9-cae1ef10e7c9
* Content: [Try a cloud-based

[2019-08-22 03:13] genlin commented on #37276
@caerphilly， Thanks for the feedback. Yes, the UI was changed. Now we can see a download icon at the end of the row. I will update the article to reflect the new UI.

[2019-08-22 03:33] dcbrown16 commented on #37500
@msrini-MSFT is it possible to show me the difference in a screenshot? Where would I find a "VPN gateway" resource? Searching for this only brings up the Virtual Network Gateways.

[2019-08-22 03:35] kazshi commented on #28305
@barclayn Thank you for the update. I confirmed the update. Closing this thread.

[2019-08-22 03:35] #28305 closed

[2019-08-22 03:35] dcbrown16 opened #37585 "Resources other than VMs"
The discussion of DNS only explicitly says that DNS is provided for "VMs and role instances" within a Vnet.
"Along with resolution of public DNS names, Azure provides internal name resolution for VMs and role instances that reside within the same virtual network or cloud service."
However, it is now possible to add many other kinds of resources into a Vnet - ASE, VPN gateways, SQL Managed Instance

[2019-08-22 03:36] rolyon commented on #18108
Hi @ph0rman
I've contacted the Functions team to see if they can identify the minimum permissions. I created a work item to track. I'll update this issue when I hear more. If you have any additional comments or feedback, please reopen this issue.
thanks

[2019-08-22 03:37] rolyon commented on #18108
#please-close

[2019-08-22 03:37] #18108 closed

[2019-08-22 03:58] mike-urnun-msft commented on #36510
@slimfast-lev Apologies for the long delay in response. Are you still having this issue?

[2019-08-22 04:08] loomlike commented on #37464
Thank you so much for the super fast fix!

[2019-08-22 04:15] deisterhold opened #37586 "Documentation for RBAC"
I'm struggling to find any documentation on how to use this and integrate it with ASP.NET Identity so that I can use "IsInRole" and the "AuthorizeAttribute".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f1c454d-73bc-5a73-5d3f-1b1ca7625044
* Version Independent ID: 552b3f09-6650-e7f7-01f2-a702005b83e9
* Content: [Con

[2019-08-22 04:33] DashleenBhandari-MSFT commented on #37385
@eevans-seattle , I have not heard back from you. I will go ahead and close the issue. Please feel free to re-open the issue in case you have further queries.

[2019-08-22 04:33] #37385 closed

[2019-08-22 04:35] CastleArg commented on #36167
I have also found this does not work at all, locally with Javascript azure functions at least.  No event is published to the grid.
The docs re putting the actual key in local settings and pointer to app setting name in host.json is much better now, but this still simply does not work yet.

[2019-08-22 04:35] DixitArora-MSFT commented on #37347
@jmulcahy-fiscaltec Just following up again in case missed the previous communication.

[2019-08-22 04:43] manvendrautralia opened #37588 "Use of BingID in result"
Could you please suggest how to make use of BingID provided in the result set.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe556b84-8429-ced1-e5fb-f9f567e72b3b
* Version Independent ID: 2e40c5db-f3ca-b816-3f17-60492bd11606
* Content: [Use entity recognition with the Text Analytics API - Azure Cognitive Services](htt

[2019-08-22 04:45] RohitMungi-MSFT commented on #37582
@TysonLinger Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-08-22 04:46] manvendrautralia opened #37589 "Is the response JSON structured in a particular order"
Are the resultant keywords published in any particular order based on for eg, relevance or some ranking or is published in order as it appears.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7f0fbc6-bf5d-2376-bfc8-f7e63675155b
* Version Independent ID: eef72ee6-4976-656a-d993-7f89fecdeb9a
* Content: [Key phrase extrac

[2019-08-22 04:47] RohitMungi-MSFT commented on #37588
@manvendrautralia Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-08-22 04:49] neeleshray-msft commented on #37553
@psteniusubi Thank you for your query. We will check it with the engineering internally and let you know accordingly.

[2019-08-22 04:54] BhargaviAnnadevara-MSFT commented on #37554
@vlado101 Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2019-08-22 04:58] DixitArora-MSFT commented on #37370
@cecilphillip The current set of extensions installed by the default bundle are enumerated in this [extensions.json file](https://github.com/Azure/azure-functions-extension-bundles/blob/master/src/Microsoft.Azure.Functions.ExtensionBundle/extensions.json). Using extension bundles help Functions automatically install a compatible set of binding extension packages. Complete list detail can be found

[2019-08-22 05:03] JeetJoe commented on #37484
Hello, even I am having the same exact issue, did not understand the solution above, can you explain please. Thanks !

[2019-08-22 05:04] DixitArora-MSFT commented on #37376
@KristiRyder As the next step, we'll now assign this issue to the content author to review further and take the right course of action.

[2019-08-22 05:07] amigup commented on #35072
Thanks @cijothomas - Currently, I've used ITelemetryInitializer to store ITelemetry object in HttpContext.Items and later retrieving the object in the custom ActionFilterAttribute. The implementation is done as mentioned in this [link](https://stackoverflow.com/questions/42686363/view-post-request-body-in-application-insights/53776460#53776460). The way it is implemented is more like a workaround

[2019-08-22 05:09] msrini-MSFT commented on #37500
@dcbrown16 , I figured out using the powershell commands. Use a get-virtualnetworkgateway command and get-vpngateway command. You can understand the difference.

[2019-08-22 05:11] ManojReddy-MSFT commented on #37288
@invictus-0x90 We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-08-22 05:11] #37288 closed

[2019-08-22 05:11] kkinkopf opened #37590 "Typo for table names. Linus should be Linux"
Typo for table names. Linus should be Linux

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f322439a-d89a-201a-2581-d4d794ea694d
* Version Independent ID: 20b98ef0-2396-86bb-bec1-87fa99502ef1
* Content: [Deep Learning & AI frameworks - Azure Data Science Virtual Machines](https://docs.microsoft.com/en-us/azure/machine-l

[2019-08-22 05:12] ram-msft commented on #37589
@manvendrautralia Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-08-22 05:13] gearsmotion789 opened #37591 "Predictive web service not updating"
I tried following the instructions, but whatever I do, the predictive web service defintion keeps on referencing an old .ileaner model. The web service definition never updates to the new "output1results.ileaner" file in my storage container. How do I fix this?

[2019-08-22 05:15] #37591 closed

[2019-08-22 05:16] ManojReddy-MSFT commented on #37373
@mkennedy345 You can exclude resource to the policies that are being applied through Azure Security Center.

Check step 5 in this [article ](https://docs.microsoft.com/en-us/azure/governance/policy/tutorials/create-and-manage#assign-a-policy)for more details and steps on how to edit a policy

You can also disable a policy if you do not want that recommendation

Ref: https://docs.microsoft.com/en-u

[2019-08-22 05:17] BhargaviAnnadevara-MSFT commented on #37573
@psoukal-ms Thank you very much for the feedback! Indeed, I agree with that and will raise a PR for the content author to review.

[2019-08-22 05:20] KalyanChanumolu-MSFT commented on #37329
@Rohit-Stackroute We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-08-22 05:20] #37329 closed

[2019-08-22 05:22] dcbrown16 commented on #37500
Ok, thank you :)

[2019-08-22 05:22] #37500 closed

[2019-08-22 05:22] jakaruna-MSFT commented on #37206
@Sas002 I escalated already. I will update here once i have some information

[2019-08-22 05:28] AshokPeddakotla-MSFT commented on #37584
@kudlatiger Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-22 05:30] vikramdadwal opened #37592 "Ga availability?"
When GA is planned?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1772867c-92c7-f8ae-e19a-929478763da3
* Version Independent ID: 2df08f43-c2be-63e3-1b6f-99932ddd593f
* Content: [Overview of Azure Service Fabric Mesh](https://docs.microsoft.com/en-us/azure/service-fabric-mesh/service-fabric-mesh-overview)
* Content Sou

[2019-08-22 05:31] ManojReddy-MSFT commented on #31314
@antonburger-advanced  The entire technical profile is not being replaced. The elements inside a technical profile are merged and form a single technical profile. In the TP let's say you have a element called "key1" with a value of A in base and B in the RP file. The final value will be "B" as RP takes precedence.

Ho[e this clarifies.

[2019-08-22 05:46] RJK23 commented on #37467
Extremely sorry for referring different page for my issue. The issue is on below [page](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-view-entities-aggregated-health)
If you click on

It will not redirect to any application

![errorurl](https://user-images.githubusercontent.com/45816994/63488734-a8275300-c4cd-11e9-9719-6122f0c459ef.PNG)

I hope I am able to clear where this

[2019-08-22 05:48] irfan432 commented on #36594
So environment with Oracle tested by Microsoft, this has been still kept under curtains.

[2019-08-22 05:55] VikasPullagura-MSFT commented on #37408
@rockboyfor I have updated the document, the changes will be live once PR is approved.

[2019-08-22 05:57] RJK23 opened #37593 "Issue in redirecting to WordCount application"
Extremely sorry for referring different page for my issue #37467. The issue is on this [page](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-view-entities-aggregated-health)
If you click on

It will not redirect to any application

Please find location of this line in below screenshot
![errorurl](https://user-images.githubusercontent.com/45816994/63488734-a8275300-c4cd-11e9-9

[2019-08-22 06:06] irfan432 commented on #36479
I'm not looking to have an additional physical server for having Config, process and master running but i'm looking to use the same SQL physical server which i need to replicate to also use it as my config, process and master server. This was my actual question. Please let me know if its possible or not.

[2019-08-22 06:08] irfan432 commented on #36479
Keeping it simple, can my protected source machine also be my management server?

[2019-08-22 06:20] KalyanChanumolu-MSFT commented on #37559
@srinia Thank you for the feedback. We are actively investigating and will get back to you soon.

[2019-08-22 06:22] SubhashVasarapu-MSFT commented on #37585
@dcbrown16, Thanks for your feedback. We are assigning this issue to the author for updating the document accordingly. @rohinkoul, Could you please provide your insights on this?

[2019-08-22 06:25] SubhashVasarapu-MSFT commented on #37583
@dcbrown16, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-08-22 06:32] VikasPullagura-MSFT commented on #37592
@vikramdadwal Thanks for reaching out. I am checking with the product team on this. Will update here once I get the response on your query.

[2019-08-22 06:41] #37135 closed

[2019-08-22 06:42] BryanTrach-MSFT commented on #37135
@dcbrown16 Thank you for bringing this up. The default period is 1 year for app service certs. We have updated the docs to share that information. The changes should be public within 24 hours.

[2019-08-22 06:45] andriysavin commented on #37452
@apwestgarth Thanks for the response. I have the same need in windows containers because of using custom IIS configuration and ODBC data sources in a legacy web app.

[2019-08-22 06:57] VikasPullagura-MSFT commented on #37579
@jachin84 Thanks for the feedback. I have assigned the issue to the document author to add comments and update the document as requested.

[2019-08-22 06:59] VikasPullagura-MSFT commented on #37579
@cynthn Please look into this document enhancement request and add your comments accordingly.

[2019-08-22 07:01] ugurgokdere commented on #37534
Hi @Alberto-Vega-MSFT,

I verify that this seems to be the same issue.

In tutorials there are several ways to create vm for to use as "IoT Edge device" but this one is just using a json script to create vm and provides ssh connection string, which is different from the previous examples. So this issue is showstopper for me. I couldn't find a fix or way-around.

Thanks for helping me out.

[2019-08-22 07:15] xiaoyang-connyun commented on #30073
1. Yes, I do have an OAuth server, running in my VNET that provides authorization over `http`.
2. If `client secret` is required by Portal, are there any other ways to do that?
3. Referencing it in `validate-jwt` is not a problem at all, and is not what I am asking for. However, I would like to reference it in `authorization endpoint url` and `token endpoint url`, when I set up OAuth feature of AP

[2019-08-22 07:23] snehithm commented on #37224
Hi @andreimoraru, exclude functionality on dimensions is not supported (it exists for future support). However looks like there is a bug here. I would expect the request to fail with the right error message when you use exclude. We will investigate and fix this.

Closing this one out as the question is answered. #please-close

Regards,
Snehith

[2019-08-22 07:23] #37224 closed

[2019-08-22 07:25] assainov opened #37595 "Mapping procedure missing"
I tried following the docs exactly word by word, but when debugging the pipeline, it was giving me the error:
[code]

After some trial & error, I figured out the columns from the file need to be mapped to SQL columns in the 4th column of the pipeline (after Sink).

Please specify this step in the tutorial as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2019-08-22 07:30] nicklooo commented on #37505
Thanks, Kumar!

[2019-08-22 07:30] #37505 closed

[2019-08-22 07:36] philburns-72 opened #37596 "An error occurred while starting the application."
I'm having a similar issue to that discussed here: https://github.com/MicrosoftDocs/azure-docs/issues/28746#issuecomment-523530276.
Thanks @grahamjtr for the DETAILEDERRORS tip. I used that and it's now telling me

Win32Exception: The system cannot find the file specified
Unknown location
SqlException: A network-related or instance-specific error occurred while establishing a connection to SQL Ser

[2019-08-22 07:39] Rajeswari-Mamilla commented on #36187
Thank you for sharing this. Corrected the documentation
#please-close

[2019-08-22 07:39] #36187 closed

[2019-08-22 07:39] Rajeswari-Mamilla commented on #32148
Last two lines are appended by mistake. They are part of the table and explained in details. Thank you for the feedback.
#please-close

[2019-08-22 07:39] #32148 closed

[2019-08-22 07:44] rajatb94 commented on #35553
On 20th Aug 2019, the Batch Transcription stopped working (for the v2.1 undocumented API). The scheduled job did not switch to the status "Running", instead they stuck at "Not Started". I am not sure how and who is managing this service but as a customer I invest money to use your services which are pretty inconsistant. Don't you think it is wrong from your business perspective?. It even has been

[2019-08-22 08:01] jjindrich opened #37599 "Get Health probe more details about unhealthy backend"
Hi, I'm trying to get more information about unhealth backend. I will find general information (based on https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-diagnostics#back-end-health) in log. But I need to get more details, e.g. status code 404, 500. Is it possible to get it from log somehow ?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-08-22 08:11] assainov opened #37600 ""Add dynamic content" link is not available"
Following the tutorial, there was no "Add dynamic content" link when adding a new output dataset. I had to put @CONCAT(pipeline().RunId, '.txt') directly inside the File input field.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2eeeaf10-1280-fb39-7365-bd626d719d72
* Version Independent ID: 66d4d86f-bc64-6f24-a55f-1f6

[2019-08-22 08:28] tbertenshaw opened #37601 "Unsupported Premium_V2 Upgrades"
Is there any better advice for the unsupported resourcegroup than redeploy your app?  Could the contents of the resource group be migrated to one which does support the Premium_V2 sku?  Redeploying will mean a new site name, reconfiguring ssl webjobs app insights not to mention the downtime whilst this is all done.  Or is there a migration/copy option?

---
#### Document Details

⚠ *Do not edit th

[2019-08-22 08:29] vionemc commented on #37522
![image](https://user-images.githubusercontent.com/6565672/63499130-6c05e980-c4f1-11e9-82b1-97632be8ac70.png)

I still get XML. I have put `application/json` in the headers

[2019-08-22 08:42] msrini-MSFT commented on #37599
@jjindrich , Thank you for posting here. I will investigate and get back to you shortly.

[2019-08-22 08:52] tbebekis commented on #37282
Case 1 and 2: I removed that scope already.
Case 3: This is what I'm using right now and it works. With the addition of a "service". E.g.

`Dictionary<string, string> FormData = new Dictionary<string, string>();
            FormData["client_id"] = Settings.ClientId;
            FormData["client_secret"] = Settings.ClientSecret;
            FormData["grant_type"] = "client_credentials";

[2019-08-22 08:52] #37282 closed

[2019-08-22 08:54] jmulcahy-fiscaltec commented on #37347
@DixitArora-MSFT Thanks for your reply. My confusion was due to the linked Wikipedia article in the document which seems to indicate that seconds are only optional (so a format including only minute, hour, day, month and year would be valid). When I followed this pattern and set the time trigger to run every minute I found that the expression, while valid, had actually been evaluated as an express

[2019-08-22 08:59] andrewvr99 commented on #35466
I am getting a similar problem: `$ref$` for people for whom a signature was provided and `Unknown ` for the other participants.  Speech is being correctly transcribed so I don't think it is an issue with the input files.

I can't tell from the above what the status of this issue is - is this an acknowledged problem/is the issue still open?

[2019-08-22 09:04] AjayKumar-MSFT commented on #37586
@deisterhold, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-08-22 09:05] hisasima opened #37602 "About VPN Gateway"
A few month ago, Azure VPN Gateway was supported to move RG or Subscription. Why are not the followings supported now ?

vpngateways	No	No
vpnsites	No	No

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41f4e1d2-5b58-3d7c-6a97-d0e7bcacd402
* Version Independent ID: b627e946-e267-2f94-1e5b-9877a343d611
* Content: [Move op

[2019-08-22 09:14] ChiragMishra-MSFT commented on #37600
@assainov Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-08-22 09:15] ChiragMishra-MSFT commented on #37595
@assainov Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-08-22 09:16] #37580 closed

[2019-08-22 09:24] VikasPullagura-MSFT commented on #37571
@yasufs The password for service principal can only be retrieved at the time of creation, check this [document](https://docs.microsoft.com/en-us/cli/azure/create-an-azure-service-principal-azure-cli?view=azure-cli-latest#create-a-service-principal) for this information.

However, you can reset the service principal password with `az ad sp credential reset` please check this [document](https://docs

[2019-08-22 09:24] jakaruna-MSFT commented on #37569
@FrankAtHexagon This document discusses about the types of services in high level.
Document also states that in nodeport apps are exposed on all node ips. That means that services are exposed outside of the cluster.
In AKS , Nodes wont have public ip address by default. So the nodeport services are exposed to the Other machines in the vnet.

Also this document aims to explain the available network

[2019-08-22 09:27] msrini-MSFT commented on #37602
@hisasima , Azure Virtual Network Gateway is different from VPN gateway.

Azure Virtual Network Gateway is the actual gateway that you create in Gateway Subnet for site to site and VNET to VNET which can be moved.

VPN gateway is a component of Azure Virtual WAN, which cannot be moved.

Reference: https://github.com/MicrosoftDocs/azure-docs/issues/37500

Let me know if you have any further questio

[2019-08-22 09:31] omerzubair commented on #35489
The set command works fine if no category is specified.

[2019-08-22 09:34] imeya commented on #21638
@sugatmankar , thank you, I will take a try.

[2019-08-22 09:35] BhargaviAnnadevara-MSFT commented on #37578
@tdihp Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-22 09:41] msrini-MSFT commented on #37484
If you attach a routing table to the AppGW subnet with a route stating that, if the destination is 0.0.0.0 next hop is Network Virtual Appliance, then the backend health API will fail.

Application Gateway contacts an endpoint to get that info which is an outbound traffic and it is getting failed as that call is routed to NVA.

So, if you have backend pool as VM not App Service, then you can tweak

[2019-08-22 09:44] ericzhao0821 opened #37603 "https://localhost:5000 should be http://localhost:500"
This is a documentation error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73a43800-f76a-f114-f4a2-ed18785b7c76
* Version Independent ID: 172adee6-e47b-b68d-0687-2c9009052559
* Content: [Install and run containers - Text Analytics - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/t

[2019-08-22 09:45] JeetJoe commented on #37484
@msrini-MSFT Thanks ! Now makes sense, will configure this and get back.

[2019-08-22 09:49] ChiragMishra-MSFT commented on #37600
@assainov The "Add dynamic content" link appears only once you focus (click and stay) on a particular field eg- file path.

[2019-08-22 09:52] femsulu commented on #37276
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-08-22 09:52] #37276 closed

[2019-08-22 09:54] qusp66 opened #37604 "incorrect information"
i tried to update the dns name lable as explained above and got the following error message:
81-237-187-233-no2330 xxxMrxxx$ az container create --resource-group myCTR --name myIMG --dns-name-label newDNSlabel
The updates on container group 'myIMG' are invalid. If you are going to update the os type, restart policy, network profile, CPU, memory or GPU resources for a container group, you must dele

[2019-08-22 10:11] ChiragMishra-MSFT commented on #37595
@assainov I have made the change in the doc. You will soon see it in production.

I will now proceed to close this issue. Please feel free still to open the issue if you have any queries on the same.

[2019-08-22 10:11] #37595 closed

[2019-08-22 10:12] assainov commented on #37600
@ChiragMishra-MSFT  Not in this particular form.

<img width="616" alt="Screen Shot 2019-08-22 at 2 09 28 PM" src="https://user-images.githubusercontent.com/43115415/63506574-d6655c80-c4e6-11e9-830d-eec0933753a0.png">

However, it still can be changed from the Connection tab when editing the dataset.

[2019-08-22 10:14] ChiragMishra-MSFT commented on #37600
@assainov What type of Linked Service are you creating? Is it of "File System" type?

[2019-08-22 10:18] yossaa commented on #33657
You are right. I have mounted VMSS filesystem in k8s pod under /worker and symlink /worker/var/run pointed to /run and in this case it should point to /worker/run.
I guess it would be better to symlink ../run instead of /run

![image](https://user-images.githubusercontent.com/14076521/63506583-153ee680-c4d6-11e9-90e9-2534a7ffbe79.png)

Beside that, it looks fine.

[2019-08-22 10:20] assainov commented on #37600
@ChiragMishra-MSFT I just want to point out that I didn't get this option of _Adding dynamic content_, but I was still able to finish the tutorial.
As for your question, it was the Azure Blog Storage type, same as in the tutorial.

[2019-08-22 10:23] RohitMungi-MSFT commented on #37590
@kkinkopf Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-08-22 10:30] cr-stef opened #37605 "user / usr mixup"
"In a terminal, go to /user/local/ASR."

For true copypasta'ability this should be /usr/local/ASR.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8b43735-a74a-1015-8d31-e8f6a3234554
* Version Independent ID: 226f86d2-4aa9-0a49-ec81-5a2244296f78
* Content: [Manage Mobility agent on servers for disaster recovery of VMwa

[2019-08-22 10:31] ChiragMishra-MSFT commented on #37600
@assainov I am trying to understand the behavior completely as it could potentially be a bug.

I tried following the steps and I can see the option. Can you do a hard refresh (Ctrl + F5 on chrome) and check if it still persists?

[2019-08-22 10:33] KrishnaG-MSFT commented on #37605
@cr-stef Thanks for the comment. We are actively investigating on your ask and will get back to you shortly with an update.

[2019-08-22 10:35] RohitMungi-MSFT commented on #37603
@ericzhao0821 Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-08-22 10:44] assainov commented on #37600
@ChiragMishra-MSFT No problem. On focus a different text is appearing "Add parameters by clicking 'Continue' at the bottom" (As in the screenshot above).

By the way, the shorthand [Alt+P] still works as expected.

[2019-08-22 10:53] ram-msft commented on #37429
@nacharya1 Could you please help with the explanation and formulae for the metrics in primary metric section.
![image](https://user-images.githubusercontent.com/49180516/63509110-f867da80-c4f8-11e9-8975-0a44f9f0c20e.png)

[2019-08-22 10:54] lukos opened #37606 ".NET SqlConnection parameters for connection retry section does not have correct/useful link"
In the section for .NET SqlConnection parameters for connection retry, it says to visit https://docs.microsoft.com/dotnet/api/system.data.sqlclient.sqlconnection for more information on the connection retry feature but the link is simply to SqlConnection, which does not mention "retry" or any of the connection string parameters. I suspect the proper link was not found.

This is really important be

[2019-08-22 11:15] AH4 opened #37608 "Incomplete description of "Item"-Element for "LocalizedCollections""
The documentation of the "Item"-Element currently lists two attributes: "Text" and "Value". However, when adding translations for enumerations in a "Restriction"-element of a "ClaimType", the value of the "SelectByDefault"-value will be lost. According to the schema-definition, the "Enumeration"-Element of the ClaimType and the "Item"-element of the LocalizedCollection are of type "EnumerationItem

[2019-08-22 11:22] AjayKumar-MSFT commented on #37601
@tbertenshaw, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-08-22 11:22] RohitMungi-MSFT commented on #37582
@TysonLinger The supported formats for custom model are JPG, PNG, or PDF (text or scanned).
The supported formats for receipt model are JPEG, PNG, BMP, PDF (text or scanned) or TIFF.
The supported formats for both models are documented in our [overview ](https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/overview#custom-model)page of the service.

We will pass the request to

[2019-08-22 11:25] desmondgc opened #37609 "Azure MFA licensing and Conditional Access baseline policies"
I'm confused whether Azure MFA is available for free in combination with the baseline policies described here: https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/concept-baseline-protection

The article states: "Baseline policies are available in all editions of Azure AD." I assume _all editions_ includes Azure AD Free. If I enable the "Require MFA for service management" a

[2019-08-22 11:26] jakaruna-MSFT commented on #37593
@RJK23 Thanks for the feedback. We are investigating and we will update you shortly.

[2019-08-22 11:27] iilyin commented on #35484
The consent still does not work as documented

[2019-08-22 11:29] mrbullwinkle commented on #37409
Thanks @HQJaTu. When they rolled out the new Az commands they tried to automate the process of updating the docs. In most cases it worked. In the case of this doc, it clearly did not. I will get this taken care of this week, thanks for letting us know!

[2019-08-22 11:30] f-vicente opened #37610 ""Applications must run over the synthetic NIC that is exposed in VM." How?"
The documentation says that "Applications binding to the synthetic NIC is a mandatory requirement for all applications taking advantage of Accelerated Networking."

But at application level, you can only "bind" to an IP address and Port, not a NIC.

After enabling "accelerated networking" on my CentOS 7.6 (OpenLogic) machine all that I get is TCP retransmissions. I suppose that is because of this

[2019-08-22 11:38] iilyin opened #37611 "Admin consent still does not work according to documentation"
Here is the link to the original issue.
https://github.com/MicrosoftDocs/azure-docs/issues/35484

The consent feature still seems to be broken.
Steps
1. Log in with User A
2. Open consent url for scope B (B requires admin consent, for example https://graph.microsoft.com/Directory.ReadWrite.All)
3. Log in as Admin, grand permissions
4. Login  User A again using scope B
Expected result: user logs in

[2019-08-22 11:39] juyama opened #37612 "Preview or GA?"
This future seems to be GA at August 21, 2019 as below. Could you please update this page?
https://azure.microsoft.com/en-us/updates/egress-lockdown-in-azure-kubernetes-service-aks-is-now-generally-available/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a38439d0-0125-3445-1c0a-a03b940e315d
* Version Independent ID: c

[2019-08-22 11:43] jakaruna-MSFT commented on #37593
@oanapl  @peterpogorski The link in the document (fabric:/WordCount application) redirects to aka.ms and the points to http://servicefabricsdkstorage.blob.core.windows.net/publicrelease/WordCountV1.sfpkg

That storage account is no longer available.

Do we have that Wordcount app uploaded some where so that we can replace the correct link?

[2019-08-22 11:45] jakaruna-MSFT commented on #37593
Found the package here https://github.com/smartpcr/ServiceFabric/blob/master/WordCount/WordCountV1.sfpkg

But Cant point to some random repo and we are not sure about the integrity of that content

[2019-08-22 11:48] VikasPullagura-MSFT commented on #37604
@qusp66 I tried reproducing the issue, I don't see any error message following the document for creating container group and updating DNS label as below.

Create container group:
`az container create --resource-group test --name mycontainer --image nginx:alpine --dns-name-label myapplication-staging`

Update container group DNS Label:
`az container create --resource-group test --name mycontainer -

[2019-08-22 11:49] jakaruna-MSFT commented on #37593
@msfussell #22998 Similar issue where the same storage account is mentioned

[2019-08-22 11:49] msrini-MSFT commented on #36828
@the-blesss , Do you have any update on this issue?

[2019-08-22 11:50] jakaruna-MSFT commented on #36875
@sauryadas Please provide your comments

[2019-08-22 11:50] jakaruna-MSFT commented on #37305
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-08-22 11:50] #37305 closed

[2019-08-22 12:00] temitopefunmi commented on #37518
I realized that United Kingdom English does not allow for audio+transcription (wondering why though), so I used United States English which allows that. Thank you

[2019-08-22 12:10] ManojReddy-MSFT commented on #37487
@jayanthurs-au AFAIK, there is no direct way to pre-populate the email address in this flow.

[2019-08-22 12:17] ewild opened #37613 "I could not get this to work."
I would refer people trying to get a Logic app to call an Azure Web API to use this tutorial using the Managed Identity.
https://docs.microsoft.com/en-us/azure/logic-apps/create-managed-service-identity
The only GUID you need it the Audience and that is the Client ID from the Active Directory - Authentication / Authorization page shown in this article.

---
#### Document Details

⚠ *Do not edit th

[2019-08-22 12:21] #37540 closed

[2019-08-22 12:22] ManojReddy-MSFT commented on #37609
@desmondgc Baseline policies work for normal users as well. I have the "Require MFA for service management" enabled in my lab and I get prompted for MFA whenever I log in to the Azure portal or Azure Powershell.

This does not work for the AzureAD PowerShell module.

[2019-08-22 12:27] NavtejSaini-MSFT commented on #37232
@ajlam Thanks for the information.
@Eiffelsturm Hope the information has helped. If you don't have any further question, we will go ahead and close this thread.

[2019-08-22 12:28] NavtejSaini-MSFT commented on #36559
@stevestein Do we have a PR number for this change that we can get updates from. Please share.

[2019-08-22 12:30] #37319 closed

[2019-08-22 12:31] j-martens commented on #37511
Thanks for your report. We hope these links help.

#please-close

[2019-08-22 12:31] #37511 closed

[2019-08-22 12:46] vlado101 commented on #37554
Hi BhargaviAnnadevard,

Please find the url below:

https://docs.microsoft.com/en-us/azure/data-factory/tutorial-incremental-copy-portal#trigger-a-pipeline-run

I followed everything until the "Triggering pipeline" section. That is where I got the invalid template error.

Thank you

[2019-08-22 12:47] rossdempster commented on #37506
I've been digging around the source for the "change feed processor" and I think I can answer those questions now!

- The continuation tokens for partition ranges that have split are not valid. But crucially they appear to fail in a specific way. That is: attempting to query the change feed with an invalid continuation token will throw a DocumentClientException with HTTP status "Gone" (410) and two

[2019-08-22 12:48] jakaruna-MSFT commented on #37490
@dcbrown16 I am still reproducing this issue. I will update you once i have some information

[2019-08-22 12:48] test123114 opened #37614 "How to access Azure Data Lake Storage Gen2 with Azure AD"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d29fd9c-d764-3d15-bff3-2d61ec9f757f
* Version Independent ID: 58503de5-d10f-eb43-34f9-6f72a0fa1f9b
* Content: [Overview of access control in Azure Data Lake Storage Gen2](https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-access-c

[2019-08-22 12:53] kgopi05 opened #37615 "VM access to Storage Account"
VM doesn't have internet access , no route to 0.0.0.0 , In this case how the VM connects to Storage account using Service Endpoint ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfd9533e-c174-cd48-0f72-a58457efa958
* Version Independent ID: b7a77b77-61c2-5e89-cb4b-0b9a502fce71
* Content: [Restrict network access to P

[2019-08-22 12:53] pjcarr3 commented on #37535
Yes I did. I was able to successfully change the password but this field will not populate.

[2019-08-22 12:59] Aravindhrk commented on #31528
Hi @KetanChawda-MSFT,

I tried as you mentioned, but it's not working for me, could you please help me?
...
    "properties": {
        "requiresClientAuthorization": true,
        "userMetaData": ["{\"key\":\"endpoint\",\"value\":\"test\"}"]
      }
     }
...

  "error": {
00:54:57 -     "message": "Unexpected character encountered while parsing value: [. Path 'properties.userMetaData', line 1,

[2019-08-22 13:15] #37590 closed

[2019-08-22 13:33] Stoumfou opened #37616 "Trigger only once per month on last day of month"
I have created a task in LogicApps with this trigger :
`"triggers": {
            "Recurrence": {
                "recurrence": {
                    "frequency": "Month",
                    "interval": 1,
                    "schedule": {
                        "minutes": [0],
                        "hours": [22],
                        "monthDays": [-1]
                    },

[2019-08-22 13:37] rudischmitz71 commented on #37431
No need for a follow up. Thanks. If it happens again I will put in a
Support ticket on my Azure account.

On Wed, Aug 21, 2019 at 12:02 PM Frank Hu <notifications@github.com> wrote:

[2019-08-22 13:41] kulbirjandoria opened #37618 "How to manage AD user creation to specific OU based on location or city information from workday?"
I tried to used append expression but it doesn't seem to be the correct way to do it.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd46e8e6-407d-10df-fe66-0df78460f709
* Version Independent ID: 0cfa81ed-97e1-db88-af68-9eead39b36a1
* Content: [Tutorial: Configure Workday for automatic user provisioning with Azure Acti

[2019-08-22 13:44] pniederlag commented on #35315
ping, it would be really awesome to get some precise documentation on the behaviour of the rules-engine. It's a real tedious task to work with try and error while it takes >1 hour to get the  rule updates in place.

[2019-08-22 13:47] Aravindhrk commented on #31528
Hi @KetanChawda-MSFT ,

I managed to resolve the issue, by using variables.
 "hybridMetaData": "[concat('[{\"key\":\"endpoint\",\"value\":\"', parameters('hybridEndpoint'), '\"}]')]"

Thanks

[2019-08-22 13:50] BhargaviAnnadevara-MSFT commented on #37590
@kkinkopf Thank you very much for bringing this to our attention. I've submitted a PR to fix the issue. The change is merged internally and will go-live in the public docs in a couple hours.

[2019-08-22 13:51] abij opened #37619 "Invalid JSON when starting with an array."
I'm trying to send a notification using DataFactory to EventGrid from the page: https://docs.microsoft.com/en-gb/azure/event-grid/post-to-custom-topic.
This need to POST a JSON to an URL with the key in a header-field called aeg-sas-key.
A perfect match for the webhook component!

Body has invalid JSON message appears when wrapping json-object in an array, like this: [{"a":"v1"}, {"b":"v2"}]

My s

[2019-08-22 13:54] Jayesh040 opened #37620 "Can we automate Azure B2C in Azure API Management by Azure Terraform, ARM Template, Powershell or CLI."
We need to authorize developer accounts by using Azure Active Directory B2C in Azure API Management by Azure Terraform, ARM Template, Powershell or CLI.

Atleast we can automate app registration part by any form of scripting like Azure Terraform, ARM Template, Powershell or CLI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-08-22 13:56] heinrich-ulbricht commented on #36139
Since it is not quite clear how to interpret the multiple incarnations of the same answers around "paid features" we could add common scenarios to the documentation and how they are to be handled.

The first two scenarios are already here:

1. https://github.com/MicrosoftDocs/azure-docs/issues/36139#issuecomment-520341313 - is the answer 1, 2, 3, 4 or different?
1. https://github.com/MicrosoftDocs

[2019-08-22 13:58] OffColour opened #37621 "Highly available connections"
Does moving to zone redundant remove the need to configure highly available connections with two IP addresses?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8b1636d-5e05-ff6a-5412-fff24162ee64
* Version Independent ID: 79fea7c8-d22c-d972-3cc0-f2d52e26a695
* Content: [About zone-redundant virtual network gateways in A

[2019-08-22 14:01] glennvanrymenant opened #37622 "The article mentions "Install-MSCloudIdUtilsModule", should be "Install-MSCloudIdUtils""
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a950d6b-db1f-8338-f80a-a3fde54c4b4c
* Version Independent ID: 8256d37f-d6dc-a8bf-6a39-d18419c94ac3
* Content: [Tutorial Get data using the Azure AD Reporting API with certificates](https://docs.microsoft.com/en-us/azure/active-directory/reports-monit

[2019-08-22 14:02] temitopefunmi commented on #28937
I want to use this custom speech and pronunciation platform, but my language (a local language) is not included here. What do i do?

[2019-08-22 14:04] temitopefunmi opened #37623 "Language support"
I want to use this custom speech and pronunciation platform, but my language (a local language) is not included here. What do i do?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4de08d1f-8114-7bef-7ef4-022f79c69742
* Version Independent ID: 4c0ceab9-24ed-de01-db30-31acf1de0f48
* Content: [Language support - Speech Ser

[2019-08-22 14:05] Nicholas-I commented on #37460
@KingdomOfEnds  yes, it is owned by me. I have the role "Global Administrator" and these are the permissions on my Azure AD App (see included picture)
![azure ad](https://user-images.githubusercontent.com/40370623/63521416-604ffe00-c4c4-11e9-867b-b6d040988661.png)

Other things that may be relevant:
- When I added the callback URL for Postman, I put it of type "Web" in the manifest
- Over the last

[2019-08-22 14:09] solita-tvoipio opened #37624 "Checkpointing and consumer groups"
Referring to this paragraph under _Checkpointing_:

The first sentence is a bit unclear on which component does what. What has been submitted, by whom, and to where? This seems to imply that the readers submit (or can submit) their state to the Event Hub; as a consequence, if two readers read the same consumer group without being aware of each other, they could unknowingly miss messages.

If check

[2019-08-22 14:09] dominicbetts commented on #36464
Hi @wickste

I've updated the steps in this How-to article to make it easier to follow and find the source code.
I've also created a PR to update the sample code: https://github.com/Azure/iot-central-firmware/pull/88

The sample updates match all the measurements and device properties defined in the template.

#please-close

[2019-08-22 14:09] #36464 closed

[2019-08-22 14:09] DCtheGeek commented on #36887
@AakashMasand I missed that you included the line you had issues with (starting with $token) in your comment.  I just tried that entire snippet again in [Cloud Shell](https://shell.azure.com) and it works fine.  I deleted my storage and started fresh to make sure it wasn't profile or a configuration and it still works fine.

Are you logging into both Commercial and National Clouds before trying th

[2019-08-22 14:10] #36887 closed

[2019-08-22 14:11] DCtheGeek commented on #36887
@MicrosoftDocs/azure-cxp-triage Please remove the 'doc-bug' label and update with 'product-question.  Thanks!

[2019-08-22 14:11] BhargaviAnnadevara-MSFT commented on #37554
@vlado101 Thank you for the response! I've routed this to the appropriate Team to investigate and update.

[2019-08-22 14:19] j82w opened #37625 "CosmosClient throws on 404 Not Found"
The CosmosClient throws on 404 not found. The following needs to be converted to a try catch.

if (response.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                return null;
            }

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8d9b842-de22-59e7-e36a-662e2060ae7a
* Version Independent

[2019-08-22 14:23] hisasima commented on #37602
I understand you but I think some people can not understand what is vpngateways. Because there are both virtualnetworkgateway and vpngateways in this document. Can you revise this word ?
E.g vpngateways (virtualwan), vpnsite (virtualwan)

[2019-08-22 14:36] Paul92S commented on #19698
Having executed an embedded notebook via dbutils.notebook.run(), is there a way to return an output from the child notebook to the parent notebook. As the ephemeral notebook job output is unreachable by Data factory.

[2019-08-22 14:40] samhodgkinson commented on #19055
Any update to confirm if key vault can be used across subscriptions. I'm seeing a similar issue when using key vault for disk encryption.

[2019-08-22 14:41] #37573 closed

[2019-08-22 14:47] slavizh commented on #35819
@kastromatos true but even even the security alert which is one of the worst as you cannot predict what data will be available it has properties that are available in all alerts.

[2019-08-22 14:49] TechWatching opened #37627 "Should the KeyVault references be preferred over retrieving azure secrets from configuration"
Microsoft.Extensions.Configuration.AzureKeyVault allows to directly inject the keyvault secrets from configuration using a line of code in .NET Core.
In .NET Framework, it is also possible using AzureKeyVault configuration builder.

With KeyVault references, we have now another way of doing this. What is the best way to retrieve secrets ? Should KeyVault references be the first option to consider

[2019-08-22 15:00] EMCjvang opened #37628 "Step 1 - Disable or Enable GPO?"
This step says to disable the GPO -- you guys mean to say "Enable" the GPO, right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 623a03a6-0197-c346-7a88-beee7caf628c
* Version Independent ID: 33c236b5-0eff-1adf-bba8-cf9d459a3201
* Content: [Azure AD Connect: Hybrid Azure AD join post configuration tasks](https://docs.

[2019-08-22 15:10] #37603 closed

[2019-08-22 15:13] msrini-MSFT commented on #37621
@OffColour , When you choose Zone redundant, Azure will place the VPN gateway instances in different Availability Zones. That will give you more resilience that the non-Zonal deployments.

But you are speaking about Active - Active gateway, where each instances will have separate IPs and form different tunnels to On-Premises. It is different from Zone redundancy as you are speaking about two tunne

[2019-08-22 15:17] msrini-MSFT commented on #37615
@kgopi05 , You don't need a public IP assigned to a VM to reach Storage account via Service endpoint. When you enable Service endpoint to a subnet where your VNET resides, the communication between the VM and the Storage account will be private, not public.

So you can still access the storage account even if you don't have a public IP to your VM.

Let me know if you have any further questions.

[2019-08-22 15:20] stevestein commented on #36559
@NavtejSaini-MSFT
Resolved in this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/86250
Related public PR: https://github.com/MicrosoftDocs/azure-docs/pull/36584

[2019-08-22 15:20] msrini-MSFT commented on #37602
@hisasima , thank you for your feedback. I will pass on your feedback.

@tfitzmac can you update the doc to avoid any further confusion?

[2019-08-22 15:20] #37602 closed

[2019-08-22 15:20] mscherotter opened #37629 "Create a skillset and knowledge store step #5 missing context."
In the Create a skillset and knowledge store section, step #5, the text references the Shaper skillls on line 85 and 179.  The skills and lines referred to do not exist in any of the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebfca41a-9842-5c60-672a-307ccb8bef6a
* Version Independent ID: 803b4775-cb0

[2019-08-22 15:22] leonmeijer opened #37630 "Are files stored in the SQL database or file system?"
"The storage emulator uses a local Microsoft SQL Server instance and the local file system to emulate Azure storage services".

Are files stored in the SQL database, file system or is it using FILESTREAM?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bd49c9b-995f-cc7e-77d7-74f21f1249f7
* Version Independent ID: 1c2ce

[2019-08-22 15:23] kgopi05 commented on #37615
Hi, Yes ,i understood thats the logic ,  but how VM resolves to the Storage account name and does my route table need any entry  ?.. currently my vm is locked down and communicates within same vnet only .

[2019-08-22 15:34] markjbrown commented on #37394
Submitted a PR #86252 to fix. Will go live on next Push.

Thanks for reporting.

#please-close

[2019-08-22 15:34] #37394 closed

[2019-08-22 15:39] georgewallace commented on #24196
I have confirmed the images have been merged and updated. #please-close

[2019-08-22 15:39] #24196 closed

[2019-08-22 15:43] RyanHill-MSFT commented on #37328
@jorgecarleitao The diagnostic logging is for Azure PaaS offering. Meaning if you deploy your code, this diagnostics logging will pick up that logging you have in your app code once you've configured Diagnostics Log. Using a custom docker image deployed to a web app (e.g. https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-windows-container), things are different.

You'l

[2019-08-22 15:49] PramodValavala-MSFT commented on #37280
@flyingUnderTheRadar Just following up here... I hope my previous comment clears things up

[2019-08-22 15:50] basilwong opened #37631 "Max Metadata Size"
In the article it is mentioned that the "the maximum supported metadata size is up to 1MB". Are there any options if we are expecting larger files?

Note: Or is it talking about the size of the metadata itself and not the file, this should be clarified.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e4997d4-36fd-4f1c-

[2019-08-22 15:52] msrini-MSFT commented on #37615
@kgopi05 , when the dns resolution happens to that Storage account's IP, then platforms will take care of routing the traffic to Storage account. You don't need to add any route table entry to get it to work.

[2019-08-22 15:56] baskarmib opened #37632 "Will there be a updated version with implementation details for .Net Core"
The current document only provides guidance for .Net Framework implementation. Can the documentation be updated for .Net Core 2.2 and above.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2449e264-13a7-ecc0-7400-b6d6bed1b029
* Version Independent ID: bcd3da61-efe6-4ef5-1c79-4fa78cdf473d
* Content: [Get started with Azu

[2019-08-22 15:56] DCtheGeek commented on #34728
@ioamnesia I'm updating this right now to add the PowerShell version of the example.  Once it's done and merged, this issue will automatically close.  Thanks for the feedback!

@MicrosoftDocs/azure-cxp-triage #in-progress

[2019-08-22 15:58] taromielnaz opened #37633 "Monitor on-premises"
Hello,
Is it possible to monitor the connection between our Azure VM and A VM outside Azure? They both have intenet IP? I mean something like "ping" if it failed we receive a notification.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bf662d1-53fb-f651-ee67-6e174836d739
* Version Independent ID: 67782b9a-1dd5-

[2019-08-22 15:58] tfitzmac commented on #37602
Sure, I can look at adding those qualifiers.

[2019-08-22 15:59] SalmaMamdouhSalem commented on #8546
Please I wanna to ask about an error appeared for me when i write dotnet --version command on the Line Command window this error is appeared that "Did you mean to run dotnet SDK commands? Please install dotnet SDK from: http://go.microsoft.com/fwlink/?LinkID=798306&clcid=0x409"

- I couldn't understand why this error is appeared However, I already installed the Prerequisites which are mentioned ab

[2019-08-22 16:02] MicahMcKittrick-MSFT commented on #37612
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-22 16:07] DavidVCooper opened #37634 "Redgate: Azure Explorer not available"
Unfortunately Redgate's product is no longer available

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08d5d605-63a1-1388-59b9-2ec6d5b40766
* Version Independent ID: 11230eca-a134-fa35-63d8-7b195f0ca37a
* Content: [Tools for working with Azure Storage](https://docs.microsoft.com/en-us/azure/storage/common/storage-explor

[2019-08-22 16:09] #34728 closed

[2019-08-22 16:10] JonShelley commented on #37479
This is what I see when I try to do it from my batch account configured to use the user subscription.

<img width="1382" alt="Screen Shot 2019-08-21 at 8 36 49 AM" src="https://user-images.githubusercontent.com/4998560/63531047-e8360800-c4c4-11e9-9000-3acc96bed6ab.png">

[2019-08-22 16:11] YutongTie-MSFT commented on #31417
@krishorrocks Hi, this has not been decided. Product group will put a notice after deciding it. Sorry for all inconveniences.

[2019-08-22 16:12] msrini-MSFT commented on #37633
@taromielnaz , Yes, you can. All you need to do is to switch the destination field to "Specify manually" and provide the IP address or URL.

Let me know if you have any further questions.

[2019-08-22 16:21] MicahMcKittrick-MSFT commented on #37154
@andradf any update on this?

[2019-08-22 16:21] MicahMcKittrick-MSFT commented on #37225
@javaadpatel any update on this?

[2019-08-22 16:27] MicahMcKittrick-MSFT commented on #37430
@porrascarlos802018 any update on this?

[2019-08-22 16:27] georgewallace commented on #15010
@trevorlittle Apologize for the delay, looking at this issue the article was completely re-written later in 2018.  I am going to request this issue to be closed. If after reviewing the updated content you find additional issues or have questions please do not hesitate to reach out. #please-close

[2019-08-22 16:27] #15010 closed

[2019-08-22 16:27] MicahMcKittrick-MSFT commented on #37456
@porrascarlos802018 any update on this?

[2019-08-22 16:28] MicahMcKittrick-MSFT commented on #37612
@mlearned can you take a look at this? Seems the feature is now GA. If we just need to remove any mention of preview in this doc I am happy to make those changes. But not sure if anything else needs to change now that the feature is in GA

[2019-08-22 16:40] jungarik commented on #23037
Hi guys! Could someone please share tool version with fourth option for Date, we've faced with the same issue. Thanks

[2019-08-22 16:42] jameshkramer commented on #8461
@athinanthny, Updated you to be the assignee for this issue because you are listed as the current document owner in the article metadata. Could you please work to address the feedback and close the issue? [See these instructions](https://review.docs.microsoft.com/en-us/help/contribute/contribute-customer-feedback-azure-authors-process?branch=master#process-for-article-authors).

[2019-08-22 16:46] ctimon commented on #20344
This issue still exists.  Is there any fix in sight?  Soon?

[2019-08-22 16:49] YutongTie-MSFT commented on #37623
@temitopefunmi
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-22 16:50] Alberto-Vega-MSFT commented on #37433
@Kressilac If after going over troubleshooting guide things do not work. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the one time free support ticket opened for this issue.

[2019-08-22 16:50] #37433 closed

[2019-08-22 16:52] v-thepet commented on #25427
@sethmanheim - Updated you to be the assignee for this issue because you are listed as the current document owner in the article metadata. Could you please work to address the feedback and close the issue? [See these instructions](https://review.docs.microsoft.com/en-us/help/contribute/contribute-customer-feedback-azure-authors-process?branch=master#process-for-article-authors). Thanks.

[2019-08-22 16:52] sethmanheim commented on #25427
@v-thepet I don't work on Event Hubs anymore.

[2019-08-22 16:54] rolyon commented on #37142
Hi @garrylean
I checked with someone in the activity log area. There doesn't appear to be a friendly description for log events. Also, he didn't think there is a PowerShell or CLI command to list all possible activity log events.

[2019-08-22 16:55] v-thepet commented on #25427
@sethmanheim - Ok... I'm working on User Story https://mseng.visualstudio.com/TechnicalContent/_queries/edit/1585612/?triage=true which states: "Check the currently published version of the article to see who the current author is - we just completed metadata scrubs and **all author metadata is current now** and for a person who actually works here. After you have identified the current author, go

[2019-08-22 16:55] Alberto-Vega-MSFT commented on #37591
Hi @gearsmotion789 It seems like you were able to resolve your issue. If you have any feedback about the document you were following please feel free to reach out.

[2019-08-22 16:55] aholler2 opened #37635 "Geo-Replication Requires VNET or not?"
It is unclear according to this documentation whether or not the primary and secondary caches need to be inside of VNET's for geo-replication to be configured? Can geo-replication be configured if my caches are not inside of VNET's?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea7346b7-fb44-1403-13a0-673aa8636d4a
* V

[2019-08-22 16:56] Grace-MacJones-MSFT commented on #37627
Hi @TechWatching, thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2019-08-22 16:57] Grace-MacJones-MSFT commented on #37629
Hi @mscherotter , thanks for your feedback! We will review and update this doc accordingly.

[2019-08-22 16:57] #22012 closed

[2019-08-22 16:57] sethmanheim commented on #25427
@v-thepet You should probably reassign it to @ShubhaVijayasarathy (PM), or @spelluru (current writer for Event Hubs). It looks like the metadata for the REST API reference hasn't been updated.

[2019-08-22 16:57] thenralmani opened #37636 "Add unique key using portal"
I'm trying to add unique keys thru the portal but it doesn't show the options.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f928ddcf-4a56-4e7b-4ac4-bc897975dbef
* Version Independent ID: 4854ec57-dd3f-f894-10c2-b1ce5ea21fa1
* Content: [Define unique keys for an Azure Cosmos container](https://docs.microsoft.com/en-us

[2019-08-22 16:58] v-thepet commented on #25427
@sethmanheim OK. It's been assigned to both of those people in the past but I can try again. Thanks.

[2019-08-22 16:59] NavtejSaini-MSFT commented on #36559
@masashioms The Document has been updated. We are going ahead and closing this thread.

[2019-08-22 16:59] #36559 closed

[2019-08-22 17:00] aholler2 commented on #37635
The only sample ARM template provided puts the caches in VNETs.

[2019-08-22 17:01] NavtejSaini-MSFT commented on #36558
@stevestein Do we have an update on the internal work item.

[2019-08-22 17:02] v-thepet commented on #25427
@spelluru @ShubhaVijayasarathy - Updated you to be the assignees for this issue at @sethmanheim suggestion as article metadata is inaccurate. Could you please work to address the feedback and close the issue? [See these instructions](https://review.docs.microsoft.com/en-us/help/contribute/contribute-customer-feedback-azure-authors-process?branch=master#process-for-article-authors). Thanks.

[2019-08-22 17:02] MarileeTurscak-MSFT commented on #37622
@glennvanrymenant
Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-22 17:03] MarileeTurscak-MSFT commented on #37628
@EMCjvang
Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-22 17:07] Alberto-Vega-MSFT commented on #8546
Hi @SalmaMamdouhSalem would you please open a new issue by clicking on the provide feedback button at the bottom of this tutorial.

[2019-08-22 17:09] KranthiPakala-MSFT commented on #37619
@abij Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2019-08-22 17:09] FrankHu-MSFT commented on #37516
@temabu I'm following up on this issue, can you please respond in regards to the previous replies on this thread? Thanks

[2019-08-22 17:09] #37434 closed

[2019-08-22 17:09] #37431 closed

[2019-08-22 17:09] FrankHu-MSFT commented on #37431
@rudischmitz71 Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-22 17:10] #37414 closed

[2019-08-22 17:10] MarileeTurscak-MSFT commented on #37622
@glennvanrymenant

For using "Install-MSCloudIdUtilsModule" as mentioned in the Prerequisites section you have to go through the URL [PowerShellGallery - MSCloudIdUtils](https://www.powershellgallery.com/packages/MSCloudIdUtils/) and on that document you have to follow the steps of Saving the Module on your local drive and installing it.

I am closing the issue based on the update. Please let us k

[2019-08-22 17:10] #37622 closed

[2019-08-22 17:10] FrankHu-MSFT commented on #37339
@ncheymol Please let us know if there are anymore questions within the scope of this git issue.
As this issue has been resolved and there is currently a push being pushed out today I will be closing out this issue. Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-22 17:10] #37337 closed

[2019-08-22 17:10] #37199 closed

[2019-08-22 17:11] #32583 closed

[2019-08-22 17:11] #33264 closed

[2019-08-22 17:12] FrankHu-MSFT commented on #37008
hey @Tiberriver256  thanks again for that information. I was just following up on this. Currently we're still looking into this issue and will get back to you as soon as possible once we have a response. Thanks and stay tuned!

[2019-08-22 17:13] ThomasWeiss commented on #37636
@thenralmani Which Cosmos DB API are you using?

[2019-08-22 17:14] KranthiPakala-MSFT commented on #37624
@solita-tvoipio Thanks for the feedback! We have assigned the issue to the content author to investigate this and provide an update as appropriate.

[2019-08-22 17:14] KranthiPakala-MSFT commented on #37624
@ShubhaVijayasarathy Could you please have a look at this? - Thanks!

[2019-08-22 17:17] KranthiPakala-MSFT commented on #37631
@basilwong Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2019-08-22 17:19] djpmsft commented on #35383
This is now documented under https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment#hot-fix-production-branch. Closing issue

#please-close

[2019-08-22 17:19] #35383 closed

[2019-08-22 17:23] NavtejSaini-MSFT commented on #37077
@pmcilreavy Please find the additional information regarding Web App and VNet integration.
https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet

Azure SQL DB(PaaS) is currently going to publish with a public IP. Adding a Vnet to a Azure SQL DB does not give it any private service endpoint. There is a feature request to allow adding a Vnet that will provide a private IP

[2019-08-22 17:24] msaburnley commented on #37515
Hey @callmebymyname if you don't have any further questions, I am going to close this GitHub issue. Please let me know if you have any other questions pertaining this issue. Thanks!

[2019-08-22 17:28] andremarques023 commented on #23090
I'm facing the same issue. Any ETA on this?

[2019-08-22 17:29] yasufs commented on #37571
Ok, so if I first create the service principal using `az ad sp create-for-rbac`, then that returns the password. I can later give the SP additional roles using `az role assignment create`, and I just use the original password to log into the ACR.
What if the service principal was created using the web UI using the Azure Active Directory > App registrations blade? Do I have to then use `az ad sp cr

[2019-08-22 17:33] thenralmani commented on #37636
We are using mongo db

[2019-08-22 17:33] cynthn commented on #20344
@ctimon Do you know how the original VM was created? Was it created by attaching an existing VHD to a VM?

@MicahMcKittrick-MSFT This sounds suspiciously like the other issues we have seen where the initial VM was created in a way where it is missing the pieces of information that are in the VM configuration. Do you happen to remember those issues so we can trace who responded to those?

[2019-08-22 17:34] RyanHill-MSFT commented on #37601
@tbertenshaw unfortunately no. The limitation around this has to deal with the fact that Premium_V2 isn't deployed to all scale units. You can try [moving](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-move-resources#app-service-limitations) your services to a new resource group but that doesn't necessarily guarantee the new resource group will have the services in s

[2019-08-22 17:34] BryanTrach-MSFT commented on #37281
@MLopesSousa I have assigned the issue to the content author to investigate further and update the document as appropriate.

@cephalin I looked into the issue but I don't feel comfortable with updating the sample code. Is this something you can review and update as necessary?

[2019-08-22 17:35] msrini-MSFT commented on #37484
@JeetJoe , Any update on this issue?

[2019-08-22 17:37] stevestein commented on #36558
The product team is working on getting accurate Gen4 info. We have no eta for getting this so we'll continue to track with the internal work item as opposed to within this issue.

Thanks!

#please-close

[2019-08-22 17:37] #36558 closed

[2019-08-22 17:40] KranthiPakala-MSFT commented on #37424
@abhirockzz We will now proceed to close this thread. If there are further questions regarding this matter, please tag me or @PramodValavala-MSFT  in your reply and reopen the issue. We will gladly continue the discussion.

[2019-08-22 17:40] #37424 closed

[2019-08-22 17:41] MicahMcKittrick-MSFT commented on #20344
@cynthn I do remember those but have no idea where the issues are at this point. I will check my emails and see if I can track it down.

[2019-08-22 17:43] ctimon commented on #20344
Inline….

From: Cynthia Nottingham <notifications@github.com>
Sent: Thursday, August 22, 2019 1:34 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Chuck Timon <ctimon@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] storage error halts VM creation (#20344)

@ctimon<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgith

[2019-08-22 17:44] FrankHu-MSFT commented on #37618
@kulbirjandoria Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-22 17:44] FrankHu-MSFT commented on #37608
@AH4 Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-22 17:44] FrankHu-MSFT commented on #37611
@iilyin Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-22 17:46] SaurabhSharma-MSFT commented on #37352
@oniled We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-08-22 17:46] #37352 closed

[2019-08-22 17:52] spelluru commented on #33395
@SeanFeldman - I have added a note in the second section of the article. Please review and let me know if it looks good. Thanks.

[2019-08-22 17:52] spelluru commented on #33395
@SeanFeldman - I have added a note in the second section of the article. Please review and let me know if it looks good. Thanks.

[2019-08-22 17:54] mjcarrabine commented on #36343
Since my 1 August attempt at a solution didn't work, this is the best I could come up with.

Instead of changing the `-Name` parameter, this function retrieves the existing policy, removes any existing policies for the VM we are adding a policy for, adds the new policy, and submits the full updated policy to `Set-AzJitNetworkAccessPolicy`. It would be great if there were a better way.

Given that

[2019-08-22 17:54] FrankHu-MSFT commented on #37611
Hello @iilyin

So it sounds like you're having issues with the tenant admin consent URL. You are utilizing the admin consent URL and it's not granting consent for user X in Tenant A with Admin Y who is also in Tenant A?
Can you please provide the admin consent URL endpoint you're using and a screenshot of the Consent page?

From the docs in regards to how the admin consent should work:
From the pa

[2019-08-22 17:58] docgregt commented on #23037
I tried to send the file but it is too big. Let me know where I can drop it.

Gregory Turner
Chief Architect
________________________________________
i4 Insight, Inc.

cell: +1.720.335.1744
greg.turner@i4-insight.com<mailto:greg.turner@i4-insight.com>

A member of the Lloyd’s Register Group

From: jungarik <notifications@github.com>
Sent: Thursday, August 22, 2019 10:41 AM
To: MicrosoftDocs/azure-

[2019-08-22 17:59] docgregt commented on #23037
Also, I dont know why MS doesn't publish the fixed version. This is a major bug in the old version.

[2019-08-22 18:00] NavtejSaini-MSFT commented on #37635
@aholler2 We are looking into this and will get back to you.

[2019-08-22 18:00] normesta commented on #37333
@fhryo-msft Are you familiar with this dimension ("AuthenticationError")? It appears to be missing from the list of dimensions for the "ResponseType" filter. I can't seem to find documentation anywhere else about the ResponseType dimension values.

[2019-08-22 18:01] markpsullivan opened #37638 "The formulas are wrong in 2.5 for Cost Estimations tab Column U and R"
Column U =IF(Data!$B$73=0,IF(E40="Standard",F40*B40*VLOOKUP(J40,Prices!$G$21:$H$23,2,FALSE),F40*B40*Prices!$H$17), R40*365 /(G40*H40))

has part of what should be in Column R I believe. This is throwing the Final amounts off by a tremendous amount and making the tool useless.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-08-22 18:01] NavtejSaini-MSFT commented on #37636
@thenralmani We are looking into this and will get back to you.

[2019-08-22 18:03] mazer-rakham opened #37639 "Your nodejs connection string is wrong, it is throwing errors and will not compile."
var conn = mysql.createConnection({host: {nope}, user: {me}, password: {your_password}, database: {your_database}, port: 3306, ssl:{ca:fs.readFileSync({ca-cert filename})}});

and
var conn = mysql.createConnection({host: {nope}, user:{me}, password: {your_password}, database: {your_database}, port: 3306[, ssl:{ca:fs.readFileSync({ca-cert filename})}}]);

---
#### Document Details

⚠ *Do not edit t

[2019-08-22 18:08] mazer-rakham commented on #37639
Probably should be:
ssl:{ca:fs.readFileSync({"ca-cert": filename})}
no?

[2019-08-22 18:10] MarileeTurscak-MSFT commented on #37562
@mramnet thanks for pointing this out!

I am assigning this to @rwike77 to add the references.

[2019-08-22 18:16] iainfoulds commented on #18906
Thanks for passing this on, @LisandroSu, and sorry for the delay.

We're actively working on updating all the Linux domain-join VM docs to try and standardize on an approach for the different distros. These update are tentatively scheduled to go live in September. I'll review the need for this additional configuration as part of those updates.

For now, #please-close

[2019-08-22 18:16] #18906 closed

[2019-08-22 18:17] Mike-Ubezzi-MSFT commented on #23037
I am showing `dt1.8.3.zip` as the current version available as the precompiled download option. I am showing `version 1.8.2` in the [repository](https://github.com/azure/azure-documentdb-datamigrationtool). @docgregt Which version do you have? Thanks....

[2019-08-22 18:18] rwike77 commented on #37562
@mramnet  Looking through the file history, the notes for 2 and 3 were deleted because they were incorrect.  The numbering in the table was never updated, however, so it does appear like 2 and 3 are missing.  I'll update the numbering in the table, thanks for pointing this out.

[2019-08-22 18:19] anavinahar commented on #35563
ICMP is GA: https://azure.microsoft.com/en-us/updates/network-security-group-improvements-now-available/

[2019-08-22 18:20] Grace-MacJones-MSFT commented on #37629
@HeidiSteen can you please clarify what repo the skills and lines are referring to? thanks!

[2019-08-22 18:23] mhopkins-msft commented on #37632
Hi @baskarmib

Check out this queues tutorial to see how to create a .NET Core app that uses queues.

https://docs.microsoft.com/azure/storage/queues/storage-tutorial-queues

 ~ _Mark_

#please-close

[2019-08-22 18:23] #37632 closed

[2019-08-22 18:23] RyanHill-MSFT commented on #37274
@kkagill did switching to a thumbprint help resolve your issue?

[2019-08-22 18:24] mscherotter commented on #37629
On this page section
Step 5
https://docs.microsoft.com/en-us/azure/search/knowledge-store-howto#create-a-skillset-and-knowledge-store

“Expand the skills collection, in particular the Shaper skills on lines 85 and 179, respectively. The Shaper skill is important because it assembles the data structures you want for knowledge mining. During skillset execution, these structures are in-memory only, b

[2019-08-22 18:27] KranthiPakala-MSFT commented on #37380
@maquadri We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

If the publish branch is out of sync with the master branch and contains out-of-date resources despite a recent publish, please refer to: [Troubleshooting Git integrati

[2019-08-22 18:27] #37380 closed

[2019-08-22 18:28] Mike-Ubezzi-MSFT commented on #37625
@j82w Thank you for bringing this to our attention. We are evaluating this and will likely publish an update to the document per your suggestion. We greatly appreciate taking the time to point this out.

[2019-08-22 18:28] NavtejSaini-MSFT commented on #37636
@thenralmani We are assigning it to author to further check this.

@ThomasWeiss We tried creating the Collection for Mongo DB API and Container for SQL API. We are getting option to create the Unique key for SQL one but not the Mongo one. Please check and correct document if needed.
![MongoDB](https://user-images.githubusercontent.com/52257742/63539902-14fc1680-c4e9-11e9-89c4-6e746a0321fc.JPG)
![S

[2019-08-22 18:34] rwike77 commented on #37562
@mramnet The updates just merged and should publish live later today.  Thanks again for pointing this out.  #please-close

[2019-08-22 18:34] #37562 closed

[2019-08-22 18:38] rajaschava opened #37640 "Is it possible to know whether the SoftwareUpdateConfigurationRunContext is from Pre/Post script"
It would be nice to know whether the context is from the Pre or Post script call. Because I want to start the VM's listed in this context(azureVirtualMachines) as part of my Pre script invocation and stop them if it is for Post script.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 443146ec-fc40-657f-69fc-55c3b8ce3c8f

[2019-08-22 18:40] MaxHogervorst commented on #29306
@PramodValavala-MSFT Any updates on this?

[2019-08-22 18:44] KingdomOfEnds commented on #37460
@Nicholas-I - Thanks! The "Web" entry does need to be modified to "Public client (mobile & desktop)" otherwise you'll receive an error. I updated the images to reflect this change previously:

![aad](https://user-images.githubusercontent.com/43044425/63540732-7e702b00-c4d1-11e9-81d8-a3a96da4a433.png)

If you make that change are you able to get a response? Thanks again!

[2019-08-22 18:45] MicrosoftGuyJFlo commented on #37349
@derekharkin I think what is missing is the following paragraph from the [removed article](https://github.com/MicrosoftDocs/azure-docs/blob/9df2cdf6917afbcb7e328fe94b9619d1edf9a56b/articles/active-directory/conditional-access/conditional-access-for-exo-and-spo.md)

"Some cloud apps also support legacy authentication protocols. This applies, for example, to SharePoint Online and Exchange Online. Wh

[2019-08-22 18:48] mike-urnun-msft commented on #37613
Hi @ewild - Thanks for sharing your insight! Surely, it'll benefit others visiting this thread.

Since there aren't any further changes to be made on this doc based on your feedback, we will keep this issue closed for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-08-22 18:48] #37613 closed

[2019-08-22 18:52] HeidiSteen commented on #37629
Yes, I'm not sure what happened here -- currently investigating and will circle back this afternoon.

[2019-08-22 19:00] v-thepet commented on #29468
@MladjoA - Updated you to be the assignee for this issue because you are listed as the current document owner in the article metadata. Could you please work to address the feedback and close the issue? [See these instructions](https://review.docs.microsoft.com/en-us/help/contribute/contribute-customer-feedback-azure-authors-process?branch=master#process-for-article-authors).
@KalyanChanumolu-MSFT

[2019-08-22 19:00] KranthiPakala-MSFT commented on #37520
@choco-oppah Our preview supported adding Event Hubs data access privileges to Owner or Contributor role. However, data access privileges for Owner and Contributor role are no longer honored. If you are using the Owner or Contributor role, switch to using the Azure Event Hubs Data Owner role.

We will now proceed to close this thread. If there are further questions regarding this matter, please ta

[2019-08-22 19:00] #37520 closed

[2019-08-22 19:01] SnehaGunda commented on #37258
@rlauriston Sent you an email for more context.

@kanshiG  FYI

[2019-08-22 19:01] DCtheGeek commented on #36785
@dancs85 Thanks for the feedback.  If you get additional details to provide on this, we can continue looking into it with the team.  For now, we are going to close it since it doesn't appear to be an issue with the doc.  Thanks again!

@MicrosoftDocs/azure-cxp-triage #please-close, remove label 'doc-bug', and add label 'product-question'

[2019-08-22 19:01] #36785 closed

[2019-08-22 19:04] RyanHill-MSFT commented on #37596
Thanks for the feedback @philburns-72! We are currently investigating and will update you shortly.

[2019-08-22 19:05] CeciAc opened #37643 "Explain what disk size is quals what storage type"
@Lycrosa commented on [Thu Aug 22 2019](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/518)

It would be really helpfull to have a small list that explains what storage is equal to standard ssd, premium ssd and standard hdd

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: 7b67bc

[2019-08-22 19:05] mkeeshamilton opened #37644 "Module manifest needs modification."
The documentation should include details on  modifying  the manifest file so that Azure automation will import a custom DSC module without error.  The RootModule path needs to look like this:  RootModule = 'DSCResources\resourceName\resourceName.psm1'.   A normal RootModule path looks like this:  RootModule = 'C:\Program Files\WindowsPowerShell\Modules\resourceName\DSCResources\resourceName\resour

[2019-08-22 19:06] CeciAc commented on #37643
Hi team,
I moved this here because the contributor asks for aditional documentation
best regards

[2019-08-22 19:09] KranthiPakala-MSFT commented on #37619
@abij Thanks again for the feedback. Please consider sharing your suggestion in below Azure Data Factory user voice forum. All the feedback shared in this forum are monitored and reviewed by Azure Data Factory Product engineering team.

[https://feedback.azure.com/forums/270578-data-factory](https://feedback.azure.com/forums/270578-data-factory)

We will now proceed to close this thread. If there

[2019-08-22 19:09] #37619 closed

[2019-08-22 19:12] KranthiPakala-MSFT commented on #37631
@basilwong Yes, you are correct, it is talking about the size of metadata itself and not the file size.

[2019-08-22 19:13] Nicholas-I commented on #37460
@KingdomOfEnds  I made the change and saved, then got a new token (which, as usual, is identical to the other tokens I have recieved). I still get a 401 unauthorized error.
If you no longer have any suggestions, all I can think of is that there is still some network setting on my work computer that I am missing.

[2019-08-22 19:19] yeswps commented on #32319
@anirudhcavale
My server is in Canada Central, has the UX been rolled out to this region yet? I have enabled MSI for the VM, but Send Diagnostics to Azure Monitor is still grayed out.
![image](https://user-images.githubusercontent.com/29582257/63543180-34e30880-c4f0-11e9-986e-704b32ce3c99.png)

[2019-08-22 19:25] Karishma-Tiwari-MSFT commented on #37643
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-22 19:43] MicrosoftGuyJFlo commented on #37349
#please-close

[2019-08-22 19:43] #37349 closed

[2019-08-22 19:44] ChackDan commented on #37592
We are basically waiting for the announcement of the evolved mesh app model (code make hydra) at the next large Microsoft conference, that will be the next step for the SF mesh preview. I talk about this in a more recent video (https://lnkd.in/ezmAKGE)<https://lnkd.in/ezmAKGE>.

[2019-08-22 19:57] SnehaGunda commented on #36970
@lukeb1961 Because we are already tracking this issue in the SDK repo, we will close this issue here. Our dev team can better address and track it in the SDK repo.

#please-close

[2019-08-22 19:57] #36970 closed

[2019-08-22 19:59] NavtejSaini-MSFT commented on #37635
@aholler2 We are assigning this to our author for further information.

@yegu-ms The user is trying to find if it is possible to create geo replication for the premium Azure Cache for Redis without them being in the VNET.

[2019-08-22 20:00] ChackDan commented on #37592
We are basically waiting for the announcement of the evolved mesh app model (code make hydra) at the next large Microsoft conference, that will be the next step for the SF mesh preview. I talk about this in a more recent video https://lnkd.in/ezmAKGE.

[2019-08-22 20:00] tomkodet opened #37645 "Encrypted VMs (Windows) False Positive Alerts on BEK Logical Disk"
Hello,

There is a false positive alert being triggered consistently after enabled disk encryption on the VM (Windows OS). The Health shows as Critical with "Logical Disk Free Space (MB)". There is no option to change the values for just that Logical Disk. When altering the Threshold, it changes the Threshold values for All Logical Disks rather than just the BEK Volume/Disk. Please help with a res

[2019-08-22 20:03] SnehaGunda commented on #37263
@rlauriston thanks for the links, our docs are scoped to show how to use the Striim Azure marketplace image to migrate the data. We don't want to cover all the configuration details because they are captured in your docs.

[2019-08-22 20:05] Adam-Smith-MSFT commented on #37630
@leonmeijer It seems it uses file system , this previous [SO post](https://stackoverflow.com/questions/23671111/azure-storage-emulator-store-data-on-specific-path), provides the path where the files are stored: within the config file, found in this path: `C:\Users\{Your Current User Name}\AppData\Local\AzureStorageEmulator`
Let me know if this helps.

[2019-08-22 20:10] FrankHu-MSFT commented on #37535
Hey @pjcarr3

If you're still having an issue here, please email AzCommunity[at]microsoft[dot]com and I can enable a one time free support ticket. Please provide your Azure Subscription GUID and a reference to this thread. And hopefully we can get you on the right path again soon. 

Please see : https://blogs.msdn.microsoft.com/mschray/2016/03/18/getting-your-azure-subscription-guid-new-portal/

O

[2019-08-22 20:10] SnehaGunda commented on #37447
@pettys yes the ToString() is used to convert the JSON object to string format, it's not mandatory to use. We have it for better readability in the output.

I don't necessarily see any doc update per this issue. So we will close it if there aren't further questions.

[2019-08-22 20:11] Adam-Smith-MSFT commented on #37634
@DavidVCooper Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-22 20:11] FrankHu-MSFT commented on #36915
Hey @mwtallman  I was just wanting to follow up in regards to this. Unfortunately we're currently still looking into this issue. Thanks again for the feedback, and will get back to you as soon as possible in regards to this issue.

[2019-08-22 20:11] FrankHu-MSFT commented on #36379
Hey @rahulraj40  I'm following up on this issue, currenlty we're still looking into this issue. Sorry for the wait, we'll get back to you as soon as possible once we have an answer in regards to this.

[2019-08-22 20:15] chmill-zz opened #37646 "1.13.7 not supported anymore"
can we remove this version as a reference from the example in the beginning of the doc. it was removed due to - https://github.com/kubernetes/kubernetes/issues/80983

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec484163-5d73-af3a-3d7b-9e0d421d2824
* Version Independent ID: 42da7aed-a33d-e331-fb7f-4fb4b40e5813
* Conte

[2019-08-22 20:23] KingdomOfEnds commented on #37460
@Nicholas-I - I am unable to duplicate that error despite trying a number of AAD settings. I've reached out to the Engineering team to see if there's something else amiss here. Thanks.

[2019-08-22 20:32] v-thepet commented on #31413
@SyntaxC4 - Updated you to be the assignee for this issue. Could you please work to address the feedback and close the issue? [See these instructions](https://review.docs.microsoft.com/en-us/help/contribute/contribute-customer-feedback-azure-authors-process?branch=master#process-for-article-authors). Thanks.

[2019-08-22 20:37] v-thepet commented on #31442
@SyntaxC4 - Updated you to be the assignee for this issue. Could you please work to address the feedback and close the issue? [See these instructions](https://review.docs.microsoft.com/en-us/help/contribute/contribute-customer-feedback-azure-authors-process?branch=master#process-for-article-authors). Thanks.

[2019-08-22 20:39] colindooley11 opened #37647 "SFX"
Sound fx...service fabric explorer..

Regarding the exit codes,  I can see them in the above table, but where are they in the SFX...

A screenshot would help here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f541a9f9-4be2-9537-5f94-bbfa02cf72ca
* Version Independent ID: c44b249f-243f-6a2d-fd34-9a8497102076
* Content

[2019-08-22 20:39] v-thepet commented on #31441
@SyntaxC4 - Updated you to be the assignee for this issue. Could you please work to close the issue? [See these instructions](https://review.docs.microsoft.com/en-us/help/contribute/contribute-customer-feedback-azure-authors-process?branch=master#process-for-article-authors). Thanks.

[2019-08-22 20:40] dtjensen opened #37648 "Invalid chars in module property"
When I try to create a deployment for my edge device, I get an error: [Edge] {"Message":"ErrorCode:ArgumentInvalid;Property or Tag name has invalid characters. Error in Property/Tag &lt;source container name1&gt;. Must not contain Control Characters, '.', '$', '#', or ' '.".  This started after I added the configuration for the Blob Storage Module. The cloudStorageConnectionString has "EndpointSuf

[2019-08-22 20:40] MGoedtel commented on #30611
I will create a PR to remove that survey since it is no longer active.  Thanks for bringing this to our attention.  #Please-close.

[2019-08-22 20:40] #30611 closed

[2019-08-22 20:41] markpsullivan commented on #37638
Looks like there is now a version 2.1 and the numbers are looking more realistic now.

[2019-08-22 20:42] pettys commented on #37447
@SnehaGunda In my learning about how CosmosDB works, I was misled by the presence of Family.ToString(). I suggest clarifying. The code comment I suggested, "// For demo purposes; not needed for CosmosDB," placed in the ToString() implementation, would clarify.

[2019-08-22 20:44] simon-michaud opened #37649 "When connecting via a REST APIs, what are the permissions needed for accessing app insight via app(...) query keyword and what azure resource(s) needs that permission)"
I made the service principal owner of the resource group where the app insight is located and I still get insufficient permissions, from the portal the same query works.  What is the exact permission and to resource(s) that need that permission, I put it on the microsoft.insights/components/xxx resource (my app insight and also tried it on the entire resource group of that app insight.

---
#### D

[2019-08-22 20:48] jameshkramer commented on #8582
@Sara-Nicolini @davidprio, I am working on a task to confirm that GitHub issues are assigned to the appropriate topic authors. In the case of this issue, I don't even know what topics are being referred to - where is this CJK translation done? Is this a documentation issue or a product issue? Is it properly assigned?

Thanks for your help, and apologies in advance if I have missed something I shou

[2019-08-22 20:48] dtjensen commented on #37648
Nevermind - there was another property causing the issue and I resolved it. This can be closed.

[2019-08-22 20:48] #37648 closed

[2019-08-22 20:49] nakhanha commented on #37443
Doc is updated. Thanks @hidwatanabe

[2019-08-22 20:49] MicrosoftGuyJFlo commented on #37609
Azure Multi-Factor Authentication is full featured and customizable where baseline policies are not customizable and are on or off for their specific cases only. We deliberately do not talk about baselines in the Azure Multi-Factor Authentication docs for this reason.

Yes baseline policies are available to all users from Azure AD Free up.

[2019-08-22 20:50] MicrosoftGuyJFlo commented on #37609
#please-close

[2019-08-22 20:50] #37609 closed

[2019-08-22 20:51] Karishma-Tiwari-MSFT commented on #37551
@sonpeppers Can you please share the recommendations you think should be added to the doc.

[2019-08-22 20:55] lyrana commented on #37460
Hi @Nicholas-I let's double check a few things, what is the authorization url that you're using? What is the audience of the token? You can view the audience ("aud") using a tool such as https://jwt.io and pasting in your token. Your audience should be 0b07f429-9f4b-4714-9392-cc5e8e80c8b0, the resource as specified by the auth url.

[2019-08-22 21:04] SunnyDeng commented on #8582
Hi @Jameshkramer, Sara moved to another role, I am working on the feedback at loc side.
Looking at the contributor's comment '...you can try the example on your v3 reference with
ruby. if you can your to language to ja or zh. All the translated characters are duplicated.
Such as I want to translate 'test!' into Japanese, I got テテスストト！！', our localizer can't resolve this issue. Please assign to the

[2019-08-22 21:04] markarnolditpro commented on #30721
Hi - any update on key vault style integration with app services?

[2019-08-22 21:04] v-thepet commented on #33068
@yeskarthik - Updated you to assignee for this issue because you are listed as the current document owner in the article metadata. Could you please work to address the feedback and close the issue? [See these instructions](https://review.docs.microsoft.com/en-us/help/contribute/contribute-customer-feedback-azure-authors-process?branch=master#process-for-article-authors). Thanks.

[2019-08-22 21:08] VanMSFT commented on #30258
Hi @patrykbuzowicz! Thank you for your patience. I confirmed that sqlcmd does not work with system identities for the -G command. I have updated the example at the bottom of the article to reference this. If you need support for getting your setup to work, I suggest contacting Microsoft Support on your inquiries. Thanks again!

https://github.com/MicrosoftDocs/azure-docs-pr/pull/86305

#please-clo

[2019-08-22 21:08] #30258 closed

[2019-08-22 21:12] StingyJack opened #37651 "Is this some special variation of Redis?"
I just need a plain Redis instance that can serve queues for some integration tests to run against. I dont want to use this if its some special variant thats tuned for caching.  The links on the Azure &gt; New for this program point to dead doc sites.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e83695b-8934-80ef-2f

[2019-08-22 21:16] MicahMcKittrick-MSFT commented on #37647
@colindooley11 I believe you will see it in the standard overview page of Service Fabric Explorer. Regardless, I agree a screenshot would be a good addition to this doc. I will assign to the author to review.

@peterpogorski assigning to you as the listed author is not an eligible assignee for this repo

[2019-08-22 21:17] anirudhcavale commented on #28457
@rajashekargowda thanks for the reply:
1. That metrics REST API will only return values IF you are sending metrics to the Azure Monitor data sink
2. The Azure monitor data sink is only supported on Windows VMs today (not Linux yet).
3. Once you enable the data sink and you want to query the metrics back, you will need to in the metric query: specify the metric namespace and metric name

[2019-08-22 21:19] MicahMcKittrick-MSFT commented on #37646
@chmill-zz fixed :) Once the PR merges the changes will go live after a few hours.

[2019-08-22 21:19] #37646 closed

[2019-08-22 21:20] MartinJaffer-MSFT commented on #31280
@seanbetts 'Or' follows the 'associative property' (see mathematics).  It does not matter whether you do:
A or (B or C)
(A or B) or C
Both are valid.  Nesting is the way to go.

[2019-08-22 21:20] VanMSFT commented on #35456
Thanks @dcbrown16! This issue was addressed in a PR, and the text was updated. https://github.com/MicrosoftDocs/azure-docs/pull/35029

If there are any concerns, please let us know. Thanks again for bringing this to our attention.

#please-close

[2019-08-22 21:20] #35456 closed

[2019-08-22 21:21] jeffj6123 commented on #37647
@colindooley11  If you are looking for exit codes you should see them on the Deployed code packages page(which is found under nodes/ your service/code pacakge) details page.

[2019-08-22 21:25] ahemavathy opened #37652 "Deployment fails with No default service level objective found of edition "DataWarehouse""
the create resources command fails with error
 "details": [
    {
      "code": "45122",
      "message": "'No default service level objective found of edition \"DataWarehouse\"'",
      "target": null,
      "severity": "16"
    }
  ],

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ec5477a-c4b4-a37c-f853-3d517a095e93

[2019-08-22 21:27] Karishma-Tiwari-MSFT commented on #37541
Below ports are used by service fabric:
       <ClientConnectionEndpoint Port="19000" />
        <LeaseDriverEndpoint Port="1026" />
        <ClusterConnectionEndpoint Port="1025" />
        <HttpGatewayEndpoint Port="19080" Protocol="https" />
        <ServiceConnectionEndpoint Port="1027" />
Port 19000 : we use 19000 port for connecting the service fabric via the powershell.
Port 19080:  we use

[2019-08-22 21:27] Adam-Smith-MSFT commented on #37614
@test123114 Thank you for the valuable feedback,we are investigating the issue.

[2019-08-22 21:28] SaurabhSharma-MSFT commented on #37296
@islandsins I do not think so but I will defer this to @billmath if this is required and update the documentation for the same.

[2019-08-22 21:30] PingPongSet opened #37653 "device twin API to get the latest value"
What is "the retrieve device twin API" below to get the latest value

"If querying individual device twins by ID, use the retrieve device twin API. This API always contains the latest values and has higher throttling limits."

https://docs.microsoft.com/en-gb/azure/iot-hub/iot-hub-devguide-query-language

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-08-22 21:34] #34614 closed

[2019-08-22 21:37] Karishma-Tiwari-MSFT commented on #37556
@danielsollondon Would you be able to share your insights on GA availability of cloud-init in Centos 7-CI? Thanks. :)

[2019-08-22 21:41] MartinJaffer-MSFT commented on #19698
@Paul92S
According to the [Databricks docs](https://docs.databricks.com/user-guide/notebooks/notebook-workflows.html#run-example), the output values are returned by the run call.

In the child notebook you would use `dbutils.notebook.exit("returnValue")`

[2019-08-22 21:46] Karishma-Tiwari-MSFT commented on #37462
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-08-22 21:47] YutongTie-MSFT commented on #37623
@temitopefunmi Hi, do you mean your language is not supported for now? If yes, I would highly recommend you posting your feedback to User Voice Forum. https://cognitive.uservoice.com/ Product group will review every feedback and update the product accordingly.

[2019-08-22 21:48] v-thepet commented on #37012
@rloutlaw - Updated you to be the assignee for this issue because you are listed as the current document owner in the article metadata. Could you please work to address the feedback and close the issue? [See these instructions](https://review.docs.microsoft.com/en-us/help/contribute/contribute-customer-feedback-azure-authors-process?branch=master#process-for-article-authors).

[2019-08-22 21:58] joeywalla commented on #37449
Thank you @eross-msft for your reply.  Do you have a recommended approach or, set up, to enroll users who will not want to install any applications (MSFT Authenticator or otherwise) but instead, will only want to verify using the phone call or, text option?  Is this possible when using the new "mysignins.microsoft.com" portal or, will we have to revert to using the original registration method/por

[2019-08-22 21:58] YutongTie-MSFT commented on #37368
@PanosPeriorellis Hi Panos, could you please check this feedback and update the document if needed? The URL link is a little bit confused to customers. Thanks.

[2019-08-22 22:00] hrasheed-msft commented on #37443
Fixed in: https://github.com/MicrosoftDocs/azure-docs-pr/pull/86309

[2019-08-22 22:00] hrasheed-msft commented on #37443
#please-close

[2019-08-22 22:00] #37443 closed

[2019-08-22 22:01] v-thepet commented on #37206
@abhijeetgaiha - Added you to assignee for this issue because you are listed as the referenced document owner in the article metadata. Could you please help to address the feedback and close the issue? [See these instructions](https://review.docs.microsoft.com/en-us/help/contribute/contribute-customer-feedback-azure-authors-process?branch=master#process-for-article-authors).

[2019-08-22 22:09] hrasheed-msft commented on #37120
@dcbrown16 Yes, you are correct. Those are the only two cluster types with data disks. The supported disk SKUs are P30 and S30. Please see the [Azure disks documentation](https://azure.microsoft.com/en-us/pricing/details/managed-disks/) for full specifications.

[2019-08-22 22:11] josuvil opened #37654 "Explain why Windows AD or Hybrid-Joining is a requirement"
Hello,
Given that Windows 10 devices can Azure AD Join, why is there a hard requirement for Windows AD or Hybrid-Joined devices? Isn't this a step back? For customers wanting to be all cloud managed, this will require them to host at least two DCs on Azure or enable Azure ADDS. Both solutions add to the monthly bottom-line. I wonder if we should further explain the requirement. Thank you.

---
###

[2019-08-22 22:12] KranthiPakala-MSFT commented on #37365
@tspannagel Could you please share the details requested in the previous comment. Thanks!

[2019-08-22 22:14] georgewallace commented on #37206
@Sas002 can you please send your case number with support to my email which is first.last@microsoft.com. Replace the values with my name.

@rboucher do you have a contact that may be able to answer this question?

[2019-08-22 22:16] Karishma-Tiwari-MSFT commented on #37561
@MrRitt  Azure Container Instances enables exposing your containers directly to the internet with an IP address and a fully qualified domain name (FQDN). When you create a container instance, you can specify a custom DNS name label so your application is reachable at customlabel.azureregion.azurecontainer.io.
The top-level resource in Azure Container Instances is the container group. You can only

[2019-08-22 22:17] MicahMcKittrick-MSFT commented on #37212
@smflorentino I am closing this out as we already have a offline work item to dress all the sizes in these pages to make them more consistent and with additional information.

[2019-08-22 22:17] #37212 closed

[2019-08-22 22:19] MicahMcKittrick-MSFT commented on #37270
@larryms thanks for submitting the PR! I have commented there asking the author to sign off.

@kumarallamraju I will close this as we have a PR in the works to address this problem.

[2019-08-22 22:19] #37270 closed

[2019-08-22 22:20] #34186 closed

[2019-08-22 22:22] #37120 closed

[2019-08-22 22:23] alex-frankel commented on #36533
It's fair feedback - I'm going to move this issue to the powershell repo. I want to make sure we are still tracking this, but it may not be something get to soon

[2019-08-22 22:23] hrasheed-msft commented on #37120
@dcbrown16 The document has been updated to address your concerns. Please let us know we can provide additional assistance.

[2019-08-22 22:23] alex-frankel commented on #36533
@DCtheGeek  can you close this?

[2019-08-22 22:23] hrasheed-msft commented on #37120
#please-close

[2019-08-22 22:26] #36533 closed

[2019-08-22 22:27] v-thepet commented on #31432
@SyntaxC4 - Updated you to be the assignee for this issue. Could you please work to close the issue? [See these instructions](https://review.docs.microsoft.com/en-us/help/contribute/contribute-customer-feedback-azure-authors-process?branch=master#process-for-article-authors). Thanks.

[2019-08-22 22:33] v-thepet commented on #31446
@SyntaxC4 - Updated you to be the assignee for this issue. Could you please work to close the issue? [See these instructions](https://review.docs.microsoft.com/en-us/help/contribute/contribute-customer-feedback-azure-authors-process?branch=master#process-for-article-authors). Thanks.

[2019-08-22 22:34] v-thepet commented on #31449
@SyntaxC4 - Updated you to be the assignee for this issue. Could you please work to close the issue? [See these instructions](https://review.docs.microsoft.com/en-us/help/contribute/contribute-customer-feedback-azure-authors-process?branch=master#process-for-article-authors). Thanks.

[2019-08-22 22:35] v-thepet commented on #31450
@SyntaxC4 - Updated you to be the assignee for this issue. Could you please work to close the issue? [See these instructions](https://review.docs.microsoft.com/en-us/help/contribute/contribute-customer-feedback-azure-authors-process?branch=master#process-for-article-authors). Thanks.

[2019-08-22 22:36] v-thepet commented on #31585
@SyntaxC4 - Updated you to be the assignee for this issue. Could you please work to close the issue? [See these instructions](https://review.docs.microsoft.com/en-us/help/contribute/contribute-customer-feedback-azure-authors-process?branch=master#process-for-article-authors). Thanks.

[2019-08-22 22:37] KranthiPakala-MSFT commented on #37554
@vlado101 Could you please compare the your pipeline JSON with the below. This is the the JSON payload of my pipeline, that was created following the same tutorial. I tried testing and everything works fine for me. Let us know how it goes.

{
    "name": "IncrementalCopyPipeline",
    "properties": {
        "activities": [
            {
                "name": "LookupOldWaterMarkActivity",

[2019-08-22 22:37] MicrosoftGuyJFlo commented on #36881
@adamfowlerit Sarah made an update to the licensing section to clarify this a little better. It should publish tomorrow morning.

[2019-08-22 22:38] MicrosoftGuyJFlo commented on #36881
#please-close

[2019-08-22 22:38] #36881 closed

[2019-08-22 22:40] ThomasWeiss commented on #37636
We have temporarily removed the option to create unique keys from the portal when working with MongoDB API accounts because of internal issues we're currently working on. I will update this thread once it's restored.

[2019-08-22 22:42] YutongTie-MSFT commented on #37527
@hansmbakker Hi Hans, we don't have any official document can help you. But I find a blog and some related documents may help.
https://peterbozso.github.io/2018/06/11/qna-maker-provisioning.html
https://docs.microsoft.com/en-us/azure/azure-resource-manager/
https://docs.microsoft.com/en-us/azure/azure-resource-manager/manage-resources-portal

[2019-08-22 22:48] v-thepet commented on #17951
@tamram - Updated you to be the assignee for this issue because you are listed as the current document owner in the article metadata. Could you please work to address the feedback and close the issue? [See these instructions](https://review.docs.microsoft.com/en-us/help/contribute/contribute-customer-feedback-azure-authors-process?branch=master#process-for-article-authors). Thanks.

[2019-08-22 22:48] Karishma-Tiwari-MSFT commented on #37479
@JonShelley Earlier I tried with Batch service mode. With user subscription mode, I see it same as yours. I saw a warning that pointed me to the right direction.
![image](https://user-images.githubusercontent.com/20851144/63554888-c99b3580-c4f3-11e9-8b00-851a8b3a09f2.png)

My understanding is, for user-subscription mode, while opening a support request, you will have to select 'Compute-VM' option

[2019-08-22 22:49] TravisCragg-MSFT commented on #37610
@f-vicente Thanks for the feedback! you will need to bind the application to eth0. The full instructions to do this can be different for different distros, so your best bet is to look for instructions for CentOS. If you need further assistance on how to do this, please @ me in your reply.

We will also update the documentation to make the process more clear. I have assigned the issue to the conten

[2019-08-22 22:49] SnehaGunda commented on #34643
@damienestewart apologies for the delay in getting back, I am working with our dev team to learn more on the Altlink property for REST API.

I see the .Net SDK has the Altlink property documented here, in case you are interested: https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.documents.resource.altlink?view=azure-dotnet

[2019-08-22 22:51] robertsonhoddersappdev commented on #16507
Hi, this is actually quite critical to our app now. Google has now blocked sign-in from embedded webviews for non login.microsoft.com sources. This means that switching our MSAL login process to b2clogin breaks sign-in for google users. We can switch back to login... but if this is going to disappear soon we really need to know how long we have - as does the MSAL team to come up with a plan to res

[2019-08-22 22:52] jameshkramer commented on #13373
@cephalin I updated you to be the assignee for this issue because you are listed as the current document owner in the article metadata. Could you please work to address the feedback and close the issue? [See these instructions](https://review.docs.microsoft.com/en-us/help/contribute/contribute-customer-feedback-azure-authors-process?branch=master#process-for-article-authors).

[2019-08-22 22:54] v-thepet commented on #20283
@tamram - Updated you to be the assignee for this issue because you are listed as the current document owner in the article metadata. Could you please work to address the feedback and close the issue? [See these instructions](https://review.docs.microsoft.com/en-us/help/contribute/contribute-customer-feedback-azure-authors-process?branch=master#process-for-article-authors). Thanks.

[2019-08-22 22:58] HeidiSteen commented on #37629
@Mscherotter, could you confirm that you imported the postman collection that has the source for this walkthrough?

- Instructions for importing are here:  https://docs.microsoft.com/en-us/azure/search/knowledge-store-howto#set-up-postman

- Link to the repo providing the collection is here: https://github.com/Azure-Samples/azure-search-sample-data

The line references are for the POST request tha

[2019-08-22 23:01] jameshkramer commented on #13380
@bandersmsft, I updated you to be the assignee for this issue because you are listed as the current document owner in the article metadata. Could you please work to address the feedback and close the issue? [See these instructions](https://review.docs.microsoft.com/en-us/help/contribute/contribute-customer-feedback-azure-authors-process?branch=master#process-for-article-authors).

[2019-08-22 23:04] MartinJaffer-MSFT commented on #37614
Hello @test123114 and thank you for your inquiry.  Which role to use depends upon what you want to do.  'Contributor' is a general purpose role with both read and write permissions.

More detail can be found [here.](https://docs.microsoft.com/en-us/rest/api/storageservices/authorize-with-azure-active-directory)

The call to get the bearer token is made to:
`https://login.microsoftonline.com/<Appli

[2019-08-22 23:05] bandersmsft commented on #13380
@jameshkramer Sure, I'll address the feedback and update the article. No problem.
#in-process

[2019-08-22 23:05] v-thepet commented on #24231
@roygara - Updated you to be the assignee for this issue because you are listed as the current document owner in the article metadata. Could you please work to address the feedback and close the issue? [See these instructions](https://review.docs.microsoft.com/en-us/help/contribute/contribute-customer-feedback-azure-authors-process?branch=master#process-for-article-authors). Thanks.

[2019-08-22 23:17] dcbrown16 commented on #35456
@VanMSFT I don't think this has addressed the section I brought up.
Saying "the two non-interactive authentication methods" and then following it with "There are two non-interactive authentication models as well", but both naming the same two things, just doesn't seem to make any sense.

This sentence immediately after that also needs a grammar edit.

[2019-08-22 23:18] dcbrown16 commented on #35456
@Mike-Ubezzi-MSFT please reopen.

[2019-08-22 23:19] dcbrown16 commented on #37490
Thanks! I haven't been able to check the behavior personally, this is a customer inquiry through support.

[2019-08-22 23:24] SnehaGunda commented on #37636
@thenralmani as Thomas mentioned above, this feature is temporarily removed, in the mean-time, you can use the SDKs to create unique keys. Here are the instructions for creating the unique key with SDK: https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb-indexing#creating-unique-indexes

[2019-08-22 23:32] JonShelley commented on #37479
That is true for a user subscription. However, you still have to request
quota for the batch account even though you have quota for the user
subscription

On Thu, Aug 22, 2019 at 4:49 PM Karishma Tiwari - MSFT <
notifications@github.com> wrote:

[2019-08-22 23:34] patrickgalbraith commented on #37499
This is what Quickbooks support just said about OAuth 1.0.

This makes the Quickbooks Online connector essentially broken for any new integration. I think you need to update your documentation to make this clear.

Can you also provide an ETA on when OAuth 2.0 support will be available.

[2019-08-22 23:37] SnehaGunda commented on #36110
I had a chat with Siddhesh regarding this issue, the team has a work item in their backlog to update the sample and doc next month. Yes we will set up ci/cd so the doc is always in sync with the code.

[2019-08-22 23:40] RadioActiveLamb opened #37656 "Where to apply these roles"
Looking through the built-in roles under Azure AD Administrative roles, I don't see the ones listed in this article. There isn't a "Role" blade under Azure Monitoring. How do I assign roles to users for Azure Monitoring?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50c87636-ca0e-f392-f5c5-502113668adf
* Version Indep

[2019-08-22 23:44] cecilphillip commented on #37370
@DixitArora-MSFT but listed where? If I have configuration that looks like this
[code]
How do I know what versions to use for the upper and lower bounds? `Microsoft.Azure.Functions.ExtensionBundle` is not listed on [NuGet](https://www.nuget.org/packages?q=Microsoft.Azure.Functions.ExtensionBundle)

[2019-08-22 23:47] MicahMcKittrick-MSFT commented on #37654
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-22 23:50] jameshkramer commented on #13350
@navyasric, you are the assignee for this open GitHub issue. I am investigating whether open issues should remain open and, if so, who the assignees should be. This issue has shown no activity since December of last year. Should it remain open? Are you the proper assignee; i.e. the one responsible for getting it fixed and closed?

Thank you.

Jim Kramer (v-jakram, Aquent)

[2019-08-22 23:53] kabatmartin123 opened #37657 "QnA Maker follow-up prompts do not work in test WebChat"
I have been testing my KB in the QnA Maker Portal using the test chatbot and it doesn’t work as expected with follow-up prompts.

The test chatbot respond partially as configured in the KB. However there isnt any of the follow-up prompts.

Could you help and point me the right direction?

Thank you very uch

[2019-08-22 23:56] kabatmartin123 commented on #33526
has this issue been fixed?

[2019-08-22 23:57] SeanFeldman commented on #33395
Thank you. 👍

[2019-08-23 00:04] Alberto-Vega-MSFT commented on #37657
Hi @kabatmartin123 I'm sorry to hear that you are facing this issue. Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.

[2019-08-23 00:05] krbain commented on #37517
Hi @guitarfreak58

We apologize for any inconvenience this is causing you. If you could please provide more details on the issues you are having with existing groups or your ability create new ones, we can investigate further. The rule builder improvements are not expected to change your ability to configure rules, only add the ability to create rules with more expressions, so we'd be very interes

[2019-08-23 00:09] stvhwrd opened #37658 "Screenshot"
&gt; To see the running application, navigate to the displayed DNS name in your favorite browser:

The screenshot shows Safari on macOS.  I might be drinking the MSFT Koolaid here but it seems that a screenshot of Edge might be better.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a27b22e3-437d-04f2-a542-b20facee238b

[2019-08-23 00:18] femsulu commented on #37638
Thanks for the update @markpsullivan
Is it ok to close this thread or do you have a followup question?

[2019-08-23 00:18] femsulu commented on #37640
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-08-23 00:19] femsulu commented on #37644
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-08-23 00:20] femsulu commented on #37645
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-08-23 00:22] #37535 closed

[2019-08-23 00:23] FrankHu-MSFT commented on #37516
@temabu Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day tomorrow as there hasn't been a response in regards to this. If you have further issues I suggest filing a support ticket to figure out what could be going wrong here .

Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-23 00:23] #37339 closed

[2019-08-23 00:25] KingdomOfEnds commented on #37460
@Nicholas-I - I also just checked my client - are you using Postman as directed or CURL? Assuming that the audience is configured correctly, when you get a new token in Postman, you must select the new token (the access token might be very very similar … in fact almost the same though it will also vary slightly - you can check your access token using a diff tool that will help you to ensure that t

[2019-08-23 00:29] Karishma-Tiwari-MSFT commented on #37479
This was my understanding from the paragraph mentioned in [this doc](https://docs.microsoft.com/en-us/azure/batch/batch-quota-limit#cores-quotas-in-user-subscription-mode):
If you created a Batch account with pool allocation mode set to user subscription, quotas are applied differently. In this mode, Batch VMs and other resources are created directly in your subscription when a pool is created. **

[2019-08-23 00:36] Alberto-Vega-MSFT commented on #37653
Hi @PingPongSet I am not sure if I understand the question. Can you please elaborate more? Also you might want to read this if you haven't yet: https://docs.microsoft.com/en-gb/azure/iot-hub/iot-hub-devguide-device-twins

[2019-08-23 00:37] MarileeTurscak-MSFT commented on #37628
@EMCjvang can you please quote the sentence that you are referencing? I was unable to find this sentence in the document.

[2019-08-23 00:52] bradrush opened #37659 "But how does it work?"
Hi there, we are keen to use the device write back feature but there is not enough information to let us know what to expect. We already have been using azure ad connect for some time so have computer objects in AD and azure ad already and need to understand what happens if the computer object already exists in both places. Will they match and join, if yes what are they matching on or if not, will

[2019-08-23 00:54] Alberto-Vega-MSFT commented on #28293
Hi @bhjolly there is some progress done you can see the rewrite of the Python SDK here https://github.com/azure/azure-iot-sdk-python-preview if you have any questions about it please open an issue on that repository so the engineering team can address them

[2019-08-23 00:58] Alberto-Vega-MSFT commented on #37648
@dtjensen I'm glad you were able to resolve your issue. Please feel free to reach out if you have any feedback for these docs.

[2019-08-23 01:04] seantleonard opened #37660 "Hash Transformation Question"
In the section explaining the randomizer secret, it says for the key config:
"For Key usage, select Secret."

This should state "For Key *type*, select Secret"

That being said, the next question I have is what should be configured for "key usage," Signature or Encryption? Since this is hashing the value provided, should this be encryption?

Lastly, Which hashing algorithm is used for this claims

[2019-08-23 01:04] xtellurian opened #37661 "Does Time Series Insights maximum property limit apply to TSI Preview"
TSI GA has a maximum number of properties/ columns of 600-800

https://docs.microsoft.com/en-us/azure/time-series-insights/how-to-shape-query-json

There is no limit mentioned on this page - can I assume there is no limit on the Preview?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddb074e8-7df6-5b8d-01c1-63ac213a111

[2019-08-23 01:04] MicrosoftGuyJFlo commented on #37659
More information about device identities can be found in the content area below.
https://docs.microsoft.com/azure/active-directory/devices/index

[2019-08-23 01:05] ChadNedzlek opened #37662 "config example sets "autoFlush" true, which will break internet scale things"
The example sets "autoFlush" to true. At internet scale, flushing after every message would cause a huge bottleneck in trying to send every single trace to the AI servers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7265053-e223-593d-eba7-7dc87c3f9246
* Version Independent ID: 1b8daf9a-78f6-2ccf-ec31-85c125edc44b
*

[2019-08-23 01:15] MicrosoftGuyJFlo commented on #37537
@citykidz yes the product team is looking into it and will update the download when they are able to resolve.

[2019-08-23 01:19] MicrosoftGuyJFlo commented on #37157
Yes the system closed because I made a change based on your feedback. Does the change not resolve the question you posed?

[2019-08-23 01:20] krbain commented on #37517
@SjoerdV

Thanks very much for providing the feedback and the detailed info. You're correct that the rule builder does not support the ability to set precedence (e.g. **((**user.department-eq "xxx") -or (user.department -eq "YYY"**))**), instead you should use the Rule syntax text box for that case, as it provides that flexibility.

For the message that is displayed, this is not intended to indica

[2019-08-23 01:38] dcbrown16 opened #37664 "Compatibility level mismatch"
The doc below says Managed Instance supports compatibility level 150 and it appears to be selectable in the actual product.
https://docs.microsoft.com/en-us/sql/t-sql/statements/alter-database-transact-sql-compatibility-level?view=sql-server-2017#arguments
Can this doc be updated? The list here only goes up to 140.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2019-08-23 01:42] Alberto-Vega-MSFT commented on #37425
@PixelPartner Since we did not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-23 01:42] #37425 closed

[2019-08-23 01:44] markgar commented on #35932
What if we use network rules with Service Tags to open port 22 and port 9000 to the local region of the AKS cluster?  This opens more than we'd like, but maybe it is the best we can do today.  Hopfully we'll have FQDN tag for AKS in Azure FW before too long - or maybe FQDN filtering in network rules.

[2019-08-23 01:46] JimacoMS3 commented on #31195
@nicklasfrahm  -- thanks for your feedback.! I've spent a little time today on this:

1. I think using `Buffer.from()` rather than `new Buffer()` in this line works just fine. After making the change in the existing topic code, I did successfully create a token and use it to open a registry client and make calls to list the devices registered with a hub. The new line should look like the following

[2019-08-23 01:51] JonShelley commented on #37479
Ping me offline since you do have to request quota for a batch account in
user subscription mode even if your account has been given quota.

On Thu, Aug 22, 2019 at 6:29 PM Karishma Tiwari - MSFT <
notifications@github.com> wrote:

[2019-08-23 01:52] spelluru commented on #33395
#please-close

[2019-08-23 01:52] #33395 closed

[2019-08-23 01:53] #37448 closed

[2019-08-23 01:54] PramodValavala-MSFT commented on #37620
@Jayesh040 Thanks for the question! We will review and get back to you!

[2019-08-23 02:10] spelluru commented on #13165
@sistoimenov - Sorry for the delay in responding to you. I just got confirmation from our dev that you can use information in this section to find the logs.

https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/custom-script-linux#troubleshooting

[2019-08-23 02:15] narasimmanr64 opened #37665 "How to load the certificate from PublishProfiles folder?"
Example shows how to load a certificate form GetCertificateFromStore where it is hardcoded.  I want to load different certificates for different environments such as localhost and azure.  I tried by commenting the code on GetCertificateFromStore() and entering the certificate details in ClusterConnectionParameters.

Publish fails with the message "Unable to determine whether the application is ins

[2019-08-23 02:31] omerzubair opened #37666 "The Runbook will Add the AZ modules but cannot remove the old AzureRM"
When a new Automation account is created it comes by pre-installed with AzureRM modules.
This runbook will add the AZ modules no worries. But it does not remove the AzureRM. Neither you can delete the old AzureRm modules

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55d92628-d657-759d-d301-06029cd61138
* Version Indep

[2019-08-23 02:47] HannahHsiao opened #37667 "Please update "remove spending limit""
Azure portal supports remove spending limit, please update the document, thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 053d81ad-ed0b-efbb-9029-511d83222e7c
* Version Independent ID: 22237e49-91a8-0120-913a-fee6432e09d2
* Content: [Azure spending limit](https://docs.microsoft.com/en-us/azure/billing/billing-

[2019-08-23 03:13] v-thepet commented on #17364
@CeciAc @amanarneja @SyntaxC4 @DavidPrio - https://github.com/Azure/azure-content-dede does not exist anymore. Closing this issue.

[2019-08-23 03:13] #17364 closed

[2019-08-23 03:16] v-thepet commented on #17362
@nschonni @CeciAc per @ishasahni1 comment, closing this issue.

[2019-08-23 03:16] #17362 closed

[2019-08-23 03:19] aquibqureshi26 commented on #32319
currently Canada central is not in the preview region list.

https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-custom-overview#supported-regions

[2019-08-23 03:21] v-thepet commented on #17744
@nschonni @JasonWHowell - Per your comment it looks like the specified repos have been deleted. Closing this issue. If I'm mistaken please reopen the issue. Thanks.

[2019-08-23 03:24] v-thepet commented on #17770
@nschonni - It appears @sewatson answered your question in the previous comment, so closing this issue. If not, please reopen the issue. Thanks.

[2019-08-23 03:24] #17770 closed

[2019-08-23 03:31] Alberto-Vega-MSFT commented on #37538
Hi @smoms I guess it depends on the gateway pattern you are using https://docs.microsoft.com/en-us/azure/iot-edge/iot-edge-as-gateway#cheat-sheet
Please see [Authenticate a downstream device to IoT Hub](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-authenticate-downstream-device) specially this part:
There are three general steps to set up a successful transparent gateway connection. This

[2019-08-23 03:49] nschonni commented on #17744
Looks like from the original search link these are still kicking around:
- https://github.com/MicrosoftDocs/azure-docs-test2-pr.fr-FR
- https://github.com/MicrosoftDocs/azure-docs-test2-pr.cs-CZ.hu-hu

[2019-08-23 03:59] KrishnaG-MSFT commented on #37667
@HannahHsiao Thanks for your comment. The feedback has been shared with the content owner for further review.

[2019-08-23 04:10] juyama commented on #37333
We would like to know all of ResponseType before Classic alerts retired (i.e. next weekend). Some ResourceTypes seem to be included as below.
https://github.com/MicrosoftDocs/azure-docs/issues/33581

[2019-08-23 04:11] KrishnaG-MSFT commented on #37666
@omerzubair Thanks for the comment. We are actively investigating on your ask and will get back to you shortly with an update.

[2019-08-23 04:13] KrishnaG-MSFT commented on #37649
@simon-michaud Thanks for the comment. We are actively investigating on your ask and will get back to you shortly with an update.

[2019-08-23 04:14] KrishnaG-MSFT commented on #37656
@RadioActiveLamb Thanks for the comment. We are actively investigating on your ask and will get back to you shortly with an update.

[2019-08-23 04:26] neeleshray-msft commented on #37659
Thank you for your query. We will check it internally and let you know accordingly.

[2019-08-23 04:32] AshokPeddakotla-MSFT commented on #37661
@xtellurian Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-23 04:40] KalyanChanumolu-MSFT commented on #37664
@dcbrown16 Thank you for taking the time to provide feedback on the documentation.

The compatibility level 150 for managed instance is documented here.
140 is the default compatibility level when managed instance is created. It can be changed if you wish to.

![image](https://user-images.githubusercontent.com/8835012/63567131-aa50e680-c58d-11e9-9cb8-5604f1dfe85d.png)

Please let me know if I didn

[2019-08-23 04:43] jakaruna-MSFT commented on #33464
This issue is fixed now

[2019-08-23 04:44] KrishnaG-MSFT commented on #37605
@cr-stef Verified and updated the document as required. Thanks.

[2019-08-23 04:44] #37605 closed

[2019-08-23 04:49] JeetJoe commented on #37484
@MSRINI-MSFT Will be able to do it next week, since it's client's account, will keep you posted on the progress thanks.

[2019-08-23 04:53] christiankuhtz opened #37668 "basic sku?"
This document should be documenting standard sku

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8800d557-d6b2-341a-bb0c-12ecae1b6c46
* Version Independent ID: bf15dea7-b0c2-e0b6-fcc1-db92a25d4faa
* Content: [Deploy an IPv6 dual stack application in Azure virtual network - CLI](https://docs.microsoft.com/en-us/azure/vir

[2019-08-23 04:55] VikasPullagura-MSFT commented on #37658
@stvhwrd Thanks for the feedback. We are working on this and will update you shortly.

[2019-08-23 04:57] BhargaviAnnadevara-MSFT commented on #37665
@narasimmanr64 Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2019-08-23 04:59] Eldar1205 opened #37669 "Example for pulling ACR image with AKS AAD auth"
Hi,
When reading this page without first reading https://docs.microsoft.com/en-au/azure/aks/tutorial-kubernetes-deploy-cluster#configure-acr-authentication it's unclear how should look a YAML file for pulling ACR image with AKS AAD auth similar to how you provided one for secret based access, suggest to add the link to above page instead of re-documenting here how to grant AKS access to ACR withou

[2019-08-23 04:59] jakaruna-MSFT commented on #37206
@georgewallace Customer didnt open any support case. I sent a email to the product team internally.
You are also part of that email.

[2019-08-23 05:04] dcbrown16 commented on #37664
@KalyanChanumolu-MSFT
I'm talking about this part of the doc that I submitted this issue on. It doesn't list 150.

[2019-08-23 05:05] msrini-MSFT commented on #37484
@JeetJoe , Thank you for your response. I will go ahead and archive this issue. If you have any further questions post testing, please tag me, I will be able to help you out.

[2019-08-23 05:05] #37484 closed

[2019-08-23 05:10] KalyanChanumolu-MSFT commented on #37664
Thanks @dcbrown16
I have made the edit accordingly. The changes should be live shortly.
In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. We love taking contributions from the community. 

[2019-08-23 05:11] docgregt commented on #23037
Mine is 1.8.2 but was sent to me directly by the dev team so I don’t know if it is really 1.8.2. I know it was modified to fix the issue for me. Which I responded to them that it did. So maybe 1.8.3 is the fixed version. I have not tried that version.

Gregory Turner
Chief Architect
________________________________________
i4 Insight, Inc.

cell: +1.720.335.1744
greg.turner@i4-insight.com<mailto:g

[2019-08-23 05:13] PramodValavala-MSFT commented on #37652
@ahemavathy Thanks for the feedback! We will review and update accordingly.

[2019-08-23 05:15] msrini-MSFT commented on #37668
@KumudD , Can you please take a look and update the doc with Standard SKU?

[2019-08-23 05:16] dcbrown16 commented on #37664
Sure, I would normally do that but I wanted to be 100% sure that this one was correct. The updated date for this doc is actually more recent than the other one, I guess the last review just didn't catch that detail. I'll close out, thanks!

[2019-08-23 05:16] #37664 closed

[2019-08-23 05:17] VikasPullagura-MSFT commented on #37592
@ChackDan Thanks for providing the information.

[2019-08-23 05:18] msrini-MSFT commented on #37599
@jjindrich , Do you have any update for me?

[2019-08-23 05:18] msrini-MSFT commented on #37615
@kgopi05 , Do you have any update ?

[2019-08-23 05:18] msrini-MSFT commented on #37621
@OffColour , Do you have any update?

[2019-08-23 05:18] VikasPullagura-MSFT commented on #37592
@vikramdadwal Please check the response from the product team on the GA information.
I am closing this issue for now.

[2019-08-23 05:18] #37592 closed

[2019-08-23 05:19] msrini-MSFT commented on #37633
@taromielnaz , Do you have any update?

[2019-08-23 05:20] VikasPullagura-MSFT commented on #37604
@qusp66 Any update on the issue?
Just checking if you got a chance to check my previous reply.

[2019-08-23 05:31] RohitMungi-MSFT commented on #37582
@TysonLinger We have requested our product team to review the error messages so the same can be corrected in future releases.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-23 05:31] #37582 closed

[2019-08-23 05:31] SumanthMarigowda-MSFT commented on #37334
@arjenkrap The doc has been updated! We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-23 05:31] #37334 closed

[2019-08-23 05:42] ShintakuNobuhiro opened #37671 ""Password policies that only apply to cloud user accounts" is incorrect"
Characters not allowed
・Cannot contain a dot character "." immediately preceding the "@" symbol”.
→It was actually usable. Even including “.@”, Both password setting and sign-in worked properly.

※Japanese(日本語)
表題： "Password policies that only apply to cloud user accounts"が誤っている
・Cannot contain a dot character "." immediately preceding the "@" symbol”.
→実際には使用可能でした。「.@」を含めても、パスワードの設定、サインインともに正常に動作

[2019-08-23 05:43] KrishnaG-MSFT commented on #37616
@Stoumfou Thanks for your comment. The feedback has been shared with the content owner for further review.

[2019-08-23 05:44] VikasPullagura-MSFT commented on #37571
@yasufs When you create this from Azure Active Directory > App registrations blade, you can see the client secret on the portal the first time when it is created, please check below screenshot for reference.

Please check this [document](https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-create-service-principal-portal#create-a-new-application-secret) for detailed information.

[2019-08-23 05:44] BhargaviAnnadevara-MSFT commented on #37606
@lukos Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@dalechen Please take a look and provide your inputs. Thanks.

[2019-08-23 06:02] KumudD commented on #37668
@msrini-MSFT, The Standard Load Balancer SKU deployment already documented, please see https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-ipv4-ipv6-dual-stack-standard-load-balancer-cli

[2019-08-23 06:08] amigup commented on #35072
@cijothomas - Do you think with the suggested approach, there would be a side effect in terms of performance?

[2019-08-23 06:12] ahanaseem-gitid opened #37672 "multiple alert with dynamic threshold ARM template fails"
[Enter feedback here]

az group deployment create     --name MultiResourceAlertDeployment     --resource-group az1000101b-RG     --template-file "/home/naseem/all-vms-in-subscription-dynamic.json"     --parameters "@all-vms-in-subscription-dynamic.parameters.json"

Deployment failed. Correlation ID: cc749426-ba6f-4348-8f92-eea14ab1c62c. {
  "error": {
    "code": "LinkedAuthorizationFailed",
    "

[2019-08-23 06:14] DixitArora-MSFT commented on #37347
@jmulcahy-fiscaltec Thanks for the update. For now I will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-23 06:14] #37347 closed

[2019-08-23 06:16] DixitArora-MSFT commented on #37383
@brettcannon I have assigned this to content author for further review and update as appropriate.

[2019-08-23 06:26] christiankuhtz commented on #37668
Why is the default document referenced basic? the default recommendation should be standard sku.

[2019-08-23 06:32] smoms commented on #37538
@Alberto-Vega-MSFT ok clear for transparent gateway. If instead a module does not require to communicate neither with edge nor with IoT Hub then does not store/manipulate keys, right? However i expect that the edge runtime is still managing key on its behalf (since a module identity is always created in IoT Hub). Am i correct? thanks.

[2019-08-23 06:36] ChiragMishra-MSFT commented on #37600
@assainov I see. I believe that the different text is overriding the expected link. But since you can use the feature still, I am closing this issue. Thanks again for bringing this to our notice.

Feel free to still comment and tag me if you have any queries.

[2019-08-23 06:36] #37600 closed

[2019-08-23 06:42] angoyal-msft commented on #36969
@deborahc could you please confirm the ETA for updating the page.

[2019-08-23 06:47] Rajani-Janaki-Ram commented on #37523
@harkirat to take a look at the error and provide suggestions

[2019-08-23 06:51] KalyanChanumolu-MSFT commented on #37651
@StingyJack Azure Cache for Redis is a fully managed service based on Redis, which creates and manages Redis instance(s) like updates, automatic failover etc. on behalf of the customer.
There is no difference in the in the functionality.
Do let us know if you have further questions.

I checked the links on the [page](https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/) and didn't not fin

[2019-08-23 06:51] SwathiDhanwada-MSFT commented on #37656
@RadioActiveLamb  Please follow these steps
All services -> Subscriptions-> Select the subscription -> Click on Access Control -> Click on Add which is  highlighted in below image -> Search the role

![image](https://user-images.githubusercontent.com/48976275/63572438-84810d00-c5a0-11e9-8820-31c36b3d4adb.png)

Hope this helps!

[2019-08-23 06:53] rockboyfor commented on #37408
Do appreciate your quickly response! and we will follow the global modified contents later.

[2019-08-23 06:53] SwathiDhanwada-MSFT commented on #37488
@Lowell-Syncrety We will now close this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-08-23 06:53] #37488 closed

[2019-08-23 06:59] BhargaviAnnadevara-MSFT commented on #37573
@psoukal-ms Thanks again for reaching out! The changes are now live and reflect in the original doc.

[2019-08-23 07:00] RohitMungi-MSFT commented on #37588
@manvendrautralia Bing ID returned can be used with the the [Bing Entity Search](https://docs.microsoft.com/en-in/azure/cognitive-services/bing-entities-search/overview) API if you need to use the same search query or parse the result from the entity API for the same bing id.

[2019-08-23 07:06] tspannagel commented on #37365
![image](https://user-images.githubusercontent.com/3897109/63573286-34488180-c585-11e9-82a3-9bd2256d08bc.png)
then i can check with $df.capabilities, $df.nodes, $df.nodes[0] and $df.nodes[0].capabilities

[2019-08-23 07:09] amkarmak opened #37674 "Please update the document as mentioned below."
This is regarding the noop IO scheduler for SLES12 VMs. I tried enabling it on SLES12 SP4 VM, but it did not work.
Moreover the sed command mentioned here to update the /etc/default/grub changes the 2nd line “GRUB_CMDLINE_LINUX” also
with “GRUB_CMDLINE_LINUX_DEFAULT”. Which causes serial console not to work.

Finally I found that we have to disable the scsi block mq (scsi_mod.use_blk_mq) to make n

[2019-08-23 07:13] jjindrich commented on #37599
Hi, I checked REST API, but as I can see https://docs.microsoft.com/en-us/rest/api/application-gateway/applicationgateways/backendhealth#get-backend-health returns only Up/Down status. But no more details which I'm looking for. I need to get the result of calling backend, like http status. Let's imagine from operation model - ops guys is alerted that backend is down from AppGw perspective, but he

[2019-08-23 07:15] ManojReddy-MSFT commented on #37660
@seantleonard Thanks for the feedback. when you select the manual option, you will not get to select Key type and you will only have the option for Key Usage.

I am checking internally about the hashing algorithm used and what should be selected as the key usage and will get back to you.

[2019-08-23 07:15] temitopefunmi commented on #37623
Okay. Thank you

[2019-08-23 07:15] #37623 closed

[2019-08-23 07:16] julie-ng commented on #36110
@SnehaGunda if it helps, I am also talking to the Den from Docs to get my repo moved to the azure-samples organization. It already has CI/CD, in case you need an example.

[2019-08-23 07:23] hansmbakker commented on #37527
@YutongTie-MSFT that is not what I meant. I am already using ARM to provision the QnA maker components themselves. This is what is also discussed in the documents you sent.

However, to call the QnA Maker answering endpoint from a bot application, you need the **endpointKey** (**not the subscriptionKey**) and this is the point that I cannot find whether it is supported.

I want to automate the pro

[2019-08-23 07:35] PanosPeriorellis commented on #37368
The Url you point out is the STS, for getting tokens that authenticate you with the service endpoints. The 2nd Url is the swagger spec of the REST API.

[2019-08-23 08:00] josefblaha opened #37676 "ASP.NET Core?"
A new sample for ASP.NET Core or link to an existing one would be helpful. This one targets .NET Framework.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf04450a-028e-cc23-d9b3-880a1b5c0fd5
* Version Independent ID: ac05d3c4-0379-0f34-9e17-787fb95b7189
* Content: [Azure AD v2.0 ASP.NET web server getting started](htt

[2019-08-23 08:09] hemapriyamaheswaran commented on #16859
Is there any way to create One load balancer support for multiple backend pools using terraform code? I am not able to create by terraform

[2019-08-23 08:22] neeleshray-msft commented on #37371
@iainfoulds Could this be verified and changed in the document if necessary ?

[2019-08-23 08:27] neeleshray-msft commented on #37398
@mmacy Could the hyperlink be checked in the "[Endpoints](https://docs.microsoft.com/en-in/azure/active-directory-b2c/active-directory-b2c-reference-tokens#endpoints)" section ?

[2019-08-23 08:27] colindooley11 opened #37677 "Guest Executable Ctrl + C not being fired by SF"
Thankyou for pointing me to the location of the exit codes directly.    And so onto the next issue.
Given a guest executable what actions instigate an exit code  of 7147 (Graceful exit)

I want to use this to help signal shutdown and then manage gracefully cleaning up resources.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-08-23 08:37] kgopi05 commented on #37615
my existing vm having only the internal DNS resolution and no public DNS resolution , i need to find dns forwarding or some host file entry .. i will look into that .. thank you for help ..

[2019-08-23 08:37] #37615 closed

[2019-08-23 08:40] SwathiDhanwada-MSFT commented on #37362
@bwren can you please provide your insights on this?

[2019-08-23 08:45] AshokPeddakotla-MSFT commented on #37584
@kudlatiger Please check [Use an existing IoT hub with the Device Simulation solution accelerator](https://docs.microsoft.com/en-us/azure/iot-accelerators/iot-accelerators-device-simulation-choose-hub) and let us know if that helps.

[2019-08-23 08:49] psteniusubi commented on #37553
Hi @neeleshray-msft
I think this is now working. I tried again today and now pending requests appear, I can approve the request and complete the tutorial.
Thanks.

[2019-08-23 08:52] thi-baut commented on #37398
@neeleshray-msft @mmacy I don't think that a "confidential code flow" exists, we can talk about the "authorisation code flow" or a "confidential client" but maybe both concepts were mixed here?

With an implicit flow, response_type=token, we should get an access token from the /authorize endpoint

With an authorisation code flow, response_type=code, we should get an authorization code from the /au

[2019-08-23 08:55] jkonecki opened #37678 "GenCert command line option description confusing"
"Command-line tool reference" section contains the description of GenCert command-line parameter. The usage is however a bit confusing:

CosmosDB.Emulator.exe /GenCert[&lt;comma-separated list of additional dns-names&gt;]

The actual usage is:

CosmosDB.Emulator.exe /GenCert=&lt;comma-separated list of additional dns-names&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-08-23 09:05] juyama opened #37679 "Does Azure Files support hard links on Linux?"
Does Azure Files support hard links on Linux? If no, could you update this doc?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 534b3ef3-5664-973e-b146-8c1f960bf536
* Version Independent ID: 57c3ce18-2857-8ed0-10a5-5061d391a079
* Content: [Frequently asked questions (FAQ) for Azure Files](https://docs.microsoft.com/en-u

[2019-08-23 09:07] BryanTrach-MSFT commented on #36380
@Pancat007 Thank you for the feedback. We have assigned the item to the doc author.

@cephalin We verified that the portal experience has changed compared to what is shown in the doc. We are unable to update pictures in articles. Is this something you can look at. There is also a suggestion to call out that the doc should point out that the container should be started before adding the code.

[2019-08-23 09:12] jakaruna-MSFT commented on #37669
@Eldar1205 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-08-23 09:12] jakaruna-MSFT commented on #37669
@dlepow Please validate the request

[2019-08-23 09:14] AjayKumar-MSFT commented on #37306
@jorgecarleitao, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2019-08-23 09:14] #37306 closed

[2019-08-23 09:19] jakaruna-MSFT commented on #37674
@amkarmak Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-08-23 09:20] jakaruna-MSFT commented on #37674
@RicksterCDN Please validate and update the doc as required

[2019-08-23 09:21] dominicbetts commented on #37584
@kudlatiger - which solution accelerator(s) are you interested in using with your existing devices and hub? By default, the remote monitoring solution accelerator deploys a new IoT Hub - however the deployment is customizable if you make changes in the VM to modify the connection strings the Docker image uses. However, your particular scenario isn't documented. As an alternative, is it possible to

[2019-08-23 09:21] ManojReddy-MSFT commented on #37676
@josefblaha Thanks for the suggestion. We do have a sample for .NET core available [here](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/1-WebApp-OIDC). Generally, sample covering all scenarios and languages are available [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/sample-v2-code).