[2018-10-29 16:41] pratik11jain opened #17837 "cpu allocation of pods reaches ~90% even with --scale-down-utilization-threshold=0.5"
I updated  --scale-down-utilization-threshold from 1 to 0.5  and redeployed the cluster autoscaler and then I redeployed all my services. Still the 'CPU requests' on the kubernetes portal shows ~90% for most of the nodes (with same number of nodes as initial). As the services were redeployed the CPU requests should have come down to ~50% (with more nodes).

---
#### Document Details

⚠ *Do not edi

[2018-10-29 16:42] YutongTie-MSFT commented on #17835
@ymnliu Thanks for the feedback, I have fixed it and you should see the change shortly.

[2018-10-29 16:42] dlepow commented on #17520
@porrascarlos802018 - Thanks for your question. I will log this as a potential future doc work item, since we don't currently document this specific scenario. Can you please provide more information, such as the type of database your customer is considering and details about the task and output? Would using a file share instead of a database be an option? Thank you.

[2018-10-29 16:43] Adam-Smith-MSFT commented on #17659
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-29 16:43] #17659 closed

[2018-10-29 16:48] Adam-Smith-MSFT commented on #17812
@MourIdri Thank you for the valuable feedback,we are investigating the issue.

[2018-10-29 16:48] mike-urnun-msft commented on #17825
Hi @StefH Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-10-29 16:49] Adam-Smith-MSFT commented on #17594
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-29 16:49] #17594 closed

[2018-10-29 16:50] cherylmc commented on #17627
Checking with the PM

[2018-10-29 16:53] rolyon commented on #17421
Hi @mganeshphani
Thanks for your feedback. I'll review this when I update this article.
thanks

[2018-10-29 16:54] mike-urnun-msft commented on #17277
Hi @JasonBSteele We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-29 16:54] #17277 closed

[2018-10-29 16:56] rolyon commented on #16389
Hi @ediazrod and @JulienFloris
Let me know if you have any other feedback about this.
thanks

[2018-10-29 17:02] BryanTrach-MSFT commented on #17814
@KalpeshChaudhari Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-29 17:02] golfalot opened #17840 "Broken link on "logging""
In the following section:
applicationInsights
Controls the sampling feature in Application Insights. In version 2.x, this setting is a child of logging.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27150c55-615f-fb44-d5e4-7b5815631c7d
* Version Independent ID: 271006dc-afce-99f3-0790-41fa2e35b22b
* Content: [host.jso

[2018-10-29 17:06] Adam-Smith-MSFT commented on #17802
@n3wt0n Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-29 17:06] maertendMSFT commented on #17820
@rs38, thanks for the feedback.  We are currently have improvements for these experiences in the backlog.  As for the content that is displayed in code blocks, the prompt and outputs are included since they provide more context into the use scenarios than only having the cmdlet.

[2018-10-29 17:07] Adam-Smith-MSFT commented on #17803
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-29 17:10] #16748 closed

[2018-10-29 17:12] Adam-Smith-MSFT commented on #17818
@mcurko Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-29 17:12] DimsumPanda opened #17841 "Unable to add Security Group to another Security Group"
I logged in as a global administrator and tried to add a security group to another security group (a sharing group) following this documentation with the UI. I get a notification "Successfully added group members" in the UI, but the member is not listed as a member of the sharing group.
I also tried using the Powershell Add-AzureADGroupMember and get an error when I try to add the group to another

[2018-10-29 17:13] MarileeTurscak-MSFT commented on #17651
Hi @pacmand , I believe if you change the password for an existing user, the user will need to enter that password as a security measure. @MicrosoftGuyJFlo can you please confirm?

[2018-10-29 17:20] Adam-Smith-MSFT commented on #17827
@Flodu31 Could you please post your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazureonlinebackup , since it's not relevant to the documentation ?
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-29 17:20] #17827 closed

[2018-10-29 17:21] Adam-Smith-MSFT commented on #17833
@mmyk Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-29 17:28] MChrys commented on #17821
I would re-open the issue, because I think I found  a way to using the note book but the problem sustain .

**Jupyter** local host and my **MV Azure** shoudl be connect just by using` 40.66.49.75:8000/ `.
But actually  I have to open the virtual env jupyter notebook on X2go , and after open a tunnel with putty.
If i don't open the **jupyter notebook**  from the **virtual azure machine** on **X2go*

[2018-10-29 17:30] YutongTie-MSFT commented on #17582
@Philippepaiola Hi, I have assigned @tysonn to secondary triage this issue. He will take care your content. Thanks for help us building Azure docs.

@tysonn Hi Tyson, can you please take a look of this issue? There is one of our French employee wants to contribute new content to Azure docs.

[2018-10-29 17:35] jasonshave opened #17842 "Testing locally with AuthorizationLevel = "Function""
Is it possible to use 'func host start' command-line to test a function which has a requirement for the AuthorizationLevel set to "Function"? If so, it would be great to have an example of this here too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2646ad4-34b7-fc5e-dcc9-d53a061df394
* Version Independent ID: bbff4f

[2018-10-29 17:38] siriwanussavapitukpong opened #17843 "Help me please! I want you to help me!"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-10-29 17:43] cynthn commented on #17623
@jimdial Can you help clarify the NIC requirements for VMs in an availability set?

[2018-10-29 17:45] roygara commented on #17818
@mcurko Hello, thanks for bringing this to our attention. The parameter no longer exists because the functionality is actually now on by default. We'll remove the parameter from the article.

#please-close

[2018-10-29 17:48] MarileeTurscak-MSFT commented on #17775
Hi @dkbriley , thanks for the feedback. From what you have described this seems like more of a product issue than a document issue. Would it be possible for you to file a bug in the portal and also create a User Voice request for the above mentioned issues and the error message? https://feedback.azure.com/forums/169401-azure-active-directory

[2018-10-29 17:53] ggailey777 commented on #17842
@jasonshave the Core Tools (local func.exe) currently ignores authorization level settings. Please vote for [this feature request](https://feedback.azure.com/forums/355860-azure-functions/suggestions/33452788-support-authentication-for-azure-function-core-too) to have it enabled.

[2018-10-29 17:54] kobulloc-MSFT commented on #17828
@solstarz Thank you for the feedback!  We've assigned this to the document author so they can update the Mac instructions accordingly.

[2018-10-29 17:54] badalk opened #17845 "Communication between AKS and ACR"
Would like to know how AKS pulls the image from ACR during the time of deployment. Does the pull happens on internet or Azure backbone network. And in either case does it happen over the HTTPS REST endpoint and hence the transport channel is secured? If its on the backbone, is the channel encrypted? Where can i find more documentation on this?

---
#### Document Details

⚠ *Do not edit this sectio

[2018-10-29 17:55] JasonWHowell commented on #17406
@sumit5grg5 The issue is a known problem, but the fix will take some time. The engineering team is aware and tracking it, and is planning an update to fix it in the near future. I'm not sure of the release schedule though, so I can't be of more help for now. Thanks, Jason

[2018-10-29 17:56] MicrosoftGuyJFlo commented on #17651
Yes @MarileeTurscak-MSFT that is accurate.

[2018-10-29 17:59] rothja commented on #17626
@peddabavisriram I sincerely apologize for the delayed response. I own this article but I am not the subject matter expert in this specific Azure area. @vhorne Are you the content lead for this area? Could you hep us determine if there is an undocumented limit here and whether that is intentional?

I'll make sure we keep investigating this. Thank you!

[2018-10-29 18:00] maertendMSFT commented on #15082
We have updated the documentation with the correct remoting cmdlets.
#please-close

[2018-10-29 18:00] femsulu commented on #17819
@SychevIgor Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-29 18:00] MicahMcKittrick-MSFT commented on #17845
Thanks for the question! We are investigating and will update you shortly.

[2018-10-29 18:01] TravisCragg-MSFT commented on #17748
@bdcoder2 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-29 18:02] femsulu commented on #17822
@paulmackinnon-adv365 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-29 18:03] TravisCragg-MSFT commented on #17784
@jtuliani Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-29 18:03] siriwanussavapitukpong opened #17846 "I want you help me please!"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-10-29 18:04] femsulu commented on #17826
@mchudinov Thanks for the Comment. We are actively investigating and will get back to you soon.

[2018-10-29 18:05] jnfarmer commented on #5850
If you're alread using a G Suite app for single sign on, set up another G Suite app for provisioning.

[2018-10-29 18:05] MicahMcKittrick-MSFT commented on #17837
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-29 18:06] MicahMcKittrick-MSFT commented on #17836
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-29 18:08] vladvino commented on #17825
The error is expected and is pretty clear. Rate limit (by product) policy is supported at a product scope only - see https://docs.microsoft.com/en-us/azure/api-management/api-management-access-restriction-policies#LimitCallRate.

[2018-10-29 18:08] rothja commented on #17819
@SychevIgor I will confirm and then remove. Thank you. You can also edit the article directly by clicking the "Edit" button and submitting the change. You would then be marked as a collaborator on the article. Let me know if you'd like to do that or if I should go ahead with the change. Thanks!

[2018-10-29 18:09] rothja commented on #17613
@declang Thanks for pointing this out. I need to investigate and make sure we get it right in both places. Thanks for your patience.

[2018-10-29 18:09] jeevaeastpoint commented on #17718
@YutongTie-MSFT We have a static website which uses some npm packages and gulp tasks. There no web.config defined for this project. The pages uses Server Side includes and I have tried deploying to Azure WebApp but no luck. During local development we have enabled SSI in the IIS webserver and i guess the Azure webapp uses IIS under the hood. My question is

1. Is SSI module is enabled by default?

[2018-10-29 18:11] MicahMcKittrick-MSFT commented on #9835
@mahesh-unnikrishnan can you comment on this?

@Karishma-Tiwari-MSFT @iainfoulds looks like I can reassign to Mahesh again

[2018-10-29 18:11] YutongTie-MSFT commented on #17501
@mqasem92 We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-29 18:11] #17501 closed

[2018-10-29 18:14] MicahMcKittrick-MSFT commented on #16774
@bizinbarefeet any update on this?

[2018-10-29 18:15] YutongTie-MSFT commented on #16726
@ArvidBaa We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-29 18:15] #16726 closed

[2018-10-29 18:17] #17575 closed

[2018-10-29 18:19] code4t2 commented on #17822
Perhaps I could help fix this?

[2018-10-29 18:24] kundan123456 opened #17847 "Getting ResourceGroupNotFound Error when trying to create Monitor alert using Terraform"
# Issue Explanation

We wish to create a monitor alert for API Management Services in azure using terraform template. But when we are trying to create it we are getting below error:

**Error creating or updating metric alert "_name_of_API_alert_" (resource group "_VMGroup_"): insights.MetricAlertsClient#CreateOrUpdate: Failure responding to request: StatusCode=404 -- Original Error: autorest/azure

[2018-10-29 18:29] chendley80 opened #17848 "Add Device to Azure AD Security Group"
Is there a way to add devices to a security group through powershell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b994ee0-d0b5-715f-bc48-44d8256499d7
* Version Independent ID: 6fda2b17-e142-8087-b47f-f589a3cfa1d8
* Content: [PowerShell examples for managing groups in Azure Active Directory](https://docs.microsoft.c

[2018-10-29 18:30] MightyPen commented on #12676
@MightyPen
This GH Issue.....
https://github.com/MicrosoftDocs/azure-docs/issues/12676
…..was auto Closed when the following PR was Merged into 'master':
.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/48492
.
The crucial syntax was the precise Title of the PR (no bounding quotes):
"fixes MicrosoftDocs/azure-docs#12676"
.
Notice that the PR was in the private repo, while this Issue was in th

[2018-10-29 18:33] MightyPen commented on #12676
Oh crud, the Comment box ruined my plain text of the Title syntax.  So here is a disturbed approximation, in plain text.  There is supposed to be one space after the word 'fixes', but no other spaces, despite the spaces being necessary here:
.
fixes MicrosoftDocs / azure-docs # 12676

[2018-10-29 18:34] YutongTie-MSFT commented on #17718
@jeevaeastpoint Thanks for your clarification. @BryanTrach-MSFT will help you to solve it.

[2018-10-29 18:35] MarileeTurscak-MSFT commented on #17841
@DimsumPanda
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-29 18:36] MarileeTurscak-MSFT commented on #17848
@chendley80
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-29 18:36] iainfoulds commented on #9835
Thanks, @MicahMcKittrick-MSFT. Not sure why @mahesh-unnikrishnan was unassigned. He's still best served to provide a response.

CC: @cynthn

[2018-10-29 18:37] MarileeTurscak-MSFT commented on #17834
@Yegmorcar
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-29 18:37] MarileeTurscak-MSFT commented on #17830
@MikeDembek
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-29 18:38] MarileeTurscak-MSFT commented on #17832
@JamesTerHark
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-29 18:39] curtand commented on #17748
Hi @bdcoder2
Thanks for your investigative work! I'm filling in for the author Jim Dial temporarily. I'll get a PM to confirm and then update the docs.

[2018-10-29 18:40] curtand commented on #17609
Hi @jtuliani
Thanks for your investigative work! I'm filling in for the author Jim Dial temporarily. I'll get a PM to confirm and then update the docs.

[2018-10-29 18:40] curtand commented on #17608
Hi @jtuliani
Thanks for your investigative work! I'm filling in for the author Jim Dial temporarily. I'll get a PM to confirm and then update the docs.

[2018-10-29 18:42] chetansriv commented on #16692
@rkondru Please note that we have inbuilt the fixed Identifier (https://samlsp.bluejeans.com) in our package so customers don't need to enter this on Azure portal now. We have updated the tutorial with new UI as well.

#please-close

[2018-10-29 18:43] curtand commented on #17585
Hi @cr-gstirling
Thanks for your investigative work! I'm filling in for the author Jim Dial temporarily. I'll get a PM to confirm and then update the docs.

[2018-10-29 18:43] MicahMcKittrick-MSFT commented on #17604
@xenalite I will close this for now. If you feel you need more information let me know and we can always reopen and continue.

[2018-10-29 18:43] #17604 closed

[2018-10-29 18:43] curtand commented on #17431
Hi @munozrickT4S
Thanks for your investigative work! I'm filling in for the author Jim Dial temporarily. I'll get a PM to confirm and then update the docs.

[2018-10-29 18:44] curtand commented on #17318
Hi @kazshi
Thanks for your investigative work! I'm filling in for the author Jim Dial temporarily. I'll get a PM to confirm and then update the docs.

[2018-10-29 18:46] njdullea opened #17850 "ToDoItem Table location on Azure."
The way I understand this works, is that I create a note on the IOS app, and it is stored in the ToDoItem table in the Azure portal. Is this correct? And where in the Azure portal can I view the ToDoItem Table?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 312c8a1a-d55e-26da-699b-6ae9bb4f6ca7
* Version Independent ID:

[2018-10-29 18:46] MicahMcKittrick-MSFT commented on #17633
@wuffers can you share the errors you were seeing and at what steps you were getting the errors?

[2018-10-29 18:47] MicahMcKittrick-MSFT commented on #17636
@tjhgit got it.

@dlepow can you take a look?

[2018-10-29 18:48] aybassiouny opened #17851 "Add info on integrating certificates into RunAs policy"
This tutorial should add info on integrating certificates into RunAs plicy a la certificate `SecurityAccessPolicy`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abd8c3f9-05d2-28d0-64a3-6706bf6d3a78
* Version Independent ID: 922c7bb3-a4a6-6f3e-794e-ea4a75d44e32
* Content: [Run an Azure Service Fabric service under syst

[2018-10-29 18:48] MicahMcKittrick-MSFT commented on #17675
@hylinux any update on this?

[2018-10-29 18:49] MicahMcKittrick-MSFT commented on #17684
@AronT-TLV I will close this out for now. If you want to discuss anything further let me know and we can always reopen and continue.

[2018-10-29 18:49] chetansriv commented on #8409
@tmaeller Can you please confirm on above

[2018-10-29 18:52] MarkAtAgilliance opened #17852 "Cover if MSI's can be added to groups"
Hi - I know this is a product question (can a system assigned managed service identity be added to an AAD group?) but great if we can cover "yes you can"/"no you can't" in the docs.
Mark.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bd6bdc9-b545-f273-dc80-eeb69107d919
* Version Independent ID: dbbbadd6-f533-33e3-1c1

[2018-10-29 18:54] CKeene78 opened #17853 "Javascript + Graph Token not working."
Trying to accomplish the Javascript + Graph Token example with Azure Functions running locally in VSCode.

Copied/pasted the Javascript + Graph authentication code. In theory, should work, but receiving "No job functions found. Try making your job classes and methods public. If you're using binding extensions (e.g. Azure Storage, ServiceBus, Timers, etc.) make sure you've called the registration m

[2018-10-29 18:54] TravisCragg-MSFT commented on #17796
@MattCotterellNZ [Static IP Restrictions for an App Service](https://docs.microsoft.com/en-us/azure/app-service/app-service-ip-restrictions) is a way of allowing or denying access to a web app via a public endpoint. The "static" in the name is misleading, and it does not have to be a static IP.

[2018-10-29 18:56] TravisCragg-MSFT commented on #15279
@richardcox13 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-29 18:56] #15279 closed

[2018-10-29 18:57] kazshi opened #17854 "Applies to Linux?"
Does this content apply to Linux OS as well, Patch Tuesday for example?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcf38a69-0b93-59a8-352e-425c4e8e5a66
* Version Independent ID: 1152577f-5a60-a33a-908a-29763c21e122
* Content: [OS and runtime patching in Azure App Service](https://docs.microsoft.com/en-us/azure/app-

[2018-10-29 18:58] CarlRabeler commented on #12214
#please-close

[2018-10-29 19:01] TravisCragg-MSFT commented on #12946
@rakeshramk We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-29 19:01] #12946 closed

[2018-10-29 19:01] CarlRabeler commented on #16900
#please-close

[2018-10-29 19:02] CarlRabeler commented on #16901
#please-close

[2018-10-29 19:02] code4t2 commented on #17822
The clone's taking too long. How do you guys do it?

[2018-10-29 19:03] nsivapalan commented on #17798
Created a PR here: https://github.com/MicrosoftDocs/azure-docs/pull/17855

[2018-10-29 19:04] cijothomas opened #17857 "Detail about what the response time measures"
https://docs.microsoft.com/en-us/azure/application-insights/app-insights-web-monitor-performance#average-response-time
"Measures the time between a web request entering your application and the response being returned." - need to explicitly call out what this time includes and what it doesn't. (Call out that time spend in IIS queue is not counter in the case of Asp.Net, etc)

---
#### Document Det

[2018-10-29 19:05] ggailey777 commented on #17842
#please-close per SLA.

[2018-10-29 19:05] kazshi commented on #14013
@CarlRabeler I confirmed the pricing page was updated. Thanks!

[2018-10-29 19:05] #14013 closed

[2018-10-29 19:05] cijothomas commented on #17857
Also need to mention about whether the time includes the overhead by the SDK itself.

[2018-10-29 19:09] #16901 closed

[2018-10-29 19:10] Yegmorcar commented on #17834
My apologies, I realized that the Policy ID is different in the error that was shown in Visual Studio and Azure. I've changed it after taking the error screenshot. The error is still the same, however.

[2018-10-29 19:18] jasonshave commented on #17842
Would still be valuable to list that as a constraint on this page though. Thanks.

[2018-10-29 19:22] tmaeller commented on #8409
@chetansriv @jeevansd
This is the only change that would need to be made. The URLs supplied in your guide are not correct.

-------------------------------------------------------------------
**Configuring and testing Azure AD single sign-on**

3. In the 8x8 Virtual Office Domain and URLs section, add **https://sso.8x8.com/saml2** to the Identifier and Reply URL fields.

![image](https://user-imag

[2018-10-29 19:22] b42thomas opened #17858 "Store in Azure Key Vault - Help"
Im getting stuck here, please help.
I create a key vault but when I try to store the certificate in key vault, I get an error `Failed to update permissions on selected Key Vault. Check below errors for more detail.: An invalid value was provided for 'accessPolicies'.`
Even when all access policies are selected when creating the key vault, it still doesn't work.

---
#### Document Details

⚠ *Do no

[2018-10-29 19:23] CarlRabeler commented on #9394
article updated
#please-close

[2018-10-29 19:23] ggailey777 commented on #17842
@jasonshave yes, you are correct. For some reason I thought we mentioned it here, but I think we only do that in the quickstarts. I will add something to that effect.

[2018-10-29 19:33] douglaslMS commented on #17261
@saulcruz If the the **Override template parameters** screen in the Data Factory UI is in fact outputting numbers incorrectly as strings in the JSON template, it seems that the template generation needs to be fixed. In that case, the docs will not need additional examples, because the problem that you encountered will no longer occur. Does this sound right?

If you have an open support case for th

[2018-10-29 19:34] robbiezhang opened #17860 "Nanoserver-iis Sample doesn't Work"
It throws exception: "The Deployment "nanoserver-iis" is invalid: spec.template.metadata.labels"
https://github.com/virtual-kubelet/virtual-kubelet/issues/384

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: acfb234b-c0db-3e6a-7938-cab614d530c0
* Version Independent ID: 2adff671-6ccb-d84a-f689-8b0d72b1577c
* Content: [Ru

[2018-10-29 19:37] nboettcher commented on #17013
Is there an update on these claims? I am trying to set one of these up right now.

[2018-10-29 19:40] MicahMcKittrick-MSFT commented on #17740
@pratik11jain how are you deleting the auto scale deployment? Are you simply removing the auto scale rules?

As per manually scaling, you should still be able to manually scale the nodes

https://docs.microsoft.com/en-us/azure/aks/scale-cluster

What do you mean when you say using this breaks your cluster?

[2018-10-29 19:44] MicahMcKittrick-MSFT commented on #17821
@gopitk can you take a look at this?

[2018-10-29 19:45] MicahMcKittrick-MSFT commented on #17836
@msfussell I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-29 19:48] saulcruz commented on #17261
Douglas,
As usual, thanks for your reply.

Last week (4 days ago) I opened a support case for this issue.  I've explained every detail already and the status is: "we have raised an internal case to the product team for detailed investigation."

As soon as I get a reply, I will get back to you.

[2018-10-29 19:48] MicahMcKittrick-MSFT commented on #17837
@pratik11jain we can work off of your original issue #17740

[2018-10-29 19:48] #17837 closed

[2018-10-29 19:50] douglaslMS commented on #17261
@saulcruz Thanks for the status. I want to make sure I'm not overlooking any correction or clarification needed in the docs. But if they fix the template generation, it seems to me like the docs are OK as is.

[2018-10-29 19:58] gopitk commented on #17821
Jupyterhub is what should be listening to port 8000 and is available externally to access from a browser. You will get a cert warning because by default we only have a self signed certificate. You can skip past the cert warnings if you not accessing critical data (otherwise you will need to install a real certificate).

Please confirm that Jupyterhub service is started on your machine. You can SSH

[2018-10-29 19:59] MicahMcKittrick-MSFT commented on #17845
To pull an image you will utilize the docker pull command. This command will be used regardless of if you are using an Azure Container Registry or another registry to pull your images from. This is done over the internet.

You can read more details about how the pull command works here:

https://docs.docker.com/engine/reference/commandline/pull/

The above link discusses how docker pulls an image

[2018-10-29 19:59] marcelo2605 opened #17861 "Can't test my streaming URL"
I follow all the steps but when I try to test my streaming URL (https://amsaccount-usea.streaming.media.azure.net/a195bc4a-cdc0-4072-b05f-fafe717e2ca4/Ignite-short.ism/manifest(format=m3u8-aapl)) on https://ampdemo.azureedge.net/azuremediaplayer.html, it show an error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bba

[2018-10-29 20:01] MicahMcKittrick-MSFT commented on #17851
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-29 20:01] MicahMcKittrick-MSFT commented on #17860
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-29 20:03] TerryLanfear commented on #10347
@axelgMS - Thanks for your question. Security Center uses the Microsoft Monitoring Agent (MMA) – this is the same agent used by the Log Analytics service – to collect security data from your Azure virtual machines.  The MMA is configured to report to one or more Log Analytics workspaces. The MMA service collects events from log files and Windows event log, performance data, and other telemetry and

[2018-10-29 20:04] tFable commented on #17739
I have some additional info from my testing (can also be found on ticket 118102721000039.)

When a UDR ,mapped to the Gatewaysubnet, mentions IP subnets that are part of the VNET or peered VNET's address space and it designed to "steers" traffic to an NVA, the UDR is honored and P2S traffic is routed via the NVA. However, if the UDR references on-premises destinations, then the UDR is not honored

[2018-10-29 20:10] gottagetgit commented on #17725
Wow, great. Much more useful. :)

[2018-10-29 20:10] ashleywb opened #17865 "Using MSAL to get tokens without using MSAL to sign in"
Is the following supported? Using MSAL to get tokens without using MSAL to sign in. If not, do you know when support will be added?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 390c6d26-c7f8-6821-f3a8-ecb34c3b1a2a
* Version Independent ID: 7b696c88-56c4-1a1c-95eb-30c2dd42a5f1
* Content: [Azure AD v2 JavaScript quicks

[2018-10-29 20:11] TerryLanfear commented on #10347
#close

[2018-10-29 20:11] MChrys commented on #17821
Thank you for your answer, problem is not resolve , but I think you lead the right track :
`sudo systemctl jupyterhub status` return me `Unknown operation jupyterhub`
![image](https://user-images.githubusercontent.com/18635108/47677373-33420000-dbbf-11e8-9f8e-d95b61319ffc.png)

[2018-10-29 20:12] acbrazie opened #17866 "Failed to save manifest. Error details: InvalidLength"
Is there a maximum line count or roles for the the manifest?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f7ced07-0b71-715f-749b-180567591c72
* Version Independent ID: 8c533d7b-a058-3f1a-c296-9c0305f85f13
* Content: [Understanding the Azure Active Directory app manifest](https://docs.microsoft.com/en-us/azure/active

[2018-10-29 20:14] badalk commented on #17845
thanks @MicahMcKittrick-MSFT . My question was more on this comment from the doc link you shared from docker

**Docker uses the https:// protocol to communicate with a registry, unless the registry is allowed to be accessed over an insecure connection. Refer to the insecure registries section for more information.**

Assuming ACR is accessible only through secured connection i.e. https

Regards
Ba

[2018-10-29 20:15] ecfan commented on #17557
I've opened a bug to improve the error message. Thanks!

[2018-10-29 20:16] anzaman commented on #17739
Thank you for the feedback, we will add this scenario to the documentation.

-Ali

[2018-10-29 20:17] kyleloyka opened #17867 "AzCopy OAuth login fails"
After running `azcopy login` and signing in with my Azure account, I see the following response on the sign in page:

“User account &lt;redacted&gt; from identity provider &lt;redacted&gt; does not exist in tenant ‘Microsoft’ and cannot access the application &lt;redacted&gt; in that tenant. This account needs to be added as an external user in the tenant first. Sign out and sign back in again wit

[2018-10-29 20:18] tFable commented on #17739
Thank you @anzaman

Can you please let me know if "steering" P2S traffic destined for on-premises via a Network Virtual Appliance is supported?

Thanks,
Tony

[2018-10-29 20:20] anzaman commented on #17739
Yes, but you have to be careful with applying UDR to the gateway subnets.

[2018-10-29 20:22] tFable commented on #17739
Hey @anzaman

Can you please clarify? I have tried using a UDR that references on-premises subnets and applied it to the Gatewaysubnet, however, P2S traffic destined for those on-premises subnets never hits the NVA. I have ensured that the correct routes were manually added on the P2S client.

Please take a look at ticket 118102721000039 for some detailed testing results.

It would be fantastic if

[2018-10-29 20:22] anosov1960 commented on #14186
@chadgr, thanks for the inquiry. The 4th node is created in one of the three zones based on the capacity situation.  It is not shown because it an is a supplemental replica that we need for large databases in order to maintain the SLA. Yes, we only use one replica for read-scale. The others are used to support the maintenance tasks.

[2018-10-29 20:23] iainfoulds commented on #17860
https://github.com/MicrosoftDocs/azure-docs/pull/17859 has already been signed off to address this.

[2018-10-29 20:23] jasonshave commented on #17842
Hey actually it looks like a better way to achieve this is through Azure Function Proxies. You can abstract the  need to provide a token by using a proxy. Then func.exe will load up the proxy URL and 'hide' the need for a key. You can pass parameters to the path for dynamic routing/etc. Explained here: https://youtu.be/9J_vpXPbpkc

[2018-10-29 20:24] rwike77 commented on #17511
@SychevIgor   Hi, thanks for the feedback.  Yes, we should be using "Application Insights" here and not "AI".  I'll update.

[2018-10-29 20:32] MicahMcKittrick-MSFT commented on #17723
@hassanbabaie I reached out to a few folks in the Availability sets team however there is no additional information to share at this time on an ETA. We'll update this page once we have any update on availability in other regions. Apologies I was unable to provide any additional details on this.

[2018-10-29 20:32] #17723 closed

[2018-10-29 20:32] anosov1960 commented on #16370
@jzuchora87, this error is likely caused by a performance issue (regression) that was recently fixed. Assuming that the LTR policy is enabled, can you pls verify and report if it persists.

[2018-10-29 20:33] MicahMcKittrick-MSFT commented on #17860
Thanks @iainfoulds

@robbiezhang as mentioned, this is addressed in #17859

Changes will go live shortly.

[2018-10-29 20:33] #17860 closed

[2018-10-29 20:36] MicrosoftGuyJFlo commented on #17651
@pacmand Its not no passwords period it is very few points that require a password. Work is being done to get the number to zero.

[2018-10-29 20:50] AronT-TLV commented on #17684
Sorry for not responding earlier, got caught up in other work and couldn't test this. I have two questions/comments:

1. The default "nat" is defined as an "Internal"  switch type just like this one. If I followed all the steps (adding IP address and DHCP range) to the default "nat" why wouldn't that work? (as I said I haven't had time to try it yet, but I don't see anything in the documentation t

[2018-10-29 20:51] MarileeTurscak-MSFT commented on #17714
I created a pull request with the shortened package names for @kszicsillag to review. (@kszicsillag if you'd prefer, feel free to tag me and I can reassign the issue to you.)

I think it's okay as is because it allows the user to see an example package but I can see the benefits of both.

[2018-10-29 20:51] #17714 closed

[2018-10-29 20:54] draggeta commented on #17726
@echuvyrov
Well, it is enough to get it to work. However, a more novice IT person might not think much of using the example and committing it to git as is.

In my opinion it is better to warn them that putting the creds in the provider block might not be a good idea even if it works. A separate file that won't be committed or the environment variables are superior and don't cost that much more eff

[2018-10-29 21:01] CKeene78 opened #17868 "Javascript + Azure Functions + MS Graph (Authentication)"
VSCode and Functions Runtime v2, trying to locally create/test an Azure Function to connect to the MS Graph with Javascript. Authentication is not working as I get the "error while accessing 'X-MS-TOKEN-AAD-ID-TOKEN': property doesn't exist" on the binding. Almost makes sense, but where/how do I get the user's token to pass to this binding? My impression was that these example (and template) was s

[2018-10-29 21:03] dlepow commented on #16924
@EstebanSmits - Thanks for pointing out your experience and workaround (and helpful write-up). Ultimately there are shell/environment specific differences in how these strings need to be formatted and parsed - CLI vs PowerShell vs Portal vs YAML, etc. And these conventions aren't always well documented for each tool. I am looking into standardizing our examples in this article, at least, so that c

[2018-10-29 21:06] LisandroSu opened #17869 "SkuNotAvailableエラー"
@Seiji-Tozaki commented on [Mon Oct 29 2018](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/857)

前提条件のIoTEdgeデバイスを作成するためのコマンドでタイトルのエラーが発生します。
リソースグループでリージョンをwestusに設定されていますが、westusでは利用できないSKUを指定してしまっているのでしょうか？

対応策をご教示ください。

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: e2289383-6ce2-a036-c710-7d1fad6e1700
* Version Independent ID: 3b90294

[2018-10-29 21:07] LisandroSu commented on #17869
Hi team,
Please check below a rough translation of the issue:

_A title error occurs with the command to create the prerequisite IoTEdge device.
Is the region set to westus in the resource group, but is it that you specified SKU that can not be used with westus?_

Thanks!

[2018-10-29 21:07] navyasric commented on #17865
@ashleywb You can find the information for this scenario on this MSAL.js Wiki page:
https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/Sso

[2018-10-29 21:09] Vasanth1981 opened #17870 "SAML 2.0 Support?"
Is Azure AD B2C support SAML 2.0 protocol?

[2018-10-29 21:10] kobulloc-MSFT commented on #17857
@cijothomas Thank you for pointing this out.  I'm going to assign this to the document author so this can be updated accordingly.

[2018-10-29 21:12] kobulloc-MSFT commented on #17798
@KeiroKamioka0000 Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-10-29 21:20] YutongTie-MSFT commented on #13658
@vashish76 Sorry for the delay. For now, we don't support local image. You need to upload the image. Thanks.

[2018-10-29 21:29] rwike77 commented on #11675
@OlegKarasik  Hi, you can find some more detailed manifest examples here: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-manifest-examples I just added some links to these examples in this article.  Thanks for the feedback.  #please-close

[2018-10-29 21:32] cynthn commented on #15038
#please-close I think all of this made it into the final version of the doc. Just closing out old Issues. Please let me know if more changes are required.

[2018-10-29 21:34] jason-j-MSFT commented on #17077
@dalmat36 the Get Metadata activity supports SFTP.  Take a look here at the supported functions:
https://docs.microsoft.com/en-us/azure/data-factory/control-flow-get-metadata-activity

[2018-10-29 21:34] #17077 closed

[2018-10-29 21:35] jason-j-MSFT commented on #17367
@juanidambrosio could you specify the bug you are referring to?

[2018-10-29 21:36] MicahMcKittrick-MSFT commented on #17684
@AronT-TLV I ran through the doc again and I suppose it would be possible to use the existing adapter. I haven't played around with nested virtualization for a while so I need to test it out. If you can use the first network adapter, we likely have you create a new one to simplify the setup process for users trying this feature for the first time. Rather than having to go back and configure an exi

[2018-10-29 21:36] cloudmelon opened #17872 "Clarification : Public SSL certificate"
Actually, the following three questions confused my team members. From the documentation and azure portal, we know that: Public certificates (.cer) is loaded to the certificate store for your app to consume. The public certificate should not have any private key associated.

==> However, I should submit a CSR to get a public SSL certificate ( X.509 certificate ) can be *.pem, *.crt, *.ca-bundle, *

[2018-10-29 21:36] #11675 closed

[2018-10-29 21:44] jason-j-MSFT commented on #17403
@chilch this does not look like its supported at the moment, I would recommend creating a feedback item in the Azure feedback portal for increased visibility and where the community can upvote it:
https://feedback.azure.com/forums/270578-data-factory

[2018-10-29 21:44] #17403 closed

[2018-10-29 21:46] mmervecerit commented on #10228
Any updates on this issue?

[2018-10-29 21:53] curtand commented on #14539
Hi @blueelvis
Still not updated. I'll follow up with the team.

[2018-10-29 21:53] jason-j-MSFT commented on #17446
@linda33wj we have a request here to explain how service principles are used in copy activities.

[2018-10-29 21:54] ajaypamarthy opened #17873 "ARM template for Azure AD activity logs in Azure Monitor"
Please provide ARM template example for Azure AD activity logs in Azure Monitor

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39bd6875-8c82-02ff-5b74-86bc9ce5b902
* Version Independent ID: d9d36752-ac83-89b1-e22d-32ba6a41d7e5
* Content: [Azure Active Directory activity logs in Azure Monitor (preview)](https://docs.mic

[2018-10-29 21:55] jason-j-MSFT commented on #17450
@dearandyxu could you take a look at this request?

[2018-10-29 21:56] njdullea commented on #17850
I was able to find the table!

[2018-10-29 21:56] #17850 closed

[2018-10-29 21:56] TravisCragg-MSFT commented on #17831
@Klaas- I do not believe we currently have NetworkMananger configurations documented.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-29 21:58] TravisCragg-MSFT commented on #17817
@tomaszbiegacz Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-29 21:58] ajaypamarthy opened #17874 "please provide ARM template example"
please provide ARM template example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2064767f-5304-275a-df9b-e74199b53408
* Version Independent ID: 57dcf6b8-7125-1e0b-c446-34a0a1366a92
* Content: [Tutorial - Stream Azure Active Directory logs to an Azure event hub (preview)](https://docs.microsoft.com/en-us/azure/active-

[2018-10-29 21:59] rwike77 commented on #17511
@SychevIgor  The updates merged and should publish live shortly.  Thanks  #please-close

[2018-10-29 22:01] jason-j-MSFT commented on #17481
@douglaslMS could you take a look at this?  It might be better to have a non-video example if it doesn't already exist.

[2018-10-29 22:06] Grace-MacJones-MSFT commented on #16472
Hi @mcurko, thanks for your patience. If you are using a custom domain name like  www.mycustomdomain.com, you need to create a CNAME resource record on your Internet DNS server to point to the domain name of your Traffic Manager profile. You are not adding another "custom domain". Please keep in mind that custom domain names are not enabled for Free tier.

[2018-10-29 22:07] JazzyWagdaddy opened #17875 "Free Subscription limits not documents here"
We should document the limits of the Free subscription tier.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f-e546-b3ea-f83892f4c23d
* Version Independent ID: 27aecc7b-f107-96d4-b044-ae026bca2727
* Content: [Azure subscription limits and quotas](https://docs.microsoft.com/en-us/azure/azure-subscription-serv

[2018-10-29 22:07] MarileeTurscak-MSFT commented on #17777
Thanks for the feedback, @SamirFarhat . @daveba I made a pull request that includes the parameters specified in the paragraph. Please confirm whether these are correct. I'll close this issue now but wait on the pull request to be approved/denied.

[2018-10-29 22:07] #17777 closed

[2018-10-29 22:10] ArturDorochowicz opened #17876 "Default value of SnapshotsPerTenMinutesLimit is actually 3"
Judging by the logs, the SnapshotsPerTenMinutesLimit option's default value is 3 instead of 1 listed in the documentation article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af126ce9-b961-fd20-e4f2-0c17e43e8423
* Version Independent ID: 7b5d06b9-67bc-4861-2f76-5e62cfa5cf11
* Content: [Azure Application Insights Sna

[2018-10-29 22:10] majorvin commented on #10862
@cloudmelon I had the same problem but I noticed one thing that did work for me.
Make sure that
**publisher** is set to **Microsoft.Azure.Extensions** VS _Microsoft.Computer_  and
**type** is set to **CustomScript** VS _CustomScriptExtension_

[2018-10-29 22:13] cloudmelon commented on #10862
I am not sure if it is the same extension ( need confirmation ), I resolve this actually by keeping CustomScriptExtension but downgrade the version to 1.8 or 1.5 and it went smoothly…

Thanks @Majorvin

[2018-10-29 22:15] YutongTie-MSFT commented on #10228
@noellelacharite @JinYam Do you have any update in this idea? Thanks a lot!

[2018-10-29 22:17] YutongTie-MSFT commented on #17835
@ymnliu We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-29 22:17] #17835 closed

[2018-10-29 22:18] kobulloc-MSFT commented on #15898
@KhaledJemni Is this what you had in mind?

https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-add-products#add-an-api-to-an-existing-product

![image](https://user-images.githubusercontent.com/37556655/47683771-d843e500-db8d-11e8-87c2-f1cd6fb18667.png)

[2018-10-29 22:20] daveba commented on #17777
@MarileeTurscak-MSFT What is the PR number?

[2018-10-29 22:22] cpatte7372 opened #17877 "Parameterize not ready"
Hello Douglas, this feature isn't working as confirmed by Azure engineer. I have opened a ticket with Azure, see ticket number, SR 118102825000189, or speak to  Jayasree Parvataneni (MINDTREE LIMITED) &lt;v-japarv@microsoft.com&gt; who has confirmed that its not working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2

[2018-10-29 22:29] kobulloc-MSFT commented on #9245
@kgreed Thank you again for pointing this out.  The screenshot has been updated and now correctly shows "All Operations" selected.

https://docs.microsoft.com/en-us/azure/api-management/transform-api#set-the-transformation-policy

![image](https://user-images.githubusercontent.com/37556655/47684203-476e0900-db8f-11e8-91fe-7eea6af644e4.png)

We are going to close this thread as resolved but if ther

[2018-10-29 22:29] #9245 closed

[2018-10-29 22:29] douglaslMS commented on #15810
@ToddChitt Thanks for bringing this to our attention. I have opened a PR that fixes the text in both this article and the table of contents to make it clear that the connector is for Quickbooks Online.

[2018-10-29 22:29] YutongTie-MSFT commented on #14996
@ArvidBaa Hi, you should see the change now. Thanks for your feedback. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-29 22:29] #14996 closed

[2018-10-29 22:29] douglaslMS commented on #15810
#please-close

[2018-10-29 22:31] douglaslMS commented on #17877
@cpatte7372 What is it on this page of the documentation that I need to correct or clarify?

[2018-10-29 22:31] Alberto-Vega-MSFT commented on #17423
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-29 22:31] #17423 closed

[2018-10-29 22:33] AronT-TLV commented on #17684
I am playing around with this as well, since I am pretty sure I used the default Nat in the past. Here’s what I tried so far

  1.  Used the default “nat” when setting up the VM
  2.  Did the manual IP setup on Ubuntu once the installation was complete using the IP range of the nat
  3.  Configure with opendns.

So far can’t get out. It could be some mistake in my settings. It’s midnight here will

[2018-10-29 22:33] YutongTie-MSFT commented on #15838
@burstingninja Please refer to [Azure/azure-cli#7591](https://github.com/Azure/azure-cli/issues/7591) ,
we will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-29 22:33] #15838 closed

[2018-10-29 22:33] douglaslMS commented on #17481
@dcbrown16 When you ask about "how these parameters are passed at runtime," are you asking how you provide values for the parameters at run time, or how Data Factory passes them internally? I assume the former, or something close.

[2018-10-29 22:35] curtand commented on #17247
Hi @falmada
I'm picking up work for Jim Dial. I see several requests for service tag updates. I'm following up.

[2018-10-29 22:37] jason-j-MSFT commented on #17655
@fowl2 I'm not sure I completely understand your question, but you could set the cap higher than 160MB depending your traffic patterns.

[2018-10-29 22:37] #17655 closed

[2018-10-29 22:48] douglaslMS commented on #15605
@ToddChitt I found this QuickBooks support article: [How do I find my Company ID?](https://quickbooks.intuit.com/community/Getting-Started/How-do-I-find-my-Company-ID/m-p/185551). We can add this to the doc after my prior change is merged for the other issue you opened.

[2018-10-29 22:49] TravisCragg-MSFT commented on #17710
@tFable We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-29 22:49] #17710 closed

[2018-10-29 22:50] #15810 closed

[2018-10-29 22:53] Alberto-Vega-MSFT commented on #17573
Hi @kkho  Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.
For your specific question you might want to open an issue on the open source repo?https://github.com/aspnet/AspNetCore
Also please read this doc if you haven't yet https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-data-providers

[2018-10-29 23:00] amanarneja commented on #8499
@AdamGrossTX - Sorry for the delay here, this one definitely slipped through the cracks. If you are still having problems around this, do you already have a support plan? If so Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue and your subscription ID and we can help

[2018-10-29 23:03] johnthcall opened #17878 "Reference function not working in true path of if statement"
Inside a copy function I have the following statement:
"objectId": "[if(equals(parameters('clusterProvisioningKvAccessPolicies')[copyIndex('accessPolicies')].objectId, 'scalesetIdentity'),reference(resourceId(parameters('clusterProvisioningKvAccessPolicies')[copyIndex('accessPolicies')].resourceGroup, 'Microsoft.ManagedIdentity/userAssignedIdentities','scaleset'), '2015-08-31-PREVIEW', 'Full').pro

[2018-10-29 23:06] wenwu449 commented on #17136
@clangnerakq, the entry point script is trying to run as user "test" to create the directory and do the copy.
Currently ACI is fixing a bug related to this: files and directories in an Azure file is read-only for non-root user for container group with VNET. The fix is to allow all users to write files and directories in Azure file, it should be rolled out in next 2-3 weeks.

[2018-10-29 23:13] dcbrown16 commented on #17481
Hi @douglaslMS, yes just a link or example that shows where these values go once you are done setting them.
I've also asked a DL and received no response - is there a way to use parameters to say "connect to this instance or this instance like a load balancer?" Apparently this was possible in v1 using something like the following:
data source="
(DESCRIPTION=(CONNECT_TIMEOUT=35)(TRANSPORT_CONNECT_T

[2018-10-29 23:14] MicahMcKittrick-MSFT commented on #17684
@AronT-TLV thanks for those updates.

I tried this with a Fresh VM just now.

I created a brand new Windows Server 2016 machine and enabled Hyper-V using the following command

`Install-WindowsFeature -Name Hyper-V -IncludeManagementTools -Restart
`
One it restarted I opened up PowerShell an ran `Get-NetAdapter` to list any current adapters I had available

![image](https://user-images.githubuserc

[2018-10-29 23:18] ajlam commented on #16849
@atullalwani, can you please vote for adding more granular support for data replication using [this](https://feedback.azure.com/forums/597982-azure-database-for-mysql/suggestions/34921060-granularity-of-data-replication) UserVoice feedback?

[2018-10-29 23:19] kobulloc-MSFT commented on #17876
@ArturDorochowicz Thank you for your comment.  We are assigning this to the document author so they can update the document accordingly.

[2018-10-29 23:29] MarkAtAgilliance commented on #17852
Someone just pointed me to this: https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/tutorial-windows-vm-access-sql

It would be great if there was a "how-to" that was more generalized since this doesn't appear to be achievable in the portal -i.e.  "How to add a MSI Identity to a AAD group using powershell".

I am going to create a pwershell script to do this

[2018-10-29 23:33] DiegoRamirez-MSFT commented on #17870
hello Vasanth1981 We are investigating this issue now. Thank you for reporting it

[2018-10-29 23:37] DiegoRamirez-MSFT commented on #17868
hello @CKeene78 We are investigating this issue now. Thank you for reporting it

[2018-10-29 23:37] wuffers commented on #17633
Unfortunately I no longer have the specific error message, but it happened on the New-AzureRmResourceGroupDeployment cmdlet. As stated above, I resolved it by manually changing the template in resources.azure.com.

This is an older cluster that we will be decommissioning and rebuilding as soon as we have all the automation parts figured out. Our new ARM template has the common name certificate sec

[2018-10-29 23:39] MarileeTurscak-MSFT commented on #17848
I'm not sure if this is what you are looking for, but you can create a dynamic device group through powershell that adds devices based on membership rules. https://osddeployment.dk/2017/04/26/how-to-create-a-dynamic-device-group-in-azuread-for-personal-and-corporate-devices/

@curtand please confirm if this is up to date.

[2018-10-29 23:40] DiegoRamirez-MSFT commented on #17843
hello @siriwanussavapitukpong could you please provide more clarity on the ask here, is seems that we just got the submission template without any information regarding your issue

[2018-10-29 23:42] MicahMcKittrick-MSFT commented on #17633
@wuffers got it. I will assign to the author to review and update the doc as needed :)

[2018-10-29 23:42] #17843 closed

[2018-10-29 23:43] MarileeTurscak-MSFT commented on #17778
@SamirFarhat Thanks for the feedback! I created a pull request with your suggested change.

cc: @daveba

[2018-10-29 23:43] #17778 closed

[2018-10-29 23:43] DiegoRamirez-MSFT commented on #17846
Hello @siriwanussavapitukpong  thanks for reaching out. If you need help please open a new issue and provide us all details and what doc you are refering to. Then close the issue and lock it

[2018-10-29 23:43] #17846 closed

[2018-10-29 23:50] DiegoRamirez-MSFT commented on #17847
Hello @kundan123456 We are investigating this issue now. Thank you for reporting it

[2018-10-29 23:52] MicahMcKittrick-MSFT commented on #17684
#17461

[2018-10-29 23:52] DiegoRamirez-MSFT commented on #17853
Hello @CKeene78 We are investigating this issue now. Thank you for reporting it

[2018-10-29 23:55] DiegoRamirez-MSFT commented on #17840
hello @tbdowns We are investigating this issue now. Thank you for reporting it

[2018-10-30 00:00] MarileeTurscak-MSFT commented on #17830
I do not believe it is possible to check the MFA enrollment/registration status on a user using the V2 version of the AAD PowerShell Module. This is because the property does not appear to be exposed via the AAD Graph API yet and you therefore cannot retrieve the StrongAuthenticationMethods.

Instead, you need to use the older V1 version of the AAD PowerShell Module.

(CC: @MicrosoftGuyJFlo for co

[2018-10-30 00:01] MarileeTurscak-MSFT commented on #17830
I'm closing this thread out for now but feel free to tag me in the comments if you have further questions or would like to continue the conversation.

[2018-10-30 00:01] #17830 closed

[2018-10-30 00:02] reyandap commented on #17627
Hey there, we expect the P2S pricing to be available after the new years. The theme will be the same .
1/ Scale unit based pricing similar to .site2site that we have today where 500 Mbps = 1 scale unit = .361$/hr
2/ Connection charge (0.08$/hr) where 1 connection = 2 tunnels , this is for site2site. For p2s, it will be different and that is the piece that we don't have any info at the moment to sh

[2018-10-30 00:03] DiegoRamirez-MSFT commented on #17824
Hello @djpirra We are investigating this issue now. Thank you for reporting it

[2018-10-30 00:05] jason-j-MSFT commented on #17691
@jkarnesPerfectCube are you referring to this article as confusing:
https://docs.microsoft.com/en-us/azure/data-factory/connector-azure-file-storage

[2018-10-30 00:07] sewatson commented on #17770
Hey, I'm not familiar with `openpublishing.redirect.json` but the portal-docs mapping file is still used. We reference that as the look up file for displaying in portal contextual help (see https://portal.azure.com and then browse to a virtual machine, once you have a virtual machine in view click the global help '?' icon)

[2018-10-30 00:08] pugillum opened #17880 "OpenCV not installing"
When installing opencv by specifying "opencv-python" in the env.yml file I'm having issues with my container, namely the error: ImportError: libSM.so.6: cannot open shared object file: No such file or directory

If I load the container locally I can fix the issue by running "apt install -y python-opencv" but it's not (yet) obvious to me how to replace the container image within the Azure ML Worksp

[2018-10-30 00:13] pratik11jain commented on #17740
I have the auterscaler as a kubernetes deployment. I delete that deployment.

By breaks the cluster i mean the aks cluster goes into a Failed state
And I have tried manual scaling multiple times with the autoscaler working.. It fails most of the times

[2018-10-30 00:13] DiegoRamirez-MSFT commented on #17869
Hello @LisandroSu We are investigating this issue now. Thank you for reporting it

[2018-10-30 00:15] DiegoRamirez-MSFT commented on #17875
hello @JazzyWagdaddy We are investigating this issue now. Thank you for reporting it

[2018-10-30 00:29] MarileeTurscak-MSFT commented on #17866
Hi @acbrazie can you please share the full error message and any parameters that you are including?

Key lengths need to be at least 2048 characters. (See the [Stackoverflow thread](https://stackoverflow.com/questions/41732096/cannot-update-keycredential-value-in-azure-application-manifest).)

[2018-10-30 00:30] malopMSFT commented on #17318
Hi Kazshi

Sorry for the late response, AzureCloud includes ALL public IP addresses from Azure, there's no exception.

[2018-10-30 00:33] kazshi commented on #17318
@malopMSFT Thanks for your confirmation.

[2018-10-30 00:33] #17318 closed

[2018-10-30 00:50] MarileeTurscak-MSFT commented on #17841
@DimsumPanda I was able to reproduce the issue. I followed the guide and was able to create a nested group but like you said there was no way to sync the users from the child group to the parent group. There does not appear to be any "MemberOf" property to sync dynamic users based on their group membership. From what I can tell this is not supported and the [User Voice page](https://feedback.azure

[2018-10-30 00:51] MarileeTurscak-MSFT commented on #17873
@ajaypamarthy
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-30 00:52] MarileeTurscak-MSFT commented on #17852
@MarkAtAgilliance
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-30 00:55] MarileeTurscak-MSFT commented on #17874
@ajaypamarthy
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-30 01:00] MarileeTurscak-MSFT commented on #17777
@daveba #56486

(Please confirm that the parameters are correct. If these are not the correct parameters I can close the PR.)

[2018-10-30 01:15] PatLac04 commented on #17577
Same for me, unable to download. Tried 3 different browsers, signed-in or not. Right-clicked to save-as saves a htm file.

It's not fixed,

[2018-10-30 01:37] MarkusVi commented on #15723
Hi @Nilis312 , Windows server is now also supported. I have updated the article.

#please-close

[2018-10-30 01:40] gperrego opened #17881 "1-Deploy a .NET app using Docker Compose?"
Not sure why this article is titled using Docker compose.  I did a CTRL F and didn't see compose anywhere except the title?  I'm starving for some good doco on how to integrate SF with Docker Hub?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57882c35-3894-f871-bea2-470e74f63c57
* Version Independent ID: 75dada9d-a6a5

[2018-10-30 01:48] BryanTrach-MSFT commented on #17850
@njdullea We are happy to hear you were able to locate the table!

[2018-10-30 01:49] BryanTrach-MSFT commented on #17861
@marcelo2605 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-30 01:50] BryanTrach-MSFT commented on #17858
@b42thomas Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-30 01:52] BryanTrach-MSFT commented on #17854
@kazshi Yes, the monthly releases include update for Windows OS and Linux OS.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-30 01:52] #17854 closed

[2018-10-30 01:54] kazshi commented on #17854
@BryanTrach-MSFT Thank you for the clarification.

[2018-10-30 02:06] Adam-Smith-MSFT commented on #17867
@kyleloyka thanks for posting here, I'd recommend posting this issue in either StackOverflow or here https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata if it's a storage related issues.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-30 02:06] #17867 closed

[2018-10-30 02:16] sbhuttan opened #17882 "How to use Consistency level while calculating estimates"
According to documentation, choice of Consistency level has effect on the cost and extra RUs may be used based on consistency levels selected.

"When you use data consistency models like Strong or Bounded Staleness, additional request units are consumed to read items."

How can we get details on the extra cost? Can this be added to RU Calculator?

---
#### Document Details

⚠ *Do not edit this sec

[2018-10-30 02:23] vincepower opened #17883 "Sample JSON"
I know its not technically valid JSON because of the comment lines (// *) BUT
"name": "pid-XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"
should have a comma like
"name": "pid-XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX",
so when the comments are removed it is valid.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db44bc8f-a6d7-8651-16

[2018-10-30 02:34] acbrazie commented on #17866
Hi @MarileeTurscak-MSFT I attached a screenshot with the full error message, it's the same as the title to this issue.
![screen shot 2018-10-29 at 10 31 22 pm](https://user-images.githubusercontent.com/3777397/47691980-91c0ab80-dbca-11e8-840d-019f3f7d0f56.png)

I'm trying to add an additional app role for a SAML login into AWS. I'm wondering if there's a limit on the amount of roles to add or if t

[2018-10-30 03:31] jujanito80 commented on #15113
Is there any limitation about the size, length, bit rate of wav files?

[2018-10-30 03:32] Grace-MacJones-MSFT commented on #16472
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-30 03:32] #16472 closed

[2018-10-30 03:37] dcbrown16 opened #17884 "Clarification regarding file vs VM backup"
We have the following note here.
"If you only want to back up files and folders, we recommend using the Azure Backup agent and following the guidance in the article, First look: back up files and folders. If you are going to protect more than files and folders, or you are planning to expand the protection needs in the future, select those workloads."

In the FAQ, however, we see this information.

[2018-10-30 04:12] Karishma-Tiwari-MSFT commented on #17511
@SychevIgor Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-30 04:12] #17511 closed

[2018-10-30 04:12] #15038 closed

[2018-10-30 04:15] Juliako commented on #15013
@shawnweisfeld, the article was updated. I hope it makes sense now.

[2018-10-30 04:40] Grace-MacJones-MSFT commented on #17858
Hi @b42thomas,  you may not have  the necessary permissions on the Key Vault. Can you check to see what roles you have on the subscription and on the key vault, since you were able to create it successfully.

[2018-10-30 04:44] #16692 closed

[2018-10-30 04:45] dcbrown16 opened #17886 "Sync frequency?"
The following blog in Japanese is being maintained and claims that the Hyper-V Time Synchronization Service (VMICTimeSync) syncs up every 5 seconds.
https://blogs.technet.microsoft.com/jpaztech/2017/04/11/clocksync/
If that's correct, can that be added to this doc as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-10-30 04:53] SteveLasker commented on #17845
Hi @badalk
You can find more info on authenticating with ACR here: https://docs.microsoft.com/en-us/azure/container-registry/container-registry-authentication

When using ACR within the same region as your container hosts, the network resolution is done within the Azure network. The endpoint is an authenticated, ssl encrypted public endpoint.
Registries use a combination of REST based APIs for the

[2018-10-30 05:11] SychevIgor commented on #17819
@rothja I know about this button and did it before (https://github.com/MicrosoftDocs/azure-docs/commits?author=sychevigor ), but review process can take longer compare to content writer's fix.
Also, for a relatively big fix, I need to fork/clone the repo locally, and it will take time, because repo with history is really big.
And finally, I frequently seen answers like - you are Microsoft FTE- ple

[2018-10-30 05:27] zeinab-mk opened #17889 "Incorrect SKU"
Here are the disk sizes available for a premium managed disk:
Premium HDD Managed Disk Type

Instead Premium SSD

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfaec879-f3e0-afba-fbe8-85e6e28937df
* Version Independent ID: b21d00cd-0323-26d0-34b4-f0a76ee8aaea
* Content: [Azure Premium and Standard Managed Disks Overvie

[2018-10-30 05:33] Grace-MacJones-MSFT commented on #17814
Hi @KalpeshChaudhari, you can use Logic Apps to automated you process. Logic Apps allows you to use triggers to start your workflow when a file is created or updated within your OneDrive. What you need to do is to create a OneDrive connector in a logic app and from there you can create triggers and actions. Please follow the steps in this [doc](https://docs.microsoft.com/en-us/azure/connectors/con

[2018-10-30 05:35] JinYam commented on #10228
For various reasons, we prefer not to provide specific guidance on the resolution – but you can post that the text between 2 to 8% of the image in height will tend to get OCR’ed best. This is applicable for our newest OCR under “Recognize Text” operation with mode set to “Printed”.

Jin
Computer Vision/OCR

From: YutongTie-MSFT <notifications@github.com>
Sent: Monday, October 29, 2018 3:15 PM
To:

[2018-10-30 05:40] PramodValavala-MSFT commented on #17539
@kashimiz Could you confirm if there is any other alternate API for the v2 runtime (apart from directly reading the environment variables as recommended)?

If none, would it be safe to remove this line from the doc? @ggailey777

[2018-10-30 05:43] KalpeshChaudhari commented on #17814
Hi, @Grace-MacJones-MSFT thanks for your reply.

I just have one question, if I follow the steps you have mentioned above, it will trigger the auto-sync operation from one drive to **Azure App Service**, right?

[2018-10-30 05:46] JacobCunningham commented on #17739
Hey I'm the SE on the case he is referring to.

In my testing a UDR on the GatewaySubnet does not affect P2S clients at all.

@tFable I think he is just referring to the fact that UDRs that include certain internal Azure IPs can break the VNG.

[2018-10-30 05:48] KeiroKamioka0000 opened #17891 "Possible to stop the Time Sync?"
Is it possible to disable the Linux VM's Time Sync?

If it was windows, disable &lt;Hyper-V Time Synchronization Service&gt; will stop the Time Sync.
Is there anything does similar stuff exist in Linux VM?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f5e6687-3b97-7f25-5e7b-91265764c816
* Version Independent ID: d3f3

[2018-10-30 05:50] MarkAtAgilliance opened #17892 "self hosted runtime - how to set up the chain since the first will be shared and others linked..."
I tried to deploy using CI in a 3 stage environment (dev, test, prod).  The first one will be shared but the other two linked to the first.  The note at the end of this section says that all the integration runtimes need to be the same type but clearly they won't.  When i try to deploy, the UAT deployment fails.  It installs the ontegration runtime as shared - not linked (I understand ...how would

[2018-10-30 06:03] scovetta opened #17893 "Unconnected links to corpnet staging server"
There are a few pages under 'HDInsight' that contain links to msdnstage.redmond.corp.microsoft.com. They don't appear to be linked, but are still in the markdown pages and should probably either be fixed or removed.

The Github query showing affected pages:
https://github.com/MicrosoftDocs/azure-docs/search?q=corp.redmond.microsoft.com&unscoped_q=corp.redmond.microsoft.com

Text from the markdown

[2018-10-30 06:10] sureshkittu20 opened #17894 "Question on myapps.microsoft.com"
is there a way to display the account name instead of displaying just the account number, in a multi-account setup it becomes a challenge for users to identify the correct account if there are multiple accounts they are entitled with.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bd35b3e-5e84-8be5-f87b-b4b666a9f7cd
*

[2018-10-30 06:16] Juliako commented on #15013
#please-close

[2018-10-30 06:22] dcbrown16 opened #17895 "Updating for ARM?"
Is there a document that covers turning on and off diagnostics for ARM VMs through the Portal? It's odd that the main document for sending diagnostics to storage only covers Cloud Services. I assume this is part of a process of migrating monitoring-related docs here from other places, but otherwise there is only a PowerShell process under the VM extension docs.
https://docs.microsoft.com/en-us/azu

[2018-10-30 06:28] Grace-MacJones-MSFT commented on #17814
Hi @KalpeshChaudhari, sorry I forgot to mention this was more of a workaround. Currently, Logic Apps does not have an **auto-sync** operation as a trigger or action.  If you would like to see an auto-sync operation as a feature in Logic Apps for OneDrive, you can provide that feedback on [Uservoice](https://feedback.azure.com/forums/287593-logic-apps).

[2018-10-30 06:33] #16924 closed

[2018-10-30 06:49] dipti927 commented on #13924
Hello, i have tried the above to deploy u-sql database project and it was working fine  2 months back.. and today morning when i tried to execute this... i am getting the below error

Deployment failed with Could not load file or assembly 'Microsoft.Rest.ClientRuntime, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies. The system cannot find the file spe

[2018-10-30 07:12] xNiklasJern opened #17896 "How do I hide Office 365 applications from user's access panel?"
This option has moved, you now find it on AAD &gt; Enterprise applications &gt; user settings.
The doc and print screen needs an update

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36e1110f-232a-659e-d35e-06044409d4fa
* Version Independent ID: b419025c-acc1-ed0e-3d4d-e22721d6796b
* Content: [Hide an application from

[2018-10-30 07:12] Klaas- commented on #17831
https://www.cloudera.com/documentation/director/2-1-x/topics/director_get_started_azure_ddns.html I use a simpler version of the script provided here. As an additional suggestion: I roll this out as a custom script so the dns entry is already there when I first ssh into the machine.

[code]

[code]

and that can easily be deployed via arm template or az cli:
`az vm extension set --resource-group "

[2018-10-30 07:21] chungsu opened #17897 "Unable to read IRM Protected Email via Samsung Galaxy Native App after enabling EAS settings in Client Apps"
Hello, There
We have an issue that IRM Protected Email cannot be read within Samsung Galaxy Native App after enabling 'Exchange Active Sync' rule from Conditional Access - Client Apps settings.

Using Outlook App is okay under any conditional access, but only has an issue using Samsung Galaxy Native Apps.

We tested under each Conditional Access Rules

**User - A.**
Applied Conditional Access
- As

[2018-10-30 07:31] gopitk commented on #17821
Sorry. I swapped the command. It is ```sudo systemctl status jupyterhub``` and ```sudo systemctl start jupyterhub```

[2018-10-30 07:31] imeya opened #17898 "Failure anomalies smart alert miss from Application Insights -> Smart Detection rules"
For some existing application insights instance, when nav to Smart Detection -&gt; Settings, the Failure Anomalies is missing.

But if create a new app insight, it's there.

For details, you can refer to this [issue ](https://stackoverflow.com/questions/53013112/failure-anomalies-smart-alert-missing-from-application-insights)on stack overflow.

---
#### Document Details

⚠ *Do not edit this sectio

[2018-10-30 07:38] KhaledJemni commented on #15898
Yes exactly, this makes it easier to follow up the doc for a first time user.

[2018-10-30 07:38] #15898 closed

[2018-10-30 07:54] zhouwangzw commented on #17323
We have published new Speech SDK: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/. The Bing Speech service and related SDKs, which include the one mentioned here, are being deprecated. We recommend users of legacy SDKs to use the new Speech service. Please refer this https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-migrate-from-bing-speech f

[2018-10-30 08:07] atullalwani commented on #16849
@ajlam Sure.

[2018-10-30 08:10] ArvidBaa commented on #14996
Thank you! However, I'm surprised that you still maintain and update the documentation for Azure Machine Learning Workbench, since it has been deprecated.

[2018-10-30 08:18] gbrueckl opened #17899 "PowerShell script not working for Tumbling Window triggers"
The provided PowerShell script only works for Schedule triggers but not for Tumbling Window triggers. Reason is that in this line:
$activeTriggerNames = $triggersTemplate | Where-Object { $_.properties.runtimeState -eq "Started" -and $_.properties.pipelines.Count -gt 0} | ForEach-Object {$_.name.Substring(37, $_.name.Length-40)}
the script checks for "$_.properties.pipelines.Count -gt 0" but for T

[2018-10-30 08:30] femsulu commented on #17883
@vincepower Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2018-10-30 08:51] AronT-TLV commented on #17684
So I turned on DHCP and networking works great. Here is our conversation on Github in a Firefox window on my Ubuntu Hyper-V VM:

![image](https://user-images.githubusercontent.com/22121571/47705507-6cb25400-dc2f-11e8-8048-67e731cc8941.png)

I don't understand why you don't get the default "nat". Here is what I see right after turning on Hyper-VM (I did it using the `Server Manager`):

<img width="

[2018-10-30 08:51] caleno opened #17901 "Regarding mounting Azure Disk on multiple pods (containers)"
Regarding mounting Azure Disk on multiple pods (containers)

_"An Azure disk can only be mounted to a single pod at a time. If you need to share a persistent volume across multiple pods, use Azure Files."_

I would say that statement/information is wrong.

You can mount a Azure Disk on more then one pod (container) at the time if they running on the same node.

I tested it and it to worked.

Can t

[2018-10-30 08:56] genlin commented on #16897
@andrewatfornax We will process to close this issue when the pull request is merged. Feel free to reopen it if you have any addition questions or feedbacks.

[2018-10-30 08:56] genlin commented on #16897
#please-close

[2018-10-30 08:57] genlin commented on #16667
@DavidADoran @vaheyev I will process to close this issue. Feel free to reopen it if you have any addition questions or feedbacks.

#please-close

[2018-10-30 09:09] pmdci commented on #17423
My original query was self-explanatory. I need to know which IP addresses to white-list in a firewall and the documentation does not provide information on which IP addresses are used by an instance of Azure AS.

[2018-10-30 09:12] genlin commented on #13990
@AngeloGibertoni Sorry for missing this issue. I will add information about PowerShell module for classic deployment model.

[2018-10-30 09:33] sebader commented on #11054
Is this also valid for the EdgeHub or only EdgeAgent? If not, how does the EdgeHub determine which protocol to use to connect to Azure IoT Hub?

[2018-10-30 09:34] Minewiskan commented on #17423
@pmdci @Alberto-Vega-MSFT IP addresses are by datacenter. You can get those addresses here: https://www.microsoft.com/en-us/download/details.aspx?id=41653

[2018-10-30 09:37] SychevIgor opened #17902 "Test Ubuntu 16.04 and 18.04"
In this list https://docs.microsoft.com/en-us/azure/virtual-machines/linux/premium-storage#premium-storage-for-linux-vms we don't have current LTS Ubuntu images like 16.04 and 18.04
As a results, guide looks out-of-date for 4 years. If you will test/add mentioned images- it will be great.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-10-30 09:39] MageFroh opened #17903 "API Changes?"
This article recommends using api-version=2016-11-14.
I noticed that the Java SDK is using api-version=2018-06-30.
Is there any notable differences between the 2 versions?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcf2a86a-1de0-2786-db87-58279ceffb22
* Version Independent ID: 7e43624f-a87d-1c4d-94e6-e38c1d42686f
*

[2018-10-30 09:48] rs38 commented on #17820
@Adam-Smith-MSFT @maertendMSFT thank you for the very fast reaction and answer.  Did you notice my link to the Edge issues? I tried on different computer with different windows 10 (1803 and 1809) but the embedded azure shell is not working with edge. only with IE and Chrome.

[2018-10-30 09:50] genlin commented on #13990
I submitted a pull request to add the following content:

## Install the Azure PowerShell Service Management module

Before you run the following commands, make sure that the [Azure PowerShell Service Management module](https://docs.microsoft.com/powershell/azure/servicemanagement/install-azure-ps?view=azuresmps-4.0.0
) is installed on the machine. For the version history of Azure PowerShell Servi

[2018-10-30 10:00] keshavksingh opened #17904 "ImportError: cannot import name 'load_data'"

[2018-10-30 10:01] jeevaeastpoint commented on #17718
@BryanTrach-MSFT Any updates on this.

[2018-10-30 10:12] lfrancfort opened #17905 "How to get "the full resource ID of your Log Analytics workspace, which includes the workspace name""
Hello, where can I find this information from the Azure portal ? Or do I need to get in using Powershell or CLI ?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59ea9b7f-4a00-3623-7841-a06f71a9d224
* Version Independent ID: 745cb2a2-f053-8410-553d-dc80eecb3304
* Content: [Onboard Azure Monitor for VMs (Preview)

[2018-10-30 10:21] kundan123456 commented on #17847
Waiting for you response @DiegoRamirez-MSFT

[2018-10-30 10:22] lfrancfort commented on #17905
You can close this one, I found it

[2018-10-30 10:57] ampac28 opened #17906 "How to read compressed data in IoT hub"
We are  looking to send compressed data using Protobuf compression to IoT hub. How can our test team or any other resource perform testing to verify whether data received in IoT hub is as per expectation or not. Is there a way that we can read the compressed data in IoT hub using some utility. Please suggest.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2018-10-30 11:12] sergaz-msft commented on #17903
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-30 11:13] MChrys commented on #17821
Jupyter hub seem running , here my output terminal :
` jupyterhub.service - Jupyterhub
   Loaded: loaded (/lib/systemd/system/jupyterhub.service; enabled; vendor preset: enabled)
   Active: active (running) since Tue 2018-10-30 11:10:07 UTC; 1min 12s ago
 Main PID: 2010 (jupyterhub)
    Tasks: 8
   Memory: 115.6M
      CPU: 959ms
   CGroup: /system.slice/jupyterhub.service
           ├─2010 /anaco

[2018-10-30 11:16] jtuliani opened #17907 "Subnet delegation"
Content around Subnet Delegation is very thin. There's a brief summary, but no real explanation of what this feature does or guides on how to use it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8332806-35c4-26e5-56e6-0286d728ad45
* Version Independent ID: ce76cee4-5629-7439-309c-9b9705891b57
* Content: [Add, change

[2018-10-30 11:17] ashutoshsharma15 commented on #16751
In  Production collection I am not seeing that error anymore so error  may have been due to Preview functionality failing in ODBC driver in absence of relevant data at child level.Thanks

[2018-10-30 11:17] #16751 closed

[2018-10-30 11:17] xeo545x39 commented on #13560
After 2 months nothing changed. I cannot send any UTF-x data through API. I must have fully encoded log entries with full character range in my project. There is no workaround other than display characters as "?" but it makes no sense.

[2018-10-30 11:21] mcurko opened #17908 "Nested profile doesn't work"
Following this article, I can't make nested profiles work.

This is my configuration:

App service plan us1971 (standard) with web app https://us1971.azurewebsites.net (East US)
App service plan eu1971 (standard) with web app https://eu1971.azurewebsites.net (West Europe)

Traffic Manager profile eu1971 (Priority)
----- endpoint: https://eu1971.azurewebsites.net (web app)
(normaly this traffic man

[2018-10-30 11:22] StefH commented on #17825
@vladvino Thanks for your comment. Indeed this setting can be set on a `Product`. (The documentation was not clear to me on this point.)

Issue can be closed.

[2018-10-30 11:22] #17825 closed

[2018-10-30 11:37] alundiak commented on #17783
I can confirm, that this page:
https://docs.microsoft.com/en-us/azure/cognitive-services/luis/what-is-luis
en-us renders now properly - no visible HTML comment

[2018-10-30 11:58] jakaruna-MSFT commented on #17889
@zeinab-mk Agreed. It should be Premium SSD.  I am adding the link([Pricing and Billing](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/managed-disks-overview#pricing-and-billing)) to the specific part of the page which has the issue .

[2018-10-30 12:02] JozoSlejko opened #17910 "Azure VM Extension - Azure Policy deployment"
Isn't there an option to deploy the dependency agent using built-in Azure policy also?
Names of the policies:
[Preview]: Deploy Dependency Agent for Windows VMs
[Preview]: Deploy Dependency Agent for Linux VMs
If yes, should be good to update the options of deploying the agent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-10-30 12:08] cpatte7372 commented on #17877
Hi Douglas,

My apologies, there isn’t a problem with the documentation. The problem is with the actual parameterization itself. It’s a technical problem. The problem has been acknowledged by Azure and they’re trying to fix it. Please get in touch with Azure representative in attached email for details.

Thanks

Carlton

From: Douglas Laudenschlager <notifications@github.com>
Sent: 29 October 2018

[2018-10-30 12:16] jakaruna-MSFT commented on #17901
@caleno Thanks for the finding! I will check this out and let you know.

[2018-10-30 12:19] jakaruna-MSFT commented on #17902
Thanks for the feedback! It should work with newer versions also. We will check and update you shortly.

[2018-10-30 12:20] jakaruna-MSFT commented on #17891
Thanks for the question! We are investigating and will update you shortly.

[2018-10-30 12:33] #15605 closed

[2018-10-30 12:36] mabushaireh opened #17912 "Network firewall requirements inbound rules are not required"
Network firewall requirements inbound rules are not required

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2c9767e-8558-7b76-fc26-34c4776f7bcf
* Version Independent ID: f9853d6a-639a-c9df-a82c-01afdaf43edc
* Content: [Collect data in a hybrid environment with Azure Log Analytics agent](https://docs.microsoft.com/en-u

[2018-10-30 12:38] mabushaireh commented on #17912
in the Network firewall requirements https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-concept-hybrid#network-firewall-requirements. the table mentions that the direction of the communicatoins are inbound and outbound while in other documentations (https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-om-agents) it says that the communications are outbound only.

[2018-10-30 12:38] DimsumPanda commented on #17841
@Marilee To clarify, the "nested group" itself does not show as a member of the other group in my case.

[2018-10-30 12:52] badalk commented on #17845
Is it possible to get this updated in the document as the document does not mention how AKS talk to ACR over the wire. This is important for enterprises to know whether or not the traffic is going over the internet or on the backbone (if in the same region) and irrespective of that the channel is encrypted

[2018-10-30 13:02] cmeyertons opened #17913 "Static mount options should be on the static page"
there's a blurb about what to how to set mountOptions if creating a static volume which really should go on the static page as it just add confusion here

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a57e48b4-dc33-0b9d-b773-42ce7d2bffd0
* Version Independent ID: e912ac2d-cf6a-0b54-4697-1940b1270874
* Content: [Dynamic

[2018-10-30 13:05] rasmuschristensen opened #17914 "AccessRights is not on ServiceBusTrigger anymore"
Using the latest Azure Functions, The ServiceBus trigger does not have a AccessRights as in the example for triggers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0440205f-adcc-0fc5-3adb-db4dbe1d1292
* Version Independent ID: 14ad1300-590c-8102-6887-366078e1882a
* Content: [Azure Service Bus bindings for Azure Functio

[2018-10-30 13:20] rothja commented on #17819
@SychevIgor Understood. We never know who is aware of this feature and who is not. Sorry for the problems you've had in the past. I see you closed this issue. I would be glad to make the change for you. Did you accidentally close this? Thank you!

[2018-10-30 13:31] mattwhite-itl opened #17915 "How does banned password lists work"
Documentation says that you will block iterations of the word Password eg P@ssword or Password123!. I have just successfully used the password "PasswordPotato" to reset a credential online. This goes against the guidance on this site and am unsure if this is a glitch in the detection of banned passwords

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-10-30 13:35] rasmuschristensen commented on #17914
Just found this in the body text "omit the access rights parameter". Making my question obsolete

[2018-10-30 13:55] aengineer1 opened #17917 "Blueprints and Initiatives"
What is the difference between blueprints and initiatives?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1b33f46-674b-d3ef-7644-4422927625b3
* Version Independent ID: b036a530-81bd-1d4b-d099-d485f7098ab4
* Content: [Overview of Azure Blueprints](https://docs.microsoft.com/en-us/azure/governance/blueprints/overview)
*

[2018-10-30 14:00] vhorne commented on #17455
@CHDAFNI-MSFT
Thanks for the suggestion. A work item was created for our backlog.

[2018-10-30 14:01] vhorne commented on #17455
#please-close

[2018-10-30 14:05] DCtheGeek commented on #17917
@aengineer1 Thanks for the question!  A **blueprint** is the collection of various artifacts that can be deployed repeatably and consistently. Today, those artifacts are resource groups, Resource Manager templates, policies and role assignments. An **initiative** is a construct in Azure Policy. It is a collection of policy definitions that typically support a focused goal.  You can read about them

[2018-10-30 14:11] cephalin commented on #17642
@yevster Thank you for your feedback. I'll add a note to this doc about Linux. In the Linux flavor you do not have access to the host OS, only the container that your app runs in. Since the container is your own, you have root access to the container.

[2018-10-30 14:11] ccadenasa commented on #17603
Hi....I have a server running 1.1.281.0 and the autoupgrade is "suspended". What is the best way to have a more updated version: new full install and enabling this autoupgrade. If the answer is a full install, what is the correct version to go to. Many thanks.

[2018-10-30 14:24] DimsumPanda commented on #17841
Ok I think I was able to add security groups inside another security group with another POC directory. The directory I used before was created as a B2C directory.

[2018-10-30 14:32] SychevIgor commented on #17819
@rothja

[2018-10-30 14:33] SychevIgor commented on #17819
@rothja reopened.

[2018-10-30 14:36] DeanGross commented on #16906
When I run Get-AzureADPolicy , one policy is returned and the IsOrganizationDefault value is False. I am expecting that if there is only one policy, then it would have to be the default policy and this attribute would be set to True. If this is not the default policy, then what is the default policy and how come it is not being returned?

[2018-10-30 14:39] CeciAc opened #17918 "Clarify/Update the ADFS pfx part"
@JurreHeesbeen commented on [Tue Oct 30 2018](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/97)

I think the following parts of the instruction could do with some clarification:
	- Make sure that you have access to the certificate .pfx file with the private key that was issued by ADFS.
	- You need to store your ADFS certificate in your Azure AD B2C tenant

The way I read this is that it

[2018-10-30 14:40] CeciAc commented on #17918
Hi team,
I moving this here since the user is suggesting changes in the main documentation

[2018-10-30 14:43] bhpat commented on #15459
Keep in mind, you have to Upgrade to Azure VM Backup stack V2 to get Azure Backup support for the Standard SSD backups.

https://docs.microsoft.com/en-us/azure/backup/backup-upgrade-to-vm-backup-stack-v2#considerations-before-upgrade

[2018-10-30 14:52] sergaz-msft commented on #16384
Hello @FluxReality sorry I missed your comment on a timely manner since it was already closed.

I understand your suggestion now :). I believe that Python SDK is very dependent of Azure IoT SDK C and that is why we are pointing it to C API Reference, though I will include the content author @dominicbetts  to help us clarify the decision on adding the reference **"API reference: see C API reference

[2018-10-30 15:06] sergaz-msft commented on #17413
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-30 15:06] #17413 closed

[2018-10-30 15:07] SamirFarhat opened #17919 "Inbound and outbound network flows"
Hi,
Can you precise the Inbound and Outbound network flows needed for Azure SSIR.
When we deploy Azure SSIS to a Subnet, what are the required Inbound/Outbound flows to that subnet?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1a34b3c-a9b8-29ce-1eca-86f7f42981a1
* Version Independent ID: 61d6e6b3-ec54-552d-1

[2018-10-30 15:08] Mike-Ubezzi-MSFT commented on #17882
@sbhuttan Thank you very much for the detailed feedback. There is a good discussion occurring on the [Cosmos DB User Voice](https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/16962028-ru-calculator-webservice) where your feedback and voting will help make this functionality get implemented. I am going to also assign this to the content owner to evaluate and up as appropriate.

[2018-10-30 15:13] sergaz-msft commented on #14510
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-30 15:13] #14510 closed

[2018-10-30 15:17] isobit opened #17920 "Container instance Azure file mount; File locking / concurrent access to files"
Just curious because the documentation doesn't mention exactly how the Azure file volume is mounted (SMB, NFS?)... what happens if two container groups mount same Azure file volume, and one tries to delete or update a file while another is reading the same file? Is there a way to lock files or directories on the shared Azure file volume (e.g. with `flock` or `fcntl`)?

---
#### Document Details

⚠

[2018-10-30 15:17] sergaz-msft commented on #17327
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-30 15:17] #17327 closed

[2018-10-30 15:30] clangnerakq commented on #17136
@wenwu449 Thank you for your answer and your report about the current bug.
@jakaruna-MSFT Your thought about permission issue was right then.

I will wait, until the bug is rolled out, to test it again and inform you.
Do you know, if there will be an information from Microsoft when the fix is rolled out?

Thanks in advance.

[2018-10-30 15:43] chendley80 commented on #17848
I'm trying to add specific user's devices to a security group.

[2018-10-30 15:52] sergaz-msft commented on #17906
Hello @ampac28 . Thank you for your feedback. You should be fine using [Visual Studio Code Extension Azure IoT Toolkit.](https://marketplace.visualstudio.com/items?itemName=vsciot-vscode.azure-iot-toolkit)

Let us know if you see issues when using it?

Thanks!

[2018-10-30 16:02] kruppenb opened #17922 "Possible malware from FileZilla link"
The FileZilla link above - https://filezilla-project.org/download.php?type=client gave me malware notifications when I downloaded from there

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1506c34e-352d-15f6-73ea-3dbf8ce31b3c
* Version Independent ID: cb469cf8-43e5-09fe-6b8e-ee714cf2f7cc
* Content: [Deploy your app to A

[2018-10-30 16:04] TerryLanfear commented on #10347
@axelgMS - After giving this a little more thought, I suggested that we add a note to the Troubleshooting guide stating that the MMA and the Log Analytics agent are the same agent. Again, thanks for your question!

[2018-10-30 16:04] TerryLanfear commented on #10347
#please-close

[2018-10-30 16:14] rimman commented on #17882
@sbhuttan
For the same amount of RUs, compared to strong and bounded staleness consistency, Cosmos DB provides 2X the requests throughput for the read requests with session, consistent prefix and eventual consistency.
For a given type of write operation (e.g., Insert, Replace, Upsert, Delete, etc.), the write throughput for RUs is identical for all consistency levels.

[2018-10-30 16:15] sergaz-msft commented on #17580
Hello @BrodaUa. You have made the initial troubleshooting steps and as I can see, something is wrong with 'watchdog'. There are 9 closed and 3 open issues related with watchdog on the iotedge github repo: https://github.com/Azure/iotedge/issues?utf8=%E2%9C%93&q=watchdog

Please can you take a look at those issues and if yours is not related open a new issue there? We will have product group engagi

[2018-10-30 16:15] #17580 closed

[2018-10-30 16:28] nicomlas commented on #15588
The 0-step is : be sure the active sub is the target one before executing tuto commands.

After registering feature, you SHOULD see the target sub id in the feature :

`{
  "id": "/subscriptions/<target sub id>/providers/Microsoft.Features/providers/Microsoft.Compute/features/ManagedResourcesMove",
  "name": "Microsoft.Compute/ManagedResourcesMove",
  "properties": {
    "state": "Registered"
  },

[2018-10-30 16:29] Adam-Smith-MSFT commented on #17884
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-30 16:29] sergaz-msft commented on #17057
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-30 16:29] #17057 closed

[2018-10-30 16:29] Alberto-Vega-MSFT commented on #17573
@kkho We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-30 16:29] #17573 closed

[2018-10-30 16:30] paulmackinnon-adv365 opened #17926 "Enable and Configure Antimalware Using PowerShell cmdlets - link dead"
"Set up your PowerShell environment - Refer to the documentation at https://github.com/Azure/azure-sdk-tools#get-started"

URL is dead

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39836c50-a16b-55c4-e088-566f83af1d86
* Version Independent ID: 7f581c98-fb53-3cf2-bfc5-556effb7261c
* Content: [Microsoft Antimalware for

[2018-10-30 16:30] sergaz-msft commented on #17280
Thanks for following it @smoms . Can we proceed and close this issue now?

[2018-10-30 16:34] MarileeTurscak-MSFT commented on #17841
That's correct, unfortunately. This is not supported yest for B2C. You can upvote the feature request in User Voice and stay subscribed for updates. The product team is actively working on this but they do not have an estimate for it yet. https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/10123836-get-user-membership-groups-in-the-claims-with-ad-b

You can, however, nest t

[2018-10-30 16:35] MarileeTurscak-MSFT commented on #17841
We will proceed to close this thread. If you have further questions, feel free to leave a comment and tag me in the reply and I will gladly continue the conversation.

[2018-10-30 16:35] #17841 closed

[2018-10-30 16:36] Adam-Smith-MSFT commented on #17912
@mabushaireh Thank you for the valuable feedback,we are investigating the issue.

[2018-10-30 16:36] smoms commented on #17280
please close the issue. thanks

[2018-10-30 16:37] msmimart commented on #12086
Closing this issue for now. If you have further questions, please feel free to reopen and continue the discussion. Thanks!

[2018-10-30 16:37] msmimart commented on #12086
#please-close

[2018-10-30 16:41] YutongTie-MSFT commented on #17880
@pugillum Hi, I will investigate the issue and get back to you soon. Thanks for the feedback.

[2018-10-30 16:41] MicahMcKittrick-MSFT commented on #17920
Thanks for the question! We are investigating and will update you shortly.

[2018-10-30 16:42] tFable commented on #17627
Hey @reyandap

Thanks for the feedback. It is Item No2 that is the big unknown. We'll need to know the cost per tunnel and we need to know the billing interval (per day, per minute, per second)?

I'm sure we'll find out about this closer to GA.

Thanks,
t

[2018-10-30 16:43] MicahMcKittrick-MSFT commented on #17913
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-30 16:43] MicahMcKittrick-MSFT commented on #17886
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-30 16:44] k12sec opened #17930 "Retrieve VPN Server address via Azure CLI"
Is there a way to retrieve the server address from the CLI instead of downloading the VPN client configuration file and pulling it from the VpnSettings.xml file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa7be494-b0c4-1e92-829e-119b05aadcb5
* Version Independent ID: e2032468-6c27-a6a6-6194-591ca21a3c55
* Content:

[2018-10-30 16:45] Adam-Smith-MSFT commented on #17904
@keshavksingh Could you please attach the documentation you are referring to or experiencing issues with ?

[2018-10-30 16:45] #16496 closed

[2018-10-30 16:50] Grace-MacJones-MSFT commented on #17922
HI @kruppenb, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-30 16:54] ampac28 commented on #17906
.  Can you please share the steps on how we can view compressed data in IoT using Azure IoT toolkit?  We are looking for a sample that can help us

[2018-10-30 16:57] Alberto-Vega-MSFT commented on #17919
@SamirFarhat !Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-30 16:59] Alberto-Vega-MSFT commented on #17899
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-30 17:03] rfsonders opened #17931 "SQL RP install - PowerShell error - 1809"
[Enter feedback here]

Please reference the forum post.
https://social.msdn.microsoft.com/Forums/en-US/bc1cac31-a668-4c78-8e42-18a5272eca92/sql-rp-install-powershell-error-1809?forum=AzureStack

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31804a1d-4c4f-70e6-556c-66c533e9b3e3
* Version Independent ID: 78f9ac38-1463-c2

[2018-10-30 17:04] kkho commented on #17132
Just a few more questions, running ac container create command with seems to not start the container instance and just stops:

(non existent resource group, container etc)

`az container create --resource-group test-development-rg --name analysis-api-ci --dns-name-label analysis-development-stores-api-ci --ip-address Public --ports 80 --protocol TCP --restart-policy Always --image testdevelopmentc

[2018-10-30 17:10] Placid7 commented on #13845
I am Owner and I still can't access Advanced Settings.

[2018-10-30 17:11] cherylmc commented on #17627
#please-close

[2018-10-30 17:12] cherylmc commented on #17739
I'm going to go ahead and close this PR. Thanks for the doc scenario! #please-close

[2018-10-30 17:20] juanidambrosio commented on #17367
Hi Jason,
When building a Web Activity I want to include a JSON array as Body parameter. According to the documentation this is supported, but there is an issue which is actually being fixed by MSFT team.

Thanks!

[2018-10-30 17:23] slynickel opened #17932 "AKS Document Mentions Master VMs"
Currently in the additional considerations section it states

**Problem:** In AKS you don't have access to the control plane / the master VMs.

**Impact:** The document is incorrect for one, second there isn't actually a way to rotate the credentials that the AKS cluster run as. If there is a way to rotate the credentials the cluster runs as that would be a good thing to put here.

---
#### Docume

[2018-10-30 17:24] hahazeMSFT opened #17933 "Info Update: CLI "az vm create" default username"
**Describe the bug**

Discrepancy with the username used for CLI quick create command. [Documentation](https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest#az-vm-create) says default value: <b>VssAdministrator</b>,  but notice CLI is using the current user as the default username which changes depending on who is logged in.
![CLI information](https://i.imgur.com/5pcX1Js.png)

**To R

[2018-10-30 17:30] kobulloc-MSFT commented on #17898
@imeya Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-10-30 17:32] kgremban commented on #11054
@sebader You can configure the UpstreamProtocol parameter for both EdgeHub and EdgeAgent in either the deployment manifest or the portal as veyalla showed earlier.

[2018-10-30 17:35] acbrazie commented on #17866
Nevermind, I figured it out.  The AWS ARN Role Name was too long.  I shortened it and the Manifest now saves.

[2018-10-30 17:35] #17866 closed

[2018-10-30 17:37] #15005 closed

[2018-10-30 17:37] #15742 closed

[2018-10-30 17:37] #16263 closed

[2018-10-30 17:37] #17275 closed

[2018-10-30 17:39] ermacia91 opened #17934 "Tableau Server authentication configuration moved to Web UI"
The management experience for Tableau Server has moved from the legacy Tableau Server Manager interface to the TSM Web UI. There are aspects of the configuration that have changed (i.e. new steps) that should be referenced on our docs. Maybe by adding them to the article as another way to managed it.

Here is the reference from Tableau: https://onlinehelp.tableau.com/v2018.2/server/en-us/saml_conf

[2018-10-30 17:40] kgremban commented on #14341
Hi again @vladislav-mitev. Sorry for the delay. I updated the document to show to larger JSON format. However, all the outputs that I looked at (including for category: Connections) didn't have the three system properties at the end that you included in your sample. Can you confirm whether you still receive those properties in event messages?

[2018-10-30 17:40] priyamohanram commented on #17874
@ajaypamarthy : Thanks for the feedback! I'll get this information over to the product team and provide an update shortly.

[2018-10-30 17:40] priyamohanram commented on #17874
#in-progress

[2018-10-30 17:44] jluk commented on #17132
@kkho we're working with our Portal folks for integration into the container management flow, but it may take a moment to integrate into the create flow. What are the tasks you're hoping to do via portal?

[2018-10-30 17:46] MicahMcKittrick-MSFT commented on #17510
@yantang-msft any update on this?

[2018-10-30 17:48] MicahMcKittrick-MSFT commented on #17845
Thanks @SteveLas! Very helpful :)

as @badalk mentions, could we add some of this info into the doc for people who are curious?

[2018-10-30 17:49] mike-urnun-msft commented on #17914
Hi @rasmuschristensen Glad to hear that you found the details you were looking for! We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-30 17:49] #17914 closed

[2018-10-30 17:50] MicahMcKittrick-MSFT commented on #17902
@SychevIgor thanks for the suggestion.

@ramankumarlive can you take a look?

CC @Karishma-Tiwari-MSFT

[2018-10-30 17:50] dlepow commented on #17636
@tjhgit - Thanks for the doc suggestions. We're working to make the doc clearer, so your feedback helps. Were you able to run your container successfully by changing the directory with `cd /`?

The doc tries to point out that Batch changes the working directory for the container task and suggests how to handle that. For example:
* Make sure that your task command line (or container working directo

[2018-10-30 17:51] MicahMcKittrick-MSFT commented on #17913
@cmeyertons can you clarify a bit more on the enhancement you want to see?

I see the mount options here

![image](https://user-images.githubusercontent.com/32313503/47739058-c451bf00-dc31-11e8-9e1b-0e1d114ad6dc.png)

What else were you looking to see added here?

[2018-10-30 17:53] TravisCragg-MSFT commented on #17455
@CHDAFNI-MSFT We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-30 17:53] #17455 closed

[2018-10-30 17:57] ahmedmakhlouk commented on #17520
hi guys, i tried the tutorial, to expose the container instance via a Vnet and a subnet, but now i am stuck with hidden ressources that i struggle to Delete, started with the network profile that wasn't shown on the dashboard, i had to list the vnet profiles to get it,

and now  last one is the '**Service Association Link**' that i couldn't see a way to remove it by CLI,
and i am gettin an error 4

[2018-10-30 17:58] yantang-msft commented on #17510
@MicahMcKittrick-MSFT I'm trying to find some code in my existing for projects for this. One question, would you actually try the doc yourselves and verify the correctness?

[2018-10-30 17:58] TravisCragg-MSFT commented on #17930
@k12sec which server address are you looking for?

[2018-10-30 17:59] crwill commented on #17852
For me it was as simple as creating the group with New-AzureADGroup -DisplayName "Somename" -Securityenabled $true -Maileneabled $false -MailNickName "NotSet"

Then getting my VM MSI service principals
Get-AzureRmADServicePrincipal

Then adding the service principal to the group
Add-AzureAdGroupMember -ObjectID <guid for group> -RefobjectID <guid for MSI service principal>

[2018-10-30 17:59] YutongTie-MSFT commented on #17323
@nschonni We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-30 18:00] Karishma-Tiwari-MSFT commented on #17433
@IrakliLomidze To understand your question better, is your scenario like -
You have established remote desktop connection to VM and now your laptop is shut down. Now when you restart your laptop, the remote desktop connection to VM should still exist?
If that's the case, I don't think the VM would stay connected, you will have to RDP to VM again using the normal process to RDP to VM, which include

[2018-10-30 18:01] TravisCragg-MSFT commented on #17908
@mcurko are you able to access the web app when you go directly to the public IP of the web app and not via the traffic manager?

[2018-10-30 18:02] TravisCragg-MSFT commented on #17907
@jtuliani Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-30 18:03] TravisCragg-MSFT commented on #17931
@rfsonders Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-10-30 18:06] MicahMcKittrick-MSFT commented on #17932
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-30 18:08] bob999c commented on #17360
Thanks issue got fixed.

[2018-10-30 18:08] #17360 closed

[2018-10-30 18:08] Karishma-Tiwari-MSFT commented on #17886
@dcbrown16 I have assigned the issue to the content author to investigate further and update the document as appropriate.
@zr-msft Can you please take a look and update the doc as appropriate. Thanks :)

[2018-10-30 18:10] ionutrus26 commented on #13962
Hello,

There is a strange thing going on. We have 2 tenants (stage and prod) with same settings but in stage whenever there is a role activation/role assignment, email notifications go to Privileged Role Administrator, Security Administrator and to a group(This is not normal, right?). It started to happen in the past 2 weeks and from what I know, no one did any sort of modifications. Production w

[2018-10-30 18:17] k12sec commented on #17930
On OSX you have to provide the VpnServer address to get the connection to work, IP address doesn't work. I am looking for a way to pull this value programmatically so I don't have to log into the portal to get the value. It doesn't appear to be in the gateway properties so I don't know if this is a value that can be retrieved.

From the VpnSettings.xml that is bundled with the VPN Client download

[2018-10-30 18:19] IrakliLomidze commented on #17433
@Karishma-Tiwari-MSFT
Is this is an official Microsoft Response ? or it is your personal opinion ?

[2018-10-30 18:20] k12sec commented on #17930
Realized the XML broke the post. Here is a screenshot.

![gatewaypng](https://user-images.githubusercontent.com/16675954/47740765-d7ff2480-dc35-11e8-975e-8f230f0097f5.png)

[2018-10-30 18:29] cynthn commented on #17433
@IrakliLomidze Even when there isn't a remote desktop session "connected", the VM should continue running in Azure. The only things to watch for are to not enable "automatic shut-down" and make sure that you have a subscription that can deploy client VMs (only some subscriptions have access to Windows client images).

[2018-10-30 18:30] rakr18 opened #17935 "github reference isn't working - Describe an image"
The GitHub link provided under Describe an image section isn't working. Error page 404.
thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f12a77c5-fc42-c179-5af7-6c7b2197de28
* Version Independent ID: 2db8d484-530e-d507-2842-c196a5e55c9a
* Content: [What is the Computer Vision API?](https://docs.microsoft.com/en-us

[2018-10-30 18:30] jeffgilb commented on #17931
I've replied to the forum thread with a workaround until the new SQL RP bits are released. No firm ETA yet, but soon.

#please-close

[2018-10-30 18:38] priyamohanram commented on #16520
@Jackson-Miller : Thanks for reporting the issue! You would need **ListKeys** permissions on the target resource (i.e. event hub) in order to stream logs to it. You can find out more about Azure Monitor subscription-level permissions in [this article](https://docs.microsoft.com/azure/monitoring-and-diagnostics/monitoring-roles-permissions-security). I'll update the documentation with this informat

[2018-10-30 18:46] priyamohanram commented on #16399
@tpietilainen: Thanks for reporting the issue! I have documented the new error code and the documentation should be updated shortly. Please feel free to open a new issue if you have any further questions.

#please-close

[2018-10-30 18:46] TravisCragg-MSFT commented on #17930
@k12sec unfortunately there is not a way to get the VPN server info programmatically via the CLI. If you would like us to add this in the future, please[ leave your feedback Here](https://feedback.azure.com/forums/217313-networking).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion a

[2018-10-30 18:46] #17930 closed

[2018-10-30 18:46] ajamess commented on #17181
Hi folks,

We have confirmed the link is working and there is no service issue. The likely issue here is a client side cookie problem that can be addressed by the user clearing their cookies and browser cache, and trying again. Alternatively, the user can go to myapps.microsoft.com, click the profile link in the upper right hand corner, and edit security info from there.

@BarbaraSelden as FYI

Ad

[2018-10-30 18:50] jeffgilb commented on #17428
Docs updated #please-close

[2018-10-30 18:51] jeffgilb commented on #17428
#please-close

[2018-10-30 18:58] rfsonders commented on #17931
Hello Travis.
Let's keep this open until we have a solid workaround. Please reference the forum post.

[2018-10-30 19:00] MicahMcKittrick-MSFT commented on #17433
@IrakliLomidze you should be able to follow something like this

https://techjourney.net/enable-allow-remote-desktop-login-without-password-use-blank-null-password-in-windows-10-8-7-vista-xp/

However, I would highly suggest you enforce passwords when logging into a remote machine. It would be a major security flaw if you were to bypass it.

[2018-10-30 19:01] IrakliLomidze commented on #17433
@cynthn
" only some subscriptions have access to Windows client images"
 What does it mean, I use pay as go, Is my subscription is appropriate ?

[2018-10-30 19:02] MicahMcKittrick-MSFT commented on #16774
@bizinbarefeet I am not seeing much in terms of doc enhancements we can add based on this feedback. However, we can leave the feedback in case others might also encounter this issue. At which point we can always continue to investigate further. If you need additional help setting up SendGrid I would suggest reaching out to the MSDN or Stack Overflow community. You could also open a support ticket

[2018-10-30 19:02] #16774 closed

[2018-10-30 19:03] MicahMcKittrick-MSFT commented on #17675
@hylinux I will close this for now. When ready, let me know and we can always reopen and continue.

[2018-10-30 19:03] #17675 closed

[2018-10-30 19:08] yantang-msft commented on #17510
@MicahMcKittrick-MSFT I added some examples at here: https://github.com/Microsoft/ApplicationInsights-ServiceFabric/issues/88.
It was working before and should keep working, but I just don't have time to double confirm.

[2018-10-30 19:11] jeffgilb commented on #17931
Using the previous PowerShell version is the only workaround until the new RP is released.

[2018-10-30 19:12] cynthn commented on #17433
@IrakliLomidze I don't think pay-as-you-go subscriptions have access to Windows Client Images. MSDN subscriptions do, from my experience. If you try to create a VM from the portal, and search for Windows 10, do you see anything available from the marketplace?

[2018-10-30 19:12] MarkAtAgilliance commented on #17852
yes - true and I solved it with a generic script.  I think the issue from the doc point of view is that much of the MSI work involves the portal - turn on MSI, assign it to a resource etc but a common optimization is to add a principal to a group that protects the resource.  It isn't immediately obvious that you need to move to powershell - I spent quite a bit of time within the AAD blade trying t

[2018-10-30 19:13] Alberto-Vega-MSFT commented on #17892
@MarkAtAgilliance !Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-30 19:19] krokoko opened #17936 "Transparent gateway pattern device provisioning"
Hello,

   I was wondering if there is any guidelines/information/tutorials concerning the provisioning of downstream devices connected to an iot edge gateway in transparent mode (can we use the automatic provisioning samples in Azure IoT SDK C for instance ?). Related tutorial : https://docs.microsoft.com/en-us/azure/iot-edge/how-to-create-transparent-gateway-linux

Thank you !

---
#### Document

[2018-10-30 19:19] stevej-arbela opened #17937 "Query Language Reference"
This links seems to be broken: https://msdn.microsoft.com/library/azure/dn834998 (Query language)
as is https://msdn.microsoft.com/en-us/azure/stream-analytics/reference/stream-analytics-query-language-reference

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0ebe9e5-9a83-b5e6-5dd6-34c841cae021
* Version Independent ID

[2018-10-30 19:21] Mike-Ubezzi-MSFT commented on #17086
@alohaninja We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-30 19:21] #17086 closed

[2018-10-30 19:22] IrakliLomidze commented on #17433
@cynthn How long logged session will stay without remote connection ?

[2018-10-30 19:23] #17842 closed

[2018-10-30 19:23] msangapu commented on #17530
This is being tracked here internally: https://github.com/MicrosoftDocs/azure-docs-pr/pull/56637

[2018-10-30 19:28] MicahMcKittrick-MSFT commented on #17684
@AronT-TLV you are correct. It appears to depend on the VM image. In fact, the data science VM has the two virtual NICs before doing any extra configuration.

This is what I see as soon as I created the Data Science VM and checked for network adapters.

![image](https://user-images.githubusercontent.com/32313503/47744200-041ea380-dc3e-11e8-9e5b-b0aecb4e40f2.png)

So as you found out, if the VM alr

[2018-10-30 19:29] ionutrus26 opened #17938 "Azure AD PIM email notifications"
Hello,

There is a strange thing going on. We have 2 tenants (stage and prod) with same settings but in stage whenever there is a role activation/role assignment, email notifications go to Privileged Role Administrator, Security Administrator and to a group(This is not normal, right?). It started to happen in the past 2 weeks and from what I know, no one did any sort of modifications. Production w

[2018-10-30 19:30] zalenix opened #17939 "Does Availability Zones make failover redundant?"
I want to be clear whether Availability Zones makes failing over redundant. There is no auto failover option in Service Bus, but Availability Zones seems to be a managed high availability feature. If possible I would not want to maintain a separate service that pings my Service Bus continuously and issues a failover if it cannot connect for some suitable time.

---
#### Document Details

⚠ *Do not

[2018-10-30 19:31] Mike-Ubezzi-MSFT commented on #14241
@SteveBurkettNZ We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-30 19:31] #14241 closed

[2018-10-30 19:32] YutongTie-MSFT commented on #14996
@ArvidBaa We maintain the document till the last minute ^^ Thanks.

[2018-10-30 19:32] jeffgilb commented on #17931
@TravisCragg-MSFT , can you please re-assign this issue? There is no doc impact other than updated docs when the new RPs are released.

[2018-10-30 19:32] MicahMcKittrick-MSFT commented on #17740
@pratik11jain thanks for the extra information.

Could you please raise this issue directly to the autoscaler team?

https://github.com/kubernetes/autoscaler/issues

Since this feature is in preview this is something we should have them investigate directly and if it is a known problem then have them address it.

From a doc perspective, there is nothing to be added or removed at this time. Please

[2018-10-30 19:32] #17740 closed

[2018-10-30 19:33] YutongTie-MSFT commented on #17488
@rightsmith We will now proceed to close this thread. If there are further questions regarding this matter, please tag me @YutongTie-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-30 19:33] #17488 closed

[2018-10-30 19:33] #17789 closed

[2018-10-30 19:33] YutongTie-MSFT commented on #17789
@jdbdnz We will now proceed to close this thread. If there are further questions regarding this matter, please tag me @YutongTie-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-30 19:34] IrakliLomidze commented on #17433
@cynthn @MicahMcKittrick-MSFT @zr-msft
I have Test it and I do confirm that I'm able to reconnect to logged session, only question what is left is "How long logged session will stay without remote connection ?"

My suggestion that I would be nice to have some note on the documentation about all of this.

[2018-10-30 19:34] bwren commented on #17812
Sending this to the the engineering team since they provided that script.

[2018-10-30 19:35] bwren commented on #17812
#in-progress

[2018-10-30 19:39] rfsonders commented on #17931
Using the previous PS did not solve. Per my previous post.

[2018-10-30 19:39] YutongTie-MSFT commented on #17935
@PatrickFarley Thanks for you quick action.

@rakr18 Thanks for your reporting, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-30 19:39] #17935 closed

[2018-10-30 19:40] carlfm01 commented on #16638
Hi @Karishma-Tiwari-MSFT, any news?
-Carlos.

[2018-10-30 19:41] JSeb225 commented on #17937
Hi, thanks for reporting this. We are investigating on the issue.

[2018-10-30 19:41] Mike-Ubezzi-MSFT commented on #17138
@Anmolgan81 Which method are you attempting to use to delete a DMS project and have you attempted to remove the `task` followed by trying to delete the `project` ?

[Remove-AzureRmDataMigrationProject](https://docs.microsoft.com/en-us/powershell/module/azurerm.datamigration/remove-azurermdatamigrationproject?view=azurermps-6.11.0)

[Remove-AzureRmDataMigrationTask](https://docs.microsoft.com/en-us

[2018-10-30 19:42] Grace-MacJones-MSFT commented on #17814
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-30 19:42] #17814 closed

[2018-10-30 19:48] roygara commented on #17212
@olavt apologies about the late response! Took a bit to investigate this. There is a difference between the two targets but this was missed in documentation. I've created a backlog item to update the docs once we get that information from engineering.

Accordingly,

#please-close

[2018-10-30 19:52] MicahMcKittrick-MSFT commented on #17920
@isobit you can view the ways you can connect to an Azure file share here:

https://docs.microsoft.com/en-us/azure/storage/files/storage-files-faq#general

When mounting to a virtual machine it uses SMB 3.0,

And you can find information on how that share behaves when two people makes changes as once here:

https://docs.microsoft.com/en-us/azure/storage/files/storage-files-faq#azure-file-sync

As

[2018-10-30 19:52] brlewi commented on #17913
![image](https://user-images.githubusercontent.com/31175390/47746128-b193b600-dc42-11e8-8722-33843e22fedf.png)

[2018-10-30 19:54] MicahMcKittrick-MSFT commented on #17932
@iainfoulds could you take a look at this one?

[2018-10-30 19:59] TravisCragg-MSFT commented on #17931
@jeffgilb this issue shows as assigned to me.

@rfsonders I am looking for an additional workaround.

[2018-10-30 20:00] nschonni commented on #17323
@zhouwangzw @YutongTie-MSFT think this probably should stay open till those articles are switched from the RawGit urls to the new site

[2018-10-30 20:00] jason-j-MSFT commented on #17367
@juanidambrosio could you provide a link to that issue?

[2018-10-30 20:04] MarileeTurscak-MSFT commented on #17897
@chungsu
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-30 20:04] #17894 closed

[2018-10-30 20:07] JasonWHowell commented on #17937
@mamccrea This looks like a migration issue potentially.

[2018-10-30 20:11] MicahMcKittrick-MSFT commented on #17933
@hahazeMSFT thanks for pointing this out.

Can you raise this issue here: https://github.com/Azure/azure-cli/issues

The CLI team manages that content directly and can push the changes to reflect the correct commands.

You can reference this issue when you create the new one by adding a # symbol and the number 17933

[2018-10-30 20:11] #17933 closed

[2018-10-30 20:11] MarileeTurscak-MSFT commented on #17800
We will proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2018-10-30 20:11] #17800 closed

[2018-10-30 20:11] kkho commented on #17132
@jluk. The goal is to enable managed identity to a container instance. This is to access the KayVault library feature so that my container can access the keyvault secrets in my C# code.

As far as I know, with the solution as mentioned above. That should make it possible right?

[2018-10-30 20:11] MarileeTurscak-MSFT commented on #17926
@paulmackinnon-adv365
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-30 20:12] MarileeTurscak-MSFT commented on #17896
@xNiklasJern
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-30 20:13] KingDavidOfTepper commented on #17266
@ChrisFg

Hi Chris,

Is there a reason that simply parameterizing the stepId values would not work for you? That way you could reference the name of the stepId by referencing the same parameter. This would not work if you are trying to reference a stepId in one rollout file from an entirely different rollout file, unless you are also sharing the same parameters file.

Thanks,
-David Tepper

[2018-10-30 20:13] mamccrea commented on #17937
The redirects were working earlier today, but are no longer working. I'm investigating this issue.

[2018-10-30 20:13] mike-urnun-msft commented on #17591
Hi @Nareshkadali Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it with the URL of the documentation this issue concerns and we will gladly continue the discussion.

[2018-10-30 20:13] #17591 closed

[2018-10-30 20:14] MarileeTurscak-MSFT commented on #17915
@mattwhite-itl Thanks for the feedback! I have assigned this issue to the content author, @MicrosoftGuyJFlo , to look into and pass on to the relevant product group contacts.

[2018-10-30 20:22] sergaz-msft commented on #17906
I did some more research and my understanding is that we will need to use Azure Stream Analytics on IoT Edge to deserialize protobuf compressed messages: https://docs.microsoft.com/mt-mt/azure/stream-analytics/stream-analytics-previews?view=azurermps-4.4.1

You can use Azure IoT Toolkit to view any type of message, but in this case you will see it compressed…

See also this feedback: https://feedb

[2018-10-30 20:22] MarileeTurscak-MSFT commented on #17938
Hi @ionutrus26

Please create your issue under the relevant document or redirect the issue to MSDN and we will respond there. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

Feel free to tag me in the comments and link the new issue or forum thread.

[2018-10-30 20:22] #17938 closed

[2018-10-30 20:31] douglaslMS commented on #17829
@rohancragg It's probably more accurate to say that this is the expected behavior. Permissions on GitHub and Azure Repos (VSTS) are independent of Data Factory roles and permissions. I am discussing with our support engineers how best to phrase this in the documentation.

[2018-10-30 20:31] douglaslMS commented on #17829
#in-progress

[2018-10-30 20:33] Karishma-Tiwari-MSFT commented on #16638
hi @carlfm01 I checked the status of the PR for the fix of this issue. It will go out in the next week's build as shared by the product team. I will keep you updated. Thanks for the patience.

[2018-10-30 20:36] dlepow commented on #17520
@ahmedelnably - The initial preview of the VNet with ACI feature requires several additional commands to delete the network resources. Please see the script at https://docs.microsoft.com/en-us/azure/container-instances/container-instances-vnet#clean-up-resources. Can you please try those steps?

[2018-10-30 20:37] jluk commented on #17132
Thanks @kkho! Yes that is doable, CLI is the best option right now if you are manually deploying the container group - tutorial at aka.ms/aci/msi

Sounds like you would normally prefer to do the container creation through portal.

Do you find you discover new features most often through what is exposed in Azure portal?

[2018-10-30 20:37] Alberto-Vega-MSFT commented on #17893
@scovetta  Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-30 20:40] sergaz-msft commented on #17445
Hello @zambottivinicius what OS are you running on? If using Windows with Linux Containers, did you completed this doc successfully?: [Install the Azure IoT Edge runtime on Windows to use with Linux containers](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-windows-with-linux). Also as a first step you should complete the following quickstart:  [Deploy your first IoT Edge

[2018-10-30 20:43] Karishma-Tiwari-MSFT commented on #9835
@timnam Thanks for the update.
@mahesh-unnikrishnan Can you please take a look if this behavior is expected? Thanks :)

[2018-10-30 20:45] brlewi commented on #17638
![alt text](https://wtv3.blob.core.windows.net/media/500 error.JPG?sv=2017-04-17&sr=b&sig=wE7a6P%2FpA%2FeRjurMYCtDgIXejB01WN4pUafSfBACarQ%3D&st=2018-10-30T20%3A40%3A04Z&se=2021-10-30T20%3A45%3A04Z&sp=rw "500 error.JPG")

[2018-10-30 20:46] brlewi commented on #17638
![image](https://user-images.githubusercontent.com/31175390/47749280-11da2600-dc4a-11e8-8219-f30edfa8148a.png)

[2018-10-30 20:47] #17905 closed

[2018-10-30 20:48] ahmedelnably commented on #17520
I think you meant @ahmedmakhlouk :)

[2018-10-30 20:51] JasonWHowell commented on #17893
@Alberto-Vega-MSFT I'll remove these links. The SDK is archived I believe.

[2018-10-30 20:52] rfsonders commented on #17931
Worth noting the MySQL RP also fails with the identical issue.
However, the App Service RP does complete successfully with 1809.

[2018-10-30 20:56] smccleary commented on #17530
When is this going to be fixed

[2018-10-30 20:59] kkho commented on #17132
@jluk. Well i prefer to do ARM template since the future plan is to build a CI/CD pipeline where during release I deploy the built docker container to Azure Container Registry and then from there, deploy an Azure Container Instance.

The reason why I used portal was because I got that working than deploying through az container create command (somehow the it says the Container is running, but the

[2018-10-30 21:00] smccleary commented on #12714
https://<app_name>.scm.azurewebsites.net/ZipDeploy is still broken? The page is all white

[2018-10-30 21:05] YutongTie-MSFT commented on #17323
@nschonni Sure.

[2018-10-30 21:09] msangapu commented on #17530
Hi @smccleary. It should be updated in the next few hours.

@Grace-MacJones-MSFT It's been merged to master.

#please-close

[2018-10-30 21:09] brlewi commented on #17398
test

[2018-10-30 21:10] YutongTie-MSFT commented on #17880
test

[2018-10-30 21:17] rbrayb commented on #13620
"Make sure you choose a good redirect URI and do not include special characters such as underscores." The "good redirect URI" is a hyperlink that currently takes you back to the top. I'm guessing it should take you the the "Choosing a native app redirect URI' section?

[2018-10-30 21:20] femsulu commented on #17895
test

[2018-10-30 21:20] femsulu commented on #17895
<Customer Alias> Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2018-10-30 21:28] TravisCragg-MSFT commented on #17736
@sanjayincloud We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-30 21:28] #17736 closed

[2018-10-30 21:29] DiegoRamirez-MSFT commented on #17936
hello @krokoko We are investigating this issue now. Thank you for reporting it

[2018-10-30 21:30] JasonWHowell commented on #17893
MicrosoftDocs/azure-docs-pr#56670

[2018-10-30 21:30] MarileeTurscak-MSFT commented on #17926
Thanks, @paulmackinnon-adv365 . I created a pull request replacing the broken URL with the azure powershell URL, which I'm pretty sure is the correct one there. @barclayn can you please confirm and tag me in the comments if it needs to be changed?

[2018-10-30 21:31] Grace-MacJones-MSFT commented on #17530
We will now proceed to close this thread.

[2018-10-30 21:31] #17530 closed

[2018-10-30 21:31] MarileeTurscak-MSFT commented on #17926
We will proceed to close this thread. If approved, the change should go live in 24 hours.

[2018-10-30 21:31] #17926 closed

[2018-10-30 21:31] rbrayb opened #17942 "Link pointing to wrong section"
"Enter a redirect URI with a custom scheme. Make sure you choose a good redirect URI and do not include special characters such as underscores." Here "good redirect URI " is a hyperlink that takes you back to the top. I'm guessing it should take you to "Choosing a native app redirect URI"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-10-30 21:32] jluk commented on #17132
@kkho ARM template is supported as well, thanks for the insight - we're going to get portal to support these configurations just wondering if you were more concerned with deployment setup or ongoing mgmt of the identity.

Sometimes the network config can take some extra time even if the container is responding correctly which can produce errors. If you hit more issues feel free to open some issues

[2018-10-30 21:36] JasonWHowell commented on #14947
Hi @isamllr Do you still face this problem, or did you get past it? Thanks, Jason

[2018-10-30 21:39] hahazeMSFT opened #17943 "domainNameLabel needs to be unique"
Move <b>domainNameLabel</b> to the parameter file or have it be a variable  created from concatenated information or state somewhere in the document that this information need to be <u>unique across the region</u> VM is been deployed in.

`"domainNameLabel": "myresourcegroupdns1"`

If this is not changed or updated deployment is sure to fail.

---
#### Document Details

⚠ *Do not edit this section

[2018-10-30 21:40] darobs opened #17944 "Step #7 of Give IoT Edge access to the TPM - correct /dev/tpm0 permissions"
In step #7 of "Give IoT Edge access to the TPM" when you do "ls -l /dev/tpm0" the correct permissions should look like this:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2113dfd-71ce-f982-35d2-528ec73c6a66
* Version Independent ID: 5f043c8f-03ed-5d95-ec2d-4a02d80ecaec
* Content: [Auto-provision Azure IoT Edg

[2018-10-30 21:43] cherylmc commented on #17620
I've updated this. Thanks @tFable . I'll go ahead and close this pr now. #please-close

[2018-10-30 21:49] TravisCragg-MSFT commented on #17620
@cherylmc Thanks for the update, it is great! can you also update [This Table](https://docs.microsoft.com/en-us/azure/vpn-gateway/point-to-site-about#gwsku)?

@tFable We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-30 21:49] #17620 closed

[2018-10-30 21:55] mikebudzynski commented on #12844
This has been fixed (see reference from August). #please-close

[2018-10-30 21:57] UsmanMohammad opened #17945 "Certificate is invalid"
I keep getting certificate is invalid errors when trying the use the certificate to connect to an SSL enabled azure database for mysql

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77a94e6f-a799-494f-f2f9-171c1804e5f4
* Version Independent ID: 0ca5e2ae-5889-61ef-3ce7-5c447f7519a6
* Content: [Configure SSL connectivity

[2018-10-30 21:58] AronT-TLV commented on #17684
I see your point and it makes sense. And as you point out, now that we’ve had this discussion, anyone who is confused as I was, can see the thread. Thanks for the discussion. I love this feature btw. As noted, this is the only way I found to have a 32-bit legacy Linux application lifted & shifted to the cloud! And it has many other practical uses e.g. bringing Linux to
older versions of Windows Se

[2018-10-30 22:01] mikebudzynski commented on #9244
This issue no longer applies with the current documentation. #please-close

[2018-10-30 22:02] MicahMcKittrick-MSFT commented on #17684
@AronT-TLV and thanks for bringing this up! A very interesting conversation indeed :) It is always fun seeing what customers are doing and how they are utilizing a feature and the things they are able to accomplish. If you have any other thoughts or feedback on this doc or any others let me know :)

[2018-10-30 22:02] #17684 closed

[2018-10-30 22:02] jason-j-MSFT commented on #17912
@MGoedtel the document states firewall rules for inbound traffic, is that correct or is only outbound needed?

[2018-10-30 22:03] #12844 closed

[2018-10-30 22:03] mikebudzynski commented on #16282
The Stack Overflow question has been resolved.
#please-close

[2018-10-30 22:04] walsehgal commented on #17068
@RachelYang02, the typos have been corrected. The link is working fine, can you give it another try and let me know if its working for you now?

[2018-10-30 22:04] TravisCragg-MSFT commented on #9244
@kgreed We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-30 22:04] #9244 closed

[2018-10-30 22:05] MarileeTurscak-MSFT commented on #17848
The documentation does not clearly specify whether the objectID can be a device object in Add-AzureADGroupMember

However, the parameters are all user related which affirmsthat it is not currently supported to do this programmatically. @curtand please confirm.

[2018-10-30 22:07] RachelYang02 commented on #17068
I just checked, and the link works for me as well. Thank you for fixing it!

[2018-10-30 22:10] MarileeTurscak-MSFT commented on #17848
We will proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2018-10-30 22:10] walsehgal commented on #17068
@RachelYang02 No worries, Thanks again for raising the issue and providing a detailed feedback.

[2018-10-30 22:11] #17848 closed

[2018-10-30 22:12] ajlam commented on #17945
@UsmanMohammad, can you tell me which region your server is running in?

[2018-10-30 22:13] MicrosoftGuyJFlo commented on #17915
Checking with the Product Group to see what their thoughts are.

[2018-10-30 22:13] UsmanMohammad commented on #17945
Seems like its an issue with HediSql, it's working fine in MySQL Workbench. Sorry about that!

[2018-10-30 22:13] #17945 closed

[2018-10-30 22:13] MicrosoftGuyJFlo commented on #17915
#in-progress

[2018-10-30 22:13] MicrosoftGuyJFlo commented on #17651
#please-close

[2018-10-30 22:15] MicahMcKittrick-MSFT commented on #17943
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-30 22:20] Karishma-Tiwari-MSFT commented on #17424
@panoschatz I tried reproducing following the steps in this docs and I was able to successfully create the VM using az vm create.
1. Can you please share what did you do different from the tutorial in the docs?
By this:

2. Do you mean you are trying to create the VM in subscription A using the image created in subscription B?

[2018-10-30 22:33] Mike-Ubezzi-MSFT commented on #17701
@TJHAutoLtd We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-30 22:33] #17701 closed

[2018-10-30 22:34] BryanTrach-MSFT commented on #14436
@bartmcleod Thank you for the update. Please reach out to us if you have questions in the future.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-30 22:34] #14436 closed

[2018-10-30 22:34] Mike-Ubezzi-MSFT commented on #17695
@andersjohansenange We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-30 22:34] #17695 closed

[2018-10-30 22:34] Karishma-Tiwari-MSFT commented on #17522
@Jatinder-Luthra From the error, it looks like snapshot is not found, assuming that snapname is the name of your snapshot. Can you please check on the portal that the snapshot is present in the same resource group/subscription?
`Resource <snapname> is not found`

[2018-10-30 22:35] #16399 closed

[2018-10-30 22:36] pacmand commented on #17651
Thanks for the reply. If possible (and before closing)  could you help us understand scenarios in which a user would be required to manually type a password?

Right know the MobileIron team is summarily dismissing this experience as “not” seamless sso.

The infrastructure that is offered up (w/ public/private key pairs, the way the client is registered, and the ability to enforce biometrics seems

[2018-10-30 22:36] Mike-Ubezzi-MSFT commented on #17436
@lianetoohey We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-30 22:36] #17436 closed

[2018-10-30 22:37] Mike-Ubezzi-MSFT commented on #17199
@gchudublin We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-30 22:37] #17199 closed

[2018-10-30 22:40] BryanTrach-MSFT commented on #5127
@JatinBavishi We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-30 22:40] #5127 closed

[2018-10-30 22:40] MicrosoftGuyJFlo commented on #17651
If they signed in and didn't choose the approve a code option they would have to use their password.

[2018-10-30 22:48] kgremban commented on #17693
@smoms When you make changes to a module you can use tags to keep track of the new versions. For example, in the solution templates in VS Code we start all modules off at version 0.0.1.

<img width="266" alt="image" src="https://user-images.githubusercontent.com/13578436/47754852-7486ee00-dc59-11e8-8bf3-d92eb3c0c9f4.png">

You can update the version number in the module.json file, say to 0.0.2, th

[2018-10-30 22:53] tfitzmac commented on #17774
@xenalite - sorry I am not quite sure what you're trying to do. Is subnetAddressSpace a string? Are you trying to build a new array that takes a value from each element in another array?

[2018-10-30 22:54] mike-urnun-msft commented on #17347
Hey @cgillum Were you referring to clarification below in screenshot on chaining doc in your comment above? if so, I can go ahead and add the same clarification about `host.json` to this doc as well.

![image](https://user-images.githubusercontent.com/36717703/47755478-9e411480-dc5b-11e8-9036-033cf866f145.png)

[2018-10-30 22:56] iainfoulds commented on #17901
@caleno Although a single disk can be mounted to multiple pods on the same host, this really isn't something that should be done as the underlying filesystem isn't aware it's being shared for concurrent access like that. This behavior is the same as using a single virtual disk attached to multiple VMs - the filesystem on that disk isn't aware of the scenario, and there's potential for data loss if

[2018-10-30 22:59] BryanTrach-MSFT commented on #17718
@jeevaeastpoint We would like to work closer with you on this matter. I was able to get SSI working in a sample app. Can you please reach out to us at azcommunity@microsoft.com with your subscription ID and the URL of this post? We look forward to your reply.

Since we will work with you offline, we will close out this thread.

[2018-10-30 22:59] #17718 closed

[2018-10-30 23:00] mikebudzynski commented on #17288
@joeruder Thanks for your suggestion, it's a fair point! Although I did not move the *Concepts* section up, I did reference the terminology and policy introduction articles from the tutorials.

#please-close

[2018-10-30 23:03] mamccrea commented on #17937
@stevej-arbela - I apologize that our reference documentation was offline briefly today. The old MSDN URLs should now navigate to the Stream Analytics query language documentation on docs.microsoft.com. We hope you like the new docs experience.

#please-close

[2018-10-30 23:03] iainfoulds commented on #17932
You don't have access to the master, but that's still where it's stored :) Credential rotation isn't something currently supported directly for the service principal used within the AKS cluster. Managed identities would allow this, which is on the AKS roadmap. You can try node managed identities here - https://github.com/Azure/aad-pod-identity. There's also Key Vault FlexVolume that's on the AKS r

[2018-10-30 23:04] xenalite commented on #17774
@tfitzmac Yes, and yes.
subnetAddressSpace is a string type.
In this case, I would like to use the copy notation to project a property from array of objects into an array of strings, for instance:
Sample input:
[code]

Expected output:
[code]

Existing methods in the docs only allow me to transform an array of objects into another array of objects using copy notation.

[2018-10-30 23:07] MarileeTurscak-MSFT commented on #17942
@rbrayb
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-30 23:08] sergaz-msft commented on #17148
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-30 23:08] #17148 closed

[2018-10-30 23:09] MarileeTurscak-MSFT commented on #17870
Azure AD B2C does not support integrating with applications / relaying parties via SAML yet.

You can support this ask and keep up to date on its progress by voting for it in the Azure AD B2C feedback forum: [(Application) SAML Protocol support.](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/15334323-saml-protocol-support)

[2018-10-30 23:09] #17870 closed

[2018-10-30 23:12] mbialecka opened #17948 "How to associate storage account with IoT Hub?"
Although the doc has a section "Associate an Azure Storage account with IoT Hub" it doesn't say HOW to do it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbaf3777-34b8-b195-691f-2853c9cbe04a
* Version Independent ID: 3b0a4384-e495-16db-1c36-dca0a9f95179
* Content: [Understand Azure IoT Hub file upload](https://docs.

[2018-10-30 23:12] mikebudzynski commented on #15823
@robertherrera I have enhanced the docs to capture your point (will propagate soon). Please, note that subscription is per user per product - not per product only. You can add subscriptions with custom keys through the REST API, PowerShell command or ARM template. UI doesn't let you specify the subscription keys, and in case of blank values - they are automatically generated.

[2018-10-30 23:12] MarileeTurscak-MSFT commented on #17181
@ajamess thanks for following up. We will proceed to close this thread.

[2018-10-30 23:12] #17181 closed

[2018-10-30 23:15] pacmand commented on #17651
Ok so I am not 100% that I understand this answer.

In a scenario where I have an azure ad joined device and am registered for phone sign in, if I change my password, will I be required to enter a password?

What you are implying is that I somehow have a choice. We would really like to advocate Authenticator but we really need to be precise in our language and understand the scenarios.

My experie

[2018-10-30 23:20] #17937 closed

[2018-10-30 23:40] #15823 closed

[2018-10-30 23:44] #17742 closed

[2018-10-30 23:46] MarileeTurscak-MSFT commented on #17896
@xNiklasJern I have assigned this issue to the content author, @barbkess , for these updates.

[2018-10-30 23:48] pakhare opened #17949 "Documentation for take function is not correct"
The example for take function gives following example which is not valid.
take([0, 1, 2, 3, 4], 3)

It should be take(createArray(0,1,2,3,4), 3)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03aa9e88-7fa0-56ab-f794-58f0c37b6d7a
* Version Independent ID: 25c5ef5c-6ba4-f5ff-f94b-8f2818ec2feb
* Content: [Functions refere

[2018-10-30 23:49] dcbrown16 commented on #13845
@Placid7 that's strange, I can't reproduce that (I also have Owner role and can get into Advanced Settings on all the workspaces we have). Your Owner role is scoped to the workspace or some scope including it?
I can't think of any reason why you would be seeing that behavior, may need to ask support.

[2018-10-30 23:52] slynickel commented on #17932
@iainfoulds sounds good. Thanks for the clarification. I look forward to managed identities.

[2018-10-30 23:52] #17932 closed

[2018-10-31 00:03] vicperdana commented on #17663
Thanks Rayne – can you confirm if the failover and failback can be facilitated over a site to site VPN?

I understand that replication will occur via Internet or ExpressRoute.

Thanks,

Vic

From: Rayne Wiselman <notifications@github.com>
Sent: Monday, 29 October 2018 3:47 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: vicperdana <vicky.esp@gmail.com>; Mention <mention@noreply

[2018-10-31 00:30] mamccrea commented on #15625
@wmpauli - that's great! I'm glad we were able to work through this. We are still working to improve the experience of this Quickstart. I'll drop a comment here when it's updated!

[2018-10-31 00:34] andersjohansenange commented on #17695
Actually you didn’t answer my question. Your shortcut closes the entire page. What I asked for was a way to clse the sub-tabs with queries that one can create in the ADE.

Sendt fra min iPad

[2018-10-31 00:35] balasbm commented on #14432
Thanks @christiandekker for your input. I am taking care in this sprint. I will keep you posted once the fix ready to release to prod.

[2018-10-31 00:37] balasbm commented on #13803
Thanks @javgarces for identifying and sharing your input. I am working in this sprint. I will keep you update once the fix is ready to release to prod.

[2018-10-31 01:11] kobulloc-MSFT commented on #17898
@imeya Are you sending request/dependency telemetry to the existing application?  In the past we would activate Failure Anomalies when data was sent, however now we only activate Failure Anomalies when a new application is created.  If you are in a scenario where you have an old application where data was not sent until after the new rule went into effect, we can manually activate the applications

[2018-10-31 01:16] v-maroge commented on #16255
@MikiMakhlevich Just want to make sure,  you mentioned that it is "tested with a small group of users and soon will be available" does this mean that these two detectors are still not GA?

[2018-10-31 01:58] rogerlee6411 commented on #8144
YES, to switch Linux container is happy now , resolved it!

[2018-10-31 02:16] Alberto-Vega-MSFT commented on #17611
@Moodu  Definitely this document needs more detail and examples. Thanks for your valuable feedback! I have assigned the issue to the content author to evaluate and update as appropriate.
If you are  still stuck with this, can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/I

[2018-10-31 02:42] kashimiz commented on #17539
@PramodValavala-MSFT Not sure on this one; pinging @fabiocav who's closer to the runtime.

[2018-10-31 02:45] dstarr opened #17950 "Creating the table from JSON"
nevermind. got it.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2142d15a-97b4-c4fc-b0af-da2d1c07cd77
* Version Independent ID: 815ca9e8-340f-d854-951c-11078ec8fd24
* Content: [Quickstart: Run a Spark job on Azure Databricks using Azure portal](https://docs.microsoft.com/en-us/azure/azure-databricks/quickstart-create-d

[2018-10-31 03:05] imeya opened #17951 "Client-side Logging with the .NET Storage Client Library for a .net core console app"
link to this [page](https://docs.microsoft.com/en-us/rest/api/storageservices/client-side-logging-with-the-.net-storage-client-library).

How to enable Storage Client Library logging with a .net core console app? I tried add a app.config file for the .net core console app, but it does not take effect(no log files are generated in the specified folder)

[2018-10-31 03:05] #17123 closed

[2018-10-31 03:17] tFable opened #17952 "Windows 10 Requirements for IKEv2"
Hello,

Can you please clarify what are the requirements for IKEv2 for Windows 10 1709 and above? The doc stops at 1703. My experience with a Windows 10 1803 machine is that the registry key is not needed for IKEv2 P2S to work. Can you confirm if the registry requirement exists for versions of Windows 10 newer than the ones mentioned on this doc?

Regatding the KB requirement: Is there one for Win

[2018-10-31 03:35] tim-yan opened #17953 "What's the difference between geo-distributed and geo-replication?"
If they are the same concept, is this Java code managed by Maven running background while I'm deploying a geo-replication via portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ac92913-3025-c2e2-7ecb-39347c8a1b07
* Version Independent ID: db55a2e4-fe7e-d38d-2afc-7702ae218550
* Content: [Implement a geo-distributed

[2018-10-31 04:07] saifuddin123 commented on #17668
I was able to work with it now. looks like it was related to Docker login. It worked after loging into docker with Username instead of email. pls close it,

[2018-10-31 04:07] #17668 closed

[2018-10-31 04:09] ChrisFg commented on #17266
Thanks for the comments David. Without allocating more time for a proof of concept, its difficult to assess how the deployment tool best fits my offering: the development of parameterised 'chunks' of an automated infrastructure solution, e.g. the installation, maintenance, and renovation (lifecycle) of an opensource app in production.

Pre-defined, automated solution lifecycle actions are develope

[2018-10-31 04:17] dipti927 commented on #13924
I have used the same U-SQL SDK and Azure SDK dependencies which is mentioned in the article..
Version of U-SQL SDLK is Microsoft.Azure.DataLake.USQL.SDK.1.3.180615build

 its downloading the below packages
Microsoft.Azure.Management.DataLake.Analytics.3.5.1-preview
Microsoft.Azure.Management.DataLake.Store.2.4.1-preview
Microsoft.Rest.ClientRuntime.2.3.11
Microsoft.Rest.ClientRuntime.Azure.3.3.7
M

[2018-10-31 04:43] MarkusVi commented on #14120
Thanks a lot, @captaingig.
I have staged an update of the article.

#please-close

[2018-10-31 05:05] kalyankrishna1 commented on #16978
Can you see this app in the new App Registration Portal (preview). If yes, then we no longer have a v1 or v2 apps anymore. An app is an app in AAD.

Try your commands again and see if that worked or not.

Btw, this feature is to be deprecated soon and replaced with an entirely new feature, so expect responses to be a bit slow.

[2018-10-31 05:14] dcbrown16 commented on #13492
This has been fixed, you can close (I sit next to Keiro). Thanks!

[2018-10-31 05:17] ramankumarlive commented on #17902
looping @siriusk-MSFT and @yuemlu for guidance

[2018-10-31 06:17] mcurko commented on #17908
Yes of course. And through Traffic Manager profile eu1971 also.

Regards,
Marko Čurko

Marko Čurko
Senior Developer │ Perpetuum Mobile d.o.o.
Damira Tomljanovića Gavrana 13, 10000 Zagreb
m +385 91 2305 123 │ t +385 1 6390 834
marko.curko@perpetuum.eu<mailto:marko.curko@perpetuum.eu> │ www.perpetuum.hr<http://www.perpetuum.hr/>

[cid:image002.png@01D34284.7E49FA10]

From: TravisCragg-MSFT <notifica

[2018-10-31 06:31] keshavksingh commented on #17904
https://docs.microsoft.com/en-us/azure/machine-learning/service/tutorial-train-models-with-aml

![image](https://user-images.githubusercontent.com/41631964/47770240-9ee1b580-dd04-11e8-8153-ef2c9611fdee.png)

![image](https://user-images.githubusercontent.com/41631964/47770280-be78de00-dd04-11e8-8eb4-dbcbc21dc4ba.png)

[2018-10-31 06:46] Plasma commented on #16602
@Karishma-Tiwari-MSFT You mention ```port 20000*``` what is the asterisk (*) referring to here?

Ports above 20,000? We have intermittent connectivity issues to some of our web/worker roles, sometimes we can RDP in, sometimes it just says "RD cant connect".

[2018-10-31 06:48] trinadhkotturu commented on #17008
For On-demand backup, it should be - Backup Operator on the Vault resource and not on VM resource.
For Restore disks(unmanaged) - Backup Operator on the vault, Contributor on the VM and storage account contributor on the storage account selected.
For Restore disks(Managed) - Backup Operator on the vault, Contributor on the VM and storage account contributor on the storage account selected(this is

[2018-10-31 06:49] linda33wj commented on #17446
@iamthehousedog I assume you meant the service principal authentication to accessing specific data stores. Please refer to the respective connector article which support such auth on details. There is no generic behavior across copy activity.

#please-close

[2018-10-31 06:59] dcbrown16 commented on #17008
@trinadhkotturu, updated per feedback, thanks!

[2018-10-31 07:02] mcurko opened #17957 "Note"
Since there's no redirection rule in the AG, you have to explicitely enter https in the browser.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c673aeb-a45a-a6a3-390c-899a35050bf1
* Version Independent ID: 44f0b776-de4b-aa34-0e3a-ce4941532337
* Content: [Create an application gateway with SSL termination - Azure CLI](

[2018-10-31 07:02] trinadhkotturu commented on #17008
#sign-off

[2018-10-31 07:06] imikiyasu commented on #12086
Thank you for the updates. I understand the current license requirement for Azure AD B2B. But we need more reasonable licenses for inter-tenants collaborations in a same company group. If we follow current license requirements, we need doubled amount of Azure AD licenses. For example, if customers has two tenants, like 100 users' tenant A, and 100 users tenant B, and they want to invite users to t

[2018-10-31 07:06] #12086 closed

[2018-10-31 07:16] mamccrea commented on #17950
#please-close

[2018-10-31 07:30] dcbrown16 commented on #17803
Thanks @rayne-wiselman!

[2018-10-31 07:30] #17803 closed

[2018-10-31 08:03] smoms commented on #17693
@kgremban many thanks! last question is, how can i push deployment manifest programmatically?

[2018-10-31 08:22] garethmorris78 opened #17958 "No instructions for resizing Azure Disk/Azure Files"
Can the configure data volumes documentation please be updated detailing the process for resizing azure disks and azure files within the context of PV/PVC's. Volume expansion is now Beta in K8s 1.11 https://kubernetes.io/docs/concepts/storage/persistent-volumes/#expanding-persistent-volumes-claims.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2018-10-31 08:47] johnstaveley opened #17959 "'CREATE CREDENTIAL' is not supported in this version of SQL Server."
Doesn't work, tried connecting to master and my managed instance (with my db and shared access signature)

CREATE CREDENTIAL [https://mitutorials.blob.core.windows.net/databases]

WITH IDENTITY = 'SHARED ACCESS SIGNATURE'
, SECRET = 'sv=2017-11-09&ss=bfqt&srt=sco&sp=rwdlacup&se=2028-09-06T02:52:55Z&st=2018-09-04T18:52:55Z&spr=https&sig=WOTiM%2FS4GVF%2FEEs9DGQR9Im0W%2BwndxW2CQ7%2B5fHd7Is%3D'

---
#

[2018-10-31 09:06] AstroSign-Dev opened #17961 "Provided Version MySQL RP version 1.1.24.0 does not work with ASDK 1809"
ASDK 1809 should be configured with AzureRmProfile 2018-03-01-hybrid. This does not work with MySQL RP version 1.1.24.0. which expects to have ArmProfile 2017-03-09-profile.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88e1b50a-92ea-e22a-2580-d060182f82cb
* Version Independent ID: f96b7b61-6307-d77a-5a7a-10998232220c

[2018-10-31 09:19] keithcn commented on #17801
After reading the content, actually I didn’t get what’s the working model based on physical and logical partition, and behind the scenes, if we have any illustration (a picture to explain the workflow), it will be much better to understand.

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

________________________________
发件人: Mike Ubezzi <notifications@github.com>
发送时间: Tuesd

[2018-10-31 09:38] #17288 closed

[2018-10-31 09:45] fguerri commented on #17672
Thanks Cheryl. It seems that the most up-to-date content about ER support for Azue devops is in this blog post: https://blogs.msdn.microsoft.com/devops/2018/10/23/expressroute-for-azure-devops/

Thanks,
Federico

From: Cheryl McGuire <notifications@github.com>
Sent: Monday, October 29, 2018 5:18 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Federico Guerrini <Federico.Guerrin

[2018-10-31 09:48] Makerone opened #17962 "MFA with Email Verification"
Is it possible to verify the logon with an email pin?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8c394d1-e3b1-b88c-416c-3f8e0ab3ae3d
* Version Independent ID: 8aafb9d8-72cb-c9b4-5a01-9e5633764f39
* Content: [Multi-Factor Authentication in Azure Active Directory B2C](https://docs.microsoft.com/en-us/azure/active-di

[2018-10-31 09:51] panoschatz commented on #17424
1. I have followed the exact steps as in https://docs.microsoft.com/en-us/azure/virtual-machines/linux/shared-images
Enabled the gallery preview in subs A,B
Created a gallery in sub A
Created a custom image in sub A
Created an image definition in gallery
Published the image to gallery in sub A
I can see the image version in the portal and in the CLI
Using the same service Principal in both subscri

[2018-10-31 10:05] fmegen commented on #11024
We are working on NPM but there is no confirmed date yet.

[2018-10-31 10:06] fmegen commented on #11024
i am closing this thread for now. feel free to open a new thread if needed.

[2018-10-31 10:22] mark-mit-k opened #17963 "Missing Set-AzureRmNetworkSecurityGroup"
When using the New-AzureRmNetworkSecurityGroup and creating a group you need to Set-AzureRmNetworkSecurityGroup as seen in the docs (https://docs.microsoft.com/en-us/powershell/module/azurerm.network/set-azurermnetworksecuritygroup?view=azurermps-6.11.0)
An example of how to use it can be found here: https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-extend-hadoop-virtual-network#azure-pow

[2018-10-31 10:24] buzzfrog opened #17964 "Three links are broken"
Search for "[Develop and deploy an IoT Edge module to a simulated device][lnk-tutorial2]" and you will find them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c7aa1ca-7807-7b0e-6ddb-887106288aa8
* Version Independent ID: c20a9ac2-63a3-fe68-ba5b-038af4fe3c90
* Content: [Develop modules for Azure IoT Edge](https://doc

[2018-10-31 10:41] jakaruna-MSFT commented on #17889
@roygara Please check and take the nercessary action on the document.

[2018-10-31 10:43] Ahmad-Al-Ali opened #17965 "Tamplates provided are broken"
the templates provided on the top of the document are broken and throws deployment error

Template URL https://azuremarketplace.microsoft.com/en-us/marketplace/apps/Microsoft.AzureMLASPNETTemplateforRRS?tab=Overview

Error Message

STATUSMESSAGE{
  'Code': 'NotFound',
  'Message': 'Cannot find SourceControlToken with name GitHub.',
  'Target': null,
  'Details': [
    {
      'Message': 'Cannot fi

[2018-10-31 10:45] tariqjaber opened #17966 "Different Titles!"
in following article, the title is "Enable synchronization of NTLM and Kerberos credential hashes to Azure AD" while here it is "You can trigger a full sync of all passwords by using the following script:"
https://docs.microsoft.com/en-us/azure/active-directory-domain-services/active-directory-ds-getting-started-password-sync-synced-tenant

This might be confusing for the customers.

---
#### Docu

[2018-10-31 10:55] MohitGargMSFT commented on #17962
@Makerone Thanks for your feedback! We will investigate and update soon on it.

[2018-10-31 10:57] sijday commented on #13503
This still is not clear. The term Azure AD tenant should be used and replace "directory" for clarity.

[2018-10-31 10:59] sijday opened #17969 "Spelling/grammatical error"
In the "Trouble seeing all subscriptions" the first sentence uses the word starting which should be started for past tense.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1527b80e-5270-b5f0-9034-747c6f92ae4e
* Version Independent ID: 50b9882c-dcb0-ecc1-241b-1361ad2fff1e
* Content: [Organize your resources with Azure ma

[2018-10-31 11:00] cmeyertons commented on #17913
it's this blurb i'm talking about:

![image](https://user-images.githubusercontent.com/19917677/47783917-08949c00-dcd2-11e8-8e9f-2afea4a1d2e7.png)

why call this out on the dynamic page when you could put this documentation directly on the static page?

reason i ask, is i was going through and copying the file examples, and i had to re-read the blurb to just ignore this portion

[2018-10-31 11:01] MohitGargMSFT commented on #17966
@tariqjaber Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-10-31 11:08] sergaz-msft commented on #17332
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-31 11:08] #17332 closed

[2018-10-31 11:23] NisreenJ opened #17971 "Error Regarding Subnet Upon Application GW Creation"
I have been inputting all of the commands as required. However, when I input the following command:

New-AzureRmApplicationGatewaySku `
  -Name Standard_Medium `
  -Tier Standard `
  -Capacity 2

New-AzureRmApplicationGateway `
  -Name myAppGateway `
  -ResourceGroupName myResourceGroupAG `
  -Location eastus `
  -BackendAddressPools $defaultPool `
  -BackendHttpSettingsCollection $poolSettings `

[2018-10-31 11:29] cephalin commented on #15545
@ccompy Need your assistance for this query.

[2018-10-31 11:35] RowlandShaw opened #17972 "Time picker is no longer there"
These docs refer to a Time Picker, but that doesn't seem to show within the Azure portal :(

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c84c297e-d371-a8fe-416e-147b152d48d4
* Version Independent ID: 1a46ae57-0d71-ba2c-fe71-f8bb2024e1ce
* Content: [Get Started with queries in Azure Log Analytics](https://docs.microso

[2018-10-31 11:36] jtuliani opened #17973 "Reverse DNS uses wrong DNS suffix"
Doc states that reverse DNS for private zones works within the Vnet, returning a response based on the private domain DNS suffix. I just tried it, and it doesn't - the 'internal.cloudapp.net' suffix is returned, both within and across vnets. Could be a doc bug or could be a service bug, but either way it needs sorting out.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-10-31 11:40] vithal-wadje opened #17974 "Explain how to configure live video streaming source"
this document not enough to setup full media service & its good if you have add how to set video source for streaming & also explain if we don't have video camera can we test using the laptop , PC or Mobile camera

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9799262-16a7-b161-7c29-caf2fcb8ea55
* Version Independent

[2018-10-31 11:42] cephalin commented on #17642
@yevster The update is now merged and should be published today. Thank you!

#please-close

[2018-10-31 12:00] sergaz-msft commented on #17944
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-31 12:00] ripom opened #17975 "Java application"
I have a java application with no web.xml file.
The application not running in tomcat or similar but it listen on port 8080.
Is still possible to monitor this app without rebuild the code?
I am not java expert so may be I am missing something.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c4add96-12df-37f9-05be-22a9f

[2018-10-31 12:01] sergaz-msft commented on #17964
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-31 12:01] sergaz-msft commented on #17948
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-31 12:37] simonlegeek commented on #16602
I have two web role and we are using the Windows caching service. The RDP forwarder is consistently listening on port 20005 thoughout our deployment.

Télécharger Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Andrew Armstrong <notifications@github.com>
Sent: Wednesday, October 31, 2018 2:46:38 AM
To: MicrosoftDocs/azure-docs
Cc: Simon Chalifoux; Mention
Subject

[2018-10-31 12:40] xNiklasJern opened #17976 "Terms of use while device enrollment"
Hi,

An FAQ answer I'm missing is that if this feature is configured, and the Terms and Conditions is configured for enrollment. Does this mean that the end user needs to approve both?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 618ca851-56c8-5ba1-35de-a7b8e7af8aa2
* Version Independent ID: 5facc663-2e29-65ad-f208-9

[2018-10-31 12:42] vishalaj1 opened #17977 "Connection from SSRS to Azure Analysis Service"
Hi Team,

We installed all latest client libraries and tried all connection string types to connect from ssrs data source to azure analysis services still it does not connect.

Are we missing somethin here?

Regards,
Vishal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7777fdb6-db9d-a6e6-724e-acabe0d5d9f8
* Version In

[2018-10-31 12:48] nphmuller opened #17978 "Provide documentation and examples for Azure Active Directory integration"
Please consider providing documentation and examples describing how I can manage user permissions when I've enabled Azure Active Directory integration.

I assume I'd have to create a (cluster)rolebinding. But can I simply enter the username as known in Azure AD in the binding? Would I have to set the domain in the username (user@domain.com), or would the user identifier suffice? Can I use all grou

[2018-10-31 12:48] liitimellison opened #17979 "Firewall Ports, Services, and IP addresses for allowing a web application to authenticate users using AAD B2C"
It would be helpful to have details here for what rules, destination URLs/IP Addresses, Ports need to be allowed from a DMZ hosted web application server that is leveraging the AAD B2C user authentication within the application on that server.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df26c5f6-63b9-d281-5724-c0731

[2018-10-31 12:51] zambottivinicius commented on #17445
Hello @sergaz-msft My edge devices are running perfectly. I'm using Linux and deploying my devices in containers in a Linux VM at azure.

[2018-10-31 12:52] sergaz-msft commented on #17641
Hi @EncryptionSpecialist.

Yes!

No, you should use the private key of the Root CA, the same you uploaded to Azure IoTHub.

Let us know if you found differences? I am supposing that you purchased an X.509 certificate from a root certificate authority (CA)?

Thanks!

[2018-10-31 12:56] jakaruna-MSFT commented on #17881
@gperrego Found a docker compose specific solution [here(preview)](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-docker-compose)
I tried to deploy a service fabric application in [Linux environment with yoeman](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-package-containers) to package the application. We get an option to pick the image name

[2018-10-31 12:58] sergaz-msft commented on #17737
Hi @smoms just want to make sure that you completed the steps in [Develop an IoT Edge solution with multiple modules in Visual Studio Code](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-multiple-modules-in-vscode) before trying [this](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-ci-cd#create-a-sample-azure-iot-edge-solution-using-visual-studio-code) tutorial?

PS: Can you conf

[2018-10-31 12:58] jakaruna-MSFT commented on #17881
Probably we need to remove the "compose" from the heading because we have a separate page which describes about deploying the application using docker compose.
@rwike77 Please provide your inputs

[2018-10-31 12:59] jakaruna-MSFT commented on #17958
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-31 13:00] sergaz-msft commented on #17732
Thanks @xsqian !
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-31 13:00] #17732 closed

[2018-10-31 13:03] cephalin commented on #15289
@romeara Thanks for the feedback. I've made the update and it should be published today.

#please-close

[2018-10-31 13:08] sergaz-msft commented on #17741
Hi @xsqian can you please share the code on your connectedAirConditionerAdv.js file? Make sure you remove the connection string before sharing it.

Thanks!

[2018-10-31 13:10] sergaz-msft commented on #17310
@smoms did the suggestion from @mbialecka solved the issue? Thanks!

[2018-10-31 13:12] D3nnisd opened #17980 "Unsupported Driver"
Hi,

I followed the guide and installed the PostgreSQL driver x86: https://www.postgresql.org/ftp/odbc/versions/msi/ latest. All good so far. I installed this on the development machine aswell. Now while deploying i get " Unsupported driver".

My main cmd: msiexec /i psqlodbc_x86.msi /qn /lv %CUSTOM_SETUP_SCRIPT_LOG_DIR%\psql.LOG

Package wont run in Azure Data factory either.

There is very littl

[2018-10-31 13:15] sergaz-msft commented on #17869
Hello @LisandroSu , IoTHub is available in WestUS as you can see here: https://azure.microsoft.com/en-us/global-infrastructure/services/?products=iot-hub . Did you try creating the IoTHub using Azure Portal?

Thanks!

[2018-10-31 13:17] gperrego commented on #17881
I'm really looking for integration with service Fabric and  Docker Hub articles I know this one was docker-compose but I'm really looking for a how to integrate service fabric with Docker Hub as the container registry.  So if I develop an application in visual studio and then upload it to Docker Hub registry how is it that I deploy that to my service fabric cluster.  I would prefer use one solutio

[2018-10-31 13:28] sergaz-msft commented on #17936
Hello @krokoko , last time I checked DPS was not integrated with IoT Edge Leaf Devices. I am double checking with product group and if not you can open a new feature request [here](https://feedback.azure.com/forums/907045-azure-iot-edge).

Thank you!

[2018-10-31 13:32] logicfox commented on #15932
@rkarlin @SaurabhSharma-MSFT Is this been worked on? The issue was logged almost a month ago!

[2018-10-31 13:32] sergaz-msft commented on #17445
Thanks for confirming @zambottivinicius . @shizn can you confirm if we support the scenario described to develop and debug Python modules for Azure IoT Edge ?

[2018-10-31 13:47] HarsimranjeetSingh commented on #17481
Let me know if DF Team is not aware. It took a day for me ,to utilize this feature while executing a pipeline

[2018-10-31 13:50] bonova commented on #17459
@CHDAFNI-MSFT  - thanks for the idea, it's definitely a good one. However, we should be careful as stating that application supports Managed Instance does not necessarily mean that application has been **officially certified** for MI. Customers are typically interested in official support, so information needs to come from application owning teams. Given that certification are still in progress I

[2018-10-31 13:52] nphmuller opened #17981 "Specify where the Azure update channels can be found"
"...an announcement is made through the Azure update channels"
Please specify where I can find these channels.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec484163-5d73-af3a-3d7b-9e0d421d2824
* Version Independent ID: 42da7aed-a33d-e331-fb7f-4fb4b40e5813
* Content: [Supported Kubernetes versions in Azure Kubernetes

[2018-10-31 13:55] nphmuller commented on #17978
Nevermind, I found it in the docs. :)

[2018-10-31 13:55] #17978 closed

[2018-10-31 14:07] carlosfbteixeira commented on #17249
Any update on this? we are currently facing this issue and cannot progress further due to it on our development

[2018-10-31 14:11] CHDAFNI-MSFT commented on #13050
@femsulu @yashesvi  poke poke....

[2018-10-31 14:19] sauryadas commented on #17981
https://azure.microsoft.com/en-us/updates/?product=kubernetes-service

[2018-10-31 14:23] EnCey opened #17982 "Document that TelemetryProcessors don't work in Visual Studio / with Debuggers"
TelemetryProcessors will be called, but even when they "filter" out a telemetry item it will still be printed to the Debug output window and thus also appaer in Application Insights Search.
This makes TelemetryProcessors unsuitable to filter out telemetry items that aren't needed at development time, like certain metrics or successful requests form ASP.Net Core.
If there is a way to filter items i

[2018-10-31 14:29] #17982 closed

[2018-10-31 14:31] smoms commented on #17310
@sergaz-msft i will let you know within the next 2 days. thanks

[2018-10-31 14:32] EnCey commented on #17982
False alert: the TelemetryProcessor does work as expected.
It is only the `SamplingTelemetryProcessor` that will still write telemetry items to the Debug output.

I believed the items filtered by my own processor were still reported, but it turns out they were sampled before they even hit my processor.

[2018-10-31 14:35] arkein opened #17983 "[AppGateway] Max number of path-based rules per URL Map?"
What is the maximum count of path-based rules that could be added to a single URL Map in Application Gateway configuration?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f-e546-b3ea-f83892f4c23d
* Version Independent ID: 27aecc7b-f107-96d4-b044-ae026bca2727
* Content: [Azure subscription limits and quotas]

[2018-10-31 14:37] #17631 closed

[2018-10-31 14:41] kevinrestiaens commented on #17687
Do you have some more information?

[2018-10-31 14:50] christophkarner commented on #16956
Hi, I've take some steps towards the right direction ;-)
1. The delegated provider has a subscription, based on an offer with its base plan containing the service "Microsoft.Subscriptions" only.
2. An offer with services "Compute, Network, Storage" has been delegated via "Delegate offer" to the delegated provider subscription.
3. Under portal.local.azurestack.local\\_delegatedprovidertenant_ I try

[2018-10-31 14:54] krokoko commented on #17936
Hello @sergaz-msft, thank you for the reply. I will wait for your feedback. So if i'm right the only way for now is to use the certificates with the connection string ? Thank you !

[2018-10-31 14:55] palusik commented on #13139
But how to enable client managed keys for Service Bus? Is this feature available?

[2018-10-31 14:57] #17590 closed

[2018-10-31 15:00] hadr10 opened #17984 "Autoscaling doesn't work with new versions Cluster Autoscaler 1.3.3 and 1.3.4"
Hello,

azure aks doesn't work with new cluster autoscaler 1.3.3 and 1.3.4. With 1.3.1 it works good. https://github.com/kubernetes/autoscaler/releases

Error from autoscaler:
Warning  FailedToScaleUpGroup  2m    cluster-autoscaler  Scale-up failed for group agentpool: containerservice.Managed
ClustersClient#CreateOrUpdate: Invalid input: autorest/validation: validation failed: parameter=parameter

[2018-10-31 15:00] DMKmod opened #17985 "Azue SQL Managed Instances and backups storage."
I have deployed Azure SQL Managed Instance but cannot find storage container details for backups, do one needs to create one separately?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a73c2387-dd09-c1fe-a5bd-66ec176194b4
* Version Independent ID: d615c55b-caf1-5d78-072d-88614b8af9ff
* Content: [Azure portal: Create a S

[2018-10-31 15:04] raych1 opened #17986 "How to check the exact fan out instance"
From the trace log, it seems the activity execution is fan out to about 15 instance. I wonder if the exact number of instance could be measured somewhere. My durable function is hosted with app service plan.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a901339-575f-a4b0-576a-472b08a4d623
* Version Independent ID: d0

[2018-10-31 15:07] bdcoder2 opened #17987 "Additional information required..."
Regarding the following command used to install IIS and the .Net Framework:

Set-AzureRmVMExtension `
    -ResourceGroupName $resourceGroup `
    -ExtensionName IIS `
    -VMName $vmName `
    -Publisher Microsoft.Compute `
    -ExtensionType CustomScriptExtension `
    -TypeHandlerVersion 1.4 `
    -SettingString '{"commandToExecute":"powershell Add-WindowsFeature Web-Server,Web-Asp-Net45,NET-Fra

[2018-10-31 15:07] 1221Morthyr1221 commented on #14691
It's probably by this command:
"az functionapp config appsettings set --name <function app name> --g first-serverless-app --settings FUNCTIONS_EXTENSION_VERSION=~1"
It's "--g" you have to remove one "-"  -g
"az functionapp config appsettings set --name <function app name> -g first-serverless-app --settings FUNCTIONS_EXTENSION_VERSION=~1"

[2018-10-31 15:08] thekwilson opened #17988 "Consider Adding Guidance Around Slots"
Since each App Service Slot (staging, dev, etc.) needs to have their own MSI generated it probably would be good to call that out in this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a93ee241-6e6c-12c6-cb14-7c5275bda78d
* Version Independent ID: 9db0ec07-7ee2-a27e-66da-eb04487a0d11
* Content: [Managed identi

[2018-10-31 15:09] Ofekw commented on #17898
Yes we are (lots of data). I'll contact you privately with app insights details which is about about 1 year old.

[2018-10-31 15:15] sergaz-msft commented on #16736
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-31 15:15] #16736 closed

[2018-10-31 15:17] sergaz-msft commented on #17654
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-31 15:17] #17654 closed

[2018-10-31 15:17] kruppenb commented on #17922
I understand, hopefully there isn't an issue here

[2018-10-31 15:17] #17922 closed

[2018-10-31 15:20] inkey opened #17989 "The Thumbprint field is required."
When running the first two templates above i get error the thumbprint field is required even tho the scrip is creating a new empty resource first. Any one any ideas how to be able to run this scrip without thumbprint being required?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6803a0f-eda8-acf7-c598-d4679833de08
* V

[2018-10-31 15:25] jeffgilb commented on #17961
Hi @AstroSign-Dev , this is a known issue being resolved in the next release of the SQL and MySQL resource providers (coming soon). Please see this forum post for more details: https://social.msdn.microsoft.com/Forums/en-US/bc1cac31-a668-4c78-8e42-18a5272eca92/sql-rp-install-powershell-error-1809?forum=AzureStack

[2018-10-31 15:25] jeffgilb commented on #17961
#please-close

[2018-10-31 15:30] ced1967 opened #17991 "Examples fails"
The examples as is fails to compile...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fbc3301-eb69-75c2-2adf-5619b9b5beb0
* Version Independent ID: 5cb8ac31-b9a4-9557-6af3-cca42824263e
* Content: [Manage Azure Data Lake Analytics using Azure Java SDK](https://docs.microsoft.com/en-us/azure/data-lake-analytics/data-lak

[2018-10-31 15:31] swhite-msft commented on #17687
Apologies for the late response. Please see the answer in [Stack Overflow](https://stackoverflow.com/questions/50449584/unable-to-paginate-through-all-bing-api-results). Basically, it's an "estimate" and not a hard total, and as you noticed it can change from request to request. Most users abandon the results after one or two pages. Hope this helps.

[2018-10-31 15:35] omarnun opened #17992 "Clarify behavior with new instances when a new image is deployed"
We are missing some information in this article regarding the following scenario:
- You create a VMSS using a particular image, let’s say we use Windows Server 2016 available in Marketplace, and define version as latest. Example:

"imageReference": {
          "publisher": "MicrosoftWindowsServer",
          "offer": "WindowsServer",
          "sku": "2016-Datacenter",
          "version": "latest

[2018-10-31 15:38] vhorne commented on #17578
@jjindrich

We need to hold off on publishing a template for this pending a resource model change set for the end of November.

I'll create a work item for that time frame to get a template deployment published.

[2018-10-31 15:39] MicahMcKittrick-MSFT commented on #17992
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-31 15:40] MicahMcKittrick-MSFT commented on #17987
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-31 15:41] MicahMcKittrick-MSFT commented on #17989
Thanks for the question! We are investigating and will update you shortly.

[2018-10-31 15:42] spelluru commented on #11974
@Karthickhcl - Sorry for the late response. Our product team has updated the code in the article recently (couple of weeks ago). https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-java-how-to-use-queues

The topics and subscriptions article for Java also was updated.
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-java-how-to-use-topics-subscriptions

[2018-10-31 15:42] MicahMcKittrick-MSFT commented on #17978
@nphmuller thanks for the update! Glad you found what you needed :)

[2018-10-31 15:46] diberry commented on #17783
@alundiak Wonderful. So glad to hear it. Cheers. #sign-off

[2018-10-31 15:52] dsolodow opened #17995 "No notes for 1.2.65.0"
https://www.microsoft.com/en-us/download/details.aspx?id=47594 shows 1.2.65.0 was released 10/29/2018 but no mention of it here.
Also on that page, the links under '**System Requirements**' and '**Install Instructions**' both 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57f5478b-3132-21d0-a420-a1140db235de
* Ver

[2018-10-31 16:00] cherylmc commented on #17609
@curtand - I'll check about the VPN Gateway items.

[2018-10-31 16:01] cherylmc commented on #17609
And Hi! @jtuliani !! Thanks for noticing this!

[2018-10-31 16:02] aengineer1 opened #17996 "How to find the provider which provides a specific resource"
I want to find which provider provides the "Resource Group" resource? How does one go about this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40c2b004-24fa-c5aa-5eb6-5fa7b88510f7
* Version Independent ID: 5944eaa6-b0bb-2b1b-e0f5-0d17df19b89f
* Content: [Azure resource providers and resource types](https://docs.micro

[2018-10-31 16:02] badalk opened #17997 "automation"
I had difficult discussion on why we are not able to register the on-premise data gateway deployd on the VMs with azure in automated way and I have to live with the manual steps. But now realized that its not only the registration, cloud on-premise data gateway resource creation also cannot be automated as it needs the same user's context who actually registered the on-premise gateway to be able t

[2018-10-31 16:07] spelluru commented on #17743
@axisc - for your review. Thanks.

[2018-10-31 16:10] jschumann commented on #16500
@Mike-Ubezzi-MSFT

[The tutorial you've linked to](https://docs.microsoft.com/en-us/azure/cosmos-db/create-graph-nodejs) contains a section called "[Clone the sample application](https://docs.microsoft.com/en-us/azure/cosmos-db/create-graph-nodejs#clone-the-sample-application)". That section links to [a repo for a sample application](https://github.com/Azure-Samples/azure-cosmos-db-graph-nodejs-ge

[2018-10-31 16:13] billmath commented on #8814
#please-close

[2018-10-31 16:14] PramodValavala-MSFT commented on #17631
@dapathy Thanks for contributing to MS Docs! We have updated the doc accordingly.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-31 16:16] billmath commented on #9793
This article is now owned by @MicrosoftGuyJFlo.  Please assign to him.

[2018-10-31 16:18] mbialecka commented on #17948
@dominicbetts Thanks!

Suggestion: The section could link to https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-configure-file-upload, e.g. the words "through the Azure Portal".

[2018-10-31 16:24] spelluru commented on #6925
@axisc - Please review and confirm when you get a chance. Thanks.

[2018-10-31 16:29] #17446 closed

[2018-10-31 16:30] spelluru commented on #12290
These links are fixed.

https://github.com/Azure/azure-service-bus-dotnet/
https://github.com/Azure/azure-service-bus-java
https://github.com/Azure/azure-service-bus/tree/master/samples/Java/qpid-jms-client

#please-close

[2018-10-31 16:34] MarileeTurscak-MSFT commented on #17976
@rolyon
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-31 16:36] billmath commented on #9877
@KjetilEVRY thank you for the feedback.  Sorry for the delay on this.  The article had the wrong author listed so it got assigned to the wrong person.  I have gone ahead and opened a bug on this and will be updating the documentation.  Currently we have a guide on this for download here:  https://aka.ms/ADFSTOPTADPDownload but I don't know if it covers this issue.  Am looking to get this info into

[2018-10-31 16:36] billmath commented on #9877
#please-close

[2018-10-31 16:37] DCtheGeek commented on #17917
@aengineer1 Just checking in to make sure this answered your question.  Since it's not a docs issue, I'm going to ask the team to close this.  If you have product specific feedback or question, please post on [UserVoice](https://feedback.azure.com/forums/915958-azure-governance) or open a support case. If you find issue with the docs, please do open a new issue.  Thanks again!

@MicrosoftDocs/azur

[2018-10-31 16:37] spelluru commented on #12580
@sonorati - We have updated the Java articles. Please see if they help.
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-java-how-to-use-queues
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-java-how-to-use-topics-subscriptions

The samples for Java are at:
https://github.com/Azure/azure-service-bus/tree/master/samples/Java/azure-servicebus

The Ma

[2018-10-31 16:38] billmath commented on #10600
#please-close