[2022-06-07 00:42] #93412 closed

[2022-06-07 00:42] WilliamDAssafMSFT commented on #92298
@MSFTjarredM Thanks for your patience on this one. I've heard back from the PM group and we don’t currently offer Azure SQL vCore M, DC, FsV2 hardware in national or Govt regions.

[2022-06-07 01:03] hazeljin1 commented on #93749
@shashishailaj Thanks for your response! May I know if we have any ETA of this change request?

[2022-06-07 01:04] MonikaReddy-MSFT commented on #93855
@tfitzmac  - Thank you for providing your insights.
@KRIPA-2019 - I hope @tfitzmac has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-06-07 01:04] #93855 closed

[2022-06-07 01:09] MonikaReddy-MSFT commented on #93880
@dantecit0 - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-06-07 01:09] #93880 closed

[2022-06-07 02:13] ravensorb opened #94001 "References old powershell commands"
There is a reference to the command "New-AzureADServicePrincipal" on this page -- That command does not appear to be in the Az.ADDomainServices module right now?  There is something closer in Az.Resources - it that one we should be using now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c701f84-d6a8-b5aa-dad7-4c38b7

[2022-06-07 02:20] JamesTran-MSFT commented on #94001
@ravensorb
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-07 02:20] TomonariKubo-MS opened #94002 "Resiliency in Azure"
This Issue was incorrect and will be closed

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6454f6b4-6f0e-87d9-de20-02e618fe3ad7
* Version Independent ID: 48afbc1c-334a-80d9-e442-8d60fe20a6d7
* Content: [Resiliency in Azure](https://docs.microsoft.com/en-us/azure/availability-zones/overview#azure-service-dependencies)
* Content Source: [articles/

[2022-06-07 02:42] amcamillo opened #94003 "just a typo, "zscalar" does not exist, it must be "zscaler" ?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bdf3fec-1587-7c24-1603-967b31451173
* Version Independent ID: a1923ec0-2e6e-f8d0-e963-088e5b6839eb
* Content: [Microsoft Sentinel content hub catalog](https://docs.microsoft.com/en-US/Azure/sentinel/sentinel-solutions-catalog)
* Content Source: [arti

[2022-06-07 02:45] PrometheusRising1 commented on #92298
@WilliamDAssafMSFT - really grateful for the reply.  Even if it takes a while it is reassuring when a result comes back.

[2022-06-07 02:47] MSFTjarredM commented on #92298
Grateful for the response - it's reassuring to hear back even if it takes some time.

[2022-06-07 03:25] eyoh5 opened #94004 "NCas T4 VM series supportability"
[Enter feedback here]
It seems NCas T4 series VM also support availability zones.
But this document doesn't list NCas T4 series VM.
![image](https://user-images.githubusercontent.com/42968991/172288868-d2cc9c70-1ba0-4ad6-9223-855d96972f2b.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ef6739c-50e6-e80b-cfc1-4d7d5

[2022-06-07 04:09] #94002 closed

[2022-06-07 04:22] ram-msft commented on #93998
@clarissesimoes Thanks for the question. We are investigating the issue and will update you shortly.

[2022-06-07 04:29] AjayKumar-MSFT commented on #94002
TomonariKubo-MS,   Thanks for leveraging Azure docs feedback channel to raise this question.

No worries, thanks for the follow-up and update.

On a side note,  this channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2022-06-07 05:19] kobulloc-MSFT commented on #93836
@Joshua-Igoni I reached out to the document authors and there isn't a documentation recommendation for your scenario at this time.  Posting your question on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-container-instances.html) is likely going to be the best opportunity to troubleshoot this.

We are going to close this thread as resolved but if there are any further questi

[2022-06-07 05:19] #93836 closed

[2022-06-07 05:19] MayankBargali-MSFT commented on #93598
@dlepow Can you provide you insights on this?

[2022-06-07 05:21] MayankBargali-MSFT commented on #93785
@advaidya21 Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-06-07 05:21] #93785 closed

[2022-06-07 05:22] MayankBargali-MSFT commented on #93753
@GermanZz Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-07 05:40] SadiqhAhmed-MSFT commented on #93964
Closing this for now. Feel free to ping with questions if that needs our attention.

[2022-06-07 05:40] #93964 closed

[2022-06-07 05:50] kobulloc-MSFT commented on #93811
@Akshaymane71 It's unclear what you are trying to do on the error line with [`Set-AzStorageAccount`](https://docs.microsoft.com/en-us/powershell/module/az.storage/set-azstorageaccount?view=azps-8.0.0).  I would look through the examples in the documentation:
https://docs.microsoft.com/en-us/powershell/module/az.compute/update-azgalleryimageversion?view=azps-8.0.0

If you need help troubleshooting

[2022-06-07 05:50] #93811 closed

[2022-06-07 06:11] osobytes commented on #47220
@inovacode
Hey, I was able to make mine work by using az afd to get the AFD profile name, and the endpoint name.

Just do something like:
**az afd profile list -g (resourcegroupName)** -> This will get you a list of afd profiles in the resource group, from there you can get the name which you will replace in the AFD Profile section.

After doing that you can get your Endpoint Name by doing the fol

[2022-06-07 06:22] SaiRayanapati commented on #48676
HI there i want to know about how many times can a user reset their password in a specific time, lets say in an hour or so without getting locked out. And is there a way we can restrict this re attempts to just 2 times in an hour using custom flows.

[2022-06-07 06:32] jamescrowley commented on #93986
@KranthiPakala-MSFT confirmed as a known issue in ticket 2206060050002152 - I’m told it should be fixed for GA

[2022-06-07 06:36] cmpl-giedriusk opened #94007 "Ebdsv5 series ratios missing"
Hi.

The linked document (https://isfratio.blob.core.windows.net/isfratio/ISFRatio.csv) is missing information about Ebdsv5 series. Checking on the Azure portal, it seems like instance size flexibility is applicable for the series. Only the ratios are not clear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a20f52cb-4

[2022-06-07 06:45] gw0 commented on #93869
No, I enabled only `confcom`. Will try it next time I plan to set up an AKS clusters. I guess it would be best if this command is in the docs? Or a list of all possible SGX options?

[2022-06-07 06:52] SumanthMarigowda commented on #93846
@shashankkr GA will be released very soon, but I don't have exact ETA, you can  subscribe to notifications to stay informed through Azure Updates.
https://azure.microsoft.com/en-in/updates/ Get the latest updates on Azure products and features to meet your cloud investment needs.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your r

[2022-06-07 06:52] #93846 closed

[2022-06-07 06:55] infraweavers commented on #83709
Urr, This has not been fixed? https://support.microsoft.com/kb/5005701 still throws an error page?

[2022-06-07 06:56] SumanthMarigowda commented on #93646
@ihamquentin Apologies for the delay response!
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-07 07:11] memblin-taurus commented on #47220
Any further update on when this will be fixed in the portal?

[2022-06-07 07:24] SumanthMarigowda commented on #93730
@sercast Apologies for the delay response! PR has been initiated. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-06-07 07:24] SumanthMarigowda commented on #93752
@takacs525 Apologies for the delay response! PR has been initiated. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-06-07 07:24] #93752 closed

[2022-06-07 07:43] Michaelvsk opened #94008 "Search Results of Application Insights alert has dataSources nested?"
Hi,
I have noticed that for `monitoringService`=`Log Analystics` and `monitoringService`=`Application Insights` the object `SearchResults` differ from each other.
When `monitoringService`=`Log Analystics`, then `SearchResults` does only include a `tables` item  and `dataSources` is located next to `SearchResults`:
[code]

while when `monitoringService`=`Application Insights`, then `dataSources` is

[2022-06-07 07:58] emilmuller opened #94011 "Custom B2C login templates feedback"
Custom B2C templates are missing their source codes. See https://github.com/azure-ad-b2c/html-templates/tree/main/templates. There's a folder named src, but it does not contain the source code; rather, it contains some fonts and images. The html files further up contain the compiled css rules and not the source code for the rules. Says it's generated by gulp, but that does not help.

My main conce

[2022-06-07 08:20] kzankpe commented on #93090
Hello,

Do you have any update to share on this question? Thank you.

[2022-06-07 08:40] mariuszo-at-microsoft-com opened #94013 "testmaliciousdomain.eastus.cloudapp.azure.com is either wrong or "down""
The URL
**testmaliciousdomain.eastus.cloudapp.azure.com**
mentioned in **Testing** section on this page is either wrong or is "down"

I am trying to test Azure Firewall Threat Intelligence using this URL, but I am not getting logs as per **Logs** section above.

In fact, I can't even reach to this URL from my own laptop, so it seems that the testing URL has either changed or it is down.

---
####

[2022-06-07 08:54] SadiqhAhmed-MSFT commented on #93974
@AlexcFrench The highlighted question is only talking about **non-zoned VMs**. Non-zoned VMs can’t be replicated within a region. We will reword the same in our docs to avoid confusion. Thanks for bringing this to our notice!

![image](https://user-images.githubusercontent.com/44458118/172339217-ed9c3e85-8399-41d5-a405-8742ea2c3703.png)

[2022-06-07 09:06] GitaraniSharma-MSFT commented on #94013
@mariuszo-at-microsoft-com , thank you for your feedback. We'll review this and get back to you shortly!

[2022-06-07 09:13] ctahok commented on #93145
Thanks a lot everyone.

[2022-06-07 09:18] VikasPullagura-MSFT commented on #93715
@squasta
The document is updated, and changes will go live once approved by document author.

[2022-06-07 09:18] #93715 closed

[2022-06-07 09:51] nestalk opened #94014 "Commands use Azure AD Graph which is removed in azure cli 2.37.0"
The commands for getting and reseting the Service principal password no longer work.

I think that it should be using the `app` command instead of `sp`, but not too sure.
`az ad sp credential list --id "$SP_ID" --query "[].endDate" -o tsv` should be `az ad app credential list --id "$SP_ID" --query "[].endDateTime" -o tsv`

---
#### Document details

⚠ *Do not edit this section. It is required for

[2022-06-07 09:53] robinmanuelthiel opened #94015 "Docs state that max. pods per node is 110 with kubenet instead of 250"
In the [IP address availability and exhaustion](https://docs.microsoft.com/en-us/azure/aks/configure-kubenet#ip-address-availability-and-exhaustion) section, we make the following statement:

This is not true anymore. According to the [Service quotas and limits](https://docs.microsoft.com/en-us/azure/aks/quotas-skus-regions#service-quotas-and-limits), it is possible to put up to 250 pods on a node

[2022-06-07 10:15] cmeeren opened #94016 "Is 1 really the default value for WEBSITE_ADD_SITENAME_BINDINGS_IN_APPHOST_CONFIG?"
According to the linked page, the default value of `WEBSITE_ADD_SITENAME_BINDINGS_IN_APPHOST_CONFIG` is 1:

(Emphasis mine.)

This documented default has been present since this file was added in commit https://github.com/MicrosoftDocs/azure-docs/commit/ccf6ccd4e0488012187cfaf5854cb89f66c315f9 in June 2021.

The only other place I can find anything about `1` being the default value is https://gith

[2022-06-07 10:33] GeorgeAAbraham1 opened #94018 "wording...!!!"
MS confusion language: Multiple Conditional Access policies may apply to an individual user at any time. In this case, all policies that apply must be satisfied. For example, if one policy requires multi-factor authentication (MFA) and another requires a compliant device, you must complete MFA, and use a compliant device. All assignments are logically ANDed. If you've more than one assignment conf

[2022-06-07 10:39] VikasPullagura-MSFT commented on #94015
@robinmanuelthiel Thanks for pointing this out. We will update the document accordingly.

[2022-06-07 10:41] quental commented on #39137
I'm aware that I'm digging up a very old thread, but I find that the documentation appears to be wrong.

I was successful deploying a Service Fabric application via ARM with Bicep, but unsuccessful on any subsequent deployments. I was getting a very generic deployment error (BadRequest - Request is invalid), as early as when attempting to deploy the application type.
Similarly to @johncrim, while

[2022-06-07 11:16] helderpinto opened #94020 "Wrong information about System State backup with MARS agent supported daily frequency"
This document states in many places that System State backups with the MARS agent can be done three times per day. This information is incorrect. Although the MARS agent can perform files and folders backups three times per day, when scheduling System State backup, we are allowed to perform a single backup per day only. The several supportability matrices that mention System State backup should be

[2022-06-07 11:22] PriyankaRudramaina commented on #94014
@nestalk,

Thank you for your feedback. We will investigate and update the thread further.

[2022-06-07 11:33] Phoenix359 opened #94021 "Missing examples for creating containers in the SDK's and how to set properties like TTL and indexing"
Hello,

This page: [https://docs.microsoft.com/en-us/azure/cosmos-db/table/how-to-create-container](https://docs.microsoft.com/en-us/azure/cosmos-db/table/how-to-create-container ) is missing examples of how to create containers in the SDK's and how to set properties like TTL and indexing.
The first line lets u to believe that there should be some exampes for supported SDKs but only the portal met

[2022-06-07 12:01] Givary commented on #94018
@GeorgeAAbraham1 Thank you for your feedback. Let me investigate and revert back.

[2022-06-07 12:11] SnehaSudhirG commented on #86531
@chasewilson,
Thank you for your feedback and sorry for the long wait. The typo is now corrected.

[2022-06-07 12:12] SnehaSudhirG commented on #86531
#please close

[2022-06-07 12:42] SadiqhAhmed-MSFT commented on #94020
@helderpinto Thank you for your post. We will review this information and get back to you shortly.

[2022-06-07 12:46] spottedmahn commented on #93791
related to ALM?  not that I can think of at the moment, thanks!

[2022-06-07 12:47] AjayKumar-MSFT commented on #94016
@cmeeren, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-06-07 12:52] shankyps opened #94029 "GroupID and MemberName params not working during PEP deployment for webapp"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e83a737e-6585-b9e0-2a43-e834b09687db
* Version Independent ID: 3887a517-ad52-5634-995b-b2a4183c7601
* Content: [Manage Azure Private Endpoints - Azure Private Link](https://docs.microsoft.com/en-us/azure/private-link/manage-private-endpoint?tabs=manag

[2022-06-07 12:53] sayedimac opened #94030 "Typo in the code"
There is just a typo in the code where it reads
**This email meessage is sent**  where it should read message :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b25f792b-a502-31bd-f30d-b774308aed99
* Version Independent ID: ebe9032f-4cbe-4203-0736-2603ea1c661c
* Content: [Quickstart - How to send an email using Azure Co

[2022-06-07 12:57] twimmers commented on #93700
@marshalexander99 To clarify, are you saying that this step didn't result in the automatic generation of the identity provider in ServiceNow?
<img width="630" alt="image" src="https://user-images.githubusercontent.com/49566142/172385199-feece5eb-9c46-41ee-a043-f7ebc81c11b6.png">

[2022-06-07 13:00] AjayKumar-MSFT commented on #94030
@sayedimac, That's a good catch! Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-06-07 13:01] SadiqhAhmed-MSFT commented on #93977
@timwarner-msft and @DCtheGeek IMO, yes this should be updated in the prerequisite section OR the following link should be included in this doc for details on roles required.

[Overview of Azure Policy - Azure Policy | Microsoft Docs](https://docs.microsoft.com/en-us/azure/governance/policy/overview#azure-rbac-permissions-in-azure-policy)

[2022-06-07 13:02] #86531 closed

[2022-06-07 13:06] dochoss opened #94033 "Add example output of code samples for Cosmos Gremlin API"
Great code examples but showing output would be very helpful for those of us learning the Gremlin API from scratch!  For instance, this code makes sense conceptually, but what is the actual output relative to the example graph shown at the top of the section?

[code]
Show the generated output here so the reader can correlate it with the sample graph shown above, something like:
[code]

---
#### Do

[2022-06-07 13:14] duongau commented on #91820
Hello @lightupdifire, it is difficult to tell if your issue is related. This channel is mainly used for updating documentations, I recommend that you open a support ticket so one of our engineers can work with you in troubleshooting the issue you're seeing.

[2022-06-07 13:27] timwarner-msft commented on #93977
Hi @hribeiro-msft and @SadiqhAhmed-MSFT. I'll update now. Thanks for bringing this issue to my attention. Kind regards, Tim

[2022-06-07 13:27] marshalexander99 commented on #93700
No, clicking configure now does create the identity provider. What I am stating is that you are referred to step 5d.iii under the configure ServiceNow section to retrieve an identifier from ServiceNow which doesn't exist yet.
Under "Configure Azure AD SSO" step 4a where you are asked to add the sign on url it states to add the sys_id from step 5.d.iii. The issue is that you cannot do that because

[2022-06-07 13:31] cwestwater opened #94034 "LatestComponents.json file out of date"
In the section [Manually update an older version](https://docs.microsoft.com/en-us/azure/migrate/migrate-appliance#manually-update-an-older-version) step one is to download the [LatestComponents.json file](https://aka.ms/latestapplianceservices).

However this file seems to be out of date. For example my appliance has the `Microsoft Azure Hyper-V Assessment Service` v2.0.1971.16 installed. Accordi

[2022-06-07 13:38] lightupdifire commented on #91820
thx

[2022-06-07 13:43] atsushinak opened #94035 "About the management of the default certificate for ASE"
[Enter feedback here]
From the following description, I recognize that the default TLS/SSL certificate for *.appserviceenvironment.net is managed by MS for the ILB ASEs made after May 2019.

In other words, I recognize that the default certificate which will expire soon is updated automatically by MS without the user action.

If my recognition is wrong, please let me know.

If my recognition is ri

[2022-06-07 14:03] sayedimac commented on #94030
I have also not been able to get it going if any of the service were created in the UK.
Not sure if this is a thing right now, but if I create the comms and email services in the US it works no problem

[2022-06-07 14:15] SadiqhAhmed-MSFT commented on #94034
@cwestwater Thank you for your post. We will look into it and update as approriate.

@Vikram1988 FYI

[2022-06-07 14:23] commakoerschgen commented on #59982
There seems to be a regression here since the linked document https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/assign-user-or-group-access-portal currently does not mention anything about admin consent -- or it has never been updated.

[2022-06-07 14:43] timwarner-msft commented on #93977
#please-close

[2022-06-07 14:43] #93977 closed

[2022-06-07 14:45] LiuJohn-1886 commented on #93869
@gw0, thanks for your confirmation. Currently for SGX VM in AKS, we only have addon confcom and an option --enable-sgxquotehelper.  We have already started to work with Docs team to make the tutorial better. Thanks!

[2022-06-07 14:53] erik-ha-msft commented on #93913
Thanks for the feedback.

Node CIDR range in this context, refers to the virtual network subnet (which contains your subnet address space) that was specified when creating the AKS cluster with CNI. You can also use `kubectl get nodes -o wide` to check the IP addresses of your nodes.

#please-close

[2022-06-07 14:53] #93913 closed

[2022-06-07 15:03] AzureNetAppFiles opened #94037 "Typo in AVS instructions"
[Enter feedback here]
Attach an Azure NetApp Files volume
Under Settings, select Preview features.

Verify you're registered for both the CloudSanExperience and AfnDatstoreExperience features.

AfnDatastoreExperience should be ANF Datastore Experience.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64ddeca5-94ba-b6d4-dc

[2022-06-07 15:04] #93886 closed

[2022-06-07 15:06] JananiRamesh-MSFT commented on #93941
@alejojarahi Thanks for getting back, I was able to reproduce the same it my end it seems like Policy fragments is not working for Consumption sku whereas it is working in all other sku will check internally and will get back to you on this.

[2022-06-07 15:22] psignoret commented on #59982
@commakoerschgen The content that was being discussed several months ago in this (closed) issue has since been moved to a [this page](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/what-is-access-management#requiring-user-assignment-for-an-app). Is that what you meant by "a regression"?

[2022-06-07 15:37] GeethaThatipatri-MSFT commented on #94033
HI, @dochoss Thank you for reaching out. We will look into it and update as appropriate.

[2022-06-07 15:38] GeethaThatipatri-MSFT commented on #94021
Hi, @Phoenix359 Thank you for reaching out. We will look into it and update as appropriate.

[2022-06-07 15:39] TahaMdarhriExakis opened #94039 "Cannot deploy child device - unable to find diagnostics image"
I try to implement a nested IoTEdge Hierarchy using two Ubuntu VMs, and both of them have IoTEdge. I followed many tutorials, but none of them worked.

**These are the states of the following steps :**
Creation of certificates - OK
Gateway Setup – OK
Configure Routes and Ports – OK
Setting up the parent-child relationship between the two VMs – OK
Connecting child VM to parent (after configuration)

[2022-06-07 15:44] MonikaReddy-MSFT commented on #93925
@francisrod01 - Thanks for your dedication to our documentation. Although this question is beyond the technical scope of our feedback channel here on GitHub, which covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question:
Microsoft Azure Monitor Q&A question page
https://docs.microsoft.com/en-us/answers/topics/24223/azure-monitor.

[2022-06-07 15:44] #93925 closed

[2022-06-07 15:47] commakoerschgen commented on #59982
Yes, thanks for the link!

[2022-06-07 15:53] kobulloc-MSFT commented on #94037
@AzureNetAppFiles I'll get a PR out to address this.

![image](https://user-images.githubusercontent.com/37556655/172425721-977a0005-850b-47ff-b113-9a2b7d75edfa.png)

[2022-06-07 16:27] JananiRamesh-MSFT commented on #93994
@abatishchev could you please confirm if you're using a Consumption Logic app because this option comes only for consumption  logic app and not for standard logic app.

[2022-06-07 16:33] #90909 closed

[2022-06-07 16:35] moravindMSFT opened #94041 "Onboarding Process Not clear for Lower Level OS's."
[Enter feedback here]

Feedback 1:
On this page https://docs.microsoft.com/en-us/azure/defender-for-cloud/integration-defender-for-endpoint?tabs=windows#does-microsoft-defender-for-servers-support-the-new-unified-microsoft-defender-for-endpoint-agent-for-windows-server-2012-r2-and-2016 it is mentioned that "Defender for Servers Plan 1 deploys the new Microsoft Defender for Endpoint solution stack

[2022-06-07 16:39] himachida opened #94042 "cache-best-practices-connection#tcp-settings-for-linux-hosted-client-applications: Translation for Japanese"
[Enter feedback here]

How can I feedback about Japanese translation?

Linux の一部のバージョンでは、既定でオプティミスティック TCP の設定が使用されます。
(It sounds like "By default, a setting about "optimistic TCP" is used".)

It should be clearer if it is

Linux の一部のバージョンでは、既定で楽観的な TCP の設定が使用されます。

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0c4a17

[2022-06-07 16:47] robwafle opened #94043 "Is there a typo in the "Certificate Management" section?"
The "Certificate Management" section reads:

Certificate management
OSM has several types of certificates it uses to operate on your AKS cluster. OSM includes its own certificate manager called Tresor, which is used by default. Alternatively, OSM allows you to integrate with [HashiCorp Valut], [Tresor], and [cert-manager], but those integrations are not covered by the [AKS support policy](https://

[2022-06-07 16:51] MartinJaffer-MSFT commented on #93724
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-06-07 16:51] #93724 closed

[2022-06-07 17:06] Rodrigossz commented on #93963
Hello @helloyesthisisdave . We will your help to better understand the situation. Can you email us at cosmosdbsynapselink@microsoft.com with the details below?

- Subscription Id
- Synapse Workspace name
- Cosmos DB database account name
- Container name
- Statement ID of these query execution that has a strange result

I will close this issue since it's more used for documentation problems. Let's

[2022-06-07 17:10] GeethaThatipatri-MSFT commented on #94042
Hi @himachida Thanks for your findings, I'm assigning this to the author for the feedback review.

[2022-06-07 17:12] ChaitanyaNaykodi-MSFT commented on #94029
Thank you for your feedback! We will review and update as appropriate.

[2022-06-07 17:15] meenasaravanan02 commented on #67542
Hi @delradie,
Thank you for your feedback.  We have updated the document in the PR - https://github.com/MicrosoftDocs/azure-docs-pr/pull/200671
#please-close this issue

[2022-06-07 17:15] #67542 closed

[2022-06-07 17:23] #93869 closed

[2022-06-07 17:41] YutongTie-MSFT commented on #93885
@ejschoen Hello Eric, thank you, I have no permit to update the reference page, but I have reached out to the product group to update the numbers.

We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2022-06-07 17:41] #93885 closed

[2022-06-07 17:42] KranthiPakala-MSFT commented on #93773
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-06-07 17:44] JamesTran-MSFT commented on #94003
@amcamillo
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.
![image](https://user-images.githubusercontent.com/36619112/172448335-1bc96414-f0b8-46b8-a880-46a677b71a59.png)

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your tim

[2022-06-07 17:44] #94003 closed

[2022-06-07 17:48] michaelmarcuccio commented on #83857
Is this still in progress? If so where can we track progress?

[2022-06-07 18:04] mistokes-ppr opened #94046 "API error 404 page"
this instruction
In the [Azure portal](https://portal.azure.com/), search for verifiable credentials. Then, select Verifiable Credentials (Preview).
From the left menu, select Getting started.

results in this result

Not found
failedAdminServiceApiCall {"requestId":"<snip>","date":"Tue, 07 Jun 2022 18:01:56 GMT","mscv":"<snip>.2","error":{"code":"failedToFindSpecifiedTenantInDb","message":"Your o

[2022-06-07 18:17] charlestbell opened #94047 "Secret Value or ID????"
On the page it says: "The client secret for the web app you created in [step 2.2", but when you go to that page, there is a secret id, and a secret value, which one am I supposed to choose. Make this more clear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 866b331e-e1ac-cd02-9aa3-f7334fa59546
* Version Independent ID

[2022-06-07 18:20] MarileeTurscak-MSFT commented on #94047
@charlestbell
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-07 18:33] sunnyhay opened #94048 "Could not find the local model file when deploying local online endpoint"
Hello,

  I failed to deploy a local online endpoint using my own PKL file and entry script. Here are the steps I went through.

Folder/file structure

root folder: /ModelScroingPython
entry script score.py: under /ModelScroingPython/source
model file: /ModelScroingPython/ml-model/leadscoredyn_v4
conda-configuration.yml, dyn-endpoint.yml, green-deployment.yml: /ModelScroingPython

dyn-endpoint.yml

[2022-06-07 18:38] bandersmsft commented on #93746
@raghu4sangeeth FYI: I've added a link in the article to the required permissions.

[2022-06-07 19:05] MarileeTurscak-MSFT commented on #94041
Hi @moravindMSFT ,

Thanks for the feedback. While this feedback is valid, I would request you to follow the documentation contributor process for FTEs located here: aka.ms/contributor/getstarted

I would recommend either making a pull request by following the process in that guide or reaching out to the author over email since the Github issues are more intended for external customers as they are

[2022-06-07 19:05] #94041 closed

[2022-06-07 19:24] MarileeTurscak-MSFT commented on #94047
Thanks! Step 2.2 specifies that it's the client secret value, but I made a pull request to clarify that in the second section as well. https://github.com/MicrosoftDocs/azure-docs-pr/pull/200795

[2022-06-07 19:24] #94047 closed

[2022-06-07 20:07] #89264 closed

[2022-06-07 20:38] dneto82 opened #94050 "Wrong link on connector reference Workplace from Facebook (Preview)"
Solution with the broken link, also related to '[#5166](https://github.com/Azure/Azure-Sentinel/issues/5166)' on Sentinel repo.

Actual Link - https://aka.ms/sentinel-WorkplaceFacebook-functionapp
Wrong Path:
`https://github.com/Azure/Azure-Sentinel/blob/master/DataConnectors/WorkplaceFacebook/WorkplaceFacebookWebhooksSentinelConn.zip?raw=true`

Correct Path:
`https://github.com/Azure/Azure-Sentin

[2022-06-07 20:59] christianag54 opened #94052 "Query password does not return vale hence command fails"
At step Create service principal and store credentials

The second section of the command

# Store the registry *password* in the vault
az keyvault secret set \
  --vault-name $AKV_NAME \
  --name $ACR_NAME-pull-pwd \
  --value $(az ad sp show --id $SP_ID --query password --output tsv)

The # az ad sp show --id $SP_ID --query password --output tsv won't return a value, it's needed to use the passw

[2022-06-07 21:07] sethmanheim commented on #71319
Not a Notification Hubs issue. #please-close

[2022-06-07 21:07] #71319 closed

[2022-06-07 21:31] bandersmsft commented on #93774
@billspat Hi there. We have some basic guidance at [Create and edit budgets with PowerShell](https://docs.microsoft.com/azure/cost-management-billing/costs/tutorial-acm-create-budgets#create-and-edit-budgets-with-powershell) for Enterprise Agreements. Unfortunately, the CLI doesn't support Microsoft Customer Agreements or other account types. However, we recommend that you use REST APIs to create

[2022-06-07 21:31] #93774 closed

[2022-06-07 21:37] laznar opened #94053 "ForbiddenException http status: Unable to access KeyVault resource with given credentials"
[After scanning the QR generated in the demo app, which I registered in my Azure Active Directory, I get that I do not have access to the KeyVault resource, when I enabled all access permissions.

[https://i.stack.imgur.com/kKOw0.jpg](url)
[https://i.stack.imgur.com/g6U9v.jpg](url)

![WhatsApp Image 2022-06-07 at 11 57 55 AM](https://user-images.githubusercontent.com/30504034/172487172-4d676fc6-9d

[2022-06-07 21:38] bandersmsft commented on #93864
@jrdtechnologies Sorry for the delay. I'm looking into this with the Azure Billing engineering team.

[2022-06-07 21:51] hrgell opened #94054 "How to deploy sql database changes with devops pipelines?"
We are currently deploying our api using devops pipelines.

I can see that the doc shows how to deploy with visual studio, visual studio code and local git.
How do we setup a pipeline to deploy database changes, when the app is code first, (dotnet migration) from a devops repo?

Can it be done and is there a guide for this? Or must we do this manually?

We have used this guide so far:

https://doc

[2022-06-07 21:58] JamesTran-MSFT commented on #94035
@atsushinak
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-07 21:59] JamesTran-MSFT commented on #94050
@dneto82
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-07 22:08] JamesTran-MSFT commented on #94046
@mistokes-ppr
Thank you for your feedback!

When following the documentation, I wasn't able to reproduce your issue. However, since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-creat

[2022-06-07 22:08] #94046 closed

[2022-06-07 22:12] JamesTran-MSFT commented on #94039
@TahaMdarhriExakis
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-07 22:20] dtzar commented on #90011
@jeevanearform The documentation states that the steps work with helm 3.7.1 or later.  By design `helm` moves forward with fixes/updates and generally people don't support multiple versions.  If there was an issue with using helm 3.7.2 or later, then it should definitely be addressed.

[2022-06-07 22:25] khdownie commented on #93090
@kzankpe thank you for catching the error in the table values. I've fixed the example so that the shares total 500 GiB. Obviously you can't store more than the volume limit unless you're tiering to the cloud. If cloud tiering isn't enabled and you try to write to a local volume that's full, you'll get an error.

[2022-06-07 22:33] kobulloc-MSFT commented on #94052
@christianag54 Thank you for the feedback!  We are reviewing the documentation and will get back to you shortly.

[2022-06-07 22:36] SatishBoddu-MSFT commented on #94039
Hello @TahaMdarhriExakis Sorry to see that you were not able to finish the setup for hierarchy of IoT Edge devices! We will help you with that.

Could you please confirm if you have followed this document : [Tutorial: Create a hierarchy of IoT Edge devices ](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-nested-iot-edge?view=iotedge-2020-11)?

[2022-06-07 22:54] devuxer opened #94056 "Is pricing for Azure Government the same as regular Azure?"
Is pricing for Azure Government the same as regular Azure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a9204f8-a5b3-dc68-d7be-14b133faf809
* Version Independent ID: 6fc8e501-96a9-7555-8794-aaa893f6f5db
* Content: [Azure Government Overview - Azure Government](https://docs.microsoft.com/en-us/azure/azure-government/

[2022-06-07 22:55] shohamMSFT commented on #83857
@michaelmarcuccio Thanks for following up! The feature is in final stages of testing and dependent on deployment we expect to release it in public preview by July. Please feel free to email me directly to track progress on feature release, my email id is shohamd@microsoft.com . Thanks!

[2022-06-07 23:07] Grace-MacJones-MSFT commented on #94054
Hi @hrgell, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update  this doc as appropriate

[2022-06-07 23:16] djangofan opened #94057 "Doc doesn't explain why healthcheck cannot be exposed as external endpoint"
Doc doesn't explain why healthcheck cannot be exposed as external endpoint.   This would be a logical assumption since Spring-Book services all expose a public endpoint to the service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20c42a13-f6cb-1e60-0438-f7f32b86a336
* Version Independent ID: 79e7dd15-24aa-2e6d-cee7-7

[2022-06-07 23:22] suzizuber commented on #93518
@kobulloc-MSFT given that it's a yml file, I can't add links to the section titles in the ToC. I noticed the working nav on the right side of the FAQ page with links to each section. We could remove the section titles from the ToC (listed under FAQ article name) and let viewers use the right side nav - your thoughts on this?

[2022-06-07 23:23] Saidi-Louay opened #94058 "LOU"
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 568d6695-8344-3d44-aaaf-c00786f9bee1
* Version Independent ID: 60034daf-9dff-5b16-9ff8-f675bafac61d
* Content: [Configure ASP.NET Core apps - Azure App Service](https://docs.microsoft.com/en-gb/azure/app-service/configure-language-dotnetcore)
* Conten

[2022-06-07 23:23] Saidi-Louay commented on #94058
WELCOME

[2022-06-07 23:23] #94058 closed

[2022-06-07 23:24] Saidi-Louay commented on #94058
WELCOME TO MY SITE WEB

[2022-06-07 23:24] Saidi-Louay commented on #94058
Nothing to preview

[2022-06-07 23:24] khdownie commented on #93090
#please-close

[2022-06-07 23:24] #93090 closed

[2022-06-07 23:43] JamesTran-MSFT commented on #94043
@robwafle
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-07 23:46] Wibusts opened #94059 "Member OF attribute"
[Enter feedback here]

When testing member of attribute, we notice to issues:

1: Error on example:
The example recommends using brackets on this sample rule:

<html>
<body>

memberOf | Any string value (valid group object ID) | (user.memberof -any (group.objectId -in ['value']))
-- | -- | --

</body>
</html>

But in order to work properly on testing and use you need to define link this:

### user

[2022-06-07 23:46] JamesTran-MSFT commented on #94048
@sunnyhay
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-07 23:47] JamesTran-MSFT commented on #94059
@Wibusts
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-07 23:50] JamesTran-MSFT commented on #94056
@devuxer
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-06-07 23:54] gabesmsft opened #94060 "Mention that Ingress must be enabled in order to configure a custom domain"
Ingress is required in order to configure a custom domain, but the documentation does not mention this.
**Proposed change**: add the following bullet point to the top section of the documentation:
- [Ingress](https://docs.microsoft.com/azure/container-apps/ingress) is required.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-06-08 00:14] Metroshant opened #94061 "Google FCM Server Key"
I'm having trouble going through the steps in this article

Section "**Create a Firebase project and enable Firebase Cloud Messaging**"
**Step 6** is obsolete as Google seems to have changed their model to obtain a **Server Key**, or the Server Key does not apply to FCM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2

[2022-06-08 00:20] stevevi commented on #94056
No.  See Next steps in the article for a link to Acquiring and accessing Azure Government.  Customer FAQ section has an entry "How much will it cost?".  You will find Azure Government pricing on the pricing page for every Azure service.

[2022-06-08 00:20] stevevi commented on #94056
#please-close

[2022-06-08 00:40] devuxer commented on #94056
@stevevi,

Thank you for the speedy reply, but **How to buy Azure Government > Customer FAQ > How much will it cost** takes me to the exact same place as regular Azure > Pricing > Calculator.

And just to be sure, I priced out Azure App Service both both, and I see the same numbers.

To clarify my particular circumstance, the co. I work for is already on GCC High Microsoft 365, and if I use my cre

[2022-06-08 00:42] annagross1 opened #94063 "MARS agent available for Linux (supported versions)"
Hi.   I am seeing some inconsistencies.  On this page there is no mention of Azure VM Linux backup support.
![image](https://user-images.githubusercontent.com/29133419/172507222-9e520df0-8cf2-4e77-8dc3-fcfa8df2d0a5.png)

 In another Microsoft Doc I see Linux supported "Windows/Linux VMs"

![image](https://user-images.githubusercontent.com/29133419/172507272-aa436d29-e55c-4ab9-ab52-27d29ea9fdff.png

[2022-06-08 01:13] stevevi commented on #94056
The pricing page for Azure service you are interested in will tell you how much the service cost in Azure Government if you select an Azure Government region from a drop-down menu.  For example, see https://azure.microsoft.com/en-us/pricing/details/app-service/linux/ for App Service pricing.  You will see that Azure Government pricing is higher.  For any follow-up questions, please contact your Mi

[2022-06-08 01:30] devuxer commented on #94056
@stevevi,

Thanks and I'm sorry for asking you to provide additional support.

Returning to the subject of website feedback: The region menu is incredibly confusing. Even with you telling me Azure Government regions were listed there, it took me three tries to find them because (1) they are not listed under or near United States and (2) they are not even listed alphabetically (they are sandwiched

[2022-06-08 01:49] Nustinian opened #94065 "container insights page outdated warning about HTTP proxy"
the Japanese page has an outdated warning that container insights is not supported for clusters using an HTTP proxy.

監視アドオンは、[HTTP プロキシ (プレビュー)](https://docs.microsoft.com/ja-jp/azure/aks/http-proxy) で構成された AKS クラスターでは現在サポートされていないので注意してください

https://docs.microsoft.com/ja-jp/azure/azure-monitor/containers/container-insights-onboard

this warning used to be in the English docs as well:
"Please note

[2022-06-08 02:02] dlepow commented on #93882
@cmpl-giedriusk - Thanks for the feedback on the article and the content suggestion. Some policies can be applied multiple times (either in the same policy section or at different scopes), but we don't note that consistently nor the possible impacts, so I'll log it as a content suggestion for a future doc sprint.

Technically I think you are correct that the effective policy for the multiple polic

[2022-06-08 02:13] stevevi commented on #94056
OK, thank you for your feedback.  For context, I own Azure Government technical product documentation, and can make changes to our online docs based on customer feedback.  Issues raised through GitHub are normally aimed at improving our online docs, e.g., correcting technical issues.  However, your feedback goes beyond the article in question (What is Azure Government?).  Sorry, there is nothing I

[2022-06-08 02:15] devuxer commented on #94056
I understand, and thanks again for your responsiveness!

[2022-06-08 02:26] roobr commented on #34167
This blows my mind it hasn't been fixed yet

[2022-06-08 03:09] rachelxj-ms commented on #93950
@JananiRamesh-MSFT Yes, I'm aware of that.
But first step says: Create an API Management instance with a managed identity. Please add some note to it, otherwise it'll cause confusing.

[2022-06-08 03:14] v-hgampala commented on #93796
#please-close

[2022-06-08 03:14] #93796 closed

[2022-06-08 03:25] v-hgampala commented on #93229
@ameymulay, Then what about the `Configure Qlik Sense Enterprise SSO` 7-e point, do we need to remove this context as well?
will you please provide some more information about this, before going to resolve?

[2022-06-08 03:27] v-hgampala commented on #90731
Resolving the issue.
#please-close

[2022-06-08 03:27] #90731 closed

[2022-06-08 03:29] v-hgampala commented on #84707
Resolving the issue.
#please-close

[2022-06-08 03:29] #84707 closed

[2022-06-08 03:41] xdansmith opened #94066 "Minor grammar correction"
Current: ```After you have downloaded your keys, secrets, or certificates, you and restore them to your new key vault.```
Suggested Correction: ```After you have downloaded your keys, secrets, or certificates, restore them to your new key vault.```

(`you and` is unnecessary)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-06-08 04:09] v-hgampala commented on #87352
@npherson, could you please confirm which screenshots you are talking about?

[2022-06-08 04:25] v-hgampala commented on #85572
Issue resolved.
#please-close

[2022-06-08 04:25] #85572 closed

[2022-06-08 04:47] Givary commented on #94066
@xdansmith Thank you for your feedback. Let me investigate and will update my findings.

[2022-06-08 05:18] georgin-lau opened #94067 "What is the roadmap for adding more data connectors to the health monitoring?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52fb32ef-0801-1b21-d279-5223f813f9de
* Version Independent ID: f10bf47e-13e5-861e-021a-03d3aa0e36cb
* Content: [Monitor the health of your Microsoft Sentinel data connectors](https://docs.microsoft.com/en-us/azure/sentinel/monitor-data-connector-healt

[2022-06-08 05:19] Venkateshdodda-MSFT commented on #94057
@djangofan, Thanks for the feedback! I have assigned the issue to the content author to evaluate and update this doc as appropriate.

[2022-06-08 05:29] VikasPullagura-MSFT commented on #94015
@robinmanuelthiel The document is updated and changes will go live once approved by document author.

[2022-06-08 05:29] #94015 closed

[2022-06-08 05:35] Vikram1988 commented on #94034
@cwestwater I am looking into this issue and will update the link to download the latest file with latest versions

[2022-06-08 05:43] Vikram1988 commented on #93914
@pinyuko we can create a different support matrix for other clouds like AWS, GCP after evaluating if the prerequisites are much different from those captured under the Physical support matrix

[2022-06-08 05:46] kobulloc-MSFT commented on #93518
@suzizuber That's the same approach I was thinking of taking.  It's an unusually long FAQ and if we were starting from scratch I might do things a bit differently but I think that will give us the best result with what we have.

[2022-06-08 06:19] kobulloc-MSFT commented on #93770
@perosb All of our repros so far result in c:\k.  We're trying a couple other setups but so far we've been unable to reproduce this.

[2022-06-08 06:35] francisx12222 opened #94068 "ASE appserviceenvironment.net is not in this list"
I want to find a way to prove that the domain name of ASE
appserviceenvironment.net is authenticated by Microsoft.
But I cannot find any information in this page.
Is there any document related to this domain name?
**appserviceenvironment.net**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a88af182-32aa-a8f3-359d-b92ae

[2022-06-08 06:39] RohitMungi-MSFT commented on #93866
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2022-06-08 06:39] #93866 closed

[2022-06-08 06:42] v-hgampala commented on #90375
#please-close

[2022-06-08 06:42] #90375 closed

[2022-06-08 06:45] v-hgampala commented on #88520
There is an issue with the same suggestion.
https://github.com/MicrosoftDocs/azure-docs/issues/91471
#please-close

[2022-06-08 06:45] #88520 closed

[2022-06-08 06:51] v-amallick commented on #92523
@travis-icorein - Thanks for bringing this to our notice, Pricing for data stored via enhanced policy is Managed Disk Snapshot price in ZRS resiliency. Request you to please check the pricing for the same.

We will update the statement soon in the article. We are closing this issue. Please get back to us if you have more queries.

#please-close

[2022-06-08 06:51] #92523 closed

[2022-06-08 07:05] romankiss commented on #93872
Hi @tervoju, The QR code shows on the _Connect/Device connection groups_ page of the IoT Central App is the Base64 encoded json formatted text with the properties such as _deviceId, scopeId, deviceKey_, see the following example:

    {"deviceId":"device1","scopeId":"0ne0063CB1F","deviceKey":"xxxxxxxxxxxxxsR0BvQ6Jaagyn4="}

Based on the above properties, the device can be provisioned (using the dp

[2022-06-08 07:16] v-hgampala commented on #84628
#please-close

[2022-06-08 07:16] #84628 closed

[2022-06-08 07:16] SadiqhAhmed-MSFT commented on #94020
@helderpinto I can confirm that for System state backup, only one backup per day is supported. So, will update the document, the changes should reflect by tomorrow EOD.

[2022-06-08 07:20] luisnjuarez opened #94069 "is Scaling Plan feature out of preview yet? and maybe documentation has not been updated as yet. Would you mind confirming this?"
is Scaling Plan feature out of preview yet? and maybe documentation has not been updated as yet. Would you mind confirming this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e485eb1b-63d7-6fb4-a84a-367be0b7ae09
* Version Independent ID: 6b38c7f4-b264-853c-ac69-9a7d9abc557e
* Content: [Create an autoscale scaling plan

[2022-06-08 07:25] TahaMdarhriExakis commented on #94039
Hello @SatishBoddu-MSFT, yes I followed that tutorial [Tutorial: Create a hierarchy of IoT Edge devices](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-nested-iot-edge?view=iotedge-2020-11)

[2022-06-08 07:28] MayankBargali-MSFT commented on #94060
@gabesmsft Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-08 07:30] Thomas-Bailey opened #94070 "Root folder example needs changing"
Why are you providing examples using the C:\ drive as the root folder?  This does not represent the reality of most people using this service, please replace with reference to cloud repository (Azure DevOps/GitHub).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b5392af-90b9-8dbb-663d-9ea12defe00e
* Version Independen

[2022-06-08 07:30] SadiqhAhmed-MSFT commented on #94063
@annagross1 Thank you for posting your question.

Azure VM backup uses backup extension to perform backup of VMs.

For Windows VMs, the [VMSnapshot extension](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/vmsnapshot-windows) is installed.
For Linux VMs, the [VMSnapshotLinux extension](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/vmsnapshot-linux) is insta

[2022-06-08 08:06] jikuja opened #94071 "Include target table names on Azure Monitor resource log documentation"
The given article lists all diagnostics log categories for all Azure resources but one piece of information is missing.

**Where logs are written for configured resource/log category: is the target AzureDiagnostics table or some other table?**

Currently finding that information requires digging through resource-specific documentation, real-life testing or just knowing that target table.

e.g. htt

[2022-06-08 08:21] helloyesthisisdave commented on #93963
Hi @Rodrigossz,

I have tried to provide this additional info, but it appears that the email you have given is not a valid one?
![image](https://user-images.githubusercontent.com/50912540/172568339-965769e2-e972-4d13-bfb8-9bdb5102169b.png)

[2022-06-08 08:26] #93557 closed

[2022-06-08 08:32] Aprilllllll opened #94072 "Need full configmap yaml to change metric collection settings"
This page does not give a full example of configmap yaml file. I don't know how to write full configmap yaml by myself.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f09aeae6-06a7-d9e6-36ed-f26b91ef4df8
* Version Independent ID: 786ddb6f-70a2-2c9c-37b9-21cfeaf3a22e
* Content: [Metric alerts from Container insights - A

[2022-06-08 09:09] douwevandenberg opened #94073 "markup issue"
This is clearly now how it was intended:

[REST API](https://docs.microsoft.com/en-gb/azure/databricks/dev-tools/api/)[Authentication](https://docs.microsoft.com/en-gb/azure/databricks/dev-tools/api/#authentication)[Rate limits](https://docs.microsoft.com/en-gb/azure/databricks/dev-tools/api/#rate-limits)[Parse output](https://docs.microsoft.com/en-gb/azure/databricks/dev-tools/api/#parse-output)[

[2022-06-08 09:17] dominicbetts commented on #93519
Hi @bawilless - We've made some updates to this article to reflect changes in IoT Central and Logic Apps. I'll close this issue for now, but do let me know if you spot any more issues. Many thanks for bringing this to our attention.

[2022-06-08 09:17] dominicbetts commented on #93519
#please-close

[2022-06-08 09:17] #93519 closed

[2022-06-08 09:24] VikasPullagura-MSFT commented on #94069
@luisnjuarez
Thanks for your Question! We are currently investigating and will get back on this.

[2022-06-08 09:28] YutongTie-MSFT commented on #93905
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-08 09:34] ignaciofls opened #94074 "Code error"
Please fix: curl -v -i POST "{endpoint}/formrecognizer/documentModels/prebuilt-read:analyze?api-version=2022-06-30" -H "Content-Type: application/json" -H "Ocp-Apim-Subscription-Key: {key}" --data-ascii "{'urlSource': 'https://raw.githubusercontent.com/Azure-Samples/cognitive-services-REST-api-samples/master/curl/form-recognizer/rest-api/read.png'}"

with the correct one: curl -v -i POST "{endpoin

[2022-06-08 09:46] sumner804 opened #94075 "Missing Content?"
Hi all, great content overall!

But working through this, it looks like step 3 "Deploy Code" is missing the instructions on how to deploy the application code to Azure App Service. It goes from creating App Service to checking the URL. As written, there are no instructions on how to deploy the local code to App Service.

From VS Code, this required opening the local app folder in VS Code Workspace

[2022-06-08 09:47] #93990 closed

[2022-06-08 09:48] shayneshine opened #94076 "When invoices are generated"
Team, the section "When are invoices generated" is not titled properly. It does not describe when, but rather "where". Please adjust and include a section which provides the "when".... thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f50540b4-83ae-289a-e3ae-7ed2d66194b3
* Version Independent ID: f7554732-27f1-3

[2022-06-08 09:49] AlexcFrench opened #94077 "Accelerated must be enabled but it does work without it"
[Enter feedback here]

The networking section states that accelerated networking must be enabled - but ASR works fine without it.

Maybe it needs to be 'recommended' or best practice rather than Must... ?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34d0f2df-de85-c6ab-eb01-f8e028b7f108
* Version Independent ID: 5acb18

[2022-06-08 09:53] paololec opened #94078 "RTO of azure backup and restore is not clear information and unexpected behavior"
RTO faq say "So, the restore from the instant restore tier is instantaneous", but I try restore with option "replace existings", to restore a vm, using a recovery point from snapshot but it's not instaneous!! the restore duration is about 22-40 minutes for a vm and I also need to keep vm shutdown all the time!
It's "fast" only if I restore as "create new " and choice "restore disks" so have "new d

[2022-06-08 09:53] AdamGuanhh commented on #93638
Can you add some descriptions about the hybrid DR scenarios to the article? so that readers can better understand.

[2022-06-08 09:57] Sharmistha-Rai commented on #94077
Hi @AlexcFrench - what the statement means is that if you want to enable accelerated networking for your target machine, then it **must** be enabled on your source machine. So, accelerated networking can be enabled on your target VM only if it is enabled on the source machine too.

Find the exact wording [here](https://docs.microsoft.com/azure/site-recovery/azure-vm-disaster-recovery-with-accelera

[2022-06-08 09:58] Leoer opened #94079 "the hybrid DR scenarios"
Can you add some descriptions about **the hybrid DR scenarios** to the article? so that readers can better understand.
![image](https://user-images.githubusercontent.com/102143373/172589052-162b7148-c047-424d-b8a4-d24810d45bee.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc12f304-5826-fb32-1728-5e43f1b05d8a
* Ve

[2022-06-08 09:59] SadiqhAhmed-MSFT commented on #93638
Sure. Thanks once again for sharing your valuable feedback.

@rishjai-msft FYI

[2022-06-08 10:13] fallmake commented on #88703
Initial quote in original post is now at https://docs.microsoft.com/en-us/azure/virtual-desktop/autoscale-scenarios#how-a-scaling-plan-works - portal unchanged; no setting for maximum number of VMs during off-peak hours.

[2022-06-08 10:18] zakkra opened #94080 "This is making things very hard deploying pipelines through different environments"
[Enter feedback here]
Different environments use different vaults and hence have different Secret Identifier URL.
This needs to be looked up based on a Vault linked service with secret name being used as an identifier just like in DataFlow.
Alternatively it would be good to have Output Parameters in Dataflows so these lookups can be done there using the existing functionality

---
#### Document De

[2022-06-08 10:30] DanielHRio opened #94081 "Issue with the step "Create service principal and store credentials""
Hello Team,

There is an issue with the "Create service principal and store credentials" section I believe.
The command
[code]

doesn't work because `az ad sp show --id $SP_ID --query password --output tsv` returns nothing.

Kind regards,
Daniel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c06ec64b-fd1c-892d-88cf-e1c

[2022-06-08 10:35] AlexcFrench commented on #93974
Hi Sadiq,

I've checked the article but it doesn't look like it's changed (done a full browser refresh too!)

![image](https://user-images.githubusercontent.com/50441234/172596030-66cfbadf-9591-4806-a926-a94b027e7e77.png)

[2022-06-08 10:36] AlexcFrench commented on #94077
Hi,

I understand that it's optional - my concern is the article states it MUST
be enabled which isn't quite correct.

Thanks

Alex

On Wed, 8 Jun 2022 at 10:57, Sharmistha Rai ***@***.***>
wrote:

[2022-06-08 10:40] Sharmistha-Rai commented on #94077
It is not a must for enabling ASR.

It is a must for enabling ASR with accelerated networking. You MUST enable accelerated networking on source machine, to use the same setting on target machine.

It should not be enabled for a non-accelerated networking scenario.

[2022-06-08 10:46] danbirle opened #94082 "Typo in possible values for $keyKind in Sample Script"
The Sample script: https://docs.microsoft.com/en-us/azure/cosmos-db/scripts/powershell/common/keys-connection-strings has 2 typos in possible values for $keyKind (the commented part just after "primary"):
* primaryReadOnly should be primaryReadonly
* secondaryReadOnly should be secondaryReadonly

Noticed that while i was running a script via an automated account and the logs told me that the capit

[2022-06-08 10:47] Neiven4 commented on #35923
Open this issue again.....I am trying to import files from Fileshare and sink it into ADLS....and then do some ETL in dataflow and sink it in SQL DB and I have to use these datasets connected to self hosted IR.....

will we ever get an update?

[2022-06-08 10:57] HannahHsiao5 opened #94083 "Please update/provide the new services info"
Please kindly update/provide the following services info

- microsoft.app/managedenvironments > can be moved cross subscription
- microsoft.offazure/mastersites >
- microsoft.datamigration/sqlmigrationservices

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23df5354-6833-a5da-0eb3-d860150c8b78
* Version Independent ID:

[2022-06-08 11:13] AjayKumar-MSFT commented on #94058
Saidi-Louay,  This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.
If you have any specific question/feedback for this' doc content, let us know. Please checkout : [GitHub Community Forum Code of Conduct](https://docs.github.com/en/site-policy/github-terms/github-community-forum-code-of-conduct).

[2022-06-08 11:41] AjayKumar-MSFT commented on #94075
@sumner804, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-06-08 11:47] staspinar opened #94085 "shaded.databricks.org.apache.hadoop.fs.azure.AzureException: hadoop_azure_shaded.com.microsoft.azure.storage.StorageException: Server failed to authenticate the request"
Could you change this in section 3

wasbs_path = 'wasbs://%s@%s.blob.core.windows.net/%s' % (blob_container_name, blob_account_name, blob_relative_path)
spark.conf.set('fs.azure.sas.%s.%s.blob.core.windows.net' % (blob_container_name, blob_account_name), blob_sas_token)
print('Remote blob path: ' + wasbs_path)

with this

blob_sas_token = r""
wasbs_path = 'wasbs://%s@%s.blob.core.windows.net/%s' %

[2022-06-08 11:49] SwathiDhanwada-MSFT commented on #94065
@Nustinian Thanks for your comment. We will review the issue and get back to you shortly.

[2022-06-08 11:53] dominicbetts commented on #93738
@russd2357 - I just checked the article in question, there's already a note that says **Note: Emails are only sent to the users that have been added to the application and have logged in at least once.**.

Other articles that discuss IoT Central rules have similar call outs.

[2022-06-08 11:53] SwathiDhanwada-MSFT commented on #94071
@jikuja Thanks for your feedback.

Assigning to content author @rboucher   for review.

[2022-06-08 11:55] SwathiDhanwada-MSFT commented on #94072
@Aprilllllll Thanks for your comment. We will review the issue and get back to you shortly.

[2022-06-08 11:56] SwathiDhanwada-MSFT commented on #94076
@shayneshine Thanks for your feedback.

Assigning to content author @bandersmsft  for review.

[2022-06-08 11:57] SwathiDhanwada-MSFT commented on #94083
@HannahHsiao5 Thanks for your feedback.

Assigning to content author  @tfitzmac for review.

[2022-06-08 12:29] ShaikMaheer-MSFT commented on #94070
@Thomas-Bailey Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-06-08 12:52] bmansheim commented on #92900
Hi @DeanGross144 . Reviewing this again, can you be more specific about which step in the article you need help with?

If you are referring to step 14 in **Connect your GCP projects**, those are resources that are created in Azure. I'll check for more specific instructions for verifying them.

[2022-06-08 12:57] DeanGross commented on #92900
Yes, that is the step I was referring to, but now I'm more confused, because I was expecting the script to create them in GCP and I was trying to figure out where to look for them so that I could do some troubleshooting. I ran the script and my org and projects show up in Azure, but the actual resources in each project are not showing up and I'm trying to figure out what is causing this problem bu

[2022-06-08 13:30] klawrawkz opened #94086 "Suspiciously Dated Code Posited As "Guidance"."
Hi my name is klawrawkz. I am fine. How are you?

This "guidance" references code that is up to six (6) years old. The sample code is both dated, and incomplete in my opinion. Thus the sample code is unusable. Why do you persist in promoting this fantasy code base? I enter into an implied relationship with Microsoft that you will provide serious guidance and up to date best practices. This is the

[2022-06-08 13:49] GitaraniSharma-MSFT commented on #94068
@francisx12222 , thank you for your query. We'll investigate this and get back to you shortly!

[2022-06-08 13:51] MonikaReddy-MSFT commented on #94079
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-06-08 13:52] MonikaReddy-MSFT commented on #94078
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-06-08 14:17] GitaraniSharma-MSFT commented on #94068
@francisx12222 , Could you please provide more details on your query?

In order to enable Private Endpoints for apps hosted in your App Service Environment, you must first enable this feature at the App Service Environment level.
Refer : https://docs.microsoft.com/en-us/azure/app-service/environment/networking#private-endpoint

But the supported services in web are as below:
![image](https://user-

[2022-06-08 14:18] boylec commented on #45225
Given the following hypothetical setup:
* Origin: www.server.com
* GET request to CDN endpoint: www.cdn.com/images/file.jpeg
* Goal: CDN hits origin w/ www.server.com/file.jpeg (removing the "images" segment)

A URL rewrite action w/ source pattern: "/images/" and destination "/" does not seem to accomplish this which I find befuddling.

Docs should describe precisely how to accomplish this.

![im

[2022-06-08 14:40] SadiqhAhmed-MSFT commented on #93974
It’s already updated if you check:

![image](https://user-images.githubusercontent.com/44458118/172644838-42e297d2-af79-4c1e-85eb-4a0eb7a539fa.png)

Wording was changed slightly, it looks like to accommodate that you could force it using PowerShell/Rest API

[2022-06-08 14:42] GeethaThatipatri-MSFT commented on #94082
Hi @danbirle Thanks for your findings,We will investigate and update as appropriate

[2022-06-08 14:55] mbender-ms commented on #77328
@GitaraniSharma-MSFT Does ASG refer to [application security group](https://docs.microsoft.com/en-us/azure/virtual-network/network-security-groups-overview#application-security-groups)?

[2022-06-08 14:57] ankitajaiswalkohler opened #94090 "Now we have three separate tabs under networking (Public Access/ Private Access/Connectivity)"
[Enter feedback here]
The document seems to be outdated with respect to network settings of azure sql server.

Now we have three separate tabs under networking (Public Access/ Private Access/Connectivity)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84000417-13a0-36ae-9c06-dd6b481822cc
* Version Independent ID: 7c1ff

[2022-06-08 15:02] MayankBargali-MSFT commented on #94086
@klawrawkz Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-08 15:03] francisx12222 commented on #94068
Thanks for your response, the information is useful for me.

Gitarani Sharma ***@***.***> 於 2022年6月8日 週三 下午10:17寫道：

[2022-06-08 15:09] MassimoC commented on #55313
we are facing the same problem and the solution proposed by @jcolemn3 sounds very good to me.
@elbarnit I understand this repo is not the right one, please advise where can we re-post this issue. Thanks

[2022-06-08 15:17] suzizuber commented on #93518
@kobulloc-MSFT I will put this on my work item list and let you know when I can make the update to FAQ. Thank you for your input.

[2022-06-08 15:36] #93770 closed

[2022-06-08 15:51] JamesTran-MSFT commented on #90339
@Norrch2
Since this issue isn't directly related to improving our docs and is along the lines of a product-feedback/feature request, I'd recommend leveraging our [User Voice Forum](https://feedback.azure.com/d365community) and creating a feature request, so our engineering team can look into implementing this. I've also created an internal feature request, so our engineering team is aware of this

[2022-06-08 15:51] #90339 closed

[2022-06-08 15:52] bandersmsft commented on #94076
@shayneshine Thanks for letting us about this issue. I've updated the article per your request. The article will get refreshed live later this morning.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/200909

#please-close

[2022-06-08 15:52] #94076 closed

[2022-06-08 15:58] VikasPullagura-MSFT commented on #94069
@luisnjuarez

I checked with internal team on this and can confirm that this feature is still in preview.
So this document does not need a change now.

[2022-06-08 15:58] VikasPullagura-MSFT commented on #94069
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2022-06-08 15:58] #94069 closed

[2022-06-08 16:02] GitaraniSharma-MSFT commented on #77328
@mbender-ms , yes ASG refer to Application security group.

[2022-06-08 16:05] #94068 closed

[2022-06-08 16:08] KranthiPakala-MSFT commented on #94080
Thanks for the feedback! We have assigned the issue to the content author to further review this and provide an update as appropriate.

@nabhishek - Could you please have a look at the above feedback? - Thank you

[2022-06-08 16:08] himanshusinha-msft commented on #93812
We are closing this issue as we have not heard back from you , you can always re-open the issue if you think that appropriate .

[2022-06-08 16:08] #93812 closed

[2022-06-08 16:09] zacabrer opened #94092 "Need to identify global zones vs service-specific zones"
In this section of the doc there is a list DNS Zones for services onboarded with Private Endpoint:
https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-dns#azure-services-dns-zone-configuration

There is an important distinction between these zones that needs to be identified and represented in the document. The distinction is that zones are either service-specific or global.

Azur

[2022-06-08 16:24] mahoekst commented on #94053
James, this isnt a doc issue, we should have somebody from support take a look.

[2022-06-08 16:25] sunnyhay opened #94093 "How to load registered model and existing environment for online endpoint deployment"
Hello,

  I'm trying to leverage existing models already registered in AML workspace. Here is my python code for this purpose.

ml_client = MLClient(
    DefaultAzureCredential(), subscription_id, resource_group, workspace
)
endpoint = ManagedOnlineEndpoint(
    name=online_endpoint_name, description="this is a PBI online endpoint",
    auth_mode="key", tags={"model": "PBI"}
)
model = Model.load(p

[2022-06-08 16:30] realadamsmith commented on #31824
I resolved this by ensuring the naming was all consistent across the docker build and docker push etcetera like in #22296

[2022-06-08 16:33] giovannifl opened #94095 "Missing ASR Preview Replication Appliance networking requirements"
ASR can be deployed in two flavours: classic and preview.
ASR Classic documentation ( https://docs.microsoft.com/en-us/azure/site-recovery/vmware-azure-architecture
 )  says " For exhaustive list of URLs to be filtered for communication between on-premises Azure Site Recovery infrastructure and Azure services, refer to [network requirements section in the prerequisites article](https://docs.micros

[2022-06-08 16:34] gautamksr opened #94096 "check the expiration date of your service principal"
The below command doesn't return any result, only warning message shows "This command or command group has been migrated to Microsoft graph Api...."

`az ad sp credential list --id "$SP_ID" --query "[].endDate" -o tsv`
Is there any other way to check service principle expiry date?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2022-06-08 16:34] VikasPullagura-MSFT commented on #94081
@DanielHRio
Thanks for the feedback! We are currently investigating and will get back on this.

[2022-06-08 16:36] shanebreland opened #94097 "Cannot Bulk Export Users if CustomSecurityAttribute is applied"
I have three custom security attributes created and populated for all users and need to add users meeting specific CustomSecurityAttribute values to a group. Dynamic Group membership is not currently supported by CustomSecurityAttributes, and I cannot find powershell documentation for selecting users based on CustomSecurityAttribute values so I noticed that in the Azure Portal, I can filter users

[2022-06-08 16:37] npalmer1452 opened #94098 "There was an error in evaluating the Pre-request Script:TypeError: Cannot read properties of undefined (reading 'length')"
I received an error when sending after pasting in the pre-request-script from the example provided in the article.

There was an error in evaluating the Pre-request Script:TypeError: Cannot read properties of undefined (reading 'length')

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f34d51d3-4e41-897c-c2a0-088516676ce

[2022-06-08 16:40] WiseK commented on #92310
Also getting this error. I have a support case open and sent them the information and this issue.

[2022-06-08 16:47] Niglb commented on #92310
Yeah I have a case open as well, but nothing has moved forward. We use force tunneling in this particular environment but I am waiting on Azure working to provide recommendations from the support ticket.

[2022-06-08 16:48] AaronMaxwell commented on #93878
Thanks for your dedication to our documentation. Although this question is beyond the technical scope of our feedback channel here on GitHub, which covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question:

Microsoft Azure Monitor Q&A question page
https://docs.microsoft.com/en-us/answers/topics/24223/azure-monitor.html

Create a

[2022-06-08 16:48] #93878 closed

[2022-06-08 16:48] mahoekst commented on #94053
a simple test to try. Get your manifestURL (to your contract) and open that in a browser, this should work. Try to use postman or something else and add the header x-ms-sign-contract with value yes and see if you can still download the contract, it should come back as a JWT now. If that doesn't work there is a misconfiguration with the Verifiable Credential Request Service on KV.

Not sure how old

[2022-06-08 16:49] jasonhorner commented on #93812
@himanshusinha-msft The linked service is configured correctly and has the necessary rights (see 3rd code sample). my point was the call using token library works when passing the linked service however the mssparkutils.credentials methods do not work (first two code samples). I believe there is likely a bug in mssparkutils.credentials and until that is fixed the token library call seems to be the

[2022-06-08 16:52] pierredoescare opened #94099 "DBFS is the *default* location for managed tables"
This statement is true if no location is specified for the schema in which that table is defined (ie if it is a managed schema as well).  If the schema is defined with a location, and if a table is defined within it without specifying the location, though that table will indeed be considered managed, the table objects will be stored in that external location.  This page incorrectly states that the

[2022-06-08 17:00] jasongroce commented on #93365
#reassign:sharath-satish-msft

[2022-06-08 17:01] ecfan commented on #94086
Hi @klawrawkz, thanks for identifying this obsolete doc! We're removing the page entirely, so that update should be live later today after 4 PM Pacific Time.

[2022-06-08 17:02] VikasPullagura-MSFT commented on #94081
@DanielHRio Can you please confirm if you have passed correct value for the variable `SP_ID` as mentioned in the code snippet

`SP_ID=xxxx # Replace with your service principal's appId`

[2022-06-08 17:03] Rodrigossz commented on #93963
Ops. We are checking that too. Please email me: rodrigo.souza@microsoft.com .
 Thank you!

[2022-06-08 17:07] himanshusinha-msft commented on #94073
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2022-06-08 17:07] himanshusinha-msft commented on #94073
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2022-06-08 17:09] GeethaThatipatri-MSFT commented on #94090
Hi @ankitajaiswalkohler Thanks for your findings,We will investigate and update as appropriate

[2022-06-08 17:10] JamesTran-MSFT commented on #94074
@ignaciofls
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-06-08 17:37] YutongTie-MSFT commented on #94093
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-08 17:44] silverl opened #94100 "Policy example fails to save."
I attempted to create the policy documented here, and was greeted with the following error message.

In hindsight, perhaps a policy is no longer needed because as shown in the portal, "All new namespaces are created with minimum TLS version set to 1.2 if not otherwise specified. To use older versions, navigate to Configuration and select the desired version."

---
#### Document Details

⚠ *Do not

[2022-06-08 17:45] laujan commented on #94074
Hi @ignaciofls, Thank you! The link has been updated and has been published on our live site. 🙂

cc: @JamesTran-MSFT
https://github.com/MicrosoftDocs/azure-docs-pr/pull/200897

[2022-06-08 17:46] laujan commented on #94074
#please-close

[2022-06-08 17:46] #94074 closed

[2022-06-08 17:49] #94086 closed

[2022-06-08 17:57] kgremban commented on #93932
Hi @bniranjanbhat. When you create an individual enrollment, you get one key to use on your one device. When you create a group enrollment, you get one key again. But you don't want to put this same key on every device. Instead, you make a hash of registration ID x enrollment key. DPS knows what the registration ID and the enrollment key is, so can verify that the hash is valid. And each of your d

[2022-06-08 17:59] LunchWithaLens opened #94103 "Project for the web needs adding, Planner needs correcting"
The article does not list Project for the web, which does adhere to the group naming policy, but does not preview the assigned name before creating it.

Planner is referenced and it says it shows the assigned name in preview - in my testing it did not - but had added the prefix to the actual name created.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2022-06-08 18:15] sunnyhay commented on #94048
Close this issue since I've figured out using registered model in yml.
model: azureml:leadscoringdyn_latest:6

[2022-06-08 18:15] #94048 closed

[2022-06-08 18:33] GeethaThatipatri-MSFT commented on #93844
Hi @daemel Can you please highlight which link you are talking about

[2022-06-08 18:42] MartinJaffer-MSFT commented on #93993
Looking at the [Pricing page](https://azure.microsoft.com/en-us/pricing/details/databricks/#instances) I see:
(for both "General Compute with Photon," and, "Jobs compute with Photon")

E8 v3
E8s v3
E8as v4
L8s
L8s v2

Looking at "[how to configure runtime for photon](https://docs.microsoft.com/en-us/azure/databricks/clusters/configure#runtime)" I see:

Standard_E4ds_v4
Standard_E8ds_v4
Standard_E1

[2022-06-08 18:48] sunnyhay opened #94105 "HTTP 408 upstream request timeout ERROR when making online endpoint request"
Hi,

  I've deployed my ML model and entry script into an online endpoint **dyn-test-endpoint**.
  subscription: fcd57b7d-d387-4998-8349-63b97b5089c7
  resource group: lsdresources1
  workspace name: modelscoring-dev

  When calling the endpoint, I always got 408 error. But from deployment log I can see the request is successfully handled without any problem. See below screenshot. From portal test

[2022-06-08 18:54] JasonFreeberg commented on #76368
The **user**-level credentials are tied to the **user**, so the doc is correct that if the user associated with the credentials does not have RBAC permissions to manage Web App "A", then their user-level credentials will not be able access Web App "A". If the credentials are leaked, that's a different story.

[2022-06-08 19:05] abatishchev commented on #93994
@JananiRamesh-MSFT where I can find which SKU of Logic Apps I've created?

[2022-06-08 19:40] yblee85 opened #94107 "Add RSS feed in release notes page"
[Enter feedback here]
It would be good to have RSS feed url for release notes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e35a2385-1a0d-310d-ae1e-c9aed2cdb72c
* Version Independent ID: 64f07e05-265b-4d14-c232-26b1243992bc
* Content: [Azure Database for PostgreSQL - Flexible Server Release notes](https://docs.micros

[2022-06-08 19:46] #93858 closed

[2022-06-08 19:54] ssivas commented on #92478
Thanks for reaching out and apologies for the delayed response.

when using Graph API way for creating user attributes, please ensure it matches the regex '[a-zA-Z_][0-9a-zA-Z_]*'."  . To learn more about validations, please refer [this link](https://msdn.microsoft.com/library/azure/ad/graph/howto/azure-ad-graph-api-directory-schema-extensions). [Here][1] is example for your reference. Hope this h

[2022-06-08 19:54] #92478 closed

[2022-06-08 20:01] ssivas commented on #92488
@Balamurugan-dot,

Thanks for reaching out and apologies for the delayed response.

By default, this includes the user's user name, email address, first name, and last name. In the [Azure portal](https://portal.azure.com/), you can view or edit the claims that are sent in the SAML token to the application. To access the settings, select Azure Active Directory > Enterprise applications > the applic

[2022-06-08 20:01] #92488 closed

[2022-06-08 20:01] Oury-MSFT commented on #94107
@yblee85 Thank you for your feedback. We are reviewing this and will get back shortly.

[2022-06-08 20:09] yeahsicy commented on #76368
Hi @JasonFreeberg , please look at my initial problem description and follow-up comments regarding the doc. The doc says that User would have to have sufficient RBAC permissions to use the credentials. However, that's not true - everyone can access it with the valid FTP endpoint, Username and password. For example, an user (Owner role) shares the endpoint and credentials with his team, then his te

[2022-06-08 20:23] mike-urnun-msft commented on #94100
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-06-08 20:32] kawiman commented on #93912
Can you send a note when it is complete? Thanks!

[2022-06-08 20:33] KranthiPakala-MSFT commented on #93966
@mssaperla - Could you please review the above feedback and update the doc as appropriate. Thank you

[2022-06-08 20:39] Roblarson opened #94110 "Page does not reflect the difference in AFD Standard and Premium"
[Enter feedback here]
AFD Standard does not support OWASP rules, only custom rules. There should be a note on this page that explains what sections apply to the SKUS of AFD.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d38eb998-6925-5ab2-ad2c-4367a7c22895
* Version Independent ID: 0e0590c0-42d5-c5a3-86b6-2d396a43cf19

[2022-06-08 20:41] JamesTran-MSFT commented on #94097
@shanebreland
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-08 20:43] dhduvall opened #94112 "AKS credential rotation: SP or app?"
After upgrading to `azure-cli` 2.37, which has switched to using the Microsoft Graph API (Azure/azure-cli#22580), is it still the right thing to do to reset the SP credentials, or should we be resetting the app credentials? Since earlier versions of the CLI were operating against the app when running `az ad sp credential` (according to https://docs.microsoft.com/en-us/cli/azure/microsoft-graph-mig

[2022-06-08 20:49] JasonFreeberg commented on #76368
Doesn't that go without saying? If you're sharing basic auth credentials, then whoever has those creds is only limited by the permissions of the credentials. _That's_ what the section is saying, you can revoke access **for the credentials**.

[2022-06-08 20:57] Monte-Hazboun opened #94113 "Log Analytics guidance for IL5 contradicts itself."
Specifically for this section: https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/azure-government/documentation-government-impact-level-5.md#log-analytics .  The statement that Log Analytics supports IL5 compliance without any additional configuration is both false and is contradicted by the second paragraph that states you need to configure CMK for your workspace.  Configuring CMK on

[2022-06-08 21:11] stevevi commented on #94113
Thank you for your feedback.  The statement is accurate as written.  First paragraph deals with Log Analytics usage in its primary capacity, in which case no additional configuration is needed.  Second paragraph deals with intentional ingestion of IL5 data via customer-provided logs, where additional configuration is needed.

[2022-06-08 21:11] stevevi commented on #94113
#please-close

[2022-06-08 21:11] #94113 closed

[2022-06-08 21:20] KranthiPakala-MSFT commented on #93986
@jamescrowley - Thanks for sharing the details. As it is known issue and not a limitation, I don't it should be called out in the doc. If it is a limitation then I agree to add that in the docs.

But thank you for sharing the details. I will also discuss with the support engineer who worked on this to get more context and will keep posted once the issue is fixed by product team.

Thank you.

[2022-06-08 21:26] KranthiPakala-MSFT commented on #94099
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-06-08 21:33] PNW-BRZ opened #94114 "Can we get additional link or information on deleting / removing the replication appliance?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4004b529-662a-e93a-b5a1-5d372a965def
* Version Independent ID: bfc4c722-fe74-6bd4-b0bb-eaef902b8fd7
* Content: [Deploy Azure Site Recovery replication appliance - Preview - Azure Site Recovery](https://docs.microsoft.com/en-us/azure/site-recovery/depl

[2022-06-08 22:51] aliasgarjh opened #94116 "Typo in FAQ Item - ' REAS API' instead of 'REST API'"
Typo in this FAQ item: https://docs.microsoft.com/en-us/azure/cosmos-db/synapse-link-frequently-asked-questions#can-i-access-analytical-store-with-azure-cosmos-db-reas-apis-

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ba968c1-aa44-fe88-5574-ee2ab007bf09
* Version Independent ID: 4c9a84cb-5e7b-0291-babe-b3fa6d41e1e3

[2022-06-08 22:51] cebundy commented on #94060
@gabesmsft Thank you for reporting this!  We have added the ingress requirement to the document as you suggested.
#please-close

[2022-06-08 22:51] #94060 closed

[2022-06-08 23:05] yeahsicy commented on #76368
@JasonFreeberg, looks like you focus on the User-level one and probably you misunderstood my question... Just to clarify, my customers and I were confused by below specifically:

For the User-level one, the doc led us to granting all developers Contributor role to be able to access via FTP, while the fact is that we dont have to do that; A simple step is to share the basic auth creds. The doc is a

[2022-06-08 23:17] Oury-MSFT commented on #94116
@aliasgarjh Thank you for your feedback. We are reviewing this and will get back shortly.

[2022-06-08 23:27] cebundy commented on #93779
@kprpg  I am sorry that you have had difficulty with this article.  I have been unable to duplicate the issue you reported.  If a storage container is not being created, then this is probably a product issue.  You can report a product issue here: http://aka.ms/aca-roadmap
Currently, the PowerShell tab contains Azure CLI commands using the PowerShell syntax.  When PowerShell cmdlets are available f

[2022-06-08 23:27] #93779 closed

[2022-06-08 23:51] gauravaggarwall opened #94117 "Feedback"
A good starting point for applying Azure Security Benchmark version 2.0 to Microsoft Sentinel. It would be good to have a similar model for the NIST model and sample Azure Policies as Code for automating the recommendations.

Would also love to hear about similar guidance when we use a 3rd party connecter instead of Microsoft provided connector.

---
#### Document Details

⚠ *Do not edit this sect

[2022-06-08 23:54] JamesTran-MSFT commented on #94092
@zacabrer
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-08 23:55] JamesTran-MSFT commented on #94096
@gautamksr
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-08 23:56] JamesTran-MSFT commented on #94098
@npalmer1452
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-08 23:56] cebundy commented on #93609
@MarcosMMartinez   Thank you for your suggestion.  The objective of our quickstarts and tutorials is to provide an easy and complete path to accomplish the article's goal for users at any level of Azure experience.  I wonder if removing the deployment steps would confuse some newer users.

[2022-06-08 23:57] JamesTran-MSFT commented on #94105
@sunnyhay
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-08 23:58] JamesTran-MSFT commented on #94110
@Roblarson
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-08 23:59] JamesTran-MSFT commented on #94112
@dhduvall
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-08 23:59] JamesTran-MSFT commented on #94117
@gauravaggarwall
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-06-09 00:21] DanielHRio commented on #94081
Hello Vikas, yes, please see the screenshot. The command doesn't return anything.
![image](https://user-images.githubusercontent.com/46014205/172738682-809050fb-b58e-4bc6-8034-503668948f3e.png)

[2022-06-09 00:45] sunnyhay commented on #94093
Thank you. I've figured out the approach to using registered model/environment with CLI v2.

[2022-06-09 00:45] #94093 closed

[2022-06-09 02:50] Vile278 opened #94121 "Can create duplicated groups in Azure Active Directory"
# Azure documentation issue guidance

I can  create duplicated groups in Azure Active Directory

## Creating an issue

1. Log in the Azure portal https://portal.azure.com/
2. Open two AAD Azure Active Directory pages >> Go to Groups >> Create create new Group
3. Input the same Name for  Group Name
4. Click Create buttons at the same time
## Pull requests and article contributions
We can create two

[2022-06-09 03:16] JananiRamesh-MSFT commented on #93994
@abatishchev you will be able to see when you list the logic apps in your subscription
![image](https://user-images.githubusercontent.com/92862826/172756726-d46961aa-5f11-4e18-a412-6d6a91008186.png)

[2022-06-09 03:41] KrishnaG-MSFT commented on #93601
@festivus Below is the update from product group:

We are working towards support over VMSS but do currently support. We are working towards a private preview.

Tagging @jodi-boone to share additional insights if any.

[2022-06-09 04:03] MayankBargali-MSFT commented on #93956
@chaisen2006 Just following up here. Hope my previous comment clears things up.

[2022-06-09 04:32] imorrish opened #94123 "Sample to get backup list doesn't return StorageAccountUrl"
Due to this issue https://github.com/Azure/azure-powershell/issues/15039

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 002c09cd-4633-0b23-a36b-946a08358aae
* Version Independent ID: e3afb940-ce5c-6cdf-10e6-3441be785419
* Content: [PowerShell: Restore backup to another subscription - Azure App Service](https://docs.mic

[2022-06-09 04:34] muxmuse opened #94124 "Advice to reload CoreDNS config without downtime is missleading"
The document suggests reloading the CoreDNS config using pod deletion by label

[code]

This may actually cause downtime when the new configuration is not correct. Downtime could be avoided by deleting one pod after the other instead of all simultaneously (or using a StatefulSet for CoreDNS). At least, the documentation should not state that this is without downtime.

Trade-off: until all pods are

[2022-06-09 04:38] jaesoni commented on #93728
Thank you @daveaglick for bringing this to our attention. Some details for Key Vault Azure role-based access control were captured already in [this article](https://docs.microsoft.com/en-us/azure/application-gateway/key-vault-certs#key-vault-azure-role-based-access-control-permission-model). The reported page is also updated now to reflect this information.

[2022-06-09 05:08] juggalettesx7 opened #94126 "6yi"
- [ ] Ti37c

[2022-06-09 05:24] blairmoloney opened #94127 "Azure Load Test - Split CSV input data across test engines - Additional Information"
Hello Nick
Thank you for the documentation on Splitting CSV's with Azure Load Test, I just wanted to add that it is important how the CSV file configured within the jmeter script, or this feature will not work and you will be left wondering why you can not split your csv across multiple engines.
To be able the split csv files across multiple engines the 'CSV Data Set Config' in the JMX script file

[2022-06-09 05:39] VikasPullagura-MSFT commented on #94124
@muxmuse
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-06-09 05:39] VikasPullagura-MSFT commented on #94124
@palma21
Can you please check and add your comments on this doc update request as applicable.

[2022-06-09 05:47] Givary commented on #94018
@GeorgeAAbraham1 Reviewed your ask and shared your feedback with our team, once they review it, article will be updated. Thank you once again for pointing this correction.

[2022-06-09 05:55] Givary commented on #94066
@xdansmith Reviewed your ask and shared your feedback with our team, once they review it, article will be updated. Thank you once again for pointing this correction.

[2022-06-09 06:05] Venkateshdodda-MSFT commented on #94075
@sumner804 I have followed the documented steps and I am able to deploy the python web app form vscode the steps related to #step 3 Deploy Code are covered in #step 2 Create a web app in Azure.
![image](https://user-images.githubusercontent.com/103091186/172773940-34a0b870-99e3-424f-a38a-b3a4faee762c.png)

Please do let me know if you have any further queries on this.

[2022-06-09 06:25] Vikram1988 commented on #94034
@cwestwater I checked with Engg and leant that we have an ongoing deployment which happens region-wise and only after the completion of the deployment can we update the auto-update file with the latest versions. So please wait till next week and the auto-update download file will have the correct versions of the agents

[2022-06-09 06:42] wapayne69 opened #94130 "Not enough delineation between SKU's\ Tiers"
Could you guys please separate the different the different sku's -at least into sections. SQL Database and SQL MI are not the same and do not have exactly the same HA features. Its difficult to accurately identify the differences between tiers for SQL MI because everything is mixed together with SQLDB.

Identifying the differences between tiers should be a quick exercise but on this page you need

[2022-06-09 07:01] ashish-raj-wenovate opened #94131 "How to change activity alert state from fired to resolved"
I understand that Activity alerts are stateless in nature and do not get resolve on their own. But what to do with alerts having condition as fired, i do not see any option in the portal to change its condition from fired to resolved. How to deal with alerts which are not valid anymore but still showing condition as fired?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-06-09 07:06] gjongeneel opened #94132 "Sign up preview"
Hi,

When I try to sign up for preview, it throws a 'You don't have permission to view or respond to this form'. Is this intentional? Would be nice to take a look and test!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7799aba0-e49b-dc6d-fc83-809aca8eede1
* Version Independent ID: 974e19fd-8959-86c2-9b24-a30cbb4315e3

[2022-06-09 07:10] GeethaThatipatri-MSFT commented on #94130
Hi @wapayne69 Thanks for reaching out, We will Investigate and update you shortly.

[2022-06-09 07:10] GeethaThatipatri-MSFT commented on #94130
@rajeshsetlem can you please provide your inputs

[2022-06-09 07:13] shayneshine commented on #94076
Thanks so much!

Kind regards,
Shayne

From: Bill Anderson ***@***.***>
Sent: Wednesday, June 8, 2022 5:53 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Shayne Kropp ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] When invoices are generated (Issue #94076)

@shayneshine<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fshayneshine&data=05%

[2022-06-09 07:14] PRMerger-2 commented on #94076
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2022-06-09 07:34] madev4cloud opened #94134 "ngrok is paid for commercial"
You propose paid tool.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae03e2fc-39bc-4401-82b1-34ae745e936b
* Version Independent ID: 617f4f97-dd3a-4af7-ced1-6e58920b36f9
* Content: [Azure Functions Event Grid local debugging](https://docs.microsoft.com/en-us/azure/azure-functions/functions-debug-event-grid-trigger-loca

[2022-06-09 07:38] SadiqhAhmed-MSFT commented on #94095
@giovannifl For the appliance’s network requirements, please refer to this section – [https://docs.microsoft.com/en-us/azure/site-recovery/deploy-vmware-azure-replication-appliance-preview#network-requirements](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fsite-recovery%2Fdeploy-vmware-azure-replication-appliance-preview%23network-requiremen

[2022-06-09 07:46] gherik opened #94135 "Provide an query example using a $variable"
Please provide an example using a $variable in the query statement

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d477e300-fccf-298b-fb97-d67d2f5acaec
* Version Independent ID: 78f816e8-7ccf-9398-cbd7-940150f7d068
* Content: [Quickstart: Your first PowerShell query - Azure Resource Graph](https://docs.microsoft.com/en-

[2022-06-09 07:50] shwetamathur7 commented on #94121
@Vile278 Thanks for your feedback. We will investigate and update the thread.

[2022-06-09 08:09] PriyankaRudramaina commented on #94132
Hello @gjongeneel,

Thank you for your feedback. We will investigate and update the thread further.

[2022-06-09 08:20] memblin-taurus commented on #93963
@Rodrigossz, this is quite a significant bug if confirmed, please can we keep this issue open or moved to the correct GitHub repo as an issue. Thanks.

[2022-06-09 08:28] kutluo opened #94138 "Send Azure AD audit logs be sent to an EventHub in a subscription that is not associated to the same Azure AD"
Is it possible to stream logs to an eventhub that is in a subscription not associated to the same Azure AD?

In other words stream logs that belongs to Azure AD 'B' to the EventHub 'A' that is associated to Azure Subscription that is linked to Azure AD 'A'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2064767f-5304-2

[2022-06-09 08:38] YoshikaSuzuki opened #94140 "about Service plans that cannot be assigned at the same time."
[Enter feedback here]

There is a false statement about Service plans that cannot be assigned at the same time.
https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/licensing-service-plan-reference#service-dynamics-crm

I have confirmed with Vivek Elangovan <Vivek.Elangovan@microsoft.com> that the following service plans can be set at the same time.
DYN365_ENTERPRISE_CUSTOMER_S

[2022-06-09 08:47] Deep062001 opened #94141 "How to query on multiple container within a single asp.net application?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8d9b842-de22-59e7-e36a-662e2060ae7a
* Version Independent ID: bda934c5-a268-721f-1a3e-1f73fc25c15f
* Content: [ASP.NET Core MVC web app tutorial using Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/sql/sql-api-dotnet-application)
*

[2022-06-09 08:55] RAJMITTAL opened #94143 "Visual representation missing"
A diagram showing, what is being performed, provides a quick overview and it became easy to follow the article.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c714cc40-47f5-fb3c-51e0-f504c38ec937
* Version Independent ID: 15da2499-61eb-ec11-53be-7d006cdd4b38
* Content: [Tutorial to set up Azure VM disaster recovery wit

[2022-06-09 09:07] ntrogh commented on #94127
@blairmoloney Thanks a lot for your feedback 🙏. That's indeed correct and I'll update the docs to make it clear.

[2022-06-09 09:23] #94132 closed

[2022-06-09 09:54] Martvdjagt opened #94145 "Azure service bus messaging explorer: Re-send a message from a subscription"
[Enter feedback here]
Recently Re-send a message functionality was introduced for the azure service bus messaging explorer. Which is great.
Will a re-send on a DLQ message in a subscription re-send to this particular subscription or to the topic (and hence all other subscriptions on that topic)? Due to potential impact I would recommend to explicitly mention it in the documentation.

---
#### Docu

[2022-06-09 10:11] Leoer opened #94147 "the link is error"
Link: [Azure storage account](https://docs.microsoft.com/en-us/storage/common/storage-account-create.md?tabs=azure-portal)
Please fix the link. Thanks.
![image](https://user-images.githubusercontent.com/102143373/172822834-06191d78-720a-479b-95d8-6b4dfbd957fc.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f30f6b9a

[2022-06-09 10:17] Givary commented on #94140
@YoshikaSuzuki Thanks for your feedback. We will investigate and update as appropriate.

[2022-06-09 10:30] OffColour opened #94148 "Intune enrollment"
The page says you can check the box for join intune, but the generated ARM template says

[code]

But then the parameter does get passed to the linked template (which has the same warning) at [https://wvdportalstorageblob.blob.core.windows.net/galleryartifacts/armtemplates/Hostpool_5-24-2022/nestedTemplates/managedDisks-galleryvm.json](https://wvdportalstorageblob.blob.core.windows.net/galleryarti

[2022-06-09 10:49] GitaraniSharma-MSFT commented on #94013
@mariuszo-at-microsoft-com , We have assigned this to the content owner/author for review.

@vhorne , as discussed in the internal email, please help in updating the doc post PG confirmation on the testing URL.

[2022-06-09 11:02] timoklimmer opened #94151 "Need example for launch.json to enable debugging of score.py in VS.Code"
I am trying to debug my score.py using VS.Code but have difficulties in finding out how that launch.json has to look like. It would be great if you could give more detailed instructions here. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b72abb4f-14e0-998f-8959-fb1df8c88d23
* Version Independent ID: 443e93c3-2

[2022-06-09 11:08] jpjm opened #94152 "Impact on Hybrid Cloud Trust?"
There is no mention in this document of any impact on Hybrid Cloud Trust, but in my testing a user moved into the Cloud Sync group cannot authenticate to on-prem resources without authenticating again.

Can I get clarification on whether this is expected behaviour before I take this up with support?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2022-06-09 11:11] jyama4ta opened #94153 "Can we get resource health up to 1 year?"
We can get service health history up to 1 year using the parameter QueryStartTime as below.
https://docs.microsoft.com/en-us/rest/api/resourcehealth/events/list-by-subscription-id
[code]
However, we cannot get resource health history up to 1 year because list by single resource does not have QueryStartTime parameter.
https://docs.microsoft.com/en-us/rest/api/resourcehealth/events/list-by-single-re

[2022-06-09 11:24] fume opened #94154 "Configuring sampling options via IConfiguration/appsettings.json is not mentioned for ASP.NET Core app"
With ASP.NET Core and with Microsoft.ApplicationInsights.AspNetCore >= 2.15.0 you can configure AppInsights options via appsettings.json as documented here: https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core#configuration-recommendation-for-microsoftapplicationinsightsaspnetcore-sdk-2150-and-later

Could be worth to mention it in this page as well.

---
#### Document Details

⚠

[2022-06-09 11:40] jontwycross opened #94155 "Incorrect description of Mount Path in the instructions for Windows Code"
Where it states "Mount path | Directory inside your file/blob storage that you want to mount. Only /mounts/pathname is supported.", this information is incorrect. /mounts/pathname is the path inside the app service and what you set here is mapped to the root of the Azure File share you have specified. It is not the Directory inside the file/blob storage as it currently says.

---
#### Document det

[2022-06-09 11:41] michalmar opened #94156 "Deploy models with REST for batch scoring - Check the batch scoring job insufficient info"
Documentation is unclear about how to actually check for the batch scoring job via REST call. Is has:

![image](https://user-images.githubusercontent.com/16072588/172838485-57174903-a546-4285-8e6e-5911210ffa42.png)

the example code is not a REST call - I would expect some kind of CURL command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-06-09 11:42] #93954 closed

[2022-06-09 11:42] edgreenberg-mri opened #94157 "Note does not match page contents (--image parameter)"
As you call az conatinerapp create to create the container app inside your environment, make sure the value for the --image parameter is in lower case.

There is no --image parameter in any command on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 570383d5-f064-2204-293e-fa29dc4cc3ea
* Version Independent ID

[2022-06-09 11:47] michalmar commented on #93955
@Blackmist @ram-msft understandable, I was rather seeking for explanation what is MLTable (with actual naming), I actually found some info in this article which might be referenced [Create data assets](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-register-data-assets?tabs=CLI#create-a-mltable-data-asset)

[2022-06-09 11:47] #93955 closed

[2022-06-09 11:53] anirudhsinghrawat opened #94158 "Why the document for Web API in ASP.NET is not present?"
I feel this is not write. Whole document was supporting ASP.NET till now and all of sudden there is no suggestion for ASP.NET

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15a27a6a-864a-a37e-e3fd-714f01ba7102
* Version Independent ID: 4b14dfa1-7c7c-e727-b586-7f0abc9bcd57
* Content: [Call a web api from a web app - Mic

[2022-06-09 12:20] SadiqhAhmed-MSFT commented on #94063
Checking in to see if the above answer helped. Let us know if there are still any additional issues we can help with.

[2022-06-09 12:20] SadiqhAhmed-MSFT commented on #93974
Checking in to see if the above answer helped. Let us know if there are still any additional issues we can help with.

[2022-06-09 12:36] engwah opened #94160 "case sensitive"
often refer to resource provider because i need to use log analytics, apparently resource provider seem to be case sensitive, suggest writer to use the right one to avoid confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f496941-f125-1671-5de7-66438e68043f
* Version Independent ID: ce30fce1-45a5-4f00-e0e9-57a0

[2022-06-09 12:52] paweltucholskiigt opened #94162 "No info on required egress FQDNs"
After setting up monitoring machine, wli.log contains
"2022-06-09T12:44:57Z [Error] Failed to get config data. Error message: dial unix @CAgentStream_CloudAgentInfo_WorkloadInsights_default_fluent.socket: connect: connection refused"
Very likely, some traffic is blocked by Azure Firewall and/or NSG. It would be nice to point the user to list of required FQDNs that has to be opened.

---
#### Docum

[2022-06-09 12:57] edwardskrod opened #94163 "Please help clarify some things on this page"
I have a few suggestions for improving this page by demystifying some of the more arcane topics.

1. Is there any way to define a managed identity without referring back to "managed identity?"

"Managed identities provide an automatically **managed identity** in Azure Active Directory for applications to use when connecting to resources that support Azure Active Directory (Azure AD) authentication

[2022-06-09 12:59] giovannifl opened #94164 "avs-tutorial-replication is out-dated"
This page is outdated and it doesn't reflect the latest changes.
Not only now there are two replication appliances ( classic vs preview) but also this page is showing an older version of the classic version. This is what is currently showed in Azure portal

![image](https://user-images.githubusercontent.com/19493042/172852585-dc457bb8-e74b-442a-9ac5-09853ef2963c.png)

---
#### Document Details

⚠

[2022-06-09 13:01] GitaraniSharma-MSFT commented on #94110
@Roblarson , thank you for your feedback. We have assigned this to the content owner/author for review.

@mohitkusecurity , could you please update the doc to reflect the difference in AFD Standard and Premium as AFD Standard does not support managed rules.

![image](https://user-images.githubusercontent.com/67630903/172853105-4ceb6217-ee69-41f6-afee-2882f1aeea91.png)

Refer : https://docs.microso

[2022-06-09 13:02] giovannifl commented on #94095
Thanks @SadiqhAhmed-MSFT Please update
https://docs.microsoft.com/en-us/azure/site-recovery/vmware-azure-architecture-preview#outbound-connectivity-for-urls to to look on your links for additional details (i.e. appliance networking reqs)

[2022-06-09 13:05] singhim commented on #60995
We are also facing the same error, for anyone did this worked ?

[2022-06-09 13:11] RohitMungi-MSFT commented on #94147
@Leoer Thanks for spotting this. I think the intended link is from the storage documentation as mentioned below:
https://docs.microsoft.com/en-us/azure/storage/common/storage-account-create?toc=%2Fazure%2Fstorage%2Fblobs%2Ftoc.json&tabs=azure-portal

@nibaccam Could you please confirm and update the broken link?

[2022-06-09 13:14] ntrogh commented on #94127
@blairmoloney I've just checked with the team and the guidance is to remove the header row because we don't preserve it across test engine instances. So, when you use the 'split CSV' functionality:

1. Specify the variables names in the JMX script.
2. Remove the header row from the CSV file.

I'll update and publish the Docs. Thanks again for bringing this to our attention! Much appreciated.

[2022-06-09 13:19] MayankBargali-MSFT commented on #94114
@PNW-BRZ Thank you for your feedback! We will review and update as appropriate.

[2022-06-09 13:20] MayankBargali-MSFT commented on #94134
@madev4cloud Thank you for your feedback! We will review and update as appropriate.

[2022-06-09 13:20] shashishailaj commented on #94138
@kutluo Thank you for your feedback . We will investigate and update the thread.

[2022-06-09 13:20] Leoer commented on #94147
[The link](https://docs.microsoft.com/en-us/azure/storage/common/storage-account-create?toc=%2Fazure%2Fstorage%2Fblobs%2Ftoc.json&tabs=azure-portal) you provided is correct and it can be updated to the documentation.

[2022-06-09 13:23] MonikaReddy-MSFT commented on #94153
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-06-09 13:25] RohitMungi-MSFT commented on #94151
@timoklimmer The reference to setting up launch.json is available in this [section](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-debug-visual-studio-code). @shivanissambare Can we add reference to this page in this document?

[2022-06-09 13:31] RohitMungi-MSFT commented on #94156
@michalmar Thanks for spotting this. @dem108 Could we add more details on REST API usage similar to other operations mentioned in the doc for batch endpoint?

[2022-06-09 13:31] ZeroDeltaE-MS opened #94165 "potentially incorrect instructions in customer guide"
[Enter feedback here]
in the "Give tenant 2 access" section:
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/share-images-across-tenants#give-tenant-2-access
this doc says:

(emphasis mine)

I am an Azure support engineer helping a customer work through this and when we granted Contributor access at the resource group level, we still received permissions errors. We the added permissi

[2022-06-09 13:34] shashishailaj commented on #94163
@barclayn Thank you for the detailed feedback . We will take it to the content team for review and update of the same.

[2022-06-09 13:36] shashishailaj commented on #94158
@anirudhsinghrawat Thank you for your feedback . We will check this internally and get back to you on the same.

[2022-06-09 13:41] shashishailaj commented on #94152
@jpjm Thank you for your query . We will investigate and update the thread .

[2022-06-09 13:53] KrishnaG-MSFT commented on #93856
@konrad-jamrozik Thanks for bringing this up. We have updated the document as required. The update will go live in less than 24 hours. Thanks again!

[2022-06-09 13:57] kennedykinyanjui commented on #93637
Having a `--priority "1" ` flag sorts it out

[2022-06-09 14:02] Blackmist commented on #93955
Thanks @michalmar . I've updated the article to add a link to the create data assets article and provided your feedback to the PMs.

[2022-06-09 14:03] SadiqhAhmed-MSFT commented on #94063
Closing this thread for now. Feel free to ping with questions if that needs our attention.

[2022-06-09 14:20] John-Garland opened #94167 "Clarification needed on Supported Scenarios note"
The [supported scenarios section includes a note](https://docs.microsoft.com/en-us/azure/active-directory/develop/workload-identity-federation#supported-scenarios) that reads "Azure AD-issued tokens might not be used for federated identity flows." I do not think this clearly conveys the meaning (the word 'might' is likely the problem, but the whole sentence could probably be better phrased.) Is th

[2022-06-09 14:36] JamesTran-MSFT commented on #94167
@John-Garland
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-06-09 14:40] cloudboxrun commented on #5284
Hello All,

hope you're doing well,

please how can i apply this script for all alerts related to one VM?
the idea is to disable all alerts when the VM goes offline.

[2022-06-09 14:47] mzarigit commented on #5284
Hello All,

hope you're doing well,

please how can i apply this script for all alerts related to one VM?
the idea is to disable all alerts when the VM goes offline.

[2022-06-09 14:50] dominicbetts commented on #93872
Thanks @romankiss for providing the details of what's contained in the QR code - I'm adding a brief note to the quickstart to clarify this.

@tervoju -  One further point to add - the `deviceKey` is derived from the default **SAS-IoT-Devices** enrollment group (Go to **Permissions -> Device connection groups** to view it). If you want to use your own enrollment group, you need to generate your own

[2022-06-09 15:20] premgan commented on #94053
We are working to address the documentation.

[2022-06-09 15:27] jcharles27 opened #94170 "MIssing recommendations"
[Enter feedback here]
Is this a complete list of recommendations. There are reccomendations mentioned in an old article that do not show anymore.
[Reduce costs by eliminating unprovisioned ExpressRoute circuits](https://docs.microsoft.com/en-us/azure/advisor/advisor-cost-recommendations#reduce-costs-by-eliminating-unprovisioned-expressroute-circuits)
[Reduce costs by deleting or reconfiguring idle

[2022-06-09 15:31] #94126 closed

[2022-06-09 15:41] assaf-grth opened #94171 "Block port 22 at the storage account level"
Whenever I try to telnet a storage account dns name for port 22 I get this output SSH-2.0-AzureSSH_1.0.0 meaning the port is open
Is there an option to close it somehow?
Is it related to the SFTP configuration of the account?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13064915-f5c2-0a20-48cd-53705e47b396
* Version

[2022-06-09 15:42] ACmalemzadeh opened #94172 "custom roles won't show up under /.auth/me"
I'm using RolesController in Falcon to handle the POST call for getting the custom roles fr my Azure Static Web App. Although the JS [solution ](https://docs.microsoft.com/en-us/azure/static-web-apps/assign-roles-microsoft-graph) provided by Microsoft works, andthe custome roles appears under /.auth/me, along with "anonymous and authenticated" roles, but in my App, it doesn't.

any idea what is mi

[2022-06-09 15:44] danbrooks-kr opened #94174 "Missing VM skus"
The chart is missing information for the skus below 208.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a4a150d-1617-96a4-c460-3190ed8598b4
* Version Independent ID: fd8dd71a-84b6-11f9-077f-80ea27980756
* Content: [Mv2-series - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/mv2-series#

[2022-06-09 15:49] JamesTran-MSFT commented on #94123
@imorrish
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-09 15:50] JamesTran-MSFT commented on #94135
@gherik
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-09 15:52] JamesTran-MSFT commented on #94145
@Martvdjagt
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-09 16:04] VikasPullagura-MSFT commented on #94174
@danbrooks-kr
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-06-09 16:04] VikasPullagura-MSFT commented on #94174
@lauradolan
Can you please check and add your comments on this doc update request as applicable.

[2022-06-09 16:06] VikasPullagura-MSFT commented on #94165
@ZeroDeltaE-MS
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-06-09 16:06] VikasPullagura-MSFT commented on #94165
@sandeepraichura
Can you please check and add your comments on this doc update request as applicable.

[2022-06-09 16:07] VikasPullagura-MSFT commented on #94148
@OffColour
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-06-09 16:08] VikasPullagura-MSFT commented on #94148
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2022-06-09 16:08] laznar commented on #94053
Thank you very much, I was able to solve this problem, it was mainly because I did not have the Verifiable Credentials Service Request added in the KV.

[2022-06-09 16:08] #94053 closed

[2022-06-09 16:09] NickDorak opened #94175 "Should include note about Groups from FAQ"
The FAQ page has a very important note about adding Groups which should be added to this page. This behavior is not obvious as adding groups in other areas of AD doesn't work the same.

Source: https://docs.microsoft.com/en-us/azure/active-directory/roles/admin-units-faq-troubleshoot#what-does-it-mean-to-add-a-group-to-an-administrative-unit-

---
#### Document Details

⚠ *Do not edit this section

[2022-06-09 16:24] ram-msft commented on #91832
@KazuOnuki We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-06-09 16:36] JamesTran-MSFT commented on #94175
@NickDorak
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-09 16:38] ikhapova commented on #94170
Complete list of cost recommendations is available in this article - https://docs.microsoft.com/azure/advisor/advisor-reference-cost-recommendations

[2022-06-09 16:45] Rodrigossz commented on #93963
We are addressing this case in emails and support tickets. I will keep the issue closed because this is a documentation repo.

[2022-06-09 17:05] derisen commented on #93828
Resolved by [#201077](https://github.com/MicrosoftDocs/azure-docs-pr/pull/201077)

#please-close

[2022-06-09 17:05] #93828 closed

[2022-06-09 17:07] Borgquite opened #94177 "Instructions need updating with new Azure GUI to allow creation of legacy storage account typ"
It is [recommended](https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-support-matrix#cache-storage) use the 'legacy' 'Storage (general purpose v1)' storage type to set up Azure Site Recovery, but the guide is still describing the old Azure Storage Account creation GUI.

Please update the guide with the new Azure Storage account GUI, including the step to select the link that says

[2022-06-09 17:09] Borgquite opened #94178 "Command to install provider on Hyper-V core server is wrong"
The comment to install the provider on the Hyper-V core server:

`cd  "C:\Program Files\Microsoft Azure Site Recovery Provider\DRConfigurator.exe" /r /Friendlyname "FriendlyName of the Server" /Credentials "path to where the credential file is saved"`

Doesn't work. It should probably be:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2022-06-09 17:09] ecfan commented on #93648
Hi @adjustit,

Are you looking for the following information?

[https://docs.microsoft.com/azure/connectors/connectors-native-http#content-with-multipartform-data-type](https://docs.microsoft.com/azure/connectors/connectors-native-http#content-with-multipartform-data-type)

![image](https://user-images.githubusercontent.com/13206671/172904920-62228c9c-9e8a-4c65-a199-77283f56a376.png)

[2022-06-09 17:11] Borgquite commented on #94177
The increased cost of using General Purpose v2 Storage is also documented here: https://docs.microsoft.com/en-gb/azure/site-recovery/hyper-v-azure-common-questions#general

[2022-06-09 17:18] normesta commented on #82493
Thank you for your feedback. Updated less than or equal example to be consistent with the equal to or greater example so that they are consistent. Changes will appear live around 3 today.  I agree that less than or equal between two strings is a strange example. That comparison should work by comparing the value of each letter from left to right but is likely a less popular scenario.  RE: case, ta

[2022-06-09 17:18] #82493 closed

[2022-06-09 17:19] vhorne commented on #94013
doc has been updated with list of functional URLs to use
#please-close

[2022-06-09 17:19] #94013 closed

[2022-06-09 17:21] mvanolden opened #94179 "Does not work with PHP8 (PHP8 Web App uses NGINX instead of APACHE)"
This tutorial is very comprehensive. However, it does not work with PHP8 Web Apps.  Previous to PHP8, Azure Web Apps used Apache. PHP8 now uses NGINX instead. All of the information related to using an .htaccess file is no longer relevant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16b05787-5c58-1749-4890-02e4f55fb

[2022-06-09 17:32] Oury-MSFT commented on #94116
@aliasgarjh We have fixed the typo issue. Changes should be live once approval is done. Thank you for bringing this into our attention.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/201085

[2022-06-09 17:32] #94116 closed

[2022-06-09 17:34] RyanHill-MSFT commented on #94155
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-09 17:39] KranthiPakala-MSFT commented on #93986
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-06-09 17:39] #93986 closed

[2022-06-09 17:42] mariuszo-at-microsoft-com commented on #94013
When the updated page will be visible?

[2022-06-09 17:55] JamesTran-MSFT commented on #94154
@fume
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-09 18:02] normesta commented on #93646
Thank you for the contribution. I tested your code so all looks good from this end. I updated the sample behind the article and the change should be picked up by 3 today.

#please-close

[2022-06-09 18:03] JamesTran-MSFT commented on #94157
@edgreenberg-mri
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-06-09 18:09] GeethaThatipatri-MSFT commented on #94179
Hi @mvanolden Thanks for your findings, I'm assigning this to the author for the feedback review.

[2022-06-09 18:12] cebundy commented on #94157
@edgreenberg-mri Thank you for reporting this.  We have corrected the article.  The update will be published soon.
#please-close

[2022-06-09 18:12] #94157 closed

[2022-06-09 18:14] GeethaThatipatri-MSFT commented on #93844
Hi @daemel We haven't heard back from you, We will proceed to close this issue now.
If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2022-06-09 18:14] #93844 closed

[2022-06-09 18:19] JamesTran-MSFT commented on #94059
@Wibusts
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-06-09 18:19] #94059 closed

[2022-06-09 18:20] cebundy commented on #91940
@olavt Thank you for taking the time to report this issue.  We have corrected the document.
#please-close

[2022-06-09 18:20] #91940 closed

[2022-06-09 18:24] KrishnaG-MSFT commented on #94178
@Borgquite Thanks for your feedback. We will investigate and update the thread.

[2022-06-09 18:27] KrishnaG-MSFT commented on #94177
@Borgquite Thanks for the feedback.
Assigning this to @V-SSenthilna for visibility, review and document enhancement consideration as appropriate.

[2022-06-09 18:28] cebundy commented on #90770
@ffrankozz  I am not able to reproduce this error.  Is this still an issue for you?

[2022-06-09 18:29] KrishnaG-MSFT commented on #94164
@giovannifl Thanks for the feedback.
Assigning this to @Harsha-CS for visibility, review and document enhancement consideration as appropriate.

[2022-06-09 18:33] JamesTran-MSFT commented on #94097
@shanebreland
Thank you for your time and patience on this!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our [Q&A forum](htt

[2022-06-09 18:33] #94097 closed

[2022-06-09 18:35] cebundy commented on #93558
@ToruMakabe Thank you for your question.  I am working to get an answer for you as soon as possible.

[2022-06-09 18:36] #93601 closed

[2022-06-09 18:37] rohitnayakmsft commented on #94090
+ @VanMSFT for awareness

[2022-06-09 18:56] ikhapova commented on #94170
@KrishnaG-MSFT This article is not supposed to be a full list of recommendations - full list is available in a different place.

[2022-06-09 19:10] MartinJaffer-MSFT commented on #93993
Thank you for your feedback. This has been assigned to the content owner and will be updated as appropriate.

[2022-06-09 19:14] premgan commented on #94053
Thank you for confirming.

[2022-06-09 19:20] Kunwilshire commented on #84464
Hi, I run into the same problem as you. Can you tell me how to fix that problem? Thank you so much.

[2022-06-09 19:22] lauradolan commented on #94174
I've reached out to the product team for more information.

[2022-06-09 19:24] MonikaReddy-MSFT commented on #93973
@cgtheflash - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can review and update the document accordingly.

[2022-06-09 19:24] kabharati commented on #93943
Changes have been made and they should reflect by tomorrow. Please close the PR once you verify this tomorrow.

[2022-06-09 19:25] prasadsanjeev opened #94181 "Tedious process"
[Enter feedback here]

How to automate or do it for all files under given site ? I have task to move 1000's of files under different sites and it would be super tedious if I have to file by file,

Any insight would be great on that front

Thanks

Sanjeev

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d9fd1db-042c-5f44

[2022-06-09 19:31] MonikaReddy-MSFT commented on #94154
@fume - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-06-09 19:35] drmikesell opened #94182 "Server Key no longer displayed on the Cloud Messaging tab"
For section **Create a Firebase project that supports FCM**, there is no longer a Server Key that is displayed on the Firebase console's Cloud Messaging tab.  Can you update this page to reflect the changes on the Firebase console?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fd4915d-64a9-b703-f139-91338412825a
* Ve

[2022-06-09 19:36] Kunwilshire opened #94183 "Error on send: One or more errors occurred."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-06-09 19:38] Kunwilshire opened #94184 "Error on send: One or more errors occurred."
Hello I keep getting an error when I run this app. The error reads "Error on send: One or more errors occurred." Please advise

#Sets: 1,#FilesDump: 1,#CDRPerFile: 1000,%CallBack: 0.2, #DurationHours: 2
Time Increment Per Set: 2
20200812 170236
MO,d0,0,Australia,234507214,466921402416657,567841148,466922202679249,20200812,170236,1,0,,,b,1,,3,,442,886932428134,,,20200812 170236
Error on send: One o

[2022-06-09 19:41] Kunwilshire commented on #94184
@mamccrea I run into the same problem as others. Please help me fix it. Thank you.

[2022-06-09 19:42] meenasaravanan02 commented on #56407
Hi @VladimirKhvostov,
Thanks for the feedback.  That script is updated to support 18.04.  Here is the reference - https://github.com/microsoft/service-fabric-scripts-and-templates/blob/master/scripts/SetupServiceFabric/SetupServiceFabric.sh#L28
#please-close this issue

[2022-06-09 19:42] #56407 closed

[2022-06-09 19:54] saumilhshah opened #94187 "WAFEvaluationTime"
Is the WAFEvaluationTime included in the timeTaken ? In the ApplicationGatewayAccessLog, we are seeing that WAFEvaluationtime exceeds the timeTaken (total processing time for App Gateway). The documentation is not clear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5f080ad-843f-d7be-eba6-2837993d052b
* Version Indep

[2022-06-09 19:54] AjayKumar-MSFT commented on #94061
@sethmanheim, Requesting your review on the ask, and help update the document as appropriate. #93552

[2022-06-09 20:15] edernucci opened #94188 "Don't include --yes or other warning bypass methods on sample code"
[Enter feedback here]
Adding `--yes` and other warning bypass methods is a bad practice for documentation. Users can copy and paste the code and have their resources deleted without warnings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c420b2c-e868-9a6a-49fb-913f2cd007ef
* Version Independent ID: 5c543e08-7d75-21eb

[2022-06-09 20:49] kobulloc-MSFT commented on #94188
@edernucci Thank you for the feedback!  We are reviewing the documentation and will get back to you shortly.

[2022-06-09 21:01] kwent opened #94189 "Azure AD SCIM Provisioning content type is not set to application/scim+json"
## Azure AD SCIM Provisioning content type is not set to application/scim+json

Service: Azure AD

![Screen Shot 2022-06-09 at 1 56 37 PM](https://user-images.githubusercontent.com/879780/172942964-c07f28ce-a5b1-4cb6-abf6-69d6d1fdfe43.png)

While testing SCIM and clicking on `Test connection` button. Request is sent without a content-type set to `application/scim+json`. Most of application will re

[2022-06-09 21:03] laujan commented on #93794
#please-close

[2022-06-09 21:03] #93794 closed

[2022-06-09 21:05] nschroeder-pwc opened #94190 "Bing Search v7 resource link is broken and deployment from marketplace no longer works"
The Bing Search v7 resource link is broken and deployment from marketplace no longer works. Is Cognitive Services the best/only way to deploy this now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f510475-89f7-1c27-740d-59f50f294357
* Version Independent ID: 96193052-bccc-8261-3fae-7ea6751b4744
* Content: [Quickstar

[2022-06-09 21:07] michaelDadurian opened #94191 "Show equivalent commands in Az module"
In steps 2 and 3, we are instructed to install AzureADPreview. This module does not seem to be compatible with Mac and I've seen online that it is recommended to switch to the newer AZ Module.

https://stackoverflow.com/questions/64455922/connect-azuread-is-not-recognized
https://github.com/PowerShell/PowerShellGallery/issues/219

I have no issues installing and connecting to the AZ Module, but it

[2022-06-09 21:23] normesta commented on #76856
Thank you for raising this! I tested out the code and observed the same requirement. I added values to all of the text option parameters, and all should work now. The change won't appear live until after 3 PM today. Thank you!

#please-close

[2022-06-09 21:23] #76856 closed

[2022-06-09 21:23] craftyhouse commented on #87344
It is GA and docs are updated so closing.

[2022-06-09 21:28] #87344 closed

[2022-06-09 21:32] ntrogh commented on #94127
@blairmoloney The docs updates have been published and are live now.

#please-close

[2022-06-09 21:32] #94127 closed

[2022-06-09 21:41] sunnyhay commented on #94105
Close this issue since I've figured out how to set up timeout limit in YAML config for deployment. BTW, default 5 seconds are too short.

[2022-06-09 21:41] #94105 closed

[2022-06-09 21:53] dlepow commented on #55313
@MissmoC - Feel free to post this as a suggestion in the Azure Feedback forum:
https://feedback.azure.com/d365community/forum/e808a70c-ff24-ec11-b6e6-000d3a4f0858

Thanks a lot!

[2022-06-09 22:14] JamesTran-MSFT commented on #94191
@michaelDadurian
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-06-09 22:24] cebundy commented on #91958
@ffrankozz  Yes, the image is from Dockerhub (docker.io).  We will add this information to the article.

[2022-06-09 22:52] Oury-MSFT commented on #94107
@yblee85 Please log this feedback on [Azure PostgreSQL user voice](https://feedback.azure.com/d365community/search/79b1327d-d925-ec11-b6e6-000d3a4f06a4?q=Azure+postgreSQL+flexible) with regards to the above request.

[2022-06-09 23:08] cebundy commented on #91958
@ffrankozz Thank you for bringing up the question.  We have added the image source information to the article.  The changes will be published soon.
#please-close

[2022-06-09 23:08] #91958 closed

[2022-06-09 23:20] cebundy commented on #90770
#reassign:cebundy

[2022-06-09 23:21] cebundy commented on #93840
#reassign:cebundy

[2022-06-09 23:22] cebundy commented on #93609
#assign:cebundy

[2022-06-09 23:23] cebundy commented on #93558
#assign:cebundy

[2022-06-09 23:25] kobulloc-MSFT commented on #93904
@JeffSmalley You are correct, Overprovisioning is no longer selected by default in the portal.

![image](https://user-images.githubusercontent.com/37556655/172961237-ff164ab4-e6b9-43e1-9d8a-459430bbb898.png)

[2022-06-09 23:33] willfiddes opened #94194 "Use Microsoft Graph PowerShell"
Content here is outdated.

We should walk through using Microsoft Graph PowerShell module to upload the certificate as well as to pull the sign-in logs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a950d6b-db1f-8338-f80a-a3fde54c4b4c
* Version Independent ID: 8256d37f-d6dc-a8bf-6a39-d18419c94ac3
* Content: [Tutorial

[2022-06-09 23:47] JamesTran-MSFT commented on #94194
@willfiddes
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-06-09 23:49] JamesTran-MSFT commented on #94171
@assaf-grth
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-09 23:50] JamesTran-MSFT commented on #94172
@ACmalemzadeh
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-09 23:52] JamesTran-MSFT commented on #94182
@drmikesell
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-09 23:53] JamesTran-MSFT commented on #94183
Closing since it's a duplicate of - #94184

[2022-06-09 23:53] #94183 closed

[2022-06-09 23:54] JamesTran-MSFT commented on #94184
@Kunwilshire
Thank you for your feedback! To better understand and route your issue, can you share the documentation that you're referencing when creating this issue?

[2022-06-09 23:55] JamesTran-MSFT commented on #94187
@saumilhshah
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-09 23:57] JamesTran-MSFT commented on #94189
@kwent
Thank you for your feedback! To better understand and route your issue, can you share the documentation that you're referencing when creating this issue?

[2022-06-09 23:58] JamesTran-MSFT commented on #94190
@nschroeder-pwc
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-10 00:02] kwent commented on #94189
Added the doc. The problem is wider. Any request made by Azure AD doesn't have content type `application/scim+json` as referenced in https://datatracker.ietf.org/doc/html/rfc7644#section-3

[2022-06-10 00:03] Acarlos13 opened #94195 "A Arte da Podologia"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b8c223f-5148-1c48-320f-9577953b117e
* Version Independent ID: bb6861d2-7d2d-5e5b-2b7e-e5ba27e6aad1
* Content: [Manage resources - Azure PowerShell - Azure Resource Manager](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/mana

[2022-06-10 01:10] sixfu opened #94197 "what are the regions where this feature is supported?"
Hi,

I was following the steps in this article and got the errors below.
"message":"Feature is not supported in the current region

I am using East us2, what are the regions which support this feature?
Thanks!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: acf1d359-23da-2f07-af0d-d16284f738ba
* Version Independent ID: e

[2022-06-10 01:11] GeethaThatipatri-MSFT commented on #93943
Thanks, @kabharati for fixing the doc.
@LifeRyuto changes have been updated, thanks again for your findings to improve our documents.

[2022-06-10 02:30] w-azure commented on #91032
Thank you for the feedback @ondrejspilka. The text below the DNS server address example in the article explains that with a private server, the `[1.1.1.1]` address won't work. But we have added a bit more context to the text in hopes it will be more clear. You can expect to see this published in the next 24 hours.

We will now close this issue, but feel free to reopen it if you have other comments

[2022-06-10 02:30] #91032 closed

[2022-06-10 02:36] adjustit commented on #93648
Good day @ecfan
Thanks for your suggestion, but what I am after is a scenario when the http is the trigger for the logic app process.

![image](https://user-images.githubusercontent.com/21302464/172978553-62fdee6e-4329-455b-8a28-3de50e86636f.png)

This can be triggered from a postman request as shown below
![http-form](https://user-images.githubusercontent.com/21302464/172978677-823cd703-fc0f-4ce7

[2022-06-10 03:36] KrishnaG-MSFT commented on #94195
@Acarlos13 [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in the referred Azure document then please elaborate your feedback.

[2022-06-10 04:20] Siby22071989 opened #94199 "Reservation not applicable for 3 years"
[Enter feedback here]
[
](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/prepay-suse-software-charges#buy-a-software-plan)

In this doc they say that "Select a one-year or three-year term" however we don't see the options for 3 years while selecting: Red Hat Enterprise Linux

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2022-06-10 04:26] YutongTie-MSFT commented on #93935
@aronchick Hello David, could you please share which part of the code you are suffering the issue?

[2022-06-10 04:29] ram-msft commented on #94197
@sixfu Thanks for the question. We are investigating the issue and will update you shortly.

[2022-06-10 04:30] YutongTie-MSFT commented on #93971
@herbiel Please click: https://aka.ms/csspeech/linuxbinary and check your browser download target place. Please let us know if you still see the issue.

We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2022-06-10 04:38] ShaikMaheer-MSFT commented on #94070
@nabhishek Requesting to validate customer feedback and update doc as appropriate? Thank you.

[2022-06-10 04:49] v-hgampala commented on #93912
@kawiman, please give couple of days to update it, you can expect the changes within 3-4 days.

[2022-06-10 05:29] KrishnaG-MSFT commented on #94170
@ikhapova Thanks for the clarification.

@jcharles27 As at this point it appears that there's no updates needed for the referred documentation so closing this issue for now. If there are further questions regarding this topic or feedback on the referred documentation, please do let us know and we will gladly continue the discussion.

[2022-06-10 05:29] #94170 closed

[2022-06-10 05:33] SadiqhAhmed-MSFT commented on #94095
@giovannifl The Outbound connectivity URL section which you are looking at, talks about the outbound connectivity from source machines. It is not the list of URLs which should be allowed for the appliance.

The only section for appliance’s network requirements is this link – [https://docs.microsoft.com/en-us/azure/site-recovery/deploy-vmware-azure-replication-appliance-preview#network-requirements

[2022-06-10 05:58] v-missam commented on #41592
@jeevansd @SaurabhSharma-MSFT @twimmers

We couldn't see any issue while importing and exporting department with 2-word user field. Screenshots below
![image](https://user-images.githubusercontent.com/73954333/172999623-b0608423-e7e8-4468-a97b-863ec50f3110.png)

![image](https://user-images.githubusercontent.com/73954333/173000155-4b923b48-752b-4b77-8e11-5ed2c6638a8d.png)

[2022-06-10 06:01] SreejaBhattacharya-MSFT commented on #94199
@Siby22071989 , Thanks for reaching out. We will investigate and update the thread.

[2022-06-10 06:18] jinyu1122 opened #94201 "Whether does Turn server save any data?"
Hi ACS team,

Our product uses ACS Turn server and we are walking through privacy review recently.
One question that Privacy Champion asked was whether the Turn server ever store any data which is relayed by it.
Per my understanding, Turn server only relays data and never store data.
Could you help to confirm this point?

Yu
Thanks
---
#### Document Details

⚠ *Do not edit this section. It is requ

[2022-06-10 06:48] Kaimonos opened #94202 ""If your container app scales to zero, then you aren't billed.""
The title of this issue is mentioned in the docs. However, the pricing page mentions "No usage charges apply when an application is scaled to zero."
It seems that the information should be "If your container app scales to zero, then you are billed the lower 'no usage' pricing."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-06-10 07:06] dantecit0 commented on #93880
Thank you for the confirmation @MonikaReddy-MSFT!

The only question I have is how long would that take, since I have a support case open waiting for this to be closed.

Thanks!

[2022-06-10 07:15] code-sidd commented on #93777
Added required links for better troubleshooting under Next steps
https://docs.microsoft.com/en-us/azure/mysql/flexible-server/how-to-read-replicas-portal#next-steps

[2022-06-10 07:24] GitaraniSharma-MSFT commented on #93945
@alexxiongxiong , thank you for your feedback. I was able to replicate the issue in my lab. We have assigned this to the content owner/author for review.

@mscatyao , could you please check the CLI command for [deploying an AKS cluster with the add-on enabled](https://docs.microsoft.com/en-us/azure/application-gateway/tutorial-ingress-controller-add-on-new#deploy-an-aks-cluster-with-the-add-on-ena

[2022-06-10 07:37] iamtonystark0 commented on #51835
Guys , can Powershell Script  , write to automate the Azure VDI to Scale up and Scale Down while No users is active by checking Every 5 minutes  (* / 5 * * * *)
Can Any one Help me with the Script?

[2022-06-10 07:59] Suvikramy1 commented on #58912
I dont think this is the correct solution. The issue is not about sharing the app. It is about using the shiny app parallely and enabling multiple user access at the same time by deploying it in the databricks cluster

[2022-06-10 08:29] LainRobertson commented on #92957
Hi, folks.

The issue of this documentation not providing the stated outcome (of promoting the child domain so that the authentication type can be changed from Federated to Managed) of this article just doesn't appear to work.

Referring to the same step as from the original question (the now-updated "POST https://graph.windows.net/{tenant-id}/domains/foo.contoso.com/promote"), I encounter two iss

[2022-06-10 08:51] Wiiki0807 opened #94203 "az role assignment create --role "Storage Blob Data Owner" --assignee <your-Azure-account> --scope <ID-of-your-storage-account>"
[Enter feedback here]
I suggest that navigate reader "how to look up their <your-Azure-account>" in terms of their E-mail, will be more intuitive to walk through tutorial.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac69f51f-8ae3-a7a4-1891-3e194109fb66
* Version Independent ID: 0307345e-1242-5164-6754-4a4b7ab0388c
*

[2022-06-10 08:53] LainRobertson commented on #92957
Quick update as the MIME error is common in other spaces.

Despite not having a body, adding an extra header for "Content-Type"="application/json" allowed the step to complete.

The audience this article is aimed it will absolutely not know these kinds of details. Someone should really improve the quality around the "/promote" step to include such requirements so that article itself has some actua

[2022-06-10 09:17] fparpas opened #94204 "Azure Container App not able to scale with more than 10 replicas through the Azure Portal"
In Azure Container Apps, when you try to scale the container app through Azure portal you do not have the option to scale with more than 10 replicas.
However, you can scale up to 30 replicas through the Azure CLI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58fa8bbe-e0eb-4944-bc60-617aec0c0dde
* Version Independent

[2022-06-10 09:27] AlexcFrench commented on #93974
that's great, thank you - I can see it now.

On Thu, 9 Jun 2022 at 13:21, SadiqhAhmed-MSFT ***@***.***>
wrote:

[2022-06-10 10:01] areels opened #94208 "Confusing information about hybrid devices."
"Your hybrid Azure AD joined devices should follow your policies for on-premises stale device management."

Computers which are hybrid but never contact local active directory has old/stale timestamp in local ad.
But same computers are not stale on azure ad.

if we cleanup those machines from local ad, they would be wrongly disabled.

What needs to be done is disabling from Azure AD and expect to

[2022-06-10 10:05] paulspinkstr opened #94209 "Material out of date?"
It looks as if the material on this page is out of date. The "Recover Deleted Account" tab on the portal now simply has a message on it saying this. "Recovery of storage accounts was renamed as "Restore" and moved to commands section of Browse Resource blade, click here to navigate to Browse Resource blade".

Clicking as instructed doesn't actually take you there either, it just took me back to th

[2022-06-10 10:11] SadiqhAhmed-MSFT commented on #93974
@AlexcFrench Thanks for confirming. We will now close this thread.

[2022-06-10 10:11] #93974 closed

[2022-06-10 10:44] kamilzzz commented on #90317
Probably easier to track this documentation - https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/services-azure-active-directory-support - than to info about supported/unsupported managed identity to every Azure Service doc page ;)

[2022-06-10 10:51] v-missam commented on #79491
@ergopotato @MarileeTurscak-MSFT @twimmers

I have updated the Prerequisites and Step 2 of this tutorials as per details found in Atlassian support documentation. The change should be live in next 48 hrs.

[2022-06-10 10:54] sadiqkhoja opened #94210 "Can't find IsBatched"
I have included Microsoft.Azure.WebJobs.Extensions.ServiceBus 5.5.1 in my azure functions project (.net 6.0) but I can't find IsBatched property for ServiceBusTrigger attribute

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d50399c-0873-e903-35ca-1845c84b6c6c
* Version Independent ID: 1a3150b4-5eb9-0ac5-ee2b-d1bb6b6fd

[2022-06-10 10:56] v-missam commented on #91471
@darioporru @shashishailaj @twimmers @v-hgampala @Givary

I have updated the Prerequisites and Step 2 of this tutorials as per details found in Atlassian support documentation. The change should be live in next 48 hrs.

[2022-06-10 10:58] v-missam commented on #93647
@StefanieJaeger @jeevansd @twimmers @Givary @v-hgampala

I have updated the Prerequisites and Step 2 of this tutorials as per details found in Atlassian support documentation. The change should be live in next 48 hrs.

[2022-06-10 10:59] v-missam commented on #93105
@Cornbread3102 @JamesTran-MSFT @jeevansd @twimmers @v-hgampala

I have updated the Prerequisites and Step 2 of this tutorials as per details found in Atlassian support documentation. The change should be live in next 48 hrs.

[2022-06-10 12:06] 030 commented on #32886
I did the same, but then by using the az-cli.

[2022-06-10 12:39] GitaraniSharma-MSFT commented on #93957
@Nott6170 , We have assigned this to the content owner/author for review.

@asudbring , for your review.

[2022-06-10 12:44] ethanhou99 opened #94212 "How to import Powershell module (not DscResource) to the DSC script?"
Hi,

I'm trying to create a guest configuration to monitor if the VM enabled Windows defender realtimeMonitoring.

Here is my code:
[code]
However, while evaluating the compliance status the Get-GuestConfigurationPackageComplianceStatus command return following error:
[code]
So I tried to import Defender module since Get-MpComputerStatus is a command from Defender module.

However, either of the f

[2022-06-10 12:45] #94172 closed

[2022-06-10 13:01] MayankBargali-MSFT commented on #93956
@chaisen2006 Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-06-10 13:01] #93956 closed

[2022-06-10 13:23] budaesandrei opened #94213 "Page Outdated"
This page is a bit outdated. In the new Azure extension for Vscode, you don't have the option to create a new function from the Azure tab.

![image](https://user-images.githubusercontent.com/63400427/173074246-6dadddd2-6509-42f3-8c6e-62cf03ade09a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76840d73-f300-0ad5-b9

[2022-06-10 13:43] MonikaReddy-MSFT commented on #94160
@engwah - Can you please elaborate on which specific line of documentation are you referring this to?

[2022-06-10 13:43] DeanGross opened #94214 "Additional TI sources"
Please provide information about how we can use TI feeds from other sources

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1dcaaa43-666b-38eb-a95a-7fe2cd2b613b
* Version Independent ID: 49c83dd4-9de6-1827-cefa-6c6838ce280b
* Content: [Azure Firewall threat intelligence configuration](https://docs.microsoft.com/en-us/az

[2022-06-10 13:47] rgkey9000 opened #94215 "Role required for Temporary Access Pass"
I miss information regarding the required roll for a TAP

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f9558c0-abb6-24f8-81c8-9000b80539e8
* Version Independent ID: a4739135-863b-27bb-1f2e-cf297f21b4cc
* Content: [Least privileged roles by task - Azure Active Directory - Microsoft Entra](https://docs.microsoft.com/en

[2022-06-10 14:01] xmseraph opened #94216 "remote RT dotnet not match local dotnet-isolated"
Hi,
I got this error while i tried to deploy isolated process func into one of my func app:
The remote runtime "dotnet" for function app "rmbsfunc" does not match your local runtime "dotnet-isolated".

my question is how can i create func app of which the runtime is dotnet-isolated, when i tried to create one on azure portal, i didn't see .net(isolated) in runtime option.

---
#### Document Detail

[2022-06-10 14:18] Kunwilshire commented on #94184
https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-real-time-fraud-detection

This is the documentation that I am referencing. Thank you.

[2022-06-10 14:18] Kunwilshire commented on #94184
https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-real-time-fraud-detection

This is the documentation that I am referencing. Thank you.

[2022-06-10 14:22] lommez commented on #14596
That feature is available today in newer versions?
I need maxconcurrentcalls with different values per functions

[2022-06-10 14:26] ggailey777 commented on #94213
Thanks! We are working on updates. #assign:ggailey777

[2022-06-10 14:29] SadiqhAhmed-MSFT commented on #94020
@helderpinto The doc has been updated. Thanks once again bringing this to out attention.

Closing this thread for now.

[2022-06-10 14:29] #94020 closed

[2022-06-10 14:55] baanders commented on #94203
Hi @Wiiki0807! Could you clarify for me to make sure I understand the suggestion--

Are you suggesting we tell the reader to use their email instead of saying <your-Azure-account> in the command?

[2022-06-10 15:02] collinbarrett opened #94217 "Expand guidance on determining if tables are above/below 2GB threshhold (PDW_SHOWSPACEUSED)"
Could we provide more clarity on how to use `PDW_SHOWSPACEUSED` to determine if tables are under the below quoted guidance of 2GB? Ideally, could we document a single command that would list all tables that are greater than or less than this 2GB threshold so that the db developer could consider if `REPLICATE` makes sense for the tables? The raw output of `PDW_SHOWSPACEUSED` for a single table does

[2022-06-10 15:11] andyjballgit opened #94218 "userEmail field is missing from Log Analytics for Azure Bastion = microsoftazurebastionauditlogs"
[Enter feedback here]

this is really concerning below , but it has no github raise issue
https://docs.microsoft.com/en-us/azure/azure-monitor/reference/tables/microsoftazurebastionauditlogs?source=docs

Seems that userEmail field is not included when sent to Log Analytics as per above documentation, but IS included when sent to a Storage Account . Is that true / why is that ?

---
#### Document D

[2022-06-10 15:20] andshill7 opened #94219 "Error response from daemon: No such image: mcr.microsoft.com/azuredocs/azure-vote-front:v1"
Error response from daemon: No such image: mcr.microsoft.com/azuredocs/azure-vote-front:v1

This seems to happen because the image is a linux image and I am using a Windows server. no way to change the config to allow use of Linux images.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6afe8c14-efa4-31a6-9fd9-e68f2d8782

[2022-06-10 15:20] Givary commented on #94215
@rgkey9000 Thanks for your feedback. We will investigate and update as appropriate.

[2022-06-10 15:21] cgtheflash commented on #93973
The actual element itself is not working as described in the document. Rather than correcting the document, it would be great if the element could be fixed to work as the document describes.

[2022-06-10 15:31] JamesTran-MSFT commented on #94184
@Kunwilshire
Thank you for following up on this! I've assigned this issue to the appropriate team who will investigate and update as appropriate.

[2022-06-10 15:37] JamesTran-MSFT commented on #94208
@areels
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-06-10 15:39] JamesTran-MSFT commented on #94204
@fparpas
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-10 15:40] JamesTran-MSFT commented on #94209
@paulspinkstr
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-10 16:21] JamesTran-MSFT commented on #94210
@sadiqkhoja
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-10 16:50] #93123 closed

[2022-06-10 16:50] ChaitanyaNaykodi-MSFT commented on #94218
Thank you for your feedback! We will review and update as appropriate.

[2022-06-10 16:53] DerekHerman-MSFT commented on #93205
The purpose is to make the NFS server highly available. I believe this is mentioned in the article. If you feel there is some wording that needs to be updated please let us know and we can work with the author to make those changes.

[2022-06-10 16:53] #93205 closed

[2022-06-10 16:56] KranthiPakala-MSFT commented on #94217
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-06-10 17:17] ecfan commented on #93994
Hi @abatishchev,

The template gallery is simply unavailable for Standard logic apps. The underlying architecture and design fundamentally differ between Consumption logic apps and Standard logic apps. The second logic app type is hosted on a different runtime that's based on the Azure Functions runtime. For more info, please review [Single-tenant versus multi-tenant and integration service enviro

[2022-06-10 17:22] WilliamDAssafMSFT commented on #94217
Thanks @collinbarrett for contacting Microsoft with feedback about our product documentation. It could take from a few business days to a few weeks to look further into this with the product group and decide on how to address. We'll contact you if we need further information, and you'll receive an email message each time we mention you in a comment.

Thanks again for this feedback, your suggestion

[2022-06-10 17:25] ChaitanyaNaykodi-MSFT commented on #93926
Hello @jeevanions, Thank you for your feedback. I have made a PR to address this issue and it is currently under doc author's review. We will now proceed to close this issue out, please tag me in your response if you have any additional questions. Thank you!

[2022-06-10 17:25] #93926 closed

[2022-06-10 17:32] rrmistry opened #94224 "[Issue] no matches for kind "GMSACredentialSpec" in version "windows.k8s.io/v1alpha1""
This was working before, but as of today it seems we cannot create the `GMSACredentialSpec` type resource.

The error we are seeing is on AKS with K8s version `1.22.6` for service plane and node pools:

[code]

We cannot figure out if this is an issue with AKS or with recent changes to `windows.k8s.io/v1alpha1` API.

The same was working on AKS with K8s `1.22.6` few days ago for `windows.k8s.io/v1

[2022-06-10 17:33] rrmistry commented on #94224
Tagging @VikasPullagura-MSFT as someone who can assign this issue to the correct teams.

[2022-06-10 17:36] kobulloc-MSFT commented on #94043
@robwafle Thank you very much for bringing this to our attention.  Tresor should not be included in the list of alternatives and a PR is being created to correct this.

[2022-06-10 17:44] #93679 closed

[2022-06-10 17:59] abatishchev commented on #93994
Thanks for the explanation! Yes, please update the docs to make the difference/purpose more clear.

[2022-06-10 17:59] #93994 closed

[2022-06-10 18:01] cregnier opened #94226 "Bitnami Redis Cache Version"
There needs to be a purple box warning for the Charts.yaml file that for the Redis cache version line that the current version is 16.x.x per this document and that you need to change it to match.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27400039-49fa-5c04-b273-fd663eb82bc0
* Version Independent ID: 6f51e57e-dcfc-

[2022-06-10 18:05] cregnier opened #94227 "Couple Steps Missing between Charts.yaml and the Helm Dependency Update"
For the step that states update Charts.yaml - you should mention using vi or nano to complete the text file update and that you have to "cd" into that directory.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27400039-49fa-5c04-b273-fd663eb82bc0
* Version Independent ID: 6f51e57e-dcfc-3fcf-c2b1-ec0f39ab93c4
* Content:

[2022-06-10 18:21] SatishBoddu-MSFT commented on #94039
@TahaMdarhriExakis Thanks for the confirmation, we are looking into this.

[2022-06-10 18:32] #94204 closed

[2022-06-10 18:38] zachgreen opened #94228 "Incorrect Syntax on Dynamic data masking doc"
The syntax for step 9 in Granular permission example is not valid

<img width="361" alt="image" src="https://user-images.githubusercontent.com/1130739/173129589-8da483ca-d018-4a4f-8e76-d30a9cc6a4e3.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46d10c12-b07b-1541-0aa4-5f9336f81fab
* Version Independent ID: e5d0e4

[2022-06-10 18:38] cebundy commented on #93840
Closing the issue.  Please feel free to reopen the issue if you still encounter this problem.
#please-close

[2022-06-10 18:38] #93840 closed

[2022-06-10 18:40] MarcosMMartinez opened #94229 "FAQ needs revision: Can I assign Pod subnets from a different VNet altogether"
**_Can I assign Pod subnets from a different VNet altogether?_**

**_The pod subnet should be from the same VNet as the cluster._**

There seems to be gray area in this answer. Is it feasible or not? Caveats? Performance trade-offs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37ba0343-7e43-6e2e-e564-5d3a0f523a75
* V

[2022-06-10 18:40] #94228 closed

[2022-06-10 18:40] zachgreen commented on #94228
I was using incompatible version.

[2022-06-10 18:43] mike-urnun-msft commented on #94216
Thank you for your feedback! We will review and update as appropriate.

[2022-06-10 18:59] GeethaThatipatri-MSFT commented on #93987
@kabharati Can you please provide your inputs here.

[2022-06-10 19:05] msmbaldwin commented on #93405
Hi, @BRGLLCIT. I updated the [Establish a private link connection to an existing key vault](https://docs.microsoft.com/en-us/azure/key-vault/general/private-link-service?tabs=portal#establish-a-private-link-connection-to-an-existing-key-vault) section to include all the steps, up to an including the creation of the Private Link.  Thanks for your feedback!  #please-close

[2022-06-10 19:05] #93405 closed

[2022-06-10 19:11] kabharati commented on #93987
I did discuss this with Ayaan and will bring it up with AAD engineering team. Will update you next week

[2022-06-10 19:16] GeethaThatipatri-MSFT commented on #93987
Thanks, @kabharati for discussing this issue.
@Ayanmullick We will proceed to close this issue now.
If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2022-06-10 19:16] #93987 closed

[2022-06-10 19:47] davidsmatlak commented on #93973
#assign:davidsmatlak

[2022-06-10 19:50] davidsmatlak commented on #93973
#reassign:davidsmatlak

[2022-06-10 19:52] MarkusVi commented on #89272
Hi @jeffmparker, your scenario is covered in the  [Sign-ins using legacy authentication workbook](https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/workbook-legacy%20authentication).

[2022-06-10 19:52] MarkusVi commented on #89272
#please-close

[2022-06-10 19:52] #89272 closed

[2022-06-10 20:05] xperiandri opened #94230 "[SaaS Webhook] Info about reinstate event given twice in different format"
What is the correct one?
![image](https://user-images.githubusercontent.com/2365592/173142432-93169fa6-1213-41fd-8ce8-e0ff556e8472.png)

![image](https://user-images.githubusercontent.com/2365592/173142519-a37bfe50-53bb-4ae8-8f9f-b686d7ac3dfb.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94571708-c2f3-e6ff-c455-3

[2022-06-10 20:10] JamesTran-MSFT commented on #94212
@ethanhou99
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-10 20:21] broheem opened #94231 "Typos in infographic"
In the infographic near the top of the document, there are multiple typos.

1. At the top tier, it says Migration Consierations instead of Migration Considerations
2. Below this tier, it says Plan for Implmentation instead of Plan for Implementation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57bc474a-a353-984d-3440

[2022-06-10 20:36] sarthak-git opened #94232 "Incorrect Azure Subscription onboarding instructions"
[Enter feedback here]
once CloudKnox or Entra CPM is enabled and you go to Data Collectors settings and Create a new configuration
there is no option to choose a subscription or management group . "Instead you get Auto or Mannual "
![image](https://user-images.githubusercontent.com/48988578/173146446-10509110-85aa-4b1b-a1b5-685cd7345eba.png)

---
#### Document Details

⚠ *Do not edit this section.

[2022-06-10 20:38] davidsmatlak commented on #93973
@cgtheflash Thanks for reporting the issue with the [VNetCombo UI](https://docs.microsoft.com/azure/azure-resource-manager/managed-applications/microsoft-network-virtualnetworkcombo) element. If this issue is blocking a deployment you might want to contact support to see if there's a workaround. This issue queue is for documentation.

I tested the VNetCombo element using the [Create UI definition

[2022-06-10 20:44] xperiandri opened #94234 "[SaaS Webhook] What is `OperationRequestSource`?"
Explain what is `OperationRequestSource` and what are possible values
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94571708-c2f3-e6ff-c455-3a37b42c23a0
* Version Independent ID: eb2b45a6-7996-3eaa-1f86-4aafcf40290c
* Content: [Implementing a webhook on the SaaS service](https://docs.microsoft.com/en-us/azure/marketpla

[2022-06-10 20:48] JamesTran-MSFT commented on #94231
@broheem
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-10 20:58] DouglasKSmith opened #94235 ""Soon retries will not be supported for function" warning"
When I run my Azure Functions locally, I get the following warning for any functions decorated with [`ExponentialBackoffRetry`](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-error-pages?tabs=csharp#exponential-backoff-retry):

However, I cannot find any information about retries being retired on this page. Is the warning incorrect, or is the page not updated?

---
####

[2022-06-10 21:01] JamesTran-MSFT commented on #94232
@sarthak-git
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

I ran into the same issue at Step 1.2 - the previous step mentions "enter the Subscription IDs that you want to onboard" and goes straight to the Scope dropdown, which I wasn't able to find even after selecting "Next".
![image](https://user-images.githubusercontent.com/366

[2022-06-10 21:16] TheSaltyKorean opened #94236 "Quota limit not mentioned"
Quota limit needs to be mentioned, which I was just informed is 16.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 214d459e-48c9-9a8f-65f0-0febb5c5b215
* Version Independent ID: e0ad25f2-56c2-db86-1919-52dcfea33e4c
* Content: [M-series - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/m-

[2022-06-10 21:57] DerekHerman-MSFT commented on #93907
@[jks05c](https://github.com/jks05c)
Unfortunately this issue bucket is for documentation feedback and we generally do not comment on this public forum whether or not items are on the roadmap. I recommend submitting your feedback here. This is monitored and followed up by the service team.
https://feedback.azure.com/d365community

[2022-06-10 21:57] #93907 closed

[2022-06-10 21:59] JamesTran-MSFT commented on #94175
@NickDorak
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-06-10 22:01] PingPongSet opened #94238 "[Questions] Requests Always served by Same VM. NAT Gateway redundant?"
I have questions about this supposed to be a simple demo article.

Question 1
The same VM always serve the requests. I have to stop it, then the other VM returns the request. Any idea why?

Question 2
By default, all outbound requests are allowed within a subnet, why is the NAT Gateway introduced given this article should be made simple to read instead of a complicated one?

This article could hav

[2022-06-10 22:06] kobulloc-MSFT commented on #94236
@TheSaltyKorean Thank you for your feedback!  We are reviewing the documentation and will get back to you shortly.

[2022-06-10 22:08] JamesTran-MSFT commented on #94231
@broheem
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[Migration process flow:](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/migrate-from-federation-to-cloud-authentication#migration-process-flow)
![image](https://user-images.githubusercontent.com/36619112/173156942-47b04c3c-f5cb-461b-8d85-dcbf3e22a725.png)

[2022-06-10 22:42] cgtheflash commented on #93973
Thanks for the update. It's not preventing a deployment, I did however opt
to utilize text box elements instead for the time being. My apologies for
posting this under the documentation queue.

On Fri, Jun 10, 2022, 4:38 PM David Smatlak ***@***.***>
wrote:

[2022-06-10 22:53] w-azure commented on #88218
Thanks @onderyildirim for your feedback. The `nanocpus` is a good call, this will be simpler. We will update the documentation. You can see this published in the next 24 hours. Closing this issue, but feel free to reopen it if there is a need to continue the discussion. Thanks again.

[2022-06-10 22:53] w-azure commented on #88218
#please-close

[2022-06-10 22:53] #88218 closed

[2022-06-10 23:05] BryanTrach-MSFT commented on #93937
@robertiansweetman Thank you for the additional details. We have assigned a Terraform doc author to your feedback to have them review this and see if this is something they can take on. We appreciate the feedback you provided.

[2022-06-10 23:30] BryanTrach-MSFT commented on #93921
@dougclutter Thank you for sharing this feedback. After review, this information does not appear to be available in any other document as well so we have assigned this issue to the doc author to determine if clarity can be added around the life cycle of using preview environments.

[2022-06-10 23:32] ChaitanyaNaykodi-MSFT commented on #94029
Hello @shankyps, I could not reproduce the issue mentioned above. I was able to create private endpoint connection for the web app.
As we primarily use this channel for documentation enhancement/bugs and your question is towards troubleshooting, it will be helpful if you could create a thread on our [Microsoft Q&A forum](https://docs.microsoft.com/en-us/answers/products/)

 Please tag me in your r

[2022-06-10 23:32] #94029 closed

[2022-06-10 23:46] cebundy commented on #94202
#assign:cebundy

[2022-06-10 23:46] kobulloc-MSFT commented on #94229
@MarcosMMartinez Thank you for your question!  We are reviewing the documentation and will get back to you shortly.

[2022-06-10 23:48] JamesTran-MSFT commented on #94226
@cregnier
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-10 23:52] kobulloc-MSFT commented on #94227
@cregnier Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-06-10 23:52] Karishma-Tiwari-MSFT commented on #94228
Thanks for sharing the update. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-06-10 23:52] trwhitcomb opened #94242 "Static public IP address AKS ingress documentation does not route static requests"
This page describes the use of two different Services - however, if the directions are followed exactly, the image and favicon does not show.  The specification of the Ingress is missing the component required to route requests for static resources and should be taken from:

https://docs.microsoft.com/en-us/azure/aks/ingress-tls?tabs=azure-cli#create-an-ingress-route

Adding the hello-world-ingres

[2022-06-10 23:58] JamesTran-MSFT commented on #94230
@xperiandri
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-11 00:02] JamesTran-MSFT commented on #94234
@xperiandri
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-11 00:03] JamesTran-MSFT commented on #94235
@DouglasKSmith
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-11 00:04] JamesTran-MSFT commented on #94238
@PingPongSet
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-11 00:05] JamesTran-MSFT commented on #94242
@trwhitcomb
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-11 00:28] dougclutter commented on #93921
@BryanTrach-MSFT Glad to help.

[2022-06-11 00:37] rachelxj-ms commented on #93950
@JananiRamesh-MSFT either we need deploy the template twice for new APIM instance, or we need add note and let customer know the first step must run against an existing APIM

[2022-06-11 00:54] lrtoyou1223 commented on #89920
This is a known issue; we do have plan to change the FQDN to specific factory name which can solve it. The tentative ETA is Q4 this year.

[2022-06-11 02:45] ethanhou99 commented on #94212
Hi @JamesTran-MSFT ,

Thanks for the reply!

I'd like to provide you more information here:

I'm using PowerShell 7.1.3, my DSC script worked well and error only happened after the command `Get-GuestConfigurationPackageComplianceStatus`, so I think the problem is because of guest configuration instead of DSC.

[2022-06-11 03:24] #93185 closed

[2022-06-11 03:27] BryanTrach-MSFT commented on #93185
@sidkri Thank you for bringing this up. We went ahead and made a doc edit and rather than write something new, we used your wording as often times customers can bring the clarity needed.

[2022-06-11 04:21] Jenny-Chiu opened #94244 "Change Azure subscription or account ownership features are retired from EA Portal"
[Enter feedback here]
Hello Team,

We checked with Commerce Customer Engagement and Enablement (CCEE) team via the ADO ticket:https://msazure.visualstudio.com/Azure%20Ops/_workitems/edit/14689096, they confirmed the "Change Azure subscription or account ownership" features are retired from EA Portal. Would you please help to revise the content? Thank you.

BR
Jenny
---
#### Document Details

⚠ *Do

[2022-06-11 04:46] abatishchev opened #94245 "Logic Apps Single-tenant aka Standard does support deployment using ARM templates"
I find section [Create, build, and deploy options](https://docs.microsoft.com/en-us/azure/logic-apps/single-tenant-overview-compare#create-build-and-deploy-options ) confusing, it may deter potential customers as lists too few options to deploy Single-tenant environment aka Standard sku Logic Apps.

Namely, they [do support](https://github.com/Azure/logicapps/blob/master/azure-devops-sample/deploy

[2022-06-11 10:45] ramepetla commented on #93205
@DerekHerman-MSFT  But as per my understanding NFS Service should be controlled by Pacemaker but not by the System Daemon. As per doc, NFS service is up and running on both nodes where it is supposed be active only on one node.

[2022-06-11 11:55] MayankBargali-MSFT commented on #94244
@Jenny-Chiu Thank you for your feedback! We will review and update as appropriate.

[2022-06-11 11:56] MayankBargali-MSFT commented on #94245
@abatishchev Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-11 12:15] shweta5595 opened #94247 "Misleading client secret format under 'Authenticate with the service principal' section"
[Enter feedback here]
Under section **Authenticate with the service principal** , the password for docker login is a client secret value and not secret Id .
The client secret value is not necessarily of the format xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx .

"Each value has the format xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx" , This line is misleading as the secret Id is of this format .
It can be removed

[2022-06-11 12:54] tomasherceg opened #94248 "Invalid sample of the `ingress-demo.yaml` file"
The sample file `ingress-demo.yaml` contains the same code as the previous code sample on the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 597ba957-9501-5919-73a0-6d47b1ca2c6d
* Version Independent ID: 6345fa19-b3f2-ffd6-f526-908f845b51f6
* Content: [Use your TLS certificates for ingress - Azure Kubernetes Serv

[2022-06-11 12:59] tomasherceg commented on #94248
Many apologies. Please ignore the issue - the code sample is correct.

[2022-06-11 12:59] #94248 closed

[2022-06-11 13:06] abbgrade opened #94249 "Get Bearer with Secret from Key Vault"
How would the solution look like, if the Service Principal Token is stored in a Azure Key Vault instead having it hard coded or as global variable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d9fd1db-042c-5f44-ee84-f1a9386fb3e3
* Version Independent ID: 81cb2e37-a80c-a48a-68bd-1a03499119a7
* Content: [Copy data fro

[2022-06-11 13:13] rrmistry commented on #94224
This issue can be closed. The problem was human error.

We had recently transitioned the Azure CLI commands on the documentation to Terraform and missed the step needed to add the `GMSACredentialSpec` Custom Resource Definition in Kubernetes using the Azure CLI Command:

[code]

We are now waiting for issue https://github.com/hashicorp/terraform-provider-azurerm/issues/16386 and PR https://github.

[2022-06-11 13:13] #94224 closed

[2022-06-11 15:37] albertoRamon opened #94252 "PrivateEndpointNetworkPolicies vs "Enable network policies for all private endpoints in this subnet"""
Hello in this [manual ](https://docs.microsoft.com/en-us/azure/private-link/disable-private-endpoint-network-policy) you talk about one property called "PrivateEndpointNetworkPolicies " at SNet Level

But when you created a New Private Endpoint, recently this option has been added: "Enable network policies for all private endpoints in this subnet"

Looks like both are the same ? but isn't
Can you

[2022-06-11 16:09] JamesTran-MSFT commented on #94247
@shweta5595
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-11 16:16] kobulloc-MSFT commented on #94248
@tomasherceg Thank you very much for following up!

[2022-06-11 16:17] markshearing opened #94253 "Schema cross-referencing another schema that is added to the API Management instance."
[Enter feedback here]

I know how to reference schemas within a local schema how do I reference the schemas I have added to API Management from within another schema (so that I can refer to a common definition across API Management)?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6696a2f-0437-5238-0032-3933

[2022-06-11 16:19] JamesTran-MSFT commented on #94249
@abbgrade
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-11 16:20] JamesTran-MSFT commented on #94252
@albertoRamon
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-11 16:20] JamesTran-MSFT commented on #94253
@markshearing
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-11 16:30] dennischavez789 opened #94254 "Azure Windows VM Sign-In app - Government tenant"
It says "exclude the Azure Windows VM Sign-In app from your Conditional Access policy" under the "Azure AD joined session host VMs" section,
This application is currently not showing in the government tenant.
However, a PowerShell workaround can add it to the Conditional Access Portal in Gov.

1. Connect-AzureAD -AzureEnvironmentName AzureUSGovernment

2. New-AzureADServicePrincipal -AppId '372140

[2022-06-11 16:32] djadame opened #94255 "bruce"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32f33bd6-2487-d3fa-6d83-bbbe8bf4959e
* Version Independent ID: dc6ceeab-09e0-4a51-d36b-a9a8e0527492
* Content: [Understand Azure Active Directory role concepts - Microsoft Entra](https://docs.microsoft.com/en-us/azure/active-directory/roles/concept-un

[2022-06-11 16:33] kobulloc-MSFT commented on #94254
@dennischavez789 Thank you for the feedback and observations using a government tenant.  We've assigned this to the document author for further review.

[2022-06-11 17:32] kobulloc-MSFT commented on #94043
@robwafle Thank you again for bringing this to our attention!  The documentation has been updated and we are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-06-11 17:32] #94043 closed

[2022-06-11 17:37] kobulloc-MSFT commented on #93904
@JeffSmalley There is currently a mix of default Overprovisioning values depending on how the VM Scale Set is deployed due to product updates.  We are reviewing this and should have either a product update or a documentation update in the near future.

[2022-06-11 18:09] kobulloc-MSFT commented on #94236
@TheSaltyKorean VM quotas will depend on your subscription, and you can check this during deployment in the portal.  You can also check this in a command line by using [`az vm list-usage`](https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest#az-vm-list-usage) in Azure CLI or [`Get-AzVMUsage`](https://docs.microsoft.com/en-us/powershell/module/az.compute/get-azvmusage?view=azps-8.0.0

[2022-06-11 18:12] kobulloc-MSFT commented on #94236
@TheSaltyKorean We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-06-11 18:12] #94236 closed

[2022-06-11 19:12] seesharprun commented on #94141
#assign:seesharprun

In this demo, the ``CosmosDbService`` class takes in the name of a database and the name of a container as constructor parameters. If you want to query a different container, you can create a new instance of the class pointing to the second container.

Queries in Azure Cosmso DB SQL API are scoped to a single container. If you have more questions about data design, queries wit

[2022-06-11 19:12] #94141 closed

[2022-06-11 23:10] mike-urnun-msft commented on #93917
Hello @nik-app - Thank you for reporting this issue. I was able to reproduce the error and fix the doc. The `:production` part of the `npm run build:production` command appears to be an invalid syntax, per: https://docs.npmjs.com/cli/v8/commands/npm-run-script, and the goal of the step is to invoke `tcs` command which builds your TypeScript artifact so it's important that you also have the package

[2022-06-11 23:10] #93917 closed

[2022-06-11 23:36] JamesTran-MSFT commented on #94255
@djadame
Thank you for opening a GitHub issue! To gain a better understanding of your issue, can you share some more details regarding what you'd like updated in our docs?

[2022-06-12 01:49] wcom939 opened #94256 "Helm chart command to create ingress controller fails in new AKS internal cluster"
The helm chart command results in the following error on a new internal AKS cluster:

Error: INSTALLATION FAILED: rendered manifests contain a resource that already exists. Unable to continue with install: IngressClass "nginx" in namespace "" exists and cannot be imported into the current release: invalid ownership metadata; label validation error: missing key "app.kubernetes.io/managed-by": must

[2022-06-12 02:03] wcom939 commented on #94256
Fixed it by adding --set controller.ingressClassResource.name=nginx2

Looks like they dont want people using nginx as the type anymore, you'll need to update the doc accordingly

[2022-06-12 02:17] #94035 closed

[2022-06-12 02:24] BryanTrach-MSFT commented on #94035
@atsushinak Thank you for the feedback and request for clarification.

Your understanding is correct that any domain owned by Microsoft such as *.azurewebsites.net, *appserviceenvironment.net, p.azurewebsites.net, etc. and their respective SSL/TLS certificates are managed and rotated by Microsoft and do not require action on behalf of the customer.

As a result, we added an update to the document

[2022-06-12 02:38] Strahosi opened #94257 "Create a profile container with Azure Files and Azure Active Directory - Method not allowed"
Hello,
Following the [https://docs.microsoft.com/en-us/azure/virtual-desktop/create-profile-container-azure-ad](url)
and when executing the script for this step
* Set the password for the storage account's service principal by running the following cmdlets.
I am receiving method not allowed.
System.Net.WebException: The remote server returned an error: (405) Method Not Allowed.
   at Microsoft.Pow

[2022-06-12 03:12] ameetkonnur opened #94258 "extension type microsoft.dapr is not registered in region centralindia"
When we try to create the extension using az k8s-extension create gives the below error.
"extension type microsoft.dapr is not registered in region centralindia"

My AKS cluster is in CentralIndia and i have both the resource Providers Microsoft.KubernetesConfiguration & Microsoft.Kubernetes registered.
Attached screen shot of the error that we receive.

---
#### Document Details

⚠ *Do not edit t

[2022-06-12 03:16] #94107 closed

[2022-06-12 03:20] rarandiv opened #94259 "add additional information or correct the information in the doc about how to create Private DNS Zone for PostgreSQL Flexible server"
I was creating a PostgreSQL Flexible server with private DNS

In the portal under the networking section, we have an option private access and private DNS Integration

I have created a private DNS first, however, the private DNS was not populating in the drop down which was created

After investigating an issue, I found while creating a DNS it should have the proper naming convention like 'ANYNAME

[2022-06-12 04:28] GeethaThatipatri-MSFT commented on #94259
Hi @rarandiv Thanks for your findings,We will investigate and update as appropriate

[2022-06-12 06:05] Eitan-Shteinberg commented on #93717
Hi Daniel,

Defender for Storage does not scan blobs or files. It compares the hash value of the file/blob within the storage transaction with known malicious hash values (signatures) and alerts when the file/blob is suspected to be malicious. As the documentation states, some operation types do not contain the hash value in the storage transaction, such as PutBlock and PutBlockList. The SMB (Serv

[2022-06-12 06:49] guywi-ms commented on #93920
@hanausa Thanks for your dedication to our documentation! Our localization team is now working on resolving the issue. We are closing this GitHub issue for now, but feel free to comment here as necessary. #please-close

[2022-06-12 06:49] #93920 closed

[2022-06-12 07:03] batamig commented on #94050
Hi @dneto82, thanks for writing into docs! I'm tagging the latest content owner. @cwatson-cat, can you take a look?

[2022-06-12 09:27] lduczmal opened #94260 "Errors in columns "Import" and "Export" of table "Data transfer errors""
It looks like there is an error in table "Data transfer errors" i columns "Import" and "Export" - on examples of copy log from import job there are following Errors: ShareRenamed, ContainerRenamed but in the table there is "No" in column Import for this errors.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0150fe62-c1

[2022-06-12 10:22] #93822 closed

[2022-06-12 12:08] youkhi opened #94261 "Connecting vpn sites to vhub step is missing"
Team,

I believe there should be connecting vpn sites to vhub step between '2. Create Virtual WAN VPN sites' and '3. Download the VPN configuration files'.

Best,
Youkhi.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 124ec59c-bf0d-50e1-8972-63ebb8870302
* Version Independent ID: 025b232f-8fc9-0a2a-3220-a646866b4bbc
*

[2022-06-12 12:32] bmansheim commented on #93717
#please-close

[2022-06-12 12:32] #93717 closed

[2022-06-12 13:49] MayankBargali-MSFT commented on #94256
@wcom939 Thank you for your feedback! We will review and update as appropriate.

[2022-06-12 13:52] MayankBargali-MSFT commented on #94257
@Strahosi Thank you for your feedback! We will review and update as appropriate.

[2022-06-12 13:53] MayankBargali-MSFT commented on #94258
@ameetkonnur Thank you for your feedback! We will review and update as appropriate.

[2022-06-12 13:56] MayankBargali-MSFT commented on #94261
@youkhi Thank you for your feedback! We will review and update as appropriate.

[2022-06-12 13:57] MayankBargali-MSFT commented on #94260
@lduczmal Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-12 15:03] joniba opened #94262 "aks provisioning fails"
The line `az aks create --resource-group myResourceGroup --name myAKSCluster --node-count 1 --enable-addons monitoring --generate-ssh-keys` fails with error:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6abc877-3392-fdc7-5897-dcbf160b5d5a
* Version Independent ID: 214faee1-d559-8525-f8ab-47f06ee0c8e8
* Conte

[2022-06-12 15:15] JamesTran-MSFT commented on #94262
@joniba
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-12 15:31] vladkasianenko opened #94263 "AADSTS1000104 - add description"
Please, add description for this error:
AADSTS1000104: Resource cloud partner.microsoftonline.cn is not allowed on identity tenant <tenant-id>.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a826ee6f-f457-7109-9f77-67c57977d4e7
* Version Independent ID: 11766f27-492e-a579-dced-8a42528cbb47
* Content: [Azure AD authenti

[2022-06-12 15:33] JamesTran-MSFT commented on #94263
@vladkasianenko
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-06-12 18:06] xtianus79 opened #94264 "Azure B2C Customization - Change “Sign in with your Social Account” Placement."
Oddly, when creating the custom login we want the sign in with the social accounts on the bottom and for some reason they're being forced to the top.

We don't understand what is doing that how to stop it.

The default is correct. However, any customization does this. even in this article he is showing it and it doesn't make sense.

https://dev.to/425show/customize-the-look-and-feel-of-your-azure-

[2022-06-12 18:39] RyanHill-MSFT commented on #90891
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-06-12 18:39] #90891 closed

[2022-06-12 18:54] AjayKumar-MSFT commented on #94030
sayedimac, I have assigned the issue to the content author to review further and update the document as appropriate. Thanks again for your feedback!

[2022-06-12 19:19] GennadNY commented on #94259
Hello @rarandiv . There is a section called Using Private DNS Zone in networking concepts doc - https://docs.microsoft.com/en-us/azure/postgresql/flexible-server/concepts-networking that states
"If you use an Azure API, an Azure Resource Manager template (ARM template), or Terraform, **create private DNS zones that end with .postgres.database.azure.com.** Use those zones while configuring flexible

[2022-06-12 19:25] mike-urnun-msft commented on #94235
Hi @DouglasKSmith - Thank you for your feedback. This doc was updated shortly after you opened this issue. Specifically, the following note might provide clarity for your questions:

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-06-12 19:25] #94235 closed

[2022-06-12 19:43] ag-michael commented on #23238
@mimckitt Please reopen this, it is still undocumented.

[2022-06-12 19:51] mike-urnun-msft commented on #93747
Hi @Alex-Boo - Thank you for your feedback. This doc is now updated to provide guidance on GA status as well as more clarity on exactly when to use this feature depending on which extensions your app is set up with.

For questions concerning isolated mode & specific implementation details, please post on [MS Q&A channels](https://docs.microsoft.com/en-us/answers/index.html) with more details about