[2020-07-08 07:25] tjav opened #58620 "This command has been deprecated and will be removed in a future release. Use 'network watcher flow-log create' instead."
[Enter feedback here]
Hi,

Could we replace the **az network watcher flow-log configure** with **create** . seems like the command is deprecated and with this command it is not possible to turn on traffic analytics.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0773423-791e-8a7d-d27c-1ca90ba60d7c
* Version Independen

[2020-07-08 07:27] shashishailaj commented on #58617
@dc-isafonov Thank you for your inputs . We will engage the content authors on this to see how best this can be incorporated in the document .

[2020-07-08 07:30] bandersmsft commented on #58373
@Rinshad Hi there. There are about 100 different Azure services, so not all of their billable meters are documented by Cost Management.

To see Azure Storage bandwith costs, in Cost Management, add a filter for **Meter category** then choose **storage**. Add another filter for **meter subcategory** then choose **bandwidth**.

To view costs in a tabular format, in the default Cost Management view,

[2020-07-08 07:30] shashishailaj commented on #58616
@dc-isafonov Thank you for sharing your thoughts on this. We are engaging the content authors in order to improve the documentation as needed.

Thank you.

[2020-07-08 07:31] BASFmthibodeaux commented on #58454
@memildin thanks for the quick response and clear understanding of what this is about.

[2020-07-08 07:33] shashishailaj commented on #58611
@jachin84 Thank you for your feedback . We will engage the content team to review your suggestions and see how best the clarifications can be added about wildcard certs as suggested in the current document.

[2020-07-08 07:36] shashishailaj commented on #58620
@tjav Thank you for your feedback . We will investigate this and update the thread.

[2020-07-08 07:41] slawekww commented on #58550
Hi, I share affinity rule in k8s manifest which may work - tested and it has worked so far:

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
      - matchExpressions:
        - key: failure-domain.beta.kubernetes.io/zone
          operator: In
          values:
          - westeurope-1

[2020-07-08 07:43] shashishailaj commented on #58614
@Prabhakar96-dev We will investigate and update the thread.

[2020-07-08 07:43] raghrv opened #58621 "There is no documentation on accessing this api programatically and access required for calling these API. Would really help with try it option"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5205150-d00d-725a-4fb7-f0d111b50574
* Version Independent ID: 93e72498-45c7-3277-6f3f-c08b3c7f7ce4
* Content: [Understand Azure reservations usage for Enterprise Agreements](https://docs.microsoft.com/en-us/azure/cost-management-billing/reservations/

[2020-07-08 08:07] imabedalghafer commented on #58423
@iainfoulds
Would you please let us know your input on this point ?

Thank you
Ibrahim Abedalghafer

[2020-07-08 08:08] PiotrPerak commented on #51138
I also get the same error.
If I changed this line to specify 6 days timespan then it works.
`UserDelegationKey key = await blobClient.GetUserDelegationKeyAsync(DateTimeOffset.UtcNow, DateTimeOffset.UtcNow.AddDays(6));
`

But why does it work on Azure with 7 days timespan like shown in documentation?

Look at the discussion here:
https://stackoverflow.com/questions/62778006/generate-user-delegation

[2020-07-08 08:09] OregonWebSells commented on #58423
Hi Thanks

[2020-07-08 08:26] foramkumar-parekh commented on #58361
@amanmcse
I tried your solution to get the UPN, but i was not able to get the email field as suggested.

Please find below the decoded token for more details.

  "exp": 1594200150,
  "nbf": 1594196550,
  "ver": "1.0",
  "iss": "https://b2ctenant.b2clogin.com/xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxx/v2.0/",
  "sub": "xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxx",
  "aud": "xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxx",
  "acr": "b2c

[2020-07-08 08:27] andyturn31 commented on #58362
Hi, is there any feedback from the engineering team yet?

[2020-07-08 08:29] OregonWebSells commented on #58361
Thanks

[2020-07-08 08:31] vipulsparsh commented on #58271
@break9111  Apologies for the delay. I was actually testing this out.  So bottom line is : If the Resource owner tenant has MFA configured for B2B users, it will ask for MFA no matter what.

So even if a user has registered the MFA and completed the MFA for some App in home tenant, if they are going to the resource for the Inviting tenant, they will be asked for MFA (in inviting tenant again.)  It

[2020-07-08 08:32] vipulsparsh commented on #57821
@sadika9  Let me know if you got a chance to test on this again. Do let us know the outcome. We can then engage accordingly.

[2020-07-08 08:46] sadika9 commented on #57821
@vipulsparsh sorry for the delay. I just tested it working without an issue. I think last time I didn't request token for my app ID.
Thank you

[2020-07-08 08:51] vipulsparsh commented on #58439
@RayBrindley  Yes, Ideally if the Inviting tenant blocks your sign in, you will not be able to sign into any of their resources. So you would not be able to leave the organization. You would still be able to use all the services within your tenant.

If the services belong to inviting tenant, you would see that profile locked message. Can you help us understand if you are getting prevented from log

[2020-07-08 08:52] AjayKumar-MSFT commented on #58097
Upon checking further, we have assigned the issue to the content author to review further and update the document as appropriate.

[2020-07-08 08:54] AjayKumar-MSFT commented on #58443
@JoseFMP,  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2020-07-08 08:54] #58443 closed

[2020-07-08 08:56] AjayKumar-MSFT commented on #58444
@JoseFMP,  Just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue or is good to be closed.

[2020-07-08 08:59] vipulsparsh commented on #57821
@sadika9 Thanks for confirming. We will be closing this now. Feel free to reach out to us for any related questions.

[2020-07-08 08:59] #57821 closed

[2020-07-08 09:01] AjayKumar-MSFT commented on #58457
Thanks for sharing additional details, @rachelxj-ms. Your feedback has been shared with the content owner (@mattchenderson) for further review.
@mattchenderson, Requesting your comments on this.

[2020-07-08 09:06] memildin commented on #58617
#reassign:bwren

[2020-07-08 09:08] jessedavidsmit opened #58624 "Incorrect connection string"
The section that displays the JSON on how to use sql server authentication is incorrect. The below connection string does not work using ARM templates.

{
    "name": "AzureSqlDbLinkedService",
    "properties": {
        "type": "AzureSqlDatabase",
        "typeProperties": {
            "connectionString": "Server=tcp:< servername >.database.windows.net,1433;Database=< databasename >;User ID=< u

[2020-07-08 09:11] Larryngolog opened #58625 "List of attributes stored in US"
Hello

Can we please get a complete list of user attributes stored in US with description what they contain? This is necessary for compliance processes. Currently article describes only data stores and event types but not what specific information is stored.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba59950e-72c3-

[2020-07-08 09:11] collers opened #58626 "Virtual Network Peering documentation out of date"
Docs seems to say go to both ends of the Peering and add, where as it now does both ends in one page.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b68f2c4-bb6c-11a2-6c61-8af4057a2438
* Version Independent ID: e3498bed-1447-6841-8353-9f1b5d3dc8df
* Content: [Create a private Azure Kubernetes Service cluster - Azure K

[2020-07-08 09:18] Prabhakar96-dev commented on #58400
@souravmishra-msft  Thank you, Can I change the **privacy statement ** on the footer.

[2020-07-08 09:19] vipulsparsh commented on #58524
@AmitavaHazra Thanks for your feedback.
Azure AD does support urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport
You can also reference this article https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-fed-saml-idp

[2020-07-08 09:20] KoprowskiT opened #58627 "Need more clarity"
In the part of:
Step 2. Enable the optional bundle in Security Center's pricing and settings page:
2. Toggle the option for SQL servers on machines (Preview) to enabled

"Advanced Data Security for SQL servers on machines will be enabled on all SQL servers connected to the selected workspace.

Need clarity one:
"**all SQL servers connected to the selected workspace**"
It means all SQL Server Insta

[2020-07-08 09:26] memildin commented on #58627
@KoprowskiT, thanks for taking the time to share your input.
I'll discuss these issues with others in the product team and make the necessary changes.

[2020-07-08 09:27] memildin commented on #58627
#reassign:memildin

[2020-07-08 09:37] psmanhas commented on #58518
@jacobwbutler Thank you for bringing this to our attention. I have updated the document and changes will be live soon.

[2020-07-08 09:39] #58518 closed

[2020-07-08 09:47] blessedwithsins opened #58628 "VNet/NSG specific configuration"
[Enter feedback here]
Customer is asking for restricting traffic to AKS VNet using NSG which isn't specified in the documentation nor any links are given related to implementation.

Can someone confirm that this needs to be done by customer as per their requirements or do they need to follow some standard documentation?

Please reach out to me @ pigaur@microsoft.com.
---
#### Document Details

⚠ *

[2020-07-08 09:48] matthias-scharl opened #58629 "Configuring Persistent browser session does block EAS devices (iOS)"
[Enter feedback here]
It seems configuring persistent browser session blocks the iOS based Exchange Active Sync (EAS) native email client.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9561a367-20d8-62e9-57e5-694bab4c0878
* Version Independent ID: a7c757e0-052b-fc42-70c5-030081baa573
* Content: [Configure authenticati

[2020-07-08 10:00] AmitavaHazra commented on #58524
@vipulsparsh,

Your suggested doc is a bit different since response is coming from other IDP to Azure AD.

But my scenario is Azure AD is IDP and Azure AD will send response to application and there it is going as urn:oasis:names:tc:SAML:2.0:ac:classes:Password
Could you please refer doc which is shared on earlier part of qs and let me know whether it is the only default one.

[2020-07-08 10:23] PramodValavala-MSFT commented on #58224
@JiroP Hope my previous comments help.

Since there is no doc update required here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-08 10:23] #58224 closed

[2020-07-08 10:24] PramodValavala-MSFT commented on #58447
@hannesne Hope my previous comment clears things up.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-08 10:24] #58447 closed

[2020-07-08 10:24] psmanhas commented on #58628
@blessedwithsins Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2020-07-08 10:25] sayanghosh123 commented on #58533
Hi @ajlam - firstly thanks for your reply. My understanding (having reviewed the PostgresSQL document) is the reply assumes the presence of a cross-region read replica, is that the right interpretation? I am actually looking for both scenarios -

- where no cross-region replica is set up to avoid the extra cost (which is a scenario I'd like to understand as it is possible to have geo-redundant bac

[2020-07-08 10:34] AdelaManea opened #58630 "Suggestion"
While studying this document, I really enjoyed this table as it gives a really visual explanation of the differences between the account types. Right after the table you go into a breakdown on the types, **but you seem to have missed the last one: blob storage.**

<img width="516" alt="table storage account types" src="https://user-images.githubusercontent.com/67159737/86908591-70de8680-c11f-11ea-

[2020-07-08 10:39] suineglive13 commented on #32782
@tamram @artemuwka Dear Tamra & Artem, though the account failover is GA now, we're still keep getting
"Customer controlled failover is not supported for your primary and secondary region" and greyed out button.
We tried different regions and westus2/westcentralus as well. What can be wrong?

[2020-07-08 10:44] shashishailaj commented on #58625
@Larryngolog Thank you for your feedback . We will investigate and update the thread.

[2020-07-08 10:45] shashishailaj commented on #58629
@matthias-scharl Thank you for your query. We will investigate and update the thread.

[2020-07-08 10:54] amanmcse commented on #58361
You are still passing userPrincipalName claim and cpim_xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxx@b2ctenant.onmicrosoft.com is the format B2C stores the UPNs in. As I mentioned earlier, Federated AAD sends UPN as preferred_username in the token and you need to create and use preferred_username claim id, not userPrincipalName.

[2020-07-08 11:01] nkumars commented on #58469
@amanmcse, this explain all, thanks 👍

[2020-07-08 11:07] VikasPullagura-MSFT commented on #58291
@gitjeph Please check this [link](https://docs.microsoft.com/en-us/virtualization/hyper-v-on-windows/user-guide/nested-virtualization) as suggested in the previous comment.

[2020-07-08 11:11] RayBrindley commented on #58439
It pops up as an error everyone I log into Azure in PowerShell and causes
confusions to quote a few people myself included.

So everyone I now connect to Azure PowerShell I get notified that my
account is locked, it's infuriating and a painful user experience.

You can recreate the issue by issuing
Connect-azaccount

Since I use this command multiple times a day it's infuriating and
confusing as i

[2020-07-08 11:12] foramkumar-parekh commented on #58361
@amanmcse i tried also removing the UPN, but there was no preferred_username field or email field in the token.

I am sharing few details to make sure the thing are correct at my end.
- Claim Schema

        <DisplayName>Preferred Username</DisplayName>
        <DataType>string</DataType>
        <DefaultPartnerClaimTypes>
          <Protocol Name="OpenIdConnect" PartnerClaimType="email" />

[2020-07-08 11:18] amanmcse commented on #58361
You need to remove
`<OutputClaim ClaimTypeReferenceId="email"/>` from Technical Profile.
`<OutputClaim ClaimTypeReferenceId="preferred_username" />` from Relying Party file.
and add
`<OutputClaim ClaimTypeReferenceId="email"/>` to Relying party file.

[2020-07-08 11:23] blessedwithsins commented on #58628
Let me know if any additional information is required from my end.

[2020-07-08 11:26] KrishnaG-MSFT commented on #58621
@raghrv Thanks for your comment! We will review and provide an update as appropriate.

[2020-07-08 11:31] likebupt commented on #58299
@ignaciofls
thanks for your feedback.
Will check the link status and update this article.

[2020-07-08 11:31] mwgroenewald opened #58631 "Resource Move Support not reflecting correctly any longer"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23df5354-6833-a5da-0eb3-d860150c8b78
* Version Independent ID: 682ec206-0fda-3e0b-5841-543860a87e34
* Content: [Move operation support by resource type - Azure Resource Manager](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/

[2020-07-08 11:34] mwgroenewald commented on #58631
Seems like the recent update of this article are displaying incorrect information for resource move Support. A number of resources are now listed as "No" for cross subscription move. An example is Microsoft.SQL/Servers and microsoft.alertsManagement/smartDetectorAlertRules. These were supported previously according to the article.

[2020-07-08 11:36] JoseFMP commented on #58444
@AjayKumar-MSFT In the document I mentioned, the storage is Azure storage, not the storage of the web app.

Still, my comment holds, it'd be great to have a full toy example, instead of cutting just the snippet of the mount of the volume.

[2020-07-08 11:43] rameshjanjyam commented on #57907
thank you @femsulu

[2020-07-08 11:48] Klaas- opened #58632 "Red Hat plan not working in price calculator"
Hi,
selecting a red hat plan in the price calculator (https://azure.microsoft.com/en-us/pricing/calculator/)
results in error messages like "1 year reserved option is not available for your instance selection." or no error message and an unclickable-object for 1 year reservation. I've tried multiple instances, including ones that should work (B2s, D2_v3, ...).

Greetings
Klaas

---
#### Document D

[2020-07-08 12:05] amanmcse commented on #58613
@SB-o-matic  On-premises Active Directory doesn't support REST protocol and uses LDAP for user validation. It is only possible with Azure AD and other DB table in the cloud which supports REST.

[2020-07-08 12:19] jtuliani opened #58634 "What does 'd' mean?"
Does not explain the difference between (for example) Ev4 and Edv4. Both use the same processor. What difference does the 'd' make, and why would I choose this option?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe4daa4d-bf66-35ef-c15c-ab631fea8f96
* Version Independent ID: 77d3a688-118e-9f49-33e3-428cab5fb6b7
* Con

[2020-07-08 12:23] tsrob50 opened #58635 "Portal values"
Step 7 under Configure RDP Properties in the Azure portal indicates to use a comma-separated format.  It should be semicolon-separated format.

Thanks
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d618e88-abc7-84e0-6783-5077870277d3
* Version Independent ID: 77ae2a49-40be-b010-c20c-8e3a723a673e
* Content: [Customize R

[2020-07-08 12:40] foramkumar-parekh commented on #58361
@amanmcse I made the suggested changes. But I still cannot have the email field in the token.

[2020-07-08 12:50] VikasPullagura-MSFT commented on #58635
@tsrob50 Thanks for pointing this out.
I have updated the document and the changes will go live soon.

[2020-07-08 12:51] #58635 closed

[2020-07-08 12:53] dgshaver opened #58636 "Hiveserver2 Interactive instance on Spark 2.4 ESP clusters not supported for use by Hive Warehouse Connector"
Under the "Hive Warehouse Connector setup" section, would you please add the following statement?

The HiveServer2 Interactive instance installed on Spark 2.4 Enterprise Security Package clusters is not supported for use with the Hive Warehouse Connector.  Instead, you must configure a separate HiveServer2 Interactive cluster to host your HiveServer2 Interactive workloads.  A Hive Warehouse Connec

[2020-07-08 12:53] davidnunn opened #58637 "How to request Micrsoft securely wipes/deletes data after deallocation and not before re-use"
[Microsoft executes a complete deletion of data on customer request and on contract termination.

How can this we request Microsoft to delete the data immediately after deallocation and NOT wait for the disks to be re-used. We have enquired and no-one seems to know any process by which this can be requested,. Some elaboration on this would be useful as well a communicating this to the engineers in

[2020-07-08 12:56] KrishnaG-MSFT commented on #58631
@mwgroenewald Thanks for the feedback.
Assigning @tfitzmac for visibility, review and document enhancement consideration as appropriate.

[2020-07-08 13:03] gitjeph commented on #58291
Good morning – we’re schedule to talk about this today.
I’ll reply better tomorrow.

Thanks,

Jeff

From: VikasPullagura-MSFT <notifications@github.com>
Sent: Wednesday, July 8, 2020 7:08 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Jeff <jeff@verrate.net>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] broken link (#58291)

@gitjeph<https://git

[2020-07-08 13:04] vipulsparsh commented on #58625
@iainfoulds Can you look into this ?

[2020-07-08 13:23] mrbullwinkle commented on #58433
We'll need to update this guidance. It is still accurate for some older versions of the SDK, but this step no longer applies to the latest versions of the SDK. I am adding a work item to take clarify this. I need to track down the exact version of the SDK where this guidance swapped to no longer being relevant, but should have this updated this month.

Thanks for bringing this to our attention!

[2020-07-08 13:25] SB-o-matic commented on #58613
Thank you @amanmcse . So what is the recommended pathway in this scenario to migrate users to B2C?

[2020-07-08 13:28] Prabhakar96-dev opened #58639 "How to extend existing session in Azure AD as expected"
I'm following the document [Sign-in frequency](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/howto-conditional-access-session-lifetime) **Example 2:**. As per the document I configured Sign-in frequency,.

1. My Sign-in frequency set as 1hr.
2. I logged in to the application  at 1:00 clock.
3. I last accessed my application at 1:30
4.  I last accessed my application at

[2020-07-08 13:35] Aravinda766 opened #58640 "B2C_1A_SignUpOrSignInWithPhone"
I have used the approach in this article for Azure B2C sign in with Phone or Email. I have signed up with both Phone number and email. But I can only sign in with Phone Number. (screenshot  attached)
In Azure B2C user profile, phone number is showing as username. When email is used for log in, it says account cannot be found.

Do we need to provide additional customization for Custom Policy to be

[2020-07-08 13:35] dwolf4 opened #58641 "Creating new Service Principal to rotate credentials permission propagation issues"
The create new service principal section leads to issues not documented here. I performed the steps as described to create a secondary service principal to rotate between. When I applied the new service principal it did not have the correct permissions on resources created in the MC resource group. Specifically, it was unable to access the load balancer created as part of the NGINX  ingress contro

[2020-07-08 13:36] tfitzmac commented on #58631
@mwgroenewald - thanks for this feedback. I am rolling back to the previous version of this article while I figure out why the data is wrong.

[2020-07-08 13:42] tfitzmac commented on #58631
The fix should get published this morning.
#please-close

[2020-07-08 13:42] #58631 closed

[2020-07-08 13:56] JohnBF commented on #50613
Also happens if you already have two other Azure VPNs open when you try to make a third connection! Would be nice if error message could be a bit more informative in this case!

[2020-07-08 13:57] FretzNuson commented on #31363
@Mikie : In the above thread , it was commented that SQL Hyperscale can be exported using SSMS. Is that true ? OR there is no ways by which SQL Hyperscale DB can be changed to non-hyperscale SQL DB or SQL server running on a VM

[2020-07-08 13:59] baanders commented on #58572
@pauldj54  Hi, thanks for calling this out!

From the dev team on this: it seems to be the default behavior of AutoRest for the way the Swagger is formatted. The Swagger refers to external example files as references, and as of now there's no plan from the AutoRest team to allow the generator to create an SDK client while ignoring those references.

The simplest solution is what you've found -- do

[2020-07-08 14:06] crevulus opened #58642 "(REST Speech-to-text) How do you differentiate pronScore, Accuracy Score, and Fluency Score?"
The docs are unclear: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/rest-speech-to-text#response-parameters

Fluency is a part of accuracy, and accuracy is a part of fluency. I don't understand what the difference is in the calculation/production of these two scores. The explanations are single lines that essentially say "x is x".

Also the pronScore is based on these tw

[2020-07-08 14:13] harry12345678910 commented on #43316
_For this purpose we suggest to use custom claims in B2C where the consumer selects required role during the signup process which is returned in the token as well._

Really?? The consumers should be able to select the role "admin"???
We have a scenario, where we have internal application administrators, and external consumers using the application. Additionally we have on consumer side "special" s

[2020-07-08 14:14] mumian commented on #58523
@tyconsulting, thank you for your comment. The article will be updated today.

#please-close

[2020-07-08 14:14] #58523 closed

[2020-07-08 14:23] phatcher commented on #58433
Thanks, I had a .NET Core app where the instrumentation key was present but no logging was visible, so anything additions you can provide for diagnosing this sort of issue would be most useful

[2020-07-08 14:23] jtuliani opened #58643 "Doesn't cover dedicated vCPUs"
Doc also needs to cover dedicated vCPUs, which are a separate quota for dedicated hosts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe04a05a-f753-ee1f-5171-fd2a81a030f9
* Version Independent ID: 1507a7ac-11cc-81a7-e932-9e8ef9644e2b
* Content: [Azure Resource Manager vCPU quota increase requests](https://docs.micros

[2020-07-08 14:24] jtuliani opened #58644 "3,000 dedicated vCPU default limit is not correct."
Doc says dedicated vCPUs have a 3,000 default quota. But my subscriptions have a 0 quota, so that's not accurate. I'm using two different subscription types, too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98de8b0f-6cc5-8d9f-6329-f1661e3dedb0
* Version Independent ID: a6eff3cd-3859-0cc1-c29b-c7ece21f6f6c
* Content:

[2020-07-08 14:27] nkumars opened #58645 "Set default value using claim resolver not working in combination with PartnerClaimType"
Hi,

I have a case where I get an incoming claim from an external IDP in claim named **profile** _which is a user name_ and  **familyName** _which is a surname_. This **familyName** claim is returned only for some users, in such case, I want to default the **surname** claim to **profile** _(incoming claim)_. To achieve this I did the following change:
[code]
To my surprise, the **surname** claim r

[2020-07-08 14:30] nkumars commented on #56374
we have this working now, I can now close this ticket.

[2020-07-08 14:30] #56374 closed

[2020-07-08 14:35] bwarren18 opened #58647 "Typo 'workspaces' should be 'workbook'"
There is a misleading typo on this doc page for identifying recovery services vaults sending legacy events to a log analytics workspace.

Where documentation says "Run the following **workspaces** to identify these vaults and subscriptions", does not make sense; it should say "Run the following **workbook** to identify these vaults and subscriptions".

The code block underneath is Kusto and is mea

[2020-07-08 14:36] uonie opened #58648 "Missing uncached part for DD_v4 series"
Can we add "Max uncached disk throughput: IOPS/MBps" part for DD_v4 series as well?

BTW, the IOPS value of D2d_v4 - "Max uncached disk throughput: IOPS/MBps" should be 3200 not 3000.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a43e5b4-7893-dcd7-839f-e394912d1bd9
* Version Independent ID: 560d2e4a-6a12-48ac-dff7-44

[2020-07-08 14:36] nkumars commented on #56356
@SaurabhSharma-MSFT, this doesn't seem working to me
[code]

[2020-07-08 14:44] MonikaReddy-MSFT commented on #58632
@Klaas- - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-08 14:58] memildin commented on #58616
Hi @dc-isafonov, thanks for taking the time to leave your questions here.

The short answer is that proxy configuration is currently not supported for the Azure Security Center vulnerability assessment extension (powered by Qualys).

If and when this option is added, the page will be updated to include it.

Thanks again and feel free to comment here or open new issues when you have unanswered ques

[2020-07-08 14:58] #58616 closed

[2020-07-08 14:58] jonwbstr opened #58650 "Article improvements"
The Proposed GPO will lock the Internet Zones, and removes trusted sites already added by the user. is there a less intrusive way to trust the domain?

I'd expecting three options:
1) Add the domain and let the user continue to manage personal trusted sites (like the onedrive client does currently)
2) Manage trusted sites via GP and trust the site
2) Manage trusted sites via GP and block the site

[2020-07-08 15:11] mrbullwinkle commented on #58433
@phatcher,

Couple of quick questions to see if I can help point you in the right direction:

- Is this a .NET core console app or web app?
- What version of the SDK are you using?
- When you say no logging is there no telemetry at all making it to Azure or just no trace logs? (If you go to Live Metrics when your app is running do you see any data?)
- If just no trace logs are you using a specific

[2020-07-08 15:23] tcbr453 opened #58651 "Cost management export missing reservation purchase costs"
I created an export of cost management data to a storage account.  I found the costs in the export do not tie out to the ones shown in the portal.  I found that the reservation purchase costs are not included in the exported data, which is causing the discrepancy.  I do see entries for reservations, but the cost is 0.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2020-07-08 15:25] rkorver opened #58652 "can't connect to External IP in browser (chrome)"
Good afternoon,

I've followed the tutorial as described and successfully so up until putting the external IP in the browser. The browser just keeps loading... what would be the first place to look in such a case?

background info:
kubectl get pods shows a successfully running azure-vote-front and back. kubectl get service azure-vote-front --watch returns a table like in the tutorial.

[Enter feed

[2020-07-08 15:29] dave-read opened #58653 "Should note that creating separate VNET with peering is descriptive, not prescriptive"
In reading through this, my impression is that it might lead the reader to the conclusion that you **must** use a peered VNET.  While that's a valid topology (hub and spoke is a common pattern), it's also possible that someone just adds a subnet to an existing VNET.  If there's isn't address space available, an additional address range can be added to expand the address space.

I should have noted

[2020-07-08 15:30] willturcios1 commented on #45574
I have been working with MS on this case, they have been great and top of the case, but the results is not what we wanted to hear. It was determine the native connector is not working and they are working on a fix but couldn't provide and ETA but its being worked on.
They did give me a workaround similar to the one mentioned by @himanshu-mishra , just a minor change on the Auth Type
see below. Als

[2020-07-08 15:44] MonikaReddy-MSFT commented on #58487
@lorek73 -, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-07-08 15:44] #58487 closed

[2020-07-08 15:46] mimckitt commented on #58634
#assign: @mimckitt

Thanks for pointing this out. This was an oversight. Let me address it and get back to you shortly.

[2020-07-08 15:47] MonikaReddy-MSFT commented on #58534
@mayoneka - Can you please share with us the URL of the document that you are having issues with?

[2020-07-08 15:56] Mike-Ubezzi-MSFT commented on #58000
@goh-chunlin The documentation updates have been merged into the master repository and these changes will be reflected in the public facing document at some point today. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-08 15:56] #58000 closed

[2020-07-08 16:00] v-chmalw opened #58654 "Inconsistency/Conflict in the document for Sharing accounts with Azure AD"
Hello Team,

I am a Support Engineer for Azure AD Authentication team.

While working on one of my Support Requests, I came along through this document to share an account between multiple individuals.

As per the document, we need to implement Password-based SSO for the Enterprise App and at the same time implement MFA for the shared account.

This seems to be a conflict as we are providing Users

[2020-07-08 16:02] Iorek73 commented on #58487
Whoa hold on. I'm not sure where the document is because the information isn't in any of them.

If I was guessing, I would say it needs to go [here](https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/home) or [here](https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/get-started-build-detector).

[2020-07-08 16:03] DerekHerman-MSFT commented on #58630
@AdelaManea Thanks so much for the feedback! We do not mention more about BlobStorage below the table, however you can find this information directly above it. "**BlobStorage accounts**: Legacy Blob-only storage accounts. Use general-purpose v2 accounts instead when possible."
As this is a legacy and not a currently suggested solution we do not provide more information.

[2020-07-08 16:09] MarileeTurscak-MSFT commented on #58637
@davidnunn
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-08 16:12] MarileeTurscak-MSFT commented on #58637
I've reached out to the product team to ask.

[2020-07-08 16:14] ChaitanyaNaykodi-MSFT commented on #58569
Upon further review, we have assigned this issue to the author to take the next course of action.

[2020-07-08 16:28] michaelwolz commented on #45071
Are there any updates on this topic?

I am in the exact same situation. I registered an SAP C4C Enterprise Application in AAD and am able to use it successfully for Single Sign On to SAP.

In addition, I want to use the exact same AAD app to request a SAML assertion from AAD and use it as a OAuth SAML bearer to request an access token from SAP. As @keithdv mentioned in the beginning of this issue,

[2020-07-08 16:29] scale-tone commented on #58499
I don't think it's true. The default value is 0, which is OverridableStates.AnyState, which was exactly the way StartNewAsync() method worked originally, and this was exactly the problem. Typically you *don't* want multiple instances with the same ID to work, especially when you're looking for singleton behavior. So what needs to be added to the doc is how to configure this setting to be Overridab

[2020-07-08 16:31] AlexKeySmith opened #58655 "Live metric domains don't resolve"
When using a tool like DNS propagation checker the live metric domains do not resolve, is the documentation out of date?

https://www.whatsmydns.net/#A/euw.rt.prod.applicationinsights.trafficmanager.net

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3942b937-b212-3ceb-d356-450b7f598f68
* Version Independent ID: 8b015b4

[2020-07-08 16:32] divurgentuser commented on #58605
Thanks.. that helped me debug. Y

[2020-07-08 16:32] #58605 closed

[2020-07-08 16:32] Karishma-Tiwari-MSFT commented on #58626
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-08 16:35] Karishma-Tiwari-MSFT commented on #58641
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-08 16:53] #58314 closed

[2020-07-08 16:57] SeanFeldman opened #58656 "JMS 2.0 require premium tier of Azure Service Bus"
The page doesn't seem to mention that for JMS 2.0 it's necessary to use ASB Premium tier as [this article](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-java-how-to-use-jms-api-amqp) suggests.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5c54bf2-d022-fe32-7343-89241511875d
* Version Indepe

[2020-07-08 16:57] Willem-J-an opened #58657 "Is there a limit to the size of a pipeline variable in Azure Data Factory?"
Is there a limit to the size of a pipeline variable in Azure Data Factory? Could I keep appending petabytes of data to such a pipeline variable? Or until I run out of memory on the runtime?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36f49a06-90b1-cbe1-3853-2c38277b79f8
* Version Independent ID: 02ff6f6c-3ef6-b48f-0

[2020-07-08 17:06] Mike-Ubezzi-MSFT commented on #58619
@rishabh-cldcvr Thank you for bringing this scenario to our attention. I might be helpful if you detail what you are attempting under the context of `OPENROWSET`, as I am not completely clear with regard to your question. Let me explain, the [OPENROWSET](https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/develop-openrowset#data-source) returns a data set from external data sources, and i

[2020-07-08 17:06] wbplomp opened #58658 "Azure Firewall is not multi-homed"
The drawing makes sense to me. But in fact, the Azure Firewall is not multi-homed, which the picture asume. People I talk to are thereby confused with this picture. It should be clear to people the Azure Firewall has a single interface. Otherwise step 1 to 2 on the right example does not make sense.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-07-08 17:09] BharathNimmala-MSFT commented on #58647
@bwarren18 Thank you for bringing this to our notice, we will look into it and update the document accordingly.

[2020-07-08 17:09] ajlam commented on #58533
Hi @sayanghosh123,

Sorry if my first response was confusing. Yes, the article requires the presence of a cross-region read replica.

For this scenario, you can utilize the [geo-restore](https://docs.microsoft.com/azure/mysql/concepts-backup#geo-restore) capabilities. This allows you to restore a server in another region using the backups of a server that has been enabled with geo-redundant backup

[2020-07-08 17:10] BharathNimmala-MSFT commented on #58655
@AlexKeySmith Thank you for your query, we will look into it and get back to you at the earliest.

[2020-07-08 17:12] mrbullwinkle commented on #58655
assign:mrbullwinkle

[2020-07-08 17:13] BharathNimmala-MSFT commented on #58657
@Willem-J-an  Thank you for your query, we will look into it and get back to you at the earliest.

[2020-07-08 17:15] mrbullwinkle commented on #58655
@AlexKeySmith, We had originally updated the doc in expectation to rolling out endpoints to all those regions, and then we ended up only deploying to a subset of those regions. I will check with our engineering team to confirm the final list of regions that currently have active endpoints and will update the doc accordingly.

[2020-07-08 17:20] tamram commented on #32782
@suineglive13 - Failover is enabled in all regions, but it's currently unavailable due to a service issue. I expect it will be available again within a few weeks. I'll update this issue when it's available again.

From the storage engineering team:

Customer-initiated account failover feature is currently unavailable due to a service issue that impacts access to the storage account after failover.

[2020-07-08 17:25] xiafu-msft commented on #58597
Thanks a lot @ChaitanyaNaykodi-MSFT and @PramodValavala-MSFT that's helpful!

[2020-07-08 17:30] rishabh-cldcvr commented on #58619
I created a view using OPENROWSET refering to data sitting in my data lake
gen 2 with two level of partition say A and B. So my data lake path looks
like container/base_path/A='A1'/B='B1'
My second partition path looks like container/base_path/A='A1'/B='B2'
My B='B1' partition has 3 columns in it while B='B2' has 4 columns

When i create a view while using bulk in OPENROWSET i pass path as
'contai

[2020-07-08 17:30] normesta commented on #58259
Thanks @caksoyler - Sorry for the confusion. The confusing mapping link has been removed from the doc. Our engineering teams are planning to create a more updated version of that page and we will include a link to that page once it has been updated. Az storage fs is the path forward. Yes, these are available in the Azure CLI general release. Thanks again for helping us find this issue.

[2020-07-08 17:30] normesta commented on #58259
#please-close

[2020-07-08 17:30] #58259 closed

[2020-07-08 17:32] YutongTie-MSFT commented on #58642
@crevulus
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-08 17:35] PeterCLu commented on #58299
@ignaciofls, thanks for the catch! You're right, the link should be pointing to a different article name. The link has been fixed, and you should see the changes live in a few hours.

Here's the fixed link: https://docs.microsoft.com/azure/machine-learning/how-to-designer-python

I'll proceed to #please-close this issue. If you feel that your documentation issue hasn't been resolved, please open a

[2020-07-08 17:35] #58299 closed

[2020-07-08 17:51] ROSMITHJ-MSFT opened #58660 "Kusto Queries No Longer Work"
The Kusto query examples listed on this page no longer work. There is now an error listed that corresponds to the msg_s field no longer existing within the AzureDiagnostics table.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cc1c543-6db1-23cd-0f7a-4506f53b7d90
* Version Independent ID: a7c1b69f-67dc-d94a-05d7-1d603e

[2020-07-08 17:51] gitjeph commented on #58291
We would like the link restored, properly.

In Azure, we need a persistent route between the two NICs.
This is why this articled doesn't work. It's meant for on-prem.

Jeff

From: VikasPullagura-MSFT <notifications@github.com>
Sent: Wednesday, July 8, 2020 7:08 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Jeff <jeff@verrate.net>; Mention <mention@noreply.github.com>
Subject:

[2020-07-08 17:59] KranthiPakala-MSFT commented on #58624
@jessedavidsmit
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-07-08 18:01] MarileeTurscak-MSFT commented on #58654
@v-chmalw feel free to send the author an email about this, [join the Azure docs group](https://github.com/MicrosoftDocs/azure-docs), or make a pull request to the document. You can request to join the repo here: https://repos.opensource.microsoft.com/

[2020-07-08 18:02] MarileeTurscak-MSFT commented on #58650
@jonwbstr
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-08 18:02] lgayhardt commented on #52890
Screenshot have been updated.

Thank you

#please-close

[2020-07-08 18:02] #52890 closed

[2020-07-08 18:02] MarileeTurscak-MSFT commented on #58640
@Aravinda766
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-08 18:07] kenwith commented on #58461
@dazinator I added some information to the article based on your feedback. https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/configure-single-sign-on-non-gallery-applications  The note is definitely getting to long now and I need to figure out how to break it up and better discuss it in the article but I wanted to error on the side of getting the information in there for now. Tha

[2020-07-08 18:07] kenwith commented on #58461
#please-close

[2020-07-08 18:07] #58461 closed

[2020-07-08 18:07] baanders commented on #58572
@pauldj54   Hello again! The new information has been published in [the original article](https://docs.microsoft.com/en-us/azure/digital-twins/how-to-create-custom-sdks).

Here's an excerpt of the added text intended to address this issue:
![image](https://user-images.githubusercontent.com/55546137/86952037-62449f00-c120-11ea-8b45-dc8f3e796f01.png)

Having added your successful solution to the doc

[2020-07-08 18:07] baanders commented on #58572
#please-close

[2020-07-08 18:07] #58572 closed

[2020-07-08 18:17] DeanGross opened #58661 "Blocking legacy auth"
[Enter feedback here]
Any idea why blocking legacy auth is not an item on the 30, 60, 90 day roadmap? I think that it should be added

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8763efcd-d2ef-6547-e33d-c250d97020f6
* Version Independent ID: d8969bd7-a35d-e21d-ec43-ba6028ccbc5f
* Content: [Azure AD deployment checkli

[2020-07-08 18:18] julieMSFT commented on #56769
@pnarsi Hello and thank you for contacting Microsoft. The change to how issues are displayed was made to address security standards. We appreciate your comments on the experience. I will pass your comments to the team working on this. I will proceed with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope

[2020-07-08 18:18] julieMSFT commented on #56769
#please-close

[2020-07-08 18:18] #56769 closed

[2020-07-08 18:21] prashanthmadi opened #58662 "Only for SQL API in Cosmos DB"
[Enter feedback here]

I think we should make it clear that uber jar mentioned at below link can be used only for SQL API in cosmosdb.
https://docs.microsoft.com/en-us/azure/databricks/data/data-sources/azure/cosmosdb-connector

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7197a1f8-bc64-1ac0-bf54-4a76381acc87
* Versio

[2020-07-08 18:27] anbene commented on #58230
@cj13579 - Thanks again for bringing this up! We have updated the sample test lead as you suggested. We really appreciate your contribution. Please let us know if you have any questions.

#please-close

[2020-07-08 18:27] #58230 closed

[2020-07-08 18:31] MonikaReddy-MSFT commented on #58651
@tcbr453 - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-08 18:35] MonikaReddy-MSFT commented on #58586
@savelinomediagroup - Can you please share with us the URL of the document that you are having issues with?

[2020-07-08 18:38] KranthiPakala-MSFT commented on #58636
@dgshaver  Thanks for the feedback and contribution towards doc improvement! We have assigned the issue to the content author to further evaluate this and update the document as appropriate.

@nis-goel Could you please have a look at the above feedback? - Thanks.

[2020-07-08 18:46] nis-goel commented on #58636
@dgshaver
Please share the background behind adding this change. The document explicitly mentions about creating two separate clusters for Spark and LLAP to setup HWC.

Is there any customer case? Any regression? What's the customer scenario. LLAP must not be used on Spark ESP 4.0 cluster to run LLAP workloads.

[2020-07-08 18:46] JimacoMS3 commented on #58187
@chschrae Thanks for your feedback -- that is indeed an issue with the article you cited. I've changed the code to use a variable for the device ID and point the user to the c# telemetry quickstart article to get the device ID. This is similar to what we do for the other languages. I also updated the screenshots. The article is live now. Please have a look and let me know if there is anything else

[2020-07-08 18:49] SadiqhAhmed-MSFT commented on #58621
@raghrv You should be using Azure Consumption APIs that provides programmatic access to cost and usage data for your Azure resources. These APIs currently only support Enterprise Enrollments and Web Direct Subscriptions (with a few exceptions). The APIs are continually updated to support other types of Azure subscriptions.
References: [Azure Consumption APIs](https://docs.microsoft.com/en-us/rest/

[2020-07-08 18:53] KranthiPakala-MSFT commented on #58662
Hi @prashanthmadi, Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2020-07-08 19:03] shashishailaj commented on #58363
@thorhj We have tested this and you are correct . Thank you for catching this

[code]
I have initiated a pull request to update this and it will be updated in the next release cycle within 24-48 hours. We will now close this issue . Thank you.

[2020-07-08 19:03] #58363 closed

[2020-07-08 19:09] JamesTran-MSFT commented on #58661
@DeanGross
Thanks for your question and feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-07-08 19:12] KranthiPakala-MSFT commented on #58313
Thanks much for the details @aodugga! We have assigned the issue to the content author to further evaluate and update the document as appropriate.

Hi @nabhishek Could you please have a look at the above enhancement feedback? - Thanks.

[2020-07-08 19:16] shashishailaj commented on #58264
@SeanXuMSFT We have reached out to the product group and we will update once we have a clarification.

[2020-07-08 19:21] anbene commented on #57356
@SwiftDavid - Following up on this thread to see if you have any updates. If you are still experiencing this issue, we recommend contacting our Support team at http://aka.ms/marketplacepublishersupport for assistance. Thanks!

#please-close

[2020-07-08 19:21] #57356 closed

[2020-07-08 19:21] shashishailaj commented on #58266
@v-nagta @chetansriv Could you please review the above and see how best we can improve the document ? The last link for  `How to protect Atlassian Cloud with advanced visibility and controls` needs to be reviewed if its appropriate or not ?

[2020-07-08 19:25] anbene commented on #58450
@wmmartins Thanks for the info. To receive additional assistance on this subject, we recommend reaching out to our Support team at at http://aka.ms/marketplacepublishersupport

[2020-07-08 19:29] MashaMSFT commented on #57507
Hi @tastyeggs , thanks for contacting Microsoft! Local time refers to the local time of the OS/server where the IaaS extension is installed.

I hope that helps and please let us know if you have any further questions. I'm going to close out this Git Issue, but please feel free to comment should you need anything else.

Thanks and have a great rest of your day!
Masha from the SQL Docs team
#please-

[2020-07-08 19:29] #57507 closed

[2020-07-08 19:40] DylanYoung commented on #51459
Note on that: better than "shutting your machine down for a few hours" (not always even possible), would be to temporarily change sizes until the issue is resolved as each instance comes with "starting credits" which might be enough to get you by until downtime that will allow the credits to reaccumulate. .

[2020-07-08 19:41] shashishailaj commented on #58177
@LioDiera The step 3 actually tests outbound connectivity to the following URLs as listed in the [prerequisite page for setting up app proxy in your environment](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-proxy-add-on-premises-application#allow-access-to-urls) .

| URL | How it's used |
| --- | --- |
| \*.msappproxy.net<br>\*.servicebus.windows.net | Communicat

[2020-07-08 19:42] TheDapperDevin opened #58666 "What about the SQL side of SharePoint?"
Is there any information for this process that touches on the SQL side of Sharepoint On-prem?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14396770-0d69-ef5d-9a9c-104ac6b08bdd
* Version Independent ID: 778c01c4-e639-fe76-5a2b-91078f6228fc
* Content: [Enable remote access to SharePoint - Azure AD Application Proxy](ht

[2020-07-08 19:44] shashishailaj commented on #58109
@worldspawn Apologies for the delay . we are awaiting the info from backed on this.

[2020-07-08 19:45] #58177 closed

[2020-07-08 20:05] shashishailaj commented on #57650
@kiwi-cam We believe that the password protection is completely separate topic and the article https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-password-ban-bad-on-premises#foresttenant-binding-for-password-protection already have the same explanation . It is more of a by design thing rather a limitation . Also the current article is more about the hybrid Identity top

[2020-07-08 20:05] #57650 closed

[2020-07-08 20:10] shashishailaj commented on #58123
@mavusi I assume you are using School or work account. It asks for two-step verification generally for Microsoft accounts. also if you are using a work or school account rather than a MSA it will ask you for the first time to verify the code for the first time setup . but after that it works without any issue. I am not sure why you are in a cycle with the same. I would request you to email us on a

[2020-07-08 20:10] #58123 closed

[2020-07-08 20:18] kevinvngo commented on #55908
No, COPY statement is different than PolyBase and will be the primary loading utility for users moving forward.

[2020-07-08 20:18] kevinvngo commented on #55908
#please-close

[2020-07-08 20:18] #55908 closed

[2020-07-08 20:19] mrbullwinkle commented on #57619
@blaiseAI just wanted to circle back on this one. We found a bug in the current version of Add Application Insights Telemetry experience for ASP.NET apps which would explain why you are having to add the ikey manually to the config file to get things to work. The fix is not yet in any of the preview/stable releases of VS so adding the ikey manually is the correct procedure for the moment. We'll be

[2020-07-08 20:20] kevinvngo commented on #56678
Multi-column hash distribution is not publicly available yet. We will update the doc once it gets released.

[2020-07-08 20:20] kevinvngo commented on #56678
#Please-close

[2020-07-08 20:20] #56678 closed

[2020-07-08 20:24] cj13579 commented on #58230
Thanks, @anbene and @dsindona . I assume that the change isn't live yet as the sample is still showing as _ProperCased_ rather than _camelCased_ like what is actually returned by the API...

![image](https://user-images.githubusercontent.com/1965454/86966558-e6b31400-c158-11ea-921b-a929046734c1.png)

[2020-07-08 20:26] AjayKumar-MSFT commented on #58350
Since we are engaging on this offline, we will close this out, but if you feel you need more information please just let us know.

[2020-07-08 20:26] #58350 closed

[2020-07-08 20:28] AjayKumar-MSFT commented on #58529
@gopicloudarch,   Just checking in to see if you have had a chance to see the previous response. Kindly share the requested information (Azure doc URL and more details about scenario) to better assist you.

[2020-07-08 20:46] OxHobbs opened #58667 "Blueprint unassignment misnomer"
The statement in the "Unassigning Assignments" section is a little confusing as Blueprints can be stored at the management group level but not assigned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49c280c4-169c-a375-9242-87d5418f578b
* Version Independent ID: 904b3b7a-9c8a-97d8-a2c1-acdf8b84cca2
* Content: [Understa

[2020-07-08 20:50] DCtheGeek commented on #58667
#assign:DCtheGeek

[2020-07-08 20:51] DCtheGeek commented on #58667
@OxHobbs Thanks for the feedback.  Reviewing the wording with the PM and will address shortly.

@MicrosoftDocs/azure-cxp-triage Please label 'doc-enhancement' and #in-progress.

[2020-07-08 21:00] julieMSFT commented on #57886
#assign:julieMSFT

[2020-07-08 21:00] dkmiller opened #58668 "Page should mention ? instead of System.Data.SqlClient"
This page shows how to use the old NuGet package [System.Data.SqlClient](https://www.nuget.org/packages/System.Data.SqlClient/). It should instead show how to use the new client [Microsoft.Data.SqlClient](https://www.nuget.org/packages/Microsoft.Data.SqlClient/). Microsoft recommends moving to the new one: https://github.com/dotnet/aspnetcore/issues/10013 .

---
#### Document Details

⚠ *Do not ed

[2020-07-08 21:09] julieMSFT commented on #57886
@RijingXi95Arten Hi Rick, Thank you for contacting Microsoft. The first point is talking about when restore points are deleted. Restore points are deleted when they are 7 days old and there are at least 42 total restore points. If you have 10 user-defined and 32 automatic restore points any restore point over 7 days old will be deleted. The forth point is talking about the total number of restore

[2020-07-08 21:09] julieMSFT commented on #57886
#please-close

[2020-07-08 21:09] #57886 closed

[2020-07-08 21:15] #36291 closed

[2020-07-08 21:16] julieMSFT commented on #52521
@jamserra Hello and thank you for contacting Microsoft. We are in the process of updating the screenshots and will notify you once this work is completed. Thank you for contributing to the quality of Microsoft Docs.

I will proceed with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you a

[2020-07-08 21:16] julieMSFT commented on #52521
#https://mseng.visualstudio.com/TechnicalContent/_boards/board/t/SQL/Stories/?workitem=1746248

[2020-07-08 21:18] julieMSFT commented on #52521
#please-close

[2020-07-08 21:18] #52521 closed

[2020-07-08 21:20] zr-msft commented on #36291
Thank you for the feedback @tdihp

I have updated the following article with a note around multiple node pools:
https://docs.microsoft.com/azure/aks/egress

The changes should be available soon.

[2020-07-08 21:22] julieMSFT commented on #52521
#assign:julieMSFT

[2020-07-08 21:25] anbene commented on #58375
Reassigning this issue.

#reassign:MarlEva

[2020-07-08 22:01] Grace-MacJones-MSFT commented on #51790
We are sorry you're experiencing this issue @teamstap100. Can you open a new issue so we can track and investigate this problem separately?

[2020-07-08 22:06] echapman1 opened #58669 "Document does not match what I see in Azure AD"
My issue is that if I click on Azure AD Roles, I see exactly what the page shows.  However, if I click on Azure Resources, I see something completely different - not similar to the Azure AD screen as shown in the screenshots. When I click on Azure AD Roles, the entire page change, both the left hand menu pane as well as the right hand data pane.  When I click on Azure Resources, only the data pane

[2020-07-08 22:07] gregfr-ms opened #58670 "Old MS installer link on https://docs.microsoft.com/en-us/azure/Kinect-dk/sensor-sdk-download"
The Microsoft installer is pointed to 1.4.0, when 1.4.1 is the current version. URL for 1.4.1 can be found at https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/docs/usage.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf93cee5-3ed0-7500-aee5-da8e0f6941b6
* Version Independent ID: 89db53d9-22b9-35cf-1

[2020-07-08 22:08] jh1777 commented on #35382
I am looking for a working introduction or example for this but whole MS examples are not working. Also official azure functions output for cosmos db snippets are not running! It's really hard to understand why every documentation is wrong here!!

[2020-07-08 22:09] mmacy commented on #57863
Hi @manikandantk88, this issue will closed when the following PR has been merged and the updated article published. It modifies the article such that "interactive" does not incorrectly appear as a token grant flow.

[2020-07-08 22:12] OallenPing opened #58671 "Clarifications"
I'm a technical writer at Ping, and we've noticed a couple of pieces that could be clarified here.

First, in the "Then make sure your redirect URL is set to your external URL:" procedure, we need to add another step, as we've found that two Redirect URIs are needed: One that uses the external URL as currently described, and another that uses the current URL with /pa/oidc/cb appended to the end.

[2020-07-08 22:17] irah1704 commented on #48805
@Noldiani can you invite me to your PR

[2020-07-08 22:32] vick-git opened #58672 "Document says blob container not supported in ADLS gen2, or does it? Confused."
[Enter feedback here]

https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-supported-blob-storage-features

Confused why Blob container ACL seems to be mentioned as not supported as ADLS gen2 feature.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a416e755-b0bc-445b-3fcb-99d1f1d51eef
* Version Indepe

[2020-07-08 22:41] DavidCBerry13 commented on #50640
#reassign @JagVeerappan
Cynthia is saying there is a sample coming on this.  Can you give us an update

[2020-07-08 22:41] SnehaGunda commented on #57152
`Azure Cosmos DB supports graph databases with the help of Gremlin API. In other words, the Gremlin API in Azure Cosmos DB is used to store and operate with graph data on a fully managed database service designed for any scale. `

[code]

[code]

[code]

[code]

`read this page: https://docs.microsoft.com/en-us/azure/cosmos-db/introduction`

`Gremlin.Net implements Gremlin within the C# language.

[2020-07-08 22:46] #57863 closed

[2020-07-08 22:46] cassiej555 commented on #58266
I still feel that both are wrong...the last link doesn't give any further information on how to configure the Atlassian Cloud SSO, and the second last is a bit stretchy to be linked to much.

[2020-07-08 22:50] DavidCBerry13 commented on #54961
#reassign @danielsollondon

[2020-07-08 22:58] Karishma-Tiwari-MSFT commented on #58644
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-08 22:58] Karishma-Tiwari-MSFT commented on #58648
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-08 23:31] SaurabhSharma-MSFT commented on #58239
@ErcNovelT I have tried use the bulk invite template and it worked fine for me.  Can you please make sure to keep the version number and other column names like that before uploading it again.
![image](https://user-images.githubusercontent.com/38112130/86980321-67154d00-c138-11ea-835d-d0090fa239f3.png)

[2020-07-08 23:49] MarlEva commented on #58375
@JJDE thanks for your comment.

Regarding point 1, I want to clarify that, as a publisher, in order for a CSP to have access to your solution, you need to opt your offer in under the CSP Reseller audience as detailed in this documentation. Customers accessing commercial marketplace offers via CSP resellers can only see offers that are opted into the program.

Regarding point 2, commercial marketpl

[2020-07-08 23:52] bandersmsft commented on #58651
@tcbr453 Hi. Sorry you ran into this problem. I can't promise when it will be fixed, but I can say that the Cost Management enginnering team is actively working on fixing it.
#please-close

[2020-07-08 23:52] #58651 closed

[2020-07-09 00:19] TravisCragg-MSFT commented on #58653
@dave-read Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-07-09 00:26] SaurabhSharma-MSFT commented on #58645
@nkumars Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-09 00:27] SaurabhSharma-MSFT commented on #58666
@TheDapperDevin Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-09 00:28] SaurabhSharma-MSFT commented on #58669
@echapman1 Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-09 00:28] peter-bertok commented on #26247
Selecting VM sizes is now borderline impossible, between the huge range of optional features such as Premium Disks, Accelerated Networking, various types of caching, Ultra Disks, etc, etc...

Trying to combine that with pricing information for hybrid, not-hybrid, reserved, PAYG, and across regions is a decidedly Faustian exercise.

None of this is documented anywhere in any useful way. **Publish a

[2020-07-09 00:29] SaurabhSharma-MSFT commented on #58671
@OallenPing Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-07-09 00:30] j-martens commented on #54398
#reassign:@peterclu

[2020-07-09 00:31] j-martens commented on #57322
@shivp950 - Is this fixed? Thanks!
cc: @Blackmist

[2020-07-09 00:32] j-martens commented on #57494
#assign:@luisquintanilla

[2020-07-09 00:34] j-martens commented on #57860
Thank you for your post. We will now proceed to close this thread. #please-close

[2020-07-09 00:34] #57860 closed

[2020-07-09 00:36] j-martens commented on #58466
Thank you for your post. We will now proceed to close this thread. #Please-close

[2020-07-09 00:36] #58466 closed

[2020-07-09 00:36] TravisCragg-MSFT commented on #58658
@wbplomp Thanks for the feedback. can you give an example of why the picture makes you assume that this firewall is multi-homed?

I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-07-09 00:39] TravisCragg-MSFT commented on #58660
@ROSMITHJ-MSFT Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-07-09 00:47] asergaz commented on #56496
fyi @wesmc7777  this relates with a thread in SO: https://stackoverflow.com/questions/62107861/quickstart-guide-fail-az3166-cant-connect-to-azure-iot-hub

[2020-07-09 00:50] thoo1 opened #58679 "How to do aggregation like shown in screenshot"
Hi,

I'd like to figure out how you did the aggregation shown in this screenshot
![image](https://user-images.githubusercontent.com/55852795/86984426-6a620600-c143-11ea-8dfe-c2fd2dc54e34.png)

The column "status of children" where the parent row is able to figure out which children are healthy / unhealthy
Is the query for this example somewhere so I can see and do something similar for my query?

[2020-07-09 01:01] jemsjose opened #58680 "Conditional Access missing - Grant access > "Require password change" option"
[Enter feedback here]
Hi, Our tenant is missing the option mentioned on this article:
Enable with Conditional Access policy > Step 8. Under Access controls > Grant, select Grant access, **Require password change**.
Is this functionality still being rolled out?

Thank you,
Jems
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-07-09 01:01] TravisCragg-MSFT commented on #58620
@tjav Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-07-09 01:49] RonnieQuan commented on #58231
@BharathNimmala-MSFT  The question is call the runbook from Azure portal/Console, we can not all function to convert json string to object when call runbook from Azure portal.

[2020-07-09 01:52] BharathNimmala-MSFT commented on #58643
@jtuliani Thank you for bringing this to our notice. I have assigned this issue to our document author to further evaluate the feedback and update the document accordingly.

[2020-07-09 02:11] MartinJaffer-MSFT commented on #58559
One more point is how logic apps is not built for big data the same way Databricks is.  The limitations are different.

If you have any more questions please let us know, and we can re-open this issue.

[2020-07-09 02:11] #58559 closed

[2020-07-09 02:15] jgizel opened #58681 "Diagram"
A diagram of all the various subnets, how they relate to the gateway and the virtual network and using the example values supplied, would be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b6b0c96-9319-59ac-4756-b0fd5e419051
* Version Independent ID: 5d27c030-3f19-d737-9a18-5f2b0bca9b46
* Content: [Connect a c

[2020-07-09 02:33] vipulsparsh commented on #58652
@rkorver  Thanks for reaching out. We will investigate and update this thread.

[2020-07-09 02:36] vipulsparsh commented on #58668
@dkmiller  Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@stevestein  Can you look into this ?

[2020-07-09 02:50] dcbrown16 opened #58683 "Document PaaS cloud services"
The Cloud Services (worker role/web role) PaaS service isn't documented on this page. Please add it to the other Compute options in the table.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd0472f9-1ed9-0154-3bfd-b25e5da64cd1
* Version Independent ID: 846187d4-c24c-279f-e216-80b6507228b3
* Content: [Microsoft Azure Da

[2020-07-09 03:18] KrishnaG-MSFT commented on #58679
@thoo1 Thanks for your comment! We will review and provide an update as appropriate

[2020-07-09 03:43] dinesh71 opened #58684 "Auto logout Application when AD Session ends"
Hi Team,

I am developing a java web application(say demoApp) to have Azure AD sign in using Auth grant flow. Using [User sign-in frequency](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/howto-conditional-access-session-lifetime#user-sign-in-frequency) I have configured AD session to  1 hour.
So have I have two sessions demoApp session and Azure AD session. How would d

[2020-07-09 04:09] AshokPeddakotla-MSFT commented on #54153
We hope that addresses your query.
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-07-09 04:09] #54153 closed

[2020-07-09 04:09] AnuragSharma-MSFT commented on #58531
@sayanghosh123 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-09 04:09] #58531 closed

[2020-07-09 04:11] AshokPeddakotla-MSFT commented on #58278
@donniekerr Thanks for sharing more information. Necessary changes will be made to the doc after peer review.

[2020-07-09 04:22] yinhew commented on #58642
@crevulus Thanks again for the feedback.
We will improve the document to make it more meaningful to help customer understand the API more easily.
For your questions, let me answer here.

About the difference between accuracy and fluency:
The accuracy score indicates the sounds accuracy of phonemes toward native pronunciation.
We calculate it on phoneme level first, and word level and full text lev

[2020-07-09 04:24] Mike-Ubezzi-MSFT commented on #58449
@michaelhambe In this case, I believe the [Set up using YAML](https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-setup-ci-cd#set-up-using-yaml) is another option to the [Add the task to a build pipeline](https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-setup-ci-cd#addEmulatorBuildTaskToBuildDefinition) where the `.runsettings` exists as a  Visual Studio/DevOps project file. If you

[2020-07-09 04:50] ram-msft commented on #58419
@masskugeen We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-09 04:50] #58419 closed

[2020-07-09 04:51] SwathiDhanwada-MSFT commented on #58324
Thanks @mrbullwinkle for your inputs.
@jdorecae Just following to check if you have further questions about the issue.

[2020-07-09 04:52] BharathNimmala-MSFT commented on #58231
@RonnieQuan Thank you for circling back on this, will check with our internal product team and see if they have any additional pointers to share. Will keep you updated. Thank you

[2020-07-09 05:05] SwathiDhanwada-MSFT commented on #58285
@yesoreyeram I understood what you meant to say. I am checking internally with the team and will update you soon.

[2020-07-09 05:07] ChiragMishra-MSFT commented on #58383
@matayp Hope you got a chance to try out the suggestion by Haritha. I will now proceed to close this issue. Please feel free to still comment and tag me if you have any questions.

[2020-07-09 05:07] #58383 closed

[2020-07-09 05:11] v-hakob opened #58687 "Is it possible to view "Deleted" status from the user from the deleted subscription?"
Is there any way for a user who deleted their Azure subscription to view the "Deleted" subscription state from Azure portal?

Their company needs the data deletion certificate. Since Microsoft does not issue it, they want to have the proof to show to other party like auditors that their subscription has been deleted along with the resources/data, as described in this doc. If you have that informat

[2020-07-09 05:15] MayankBargali-MSFT commented on #58528
@pacodelacruz  Thanks for your response and clarification. Please find my response inline

Behind the scene, everything is taken care of. You only need to follow the steps to add the private link: https://docs.microsoft.com/en-us/azure/service-bus-messaging/private-link-service

No, you don't have to include the alias in your private zone or regional private A records.

Your existing setup will wo

[2020-07-09 05:24] VikasPullagura-MSFT commented on #58652
@rkorver As you mentioned that you are successfully able to see the External IP from this command `kubectl get service azure-vote-front --watch` the sample application should be accessible on the browser.

Can you use this [link](https://ping.eu/port-chk/) and see if the external IP is open on port 80. This should be open.
By default there should not be any restriction on port 80. Incase you are a

[2020-07-09 05:28] lohani94 opened #58688 "getMetadata structure for csv file always show datatype string for integer columns as well"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-07-09 05:28] souravmishra-msft commented on #58400
@Prabhakar96-dev, you can only set the Privacy statement in there as mentioned in this doc: https://docs.microsoft.com/en-us/azure/active-directory/b2b/invitation-email-elements#footer-section

But the complete text of the footer neither the Microsoft Logo cant be changed.

[2020-07-09 05:28] vipulsparsh commented on #58672
@vick-git  Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@normesta Can you look into this ?

[2020-07-09 05:28] VikasPullagura-MSFT commented on #58291
@cynthn Can you please add your comments on this.

[2020-07-09 05:30] souravmishra-msft commented on #58397
@goh-chunlin, Just wanted to follow up with you to check if there are any more queries around this. If not do let us know so that we can close this thread.

[2020-07-09 05:32] goh-chunlin commented on #58397
Understood, @souravmishra-msft

However, if the readers have to follow the tutorial given, they will reach the 2nd screenshot instead of the 1st screenshot and the readers will be confused and not sure where to continue next. Hence, I'd like to suggest to change the 1st screenshot which is currently used in the documentation to the 2nd one.

Please share with me your thoughts on this.

Thanks for

[2020-07-09 05:41] goh-chunlin commented on #58397
Dear @souravmishra-msft,

In fact, in the same documentation, the last step of the previous section says the following.

So it is actually talking about allowing us to send request to the client application from the Postman. Hence, we know it's not talking about **Web**.

But right after the step, the documentation goes on with the following.

This is where the confusion comes in because this "nex

[2020-07-09 05:49] MayankBargali-MSFT commented on #58656
@SeanFeldman Thank you for your feedback! We will review and update as appropriate.

[2020-07-09 05:50] dcurwin commented on #58647
@adityabalaji-msft Can you review this request and provide the screenshot?

#reassign:adityabalaji-msft

[2020-07-09 05:55] AshokPeddakotla-MSFT commented on #58670
@gregfr-ms Thanks for pointing this. PR has been created to address this. Changes will go live once it has been peer reviewed and merged. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-09 05:55] #58670 closed

[2020-07-09 05:59] mike-urnun-msft commented on #35973
Apologies for the late reply. For anyone visiting this issue for an answer, the question was answered in the following Stackoverflow post:  [How can I reference {rand-guid} value from declarative binding in Azure function?](https://stackoverflow.com/questions/52172941/how-can-i-reference-rand-guid-value-from-declarative-binding-in-azure-function)

We will now proceed to close this thread. If there

[2020-07-09 05:59] #35973 closed

[2020-07-09 06:05] JBines opened #58689 "Exclude Sign-in risk policies"
As Sign-in risk policies can block sign in should this also be added?

 At least one account should be excluded Sign-in risk policies.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fff5de5d-9a97-73ff-4694-79027720b5c3
* Version Independent ID: 566a8387-bbdd-8e35-13cc-f2d891bd5608
* Content: [Manage emergency access ad

[2020-07-09 06:08] souravmishra-msft commented on #58614
@Prabhakar96-dev, Thank you for reaching out. I did test this invitation api with multiple users in ccRecipients section in the JSON body and the email got sent to only the last person mentioned in the ccRecipient section. Do allow me some more time as I am working on this and would try out few more tests. I would keep you updated with the details.

[2020-07-09 06:10] AnuragSharma-MSFT commented on #58527
@ElectricLlama Thanks for bringing this to our attention. Currently we are working with the product team to fix this issue as soon as possible.

[2020-07-09 06:13] srini1978 commented on #50659
Any updates on this question ?

[2020-07-09 06:16] raffiloch opened #58691 "Typo in "Resister all VMs in a resource group""
There is a typo in "Resister all VMs in a resource group"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00840f7b-1187-828e-ad12-4a88b0ea2795
* Version Independent ID: 3da7d616-2fb7-e727-9ed2-b05ee9992637
* Content: [Bulk register SQL virtual machines in Azure with the SQL VM resource provider - SQL Server on Azure VM]

[2020-07-09 06:18] tdihp commented on #11090
the list of possible add-on is still not available.

[2020-07-09 06:19] goh-chunlin commented on #58397
I have created a PR to reflect my suggestion on the changes following the new GUI of Azure Portal: #58692

[2020-07-09 06:26] shashishailaj commented on #58683
@dcbrown16 Thank you for your feedback . We will investigate and update the thread.

[2020-07-09 06:27] shashishailaj commented on #58681
@jgizel We are engaging the content author for the same.

[2020-07-09 06:29] shashishailaj commented on #58681
@cherylmc Could you please review this request and see the feasibility of the same?

[2020-07-09 06:36] JakubW88 opened #58694 "Hidden health probes in Logs"
[Enter feedback here]
Hello,
I have enable on my endpoint frontdoor health probes with method HEAD each 60seconds but in log analytics in logs in Front Door and App Service log we have a lot these logs.
If is possible to hided it ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f35a0b39-ab2f-ba8a-0907-e0f3a6b69135
* Ve

[2020-07-09 06:44] shashishailaj commented on #58680
@jemsjose Thank you for your feedback . We will investigate and update the thread.

[2020-07-09 06:47] shashishailaj commented on #58689
@JBines Thank you for your feedback . We will investigate and update the thread.

[2020-07-09 06:48] dgcaron commented on #57860
thanks! i posted the requested change on the feedback forum:
ref: https://feedback.azure.com/forums/257792-machine-learning/suggestions/40868161-allow-specifying-the-resource-group-of-a-virtual-n

[2020-07-09 07:00] jurjenoskam opened #58695 "Database connection policy and relation to Private Endpoint is not clear"
Under "Limitations", it is stated that:

This is ambiguous, because it can either mean:

Or it can mean:

I strongly suspect it is the latter, but the documentation as it now is might lead people to configure their database to Proxy mode when that really isn't necessary.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e

[2020-07-09 07:09] FMauroy commented on #58275
Hi, yes, with "debug", it doesn't crash.
The wrong value is stated twice on this page: https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot
Regards
fred

[2020-07-09 07:15] shashishailaj commented on #58684
@dinesh71 thank you for your query. We use github issues for Azure documentation improvement . Could you please let us know if this related to any specific document ? As per the description , it seems to be a scenario based query . We have built a new forum [Microsoft QnA](https://docs.microsoft.com/answers) and I highly encourage you to use the same for asking any scenario based as well as troubl

[2020-07-09 07:24] amudamai opened #58696 "Extra clarification"
[Enter feedback here]
Hi, Any chance you can clarify if non-routable domains are supported for hybrid join computer. You have noted the following "The information in this section applies only to an on-premises users UPN. It isn't applicable to an on-premises computer domain suffix (example: computer1.contoso.local).".

Although it does work fine for computers, so far i have had 2 clients seeking c

[2020-07-09 07:25] lohani94 opened #58697 "getMetadata structure and column count fields not supported for json files"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-07-09 07:31] luisquintanilla commented on #58537
Thanks @RohitMungi-MSFT for looking into this.

@kiranpradeep sorry to hear you ran into issues. We updated our docs earlier today. Can you please try the latest version of the docs and let us know if you still experience issues. Thank you.

[2020-07-09 07:38] AdelaManea commented on #58630
Hello, thank you very much for the explanation, I understand now. Have a great day!

[2020-07-09 07:38] #58630 closed

[2020-07-09 07:52] Brucius opened #58698 "Remediation for moving clusters across subscriptions?"
[Enter feedback here]
Hello, for the FAQ listed here: https://docs.microsoft.com/en-us/azure/aks/faq#can-i-movemigrate-my-cluster-between-subscriptions.

What will be the remediation process if I were to move the worker nodes to a new subscription? Should I be creating a k8s cluster in target subscription and re-parent the orphaned worker nodes?

---
#### Document Details

⚠ *Do not edit this sect

[2020-07-09 07:56] CHEEKATLAPRADEEP-MSFT commented on #58688
Duplicate of #58697

[2020-07-09 07:56] #58688 closed

[2020-07-09 07:59] kewu-93 commented on #58458
@SubhashVasarapu-MSFT Is there any update about this suggestion?

[2020-07-09 07:59] CHEEKATLAPRADEEP-MSFT commented on #58697
@lohani94  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - Microsoft Q&A  [azure-data-factory](https://docs.microsoft.com/en-us/answers/topics/azure-data-factory.html)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.
Please create a Forum thread

[2020-07-09 08:08] lohani94 commented on #58697
I opened a question in forum,
@CHEEKATLAPRADEEP-MSFT CHEEKATLAPRADEEP-MSFT
https://docs.microsoft.com/en-us/answers/questions/44635/structure-in-getmetadata-activity-for-csv-file-dat.html

[2020-07-09 08:08] #58697 closed

[2020-07-09 08:16] mike-urnun-msft commented on #40125
Apologies for the late reply. Output binding doc does state that a send permission to the Even Hub stream is required. _"Use the Event Hubs output binding to write events to an event stream. You must have send permission to an event hub to write events to it."_

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly conti

[2020-07-09 08:16] #40125 closed

[2020-07-09 08:24] SubhashVasarapu-MSFT commented on #58295
@jihu , We have assigned this issue to the respective content author for better insights. @surajmb , Could you please provide your insights on this?

[2020-07-09 08:27] SubhashVasarapu-MSFT commented on #58694
@JakubW88 , Thanks for reaching out. We will investigate and update this thread.

[2020-07-09 08:27] vipulsparsh commented on #58683
@msmbaldwin Can you look into this

[2020-07-09 08:29] HuwSilverthorn opened #58700 "Permanent workspace delete incorrect"
The example for the permanent workspace delete poewrshell command is incorrect:

Remove-AzOperationalInsightsWorkspace -ResourceGroupName "resource-group-name" -Name "workspace-name" -Force

The -Force tag in the powershell command Remove-AzOperationalInsightsWorkspace forces the command to run without asking for user confirmation. (https://docs.microsoft.com/en-us/powershell/module/az.operational

[2020-07-09 08:37] smkrjlnn commented on #51220
Downloaded it again and tested then I had no problems. I did a quick compare to the old downloaded code and discovered that the error may have had to do with the line below as I may have missed deleting todo in the old code
private static readonly string TodoListBaseAddress = ConfigurationManager.AppSettings ["todo: TodoListServiceBaseAddress"];

[2020-07-09 08:37] #51220 closed

[2020-07-09 08:40] mike-urnun-msft commented on #40639
@jasonshave Apologies for the late reply. This documentation has gone through a restructuring and there are no longer any samples for Java functions. In case working Java sample is still sought for, the following should of help: https://github.com/Azure/azure-functions-signalrservice-extension/blob/master/samples/simple-chat/java/src/main/java/com/functions/Functions.java#L23

Since we didn't dete

[2020-07-09 08:40] #40639 closed

[2020-07-09 08:41] hyphro opened #58701 "Assigning users to password-based SSO Azure AD applications with powershell not possible"
Hello!

Unfortunately it seems that the Powershell commands to assign users to an Azure AD Enterprise application don't support assigning the user combined with credentials (username / password) for password-based SSO.

This is a showstopper for us to use Azure AD password-based SSO feature, because assigning up to 1500 user accounts with different username/password combinations to an Azure AD Ent

[2020-07-09 08:44] SwathiDhanwada-MSFT commented on #58463
@sormita Can you please provide requested information as mentioned in previous comment?

[2020-07-09 08:49] April-Cai opened #58702 "How to deploy the model in AutoML pipeline"
Hi, I am confused about the way in which we can deploy the model generated by AutoMLStep, in Azure ML pipeline.
I tried

`def init():

    global model

    # AZUREML_MODEL_DIR is an environment variable created during deployment.

    # It is the path to the model folder (./azureml-models/$MODEL_NAME/$VERSION)

    # For multiple models, it points to the folder containing all deployed models (./a

[2020-07-09 08:50] mike-urnun-msft commented on #41659
@wojciechkopciewicz Apologies for the late reply. There isn't an alternative for now, however, you can use KeyVault for storing the sensitive info as suggested here: https://stackoverflow.com/questions/62033093/can-docker-on-azure-linux-app-service-authenticate-with-the-acr-without-us-speci

We will now proceed to close this thread. If there are further questions regarding this matter, please reop

[2020-07-09 08:50] #41659 closed

[2020-07-09 09:00] zandercodes commented on #58484
3 days later and nothing has happened.
Why?

[2020-07-09 09:04] mike-urnun-msft commented on #48822
@brendonious8 Apologies for the late reply. Per my recent comment on https://github.com/MicrosoftDocs/azure-docs/issues/51557#issuecomment-611427755, the existing sample is for the Functions v1 runtime and given the scope of changes required, it may be best for the doc author to decide the next course of action.

[2020-07-09 09:19] shashishailaj commented on #57612
@c016smith I hope the above explanation from scott helps you. Please let us know in case you have any further queries on this. If you do not have any further queries , we will close this issue by EOD tomorrow.

[2020-07-09 09:28] shashishailaj commented on #58264
@SeanXuMSFT No there are no plans to support OpenIdconnect/Oauth2 as federation protocol. Also there is no near term plan to support SAM/oAuth for AAD join and/or Hybrid join scenarios . This will continue to be WS-Fed only . Alternatively , you can go without federation and use Password hash sync.

Hope this clarifies your query. WE will now close this issue. Should you have any further queries f

[2020-07-09 09:28] #58264 closed

[2020-07-09 09:29] vipulsparsh commented on #58271
@break9111 We will close this now. Feel free to tag me for any related questions.

[2020-07-09 09:29] #58271 closed

[2020-07-09 09:34] kiranpradeep commented on #58537
I have not seen a change to the document or to the code repository to address the questions raised. I would have retried if I have seen the change (git commit tag) addressing the questions.

[2020-07-09 09:44] simpleispower opened #58703 "Get-AutomationConnection does not support"
[Enter feedback here]

Get-AutomationConnection does not support in PS 7.0 Az model.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8dcc44c4-9f64-6b0c-e045-0e5e3c567970
* Version Independent ID: 6456a6aa-bdeb-651c-0c83-a84d4541f735
* Content: [Create a PowerShell runbook in Azure Automation](https://docs.microsoft.com/e

[2020-07-09 09:46] chmagitt commented on #58189
how do you create the user " Tester@satishbodduorg.onmicrosoft.com"

[2020-07-09 09:50] ifslearning opened #58704 "Unable to change the password reset localised strings"
I want to change the text of some password reset UI elements (Sign-up and self-asserted pages user interface elements), but nearly all the ones I've tried so far, including ver_but_send and verifying_blurb, return the followng error message when uploading the TrustFrameworkExtensions file:
**The localized string with ElementType: UxElement and StringId: ver_sent has an invalid StringId**

The only

[2020-07-09 09:59] simpleispower commented on #10732
If you use "$connection = Get-AzAutomationConnection -Name AzureRunAsConnection" to replace "Get-AutomationConnection" on Azure China, then, you can get nothing output from $connection.TenantID or $connection.ApplicationID or $connection.CertificateThumbprint

The belwo command will get a few outpus

 Get-AzAutomationAccount -ResourceGroupName sandbox -Name "sandbox-automation-account" -Verbose

S

[2020-07-09 10:03] Prabhakar96-dev commented on #58400
@souravmishra-msft Thank you, I need one more help. Is there any expiry date  If I didn't accept invitation.

[2020-07-09 10:11] cynthn commented on #58291
@VikasPullagura-MSFT The owners of the article that was linked deleted the article because of technical issues with the content. They don't have a timeline to replace it.

[2020-07-09 10:12] cynthn commented on #58291
@mimckitt For visibility. We might need to file a content request from our side to get this replaced.

[2020-07-09 10:24] GitHubMWJ opened #58706 "Connector Ports Test Tool Unavailble"
[The link to the Connector Ports Test Tool does not seem to work. https://aadap-portcheck.connectorporttest.msappproxy.net/ Is this still running/available? Tried multiple machines and networks including home internet on personal device]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1783274d-0e9d-84d6-39de-33048c8431b

[2020-07-09 10:26] cynthn commented on #57540
@osmanys Thanks for the feedback! The Learn module says "An Azure geography is a discrete market **typically** containing two or more regions that preserve data residency and compliance boundaries. " (emphasis mine)

The stated geographies and regions within them are listed here: https://azure.microsoft.com/en-us/global-infrastructure/geographies/

Some geographies only have one region - hence the

[2020-07-09 10:26] #57540 closed

[2020-07-09 10:26] dinesh71 commented on #58684
Sure Thanks, I will post in Microsoft QnA

[2020-07-09 10:28] cynthn commented on #57460
#reassign @danielsollondon

[2020-07-09 10:36] ramnaik-g opened #58707 "how to integrate ci cd with Copy data tool"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ed10f90-3105-b426-227e-52f95bb1f958
* Version Independent ID: b0ff5aba-cb15-2166-6d47-08f25ecf7791
* Content: [Copy Data tool Azure Data Factory - Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/copy-data-tool)
* Content Sourc

[2020-07-09 10:37] cynthn commented on #57409
@cackler Thanks for the feedback! In the short term, I added a sentence in to say that the script doesn't check for VMs attached to a load balancer. I've also filed a work request to have the script updated to handle that scenarion.

Thanks again for the feedback!

#please-close

[2020-07-09 10:37] #57409 closed

[2020-07-09 10:38] iricigor opened #58708 "Cannot select migrated subscription"
After subscription migration to new tenant, I had an issue that I was not able to select new subscription in PowerShell. `Select-AzSubscription` was not throwing any errors, but it did not switch context. It was always staying on another subscription. Login went fine, and `Get-AzSubscription` was listing both old and newly migrated subscription, just switching context did not work. What helped was

[2020-07-09 10:50] cynthn commented on #57340
@jhueppauff Thanks for the feedback! I've updated the article to reflect the control characters limitation. I also went with 12- 72 characters, because it depends on how you deploy the template, so I went with the most restrictive :)

Thanks!

#please-close

[2020-07-09 10:50] #57340 closed

[2020-07-09 10:50] gitjeph commented on #58291
Thank you. Better no article, than an incorrect article.

From: Cynthia Nottingham <notifications@github.com>
Sent: Thursday, July 9, 2020 6:12 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Jeff <jeff@verrate.net>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] broken link (#58291)

@VikasPullagura-MSFT<https://github.com/VikasPullagura-MSFT> The

[2020-07-09 10:51] cynthn commented on #57258
#please-close

[2020-07-09 10:51] #57258 closed

[2020-07-09 10:52] souravmishra-msft commented on #58400
@Prabhakar96-dev, There is no expiration date as of now for redeeming the invitation email.

[2020-07-09 10:54] Prabhakar96-dev commented on #58400
@souravmishra-msft Thank you for the confirmation

[2020-07-09 10:54] hugohhk opened #58709 "RPO threshold"
"In RPO threshold, specify the RPO limit. Alerts are generated when continuous replication exceeds this limit."
Is the "RPO Threshold" setting only a threshold to trigger for alerts, but not the actual frequency of snapshots being taken?
It was mentioned that replication for VMware VMs is continuous. So, what is the lowest possible RPO?

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-07-09 10:57] yazido opened #58710 "Empty Double Quots Cause PS Error by IP and NSG When Creating New VM"
az vm create --resource-group myRGNetwork --name myBackendVM --vnet-name myVNet --subnet myBackendSubnet --public-ip-address "" --nsg "" --image UbuntuLTS --generate-ssh-keys
This command does not work. It causes the following error:

_az vm create: error: argument --public-ip-address: expected one argument_
![PS_Create_VM_Error](https://user-images.githubusercontent.com/14967792/87031464-78676380

[2020-07-09 10:58] souravmishra-msft commented on #58614
@Prabhakar96-dev, I checked on this, as of now, only one ccReceipient is allowed in that body of the inviatation api call.

Hope this helps.

[2020-07-09 11:00] souravmishra-msft commented on #58400
@Prabhakar96-dev, Glad to help. Is it ok to close this thread out, if you feel all your queries have been answered properly?

[2020-07-09 11:01] MayankBargali-MSFT commented on #58656
@SeanFeldman Can you please point the exact line in the document where it is mentioned that that premium service bus is needed for JMS 2.0. As far as I know, it does not depend on the client SDK that you are using to communicate with the service bus.
I can only find premium mentioned in the message size i.e. the max size of a message that is supported in the premium namespace.

![image](https://us

[2020-07-09 11:03] Prabhakar96-dev commented on #58400
@souravmishra-msft , Yes you can close this thread.

[2020-07-09 11:05] cynthn commented on #57118
@originalnetadmin Thanks for the feedback! I'm still working on confirming the specifics around CentOS and PTP. Sorry it is taking a while!

[2020-07-09 11:12] jtuliani opened #58711 "Auto-encryption of data disks - very vague"
Doc states: *"In some cases, a newly added data disk might be encrypted automatically by the Azure Disk Encryption extension. Auto encryption usually occurs when the VM reboots after the new disk comes online. This is typically caused because "All" was specified for the volume type when disk encryption previously ran on the VM."*

This is all very vague. If I add a data disk, is it going to be enc

[2020-07-09 11:18] cynthn commented on #57304
@dcbrown16 Thanks for the feedback! Yep, it got lost somehow. I've added it back :)

#please-close

[2020-07-09 11:18] #57304 closed

[2020-07-09 11:19] shashishailaj commented on #58195
@YassineSOUABNI Yes , I tested this and it does work . We can assign to the Office 365 groups as well. I am not sure of the limitation on this and I am assigning this to the content authors for a review on this and they will update as needed.

[2020-07-09 11:23] ChiragMishra-MSFT commented on #58707
Hi @ramnaik-g,

When you use the copy tool, it creates the connections (linked services), datasets, pipelines for you in your Azure Data Factory.

You can then [configure source control on your ADF](https://docs.microsoft.com/en-us/azure/data-factory/source-control) and then [implement continuous integration / continuous delivery](https://docs.microsoft.com/en-us/azure/data-factory/continuous-inte

[2020-07-09 11:27] VikasPullagura-MSFT commented on #58711
@jtuliani
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-07-09 11:28] VikasPullagura-MSFT commented on #58711
@msmbaldwin
Can you please check and add your comments on this doc update request as applicable.

[2020-07-09 11:34] PramodValavala-MSFT commented on #58573
@ggailey777 @jeffhollan Looks like this is a recent update. Could you please share insights on this?

[2020-07-09 11:36] PramodValavala-MSFT commented on #58597
@xiafu-msft Glad we could help!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-09 11:36] #58597 closed

[2020-07-09 11:39] VikasPullagura-MSFT commented on #58691
@raffiloch Thanks for pointing this out.
I have updated the document and changes will go live soon.

[2020-07-09 11:40] ishepherd commented on #57378
Thanks @DaleKoetke
So if I've sent it with App Insights SDK, and it's in `customMetrics`, this means it's Application Insights log store?

[2020-07-09 11:40] VikasPullagura-MSFT commented on #58291
@cynthn Thanks for sharing the details.

[2020-07-09 11:50] amanmcse commented on #58613
@SB-o-matic  There may be multiple pathways but a convenient and supported way would be to sync On-premise users to Azure AD via AD connect and then do the migration from AAD to AAD B2C.

[2020-07-09 11:51] VikasPullagura-MSFT commented on #58698
@Brucius Thanks for posting your query.

For migrating to new subscription, you can consider creating a new cluster in new subscription and you can take a backup of current cluster and deploy them on new cluster. In case if you have many applications with persistent storage then you can use open source tool [Velero](https://velero.io/) and take backup of a cluster.

No need to re-parent the worker

[2020-07-09 11:55] amacmillanparks opened #58713 "Application Insights Continuous Export to ADLS Gen2"
The documentation states:

"Continuous Export advanced storage configuration
Continuous Export does not support the following Azure storage features/configurations:

Use of VNET/Azure Storage firewalls in conjunction with Azure Blob storage.

Azure Data Lake Storage Gen2."

However, in the continuous export dialog in the Azure Portal, ADLS Gen2 resources are selectable. When a continuous export is

[2020-07-09 11:59] ams0 commented on #31537
Wanted to circle back on this one, as now Istio has official guidance for pod capabilities (https://istio.io/latest/docs/ops/deployment/requirements/#required-pod-capabilities). Another good resource is here: https://banzaicloud.com/blog/istio-operator-psp/

In the long run, PSP is probably not the way to go and I'm looking forward to have Azure Policy for AKS (based on OPA/Gatekeeper v3, not in p

[2020-07-09 11:59] #31537 closed

[2020-07-09 12:05] vipulsparsh commented on #58439
@RayBrindley Yes I was able to verify that. You would need to open a support case and show them this behavior so that they can reach out to PG for further investigation and process.

I can help you get a one time free support ticket with MS, for that please mail at azcommunity[at]microsoft[dot]com with subject "Attn - Vipul"  and mention your subscription ID there. Let me know if you have any ques

[2020-07-09 12:13] #58691 closed

[2020-07-09 12:16] chaelli opened #58715 "How can I remove myself from an organization while I'm locked and therefore cannot login?"
Can you please explain how I can leave an organization that has locked my account? As I cannot login, the "leave" will not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b448cfd0-b673-7d04-047b-71aa62bebc27
* Version Independent ID: 75118bff-94de-c9f9-7666-d2a6f4253b11
* Content: [Leave an organization as a guest

[2020-07-09 12:23] BhargaviAnnadevara-MSFT commented on #58425
@ashinzekene Yes, the current examples that demonstrate feature flag management libraries are only around .NET and Java. If you want to use them in other languages, you will need to parse and interpret those configuration values manually.

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we wil

[2020-07-09 12:23] #58425 closed

[2020-07-09 12:28] SB-o-matic commented on #58613
@amanmcse Please elaborate on how to go about that. Or point me in the direction of documentation that supports migrating from Azure AD.

[2020-07-09 12:38] MonikaReddy-MSFT commented on #58687
@v-hakob - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-09 12:42] dgshaver commented on #58636
Since the article doesn’t explicitly state single cluster HWC configurations aren’t supported, it leaves it open to interpretation. And, if it’s not explicitly called out in the documentation as not supported, it’s typically considered to be supported by default.

There have already been at least two cases I am personally aware of where customers attempted to configure HWC to use a single Spark 2.

[2020-07-09 12:46] tamram commented on #58485
@mikeblakeuk - Thanks, I've removed the footnote.

#please-close

[2020-07-09 12:46] #58485 closed

[2020-07-09 12:58] osmanys commented on #57540
@cynthn thanks for clarifying the doubt.  I understand and agree with you.  Thank you very much.

[2020-07-09 13:00] KrishnaG-MSFT commented on #58713
@amacmillanparks Thanks for your comment! We will review and provide an update as appropriate.

[2020-07-09 13:04] RohitMungi-MSFT commented on #58702
@April-Cai  The steps mentioned above loads the model from the AZUREML_MODEL_DIR env varioable path. Which is created during a deployment during the process of data prep, train and register of the model i.e when the [pipeline step](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-use-automlstep-in-pipelines#create-and-run-your-automated-ml-pipeline) is run for all the three. Are you

[2020-07-09 13:06] Flodu31 commented on #44425
Hello,
I have exactly the same error from backend health: The Common Name (CN) of the backend certificate does not match the host header of the probe.' for both backend instances.
The certificate is valid because it works on many websites.
It's a wildcard certificate, with many DNS name inside (wildcard also).
Anyone has the same setup that works?
Thanks.
Florent

[2020-07-09 13:11] SB-o-matic commented on #58613
@vipulsparsh @amanmcse  Please reopen this case as I am yet to get an answer.

[2020-07-09 13:13] April-Cai commented on #58702
Thanks for help!
I try to publish a machine learning pipeline (which can train the model, register and deploy it). The pipeline endpoint and service scoring uri are what I want. Thus I extend the tutorial in the [document](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/machine-learning/how-to-use-automlstep-in-pipelines.md), adding the deployment in the PythonScriptStep, right af

[2020-07-09 13:18] SB-o-matic opened #58717 "Include Federation with Azure AD when SP redirects to B2C (IdP)"
Hello,

This may be a silly question so please bear with me. When the service provider redirects the user to B2C (IdP) to authenticate, is it possible to have, a ClaimsProviderSelection (button) for Azure AD (or any social IdP) on the sign-in page so that user can authenticate with a Federated Azure AD account or a social provider account instead of just a B2C local account?

---
#### Document Det

[2020-07-09 13:19] VikasPullagura-MSFT commented on #58710
@yazido As mentioned in the tutorial, the commands are to be executed on the bash shell (Azure CLI) in CloudShell. If you try it in Bash in Cloud Shell or cmd prompt if you have configured CLI locally then you will not see any issue. See below for reference.

![image](https://user-images.githubusercontent.com/48944027/87044116-bc725c80-c213-11ea-8c7e-75c8645a5742.png)

You are facing issue because

[2020-07-09 13:22] KrishnaG-MSFT commented on #58703
@simpleispower AFAIK the runbook or configuration accesses the properties for a connection using the internal Get-AutomationConnection cmdlet. So in other words, Get-AutomationConnection cmdlet works only in Azure Automation Runbooks.

If you are trying in local environment with PS version 7 and wanted to get or work on automation connection then I recommend to use [Get-AzAutomationConnection](htt

[2020-07-09 13:24] KrishnaG-MSFT commented on #58709
@hugohhk Thanks for your comment! We will review and provide an update as appropriate.

[2020-07-09 13:30] klangborste opened #58718 "Multiple IdPs for Microsoft Azure Active Directory single sign-on for JIRA / Confluence"
Hello,

is there any possible way to use multiple separated IdPs in this plugin?
For example we have two Azure ADs on different tenants and want connect both to Jira and/or Confluence. Is that possible?

Best Regards,
Max

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77a7e868-1665-e64b-d468-930e57d7796f
* Version Inde

[2020-07-09 13:33] tdimaggio commented on #7233
Thank you @iainfoulds!  I was having same issue but using my work computer where my username has an "_", adding --admin-username did the trick!

[2020-07-09 13:36] SashaSidorenko opened #58719 "put the schedule expression in an app setting doesn't work"
Hi There! I've tried to set schedule in app settings and this suggestion won't help.
So I have an appsetting
{
"name": "FGScheduleStandard",
"value": "0 */5 * * * *",
"slotSetting": false
}

and I've got added it's as schedule in settings.job file

{
"schedule": "%FGScheduleStandard%"
}

and all I have in https://{sitename}.scm.azurewebsites.net/api/triggeredwebjobs/{jobname} is

"settings":{"sche

[2020-07-09 13:39] Prabhakar96-dev opened #58720 "Is there any relationship exist between Azure session and ID-token in Azure AD"
As per my understanding there is no relation between Azure session and ID-token in Azure AD. Is there any relationship between(Access-Token , ID-Token and AzureSession) them?

[2020-07-09 13:40] ardacetinkaya opened #58721 "Azure App Service Incoming client certificates modes differences???"
What are the differences between "Allow" and "Require" for Client certificate modes in App Service general settings?
This difference should be explained much better.

How to enable client certificate for just a specific path?
Ex: All paths should not require client certificate, just /secure one require client certificate

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-07-09 13:59] amanmcse commented on #58613
@SB-o-matic You need to use Just in time migration for this purpose. Just in time migration flow fits when the user's password is not accessible. For example: Passwords are in HASH format. Or when passwords are stored in an identity provider, which you don't have access. Your system validates user credential by calling an identity provider web service.

[just in time migration v1](https://github.c

[2020-07-09 14:00] shashishailaj commented on #58696
@amudamai Thank you for your query . We will investigate and update the thread.

[2020-07-09 14:01] #58684 closed

[2020-07-09 14:05] shashishailaj commented on #58701
@hyphro Thank you for your query . We will investigate and update this thread .

[2020-07-09 14:06] shashishailaj commented on #58704
@ifslearning Thank you for your query . We will investigate and update the thread.

[2020-07-09 14:11] jeffwmiles commented on #58326
@SubhashVasarapu-MSFT thanks for that info. The document talks about "Discovered Solutions", saying "Security Center automatically discovers security solutions running in Azure but not connected to Security Center" however I don't see any discovered solutions, despite having multiple Application Gateways configured.

It also says "The Standard tier of Security Center is required at the subscriptio

[2020-07-09 14:12] shashishailaj commented on #58706
@GitHubMWJ Thank you for your query and thanks for catching this. The website is not available anymore. I will check the page and let you know about the alternatives.

[2020-07-09 14:13] Expecho opened #58722 "Needs additional details regarding log level"
In my attempt to reduce logging in production environments I've specified log levels like this:

[code]
but I found out that if I do that, any dependencies inside my methods are not tracked as `DependencyTelemetry` in Application Insights. Apparently that relies on information written with log level _information_ in category _Function.{YourFunctionName}_

after changing `"Function.EventConsumer.Us

[2020-07-09 14:14] shashishailaj commented on #58708
@iricigor Thank you for catching this. We will review this and will check with the author on how best to integrate this piece of information within the document .

[2020-07-09 14:16] shashishailaj commented on #58715
@chaelli Thank you for your query . We will investigate and update the thread.

[2020-07-09 14:20] nickmcmahan opened #58723 "Disk Encryption Set Limit"
Hi team, I think I may have identified a gap in documentation. It was identified that the Disk Encryption Set product has a limit of 50 instances per subscription, but I can't seem to find it on the quotas and limits page. Could that be added to the page?

I'm not sure if it would fall under Disks or Compute.

I appreciate your assistance!

---
#### Document Details

⚠ *Do not edit this section. I

[2020-07-09 14:20] vipulsparsh commented on #58669
@curtand Can you look into this ?

[2020-07-09 14:22] vipulsparsh commented on #58689
@JBines  Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@markwahl-msft Can you look into this ?

[2020-07-09 14:27] jonwbstr commented on #58650
Marilee, I noticed there are two articles that talk about the Trusted Sites GPO. I'd like to see the information be consistent between these two articles. For example, the other article says "add these two domains to trusted internet sites" and doesn't say how to do it.

This page says, 'add this ONE domain to trusted internet sites and here are detailed steps on how to do so"

Which domain's shou

[2020-07-09 14:34] roofiq opened #58724 "DB serverless tier with 0.5 vCore enabled"
Hello,

I want to migrate DTU DB to vCore. I'm investigating vCore general purpose specifcations and one thing seems unclear for me.
The minimum vCore that we can enable is 0.5. When auto-pause is disabled and assuming that there will be no traffic, database will run on minimum (0.5 vCore) compute power. So the overall cost would be, of course, the storage and compute cost.

Compute cost, in this

[2020-07-09 14:34] anlucen opened #58725 "Clarification of the Azure status of the VM"
[Hello,
The documentation informed this : __**_Once you enable this capability, your Windows VMs in Azure will be Azure AD joined. You cannot join it to other domain like on-premises AD or Azure AD DS. If you need to do so, you will need to disconnect the VM from your Azure AD tenant by uninstalling the extension_*_* as note. However is still not explicit that the VM only needs to be Azure AD Join

[2020-07-09 14:36] jonwbstr commented on #58650
Oh, I just noticed the "group policy preference option" - that is the one I was looking for. Not sure why I didn't notice it earlier.

Add a link to the other article on where to find detailed steps, and let me know if we should be doing one or both domains and I think we're good.

 "Group policy" option - Detailed steps
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect

[2020-07-09 14:40] ohorvath opened #58726 "ARM template aks-custom-headers"
I'd like to try out containerd support for our product but I have to provision the cluster from an ARM template instead of CLI. I can't find a way to use aks-custom-headers in an ARM template. I couldn't find any documentation around that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1e42fdb-aa59-786b-ba0d-659f67db3

[2020-07-09 14:47] spelluru commented on #56771
#reassign: spelluru

[2020-07-09 14:48] amanmcse commented on #58109
@worldspawn I have below working setup with city attribute as per the document and extension attribute as per your setup in my policy files which is working. So it is not invalid to use these Technical Profiles.

[code]

Could you please try resetting these technical profiles in TrustFrameworkBase file from starter pack. If that doesn't help, try configuring new set of policies from scratch and co

[2020-07-09 14:48] spelluru commented on #56692
#reassign: spelluru

[2020-07-09 14:48] linda33wj commented on #45574
Thanks all for the feedback. We are going to release the upgraded SFMC connector by end of next week, which will support OAuth2 w/ client ID and client secret to work with SFMC enhanced packages. You no longer need the ODBC workaround mentioned in some of the posts then.

@willturcios1 thanks for reporting the issue and sorry to hear that the connector doesn't work for you. This connector is indee

[2020-07-09 14:50] crevulus commented on #58642
Thanks for the feedback. It was very thorough.

Prosody score would be **very** useful for my purposes! Please keep me updated, and you can close this ticket if you wish.

[2020-07-09 15:09] AjayKumar-MSFT commented on #58721
@ardacetinkaya,  Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-07-09 15:35] willturcios1 commented on #45574
Thanks @linda33wj  good to hear the news about SFMC connector. As long as we get full REST support for MC it will be a huge improvement. and knowing XML support is coming too it should give us full support for MC. I know SOAP and XML are a bit outdated but I don't see Salesforce Marketing Cloud moving away from it for a while.
Thanks again!

[2020-07-09 15:40] blessedwithsins opened #58727 "Multiple Node Pools not supported with Basic Load Balancer"
[Enter feedback here]

I have multiple cases where customer created AKS Cluster with Basic Load Balancer which doesn't support Multiple Node Pools and sometimes due to which AKS Cluster goes into failed state.

Currently it doesn't give any warning when you try to add another Node Pool into an AKS Cluster created with Basic Load Balancer, but customer isn't very happy about it.

Can we please upda

[2020-07-09 15:45] RadoslavGatev commented on #13195
@nkiest @tamram - We are having issues with this. The subscriptions are registered for the [limited public preview of Azure Storage logs integration with Azure Monitor](https://docs.microsoft.com/en-us/azure/storage/common/monitor-storage?tabs=azure-powershell#what-is-azure-monitor).
Azure Portal works great. However, we tried deploying an ARM template to configure diagnostic settings on a blob se

[2020-07-09 15:50] MTA1711 opened #58728 "Unable to connect with ssh"
I followed the tutorial and I tried to enable ssh for my container app. I got this error

![image](https://user-images.githubusercontent.com/10230358/87060686-1fabc100-c20b-11ea-984c-bb8416b6f689.png)
When I run locally my image, I am able to ssh into.
sudo docker run -p 2222:2222 --cap-add=NET_ADMIN --device /dev/net/tun test-azure &
ssh root@127.0.0.1 -p 2222

There is my Docker file
`FROM node:

[2020-07-09 16:02] nitinme commented on #57515
Thanks for the response @areddish

#please-close

[2020-07-09 16:02] #57515 closed

[2020-07-09 16:05] NoMoreFood commented on #56260
Any update on this?

[2020-07-09 16:18] ChaitanyaNaykodi-MSFT commented on #58719
@SashaSidorenko , Thank you for your feedback! We will review and update as appropriate.

[2020-07-09 16:21] ChaitanyaNaykodi-MSFT commented on #58722
@Expecho , Thank you for your feedback! We will review and update as appropriate.

[2020-07-09 16:24] SaurabhSharma-MSFT commented on #58376
@elstanescu The PR for the fix has been created for author's review approval. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-07-09 16:24] #58376 closed

[2020-07-09 16:25] mimckitt commented on #58291
@cynthn can we retrieve the deleted article at all? Obviously we shouldn't make it live until it is fixed which we can add an item to get it addressed. But in the meantime, I could email @gitjeph the details of the article to use with the caution of it's not fully working.

[2020-07-09 16:26] mimckitt commented on #58291
#reassign: @mimckitt

[2020-07-09 16:26] PramodValavala-MSFT commented on #58719
@craigshoemaker @jeffhollan Looks like for this [property](https://github.com/Azure/azure-webjobs-sdk-extensions/blob/dev/src/WebJobs.Extensions/Extensions/Timers/TimerTriggerAttribute.cs#L44) using an app setting isn't supported. Could you confirm if this is expected?

[2020-07-09 16:26] mimckitt commented on #58567
I will close this out. If you still believe there is an issue just let me know and we can reopen

#please-close

[2020-07-09 16:26] #58567 closed

[2020-07-09 16:30] SaurabhSharma-MSFT commented on #58385
@mrochon The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-07-09 16:30] #58385 closed

[2020-07-09 16:30] normesta commented on #13195
Hi @RadoslavGatev - Here's a sample ARM template that our engineering teams provided that we will soon post on a sample repo. I haven't physically tried any of this out, but perhaps there is some material in here you can harvest? Here goes:

`{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {

[2020-07-09 16:30] winggndm commented on #56444
There seems to be another issue related to this when parsing data like
**2017-07-18 13:44:13.2730000** in the data source.

If I specify  yyyy-MM-dd HH:mm:ss.SSSSSSS, it returns NULL unless the milli/micro seconds are all 0s.

using yyyy-MM-dd HH:mm:ss, returns data, but with out the milliseconds.

[2020-07-09 16:36] JohnPoetzinger opened #58729 "Network performance monitor is in Network Watcher now."
[Enter feedback here]

This page is out of date. You no longer can get to Network Performance Monitor through Marketplace. You must navigate through Network Watcher.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68c6efe1-73cb-10bc-91c7-6a93265eed2c
* Version Independent ID: b4015538-934a-49c3-802b-a3f0a7e215b6
* Conte

[2020-07-09 16:40] gitjeph commented on #58291
That would be great!
We can even fix the article and return.

From: Micah McKittrick <notifications@github.com>
Sent: Thursday, July 9, 2020 12:26 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Jeff <jeff@verrate.net>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] broken link (#58291)

@cynthn<https://github.com/cynthn> can we retrieve the delete

[2020-07-09 16:47] Mel-Larkin opened #58731 "Prerequisites listed twice on this page without clear distinction why there are two"
[There are two sets of Prerequisites listed on this page which leads to some ambiguity regarding whether some or all of the Prerequisites are required. For example, I want to use the data factory to consume the Odata service, am I still required to have a self-hosted Integration runtime server located in a private network on-premise to achieve this?]

---
#### Document Details

⚠ *Do not edit this

[2020-07-09 16:48] SaurabhSharma-MSFT commented on #58239
@ErcNovelT We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-07-09 16:48] #58239 closed

[2020-07-09 16:59] zr-msft commented on #40266
Thank you for the feedback @nodeselector

Azure/aks-engine#2080 has been resolved

#please-close

[2020-07-09 16:59] #40266 closed

[2020-07-09 17:05] ramit-rulz opened #58733 "Is there a way to read secret from linked service keyvault?"
We have multiple ADF environments and we have an existing linked service for keyVault in the ADF instance.
Instead of hard-coding the secret url, is there a way to read the keyVault url from a linked service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a82e2777-1cc1-4156-2384-3174f5848b6a
* Version Independent ID: b

[2020-07-09 17:08] SatishBoddu-MSFT commented on #58189
@chmagitt Thank you for the info, this resolution really helps others as well with similar issue.

[2020-07-09 17:09] cynthn commented on #58291
@mimckitt Yep! I have the commit at the point it was deleted (which is how I tracked down the owner) so I can add the original article contents to a work item.

[2020-07-09 17:15] SB-o-matic commented on #58613
@amanmcse I have seen those samples and both use **Azure Tables**. You said this can be done with accounts in **Azure AD**

[2020-07-09 17:17] MartinJaffer-MSFT commented on #58733
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-07-09 17:22] MartinJaffer-MSFT commented on #58731
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-07-09 17:23] KalyanChanumolu-MSFT commented on #58402
@timsander1 Could you please help here.
I am not sure how to troubleshoot this or if the documentation needs any updates.

[2020-07-09 17:24] mimckitt commented on #58291
@cynthn great! @gitjeph I will email you the contents today. I see your email in the above comment.

[2020-07-09 17:25] SnehaGunda commented on #57707
Thanks, Andy for adding the example.

We will now close this issue.

#please-close

[2020-07-09 17:25] #57707 closed

[2020-07-09 17:25] mimckitt commented on #58291
#please-close

[2020-07-09 17:25] #58291 closed

[2020-07-09 17:29] aahill commented on #58398
Hi @sakabio thanks for reaching out. I was able to fix the error by using the following URL format: `https://xxxxx.cognitiveservices.azure.com/` (without the `bing/v7.0/`)

I'll create a work item to update the docs. Thanks!

#please-close

[2020-07-09 17:29] #58398 closed

[2020-07-09 17:30] brandonh-msft commented on #40253
@jlichwa doesn't that mean we should put a note at the top saying this? Like we did with [Cloud Based Load Testing](https://docs.microsoft.com/en-us/azure/devops/organizations/billing/buy-load-testing-vs?view=azure-devops) docs?

[2020-07-09 17:31] SatishBoddu-MSFT commented on #58429
@abhijitkakade914 Just checking back! Please let us know if you need further help.

[2020-07-09 17:33] timsander1 commented on #58402
Hi @stephaneey, how many physical partitions do you have in your collection? You can check this here: https://docs.microsoft.com/en-us/azure/cosmos-db/partition-data#physical-partitions. The documents in the lease container are a per-partition bookmark for the last processed document. If there is only one document in the lease container, I suspect there might be only one physical partition (probab

[2020-07-09 17:38] VidyaKukke commented on #56764
Private Endpoints are exposed at the topic Level so these impact the publishers to the topic and have nothing to do with how the subscribers are setup. They are unrelated. If you are trying to understand if Event Grid can deliver to a Webhook within a VNET - then the answer is yes provided you allow Event Grid to do so. You will need to create a NSG rule using Event Grid's ServiceTag so that it ca

[2020-07-09 17:41] SeanFeldman commented on #58656
@MayankBargali-MSFT, please see issue description. The document **doesn't** mention this. That's the issue 🙂

Perhaps @axisc can elaborate on details.

[2020-07-09 17:42] VidyaKukke commented on #56765
Can you please help us understand the ask here? Are you asking in the context of ServiceTags?

[2020-07-09 17:56] jlichwa commented on #40253
@brandonh-msft  this document was removed and don't exist anymore. We just used routing to new document for rotation of storage account keys. New one is not deprecated.

[2020-07-09 17:58] ARGs-code opened #58734 "Changing Account Domain results in RRSessionException"
[Enter feedback here]
If I set the account domain to eastus2.mixedreality.azure.com, the RemoteRenderingCoordinator script throws an error and fails to create or connect to a session. If the account domain is westus2.mixedreality.azure.com it functions fine.

The tutorial page specifically says to change the Account domain to match your settings. So this broke the tutorial for me until I figured o

[2020-07-09 18:08] dave-read opened #58735 "Documentation should note what the max subnet size is and what factors/usage drive sizing decision"
The documentation should note what the max subnet size could be, and what drives that size.  For example App Gateway subnet size is a function of max instances, which a customer can control.  The Bastion docs note a minimum of /27, but no description of what usage scenarios (if any) would trigger the need for a larger address space and what the maximum size is.  If it's a fixed size, then the doc

[2020-07-09 18:11] anuragdalmia commented on #58687
We currently do not show deleted subscriptions in Azure portal. We are working on adding activity logs for deleted subscription scenario which will allow you to do this audit. We expect to launch this by end of this year. Hope that helps

[2020-07-09 18:12] samirvora-MS opened #58736 "Names with Spaces"
[Enter feedback here]

Name with spaces are allowed to be entered but cause issues in deployment scripts.
spaces in triggers and pipelines when using parameters will cause issues if the spaces aren’t accounted for in deployment scripts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65f81ce0-8915-2390-2c8e-53eb8a93180b

[2020-07-09 18:12] MonikaReddy-MSFT commented on #58695
@jurjenoskam - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-09 18:12] mike-urnun-msft commented on #51676
@ravick4u Apologies for the late reply. Presently, CancellationToken only works with C#/F#/VB runtimes. If you feel strongly about the support for the Powershell runtimes, please consider submitting a feature request on [Azure UserVoice](https://feedback.azure.com/forums/355860-azure-functions) for others to upvote and the Functions team to review and prioritize for the product roadmap.

We will n

[2020-07-09 18:12] #51676 closed

[2020-07-09 18:16] MonikaReddy-MSFT commented on #58700
@HuwSilverthorn - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-09 18:17] MonikaReddy-MSFT commented on #58687
@anuragdalmia  - Thank you for providing your insights.
@v-hakob - I hope @anuragdalmia has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-09 18:17] #58687 closed

[2020-07-09 18:21] MonikaReddy-MSFT commented on #58720
@Prabhakar96-dev - Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?

Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft Q&A or Stack Overflow. Thank you for your understanding.
 

[2020-07-09 18:21] #41674 closed

[2020-07-09 18:22] mike-urnun-msft commented on #52323
@gogux Apologies for the late reply and thank you for bringing this to our attention. PR that addresses this issue was created by @ggailey777 and the updates will be live soon.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-07-09 18:22] #52323 closed

[2020-07-09 18:23] zr-msft commented on #41674
Thank you for the feedback @ilya-spv

I have updated the article to incorporate your feedback. The changes should be available soon.

[2020-07-09 18:28] GFoley83 opened #58737 "Verify scopes for APIs in Startup.cs instead of controllers"
The example shown here:
https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-protected-web-api-verification-scope-app-roles#verify-scopes-in-apis-called-on-behalf-of-users

Show how to check for the required scope inside the API controller which is not ideal and would have to be done for every method on every controller and generally considered bad practice for a few reasons.

[2020-07-09 18:30] MarileeTurscak-MSFT commented on #58718
@klangborste
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-09 18:31] davidsmatlak commented on #58723
#assign:davidsmatlak

[2020-07-09 18:32] MarileeTurscak-MSFT commented on #58718
Since this is more of a product question than a document issue, please reach out in [Microsoft Q&A](https://docs.microsoft.com/_themes/docs.theme/master/en-us/_themes/global/external-sign-in.html).

[2020-07-09 18:32] #58718 closed

[2020-07-09 18:36] jdorecae commented on #58324
Thank you @SwathiDhanwada-MSFT  and @mrbullwinkle ! No further questions!

Have a great day!

[2020-07-09 18:38] SubhashVasarapu-MSFT commented on #58336
@dbrennan , Appreciate your patience. Mapping temporary subdomain is always been an option. You can skip that step if you are not in production. Please let us know at azcommmunity@microsoft.com if you still face any error while mapping custom domain for deeper investigation.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly con

[2020-07-09 18:38] #58336 closed

[2020-07-09 18:41] rebremer commented on #58426
Thanks @saurabhsensharma , any update on this?

[2020-07-09 18:42] mike-urnun-msft commented on #52817
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-07-09 18:42] #52817 closed

[2020-07-09 18:42] jeevansd commented on #58718
@klangborste Today our plugin does not support this scenario. But I would love to hear more on this scenario. Can you please send the detail requirement here to this alias AADSpecialIntegrationSupport@service.microsoft.com

[2020-07-09 18:44] shashishailaj commented on #57949
@belaie As we have not received any response , we will be closing this issue now. The app roles and scopes are different things as explained in the article and cannot have same values by design.

Thank you.

[2020-07-09 18:44] #57949 closed

[2020-07-09 18:47] bgh00 opened #58738 "VMware Data Disk Supported Size"
Upper sections of the article list 8TB as the supported size for data disks,   "Azure VM requirements" section at the bottom lists 4,095 GB.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57139c50-3254-d78a-486c-bea6cbd5885d
* Version Independent ID: 6e1a0226-4bea-f720-08cd-77e6dadac264
* Content: [Support for VMware m

[2020-07-09 18:49] femsulu commented on #58723
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-07-09 18:51] davidsmatlak commented on #58723
@nickmcmahan Thank you for the documentation feedback. Please provide additional information about how the **Disk Encryption Set** limit was identified. If you found the limitation in another Microsoft document, please provide the link. To clarify, are you referring to Compute (virtual machines) or another service?

[2020-07-09 18:58] SnehaGunda commented on #58449
@michaelhambe as Mike mentioned above, the YAML step is optional, it's only needed if you are setting up the pipeline with a YAML task. You don't need it for your case. I made some updates to the content and moved the YAML section to the "Add the task" section.

[2020-07-09 19:00] MonikaReddy-MSFT commented on #58734
@ARGs-code - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-09 19:11] xyz92 commented on #57835
@CHEEKATLAPRADEEP-MSFT Hi any updates on this please?

[2020-07-09 19:12] nickmcmahan commented on #58723
Hi @davidsmatlak - this pertains to the Disk Encryption Set service (/providers/Microsoft.Compute/diskEncryptionSets/).

This limit was identified by deploying many Disk Encryption Set resources and running into the issue. Once you hit 50, you can't deploy any more. You're met with this error on your deployment:

![image](https://user-images.githubusercontent.com/56110610/87080859-02b4c500-c1ee-11

[2020-07-09 19:23] giterdn opened #58739 "Please clarify "Windows Settings details""
In the section "Windows Settings details" it is unclear in the first 2 paragraphs what is meant by "Other entries" and what are "Settings Group column"

If "Other entries" refers to the "Sync your settings" on/off switch called "Other Windows settings" it should say this instead, and otherwise clarify what is mean by "Other entries".

If "Settings Group column" refers to the first column in the ta

[2020-07-09 19:26] nsaiisasidhar opened #58740 "Get-AzureRmApiManagementCertificate not returning the certificate list. Need to get management certificate's list in a subscription."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-07-09 19:33] Pavithir commented on #56260
This is just a placeholder right now - there is no implementation backing it. We are working on it and will have docs explaining its usage when it is ready to be used.

[2020-07-09 19:35] davidsmatlak commented on #58723
@nickmcmahan Thanks for the information. I'll review the document and post a comment when it's updated.

[2020-07-09 19:40] SadiqhAhmed-MSFT commented on #58709
@hugohhk Replication is continuous but snapshots are taken every 5 mins. The lowest possible RPO would be a few seconds but please note that this is not guaranteed and that we do not provide any SLA for RPO.

Regarding alerts, if the RPO threshold is set to 60 minutes in replication policy, this has nothing to do with the regular App or crash consistent snapshots to be taken by ASR. This basically

[2020-07-09 19:46] JamesTran-MSFT opened #58742 "Add sentence to purge protection"
Under the Enable Purge Protection section. Add a sentence/note stating that disabling purge protection isn't supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c75604b-fb01-6f7d-9317-6ec627e11bbf
* Version Independent ID: 68ebbb53-02e1-7b55-8d01-dce7c5b6d8f5
* Content: [Azure Key Vault - How to use soft-delete

[2020-07-09 19:46] SadiqhAhmed-MSFT commented on #58738
@bgh00 Thanks for bringing this to our attention. We will review this information with the content/product owner and get back to you shortly.

[2020-07-09 19:47] JamesTran-MSFT commented on #58742
Updating docs

[2020-07-09 19:52] AviateX14 opened #58743 "Azure Frontdoor: Clarification on shared response (caching)"
Hi, I have a question regarding this specific sentence in the Azure FrontDoor docs pertaining to caching:

As I read that, if two or more users made a request to the same url (e.g., POST /api/authenticate) they both may receive the same response - presumably whichever of the two requests responds first.

I can only assume that my understanding here is incorrect, as in my example of authenticating

[2020-07-09 19:56] JamesTran-MSFT opened #58744 "Edit sentence to purge protection"
Under the Enable Purge Protection section, edit the sentence stating that "disabling purge protection isn't supported at this time."

Change to:
"disabling purge protection isn't supported."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 761d042e-6cbd-7ee3-83bc-3633f7bcaf19
* Version Independent ID: baffab17-d2b0-2cf7-

[2020-07-09 19:56] JamesTran-MSFT commented on #58744
Updating doc

[2020-07-09 20:04] JamesTran-MSFT commented on #58742
PR created and merged to update CLI doc.

[2020-07-09 20:04] JamesTran-MSFT commented on #58744
PR created and merged to update PS doc.

[2020-07-09 20:10] SnehaGunda commented on #58408
The above PR adds CLI example. We will close this issue now.

#please-close

[2020-07-09 20:10] #58408 closed

[2020-07-09 20:42] clineer opened #58745 "Generated Swagger for Logic App is missing an attribute"
I was looking at this article on the logic app management API: https://docs.microsoft.com/en-us/rest/api/logic/workflows/listswagger?source=docs

The example shows a sample output in the Swagger JSON format, but when I import this into Swagger there is one simple attribute missing that I have to correct. It just needs a version property under the info object. Here is what the sample has:

{
  "swa

[2020-07-09 20:42] SnehaGunda commented on #58449
We will now close this issue if there aren't further questions.

#please-close

[2020-07-09 20:42] #58449 closed

[2020-07-09 20:45] MartinJaffer-MSFT commented on #58731
Thank you for bringing this to our attention @Mel-Larkin .  Your feedback helps improve our documentation.

What these sections are trying to say is:
- You _always_ need to **Set up SAP Gateway** and **Activate and configure the SAP OData service**.
- If your data store is behind a firewall, inside a Vnet, or otherwise isolated from the general internet, then you _also_ need to
**Set up a Self-Hos

[2020-07-09 20:46] nickmcmahan commented on #58723
Thanks @davidsmatlak!

[2020-07-09 20:50] memildin commented on #47137
Within the next week, a new version of this page will be released. It has been completely rewritten and will include this information.

Thanks for the feedback.

#please-close

[2020-07-09 20:50] #47137 closed

[2020-07-09 21:01] SatishBoddu-MSFT commented on #58429
Hello @abhijitkakade914 ,Since we didn't received any response, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

For any further technical questions you can also make use of [Microsoft's Q&A](https://docs.microsoft.com/en-us/answers/index.html) forum whe

[2020-07-09 21:01] #58429 closed

[2020-07-09 21:05] dsi28 opened #58747 "Can you please update this article to include the current supported Java version?"
Hello,

Can you please update this article to include the current supported Java version? The article says:

The Azure Functions runtime supports Java SE 8 LTS (zulu8.31.0.2-jre8.0.181-win_x64). This guide contains information about the intricacies of writing Azure Functions with Java.

This article has not been updated since 9/2018 and the current Java version is zulu8.42.0.23-jre8.0.232-win_x64

[2020-07-09 21:11] MartinJaffer-MSFT commented on #58733
@ramit-rulz  , I am uncertain I fully understand your ask.

If you mean, parameterize the name of the secret to fetch in the web request, so you can fetch any secret in a vault, then, yes that can be done.
![image](https://user-images.githubusercontent.com/46612670/87091039-d7ca7100-c1ed-11ea-9972-ed2c55e3a98a.png)

[2020-07-09 21:14] bandersmsft commented on #58373
@Rinshad I verified my assumptions with the Azure Storage engineering team: Costs for containers are aggregated in whatever service tiers/meter subcategory they belong to--that's the lowest level of cost detail available. Names of storage containers names aren’t available in billing data.
#please-close

[2020-07-09 21:14] #58373 closed

[2020-07-09 21:16] kk-src opened #58749 "Broken link and fixes required for OSBA references"
The document refers to [OSBA](https://github.com/Azure/open-service-broker-azure) which seems to be no longer maintained by Microsoft. Perhaps this now needs to point to [Azure Service Operators](https://github.com/Azure/azure-service-operator).

Additionally the links on setting up word press at the end of the page points to AKS integrate website instead of specific example.

Kindly consider fixi

[2020-07-09 21:29] mike-urnun-msft commented on #54934
@anuxps Apologies for the late reply. It seems that you have resolved this issue: https://stackoverflow.com/questions/61768353/azure-functions-with-durable-functions-on-net-framework

Since this channel is more for driving improvements for MS Docs, it'd be better in the future to post this type of questions either on Stackoverflow as you did or on our new QnA platform: https://docs.microsoft.com/e

[2020-07-09 21:29] #54934 closed

[2020-07-09 21:38] antonihanus opened #58750 "Add a query showing billable data by table instead of solution"
As solution can contain many tables, it can be helpful to see which tables inside the solutions have billable data.  A particular example is 'Security' where it would be helpful to see SecurityEvent (so we know whether to adjust common, minimal setting etc) and all the other security tables broken down.  This query should do that:

Usage
| where TimeGenerated > ago(32d)
| where StartTime >= starto

[2020-07-09 21:39] miaojiang commented on #57948
You could use mTLS to communicate between APIM and the ingress controller.

[2020-07-09 21:44] DeepikaSadahiro opened #58751 "ADTv2: Add link to DTDL v2 spec in concept article"
For this sentence:
Azure Digital Twins uses DTDL version 2.

Add link to the DTDL v2 spec for 'version 2'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da072172-4002-c046-df10-b401e6df0922
* Version Independent ID: 53fe5b34-6be2-76f9-086f-2b8d19496be3
* Content: [Custom models - Azure Digital Twins](https://docs.micr

[2020-07-09 21:45] blaiseAI commented on #57619
@mrbullwinkle Thanks alot, looking forward for the updates

[2020-07-09 21:56] AjayKumar-MSFT commented on #58444
@JoseFMP, Thanks for further clarification.
@msangapu-msft, Requesting your comments on this.

[2020-07-09 21:57] dgusoff opened #58752 "Accounts in this organizational directory only"
When setting up the AAD application to enable the Azure AD user flow, [step 6](https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-add-identity-providers#create-an-azure-active-directory-application) says to select the option "Accounts in this organizational directory only".

This does not seem correct, and when I try to access the user flow with an Azure AD account I get:

AADSTS

[2020-07-09 22:09] gs-repo commented on #58191
Hi Paul,

Following up to see if you have feedback.

Thanks,

Gurinder

From: Pat Altimore <notifications@github.com>
Sent: July 6, 2020 1:45 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Gurinder Singh Mann <gsmann@blubyte.io>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Issue setting up peer nodes with /azhlf tool (#58191)

Hi @gs-repo<https

[2020-07-09 22:10] JamesTran-MSFT commented on #58744
Doc updated.

[2020-07-09 22:10] #58744 closed

[2020-07-09 22:10] JamesTran-MSFT commented on #58742
Doc updated.

[2020-07-09 22:10] #58742 closed

[2020-07-09 22:13] TravisCragg-MSFT commented on #58729
@JohnPoetzinger Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-07-09 22:14] TravisCragg-MSFT commented on #58735
@dave-read Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-07-09 22:17] SnehaGunda commented on #57861
@burkeholland You have helped with this Quickstart doc, can you please look into this issue?

[2020-07-09 22:21] SnehaGunda commented on #58402
Also adding @ealsur for help.

[2020-07-09 22:26] lunar87 opened #58753 "For example should have a example drive letter"
[Enter feedback here]
At https://docs.microsoft.com/en-us/azure/virtual-desktop/create-file-share#configure-ntfs-permissions towards the end it has a for example, but the drive letter is still  <mounted-drive-letter>. Just need to replace with P: or something.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b190fd1-42f

[2020-07-09 22:28] Mike-Ubezzi-MSFT commented on #57861
A quick and easy way to handle this is: `["NODE_TLS_REJECT_UNAUTHORIZED"] = 0;` but perhaps there is an issue with the SDK or the Emulator.

[2020-07-09 22:30] ptw2001 opened #58754 "Several typos where you have used on-premise instead of on-premises. Please fix. :)"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a2d44d9-f737-c619-a0b9-cf48755cd2ca
* Version Independent ID: 2b6d043e-52fd-d066-d599-3eff99c47756
* Content: [Sign in with email as an alternate login ID for Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/authenticat

[2020-07-09 22:30] bandersmsft commented on #58632
@Klaas- Hi. The Billing enginnering team is investigating the issue. When we have information to share with you, we'll repond here.

[2020-07-09 22:46] DeepikaSadahiro opened #58755 "Add best practice to validate off line prior to uploading models"
In the Validating Models section, add a Tips bubble for a best practice:
Validate your models offline prior to uploading them to your ADT instance.  Use the Validator tool or our C# parser lib.
Also call out that if using the Parser, use a version that is compatible with the ver in ADT.  (3.7.0 for public preview)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-07-09 22:56] JamesTran-MSFT commented on #58754
@ptw2001
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

To help with updating this doc, would you be able to cite the specific occurrences that you'd like to be fixed?

[2020-07-09 23:05] kenwith commented on #57286
@manorris6 thank you for taking the time to provide the feedback and make the content better. I have submitted a PR to add the note you pointed out. It should go live by tomorrow. Thanks.

#please-close

[2020-07-09 23:05] #57286 closed

[2020-07-09 23:10] ramit-rulz commented on #58733
@MartinJaffer-MSFT Apologies for not being clear earlier. What I meant to ask is, is it possible to somehow pass the keyVault Url substring in the secret Url, from an existing KeyVault Linked Service?
For example is something like this possible as the secret Url = @concat(<KeyVaultBaseUrlFromLinkedService>, '/secrets/TopSecretPassword?api-version=7.0')
where <KeyVaultBaseUrlFromLinkedService> is t

[2020-07-09 23:18] RyanHill-MSFT commented on #47611
We've released https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-provider-openid-connect that provides instructions for configuring Sign-in with Apple with app services. If you run into issues, please let me know.

/cc @m-andersen @NunoBem @vignatov @masonmc @zababahin @yonkahlon

[2020-07-09 23:27] LuisBosquez commented on #57152
Thanks @SnehaGunda! I added some comments to the PR.

@Bartolomeus-649 thanks for your feedback! I am the program manager for the Gremlin API.

When you said the following, what are the topics that you'd like to be covered as an introduction to the Gremlin API?
[code]

[2020-07-09 23:30] LuisBosquez commented on #57152
@Bartolomeus-649 regarding this comment:
[code]

These terms are based on the Apache Tinkerpop standard for graph databases, and are used correctly in the article. Could you explain what you found confusing about their repetitions?

[2020-07-09 23:30] iainfoulds commented on #58754
Two instances currently being updated. This is also an easy one to submit your own PR when you notice specific typos like this to correct them. Thanks.

[2020-07-09 23:33] #58754 closed

[2020-07-09 23:46] LuisBosquez commented on #57152
Additionally, the codeblocks are describing the database query language, not the app language. The Gremlin query language is based on the Groovy programming language, which is an implementation of Java. This is the reason why we used the Java highlighting type.

[2020-07-09 23:47] KranthiPakala-MSFT commented on #58595
@durayakar This repo is to drive doc improvements. After reviewing your feedback, it seems that you are referring to a specific used case scenario (using your own Virtual Network) and not directly related to document content, we request you to please post your question on "_[Microsoft Q&A - Azure Databricks](https://docs.microsoft.com/en-us/answers/topics/azure-databricks.html)_" and other forums

[2020-07-09 23:47] rohitnayakmsft commented on #58695
@jurjenoskam Thanks for calling this out. Will modify to be more explicit"Connections to private endpoint only support Proxy as the connection policy regardless of the server level setting for Connection Policy."

[2020-07-10 00:00] rohitnayakmsft commented on #57075
#please-close

[2020-07-10 00:00] #57075 closed

[2020-07-10 00:01] rohitnayakmsft commented on #55679
@NavtejSaini-MSFT  this needs to be reassigned to Geo-DR area owners

[2020-07-10 00:01] Mike-Ubezzi-MSFT commented on #58724
@roofiq Thank you for the inquiry. Yes, this is correct. If you disable the auto-pause functionality, you will be charged for compute + storage each month. This is minus any other charges for features unrelated to the auto-pause functionality. Pricing per vCore is as follows, and you would be billed at .5 vCore rate.

`$0.0001450/vCore-second
($0.5218/vCore-hour)`

Please let me know if you have a

[2020-07-10 00:02] Karishma-Tiwari-MSFT commented on #58726
Are you trying to use Ubuntu 18.04 as the default OS? The containerd runtime is only supported on nodes and node pools using the AKS Ubuntu 18.04 image. Let me know.

[2020-07-10 00:07] Karishma-Tiwari-MSFT commented on #58727
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-10 00:12] mamccrea commented on #58182
Thanks for pointing this out @smitty-codes. It was not intentional, so I've updated it with the correct image. Changes will go live tomorrow. Thanks again!

#please-close

[2020-07-10 00:12] #58182 closed

[2020-07-10 00:13] KranthiPakala-MSFT commented on #58624
@jessedavidsmit The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

Thank you!

[2020-07-10 00:13] #58624 closed

[2020-07-10 00:17] cynthn commented on #56216
@scarson Thanks for the feedback! Once a size is released, it can take a while to get the benchmarks completed and posted. As soon as it's ready, we will get them added.

FYI - @daviburg

#please-close

[2020-07-10 00:17] #56216 closed

[2020-07-10 00:19] cynthn commented on #56557
@olavt Thanks for the feedback!

There is an open work item to update the availability docs. I'll add this feedback to that work item. Thanks again!

#please-close

[2020-07-10 00:19] #56557 closed

[2020-07-10 00:20] ChaitanyaNaykodi-MSFT commented on #58747
@dsi28 ,Thank you for your feedback! We will review and update as appropriate.

[2020-07-10 00:23] JasonWHowell commented on #27569
@femila could you please check if there is a better contact for Event Hub limits question from the docs?

[2020-07-10 00:27] JasonWHowell commented on #43016
@cherylmc Is this possible to document, or if not, can we decide and close the issue? Thanks, Jason

[2020-07-10 00:42] SatishBoddu-MSFT commented on #58751
@DeepikaSadahiro
Thanks for the feedback! We are currently looking into this and will update you shortly.

[2020-07-10 00:42] SatishBoddu-MSFT commented on #58755
@DeepikaSadahiro
Thanks for the feedback! We are currently looking into this and will update you shortly.

[2020-07-10 01:07] JasonWHowell commented on #58375
@MarlEva thanks for assisting @JJDE here. It seems like you provided a thoughtful answer, so I'll proceed to close out this thread, but let us know if there is further clarification needed. #please-close

[2020-07-10 01:07] #58375 closed

[2020-07-10 01:08] JasonWHowell commented on #56825
I'm assuming this got resolved over email. If not, please let us know if we need to continue here. #please-close

[2020-07-10 01:08] #56825 closed

[2020-07-10 01:11] break9111 commented on #58271
@vipulsparsh
Sorry for the late reply.
Also, thank you again for the explanation.

Then,I understand that it is described as "double" when a user is required to complete the MFA at both places.
 Thank you very much. There is no problem in closing.

[2020-07-10 01:11] JasonWHowell commented on #58450
@anbene thanks for assisting @wmmartins here. It sounds like it's beyond what we can handle in the thread here, so marketplace support is needed to engage further.

@wmmartins After working with support, if you find out something is really wrong with the way we've documented this, please let us know and we can look at making doc adjustments. Thanks! Jason

#please-close

[2020-07-10 01:11] #58450 closed

[2020-07-10 01:15] JasonWHowell commented on #58636
Hassan made the update in https://github.com/MicrosoftDocs/azure-docs-pr/pull/121850

@dgshaver thanks for the improvement idea. FYI, reply by email isn't good (leaks too much information from your signature). If you want to remove your contact details, see the github issue in the browser at https://github.com/MicrosoftDocs/azure-docs/issues/58636 and see if you can edit those messages.

Thanks, J

[2020-07-10 01:15] #58636 closed

[2020-07-10 01:20] Groovycho opened #58756 "Need a guide for Non-validated VPN devices to be validated"
As a hardware vendor, looking for a guide how to be validated by Microsoft

[2020-07-10 01:20] JasonWHowell commented on #58533
@ajlam thanks for answering the questions posed here by @sayanghosh123

It looks to be wrapped up, but if there is further discussion feel free to continue. #please-close

[2020-07-10 01:20] #58533 closed

[2020-07-10 01:31] MonikaReddy-MSFT commented on #58756
@Groovycho - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft Q&A or Stack Overflow. Thank you for your understanding.
 

[2020-07-10 01:32] JasonWHowell commented on #58218
@horns-k
For tracking these great ideas, I'd recommend using the user voice site at https://feedback.azure.com/forums/597976-azure-database-for-postgresql  That way other users can vote up good ideas. GitHub Issues on docs isn't a good place for long-lived suggestions since this is a forum about the documentation pages themselves.

I personally think it's too complicated to make a public document

[2020-07-10 01:32] #58218 closed

[2020-07-10 01:34] MonikaReddy-MSFT commented on #58745
@clineer- Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-10 01:37] MonikaReddy-MSFT commented on #58725
@anlucen - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-10 01:38] MonikaReddy-MSFT commented on #58717
@SB-o-matic - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-10 01:39] MonikaReddy-MSFT commented on #58728
@MTA1711 - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-10 01:58] amanjeetsingh opened #58757 "Where is Total Cancelled Commitment applied?"
Hi

According to the documentation, "Total cancelled commitment can't exceed 50,000 USD in a 12-month rolling window. ".
Question is where is this applied - EA or subscription?

Just need clarity on how refunds are processed and where does that total cancelled commitment apply? It is a subscription? An EA enrolment? Or somewhere else?

Thanks,
Amanjeet

---
#### Document Details

⚠ *Do not edit th

[2020-07-10 02:09] vipulsparsh commented on #58736
@samirvora-MS Thanks for reaching out. We will investigate and update the thread.

[2020-07-10 02:10] VitalyMCT opened #58758 "Maximum of 20 parallel iterations"
There are several references in the article to "20" as the max for concurrent iterations. Is this number hard-coded or is it in fact driven by batchCount? It seemsthe latter is the case, however, the documentation is a little conflicting on the topic.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 633f2967-1c61-51de-57

[2020-07-10 02:12] vipulsparsh commented on #58737
@GFoley83 Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-07-10 02:15] vipulsparsh commented on #58739
@giterdn  Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-07-10 02:17] vipulsparsh commented on #58752
@dgusoff   Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-07-10 02:20] vipulsparsh commented on #58743
@AviateX14  Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-07-10 02:22] vipulsparsh commented on #58749
@kk-src   Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@ajlam Can you please look into this ?

[2020-07-10 02:39] hugohhk commented on #58709
Hi,

Thanks for your answer.
So can I assume that for VMware-to-Azure ASR, crash-consistent snapshots are also taken every 5 minutes?
Because this wasn't mentioned in the VMware-to-Azure ASR FAQ. It was only mentioned for Azure-VM ASR FAQ.

And if crash-consistent snapshots are taken every 5 mins, then why the lowest RPO is not 5 mins, but could be as low as a few seconds?
In my understanding, tho

[2020-07-10 02:53] sebansal commented on #54661
Addressed

[2020-07-10 02:53] sebansal commented on #54661
#please-close

[2020-07-10 02:53] #54661 closed

[2020-07-10 03:33] Shaktikantpadhi opened #58759 "MAG - Academic knowledge API field of study(Topic) query improvement."
Hi Team,

Currently, I am using the below query to fetch the chemistry-related articles form MAG. I want to improve my query to fetch all the chemistry-related articles along with its child field of study(child-topics) from MAG.
- Is there any way to improve my query to get better results. Pls, let me know your thought and ideas.

Query:
-------
https://api.labs.cognitive.microsoft.com/academic/v1

[2020-07-10 03:35] Shaktikantpadhi commented on #58759
My query represents to fetch the "chemistry" topics details for a specific date.

[2020-07-10 03:48] BharathNimmala-MSFT commented on #58750
@antonihanus Thank you for your feedback, we will look into it and get back to you at the earliest.

[2020-07-10 03:52] fire-fly opened #58760 "This link is obsolete"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e76ce485-5a06-add0-76a3-b823fb6c3c7a
* Version Independent ID: af78deae-d409-6261-a817-b504965d1988
* Content: [Cancel your Azure subscription](https://docs.microsoft.com/en-in/azure/cost-management-billing/manage/cancel-azure-subscription)
* Content

[2020-07-10 04:11] ryotokuro commented on #58760
@fire-fly Which link are you referring to?
The information in the doc seems valid.

[2020-07-10 04:24] ryotokuro commented on #58749
Yep seems like they have switched to the alternative as evidenced here

Consequently then the Wordpress guide could be removed then, or the page might have to be restored and updated to use ASO.

[2020-07-10 04:27] ryotokuro commented on #58747
@dsi28 do you know if it supports the current Java version?

[2020-07-10 04:30] ryotokuro commented on #58736
That seems to be consistent with the rules. Should it be added as a !important recommendation?

[2020-07-10 04:43] TuanVanTrinh opened #58761 "MFA not working for AD free license & security default"
[Enter feedback here]
Hi,

I'm working on LAB and see that MFA not working for AD free license & security default. After I enable MFA with AD premium and the security default policy works (ask me for MFA when I login).

Thanks,
Tuan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: feb03e63-f543-d85b-9daf-16b4d1e13a60
* V

[2020-07-10 04:57] ram-msft commented on #58512
@lostmygithubaccount Could you please help with the reference links for CorrelationId and identifier parameters.

[2020-07-10 05:01] #58422 closed

[2020-07-10 05:11] shashishailaj commented on #58706
@GitHubMWJ This tool is not available anymore. The reference was a stale entry still present . We have [removed the same](https://github.com/MicrosoftDocs/azure-docs-pr/pull/121792). You can use the connector troubleshooter https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-proxy-debug-connectors#flowchart-for-connector-issues and check the step 3 related to port check

[2020-07-10 05:11] #58706 closed

[2020-07-10 05:13] shashishailaj commented on #58109
@worldspawn Were you able to review the response and test it in your environment ? Please let us know and we can help you further.

Thank you.

[2020-07-10 05:19] SatishBoddu-MSFT commented on #58734
@ARGs-code Thanks for the feedback!

Could you please let us know any error logs completely or any error log screen grabs ? to better understand the issue.
Please mask/hide any sensitive info while uploading error logs or screen grabs from your machine.

[2020-07-10 05:22] vipulsparsh commented on #58753
@lunar87  Thanks for the feedback, we will investigate and update this thread accordingly.

[2020-07-10 05:39] SatishBoddu-MSFT commented on #58734
@ARGs-code Could you please refer the [Supported Regions for Azure remote Rendering](https://docs.microsoft.com/en-us/azure/remote-rendering/reference/regions).

The official Microsoft Documentation page provides list of supported regions as of now. Which **do not include** **eastus2**

![image](https://user-images.githubusercontent.com/62923178/87120032-5b0eb580-c234-11ea-9ebd-fa97c51d56e0.png)

[2020-07-10 05:41] SadiqhAhmed-MSFT commented on #58760
@fire-fly Thank you for reaching out to us. Please note that this channel (the [Azure Docs](https://github.com/MicrosoftDocs/azure-docs) repository) is only for driving improvements related to the Azure documentation. It would be great if you can share the documentation link you are referring, so that we can assist you accordingly.

@ryotokuro Thanks for the inputs.

[2020-07-10 05:44] worldspawn commented on #58109
hi @shashishailaj i have not had time as yet. Was hoping to try it again sometime before cob Monday.

[2020-07-10 05:47] SadiqhAhmed-MSFT commented on #58757
@amanjeetsingh Thanks for the comment. We are looking into this and will get back to you shortly.

[2020-07-10 05:47] MayankBargali-MSFT commented on #58656
@SeanFeldman There are two articles that are mentioned :
1. Linked document details: https://docs.microsoft.com/en-us/azure/service-bus-messaging/migrate-jms-activemq-to-servicebus
2. This article:https://docs.microsoft.com/en-us/azure/service-bus-messaging/migrate-jms-activemq-to-servicebus where you have mentioned that this article doesn't mention that JMS 2.0 is needed for ASB premium. So as pe

[2020-07-10 05:54] souravmishra-msft commented on #58400
Closing this thread for now.

[2020-07-10 05:54] #58400 closed

[2020-07-10 05:57] souravmishra-msft commented on #58397
@goh-chunlin, I get it. This clears things and understanding. I will wait for the PR approval and would keep the thread open until then. Please feel free to reachout in case you would need any help with that PR.

[2020-07-10 05:58] shashishailaj commented on #58426
@rebremer I believe this is specific to the SQL studio product as they may be using an old ADAL wrapper . I am still researching internally and have reached out to some people in the SQL team on this and will update this once I have more information by next week.

[2020-07-10 06:04] juyamash opened #58763 "Virtual node has already released."
This doc says 'Virtual nodes are currently in preview in AKS' in 'Burst to Azure Container Instances' section'.
It was released at last year. Could you please update this doc?
https://azure.microsoft.com/en-us/updates/azure-kubernetes-service-aks-virtual-node-is-now-available/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-07-10 06:05] CHEEKATLAPRADEEP-MSFT commented on #57835
@linda33wj Could you please look into this issue?

[2020-07-10 06:06] MayankBargali-MSFT commented on #58603
@mattruma Thanks for reporting it. I was able to repro the issue at my end and it looks like POCO functionality is not added to the storage blob trigger. This would be the feature request and you can create the request here: https://github.com/Azure/azure-webjobs-sdk/
I will be working with my team to confirm it and will be updating the document accordingly

[2020-07-10 06:11] souravmishra-msft commented on #58737
Hello @jmprieur,
It would be great if you can take a look at this ask and share and alternative.

[2020-07-10 06:12] mike-urnun-msft commented on #57948
@NehaOberoi92 I hope the above answers your question.

Since this channel is for driving improvements towards MS Docs and we didn't determine any changes upon review of your feedback, we will now proceed to close this thread. If there are further questions regarding this matter, please open a new post on our newly launched [QnA platform](https://docs.microsoft.com/en-us/answers/index.html) and we

[2020-07-10 06:12] #57948 closed

[2020-07-10 06:19] SeanFeldman commented on #58656
The document https://docs.microsoft.com/en-us/azure/service-bus-messaging/migrate-jms-activemq-to-servicebus had the information indicating JMS 2.0 is **only** supported with ASB Premium. That document of reference was reverted to do deployment issues. Have a chat with @axisc. Thank you.

[2020-07-10 06:21] vipulsparsh commented on #58453
@rsitrifork  Apologies for delay in this one. Can you help us with a complete screenshot of the page where you are being asked for admin consent. That would also contain some co-relation ID and Timestamp, please make sure to expand any drop down option to capture those information as well.

[2020-07-10 06:23] RadoslavGatev commented on #13195
Thanks, this worked:
[code]

[2020-07-10 06:26] rebremer commented on #58426
@shashishailaj  for your help. Notice that my endgoal is to install Master Data Services (MDS) on this VM with Azure AAD enabled such that I can authenticate to SQLDB/SQLMI with "Azure Active Directory - Integrated". However, I think that the rootcause is the same, an old ADAL dll (Hopefully this can be patched by a more recent one)

[2020-07-10 06:27] RayBrindley commented on #58439
Thanks for getting back to me. I will raise a case to see what can be done directly that shouldn’t be difficult.

It just seems like an oversight and problem especially for users who have access to many tenancies using a single account, there may well be instances that you end up with 100s of stale organisations and no way to remove or clean them up.

From: VipulSparshMSFT <notifications@github.co

[2020-07-10 06:28] vipulsparsh commented on #58715
@chaelli Currently you cannot remove yourself from an organization where  your account has been locked out.

You can raise a [uservoice feedback request](https://feedback.azure.com/forums/34192--general-feedback) for this behavior. Our PG keeps checking these in regular intervals and ideas with high votes has more chances of going through implementation.

Let me know if you have any questions.

[2020-07-10 06:31] SadiqhAhmed-MSFT commented on #58738
@bgh00 The supported data disk size is 8 TB. Will fix the documentation.
Pull request reference - https://github.com/MicrosoftDocs/azure-docs-pr/pull/121887

[2020-07-10 06:33] VikasPullagura-MSFT commented on #58763
@juyamash Thanks for pointing this out.
I have updated the document and changes will go live soon.

[2020-07-10 06:33] SadiqhAhmed-MSFT commented on #58621
@raghrv Checking in to see if the above answer helped. Let us know if there are still any additional issues we can help with.

[2020-07-10 06:38] VikasPullagura-MSFT commented on #58710
@yazido
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-07-10 06:38] #58710 closed

[2020-07-10 06:38] VikasPullagura-MSFT commented on #58698
@Brucius
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-07-10 06:39] #58698 closed

[2020-07-10 06:39] VikasPullagura-MSFT commented on #58652
@rkorver Any update on the issue?

[2020-07-10 06:40] mike-urnun-msft commented on #54384
@boreys Sorry for the late reply. You're right, there isn't built-in support for something like Swashbuckle but IMO the idea is for the customers to be able to import such dependencies themselves and manage its versioning and feature parities on their own rather than the runtime dictating them. For example, you can still use Swashbuckle in Azure Functions, see: https://www.nuget.org/packages/Azure

[2020-07-10 06:40] #54384 closed

[2020-07-10 06:47] rebremer commented on #58426
@shashishailaj one more remark: When I run SSMS 18.5 on my own laptop and use "Azure Active Directory - Integrated" to authenticate to SQLDB just works. That is, it does not have to do with DLLs shipped by SSMS 18.5.

[2020-07-10 06:48] #58763 closed

[2020-07-10 06:51] horns-k commented on #58218
What were the changes made? I see the issue is closed, but do not see any change in the actual documentation.

[2020-07-10 06:51] Pancat007 opened #58764 "Keep getting Error of "Deployment Failed" of Azure Data Migration Service"
Hi team,

I have met the problem that " Keep getting Error of "Deployment Failed" of Azure Data Migration Service ".
And I can create new DMS by using another account with different subscription.
Please Check with the DMS service.
![image](https://user-images.githubusercontent.com/32253420/87124580-a0c29100-c2bb-11ea-9f07-8b6ea9f53419.png)
![image](https://user-images.githubusercontent.com/3225342

[2020-07-10 06:58] shashishailaj commented on #58426
@rebremer Thank you for the update. This certainly helps. I believe it may require a live troubleshooting and I will get back with the next steps to you .

[2020-07-10 07:04] rebremer commented on #58426
@shashishailaj sure, my agenda is up to date, let me know when you have time.

[2020-07-10 07:16] valkoa opened #58765 "error in code?"
Hi,

In the scala code for SendTweetsToEventHub shouldn't line 19

    val eventHubClient = EventHubClient.create(connStr.toString(), pool)

instead be like

    val eventHubClient = EventHubClient.createFromConnectionString(connStr.toString(), pool)

?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7c93e65-86c1-fd8b-

[2020-07-10 07:19] SatishBoddu-MSFT commented on #58755
@DeepikaSadahiro
I have assigned the issue to the content author @baanders for further review and update the doc as appropriate.

[2020-07-10 07:36] ohorvath commented on #58726
Yes, I'd like to try 18.04 also before becomes default.

[2020-07-10 07:45] CHEEKATLAPRADEEP-MSFT commented on #58765
@valkoa  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

Duplicate of #43381

[2020-07-10 07:48] CHEEKATLAPRADEEP-MSFT commented on #58758
@VitalyMCT  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-07-10 08:39] mike-urnun-msft commented on #58243
@sayak1711 Sorry for the reply. I'm not quite sure what you mean by predefined subscription as the subscriptions can be created by you in the Azure Portal. But If I understood your scenario correctly, you're looking to:
1. Let API consumers choose a specific subscription that's associated with a Product scope in the Develop Portal
2. Consumers get redirected to a Payment page

If correct, your sce

[2020-07-10 08:39] #58243 closed

[2020-07-10 08:50] brunis opened #58767 "There is no "simple logs" feature anymore"
Can't find the "simple logs" feature in azure portal anymore..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bbfb831-cc1e-71bd-faaf-be4f1311680e
* Version Independent ID: 7186f8f3-13bc-cb46-1259-c38e73294595
* Content: [Simple Logs experience in Azure Monitor (Preview) - Azure Monitor](https://docs.microsoft.com/en-u

[2020-07-10 08:55] rkorver commented on #58652
Hello Vikas,

Thank you so much for you help Vikas. I will try the below suggestions, and let you know.

The same happens though when I’m running the application in Azure Container Instances (not being able to reach the public IP), so I suspect something is not right in (building) the docker container or the app that’s running inside it.

Kind regards,

Roman Korver

From: VikasPullagura-MSFT [mai

[2020-07-10 08:57] SubhashVasarapu-MSFT commented on #58464
@justin-caldicott , Appreciate your patience. Here, -p stands for --properties <properties> the storage blob properties for uploaded file. Properties are key=value pairs and separated with semicolon(;). Available properties are contentType, contentEncoding, contentLanguage, **cacheControl**, contentDisposition, contentMD5.
This should work fine in this scenario while setting up the cache.

We are

[2020-07-10 08:57] #58464 closed

[2020-07-10 09:00] AjayKumar-MSFT commented on #58761
@TuanVanTrinh,  Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-07-10 09:03] mike-urnun-msft commented on #53649
@brianmander @jperl This feature is currently available only for Windows across App Service Plan and Consumption both. Linux will be coming (but no ETA at this time).

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-07-10 09:03] #53649 closed

[2020-07-10 09:04] cveld opened #58769 "Local Backup Location Not Found warning in the container log"
When running `docker container logs`, in the container log we see the line:
[LocalBackupLocationNotFound], message: /apim/config, source: BackupMetadataProvider

Is this just a non-blocking warning? What is the purpose of this warning. How to set this local backup location?
Can you add some documentation about this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-07-10 09:08] SubhashVasarapu-MSFT commented on #58526
@hisasima , Appreciate you patience. The doc has been updated accordingly. It would take some time for the changes to get reflect over the doc.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-07-10 09:08] #58526 closed

[2020-07-10 09:19] BhargaviAnnadevara-MSFT commented on #58769
@cveld Thanks for the question! We're investigating this and will get back to you shortly.

[2020-07-10 09:30] Prabhakar96-dev commented on #58614
@souravmishra-msft , Thank you

[2020-07-10 09:39] AjayKumar-MSFT commented on #58740
@nsaiisasidhar,  Thanks for leveraging Azure docs feedback channel to raise this question. Could you please share the Azure documentation for which this feedback is applicable to?

[2020-07-10 09:45] raghrv commented on #58621
I'm using an enterprise IBM EA enrollment account itself. I think the
ticket was raised with my personal email.

On Fri, Jul 10, 2020, 12:04 SadiqhAhmed-MSFT <notifications@github.com>
wrote:

[2020-07-10 09:52] klangborste commented on #58718
Thank you for your answers, also if this here was not the right place drop it. I have a lot of stress at the moment, but i definitly will do this, i come back to this and will send the reqs to this address. Can i just send a mail?

[2020-07-10 10:14] kiranpradeep opened #58770 "ml iot edge module keep on printing rsyslogd error messages"
I followed this tutorial (jupyter notebook) and deployed model on ACI. Model was successful deployed on ACI and I recevied json responses when using the webservice calls as in 00-anomaly-detection-tutorial.ipynb step 5.1.

Then I went on to deploy module on iot-edge. The deployment succeeded, but there is no output while monitoring built-in event endpoint at IoTHub. After a reboot, the machinelear

[2020-07-10 10:17] amanmcse commented on #58613
@SB-o-matic Yes, this can be done for accounts in Azure AD, you need to update the code for that purpose. You can reference the code provided in the documents in my previous comment. You can also export Azure AD users to Azure Tables and use above samples.

If you need any assistance with updating the code, you can engage our consultation services and work with them. I will now proceed with closur

[2020-07-10 10:17] #58613 closed

[2020-07-10 10:39] SwathiDhanwada-MSFT commented on #58767
@brunis Thanks for reaching out. This simple log feature is only available for key vaults and Cosmos DB as mentioned in the document. Kindly check by traversing to any key vault or cosmos DB and revert if you have further questions.

![image](https://user-images.githubusercontent.com/48976275/87145882-b2aa3100-c2c7-11ea-9e9e-d495aee8de49.png)

Snapshot reference from Key Vault resource

![image](h

[2020-07-10 10:42] aidanfinn opened #58772 "Outdated API Version for azureFirewalls"
Hi,
The API version and config for the AzFw resource are outdated and will result in lost features. You need to use an undocumented (at this time), newer, API version and add the hubIPAddresses property:

        {
            "type": "Microsoft.Network/azureFirewalls",
            "apiVersion": "2020-05-01",
            "name": "AzfwTest",
            "location": "[parameters('location')]",

[2020-07-10 10:49] sdebruyn opened #58773 "Outdated default Data Factory parametrization template"
The default template I got in my Data Factory was the one below, this doesn't match with the current version on the docs. The globalParameters part (the first one) is not explained on the docs page.

[code]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e22e4d6-366f-fbf8-e141-8905ca7ab7ae
* Version Independent ID: 5be

[2020-07-10 10:54] SAIMMINHAS opened #58774 "Can't delete the newly created tenant"
Hi,

I created a new tenant for lab testing in Azure but now i can't delete it as instructed in the lab. I'm stuck on the below step:
'Subscriptions: Delete all license-based subscriptions'

![image](https://user-images.githubusercontent.com/30388154/87146528-fb032800-c2a2-11ea-9512-92a91a6b46b8.png)

I clicked on the link 'Delete all license-based subscriptions' and it takes me to the following K

[2020-07-10 11:10] #58738 closed

[2020-07-10 11:21] schibuch opened #58775 "Great Sample, Impact of Message Routing not mentioned --> if (Message Route exists) "no built in endpoint is served""
Hi there
Thank for the great description and the straight guide to a working result.
However, while working through several samples to try to understand how these components work together and how they are designed to work I found the message routing at different locations not clear. I wrote another feedback with the same remark on another sample guide.
IMHO an important point while use the IoT hub

[2020-07-10 11:25] SadiqhAhmed-MSFT commented on #58621
@raghrv  Could you please elaborate more on your query?

[2020-07-10 11:30] arindam-b opened #58776 "ResourceGraph not returning json response -"
[Enter feedback here]

Below mentioned code does not return json response. How to transform it to json ?

[code]

payload = json.loads(str(argResults))  does not work.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa9f71f9-785f-8a66-855e-3f426169fb89
* Version Independent ID: 193af1d1-d353-d760-e160-75ff68079c26
* Cont

[2020-07-10 11:36] raghrv commented on #58621
How do i access https://docs.microsoft.com/en-us/azure/cost-management-billing/reservations/understand-reserved-instance-usage-ea#get-azure-consumption-and-reservation-usage-data-using-api?

There is no try it option and i'm unable to call it programatically by using the api key which is used for https://docs.microsoft.com/en-us/rest/api/billing/enterprise/billing-enterprise-api-usage-detail

I tr

[2020-07-10 11:48] MonikaReddy-MSFT commented on #58503
@PitWayne - Since State is a string, not a Boolean value. StrongAuthenticationRequirements expects an empty array, not a null to clear the values.

 I hope this  helps.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will

[2020-07-10 11:48] #58503 closed

[2020-07-10 11:49] MonikaReddy-MSFT commented on #58534
@mayoneka  -  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-07-10 11:49] #58534 closed

[2020-07-10 11:51] MonikaReddy-MSFT commented on #58540
@Gowthami-Ronda -Can you please share with us the URL of the document that you are having issues with?
Please note that this channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2020-07-10 11:54] MonikaReddy-MSFT commented on #58586
@savelinomediagroup -  Since we have not heard back from you we will now proceed to close this thread. However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2020-07-10 11:54] #58586 closed

[2020-07-10 12:17] BreakingBI opened #58777 "Explicitly State that Parallelization of ForEach Iterations requires publication of the Data Factory"
https://docs.microsoft.com/en-us/azure/data-factory/control-flow-for-each-activity#parallel-execution

When setting parallelization for ForEach activities in Data Factory.  It is not possible to test these using Debug Mode.  When a Debug Execution is started, a warning will be displayed stating that parallelization will be ignored and the iterations will run sequentially.  This should also be expl

[2020-07-10 12:27] shashishailaj commented on #58774
@SAIMMINHAS Thank you for your query. We will review this and update the thread.

[2020-07-10 12:28] V3sp opened #58778 "There is a bug"
In one of the examples [Identify entities] there is used function Length, but in PHP there is strlen instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30c000c8-09d4-b445-a60e-cb645a7dccfa
* Version Independent ID: de09ccb3-85fd-bf45-32b7-e47b1abb9e66
* Content: [Quickstart: Using PHP to call the Text Analytics AP

[2020-07-10 12:37] chwolfe commented on #58307
@PatrickFarley Any updates? Thanks.

[2020-07-10 12:53] Druffl3 opened #58779 "ToastTemplate with launch not sending notification to UWP application(Windows 10)"
[Enter feedback here]
When I pass launch parameter with the sample Windows store toast payload, the notification is not received in my UWP application.
My payload:
`<toast launch="15"><visual><binding template=\"ToastText01\"><text id=\"1\">Hello from Java!</text></binding></visual></toast>`

It works if I test it in the portal, but not when I send it from my server.
---
#### Document Details

⚠ *

[2020-07-10 12:58] brsteel opened #58780 "command incomplete"
az aks create -n <private-cluster-name> -g <private-cluster-resource-group> --load-balancer-sku standard --enable-private-cluster

Need to add "--generate-ssh-keys"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b68f2c4-bb6c-11a2-6c61-8af4057a2438
* Version Independent ID: e3498bed-1447-6841-8353-9f1b5d3dc8df
* Conten

[2020-07-10 13:13] Bart-Hoofd opened #58781 ""If you are installing the connector on Windows Server 2019, you must disable HTTP2 protocol support in the WinHttp component." stll relevant voor Windows 2019?"
Is the setting "If you are installing the connector on Windows Server 2019, you must disable HTTP2 protocol support in the WinHttp component." still relevant for Windows 2019? It is only mentioned in the example, but not in the rest of the documentation. I have also successfully used AAD Proxy on Windows 2019 build 10.0.17763 without this setting.
---
#### Document Details

⚠ *Do not edit this sec

[2020-07-10 13:22] vipulsparsh commented on #58439
@RayBrindley  Sure Ray, do post the solution afterwards for the benefit of community. Thanks.

[2020-07-10 13:22] #58439 closed

[2020-07-10 13:24] mattruma commented on #58603
Thanks @MayankBargali-MSFT!

[2020-07-10 13:32] nickmcmahan opened #58783 "Add quota/resource limit information to the "Restrictions" section"
Hello!

While working with the Disk Encryption Sets, it was identified that the default per-subscription limit of Disk Encryption Sets is 50. If you try to deploy more than 50 sets, it will give you this error:

![image](https://user-images.githubusercontent.com/56110610/87159853-9a1a2680-c287-11ea-8319-1d013e66579a.png)

I have submitted feedback on the quota page (that is a separate GitHub issue

[2020-07-10 13:39] BhargaviAnnadevara-MSFT commented on #58776
@arindam-b Thanks for the question! We're investigating this and will get back to you shortly.

[2020-07-10 13:41] mimckitt commented on #57798
Thanks for that information. I have ran some tests I am see some similar items. Let me follow up with engineering and see what I can find.

As per any issues with AD, you can rename the compute name after the VM has been created. So as a work around, you could look at using a script of some sort to rename it to ensure it falls in the scope of what your AD allows. But I will investigate to see if t

[2020-07-10 13:48] DCtheGeek commented on #58776
#reassign:DCtheGeek

[2020-07-10 13:48] DCtheGeek commented on #58776
I'm looking at this with the team.  Will get back when we have the answer, thanks!

@MicrosoftDocs/azure-cxp-triage #in-progress

[2020-07-10 13:49] tiny-dancer opened #58784 "Missing test information"
This page doesn't walk through how to test the api in the azure or developer portals as outlined in the opening bullet points.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0981461e-1ead-ae0c-aa10-f29d580d2c0d
* Version Independent ID: 261900c6-7dd2-a98b-6228-2627dfa7cd9a
* Content: [Import an OpenAPI specification us

[2020-07-10 14:11] lostmygithubaccount commented on #58512
I'm no longer the owner of the MDC, trying to find the right one and will update here

[2020-07-10 14:19] APIWT opened #58787 "Example of using implicit resource() dependency"
Hello!

Today I was made aware of a feature to denote an implicit dependency on a resource, documented here:

Would it be possible to provide an example of this? I'm pretty sure I understand what the statement means, but I'm still a little unclear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1558fc8-7d7b-6d02-113d-

[2020-07-10 14:21] rkorver commented on #58652
Hi Vikas,

I’ve followed what you did. I’m not on my corp network, so that shouldn’t be the issue.

Ping:
[cid:image001.jpg@01D656BD.CB677110]
Cloud shell:

[cid:image002.jpg@01D656BD.CB677110]

Kind regards,

Roman Korver

From: Roman Korver (DHL NL)
Sent: vrijdag 10 juli 2020 10:56
To: 'MicrosoftDocs/azure-docs' <reply@reply.github.com>
Subject: RE: [MicrosoftDocs/azure-docs] can't connect to Ex

[2020-07-10 14:33] AshokPeddakotla-MSFT commented on #58775
@schibuch Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-10 14:34] AshokPeddakotla-MSFT commented on #58770
@kiranpradeep Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-10 14:35] SwathiDhanwada-MSFT commented on #58787
@APIWT Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-07-10 14:38] premsonbaby opened #58788 "RDS Client Access License (CAL) with Software Assurance"
Can you please explain in details what are the license implications when using Server OS?

It just says

OS|Required license
-- | --
Windows Server 2012 R2, 2016, 2019 | RDS Client Access License (CAL) with Software Assurance
-- | --

What is this mean? Should we setup RDS CAL + License server etc.. on each Session host?
Or this just means that if you have these licenses already, it's OK to use Se

[2020-07-10 14:45] #38600 closed

[2020-07-10 14:47] zr-msft commented on #38600
Thank you for the feedback @montebhoover

I have updated the article to incorporate the details from @palma21 and the changes should be available soon.

[2020-07-10 14:47] DCtheGeek commented on #58667
@OxHobbs The text is correct as a the blueprint assignment can exist at the management group, even though it still only applies to a subscription. This is available in REST (https://docs.microsoft.com/rest/api/blueprints/assignments/createorupdate#assignment-with-system-assigned-managed-identity-at-management-group-scope). I have an action to update other mentions in the docs to acknowledge and pr

[2020-07-10 14:47] #58667 closed

[2020-07-10 15:02] jkounovsky opened #58790 "Issue retrieving kerberos ticket when running Debug-AZAccountAuth"
Hello - I´m also experiencing an issue when running Debug-AzStorageAccountAuth in powershell (same as github issue #54344), errors for kerberos retrieval, when I check with the following cdmlet per the error:

klist get cifs/ctsfileshare.file.core.windows.net

It shows the next error:

Current LogonId is 0:0xd6b9815f
Error calling API LsaCallAuthenticationPackage (GetTicket substatus): 0x35

klist

[2020-07-10 15:13] RohitMungi-MSFT commented on #58759
@DarrinEide Could you please let us know if this query can be optimized? @Shaktikantpadhi It looks like you are using the right entities and string attributes to fetch the data required.

[2020-07-10 15:15] bdschaap opened #58794 "AKS now supports setting tags per nodepool"
The [2020-01-27 AKS release notes](https://github.com/Azure/AKS/blob/master/CHANGELOG.md#release-2020-01-27) state that "AKS now supports setting tags per nodepool. Which will propagate automatically to all nodes in the nodepool."  Is there any documentation on this feature?  I saw that AKS Engine has a field named [CustomVMTags ](https://github.com/Azure/aks-engine/pull/1277) but I tried through

[2020-07-10 15:16] lostmygithubaccount commented on #58512
@gvashishtha owns the MDC nowadays

[2020-07-10 15:21] MayankBargali-MSFT commented on #58470
@elbaza1 You can refer to the Languages support: https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-python#outputs

import azure.functions as func
def main(myblob: func.InputStream, results: func.Out[str]):
    results.set('your data')

{
  "scriptFile": "__init__.py",
  "bindings": [
    {
      "name": "myblob",
      "type": "blobTrigger",
      "direction": "in",
     "

[2020-07-10 15:25] baanders commented on #58755
@DeepikaSadahiro   Hi Deepika, thanks for the feedback!

I have drafted some edits to this section.

Here is a proposed update showing the best practice as a tip, followed by this section's information about the Validator tool and the C# parser lib, followed by the requirement to check the parser version:
![image](https://user-images.githubusercontent.com/55546137/87170687-aca05a00-c29f-11ea-90e4-

[2020-07-10 15:26] inuvano-labs opened #58795 "Azure Container Instances Example"
Would it be possible to confirm whether ACI is a supported backend? I would like to load balance a set of container instances and expose them via a single public IP associated with the LB. If this is supported in the preview, is there an example?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed6443fd-7d44-4afe-803e-78

[2020-07-10 15:50] MonikaReddy-MSFT commented on #58790
@jkounovsky - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-10 15:56] stuartMoorhouse opened #58797 "Add a new subscription broken on Azure console"
Clicking the **+Add** button took me to https://account.azure.com/signup?showCatalog=True&appId=Ibiza_SubscriptionsOverviewBladeCommandBar, which displays this error message:

Bad Request - Request Too Long
HTTP Error 400. The size of the request headers is too long.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00e89

[2020-07-10 16:02] amanmcse commented on #58704
@ifslearning These string ids are not changed. I have tested "ver_but_send", "ver_but_resend", "ver_info_msg", "ver_sent", "verifying_blurb" and didn't encounter any error while uploading the policy file. There was no issue translating to the given strings as well. I have provided a snippet of BuildingBlocks below, which I updated to add localized strings.

[code]