[2022-06-01 10:30] sk-bln opened #93756 "Restore database guidance for Business Critical needs to be added"
The guidance provided here does not work for Business Critical.
A link to the guidance for business critical (found here: https://docs.microsoft.com/en-us/azure/azure-arc/data/managed-instance-high-availability#high-availability-in-business-critical-service-tier) needs to be added

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2022-06-01 10:53] mwwhited commented on #83901
Based on past experience in other areas we will have to spend months harassing the dev team for them to even realize azurite was upgraded again.

[2022-06-01 10:55] ms-ishiyam opened #93757 "Network rule in RCG 3 is wrong"
In the below link, the priority 300 of Network rule in RCG 3 is wrong. The priority of Network rule should be higher than Application rule but the priority in this picture is wrong

https://docs.microsoft.com/en-us/azure/firewall-manager/rule-processing

![image](https://user-images.githubusercontent.com/37136042/171388675-d2bec942-26ac-46ed-854b-d73ab8be813c.png)

---
#### Document Details

⚠ *Do

[2022-06-01 11:19] HannahHsiao5 opened #93759 "Please add "the EA credit will expire when EA enrollment end" in "Indefinite Extended Term" section"
Please add "the EA credit will expire when EA enrollment end" in "Indefinite Extended Term" section

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 611ff5f6-f273-bf7c-d959-83cd4f07168e
* Version Independent ID: f1d1ea8e-b66b-0c73-5375-6e38ef8aca2b
* Content: [Azure EA agreements and amendments](https://docs.microsoft.co

[2022-06-01 11:25] #93632 closed

[2022-06-01 11:29] Venkateshdodda-MSFT commented on #93632
@kazidevelop Thanks for reporting this item! I have updated the document and it will be published soon. We appreciate the feedback!

[2022-06-01 11:34] Venkateshdodda-MSFT commented on #93693
@Medelhani Currently Calling and chat interoperability of Azure communication service is in private preview, If you want to opt for this preview feature i would suggest you raise a request to the product team using [this link](https://forms.office.com/r/F3WLqPjw0) and Product team will review & evaluate it accordingly.

You can refer to [this documentation](https://docs.microsoft.com/en-us/azure/c

[2022-06-01 11:50] Willemvbr commented on #92808
Dear,

Thank you very much for this information. Especially the Insights Azure usage report is very useful.

However, it is still not very clear what you mean with: 'support for CUA will be a new enhancement for Azure usage report. It will be done in coming few weeks.'

Can we already start as an ISV with using GUID in our deployments and how will this be linked to the Azure usage reports?

Thanks

[2022-06-01 11:56] AshokPeddakotla-MSFT commented on #93754
@mjuda-bdg Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-06-01 11:58] AshwinMarepalli opened #93760 "Error Code 2010 Failure type User configuration issue ,Details A task was canceled"
Hi ,

We have pipeline in ADF and the Lookup activity is failed with the error message A task was canceled. Below is the information regarding the error code and failure type . I also attached the screen shot of the error . Could you please assist me on this issue.

Error Code 2010 Failure type User configuration issue ,Details A task was canceled

Thanks,
Ashwin
<img width="601" alt="ADF_Pipeline

[2022-06-01 12:09] BzSpi opened #93762 "Missing subresource name for Data Lake Storage"
Hello,

It seems that the subresource name is missing for Data Lake Storage.
Subresource name is "dfs" and information is available here: https://docs.microsoft.com/en-us/azure/storage/common/storage-private-endpoints#dns-changes-for-private-endpoints

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b006a616-2f2f-8ecf-8b

[2022-06-01 12:17] whsh-ca commented on #93681
Thank @SumanthMarigowda and @JamesTran-MSFT for the follow-up and prompt update. Please keep us posted.

[2022-06-01 13:38] para0056 commented on #93164
Good morning. Any updates as to when Windows Server 2022 will be officially listed as a supported operating system?

[2022-06-01 13:55] DevJonBirkett opened #93769 "Sections covering Hybrid AAD Join and Compliant device"
Hi,

The MFA section in the article is excellent.
For completeness, would it be possible to have sections covering the other two trust settings available (Hybrid AAD Join and Compliant device)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a16a239-3c26-c839-6b40-a12afe1d5fba
* Version Independent ID: b86ecce0-b57d-8d

[2022-06-01 14:01] seesharprun commented on #93740
#assign:seesharprun

Hello @aluty!

We have a change coming soon that will add the missing release note.

Thanks for your feedback.

#please-close

[2022-06-01 14:01] #93740 closed

[2022-06-01 14:04] perosb opened #93770 "Incorrect windows path for debug"
The folder on windows is `c:\host\k`
![image](https://user-images.githubusercontent.com/982752/171423470-fbe51b95-967b-47e4-a66f-ba384238f3c4.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92e345df-2425-d3ea-2d98-53949bc9314a
* Version Independent ID: 171f79d7-e1a6-efa0-d45c-cfdc81faf3c0
* Content: [View kubelet l

[2022-06-01 14:09] BzSpi opened #93771 "Procedure not compatible with azure CLI 2.37"
Hello,

The RBAC procedure is not compatible with azure CLI 2.37 since the az ad commands have changed to Microsoft Graph API.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55b2707d-7f51-554d-06dd-2cf71b906237
* Version Independent ID: ab8a566c-adba-5c99-8a16-713f9c979774
* Content: [Azure RBAC for Azure Arc-enabled K

[2022-06-01 14:15] aps-gilberts opened #93772 "Cannot accept Data share for MS Learning"
[Enter feedback here]
I'm trying to create the necessary pre-requisites so that the origanisation can review learning and accomplishments of colleagues.

I continue to get error " subscription is not registered to use namespace 'Microsoft.DataShare'." and the related page does not help

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2022-06-01 14:17] MughundhanRaveendran-MSFT commented on #93605
@jayeshdesai1 ,

Here are the answers to your queries
Can you clarify if access keys are still required when using managed identities? The article goes through setting up access key in vault it seems, then setup managed identity?

Keyvault reference is only added for the WEBSITE_CONTENTAZUREFILECONNECTIONSTRING app setting. However the managed identity is applicable to AzureWebJobsStorage app sett

[2022-06-01 14:25] faizan1990 opened #93773 "Workspace name is actually instance name"
On this page: https://docs.microsoft.com/en-us/azure/databricks/dev-tools/api/latest/aad/service-prin-aad-token

the <workspace-name> is NOT the Databricks workspace name. Instead, it's meant to be "Databricks Instance" name that you give to your "instance" when you're setting up Azure Databricks in Azure Portal.

Please note that "inside of Azure Databricks", there is a separate "workspace" secti

[2022-06-01 14:30] arath17 commented on #59903
Hi @JasSuri, the process you described works perfectly well if I sign in and try to change the password but if I sign up and then try to change my password, I'm not prompted to log in again but even if I give correct password, It is giving me an invalid username or password error.

[2022-06-01 14:36] billspat opened #93774 "no guidance for using CLI"
This page is good for using the portal for creating consumption budget alerts.  However I would like to use the CLI to create budget and email notifications for many resource groups.   There does not seem to be documentation for connecting `az consumption budget create` and alerting (eg. `az monitor action-group create `)  This page would be a great place to details of using the CLI to automate cr

[2022-06-01 14:40] #59992 closed

[2022-06-01 14:42] #63608 closed

[2022-06-01 14:43] #32886 closed

[2022-06-01 14:44] seesharprun commented on #91742
We have an updated how-to guide in flight that should be published soon. We will close this issue once the updated article is published.

[2022-06-01 14:48] dknappettmsft commented on #80436
Thanks for the question - per-user access just a license and doesn't affect the technical requirements. There is an article covering the details of per-user access pricing here: https://docs.microsoft.com/en-us/azure/virtual-desktop/remote-app-streaming/licensing. B2B and B2C accounts are still not supported.

#please-close

[2022-06-01 14:55] tejinderrai commented on #91742
Hi Sidney,

That’s fantastic, thank you so much!

Tejinder

From: Sidney ***@***.***>
Sent: 01 June 2022 15:44
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Incorrect use of Managed Service Identity with the article with access to the Azure management plane vs the data plane (Issue #91742)

We have an updated how-to guide in flight that should be published

[2022-06-01 14:57] dknappettmsft commented on #78463
Hi @aidanfinn, sorry for the long time in looking at this. I've recently been tasked with working through these issues - there is already an entry in the table for mrsglobalsteus2prod.blob.core.windows.net which is listed for Agent and SXS stack updates.  Is this the URI you mean?

#assign:dknappettmsft

[2022-06-01 14:58] #78460 closed

[2022-06-01 15:07] zaalion opened #93776 "ARM template for Front Door diagnostic settings"
[Enter feedback here]

Hi,

Could you also add the ARM template for setting up diagnostic settings for Azure New Front Door, for ones not using the portal?

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1459e25b-de1f-b7ae-72d1-610005ce9db3
* Version Independent ID: 06fa7c50-5640-e93b-44eb-8adef1c4e808
* Conten

[2022-06-01 15:10] jarodzhu commented on #93677
@sidprasher , thanks for pointing out that.
This is some sentences which we will further update. Private endpoint is supported and you can also find it is mentioned in https://docs.microsoft.com/en-us/azure/data-factory/join-azure-ssis-integration-runtime-virtual-network

[2022-06-01 15:14] SreejaBhattacharya-MSFT commented on #93622
@hkamel
The tracker is not yet available. A clarifying note has been added to the article, and the document will be updated with access instructions when the feature is fully released. Thank you.

[2022-06-01 15:14] #93622 closed

[2022-06-01 15:18] HitenBhavsarMSFT opened #93777 "Replication lag missing data on portal, but customer can monitor and check replication latency via code."
Ask:
Please add the **notes** on the document as part of replication lag checking
Or Add in the **next steps**

if replication lag data is missing go to the azure portal , **please monitor the replication **
https://docs.microsoft.com/en-us/azure/mysql/flexible-server/concepts-read-replicas#monitor-replication

** Check the replication latency.**
https://docs.microsoft.com/en-us/azure/mysql/howto-

[2022-06-01 15:19] shashishailaj commented on #93749
@hazeljin1 We are verifying this information internally and will update the document .

[2022-06-01 15:20] kprpg opened #93779 "The set of instructions in this page are buggy. It shows they have not been tested to work and rushed to release."
1. In the step for verification it says go to the storage account and open the container. There is no container created under the storage account.
2.  Also if you switch to PowerShell tab it still shows bash scripts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afddc810-761b-10bf-38af-ca113b9a9237
* Version Independe

[2022-06-01 15:21] bandersmsft commented on #93759
@HannahHsiao5 I'm updating the article as you requested with https://github.com/MicrosoftDocs/azure-docs-pr/pull/200114. I'll get get refreshed live toda at 10:30 AM Redmond time.

#please-close

[2022-06-01 15:23] PriyankaRudramaina commented on #93420
@ToruMakabe, @jbpaux,

As per the document team, the tracker is not yet available. I’ve added a clarifying note to the article and will be sure to update it with access instructions when the feature is fully released.
![image](https://user-images.githubusercontent.com/95755055/171440422-399392af-88b2-49a4-9937-17687ec43a13.png)

Feel free to tag me in your comments for any clarifications. Once aga

[2022-06-01 15:23] #93420 closed

[2022-06-01 15:25] shashishailaj commented on #93628
@snerting Could you please share a screenshot of what you are seeing in the portal which may help us identify your issue and help you better?

[2022-06-01 15:44] JamesTran-MSFT commented on #93755
@jtidmus
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-01 15:50] #92946 closed

[2022-06-01 15:52] kobulloc-MSFT commented on #93770
@perosb Thank you for bringing this to our attention!  We are reviewing the documentation and will get back to you shortly.

[2022-06-01 15:55] seesharprun commented on #93670
#reassign:seesharprun

[2022-06-01 15:55] seesharprun commented on #93670
#assign:rodrigossz
#label:"doc-enhancement"

[2022-06-01 16:08] HeidiSteen commented on #93538
I'm going to close this issue, but feel free to reopen it or respond back on this thread if you have more feedback.  Thank you for reaching out.

#please-close

[2022-06-01 16:08] #93538 closed

[2022-06-01 16:08] hkamel commented on #93622
Thank you @SreejaBhattacharya-MSFT  ... I see the updates on the original documents.

[2022-06-01 16:14] ChaitanyaNaykodi-MSFT commented on #93762
Thank you for your feedback! We will review and update as appropriate.

[2022-06-01 16:29] snerting commented on #93628
Here I'm in the App registration part. Here is my menues:
![image](https://user-images.githubusercontent.com/1882879/171452448-81e9e54c-5300-4f0a-ac67-2cc626ad16a1.png)

Her is the menu in the description from https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-add-app-roles-in-azure-ad-apps:
![image](https://user-images.githubusercontent.com/1882879/171452578-23a1c855-62cf-4a04-

[2022-06-01 16:35] seesharprun commented on #93670
Alright, I will share this with the engineers working on it to get some feedback.

Thanks!

[2022-06-01 16:41] GitaraniSharma-MSFT commented on #93556
Since we've not heard from you, we are closing this issue for now. In case of further concerns or queries, please reply on this thread and we'll gladly continue the discussion.

[2022-06-01 16:47] kobulloc-MSFT commented on #93537
@DarqueWarrior In reviewing the documentation it looks like there is a daisy chain of requirements.  The documentation in question requires an AKS cluster with a link to documentation that lists an Azure Container Registry instance as a prerequisite in the "Before you begin" section.  I agree that it would be helpful to list ACR explicitly for those who are not following the links and will reach o

[2022-06-01 17:03] #93582 closed

[2022-06-01 17:05] MartinJaffer-MSFT commented on #93573
Yeah.  I run into similar issues sometimes.  It is frustrating.  Shall I close this issue or assign to author?  It really could go either way.  You found an answer to _this_ question, but doc could still be improved.  Actually, given that this isn't the only place where we are left guessing, I could close this and put in a broader doc request.

[2022-06-01 17:06] ChaitanyaNaykodi-MSFT commented on #93776
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-06-01 17:07] jayeshdesai1 commented on #93605
Thank you!

[2022-06-01 17:09] advaidya21 opened #93785 "Integration with Custom IDP using OAuth/OIDC"
[Enter feedback here]

I do see a mention of Azure AD for OIDC but there is not mention of whether API Management GW supports integration with custom in house IDP which is OIDC compliant e.g. IDP built on Keycloak
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 823eb96f-e5f1-0832-b175-0b31009be92f
* Version Independent I

[2022-06-01 17:14] GeethaThatipatri-MSFT commented on #93671
Thanks, @Sudheesh for fixing this..
Hi, @vincentonderwaater We will proceed to close this issue now.
If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2022-06-01 17:14] #93671 closed

[2022-06-01 17:15] khdownie commented on #83979
#please-close

[2022-06-01 17:15] #83979 closed

[2022-06-01 17:26] JustinGrote commented on #93530
Yes I believe it is. It really should be a Hero note right at the top as that is somewhat buried but that is the info I needed. Thank you!

[2022-06-01 17:32] BryanTrach-MSFT commented on #93742
@shizn Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-01 17:34] BryanTrach-MSFT commented on #93744
@ozhug Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-01 17:41] kobulloc-MSFT commented on #93537
@DarqueWarrior Thank you again for your feedback!  I'll get a PR out to make the prerequisites more explicit.

[2022-06-01 17:44] Moody125 opened #93786 "Shows error while using the BME280 sensor"
I connected the sensor as stated and tried to run it without the "simulated" data.

config is as follows:
{
  "simulatedData": false,
  "interval": 2000,
  "deviceId": "dionysos",
  "LEDPinGPIO": 18,
  "messageMax": 256,
  "credentialPath": "~/.iot-hub",
  "temperatureAlert": 30,
  "transport": "mqtt",
  "iotEdgeRootCertFilePath": null,
  "i2cOption": {
    "pin": 9,
    "i2cBusNo": 1,
    "i2cAdd

[2022-06-01 17:45] bjoeysouza opened #93787 "Compatibility with Azure Search Service"
The comparison does not mention compatibility with Azure Search Service. This site says to use flexible server for all new deployments, but on https://docs.microsoft.com/en-us/azure/search/search-howto-index-mysql#prerequisites it says single server must be used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd33da12-

[2022-06-01 17:48] cebundy commented on #90247
@brutaldev Would it be possible for you to share your template and application so that we can investigate further?

[2022-06-01 17:52] naavis commented on #83901
Quoting from the Developer Community page:

[2022-06-01 17:58] benjaminsampica commented on #90689
Can confirm this as well. Seeing it with the bicep invocation of this API

[code]

leads to the Provider being set to nothing when deployed.

[2022-06-01 18:08] #90247 closed

[2022-06-01 18:11] mike-urnun-msft commented on #93753
Thank you for your feedback! We will review and update as appropriate.

[2022-06-01 18:14] venkata-chilakapati-msft opened #93788 "Databricks Engineering updated doc update for SCC/NPIP UDR"
[ Databricks Engineering updated as below

Only if SCC is disabled, you can ignore SCC relay endpoints and just allow Control Plane NATs, otherwise you need both
https://docs.microsoft.com/en-us/azure/databricks/administration-guide/cloud-configurations/azure/udr

SCC is enabled you need both SCC relay endpoints and Control Plane NATs then we have to remove **"(if SCC is disabled)"** from UDR Doc

[2022-06-01 18:20] mike-urnun-msft commented on #93785
Hello @advaidya21 - Thank you for your feedback. Per [IdentityProviderCreateContractProperties](https://docs.microsoft.com/en-us/azure/templates/microsoft.apimanagement/service/identityproviders?tabs=bicep#identityprovidercreatecontractproperties), following Identity Providers are supported:

- AAD
- AADB2C
- Facebook
- Google
- Microsoft Twitter

[2022-06-01 18:24] #91286 closed

[2022-06-01 18:29] davesainmi opened #93790 "give should be gives"
[Enter feedback here]
there is a word that is the wrong tense - in this sentence it should be gives not give - Identity Governance give organizations the ability to do

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a68d2671-8e5e-63b2-b5d2-5f58c5b9aa2f
* Version Independent ID: 7dd0b7fd-042a-c68f-8979-d5828f1ce2e8
* Con

[2022-06-01 18:31] MarileeTurscak-MSFT commented on #93790
@davesainmi
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-01 18:34] meenasaravanan02 commented on #89641
Hi @Maggern3,
We need more details to enhance the documentation.  Please feel free to re-open with more details & references.
Thank you!
#please-close this issue

[2022-06-01 18:34] #89641 closed

[2022-06-01 18:34] spottedmahn opened #93791 "Add an ALM guide?"
Application lifecycle management seems kinda important, it sure would be handy to have a guide.
 I'm not seeing one, hopefully, I'm missing it 🤞.

Feels like it's the next step in: [Quickstart: Deploy an existing container image with the Azure CLI](https://docs.microsoft.com/en-us/azure/container-apps/get-started-existing-container-image?tabs=bash&pivots=container-apps-private-registry); post an u

[2022-06-01 18:34] nc71 opened #93792 "Azure CosmosDB trial link not working"
The "try Azure Cosmos DB for free" link mentioned on this page, in the top section highlighted in blue background, with Important heading, does not seem to be working.

While going to this link (https://azure.microsoft.com/try/cosmosdb/), get the following messages:

The page isn’t redirecting properly (on Firefox)

Safari can’t open the page “https://azure.microsoft.com/enus/try/cosmosdb/”. The e

[2022-06-01 18:37] MarileeTurscak-MSFT commented on #93790
Thanks! I made a pull request to fix the typo. https://github.com/MicrosoftDocs/azure-docs-pr/pull/200156

[2022-06-01 18:37] #93790 closed

[2022-06-01 18:37] Dupo24 opened #93793 "MFA Azure Sync Account"
This section: Under Exclude, select Users and groups and choose your organization's emergency access or break-glass accounts.

should include a reference or a note to the Azure AD Connect sync account per the note above as it could be frequently missed following these steps.

Thanks!!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2022-06-01 18:38] spottedmahn commented on #93791
😂, just skimmed [Tutorial: Deploy a Dapr application to Azure Container Apps using the Azure CLI](https://docs.microsoft.com/en-us/azure/container-apps/microservices-dapr?tabs=bash) & the next step is this ALM page so I'm not alone I guess 😊

![image](https://user-images.githubusercontent.com/14079228/171477984-72bd8d20-7f02-430f-a306-e5d4aac45066.png)

[2022-06-01 18:42] MarileeTurscak-MSFT commented on #93793
@Dupo24
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-01 18:45] meenasaravanan02 commented on #55590
Hi @darraghjones,
Thank you for the feedback.  The article has been updated since the original comments were made. If further clarification is needed, please kindly let us know.
#please-close this issue

[2022-06-01 18:45] #55590 closed

[2022-06-01 18:49] awesometoast commented on #85723
Hmm. Looks like it's been a minute since this was reported and nothing's been done. The screenshot still refers to "Microsoft Azure (Preview) and the first two steps point to non-existent options. Specifically:

- In step 2 of "Sign in to the Azure portal," there is no "Add" option, only "Create".
- Assuming you clicked "Create," there is no "Bring your own code" option to choose.

Things do not i

[2022-06-01 18:50] MarileeTurscak-MSFT commented on #93793
Thanks. Like you said it is noted at the beginning of the article to exclude service accounts such as the Azure AD Connect Sync account, but I made a pull request to mention these in the "Exclude" section too. https://github.com/MicrosoftDocs/azure-docs-pr/pull/200157

[2022-06-01 18:50] #93793 closed

[2022-06-01 18:51] savjani commented on #93787
Adding @mksuni for Azure search service integration

[2022-06-01 18:52] savjani commented on #93777
Adding @code-sidd for this feedback

[2022-06-01 18:58] scimaksim opened #93794 "Indentation error"
Line "document_analysis_client = DocumentAnalysisClient(endpoint=endpoint, credential=AzureKeyCredential(key))" in the sample code for "General Document" is indented and does not run; instead, it throws an indentation error.

[code]

Removing the indentation fixes this problem.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-06-01 19:31] MartinJaffer-MSFT commented on #93744
The short answer is, you want to use
[code]
This works for any activity  (replace the name).  The `?` are to make the expression null safe because if there is no error, then there is no error message to get.
The medium answer is:
The below is a screenshot of cleaned up output of a Set Variable activity using `@{activity('Web1')}` .  I have boxed the important error stuff in red.  I have boxed othe

[2022-06-01 19:36] ChaitanyaNaykodi-MSFT commented on #93734
Hello @mosesmosheh, Thank you for your feedback. I have made the suggested change and it is currently under doc author's review. We will now proceed to close this issue out. Please tag me in your response if there are any additional concerns. Thank you!

[2022-06-01 19:46] cebundy commented on #93611
@masters3d  Thank you for reporting this.  We have included the fact that the infrastructure group is deleted when you delete the container apps resource group in the clean-up information.
#please-close

[2022-06-01 19:46] #93611 closed

[2022-06-01 19:46] #87873 closed

[2022-06-01 20:06] #93434 closed

[2022-06-01 20:07] thiezn commented on #87913
Hi all,

I can confirm I'm running into issues using datetime.min for the created_time_from as well. Here is the stacktrace I get indicating there is a HTTP 400 status code message returned:

[code]

Since I want to remove every result before a given date, I managed to clear out things by removing the created_time_from al together. My code now looks something like this

[code]

[2022-06-01 20:09] sananoorani opened #93796 "Rename Tableau Online to Tableau Cloud"
We have recently rebranded **_Tableau Online_** to **_Tableau Cloud_**. We'd like to request that all instances of "Tableau Online" are renamed to "Tableau Cloud". More info here: https://www.tableau.com/products/cloud-bi

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d1d665b-e5f8-045a-e3c1-221769dc2fc3
* Version Inde

[2022-06-01 20:11] sananoorani opened #93797 "Rename Tableau Online to Tableau Cloud"
We have recently rebranded Tableau Online to Tableau Cloud. We'd like to request that all instances of "Tableau Online" are renamed to "Tableau Cloud". More info here: https://www.tableau.com/products/cloud-bi

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbfa13a7-4d2d-b203-d7fa-760833a745cb
* Version Independent ID:

[2022-06-01 20:14] #83049 closed

[2022-06-01 20:18] GeethaThatipatri-MSFT commented on #93787
Hi @bjoeysouza Thanks for your findings, We will investigate and update as appropriate

[2022-06-01 20:20] MarileeTurscak-MSFT commented on #93797
@sananoorani
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-01 20:20] MarileeTurscak-MSFT commented on #93796
@sananoorani
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-01 20:21] aidanfinn opened #93798 "UDR & Azure Bastion Subnet"
UDR support must be added (back) to Azure Bastion Subnet. One of the reasons for IP Connectivity was to implement Bastion in a spoke with VM access to other spokes. This cannot work currently in a hub & spoke where the hub is a VNet without breaking the security model by peering spokes directly.

A simple fix is to:

1) Allow route table association with AzureBastionSubnet with a boolean control v

[2022-06-01 20:33] MarileeTurscak-MSFT commented on #93797
In the portal and the product name still needs to change in Azure AD Enterprise Apps as well.

[2022-06-01 20:33] MarileeTurscak-MSFT commented on #93797
@jeevansd https://github.com/MicrosoftDocs/azure-docs/issues/93796

[2022-06-01 20:57] #85350 closed

[2022-06-01 20:58] DESREFan opened #93800 "Additional Parameters needed to deploy custom template"
There are additional parameters required now.  Can you add recommendations for these in the doc?

Allow Cross Tenant Replication
Default O Auth
Network Acls Bypass
Network Acls Default Action
Key Source
Encryption Enabled
Key Type for Table and Queue Encryption
Infrastructure Encryption Enabled
Is Container Restore Enabled
Is Blob Soft Delete Enabled
Blob Soft Delete Retention Days
Is Container So

[2022-06-01 20:59] MicrosoftGuyJFlo commented on #93128
Yes there is no way to do full blown emergency access accounts but making sure that you have another administrator who can sign in if there was only one (like in a small business setting) is critical. We see lots of people not have a backup plan for something like this.

[2022-06-01 21:05] MicrosoftGuyJFlo commented on #92872
Thanks for the feedback.

[2022-06-01 21:05] #87999 closed

[2022-06-01 21:07] #93573 closed

[2022-06-01 21:08] MicrosoftGuyJFlo commented on #93128
#please-close
#reassign:@MicrosoftGuyJFlo

[2022-06-01 21:08] #93128 closed

[2022-06-01 21:08] MicrosoftGuyJFlo commented on #93366
#reassign:@MicrosoftGuyJFlo
#please-close

[2022-06-01 21:15] #92872 closed

[2022-06-01 21:15] bandersmsft commented on #93530
@JustinGrote I've updated the article and it will get refreshed live today at 3:30 PDT.
#please-close

[2022-06-01 21:15] #93530 closed

[2022-06-01 21:21] thomasjsweet opened #93801 "Microsoft 365 Business Standard license shows Premium"
[Enter feedback here]
Hello
If you search for this Microsoft 365 Business Standard, it shows this as the sku O365_BUSINESS_PREMIUM
That seems off.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product names

[2022-06-01 21:26] JamesTran-MSFT commented on #93801
@thomasjsweet
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-01 21:29] ericd-mst-github commented on #93447
Thank you for the feedback and we'll work on incorporating a Terraform into this.

#please-close

[2022-06-01 21:29] #93447 closed

[2022-06-01 21:41] cebundy commented on #93791
@spottedmahn Thanks for your input.  Does the Application Life Cycle Management article meet your needs?  This article is under the Concepts section of the Container Apps documentation.

[2022-06-01 21:46] JustinGrote commented on #93530
@bandersmsft thank you so much!

[2022-06-01 21:56] BryanTrach-MSFT commented on #93751
@avandras Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-01 21:57] BryanTrach-MSFT commented on #93752
@takacs525 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-01 22:01] BryanTrach-MSFT commented on #93756
@sk-bln Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-01 22:03] BryanTrach-MSFT commented on #93760
@AshwinMarepalli Thank you for your question. Can you please share with us the URL of the doc that you are having issues with?

Please note that we scope issues on this repro to feedback related to the docs. If you have a product question, please post it on [Microsoft Q&A](https://docs.microsoft.com/answers/index.html) or [Stack Overflow](https://stackoverflow.com/). Thank you for your understandi

[2022-06-01 22:05] divega opened #93802 "Description of resultDescription property seems incorrect"
The descriptions of `resultType` and `resultSignature` talk about an _event_, which is already confusing enough given that the idea of an _event_ is not the same as a _result_. Yet other properties like `operationName` and `operationVersion` talk about the idea of an _operation_, which is also not exactly the same thing as an _event_.

In general, I think the documentation could use some tweaking

[2022-06-01 22:06] khdownie commented on #88428
@spikeyk It's still a hard limit of 30 Azure file share syncs per server (30 server endpoints per server). I think the workaround you're referring to is grouping multiple top-level folders into a new common root directory and then syncing this new root directory, and all the folders you grouped into it, to a single Azure file share. But that's just a tactic to stay within the limit; it doesn't cha

[2022-06-01 22:12] ju-shim commented on #81278
#please-close

Page has been updated with current steps and new screenshots. Thank you!

[2022-06-01 22:12] #81278 closed

[2022-06-01 22:16] Wiiki0807 opened #93803 "Document Typo"
[Enter feedback here]
![image](https://user-images.githubusercontent.com/27147987/171510832-a28b5e49-33d7-446a-8a83-4c0e460521f6.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6fbc978-36aa-d15b-c770-e9140fb89f79
* Version Independent ID: ba3e2bc4-d812-c405-15cc-02660b374676
* Content: [Tutorial: Designer - deploy

[2022-06-01 23:32] bdcoder2 opened #93804 "Supported data types for bitwise operators?"
The documentation does note that:

... hate to be a pest, but (again), no mention is made as to whether or not 64 bit integers are supported.   This should be mentioned in the docs as someone will eventually try to use bitwise operators on 64 bit values and will end up with a bit (excuse the pun) of a surprise!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2022-06-01 23:44] BryanTrach-MSFT commented on #93771
@BzSpi Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-01 23:48] ChaitanyaNaykodi-MSFT commented on #93798
Thank you for your feedback! We will review and update as appropriate.

[2022-06-01 23:54] BryanTrach-MSFT commented on #93773
@faizan1990 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-01 23:55] BryanTrach-MSFT commented on #93779
@kprpg Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-01 23:58] BryanTrach-MSFT commented on #93786
@Moody125 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-02 00:11] JnHs commented on #93482
Hi @scottwtang - thank you for bringing this to our attention! I've updated the document to reflect this option. This GitHub issue will automatically be closed when that update is merged (though it may take a bit more time for the changes to appear in the document). Thanks again for taking the time to add your feedback and help us improve the docs.

[2022-06-02 00:14] kungfudante opened #93806 "Necessary info missing"
In the 3rd step, Connection part of this page, we should mention that if our customers are trying to connect to a VM that has joined domain, on-prem UPN format (domain\username) is not supported, the correct format is username@domain.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c234d88-d9f6-f33e-c245-e307cc37394

[2022-06-02 00:26] horihiro opened #93807 "Description about how to upgrade Function Runtime version"
This documentation mentions that runtime version needs to be v4.5.0 or later to use this SQL binding for python. But there is no description about how to upgrade to the versions.
I found the way in https://github.com/Azure/azure-functions-sql-extension/issues/250 .
It's better to mention the content or link the issue at least until releasing Function Runtime Version v4.5.0 or later on Azure or Fun

[2022-06-02 00:46] dzsquared commented on #93807
#assign:dzsquared

[2022-06-02 00:49] aazeez442 commented on #84434
Hi @rida-xavor

The "Remote Skill" feature is a private preview feature in development hence it is not available in the Speech Portal. To understand your use case and to better assist you. Please reach out to us with more details on your project at:
vi-feedback@microsoft.com

Best
Azeez
Program Manager - Custom Commands

[2022-06-02 00:49] ozhug commented on #93744
thanks @MartinJaffer-MSFT
this bit of code
Set Variable activity using @{activity('Web1')}
Will be very helpful as I work with data factory going forward

Should the red error box above the same as the details displayed in Monitor pipeline runs under Error?
![image](https://user-images.githubusercontent.com/8390821/171524633-12613582-69f6-4f02-bf0b-bf5ff676c77a.png)

![image](https://user-images.g

[2022-06-02 00:50] SnehaSudhirG commented on #92857
@Gill-Bates
The engineer team has confirmed that when they run the same runbook with the parameter as mentioned in the doc and it seems to be working fine. Request you to share details so that we can assist further.

[2022-06-02 01:01] scottwtang opened #93809 "Self-signed certificate warning"
My understanding is there is no domain name validation of the key-pair - perhaps the documentation could elaborate on why a self-signed certificate is not recommended for this usage

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc9bed86-d11a-8f1f-4e58-dfa693f0c8df
* Version Independent ID: 65163c9f-40ad-ea33-e589-cc5a

[2022-06-02 01:33] lospinoj opened #93810 "Errors & Omissions"
This article has the following flaws:

1.	It does not state anything about the all important CEF Header, “CEF:Version|Device Vendor|Device Product|Device Version|SignatureID|Name|Severity|Extension”. So it of course fails to make the point that the header is hierarchal from left to right.
2.	It then fails to state what the CEF header “SignatureID” field maps to. In figure 1 the mapping table calls

[2022-06-02 02:08] YutongTie-MSFT commented on #93803
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-02 02:20] #93664 closed

[2022-06-02 03:11] aluty commented on #93740
Thanks for updating the release notes.

[2022-06-02 03:29] paulaustin-automutatio commented on #93473
I have read that documentation and implemented the required fields as shown in my original post and set the X-Forwarded-Host.

It just ends up with an infinite redirect in the authentication code.

[2022-06-02 05:59] Moody125 commented on #93786
Just found a fix!

It's indeed a problem with the address (0x76) that i couldn't change at all inside the project.

I just cut a connection on the sensor and soldered the other two pads!

That switched the address from 0x76 to 0x77 and NOW ITS [WORKING!](url)

Thanks anyways! :)

Here's a picture of the sensor and the fix.

![8be95a2d5f51d0bfeb2b0f58af765fda283de589](https://user-images.githubuser

[2022-06-02 06:13] Akshaymane71 opened #93811 "ResourceGroup Parameter saying empty for Set-AzStorageAccount for replicating Image version"
* Below is code snippet
* PS C:\Windows\system32>>>> $rgName ="RG_TEST_pre"
$galleryName = "DLAPGalleryTest"
$imageName = "DLAPImage"
$versionName = "0.0.1"
$region1 = @{Name='West US';ReplicaCount=1}
$region2 = @{Name='Canada central';ReplicaCount=1}
$targetRegions = @($region1,$region2)

$StorageAccount =New-AzStorageAccount -Location "Canada Central" -SkuName Standard_ZRS  -Name "storagecanada4

[2022-06-02 06:30] spikeyk commented on #88428
@khdownie It was actually to modify a registry key so I can add the server to more than 30 sync groups. It was tested working tho.

[2022-06-02 06:34] jasonhorner opened #93812 "mssparkutils.credentials.getSecret() doesn't work as expected when running notebook non-interactively"
https://docs.microsoft.com/en-us/azure/synapse-analytics/spark/microsoft-spark-utilities?pivots=programming-language-python#credentials-utilities

when trying to retrieve secrets from key vault it seems there is a bug in the spark utilities. while they work fine interactively running the notebook.

When the notebook is run via a data integration pipeline:

[code]
or

[code]
the secret retrieval wi

[2022-06-02 06:46] #93605 closed

[2022-06-02 07:00] #92869 closed

[2022-06-02 07:15] osamum opened #93813 "Screenshot in [Run the code] is different from the screen of the actual application"
This sample uses a Teams thread to make a video call, and the sample application screen has the following input fields:

1. User access token
2. Teams user identity in format: '8:orgid:USER_GUID
3. Teams thread id

However, the screenshot in [Run the code] does not have the above item.
In other words, the user will not be able to run the application because the procedure for running this sample ap

[2022-06-02 07:18] batamig commented on #93810
Hi @lospinoj, thanks for writing into docs!
I'm tagging a current content owner. @yelevin, can you address this item? Thanks

[2022-06-02 07:42] QuentinMahieu opened #93817 "How to add Output_Path when invoking batchendpoint with python SDK v2"
Hi,

When invoking the batchendpoint with the sdkv2, I ran into troubles because of the 'input_data' variable shown in the example.

This needs to be "input" vs "input_data" as follow:
[code]
But this is not my main issue, I would like to specify an "output_path", but when I'm not sure this is supported yet?
I have tried to add the output_path in the parameters as follow:

[code]
Any ideas if I co

[2022-06-02 07:52] moarychan opened #93818 "Azure AD responses 401 when accquiring access token using the client_secret_jwt client authentication method"
I have passed the case [Access token request with a certificate](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-client-creds-grant-flow#second-case-access-token-request-with-a-certificate) using `private_key_jwt` client authentication method, but I can not find any document about client authentication using [client_secert_jwt](https://openid.net/specs/openid-connect-core

[2022-06-02 08:05] moarychan opened #93819 "Azure AD responses 401 when accquiring access token using the client_secret_jwt client authentication method"
I have passed the case [Access token request with a certificate](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-client-creds-grant-flow#second-case-access-token-request-with-a-certificate) using `private_key_jwt` client authentication method, but I can not find any document about client authentication using [client_secert_jwt](https://openid.net/specs/openid-connect-core

[2022-06-02 08:06] #93818 closed

[2022-06-02 08:33] #93677 closed

[2022-06-02 09:24] TimChermin opened #93820 "No mention of Azure front door costs in AAD B2C billing model"
We have been working with AAD B2C for a couple of months now and we realised that there is a decent amount of hidden costs. The [official billing model documentation](https://docs.microsoft.com/en-us/azure/active-directory-b2c/billing) only mentions the costs for the monthly authenticated users. In a lot of cases, Azure front door will have to be used. No company wants to use the default b2c domai

[2022-06-02 09:38] #93803 closed

[2022-06-02 10:13] SadiqhAhmed-MSFT commented on #93704
@medavamshi Checking in to see if the previous post answered your question. Please reply if you have any further questions.

[2022-06-02 10:28] archeon1004 opened #93821 "Lack of Azure AD singing error code"
This document does not describe error 53010 about device registration. Can this be added to the document?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a826ee6f-f457-7109-9f77-67c57977d4e7
* Version Independent ID: 11766f27-492e-a579-dced-8a42528cbb47
* Content: [Azure AD authentication & authorization error codes - M

[2022-06-02 10:42] kschinspari commented on #93573
Yes, go ahead and close - my question about this specific value was answered.

[2022-06-02 10:50] ram-msft commented on #93629
@jiajzhan Can you please help  on this issue.

[2022-06-02 11:04] Josverl opened #93822 "Broken link: Azure Interactive Map - Where is my customer data?"
[Enter feedback here]
the link [Azure Interactive Map - Where is my customer data?](https://azuredatacentermap.azurewebsites.net/) points to an inactive / undeployed azure website

https://infrastructuremap.microsoft.com/ may be a better option

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53efdb97-9173-8efc-7c62-e4f7

[2022-06-02 11:07] cryptodinoadamuso opened #93823 "Unable to retrieve workspace key"
[Enter feedback here]
We have ARM template for Azure Container Instances – ACI to add log analytics workspace, this is the ARM template piece:

[code]

When it runs I’m getting following exception:

_ERROR: {"status":"Failed","error":{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see [https://aka.ms/Dep

[2022-06-02 11:07] #93823 closed

[2022-06-02 11:11] AdamMachera opened #93824 "Unable to retrieve workspace key in ARM template"
We have ARM template for Azure Container Instances – ACI to add log analytics workspace, this is the ARM template piece:

[code]

When it runs I’m getting following exception:

_ERROR: {"status":"Failed","error":{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/DeployOperations for usage

[2022-06-02 11:34] TimoNordstrom opened #93825 "Same content for two different cases"
[Enter feedback here]
In this page, there seem to be the same content for two different cases, for "The following example creates a warning alert when the ingestion volume rate has reached 80% of the limit." and for "The following example creates a warning alert when the data collection has reached the daily limit.". Please update the document.

---
#### Document Details

⚠ *Do not edit this secti

[2022-06-02 12:17] seesharprun commented on #93804
#assign:seesharprun

Thanks @bdcoder2 for your feedback! While we did update the page, we mentioned that we are waiting for confirmation that integers larger than 32-bit unsigned are supported. We can leave this issue open until we get that confirmation.

#label:"doc-enhancement"

[2022-06-02 12:37] tavexit opened #93827 "missing atribute in code snipet"
[Enter feedback here]
Attribute '**idp-single-sign-on-url**' MUST be set. it is missing in snippet
in the codesnipet after " 2. Run these commands and substitute the <values> with the information that you collected previously:"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 675b6583-259f-1135-6443-b9aa40258163
* Versio

[2022-06-02 12:37] tavexit commented on #93827
![image](https://user-images.githubusercontent.com/84084529/171630775-4c3f6ef9-37c3-489a-bad8-244368c475c0.png)

[2022-06-02 12:59] medavamshi commented on #93736
any updates?  we got around 300 vm's that need to be migrated to a different region.  cannot migrate them with trusted launch enabled.

[2022-06-02 13:04] Kashif2016 opened #93828 "Error in your documentation"
Hello,
I have followed your documentation but I have found an error in it, where it says "Add code for user login and token acquisition".
Here it is missing that the "auth.js" file needs to be created in the "routes" folder first and then add this code in there.

After following all the mentioned steps, I was not able to run the code and I figured out the problem. So I wanted to give that feedback

[2022-06-02 13:15] jimmart-dev commented on #79987
I replaced the screen shot with a current one and modified the text in the article to reflect the new location of where Defender is enabled for a storage account in the portal.

[2022-06-02 13:31] dliwustl opened #93829 "The Azure AD Slack tutorial needs a section on mapping the "active" attribute"
In order for Azure AD to properly auto-provision on Slack (through SCIM), the SP "active" attribute needs to be mapped or else the SCIM calls will not be able to properly discern an SP account's state.

The SP "active" attribute should probably be mapped to the following:

`Switch([IsSoftDeleted], "", "True", "False", "False", "True")`

We puzzled at why SCIM DELETE calls were not working until we

[2022-06-02 13:43] sdgilley commented on #91457
assign: @lgayhardt

[2022-06-02 13:44] sdgilley commented on #91485
assign: @ssalgadodev

[2022-06-02 13:50] Kishore1K opened #93830 "The code Test the prediction endpoint in Python is Not working Please Update The Documentation if There is any update"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f6c3f20-25a4-bc19-0cb6-377eff01b00e
* Version Independent ID: 02d76c7b-cffa-c94f-2298-ba7e506d4f79
* Content: [Quickstart: Image classification with Custom Vision client library or REST API - Azure Cognitive Services](https://docs.microsoft.com/en-us

[2022-06-02 13:51] Kishore1K commented on #93830
predictor.classify_image() Function is Not working

[2022-06-02 13:52] endintiers commented on #93664
Urrrr.... ACTUALLY.
Something changed in the code this week.
NOW it Insists that the assets projectKind and the metadata projectKind are the same!

I swear that wasn't the case on Monday (Australian time).

So - I think you will have to change it back - sorry.

[2022-06-02 13:54] #93337 closed

[2022-06-02 13:59] MonikaReddy-MSFT commented on #93824
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-06-02 14:28] MonikaReddy-MSFT commented on #93802
@divega  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-06-02 14:33] sfc-gh-mikejohnson opened #93832 "Snowflake Organization URL Structure"
Under the heading "Configure Snowflake SSO" https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/snowflake-tutorial#configure-snowflake-sso

It would be helpful to remind users that if they are using a new Snowflake URL with an organization name as their login URL, it is necessary to update the following parameters:

    [ SAML2_SNOWFLAKE_ISSUER_URL = '<string_literal>' ]
    [ SAML2_

[2022-06-02 14:34] krishnaji opened #93833 "Add servers using interactive script tile"
It looks like this Tile is renamed on the portal Now to **Add a single server**
3. On the Select a method page, select the **Add servers using interactive script tile**, and then select Generate script.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6036c6de-a2e8-ffd7-50e9-44ae32bf1682
* Version Independent ID: f7ab9ab

[2022-06-02 14:43] johnmarco commented on #93833
Hi @krishnaji . Thank you for pointing this out. I should be able to get it fixed in the next couple of days.

[2022-06-02 14:45] cotepatrice opened #93834 "The "Customizing token validation" sample not working with .Net 5"
The "[Customizing token validation](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-protected-web-api-app-configuration#customizing-token-validation)" section code is not working with .Net 5 . The error is :

`Severity	Code	Description	Project	File	Line	Suppression State
Error	CS1061	'BinderOptions' does not contain a definition for 'Events' and no accessible extension met

[2022-06-02 14:45] MonikaReddy-MSFT commented on #93825
@TimoNordstrom - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-06-02 14:45] #93825 closed

[2022-06-02 14:47] hayleyhorn opened #93835 "Hyperlink text got bonked"
In this line of the page, the hyperlink is missing
Geo-redundant storage: Azure has **[geo-redundant storage across regions[https://docs.microsoft.com/azure/storage/common/storage-redundancy](https://docs.microsoft.com/en-us/azure/storage/common/storage-redundancy))** for persisted storage using an asynchronous storage replication process.

where I think it meant to be:
**[geo-redundant storage ac

[2022-06-02 14:58] MonikaReddy-MSFT commented on #93756
@sk-bln - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-06-02 14:58] #93756 closed

[2022-06-02 15:00] MonikaReddy-MSFT commented on #93746
@raghu4sangeeth - the required permissions are shown at [https://docs.microsoft.com/en-us/azure/cost-management-billing/reservations/view-reservations#who-can-manage-a-reservation-by-default](url)

Hope that helps.

[2022-06-02 15:01] MonikaReddy-MSFT commented on #93672
@PingPongSet - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-06-02 15:01] #93672 closed

[2022-06-02 15:01] Joshua-Igoni commented on #40074
hi @mimckitt , I am trying to deploy a set of containers using azure container instances using Docker compose, after deployment i cant seem to see the "diagnostics settings" in the monitoring section after clicking into the ACI resource. my goal is to send container logs to azure monitor( log analytics), since that can not be achieved from the docker compose deployment option for ACI.

However the

[2022-06-02 15:03] Joshua-Igoni opened #93836 "Certificates as secrets in ACI Yaml deployment"
hi, I am trying to deploy a set of containers using azure container instances using Docker compose, after deployment i cant seem to see the "diagnostics settings" in the monitoring section after clicking into the ACI resource. my goal is to send container logs to azure monitor( log analytics), since that can not be achieved from the docker compose deployment option for ACI.

However the syntax for

[2022-06-02 15:12] JamesTran-MSFT commented on #93809
@scottwtang
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-06-02 15:13] JamesTran-MSFT commented on #93819
@moarychan
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-06-02 15:14] BryanTrach-MSFT commented on #93788
@venkata-chilakapati-msft Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-02 15:15] JamesTran-MSFT commented on #93820
@TimChermin
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-06-02 15:15] AbbyMSFT commented on #93672
Hi @PingPongSet
I just want to clarify the response: Smart Groups was a preview feature that has not been moved forward. Smart Groups has been retired. The UI and the documentation have been updated to reflect this.
Thank you for your dedication to our product and our documentation.

Abby

[2022-06-02 15:15] JamesTran-MSFT commented on #93821
@archeon1004
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-06-02 15:16] JamesTran-MSFT commented on #93827
@tavexit
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-02 15:17] AaronMaxwell commented on #93257
The PM owner has been contacted and we're investigating this issue.

[2022-06-02 15:17] JamesTran-MSFT commented on #93828
@Kashif2016
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-06-02 15:20] BryanTrach-MSFT commented on #93791
@spottedmahn Thanks for the feedback! I have assigned the issue to the content authors to investigate further and update the document as appropriate.

[2022-06-02 15:22] JamesTran-MSFT commented on #93834
@cotepatrice
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-06-02 15:24] AaronMaxwell commented on #93334
Please use https://aka.ms/aidocs to file internal work items.

The following internal work item has been created to update this content. The corrections will most likely be published tonight.

https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1956598

[2022-06-02 15:24] AaronMaxwell commented on #93334
#please-close

[2022-06-02 15:24] #93334 closed

[2022-06-02 15:24] JamesTran-MSFT commented on #93794
@scimaksim
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-06-02 15:26] JamesTran-MSFT commented on #93806
@kungfudante
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-02 15:37] guverduz opened #93838 "Customer feedback about flaws in article"
While working on a case (2204130040009917) the customer has identified the following as flaws in this article:

1. It does not state anything about the all important CEF Header, “CEF:Version|Device Vendor|Device Product|Device Version|SignatureID|Name|Severity|Extension”. So it of course fails to make the point that the header is hierarchal from left to right.

2. It then fails to state what the C

[2022-06-02 15:51] lekkimworld opened #93839 "Container app creation fails due to missing env var"
Followed the tutorial but the "az containerapp create \
  --name $FRONTEND_NAME \
  --resource-group $RESOURCE_GROUP \
  --environment $ENVIRONMENT \
  --image $ACR_NAME.azurecr.io/albumapp-ui  \
  --target-port 3000 \
  --env-vars API_BASE_URL=https://$API_BASE_URL \
  --ingress 'external' \
  --registry-server $ACR_NAME.azurecr.io \
  --query configuration.ingress.fqdn" command fails as the FRON

[2022-06-02 15:53] lekkimworld opened #93840 "Images in UI app does not show up"
Once the ui-app is spun up in reads information just fine from the album-api but the image links such as https://aka.ms/albums-daprlogo, https://aka.ms/albums-containerappslogo are broken due to public access not allowed (see below for error):
<Error>
<Code>PublicAccessNotPermitted</Code>
<Message>Public access is not permitted on this storage account. RequestId:483c018f-801e-0015-3f98-7635d600000

[2022-06-02 16:23] Petri-X opened #93842 "Is the statement fact or just an idea? What to believe?"
Hi,

A super dummy question, but on the page you stated for **thumbnailphoto** following:
_synced only once from Azure AD to Exchange Online after which Exchange Online becomes source of authority for this attribute and any later changes can't be synced from on-premise._

When I have following our users how they have change their images, their images are changed normally. And I mean, they change t

[2022-06-02 16:24] himanshusinha-msft commented on #93812
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2022-06-02 16:26] himanshusinha-msft commented on #93835
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2022-06-02 16:28] himanshusinha-msft commented on #93817
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2022-06-02 16:35] cherylmc commented on #93806
Hi! I was contacted in teams and just updated the article. #please-close

[2022-06-02 16:35] #93806 closed

[2022-06-02 17:03] rolyon commented on #89856
Hi @jhornych
Thanks for your feedback. We think the description should be something like "Get Functions". We've sent this feedback to the team to review since this description is part of the resource provider. If they update the description, we'll update the docs.
Let us know if you have any additional feedback.
thanks

[2022-06-02 17:03] rolyon commented on #89856
#please-close

[2022-06-02 17:03] #89856 closed

[2022-06-02 17:05] DavidMartinOnGitHub opened #93843 "Download To A String example code error"
The 'Download to a string' https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-download#download-to-a-string code has errors.

The Console.WriteLine should be
    Console.WriteLine("Downloaded data:{0}", downloadedData);
the {0} is missing.

The 'localFilePath' parameter is superfluous, not used by code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2022-06-02 17:33] daemel opened #93844 "incorrect link"
Hi,
I found a link in this section that still points to the Azure API for FHIR vs the Azure Health Data Services deployment.

Section:
Review the ARM template

Link:
The template used in this article is from [Azure Quickstart Templates](https://azure.microsoft.com/resources/templates/azure-api-for-fhir/).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2022-06-02 17:39] GeethaThatipatri-MSFT commented on #93844
Hi, @daemel Thanks for your findings,We will investigate and update as appropriate

[2022-06-02 17:43] drazen-relias commented on #93598
Well thank you for the response, but I am still not sure how this article explains how to publish multiple versions of my API as title says.
If I have an API that has 2 versions, that means it would have 2 swagger files, each one for the different version. And I really do not see how to publish my API inside of the APIM!?
What is demonstrated here is manually clicking and creating a new version wh

[2022-06-02 17:54] jimmart-dev commented on #79987
@ROSMITHJ-MSFT The updated doc with the fix is now live. Thanks again for reporting this.

[2022-06-02 17:55] jimmart-dev commented on #79987
#please-close

[2022-06-02 17:55] #79987 closed

[2022-06-02 17:57] laujan commented on #93794
Hi @scimaksim, Thank you for catching the indentation error in the Python quickstart code sample. The file has been updated. You should see the change this afternoon. Thanks again!

cc: @JamesTran-MSFT

[2022-06-02 18:09] JamesTran-MSFT commented on #93755
@jtidmus
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-06-02 18:09] #93755 closed

[2022-06-02 18:18] BryanTrach-MSFT commented on #93813
@osamum Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-02 19:04] shashankkr opened #93846 "When is this service going to be GA"
Hello,
Please let me know when this feature going to be GA.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13064915-f5c2-0a20-48cd-53705e47b396
* Version Independent ID: 5d4cd440-02d0-9684-0b12-e591628c744e
* Content: [SFTP support for Azure Blob Storage (preview)](https://docs.microsoft.com/en-us/azure/storage/blobs/s

[2022-06-02 19:07] hahazeMSFT opened #93847 "Service Principal owners cannot revoke permissions"
Please update documentation to call out that owner of the service principal cannot revoke permissions using PowerShell commands

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a35d8227-9a4b-57a3-dd9b-31d577451c73
* Version Independent ID: 9cb13a07-8fe0-4478-7ca0-ddbb1fa87d6c
* Content: [Review permissions granted to app

[2022-06-02 19:17] JamesTran-MSFT commented on #93827
@tavexit
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.
![image](https://user-images.githubusercontent.com/36619112/171719664-40aa5155-ed2c-4466-b7c5-2a63da0bc988.png)

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time

[2022-06-02 19:17] #93827 closed

[2022-06-02 19:19] JamesTran-MSFT commented on #93847
@hahazeMSFT
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-06-02 19:32] lipalath-ms commented on #93608
Thank you! Does that mean there is no point in adding this tile to the dashboard as it doesn't show the data based on time/date settings?

[2022-06-02 19:43] #93482 closed

[2022-06-02 19:44] MarileeTurscak-MSFT commented on #93842
@Petri-X
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-02 19:56] polvallverdu opened #93848 "Error when installing ingress through helm"
I'm trying to follow this guide: https://docs.microsoft.com/en-us/azure/aks/ingress-static-ip?tabs=azure-cli
But I'm getting this issue after 5 minutes
[code]

I already checked the variables, checked that the IP is created and made sure that the DNS Label truly points to the external IP I created.

Any idea of what it could be?

[2022-06-02 20:12] polvallverdu commented on #93848
I'm getting this when debugging
[code]

[2022-06-02 20:18] meenasaravanan02 commented on #64615
Hello @chitturs,
Thank you for the issue. Could you please share the code.  This would help us fix the issue and update the document.

[2022-06-02 20:36] seesharprun commented on #93804
@bdcoder2, we have updated the article with an explanation of how the bitwise operators work. That update should be live soon.

The short version: The bitwise operators in Azure Cosmos DB SQL API follow the same behavior as bitwise operators in JavaScript. JavaScript stores numbers as 64 bits floating point numbers, but all bitwise operations are performed on 32 bits binary numbers. Before a bitwi

[2022-06-02 20:36] DeanGross opened #93849 "Old content"
The white paper that is referenced on this page is from 2019, could this be updated to incorporate any new guidance and changes to the services

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3e80266-d60e-c46d-38a1-83cfd677f299
* Version Independent ID: c255951e-acda-184a-996b-b3df4a18913a
* Content: [Security best pra

[2022-06-02 20:38] polvallverdu commented on #93848
I forgot to link my acr to my aks

[2022-06-02 20:38] #93848 closed

[2022-06-02 20:38] polvallverdu commented on #93848
I forgot to link my acr with my aks

[2022-06-02 20:54] lospinoj commented on #93810
Thanks All.

[2022-06-02 21:09] abatishchev opened #93850 "Example incorrectly uses management.azure.com as the audience"
Here's the code:

[code]

Note that it uses `https://management.azure.com/` instead of RFC2606-approved `https://example.com` or similar generic, unmeaningful domain.

As the result, folks who don't know the domain of auth well enough end up copy & pasting it as is. True story, happened to me yesterday.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2022-06-02 21:45] MarileeTurscak-MSFT commented on #93838
@guverduz thanks for the feedback! Since you appear to be an internal employee, the recommended process for this type of feedback is to create a pull request and/or send an email to the author rather than create a public Github issue.

As such, I am closing this out but feel free to create a pull request or start a thread with the author to triage this feedback. aka.ms/contributor/getstarted

[2022-06-02 21:45] #93838 closed

[2022-06-02 21:48] JamesTran-MSFT commented on #93850
@abatishchev
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-02 21:49] whhender commented on #93410
@pnarsi - We don't have Private Link currently available for Microsoft Purview, so the set up that they have for ADF is not yet possible for Microsoft Purview.

We do have documentation for end-to-end Network isolation for Microsoft Purview: https://docs.microsoft.com/en-us/azure/purview/catalog-private-link-end-to-end

But no, there aren't specific private endpoints available for  *.frontend.clou

[2022-06-02 21:50] whhender commented on #93410
@zeinab-mk - Would you also be able to lend any expertise here?

[2022-06-02 22:02] MarileeTurscak-MSFT commented on #93680
If only SSPR is enabled and Per-user MFA is not enabled/enforced, only the SSPR interrupt is called.

When policies for MFA and SSPR are both enabled, the MFA interrupt always comes before the SSPR interrupt. If the user does encounter an SSPR interrupt, they will see the credentials they just registered, and they only have to click "Done."

Let me know if this helps!

If you have further question

[2022-06-02 22:02] #93680 closed

[2022-06-02 22:09] jeevanions opened #93854 "Documentation is not clear regarding private dns zone requirement"
I am working on an ARM template to provision a storage account with the private endpoint.

The documentation goes through the steps on this page and it is not obvious that the mandatory resources are required to get the private endpoint working.

I have followed this documentation except for the Private DNS zone resource. And when resolved within the VNET the storage account endpoint is still usin

[2022-06-02 22:14] kripa-2019 opened #93855 "Move an entire Azure Synapse Analytics workspace to another subscription"
Is Moving an entire Azure Synapse Analytics workspace to another subscription supported via pipelines?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23df5354-6833-a5da-0eb3-d860150c8b78
* Version Independent ID: 682ec206-0fda-3e0b-5841-543860a87e34
* Content: [Move operation support by resource t

[2022-06-02 22:15] konrad-jamrozik opened #93856 "Broken link to "Design a Log Analytics workspace configuration(workspace-design.md)""
Broken link in following paragraph:

Namely:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22ef97d5-9a43-be23-f9a5-5662e8148b01
* Version Independent ID: f934f3cf-b010-0d82-2ffc-169703411e00
* Content: [Log Analytics workspace overview - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/logs/log-anal

[2022-06-02 22:18] JasonFreeberg commented on #93633
1. We're investigating improvements to Health Check and Slot Swaps. The current guidance is to set the health check path on all sites and slots
2. Not dure what you mean. If the health check handler returns 200-299 then we interpret that as "healthy"
3. Yeah sounds like a good use-case for App Init!
4. Yes. From the article: "When scaling out, App Service pings the Health check path to ensure new

[2022-06-02 22:39] henderni opened #93857 "Incorrect Zip File Signature Bytes for PKLITE in the Format Signature Example Code"
https://docs.microsoft.com/en-us/azure/security/develop/threat-modeling-tool-input-validation#controls-users
In the Example code for file format validation, the last byte of the 2nd .ZIP signature (the PKLITE signature) should be **0x45**, not **0x55**.

Current (incorrect): 0x50, 0x4B, 0x4C, 0x49, 0x54, 0x55
Corrected: 0x50, 0x4B, 0x4C, 0x49, 0x54, 0x45

https://www.garykessler.net/library/file_s

[2022-06-02 22:48] JasSuri commented on #59903
https://stackoverflow.com/questions/68466539/azure-b2c-password-change-gives-me-invalid-username-password

[2022-06-02 23:12] pgbfnf commented on #87380
still not updated

[2022-06-02 23:26] abhaybhangale opened #93858 "This will break when certs setup for auto-rotation in our keyvault are rotated."
ADF seems to have a lot of fancy features but not ones that are compliant with our internal Microsoft security review policies. Ideally we want to use certificates for authN/AuthZ that can be auto-rotated in the keyvault and services that use those certificates should not require any manual intervention.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2022-06-02 23:31] ashishmundrajll opened #93859 "Need to Re-import Certificate after Machine Restart"
I followed all steps, used the docker-compose.yml file with same IP address as in documentation. All worked fine. However, when I restarted my machine, my docker instance was in undefined state. So, I ran docker compose down, restarted docker and then docker compose up. However, I then see https certificate invalid. So, I had to again run powershell import.ps1. I like to know how I can avoid runni

[2022-06-02 23:38] roygara commented on #64247
#reassign: roygara

[2022-06-02 23:38] roygara commented on #83328
#reassign: roygara

[2022-06-02 23:48] MarileeTurscak-MSFT commented on #93857
@henderni
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-02 23:51] MarileeTurscak-MSFT commented on #93857
Thank you very much for pointing this out and providing the citation, @henderni! I just made a pull request to correct this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/200355

The changes should go live in a day or two.

[2022-06-02 23:51] #93857 closed

[2022-06-03 00:15] YutongTie-MSFT commented on #93830
If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2022-06-03 00:17] santhoshb-msft opened #93860 "Clarity around adding GUIDs to external deployments"
Would adding the GUIDs is only for external deployments? If so should the below line be corrected?

_Add your registered GUIDs to your **Azure app** and/or user agent strings._

Should this say

_Add your registered GUIDs to your **Azure Resource Manger Template** and/or user agent strings._

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2022-06-03 00:21] zer0big opened #93861 "Update the title of this page"
The Title of this page needs to be updated since Azure Container Apps is now GA.

**ASIS**
Tutorial: Communication between microservices in Azure Container Apps Preview

**TOBE**
Tutorial: Communication between microservices in Azure Container Apps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1779a5c-d2f0-d5c6-ef58-

[2022-06-03 00:42] BryanTrach-MSFT commented on #93839
@lekkimworld Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-03 00:43] BryanTrach-MSFT commented on #93840
@lekkimworld Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-03 00:50] BryanTrach-MSFT commented on #93843
@DavidMartinOnGitHub Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-03 00:51] BryanTrach-MSFT commented on #93846
@DerekHerman-MSFT Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-03 01:03] GeethaThatipatri-MSFT commented on #93859
Hi, @ashishmundrajll Thank you for reaching out. this seems to be a question that you can ask in the MS Q&A forum.
We have a Q&A community for Azure Cosmos DB where you can post support questions and
get assistance from the community or the engineering team. Here in the documentation repo, there's not an action item we can take in the docs for this issue.

[2022-06-03 01:36] sooch-msft opened #93862 "More clear description is required for how to log in when you click "Authenticate" for Azure DevOps"
[Enter feedback here]
Could you mention explicitly how to steps for the users who are using Automation as guest user?

Currently, we have this note in the doc.

_The login for your source control repository might be different from your login for the Azure portal. Ensure that you are logged in with the correct account for your source control repository when configuring source control. If there is a

[2022-06-03 01:53] cebundy commented on #93861
@zer0big Thank you for reporting this!  I have fixed the document.
#please-close

[2022-06-03 01:53] #93861 closed

[2022-06-03 01:56] MonikaReddy-MSFT commented on #93855
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-06-03 02:42] TonySh127-ms opened #93863 "The feature name refer "CloudKnox" instead of "Microsoft Entra Permissions Management""
[Enter feedback here]

The refer picture need to be changed as document name has changed to "Microsoft Entra Permissions Management"

![image](https://user-images.githubusercontent.com/68043042/171776236-29319954-29c8-44fd-bbab-f7a2a1de0f7f.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f02527a7-8532-40eb-9a69-7d1

[2022-06-03 02:55] jrdtechnologies opened #93864 "This help does not apply for current version of Azure"
The procedures outlined in this support article are for an old version of Azure.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3e781ba-8642-d27c-86cf-e6a445412efc
* Version Independent ID: 9ee5d049-3021-63e7-61ee-28eaa4a9bc9a
* Content: [Sign up for Microsoft 365 with Azure account](https://doc

[2022-06-03 02:57] KrishnaG-MSFT commented on #93856
@konrad-jamrozik Thanks for your comment! We will review and provide an update as appropriate.

[2022-06-03 03:00] KrishnaG-MSFT commented on #93864
@jrdtechnologies Thanks for your comment! We will review and provide an update as appropriate.

[2022-06-03 03:03] KrishnaG-MSFT commented on #93823
@cryptodinoadamuso I see the issue is closed the I believe it's self-resolved. Let me know if that's not the case.

[2022-06-03 03:12] shwetamathur7 commented on #93863
@TonySh127-ms Thanks for your feedback. We will investigate and update the thread.

[2022-06-03 03:35] justinmchase commented on #81302
No problem thanks much!

[2022-06-03 04:50] kobulloc-MSFT commented on #93736
@medavamshi According to the documentation, the instructions for verifying or updating Trusted Launch is the same for Portal, CLI, and PowerShell:

https://docs.microsoft.com/en-us/azure/virtual-machines/trusted-launch-portal?tabs=portal%2Ccli2#verify-or-update-your-settings

![image](https://user-images.githubusercontent.com/37556655/171787603-ef67957b-3e9a-465f-a493-2c8454fd3c7a.png)

Looking at

[2022-06-03 04:50] AjayKumar-MSFT commented on #93818
moarychan, Thanks for the update. Much appreciate the follow-up.

[2022-06-03 04:58] sthoward0914 opened #93866 "keras h5 files"
[Enter feedback here]
It seems like documentation does everything EXCEPT give a simple example of loading an h5 file. I can't use .pkl or anything else. All of the examples are great, but none of them seem to translate to loading an h5 file, and to be honest, I'm stuck, and have been for more than a day on one simple little detail. It seems like it would be a pretty common thing, though.

Can you

[2022-06-03 05:11] lucarv opened #93867 "how to choose telemetry format"
[Enter feedback here]
Not sure if this is only a documentation problem....

This document states that you can choose between two different types of format. It does not say HOW or points out to any documentation that does. There is an env --tc that supposedly does that but I could not find what are the VALUE alternatives (supposedly it is an enumerated type).
The second format points makes it avail

[2022-06-03 05:49] v-hgampala commented on #93797
@sananoorani, Will you please confirm on the URLs(Sign-on and Identifier) section, do we need to update them as well?
If yes, please share the latest URLs to update.
Also, please raise an update request in our [portal ](https://microsoft.sharepoint.com/teams/apponboarding/Apps/SitePages/apprequest.aspx)to update the name in the application gallery.

[2022-06-03 06:15] ShaikMaheer-MSFT commented on #93602
https://github.com/MicrosoftDocs/azure-docs-pr/pull/200371 PR created for this change.

[2022-06-03 06:27] IndraGit93 commented on #58829
I am facing the same issue on ubuntu 20.04
I tried following cmds , but still issue is not resolved
sudo apt-get update
sudo apt-get upgrade
sudo apt-get install build-essential cmake uuid-dev
sudo apt-get install openssl libssl-dev
sudo apt-get install libqpid-proton11 libqpid-proton11-dev
libqpid-proton11-dev-doc

[2022-06-03 06:32] ShaikMaheer-MSFT commented on #93602
PR merged. Document will be updated in next build and changed will be live soon. Thank you.

[2022-06-03 06:32] #93602 closed

[2022-06-03 06:38] hrishikeshgjoshi opened #93868 "Performance and Scalability Consideration"
This is great option. However, are there any performance and scalability considerations that needs to be considered when containers are mounted as BlobFuse specifically from I/O perspective and latency perspective?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cef87c25-d489-ed0c-c94f-c764b3fd2413
* Version Independent

[2022-06-03 06:57] #93735 closed

[2022-06-03 06:57] MayankBargali-MSFT commented on #93735
@dellch Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2022-06-03 07:18] gw0 opened #93869 "Out-of-proc attestation of SGX workloads does not work"
I created an AKS cluster with `DCsv2` nodes, then added the `confcom` plugin (the AKS add-on for SGX). In Pods the SGX devices (`/dev/sgx/*`) are present and the examples with *in-proc* attestation mode work. But the example with *out-of-proc* attestation mode that requires an AESM service do not work, because `/var/run/aesmd` is empty.

- https://docs.microsoft.com/en-us/azure/confidential-comput

[2022-06-03 07:23] CGHoussem opened #93871 "[Flux v2] Pipeline links are NOT FOUND"
Hey,

I have noticed that the links that lead to the definitions of the different pipelines (ci, cd and pr) are not valid links.
The links are found in the "[Import the CI/CD pipelines](https://docs.microsoft.com/en-us/azure/azure-arc/kubernetes/tutorial-gitops-flux2-ci-cd#import-the-cicd-pipelines)" section.

I've noticed that the pipeline links for the Flux v1 tutorial are valid. I believe that

[2022-06-03 07:29] arath17 commented on #59903
@JasSuri , I'm using custom policies for everything. and I found out that Sign in policy gives an output claim called signInName which is not provided by Sign up policy, it gives the output claim email instead so I used CopyClaim claims transformation to copy email claim to signInName claim return it in the sign up policy. I'm able to see signInName claim now in the token generated by Sign up poli

[2022-06-03 07:30] tervoju opened #93872 "QR code"
[Enter feedback here]

as such this example is nice but there is actually no explanation how the connection is created i.e what is the QR code content and how that is used for creating the connection.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb646d68-4e54-3238-351c-3cac262ed8ac
* Version Independent ID: cd1d9062-

[2022-06-03 07:31] RohitMungi-MSFT commented on #93866
@sthoward0914 You can refer the Azure ML notebooks [repo ](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/ml-frameworks/keras/train-hyperparameter-tune-deploy-with-keras/train-hyperparameter-tune-deploy-with-keras.ipynb) where an example of deploying with keras might help. Thanks!!

[2022-06-03 07:39] AshokPeddakotla-MSFT commented on #93867
@lucarv Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-06-03 07:47] PriyankaRudramaina commented on #93869
@gw0,

Thank you for your feedback. We will investigate and update the thread further.

[2022-06-03 07:58] osamum opened #93873 "The sample code on this page does not work"
Even if you write the sample code according to the procedure on this page, an error occurs and it cannot be executed.
The error message is the following:
dbg_sample\calling-quickstart\app.js:1:1

    2 | import { AzureCommunicationTokenCredential } from '@azure/communication-common';
    3 |

  C:\Users\osamum\Documents\Job\Tech\Azure Communication Service\playGround\dbg_sample\calling-quickstart\

[2022-06-03 08:00] v-hgampala commented on #92573
Updating the document as suggested.
#please-close

[2022-06-03 08:00] v-hgampala commented on #93832
Updating the document as suggested.
#please-close

[2022-06-03 08:00] #93832 closed

[2022-06-03 08:18] SaiKishor-MSFT commented on #93868
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-03 08:27] SaiKishor-MSFT commented on #93854
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-03 08:28] TeplrGuy commented on #79157
Facing the same issue. Any updates?

[2022-06-03 08:42] dhgokul commented on #93532
FYI This issue is related to the Azure team. Fix will be released within a week or so for all regions. Confirmed with Microsoft team

[2022-06-03 08:52] Venkateshdodda-MSFT commented on #93693
@Medelhani Just following up here. Hope my previous comment clears things up.

[2022-06-03 09:07] kengaderdus commented on #93708
@bhushang19

Thank you for your feedback and patience.

The video and the article are in sync, in fact the video uses the document.

The **Azure AD account** used to run the deployment must be assigned the **Owner role** in the Azure AD subscription ([see how to make an account Owner in the Azure AD subscription](https://docs.microsoft.com/azure/role-based-access-control/role-assignments-portal-su

[2022-06-03 09:07] #93708 closed

[2022-06-03 09:22] Medelhani commented on #93693
Thank you very much for your support.

[2022-06-03 09:28] Venkateshdodda-MSFT commented on #93693
@Medelhani We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply.

[2022-06-03 09:28] #93693 closed

[2022-06-03 09:30] Medelhani commented on #93693
yes you can close this Ticket.
Thanks

[2022-06-03 09:36] JasSuri commented on #59903
Wherever you are doing the copy transform, you must make sure the technical profile is referencing SM-AAD session management. This way, the claim is persisted in the **cookie**, so it can be used across journeys.

[2022-06-03 09:37] asergaz commented on #93872
Thank you for your feedback @tervoju . The QR code is the IoT Device Connection String. Like for example:

HostName=YOURIOTHUB.azure-devices.net;DeviceId=device1;SharedAccessKey=D5ACUtiSHKftvGb7WABCDED1ucTpaJmORi03zhoghs=

Will let @dominicbetts evaluate if we can add a note in the documentation referencing that.

[2022-06-03 09:48] zer0big opened #93876 "Need to add the parameter "--resource-group" when building a container with ACR"
In the Build the container with ACR section,
The following command, which performs container build with ACR, requires the --resource-group parameter and will result in an error if omitted.
`az acr build --registry $ACR_NAME --image $API_NAME .`

Therefore, changes are required in the following way.
`az acr build --registry $ACR_NAME --image $API_NAME --resource-group $RESOURCE_GROUP .`

![image](h

[2022-06-03 10:00] ShyamBabuJayswal opened #93878 "l"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c514e29a-a95d-8a7f-346e-c95b540f76d4
* Version Independent ID: c54695ae-ff4c-66d1-86f9-19278f639829
* Content: [Application Insights for Azure cloud services - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/app/cloudservices)
* Co

[2022-06-03 10:28] SadiqhAhmed-MSFT commented on #93704
@medavamshiWe haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2022-06-03 10:28] #93704 closed

[2022-06-03 10:32] shashishailaj commented on #93858
@abhaybhangale Thank you for your feedback. We will investigate and update the thread.

[2022-06-03 11:01] lightupdifire opened #93879 "Associate the custom domain with your Front Door Endpoint"
Hello,

At step 3

Please confirm that we must create a CNAME record for a custom domain if the DNS provider is not Azure DNS as the following:

1. If the record value as an example is "zzz.azurefd.net"
2. If the domain/record name is for an example "mydomain.com"
3. Then the CNMAE must be: from "mydomain.com" to "zzz.azurefd.net"

Correct?
You have explained in the doc only if Azure DNS exists, b

[2022-06-03 11:02] arath17 commented on #59903
Thanks a lot @JasSuri , referencing SM-AAD fixed the issue.

[2022-06-03 11:08] #90481 closed

[2022-06-03 11:14] SwathiDhanwada-MSFT commented on #93862
@sooch-msft Thanks for your feedback.

Assigning to content author @SnehaSudhirG  for review.

[2022-06-03 11:17] SwathiDhanwada-MSFT commented on #93878
@ShyamBabuJayswal Can you please elaborate on the issue you are facing ?

[2022-06-03 11:19] ShyamBabuJayswal commented on #93878
How I get azure services free. My visa card not valid for this,.

On Fri, 3 Jun, 2022, 16:47 SwathiDhanwada-MSFT, ***@***.***>
wrote:

[2022-06-03 11:25] sfc-gh-mikejohnson commented on #93832
Thank you for taking action so quickly!

[2022-06-03 12:12] dantecit0 opened #93880 "Azure Firewall RCG Limits need to be updated"
[Enter feedback here]
Hello team,
Please update the following item in the Azure Firewall table:
<html>
<body>

Total size of rules within a single Rule Collection Group | 2 MB
-- | --

</body>
</html>

This limit is the current CosmosDB limit and it cannot be reached in Azure Firewall RCGs, the max is way lower than that as confirmed by engineering team (around 1.4MB or so).

Thanks!

---
#### Doc

[2022-06-03 12:24] lightupdifire opened #93881 "AFD | Conditions explanation for custom domain"
Hello,

Received the following scenario:

1. Deployed Azure Front Door (new one, not classic version)
2. Web site hosted at 3rd party, a website like "www.somedomain.com"
3. DNS managed in CloudFare
4. @CloudFare the CNAME for www was set to the 3rd party as an example "web.3rdpartyhosting.com"
6. Added domain to the AFD and verified, this was replaced the CNAME for www to "web.3rdpartyhosting.com

[2022-06-03 12:28] cmpl-giedriusk opened #93882 "Multiple policies of the same type"
Hi,

I think this page should mention or maybe even explain in detail, what happens, if you set multiple policies of the same type. It is also important to stress, what is the behavior when you use the same policy in multiple scopes.
For example, if you set multiple "ip-filter" policies at the same scope, an intersection of those policies would be applied. It seems like the same happens, if you us

[2022-06-03 12:36] KenSpur commented on #62394
I would like to bump above recommendation ^^!

The docs are not specific enough around apim internal cache policy, currently scouring the internet to get info about the exact capabilities.

Would also help to document the size of the cache (apparently 1gb) which I found [https://www.sanganakauthority.com/2019/09/improve-azure-api-management.html](here)

[2022-06-03 12:44] spearofjustice opened #93883 "Old Information"
This page has old information as Continuous Export is deprecated!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c0ab8bf-8b57-4bc7-ca33-3ed602aca5c8
* Version Independent ID: d1c79cae-05e7-6b40-2023-c82acd7667c6
* Content: [Export to SQL from Azure Application Insights](https://docs.microsoft.com/en-us/azure/stream-an

[2022-06-03 13:03] seesharprun commented on #93859
#assign:seesharprun

Thanks @GeethaThatipatri-MSFT!

@ashishmundrajll, the [documentation page](https://docs.microsoft.com/en-gb/azure/cosmos-db/local-emulator-on-docker-windows?tabs=cli#regenerate-the-emulator-certificates) has a section that specifically calls out the limitation you described. If you are looking for an enhanced example above and beyond the documentation, the [Q&A forum](https://

[2022-06-03 13:23] rrwolfe opened #93884 "Include Power Platform limitation"
Customers are confused as to whether or not Global Reader role works with Power Platform sites like Power Platform Admin Center and Power Apps Maker Portal. We don't have anything related to Power Platform listed in the limitations area of our documentation for Global Reader. Currently we don't offer support for Global Reader role with Power Platform sites so this should be added to the limitation

[2022-06-03 13:32] BryanTrach-MSFT commented on #93873
@osamum Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-03 13:34] Blackmist commented on #93115
@sunnyhay The response from the product group is that Azure Machine Learning doesn't provide any support or features for this sort of load balancing between two AKS clusters. While it might be possible to manually create a load balancer to route traffic to the two clusters, it would be outside of Azure ML and not supported by the Azure ML product group.

[2022-06-03 13:37] asergaz commented on #93786
Thank you for sharing the solution with others @Moody125 :) !

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-06-03 13:37] #93786 closed

[2022-06-03 13:50] StuartFeldt commented on #47611
@RyanHill-MSFT Any update on token refresh for Apple OIDC provider?

[2022-06-03 13:50] ejschoen opened #93885 "File size limit specification is different on this page than on other pages"
Please clarify file size limit for paid tier.  This page says 500MB.  Other pages (e.g., https://westus.dev.cognitive.microsoft.com/docs/services/computer-vision-v3-2/operations/5d986960601faab4bf452005) say 50MB.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 867c13a4-259b-5686-3208-9c335cc504c1
* Version Independent

[2022-06-03 14:19] squasta opened #93886 "Wrong documentation or something is missing"
Hi following and checking all steps and commands in this page (using azure cli 2.37 and aks-preview extension version 0.5.76 on WSL2), it is impossible to create or update an AKS cluster with keyvault KMS.

Got the following error message :

[code]

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f

[2022-06-03 14:20] johnmarco commented on #93833
#please-close

[2022-06-03 14:20] #93833 closed

[2022-06-03 14:37] zaalion opened #93887 "ARM sample for configuring diagnostic settings for the new Front Door"
[Enter feedback here]

Hi,
Could you please add ARM samples for configuring diagnostic settings for the new Front Door to this page? or provide it here? We need to log to an Azure Log Analytics workspace, and the ARM for the classic frontdoor does not work.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea673aa4-1e06-c7

[2022-06-03 14:57] zaalion opened #93889 "Diagnostic settings ARM sample for the new Azure Front Door"
[Enter feedback here]
Hello,

Could you also provide the Diagnostic settings ARM sample for the new Azure Front Door?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07fc8414-3bff-03f8-fdca-f040eed71389
* Version Independent ID: 8196bd5d-b265-fd62-59c4-2a97b34ebf69
* Content: [Resource Manager template samples f

[2022-06-03 15:06] agowdamsft commented on #93869
Thanks for raising this. We are investigating and will get back soon.

[2022-06-03 15:16] tfitzmac commented on #93653
#please-close

[2022-06-03 15:21] #93115 closed

[2022-06-03 15:40] AbdullahBell commented on #86467
#please-close

[2022-06-03 16:34] tulis opened #93891 "OpenVPN instruction to create self-signed certificate."
Hello, I am very new to security and networking.

I am trying to generate self-signed certificate for VPN Gateway Point-to-Site. I am confused why does the instruction for Linux to create self-signed certificate is using strongswan (which is an open source implementation of IPSec protocol) https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-certificates-point-to-site-linux.

Why does th

[2022-06-03 16:38] tulis opened #93892 "Duplicate instruction of generating certificates between CLI and GUI strongswan"
The GUI strongswan instruction to generate certificates is simply duplicating the CLI instruction. Please provide the actual GUI instruction.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff2a3f07-8dd7-a2f9-236d-4e6dc3c8bdec
* Version Independent ID: b442cc75-f969-ca55-7416-b91d79c6e3a5
* Content: [Generate and export

[2022-06-03 16:42] tulis opened #93894 "Duplicate VPN Gateway FAQ"
There are so many duplicate FAQ for VPN Gateway. Few examples:

* Point-to-site - Certificate authentication
* How many VPN client endpoints can I have in my point-to-site configuration?
* What client operating systems can I use with point-to-site?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98d7fd30-80a8-f690-6191-

[2022-06-03 16:47] brianlehr commented on #69949
Appreciate everyone's feedback, and it will be taken into consideration.  In the meantime, the Public IP documentation has been updated with a section on Availability Zones to add a bit more clarity:[https://docs.microsoft.com/en-us/azure/virtual-network/ip-services/public-ip-addresses#availability-zone](https://docs.microsoft.com/en-us/azure/virtual-network/ip-services/public-ip-addresses#availab

[2022-06-03 16:47] brianlehr commented on #69949
#please-close

[2022-06-03 16:47] #69949 closed

[2022-06-03 17:53] Nickomang commented on #90052
@danielorn, You're correct that outbound connectivity for ubuntu NTP servers is not required for nodes provisioned after March 2021. The documentation has been updated to reflect this, thanks for the contribution!

#please-close

[2022-06-03 17:53] #90052 closed

[2022-06-03 17:55] dzsquared commented on #93807
#please-close

[2022-06-03 17:55] #93807 closed

[2022-06-03 17:58] roalexan opened #93897 "programmatic way to create lake database from database templates"
I'm going to search for a programmatic way to create a lake database from database templates. I hope there is an SDK for this. Assuming there is, I would think this page should make mention of this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a13dd670-fd02-5b14-ce9f-876d2ccf4464
* Version Independent ID: dc78f4ca-d5

[2022-06-03 18:08] bvirkler opened #93898 "query parameter for managed identity object id via azure cli"
Under [Managed Identities](https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-template#managed-identities), when using Azure CLI 2.37, I had to use `[].id` instead of `[].objectId` for the query.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8788e944-1b89-9f78-4c7c-409092e073e5
* Version

[2022-06-03 18:16] eedorenko commented on #93871
Fixed in #200189

[2022-06-03 18:27] justinmchase opened #93900 "Bicep documentation for 'Microsoft.Insights/diagnosticSettings@2021-05-01-preview' is missing"
Please add documentation on how to add this kind of a resource with a Bicep or ARM template.

Most resources in Azure have a way to view as JSON but this particular kind of resource seems impossible or very hard to find the json for and the documentation doesn't seem to indicate how to do it. Its a gap in my infrastructure as code so far and I can't seem to figure out how to create the diagnostic

[2022-06-03 18:29] MarileeTurscak-MSFT commented on #93898
@bvirkler
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-03 18:39] bruceburge opened #93901 "Clarify which unifi product you are talking about."
This article does not make it clear which unifi product it is talking about, ubiquiti unifi is very popular. And can easily be confused with whatever product this is written for.

Adding the producer of the product this tutorial is written for would help greatly.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2022-06-03 18:40] cebundy commented on #93876
@zer0big I am unable to reproduce the error you encountered.  It may be specific to a version of the CLI.  Could you please tell me what version of the Azure CLI  you are using?

[2022-06-03 18:43] JCoreMS opened #93902 "Is this available in Azure US Government"
If this is available in Azure US Government, what is the Endpoint URL?
If this is NOT available, any ETA on when it may become available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 657b5b68-4c41-841a-1110-67b9c2049e39
* Version Independent ID: 2237ca0e-c552-7ee8-97ae-7034e51241d9
* Content: [Azure Monitor HTTP Data

[2022-06-03 18:53] selectstarfromsql opened #93903 "Disk cashing for the tempdb drive?"
I see notes on what disk cashing needs to be chosen for the data files and log files. but I could not find for the Tempdb drive.
can I choose ReadOnly caching for Tempdb?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9a7fbbc-41a8-4f0a-df40-00c34b4a74df
* Version Independent ID: 541ee437-f922-53d

[2022-06-03 18:59] JeffSmalley opened #93904 "VMSS Overprovisioning Default is Incorrect"
This document states "Scale sets currently default to "overprovisioning" VMs."  I am not sure what the default is if you script a deployment but when I deploy a VMSS via the graphical Portal, the Overprovisioning option is disabled by default.

Regards,
Jeff Smalley MCT

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7

[2022-06-03 19:06] katprins opened #93905 "Reusable/paramaterized partition keys in parallel run config/parallel run step"
So in configuring my partition key I have hit an issue. We are trying to set up our code to take in a different file based on the market we are trying to run it for, meaning both the base input data and the partition keys from that data change from market to market. I am trying to figure out the best way to set this up to accommodate this change.

When looking at the documentation supporting this

[2022-06-03 19:12] MarileeTurscak-MSFT commented on #93901
@bruceburge
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-03 19:21] CGHoussem commented on #93871
The link provided is longer available.

[2022-06-03 19:35] ChaitanyaNaykodi-MSFT commented on #93894
Thank you for your feedback! We will review and update as appropriate.

[2022-06-03 19:36] ChaitanyaNaykodi-MSFT commented on #93892
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-06-03 19:37] ChaitanyaNaykodi-MSFT commented on #93891
Thank you for your feedback! We will review and update as appropriate.

[2022-06-03 19:38] ChaitanyaNaykodi-MSFT commented on #93887
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-06-03 19:39] kendallroden commented on #93840
Should be working and updated. @lekkimworld if your refresh the app it will pick up the new backing images

[2022-06-03 19:48] MarileeTurscak-MSFT commented on #93901
Thanks @bruceburge. I agree that this clarification is necessary.

Based on the reference to https://app.discoverunifi.com/ this seems to be referring to UNIFI by UNIFI Labs. https://unifilabs.com/

I made a pull request to update the guide with the reference to the website and the full product name.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/200445

CC @jeevansd

[2022-06-03 19:48] #93901 closed

[2022-06-03 19:49] meenasaravanan02 commented on #64615
Hello @chitturs,
We have updated the doc in the PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/200443
#please-close this issue

[2022-06-03 19:49] #64615 closed

[2022-06-03 20:02] normesta commented on #90944
Ok. Added table examples. Thank you for raising the issue!

#please-close

[2022-06-03 20:02] #90944 closed

[2022-06-03 20:04] meenasaravanan02 commented on #64491
Hi @chitturs,
Thank you for the feedback!
UseApplicationInsights is marked obsolete and will be removed in the next major version change in the SDK. The alternate is to use AddApplicationInsightsTelemetry.

Because the UseApplicationInsights is no longer a standard method, we should mention that it will be next major version. 

This is also added in faq in asp.net core doc as well:
https://docs.mi

[2022-06-03 20:04] #64491 closed

[2022-06-03 20:04] criticalbooterror opened #93906 "Incorrect format in step 7 code block"
**Currently reads:**

`net use <desired-drive-letter>: \\<storage-account-name>.file.core.windows.net\<share-name> /user:Azure\<storage-account-name> <storage-account-key>`

**Should be:**

`net use <desired-drive-letter>: \\<storage-account-name>.file.core.windows.net\<share-name> <storage-account-key> /user:Azure\<storage-account-name>`

_as seen in the example at the end of step 7_

`net use y:

[2022-06-03 20:16] jks05c opened #93907 "Enabling Subscription Feature"
Is it on the roadmap to not have to enable this at the subscription level?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed4de54e-f544-0e42-5b0e-afe148b38667
* Version Independent ID: 4220c38a-28ee-87bb-c270-b7fd3e97043b
* Content: [Enable end-to-end encryption using encryption at host - Azure portal - managed disks -

[2022-06-03 20:16] ProbablePrime commented on #93873
@osamum You're very correct I will make some changes today. Thank you for the report.

[2022-06-03 20:38] kobulloc-MSFT commented on #93906
@criticalbooterror Thank you for bringing this to our attention!  We are reviewing the documentation and will get back to you shortly.

[2022-06-03 21:07] sunnyhay opened #93908 "Failed to run az ml command"
Hello,

  I've followed up this page by removing previous ML CLI version and installing new CLI v2. Here is the result of running "az extension list".

az extension list
[
  {
    "experimental": false,
    "extensionType": "whl",
    "name": "application-insights",
    "path": "C:\\Users\\Administrator\\.azure\\cliextensions\\application-insights",
    "preview": true,
    "version": "0.1.13"
  }

[2022-06-03 21:09] lostmygithubaccount commented on #93908
Hello,

I’d start with trying to update the Azure CLI version, I think 2.26 is relatively old and the ML extension is relatively new.

- Cody

From: Harry ***@***.***>
Date: Friday, June 3, 2022 at 2:08 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Cody Peterson ***@***.***>, Mention ***@***.***>
Subject: [MicrosoftDocs/azure-docs] Failed to run az ml command (Issue #93908)

Hello,

I've follow

[2022-06-03 21:17] kobulloc-MSFT commented on #93886
@squasta Thank you for bringing this to our attention!  We've assigned this to the document author for further review.

[2022-06-03 21:21] kobulloc-MSFT commented on #93903
@selectstarfromsql Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-06-03 21:22] kobulloc-MSFT commented on #93904
@JeffSmalley Thank you for your feedback!  We are reviewing the documentation and will get back to you shortly.

[2022-06-03 21:28] ChaitanyaNaykodi-MSFT commented on #93879
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-06-03 21:34] ChaitanyaNaykodi-MSFT commented on #93881
Hello @lightupdifire,
We primarily monitor this channel for documentation enhancements and bugs, as your question is inclined towards product implementation and troubleshooting can you please raise this question on our [Microsoft Q&A forum](https://docs.microsoft.com/en-us/answers/index.html) instead?
We will now proceed to close this issue out. Please tag me in your response if you have any quest

[2022-06-03 21:34] #93881 closed

[2022-06-03 21:47] #93637 closed

[2022-06-03 21:48] sunnyhay commented on #93908
@lostmygithubaccount Thanks a lot for your super quick response Cody. Yes after upgrading everything is working.

[2022-06-03 21:48] #93908 closed

[2022-06-03 21:48] normesta commented on #86058
Thank you for reporting this. Yes, it appears that Synapse doesn't support Gen1 so I've removed this reference from the article. I believe that this line in the doc use to refer to SQL Data Warehouse. When SQL Data Warehouse became Synapse, this article was updated to use that new name. That said, unlike SQL Data Warehouse, Synapse appears to not carry forward that support.

Thank you again and so

[2022-06-03 21:48] #86058 closed

[2022-06-03 21:55] #93654 closed

[2022-06-03 21:56] ChaitanyaNaykodi-MSFT commented on #93654
Hello @Abhishek-Sharan, Thank you for your feedback, I have made the suggested change it will reflect in the documentation soon.

[2022-06-03 22:09] JamesTran-MSFT commented on #93850
@abatishchev
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-06-03 22:09] #93850 closed

[2022-06-03 22:21] ChaitanyaNaykodi-MSFT commented on #93894
Hello @tulis, this is intentional as the FAQ's are regarding different P2S set-ups.
1. Point-to-site - RADIUS authentication
![image](https://user-images.githubusercontent.com/67453298/171961347-52756fa9-848a-4f63-9a3a-655b54ca73e4.png)

2. Point-to-site - Certificate authentication
![image](https://user-images.githubusercontent.com/67453298/171961675-cf20fba4-ec6d-4228-a605-fab8c9757e3c.png)

We

[2022-06-03 22:21] #93894 closed

[2022-06-03 22:28] BryanTrach-MSFT commented on #93880
@dantecit0 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-03 22:28] BryanTrach-MSFT commented on #93882
@cmpl-giedriusk Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-03 22:30] BryanTrach-MSFT commented on #93883
@spearofjustice Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-03 22:30] BryanTrach-MSFT commented on #93885
@ejschoen Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-03 22:31] BryanTrach-MSFT commented on #93889
@zaalion Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-03 22:36] #93873 closed

[2022-06-03 22:37] ProbablePrime commented on #93873
I've made changes to the quickstarts to add the type="module" where it is needed.

I'll also be updating the samples repo with these changes soon

[2022-06-03 22:37] AaronMaxwell commented on #93257
Thanks for your dedication to our documentation.

Documentation on dependency types can be found here:
https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-dependencies

We aren't investing in a type-to-icon chart, but you can find many icons in the following location.
https://docs.microsoft.com/en-us/azure/architecture/icons/

#please-close

[2022-06-03 22:42] rolyon commented on #93884
Hi @rrwolfe
Thanks for your feedback. We added a bullet in Global Reader for Power Platform.
https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference#global-reader
Let us know if you have any additional feedback.
thanks

[2022-06-03 22:43] rolyon commented on #93884
#please-close

[2022-06-03 22:44] vanlanchoy opened #93910 "How is the struct of aad_token look like?"
When providing the aad_token to header in the python example, what is the content inside or structure of the aad_token object looks like? I created mine like the following and receiving 401 in response
"
response = requests.post(rest_endpoint,
                         headers={'Authorization': 'Bearer {}'.format(svc_pr.get_token())},
                         json={"ExperimentName": exp_name})
"
[E

[2022-06-03 22:46] normesta commented on #80538
Thank you! I fixed the command line example to match the parameters in the description.

#please-close

[2022-06-03 22:46] #80538 closed

[2022-06-03 22:46] rolyon commented on #93898
#please-close

[2022-06-03 22:56] ejschoen commented on #93885
Thanks.  I stumbled across some release notes that say the limit was upped to 500MB in May, 2022.  https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/whats-new. So I guess the reference pages are out of date.

[2022-06-03 22:57] rolyon commented on #93655
Hi @chetan-goenka-by
Thanks for your feedback. We've sent a message to the team asking about this action.
thanks

[2022-06-03 22:59] normesta commented on #92064
Thank you for reporting. I fixed the outdated screenshot. Thx again!

#please-close

[2022-06-03 22:59] #92064 closed

[2022-06-03 23:00] kawiman opened #93912 "Changes to Slack SSO"
There are some major changes to the Slack SSO  and SAML configuration page. It looks much different than the screenshot you have now and I am struggling to find documentation that allows me to understand how to setup certain portions that are now available in Slack, on the Azure side.

There is now an entire section related to "Sign" the AuthnRequest including...

- SAML Request Signing
- SAML Res

[2022-06-03 23:01] rolyon commented on #93712
Hi @DeanGross
Thanks for your feedback. We've sent a message to the team to review.

[2022-06-03 23:09] geukhan opened #93913 "What is "node CIDR range" exactly?"
Please see the image below. In the document it talks about "node CIDR range"; but there is no reference elsewhere about what exactly "node CIDR range" means, and what is the best way to configure NSG for that.

![image](https://user-images.githubusercontent.com/7251174/171965212-9c104ecb-b4a2-4662-8403-d5300891122d.png)

EDIT: I want to clarify that I know what CIDR range is, but I don't know how

[2022-06-03 23:11] normesta commented on #93681
Hi @whsh-ca yes - that is exactly how you tag each group. Use the same pattern in the code sample and append each group or user as you show in your example. RE: the code snippet that was not shown, that is because you were looking at the github page. The web rendered version of that article is here [https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-acl-python](https://docs.mic

[2022-06-03 23:11] #93681 closed

[2022-06-03 23:27] normesta commented on #93843
Thanks! Removed the unnecessary parameter. The string part of the snippet is by design as it shows the contents of the downloaded text file. Thx!

#please-close

[2022-06-03 23:27] #93843 closed

[2022-06-03 23:47] MarileeTurscak-MSFT commented on #93912
@kawiman
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-04 00:41] pinyuko opened #93914 "Suggest to build support matrix page for AWS and GCP each"
[Enter feedback here]
In addition to the existing Hyper-V, VMWare, and Physical support matrix, suggest building support matrix page for AWS and GCP too.
Not sure whether the prerequisites in AWS https://docs.microsoft.com/en-us/azure/migrate/tutorial-discover-aws and GCP https://docs.microsoft.com/en-us/azure/migrate/tutorial-discover-gcp is sufficient.

Thank you!

---
#### Document Details

⚠ *

[2022-06-04 00:46] cebundy commented on #93839
@lekkimworld Thank you for reporting this issue.  We have fixed the tutorial to set the FRONTEND_NAME variable.
#please-close

[2022-06-04 00:46] #93839 closed

[2022-06-04 01:35] VikasPullagura-MSFT commented on #93913
@geukhan
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-06-04 01:35] VikasPullagura-MSFT commented on #93913
@zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2022-06-04 02:53] zer0big commented on #93876
@cebundy I'm using this version.
![image](https://user-images.githubusercontent.com/38598117/171976630-9ec3aba9-df6d-4848-ad07-2b00dac93881.png)

[2022-06-04 03:05] tulis commented on #93894
Hi @ChaitanyaNaykodi-MSFT, okay the first example is bad. Try the second and third example.

![image](https://user-images.githubusercontent.com/10045778/171977340-4be26c5a-9171-4634-bae1-bd1d2a312e6d.png)

[2022-06-04 03:09] zer0big opened #93915 "Miss $FRONTEND_NAME variable definition"
The commands used in the Deploy front end application section are:
The $FRONTEND_NAME variable is undefined and causes an error.
Therefore, it must be further predefined in the Setup section.
![image](https://user-images.githubusercontent.com/38598117/171977663-15318ffd-f9c7-4555-b99e-92627aea5f81.png)

https://docs.microsoft.com/en-us/azure/container-apps/communicate-between-microservices?tabs=ba

[2022-06-04 03:37] BryanTrach-MSFT commented on #93897
@roalexan Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-04 03:41] BryanTrach-MSFT commented on #93905
@katpauli Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-04 03:44] BryanTrach-MSFT commented on #93900
@justinmchase Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-04 03:45] BryanTrach-MSFT commented on #93902
@JCoreMS Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-04 03:48] BryanTrach-MSFT commented on #93907
@jks05c Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-04 03:57] BryanTrach-MSFT commented on #93910
@vanlanchoy Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-04 03:59] BryanTrach-MSFT commented on #93914
@pinyuko Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-04 04:00] BryanTrach-MSFT commented on #93915
@zer0big Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-04 05:11] ogitds opened #93916 "dbt azure databricks demonstration missing base data setting"
The article fails to describe or offer a link to how the underlying Diamonds data set can be accessed or materialised in the users environment. It is hinted at, but there is no link to a reference, the text literally has an '_' as a placeholder.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09e4e384-75be-3b59-9c0c-c1a

[2022-06-04 08:41] nik-app opened #93917 "The app package.json doesn't have build:production and fails"
After setting up the app using azure-cli.

This statement mentioned in the docs

[code]
Doesn't work.

Either app or docs need to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f63b9c7a-d8ed-dbc2-6e79-3d34ab9fb572
* Version Independent ID: 3c24f05f-60b1-0d03-36e7-53503d2c493a
* Content: [Create a TypeScript

[2022-06-04 11:22] arun-dw opened #93918 "How to get the ColdFusion log form the Azure Container Instance?"
I have an Azure Container Instance service and deployed the Docker service there. Now ColdFusion server is running on the Docker service. Now I want the ColdFusion log through the Docker and Container Instance.

Currently, I mapped between Azure Container Instance and Log Analytics workspace. And I got the Container Instance log. But I can't see the Docker or ColdFusion log.

Can anyone help me to

[2022-06-04 12:25] vibhansa-msft commented on #93868
For performance and scalability there are few options that you can play around with.
1. There are various timeouts configurable using cli options such as negative-timeout, attribute-timeout, entry-timeout etc. You can refer README to understand them better.
2. Blobfuse does a local caching of file contents till file handle is open. This means local cache will consume disk space for that much amoun

[2022-06-04 14:13] hanausa opened #93920 "Title has a serious translation problem in Japanese site."
[Enter feedback here]
Regarding the title "Add ingestion-time transformation to Azure Monitor Logs using the Azure portal (preview)", there is a serious translation problem in Japanese site.
On this page, "ingestion-time transformation" is translated into a word that means a completely different function than in English.
Please fix the title of this site's Japanese translation same as other pages

[2022-06-04 15:55] BryanTrach-MSFT commented on #93916
@ogitds Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-04 15:57] rf-0 commented on #12948
@krob527 is right. If you're also using social accounts, then they must output the claim (or any custom claim defined in the local signup).

[2022-06-04 15:57] BryanTrach-MSFT commented on #93917
@nik-app Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-04 15:59] BryanTrach-MSFT commented on #93918
@arun-dw Thank you for your question. Can you please share with us the URL of the doc that you are having issues with?

Please note that we scope issues on this repro to feedback related to the docs. If you have a product question, please post it on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/). Thank you for your understanding

[2022-06-04 16:01] BryanTrach-MSFT commented on #93920
@hanausa Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-04 16:02] BryanTrach-MSFT commented on #93760
@AshwinMarepalli Since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2022-06-04 16:03] #93760 closed

[2022-06-04 16:51] kobulloc-MSFT commented on #93736
@medavamshi I tested this and can confirm that [`az vm update`](https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest#az-vm-update) will disable Trusted Launch (Secure boot and vTPM).  If you need additional assistance, please reach out for expert guidance on **[Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-virtual-machines.html)**.

`az vm update -g MyResource

[2022-06-04 16:51] #93736 closed

[2022-06-04 18:26] dougclutter opened #93921 "deploy_environment does not describe how to deploy to production"
The documentation does a great job explaining how to deploy to a new "environment".
However, it does not describe how to deploy to the Production environment:
1. Do we have to exclude the deploy_environment setting?
2. Is there a magic string (e.g. - Prod, production, ???) that directs the deployment to Production?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2022-06-04 19:08] francisrod01 opened #93922 "Azure Static Web Apps doesn't deploy the API"
I created my Azure function, and I've built my Angular SWA with my API location defined but when I browse the endpoint it tries to call the API in the same URL but fails because it's not accessible.

**The problem:**

![image](https://user-images.githubusercontent.com/4691768/172021790-1b0b988f-80ac-4e12-b1b7-ad7096eeade1.png)

**Azure structure:**

![image](https://user-images.githubusercontent.c

[2022-06-04 19:16] francisrod01 commented on #93922
Did I miss something in the docs?

![image](https://user-images.githubusercontent.com/4691768/172022435-000e9cad-c29c-4b3d-a499-432c01dfb55c.png)

Function set up to use routes, but in the SWA portal I'm seeing it as the folder name

![image](https://user-images.githubusercontent.com/4691768/172022458-7be72894-adf1-449a-9b2a-780fdba49bee.png)

[2022-06-04 22:08] urza opened #93923 "It's not clear what should be in the ConnectionStringSetting"
I am trying to create azure function triggered by http event that writes to cosmos db

I am using Visual Studio 2022 preview.
With these packages
![image](https://user-images.githubusercontent.com/189804/172026907-447c9d63-6746-491b-8b16-826821ef73ee.png)

Following the documentation and provided examples, my function looks like this:

[code]

---
#### Document Details

⚠ *Do not edit this section

[2022-06-04 22:25] francisrod01 commented on #93922
I got the point. It was necessary to set up all the environment variables to get it running.
Anyway, It's not possible to see any logs from my SWA functions in Azure logs.

[2022-06-04 22:25] #93922 closed

[2022-06-04 22:44] thandotettey opened #93924 "Not clear what the URI should be"
Is there an easy way to find the URI on the Azure portal or via CLi? Currently getting error: AnalysisException: Path does not exist: abfss://users@gen2storagett001.dfs.core.windows.net/NYCTripSmall.parquet
Traceback (most recent call last):

also tried URI: abfss://users@gen2storagett001.dfs.core.windows.net/gen2storagett001/NYCTripSmall.parque but this didn't work as well.

---
#### Document Det

[2022-06-04 23:31] kobulloc-MSFT commented on #93732
@anotherancientalien Under the [script location section](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/custom-script-windows#script-location) it notes that the only requirement for the location of the script is that the VM can route to that endpoint, which includes an internal file server:

I would go through both the links in the [template deployment section](https://docs.mic

[2022-06-04 23:38] francisrod01 opened #93925 "TelemetryClient API for SWA or Azure functions"
I couldn't find in the docs how can I use Telemetry client API in frontend/backend - Static Web Apps (because it deploys Functions) or Azure functions, since Azure doesn't show any application logs by default.

https://docs.microsoft.com/en-gb/azure/azure-monitor/app/nodejs#telemetryclient-api

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2022-06-05 01:38] jeevanions opened #93926 "Doc correction"
![Screenshot 2022-06-05 at 02 37 01](https://user-images.githubusercontent.com/95138087/172031234-b5fa614b-229d-4ded-b132-5c74f5a50eac.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2004e554-882e-932e-d55b-7b60b53bcc5b
* Version Independent ID: 67dd746b-88a3-b114-68e2-622c18e95853
* Content: [Fail over across mult

[2022-06-05 02:32] BryanTrach-MSFT commented on #93921
@dougclutter Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-05 02:42] BryanTrach-MSFT commented on #93923
@urza Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-05 02:46] BryanTrach-MSFT commented on #93924
@thandotettey Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-05 02:51] BryanTrach-MSFT commented on #93925
@francisrod01 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-05 02:54] BryanTrach-MSFT commented on #93926
@jeevanions Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-05 05:21] nibblesnbits opened #93928 "Dead link for "Secure an HTTP endpoint in production.""
The [Function access keys](https://docs.microsoft.com/en-us/azure/azure-functions/security-concepts?tabs=v4#function-access-keys) content points to a missing header in the [Azure Functions HTTP trigger](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook-trigger#secure-an-http-endpoint-in-production) page.

---
#### Document Details

⚠ *Do not edit this section.

[2022-06-05 05:25] nibblesnbits commented on #93928
Ok, so upon further inspection, it seems links to specific headers is broken in general, at least on Firefox 102.0b3 (64-bit) on Mac OS Montery 12.4

[2022-06-05 07:23] marvarma2020 opened #93929 "Oracle Connector - proxy user authentication/ImpersonateUser"
I could not find the details on how to configure proxy user authentication here. In ODBC, there is a property ImpersonateUser under Security tab to support proxy user authentication. Check below screenshot.
**How to use that property in Data Factory Oracle Connector?**
I tried with additional connection property by providing property name as **ImpersonateUser** but it seems ignoring.  In Oracle SQ

[2022-06-05 10:33] anotherancientalien commented on #93732
@kobulloc-MSFT I appreciate for your kind help.

[2022-06-05 10:33] #93732 closed

[2022-06-05 10:38] tshaiman opened #93931 "Update Example to use CSI Driver for KeyVault"
I suggest to update the example so it will use Azure CSI Driver for AKS that will consume the secret from a KV
in a secured manner , and not with Kubernetes secret which is just Base64 encoded and not considered as best practice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d634c63a-6194-86a6-b522-3310812c81e8
* Vers

[2022-06-05 10:59] agribot2 commented on #91074
The team over at https://github.com/Azure/azure-sdk-for-python/issues/23922#issuecomment-1129331413 have decided not to fix this bug and they say that the get_exports() method should be used as a work-around.

Given that decision, the tutorial text and example code should have an additional warning added, a warning that says ...
words to the effect that ...
The code only works once, and fails if r

[2022-06-05 14:02] jikuja commented on #50919
FYI: https://github.com/MicrosoftDocs/azure-docs/commit/49198af887ee6a7453d29e73087e7d3dedc2e2d4

The documentation was updated 18 days ago to include static IP allocation and NIC renaming. No preview tags on docs. I have not seen any GA announcement. HTH

[2022-06-05 14:58] bniranjanbhat opened #93932 "Cannot understand a line in the documentation"
I am referring to the following lines in the documentation:

"The symmetric keys for group enrollments are not used directly by devices when provisioning. **Instead devices that belong to an enrollment group provision using a derived device key**."

I could not understand the intent for the line in bold . May be this is a problem with everyone ?

---
#### Document Details

⚠ *Do not edit this sect

[2022-06-05 15:19] BryanTrach-MSFT commented on #93928
@nibblesnbits Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-05 15:20] BryanTrach-MSFT commented on #93929
@marvarma2020 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-05 15:23] BryanTrach-MSFT commented on #93918
Since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2022-06-05 15:23] #93918 closed

[2022-06-05 15:24] BryanTrach-MSFT commented on #93931
@tshaiman Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-05 15:26] BryanTrach-MSFT commented on #93932
@bniranjanbhat Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-05 15:30] kongou-ae opened #93933 "Need to clarify all dimension values of "Status" about Total Update Deployment Machine Runs"
Hi PG,

I believe that this document needs to clarify all dimension values of "Status" about Total Update Deployment Machine Runs.

The alert setting view can show only "Status" that Log Analytics has collected. So customers who didn't run any deployment of update management or didn't encounter the failure of update management can't filter alerts by using "Status". Because they can't know what "St

[2022-06-05 15:38] vitalii-dubovoy opened #93934 "Can't install nginx-ingress via helm example from the article"
[Enter feedback here]

Can't install nginx-ingress via helm example from the article

`Error: INSTALLATION FAILED: template: ingress-nginx/templates/controller-deployment.yaml:2:4: executin inclg "ingress-nginx/templates/controller-deployment.yaml" at <include "isControllerTagValid" .>: error carComplling include: template: ingress-nginx/templates/_helpers.tpl:139:12: executing "isControllerTagVal

[2022-06-05 15:38] jamiehaywood commented on #13433
sorry to necropost, but the JSON schema for `bundings.[].schedule` in the `function.json` returns a warning saying that `*/30 * * * * *` is not a valid schedule. This is the warning I see in VSCode:

[code]

[2022-06-05 17:32] kobulloc-MSFT commented on #93732
@anotherancientalien No worries!

[2022-06-05 18:03] aronchick opened #93935 "'ComputeInstance' object has no attribute 'add_identity'"
When running this code to attempt to add an identity to my compute cluster, I get this as a result:

'ComputeInstance' object has no attribute 'add_identity'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2602bce8-83ed-cb02-ad23-943e3a955a43
* Version Independent ID: f117372d-7e39-b79b-282f-aded9be4003c
* Content: [Cre

[2022-06-05 18:36] AjayKumar-MSFT commented on #93922
francisrod01,  Thanks for leveraging Azure docs feedback channel to raise this question. Much appreciate the follow-up and update.

[2022-06-05 18:39] #93633 closed

[2022-06-05 20:08] Bartolomeus-649 commented on #93633
So health check will consider the site "healthy" and working while the Application Initialization is running?  That is, when the site is **NOT** healthy and running?
You do know what[ IIS Application Initialization](https://docs.microsoft.com/en-us/iis/get-started/whats-new-in-iis-8/iis-80-application-initialization) is and how it work and operate, right?
https://docs.microsoft.com/en-us/iis/confi

[2022-06-05 20:36] thandotettey commented on #93924
Thanks for the prompt feedback @BryanTrach-MSFT. Just to confirm I've had a look into it and it's just that the documentation was clear that the format of the URI is supposed to be: abfss://<container name>.<storage account>.dfs.core.windows.net. I took the URI to be "users" quite literally which is not right. I'm happy to close this but it would be nice if was clarified for other developers.

[2022-06-05 20:36] #93924 closed

[2022-06-05 21:23] robertsweetman opened #93937 "User assigned managed identity Examples please"
There's just no user assigned managed identity examples in the Microsoft docs.

It's "best practice" and there are two ways of doing it but... it's not shown anywhere.

It's really, really confusing especially for a beginner trying to figure this stuff out from scratch

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d48

[2022-06-05 21:27] amcamillo opened #93938 "Should this page mention how Cyber Analytics Rules (car.mitre.org) affect the sentinel's MITRE coverage?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 308a7a00-7080-23a6-ad56-10224128374b
* Version Independent ID: f220ec5e-68d4-ec08-2cf5-5beff56e0420
* Content: [View MITRE coverage for your organization from Microsoft Sentinel](https://docs.microsoft.com/en-us/azure/sentinel/mitre-coverage#feedback)

[2022-06-05 21:50] ptata-msft commented on #92739
@sunib just to confirm, you are saying that the `$(chartName)` cannot have capital characters within?

Also just to add a sidenote here, for some strange reason, the capital characters are accepted and work just fine with the `az acr helm push` command (albeit using Helm2). If that was the case, it should fall over there too I would think?

[2022-06-05 23:03] BryanTrach-MSFT commented on #93938
@amcamillo Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-05 23:05] BryanTrach-MSFT commented on #93937
@robertiansweetman We need to link your feedback to a document. Are you able to provide a document that is similar or that you feel would be a good place to add this information to? Please share the document URL here so we can link it and then assign an engineer to the feedback.

[2022-06-05 23:07] BryanTrach-MSFT commented on #93935
@aronchick Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-05 23:09] BryanTrach-MSFT commented on #93934
@vitalii-dubovoy Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-05 23:11] BryanTrach-MSFT commented on #93933
@kongou-ae Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-06 00:31] nishantrajmitra opened #93939 "Incorrect document link"
[Enter feedback here]
The document link for built-in trigger and actions for logic apps is incorrect. refer to this link which redirect it to managed connectors.  [Built-in triggers and actions for Azure Logic Apps](https://docs.microsoft.com/en-us/azure/connectors/managed)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2022-06-06 00:36] chenrujun opened #93940 "Update the version of azure-keyvault-secrets-spring-boot-starter"
## Context
`spring-cloud-azure-starter-keyvault-secrets:4.2.0` has released, we should use `spring-cloud-azure-starter-keyvault-secrets:4.2.0` instead of `azure-keyvault-secrets-spring-boot-starter` now.

### Goal
1. Replace `azure-keyvault-secrets-spring-boot-starter` by `spring-cloud-azure-starter-keyvault-secrets:4.2.0`.
2. Property names should be updated. For example: Use `spring.cloud.azure.

[2022-06-06 00:57] alejojarahi opened #93941 "Fragmento de política en APIM no funciona"
I am setting a policy fragment but when setting the policy in the api operation it doesn't work.

[code]

Sample API Policy operation:

[code]

Effective policy view

[code]

This definition policy only add the header name "source" in the request, the header for policy fragment "dev-source" not add.

**Details information:**

Service: API Management
Base documentation: https://docs.microsoft.com/e

[2022-06-06 01:20] ecfan commented on #93939
@nishantrajmitra: Thanks for reporting these links! We'll get them fixed.

#assign @ecfan

[2022-06-06 01:27] MayankBargali-MSFT commented on #93941
@alejojarahi Thank you for your feedback! We will review and update as appropriate.

[2022-06-06 02:56] sunnybansalmsft opened #93942 "Integrate with Microsoft Sentinel Page appearing twice"
[Enter feedback here]
HI Team,

"Integrate with Microsoft Sentinel" is appearing twice. Please refer to attachment.

<img width="305" alt="Screenshot_1" src="https://user-images.githubusercontent.com/100734100/172086949-aa62703e-34a4-49f2-9855-a3beaaf596e8.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e56ba3d1-6

[2022-06-06 03:07] nhontran commented on #93568
Hi @webezine, what did you update to get it work, can share with me? I have followed the instructions step by step but with no success.

[2022-06-06 03:22] KrishnaG-MSFT commented on #93608
@lipalath-ms In a way yes. But if you want to monitor the cost analysis on regular basis along with few other resource level tiles as well then its worth to add all of them under a single dashboard so you can easily monitor.

[2022-06-06 03:23] KrishnaG-MSFT commented on #93608
@lipalath-ms As at this point there are no updates needed for the referred documentation so closing this issue for now.
If there are further questions regarding this topic or feedback on the referred documentation, please do let us know and we will gladly continue the discussion.

[2022-06-06 03:23] #93608 closed

[2022-06-06 03:52] ivapplyr commented on #50919
@jikuja

GA announcement should be coming soon :)
Tentatively End of this month.

[2022-06-06 04:14] LifeRyuto opened #93943 "It's not in preview."
I think flexible servers have already been GAed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b63959af-0e54-22ff-b1cc-d63ee055fddd
* Version Independent ID: bde862d7-793a-a17c-03c6-327e46305535
* Content: [Upgrade using dump and restore - Azure Database for PostgreSQL](https://docs.microsoft.com/en-us/azure/postgresq

[2022-06-06 04:40] SwathiDhanwada-MSFT commented on #93557
Assigning to content author @Sharmistha-Rai for document enhancement.

[2022-06-06 04:46] clouditspace opened #93944 "aks version number to be updated"
The version number indicated in below command is not at all supported in the region used in this example. Please have a look

az aks create \
    --resource-group myResourceGroup \
    --name myAKSCluster \
    --node-count 2 \
    --enable-addons monitoring \
    --generate-ssh-keys \
    --windows-admin-username $WINDOWS_USERNAME \
    --vm-set-type VirtualMachineScaleSets \
    --kubernetes-ver

[2022-06-06 04:56] Sharmistha-Rai commented on #93557
The documentation is correct.

The process server writes to **cache storage account**. The data resides temporarily in the cache storage account, and finally ASR sends it to the target managed disk and uses it to create the latest snapshot.

[2022-06-06 05:10] AdamGuanhh commented on #93557
May I ask if the data you mentioned in "The data resides temporarily in the cache storage account, and finally ASR sends it to the target managed disk and uses it to create the latest snapshot" are you referring to disk data? The official documentation describes that the replicated items will be copied directly to the managed disk, do these two mean the same thing?
![image](https://user-images.git

[2022-06-06 05:14] SwathiDhanwada-MSFT commented on #93631
@kazidevelop Due to [the deprecation of Azure Active Directory (Azure AD) Graph](https://docs.microsoft.com/en-us/graph/migrate-azure-ad-graph-overview), the underlying Active Directory Graph API will be replaced by Microsoft Graph API in Azure CLI 2.37.0.

For differences of the underlying API and output JSON breaking changes, please refer to [Property differences between Azure AD Graph and Micro

[2022-06-06 05:24] SwathiDhanwada-MSFT commented on #93701
@ShubhamJain1992 Thanks for bringing this to our notice.  I have fixed the referenced change, and the change should reflect on the doc once its approved by content author. We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2022-06-06 05:28] #93701 closed

[2022-06-06 05:38] ShiqianTao commented on #87523
Hi @spotakash, @rnemeth90, @sdh26, @CJJ69, @zr-msft, @kobulloc-MSFT. Upgrading Windows container runtime from ```docker``` to ```containerd``` needs upgrading aks cluster Kubernetes version. It means that users use ```az aks upgrade --kubernetes-version "higher version" --aks-custom-headers WindowsContainerRuntime=containerd``` to upgrade Kubernetes version from the current version to a higher ver

[2022-06-06 05:40] VikasPullagura-MSFT commented on #93944
@clouditspace Thanks for reporting this. We will check and update the document accordingly.

[2022-06-06 05:53] batamig commented on #93942
Hi @sunnybansalmsft, thanks for writing into docs! I'm tagging the current content author @whhender, can you take a look?

[2022-06-06 05:54] batamig commented on #93938
Hi @amcamillo, thanks for writing into docs! I'm tagging a current content owner. @yelevin, can you take a look?

[2022-06-06 06:09] alexxiongxiong opened #93945 "AKS create command doesn't work in this page as AKS default subnet has been changed to be 10.224.0.0/12"
AKS create command doesn't work in this page as AKS default subnet has been changed to be 10.224.0.0/12

Error snapshot:
![image](https://user-images.githubusercontent.com/87124423/172105021-32d8abac-8f2c-46e2-8f78-977c3653076c.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4a217cd-8949-e9b8-d8c5-a0f864b10237
* V

[2022-06-06 06:09] v-hgampala commented on #93912
Thanks for the Issue, we are updating the document with the latest configuration screens.
#please-close

[2022-06-06 06:09] #93912 closed

[2022-06-06 06:23] davidokeyode commented on #92301
Got the same issue. The preview extension is installed.

[2022-06-06 06:26] davidokeyode commented on #92301
david@Azure:~$ az cosmosdb update -n docosmos622 -g buildreactorRG --capabilities EnableMongoRoleBasedAccessControl
The behavior of this command has been altered by the following extension: cosmosdb-preview
(BadRequest) Invalid capability EnableMongoRoleBasedAccessControl.
ActivityId: 0edbf6bc-e561-11ec-82f2-0a580af4297d, Microsoft.Azure.Documents.Common/2.14.0
Code: BadRequest
Message: Invalid ca

[2022-06-06 06:45] GeethaThatipatri-MSFT commented on #93943
Hi @LifeRyuto Thanks for reaching out, We will Investigate and update you shortly.

[2022-06-06 07:08] v-hgampala commented on #93797
@sananoorani, will you please respond to the above comment?

[2022-06-06 07:52] sunib commented on #92739
Confirmed, this is at least one of the reasons for the error message in this bug. And it's clearly stated in the helm docs: https://helm.sh/docs/chart_best_practices/conventions/#chart-names

A better error message from helm push would also be very nice...

It's inconsistent indeed: they might be doing a LowerCase() function on the string in that code? But I'm really guessing here.

[2022-06-06 08:12] VikasPullagura-MSFT commented on #93944
@clouditspace The document is updated, and changes will go live once approved by doc author.

[2022-06-06 08:12] #93944 closed

[2022-06-06 08:16] msftphleiten opened #93947 "installation guideline link not working"
on the repo readme.md the "install content authoring tools" link is not working

Install
Follow the instructions provided in the [Install content authoring tools](https://github.com/MicrosoftDocs/azure-docs/blob/main/contribute/get-started-setup-tools) from our contributor guide.

[2022-06-06 08:22] ptata-msft commented on #92739
@sunib yeah just tried that and it worked for me too to have the chart name to be all lowercase. Might be worth adding to the MS docs

[2022-06-06 08:26] pdavio commented on #34167
Just lots 10 mins to this.  @shashishailaj anyone else we can tag in from MSFT to fix?

[2022-06-06 08:46] rachelxj-ms opened #93950 "The sample to use system identity to grant access policy for the API Management instance from Azure Key Vault is not working"
The sample in this section (https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-use-managed-service-identity#use-ssl-tls-certificate-from-azure-key-vault) fails with error: Microsoft.ManagedIdentity/Identities Not found
![image](https://user-images.githubusercontent.com/66855967/172127106-c368a9de-e59b-4bd6-bfca-1e4d2244eab0.png)

When I did test, I removed resource "apimWit

[2022-06-06 08:49] rachelxj-ms commented on #93270
@RyanHill-MSFT I think these content should be linked with linux app service instead of putting in ASE. It should have same requirements for app deployed in public stamp as customer can add VNet integration and restrict outbound connections

[2022-06-06 08:55] HannahHsiao5 opened #93951 "Please confirm if "Microsoft.Network/publicIPAddresses Standard SKU" supports move cross subscription."
moving "Microsoft.Network/publicIPAddresses" to another sub used to show
Yes - Basic SKU
No - Standard SKU

verified on Azure portal, saw error: "code": "MoveNotSupported", "message": "Move for resource type publicIPAddresses is not supported.

Please confirm if "Microsoft.Network/publicIPAddresses Standard SKU" supports move cross subscription.

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns

[2022-06-06 08:56] rachelxj-ms opened #93952 "Document enhancement request for private endpoint dns zone"
Customer may want to add private DNS zone to their private DNS server. According to this ticket: https://github.com/MicrosoftDocs/azure-docs/issues/91695. The default hostname could be a sub domain (i.e. ‘1.azurestaticapps.net’, ‘2.azurestaticapps.net’). I suggest we explain more details in the document. Thanks.

Every Static webapp will have a default hostname that ends with some DNS suffix. For

[2022-06-06 08:56] tsluyter commented on #56034
Hear hear, this is definitely a feature I'd love to have on _azcli_.

It's supported for _az devops user_, so it's definitely desired on _az ad user_ as well.

[2022-06-06 09:10] j-mantu commented on #92930
Hi @hsamysaab91, I hope @henrymbuguakiarie feedback answered your query. I will now close this issue and request that if you'd like further feedback, kindly raise it against the nodejs tutorial you are testing against. Thank you.
#please-close

[2022-06-06 09:10] #92930 closed

[2022-06-06 09:13] SwathiDhanwada-MSFT commented on #93669
@felipeaugusto-ergo May I know if you are facing this issue when moving across the subscription? I have tested by moving across resource group , and I was able to move successfully.

I would recommend engaging our technical support team to investigate further. Please file a support case using [these steps](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-suppo

[2022-06-06 09:26] robertiansweetman commented on #93937
So I'm specifically struggling with Terraform's azurerm provider and authentication using a User assigned managed identity.

Here someone has been kind enough to include an example using a [service principal for authentication ](https://docs.microsoft.com/en-us/azure/developer/terraform/authenticate-to-azure?tabs=bash#terraform-and-azure-authentication-scenarios) but if you dig deeper there's noth

[2022-06-06 09:54] michalmar opened #93954 "Missing example on MLTable"
In text there is mentioned:
`"For a full example of using an MLTable, see the [Working with MLTable notebook]."`

but in brackets, there is no lonk to MLTable notebook,

section:
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-use-data?tabs=use-local%2Crw-blob#table

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2022-06-06 10:06] michalmar opened #93955 "MLTable not explained"
I was not able to reproduce example given in documentation - new AML SDK v2 MLTable definition is missing:
- I couldn't find anything in doc/reference
- I wasn't able to find how the YAML file should be named or anything
- `import mltable` example doesn't work since no mltable package exists (probably part of `azure.ai.ml` but couldn't find any info
- keep getting job failed on `not found`
![image

[2022-06-06 10:09] chaisen2006 opened #93956 "Event Grid - Having PLE enabled Azure Functions as Subscriber"
Hi experts,

PLE enabled Azure Functions is not able to get the events from Event Grid - Can you please assist.
If PLE is not enabled on Azure Functions it works fine.

Thanks!
Chaisen

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c2e9bf7-f822-cfcf-0abf-ce7362a08a07
* Version Independent ID: 9b

[2022-06-06 10:10] Nott6170 opened #93957 "Outbound access for VMs added to the Internal Standard Load Balancer"
Hello,

As part of the default outbound access I think it would be good to also state there, Virtual Machines behind an Internal Standard Load Balancer will use the default Outbound access if:

- No explicit Outbound access was assigned
- Backend pool is configured as IP address

If the Virtual Machines are added to the backend pool as NIC, then the Load Balancer will act as the most secure possib

[2022-06-06 10:20] #90311 closed

[2022-06-06 10:41] SwathiDhanwada-MSFT commented on #93952
@rachelxj-ms Thanks for your feedback.

Assigning to content author  @burkeholland  for review.

[2022-06-06 10:46] SwathiDhanwada-MSFT commented on #93951
@HannahHsiao5 Thanks for your comment. We will review the issue and get back to you shortly.

[2022-06-06 10:53] ReySka91 opened #93959 "Authenticating to Azure table storage with Azure AD conflict"
Hello,

At the end of your documentation, it's stated that authentication to Azure table storage using Azure AD is not supported. However, according to this documentation, it is supported (see documentation https://docs.microsoft.com/en-us/azure/storage/tables/authorize-access-azure-active-directory).

Which documentation is correct?

---
#### Document details

⚠ *Do not edit this section. It is r

[2022-06-06 11:09] MayankBargali-MSFT commented on #93950
@rachelxj-ms Thank you for your feedback! We will review and update as appropriate.

[2022-06-06 11:12] MayankBargali-MSFT commented on #93940
@chenrujun Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-06 11:18] ibnmbodji opened #93961 "Disk type property description seems to be not correct"
Hi i think there is a problem with the description of the Disk Type in the replication properties :

Section 7 Replicate VMs

Disk Type | Mandatory | Specify the name of the **load balancer** to be created.

I guess we should  have something like Standard HDD SSD or Premium Disk instead of a Load Balancer right ?

The other sections like replicate VM with select disks seems to have the right descr

[2022-06-06 11:42] dominicbetts commented on #93738
#label:product-feedback

[2022-06-06 11:52] dominicbetts commented on #93738
Hi @russd2357 - as this is a product rather than documentation issue, can you raise the issue through one of the product feedback channels: [Support options](https://docs.microsoft.com/azure/iot-fundamentals/iot-support-help?toc=%2Fazure%2Fiot-central%2Ftoc.json&bc=%2Fazure%2Fiot-central%2Fbreadcrumb%2Ftoc.json).

In the meantime, I'll add a note to the article about the types of supported email a

[2022-06-06 11:52] dominicbetts commented on #93738
#please-close

[2022-06-06 11:52] #93738 closed

[2022-06-06 11:57] helloyesthisisdave opened #93963 "No mention of the SQL language functions and features that are or are not supported via Synapse Link"
Good day,

I am trying to find a summary of what can and can't be done via the Synapse Link into a Cosmos Analytics Store and can't seem to find anything.

As an example I have been unable to use a `for json path` with an `outer apply` when querying the Analytical Store, which returns:

and most frustratingly it appears filters applied within the `where` clause only work when there are matches for

[2022-06-06 12:04] helloyesthisisdave commented on #93963
Having double checked what I wrote above, this has to be a bug in the implementation?

This is what I am seeing at present:

When querying the `openrowset` based view without a filter:
![image](https://user-images.githubusercontent.com/50912540/172156672-1632f4f8-2867-43aa-b83f-61dba76d92cb.png)

Filtering for on existing value:
![image](https://user-images.githubusercontent.com/50912540/172156771

[2022-06-06 12:19] RohitMungi-MSFT commented on #93954
@michalmar Thanks for spotting this. @Blackmist Could you please  help to update the section to update with the correct hyperlink?

[2022-06-06 12:35] gavin-wickens opened #93964 "Site Recovery and Backup"
Can you confirm if Disk Backup/Restore to another disk is supported or not?  For example does using ASR across availability zones prevent the use of Azure Backup and restore of disks to an alternate location using cross region restore?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a579e861-1ce6-a788-704b-4b71f9fb3d12

[2022-06-06 12:37] Blackmist commented on #93954
Thanks for reporting @michalmar . I'll check with engineering to see what the correct link should be.

[2022-06-06 12:47] SadiqhAhmed-MSFT commented on #93964
@gavin-wickens Thank you for your post. Are you using or planning to use Azure disk backup along with Azure Site Recovery?
Could you please share your scenario requirements of using Azure disk backup with Azure Site Recovery?

[2022-06-06 12:51] SadiqhAhmed-MSFT commented on #93961
@ibnmbodji Thank you for bring this to our notice. We shall review and update the document as appropriate.

@DeSeelam FYI

[2022-06-06 12:52] SaiKishor-MSFT commented on #93959
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2022-06-06 13:05] whsh-ca commented on #93681
Thank @normesta for the clarification.

[2022-06-06 13:06] paololec opened #93965 "Preview features not working from portal"
Docs are not correctly, from the portal the error is
Server failed to process the request. Tracking Id: '65f41c7c-e21e-4847-9f15-1ce26865154a'. (Codice errore: 502)

No show preview features from portal.
ps: single features registered from powershell work fine like "liveresize".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-06-06 13:25] ram-msft commented on #93955
@michalmar Thanks for the question. We are investigating the issue and will update you shortly.

[2022-06-06 13:33] jochenschroeer opened #93966 "Databricks Linked service neccessary for databricks pipelines?"
with regard to

"Create an Azure Databricks [linked service](https://docs.microsoft.com/en-us/azure/data-factory/transform-data-using-databricks-notebook#create-linked-services)."

why do we need to create databricks linked service in ADF if we use web activity to trigger the pipeline?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2022-06-06 14:21] SadiqhAhmed-MSFT commented on #93964
Can you confirm if Disk Backup/Restore to another disk is supported or not?
I don’t understand the question here.  Do you mean can you restore to an existing disk?  If so, the answer is no.  Azure Disk backup will create a new disk each time you perform a restore.

For example, does using ASR across availability zones prevent the use of Azure Backup and restore of disks to an alternate location us

[2022-06-06 14:35] MayankBargali-MSFT commented on #93956
@chaisen2006 You cannot use private endpoint for egress traffic i.e. from event grid to the endpoint as the Network resource provider feature, was not designed for this scenario. That said, there are alternative options you could use: [Deliver events using private link service - Azure Event Grid](https://docs.microsoft.com/en-us/azure/event-grid/consume-private-endpoints).

Please let me know if y

[2022-06-06 14:50] #93746 closed

[2022-06-06 14:59] MonikaReddy-MSFT commented on #93860
@santhoshb-msft - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-06-06 14:59] #93860 closed

[2022-06-06 15:00] JamesTran-MSFT commented on #93945
@alexxiongxiong
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-06 15:16] herbiel opened #93971 "we can't download sdk tar"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01b13b79-a598-c1dd-7100-1a6e4becbaae
* Version Independent ID: e9376cc7-efd8-73a0-7724-1bac029e17f4
* Content: [Quickstart: Set up the development environment - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/speech

[2022-06-06 15:42] gavin-wickens commented on #93964
Hi Sadiqh,
“If the request is in regards to Azure VM Backup, then ASR and Azure Backup are completely independent of each other. You can restore the disks to another region and still use ASR for Zone to Zone”. – This is our use case and was my understanding.  My query comes from the following conflicting information:
https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-backup-interop

[2022-06-06 15:49] KarlErickson commented on #93940
@chenrujun Please use internal processes (Azure DevOps) to track work like this. Public issues in the doc repos are for customer feedback.
#please-close

[2022-06-06 15:49] #93940 closed

[2022-06-06 15:51] cgtheflash opened #93973 "VirtualNetworkCombo UI Definition File Subnets Not Contiguous"
When using a Virtual Network with a smaller prefix such as '/24' the subnet addresses are not contiguous and default to changing the third octet (should adjust the fourth octet) effectively putting them outside of the virtual network address range.

![image](https://user-images.githubusercontent.com/66049050/172197951-93749aa9-0fd7-4cb2-961e-3f59cb4ffee2.png)

Sample JSON that produces the results

[2022-06-06 15:59] AlexcFrench opened #93974 "contradictory statement"
https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-common-questions#can-i-replicate-virtual-machines-within-a-region

This states that it is not possible to replicate (disks) within a region but it is contraditory to replicating within a region to a different availbility zone.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2022-06-06 16:05] v-amallick commented on #93145
@ctahok - Thank you for your patience. For the second question, we already have [this FAQ](https://docs.microsoft.com/en-us/azure/backup/archive-tier-support#i-can-see-eligible-recovery-points-for-my-virtual-machine-but-i-cant-seeing-any-recommendation-what-can-be-the-reason). For the other one, we have updated [this section](https://docs.microsoft.com/en-us/azure/backup/archive-tier-support#suppo

[2022-06-06 16:20] hribeiro-msft opened #93977 "Role Owner Need to do this operation"
[Enter feedback here]

This feature only works with owner permissions, it would be great if we could update this doc to reflect that. Maybe the prerequisites can have that information.
Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2db5100c-6804-3290-7986-e203119751b0
* Version Independent ID: e03089e8-acc5-

[2022-06-06 16:31] Varnauld commented on #86691
Hello @jelmerS2 - May we close this issue or do you have any follow-up questions or concerns? Thank you,

[2022-06-06 16:32] Karishma-Tiwari-MSFT commented on #93848
Thanks for sharing the update.

[2022-06-06 16:34] JananiRamesh-MSFT commented on #93950
@rachelxj-ms This template will work only for the existing APIM service because as per this template it initially creates APIM instance since creating an APIM instance is a long running process APIM RP returns 202 Accepted response code with that it starts deploying Access Policies but in process of deploying a function it takes the principle id and it looks for Managed identities in APIM which wi

[2022-06-06 16:46] jspaith opened #93979 "Sample csharp code doesn't compile as-is"
The sample is currently in doc won't compile.  I had to make some changes.

The command below didn't work.  I needed to add a `--prerelease` and it seems OK.
[code]

I had to manually add a few `using` statements.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 087817c3-e26e-2a9b-baf7-db6ad20141a1
* Version Inde

[2022-06-06 16:47] mmacy commented on #93828
@derisen Can you take a look at this one? Looks like maybe a step was left out in the last edit.

#reassign:derisen

[2022-06-06 16:47] JamesTran-MSFT commented on #93947
@msftphleiten
Thanks for your feedback! Can you share the doc that you're referencing, so I can gain a better understanding of your issue?

[2022-06-06 16:47] JananiRamesh-MSFT commented on #93941
@alejojarahi I tried with same policy at my end and I was able to see both the headers added to the request source with value "Southeast Asia" and dev-source with value "fragment" could you please verify again?

[2022-06-06 16:49] KranthiPakala-MSFT commented on #93620
@saveenr - Could you please review the above feedback and help loop the relevant feature owner who can update the content accordingly. Thank you

[2022-06-06 16:51] mmacy commented on #92778
@DidunAyodeji @Avery-Dunn Is there a current example of logging with MSAL4J that you can point me to? @bachoang has identified gaps in this doc which likely means it's generating support requests.

[2022-06-06 16:54] KranthiPakala-MSFT commented on #93966
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-06-06 17:02] Blackmist commented on #93954
@michalmar

From speaking with the PM team, the notebook hasn't merged into the main branch yet and is undergoing some changes. The original is at [https://github.com/Azure/azureml-examples/blob/samuel100/mltable/sdk/assets/data/working_with_mltable.ipynb](https://github.com/Azure/azureml-examples/blob/samuel100/mltable/sdk/assets/data/working_with_mltable.ipynb). The changes are in PR - [https://

[2022-06-06 17:04] Blackmist commented on #93955
@ram-msft @michalmar

These issues are probably expected at this point - there's an open PR to publish an updated notebook. https://github.com/Azure/azureml-examples/pull/1358 is the PR.

Once the PR changes are final, we'll update the snippets in the article to match the notebook example.

[2022-06-06 17:08] MsGabsta commented on #61183
Hello @TimLovellSmith, I do apologize for the length of time in responding to this.  In my experience when the "C:\WindowsAzure\Logs\Plugins\Microsoft.Compute.CustomScriptExtension" is missing that means that Custom Script Extension either failed to install or that someone intentionally removed this directory.  When Custom Script Extension is uninstalled, it will not remove this directory.

Do you

[2022-06-06 17:12] msftphleiten commented on #93947
Hi James,

There is an SAP note which is only accessible if you have a user available here: 3024346 - Linux Kernel Settings for NetApp NFS - SAP ONE Support Launchpad<https://launchpad.support.sap.com/#/notes/3024346>

Attached the content

I will also update other pages to reflect the new recommendations.

// Philipp

Symptom
Linux Kernel Settings for NetApp NFS
Other Terms
NetApp, SAP HANA, NFS,

[2022-06-06 17:14] jspaith opened #93980 "APPLICATION_INSIGHTS_CONNECTION_STRING isn't linked to"
First, this is a very good document and despite my various opening issues on this, I was able to successfully see my data flowing to Monitor with less fuss on backend then I thought I would.

In the sample program, an environment variable `APPLICATION_INSIGHTS_CONNECTION_STRING` needs to be set.  For the analogous `COMMUNICATION_SERVICES_CONNECTION_STRING`, there was a really helpful link that got

[2022-06-06 17:15] MsGabsta commented on #69434
@cynthn can you close this?

[2022-06-06 17:20] YutongTie-MSFT commented on #93665
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-06 17:21] mimckitt commented on #69434
#please-close

[2022-06-06 17:30] AnnuKumari-MSFT commented on #93858
@abhaybhangale ,

Thanks for your feedback! It looks like feature request.

Appreciate if you could share the feedback on our [Azure Synapse](https://feedback.azure.com/d365community/forum/1219ec2d-6c26-ec11-b6e6-000d3a4f032c) feedback channel, which would be open for the user community to upvote & comment on. This allows our product team to effectively prioritize your request against our existing

[2022-06-06 17:31] tfitzmac commented on #93855
@kripa-2019 - When you say through pipelines, do you mean deploying a new workspace to another subscription and transitioning to that workspace? If so, then yes you could pursue that option.

Given that the resource types do not support the move operation, there is no way to preserve the instance while moving it.

I hope that helps.

[2022-06-06 17:31] MartinJaffer-MSFT commented on #93744
Yes, and it does, pretty much.  Just some reformatting changes.  You can see the message is relabled as details. @ozhug

[2022-06-06 17:31] #93744 closed

[2022-06-06 17:32] cynthn commented on #85606
#please-close Thank you @MsGabsta

[2022-06-06 17:32] #85606 closed

[2022-06-06 17:33] bluefooted commented on #93903
No, the tempdb files go on the local drive that doesn't support caching. You can read more about tempdb best practices here: https://docs.microsoft.com/azure/azure-sql/virtual-machines/windows/performance-guidelines-best-practices-storage?view=azuresql#data-file-caching-policies

[2022-06-06 17:46] MartinJaffer-MSFT commented on #93724
Is this what you are looking at @timahenning ?

![image](https://user-images.githubusercontent.com/46612670/172215385-0311329c-038d-4b21-815a-f48c2531f40e.png)

![image](https://user-images.githubusercontent.com/46612670/172215672-31542298-82e9-4baa-8f5c-20e1da3ce9f2.png)

![image](https://user-images.githubusercontent.com/46612670/172215745-6f13ad43-ca2d-4be0-ab98-c5dcb06de966.png)

You may need

[2022-06-06 17:46] TomBigDataWilson opened #93984 "I believe there are prerequisites that are not in the documentation. I don't have 'databricks-datasets' in my hive metastore, and it seems 'import dlt' doesn't work I assume I need to import that library first?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e84a0652-b36e-660b-c631-f949397f512a
* Version Independent ID: 49dc25c9-66b8-6fe1-f67b-3dc94d16a5ed
* Content: [Delta Live Tables quickstart - Azure Databricks](https://docs.microsoft.com/en-us/azure/databricks/data-engineering/delta-live-tables/delta

[2022-06-06 17:47] #93902 closed

[2022-06-06 17:48] MonikaReddy-MSFT commented on #93771
@BzSpi  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can review and update accordingly.

[2022-06-06 17:53] YutongTie-MSFT commented on #93971
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-06 18:09] LiuJohn-1886 commented on #93869
@gw0, thanks for reporting this issue.  Have already enabled the sgxquotehelper in your AKS cluster? The gsxquotehelper is optional, you can enable it by this command:

_az aks enable-addons --addons confcom --name “YourAKSClusterName” --resource-group “YourResourceGroup” **--enable-sgxquotehelper**_

[2022-06-06 18:12] shizn commented on #93707
Error message is controlled by AZ-CLI. A suggestion is created in AZ-CLI repo - https://github.com/Azure/azure-cli/issues/22736

[2022-06-06 18:27] jamescrowley opened #93986 "Storage-based ADF triggers not fired by files uploaded via SFTP"
The ADF storage triggers will not trigger when uploading files to storage accounts via SFTP (the preview). Azure support seems to indicate that this is a known limitation (?). If so, it would be helpful to mention this here or in the SFTP docs? :) Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7ee5166-ff40-f4e

[2022-06-06 18:38] Rodrigossz commented on #93963
We are checking this. Tks for the feedback.

[2022-06-06 18:43] Ayanmullick opened #93987 "PowerShell steps for AAD authentication on Flex servers."
Hi @kabharati

As discussed thru SR#2205240040006787, it would be convenient to have the PowerShell equivalent of the below document for Flex servers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 115c4394-bd60-5f8f-bd88-c76a7c0ee2cd
* Version Independent ID: 87c3407f-8565-e63e-258a-044365f35ad2
* Content: [Use Azure

[2022-06-06 18:44] zr-msft commented on #93733
thank you for the feedback.

We've address the character escape issue and the changes should be available shortly. We've also added a task to our backlog to consider an enhancement to the example for clarity.

#please-close

[2022-06-06 18:44] #93733 closed

[2022-06-06 18:56] jamescrowley commented on #93986
Sorry - possibly premature as Azure support have got back again and they're not so sure it's a known limitation. I'll close this for now.

[2022-06-06 18:57] KranthiPakala-MSFT commented on #93984
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-06-06 19:00] KranthiPakala-MSFT commented on #93986
@jamescrowley - Please feel free to open a new thread once you have updated information from the support team and would be helpful if you could share the related support ticket information for reference.

Thank you & have a good day!

[2022-06-06 19:01] cynthn commented on #83709
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-06-06 19:02] #93820 closed

[2022-06-06 19:03] #86284 closed

[2022-06-06 19:07] solrac149 opened #93988 ""Acceptable minimum versions" list does not satisfy statement "common JavaScript libraries that do not contain known security flaws" within Microsoft mitigation."
https://github.com/MicrosoftDocs/azure-docs/blob/58f37499b1d9c6143573fc6030ea4c47d8bce578/articles/security/develop/threat-modeling-tool-configuration-management.md?plain=1#L201

"I did a spot check for Jquery 1.7.1 and found the below CVE listing that include vulnerabilities for that version:

https://www.cvedetails.com/vulnerability-list/vendor_id-6538/product_id-11031/year-2020/Jquery-Jquery.ht

[2022-06-06 19:07] cynthn commented on #78185
@hirenshah1 @tanmaygore @mimckitt Has this been fixed? Can the issue be closed?

[2022-06-06 19:09] cynthn commented on #80874
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-06-06 19:09] #80874 closed

[2022-06-06 19:10] cynthn commented on #84658
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-06-06 19:10] #84658 closed

[2022-06-06 19:11] GeethaThatipatri-MSFT commented on #93987
Hi, @Ayanmullick Thank you for reaching out. We will look into it and update as appropriate.

[2022-06-06 19:12] cynthn commented on #86223
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-06-06 19:12] #86223 closed

[2022-06-06 19:14] cynthn commented on #60105
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing. We are closing this issue for now, but feel free to comment here as neces

[2022-06-06 19:14] #60105 closed

[2022-06-06 19:14] DaneSorensen1 opened #93989 "Azure Portal no longer seems to support integration with newly created service principle"
The portal section of this article no longer seems current.  I do not see a way to add the newly created service principal anymore within the portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25a0d502-ce71-76d4-bf8a-060e63913b52
* Version Independent ID: 69d7fa26-1a37-e477-0a2c-db58ce19a84f
* Content: [Service pri

[2022-06-06 19:15] vadthyavath opened #93990 "Sentence has been repeated in the doc"
[Enter feedback here]
![image](https://user-images.githubusercontent.com/7171558/172230640-27327abf-4568-4271-9ef8-769b7ba4456b.png)
Sentence has been mentioned twice. Please verify it!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73827af2-b318-3e56-6e01-98958ed2d495
* Version Independent ID: 87217130-657e-8d95-95b1-

[2022-06-06 19:16] cynthn commented on #61673
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing. We are closing this issue for now, but feel free to comment here as neces

[2022-06-06 19:17] #61673 closed

[2022-06-06 19:17] madsd commented on #93270
Agree, we should document this in the deployment docs and then we can add a note/reference from ASE/vnet integration docs.
@JasonFreeberg fyi.

[2022-06-06 19:17] cynthn commented on #69920
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing. We are closing this issue for now, but feel free to comment here as neces

[2022-06-06 19:17] #69920 closed

[2022-06-06 19:18] cynthn commented on #71067
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing. We are closing this issue for now, but feel free to comment here as neces

[2022-06-06 19:18] #71067 closed

[2022-06-06 19:23] meenasaravanan02 commented on #50113
Customer issue resolved. Changes to documentation not considered necessary.  #please-close this issue

[2022-06-06 19:23] #50113 closed

[2022-06-06 19:24] #93915 closed

[2022-06-06 19:26] SadiqhAhmed-MSFT commented on #93964
For clarification, what they mean is the following:

You have a VM with an OS disk and some data disks.

Can you backup the VM and run ASR on the VM at the same time – Yes
Can you restore files to the VM through file level recovery – Yes
Can you restore a disk and swap or attach to the replicated VM and replication continue – No.  Disk ID will change if you swap or if you add it, we won’t replicat

[2022-06-06 19:28] whhender commented on #93410
@pnarsi - I've confirmed with Zeinab:  we don't have private endpoints available for  *.frontend.clouddatahub.net and *.servicebus.windows.net as they're just general Azure endpoints. Instead of using wildcards you could use the IP ranges: https://www.microsoft.com/en-us/download/details.aspx?id=56519, but we don't have Private Link available for Microsoft Purview.

If there's a specific requireme

[2022-06-06 19:28] SadiqhAhmed-MSFT commented on #93974
@AlexcFrench Thank you for your post. We will review the content and update as appropriate.

[2022-06-06 19:30] cynthn commented on #73089
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing. We are closing this issue for now, but feel free to comment here as neces

[2022-06-06 19:30] #73089 closed

[2022-06-06 19:31] chase-swanson opened #93991 "Azure AGIC with OSM documentation is inconsistent/unclear"
[OSM About](https://docs.microsoft.com/en-us/azure/aks/open-service-mesh-about#capabilities-and-features) page says that OSM can integrate with AGIC.

[OSM Integration](https://docs.microsoft.com/en-us/azure/aks/open-service-mesh-integrations#ingress) page states that it is neither supported nor suggested.

If the Integration page is correct, I would suggest changing the the About page to reflect

[2022-06-06 19:33] cynthn commented on #89057
#reassign @MsGabsta Is there support for 2022 yet?

[2022-06-06 19:34] chase-swanson commented on #93991
Missed this. Seems this is a duplicate of #93311

[2022-06-06 19:35] zr-msft commented on #93991
thank you @chase-swanson

I've addressed your feedback and the changes should be available shortly.

#please-close

[2022-06-06 19:36] #93991 closed

[2022-06-06 19:36] zr-msft commented on #93311
Thank you for your feedback.

I've addressed the issue and the changes should be available shortly.

#please-close

[2022-06-06 19:40] cebundy commented on #93876
@zer0big  I'm still not getting this error using the versions you have specified.  If you don't mind could you please run this command and send the output?
az acr show --name $ACR_NAME

[2022-06-06 19:41] cynthn commented on #79705
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

@mathapli FYI

[2022-06-06 19:41] #79705 closed

[2022-06-06 19:42] barkills-gmail opened #93992 "AADSTS50176 Missing definition of external control: {controlId}."
Add missing error code:
AADSTS50176   Missing definition of external control: {controlId}.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a826ee6f-f457-7109-9f77-67c57977d4e7
* Version Independent ID: 11766f27-492e-a579-dced-8a42528cbb47
* Content: [Azure AD authentication & authorization error codes - Microsoft Entra]

[2022-06-06 19:44] #93929 closed

[2022-06-06 19:44] cynthn commented on #72340
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-06-06 19:44] #72340 closed

[2022-06-06 19:45] cynthn commented on #76979
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-06-06 19:45] #76979 closed

[2022-06-06 19:46] cynthn commented on #69292
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-06-06 19:52] dlepow commented on #81078
#reassign: @dlepow

[2022-06-06 19:53] dlepow commented on #80784
#reassign: @dlepow

[2022-06-06 19:54] dlepow commented on #80565
#reassign: @dlepow

[2022-06-06 19:57] cebundy commented on #93791
@spottedmahn  I'm sorry that you had to struggle with this.   Besides covering the `az containerapp update` and `az containerapp revision copy` commands, is there anything else that you feel would be useful in a guide such as you suggested?  Some areas that are vague, or particular use cases, or examples that you would like to see covered?

[2022-06-06 19:57] MarileeTurscak-MSFT commented on #93992
@barkills-gmail
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-06 20:11] malachibunn opened #93993 "What cluster types are supported by Photon?"
The documentation on this page mentions

However, there is no documentation on what is or isn't supported. I just attempted to turn Photon on for a cluster and saw that the cluster type is not compatible with Photon. Without this documentation I have no way other than guessing and checking to determine what I can set to run Photon.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2022-06-06 20:15] vanlanchoy commented on #93910
using "svc_pr.get_token()[0]" solved the problem, because get_token() is returning expiration date in the object along with the token.

[2022-06-06 20:15] #93910 closed

[2022-06-06 20:22] EldertGrootenboer commented on #90909
This should no longer occur with the latest SDK.
If this does occur, please log a support ticket, and our team will investigate.

[2022-06-06 20:23] EldertGrootenboer commented on #90909
#sign-off

[2022-06-06 20:27] JamesTran-MSFT commented on #93700
@marshalexander99
Thank you for your time and patience throughout this issue!

When it comes to [Step 5D-iii](https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/servicenow-tutorial#configure-servicenow), you should be able to get the `sys_id` by right clicking on the grey bar at the top of the screen and selecting copy sys_id. If you're having any technical difficulties, I'd recomme

[2022-06-06 20:29] abatishchev opened #93994 "Doc says select Blank Logic App Under Templates but I can't find that anywhere"
The doc says:

But after creating a Logic App and going to the Workflow Designer, I can't find Templates anywhere. Also the provided screenshot doesn't match what I see.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e996c57-14b5-75a3-29de-40e6a44c50d3
* Version Independent ID: 8a469e82-937d-9ca6-4b5a-3a37988390b0
* C

[2022-06-06 20:41] JamesTran-MSFT commented on #93947
@msftphleiten
For the content authoring tools, I found the doc that you are referring to - [Microsoft Azure Documentation](https://github.com/MicrosoftDocs/azure-docs/#microsoft-azure-documentation), and it looks like the updated guidance is found within [Contributing to Microsoft Azure Documentation](https://github.com/MicrosoftDocs/azure-docs/blob/main/CONTRIBUTING.md#contributing-to-microsoft-a

[2022-06-06 20:47] JamesTran-MSFT commented on #93963
@helloyesthisisdave
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-06 20:50] gavin-wickens commented on #93964
Hi Sadiqh,
Thanks for the clarification - it is as I had hoped.  Just wanted to double check before planning our Azure Site Recovery implementation.
I think it was the following that caused the most concern:
https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-how-to-enable-zone-to-zone-disaster-recovery#pre-requisites
Backup interoperability          File level backup and restore a

[2022-06-06 20:54] Rodrigossz commented on #93670
Hello @helloyesthisisdave . We are investigating the "num" suffix. About datetime been converted to string:

- Cosmos DB SQL API stores dates or datetime as strings. Mode details [here](https://docs.microsoft.com/en-us/azure/cosmos-db/sql/working-with-dates#storing-datetimes).
- That datatypes table map for sure needs the disclaimer that datatime is not supported in SQL API. I agree that it gives

[2022-06-06 20:56] sy-huss commented on #92245
For anyone else coming across this issue, here is a fix with sample code: https://eax360.com/azure-vision-image-recognition-using-c-net/

[2022-06-06 20:57] cynthn commented on #75247
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-06-06 20:57] #75247 closed

[2022-06-06 20:58] #77806 closed

[2022-06-06 21:00] arefinsami opened #93995 "Authenticate clients of Function Apps with both Function Keys and AAD at the same time"
Is it possible to authenticate clients of a Function App with both Function Keys and AAD at the same time? We don't want to break current clients that are being authenticated with Function Keys. Does it support both ways?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b6cd6a0-5364-65e6-b088-cc00093f836f
* Version Inde

[2022-06-06 21:01] cynthn commented on #79693
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-06-06 21:09] jhirono commented on #91709
doc change is merged. please close this case.

[2022-06-06 21:13] zer0big commented on #93876
@cebundy For your information,, the resource group _rg4bicep_demo_  is no longer exists in the current subscription and  is the one that I created during my previous lab.
![image](https://user-images.githubusercontent.com/38598117/172249306-91ffc19e-7bb8-4bb8-833e-b4a21d1e7f74.png)

[2022-06-06 21:24] cynthn commented on #84047
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing. We are closing this issue for now, but feel free to comment here as neces

[2022-06-06 21:24] #84047 closed

[2022-06-06 21:27] cynthn commented on #80366
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing. We are closing this issue for now, but feel free to comment here as neces

[2022-06-06 21:27] #80366 closed

[2022-06-06 21:28] MarileeTurscak-MSFT commented on #93992
Thanks! I made a pull request to add this and will leave it open for review by @rwike77 https://github.com/MicrosoftDocs/azure-docs-pr/pull/200646

[2022-06-06 21:28] #93992 closed

[2022-06-06 21:29] cynthn commented on #76381
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-06-06 21:29] #76381 closed

[2022-06-06 21:32] cynthn commented on #82571
#reassign @andysports8 can you take a look at this?

[2022-06-06 21:33] cynthn commented on #83112
#reassign @andysports8 can you take a look at this?

[2022-06-06 21:35] #83751 closed

[2022-06-06 21:40] tfitzmac commented on #93965
@paololec - thanks for this feedback. I saw the same error earlier but it has now been resolved. I am going to close the issue as there is no documentation update required.
#please-close

[2022-06-06 21:40] #93965 closed

[2022-06-06 21:40] cynthn commented on #84586
#please-close Thank you for the feedback! Once we have ACU numbers for this size, we will add the information to the docs.

[2022-06-06 21:40] #93939 closed

[2022-06-06 21:40] #84586 closed

[2022-06-06 21:41] cynthn commented on #85353
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-06-06 21:41] #85353 closed

[2022-06-06 21:42] cynthn commented on #86572
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-06-06 21:42] #86572 closed

[2022-06-06 21:43] cynthn commented on #86684
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-06-06 21:43] #86684 closed

[2022-06-06 21:48] erik-ha-msft commented on #93509
Thank you for the feedback.

If you try without the "v", it'll fail to import.

The screen capture below is taken from the [Helm chart values](https://github.com/kubernetes/ingress-nginx/tree/main/charts/ingress-nginx#values) of the parameter that is setting the controller tag. Do note that this is case sensitive, so if you use V (as opposed to v), it'll fail to import too.

![image](https://user-

[2022-06-06 21:48] #93509 closed

[2022-06-06 22:00] ecfan commented on #93648
Thanks @adjustit! We've added this request to our doc work backlog for triage and prioritization.

[2022-06-06 22:05] cynthn commented on #83548
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-06-06 22:05] #83548 closed

[2022-06-06 22:06] #93842 closed

[2022-06-06 22:54] clarissesimoes opened #93998 "Include clarifications about Open MPI enviroment variables in this doc"
I had an issue hard to understand where a machine with 4 GPUs had the following setting for MPI environment variables:
[code]
Because of that, only 1 GPU was used for inference. This was hard to debug and to figure out the solution. It turned out that setting the parameter "Process count per instance" in the component resource layout it mandatory to update OpenMPI environment variables.

I suggest

[2022-06-06 23:08] cynthn commented on #81460
@anvar-ms Can you work with Thomas Lin and Jarrett Renshaw to have this article updated? As you are internal, I'm going to close out this issue for now.

Thanks!

#please-close

[2022-06-06 23:12] cynthn commented on #88223
@mbiver Can you work directly with Thomas Lin on any updates that are needed? Because you are internal, I'm going to close out this issue and let you and Thomas work offline. Thank you!

#please-close

[2022-06-06 23:13] tamram commented on #93959
@reima-ruokanen - As described in the [Table storage docs](https://docs.microsoft.com/azure/storage/tables/authorize-access-azure-active-directory), Azure AD auth to Table storage is supported.

We'll update the out of date information.

#reassign: @jimmart-dev

[2022-06-06 23:14] cynthn commented on #89227
@genlin Have you had a chance to look at updating the doc, based on this feedback?

[2022-06-06 23:26] tomvcassidy commented on #93309
Hi @Foozinator. Thanks for the feedback! I've updated the YAML reference to include all valid values for the apiVersion enum. The changes should go live tomorrow. #please-close

[2022-06-06 23:26] #93309 closed

[2022-06-06 23:26] alejojarahi commented on #93941
@JananiRamesh-MSFT  It doesn't work, the trace request:

[code]

[2022-06-06 23:30] MsGabsta commented on #89057
@cynthn no official support yet, this is currently work in progress.

[2022-06-06 23:49] JamesTran-MSFT commented on #93973
@cgtheflash
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-06 23:52] JamesTran-MSFT commented on #93977
@hribeiro-msft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-06 23:53] JamesTran-MSFT commented on #93979
@jspaith
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-06 23:57] JamesTran-MSFT commented on #93980
@jspaith
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-07 00:01] JamesTran-MSFT commented on #93988
@solrac149
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-06-07 00:02] JamesTran-MSFT commented on #93989
@DaneSorensen1
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-07 00:03] JamesTran-MSFT commented on #93990
@vadthyavath
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-07 00:04] JamesTran-MSFT commented on #93993
@malachibunn
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-07 00:04] JamesTran-MSFT commented on #93994
@abatishchev
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-07 00:05] JamesTran-MSFT commented on #93995
@arefinsami
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-07 00:07] tfitzmac commented on #93973
@davidsmatlak - FYI.

[2022-06-07 00:20] pnarsi commented on #93410
Thanks for confirming. I thought that this would be the case. It would be helpful to mention this in the docs explicitly as well (similar to the snippet I shared earlier in this ticket for ADF)

For context, I come from an organisation with very high security requirements and having outbound rule to public endpoints across an entire domain or wide range of subnets is something that aligns to our s

[2022-06-07 00:42] w-azure commented on #93412
Thanks @gauravIoTEdge. The articles [Understand Azure IoT Edge limits and restrictions](https://docs.microsoft.com/en-us/azure/iot-edge/iot-edge-limits-and-restrictions?view=iotedge-2020-11) and [Properties of the IoT Edge agent and IoT Edge hub module twins](https://docs.microsoft.com/en-us/azure/iot-edge/module-edgeagent-edgehub?view=iotedge-2020-11#edgeagent-desired-properties) have been update