[2020-10-27 09:52] DailyTech opened #65071 "Linux xrdp uses TCP6 only by default"
how to set xrdp to use TCP4 ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077ee673-528a-d893-5832-7656b91dbec8
* Version Independent ID: 2180e845-1ead-3b47-03be-c26aee00c6f7
* Content: [Use Remote Desktop to a Linux VM in Azure - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/u

[2020-10-27 09:54] markkuleinio opened #65072 "Network requirements are not listing all the required connections"
https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-nps-extension#network-requirements does not list all the firewall access rules that are needed to complete the setup. Please test and add the missing hostnames in the list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a61a7e9a-44bf-7bdc-

[2020-10-27 09:59] amanmcse commented on #64812
Added author to check and confirm this.

[2020-10-27 10:08] AnuragSharma-MSFT commented on #65063
@ronyv Thank you for the feedback.

If we are using the tenant id associated with our subscription, this allowed object ids textbox will be disable. As per the [article](https://docs.microsoft.com/en-us/azure/healthcare-apis/configure-azure-rbac), **_"The Authority should be set to the Azure Active directory tenant associated with your subscription and there should be no GUIDs in the box labeled A

[2020-10-27 10:10] shashishailaj commented on #65054
@JackyChiou Thank you for sharing this. We will have this reviewed and get the document updated as needed.

[2020-10-27 10:13] shashishailaj commented on #65056
@MINDoSOFT Thank you for your feedback . We will have this checked and update the thread.

[2020-10-27 10:14] shashishailaj commented on #65069
@oleborne Thank you for your feedback . We will have this reviewed and update the thread.

[2020-10-27 10:15] shashishailaj commented on #65072
@markkuleinio Thank you for your feedback . We will investigate and update the thread.

[2020-10-27 10:17] shashishailaj commented on #65057
@p0shkar Thank you for pointing this out . We will investigate this and update the thread.

[2020-10-27 10:21] rukasakurai opened #65073 "How to prepare "An application that supports SSO and that was already preconfigured and added to the Azure AD gallery""
I'd like to follow this quickstart, but I an unable to find a good tutorial for meeting the prerequisite:
https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/add-application-portal-setup-oidc-sso

The prerequisite that I'd like to meet:
"An application that supports SSO and that was already preconfigured and added to the Azure AD gallery. Most apps can use Azure AD for SSO. The app

[2020-10-27 10:25] yash-abhyankar commented on #28457
@annerejula  @anirudhcavale  I am having the same issue. Can u please tell me how u guys solved it offline? its a winodws VM and i am sending data to sink. But i get timeseries array empty. Please help

[2020-10-27 10:27] tanvrkhan commented on #16505
Any ideas why I would get redirected to B2C_1_signupsignin1**/v2.0/v2.0/**.well-known/openid-configuration instead ?

[2020-10-27 10:29] shashishailaj commented on #65060
@maheshau1 Thank you for your feedback . We will investigate and update the thread.

[2020-10-27 10:32] shashishailaj commented on #65073
@rukasakurai Thank you for your feedback . We will have this investigated and update the thread.

[2020-10-27 10:35] #64919 closed

[2020-10-27 10:39] JayaChatterjee-MSFT commented on #65064
@KaiWalter Thank you for your feedback! We will review and update as appropriate.

[2020-10-27 10:40] SwathiDhanwada-MSFT commented on #64919
@mikescar I have rechecked entire document and made changes to the document accordingly. Kindly revert to provide if you have further feedback about the documentation.

We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-10-27 10:53] Marusyk commented on #65047
@markjbrown thanks for the response

I don't. The same error today. Are you sure that the problem is in it?

[2020-10-27 10:56] amanmcse commented on #64865
@philipktlin Could you please check if you can find the application with app id d87dcbc6-a371-462e-88e3-28ad15ec4e64 and the display name can be either Domain Controller Services or AzureActiveDirectoryDomainControllerServices.

To see if the user is synced to Azure ADDS, you can install ADDS tools on a VM joined to that domain and find the user. To see if the new password is synced, check pwdlast

[2020-10-27 10:56] #64865 closed

[2020-10-27 11:05] markkuleinio commented on #65072
FYI my suggestions are `www.powershellgallery.com` (cannot start the script without that) and `aadcdn.msftauthimages.net` (browser script errors).

Also I don't know why you require port 80 when all the listed URLs are https.

[2020-10-27 11:12] GitaraniSharma-MSFT commented on #64885
@rharris-hs , thank you for providing the feedback. I checked the PowerShell commands and yes, there are warnings for upcoming breaking changes as below:

![image](https://user-images.githubusercontent.com/67630903/97293717-148ca780-1873-11eb-81f7-840a1999d1cf.png)

![image](https://user-images.githubusercontent.com/67630903/97293954-59b0d980-1873-11eb-8203-738f53c44d26.png)

Hence, we have assign

[2020-10-27 11:25] ronyv commented on #65063
Thanks for your reply. I am actually trying to access the fhir resource apis through postman. I've followed the instructions given in official documentation and was able to generate an access token. But while hitting the api using this token, i am getting 403 Forbidden response from my FHIR server as given below. What could be the possible reason for this ? Appreciate your help.

[code]

[2020-10-27 11:25] yoganandmf commented on #24385
received same error when trying to create AML workspace with existing ACR. please find the logs below

=======================================================================
********************************Error log***************************************************************

HTTPError                                 Traceback (most recent call last)
/databricks/python/lib/python3.7/site-packa

[2020-10-27 11:29] GitaraniSharma-MSFT commented on #64890
@AleksandrReznik , thank you for providing the feedback. In your referred article, the metric, we are talking about is "**Capacity Units**" and it is clearly shown in the diagram as well. There was a typing mistake as Compute in the diagram section, which I have corrected and it will be reflected shortly.

Difference between Capacity Units and Compute Units is as below:

**Current capacity units**

[2020-10-27 11:29] #64890 closed

[2020-10-27 11:56] VMrenato opened #65076 "Update on SQL High Availability features documentation."
We mention at SQL High Availability;
SQL High Availability
If you are not using the SQL Server Express that comes with Azure AD Connect, then high availability for SQL Server should also be considered. The high availability solutions supported include SQL clustering and AOA (Always On Availability Groups). Unsupported solutions include mirroring.

Support for SQL AOA was added to Azure AD Connect

[2020-10-27 12:14] jmprieur commented on #64814
@MHarrop678
- If you want to use Client credentials with MSAL.NET, see https://docs.microsoft.com/azure/active-directory/develop/scenario-daemon-overview
- If you want to use Client credentials with Managed identity in an Azure function, you might want to checkout the Azure SDK [DefaultTokenCredentials](https://docs.microsoft.com/dotnet/api/azure.identity.defaultazurecredential?view=azure-dotnet),

[2020-10-27 12:15] shashishailaj commented on #65076
@VMrenato Thank you for your feedback on this. We will investigate and update the thread.

[2020-10-27 12:15] shashishailaj commented on #65076
@billmath Could you please review this request for update of the document ? In case you already have an internal work item on this , do update.

Thank you.

[2020-10-27 12:18] MINDoSOFT commented on #65056
I just downloaded the default resource file for the english language and this is the message I was looking for

So it is there you can customise it. It is just missing from the documentation.

[2020-10-27 12:24] GitaraniSharma-MSFT commented on #64913
@frkmarko , thank you for your question. You can follow the below article to access, create, edit and delete rules in Azure CDN from Verizon Premium rules engine:
https://docs.microsoft.com/en-us/azure/cdn/cdn-verizon-premium-rules-engine#tutorial

![image](https://user-images.githubusercontent.com/67630903/97300687-cd0b1900-187c-11eb-88a7-2f48e95f28b4.png)
![image](https://user-images.githubuserc

[2020-10-27 12:24] #64913 closed

[2020-10-27 12:30] Svijay-msft commented on #64976
Hello @gdtwentytwo just wanted to follow up with you on the above request. Could you please share the Azure documentation for which this feedback is applicable to?

[2020-10-27 12:32] ram-msft commented on #64988
@Lawrence-Krukrubo Thanks for the details. Are you loading  the model using joblib. You need to have the same version of scikit-learn running locally as remotely.  Note scikit-learn models are not guaranteed to be backwards compatible, if you save a model in one version you may not be able to load it in a newer version.

How are you specifying the CondaDependencies when deploying the model?  You n

[2020-10-27 12:41] SHANE0MAC opened #65077 "Please Remove: Customize the SQL information protection policy in Azure Security Center (Preview)"
[The SQL information protection policy in Azure Security Center (Preview) is no longer available in Security Center. Please remove this content. This confusing for customers. Thanks!]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ecc186b-cbfd-1c4e-fc2e-165883dc0a02
* Version Independent ID: 207f8456-0e71-c5c6-ddbd-88

[2020-10-27 12:42] GitaraniSharma-MSFT commented on #64956
@mganeshphani , thank you for your feedback.

Azure Cache for Redis with Azure Private Link went [Public Preview](https://azure.microsoft.com/en-in/updates/azure-private-link-for-azure-cache-for-redis-now-in-preview-2/) on 22 September, 2020.

All information is available in the below article:
https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-private-link

The Redis cache instance

[2020-10-27 12:42] #64956 closed

[2020-10-27 12:43] HarithaMaddi-MSFT commented on #65067
@vchandm23 - Thanks for posting the issue. We are looking into it and will update you soon.

[2020-10-27 12:46] HarithaMaddi-MSFT commented on #65061
@JesvinJoseph - Thanks for posting the question. I am moving it to content author to share further thoughts.

@mamccrea - Can you please take a look?

[2020-10-27 12:51] BMichaelJ opened #65078 "Add or clarify the Common alert schema in the examples"
[When trying to setup via ARM the action groups the current examples do not contain the common alert schema.
This could easily be added to avoid additional searching and investigation.
Especially since recommendations are to use the common alert schema.

"useCommonAlertSchema": true

currently information on enabling the common alert schema is found in this section under another topic.
https://doc

[2020-10-27 12:52] kemurayama commented on #64660
Hi @AjayKumar-MSFT,

Thanks for updating. I am looking forward to using the feature.

[2020-10-27 12:55] GitaraniSharma-MSFT commented on #64209
@mscatyao , are there any updates on the doc change regarding https://github.com/MicrosoftDocs/azure-docs/issues/62764 ?

[2020-10-27 13:02] gdalsnes opened #65079 "Most applications can use the default string representation for DateTime?"
You write:
Most applications can use the default string representation for DateTime for the following reasons:
This approach doesn't require any custom code or attributes for JSON conversion.

Not sure that is true.
Using Netwtonsoft I get different length:

class test
{
 DateTime d1;
 DateTime d2;
 DateTime d3;
}

d1 = DateTime.UtcNow;
d2 = new DateTime(2020, 1, 1, 12, 3, 0, DateTimeKind.Utc);
d3

[2020-10-27 13:04] gdalsnes commented on #65079
Newtonsoft.Json 12.0.0.0

[2020-10-27 13:14] VikasPullagura-MSFT commented on #65017
@jcamu Please check this [user-defined route in AKS document](https://docs.microsoft.com/en-us/azure/aks/egress-outboundtype) which won't create a public IP for egress by allowing you to forward traffic to on-prem via UDR.

Hope this helps with your query.

[2020-10-27 13:22] DavidTaig opened #65081 "Monitoring of 'Agent status'"
How do I Monitor the **Agent status** for _Not Ready_
Azure Portal > Virtual machines > *VM* > Overview > Properties > Agent Status

From Case#120102723000834

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab75f449-661d-bd1e-3ebd-61e2384a911a
* Version Independent ID: e7c93a31-6076-26b8-a53d-d36df01ec6bc
* Content: [Az

[2020-10-27 13:24] SatishBoddu-MSFT commented on #64730
@AllenVisser
Just checking back! Please let us know if you need further help.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2020-10-27 13:24] mcollier commented on #25356
It could be nice to include this setting on the list at https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings too.

[2020-10-27 13:25] cveld commented on #64979
Yes I got that. Can you elaborate more on the specifics?
I believe there are defaults in the dotnet processor bits which can be
overridden.

Maybe also related is the load balancing mechanism. When will a receiver
drop its lease to a partition and give it away to another receiver.

Op di 27 okt. 2020 om 07:24 schreef HarithaMaddi-MSFT <
notifications@github.com>:

[2020-10-27 13:29] frkmarko commented on #64913
Hi! I am sorry to say the page does not seems to answer the question. The issue is that once a rule has been saved and deployed into production in CDN, there does no longer seem to be an obvious way to edit or remove the rule. The article does not answer the question as it describes activities before deployment only.

[2020-10-27 13:29] HarithaMaddi-MSFT commented on #64979
@spelluru - Can you please take a look and share your thoughts.

[2020-10-27 13:30] #64908 closed

[2020-10-27 13:38] AnuragSharma-MSFT commented on #65063
@ronyv You need to Configure Azure RBAC for FHIR. (Refer to this [link](https://docs.microsoft.com/en-us/azure/healthcare-apis/configure-azure-rbac#assign-roles)).

If you want to read and write both to the Azure FHIR Server, add both 'FHIR Data Reader' and 'FHIR Data Writer' roles to your user as mentioned in below screenshots:

![image](https://user-images.githubusercontent.com/66360845/97308805

[2020-10-27 13:40] AnuragSharma-MSFT commented on #65079
@gdalsnes Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-27 13:55] jokarl commented on #64893
Confirmed that this is working in our pipeline. Thanks for the quick help

[2020-10-27 13:57] StefanIvemo commented on #52660
@mikebudzynski Any updates regarding this? Can I expect any endpoint changes?

[2020-10-27 14:03] memildin commented on #65077
Hi @SHANE0MAC, thanks for taking the time to leave feedback.

The SQL information protection policy _is_ still available in security center and the page is currently being updated. Expect a revised page by the end of the week.

You can get to it from the recommendation ("Sensitive data in your SQL databases should be classified") or, if you have tenant-level permissions, from the pricing and setti

[2020-10-27 14:04] #65077 closed

[2020-10-27 14:10] ronyv commented on #65063
Thanks @AnuragSharma-MSFT . This solved the 403 forbidden issue. Appreciate your help

[2020-10-27 14:10] #65063 closed

[2020-10-27 14:18] BMichaelJ commented on #65078
[Like this](https://docs.microsoft.com/en-us/azure/templates/microsoft.insights/2019-06-01/actiongroups?WT.mc_id=AZ-MVP-5003531)

[2020-10-27 14:18] ronyv opened #65082 "Getting error "Given conditional reference does not resolve to a resource." while importing Synthea data to Azure API for FHIR"
I've recently setup my Azure API for FHIR resource and was able to access the fhir api's via Postman. As part of adding more data into the db, i've generated bundle data from the Synthea project ([https://github.com/synthetichealth/synthea](https://github.com/synthetichealth/synthea)).

The problem is that while trying to POST a bundle file content to the "https://<my_app_name>.azurehealthcareapis

[2020-10-27 14:18] BMichaelJ commented on #65005
[Like this](https://docs.microsoft.com/en-us/azure/templates/microsoft.insights/2019-06-01/actiongroups?WT.mc_id=AZ-MVP-5003531)

[2020-10-27 14:24] #64307 closed

[2020-10-27 14:44] mrutman opened #65083 "Wrong command 'az deployment group'"
Hello,

I think there is an error In a command:
templateFile="{provide-the-path-to-the-template-file}"
az **deployment group** create \
  --name blanktemplate \
  --resource-group myResourceGroup \
  --template-file $templateFile

Should be:
templateFile="{provide-the-path-to-the-template-file}"
az **group deployment** create \
  --name blanktemplate \
  --resource-group myResourceGroup \
  --temp

[2020-10-27 14:45] MonikaReddy-MSFT commented on #64732
@ptreptau -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-27 14:45] #64732 closed

[2020-10-27 14:46] MonikaReddy-MSFT commented on #64663
@stephbaron  - Thank you for providing your insights.
@kiazhi - - I hope @stephbaron has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-27 14:46] #64663 closed

[2020-10-27 14:56] markjbrown commented on #65047
If this is not the issue and the problem is continuing please file a support ticket. Support engineer is better equipped to assist you

Thanks.

#please-close

[2020-10-27 14:56] #65047 closed

[2020-10-27 14:58] vipulsparsh commented on #64733
@kudlatiger Apologies for a late reply on this. Yes this setup us also possible.  You can give it a try and let us know if you need any help.

[2020-10-27 15:03] psmanhas commented on #64989
@lissff Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-10-27 15:04] kenwith commented on #58604
Sorry for the delay here. I noticed someone from the community submitted a PR ( https://github.com/MicrosoftDocs/azure-docs/pull/65052 ). I got that merged which should clarify this too. Thank you for the feedback.

#please-close

[2020-10-27 15:04] BharathNimmala-MSFT commented on #65083
@mrutman Thank you for bringing this to our notice, will review the feedback and update the document accordingly.

[2020-10-27 15:04] #58604 closed

[2020-10-27 15:04] joshmachnik opened #65085 "Azure B2C does not allow for enabling Call to Phone so that Custom Greetings can be added."
according to a previous post, https://github.com/MicrosoftDocs/azure-docs/issues/36824 a paid Azure subscription needs to be associated with the B2C directory to allow for custom greetings in MFA call to phone. I have this B2C tenant currently setup with Azure Premium P1 billing, but the option to enable custom recordings is still grayed out.
I then changed the billing to Azure Premium P2. The opt

[2020-10-27 15:06] psmanhas commented on #64989
@mlearned Can you please check and add your comments on this doc update request as applicable

[2020-10-27 15:06] MGoedtel commented on #64717
@SwathiDhanwada-MSFT - Thanks for looping me in and confirming the step is wrong in the documentation. I'll bug this and update the article before the week is out.  #please-close

[2020-10-27 15:07] #64717 closed

[2020-10-27 15:11] JesvinJoseph commented on #65061
Thank you @HarithaMaddi-MSFT.

[2020-10-27 15:11] markjbrown commented on #64998
We will get a doc posted on this. Will close this issue once a PR has been submitted. Thanks.

[2020-10-27 15:14] JesvinJoseph commented on #65061
Thank you @HarithaMaddi-MSFT for the prompt reply.

[2020-10-27 15:24] bhankam opened #65086 "Add-AzNetworkInterfaceIpConfig is not working as expected"
[Enter feedback here]

https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-multiple-ip-addresses-powershell

This article to add the IP address for a VM NIC is not working, the command "Add-AzNetworkInterfaceIpConfig" just shows the IpConfigurations but it doesn't add the ipconfigurations. Please find the below commands that i had executed and output.

Input:
$NicName  = "palovm

[2020-10-27 15:25] ChaitanyaNaykodi-MSFT commented on #65068
Hello @TestUser0811, Thank you for your feedback! We will review and update as appropriate.

[2020-10-27 15:25] AnuragSharma-MSFT commented on #64957
@peteralbanese Please let us know if you verified the package as mentioned above.

[2020-10-27 15:27] tanteemmie commented on #45738
@yzheng-msft can you give an indication of how soon the append blob support will be coming?

[2020-10-27 15:29] shashishailaj commented on #65003
@dilanthaonline Apologies for your inconvenience. We use GitHub for documentation improvement as opposed to troubleshooting issues. We would request you to post any issues related to azure and Microsoft 365 products which might require troubleshooting, on our new forum [Microsoft QnA](https://docs.microsoft.com/en-us/answers/index.html) . We have a vibrant community there who can provide you bette

[2020-10-27 15:29] #65003 closed

[2020-10-27 15:29] YutongTie-MSFT commented on #24385
@yoganandmf Hi, thanks for reaching out to us. Could you please open a new ticket for this issue? The original thread is too old to make sense for reopening. Thanks a lot.

[2020-10-27 15:33] spelluru commented on #64014
@NT-D - could you give me more details what you are trying to do in the Log Analytics workspace? I am not an expert in the area, but I can ask around. Sorry for the delay. Thanks.

[2020-10-27 15:35] AnuragSharma-MSFT commented on #65082
@ronyv Thank you for reaching out to us. GitHub forum is primarily to focus on the queries/issues related to documents.

For issues related to technical issues/implementation, I would recommend to post them on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/ask.html) or [Stack Overflow](https://stackoverflow.com/questions/ask).

Doing this on the forums allows us to redirect the

[2020-10-27 15:35] ChaitanyaNaykodi-MSFT commented on #65085
Hello @joshmachnik, Thank you for your feedback! We will review and update as appropriate.

[2020-10-27 15:40] VanMSFT commented on #55891
#reassign:ShohamMSFT

[2020-10-27 15:41] VanMSFT commented on #60013
#reassign:shohamMSFT

[2020-10-27 15:43] amicone commented on #60306
Adding additional information: Not only does the change for FIPS compliance not work, but the documentation is also incorrect. The miiserver.exe.config is not stored relative to %programfiles%, it is stored relative to the data storage directory chosen during AD Connect installation.

[2020-10-27 15:47] kiazhi commented on #64663
@stephbaron, that's Resource Health and not actually Service Health issues.

@MonikaReddy-MSFT, it's ok. I think I found what I'm looking for, which is not in the SDK for javascript but will raise the question in that repository instead.

[2020-10-27 15:57] ChrisGibson1982 opened #65087 "Where to place a 60-second PowerShell sleep"
One of the solutions is to add a 60-second PowerShell sleep.  However, it doesn't give you any real idea where to put the sleep.  A bit of guidance would be ace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1cc54a8-0176-4a2b-7d8f-ec7bb9bcdb7e
* Version Independent ID: 5577d1a2-493f-6163-f1c8-e31b2584b591
* Content:

[2020-10-27 16:08] lyceus opened #65088 "multi-region write pricing example and information is incorrect"
According to the pricing page for Cosmos DB (https://azure.microsoft.com/en-us/pricing/details/cosmos-db/) the (N+1) cost model for multi-region writes was retired on 1st December 2019 (after this page was last modified).

I suggest modifying the introduction section and example to reflect the current pricing model, and maybe make a note about the older pricing model for accounts created before 1s

[2020-10-27 16:13] lyceus opened #65089 "multi-region write pricing example and information is incorrect"
According to the pricing page for Cosmos DB (https://azure.microsoft.com/en-us/pricing/details/cosmos-db/) the (N+1) cost model for multi-region writes was retired on 1st December 2019.

The section titled "Billing example: multi-region Azure Cosmos account, multi region writes" refers to the old pricing model - this should be updated to match the current pricing model, and perhaps make a note (or

[2020-10-27 16:16] yzheng-msft commented on #45738
Append blob support is live now. Learn more at https://docs.microsoft.com/azure/storage/blobs/storage-lifecycle-management-concepts?tabs=azure-portal

[2020-10-27 16:22] Garhag commented on #64722
HI all,

Can you please give an update as to whether the documentation will be updated? If so, will it be updated on the following page or with it become a new article of its own?

https://azure.microsoft.com/en-us/pricing/details/active-directory-ds/<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fazure.microsoft.com%2Fen-us%2Fpricing%2Fdetails%2Factive-directory-ds%2F&data=04%7

[2020-10-27 16:36] yoganandmf opened #65090 "Image building fails with "Received bad response from Model Management Service" - on azure ml workspace created with existing ACR(not created with azureml workspace)"
I'm trying to deploy databricks mlflow model thru azureml to AKS. my requirement is to push azure ml image to already existing ACR which is created not through AML workspace. we are able to create azure ml workspace with existing ACR using below code. This error only occurs if we ACR not created by aml workspace. if you have ACR created by some other workspace and add this part of new workspace it

[2020-10-27 16:37] yoganandmf commented on #65090
@YutongTie-MSFT  as suggested, create a new issue please help us on how to solve this

[2020-10-27 16:39] Mahesh-MSFT opened #65091 "Guidance on Virtual network workloads WITH custom DNS server"
This documentation is covering following topologies.

* Virtual network workloads without custom DNS server
* On-premises workloads using a DNS forwarder
* Virtual network and on-premises workloads using a DNS forwarder

What is the guidance for following topology?

* Virtual network workloads WITH custom DNS server

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-10-27 16:39] philipktlin commented on #64865
I can find with given app id with display name "AzureActiveDirectoryDomainControllerServices".  How do you figure out this app id?

I can't find the pwdlastset attribute in Azure ADDS properties page, but I find Health page in Azure ADDS (https://portal.azure.com/#@philipktlinlive.onmicrosoft.com/resource/subscriptions/5e2188f4-e1cb-4ccb-a27d-94664ea0a05b/resourceGroups/wvdtestRG/providers/Microso

[2020-10-27 16:40] IgnacioAlvarezArenas opened #65092 "Local Cache not working in Free and Shared SKUs is not documented"
There is no reference on the documentation regarding to the fact that Local Cache does not seem to work for Free and Shared SKUs. If we check the environment variables in Kudu for an App service in F1 or D1 size. So in a F1 with local cache enabled you see the following WEBSITE_VOLUME_TYPE while WEBSITE_LOCALCACHE_ENABLED = True.

![image](https://user-images.githubusercontent.com/61497756/9733278

[2020-10-27 16:51] mcmeeking opened #65093 "Only supports users with dedicated devices and numbers"
The comms I've had from RingCentral state that this provisioning only supports provisioning of users which have dedicated devices and phone numbers NOT extension-only users which they term "virtual" users.

The difference essentially is that one is billable and one is not, but it's worth putting this in the docs since they have no documentation on this whatsoever.

---
#### Document details

⚠ *Do

[2020-10-27 16:52] sympleconfigmgr opened #65094 "Login to the Farm Accelerator"
Can you provide clarity on how to log in to the Farm Accelerator? I've been searching the description, docs and subscription for this page/app and I've been unable to locate it.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 294266ad-a0a4-7b2f-3ec3-4b9560dd8ef6
* Version Independent ID: 820c69af-

[2020-10-27 16:53] markjbrown commented on #65088
Yes, updates on this page are in progress now and will get published sometime this week.

Thanks.

#please-close

[2020-10-27 16:53] #65088 closed

[2020-10-27 16:59] JamesTran-MSFT commented on #65093
@mcmeeking
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-10-27 17:00] JamesTran-MSFT commented on #64472
@SB-o-matic
I just wanted to check in and see if you had a chance to review my previous post with our PG team's response.

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue.

[2020-10-27 17:00] asergaz commented on #64993
Hello @yahanda this is interesting. In the [IotHubConnectionStringBuilder.cs](https://github.com/Azure/azure-iot-sdk-csharp/blob/master/iothub/device/src/IotHubConnectionStringBuilder.cs) file you mention we can see that the last commit was on March 6th and no changes were done regarding "X509CertPropertyName" .

1. Is the same hapenning when using another language on your IoT Downstream Device?

[2020-10-27 17:05] SnehaAgrawal-MSFT commented on #65092
@IgnacioAlvarezArenas Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-10-27 17:07] chuckthompsonprofisee opened #65095 "deploymentScripts"
during the custom deployment script, az account show now returns an error

Please run 'az login' to setup account.

but its running under a managed identity that has contributor access to the entire subscription.
This just started happening today, it worked fine before today

"azCliVersion": "2.0.80",
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-10-27 17:09] Marusyk commented on #65047
@markjbrown I think this is the issue in documentation because no such information and description of that limit

[2020-10-27 17:13] WinstonHoward-MSFT commented on #64770
Hi @mcurko,

I'm closing this issue as I was able to build & deploy the sample code. Feel free to leave a comment below if you have something else to add.

[2020-10-27 17:14] Roggus opened #65096 "Typo in code example"
code example contains a parameter `-item` too much

`Get-AzRecoveryServicesBackupRecoveryLogChain -Item $bkpItem -Item -VaultId $targetVault.ID`

should be

`Get-AzRecoveryServicesBackupRecoveryLogChain -Item $bkpItem -VaultId $targetVault.ID`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e507c4f5-e3f7-a7f8-780f-a1f35

[2020-10-27 17:16] v-demjoh commented on #57993
Can you try using the custom neural voice and report back?

[2020-10-27 17:18] YutongTie-MSFT commented on #64861
@tdvenky Hello, you can send an email to me and I can help to forward your idea to product group. Please send to azcommunity@microsoft.com with the URL of this thread and more information, please also title with "Attn Yutong", thanks a lot.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly cont

[2020-10-27 17:18] #64861 closed

[2020-10-27 17:21] YutongTie-MSFT commented on #64840
@TyrannosaurusRone Hello just want to double check you did not close this  ticket by accidence. Please let us know if you are still suffering from any issue according to this question. Thanks.

[2020-10-27 17:34] alexangas opened #65097 "Hyphen symbol is incorrect"
The hyphen symbol for the PowerShell script in the "Additional steps if you moved key vault to a subscription in a new tenant" section is invalid. This means that copying and pasting the script into a console window does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc648f77-1e4c-2722-f3a5-8cbb7565a593
* Ver

[2020-10-27 17:36] #65097 closed

[2020-10-27 17:38] BryanTrach-MSFT commented on #63922
@taschemann We believe your feedback needs to be reviewed by the doc author. As a result, we have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-27 17:39] NavtejSaini-MSFT commented on #65089
@lyceus We are checking this and we will get back to us.

[2020-10-27 17:43] D4-AzIdentity opened #65099 "Need more definition for issuer when configuring."
[Enter feedback here]
https://docs.microsoft.com/en-us/azure/vpn-gateway/openvpn-azure-ad-tenant
Need to specify in the documentation that item need is the tenant ID
http://sts.windows.net/tenantid/
Further for multi application VPN the audience needs to be changed to the application ID.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-10-27 17:43] YutongTie-MSFT commented on #64973
@erikadoyle Hi Eirka, could you please take some time to review this PR? Thanks.

[2020-10-27 17:51] DerekHerman-MSFT commented on #65045
@geoiglesias This page is for documentation feedback and issues. I see you have already filed an issue under azure-storage-cpp. https://github.com/Azure/azure-storage-cpp/issues/367 It appears that the new Azure SDK for C++ will be released soon, which is why you might not be getting a response. I have reached out internally to see if someone can assist on your issue. Since this is not related to

[2020-10-27 17:51] #65045 closed

[2020-10-27 17:55] johannespetereit commented on #48261
If I may ask, what was the solution?

We are also encountering this issue, and I find it really hard to believe that the health status would refresh automatically when the status is unknown.
I can reproduce this accross multiple customers using multiple different deployment technologies (PS, ARM, TF).

@BryanTrach-MSFT: Your tipp works, when we deploy the application __before__ we deploy the infra

[2020-10-27 17:58] stephbaron commented on #64663
Hey @kiazhi , if you call the events API at the subscription level, it returns Service Health events:

![image](https://user-images.githubusercontent.com/4484115/97342356-5d2c6c80-1843-11eb-98f2-fb3b9e9c7501.png)

[2020-10-27 17:59] AjayKumar-MSFT commented on #64526
@zmarty, The requested changes have been merged by a PR and the document will reflect the published changes within few hours. Thanks again for sharing your valuable feedback.

[2020-10-27 17:59] #64526 closed

[2020-10-27 17:59] NavtejSaini-MSFT commented on #64769
@SharmainePopov We are going ahead and closing this issue. Please get back to us if any other information is needed.

[2020-10-27 17:59] #64769 closed

[2020-10-27 18:02] psmanhas commented on #64947
@cbtboss The document is updated and changes will go live soon.

Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-10-27 18:06] psmanhas commented on #64200
@MinaPiao Apologies for all delay in response. I got below response from PG working on dedicated hosts:

_I check the survey every week and approve the request matching our profile (sizes and regions).
Once approve, I reach out directly to the customer with the email provided in the survey._

Hope the provided information is helpful.

We will now close this issue. If there are further questions re

[2020-10-27 18:06] #64200 closed

[2020-10-27 18:10] #64947 closed

[2020-10-27 18:20] MoeJw opened #65105 "Microsoft.OperationsManagement/solutions doesn't work without plan Property"
I tried to make an arm template without plan object which is described in  the template reference that's not requried

Name | Type | Required | Value
-- | -- | -- | --
plan | object | No | Plan for solution object supported by the OperationsManagement resource provider. - SolutionPlan object

https://docs.microsoft.com/en-us/azure/templates/microsoft.operationsmanagement/solutions

but it fails wh

[2020-10-27 18:20] YutongTie-MSFT commented on #64967
@RonaldMariah Hello Ronald, I have created a PR to fix the bug. You should see the change soon ^^

@zhangmanling Hello Manling, please take some time to review the PR, thanks.

We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-10-27 18:20] #64967 closed

[2020-10-27 18:23] SadiqhAhmed-MSFT commented on #65096
@Roggus Thanks for the feedback. We will this request and update as appropriate.

[2020-10-27 18:23] fabio770 opened #65106 "Link redirects to the current page we already are"
The first link in this documentation page redirects to the current page we already are. The link is in the word _"overview"_ bellow:

 Use Azure Service Bus output binding to send queue or topic messages. For information on setup and configuration details, see the _"overview."_
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-10-27 18:24] epinto opened #65107 "Add specific details on included/additional pricing for Gemalto software"
Add more direct guidance regarding any included/additional pricing for using the Gemalto software. Additional costs (if any) are not clear enough in this FAQ question:
https://docs.microsoft.com/en-us/azure/dedicated-hsm/faq#q-what-software-is-provided-with-the-dedicated-hsm-service

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-10-27 18:27] mikebudzynski commented on #52660
@StefanIvemo - it's work in progress, we plan to have a preview version of the new endpoint ready around the end of the year.

[2020-10-27 18:31] SadiqhAhmed-MSFT commented on #65096
@dcurwin and @pvrk FYI - PR raised - https://github.com/MicrosoftDocs/azure-docs-pr/pull/135598

[2020-10-27 18:41] WinstonHoward-MSFT commented on #65071
Thanks for the issue, I'll take a look.

[2020-10-27 18:41] #63628 closed

[2020-10-27 18:42] Grace-MacJones-MSFT commented on #64685
Hi @jpetitte, are you still facing this issue?

[2020-10-27 18:43] WinstonHoward-MSFT commented on #65087
Thanks for the issue, I've assigned your feedback to the doc author to take a look at adding that guidance to the doc.

[2020-10-27 18:45] BryanTrach-MSFT commented on #63628
@jcbrooks92 Thank you for the heads up. We have merged a change to the doc and it should be visible within 24 hours normally.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-27 18:49] #65089 closed

[2020-10-27 19:00] NavtejSaini-MSFT commented on #64896
@mloskot PR is merged and the changes will be live in next 24 hours. Please contact us if you still have an issue by commenting here and we will check the same. For now we are closing this issue.

[2020-10-27 19:00] #64896 closed

[2020-10-27 19:02] NavtejSaini-MSFT commented on #65047
@Marusyk TGhe information is added to https://docs.microsoft.com/en-us/azure/cosmos-db/concepts-limits#metadata-request-limits this document. Please take the Github in totality and not for particular document.

[2020-10-27 19:02] TravisCragg-MSFT commented on #65086
@bhankam If you are adding a configuration to an existing NIC, you will need to update the NIC once you add the configuration. [Look at the last line of the example given here](https://docs.microsoft.com/en-us/powershell/module/az.network/add-aznetworkinterfaceipconfig?view=azps-5.0.0#example-1--add-a-new-ip-configuration-with-an-application-security-group).

In the script you give, you add the co

[2020-10-27 19:02] NavtejSaini-MSFT commented on #65036
@mdrakiburrahman Please convey if you have any further question regarding this issue.

[2020-10-27 19:03] NavtejSaini-MSFT commented on #64906
@siwon At this time we are going ahead and closing this issue. Please get back to us if have any further questions.

[2020-10-27 19:03] #64906 closed

[2020-10-27 19:05] NavtejSaini-MSFT commented on #64564
@jdubois Thank you for the insight.
@cliang57 We are going to close this thread for now. Please get back to us if you have any further question.

[2020-10-27 19:05] #64564 closed

[2020-10-27 19:06] NavtejSaini-MSFT commented on #64903
@y0rik We will go ahead and close this issue for now. Please get back to us if you need any further help.

[2020-10-27 19:06] #64903 closed

[2020-10-27 19:08] AjayKumar-MSFT commented on #64783
@dsmith222, Apologies for the delay! I have tried the same repro/downloaded dotnet-sqldb-tutorial-master.zip, extracted and ran, and it works fine for me; from the sample, it loads this:
![image](https://user-images.githubusercontent.com/44606227/97348320-fabf8480-18b3-11eb-800a-3bc711a88bc2.png)

Typically, the error indicates - The definition for a referenced type was not found. This could occur

[2020-10-27 19:08] #64783 closed

[2020-10-27 19:08] lgayhardt commented on #64691
Hi @AKTheKnight

All client side monitoring has to be set up through the JavaScript SDK. For .NET Core and .NET Framework they have configuration setting that enables the JavaScript SDK, but for the others the users have to manually set up the JavaScript SDK unless you just want server-side telemetry.

#please-close

[2020-10-27 19:08] #64691 closed

[2020-10-27 19:10] scale-tone opened #65109 "How exactly to "set up or modify an existing application gateway to use the user-assigned managed identity"?"
That's exactly the most important question, which this page doesn't give any answer to.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c416d5e-5bfd-c641-e9bb-324dcb921acc
* Version Independent ID: 8739a044-d471-c432-3ed1-503539408ae8
* Content: [TLS termination with Azure Key Vault certificates](https://docs.microsoft

[2020-10-27 19:12] ajburnle commented on #63867
@trichards7 Thanks for your feedback. We update our articles on an on-going basis. Thanks again for your feedback. I'm closing this GitHub issue. Let me know if you have any questions.

[2020-10-27 19:13] ajburnle commented on #63867
#please-close

[2020-10-27 19:13] #63867 closed

[2020-10-27 19:13] NavtejSaini-MSFT commented on #64981
@RonnieQuan We are going ahead and assigning this case to our author for further review.
@barmichal Please check the question from the Cx and help with the same. If this has to be shifted to monitoring team, please convey that as well.

[2020-10-27 19:20] cookbr opened #65110 "PathPattern description conflicts with pattern examples on URL Path Based Routing overview"
Paragraph under the _PathPattern_ heading seems to conflict with the pattern tables under the _v1_ and _v2_ headings.  Paragraph states ...

Each table has an example entry of `/images*` that's marked as supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2769aea-56d1-03aa-1949-9818d5ee3ba4
* Version Independent

[2020-10-27 19:22] WinstonHoward-MSFT commented on #64776
Thanks for the feedback, the hyperlinks have been fixed. Closing this issue.

[2020-10-27 19:22] #64776 closed

[2020-10-27 19:23] StefanIvemo commented on #52660
@mikebudzynski Thank you for the info! Looking forward to it. 😀

[2020-10-27 19:23] AjayKumar-MSFT commented on #64938
@eddiemon, Apologies for any inconvenience with this issue, I'll reach out our product engineering team (also author) for the latest update on this.

As Matthew (our product group and author) mentioned in similar feedback/threads:

"I would like to note that the version requirement stands. The behavior without a version is undefined and can lead to some pretty bad edge cases. We are working on add

[2020-10-27 19:23] #64938 closed

[2020-10-27 19:25] AjayKumar-MSFT commented on #64661
@btardif, Requesting your comment on this.

[2020-10-27 19:46] retheshnair commented on #64209
@GitaraniSharma-MSFT  The role assignment should happen automatically when the below command is executed. Manually fetching the Object ID shouldn't be the right solution. This seems to be more of the missing code to fetch the object id and assign the proper role than updating the document

appgwId=$(az network application-gateway show -n myApplicationGateway -g myResourceGroup -o tsv --query "id")

[2020-10-27 19:47] retheshnair commented on #64209
@GitaraniSharma-MSFT  I'm the customer with whom @wanglijun378617 has worked on this issue

[2020-10-27 20:01] miaojiang commented on #64888
Currently the exported connectors will require a "premium" license. The user must have read permission to the API in APIM, and permissions to create new connectors in the Power Platform.

I dont think it requires a database for the environment to show up.

[2020-10-27 20:11] MarileeTurscak-MSFT commented on #64667
Please feel free to reach out to me over email if you would like to get a support case created for this.

[2020-10-27 20:11] #64667 closed

[2020-10-27 20:14] adamfoneil opened #65111 "can't figure out how use QueueTrigger with local.settings.json"
[Enter feedback here]

It would be helpful to see a sample json config file that shows how to match it with the [QueueTrigger] attribute. As far as I can tell I'm doing it right, but it "can't find" my setting. Where is it looking?

![image](https://user-images.githubusercontent.com/4549398/97356966-6cc1aa80-186f-11eb-8f8a-8e49919d7953.png)

---
#### Document Details

⚠ *Do not edit this section.

[2020-10-27 20:21] adamfoneil commented on #65111
I eventually learned that the connection string setting is expected to be in the `Values` part of the config, like this:
![image](https://user-images.githubusercontent.com/4549398/97357572-61bb4a00-1870-11eb-9d15-7c06ea3cdef2.png)
but I had to find this out from someone else's blog
https://jeffreyfritz.com/2019/11/azure-functions-with-queuetriggers-and-net-core-configuration-and-troubleshooting/

[2020-10-27 20:27] mamccrea commented on #64235
I hope this information has been helpful. We'll close this issue for now. Please feel free to reopen if needed.

#please-close

[2020-10-27 20:27] #64235 closed

[2020-10-27 20:29] MarileeTurscak-MSFT commented on #64864
Hi @begleyfred,

Thanks for reporting this. There was an issue where the SMS API could be exploited by a bad actor and so it had to be disabled late last week.

We are aware of the issue but currently don't have timeline for a fix.

In the interim, the best option is to download the app by going to the app stores directly.

Sorry for the inconvenience! I'm closing out this thread but can continue

[2020-10-27 20:29] #64864 closed

[2020-10-27 20:37] xitia commented on #65061
Hi JesvinJoseph, this warning just indicates that the partition is empty (does not have data) at certain moment, which is fine and quite common in many case. This won't create problem in the future.

[2020-10-27 20:38] dargilco opened #65112 "Missing documentation of "Keep current state" in "Post Execution State""
Post Execution State documentation mentions 3 options. There are now 4. The "Keep current state" option is not mentioned here:
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/custom-commands-references#post-execution-state

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4e62f29-4423-9e2d-5be2-8

[2020-10-27 20:42] dargilco commented on #65112
Also it's now "Complete the command" (not "Command completed")

[2020-10-27 20:45] scott1138 opened #65113 "AAD DS in Central Canada"
The AAD DS documentation says Availability Zones for AAD DS should be available in any location that support availability zones. (https://docs.microsoft.com/en-us/azure/active-directory-domain-services/faqs#does-azure-ad-domain-services-include-high-availability-options)

The chart has no check or X in the AAD DS for Central Canada column.  Can this be confirmed by updated the chart with an X or a

[2020-10-27 20:47] JesvinJoseph commented on #65061
Thank you @xitia for the explanation. Since this the Edge SA, does it have partiton? Do you mean, the SA don't have data for some field at a particular moment? We were using SA Edge for quite long period. But didn't see this warning before. Is there some way to debug and find where the data missing? Or do you think it is not necessary as this is very common in stream processing?

[2020-10-27 21:02] JamesTran-MSFT commented on #65107
@epinto
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-10-27 21:27] aholler2 opened #65116 "Template spec support for AzureResourceManagerTemplateDeployment@3?"
Please add template spec support for YAML deployment task **AzureResourceManagerTemplateDeployment@3** e.g.
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37f85feb-ae78-c454-8c26-c21d474bbf7a
* Version Independent ID: 769971a1-5891-dbde-dff8-9fee76780506
* Content: [Template specs overview - Azure Resource Manage

[2020-10-27 21:46] masonwolf opened #65118 "could not pass array through bash as an inline parameter"
Following the format of exampleArray showed in this document, and using a windows command line terminal, I got this response:
' was unexpected at this time.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0aca150-4747-7670-f465-7439aecc40e5
* Version Independent ID: f836844c-0089-1477-57af-43a7618

[2020-10-27 21:51] YutongTie-MSFT commented on #65112
@dargilco
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-27 21:55] ChaitanyaNaykodi-MSFT commented on #65078
Hello @BMichaelJ, Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-10-27 21:57] chschrae opened #65119 "Instructions for Android Missing"
There are no instructions here on how to get device names for Android. I tried using the device name I thought would work, but it did not. I had to write a lot of code to implement a stream instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f049a214-a6b9-7858-df48-1e578a0edc2b
* Version Independent ID: 9f771515-17

[2020-10-27 21:58] aholler2 commented on #65116
Closing as I've submitted a feature request for the pipeline task in the appropriate repo, https://github.com/microsoft/azure-pipelines-tasks/issues/13789

[2020-10-27 21:58] #65116 closed

[2020-10-27 22:14] ChaitanyaNaykodi-MSFT commented on #65106
Hello @fabio770, Thank you for your feedback! We will review and update as appropriate.

[2020-10-27 22:16] ahollandusc commented on #64888
@miaojiang thanks for the update, can you please clarify what 'currently' means though - does that include the Power Platform October 2020 Release Wave 2 drop? https://docs.microsoft.com/en-us/power-platform-release-plan/2020wave2/
MVP's from Ignite and Power Platform conferences have indicated the Oct 2020 drop would include it as a non premium power platform feature.

[2020-10-27 22:19] SaiKishor-MSFT commented on #65091
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-27 22:41] hrasheed-msft commented on #64713
@bayeslearner I have removed the screenshot mentioning Python 2.7. Thanks for letting us know. I'm going to proceed to close this issue, but if you have other questions, please feel free to reach out.

[2020-10-27 22:42] rolyon commented on #64742
Hi @artsheiko
Thanks for your feedback. How about if I change to "service principal object ID"? The command output and portal label the ID as the object ID.

[2020-10-27 22:43] hrasheed-msft commented on #64713
#please-close

[2020-10-27 22:43] #64713 closed

[2020-10-27 22:58] dargilco opened #65120 "Two doc fixes needed for the Custom Command "Add interaction rules" page"
A couple of issues on this page:

1.  [In this section](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-custom-commands-add-interaction-rules#add-confirmations-to-a-command) it says "This action adds three interaction rules which will ask the user to confirm the date and time of the alarm and expects a confirmation (yes/no) for the next turn". Yet this section gives

[2020-10-27 23:04] abdale commented on #45158
Thanks a lot for mentioning this. Saved me a bunch of time!

[2020-10-27 23:05] MattMellifont commented on #64332
@GitaraniSharma-MSFT , @mblanco77  - Any updates?
Kind regards,
Matt

[2020-10-27 23:08] Nickomang commented on #63300
@writex, thanks for the feedback. The document has been updated to better reflect the existing options, remaining version agnostic and instead supplying a list of possible tags and additional information about Windows Server Core versioning.

#please-close

[2020-10-27 23:08] #63300 closed

[2020-10-27 23:10] Grace-MacJones-MSFT commented on #64685
okay, thanks for the update!  We will now proceed to close this thread.

[2020-10-27 23:10] #64685 closed

[2020-10-27 23:18] artsheiko commented on #64742
In my case there PS and Portal show two different values. So "service principal object ID" is not correct.
PS :
- https://prnt.sc/v8a17c
- https://prnt.sc/v8a2ha
But via Portal : https://prnt.sc/v8a3li

[2020-10-27 23:29] xitia commented on #65061
Hi @JesvinJoseph sorry for the confusion, yes, you are right, edgehub doesn't have concept of partitions. This is a generic warning message, the input adapter starts every second to try to get data from input source. if the input source doesn't haven data at that point, we will log this warning (in this case, we take the input source as one partition). We recently increased the frequency of trigge

[2020-10-27 23:53] artsheikoupply opened #65121 "BaseDockerfile is limited to 102400 characters"
The run of the next code :
[code]

raises the next error :
[{'code': '500',
   'message': 'Service invocation failed!
Request: PUT https://northeurope.experiments.azureml.net/environment/v1.0/subscriptions/[REDACTED]/resourceGroups/[REDACTED]/providers/Microsoft.MachineLearningServices/workspaces/[REDACTED]/environments/package?secrets=False&invisible=True
Status Code: 400 BadRequest
Reason Phrase

[2020-10-28 00:02] WinstonHoward-MSFT commented on #64982
Hi @TestUser0811,

You can disable adaptive sampling in the method ConfigureServices, using ApplicationInsightsServiceOptions within the Startup.cs file. Adding the following code to your .NET Core app will disable it.
public void ConfigureServices(IServiceCollection services)
[code]

For more on configuring sampling settings see [here](https://docs.microsoft.com/en-us/azure/azure-monitor/app/samp

[2020-10-28 00:02] #65038 closed

[2020-10-28 00:04] JamesTran-MSFT commented on #64472
@SB-o-matic
I just wanted to check in and see if you had a chance to review my previous posts? Since I haven't heard from you in a few days, please let me know if you still require assistance on this issue. Otherwise, I'll go ahead and close out this issue at the end of the day.

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue.

[2020-10-28 00:18] ChaitanyaNaykodi-MSFT commented on #65105
Hello @MoeJw, Thank you for your feedback! We will review and update as appropriate.

[2020-10-28 00:20] ChaitanyaNaykodi-MSFT commented on #65094
Hello @sympleconfigmgr, Thank you for your feedback! We will review and update as appropriate.

[2020-10-28 00:30] Marusyk commented on #65047
@NavtejSaini-MSFT you are not correct!

information is added to https://docs.microsoft.com/en-us/azure/cosmos-db/concepts-limits#metadata-request-limits
describes limits for Maximum Database create rate per minute!

My case is not about exceeding limits for Maximum Database create rate per minute! I have only one request to create DB, how can I exceed limits from Azure Portal? I assume it is only

[2020-10-28 00:37] drdamour commented on #47342
@AdamS-MSFT can u link to the dupe?

[2020-10-28 00:43] vivmishra opened #65122 "Image links are all broken"
None of the image are getting rendered on this page -- they look like below example:

    ![Nodes organized via fault domains][Image1]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5694a0e-53c2-4b8f-fc65-15b56b0e8f11
* Version Independent ID: 6bd8853e-6134-3488-39d0-b294e933dc89
* Content: [Describe a cluster by usin

[2020-10-28 00:46] ChaitanyaNaykodi-MSFT commented on #65113
Hello @scott1138, Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-10-28 00:46] BharathNimmala-MSFT commented on #65116
Thanks a lot @aholler2 for taking time to raise a feature request.

[2020-10-28 00:48] BharathNimmala-MSFT commented on #65118
@masonwolf Thanks for your query, we will further look into it and get back to you at the earliest.

[2020-10-28 01:39] Lawrence-Krukrubo commented on #64988
Hey, thanks for your concern Ram, the issue has been resolved.
I installed the azureml-sdk[notebooks, automl, explain] and when I tried to connect, I got an error for the wrong version of interpret-community, so I uninstalled that, installed the right version, restarted my connection and voila!

[2020-10-28 01:39] #64988 closed

[2020-10-28 01:41] kiazhi commented on #64663
@stephbaron, sorry, my bad... you are correct with the REST API.

Questions:
- What is the difference between the one your provided with this https://docs.microsoft.com/en-us/rest/api/resourcehealth/emergingissues/list one?

- Anyone know how to perform the same using [@azure/arm-resourcehealth](https://docs.microsoft.com/en-us/javascript/api/@azure/arm-resourcehealth/?view=azure-node-latest) pack

[2020-10-28 01:45] Jont-K opened #65124 "Doc not clear for handling mistakes or refunds - do "Metered billing for SaaS .....""
The document doesn't state what happens if an incorrect amount is passed through as a metered dimension.  It would be helpful to describe (or reference) the process for handling overage and under-bill scenarios (e.g. refunds, adj in future periods, etc.).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a4a35b2-e653-319

[2020-10-28 01:55] ram-msft commented on #64988
@Lawrence-Krukrubo Thanks for sharing the update.

[2020-10-28 03:03] thvenket commented on #64980
Hello any update on this?

[2020-10-28 03:07] gkarnik05 opened #65126 "Permissions and Scopes in Client Credentials Flow"
Can you please include this in the documentation somewhere if it's not mentioned somewhere else?
https://docs.microsoft.com/en-us/answers/questions/140286/invalid-scope-for-grant-type-client-credentials-bu.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be0884d3-263f-9913-7b8c-170d8092baa2
* Version Independent ID:

[2020-10-28 03:24] SatishBoddu-MSFT commented on #64799
@kiranpradeep Have you found any similar issues under [ IoT edge/issues ](https://github.com/Azure/iotedge/issues) page ?

[2020-10-28 03:24] MayankBargali-MSFT commented on #64963
@khairulizwar7 It looks like you are referring to some other document as I don't see any details mentioned in [this](https://docs.microsoft.com/en-us/azure/logic-apps/workflow-definition-language-functions-reference) on the issue that you are facing. Can you please share the document/steps that you have referred to/followed?

[2020-10-28 03:32] mattp-rab opened #65128 "What to do when the CI IP address changes?"
So what are we supposed to do when the IP address of the underlying private container instance group changes? This happens from time to time upon instance restarts or redeployments.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2bdf092-53a6-70a6-5d68-21a7450bb6d8
* Version Independent ID: a64c4a6a-10c0-7163-9f2f-54e5

[2020-10-28 03:34] BharathNimmala-MSFT commented on #64784
@menace232 Apologies again for your experience and the delay in getting back to this thread.

Further review on this issue seems that this needs to be investigated. Can you please share your account information and the installation log to further help you troubleshoot this.  Please send an email to AzCommunity@microsoft.com  with your Subscription details, installation log and a link to this threa

[2020-10-28 03:34] #64784 closed

[2020-10-28 04:10] AjayKumar-MSFT commented on #64971
@brucedkyle, Just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this topic or is good to be closed.

[2020-10-28 04:16] #64733 closed

[2020-10-28 04:16] AnuragSharma-MSFT commented on #64957
@peteralbanese Due to lack of response, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-10-28 04:16] #64957 closed

[2020-10-28 04:17] vipulsparsh commented on #65009
@tfurstms Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@msmimart Can you have a look ?

[2020-10-28 04:17] paulbouwer commented on #64991
@Subhraj07

Please can you share the AKS and Istio versions you are using.
Where all the previous steps you followed in the document successful?
Is the Istio Operator correctly installed?
What is the output of the following command: `kubectl api-versions | grep istio` ?

/cc @MonikaReddy-MSFT

[2020-10-28 04:17] AnuragSharma-MSFT commented on #65055
@Anmolgan81 Please let us know if above reply helps or more information needed.

[2020-10-28 04:36] c0g1t8 opened #65129 "No option to install Blazor PWA on SWA after implementing the fallback route"
Adding a _routes.json_ to implement a fallback route as specified
https://docs.microsoft.com/en-us/azure/static-web-apps/deploy-blazor#fallback-route, results in the option to install not to appear.

The reason is that _routes.json_ is added to the PWA offline cache list. This file is not accessible from the client. To resolve this issue the _service-worker.published.js_ file needs to be changed t

[2020-10-28 04:45] BharathNimmala-MSFT commented on #64831
@ZhijunZhao  Thanks a lot for helping on this thread.

@artmasa Can you please review the pointers shared by @ZhijunZhao and call out if you have further queries. Thank you

[2020-10-28 04:56] BharathNimmala-MSFT commented on #65037
@vmonge Thanks a lot again for bringing this to our notice. I have raised a PR to update the document to reflect the link as per your feedback. Once its reviewed and approved it will get merged into the live document.

At this point it appears that there's no further edits or updates needed to the documentation, other than what is listed above in the PR. We will go ahead and close this issue, howe

[2020-10-28 04:56] #65037 closed

[2020-10-28 05:00] BharathNimmala-MSFT commented on #65095
@chuckthompsonprofisee Thank you for your query, we will further look into it and get back to you at the earliest.

[2020-10-28 05:05] VikasPullagura-MSFT commented on #65017
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-10-28 05:05] #65017 closed

[2020-10-28 05:11] HarithaMaddi-MSFT commented on #65067
@vchandm23 - I looked at the note in the [document](https://docs.microsoft.com/en-us/azure/data-factory/control-flow-expression-language-functions#convertfromutc) and it worked after removing punctuation in the expression as below.
`@convertFromUtc(utcnow(),'AUS Eastern Standard Time')`
![image](https://user-images.githubusercontent.com/61235246/97394967-ea39f900-1909-11eb-888d-66550b6f3006.png)
I

[2020-10-28 05:11] #65067 closed

[2020-10-28 05:14] psmanhas commented on #65122
@vivmishra Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2020-10-28 05:14] psmanhas commented on #65122
@masnider Can you please check and add your comments on this doc update request as applicable

[2020-10-28 05:20] vipulsparsh commented on #65126
@gkarnik05 Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-10-28 05:20] SnehaAgrawal-MSFT commented on #65129
@c0g1t8 Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-10-28 05:24] BharathNimmala-MSFT commented on #64759
@cooldog77 Apologies for delay in getting back to this thread. Really appreciate you taking time and sharing your valuable feedback. Since Office 365 management solution is in Preview expect that this feedback would help improve the documentation. I have shared your feedback with respective team owning the document and we will drive a backlog item and see how the document can be enhanced.

For now

[2020-10-28 05:24] #64759 closed

[2020-10-28 05:26] kiranpradeep commented on #64799
No

[2020-10-28 05:29] psmanhas commented on #65128
@mattp-rab Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2020-10-28 05:54] GitaraniSharma-MSFT commented on #65099
@D4-AzIdentity , thank you for your feedback. We'll review this and get back to you shortly.

[2020-10-28 06:01] hpsin commented on #65126
@gkarnik05 - what of that would you like to see added? It largely focuses on the difference between the ROPC flow and the client credentials flow, which are documetned seperately here, as they're extremely different.  We try not to document the wrong thing to do since people quickly skimming won't notice us saying "**Don't** do the following:"

[2020-10-28 06:15] SubhashVasarapu-MSFT commented on #64848
@bakes82, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-10-28 06:15] #64848 closed

[2020-10-28 06:21] KrishnaG-MSFT commented on #64980
@thvenket I am internally checking with product team regarding your ask. Will get back to you at the earliest with an appropriate update.

Meanwhile, AFAIK, in general common selection box accepts only string so to have date / time range format, [date](https://docs.microsoft.com/en-us/Azure/azure-resource-manager/managed-applications/create-ui-definition-date-functions) function might help as func

[2020-10-28 06:24] KrishnaG-MSFT commented on #64987
@thvenket I am internally checking with product team regarding your ask. Will get back to you at the earliest with an appropriate update.

Meanwhile, AFAIK, currently there is no direct UI element for the user to select a date time. Common selection box accepts only string so to have date / time range format, [date](https://docs.microsoft.com/en-us/Azure/azure-resource-manager/managed-applications

[2020-10-28 06:42] gkarnik05 commented on #65126
@hpsin - I do see it being mentioned [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-client-creds-grant-flow) now. I was wondering if it helps to just add the above scenario as an e.g. to the below section:

"To use application permissions with your own API (as opposed to Microsoft Graph), you must first expose the API by defining scopes in the API's app registrati

[2020-10-28 06:46] Svijay-msft commented on #64948
Hello @jesuspsalas2, Just wanted to follow up with you on the above request. Could you please share the Azure documentation for which this feedback is applicable to?

[2020-10-28 06:48] SwathiDhanwada-MSFT commented on #64939
@BMichaelJ  I have reproduced the issue from my end, and I could deploy below template without any issues. Kindly try below template. I will make necessary changes to the document.

[code]

[2020-10-28 06:49] KrishnaG-MSFT commented on #65124
@Jont-K Thanks for the feedback!
Assigning content owner @mingshen-ms for visibility, review and document enhancement consideration as appropriate.

[2020-10-28 06:57] JayaChatterjee-MSFT commented on #65109
@scale-tone  Thank you for the question. We will review and get back to you.

[2020-10-28 06:59] JayaChatterjee-MSFT commented on #65110
@cookbr Thank you for your feedback! We will review and update as appropriate.

[2020-10-28 07:01] JayaChatterjee-MSFT commented on #65119
@chschrae Thank you for your feedback! We will review and update as appropriate.

[2020-10-28 07:02] JayaChatterjee-MSFT commented on #65120
@dargilco Thank you for your feedback! We will review and update as appropriate.

[2020-10-28 07:04] JayaChatterjee-MSFT commented on #65121
@artsheikoupply Thank you for the question. We will review and get back to you.

[2020-10-28 07:10] bablushaikh commented on #64782
@BharathNimmala-MSFT , I have tried Get-AzResourceGroup | ? ResourceGroupName -like resourcegroupname* and the resource group is recognized and I can select specific sunbscription too.

[2020-10-28 07:54] BMichaelJ commented on #64939
Hi @SwathiDhanwada-MSFT
Thank you, it is working now with this example.
Yes I have received responses from the Azure Monitor PG.

[2020-10-28 08:11] #64939 closed

[2020-10-28 08:12] SwathiDhanwada-MSFT commented on #64939
Thanks for the update @BMichaelJ.We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-10-28 08:16] rayne-wiselman commented on #65023
Hi @JustinGrote. Currently, the information in the article is accurate for creating a migrate project. We'll update the documentation if there are changes to the current requirements. Thanks! Rayne

[2020-10-28 08:17] jtuliani opened #65130 "Not clear that VM needed beforehand"
Page should make clear that VM needed beforehand.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c714cc40-47f5-fb3c-51e0-f504c38ec937
* Version Independent ID: 15da2499-61eb-ec11-53be-7d006cdd4b38
* Content: [Set up Azure VM disaster recovery with Azure Site Recovery - Azure Site Recovery](https://docs.microsoft.com/en

[2020-10-28 08:27] JesvinJoseph commented on #65061
Hi @xitia,

I cross verified once again, actuly there is one problem in the metrics. We have only one input named **sensorData** from EdgeHub and the input data generated in every 10 sec. So 6 messages in a minute. But in the metrics, the input event sources and input events are 18.

[code]

But when the stream analytics get started, I can see that the input is registed 3 times. 6*3=18
[code]

We

[2020-10-28 08:34] yoganandmf commented on #65090
team, any help on this?

[2020-10-28 08:44] AnuragSharma-MSFT commented on #65082
@ronyv We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-10-28 08:45] #65082 closed

[2020-10-28 08:45] phbecker17 opened #65131 "Documentation must describe traffic flow to permit in network policies"
The [article describing the CSI-based integration between AKS and Azure Key Vault](https://docs.microsoft.com/en-us/azure/key-vault/general/key-vault-integrate-kubernetes) does not describe what traffic flows are required for the solution to function.

We have encountered several situations where a default "deny all" network policy is applied on AKS clusters and we manually need to permit all ingr

[2020-10-28 09:03] kummanish commented on #56534
hi @christiankuhtz i am not sure how this will help in the CLI automation documentation. May be this needs to go in the private link documentation and not part of the azure mysql CLI docs.

[2020-10-28 09:16] psmanhas commented on #65128
@mattp-rab I had discussion internally and got below response :

It seems to be a common ask. Currently we are suggesting to customers automating client configuration updates every time ACI IP changes. Here is an example for updating AppGw backend configuration using an Automation Account:

https://supportability.visualstudio.com/AzureContainers/_wiki/wikis/Containers%20Wiki/385703/Automate-Sync-o

[2020-10-28 09:25] SarveshPandey opened #65133 "Self Hosted in VPN connectivity"
Hi,

We have setup VPN connectivity from Azure to customer local network. Due to VPN, we are able to run SSIS package from ADF successfully but when we build pipeline in ADF, do we need self-hosted IR? If yes, what is the reason of it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32785d15-8202-6e44-f1d2-420ef0600f3f

[2020-10-28 09:33] souravmishra-msft commented on #64873
Hello @RamyasreeChakka, We did test this cli cmdlet and it worked for us.

![image](https://user-images.githubusercontent.com/54057592/97418209-8ece3200-192e-11eb-9a37-548c688677f6.png)

When you follow the docs, the "az keyvault secret list" should only list the sas token name and not the ID.

The ID for the SAS token (SASDefinitionID) is:
"_https://<YourKeyVaultName>.vault.azure.net/secrets/<You

[2020-10-28 10:10] christiankuhtz commented on #56534
The graph query Mario provided is complex and not obvious. It should be included in docs.

[2020-10-28 10:16] mattp-rab commented on #65128
Thank you very much for your response, @psmanhas. I actually wasn't expecting a response :-)

I had arrived at that process as a workaround too. In our case we are looking at deploying a private DNS zone and having each ACI instance update their record with the private DNS service upon boot. Then we reference container instances by DNS name instead of IP address.

To us to have to code in a workar

[2020-10-28 10:21] Navaneethsen opened #65134 "-log_level is not a valid argument name"
[Enter feedback here]

-log_level is not a valid argument name anymore. The current valid arguments for enabling logging are -file_log_level and -console_log_level.

Also the place where the example command is given with -log_level there is an additional space on the value of it, which causes the program to exit with sig11. I have raised a separate issue for this on the batchkit project.

---
####

[2020-10-28 10:21] psmanhas commented on #65128
@mattp-rab Thank you for sharing out your inputs. I will again reach out to our Product Group and will keep you updated on thread :)

[2020-10-28 10:23] bhalgat20 commented on #27337
_"Having two Premium instances to work in this scenario would be problematic. In the multiregion feature only the API gateway component of API Management is replicated in different regions, while the management component remains only in the primary region. With two separate instances you'd have two management components and would need to keep them in sync - for example, sync all the API changes or

[2020-10-28 10:35] Makrenos opened #65135 "TextAnalyticsApiVersion Undefined variable"
In the client declaration, the "TextAnalyticsApiVersion" enum gives a NameError, after the import of the "TextAnalyticsClient".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f57e416-a37f-e719-4a3e-58a4e6390818
* Version Independent ID: dbb3821b-5793-b41b-9601-559b00e4096a
* Content: [Quickstart: Text mining using the

[2020-10-28 10:36] luklew commented on #64073
Hi, Im having same issue with when pressing "Forgot password", how did you get the code challenge value and method?

[2020-10-28 10:39] GitaraniSharma-MSFT commented on #65099
@D4-AzIdentity ,  at the [end](https://docs.microsoft.com/en-us/azure/vpn-gateway/openvpn-azure-ad-tenant#next-steps) of this article, there is a link in Next Steps to configure a VPN client for P2S connections which shows the steps on how to download the VPN client and create client profiles and that article refers to the link where you can find the instructions on how to export a client profile

[2020-10-28 10:39] #65099 closed

[2020-10-28 10:42] kieronlanning opened #65136 "Cloud Service - csdef - Task/Environment/Variable/RoleInstanceValue and Certificate XPath."
Using `RoleInstanceValue` and XPath queries, is there a way to pull certificate information from the `/Certificates/Certificate` section of the cscfg file?

For example, I'm trying to set a `Variable/RoleInstanceValue` to the thumbprint of a named certificate to be used in a startup script.

An example from a `.csdef` file:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is req

[2020-10-28 10:42] GitaraniSharma-MSFT commented on #64209
@retheshnair, thank you for the update. We have assigned this issue to the respective product owner for further review.

@mscatyao , could you please look into the role assignment issue and provide your insights?

[2020-10-28 10:47] SubhashVasarapu-MSFT commented on #64801
@greendx, as of now this feature is not available in basic SKU IP address and the same has been documented in Azure docs here,

![image](https://user-images.githubusercontent.com/44890829/97425918-c215be80-1938-11eb-963d-86942e064543.png)
Only Standard SKU Public IP can be zone pinned.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we wil

[2020-10-28 10:47] #64801 closed

[2020-10-28 10:50] mcurko opened #65137 "Clarification needed"
The presentaion rule will not allow wildcard certificates, while the validation rule will. Since certificates are to be found according to presentation rules before passing the validation, how would one use a wildcard certificate? This page is long and it's difficult to follow and grasp the whole idea without having some kind of simplified image or diagram to refer to while reading the page.

---

[2020-10-28 10:55] GitaraniSharma-MSFT commented on #65109
@scale-tone , you can use the "**Set-AzApplicationGatewayIdentity**" Azure PowerShell cmdlet to assign a user assigned identity to an existing application gateway.
Please refer : https://docs.microsoft.com/en-us/powershell/module/az.network/set-azapplicationgatewayidentity?view=azps-5.0.0

Kindly let us know if the above helps or you need further assistance on this issue.

[2020-10-28 10:58] Mahesh-MSFT opened #65138 "Clarification needed on the Internet connectivity NOTE"
This documentation has following note.

Can this note/documentation be improved to get unambiguous answers to following questions?

* Can the first statement *Access to the internet...a private cloud* be grammatically corrected?
* What is meant by *consume VMs* and *production networks*?
* Is internet access disabled for ingress as well as egress from AVS guest VMs by default?
* How is internet ac

[2020-10-28 10:59] psmanhas commented on #64985
@davo123456 fi allows to make choice based on the success or failure of a command. For example, find out if file exists (true condition) or not (false condition) and take action based on a condition result.

As far as script is concerned we will make sure to review it :)

[2020-10-28 11:00] psmanhas commented on #64985
@roygara Can you please check and add your comments on this doc update request as applicable

[2020-10-28 11:09] majkelllo commented on #64073
@luklew on my side I have hardcoded both, and it works. I am waiting for a response to my last message to get some advice of how this should be implemented

[2020-10-28 11:16] mafshin opened #65140 "Add the necessity of healthy probe for successful routing in path-based configuration"
Hi.

This should be documented for path-based Application Gateway configuration, that health probes should be **healthy** on the given path otherwise the routing won't work.

This causes problem when you have an API which normally responds to specific paths (e.g `/api/projects`) but for example you choose `/api` as the route path in Azure Gateway. This problem magnifies specially when you are conf

[2020-10-28 11:40] hamzajeljeli95 opened #65142 "Incorrect order in Firewall configuration instructions"
For the instructions regarding the commands which must be exected at the Firewall side, their order is incorrect. it must be :
[code]

You can't execute **set format** , **set port** and **set server** when **set status** is not set to **enable**. Just tried it at a customer's Firewall running FortiOS 6.2.5 .

Please check this document as a reference : https://docs.fortinet.com/document/fortigate

[2020-10-28 11:45] munkii commented on #52954
@mike-urnun-msft I too would like some detail on how to implement the suggested "use AAD auth by creating your AAD app separately". I feel that Azure Functions are aimed at developers who are looking for tools that hide as much of the plumbing as possible. Therefore I'd expect a lot of people using Linux as the OS for their Function could do with some assiatnce with this.
Alternatively I could jus

[2020-10-28 11:49] RubenDelange opened #65143 "The Token obtained from the Token Provider is invalid"
I'm getting the error message "The Token obtained from the Token Provider is invalid" - just as the screenshot shows btw.

The push notification doesn't seem to come through due to this error. Any idea what's wrong here? I'm sure the device is registered correctly and the WNS settings are fine.

I find a lot of similar problem threads via google, but always without a root cause/solution.

---
####

[2020-10-28 11:51] jangins101 commented on #62558
I've had this same question about the MFA pricing. I did finally find [this page](https://azure.microsoft.com/en-us/updates/mau-billing/) (https://azure.microsoft.com/en-us/updates/mau-billing/) references the MAU billing updates that states `Separate charges apply if you choose to provide higher levels of assurance using Multi-Factor Authentication for voice verification and for sending SMS messa

[2020-10-28 11:54] scale-tone commented on #65109
@GitaraniSharma-MSFT , I kind of know that. What I'm saying is that the above doc page should itself contain that information. Or at least have a link to another doc page, where it is clearly explained.

[2020-10-28 12:01] lukipro opened #65144 "Custom claim value has a limit of 80 characters"
Hello Guys,

I have a Function App using a MSI. I grab an `access_token` from the **MSI_ENDPOINT** and would like to use it to authenticate to a Logic App.

The `access_token`, among others, has a following claim: **xms_mirid**.
This claim has the following structure: `"xms_mirid": "/subscriptions/<subscription_id>/resourcegroups/<resource_group_name>/providers/Microsoft.Web/sites/<function_name>"

[2020-10-28 12:01] SarveshPandey commented on #65133
Any update on this?

[2020-10-28 12:17] PramodValavala-MSFT commented on #64806
@motasem13 Just following up here... Hope my previous comment clears things up.

Since there is no doc update required here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-28 12:17] #64806 closed

[2020-10-28 12:18] pavelrozenberg opened #65145 "Missing INTUNE_A_D product name"
Hello,
On this page there is a missing product name for INTUNE_A_D which has the friendly name of "Microsoft Intune Device" and the GUID '2b317a4a-77a6-4188-9437-b68a77b4e2c6'.
Please add it.

Thank you,
Pavel.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID:

[2020-10-28 12:20] PramodValavala-MSFT commented on #64888
@miaojiang Thanks for sharing insights on this! I have assigned this issue to you for updates on the license requirements.

[2020-10-28 12:21] manknewl opened #65146 "Turn Active Learning On"
The docs misses how to actually turn Active Learning On.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fcd7d96a-7def-6b8b-2753-2904737ac743
* Version Independent ID: e71a1b3f-da7c-e79e-8bdf-54a5ecf8d8ca
* Content: [Active learning suggestions - QnA Maker - Azure Cognitive Services](https://docs.microsoft.com/en-us/azu

[2020-10-28 12:38] HarithaMaddi-MSFT commented on #65133
@SarveshPandey - Thanks for posting the question. Please suggest if this [document ](https://docs.microsoft.com/en-us/azure/data-factory/join-azure-ssis-integration-runtime-virtual-network) addresses your question.

[2020-10-28 12:48] mrbullwinkle commented on #64926
The article has been retired/redirected.

[2020-10-28 12:48] mrbullwinkle commented on #64926
#please-close

[2020-10-28 12:48] #64926 closed

[2020-10-28 12:48] greendx commented on #64801
That documentation is poorly worded because it makes it sound like
availability zone scenario is optional.

If you’re deploying a VM with a public IP into East US region it’s
impossible to use basic SKU public IP because you’re not able to not use an
availability zone even if you’re only deploying a single VM. Therefore, you
should update the document to state that Basic SKU public IP is not
suppo

[2020-10-28 12:52] VikasPullagura-MSFT commented on #65137
@mcurko
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-10-28 12:52] VikasPullagura-MSFT commented on #65137
@erikadoyle
Can you please check and add your comments on this doc update request as applicable.

[2020-10-28 13:07] pavelrozenberg opened #65147 "Missing MICROSOFT_BUSINESS_CENTER product name"
Hello,
On this page there is a missing product name for MICROSOFT_BUSINESS_CENTER which has the friendly name of "Microsoft Business Center" and the GUID '726a0894-2c77-4d65-99da-9775ef05aad1'.
Please add it.

Thank you,
Pavel.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Versio

[2020-10-28 13:09] hrasheed-msft commented on #64892
@Derek1101 The initial response from the product team indicates that this might involve some back and forth to figure out exactly what the customer is trying to do and how. You might find this document helpful: [Add custom Apache Hive libraries when creating your HDInsight cluster](https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-hadoop-add-hive-libraries). Otherwise, please open a ticke

[2020-10-28 13:09] jokarl commented on #64893
Totally off topic, but this feature is great and it solved a lot of issues for us. We can now throw away events that we don't want ghosting around in our device if we fail to ack them on the edgeHub. It also allowed us to to remain offline for long periods of time and still recover from it and having all telemetry arrive at our endpoints.

Big up!

[2020-10-28 13:10] pavelrozenberg opened #65148 "Missing RIGHTSMANAGEMENT_ADHOC product name"
Hello,
On this page there is a missing product name for RIGHTSMANAGEMENT_ADHOC which has the friendly name of "Rights Management Adhoc" and the GUID '8c4ce438-32a7-4ac5-91a6-e22ae08d9c8b'.
Please add it.

Thank you,
Pavel.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Ind

[2020-10-28 13:12] VikasPullagura-MSFT commented on #65138
@Mahesh-MSFT
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-10-28 13:12] VikasPullagura-MSFT commented on #65138
@shortpatti
Can you please check and add your comments on this doc update request as applicable.

[2020-10-28 13:13] GitaraniSharma-MSFT commented on #65109
@scale-tone , thank you for your feedback. We have assigned this to the content owner/author for updating the doc accordingly.

@vhorne , could you please add the below link in the article which explains how to assign a user assigned identity to an existing application gateway:
https://docs.microsoft.com/en-us/powershell/module/az.network/set-azapplicationgatewayidentity?view=azps-5.0.0

[2020-10-28 13:32] manolo20 commented on #58912
https://stackoverflow.com/questions/64573528/sharing-a-shiny-application-with-the-members-of-my-workspace-in-databricks

[2020-10-28 13:34] hariAtVonto opened #65149 "Contradicting code snippets"
To encrypt nodes in Databricks, this is the code snippet used. However, we are also references to a link [here](https://docs.microsoft.com/en-us/azure/databricks/_static/notebooks/cluster-encryption-init-script.html) that gives a different code snippet. Which is correct and why?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-10-28 13:46] dimiboi opened #65150 ""Give IoT Edge access to the TPM" invalid successful output documented"
The document says that the successful output of `ls -l /dev/tpm0` looks like this:

[code]

However, it should look like this:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2113dfd-71ce-f982-35d2-528ec73c6a66
* Version Independent ID: 5f043c8f-03ed-5d95-ec2d-4a02d80ecaec
* Content: [Provision device with a vi

[2020-10-28 13:50] wevans2019 opened #65151 "Output binding permitted for CloudEvent schema? Doc Unclear."
Is it possible to output bind a event grid to an azure function that passes events in CloudEvents v1.0 schema? Documentation unclear only explicitly declares no support for HTTP triggers/input binding.

Is output binding natively supported? if so can you point to the relevant documentation that discusses the attribute modifications necessary so that it does not expect in event schema format?

Curr

[2020-10-28 13:58] SatishBoddu-MSFT commented on #64893
Hello @jokarl , Thanks for sharing your experience on this product document.
Please let us know if we are good at this point and may be able to close this issue?

[2020-10-28 14:03] #64893 closed

[2020-10-28 14:04] levistormgeo opened #65153 "Support for Marketo instance which is integrated with external CRM"
Is there a plan for support for Marketo instance which is integrated with external CRM in Data Factory?
If not, is it possible to suggest that?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24c9e393-e3f9-1dbc-a54d-faaf94ee8849
* Version Independent ID: f932e2bb-5fe2-2c47-bc04-2b70ecc697dd
* Cont

[2020-10-28 14:04] cybericua opened #65154 "Wrong domain in 3 C"
I think you put the wrong domain in section 3 C. It shoukd  be greatapp.contoso.com instead of my app.contoso.com?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 647e9a22-fedf-a3d6-5bb3-54b635bdfba4
* Version Independent ID: a35040bc-5e45-0514-fd49-e4b97813ed98
* Content: [Prevent subdomain takeovers with Azure DNS ali

[2020-10-28 14:06] SatishBoddu-MSFT commented on #64799
Hello @kiranpradeep
I had a discussion with my team and we got a suggestion to submit this issue under [IoT edge/issues ](https://github.com/Azure/iotedge/issues)page for faster and better visibility from the Developer team.

Please let me know if we can close this issue over here and continue on oT edge/issues.

[2020-10-28 14:12] henkyfen opened #65155 "Listing versions of a Blob"
[Enter feedback here]
I understand how I can list blobs and get a blob with .NET, however I couldn't find any info about listing the past versions or snapshots made of a given blob?
Is there any way to do this via the .NET library, or maybe the REST API?
Thanks :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49364b8c

[2020-10-28 14:14] fabio770 commented on #65106
I have created this pull request to fix this:

https://github.com/MicrosoftDocs/azure-docs/pull/65108

[2020-10-28 14:27] matuhinal opened #65156 "Условный доступ"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d525ecd-381b-162f-84b7-2912b83462f6
* Version Independent ID: db11cbb8-d83a-2a03-0160-beed5afb42c9
* Content: [What is Conditional Access in Azure Active Directory?](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/overview)

[2020-10-28 14:52] AnuragSharma-MSFT commented on #65055
@Anmolgan81 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-10-28 14:52] #65055 closed

[2020-10-28 14:56] mumian commented on #65095
@chuckthompsonprofisee - we are working on a fix for this issue.  I will let you know once the fix rolls out.

[2020-10-28 14:59] yoelhor commented on #65019
Using the following xml the result does configure the placeholder. Could double check your code?

[code]

![image](https://user-images.githubusercontent.com/20111866/97453758-b62cfb00-193e-11eb-8f33-a0a03d36f9ac.png)

[2020-10-28 15:05] SwathiDhanwada-MSFT commented on #64800
@markeboyle When the servers are decommissioned, the log analytics agent doesn't send data to the log analytics workspace. The Log Analytics workspace isn't affected in anyway due to servers decommissioned.

As there are no further documentation updates, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-10-28 15:05] #64800 closed

[2020-10-28 15:16] cherici-simone opened #65157 "vpn user name"
Can someone explain me what "vpn user name" stand for?
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eff394c-0151-923b-643d-b8280bc79975
* Version Independent ID: e044d35d-664c-524f-6012-49e385bebf41
* Content: [Azure VPN Gateway: Point-to-site VPN session management](https://docs.microsoft.com/en-us/azure/vp

[2020-10-28 15:22] JayaChatterjee-MSFT commented on #65144
@lukipro Thank you for your feedback! We will review and update as appropriate.

[2020-10-28 15:25] mick-anderson24 commented on #65019
Here is the xml I am setting:

[code]

[code]

I would expect that verification code input text field would have the placeholder of #Verification code

![Capture](https://user-images.githubusercontent.com/26772661/97456913-43545d80-1907-11eb-806f-f2090436e291.PNG)

[2020-10-28 15:30] Kamyar5353 opened #65158 "Where you select Dynamic partitioning, the Column Name becomes required and it is not optional."
Hi.

In SQL Server as source, where you select Dynamic partitioning, the Column Name becomes required and it is not optional. The document says the primary key will be selected automatically, whereas this is not true. I think this needs to be fixed.

Meanwhile, after you provided the column name, if you don't provide the boundaries, a query behind the scene is running to get the Max and Min value

[2020-10-28 15:31] Kamyar5353 opened #65159 "Where you select Dynamic partitioning, the Column Name becomes required and it is not optional."
Hi.

In SQL Server as source, where you select Dynamic partitioning, the Column Name becomes required and it is not optional. The document says the primary key will be selected automatically, whereas this is not true. I think this needs to be fixed.

Meanwhile, after you provided the column name, if you don't provide the boundaries, a query behind the scene is running to get the Max and Min value

[2020-10-28 15:36] adrianagdi commented on #48261
@johannespetereit We never had the time to make such a detailed analysis as you did :)
So we actually went for the first trick that you mentioned as a workaround (restart the app gateway after the backend is deployed), since the environments are in full control of the development team and new backends have not (yet) been added following those AGW restarts.

[2020-10-28 15:36] #64730 closed

[2020-10-28 15:36] stephbaron commented on #64663
@kiazhi , the emergingissues API will return events that are currently *active* on the Azure status page (https://status.azure.com). If there are no active events, an empty response is returned.

I don't know the answer to #2, sorry :(

[2020-10-28 15:41] NavtejSaini-MSFT commented on #64959
@papadi We are assigning this to our doc author for further review.
@j82w Please check this further and provide guidance.

[2020-10-28 15:41] JamesTran-MSFT commented on #65145
@pavelrozenberg
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-28 15:42] JamesTran-MSFT commented on #65154
@cybericua
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-28 15:44] NavtejSaini-MSFT commented on #65036
@mdrakiburrahman We are closing this issue for now. Please get back to us if you have any further questions.

[2020-10-28 15:44] #65036 closed

[2020-10-28 15:45] GiftA-MSFT commented on #65146
@manknewl we'll review your feedback and get back to you shortly. Thanks.

[2020-10-28 15:45] JamesTran-MSFT commented on #65131
@phbecker17
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-10-28 15:47] GiftA-MSFT commented on #65135
@Makrenos we'll review your feedback and get back to you shortly, thanks.

[2020-10-28 15:47] sikovatc commented on #60699
any updates? the wording on this is very confusing

[2020-10-28 15:47] MariekeDeGraaf1 opened #65160 "Contact object in openapi spec not imported to Azure APIM"
The openAPI specifications which I import in Azure APIM have the following structure.

[code]

The contact object within the above info object seems to be ignored by Azure APIM while importing the spec.
Resulting that developers don't know who to contact.

Am I doing something wrong or is this issue known and planned to be fixed?

[2020-10-28 15:47] mmacy commented on #65126
#reassign:hpsin

[2020-10-28 15:49] GiftA-MSFT commented on #65134
@Navaneethsen we'll review your feedback and get back to you shortly, thanks.

[2020-10-28 15:49] hpsin commented on #65126
Thanks @gkarnik05 ! I'm still not clear on the scenario though.  How to handle the error?

[2020-10-28 15:50] #65160 closed

[2020-10-28 15:53] tfitzmac commented on #65083
@mrutman - thanks for this feedback. The CLI deployment commands were updated to use the new pattern of az deployment <scope>. This change was needed after adding subscription, management group, and tenant as possible scopes. You're right that there is still the az group deployment option, but we are now recommending the new syntax.

[2020-10-28 15:54] hrasheed-msft commented on #64892
#please-close

[2020-10-28 15:54] #64892 closed

[2020-10-28 15:54] Candelit opened #65161 "WAG Example missing parameter"
Manage web traffic with Azure PowerShell
https://docs.microsoft.com/en-us/azure/application-gateway/scripts/create-vmss-powershell

The sample script, has a missing parameter:
Set-AzVmssStorageProfile $vmssConfig `
  -ImageReferencePublisher MicrosoftWindowsServer `
  -ImageReferenceOffer WindowsServer `
  -ImageReferenceSku 2016-Datacenter `
  -ImageReferenceVersion latest
This gives when creatin

[2020-10-28 15:58] felixtsem5 opened #65162 "AKS creation **Scale** tab has been changed"
**Scale** tab is replaced by **Node pools** tab, and they look a little different.
There is an **Enable virtual nodes** checkbox instead of the **Virtual nodes** switch.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 183d8705-0563-9944-d779-774c8b828c39
* Version Independent ID: 4e2f06e8-d918-b6fd-93c8-2fadf1bd31ed
* C

[2020-10-28 16:01] MariekeDeGraaf1 commented on #65160
moved to: https://github.com/Azure/api-management-developer-portal/issues/997

[2020-10-28 16:01] abdale opened #65163 "webpage title needs correction"
The title for the webpage should be "Connect to Synapse SQL with Power BI Professional". Currently it is "Connect to Power BI ...", which is incorrect.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8260fd6-20a4-70cc-e0fe-19492a2a2b44
* Version Independent ID: da27cb9e-5cd3-8e74-a80e-4cfb2ddac648
* Content: [

[2020-10-28 16:14] yoelhor commented on #65019
Thanks, checking. I'll keep you posted ASAP.

[2020-10-28 16:19] tfitzmac commented on #65118
@masonwolf - did you use:
exampleArray='("value1", "value2")'

or:
exampleArray="['value1','value2']"

[2020-10-28 16:21] MarileeTurscak-MSFT commented on #65148
@pavelrozenberg
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-28 16:21] MarileeTurscak-MSFT commented on #65156
@matuhinal
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-28 16:26] diligent176 opened #65164 "No examples"
There should be examples for Azure Service Bus filters...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03b00e4d-3af1-d053-373e-7724bc81113b
* Version Independent ID: e0e54223-efc3-f69f-efc1-e19ba0010760
* Content: [Azure Service Bus SQLFilter syntax reference - Azure Service Bus](https://docs.microsoft.com/en-us/azur

[2020-10-28 16:29] trevorbye commented on #61317
added links to doc #please-close

[2020-10-28 16:29] #61317 closed

[2020-10-28 16:33] jtuliani opened #65165 "Unknown Operating System issue"
The table of 'Assessment readiness issues' is very useful. But I have an issue with one line, 'Unsupported operating system'.

First, the error in the Azure Migrate portal is 'Unsupported OS', not 'operating system'. The errors should match EXACTLY between the Portal and the docs, otherwise there is always an underlying concern I might be looking at the wrong line.

Second, the error description o

[2020-10-28 16:35] chuckthompsonprofisee opened #65166 "Call MS Graph api from ArmApiControl control"
Is it possible to call the MS graph rest api from this armapicontrol?
If so, how do I do that?
If not, is there any other control that can do it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f3e122a-cd93-e5c3-a0b5-fd320dabce51
* Version Independent ID: f7cb13e7-40bd-bb27-08df-085acd22cfbc
* Content: [ArmApiControl U

[2020-10-28 16:37] Sothecom commented on #64698
Sorry I missed my email updates. This issue was not an Azure one so it's possible I have the wrong area altogether

[2020-10-28 16:44] trevorbye commented on #63546
#please-close

[2020-10-28 16:44] #63546 closed

[2020-10-28 16:45] tfitzmac commented on #65105
@MoeJw - thanks for this feedback. I have adjusted that value in the reference.

[2020-10-28 16:45] trevorbye commented on #64192
#please-close

[2020-10-28 16:45] #64192 closed

[2020-10-28 16:45] tfitzmac commented on #65105
#please-close

[2020-10-28 16:45] #65105 closed

[2020-10-28 16:47] azaricstefan commented on #65163
Hi @abdale thanks for noticing that.

Change will be visible in couple of hours.

[2020-10-28 16:54] MayankBargali-MSFT commented on #64897
@Max-Eriksson Dash '-' is not supported in the Linux environment. I have tested and confirmed that for the Linux environment it is working as expected if we are using App setting names only contain letters, numbers (0-9), periods ("."), and underscores ("_")

I have updated the document with the name 'input_queue_name' so it should work on both Linux and Windows environment.
Please test it and let

[2020-10-28 16:55] MoeJw commented on #65105
Thank you for the quick response

[2020-10-28 16:59] mikebudzynski commented on #27337
Each API Management service is billed separately, according to our pricing: https://aka.ms/apimpricing Note that prices are quoted per "unit". In multi-region configuration in the Premium tier, each region is treated as a "unit" (or more "units", if you scale out the gateway).

[2020-10-28 17:02] MonikaReddy-MSFT commented on #65161
@Candelit -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-10-28 17:03] trevorbye commented on #64679
@kngohil we have an internal thread very similar to this issue, I will update once I have some more info.

For now, are you using REST APIs, or one of the SDK's? If you can test in the SDK, you can try creating a `SpeechConfig` using your endpoint. [This example](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/get-started-speech-to-text?tabs=script%2Cbrowser%2Cwindowsinsta

[2020-10-28 17:06] RyanHill-MSFT commented on #65143
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-28 17:07] JustinGrote opened #65167 "Use -Custom serverside filter"
For https://docs.microsoft.com/en-us/azure/role-based-access-control/custom-roles-powershell#list-custom-roles

It should instead be `Get-AzRoleDefinition -Custom` so as not to download all the roles and then filter client side.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63d296e8-a638-222e-8e8e-da28110cef68
* Versi

[2020-10-28 17:08] roygara commented on #64985
@davo123456 Thanks for reaching out, I've just tested the script, it does work. There is a newline in it which causes issues with the formatting of the output, I'll update the doc to remove that but, otherwise the script works. What issue were you seeing, exactly?

[2020-10-28 17:11] JustinGrote commented on #65023
@rayne-wiselman Are you sure about that? It only took me 15 minutes of research to:

1. Create a migrate resource
2. Look at the ARM template to see resources were created
3. Create an appropriate custom role template to allow for those resources
4. Assign to a test user
5. Allow that user to create the migrate resource and nothing else and test successfully

Obviously there are more permissions i

[2020-10-28 17:11] cxwtool commented on #62743
@juliakm Can you take a look at this issue?

[2020-10-28 17:12] rayne-wiselman commented on #65023
I will pass along the feedback. Thanks

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Justin Grote <notifications@github.com>
Sent: Wednesday, October 28, 2020 7:11:35 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rayne Wiselman <raynew@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Provide

[2020-10-28 17:19] JamesTran-MSFT commented on #65167
@JustinGrote
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-28 17:22] himanshusinha-msft commented on #64825
@chinwobble : We have not heard from you this . The error will help us a lot to troubleshoot the issue .

[2020-10-28 17:23] MartinJaffer-MSFT commented on #65149
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-10-28 17:24] MartinJaffer-MSFT commented on #65153
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-10-28 17:26] MartinJaffer-MSFT commented on #65159
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-10-28 17:29] WinstonHoward-MSFT commented on #65162
Thanks for the issue @felixtsem5 ,

I've assigned this issue to the author to take a look.

[2020-10-28 17:30] WinstonHoward-MSFT commented on #65136
Thanks for the question, I'll take a look.

[2020-10-28 17:35] #65096 closed

[2020-10-28 17:38] hbuckle commented on #51597
@jakaruna-MSFT @athinanthny - please can someone respond to this question?

[2020-10-28 17:40] MarileeTurscak-MSFT commented on #65142
@hamzajeljeli95
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-28 17:40] bewsbews commented on #34451
@AjayKumar-MSFT

I have the same error.

"2020-10-28T17:33:35.452Z ERROR - Container lunchtimecontainerapi_0_afba9f03 didn't respond to HTTP pings on port: 80, failing site start. See container logs for debugging.
2020-10-28T17:33:36.397Z INFO  - Stopping site lunchtimecontainerapi because it failed during startup."

I'm using Azure Docker Container on  a Linux App Service without MSI and without

[2020-10-28 17:44] MoeJw commented on #65105
@tfitzmac  I guess you have also to update SolutionPlan object
the plan properties  are also required

[2020-10-28 17:44] sumeetmittal commented on #64867
William, Is that possible to look at your setup.

You can start email with - abhiel@microsoft.com<mailto:abhiel@microsoft.com>; sumi@microsoft.com<mailto:sumi@microsoft.com>

Regards
Sumeet Mittal

From: William Price <notifications@github.com>
Sent: Thursday, October 22, 2020 1:47 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Sumeet Mittal <Sumeet.Mittal@microsoft.com>; Ment

[2020-10-28 17:45] rowenwu opened #65169 "TOC header names confusing for Nested IoT Edge"
The headers in the table of contents for the tutorial on nested edge are labelled "Deploy IoT Edge through gateways" and "Create gateways for IoT Edge devices". This language is super confusing to me, because it doesn't immediately communicate a layered architecture or hierarchy. Can we rename these sections to "Deploy an IoT Edge hierarchy" or "Deploy nested IoT Edge devices"?

---
#### Document

[2020-10-28 17:48] brucedkyle commented on #64971
Thanks for your answer. I understand that the feature you are writing about is how to expose an Azure App Service as a private endpoint. And the examples you show, "I done a complete example with 2 web apps, but you can replace the back web app by your own PaaS service exposed through private endpoint. At the end of the article in the next steps you can find the end-to-end example." are excellent.

[2020-10-28 17:48] #64971 closed

[2020-10-28 17:49] matuhinal opened #65170 "бюджет"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09acb09f-6171-fdd8-a5d4-0d036b467c5a
* Version Independent ID: 1bffb9cc-b99e-c000-eb9e-47981e27eedc
* Content: [Tutorial - Create and manage Azure budgets](https://docs.microsoft.com/en-us/azure/cost-management-billing/costs/tutorial-acm-create-budget

[2020-10-28 17:53] bandersmsft commented on #65170
@matuhinal I see you commented with "budget." Do you have any specific feedback about this article?

[2020-10-28 17:53] bandersmsft commented on #65170
#assign:bandersmsft

[2020-10-28 18:11] dmulder commented on #64149
@SAPDanJoe unfortunately the yast-auth-client _does not_ provide a cli. Alternatively, the realmd command has been added to SLE15sp3. You can follow the instructions [here to join using realmd](https://docs.microsoft.com/en-us/azure/active-directory-domain-services/join-rhel-linux-vm#join-vm-to-the-managed-domain). Realmd should also be available in openSUSE, if you're using it.

[2020-10-28 18:16] YutongTie-MSFT commented on #64973
@thuyangyu Hi Yang, I have reached out to Erika for reviewing this and it should be alive soon after that.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-10-28 18:16] #64973 closed

[2020-10-28 18:24] ChaitanyaNaykodi-MSFT commented on #65158
Hello @Kamyar5353, Thank you for reaching out. Can you please provide a link to the document referred in your question, so that I can redirect this issue to the specific team. Thank you!

[2020-10-28 18:30] GiftA-MSFT commented on #65119
@chlandsi and @trevorbye can you please review above feedback? The [Java quickstart](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/get-started-speech-to-text?tabs=script%2Cbrowser%2Cwindowsinstall&pivots=programming-language-java) suggests to review this [document ](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-select-audio-input-devices

[2020-10-28 18:32] DerekHerman-MSFT commented on #65155
@henkyfen In the REST API you can use [List Blobs](https://docs.microsoft.com/en-us/rest/api/storageservices/list-blobs) with include=versions. I am assigning this issue to the content author to consider adding a .net example for this.

[2020-10-28 18:34] matuhinal commented on #65170
Есть отзыв)Кто поможет?

[2020-10-28 18:46] joefunk opened #65173 "D"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b83e320-c9a0-204c-dca5-b0ed60ce2470
* Version Independent ID: 8862ff67-2c6e-cb8f-3f8c-2c1f51a37f68
* Content: [Migrate VMware VMs agentless Azure Migrate Server Migration - Azure Migrate](https://docs.microsoft.com/en-us/azure/migrate/tutorial-migrat

[2020-10-28 18:47] #65173 closed

[2020-10-28 18:48] bandersmsft commented on #64958
Update https://github.com/MicrosoftDocs/azure-docs-pr/pull/135764 for this issue.

[2020-10-28 18:51] joefunk opened #65174 "Azure Migrate using agentless VMWare migration still limits to only 10 machines replicated, although documentation indicates it should be 300"
When running Agentless VMWare migration through Azure Migrate, the option to choose more than 10 systems is not there.  IT limits at the 10th system as if it is performing an agent based migration.  I am certain it is agentless, no agents were deployed and only the Azure migrate appliance is in play.  Everything else is working in the Agentless mode, assessments and dependency mapping etc.  It is

[2020-10-28 18:57] emuench commented on #64877
#reassign:mingshen-ms

[2020-10-28 19:00] bandersmsft commented on #64958
@JitMcCarthy My thanks to you and your customer. We missed a step about selecting the billing scope (when multiple scopes are avail). I've updated the article to add the step. Thanks.

[2020-10-28 19:00] MarileeTurscak-MSFT commented on #65142
Thanks! This is consistent with other existing documentation as well. https://books.google.com/books?id=US9bDwAAQBAJ&printsec=frontcover&dq=inauthor:%22Yuri+Diogenes%22&hl=en&newbks=1&newbks_redir=1&sa=X&ved=2ahUKEwj7lIX--9fsAhUTGTQIHYCpDmkQ6AEwAHoECAMQAg#v=onepage&q&f=false

I made a PR to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/135769

[2020-10-28 19:00] #65142 closed

[2020-10-28 19:02] JitMcCarthy commented on #64958
Thank you so much, Bill! I’m so glad that you’re taking the feedback seriously and making changes.
I will continue to submit feedback for docs.microsoft.com pages. I’ve received quite many of those throughout the year.

Appreciate you putting the time!

Jit McCarthy | Customer Success Account Manager
Office: 425-421-3848 Mobile: 206-310-8282
Email: Jit.McCarthy@microsoft.com<mailto:Jit.McCarthy@mi

[2020-10-28 19:07] SubhashVasarapu-MSFT commented on #65157
@cherici-simone, Thanks for reaching out. We will investigate and update this thread.

[2020-10-28 19:08] chitturs opened #65175 "Clarify how CNG to CAPI conversion can be done"
RE:NTE_BAD_PROV_TYPE

It'd be very nice to add a link explaining how this conversion from CNG to CAPI can be accomplished. At minimum, we should get the user to run "certutil -store MY" (as an example) to see the current key provider for the user's certificate. This issue creates LOT OF PAIN for developers since the built-in windows tools like certmgr.msc automatically use CNG as the key provider

[2020-10-28 19:09] chirangaalwis opened #65176 "[MySQL] How to configure custom client certificates at MySQL server end"
**Description:**
Currently, the [documentation](https://docs.microsoft.com/en-us/azure/mysql/howto-configure-ssl) provides instructions for configuring SSL during MySQL server-client communication.

As per the above documentation, we can use the root CA certificate which is publicly available for the communication. But it was noticed that when we do not set the certificate, we are still able to co

[2020-10-28 19:10] aelmanaa opened #65177 "Feature not in preview anymore"
Hello,

we just received an email from AZure service updates ( Date 10/28/2020)

"General Availability: Azure Spot on Azure Kubernetes Service"

Hence, please remove mention of "public preview" from this page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fc40e8e-558d-171c-2fd9-82b67f89d221
* Version Independent ID: 9

[2020-10-28 19:16] hamzajeljeli95 commented on #65142
You are welcome.

[2020-10-28 19:18] SubhashVasarapu-MSFT commented on #65157
@cherici-simone , VPN User Name is nothing but my client cert name that got installed locally,
![image](https://user-images.githubusercontent.com/44890829/97485686-7129b880-1980-11eb-9d93-8d03e1e39ebe.png)

[2020-10-28 19:19] MarileeTurscak-MSFT commented on #65148
Thanks! I made a pull request to add this one. https://github.com/MicrosoftDocs/azure-docs-pr/pull/135774

CC @kkern it looks like there were some requests for this before as well.

[2020-10-28 19:19] #65148 closed

[2020-10-28 19:25] tfitzmac commented on #65006
@PaulVrugt - thanks for this feedback. I have submitted an update to include databases. It should get published later today.

[2020-10-28 19:25] tfitzmac commented on #65006
#please-close

[2020-10-28 19:25] #65006 closed

[2020-10-28 19:32] BharathNimmala-MSFT commented on #65173
@joefunk Not sure if this was created for testing. Please feel free to reach out on [this ](https://github.com/MicrosoftDocs/azure-docs/issues) repo if you have any feedback or queries on Azure docs.

[2020-10-28 19:32] YutongTie-MSFT commented on #65090
@yoganandmf
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-28 19:32] tonyeung opened #65179 "does not have authorization to perform action 'Microsoft.Insights/register/action' over scope"
Failed to update diagnostics for '/providers/microsoft.aadiam'.{"error":{"code":"AuthorizationFailed","message":"The client 'user@domain.com' with object id 'GUID' does not have authorization to perform action 'Microsoft.Insights/register/action' over scope '/subscriptions/GUID' or the scope is invalid. If access was recently granted, please refresh your credentials."}}.

Need to elaborate on the

[2020-10-28 19:34] MarileeTurscak-MSFT commented on #65156
I see you commented with "Conditional access." If you have any specific feedback about this article, please create a new issue detailing the feedback you would like to leave.

[2020-10-28 19:34] #65156 closed

[2020-10-28 19:40] GiftA-MSFT commented on #65135
@Makrenos what version are you using?

[2020-10-28 19:41] taromielnaz opened #65180 "Scale related resources"
Is it required to Scale related resources? Why ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44c8de6c-a71b-7c7d-69f5-b1ec446f33ff
* Version Independent ID: 85f9c74a-7039-f466-f2da-bef5eaf106a1
* Content: [Scale up features and capacities - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/manage-

[2020-10-28 19:46] Makrenos commented on #65135
Im using version 5.0.0. of azure-ai-textanalytics library.

[2020-10-28 19:51] SAIMMINHAS opened #65181 "Data not visible in the 'VM vulnerability assessment' and 'Adaptive application control' links"
Hi,

I can't see any data under the below tabs:
![image](https://user-images.githubusercontent.com/30388154/97986868-4604f600-1dd2-11eb-905b-31e9b05c684a.png)

Not sure what I'm missing. Maybe it needs more time for the data.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25f0758b-8274-d2b5-4702-2c7ca6b0b14a
* Version

[2020-10-28 19:54] chitturs opened #65182 "Clarify the example that uses certificate config"
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-service-manifest-resources#example-specifying-an-https-endpoint-for-your-service

This example needs to highlight some very key points the absence of which makes developer life very hard.

1. The SF cluster only supports certificates which have CAPI1 as the key provider. See https://docs.microsoft.com/en-us/azure/service-fabric/c

[2020-10-28 19:59] BharathNimmala-MSFT commented on #65083
@tfitzmac Thanks a lot for helping on this thread.

@mrutman Thanks again for taking time to share your feedback. Hope the information shared by @tfitzmac is helpful to clarify why the current documentation is using "az deployment group create" . Requesting you to please review the information shared and revert back if you have any queries.

Hope the above information helps. At this point it appea

[2020-10-28 19:59] #65083 closed

[2020-10-28 20:00] chitturs opened #65183 "Highlight automatic ACLing of private key instead of manual process"
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-dotnet-app-enable-https-endpoint#grant-network-service-access-to-the-certificates-private-key

This example involves too many manual steps and is error prone. Moreover, if the cert is renewed on the cluster nodes, you need to redeploy and run this code to re-ACL the private key. However, right in this example, there is a

[2020-10-28 20:00] bandersmsft commented on #64958
#please-close

[2020-10-28 20:00] #64958 closed

[2020-10-28 20:00] nickgmicrosoft commented on #64073
@luklew  and @majkelllo , please find documentation here:
[B2C MSAL sample](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FAzure-Samples%2Fms-identity-b2c-javascript-spa&data=04%7C01%7CEdwin.Gomez%40microsoft.com%7C15a16e5035604cb9345f08d87999b081%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637393048306247160%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2lu

[2020-10-28 20:01] HarmanDhunna commented on #64073
For PKCE, we follow the [OIDC spec ](https://tools.ietf.org/html/rfc7636)pretty closely. Take a peek at this [document](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow). It does cover what the query parameters are, but for generating the particular values we do not have any guide.

[2020-10-28 20:03] bandersmsft commented on #65170
@matuhinal Please let us know if something in the article is wrong.

[2020-10-28 20:19] JamesTran-MSFT commented on #65145
@pavelrozenberg
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-10-28 20:20] JamesTran-MSFT commented on #65147
@pavelrozenberg
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-10-28 20:22] gregwsynnex opened #65184 "Update ASR Documentation for the Set up the configuration server for disaster recovery of physical servers to Azure"
Need to update this documentation images. They are out of date.

Physical Server option is now under the VMWare machines to Azure section (really)?

New Image from Azure Management Portal (below)
![image](https://user-images.githubusercontent.com/29111479/97491896-2df82700-1939-11eb-8fbe-1a9552427934.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-10-28 20:33] JamesTran-MSFT commented on #65154
@cybericua
Thank you for your time and patience, I've added a PR to update the domain on step 3C.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/135789

[2020-10-28 20:33] #65154 closed

[2020-10-28 20:37] matuhinal commented on #65170
Хорошо

[2020-10-28 20:38] JamesTran-MSFT commented on #64472
@SB-o-matic
I just wanted to check in and see if you had a chance to review my previous posts with our PG team's response. Since I haven't heard from you in a few days, please let me know if you require additional assistance on this issue. Otherwise, I'll go ahead and close out this issue at the end of the day.

If you have any other questions, please let me know.
Thank you for your time and patie

[2020-10-28 21:07] NadeemAfana opened #65185 "Wrong env variable used for GO"
The following env variable did not work in my case
[code]
I get the following error
[code]
The following did the trick in addition to the one above.
[code]
I think `ld` uses `LD_LIBRARY_PATH` only for non-direct dependencies.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01b13b79-a598-c1dd-7100-1a6e4becbaae
* Version

[2020-10-28 21:13] hmizael opened #65186 "Add new register for Brazil"
Add this register for Brazil:

Regional Pair A: Brazil Southeast
Regional Pair B: Brazil South

Thx a lot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a788e4-0130-73f2-d985-6fc3aec77974
* Version Independent ID: a9f4ec3f-f0a3-b050-020b-f487c74c5179
* Content: [Ensure business continuity & disaster recovery using A

[2020-10-28 21:15] JamesTran-MSFT commented on #65167
@JustinGrote
Thank you for the feedback!

I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

![image](https://user-images.githubusercontent

[2020-10-28 21:15] #65167 closed

[2020-10-28 21:16] YutongTie-MSFT commented on #65185
@NadeemAfana
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-28 21:46] Nickomang commented on #65122
#please-close

[2020-10-28 21:46] #65122 closed

[2020-10-28 21:47] xitia commented on #65061
@JesvinJoseph, the job will register multiple same input instance depending on the query struction, for instance, the job which contains multiple projection from the same source, union, self join etc. will likely to initialize multiple input processors for the same source with each of them reading individually. in this case, registering endpoint three times is fine (if you don't mind sharing the q

[2020-10-28 21:52] artmasa opened #65189 "Is there a way to allow ARM to interact with a resource behind a private endpoint."
In the case of AppConfiguration, if I put a private endpoint in front of it I'm not be able to configure keyValues using ARM deployments. How can I add a rule that allows also access to the public IP from specific sources like ARM?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b006a616-2f2f-8ecf-8b80-fd0a3cc62090
* Ve

[2020-10-28 21:54] RyanHill-MSFT commented on #65143
@RubenDelange let's verify your app secret and SDI registration gets a bearer token by using the following command:

[code]
If it doesn't return a bearer token, try generating a new password and/or using a new/different app registration as there may have been an issue in the https://apps.dev.microsoft.com portal. If that fails, you can reach out to https://developer.microsoft.com/en-us/windows/sup

[2020-10-28 22:09] miaojiang commented on #64888
@PramodValavala-MSFT  please close this item. Adrian has reached out over email.

[2020-10-28 22:09] masnider commented on #65122
Thanks @Nickomang !

[2020-10-28 22:20] himanshusinha-msft commented on #65015
@cveld : Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific implementation  . If that's the case we request you to please post your question on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/ask.html) and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If yo

[2020-10-28 22:20] #65015 closed

[2020-10-28 22:22] Niglb opened #65190 "instantaneous hybrid Azure AD join for a federated environment"
Is there a reference link for this behavior / feature? We want to ensure the behavior we see if correct:

" instantaneous hybrid Azure AD join for a federated environment"

Does this mean if we are federated, we should see devices hybrid join without device objects explicitly synchronized?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-10-28 22:23] WinstonHoward-MSFT commented on #65175
Thanks for the issue, I've assigned this issue to the author to take a look at adding that link.

[2020-10-28 22:24] WinstonHoward-MSFT commented on #65177
Thanks for the issue, I've assigned it to the doc author to take a look.

[2020-10-28 22:26] WinstonHoward-MSFT commented on #65182
Thanks for the feedback, I've assigned this issue to the doc author to take a look at it.

[2020-10-28 22:28] WinstonHoward-MSFT commented on #65183
Thanks for the feedback, I've assigned this to the doc author to investigate the example.

[2020-10-28 23:02] tfitzmac commented on #65118
@masonwolf - I double-checked the syntax. For Windows Command Prompt or PowerShell, this syntax works:

--parameters parameter1="['value1','value2']"

For Bash, this syntax works:

--parameters parameter1='("value1", "value2")'

We'll close this item, but feel free to reopen if that is not working for you.

[2020-10-28 23:02] tfitzmac commented on #65118
#please-close

[2020-10-28 23:02] #65118 closed

[2020-10-28 23:07] MarileeTurscak-MSFT commented on #65179
@tonyeung
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-28 23:11] JnHs commented on #64584
Thanks @DarthRinzler for confirming and I'm glad it was useful. This topic isn't meant to cover the entire Batch experience of course so it's hard to always know which other areas people need info about, but I realized it was missing a "Next steps" section, which we often use to add related links. I've included a link to that topic along with some other items. Thanks again for sharing your feedbac

[2020-10-28 23:11] #64584 closed

[2020-10-28 23:32] WinstonHoward-MSFT commented on #65071
Hi @DailyTech ,

I was able to follow through this doc to RDP into a Linux VM with a IP v4 address. Can you provide more information regarding this issue? Thanks.

[2020-10-28 23:36] BharathNimmala-MSFT commented on #65140
@mafshin Thank you for your feedback, our team will look into it and get back to you at the earliest.

[2020-10-28 23:37] MarileeTurscak-MSFT commented on #65190
@Niglb
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-28 23:40] MarileeTurscak-MSFT commented on #65181
@SAIMMINHAS
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-28 23:41] WinstonHoward-MSFT commented on #65081
Hi @DavidTaig ,

After looking at this more closely it looks like your asking for a guide to be added to this Azure VM Agent doc explaining how to check the agents status. I'm going to assign this to the doc author and mark it as a doc idea accordingly. That being said if I'm misinterpreting this issue please drop a comment down below.

[2020-10-29 00:12] YutongTie-MSFT commented on #65112
![image](https://user-images.githubusercontent.com/38084098/97509874-a4e4ee00-1940-11eb-9a7a-ddd476e00b8f.png)

@dargilco Thanks for your feedback again. I will update the document as above.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-10-29 00:22] ChaitanyaNaykodi-MSFT commented on #65164
Hello @axisc, Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-10-29 00:26] #65112 closed

[2020-10-29 00:30] #64799 closed

[2020-10-29 00:35] Raymoncorrea opened #65194 "Pre-work for seamless SSO"
[Enter feedback here]
On the Pre-work for seamless SSO section, do we need to set the "Enable" parameter to True? It was not listed on the steps.

To turn on the feature on your tenant, call Enable-AzureADSSO -Enable $true.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f2a7330-82fa-9c0d-0f34-b2a99ef13c64
* Version In

[2020-10-29 00:36] TravisCragg-MSFT commented on #64830
@rvunen Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-29 00:36] #64830 closed

[2020-10-29 01:10] BharathNimmala-MSFT commented on #65033
@jslamartina Thanks again for reaching out to us. I have reached out to respective team about the typo in the config and the instructions, based on that feedback can confirm that the usage instructions are correct. it's the max percent that are removed, not the percent that's kept. Not particularly aware of Service Fabric's setting.

Hope the above information helps, once I have more clarity on th

[2020-10-29 01:12] JFolberth opened #65195 "Misinformation on what properties require delete vs update"
Currently the documentation lays out a delete is required for:

- OS type
- CPU, memory, or GPU resources
- Restart policy
- Network profile

However, when updating for Log Analytics receive the below error message when running:
`az container create --resource-group RESOURCEGROUPNAME --name CONTAINERNAME--image IMAGENAME --log-analytics-workspace WORKSPACENAME --log-analytics-workspace-key "LOGKEY

[2020-10-29 01:57] ChaitanyaNaykodi-MSFT commented on #65176
Hello @chirangaalwis,  Thank you for your feedback! We will review and update as appropriate.

[2020-10-29 02:00] ChaitanyaNaykodi-MSFT commented on #65186
Hello @hmizael,  Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-10-29 02:07] ChaitanyaNaykodi-MSFT commented on #65150
Hello @dimiboi,  Thank you for your feedback! We will review and update as appropriate.

[2020-10-29 02:10] #65163 closed

[2020-10-29 02:26] iabellom opened #65196 "The JSON DDL request failed with the following error: Failed to execute a JSON script. Error returned: This database contains features that are not supported by the current edition of the server or the compatibility level of the database."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb6c1de7-a04c-f08e-adab-4733030668a1
* Version Independent ID: d5e17386-38ff-d3de-ef43-f734bc2d4748
* Content: [Azure Analysis Services database backup and restore](https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-backup)
* C

[2020-10-29 02:36] TravisCragg-MSFT commented on #65140
@mafshin Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-10-29 02:38] dpapkin opened #65197 "Please update Brazil regional pair."
[Enter feedback here]

Please update Brazil regional pairs on https://docs.microsoft.com/en-us/azure/best-practices-availability-paired-regions#what-are-paired-regions

Currently the page has paired
Brazil South
South Central US

Brazil now has 2 regions Brazil South & Brazil Southeast

https://azure.microsoft.com/en-us/global-infrastructure/geographies/#overview

Regards,

David Papkin

---
####

[2020-10-29 02:46] TravisCragg-MSFT commented on #64798
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-29 02:46] #64798 closed

[2020-10-29 02:58] MayankBargali-MSFT commented on #65151
@wevans2019 You **cannot** have output bind an event grid trigger for the azure function that passes events in CloudEvents schema. You can refer to the [output document ](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-grid-output?tabs=csharp)for the event grid binding. In the [usage section](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-

[2020-10-29 03:11] Derek1101 commented on #64892
@hrasheed-msft  Thanks.

[2020-10-29 03:16] anastasia-ms commented on #35528
It's not advisable to use that table to do calculations for distances at zoom levels. That table is based on latitude being 0, but your latitude value is 23° 35' 39'' S. The Mercator projection stretches the pixel distance horizontally as latitude increases/decreases from 0. All the code in that document is correct. You should be using the PositionToGlobalPixel and GlobalPixelToTileXY calculations

[2020-10-29 03:24] sapientcloud commented on #60553
Any solution to this? Stuck on this while automating this.

[2020-10-29 03:49] lyrana commented on #64915
Hi @xiaoyang-connyun
Thanks for your patience. First, I will mention that once you weigh the pros and cons, if you do decide to go "narrow" you can use either Azure Stream Analytics or even an Azure function (depending on your throughput needs and architecture, etc.) egressing to an Event Hub in front of TSI in order to do your schema standardization. But, this will incur additional costs and may

[2020-10-29 03:58] SnehaAgrawal-MSFT commented on #65180
@taromielnaz Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-10-29 04:05] pisees commented on #36910
Can you monitor anything else besides IIS with Azure Monitor Application Insights Agent (aka. Status Monitor v2)?

[2020-10-29 04:10] lolodi opened #65199 "Add Powershell support"
Hello!
I'd like to know if there is way to Start/Stop a cluster using Azure Powershell.
I'd like to automate this using Azure automation but it looks like az cli is not an option there.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f07b13b8-6b8b-57f9-7fb3-361329af08be
* Version Independent ID: d3c6ae95-654f-b

[2020-10-29 04:18] HarithaMaddi-MSFT commented on #65196
@iabellom - Thanks for posting the query. We are looking into it and will get back to you soon.

[2020-10-29 04:19] HarithaMaddi-MSFT commented on #65133
@SarveshPandey - I will proceed closing this issue now. Please feel free to post for any further queries.

[2020-10-29 04:19] #65133 closed

[2020-10-29 04:32] HarithaMaddi-MSFT commented on #65196
@iabellom - I looked at previous issues from customers on similar errors. Can you please share the database details and compatibility level selected. Please retry with different compatibility level and let us know if it helps.

[2020-10-29 04:40] jwm2409 opened #65201 "Gmail accounts can't access SharePoint site"
Using the explanation on https://docs.microsoft.com/en-gb/azure/active-directory/external-identities/google-federation i have created a google federation following all required steps.

Inviting a user with Gmail email account still results in the user being prompted to logon with a Microsoft account.

Not sure it if is related, on the Google end i continue to see the message 'We are currently expe

[2020-10-29 04:57] gkarnik05 commented on #65126
@hpsin - I was referring to what was mentioned in this thread [https://docs.microsoft.com/en-us/answers/questions/140286/invalid-scope-for-grant-type-client-credentials-bu.html](url) Basically saying that for client credentials flow, only application permissions would work e.g. https://graph.microsoft.com/.default and not delegated permissions i.e. https://graph.microsoft.com/User.Read.

[2020-10-29 05:04] BharathNimmala-MSFT commented on #65165
@jtuliani Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-10-29 05:05] BharathNimmala-MSFT commented on #65166
@chuckthompsonprofisee Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-10-29 05:09] BharathNimmala-MSFT commented on #65184
@gregwsynnex Thanks a lot for bringing this to our notice, our team will further review and do the needful.

[2020-10-29 05:11] BharathNimmala-MSFT commented on #65174
@joefunk Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-10-29 05:24] DailyTech commented on #65071
Hi,It's ok now, I found I had to recreate my RDP3389 firewall rule, it was somehow "broken" in Azure,when I query the xrdp service it only shows TCP6 settings. 

[2020-10-29 05:25] DailyTech commented on #65071
Hi,
It's ok now, I found I had to recreate my RDP3389 firewall rule, it was
somehow "broken" in Azure,
when I query the xrdp service it only shows TCP6 settings.

Thanks and regards,
Tony Hall

On Thu, 29 Oct 2020 at 01:32, Winston Howard <notifications@github.com>
wrote:

[2020-10-29 05:25] kunasinh opened #65202 "Pagination in Azure Data Factory"
I'm trying to fetch data from API where the result is split over multiple pages, The response from API is something as below.

{ "story_count": 212, "next": "?page=2", "previous": null, "results": [{

I tried using the rule as QueryParameters['next'] and value as $['next'] but the copy gets in infinite loop and fetches data only from first page.
I'm stuck how to fetch data for second and many more

[2020-10-29 05:30] Svijay-msft commented on #64976
Just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue or is good to be closed.

[2020-10-29 05:31] Svijay-msft commented on #64948
Just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue or is good to be closed.

[2020-10-29 05:40] VikasPullagura-MSFT commented on #65195
@JFolberth
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-10-29 05:40] VikasPullagura-MSFT commented on #65195
@macolso
Can you please check and add your comments on this doc update request as applicable.

[2020-10-29 05:45] JayaChatterjee-MSFT commented on #65169
@rowenwu Thank you for your feedback! We will review and update as appropriate.

[2020-10-29 05:52] YutongTie-MSFT commented on #65185
@NadeemAfana Hello, I have fixed the bug and you should see the change soon. Thanks a lot.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-10-29 05:52] #65185 closed

[2020-10-29 06:02] dooriya opened #65203 "Failed to Consume API in powerapps which exported from API Management"
Hi,

By following the tutorials below, I've successfully export my APIs to the power apps environment, and I can also see the API IntelliSense from the App Studio formula bar.

![image](https://user-images.githubusercontent.com/10163840/97531193-a371ff00-19ee-11eb-832d-265160c84612.png)

But when the API is invoked, I got the following DNS error:

![image](https://user-images.githubusercontent.com

[2020-10-29 06:09] HarithaMaddi-MSFT commented on #65202
@kunasinh - Thanks for posting the issue. This forum is specifically about issues pertaining to document, can you please share specific document you are referring to and facing the challenge that would help us to investigate further.

[2020-10-29 06:12] miaojiang commented on #65203
Thanks for reporting the issue. Could you please open a support ticket?

[2020-10-29 06:36] JayaChatterjee-MSFT commented on #65189
@artmasa Thank you for the question. We will review and get back to you.

[2020-10-29 06:39] BharathNimmala-MSFT commented on #64857
@RicLund Apologies for delay in getting back to this thread. We greatly appreciate you taking time to share the feedback, I will further have a back log item and work with our respective document authoring/PG team and fix the screen shot in the document. Will keep this thread updated or attach the PR once the fix is made, so that you are aware of it.

For now we will go ahead and close this issue,

[2020-10-29 06:39] #64857 closed

[2020-10-29 06:49] kunasinh commented on #65202
@HarithaMaddi-MSFT I'm referring this document - https://docs.microsoft.com/en-us/azure/data-factory/connector-rest#pagination-support
My API Url is - https://www.XXXX.com/api/e/v1/insights?page=1&tags_id=783_23075&start_date=2020-04-09
and the response something as below and is split over multiple pages

{
    "story_count": 214,
    "next": "?page=2",
    "previous": null,
    "results": [

[2020-10-29 06:53] Anmolgan81 opened #65204 "How can we perform this using Incrementing Keys?"
How to update/delete/insert using Incrementing keys or identity column.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be702c35-c5aa-4a8e-8495-cc3fd9ff3b14
* Version Independent ID: a059a7f6-a8da-d6da-9bff-bf608c853a3b
* Content: [Incrementally copy data by - Azure Data Factory](https://docs.microsoft.com/en-us/azure/d

[2020-10-29 07:03] maotsuk opened #65205 "Need to add "az role assignment create" command to associate AppGW with ingress controller"
even completed all the procedure, we can't get the IP adress of AppGW with "kubectl get ingress". It was caused lack of Authority. the error message shows below.

-----
AGIC Identity needs atleast has 'Contributor' access to Application Gateway 'myApplicationGateway' and 'Reader' access to Application Gateway's Resource Group 'aksResourceGroup'.
" InnerError="network.ApplicationGatewaysClient#Get:

[2020-10-29 07:06] nkiest commented on #64844
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/roles-permissions-security#monitoring-within-a-secured-virtual-network
Yes. If you turn on firewall or other network access controls to the storage account, you must check "Allow trusted Microsoft Services" to allow diagnostic settings to flow.

[2020-10-29 07:15] HarithaMaddi-MSFT commented on #65204
@Anmolgan81 - Thanks for posting the query. There is upsert functionality in dataflow sink for few sources Ex: SQL that can be used to define specific key columns and update, insert, delete operations on them. Please refer to this [document ](https://docs.microsoft.com/en-us/azure/data-factory/data-flow-alter-row)for more details. If it is other than source that is compatible with upsert feature i

[2020-10-29 07:15] BharathNimmala-MSFT commented on #64844
Thanks a lot @nkiest for helping on this thread.

@haymansfield Apologies for delay in getting back to this thread. Please review the information shared by @nkiest and feel free to revert back if you have any further queries.

Hope the above information helps. At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, howev

[2020-10-29 07:15] #64844 closed

[2020-10-29 07:16] dooriya commented on #65203
Thanks @miaojiang for the reply.
Could you give me a guideline to open a support ticket?

[2020-10-29 07:44] ashutoshcipher commented on #62691
Any update on this?

[2020-10-29 07:44] lpohel commented on #20737
@krhynerson this worked for us! Thank you!

[2020-10-29 07:48] memildin commented on #64467
Hi @DeanGross, thanks for taking the time to leave feedback.

I think this is a question that belongs with the product group, not documentation. You've got three good questions and when there are answers to the first two, perhaps they'll need to be added to the docs.

I'll reassign this to the PM who owns the feature.

#reassign:MiriLandau

[2020-10-29 08:03] GitaraniSharma-MSFT commented on #65205
@maotsuk , thank you for your feedback. This request is already open and is assigned to the PG team for updating the document with the role assignments in https://github.com/MicrosoftDocs/azure-docs/issues/62764.

We have reached out to the PG to get this document updated at the earliest.

Since, this issue is already open in another post (as mentioned above), we are closing this issue for now. If

[2020-10-29 08:03] #65205 closed

[2020-10-29 08:06] vipulsparsh commented on #65194
@Raymoncorrea Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-10-29 08:13] vipulsparsh commented on #65201
@jwm2409  Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-10-29 08:31] devlinse opened #65206 "Provide alert content as exportable list (json/csv, or even a single table with a service column)"
I want to use this content internally - it would be a great timesaver if the alert content, severity etc were easily exportable.  This could be a json or csv version, but even a single table would be useful.

THanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2eb1ae9-1cfc-0dd0-a055-79ae32b62a6d
* Version Independen

[2020-10-29 08:45] JesvinJoseph commented on #65061
@xitia  Thank you very much for your prompt reply and suggestions. I can share the queries, but there are some policy restrictions in sharing the queries through a public channel. Is it possible to share this through some private channel. May be I can raise one support ticket from Stream Analytics by refering this github ticket. Will that reach you? Or is there some other way to share the query th

[2020-10-29 09:09] kummanish commented on #56534
hi @christiankuhtz i don't think it is intuitive for customers to refer to azure resource graph queries combined with the regular CLI queries. I would rather recommend to put the Azure resource graph query in the private link docs and I would like to refer it to that in the MySQL/PostgreSQL/MariaDB docs.

[2020-10-29 09:16] iabellom commented on #65196
Thanks for response. The SSAS Server (instance) AND Database SSAS (Tabular Model) : 1200 compatibility level. this error is shown when a restore of an ssas database that was backed up on the same server is done. (SQL server 2017 Enterprise Edición)

[2020-10-29 09:17] mloskot commented on #64896
Thanks for the fix in https://github.com/MicrosoftDocs/azure-docs/commit/b6ceb58b859759cb6457c5df2e5b2fc56f624677

[2020-10-29 09:25] souravmishra-msft commented on #64873
Closing this thread since received no more updates on this.

[2020-10-29 09:25] #64873 closed

[2020-10-29 09:31] HarithaMaddi-MSFT commented on #65196
@iabellom - Thanks for sharing the details. Can you please change version to 1500 and suggest if that works.

[2020-10-29 09:31] AjayKumar-MSFT commented on #65160
@MariekeDeGraaf1, Thanks for leveraging Azure docs feedback channel to raise this question and follow-up with an update. It's much appreciated. I notice that you have received a response from our PM on this question (which is the right avenue), yes please continue your conversation there. Just to highlight, this channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting

[2020-10-29 09:38] iabellom commented on #65196
this error is shown when a restore of an ssas database that was backed up on the same server is done.

[2020-10-29 09:38] #65196 closed

[2020-10-29 09:40] iabellom commented on #65196
Can I change the compatibility of a server and a database that are in production?
How can I do it? I have never changed the compatibility of an SSAS server

[2020-10-29 09:40] Subhraj07 commented on #64991
Hi @paulbouwer

Thanks for your response.

The previous steps have successfully executed. I am using the 1.7.3 istio version as suggested in the document.
Yes, Istio Operator has successfully installed. Please find the screenshot.
![Screenshot from 2020-10-29 15-05-51](https://user-images.githubusercontent.com/14942913/97551265-c43f5200-19f8-11eb-8a19-6e637ff66ec0.png)

kubectl api-versions | grep

[2020-10-29 09:42] SadiqhAhmed-MSFT commented on #64924
@kipascal Thanks once again for highlighting it. We have fixed the documentation and the changes are reflecting as expected.

![image](https://user-images.githubusercontent.com/44458118/97551460-036da300-19f9-11eb-9586-34e2144e1cc1.png)

Closing this issue for now. Please tag me in your reply if there are any further questions in this matter.

[2020-10-29 09:42] #64924 closed

[2020-10-29 09:56] AdamSharif-MSFT opened #65207 "Document mentions to not mutate the default storage class but this is now possible according to changelog"
Hello,

On this page we mention: "AKS reconciles the default storage classes and will overwrite any changes you make to those storage classes."

However, according to the changelog this is no longer correct:

https://github.com/Azure/AKS/blob/master/CHANGELOG.md#release-notes-1

"You can now mutate the AKS default storage class. See how here https://docs.microsoft.com/en-us/azure/aks/azure-disks-d

[2020-10-29 10:20] rwaal opened #65208 "Azure PowerShell example doesn't actually export Policy definition to JSON"
The [Export with Azure PowerShell](https://docs.microsoft.com/en-us/azure/governance/policy/how-to/export-resources#export-with-azure-powershell) paragraph describes how to use PowerShell to export a Policy Definition to JSON. Unlike the Azure CLI example, which provides a correct JSON representation, the PowerShell example doesn't give you any JSON. The command should be different. Something like

[2020-10-29 10:29] psmanhas commented on #65199
@lolodi Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-10-29 10:29] psmanhas commented on #65199
@palma21 Can you please check and add your comments on this doc update request as applicable

[2020-10-29 10:31] psmanhas commented on #65207
@AdamSharif-MSFT Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-10-29 10:31] psmanhas commented on #65207
@mlearned Can you please check and add your comments on this doc update request as applicable

[2020-10-29 10:33] psmanhas commented on #64985
@davo123456 Can you please check if you are facing same issue or not? In case if you are getting any error do let us know so we can help you out.

[2020-10-29 10:34] pherbel opened #65210 "Key Vault reference works without version number"
Still not correct docs:

https://github.com/MicrosoftDocs/azure-docs/issues/41917

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7feaa3d0-7233-a3cb-cb9b-a9a55b1f0d7a
* Version Independent ID: f41f9d51-52f8-1f45-1043-1344a3b74458
* Content: [Use Key Vault references - Azure App Service](https://docs.microsoft.com/en-us/

[2020-10-29 10:34] ram-msft commented on #65022
@damochiz As per the update I could see that the issue is fixed with the following command.
[code]
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-29 10:34] #65022 closed

[2020-10-29 10:41] sinujohn opened #65212 "QnA Maker - Maximum number of alternate questions per answer"
The docs say "Maximum number of alternate questions per answer: 300" but it seems like that is not a limit.
I tried adding more than 300 alternate questions (303 to be exact) and both **CreateKnowledgeBase API** and **ReplaceKnowledgeBase API** was success.
So I have following questions:
1. Is there a limit for the number of alternate questions?
2. If yes what is the actual limit?

Sample request

[2020-10-29 10:41] AdamSharif-MSFT opened #65213 "Need clarification on the following statement: "During preview, you can only add Namespace level permissions via the Azure CLI.""
Hello,

From the documentation it is not clear what is meant here:

"During preview, you can only add Namespace level permissions via the Azure CLI."

My customer observed that you can use this for allowing access for non-namespaced resources in Kubernetes i.e. notes, for kubectl get node for instance.

Please can we clarify on this document what is meant here, and if possible add an example, to p

[2020-10-29 10:49] MayankBargali-MSFT commented on #64897
@Max-Eriksson I have updated the doc and it will be published soon. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-10-29 10:50] #64897 closed

[2020-10-29 10:51] woutervanranst opened #65214 "Redo log/standby log sizes equal"
It seems that the redo log and standby redo log sizes need to be the same size. The current doc only mentioned creating the standby logs at 50MB, but the normal redo logs were created with the default size of 200MB.

We got the following warnings:
    ORA-16853: apply lag has exceeded specified threshold
    ORA-16855: transport lag has exceeded specified threshold
    ORA-16857: member disconnect

[2020-10-29 10:51] ram-msft commented on #65120
@dargilco  Thanks for the feedback. @singhsaumya Could you please help to update the [document] (https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-custom-commands-add-interaction-rules#add-confirmations-to-a-command).

![image](https://user-images.githubusercontent.com/49180516/97558334-fbfec780-1a01-11eb-9ad8-bff76513e94d.png)

[2020-10-29 10:54] MayankBargali-MSFT commented on #64963
@khairulizwar7 Just following up here to see if you can share more details on the document that you have referred to.

[2020-10-29 11:02] sorenek opened #65215 "Cannot complete the step: Start the Synchronization Service Manager (START → Synchronization Service)."
The Step: "1. Start the Synchronization Service Manager (START → Synchronization Service)." requires the AD sync service to be running, but that's the problem this page is describing: The service cannot start as the login fails!!!

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a6ac21b-3096-44b3-

[2020-10-29 11:04] bablushaikh commented on #64782
@BharathNimmala-MSFT I see the issue is closed can you please let me know why this issue is closed?

[2020-10-29 11:09] RubenDelange commented on #65143
Hi Ryan,

Thank you for your feedback!

I can get a bearer token without any problem (it's -ContentType, not -Content-Type btw) :

[code]
WNS settings in the notification hub are correct.

Next week, I'll look into this further. I'll keep you updated!

[2020-10-29 11:16] frankthing opened #65216 "azure front door managed certificates"
Hi! I can't find any information on how the Azure front door managed certificates are actually managed.
What if an azure front door managed certificated needs to be revoked, are there any process of doing this? Are there any documentation for this?

Regards,
Frank Thingelstad
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-10-29 11:24] AjayKumar-MSFT commented on #65210
@pherbel, Thanks for leveraging Azure docs feedback channel to share your valuable feedback!

As Matthew (our PM and the author of this referenced doc) mentioned in similar feedback/threads:

"I would like to note that the version requirement stands. The behavior without a version is undefined and can lead to some pretty bad edge cases. We are working on addressing this, and I hope to remove this

[2020-10-29 11:26] doctorRush opened #65217 "Values provided for authorization endpoint and token endpoint is wrong . Please"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 836ec1be-7675-d0f1-c861-0520dc3ea01e
* Version Independent ID: c6a2a6f6-57fd-20ae-36f7-b6db1987ebe5
* Content: [Request an access token - Azure Active Directory B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/access-tokens)
* Content

[2020-10-29 11:26] doctorRush opened #65218 "Values provided for authorization endpoint and token endpoint is wrong . Please Help!!"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 836ec1be-7675-d0f1-c861-0520dc3ea01e
* Version Independent ID: c6a2a6f6-57fd-20ae-36f7-b6db1987ebe5
* Content: [Request an access token - Azure Active Directory B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/access-tokens)
* Content

[2020-10-29 11:38] AnuragSharma-MSFT commented on #65079
@gdalsnes By the statement **_"This approach doesn't require any custom code or attributes for JSON conversion"_**, document says that if any date is saved in  '**_UTC date and time ISO 8601_**' format they can directly be queried using GetCurrentDateTime function and there should not be any conversion needed on JSON properties.

The code sample (**d1 = DateTime.UtcNow**) provided by you shows the

[2020-10-29 11:51] HarithaMaddi-MSFT commented on #65204
@Anmolgan81 - Please find this additional [document ](https://docs.microsoft.com/en-us/azure/data-factory/connector-azure-sql-database#upsert-data)that can referenced for upsert using copy activity. I will reach out to product team if there are any better alternatives considering performance and get back to you once I hear back from them.

[2020-10-29 11:54] craigshoemaker commented on #64969
I just accepted @ryotokuro's PR to update the casing in this area. Thanks for letting us know, @maximivanov!

#please-close

[2020-10-29 11:54] #64969 closed

[2020-10-29 12:07] jreinhardtiv4 commented on #64630
Further comment from the support engineer:

Here is the compatibility matrix for the DigiCert Global Root G2:

•	Windows XP SP3 or higher with Automatic Root Cert Update enabled (the default).
•	Firefox 32+
•	iOS 7+
•	OS X Mavericks+
•	Android SDK 5.x+
•	Java JRE 1.8.0_101+

We are working across platforms to ensure native support for the Microsoft RSA Root Certificate Authority 2017. However, as

[2020-10-29 12:11] HarithaMaddi-MSFT commented on #65196
@iabellom - Please refer this [document ](https://docs.microsoft.com/en-us/analysis-services/tabular-models/compatibility-level-for-tabular-models-in-analysis-services?view=asallproducts-allversions#:~:text=Set%20compatibility%20level,-When%20creating%20a&text=You%20can%20change%20the%20default,the%20compatibility%20level%20is%20irreversible.)to update compatibility level in Azure Analysis Service

[2020-10-29 12:13] iabellom commented on #65196
I change version 1400 in the model (SSDT SSAS Project) and show this error (try deploy): An unexpected error occurred (file 'tmtransaction.cpp', line 342, function 'TMTransaction::VerifyEditSchemaAllowed').

[2020-10-29 12:15] iabellom commented on #65196
@HarithaMaddi-MSFT
![image](https://user-images.githubusercontent.com/37197338/97572528-c7b5e780-19be-11eb-9c15-2277cc5e89ef.png)
![image](https://user-images.githubusercontent.com/37197338/97572633-f59b2c00-19be-11eb-95c1-156b132b44a9.png)

[2020-10-29 12:16] AdamSharif-MSFT opened #65221 "Clarification regarding certificate rotation"
Hello,

There are two points that need clarification here please:

1. How long is the new certificate rotated for when we execute the Azure CLI command? 2 years or 30 years?
2. Does the rotation cause the nodes to reboot?

Many thanks,
Adam

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b78509d-73eb-6c32-aee1-9b34685a

[2020-10-29 12:33] rajatbagchi opened #65222 "Concurrency setting in pipeline definition"
As per this page "schedule trigger" doesn't support concurrency but concurrency level can be set at the pipeline definition level. Is there any difference in the behavior if concurrency levels are set in different properties?
Reference - https://feedback.azure.com/forums/270578-data-factory/suggestions/37560658-schedule-trigger-add-concurrency-flag-to-prevent

---
#### Document Details

⚠ *Do not

[2020-10-29 12:34] kipascal commented on #64924
Thanks! You made my day! 😊

From: SadiqhAhmed-MSFT <notifications@github.com>
Sent: Thursday, 29 October 2020 10:42
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Pascal Kistler <Pascal.Kistler@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Switzerland Regions missing- Region Support Tab (#64924)

@kipascal<https://nam06.safelinks.pro

[2020-10-29 12:37] radumg commented on #46826
Thanks for following this up @ecfan and trying to get an answer for us, appreciate it!

As direct feedback for the product team of where we are now as customers :
- it's been 9 months since we've asked a seemingly simple question (what library & version are used)
- we've already wasted too much time trying to cater to Logic App's temperamental handling and prodding a black box due to insufficient

[2020-10-29 12:52] AC740 opened #65224 "Json Array is not ingested."
[Enter feedback here]

I made the same process like this page and it works well. However, when I use multi nodes, it doesn't work. Could you advice me why and how to fix this issue?

This works
{"TimeStamp": "1987-11-16 12:00","Value": "two array World","Source": "TestSource"}

but this doesn't work
[{"TimeStamp": "1987-11-16 12:00","Value": "two array World","Source": "TestSource"},{"TimeStamp":

[2020-10-29 12:54] DCtheGeek commented on #65208
#assign:DCtheGeek

[2020-10-29 12:54] #65224 closed

[2020-10-29 12:55] DCtheGeek commented on #65208
@rwaal Thanks for pointing this out! You are correct and I missed adding the `ConvertTo-Json` cmdlet to the pipeline.  I'll get it fixed right now.  As soon as the PR merges, this issue will automatically be closed.  Publish to live will happen at a later time. Thanks again for letting me know!

@MicrosoftDocs/azure-cxp-triage Please label 'doc-bug' and #in-progress.

[2020-10-29 13:02] #65208 closed

[2020-10-29 13:23] mail2hjain opened #65226 "License clarification"
I understand from [here](https://techcommunity.microsoft.com/t5/internet-of-things/azure-blob-storage-on-iot-edge-is-now-generally-available/ba-p/786161) that Azure Blob storage container is generally available for ‘Production’ workloads.
However while working with the ‘azure-blob-storage:1.3-nanoserver-1809' docker image, we noticed a ‘License.txt’ file (also attached here for reference) placed i

[2020-10-29 13:37] VikasPullagura-MSFT commented on #65221
@AdamSharif-MSFT
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-10-29 13:37] VikasPullagura-MSFT commented on #65221
@mlearned @zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2020-10-29 13:38] VikasPullagura-MSFT commented on #65214
@woutervanranst
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-10-29 13:38] VikasPullagura-MSFT commented on #65214
@Dbakevlar
Can you please check and add your comments on this doc update request as applicable.

[2020-10-29 13:41] VikasPullagura-MSFT commented on #65213
@AdamSharif-MSFT
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-10-29 13:41] VikasPullagura-MSFT commented on #65213
@palma21
Can you please check and add your comments on this doc update request as applicable.

[2020-10-29 13:48] wevans2019 commented on #65151
Thank you for confirming. Is it possible to directly declare this in the documentation?

[2020-10-29 13:48] #65151 closed

[2020-10-29 13:50] vipulsparsh commented on #65072
@markkuleinio  Checking this internally, will update soon

[2020-10-29 13:59] bjpohl commented on #51250
I am seeing the same issue 6 months later. Did anything ever get resolved?

[2020-10-29 14:07] InformTechPro opened #65227 "Queue Message Count metric processed only ever 12 hours."
The article https://docs.microsoft.com/en-us/azure/storage/queues/monitor-queue-storage-reference states that metrics get send to Azure Monitor every hour. The problem is that Queue Message Count metric only gets processed every 12 hours. Meaning the customer will have to wait 12 hours to see metrics in the Metrics Graph. We need to clarify that.

#### Document Details

⚠ *Do not edit this section

[2020-10-29 14:27] shortpatti commented on #65138
@Mahesh-MSFT I'm tracking down the answers to your questions.

[2020-10-29 14:34] SadiqhAhmed-MSFT commented on #65184
@Sharmistha-Rai FYI, please review this request and update as appropriate.

[2020-10-29 14:45] SadiqhAhmed-MSFT commented on #65174
@joefunk For VMware migration with agentless replication it is up to a maximum 300 VMs from a single vCenter replicating at any point of time. (the portal only lets you add 10 at a time so to get to 300 you’ll need to add them 10 by 10 – 30 times).

Hope this clarifies!

[2020-10-29 14:59] Sharmistha-Rai commented on #65184
@gregwsynnex - thanks for pointing this out. We are in the process of working on the documentation changes to bring them in sync with the updated Azure Portal look.

@rayne-wiselman is already working on it. Tagging her for visibility.

[2020-10-29 15:00] Sharmistha-Rai commented on #65184
@SadiqhAhmed-MSFT - please assign this issue to @rayne-wiselman
Thanks!

[2020-10-29 15:14] HarithaMaddi-MSFT commented on #65202
@kunasinh - Thanks for sharing the details. I am moving it to content author to review and share their thoughts.

@linda33wj - Can you please take a look and share your thoughts

[2020-10-29 15:21] iabellom commented on #65196
Please Help me again

[2020-10-29 15:33] BhargaviAnnadevara-MSFT opened #65228 "AKS deployment issue"
#### **_Quoting @bkarlen from https://github.com/MicrosoftDocs/azure-docs-cli/issues/2252#issue-729620749:_**
---

Running our AKS deployment has created dial out issues to the cluster.
Our deployment command is a:
[code]
The only solution that we've come up with is to change the agent from Linux to Windows, then back to Linux.
After doing this there is no dial timeout.

I have API server authoriz

[2020-10-29 15:35] JayaChatterjee-MSFT commented on #65197
Thank you for your feedback! We will review and update as appropriate.

[2020-10-29 15:35] pemsft opened #65229 "Deploy the template example missing parameters"
Hi,

deploy the template Powershell / CLI commands are missing parameters:
https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-specs-deploy-linked-template?tabs=azure-powershell#deploy-the-template

These are parameters in the main template: tsResourceGroup, tsName, tsVersion but values are not defined anywhere during deployment so how can the example deployment succee

[2020-10-29 15:36] xitia commented on #65061
@JesvinJoseph that would be great. Please raise a support ticket and refer it to this github ticket. I will take a look once we get it. thanks!

[2020-10-29 15:37] GitaraniSharma-MSFT commented on #64756
@manu4rhyme , the backend team has asked for some information to investigate this issue further.
Could you please send an email to azcommunity@microsoft.com with your subscription ID and timestamp details of when you tried to deploy the ARM template and faced the error? Also attach the ARM template (with parameters) for which you are facing the issue.
Please mention "ATTN gishar" in the subject fi

[2020-10-29 15:51] insanitysauce opened #65230 "Typo - repeated phrase in "Important" section after step 4"
This section repeats the phrase "To register newly created subscriptions"

 Important

The policy definition will only enable Security Center on existing subscriptions. **To register newly created subscriptions, To register newly created subscriptions**, open the compliance tab, select the relevant non-compliant subscriptions, and create a remediation task.Repeat this step when you have one or mor

[2020-10-29 15:57] Kryptoid98 commented on #46713
Hey I was wondering if  "I was missing the ARSession MonoBehaviour component in my script" could be clarified a bit. I have my own Creator.cs script that deals with all the actual set up and placement of anchors. I already have a reference to the ARSession.cs script. How do I get the monobehaviour component of ARSession in another script? Isn't that what the reference is?

[2020-10-29 15:58] mumian commented on #65095
@chuckthompsonprofisee - a fix has been deployed to westcentralus. Can you give it a try by setting the deploymentScripts resource's location to westcentralus? Let me know if the fix works for you.

[2020-10-29 15:58] JesvinJoseph commented on #65061
@xitia I have created the ticket. Its number is 120102924007477. Do you need any other details?

[2020-10-29 15:59] niall-san opened #65231 "negationConditon Potential Spelling Error"
In the example on the "Custom rules for Web Application Firewall v2 on Azure Application Gateway" page, the Negation Condition is spelt as `negationConditon` rather than `negationCondition`. I am unsure if this spelling is intended, but it may cause users who copy and paste to incorrectly implement rules if it is unintentional.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2020-10-29 16:12] shashishailaj commented on #65217
@doctorRush Thank you for pointing this out. We will review and have this rectified.

[2020-10-29 16:12] shashishailaj commented on #65218
@doctorRush thank you for your feedback . We will investigate this and update .

[2020-10-29 16:14] shashishailaj commented on #65217
@doctorRush  As this issue seems to be duplicate of #65218 , we will close this issue at this point and work on the other related issue. #65218

[2020-10-29 16:14] #65217 closed

[2020-10-29 16:16] shashishailaj commented on #65206
@devlinse Thank you for your request . We will have this reviewed and update the thread.

[2020-10-29 16:17] shashishailaj commented on #65230
@insanitysauce Thank you for catching this. We will have this reviewed and updated.

[2020-10-29 16:19] #65071 closed

[2020-10-29 16:22] shashishailaj commented on #65230
@insanitysauce A change request has been initiated and the changed will be live after review within 24-48 hours.

[2020-10-29 16:24] GiftA-MSFT commented on #64990
@saachigopal please review above feedback for doc enhancement. Thanks!

[2020-10-29 16:26] cynthn commented on #65113
@scott1138 Thanks for the feedback! We are checking with the AAD DS on availability in Central Canada. I should hear something soon :)

[2020-10-29 16:26] #65230 closed

[2020-10-29 16:29] shashishailaj commented on #65218
@doctorRush Could you please let us know which part of the document https://docs.microsoft.com/en-us/azure/active-directory-b2c/access-tokens are you referring when you say about wrong values ?

[2020-10-29 16:36] krishh309 opened #65235 "in:401"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22a4b366-3eac-83f8-05bb-1302ce5c9235
* Version Independent ID: 73a9c88b-784d-2f96-becc-14e8d751834f
* Content: [Use Azure AD in Azure Kubernetes Service - Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks/managed-aad)
* Content Sour

[2020-10-29 16:37] #65235 closed

[2020-10-29 16:42] YutongTie-MSFT commented on #65212
@sinujohn Thanks for the greedy test! I am checking internally and will get back to you soon. ^^

[2020-10-29 16:44] GiftA-MSFT commented on #65134
@aahill can you please review above doc feedback? Thanks!

[2020-10-29 16:58] BharathNimmala-MSFT commented on #65224
@AC740 Thank you for using[ the repo](https://github.com/MicrosoftDocs/azure-docs/issues) to ask your query. Not sure if your query was resolved and the issue was closed.

Please feel free to circle back if you have any further queries. Thank you

[2020-10-29 16:58] adamfoneil opened #65237 "struggling with connection strings"
[Enter feedback here]

I'm not able to get connection strings set in App Service configuration to override my local config. I have a localdb connection string in my local json configuration. This works fine when accessed in my code like this: `Configuration.GetConnectionString("Default")` When published to Azure, however, I need the app to use whatever is configured in the App Service. I've tried

[2020-10-29 17:01] JayaChatterjee-MSFT commented on #64918
@MatsAnd I tried to follow the same documentation and unable to reproduce the issue. I would request you to validate the token (https://jwt.io/) and confirm the tenant name in the policy once again. If you still encounter the issue then it must be application specific and needs dedicated troubleshooting. Hence I would request you to open a support ticket with Microsoft Support if you have a subscr

[2020-10-29 17:02] PaulTzl opened #65238 "Azure AD DS"
Hi

In the section entitled "Connect your directories" you talk about Azure AD DS. I don't get the relevance of Azure AD DS here. For example, surely this is actually about an account which accesses your on-prem AD DS server? Not Azure AD DS.

Regards

Paul

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21fa537d-81fc-c

[2020-10-29 17:14] AkioNuernberger opened #65239 "Missing Region Pair in Documentation"
The Region pair Germany West Central and Central are missing in the overview. Partners were confused by the regions missing in the overview.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a788e4-0130-73f2-d985-6fc3aec77974
* Version Independent ID: a9f4ec3f-f0a3-b050-020b-f487c74c5179
* Content

[2020-10-29 17:16] #64472 closed

[2020-10-29 17:16] MartinJaffer-MSFT commented on #65222
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-10-29 17:17] majkelllo opened #65240 "Azure AD B2C Password Reset not working after recent update"
Hi all,

Recently Microsoft has introduced breaking changes to Azure B2C Password Reset User Flow that broken my production application.  The change I mentioned is that it is now required to pass "code_challenge" in the Password Reset request. ( as described in that issue https://github.com/MicrosoftDocs/azure-docs/issues/64073#issuecomment-718175977 )

I have adapted the code to those changes so

[2020-10-29 17:17] JamesTran-MSFT commented on #65215
@sorenek
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-29 17:18] JamesTran-MSFT commented on #65238
@PaulTzl
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-29 17:18] NonlinearMusings opened #65241 "Conflicting guidance?"
STEP 1 includes bullets for adding WS1_WSAdmins to WS1_SQLAdmins and WS1_SparkAdmins.

This seems unnecessary given the matrix down in "How roles interact with Synapse Studio", where it clearly shows that Workspace Admins have complete control over everything; which aligns with my experience as a Workspace Admin.

Thus I think the last two bullets in STEP 1 are unnecessary and actually cause confu

[2020-10-29 17:19] hpsin commented on #65126
Thanks! This is already documented in the format of the scope option, as well as the place you marked it.  Were there other places you expected a warning to be present? We want to make sure that we put the information where people are looking for it :)

[2020-10-29 17:22] chuckthompsonprofisee commented on #65095
What was the fix?  What I did to get around this is run the "az login --identity" as the fist line in the script.  so are you saying that this will not be needed after your fix?

[2020-10-29 17:30] kromerm commented on #64662
#please-close

[2020-10-29 17:30] kromerm commented on #64662
#please-close

[2020-10-29 17:31] mumian commented on #65095
@chuckthompsonprofisee - that is correct.  Just run the original script in westcentralus.

[2020-10-29 17:31] HarithaMaddi-MSFT commented on #64662
@kromerm - This is closed 3days back. Please suggest if we are missing anything here.

[2020-10-29 17:35] ntachandley opened #65244 "Out of date page"
Hi there, this page is completely out of date - these panels do not look or work this way any longer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cecfbb3c-3fed-785d-7954-282046cd9089
* Version Independent ID: cfb7d8f0-e710-3ea1-e2c3-c3e0c1a18b75
* Content: [Change Azure subscription offer](https://docs.microsoft.com

[2020-10-29 17:38] adamfoneil commented on #65237
just a little more info.... When I output config data to a page to inspect all the values, I can see that the value in use is still my local value, not what I configured in App Service

![image](https://user-images.githubusercontent.com/4549398/97610980-f5655580-19eb-11eb-8a9f-a1570087bcaf.png)

[2020-10-29 17:41] xitia commented on #65061
that's it. you are good. thanks!

[2020-10-29 17:47] bandersmsft commented on #65244
@ntachandley Thanks for your feedback. I'm investigating this.
#assign:bandersmsft

[2020-10-29 17:49] ecfan commented on #46826
Hi @radmug,

The Logic Apps team responded that the current version is .NET Framework WindowsAzure.ServiceBus 5.0.2, but can be updated in the future. I've forwarded your explanation about the problem, so hopefully they can determine a solution that we can doc for other customers. I'm very sorry to hear your feedback, so I'm including a couple others for awareness. I'll be happy to close this issu

[2020-10-29 17:49] #46826 closed

[2020-10-29 18:12] ChaitanyaNaykodi-MSFT commented on #65203
Hello @dooriya, you can follow this documentation [here](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request) to raise a support request. If you do not have a support plan enabled for your subscription you can raise your question on the [Q&A platform](https://docs.microsoft.com/en-us/answers/products/azure?product=all). Thank you!

[2020-10-29 18:13] SnehaAgrawal-MSFT commented on #65046
@nelroosevelt Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-10-29 18:16] SnehaAgrawal-MSFT commented on #65180
@taromielnaz Could you please elaborate your query to help you better on this.

[2020-10-29 18:29] manu4rhyme commented on #64756
@GitaraniSharma-MSFT
Thanks, I've sent the email.

[2020-10-29 18:29] Karishma-Tiwari-MSFT commented on #65228
Thanks for the question. We are currently investigating and will update you shortly.

[2020-10-29 18:30] Karishma-Tiwari-MSFT commented on #65235
Let us know if you are seeing any issues with the document referenced.

[2020-10-29 18:34] mapoitras opened #65247 "Update page - Reserved Instances now also Apply to V3 Premium App Services Plans"
This page should be updated to reflect the latest update:

https://techcommunity.microsoft.com/t5/apps-on-azure/migrate-modernize-net-applications-with-azure/ba-p/1696499

"Starting November 1st, customers can save up to 35 percent with a 1-year commitment and up to 55 percent for a 3-year commitment, compared to pay as you go prices. We are also extending our dev/test pricing discounts to Premium

[2020-10-29 18:39] khaosdoctor commented on #51728
Taking this, I'll check our docs and update them to make sure they reflect the newest information.

[2020-10-29 18:50] SatishBoddu-MSFT commented on #65226
Hello @mail2hjain
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-29 18:58] vuqnguyen-higi commented on #61108
Is there an ETA of when Blob Index feature will be generally available?

[2020-10-29 19:11] SatishBoddu-MSFT commented on #65094
Hello @sympleconfigmgr Thanks for reaching out to us!

**Step 1:** Please follow the tutorial from here -->[Install](https://docs.microsoft.com/en-us/azure/industry/agriculture/install-azure-farmbeats#install)
![image](https://user-images.githubusercontent.com/62923178/97620923-71a56c00-19df-11eb-8908-a7c1d182d9cd.png)

**Step 2:**

Once the installation is complete, you can verify the installatio

[2020-10-29 19:15] AzureAndre opened #65249 "1000 server limit scope is unclear"
[Enter feedback here]
The document states the functionality is limited to 1000 servers.  But it does not specify the scope of that limit.  Is the 1000 server limit per migration appliance, Migrations instance, Subscription, tenant or other?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13ec1bb9-cb74-60c3-a5fd-10bda811

[2020-10-29 19:16] patrick-stephens opened #65250 "Markdown formatting of table not correct"
The table formatting here is not rendering correctly for the release calendar: https://docs.microsoft.com/en-us/azure/aks/supported-kubernetes-versions#aks-kubernetes-release-calendar

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec484163-5d73-af3a-3d7b-9e0d421d2824
* Version Independent ID: 42da7aed-a33d-e331-fb7f-4f

[2020-10-29 19:20] calloncampbell opened #65251 "Better documentation and sample for the Azure Function WarmupTrigger"
I noticed the Warmup trigger and it would be nice if there was a more complete example of initializing your resources.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8bd5164-c40a-241a-d0ea-ccce7659f9ab
* Version Independent ID: f6a565b3-c03b-12bd-4bf4-a4ca19645811
* Content: [Azure Functions warmup trigger](https://do

[2020-10-29 19:22] vinothgk commented on #30802
@benbucksch @amanmcse

is there any solution apart from this we have a client who is having Hybrid AD and the user created in cloud cannot be given access to the power bi workspace as the user will not get synced.

How do we get the access token so that we can embed the power bi report in the web app.

[2020-10-29 19:33] SubhashVasarapu-MSFT commented on #65231
@niall-san, Appreciate your feedback. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-10-29 19:33] #65231 closed

[2020-10-29 19:35] SubhashVasarapu-MSFT commented on #65157
@cherici-simone, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-10-29 19:35] #65157 closed

[2020-10-29 19:49] SubhashVasarapu-MSFT commented on #64995
@joshuafernandes, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-10-29 19:49] #64995 closed

[2020-10-29 19:51] adamfoneil commented on #65237
I ended up hacking with a [config extension method](https://github.com/adamfoneil/CloudObjects/blob/master/CloudObjects.App/Extensions/ConfigExtensions.cs#L11)

[2020-10-29 19:52] chuckthompsonprofisee opened #65253 "serviceprincipalselector customizing"
Is there a way to have this control to only allow picking of existing app registrations and not have the create new option?  Also when choosing an existing app registration, can you not have password visible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6d4e7a2-3c67-101c-98b2-afeaf203138b
* Version Independent ID: 7

[2020-10-29 19:55] MicrosoftGuyJFlo commented on #64722
Taking internal on email. #please-close

[2020-10-29 19:55] #64722 closed

[2020-10-29 19:57] logansoft-net opened #65254 "Section - Enable user delete and password update"
Enable user delete and password update
The Read and write directory data permission does NOT include the ability delete users or update user account passwords.

If your application or script needs to delete users or update their passwords, assign the User administrator role to your application:

Sign in to the Azure portal and use the Directory + Subscription filter to switch to your Azure AD B2C

[2020-10-29 20:16] astrahan87 commented on #61497
@ @TravisCragg-MSFT @Grace-MacJones-MSFT Has there been any additional info on this? I'm not sure I understand why this was closed.

I'm hitting this same issue and the circular dependency seems to make it unfeasible to create these using templates.

[2020-10-29 20:44] yunseongseo opened #65255 "'ComputeTarget.create' in sample code is failed."
The sample code in this page for creating compute, it returns error as below.

"message": "Invalid provisioning configuration, max nodes count is mandatory"

After adding max_nodes=4 to AmlCompute.provisioning_configuration function as a parameter, then it works.
It looks that max_nodes count does not have default value.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-10-29 20:48] jbloombi opened #65256 "When adding the Trigger Parameters, i ran into issue, the blog states to use 1 syntax, the screenshot says to use another syntax. Turns out the image is more accurate: SourceFolderPath --> @trigger().outputs.body.folderPath (didn't work) @triggerBody().folderPath (worked!) SourceFileName --> @trigger().outputs.body.fileName (didn't work) @triggerBody().fileName (worked!)"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7ee5166-ff40-f4ed-ce07-5312f935e388
* Version Independent ID: 68f01b43-e3b2-003b-24cb-446a08aa0c1b
* Content: [Create event-based triggers in Azure Data Factory - Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/how-to-create-e

[2020-10-29 20:54] djpmsft commented on #65256
#assign @chez-charlie

[2020-10-29 21:00] #64703 closed

[2020-10-29 21:00] btardif commented on #64661
@JasonFreeberg can you help here? you can either send a PR or send me a blurb of what you want to add for the metric description

[2020-10-29 21:11] nitinme commented on #65146
@manknewl - Thanks again for reporting the issue. The doc is now published at https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/use-active-learning#turn-on-active-learning-for-alternate-questions.

#please-close

[2020-10-29 21:12] #65146 closed

[2020-10-29 21:17] jasonshave commented on #64842
@mmacy, sounds great. Ping me internally 👍

[2020-10-29 21:20] johngallardo opened #65258 "ADT - IS_OF_MODEL() documentation is incomplete"
[Enter feedback here]
The semantics of IS_OF_MODEL() are not accurately captured in the documentation. IS_OF_MODEL() evaluates to true for either of the two cases:
1) The twin directly implements the provided model and the version number is >= the version of the model provided to IS_OF_MODEL()
2) The model implemented by the twin *extends* the provided model and the extended model version number i

[2020-10-29 21:21] mhopkins-msft commented on #63162
Hi @itahirov,

The code showing how to enable Base64 encoding and decoding works correctly in the context of this article.

The example you provided is great. However, it is most useful in the context of a trigger function. Could you please share your code with the author of the trigger document?

Thank you for your contribution!

 ~ *Mark*

#please-close

[2020-10-29 21:21] #63162 closed

[2020-10-29 21:34] mhopkins-msft commented on #63966
Hi @piyusharora1989,

Downloading specific mime types is beyond the scope of this quickstart article. That said, I think you can accomplish your task by using the [downloadToFile](https://docs.microsoft.com/javascript/api/@azure/storage-blob/blockblobclient?view=azure-node-latest#downloadToFile_string__number__number__BlobDownloadOptions_) function.

Best wishes,
 ~ *Mark*

#please-close

[2020-10-29 21:34] #63966 closed

[2020-10-29 21:54] xiaoyang-connyun commented on #64915
Hi @lyrana ,

Thanks for the example, it was clear that I could use Function to transform the wide schema to the narrow one, but I was too shortsighted and did not realize that I could let the property name (tagId) be the instance id and group them together with the hierarchy.

I think the summary here will be, to choose the wide schema or the narrow schema, it depends on the query pattern and the

[2020-10-29 21:55] BharathNimmala-MSFT commented on #65227
@InformTechPro Thank you for reaching and sharing your feedback. We will go through the ICM ticket and get more details as needed and work with respective teams to update the document as needed.

[2020-10-29 22:03] BharathNimmala-MSFT commented on #65253
@chuckthompsonprofisee Thank you for your query, assigned this issue to our document author @tfitzmac to further review and share pointers.

[2020-10-29 22:05] BharathNimmala-MSFT commented on #65229
@pemsft Thank you for bringing this to our notice, we will review and get back to you at the earliest.

[2020-10-29 22:09] ChaitanyaNaykodi-MSFT commented on #65106
Thank you @fabio770. The PR made was merged and changes will be reflected soon. I will now proceed to close this issue. Thank you once again.

[2020-10-29 22:09] #65106 closed

[2020-10-29 22:14] dazinator opened #65261 "Seperate customer specific security domain?"
Doc states:

Can you elaborate on what it means by seperate security domain? What is a security domain in this context?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 982ce790-e393-7ba1-358b-c87594899e87
* Version Independent ID: d7599c28-fc03-af2d-b588-aa86bc1f13be
* Content: [Azure Managed HSM Overview - Azure Manage

[2020-10-29 22:25] SatishBoddu-MSFT commented on #64603
@dvescovi1
Please refer to the response posted over here on [Microsoft Q&A.](https://docs.microsoft.com/answers/answers/144759/view.html)

![image](https://user-images.githubusercontent.com/62923178/97638952-e4701080-19fa-11eb-9047-ceb813f37414.png)

[2020-10-29 22:25] SatishBoddu-MSFT commented on #64603
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2020-10-29 22:25] #64603 closed

[2020-10-29 22:32] dazinator commented on #65261
Nevermind - I found https://docs.microsoft.com/en-us/azure/key-vault/managed-hsm/security-domain :-)

[2020-10-29 22:32] #65261 closed

[2020-10-29 22:35] JasonFreeberg commented on #64661
@btardif I'll queue up a PR to add a row for it

[2020-10-29 22:38] YutongTie-MSFT commented on #65255
@yunseongseo
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-29 23:01] clarenceb opened #65264 "Incorrect AZURE_RESOURCE_GROUP when using a custom ARO domain"
This step is incorrect when using a customer ARO domain:

[code]

it should be:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c0baeb2-508c-942c-f010-f3227f0eec36
* Version Independent ID: 74896c7a-5dd0-a588-0b5d-99d038e3f6ed
* Content: [Create an Azure Red Hat OpenShift 4 cluster application backup using Vele

[2020-10-29 23:01] mmacy commented on #64842
@jasonshave Excellent! Will close this and reach out.

#please-close

[2020-10-29 23:01] #64842 closed

[2020-10-29 23:03] MarileeTurscak-MSFT commented on #65190
Hi @Niglb,

Some good additional references for this are here:
https://docs.microsoft.com/en-us/azure/active-directory/devices/hybrid-azuread-join-plan
https://docs.microsoft.com/en-us/azure/active-directory/devices/concept-azure-ad-join-hybrid

If you have met the prerequisites and set up the SCP, the device can communicate with ADFS right away and AAD Connect will not need to synchronize the obj

[2020-10-29 23:03] #65190 closed

[2020-10-29 23:38] JamesTran-MSFT commented on #65254
@logansoft-net
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-29 23:40] ChaitanyaNaykodi-MSFT commented on #65216
Hello @frankthing, Thank you for your feedback! We will review and update as appropriate.

[2020-10-29 23:51] xitia commented on #65061
@JesvinJoseph thanks for the job information you provided through case 120102924007477, from the query, i confirmed that it does need to create three input streams from sensor data: one from aggrval output, the other two is because of UNION in combinedmessage step. the query looks good. please feel free to let me know if you have any other question. otherwise, we will go ahead and close the ticket

[2020-10-29 23:52] xiafu-msft opened #65265 "Is the service verions "2017-04-17" wrong?"
It looks like "2017-04-17" is not a valid service version anymore, can you please confirm this and updated the page if it's not correct?
https://docs.microsoft.com/en-us/azure/iot-edge/how-to-store-data-blob#supported-storage-operations

Thanks for your help!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07a44a28-a19c-