[2021-10-01 21:48] MonikaReddy-MSFT commented on #81817
@wcrivelini -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-10-01 21:48] #81817 closed

[2021-10-01 21:57] myles-mcleroy commented on #81681
+1 to this. I am attempting a data migration using the tutorial for the Table API using AzCopy and it does not accept the provided example format. I get the following error message:
`The syntax of the command is incorrect. Writing data to the secondary endpoint is not supported:`

[2021-10-01 22:12] MarileeTurscak-MSFT commented on #81381
The embedded sign-in experience works within an inline frame element <iframe>. From what I have gathered that is a limitation of the product right now, though I'm happy to pass your feedback along to the product team to change this.

This feature is also in preview so this might change.

If you have further questions feel free to reach out on Microsoft Q&A: https://docs.microsoft.com/answers/topic

[2021-10-01 22:12] #81381 closed

[2021-10-01 22:24] Shaun-Cox opened #81851 ""Capacity planning for migration to api" section is duplicated"
[Enter feedback here]
This section is duplicated on the page:
https://docs.microsoft.com/en-us/azure/cosmos-db/choose-api#capacity-planning-for-migration-to-api-for-mongodb-1
It also occurs a few paragraphs earliler.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13c45d52-c1bd-ea58-1930-57e7b3d7ba51
* Version Independe

[2021-10-01 22:34] zhenlan commented on #81823
@drdamour you are right. The sentinel key is not bulletproof. It helps your application to reach eventual consistency after the sentinel key is updated. Depending on how critical the issue may cause, here are a few options you may consider (you may come up with even more)
- Design your application to be tolerable for transient configuration inconsistency
- Warm-up your application before bringing

[2021-10-01 22:56] SaurabhSharma-MSFT commented on #81815
@mohsinis The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

Thanks
Saurabh

[2021-10-01 22:56] #81815 closed

[2021-10-01 23:14] vojinle commented on #81407
No updates yet?

[2021-10-01 23:15] SaurabhSharma-MSFT commented on #81825
@MustAl-Du The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2021-10-01 23:15] #81825 closed

[2021-10-01 23:15] nlfiedler opened #81852 "Clarify exactly what plan level is needed for group provisioning in Azure AD"
Using my personal account, I can do a lot of things in Azure, including manage AD users and groups. I can even set up an enterprise application and provision users to that app. But not groups. Why? I don't have the right "plan level." No idea what that means. No idea how I get the right plan level. Some clarity around that would be terrific, even if it ends in the disappointing realization that th

[2021-10-01 23:48] KranthiPakala-MSFT commented on #81848
Hi @wpcarroll,
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2021-10-01 23:48] KranthiPakala-MSFT commented on #81848
@leifbro , @mssaperla - Could you please review the above feedback? - Thank you

[2021-10-02 00:59] stewartadam opened #81853 "src/dst format is confusing"
In the NSG rule listing for stv1 and stv2, the table uses a "Source / Destination" format which is unintuitive and confusing to parse. It's already a HTML table, it would make much more sense for those two columns to be distinct (which would also match the data entry required when creating a NSG rule).
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-10-02 02:04] srazasyed opened #81854 "May want to add one additional instruction in step 3"
You may want to add the following instruction in `Step 3` of [Create data exploration database](https://docs.microsoft.com/en-us/azure/synapse-analytics/get-started-analyze-sql-on-demand#create-data-exploration-database) section. Otherwise; second query of the same section will fail. I know an SQL expert would know that the first query of the section need to run in master database but a beginner m

[2021-10-02 02:23] BhargaviAnnadevara-MSFT commented on #81630
@Abhishekchauhan23 Our Product group recommends that customers use the [ACS UI SDK](https://docs.microsoft.com/en-us/azure/communication-services/concepts/ui-library/ui-library-overview) and [Teams Interop](https://docs.microsoft.com/en-us/azure/communication-services/concepts/ui-library/ui-library-use-cases#teams-interop-use-case) to join Teams meetings.

Hence, the quickstart in question has bee

[2021-10-02 02:23] #81630 closed

[2021-10-02 02:31] paikend commented on #81836
https://github.com/MicrosoftDocs/azure-docs-pr/pull/174327 < this PR was not found

https://docs.microsoft.com/en-us/azure/key-vault/secrets/quick-create-python#create-the-sample-code
## create-the-sample-code

This code import cmd, but cmd was not called

[2021-10-02 03:39] MonikaReddy-MSFT commented on #81824
@mdrakiburrahman - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-10-02 03:39] MonikaReddy-MSFT commented on #81826
@ajkimberley - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-10-02 03:42] MonikaReddy-MSFT commented on #81831
@MisinformedDNA  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-10-02 03:44] MonikaReddy-MSFT commented on #81832
@MustAl-Du - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-10-02 03:44] #81832 closed

[2021-10-02 03:45] MonikaReddy-MSFT commented on #81833
@originalnetadmin - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-10-02 03:47] MonikaReddy-MSFT commented on #81834
@johncrim -  Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-10-02 03:48] MonikaReddy-MSFT commented on #81837
@Cisien - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-10-02 03:50] MonikaReddy-MSFT commented on #81845
@RBVieira -  Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-10-02 03:51] MonikaReddy-MSFT commented on #81849
@jjadta - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-10-02 03:52] MonikaReddy-MSFT commented on #81850
@jjcv2304 - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-10-02 03:53] MonikaReddy-MSFT commented on #81851
@Shaun-Cox - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-10-02 03:57] MonikaReddy-MSFT commented on #81852
@nlfiedler - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-10-02 04:00] MonikaReddy-MSFT commented on #81853
@stewartadam - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-10-02 04:03] MonikaReddy-MSFT commented on #81854
@saveenr -  Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-10-02 05:06] gopala-unravel commented on #80900
Thanks for your response, @MartinJaffer-MSFT.

For #1, I later figured out that this can be done via Databricks SCIM API - /api/2.0/preview/scim/v2/ServicePrincipals. But following your comment today, I can now see adding service principal is an option under "Groups" (not Users). This is a much better option!

For #2, I think it is a glitch. As per the documentation, if a service principal is an O

[2021-10-02 08:50] di97mni opened #81855 "ARM Template howto"
Please add documentation on how to setup the diagnostic with ARM templates

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4f81d07-fd9a-c911-b9b7-c2aa3c298f5b
* Version Independent ID: 96a5f6c6-e7eb-57a3-8e64-c22f01e50a0b
* Content: [Configure alerts on diagnostic resource log events - Azure VPN Gateway](https://docs.m

[2021-10-02 10:04] pwlodek opened #81856 "Missing Azure Firewall SNAT option in the options for Azure outbound connections"
[Enter feedback here]

I think the list fails to mention the option to have Azure Firewall used for SNAT. Meaning that you can define custom route table for a subnet for 0.0.0.0/0 that goes out through the firewall.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a96406ce-2ffc-cdb3-1234-5154ccd5cc76
* Version Independent

[2021-10-02 11:15] PramodValavala-MSFT commented on #81855
@di97mni Thanks for the feedback! We will review and update accordingly.

[2021-10-02 11:16] PramodValavala-MSFT commented on #81856
@pwlodek Thanks for the question! We will review and get back to you!

[2021-10-02 11:31] vlad610 opened #81857 "Explicitly mention that when last API version is deleted, version set is also removed."
When deleting the last API/version from a version set, the version set itself is being removed. This was unexpected and caused issues with the Azure plugin from Terraform, that is deleting the current version before adding a new one and the version set being removed causes issues. If this were to be documented, it would help the implementers of the plug-in to update it and prevent further issues.

[2021-10-02 13:11] SwagataChaudhuri opened #81858 "Error creating multiple ingress controller with helm in the same AKS cluster"
# Error creating multiple ingress controller with helm in the same AKS cluster

## Steps to reproduce the error

1. Create the first ingress controller using the command as given in ethe tutorial

[code]

2. Create the second ingress controller with a different name and namespace

[code]

   Error:

[code]

3. Create the second ingress controller with a different name, namespace and class name

[c

[2021-10-02 13:45] MonikaReddy-MSFT commented on #81858
@SwagataChaudhuri - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-10-02 13:57] MonikaReddy-MSFT commented on #81828
@rb-cloud-guru - Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-10-02 13:57] MonikaReddy-MSFT commented on #81690
@compunited - Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2021-10-02 13:57] #81690 closed

[2021-10-02 15:40] bdcoder2 opened #81859 "Parameterized queries - can GeoJson object values be used? ..."
Consider the following:

Given the following document structure:

[code]

Build a query without parameters ...

[code]

When the above query is executed, the query works as expected:

[code]

Now build the SAME query using a parameter ...

[code]
When the above query is executed, we get a different (incorrect) result ...

[code]

**Parameterized queries do not seem to work with GeoJson values / ob

[2021-10-02 16:55] rameshkanjinghat opened #81860 "ARM template vs Blueprints"
The documentation, https://docs.microsoft.com/en-us/azure/governance/blueprints/overview#how-its-different-from-azure-policy says that ARM templates doesn't exist natively in Azure, the exact statement "However, an ARM template is a document that doesn't exist natively in Azure - each is stored either locally or in source control. " But these templates can be stored in Azure as Templates. Either w

[2021-10-02 17:48] rsocol opened #81862 "DNN listeners are now available also in earlier versions of SQL Server"
The article currently says "The DNN listener feature is currently only available starting with SQL Server 2019 CU8 on Windows Server 2016 and later." Similar statements are also mentioned in the "Prerequisites" and "Limitations" sections.

However, the article https://support.microsoft.com/en-gb/topic/kb4578579-improvement-availability-group-listener-without-the-load-balancer-in-sql-server-2016-20

[2021-10-02 18:06] SaurabhSharma-MSFT commented on #81857
@vlad610 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-10-02 18:07] SaurabhSharma-MSFT commented on #81859
@mattetti Thanks for your feedback! We will investigate and update as appropriate.

[2021-10-02 19:28] KrishnaG-MSFT commented on #81860
@rameshkanjinghat Thanks for the question! We are investigating and will update you shortly.

[2021-10-02 20:12] Master-Oliveira opened #81864 "No examples of using this functionality with the SDK."
I've tried to send a string as a payload and I was getting always a "deserializing error" with the .net SDK and nodejs SDK. After opening the SDK i realized they are expecting an object. After a few tries i figured out that if i send an json JObject it works. Can we add examples on how to use this functionality on the SDK examples, and on the Azure Function webhook example? ;)

---
#### Document D

[2021-10-02 20:13] Master-Oliveira opened #81865 "Add example of sending a custom payload that serializes with the SDK's"
I've tried to send a string as a payload and I was getting always a "deserializing error" with the .net SDK and nodejs SDK. After opening the SDK i realized they are expecting an object. After a few tries i figured out that if i send an json JObject it works. Can we add examples on how to use this functionality on the SDK examples, and on the Azure Function webhook example? ;)

---
#### Document D

[2021-10-02 23:23] MonikaReddy-MSFT commented on #81862
@rsocol -  Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-10-03 00:40] ndelib opened #81866 "The terms "security world" and "cryptographic boundary" are used but not defined or explained"
The terms "security world" and "cryptographic boundary" are used in this article but not defined or explained.

It's not clear to me precisely what these terms mean, which is a problem since the article revolves around them.

Would be great if these terms were explicitly defined or the underlying concepts were articulated clearly (without jargon).

---
#### Document Details

⚠ *Do not edit this se

[2021-10-03 03:01] ram-msft commented on #81864
@Master-Oliveira Thanks for the question. We are investigating the issue and will update you shortly.

[2021-10-03 03:03] ram-msft commented on #81865
@Master-Oliveira Thanks, it's duplicate of the following  issue https://github.com/MicrosoftDocs/azure-docs/issues/81864.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-10-03 03:03] #81865 closed

[2021-10-03 03:06] ram-msft commented on #81866
@ndelib Thanks for the feedback! We will review and update accordingly.

[2021-10-03 05:17] BhargaviAnnadevara-MSFT commented on #81742
@rwike77 Thanks for providing additional details.
@Tyrranny Hope the above inputs help. Are there any further questions here?

[2021-10-03 05:57] GuyPaddock commented on #62877
It's definitely time-dependent. It seems to work if I try it hours or a day after the app has been created.

[2021-10-03 07:04] SwagataChaudhuri commented on #81858
@MonikaReddy-MSFT - Thanks for the info. This is the documentation link I was referring to:
https://docs.microsoft.com/en-us/azure/aks/ingress-basic
I understand the concern you mentioned but since following this documentation I am unable to create multiple Ingress controllers hence requesting any workaround or suggestion for the same.
Any help / pointers will be really helpful !!

[2021-10-03 10:46] Lelelo1 commented on #24518
Say I want to give someone doing internship access to development azure resources. I want the intern to access the development resource group.
From the staging slot [docs](url):

my-demo-app // production
my-demo-app-staging // added and ends up in the same resource group as 'my-demo-app'

It seems Azure don't explain how resources in *development-resource-group* can update the resources in *produ

[2021-10-03 14:08] osalzberg commented on #81529
Hi @TheCloudScout, thank you for letting me know.
I have updated the script accordingly:)

let me know if there is anything else I can help.

Oren Salzberg
Program Manager- Azure Log Analytics - Microsoft

[2021-10-03 14:17] Kazumz opened #81868 "Microsoft.Azure.Cosmos.Table.TableQuery does not support OData filters"
I've recently implemented CosmosDB using Table API in to my website and am using the supplied SDK to generate Table Queries. The documentation here details that this SDK and API uses the OData standard.

https://docs.microsoft.com/en-us/azure/cosmos-db/table/tutorial-query-table
https://docs.microsoft.com/en-us/rest/api/storageservices/querying-tables-and-entities#supported-query-options

The docu

[2021-10-03 14:24] PlanetWilson opened #81869 "Protocols and ports are the wrong way round in the first table"
Protocols and ports are the wrong way round in the first table

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e20ba5e-787f-63d2-b6e2-822b14788ad1
* Version Independent ID: 5a0ce135-f88d-a490-48bb-356147c8a76e
* Content: [Use Azure Firewall to protect Azure Virtual Desktop](https://docs.microsoft.com/en-us/azure/firewa

[2021-10-03 14:47] SubhashVasarapu-MSFT commented on #81869
@PlanetWilson, Thanks for reaching out. We will investigate and update this thread.

[2021-10-03 15:29] wintech12 opened #81870 "wrong steps in "View per-user device sync status". Missing steps between the step #2 to step #4; otherwise, you won't be given the window showed on step#4."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b73959c0-20da-3945-964a-54513d561264
* Version Independent ID: 65862bfb-122b-d9b3-6e61-894aa8dd6cfc
* Content: [Enable Enterprise State Roaming in Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/devices/enterprise-state

[2021-10-03 17:27] batamig commented on #81707
thanks @SvenAelterman - this is great feedback and will help determine how we shape the docs moving forward.
I'm going to close this issue for now, but feel free to continue commenting here, or contact me offline.
We'd be glad to hear from you again with any input you have on the docs!
#please-close

[2021-10-03 17:27] #81707 closed

[2021-10-03 17:43] jasonhorner opened #81871 "Broken FAQ Anchor link from SQL Insights"
There is a broken anchor link into the SQL Analytics preview section

![image](https://user-images.githubusercontent.com/7981510/135765279-804e05e9-5ed7-41ae-8e8c-2153bd5f8242.png)

the FAQ points to: https://docs.microsoft.com/en-us/azure/azure-monitor/faq#sql-insights-preview

However the correct anchor link is: https://docs.microsoft.com/en-us/azure/azure-monitor/faq#sql-insights-(preview)

I w

[2021-10-03 18:02] KrishnaG-MSFT commented on #81871
@jasonhorner Thanks for the question! We are investigating and will update you shortly.

[2021-10-03 19:03] nishants opened #81872 "Session stop event"
In section [Continuous recognition](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/get-started-speech-to-text?tabs=windowsinstall&pivots=programming-language-nodejs#continuous-recognition),

// recognizer.StopContinuousRecognitionAsync();

should be
// recognizer.stopContinuousRecognitionAsync();

Also, there is no explanation of the concept of the session with the follow

[2021-10-03 19:04] nishants commented on #81872
Currently, I am using the following snippet to stop the recognition after a timeout :
[code]

Is this correct?

[2021-10-03 19:48] Comi87 opened #81874 "xxx"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a592ccdb-4c92-7da9-aeb3-e93cf8cb3512
* Version Independent ID: 5ac6b940-88e9-fd5b-98fa-f46eb2cc9758
* Content: [What is monitored by Azure Monitor - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/monitor-reference)
* Content Sourc

[2021-10-03 20:53] MonikaReddy-MSFT commented on #81874
Thank you for your question.
 Can you please share with us more info on the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-10-03 20:54] MonikaReddy-MSFT commented on #81868
@Kazumz -  Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-10-03 20:59] MonikaReddy-MSFT commented on #81872
@nishants - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-10-03 21:03] mjurasz opened #81875 "SQL connections string / VS 2019 - Solution explorer / Publish / Edit app settings"
Is this article up to date? I have no options in my Visual Studio 2019 (Actions / Edit app (....)).
Any advice?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4785005-a130-a392-7b4a-c8c6d36bad37
* Version Independent ID: 6beb58e0-167c-c08d-46ff-13f72ddbaf31
* Content: [Use Azure Functions to perform a database clean up

[2021-10-03 23:16] SaurabhSharma-MSFT commented on #81870
@wintech12 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-10-03 23:17] SaurabhSharma-MSFT commented on #81875
@mjurasz Thanks for your feedback! We will investigate and update as appropriate.

[2021-10-03 23:24] danieldjewell commented on #14254
I understand that SQL Server itself is not supported on ARM. That's OK.

The bigger issue is the client utilities (as noted previously the `mssql-tools` and especially the `msodbcsql17` packages)... There *are* currently arm64 builds of the client utilities for MacOS... (so to say "it's not supported" isn't 100% accurate)

I think what we're really talking about is an arm/arm64 binary build of the

[2021-10-04 00:12] BruceHaley opened #81876 "Dead link on this page"
"1. Create an Azure Bot Channels Registration" has a link icon next to it.

The URL for that icon: https://ms.portal.azure.com/#create/Microsoft.BotServiceConnectivityGalleryPackage

...takes me to a page that says:

"Oops!
Could not create the marketplace item
This marketplace item is not available."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-10-04 00:19] A30005881 opened #81877 "ConvertTimeZone zone's document is incorrect"
In sections which allow you to convert, or define a time zone (i.e. [ConvertTimeZone](https://docs.microsoft.com/en-us/azure/data-factory/control-flow-expression-language-functions#convertTimeZone)), it links to the [Microsoft Time Zone List Index Values](https://docs.microsoft.com/en-us/previous-versions/windows/embedded/ms912391(v=winembedded.11)).

Firstly, the linked page is no longer supporte

[2021-10-04 01:21] wsmelton commented on #81875
The Azure tools in VS have updated and the steps in this article are wrong, the screenshots are no longer accurate.

[2021-10-04 01:51] MonikaReddy-MSFT commented on #81529
@osalzberg - Thanks for providing your insights and raising the PR.
@thecloudscout - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-10-04 01:51] #81529 closed

[2021-10-04 03:00] ram-msft commented on #81692
@gary918 Thanks, Can you please confirm is it issue with the CLI.

[2021-10-04 03:01] ram-msft commented on #81692
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-10-04 03:11] ram-msft commented on #81733
@nssidhu Thanks, Please install the [Speech SDK for JavaScript](https://www.npmjs.com/package/microsoft-cognitiveservices-speech-sdk). We are able to execute successfully without the issue mentioned.

https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/get-started-text-to-speech?tabs=require%2Cwindowsinstall&pivots=programming-language-javascript#install-the-speech-sdk

[2021-10-04 03:11] ram-msft commented on #81733
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-10-04 03:11] #81733 closed

[2021-10-04 03:24] ram-msft commented on #81876
@BruceHaley Thanks for the question. We are investigating the issue and will update you shortly.

[2021-10-04 03:39] sharanalpha opened #81878 "Cannot open failover group"
Unable to open fail over group

source Error - an unhandled exception was generated during the executions of the current web request.

Stack Trace -
Sqlexception (0x80131904) : cannot open fail over group sql-fg.database.win.net requested by login. Login failed.

[2021-10-04 03:40] thoward-rh opened #81879 "Version of CLI requested looks wrong."
The document recommends that we use AZ cli 2.6.0 but the latest version is only 2.28.0

"If you choose to install and use the CLI locally, this tutorial requires that you are running the Azure CLI version 2.6.0 or later. Run az --version to find the version. If you need to install or upgrade, see Install Azure CLI."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2021-10-04 03:48] 100kimch commented on #81879
In addition to this, the contents below have wrong version information too:
[articles/azure-functions/create-first-function-cli-python.md](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-functions/create-first-function-cli-python.md)

Both the links of Azure CLI & Azure Powershell are invalid.

[2021-10-04 04:03] michaelcwang2 opened #81880 "How "development-output" file being available if Azure resource setup manually?"
It seems not clear if such file would be available if Azure resource setup in portal.  <br>"In addition to the resources mentioned above, _following items are also created in the 'deployment-output' file share in your storage account,_ for use in quickstarts and tutorials:" <br> So if Azure resource manually, this section is ignored but creating individual files under each folder. Please comment.

[2021-10-04 04:20] CHEEKATLAPRADEEP-MSFT commented on #81877
@A30005881  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-10-04 04:33] v-hagamp commented on #79883
The issue got resolved.
#please-close

[2021-10-04 04:33] #79883 closed

[2021-10-04 04:35] v-hagamp commented on #69421
The issue got resolved as suggested.
#please-close

[2021-10-04 04:35] #69421 closed

[2021-10-04 04:36] v-hagamp commented on #69420
The document was updated as suggested in the issue.
#please-close

[2021-10-04 04:36] #69420 closed

[2021-10-04 05:22] nikeshv opened #81881 "Which ports to be opened to send message to IoT hub in Visual studio Code"
[Enter feedback here]
I have 2 desktop machines, both are behind firewall and uses same proxy server for internet access. But from one machine, I am able to send messages to IoT hub using VS code(send D2C message feature), but from the other one I am not able to. Kindly confirm which port VS code uses for this communication.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2021-10-04 05:27] AnuragSharma-MSFT commented on #81681
@xiaolangxyz @myles-mcleroy This is being assigned to the content author to evaluate and update as appropriate.

[2021-10-04 05:46] AnuragSharma-MSFT commented on #81760
@RHooijer I observed the same, it could be same. However I am assigning this to content author for further review.

[2021-10-04 06:02] BhargaviAnnadevara-MSFT commented on #81742
@Tyrranny We will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-10-04 06:02] #81742 closed

[2021-10-04 06:03] AshokPeddakotla-MSFT commented on #81881
[@nikeshv](https://github.com/nikeshv) Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-10-04 06:06] tjxxxxx opened #81882 "Regrading supported Version OS version on Gen2."
[Enter feedback here]

Hi Team,

In the document, we found it mentioned GEN2 supported SUSE Linux SAP15 SP1. But when I check the supported image on the Azure market place. I found 'SUSE SAP 15' also supported gen2.

Could you please have a look about it?

Thanks.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 940f5217-

[2021-10-04 06:19] BhargaviAnnadevara-MSFT commented on #81779
@guyrleech Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review. The changes should reflect post the merge.

[2021-10-04 06:24] psmanhas commented on #81882
@tjxxxxx Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-10-04 06:24] psmanhas commented on #81882
@ju-shim Can you please check and add your comments on this doc update request as applicable

[2021-10-04 06:26] RohitMungi-MSFT commented on #81878
@sharanalpha Could you please let us know any document link that you are following before encountering this issue?
This repo is primarily used to support document bugs on Azure, if this is a technical issue then you could post the issue on [MS Q&A](https://docs.microsoft.com/en-us/answers/index.html) by tagging the right Azure service tag.

[2021-10-04 06:30] tjxxxxx commented on #81882
eg：
![image](https://user-images.githubusercontent.com/20237884/135803526-f758ed41-1f54-4973-a1f9-57d54d3a8291.png)
![image](https://user-images.githubusercontent.com/20237884/135803568-602a5ca8-1c7a-443c-82df-5ec096a263a9.png)

Could you please kindly update the document? Otherwise, end customer may have some confusion on the gen2 supported version.

[2021-10-04 06:33] DavidTrigano commented on #81760
Hello @RHooijer,

Thank you for your feedback. We will update the documentation accordingly. Change should be effective in 24 hours.

@AnuragSharma-MSFT you can go ahead and close this ticket

[2021-10-04 06:47] RohitMungi-MSFT commented on #81879
@thoward-rh Thanks for posting the issue, I have assigned the issue to the content author to review the document and update as needed.

[2021-10-04 06:50] SadiqhAhmed-MSFT commented on #81758
@guyrleech I have submitted the PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/174227 to remove the extra “ and it’s in review now. Changes should go live once it is approved by the content owner.

[2021-10-04 06:51] SadiqhAhmed-MSFT commented on #81759
@guyrleech You can either choose to enter the subscription value (which we have grey’ed out on doc team feedback to XXXXX) or define it early on using $subscription.

We have added $Subid in couple of cmds where we need the source resource ID to be passed (if customer choses to do so). This is to ensure you get the entire ID and not copy just the subscription value XXXX.

These are just examples o

[2021-10-04 06:52] SadiqhAhmed-MSFT commented on #81712
@ashkickindevelopment We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2021-10-04 06:52] #81712 closed

[2021-10-04 06:53] AnuragSharma-MSFT commented on #81760
Thanks @DavidTrigano, closing this.

[2021-10-04 06:54] #81760 closed

[2021-10-04 06:55] sajeetharan commented on #80647
@gmantri Yes you are correct, Nodejs SDK supports Continuation token.  Will update the documentation and samples accordingly.
Thanks for the feedback

[2021-10-04 06:56] michaelcwang2 opened #81884 "c2d-console-app.csproj is not available"
It seems file in Subject is no longer [there.](https://github.com/Azure-Samples/video-analyzer-iot-edge-python)  <br>And not seen anywhere in that repository. <br> Please comment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19b515e2-02f2-5ee2-36e4-1974eb15c046
* Version Independent ID: e7d17bcd-246a-c81f-2aa3-ebb620

[2021-10-04 07:30] tjxxxxx opened #81885 "SUSE for SAP15 without SAP1 also supported M series."
[Enter feedback here]

HI All,

In the document, it mentioned M 208 series supported with the OS version '
![image](https://user-images.githubusercontent.com/20237884/135810456-d534b82b-345e-43c1-8c77-033fded8c338.png)
'
I tired to Create VM with 'SUSE Linux Server for SAP15' and it also succeed. Could you please help to update the document as it may have some confuse if we only mention 'SUSE SAP

[2021-10-04 07:33] HarshitaSingh-MSFT commented on #81866
@ndelib, as mentioned in the document,

The term [cryptographic boundary](https://itlaw.wikia.org/wiki/Cryptographic_boundary) is an official term that means:

Let me know if this answers your query.

[2021-10-04 07:35] lukipro opened #81886 "When is support for GroupBy expected?"
The Python SDK for CosmosDB seems to be the only one missing support for group-by querries.
NodeJS, .NET already have than implemented.

Can we have a date on when the Python SDK will support it? It says somewhere in the docs that it's on the roadmap for 2021, but that is kind of vague.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2021-10-04 07:40] ggailey777 commented on #81875
@mjurasz good catch! Thanks for reporting this.

[2021-10-04 07:48] ggailey777 commented on #81875
#assign:ggailey777

[2021-10-04 07:54] fhzhang opened #81887 "Do we have plan to support OpenAPI for other languages(Java, Python)?"
We have following statement in the documentation.

Do we have plan to support OpenAPI for other languages(Java, Python)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdb35bea-163c-aed4-abf1-e0e99224d19f
* Version Independent ID: 345a75d5-d038-e280-a0ae-e7ae3ff499d8
* Content: [Create serverless APIs in Visual Studio

[2021-10-04 08:04] KrishnaG-MSFT commented on #81746
@Honglin6270-Li Was this issue closed because you found the answer to the question raised? If that's not the case then please let us know so we can try to solve this issue.

[2021-10-04 08:18] bNobo commented on #81763
Link to https://github.com/MicrosoftDocs/azure-docs-pr/pull/174121 does not work: error 404.

Link to https://github.com/MicrosoftDocs/azure-docs-pr/pull/174121 does not work: error 404.

[2021-10-04 08:27] #81875 closed

[2021-10-04 08:33] TheEvilDoctor opened #81889 "Clarity on "Add AI" menu location"
This line:
Select Add Application Insights Telemetry > Application Insights Sdk (local) > Next > Finish > Close.
Should read:
Select Project > Add Application Insights Telemetry > Application Insights Sdk (local) > Next > Finish > Close.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 225a3185-819c-9723-70cb-78cd95c9506

[2021-10-04 08:34] tim-krehan opened #81890 "Typo"
Hi Together :)

There seems to be a typo at line 56:
https://github.com/MicrosoftDocs/azure-docs/blob/f3f2ec7793ebeee19bd9ffc3004725fb33eb4b3f/articles/governance/policy/how-to/guest-configuration-create-test.md#L56

Change from ` Get-GuestConfigurationPacakgeComplianceStatus ` to ` Get-GuestConfigurationPackageComplianceStatus `.
(Look at the `a`)

---
#### Document Details

⚠ *Do not edit this s

[2021-10-04 08:38] VikasPullagura-MSFT commented on #81885
@tjxxxxx
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-10-04 08:38] VikasPullagura-MSFT commented on #81885
@ayshakeen
Can you please check and add your comments on this doc update request as applicable.

[2021-10-04 08:45] Honglin6270-Li commented on #81746
This seems a wrong operation, I have another thread opened for same issue, would you please check and answer? Thanks a lot. :)
Issue Link: https://github.com/MicrosoftDocs/azure-docs/issues/81747

[2021-10-04 09:01] VikasPullagura-MSFT commented on #81890
@tim-krehan Thanks for pointing this out. The document is updated and changes will go live soon.

[2021-10-04 09:05] #81890 closed

[2021-10-04 09:14] KrishnaG-MSFT commented on #81889
@TheEvilDoctor Thanks for the question! We are investigating and will update you shortly.

[2021-10-04 09:14] memildin commented on #81620
Hi @huleboer, thanks for the feedback and for taking the time to help us improve the docs.

The supported versions come from Qualys' Cloud Agent Getting Started document.
They **do not** list RHEL 8.4 yet, so we don't either.
You can see the document here: https://www.qualys.com/docs/qualys-cloud-agent-getting-started-guide.pdf

If you see inconsistencies between that PDF and this page of the Micr

[2021-10-04 09:14] #81620 closed

[2021-10-04 09:23] j-mantu commented on #81766
Hi @octavianbalaban. The cloud instance id is correctly documented.
"common" would be the tenant rather than the cloud instance id.
The description of the tenant is given directly below under the section "Enter_the_Tenant_Info_Here"

[2021-10-04 09:27] #81766 closed

[2021-10-04 10:00] AnuragSharma-MSFT commented on #81886
@lukipro Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-10-04 10:03] fleckert commented on #81207
@DCtheGeek Hi David, thanks for providing the fix.

[2021-10-04 10:14] jayendranarumugam opened #81891 "How Azure Event Hub Subscription access the deadletter container?"
How the azure event hub sub can access to deadletter container ?

Because I never gave any explicit permissions like storage account contributor or I never gave any access key while creating the dead-letter in the eventgrid sub. In such case how come the event hub sub can able to create the blobs inside the container which we choose ?

reference: https://stackoverflow.com/questions/69431252/how-az

[2021-10-04 10:17] dgpoulet opened #81892 "Improve Clarity of Documentation"
Could the documentation on this section be improved:

"Throughput Control Config"

There is a one line summary of each config, but it doesn't explain the context or any detail of how it's used. What is the purpose of this group of settings? Presumably to control the amount of throughput being requested of the backend? What is a throughput control group? What are the settings given in, RUs (at a gu

[2021-10-04 10:26] nkk1 opened #81893 "can we document the behaviour of having multiple SNAT IPs and when 64k ports exhaust a SNAT IP"
We are having AKS clusters and recently hit the SNAT Port exhausting issue. As remediation for this issue, we added more SNAT IPs in the LB but they are never used. From the Azure Support, we got to know that only when the First SNAT IP is exhausted is the second one is used. It would be really helpful if its documented as we allocate IPs and don't see it being used

Please also document when 1st

[2021-10-04 10:31] AshokPeddakotla-MSFT commented on #81670
@ms-vincent We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-10-04 10:31] #81670 closed

[2021-10-04 10:38] nkk1 opened #81894 "SNAT IPs allocation count for VMs count in the cluster"
we got the error
[code]

while trying to update the SNAT Ports per node and SNAT IPs.

[this doc](https://docs.microsoft.com/en-us/azure/aks/load-balancer-standard#requirements-for-customizing-allocated-outbound-ports-and-idle-timeout) has this formula for calculating SNAT IPs  and SNAT ports in the cluster
[code]

we got to know from our support that `nodeVMs` is actually the max number of VMs in

[2021-10-04 10:47] CHEEKATLAPRADEEP-MSFT commented on #81814
@robert4os Thanks for pointing out the issue, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/databricks-pr/pull/780](https://github.com/MicrosoftDocs/databricks-pr/pull/780).

The changes should be live soon. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

@leifbro C

[2021-10-04 11:10] SadiqhAhmed-MSFT commented on #81841
@minadaoud The information given in this [link](https://docs.microsoft.com/en-us/azure/backup/backup-architecture#where-is-data-backed-up) is technically correct because it says that it can protect against failures in datacenters because there are 3 copies. The line doesn't say that it can protect against the failure of the entire datacenter.

The data should ideally be stored in 3 different racks

[2021-10-04 11:16] VikasPullagura-MSFT commented on #81894
@nkk1
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-10-04 11:16] VikasPullagura-MSFT commented on #81894
@palma21
Can you please check and add your comments on this doc update request as applicable.

[2021-10-04 11:19] mysoultan opened #81895 "Container requirements and recommendations (STT, TTS)"
Container requirements and recommendations for speech to text, and text to speech is not clear. based on the recommendation mentioned in the article:
What is the transaction per second that can be support?
What is the size of the audio file, and text file that can be supported?
How many characters can be processed?
What will be the concurrent requests?

---
#### Document Details

⚠ *Do not edit th

[2021-10-04 11:28] AshokPeddakotla-MSFT commented on #81864
@Master-Oliveira I have assigned the issue to the content author @wesmc7777  to evaluate and update as appropriate.

[2021-10-04 11:38] minadaoud commented on #81841
Thanks for clarifying @SadiqhAhmed-MSFT . I guess the English was just bit confusing.

[2021-10-04 11:38] dominicbetts commented on #55843
Hi @lucarv - this content has now been retired. For reference - the content is available at: https://docs.microsoft.com/previous-versions/azure/iot-accelerators/

Regards, Dominic

[2021-10-04 11:39] dominicbetts commented on #55843
#please-close

[2021-10-04 11:39] #55843 closed

[2021-10-04 11:39] dominicbetts commented on #66308
Hi @sgryphon  - this content has now been retired. For reference - the content is available at: https://docs.microsoft.com/previous-versions/azure/iot-accelerators/

Regards, Dominic

[2021-10-04 11:40] dominicbetts commented on #73656
Hi @lowndesc - this content has now been retired. For reference - the content is available at: https://docs.microsoft.com/previous-versions/azure/iot-accelerators/

Regards, Dominic

[2021-10-04 11:40] dominicbetts commented on #73656
#please-close

[2021-10-04 11:40] #73656 closed

[2021-10-04 11:50] hanskhe opened #81896 "Typo in Blob versioning section of Object replication docs"
Under the heading "Blob versioning", the following sentence appears to have an error

I'm guessing that it should be "(...) and there is no longer a **current** version"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8eb0dea9-36b5-22ab-c8e3-8177acca705d
* Version Independent ID: a7a92ba3-bc6b-5026-46f4-2fdfb677d17b
*

[2021-10-04 11:57] SarveshPandey opened #81897 "Migration: 10000 tables from Oracle to Azure SQL Database"
Can we migrate 10000 tables from On-premise Oracle DB to Azure SQL Database using SSMA or azure have different tool for migration?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5f18f40-333b-4990-decd-36862d7b6818
* Version Independent ID: 7ec72692-5ba7-a2c9-398b-4aedeccd46c4
* Content: [Oracle to Azure SQL Database:

[2021-10-04 12:00] kimski18 commented on #70296
Hello: is there an update to this document?

Many Thanks

[2021-10-04 12:13] SadiqhAhmed-MSFT commented on #81841
@minadaoud Are we good to close this now? :)

[2021-10-04 12:13] ZER-0-NE commented on #45041
Hi,
Was this resolved?

[2021-10-04 12:19] minadaoud commented on #81841
Sure, go for it :)

On Mon, 4 Oct 2021 at 14:13, SadiqhAhmed-MSFT ***@***.***>
wrote:

--
Thanks,
Mina Daoud

[2021-10-04 12:22] AnuragSharma-MSFT commented on #81892
@dgpoulet Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-10-04 12:28] J0F3 opened #81899 "Clarification for Namespace of 'appRoles' and 'oauth2Permissions' (scopes)"
What is the scope in which the value and Id of an app role or a scope must be unique?

I have noticed that when the same value for an app role and a scope is the same the configuration gets rejected with:

Similar to when using the same Id for an app role and scope:

As the message implies when 'id', 'value', 'description', 'displayName', 'adminConsentDescription' and 'adminConsentDisplayName' is

[2021-10-04 12:31] EmielStoelinga opened #81900 "Typos "Binary (i.e. image) data" section"
The "Binary (i.e. image) data" section mentions the example code as below, but it contains multiple typos.

[code]

The example should be as follows:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33f95c31-b629-40fc-7bd4-da6e37d959a9
* Version Independent ID: 8e0c3ba2-0239-588e-5169-76d8a92d978e
* Content: [Auth

[2021-10-04 12:43] SeryioGonzalez opened #81901 "Telegraf fails with AzMonitor"
Telegraf would get a 400 Bad request. Solved adding the tag limit operator:

/etc/telegraf/telegraf.conf
....
[[processors.tag_limit]]
  limit = 10

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43e28bc4-78ca-575b-ea39-a49a79c5bc81
* Version Independent ID: 0ad413f5-b33d-3271-5fe3-b14411916e88
* Content: [Monitoring an

[2021-10-04 12:45] chshihMSFT opened #81902 "Cosmos DB - Gremlin Console Quickstart, Java environment needed adding some note"
Suggest adding note for Java Runtime version in Prerequisites section.

You also need to install the [Gremlin Console](https://tinkerpop.apache.org/downloads.html). The **recommended version is v3.4.3** or earlier. (To use Gremlin Console on Windows, you need to install [Java Runtime](https://www.oracle.com/technetwork/java/javase/overview/index.html), **minimum requires Java 8** but it is **prefe

[2021-10-04 12:46] AnuragSharma-MSFT commented on #81735
@gbsmith As much as I know changing keys would be manual effort, however I am tagging the content author to evaluate it and update the documentation if needed.
@mksuni

[2021-10-04 12:48] MonikaReddy-MSFT commented on #81880
@michaelcwang2  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-10-04 12:49] MonikaReddy-MSFT commented on #81884
@michaelcwang2 - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-10-04 12:56] SeryioGonzalez opened #81903 "Telegraf error"
Doing the required steps with Telegraf I get an error in the log

E! [agent] Error writing to outputs.azure_monitor: json: unsupported value: NaN

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43e28bc4-78ca-575b-ea39-a49a79c5bc81
* Version Independent ID: 0ad413f5-b33d-3271-5fe3-b14411916e88
* Content: [Monitoring and

[2021-10-04 13:01] RohitMungi-MSFT commented on #81900
@EmielStoelinga Thanks for spotting this. A PR is raised to fix this typo. Thanks.

[2021-10-04 13:04] SumanthMarigowda commented on #81896
@hanskhe Thanks for the question! We are investigating and will update you shortly.

[2021-10-04 13:12] DebashishSarkar opened #81904 "Getting infused about reserved instances for Premium V2 instances"
![image](https://user-images.githubusercontent.com/6063546/135851709-39752bc4-b02c-4d96-b4cd-fe8dfb723660.png)

I got confused with the mention of availability of reservation instances for premium v3 and premium v2 instances in the same sentence although rest of the article mentions it available for Premium V3 and Isolated V2 instances. It would help to use isolated instead v2 of premium v2 in the

[2021-10-04 13:31] hbalaci opened #81906 "Is "instances.ml.azure.us" in Step 3 and Step 4 correct?"
I am noticing in the following sections:

Example: Custom DNS Server hosted in VNet
Example: Custom DNS Server hosted on-premises

Step 3
3. Create conditional forwarder in DNS Server to forward to Azure DNS:
....
Azure Public regions:

api.azureml.ms
notebooks.azure.net
**instances.ml.azure.us**

**instances.ml.azure.us** does not appear to be correct;
- previous references in the document refer

[2021-10-04 13:34] jaesoni commented on #33157
Thank you all for the feedback and sharing the details of the issue that you encountered. Based on your comments, we have updated the documentation to clarify the below points.

- In addition to the **Trusted Services** setting, you will need to allow your Application Gateway's **subnet** with **Service endpoint** configuration to grant access for all the scenarios.
- Supported file format for the

[2021-10-04 13:42] SeryioGonzalez opened #81907 "Metric collector"
This definition is wrong. For example, the parameter  "UploadTarget": { "value": "AzureLogAnalytics" } does not have a proper value.

Update it with
https://docs.microsoft.com/en-us/azure/iot-edge/how-to-collect-and-transport-metrics?view=iotedge-2020-11&tabs=iothub

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43e28b

[2021-10-04 13:53] svdHero opened #81908 "Private DNS Zone not listed when creating PostgreSQL Flexible Server resource"
Under paragraph "Using a private DNS zone" it reads:

However, when I try to create a PostgreSQL Flexible Server resource in the Portal, my Private DNS Zone is not listed in the drop down box. See screenshots.
The Private DNS Zone is from another subscription where our central Hub (https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/hybrid-networking/hub-spoke) is defined.

[2021-10-04 13:57] jpavlik-crestron opened #81909 "Mistaken idea about how OAuth is supposed to work."
Reading this sentence which seems to indicate a mistaken idea on how authentication is expected to work..

"If a user wants to sign out of the application, it doesn't necessarily mean they want to sign out of their Facebook account."

If I use Facebook Authentication to log into an application, that is a separate session with it's own tokens. When I log out those tokens should be deleted. But that

[2021-10-04 13:59] chmagitt opened #81910 "Warning for end of support"
Hello

Perhaps we should put a warning in red that Edge on K8s is not planned for version above 1.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1a53f1e-4a0f-e340-b0ab-0e75046afbac
* Version Independent ID: 14170d59-92c9-6639-7def-51e7e28da3cd
* Content: [How to install IoT Edge on Kubernetes](https://docs.microsoft

[2021-10-04 14:09] shortpatti commented on #81822
#please-close

content updated

[2021-10-04 14:09] #81822 closed

[2021-10-04 14:11] twimmers commented on #78422
This is correct - it is called out in the Netsuite User Provisioning tutorial
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/netsuite-provisioning-tutorial
_This provisioning integration will stop working with the release of NetSuite's Spring 2021 update due to a change to the NetSuite APIs that are used by Microsoft to provision users into NetSuite. This update will reach NetSu

[2021-10-04 14:17] palayathar opened #81911 "Contents under Azure CLI on all pages are same"
Contents under Azure CLI on all pages are same. Kindly correct.

https://docs.microsoft.com/en-us/azure/batch/scripts/batch-cli-sample-create-account?source=docs#feedback
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b37dca8-be6d-bb52-79d7-a14047d49915
* Version Independent ID: aa81ba29-a833-f7c7-f358-cb1bef87be96
* C

[2021-10-04 14:28] #67835 closed

[2021-10-04 14:28] #59495 closed

[2021-10-04 14:33] slagod opened #81912 "Stop doing automatic translation, it's embarassing"
Hi guys,

Every time I'm using Azure documentation I wonder why you try to run automatic translation.
At least for Polish language, it is embarrassing how bad the translation is.

Please stop it, or turn it off by default. Most of polish programmers work in English anyway.

Also, your font doesn't support Polish "special" characters.
You have strong presence in Poland and you cannot fix such simpl

[2021-10-04 14:33] baanders commented on #81719
Since the issue has been addressed without follow-up discussion, I'm going to proceed to close this issue. However, feel free to follow up with additional questions or comments and we can reopen if needed.

Thank you!
#please-close

[2021-10-04 14:33] #81719 closed

[2021-10-04 14:40] sijday opened #81913 "Update page to include service names"
Azure Defender pricing is per Azure service name:

VirtualMachines
SqlServers
AppServices
StorageAccounts
SqlServerVirtualMachines
KubernetesService
ContainerRegistry
KeyVaults
Dns
Arm
OpenSourceRelationalDatabases

This page needs to include information about these different service name.

Default does not exist as a service name.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2021-10-04 14:45] AlexeyEvlampiev opened #81914 "Missing extensions (comparing to Single Server)"
My organization is considering migration from Single Server to Flexible Server. However, the absence of the pgRouting extension in Flexible Server poses a serious issue.

Are there plans to align the list of supported extensions with the one of Single Server?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab533e2e-3fb7

[2021-10-04 14:51] UjjwalKrBhakat opened #81915 "Screenshot and options on Workspace one is not upto date"
[Enter feedback here]

Hi Team

I was trying to follow the steps mention in this document to perform the integration of azure ad and VMware WorkSpace One, but the screenshot and options available in the document is seems to be older version of Vmware Workspace console.

Lots of options are missing.

Request you to please update the article with the latest version of vmware workspace one.

Thanks a

[2021-10-04 14:53] YutongTie-MSFT commented on #81732
@PatrickFarley Hello Patrick, could you please share any insight about Blazor Wasm if you have? Thanks.

[2021-10-04 14:58] Pryorite commented on #81598
I'm closing this issue as I mentioned above the ismatch matches whole words within fields.

[2021-10-04 14:58] #81598 closed

[2021-10-04 15:08] asergaz commented on #81910
Thanks for the feedback @chmagitt , the Doc has that information on top. Let us know if you have a different suggestion? If you select IoT Edge 1.2 you will see a warning as well:

![image](https://user-images.githubusercontent.com/22173500/135876262-963c5788-0589-42e0-b169-0ffaf25016b2.png)

[2021-10-04 15:09] asergaz commented on #81910
..........................

[2021-10-04 15:09] MahaSPR commented on #81188
@jlichwa - I followed the instructions in the following article, and it fails at the command "az keyvault storage sas-definition create --vault-name ...." under the section "Generate a shared access signature definition". You can re-produce the issue if you follow the article and execute the commands in the order specified.

https://docs.microsoft.com/en-us/azure/key-vault/secrets/overview-storage

[2021-10-04 15:20] Rodrigossz commented on #81886
Hello @AnuragSharma-MSFT , @lukipro
Due to internal priorities, this capability ISN'T in immediately roadmap for now.
#please-close

[2021-10-04 15:20] #81886 closed

[2021-10-04 15:20] #81869 closed

[2021-10-04 15:21] tiny-dancer commented on #81263
@davidsmatlak  thanks for the forward, your question to @duongau is the key question in OP.

[2021-10-04 15:24] ingomaas opened #81916 "Incorrect code example for message feedback"
The code example after "The body of a feedback message is shown in the following code:" is wrong. It should use lower-case property names. Additionally, the data type of property `statusCode` in the example is incorrect, it should use a string value "Success" instead of number 0.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-10-04 15:24] #81841 closed

[2021-10-04 15:30] afscrome opened #81917 "New Table name for `exceptions`"
The article lists the new name of the `exceptions` table as being `AppSystemEvents`.  I believe this should be `AppExceptions` .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8fb2b84-1cec-d028-5b59-7ae18429536f
* Version Independent ID: 0032ba9c-2910-2426-4d07-b2f8006e8620
* Content: [Azure Monitor Application Insigh

[2021-10-04 15:35] mike-urnun-msft commented on #81887
Hello @fhzhang - Thank you for your feedback! We will review and update as appropriate.

[2021-10-04 15:36] mike-urnun-msft commented on #81891
Hello, @jayendranarumugam - Thank you for your feedback! We will review and update as appropriate.

[2021-10-04 15:45] cephalin commented on #67612
Already fixed. #please-close

[2021-10-04 15:45] #67612 closed

[2021-10-04 15:47] kobulloc-MSFT commented on #81911
@palayathar Thank you for reporting this!  I looked through the following pages in the CLI section:

- https://docs.microsoft.com/en-us/azure/batch/scripts/batch-cli-sample-create-account
- https://docs.microsoft.com/en-us/azure/batch/scripts/batch-cli-sample-create-user-subscription-account
- https://docs.microsoft.com/en-us/azure/batch/scripts/batch-cli-sample-add-application
- https://docs.micr

[2021-10-04 15:49] jlichwa commented on #81188
@MahaSPR I personally tested that tutorial 10s of times and thousands of customers went through it. It is very old feature.
There are variations between environments - CLI works different Cloud Shell, local CLI on Windows or Mac and could be some issue with version of CLI you are using.

We will need to Azure CLI version and environment (Cloud, Windows, Mac).
We will need all commands with exact p

[2021-10-04 15:53] CelesteDG commented on #81792
#reassign:@kengaderdus

[2021-10-04 16:17] SaurabhSharma-MSFT commented on #81914
@AlexeyEvlampiev Thanks for your feedback! We will investigate and update as appropriate.

[2021-10-04 16:21] ms-vincent commented on #81674
Ok. Looks good now. thanks! Closing

[2021-10-04 16:21] #81674 closed

[2021-10-04 16:26] ChristopherGLewis opened #81918 "Update documentation for Physical Configuration Servers"
[Enter feedback here]
Is there any chance that this could be updated?  The docs for a physical configuration server are over two years out of date and don't correspond to anything in the portal anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b01faa1-267e-cefc-22e4-fbd65361ba5f
* Version Independent ID: 6cb817e

[2021-10-04 16:37] sachinwalunjEY opened #81919 "Connection Mode Direct with Https"
Document mentions about Direct Mode with Https but v3 SDK only specifics below option
Protocol is tied to the Mode, either it's Gateway (HTTPS) or Direct (TCP).
https://docs.microsoft.com/en-us/azure/cosmos-db/sql/migrate-dotnet-v3?tabs=dotnet-v3#connectionpolicy

Please update documentation or specify if we can use Direct Mode with Https (to avoid additional hop).

---
#### Document Details

⚠ *D

[2021-10-04 17:25] MarileeTurscak-MSFT commented on #81909
@jpavlik-crestron
Thanks for your feedback! We will investigate and update as appropriate.

[2021-10-04 17:26] Grace-MacJones-MSFT commented on #81917
Thanks for your feedback! We will review and update this doc accordingly.

[2021-10-04 17:29] MarileeTurscak-MSFT commented on #81909
Hi @jpavlik-crestron ,

That's correct. The full context says, "If a user wants to sign out of the application, it doesn't necessarily mean they want to sign out of their Facebook account. However, if local accounts are used, the user's session ends properly."

I think it's intended to point out the exception to the behavior with local accounts. It's not trying to say that the user is signed out e

[2021-10-04 17:29] #81909 closed

[2021-10-04 17:33] jpavlik-crestron commented on #81909
This article was used to cite what we believe is incorrect behavior. When a user selects logout using an external IDP (Facebook, Azure B2C) they are not challenged for credentials the next time they login. This is an error and demonstrates MSAL is not working as anyone would expect.

[2021-10-04 17:37] gorankuk opened #81921 "Missing information on Graph DB/Gremplin API for Cosmos DF"
[There is no reference to Maven project that is using Gremlin API. Can you share the link. Also it is important to know if Java SDK for Graph database supports bulk executor operations - similar to SDK for Doc DB. ].

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6277054-3321-2410-5360-0a532b3ae637
* Version Independe

[2021-10-04 17:42] spelluru commented on #80986
@ncinel - sorry for the late response. I tested the steps with a logic app that uses the consumption plan and it worked for me. I got email messages and I see the logic app runs in the Runs history tab. I will update the article about using the consumption plan for the tutorial. If you are still running into the above issue, please open a support ticket. Thanks.

BTW, you mentioned that "messages

[2021-10-04 17:46] ChaitanyaNaykodi-MSFT commented on #81893
Hello @nkk1
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-10-04 17:47] jmprieur commented on #81709
@MarileeTurscak-MSFT : I'm waiting for more info here.

[2021-10-04 17:49] MonikaReddy-MSFT commented on #81918
@ChristopherGLewis - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-10-04 17:49] MonikaReddy-MSFT commented on #81904
@DebashishSarkar - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-10-04 17:53] clin4 commented on #81014
@BharathNimmala-MSFT @msmbaldwin Is there any update from this issue?

[2021-10-04 17:54] mytharindu opened #81923 "Application-insights client for .Net Core Vuejs web application"
Can not  get Application-insights client from .Net Core Vuejs web application. How to do it ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d56ecb14-9e66-5313-a381-d2824ec3d1e2
* Version Independent ID: ff056ac8-ae76-be10-6895-757333a28e05
* Content: [Azure Application Insights for JavaScript web apps - Azure Monitor]

[2021-10-04 18:00] chandlerkent opened #81924 "Link to feedback page no longer works"
The link to provide feedback takes you to Azure Feedback, which says it is no longer in use.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2ede563-b873-0bc3-959f-69e555f0efcc
* Version Independent ID: 8471d9e4-6c79-0cf1-c5ed-50c58e1b92aa
* Content: [Sign in to Linux virtual machine in Azure using Azure Active Directo

[2021-10-04 18:10] RyanHill-MSFT commented on #81726
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-10-04 18:15] dc995 opened #81925 "Clarify Linux Support"
Could use clarity on if it works with Linux container mode or requires Linux host.  Would be great to spell out EFLOW support.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077ab34b-b055-e79f-7655-f807588ebcdd
* Version Independent ID: 76d5dc77-e9dc-7d8b-3965-dee7edb6ceab
* Content: [Defender for IoT azureiotsecurity

[2021-10-04 18:19] MarileeTurscak-MSFT commented on #81924
@chandlerkent
Thanks for your feedback! We will investigate and update as appropriate.

[2021-10-04 18:28] MarileeTurscak-MSFT commented on #81924
Azure is working on a new self-service option for customers to share and vote on product feedback. When available, you will be able to go to https//feedback.azure.com and share/upvote product feature ideas.

Meanwhile, please feel free to share any product feedback/feature request here, so that I can share it across to the product team using our internal tooling.

Please let me know if there are a

[2021-10-04 18:30] SaurabhSharma-MSFT commented on #81901
@SeryioGonzalez Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-10-04 18:34] MarileeTurscak-MSFT commented on #81924
Closing this out for now but feel free to tag me or email me if you have any feedback to share!

[2021-10-04 18:34] #81924 closed

[2021-10-04 18:34] PramodValavala-MSFT commented on #81615
@philipcj Sorry for not getting back sooner. I can confirm the code snippets in the docs are correct. Ensure you are using a version >= 1.30 of the extension.

Since there is no doc update required here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-10-04 18:34] #81615 closed

[2021-10-04 18:35] chandlerkent commented on #81924
Thank you!

We are evaluating switching our in-house SSH solution to this feature. One thing that we use is SSH host certificates so that users are not prompted to add the system to known_hosts. Additionally, since internal IP addresses get reused, adding each individual host's IP address to known_hosts is problematic since the next time you connect may fail. So it would be great if this feature s

[2021-10-04 18:37] MarileeTurscak-MSFT commented on #81915
@UjjwalKrBhakat thanks for the feedback. I have assigned this to the content author, @jeevansd, to update as needed.

[2021-10-04 18:38] MarileeTurscak-MSFT commented on #81913
@sijday thanks for the feedback! What sort of information were you hoping to include about the service names?

[2021-10-04 18:50] Oury-MSFT commented on #81902
@chshihMSFT  Thank you for your feedback.
@manishmsfte Please see customer feedback above. Could you please confirm if we can raise a PR to update to doc adding "Minimum requires Java 8 or Java 11" under Java Runtime Prerequisites section?

[2021-10-04 18:52] MarileeTurscak-MSFT commented on #81924
Thank you for sharing this! I have passed this feedback along to the product team.

[2021-10-04 18:55] mingshen-ms commented on #78730
#reassign:@saasguide

[2021-10-04 18:58] mingshen-ms commented on #79266
#reassign:@saasguide

[2021-10-04 18:59] mingshen-ms commented on #81171
#reassign:@saasguide

[2021-10-04 19:04] #81844 closed

[2021-10-04 19:12] MarileeTurscak-MSFT commented on #81899
@J0F3
Thanks for your feedback! We will investigate and update as appropriate.

[2021-10-04 19:12] GSuggitt opened #81926 "DICOM Conformance Statement has incorret value for Referring Physician"
It is in the doc as (0009,0090)
It should be (0008,0090)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0c46635-42cb-f353-4ed2-d3fe7e07a606
* Version Independent ID: 82fade13-ec61-435e-7e4e-f81284edde37
* Content: [DICOM Conformance Statement for Azure Healthcare APIs](https://docs.microsoft.com/en-us/azure/healthcare

[2021-10-04 19:13] bandersmsft commented on #81904
@DebashishSarkar Thanks for letting us know about this error. I've updated the article and it should get refreshed live later today.
#please-close

[2021-10-04 19:13] #81904 closed

[2021-10-04 19:35] gobionic commented on #80482
@divyaswarnkar With regards to your comment:

What's the best way to be informed of when that happens?  Is there a GitHub issue to subscribe to, or anything similar?

[2021-10-04 19:49] myles-mcleroy commented on #81681
@AnuragSharma-MSFT @SnehaGunda Thanks for the update. I would just like to clarify that I believe the endpoint has changed since the documentation was written. Looking on Portal we see that the endpoint is indeed `https://<myaccount>.table.cosmos.azure.com/<mytable>/`

@xiaolangxyz Can you confirm if you were able to get this to work with the updated endpoint? I received the following error and wa

[2021-10-04 20:01] Karishma-Tiwari-MSFT commented on #81660
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2021-10-04 20:01] #81660 closed

[2021-10-04 20:05] Davidswinkels commented on #81247
Thanks for your responses. The main isssue for us is the random ordering. We have three tests that succeed in 50% of cases and fail in 50% of cases due to random ordering with same input/output. The other issues we were able to understand by trial and error.

If it helps to work on the random ordering issue, we could provide a sample calculation script + input.json + output.json?

[2021-10-04 20:15] sdgilley commented on #81692
@gary918 - can you try [adding a compute instance from the studio interface](https://docs.microsoft.com/en-us/azure/machine-learning/quickstart-create-resources#instance) and let us know if that one works?  We're trying to figure out if this problem occurs only when using the CLI.
Thanks,
Sheri

[2021-10-04 20:22] SatishBoddu-MSFT commented on #81284
Hello @ksh7393 We have tested the document and found no issues.

Could you please let us know if there are any firewall restrictions in your network or any proxy server issues?

Please let us know if you need further help in this matter or you can also post this on the [Microsoft Q&A forum](https://docs.microsoft.com/en-us/answers/questions/topics/single/25493.html) to get forum community help in

[2021-10-04 20:34] devopsjesus opened #81929 "Built-in Azure RBAC role 'Automation Contributor' missing from list"
In determining the correct role required for some Azure Automation usage, it became apparent that the role 'Automation Contributor' is indeed a built-in role, but it is not listed on the Docs page as a built-in.

Further Role details (including guid): https://www.azadvertizer.net/azrolesadvertizer/f353d9bd-d4a6-484e-a77a-8050b599b867.html

For context, this was in Azure Government, usgovtexas/virg

[2021-10-04 20:39] dlepow commented on #81845
@MonikaReddy-MSFT - This question might be better for the product team to comment on. Could you please reassign? Thanks.

[2021-10-04 20:48] #81870 closed

[2021-10-04 20:50] MashaMSFT commented on #76819
Closing this Git Issue as the fix has been backported.

Thanks!
Masha from the SQL Docs team
#please-close

[2021-10-04 20:50] #76819 closed

[2021-10-04 20:52] MicrosoftGuyJFlo commented on #81753
You cant configure Azure AD Identity Protection with a P1 license. It requires Azure AD P2 https://docs.microsoft.com/azure/active-directory/identity-protection/overview-identity-protection#license-requirements

Azure AD P1 customers get limited reporting information.

[2021-10-04 20:56] MarileeTurscak-MSFT commented on #81929
@devopsjesus
Thanks for your feedback! We will investigate and update as appropriate.

[2021-10-04 20:59] MashaMSFT commented on #80461
Hi @psmanhas , thanks for submitting your issue! As Rajesh was able to respond, I'll go ahead and close out this Git Issue but please feel free to comment should you need anything further.

Thanks!
Masha from the SQL Docs team
#please-close

[2021-10-04 20:59] #80461 closed

[2021-10-04 21:04] Oury-MSFT commented on #81897
@manishmsfte Is the “migration” in this context refers to:
1)	Table schema conversion
2)	Data movement
3)	Or both?
From the perspective of the schema conversion, as long as these definitions will fit in memory – we don’t have any hard limit. Thus using 64-bit version will help.

[2021-10-04 21:22] SatishBoddu-MSFT commented on #81916
Hello @ingomaas Our SME will review your feedback soon.

[2021-10-04 21:33] wolfejonny commented on #81188
Running into exact same error

[2021-10-04 21:35] bdcoder2 opened #81930 "Better examples for ST_WITHIN and ST_INTERSECTS ..."
Just a suggestion wtih regard to examples for ST_WITHIN and ST_INTERSECTS.

Perhaps create a polygon or multi-polygon bounds and then show a query that finds all points that fall inside those bounds (probably the most common use case).

The example(s) should also mention "edge" cases, as per this StackOverflow question:
[https://stackoverflow.com/questions/69441153/cosmosdb-st-within-and-st-inters

[2021-10-04 21:38] dlepow commented on #81448
@bplasmeijer - Thanks very much for raising this issue and noting the differences in Helm 3.7. We'll update the article soon.

[2021-10-04 21:39] dlepow commented on #81528
@MatthewSwarbrick - Thanks very much for raising this issue and noting the differences in Helm 3.7. We'll update the article soon.

[2021-10-04 21:39] kobulloc-MSFT commented on #81911
@palayathar We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-10-04 21:39] #81911 closed

[2021-10-04 21:40] dlepow commented on #81673
@vishiy - Thanks very much for raising this issue and noting the differences in Helm 3.7. We'll update the article soon.

[2021-10-04 21:40] dlepow commented on #81790
@kyschouv - Thanks very much for raising this issue and noting the differences in Helm 3.7. We'll update the article soon.

[2021-10-04 21:40] bplasmeijer commented on #81448
👍 Question, can I do doc PR?

[2021-10-04 21:41] dlepow commented on #81793
@lynshi - Thanks very much for raising this issue and noting the differences in Helm 3.7. We'll update the article soon.

[2021-10-04 21:50] msangapu-msft commented on #34451
Hi everyone, we updated the FAQ doc by adding this: https://docs.microsoft.com/en-us/azure/app-service/faq-app-service-linux#how-do-i-specify-port-in-my-linux-container-

This thread seems to be discussing various issues that really should have their own thread. If you're having technical issues with websites port or port, I'd recommend to contact support. The original question about custom ports

[2021-10-04 21:53] #81635 closed

[2021-10-04 22:00] HeidiSteen commented on #81671
Hi @cdanvergara and @SnehaAgrawal-MSFT -- I can repro this on my search service as well.  If I use the older version of the skill, I get scores. If use the newer version (V3), I get nothing.  Can you file a support ticket against the product?  I don't think it's the docs that is broken.

I will close this issue now, since I don't think there is anything actionable for docs, but if you disagree ple

[2021-10-04 22:00] HeidiSteen commented on #81671
#please-close

[2021-10-04 22:00] #81671 closed

[2021-10-04 22:01] SamaraSoucy-MSFT commented on #81696
Since there aren't any doc updates I'm going to close the thread. I'll post an update if there is anything from the product team I can share.

[2021-10-04 22:01] #81696 closed

[2021-10-04 22:07] SaurabhSharma-MSFT commented on #81930
@bdcoder2 Thanks for the feedback !  I have assigned this issue to content author to investigate and update you accordingly.

[2021-10-04 22:08] SaurabhSharma-MSFT commented on #81903
@SeryioGonzalez Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-10-04 22:08] Oury-MSFT commented on #81908
@niklarin Could you please us some guidance regarding the above issue customer is facing when adding a private DNS server when deployment an  Azure PostgreSQL flexible server.
I tried to repro the same but was not also seeing the Private DNS I create earlier in the list.
![image](https://user-images.githubusercontent.com/78940872/135931442-42a9cac0-315f-4242-a2b4-b60a19df1653.png)

[2021-10-04 22:09] SaurabhSharma-MSFT commented on #81907
@SeryioGonzalez Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-10-04 22:17] Karishma-Tiwari-MSFT commented on #81728
The links are working for me now. Let me know if you still see issues.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-10-04 22:17] #81728 closed

[2021-10-04 22:19] mattfeltonma commented on #55029
Status on this update? At this time Microsoft public documentation only mentions AS-PATH Prepending when influencing routing for S2S VPN Gateways. If weight is supported, it should be documented at the least in the FAQ.

[2021-10-04 22:19] Karishma-Tiwari-MSFT commented on #81799
Thanks for your contribution. Please share the link to your PR here so that I can track it as well.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-10-04 22:19] #81799 closed

[2021-10-04 22:22] Oury-MSFT commented on #81919
@sachinwalunjEY Thank you for your feedback. We are reviewing this with author and will get back shortly.

[2021-10-04 22:27] ealsur commented on #81919
The documentation is correct. V3 SDK only supports Gateway (using HTTPS protocol) or Direct (using TCP protocol).
There is no support for Direct with HTTPS protocol, the combination is unsupported on V3.

[2021-10-04 22:40] erwinsalubre commented on #81475
@SrijitBose-MSFT What is the difference between the `Delegated` permission and the `Application` Type which my Service Principal have.
![Screen Shot 2021-10-04 at 11 44 05 AM](https://user-images.githubusercontent.com/29863006/135934106-9f573d74-62e2-4907-9316-7817aa483f95.png)

[2021-10-04 23:00] yvztzn opened #81934 "Web server information is outdated"
I'm trying to follow to setup a PHP/Laravel application based on this documentation. The wwwroot/public/index.php file is simple and prints out "Hello World!" with information from php_info(). Also the wwwroot/.htaccess file is in place as described in this documentation.

- Navigating to https://mysite.azurewebsites.net/public/index.php returns the html with the greeting and information.
- Naviga

[2021-10-05 00:26] Grace-MacJones-MSFT commented on #81923
Thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2021-10-05 00:28] abdale opened #81937 "Suggested edit: update docs to reflect latest portal Synapse pane"
This paragraph:

Should say:

See:

![image](https://user-images.githubusercontent.com/8771696/135941899-bf98ccf5-9ee4-4b97-abb8-0b91fa29e47c.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5a38f10-28c6-dede-67a6-444c83ecee9e
* Version Independent ID: 67dd3e6c-189e-1e6c-5e1a-b733f1dfef38
* Content: [Azure Synapse

[2021-10-05 00:41] jalithlal commented on #81799
Thank You!  #81835 is the new PR

On Mon, 4 Oct 2021 at 18:19, Karishma Tiwari - MSFT <
***@***.***> wrote:

--

Thanks,
Jalith

[2021-10-05 01:07] MonikaReddy-MSFT commented on #81874
@Comi87 - Thank you for your question.
Can you please share with us more info on the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-10-05 01:12] MonikaReddy-MSFT commented on #81858
@SwagataChaudhuri - Sure, thanks for providing the info. I have redirected this to the appropriate engineer to take a look and he will get back to you as soon as we have an update. Thanks.

[2021-10-05 01:12] MonikaReddy-MSFT commented on #81828
@rb-cloud-guru -  Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2021-10-05 01:12] #81828 closed

[2021-10-05 01:20] MonikaReddy-MSFT commented on #80705
@dannradkov - Apologies for the delay in response. I have reached out to Product team and awaiting their response. I will get back to you as soon as we hear back from them.

[2021-10-05 01:23] MonikaReddy-MSFT commented on #80371
@tdx-devops -
![image](https://user-images.githubusercontent.com/47833949/135945839-a1f2f135-1a40-43f5-887f-76352316b734.png)

[2021-10-05 01:51] MonikaReddy-MSFT commented on #81540
@billsherry - Thanks for reaching out and apologies for the delay in response.

I have reached out to product team and we were told that they are working on a timeline and has added this in their backlog, and will update the docs in 3-4 weeks with the timeline.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will glad

[2021-10-05 01:51] #81540 closed

[2021-10-05 01:54] skywalkerisnull opened #81939 "Remove container to upload"
Just providing clarity around how to remove the container, as this was a bit of guessing.

[code]

If I wanted to remove "foo" the instructions provided say that I should insert 'null' as below:

[code]

This now removes the "foo" container from uploading.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d574f299-1f45-ad1

[2021-10-05 02:50] stevevi commented on #81789
#please-close

[2021-10-05 02:50] #81789 closed

[2021-10-05 03:20] SnehaAgrawal-MSFT commented on #81912
@slagod Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-10-05 03:35] technion opened #81940 "Link to Healthcheck script is questionable"
There is a "Recommended content" link which refers a user here: https://docs.microsoft.com/en-us/samples/azure-samples/azure-mfa-nps-extension-health-check/azure-mfa-nps-extension-health-check/

Although the script described on that page and its associated .html report appear useful, they aren't reflected in the available content. I had considered logging this there, but that linked repo hasn't ha

[2021-10-05 04:08] JamesTran-MSFT commented on #81940
@technion
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-10-05 04:08] #80002 closed

[2021-10-05 04:12] AshokPeddakotla-MSFT commented on #81939
[@skywalkerisnull](https://github.com/skywalkerisnull) Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-10-05 04:18] #81753 closed

[2021-10-05 04:27] vipulsparsh commented on #81852
@nlfiedler  Here is the requirement for provisioning group.
https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/how-provisioning-works#assignment-based-scoping

 With an Azure AD Premium license plan, you can use groups to assign access to a SaaS application. Then, when the provisioning scope is set to Sync only assigned users and groups, the Azure AD provisioning service will

[2021-10-05 04:28] SnehaAgrawal-MSFT commented on #81669
@otykier Apologize for the late response and inconvenience with this issue! The product team is aware of the issue and working on fix. I Will keep you posted as and when I have more updates.
Thanks again for raising this issue.

[2021-10-05 04:28] #81669 closed

[2021-10-05 04:34] KalyanChanumolu-MSFT commented on #81921
@gorankuk Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-10-05 04:36] KalyanChanumolu-MSFT commented on #81926
@GSuggitt Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-10-05 04:50] vipulsparsh commented on #81738
@danbu Currently it is not possible with just Azure AD Join machines.  You can try this workaround :
https://sysmansquad.com/2021/04/27/working-around-nps-limitations-for-aadj-windows-devices/

If you use Intune and have on prem CA, you can try this as well with SCEP : https://oofhours.com/2020/04/05/intune-certificates-something-everyone-should-set-up/

[2021-10-05 05:02] eriawan commented on #80352
@MarileeTurscak-MSFT

FYI, that link on that page has been updated and fixed, and it points to the correct link has suggested by the original issue comment. Please close this issue.

[2021-10-05 05:21] AmitavaHazra opened #81941 "Device registration and detection from IEF for all types of user in B2C"
Reference:
https://docs.microsoft.com/en-us/azure/active-directory-b2c/conditional-access-identity-protection-overview

Currently it seems device registration and detection are not available in B2C.
The Conditional Access device compliance feature isn't available in Azure AD B2C tenants.

Can we have an alternate solution where we can enroll and detect end user device along with user journey. End

[2021-10-05 05:34] andy-yx-chen opened #81942 "Cannot see settle balance button for overdue subs"
Cannot see settle balance button for overdue subs, the account is an account admin, but there is no "Settle balance" link or button for the subs shown as "disabled"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a4a411e-ee69-0830-ea5d-5998b9f42f8d
* Version Independent ID: 0594c6a2-940f-0360-eb3d-4cb336a6eaec
* Conten

[2021-10-05 05:50] ashkickindevelopment opened #81943 "Reservation admin/reader missing from Azure AD"
# Azure documentation issue guidance

I do not see these roles in Azure AD. I have a customer that is needing to view the reservations that they have purchased.

-A Reservation administrator for reservations in their Azure Active Directory (Azure AD) tenant (directory)
-A Reservation reader has read-only access to reservations in their Azure Active Directory tenant (directory)
![github-reservation

[2021-10-05 05:51] ashkickindevelopment commented on #81712
Hi sorry, can you re-open? If not I already created another ticket. Thanks  Sent from Mail for Windows From: SadiqhAhmed-MSFTSent: Monday, October 4, 2021 12:53 AMTo: MicrosoftDocs/azure-docsCc: Ashley Kennedy; MentionSubject: Re: [MicrosoftDocs/azure-docs] Reservation admin/reader missing from Azure AD ***@***.*** We haven't heard back from you, so we will now close this issue. If this remains an

[2021-10-05 06:03] SadiqhAhmed-MSFT commented on #81712
@ashkickindevelopment If your query is not related to Azure doc-enhancement, I would suggest you to reach out to Azure cost management team by raising a free support request for 1:1 discussion.

[2021-10-05 06:05] SadiqhAhmed-MSFT commented on #81942
@andy-yx-chen Thanks for reaching out. Could you please share the screenshot of the page?

[2021-10-05 06:07] andy-yx-chen commented on #81942
I am sorry, I did not capture the screenshot, as it was an urgent issue that the subs cannot be changed and no resource can be updated after subs was disabled, I ask support to make the settle the balance for me immediately, I will also follow up with support to see if they can help or not.

[2021-10-05 06:11] SadiqhAhmed-MSFT commented on #81942
@andy-yx-chen I suggest you follow up with the support folks on this issue. They should be able to fix it by working with you 1:1.

FYI: This channel (the [Azure Docs](https://github.com/MicrosoftDocs/azure-docs) repository) is only for driving improvements related to the Azure documentation.

[2021-10-05 06:13] andy-yx-chen commented on #81942
got it, however, it would be great to add docs about "if you cannot find settle balance button, then blah blah...", you can work with portal team to figure out the common Troubleshooting Guidelines.

[2021-10-05 06:16] SadiqhAhmed-MSFT commented on #81942
@andy-yx-chen Thanks for your feedback. Appreciate if you could share the details once the ticket is resolved.

[2021-10-05 06:17] Vipin-Sharma commented on #81887
Cant wait to use this feature for Java based azure functions.

[2021-10-05 06:17] andy-yx-chen commented on #81942
Sure

[2021-10-05 06:22] SadiqhAhmed-MSFT commented on #81759
@guyrleech Checking in to see if the above answer helped. Let us know if there are still any additional issues we can help with.

[2021-10-05 06:24] SadiqhAhmed-MSFT commented on #81758
@guyrleech Closing this issue for now.

Thanks once again for bringing this to our attention!

[2021-10-05 06:24] #81758 closed

[2021-10-05 06:27] TonnyWildeman commented on #81810
I found an old blog post from one of the team members, Yi Liao (MSFT), where more information can be found:
https://azure.github.io/AppService/2018/05/07/Multi-container-Linux-Web-App.html

[2021-10-05 06:34] SumanthMarigowda commented on #81650
@Mike-Crowley Here's the Cloud and AI guideline for "Move" articles  https://review.docs.microsoft.com/en-us/help/contribute/contribute-how-to-move-resources-across-regions?branch=master. We cant' make the changes.   This specific article makes it abundantly clear in the opening statement that physically moving an account is not possible.  Moving can be moving over your settings to a new account a

[2021-10-05 06:34] #81650 closed

[2021-10-05 06:39] ElazarK commented on #81925
Hi @dc995,

I'm not sure I fully understand the “container mode” terminology you used.
This article deals with the old version (classic) of the agent that runs as an IoT Edge module (aka container).

There is no support for EFLOW in that version.

[2021-10-05 06:54] SumanthMarigowda commented on #81680
@psoukal-ms  We will be moving away from UserVoice feedback sites on a product-by-product basis throughout the 2021 calendar year. We will leverage 1st party solutions for customer feedback. We will be updating the new URL very soon
https://support.microsoft.com/en-us/office/uservoice-pages-430e1a78-e016-472a-a10f-dc2a3df3450a
We will now proceed to close this thread. If there are further question

[2021-10-05 06:55] #81680 closed

[2021-10-05 06:56] Honglin6270-Li commented on #81747
@SubhashVasarapu-MSFT May I expect an update on this ask?

[2021-10-05 06:56] SumanthMarigowda commented on #81896
@hanskhe The PR has been initiated necessary changes will take place, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-10-05 06:56] #81896 closed

[2021-10-05 07:21] AnuragSharma-MSFT commented on #81756
@tknandu Could you please confirm on this?

[2021-10-05 07:21] HarshitaSingh-MSFT commented on #81866
Hello!
Just checking to see if you have had a chance to see the previous response. Kindly let us know if it answers your question and if you need further assistance on this issue.

[2021-10-05 07:28] Kazumz commented on #81868
Thanks @MonikaReddy-MSFT.

Please could you specify whether you intend to update the documentation to say you do not support this, or whether there's an alternative way I can achieve my requirement.

Thanks.

[2021-10-05 07:29] svdHero opened #81945 "Which software/resource/PaaS should I use for DNS Forwarder"
The documentation talks about the VM "DNS Forwarder". It reads:

So now I understand what it does and why it is needed. However, I do not know how to set up or configure such a DNS Forwarder.

What kind of software can I use to achieve the DNS forwarding? Can I use a Linux VM with some out-of-the-box DNS server software? What is the best practice here?
Or can I also use some low-cost Azure PaaS th

[2021-10-05 07:35] SwathiDhanwada-MSFT commented on #81591
@yutaro113 As we haven't heard from you, we will close the issue for now. If there are further suggestions, please revert and we will be glad to assist you.

[2021-10-05 07:35] #81591 closed

[2021-10-05 07:43] HarshitaSingh-MSFT commented on #81637
@ivandretvic, I could not find any official documentation about Windows Server 2022 support in Azure AD joined device. I assume that it is not yet supported. Please let me know if this answers your query.

[2021-10-05 07:55] AjayKumar-MSFT commented on #81934
@yvztzn, Thanks for the feedback. We are taking a look into this and will get back to you soon.

[2021-10-05 08:07] GitaraniSharma-MSFT commented on #81751
@aralvar , We have assigned this to the content owner/author for review.

@malopMSFT , for your review.

[2021-10-05 08:14] DeanGross opened #81946 "obsolete references"
the references to tier 0 protection should be updated to reflect current microsoft guidance for securing privileged access. the Tier 0 concept has been updated and is no longer applicable, see https://docs.microsoft.com/en-us/security/compass/privileged-access-access-model#ADATM_BM

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2021-10-05 08:17] rl8ball opened #81947 "Incorrect number of admins"
The page says the following : "the following nine Azure AD administrator roles will be required to do extra authentication"
There are however more than 9 roles listed....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfac0ecf-e5a9-c5ff-f8c2-ce27789708f5
* Version Independent ID: 0f5e0cc9-a54f-a5c8-192d-d60a6a4db3ff
*

[2021-10-05 08:25] Nozziel opened #81948 "Workspace Resource Manager template link broken"
broken template link at https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-workspace-template?tabs=azcli#workspace-resource-manager-template

 this might be the correct link:
https://github.com/Azure/azure-quickstart-templates/tree/master/quickstarts/microsoft.machinelearningservices/machine-learning-workspace

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2021-10-05 08:29] eoinshanley-microsoft commented on #36816
The docs page has been updated with correct information, thanks for bringing this to our attention.

[2021-10-05 09:07] shashishailaj commented on #81941
@AmitavaHazra Thank you for your query . We will investigate and update the thread.

[2021-10-05 09:11] shashishailaj commented on #81943
@ashkickindevelopment Thank you for your query . We will check this and update the thread.

[2021-10-05 09:12] shashishailaj commented on #81946
@DeanGross Thank you for your feedback . We will investigate and update the thread.

[2021-10-05 09:13] shashishailaj commented on #81947
@mattetti Thank you for your feedback . We will investigate and update the thread.

[2021-10-05 09:21] jeevanbalanmanoj opened #81950 "Azure ad Error codes page improvements"
[Enter feedback here]
A couple of issues

1. SEO for this page should be improved. Currently, when one googles with the error code this page is not showing up
2. Improvement needed for visibility of the "Lookup current error code information" section. Maybe move it up and provide a highlighting

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-10-05 09:43] vibhaskashyap commented on #46126
@tamram @PRMerger12 could you please redirect me to the solution of the issue #46126 ?

[2021-10-05 09:43] SrijitBose-MSFT commented on #81858
@SwagataChaudhuri , thank you for your question. If you run `helm install ingress-nginx-new ingress-nginx/ingress-nginx --namespace ingress-basic-new --set controller.ingressClass="nginx-devices" --debug` you shall see cluster-scoped resources like _Clusterroles_ and/or _Clusterrolebindings_ which already exist from your earlier NGINX Ingress installation are attempted to be **created** (not repla

[2021-10-05 09:47] AshokPeddakotla-MSFT commented on #81881
@nikeshv  If you are using, MQTT, Make sure that port 8883 is open in your firewall.
The MQTT port (8883) is blocked in many corporate and educational networking environments. If you can't open port 8883 in your firewall, we recommend using MQTT over Web Sockets. MQTT over Web Sockets communicates over port 443, which is almost always open in networking environments. To learn how to specify the MQ

[2021-10-05 10:10] RohitMungi-MSFT commented on #81900
@EmielStoelinga The PR is now merged and the documented will be updated in the next 24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-10-05 10:10] #81900 closed

[2021-10-05 10:22] guyrleech commented on #81759
Sorry but it didn't help as I was suggesting that you keep the page
consistent and only use $subscriptionId which  you use in some examples
rather than mixing that and xxxxxxxx-xxxx-xxxx-xxxx xxxxxxxxxxxx. Makes it
easier if nothing else to turn the code snippets into a script as I have
done.

On Tue, 5 Oct 2021 at 07:22, SadiqhAhmed-MSFT ***@***.***>
wrote:

[2021-10-05 10:28] shashishailaj commented on #81943
@ashkickindevelopment I think the wording on the section needs to change . Here we are talking about reservation of resources on Azure subscriptions which are associated with the related azure Active directory . Its not a Azure AD based role hence you do not see the same inside Azure AD . currently you would have to add the [role manually as shown in the article](https://docs.microsoft.com/en-us/a

[2021-10-05 10:30] HMGreen19899 opened #81952 "I'm in need of sexual pleasure... I want/need my pussy licked and ate out good..;)"
![Tumblr_l_52661393636855](https://user-images.githubusercontent.com/88482668/136006714-86685177-2e2c-4c52-9e51-eb76a412cfa3.gif)
![Uploading Tumblr_l_52699839683087.gif…]()
]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfac0ecf-e5a9-c5ff-f8c2-ce27789708f5
* Version Independent ID: 0f5e0cc9-a54f-a5c8-192d-d60a6a4db3

[2021-10-05 10:31] #81952 closed

[2021-10-05 11:22] Jorrit05 opened #81954 "Screenshot of config out of date"
Hi,

In the tutorial the 'web service URL' needs to be added as well:
Web service URL : https://conferenceapi.azurewebsites.net/

![image](https://user-images.githubusercontent.com/27849370/136013539-ffa7aad6-4f71-42c9-8f51-10c00a509b10.png)

Kr.
Jorrit

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76ca8cff-348b-5595-

[2021-10-05 11:27] gary918 commented on #81692
@sdgilley - Yes. I confirm that I can add the compute instance from the studio interface. The one named 'wg655361' was created in that way. If you run the CLI in the cloud shell, the created instance will be like 'ci-gary1-test'.
If you do want to reproduce the case, you can run the terraform scripts in https://github.com/csiebler/azure-machine-learning-terraform.

[2021-10-05 11:48] ram-msft commented on #81948
@Nozziel Thanks for the feedback! We will review and update accordingly.

[2021-10-05 12:02] SLNordPool opened #81955 "Burstable VM credits reset after Azure Live Migration"
I have observed cases where "credits" for burstable compute resources are not being preserved when Azure performs maintenance itself.  We recently had a production machine which had a "live migration", before the migration it had approximately 1,100 CPU credits, after it dropped back down to the starting point of ~120.  As some of our workloads and very bursty (several brief windows, with >80% of

[2021-10-05 12:15] thebeautiful opened #81956 "Private Link GA or Public Preview"
So here is a link that proves that Private Link is GA for AI + Machine Learning:
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-manage-workspace?tabs=azure-portal#networking

what should we believe?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2caff87f-9f38-988a-12f3-fc96798e3c99
* Version Independent

[2021-10-05 12:51] hrmsft opened #81957 "Prints and Screen fields and options outdated"
[Enter feedback here]

Please review the Access restrictions how-to screen shots, missing fields and diff layout and options to the current azure portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d90bbf62-44f9-30a6-d6ea-bbf776f6efc5
* Version Independent ID: b3961eac-6c70-b345-f48c-e4c0ec67059c
* Content: [Azure A

[2021-10-05 12:52] cephalin commented on #69768
@tnlthanzeel @improwise you're following a .NET Framework tutorial but your error messages indicate that you have a .NET Core app. And you're right it's not related to the original issue.

[2021-10-05 12:54] evandeworp opened #81958 "Central Us host name "dbartifactsprodcentralus.blob.core.windows.net" does not resolve."
Central Us Artifact Blob storage primary host name "dbartifactsprodcentralus.blob.core.windows.net" does not resolve.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a44cbeaf-af2c-ef7e-b411-24556279d898
* Version Independent ID: aaced3ee-7d7c-a9d6-a81b-b132674fa055
* Content: [User-defined route settings for Azure Datab

[2021-10-05 13:01] #69768 closed

[2021-10-05 13:03] markleavesley opened #81959 "No explanation of file formats"
Looking to generate an import from Excel but there is no description of the file formats. I have tried exporting some dummy entries in various formats and none of them include the label (which I have used and have to select on the export for some reason, no export all?), which I do want to make use of. For a simple CSV import I would be expecting something along the lines of:

` "key","value","lab

[2021-10-05 13:05] MattDolan opened #81960 "Azure Virtual Machine and Disk Performance IO limits"
My question stems from the below MS page on Azure Virtual Machine and Disk Performance.

https://docs.microsoft.com/en-us/azure/virtual-machines/disks-performance

I understand the VM and the disk have separate IOPs/throughput limits and the performance will be capped at the lower of the two, so that is not the question.

While describing how reads and writes work with caching, the below two parag

[2021-10-05 13:24] asears opened #81961 "Documentation could detail usage of alternate module paths better"
In the documentation, there is a comment about the following:

_If you have another file or folder in the same directory as your inference script, you can reference it by finding the current working directory._

It would be helpful to have some examples of this in use and how to reference external modules and scripts from a pipeline entry script.  There appears to be some issues with syspath disco

[2021-10-05 13:32] nikeshv commented on #81881
Perfect, this worked, I changed the communication protocol from MQTT to MQTT over websocket and this solved the issue.

[2021-10-05 13:33] aldor007 commented on #53572
Hi
I have the same issue for Azure PostgreSQL DB. I've custom role
[code]

Which such role developer gets below error:

![image](https://user-images.githubusercontent.com/2446168/136032635-d5d58edd-7993-44c0-abc5-96388b93717a.png)

Query text is available only when Contributor role is assigned (which have "*" actions)

My goal - a read-only role that can see query performance text.
What action is

[2021-10-05 13:42] MGoedtel commented on #81329
@JakeMoe - Per validation with engineering:

1. Runbooks can't use parallel processing to execute multiple actions in parallel - This is still a valid statement.
2. You can include only PowerShell Workflow runbooks and graphical runbooks as child runbooks by using the Start-AzAutomationRunbook cmdlet, which creates a new job - This statement is valid and this is also applicable to PowerShell runbo

[2021-10-05 13:42] #81329 closed

[2021-10-05 13:45] SatishBoddu-MSFT commented on #81284
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2021-10-05 13:45] #81284 closed

[2021-10-05 13:48] LoGunr opened #81962 "Unity Package Manager Error (Update azure-object-anchors/.../mrtk to Unity 2020)"
While trying to follow the instructions on the linked site to update the azure-object-anchors mrtk to Unity 2020 (2020.3.13.f1 in my case) the following error appears:
![grafik](https://user-images.githubusercontent.com/63962958/136034188-5efd6514-a1dc-4aa6-8143-2dbb0967b784.png)
I'm happy for any help, how to resolve this.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2021-10-05 13:55] Klaas- opened #81963 "Further limiting access to nfs shares/storage accounts"
Hi,
can I limit a nfs share/storage account to certain VMs/IPs instead of VNETs? If no, are there any plans to support further limiting nfs access in the foreseeable future?

Greetings
Klaas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c51c5ff-142c-fcaa-b7d4-dbfab61ca55f
* Version Independent ID: 3bb1f92e-8111-bf8f-

[2021-10-05 13:56] kengaderdus commented on #81200
reassign:kengaderdus

[2021-10-05 13:57] kengaderdus commented on #81200
#reassign:kengaderdus

[2021-10-05 13:58] kengaderdus commented on #80392
#reassign:kengaderdus

[2021-10-05 13:59] sivakumar05 opened #81964 "Process data in redis cache using python"
Hi All,

As relevant material for my problem not available, posting the question here.

Here is my requirement. In Redis cache, I have a set of parquet files and want to create a combined file in csv format using Python  and store it in  Redis cache. Please suggest me suitable approaches for my problem.

Thanks for sparing you time in reading my problem.

Thanks & Regards,
Siva Kumar

[2021-10-05 13:59] kengaderdus commented on #80691
#reassign:kengaderdus

[2021-10-05 14:11] RyanHill-MSFT commented on #81652
Hi @VerdonTrigance, I spent some time on this but haven't made any sort of progress with startup script so I can't confirm this. But, in looking at your error message, I'd saying try adding [ssh_setup](https://github.com/Azure-App-Service/node/blob/master/10.14/ssh_setup.sh) to your [Dockefile](https://github.com/Azure-App-Service/node/blob/e5bbc861ac8e2893e1d5c2fb2b3d96771f52f969/10.14/Dockerfile

[2021-10-05 14:11] #81652 closed

[2021-10-05 14:25] KranthiPakala-MSFT commented on #81727
@NestorJavier - As per the update from @sidramadoss, the relevant team is aware of this issue and are actively working on fixing it in the upcoming release. We will keep this thread once we have an ETA for the fix release.

We will now proceed to close this thread based on the above update. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We w

[2021-10-05 14:25] #81727 closed

[2021-10-05 14:25] thebitstreamer opened #81967 "Log format not current"
Application Gateway log format isn't up-to-date.
Format can be found in AzureDiagnostics is way different.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5f080ad-843f-d7be-eba6-2837993d052b
* Version Independent ID: b6f75acf-e3ed-f6c3-a29e-8f440eb0a9dd
* Content: [Back-end health and diagnostic logs - Azure Applicatio

[2021-10-05 14:31] MonikaReddy-MSFT commented on #81955
@SLNordPool - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-10-05 14:39] SaurabhSharma-MSFT commented on #81945
@svdHero Thanks for your feedback! We will investigate and update as appropriate.

[2021-10-05 14:41] SaurabhSharma-MSFT commented on #81964
@sivakumar05 To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either Microsoft Q&A or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2021-10-05 14:42] AshokPeddakotla-MSFT commented on #81881
@nikeshv Glad to hear it helped. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-10-05 14:42] #81881 closed

[2021-10-05 14:43] SaurabhSharma-MSFT commented on #81962
@LoGunr Thanks for your feedback! We will investigate and update as appropriate.

[2021-10-05 14:45] sijday commented on #81913
The page could highlight that Azure Defender can be enabled selectively based on service name.

1. First list the Azure Defender settings using:

get-AzSecurityPricing
This returns a list of services  and the pricing tier:
![image](https://user-images.githubusercontent.com/14942533/136045739-2d6b8f0b-39c6-43ca-a7b3-aca89c4d8ad3.png)

2. Set the standard tier for the required services e.g:

set-AzS

[2021-10-05 14:48] sivakumar05 commented on #81964
https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-python-get-started

Other than this link, I didn't find any references related to processing redis cache data using python. If required, I will post my query in Microsoft Q&A or StackOverflow.

Thank you Saurabh!

[2021-10-05 14:51] #81947 closed

[2021-10-05 15:00] Jaykul opened #81968 "Screenshot shows "doamin" instead of "domain""
I would send a pull request, but I don't think you want me to change the text to "doamin" 😉 and I don't own Contoso 😅

![image](https://user-images.githubusercontent.com/192942/136048543-7c5423a9-7b23-4c0e-81e1-bb2465d0efac.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd6b316b-c12f-6313-fdb3-302a883ca2b7
* Versi

[2021-10-05 15:00] seligj95 commented on #67835
Hi @RazanM1995, thank you for bringing up this gap, but as this is not a fully supported configuration by our internal teams and we don't have significant customer demand at this time for it, we can not add this to our official documentation at this time. Please let me know if any questions or concerns.

[2021-10-05 15:16] LoGunr commented on #81962
@SaurabhSharma-MSFT Ok, as far as I got it, problem has something to do with the ssh protection of my institution - I don't know if it's worth it to mention this in the documentation, but you can see this error as resolved.

[2021-10-05 15:16] #81962 closed

[2021-10-05 15:18] mingshen-ms commented on #78242
#reassign:@emuench Please work with Navit to address this feedback.

[2021-10-05 15:20] SubhashVasarapu-MSFT commented on #81968
@Jaykul , Thanks for reaching out. We will investigate and update this thread.

[2021-10-05 15:31] kobulloc-MSFT commented on #81959
@markleavesley, the label is not included in the configuration file--it is added as part of the import process:

**Portal**
There are two steps to an import in the portal:  Importing the file and then applying the import.  You will set the label during the second step:

![image](https://user-images.githubusercontent.com/37556655/136054205-a0c64b2f-70d8-47df-b16f-2d5de0f6dcab.png)

![image](https:/

[2021-10-05 15:36] iinuwa opened #81971 "Provide Product Information CSV with stable URL for latest data"
Thank you for providing the CSV . It would be great if there were a stable URL that we could use to download this file automatically and get the latest updates. The current URL has the release date in the file.

Providing a URL like:` https://download.microsoft.com/download/.../Product names and service plan identifiers for licensing vLatest.csv` and including the `Last-Modified` header in the res

[2021-10-05 15:41] PortableTech commented on #74487
Sorry, went on leave for a while, this looks great, thanks for your efforts.

Doug

On Thu, Sep 23, 2021 at 5:52 PM Nicholak-MS ***@***.***>
wrote:

[2021-10-05 15:43] a-illarionov opened #81972 "Typo on Page"
Found a typo in the documentation:

"Can I migrate my disks to Ultra disk using Azure Migrate?
No. Currently, both Azure Migrate and Azure Sire Recovery do not support migration to Ultra disks. Find steps to deploy Ultra disk here"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 678dc2af-a045-22ba-2b7c-a7dbf6ba2e64
* Ve

[2021-10-05 15:44] Nicholak-MS commented on #81971
Hi @iinuwa the next time we rev this file we can evaluate stabilizing the URL to not include the version. Not sure when that will be since the updates are not predictable, but will address this in next round of updates. Thank you for the feedback.

Thanks
Nick

[2021-10-05 15:45] Nicholak-MS commented on #74487
Awesome, thanks for confirming!

[2021-10-05 15:54] Oury-MSFT commented on #81919
Thank you @ealsur for your clarification.

[2021-10-05 15:55] bdcoder2 opened #81973 "No mention of bitwise operators in documentation?"
Are bitwise operators (^, &, |) and bitwise shift operators (<<, >>, >>>) supported by CosmosDB SQL queries?   They appear to be as queries such as the following can be executed successfully:

[code]
However, there seems to be no mention of bitwise operators within the "Operators" page found at:
[https://docs.microsoft.com/en-us/azure/cosmos-db/sql/sql-query-operators](https://docs.microsoft.com/e

[2021-10-05 16:01] VitalyMCT opened #81974 "Out of date content under "Check Azure AD permissions""
The steps there cannot be followed with the current AAD UI. Please review and sync as required. Other sections further down in the document may benefit from a review as well to see if they've been similarly impacted by Azure Portal changes.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11aaa091-1108-52f6-0066-0f4e939a

[2021-10-05 16:07] huzefaqubbawala commented on #81274
Hi,

Any update on this issue. We also have same issue where we have ACI deployed into VNET and now this ACI needs to call the external applications.

The external applications have IP address filtering rule and since container do not have static outbound IP we are not sure what can be used. We simply cannot use Azure Firewall suggested in docs due to its cost.

- Can we provide VNET range ?
- Is

[2021-10-05 16:12] SteveWohl commented on #81926
I made the edit to the DICOM Conformance Statement.  Refer to PR [174609](https://github.com/MicrosoftDocs/azure-docs-pr/pull/174609).

[2021-10-05 16:14] SwathiDhanwada-MSFT commented on #81972
@a-illarionov Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the doc within 24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2021-10-05 16:16] tamram commented on #46126
@vibhaskashyap - Can you tell me more about what you're looking for? Are you not able to get the example in this section to work?

https://docs.microsoft.com/azure/storage/blobs/storage-quickstart-blobs-cli#data-transfer-with-azcopy

[2021-10-05 16:19] #81972 closed

[2021-10-05 16:20] NestorJavier commented on #81727
It's ok and am glad to hear that someone is working on this issue, thank you for the time.

[2021-10-05 16:25] Willem-J-an opened #81976 "Missing note regarding serverless sql permission inheritance"
https://docs.microsoft.com/en-us/azure/synapse-analytics/security/synapse-workspace-understand-what-role-you-need#tasks-and-required-roles

Task (I want to...)	Role (I need to be...)	Synapse RBAC permission/action
Run a SQL script on a serverless SQL pool	**SQL permissions on the pool (granted automatically to a Synapse Administrator)**	none

The SQL permissions on a serverless pool seem only to b

[2021-10-05 16:28] DerekHerman-MSFT commented on #81960
@MattDolan Thanks for reporting this. I agree that it seems the document is contradicting itself here. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-10-05 16:37] sastry-namuduri opened #81977 "Issue with live video analytics when using real camera (with rtsp url)"
When we are trying live video analytics with a real camera streaming rtsp url, we are not able to see the object detections in the IOT Central. Only the simulated cam inferences are captured, only with the count and truck/bus images.

When we try to start LVA Processing, we noticed the below message in raw data -
        _"cmStartLvaProcessing": "LVA Edge start graph request: failed"_

Other than

[2021-10-05 17:05] AnuragSharma-MSFT commented on #81973
@bdcoder2 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-10-05 17:16] himanshusinha-msft commented on #81773
We have assigned the issue to the content author . They will evaluate & update the document as appropriate.
@leifbro  : Any thoughts on this ?

[2021-10-05 17:18] bandersmsft commented on #81712
https://github.com/MicrosoftDocs/azure-docs-pr/pull/174625

[2021-10-05 17:19] alex-frankel opened #81979 "Doc should have a full example of both creating, then moving the subscription"
As I understand it, in order to create and then move a subscription under an MG, the following needs to happen:

* nested template (or bicep modules) deploys `subscription/alias` and outputs the subscription ID
* in main template/bicep file, declare a `microsoft.management/managementGroups/subscriptions` using the output subscription ID above

Can we provide an example that does all both of these

[2021-10-05 17:20] bandersmsft commented on #81712
@ashkickindevelopment Sorrry for the delayed reponse. I've updated the article to address your issue. You had a good point. Here's the update I added for clarity:

Currently, the reservation administrator and reservation reader roles are are only available to assign using PowerShell. They can't be viewed or assigned in the Azure portal. For more information, see [Grant access with PowerShell](http

[2021-10-05 17:22] bandersmsft commented on #81943
https://github.com/MicrosoftDocs/azure-docs-pr/pull/174625

[2021-10-05 17:23] nitinme commented on #73051
Closing this issue based on the previous response

#please-close

[2021-10-05 17:23] #73051 closed

[2021-10-05 17:26] bandersmsft commented on #81943
@ashkickindevelopment Hey there. I replied a short while ago about the roles you mentioned in https://github.com/MicrosoftDocs/azure-docs/issues/81712. I updated the article for clarity with the following update:

Currently, the reservation administrator and reservation reader roles are are only available to assign using PowerShell. They can't be viewed or assigned in the Azure portal. For more in

[2021-10-05 17:26] #81943 closed

[2021-10-05 17:27] nitinme commented on #80182
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2021-10-05 17:27] #80182 closed

[2021-10-05 17:29] nitinme commented on #80022
Closing this based on the last comment.

#please-close

[2021-10-05 17:29] #80022 closed

[2021-10-05 17:32] nitinme commented on #79944
#reassign:jeffmend

[2021-10-05 17:32] nitinme commented on #79899
#reassign:jeffmend

[2021-10-05 17:34] nitinme commented on #80602
#reassign:jaydeepn

[2021-10-05 17:35] Svijay-msft commented on #81682
@xiaolangxyz

Thanks for bringing this to our attention .We are in discussion already regarding this.

There will be considerable time involved to go through internal reviews and finally reflect in the public documentation. Rest assured, there are steps taken towards updating document.

Having said that, we will proceed with the closure of this thread while we continue to work on your feedback at

[2021-10-05 17:35] #81682 closed

[2021-10-05 17:36] robsmi-msfte opened #81980 "Specifics for AzureUSGovernment"
- Could we put a section up top of the article such as "Applies To", regarding which Azure clouds this document applies to?
- Can we use this guide "as is" in Azure US Government?
- If there are any differences could those be called out in this article?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e20ba5e-78

[2021-10-05 17:37] nitinme commented on #81320
@trevorbye - Thanks for your continued contribution to make Speech content great. I'll reach out to the right contacts to find out whether this should be under an existing node or be a new node on its own.

[2021-10-05 17:38] nitinme commented on #81320
#reassign:PatrickFarley

[2021-10-05 17:39] GiftA-MSFT commented on #81961
@asears we'll review your feedback and get back to you shortly. Thanks!

[2021-10-05 17:40] YutongTie-MSFT commented on #81956
Hello @thebeautiful , it says "the private endpoint is on public preview". Where you saw the "GA"? I want to make the document consistent, please let me know. Thanks.

[2021-10-05 17:47] alex-frankel commented on #81979
I can try to submit a PR, but may not have the time short term. Is there anyone on the Subscription API team that can work on this? It would be good for the team to have this context as it will come up in customer conversations.

[2021-10-05 17:54] AbbyMSFT commented on #81407
#reassign:AbbyMSFT

[2021-10-05 18:03] himanshusinha-msft commented on #81958
We have assigned the issue to the content author . They will evaluate & update the document as appropriate
@leifbro : for visiblity .

[2021-10-05 18:04] anastasia-ms commented on #69895
@SatishBoddu-MSFT This case already covers the issue. I am working to resolve it now. Please close this one.

https://github.com/MicrosoftDocs/azure-docs/issues/67985

[2021-10-05 18:04] himanshusinha-msft commented on #81976
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-10-05 18:06] #69895 closed

[2021-10-05 18:21] DonadoJuan commented on #67794
Still waiting for this update. I was also a victim of poor documentation 👎

[2021-10-05 18:27] SatishBoddu-MSFT commented on #68274
#

[2021-10-05 18:29] Justinha commented on #80195
@abates100 sorry for delay and thanks for raising this. You are right, it's confusing to refer to Next steps in this case because you should really have the UPS service account name before you even begin. This is mentioned in the prerequisites but I added how to get the account name and clearer links to more info.

[2021-10-05 18:31] #80195 closed

[2021-10-05 18:39] MonikaReddy-MSFT commented on #81626
@hctrr - Thanks for providing the details.

Since this request does not fall under azure docs.microsoft.com, Please view our blog on data and law enforcement. You can also check out the Microsoft legal page and if you have additional questions, you can reach out to Microsoft legal at the following number.
https://news.microsoft.com/microsoft-public-relations-contacts/
https://www.microsoft.com/en-

[2021-10-05 18:39] #81626 closed

[2021-10-05 18:42] AbeOmor commented on #81556
Added the link to this doc: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-access-azureml-behind-firewall?tabs=ipaddress#microsoft-hosts.. It will show users how to ensure the right hosts are not blocked

[2021-10-05 18:42] MonikaReddy-MSFT commented on #81874
@comi87 - Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2021-10-05 18:42] #81874 closed

[2021-10-05 19:20] var-ka opened #81982 "can i perform lift and shift SQL Server 2016 Always on with Windows FC using azure migrate"
we have 2 node sql server always on (without shared disk) using WFC, how can i migrate vm's as-is using azure migrate?
what are the challenges comes across, how cluster will be rebuilt in azure once migrated?
I'm unable to find complete information on this,
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-10-05 19:23] Blackmist commented on #81948
Thanks for the feedback @Nozziel I'll check with engineering to verify which template we should link to and update the article.

[2021-10-05 19:25] kobulloc-MSFT commented on #81959
@markleavesley, thank you for your question.  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-10-05 19:25] #81959 closed

[2021-10-05 19:53] MonikaReddy-MSFT commented on #81979
@alex-frankel - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-10-05 19:54] SubhashVasarapu-MSFT commented on #81747
@Honglin6270-Li, Apologies for the delay in response. Request body is only inspected with DRS 2.0 or higher. This has been documented in our FAQs for you reference.

![image](https://user-images.githubusercontent.com/44890829/136093016-0a269200-006a-4189-95b1-7a1ad5f0acc4.png)

Ref:https://docs.microsoft.com/en-us/azure/web-application-firewall/afds/waf-faq#what-content-types-does-waf-support-

We

[2021-10-05 19:54] #81747 closed

[2021-10-05 20:00] jlichwa commented on #81188
@wolfejonny and @MahaSPR I can't reproduce it. I executed commands in Azure Cloud Shell (Powershell engine)  with cli commands:
![image](https://user-images.githubusercontent.com/52512203/136094155-3c53789c-ec57-4372-8018-7d5f163ca0c3.png)

[2021-10-05 20:07] bandersmsft commented on #81979
@alex-frankel Hi there. I'm unable to make the update to the article that you want, so I'm closing this issue. I'm checking with the engineering team to see if someone there can make the update you want.
#please-close

[2021-10-05 20:07] #81979 closed

[2021-10-05 20:18] mike-urnun-msft commented on #81954
Hello @dlepow - Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-10-05 20:22] #80620 closed

[2021-10-05 20:24] ealsur commented on #81919
The graphic has been updated to avoid confusion on available combinations

[2021-10-05 20:29] JnHs commented on #80965
Hi @AlbertoPA - thanks for taking the time to share this feedback. I've created a work item based on your suggestion to update this topic, and will work with the product team to triage against other documentation work in the future.
I'm going to close this issue now but please let us know if you have further suggestions or questions. Thanks again for sharing your feedback to help us improve our do

[2021-10-05 20:34] danbu commented on #81738
@vipulsparsh So that article is again talking about device based authentication we only use 802.1x with User based RADIUS authentication not certificates using MSCHAPv2 PEAP

[2021-10-05 20:35] #81948 closed

[2021-10-05 20:41] stewartadam opened #81984 "Specify minimum subnet prefix for Monitor private link"
Docs should specify the minimum subnet prefix / subnet size required for using AMPLS. From my own basic deployment, it looks like it needs at least 11 hosts, so likely a /27 factoring in the Azure-reserved hosts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b6378de-a16e-25f9-910b-12d2f43a04d5
* Version Independent I

[2021-10-05 20:54] DerekHerman-MSFT commented on #81963
@Klass- In general we recommend using private endpoint and having that as the gatekeeper for access. There is the preview ability for [Private Link Network Security Group Support](https://azure.microsoft.com/en-us/updates/public-preview-of-private-link-network-security-group-support/) which in theory might work, however you would need to whitelist every IP in the NSG.

[2021-10-05 20:57] skeltonsc opened #81985 "Python 3.6 on RedHat8 cannot connect to Azure Servicebus when FIPS is enabled"
Good day, I have a simple Python3.6 script that needs to connect to AzureServiceBus from a Redhat 8 VM running in Azure

If I switch FIPS off then my script works and can connect to Azure ServiceBus and reciveces messages as expected

But when FIPS is enabled I get the following error

$python3 test.py
Loading models...
2021-10-05 16:51:50,582 loading file sentiment_detector/sentiment-en-mix-disti

[2021-10-05 21:05] Klaas- commented on #81963
so there is no additional access limitation/auth planned on the storage account side of things for nfs? Only option that could happen in the near future is a private endpoint nsg?

[2021-10-05 21:14] NathanTheGr8 opened #81987 "Dynamic Rule Example error"
When I try to use the example rule for devicePhysicalIds I get an error.

Failed to save dynamic group. Dynamic membership rule validation error: Invalid operands found for operator.

(device.devicePhysicalIDs -any _ -contains "[ZTDId]")

When I try to input it into Azure quotes get put around "_ -contains "[ZTDId]""
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2021-10-05 21:17] #81971 closed

[2021-10-05 21:32] yvztzn commented on #81934
@RyanHill-MSFT suggested in #79483 to mimic Apache rewrite rules. I followed [nginx configuration for Laravel applications](https://www.digitalocean.com/community/tutorials/how-to-install-and-configure-laravel-with-nginx-on-ubuntu-20-04). I have overwritten the `root`, `index`, and `location /` sections in the /etc/nginx/sites-enabled/default file but I couldn't re-start nginx because web ssh tell

[2021-10-05 21:35] Oury-MSFT commented on #81897
@SarveshPandey Please check my comment above and let us know if you have additional queries?

[2021-10-05 21:47] SLNordPool commented on #81955
Thank you @MonikaReddy-MSFT.  I personally was surprised and did not think this was the correct place for this, but the technician I was dealing with told me very clearly in both email and over the phone that I should report this product defect here, to the documentation team for Azure-Docs, and that would would then be addressed by the product group.  He linked me specifically to here in support

[2021-10-05 21:58] SnehaGunda commented on #81545
#please-close

[2021-10-05 21:58] #81545 closed

[2021-10-05 22:12] SaurabhSharma-MSFT commented on #81977
@sastry-namuduri To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either Microsoft Q&A or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2021-10-05 22:14] xiaolangxyz commented on #81681
@myles-mcleroy
`https://<myaccount>.table.cosmos.azure.com/<mytable>/` in my case, it works fine.
The version of azcopy i'm using is AzCopy 7.3

[2021-10-05 22:19] Klaas- commented on #81963
okay, thanks, will watch out for those nsgs to become available in my region of choice

[2021-10-05 22:19] #81963 closed

[2021-10-05 22:20] normesta commented on #81305
Thanks for raising @shraboin . The [Storage Blob Data Owner](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#storage-blob-data-owner) role has all three tags permissions.  Under "Data actions" of the role description appears this: Microsoft.Storage/storageAccounts/blobServices/containers/blobs/*. The wildcard symbol "*" means all actions in that path. This includes

[2021-10-05 22:20] #81305 closed

[2021-10-05 22:20] #81320 closed

[2021-10-05 22:37] jeremysimmons opened #81989 "Microsoft.Rest.ValidationException: 'Subscriptions' cannot be null."
when running, I get this exception
[code]

this seems to be the fix
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64357369-e0dc-3708-6a8b-8ec1f84ab011
* Version Independent ID: 5eee343d-cdfb-b911-7576-0cedf5556a63
* Content: [Quickstart: Your first .NET Core query - Azure Resource Graph](https://docs.microsoft.

[2021-10-05 22:48] SrijitBose-MSFT commented on #81475
Service principals and managed identities can use OAuth 2.0 scopes in either a _delegated context_ that is **impersonating a signed-on user**, or as service account in the _application context_. In the _application context_ it **does not need a signed-on user**. [[Reference](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/service-accounts-governing-azure#use-the-principle-of-l

[2021-10-05 23:30] normesta commented on #75380
Updated best practices article to drive visibility into the access control model article. #please-close

[2021-10-05 23:30] #75380 closed

[2021-10-05 23:30] normesta commented on #74213
Thanks for the suggestions! We've refactored the best practices article to include more of the points that you mention. Thank you!

#please-close

[2021-10-05 23:30] #74213 closed

[2021-10-05 23:33] tosweet commented on #81132
Hi @BharathNimmala-MSFT , the link is still incorrect as it is not redirecting to a form, but now to : https://github.com/MicrosoftDocs/azure-docs/edit/master/articles/marketplace/integrated-solutions-for-publishers.md

Do you know the correct link that should be here?

[2021-10-05 23:34] dlepow commented on #81448
@bplasmeijer - Yes, you can make a PR and we'd be happy to review it! Instructions begin here: https://github.com/MicrosoftDocs/azure-docs/blob/master/CONTRIBUTING.md
Thanks a lot

[2021-10-05 23:53] MM-MikeM opened #81990 "Speculating if the segment of the statement/sentence "The Microsoft identity platform only supports ROPC for Azure AD tenants, not personal accounts..." is better articulated as "The Microsoft identity platform only supports ROPC within Azure AD tenants, not personal accounts". emphasis on "within" instead of "for" with respect to clarity and realm, e.g. LAN vs Public Internet."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3eac288-4ddd-1099-1c86-885aa42a566f
* Version Independent ID: 190585ca-8337-0644-2182-75b77f53c175
* Content: [Sign in with resource owner password credentials grant - Microsoft identity platform](https://docs.microsoft.com/en-us/azure/active-directo

[2021-10-06 00:28] Justinha commented on #80993
@Jeff-Jerousek thanks for raising this and sorry for delay. It's good to hear about the importance of maintaining the date for readers like you and yes, we will try to do better. Date updated now.

#please-close

[2021-10-06 00:29] #80993 closed

[2021-10-06 00:57] IanJCoombs opened #81991 "Documentation notes header values limited to 128 but it seems that this has increased to 640"
<img width="720" alt="firefox_UCcPIBPTAI" src="https://user-images.githubusercontent.com/26531005/136124022-4d0b47ae-6583-458c-b1d2-88922e714c17.png">

<img width="168" alt="firefox_sMlLHADKap" src="https://user-images.githubusercontent.com/26531005/136124028-2e3ca91e-e5e6-4760-8533-ba57ab6b1aeb.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-10-06 01:21] ChaitanyaNaykodi-MSFT commented on #81991
Hello @IanJCoombs,
Thank you for your feedback! We will review and update as appropriate.

[2021-10-06 01:22] ChaitanyaNaykodi-MSFT commented on #81980
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-10-06 01:26] IanJCoombs opened #81992 "Tutorial would benefit from example of long content security policy"
Content security policies can get very long. Twitter has an incredibly long CSP as an example.

This tutorial would benefit from an explanation of how to build a long CSP in the Rules Engine like the following.

<img width="762" alt="firefox_Vvk2QyJd69" src="https://user-images.githubusercontent.com/26531005/136124839-29551620-9bdc-4d88-9b53-81adae1e5eff.png">

It would benefit from explaining the

[2021-10-06 01:29] mike-urnun-msft commented on #81557
Hello @LPalmerMSI - Apologies for the delay. Regarding 1 and 3, both Table Storage and Table API (from CosmosDB) share a [unified Azure Table SDK](https://devblogs.microsoft.com/azure-sdk/announcing-the-new-azure-data-tables-libraries/). I agree with your feedback that the link should be pointed to a doc that provides the Azure Table Storage context as well so I have re-linked to: https://docs.mic

[2021-10-06 01:40] coolhome commented on #73161
This may be potentially fixed by this PR microsoft/ApplicationInsights-dotnet#2362?

[2021-10-06 01:59] technion commented on #81940
Hi James,

I appreciate the assignment but I'd ask if a suitable person could look closer at this.

The script itself names its author as @Ahmad Yasin.

The author you referred this to was already tagged on https://github.com/Azure-Samples/azure-mfa-nps-extension-health-check/issues/18 in May, an issue describing the repository as abandoned and having no maintainer. They don't haven't made a commi

[2021-10-06 02:04] mike-urnun-msft commented on #81589
Hi @miqm - Partition and Row keys are pieces of data points that get included in the overall output data to your Azure Table Storage. They are used for structuring your data within the Azure Tables Storage, and you define them either in your functions.json or through Attributes/Annotations (in case of c# and Java) as instructed in this doc. For guidance on how to design a scalable partitioning str

[2021-10-06 02:04] #81589 closed

[2021-10-06 02:06] dpapkin opened #81993 "GUI drift"
[Enter feedback here]

The instructions have drifted alot on creating the public IP . Is on a different tab now and must create a frontend IP name and new public IP. Please correct.

Thank you.

David Papkin
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0ac55b8-8be8-1f86-e3b1-3fe3f6c340c1
* Version Independent ID: c26

[2021-10-06 02:23] MonikaReddy-MSFT commented on #81955
@SLNordPool - Thank you very much for providing more insights on the issue you are facing. Let me look into the support case and will get back to you as soon as I have an update.

[2021-10-06 02:31] Siby22071989 opened #81994 "Quota limit price"
[Enter feedback here]

Can you please add a feedback stating that there is no cost associated with increasing quota only cost associated with utilizing the same. I have been getting a lot of partner requests stating if there is a price associated with quota increase. A one liner should provide clarification on the same
---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2021-10-06 03:46] BryanTrach-MSFT commented on #81705
@JayaChat Thank you for the questions and feedback.

1. There is not currently any documentation available but the product group shared they are aware of this gap and will have some Blazer samples coming out but did not have an ETA to share.
2. For this, we would recommend you utilize the call recording functionality listed [here](https://docs.microsoft.com/azure/communication-services/quickstarts

[2021-10-06 03:46] #81705 closed

[2021-10-06 03:46] lariasjaen opened #81995 "Is the AEM extension is supported for RHEL8?"
[Enter feedback here]
Is the AEM extension is supported for RHEL8?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ea8dbf7-4305-1342-c073-8c7b20564fd3
* Version Independent ID: a3692496-1cf4-854c-94da-419058bd3e60
* Content: [Azure Virtual Machines deployment for SAP NetWeaver - Azure Virtual Machines](https://docs.mic

[2021-10-06 03:59] VikasPullagura-MSFT commented on #81982
@var-ka
Thanks for your Question! We are currently investigating and will get back on this.

[2021-10-06 04:15] HarshitaSingh-MSFT commented on #81637
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-10-06 04:15] #81637 closed

[2021-10-06 04:15] HarshitaSingh-MSFT commented on #81866
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-10-06 04:20] shashishailaj commented on #81990
@MM-MikeM Thank you for providing your inputs on this . We will have this reviewed with the content team and take it forward.

[2021-10-06 04:27] RohitMungi-MSFT commented on #81985
@skeltonsc Thanks for posting an issue on Azure docs repo. It would be great if you could mention the link to Azure documentation that you followed before seeing this error, this would help us route the issue to the appropriate team. Thanks!!

[2021-10-06 06:25] GitaraniSharma-MSFT commented on #81106
@quekmc , thank you for suggestion. We have assigned this to the content owner/author for review.

@KumudD , could you please review the suggestion and provide your inputs?

[2021-10-06 06:27] vipulsparsh commented on #81738
@danbu Its not possible then as of now.

[2021-10-06 06:27] #81852 closed

[2021-10-06 06:49] MSSedusch commented on #81995
@lariasjaen there are two versions of the VM Extension for SAP (formerly known as AEM). The new version does support RHEL8:
https://docs.microsoft.com/azure/virtual-machines/workloads/sap/deployment-guide#2ad55a0d-9937-4943-9dd2-69bc2b5d3de0

[2021-10-06 06:52] dan-jackson-github opened #81997 "Hi, this document should include a section on the requirement to create role assignments to the AKS service principal in the case of a brownfield deployment. If you do not do this, then the AGIC pod fails to read or write to Application Gateway (or atleast it did in my case, where the application gateway was in a different resource group)"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94bdeded-846e-526c-8ce3-77ee36ffa852
* Version Independent ID: 7d768d5c-0318-25f1-38f8-7a2ee15c1c41
* Content: [Tutorial: Enable Ingress Controller Add-On for existing AKS cluster with existing Azure Application Gateway](https://docs.microsoft.com/en-

[2021-10-06 06:57] huzefaqubbawala commented on #68917
Is there any update on this ?

[2021-10-06 07:47] lightupdifire opened #81998 "License coverage requirements for MFA registration policy"
Hello,

Somehow didn't found in the article license combination options for this setup for MFA registration policy...
We have about 200 users with normal MS365 E3 license, but IT and Security admins use additionally the MS 365 E5 Security,
License-based, can we enable all users the "MFA registration policy"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2021-10-06 07:50] jun110-ms opened #81999 "About Communication from Workspace-based Application Insights to Log Analytics Workspace"
I think the AMPLS exception would also include telemetry transfers from Workspace-based Application Insights resources to Log Analytics workspaces.
Could you please confirm this?

![image](https://user-images.githubusercontent.com/76590599/136161800-866cc8d0-c988-4ccd-98fc-d463fe15ddc4.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2021-10-06 07:52] ducalai opened #82000 "Self-service reset password User flow do not include Custom Attribute claim in Token"
[Enter feedback here]
I've created a Signin User Flow and I've enabled Password Reset following your [recommandation](https://docs.microsoft.com/en-us/azure/active-directory-b2c/add-password-reset-policy?pivots=b2c-user-flow#self-service-password-reset-recommended).

I've also added a custom attribute in the token by adding an API connector on the Signin User Flow as explained [here](https://docs.

[2021-10-06 08:01] josersleal opened #82001 "vendor locking it seems"
[Enter feedback here]

All examples require using active directory. OAuth2 implementation should be agnostic.
Provide examples that do not require Azure AD or clearly specify that it is a must have.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa82acc4-680a-1431-f4fc-4848e8efe2ce
* Version Independent ID: fbf31137-c5

[2021-10-06 08:11] yoelhor commented on #80998
Closing due to inactivity.

#please-close

[2021-10-06 08:12] nikeshv opened #82002 "IOT hub route to storage account is base64 encoded"
[Enter feedback here]

As per the above documentation, I have created an Route to blob storage account and chose JSON instead of AVRO. I sent contentType ->application/json and
contentEncoding->UTF-8 in the system properties.
But I can see the message is written to Blob storage container as JSON, but the body inside is encrypted. How do we control/not to choose encryption?

---
#### Document Detai

[2021-10-06 08:20] aelij opened #82003 "Add ARM template / Bicep examples for Redis Private Link"
It's very hard to find this information (only way I could find it is deploying via the portal and Export Template).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c95686d6-5fbc-9466-ec62-ebbc8ca6c99f
* Version Independent ID: d82df904-94bd-47fc-5029-75babc6d36b0
* Content: [Azure Cache for Redis with Azure Private Link

[2021-10-06 09:00] Artanor opened #82005 "Linked information out of date."
link at the bottom of the page for installing views contains out of date information.
https://docs.microsoft.com/en-gb/azure/active-directory/reports-monitoring/howto-install-use-log-analytics-views

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1eb6343-c4d6-6b06-f2eb-1c9435f997f3
* Version Independent ID: 7413b72d-83

[2021-10-06 09:03] AshokPeddakotla-MSFT commented on #82002
[@nikeshv](https://github.com/nikeshv) Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-10-06 09:05] Artanor opened #82006 "Process is out of date."
The steps in this article cannot be followed. It seems the View Designer has been retired and replaceed with Workbooks but I cannot find any equivalent workbooks for AzureAD signin and audit logs.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1fcfaf5b-78ea-ac05-bebe-806430114ca9
* Version Independent ID: a6264958-2d6d

[2021-10-06 09:10] SarveshPandey commented on #81897
Yes, The requirement is for both

[2021-10-06 09:17] mattias-fjellstrom commented on #22673
I'm also interested in this issue. I use a Swedish keyboard layout and can't figure out how to use the G+/ shortcut.

[2021-10-06 09:24] davyvanlaere opened #82007 "ApplicationInsights class not found?"
I am unable to import the ApplicationInsights class in the last version of the package, was it renenamed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebdee286-4d22-71fe-2f0e-f33c965945ab
* Version Independent ID: 6a26cfc5-39e5-2f64-108f-4bff7c409f23
* Content: [Angular plugin for Application Insights JavaScript SDK

[2021-10-06 09:27] JonesMikael opened #82008 "Clarify if you during October 2021 also will run the Set-SPOTenant cmdlets"
You mention that _Starting October 2021, the email one-time passcode feature will be turned on for all existing tenants_. Can you please also clarify if you during October 2021 till run the cmdlets mention [here](https://docs.microsoft.com/en-gb/sharepoint/sharepoint-azureb2b-integration) to enable the SharePoint and OneDrive integration with Azure AD B2B?

Set-SPOTenant -EnableAzureADB2BIntegrati

[2021-10-06 09:50] Structed commented on #81545
Cool stuff, next time I won't go the extra mile of providing the fix if you're doing the same work yourself anyways :P

[2021-10-06 10:30] Arnab6 opened #82009 "Unable to Connect Send Message From Downstream Device To Pratent Edge Device"
Hi Team,

I was implementing this Transparent gateway, where  downstream devices need to communicate  with the parent edge device

for the child to parent communication

 "FROM /messages/* WHERE NOT IS_DEFINED($connectionModuleId) INTO BrokeredEndpoint(\"/modules/someModule/inputs/input1\")"

For the parent to child communication, this is the route -

: "FROM /messages/modules/DataReceiveModule/ou

[2021-10-06 10:33] SwathiDhanwada-MSFT commented on #81999
@jun110-ms Thanks for your comment.

Assigning to content author @noakup  for review.

[2021-10-06 10:33] SwathiDhanwada-MSFT commented on #82007
@davyvanlaere Thanks for your comment. We will review the issue and get back to you shortly.

[2021-10-06 10:49] ianrandell-sh opened #82010 ""Due to system overhead, this limit is less than these values" is confusing"
"Due to system overhead, this limit is less than these values" is confusing. I am not exactly sure what it means.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17b26254-ce8c-76eb-c3e9-b80c3ecc45ba
* Version Independent ID: fc16f0d4-dae7-8494-e25a-6c5398215b4b
* Content: [Microsoft Azure Service Bus quotas and limits -

[2021-10-06 10:57] TheKangaroo commented on #46511
Why is this closed? It is still not possible to use NSG Rules for Private Endpoints.

[2021-10-06 11:07] mila8707 opened #82011 "Updated diagram to help understand full setup"
[Enter feedback here]

BGP peering line added to Picture

![image](https://user-images.githubusercontent.com/10940627/136191280-eeb1a8ba-a69e-474e-83db-2ea625e024d9.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63def219-0f30-14e1-9069-dcef63e304e9
* Version Independent ID: 4b04353b-672a-458b-61b4-1e6de831b68a
* C

[2021-10-06 11:09] kengaderdus commented on #81200
#please-close

[2021-10-06 11:12] J-a-k-o-b opened #82013 "Powershell Parameter is not available"
Hi,
when trying to enable the system managed identity for an Azure Automation Account using the PS command mentioned in https://docs.microsoft.com/en-us/azure/automation/enable-managed-identity-for-automation#enable-using-powershell
is not working. The Parameter -AssignSystemIdentity is not part of of the latest PS Module 2.5.3 and also not in the version 2.2.8 which is mentioned in the article

!

[2021-10-06 11:15] Klaas- commented on #80205
Hi @pvrk
so I don't think this was fixed :)
https://github.com/Klaas-/msawb-plugin-config-com-sap-hana.sh/commits/main
4 Hours ago it was serving 2.0.9.0
3 minutes ago it was serving 2.0.8.5
so unless you pulled 2.0.9.0 this seems like your CDN again :)

[2021-10-06 11:16] PramodValavala-MSFT commented on #82010
@ianrandell-sh Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

I believe the intention here is to call out that system properties also take up some of the limit size, so actual maximum message content size would be smaller than the full limit. @spelluru Could you confirm?

[2021-10-06 11:27] PramodValavala-MSFT commented on #82001
@josersleal OAuth 2.0 is the industry-standard protocol for authorization. Azure AD like many other identity providers implements this. This doc simply uses Azure AD as one option, but similar steps would be needed for other identity providers as well. APIM supports OAuth 2.0 and doesn't really check for Azure AD in anyway.

I suppose having detailed steps for other providers would be good to have

[2021-10-06 11:43] cpinotossi opened #82014 "Better description of lifecycle rule blob prefix match syntax"
Hello,
it would be very helpfully if you could gave also an example of how to match just a container and all included blobs.
Would that be "mycontainer/" or would it be "mycontainer" or even "mycontainer/*".
NOTE: I believe the first one is the right one but it would be helpfully to clarify this.
thanks
Christian

[2021-10-06 11:46] shashishailaj commented on #82005
@Artanor Thank you for your feedback . We will review this with content team and update the thread .

[2021-10-06 11:47] shashishailaj commented on #82000
@ducalai Thank you for your query . We will investigate and update the thread.

[2021-10-06 11:49] SaiKishor-MSFT commented on #82011
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-10-06 11:49] cpinotossi commented on #82014
Just found the following link which does proof me to be wrong the second option (w/o slash) would have been the right one:
https://docs.microsoft.com/en-us/answers/questions/139922/in-azure-blob-lifecycle-management-how-do-you-matc.html
This shows again that it seems not to be intuitive to find the right match syntax for a whole container.
Maybe you can update the documentation to include it.

[2021-10-06 11:54] shashishailaj commented on #82006
@Artanor Thank you for pointing that out. We will engage the content team to get this reviewed .

[2021-10-06 12:06] SaiKishor-MSFT commented on #81997
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-10-06 12:16] Rogueit opened #82015 "The permissions are wrong for the api call."
You all have Organization listed and it need directory. I don't know if It only needs directory and not organization or both but I was getting 403 until I added directory

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e0a0671-953a-7797-6e0c-6616420f4c3b
* Version Independent ID: a2de95d1-67b2-bcc6-402f-f5d23c53d13a
*

[2021-10-06 12:17] kengaderdus commented on #81792
Resolved

#please-close

[2021-10-06 12:19] KrishnaG-MSFT commented on #82013
@J-a-k-o-b Thanks for the question! We are investigating and will update you shortly.

[2021-10-06 12:36] snitkjaer opened #82016 "Which Microsoft office apps support AAD shared mode on Android?"
It is described how to create your own app but many orgs would also like to use office apps like Outlook and Teams on shared devices with SSO.

Which Microsoft office apps support AAD shared mode on Android?

---
#### Dokumentoplysninger

⚠ *Undlad at redigere denne sektion. Det er påkrævet til docs.microsoft.com ➟ GitHub-problemlinkning.*

* ID: 0072c083-6b6c-2d36-d70f-4d63da44d178
* Version Inde

[2021-10-06 12:46] ram-msft commented on #81876
@BruceHaley Thanks for the details. [Create the Azure Bot resource](https://docs.microsoft.com/en-us/azure/bot-service/abs-quickstart?view=azure-bot-service-4.0&tabs=csharp#create-the-resource), which will allow you to register your bot with the Azure Bot Service.
 Web App Bot and Bot Channels Registration are deprecated but existing resources will continue to work. You should use Azure Bot, inste

[2021-10-06 13:10] DeanGross opened #82017 "Compliance Reader is missing"
Please add the Compliance Reader role
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Independent ID: a380a828-03f9-e037-3a62-e4165fda7cb6
* Content: [Azure AD built-in roles - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-

[2021-10-06 13:12] drmarkrwarnes commented on #81236
Was about to raise the same issue and noticed this thread. I would add though that the second example scenario (_Maintain different activation policies for different sets of users to access an Azure AD or Azure resource role_) also refers to method 1 as the means to achieve it. As with the other scenario as observed by @matflol, it does not work using method 2.

[2021-10-06 13:23] cweining commented on #80515
@mle-ii The sampling trigger controls the random profiling. If the other triggers don't fire, we still collect profiling data at random times. The normal setting collects data 5% of the time, which is about 2 minutes and hour. The high setting profiles 50% of the time and the maximum profiles 75% of the time. If you turn this trigger off, we won't profile randomly at all.

[2021-10-06 13:24] shashishailaj commented on #82017
@DeanGross Thank you for pointing that out . We will engage the content team to review and update .

[2021-10-06 13:24] asergaz commented on #81910
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-10-06 13:24] #81910 closed

[2021-10-06 14:09] darrengillis opened #82022 "(Preview) designation"
When creating a new app in LUIS, the following 'Cultures' are designated as '(Preview)' in the drop-down list:

Arabic - (Preview)
Gujarati Indian - (Preview)
Hindi Indian - (Preview)
Marathi - (Preview)
Tamil Indian - (Preview)
Telugu Indian - (Preview)

However, only Arabic is designated as '(Preview)' in the 'Languages supported' section of the documentation.  This should be consistent.

---
##

[2021-10-06 14:54] GiftA-MSFT commented on #82022
@darrengillis we'll review your feedback and get back to you shortly. Thanks.

[2021-10-06 15:26] shashishailaj commented on #82015
@Rogueit Thank you for confirmation . We will have this reviewed with the content team and update as necessary .

[2021-10-06 16:00] spelluru commented on #81627
Updating this screenshot and other screenshots as well.

[2021-10-06 16:02] spelluru commented on #82010
@PramodValavala-MSFT - I think so. I will confirm with the product team and update the issue. Thanks.

[2021-10-06 16:05] ChaiSwaddipong opened #82028 "Is it the same as just deploying the VMs?"
Hi,

Would I get the same benefits if I just deploy the VMs I need without having to create any Reserved Capacity?

_"Once deployed, capacity is reserved for your use and always available within the scope of applicable SLAs
Can be deployed and deleted at any time with no term commitment
Can be combined automatically with Reserved Instances to avail term commitments discounts"_

Thanks,

Chai

---

[2021-10-06 16:07] olk25 opened #82029 "Missing products!"
We're missing products, please add them:

skuId, skuPartNumber, Product_Display_Name
- d52db95a-5ecb-46b6-beb0-190ab5cda4a8, BUSINESS_VOICE_DIRECTROUTING, Microsoft 365 Business Voice (without calling plan)
- be9f9771-1c64-4618-9907-244325141096, D365_SALES_PRO, Dynamics 365 Sales Professional
- 245e6bf9-411e-481e-8611-5c08595e2988, D365_SALES_PRO_ATTACH, N/A

---
#### Document Details

⚠ *Do not

[2021-10-06 16:13] realrubberduckdev opened #82030 "Azure resource graph ms-expand result limit"
The documentation doesn't say anything about limitations of [`mv-expand`](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/mvexpandoperator) operator.

The `mv-expand` doc says legacy `mvexpand` has a row limit of 128. But that is the behaviour we see when we use `mv-expand` in azure resource graph query.

Is `mv-expand` in azure resource graph using the legacy `mvexpand`? Is it a

[2021-10-06 16:19] VitalyMCT opened #82031 "Requirement to enable "admin" access"
Regarding:

The Admin User is disabled by default upon resource provisioning. This is done for very good security reasons, including PoLP.

What's the reason for this advice and is it still current?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd52d297-e2d9-9a51-3ed6-05c33f521672
* Version Independent ID: b9f21bef-49

[2021-10-06 16:36] erwinsalubre commented on #81475
@SrijitBose-MSFT Just as I thought it is so I granted my Service Principal the above permission. However, the error log I sent you above was produced with these permissions so something might have missed when migrating services from Azure AD Graph to MS Graph.

[2021-10-06 16:46] deadbeef-development commented on #37847
Wasn't the case for me, for I triple checked that all my IDs were correct...

[2021-10-06 17:22] mysoultan opened #82035 "Bug:"
The repo container three version.

in version v0.1.1 gives Error: unable to build kubernetes objects from release manifest: unable to recognize "": no matches for kind "Deployment" in version "apps/v1beta2".. I have checked the templates, and found that that the apiversion stil referring to apiVersion: apps/v1beta2.. where the K8s version is 1.20

in version 0.3.3.. it gives the following error Er

[2021-10-06 18:01] SarveshPandey opened #82037 "unclear understanding in LookupNewWatermarkActivity"
Hi Team,

I am following this doc to build the load multiple files but when i came across to "LookupNewWaterMarkActivity" the Query is unclear - **select MAX(@{item().WaterMark_Column}) as NewWatermarkvalue from @{item().TABLE_NAME}**

The term MAX(@{item().WaterMark_Column}) is unclear to me how it works i check the step there is not calling or alias of it not even in Stored Procedure.

Please he

[2021-10-06 18:17] anavinahar commented on #81856
Thanks for feedback, we have a dedicated doc for this within the Firewall docs and would like to keep them separate

#please-close

[2021-10-06 18:17] #81856 closed

[2021-10-06 18:21] irenehua commented on #80499
Issue has been fixed.
#please-close

[2021-10-06 18:21] #80499 closed

[2021-10-06 18:26] #80263 closed

[2021-10-06 18:27] mle-ii commented on #80515
Thank you both, helps a lot.  :)

[2021-10-06 18:42] OverengineeredNetwork opened #82039 "Cannot dismiss or postpone recommendations"
Admittedly, this feedback may be more related to the product than the documentation, but not all of the Advisor recommendations can be postponed. Particularly:

- Enable Adaptive application controls
- Endpoint protection should be installed on your machines
- Azure Defender for SQL on machines should be enabled on your workspace
- Azure Defender for servers should be enabled on your workspace

Gr

[2021-10-06 18:45] Grace-MacJones-MSFT commented on #81917
Thanks again for the feedback! I have submitted a PR to update the doc, the change is merged internally and will go-live in the public docs shortly.

[2021-10-06 18:45] #81917 closed

[2021-10-06 18:55] mmisztal1980 opened #82040 "Azure Monitor AMPLS & private webhooks"
[Enter feedback here]

This page fails to illustrate if it's possible to call HTTP webhooks hosted, which are hosted in a private network.

Example usecase:
- Azure monitor alert triggering a webhook which needs to apply an action on an AKS cluster (rollback, service restart etc.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2021-10-06 19:10] MicrosoftGuyJFlo commented on #77874
Pinged author again

[2021-10-06 19:17] shanecastle-osharp opened #82042 "Update on Oracle Application Certification?"
The article states: "Oracle will certify these applications to run in Azure when using the Azure / Oracle Cloud interconnect solution by May 2020"

Any updates on certification?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ade0791-c3df-26a0-3cc5-447c1c3a4430
* Version Independent ID: dc92c106-d262-7a94-a35f-31e4cd78

[2021-10-06 19:19] kengaderdus commented on #80392
@LockTar We have added a section about how to remove extension/custom attribute for both user flow and custom policy.

#please-close

[2021-10-06 19:19] #80392 closed

[2021-10-06 19:20] spelluru commented on #81627
Fixed now.
#please-close

[2021-10-06 19:20] #81627 closed

[2021-10-06 19:21] #80986 closed

[2021-10-06 19:32] cephalin commented on #81810
#reassign:msangapu-msft

[2021-10-06 19:34] #81805 closed

[2021-10-06 19:37] anumalasri opened #82043 "Cost differences Azure Cosmos Mongo v3.x and v4"
We heard about different Cost differences  between Azure Cosmos Mongo v3.x and v4.

However, there is no specific documentation available.   Can you able to share if any such documentation available ?

If not, please point where we can find details,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: decbcc41-4077-7618-23d6

[2021-10-06 19:42] #78810 closed

[2021-10-06 19:47] billmath commented on #80512
@KeithwNZ
Thanks for the feedback.  I believe this has been updated and fixed.  It was updated a couple of weeks ago.  Let me know if this is not the case.  Thanks!

#please-close

[2021-10-06 19:47] #80512 closed

[2021-10-06 19:48] #80559 closed

[2021-10-06 19:49] kdcllc commented on #49949
For Microsoft SQL Server Management Studio:

![image](https://user-images.githubusercontent.com/13120940/136272825-2fe8c8cd-d704-4736-b108-977b48e7d094.png)

In addition, I had to add 10.1.1.4 {serverName}.privatelink.database.windows.net to the `host` file

[2021-10-06 19:54] Oury-MSFT commented on #81919
@ealsur Thanks for updating the doc.

[2021-10-06 19:54] #81919 closed

[2021-10-06 19:55] Oury-MSFT commented on #81908
@niklarin Is this a bug in the PostgreSQL?

[2021-10-06 19:59] MicrosoftGuyJFlo commented on #81592
@MS-rav0kk

In the OR case, if they don't satisfy policy, we'll prompt them in the order defined in the doc. As soon as policy is satisfied we'll stop prompting them and let them through.

Currently documented in the following location but not super clear about OR specific cases

https://docs.microsoft.com/azure/active-directory/conditional-access/concept-conditional-access-policies

I will do som

[2021-10-06 20:05] chris-gibbs opened #82044 "Issue with AzureMonitor service tag endpoint (gcs.prod.warm.ingestion.monitoring.azure.com) for APIM Monitoring"
Hey Team,

We have been following the documentation for APIM Metrics and health monitoring and rely heavily on Service Tags for our NVAs deployed into Azure.

AzureMonitor service tag should be supported for the listed endpoints in the article.

gcs.prod.warm.ingestion.monitoring.azure.com does not seem to be included in the AzureMonitor Service tag when we check the public json file at
https://ww

[2021-10-06 20:18] YutongTie-MSFT commented on #82035
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-10-06 20:27] curtand commented on #77206
Hi @nikki-c
Thanks for your interest and your contribution. We fixed this table of contents issue in the current published version.
#please-close

[2021-10-06 20:27] rolyon commented on #82017
Hi @DeanGross
This role is not available so that's why it does not appear in the built-in roles doc. We've provided this feedback to the team that maintains the roles. If you think this role should be added, I recommend that you also that you also provide your feedback using the Got Feedback option in the Azure portal.
thanks

[2021-10-06 20:27] rolyon commented on #82017
Let us know if you have any additional feedback.
thanks

[2021-10-06 20:28] rolyon commented on #82017
#please-close

[2021-10-06 20:28] #82017 closed

[2021-10-06 20:37] denniseik commented on #81075
I believe it should be gone in upcoming builds

Best,
Dennis

From: Luis Quintanilla ***@***.***>
Sent: Wednesday, October 6, 2021 8:46 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Dennis Eikelenboom ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Subnet parameter requires resource ID, not name (#81075)

Thanks @denniseik<https://nam06.safelinks.protection.outlook.co

[2021-10-06 21:27] JayDoubleu commented on #49949
I actually found resolution to this problem without disabling SSL validation. The key is to use non privatelink DNS name for connection strings. If you're on a vnet it will still resolve to internal IP.

[2021-10-06 21:50] mike-urnun-msft commented on #81762
Hello @mithunshanbhag - The SendGrid Output Binding doesn't support configuring for sending bulk emails but it can (and should) certainly be used as part of a larger workflow that handles sending bulk emails though. For example, you might consider doing the following:
1. Create Function App or any app that [publishes events](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings

[2021-10-06 21:52] abatishchev commented on #56483
+@smichelotti

[2021-10-06 22:18] #56483 closed

[2021-10-06 22:26] manknewl opened #82054 "Link doesnt work"
The link to the best practice guide doesnt work:

"Download the Azure Marketplace & AppSource best practice guide to learn how to get the most out of your online marketing efforts."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 467c5737-af04-369d-b2a0-eaae886ad1d0
* Version Independent ID: f65e4274-4bef-cbbf-a437-f2a1

[2021-10-06 22:49] curtand commented on #81635
Hi @priyankareddy20
Thank for your attention and contribution! A clarifying link to the email notifications and to whom they are delivered has been added to the article and is live now.
#please-close

[2021-10-06 23:06] rolyon commented on #82017
Hi @DeanGross
Looks like there is a role group named "Compliance Manager Readers" in Security & Compliance Center, but there isn't a "Compliance Manager Readers" role in Azure AD.
https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/permissions-in-the-security-and-compliance-center
thanks

[2021-10-06 23:55] KCAndersen opened #82057 "Typo in document"
in the documentation on "exp" you have text "Fo example"; probably should be "For example"

Just an fyi! :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39e50f53-203a-35d3-794f-73b27be0fde0
* Version Independent ID: f2af0873-d2ef-6df2-d3c2-8c953d392097
* Content: [Microsoft identity platform ID tokens - Microsoft ide

[2021-10-07 00:06] jjcv2304 commented on #81850
Thanks for taking the time to answer @MarileeTurscak-MSFT

Would you mind explaining why on the documentation in page https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory/develop/v2-oauth2-client-creds-grant-flow.md under **Pro Tip** says to use common endpoint?

![image](https://user-images.githubusercontent.com/14250648/136300157-59fcd29c-a3eb-4a41-a893-08941d9dc392.

[2021-10-07 00:06] MonikaReddy-MSFT commented on #82054
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-10-07 01:37] Nimmagaddaprasad commented on #40812
could you please help me below query.

if user is not having access to Azure portal and server is part of domain. user want to access server from domain and how the access request will be done on this scenario.

[2021-10-07 02:14] argumemnon commented on #80274
I second this and would also like clear documentation on what to do with a modified default rule. Delete or disable?

[2021-10-07 04:02] ahmedig commented on #81793
Happy to propose a PR.. if this hasnt been actioned already. @dlepow

[2021-10-07 04:12] shashishailaj commented on #82057
@KCAndersen Thank you for catching this . We will have this reviewed with the content team and update .

[2021-10-07 04:38] argumemnon opened #82065 "Need more documentation for each and every DirSyncFeature returned when Get-MsolDirSyncFeatures is run"
It would be great if you could include an entry describing each and every DirSyncFeature like you do for most PS cmdlets, even if they are unsupported--like UserWriteback.

For example, when I run Get-MsolDirSyncFeatures, I see:

[code]

PasswordWriteBack in particular is incredibly confusing--especially when you know for a fact the feature is enabled in your Azure AD portal under Password reset >

[2021-10-07 05:08] Arnab6 commented on #82009
Hi @kgremban, thanks for responding,

My apologies, I have altered the headings for the routes in my first query, Thanks for confirming via routing we cant establish a parent-to-child communication!

is there any way we can do it?  I am able to make it work with a direct method from the parent and the child is getting the request, but apart from this if any other way to do it?

[2021-10-07 05:09] RohitMungi-MSFT commented on #81985
@skeltonsc Thanks for sharing more details. I have tagged the content author @maggiepint to help check this behavior and support for the same if FIPS is enabled.

[2021-10-07 05:27] xujiongda opened #82066 "Ambiguous expression in requirements."
Ambiguous expression in requirements.

"This lease container can be manually or automatically created by the Azure Functions trigger for Cosmos DB." can be explained in two ways.

1. This lease container can be manually /
   or automatically created by the Azure Functions trigger for Cosmos DB.

2. This lease container can be manually or automatically /
    created by the Azure Functions trigger f

[2021-10-07 06:27] RohitMungi-MSFT commented on #81878
@sharanalpha Since we have not heard back from you we will now proceed to close this thread.
If you are still facing issues with this error and if it is not specific to any documentation scenario or step we would advise to post a thread on [MS Q&A](https://docs.microsoft.com/en-us/answers/questions/ask.html) forum with more details. Thanks.

[2021-10-07 06:34] Klaas- commented on #80205
Yeah, look at https://github.com/Klaas-/msawb-plugin-config-com-sap-hana.sh/commits/main and the commits on Oct. 6th.

I guess you need to invalidate caches when you publish a new version of your script or something like that. Currently it seems like this is currently taking at least 12 hours (now) and multiple days (last version update) to spread across your CDN.

[2021-10-07 06:51] SadiqhAhmed-MSFT commented on #81759
@guyrleech We will discuss this with the feature owner and update accordingly.

For now closing this issue.

[2021-10-07 07:00] SnehaAgrawal-MSFT commented on #81805
@pacherf Thanks for the feedback! The PR has been created for this will be visible soon in doc.

[2021-10-07 07:08] Yvand opened #82071 "Azure Functions cannot use user identity to get Key Vault references"
I spent hours to troubleshoot why my Azure Functions service was not able to read the secrets stored in my key vault.
This article states that `you can specify a user-assigned identity`, but it is not correct, I was never able to get it to work with a user-assigned identity.
And it worked immediately after I changed the config to use a system assigned identity instead.

---
#### Document Details

[2021-10-07 07:15] fgheysels opened #82072 "Kubernetes cluster monitoring with Container Insights: reducing costs and network bandwith usage"
We have a project where we're running Kubernetes clusters on vessels.  To monitor our application that is running on those vessels, we've Arc-enabled our Kubernetes clusters and are using Container Insights to get the logs from our components in Log Analytics.

We're now looking for ways to optimze the data that is being transferred to log analytics since we're facing two things:

- logging costs

[2021-10-07 08:00] tomkeatingfei commented on #49949
@JayDoubleu is correct. There is another support page somewhere which mentions this but you need to connect to _servername.database.windows.net_ instead of the privatelink address. (We only found this recently and it seems to work as stated) If you have the Azure private DNS setup correctly then it will automatically resolve this to the privatelink IP of your DB server but the hostname will still

[2021-10-07 08:17] prontohostau opened #82073 "Adjustments on this page for a single sentence"
[By using the information staged in the connector space, the inbound synchronization process creates in the metaverse the integrated view of the data that is stored in the connected data sources. ](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/concept-azure-ad-connect-sync-architecture#synchronization-process)
[Please check the cohesion or structure, i propose: _By using the infor

[2021-10-07 08:17] prontohostau opened #82074 "Adjustments on this page for a single sentence"
[By using the information staged in the connector space, the inbound synchronization process creates in the metaverse the integrated view of the data that is stored in the connected data sources. ](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/concept-azure-ad-connect-sync-architecture#synchronization-process)
[Please check the cohesion or structure, i propose: _By using the infor

[2021-10-07 08:36] Herman5006 opened #82075 "Inbound Flows Maximum Creation Rate doesn't reflect real speed of the incoming TCP flows"
[Enter feedback here]

![image](https://user-images.githubusercontent.com/58066459/136349174-fde2983d-d7a3-4cb1-acb8-3715d8e1e9f4.png)

The value of Inbound flows maximum creation rate didn't reflect real speed of on incoming TCP flows. Please help to look at this issue. Thanks so much.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2021-10-07 08:36] svdHero commented on #81908
@GennadNY both subscriptions have several resource groups that are populated. We set up our web service resources (PaaS) first and now want to continue to create databases and storages leading to the problems above.

[2021-10-07 10:27] priyankareddy20 commented on #81635
Great, thanks!

On Thu, Oct 7, 2021, 12:49 AM Curtis Love ***@***.***> wrote:

[2021-10-07 10:57] rahug1190 commented on #81982
@var-ka The migration guide that you are using is the right resource to use to migrate SQL always on clusters to Azure. The guide helps you collect information for the source cluster (step -Prepare source machines), create a load balancer with the retrieved configuration, and reconfigure the always-on cluster post-migration (step - reconfigure cluster).

[2021-10-07 11:14] MartinWickman opened #82076 "What about the limit on number of event hubs in a namespace?"
Debezium will auto-create a topic per table (plus a bunch of metadata topics as well). I assume a topic here translates to an "event hub" instance in a Event Hub namespace. The limit for number of event hubs (topics) in a namespace is 10 for Basic and Standard.

This should be documented, since it's easy to overprovision that and hit the limit. So in reality you can only use Debezium to monitor a

[2021-10-07 11:51] PramodValavala-MSFT commented on #82001
@josersleal Just following up here... Hope my previous comment clears things up.

[2021-10-07 13:39] wUEZRs opened #82080 "which variable to use"
Step 6 "Open the CSV file and add a line for each group member you want to import into the group (required values are either Member object ID or User principal name). Then save the file."

should show an example of what you actually mean by that. Should it say "upn"? "memberObjectIdOrUpn"? "Member object ID or User principal name"?

The docs and .csv give conflicting answers
An example picture of

[2021-10-07 14:05] justinmchase opened #82082 "Not enough info in lint rule"
It would be nice to have a map here of which variables on the environment map to which domain name suffixes. Or at least in the intellisense for the fields on the environment var specify which domain names they may produce. As it is I'm hitting this lint rule but have no idea which field to use instead. Frustrating.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2021-10-07 14:08] timoklimmer opened #82083 "Statement about ILB + TLS is unclear"
The article states that "Azure Machine Learning does not support TLS termination with Internal Load Balancer. Internal Load Balancer has a private IP and that private IP could be on another network and certificate can be recused."

The term "recused" is hard to understand. What exactly is the reason why ILB + TLS scenarios are not supported? A more detailed explanation would be helpful.

---
####

[2021-10-07 15:02] MonikaReddy-MSFT commented on #82075
@Herman5006 - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-10-07 15:13] jfrosty opened #82087 "Guidance on setting up Azure AD authentication is outdated"
[Enter feedback here]
The page's guidance for setting up Azure AD authentication on a Function is outdated. The page details how AAD auth can be used for calling a Function securely by a Logic App. But the guidance seems to reference the old Function App Authentication/Authorization blade. New Function Apps do not have that appearance in their Authentication blade. Further, you're no longer able t

[2021-10-07 15:32] AzureAzim opened #82088 "External iDP"
This article doesn't cover the scenario where a customer has their domain identities federated to an external iDP such as Ping or Okta. I would imagine that scenario is not supported because the credential isn't stored in AAD.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e17123f3-cfa7-5a2d-c745-62202eef0487
* Version

[2021-10-07 15:41] BhargaviAnnadevara-MSFT commented on #81215
@kohei-miyoshi The doc in question has been updated with more details. Thanks again for the feedback.

[2021-10-07 15:59] MarileeTurscak-MSFT commented on #82080
@wUEZRs thanks for the feedback! I have assigned this to the content author to review.

[2021-10-07 16:21] ticoncei opened #82089 "User with temporary password, cannot login to a Azure AD Join machine - "The sign-in method you're trying to use isn't allowed""
I've worked recently with a customer that was assigning temporary passwords on AD, to synced users and expecting them to be able to change the temp password, during windows sign-in (Azure AD Join)

Customer has configured PW writeback & SSPR for his synced users. Customer has also enabled the AD Connect flag to "ForcePasswordChangeOnLogOn".

With all this in place, customer proceeded to test the b

[2021-10-07 16:36] SarveshPandey commented on #82037
Do you have any person who can help me to understand this query

[2021-10-07 16:59] YutongTie-MSFT commented on #81872
@nishants Thanks for your feedback again. I have updated the comment. For more actions like adding more explanation to the code, @PatrickFarley could you please help?

[2021-10-07 17:53] bcb44 opened #82096 "Fixing Typo"
Step 4.1 says "In the Azure portal, find and the Authorization endpoint URL and Token endpoint URL and save them for later."

This has an extra "and" between "find" and "the Authorization endpoint URL"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 823eb96f-e5f1-0832-b175-0b31009be92f
* Version In

[2021-10-07 17:53] #81872 closed

[2021-10-07 18:23] #81827 closed

[2021-10-07 19:12] CrazyTuna opened #82101 "Not able to find model for type - inkedService and subType - undefined"
Trying to use the @microsoft/azure-data-factory-utilities to generate arm template for af but keep receiving this error
[code]
I tried from version 0.1.3 to 0.1.6 but keep having the same errors.

I have a repo with only some link services:
![image](https://user-images.githubusercontent.com/8588620/136447606-963987d4-a5dc-4324-a30c-ae0882432fee.png)

When I run this command it fails:
[code]

---
#

[2021-10-07 19:28] MonikaReddy-MSFT commented on #82054
@manknewl - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-10-07 19:56] bradyson opened #82103 "Request to update NSG section"
This bullet should be included in the “Allow Access to a few source Ips " section as many miss this important requirement
-Traffic from the AzureLoadBalancer tag with the destination subnet as ### Any must be allowed.

This bullet should be two entries as it includes two rules and should be made clear that destination must be ### ANY
-Allow incoming Azure Load Balancer probes (AzureLoadBalancer ta

[2021-10-07 20:29] MonikaReddy-MSFT commented on #82082
@justinmchase  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can review and update accordingly.

[2021-10-07 21:41] MicrosoftGuyJFlo commented on #82089
Taking offline #please-close

[2021-10-07 21:41] #82089 closed

[2021-10-07 21:54] #82096 closed

[2021-10-07 21:55] mike-urnun-msft commented on #82096
Hello @bcb44 - Thank you for sharing this feedback and helping us drive improvements towards MS Docs! I've created a PR that fixes the type and the changes will be live soon. Once the PR is merged, this issue will auto-close.

[2021-10-07 22:35] ChaitanyaNaykodi-MSFT commented on #82103
Hello @bradyson
Thank you for your feedback! We will review and update as appropriate.

[2021-10-07 22:57] ChaitanyaNaykodi-MSFT commented on #81945
Hello @svdHero, apologies for the delayed response here. You can refer to this [DNS forwarder template](https://azure.microsoft.com/en-us/resources/templates/dns-forwarder/) which utilizes a VM(1x Standard A1 v2 SKU) for DNS forwarding. I am afraid there is no other Azure PaaS service which can act as DNS forwarder as you have to create a windows\Linux based DNS server. Please let us know if you h

[2021-10-07 23:53] mrochon opened #82106 "Missing CryptographicKeys and InputClaims from RelyingParty definition"
This documentation is missing at least these two elements I have seen (and am using myself) to process client_assertions passed as part of the token request. are these features unsupported or undocumented? (they certainly work), e.g.:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e3ce49f-746e-9326-9846-32d5695

[2021-10-07 23:55] dalehhirt opened #82107 "Self-Hosted IR not showing up in Git Branch when following directions"
I was following the directions on this page.  Everything works, except that the new self-hosted IR only shows up when I switch from Git mode to Live mode in the data factory.  Is there additional directions, or do I need to delete and manually recreate it in the Git branch?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2021-10-08 00:24] KranthiPakala-MSFT commented on #82037
Hi @sarveshPandey, sorry for the delayed response.

The first Lookup activity is to retrieve the last watermark value from `watermarktable` table which is nothing but the value that was used in the last iteration. The query used here is `select * from watermarktable where TableName  =  '@{item().TABLE_NAME}'` which will be resolved to `select * from watermarktable where TableName  =  'customer_tab

[2021-10-08 00:37] KranthiPakala-MSFT commented on #82101
Hi @CrazyTuna,
Thanks for leveraging Azure docs feedback channel to raise this question and appreciate for sharing your findings here.

This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

Going forward if your issue is specific to a use case, we reques

[2021-10-08 00:37] #82101 closed

[2021-10-08 00:38] tinaling opened #82109 "To add the the solution of "Onboard devices without Internet access for Azure connected machine agent""
Hi Team,

The Azure Arc typically used for on premise machines which under the environment of restricted internet connection.
Please consider adding the article of **offline installation** in command method, it would be helpful for users to get started with Azure Arc service.

Much appreciated!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-10-08 00:52] SaurabhSharma-MSFT commented on #82074
@prontohostau Thanks for your feedback! We will investigate and update as appropriate.

[2021-10-08 01:29] Asha-Hiremath opened #82110 "Azure migrate - Add Discovery SOurce: Linux root user has issues "Failed to fetch BIOS GUID for the server 'XXXXXXXXX'. BIOS GUID is important to uniquely identify and discover a server.""
Tried the "https://docs.microsoft.com/en-us/azure/migrate/troubleshoot-appliance"

cat /sys/class/dmi/id/product_uuid  ----------works
dmidecode | grep -i uuid | awk '{print $2}' --------dmidecode command not recognized when issued as a root user.

Root being a super user, not sure why I see unable to fetch BIOS GUID error. Definitely it is not a permission issue.  So what else is the issue here.

[2021-10-08 01:46] spelluru commented on #82010
@ianrandell-sh - I have confirmed with the product team that the above statement from Pramod is accurate.

"system properties also take up some of the limit size, so actual maximum message content size would be smaller than the full limit."

I will make it clear in the article. Thanks.

[2021-10-08 03:49] YutongTie-MSFT commented on #81956
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-10-08 04:31] ram-msft commented on #81895
@mysoultan  Thanks, Please follow the FAQ of Speech service containers. Here is the link for the same.

https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-container-faq?tabs=stt

[2021-10-08 05:01] BharathNimmala-MSFT commented on #82073
@prontohostau Thanks a lot for sharing your feedback to improve our Azure documentation, our team will review it and update the document accordingly.

[2021-10-08 05:26] HarshitaSingh-MSFT commented on #82106
Hello @mrochon , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-10-08 05:33] edlaguni opened #82114 "Is there a 10TB disk limit with Az Import/Export?"
[Enter feedback here]
Hi Team,

When reading [seeding offline Azure Backup workflow](https://docs.microsoft.com/en-us/azure/backup/backup-azure-backup-import-export), there's note that it's support up to 10TB disk size, and then a link to Azure Import/Export service. However, there's no note about disk size limit in the Azure Import/Export Service.

---
#### Document Details

⚠ *Do not edit this s

[2021-10-08 05:33] SrijitBose-MSFT commented on #81858
@SwagataChaudhuri , we haven't heard from you in sometime. For now we're closing this thread. If you have further queries please do comment below on the thread and we'll be glad to continue working with you on this.

#please-close

[2021-10-08 05:33] #81858 closed

[2021-10-08 05:43] RaviTejaBalla-Parker opened #82115 "Azure functions storage account performance issues?"
I have created a Azure function and Consumption plan in EAST US location and this function uses storage account from other resource group  EAST US location? Does it effect the function performance?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 591acd0e-bb8b-8baf-1b29-e4130d457972
* Version Independent ID: cf553392-0db

[2021-10-08 06:03] santhoshbomma9 opened #82116 "Could we please add some information on where in the process the IP should be baked in?"
Could we please add some information on where in the process the IP should be baked in?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d6627e1-ffb7-d67e-1761-671bd3b8c710
* Version Independent ID: fa072bdb-f6ed-d21d-1f47-57de0ab3c406
* Content: [Create an Azure virtual machine offer (VM) from an approved base](https:/

[2021-10-08 06:14] SadiqhAhmed-MSFT commented on #82110
@Asha-Hiremath Thank you for reaching out to us. Please note that this channel (the Azure Docs repository) is only for driving improvements related to the Azure documentation. Your query needs deeper investigation. I recommend you to create a technical support ticket. The ticket enables you to work closely with the support engineers and get a quick resolution to your issue.

Here is the link - htt

[2021-10-08 06:22] SadiqhAhmed-MSFT commented on #81808
@MilanKrocek The issue you reported doesn't seem to be related to this doc : [PowerShell Samples - Azure Backup](https://docs.microsoft.com/en-us/azure/backup/powershell-backup-samples) It would be great if you can share the documentation link you are referring, so that we can assist you accordingly.

[2021-10-08 07:08] wfee opened #82117 "Want to learn what error will returned use refresh token exchange access token when refresh token is expired"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13b44819-ed7b-84bc-f5d2-2b937029f7df
* Version Independent ID: db9f8408-c234-90d0-4817-3516e5fc3ba0
* Content: [Microsoft identity platform and OAuth 2.0 authorization code flow - Microsoft identity platform](https://docs.microsoft.com/en-us/azure/act

[2021-10-08 07:18] minjich commented on #79843
**Can I enable HA on a server after I create the server?**
You can enable same-zone HA after you create the server. Zone-redundant HA needs to be enabled when the server is created.
-->Isn't it only possible that enabling it during creation for now. It would make cx confused compared with another document
(https://docs.microsoft.com/en-us/azure/mysql/flexible-server/scripts/sample-cli-same-zone-ha

[2021-10-08 07:19] tuckwelladev opened #82118 "Typo under Session Connectivity"
"RDP **has** initially released with Windows NT 4.0 Terminal Server Edition"
should be
"RDP **was** initially released with Windows NT 4.0 Terminal Server Edition"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5e20117-5458-fd52-7594-5854f349573d
* Version Independent ID: 271a354c-7451-647f-6233-0011cc4ce181
* Content

[2021-10-08 07:24] dreitzner opened #82119 "Wrong status code for allowedRoles"
when using `allowedRoles`, as described in the docs, and a user does not have an allowed role, the webapp returns 404 (not found) instead of 401 (Unauthorized).

The following piece from the docs would suggest that 401 is the expected behavior:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac225b59-6d75-1c98-3b

[2021-10-08 07:38] SumanthMarigowda commented on #82114
@edlaguni Thanks for the question! We are investigating and will update you shortly.

[2021-10-08 08:09] TimonSP opened #82121 "Cannot leave organization if I already locked in it"
I already doesn't work with this organization and doesn't have any contacts. My account was locked in it.
But I cannot leave the organization, because it is required to be authorized in the guest organization (as far as I got).
It is a bit strange, don't you think so?

Is there a way to leave this organization with conditions above?
If not, please plan to provide such ability.

Thank you!

---
###