[2019-01-30 17:57] #23414 closed

[2019-01-30 17:57] Mike-Ubezzi-MSFT commented on #22384
@rolanddb I believe this to be an issue somewhere in the container configuration. The below error is thrown when you don't have the source public IP address whitelisted of the client you are attempting to connect from, so it is not a IP whitelist/firewall issue. Can you detail more about your environment? Is this a Windows Docker container or Linux? You mention `root`, so if this is a Linux host,

[2019-01-30 18:03] KrishnaG-MSFT commented on #23553
@theheatDK Audit information of actions taken in Azure are stored in [Azure Activity Log](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/activity-logs-overview). You can create  [activity log alerts](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-activity-log) to get notified when specific operations are seen in activity log.

In this case, you want to know whe

[2019-01-30 18:04] marktab commented on #22397
@jennabourgeois thanks for your question

On this diagram, you can see that many terms are not defined.  Though, they are all color-coded, and "scoring" is part of the Deployment (in dark blue).

The link to the deployment page does not have "scoring" defined, but there is an example of a web service, which is an application of scoring through a web API

See https://github.com/MicrosoftDocs/azure-

[2019-01-30 18:06] Alberto-Vega-MSFT commented on #23785
@Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-30 18:06] #13422 closed

[2019-01-30 18:07] #23283 closed

[2019-01-30 18:07] #23680 closed

[2019-01-30 18:08] Alberto-Vega-MSFT commented on #23782
@wrende Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-30 18:08] MicahMcKittrick-MSFT commented on #23224
@JamesTerHark any update? I would be curious to see if the portal shows the switch is complete but the desktop items are still the same.

[2019-01-30 18:09] andrewkittredge opened #23797 "Does not work with Python 3.7"
How is that possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a509bdc-f8b8-8488-7ab4-2c03cae6bfb5
* Version Independent ID: 3174a893-394c-c622-6c96-0b89955edfb5
* Content: [Create your first Python function in Azure](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-python)

[2019-01-30 18:11] YutongTie-MSFT commented on #23750
@imeya Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-30 18:11] Adam-Smith-MSFT commented on #23412
@dbaynard Hi David, Correct it should only work if the redirect references the exact file name, such as "about.html", only using ".html" the exact file name it would not work. I'd recommend leaving feedback in https://feedback.azure.com/forums/217298-storage
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue

[2019-01-30 18:11] #23412 closed

[2019-01-30 18:13] MGoedtel commented on #23562
@johnkemnetz - Can you respond to this question please?  Thanks.

[2019-01-30 18:14] Adam-Smith-MSFT commented on #23361
@jpetitte Thanks for providing the context,  I have assigned the issue to the content author to evaluate and update as appropriate to see if we can publish the zones or if it's a restricted matter.

[2019-01-30 18:14] Alberto-Vega-MSFT commented on #23513
@djaus2  Thanks for your valuable feedback! Looping @kgremban so she can evaluate your suggestion.

[2019-01-30 18:15] jeffreymcclain commented on #23307
I know this is unrelated, but one of your web pages related to upgrading from server 2016 to 2019 has had a broken background. I was going to show it to one of my coworkers, but quite frankly it just looks embarrassing.

https://www.microsoft.com/upgradecenter/scenario/WS2016-on-prem-to-WS2019

https://github.com/coreyp-at-msft/ws-upgrade-center/issues/10

This issue was reported to your Github we

[2019-01-30 18:16] #23216 closed

[2019-01-30 18:16] marktab commented on #14270
@mujeeb91  Python is only one of several ways to access Azure ML -- this particular webpage provides details on one method for one case.

Look at this page for the whole list, and investigate ML.NET

https://docs.microsoft.com/en-us/azure/machine-learning/service/overview-more-machine-learning

(@YutongTie-MSFT and @garyericson we may close this ticket)

[2019-01-30 18:16] Alberto-Vega-MSFT commented on #23151
@CeciAc @syntetic81 Closing this issue. I am working on a PR with the Fix

[2019-01-30 18:16] #23151 closed

[2019-01-30 18:19] Grace-MacJones-MSFT commented on #23791
Hi @HermannGruber, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

In the mean time, please check out this [documentation ](https://docs.microsoft.com/en-us/azure/app-service/troubleshoot-diagnostic-logs#streamlogs)on how to stream logs for your app.

[2019-01-30 18:19] hfu949 opened #23798 "Typo"
Found typo here: When disaster strikes, ou fail machines

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1beb0de5-7c11-6826-7718-d98aef12d11b
* Version Independent ID: 4630d4a7-b25e-b79d-56c7-6f09e8415940
* Content: [What is Azure Backup?](https://docs.microsoft.com/en-us/azure/backup/backup-overview)
* Content Source:

[2019-01-30 18:19] MicahMcKittrick-MSFT commented on #23747
@juho-hanhimaki good question! I see in the prereqs it requires you to have X.509 security but does not mention clusters secured via AAD.

@hrushib @aljo-microsoft could either of you comment further?

[2019-01-30 18:22] erhopf commented on #23770
@vitaly-zdanevich - Sorry about that I didn't see the title and only read the body.

@YutongTie-MSFT - Please re-assign to @QinyingLiao.

Qinying, can you provide context for why range isn't a supported parameter for SSML in Speech Services.

[2019-01-30 18:23] dlepow commented on #23580
@alohaninja - Thanks, this is a great cross-service doc suggestion. I'll log it for consideration/prioritization in our doc backlog. (cc @iainfoulds and @mlearned FYI).
#please-close

[2019-01-30 18:35] marktab commented on #18898
@garyericson  It's puzzling to me to fix someone else's tutorial because I don't know original intention.

I suggest making the following changes:
First link to go to https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-hadoop-provision-linux-clusters
Second link to go to https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-administer-use-portal-linux

I don't know what file to change

[2019-01-30 18:35] Grace-MacJones-MSFT commented on #23794
Hi @uditsrivastava, thanks for the feedback! We are glad you found this documentation helpful.

[2019-01-30 18:35] #23794 closed

[2019-01-30 18:37] Grace-MacJones-MSFT commented on #23135
Hi @ahmedelnably , can you please take a look at this? Thanks

[2019-01-30 18:39] BharathNimmala-MSFT commented on #23786
@planax Thank you for sharing your feedback, we are investigating on this and will get back to you shortly.

[2019-01-30 18:40] brettsam commented on #23642
This is currently broken due to https://github.com/Azure/azure-functions-host/issues/3731. I'm going to be looking into a fix there very soon.

[2019-01-30 18:44] Alberto-Vega-MSFT commented on #23693
@DaveStabilify We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-30 18:44] #23693 closed

[2019-01-30 18:48] tchristiani commented on #23700
If you are using a free subscription key the region must be westus.
 Free trial subscription keys are generated in the "westus" region.
        // If you use a free trial subscription key, you shouldn't need to change
        // this region.

[2019-01-30 18:49] ReachmediaAdmin opened #23800 "Admin credentials expire and auto provisioning stops. What is the suggested way to handle this?"
I have automated provisioning set up between Azure AD and G Suite. This works fine, I enter admin credentials for G Suite and authorise Azure AD, then users get provisioned across.

Then a few hours later, I get an email to say that automatic provisioning failed. I log back into Azure, re-authorise the connection to G Suite, and all is well once again.

Surely this can't be right. I thought the wh

[2019-01-30 18:51] Sudharma commented on #23789
@MicahMcKittrick-MSFT I am through this and it works fine. I am referring this one
https://docs.microsoft.com/en-us/azure/aks/kubernetes-dashboard#for-rbac-enabled-clusters
precisely with the RBAC for dashboard

[2019-01-30 18:52] femsulu commented on #23719
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-30 18:52] #23719 closed

[2019-01-30 18:53] parakhj commented on #14209
Could you post a question on stack overflow using the tag 'azure-ad-b2c' and share that link with me here? I'd prefer to use that since github issues is intended to be issues with the docs itself

[2019-01-30 18:57] shirgoldbird commented on #14166
Can this be closed out? It looks like #1759 is closed.

[2019-01-30 18:58] #14166 closed

[2019-01-30 19:00] eross-msft commented on #23307
@jeffreymcclain  Thank you for pointing those out. Those pages are actually owned by another team, but I will forward this issue in email over to them and prompt them to take a look.

[2019-01-30 19:01] cephalin commented on #20494
@bbi-yggy I think what @cgillum is saying is that X-MS-TOKEN-GOOGLE is expected unless there's some condition in your app's auth configuration that makes it not show up and trying to get to the bottom of why it's not showing up for you.

[2019-01-30 19:03] ttsu opened #23801 "Sample code that checks pipeline run status doesn't account for 'Queued' status"
The samples are checking for the pipeline run to finish by waiting when the status is "InProgress". However, if the status is "Queued", then the code will continue even though the run hasn't finished.

I wasn't able to find a list of all the possible status values so there may be other statuses besides "Queued" that would cause this to fail. I'm only aware of the "Queued" status since I started se

[2019-01-30 19:04] MarileeTurscak-MSFT commented on #23796
Thanks, @ingd . I created a pull request for review by @MicrosoftGuyJFlo

https://github.com/MicrosoftDocs/azure-docs-pr/pull/64652

[2019-01-30 19:04] #23796 closed

[2019-01-30 19:04] priyamohanram commented on #23287
@Owe-Kristiansen : I checked back with the product team and it appears this error is related to requiring admin consent for the application. However, there should be a detailed error message that is sent with this code at runtime. Can you try to reproduce the issue again, to see if you can get a full error message?

[2019-01-30 19:06] #23668 closed

[2019-01-30 19:06] nschonni commented on #14166
@shirgoldbird that PR doesn't seem related to this issue

[2019-01-30 19:07] priyamohanram commented on #23238
@marc-fombaron: I checked back with the product team and it appears this error code occurs when authentication failed as part of the multi-factor authentication request. It may indicate a configuration or service error. I will go ahead and update the document with this information. Please feel free to open a new issue if you have any other questions. Thank you! #please-close

[2019-01-30 19:09] eross-msft commented on #21496
@ImrePyhvel  It looks like there is information both in the RBAC content and in the managed identity content. The writer for the managed identity content pointed me here:

https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/known-issues#will-managed-identities-be-recreated-automatically-if-i-move-a-subscription-to-another-directory

**Will managed identities

[2019-01-30 19:10] femsulu commented on #23766
@miguelangelopereira good catch. I just reviewed AFAIK this document doesn't clearly state if the solution is compatible with Linux. Adding @abshamsft to confirm. Should have an update soon.

[2019-01-30 19:11] YutongTie-MSFT commented on #23800
@ReachmediaAdmin Hi, we are willing to help. Could you please share any document/ tutorials you are using? It will help us to identity your issue quick. Thank you.

[2019-01-30 19:11] priyamohanram commented on #22790
@mkredpoint: It looks like this error occurs when the application is requesting access to a resource that hasn't been listed in the application manifest. The error message should include a list of resources that are required, please make sure that all those resources exist in the "requested permissions" list on the application registration page in the Azure portal.

I will go ahead and update the

[2019-01-30 19:15] MarileeTurscak-MSFT commented on #23780
Hi @PingPongSet ,

There are a number of issues that might cause this error.

By the way, you can check your user role by going under Azure Active Directory > Roles and administrators > Your Role

![image](https://user-images.githubusercontent.com/13383753/52005982-da188f80-247f-11e9-8b06-d74686ddd50f.png)

Have you tried resetting the password and converting it back again to the original password

[2019-01-30 19:15] TravisCragg-MSFT commented on #23718
@Mahesh-MSFT Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-30 19:21] femsulu opened #23803 "Duplicate links under "Set up and Configure""
Both urls referenced in the first sentence under "Install and configure agents" are the Identical.
This can't be correct. Kindly update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff3ca71d-bc0f-f021-7eda-ed522edfd51e
* Version Independent ID: 88d3f691-7358-e1ef-9763-c191d4f42e1a
* Content: [Network Performance Moni

[2019-01-30 19:21] MicrosoftGuyJFlo commented on #23796
Thanks @ingd and @MarileeTurscak-MSFT I just signed off on the PR

[2019-01-30 19:21] KingdomOfEnds opened #23804 "Random IoT Hub Names"
Hi! Great tutorials and docs. Super helpful! Ran into an issue - I wasn't able to create an IoT Hub with the exact IoT Hub name used in the example `tutorial-iot-hub`. I'm somewhat new to this so the obvious answer of appending some unused number took me a couple seconds to come up with. Still, might it be a good idea to add a random variable to the end like here: https://docs.microsoft.com/en-us/

[2019-01-30 19:22] mike-urnun-msft commented on #23797
Hi @andrewkittredge Thank you for your feedback! We will review and update as appropriate.

[2019-01-30 19:23] femsulu commented on #23803
assigning to @abshamsft to resolve.

[2019-01-30 19:24] romankiss opened #23805 "Is this preview supports also a Module Stream?"
I have successfully testing this _Device Stream_ preview using the **MQTT protocol directly** on the device side and the REST POST request on the service side. On both sides I have using the _ClientWebSocket_ class from the _System.Net.WebSockets_ namespace.  In other words, I don't using the Device and Service SDKs for this preview.

Everything is working as expected.
The above documentation didn

[2019-01-30 19:31] femsulu commented on #23781
@Roblarson thanks for the update. Redirecting to @MGoedtel to review the title change request and take appropriate action.

[2019-01-30 19:32] marktab commented on #18898
@garyericson  I made a branch to push changes -- needs approval from someone (do not know who)

[2019-01-30 19:33] femsulu commented on #23790
@RyanLWilliams Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-30 19:34] #11456 closed

[2019-01-30 19:43] marktab commented on #18898
@garyericson I figured it out -- and signed off on changes

[2019-01-30 19:44] marktab commented on #18898
@AbdalAlsaedi I approved changes which should appear shortly

[2019-01-30 19:45] meganbradley commented on #14166
@nschonni @shirgoldbird Validation for BOM characters is in scope for the Markdown validation epic, which we'll start after metadata validation is complete. I'm not sure when the BOM validation will be live - hopefully by the end of June, but I can't promise that.

[2019-01-30 19:46] MRayermannMSFT commented on #23414
@shapeh , we'll be fixing the sorting of the status and remaining days columns in our next release. You can track an issue for that here: https://github.com/Microsoft/AzureStorageExplorer/issues/1106

As for your other requests:

- Permanently delete the deleted files before retention expiry: the Storage APIs do not allow for this, but it is a feedback we have also shared with the backend team fro

[2019-01-30 19:46] spunukol commented on #21519
Thank you for the feedback! Yes we have plans of moving all functionality of get-msoldevice. For device lifecycle scenarios, please continue to use get-msoldevice.

[2019-01-30 19:49] mkredpoint commented on #22790
Yep, we figured this out eventually. Hopefully will help others that run into it. Thanks much.

[2019-01-30 19:49] #22790 closed

[2019-01-30 19:49] jay98014 commented on #20064
We've added additional documentation on this page about the algorithm currently being used.

[2019-01-30 19:54] YutongTie-MSFT commented on #18898
@marktab Thank you.

@AbdalAlsaedi
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-01-30 19:54] #18898 closed

[2019-01-30 19:55] Mike-Ubezzi-MSFT commented on #23787
@Anmolgan81 Thank you for continuing to provide detailed feedback with regard to the documentation. This appears to be a locale issue in that the `en-us` version of the document is slightly different than the `bs-latn-ba` published version. The titles do not match up but are discussing the same subject matter. Due to my geographic location, I am unable to view the bs-latn-ba version of the documen

[2019-01-30 19:55] axisc commented on #21159
#please-close

[2019-01-30 19:56] axisc commented on #12296
#please-close

[2019-01-30 19:57] axisc commented on #8922
#please-close

[2019-01-30 19:59] MicrosoftGuyJFlo commented on #20064
Thanks for the update @jay98014

[2019-01-30 19:59] MicrosoftGuyJFlo commented on #20064
#please-close

[2019-01-30 20:00] YutongTie-MSFT commented on #23800
@ReachmediaAdmin Thank you. I have assigned @MarileeTurscak-MSFT to help you for this issue.

[2019-01-30 20:02] Mike-Ubezzi-MSFT commented on #23779
@Anmolgan81 Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-01-30 20:03] ekpgh commented on #23364
The product team confirms that the documentation is accurate. Please use the Support link on the [Avere vFXT for Azure Marketplace page](https://azuremarketplace.microsoft.com/en-us/marketplace/apps/microsoft-avere.vfxt) to open a case if you need clarification about which core filer types are currently supported.

[2019-01-30 20:05] YutongTie-MSFT commented on #23716
@msprateek Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-30 20:05] Mike-Ubezzi-MSFT commented on #23778
@Anmolgan81 Thank you for the detailed feedback. Is this a duplicate of #23779 by chance? Please clarify and if so, please close the issue not needing to be addressed and would like to work the issue through the ticket that is more applicable to your actual question.

[2019-01-30 20:16] prara06 commented on #22649
Thanks.. In all the powershell examples above it shows  AzResource instead of AzureRmResource.  Can you update all examples with correct syntax.

This syntax doesnt work.. It will still get resources with cost center.  Can you suggest.
$allnames = (Get-AzureRmResource).Name
$nameswithtag = (Get-AzureRmResource -TagName "Cost Center").Name
$allnames | ?{($nameswithtag -notcontains $_)}

[2019-01-30 20:16] lsmith999999 commented on #23166
@TheovanKraay

Thanks very much. I already completed it the other day (still testing) but it's eerily similar to your own (though in my case I'm relying on .NET 2.X classes and no Json.NET - I need to target any version of .NET and don't want to rely on 3rd-party libraries). Your own code was a good sanity check though. I did have some issues trying to deserialize the "Languages" function though (

[2019-01-30 20:18] MarkusVi commented on #23560
HI @Neckross, the registration of Windows Server running the Domain Controller (DC) role is not supported. For more information, see [How To: Plan your hybrid Azure Active Directory join implementation](https://docs.microsoft.com/en-us/azure/active-directory/devices/hybrid-azuread-join-plan).

#please-close

[2019-01-30 20:22] aljo-microsoft commented on #23671
@mollman and @MicahMcKittrick-MSFT
The following:
"Resources, such as endpoints, that are used by the service to be declared/changed without changing the compiled code. Access to the resources that are specified in the service manifest can be controlled through the SecurityGroup in the application manifest. When an Endpoint resource is defined in the service manifest, Service Fabric assigns ports

[2019-01-30 20:31] KingdomOfEnds opened #23807 "Mismatching Azure CLI Variables"
Hey! Awesome documentation! Not too much of an issue but the variable names don't line up: `$hub-name` versus `hubname`. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6ae92a4-4bdc-965a-c62c-14da252f784d
* Version Independent ID: 3e68a6e7-17a1-df0a-6349-633536be8fe6
* Content: [Update device firmware through A

[2019-01-30 20:36] v-videba opened #23808 "Add or edit management groups."
I don't know if this should be here or https://docs.microsoft.com/en-us/azure/governance/management-groups/create.  But the documentation should clear that in order to add subscriptions or other management group, rename, Delete or move the management group, you need to click on the Details link

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-01-30 20:36] MarkusVi commented on #21519
#please-close

[2019-01-30 20:38] tedway commented on #23354
Just submitted a PR for the documentation fix.  In the meantime please feel free to take a look at https://aka.ms/aml-real-time-ai.  Thanks!

[2019-01-30 20:40] aljo-microsoft commented on #23747
@dragav to comment further.

[2019-01-30 20:48] Anmolgan81 opened #23809 "Whenever I iniate the job at publisher the Log and SQL Agent Failed to start."
I have Azure Managed Instance as my publisher, I have followed the above steps mentioned bu whenver I try to create the publisher the SQL Agents failed to start, I have opened in the inbound and outbound port 445 for managed instance, still I am getting agents failed to start, can anyone tell me whats wrong here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-01-30 20:51] Alberto-Vega-MSFT commented on #23805
@romankiss Thank you for your valuable feedback! We are currently investigating and will get back to you shortly.

[2019-01-30 20:56] erhopf commented on #23532
@lsmith999999 thanks for the feedback. We're adding this to our backlog and will look to update this issue across each of the languages samples.

@YutongTie-MSFT #please-close. We've created a backlog item for this. Please note that while not optimal, the sample will work as is.

[2019-01-30 21:00] westandy-dcp opened #23810 "Logic writing to CosmosDB"
Hi there, I'm trying to build a step in my Logic app where I write to my CosmosDB.  There's no documentation that I can in regards to the "Document" and "Add Dynamic Content".  What is this?  And how do I use it?  Any help?  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d03bfc0e-6636-8847-8a22-1bf280d26b6e
* V

[2019-01-30 21:06] Karishma-Tiwari-MSFT commented on #23795
@jomuld Thanks for bringing this to our attention. I have created a PR with the update and the changes will be live shortly. https://github.com/MicrosoftDocs/azure-docs-pr/pull/64689

[2019-01-30 21:06] aljo-microsoft commented on #23788
@Mortana89
The backup folder path needs to be a local directory path or UNC:

https://docs.microsoft.com/dotnet/api/microsoft.servicefabric.data.restoredescription.backupfolderpath?view=azure-dotnet#Microsoft_ServiceFabric_Data_RestoreDescription_BackupFolderPath

@MicahMcKittrick-MSFT
If this satisfies the user's need. #please-close.

[2019-01-30 21:06] guybark opened #23811 "The "Azure Machine Learning service" link in the "Cloud-based options" table is broken."
The "Azure Machine Learning service" link in the "Cloud-based options" table is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91925913-8bb4-a7c9-1b43-a466155cabd9
* Version Independent ID: 56367f6b-04c9-0bdf-8769-ff23d1382135
* Content: [Compare machine learning product options - Microsoft](https://docs.micros

[2019-01-30 21:07] Mortana89 commented on #23788
Hi,

No, that isn't what I'm looking for. I'm trying to understand if my described Restore scenario is possible?

[2019-01-30 21:14] migrande commented on #17092
@MGoedtel and @jason-j-MSFT I would also like to see content on the update process for Windows agents as well as a changelog.  This GitHub issue should be re-opened as well as this is a clear gap in the doc.

[2019-01-30 21:15] Alberto-Vega-MSFT commented on #23804
@KingdomOfEnds Thanks for your valuable feedback. I have assigned the issue to the content author so he can evaluate and update as appropriate.

[2019-01-30 21:22] dlepow commented on #23654
@MicahMcKittrick-MSFT - Please assign this to me, since I think a documentation update is likely needed.
@OMARI1988 - Thanks for the question. I also found on Ubuntu 18.04 LTS that there is no longer a prompt to set a MySQL password during the lamp-server^ package installation. However, I was able to accomplish this after installation by running `sudo  mysql_secure_installation` (the `sudo` was re

[2019-01-30 21:31] Mike-Ubezzi-MSFT commented on #23809
@Anmolgan81 Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-01-30 21:37] Mike-Ubezzi-MSFT commented on #23809
@Anmolgan81 Do you have any log details to share? At this point, this is more of a forum question or support issue than a documentation issue. We need more information. Given the number of issues filed today with regard to replication, I highly suggest you open an incident ticket with support, as this has become a product support issue and not documentation related at this point. Even asking this

[2019-01-30 21:40] dhmorrison opened #23814 "Dated Documentation, Circa 2016."
This content appears to be dated.  The descriptions and supporting images do not correspond to the reality of the azure management UI, and therefore these instructions require translation to the new processes for accomplishing various tasks detailed herein.

--David

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f25ba2

[2019-01-30 21:41] jwargo commented on #22692
@BryanTrach-MSFT Can you please close.

[2019-01-30 21:44] Mike-Ubezzi-MSFT commented on #23778
@Anmolgan81 Azure SQL Managed Instance can be used bi-directionaly (Publish or Subscribe) for replication: [Configure replication in Azure SQL Database Managed Instance](https://docs.microsoft.com/en-us/azure/sql-database/replication-with-sql-database-managed-instance).
We will now close this issue but if you have any additional questions, we will be happy to continure the dialoge.

[2019-01-30 21:44] #23778 closed

[2019-01-30 21:45] MicahMcKittrick-MSFT commented on #23788
@Mortana89 based on Alex's response your scenario is not possible.

The backup folder path needs to be on a local directory or UNC. Storing your data in Cosmos DB would not fit either of those requirements.

[2019-01-30 21:48] Mike-Ubezzi-MSFT commented on #23779
@Anmolgan81 Please see the following openeing paragraph of the document you opened this issue:

We will now proceed to close this issue but, if you should have any additional questions, we will be happy to continue the discussion.

[2019-01-30 21:48] #23779 closed

[2019-01-30 21:50] mike-urnun-msft commented on #23810
Hi @westandy-dcp Thank you for your feedback! We will review and update as appropriate.

[2019-01-30 21:50] mike-urnun-msft commented on #23394
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-30 21:50] #23394 closed

[2019-01-30 21:51] Mike-Ubezzi-MSFT commented on #23364
@jgallucci32 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-30 21:51] #23364 closed

[2019-01-30 21:58] Mike-Ubezzi-MSFT commented on #23793
@jzuchora87 We have investigated this issue and found that the documentation is correct. There is a bug that is being rolled back to fix in the product. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-30 21:58] #23793 closed

[2019-01-30 22:04] Mike-Ubezzi-MSFT commented on #23792
@noelram Thank you for this detailed feedback. I believe this is likely a product bug but need some additional details to understand more clearly. When you create a document in Cosmos DB with the Web App (tutorial) via the SQL API and then use the Query Explorer interface via the Azure Portal you encounter the exception stated (in the description of this issue) when attempting either of the action

[2019-01-30 22:08] Mike-Ubezzi-MSFT commented on #22384
@rolanddb For the purposes of the original underlying issue I am going to close this but, we can continue the dialog to help you resolve your specific configuration issue.

[2019-01-30 22:08] #22384 closed

[2019-01-30 22:09] Michael-McD opened #23815 "Creating a Cosmos dB"
I had to use this command to create the Cosmos dB:
`az cosmosdb create --resource-group first-serverless-app --name cosmosdb-acc --kind GlobalDocumentDB --locations "WEST US"=0 "WEST US 2"=1 --default-consistency-level Session`
otherwise I was getting 503 errors consistently.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-01-30 22:19] ameb1981 opened #23816 "Great tutorial, but not working as expected"
I follow the tutorial step by step. I had a minor drawbacks, one trying to create a Cosmos DB account using the script, It throw an error, so I did it in the portal instead of the shell; the other issue was with the Computer Vision API because the API Url was not updated, but I managed to get it done, but even when the description is being saved in the database is not showing in the app as caption

[2019-01-30 22:22] jsbsky opened #23817 "Build your first project, Step 5"
Great tutorial and really helpful to get started.  I seem to be getting stuck on step 5 under Build your first project as I do not see the COM port with STMicroelectronics in the list.  I did download and install the driver per the earlier steps.  Any suggestions would be greatly appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-01-30 22:37] guerillamos opened #23820 "Note for those trying this on 18.04"
Just dropping this here for anyone who runs into the same. I was using WSL 18.04 and wanted to run through the instructions.

I ended up using this command to install Strongswan:

sudo apt update
sudo apt install strongswan strongswan-pki

after that I was able to follow the rest of the article.

Hope that helps someone!

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2019-01-30 22:45] Mike-Ubezzi-MSFT commented on #23311
@UtsaVakani We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-30 22:45] #23311 closed

[2019-01-30 22:47] tfitzmac commented on #22649
I double-checked the commands with -TagName and they worked as expected.

The AzResource syntax is for a new module that was released in December. We will add a note to this article that indicates the module must be installed for these commands to work.

[2019-01-30 22:54] justinSelf commented on #23676
PR submitted: https://github.com/MicrosoftDocs/azure-docs/pull/23822/

[2019-01-30 22:56] kgremban commented on #23167
@viktoreinarsson Do you have an update about whether you're still experiencing this issue?

There have been some questions about supported versions in this comment thread that I'll try to clear up. Windows 10 Enterprise (non-IoT SKUs) isn't supported for devices in production. For development and testing, though, most Windows 10 SKUs should work similarly.

It gets a little more complicated when y

[2019-01-30 22:58] Mike-Ubezzi-MSFT commented on #23396
@Alexander-Stulov Please take a look at this document: [Provision throughput on Azure Cosmos containers and databases](https://docs.microsoft.com/en-us/azure/cosmos-db/set-throughput) as it explains how database and container level throughput is provisioned since you did not seem to open this GitHub issue against a specific document, I am unsure what information you are aware of.
Additionally, thi

[2019-01-30 23:00] #8922 closed

[2019-01-30 23:00] #12296 closed

[2019-01-30 23:00] #17587 closed

[2019-01-30 23:00] #20064 closed

[2019-01-30 23:00] #21159 closed

[2019-01-30 23:01] #21496 closed

[2019-01-30 23:01] #21519 closed

[2019-01-30 23:01] #23532 closed

[2019-01-30 23:01] MicrosoftGuyJFlo commented on #23554
Resolving with an edit in the private repo.

[2019-01-30 23:01] #23560 closed

[2019-01-30 23:02] MicrosoftGuyJFlo commented on #23554
#please-close

[2019-01-30 23:02] #23580 closed

[2019-01-30 23:11] #23554 closed

[2019-01-30 23:19] Neckross commented on #23560
@MarkusVi - agreed (The registration of Windows Server running the Domain Controller (DC) role is not supported.).
If you read the initial comment, I said"sync" that's supported:
Scenario: DC's are not meant (not supported) to register in Azure, but should be able to sync.

I'm aware DC's don't register neither are supported to register in Azure AD, but they do sync and show as HDJ in Azure.
If DC

[2019-01-30 23:38] tfitzmac commented on #22710
I have updated the list functions with links to the REST doc for each function. That is all of the changes I have planned for now.

[2019-01-30 23:38] tfitzmac commented on #22710
#please-close

[2019-01-30 23:48] diberry commented on #23696
@YutongTie-MSFT Please assign to me. I'll follow up with Tulasi and Ivor.

[2019-01-30 23:50] Karishma-Tiwari-MSFT commented on #23563
@szolla Thanks for sharing the details. Availability zones and availability sets are ways to ensure high availability. Availability zone is not an alternative for availability sets.
This articles may be helpful for Sql server with Availability zone: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-high-availability
You can also leave feedback on Vnet Peering [here](https://feedback

[2019-01-30 23:52] navyasric commented on #9557
@bbbford Here is a sample demonstrating a SPA calling own backend web API using MSAL.

[2019-01-31 00:00] Mike-Ubezzi-MSFT commented on #23656
@Nimleth The short answer is that all managed services will have indirect access to this resource from a Azure IP. Indirect meaning that the service will not be able to bypas any authentication handshake or VNet.

Here are some documents that explain this functionality a bit further and how to secure your environment: [Impact of removing 'Allow Azure services to access server'](https://docs.micros

[2019-01-31 00:01] Karishma-Tiwari-MSFT commented on #23577
@rmcmurray Would you be able to share your insights on this one? Thanks :)

[2019-01-31 00:09] kevtacular commented on #23413
@neeleshray That's exactly what I was looking for. Many thanks!

[2019-01-31 00:11] ambivalentdev opened #23824 "Weather Underground no longer providing free API"
Weather Underground is no longer providing free APIs. Please update the tutorial

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3191ff31-64ac-2a62-d460-1cef5ceddf7f
* Version Independent ID: 2f286018-f0d6-b7a2-beaa-fa32c7720a4d
* Content: [Monitors in Durable Functions - Azure](https://docs.microsoft.com/en-us/azure/az

[2019-01-31 00:11] Pcoric opened #23825 "Potential Error in UDF"
For me the Udf caused all my sentiment column values to be "Couldn't detect any language" until I changed the val to a var. Not sure if this will apply to everyone since I wasn't using the full tutorial just the last section

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fbd2747-9807-4c9b-e07f-819570e054f8
* Version I

[2019-01-31 00:19] rboy1 commented on #23166
It would be nice if MS just published a service like the V2 with the same
interfaces/methods for V3 (hide all the nasty stuff inside the service).
Probably a day's worth of work for them but 100 times easier for existing
implementations to make minor changes like the URL

[2019-01-31 00:21] cubikca commented on #23809
I can confirm that the above steps do not work

[code]

Why is the agent trying to connect via named pipes? Do named pipes even work on SQL Managed Instance?

[2019-01-31 00:32] Mike-Ubezzi-MSFT commented on #23665
@Anmolgan81 Yes, Azure SQL Database single and pooled databases can be replicated to: [Replication to SQL Database single and pooled databases](https://docs.microsoft.com/en-us/azure/sql-database/replication-to-sql-database). This is all related to the previous issues you have created, so I am going to link there here: #23778 #23779 #23809
Since SQL Managed Instance supports both publish and subsc

[2019-01-31 00:37] Grace-MacJones-MSFT commented on #23814
Hi @dhmorrison, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-31 00:37] mwarre25 commented on #23661
@buttons019 @LisandroSu @YutongTie-MSFT Hey, the selected answer here worked for me: https://stackoverflow.com/questions/32780315/could-not-find-a-part-of-the-path-bin-roslyn-csc-exe

[2019-01-31 00:38] KeiroKamioka0000 opened #23829 "Access to the Portal from VM"
Does the connection traffic between the Azure VM deployed over VNet and Portal (portal.azure.com) will use azure backbone infrastructure or does goes through internet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f03f79a2-923f-3e1a-5e8f-8ce1f5913a56
* Version Independent ID: 6330e3e6-d903-b8f8-370d-e61ff4384d5e
* Con

[2019-01-31 00:41] mike-urnun-msft commented on #23824
Hi @ambivalentdev Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-01-31 00:44] bbi-yggy commented on #20494
I'm not sure. I have what I need for now, so I will close this ticket. Many thanks for your attention.

[2019-01-31 00:44] #20494 closed

[2019-01-31 00:48] KeiroKamioka0000 opened #23832 "Is the tools listed in [Deployment and configuration tools] itself is the resource in Azure?"
Is the tools listed in [Deployment and configuration tools] itself is the resource in Azure?
I would like to know the connectivity between the Virtual Machine and Portal will communicate through the VNet instead of Internet or not.

Connectivity between Azure resources
https://docs.microsoft.com/en-us/azure/networking/networking-overview#Connectivity

Deployment and configuration tools
https://doc

[2019-01-31 00:58] kgremban commented on #23278
@djaus2 since this issue refers to both the VM upgrade from https://github.com/MicrosoftDocs/azure-docs/issues/23264 and the reboot fix from https://github.com/MicrosoftDocs/azure-docs/issues/23513 I'm going to ask @sergaz-msft to #please-close this as a duplicate. If there's more info that you want to add to either of those topics, you can create more comments there to keep the threads together.

[2019-01-31 00:58] JasonWHowell commented on #23306
@danielithiessen Did you already sign up for the preview at [https://aka.ms/ASApreview1](https://aka.ms/ASApreview1) ? The turn around is pretty quick once the team activates the subscription for the preview feature.

Thanks, Jason

[2019-01-31 01:00] JasonWHowell commented on #23306
@danielithiessen looks like the form isn't online at the moment. I'll ask around what's going on. Standby. Thanks, Jason

[2019-01-31 01:01] danielithiessen commented on #23306
Thanks!

[2019-01-31 01:03] jgallivan commented on #7484
Is this available yet in Azure Government enrollments? Or  is it still in Preview in Commercial only?

[2019-01-31 01:07] Alberto-Vega-MSFT commented on #23817
@jsbsky Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-31 01:11] Alberto-Vega-MSFT commented on #23807
@KingdomOfEnds Thanks for the feedback! We are currently investigating and will update you shortly. I will create a PR with the change.

[2019-01-31 01:11] tfitzmac commented on #23274
@fiftin - the Appliance Resource Provider is a system-controlled identity. The Managed Applications services uses it to run operations, which is why that identity needs access to the Key Vault. It is not available for general use.

I'll add a description to the article.

[2019-01-31 01:14] TravisCragg-MSFT commented on #19306
@vhorne This doc does not describe how to create a global error page as well, could you help with this?

[2019-01-31 01:16] Mike-Ubezzi-MSFT commented on #23787
@Anmolgan81 So, upon further investigation, the version of the second document you referenced is not available any longer in the locale `bs-latn-ba`.

![screenshot 202](https://user-images.githubusercontent.com/37126106/52023428-f46b6100-24b1-11e9-96b3-2d805fe3524c.png)

Additionally, this document describes the functionality of transactional replication with Azure SQL Databases (Single Instance,

[2019-01-31 01:20] computerdabbles opened #23833 "AAD on-behalf-of v2 API docs should cover registering (and consistent prose with the diagram)"
I assume everyone is pretty challenged between keeping the v1 and v2 endpoints clear, going, and documented at the same time, but:

the v1 version of this doc (https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-oauth2-on-behalf-of-flow) talks about how to actually register the applications and clients in AAD - but it does a bad job of getting the terminology right, and the terminol

[2019-01-31 01:31] TravisCragg-MSFT commented on #23832
@KeiroKamioka0000 could you describe what you mean a bit more? Are you referring to commands that you issue through the portal to the VM, or are you referring to accessing the portal inside of an Azure VM?

[2019-01-31 01:33] femsulu commented on #23798
@hfu949 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-31 01:34] KeiroKamioka0000 commented on #23832
I meant Accessing the portal inside of an Azure VM

[2019-01-31 01:44] femsulu commented on #23808
@v-videba Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-31 01:44] agvardha opened #23836 "Tracing the ETL files Providers - Controller - Consumers"
[Enter feedback here]
I shall write out my understanding please correct me if I am wrong and clarify couple of my doubts. Thanks in advance. Here the context is Azure Stack ASDK install:
Consider Physical Memory as the event **Provider**. In ASDK I create a huge VM and as I watch the physical memory consumption reaches 99% and I see in the Dashboard Critical Error = 1.
What has happened is the Pro

[2019-01-31 01:46] TravisCragg-MSFT commented on #23829
@KeiroKamioka0000 closing this as a duplicate of #23832

[2019-01-31 01:46] #23829 closed

[2019-01-31 01:49] TravisCragg-MSFT commented on #23832
@KeiroKamioka0000 It will most likely need to go out to the public internet first. There are some rare circumstances which will work, such as MSDN's homepage will sometimes work on VMs.

[This functionality is discussed Here](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-outbound-connections#limitations), where PaaS Web / Worker roles will sometimes maintain their accessibilit

[2019-01-31 01:59] TravisCragg-MSFT commented on #23820
@guerillamos Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-31 02:02] imeya commented on #23573
@KrishnaG-MSFT, I think @georgewallace has explained something well. But I still I like to post my code here(delete a file share snapshot):

[code]

[2019-01-31 02:34] xurui203 commented on #21105
Hi @bhall7718! Thank you for pointing out this issue, we will modify that statement to make it less misleading since the maximum per partition is not just 1 TU. That being said, it is not possible for a single partition to process 20 TUs; so best practice guidelines we advise our customers to configure at least 1 partition for each TU they purchase in order to maximize throughput. There is also no

[2019-01-31 02:44] bbbford commented on #9557
Thanks @navyasric.

My problem is I am trying to accomplish the same thing using azure functions instead of web api. I can’t figure out how to implement the OWIN middleware on azure functions.

So instead I am using Easy Auth. At first I tried to pass the token from MSAL to my easy auth protected function, but received 401 errors every time. I have concluded that easy auth only accepts v1 tokens w

[2019-01-31 02:57] toyota790 opened #23837 "The meaning of cleanup attribute in comparison of Files and Disks table"
I found an article to introduce how to choose Blobs, Files, or Disks service on the Azure. I was wondering that what is the meaning of "Cleanup" attribute in the comparison table of Files and Disks? I have searched the Azure Files and Azure Disk with the cleanup keyword, but nothing related to it. Thank you so much.

● Article link: https://docs.microsoft.com/en-us/azure/storage/common/storage-dec

[2019-01-31 03:00] TravisCragg-MSFT commented on #17492
@sujithq Getting it working with AKS will be a matter of automatically adding the certs to the AKS instances. For assistance with that, your best bet is to ask in the appropriate forums for AKS.

If you would like additional help from the App Gateway side, or if you would like to request that a How-To be made for End-To-End SSL using VMs or AKS, let us know!

[2019-01-31 03:01] TravisCragg-MSFT commented on #23292
@dsadsa897897r We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-31 03:01] #23292 closed

[2019-01-31 03:01] TravisCragg-MSFT commented on #23284
@rifaterdemsahin We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-31 03:01] #23284 closed

[2019-01-31 03:02] mattreatMSFT commented on #23688
Sorry about that. Try it now.

[2019-01-31 03:32] doragui commented on #23282
issue has been resolved

[2019-01-31 03:32] #23282 closed

[2019-01-31 03:43] amcgregor1 commented on #21482
Because this version of the PowerShell module which aligns with the version of the API supports it

**According to this:**
https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-powershell-install
**We should install:**
Install-Module -Name AzureRM.Storage -RequiredVersion 5.0.4 -Force -AllowClobber

**Which is what I am running:**
get-command -Module AzureRm.Storage | where-object {$_.nam

[2019-01-31 04:08] MarkusVi commented on #23691
Hi @liutiger27, sorry, I might be missing / misreading something - sorry...
Again, hybrid Azure AD join does not have an impact on the **maximum number of devices**.
Whatever the unknown error means in this case, it is not related to the fact that you have exceeded the **maximum number of devices**.

[2019-01-31 04:10] CHEEKATLAPRADEEP-MSFT commented on #23692
@anujku Thank you for the detailed feedback. This is being assigned to the content author [@markjbrown & @SnehaGunda] to evaluate and update as appropriate.

[2019-01-31 04:13] CHEEKATLAPRADEEP-MSFT commented on #23676
@justinSelf Thanks for your contribution! This is being notified to the content author to evaluate and update as appropriate.

[2019-01-31 04:33] Kimnaga opened #23842 "AvailableAndFresh"
I ran run GetAvailableAndFreshSpaces. I am getting this error "Unable to find a space with value type 'AvailableAndFresh'"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8856d2fb-02c4-4804-3fd9-df91e0ebc0ed
* Version Independent ID: 57d260c4-1cab-899c-433e-100705bb0e74
* Content: [Tutorial: Monitor a space with Azure D

[2019-01-31 04:37] neeleshray commented on #23413
@kevtacular  Pleased that we could assist you. We would be closing this thread now. If you need further assistance, kindly open a thread again.

[2019-01-31 04:37] #23413 closed

[2019-01-31 04:38] neeleshray commented on #21861
Thanks @MarkusVi

[2019-01-31 04:38] #21861 closed

[2019-01-31 04:48] SumanthMarigowda-MSFT commented on #23837
@toyota790 Thanks for your question. We are checking on this and will respond to you soon.

[2019-01-31 04:49] PramodValavala-MSFT commented on #23668
@chris31389 Thanks for contributing to MS Docs! A note had been added to this doc for local development scenarios.

[2019-01-31 05:01] PramodValavala-MSFT commented on #23797
@andrewkittredge Python 3.7 is not fully supported across the board.
The python worker does support it but the `func` CLI doesn't which is tracked at Azure/azure-functions-core-tools#872, which is in turn dependent on Azure/azure-functions-docker#57.

That is why the doc specifically mentions 3.6 and will be update accordingly once 3.7 is also officially supported.

Note that Azure Functions for P

[2019-01-31 05:02] PramodValavala-MSFT commented on #23589
@seshenoy I hope my previous comment clears things up.

Since there is no doc update required, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-31 05:02] #23589 closed

[2019-01-31 05:10] ChiragMishra-MSFT commented on #23825
@Pcoric Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-01-31 05:12] femsulu commented on #23798
@hfu949 A PR has been initiated to resolve the typo. Once the PR is complete and merged, the change will be live in roughly 24 hrs. We will now close this request. Thanks again for catching this.
@rayne-wiselman  - FYI

[2019-01-31 05:12] #23798 closed

[2019-01-31 05:13] femsulu commented on #23777
@dhirajgandhi any insight on the followup question?

[2019-01-31 05:19] AmanGarg-MSFT commented on #23642
@brettsam - Thanks for the update.

@imeya - Thanks for your feedback, since there is an active issue being tracked https://github.com/Azure/azure-functions-host/issues/3731. Would request you to follow through the documentation once the above issue is resolved. If you still see any issue with the docuemntation please do revert back.

[2019-01-31 05:19] #23642 closed

[2019-01-31 05:30] dslbdgit opened #23862 "Azuha Documentation Issue"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-01-31 05:40] cubikca commented on #23809
Thanks for your quick reply. I also agree that connecting via TCP would be a solution. However, the SQL Server Agent appends the following argument: *-XHOST np:\\.\pipe\DB.1-E6B274EF23C9\sql\query*. I believe that this is why it's trying to connect via named pipes. I've looked all over, but I can't find any documentation about how to change this behavior. Please let us know how to change from Name

[2019-01-31 05:48] ChiragMishra-MSFT commented on #23811
@guybark Thanks for the feedback. We are investigating into the issue and will update the doc as appropriate.

[2019-01-31 05:48] SubhashVasarapu-MSFT commented on #23836
@agvardha Thanks for your feedback. We are looking into it and will update you shortly.

[2019-01-31 05:52] shashishailaj commented on #23833
@computerdabbles Thank you for your feedback. We will have your recommendations reviewed and update the thread . Thank you.

[2019-01-31 05:56] Anmolgan81 commented on #23809
How cqn we change the named pipes of azyre sql managed instance??

[2019-01-31 05:56] ToruMakabe opened #23874 "[Cannot create a clueter] No registered resource provider"
I can not create a cluster with step of this doc. It seems that there is an issue about resource provider. But I registered Microsoft.ContainerService provider. The error message somewhat confused... It is not clear which the region (Japan East) is supported location or not. Any advice? Thanks.

[code]

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 0

[2019-01-31 05:57] pabbap opened #23875 "No mention of Lazy indexing mode in the Indexing modes section."
i see there is no mention of Lazy indexing mode in the Indexing modes section, is this no longer supported? I

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3aeab4a-343d-b492-f9dc-a3233a117101
* Version Independent ID: 075ccfaf-9b5c-aa6d-8a35-a57b4344773c
* Content: [Azure Cosmos DB indexing policies](https://docs.mic

[2019-01-31 05:58] YutongTie-MSFT commented on #23353
@Agalyadevi
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-01-31 05:58] #23353 closed

[2019-01-31 05:59] femsulu commented on #23228
@ccarls-cloudfit so confirmed this is by design due to GDPR.
 Here are 2 samples to checkout if you need this functionality.

1. Get startedBy (caller) of recent automation jobs:
https://github.com/azureautomation/runbooks/blob/master/Utility/ARM/Get-AutomationJobStartedBy.ps1

2. Get current running job startedBy (caller)
https://github.com/azureautomation/runbooks/blob/master/Utility/ARM/Get-Run

[2019-01-31 05:59] georgewallace commented on #23573
@imeya Yes that is a perfect example.  The `New-AzureStorageContext` cmdlet is used to get a storage context to interact with the storage data plane (your data) so is different than authenticating into the management plane .. accessing your subscriptions, vms, etc. I'll create a backlog item to see about adding in the caveats where auth may not be needed.

[2019-01-31 05:59] femsulu commented on #23228
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-31 05:59] #23228 closed

[2019-01-31 06:00] YutongTie-MSFT commented on #23862
@dslbdgit Hi Dsl, can you please provide the information for your issue? Thank you.

[2019-01-31 06:07] SumanthMarigowda-MSFT commented on #23775
@ScripterShell Thank you for letting us know the solution that worked for you and sharing the document with the us.  Your feedback has been shared with the content owner for further review.

[2019-01-31 06:11] SubhashVasarapu-MSFT commented on #23574
@phduf  I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2019-01-31 06:21] SumanthMarigowda-MSFT commented on #5664
@Jdkruse We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-31 06:21] #5664 closed

[2019-01-31 06:26] v-makta opened #23879 "There is a difference in the maximum data size value of resource limit."
The value of Max data size (GB) is different from the actual portal screen. Please correct.
There are several such as Gen 4 1 core.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5676aae7-73bc-c084-174b-50ba4fd7be77
* Version Independent ID: 0998f821-0f03-a833-b4b3-0d6ebd9468e5
* Content: [Azure SQL Database vCore-base

[2019-01-31 06:35] imeya commented on #23573
@georgewallace , thanks for your explanation. I can understand now :)

[2019-01-31 06:39] xanatzar opened #23880 "Data size anomalies"
Hi,

While reading the documentation I came across situations where data size mentioned create confusion. For example Data Lake documentation says that it can store Exabytes of data for processing and Analytics etc. whereas Data Lake Analytics says it can process Terabytes or Petabytes of data. So if my data lake contains exabytes of data I cannot run analytics on ALL the data at once?

---
#### D

[2019-01-31 06:52] pankmishra commented on #15216
Hi Team,
I am getting the below error while creating the VM using Image.

New-AzureRmVm : Operation results in exceeding quota limits of Core. Maximum allowed: 4, Current in use: 4, Additional requested: 1. Please read
more about quota increase at https://aka.ms/ProdportalCRP/?#create/Microsoft.Support/Parameters/{"subId":"3e4d5d43-690f-421d-9b6e-b287ceb5c5a4","
pesId":"15621","supportTopicId":"32

[2019-01-31 07:00] SumanthMarigowda-MSFT commented on #23176
@kazshi  There is no performance impact in the while Upgrading to a general-purpose v2 storage account. Changing the storage access tier may result in changes to your bill.
General-purpose v2 accounts deliver the lowest per-gigabyte capacity prices for Azure Storage, as well as industry-competitive transaction prices.
Upgrading your storage account to a general-purpose v2 account is free.

[2019-01-31 07:00] HarishMashetty commented on #17571
This doesn't makes sense. The link provided points to how to install packages in a windows webapp not the linux webapp. Extensions option is disabled for Linux WebApps.

[2019-01-31 07:04] kazshi commented on #23176
@SumanthMarigowda-MSFT Thanks for your clarification! It would be great if it (no performance impact) is described in the page.  Thanks.

[2019-01-31 07:04] #23176 closed

[2019-01-31 07:09] vinynigam commented on #23766
Hi @miguelangelopereira. Linux support for Performance Capability is in preview.

[2019-01-31 07:09] KrishnaG-MSFT commented on #23553
@theheatDK Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-31 07:09] #23553 closed

[2019-01-31 07:18] Anmolgan81 commented on #23809
@cubikca @Mike-Ubezzi-MSFT

SQL MI doesn't support connectivity through Named Pipes. So if you app connects to SQL Server using Named Pipes, you need to switch it to TCP/IP sockets.

I find the above in this document is this not supported?
https://blogs.technet.microsoft.com/hybridcloudbp/2018/11/02/migration-from-sql-server-to-azure-sql-database-managed-instance/

[2019-01-31 07:33] femsulu commented on #23766
Thanks for the response @vinynigam. public or private review? when should we expect an update to the existing doc?

[2019-01-31 07:39] Anmolgan81 commented on #23665
Hi @Mike-Ubezzi-MSFT Can we replicate SQL Server 2008 as a publisher to Azure SQL Managed Instance as a Subscriber??

[2019-01-31 07:40] Anmolgan81 commented on #23779
@Mike-Ubezzi-MSFT This is weired because when I try to start the replication for SQL Server 2008 to Azure Managed Instance I get a version mismatch issue.

[2019-01-31 07:43] Anmolgan81 commented on #23809
@Mike-Ubezzi-MSFT We have currently opened a ticket with Azure Managed Instance, beacuse we are not able to make Transactional Replication work in any of the cases which involves Azure Managed Instance. And this is the only option as we have presented it to the customer.

[2019-01-31 07:53] lgp36018 opened #23882 "Synchronization"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-01-31 08:09] Grace-MacJones-MSFT commented on #23667
Hi @MMujtabaEjaz, it looks like the Azure Media Services team has responded to your  [MSDN](https://social.msdn.microsoft.com/Forums/en-US/e3499b42-76e3-47ef-b6e1-60a76b7e65e8/i-have-encoded-the-main-10l51main-video-using-ams-standard-encoder-and-it-transcodedencoded?forum=MediaServices) post.

We will now proceed to close this thread. If there are further questions regarding this matter, please t

[2019-01-31 08:09] #23667 closed

[2019-01-31 08:17] dcbrown16 opened #23883 "Sending to multiple workspaces"
Are there some types of data that can be sent to multiple workspaces and some that can't?
This article implies that Windows events can be sent to multiple workspaces if desired. When testing, say, a Web App's metrics settings, however, I don't see any way to add another workspace. There is no option to set it up in other workspaces once it is tied to the first one.

---
#### Document Details

⚠ *D

[2019-01-31 08:34] CHEEKATLAPRADEEP-MSFT commented on #23815
@Michael-McD When I run the following cmdlet, I would give the below error message “Authentication failed”, because the authorization header is missing.

![image](https://user-images.githubusercontent.com/44426401/52041603-e7f21180-2560-11e9-94e7-d8b936305beb.png)

You may try the below cmdlet to create Azure Cosmos DB in West SU and West US2 regions.

`az cosmosdb create --resource-group chpradee

[2019-01-31 09:32] jakaruna-MSFT commented on #23874
@ToruMakabe Can you give me the version of Azure cli which you are using?

[2019-01-31 09:32] CHEEKATLAPRADEEP-MSFT commented on #23875
@pabbap Thank you for the detailed feedback. This is being assigned to the content author [ @markjbrown  ] to evaluate and update as appropriate.

[2019-01-31 09:34] angoyal-msft commented on #23879
@v-makta Thanks for your feedback. We will investiagte actively and will get back to you soon.

[2019-01-31 09:58] erich-wang commented on #23411
@jdiazfernandez , please upgrade Azure IoT Edge Tool to latest version 0.1.7 first, it should work well for creating new IoT Edge project. For existing project, you need to upgrade the referenced nuget package "Microsoft.VisualStudio.Azure.IoT.Edge.MSBuildTasks" from 0.1.3 to 0.1.4 for your *.iotedgeproj.

[2019-01-31 10:02] mike-urnun-msft commented on #23202
Hi @voronkovsergey Please post this question on [MSDN forums](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureFunctions) or [Stackoverflow](https://stackoverflow.com/questions/tagged/azure-functions) and tag me here with the URL -- I'll make sure it gets an answer.

We will now proceed to close this thread for now. If there are further questions regarding specific details of this do

[2019-01-31 10:02] #23202 closed

[2019-01-31 10:05] mike-urnun-msft commented on #23202
cc: @cgillum

[2019-01-31 10:09] Jothi3125 opened #23885 "Powershell Script for migrating On-Prem SQL Database to Azure Managed Instance"
I need a Powershell for the following.
Consider a scenario where SQL Database is On-prem and is Password Protected.
The Password for the same is stored in Azure Key Vault.
Now, I want to migrate this On-Prem SQL Database to Azure Managed Instance. During migration, the password should be obtained and needs to be decrypted.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-01-31 10:11] richie1080 opened #23887 "URL Whitelist"
I've had some massive issues getting outbound connectivity for a client even with the whitelist in place.
After opening up the server to all ports &gt; all destinations outbound I can see lots of traffic to *.cloudapp.net

Should this be required in the whitelist?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdbd2045

[2019-01-31 10:16] Nimleth commented on #23657
Hi Mike,

Thanks for the clarification.

Rgrds,
Dennis

[2019-01-31 10:16] #23657 closed

[2019-01-31 10:25] rolandkru opened #23888 "How to create a alert rule for a service bus queue"
It would be really helpful to have a sample that shows how to monitor the size of a single service bus queue (not the whole namespace). This seems to be quite complicated and I haven't figured it out after hours of research.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f2bd9d0-af11-d684-051b-7ac8e611cca9
* Version I

[2019-01-31 10:32] DavidR91 opened #23889 "Deploy with Azure portal - 'run instance' greyed out"
Have a container registry and and a repository with a tag (latest)

The 'run instance' button on the context menu is greyed out

Is there a reason for this and is it possible to add an explanation to the documentation here?

(Portal trying to forbid using 'latest' vs. locking to a version?)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-01-31 10:32] angoyal-msft commented on #23879
@v-makta Could you please share the values you have seen in document and you are seeing in the actual portal screen. To help you better I have assigned this issue to content author.

@CarlRabeler could you please help customer in this discrepancy.

[2019-01-31 10:37] angoyal-msft commented on #23885
@Jothi3125 Thanks for your feedback. We are investigating actively and will get back to you soon.

[2019-01-31 10:43] neeleshray commented on #23334
@mumoryan
Let us know if you need further assistance on this.

[2019-01-31 10:45] ChiragMishra-MSFT commented on #23540
@Molotch You can use the IEventProcessor.ProcessEventsAsync method to process events in batch. To read more about this, please refer this doc :
[IEventProcessor.ProcessEventsAsync doc](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.eventhubs.processor.ieventprocessor.processeventsasync?view=azure-dotnet#Microsoft_Azure_EventHubs_Processor_IEventProcessor_ProcessEventsAsync_Microsoft_A

[2019-01-31 10:45] #23540 closed

[2019-01-31 10:46] isamllr opened #23890 "Use Storage Explorer to access secondary"
Is Storage Explorer supported to access the secondary Storage as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8314bbb-3e1b-7a68-dcd1-f7dfe34221a2
* Version Independent ID: 5c26cb3f-ec5c-b028-f456-53998a67749e
* Content: [What to do in the event of an Azure Storage outage](https://docs.microsoft.com/en-us/azure

[2019-01-31 10:49] munnerz commented on #23666
Please let me know if there's anything I can do to help here 😄 the installation now also deploys a ValidatingWebhookConfiguration resource (as detailed in the docs) which has made the deployment a bit more complex.

We have a new install guide & additional docs pages that will b e merged in later today and can be previewed here: https://cert-manager-munnerz.readthedocs.io/en/revamp-docs/getting-st

[2019-01-31 10:53] Nimleth commented on #23656
Hi Mike,

Ok.
Thanks for the added explanation.

Rgrds,
Dennis

[2019-01-31 10:53] #23656 closed

[2019-01-31 10:53] mike-urnun-msft commented on #23227
@khushi2091 Doc doesn't seem to discuss about any deployment steps, could you post this question on [MSDN forums](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureFunctions) or [Stackoverflow](https://stackoverflow.com/questions/tagged/azure-functions) instead, and tag me here with the URL?

We will now proceed to close this thread. If there are further questions regarding specific d

[2019-01-31 10:53] #23227 closed

[2019-01-31 11:07] RaithHandac opened #23891 "NuGet package issue following steps in this article"
Following the steps in the "Install the required NuGet packages" section in this article will result in the following (easily reproducible) error:

"Unable to find a version of 'Microsoft.Azure.Storage.Common' that is compatible with 'Microsoft.Azure.CosmosDB.Table 2.1.0 constraint: Microsoft.Azure.Storage.Common (&gt;= 8.6.0-preview && &lt;= 9.0.0.1-preview)'."

Using the following:
Visual Studio

[2019-01-31 11:10] simonebennett opened #23892 "Possible Updates"
I wrote up a 'how to' doco that details using the CDN with HTTPS, cookies and traffic manager for a website that is in production. My local MS reps suggested that i post that here.

https://www.ensyst.com.au/2019/01/azure-cdn-versions/
https://www.ensyst.com.au/2019/01/azure-cdn-traffic-manager/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-01-31 11:11] JohnStraumann commented on #23700
Thank you for your response but that is not the issue. I am using my Azure service, not a free trial. I did change to westus just to test, and got the same error "The thread 0x3dc8 has exited with code 0 (0x0)."

[2019-01-31 11:13] PramodValavala-MSFT commented on #23662
@Blackbaud-PeteLukich Some of the metrics do support dimensions as documented in [this](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported) doc.

In case of service bus, [most of](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported#microsoftservicebusnamespaces) the metrics have an `EntityName` dimension which can be set to the name of a **_

[2019-01-31 11:23] YASWANTHM-MSFT commented on #23890
@isamllr,
you can access the secondary location by appending -secondary to the account name as described [here ](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-emulator#addressing-the-account-secondary-with-ra-grs)and [here](https://docs.microsoft.com/en-us/visualstudio/azure/vs-azure-tools-storage-resources-server-explorer-browse-manage?view=vs-2017#to-view-the-secondary-endpoi

[2019-01-31 11:49] KetanChawda-MSFT commented on #23810
@westandy-dcp using "Add Dynmaic Content" you can use the values from your previous step. see the screenshot below for example:

![image](https://user-images.githubusercontent.com/28587628/52052312-ef72e400-257b-11e9-9a24-2ac426327d3b.png)

In the above screenshot , whenever the LA will trigger it will have a request body and you can use that request body parameters in you next steps as I used in

[2019-01-31 11:51] isamllr commented on #20989
That's clear - it does not only affect tools, but also Azure Services that to date only support the Blob API.
My ask is to update the documentation and state more clearly what it means to users, maybe by explaining using an example. The documentation as is is easy to misunderstand or misinterpret.

[2019-01-31 11:56] kvolkovich-sc commented on #23874
Same issue.

[code]

[2019-01-31 12:09] wattbt opened #23893 "UserNotMemberOfScopedAccessGroup needs SSPR code corrected"
UserNotMemberOfScopedAccessGroup has SSPR_0012 listed, instead of SSPR_0013 which it should be (SSPR_0012 is already described above it).

Tried to amend this via Github, but getting 500 errors when submitting just now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f5e3651-45ec-5dbc-7df5-526d0f7a4080
* Version Indepe

[2019-01-31 12:11] aquibqureshi26 opened #23894 "Move is wrong word - For AZCOPY you guys should always say copy instead of Move"
Team,
As azcopy just copies the data and doesn't delete the source data then how come it becomes move? I'm trying to move data from on premises to Azure but it only copies the data
Every documentation I've seen says MOVE which is not a right verb.
Can you guys please modify those articles. it is misleading

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2019-01-31 12:17] dominicbetts commented on #23804
Hi @KingdomOfEnds - The previous paragraph says "This script uses the name tutorial-iot-hub for the IoT hub, you should replace this name with your own unique name when you run it." We thought that it would be better for the person completing this tutorial to be able to choose their own name (and possibly reuse an existing hub) rather that having a generated name. We'll keep your comments in mind

[2019-01-31 12:18] SaurabhSharma-MSFT commented on #23670
@Sethu2488 How are you planning to change the KeyVault in a new tenant id ?  Are you moving the subscription which has key vault from one tenant to another ?

[2019-01-31 12:23] jakaruna-MSFT commented on #23184
@iainfoulds Please investigate and update the doc as required.

[2019-01-31 12:23] Sethu2488 commented on #23670
We have successfully moved the Subscription to a new Tenanacy. However, when attempting to the view the KeyVault within portal.azure.com it informs us that 'the directory currently selected differs from the key vaults directory'.
The article above shows how to change the tenancy associated to the key vault.
However, as we are running Virtual Machines with BEK encryption on the disks - would changi

[2019-01-31 12:32] SumanthMarigowda-MSFT commented on #23842
@Kimnaga Thanks for your question. We are checking on this and will respond to you soon.

[2019-01-31 12:33] angoyal-msft commented on #23891
@RaithHandac
Thanks for your feedback. We are investigating this issue actively and will get back to you soon.

[2019-01-31 12:36] ChiragMishra-MSFT commented on #23880
@xanatzar Azure Data Lake is a no-limit data store. U-SQL was developed to efficiently scale to any size of data without you focusing on scale-out topologies, plumbing code or limitations of a specific distributed infrastructure.

You can perform analytics on any size of data. However, the size affects pricing and performance. But there's no limit in terms of size on Data lake analytics. You can r

[2019-01-31 12:38] ChiragMishra-MSFT commented on #23880
I will now proceed to close the issue. Feel free to still comment and tag me incase you have any other queries.

[2019-01-31 12:38] #23880 closed

[2019-01-31 12:38] SumanthMarigowda-MSFT commented on #22309
@clouditspace I would request you to create MSDN post with complete PS script and the screenshot of the error message.
https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowsazuredata

[2019-01-31 12:48] SaurabhSharma-MSFT commented on #23670
@Sethu2488 As per my understanding you do not need to restart the VM as the VM is also moved along with your Key Vault in the new subscription. Also, you are getting this message as the default TenantId tied to your KeyVault is not changed your key vault is inaccessible by service principals in the new tenant and so you need to follow the steps and assign the new access policies as mentioned in th

[2019-01-31 12:52] Sethu2488 commented on #23670
Thank you for the information.

[2019-01-31 13:02] noelram commented on #23792
No really, I can follow this quickstart until the "Run the web app" step when it crashes when I click "Edit", "Details" or "Delete" as described.

[2019-01-31 13:10] v-videba commented on #23808
You're welcome.  Actually was a customer who I suggest to follow the instructions, who told me to escalate the missing instructions

[2019-01-31 13:11] buzzfrog opened #23895 ""by" instead of "my""
I think that this sentence "In AKS, the Kubernetes master components are part of the managed service provided my Microsoft." should exchange "my" with "by".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0fcc83c-c911-4d82-98af-ed8880ca6c4a
* Version Independent ID: 00462d96-9a30-8cef-5932-c99bab237706
* Content: [Conc

[2019-01-31 13:32] kasmodia commented on #23400
Email sent.
Thank you.

[2019-01-31 13:36] #23274 closed

[2019-01-31 13:39] ToruMakabe commented on #23874
@jakaruna-MSFT I tried 2.0.55 and 2.0.56. I got the same error.

[2019-01-31 13:40] kvolkovich-sc commented on #23874
Same error. 2.0.56

[2019-01-31 13:48] shashishailaj commented on #23887
@richie1080 Thank you for your query . We will investigate and update this thread further.

[2019-01-31 13:59] shashishailaj commented on #23893
@wattbt Thank you for your feedback. We will have this reviewed and update the document accordingly.

[2019-01-31 14:00] theheatDK commented on #23553
Thanks @KrishnaG-MSFT :-)

[2019-01-31 14:01] AshokPeddakotla-MSFT commented on #23145
@vcmcstech Good to hear that issue is resolved. As mentioned earlier, you can post your issues on Azure Data Factory forum for better assistance.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-31 14:01] #23145 closed

[2019-01-31 14:08] vcmcstech commented on #23145
And its not a installer bug.  The reason why I posted here is because

IT’S A PRE REQ TO HAVE AN ENTRY IN LOG ON AS SERVICE THAT GRANTS THE RIGHT TO THE DEFAULT SERVICE ACCOUNT

THIS SHOULD BE IN DOCUMENTATION!!!!!!!!!!!!!

CURTIS SAMUELS JR. Technical Support Specialist, Client Services
+1 971.255.4801 [dispatch]
[cid:image003.png@01D4B92B.60E96DB0]

From: Curtis Samuels
Sent: Thursday, January 3

[2019-01-31 14:16] snehithm commented on #23888
Hey @rolandkru here you go. Try using the files below.
[Service-bus-queue-template.zip](https://github.com/MicrosoftDocs/azure-docs/files/2817529/Service-bus-queue-template.zip)

[code]

[2019-01-31 14:31] shashishailaj commented on #23882
@lgp36018 Thank you for using documentation feedback channel. Please let us know your detailed query and we can surely help you get some answers. If it is for any technical issue then we suggest to open a thread within [MSDN forums](https://social.msdn.microsoft.com/Forums/azure/en-US/home?category=windowsazureplatform) . In case it is related to the documentation we can engage the author to help

[2019-01-31 14:31] jn-altius opened #23896 "Calling functions in a ps1 file"
In the above documentation it would be handy to have an example of how to call functions in ps1 files.
e.g. if I have a file named "MyCustomLibrary.ps1" uploaded to my clouddrive, and want to call the function Get-CommonSettings from in that file, how do I do that?  Could the documentation include some example code?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2019-01-31 14:33] rkarlin commented on #15386
@andrewatfornax Hi, I'm sorry I wasn't more clear. I will definitely incorporate some troubleshooting for No recent data in one of our upcoming releases. thanks again for your feedback.

[2019-01-31 14:40] szolla commented on #23563
@Karishma-Tiwari-MSFT Microsoft documentation specifically states that Availability Zones are an alternative to Availability sets, look here: https://blogs.msdn.microsoft.com/igorpag/2017/10/08/why-azure-availability-zones/ and https://docs.microsoft.com/en-us/azure/virtual-machines/windows/regions-and-availability#availability-zones .  Availability Zones and Availability Sets cannot be used toget

[2019-01-31 14:44] mamccrea commented on #23297
Thanks for the recommendation @isamllr! I have created a work item to look at these options.

#please-close

[2019-01-31 14:56] DCtheGeek commented on #23531
@ThierryBT This looks to be related to the [breaking changes](https://docs.microsoft.com/powershell/azure/migrate-az-1.0.0#azmonitor-previously-azurerminsights) introduced by moving from AzureRM to the new Az module for Azure PowerShell.  From your screenshot, I can see you have the Az module installed since the response to your `Get-Help Set-AzureRmDiagnosticSetting` actually responds with detail

[2019-01-31 15:04] brmallon opened #23897 "Cannot use self-signed certificates"
Please add to the documentation that the certificate installed on the VM must be issued by a trusted certificate authority. Self-signed certificates cannot be used in this scenario. If a self-signed cert is used the connection from Azure Search to SQL Server will fail.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0c

[2019-01-31 15:04] OMARI1988 commented on #23654
I can confirm that using ```sudo mysql_secure_installation``` solved the problem. Thanks!

[2019-01-31 15:11] rmarskell opened #23899 "Clarification on the notes"
The notes in this seem to suggest that a) using hash indexes is deprecated due to the range index, and b) setting a custom precision is no longer needed. I think these should be more prominent (i.e. move the precision note to the top of the "Index precision" section) and should actually explicitly call out that these features have been deprecated and should not be used.

---
#### Document Details

[2019-01-31 15:21] rolandkru commented on #23888
Thank you. I tried using the TemplateParameterObject instead of the TemplateParameterFile but got the following error: New-AzureRmResourceGroupDeployment : Cannot retrieve the dynamic parameters for the cmdlet. Parameter type in parameters cannot be null or empty

![image](https://user-images.githubusercontent.com/6141357/52064050-13cac280-2574-11e9-9be9-758b581058b3.png)

[2019-01-31 15:25] zhusulai opened #23900 "Misleading Statement"
This sentence "Alice cannot read the blobs inside a container, but she can read, write, and delete containers." is misleading. Being the Owner, Alice has permission to list the Access Keys, which will give her access to the content of the containers. RBAC Reader role might be a better example to illustrate the differences.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-01-31 15:37] allirreza commented on #15386
Hi @rkarlin, I agree with @andrewatfornax. I didn't find any related information for "No recent data" and reinstalled the all agent again. The problem is solved for servers and after a couple of days again we got this message for some of them without changing anything else. As you mentioned, it would be nice if you elaborate on this on the document to give us more insight about behind the scene. T

[2019-01-31 15:46] rkarlin commented on #15386
@allirreza thanks for the feedback -  I've added it to my list and will be sure we cover it in a release in the near future.

[2019-01-31 15:49] ameb1981 commented on #23816
Sorry. I had a typo on the settings.js file. Now I'm able to login, I can upload an image but now the app is stuck in the "Analyzing Image" step. The image is saved in the storage, but the thumbnail is not and the metadata is not saved in Cosmos either, and a lot of calls to the GetImages endpoint are being made.

[2019-01-31 15:49] msangapu commented on #23034
#please-close

[2019-01-31 16:00] agvardha commented on #23836
Hi @jeffgilb thanks for getting back. Please note, my questions are directly based of the TraceCollector documentation you have provided and I feel has little to do with ASDK installation. The image I gave is from a Safari book on Azure Stack Diagnostic chapter. Basically if you can explain the Provider, Controller and Consumer with a example that would help your readership greatly. My questions a

[2019-01-31 16:06] jeffgilb commented on #23836
Oh don't worry @agvardha, I definitely heard your feedback and will follow-up with the team about improving the clarity and completeness of this article. I just can't provide support via GitHub issues. If you create a thread on the forum I'll be happy to join you there and loop in the appropriate product team members to get this content updated. That's really the best route to take here.

[2019-01-31 16:10] allirreza commented on #15386
@rkarlin Thank you for the quick response. Good luck.

[2019-01-31 16:11] darshankumarys opened #23901 "VSTS Custom condition"
Hi Team,

We are facing one issue regarding VSTS custom condition,
Am trying to search for 'test' folder in release artifact but condition in failing. PFB the condition.
the same condition is working in test release pipeline and not in actual release pipeline.
And when I select the test Build from actual release pipeline, it is taking the condition. Can you suggest please. Below is the condition w

[2019-01-31 16:11] rkarlin commented on #15386
@allirreza thanks!

[2019-01-31 16:14] westandy-dcp commented on #23810
Thank you, I was able to learn how to use $triggerBody(), but...

I'm running into PartitionKey issues now... https://stackoverflow.com/questions/54451223/logic-app-partitionkey-extracted-from-document-doesnt-match-the-one-specified

[2019-01-31 16:17] westandy-dcp commented on #23810
This is my current Logic App.

[code]

[2019-01-31 16:38] MicahMcKittrick-MSFT commented on #23889
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-31 16:39] #23635 closed

[2019-01-31 16:42] raghukrishnamoorthy commented on #22908
Hi Mike, I was trying to log an issue with the Azure Monitoring blade throwing random errors on the Azure portal and I somehow messed up logging the issue here. Apologies. The error seems to have gone now. If it happens again I will report it again.

I'm terribly sorry for the Inconvenience.

[2019-01-31 16:45] #22710 closed

[2019-01-31 16:45] #23278 closed

[2019-01-31 16:45] #23297 closed

[2019-01-31 16:46] #15386 closed

[2019-01-31 16:46] #20752 closed

[2019-01-31 16:48] #22649 closed

[2019-01-31 16:49] JTNichols commented on #13266
Missing one simple step.
1. From "Dashboard > Azure AD B2C" click "User flows (policies)"
2. Click name of your sign in user flow ('B2C_1_SiUpIn', for example).
3. On left had side under "Settings" click "Identity providers"
4. Check "Facebook" under "Identity Provider"
5. Click "Save".
Took me about an hour to find it b/c I assumed I had made a mistake on the facebook side of things.

[2019-01-31 16:52] PramodValavala-MSFT commented on #23816
@ameb1981 Could you check the function's logs for the resizer function?

I believe the calls are made to check if the thumbnail was generated or not. Basically, polling until the thumbnail is present.

[2019-01-31 16:54] MouthOfMadness commented on #23157
That works.

From: SumanthMarigowda-MSFT <notifications@github.com>
Sent: Wednesday, January 30, 2019 5:49 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: James Mattern <James.Mattern@aiworldwide.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] VSTS - the storage-preview is no longer available to install (#23157)

EXTERNAL EMAIL

@MouthOfMadnes

[2019-01-31 16:57] jtuliani opened #23902 "Out of date re VMware statistics collection"
Doc shows setting VM statistics to level 3 etc. This approach (one-time collection) is deprecated in favour of the new continuous collection method, according to other doc pages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3eb9b2b-6faf-a9d7-8e30-ee5d9efa713e
* Version Independent ID: af127f28-1546-fb7f-e41c-c1b08e9

[2019-01-31 17:00] JasonWHowell commented on #23297
Related to https://docs.azuredatabricks.net/user-guide/advanced/external-hive-metastore.html#hive-metastore-setup

[2019-01-31 17:03] ThorstenS0069 opened #23903 "SSL certificates expiry monitoring"
Is it possible to monitor SSL certificates and their expiry date ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10858323-1827-1c73-b93a-7c133bae54ba
* Version Independent ID: 3ed5fda4-c916-dcb0-a3b2-a0bb534d8bdb
* Content: [Monitor availability and responsiveness of any web site](https://docs.microsoft.com/en-us/azur

[2019-01-31 17:07] YutongTie-MSFT commented on #23901
@darshankumarys Thank you for your feedback. We are willing to help but need more information. Can you please share the document you are referring to?

[2019-01-31 17:08] MicahMcKittrick-MSFT commented on #23759
@nageshajab Any update?

[2019-01-31 17:08] CarlRabeler commented on #23879
please provide more details @v-makta

[2019-01-31 17:11] iainfoulds commented on #23874
Sorry for the problems people are running into here. This feature is still rolling out across all regions and subscriptions, but should be fully available in the next day or two. Until that rollout is complete, you may see these errors.

CC: @sauryadas @seanmck @jpconnock

[2019-01-31 17:16] displaced opened #23904 "Examples for YAML-format Templates?"
Hi,

Since the `az` command now supports the `--input-yaml-files` argument, will there be documentation equivalent to the above for yaml-formatted templates?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9d3b576-6bf2-7e4b-4d52-cf8cbfc54b4d
* Version Independent ID: ab0169d6-ca8d-0945-e6cf-d5245e641d35
* Content: [Azu

[2019-01-31 17:26] jasonvenema opened #23907 "CLI commands using Classic CLI"
The example Azure CLI commands shown in the article are using the "Classic" CLI, which is no longer recommended (https://docs.microsoft.com/en-us/cli/azure/?view=azure-cli-latest#get-started). Consider updating to use "az monitor diagnostic-settings" instead (https://docs.microsoft.com/en-us/cli/azure/monitor/diagnostic-settings?view=azure-cli-latest#az-monitor-diagnostic-settings-create).

---
##

[2019-01-31 17:29] drinkbird opened #23908 "Profiling on aspnet core app running within a docker container"
I've been trying to run a manual profiler session towards an aspnet core 2.2 app, running within a docker container. The operation fails but doesn't tell me why. There's always some traffic (eg. a healthcheck endpoint that is being hit every 5 seconds). Could we add some documentation about properly running the profiler within containers?

---
#### Document Details

⚠ *Do not edit this section. It

[2019-01-31 17:31] tfitzmac commented on #23904
@displaced - which az command are you referring to?

[2019-01-31 17:32] k8s-class commented on #21106
Here is the answer.

helm template install/kubernetes/helm/istio --name istio --namespace istio-system --set gateways.istio-ingressgateway.serviceAnnotations.'service\.beta\.kubernetes\.io/azure-load-balancer-internal'="true" > aks-istio.yaml

[2019-01-31 17:33] msangapu commented on #18963
#please-close

[2019-01-31 17:41] barbkess commented on #20979
@DMoonesinghe and @JasonBSteele : Thanks for your patience.  I have updated https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/what-is-single-sign-on with information about OAuth and OpenID Connect.

[2019-01-31 17:43] msangapu commented on #9684
Hi all, following-up on open items for App Service. @apigirl @Niladri24dutta  any updates on this issue?

[2019-01-31 17:43] MicahMcKittrick-MSFT commented on #23788
@Mortana89 since the scenario you are looking at is not possible and you still want to utilize backup you would have to go with the backup scenario as described in the docs and is supported. One that is based on a local directory or UNC.

You can also look at the docs on disaster recovery which you might find useful

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-disaster-rec

[2019-01-31 17:53] #23034 closed

[2019-01-31 18:01] MicahMcKittrick-MSFT commented on #23895
@buzzfrog thanks for pointing this out. I have corrected the doc. Once the PR merges the changes will go live in a few hours.

[2019-01-31 18:01] #23895 closed

[2019-01-31 18:04] MicahMcKittrick-MSFT commented on #23224
@JamesTerHark I have ran through the doc and I am not seeing any issues. If you are still seeing problems I would suggest you open a technical support ticket to dig in further. If you do not have the ability to open a technical support ticket you can email me at AzCommunity@microsoft.com and provide me with your SubscriptionID and link to this issue. I can enable your subscription for that request

[2019-01-31 18:04] #23224 closed

[2019-01-31 18:05] displaced commented on #23904
Ah, sorry - I was looking at:

az mesh deployment create

[2019-01-31 18:14] femsulu commented on #23883
@dcbrown16 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-31 18:15] Mortana89 commented on #23788
Thanks for the information provided, I'll dig into it. Definitely appreciate your response!
Another approach I could take, is listening to An event of a specific type, and populating the reliable dictionary upon receiving that event, but An issue I see here is concurrency (processes running on stale data). Hence I thought of the lossasync method as a last resort to make sure nothing Else is doing

[2019-01-31 18:17] roygara commented on #23193
As no response has been received and the values are identical:

#please-close

[2019-01-31 18:17] viskri-msft commented on #23690
Can you verify if your redis cache is up and running?

[2019-01-31 18:18] JasonWHowell commented on #23706
@adriantorrie Are you going to share a metastore between HDInsight and a Databricks cluster?

HDInsight 3.6 has two versions of Hive installed (1.2.1 and 2.1.0):
[https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-component-versioning](https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-component-versioning)

From my understanding, the compatibility will depend on which Hive service

[2019-01-31 18:22] tfitzmac commented on #23904
It looks like the yaml option is only available for the mesh command. Since yaml is not available for the az group deployment create, we won't add yaml examples to this article.

[2019-01-31 18:22] tfitzmac commented on #23904
#please-close

[2019-01-31 18:23] cherylmc commented on #21948
@kazshi - the update has published. Thanks for calling that to our attention!

[2019-01-31 18:25] up2pixy opened #23909 "Need describe what is a VIP."
The acronym VIP is used without note at the beginning part of this article

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e31ca36-9aa0-f429-f2fd-65ba2758c359
* Version Independent ID: e201f645-18c4-f420-167c-6431d114ef5b
* Content: [Create an External App Service environment - Azure](https://docs.microsoft.com/en-us/a

[2019-01-31 18:32] cephalin commented on #23791
@HermannGruber Thank you for your feedback. I've gone in to add the steps for both the Windows and the Linux tutorials. The update should be published in the next day. #please-close

[2019-01-31 18:32] cherylmc commented on #21948
#please-close

[2019-01-31 18:33] praneeth2050 commented on #23874
Can't create cluster even in eastus.

$ az aks create   --resource-group myResourceGroup   --name myAKSCluster   --kubernetes-version 1.12.4   --node-count 1   --enable-vmss   --enable-cluster-autoscaler   --min-count 1   --max-count 3 --generate-ssh-keys
*The behavior of this command has been altered by the following extension: aks-preview
No registered resource provider found for location 'eastu

[2019-01-31 18:33] cherylmc commented on #23820
Taking a doc bug on this one for the product team to review. #please-close

[2019-01-31 18:37] johnkemnetz commented on #23562
@ashleywb - syslog should be supported with the OMS Linux Agent today. Are you seeing that it's not working?

[2019-01-31 18:40] Grace-MacJones-MSFT commented on #23791
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-31 18:40] #23791 closed

[2019-01-31 18:42] mumoryan commented on #23334
Raised this issue to @rolyon . Hope the docs are updated soon.

[2019-01-31 18:43] TravisCragg-MSFT commented on #23892
@simonebennett Thanks for the info! This is quite useful for both choosing a CDN, and implementing it in an environment.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-31 18:43] #23892 closed

[2019-01-31 18:44] Karishma-Tiwari-MSFT commented on #23563
@szolla Thank you for sharing the links and the details. I apologize for the mistake and I have corrected it to not mislead other customers. Since I am not able to find any other doc with those details, I have assigned the issue to the content author to investigate further and update the document as appropriate.

@MikeRayMSFT I am not able to find a document with the architecture on availability z

[2019-01-31 18:46] YutongTie-MSFT commented on #23894
@aquibqureshi26
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-31 18:48] MarileeTurscak-MSFT commented on #23900
@zhusulai
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-31 18:51] Karishma-Tiwari-MSFT commented on #23654
@OMARI1988 Thank you for confirming that it works for you.
I will keep the issue open as the author will be updating the doc with this information.

[2019-01-31 18:51] BharathNimmala-MSFT commented on #23903
@ThorstenS0069 Thank you for your question. We are looking into this and will get back to you shortly.

[2019-01-31 18:56] SaurabhSharma-MSFT commented on #23670
@Sethu2488 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-31 18:56] #23670 closed

[2019-01-31 18:58] Karishma-Tiwari-MSFT commented on #15216
@pankmishra Your subscription may be configured to limit the number of cores for a region. If you attempt to deploy a virtual machine with more cores than the permitted amount, you receive an error stating the quota has been exceeded.
To request a quota increase, go to the portal and file a support issue. In the support issue, request an increase in your quota for the region into which you want to

[2019-01-31 19:00] banzaisi opened #23911 "User risk policy section mentions sign-in risk policy"
[Enter feedback here]
First line of section regarding user risk policy implementation talks about sign-in risk policy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75919910-c2c4-b678-44c0-62ed63fe8a1a
* Version Independent ID: c82be269-3182-f9f5-2d88-c95b258f969e
* Content: [How to configure risk policies in Azure Ac

[2019-01-31 19:01] wmgries commented on #23837
Hi @toyota790,

Totally agree - this "cleanup" category is nonsensical, so I've removed it. Honestly, I'm not even sure what we were trying to say :)

This fix should go live today.

Thanks,

Will

[2019-01-31 19:02] BharathNimmala-MSFT commented on #23908
@drinkbird  Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-01-31 19:03] MashaMSFT commented on #23545
Hi @Rabbit994 , thanks again for your feedback! I checked the video, and the commands used in the video to create the credential and restore the database are available further down in the document. However, I think you're asking for commands to back up the database as well. This topic is meant to show customers how to restore a database, so those commands would actually be elsewhere. This topic he

[2019-01-31 19:08] MarkusVi commented on #23560
Hi @Neckross, thanks for the clarification. I'll ask our Azure AD Connect writer to take a look at this.

[2019-01-31 19:09] Grace-MacJones-MSFT commented on #23909
Hi @up2pixy,  thanks for the feedback! We will update the doc shortly.

[2019-01-31 19:10] MicrosoftGuyJFlo commented on #22939
Adding to the article concept-authenticaton-methods

Users may have a combination of up to 5 OATH hardware tokens or authenticator applications such as the Microsoft Authenticator app configured for use at any time.

[2019-01-31 19:10] DMoonesinghe commented on #20979
Thanks Barbara.

On Thu, Jan 31, 2019 at 12:42 PM Barbara Kess <notifications@github.com>
wrote:

--
Deepal Moonesinghe
(408) 568 1669
deepal.moon@gmail.com

"We must accept finite disappointment, but we must never lose infinite
hope."
~ Martin Luther King, Jr. ~

[2019-01-31 19:12] juho-hanhimaki commented on #23747
@hrushib I just emailed you with the details.

[2019-01-31 19:12] MicrosoftGuyJFlo commented on #23559
This is mentioned in the doc in the second and third line

"By default, smart lockout locks the account from sign-in attempts for one minute after 10 failed attempts. The account locks again after each subsequent failed sign-in attempt, for one minute at first and longer in subsequent attempts.

Smart lockout tracks the last three bad password hashes to avoid reincrementing the lockout counter. If

[2019-01-31 19:14] MicrosoftGuyJFlo commented on #23559
Sorry I read that wrong you are looking for it to be added to the list of policies for cloud users in the SSPR policy doc... Adding a reference there.

[2019-01-31 19:14] hugoro commented on #21504
I was having the exact same issue as @ekramy-elnaggar. However, I'm not pinging. I'm running curl and it still works with content from the websites on the response.

E.g.
As expected, no results from running: @vm-tests-fw:~$ curl http://portquiz.net:8080
Not expected: @vm-tests-fw:~$ curl http://portquiz.net:8080
<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html><head>
<title>400 Bad Reques

[2019-01-31 19:17] jdiazfernandez commented on #23411
I did it. Can you see it here
![Image of VS Extension](https://drive.upm.es/index.php/s/YmSOS0VHwUYyA21)

But I cannot create a project.

![Image of VSt](https://drive.upm.es/index.php/s/9MupnFyx4xq9MBf)

[2019-01-31 19:17] erikamenezes opened #23912 "what does "values are interchangable" do in phrase lists?"
Unclear what this checkbox does? Can you add some documentation for this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 882d78aa-afe9-9ad3-1af5-6a5639a6109f
* Version Independent ID: f7886b90-9074-64a5-f23c-ba31237d9836
* Content: [Simple entity, phrase list - Azure Cognitive Services](https://docs.microsoft.com/en-us

[2019-01-31 19:21] #23837 closed

[2019-01-31 19:21] Grace-MacJones-MSFT commented on #23897
Hi @brmallon, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-31 19:22] alexvy86 opened #23913 "Broken link"
Under `Scenario 2`, the next-to-last paragraph has a broken link in "any of these public IP addresses are a [candidate for outbound flows](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-outbound-connections#multivipsnat), and one is selected at random." pointing to `https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-outbound-connections#multivipsnat`. It seems t

[2019-01-31 19:24] Grace-MacJones-MSFT commented on #18963
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-31 19:24] #18963 closed

[2019-01-31 19:24] MicahMcKittrick-MSFT commented on #23747
Thanks @juho-hanhimaki Please feel free to CC me in any conversations via email. I will close this and we can continue it offline.

[2019-01-31 19:30] switj opened #23914 "No link to API Spec"
There are only details about how to configure the whitelist with `portal.azure.com`.  Please include atleast the API spec, some instructions about how to configure this via the azure cli would also be good.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfbae0f2-ccb7-5ccb-f58a-61bce5d2bc90
* Version Independent ID: dc4

[2019-01-31 19:31] MicahMcKittrick-MSFT commented on #23889
@DavidR91 is that specific instance already running by chance?

[2019-01-31 19:31] YutongTie-MSFT commented on #23489
@erhopf Hi, could you please help to check the document and update it as necessary? Thanks a lot.

[2019-01-31 19:32] cranesandcaff opened #23915 "List version of Redis used in Azure Cache for Redis"
I'm sorry in advance if this is somewhere in the documentation but I googled it as best I could, but it would be incredibly helpful if somewhere in the documentation it specified the version of Redis that this service is based off of.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0693ee25-f53b-63e0-963f-5600fd4880e8
*

[2019-01-31 19:32] diberry commented on #22964
@dcbrown16 Hi Dillion, Active Learning was released this week. I will look through this doc and see where/how it can be edited to address your concerns.

[2019-01-31 19:33] way2arun opened #23916 "getting error while registering the AD extension"
Deployment failed. Correlation ID: 152e62e0-d6dc-46b6-8c86-e26d98420ac5. Handler 'Microsoft.Azure.ActiveDirectory.LinuxSSH.AADLoginForLinux' has reported failure for VM Extension 'AADLoginForLinux' with terminal error code '1007' and error message: '[ExtensionError] Non-zero exit code: 20, ./installer.sh install
[stdout]
2019/01/31 19:20:13.551833 INFO ExtHandler Move process 122179 into cgroups f

[2019-01-31 19:33] msangapu commented on #13493
Hi all - the script works without issue.

In terms of the "connection string" comment. Connection string is composed of parameters required to connect to a server. It does not only refer to the KEY. It refers to the entire line, which includes, REDIS_URL, REDIS_PORT and REDIS_KEY.

I believe the comment is fine as is. If we see more feedback, I'd be happy to reconsider.

#please-close

[2019-01-31 19:36] YutongTie-MSFT commented on #23700
@JohnStraumann66 Hi John, we'd like to work with you further on this issue. Can you please email us at azcommunity@microsoft.com? Please provide us with your subscription ID and the URL for this thread.

[2019-01-31 19:38] spelluru commented on #19947
#please-close

[2019-01-31 19:42] YutongTie-MSFT commented on #23811
@guybark Thank you for your feedback. I have fixed it and you should see the change shortly. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-01-31 19:42] #23811 closed

[2019-01-31 19:45] YutongTie-MSFT commented on #23912
@erikamenezes Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@diberry Hi Dina, could you please check this issue and update the document as necessary? Thank you.

[2019-01-31 19:51] Bmeist opened #23918 "QPS Rate Limit"
What is the default QPS and QPM rate limit for this endpoint?  How can I increase it?  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01b5aec2-8e2c-45e2-b371-963351e9ca3e
* Version Independent ID: c0620c15-6693-8c2d-b169-83f49d715035
* Content: [What is Project URL Preview?](https://docs.microsoft.com/en-us/azu

[2019-01-31 19:51] erhopf commented on #23489
@YutongTie-MSFT #please-close

This is addressed in the linked PR.

[2019-01-31 19:53] mariotzki opened #23919 "Route Production traffic manually -- Azure Web app slots"
Tried the x-ms-routing-name specified in the doc. It doesn't work. Is manual routing thru slots still active?

![image](https://user-images.githubusercontent.com/4824063/52081281-b1ab9680-254e-11e9-8a69-3bec1c0d7dab.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6e09089-1ae2-8943-5ce2-9d48f458c81f
* Version Indep

[2019-01-31 19:55] dneelyep opened #23920 "Problem with upcoming Terraform version"
Note for others: while attempting to use the "unit test" section, I was getting strange errors about ReadPlan() being obsolete. This is because my installation of the terraform module (at src/hashicorp/terraform) was pointing to the upcoming terraform 0.12. In 0.12, they are rewriting a lot of functionality, including the ReadPlan() method. Attempting to solve it by downgrading the terraform go mo

[2019-01-31 19:58] MarileeTurscak-MSFT commented on #23559
We will proceed to close this thread since @MicrosoftGuyJFlo has added the reference.

[2019-01-31 19:58] #23559 closed

[2019-01-31 20:22] jdiazfernandez commented on #23411
@erich-wang If I try to reopen the solution, VS also shows the same error when I try to "Set IoT Edge Device Connection String". This error says:

"No se puede cargar el archivo o ensamblado". It can be translated as: "It is not possible to load the file or assembly 'Microsoft.VisualStudio.Azure.IoT.Edge.Infrastructure, Version=1.0.0.0, Cultura=neutral, PublicKeyToken=31bf3856ad364e35'  or its dep

[2019-01-31 20:23] Niladri24dutta commented on #9684
@msangapu Hi , I have not received any update regarding the PR which was supposed to be raised with the list of changes . Once it's raised then I can review the change and let @apigirl know if there is any modification required.

[2019-01-31 20:46] #23688 closed

[2019-01-31 20:46] spelluru commented on #19947
@PramodValavala-MSFT - I own the content for Event Grid service now. Please close the issue. Thanks.

[2019-01-31 20:47] spelluru commented on #19947
https://docs.microsoft.com/en-gb/azure/event-grid/resize-images-on-storage-blob-upload-event?toc=%2Fazure%2Fstorage%2Fblobs%2Ftoc.json&tabs=dotnet#configure-the-function-app

[2019-01-31 20:47] YutongTie-MSFT commented on #23489
@newbienewbie
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-01-31 20:47] #23489 closed

[2019-01-31 20:49] #22795 closed

[2019-01-31 20:50] Mike-Ubezzi-MSFT commented on #23915
@cranesandcaff Thank you for this detailed feedback. I will get you this information and then make an enhancement request to the content owner to include this detail.

[2019-01-31 20:51] YutongTie-MSFT commented on #23918
@Bmeist
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-31 20:51] #23810 closed

[2019-01-31 20:52] Mike-Ubezzi-MSFT commented on #23907
@jasonvenema Thank you for this detailed feedback. I am assigning this to the content owner (@SnehaGunda) to evaluate and update as appropriate.

[2019-01-31 20:52] mserd opened #23922 "Outdated document"
New UI has deprecated the steps given and screenshots.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 205b724d-450d-7112-3f2e-523d8ae79e07
* Version Independent ID: cfe15589-168f-3520-2cbb-309a900a22e6
* Content: [Data Management Gateway for Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/v1/data-fact

[2019-01-31 20:55] Mike-Ubezzi-MSFT commented on #23899
@rmarskell Thank you for this detailed feedback. I am assigning this to the content owner (@SnehaGunda) to evaluate and update as appropriate.

[2019-01-31 20:55] YutongTie-MSFT commented on #21373
@diberry Thank you Dina.

@Charlie-Chat-Bot
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-01-31 20:55] #21373 closed

[2019-01-31 20:56] ashleywb commented on #23562
@johnkemnetz this is working for me now. Thanks

[2019-01-31 20:57] YutongTie-MSFT commented on #23696
@diberry Thank you Dina. I am tracking this as well.

[2019-01-31 21:00] MicahMcKittrick-MSFT commented on #23920
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-31 21:23] daningalla opened #23923 "Thread safety/scoping for CloudBlobClient & CloudBlob"
What are the appropriate lifetimes/scopes for these types? The console application example is good, but if I put this stuff into IServicesCollection for use in a hosted service, what's the appropriate scopes? Can these types be shared across threads? Should we use a fresh client for every operation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-01-31 21:33] Ba4bes commented on #23015
Sorry for this late reply.
I was curious for the permissions within Azure DevOp because we use a service account for the sync and I want to minimize permissions. So that powershell cmdlet is very handy as the account will not need access to the Azure Automation account. Thank you for that.

I did create an account in Azure DevOps while testing this and I could not get it to work without project ad

[2019-01-31 21:36] YutongTie-MSFT commented on #22397
@jennabourgeois We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-01-31 21:36] #22397 closed

[2019-01-31 21:41] tfitzmac commented on #21036
@o-l-a-v - thanks for this feedback. I am adding metricAlerts and the note about streamingjobs. Some of the other resources have known issues. I am trying to find out if we need to document workarounds or if the fixes are almost ready.

[2019-01-31 21:56] johnkemnetz commented on #23562
@femsulu can you close, this is resolved?

[2019-01-31 21:59] ycedillos opened #23924 "Restrincting access from other azure services like Data Factory"
It would be great if we could restrict the access from some Azure Services like Data Factory. For sure, the restriction should be for allowing access from only the the customer-owned Azure Services to the Azure SQL Database and Azure SQL Servers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c2b2800-b8b3-a8f3-a14f-8d

[2019-01-31 22:02] ycedillos opened #23925 "Restrincting access from other azure services like Data Factory"
It would be great if we could restrict the access from some Azure Services like Data Factory. For sure, the restriction should be for allowing access from only the the customer-owned Azure Services to the Azure SQL Database and Azure SQL Servers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79891897-a11e-6e20-9d41-e4

[2019-01-31 22:08] dsk-2015 commented on #23842
@Kimnaga Thank you for submitting this issue. There are a few things that could go wrong here:
1) UDF is not running or provisioned properly, and hence the space is not getting the Type property of "AvailableAndFresh" set.
2) Sensor data is not coming correctly, which means the UDF is not getting triggered.

Would you be able to upload the outputs of these commands in your setup? -->

1) "dotnet r

[2019-01-31 22:09] dsk-2015 commented on #23842
FYI @alinamstanciu

[2019-01-31 22:09] alkohli commented on #21133
@anoobbacker  This is now fixed. PR is merged and the content should be live at the next publish.

#please-close

[2019-01-31 22:10] dsk-2015 commented on #23842
Also FYI @fernandoviton just in case!

[2019-01-31 22:10] artisticcheese opened #23926 "Please expand on what "Monitor OS vulnerabilities in Azure Security Center" specifically monitors"
Documentation says "Servers which do not satisfy the configured baseline will be monitored by Azure Security Center as recommendations". This sentence does not make sense. Which baseline is being referred and what action exactly means and how to re-mediate it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c78cb0a-edf

[2019-01-31 22:11] TravisCragg-MSFT commented on #23913
@alexvy86 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-31 22:33] LisandroSu opened #23928 "HubName explanation in SignalR output binding is ambiguous"
@Suzuko123 commented on [Thu Jan 31 2019](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/252)

After wasting a day trying to find why my messages never arrive at the hub, I figured out that HubName is expecting a case insensitive CLASS name of the Hub class I want to send the message to. That should be clarified in the documentation because the way I read it is that you are supposed to p

[2019-01-31 22:34] LisandroSu commented on #23928
Hi team,

Please check the issue reported by the user.

Thanks!

[2019-01-31 22:36] LisandroSu opened #23929 "Exit with code=255"
@danielfs1987 commented on [Thu Jan 31 2019](https://github.com/MicrosoftDocs/azure-docs.pt-br/issues/211)

Didi all steps as required but at the end we got the error below:

Starting] Upload sketch - app.ino
[Warning] Output path is not specified. Unable to reuse previously compiled files. Upload could be slow. See README.
Carregando configura��o...
Inicializando pacotes...
Preparando placas...
j

[2019-01-31 22:36] LisandroSu commented on #23929
Hi team,

Please check this error the user is having with documentation.

Thanks!

[2019-01-31 22:41] LisandroSu opened #23930 "Error in linked script to see list of impacted tables"
@DanielGoucher commented on [Thu Jan 31 2019](https://github.com/MicrosoftDocs/azure-docs.sv-se/issues/136)

In the script linked there is an error causing the rowcount to be double in the case where the table has a nonclusterd index. In sys.dm_pdw_nodes_db_partition_stats you get duplicates due to more than one index_id.

---
#### Dokumentinformation

⚠ *Redigera inte det här avsnittet. Det krävs

[2019-01-31 22:41] mike-urnun-msft commented on #22804
@boreys @sakvin1 Please track following MSDN thread as this is related: [Issue attaching an API to a Product when using revisions](https://social.msdn.microsoft.com/Forums/en-US/c7992108-8f26-485d-9621-3bfda6ded4b4/issue-attaching-an-api-to-a-product-when-using-revisions?forum=azureapimgmt)

We will now proceed to close this thread. If there are further questions regarding specific details of this

[2019-01-31 22:41] #22804 closed

[2019-01-31 22:42] LisandroSu commented on #23930
Hi team,
Please check this issue reported.

Thanks!

[2019-01-31 22:42] unnieayilliath commented on #10219
@muzzar78 Hi, I am getting the same error as below: I have checked all values are correct and both VM & Key vault are in the same region. Did you manage to find a solution?
[code]

[2019-01-31 22:43] BharathNimmala-MSFT commented on #23903
@ThorstenS0069  – If your question is to understand whether we can monitor SSL certificates expiry from Application Insights URL ping test, no we cannot with just the out of box ping test . You can write custom solutions to read certificate expiry and perform a ping test on that or  ingest certificate data into Application Insights and alert on top of it.  Hope this information helps.

Few referen

[2019-01-31 22:45] #23903 closed

[2019-01-31 22:53] ToruMakabe commented on #23874
@iainfoulds I have succeeded in creating a cluster on Japan East just now. Thanks!

[2019-01-31 22:54] Adam-Smith-MSFT commented on #23923
@daningalla Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-31 22:57] cubikca commented on #23809
For anyone else who encounters this issue, this is the recommended resolution by Microsoft:

"On managed instances, you may see initial connectivity issues immediately after configuring your publication and subscriptions."

We should increase login timeout period and force TCP protocol as follows:

[code]
This resolved the issue for me. Thanks.

[2019-01-31 23:00] olegsych opened #23931 "What is the latency of reclaiming ports with closed flows?"
How quickly does the Load Balancer reclaim ports used by flows closed normally? (as opposed to those closed after a 4-minute idle timeout)

https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-outbound-connections#exhaustion

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a96406ce-2ffc-cdb3-1234-5154ccd5cc

[2019-01-31 23:12] MarileeTurscak-MSFT commented on #23800
Hi @ReachmediaAdmin,

What error message do you receive?

Please view the "Account Provisioning Errors" report to see the cause of failure.

We use the docs on Github primarily for doc fixes rather than troubleshooting so please post your question to MSDN and we will reach out to you there. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-01-31 23:12] MarileeTurscak-MSFT commented on #23800
Closing this thread as it is a product-question/troubleshooting question and better suited to MSDN. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-01-31 23:12] #23800 closed

[2019-01-31 23:14] femsulu commented on #23562
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-31 23:14] #23562 closed

[2019-01-31 23:16] MarileeTurscak-MSFT commented on #23780
Please let me know if this helps! If you have further questions feel free to post to MSDN and we will reach out to you there. https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=WindowsAzureAD

[2019-01-31 23:16] #23780 closed

[2019-01-31 23:33] Karishma-Tiwari-MSFT commented on #23760
@AlbertoSpain Enabling RBAC on AKS cluster does not enable AAD integration.
Please refer to [Integrate Azure Active Directory with Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks/aad-integration) for enabling AAD.
Please let me know if there is any part of the document that mislead you so that we can update the doc.

[2019-01-31 23:34] kgremban commented on #12496
@sergaz-msft This work has been on the backlog for some time now. Can you #please-close the issue for now and we can reopen it if necessary? Also, Janice knows how to reach out to Xin or myself directly if she wants to discuss this issue.

[2019-01-31 23:41] apraovjr opened #23932 "There is no info on what runconfig means? an example or github repo would be useful"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-01-31 23:42] #23932 closed

[2019-01-31 23:43] apraovjr opened #23933 "There is no info on what runconfig looks like ? maybe github repo or example would be helpful"
maybe github repo or example would be helpful

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31f6989f-eb38-b376-d01f-9c462c2d1761
* Version Independent ID: dbcf97e5-2f30-e98d-7959-69d39a74305a
* Content: [Machine learning CLI extension - Azure Machine Learning service](https://docs.microsoft.com/en-us/azure/machine-lea

[2019-01-31 23:53] RogerBestMsft opened #23934 "By Using Azure PowerShell - Move-AzResource only supports 3 extension providers"
If you pass more than three extension providers the command fails.  That should be called out as a limitation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move Azure resources to new subscription or resour

[2019-01-31 23:56] femsulu commented on #23902
@jtuliani Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-31 23:56] juho-hanhimaki commented on #23747
I identified the cause of the issue, please see:
https://github.com/Microsoft/service-fabric/issues/285#issuecomment-459552466

As I understand this behaviour is not desirable (and definitely not documented) and I hope a solution is made available in the future.

[2019-02-01 00:01] TravisCragg-MSFT commented on #21482
@amcgregor1 thank you for the API detective work! I am following up with this issue now to see why the -AssignIdentity parameter does not work.

[2019-02-01 00:01] tamram commented on #23890
@isamllr - Storage Explorer only provides access to the primary endpoint, even for an RA-GRS account. To access the secondary endpoint from Storage Explorer, you would have to fail over the account to the secondary region (which makes it the new primary region).

Do you have a scenario from which you need to access the secondary endpoint from Storage Explorer?

We just introduced the preview for t

[2019-02-01 00:11] dcbrown16 commented on #23704
Thank you @SadiqhAhmed-MSFT. It might be useful to add this information to the VM Backup FAQ, especially as it differs from the Backup agent specification. I'll leave the thread closing to your discrection.

[2019-02-01 00:13] sandeep-ma opened #23936 "Logic Apps MQ Connector message properties"
The IBM MQ client library provides a lot of message configuration options while the Logic Apps MQ connector provides only a very small subset. See the link to IBM document here:
https://www.ibm.com/support/knowledgecenter/en/SSFKSJ_7.5.0/com.ibm.mq.ref.dev.doc/q111220_.htm

In particular, I am facing issues with the message "format" as I am unable to set it to "MQSTR" and it is failing with garble

[2019-02-01 00:16] Alberto-Vega-MSFT commented on #23534
@AlexandraIM Thanks again for the feedback. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-01 00:16] #23534 closed

[2019-02-01 00:18] danfoxley opened #23937 "Huh??"
Per the page above:

"Self-Service Password Reset/Change/Unlock with on-premises writeback".....
"This functionality is included in Azure AD Premium P1 or P2, or Microsoft 365 Business."

Then on this page (the next page):
https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-sspr-writeback

"password writeback, you must have one of the following licenses assigned on your

[2019-02-01 00:18] dc995 opened #23938 "Spelled back incorrectly as bcak"
Section above Feedback - "JSON bcak to the application" is where "back" is spelled incorrectly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31fba959-95a2-6eab-4755-cba9bc4b67cc
* Version Independent ID: 787dbb04-2205-ef45-315f-750a551456a9
* Content: [Enable age gating in Azure Active Directory B2C](https://docs.mic

[2019-02-01 00:19] realgregoryk opened #23939 "Linked article doesn't have the answer"
The article linked at the end "Guest Access in Office 365 Groups" does not have the answer for how to make Guest objects visible in the global address list (GAL).  I assume the answer is powershell set-azureaduser -showinAddressList $true.  But, this is a big ticket item so we should have the answer documented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2019-02-01 00:20] CountlessNumber opened #23940 "Encrypting without KEK"
Encrypting a Windows VM without using the KEK options, will encrypt the VM and appear to work, until the machine is stopped and de-allocated. When starting the VM again it won't boot, with a message please insert the USB with the Bitlocker key.

If the machine is encrypted with KEK options, it works, and after stopping and de-allocating, it will successfully start again.

---
#### Document Details

[2019-02-01 00:21] Alberto-Vega-MSFT commented on #23669
@YanZhangADS Are you still facing this issue?

[2019-02-01 00:27] KeiroKamioka0000 opened #23941 "Backup up when VM is deallocated"
Is it possible take the snapshot of Write Accelerator enabled disk, while VM is deallocated?
Does user have to disable the Write Accelerator before backing up the disk?

Thanks,

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/how-to-enable-write-accelerator#restrictions-when-using-write-accelerator

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2019-02-01 00:27] IanYates opened #23942 "Link to enabling recycle bin for AD would be handy"
It's only a web search away, but a quick link to where to go in Windows to enable the AD recycle bin would be very helpful to include here.
I'm connecting our domain, initially created on Server 2003 and migrated all the way through to modern servers, to Azure AD & Office 365 finally.  I've worked my way through things like using .local as the suffix (as suggested all those years ago) but then hit

[2019-02-01 00:32] ahmedelnably commented on #23135
@Nking92 would be the right person to answer this

[2019-02-01 00:33] tfitzmac commented on #23934
@RogerBestMsft - thanks for this feedback. Are you referring to VM extensions?

[2019-02-01 00:37] Mike-Ubezzi-MSFT commented on #23924
@ycedillos Thank you for the detailed product feedback. With this product feedback, the appropriate means is via User Voice. Please upvote and comment on the following entry: [Allow Access to Azure Services should be restricted by service name](https://feedback.azure.com/forums/217321-sql-database/suggestions/34523722-allow-access-to-azure-services-should-be-restricte). This channel is for documen

[2019-02-01 00:44] Mike-Ubezzi-MSFT commented on #23779
@Anmolgan81 Please ensure that the `compatibility level` is the same between the two: [Default compatibility level 140 for Azure SQL databases](https://azure.microsoft.com/en-us/blog/default-compatibility-level-140-for-azure-sql-databases/). You will likely need to dump the Azure Database down to compatibility level 100 to match the SQL Server 2008 instance compatibility level.

[2019-02-01 00:48] MicahMcKittrick-MSFT commented on #23941
Thanks for the question! We are investigating and will update you shortly.

[2019-02-01 00:48] MicrosoftGuyJFlo commented on #23937
I include the bundle names as well in that article because people sometime only know the bundle name.

As of today 1/31/19

Microsoft 365 Business is an outlier that doesn't include Azure AD Premium P1 or P2 but does allow for password writeback.

Enterprise Mobility + Security E3 includes Azure AD Premium P1
Enterprise Mobility + Security E5 includes Azure AD Premium P2
Microsoft 365 F1 includes

[2019-02-01 00:49] dcbrown16 commented on #22964
Great, thanks @diberry. This inquiry is for a support case, so I'll provide the new doc on Active Learning for now.

[2019-02-01 00:58] curtand commented on #22886
Sorry @atfernando I was working my job and that of another guy who was out for a while, and so I had to slow down on GitHub issues. I'm free as of 2/1 and will get you an answer.

[2019-02-01 01:09] MarileeTurscak-MSFT commented on #23774
The PolicyId should be the relying party policy name. It is the unique identifier for your policy from the setup. Here's an example of one in use: https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/blob/master/SocialAccounts/TrustFrameworkBase.xml

You should be able to configure it under B2C_1_YourPolicy > edit > token, session, and SSO config

https://stackoverflow.c

[2019-02-01 01:10] MarileeTurscak-MSFT commented on #23774
@davidmu1 can we confirm that these are the same?

[2019-02-01 01:14] kazshi commented on #21957
@rayne-wiselman  I got a question/issue (the Backup Configuration on the Portal cannot be found) from an another customer today. Would you please check and update the content? Thanks.

[2019-02-01 01:16] SaurabhSharma-MSFT commented on #23758
@isamllr Yes, you need to be part of Key Vault Contributor role.  Please refer to [Secure your key vault](https://docs.microsoft.com/en-us/azure/key-vault/key-vault-secure-your-key-vault#role-based-access-control-rbac) for details on the same.

[2019-02-01 01:17] isamllr commented on #23758
Thanks for clarification

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: SaurabhSharma-MSFT <notifications@github.com>
Sent: Friday, February 1, 2019 2:16:38 AM
To: MicrosoftDocs/azure-docs
Cc: isamllr; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Need to assign Key Vault Contributor role even if owner of subscription (#23758)

@isamllr<https://github.com

[2019-02-01 01:22] mike-urnun-msft commented on #23936
Hi @sandeep-ma Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2019-02-01 01:22] vanitech opened #23944 "Would be good to add some more comments for completeness as the code will not run as-is"
For example -
# Replace filename with the actual exported model filename uploaded to the project
# eg. tf.gfile.FastGFile("model.pb", 'rb')
with tf.gfile.FastGFile(filename, 'rb') as f:
# Replace labels_filename with actual file name for the labels exported from the custom vision service
#eg. with open("labels.txt", 'rt') as lf:

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-02-01 01:22] MarileeTurscak-MSFT commented on #23646
I am looking into this on my end and checking on it with the product team. In the meantime I would suggest opening a one-time free technical support ticket to have this investigated. Please send your Azure Subscription ID to AzCommunity@microsoft.com and I will send back instructions to have a free support ticket created.

[2019-02-01 01:29] blakemartin opened #23945 "ARM?"
Can this be configured in an ARM template?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 160bf6c0-980c-bf64-8828-cda81c3ccb83
* Version Independent ID: 26e35469-0fdc-776f-4b23-a9488fc9c2e3
* Content: [Container instance logging with Azure Log Analytics](https://docs.microsoft.com/en-us/azure/container-instances/contai

[2019-02-01 01:32] Mike-Ubezzi-MSFT commented on #22947
@scubajon We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-01 01:32] #22947 closed

[2019-02-01 01:33] Mike-Ubezzi-MSFT commented on #23396
@Alexander-Stulov We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-01 01:33] #23396 closed

[2019-02-01 01:35] Mike-Ubezzi-MSFT commented on #23665
@Anmolgan81 Yes. Managed Instance can act either as Publisher or as Subscriber. I need to also correct my earlier comment about Azure SQL Database single instance. It has Publisher and Subscriber capabilities.

[2019-02-01 01:36] Mike-Ubezzi-MSFT commented on #23787
@Anmolgan81 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-01 01:36] #23787 closed

[2019-02-01 01:39] Mike-Ubezzi-MSFT commented on #23792
@noelram This tutorial likely needs to be updated given the partition key requirement. Thank you for the additional details. I am going to assign to the content author to evaluate and update as appropriate.

[2019-02-01 01:41] Mike-Ubezzi-MSFT commented on #23792
@SnehaGunda This tutorial is not successful given the product change requiring partition key configuration. Please let me know if you need additional details.

[2019-02-01 01:48] Mike-Ubezzi-MSFT commented on #23891
@RaithHandac I am assigning to the content owner (@wmengmsft) to evaluate and update this tutorial, as there has been some changes that this tutorial does not reflect.

[2019-02-01 01:51] kazshi commented on #21948
@cherylmc Thank you for the update. I'll let my customer knows about it.  Thanks!

[2019-02-01 01:52] MarileeTurscak-MSFT commented on #23938
Hi @dc995 ,

Thanks for catching this! I created a pull request to fix this typo. https://github.com/MicrosoftDocs/azure-docs-pr/pull/64919

[2019-02-01 01:56] Mike-Ubezzi-MSFT commented on #23891
@RaithHandac Please use .NET Framework v.4.5. Please see: [Microsoft.Azure.CosmosDB.Table](https://www.nuget.org/packages/Microsoft.Azure.CosmosDB.Table/). This will not work with .NET Core as stated in the tutorial: [Install the required NuGet packages](Install the required NuGet packages):

So, I don't think there is any specifically wrong with the tutorial. Can you please follow the tutorial pe

[2019-02-01 01:57] mattfrear commented on #12034
This is not true at all. I have my app service configured as per the image and yet I can still access it from any IP address. I have raised an Azure support issue for this (REG:119012326000694), and they have told me that I need to add a Deny rule too.

[2019-02-01 02:07] Ayanmullick opened #23948 "TDE key from on-prem"
Is there any way for the TDE key to be issued by an on-prem CA ie. a Windows 2016 VM with the CA role?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7600c6cf-0b4d-1ffa-c1bb-ebf23adafc1f
* Version Independent ID: 1ae4f15b-b978-882e-c5f4-d23522a53bb4
* Content: [TDE - Bring Your Own Key (BYOK) - Azure SQL Database](http

[2019-02-01 02:10] Mike-Ubezzi-MSFT commented on #23915
@cranesandcaff If you have a Redis instance deployed, you can find the version information in the properties blade in the Azure Portal:

![screenshot 209](https://user-images.githubusercontent.com/37126106/52098129-9195ca80-2582-11e9-8a7a-70f008840342.png)

I realize this does not help those who do not have an instance deployed. Like I said, I will assign to the content owner to best enhance the d

[2019-02-01 02:11] cranesandcaff commented on #23915
I ended up using the console and info command. I don't know how I missed that. Is version 4 an option?

[2019-02-01 02:14] aliceku commented on #23948
Based on the article I assume that the question relates to a TDE key stored in Azure Key Vault?  If so, here is the relevant page: https://docs.microsoft.com/en-us/azure/key-vault/about-keys-secrets-and-certificates

[2019-02-01 02:14] Mike-Ubezzi-MSFT commented on #23915
@cranesandcaff Please Up Vote and comment on the following entry in the User Voice: [Redis Version upgrade from 3.2.X to 4.x](https://feedback.azure.com/forums/169382-cache/suggestions/35108044-redis-version-upgrade-from-3-2-x-to-4-x).

[2019-02-01 02:14] MarileeTurscak-MSFT commented on #23938
In the future feel free to create your own pull requests for these sorts of fixes.

We will now proceed to close this thread.

[2019-02-01 02:14] #23938 closed

[2019-02-01 02:15] ManojReddy-MSFT commented on #23549
@KehindeOwens We have not heard from you in a while.We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-02-01 02:15] #23549 closed

[2019-02-01 02:16] ManojReddy-MSFT commented on #20199
@BrianJackson We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-02-01 02:16] #20199 closed

[2019-02-01 02:17] Alberto-Vega-MSFT commented on #23914
@switj Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-01 02:18] ManojReddy-MSFT commented on #23833
@computerdabbles Thanks for the detailed feedback. I have assigned this to the author to update the doc with the required details.

[2019-02-01 02:19] Alberto-Vega-MSFT commented on #23929
@danielfs1987 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-01 02:28] hemokwang opened #23949 "Is it possible to integrate the custom translator with Word?"
Is it possible to integrate the custom translator with Word?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21c3add9-ff84-4865-6779-bcc14a891cb0
* Version Independent ID: 56061811-6f70-4595-7faf-4a7f8676ac9f
* Content: [What is Custom Translator? - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognit

[2019-02-01 02:32] CelesteDG commented on #23833
@computerdabbles - Thank you for the feedback. I've opened a work item to track your feedback so we can add links from the v2.0 version of the topic and have pointers to the app registration + configuration info. The v2.0 equivalent for app registration falls under **v2.0 > Quickstarts > Configure an application**.

[2019-02-01 02:37] CelesteDG commented on #23833
Opened product backlog item #627499 to track this doc enhancement request (with link back to GitHub issue).
#please-close as we've got a work item tracking this

[2019-02-01 02:40] #23833 closed

[2019-02-01 02:49] CelesteDG commented on #23632
@mjoensson - I'm very sorry. We'll work to get this information updated. I've escalated this and have reached out to our PMs to help us get an updated list of what's supported so we can reflect that in our documentation.

[2019-02-01 02:57] toyota790 commented on #23837
Got it. @wmgries Thanks for your kindly support. :)

[2019-02-01 03:15] Ayanmullick commented on #23948
No, this is about doing TDE with keys issued by other parties than Key vault as mentioned in video below.

<div class="iframe_container">
  <iframe src="https://channel9.msdn.com/Shows/Data-Exposed/TDE-with-Bring-Your-Own-Key-Support-in-Azure-SQL-DB-and-DW/player#time=17m28s" width="1170" height="658.125" allowFullScreen frameBorder="0"></iframe>
</div>

[2019-02-01 03:38] #23911 closed

[2019-02-01 03:39] sandeep-ma commented on #23936
Hi @mike-urnun-msft, appreciate your prompt response. @KetanChawda-MSFT, FYI, I am referring to the following Azure documentation related to the MQ connector (there is only one such Azure connector):

https://docs.microsoft.com/en-us/azure/connectors/connectors-create-api-mq
https://docs.microsoft.com/en-us/connectors/mq/

Only a very small subset of the configuration options that IBM has provided

[2019-02-01 03:41] amrutha786 opened #23951 ""Xamarin.Azure.NotificationHubs.iOS" or "Xamarin.Azure.NotificationHubs.iOS-updated""
In #6 it says to add "Xamarin.Azure.NotificationHubs.iOS" Nuget Package, but I also see another package called "Xamarin.Azure.NotificationHubs.iOS-updated"

Which one should I add?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45afd17d-e909-ccd9-01c3-f746bdf406a2
* Version Independent ID: d2c8cc69-5a37-4c73-d48b-9c058

[2019-02-01 03:52] fm4dd commented on #23397
It may be helpful to users showing a enrollment call and response example, e.g. below

[code]

Expected response will be:
[code]

The enrollment call needs to be repeated at least two more times, which increments "enrollmentsCount". After 3 enrollments the "enrollmentsCount" reaches 3, and the "enrollmentStatus" will change from "Enrolling" to "Enrolled". The profile is now ready for verification.

[2019-02-01 03:58] SadiqhAhmed-MSFT commented on #23704
@dcbrown16 Thank you! We will share your valuable feedback with the content developer and the Product Group to make necessary changes in the document.

We will now proceed to close this issue. Please feel free to share your ideas, suggestions and feedbacks by tagging me in your reply and I shall reopen the issue to continue the discussion.

[2019-02-01 03:58] #23704 closed

[2019-02-01 04:02] CHEEKATLAPRADEEP-MSFT commented on #23922
@mserd Thank you for the detailed feedback. This is being assigned to the content author [ @nabhishek ] to evaluate and update as appropriate.

[2019-02-01 04:17] AshokPeddakotla-MSFT commented on #23761
@adoelger As per the [Azure Event Hubs quotas and limits](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-quotas) Maximum size of Event Hubs event is 1 MB. Please check the link for more details.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-01 04:17] #23761 closed

[2019-02-01 05:02] KetanChawda-MSFT commented on #23936
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42e7fab4-1469-22df-2618-b6b82b09df6d
* Version Independent ID: 4d8ae394-5c92-7949-db5f-99884de55c21
* Content: [Connect to MQ server - Azure Logic Apps](https://docs.microsoft.com/en-us/azure/connectors/connectors-create-api-mq)
* Content Source: [articles/connectors/connec

[2019-02-01 05:06] AshokPeddakotla-MSFT commented on #23455
@Venug1234 Could you share the documentation link that you are following?

[2019-02-01 05:14] PramodValavala-MSFT commented on #23289
Thanks for the fix @spelluru!

@simonech We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-01 05:14] #23289 closed

[2019-02-01 05:14] shashishailaj commented on #23940
@CountlessNumber Thank you for your feedback . We will have it reviewed and updated accordingly.

[2019-02-01 05:14] ManojReddy-MSFT commented on #23893
@wattbt Thanks for reporting this. I have updated the doc accordingly and it will be published shortly.

[2019-02-01 05:46] YASWANTHM-MSFT commented on #22131
@sopelt , When it is globally available you can check [here ](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-lifecycle-management-concepts)in the official documentation of blob life cycle management and also you can subscribe to the blob [here ](https://azure.microsoft.com/en-in/blog/azure-blob-storage-lifecycle-management-public-preview/)to get notified for the latest updates of blo

[2019-02-01 05:52] sanjayntms opened #23954 "Could not find the Module"
Exception calling "NewScriptBlock" with "1" argument(s): "At line:3 char:4 + Import-DSCResource -module nx + ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Could not find the module 'nx'." (At line:3 char:4 + Import-DSCResource -module nx + ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Could not find the module 'nx'.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-02-01 05:55] SumanthMarigowda-MSFT commented on #23896
@jn-altius Thanks for your question. We are checking on this and will respond to you soon.

[2019-02-01 05:57] nageshajab commented on #23759
Thanks. Its working now.

I guess I missed something on my end. I probably did not restarted machine
after I install service fabric SDK.

Or I did not created a local cluster or I did not started it.

But now its working fine.

Regards
Nagesh

On Wed, Jan 30, 2019 at 11:12 PM Micah <notifications@github.com> wrote:

--
This e-mail, including any attached files, may contain confidential and
privile

[2019-02-01 06:00] SaurabhSharma-MSFT commented on #23916
@way2arun Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-01 06:01] neeleshray commented on #23664
We will be closing this thread now. You can re-open the thread if you need further help.

[2019-02-01 06:01] #23664 closed

[2019-02-01 06:02] neeleshray commented on #23416
We will be closing this thread now. You can re-open the thread if you need further help.

[2019-02-01 06:02] #23416 closed

[2019-02-01 06:08] neeleshray commented on #23334
@rolyon  Assigning the thread to Robert Lyon

[2019-02-01 06:09] #23334 closed

[2019-02-01 06:57] antsok opened #23961 "Registering NPS with AAD Domain Services"
Registering NPS with AAD Domain Services fails. Presumably, AADDS does not allow to register NPS with it due to the lack of Domain Administrator permissions in AADDS. As other docs explain, this is a design choice.

That leads to NPS trying to authenticate the incoming request versus the local store, which obviously fails for AD users.

How is NPS then supposed to work in a cloud-only setup?

---

[2019-02-01 06:57] AjayKumar-MSFT commented on #23932
@apraovjr, Thank you for using the documentation feedback channel! I understand that you’re looking for more samples or GitHub repo presumably for Azure Machine Learning service. We notice that you have closed the issue, if you need further assistance on this, kindly provide the associated document that you’re referring to and share more details on your requirement/ scenario for better understandi

[2019-02-01 07:04] AjayKumar-MSFT commented on #23661
@buttons019, Since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-02-01 07:04] #23661 closed

[2019-02-01 07:08] angoyal-msft commented on #23590
@Jothi3125 could you please confirm the average load anticipated. Also whether the load is high in specific time and low at some time. If we get the trend of load and required load per database. It would be easier for us to provide you with the required PowerShell script.

[2019-02-01 07:35] YutongTie-MSFT commented on #23949
@hemokwang Thank you for your feedback, I have assigned it to the author to take care of this feedback properly.

@rajdeep-in Hello, could you please check this feedback and take care of it properly? Thank you.

[2019-02-01 07:36] YutongTie-MSFT commented on #23944
@vanitech Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@areddish Hi Andrew, we have a suggestion here, please check it. Thanks.

[2019-02-01 07:40] kazshi opened #23962 "Use Azure Backup Server to back up workloads to Azure"
I'm looking for content of how to backup "Linux - Linux running as Hyper-V or VMware guest" (list in the following link) specifically, but I cannot find content covering it. Where can I find it? I expect to follow a link from this page.

What can Azure Backup Server back up | Microsoft Docs
https://docs.microsoft.com/en-us/azure/backup/backup-mabs-protection-matrix#protection-support-matrix

The i

[2019-02-01 07:43] SadiqhAhmed-MSFT commented on #23883
@dcbrown16 It doesn't depend on the type of data you send. Instead it depends from where you're sending the data to the work space. What you're noticing is an expected behavior. Sending data to multiple work  spaces is allowed from a few sources such as virtual machines.

[2019-02-01 07:49] Anmolgan81 commented on #23809
@cubikca I am still struglling with it.

[2019-02-01 08:19] shashishailaj commented on #23961
@antsok Thank you for your feedback . We will have it checked and update the threads accordingly.

[2019-02-01 08:33] YutongTie-MSFT commented on #23933
@apraovjr Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@jpe316 Hi Jordan, can you please check this feedback to see if we can add more samples? Thank you.

[2019-02-01 08:35] shashishailaj commented on #23939
@realgregoryk Thank you for your feedback . We will have the suggestion reviewed and the document updated as required.

[2019-02-01 08:36] RaithHandac commented on #23891
I'm sorry if my last statement caused confusion. It was meant as an observation. I fully understand that it will NOT work with .Net Core.

But back to the actual problem. If I follow the steps in the "Create a Windows console application project" to the point, then I get the error message (Unable to find a version of 'Microsoft.Azure.Storage.Common' that is compatible with 'Microsoft.Azure.CosmosD

[2019-02-01 08:47] AlexFilipin commented on #23520
Just saw this blog which might be another nice option but haven't looked into it yet: https://techcommunity.microsoft.com/t5/Security-Privacy-and-Compliance/Introducing-new-code-free-options-to-connect-with-Microsoft/ba-p/328730

[2019-02-01 09:10] SumanthMarigowda-MSFT commented on #23157
@MouthOfMadness Thanks for clarifying the status of the issue! You need to update your PowerShell version to the latest version.  https://azure.microsoft.com/en-in/downloads/

[2019-02-01 09:12] bertrandpons opened #23965 "Managed Identity with Azure SQL Managed Instance ?"
Hi,

I want to setup managed identity for my azure web app with an azure sql managed instance to avoid using credentials in my connection string.

I have 2 questions:
 - Does managed identity work with Azure SQL Managed Instance ? I followed this [tutorial](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-connect-msi) and it doesn't seem to work (I get this error: "Can n

[2019-02-01 09:15] nageshajab opened #23966 "Error while creating cluster"
I am getting below error in azure cli while creating cluster

'NoneType' object has no attribute 'get'
Traceback (most recent call last):
  File "C:\Users\VSSADM~1\AppData\Local\Temp\pip-install-r8nye8gm\knack\knack\cli.py", line 206, in invoke
  File "C:\Users\VSSADM~1\AppData\Local\Temp\pip-install-r8nye8gm\azure-cli-core\azure\cli\core\commands\__init__.py", line 328, in execute
  File "C:\User

[2019-02-01 09:16] sasikiran opened #23967 "Missing information or incorrect hyperlink"
Under "Next steps", the blue button says "Ruby on Rails with MySQL". However, the link takes it to "Ruby on Rails with Postgres.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 872e5aa0-cda4-295d-08f8-4db6e488e32f
* Version Independent ID: 2b6b32d6-e501-6cb4-bb3b-c3c46851d24e
* Content: [Create Ruby web app on Linux - A

[2019-02-01 09:17] SubhashVasarapu-MSFT commented on #23581
@recklessop Performance information of legacy SKUs are listed in this doc. Hope this helps you.

https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-skus-legacy

[2019-02-01 09:19] imeya opened #23968 "How to remove the virtual applications and directories with powershell?"
Is it possible to remove the virtual applications and directories with powershell?
I tried below code, but cannot remove it:

[code]
![1](https://user-images.githubusercontent.com/25738099/52114007-df273b80-2645-11e9-9f24-69119decfc60.JPG)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4968f0a-740d-c541-4b34-457231666

[2019-02-01 09:39] AshokPeddakotla-MSFT commented on #23530
@henrique07santana  & @msftkevin

 Please make sure to remove <PATH> in the URL

Example:
` path  "abfss://<file-system-name>@<storage-account-name>.dfs.core.windows.net/small_radio_json.json"`

I got the same error when i tried. But removing the PATH resolved the error.

![image](https://user-images.githubusercontent.com/44426435/52114822-10e2d700-2633-11e9-93fd-853920ffadeb.png)

Let me know if

[2019-02-01 09:39] neeleshray commented on #23939
@msmimart
Michele, The section Can I make guest users visible in the Exchange Global Address List? does not explain how to do it. Also, the url link to the O365 document does not list it either.
Could we have the PS cmdlet `set-azureaduser -showinAddressList $true` added to the section ?

[2019-02-01 09:41] #23530 closed

[2019-02-01 09:42] Anmolgan81 commented on #23779
@Mike-Ubezzi-MSFT Our Source is On-premise server which is 2008 and destination is Azure SQL Managed Instance, the compatibilties are the same but we are still getting the same error as before, version mismatch.

[2019-02-01 09:44] AjayKumar-MSFT commented on #23951
@amrutha786, Thank you for brining this to our attention!
Xamarin.Azure.NotificationHubs.iOS is the official package:
https://www.nuget.org/packages/Xamarin.Azure.NotificationHubs.iOS/

Xamarin.Azure.NotificationHubs.iOS-updated appears to be a community contribution.
https://www.nuget.org/packages/Xamarin.Azure.NotificationHubs.iOS-updated/
It is recommended to use only the official package and o

[2019-02-01 09:48] DavidR91 commented on #23889
@MicahMcKittrick-MSFT no, no running instances

It seems to be regardless of image or tag

* Container images from the marketplace
* Custom images created and pushed to the registry

'Run instance' always shows as greyed out:

![image](https://user-images.githubusercontent.com/282737/52115408-75d40800-2606-11e9-84e7-908574ee135e.png)

Is there some other resource that is a prerequisite that I'm mi

[2019-02-01 10:03] DavidR91 commented on #23889
I've figured this out:

You have to ensure the administrator user is enabled under Access keys:

![image](https://user-images.githubusercontent.com/282737/52115993-f34c4800-2607-11e9-91be-60794e4afe7e.png)

This setting is not enabled by default, but as soon as it is enabled, 'Run instance' becomes usable.

Maybe this is addressed by the  "Configure registry authentication" section (which I did no

[2019-02-01 10:05] SadiqhAhmed-MSFT commented on #23954
@sanjayntms We are investigating on this and will get back to you soon.

[2019-02-01 10:08] scolapicchioni commented on #23891
I am trying to install version 9.0.0.1 of Microsoft.Azure.Storage.Common but it cannot be found. The only versions found are 9.4.0, 9.4.1 and 9.4.2, which are not compatible with Microsoft.Azure.CosmosDB.Table 2.1.0
The command
Install-Package Microsoft.Azure.Storage.Common -Version 9.0.0.1 -IncludePrerelease
results is the following error:

Attempting to gather dependency information for package

[2019-02-01 10:13] lbenassi commented on #21653
Is there any news about it? Thanks

[2019-02-01 10:15] SadiqhAhmed-MSFT commented on #23954
@georgewallace Could you please help here?

[2019-02-01 10:17] shashishailaj commented on #23039
@jtourlamain Thank you for confirmation.  :)

[2019-02-01 10:20] dziamid commented on #14855
https://www.npmjs.com/package/microsoft-cognitiveservices-speech-sdk is available now
Cheers guys!

[2019-02-01 10:30] nageshajab opened #23969 "Error downloading container image"
In the article where we specify container username. For which repository we are giving credentials for ? is it docker registry, azure container registry. And where do we specify repository name. Password I have mentioned in ApplicationManifests.xml, I have marked it as not encrypted. Even though I do not know which repo password system is asking. In service fabric explorer its saying "error downlo

[2019-02-01 10:32] scolapicchioni commented on #23891
I did solve the issue by installing
Install-Package Microsoft.Azure.Storage.Common -Version 9.0.0.1-preview -IncludePrerelease

After that it was possible to install Microsoft.Azure.CosmosDB.Table 2.1.0 without any error message

[2019-02-01 10:47] sergaz-msft commented on #14350
Thanks @KingdomOfEnds please let us know when the issue is addressed.

[2019-02-01 10:59] andyjballgit opened #23970 "Clarification required on what Maxium Numbers of Servers in a region / subscription can be inceased to"
Hi,

Above says default Max Number of Servers per region is 20 and Per Subscription is 200. But can be increased :

"To obtain more DTU /eDTU quota, vCore quota, or more servers than the default amount, a new support request can be submitted in the Azure portal for the subscription with issue type “Quota”.

Is there a maximum defined to what the number of Servers per region . subscription can be i

[2019-02-01 11:04] SadiqhAhmed-MSFT commented on #23962
@kazshi Thanks for the comment. For VMware Linux VM refer to - [](https://docs.microsoft.com/en-us/system-center/dpm/back-up-vmware?view=sc-dpm-1807#backing-up-virtual-machines-to-disk-or-cloud) and for Hyper-V Linux VM see this [link](https://docs.microsoft.com/en-us/system-center/dpm/back-up-hyper-v-virtual-machines?view=sc-dpm-1807#backup-prerequisites)

[2019-02-01 11:08] chris31389 opened #23971 "How can you submit an object to a function?"
My function has a class as an input.  When I try and provide a JSON object as input, it gives me a 400 response.  How can I provide the object?

[code]
my attempted json body:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f538a557-7e88-e077-6a6f-6fb14d89dbf6
* Version Independent ID: 84a1693b-2795-c865-35df-3ad

[2019-02-01 11:22] jesspent opened #23972 "how to know when mfasetup registration has been done ?"
How do you know if the users have filled out https://aka.ms/mfasetup When Enabled by conditional access policy ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f132318f-8670-fd0d-2524-01305ccff2a1
* Version Independent ID: 0849b4a9-ff14-1d61-47f2-a2daecf3cde9
* Content: [Get started Azure MFA in the cloud](https://docs

[2019-02-01 11:36] sybrenstuvel opened #23973 "Configuration files should not be executable"
The documentation states one should do `chmod 700 fuse_connection.cfg`. However, there is no need to make this configuration file executable. `chmod 600 fuse_connection.cfg` would be the correct invocation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cef87c25-d489-ed0c-c94f-c764b3fd2413
* Version Independent ID: 7f8

[2019-02-01 11:47] hubez opened #23974 ""az iot edge deployment create" --labels option is supposed to be in json format."
The doc refers to the --labels attribute as a comma separate list. I would MUCH prefer comma separated with allowing multiple instances of --label in the CLI,  it doesn't work.

See in this doc:
  --labels - Add labels to help track your deployments. Labels are Name, Value pairs that describe your deployment. For example, HostPlatform, Linux or Version, 3.0.1

And here is the reference to the Azur

[2019-02-01 11:49] hubez opened #23975 "Documented example of how to update a deployment-id that already exists with new content"
The Azure portal let's you update the content of an existing deployment-id, which is my common workflow as new updates happen in my development environment. I'd like to automated this for a CI pipeline so I'm looking for a CLI equivalent. It is not obvious how to do this via CLI with the current "az iot edge deployment update" command to supply new "context". Is that how we're supposed to do it?

[2019-02-01 11:53] jtuliani opened #23976 "v1 storage / access tier contradiction"
Why not use v2 storage? Be good if the doc was clear about whether or not v2 (the default) is supported.

Also, the doc says to set the access tier to 'hot'. But access tiers are only a concept for v2 storage accounts, so the doc is self-contradictory.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8621ec19-98d2-d173-0

[2019-02-01 12:10] sergaz-msft commented on #22798
@romankiss we will publish some changes to the doc soon to address how to connect a module using MQTT Protocol Directly.

As for your other questions: "Can we open and keep all MQTT connections active to the Azure IoT Hub for device identity and its modules?"

- You should, though we found an issue in the service side that will disconnect your modules whenever another MQTT client is already connec

[2019-02-01 12:24] lmiroslaw opened #23977 "DSVM Issue: x2golistsession: command not found"
After created DSVM with Ubuntu I cannot login with X2GO due to the following error:
x2golistsession: command not found

I followed the instructions at https://docs.microsoft.com/en-us/azure/machine-learning/data-science-virtual-machine/dsvm-ubuntu-intro

Cheers,
Lukasz

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27c

[2019-02-01 12:35] YASWANTHM-MSFT commented on #23973
@sybrenstuvel, Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-01 12:35] muzzar78 commented on #10219
I think I did it get it to work. I think my issue was the Keyvault permissions/setup. See the links at the bottom of the script

[code]

[2019-02-01 12:45] Turil commented on #21106
What would be in the aks-istio.yaml / what should that file look like?
Asking because I try to deploy istio with an external / public facing load balancer and an internal one for the private subnet the cluster is in.

[2019-02-01 12:56] SumanthMarigowda-MSFT commented on #22680
@livshitsa Sorry for the delay response
It's in a pipeline Product team is working on it  but we don't have ETA to share yet

[2019-02-01 12:59] #22680 closed

[2019-02-01 13:11] neeleshray commented on #23940
@mestew
Meghan, could this be verified ?

[2019-02-01 13:15] SumanthMarigowda-MSFT commented on #23896
@jn-altius Try this on the PowerShell command line:
. .\MyFunctions.ps1
A1
The dot operator is used for script include.
This is more specific operation  to the Powershell  documents.

[2019-02-01 13:31] shashishailaj commented on #22027
@philliplyle We have checked the same and the experience have improved now . The send notification works better and you should see the difference . As for your second question about respecting the conditional access policy , The article already mentions that in case of ADFS federated applications you may find that the CA policies are not honored currently in the known issues section. However , we

[2019-02-01 13:32] PramodValavala-MSFT commented on #23971
@chris31389 You can refer this [comment](https://github.com/MicrosoftDocs/azure-docs/issues/20971#issuecomment-448971624) I made earlier on a similar issue which shows how this can be done.

[2019-02-01 13:34] willzhan commented on #21553
If you open the MPD file of a Widevine protected content such as this https://willzhanmswest.streaming.mediaservices.windows.net/b62cacc6-d64a-4a9e-aeca-3f28e28b3c30/bridges2s.ism/manifest(format=mpd-time-csf) you can see the Widevine license URL such as this: https://willzhanmswest.keydelivery.mediaservices.windows.net/Widevine/?KID=cfe0efda-3164-4208-a279-6b5e18fedfaa The trailing GUID is the co

[2019-02-01 13:36] shashishailaj commented on #23882
@lgp36018 We will now close this issue. Should you have any queries , feel free to open a new one and we will help you with the same.

[2019-02-01 13:40] hrushib commented on #23747
As discussed offline on email thread, this is happening as `certificateIssuerThumbprint` is left empty. Please configure this with appropriate value and this will start accepting requests.

[2019-02-01 13:46] shashishailaj commented on #23772
@parabolic123 This is a highly requested feature and we already have Product group working on this. However there is no timeline available for the same as yet. You can follow the thread on Azure feedback Uservoice channel [here](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/15150216-include-users-last-logon-time). At this point this is currently a work in progress wit

[2019-02-01 13:46] #23772 closed

[2019-02-01 13:48] PramodValavala-MSFT commented on #23622
@baimars The `messages` function just tries to send a message to the Azure SignalR service. So the connection string is the only vital component.

I assume you have removed the connection string from the contents of `local.settings.json` that you've pasted. Could you confirm?

[2019-02-01 13:59] PramodValavala-MSFT commented on #23662
@Blackbaud-PeteLukich Just following up here... Hope my previous comment helps.

[2019-02-01 14:02] shashishailaj commented on #23916
@way2arun It seems , the extension has not installation is going through some errors. Could you please check if outbound port 443 is open to packages.microsoft.com and do you have any kind of proxy/ within your infrastructure ? could you please take a tcpdump to check if outward connectivity is being interrupted over the network?

[2019-02-01 14:03] #23882 closed

[2019-02-01 14:08] richardlaihol opened #23978 "ASE Key Vault App Setting References"
ASE Key Vault App Setting Reference

I can get the references working via the https://docs.microsoft.com/lb-lu/azure/app-service/app-service-key-vault-references?toc=%2Fazure%2Fazure-functions%2Ftoc.json#source-application-settings-from-key-vault document on a consumption app service plan. But on the ASE my company uses for app services it does not work and the reference string isn't resolved. Jus

[2019-02-01 14:15] darshankumarys commented on #23901
@YutongTie-MSFT  PFB the URLs.

https://docs.microsoft.com/en-in/azure/devops/pipelines/process/conditions?view=azure-devops&tabs=yaml&viewFallbackFrom=vsts

https://docs.microsoft.com/en-in/azure/devops/pipelines/process/expressions?view=azure-devops

[2019-02-01 14:32] shashishailaj commented on #23978
@richardlaihol Thank you for your query . We will investigate and update the thread further.

[2019-02-01 14:45] stspinu commented on #22932
From source:
"The term “tenant” is always mentioned in the context of the tenant from which Office365 logs will be collected.

The tenant of the workspace that the logs are collected into isn’t entered by you and is instead derived from the subscription of the workspace.

I do agree that the section regarding app registration could clarify the distinction between the 2 kinds of tenants better.
"

[2019-02-01 14:55] #12496 closed

[2019-02-01 14:57] deadlyfingers opened #23979 "Error with VS Code extension: "command hdinsight.login not found""
Issue context:
https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-for-vscode#install-the-hdinsight-tools

When I installed the HDInsight tools for VS Code I got an error "command hdinsight.login not found". It appears you must first install the Azure Account extension in order to proceed. This step should be included if it is indeed a dependency?

---
#### Document Details

⚠ *Do not edit

[2019-02-01 14:59] paulio opened #23980 "Download instructions do not seem to work"
The instructions are quite clear that you should not alter the downloaded LUIS model in any way. However, in my case the Docker LUIS container would simply fail to find the model. Fortunately it tells you the name it is looking for. I simply renamed the downloaded file to match what it was looking for and it started working.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-02-01 15:04] romankiss commented on #22798
Thanks Antonio,

That's great, the issue has been found and it is going to fix it. I have figured out this issue during an updating my [Azure IoT Hub Tester](https://www.codeproject.com/Articles/1173356/Azure-IoT-Hub-Tester). I will wait for its publishing when the doc and service have been fixed.

Please, have a look at also the other reported issue such as https://github.com/MicrosoftDocs/azure-

[2019-02-01 15:09] clayroach commented on #22384
@Mike-Ubezzi-MSFT This is still an open issue.  We have the same problem and multiple troubleshooting steps using docs and this article, still not working.

We can connect using non-SSL with:
[code]
Then with SSL_VALIDATE=true....It fails.
[code]

[2019-02-01 15:15] larryms opened #23981 "sample code creates ubuntu 18.04, which ade does not support"
The sample code to create the linux vm creates the latest LTS version by default, which is 18.04.  This is not supported at this time by azure disk encryption.

The code should be changed to look like:

az vm create \
    --resource-group $resourcegroup \
    --name myVM \
    --image Canonical:UbuntuServer:16.04-LTS:latest \
    --admin-username azureuser \
    --generate-ssh-keys \
    --data-di

[2019-02-01 15:19] philliplyle commented on #22027
Thanks.  I will check regarding the improvements.

Regarding #2, we are not using Adfs.  It may be a any login that does not have a root hint.  I will try to post a more specific example.

One other question - how does a user u enroll from this experience?  There is no option in the authenticator app.  Delete and re register the authenticator?

[2019-02-01 15:24] jtuliani opened #23982 "Install VMAgent before or after migration?"
This doc says that for Hyper-V, we can install the VM Agent after migration.

However, according to https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/agent-windows the VMs won't boot unless the PA component of the agent is pre-installed.

This is contradictory.

Surely it's better to install the agent before you migrate? Otherwise, until you install, your VM will be unmanageable -

[2019-02-01 15:25] diberry commented on #23980
@paulio Thank you for letting us know. Can I get a little more information? What was the downloaded file and what was the container looking for? If possible can you give me your entire docker run command with redacted key? #in-progress

[2019-02-01 15:31] jtuliani opened #23983 "Does the Mobility Service install the VM Agent on Linux machines?"
From doc: You only need to install the Azure VM agent if the Mobility service installed on the migrated machine is v9.6 or earlier.
This says nothing about Windows/Linux. It implies the later versions of the Mobility Service will install the agent on both

Also from the doc: On Windows VMs running version 9.7.0.0 of the Mobility service onwards, the service installer installs the latest available

[2019-02-01 15:32] jtuliani opened #23984 "Validation on Linux"
Doc says how to validate agent install on Windows. What about Linux?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa1c21c1-893f-de10-9ba3-8e5b71336e82
* Version Independent ID: cb4e2d9f-86fc-0376-f0f2-5253d380865d
* Content: [Set up disaster recovery for Azure VMs after migration to Azure with Azure Site Recovery](ht

[2019-02-01 15:39] rolanddb commented on #22384
@Mike-Ubezzi-MSFT The docker container was the public 'cassandra' image from dockerhub (Linux).

I'm still getting the same error when I attempt to connect from my macbook as a regular user.

I have Wireshark installed but I'm unsure how to capture the relevant packets. I tried the filters `tcp.dstport==10350` and/or `ip.dst == 104.45.16.183` but no packets are shown. If you can please provide the

[2019-02-01 15:40] sergaz-msft commented on #23805
@rezasherafat can you help answer @romankiss's question? "Does the Module Stream is supported in this preview?"

Thanks!

[2019-02-01 15:41] softwarecraft opened #23985 "View details of DB Vulnerability Assessment report - Can't with Reader or Security Reader role"
User can open DB VA report from email link or navigate there in portal, but detailed items list never loads just shows spinner waiting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99581afb-7950-6daa-7227-055d04446b7e
* Version Independent ID: f1a5bf89-9e54-aede-3a9a-70788a95927b
* Content: [Built-in roles for Azure

[2019-02-01 15:45] sergaz-msft commented on #21559
@Imacutekayx just copy paste this in a new browser tab: aka.ms/iotedge-win

[2019-02-01 15:52] acollard opened #23986 "Not supported on Linux."
There should be a note at the top outlining that this is only supported on Windows and not Linux App Services.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24523dbf-010f-b844-5ff0-88192eac8849
* Version Independent ID: d7ef5962-d94c-96d0-bf08-1efffc6d402b
* Content: [Run Background tasks with WebJobs - Azure App Serv

[2019-02-01 16:03] larryms commented on #23981
I created pr #23987 with this fix

[2019-02-01 16:04] Alberto-Vega-MSFT commented on #23669
@YanZhangADS We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-01 16:04] #23669 closed

[2019-02-01 16:05] aljo-microsoft commented on #23747
@aljo-microsoft  and @juho-hanhimaki
This is a doc issue I will fix. Please reassign to me. Declaring issuer thumbprint is a best practice, and I see by not declaring the parameter in our docs it is causing a perception issue that you don't have too. It is a best practice to always declare you thumbprint

[2019-02-01 16:09] jtuliani opened #23988 "VM Agent no longer needed to boot VM"
I'm told by the ASR PG that the VM Agent is no longer required to boot a VM. Unlike what is stated in this doc.

Hence for example the ASR team recommend installing the VM Agent **after** using ASR for migration to Azure, not before.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab75f449-661d-bd1e-3ebd-61e2384a911a
*

[2019-02-01 16:10] Alberto-Vega-MSFT commented on #23975
@hubez Thanks for your feedback! we are currently investigating and we will update you shortly.

[2019-02-01 16:11] balktl opened #23989 "Out of date process?"
We're going through the process of setting this up with our Organization and the process appears to be more self-service oriented. No custom org url or organization id in the URLs that we are using to set it up.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b611e5ec-8c62-ba14-adca-88293f803b04
* Version Independent ID

[2019-02-01 16:16] Alberto-Vega-MSFT commented on #23974
@hubez Thanks for your feedback! we are currently investigating and we will update you shortly.

[2019-02-01 16:23] swinarko commented on #23656
To be more specific, when provisioning Azure-SSIS IR, the "Allow Azure services to access
" checkbox on the SQL Settings blade is to allow SSIS IR itself to access your Azure SQL DB, so it can create/manage SSISDB on your behalf.  You can remove that checkbox by configuring your Azure SQL DB w/ VNet service endpoints and joining your SSIS IR to the same VNet/subnet.

[2019-02-01 16:26] ArvidBaa opened #23990 "Perhaps provide `environment.yml` file for Conda setup"
Since a few of the steps in this configuration guide is about the setup for the Conda environment, and manual configuration is always coupled with some risks of error, wouldn't it be a good idea to provide an `environment.yml` file for the setup?

The file would of cuourse include the necessary version of python as well as the necessary packages and minimize the risk for error. Additional packages

[2019-02-01 16:27] Anand-Moghe opened #23991 "Do we have to add Windows Service account to Resource Group for on-premise data gateway in Azure?"
I am using Azure Gov cloud.
 The documentation [here ](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-gateway-install) has stated to provide  **contributor**  privileges to  Windows service account   "NT SERVICE\PBIEgwService" in Azure Portal. Am I reading this right ? **Is this mandatory** ? It is very confusing because I was able to create a test connector (for on-premise SQL Serve

[2019-02-01 16:32] OffColour opened #23992 "NSG with multiple app gateways in a subnet"
Not sure if this can be done and we'll have to wait for ACLs on the App Gateway itself or for App Gateway to support ASGs, but I'll ask anyway.

Single subnet with two App Gateways both with public IPs.
NSG applied to subnet.
Can the NSG rules be defined in such a way that only external IP address X can talk to App Gateway 1, whilst all external addresses can talk to App Gateway2?
Does the destina

[2019-02-01 16:32] paulio commented on #23980
The download file was interesting, it downloads with the version name and not xxxPRODUCTION.gz. So that is the main issue. I couldn't see any way of telling the container to use the version name I had. So I just renamed the version to be PRODUCTION and it worked

[2019-02-01 16:33] affandar commented on #23914
While we look through fixing the docs, the IP whitelisting feature is exposed as part of the Azure control plane Resource provider APIs. You can find the details here:

https://docs.microsoft.com/en-us/rest/api/iothub/iothubresource/createorupdate
-> Iot Hub properties
-> ipFilterRules

Thanks

[2019-02-01 16:34] paulio commented on #23980
PS the 'Billing' key was very confusing too

[2019-02-01 16:37] ritul51 commented on #19002
I have created a pipeline but its not working.. when i run a pipeline its continue to processes, execution not finishing. I have tried so many time, some where is error i think so..can anyone tell me who ran this successfully

[2019-02-01 16:37] DaveEM opened #23993 "There are various minor issues in the Windows instructions in this article"
# is used as the comment for cmd instead of rem.
There is a leading $ on some of the Windows commands
The download link for CMake should be to a page where you can download the version referenced.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae229583-e117-74e1-b8ac-542a9658a51d
* Version Independent ID: 692dab9d-5ffd

[2019-02-01 16:40] swinarko commented on #23657
To be more specific, Azure-SSIS IR is built on top of Azure Batch as the underlying infrastructure and when joining SSIS IR to a VNet, you need to register Azure Batch as a resource provider in the subscription of your VNet, so it can inject SSIS IR nodes/VMs and other network resources, such as NSG, public IP, and load balancer.

[2019-02-01 16:41] ccarls-cloudfit commented on #23228
Thank you! I have tested the above solutions and they will work just fine for our purposes.

[2019-02-01 16:45] diberry commented on #23980
@paulio Thanks for responding so quickly. Where you interested in using the trained-only app or the published app? I think I see where the terminology of package type and version are confusing.

[2019-02-01 16:46] diberry commented on #23980
@paulio In terms of the billing key - was the confusing part how to use it in the docker command or was the confusing part where to find it, or something else?

[2019-02-01 16:59] swinarko commented on #15574
Yes, but see https://docs.microsoft.com/en-us/azure/data-factory/join-azure-ssis-integration-runtime-virtual-network#dns_server.

[2019-02-01 17:04] FlaveC opened #23994 "sync delete prompt"
Would it be possible to have an option to disable the delete prompt when doing a sync?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15911160-5ba2-fb0a-0b24-16b3857e20ce
* Version Independent ID: d925bc9f-f825-2f82-168c-6c30d716b9ce
* Content: [Copy or move data to Azure Storage with AzCopy v10 (Preview)](https://docs

[2019-02-01 17:07] MGoedtel commented on #23781
@Roblarson - The described approach to monitoring this scenario is dated and needs to be reevaluated, as things have evolved where there may be a better approach.  I've created a task to follow-up on this with the PG and determine if we revise the article or replace it.  Thanks for bringing this to our attention.  #please-close

[2019-02-01 17:12] BryanLa commented on #22732
Hi @jasonfare - thanks very much for your feedback.

Regarding the cmdlet only working on an already soft-deleted Key Vault, the entire context of the article is specific to soft deletion. Unless I'm not understanding you correctly, and please let me know if that's the case.

Regarding the permanent/irreversible action, we did add an IMPORTANT block to both this PowerShell article and the CLI arti

[2019-02-01 17:15] paulio commented on #23980
where to find it, the name doesn't fit with the either portal. Was the whole endpoint or just a key?

[2019-02-01 17:15] jn-altius commented on #23896
Thanks.  After lot of trial and error I found a similar way.
Step 1: in Cloud Shell navigate to your clouddrive, and then to the folder where your .ps1 files are
Step 2: at the Cloud Shell prompt type .".\MyCustomLibrary.ps1" -> Cloud Shell will give no response
Step 3: Type the function name at the prompt (e.g. Get-CommonSettings in my op) and pass parameters as normal

So it's do-able.  But it w

[2019-02-01 17:18] #23654 closed

[2019-02-01 17:21] priyamohanram commented on #23287
@Owe-Kristiansen : I'm going to go ahead and close the issue, feel free to open a new issue with the detailed error message if you have any further questions. Thank you! #please-close

[2019-02-01 17:22] philliplyle opened #23996 "two items"
1.  Users often need to re-send a push notification (the first attempt times out).  I've seen this multiple times while observing my users in the preview experience.

2.  There needs to be some roadmap communication regarding when this feature is supposed to leave Preview and go GA.  The O365 roadmap is sorely lacking updates across the board at this point.

---
#### Document Details

⚠ *Do not ed

[2019-02-01 17:23] SumanthMarigowda-MSFT commented on #23006
@Paulooma Sorry for the delay response!
Just for clarification: Ensure port 445 is open: The SMB protocol requires TCP port 445 to be open; connections will fail if port 445 is blocked.
TcpTestSucceeded : True

[2019-02-01 17:24] MicahMcKittrick-MSFT commented on #23966
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-01 17:25] MicahMcKittrick-MSFT commented on #23969
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-01 17:25] MicahMcKittrick-MSFT commented on #23981
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-01 17:25] MicahMcKittrick-MSFT commented on #23988
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-01 17:31] Mike-Ubezzi-MSFT commented on #23779
@Anmolgan81 Please send your Azure Subscription ID to AzCommunity at Microsoft.com and I can have an incident ticket created to have this investigated. If you do have a support plan, please open a support ticket. Another option is to present this scenario to the [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=ssdsgetstarted&filter=alltypes&sort=lastpostdesc) and [Stack Overflow](h

[2019-02-01 17:36] ggailey777 commented on #22181
@adagarpallat I have it almost done, so hopefully by next week.
Is there an API you have a question about...I may be able to answer it here?

[2019-02-01 17:42] Mike-Ubezzi-MSFT commented on #22384
@rolanddb @clayroach Can you guys detail the region you have your Cosmos DB Cassandra API deployed to? I am deployed to West US, and in trying just now, it is not working. As you can see from my previous post, it was working....now it is not. I will go back to the product group. Thank you for bringing this to my attention.

![screenshot 210](https://user-images.githubusercontent.com/37126106/52139

[2019-02-01 17:42] Jann-Skotdal commented on #22215
@laxmi518 - This item has been assigned to the service’s engineering backlog and will be addressed. #please-close

[2019-02-01 17:43] Jann-Skotdal commented on #23244
@ilya-babanov - This item has been assigned to the service’s engineering backlog and will be addressed. #please-close

[2019-02-01 17:43] YutongTie-MSFT commented on #23244
@ilya-babanov
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-02-01 17:43] #23244 closed

[2019-02-01 17:50] cynthn commented on #23707
@john-louden thanks for your feedback!

@SumanthMarigowda-MSFT I don't have a way to add anything to the page in question (this isn't about the overview doc). Can you reassign this to @raj-ganapathy-msft in case they have plans to add Zones to the listing or handle this another way?

[2019-02-01 17:51] taromielnaz commented on #21078
In this document, I can't find a section on how to run our written functions. I have a .fs or.fsx file, so how to run and how to see the result?

[2019-02-01 17:54] YutongTie-MSFT commented on #23901
@Sara-Nicolini Hi Sara, this is related to https://github.com/MicrosoftDocs/vsts-docs/blob/master/docs/pipelines/process/conditions.md the VSTS doc repo, can you please help to move it? Thank you.

[2019-02-01 17:58] Jann-Skotdal commented on #23313
@lsmith999999 - The character limit refers just to the text passed to the Translator service, not the JSON notation.

The maximum elements in an array was recently increased to 100.  We are updating the documentation accordingly.

Thanks for your questions! #please-close

[2019-02-01 18:00] taromielnaz commented on #20763
I assume this report could be closed too. The page redirects to another page.

[2019-02-01 18:06] ritul51 commented on #19002
Its working now just be careful with commands Values must not have trailing spaces/new lines when entered in the fields.

[2019-02-01 18:06] YutongTie-MSFT commented on #23990
@ArvidBaa Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-01 18:07] #23759 closed

[2019-02-01 18:08] YutongTie-MSFT commented on #23313
@lsmith999999
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-02-01 18:08] #23313 closed

[2019-02-01 18:09] MicahMcKittrick-MSFT commented on #23889
@DavidR91 ah yes! As you found you do need to have Admin User enabled.

I believe we should have that noted in the doc. @dlepow can you take a look?

[2019-02-01 18:13] MicahMcKittrick-MSFT commented on #23969
@nageshajab are you referring to this section?

![image](https://user-images.githubusercontent.com/32313503/52141269-08c27180-260a-11e9-9b9f-55f7d1728b4b.png)

[2019-02-01 18:14] javieracrich opened #23998 "typo"
"https://&lt;storage account&gt;.file.core.windows.net/&lt;share&gt;/&lt;directory&gt;/directories&gt;/&lt;file&gt;"
missing &lt; in directories.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 836fd4cd-0afb-4c93-c2cc-57a6d50e7315
* Version Independent ID: 3a1420f8-4b20-100a-4c3e-223f00b079d0
* Content: [Planning for an

[2019-02-01 18:16] YutongTie-MSFT commented on #23596
@AlexanderTodorovic Hi, for more samples, please refer to: https://github.com/Azure-Samples/cognitive-services-speech-sdk
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-02-01 18:16] #23596 closed

[2019-02-01 18:18] BryanTrach-MSFT commented on #23967
@sasikiran Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-01 18:18] michevnew opened #23999 "Dependencies"
Any chance to update this list with the plan dependencies? For example, SHAREPOINTWAC depending on SHAREPOINTSTANDARD/ENTERPRISE, etc?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product names and service

[2019-02-01 18:23] Anand-Moghe opened #24000 "Can you please create a single table that maps all MAC to MAG service URL mapping for easy use?"
Is it possible to create a single page with a table that list and maps all service points mapping between MAC and MAG?

Right now to get the service point for any specific service in MAG, we have to click on individual service and get the URL specific to MAG. It is not very productive experience for developer community.

It will be more easier and productive for developers to just go to a single p

[2019-02-01 18:26] munozrickT4S opened #24001 "SCM not defined on page"
Suggestion: Either spell out what SCM means and/or provide a link to a page describing/defining what "SCM" is referring to.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89142752-64bc-31c2-9189-aa2c2dcf2997
* Version Independent ID: 4ef63a3f-beca-e562-5e69-3cc931bd1022
* Content: [Networking considerations with App Se

[2019-02-01 18:30] LisandroSu opened #24002 "Step 10 not clear"
@Eichi87 commented on [Fri Feb 01 2019](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/254)

The whole tutorial is pretty straightforward except for the last step.
Where do you pass the token?

I use the authentification header presented during the "Tutorial: Create an Azure Time Series Insights single-page web app", which looks like this:
[code]

The Web App has every permission i can t

[2019-02-01 18:31] LisandroSu commented on #24002
Hi team,

Please check the issue reported by the user.

Thanks.

[2019-02-01 18:31] aliceku commented on #23948
This is not supported in Azure SQL Database.  Azure Key Vault is the only key store we support in Azure.

[2019-02-01 18:32] xyh1 commented on #20644
Hi @zowers

Please see answers in line.

    Will the copy from archive operation allow to copy to another container?
- Yes, our existing copyBlob API supports a different destination container for Hot/Cool today. The Archive support will expand on its existing capabilities.
    will there be the option to make the copy temporary?
- With lifecycle management you can do this with your copied blob.

[2019-02-01 18:34] MicahMcKittrick-MSFT commented on #23655
@RotemEmergi thanks for reaching out. This specific repo is designed to help identify doc issues in the Azure space. The specific question you are asking for is best handled in the forum space. Please post your issue in our of our forums for better assistance

https://stackoverflow.com/
https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureContainerServices

Else, if you are following any

[2019-02-01 18:34] #23655 closed

[2019-02-01 18:35] LisandroSu opened #24003 "Supported OS"
@dimilider commented on [Fri Feb 01 2019](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/255)

Hey all,

the documentation is mentioning that the most used OS's are not supported -> https://docs.microsoft.com/de-de/azure/virtual-machines/extensions/dsc-linux#operating-system . btw, the link to the supported OS's is down. But on a other GitHub page (https://github.com/Microsoft/PowerShell

[2019-02-01 18:35] LisandroSu opened #24004 "Supported OS"
@dimilider commented on [Fri Feb 01 2019](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/255)

Hey all,

the documentation is mentioning that the most used OS's are not supported -> https://docs.microsoft.com/de-de/azure/virtual-machines/extensions/dsc-linux#operating-system . btw, the link to the supported OS's is down. But on a other GitHub page (https://github.com/Microsoft/PowerShell

[2019-02-01 18:35] LisandroSu commented on #24003
Hi team,

Please check the issue reported.

Thanks!

[2019-02-01 18:36] PramodValavala-MSFT commented on #23622
The SignalR output binding just calls the [Azure SignalR REST API](https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-quickstart-rest-api) which seems to be failing / timing out.

Since the `/negotiate` call didn't give you any errors, I believe the connection string is correct.

Could you try capturing the requests (using something like [Wireshark](https://www.wireshark.org/) or [Fiddle

[2019-02-01 18:36] PramodValavala-MSFT commented on #23816
@ameb1981 Just following up here... Did you get a chance to check the logs?

[2019-02-01 18:37] ambivalentdev opened #24005 "SMSMessage does not resolve"
C# example does not build since SMSMessage doesn't resolve with v2.0 of azure functions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32f10048-0374-3561-c66d-6279708b1272
* Version Independent ID: 64cbe0eb-0e05-2432-128f-9e738735f0ef
* Content: [Human interaction and timeouts in Durable Functions - Azure](https://docs

[2019-02-01 18:38] YutongTie-MSFT commented on #23700
@JohnStraumann66 Took it offline. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-02-01 18:38] #23700 closed

[2019-02-01 18:56] navzam commented on #23912
I think a very concrete example would help. An interchangeable phrase list is intuitive enough - words that are synonymous or can be treated the same in an utterance. But it's harder to think of a case where you'd use a non-interchangeable phrase list.

[2019-02-01 18:56] hrasheed-msft commented on #23979
#please-close

[2019-02-01 18:57] softwarecraft commented on #23985
Sample screen:

![azure portal db va no details - loading](https://user-images.githubusercontent.com/12091402/52143361-3e2a8780-2629-11e9-8093-ce384a620aab.png)

[2019-02-01 19:00] Ayanmullick commented on #23948
Could a Windows Server Certificate Authority be configured to issue keys that could be imported to the KeyVault Azure SQL TDE?

[2019-02-01 19:02] femsulu commented on #23954
@sanjayntms. would be helpful if you can elaborate on your issue. Are you running the script locally or within a runbook in Azure Automation? The error seems to indicate you may be missing or unable to load the appropriate modules. If you haven't already, I would recommend you first run the script locally to see if it succeeds. If it does then you may be missing the modules in Azure automation. [T

[2019-02-01 19:02] MicahMcKittrick-MSFT commented on #23966
@TylerMSFT it might be worth noting in the doc to preferably use Cloud Shell. Thoughts?

[2019-02-01 19:02] Juliako commented on #21553
#please-close

[2019-02-01 19:03] aliceku commented on #23948
That's a question for the Azure Key Vault team.  Azure SQL Databases can use a key stored in AKV that meets the requirements: asymmetric, RSA 2048 key.

[2019-02-01 19:04] Ayanmullick commented on #23948
Could you @ a member from that team, please? The end goal is Azure SQL TDE.

[2019-02-01 19:04] #11884 closed