[2020-06-09 02:56] AshokPeddakotla-MSFT commented on #56665
@Rikonimo Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-09 03:09] AshokPeddakotla-MSFT commented on #56648
@nelutzu91 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-09 03:38] jackvdbuk commented on #23238
Can this be please be documented?

[2020-06-09 03:47] tannis00 commented on #55358
So... Because it happens often, you can't deal with it? Because it is an everyday event, you pawn it off on your users. Sorry, but this isn't an answer.

[2020-06-09 03:48] deena211 commented on #56645
@AshokPeddakotla-MSFT This is the link to the document: https://docs.microsoft.com/en-us/azure/cognitive-services/luis/tutorial-machine-learned-entity

[2020-06-09 03:52] Kamyar5353 opened #56688 "There is an issue with CREATE USER with VS SQL Project..."
Hi.

I am using the SSDT from Visual Studio to maintain a Synapse SQL DB. I noticed **CREATE USER xxx FROM EXTERNAL PROVIDER** at the Publish/Schema compare being converted to **CREATE USER xxx NO LOGIN**. I don't know what is the reason for this change, but it ends up with access issues.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-06-09 04:02] gsxmax opened #56690 "Encountered errors while following the docs"
First, I encountered below error by following the docs, I overcome it by adding the contributor role to the objectID. Maybe because my ACR and ACR not in same resource group.
##[error]Error: The client '7efa9eb1-948b-416e-a121-d439859de16a' with object id '7efa9eb1-948b-416e-a121-d439859de16a' does not have authorization to perform action 'Microsoft.Resources/subscriptions/resourceGroups/b8bff910-

[2020-06-09 04:14] v-nagta commented on #47509
Hi @mwahrtp can you please provide the necessary information here

[2020-06-09 04:52] RohitMungi-MSFT commented on #56492
@pag08007 Thanks for sharing the resolution on this thread. We really appreciate the details.
Tagging @CHEEKATLAPRADEEP-MSFT for visibility on similar issues related to this feature.

If you do not have any more issues with this integration we will go ahead and close this issue.

[2020-06-09 04:54] CHEEKATLAPRADEEP-MSFT commented on #56688
@Kamyar5353  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - Microsoft Q&A [azure-synapse-analytics](https://docs.microsoft.com/en-us/answers/topics/azure-synapse-analytics.html)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2020-06-09 04:54] #56688 closed

[2020-06-09 04:56] SubhashVasarapu-MSFT commented on #56384
@tukan17 , Appreciate your patience. We have assigned this issue to the WAF SME for better insights.
@winthrop28 , Could you please provide your insights here?

[2020-06-09 04:59] TravisCragg-MSFT commented on #56668
@RonnieQuan Typically a file share is [mounted using a Storage account key](https://docs.microsoft.com/en-us/azure/storage/files/storage-how-to-use-files-linux).

It is possible to use [Identity based authentication using Active Directory on Windows VMs](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-active-directory-overview).

For Encryption, there is no additional encryption

[2020-06-09 04:59] Druffl3 opened #56691 "Xamarin.Forms Support"
I just wen through the Azure Creator documentation and I can see that it can only be used with a Web SDK as of now. I would like to use the same with Xamarin.Forms and want to know if you will be extending this particular feature to it?
That would mean that AzureMaps SDK should be available for Xamarin.Forms in the first place.
---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-06-09 05:09] #56616 closed

[2020-06-09 05:10] #56575 closed

[2020-06-09 05:11] XiaoyuMSFT commented on #55358
@tannis00 - Sorry to hear my previous answer didn't address your question.  Let me try to understand a bit more what you are looking for.

Are you asking for a way to remove duplicates in existing data warehouse tables as a one-time cleanup?  If so, you can use the new ansi join feature to delete the duplicates based on the results from joining with another table.

Or do you want a way to continuo

[2020-06-09 05:30] Sarah-Aly opened #56692 "Cloud Event Schema C# Example Is Outdated"
The C# sample for Cloud Event uses `HttpRequestMessage` & `HttpResponseMessage` rather `IActionResult` & `Httprequest`.

However, even with HttpRequestMessage, the code does not compile as the following lines do not comiple:

current:
[code]

correct:
[code]

Also

current
[code]

correct
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-06-09 05:39] divyaswarnkar commented on #54717
@aliyoussefi the connectors can be in Preview for various reasons including feature gaps, performance, or business reasons. They also do not have the same level of support as GA connectors. The Preview tag is for the connectors as thats what we (MSFT) own. The services/APIs they are connecting to do not drive this status. Are you asking this for any specific connector ?

[2020-06-09 05:55] VikasPullagura-MSFT commented on #56536
@mozahra
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-06-09 05:55] #56536 closed

[2020-06-09 05:57] VikasPullagura-MSFT commented on #56484
@kvsrkrishnan
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-06-09 05:57] #56484 closed

[2020-06-09 06:03] VikasPullagura-MSFT commented on #56018
@desek Apologies in delayed response. I checked with the internal team on this.
Team have confirmed that work for updating this document is in progress.

I am assigning to the doc authors for further action on this.

[2020-06-09 06:04] souravmishra-msft commented on #56381
@bh56, Thank you for sharing the confirmation. Will go ahead and close this thread for now.

[2020-06-09 06:04] #56381 closed

[2020-06-09 06:08] vipulsparsh commented on #56615
@AmitavaHazra  The Azure AD password restriction policy can not be modified.  So you cannot modify it for password complexity. [Here ](https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-sspr-policy)is the link which confirms the same.

The only option you have is to configure the Azure AD to not allow the [Custom banned passwords](https://docs.microsoft.com/en-us/azure/

[2020-06-09 06:08] souravmishra-msft commented on #56684
@erroltuparker, Thank you for pointing this out. We are looking into this and will update the doc accordingly.

[2020-06-09 06:10] AshokPeddakotla-MSFT commented on #56648
I have assigned the issue to the content author @philmea to evaluate and update as appropriate.

[2020-06-09 06:11] BharathNimmala-MSFT commented on #56194
@rafnijs Thanks again for bringing this to our notice, i have raised a PR to update the variable name it will be merged to the main repo later in the week.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen the thread an

[2020-06-09 06:11] #56194 closed

[2020-06-09 06:12] souravmishra-msft commented on #56682
@bwgit Thank you for brining this up and sharing the details. We will see if we can somewhere incorporate this KB link in our troubleshooting guide and update the doc accordingly.

[2020-06-09 06:13] souravmishra-msft commented on #56679
@FlynnLives, Thank you reaching out. We are looking into this and will get back to you soon on this with more details.

[2020-06-09 06:20] SubhashVasarapu-MSFT commented on #56549
@keatseongchan , As of now this feature supports only for listener certificates. In order to renew authentication certs then you need to use PS or CLI ( Set-AzApplicationGatewayAuthenticationCertificate).

Ref : https://docs.microsoft.com/en-us/powershell/module/az.network/set-azapplicationgatewayauthenticationcertificate?view=azps-4.2.0

This will have a downtime of 2 minutes.

[2020-06-09 06:28] stevestein commented on #48009
@kazshi - thanks for the feedback.

There's no matrix of combinations I can provide. The point is that during the completion of the scale process, there is always a moment when connections need to get switched over and routed to the new instance that can potentially result in the database being unavailable for a few seconds. And depending on the beginning service level and target slo of the databa

[2020-06-09 06:29] stevestein commented on #48009
#please-close

[2020-06-09 06:29] #48009 closed

[2020-06-09 06:31] shashishailaj commented on #56673
@hctrr Thank you for pointing this out . We will have this reviewed with the content team and get it updated.

[2020-06-09 06:43] bwgit commented on #56682
Great.

The detailed error message returned to users was: "The user could not be authorized. Make sure the user is defined in your on-premises AD and that the user has access to the app in your on-premises AD"

[2020-06-09 06:56] MSSedusch commented on #44659
@jahobson75 the new Extension and SAP Host Agent are available. We will publish guidance on how to install and troubleshoot the new extension in the next few days.

PublisherName: Microsoft.AzureCAT.AzureEnhancedMonitoring
Type: MonitorX64Windows

[2020-06-09 06:57] deena211 commented on #56645
Now I made the changes in BotServices.cs by referring to  https://github.com/microsoft/botframework-solutions/blob/master/templates/csharp/Skill/Skill/Services/BotServices.cs.

Substituting "LuisPredictionOptions" with "LuisRecognizerOptionsV3". This is now causing an error at the Convert method in the Luis generated class.

 The error is as below:

"Exception Message: Unexpected character encount

[2020-06-09 07:05] RonyMSFT commented on #55588
@eliasvakkuri , Synapse Studio is a web app that connects to many endpoints to render the information in the UI. You can create private endpoints in your Azure VNet to the workspace endpoints. If you launch Synapse Studio from a VM in that VNet, then Studio will use the private endpoints. Let me know if that helps. Otherwise, please clarify your question.

[2020-06-09 07:06] RonyMSFT commented on #55588
@eliasvakkuri , After reading your original comment, I am now wondering whether you want to privately link to the Studio from your Azure VNet. Is that the scenario?

[2020-06-09 07:10] johnstaveley commented on #56382
Hi, there is no Json or error message. it is just the quickstart does not contain sufficient information to start as there is nothing about networking in it. You keep getting the message 'validation failed' above.

[2020-06-09 07:13] SumanthMarigowda-MSFT commented on #56672
@CageySea Thanks for your question. We are checking on this and will respond to you soon.

[2020-06-09 07:22] pbaumgartner commented on #44659
Very good news, will you provide that link here?

[2020-06-09 07:23] BharathNimmala-MSFT commented on #56165
@fannie666 My sincere apologies for delayed response on this.  One of the possible reasons for the error you see is:

- The module that contains the cmdlet isn't imported into the Automation account.
- The module that contains the cmdlet is imported but is out of date.

For resolving the error, can you please try one of the following tasks:

- For an Azure module, see [How to update Azure PowerShe

[2020-06-09 07:23] #56165 closed

[2020-06-09 07:29] jygastaud commented on #56300
It would be really good to have an official package for Ubuntu 20.04, as the installation get the current Ubuntu release by default.

Another workaround is to use bionic repository instead of focal.

In `/etc/apt/sources.list.d/dotnetdev.list`
replace `deb [arch=amd64] https://packages.microsoft.com/repos/microsoft-ubuntu-focal-prod focal main`
by `deb [arch=amd64] https://packages.microsoft.com/r

[2020-06-09 07:31] cadumi opened #56694 "Persistent during redeploy"
According to doc:
If you resize or Stop (Deallocate) a virtual machine, this may trigger placement of the virtual machine to a new hypervisor. A planned or unplanned maintenance event may also trigger this placement. In this scenario, the temporary disk will be reassigned to the first available drive letter.

I have tested with a redeploy of a VM that had Temp drive set as Z and after redeploy to

[2020-06-09 07:37] eliasvakkuri commented on #55588
@RonyMSFT Thanks for the reply!

What I'm looking for is an example of how to connect to Synapse Studio via the private endpoint after creating it. I would consider the documentation incomplete if there are no instructions on how to use the private endpoint for connectivity.

Personally I would especially appreciate an example of how to use Azure Point-to-Site VPN to connect from local laptop to S

[2020-06-09 07:38] RohitMungi-MSFT commented on #56645
@deena211 Thanks for the question. Just wanted to clarify if you are facing issues with getting the entities from portal or your bot? If you are facing issues with the portal using this documentation then we can review the document to correct any steps if required.

If the usage of the LUIS app in a bot service implementation is failing then the bot framework [issues ](https://github.com/microsoft

[2020-06-09 07:47] MSSedusch commented on #44659
@pbaumgartner yes, the guidance will be part of the deployment guide. https://docs.microsoft.com/azure/virtual-machines/workloads/sap/deployment-guide

But I will update this issue once the article has been updated.

[2020-06-09 07:52] JamestsaiTW opened #56695 "Got Response Error - Code "500 InternalServerError""
I try to follow this page
At Convert a Drawing package section, step 2:
https://atlas.microsoft.com/conversion/convert?subscription-key={My-Azure-Maps-Primary-Subscription-key}&api-version=1.0&udid=3f899224-ac17-6b6b-1c50-ba0f17077d2d&inputType=DWG
![image](https://user-images.githubusercontent.com/9651229/84120420-64a3d280-aa68-11ea-9aaf-a811d49ae1de.png)

I got the value of Location Key: e0e843e

[2020-06-09 07:53] VikasPullagura-MSFT commented on #56683
@JaneYan-2016 I followed the tutorial, and see no errors while cluster creation. I tried this on Cloud Shell.

Can you please try one more time and see if it is working for you.

Here is the detail [doc](https://docs.microsoft.com/en-us/powershell/module/az.aks/new-azaks?view=azps-4.2.0) for New-AzAks cmdlet incase if you are using more parameters.

[2020-06-09 07:54] VikasPullagura-MSFT commented on #56370
@dlepow Can you please check on this request.

[2020-06-09 08:09] vipulsparsh commented on #56348
@AlexanderSaad Let me know if you have any further questions on this. If not, I will proceed with closing this thread. You can tag me in your comment to re-open this again.

[2020-06-09 08:09] chanakyaMT commented on #32940
Hello Surendra,
With respect to audience, Is this mean Application ID?

if yes, client_id at above link itself defines about application ID, you no need to give it again.

Correct me if I understood wrong. What is the purpose of audience?

[2020-06-09 08:10] vipulsparsh commented on #56405
@andresu13 Let me know if you have any further questions on this. If not, I will proceed with closing this thread. You can tag me in your comment to re-open this again.

[2020-06-09 08:10] vipulsparsh commented on #56417
@alan-hu Let me know if you have any further questions on this. If not, I will proceed with closing this thread. You can tag me in your comment to re-open this again.

[2020-06-09 08:10] #56417 closed

[2020-06-09 08:13] amanmcse commented on #56349
@atcaoyufei I constructed same URL with the client_id of the application in my tenant and not getting the "Need Admin Approval" message. You can test with below URL:

https://login.microsoftonline.com/common/oauth2/v2.0/authorize?client_id=b6f346ba-c900-4633-9f0d-e8000d97dc8e&redirect_uri=https://py-index.github.io&response_type=code&state=debug&scope=offline_access+Files.ReadWrite.All&prompt=cons

[2020-06-09 08:13] #56349 closed

[2020-06-09 08:14] MarkusElsper commented on #23238
there it is described:
https://docs.microsoft.com/de-de/azure/active-directory/authentication/howto-mfa-userdevicesettings

[2020-06-09 08:18] VikasPullagura-MSFT commented on #56318
@ibrahimalihc Thanks for pointing this out.
I am checking with internal team on the Linux log location and will update the document accordingly.

[2020-06-09 08:30] deena211 commented on #56645
@RohitMungi-MSFT Thank you for you response. My problem is while getting the entities from bot.

[2020-06-09 08:31] runemoennike commented on #51738
We are receiving the same error message, and there's still no such limit mentioned in the documentation. 10 cores across the entire subscription is not useful for any sort of production-level system.

[2020-06-09 09:05] Nayyar0 commented on #55358
@XiaoyuMSFT thanks for your updates. The confusion is coming from the fact the Synapse is selling itself as a data warehouse. Therefore those of us who are coming from a DW background, Kimball in particular are expecting to see the fundamentals of DW available in Synapse. Buts its not available. What you have written above is not quite accurate, usually during the ETL process the duplicates would

[2020-06-09 09:07] Nayyar0 commented on #55358
Can you please elaborate further on the following: "Synapse Analytics is mainly used for analytical workload, data duplication happens often due to regular ETL operations. " The whole point of a DW is ETL, so Synapse is not built for ETL? What do you mean by analytical workload? Also lastly what is the new ansi join feature you mentioned. Thanks

[2020-06-09 09:21] surajmuthreja opened #56698 "Can I control the Spoke VNet routing from vWAN HUB towards OnPrem Devices? Is there multi-tenancy supported from Azure vWAN?"
[Enter feedback here]

Can I control the Spoke VNet routing from vWAN HUB towards OnPrem Devices? Is there multi-tenancy supported from Azure vWAN?

e.g. If I have Spoke VNets (VNet-1, VNet-2, VNet-3 & VNet-4) all are connected to vWAN HUB using VNet connections option.
Now I have On Premises Device-1 and On Premises Device-2 connected to vWAN HUB VPN gateway using IPSec tunnel + BGP.
Both devices

[2020-06-09 09:55] Az-dev-9 commented on #23536
Hi,
Is there any update on this? it appears that Sectigo certs are not working well with Azure app services..

[2020-06-09 10:14] ram-msft commented on #56581
@cagrimunyas Please follow the below guide to prepare question and answer with metadata in Qna Maker Portal with best practices.
https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/quickstarts/add-question-metadata-portal
https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/concepts/best-practices
QnA Maker is Task driven and Search Dialogs can be both driven towards a

[2020-06-09 10:18] cagrimunyas commented on #56581
my MS alias is v-cagmun. Can you ping me on Teams for further details?

[2020-06-09 10:25] VikasPullagura-MSFT commented on #56694
@cadumi
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-09 10:27] bhushang19 commented on #56453
seems you have missed to take a look at the comment note added above. re-sharing it for your reference [here](https://github.com/MicrosoftDocs/azure-docs/issues/44425#issuecomment-638686634) looking forward for your response once you take a look at it.

[2020-06-09 10:34] andresu13 commented on #56405
Yes, I understand subscriptions may contain multiple resource groups. However, saying that you can enable Standard or Free Tier at the “Resource Group level” is not correct - or at least I am not aware how you can do that. You can enable Standard tier only at the Subscription level and/or the Workspace level.

That you should be corrected and clarified in this document.

Thanks!

Andres

[2020-06-09 10:45] arolshan opened #56701 "Managing SQL AAD based authentication with secret rotation"
[Enter feedback here]
Hi,

I'm from the Azure Log Analytics team. According to the docs, the way to implement AAD based authentication to SQL is by using service principal id and key, but there's no easy way to auto rotate the key both in AAD and Key Vault.

Can you please provide some guidance on how to achieve such scenario?

Thanks, Arik.

---
#### Document Details

⚠ *Do not edit this section.

[2020-06-09 10:50] samrueby opened #56702 "Premium Pricing Tier isn't an option?"
This page indicates "Using Azure Database Migration Service to perform an online migration requires creating an instance based on the **Premium pricing tier**."

I look at what pricing tier we are using. The options are: General, and Business Critical.

The message is confusing because it appears "Premium" is not one of the options.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-06-09 10:51] vvasic-msft commented on #55968
@Mike-Ubezzi-MSFT script should be executed on SQL on-demand.
@dudu-markovitz is correct about the comma.

[2020-06-09 10:51] vvasic-msft commented on #55968
@jovanpop-msft do you want to make the change?

[2020-06-09 10:54] nathankitchen commented on #54547
Yes, thank you.

[2020-06-09 11:03] BhargaviAnnadevara-MSFT commented on #53954
@jwisener We understand that this issue is more about the product-feedback than a documentation enhancement, hence closing this issue for now. If there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-06-09 11:03] #53954 closed

[2020-06-09 11:04] onkarthg commented on #56606
Hello @PRMerger6  have check the tags but there is no releted solution.. please help me on this.

[2020-06-09 11:15] AshokPeddakotla-MSFT commented on #56566
@anastasia-ms Thanks for the PR.
@jonsatchwell We hope that addresses your issue. Please let us know if you have any further queries.

[2020-06-09 11:17] sachinpanwar opened #56703 "Links are broken in "Platform/Language specific guidance" section"
Links are broken in "Platform/Language specific guidance" section for "Azure App Services" and "Azure Function Apps".

This link doesn't work anymore.
https://blogs.msdn.microsoft.com/appserviceteam/2018/04/17/app-service-and-functions-hosted-apps-can-now-update-tls-versions/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-06-09 11:21] cat-mucius opened #56704 "Deployment of WVD Agent and Boot Loader?"
What about the WVD Agent & WVD Agent Boot Loader?
Should they be installed manually on the new machines, with the registration token?
Will the same process that adds the machines deploy these services on them automatically? If so, is there any preparation needed for this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-06-09 11:22] VikasPullagura-MSFT commented on #56694
@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2020-06-09 11:25] BhargaviAnnadevara-MSFT commented on #56703
@sachinpanwar Thank you very much for bringing this to our attention. We're investigating this and will get back to you shortly.

[2020-06-09 11:28] reddyeshwar17 commented on #56253
I am working on different project now.i didn't look into it.

Thanks for response.

[2020-06-09 11:30] AmitavaHazra commented on #56615
@vipulsparsh ,

Yes this is something I wanted to verify which was mentioned in the doc. Thanks a lot.

[2020-06-09 11:30] #56615 closed

[2020-06-09 11:31] AmitavaHazra commented on #56458
can anyone help here ?

[2020-06-09 11:32] VikasPullagura-MSFT commented on #56528
@keatseongchan
Yes, the address range to be provided to Kubernetes service cluster should be outside the range of the cluster e.g. if you have setup cluster as 10.0.0.0/8, it can be 172.16.0.0/16.

It is clearly stated in the [documentation](https://docs.microsoft.com/en-us/azure/aks/configure-azure-cni).

The reason for this is that azure networking won't get to know about the assignment of IP ra

[2020-06-09 11:51] LazzariPaolo commented on #33674
Seeing the same issue as @AlphaWong today in eastus

[2020-06-09 11:52] MonikaReddy-MSFT commented on #56205
@stepro  - Thank you for providing your insights.
@curtstate - I hope @stepro has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-09 11:52] #56205 closed

[2020-06-09 11:56] RohitMungi-MSFT commented on #56446
@PatrickFarley is it possible to merge code snippets as one code block and provide the text describing the same?

[2020-06-09 11:59] RohitMungi-MSFT commented on #56546
@zamdani30 Could you please provide more information about the setup you are trying to start?
@stevenluda If there are no further questions regarding this matter, We will now proceed to close this thread. Please tag @RohitMungi-MSFT in your reply.

[2020-06-09 11:59] ransagy opened #56705 "KeyVault configuration is wrong for the current latest NuGet"
The section about using KeyVault in NET 4.7.1+ contains outdated information and will fail in runtime trying to find the right builder assembly.

One needs to use the `Microsoft.Configuration.ConfigurationBuilders.Azure` NuGet and refer to it in the `type` attribute of the builder configuration.

There seem to be more generally out of date parts in this document, But that's the one i needed and tr

[2020-06-09 12:01] VikasPullagura-MSFT commented on #56600
@Usamawahabkhan Thanks for pointing this out. I just reproduced the issue. To have the stress installation successful, please try to update and then install the stress with below commands.
[code]

![image](https://user-images.githubusercontent.com/48944027/84145213-19dd8700-aa77-11ea-8e1f-945c67e0d724.png)

[2020-06-09 12:02] vipulsparsh commented on #56405
@andresu13 We will make the changes to reflect the same on the doc. Thanks.
@memildin  Can you look into this ?

[2020-06-09 12:07] narenltk commented on #15913
Well the updated way to use QNA maker is to just click on the Create Bot in the QNA maker page,
![createbot](https://user-images.githubusercontent.com/14790887/84145430-7ccf1e00-aa77-11ea-8f60-b92d4f0b4963.jpg)

Once your select this you will automatically be redirected to the Web App Bot page along with the necessary details as shown
![sdk](https://user-images.githubusercontent.com/14790887/84145

[2020-06-09 12:07] ram-msft commented on #56581
@cagrimunyas Please raise an issue from the [qnamaker ](https://www.qnamaker.ai/)portal smile icon as we can see there is a decrease in answer confidence score or wrong answer prediction for the Turkish language. The scoring model needs an improvement for Turkish.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will g

[2020-06-09 12:07] #56581 closed

[2020-06-09 12:09] kobulloc-MSFT commented on #56677
@JuanKRuiz The resolution from the other thread was that we don’t show reporting today to partners in PC that comes from tagged resources.  It doesn't sound like this addresses your scenario, so I've reopened the [original thread](https://github.com/MicrosoftDocs/azure-docs/issues/46527).  Let's continue the conversation there.

[2020-06-09 12:09] #56677 closed

[2020-06-09 12:12] VikasPullagura-MSFT commented on #56600
@Usamawahabkhan I have updated the document and changes will go live soon.

[2020-06-09 12:15] DavidTrigano commented on #56620
Hello @aewilliams1705

Many thanks for your feedback. We changed our documentation accordingly, and you should see the updated URL within 24hours.

@NavtejSaini-MSFT PR #118173. You can go ahead and close this incident.

[2020-06-09 12:19] AshokPeddakotla-MSFT commented on #56690
@gsxmax Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-09 12:21] samrueby opened #56706 "Link to deprecated page"
This page provides a link in the text "...after you have deployed your app and switch on telemetry at run time." to https://docs.microsoft.com/en-us/azure/azure-monitor/app/monitor-performance-live-website-now, which indicates that it is deprecated.

What should the link be updated-to for the latest best practice?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-06-09 12:22] yokhaldi opened #56707 "Python3 support"
[Enter feedback here]

Hi team

Who is the owned of the scripts used for « Send log data to Azure Monitor with the HTTP Data Collector API » ?

https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-collector-api

I see that this API used a signature for the autorisation and we propose only Python version 2 but most of solutions support now Python version 3 so we cannot integrate many

[2020-06-09 12:25] ofirmanor commented on #56666
Hi @gpetersOB
No, the action group will not activate once the suppression window is over.
When an alert wants to generate a notification (for example, it is fired or resolved), if there is an active suppression that affects it, that notification (action groups) is suppressed == not sent.

[2020-06-09 12:27] danipixis opened #56708 "No Java examples"
Please add a Java example for each application type.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f478fced-6d4d-1d71-1a87-a72868eed194
* Version Independent ID: 2405a406-12bc-34b6-e8dd-e40dab9019bd
* Content: [Azure Active Directory B2C code samples](https://docs.microsoft.com/en-us/azure/active-directory-b2c/code-sa

[2020-06-09 12:31] lucarv opened #56709 "Update Please"
[Enter feedback here]
You should update this page to be in. sync with the current status of the product.

[2020-06-09 12:36] qxg opened #56710 "Ubuntu 18.04 is not supported by Script installation"
In Prerequistites, it is said 18.04 is supported.
![image](https://user-images.githubusercontent.com/919883/84147669-608bab00-aa90-11ea-9e91-8f2009c80119.png)

However in script https://raw.githubusercontent.com/Azure/service-fabric-scripts-and-templates/master/scripts/SetupServiceFabric/SetupServiceFabric.sh, only 16.04 is supported.

[code]
---
#### Document Details

⚠ *Do not edit this section.

[2020-06-09 12:40] nkumars commented on #56357
@SaurabhSharma-MSFT , I see details are missing in the document being explained. Because I read from the document, first paragraph

When this being said clearly, there must be a way logging them in Application Insights, right?

[2020-06-09 12:48] CharmanderJieniJieni commented on #56488
I see. Thanks!

On Mon, Jun 8, 2020 at 5:49 PM bashahee <notifications@github.com> wrote:

[2020-06-09 12:51] jovanpop-msft commented on #55968
@Mike-Ubezzi-MSFT - I added explicit checks in the script that will throw an error if someone execute it on master database or some endpoint different than SQL on-demand.
@dudu-markovitz - sample is corrected - thanks.

[2020-06-09 13:04] RohitMungi-MSFT commented on #56625
@KelumPerera Azure Notebooks is basically a free hosted service to develop and run Jupyter notebooks in the cloud with no installation. With respect to sharepoint file there is no direct integration of loading data from sharepoint. You can try to upload the files to blob storage and read them directly using standard python libraries.

For authentication do you intend to use Azure ML authentication

[2020-06-09 13:27] mbiver opened #56711 "NVIDIA GPU Driver Extension for Linux RHEL 7.8"
Hello, I was wondering if the NVIDIA GPU Driver Extension for Linux works with RHEL 7.8?  If not, is there a time line when it will be available?  Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 374c8361-9b31-2488-f04b-766e6305c91b
* Version Independent ID: aebb9dd3-d1e6-4319-9ab1-0088bd8416e3
* Content: [NVI

[2020-06-09 13:32] DixitArora-MSFT commented on #56360
@manish-95 You can make use of environment variables https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library#environment-variables

[code]

For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-09 13:32] #56360 closed

[2020-06-09 13:32] AshokPeddakotla-MSFT commented on #56691
@Druffl3 Looks like similar feedback has been provided on the UserVoice: https://feedback.azure.com/forums/909172-azure-maps/suggestions/40083277-azure-maps-sdk-to-integrate-in-xamarin-forms I would suggest you provide your feedback and upvote it.

[2020-06-09 13:35] greendx opened #56712 "Off-boarding resource from PIM Management"
[Enter feedback here]
Hi - Once you select and subsequently onboard a subscription for for PIM management, how do you go about off-boarding it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bef8c4d4-c8f5-aaf2-c1e8-4da44f9fdee0
* Version Independent ID: 4850f3f9-10ce-78c3-9f6d-8e037e5f3de1
* Content: [Discover Azure re

[2020-06-09 13:35] MonikaReddy-MSFT commented on #56706
@samrueby ,  Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-06-09 13:36] MattEvansA45 commented on #54184
@MartinJaffer-MSFT  sorry for the delay in replying.

I've just been able to have a look at this again, and although not changing anything in the package it now appears to be working! the attribute is appearing in teh output and and the full path is displaying so i'm guessing some recent release has fixed this

![image](https://user-images.githubusercontent.com/41288088/84153918-649ed500-aa5e-11ea

[2020-06-09 13:37] AshokPeddakotla-MSFT commented on #56692
@Sarah-Aly Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-09 13:48] aliyoussefi commented on #54717
Hi @divyaswarnkar , Thank you for the update! For specific examples of connectors, I was mostly interested in non-Microsoft owned APIs and the support model (specifically Premier Support) assuming Microsoft does not support third party APIs but does support the connector to each. My initial inquiry was for _a public roadmap/guidance for when a preview connector will move to GA, especially consider

[2020-06-09 13:54] radoslawjakubowski opened #56714 "Is it possible to forward requests to backend pools but overriding the path?"
I am looking at Application Gateway and I was wondering if I can forward my requests from the frontend to backend pools but overriding the path e.g.:

http://frontend:80/resource1 -> http://backend01:1234/
http://frontend:80/resource2 -> http://backend02:1234/
http://frontend:80/resource3 -> http://backend04:1234/
etc.

So basically I need to override the path to '/'. Is it even possible?

https:/

[2020-06-09 13:56] AshokPeddakotla-MSFT commented on #56538
I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-09 13:59] Erithano opened #56715 "Ninth revision is ICD-9-CM"
[Enter feedback here]
International Classification of Diseases, ninth revision is ICD-9-CM not ICD-10-CM (tenth revision).
Just a minor typo. Hope that helps 👍

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbbbeb61-cd30-0558-9e40-2fc024e18286
* Version Independent ID: 23718a2c-9d6b-6f65-40bf-3ffa3d7e1f5e
* Content: [S

[2020-06-09 14:02] asergaz commented on #56253
Thank you @reddyeshwar17 ! We will close this issue now and will be happy to reopen when you are back to it :), please tag me in your reply.

Happy coding!

[2020-06-09 14:02] #56253 closed

[2020-06-09 14:05] ii-batman opened #56716 "SSPR reg page asking for users to create App Password which not an option on the SSPR Auth methods"
Hi
I am trying to setup combined SSPR where a user registers for MFA and SSPR on the the same page.
My SSPR authentication methods are:
**Mobile app notification , Mobile app code, Mobile phone and Office phone**
However the regitration page is asking for an App Password to be created (see pic) and I don't understand where this is coming from... I dont want users to create app passwords...
![Inked

[2020-06-09 14:07] RohitMungi-MSFT commented on #56645
@deena211 It would be great if you can post the issue on our bot framework repo as the development team could advise better based on your code snippet and scenario.

[2020-06-09 14:13] VikasPullagura-MSFT commented on #56690
@dlepow Can you please check and add your comments on this.

[2020-06-09 14:14] zamdani30 commented on #56546
I don’t have Microsoft azure program on my chrome os and my other laptop

[2020-06-09 14:15] #56492 closed

[2020-06-09 14:15] oising opened #56717 "App Service configure client certificate screenshot/doc is out of date"
The screen shot in this page suggests that client certificates can either be required, or none. However, app service thankfully now exposes "required, allow (optional) and none" - just like IIS. please verify and update this page to conform.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb440603-950a-c224-f6c9-222ca50

[2020-06-09 14:16] dominik-lekse opened #56718 "Reflect extension of SSO features in AAD free/office"
I assume the statement "Custom application onboarding is an Azure AD Premium P1 or P2 licenses feature." is outdated in light of the extension of SSO features in AAD free/office according to https://techcommunity.microsoft.com/t5/azure-active-directory-identity/unlimited-sso-and-new-azure-ad-features-to-simplify-secure/ba-p/1257358.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-06-09 14:16] oising opened #56719 "App Service client certificates can be required, allow (optional) or none"
The screen shot in this page suggests that client certificates can either be required, or none. However, app service thankfully now exposes "required, allow (optional) and none" - just like IIS. please verify and update this page to conform.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb440603-950a-c224-f6c9-222ca50

[2020-06-09 14:17] oising commented on #56717
accidentally dup'd this issue. Closing.

[2020-06-09 14:17] #56717 closed

[2020-06-09 14:19] diberry commented on #15913
@chinna98 why do you want a v3 Bot Framework version of a qna bot?

[2020-06-09 14:24] akhilv opened #56720 "Request Telemetry not getting tracked on Portal"
[Observed my custom request telemetry wasn't getting tracked on portal/log analytics. This behavior is occurring only when an exception is thrown, caught and I set  "operation.Telemetry.Success = false". I manage to get it working by setting "operation.Telemetry.ResponseCode" to a valid value. Can we make it explicit in the document that both "success" and "responsecode" are mandatory to set in or

[2020-06-09 14:25] chinna98 commented on #15913
For creating a QNA bot...I see that there is no version available to go back !!.. Now no problem...I Learned..Thanks .

[2020-06-09 14:38] luticm opened #56721 "Improve docs around Databricks/AKV"
There are some specific scenarios not addressed by our documentation. This was confirmed by Databricks in case 120040623002283.

Reference ticket: https://help.databricks.com/s/case/5004N00000ltBtqQAE/rls-scheduled-jobs-are-filing-in-databricks-and-all-scripts-using-keyvault-as-well-due-access-issues

"* With Databricks subscription, when we create the Key vault, by default the AzureDatabricks app

[2020-06-09 14:50] christiankuhtz commented on #56533
that's not what i was referring to. --group-id is fine, but the doc mentions --group-ids which elicits a deprecation warning from azure cli. the doc needs to be updated.

[2020-06-09 14:52] christiankuhtz commented on #56532
please review what i wrote above.  how do you obtain this in a programmatic way to insert into the next operation?  how do you script this rather than scrape it manually out of some other command and then reenter it?  is there a cli operation missing to obtain this?  constructing a resource uri by hand is not exactly elegant and foolproof, or able to be scripted.

[2020-06-09 14:54] roygara commented on #56626
#reassign: roygara

[2020-06-09 14:55] keatseongchan commented on #56528
Thank you Vikas.  Initially, I was not sure if outside of AKS means outside
of the subnet allocated.  We have tested both scenarios and it appears to
work.

On Tue, Jun 9, 2020 at 4:32 AM VikasPullagura-MSFT <notifications@github.com>
wrote:

[2020-06-09 14:56] roygara commented on #56626
@TPIvan Thanks for reaching out, the article specifies that you must select **Premium** for the **Performance** option. You must do this in order for **FileStorage** to be present in the dropdown.

Did you have any other questions related to this specific issue? If not, I'll close this out.

[2020-06-09 14:57] VikasPullagura-MSFT commented on #56528
@keatseongchan Thanks for responding back and confirming on this.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-06-09 14:57] #56528 closed

[2020-06-09 14:59] RyanHill-MSFT commented on #56719
Thanks for the feedback @oising! We are currently investigating and will update you shortly.

[2020-06-09 15:03] mgnsm commented on #36505
@epa095 You seem to be missing the name of the repository in your `DOCKER_REGISTRY_SERVER_URL`.

Compare this:

    {
        "name": "DOCKER_REGISTRY_SERVER_URL",
        "value": "[concat('https://', variables('containerRegistryName'), '.azurecr.io')]"
    }

...to this:

    {
        "name": "DOCKER_REGISTRY_SERVER_URL",
        "value": "[concat('https://', variables('containerRegistryName'),

[2020-06-09 15:10] TPIvan commented on #56626
You are right. It is just mistake. I apologize.

[2020-06-09 15:10] souravmishra-msft commented on #56679
@iainfoulds, Can you please take a look at this and update the cmdlets accordingly in the doc.

[2020-06-09 15:14] souravmishra-msft commented on #56682
@msmimart, Can you please take a look into this thread and incorporate the error message and its fix as mentioned above.

[2020-06-09 15:14] DeepakSaini119 commented on #56060
Hi @KranthiPakala-MSFT, changing the authentication mode to ``User token`` worked. Thanks.

[2020-06-09 15:15] curtstate commented on #56205
@MonikaReddy-MSFT Why not add this information or at least have a direct link to the page that does have this information?

How to get the proxies in your root devspace
a note about why the 'azds-route-as' needs to be propagated through by your own stack

it took me hours to figure this out by trial and error, why not just update the documentation so others are less confused than I was about how s

[2020-06-09 15:18] vhorne commented on #56264
I'm not the author for reference content.

[2020-06-09 15:23] Vossekop commented on #52058
So I stumbled across this issue while trying the same thing as @PiotrPerak. @syedhassaanahmed 's proposed suggestion did not work but it got me in the right direction. Calculation of the SID as linked in his comment works for regular AAD groups and users, however for MSI, which are basically service principals with an application registration you need to calculate the SID based on the application

[2020-06-09 15:27] roygara commented on #56626
@TPIvan No worries, we're always happy to help. :)

Again, thanks for reaching out. I'll go ahead and close this issue out now.

#please-close

[2020-06-09 15:27] #56626 closed

[2020-06-09 15:27] vhorne commented on #54039
#reassign:surajmb

[2020-06-09 15:37] tjoyce-admin opened #56722 "Budget Alerting and webhooks"
Do we need to use a logic app or can we have the budget alert directly fire a runbook webhook in the action group? I tried to configure this but for some reason the webhook runbook is not firing in the action group when the budget exceeds it target. I do get an email notification on the overage but the runbook is not firing. We do use this action group for other alerts and it is working fine for t

[2020-06-09 15:37] realgregoryk opened #56723 "Suggested sizing for Log Forwarder"
[Enter feedback here]
It would be helpful if the PG could offer suggestions for the sizing of the Linux machine that will be doing the forwarding.  I realize that "it depends" is the real answer, but something like small, medium, large, very large log rates, e.g. 10/min up to 100K/min.  That would be appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-06-09 15:39] shashishailaj commented on #56705
@ransagy Thank you for pointing that out. We will engage the content authors to review this and have this rectified.

[2020-06-09 15:39] dinesh1393 opened #56724 "Azcopy fails while executing thorugh powershell."
Hi,

Getting the below error while executing azcopy from powershell.

[code]

I used the above code and got this error.
`Error parsing destination location "https://1234env.blob.core.windows.net/folder1/folder2": The request was aborted: Could not create SSL/TLS secure channel.`

I removed the the log(/V) and tried. But no luck.
I could see some solutions like to disable the the firewall and run a

[2020-06-09 15:42] shashishailaj commented on #56708
@danipixis Thank you for your feedback. We will check if any related Java samples are present and let you know . In case we are unable to find that we will update the content team and product engineering  for the same.

[2020-06-09 15:46] milesfrain commented on #56323
I'm just evaluating the free tier, which I doubt has a support plan. I'd be happy to demonstrate this issue to a service engineer, but it's not a blocker for me, as I can proceed with development without `logstream`.

My main goal of posting this was to be another datapoint that `logstream` is buggy. We'll see if other users encounter the same problem.

[2020-06-09 15:50] JamesTran-MSFT commented on #56718
@dominik-lekse
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-09 15:55] shashishailaj commented on #56705
@CawaMS Could you please help update this article as pointed out by the customer ?

[2020-06-09 15:58] mmacy commented on #56640
@markvogt Hi Mark, this article is intended to provide an overview of the supported auth flows for _all_ platforms supported by MSAL. Because it's a multi-language/platform article, including code for each language for each flow inline would make the article prohibitively unwieldy.

In the table at the top of the article, the links in the **Used in** column lead to scenarios for each of the platfo

[2020-06-09 15:59] #56600 closed

[2020-06-09 16:08] AshokPeddakotla-MSFT commented on #56695
@JamestsaiTW Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-09 16:12] KranthiPakala-MSFT commented on #56060
@DeepakSaini119 Glad to know your issue was resolved. Thanks for confirming.

[2020-06-09 16:24] JaredCross commented on #56588
Additional IP examples today that we are getting AAD SCIM provisioning traffic from that we block due to not being documented anywhere that I have seen yet:

40.126.27.32
20.190.151.32

[2020-06-09 16:27] MarileeTurscak-MSFT commented on #56712
@greendx
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-09 16:30] nelsonmorais opened #56725 "Default redirect uri"
The documentation says that the default redirect uri is in the form:
`msal.<appid>://auth`

But on registered application on AAD I see:
`msal<appid>://auth`

In case you miss it, the difference is that there's no dot between msal and the appid.

It seems to me that the documentation is incorrect given what I see on AAD, can you confirm, and if that is the case fix the documentation?

---
#### Docu

[2020-06-09 16:32] JamesTran-MSFT commented on #56716
@ii-batman
Thanks for your question and the details provided! We will investigate and update as appropriate.

[2020-06-09 16:34] JamesTran-MSFT commented on #56725
@nelsonmorais
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-09 16:36] APIWT opened #56726 "Question about CancellationTokens"
I'm not exactly sure where to ask this question, so maybe you can help me direct this question to the correct team if this is not the place. But my question is about the `CancellationToken` passed into C# functions: https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library#cancellation-tokens

We have observed that occasionally when we are in the middle of running a fun

[2020-06-09 16:39] HJToland3 commented on #56702
I just checked the Azure site and the Azure Database Migration Service UI, and Basic and Premium are the two SKU options. Perhaps you are referring to the pricing tiers for Azure SQL - Managed instance?

[2020-06-09 16:43] MattJeanes commented on #55107
I'm getting this same issue at the moment for multiple domains, hope below details help they are both for different sub domains on the same domain

Request 1
[code]

Request 2
[code]

[2020-06-09 16:43] paulhickman-a365 opened #56727 "The document on deployment slots does not cover Elastic Premium Plans"
The documentation describes the limitations of the consumption plan and that there are none on the app service plan, but it doesn't mention the availability of slots on the elastic premium plan.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57567eca-a79e-5e41-3ab7-dc836ca08182
* Version Independent ID: 937e3455-0655-2

[2020-06-09 16:48] BharathNimmala-MSFT commented on #56707
@yokhaldi Thank you for your query, we will look into it and get back to you at the earliest.

[2020-06-09 16:48] VikasPullagura-MSFT commented on #56683
@JaneYan-2016
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-06-09 16:48] #56683 closed

[2020-06-09 16:51] vvasic-msft commented on #55968
#please-close

[2020-06-09 16:51] #55968 closed

[2020-06-09 16:52] samrueby commented on #56702
Oh! Yes. It wasn't clear to me that the pricing was about Migration Service, not Managed Instance.

[2020-06-09 16:54] SaurabhSharma-MSFT commented on #56357
@nkumars sorry if I misunderstood but as per image you are already getting the results in Application insights but you need detailed error in application insights.  Is that the ask ?
![image](https://user-images.githubusercontent.com/38112130/84167096-a746ba00-aa2a-11ea-83c2-bb1379cee409.png)

[2020-06-09 16:54] julieMSFT commented on #56614
#assign:julieMSFT

[2020-06-09 16:57] julieMSFT commented on #56614
@nikolapeja6  Hello I have reviewed this issue. Thank you for the feedback. I have filed a work item to have this resolved. I let you know when this has been resolved.

[2020-06-09 16:57] SaurabhSharma-MSFT commented on #56723
@realgregoryk Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-09 16:58] julieMSFT commented on #56614
DevOps item https://dev.azure.com/ceapex/Engineering/_workitems/edit/234350

[2020-06-09 17:04] SubhashVasarapu-MSFT commented on #56604
@KosukeHosoda , Appreciate your patience. Yes, It is same in case of WAF_V2 for those 10 requests per second. Those 10 RPS should be using RSA 2048-bit key TLS certificate for HTTPS connections. We are editing the doc accordingly and it would take some time for the changes to get reflect over the document.
We are closing this issue for now. If there are further questions regarding this matter, ple

[2020-06-09 17:04] #56604 closed

[2020-06-09 17:07] NavtejSaini-MSFT commented on #56520
@MightyPen Can you please check the question from @dbeavon

[2020-06-09 17:08] NavtejSaini-MSFT commented on #56534
@christiankuhtz Please provide on the feedback https://github.com/Azure/azure-cli/issues/13859 so the team can work on it further.

[2020-06-09 17:10] TsuyoshiUshio commented on #56513
Thank you @mike-urnun-msft
I noticed that the dataType required for the Java at least. The behavior of cardinality is not only for javascript but non-C# language.

[2020-06-09 17:10] sdgilley commented on #56546
@zamdani30 I'm not sure I understand your comment.  Are you saying you can't access https://ml.azure.com from your chrome os or laptop?

As for your original question, if you are talking about the compute cluster created through the SDK with the notebook - since it has a minimum of 0 nodes, it will spin down when not in use, and spin back up when needed.

If you're talking about a compute instance

[2020-06-09 17:10] NavtejSaini-MSFT commented on #56532
@kummanish Please check the feedback here and provide the feedback.

[2020-06-09 17:11] MightyPen commented on #56520
@dbeavon  We are doing some internal follow-up.  Thanks.

[2020-06-09 17:12] HJToland3 commented on #56702
Glad to be able to assist!

#please-close

[2020-06-09 17:12] #56702 closed

[2020-06-09 17:13] YutongTie-MSFT commented on #56715
@Erithano
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-09 17:14] ajsing commented on #56559
After research I was able to successfully connect my AWS EKS cluster to Azure Arc, I had some confusion around how does Az CLI knows about Kube config file. I referred following article as well. We are good to close this thread for now.

https://thorsten-hans.com/azure-arc-enabled-kubernetes-digital-ocean#verify-cluster-connection

[2020-06-09 17:14] #56559 closed

[2020-06-09 17:14] NavtejSaini-MSFT commented on #56533
@kummanish Please check the feedback and edit the document if needed. We have assigned this case to you.

[2020-06-09 17:16] NavtejSaini-MSFT commented on #56620
@DavidTrigano Thanks for the confirmation. We will go ahead and close this thread.
@aewilliams1705 The changes are visible now. Please get back to us if any other issue.

[2020-06-09 17:16] #56620 closed

[2020-06-09 17:17] #56459 closed

[2020-06-09 17:18] NavtejSaini-MSFT commented on #56488
@CharmanderJieniJieni We will go ahead and close this thread by EOD. Please get back to us if you have any further question.

[2020-06-09 17:23] NavtejSaini-MSFT commented on #56671
@ryancrawcour If you turn on analytical store through portal the default is -1.
Hope this helps.

[2020-06-09 17:32] dlepow commented on #56370
#assign @shortpatti  - Could you please take a look? Thank you!

[2020-06-09 17:32] BrianLevenson opened #56728 "Remove pricing tiers"
There is no concept of pricing tiers in the commercial marketplace...

Please remove this section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92c0c185-0f90-096d-74bb-bc032617e1cd
* Version Independent ID: ef723af3-1ca0-827a-586c-31acc12eadac
* Content: [Getting paid in Microsoft commercial marketplace](https://docs

[2020-06-09 17:33] NavtejSaini-MSFT commented on #56569
@vatansoni89 Please let us know if you need any further help regarding this.

[2020-06-09 17:36] NavtejSaini-MSFT commented on #56469
@timsander1 @SnehaGunda  We have assigned this to you for further action.

[2020-06-09 17:38] MartinJaffer-MSFT commented on #56701
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-06-09 17:42] mmacy commented on #56725
Hi @nelsonmorais, if I create a new app registration and, in the app registration screen in the portal configure a new redirect UI using this method:

1. Select **Authentication** > **Add a platform** > **iOS / macOS**
1. Enter bundle ID `com.contosoaddev.iosapp2` > **Configure** button

I'm then presented with this, which shows the dot between `msal` and the bundle ID:

![image](https://user-imag

[2020-06-09 17:49] GiftA-MSFT commented on #56457
Will proceed to close this thread but feel free to comment if you would like us to reopen the thread. Thanks.

[2020-06-09 17:49] #56457 closed

[2020-06-09 17:53] josuvil opened #56729 "Suggest to modify Step 5 with an expression instead of a direct mapping"
Hello,

Step 5 suggests to create a direct attribute mapping flow on the outbound to AAD. While this works, it assumes that the on-prem AD attribute is populated with a valid string value. The documentation does say to ensure that it is populated. However, in scenarios where the on-prem attribute is NULL, the export will flow successfully but then fail on subsequent imports from AAD (export confir

[2020-06-09 17:53] XiaoyuMSFT commented on #55358
@nayato - Azure Synapse Analytics (formerly SQL DW) is the data warehouse on the Azure Synapse platform.   Depending on users' business needs, some users do need to keep records with duplicate keys in their DW tables, meaning their ETL design does not handle duplicates.  One example scenario is where users need to track history of changes with timestamps or similar and revert to an earlier version

[2020-06-09 17:58] JamesTran-MSFT commented on #56729
@josuvil
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-09 18:01] somigithub commented on #56269
@AhmedElwy

Tried sample KB with upto 8th level in the multi turn prompt. worked fine for us.

please file the sample export excel for our KB. you can import the same directly on your KB.

![image](https://user-images.githubusercontent.com/20255699/84182884-bec48800-aaa8-11ea-8ea6-174d1e986b11.png)
[80742271-164b-43e5-b923-905307868d0a-KB.xlsx](https://github.com/MicrosoftDocs/azure-docs/files/475

[2020-06-09 18:05] dsindona commented on #56728
Hi Brian, I'll remove that section. Likely duplicated from the UWP docs, I'm also in touch with that team. I'll ping you for review.
#please-close

[2020-06-09 18:05] #56728 closed

[2020-06-09 18:07] KranthiPakala-MSFT commented on #56721
@luticm, Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2020-06-09 18:08] femsulu commented on #56728
added triage labels.

[2020-06-09 18:10] Usamawahabkhan opened #56731 "not showing any result in jobs"
[Enter feedback here]

not showing any result in jobs
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a176f27b-f9fc-e0ff-0a48-aa42036051f2
* Version Independent ID: d2356b83-3101-4b56-baaf-8bdf31e3bb57
* Content: [Run a Databricks Notebook with the activity - Azure Data Factory](https://docs.microsoft.com/en-us/azure/dat

[2020-06-09 18:13] anastasia-ms commented on #56691
I am inquiring into this.

[2020-06-09 18:18] MartinJaffer-MSFT commented on #56555
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-06-09 18:18] #56555 closed

[2020-06-09 18:23] deathgaze opened #56732 "How do I find/use an autogenerated service principal?"
The value returned from the CLI only gives me the clientId and I cannot find an entry that matches this cluster (or any other cluster) in the Active Directory. Very confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25a0d502-ce71-76d4-bf8a-060e63913b52
* Version Independent ID: 69d7fa26-1a37-e477-0a2c-db58ce19a8

[2020-06-09 18:24] MonikaReddy-MSFT commented on #56720
@akhilv , Thanks again for bringing this to our attention. We have updated the Doc and We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-09 18:24] #56720 closed

[2020-06-09 18:25] pulakkumar599 opened #56733 "power bi streaming dataset not refreshed"
Hi,

I have an azure account. Within that azure account I created a Active Directory (another tenant). I used this new active directory to sign up for power bi, I was also successful signing in.

After that I created Event Hubs and Logic Apps as a part of my application using my Default AD directory, not the newly created azure active directory (that is only used to sign in into power bi).

Now in

[2020-06-09 18:37] NayangiriGoswamiGit opened #56734 "Azure IoTHub Device Lifecycle events"
When we route Device Lifecycle Events on to default endpoint(events) of IotHub, and attach azure eventhub function trigger, we have no way to get the idea from message body that, the device has been created or deleted. When we route same thing on eventgrid we have eventType to do the work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-06-09 18:38] baljitaujlaVD opened #56735 "Route traffic from a virtual hub to an NVA"
Hi Team,

I have tested this using a Microsoft Azure Firewall and I cannot get traffic to route to the firewall within the next hop, using the Azure Virtual WAN / Virtual Hub.

I have 4 VNets:

App1 - 10.0.3.0/24
App2 - 10.0.4.0/24
FirewallHub - 10.0.2.0/24
Apps3 - 10.0.5.0/24

and the hub: AzureHub - 10.0.1.0/24

App1 and App2 are VNet peered to FirewallHub. A traditional UDR has been created to

[2020-06-09 18:40] SatishBoddu-MSFT commented on #56695
@JamestsaiTW Thanks for reaching out to us! We have reviewed the document and unable to repro the issue from our side. Could you please confirm or verify that you are using the right Get URL which is copied from '**Location**' key obtained in previous Step's 'Post' call.

**Here are the steps from [Convert a Drawing package](https://docs.microsoft.com/en-us/azure/azure-maps/tutorial-creator-indoor

[2020-06-09 18:46] drwillis07 opened #56736 "How does one become a trusted partner? Where is this outlined?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82e55f0e-3af5-9c75-8a3a-140e9419d6a4
* Version Independent ID: bedc97cc-43a3-1cad-5b5f-36384acf91f1
* Content: [What are Azure Firewall Manager trusted security partners (preview)](https://docs.microsoft.com/en-us/azure/firewall-manager/trusted-securi

[2020-06-09 18:49] BharathNimmala-MSFT commented on #56414
@nprieto95 Thank you for sharing additional information.

Assigning this issue to @tfitzmac to further help on this.

[2020-06-09 18:50] rachel-msft commented on #56174
Documentation changes have been staged [updated](https://github.com/MicrosoftDocs/azure-docs-pr/pull/117697), and will be published later today. Learn more portal link now points to portal how-to, which includes clarification.

[2020-06-09 18:51] rachel-msft commented on #56174
Documentation changes have been staged, and will be published later today. Learn more portal link now points to portal how-to, which includes clarification.

[2020-06-09 18:52] #56174 closed

[2020-06-09 18:54] aggerritsen opened #56737 "Tutorial contains errors"
Hi,

When running this tutorial, I ran in some issues. First the listkeys is not allowed using the given REST API with the given permission. The only keys I can get are the Read Only keys with REST API:
POST https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/readonlykeys?api-version=2019-12-12

[2020-06-09 18:54] mswellsi commented on #56243
The capability is not available automatically today, so this is a new request and I am in discussion with the relevant teams on this.

[2020-06-09 19:02] ryancrawcour commented on #56671
this helps. thanks. should we make this clearer in the doc? (i'd be happy to submit a PR)

[2020-06-09 19:02] pthibodeaux commented on #43764
I am getting the same error when trying to view my databases/containers.
I am able to save data and read data from c# app, but cannot view via emulator

[2020-06-09 19:05] pthibodeaux opened #56738 "CosmosDB emulator throwing error on Explorer refresh: Error while refreshing databases: {"headers":{"x-ms-throttle-retry-count":0,"x-ms-throttle-retry-wait-time-ms":0}}"
Just installed the emulator and wrote to it from C# app.  ALso read from it.
However, the "Explorer" shows an error when trying to view the data via Explorer.

Error while refreshing databases: {"headers":{"x-ms-throttle-retry-count":0,"x-ms-throttle-retry-wait-time-ms":0}}
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-06-09 19:07] rachel-msft commented on #50149
I tried seeing if I could create such a list. However, there are so many functions and areas that it is difficult to exhaustively list them all. The most accurate information comes from the error message.

In general, superuser permissions are retained by the service where a function has the potential to destabilize the server. For example, directly access to storage/files or use of untrusted lang

[2020-06-09 19:07] #50149 closed

[2020-06-09 19:10] rachel-msft commented on #55325
We've updated the how-to to mention that one should use the resource ID method if different resource groups are needed. Documentation update will be published later today.

#please-close

[2020-06-09 19:10] #55325 closed

[2020-06-09 19:14] cynthn commented on #56694
#please-close Thanks for the feedback. The drive may not always persist unless you perform this process. The information is published for folks who want to ensure the D: drive persists. Thank you!

[2020-06-09 19:14] #56694 closed

[2020-06-09 19:15] JamesTran-MSFT commented on #56716
@ii-batman
I was able to walk through the document linked to this thread and didn't land on that "Registration Page" as shown in your screenshot. I was able to set up MFA and SSPR which worked on my end. However, I was able to find some links that could help with your issue.

**Findings:**
[Create/Delete your app passwords](https://docs.microsoft.com/en-us/azure/active-directory/user-help/security

[2020-06-09 19:17] mike-urnun-msft commented on #54183
Hello @PhilipAnthonyMurray - Sorry for the delay in response. I have reached out to the APIM team internally regarding this issue and received confirmation that there isn't a backend endpoint available for this operation at this time around (Portal does it with Javascript on the frontend hence the 22 calls).

As the next step, please consider submitting a feature request on the Azure UserVoice (or

[2020-06-09 19:17] #54183 closed

[2020-06-09 19:23] mamccrea commented on #56280
Thanks for the feedback, @ThomasPe! You can make edits to the content by selecting the edit pencil icon in Git Hub: https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/stream-analytics/stream-analytics-tools-visual-studio-cicd-vsts.md

[2020-06-09 19:37] JimacoMS3 commented on #55765
HI @michuny25,

I haven't heard back from you. We are working on support for JSON arrays in device and module twins.  In the interim, you could file a GitHub issue against the C# SDK if you want to pursue the error message (I'm not sure I'd recommend this though). The documentation currently does reflect that JSON arrays are not supported. This will be updated once the support is released. Thanks

[2020-06-09 19:41] SaurabhSharma-MSFT commented on #56273
@RedBlue1776 sorry, I am really not sure of your ask but If you are owning REST API and integrating the same API with User journey then you need to make sure of REST API's resiliency and authentication mechanism.

[2020-06-09 19:43] b-juche commented on #56373
@pascaldewild -- Please use the following URL for accessing the Azure NetApp Files waitlist submission page:  https://aka.ms/azurenetappfiles

Thanks for bringing this to our attention.  The relevant user doc pages will be updated momentarily.

[cc: @lichunli-ms]

[2020-06-09 19:43] b-juche commented on #56373
#please-close

[2020-06-09 19:43] #56373 closed

[2020-06-09 19:45] bsiva opened #56739 "Move support status incorrect for Microsoft.Migrate, Microsft.OffAzure namespaces"
Under Microsoft.OffAzure, the resource move and subscription move support status for all of these resource types (hypervsites,vmwaresites,serversites,importsites) should be No. They are currently marked as supported by the move scenario which is incorrect.

Under Microsoft.Migrate, the resource move and subscription move support status for all of these resource types (assessmentprojects,migratepro

[2020-06-09 19:53] rriley99 commented on #56612
Thank you. I understand what you're saying. I will have to wait a few days before I can change the activities in the pipeline, so you may close this and I will comment if something doesn't add up/

[2020-06-09 19:56] JAK1047 opened #56740 "Properties Update Delay"
Is there any delay on the properties being respected by the sessionhost after the change? I don't see anything on having to stop or restart the sessionhost, so I'm assuming since the changes are at the pool level and it just alters your connection incoming from the client? Would users have to remove their existing user data from the client before changes take affect?

---
#### Document Details

⚠

[2020-06-09 19:58] mkrdip commented on #56252
Thanks for the suggestion @Blackmist, adding to official documentation would be a great help for others!

Would you please explain this in a bit, please? What's recommended to use for model-data collection? AppInsights or AML Monitoring (Stores to Blob Storage).

From this conversation, you can see https://github.com/MicrosoftDocs/azure-docs/issues/9406#issuecomment-638525797

[this documentation]

[2020-06-09 20:04] mike-urnun-msft commented on #56726
Hello @APIWT - Thank you for your valuable feedback. Since this channel is for driving improvements towards MS Docs, the more appropriate channel for this type of discussion is the Functions host repository where the Functions team can weigh in on your feedback: https://github.com/Azure/azure-functions-host/issues

[2020-06-09 20:07] JAK1047 commented on #56740
Never mind got my answer. There are local RDP files stored under AppData\Local\rdclientwpf. The client has to refresh either on launch or when the user selects refresh to update those files.

[2020-06-09 20:07] #56740 closed

[2020-06-09 20:07] tvdijen commented on #56475
The issue is that 'SignOnUrl' is not part of the SPSSODescriptor in SAML 2.0 metadata.. Therefore it cannot be a mandatory field when importing metadata. If MS requires it somehow, they should define a metadata-extension

[2020-06-09 20:09] APIWT commented on #56726
@mike-urnun-msft Thank you!

Closing, discussion continued here: https://github.com/Azure/azure-functions-host/issues/6195

[2020-06-09 20:09] #56726 closed

[2020-06-09 20:21] mike-urnun-msft commented on #56727
@paulhickman-a365 Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-06-09 20:23] reinventit opened #56741 "Is it possible to build from a private repository?"
The excellent how-to describes how to use the azure-cli to execute the cloud native buildpack from a public repository. It would be nice if it could include how could this be achieved from a private git repository

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73ff7047-440a-0262-6ea5-e06f0092f576

[2020-06-09 20:25] MarileeTurscak-MSFT commented on #56737
@aggerritsen
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-09 20:29] gojanpaolo opened #56742 "Questions"
The example here is not fully functional which is confusing for someone like me that is just starting to learn Azure Functions.
- Demonstrate how to actually trigger the function
- Why is `JObject` used?
- What should we replace `MY_STORAGE_ACCT_APP_SETTING` and `MY_TABLE_STORAGE_ACCT_APP_SETTING` with? It looks like we could just use `AzureWebJobsStorage` similar to the example on how to [Connect

[2020-06-09 20:34] jeevansd commented on #56475
@tvdijen This is a bug in the portal right now. The fix is getting deployed and it should be live by end of this week.

[2020-06-09 20:34] jeevansd commented on #56475
@Taaqif Please see my comment above.

[2020-06-09 20:35] tvdijen commented on #56475
Great!  There is actually a metadata extension defined that does exactly what you guys want for the SignOnURL..  http://docs.oasis-open.org/security/saml/Post2.0/sstc-request-initiation-cs-01.pdf

[2020-06-09 20:40] jeevansd commented on #56475
@tvdijen I know but they are optional per the specification. Right now the portal is expecting this as mandatory, so we are removing that check.

[2020-06-09 20:46] anurag-oss opened #56743 "Investigate scale up failure"
[Enter feedback here]
Please add instructions about how to see logs if scale up has failed. Where can we see the logs to see the failure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8addd7f2-4802-5439-0443-369c72df321f
* Version Independent ID: 2262061e-ac4a-2e85-271a-a7790c77c867
* Content: [Scale cluster sizes - A

[2020-06-09 20:54] JamesTran-MSFT commented on #56718
@dominik-lekse
I was able to look into your issue and will post my findings below.

**Findings:**
[Implement SSO:](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/plan-sso-deployment#implement-sso)
- Based off the paragraph within the above link it sounds like the **custom application onboarding process** requires an Azure AD Premium P1 or P2 licenses.

[Unlimited SSO and Azure

[2020-06-09 20:58] jeevansd commented on #56718
YEs, this is a valid feedback. We are getting this updated now.

[2020-06-09 20:59] winchelll commented on #50848
I realize that this discussion have been closed but looking at the links to articles provided, none of the documentation provides information on how to implement Application Insights to Service Fabric App that is using service remoting. I see an article for implementing App Insights for Service Fabric that is using HTTP but not for service remoting, any chance you can assist. Thanks!

[2020-06-09 21:08] yobyot opened #56745 "Grammar and syntax need correction in addition to more functional details"
In addition to poor organization, a lack of detail and over-reliance on a marketing video, this page needs basic English grammar correction.

There are several subject-verb disagreements in the text (emphasis mine):

Lack of proper grammar and syntax only make a deficient document harder to read and understand.

This page needs a glossary (for example, distinguishing between an Azure DevOps releas

[2020-06-09 21:13] rlmmccollum opened #56746 "Licensing Question?"
On the Azure Active Directory pricing page, device registration is free.

https://azure.microsoft.com/en-us/pricing/details/active-directory/

On this page, it says the functionality required Azure Active Directory Premium P1.

https://docs.microsoft.com/en-us/azure/active-directory/devices/overview#license-requirements

Please advise the difference (if any).

---
#### Document Details

⚠ *Do not

[2020-06-09 21:17] Marusyk commented on #43764
@RyanHill-MSFT could you please reopen it?

[2020-06-09 21:22] MarileeTurscak-MSFT commented on #56386
You can follow the templates for custom email verification and use your own email template for this. https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-email

B2C does not in itself validate whether the email is actually registered. This is by design to prevent attackers from knowing the emails of your customers.  See related threads:
https://feedback.azure.com/forums/169401-azure-

[2020-06-09 21:22] #56386 closed

[2020-06-09 21:25] memildin commented on #56644
That's a historical item on the blog.
It's been superseded by a newer item: the bullet in this newer post:
https://azure.microsoft.com/en-gb/updates/asc-may2020/

#please-close

[2020-06-09 21:25] #56644 closed

[2020-06-09 21:31] ElectricLlama opened #56747 "This connector is unusable for all but trivial data operations"
This is with regards to the dynamics 365 / CDM connector.

Please add a note that this connector cannot be used to populate any entity that contains a "polymorphic" attribute. This means this connector cannot be used to load data into any non-parent type of entity, for example, **contact**

TBH it makes this connector unsuable.

Please add a note early in the documentation that lists this constrai

[2020-06-09 21:31] Nickomang commented on #54657
Hi @jfalameda , Invoke-ServiceFabricEncryptText is part of the [Service Fabric PS module](https://docs.microsoft.com/powershell/module/servicefabric/?view=azureservicefabricps).
I was able to find where the module lives on my machine with the following command:
[code]

If this doesn't answer your question sufficiently, could you provide more details?

Thanks,

Nick

[2020-06-09 21:33] ash2017 commented on #56538
Thanks for bringing this to notice. The one mentioned last is the right one. We will update our docs to remove the row for Iot hub enqueued time.

iothub-enqueuedtime | iothub-enqueuedtime | enqueuedTime |   | iothub-
-- | -- | -- | -- | --

[2020-06-09 21:43] NavtejSaini-MSFT commented on #43764
@Marusyk We have reopened this and assigned to doc author for further review.
@deborahc Please look into the feedback and provide guidance here.

[2020-06-09 21:46] MarileeTurscak-MSFT commented on #56712
"Once a management group or subscription is managed, it can't be unmanaged. This prevents another resource administrator from removing Privileged Identity Management settings." It shouldn't matter if you don't need another user to manage the subscription, but if you want it removed entirely your best bet is to contact the billing and subscription team. https://azure.microsoft.com/en-us/support/opt

[2020-06-09 21:46] #56712 closed

[2020-06-09 21:56] SaurabhSharma-MSFT commented on #56535
@SeaDude yes, when you grant your application (in your case an Azure function) access to Keyvault using az keyvault set-policy, your function will have permissions to access the key vault.
Also, you do not need to assign contributor role to your Azure function.  Assigning only access policy to Azure function will work.

[2020-06-09 22:22] djpmsft commented on #56745
hI @yobyot ,

Thank you for your feedback. This is a constantly evolving document and there are always more things to add or generate. If you think you can improve the document, [feel free to contribute](https://docs.microsoft.com/contribute/) as its open source!

I am a little confused by the grammar issue pointed out. The subject-verbs all seem to agree to me. I also have an engineering backgrou

[2020-06-09 22:23] mike-urnun-msft commented on #56742
@gojanpaolo Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-06-09 22:27] KranthiPakala-MSFT commented on #56731
@Usamawahabkhan Thank you for reaching out. Are you seeing any error message? Does your pipeline run successful?

Are you following the same steps as mentioned in the tutorial or a different use case scenario?

[2020-06-09 22:39] JimacoMS3 commented on #51864
Hi @TwoSeven99,

I went through the topic, updated screenshots, and added a bit more info in places. It's now live. As I said, it worked fine for me using the Free tier of the Power BI service. I didn't need to update to Pro. Please have a look and let me know if there's anything else. I'll leave this open for a couple more days in case you want to comment.

Thanks again for your feedback,

Jimaco

[2020-06-09 22:40] #56679 closed

[2020-06-09 22:43] PatrickFarley commented on #54274
Code has been updated
#please-close

[2020-06-09 22:43] #54274 closed

[2020-06-09 22:48] PatrickFarley commented on #54851
@GiftA-MSFT This looks to be a product issue. Can you reassign to @NHaiby ?
If not, @AndreasDL, please take a look at [this document](https://docs.microsoft.com/azure/cognitive-services/cognitive-services-support-options) and post your issue to the relevant forum.

[2020-06-09 22:54] JimacoMS3 commented on #55586
#reassign JimacoMS3

[2020-06-09 22:57] prashantma opened #56750 "High RUs when query does not find document in collection and in Document Explorer in Portal"
As I was reading/exercising as in this learning module...
https://docs.microsoft.com/en-us/learn/modules/monitor-and-scale-cosmos-db/8-index-exercise

Noticed few discrepancies,
* What is expected of Indexing and actual behavior.
* Document explorer in Portal shows different RUs than Command shell in Portal (running .net code to run queries)

Attached is full log of the learning module (monitor-an

[2020-06-09 23:01] JimacoMS3 commented on #44820
@Robinsh can this be closed now?

[2020-06-09 23:06] Mexicoder opened #56751 "Documentation issues"
### **Disclaimer:** These aren't necessarily all issues but there are issues I found that if changed would make the process easier to follow.

[Create a virtual machine](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-private-site-access#configure-azure-bastion).
`4.In the Basics tab, use the VM settings as specified in the table below the image: `
maybe add a section for s

[2020-06-09 23:10] mamccrea commented on #56634
Hi @Exnav29! Thank you very much for bringing this to our attention. I have updated the article with a note. You should see the changes go live this evening or tomorrow.

[2020-06-09 23:10] mamccrea commented on #56634
#please-close

[2020-06-09 23:10] #56634 closed

[2020-06-09 23:10] robvet opened #56752 "Why do I see 1.16.7 not supported in eastus?????"
Helloooooooooooooooooooooo....

You instruct the reader to build their resource group in eastus and to specify version 1.16.7.

But, 1.16.7 is not supported in eastus????????????????????????????????????????

Operation failed with status: 'Bad Request'. Details: Version 1.16.7 is not supported in this region. Please use [az aks get-versions] command to get the supported version list in this region.

[2020-06-09 23:12] JimacoMS3 commented on #44206
@ash2017 @Robinsh Do we need to update the documentation here?

[2020-06-09 23:14] kobulloc-MSFT commented on #56709
@lucarv Which document is this in reference to?

[2020-06-09 23:17] ash2017 commented on #44206
Am little confused by this statement - _It turns out that iot hub is not a trusted Microsoft service_
@jlian for anything to add here. But, we support datalake via storage endpoint. User can configuring a storage endpoint that is compatible with ADLS g2.

[2020-06-09 23:21] hpsin opened #56753 "Indicate that the implicit grant has a 5-group limit"
The groups claim is not only restricted to 200 groups in JWTs, it also has a 5-group limit if the token is issued through the implicit flow.  Please update the docs to indicate that tokens requested via the implicit flow will only have a "hasgroups":true claim if the user is in more than 5 groups.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-06-09 23:23] AhmedElwy commented on #56269
@somigithub
Here are the following steps for replicating the issue along with screenshots.
This have been tried on 3 different knowledgebases.

1) log in to my knowledgebase through the QnA maker portal
2) create the main Q1 by selecting +Add Qna Pair and start adding 8 prompt levels accordingly without setting any prompt as Context only as shown in your KB exported file.
![image](https://user-ima

[2020-06-09 23:28] aledeniz commented on #42737
@msrini-MSFT why would you close something clearly not resolved?
The documentation to this day doesn't match the config that worked for you.
In most scenarios, that config wouldn't really be fit for purpose, by the way.
Why on earth should we open port 22 only to pass a validation?
Both the documentation and the implementation are clearly defective.
Why you don't get hold of whoever designed and w

[2020-06-09 23:30] PatrickFarley commented on #55994
@trobin77 What is the deprecated SDK you're referring to?

[2020-06-09 23:33] TravisCragg-MSFT commented on #56698
@surajmuthreja It might be possible to configure routing so that device 1 can only route to 2 of the spoke VNETS, but there are better ways to implement this functionality. You can use NSGs to block the traffic on the Hub VNET or spoke VNETS, or you could disallow the routing in the on-prem device to those addresses.

Also, can you elaborate on what you mean by multi - tenancy support?

[2020-06-09 23:34] aledeniz commented on #42737
@msrini-MSFT

That's me wasting 20 minutes of my life because you closed too early this ticket, and who knows how much more time I'll have to waste on this:

[code]

[2020-06-09 23:35] dcbrown16 opened #56754 "Configuration server no longer defined"
The process server and master target server descriptions on this page (physical server architecture) both refer to the configuration server...but there is no component description for the configuration server itself. Was this info lost at some point?

For comparison, this other page (VMware architecture) does describe the configuration server, with process server and master target server underneat

[2020-06-09 23:37] TravisCragg-MSFT commented on #56264
@vhorne according to the metadata you are the author:

author: vhorne
ms.author: victorh

If you are not, can you direct me on where to go to find the author?

[2020-06-09 23:37] raj-pat opened #56755 "Missing couple semicolons in the JIT policy commands"
The PowerShell variable "$JitPolicy" is missing a semicolon on every assignment to that variable.
There should be a semicolon between the 'id' and the 'ports' variable in the [Configure a jit policy on a vm programmatically](https://docs.microsoft.com/en-us/azure/security-center/security-center-just-in-time#configure-a-jit-policy-on-a-vm-programmatically-) section.

`$JitPolicy = (@{ id="..." ; po

[2020-06-09 23:39] mmacy commented on #56365
@alvipeo @souravmishra-msft

It's important to note that the steps in this article specify you must register the application in your **Azure AD tenant**, and *not* the Azure AD B2C tenant:

![image](https://user-images.githubusercontent.com/13394541/84211162-8bb1d280-aa6f-11ea-92ac-e7614229b9a1.png)

Also:

![image](https://user-images.githubusercontent.com/13394541/84211057-455c7380-aa6f-11ea-9fb

[2020-06-09 23:42] dimitri-b commented on #56028
Thank you, @mamccrea , you are correct, the source of the confusion is JDBC properties:

![image](https://user-images.githubusercontent.com/4684795/84211313-691aca80-aafe-11ea-86a2-2a133d873ffc.png)

[2020-06-09 23:45] JimacoMS3 commented on #40485
#reassign JimacoMS3

[2020-06-09 23:51] JamesTran-MSFT commented on #56746
@rlmmccollum
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-09 23:55] Karishma-Tiwari-MSFT commented on #56704
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-09 23:56] Karishma-Tiwari-MSFT commented on #56711
Thanks for the question. We are currently investigating and will update you shortly.

[2020-06-09 23:57] JamesTran-MSFT commented on #56755
@raj-pat
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-09 23:57] rrperkin opened #56756 "Missing instructions for Interactive"
After spending a week or two trying to get an Interactive session with Graph going, using a Global Administrator role account in a B2C directory, After something like nine different permutations, I've never gotten an access token with permissions that work. I have to say:

- Could really have used a demo about that, because nothing has worked; or
- I would prefer that this documentation page state

[2020-06-09 23:58] Karishma-Tiwari-MSFT commented on #56740
Thanks for sharing the update.

[2020-06-09 23:58] Karishma-Tiwari-MSFT commented on #56741
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-09 23:59] JamesTran-MSFT commented on #56756
@rrperkin
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-10 00:07] aledeniz commented on #42737
I managed to get the NSG associated with the AzureBastionSubnet with this configuration:

![image](https://user-images.githubusercontent.com/439083/84212587-2a612200-aab6-11ea-9c0f-e7f433a8395e.png)

This configuration is wholly unacceptable. There is clearly a bug large like a house somewhere. It could be on the design or on the implementation, but it is there.

[2020-06-10 00:08] Karishma-Tiwari-MSFT commented on #56752
Thanks for bringing this to our attention. Looks like the supported versions for the region might have updated while the doc updates were missed. I have created a PR with the update, changes will be live shortly.

[2020-06-10 00:10] robvet commented on #56752
Thanks.  Provisioned with 1.16.9. Working so far.

Rob Vettor  | Principal Cloud-Native Application Architect
                      | ASD IP Architect
                      | Microsoft Certified Trainer
                      | CNCF (Cloud-Native Computing Foundation) Speaker Bureau<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.cncf.io%2Fspeaker%2Frobvet%2F&data=02%7C01%7Cro

[2020-06-10 00:20] MarileeTurscak-MSFT commented on #56556
Hi @kndrewa, I've reached out to ask what the limit is. I don't believe there is one but have not found documentation to confirm.

[2020-06-10 00:33] Karishma-Tiwari-MSFT commented on #56752
Thanks for sharing the update.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-06-10 00:33] #56752 closed

[2020-06-10 00:33] aledeniz commented on #42737
About the Inbound rules:
Good news:
- I have been able to set the public IP assigned to the Bastion PaaS.
- I have been able to remove port 4443 from the inbound rule from the GatewayManager service tag.
Bad news:
- the GatewayManager destination is stuck to Any.

[2020-06-10 00:35] Karishma-Tiwari-MSFT commented on #56206
@mariuszdotnet Did you try with adding the location parameter in the command? Let me know.

[2020-06-10 00:39] Karishma-Tiwari-MSFT commented on #56250
@mjaow Is there a way for you to get this detail from your customer?

Another relevant consideration is that the IP address of a container group is not guaranteed to remain static for the lifetime of the resource. It is recommended to use DNS name as the reliable method of permanently addressing the container.

[2020-06-10 00:39] Grace-MacJones-MSFT commented on #56282
Upon further review, we feel your feedback would be best received by the doc author to determine if an update to the current doc is necessary

[2020-06-10 00:42] JimacoMS3 commented on #40485
#reassign JimacoMS3

[2020-06-10 00:44] grspencer opened #56757 "Azure peering page"
You have an enquiry email listed that does not exist: peeringservice@microsoft.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53985c80-00c7-390d-925f-08296ce5c3dc
* Version Independent ID: 1bce7791-1510-99e3-7d81-4dfc85886f2f
* Content: [Azure Peering Service locations and partners](https://docs.microsoft.com/en-us

[2020-06-10 00:47] mariuszdotnet commented on #56206
Yes I did.

[2020-06-10 00:50] Karishma-Tiwari-MSFT commented on #56382
I tried reproducing the tutorial and the validation passed for me. I was also able to select an existing Vnet from the dropdown.
This error shows up when a mandatory field is not filled:
Validation failed. Required information is missing or not valid.

![image](https://user-images.githubusercontent.com/20851144/84214876-89ed0c80-aa79-11ea-9192-9e3e3f532636.png)

![image](https://user-images.github

[2020-06-10 00:52] shreyasharmamsft commented on #56351
Editing this doc to show MSAL authentication is on our backlog with docs updates. We will be updating this soon.

[2020-06-10 00:57] Karishma-Tiwari-MSFT commented on #56206
@mariuszdotnet  Did that resolve the issue or you are still seeing it?

[2020-06-10 00:59] BharathNimmala-MSFT commented on #56739
@bsiva Thank you for your query , we will look into it and get back to you at the earliest.

[2020-06-10 01:03] robvet opened #56758 "Doesn't work..."
Unforunately, this example does not work.

It is a stuck in a pending state.

Here is the error message:   Warning  FailedScheduling  41s (x23 over 31m)  default-scheduler  0/2 nodes are available: 2 node(s) didn't match node selector.

No idea how to resolve

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6de70aec-9ebe

[2020-06-10 01:04] Karishma-Tiwari-MSFT commented on #30555
@KumudD Can you please share who would be the right person to assign this doc-enhancement request to?

[2020-06-10 01:10] CaseyHaralson opened #56759 "Disconnected Steps"
This page looks like it has the information I want - Identify slow sever operations, but the steps to get there are disconnected and incomplete.

I was more or less with you until step number 7. What is the "Profiler" and how do I turn it on or get to it? I click on the "Profiler trace" icon on the screen I assume we are talking about in Application Insights, but nothing happens. I did a google se

[2020-06-10 01:10] Karishma-Tiwari-MSFT commented on #56481
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2020-06-10 01:10] #56481 closed

[2020-06-10 01:11] Karishma-Tiwari-MSFT commented on #56505
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2020-06-10 01:11] #56505 closed

[2020-06-10 01:13] axisc commented on #55919
@sidprasher private endpoints make the event grid topic accessible from your private network. It is independent of your Virtual network service endpoint configuration.

[2020-06-10 01:13] SamaraSoucy-MSFT commented on #56396
I do see retentionInDays under microsoft.insights/components properties. I've entered a PR to add the missing ImmediatePurgeDataOn30Days property.

I suspect that items 2 & 3 are going to be related. Both resource explorer and the ARM docs are automatically generated from the [REST API specification repository](https://github.com/Azure/azure-rest-api-specs/blob/e129012901bbd9cc0f182ec5b539bccf2440

[2020-06-10 01:13] #56396 closed

[2020-06-10 01:14] axisc commented on #55874
Yes AMQP is the default. We'll clarify in the docs.
Cc: @spelluru

[2020-06-10 01:15] eschrader opened #56760 "7 second delay before hitting server"
We have noticed when calling on-premises or Azure VMs from the gateway that it takes 6 seconds for authentication before the endpoint is hit in perfmon, then the data imminently comes back to the client. Why is the authentication taking so long in 2 different environment scenarios?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-06-10 01:20] Azhar001 opened #56761 "which Azure IP Addresses to be whitelisted in saleforce for the admin account to be able connect salesforce API to sync user data"
which Azure IP Addresses to be whitelisted in saleforce for the admin account to be able connect salesforce API to sync user data
The link
https://www.microsoft.com/en-us/download/details.aspx?id=56519
Does give a very big list of IPs that need to be whitelisted, is there a narrowed down list which can be used for this particular piece?
or which service tag https://docs.microsoft.com/en-us/azure/v

[2020-06-10 01:21] Karishma-Tiwari-MSFT commented on #49457
Thanks @TomArcherMsft
Added the label.

[2020-06-10 01:22] mariuszdotnet commented on #56206
Yes I was.  Because I couldn't get it to work I switched over to using Az CLI vs an Azure Template Resource.  So it's a work around.

[2020-06-10 01:22] robinsh commented on #44820
@JimacoMS3 Yes. Thanks!

[2020-06-10 01:23] Karishma-Tiwari-MSFT commented on #55877
@jouniheikniemi Hope that helped answer your question.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-06-10 01:23] #55877 closed

[2020-06-10 01:25] cequencer opened #56762 "Unable to locate function for mlflow.h2o.autolog()"
According to [this section](https://docs.microsoft.com/en-us/azure/databricks/applications/mlflow/quick-start-python#automatically-log-training-runs-to-mlflow) of the page:

It states:
`MLflow provides mlflow.<framework>.autolog() APIs to automatically log training code written in many ML frameworks.`

When I tried the following line of code:
`mlflow.h2o.autolog()`

I get the following exception:

[2020-06-10 01:27] Karishma-Tiwari-MSFT commented on #44883
@yugangw-msft Please let us know if there is an update on this and if any changes need to be made in the document to highlight this. Thanks :)
CC: @dlepow

[2020-06-10 01:42] KrishnaG-MSFT commented on #56722
@tjoyce-admin Thanks for your comment! We will review and provide an update as appropriate.

[2020-06-10 01:45] VitalyMCT opened #56763 "HTML markup issues in the FAQ section"
Please take a look at the links there - there are some HTML tags missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1c96ba5-164a-e66f-a782-d0cd60a500f3
* Version Independent ID: c0f01676-6a46-99a7-a56f-3b2d6eb5e965
* Content: [Overview of Azure API Management developer portal - Azure API Management](https://docs.

[2020-06-10 01:55] robvet commented on #56758
Got it to work. Problem: Windows node pool did not get created first time. Please close.

[2020-06-10 01:55] yugangw-msft commented on #44883
@Karishma-Tiwari-MSFT, we plan to update doc to highlight that helm3 is the default option and helm2 will be deprecated; to align, azure cli's helm commands' help will also call out this

[2020-06-10 01:56] kummanish commented on #56533
Hi, I have merged the changes with --group-id. Please close the issue.

[2020-06-10 02:05] Karishma-Tiwari-MSFT commented on #56160
Can you please elaborate on the steps leading to failure?
The existence of the peering relationship between the hub vnet and the spoke vnet is identified as a blocker for cluster deployment when the hub vnet has custom DNS configured.
There is no need to create any extra vnet links during resource creation in that scenario.
If you deploy to a new vnet that is not yet peered to the hub vnet, what i

[2020-06-10 02:07] mike-urnun-msft commented on #56763
@VitalyMCT Thank you for your feedback! We will review and update as appropriate.

[2020-06-10 02:08] NavtejSaini-MSFT commented on #56533
Thanks @kummanish
@christiankuhtz  We are going ahead and closing this issue.

[2020-06-10 02:08] #56533 closed

[2020-06-10 02:09] AshokPeddakotla-MSFT commented on #56710
@qxg Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-10 02:09] mike-urnun-msft commented on #56106
@ThomasNunninger Thank you for bringing this issue to our attention and helping us drive improvements towards MS Docs! I've removed the following statement which included the link:

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-06-10 02:09] #56106 closed

[2020-06-10 02:10] AshokPeddakotla-MSFT commented on #56714
@radoslawjakubowski
Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2020-06-10 02:11] mganeshphani opened #56764 "Can you make it clear in the documentation explicitly for outbound via private endpoint"
Can you make it clear in the documentation explicitly if the private endpoint can be used for subscriptions for webhook hosted in vnet or onprem.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22711686-7353-1674-4313-96801a0808dc
* Version Independent ID: ef864bd9-a9ad-3537-18e3-9cd41f035ffb
* Content: [Network securit

[2020-06-10 02:12] mike-urnun-msft commented on #56751
@Mexicoder Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

cc: @ggailey777  @craigshoemaker

[2020-06-10 02:12] AshokPeddakotla-MSFT commented on #56724
@dinesh1393 Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2020-06-10 02:13] AshokPeddakotla-MSFT commented on #56733
@pulakkumar599 Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2020-06-10 02:14] AshokPeddakotla-MSFT commented on #56734
@NayangiriGoswamiGit Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2020-06-10 02:16] mganeshphani opened #56765 "should the public endpoint be internet accessible?"
specify the pre-requisites for the accessibility of webhook endpoint..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22711686-7353-1674-4313-96801a0808dc
* Version Independent ID: ef864bd9-a9ad-3537-18e3-9cd41f035ffb
* Content: [Network security for Azure Event Grid resources](https://docs.microsoft.com/en-us/azure/ev

[2020-06-10 02:22] AshokPeddakotla-MSFT commented on #56738
@pthibodeaux Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2020-06-10 02:24] AshokPeddakotla-MSFT commented on #56743
@anurag-oss Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-10 02:27] dcbrown16 commented on #53042
We have a support case where this has caused confusion. Please raise the priority to align this document with Front Door guidance.

[2020-06-10 02:55] Trainer003 opened #56767 "Rule cannot fire"
Hi, I have configure a simulated device and create a rule, but after save and enable, the rule doesn't work when temperature higher than threshold, and i cannot receive any alert email.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a965e4d1-66a2-8765-9a9f-2381f46abfa0
* Version Independent ID: b

[2020-06-10 03:09] pnarsi opened #56769 "See Previous Feedback on a Particular Page"
This isn't a feedback for this page in particular but for the Microsoft document center experience in general

I have recently noticed that the document center experience has changed in that it no longer displays all the previous feedback (issues) that were raised on a particular page. Instead we need to explicitly click on the "View all page feedback" link at the bottom of each page which redirec

[2020-06-10 03:10] NavtejSaini-MSFT commented on #56621
@maartenkools If you choose the General or Business Critical, you pay for storage upfront so that is space allocated. As you see from below image the you pay for max space that you mention every month even if you don't use it as well.
![GeneralPurpose](https://user-images.githubusercontent.com/52257742/84222448-9b4c0e00-aaa5-11ea-9a5e-5e46627fdd28.JPG)

In Hypercscale actual allocation is calculat

[2020-06-10 03:14] zamdani30 commented on #56546
I mean how u start coding on Microsoft azure

[2020-06-10 03:16] mjaow commented on #56250
thanks,seems hard to get more info about it,'cause of some privilege issue.

I close it first.If there is more cases and more info.I'll open a new issue to discuss

[2020-06-10 03:16] #56250 closed

[2020-06-10 03:18] elvirk commented on #56573
Hi - any update?

[2020-06-10 03:19] Trainer003 commented on #56767
Anybody can do some help?

[2020-06-10 03:23] dcbrown16 commented on #54823
It's not supported on Linux - I thought I had asked for this change to be made before but I can't find the link.
The problem is that this article is a common base across Windows and Linux. They will need to split the article or just explicitly add that Microsoft Antimalware is for Windows.
I'm trying to submit a PR for the latter change but it's hanging.

[2020-06-10 03:37] rrperkin commented on #56756
Reference SO question here: https://stackoverflow.com/questions/62275609/no-access-token-returned-for-ad-b2c-user-when-requesting-microsoft-graph-delegat/

It contains what I've tried.

[2020-06-10 03:43] tannis00 commented on #55358
A data warehouse is different than a data lake.

A data lake can absorb duplicates and there is no problem. The data isn't expected to be perfect. In fact, it's often expected to be the opposite.

A data warehouse, on the other hand,  is a trusted source of data, so duplicates definitely do matter. Most of the duplicate data can be dealt with via proper ETL design, but every one in a while, especi

[2020-06-10 03:56] KalyanChanumolu-MSFT commented on #56750
@prashantma Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2020-06-10 04:02] pulakkumar599 commented on #56733
Hi @AshokPeddakotla-MSFT ,

May be I think this issue needs to be posted in any other repository. Can you help me doing that.
Anyways the link to this POC is [https://docs.microsoft.com/en-us/azure/iot-central/healthcare/howto-health-data-triage
](url)

Thanks,
Pulak

[2020-06-10 04:04] CHEEKATLAPRADEEP-MSFT commented on #56743
@anurag-oss, In case the scale up has failed, you can checkout the activity logs in the Azure Portal and now the reason for the failure.

[2020-06-10 04:11] Leon99 opened #56771 "Dead letter schema"
The schema for dead-letter events is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c612f098-ae63-bc16-d594-14e8550ff688
* Version Independent ID: 2dd289e9-53ad-0d16-7dc6-47a687880031
* Content: [Azure Event Grid event schema](https://docs.microsoft.com/en-us/azure/event-grid/event-schema)
* Content Source: [a

[2020-06-10 04:19] SumanthMarigowda-MSFT commented on #56310
@ezYakaEagle442 Thanks for the feedback! I have assigned the issue to the content author for further review.

[2020-06-10 04:38] BhargaviAnnadevara-MSFT commented on #56759
@CaseyHaralson Thanks for the question! We're investigating this and will get back to you shortly.

[2020-06-10 04:42] #56578 closed

[2020-06-10 04:45] VikasPullagura-MSFT commented on #56758
@robvet Thanks for confirming that the issue is resolved.

[2020-06-10 04:45] #56758 closed

[2020-06-10 04:47] RyanHill-MSFT commented on #54306
Sorry for the late reply @gary918. Have a look at https://docs.microsoft.com/en-us/python/api/overview/azure/webapps?view=azure-python. Feel free to reopen this issue and tag me if you have further questions.

[2020-06-10 04:47] #54306 closed

[2020-06-10 04:53] Druffl3 commented on #56691
hey @AshokPeddakotla-MSFT I have added my feedback there and also here:
https://feedback.azure.com/forums/909172-azure-maps/suggestions/38373853-xamarin-forms-support

[2020-06-10 05:03] SnehaAgrawal-MSFT commented on #55107
@MattJeanes Request you to open new thread for better tracking and experience.
Thanks for your understanding on this.

[2020-06-10 05:04] johnstaveley commented on #56382
Hi. That's the point though, the "step through" doesn't tell you how to or link to how to set up a vnet. You had one already setup so you had no problems.

[2020-06-10 05:12] moanrose opened #56772 "PLease update required ports"
Please update the list of outbound security policies to include the following: TCP, 443, VirtualNetwork -> AzureCloud - because it is needed for logging

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d854b3c-f9f9-7f6a-f889-e19acac2961c
* Version Independent ID: ed544e54-d24b-2f37-05b6-8b60eacd20

[2020-06-10 05:13] ChiragMishra-MSFT commented on #56747
@ElectricLlama Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2020-06-10 05:14] chunliu opened #56773 "Resource reservations for Windows node"
The information in the **Resource reservations** section seems only applicable to Linux node. The `Allocatable` resources for a Windows node doesn't seem to match the formula in the section.

For example, when I ran `kubectl describe nodes` for a Windows node, I got the following result.

[code]

The rate of allocatable memory is 3565108 / 7339572 = 48.57%, less than 66% which is expected accordin

[2020-06-10 05:15] RyanHill-MSFT commented on #56623
Hi @karthikeyanVK, wanted to follow up to see if you were still running into any issues.

[2020-06-10 05:18] AshokPeddakotla-MSFT commented on #56736
@drwillis07 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-10 05:38] mike-urnun-msft commented on #56763
@VitalyMCT Thanks again for bringing this to our attention and helping us drive improvements towards MS Docs! I have created a PR that fixes the broken markup and the changes should be live soon.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-06-10 05:38] #56763 closed

[2020-06-10 05:54] KelumPerera commented on #56625
@RohitMungi-MSFT
Thanks for the clarification.
I tried to access data files from my MS-Teams SharePoint site so that I can use the data in Azure Notebook. I tried several python packages, but unable to get access to the SharePoint site

1. First I tried using shareplum library

`import requests
from shareplum import Office365

username = 'adminuser@hotmail.com'
password = 'adminPassword'
site_name

[2020-06-10 06:02] jfellien opened #56775 "wrong documentation"
I tried to refresh a token but alway I've got an invalid_grant error. After some timme of investigation I found out (with help of an stack overflow post) that I have to put the policy as query parameter into the request. That means:

this URL is wrong `https://<tenant-name>.b2clogin.com/<tenant-name>.onmicrosoft.com/B2C_1_ROPC_Auth/oauth2/v2.0/token`

this URL ist fine and works `https://<tenant-n

[2020-06-10 06:11] mike-urnun-msft commented on #56259
Hello @deyanp You can use KEDA, here's a sample in Javascript: [KEDA and Azure Functions with Azure Event Hub Sample](https://github.com/kedacore/sample-javascript-eventhub-azure-function)

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-06-10 06:11] #56259 closed

[2020-06-10 06:14] SwathiDhanwada-MSFT commented on #56048
@Dev-ML11 Can you please let me know which version of API are you using  among the below ?

- 2015-06-01-preview - base version from the initial release

- 2016-08-31-preview - adds a new "MeterStatus" property to each item of the “Meters” collection, indicating whether a particular meter is “Active” or “Deprecated”

[2020-06-10 06:16] maskati opened #56776 "Clarify that AI enrichment is only usable for documents indexed by an indexer (pull model)"
The current documentation does not make it explicitly clear that AI enrichment skills are only usable when ingesting data using the [pull model](https://docs.microsoft.com/en-us/azure/search/search-what-is-data-import#pulling-data-into-an-index) (using [indexers](https://docs.microsoft.com/en-us/rest/api/searchservice/indexer-operations)), and that they cannot be used when adding documents to the

[2020-06-10 06:16] mike-urnun-msft commented on #56262
@ERGeorgiev Thanks again for bringing this to our attention and helping us drive improvements towards MS Docs! I've created a PR that fixes the sample and the changes should be live soon.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-06-10 06:16] #56262 closed

[2020-06-10 06:17] CodeFisher-02 commented on #56246
@SubhashVasarapu-MSFT : Any updates on this?

[2020-06-10 06:21] angelcervera opened #56777 "Using "extension" features in the "production" documention."
I understand that this documentation is related to **production**, but it is using an **extension**. So if you try to execute the code in the docuement:
[code]

You get the error:
[code]
Different point about the documentation:
- Maybe it is a good idea to specify that it is a preview feature of CLI and it is necessary to install the extension. **Or even better, explain how to do it without the ex

[2020-06-10 06:28] vipulsparsh commented on #56595
@heinejeppesen Thanks for pointing that out. We will engage the author to do the necessary changes.
@MicrosoftGuyJFlo Can you please look into this ?

[2020-06-10 06:29] NayangiriGoswamiGit commented on #56734
@AshokPeddakotla-MSFT , This https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-messages-d2c doc could have some links where one can see the sample structure of Device life cycle events when received via IoTHubs default endpoint on azure serverless function.

[2020-06-10 06:39] w0ut0 opened #56778 "Is it possible to add a small section on how to actually use the created subscription key?"
It's very easy (and well documented) to create a subscription and get an api-key. Thank you for that.

However, I spent too much time on finding out how to actually pass in the api-key to the gateway (it's in the header, as value for "Ocp-Apim-Subscription-Key").

The only mention I could find in the docs is the page [Import and publish your first API
](https://docs.microsoft.com/en-us/azure/api-m

[2020-06-10 06:43] pnarsi opened #56779 "Use Key Vault references for App Service and Azure Functions (preview)"
Is the "Use Key Vault references for App Service and Azure Functions" feature still in preview? The table on this page seems to say that it is however the actual page for the feature doesn't mention anything about it being in preview

https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2020-06-10 06:44] shashishailaj commented on #56761
@Azhar001 Thank you for your query. We will investigate and update this thread.

[2020-06-10 06:45] shashishailaj commented on #56775
@jfellien Thank you for your query. We will investigate and make sure the documentation is rectified.

[2020-06-10 06:47] shashishailaj commented on #56760
@eschrader Thank you for your query. We will investigate and update this thread.

[2020-06-10 06:48] kwaazaar opened #56780 "Why is Azure App Configuration not listed?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726adac9-1848-01a6-9586-842c81f820f7
* Version Independent ID: 249db438-8c95-8e69-f69e-8e48fcd0b359
* Content: [Azure Services that support managed identities - Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure

[2020-06-10 06:49] jjindrich commented on #56160
Hi, I have hub vnet with custom DNS, so I need to create vnet link somehow automatically. I tried to use your @Karishma-Tiwari-MSFT sample in policy definition
{
  "mode": "All",
  "policyRule": {
    "if": {
      "field": "type",
      "equals": "Microsoft.Network/privateDnsZones"
    },
    "then": {
      "effect": "append",
      "details": [{
    "field": "Microsoft.Network/privateDnsZones/r

[2020-06-10 06:54] keikhara commented on #56018
Hi @desek - it should be *.mp.microsoft.com. It is missing "*". We will update the doc.

[2020-06-10 06:59] AshokPeddakotla-MSFT commented on #56732
@deathgaze Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-10 07:00] AshokPeddakotla-MSFT commented on #56735
@baljitaujlaVD Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-10 07:11] mike-urnun-msft commented on #56215
Hello @arbarik I don't recall the "java" option ever being on that list. You can use `func init --java` or `func init --worker-runtime java` to initialize an empty Function App but you'll still need to use Maven (or the alternatives discussed in this documentation) to scaffold an actual Java project with POM etc..

Since this channel is for driving improvements towards MS Docs and we haven't deter

[2020-06-10 07:11] #56215 closed

[2020-06-10 07:12] mike-urnun-msft commented on #56246
Hello @CodeFisher-02 - I'm currently reviewing this feedback and will update you with my findings soon.

[2020-06-10 07:14] pnarsi opened #56781 "ASE with Azure Monitor Private Endpoint"
The documentation states that we need to enable outbound traffic on port 12000 across all IP addresses for monitoring purposes. Azure Monitor now supports private link. If I enable an Azure Monitor private endpoint on my VNET do I still need to allow outbound traffic on port 12000 over all IP address ranges?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-06-10 07:14] AshokPeddakotla-MSFT commented on #56767
@Trainer003 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-10 07:16] jfellien commented on #56775
maybe the [Stack Overflow](https://stackoverflow.com/questions/39784247/404-not-found-for-oauth2-v2-0-token-endpoint-of-azure-ad-b2c) post may help to understand what I tried to do.

[2020-06-10 07:18] SubhashVasarapu-MSFT commented on #56549
@keatseongchan , We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-06-10 07:18] #56549 closed

[2020-06-10 07:19] JamestsaiTW commented on #56695
OK, I know what is my problem.

The **status url** in the document is "**Location**" all URL.
So, if in the step 2 of "Convert a Drawing package" section, its' **status url** should be "https://atlas.microsoft.com/ **conversion** /operations/6d765xxxxxxxxxxxxd2861b0?api-version=1.0&&subscription-key={MyAzure-Maps-Primary-Subscription-key}", not "https://atlas.microsoft.com/ **mapData** /operations

[2020-06-10 07:19] #56695 closed

[2020-06-10 07:31] shashishailaj commented on #56775
Thank you for the link @jfellien . We will update the thread after review.

[2020-06-10 07:34] techadmin1982 opened #56782 "Simulate parameter missing in the example"
[Enter feedback here]
Simulate parameter missing in the example. The correct code should be below (presuming there are no other mandatory parameters in your runbook)
$params = @{"Simulate"=$true}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b376d141-c26e-32d6-87c8-da2afe75913b
* Version Independent ID: 10b121c4-9673-

[2020-06-10 07:34] surajmuthreja commented on #56698
@TravisCragg-MSFT  -- Can you please add some examples for this use case using all possible ways suggested above. e.g. configure routing, using NSGs etc.

Regarding adding restriction over on-prem device, I know its possible but my use case is to have this restriction/controll at Azure level so that on-prem device should be seening only what it is supposed to.

Muti-tenancy here means controlling

[2020-06-10 07:37] jiseli commented on #46605
Hi Pratik,

You're saying:

Do you have any reference about that?

I'm not sure to understand it right. Do you already have a certificate in your Key Vault? This should be a one time step and should probably not be executed from an API Management policy. Correct me if I got it wrong.

Did you try to use the [Import Certificate](https://docs.microsoft.com/en-us/rest/api/keyvault/importcertificate/i

[2020-06-10 07:43] JamestsaiTW commented on #56695
Maybe add **statusURL** format below the step3 of "Convert a Drawing package" section, it will look better.
![image](https://user-images.githubusercontent.com/9651229/84240606-df382500-ab30-11ea-8d38-1f22a42e6842.png)

[2020-06-10 07:51] VikasPullagura-MSFT commented on #56018
@desek
Hope the provided information is helpful. I have updated the document and the changes will go live soon.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-06-10 07:51] #56018 closed

[2020-06-10 07:55] mike-urnun-msft commented on #56246
@CodeFisher-02 I have gone over the steps and validated that there is no issue with the sample. With Functions v3 runtime locally, I created my Function using the Visual Studio template which uses the following dependencies:
![image](https://user-images.githubusercontent.com/36717703/84241750-c25e0c00-aab4-11ea-8487-ef7149359d10.png)

Since we haven't found any faulty steps in this documentation,

[2020-06-10 07:55] #56246 closed

[2020-06-10 08:02] VikasPullagura-MSFT commented on #56773
@chunliu
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-10 08:02] VikasPullagura-MSFT commented on #56773
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-06-10 08:06] rcg-dev opened #56783 "Why is the troubleshooting section so curt?"
I ran into a scope issue and the trouble shooter doesn't even mention potential problems with scope. Should take some time to add it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b2f8fc6-8048-42e9-803f-6b5f307664c9
* Version Independent ID: 0744fa48-8797-e4fb-5ed9-6395adfc7656
* Content: [Acquire tokens to call a web

[2020-06-10 08:16] gabrielweyer opened #56784 "Missing Integration Runtime name validation check"
The documentation does not provide the validation checks for Integration Runtime names. I copied below the error message I obtained from the Azure Data Factory portal:

![unnamed](https://user-images.githubusercontent.com/2101647/84243800-106f2000-ab46-11ea-8e8c-6cbbd913d446.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-06-10 08:29] vmehmeri opened #56785 "Code shown in place of where image should be"
It seems that due to some typo in the doc source this piece of Markdown is being shown as a code snippet:
![Export dependencies(./media/how-to-create-group-machine-dependencies-agentless/export.png

That looks an image syntax (along with the image URL). So clearly an image was meant to be there.

(I removed closing brackets and parenthesis so that this comment here doesn't think it's an image)

--

[2020-06-10 08:32] kamaljit-1991 commented on #55839
@Mike-Ubezzi-MSFT Can you please share the email-ids of the product group where we can mail them directly saying about the issue.

Like you said I created a support ticket for this, but that is not moving further. This is the link for our support ticket https://portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade/overview.

[2020-06-10 08:34] dcurwin commented on #55907
Thanks for noticing that. We've moved the lines to the other section.

#please-close

[2020-06-10 08:34] #55907 closed

[2020-06-10 08:45] chunliu opened #56786 "The info about Helm is outdated"
The information about Helm in **Package management with Helm** section is outdated. The architecture it shows is only applicable to Helm v2. In Helm v3, the Tiller has been removed and there is no in-cluster component for Helm v3 anymore. Reference: https://helm.sh/docs/faq/

The information in the section needs to be updated, or at least mark it for Helm v2 and add the difference for v3.

---
###

[2020-06-10 09:04] lazyritesh commented on #14765
Is the issue "performing assessment" fixed? Getting the same while setting up ADF analytics.

[2020-06-10 09:04] chunliu commented on #56786
Duplicate with #52820

[2020-06-10 09:04] #56786 closed

[2020-06-10 09:06] chunliu commented on #56627
Duplicate with #52820

[2020-06-10 09:29] ThomasPe opened #56787 "Missing information on how to expose Node debug port"
This is in regards to following section:

What do I do if this is not the case? It would be great if you could add a link here showing how to expose this port and make Node listen to it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a3f2f86-40bf-19f2-4f56-9dc71ed47fa2
* Version Independent ID: 20e8912c-4a10-68b9-c46a

[2020-06-10 09:30] deyanp commented on #56259
Sorry, @mike-urnun-msft , I think I mixed up the triggers, my question was in fact about EventGridTrigger in AKS - is that supported, or will it be? We moved on to using HttpTrigger (web hook) for the time being, but wanted to know if EventGridTrigger will be supported as well ...

[2020-06-10 09:32] SwathiDhanwada-MSFT commented on #56782
@techadmin1982 Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-06-10 09:33] SwathiDhanwada-MSFT commented on #56785
@vmehmeri Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-06-10 09:41] SwathiDhanwada-MSFT commented on #56754
@dcbrown16 Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-06-10 09:43] vipulsparsh commented on #56458
@AmitavaHazra The MyAccess portal also should prompt you to verify your contact details. Here is a screenshot from my lab which shows the prompt on myaccess.microsoft.com portal after enabling the combined registration.

![image](https://user-images.githubusercontent.com/63580915/84252807-b6ae2c00-ab2c-11ea-806c-e99e29f7232d.png)

Try in a different browser or device and see if you get the option.

[2020-06-10 09:45] fredobas opened #56789 "Quickstart: Monitor an Azure virtual machine with Azure Monitor: View data collected"
https://docs.microsoft.com/en-us/azure/azure-monitor/learn/quick-monitor-azure-vm
At chapter View data collected:
The step to arrive in this page (Click on your virtual machine and then select the Performance tab) need to mention to go first to tab Monitoring / Insights.

# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitH

[2020-06-10 09:46] jmprieur commented on #56783
#assignto jmprieur

[2020-06-10 09:48] #56348 closed

[2020-06-10 09:49] Coldpawz opened #56790 "Change Azure DB model during import?"
Is it possible to change the Azure DB model during the import process?

For example:
If I export a Azure SQL DB that uses the DTU model, S0, can I then import the bacpac onto another Azure SQL Server but during the import process change the SKU to the vCore/Serverless model? Or would it need to be imported using the original DTU model and reconfigured afterwards to the vCore/Serverless model?
Than

[2020-06-10 09:49] #56785 closed

[2020-06-10 09:49] SwathiDhanwada-MSFT commented on #56785
Th changes will be live soon. We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-06-10 09:50] mrvladis commented on #18508
@mimckitt Can you please re-open this issue, so documentation can be updated appropriately?
It obviously doesn't work if you origin is not listed as lover case, even if you AzureAD B2C have capital letters!

Thanks.

[2020-06-10 09:57] kummanish commented on #56532
@christiankuhtz  added new docs content for the programmatic way to get the resource id.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/118354

Regards,
Manish Kumar

[2020-06-10 10:07] amanmcse commented on #56306
@reconluke  **Confirm safe (on a sign-in)** – Informs Azure AD Identity Protection that the sign-in was performed by the identity owner and does not indicate a compromise.

Upon receiving this feedback, sign-in is moved (not the user) risk state to Confirmed safe and the risk level to -.
In addition, **this information is provided to machine learning systems for future improvements in risk assessm

[2020-06-10 10:07] #56306 closed

[2020-06-10 10:16] CHEEKATLAPRADEEP-MSFT commented on #56762
@cequencer  Thanks for your feedback!  We are investigating and will update you shortly.

[2020-06-10 10:27] KrishnaG-MSFT commented on #56789
@fredobas Thanks for your comment! We will review and provide an update as appropriate.

[2020-06-10 10:30] KrishnaG-MSFT commented on #56476
@elvirk Hope you have self resolved question about RDG collection sessions and hence closed the issue. Thanks for the update.

[2020-06-10 10:32] prashant1380 opened #56791 "user.manager property"
Is there any plan to introduce user.manager attribute to use in rules? I can see that Direct Report can be used in rule but then it cannot be combined with any other membership rule for e.g. if I want to create a group of users who are EMS licensed and reports to a particular manager, then how can I achieve this? Please comment.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2020-06-10 10:33] VikasPullagura-MSFT commented on #55837
@timleyden Apologies in delayed response.

Thanks for pointing this out, yes this need not to be on same Resource Group.
We are in process of updating the document.

[2020-06-10 10:33] SnehaAgrawal-MSFT commented on #56779
@pnarsi Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-06-10 10:34] SnehaAgrawal-MSFT commented on #56781
@pnarsi Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-06-10 10:36] SnehaAgrawal-MSFT commented on #56443
@JeryLu2020 Since we have not heard back from you we will now proceed to close this thread. If there are any questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-06-10 10:36] #56443 closed

[2020-06-10 10:41] radoslawjakubowski commented on #56714
Edited my original post and added the link to azure doc

[2020-06-10 10:43] mrblonde91 commented on #56597
Is there any plan to allow for a bacpac to be created?

[2020-06-10 10:45] prashant1380 commented on #6467
I have exactly the same requirement. I am looking for user.manager property to be used in rule expression.

[2020-06-10 10:48] CHEEKATLAPRADEEP-MSFT commented on #56784
@gabrielweyer Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/118362](https://github.com/MicrosoftDocs/azure-docs-pr/pull/118362)
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love t

[2020-06-10 10:48] #56784 closed

[2020-06-10 10:50] waqar-anwar1990 opened #56792 "Schema Changes Take too much time to provision."
Hello Team,

We have run into this problem a couple of times now and it is frustrating. We are using Azure Sync Operations on a medium/large scale with 60+ on premises DBs syncing to different Hub DBs.

Whenever we make a Schema change to corresponding databases. Here is the process how we do it.

1. Update Schema on local databases.
2. Update Schema on Hub Databases.
3. Update Each Sync Group in

[2020-06-10 11:19] Robert-Kostecki opened #56794 "Ambiguous information and challenges with sentence construction"
"The IDENTITY property doesn't guarantee the order in which the surrogate values are allocated, **which reflects the behavior of SQL Server and Azure SQL Database.**

This suggests that in SQL Server and Azure SQL Database IDENTITY does not guarantee the order which is not the case according to this article (and the factual state).
https://docs.microsoft.com/en-us/sql/t-sql/statements/create-table

[2020-06-10 11:26] CHEEKATLAPRADEEP-MSFT commented on #56794
@Robert-Kostecki  Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

[2020-06-10 11:27] CHEEKATLAPRADEEP-MSFT commented on #51609
@julieMSFT Any update on this issue?

[2020-06-10 11:28] CHEEKATLAPRADEEP-MSFT commented on #52521
@kevinvngo Any update on the screenshot changes?

[2020-06-10 11:29] CHEEKATLAPRADEEP-MSFT commented on #56769
@pnarsi  Thanks for your feedback! We will investigate and update you shortly.

[2020-06-10 11:40] MattJeanes commented on #55107
I tried it again this morning exactly the same and it all worked so I assume there was a temporary issue that is now resolved

[2020-06-10 11:41] ThomasPe commented on #56280
I'll try to add my suggestions over the weekend.

[2020-06-10 11:45] xaviertop commented on #56475
@jeevansd have you an idea when you deliver a new release without this error ? it block some process in our company to create azure application with SAML authentification.
thanks

[2020-06-10 11:50] AshokPeddakotla-MSFT commented on #56757
@grspencer Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-10 11:58] somigithub commented on #56269
@AhmedElwy

sorry to hear it not working at your end. we tested the same at our end and shared screenshot/exported content with you.

our CSS support team, can help get on a call and troubleshoot.
Here are instructions on how to do that process: https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request

[2020-06-10 11:59] tvdijen commented on #56475
@xaviertop What's holding you back from manually entering the settings instead of the XML upload?

[2020-06-10 12:34] mvark opened #56796 "please clarify what is meant by "Generalized VMs don't support tags.""
In the Limitations section, please clarify what is meant by "Generalized VMs don't support tags."

What is the significance of this point as the first point in the section already mentions "Not all resource types support tags." & provides a link to a long list of resource types that do not support Tags
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-06-10 12:38] billspat opened #56797 "Add link to install Mac CLI"
In the section https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-tutorial-create-first-template?tabs=azure-powershell#command-line-deployment

There are links to install Windows and Linux, but there is no link to install the CLI on Mac

the link I use is https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-macos?view=azure-cli-latest

---
#### Document Detail

[2020-06-10 12:47] vaibhavramdasi opened #56799 "Remove VNet Integration using ARM Template while moving to SKU where it's unsupported"
[Enter feedback here]

I'm using VNet integration for function app(hosted on Standard tier) and deployed using ARM Template.

How can I disconnect active integration using ARM template. If I deploy app again without above nested resource, it does not remove this existing connection. This may be useful in most of the scenarios but I'm trying to switch my function app to Consumption Plan where vnet

[2020-06-10 12:54] devvrr opened #56800 "Metadata timeout"
[Enter feedback here]
"Metadata calls must be made from the primary IP address assigned to the primary network card of the VM"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a241549-82c0-6895-b410-b107a57c7540
* Version Independent ID: 5bab39b4-9ff3-5bd9-46d5-17ee009940e0
* Content: [Azure Instance Metadata Service -

[2020-06-10 12:58] devvrr opened #56801 "checking route availability for running metadata command"
[Enter feedback here]
"Additionally in the case you have changed your routes, there must be a route for the 169.254.169.254/32 address in your VM's local routing table."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a241549-82c0-6895-b410-b107a57c7540
* Version Independent ID: 5bab39b4-9ff3-5bd9-46d5-17ee009940e0
* C

[2020-06-10 13:00] webbermt opened #56802 "A West Europe database resolves to 104.40.168.105 which is not contained in any of the CIDRs listed for West Europe region"
West Europe lists the following CIDRs: 40.68.37.158, 191.237.232.75, 13.69.105.208.  However, our West Europe database resolves to 104.40.168.105.  Can you please update the CIDRs for West Europe so we can whitelist the appropriate range?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b4a18df-c6ba-5138-733c-8227947085

[2020-06-10 13:01] epinto opened #56803 ""Data connector?" column needs legend for V and X"
This table:
https://docs.microsoft.com/en-us/azure/sentinel/connect-data-sources#map-data-types-with-azure-sentinel-connection-options

Needs a legend for the columns, specifically the "Data connector?". It's not clear what Vs and Xs are to the user.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf163f82-d5be-8b0a-e17

[2020-06-10 13:01] YassineSOUABNI opened #56804 "Update "AccountExpires" section"
[Enter feedback here]

Dear,

it is stated that if PHS is enabled as the authentication method,
onprem expired account will still be able to authenticate to AAD/O365 and that to avoid that,

_"We recommend that if the account is expired, a workflow action should trigger a PowerShell script that disables the user's Azure AD account (use the Set-AzureADUser cmdlet)."_

But if the onprem user itself

[2020-06-10 13:31] jhueppauff opened #56806 "Missing instruction for Spring Update"
Hi all,

I understand this document is refering the Fall update. But is there a current version for the new spring release?

Thank you :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bd423d2-dba9-a2ef-5222-aeed7a064393
* Version Independent ID: c07a6696-37fd-f026-c872-6c243dc45dcb
* Content: [Scale session hosts Azu

[2020-06-10 14:00] NorthHighlandNicole opened #56807 "Missing Information"
Item #2 under "Prerequisites for production" has zero information. If you try to search the internet for "Reliable Actors security configuration" there is nothing. You have to provide the information if you're going to specify a security best practice

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c404822-f6c8-30db-ac

[2020-06-10 14:04] lakshyanits opened #56808 "Can we avoid App Service and Search Service for a QnA Maker"
We have a chatbot where we train our bot with LUIS and use QnA maker to store answers for intents in Knowledge Base.

I was wondering if we can avoid App Service and Search Service while creating QnA maker cognitive resources as it adds additional cost for the simple purpose.

It would have been helpful if LUIS itself provides a way to store text against intents.

Open to any alternate interactive

[2020-06-10 14:14] AmitavaHazra opened #56809 "Share Certificate for all application SSO"
Can we use same certificate and use in all enterprise application for SSO ?
If yes, then do we need to convert .cer formatted certificate to .pfx format in order to import it in all enterprise application?
Reference:
https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/manage-certificates-for-federated-single-sign-on

---
#### Document Details

⚠ *Do not edit this section. It is req

[2020-06-10 14:14] bharatraja opened #56810 "libxcb"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d10bd923-e9e2-3958-a9b9-1baac169b308
* Version Independent ID: f78bdb47-e841-b612-6964-9a6f1fce293f
* Content: [Tutorial - Deploy Custom Vision classifier to a device using Azure IoT Edge](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-deplo

[2020-06-10 14:40] shampeter opened #56811 "Powershell example for VPN client profile Not Working"
I followed through the tutorial and managed to create the P2S VPN Gateway.  I can download the VPN client configuration from port using the "Download VPN client" button under Point-to-site configuration section.  However, I cannot do the same following the PowerSheel example provided on the page.

$profile=New-AzVpnClientConfiguration -ResourceGroupName $param.rgName -Name $param.gwName -Authentic

[2020-06-10 14:48] dinesh1393 opened #56812 "Getting Oauth token error while executing azcopy"
Hi,

I have the below command to copy folders and its sub directories to blob storage. I am using the 10.3.4 version.
azcopy copy \\uncserver\source1\folder1\archive https://1234server.blob.core.windows.net/folder2/target/archive/ --recursive

Am getting the below error while executing the above command. I know, am executing without SAS token. but it should regonize the OAuth token.
I want to go w

[2020-06-10 15:01] MostlyArmless opened #56814 "The sed commands need to be updated in section "Download the image configuration template example""
The `sed` commands in this section are apparently intended to find/replace some text which no longer exists in the `helloImageTemplateWin.json` file. These commands do not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd4c4f41-2050-234e-e35b-750158cfba54
* Version Independent ID: 09c0145e-fa2b-210d-d1a0-4acb8c79

[2020-06-10 15:11] nextorr opened #56815 "IPv6 gateway endpoint support"
Our company is on a IPv6 readiness process and need explicit confirmation on IPv6 support as an endpoint for the VPN-Gateway on a Site-to-Site configuration. The document is not explicit about this. The document does not mention it as an option so we assume it is not possible, but a warning or alert stating this will make it explicit.

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-06-10 15:25] andresu13 opened #56817 "Update documentation"
This document needs to be updated. Instead of referring to "Security and Audit" dashboard, it should mention Azure Security Center. Also, there are images that talk about "Windows Azure" when the product name changed to just "Azure.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1e601c7-34eb-a84

[2020-06-10 15:28] sysadam opened #56818 "consent Windows Virtual Desktop serer app"
Hi,

You need to add a section about authorizing the Windows Virtual Desktop server app.

See the instructions in this techcommunity post.
https://techcommunity.microsoft.com/t5/windows-virtual-desktop/caa20004-aadsts65005-the-app-needs-access-to-a-service/m-p/1403787

This would have saved us time and energy in solving this error ourselves.

Thanks,
Adam

---
#### Document Details

⚠ *Do not edit

[2020-06-10 15:51] amasse3 opened #56819 "Port requirements AADC - ADFS/WAP"
There may be a doc bug in table 3. I do not recall 80 and 443 being needed between AADC and WAP/ADFS (certainly not for the reason described).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41c38d39-e36b-dd70-9c8c-1fc28a1dba5e
* Version Independent ID: 4a9c6f6b-7627-2d61-402a-a2c405812a61
* Content: [Hybrid Identity re

[2020-06-10 15:52] PlateSpinner opened #56820 "Column for IL6"
Are there any plans to add a column for IL6 (i.e. Azure Government Secret) to this page? It would be very helpful to include that where possible/allowable.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e27d0b1-56f9-2eb7-8fee-0c47cfbafeac
* Version Independent ID: 12556227-6adc-52c1-ac60-f341ae247e51
* Conten

[2020-06-10 16:02] MostlyArmless opened #56821 "Missing comma in the template json"
The template json at the top of the page is invalid, it's missing a comma.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ef2d683-1557-7097-0415-ea67a0350718
* Version Independent ID: 20667a9c-cd22-ce77-d4d6-61ac10d380c8
* Content: [Create an Azure Image Builder template (preview) - Azure Linux Virtual Machines](https

[2020-06-10 16:11] jebalert opened #56822 "-InvitedUserX parameter list"
Recommend including the entire list of parameters available for crafting an invite via PowerShell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8984951b-7ece-4964-ed6e-5266174d2ffb
* Version Independent ID: 163b743d-fd7f-9c50-f01c-79a4521c5236
* Content: [Tutorial for bulk inviting B2B collaboration users - Azure Act

[2020-06-10 16:34] frankkilcommins opened #56823 "Token URL in docs example is not correct"
The example URL provided in the POST token call appears invalid. I would expect the URL to be documented as follows:
`https://<tenant-name>.b2clogin.com/<tenant-name>.onmicrosoft.com/<policy-name>/oauth2/v2.0/token`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 836ec1be-7675-d0f1-c861-0520dc3ea01e
* Version Independen

[2020-06-10 17:00] amervitz opened #56824 "Swap operation during function execution"
It is unclear what happens to an executing function during a swap operation. If it is mid-way through processing an invocation of the function, what happens? Does the function executing get terminated prior to it completes executing? Does it try to do anything intelligent like wait for all functions to finish executing, pausing all triggers so that no new invocations are started, and then perform

[2020-06-10 17:13] jhielscher-arista opened #56825 "Confusing statement on Private Plan (offer) available in Marketplace"
Private offers are only discoverable via the Azure portal and are not shown in Microsoft AppSource or Azure Marketplace.

Seems to contradict our experience.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90d78351-7bde-2224-ae47-1c567c65a05d
* Version Independent ID: cf1c0055-aca8-17e0-73ca-9b5688

[2020-06-10 17:33] kzu opened #56827 "Document how to cause an event trigger function to return an HTTP status code"
According to the [docs on delivery and retries](https://docs.microsoft.com/en-us/azure/event-grid/delivery-and-retry#failure-codes)
for EventGrid, the returned HTTP status code can have a significant (and useful!) effect on the retry policy. It would be quite useful
for a function using the EventGrid binding to be able to report such status codes, yet the documentation only showcases `void`
return

[2020-06-10 17:33] CeciAc opened #56828 "Can't connect to SSH"
The comments below were machine-translated

@sandou0917 commented on [Wed Jun 10 2020](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/4783)

SSH connection is not possible even if it is set as described on this page.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: ee0b4a4b-0635-6f05-5fdb-6b54afe28afc
* Version Independent ID: 12ee435f-c583-b

[2020-06-10 17:54] jhielscher-arista opened #56829 "What is the customer experience when their Sub-ID is removed from my private plan?"
I could not find documentation that describes what happens when I remove a customer from a PRIVATE PLAN SKU but regarding the overall offer I found:

"Offer removal ensures that new customers may no longer purchase or deploy your offer, but has no impact on existing customers, whom you must support according to your license agreement and pertinent laws."

Can customers continue to deploy instances

[2020-06-10 18:18] CeciAc opened #56830 "More information under Control Visibility to describe different options (read, read-write, no access)"
@josefinarey commented on [Wed Jun 10 2020](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/678)

Hello,
I would like to have more information about the "No Access" option under "Control visibility".
This is not so straight forward, and do not understand the differences.
Thanks
[Hier Feedback eingeben]

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Ver

[2020-06-10 18:51] PrakharSrivastav opened #56832 "What are the differences in the behaviour of a ConsumerGroup in EventHub vs ConsumerGroup in Kafka"
[Enter feedback here]
Could you document the behaviour of the consumer-groups in "eventhub over kafka" vs "eventhub". Couple of differences that are good to know are

- Are messages delivered to all consumers or one message per consumer.
- Message delivery guarantees.
- Max number of clients per consumer group.

I know there is a lot to read up and try, but some documentation on basic differences

[2020-06-10 19:05] jusnitlive opened #56834 "Documentation for ARM template"
Where can I find public documentation on how to deploy this extension via ARM template?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24255026-2d1c-0607-77e6-f9dd10fbe8dd
* Version Independent ID: 832ee4c2-a497-6db6-573d-5c9abe694b00
* Content: [Automate management tasks with the IaaS Agent Extension - SQL Server on A

[2020-06-10 19:35] smoms opened #56837 "Is possible to have onpremise to onpremise traffic?"
From the architecture diagram I do not understand if - with self-hosted IR - is possible to have **onpremise to onpremise** data transfer. And if so, is the data traffic limited to the private network? thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1a34b3c-a9b8-29ce-1eca-86f7f42981a1
* Version Independent ID:

[2020-06-10 19:44] Jont-K opened #56838 "When does billing period end - which time zone?"
The document states the billing period end on the last calendar day.  It would be helpful if the document also explained the cutoff time (e.g. which time zone).  This is particularly important for metered billing events.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d34e8867-00fd-7165-f5ee-7934ad

[2020-06-10 19:59] RonnieQuan opened #56839 "Sizing Requirement for APIM dedeicated subnet"
can you pls point out where the sizing recommendation is documented?

In one dedicated subnet, and host multiple dedicated API management resources.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d854b3c-f9f9-7f6a-f889-e19acac2961c
* Version Independent ID: ed544e54-d24b-2f37-05b6-8b60eacd2026
*

[2020-06-10 20:36] sredman opened #56840 "Powershell examples should be updated to use ARM commandlets for database import and export"
The documentation page for Sql Azure Import/Export service gives commands for importing or exporting a database using Powershell, but these commandlets use the old Az module naming. They should be updated to use the new commandlets. For instance, `New-AzSqlDatabaseExport` should become `New-AzureRmSqlDatabaseExport`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-06-10 21:08] krispenner opened #56841 "Web App to Web App via Private Links"
Among other services, I would also like all my Web Apps to communicate with each other securely/privately. I would assume this will require a Private Endpoint for each Web App along with VNet integration. I'd imagine this will be a common question and it isn't clearly outlined in the quoted paragraph above as to whether Service Endpoints would support this. From my current understanding, Private E

[2020-06-10 21:13] Weychris opened #56842 "Per User MFA"
Which licenses grant admins the right to enable MFA per user? [This page
](https://docs.microsoft.com/en-us/microsoft-365/admin/security-and-compliance/multi-factor-authentication-microsoft-365?view=o365-worldwide)

says all Microsoft 365 plans have per user MFA (not recommended). Please advise ASAP! There's a lot of conflicting and outdated information floating around.

---
#### Document Details

[2020-06-10 21:25] AElharouny opened #56843 "How many numbers of deployments history items is deleted and at what threshold deletion starts?"
It will be good to document how many number of deployment history items is deleted and at what threshold deletion starts. Instead of saying sentences like "small amount" and "close to 800".

Reason for that is the 800 limit deployment limit and error might still happen as per documentation. And the possibility of that depends on each case and these settings. For example if Microsoft only deletes 1

[2020-06-10 21:25] mvfolino68 opened #56844 "Timezones for cutoffs."
[Enter feedback here]
What is the timezone for the dates on this page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d34e8867-00fd-7165-f5ee-7934ad3dd20d
* Version Independent ID: b6149e6d-922b-a01a-c0b5-2f86380a2a98
* Content: [Payout policy details - Azure Marketplace](https://docs.microsoft.com/en-us/azure/marketpl

[2020-06-10 22:09] rahg-bmake opened #56845 "The simple case of updates and deletes in the source data is missing?"
Looks like the simple case of data update and deletes in the source data is not present on this page. Would an index rebuild be required in that case, or a simple update would suffice?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 342a6349-1b6c-8aca-600d-d1bd27f31e61
* Version Independent ID: 41c

[2020-06-10 22:26] techbunny opened #56846 "Unclear definition of new cluster when limiting egress traffic for AKS"
In the purple Note box, it states "Limiting egress traffic only works on new AKS clusters. For existing clusters, perform a cluster upgrade operation using the az aks upgrade command before you limit the egress traffic."

It is unclear in the documentation what defines a "new AKS cluster".  Version?  Date of creation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2020-06-10 22:44] bandersmsft commented on #55052
@stspinu Updated article with https://github.com/MicrosoftDocs/azure-docs-pr/pull/118474. Thank you for your input!
#please-close

[2020-06-10 22:44] #55052 closed

[2020-06-10 22:46] shashishailaj commented on #56480
@DonPetry-EY The solution is currently in preview and is applicable to all scenarios where a user can log on to Azure AD joined machine. Because this machine can only be joined to Azure AD and must have AADlogin extension installed. As long as the windows device is able to obtain valid Azure AD PRT(primary refresh token) and  is azure AD joined , the different types of SSO scenarios (PTA, federate

[2020-06-10 22:48] mhyon opened #56847 "Tagging subscription with Azure CLI"
There is a comment on the page that "Currently, Azure CLI doesn't support applying tags to subscriptions."  However, there is an example on the page (shown below) to apply tags to a subscription by deploying a Microsoft.Resources/tags resource at the subscription scope.   Is this the recommended approach to update tags assinged for an existing subscription?  Why are the --name and --location param

[2020-06-10 22:51] #56480 closed

[2020-06-10 23:02] mike-urnun-msft commented on #56345
related to: #52908, #50790, #36939, #37376, #36934,

[2020-06-10 23:02] femsulu commented on #56820
Thanks for the update @Jain-Garima

@PlateSpinner - We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

#please-close

[2020-06-10 23:02] #56820 closed

[2020-06-10 23:16] BharathNimmala-MSFT commented on #56847
@mhyon Thank you for your question, we will look into it and get back to you at the earliest.

[2020-06-10 23:26] BharathNimmala-MSFT commented on #56337
@javester Thanks again for bringing this to our notice. Can you please help run the command using the MetricNameSpace

`Get-AzMetric -ResourceId /subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/ResourceGroup-Name/providers/Microsoft.Storage/storageAccounts/storageaccountname/blobServices/default -MetricNamespace File -MetricName FileShareQuota`

Able to test it locally and it wor

[2020-06-10 23:26] #56337 closed

[2020-06-10 23:34] nashuatek opened #56848 "Verify Client Certificate is confusingn"
Under the section "To verify the client certificate", it says to review the XML file which has either true or false.

Then the section below it as two "Follow the steps to verify the certificate" but is very confusing as to which steps should be used. It should be more clearly defined with headings such as:

"If the value is true, follow these steps to verify the certificate"
"If the value is fals

[2020-06-10 23:54] mike-urnun-msft commented on #56824
@amervitz Thank you for your feedback! We will review and update as appropriate.

[2020-06-10 23:55] mike-urnun-msft commented on #56827
@kzu Thank you for your feedback! We will review and update as appropriate.

[2020-06-10 23:56] mike-urnun-msft commented on #56839
@RonnieQuan Thank you for your feedback! We will review and update as appropriate.

cc: @vladvino

[2020-06-11 00:02] rohinkoul commented on #54567
@Mahesh-MSFT Yes even in split horizon scenario your private DNS zone has nothing to do with public DNS zone apart from sharing same name. There are separate entities.

[2020-06-11 00:02] sandou0917 commented on #56828
Connection Timed Out.

2020年6月11日(木) 7:33 KranthiPakala-MSFT <notifications@github.com>:

[2020-06-11 00:14] JamesTran-MSFT commented on #56848
@nashuatek
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-11 00:16] Karishma-Tiwari-MSFT commented on #56800
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document with more details to help with your question.

[2020-06-11 00:16] msaburnley commented on #54780
Hey, @Weychris and @Krytical13

This article currently links to the pricing page you are referencing and has that information on the page. I don't believe it is necessary to duplicate that information since the content is linking to it. Thank you for your feedback.

[2020-06-11 00:16] Karishma-Tiwari-MSFT commented on #56801
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-11 00:17] msaburnley commented on #54780
#please-close

[2020-06-11 00:17] #54780 closed

[2020-06-11 00:19] DauntlessDevOps commented on #33157
Hi All. I created an account just to respond to this because it was so frustrating. For anyone who like me, cannot or does not want to set the KeyVault to All Networks...I found a workaround. If you go to Resource Explorer and delete the following it should make your App Gateway happy again.

1. Delete the <identity> object
2. Delete the certificate that caused the failure under <sslCertificates>

[2020-06-11 00:20] Karishma-Tiwari-MSFT commented on #56806
Thanks for the question. We are currently investigating and will update you shortly.

[2020-06-11 00:20] Karishma-Tiwari-MSFT commented on #56807
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-11 00:23] Karishma-Tiwari-MSFT commented on #56814
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-11 00:24] Karishma-Tiwari-MSFT commented on #56818
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-11 00:27] Karishma-Tiwari-MSFT commented on #56821
Thank you for bringing this to our attention.
I have fixed the missing comma after tags parameter. Is there any other issue you are seeing with the template? Let me know.

[2020-06-11 00:32] SB-o-matic commented on #53855
Any updates?

[2020-06-11 00:33] SB-o-matic commented on #53855
@Bloodyairtimer , did you find your way around this?

[2020-06-11 00:43] msaburnley commented on #49902
@D-Moonesinghe

Thanks for your feedback. The article you have submitting this issue for is the overview. It's not meant to have the full instructions to create an access review and that is why it doesn't mention programs.

This doc: https://docs.microsoft.com/en-us/azure/active-directory/governance/create-access-review has the full steps of creating an access review and mentions programs.

I will

[2020-06-11 00:43] msaburnley commented on #49902
#please-close

[2020-06-11 00:43] #49902 closed

[2020-06-11 00:45] ToruMakabe opened #56850 "Resource Provider name of this feature is lower case"
If I followed this doc, then this feature would be registered as "microsoft.containerservice/AKS-IngressApplicationGatewayAddon". The resource provider name is lower-case, not common style

So, a command on this tutorial to check the state do not work.

[code]

[code]

It may not be docs issue, but could you please investigate it with the person in charge of this feature?

---
#### Document Detail

[2020-06-11 00:56] BharathNimmala-MSFT commented on #56838
@Jont-K Thank you for your query , assigning this to our document author @MingShen to further help on this.

[2020-06-11 01:22] SatishBoddu-MSFT commented on #56810
@bharatraja I have assigned the issue to the content author @kgremban for further review and update the doc as appropriate.

[2020-06-11 01:33] TravisCragg-MSFT commented on #56815
@nextorr Are you referring to an Azure VNET with IPv6 Enabled, or connecting to a VPN Gateway via  a Public IP with IPv6 enabled?

Currently, [Azure VPN Gateways (A required prerequisite for a S2S VPN) are not compatible with an IPv6 VNET](https://docs.microsoft.com/en-us/azure/virtual-network/ipv6-overview#limitations).

[2020-06-11 01:36] BharathNimmala-MSFT commented on #56844
@mvfolino68 Thank you for your query,  our team will look into it and get back to you at the earliest.

[2020-06-11 01:38] BharathNimmala-MSFT commented on #56843
@AElharouny  Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-06-11 01:38] Johnnytechn commented on #54823
The subject of this article is "[Security recommendations for Linux virtual machines in Azure](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/security-recommendations)". Maybe this article isn't appropriate to appear in the linux directory.

[2020-06-11 01:40] MikeWilcoxMicrosoft opened #56852 "az acr login --name <acrname> X11 error ?"
We are runing on a Azure ubuntu VM and the receiving the following error.  Why is X11 being called ?

$ az acr login --name mswacrname
Error saving credentials: error storing credentials - err: exit status 1, out: `Cannot autolaunch D-Bus without X11 $DISPLAY`
Login failed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-06-11 01:47] giggio opened #56854 "The "Reply URL" is missing when configuring Azure AD SSO"
The "Configure Azure AD SSO" section is missing how to fill out the "Reply Url" field.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 156e3923-74d6-432f-c5a0-b905520d4e7d
* Version Independent ID: aeca7d10-15e2-9e42-74bc-5309a5108c05
* Content: [Tutorial: Azure Active Directory integration with GitHub](https://docs.mic

[2020-06-11 01:52] MikeWilcoxMicrosoft commented on #56852
Fix: see :  https://github.com/Azure/azure-cli/issues/4843

$ cd $HOME
	$ mkdir .docker
	$ cd  .docker
  $ Create the following config.json file:
{
	"auths": {
		"azurecr.io": {
		}
	}
}

[2020-06-11 01:54] giggio opened #56855 "Section on "nameidentifier" is confusing"
The doc reads:

But there is no `nameidentifier`. I did find `http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name`. Is this is? It is not clear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 156e3923-74d6-432f-c5a0-b905520d4e7d
* Version Independent ID: aeca7d10-15e2-9e42-74bc-5309a5108c05
* Content: [Tutorial:

[2020-06-11 02:00] giggio opened #56856 "Unable to set roles, only role "Users" available"
The docs read:

But the only available role is "Users" and the dialog has the "Select Roles" dropdown disabled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 156e3923-74d6-432f-c5a0-b905520d4e7d
* Version Independent ID: aeca7d10-15e2-9e42-74bc-5309a5108c05
* Content: [Tutorial: Azure Active Directory integration with

[2020-06-11 02:27] AshokPeddakotla-MSFT commented on #56808
@lakshyanits Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2020-06-11 02:34] AshokPeddakotla-MSFT commented on #56809
@shashishailaj

[2020-06-11 02:34] AshokPeddakotla-MSFT commented on #56809
@AmitavaHazra Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-11 02:36] dcbrown16 commented on #54823
Go to "Edit" in the top right and you can see the source markup.
There is a shell page with a Linux title but all the content is coming from a common article as you can see here.

![image](https://user-images.githubusercontent.com/34466884/84338703-9cd31000-ab51-11ea-98f4-364c103d8806.png)

[2020-06-11 02:39] nikolaiblackie opened #56857 "DarkSky API no longer available"
The API referenced for testing now owned by Apple and you can't use.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e0e3850-5d11-b7c5-d402-decdc26db0a3
* Version Independent ID: 84475546-90be-883d-118b-c5be352d3bef
* Content: [Azure API management policy sample - Filter response content](https://

[2020-06-11 02:40] AshokPeddakotla-MSFT commented on #56812
@dinesh1393 Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2020-06-11 02:41] shampeter commented on #56811
Yes.  My bad.  I can confirm that the code on the page works.  I run my
code on Jupyter and seemingly the URL shown on the notebook was incomplete
or something.  If I Invoke-WebRequest the URL, I can indeed obtain the
configuration file.  Thank you for your time and attentino.

On Wed, Jun 10, 2020 at 10:55 AM suvasara <notifications@github.com> wrote:

[2020-06-11 02:47] Johnnytechn commented on #54823
So what we're going to do is to wait for updates to the article, to distinguish the support of Linux and Windows about the Microsoft antimalware, right?

[2020-06-11 02:54] sandou0917 commented on #56828
This is a Receive Port Rule of Ubuntu VM.
![image](https://user-images.githubusercontent.com/62585297/84339609-c6377e80-abd9-11ea-9975-bbac8d1de759.png)

This is a error message when access to Ubuntu VM with SSH from Azure Cloud Shell.
![image](https://user-images.githubusercontent.com/62585297/84339821-3c3be580-abda-11ea-80f8-f35008483147.png)

[2020-06-11 03:09] sujayvsarma commented on #49637
Done.

[2020-06-11 03:09] #49637 closed

[2020-06-11 03:14] bharatraja commented on #56810
BTW, here is a addl. Library I added that fixes the issue….i added libxcb1 and it fixed the issue from the autogenerated Dockerfile from model export in azure custom vision

RUN apt update && apt install -y libjpeg62-turbo libopenjp2-7 libtiff5 libatlas-base-dev libxcb1

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: SatishBoddu<mailto:notifications@github.com

[2020-06-11 03:29] oising commented on #43026
@mike-urnun-msft  It's been 6 months.

[2020-06-11 03:30] SnehaAgrawal-MSFT commented on #56841
@krispenner Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-06-11 03:38] VikasPullagura-MSFT commented on #56852
@MikeWilcoxMicrosoft
Thanks for bringing this to our attention.
I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-11 03:38] VikasPullagura-MSFT commented on #56852
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-06-11 03:40] HansonChiu1994 opened #56858 "With selected network, is it possible to stream the Azure monitor log into event hub"
I get an user requirement that the event hub must use selected network.
Thus, the 'allow trusted services' will not support from my understanding.

If I need to get the log from Azure monitor which is the diagnostics setup in the Azure Synapse, what is the possible way to do that. Or is it a technical limitation here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2020-06-11 03:40] wmpauli opened #56859 "small suggestions"
The documentation suggests to write blobfuse cfg to ~/fuse_connection.cfg, but the mount command uses /path/to/fuse_connection.cfg.

If the mount command was consistent with the earlier suggestion, users could just do copy an paste.

Also, the documentations suggests to:
sudo chown <youruser> /mnt/resource/blobfusetmp

but the mount command is suggested to be executed as sudo. At least on my Azure

[2020-06-11 03:42] dcbrown16 commented on #54823
The PR was bugging out yesterday, but today I was able to submit one (linked just above this post). You can always feel free to attempt a PR yourself, it's really easy.

[2020-06-11 03:50] VikasPullagura-MSFT commented on #46588
Linking similar issue #[56846](https://github.com/MicrosoftDocs/azure-docs/issues/56846)
Can you please add your comments in updating the document.

[2020-06-11 03:52] VikasPullagura-MSFT commented on #56846
@techbunny Thanks for the Feedback.
Similar feedback was received in past on clarifying what a new AKS cluster mean. The Feedback has been shared to the document author for updating the document on this.
However, I am linking this issue to the old issue #[46588](https://github.com/MicrosoftDocs/azure-docs/issues/46588) where PG has added clarification on this.

Below are PG comments:

"Old" or "ex

[2020-06-11 03:56] sandou0917 commented on #56828
You can connect by changing the destination of ssh-databricks-tutorial-vm to Any, so I think that it is wrong that the destination IP address is specified as Ubuntu server.

[2020-06-11 04:29] junpark12 opened #56861 "application gateway zone redundancy"
[Enter feedback here]
Hi. I wonder where can i find configuration about zone redundancy?
If i create app gateway v2, does it support zone redundancy by default? or do you support additional configuration for that?
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 702c4c56-9e3c-9234-841a-5618e8d78138
* Version Inde

[2020-06-11 04:37] SubhashVasarapu-MSFT commented on #56757
@grspencer , Appreciate your feedback. We are working on recreating the expired mail address. Apologies for the inconvenience caused. The changes will be reflected soon.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-06-11 04:37] #56757 closed

[2020-06-11 04:39] SubhashVasarapu-MSFT commented on #56811
@shampeter , Glad to hear that the issue got resolved now. We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-06-11 04:39] #56811 closed

[2020-06-11 04:49] SadiqhAhmed-MSFT commented on #56754
@rayne-wiselman FYI.

[2020-06-11 05:08] RyanHill-MSFT commented on #55642
Which Application Insights library are you using @imeya?

[2020-06-11 05:25] souravmishra-msft commented on #56856
@giggio, Thank you for reaching out, we are looking into this and will get back to you soon.

[2020-06-11 05:28] souravmishra-msft commented on #56854
@giggio, Thank you for reaching out, we are looking into this and will get back to you soon.

[2020-06-11 05:28] mumami commented on #49637
@sujayvsarma Sorry I missed the questions from last week. Do you still have those questions or we are good here? Please let me know.

[2020-06-11 05:40] werwolfby opened #56862 "GROUP BY and TOP example are confusing and lack of explanation"
It has example with TOP. But what benefit of using TOP if result is not sorted?
And this is not described, while example looks like the data is sorted by count, which is not try, and can be checked in playground.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1053c8e-5ce2-c3b4-0aae-576823d19186
* Version Independent I

[2020-06-11 05:44] santhoshbomma9 opened #56863 "Is the resource in the call correct? The default value is 20e940b3-4c77-4b0b-9a53-9e16a1b010a7."
https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/marketplace-metering-service-authentication#get-a-token-based-on-the-azure-ad-app
Is this section relevant? My first question is, does apply to both SaaS metering as well as Managed App Metering?

If not is the resource correct? the resource in SaaS metering is different here, https://docs.microsoft.com/en-us/azure/marketplac

[2020-06-11 06:07] AshokPeddakotla-MSFT commented on #56832
@PrakharSrivastav Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-11 06:09] AshokPeddakotla-MSFT commented on #56834
@jusnitlive Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-11 06:10] AshokPeddakotla-MSFT commented on #56840
@sredman Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-11 06:12] AshokPeddakotla-MSFT commented on #56842
@Weychris Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-11 06:16] maartenkools commented on #56621
Thank you @NavtejSaini-MSFT , but just to be clear, when looking at a hyperscale database in the portal, there's a pie chart for data storage with two values:
1. Used space
2. Allocated space

We're paying for allocated space then, correct?

[2020-06-11 06:25] amanmcse commented on #56775
It works the same way if we pass the policy name as part of the URL or as a parameter. Below is the screenshot where policy name is not passed as parameter but as part of the URL:

![image](https://user-images.githubusercontent.com/33834131/84291959-6b634000-ab63-11ea-8471-f831e25da178.png)

[2020-06-11 06:29] mike-urnun-msft commented on #56345
Hello @RTTrickster Thanks again for sharing this feedback and helping us drive improvements towards MS Docs! I have created a PR that updates the particular step to select the "Azure Active Directory Graph" tile instead, and once the listed author reviews the PR and approves, the change should be live shortly thereafter.

We will now proceed to close this thread. If there are further questions reg

[2020-06-11 06:29] #56345 closed

[2020-06-11 06:29] amanmcse commented on #56606
@onkarthg Have you had a chance to test it out?

[2020-06-11 06:39] kansikuy opened #56864 "Web URL Property Does Not Accept Commas"
[Enter feedback here]
I am using the Web activity to call my API; however, the Web activity will not accept commas in my URL value - It only accepts the part of the URL before the comma and ignores everything after.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34b3d465-6a2b-88ad-6e80-4fb784cd489e
* Version Independen

[2020-06-11 06:42] VikasPullagura-MSFT commented on #56834
@MashaMSFT Can you please check and add your comments on this ask.

[2020-06-11 06:43] mike-urnun-msft commented on #56259
@deyanp no worries, the answer is the same though. Event Grid is also supported through KEDA, please review: https://cloudblogs.microsoft.com/opensource/2019/05/06/announcing-keda-kubernetes-event-driven-autoscaling-containers/

[2020-06-11 06:46] santhoshbomma9 opened #56865 "Update the managed AppURL"
Should this
$managedAppUrl = "https://management.azure.com/subscriptions/" + $metadata.compute.subscriptionId + "/resourceGroups/" + $metadata.compute.resourceGroupName + "/providers/Microsoft.Solutions/applications/" + $managedappId + "\?api-version=2019-07-01"
 be

$managedAppUrl = "https://management.azure.com/subscriptions/" + $managedappId + "\?api-version=2019-07-01"

$managedappId is alread

[2020-06-11 06:47] RohitMungi-MSFT commented on #56546
Please go through this [link ](https://azure.microsoft.com/en-in/get-started/#:~:text=Learn%20to%20use%20Azure%20quickly,on%20demand%20at%20your%20convenience.)on getting started with Azure. I will go ahead and close this issue since this is not relevant to the document that the issue is raised for. Thanks!!

[2020-06-11 06:47] #56546 closed

[2020-06-11 06:49] santhoshbomma9 opened #56866 "billingDetails.resourceUsageId is not available on ManagedApp properties"
$resourceUsageId = $ManagedApp.properties.billingDetails.resourceUsageId
ManagedApp did not return any resourceUsageId, please see below image, Can you advise how to get the resouceUsageId please?

![image](https://user-images.githubusercontent.com/40445595/84353944-e84ae580-ab74-11ea-8d3e-c78d4187ad39.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2020-06-11 07:02] mike-urnun-msft commented on #56587
Hello @Astersss Broader context about YAML file and its schema are more of an Azure DevOps side of the detail and you can learn more at https://docs.microsoft.com/en-us/azure/devops/pipelines/get-started/pipelines-get-started?view=azure-devops#define-pipelines-using-yaml-syntax

[2020-06-11 07:02] ChiragMishra-MSFT commented on #56864
@kansikuy Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2020-06-11 07:06] sandou0917 commented on #56828
Sorry. I couldn't connect even if my source IP was my global IP. Currently, it is in a state where it cannot be connected unless the source and destination are Any.

[2020-06-11 07:09] RohitMungi-MSFT commented on #56625
@KelumPerera I am not really familiar about using sharepoint from python.
But I think you could try some 3rd party connectors like this [one](https://www.cdata.com/drivers/sharepoint/python/).
Since, this may require 3rd party libraries this may not be the right forum to advise, I would also recommend to start a thread here on [SO](https://stackoverflow.com/questions/tagged/azure-notebooks) for th

[2020-06-11 07:20] SadiqhAhmed-MSFT commented on #56866
@santhoshbomma9 Thanks for the question. We are actively investigating and will get back to you soon.

[2020-06-11 07:21] SadiqhAhmed-MSFT commented on #56865
@santhoshbomma9 Thanks for the feedback. We are looking into this and will get back to you shortly.

[2020-06-11 07:21] Marusyk commented on #43764
**Update**

the new version fix my problem

[2020-06-11 07:23] SadiqhAhmed-MSFT commented on #56863
@santhoshbomma9 Thanks for the comment. We are actively investigating and will get back to you soon.

[2020-06-11 07:23] TravisCragg-MSFT commented on #56392
@GermanMontanez We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-11 07:23] #56392 closed

[2020-06-11 07:32] mike-urnun-msft commented on #56416
@Ritzo90 I confirm that the sample is for OAuth v2. But it looks like the scope parameter is no longer named `resource` with AAD, as per https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-client-creds-grant-flow#get-a-token

[2020-06-11 07:35] KalyanChanumolu-MSFT commented on #56862
@werwolfby Thank you for the feedback.
As called out in the [Remarks section](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-query-group-by#remarks) of the same document, you currently cannot use GROUP BY with an ORDER BY clause. This will be available in a future release.

Once the support is available, we will update these examples to include the Order By clause

[2020-06-11 07:41] RohitMungi-MSFT commented on #56808
@lakshyanits QnAMaker cannot be created or used if its corresponding App service and search service is not available. You can try to minimize costs by using a lower pricing tier for these services if the calls from LUIS to lookup KB is minimal.

[2020-06-11 07:44] mike-urnun-msft commented on #54948
@js8080 Thanks again for sharing this feedback and helping us drive improvements towards MS Docs! I have created a PR that updates this doc per your suggestion.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-06-11 07:44] #54948 closed

[2020-06-11 07:52] ravastra commented on #56303
Hi @gs-repo,

Please confirm if the issue is resolved at your end, in that case we will close this request.

Thanks,
Ramya

[2020-06-11 07:57] bertrandpons opened #56867 "Details on Azure MySQL database - data-in replication"
Hello,

Could you please provide details on data-in replication frequency ? How is it configured, how does it work, ... ? I did not find any information regarding replication scheduling.

How does it work in the case I write into replica Azure MySQL database ? Are values synchronized with master ?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-06-11 08:04] SubhashVasarapu-MSFT commented on #56850
@ToruMakabe , Thanks for reaching out. We will investigate and update this thread.

[2020-06-11 08:07] vipulsparsh commented on #56458
@AmitavaHazra Let me know if you see that now. I will be closing this request soon, so please tag me in your next comment.

[2020-06-11 08:17] vipulsparsh commented on #56673
@memildin Can you please look into this ?

[2020-06-11 08:19] assaf-grth commented on #12701
Hi, any updates on this feature?

[2020-06-11 08:29] aurokk opened #56868 "How to scale processing of change streams without filters?"
Hello!
How to scale horizontally processing of change streams without filters?
Could you please add a code example?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32ee62ff-7042-a2d2-94d6-69189878aff3
* Version Independent ID: 4dc6fce6-b47a-cc95-ea16-b9e3e3f00c68
* Content: [Change streams in Azure Cosmos DB’s API for M

[2020-06-11 08:35] qualiit opened #56869 "Logz.io Enterprise app is not really there..."
Hi, the guide for Azure SSO is great most of the time,
but in this article, I can't find the Logz.io enterprise app anywhere
I checked it under my Azure account with no luck

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79f7ca61-d0f7-ecdb-ca0a-cdce521942cd
* Version Independent ID: 40c1f090-86f3-ae96-7011-cd3

[2020-06-11 08:43] nkumars commented on #56357
thanks @SaurabhSharma-MSFT, your explanation confirms that it logs the details but not all can be seen in Application Insights explorer but Log Explorer does (running custom queries). I can even see them now.

I can now close the issue as it gave me enough information finding and troubleshooting the issue.

[2020-06-11 08:43] #56357 closed

[2020-06-11 08:50] kummanish commented on #56245
#please-close

[2020-06-11 08:51] kummanish commented on #56245
Its already published here : https://docs.microsoft.com/en-us/azure/postgresql/howto-configure-privatelink-portal#create-a-private-endpoint

Let me know if you cannot see it.

[2020-06-11 08:57] jakub-klapka opened #56870 "Clarify SAS token generation process"
Hello,
section about SAS token generation is still quite incomplete. Missing key points are:
- HMACSHA256 signature is also URL-encoded
- URI within "pseudocode" is also URL-encoded
- Output of hash function is represented as base64 of raw binary output

The pseudocode would be quite helpful (as readers of this article are mostly programmers), but right now it's more misleading than helpful. It sh

[2020-06-11 09:02] BhargaviAnnadevara-MSFT commented on #56593
@mrbullwinkle The [Troubleshooting Logs](https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-troubleshoot-no-data#troubleshooting-logs) section might need some rework if `#4` above is true. Want to know your thoughts before making any fixes.

[2020-06-11 09:07] kaysauter opened #56871 "Secure connection with Bastion"
In my opinion, it may be worth to mention Azure Bastion here for security reasons, at least a link to https://docs.microsoft.com/en-us/azure/bastion/bastion-overview. Also, some screenshots are outdated and not showing Azure Bastion.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3034648-5a0a-d3af-5aa9-651710d4cb85
* V

[2020-06-11 09:07] AshokPeddakotla-MSFT commented on #56845
@rahg-bmake Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-11 09:08] shashishailaj commented on #56869
@qualiit Thank you for pointing this out . We will have this reviewed with content author and update the thread.

[2020-06-11 09:09] shashishailaj commented on #56855
@giggio Thank you for your query. We will investigate and update the thread.

[2020-06-11 09:16] jurajgh commented on #47255
@pvdwerf any news on this, pls? you seem to be the only source of information :)

[2020-06-11 10:10] saikumarellendula commented on #56470
below is the feature request raised. it would be very helpful to all ADF users if we can prioritize in next ADF releases

https://feedback.azure.com/forums/270578-data-factory/suggestions/40622278-support-todecimal-precision-and-scale-from-param

[2020-06-11 10:14] ld0614 opened #56872 "Global Administrator not required"
According to [This Page](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/grant-admin-consent)  Global Administrator is not the required level of permissions.  IMO use of the Global Admin role should be discouraged unless actually required as it breaks with the notion of least privileged access.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-06-11 10:16] centiqbob opened #56873 "The tree example for the grid is confusing due to use of Req"
The example shown in the documentation for tree-grid is confusing because it uses the same word multiple times in different contexts: request, Requests and 'Request' for data source, Column title and column value respectively. It also uses the key word "Kind" as a variable name, which is technically allowed because it uses upper case, but is not great for human comprehension when learning a new la

[2020-06-11 10:33] AshokPeddakotla-MSFT commented on #56566
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-11 10:33] #56566 closed

[2020-06-11 10:39] PT2911 commented on #46605
Hi @jiseli ,
When I say Key vault secret for certificate is deprecated, I was referring to below msg,
![image](https://user-images.githubusercontent.com/32224558/84374070-18d56280-abfb-11ea-8051-5e7b9987695a.png)
However in my keyvault I am able to upload certificate through the **Certificate**s option or using Import Certificate endpoint.
Due to the above deprecated msg I used certificate API whi

[2020-06-11 10:41] ii-batman commented on #56716
Hi @JamesTran-MSFT ,
I have been getting the "App Password" on and off during my testing.
Let me see if I can grab a video snip and maybe email it to you (So I dont post private date online)
Will that be ok?

[2020-06-11 10:43] Bloodyairtimer commented on #53855
Nope :(

[2020-06-11 11:08] bvorland opened #56875 "Event Hub Endpoint"
[Enter feedback here]

prod-westeuropec2-observabilityeventhubs.servicebus.windows.net does not exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a44cbeaf-af2c-ef7e-b411-24556279d898
* Version Independent ID: aaced3ee-7d7c-a9d6-a81b-b132674fa055
* Content: [User-defined route settings for Azure Databricks - Azure D

[2020-06-11 11:15] KrishnaG-MSFT commented on #56873
@centiqbob Thanks for the feedback!
Assigning @mrbullwinkle for visibility, review and document enhancement consideration as appropriate.

[2020-06-11 11:20] MarkusVi commented on #43222
This article has been retired.

#please-close

[2020-06-11 11:20] #46605 closed

[2020-06-11 11:20] #43222 closed

[2020-06-11 11:22] MarkusVi commented on #52713
We have updated and simplified this article.

#please-close

[2020-06-11 11:22] #52713 closed

[2020-06-11 11:23] MarkusVi commented on #52829
We have retired this article.

#please-close

[2020-06-11 11:23] #52829 closed

[2020-06-11 11:25] MarkusVi commented on #47960
The article has been updated.

#please-close

[2020-06-11 11:25] #47960 closed

[2020-06-11 11:25] SwathiDhanwada-MSFT commented on #56782
@techadmin1982 Thanks for your comment. However, I could see that all the examples provided in the document are correct. Can you please point out to which example are you referring to?

[2020-06-11 11:27] MarkusVi commented on #48350
We have updated the article.

#please-close

[2020-06-11 11:27] #48350 closed

[2020-06-11 11:32] atrauzzi commented on #56245
What did you change?

[2020-06-11 11:50] sujayvsarma commented on #49637
Sure do answer them when you can

[2020-06-11 11:57] nebula0248 opened #56877 "Incorrect wordings in VMSS documentation about fault domains"
The sentence "Virtual machine scale sets are created with five fault domains by default in Azure regions with no zones" is incorrect per my understanding. The number of fault domains on Azure at maximum is 3, and some regions (like East Asia) have only 2. I believe the word "fault domains" is referring to "update domains" instead. Please check. Thank you.

---
#### Document Details

⚠ *Do not edit

[2020-06-11 11:59] steveculshaw opened #56878 "Screen shots need updating"
[Enter feedback here]

Hi there

The screen shots need updating

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d454925-bb49-5db4-355c-e6f3475eb3e6
* Version Independent ID: 4bdf6bd3-13eb-b38b-7d93-f854780ee4e3
* Content: [Add authentication for securing calls to custom APIs - Azure Logic Apps](https://docs.microsoft.c

[2020-06-11 12:10] KalyanChanumolu-MSFT commented on #56868
@aurokk Thank you for reaching out.
Could you please elaborate on your use case so that we can understand your ask better?

[2020-06-11 12:23] AshokPeddakotla-MSFT commented on #56857
@nikolaiblackie Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-11 12:26] dhruv12399 opened #56879 "Internal server error 500"
ApiException: (500)
Reason: Internal Server Error
HTTP response headers: HTTPHeaderDict({'Cache-Control': 'no-cache', 'Pragma': 'no-cache', 'Content-Length': '370', 'Content-Type': 'text/plain; charset=utf-8', 'Expires': '-1', 'Server': 'Microsoft-IIS/10.0', 'X-Powered-By': 'ASP.NET', 'X-Content-Type-Options': 'nosniff', 'X-Frame-Options': 'SAMEORIGIN', 'Strict-Transport-Security': 'max-age=315360

[2020-06-11 12:29] AshokPeddakotla-MSFT commented on #56858
@HansonChiu1994 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-11 12:29] pvdwerf commented on #47255
I talked with Microsoft support and they told me that this is related to my Windows 10 image witch is Azure AD (or Hybrid) joined to the domain.

All of our devices we used for test are Windows 10 - some 1803, some 1809. All are Hybrid Azure AD Joined. We wanted to use Azure AD Conditional Access for multi factor and device compliance for VPN.

"If you run dsregcmd /status on one of your clients,

[2020-06-11 12:31] AshokPeddakotla-MSFT commented on #56859
@wmpauli Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-11 12:38] Weychris commented on #56842
Thank you. I can't tell which plans count as "Azure AD-Office 365 apps". On this page it only explicitly mentions Business Premium (old name), E3, and E5, and unless you have P1 or P2 any other plan is only Azure AD Free, which means we can only use Security Defaults, or per-user for admins only?

By contrast, this pricing page: [here](https://azure.microsoft.com/en-us/pricing/details/active-direc

[2020-06-11 12:39] MonikaReddy-MSFT commented on #56388
@twastvedt , Thanks again for bringing this to our attention. We have updated the Doc and We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-11 12:39] #56388 closed

[2020-06-11 12:46] sarathsasidharan opened #56880 "Misleading Documentation"
[Enter feedback here]
This sentence is misleading:

Step 1: Download and install software
Download and install the following:

Power BI Desktop
Simba Spark JDBC driver

This provides a wrong assumption that if you use PBI desktop you will need to download and install Simba Spark JDBC driver , which is not the case. PBI  desktop is using the internal simba driver to connect.

I was able to realize

[2020-06-11 12:54] vipulsparsh commented on #56869
@qualiit I am able to see that in my portal.
![image](https://user-images.githubusercontent.com/63580915/84387399-8dff6280-ac10-11ea-87ed-01b06d2342b3.png)

Can you confirm if you do not see in this location as mentioned in the screenshot ?

[2020-06-11 12:54] #56458 closed

[2020-06-11 12:56] vipulsparsh commented on #56761
@jeevansd Can you look into this ?

[2020-06-11 12:58] SubhashVasarapu-MSFT commented on #56714
@radoslawjakubowski , Appreciate your patience. Yes, you can do this by configuring the backend HTTP settings to override backend path with "/".  But We'd prefer using URL rewrite so it won't be applied for every request. We are working on bringing URL rewrite feature to public preview soon. Please stay tuned!

[2020-06-11 13:02] AshokPeddakotla-MSFT commented on #56767
@Trainer003 Coudl you please confirm if you have selected the correct operator value?
What is the threshold value you have specified?

![image](https://user-images.githubusercontent.com/44426435/84387943-652b9d00-ac11-11ea-8740-2e184c84af0e.png)

![image](https://user-images.githubusercontent.com/44426435/84386290-ac645e80-ac0e-11ea-9898-38327b675bec.png)

Also note that, To receive an email notif

[2020-06-11 13:06] BrianJackson opened #56881 "Maximum file size limit increase requests"
According to the service limits for a StorageV2 account, the maximum file size is 5PiB https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#storage-limits

According to this document, the maximum file size is 5TB.

You are able to create a Data Lake Gen 2 account by enabling the hierarchical file system on a StorageV2 account.  This document se

[2020-06-11 13:17] SubhashVasarapu-MSFT commented on #56861
@junpark12 , Appreciate your patience. APPGW v2 has zone redundancy by default and all you need to do is just specify the zones while deploying APPGW.
![image](https://user-images.githubusercontent.com/44890829/84389501-bdfc3500-ac13-11ea-8cd8-e196cbff2b09.png)
Zone redundancy is available only where Azure Zones are available. In other regions, all other features are supported. For more informatio

[2020-06-11 13:21] MikhailTymchukFT opened #56882 "What is the state of Azure Synapse Analytics (workspaces preview)?"
Supplemental Terms of Use say that there are 3 phases of preview programs - private preview, public preview: https://azure.microsoft.com/en-gb/support/legal/preview-supplemental-terms/

1. What is the state of Azure Synapse Analytics (workspaces preview) - private or public?
2. How to evaluate this feature?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2020-06-11 13:21] mrbullwinkle commented on #56388
@twastvedt thanks for calling this out. I am actually going to need to make some additional updates to the doc.

To answer your original question, and possibly give you more info on this behavior than you wanted:

- You are correct overriding a desktop app's roleinstance name with an empty string will not have the intended effect and the roleinstance name will still be sent.
- However, If you were