[2019-01-07 12:16] hhcakir commented on #21655
Hi SaurabhSharma,
I got this error when using single quotes on Microsoft Windows 10 [Version 10.0.17134.472]:

az keyvault secret show --vault-name 'MyVaultName' --name 'ExamplePassword'

Max retries exceeded attempting to connect to vault. The vault may not exist or you may need to flush your DNS cache and try again later.

Flush DNS "ipconfig /flushdns" dit not help.
Using double quotes solved m

[2019-01-07 12:33] AshokPeddakotla-MSFT commented on #21765
@jn-altius Thanks for the feedback!
You can check [Troubleshoot Data Factory issues](https://github.com/Huachao/azure-content/blob/master/articles/data-factory/data-factory-troubleshoot.md) and see if it helps to identify the issue.
Also, I suggest you post your query on [Azure Data Factory Forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory) for better assistance on

[2019-01-07 12:36] ChiragMishra-MSFT commented on #21761
@Liamdelee Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-01-07 12:40] dfencegit opened #21766 "Typo in certificate paths."
The paths listed in the "Perform core services certificate validation" section are incorrect, there is no "Certs" part of the path generated by the script.  Also the certificate files are not named CustomerCertificate.pfx when created by the readinesschecker so this appears misleading.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-01-07 12:55] mrbullwinkle commented on #21646
Looks like the associated TOC file that controls the left nav element is missing an href. It is possible it is an article that was retired and it just wasn't fully deleted from the TOC, or it might just be a temporarily orphaned article. I have contacted the owner of that article @bwren to confirm. We should have this resolved later today.

[2019-01-07 12:55] sergaz-msft commented on #21449
@SeaDude we are still investigating it, please allow us some more time.

If you use `layer=basic` do you have the same results?

Thanks!

[2019-01-07 12:58] accampos opened #21767 "Option does not exist anymore"
I cannot see the option "Additional local administrators on Azure AD joined devices" anymore. When I open "Device Settings" I can only see "Users may join devices to Azure AD". The question is: users that may join devices to Azure AD still becomes a local administrator?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82

[2019-01-07 13:01] biren1234 opened #21768 "ADE encryption with certificate for this does we need any additional configurations"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-01-07 13:15] sergaz-msft commented on #21559
@Futtrup87 did you try doing this on a different network? Take a look here: [Configure an IoT Edge device to communicate through a proxy server](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-configure-proxy-support)

Thanks!

[2019-01-07 13:20] jmrnilsson opened #21769 "Fractional number in code sample is incorrectly expressed"
In the section *Configuring fixed-rate sampling in ASP.NET* and sub-section *Enable the fixed-rate sampling module*.

`&lt;!-- E.g. 50 (=100/2), 33.33 (=100/3), 25 (=100/4), 20, 1 (=100/100), 0.1 (=100/1000) --&gt;`

It must be that 100 (=1/1) not 1 = (100/100). Am I right, or have I misinterpreted this paragraph.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2019-01-07 13:30] scottm123 commented on #15951
@Microsoft   Is this document current?

[2019-01-07 13:40] wesleyniels commented on #20326
Anyone, anybody, help...?

[2019-01-07 14:08] ChiefWiggum commented on #21099
@mschwa How did you resolve the issue?

[2019-01-07 14:16] imcdnzl opened #21770 "openssl install instructions"
The instructions for installing OpenSSL for Linux should say to use your package manager e.g. Ubuntu is https://stackoverflow.com/questions/3016956/how-do-i-install-the-openssl-libraries-on-ubuntu (you probably don't even need to do that). Installing manually will create security issues as it won't be kept up to date automatically, and is also quite a bit more complex.

The steps for MacOS / OS X

[2019-01-07 14:16] MGoedtel commented on #20565
@mrdfuse & @femsulu - I've just returned from holiday and catching up on things.  I'll bug this and see about getting it corrected as soon as possible.  Thank you for bringing this to our attention and my apologies for the problems it caused.

[2019-01-07 14:19] jarno3000 opened #21771 "language?"
The bottom of this page, (and only this page) seems to be in another language for me?!  I have refreshed in case but it still persists...

(Optional) Download the complete policy files
After you complete the Get started with custom policies walkthrough, we recommend that you build your scenario by using your own custom policy files. For your reference, we have provided Sample policy files.

Povrat

[2019-01-07 14:31] mattthym commented on #20188
It worked fine for me. Are you sure it is not just an issue of the directory "~/completions" not existing.

If so, try:
`mkdir /home/tim/`

Or just put it into another directory which exists:
`istioctl collateral --bash -o DIRECTORY`

[2019-01-07 14:32] MGoedtel commented on #21471
@imeya - Thanks for bringing this to our attention.  I just returned from holiday and am investigating to determine if this functionality was removed or changed.  I should have an answer later today or early tomorrow for you and will bug this document in the meantime.

[2019-01-07 14:39] SeaDude commented on #21449
Hello,
Thanks for the response. The ‘path’ object has been removed from the docs. Can I still try it with ‘layer=basic’ or...?

[2019-01-07 14:55] ChiefWiggum commented on #14520
I just found the following issue:
https://issues.apache.org/jira/browse/TINKERPOP-2090
@LuisBosquez Could you have a look at it?

[2019-01-07 15:00] PramodValavala-MSFT commented on #21745
@jasonshave The doc mentions, at the end of [this](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-setup-delegation#a-namedelegate-product-subscription-adelegating-product-subscription) section, to call the APIM REST API to register the subscription on the APIM side as well.
The link there seems to be incorrect and should be pointing to [this](https://docs.microsoft.com/

[2019-01-07 15:03] pagrenin opened #21772 "Typo in Step 5"
Should be -AlertAdmin (minus "s") vs. -AlertsAdmin

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3663e88-0fa4-cdd3-7f4c-9660f0592473
* Version Independent ID: 05e2cb42-80e3-d26f-7d32-5bb791138948
* Content: [Use PowerShell to onboard Azure Security Center and protect your network](https://docs.microsoft.com/en-us/azu

[2019-01-07 15:04] BigBadPhysicist opened #21773 "properties.desired in deployment.template.json not copied to deployment."
I created a new project with multiple modules.

I am using MQTT and added the topics and broker adress in the deployment.template.json with

    "MQTTClient": {
      "properties.desired": {
        "subcribeToTopics": "stream,ch_Z,ch_X,ch_Y",
        "mqttBrokerAddress": "mosquitto",
        "enableOutput": "true"
      }

after the autogenrated:

    "$edgeHub": {
      "properties.desired": {

[2019-01-07 15:09] BigBadPhysicist opened #21774 "Project created with VS 2017 is not usable with VS Code"
I created a project with VS 2017 following the example.
I can use the debug and deployment features from VS 2017.

If i try to open the project with VS Code I cannot debug or deploy the project because the
"Build IoT Edge Solution" is missing a module folder.

I get the error:
ENOENT: no such file or directory, lstat
'c:\foo\bar\modules'

---
#### Document Details

⚠ *Do not edit this section. It

[2019-01-07 15:09] jasonshave commented on #21745
Just added that to the query parameter list and it's working! Thank you. Do you think we need to have a note on the docs page for that parameter to suggest that `notify` is `false` by default?

[2019-01-07 15:11] Axman111 opened #21775 "Standard SSD in Preview?"
Hello at the beginning it indicates that Standard SSD is in preview. I believe Standard SSD is in GA and Ultra SSD are in preview.

Link for GA announcement for Standard SSD:

https://azure.microsoft.com/en-us/blog/preview-standard-ssd-disks-for-azure-virtual-machine-workloads/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-01-07 15:17] diberry commented on #21371
@SQLSteveT Please take a look at the updates to this page and let me know where it lacks information.

[2019-01-07 15:18] diberry commented on #21201
#please-close

[2019-01-07 15:19] PramodValavala-MSFT commented on #21745
@jasonshave Glad I could help.

I believe updating the link to the correct REST API doc should suffice since that mentions the parameters required.

[2019-01-07 15:20] diberry commented on #21058
@sodafatty Are you saying that the numbers in your results don't match what you generally think of as the correct equations for those numbers or are you saying the actual numbers for your test don't match what you think they should be?

[2019-01-07 15:21] MGoedtel commented on #21471
@imeya - This functionality still exists in Log Analytics when you select the Logs (Classic) option and has not been integrated in the new Log query experience (i.e. Logs from the left-hand menu).

[2019-01-07 15:21] diberry commented on #20746
@meghanahickey Hi Meghan, This doc is taking longer than I expected to write due. It should be available within 2 weeks publicly on the website. Would you be interested in reviewing a private version?

[2019-01-07 15:32] mchmelaroriflame commented on #16340
Hello, I would like to ask, if I understand it correctly.
Even so, that MMA agent (MS windows) is capable to join multiple workspaces, powershell cmd-let Set-AzureRmVMExtension is unable to configure that MMA agent correctly?

Thanks for info

[2019-01-07 15:32] sergaz-msft commented on #21696
Thanks for the feedback @rahulunlimited . We will better address your issue here: https://github.com/Azure/azure-iot-sdk-node/issues . Please file a new issue there and reference this one there. We will have Product Group looking into it soon.

Thanks!

[2019-01-07 15:33] sergaz-msft commented on #21696
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-07 15:33] #21696 closed

[2019-01-07 15:44] axatix opened #21776 "SLA"
In the table under column Basic SKU line SLA is link to old SLA definition https://azure.microsoft.com/en-us/support/legal/sla/virtual-machines/v1_0/ latest is https://azure.microsoft.com/en-us/support/legal/sla/virtual-machines/v1_8/.
It wil be good to have consistent SLA defintion for standard and basic. If there is number 99.99 for standard then according the link the basic with 2 vms is 99.95.

[2019-01-07 15:53] SQLSteveT commented on #21371
Thank you Dina, will revisit this today

Sent from my mobile device...

On Jan 7, 2019, at 8:18 AM, Dina Berry <notifications@github.com<mailto:notifications@github.com>> wrote:

@SQLSteveT<https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FSQLSteveT&data=02%7C01%7C%7Cb1609d7f3908459031f208d674b3540e%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C636824710883384977&sdata=

[2019-01-07 15:57] fusionet24 commented on #17899
Any update?

[2019-01-07 15:59] jeffpatton1971 opened #21777 "PowerShell Example Missing PowerShell Example"
I was interested in seeing how to send messages to ServiceBus via PowerShell, but what I got was a C# app to download, which seems mildly misleading as we already appear to have an example using C#.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6f09b0e-9e70-3c48-4706-b58820cdb761
* Version Independent ID: 3cd747fa-7b

[2019-01-07 16:02] jrinehart76 commented on #20496
Any word on this bug? I'm seeing the exact same thing.

[2019-01-07 16:05] sergaz-msft commented on #21723
Same question asked on MSDN. We will follow-up with you there: https://social.msdn.microsoft.com/Forums/en-US/fc733a46-8127-4bea-ac1c-efc2e0ed1449/bulk-import-register-device-on-azure-iot-hub-using-c-not-working?forum=azureiothub

Thank you!

[2019-01-07 16:05] #21723 closed

[2019-01-07 16:05] msangapu commented on #20326
Hi @wesleyniels ARM templates are out of scope for this document. Another user commented that "Under appSettings, set the variable DOCKER_ENABLE_CI to true". Let me know if this helps!

[2019-01-07 16:06] sergaz-msft commented on #21376
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-07 16:06] #21376 closed

[2019-01-07 16:12] mestew commented on #21138
@marioanton glad you got it sorted! Thanks for taking the time to provide feedback on Azure Disk Encryption. This is an interesting feature idea, and I want to make sure it gets directly into the hands of the engineering team. Fortunately, we've got dedicated channels for that very purpose. :) See the [Product feedback](https://feedback.azure.com/forums/216840-security-and-compliance) page. I thin

[2019-01-07 16:14] jarno3000 commented on #21771
Close and remove this please.  User error!

[2019-01-07 16:15] pcnate opened #21779 "Azure CLI example script errors, vmss extension set"
Running the az vmss extension set command results in an error.

`az vmss extension set  --publisher Microsoft.Azure.Extensions  --version 2.0  --name CustomScript  --resource-group myResourceGroupAG  --vmss-name myvmss  --settings '{ "fileUris": ["https://raw.githubusercontent.com/davidmu1/samplescripts/master/install_nginx.sh"], "commandToExecute": "./install_nginx.sh" }'`

results in error:

`Ex

[2019-01-07 16:21] tamram commented on #13057
@jlee-vi - Thanks for your feedback. My changes in regards to this issue should go live on docs.microsoft.com today - I'm sorry I didn't specify a timeline above. I can appreciate that that caused some confusion.

Both the introduction and the storage account overview topics will now contain the same table seen [here](https://docs.microsoft.com/azure/storage/common/storage-account-overview#types-o

[2019-01-07 16:21] yardbirdsax commented on #12602
I'm having the same issue as the user directly above, and my output looks the same as his.

[2019-01-07 16:30] lbergeron01 opened #21780 "Path provided in Profiler and WAD troubleshooting steps does not exist"
I'm currently trying to enable profiler with WAD and the 2 paths does not exist on my system.

The first one is in C:\Packages\Plugins\Microsoft.Azure.Diagnostics.IaaSDiagnostics

The second one simply does not exist. So where should we find plugin config file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a215e84d-f1

[2019-01-07 16:31] lbergeron01 opened #21781 "Issue in Profiler config sink config"
When configuring a second sink in the WAD, the WAD simply return that there is 2 sinks and only the first will be recognized. I think this should be updated based on the new diagnostics agent settings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 070780d5-9277-b805-aeb7-5813ca0bdb97
* Version Independent ID: 416224f5

[2019-01-07 16:32] rmarskell commented on #10286
For anyone coming here now, [here's a user voice issue](https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/34780333-bug-emulator-s-data-explorer-stops-working-if-lef) to vote on (I couldn't find if the OP created one).

[2019-01-07 16:38] jasonshave commented on #21745
Agreed about the link however the parameter speaks to "if true" or "if false" for the parameter. It doesn't mention the default behavior if you omit the parameter. My suggestions for the doc tweak is to simply add "default = false".

[2019-01-07 16:39] xyz92 commented on #21611
@femsulu Thank you!

[2019-01-07 16:43] ggailey777 commented on #21706
@ColbyTresness I assume we should document the v10 limit for node?

[2019-01-07 16:43] iainfoulds commented on #21734
Right now, all the docs remain focused on using the Azure CLI. There isn't the same level of functionality in Azure PowerShell for managing AKS clusters, which is why we don't show it. Once engineering work is done to bring parity to Azure PowerShell as with the CLI, we can look at incorporating PowerShell examples.

You're welcome to use Azure PowerShell for things like creating a service princip

[2019-01-07 16:46] Minewiskan commented on #21363
@SamirFarhat - Hi Samir. For your first question, do you actually mean step #3 of Install, when signing in to Azure to register the gateway?  Did you, or a user in your organization get an error when trying to complete this step? Is that user in the tenant AD?

For your second question, that is already answered in the description for creating a resource.
Create an Azure gateway resource
After you'

[2019-01-07 16:49] kkasalonis opened #21782 "Uploading VHD using SAS Token"
This section of the documentation is confusing.

To make the blob anonymously accessible, go to the storage account blob container where the VM image VHD was uploaded. Select Blob, and then select Access Policy. Optionally, you can instead generate a shared access signature for the container, and include it as part of the blob URI. This step makes sure the blob is available to be used for adding t

[2019-01-07 16:51] StevenLiekens opened #21783 "Downstream API permissions not presented upfront during implicit flow"
The doc states that:

This isn't the case when the application uses the implicit flow. Only permissions for the middle-tier service are presented to the user. When the middle-tier service tries to redeem the resulting token, I get an error because the user did not consent to let the middle-tier application access the downstream API.

[code]

---
#### Document Details

⚠ *Do not edit this section.

[2019-01-07 16:52] meghanahickey commented on #20746
Sure, that'd be great!

On Mon, Jan 7, 2019 at 10:22 AM Dina Berry <notifications@github.com> wrote:

[2019-01-07 16:53] StevenLiekens commented on #21783
ping @hpsin I think you know things

[2019-01-07 16:56] moojjoo opened #21784 "Guest MFA is not working"
I have followed these steps to the letter.  I have SAML application(s) and need to ensure MFA is calling the "Guests".  Am I missing something.

Basic SAML Configuration
Identifier (Entity ID)
https://gim.apps-corp-ent1-dcpdev.domain.com/initDashboard
Reply URL (Assertion Consumer Service URL)
https://gim.apps-corp-ent1-dcpdev.domain.com/initDashboard
Sign on URL
https://gim.apps-corp-ent1-dcpdev.

[2019-01-07 17:00] rwike77 commented on #19371
@Arash-Sabet  Thanks for bringing this up.  I'm updating the article to use a different CN for the certificate.

[2019-01-07 17:11] MarekLani opened #21785 "Add Use Cases for attaching and using blobs with Digital Twin objects + add sample code"
It would be great to see some use cases (besides user profile picture) for attaching blobs to objects. Ideally have also some sample code in occupancy quick start sample. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc386b42-d5a7-7e85-bb41-071ed927a6ce
* Version Independent ID: 9fc647ee-8a31-cd12-3c83-4a3c

[2019-01-07 17:12] rwike77 commented on #13224
@VaanPan Thanks for the feedback.  The article you originally referenced was replaced with https://docs.microsoft.com/azure/service-fabric-mesh/service-fabric-mesh-tutorial-template-scale-services.  This article should address your first two points.  For your third point, changing the service count is actually an upgrade operation which requires redeploying an updated template.  Not the most conve

[2019-01-07 17:17] brandonwatts opened #21786 "Data Catalog leaves dangling tag references even when column is deleted"
One issue with data catalog is that references for column-level tags still exist even when the column is deleted. The only workaround I know of is to delete all tags from a column before deleting the column itself.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cad960f-61ad-3f84-2e2b-c2d4b3630b70
* Version Independent

[2019-01-07 17:18] pcnate commented on #21779
[code]

[2019-01-07 17:18] SebastianSchuetze commented on #11379
@pricoppd the role that you need for this account can only be two differet:

* Owner
* Resource Policy Contributor

Any other role has not permissions to execute 'Microsoft.Authorization/policyAssignments/write'. Also you need to make sure that this account got this role on either a management group, that has the resources included, that you want to create / assign policies for (scope) or you do t

[2019-01-07 17:19] kobulloc-MSFT commented on #21769
@jmrnilsson Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-01-07 17:20] kobulloc-MSFT commented on #21780
@lbergeron01 Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-01-07 17:21] kobulloc-MSFT commented on #21781
@lbergeron01 Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-01-07 17:30] jeffmartinxyz commented on #18819
Hi @EstherAF, thanks for sharing our resolution here. I wanted to add one point of clarification: the "read/write" mode is only for resources.azure.com in order to prevent making changes by accident on the tool. This was not one of the factors that led to the error you and others are getting in this thread.

[2019-01-07 17:31] Karishma-Tiwari-MSFT commented on #21775
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-07 17:35] eross-msft commented on #20176
Since I haven't received any additional guidance, we will go ahead and close this issue. If there is more to add at a later time, please open a new issue. Thanks!!

#please-close

[2019-01-07 17:42] DiegoRamirez-MSFT commented on #21596
Hello @gacurtin just checking if you have any comments, else will go ahead and close this, please let me know

[2019-01-07 17:42] rwike77 commented on #19882
Hi @robinmanuelthiel, the article has changed quite a bit.  Are you still experiencing this problem?

[2019-01-07 17:43] Karishma-Tiwari-MSFT commented on #21775
@Axman111 Thanks for bringing this to our attention. I have created a PR with the update and changes will be live shortly.

[2019-01-07 17:43] Karishma-Tiwari-MSFT commented on #21775
https://github.com/MicrosoftDocs/azure-docs-pr/pull/62281

[2019-01-07 17:44] YutongTie-MSFT commented on #21709
@jlwilliamson8
Hi, to connect your QnA Maker knowledge base to the bot, please do:
Open **Application Settings** and **edit the QnAKnowledgebaseId**, **QnAAuthKey, and the QnAEndpointHostName fields** to contain the values of your QnA Maker knowledge base.

Get your knowledge base ID, host url, and the endpoint key from the settings tab of your knowledge base in the QnA Maker portal.
Sign in to Qn

[2019-01-07 17:50] shapedthought commented on #21706
Good it's not only me then...

[2019-01-07 17:50] Karishma-Tiwari-MSFT commented on #21749
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-07 17:50] rsouthm commented on #21111
Using Cloudshell (Azure Powershell) appears to be a valid work-around.    I haven’t seen a Powershell (Desktop) fix yet.

From: Karishma Tiwari - MSFT <notifications@github.com>
Sent: Monday, January 7, 2019 9:29 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rhonda South <rsouth@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Follo

[2019-01-07 17:51] Karishma-Tiwari-MSFT commented on #21760
Thanks for the question. We are currently investigating and will update you shortly.

[2019-01-07 17:54] Karishma-Tiwari-MSFT commented on #21734
@theheatDK We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-07 17:54] #21734 closed

[2019-01-07 17:56] Karishma-Tiwari-MSFT commented on #21635
@roman-turovskyy We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-07 17:56] #21635 closed

[2019-01-07 17:57] Karishma-Tiwari-MSFT commented on #21551
@imeya We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-07 17:57] #21551 closed

[2019-01-07 17:57] Mike-Ubezzi-MSFT commented on #21565
@Anmolgan81 I have not heard anything back but today is the first full week with most everyone returning from the holiday. In the meantime, can you create an entry in the [Azure SQL User Voice](https://feedback.azure.com/forums/217321-sql-database) as there is currently no related entry at this time. I hope to hear back in the next couple days.

[2019-01-07 17:58] Karishma-Tiwari-MSFT commented on #21201
@GKarmakar We will now close this issue. If there are further questions regarding this matter, please reopen tag me to reopen it and we will gladly continue the discussion.

[2019-01-07 17:58] #21201 closed

[2019-01-07 17:58] Karishma-Tiwari-MSFT commented on #21138
@marioanton We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-07 17:58] #21138 closed

[2019-01-07 17:59] Karishma-Tiwari-MSFT commented on #19983
@mganeshphani
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-07 17:59] #19983 closed

[2019-01-07 17:59] Karishma-Tiwari-MSFT commented on #13224
@VaanPan We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-07 17:59] #13224 closed

[2019-01-07 18:00] craig-martin opened #21788 "Storage Explorer requires Account Keys?"
This seems incorrect:
"Azure Storage Explorer currently uses your storage account key to access blob and queue data. OAuth access is supported for blobs."
I am able to use just an AAD user with Storage Account 'reader' and Storage Account 'Storage Contributor' with Storage Explorer.  That same user does NOT have access to the Account Keys and Storage Explorer still works, so this part of the doc s

[2019-01-07 18:02] Anmolgan81 commented on #21565
I have created a SQL user voice and it can be found here https://feedback.azure.com/forums/34192--general-feedback/suggestions/36465118-azure-sql-managed-instance-fedramp-compliance-cont

[2019-01-07 18:02] Karishma-Tiwari-MSFT commented on #21768
@biren1234 Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-01-07 18:04] hpsin commented on #21783
Thanks for pulling me in @StevenLiekens .  Can you share the request you made to trigger the initial consent flow? Looking over the logs (thank you for the correlation ID) I see a consent written from the client app directly to Graph, as opposed to the middle tier app to Graph.  I see that the known client app and requested API permissions appear to be setup correctly.

[2019-01-07 18:08] Karishma-Tiwari-MSFT commented on #21756
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-07 18:09] MarileeTurscak-MSFT commented on #21771
Thanks, @jarno3000 ! Glad you were able to get this resolved.

[2019-01-07 18:09] #21771 closed

[2019-01-07 18:10] #21775 closed

[2019-01-07 18:10] Karishma-Tiwari-MSFT commented on #21758
Thanks for the question. We are currently investigating and will update you shortly.

[2019-01-07 18:10] MarileeTurscak-MSFT commented on #21762
@tidug
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-07 18:11] Mike-Ubezzi-MSFT commented on #21597
@CarlRabeler Oracle is an available database platform that is available to be deployed from [Azure Marketplace](https://azuremarketplace.microsoft.com/en-us/marketplace/apps?search=Oracle&page=1). This specific document is applicable to Azure SQL Database but there are Azure CLI Sample Scripts for other database platforms. Customer is asking if there are Oracle Azure CLI samples available but, the

[2019-01-07 18:12] SaurabhSharma-MSFT commented on #21772
@pagrenin Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-07 18:13] SaurabhSharma-MSFT commented on #21767
@accampos Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-07 18:14] MarileeTurscak-MSFT commented on #21784
@moojjoo
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-07 18:16] mestew commented on #21111
@Karishma-Tiwari-MSFT & @szellerK Looks like CLI version 2.0.32 back in May 2018 was the version that should have made the aad client id optional. https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?view=azure-cli-latest#vm-17
I will update to the latest version, which you are running, and double check it. Thanks.

[2019-01-07 18:19] CarlRabeler commented on #21597
@craigg-msft @Mike-Ubezzi-MSFT @JennieHubbard As this is a question of scripts related to Oracle using Azure CLI and not Azure SQL Database - adding Craig and Jennie for them to address this question. Thanks, Carl

[2019-01-07 18:23] cynthn commented on #19138
@maneeshbhat21 thank you for the feedback! I've filed a pull request to update the storage tables in this article. Thanks again!

#please-close

[2019-01-07 18:36] cynthn commented on #20725
@kilasuit thanks for the feedback! Yep, there are quite a few things that we don't really cover around templates. We are going to start adding more template content over the next couple of months. Hopefully, the links that Micah provided can help in the short term :)

Do you prefer just the raw code for the .json file or a walkthrough of what each line means?

[2019-01-07 18:37] TomArcherMsft commented on #21695
@jacksonp2008 Thanks for the feedback. I've proposed your idea to the product team to get their opinion.

@femsulu #please-close

[2019-01-07 18:37] mrbullwinkle commented on #19363
@Tsonov thank you so much for bringing this to our attention. You are absolutely correct. I just merged a change to the doc to fix this it will go live by the end of day today. I also contacted our engineer who owns the apmtips blog which also replicated this error so that he is aware of the issue. Thank you for helping to make our docs better!

[2019-01-07 18:37] mrbullwinkle commented on #19363
@MicrosoftDocs/azure-cxp-triage #please-close

[2019-01-07 18:38] tjprescott opened #21789 "Image not displaying?"
After step 2, it seems like an image should be displayed. Instead I just see this:
`![Create a Traffic Manager profile](./media/traffic-manager-multivalue-routing-method/create-traffic-manager-profile.png)`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 316246fe-df69-8527-ff92-f6a04ccaf1b8
* Version Independent ID: 5c2

[2019-01-07 18:38] Mike-Ubezzi-MSFT commented on #21597
@craigg-msft @JennieHubbard (cc: @CarlRabeler) There are sample scripts available for Virtual Machines...and if Oracle runs in a VM, then Azure CLI could be possible.

[2019-01-07 18:39] BharathNimmala-MSFT commented on #19363
Thank you Michael.

[2019-01-07 18:39] #19363 closed

[2019-01-07 18:42] ravikiran-srini commented on #5643
I have defined a tumbling window trigger. How should I run the pipeline now? I see 'Trigger Now' as the only option. But it seems, if I run with 'Trigger now,' we get ISO error

[2019-01-07 18:42] conceptdev commented on #21675
@yasmin-amajeed see the [offline data sync page](https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mobile-offline-data-sync#what-is-a-local-store) for an explanation of how the Azure App Service Mobile Apps _offline sync_ feature works. It is intended as a 'local cache' for data queried from the server -- the local data store (which _may_ be SQLite) is transparent to the develo

[2019-01-07 18:43] bwren commented on #21455
Are you trying to create an alert rule in the OMS portal?  I doubt very much that would work with app() because of the validation required to the application. The OMS portal is actually being deprecated in a couple of weeks so you're going to have to move to alerts in Azure Monitor. The app() command should work there.  If you've already tried that, then I can follow up with engineering team.

[2019-01-07 18:44] #19138 closed

[2019-01-07 18:45] bwren commented on #21351
Logs (classic) is still available under Log Analytics but not under Azure Monitor. We are in the process of a lot of updates. This article has actually already been updated, just not pushed out yet.  I should show up in the next couple of weeks with the other changes.

[2019-01-07 18:45] bwren commented on #21351
#please-close

[2019-01-07 18:46] MicrosoftGuyJFlo commented on #21644
#sign-off

[2019-01-07 18:46] MicrosoftGuyJFlo commented on #21644
#please-close

[2019-01-07 18:51] Karishma-Tiwari-MSFT commented on #21749
@nealmcb Since you already had a VM with the same name, the command was trying to change the keys for that VM. That's why you saw the error- "Changing property 'linuxConfiguration.ssh.publicKeys' is not allowed."
The doc does mentions that

But I agree that it can be more clear. I have assigned the issue to the content owner to investigate and update the doc as appropriate.
@cynthn Please share yo

[2019-01-07 18:55] lbergeron01 commented on #21780
Thanks for looking into this. So little update, I've fixed some config here and finally the second folder is now visible in my system.

[2019-01-07 18:55] cynthn commented on #19196
@yohanb thank you for the feedback! I've filed a PR to update the path. Thanks again :)

#please-close

[2019-01-07 18:56] #19196 closed

[2019-01-07 18:56] lbergeron01 commented on #21781
This can be closed, after reading multiple time, with multiple colleague, we figured out that one sink is ApplicationInsights, and the other one is ApplicationInsightsProfiler.

[2019-01-07 18:57] Alberto-Vega-MSFT commented on #21774
@BigBadPhysicist the purpose of these issues is to make improvements and bug fixes for this tutorials. It seems like you were able to successfully finish this one?  If you would like to use VS Code as your main tool to develop and debug modules you might want to read: https://docs.microsoft.com/en-us/azure/iot-edge/how-to-vs-code-develop-module

[2019-01-07 18:58] MicahMcKittrick-MSFT commented on #21033
@nagarjuna1207 People are now back in office from the holidays so I will hopefully have an answer for you on this today.

@jonbeck7

[2019-01-07 18:58] ShubhaVijayasarathy commented on #21356
Event Hubs Capture holds till the Storage service is back up and writes the complete backlog to ensure that nothing or no events or messages are lost.

[2019-01-07 18:59] nealmcb commented on #21749
The command is "vm create". So the error should make sense in that context, and/or the documentation should be changed to note that vm create can also modify an existing vm, which would be a very confusing and dangerous behavior, I figure.

That --generate-ssh-keys option and note is irrelevant as I see it, and refers to the local id_rsa.pub file.  l I recall seeing the same error with and without

[2019-01-07 18:59] MicahMcKittrick-MSFT commented on #21531
Thanks for all the details @colindooley11 and thanks @aljo-microsoft for helping explain some ways to make this work.

Is there anything else needed from this issue or should I close it out?

[2019-01-07 19:00] #15879 closed

[2019-01-07 19:01] kgremban commented on #21406
@konabuta I just confirmed that yes, Azure Machine Learning on IoT Edge is still in preview. I'll be updating the documentation as soon as I hear that anything has changed.

Is there anything else I can help you with, or have we resolved this issue?

[2019-01-07 19:01] KingdomOfEnds commented on #21730
Hi @qusp66! Thank you for your keen observation. There's a PR up to refresh and improve part of this and the other articles in the Tutorial. You can first select **Control** then **Condition** or search for **Condition**. However, you cannot search for **Condition Control**. This has been updated and clarified.

[2019-01-07 19:02] amel00 opened #21790 "Adding manually added MA to sync schedule"
Any comments here on process to add a new manually added MA to the sync scheduler would be appreciated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2026376-29c3-49fe-c0e4-a766e46aab68
* Version Independent ID: 0803163d-8b43-4d27-c0ef-14db64ff2061
* Content: [Azure AD Connect sync: Scheduler](https://docs.microsoft.c

[2019-01-07 19:02] MicahMcKittrick-MSFT commented on #21694
@seanmck could you comment further on this? Is this expected?

[2019-01-07 19:06] moojjoo commented on #21784
Little more information we do have MFA Licenses and plenty of them.

[2019-01-07 19:06] MicahMcKittrick-MSFT commented on #21743
@weswigham I am not seeing this issue running the commands.

I will assign to the author to review though.

@dlepow could you take a look?

[2019-01-07 19:15] aljo-microsoft commented on #19766
@hellkama and @Liversage

My email is aljo@microsoft.com if you'd like to schedule a Skype call to resolve your confusion please message me.

I provision multiple clusters every day, with both self signed, and CA issued certs.

For self signed cluster's used to demo Dev\Test clusters, I use the following code that can be found in my repo (
https://github.com/aljo-microsoft/demo/blob/master/deploy/

[2019-01-07 19:16] weswigham commented on #21743
🤷‍♂️ I has issues running the `New-AzureRmContainerGroup` aliases on a fresh install the other day. Even if they should work, the docs should probably still be updated to the newer names, no?

[2019-01-07 19:18] StevenLiekens commented on #21783
Than can be explained by my desperate attempts to make this work. I added Graph as a required permission to the client app knowing that's not how it's supposed to work, but I had already tried everything else.

That's the part that breaks my own expectations because I _do_ have Graph listed as a required permission for the middle tier app.

The initial request:

[code]

[2019-01-07 19:19] Sammak commented on #21625
@fdashti You can use the [language customization feature](https://docs.microsoft.com/azure/active-directory-b2c/active-directory-b2c-reference-language-customization
) to change the two error messages to be identical.

One thing to note, if you have a sign up experience as part of your application, you are already exposing a way to detect the emails/usernames in use.  Having different error messag

[2019-01-07 19:23] MicahMcKittrick-MSFT commented on #21743
@weswigham valid point :)

[2019-01-07 19:23] hpsin commented on #21783
Thanks, that's what I expected, which should be fine.  Can you try it with
[code]
instead? That should trigger the Known Client Application logic (as should your original request per documentation but perhaps not implementation).

[2019-01-07 19:26] MushyMiddle opened #21792 "Types and sizes documentation lacks consistency"
The current docs for types and sizes is missing information in a lot of areas, particularly in terms of the expected CPU type and speed for each and every VM type.  Customers are paying for these resources, and should know what they're getting.  AWS does a much better, if not perfect job here.  Google doesn't seem to really try very hard.  Azure should do better.  This information should be availa

[2019-01-07 19:37] aljo-microsoft commented on #19766
+1

@Liversage @hellkama

A point of clarity in case you are not aware:

You can NOT author an ARM template to provision a KV certificate today:

https://stackoverflow.com/questions/49789360/create-key-vault-certificate-using-arm-template

Thus end to end provisioning of a secure SF cluster in Azure can not be completed with a 1 time ARM template deployment if the certificate being used isn't alre

[2019-01-07 19:39] Alberto-Vega-MSFT commented on #21773
@BigBadPhysicist Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-07 19:39] StevenLiekens commented on #21783
Thanks, I'll try tomorrow when I'm at my workplace.

[2019-01-07 19:40] YutongTie-MSFT commented on #21343
@wilsonchua20 Glad to see your problem is solved. For now we don't have any news for it, please keep eyes on the document. Thanks. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-01-07 19:40] sdgilley commented on #21069
This was resolved with https://github.com/MicrosoftDocs/azure-docs-pr/pull/61820 - #please-close

[2019-01-07 19:41] vsalvino opened #21793 "Issue connecting over SSL from Windows hosts"
The connection string specified in the docs only works on Windows 10 when using MariaDB mysql.exe client version 10.1 or lower. 10.2 and higher has SSL errors.

Connection string:
[code]
Throws the following error using MariaDB 10.2 client or higher on Windows:
[code]

For reference, the Azure MariaDB server is running version 10.2 with SSL Enforce enabled. All other options are set to defaults fr

[2019-01-07 19:41] kobulloc-MSFT commented on #21781
@lbergeron01 We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-01-07 19:41] #21781 closed

[2019-01-07 19:42] kobulloc-MSFT commented on #21780
@lbergeron01 We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-01-07 19:42] #21780 closed

[2019-01-07 19:46] YutongTie-MSFT commented on #21184
@anrothMSFT Thanks Anna!

@JacobWischnatAopen Hi Jacob, please check. Thank you for the feedback again. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-01-07 19:46] #21184 closed

[2019-01-07 19:50] yardbirdsax commented on #12602
I think this may be infrastructure related, as I opened a support case and after stopping and starting the affected VM, everything worked fine. May I suggest putting in a note as a known issue for future reference?

[2019-01-07 19:54] mike-urnun-msft commented on #21777
Hi @jeffpatton1971 Thank you for reporting this issue! We will review and make any necessary changes.

[2019-01-07 19:54] mike-urnun-msft commented on #21763
Hi @slugerrist Thank you for your feedback! We will review and update as appropriate.

[2019-01-07 19:56] marc-denman opened #21794 "Current Status"
Is this solution still in "Preview" or has it been made GA under a different name?  We're currently having some challenges in tracking down some "DNS Failures".  Upon review, I think this solution might help us so as a result, I am looking to enable it for a couple DNS servers to better understand what it will expose and if it will provide value.  Thanks.

---
#### Document Details

⚠ *Do not edit

[2019-01-07 20:00] MicahMcKittrick-MSFT commented on #21792
Thanks for the feedback! We are currently working on updating many portions of these docs to add this information.

Such as in #21033

@jonbeck7 how would you like to proceed with this issue?

[2019-01-07 20:01] BryanTrach-MSFT commented on #21479
@phillipgibson We are happy to hear that you were able to locate a solution.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-07 20:01] #21479 closed

[2019-01-07 20:02] CarlRabeler commented on #20041
@navy0333 I understand your point here. However, it goes beyond the scope or intent of this specific quickstart. This said, we are evaluating how to address your concerns more broadly. No promises, but I have a work item to discuss with our team on how to address your suggestions.
In the meantime, I am going to request that this git issue be closed.

[2019-01-07 20:02] CarlRabeler commented on #20041
@Mike-Ubezzi-MSFT please close

[2019-01-07 20:04] CarlRabeler commented on #21565
@Mike-Ubezzi-MSFT I have also raised this issue with the security team

[2019-01-07 20:06] dlepow commented on #20808
Updated article published. Thanks again @girishgouda and @maganvill
#please-close

[2019-01-07 20:07] nerddtvg commented on #21230
It looks like @SubhashVasarapu-MSFT fixed it here: https://github.com/MicrosoftDocs/azure-docs/commit/d1f6f10d113e704bfb0dee1f23fd9cf4dfe1a632#diff-c5542f2755840dbccd1460e03dcab8e8L90

[2019-01-07 20:08] #21537 closed

[2019-01-07 20:08] KingdomOfEnds commented on #21785
Hi @MarekLani! Thanks for the suggestions. The existing article describes several use-cases involving profile pictures, logging, videos, etc. I've included the Occupancy Sample source code as well. Please let me know if there are any other improvements that can be made. Thanks again!

[2019-01-07 20:08] #20808 closed

[2019-01-07 20:08] #21275 closed

[2019-01-07 20:08] jnyc commented on #21062
It's been about 3 weeks, I am literally in the middle of my training and it hasn't been changed :(

[2019-01-07 20:10] MicahMcKittrick-MSFT commented on #21062
@femsulu any contacts that could look at this sooner than later?

[2019-01-07 20:14] mike-urnun-msft commented on #21731
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04c9d43d-5bd2-87c6-2ccf-0c65ef193760
* Version Independent ID: 6bf46ebc-481f-e4ef-b269-99bf99434601
* Content: [Create your first function in Azure using Visual Studio Code](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-vs-code)
* Co

[2019-01-07 20:17] padillah opened #21795 "This doesn't look to be valid"
When I use as presented above I get an error telling me that apiVersion and dependsOn are not supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40aaccb8-19ba-168f-f5bf-65f1f5331541
* Version Independent ID: 6cdfd166-633a-50a3-2b45-cde0e991e540
* Content: [Azure Custom Script Extension for Windows](https://docs.

[2019-01-07 20:21] MicahMcKittrick-MSFT commented on #21795
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-07 20:30] curtand commented on #20547
#hold-off

[2019-01-07 20:30] lostromb opened #21796 "Can you bring back confusion network, phrase element, and IPA text representation in speech.phrase?"
The "old" speech API (based on CU services / Truman / Lobby and all that) returned very detailed recognition info in its ConversationResponse object. This data included a confusion network result containing alternates for many subphrases, and a breakdown of each recognized phrase element with timing, IPA pronunciation, and confidence info. Some scenarios (like mine) would benefit greatly from havi

[2019-01-07 20:30] TravisCragg-MSFT commented on #21766
@dfencegit Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-07 20:31] padillah commented on #21795
Yes, but I'll have to recreate it again. I've moved on (I'm trying to get
this to actually work) so it might be tomorrow.

Tom P.

On Mon, Jan 7, 2019 at 2:26 PM Micah <notifications@github.com> wrote:

[2019-01-07 20:32] TravisCragg-MSFT commented on #21789
@tjprescott Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-07 20:35] #20176 closed

[2019-01-07 20:35] #21069 closed

[2019-01-07 20:35] #21351 closed

[2019-01-07 20:35] #21644 closed

[2019-01-07 20:35] #21695 closed

[2019-01-07 20:37] prashanthmadi opened #21797 "Improve doc on last param(optional boolean) in ARRAY_CONTAINS"
ARRAY_CONTAINS (&lt;arr_expr&gt;, &lt;expr&gt; [, bool_expr])

looks like the last boolean param in above built-in function is to search partial vs complete. could you add some more description on what exactly that optional boolean param is all about.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46fe839e-e108-404c-03

[2019-01-07 20:37] Karishma-Tiwari-MSFT commented on #21760
@weyCC81
From my understanding, you are trying to get the status of Azure VM agent for a VM using Get-AzureRmVM. If that's correct, please refer to [this doc](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/agent-windows#detect-the-vm-agent).
This doc states that the following script will return a concise list of VM names and the state of the VM agent:

[code]

Let me know if yo

[2019-01-07 20:38] Mike-Ubezzi-MSFT commented on #20041
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-07 20:38] #20041 closed

[2019-01-07 20:39] MarkusVi commented on #21767
HI @accampos, is the option not there or grayed out? It should be there. Yes, the user who has joined the device becomes a local administrator. For more details, see [How to manage the local administrators group on Azure AD joined devices](https://docs.microsoft.com/en-us/azure/active-directory/devices/assign-local-admin).

[2019-01-07 20:39] krishnasingh1818 commented on #21455
From azure monitor too I got same permission error..

Thanks

On Mon, Jan 7, 2019, 12:43 Brian Wren <notifications@github.com wrote:

[2019-01-07 20:42] jason-j-MSFT commented on #21472
@linda33wj could you take a look?

[2019-01-07 20:43] #21509 closed

[2019-01-07 20:44] #21567 closed

[2019-01-07 20:49] TravisCragg-MSFT commented on #21776
@axatix Thanks for the feedback. I agree this is a bit confusing, and it can be difficult to interpret. There definitely seems to be a mismatch in Basic LBs SLAs and Virtual Machines. From what I can interpret,  the Virtual Machine SLA definition does not include or mention a Load Balancer, so the Load Balancer SLA is different for Basic SKU.

for updating the SLA link,  have assigned the issue to

[2019-01-07 20:50] Mike-Ubezzi-MSFT commented on #21733
@julielerman Agree that this is more of a general topic and not necessarily a SQL API only topic but, this document is found under the SQI API document content navigation with only a single query example which might be the only reason why it is tied to the SQL API. I am forwarding this on to the content owner (@aliuy) to review and address as appropriate.

[2019-01-07 20:54] ooteniya opened #21798 "Scale unit in maintenance mode"
In the Prerequisite section, it was specified that Microsoft advises Azure Stack operators to place the scale unit into maintenance mode during the update process. How is this done?  There is no option in the admin portal to put the entire scale unit in maintenance mode except the option to drain a node within the scale unit.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-01-07 20:57] TravisCragg-MSFT commented on #21782
@kkasalonis strangely, you can make a SAS URL for an anonymous blob, but it seems redundant. The blob will need to be anonymously accessible.

Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-07 21:00] dlepow commented on #21743
@weswigham - Thanks, and agree you have a good point. The Az module was officially released last month, so there's some work in our queue to update the related Azure PowerShell docs to use the new cmdlet names. In the meantime, to help you migrate any existing scripts you should be able to run `Enable-RmAlias` to map the old cmdlet names to the new Az module cmdlets - see [Announcement](https://gi

[2019-01-07 21:01] weswigham commented on #21743
Ahhh, ok, no - I was just installing with `Install-Module` and then using `ipmo Az` (as was mentioned in the instructions).

[2019-01-07 21:01] austingriff opened #21799 "Issue With BitBucket Team"
The 'Deployment Center' (which I assume replaced 'Deployment Options') no longer shows all 'Team' options available for my organizations BitBucket account. It is only showing one 'Personal' team option for me, but I need to select the actual organization 'Team'.. I'm assuming this has to do with a change in the permission, but it is causing issues for me. All my slots that were created before this

[2019-01-07 21:05] TravisCragg-MSFT commented on #21779
@pcnate Thanks for the feedback! this command works in Cloud Shell, but seems to have some typos to work elsewhere, it errored in my local CLI.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-07 21:08] austingriff commented on #21799
For more context. In Image 1, you can see that an existing slot (created before 01/2019) is linked to the organization/team 'parivedasolutions', but in Image 2, I am no longer able to select this as an option.. I can only select 'Austin Griffin (Personal)'

Image 1) https://ibb.co/m4rXxCT
Image 2) https://ibb.co/xsJBhJf

[2019-01-07 21:09] TravisCragg-MSFT commented on #21736
@CHDAFNI-MSFT Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-07 21:18] ekpgh commented on #21666
It looks like this was fixed 5 days ago ... but that would be before the ticket was opened. I had no idea. @themorey can you reload your page and check that it's still wrong?

[2019-01-07 21:20] Grace-MacJones-MSFT commented on #21283
@zhouchong90  unfortunately you can't  flatten the array through the portal. If you would like to see this as a feature in Azure Search , please post your feedback for product team on [Uservoice](https://feedback.azure.com/forums/263029-azure-search).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continu

[2019-01-07 21:20] #21283 closed

[2019-01-07 21:21] jason-j-MSFT commented on #21525
@andrewqit, @don4of4 is correct, there is no built in pagination feature at this time.

[2019-01-07 21:21] #21525 closed

[2019-01-07 21:30] andrewqit commented on #21525
Their is some built in pagination, it was released in Dec. However, it's limited in it's functionality.

Sent from my mobile

________________________________
From: Jason J <notifications@github.com>
Sent: Monday, January 7, 2019 2:22:06 PM
To: MicrosoftDocs/azure-docs
Cc: Andrew Bryson; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Pagination (#21525)

@andrewqit<https://github.com/andrewqit>,

[2019-01-07 21:32] Mike-Ubezzi-MSFT commented on #21686
@CamyDee Thank you for providing the additional detail, as I am now able to assign this doc-enhancement to the content owner (@ecfan).

[2019-01-07 21:33] georgewallace commented on #21758
@imeya There are limits to the output stream.  But the error you are stating sounds like it is an error being returned because of too much data being returned in Activity-Level Tracing.  Can you confirm if you are using Activity Level Tracing?  There are other limits that apply to this tracing data so want to figure out where you are hitting it so we can provide the correct answer and ensure our d

[2019-01-07 21:37] erhopf commented on #21796
@YutongTie-MSFT - This is a feature request, please assign to @LeonRomaniuk. Thank you!

[2019-01-07 21:39] YutongTie-MSFT commented on #21796
@lostromb Thanks for you feedback, I have assigned to the author for this issue. Happy New Year!

@erhopf Thank you!

@LeonRomaniuk Hi, there is a feature request about our new version, can you please check it? Thank you and Happy New Year!

[2019-01-07 21:40] brjohnstmsft commented on #21283
@zhouchong90 If you need to model hierarchical data in Azure Search, you might be interested in a new feature we're working on called [Complex Types](https://feedback.azure.com/forums/263029-azure-search/suggestions/6670910-modelling-complex-types-in-indexes). It is currently in Private Preview but a Public Preview will be available soon. Instructions for joining the Private Preview are in [this U

[2019-01-07 21:44] cooperwu opened #21801 "is possible to manage Azure resources in Azure Stack Portal?"
as titled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 928cfb1a-ffd2-cbb7-63c9-e3d5eb72e35f
* Version Independent ID: 8b9778d4-ae13-716a-3c50-ffa28b9c8e54
* Content: [Key features and concepts in Azure Stack](https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-key-features)
* Content Source: [articles/azu

[2019-01-07 21:45] ekpgh commented on #21666
#in-progress

[2019-01-07 21:45] SaurabhSharma-MSFT commented on #21655
@hhcakir I am also using the Microsoft windows 10 and able to get the results using _az keyvault secret show_
![image](https://user-images.githubusercontent.com/38112130/50795246-6f11d980-1282-11e9-9c49-72db11b237fd.png)
Which Azure CLI version you are using ?

[2019-01-07 21:46] rwike77 commented on #19371
@Arash-Sabet The updates have merged and should publish live soon.  Thanks.  #please-close

[2019-01-07 21:49] #19371 closed

[2019-01-07 21:49] jeffgilb commented on #21801
Hello, GitHub issues on docs are really meant to provide a way to give feedback on the docs and not to respond to technical requests. For technical support, I recommend you check out MSDN Azure Stack Forum: https://social.msdn.microsoft.com/Forums/ie/en-US/home?forum=AzureStack. However, the short answer to your question is no. The Azure Stack administration portal is for managing Azure Stack obje

[2019-01-07 21:49] jeffgilb commented on #21801
#please-close

[2019-01-07 21:52] TravisCragg-MSFT commented on #21025
@glevanon are you still having this issue? if so, your best bet moving forward is to open a support request. If you do not have a support plan, please Email me at AzCommunity@Microsoft.com with your Subscription ID and a link to this issue, and I will create a one-time free support request to troubleshoot this further.

[2019-01-07 21:56] divyaswarnkar commented on #21680
Thanks for your feedback. The last section of the document does cover how to retrieve the metadata added in agreement. However, I think we can improve the doc by adding the same property in metadata that we are retrieving to avoid the confusion. Adding @ecfan as well to help with updates.

[2019-01-07 21:56] SaurabhSharma-MSFT commented on #21660
@guyhorn1964 I believe it is not required to be on same subscription, however, I am assigning this to content author to investigate and update the document as appropriate.  Also, for Q2 what is the error you are getting ?
@asmalser-msft can you please help here ?

[2019-01-07 21:58] olivierbloch commented on #21214
I have pushed a new version of the pip package for the starterkit CLI tool. This issue can now be closed

[2019-01-07 22:01] SnehaGunda commented on #21588
@mawah Thanks for pointing out and glad that you have found the example for optimistic concurrency. Here are some of them:

* If you are using .Net SDK: https://github.com/Azure/azure-cosmos-dotnet-v2/blob/master/samples/code-samples/DocumentManagement/Program.cs#L398 . These are documented here: https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-dotnet-samples#document-examples

* if you ar

[2019-01-07 22:01] SnehaGunda commented on #21588
#please-close

[2019-01-07 22:29] xiaoyongzhu opened #21803 "Link broken"
Link to the batch-scoring script should be
https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/machine-learning-pipelines/pipeline-batch-scoring/pipeline-batch-scoring.ipynb
instead of
https://github.com/Azure/MachineLearningNotebooks/tree/master/pipeline/pipeline-batch-scoring.ipynb

in this paragraph "The following code is only a sample of what is contained in the ba

[2019-01-07 22:32] bwren commented on #21082
Actually, the article is correct.  The Event table holds events from Windows Event Log which uses 1 for Error and 2 for Warning. The link above is for ETW logs which appear to use different codes.

![image](https://user-images.githubusercontent.com/8323784/50797006-3d9c0c80-1288-11e9-84cc-cc6b4dc3864a.png)

[2019-01-07 22:32] bwren commented on #21082
#please-close

[2019-01-07 22:37] YutongTie-MSFT commented on #21803
@xiaoyongzhu Thanks for your feedback. I will investigate it and get back to you soon.

[2019-01-07 22:43] cherylmc commented on #21736
Hi! Global Reach is in Preview at the moment. We'll update docs when it reaches GA. We'll make a good sweep through the docs then. Thanks for the suggestion!

[2019-01-07 22:43] cherylmc commented on #21736
#please-close

[2019-01-07 22:44] TravisCragg-MSFT commented on #18933
@gcormier We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-07 22:44] #18933 closed

[2019-01-07 22:46] Mike-Ubezzi-MSFT commented on #21797
@prashanthmadi Thank you for your detailed feedback and inquiry. I will forward on to the content author (@markjbrown) to evaluate and update as appropriate.

[2019-01-07 22:50] ecfan commented on #21160
@kevinlam1, any info about their question about hidden resources deployed into their tenant or subscription?

[2019-01-07 22:54] TravisCragg-MSFT commented on #21736
@CHDAFNI-MSFT We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-07 22:54] #21736 closed

[2019-01-07 22:57] craig-martin commented on #21788
Just verified the doc is correct when AAD credentials are used.  When LiveID credentials are used then Storage Explorer does **not** require Account Key access.

[2019-01-07 23:07] MicahMcKittrick-MSFT commented on #21792
@MushyMiddle The documentation differs mostly because the platform the VM is built on is different or the targeted use of the VM is different.  Sometimes the differences are obvious and intuitive to customers (e.g. we don’t have a GPU column for SKUs that don’t have GPUs), other times they may not be as obvious (not showing performance limits for systems with highly variable performance).   Someti

[2019-01-07 23:07] #21792 closed

[2019-01-07 23:09] Mike-Ubezzi-MSFT commented on #21793
@vsalvino Thank you for providing this detailed feedback. I was successful connecting to MariaDB Server version 10.2 with the supplied Baltimore Cyber Trust CA certificate via MySQL Workbench. This is just an exercise to verify a baseline. I am working on attempting to reproduce your issue with the MySQL client. I will get back with you on my result. I did want to ask if you have an azure support

[2019-01-07 23:12] starforce opened #21807 ""Invoke-WebRequest : Unable to retrieve certificates because the thumbprint is not valid. Verify the thumbprint and retry""
Hello,
This is in regards to the previous problem I discussed  "Invoke-WebRequest : Unable to retrieve certificates because the thumbprint is not valid. Verify the thumbprint and retry" #20918.

This problem was reproduced but the solution will not work because according to DigiCert, I cannot get a SSL cert on any Microsoft Domain.

Hello I just tried registering my Service Fabric Cluster through

[2019-01-07 23:14] bwren commented on #20868
Yes, this is Log Analytics.  These are actually some new terminology changes that we were testing and accidentally got pushed out.  Working on rolling them back now.

[2019-01-07 23:14] bwren commented on #20868
#please-close

[2019-01-07 23:17] #21588 closed

[2019-01-07 23:21] YutongTie-MSFT commented on #21803
@xiaoyongzhu Hi Xiaoyong, I have updated the two links. You should see the changes shortly. Thank you.

[2019-01-07 23:21] #21801 closed

[2019-01-07 23:22] themorey commented on #21666
Confirmed that the link is working now.  Thanks!

On Mon, Jan 7, 2019 at 4:45 PM Erin Kelly <notifications@github.com> wrote:

--
Your pal,
Jerrance

[2019-01-07 23:22] Karishma-Tiwari-MSFT commented on #21082
@SHANE0MAC We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-07 23:29] fariazz opened #21808 "This doesn't work as per ticket [REG:118121126002121]"
As per ticket [REG:118121126002121] , this functionality is currently broken and hence you should update this page to let people know that CDN Analytics don't currently work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fcb610fc-6d66-a9a1-703a-ea027359d56f
* Version Independent ID: ed99a3e6-0635-0024-2044-921fdc8eeef

[2019-01-07 23:30] SnehaGunda commented on #21206
#please-close

[2019-01-07 23:31] kevinlam1 commented on #21160
At the moment the deployed components are opaque.

[2019-01-07 23:35] MicahMcKittrick-MSFT commented on #21807
@starforce please just continue the conversation you had started on your other issue #20918

That way we do not have to work on multiple issue links for the same problem/ user

CC @hrushib @aljo-microsoft

[2019-01-07 23:35] #21807 closed

[2019-01-07 23:37] starforce commented on #21807
@MicahMcKittrick-MSFT  How do you un-close an Isssue?

[2019-01-07 23:38] ecfan commented on #21160
@kevinlam1, thanks for your responses!
@mganeshphani, if you have other questions, feel free to open a new GitHub issue. Will ask moderators to close out this thread.

#please-close

[2019-01-07 23:38] Adam-Smith-MSFT commented on #21788
@craig-martin thanks for reaching out, what are you specifically referring to by LiveID credentials ?

[2019-01-07 23:39] MicahMcKittrick-MSFT commented on #21807
@starforce I reopened your other issue for you.

[2019-01-07 23:39] mx-iao commented on #21209
Hi @hukun01, by default Azure ML expects the docker image to have conda installed and added to the PATH variable. If you don't need this, to get around the "conda not found" error please try adding this line after you have created the estimator:
`estimator.run_config.environment.python.user_managed_dependencies = True`

[2019-01-07 23:40] rahulunlimited opened #21809 "Error Creating Databricks ApplianceManagedResourceGroupMismatch"
While creating the Databricks in the WestUS2 location, I am getting the below error

The given managed resource group '/subscriptions/5f454d76-f1a1-4e10-ba09-e6cc9296f7e2/resourceGroups/databricks-rg-vlrdatabricksws-q577uhutntsmy' did not match that in the existing appliance definition '/subscriptions/5f454d76-f1a1-4e10-ba09-e6cc9296f7e2/resourceGroups/databricks-rg-vlrdatabricksws-oaksufds4ed5w'.

[2019-01-07 23:40] Grace-MacJones-MSFT commented on #21160
We will now proceed to close this thread.

[2019-01-07 23:40] #21160 closed

[2019-01-07 23:42] vsalvino commented on #21793
Thanks - I will try out MySQL workbench and see what the results are. I have never used it but will give it a try. It is possible that the problem is a bug in the mariadb client.

I do not have a support plan. This is not a big issue as I am able to connect with other versions of the client or from other Linux systems. But it seemed like a bug worth reporting.

To reproduce:
* Download and install

[2019-01-07 23:45] mattbriggs commented on #21782
@kkasalonis thanks for drawing my attention to this bullet point. I've cleaned the language somewhat. I also removed the optional step since the reason you would want to use this option is unclear to me. I am following up with the technical, but in the meantime I think this bit should be less ambiguous. Thanks again! #please-close

[2019-01-07 23:45] cherylmc commented on #20915
Updating now. Thanks!

[2019-01-07 23:45] craig-martin commented on #21788
My Microsoft 'Home' account (MSA?) so craigMartin@live.com is assigned 'reader' and 'storage blob contributor' then is able to use Storage Explorer.
If I assign the same roles to an AAD account then Storage Explorer requires access to the Account Keys on the storage account.

[2019-01-07 23:47] Adam-Smith-MSFT commented on #21788
Ah got it :),  so the documentation is still correct in this case ? if not please let me know how we can improve it, otherwise let me know and i can close the case on your behalf.

[2019-01-07 23:49] MarileeTurscak-MSFT commented on #21651
Thanks, @ttilton . I have re-opened issue #21040 and am closing this as a duplicate.

[2019-01-07 23:49] #21651 closed

[2019-01-07 23:50] seanmck commented on #21694
We don't support WS 2019 yet and now that it's the latest LTSC, the doc is no longer accurate.

@mani-ramaswamy: can you take care of updating it to call out that only the WS 2016 LTS is supported at the moment.
@jluk FYI.

[2019-01-07 23:55] mattbriggs commented on #21672
@agregacontabil Thanks for your feedback. did @TravisCragg-MSFT's feedback help? Are you still having an issue? #in-progress

[2019-01-07 23:56] sdgilley commented on #20340
This was fixed by https://github.com/MicrosoftDocs/azure-docs-pr/pull/60455
#please-close

[2019-01-07 23:56] starforce commented on #20918
Hello, I really need to get backup going for my  .NET CORE 2.0 Stateful  apps and so far the suggestions i received here are not working

**Begin Issue below:**

Hello I just tried registering my Service Fabric Cluster domain name through DigiCert and could not,

I just tried to secure a CERT for my Service Fabric Cluster (http://zixtysservices.eastus2.cloudapp.azure.com/) ,but  According to DigiC

[2019-01-07 23:57] craig-martin commented on #21788
Unfortunately the doc is correct and the scenario is still not supported.

[2019-01-07 23:57] #21788 closed

[2019-01-08 00:00] femsulu commented on #21062
pinging @johnkemnetz and @msvijayn to see if we can get traction on this doc enhancement request.

[2019-01-08 00:01] femsulu commented on #21062
adding @msvijayn

[2019-01-08 00:02] MarileeTurscak-MSFT commented on #21040
Thanks for the feedback. I am looking into this with the product team and will update the thread when I hear back.

[2019-01-08 00:04] MarileeTurscak-MSFT commented on #21632
Thanks, @Pratik-Gautam . I have assigned this issue to the content author to update as appropriate.

[2019-01-08 00:07] jluk commented on #21694
@dlepow can we get this statement updated to reference WS 2016 specifically? When Mani's team gets 2019 supported or snapping to LTSC it can get reverted back.

[2019-01-08 00:08] brunoscota commented on #21571
I have the same question

[2019-01-08 00:18] Mike-Ubezzi-MSFT commented on #18726
@mcurko We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-08 00:18] #18726 closed

[2019-01-08 00:21] dlepow commented on #21639
@phatcher - Thanks for the feedback on this article! I added a sentence about needing write permissions to the AAD tenant in order to grant the role assignment, as @MicahMcKittrick-MSFT suggested.
#please-close

[2019-01-08 00:22] YutongTie-MSFT commented on #21803
@xiaoyongzhu
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-01-08 00:22] #21803 closed

[2019-01-08 00:34] yzheng-msft commented on #21571
At GA, we will support prefix and suffix. However, there is no plan to support wildcards at this moment.

[2019-01-08 00:36] yzheng-msft commented on #21641
We plan to add new filters and actions to the policy continuously. Version is a way for us to manage backward compatibility.

[2019-01-08 00:37] yzheng-msft commented on #21374
We plan to add a filter for suffix at GA timeframe.

[2019-01-08 00:40] YutongTie-MSFT commented on #20881
@tchmiel We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-08 00:40] #20881 closed

[2019-01-08 00:44] Karishma-Tiwari-MSFT commented on #21794
Thanks for the question. We are currently investigating and will update you shortly.

[2019-01-08 00:44] xyh1 commented on #18198
#please-close

[2019-01-08 00:45] MashaMSFT commented on #19420
@phatcher , thanks for your feedback! I added language to the first step to specify selecting the checkbox. Is this the clarity you were hoping for? Thanks!

From the doc:
In the Azure portal, select your SQL server and then click Manage Backups. On the Configure policies tab, select the checkbox for the database on which you want to set or modify long-term backup retention policies. If the checkb

[2019-01-08 00:46] MGoedtel commented on #21471
#please-close as the question has been answered and the doc issue bugged.

[2019-01-08 00:47] Karishma-Tiwari-MSFT commented on #21720
@dlepow Would you be able to confirm if there is an update in versions and if doc needs to be updated. Thanks. :)

[2019-01-08 00:50] curtand commented on #19985
Hi @anwarmahmood1  I'll take this to the PM right now. I was out of the office. Thanks!

[2019-01-08 01:17] MashaMSFT commented on #19034
Hi @DMoonesinghe , thanks for your feedback! The article this issue is opened against has been replaced with https://docs.microsoft.com/en-us/azure/sql-database/sql-database-auto-failover-group , which states " Whether you use manual or automatic failover activation, failover switches all secondary databases in the group to primary. After the database failover is completed, the DNS record is autom

[2019-01-08 01:18] cherylmc commented on #20915
#please-close

[2019-01-08 01:22] okaicomputer opened #21814 "Documentation incomplete"
This documentation states "This article is focused primarily on expanding the OS disk of the VM...".  Unfortunately, it doesn't actually describe what happens with Server 2016 in the Azure environment.  The C drive is immediately adjacent to a system partition.  The C drive can't be extended to the Unallocated space because of this.  The documentation needs to warn users about this, and, provide a

[2019-01-08 01:30] #21471 closed

[2019-01-08 01:30] cgillum commented on #21724
@gpminsuk Agreed that the current wording can be misleading. I've opened a PR to rephrase it. Here is the new wording I'm proposing (changes in _italics_):

[2019-01-08 01:38] curtand commented on #20547
Hi @colinrippeyfinarne
I'm working this right now with the PM. I'll update this issue with events. Thanks!

[2019-01-08 01:40] BryanTrach-MSFT commented on #21481
@wahyuen As far as I am aware, it is not possible to run classic mode with serverless.

As you suggested, the best practice at this time would be to create two separate services to handle each component in order to get the best of each mode.

[2019-01-08 01:40] #21481 closed

[2019-01-08 01:41] #21724 closed

[2019-01-08 01:44] artisticcheese commented on #21758
So design is. There is graphical runbook which in turns calls powershell runbook which returns JSON file as ouput. Below is output which is seen in graphical runbook when detailed activity-level tracing is enabled.

[code]

Below activity which is being called from graphical runbook
[code]

[2019-01-08 01:44] sodafatty commented on #21058
@diberry Sorry, it was my mistake. Cause when calculating the Precision and Recall, we use the 'score' as a filter. So it no longer a problem now.
Thanks for all your support. I think this issue can be closed now.

[2019-01-08 01:45] artisticcheese commented on #21758
Specifically addition of  `$azureVM | add-Member -MemberType NoteProperty -Name "Name" -Value $currentVM` is what brings this behavior since it greatly inflates returned JSON file (to aroun 5 MB in my case)

[2019-01-08 01:54] LeonRomaniuk commented on #21796
Yes this is a known issue. We are already tracking this as part of future work. Can we close this out please?

Thanks
Leon

[2019-01-08 01:57] genlin commented on #21340
@cregnier The article is updated now: https://docs.microsoft.com/en-us/azure/virtual-machines/troubleshooting/troubleshoot-stuck-updating-boot-error. I will process to close this issue. Feel free to reopen it if there is any additional comment or feedback.

#please-close

[2019-01-08 01:57] blarsonrp opened #21815 "more detail around "https only""
How does "https only" work? Is it a rewrite rule? Does it edit your web.config file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8dfb8f30-3236-ad55-eabf-6940a7e16329
* Version Independent ID: 8f4385a4-9ac2-38da-d243-ed3c00b0fd36
* Content: [Bind existing custom SSL certificate - Azure App Service](https://docs.micro

[2019-01-08 01:58] futurexpe opened #21816 "Deploy a module"
All the steps before this succeed and I can see the edgeAgent running on the edge device. But when I deploy the Module to the device from Azure portal, I have "Yes" in all the Specified in deployment column but all the "Reported by device" column entries are "No". How can I verify that the device connection is made properly, I have made sure the connection string was correct during the creation, t

[2019-01-08 01:59] LeonRomaniuk commented on #21796
Yes, this is a known issue. I added a comment.

How do I close or reassign this issue?

From: YutongTie-MSFT <notifications@github.com>
Sent: Monday, January 7, 2019 1:40 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Leon Romaniuk <leonro@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Can you bring back confusion network, phrase e

[2019-01-08 02:01] LeonRomaniuk commented on #21796
Hi Leon,

I can help you with it. Do you want to close it or who you want to reassign?

Regards,
Yutong

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Leon Romaniuk <leonro@microsoft.com>
Sent: Monday, January 7, 2019 5:59 PM
To: MicrosoftDocs/azure-docs; MicrosoftDocs/azure-docs; Erik Hopf; Yutong Tie; Logan Stromberg
Cc: Mention
Subject: RE: [MicrosoftDocs/az

[2019-01-08 02:03] LeonRomaniuk commented on #21796
Just close it please.

Thanks
Leon

From: Yutong Tie <Yutong.Tie@microsoft.com>
Sent: Monday, January 7, 2019 6:01 PM
To: Leon Romaniuk <leonro@microsoft.com>; MicrosoftDocs/azure-docs <reply@reply.github.com>; MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>; Erik Hopf <Erik.Hopf@microsoft.com>; Logan Stromberg <lostromb@microsoft.com>
Cc: Mention <mention@noreply.github.com>
Subject: Re:

[2019-01-08 02:09] LazarusX commented on #21773
Hi @BigBadPhysicist, thanks for reporting this issue!

Could you share your full deployment.template.json with sensitive information redacted? We will try reproducing this issue.

[2019-01-08 02:13] aljo-microsoft commented on #20918
@starforce and @MicahMcKittrick-MSFT
First thank you for your patience and persistence with ensuring we provide accurate information.

You are correct that only MSFTE like myself can provision a DNS name for any MS Azure records.

So you will need to create a DNS alias for your domain, and how is subject to your architecture:

If your management endpoint API is exposed by your Public IP for your l

[2019-01-08 02:15] vetrivelmp opened #21817 "How to Add Tags to api of APIM via powershell script"
$DebugPreference="Continue"

$ApiMgmtContext = New-AzureRmApiManagementContext -ResourceGroupName "testresource" -ServiceName "Testservice"
$api=Import-AzureRmApiManagementApi -Context $ApiMgmtContext -SpecificationFormat "Swagger" -SpecificationPath "C:\testscript\testiamapi.json" -Path "apis1"

$Tags = 'TestTag', 'PowershellTag'
Set-AzureRmApiManagementProperty -Context $ApiMgmtContext -Property

[2019-01-08 02:18] artisticcheese commented on #21758
I had to enable detailed logging since job otherwise just fails 3 times and I can not find out why. There is no additional information available

[2019-01-08 02:25] bl00apple opened #21818 "Why is there a difference between the Iteration Prediction and Quick Test Prediction"
I was looking through the Training images in my Iteration page.
An image was supposed to be predicted as 'check' but it predicted it as 'striped'(the 'striped' probability was 83%)
So, I copied the image url of that image, and ran it trough the 'Quick Test'.

On the 'Quick Test', it correctly predicted the image as 'check' and the probability was 99%.
Why is it that even if I use the same image, t

[2019-01-08 02:45] Qq20180503 commented on #21556
@SubhashVasarapu-MSFT Thank you for the help, I am looking forward to the guidance.

[2019-01-08 02:46] markarnolditpro commented on #9639
Appears to be a preview here:  https://www.nuget.org/packages/Microsoft.Azure.Cosmos.Table/0.10.0-preview

[2019-01-08 02:47] markarnolditpro commented on #9639
More info here:  https://docs.microsoft.com/en-us/azure/cosmos-db/table-sdk-dotnet-standard

[2019-01-08 02:49] haveyoumetcp opened #21820 "Needs example"
Would be good to have an example of the URI.  Mainly around the File System and Account Name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bec873ed-05d0-26ef-8243-e8af7b339106
* Version Independent ID: 3ff39561-6535-72a1-2d5f-13ccb6d6965f
* Content: [Use the Azure Data Lake Storage Gen2 Preview URI](https://docs.micr

[2019-01-08 03:07] starforce commented on #20918
@aljo-microsoft   @MicahMcKittrick-MSFT

I don't know what this means below. Please provide an example.  Is this an ARM script, Powershell? Where would i make this change after setting up my Alias.  Are you sure this is going to work?

**With your DNS alias mapped to yours clusters management IP, you can declare your management endpoint cluster property to use your DNS alias FQDN.**

E.G.

 **"man

[2019-01-08 03:17] Neo-J commented on #21808
+1
If you try to retrieve CDN log data from core Analysis service, you will get "400 error" because some of the fields in the log file could not be resolved.
![](http://ww1.sinaimg.cn/large/709d856egy1fyz09b0n4xj20iy07ljss.jpg)

[2019-01-08 03:21] rahulunlimited opened #21821 "Value for <file-system-name>"
spark.conf.set("fs.azure.account.key.&lt;account-name&gt;.dfs.core.windows.net", "&lt;account-key&gt;")
dbutils.fs.ls("abfss://&lt;file-system-name&gt;@&lt;account-name&gt;.dfs.core.windows.net/")

In the code snippet about, how do we get the &lt;file-system-name&gt; values. Should &lt;file-system-name&gt; be created before the above line.

---
#### Document Details

⚠ *Do not edit this section. I

[2019-01-08 03:46] dcbrown16 opened #21822 "Use of 0.0.0.0/0"
The default rules are listed with 0.0.0.0/0 in the source or destination in some cases. The note says that this "represents all addresses", which is true, but it conflicts with the current display and behavior in the Portal. Looking at the default rules on an NSG I created, they all list "Any" in this location.
The major issue is that you cannot actually create rules by specifying the CIDR block 0

[2019-01-08 03:49] SumanthMarigowda-MSFT commented on #21821
Thanks for your question. We are checking on this and will respond to you soon.

[2019-01-08 03:50] SumanthMarigowda-MSFT commented on #21820
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-08 04:08] SubhashVasarapu-MSFT commented on #20915
@zhalu We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-08 04:08] #20915 closed

[2019-01-08 04:20] neeleshray commented on #21757
Try the following with your Yammer Application (if you want to disable MFA for all the Users in your Tenant):

In my test environment, I have a GA for which I created a Test Instagram Account.
Then I created a MFA Test Policy, where while selecting the Applications - I unchecked the Instagram Application, however left the rest of the Applications checked.
![exclude mfa 1](https://user-images.githu

[2019-01-08 04:35] AjayKumar-MSFT commented on #20519
@nickwalkmsft, Assigned to Jason for providing further assistance on this issue.

[2019-01-08 04:50] nealmcb opened #21823 "When will we get Python code samples?"
I see Node, .NET and Java examples now.
Python would be a great addition.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40462fee-eb9e-5874-35b8-26d4605e390f
* Version Independent ID: bccb7915-dca2-7f10-9ccc-33fdf26baf65
* Content: [Node.js tutorial for the SQL API for Azure Cosmos DB](https://docs.microsoft.com/en-us/

[2019-01-08 05:15] rishabh0202 opened #21825 "Setting ADLS Gen2 as primary or additional Storage Account in On Demand HDInsight cluster"
Setting ADLS Gen2 as primary or additional storage in On Demand HDInsight Cluster

[2019-01-08 05:20] vsalvino commented on #21793
After further debugging, and after looking deeper into the mariadb connector source code, it appears there could potentially be an issue either with the server certificate, or with schannel.

When using a mysql client compiled with the MariaDB C connector using schannel, the certificate will not be verified. Simply not specifying the `--ssl-ca` from Windows 10, and replacing with `--ssl`, will act

[2019-01-08 05:24] rahulunlimited opened #21826 "Config values are in incorrect format for Direct access with OAuth"
The separator on the below config is somewhere : and somewhere , . I think the separator should be comma.
Also, the steps to create App Service and get the values missing on the document.

spark.conf.set("fs.azure.account.auth.type.&lt;account-name&gt;.dfs.core.windows.net": "OAuth")
spark.conf.set("fs.azure.account.oauth.provider.type.&lt;account-name&gt;.dfs.core.windows.net", "org.apache.hadoop

[2019-01-08 05:41] AshokPeddakotla-MSFT commented on #21214
Thank you everyone for following up on this one.

@remware Please check the above suggestions. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-08 05:41] #21214 closed

[2019-01-08 05:41] rishabh0202 opened #21828 "Setting ADLS Gen2 as primary or additional Storage Account in On Demand HDInsight cluster"
ADLS Gen2 is basically a storage account which combines the security and hierarchy features of ADLS into Blob Storage. As of now I cannot find the option of ADLS Gen2 linked service in primary or additional storage account in On Demand HDInsight Cluster

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc24ebe8-5309-3143-

[2019-01-08 05:41] #21825 closed

[2019-01-08 05:50] jlee-vi commented on #13057
Thanks!

[2019-01-08 05:56] LeonRomaniuk commented on #21796
Sure.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Leon Romaniuk <leonro@microsoft.com>
Sent: Monday, January 7, 2019 6:03 PM
To: Yutong Tie; MicrosoftDocs/azure-docs; MicrosoftDocs/azure-docs; Erik Hopf; Logan Stromberg
Cc: Mention
Subject: RE: [MicrosoftDocs/azure-docs] Can you bring back confusion network, phrase element, and IPA text representation in spe

[2019-01-08 06:01] SubhashVasarapu-MSFT commented on #21808
@fariazz Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2019-01-08 06:03] SubhashVasarapu-MSFT commented on #21822
@dcbrown16 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-08 06:05] jlee-vi opened #21831 "Is there really a Premium Access Tier?"
Hi Team,

I'm aware of the Premium *Performance Tier*, but is there also now a Premium *Access Tier*?

This article seems to suggest that there is a Premium Access Tier, which I believe is misleading. When configuring through the portal, Premium is in fact selected as a Performance Tier.

Also the blog announcement of this functionality (https://azure.microsoft.com/en-us/blog/introducing-azure-pre

[2019-01-08 06:07] rahulunlimited commented on #21809
This one seems to be resolved now. Please close.

[2019-01-08 06:07] #21809 closed

[2019-01-08 06:07] jakaruna-MSFT commented on #21814
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-08 06:14] johndowns commented on #20150
Just confirming that this has now been fixed. Thanks for looking into this!

[2019-01-08 06:27] kazshi opened #21837 "missing several resource types"
Several resource types are missing from the list, Document DB, Load balancer, Media service, Service Bus, etc. for example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b92884e-4bca-47ca-9d8e-4c29c8169b36
* Version Independent ID: db3ee172-6788-dc57-c56e-95156023373b
* Content: [Supported Resource Types through Azur

[2019-01-08 06:31] dcbrown16 commented on #21744
Thanks so much, @ManojReddy-MSFT!
What about password hash sync? Can that also be used in one domain with ADFS used in another domain?

[2019-01-08 06:35] weyCC81 commented on #21760
It goes in this direction, may i have to go around the issue i am trying to solve.

Environment:
- Azure Stack in Version 1808 or 1809
- Server 2016 Datacenter, Build 10.0.14393.2068
- Azure VM Agent, Version 2.7.41491.888 (WindowsAzureGuestAgent.exe & WaAppAgent.exe)

Target
- Verifiy if the Agent is running correctly after restore

Scenario:
We restored a VM in Azure Stack, which hasn't been dep

[2019-01-08 06:39] imeya opened #21840 "Set a query-based alert"
I want to set an alert which is that when the requests failed rate is greater than 10% in the last 24 hours, I can receive the alert. how can I achieve that?

my query like below:

exceptions
| where timestamp >ago(24h)
| summarize exceptionsCount = sum(itemCount) | extend t = "" | join
(requests
| where timestamp >ago(24h)
| summarize requestsCount = sum(itemCount) | extend t = "") on t
| project

[2019-01-08 06:40] johndowns commented on #20150
Actually I spoke too soon. The metrics are published and are now visible on the UI, but dimensions aren't shown. Again the issue seems to be limited to storage accounts. Should I reopen this issue or create a new issue @anirudhcavale?

[2019-01-08 06:46] ChiragMishra-MSFT commented on #21058
@diberry Thanks for your inputs.

@sodafatty I will proceed to close the issue now. Feel free to still comment if you want any more information.

[2019-01-08 06:46] #21058 closed

[2019-01-08 06:47] angoyal-msft commented on #21823
Hi @nealmcb

Thanks for your concern, I have assigned this issue to the Author of this document, She would be the better person to answer this.

Please let us know if you need further clarifications.

Regards
Anurag Goyal

[2019-01-08 06:48] sanjaiganesh opened #21842 "Sample resource group names are same"
just a minor issue.. In the section below, the sample resource group names mentioned for the 2 groups that AKS create are same.. I am sure they would be different.
 "Why are two resource groups created with AKS"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d501ff67-9208-8bcb-e8df-f09e9b16a802
* Version Independent ID

[2019-01-08 06:49] jlee-vi opened #21843 "Container Service Icon"
Hi Team,

Is the icon used in the Blob Storage Resources section for Containers, actually the Azure Container Service icon?

Whilst I appreciate this may not seem like a big deal, I still think it's worth questioning whether it's appropriate to use an icon that represents an entirely separate service here.

What do you think?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-01-08 06:54] SumanthMarigowda-MSFT commented on #21826
@rahulunlimited Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-08 06:57] ManojReddy-MSFT commented on #21744
@dcbrown16 You can definitely have password hash sync enabled along with federation. You can also have password hash sync enabled for all the domains as a backup method for authentication. Federation is not affected by enabling this feature.

If you want to implement SSO with password hash sync then the restrictions and the steps are the same as passthrough authentication. This is described in the

[2019-01-08 06:59] YASWANTHM-MSFT commented on #21831
@jlee-vi ,Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-08 07:12] SadiqhAhmed-MSFT commented on #21837
@kazshi Thanks for the comment! We will have this investigated by the content owner and update as appropriate.

@bwren, FYI. Could you take a look at this and provide an update please?

[2019-01-08 07:43] jakaruna-MSFT commented on #21814
@okaicomputer I followed the document with windows server 2016 Datacenter. Though C drive is adjacent to the System partition, I was able to extend C drive to the new Size.
Please share your error messages so that we can find out the reason for that error.

[2019-01-08 07:43] vetrivelmp commented on #21817
I am getting error

New-AzureRmResource : ResourceNotFound : Tag not found.

[2019-01-08 07:43] AshokPeddakotla-MSFT commented on #21828
@rishabh0202 Thanks for the feedback! We are currently investigating and will update you shortly.
Can you please link the document that you are referring to?

[2019-01-08 07:45] AshokPeddakotla-MSFT commented on #21816
@futurexpe Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-08 07:46] KetanChawda-MSFT commented on #21817
@vetrivelmp As I mentioned, Tag name should be already there in the Tags section of your APIM as shown below:

![image](https://user-images.githubusercontent.com/28587628/50816751-88c92480-1347-11e9-90ac-f337bf2b9e01.png)

[2019-01-08 07:49] wilsonchua20 opened #21844 "java code wont work part 2"
hello, sorry for the confusion... fixing network did not solve my earlier problem, would it be okay to know the ip address of your uri: westus.api.cognitive.microsoft.com ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3604fe7e-46a3-6f5b-41e0-d3e69e01c8ae
* Version Independent ID: 9415c8a5-177e-fe11-7198-3d97ed438dc8

[2019-01-08 07:52] guyhorn1964 commented on #21660
I don't know how to export all these errors and warnings. About 4 errors and 30 warnings.

I think that the author better try it himself using the latest software like me. That is Windows srever 2018 and Visual Studio 2017. It will also help if he will detail which components of the VS 2017 should be installed. VS 2015 is not even available for download and VS 2017 is very different. Time for a th

[2019-01-08 07:58] Futtrup87 commented on #21559
I tried this on two different PC's with the same result.
Runnung Windows 10, and Docker configured for using Windows Containers.
About a month ago i deployed this on the same two pc's on the same two networks, and it worked like a charm. I can see this Quickstart documentation for Windows have changed 12/31/2018. I'm guessing the error is caused by some of the changes made to the "new" deployment.

[2019-01-08 07:59] SumanthMarigowda-MSFT commented on #21843
@jlee-vi Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-08 08:05] rishabh0202 commented on #21828
Hi Ashok,

Thanks for your reply.
Here is the link of document I was following:
https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-hadoop-create-linux-clusters-adf
.

I was trying to implement the same using ADLS Gen2 as storage but I am
unable to add it. Please let me know if you need any additional information.

Thanks and Regards,
Rishabh Srivastava

On Tue, Jan 8, 2019 at 1:13 PM Ashok

[2019-01-08 08:07] hhcakir commented on #21655
**az --version** gives:

azure-cli (2.0.54)

acr (2.1.11)
acs (2.3.13)
advisor (2.0.0)
ams (0.3.1)
appservice (0.2.10)
backup (1.2.1)
batch (3.4.1)
batchai (0.4.5)
billing (0.2.0)
botservice (0.1.3)
cdn (0.2.0)
cloud (2.1.0)
cognitiveservices (0.2.4)
command-modules-nspkg (2.0.2)
configure (2.0.19)
consumption (0.4.1)
container (0.3.10)
core (2.0.54)
cosmosdb (0.2.6)
dla (0.2.3)
dls (0.1.7)
dms (0

[2019-01-08 08:28] weyCC81 opened #21846 "IKE Phase 1 (Main Mode) parameters - Peer identifier"
What options do we have as a Peer identifier parameter?

Environment:
Azure Stack in Version 1808 or 1809

Scenario:
Two AzS Tenants with 1x VNet and 1x "Virtual network gateway" for each
One Firewall (strongSwan) which we are trying to Setup Two IPsec VPN to both Tenant
As it is not possible to create two "Local network gateway" with the same IP our Fw has two IPs

Findings:
One of the VPN's is n

[2019-01-08 08:32] AmanGarg-MSFT commented on #21840
@imeya Thank you for the question! We are investigating this and will get back to you shortly.

[2019-01-08 08:40] kazshi opened #21847 "Azure Global Services"
What services are included in "Azure Global Services" exactly?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b29b475d-056b-ba43-5309-dd1ee50b4318
* Version Independent ID: 55d5f203-32ef-40a1-62fa-83e8c81cdb14
* Content: [Routing requirements - ExpressRoute: Azure](https://docs.microsoft.com/en-us/azure/expressroute/ex

[2019-01-08 08:41] StevenLiekens commented on #21783
@hpsin that just gives an error right away

[2019-01-08 08:43] msvijayn commented on #21062
Not sure on this article and its relevance; as its not owned by me or the Azure alerts team. For your reference, guide to creating activity log alerts in Azure Monitor is available at: [https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-activity-log#azure-portal](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-activity-log#azure-portal)

[2019-01-08 08:59] wesleyniels commented on #20326
Oke thanks! But that AppSetting is enough, I can add this to our script,

[2019-01-08 09:01] reubenrajan commented on #5714
I am unable to use the same Grafana Password that i inputted during provisioning. It's not working, and forgot password doesn't work as well. Need help.

[2019-01-08 09:03] reubenrajan opened #21848 "Unable to Login to Grafana Dashboard after provisioning"
I am unable to use the same Grafana Password that i inputted during provisioning. It's not working, and forgot password doesn't work as well. Need help.

[2019-01-08 09:03] nitind opened #21849 "Shouldn't advise ignoring the missing superclass error"
"If you see an error on line 1 that refers to a missing Java Servlet class, you can ignore it." refers to an error on a sanity check for the project and JSP file. Without the superclass being present, none of the usual Java error detection is possible because the JSP can't be compiled without it (it was actually added more to handle typos referring to non-default superclasses). If it really is jus

[2019-01-08 09:06] vetrivelmp commented on #21817
Thank you so much. it works like a charm

[2019-01-08 09:09] rayne-wiselman commented on #18890
Thanks! I fixed this. It should appear after publishing today.
#please-close

[2019-01-08 09:22] dfencegit commented on #21766
You have misinterpreted my comment.

The mentioned section provides an example set of paths as below, the last two are incorrect as there is no child Certs directory..

Place your certificate(s) in the appropriate directories created in the previous step. For example:

    c:\certificates\ACSBlob\CustomerCertificate.pfx
    c:\certificates\Certs\Admin Portal\CustomerCertificate.pfx
    c:\certific

[2019-01-08 09:27] axelgMS opened #21850 "osProfile PropertyChangeNotAllowed"
hey folks,
can we add a note to this page https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-secure-web-server#add-a-certificate-to-vm-from-key-vault

If you try to run the following with a Specialized VM (ie. without an osProfile):

$vm=Get-AzureRmVM -ResourceGroupName $resourceGroup -Name "newvm99100323"
$vaultId=(Get-AzureRmKeyVault -ResourceGroupName $resourceGroup -Vault

[2019-01-08 09:34] aljo-microsoft commented on #20918
@starforce

Following: https://docs.microsoft.com/azure/dns/dns-delegate-domain-azure-dns

I've bought a new domain today, and updated my name servers to a new DNS Zone created.

Currently GoDaddy's states:
"
After updating your nameservers, allow 4 to 8 hours for other networks to access information for .com and .net domain names
"

Ref:
https://www.godaddy.com/help/set-custom-nameservers-for-dom

[2019-01-08 09:34] miguelangelopereira opened #21851 "Routes for multinic"
Are the routes correct? There are multiple routes with 0.0.0.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 538d49b2-3542-c84c-a883-df9aa130b211
* Version Independent ID: 5b259a91-530d-1bb9-017c-a3d043640c1a
* Content: [Create a Linux VM in Azure with multiple NICs](https://docs.microsoft.com/en-us/azure/virtual-mach

[2019-01-08 09:35] MrRajeshRai opened #21852 "How to pass custom traceId string?"
Can we pass custom traceId string(guid) in the request header from frontend to be used by api gateway?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a3dd020-373d-9807-fcfd-30fedf005040
* Version Independent ID: 34fe30d0-f225-ff8d-1f6b-2494f7aad42d
* Content: [Debug your APIs using request tracing in Azure API Managem

[2019-01-08 09:36] BigBadPhysicist commented on #21774
I understand that there is a guide on how to develop with VS Code, but it seems rather strange to me, that a project which is created with VS 2017 can only be deployed and used with VS 2017 and there are different dependencies between VS Code and VS 2017.

This looks to me like there is a bug / error in the way the Project is created if its not compatible between the two.

If this is an intended f

[2019-01-08 09:45] KetanChawda-MSFT commented on #21817
@vetrivelmp Glad that it works. we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-08 09:45] #21817 closed

[2019-01-08 09:46] ChiragMishra-MSFT commented on #21844
Closing this issue and reopening the previous one :
https://github.com/MicrosoftDocs/azure-docs/issues/21343

[2019-01-08 09:47] #21844 closed

[2019-01-08 09:49] PramodValavala-MSFT commented on #21731
@bikashkarmakar This error suggests that it can't find the `node` binary.
Could you confirm if you have NodeJS installed and available in your PATH?

[2019-01-08 09:49] ChiragMishra-MSFT commented on #21343
@erhopf Can you please take a look at this one? It seems the solution above didn't work.

[2019-01-08 09:50] StefanSchoof opened #21853 "Add consequences if OS does not have Accelerated Networking driver"
The documentation do not explain what happens if the Accelerated Networking driver is not installed. Does the VM have no longer network, does the network works slower with this activated or does nothing changes, but it does not use the full potential.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f89338c0-968d-c22f-5b

[2019-01-08 09:59] Grace-MacJones-MSFT commented on #21294
@chrischip thanks for your patience. It seems like this issue is with the CLI .  Could you please post this issue at the [Azure CLI repo](https://github.com/Azure/azure-cli/issues)? In the meantime, you can use the work around provided [here](https://github.com/Azure/azure-cli/issues/7013) or create your web app through the azure portal.

We will now proceed to close this thread. If there are furt

[2019-01-08 09:59] #21294 closed

[2019-01-08 10:02] Liversage commented on #19766
@aljo-microsoft Thank you for the additional feedback. I now understand that there are various ways to get a CA certificate for an Azure Service Fabric cluster. If this information was included in the documentation and not a comment to a closed issue I think more people could benefit from it.

[2019-01-08 10:16] ChiragMishra-MSFT commented on #21818
@bl00apple Firstly, After training, the Performance is displayed. The precision and recall indicators tell you how good your classifier is, based on automatic testing. Custom Vision Service uses the images that you submitted for training to calculate these numbers, by using a process called k-fold cross validation.

The classifier uses all the images to create a model that identifies each tag. To

[2019-01-08 10:17] rwike77 commented on #19766
@Liversage I agree, the article could use some more information.  We'll get this updated soon.  Thanks.

[2019-01-08 10:28] WieserSoftware opened #21854 "OData queries seem to need authentication?"
There doesn't seem to be a description of how to actually provide those headers in this tutorial.

When attempting to access the data like this:
https://&lt;myproject&gt;.table.cosmosdb.azure.com/Tables
I get
{"odata.error":{"code":"MediaTypeNotSupported","message":{"lang":"en-us","value":"None of the provided media types are supported\r\nActivityId: 7f66cbd2-9416-49da-94fd-c5f66ce8e1ec, documentd

[2019-01-08 10:37] Cepheus0815 opened #21855 "Link to deprecated script"
"You can use this script to create the required NSG rules." -&gt; This script is deprecated as you can use Network Security Group (NSG) service tags to control outbound connectivity required for ASR replication. See https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-about-networking#outbound-connectivity-for-ip-address-ranges

---
#### Document Details

⚠ *Do not edit this section

[2019-01-08 10:39] Gassela opened #21856 "Device Administrators"
This link reports a role which doesn't exist on Azure AD anylonger.
Does it make sense to review URL contents?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Independent ID: a380a828-03f9-e037-3a62-e4165fda7cb6
* Content: [Administrator role permissions in Azure Active Dir

[2019-01-08 10:40] Grace-MacJones-MSFT commented on #21577
@mganeshphani you can find some examples of other methods on this [blog](https://azure.microsoft.com/en-us/blog/simplifying-security-for-serverless-and-web-apps-with-azure-functions-and-app-service/). I am assigning this issue to the content author so they can update the documentation with more methods/functions that you can call.

[2019-01-08 10:47] KetanChawda-MSFT commented on #21777
@jeffpatton1971 The document is explaining about the resource provisioning using the Azure PowerShell. If you would like to send message using PS you can check the below links for reference:

[https://github.com/robotechredmond/Azure-PowerShell-Snippets/blob/master/Service%20Bus%20-%20Send%20to%20Queue.ps1](https://github.com/robotechredmond/Azure-PowerShell-Snippets/blob/master/Service%20Bus%20-%

[2019-01-08 10:50] thommck opened #21857 "Incorrect page title"
The title of this article doesn't match the text shown in the browser tab - this is confusing as a lot of other articles in this section also have the same text in the tab, making it hard to switch between when you have them all open in multiple open tabs

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2928e23e-3210-9e7

[2019-01-08 10:50] AshokPeddakotla-MSFT commented on #21825
#21828

[2019-01-08 10:50] thommck opened #21858 "Page title not correct"
The title of this article doesn't match the text shown in the browser tab - this is confusing as a lot of other articles in this section also have the same text in the tab, making it hard to switch between when you have them all open in multiple open tabs

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28382bfc-6798-6aa

[2019-01-08 10:51] thommck opened #21859 "Wrong page title"
The title of this article doesn't match the text shown in the browser tab - this is confusing as a lot of other articles in this section also have the same text in the tab, making it hard to switch between when you have them all open in multiple open tabs

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 816f0138-d336-390

[2019-01-08 10:56] AmanGarg-MSFT commented on #21840
@imeya Please follow the below steps to setup a query-based alert

1. Go to your Application Insights Resource

2. Click on "Alerts" under "Configure" and press on "New Alert Rule"
<img width="648" alt="2" src="https://user-images.githubusercontent.com/44466503/50825534-46134680-135f-11e9-8857-e5d2728c2dda.PNG">

3. Your resource should be auto selected. Click on "Add condition"
<img width="541" a

[2019-01-08 10:57] KetanChawda-MSFT commented on #21756
@noce2 Yes, you are correct. To stop debugging you need to press `shift + F5`. I have created a PR to update the document with correct command.

[2019-01-08 11:03] Sogup commented on #21533
The incremental snapshots are stored in VM’s storage account which are used for instant recovery. Incremental snapshots mean the space occupied by a snapshot is equal to the space occupied by pages that are written after the snapshot was created. Billing is still for the per GB used space occupied by the snapshot and the price per GB is same as mentioned in the pricing page. <https://azure.microso

[2019-01-08 11:04] PramodValavala-MSFT commented on #21544
@MDornian True. Unless you are using any of the triggers/bindings in your functions, you wouldn't need to run this command.

Most of the functions binding docs have samples for JavaScript as well.
Here is the doc for [`Blob storage`](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob) bindings. You can find the other docs under `Reference -> Bindings`.

The Func

[2019-01-08 11:08] KetanChawda-MSFT commented on #21756
@noce2 I have created a PR to update the document. It will be merged soon. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Thanks for your valuable feedback.

[2019-01-08 11:10] mchmelaroriflame opened #21860 "Report to multiple log analytics workspaces"
Hello, I would like to ask, if I understand it correctly.
Even so, that MMA agent (MS windows) is capable to join multiple workspaces, powershell cmd-let Set-AzureRmVMExtension is unable to configure that MMA agent correctly?

Thanks for info

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cefed4e0-440d-18d5-8b8d-4a345f

[2019-01-08 11:12] PramodValavala-MSFT commented on #21699
@michaelsoliman-com Just following up... Did you get a chance to try this out with the latest version?

[2019-01-08 11:14] #21756 closed

[2019-01-08 11:15] jakaruna-MSFT commented on #21746
@nellyontour I used the Below command to set permissions for the service principal which i later used for encrypting the VM. It worked well.
`az keyvault set-policy --name $keyvault_name --spn $sp_id
    --key-permissions  wrapKey
    --secret-permissions set`
So "wrapkey" for key and "set" for secret are the minimum permissions needed.
I am assigning this issue to the author to investigate furthe

[2019-01-08 11:16] jakaruna-MSFT commented on #21746
@cynthn Please update the script as needed.

[2019-01-08 11:17] jakaruna-MSFT commented on #21618
@WiseMack
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-01-08 11:17] #21618 closed

[2019-01-08 11:20] CHEEKATLAPRADEEP-MSFT commented on #21854
@WieserSoftware  Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-01-08 11:36] jakaruna-MSFT commented on #21313
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-01-08 11:36] #21313 closed

[2019-01-08 11:38] jakaruna-MSFT commented on #21394
@aamakerlsa This [document ](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/capture-image-resource) explains about generalizing a windows VM. The concept is same for Linux also.

[2019-01-08 11:42] thommck opened #21861 "How to reset"
This article explains how to read the join status but not how to reset/wipe it to start again if the local device is incorrect

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9f81d74-8dcb-e644-9647-0d1d0817f975
* Version Independent ID: e249cc9d-2120-8868-dbca-bc3b85f38b4b
* Content: [Troubleshooting hybrid Azure Activ

[2019-01-08 11:44] SubhashVasarapu-MSFT commented on #21853
@StefanSchoof Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-08 11:44] aloneguid opened #21862 "Reliable Volumes backup"
Could you please elaborate how information is stored in a Reliable Volume physically? Is there any way to backup this volume just like with reliable collections in SF?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33213fe3-c523-df14-797e-856e1597f31d
* Version Independent ID: b54b22bd-f275-b4eb-de66-31380ac95fab
* Con

[2019-01-08 11:46] SubhashVasarapu-MSFT commented on #21847
@kazshi Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-08 11:54] neeleshray commented on #21857
@thommck  Thank you for the feedback and we are looking into the same.

[2019-01-08 11:58] shashishailaj commented on #21622
@okaicomputer We have investigated and found that you are absolutely correct and Azure Monitor can also be used to enable Diagnostic logging of Key vault and many other components . An article related to Azure monitor already explains the same and can be checked [here](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/tutorial-dashboards).  However the documentation cannot be deemed in

[2019-01-08 11:58] #21622 closed

[2019-01-08 12:01] jakaruna-MSFT commented on #18076
Script is available in this path
`C:\Packages\Plugins\Microsoft.Powershell.DSC\2.77.0.0\scripts\dscaa`
Version may change a bit based on the DSC extension version which you are using.

[2019-01-08 12:03] neeleshray commented on #21861
@thommck  Are you referring to wiping the device itself or to dis-join/disconnect from the Azure AD Domain ?

If its the later, then you can refer to this [blog](https://cloudpuzzles.net/2015/03/disconnecting-a-windows-10-device-from-azure-ad/).

[2019-01-08 12:04] jakaruna-MSFT commented on #18076
I am assigning the issue to the content author to check if we need to update the document.

[2019-01-08 12:12] jakaruna-MSFT commented on #21862
Thanks for the question! We are investigating and will update you shortly.

[2019-01-08 12:13] jakaruna-MSFT commented on #21860
Thanks for the question! We are investigating and will update you shortly.

[2019-01-08 12:15] jakaruna-MSFT commented on #21851
Thanks for the question! We are investigating and will update you shortly.

[2019-01-08 12:16] jakaruna-MSFT commented on #21842
Thanks for the question! We are investigating and will update you shortly.

[2019-01-08 12:18] neeleshray commented on #21856
Thank you for the Feedback and we are getting the same checked. We would get back to you soon on this.

[2019-01-08 12:26] arkein opened #21863 "TLS version support for AppGateway -> backend communication"
As per documentation, AppGateway can be configured to support certain predefined sets of SSL protocol versions, e.g. TLS 1.0/1.1/1.2.

When end-to-end SSL is configured:
- Which protocol versions are supported between the Application Gateway and the backend pool?
- Are the minimum protocol version and/or the cipher suite configurable for the backend pool?

---
#### Document Details

⚠ *Do not edit

[2019-01-08 12:34] okaicomputer commented on #21622
How is it _not_ incorrect to say that it is **not possible** to enable diagnostics on a vault through the portal (presented as a highlighted note, no less)?  This is why Azure documentation frustrates readers.

[2019-01-08 12:43] angoyal-msft commented on #21854
@WieserSoftware we have assigned this issue to the author of document. Author will help you further with your concern.

[2019-01-08 12:44] jakaruna-MSFT commented on #21850
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-08 12:48] PramodValavala-MSFT commented on #21745
@jasonshave That's true. I thought I had seen the default mentioned in the REST API doc. My bad.

@miaojiang @vladvino Thoughts on having a note here for `notify` vs updating the REST API doc with the its default?

[2019-01-08 13:13] MushyMiddle commented on #21792
I would just add that minimally, as a customer, I want to know the expected minimum processor speed for each VM type.  Case in point: most of the Memory optimized VM types list no CPU, thus I have no idea what to expect without experimentation.  This is not a formatting issue - this is lack of information.

[2019-01-08 13:14] bwren commented on #21837
Think this should be @rboucher .

[2019-01-08 13:22] Kamyar5353 opened #21865 "AzCopy cannot be used in any PowerShell script for Data Lake Gen2 due to authentication challenges"
AzCopy only supports Windows Authentication for data lake gen 2. It means for working with ADL G2, we have to use "AzCopy login" command prior to any activity. This simply cannot be done through a PS script.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15911160-5ba2-fb0a-0b24-16b3857e20ce
* Version Independent ID: d9

[2019-01-08 13:55] thommck commented on #21861
I'm refer to the hybrif aad join, e.g. having a device where dsreg shows it's in an unsupported state, so I need to clear it and try to manually rejoin it

Thanks,
Thom McKiernan

Sent from 07468 473239

________________________________
From: NeeleshRay-MSFT <notifications@github.com>
Sent: Tuesday, January 8, 2019 12:03:28 PM
To: MicrosoftDocs/azure-docs
Cc: thommck; Mention
Subject: Re: [Microso

[2019-01-08 13:56] accampos commented on #21767
I can see now the option. I was unable to see it because I did not have
Azure AD Premium. Maybe It is a good idea to mention it.
Thank you.

Em seg, 7 de jan de 2019 às 21:39, Markus Vilcinskas <
notifications@github.com> escreveu:

[2019-01-08 14:07] cconrado commented on #21692
@PramodValavala-MSFT no I meant is there no way for the logic app source code to be auto sent to github using something like vscode unless im wrong?

[2019-01-08 14:18] shashishailaj commented on #21859
@thommck . Thank you for your comment . While we understand the frustration , the topic titles are totally apt for the tutorials mentioned . I understand that mostly they start with "configure Hybrid Azure AD join" and sometimes can create confusion while switching tabs, but we would like to suggest to hover the cursor on the tab to see complete title before switching tabs .
![image](https://user-

[2019-01-08 14:18] #21859 closed

[2019-01-08 14:23] YASWANTHM-MSFT commented on #21865
@Kamyar5353, Azcopy supports both windows and linux .You can login to azure using command line utility. If you want to know how to authenticate to azure using AZcopy , please refer to the below steps. If not, could you elaborate with little more information to help better on this?
1)Download the latest version of AZcopy and give the path of the Azcopy as shown below
<img width="595" alt="yash1" sr

[2019-01-08 14:30] PramodValavala-MSFT commented on #21692
@cconrado Unfortunately that isn't supported as of today.

The Logic Apps extension for the VS Code is still in preview and there already is a feature request for this on [UserVoice](https://feedback.azure.com/forums/287593-logic-apps/suggestions/32605162-visual-studio-code). Please do vote for it there.

That being said, this functionality is present in Visual Studio today. [Here](https://docs.mi

[2019-01-08 14:34] cconrado commented on #21692
Ah ok then thats all thanks @PramodValavala-MSFT

[2019-01-08 14:34] #21692 closed

[2019-01-08 14:34] shashishailaj commented on #21624
@TroyMartinNet Thank you for the feedback . Group policy preference option can be used where internal IT have less restrictive policies and users are allowed to tinker with the intranet zones. However as @bdesmond mentioned, from a manageability perspective native Group policy is a better approach.  We would request for a document enhancement to the original author.

@billmath Could you please rev

[2019-01-08 14:35] cgros opened #21867 "Is there a way with Cluster Autoscaler to automatically add a label on a created node ?"
When Cluster Autoscaler is used, is there a way to add a specific label on the created nodes (like `type: worker`) ?

This would be useful to further use `nodeSelector` in pods spec.

Note: I used the [cluster-autoscaler helm chart](https://github.com/helm/charts/tree/master/stable/cluster-autoscaler) to install auto-scaler in our cluster.

---
#### Document Details

⚠ *Do not edit this section. I

[2019-01-08 14:37] SychevIgor opened #21868 "Is it still relevant?"
Page was updated in 2016... ~2.5 years ago. Is it still relevant?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8f0857b-12f7-7b7e-9604-b12b95c5e309
* Version Independent ID: f0d117fb-64d7-57fd-bd66-d12999defd39
* Content: [What is Knowledge Exploration Service?](https://docs.microsoft.com/en-us/azure/cognitive-servic

[2019-01-08 14:46] michaelsoliman-com commented on #21699
Hi @PramodValavala-MSFT,

Thank you for your reply. I did not have a chance to try the latest version yet. I will respond by the weekend.

Thank you.

[2019-01-08 14:50] shashishailaj commented on #21622
@okaicomputer My sincere apologies , I was focused on verifying the powershell part . I have requested the authors to update the page after making necessary changes.

Thank you for your feedback.

[2019-01-08 14:52] PramodValavala-MSFT commented on #21692
@cconrado Glad we could help! Do check [this](https://azure.microsoft.com/en-in/updates/?product=logic-apps) page for any announcements about Logic Apps.

[2019-01-08 15:00] MarkusVi commented on #21857
HI @thommck, thanks for bringing this up. I have staged an update for this article.

#please-close

[2019-01-08 15:06] MarkusVi commented on #21858
HI @thommck, thanks for bringing this up. I have staged an update for this article.

#please-close

[2019-01-08 15:12] starforce commented on #20918
@aljo-microsoft

Going to wait on your results before i start.

[2019-01-08 15:13] azusa opened #21870 ""specify the Node.js version" is now only available on GitHub."
[Enter feedback here]

In the "specify the Node.js version" section, a link to [specify the Node.js version](https://github.com/squillace/staging/blob/master/articles/nodejs-specify-node-version-azure-apps.md) indicates a markdown document on GitHub ,and this page is only available on GitHub.

Would you like have a plan publish this document on `docs.microsoft.com` ?

---
#### Document Details

⚠

[2019-01-08 15:14] erhopf commented on #21343
Please work with the product team that owns the code samples to resolve this issue.

[2019-01-08 15:21] TracyGH opened #21871 "Azure Cosmos DB versus Azure CDN for global document distribution?"
When building a repository that will serve up large files (read-only), globally - would you recommend Azure Cosmos DB or Azure CDN as a better option?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42c7bf55-9a9e-9e54-15db-15c59a80d471
* Version Independent ID: b32d0d9a-99fd-9721-e093-54dfd43543ad
* Content: [Introducti

[2019-01-08 15:21] YASWANTHM-MSFT commented on #21865
@kamyar5353, you can refer the following article here and here to automate the process of login to azure using Power shell. See if this helps you. Let us know if you need any further assistance on this.

[2019-01-08 15:23] tgiorgio commented on #9772
@TravisCragg-MSFT any updates?

[2019-01-08 15:25] TracyGH opened #21872 "Azure Cosmos DB versus Azure CDN for global document distribution?"
When building a repository that will serve up large files (read-only), globally - would you recommend Azure Cosmos DB or Azure CDN as a better option?  The statement above:  "...rapidly delivering high-bandwidth content...", makes me think Azure CDN may be a better choice especially since the files will not be modified that often.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-01-08 15:49] Toominator opened #21873 "It is not possible to add Microsoft.Azure.Stream Analytics.CICD nuget package to a Stream Analytics project in Visual Studio 2017"
"Manage Nuget Packages..." greyed out.
Default project drop down in Package Manager Console empty.
Install-Package Microsoft.Azure.StreamAnalytics.CICD -Version 1.4.0 gives error Install-Package : Project 'Default' is not found.

Visual Studio Professional 2017 15.9.4
Nuget 4.9.2
Azure Data Lake and Stream Analytics Tools 2.3.6

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-01-08 15:56] MarkusVi commented on #21767
Ahhhh - makes sense.
I will add a note to the article.

[2019-01-08 16:00] DMoonesinghe commented on #19034
Yes. Thanks Mike.  You did an excellent job.

On Mon, Jan 7, 2019 at 8:17 PM Masha at MSFT <notifications@github.com>
wrote:

--
Deepal Moonesinghe
(408) 568 1669
deepal.moon@gmail.com

"We must accept finite disappointment, but we must never lose infinite
hope."
~ Martin Luther King, Jr. ~

[2019-01-08 16:01] Osbserver commented on #21040
@MSF-KRIS-OP "there is no logic in restoring a deleted user to a synced account when there is no sync relationship to a local AD object anymore" That's the point. This is a serious issue.

Thanks in advance for your help @MarileeTurscak-MSFT

[2019-01-08 16:07] rayne-wiselman commented on #18406
This is now fixed.
#please-close

[2019-01-08 16:13] karthick3d opened #21874 "New-AzStorageContext Is not available"
Please let me know If this article is still valid. I am trying to use -UseConnectedAccount to create a context for storage account by updating the RBAC. But this Commandlet is not available and the link is showing Page not found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18dcb813-6d62-ea30-4a33-1e350c9380cd
* Vers

[2019-01-08 16:14] rayne-wiselman commented on #18404
I think this article is correct. If you have any comments please let me know

#please-close

[2019-01-08 16:16] ravikiran-srini opened #21875 "SSISDB Catalog.create_execution not supported"
"Activity Stored Procedure1 failed: Reference to database and/or server name in 'SSISDB.catalog.create_execution' is not supported in this version of SQL Server."

Any idea why this error comes up?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74e18831-fc5c-d339-0547-35b07ec44938
* Version Independent ID: 47737270-af9

[2019-01-08 16:18] SeaDude commented on #21449
Hi @sergaz-msft, the "missing part of the map" issue **IS** fixed when using `layer=basic` instead of `layer=hybrid`. The `path` issue in not.
Hybrid:
![image](https://user-images.githubusercontent.com/8636973/50843668-f8c2b500-131d-11e9-8629-8544f75c2375.png)

Basic:
![image](https://user-images.githubusercontent.com/8636973/50843640-eb0d2f80-131d-11e9-9273-66661acda6aa.png)

[2019-01-08 16:18] mattbriggs commented on #21766
@dfencegit Oh thanks for clarifying. I'll update! Should be posted shortly. #please-close

[2019-01-08 16:19] MarkusVi commented on #21767
I have staged an update for this article.

#please-close

[2019-01-08 16:33] mrbullwinkle commented on #8099
We have added the following to the IP address article to help make the traffic direction more clear:

_All Application Insights traffic represents outbound traffic with the exception of availability monitoring and webhooks which require inbound firewall rules_

Thanks again for bringing this to our attention. The change will go-live this afternoon.

[2019-01-08 16:33] mrbullwinkle commented on #8099
@MicrosoftDocs/azure-cxp-triage #please-close

[2019-01-08 16:35] rayne-wiselman commented on #21670
I fixed this to standard instructions
#please-close

[2019-01-08 16:36] rayne-wiselman commented on #21661
Thanks for this. I fixed. Should publish shortly
#please-close

[2019-01-08 16:39] meixger opened #21878 "Elliptic Curve Cryptography (ECC) certificates are supported only with TLS 1.2"
Please document that Elliptic Curve Cryptography (ECC) certificates are supported only with TLS 1.2.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8dfb8f30-3236-ad55-eabf-6940a7e16329
* Version Independent ID: 8f4385a4-9ac2-38da-d243-ed3c00b0fd36
* Content: [Bind existing custom SSL certificate - Azure App Service](ht

[2019-01-08 16:42] YASWANTHM-MSFT commented on #21874
@karthick3d, Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-08 16:45] ravikiran-srini opened #21880 "When this trigger triggers the pipeline?"
I am not sure I understand tumbling trigger
When I create a pipeline afresh and create a trigger and publish, it works well
But, when I edit something in a pipeline and publish it, it does not work. Also, sometimes when i recreate/modify the trigger, this also doesn't trigger the pipeline

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-01-08 16:46] mrbullwinkle commented on #9255
Apologies for the delay in response on this one. Unfortunately, currently there are still cases (particularly during application shutdown) where TelemetryClient.Flush() may require Sleep(1000). Please refer to this GitHub Issue: [https://github.com/Microsoft/ApplicationInsights-dotnet/issues/407](https://github.com/Microsoft/ApplicationInsights-dotnet/issues/407) for more information.

[2019-01-08 16:47] mrbullwinkle commented on #9255
@MicrosoftDocs/azure-cxp-triage #please-close

[2019-01-08 16:52] pochiraju commented on #20909
Azure SQL MV supposed to be spelled as Azure SQL VM, a SQL Server instance running on Azure Virtual Machine.  This is a typo, thanks bringing this to us, we will fix it.

[2019-01-08 16:52] cephalin commented on #21456
I'm going to close this issue for now. Please feel free to reach out to me privately if you want to demo how the local dev scenario can work in the context of this particular doc scenario.

#please-close

[2019-01-08 16:54] kanephil commented on #20093
Has there been any traction on this?  I have the same thing.

I have subscription 1 with VNET 1 that I have configured VNET Integration (Preview) that has VNET peering to VNET 2 in subscription 2.  VNET 2 in subscription 2 has ExpressRoute private peering enabled.  I have configured the WEBSITE_DNS_SERVER on the web app and want to be able to route traffic to an OnPrem server.

Any information wou

[2019-01-08 16:54] cephalin commented on #21330
@apurvajo Can you please take a look at this? @Grace-MacJones-MSFT This is a product issue.

[2019-01-08 16:58] tchristiani commented on #21343
@ChiragMishra-MSFT This is not a doc issue and therefore should not have been assigned to @erhopf. Please reassign to the product team @M-Sherif. Thank you.

[2019-01-08 17:03] dlepow commented on #21743
Because we have this doc update scheduled for a later date, I am now closing this issue. If you have further questions about this, we will gladly continue the discussion and we will reopen the issue.
#please-close

[2019-01-08 17:04] #9255 closed

[2019-01-08 17:05] #8099 closed

[2019-01-08 17:05] Karishma-Tiwari-MSFT commented on #21768
@biren1234 Any update? Please share the doc you are referring to.

[2019-01-08 17:10] #21858 closed

[2019-01-08 17:11] #21857 closed

[2019-01-08 17:11] #21407 closed

[2019-01-08 17:12] #21340 closed

[2019-01-08 17:12] Karishma-Tiwari-MSFT commented on #18890
@schottky81
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-08 17:12] #18890 closed

[2019-01-08 17:13] Karishma-Tiwari-MSFT commented on #18406
@kinseymd
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-08 17:13] #18406 closed

[2019-01-08 17:13] Karishma-Tiwari-MSFT commented on #18198
@ishepherd  We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-08 17:13] #18198 closed

[2019-01-08 17:21] Karishma-Tiwari-MSFT commented on #21867
@cgros Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-01-08 17:22] mrbullwinkle commented on #21100
@MicrosoftDocs/azure-cxp-triage #please-close

[2019-01-08 17:32] mahamr opened #21882 "Clarify log level output"
It may be worth adding a clarification to this point:
When you enable application diagnostics, you also choose the Level. This setting allows you to filter the information captured to informational, warning, or error information. Setting it to verbose logs all information produced by the application.

For those that aren't familiar with how logging generally works in software (lower-levels of logg

[2019-01-08 17:34] dlepow commented on #21694
@jluk - Yes, happy to update the article to reference WS2016.

@MicahMcKittrick-MSFT, please assign the issue to me and I'll submit a PR to resolve. Thanks!

[2019-01-08 17:35] YutongTie-MSFT commented on #21796
@lostromb
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-01-08 17:35] #21796 closed

[2019-01-08 17:35] sweatyeti commented on #21882
I see the table is ugly without formatting :)

When the portal is set to: | **These log levels are output:**
Disabled      | **None**
Error            | **Error,   Critical**
Warning      | **Warning, Error, Critical**
Information | **Info, Warning, Error, Critical**
Verbose       | **Trace, Debug, Info, Warning, Error, Critical (all levels)**

[2019-01-08 17:39] curtand commented on #20995
Hi @sietec
You're in the right place! I'm filling in for the author who is out of the office for a while. I'll open a backlog item to fix this, but it won't be in January, sadly.

[2019-01-08 17:43] Mike-Ubezzi-MSFT commented on #21871
@TracyGH Thank you for your interest in Azure cloud services. Do you have any specific requirements that stand out? How about developer resources, do you have a dev resource who understands NoSQL (for the case for CosmosDB) as well as an idea of your anticipated throughput? How many document requests per sec/min/hour do you anticipate?

CosmosDB can be used to store document metadata where the act

[2019-01-08 17:44] YutongTie-MSFT commented on #21868
@SychevIgor Good question, I have assigned to the author for help.

@cjgronlund Hi, the document is out of date, can you please check it and update the author as well? Thanks a lot!

[2019-01-08 17:45] tescales opened #21884 "Update PShell examples with new Az.KeyVault Module"
Should probably offer both for a time being (like we did for ASM)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f88c5a5a-7172-3836-e882-7a08b69e9572
* Version Independent ID: 07c17d2d-ed23-4639-d698-c1285178196a
* Content: [Azure Quickstart - Set & retrieve a secret from Key Vault using PowerShell](https://docs.micros

[2019-01-08 17:46] #21670 closed

[2019-01-08 17:53] YutongTie-MSFT commented on #21709
@jlwilliamson8 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-08 17:53] #21709 closed

[2019-01-08 17:53] nehresma commented on #21502
Looks like this was fixed with https://github.com/MicrosoftDocs/azure-docs/commit/c32c74c2e773bcd298982482a04fc08b5c4e1deb#diff-e6231fc0854e51af2c1c2de60b783e06

Probably safe to close.

[2019-01-08 17:54] aljo-microsoft commented on #20918
@starforce
Certificate was provisioned for my custom domain in KV from Digicert using previously provided instructions. Starting the DNS configurations shortly, and will provision a cluster today.

[2019-01-08 17:55] Karishma-Tiwari-MSFT commented on #21850
@zr-msft There are other customers who are seeing the same error as per [this GitHub issue](https://github.com/MicrosoftDocs/azure-docs/issues/12602).
Can you please update the doc as appropriate. Thanks.
CC: @cynthn

[2019-01-08 18:12] CeciAc opened #21885 "7. Vous pouvez supprimer une règle d’alerte de métrique à l’aide de la commande suivante."
@Tezig commented on [Tue Jan 08 2019](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/235)

mauvaise commande pour ce cas de figure, la commande de supression est "delete et non "update" comme écrit pour l'instant

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: 0728f6aa-4933-e227-58c1-da28b3

[2019-01-08 18:20] CeciAc commented on #21885
Hi team,
it looks like this is a source issue, please check if "update" is the command to be used here

Rough translation:

[2019-01-08 18:28] MisinformedDNA opened #21886 "Export to BACPAC using SSMS results in error"
[This page](https://docs.microsoft.com/en-us/sql/relational-databases/data-tier-applications/export-a-data-tier-application?view=sql-server-2017) is referenced in the content as a way to export an Azure DB to a BACPAC file (using local disk). However, when I try this, I get the error:

![bacpac](https://user-images.githubusercontent.com/1784452/50850867-c1b1cb00-1340-11e9-83cd-3b1020abcf15.png)

-

[2019-01-08 18:31] mapoitras opened #21887 "DNS for new vnet integration"
For old vnet integration you specify that "The apps that integrate with a VNet use the DNS that is specified for that VNet".  Can you confirm that this is still the case for the new vnet integration.  We are having problem regarding DNS resolution and new vnet integration and just want to make sure we are making the right assumptions before opening a ticket.

---
#### Document Details

⚠ *Do not e

[2019-01-08 18:42] mike-urnun-msft commented on #21852
Hi @MrRajeshRai Thank you for your feedback! We will review and update as appropriate.

[2019-01-08 18:46] mattbriggs commented on #20844
@christophkarner  Thanks for your feedback. I've updated the topic to remove the confusing line. #please-close

[2019-01-08 18:49] MicahMcKittrick-MSFT commented on #21033
@nagarjuna1207 here is what I got so far

NC | Intel(R) Xeon(R) CPU E5-2690 v3 @ 2.60GHz
-- | --
NCSv3   NCSv2   ND | Intel(R) Xeon(R) CPU E5-2690 v4 @ 2.60GHz

I am assigning to a content author who is working offline with the product teams to get more numbers and add them to the doc.

[2019-01-08 18:50] MicahMcKittrick-MSFT commented on #21531
I will close for now. If more info is needed just let me know and I can always reopen.

[2019-01-08 18:50] #21531 closed

[2019-01-08 18:53] jason-j-MSFT commented on #21572
@maxluk could you take a look?

[2019-01-08 18:54] jason-j-MSFT commented on #21495
@douglaslMS could you take a look?

[2019-01-08 18:55] #16609 closed

[2019-01-08 18:56] Karishma-Tiwari-MSFT commented on #21767
@accampos

[2019-01-08 18:57] #21767 closed

[2019-01-08 18:57] Karishma-Tiwari-MSFT commented on #21661
@CloudCrusader Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-08 18:57] #21661 closed

[2019-01-08 18:58] Karishma-Tiwari-MSFT commented on #21456
@serkanozkul We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-08 18:58] #21456 closed

[2019-01-08 18:58] Karishma-Tiwari-MSFT commented on #18404
@JazzyWagdaddy We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-08 18:58] #18404 closed

[2019-01-08 19:02] MicahMcKittrick-MSFT commented on #21862
@aloneguid can you elaborate on your ask? From the doc we have information on how reliable volumes work, store data and have copies in case the containers crash so the data is backed up.

CC @aljo-microsoft if you have anything to add here.

[2019-01-08 19:02] Mike-Ubezzi-MSFT commented on #21597
@michaelmilligan Can you please make an entry in the [Azure SQL User Voice](https://feedback.azure.com/forums/217321-sql-database) to request this functionality. We are unable to document something that doesn't quite exist yet. We have communicated this internally but making a formal request through the formal feedback channel is necessary to engage the product group. This has the greatest visibil

[2019-01-08 19:03] rjohnson318 opened #21888 "Issue with fencing"
ERROR: Azure Resource Manager Python SDK not found or not accessible...this is in azure government.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1f5847a-561c-2cf8-3955-6e5cfef0f73e
* Version Independent ID: 67841eb9-66ec-106f-f6f8-015a4dc6e0d3
* Content: [Setting up Pacemaker on Red Hat Enterprise Linux in Azure](ht

[2019-01-08 19:03] maxluk commented on #21572
+ Ashish, Katherine.

Can you guys take a look at the doc bug on Spark?

Thanks,
Maxim

From: Jason J <notifications@github.com>
Reply-To: MicrosoftDocs/azure-docs <reply@reply.github.com>
Date: Tuesday, January 8, 2019 at 10:53 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Maxim Lukiyanov <maxluk@exchange.microsoft.com>, Assign <assign@noreply.github.com>
Subject: Re: [Micro

[2019-01-08 19:10] MicahMcKittrick-MSFT commented on #21795
Looking at some Custom Script Examples such as

https://github.com/Azure/azure-quickstart-templates/blob/master/201-vm-custom-script-windows/azuredeploy.json

We do need the dependsOn section so the CSE knows what VM it is dependent on.

The example I found is a bit simpler though

[code]

I will assign to the author to review and see if we can make the example a bit more clear.

@roiyz-msft can y

[2019-01-08 19:11] YutongTie-MSFT commented on #21687
@TrishaChandra123 Hi, it seems that the input features you are using is not the same the model trained. Please check that. I have checked the document, there is nothing wrong about it. I would recommend you to post your issue in our MSDN forum for questions about your project. Our community will take care of your question there. Thank you.
https://social.msdn.microsoft.com/Forums/en-US/home?forum=

[2019-01-08 19:11] #21687 closed

[2019-01-08 19:11] douglaslMS commented on #21495
@jvdenning The `<GUID>` placeholder is actually there in the markdown source file, but not rendering correctly because the opening angle bracket isn't escaped. I've fixed that in the referenced PR. Thanks for bringing this to our attention.

[2019-01-08 19:12] MicahMcKittrick-MSFT commented on #21888
@rjohnson318 can you tell me at which point in the doc you are getting this error?

[2019-01-08 19:14] Karishma-Tiwari-MSFT commented on #21846
Thanks for the question. We are currently investigating and will update you shortly.

[2019-01-08 19:19] femsulu commented on #21885
@CeciAc  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-08 19:20] #21495 closed

[2019-01-08 19:21] TravisCragg-MSFT commented on #20844
@christophkarner We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-08 19:28] festivus opened #21889 "App Gateway"
How does this compare with an Application Gateway with WAF enabled?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 474ba3cb-afa1-4ec5-37df-6553a5523dbb
* Version Independent ID: 56096558-1943-3f6b-9609-7722200272fb
* Content: [What is Azure Firewall?](https://docs.microsoft.com/en-us/azure/firewall/overview)
* Content

[2019-01-08 19:34] curtand commented on #19326
HI @cdwchriburg
I added the simplest statement of this to the article, and it is published. Thanks!

@TravisCragg-MSFT
#please-close

[2019-01-08 19:35] migrande opened #21890 "Architecture Diagrams Should Include Managed Disks"
The architecture diagrams on this page are only accurate when using unmanaged disks.  I imagine that most configurations are using managed disks so the architecture diagrams should be updated to reflect that.  It's currently a little unclear how the replica managed disks play into the overall topology.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-01-08 19:40] cynthn commented on #21850
@Karishma-Tiwari-MSFT Zach is off working on other things. I'll add a note that folks shouldn't try this with a VM created using -attach. Thanks!

[2019-01-08 19:42] cconrado opened #21891 "Example of Upgrading agent via DSC"
Hi There,

Why can't an example of upgrading the agent via dsc be posted?

We need examples on how to upgrade the agent as there's none and the updates for mma have been stopped on the update catalog.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00a00a3e-a0df-7ee5-4733-7231bd7a024f
* Version Independent ID: 94361683-

[2019-01-08 19:43] TravisCragg-MSFT commented on #21846
@weyCC81 could you elaborate a bit more on what exactly you are looking for? Keep in mind that Azure Stack supports only Route-Based VPN connections.

[2019-01-08 19:45] eadluru opened #21892 "Execution error"
when i tried executing the code i got the following error s in line 18. " auto recognizer = SpeechRecognizer::FromConfig(config);"
Errors:
The thread 0x27e0 has exited with code 0 (0x0).
Exception thrown at 0x000007FEFC88BDED in Voicecontrol.exe: Microsoft C++ exception: [rethrow] at memory location 0x0000000000000000.
Exception thrown at 0x000007FEFC88BDED in Voicecontrol.exe: Microsoft C++ excep

[2019-01-08 19:46] curtand commented on #20547
https://github.com/MicrosoftDocs/azure-docs-pr/pull/61030

Hi @colinrippeyfinarne
This is publishing today by 4 PM.

@SaurabhSharma-MSFT
#please-close

[2019-01-08 19:46] cynthn commented on #21850
@axelgMS so, this is an issue with any VM created using -attach. Is there a work-around? Can you create an osProfile for a specialized VM?

[2019-01-08 19:47] boiledeggs opened #21894 "Registration issue with an actual TPM"
This article discusses registration with a simulated device, how would I extract the endorsement key to register a TPM chip using the actual hardware?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ad3c33c-2caa-75e0-96a3-ca4a29e814ca
* Version Independent ID: 64e42622-8357-26e3-3ce5-1a501db451fc
* Content: [Provision

[2019-01-08 19:48] TracyGH commented on #21871
Thank-you for the quick feedback @Mike-Ubezzi-MSFT !

Specifically:
1. All access will be read-only
2. Document meta-data and content will be consumed by other business applications via APIs.
1. An existing search index would be useful, otherwise we will probably have Elastic Search as an intermediate.  (My understanding is that Azure search service cannot index common text content like PDFs, Word

[2019-01-08 19:53] #19034 closed

[2019-01-08 19:53] #19326 closed

[2019-01-08 19:57] Karishma-Tiwari-MSFT commented on #21849
@nitind Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-08 19:58] georgewallace commented on #21137
@MikeSpark I apologize for the delay in response. For Azure Automation when importing packages that require an OS you would choose the 64bit Windows version, so in your case `psycopg2_binary-2.7.6.1-cp27-cp27m-win_amd64.whl `

[2019-01-08 19:58] mrbullwinkle commented on #17050
@markgar Thank you for bringing this to our attention. The following are new and were missing from the article:
[code]

The change adding these items along with the missing property you identified ``context.user.authId | string`` have been merged internally, it will go-live later this evening. Thanks again for helping to make our docs better!

[2019-01-08 19:58] rjohnson318 commented on #21888
Once I finished the doc and the setup. I tried to test the fence with this command.

`fence_azure_arm --username=12312231231231231231 --password=123123123123123123 --plug=APP43 --resourceGroup=resource.group --tenantId=1231231231231231231 --subscriptionId=123123123123  --verbose --action=status --power-timeout=6000`

seems like I need to have Azure Resource Manager Python SDK but it did not say to

[2019-01-08 19:58] mrbullwinkle commented on #17050
@MicrosoftDocs/azure-cxp-triage #please-close

[2019-01-08 20:00] BharathNimmala-MSFT commented on #17050
Thank you Michael.

[2019-01-08 20:00] #17050 closed

[2019-01-08 20:02] femsulu commented on #21568
@biren1234 We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-08 20:02] #21568 closed

[2019-01-08 20:06] jambirk opened #21896 "Technet link out of date"
https://docs.microsoft.com/en-us/SkypeForBusiness/manage/network-management/qos/managing-quality-of-service-QoS is the current article you should link to, the current link goes to Lync 2013 content. I tried to make the change and for some reason was not able to submit a PR.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2019-01-08 20:08] bradcstevens opened #21897 "Global Virtual Network peering Remote Gateway and Gateway Transit support"
Remote Gateways and Gateway Transit are currently not supported with Global Virtual Networking peering. Is there a plan to support Remote Gateways and Gateway Transit in the Global Virtual Network peering feature to build a global hub-spoke topology over multiple regions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-01-08 20:30] mapoitras commented on #19724
Thanks.  That works with the comma format.  thanks

[2019-01-08 20:32] mapoitras commented on #21887
My error.  It says in documentation that we need to add an app setting.   closing ticket.

[2019-01-08 20:32] #21887 closed

[2019-01-08 20:39] tamram commented on #13057
@jlee-vi - This change is now live.

[2019-01-08 20:40] TravisCragg-MSFT commented on #21863
@arkein this depends upon [the SSL Policy](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-configure-ssl-policy-powershell) that you configure. The default SSL Policies are also outlined in that document.

The Minimum version [can be configured by you](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-ssl-policy-overview#custom-ssl-policy

[2019-01-08 20:40] BryanTrach-MSFT commented on #21675
@yasmin-amajeed We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-08 20:40] #21675 closed

[2019-01-08 20:41] Karishma-Tiwari-MSFT commented on #21867
@cgros Thanks for sharing the documents. I have updated the issue with doc details.
We are currently investigating and will update you shortly.

[2019-01-08 20:41] MicahMcKittrick-MSFT commented on #21888
@MSSedusch @rolyon could either of you comment further on this issue? I am not overly familiar with this specific implementation

[2019-01-08 20:51] SaurabhSharma-MSFT commented on #21655
@hhcakir I am able to reproduce this issue and I have assigned this issue to content author to investigate and update the document as appropriate.
@barclayn I have installed the cli windows version - 2.0.54 on windows 10 and seeing the same error.  The command works with single quotes or using the double quotes. can you please help.

![image](https://user-images.githubusercontent.com/38112130/5085

[2019-01-08 20:53] TravisCragg-MSFT commented on #21727
@liamfoneill Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-08 20:55] TravisCragg-MSFT commented on #21766
@dfencegit We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply.

[2019-01-08 20:58] diberry commented on #21373
@Charlie-Chat-Bot I'm trying to get a recommended best practice for encoded for both languages and both SDKs. It is taking time. I would prefer to give you the correct answer then the immidate and perhaps incorrect answer.

[2019-01-08 20:58] TravisCragg-MSFT commented on #9772
@tgiorgio I clarify the statements above, please let me know if you have additional questions.

@jimdial @curtand I assigned this to you as well to get this moving.

[2019-01-08 21:10] Grace-MacJones-MSFT commented on #21665
This is the response from the original  issue. Posting here for visibility.

 "We launch all our flask/django apps with the default startup script, and have verified that it works with GUNICORN_CMD_ARGS:
That said, not using that environment variable is also an option we can consider. We will test this out and share an ETA."

We will now proceed to close this thread. If there are further questions

[2019-01-08 21:10] #21665 closed

[2019-01-08 21:17] Mike-Ubezzi-MSFT commented on #21886
@MisinformedDNA Thank you for bringing this to our attention. Can you please run the following T-SQL and provide version information for your SSMS client and Azure SQL Database version (should be v.12.x):

 `SELECT compatibility_level
FROM   [sys].[databases]
WHERE  [name] = 'Your Database Name';`

I did not experience any issues exporting the AdventureWorksLT Azure SQL sample database. Please see

[2019-01-08 21:21] jalilkarim opened #21898 "Salesforce Refresh vs Replicate"
[The document doesn't clearly specify whether Salesforce data is Refreshed or Replicated into the Azure SQL DB. This is specially important in Salesforce since a Refresh will not grab schema changes along with formula fields being updated whereas a Replicate will.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df56c0c

[2019-01-08 21:22] jlmace opened #21899 "Scripting errors"
In the provided scripts below, the az network command for Public IP should just be 'public-ip' according to the command group for az network (not 'public-ip-address' or 'public-ip-addres').

az network public-ip-address create --resource-group myResourceGroup --name myPublicIP

az network nic ip-config update \
    --resource-group myResourceGroup \
    --nic-name myNic1 \
    --name ipconfig1 \

[2019-01-08 21:26] johndowns opened #21900 "Custom metric namespace not honoured"
I'm creating a custom metric through Application Insights' `TelemetryClient` within an Azure Fnction, and trying to assign it a custom namespace. I'm using the following code:

[code]

The metric is published into Application Insights, but the namespace is shown as `azure.applicationinsights` and not `TestNamespace`.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.

[2019-01-08 21:33] iainfoulds commented on #21369
Docker bridge is for the host and control plane communication. It doesn't define addresses that the pods themselves would receive. You're welcome to use an alternate IP subnet for the Docker bridge, what's noted is just an example. If the subnet is already in use, it would still conflict in terms of that host communication plane, so it would need to unique within your network space.

I've created

[2019-01-08 21:41] SaurabhSharma-MSFT commented on #21645
@Norrch2 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-08 21:41] #21645 closed

[2019-01-08 21:42] SaurabhSharma-MSFT commented on #21685
@Wreckergibb We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-08 21:42] #21685 closed

[2019-01-08 21:43] SaurabhSharma-MSFT commented on #21884
@tescales Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-08 21:51] Mike-Ubezzi-MSFT commented on #21871
@TracyGH I see your options as follows:

1) Use Azure Blob Storage (RA-GRS) with Azure Search Service. Consideration is that you will need to implement your own logic to find the closest storage region for file access and document management (deleting old content, etc.).

2) Use Azure CDN + Option #1. Azure CDN adds find shortest path logic as well as caching logic which could significantly improv

[2019-01-08 21:55] nigelainscoe opened #21901 "Authentication Section is Lacking in Detail"
There is insufficient information regarding authentication.
There should at least be a link to further information for the OAuth.
For Shared Key it is unclear whether this should be a storage account access key or a shared access key - or something else completely.
It is also unclear what the placeholders represent. Neither &lt;account-name&gt; nor &lt;account-key&gt; are intuitive and do not matc

[2019-01-08 22:04] Karishma-Tiwari-MSFT commented on #21369
Thanks @iainfoulds
@badalk Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-08 22:04] #21369 closed

[2019-01-08 22:06] MicahMcKittrick-MSFT commented on #21899
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-08 22:08] femsulu commented on #21855
@Cepheus0815 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-08 22:09] femsulu commented on #21890
@migrande Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-08 22:15] cherylmc commented on #21896
Thanks! I'll take care of that.

[2019-01-08 22:15] femsulu commented on #21891
@cconrado Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-08 22:23] MicahMcKittrick-MSFT commented on #21899
@jlmace Thanks for this find! You are correct. The command is public-ip

I have corrected the doc. Once the PR merges the changes will be live in a few hours.

[2019-01-08 22:23] #21899 closed

[2019-01-08 22:30] SeanFeldman opened #21904 "The article doesn't state this is Premium tier only feature"
Readers should have a clear picture and understand that Availability Zones are offered for Premium tier only.
See ref: https://azure.microsoft.com/en-ca/blog/azure-service-bus-is-now-offering-support-for-availability-zones-in-preview/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cca70845-100f-2cfd-aba3-34b7fa4a5264
*

[2019-01-08 22:33] cherylmc commented on #21896
I've updated the link. It will publish in the next cycle this week. Thanks for noticing this, @jambirk!

[2019-01-08 22:33] cherylmc commented on #21896
#please-close

[2019-01-08 22:36] cherylmc commented on #6261
@TravisCragg-MSFT  - I'm on it! :-) Investigating.

[2019-01-08 22:41] SHANE0MAC commented on #21082
This doesn’t make sence to me.

Log analytics is changing the default Windows event levels after they are ingested into log analytics.

How can log analytics categorize Windows event Errors as level 1 and Warnings as level 2.
When Windows categorizes Errors as level 2 and Warnings as level 3?

From what I can tell the EventLevel number values in log analytics for Warnings and Errors are incorrect

[2019-01-08 22:42] alexsoble commented on #21161
@Anand-Moghe Alright. I'm feeling confused because what you wrote above seems really different from what you told me during our meeting on December 31st:

Maybe we have different ideas or understandings of what "automatically" means?

I also have questions about the proposed custom pipeline solution.

You're talking about writing a Function App here, correct? My question is, why would we write a c

[2019-01-08 22:43] georgewallace commented on #21758
@artisticcheese Thanks for clearing that up.  So as far as your runbook failing 3 times this is normally due to [Fair Share](https://docs.microsoft.com/en-us/azure/automation/automation-runbook-execution#fair-share).  We also have a troubleshooting section on [runbooks running 3 times and failing](https://docs.microsoft.com/en-us/azure/automation/troubleshoot/runbooks#job-attempted-3-times) that m

[2019-01-08 22:44] rahulunlimited commented on #21901
You are right. The documentation lacks the details. The <file-system-name> is the folder you create on the Azure Storage, similar to containers.
The gen2 storage account is the <account-name>

[2019-01-08 22:45] BryanTrach-MSFT commented on #21878
@meixger Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-08 22:45] SHANE0MAC opened #21905 "Log analytics is changing the default Windows event levels after they are ingested into log analytics"
This doesn’t make sense to me.

Log analytics is changing the default Windows event levels after they are ingested into log analytics.

How can log analytics categorize Windows event Errors as level 1 and Warnings as level 2.
When Windows categorizes Errors as level 2 and Warnings as level 3?

From what I can tell the EventLevel number values in log analytics for Warnings and Errors are incorrect

[2019-01-08 22:51] BryanTrach-MSFT commented on #21882
@mahamr Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-08 22:53] mjafferx commented on #12648
In the security reader role section, I believe there's a mistake in the service/capability table. The "Can do" items outlined in the "Identity protection Center" row reflect service capabilities in the Office 365 Security and Compliance center. Can someone please confirm? thanks

[2019-01-08 23:01] Adam-Smith-MSFT commented on #21901
@nigelainscoe @rahulunlimited Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-08 23:09] #20547 closed

[2019-01-08 23:10] #21843 closed

[2019-01-08 23:14] MicahMcKittrick-MSFT commented on #21904
@SeanFeldman thanks for the feedback. I have added a note next to Service Bus stating it is only available for premium tiers. If that changes we will correct the doc.

Once the PR merges the changes will go live in a few hours.

[2019-01-08 23:14] #21904 closed

[2019-01-08 23:18] CelesteDG commented on #19304
Hello @AdaTheDev and @andreea-anastasescu - Thank you both for your patience and for your feedback about `accessTokenAcceptedVersion`. I've discussed with our dev and PM and we've updated the description to the following. This updated info should go live by tomorrow morning (Pacific time). Thank you.

![image](https://user-images.githubusercontent.com/16906646/50864992-a81c7d80-1358-11e9-980f-69fe

[2019-01-08 23:20] hahazeMSFT opened #21906 "document misleading"
Document is a bit confusing and might lead to data loss.

Attached existing disk section goes from attaching an existing disk to formatting it.  If there is data in the existing disk that data will be lost if the disk is re-formatted and partitioned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fde1939-787d-2aa5-4b2

[2019-01-08 23:20] ivanignatiev opened #21907 "Architecture diagram is provided but not described"
Hello,

Architecture diagram is exist in this article but it is not described at all. Primary issue with the diagram that there is red cross for connections from Internet which is not completely true.

Service endpoints do not block access to services from Internet and even public DNS resolution always works. The mechanism which prevent access from Internet (or other networks) is Azure Storage fir

[2019-01-08 23:21] jason-j-MSFT commented on #21682
@ShubhaVijayasarathy could you take a look?

[2019-01-08 23:21] #21896 closed

[2019-01-08 23:28] techresa opened #21908 "Grammar in the Notes"
The grammar in each Note section should be reviewed and corrected appropriately for proper English.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abc120a6-1b98-874a-1cfb-b43456f4a718
* Version Independent ID: 1008851f-9a43-953c-e6c1-269397268c72
* Content: [Tutorial: Azure Active Directory integration with SharePoint

[2019-01-08 23:31] Karishma-Tiwari-MSFT commented on #21082
@SHANE0MAC I will reopen this issue for you so that we can continue the discussion here. I am closing the other issue you opened. Thanks.
@bwren Can you please take a look. Thanks.

[2019-01-08 23:33] Karishma-Tiwari-MSFT commented on #21905
Closing as duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/21082
Reopened the other one.

[2019-01-08 23:33] #21905 closed

[2019-01-08 23:33] jeffpatton1971 commented on #21777
@mike-urnun-msft the title of the doc is literally, Quickstart: Send and receive messages using Azure PowerShell and .NET

So you can see my confusion in your answer when you point me to an article NOT on docs.microsoft that shows you how to Send and Receive messages using powershell.

The following document https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-dotnet-get-starte

[2019-01-08 23:38] bwren commented on #20613
Sorry for delay on this.  Everyone back from holidays now.  I heard back from the engineering team, and apparently this was a known issue that has been corrected.  The script should work fine now.

[2019-01-08 23:38] bwren commented on #20613
#please-close

[2019-01-08 23:40] freakyfriday opened #21909 "Documentation information on sorting incorrect"
For anyone reading this please note this document is incorrect as the results returned in CosmosDB by the TablesAPI are NOT sorted by PartitionKey or RowKey "Query results returned by the Table API aren't sorted in partition key/row key order as they're in Azure Table storage." - see https://docs.microsoft.com/en-us/azure/cosmos-db/faq#where-is-table-api-not-identical-with-azure-table-storage-beha

[2019-01-08 23:40] bwren commented on #20546
Sorry for delay on this.  Everyone back from holidays now.  Heard back from engineering team, and we are going to add this requirement to the article.  Should be published some time next week.

[2019-01-08 23:41] sumeetmittal commented on #18816
Added the limits to the FAQ section. Hope that is helpful.

[2019-01-08 23:41] bwren commented on #20546
#please-close

[2019-01-08 23:49] TravisCragg-MSFT commented on #21897
@bradcstevens If you would like us to enable this feature in the future, [please leave your feedback Here](https://feedback.azure.com/forums/217313-networking).
[This existing feedback](https://feedback.azure.com/forums/34192--general-feedback/suggestions/34365043-we-need-to-have-the-feature-allowgateway-transit-a) seems to outline what you are asking for.

[2019-01-08 23:50] sumeetmittal commented on #21907
Thanks for your feedback. You are right that service side firewall settings will help with access control on the service side. Idea is that without Service Endpoints, traffic flows over public internet whereas with Service Endpoints, traffic always sticks to the Microsoft backend. Once VNET rule is added, traffic from VNET will be allowed and rest of access can be configured by the user.

[2019-01-08 23:52] jontreynes opened #21910 "What happens when machines are off pre and post replication"
Just skimming through this document, it does not mention what happens when a machine is off pre replication and post-replication. May you please cover this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c714cc40-47f5-fb3c-51e0-f504c38ec937
* Version Independent ID: 15da2499-61eb-ec11-53be-7d006cdd4b38
* Content: [Set

[2019-01-08 23:55] pharring commented on #20278
The proposed change is fine if you don't need to configure the SnapshotCollectorTelemetryProcessor (use the defaults). Indeed, if that's the case you can do it with just the 2nd line (AddApplicationInsightsTelemetryProcessor). This could certainly be an alternative for many apps that are happy with the defaults.

However, if you do need to configure the Snapshot Collector via the IConfiguration/IO

[2019-01-08 23:58] #21849 closed

[2019-01-09 00:17] johndowns opened #21911 "Cannot assign an app role to a managed identity"
I am getting errors when I attempt to assign an app role to a managed identity. (The app role is defined in another AD app's manifest, and I want to assign the managed identity to that role.) I have tried this multiple times, using multiple AD tenants.

The repro steps are as follows:

## Step 1: Create an Azure AD application to represent the API

Create an application registration in the Azure p

[2019-01-09 00:21] nagarjuna1207 commented on #21033
Thank you @MicahMcKittrick-MSFT

[2019-01-09 00:30] mrbullwinkle commented on #10945
I am going to close this out. The doc addresses flush() with:

[code]

Thank you for bringing this to our attention.

As far as the need for the wait after calling flush() that is being tracked here:

```https://github.com/Microsoft/ApplicationInsights-dotnet/issues/407``` (I code blocked the link to avoid the auto-linking that GitHub will do between the issues, which is useful when it is cross re

[2019-01-09 00:30] kgremban commented on #20563
@MarekLani My apologies for forgetting to come back to this issue. I did make the changes that I discussed last month. Could you take another look and let me know if the documentation make more sense now, or if they need more improvements? Thanks.

[2019-01-09 00:30] mrbullwinkle commented on #10945
@MicrosoftDocs/azure-cxp-triage #please-close

[2019-01-09 00:31] Alberto-Vega-MSFT commented on #21894
@boiledeggs Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-09 00:32] tchristiani commented on #19538
#please-close

[2019-01-09 00:32] Mike-Ubezzi-MSFT commented on #21909
@freakyfriday Thank you for pointing out this detail. I am assigning this to the content owner to evaluate and update as appropriate.

[2019-01-09 00:38] Karishma-Tiwari-MSFT commented on #21906
@hahazeMSFT Thanks for sharing the feedback. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-09 00:38] YutongTie-MSFT commented on #21892
@eadluru Hi, thanks for the feedback. I will investigate it and get back to you soon.

[2019-01-09 00:39] Karishma-Tiwari-MSFT commented on #20546
@chwilfing Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-09 00:39] #20546 closed

[2019-01-09 00:40] Karishma-Tiwari-MSFT commented on #20613
@ebibibi Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-09 00:40] #20613 closed

[2019-01-09 00:41] TomArcherMsft commented on #21368
@johnwhumphreys I'm currently engage with the product team to discuss this.

[2019-01-09 00:41] TomArcherMsft commented on #20354
@blark I'm currently engage with the product team to discuss this.

[2019-01-09 00:44] BharathNimmala-MSFT commented on #10945
Thank you Michael.

[2019-01-09 00:44] #10945 closed

[2019-01-09 00:44] brlewi commented on #21082
test

[2019-01-09 00:45] su-jie commented on #21873
The CI.CD nuget package is to be used on an arbitrary machine, not inside VS. It is not supported to add nuget package to Stream Analytics Visual Studio project at this moment. If you want to generate the ARM templates in VS, just build the Stream Analytics project and find the generated files under bin folder.

[2019-01-09 00:45] TomArcherMsft commented on #21368
@johnwhumphreys The product team is working on updating the steps to use the new script. We'll update the article when that's done. Thanks for opening the issue.

[2019-01-09 00:45] TomArcherMsft commented on #20354
@blark The product team is working on updating the steps to use the new script. We'll update the article when that's done. Thanks for opening the issue.

[2019-01-09 00:46] TomArcherMsft commented on #21368
@DiegoRamirez-MSFT Please close this a duplicate of #20354

[2019-01-09 00:52] Karishma-Tiwari-MSFT commented on #21694
Thanks @dlepow
@davidmatson Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-09 00:52] #21694 closed

[2019-01-09 00:54] Anand-Moghe opened #21912 "How to Connect Eclipse to Azure Government Cloud"
How do I use Eclipse with Azure Government Cloud?
Can you please provide some link and/or instruction to connect to MAG using Eclipse and Azure Toolkit for Eclipse ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3c7014b-0b77-af22-7127-469237f8f6ed
* Version Independent ID: e15f167a-c2f3-cab2-8bd9-0520d7390def
* Conte

[2019-01-09 00:56] Karishma-Tiwari-MSFT commented on #21875
Thanks for the question. We are currently investigating and will update you shortly.

[2019-01-09 00:57] YutongTie-MSFT commented on #21209
@hukun01 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-09 00:57] #21209 closed

[2019-01-09 00:58] bradcstevens commented on #21897
Thanks Travis!

[2019-01-09 00:58] #21897 closed

[2019-01-09 00:58] KeiroKamioka0000 opened #21913 "How to check expiration date, by per backup"
Hello, I understand the expiration date of backup are assigned by the policy.
However, please consider to add the step to see
&lt;when the backup data will be expire (end of retention period) by per backup&gt;

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b71eb75-6ec4-2647-c3bd-2d7822704346
* Version Independ

[2019-01-09 01:01] johnwhumphreys commented on #21368
Thank you for keeping me posted. I appreciate the support!

[2019-01-09 01:02] YutongTie-MSFT commented on #21747
@daitranthanhhoa We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-09 01:02] #21747 closed

[2019-01-09 01:07] Karishma-Tiwari-MSFT commented on #21898
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-09 01:08] Karishma-Tiwari-MSFT commented on #21880
Thanks for the question. We are currently investigating and will update you shortly.

[2019-01-09 01:09] Karishma-Tiwari-MSFT commented on #21900
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-09 01:22] JSeb225 commented on #19521
#please-close since we did some update on the Edge page: https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/stream-analytics/stream-analytics-edge.md#reference-data

[2019-01-09 01:26] djaus2 opened #21915 "Issues with deploying (Quickstart) IoT Edge module to Windows IoT-Core device ..solved"
Step 2 under "View the IoT Edge runtime status"
ie If you need to troubleshoot the service, retrieve the service logs.
My Install worked but I thought I'd look at the logs.  My install then get screwed up by doing that.
After install Get-Service iotedge works but after then running Step 2 it says the service isn't running.
Looking at the logs it says there was no HostName in the connection string,

[2019-01-09 01:30] djaus2 commented on #21915
Silly me: Don't include the quotes

[2019-01-09 01:32] #12814 closed

[2019-01-09 01:32] djaus2 commented on #21915
I suggest that in the picture showing what to copy don't include the quotes in the rectangle.

[2019-01-09 01:34] djaus2 commented on #21915
Now got:
[192.168.0.26]: PS C:\Data\Users\administrator\Documents> Get-Service iotedge

Status   Name               DisplayName
------   ----               -----------
Running  iotedge            iotedge

[2019-01-09 01:36] KingdomOfEnds commented on #21785
@MarekLani - As a heads-up, several improvements to the article were already made. And, several additional improvements will be made to the article shortly. A number of customers have expressed interest in these functionalities as well. Thank you again for the great suggestions!

[2019-01-09 01:41] TomArcherMsft commented on #20862
@jpetitte Thanks for the feedback on this. I'm engaging with the product group to discuss.

[2019-01-09 01:42] aashishb commented on #20529
You can get access to raw HTTP from your run method, here is the doc: https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-consume-web-service#binary-data
After building AMLResponse you can set any additional headers like CORS, seehttp://flask.pocoo.org/docs/1.0/api/#flask.Response.headers

[2019-01-09 01:43] djaus2 commented on #21915
Not out of the woods te:
9/01/2019 12:30:35 PM info: iotedged::app -- Starting Azure IoT Edge Security Daemon
9/01/2019 12:30:35 PM info: iotedged::app -- Version - 1.0.5 (d76e0316c6f324345d77c48a83ce836d09392699)
9/01/2019 12:30:35 PM info: iotedged::app -- Using config file: C:\ProgramData\iotedge\config.yaml
9/01/2019 12:30:35 PM info: iotedged::windows -- Starting iotedged service.
9/01/2019 1

[2019-01-09 01:45] badalk opened #21916 "Getting the permissions "Granted" to the service principal"
Connect-AzureAD is prompting to login with your azure AD credentials and I am assuming it is providing the details of that user context in the next two commands (OAuthPermissions and Role). How can I connect using a service principal (with app ID and a secret password and not app ID and a certificate) and get the details on the granted permissions?

---
#### Document Details

⚠ *Do not edit this s

[2019-01-09 01:48] badalk commented on #21369
Thanks @iainfoulds

[2019-01-09 01:55] djaus2 commented on #21915
Did fresh install . Now:
[192.168.0.26]: PS C:\Data\Users\administrator\Documents> iotedge list
NAME             STATUS           DESCRIPTION      CONFIG
Still no edge agent.

Logs:
[192.168.0.26]: PS C:\Data\Users\administrator\Documents> Get-WinEvent -ea SilentlyContinue -FilterHashtable @{ProviderName='iotedged';LogName='application';StartTime=[datetime]::Now.AddMinutes(-5)} |

TimeCreated

[2019-01-09 01:56] femsulu commented on #21913
@KeiroKamioka0000 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-09 01:56] #14620 closed

[2019-01-09 01:57] #19521 closed

[2019-01-09 01:57] #19538 closed

[2019-01-09 01:57] #20354 closed

[2019-01-09 01:58] femsulu commented on #21910
@jontreynes Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-09 01:58] kobulloc-MSFT commented on #21900
@johndowns Which section of the documentation are you referring to?  I'm not seeing any mention of the code snippet you included.  If this is a question about a specific implementation, we would be happy to help you troubleshoot this on MSDN:

https://social.msdn.microsoft.com/Forums/en-US/home?forum=ApplicationInsights&filter=alltypes&sort=lastpostdesc

[2019-01-09 01:59] #21368 closed

[2019-01-09 02:00] djaus2 commented on #21915
So how do I manually start the edgeagent?

[2019-01-09 02:00] kazshi commented on #21847
@SubhashVasarapu-MSFT one more question: if all Azure services are included in "Azure Global Services", I assume 'region' ('West US' for example) is subset of the "Azure Global Services", is it correct? I'd like to know which service/region should be allowed to use Azure services.

[2019-01-09 02:01] #21596 closed

[2019-01-09 02:02] DiegoRamirez-MSFT commented on #21527
hi @cherylmc just checking if you have any update on this
thanks in advance

[2019-01-09 02:03] DiegoRamirez-MSFT commented on #21375
hello @mdgattuso just checking if you have any update on this
thanks in advance

[2019-01-09 02:04] DiegoRamirez-MSFT commented on #20572
hello @curtand and @jimdial just checking if you might have any update on this
thanks in advance

[2019-01-09 02:07] imeya opened #21919 "how to check the deployment model via powershell?"
I have a storage account, I want to check it's deployment model. Can I do it via powershell? thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ee9ec76-a91f-095a-5ba3-b9c413366751
* Version Independent ID: 29c17263-ed56-d42e-bc3f-091ef2b4b9ff
* Content: [Quickstart: Create a storage account - Azure Storage](https:

[2019-01-09 02:45] sietec commented on #20995
Thanks for the update and quick response!

[2019-01-09 02:46] #21871 closed

[2019-01-09 02:49] allanalewis commented on #14757
I am able to gather memory metrics for a Linux VM, however I get this error when configuring a alert for a memory metric - "Alerts configuration via Metrics not supported if selection includes multiple resources or more than two metric signals. Please modify your selection and try again or create the rule below. Please click to see the list of supported resources." Please note that I have selected

[2019-01-09 03:10] ManojReddy-MSFT commented on #21625
@fdashti I am checking in to see if the above answer was helpful. Let me know if you have any other questions.

[2019-01-09 03:32] femsulu commented on #21912
@Anand-Moghe Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-09 03:38] YASWANTHM-MSFT commented on #21919
@imeya , Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-09 03:50] cb19245 commented on #21040
ATTENTION EVERYONE!!
Please visit Microsoft's user feedback website on this and request them to undo this change!
https://office365.uservoice.com/forums/273493-office-365-admin/suggestions/36307333-converting-sync-with-ad-users-to-in-cloud-user

[2019-01-09 03:52] AlexanderLiuzm opened #21926 "JavaScript Demo for Excel Output is wrong"
[code]

I use the demo code to write 2 rows into my Excel Output table, but my function app throws out a 500 error and message "When appending a row, the 'Microsoft.O365Bindings.values' or 'Microsoft.O365Bindings.POCO' key must be set
". Please update corresponding Documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-01-09 03:53] yluiu commented on #9712
Currently the API can only takes image as input, and can not take live video stream source as direct input for analyzing. You need to extract from the video stream the frame that you want to analyze and send that to Face API for detect and alignment.

[2019-01-09 03:54] yluiu commented on #9712
https://docs.microsoft.com/en-us/azure/cognitive-services/face/face-api-how-to-topics/howtoanalyzevideo_face
You many refer to this How-to article and the sample code written in C# is on Github.

[2019-01-09 03:59] AmanGarg-MSFT commented on #21840
@imeya To give you some more clarification on Period and Frequency:
Period is the time span over which the query is executed. For your case you should set it to 24 hrs as you want to check the failed rate in the last 24 hours.
Frequency is how often the query should be run. If you set the frequency to 5 minutes, it will execute the query every 5 minutes and then if over the last 24 hours from the

[2019-01-09 04:01] mrthan opened #21927 "Direct sign-on links screenshot out of date"
This screenshot is from the old Azure Admin portal, can you please update with the new look to show where to find this URL? And, add a worded explanation of where to find it, I cannot see it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2507e59-a43d-b5ce-b046-7ebb3dc39b00
* Version Independent ID: 0e723cfb-4d9f-3095

[2019-01-09 04:05] KetanChawda-MSFT commented on #21544
@MDornian I hope the above post will answer your question. we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion.

[2019-01-09 04:05] #21544 closed

[2019-01-09 04:10] KetanChawda-MSFT commented on #21777
@jeffpatton1971 I understand your confusion here. I have assigned this to content author to review and take a right course of action on this. Thanks for your valuable feedback.

@spelluru Can you please review this request?

[2019-01-09 04:12] ManojReddy-MSFT commented on #21927
@mrthan Thanks for the feedback. You can find the URL by navigating to portal.azure.com > Azure Active Directory > Enterprise Applications > Select the Application > Properties > User Access URL.

![image](https://user-images.githubusercontent.com/44399320/50876348-a1dadf80-13f2-11e9-92e3-60b1fb0542b2.png)

I have assigned this to the author to update the doc accordingly.

[2019-01-09 04:30] ARIT2018 opened #21928 "Wrong Word "Got" instead of "Go""
Point 5) under section "Create a storage account for Event Processor Host"

After you see the Deployments Succeeded message, select **Got** to resource

should be

After you see the Deployments Succeeded message, select **Go** to resource

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab5309d7-9a63-fa0f-f8f6-64987eae5d

[2019-01-09 04:35] nellyontour commented on #21746
Great – thanks for getting back to me so promptly.

Neil

From: jakaruna-MSFT <notifications@github.com>
Sent: Wednesday, January 9, 2019 12:16 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: nellyontour <neil_young@xtra.co.nz>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] az keyvault set-policy incorrect options (#21746)

@nellyontour <https://g

[2019-01-09 04:40] #21626 closed

[2019-01-09 04:49] johndowns commented on #21900
This isn't about this documentation page - it's about the feature the documentation refers to.

I've [opened an issue on MSDN](https://social.msdn.microsoft.com/Forums/en-US/f67a8823-6f96-44d5-9b38-24270013912e/custom-metric-namespace-not-honoured?forum=ApplicationInsights) as you requested.

[2019-01-09 04:51] jakaruna-MSFT commented on #21851
@miguelangelopereira They are correct.
Adding the default gateway for the second NIC is based on our requirement.
`10.0.2.0        0.0.0.0         255.255.255.0   U     0      0        0 eth1`
The above route is added automatically while adding the second NIC. This route will work for all the machines in the "mySubnetBackEnd ". But we cant access anything outside of that subnet using the second NI

[2019-01-09 04:57] pltillman opened #21930 "Transactions within transactions"
Can you please explain more on the perils of nested transactions? Is there ever a scenario where creating another transaction within a parent transaction is safe? In my scenario I'm using a nested transaction to modify a different reliable collection. So far I don't believe this is causing any issues, but if a deadlock does occur in this situation what exception would I expect to see?

---
#### Do

[2019-01-09 04:58] jakaruna-MSFT commented on #21842
@sanjaiganesh First resource group will be specified by the user while creating the AKS service.
If you look at this [create](https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough#create-aks-cluster) command, "myResourceGroup" is that resource group.
It contains only the Kubernetes service.

The second resource group, the one which starts with "MC" is created by Azure and all the compo

[2019-01-09 05:00] terrymandin commented on #20073
Thanks Jakaruna, the spaces were most likely the problem.  I see there are still spaces in the original documentation.  Will you remove those?

[2019-01-09 05:03] AshokPeddakotla-MSFT commented on #21928
@ARIT2018  Thanks for the feedback!
This will be fixed on the referenced PR. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-09 05:03] #21928 closed

[2019-01-09 05:08] AshokPeddakotla-MSFT commented on #21915
@djaus2 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-09 05:09] paulbouwer commented on #20188
I've improved the instructions to create the `~/completions` folder if it doesn't exist. This should remove this issue. PR #21933

[2019-01-09 05:11] jakaruna-MSFT commented on #21930
Thanks for the question! We are investigating and will update you shortly.

[2019-01-09 05:16] jakaruna-MSFT commented on #21814
When i tried, I had system Partition followed by C drive followed by unallocated space.
Because of the i was able to extend c drive with thew unallocated space.
Do you also have the same order?

While extending the volume, Volume dialog will calculate the number of MB which you can extend automatically.  Can you reduce that value (may be 10 MB) and try again?

[2019-01-09 05:18] markingmyname commented on #21786
@Karishma-Tiwari-MSFT Please assign this Issue to me.

Thank you.

[2019-01-09 05:22] tchristiani commented on #9883
@SnowGhost21 the engineering team has responded that this issue has been resolved. Are you still having issues?

[2019-01-09 05:38] PramodValavala-MSFT commented on #21699
@michaelsoliman-com Sure.

Since the issue mentioned in my previous comment is very similar, I will now proceed to close this thread. But if you still face the same issue later, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-09 05:38] #21699 closed

[2019-01-09 05:40] dinu99 opened #21944 "Builds finished but no artifacts were created ==> azure-arm: ERROR: -> UnsupportedResourceOperation : The resource type 'snapshots' does not support this operation."
I've subscription owner rights but not sure why i'm getting error "The resource type 'snapshots' does not support this operation." I followed the exact same steps mentioned in this article.

==&gt; azure-arm: Querying the machine's properties ...
==&gt; azure-arm:  -&gt; ResourceGroupName : 'packer-Resource-Group-4wzact5koz'
==&gt; azure-arm:  -&gt; ComputeName       : 'pkrvm4wzact5koz'
==&gt; azu

[2019-01-09 06:04] kazshi opened #21948 "Configure NPM for ExpressRoute for Office 365"
My customer is planning to configure NPM for ExpressRoute for Office 365 and have no plan to create VNet, but looks like VNet is required for using NPM according to the Step 1. Do we need to create VNet to configure NPM for ExpressRoute for Office 365?
I couldn't find specific content for the scenario.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-01-09 06:06] dcbrown16 opened #21951 "Custom metrics?"
Are the metrics gathered by this extension "custom metrics" and thus potentially subject to charges (after a certain level) from April 2019?
https://azure.microsoft.com/en-us/pricing/details/monitor/

This statement seems to suggest that that would be the case:
"Publish custom metrics from your Windows virtual machines using Windows Diagnostic Extension (WAD)."
https://docs.microsoft.com/en-us/azu

[2019-01-09 06:08] SamirFarhat opened #21952 "Install the Aure Fnction Core tools globally"
Hi,

The command here is not installing the core tools globally, which caused me an issue when deploying a function pragmatically (via a service account)
npm install -g azure-functions-core-tools

You can see the temporary solution here : https://github.com/Microsoft/azure-pipelines-tasks/issues/9250.

How can we install the Function Core Tools for all users ?
Thanks

---
#### Document Details

⚠

[2019-01-09 06:09] SumanthMarigowda-MSFT commented on #19527
@yangsiyu007 Hope this clarify's your query. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-09 06:09] #19527 closed

[2019-01-09 06:14] neeleshray commented on #21861
You would then need to manually disconnect the computer from the Azure AD and then re-join it.
As mentioned earlier, you can refer to this [blog ](https://cloudpuzzles.net/2015/03/disconnecting-a-windows-10-device-from-azure-ad/) for the same.

[2019-01-09 06:14] djaus2 commented on #21915
Also in this tutorial it says "If it's a Windows computer, enable the containers feature. In the start bar, navigate to Turn Windows features on or off and check the box next to Containers."
How do you do that with Win 10 IOT-Core? Or is it automatically on with IoT-Core? Using a MinnowboardMax in x64 mode.
thx

[2019-01-09 06:20] jakaruna-MSFT commented on #21944
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-09 06:35] #20278 closed

[2019-01-09 06:39] BryanTrach-MSFT commented on #21529
@hjlarrea I do know there was a recent regression with custom domain names. A fix should have been deployed for this issue at the end of last week. Can you please check to see if this issue is still occurring for you? If no, please tag me in your reply so we can dig deeper.

[2019-01-09 06:39] #21529 closed

[2019-01-09 06:54] fdashti commented on #21625
Yes it was, sorry for the delayed response. I customised the messages in the language customisation.
Thanks for your help
________________________________
From: K N Manoj Reddy <notifications@github.com>
Sent: Wednesday, January 9, 2019 3:11:00 AM
To: MicrosoftDocs/azure-docs
Cc: Farshad; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Security issue with Azure AD B2C Local Account - Sign in form

[2019-01-09 06:56] PramodValavala-MSFT commented on #21763
@slugerrist We are assigning this issue to the content authoring team to investigate and update the docs accordingly.

[2019-01-09 06:57] neeleshray commented on #21916
Thank you for the feedback. We are investigating and would update shortly.

[2019-01-09 07:00] ManojReddy-MSFT commented on #21625
@fdashti Thanks for the update. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-01-09 07:00] #21625 closed

[2019-01-09 07:09] mike-urnun-msft commented on #21558
Hi @crgolden Thanks for your feedback and helping us drive improvements towards MS Docs! We have validated this scenario and updated the documentation accordingly. The changes should reflect on the site within 24hrs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-09 07:09] #21558 closed

[2019-01-09 07:13] SubhashVasarapu-MSFT commented on #21948
@kazshi Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-09 07:55] mike-urnun-msft commented on #21707
@Jayesh040 are you referring to the following?
`double score = Convert.ToDouble(requestBody);`

if so, can you try adding below right after that line?
`int intScore = Convert.ToInt32(score);` and use `intScore` variable in the subsequent logic accordingly?