[2020-11-25 13:49] anpin opened #66676 "ROPC policy POST request URL"
Provided URL scheme to test ROPC didn't work for me, but link like the one below worked as found [here](https://stackoverflow.com/questions/49307985/azure-ad-b2c-get-token-programatically-for-unit-testing)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c54680bb-ff67-a9e2-4272-1710fe6eb863
* Version Independent ID: 6d15

[2020-11-25 13:54] Pankaj8878 opened #66677 "Not much help..."
Document lacks detailed explanation. Dont create documents as task.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecb6fa26-f01e-e9dd-efad-74c0898e2027
* Version Independent ID: 4582bdc2-1d26-067d-4343-a63736d4bf8f
* Content: [Key Vault secret with template - Azure Resource Manager](https://docs.microsoft.com/en-us/azu

[2020-11-25 13:59] PatrickLownds opened #66678 "Windows agent installation details"
Under Windows agent installation details it lists a folder **%SystemDrive%\AzureConnectedMachineAgent\**ExtensionService\downloads

However, there is no such folder in the root of the the %SystemDrive%. Instead that folder I believe is found in %SystemDrive%\**Program Files**\AzureConnectedMachineAgent\ExtensionService\downloads
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this

[2020-11-25 14:13] HarithaMaddi-MSFT commented on #66488
@vishalgoyal16444 - Thanks for sharing additional details. We are unable to reproduce it as the derived column using column pattern is working fine for us. This issue seems related to specific customer scenario and hence I would recommend you to post a question on [Q&A forum](https://docs.microsoft.com/en-us/answers/topics/azure-data-factory.html) or [Stack Overflow](https://stackoverflow.com/ques

[2020-11-25 14:14] #66488 closed

[2020-11-25 14:15] HarithaMaddi-MSFT commented on #66561
@mssaperla - Can you please take a look and share your thoughts.

[2020-11-25 14:15] HarithaMaddi-MSFT commented on #66562
@mssaperla - Can you please take a look and share your thoughts.

[2020-11-25 14:16] HarithaMaddi-MSFT commented on #66431
@mssaperla - Can you please take a look and share your thoughts.

[2020-11-25 14:16] nidiculageorge commented on #66087
@norshtein Thanks for the update. So the conclusion is

Once the cluster is upgraded to Managed Identity we have to do the following

1. Attach the ACR once more to the AKS cluster
2. Assign contributor permission for the cluster identity (Object id) (Enterprise application) that is created to the custom vnet

     "identity": {
    "principalId": "<object id>",
    "tenantId": "<tenant id>",

[2020-11-25 14:21] ilkeSylmz commented on #48738
Any update on this?

[2020-11-25 14:27] yossi-y commented on #66181
Hello,
Yes, this was a change intended to match the UI and exported format, to let users see date time values aligned.
This isn't something that we plan to change further.

Thanks,
Yossi

[2020-11-25 14:29] indranil-chakraborty-thd opened #66679 "Documentation error"
Reading through the documentation, it states:
![image](https://user-images.githubusercontent.com/69918654/100240480-3b80dc80-2ef8-11eb-93f1-9ddb9255541e.png)

I believe there is an error in the first paragraph. For application only, `applicationId` should be specified and `objectId` should be null.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-11-25 14:31] motasem13 opened #66680 "Add Snippet for Microsoft.Web Diagnostics Setting"
I have feedback regarding document

Resource Manager template samples for diagnostic settings in Azure Monitor)
https://docs.microsoft.com/en-us/azure/azure-monitor/samples/resource-manager-diagnostic-settings

to seems that it's missing a section for how to add setup Diagnostics settings for Microsoft.Web

if you can add a part on how to enable it for Microsoft.web it would be great

something li

[2020-11-25 14:33] BillGatesIII opened #66681 "This article is outdated"
This article is outdated. It looks different now, there is no Sync button anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54e3841e-4db1-7970-a7c4-7ca1a2303e19
* Version Independent ID: 014968df-aade-8fb6-25af-303169dfd685
* Content: [Sync network configuration for Azure App Service - Azure SQL Managed Instance]

[2020-11-25 14:38] tfitzmac commented on #66677
@Pankaj8878 - thanks for the feedback. What details are you looking for that are not in the article?

[2020-11-25 14:43] hypdeb commented on #65398
@sachdevaswati I'm not exactly sure how I can help, but feel free to send me an invite per email. I'm in Central Europe but quite flexible.

[2020-11-25 14:46] StingyJack opened #66683 "The CXWTOOL bot is closing issues that have not been abandoned by the opener"
Its closing things that are awaiting response from any owner, member, or contributor.

Its the evil StaleBot/DockerDesktopBot reincarnated, and is community relationship destructive.

[2020-11-25 14:49] NavtejSaini-MSFT commented on #66669
@yoshioterada We are checking this and will get back to you.

[2020-11-25 14:51] sivabudati opened #66684 "Import behavior correction"
In the "Import Behavior" section, this did not work for me:
`from shared_code import my_first_helper_function #(absolute)`

I had to do this:
`from ..shared_code import my_first_helper_function #(absolute)`
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d955d169-8fb8-c511-8911-3e49f95c5ce6
* Versi

[2020-11-25 15:04] DynConcepts opened #66685 "Page is of no help for resource not found."
I have an IP resource, can not delete it because it is in use by the NIC.... but click on the NIC and is says not found, and directs me to this page......

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd488a2e-7d1a-7a6a-93a5-54481de978bd
* Version Independent ID: 8092c342-5737-10f9-13ff-2df291dc7ea3
* Content: [Resour

[2020-11-25 15:05] SubhashVasarapu-MSFT commented on #66673
@lonevvolf, Thanks for reaching out. We will investigate and update this thread.

[2020-11-25 15:06] timaff1 opened #66686 "out of date documentation"
I'm researching Azure/Data Catalog and the documentation is a year old!  Please update!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1fd2055b-85c6-5e87-7417-eb09731dc7a6
* Version Independent ID: 6282c208-8d54-c923-2156-b4081f134f4a
* Content: [Introduction to Azure Data Catalog](https://docs.microsoft.com/en-us/azur

[2020-11-25 15:06] andrewmcguinness opened #66687 "Role assignments for enterprise agreement enrollment accounts"
The page is linked from

https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/programmatically-create-subscription-enterprise-agreement?tabs=rest-getEnrollments%2Cazure-cli-EA

which describes creating a subscription using an enrollment account scoped within a billing account. It says to see what enrollment accounts you can access using this call:

`GET https://management.azure.co

[2020-11-25 15:09] docbugger commented on #65806
Hi @cherylmc , is there an ETA for the doc update? My organization would like to start using the Bastion feature, but we are concerned about security for passwords entered into a Web form which have to be relayed (i.e. the site can't just apply an irreversible transformation to them for validation), esp. as the fact that the Bastion client offers to reconnect to dropped RDP connections implies the

[2020-11-25 15:10] SnehaAgrawal-MSFT commented on #66668
@rwiankowski Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-11-25 15:11] mcurko commented on #51597
I have the same question.

[2020-11-25 15:12] gamullen opened #66688 "Misspelling"
In fact, since the connections to the backend happen over **it's** public IP, it is recommended that you configure your Front Door to use HTTPS as the forwarding protocol.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7be424c-f540-a753-6ecc-6ff3913368d5
* Version Independent ID: dc80b25f-374d-8775-16e7-ae7d57b4b94f
*

[2020-11-25 15:20] MarileeTurscak-MSFT commented on #66670
@CT-code-lab
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-25 15:23] MarileeTurscak-MSFT commented on #66670
I made a pull request to update this.

@jeevansd please confirm

[2020-11-25 15:23] #66670 closed

[2020-11-25 15:31] SatishBoddu-MSFT commented on #66650
Hello @maxiptah
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-25 15:35] KrishnaG-MSFT commented on #66678
@PatrickLownds Thanks for your comment! We will review and provide an update as appropriate.

[2020-11-25 15:43] YutongTie-MSFT commented on #66362
@PatrickFarley Hello Patrick, could you please double confirm for me if there any mis-understanding for this question? If we can do any more clarification for this document? Thanks a lot.

@ksaye Hello, thanks for your feedback again. I have the author to double check this part again to keep everything correct.

[2020-11-25 15:47] KrishnaG-MSFT commented on #66474
@SpaceWVD At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-11-25 15:47] #66474 closed

[2020-11-25 15:47] RohitMungi-MSFT commented on #66661
@Vansir You can export the knowledge base which is not required using the export knowledge base option from the settings tab of your KB. This is available for export in .csv or .tsv formats. This should allow you to publish your new KB in the free tier and you can create a new KB with the exported KB without publishing it.

[2020-11-25 15:55] matgree opened #66692 "Update Prerequisites for Databox "Microsoft Enterprise Agreement (EA). Read more about EA subscriptions.""
A part of the "prerequisites" for Azure Data Box states that a client needs a "Microsoft Enterprise Agreement (EA). Read more about EA subscriptions." in order to provision. We are no longer able to add Azure subscriptions to EAs, rather they are provisioned under the Microsoft Customer Agreement (MCA). This may be confusing to our clients.

---
#### Document Details

⚠ *Do not edit this section.

[2020-11-25 16:12] JamesTran-MSFT opened #66693 "Add Troubleshooting steps for UnableToAddPublisher error message"
Based off these GitHub and Q&A issues:

GitHub - https://github.com/MicrosoftDocs/azure-docs/issues/62877
Q&A - https://docs.microsoft.com/en-us/answers/questions/167247/index.html

It seems that there's a trend where customer's can't add a publisher to their App registrations following the [documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/mark-app-as-publisher-verifi

[2020-11-25 16:13] JamesTran-MSFT commented on #66693
@rwike77
I created this issue so we can address the MPN ID issue, please review and update as necessary!

If you have any questions, please let me know.
Thank you!

[2020-11-25 16:16] JamesTran-MSFT commented on #62877
Hi All,
I created an issue and assigned it to the author to update the troubleshooting steps documentation for this error message.

For more info: https://github.com/MicrosoftDocs/azure-docs/issues/66693

[2020-11-25 16:17] SadiqhAhmed-MSFT commented on #66173
@jdelforno The page https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/programmatically-create-subscription?tabs=rest-getEnrollments%2Cazure-powershell-EA%2Crest-getBillingAccounts%2Crest-getBillingProfiles%2Crest-MCA%2Crest-getBillingAccount-MPA%2Crest-getCustomers%2Crest-getIndirectResellers%2Crest-MPA#create-subscriptions-under-a-specific-enrollment-account already has PowerS

[2020-11-25 16:17] SubhashVasarapu-MSFT commented on #66688
@gamullen, Thanks for reaching out. We will investigate and update this thread.

[2020-11-25 16:20] nikki-c opened #66695 "Incorrect wording in first paragraph"
In the first paragraph the following statement should be removed as there is no such this as public GA. It is assumed reading the Microsoft documentation that it is in GA unless explicitly state it is a preview.

Remove this wording

This feature is currently in public GA

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-11-25 16:30] ChaitanyaNaykodi-MSFT commented on #66181
Thank you @yossi-y for the response, this is very helpful.
@kazshi, I will now proceed to close this issue out. Please tag me in you reply if there are any additional concerns, I will be glad to continue with our discussion. Thank you!

[2020-11-25 16:30] #66181 closed

[2020-11-25 16:30] BharathNimmala-MSFT commented on #66687
@andrewmcguinness Thanks a lot for bringing this our notice, i have assigned this issue to our document author @bandersmsft  to further review the feedback and update the document as needed.

[2020-11-25 16:36] jeffw-wherethebitsroam commented on #63446
@tamram Fantastic! Thanks for the update.

[2020-11-25 16:50] TheBluLion opened #66696 "needs update"
instructions for turning on spending limits no longer work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 053d81ad-ed0b-efbb-9029-511d83222e7c
* Version Independent ID: 22237e49-91a8-0120-913a-fee6432e09d2
* Content: [Azure spending limit](https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/spending-l

[2020-11-25 16:54] SubhashVasarapu-MSFT commented on #66337
@alexandreweiss, closing this as it is duplicate of #66353

[2020-11-25 16:54] #66337 closed

[2020-11-25 16:56] jan-tosovsky-cz opened #66697 "Client-side caching: Outdated CentOS settings"
On CentOS 8.2 (Rogue Wave) Gen2 two last points cannot be replicated:
- Add prepend domain-name-servers 127.0.0.1; to /etc/dhclient-eth0.conf.
- Restart the network service with service network restart, to set the cache as the local DNS resolver.
because:
- there is no /etc/dhclient-eth0.conf file in my case
- Failed to restart network.service: Unit network.service not found.

I am worried to make

[2020-11-25 17:09] rbschneider commented on #66616
@e-saiz,

Thank you - this does sound a bit confusing. Here is the gist of the instructions:
	1. The first section is about creating a cluster with Managed Identities (preferred method).
	2. The "Update an existing . . ." refers to a cluster that was initialized with a Service Principal, then later changing it to use a Managed Identity.

The takeaways regarding cluster management is thus:
	- Clust

[2020-11-25 17:15] mbanck opened #66698 "Clarify additional rights/privileges of azure_pg_admin, if any"
On this page, it is written that the server admin has "`LOGIN, NOSUPERUSER, INHERIT, CREATEDB, CREATEROLE, NOREPLICATION`" rights and is part of the `azure_pg_admin` group.

However it is unclear how being a member of the `azure_pg_admin` is distinct from having the above right. In
https://docs.microsoft.com/en-us/azure/postgresql/howto-create-users#how-to-create-additional-admin-users-in-azure-da

[2020-11-25 17:19] cmielke opened #66699 "VMs built from custom images are not supported"
I appears that VMs that were built from custom images are not currently supported. This should be noted in the Current Limitations section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e54697d-6d11-c11d-a0f8-fb2ae191e0dc
* Version Independent ID: 79f3a5e9-c6f6-2abe-1e96-797e3cc6947d
* Content: [Enable Azure Monitor

[2020-11-25 17:20] JamesTran-MSFT commented on #66679
@indranil-chakraborty-thd
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-11-25 17:27] MaxiPalle opened #66700 "DevTest Labs browser connect and VNet peering doesn't work (anymore?)"
Tried to activate Browser access in a VNet peered to a Hub with a Bastion Host.
Browser connect doesn't change to 'yes' as it would do if you have a Bastion host in the same VNet as DTL.

According to this side (and my experience some monthes ago) this should work.

Accessing DTL VMs from Hub and and ouside via RDP does work.
No firewalling, no NSG etc.

Anything else which I might miss?
---
####

[2020-11-25 17:31] JamesTran-MSFT commented on #66695
@nikki-c
I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2020-11-25 17:31] #66695 closed

[2020-11-25 17:33] bacongobbler opened #66701 "CSI driver documentation for AKS pointing at an old Kubernetes version"
When following the example provided to enable the CSI drivers:

[code]

Output of `az aks get-versions` shows 1.17.13 as the latest available version for the `westus2` region. The documentation should be updated to reflect the latest version of Kubernetes 1.17, or recommend a version of Kubernetes that is readily available in most regions.

[code]

---
#### Document Details

⚠ *Do not edit this se

[2020-11-25 17:46] devan10 opened #66702 ""Cancel Subscription" - CSP"
Hi,

Its not really clear who has the permissions to cancel a CSP subscription and what happens when you click the cancel subscription button for a CSP subscription.

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e76ce485-5a06-add0-76a3-b823fb6c3c7a
* Version Independent ID: af78deae-d409-6261-a817-b504965d

[2020-11-25 17:49] tamram commented on #63446
We've also updated the [service SAS](https://docs.microsoft.com/azure/storage/blobs/sas-service-create) examples accordingly. Still working on the other SAS types, will be updated soon.

[2020-11-25 17:54] qhaitoNNV opened #66703 "Packets per second observation for Generation 2 Virtual Network Gateways"
Here, we get to see the observed packets per second (PPS) observed across an Azure Tunnel for different Generation1 Gateways SKU's when different IPsec configurations are used: [https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-vpngateways]

Currently there is no information on this for Generation2 Gateways. Can the document be update with this information?

---
#### Document De

[2020-11-25 17:54] ewittrock-uwm opened #66704 "Incorrect Description of an Availability Set"
The description of an Availability Set in the second paragraph under VM Redundancy is incorrect.  Availability Sets and Availability Zones are different types of server redundancy within Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f4f2ef2-d071-c86e-0afe-ff6aed852132
* Version Independent ID: 20998982-0546-58

[2020-11-25 18:00] philgp opened #66705 "Incorrect URL strings for signatures"
In the section "Signature block requirements" four algorithm strings are listed:

[code]
I think that the correct protocol for each should be "http", not "https". See reference
[XML Signature Syntax and Processing Version 2.0](https://www.w3.org/TR/xmldsig-core2/)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e45e65a0

[2020-11-25 18:02] MonikaReddy-MSFT commented on #66683
@StingyJack -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-11-25 18:02] JamesTran-MSFT commented on #66676
@anpin
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-11-25 18:03] tfitzmac commented on #66685
@DynConcepts - do you happen to know if the NIC was deleted? Or, do you not have read permissions on the NIC?

[2020-11-25 18:08] rbschneider commented on #66684
@sivabudati

1. Are you using Pyright or any TypeScript anywhere in this project?
2. Assuming the 'my_first_helper_function' is in the 'shared_code' folder, this should not work. Can you provide your project directory tree?
3. Also, if the script is referencing the root dir, then you may have a duplicate project file there.
4. Which version of Python do you have installed? That can be a major hang

[2020-11-25 18:10] StingyJack commented on #66683
Its not a document problem its a github-bot-closing-issues-incorrectly problem. Here are three recent closure examples.

https://github.com/MicrosoftDocs/azure-devops-docs/issues/3305#issuecomment-733305120

https://github.com/MicrosoftDocs/azure-devops-docs/issues/7468#issuecomment-733292626

https://github.com/MicrosoftDocs/azure-devops-docs/issues/7510#issuecomment-733292541

[2020-11-25 18:14] SadiqhAhmed-MSFT commented on #66696
@TheBluLion Could you please provide more details about the issue you are facing? What type of subscription you have?
What access (Owner/Contribution or any other) level you have at the subscription scope?

[2020-11-25 18:21] zachgatesak opened #66707 "Provide explanation about no billing scopes listed for direct sign ups"
Article is lacking addressing what if there are no listed billing scopes and troubleshooting the permissions, or potential causes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23040d03-c7f5-1213-6146-8fb6a3d2c8fb
* Version Independent ID: a55bac65-a49b-eff5-2309-f8a2ae7c094c
* Content: [View your billing accounts in

[2020-11-25 18:23] rbschneider commented on #66688
https://github.com/MicrosoftDocs/azure-docs/pull/66708

[2020-11-25 18:25] SadiqhAhmed-MSFT commented on #66702
@devan10 The instructions in the doc - "[Cancel your Azure subscription](https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/cancel-azure-subscription)" doesn't apply to CSP.

Partners can suspend or cancel a subscription if requested by the customer, or in cases of nonpayment or fraud. For more details see this link - https://docs.microsoft.com/en-us/partner-center/create-a-new-

[2020-11-25 18:32] gitclem opened #66710 "Please add Python example for "Review the code" section"
I do NOT want to have to learn yet another language (C Sharp) to do something that can be done in Python (which I already know.). The code for "Review the code" is only in C Sharp.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2700fc00-4872-6fcf-65e0-ab9fd5fde2a1
* Version Independent ID: e828bbb5-2c22-17f2-32aa-aa377

[2020-11-25 18:33] WinstonHoward-MSFT commented on #66658
Thanks for the issue, let me take a look.

[2020-11-25 18:33] MonikaReddy-MSFT commented on #66699
@cmielke -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-11-25 18:34] WinstonHoward-MSFT commented on #66662
Thanks for the issue, I've assigned this doc question to the doc author.

[2020-11-25 18:36] SadiqhAhmed-MSFT commented on #66699
@cmielke IMO, this point "Only Azure virtual machines are currently supported" is an answer to your question.
"Only Azure virtual machines" meaning no other machines.

Hope that clarifies!

[2020-11-25 18:40] #66688 closed

[2020-11-25 18:50] ezYakaEagle442 opened #66711 "Provide ARO availaibilty check snippet"
Could you please add a section the FAQ t oexplain how to check ARO availability through CLI :

curl -sSL aka.ms/openshift/where | bash
az provider show -n Microsoft.RedHatOpenShift --query "resourceTypes[?resourceType == 'OpenShiftClusters']".locations --output json

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a8cb0

[2020-11-25 19:03] JamesTran-MSFT commented on #66598
@gb2793
Thank you for the screenshots and detailed explanation!

Have you tried logging in after signing out to see if the login hint and admin consent works?
Can you try signing in using an incognito window to see if this issue still occurs?
When it comes to admin consent, can you share a screenshot of your API permissions or share what permissions you're using that require admin consent?

Any ad

[2020-11-25 19:05] DynConcepts commented on #66685
"do you happen to know if the NIC was deleted? Or, do you not have read permissions on the NIC?"

@tfitzmac - I strtaed with an empty subscription this morning (it is an MPN associated with my Visual Studio that I am the owner of). Had been creating and deleting items . Then I got a bunch of errors and was left in the above state. So, I don't see how it could be permissions, and it was the deletio

[2020-11-25 19:07] DynConcepts commented on #66685
Some further information... Since I could not delete items, I figured I could perhaps move them to another RG so that there would not be a conflict, and I could get back to work. The only items in the RG were the problematic IP and NIC.... Over TWO HOURS later, I still can not do anything with the original RG as I get the "Cannot deploy to resource group ****: movingresources" error...

[2020-11-25 19:08] DynConcepts commented on #66685
If there is any way to establish direct communication, I can forward details with actual subscriptions, et. al. and perhaps even do a Team meeting.  This is really frustrating as I need a resolution before I can break for the Holiday weekend...

[2020-11-25 19:12] BharathNimmala-MSFT commented on #66707
@zachgatesak Thanks a lot for bringing this to our notice, assigning this issue to our document author @amberbhargava to further evaluate the feedback and see how the document can be enhanced to give more clarity.

[2020-11-25 19:13] JamesTran-MSFT commented on #66602
@jbm00n
Have you looked into our [Manage certificates via Azure Key Vault](https://docs.microsoft.com/en-gb/archive/blogs/kv/manage-certificates-via-azure-key-vault) documentation? This explains the built-in support to create and auto-renew certificates for your cloud apps in Azure Key Vault.

I'll also assign this issue to the author since [the documentation](https://docs.microsoft.com/en-gb/azur

[2020-11-25 19:23] DynConcepts commented on #66685
For reference, I have asked the community (since the link in the error message had NO information about the actual situation - and hence the posting here on GitHub) ...but so far ZERO response...

https://stackoverflow.com/questions/65007618/unable-to-delete-azure-nic-ip-circular-logic

[2020-11-25 19:29] JamesTran-MSFT commented on #66605
@humbertocg
Thank you for your time and patience throughout this issue. Walking through the documentation, I didn't need any text in my Request Body to run - GET https://graph.microsoft.com/beta/servicePrincipals

![image](https://user-images.githubusercontent.com/36619112/100273071-0af96c80-2f11-11eb-80f1-fe55e51a108e.png)

I was also able to get my service principle and run - https://graph.micro

[2020-11-25 19:36] rbschneider commented on #66674
@jikuja,

It sounds like:
	1. You may have the cron job running into another running function.
	2. You may have a static client trying to create a new client with each function. If this is the case, you will need a single static client for each f(x) to use.
	3. How many connection attempts is your app trying to make?
	4. Check the cron settings also.
	5. IF you do not already, enable telemetry: ht

[2020-11-25 19:39] lfittl-msft commented on #66698
Thanks for reaching out @mbanck!

Let me check with the team on this. My understanding is that the `azure_pg_admin` gets additional permissions that are not passed along with the regular Postgres privileges, but I'll confirm & see if we can update the documentation in this regard.

Note that since its Thanksgiving week here in the US, updates on this might be slightly delayed.

[2020-11-25 19:41] JamesTran-MSFT commented on #66623
@jeubank12
Thank you for your time and patience throughout this issue.

Using MS Graph, you can get your tenantID using:
`https://login.microsoftonline.com/{yourDomainName.com}/.well-known/openid-configuration`
![image](https://user-images.githubusercontent.com/36619112/100274060-a7703e80-2f12-11eb-91af-7ed26ba5e8c7.png)

You can also decode your access token within [jwt.ms](https://jwt.ms/)
![ima

[2020-11-25 19:43] AjayKumar-MSFT commented on #66490
Janne, Your feedback has been shared with the content owner for further review and update the document as appropriate.

[2020-11-25 19:44] hugobarona opened #66714 "Missing code snippet for Upload and tag images"
The code snippet responsible to upload and tag images are missing. Instead, the current code snippet is replicated from the previous section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f6c3f20-25a4-bc19-0cb6-377eff01b00e
* Version Independent ID: 02d76c7b-cffa-c94f-2298-ba7e506d4f79
* Content: [Quickstart: Image c

[2020-11-25 19:49] jeubank12 commented on #66623
That is correct for work/school accounts. But for personal accounts, the tid is set as `9188040d-6c67-4c5b-b112-36a304b66dad` for all personal accounts

Is the tenantId stable in the webUrl property of [joinedTeams](https://docs.microsoft.com/en-us/graph/api/user-list-joinedteams?view=graph-rest-1.0&tabs=http)?

[2020-11-25 19:51] jeubank12 commented on #66623
The [description](https://docs.microsoft.com/en-us/graph/api/resources/team?view=graph-rest-1.0#properties) indicates that it is an opaque blob and should not be parsed. Just trying to find out if it can be exposed on the Team object then

[2020-11-25 19:58] tfitzmac commented on #66089
@o-l-a-v - you can add an instance and delete it. Or, run the following PowerShell command:

Get-AzMarketplaceTerms -Publisher {publisher} -Product {product/offer} -Name {name/SKU} | Set-AzMarketplaceTerms -Accept

[2020-11-25 19:58] BharathNimmala-MSFT commented on #66685
@DynConcepts Apologies for your experience and thank you for reaching out to us.

Given the scenario you are seeing, it might need further troubleshooting to isolate the issue. Can you please send an email to AzCommunity@microsoft.com  with your Subscription details and a link to this thread so we can verify and direct the request accordingly .  We'll continue to investigate this with you directly

[2020-11-25 20:05] JamesTran-MSFT commented on #66623
@jeubank12
Thank you for the quick response!

Using Graph API, I ran that command using my personal account which showed the correct tenant:
![image](https://user-images.githubusercontent.com/36619112/100275675-2a929400-2f15-11eb-864a-80371623d2cb.png)

When it comes to your Teams specific questions, I'd recommend leveraging our [MS Q&A Teams forums](https://docs.microsoft.com/en-us/answers/produc

[2020-11-25 20:07] ms-vincent opened #66716 "Issue connecting Storage Explorer to blob on IoT Edge"
I'm trying to connect to my blob storage running on IoT Edge and not succeeding in connecting.

I followed the steps documented here: https://docs.microsoft.com/en-ca/azure/iot-edge/how-to-store-data-blob?view=iotedge-2018-06#connect-to-your-local-storage-with-azure-storage-explorer

and using the following as the connection string:

_Provide connection string: DefaultEndpointsProtocol=http;BlobEn

[2020-11-25 20:24] rbschneider commented on #66668
@rwiankowski you are correct. The regions can play a large role in the subscriptions. Let me look into this one and get back to you here.

Cheers!

[2020-11-25 20:31] Varun-Mehrotra opened #66717 "Broken AAD token link in Databricks Connect setup guide"
The 'Azure Active Directory token' Link in the following screenshot is broken and leads to a 404
![image](https://user-images.githubusercontent.com/12584796/100278404-c8488c00-2f32-11eb-8f11-6b97137d1cd3.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3642022f-a58f-6290-ecf1-3c551a9bfc96
* Version Independent ID: c

[2020-11-25 20:33] jeffqu17 commented on #66547
Sorry, was on vacation the past few days.  The issue is not resolved. The issue from the start and remains is there is no "Properties" menu option available as the error message refers to. I see it in your screen shot but I still don't see it and I am the service administrator for subscription.

[2020-11-25 20:42] jeffqu17 commented on #66547
Thanks for following up on this.

The issue, as from the start, is that there is no “Properties” menu option. Here is my screen.

I have confirmed another user encounters the same issue with one of their subscriptions.

[cid:image002.png@01D6C34A.02C3A220]

From: Robert Lyon <notifications@github.com>
Sent: Tuesday, November 24, 2020 8:12 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.

[2020-11-25 21:24] #66577 closed

[2020-11-25 21:26] kgremban commented on #66577
@MatthijsvdVeer Thank you for pointing this out. I just merged an update to refer to Raspberry Pi OS instead of Raspbian. Since this was a straightforward replacement, I closed your issue with the pull request If you have any further questions or suggestions on the topic, though, let us know and we can reopen the issue.

[2020-11-25 21:27] NavtejSaini-MSFT commented on #66710
@gitclem We are checking this and will get back to you.

[2020-11-25 21:30] matejskubic opened #66719 "base64 encoding for object binding"
In the [Encoding](https://github.com/MicrosoftDocs/azure-docs/blame/02a9908a7004bf0ce7aea6b9e6e2d6da9437eec8/articles/azure-functions/functions-bindings-storage-queue-trigger.md#L18) documentation says:

Later at [Usage - C#](https://github.com/MicrosoftDocs/azure-docs/blame/02a9908a7004bf0ce7aea6b9e6e2d6da9437eec8/articles/azure-functions/functions-bindings-storage-queue-trigger.md#L366) document

[2020-11-25 21:35] ChiragPavecha commented on #66536
@y2kdread : Submitted - https://github.com/MicrosoftDocs/azure-docs-pr/pull/139157

[2020-11-25 21:53] jeevansd commented on #66605
@chetansriv This is a valid feedback. For GET query you dont need a payload in the body. Can you please get that removed from the screenshot? This is causing confusion here.

[2020-11-25 22:03] dinesarun opened #66720 "Error while walk through this Text Analytics sample - The name 'AdditionalSentimentAnalyses' does not exist in the current context and {match.Length} not recognizable"
Good walkthrough. Also fixing the mentioned 2 errors would be great.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f57e416-a37f-e719-4a3e-58a4e6390818
* Version Independent ID: dbb3821b-5793-b41b-9601-559b00e4096a
* Content: [Quickstart: Text mining using the Text Analytics client library - Azure Cognitive Services](

[2020-11-25 22:15] Nickomang commented on #61436
@duanecr , Thanks for the feedback. The image has been updated.

#please-close

[2020-11-25 22:15] #61436 closed

[2020-11-25 22:20] revodavid opened #66721 "Azure functions core tools prerequisite"
While trying to follow the Python/VSCode version of the "Create a Python Function" tutorial in WSL2, I got an error from Code that "Azure Core Functions" is required at the step "Press F5".

The error dialog linked to [this page](https://github.com/Azure/azure-functions-core-tools#installing), which suggested I run:

[code]

and this fixed the issue and allowed me to proceed.

---
#### Document De

[2020-11-25 22:28] jbm00n commented on #66602
Yes, we know how Azure Key Vault works, we configured it last year and ordered certificate via the KeyVault to DigiCert. We also configured the auto renewal and were hoping it would work, but it failed. Before contacting DigiCert we would like to "re-attempt" the auto renewal, just to make sure, as we made minor changes to the DigiCert config as well, but there is no documentation how to trigger i

[2020-11-25 22:31] JamesTran-MSFT commented on #66602
@jbm00n
Thank you for the clarification! I have assigned this issue to the author who will investigate and update the documentation as appropriate.

[2020-11-25 22:34] devan10 commented on #66702
Great, thank you.  You can likely close the issue but it might be good to indicate that the article is not relevant to CSP.

________________________________
From: SadiqhAhmed-MSFT <notifications@github.com>
Sent: November 25, 2020 11:26 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: devan10 <devy10@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs

[2020-11-25 23:07] Markus-Hanisch commented on #66548
@rbschneider and @msmimart I found this issue by accident.
I created a related issue #66026
@James-Hamil-MSFT
You stated that you created a pull request? I neither found your pull request nor any reference in any of the two mentioned articles on how to leave an organization as as guest users:
1. [Leave an organization as a guest user](https://docs.microsoft.com/en-us/azure/active-directory/externa

[2020-11-25 23:14] tfitzmac commented on #66089
The workaround steps have been added to the article.

[2020-11-25 23:30] JamesTran-MSFT commented on #66705
@philgp
Thank you for pointing this out! Within the [XML Signature Syntax and Processing Version 2.0](https://www.w3.org/TR/xmldsig-core2/) documentation that you referenced, all the links are HTTP and not HTTPS as shown in [our documentation](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-fed-saml-idp#signature-block-requirements).
![image](https://user-images.githu

[2020-11-25 23:36] ram-msft commented on #66565
@pawarbi Thanks for the feedback. I have raised PR #https://github.com/MicrosoftDocs/azure-docs-pr/pull/139165 for the same.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-25 23:36] #66565 closed

[2020-11-25 23:43] lissff commented on #61336
Hi team, a lot of customers are not aware of the reset password would reimage and drain all the nodes; please update the doc;

[2020-11-25 23:43] Marusyk opened #66723 "[Question] What is the behavior when a connection has been established and certificate valid period runs out?"
Could you please suggest what is the behavior when a connection has been established and certificate valid period runs out?

It will throw an exception or continue to send messages?

(C# SDK for example)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f24fc8e-ffad-b23c-794f-f85c2fe6b835
* Version Independent ID: 03adcb

[2020-11-25 23:54] #66623 closed

[2020-11-26 00:25] MonikaReddy-MSFT commented on #66681
@BillGatesIII -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-11-26 00:27] MonikaReddy-MSFT commented on #66680
@motasem13 -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-11-26 00:29] MonikaReddy-MSFT commented on #66672
@jangelfdez -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-11-26 00:30] MonikaReddy-MSFT commented on #66686
@timaff1 -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-11-26 00:32] MonikaReddy-MSFT commented on #66692
@matgree -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-11-26 00:33] MonikaReddy-MSFT commented on #66697
@jan-tosovsky-cz -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-11-26 00:34] MonikaReddy-MSFT commented on #66700
@MaxiPalle -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-11-26 00:35] MonikaReddy-MSFT commented on #66701
@bacongobbler -
Thanks for bringing this to our attention. I'm going to assign this to the document author so they can update the document accordingly.

[2020-11-26 00:36] MonikaReddy-MSFT commented on #66703
@qhaitoNNV - Thanks for bringing this to our attention.  I'm going to assign this to the document author so they can update the document accordingly.

[2020-11-26 00:38] MonikaReddy-MSFT commented on #66704
@ewittrock-uwm - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2020-11-26 00:42] MonikaReddy-MSFT commented on #66714
@hugobarona - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2020-11-26 00:43] MonikaReddy-MSFT commented on #66716
@ms-vincent -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-11-26 00:46] aamorale opened #66725 "Azcopy Support for Azure Files NFS"
[Enter feedback here]

If Azcopy doesn't provide support for Azure Files NFS it would be great if you can include it into Limitations section since many customer like to use Azcopy for data trasnfer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a888b024-cae0-d9d7-d593-580b080f1b46
* Version Independent ID: fa3bfa5c-b

[2020-11-26 00:49] MonikaReddy-MSFT commented on #66606
@Bence98007 -
Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2020-11-26 00:49] #66606 closed

[2020-11-26 00:50] IIAS opened #66726 "Azure"

[2020-11-26 00:58] palma21 commented on #65512
Merged, #please-close

[2020-11-26 00:58] #65512 closed

[2020-11-26 02:22] himanshusinha-msft commented on #66593
Hello @azadehgnia  , we have not heard back on this from you and more over we do not own the content on sql server central , please do reach out to them if you think the content it any update .
We are closing this issue  , you can always re-open the issue if you think that appropriate .

[2020-11-26 02:22] #66593 closed

[2020-11-26 02:34] himanshusinha-msft commented on #66521
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-11-26 02:49] hiaga commented on #65600
@LijuV-MSFT need one clarification on this - is there any value for "$item.PolicyId" ?  If not then Policy switch is required and if  "$item.PolicyId" has some value (i.e. some of disks are protected) then the policy switch can be omitted

[2020-11-26 03:22] BhargaviAnnadevara-MSFT commented on #66726
@IIAS Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-11-26 03:24] BryanTrach-MSFT commented on #66615
@derekrprice Thank you for your interest in ASEv3!

Please note that ASEv3 just launched a few days ago in public preview. Public preview means that it's not recommended for production workloads since the feature set is still being matured as the product prepares for Global Availability (GA), which will include a larger feature set than currently provided.

One of the current limitations is there

[2020-11-26 03:24] #66615 closed

[2020-11-26 03:37] CHEEKATLAPRADEEP-MSFT commented on #66717
@Varun-Mehrotra  Thanks for bringing this to our attention. I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-11-26 03:39] MonikaReddy-MSFT commented on #66640
@vairakkumar-vairaperumal -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-26 03:39] #66640 closed

[2020-11-26 03:55] VikasPullagura-MSFT commented on #66711
@ezYakaEagle442
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-11-26 03:55] VikasPullagura-MSFT commented on #66711
@sakthi-vetrivel
Can you please check and add your comments on this doc update request as applicable.

[2020-11-26 04:07] MhAllan opened #66732 "Portal is buggy, can't add CosmosDb shared throughput container to an existing database that has provisioned throughput"
I can't see something like this image when I try to add container to an existing database with provisioned throughput. I can't see the checkbox "Provision dedicated throughput for this container" because I want to uncheck it. but it is not there
[Enter feedback here]

<img src="https://user-images.githubusercontent.com/13087546/100306686-0a87d100-2ff8-11eb-9c51-126cba18773a.png" width="400"/>

So

[2020-11-26 04:12] MhAllan commented on #66482
@MayankBargali-MSFT .. Thank you so much. guess this explanation should be added to the documentation. I will leave closing this to you.

[2020-11-26 04:22] decturau commented on #64719
@singhparveen your steps are now required. It works with the single app.

[2020-11-26 04:26] TonySh127-ms commented on #66563
thank you so much @shashishailaj !

[2020-11-26 04:36] singhparveen commented on #64719
I'm not sure where the difference is, I've built the environment almost three-four times using a single app, and it always pointed back to Gateway Server Error.
I found some articles (a bit old) from MVPs and other resources that did the same steps.
https://www.truelinkps.ca/blog/publish-remote-desktop-with-azure-ad-application-proxy/
https://www.vroege.biz/?p=2462
I wouldn't worry more if you've

[2020-11-26 04:38] decturau commented on #57180
@flavio-neves had the same issue setting this up yesterday. It turned out to be a certificate issue.

I bought a certificate for rds.domain.com and used it across everything (RD Gateway, RD Web Access, RD Session Host, Azure AD App Proxy with custom URL, and the Web client.)

 Also make sure to complete the steps above.

[2020-11-26 04:41] decturau commented on #64719
Yea i seen all the blogs referring to two apps as well when troubleshooting. It turned out to be a certificate issue i believe on my end. So i bought a certificate and used it for everythin, including RD services and custom App Proxy URL.

I will write up a blog in the next day or two with what i had to do.

[2020-11-26 04:42] singhparveen commented on #64719
Is that necessary?
Since App Proxy is handling the request, and I'm using the standard URL provided by App Proxy, without any custom domain?

[2020-11-26 04:50] decturau commented on #64719
I dont believe it should be neccesary. I was having issues setting it up with multiple self-signed certs so started from scratch by buying and using the same cert everywhere. I will try again tomorrow with a proper self-signed cert and see if that works.

[2020-11-26 04:50] yoichinak commented on #34239
The overview page seems to be duplicated.
- [Azure Documentation > Databases](https://docs.microsoft.com/en-us/azure/?product=databases) >  Table Storage > [Azure Table storage overview](https://docs.microsoft.com/en-us/azure/cosmos-db/table-storage-overview)
  - This page isn't in the TOC.  It was removed by d927470e409875515464ad9a60bcfa3a92615b35 .
- [Azure Documentation > Storage](https://docs

[2020-11-26 04:52] singhparveen commented on #64719
Yes, Please.
I think there shouldn't be a need for any cert purchase as if we are not using any custom domain for Proxy.
Let me know how it goes when you test it.
Cheers!

[2020-11-26 04:55] AnuragSharma-MSFT commented on #66369
@Nordes Due to lack of response we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-11-26 04:55] #66369 closed

[2020-11-26 04:56] AnuragSharma-MSFT commented on #66522
@SarveshPandey Could you please refer to above comment and let us know?

[2020-11-26 04:58] AnuragSharma-MSFT commented on #66732
@MhAllan Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-11-26 05:08] ram-msft commented on #66720
@dinesarun Thanks for the feedback! We will review and update accordingly.

[2020-11-26 05:11] AnuragSharma-MSFT commented on #66723
@Marusyk Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-11-26 05:17] psmanhas commented on #66384
@marcoklose Apologies for the delay in response and all the inconvenience caused because of the issue.

MSIX app attach is not supported on Window Server. Same is mentioned in below article as well:

https://docs.microsoft.com/en-us/azure/virtual-desktop/app-attach#requirements

Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this,

[2020-11-26 05:17] #66384 closed

[2020-11-26 05:21] abhisheksuresh64 commented on #56316
Could you please share the ARM template to remove this warning as I am also facing the same issue.
Thanks

[2020-11-26 05:23] PramodValavala-MSFT commented on #66719
@matejskubic Thanks for the question! We will review and get back to you!

[2020-11-26 05:25] PramodValavala-MSFT commented on #66721
@revodavid Thanks for the feedback! We will review and update accordingly.

[2020-11-26 05:41] SwathiDhanwada-MSFT commented on #66503
@srazasyed As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-11-26 05:41] #66503 closed

[2020-11-26 05:43] SwathiDhanwada-MSFT commented on #66588
@AtesSolutions Hope you had chance to view my previous comment. As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-11-26 05:43] #66588 closed

[2020-11-26 05:46] SwathiDhanwada-MSFT commented on #66570
@lgayhardt Can you please provide your inputs on this issue?

[2020-11-26 05:49] PramodValavala-MSFT commented on #66719
@matejskubic In addition to sending Base64 Encoded strings, you also need to set the [`QueueClientOptions.MessageEncoding`](https://docs.microsoft.com/en-us/dotnet/api/azure.storage.queues.queueclientoptions.messageencoding?view=azure-dotnet) property on the client. Could you confirm you are observing issues even with this set?

[2020-11-26 06:27] kenakamu opened #66733 "Logging with Custom Dimensions doesn't work as expected"
I follow "Logging with Custom Dimensions" section to log information to Application Insights. However, the custom_dimensions fields contains out-of-box data, not my custom data. Do you change the way it works? By default, it shows level, lineNumber, fileName, module and process. So some module add this information which replace/override my custom dimensions data?

---
#### Document Details

⚠ *Do

[2020-11-26 06:33] yichungyu opened #66734 "Documentation does not list all domains required to create redis cache"
In the section [Additional vnet network connectivity requirements](https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-how-to-premium-vnet#additional-vnet-network-connectivity-requirements), the documentation lists the domains required for redis cache to function properly. However, when I tried to create a redis cache with only the listed domains added to my FQDN filter, I was still

[2020-11-26 06:35] AnuragSharma-MSFT commented on #66546
@ChrisNelson-CyberReef Apologies for the confusing language. Actually it just wanted to say that any user could use any of their own password suited to them for creating the master key. Please let me know if this clarifies.

[2020-11-26 06:37] AnuragSharma-MSFT commented on #66573
@PaulVrugt This is being assigned to the content author to evaluate and update as appropriate.

[2020-11-26 06:38] yutaro113 opened #66735 "Guidance of function level retry configuration for some language (Powershell etc) seems missing"
[Enter feedback here]
Guidance of function level retry configuration for some language (I've checked powershell as example) seems missing.
For powershell, for example, required configuration seems same as that of Python/Java/JavaScript..., (add config to functions.json) but tab doesn't exist.
(I also did experiment and confirmed this config work for Powershell as well)

![image](https://user-image

[2020-11-26 06:42] JasonWHowell commented on #66686
@timaff1  The documentation is current. Not much has changed in a while. #please-close

[2020-11-26 06:42] #66686 closed

[2020-11-26 06:55] SumanthMarigowda-MSFT commented on #66326
@maestrigia  Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.

I don’t believe this would be supported today because the credentials of the user must be synced to Azure for share-level permissions. Trust between B and A does not mean the credentials from A would be synced.

I'd recommend posting your question in https://azure.microsoft.com/en-us

[2020-11-26 07:13] ElazarK commented on #66559
@sandervandevelde  Thanks for contacting Microsoft with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your

[2020-11-26 07:19] ElazarK commented on #66557
@sandervandevelde Thanks for contacting Microsoft with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your

[2020-11-26 07:19] ElazarK commented on #63593
@andrepodnozov Thanks for contacting Microsoft with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your fee

[2020-11-26 07:21] LilacBrandy opened #66736 "Missing instructions for File Sync network throttling"
Hey team, I've tried to find information regarding how to throttle Azure File Sync and couldn't locate any info. I found an externally published article here https://charbelnemnom.com/how-to-control-azure-file-sync-bandwidth-with-network-qos-azurefiles-azurefilesync/

Any chance we could have the full reference for the Powershell module added to docs?

---
#### Document Details

⚠ *Do not edit thi

[2020-11-26 07:23] SumanthMarigowda-MSFT commented on #66725
@aamorale Thanks for your question. We are checking on this and will respond to you soon.

[2020-11-26 07:25] SumanthMarigowda-MSFT commented on #66736
@LilacBrandy Thanks for your question. We are checking on this and will respond to you soon.

[2020-11-26 07:28] SychevIgor opened #66737 "Azure app configuration explicitly mention that portal with throw error"
Minimum:
Please, explicitly highlight in this article, that Azure Portal itself with throw error when we will open "configuration explorer"
It was unclear based on current text.

Maximum:
Also- if you have any authority over developers of azure portal- I'm requesting behavior changes on Azure Portal.
![image](https://user-images.githubusercontent.com/578954/100320336-1bbde700-2fd2-11eb-846a-a670fb

[2020-11-26 07:31] MayankBargali-MSFT commented on #66063
@mcollier  Apology for the delay. As there are some limitations with the IAsyncCollector and I am still waiting for the team to get the confirmation. Post the confirmation we will be updating our document.

[2020-11-26 07:31] VivekSamudralaPFT opened #66738 "AZCopy sync works when executed directly but not over the scheduled task as a bat file"
AZCopy sync works when executed directly but not over the scheduled task as a bat file. All the files are getting synced over the cmd call. But, if I perform the same command as a bat file, the azcopy is not happening.
I can not see any logs of azure or the scheduled task anywhere. Please help.

azcopy sync "E:\\myPath" "https://myAccount.blob.core.windows.net/myContainer/myPath?mySAS"

---
#### D

[2020-11-26 07:39] MayankBargali-MSFT commented on #66482
@MhAllan Thanks for your response. These details are listed in other reference articles that I have shared. I do understand your concern that this information is not listed in the document for which you have raised the concern but I see the reference links which talk about the feature. But I will work with my team on how best we can improve this document.

For now, I will go ahead and close this i

[2020-11-26 07:39] #66482 closed

[2020-11-26 07:39] SumanthMarigowda-MSFT commented on #66455
@DebashishSarkar "Azure Monitor VMs" is a feature provided by the azure monitoring team. In the document that you are referring to, we are providing the information  "How to leverage azure monitor for VMs" via storage account insights tile
[
Azure Monitor for VMs ](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/vminsights-overview  )
We will now proceed to close this thread. If ther

[2020-11-26 07:39] #66455 closed

[2020-11-26 07:43] MayankBargali-MSFT commented on #66571
@cjjohansen Following up to see if you have looked into @krish-gh comment.

[2020-11-26 07:52] kenakamu commented on #66733
my colleague helped me to find an answer. I needed to change code.

from
[code]
to
[code]

[2020-11-26 08:21] Deepti886 commented on #66155
HI Team,
Is there any update on the above request?

[2020-11-26 08:21] mpalmier74 commented on #12382
I see issue is closed, but I have a similar question. What additional permission "Network Contributor" would need in order to be able to "access" networks? I understand "Microsoft.Network/*" is not sufficient, so what else would be necessary?

[2020-11-26 08:50] VivekSamudralaPFT commented on #66738
Found the information, https://bornsql.ca/blog/using-azcopy-with-batch-files-and-task-scheduler/

[2020-11-26 08:50] #66738 closed

[2020-11-26 08:51] phwecker opened #66739 "missing reference to package in code sample"
seems the code sample line

const myMsal = new PublicClientApplication(config);

is missing the reference to msal. it threw errors for me until i modified it to

const myMsal = new msal.PublicClientApplication(config);

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21db2aed-de6f-185b-bacf-ec00fbfba2bf
* Version Indepen

[2020-11-26 08:53] vipulsparsh commented on #66739
@phwecker Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@navyasric  Can you have a look at this  ?

[2020-11-26 09:07] xelossan opened #66740 "Passing IoT PnP model ID during registration using DPS"
I'm using Device Provisioning Service to register my device in IoT Hub (directly using MQTT protocol, without SDK). I'd like to announce its PnP model Id so it's correctly returned later as modelId property in Device Twin object.

Documentation says that I should add following payload during DPS registration:

![image](https://user-images.githubusercontent.com/1189969/100329479-ffb84680-2fcd-11eb-

[2020-11-26 09:08] phwecker opened #66741 "code samples on this page seem to be old or simply wrong ..."
i compared the samples on this page with an actual example on

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/samples/msal-browser-samples/VanillaJSTestApp2.0/app/onPageLoad/auth.js

and effectively the code samples on the page have several errors and do not seem to work if used exactly as they are shown on the page.

---
#### Document Details

⚠ *Do not edit this sect

[2020-11-26 09:09] LionHuntDiG opened #66742 "az network dns record-set a add-record command issue"
This command isn't working

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b977-d3bc-65f92406e16d
* Version Independent ID: 5c596e04-fddb-effe-3b72-575f4df42d4e
* Content: [Create ingress with automatic TLS - Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks/ingress-tls)
* Conten

[2020-11-26 09:09] AnuragSharma-MSFT commented on #66628
@bootleg224 Just wanted to follow up if you were able to retry it, please let me know.

[2020-11-26 09:11] AnuragSharma-MSFT commented on #66734
@yichungyu Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-11-26 09:11] psmanhas commented on #66660
@fratschi We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-11-26 09:11] #66660 closed

[2020-11-26 09:13] LionHuntDiG opened #66743 "https://docs.microsoft.com/en-us/azure/aks/ingress-tls#verify-a-certificate-object-has-been-created .. even this, the certificate with the name tls-secret got stuck in false state.."
https://docs.microsoft.com/en-us/azure/aks/ingress-tls#verify-a-certificate-object-has-been-created .. even this, the certificate with the name tls-secret got stuck in false state

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b977-d3bc-65f92406e16d
* Version Independent ID: 5c596e04-fddb-effe-3b72-575f4d

[2020-11-26 09:14] psmanhas commented on #66653
@mcurko Those are the permission levels that can be given to a service principle using custom roles. Suppose your ACR needs access to a VNET, Subnet or PIP in another resource then you should define these role permissions accordingly,

Microsoft.Network/virtualNetworks/subnets/read
Microsoft.Network/virtualNetworks/subnets/write
Microsoft.Network/publicIPAddresses/join/action

Read action on subne

[2020-11-26 09:15] marianbendik opened #66744 "Add link for github project"
Hi, i suggest to add external link to github project, as it is not simple to find the official microsoft-logstash-output-azure-loganalytics repository.

https://github.com/Azure/Azure-Sentinel/tree/master/DataConnectors/microsoft-logstash-output-azure-loganalytics

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f5e6108

[2020-11-26 09:22] SnehaAgrawal-MSFT commented on #66668
@rwiankowski Thanks for asking question! The supported regions as of today is:
Australia East, East US, East US 2, North Europe, South Central US, Southeast Asia, UK South, West Europe, and West US 2.
You can try any one of above.

Also, you may check this document which highlights the limitation and requirement such as the outbound subnet needing to be empty and both subnets must be brand new.  h

[2020-11-26 09:26] psmanhas commented on #66649
@lissff Those are the permission levels that can be given to a service principle using custom roles. Suppose your ACR needs access to a VNET, Subnet or PIP in another resource then you should define these role permissions accordingly,

Microsoft.Network/virtualNetworks/subnets/read
Microsoft.Network/virtualNetworks/subnets/write
Microsoft.Network/publicIPAddresses/join/action

Read action on subne

[2020-11-26 09:26] vipulsparsh commented on #66741
@navyasric   Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2020-11-26 09:27] vipulsparsh commented on #66741
@phwecker Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@navyasric Can you look into this ?

[2020-11-26 09:28] dohughes-msft opened #66745 "Update to the statement "invalidates the single VM SLA"?"
Hi,

Now that we offer SLA's on VM's with Standard SSD / HDD storage it might be good to update this statement in section **Cost conscious solution with Azure premium storage**:

"Reduces" would be a better fit.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13ecd5d2-9d58-1d74-8e27-22754055120c
*

[2020-11-26 09:33] psmanhas commented on #66653
@mcurko Runtime are the binaries and libraries used to run the cluster, the actual Service Fabric.

SDK are the libraries and tools used to program applications targeting the Runtime.

Their versions are different, but follow a similar versioning.

If you need to install application then SDK is the right option for you.

Hope it helps!!

[2020-11-26 09:34] deichten opened #66746 "Stateful workloads shouldn't be deployed with Deployment but StatefulSet"
Besides managing Kubernetes on ASE Pro is a little problematic I just wanted to give an update suggestion for the documentation. Static workloads should be deployed using the `StatefulSet` ensuring that hostnames are stable to the volumes. In this specific case `Deployment` does work as well as there is only one replica.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-11-26 09:41] padmajauk commented on #65640
Hi,

I have created custom resource definition as well. Please see the
screenshot below. Let me know what else needs to be checked. Thanks!
[image: image.png]

On Tue, Nov 17, 2020 at 6:56 AM Travis Wright <notifications@github.com>
wrote:

[2020-11-26 09:43] w0ut0 commented on #45928
@Karishma-Tiwari-MSFT this issue popped up again just now.

First the starting container is stuck for a couple of minutes on 'PodInitializing', and then it says 'Container stopped per client request' (I did not stop anything).
There is nothing (yet?) on Health dashboard.

[code]

[2020-11-26 09:44] psmanhas commented on #66594
@aleti-pavan The statement holds true since this is more around which scope you want to assign it to.

Even if a user has this role assigned on Subscription level then also it will be inherited to all Resource groups in Subscription and you won't need to provide it separately in each Resource Group.

Similarly you can assign any RBAC role on Resource group level as well so that way user will have

[2020-11-26 09:44] nmellal opened #66747 "Sample code seems missing"
Hi All,

The code for step 4 ( save dataframe to table) of "Download and prepare the data" is missing.
If it's intentional, would be nice to add it.

Br.
N.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60336a61-8df6-71cf-4346-c2c314ce62fe
* Version Independent ID: 22972230-7046-2520-ffdd-7d3048231196
* Content: [Azur

[2020-11-26 09:47] w0ut0 commented on #45928
Correction, I have the same issue in West US 2

[2020-11-26 09:49] psmanhas commented on #66574
@dlepow Can you please check and add your comments on this doc update request as applicable

[2020-11-26 09:52] bencorley opened #66748 "Missing Information !"
Section **"Multiple forests, single Azure AD tenant"**, why don't you specify that this requires that the forests be trusting each other in a two-way trust ? Please clarify and add the information, thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0562f646-ef99-e341-e2fc-fcc3eed44d15
* Version Independent ID: 1

[2020-11-26 10:10] souravmishra-msft commented on #66748
Hello @bencorley, thank you for sharing the feedback. We are currently reviewing this request and will update the doc accordingly.

[2020-11-26 10:12] ram-msft commented on #66733
@kenakamu Thanks for sharing the answer.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-26 10:12] #66733 closed

[2020-11-26 10:14] SwathiDhanwada-MSFT commented on #66344
@marcstern Kindly note by default, service tags reflect the ranges for the entire cloud, its not limited to single subscription and "ApplicationInsightsAvailability" can  not be limited to specific region.

If you need further information, kindly elaborate your requirement so that I can advise you accordingly.

[2020-11-26 10:19] oletho opened #66749 "Rename server that is part of Azure File sync"
I have on-prem fileserver.old and fileserver.new

My plan is to migrate from fileserver.old to fileserver.new by syncing from old to Azure, and while fileserver.old is online sync from Azure to cache on fileserver.new.

When sync to fileserver.new is completed, i would like to shutdown fileserver.old and rename fileserver.new to fileserver.old - this way nothing has to be changed on the client sid

[2020-11-26 10:25] mcurko commented on #66653
OK, thanks!

[2020-11-26 10:25] #66653 closed

[2020-11-26 10:28] marcstern commented on #66344
As I explained, I don't want to discover addresses, just be notified about changes.
And I don't want to build my own parser to detect changes, as we have an easy mechanism for that: RSS.
Just by adding some tags (#ip_avalability, #ip_telemetry, ...) in the commit description, it would allow an easy use of this info.
Please check if this easy thing could be done.
Thanks

[2020-11-26 11:00] rudolphjacksonm commented on #65584
I updated my installation of the azure cli to version 2.15.1 and upgraded all extensions and that fixed the issue--no need to keep this open

[2020-11-26 11:00] #65584 closed

[2020-11-26 11:07] AlexandreCardoso74 commented on #16761
Hi,

Related to Azure AD group nesting options, Microsoft team documented here
https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-groups-membership-azure-portal

the options they would not support...
--------------------------------------------------------
We don't currently support:

Adding groups to a group synced with on-premises Active Directory.
Adding Secur

[2020-11-26 11:07] BhargaviAnnadevara-MSFT commented on #66737
@SychevIgor Thanks for the feedback. We're investigating this and will get back to you shortly.

[2020-11-26 11:08] BhargaviAnnadevara-MSFT commented on #66742
@LionHuntDiG Thank you for the question. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-11-26 11:10] ChrisSommers opened #66752 "Statement in the article is not correct"
This statement is untrue:

"Before you can create a sync group in a Storage Sync Service, you must first register a Windows Server with the Storage Sync Service"

You can create a Synch Group without configuring either a Cloud Endpoint or any Server Endpoints. Granted, it won't do anything until both are configured but you can still create one.

---
#### Document Details

⚠ *Do not edit this secti

[2020-11-26 11:22] shashishailaj commented on #66744
@marianbendik Thank you for pointing this out. We will have this reviewed and update the thread.

[2020-11-26 11:22] kenakamu commented on #66733
@ram-msft Could you double check with product team and if this is document bug, please fix :)

[2020-11-26 11:27] SychevIgor commented on #60699
@TravisCragg-MSFT dear Microsoft, please prioritize this issue!
It's looks like either first sentence in a paragraph is in opposition with last, or last sentence need to be fully rewritten.
It's the most contradictive part of AKS AGIC documentation.

[2020-11-26 11:33] MayankBargali-MSFT commented on #66508
@reddyeswar161 As there was no response we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-11-26 11:33] #66508 closed

[2020-11-26 11:42] SychevIgor opened #66753 "Add pro/contra arguments to both helm/addon options"
Please, update this document to explain the pro/contra of both options helm/add-on.
Currently, document simple says: pro of addon, but pro/contra of helm option didn't covered. contra add-on also didn't covered.
It's really hard to make a decision based on one argument.

![image](https://user-images.githubusercontent.com/578954/100346762-6dc43400-2ff5-11eb-8602-c27bb5d02c19.png)
![image](https://u

[2020-11-26 11:54] SwathiDhanwada-MSFT commented on #66344
@marcstern Thanks for the explanation. I will reach out to the contributors of the document and inform them to review your feedback.

As there is no further documentation changes to the document, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

@lgayhardt -FYI.

[2020-11-26 11:54] #66344 closed

[2020-11-26 11:57] SumanthMarigowda-MSFT commented on #66554
@zsy056 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-26 11:58] SychevIgor opened #66754 "Specify that add-on option in a preview"
Please in a title and a body - that this feature is still in preview and not recommended for production as it was specified in a different document. Currently, it's unclear that this feature is not GA based on current page.

https://docs.microsoft.com/en-us/azure/application-gateway/ingress-controller-overview
![image](https://user-images.githubusercontent.com/578954/100348251-b8df4680-2ff7-11eb-9

[2020-11-26 11:58] ellispritchard opened #66755 "Highlight that routes.json should contain an array"
We've just got a bit foxed trying to enable authentication because we'd just put one `route` property on the object in the `routes.json` file, which validated OK in the build pipeline but didn't have an effect because, of course, as shown in the example `routes.json` file, there should be a `routes` property, which is an array of route objects.

I think this means that the documentation is not ver

[2020-11-26 11:58] SumanthMarigowda-MSFT commented on #66456
@DebashishSarkar The PR request has been initiated. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-26 11:58] #66456 closed

[2020-11-26 12:03] SychevIgor commented on #59938
@TravisCragg-MSFT could somebody from Microsoft take a look? Microsoft likely will close this issue after 180 days without updates.

[2020-11-26 12:04] SychevIgor commented on #59991
Microsoft, update this guide to support both helm2 and helm3. this guide looks out-dated.

[2020-11-26 12:05] SychevIgor commented on #59938
https://github.com/MicrosoftDocs/azure-docs/issues/43686

[2020-11-26 12:08] SychevIgor commented on #51152
@TravisCragg-MSFT any updates? or Microsoft will close it soon with statement "180 without updates"

[2020-11-26 12:25] SychevIgor commented on #51099
https://github.com/MicrosoftDocs/azure-docs/issues/65016

[2020-11-26 12:25] SychevIgor commented on #62232
https://github.com/MicrosoftDocs/azure-docs/issues/65016

[2020-11-26 12:26] SychevIgor commented on #62232
https://github.com/MicrosoftDocs/azure-docs/issues/51099

[2020-11-26 12:37] divadiow commented on #30919
I have the same issue with the 2004 baseline! none of the bits above are enabled and I've double-checked the registry values too.

[2020-11-26 12:41] jinsepaul commented on #58027
Same problem, any updates please ?

[2020-11-26 12:42] CHEEKATLAPRADEEP-MSFT commented on #66747
@nmellal Thanks for bringing this to our attention.  We will investigate and update as appropriate.

[2020-11-26 12:58] gb2793 commented on #66598
Hi,

1. Tried #1, didn’t work.
2. Yes, I had tried in the incognito window and the same issue occurs. Please see the below screenshot.
[cid:image005.jpg@01D6C421.ED279F10]

3. The app is seeking Read permissions on users:
[cid:image006.jpg@01D6C421.ED279F10]

//gauraba

From: James Tran-MSFT <notifications@github.com<mailto:notifications@github.com>>
Sent: Thursday, November 26, 2020 12:34 AM
To:

[2020-11-26 13:04] LionHuntDiG commented on #66742
https://docs.microsoft.com/en-us/azure/aks/ingress-tls

On Thu, Nov 26, 2020 at 4:38 PM BhargaviAnnadevara-MSFT <
notifications@github.com> wrote:

[2020-11-26 13:05] luigi-aversa2000 commented on #51152
oh wow, is this still open? Couldn't image it could take so long. If I am wrong, just say I am wrong, but please do not leave this unattended.
IMHO good docs are always welcome. It would help others to accomplish their goals, and of course also Microsoft to deliver on the expectations rather than leave customers struggling on bad HOW-TO. Anyway, up to you guys!

[2020-11-26 13:24] VikasPullagura-MSFT commented on #66745
@dohughes-msft
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-11-26 13:24] VikasPullagura-MSFT commented on #66745
@msjuergent
Can you please check and add your comments on this doc update request as applicable.

[2020-11-26 13:47] SychevIgor opened #66758 "Replace Advanced networking with Azure CNI"
Azure CNI can't be enabled (disabled). Also- Advanced Network it's not exactly Azure CNI.

https://github.com/MicrosoftDocs/azure-docs/pull/66757
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37ba0343-7e43-6e2e-e564-5d3a0f523a75
* Version Independent ID: 0ba581a1-3e4a-27b4-c667-4a9b969a3ade
* Content: [Configure Azure

[2020-11-26 13:50] SychevIgor opened #66759 "Specify Azure CNI as a requirement"
Please, specify Azure CNI as a requirement. Looks like kubenet is not support for this case.

---
#### Document Details

If kubenet can be used- please add a link on a guide how to use kubenet

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95812617-2cee-fb2c-2c6d-573f222033be
* Version Independent ID: bf51864f-646f-2fda-7842-b1f3cf2f9ce2
* Conte

[2020-11-26 13:59] ValeryCherepanov opened #66760 "Remove-AzResourceMoverMoveResource : The term 'Remove-AzResourceMoverMoveResource' is not recognized as the name of a cmdlet"
Remove-AzResourceMoverMoveResource : The term 'Remove-AzResourceMoverMoveResource' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the
spelling of the name, or if a path was included, verify that the path is correct and try again.
At line:1 char:1
+ Remove-AzResourceMoverMoveResource -SubscriptionId 771f1272-043d-497b ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2020-11-26 14:01] SayakMukhopadhyay commented on #62971
As an addendum, I am use the `code` Response mode since that was the default for me and according to the current documentation `Email: unique_name` didn't work for me. But `preferred_username` worked.

[2020-11-26 14:06] BhargaviAnnadevara-MSFT commented on #66760
@ValeryCherepanov Thanks for the question. We're investigating this and will get back to you shortly.

[2020-11-26 14:31] JayaChatterjee-MSFT commented on #66475
@jyeblog Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-11-26 14:31] #66475 closed

[2020-11-26 14:32] ms-vincent commented on #66716
@MonikaReddy-MSFT I found the source of the problem.

Updated versions of Azure Storage Explorer doesn't work with the current version of Azure blob at the edge. The blob API version supported by IoT Edge module is 2017-04-17 so I had to go back to Storage explorer v1.9 which I found here: https://github.com/microsoft/AzureStorageExplorer/releases/tag/V1.9.0

it might be good to update documentati

[2020-11-26 14:33] reginbald commented on #66197
This does not seem to work for app service for containers. In the sample project https://github.com/reginbald/dotnet-core-client-cert, I've disabled all validation in the app code but neither OnCertificateValidated nor OnAuthenticationFailed is called. It seems like the app service resource is returning the 403 before anything happens in the app code. See: https://nonni-cert.azurewebsites.net/

[2020-11-26 14:34] reginbald commented on #66197
Do I need to add AddCertificateForwarding?

[2020-11-26 14:42] w0ut0 commented on #45928
The issue above was because I put in the wrong access key for my mounted volumes (the keyvault URL was not resolved correctly). This is not visible from the customer side, but the Azure support team found the logs.

[2020-11-26 14:47] PeterJohnWilliams opened #66762 "AzureADSSO instructions do not work"
Following the "Q: How can I roll over the Kerberos decryption key of the AZUREADSSO computer account?" instructions:
1: Install Azure AD Powershell (AzureAD from linked instructions here https://docs.microsoft.com/en-us/powershell/azure/active-directory/install-adv2?view=azureadps-2.0) - ok
2: Navigate to the %programfiles%\Microsoft Azure Active Directory Connect folder. - fails - folder does not

[2020-11-26 14:48] BhargaviAnnadevara-MSFT commented on #66737
@SychevIgor Could you please give us more details on the configuration/steps taken so far that lead you seeing this error? Do you see this happening consistently?

@lisaguthrie Please provide any inputs or comments you may have about the error described.

[2020-11-26 14:52] BhargaviAnnadevara-MSFT commented on #66742
@LionHuntDiG Thanks for the response. Are you running into any errors while running this command?

[2020-11-26 14:54] VikasPullagura-MSFT commented on #66758
@SychevIgor Thanks for contributing towards improving Azure Documentation.
The doc author will review the PR and approve the changes accordingly. Once the PR is approved the changes will be live.

[2020-11-26 14:59] SnehaAgrawal-MSFT commented on #66755
@ellispritchard Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-11-26 15:01] awzietal opened #66763 "Error in JavaScript code snippet"
The following code in the **Use with Azure Functions** section:
[code]
will cause this error:
[code]
as `context.res.headers` are not defined after assigning `context.res`.

One solution could be replacing it with:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddd55e19-eb11-3b0f-c6e1-3710f712fd58
* Version Inde

[2020-11-26 15:01] LionHuntDiG commented on #66742
Yes, unexpected arguments. When i replace * with any name it will work, but
if I do that I can’t pass wildcards to my domain in ingress Yaml, and that
too the certificate with the name tls-secret not going into ready state
even after hours. I tried DNS zones n A record sets with azure portal also,
the domains are not working.

On Thu, 26 Nov 2020 at 8:23 PM, BhargaviAnnadevara-MSFT <
notifications

[2020-11-26 15:13] BhargaviAnnadevara-MSFT commented on #66760
@ValeryCherepanov The [Remove-AzResourceMoverMoveResource](https://docs.microsoft.com/en-us/powershell/module/az.resourcemover/remove-azresourcemovermoveresource?view=azps-5.1.0) is part of the [Az.ResourceMover](https://docs.microsoft.com/en-us/powershell/module/az.resourcemover/?view=azps-5.1.0) module.

The `Az.ResourceMover` module is a newer addition that came in with Az 5.0. This module is s

[2020-11-26 15:14] MonikaReddy-MSFT commented on #66735
@yutaro113 -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-11-26 15:31] michalmar opened #66764 "Cannot debug locally - GPU"
I followed the step by step instruction for debugging AML Run locally. I am not able to start the docker - getting error:

docker: Error response from daemon: could not select device driver "" with capabilities: [[gpu]].

I am not trying to run with GPU, I am OK with CPU.

My env:
Windows 10
VS Code
Docker using Linux Images in WSL2

Error:
info: Successfully created run configuration local-rc3
er

[2020-11-26 15:38] maximepollet27 opened #66765 "Resource group doesn't appear in Visual Studio"
Hi,

I am following the "Connect an end-to-end solution" and I encounter an issue when I try to publish the app. Even though I am using the same account in Visual Studio and Azure, my Resource Group does not appear, as shown on the screenshot below.

![image](https://user-images.githubusercontent.com/75030380/100368849-6193a300-3004-11eb-9576-75e8ef1f9f1b.png)

The thing that is weird is that when

[2020-11-26 15:45] dansydner commented on #66186
Thanks for taking the time @djpmsft your answer was indeed very helpful.
I've haven't used the classic UX very much so I wasn't aware how close the functionality mirrors that of YAML.

And after realizing that most of your customers use the classic UX I will stop bothering you with how useful it would be to ME :)

[2020-11-26 15:45] #66186 closed

[2020-11-26 15:55] anuradhaindika83 opened #66767 "URLs are swapped"
In the Resources column, the top two URLs are pointing to the wrong pages. I think the URLs need to be swapped.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9c9862d-97f3-33c4-fda2-704200809ea4
* Version Independent ID: c5a731e3-76f8-0b12-4bce-d9e27bdb546c
* Content: [Getting started with Azure Functions](https://doc

[2020-11-26 16:05] s3c-rsolar opened #66768 "Error with Azure Function when importing azure iot sdk client"
Hello, I´m having a problem with a standard azure function import azure iot client library.

when importing this library:

from azure.iot.hub import IoTHubRegistryManager
from azure.iot.hub.models import Twin, TwinProperties, QuerySpecification, QueryResult

none of them works with the azure function. Teh library is added to the requirements.txt file in this wa:

requirements.txt:

azure-functions

[2020-11-26 16:19] ram-msft commented on #66494
@DeanGodfree Thanks for the feedback. Please follow the below doc for adding new kernel in Jupyter notebooks. Please find the snapshot for the same.
![image](https://user-images.githubusercontent.com/49180516/100373564-fc09db80-3030-11eb-8853-85da289065e3.png)

![image](https://user-images.githubusercontent.com/49180516/100373527-eb596580-3030-11eb-83b1-849882286584.png)

We will now proceed to cl

[2020-11-26 16:19] #66494 closed

[2020-11-26 16:32] decturau commented on #64719
So I just set it up again using an internal CA (ADCS) - the CA root was in the trusted publisher store. I requested a cert on the RDS server and then exported it with and without private key (.pfx & .cer). I then bound the .pfx to all RD services (Connection Broker, Web Access & Gateway and made sure they were Trusted and OK. The bound to IIS.

Then installed the web client and bound the exported

[2020-11-26 16:36] SubhashVasarapu-MSFT commented on #66754
@SychevIgor, Thanks for reaching out. We will investigate and update this thread.

[2020-11-26 16:37] ram-msft commented on #66483
@markvogt Thanks, we are able to install successfully in the Jupyter notebook. Please find the snapshot for the same.
![image](https://user-images.githubusercontent.com/49180516/100375104-4ee49280-3033-11eb-9189-66e37958f05b.png)
![image](https://user-images.githubusercontent.com/49180516/100375165-60c63580-3033-11eb-81f6-e429e85579cc.png)
We will now proceed to close this thread. If there are fur

[2020-11-26 16:37] #66483 closed

[2020-11-26 16:48] subashsivaji opened #66769 "Dataverse choices(option set) columns descriptive values?"
We have a Dataverse(CDS) which pushes data into azure data lake storage (in model.json format). We use datafactory mapping dataflow to read the CDM folders.

For fields of type Choices (Option set) how do we get the descriptive names. Example Account table has statuscode 1 or 2 (1 = Active and 2=Inactive) how do we get the words "Active" and "Inactive"?

Does CDM connector have any ability to conv

[2020-11-26 16:50] JayaChatterjee-MSFT commented on #66651
@cosmicshuai The default format is yyyy-MM-ddTHH:mm:ss:fffffffK. For example : if I do - convertFromUtc(utcNow(),'India Standard Time','o' , I get an output : _2020-11-26T22:16:26.0178741_
Could you please elaborate on this?

[2020-11-26 16:54] cosmicshuai commented on #66651
I think it is a dot before the first "f" character. Just a typo here.

[2020-11-26 16:55] JayaChatterjee-MSFT commented on #66767
@anuradhaindika83 Thank you for your feedback! We will review and update as appropriate.

[2020-11-26 17:00] IOrlandoni commented on #48902
Why is this closed? This is an existing bug.

[2020-11-26 17:01] JayaChatterjee-MSFT commented on #66651
@cosmicshuai Okay. If I understand correctly, in the document ":ss:f" should be changed to ":ss.f". is that correct?

[2020-11-26 17:20] cosmicshuai commented on #66651
Right.

[2020-11-26 17:35] shashishailaj commented on #66744
@marianbendik Thank you for pointing this out. We have made the required change to point it to official plugin. Should you have any further issue , please feel free tag me to your reply. We will be closing this issue today.

Thank you.

[2020-11-26 17:35] AnuragSharma-MSFT commented on #66522
@SarveshPandey Due to lack of response we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-11-26 17:35] #66522 closed

[2020-11-26 17:58] BharathNimmala-MSFT commented on #66441
@brandonmartinez Apologies for delay in getting back to you on this thread. Appreciate you sharing the feedback, we are assigning this to our document author @parthpandyaMSFT to further review and see how the document can be enhanced.

[2020-11-26 18:11] hugobarona commented on #66714
Hi @MonikaReddy-MSFT . Thank you for the update. Just additional info to the issue, this issue is related to the python example.

[2020-11-26 18:12] hugobarona opened #66771 "Issue with c# code example. Code does not compile for a few reasons"
C# Example code is not compiling for a few reasons, including the method AuthenticateTraining that is declared with 3 parameters and then called using 2 arguments. Minor issues indeed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f6c3f20-25a4-bc19-0cb6-377eff01b00e
* Version Independent ID: 02d76c7b-cffa-c94f-2298-b

[2020-11-26 18:13] BharathNimmala-MSFT commented on #66740
@xelossan Thank you for your query, our team will review and get back to you at the earliest.

[2020-11-26 18:15] hugobarona commented on #66771
Another issue: CreateProject method is not returning the created project and not saving into a global variable so it can be used with other methods.

[2020-11-26 18:23] aleti-pavan commented on #66594
Hello, thanks for the response. Reason for raising issue is when i used foe --scope for resource group it didn't work. So i had to used the command that i mentioned.

[2020-11-26 18:49] davidbaxterbrowne opened #66772 "Clarify support for UTF-8 on Azure SQL Database and Managed Instance (and Synapse, etc)"
It's not clear where UTF-8 is supported in the Azure SQL family.  The docs say SQL Server 2019+, but it works in Azure SQL Database.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e179690c-627c-d305-3c00-13d6b5b70c5b
* Version Independent ID: bdc0ea47-e730-e9fa-b851-78c9e7ea66bc
* Content: [Purchasing models -

[2020-11-26 19:40] BharathNimmala-MSFT commented on #66743
@LionHuntDiG Thank you for reaching out to us, our team will review and circle back at the earliest.

[2020-11-26 19:42] BharathNimmala-MSFT commented on #66746
@deichten Thanks a lot for bringing this to our notice, our team will review it and update the document accordingly.

[2020-11-26 19:44] BharathNimmala-MSFT commented on #66749
@oletho Thank you for your query, our team will review it and get back to you at the earliest.

[2020-11-26 19:45] BharathNimmala-MSFT commented on #66752
@ChrisSommers Thanks a lot for bringing this to our notice, our team will review this and update the document accordingly.

[2020-11-26 19:57] ValeryCherepanov commented on #66760
Thanks @BhargaviAnnadevara-MSFT for the fast response.
The initial issue has been resolved, but unless I'm missing something there is a problem with the docs:
_Remove a resource (PowerShell)_ and _Remove a collection (PowerShell)_ sections show almost identical examples:
**Remove a resource using the resource ID**
`Remove-AzResourceMoverMoveResource -SubscriptionId  <subscription-id> -ResourceGrou

[2020-11-26 20:17] msjuergent commented on #66745
Thanks a lot Vikas, the PR with the changed wording just got merged and should be released with the next release. Thanks a lot for pointing me to the inconsistency.

[2020-11-26 20:19] rwiankowski commented on #66668
@SnehaAgrawal-MSFT thanks for the response. I've tried a bunch of times to deploy to West Europe (also using different tenants) but I always get "kind is invalid.  AseV3 is not allowed". East US went fine (but slow :) ).

Also, when do you expect to release any details regarding zone-redundancy? The only mention which I was able to find in the current documentation was around dedicated hosts. Is t

[2020-11-26 20:22] chirangaalwis opened #66774 "[Key Vault][RBAC] No instructions on how to set permissions for individual Vault Object instances"
**Description:**
The documentation states that [Azure RBAC based permissions can be assigned to a specific Vault Object instance](https://docs.microsoft.com/en-us/azure/key-vault/general/rbac-guide#best-practices-for-individual-keys-secrets-and-certificates) such as, a Key or a Secret or a Certificate.

But no instructions have been provided for on how to achieve this.

Do we already have specific

[2020-11-26 20:26] BharathNimmala-MSFT commented on #66753
@SychevIgor Thanks a lot for bringing this to our notice, our team will review and update the document accordingly.

[2020-11-26 20:58] SB-o-matic commented on #65835
_Is this the only error message you're getting? Can you provide the exact error message or screenshot that the user is seeing?_
Yes, it is.

_This feature is still present and it hasn't been removed_
Yes, it has.

This screenshot shows the error I get when I try to login at myaccess.micrsoft.com with  my outlook.com account. Now I am limited to copying the link of the access package and sending it

[2020-11-26 21:00] flobeier commented on #43543
@Console32 the example code does work. You can pass a connection string to the `AzureServiceTokenProvider` constructor but you don't have to. If you don't the connection string is fetched from the `AzureServicesAuthConnectionString` environment variable. Here is a reference of all supported connection string options: https://docs.microsoft.com/en-us/azure/key-vault/general/service-to-service-authe

[2020-11-26 21:10] decturau commented on #64719
Just checked again, this time with a self signed certificate - works with the same results as above.

I created the cert with the following. Just replace the $proxy variable with your AAD App proxy address.
`
$Hostname = (Get-WmiObject win32_computersystem).DNSHostName
$Domain = (Get-WmiObject win32_computersystem).Domain
$FQDN = $Hostname+"."+$Domain
$Proxy = '2019rds3<domain>.msappproxy.net'

Ne

[2020-11-26 21:13] singhparveen commented on #64719
Makes sense. The Self-Signed cert needs to be updated with the new DNS Name of App Proxy.
Thanks. I'll take note of that.

[2020-11-26 21:16] magishmeer opened #66775 "Issue with plugin: Azure Active Directory single sign-on (SSO) integration with JIRA SAML SSO by Microsoft"
Issues:
- The plugin gets installed with an error message: "An unexpected error occurred. Refer to the logs for more information."
- Jira's catalina.out contains errors, please see attached file error.log for details.
- SSO manifest cannot be saved - the Save button is "grayed out". Please see the attached image.jpg for details.

Tech info:
Jira On-Prem version 8.13
Apache Tomcat/8.5.57
OS: CentOS

[2020-11-26 21:44] flobeier commented on #43543
@Console32 it appears that someone heard you, the documentation has been updated and now includes correct instructions for using a user assigned managed identity (https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity?tabs=dotnet#asal). The example code does work but the crucial part for getting a user assigned managed identity to work was missing:

I found a reference on how

[2020-11-26 21:51] #66744 closed

[2020-11-27 00:28] thesuavehog opened #66777 "AzureWebJobsStorage required and note that 3.x means it can't be changed needs to be clearer to avoid confusion with VS Connected Services setup"
This note in the documentation needs to be FAR more prominent as it is a critical reference:

`Because version 3.x uses the default .NET Core configuration APIs, there is no API to change connection string names.`

When users are exploring the Visual Studio connected services and see that you can connect an Azure Storage account, and then see that connection sets up a connection string key in the

[2020-11-27 00:35] MonikaReddy-MSFT commented on #66775
@magishmeer -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-11-27 00:37] MonikaReddy-MSFT commented on #66774
@chirangaalwis -
- Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2020-11-27 00:41] MonikaReddy-MSFT commented on #66759
@SychevIgor -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-11-27 00:44] MonikaReddy-MSFT commented on #66762
@PeterJohnWilliams - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2020-11-27 00:45] MonikaReddy-MSFT commented on #66763
@awzietal -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-11-27 00:47] MonikaReddy-MSFT commented on #66764
@michalmar - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2020-11-27 00:49] luqmana commented on #66764
I think you assigned me mistakenly. I think you wanted @luisquintanilla

[2020-11-27 01:29] YutongTie-MSFT commented on #66771
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-27 01:35] kiki-kekat opened #66778 "Please add the supported version of execution environment (OS and PowerShell)."
If there are the supported version of execution environment (OS and PowerShell) about the script in "Option one (recommended): Use AzFilesHybrid PowerShell module", please add it in this document.
[Option one (recommended): Use AzFilesHybrid PowerShell module](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-identity-ad-ds-enable#option-one-recommended-use-azfileshybrid-powershel

[2020-11-27 01:36] SaurabhSharma-MSFT commented on #66769
@subashsivaji Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-27 02:10] johanburati opened #66779 "Update PerfInsights supported distributions list"
Shouldn't  **PerfInsights**  runs on RHEL 7.6, 7.7, 7.8, 7.9 ?
Could you please update the list of supported distributions ?

RHEL | 7.2, 7.5, 8.0 [*]
-- | --

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79cb367a-f406-f323-1447-0bebb0ccc3ea
* Version Independent ID: 593930dd-1f7c-35c7-825d-f93aeb77d498
* Content: [Ho

[2020-11-27 02:16] MonikaReddy-MSFT commented on #66765
@maximepollet27 -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-11-27 02:20] MonikaReddy-MSFT commented on #66768
@s3c-rsolar -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-11-27 02:22] MonikaReddy-MSFT commented on #66772
@davidbaxterbrowne -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-11-27 02:34] MonikaReddy-MSFT commented on #66680
@motasem13 -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-27 02:34] #66680 closed

[2020-11-27 02:36] MonikaReddy-MSFT commented on #66683
@StingyJack - I see that you have opened an issue in the DevOps Repo and looks like you are referring to issues in that repo. I hope you get the solutions for what you are looking for.

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discus

[2020-11-27 02:36] #66683 closed

[2020-11-27 02:41] MonikaReddy-MSFT commented on #66763
@awzietal -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-27 02:41] #66763 closed

[2020-11-27 02:56] MayankBargali-MSFT commented on #66768
@s3c-rsolar I see that you are importing from azure.iot.hub but your requirement doesn't have the [azure-iot-hub package](https://pypi.org/project/azure-iot-hub/). There are two projects [azure-iot-hub](https://pypi.org/project/azure-iot-hub/) and [azure-iot-device](https://pypi.org/project/azure-iot-device/) for different operation. So you need to include **azure-iot-hub** instead of azure-iot-de

[2020-11-27 03:38] chaitanyakkk1 opened #66781 "Unable to download pdf"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c00ad762-25f6-4f4c-945b-6c3f369e2376
* Version Independent ID: 67ca0054-2dab-44df-5d86-24e0e004e6d5
* Content: [Azure Monitor Workbooks Overview - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/workbooks-overview)
* Conte

[2020-11-27 03:38] #66512 closed

[2020-11-27 03:40] CHEEKATLAPRADEEP-MSFT commented on #66626
@kevinvngo Could you please look into this issue?

[2020-11-27 03:40] chaitanyakkk1 commented on #66781
I have been trying to download pdf for azure monitor it never download it redirects to https://opdhsblobprod01.blob.core.windows.net/contents/4a6d75bb3af747de838e6ccc97c5d978/e86d211eb88659b27a9c8ea667076e86?sv=2018-03-28&sr=b&si=ReadPolicy&sig=6IxzrcXistXYMR787cu9Kto9dVboe4pwfI%2BjmyGl6Dw%3D&st=2020-11-27T03%3A30%3A12Z&se=2020-11-28T03%3A40%3A12Z

[2020-11-27 03:40] SumanthMarigowda-MSFT commented on #66778
@kiki-kekat Thanks for the question! We are investigating and will update you shortly.

[2020-11-27 03:41] AnuragSharma-MSFT commented on #66546
@ChrisNelson-CyberReef We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-11-27 03:41] #66546 closed

[2020-11-27 03:42] AnuragSharma-MSFT commented on #66628
@bootleg224 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-11-27 03:42] #66628 closed

[2020-11-27 03:50] SwathiDhanwada-MSFT commented on #66781
@chaitanyakkk1 Can you please elaborate your issue which pdf are you trying to download and from where so that I can advise you accordingly?

[2020-11-27 03:53] SwathiDhanwada-MSFT commented on #66603
As requested by @mumian, can you please share the error message you were prompted @jadams74?

[2020-11-27 03:56] kilasuit opened #66782 "Needs to show how to be able to deploy a template via the Portal"
Often in teaching Azure & ARM Templates you start with showing how to use the portal to deploy them as opposed to using cmdline tools, therefore this should also be included within this tutorial

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bf283cd-65c2-09ad-0af2-37bf95fe4d90
* Version Independent ID: 46451ccf-174a-e

[2020-11-27 03:58] chaitanyakkk1 commented on #66781
I am unable to download- Azure monitor pdf documents
https://docs.microsoft.com/en-us/azure/azure-monitor/overview
It redirects to belo url nothing happens after that

https://opdhsblobprod01.blob.core.windows.net/contents/4a6d75bb3af747de838e6ccc97c5d978/e86d211eb88659b27a9c8ea667076e86?sv=2018-03-28&sr=b&si=ReadPolicy&sig=6IxzrcXistXYMR787cu9Kto9dVboe4pwfI%2BjmyGl6Dw%3D&st=2020-11-27T03%3A30%3A1

[2020-11-27 04:03] SwathiDhanwada-MSFT commented on #66782
@kilasuit Thanks for your feedback. Kindly note there is available documentation which articulates how to deploy a template via portal. For your reference, check out [this link](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/quickstart-create-templates-use-the-portal).

[2020-11-27 04:09] kilasuit commented on #66782
Awesome, I was in the middle of editing this item to then to raise a PR that added the steps to do a portal based deployment steps but what I'll do instead, if you'd be agreeable to, is raise a PR with a small segment that points to that link but gives a recommendation to make use of the Command Line Deployment methods instead.

[2020-11-27 04:15] SwathiDhanwada-MSFT commented on #66781
@chaitanyakkk1 I have tried to download PDF from my end and I am able to download without any issues. Although it takes 5-10min to load the PDF. The links aren't broken , you just need to wait and also kindly make sure that you haven't blocked the downloads in your browser.

The redirected URL is the blob where the PDF is stored.

![image](https://user-images.githubusercontent.com/48976275/1004105

[2020-11-27 04:19] SwathiDhanwada-MSFT commented on #66782
Requesting content author @mumian to provide inputs on the issue.

[2020-11-27 04:22] chaitanyakkk1 commented on #66781
I guess not for me in India I did paste the link can you investigate may be it’s the region ??
![85E7CF8C-91F6-49A9-B047-A16B83CF6C03](https://user-images.githubusercontent.com/46772671/100410937-3bb6de80-3096-11eb-86c2-3938ad962aeb.png)

[2020-11-27 04:23] chaitanyakkk1 commented on #66781
![7A778DA3-388A-4197-8EA3-E8EE96106712](https://user-images.githubusercontent.com/46772671/100410996-6c971380-3096-11eb-9816-8bd31097b692.jpeg)

[2020-11-27 04:24] chaitanyakkk1 commented on #66781
It never returned the pdf to download please check I have tried on PC Mac mobile all possibilities browser and device’s

[2020-11-27 04:31] CHEEKATLAPRADEEP-MSFT commented on #66747
@nmellal Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/139229](https://github.com/MicrosoftDocs/azure-docs-pr/pull/139229)
The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2020-11-27 04:31] #66747 closed

[2020-11-27 04:40] AjayKumar-MSFT commented on #66777
@thesuavehog, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-11-27 04:54] ram-msft commented on #66733
Thanks @kenakamu. Will check and update the document.

[2020-11-27 05:16] SwathiDhanwada-MSFT commented on #66781
@chaitanyakkk1 I have downloaded the PDF from India region . Have you tried to download the PDF from Microsoft Edge browser?

[2020-11-27 05:18] chirangaalwis commented on #66774
@msmbaldwin @MonikaReddy-MSFT we really appreciate if we can get the set of instructions for achieving this until the live, official documentation is properly updated, if this is bound to take time.

Currently, the evaluation of the usage of RBAC feature of Azure Key Vault is on hold due to the discussed reason.

[2020-11-27 05:22] chaitanyakkk1 commented on #66781
Chrome ,safari ,Firefox it times out not a browser issue ..
It times out what is the size of the file .??I have an 200 mbps connection,
Don’t know why it’s taking more than 10 mins and time out ...
Actually why is it taking so long to download .? Look like there may be issue with the blob storage where it’s stored.

Any alternative links

[2020-11-27 05:26] #66178 closed

[2020-11-27 05:34] j-hansen opened #66784 "PHP servicebus docs must be out of date"
[Enter feedback here]
Simply follow the code and it fails immediately. The format of connection string is not as documented here.
I am using SDK for other languages and this connection string works, but the PHP code is using
'SharedSecretIssuer' and 'SharedSecretValue' but not 'SharedAccessKeyName' and 'SharedAccessKey'
so the examples fail.
It looks like this PHP library only works with another f

[2020-11-27 05:42] SadiqhAhmed-MSFT commented on #66699
@cmielke Checking in to see if the above answer helped. Let us know if there are still any additional issues we can help with.

[2020-11-27 05:45] SadiqhAhmed-MSFT commented on #66702
@devan10 Thanks for the feedback. I have raised a pull request - https://github.com/MicrosoftDocs/azure-docs-pr/pull/139205 to add that note in the article. It is currently in review by the content owner post that the changes would go live.
--

[2020-11-27 05:48] KrishnaG-MSFT commented on #66738
@VivekSamudralaPFT Glad to know that you have self resolved and hence closed the issue. Thanks for the update.

[2020-11-27 05:51] SadiqhAhmed-MSFT commented on #66696
@TheBluLion If you are facing any challenges for turning spending limit, I suggest you reach out to Azure billing team by raising a support request. https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request

FYI: You will not be charged or require paid support plan to avail billing support.

[2020-11-27 05:57] AnuragSharma-MSFT commented on #66590
@simionda You rightly mentioned that we don't have specific links on the document itself but you can go through below link which gives insight on what all operations can be performed on user data:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cosmos.user?view=azure-dotnet

One of the reason this is not part of documentation could be because of lack of implementation and same is menti

[2020-11-27 06:25] AnuragSharma-MSFT commented on #66638
@alpkayaMSFT This is being assigned to the content author to evaluate and update as appropriate

[2020-11-27 06:29] psmanhas commented on #66779
@johanburati The document is updated and changes will go live soon.

[2020-11-27 06:29] #66779 closed

[2020-11-27 06:45] #66745 closed

[2020-11-27 06:54] shashishailaj commented on #66671
@dkershaw10 We have updated it. And it will be reviewed by the content team before approval .

[2020-11-27 07:10] laglergruener opened #66786 "P2S VPN with Azure AD authentication issue"
Hi,

yesterday, I've configured Azure V-WAN including P2S VPN with Azure AD authentication. When I'm trying to connect, I always the error: No such host is known. I start the diagnose tool in the Azure VPN Client and can see, that the DNS host isn't available.
My VPN server DNS name is: wan.7wy8887ug0lasmbeeshuequj1.vpn.azure.com

I've created the configuration two times and nothing changed. Then

[2020-11-27 07:30] HaimBendanan opened #66787 "Is there an alternative to Azure Autoloader in Hdinsight?"
I would like to be able to stream from blob storage on Hdinsight, and achieve something similar to [AutoLoader](https://docs.microsoft.com/en-us/azure/databricks/spark/latest/structured-streaming/auto-loader#cloud-resource-management).
I am able to stream from storage already, but am wondering how to include only new files when starting a new streaming session. Is there a way to do it?

[2020-11-27 07:35] trs80 commented on #65275
I just tested it on a cloud account with no licenses and could SSPR successfully.

[2020-11-27 07:46] fume opened #66788 "Wrong claim mapping"
In the last part of the document, you suggest to map the _unique_name_ claim to the _email_ one, but the _unique_name_ claim is not issued from Azure AD if you use the v2.0 endpoint (as you do, given the well-known url used).
You should use the **_preferred_username_** instead, for example.  Having a link to the "Optional claims set" could be useful: https://docs.microsoft.com/en-us/azure/active-d

[2020-11-27 07:47] SnehaAgrawal-MSFT commented on #66641
@icatchx22i Thanks again for the feedback! You may want to know that with classic Azure services, a serverless backend needs to be integrated via client-side REST over public internet and hosted in a different service like Azure Functions.
Static Web Apps come with integrated Azure Functions that use an internal reverse-proxy when calling APIs, which requires no CORS configuration.

If I have unde

[2020-11-27 07:48] CHEEKATLAPRADEEP-MSFT commented on #66787
@HaimBendanan  Unfortunately, Azure HDInsight does not support AutoLoader for new file detection.

Autoloader – new functionality from **Databricks** allowing to  incrementally ingest data into Delta Lake from a variety of data sources. Auto Loader is an optimized cloud file source for Apache Spark that loads data continuously and efficiently from cloud storage as new data arrives. A data ingestio

[2020-11-27 07:52] chtranth opened #66789 "Solution template for "Copy new and changed files by LastModifiedDate with Azure Data Factory" is inconsistent with trigger parameter documentation"
I think there needs to be an update to this with a different method for sourcing the last execution time / time window searching for modified files - the article says that

But, if I reference the trigger parameter documentation [here](https://docs.microsoft.com/en-us/azure/data-factory/control-flow-system-variables#tumbling-window-trigger-scope)

It says that these parameters are actually the sta

[2020-11-27 07:54] HaimBendanan commented on #66787
Thanks, I tried Autoloader and it works great, now I am looking for an Hdinsight alternative. I already set up a strwaming job that reads from blob. What I would be interested in is a way to start a new stream, and ingest only new data instead of exisitng data. This capability is achieved in autoLoader by specifying the option to read only new files. Is that possible to do something similar when s

[2020-11-27 08:09] magishmeer commented on #66775
Thank you @MonikaReddy-MSFT, I've updated my initial post with the URL to the plugin's documentation

[2020-11-27 08:28] Deepti886 commented on #66155
Hi Team,
Is there any update on the above ask?

[2020-11-27 08:32] #66661 closed

[2020-11-27 08:32] Vansir commented on #66661
Thank you for answer Rohit

[2020-11-27 08:59] HarithaMaddi-MSFT commented on #66789
@chtranth - Thanks for the valuable feedback. I am looking into it and will get back to you shortly.

[2020-11-27 09:11] BharathNimmala-MSFT commented on #66446
@habeebtc Thanks again for bringing this to our notice.

With the below PowerShell version , was able to [run the sample script ](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-collector-api#powershell-sample) with out any issue.

![PSVersion](https://user-images.githubusercontent.com/45180002/100428973-86f6d000-3049-11eb-9fc3-4d4322bb41b6.png)

With $method = "POST" , the Invo

[2020-11-27 09:11] #66446 closed

[2020-11-27 09:13] vipulsparsh commented on #66788
@fume Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-11-27 09:22] GitaraniSharma-MSFT commented on #66353
@mavilleg , there is another update from the backend team as below:

One more new capability we have just released which includes FQDN in network rules: [Azure Firewall FQDN filtering in network rules | Microsoft Docs](https://docs.microsoft.com/en-us/azure/firewall/fqdn-filtering-network-rules)

It might be interesting for you to examine, since it provides some more flexibility on new supported F

[2020-11-27 09:30] mavilleg commented on #66353
Yes, we’re testing this at the moment and it seems to answers all our needs !

It’s not a specific application that I have in mind it’s a general use case where the DBA must be connected to the PostgreSQL from a bastion.
It would’ve been easier for the Central IT to control the traffic from a FQDN point of view (blocking/allowing traffic to a specific DB rather than allowing/denying every DB withi

[2020-11-27 09:34] oletho opened #66790 "Access denied when using Robocopy to set ACLs for Azure File share"
I deployed an Azure File share with integration to on-prem Active Directory.

I have the role **Storage File Data SMB Share Elevated Contributor** and setting ACLs manually on files and folders from Explorer works fine.

But copying ACLs with Robocopy gives me Access denied

_ERROR 5 (0x00000005) Copying NTFS Security to Destination File d:\install\.NET Rector\5.0\license.license
Access is denied.

[2020-11-27 09:35] mikeclayton commented on #66668
@rwiankowski - I had the same issue yesterday with provisioning an ASEv3 in **North** Europe via the portal. I raised a support ticket and the ASE Product Group tweaked something on the backend last night which fixed it for me this morning.

As a shot-to-nothing you could try again today in West Europe and see if it fixed it for you as well...

[2020-11-27 09:42] jhueppauff opened #66791 "Image uses SSL, shouldn't it be TLS?"
The Architecture Image is showing SSL Connections. Shouldn't this be a TLS Connection? ;-)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e03fe8f3-cb91-cb10-8e72-5e6c6270f644
* Version Independent ID: c11d8e02-48e2-9250-fa59-3f00114c765c
* Content: [VNet peering and Azure Bastion architecture](https://docs.microsoft.co

[2020-11-27 09:45] franksebastia opened #66792 "Provide example for client and server side for HTTP 202 handling"
It's said 202 flow is supported but I was unable to find a full code example for client side and server side implementation.
Using an DurableHttpRequest with asynchronousPatternEnabled.

Thanks in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a29097a2-e7ac-f8ae-c8b9-65dd9707d089
* Version Independent ID: b4d2

[2020-11-27 09:46] kheiakiyama opened #66793 "Can't we update an existing service principal based AKS cluster to managed identities?"
I read this sentence.

First, update the System Assigned Identity:

It conflicts this limitation.

I cannot find out `--enable-managed-identity` options in `az aks update` command.
https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az_aks_update

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a9c74a8-

[2020-11-27 09:50] GitaraniSharma-MSFT commented on #66353
@jocortems , any update on the below ask:

Could you please fix the typo in IP range of Azure Firewall Vnet in the figure of Scenario 1 in this article to reflect 10.0.0.0/16 ? (It is incorrectly mentioned as 10.1.0.0/16):

![image](https://user-images.githubusercontent.com/67630903/100435415-e98cb200-30c3-11eb-9991-c4b0cf40afdf.png)

Also, is it possible to highlight the below statement for bette

[2020-11-27 09:58] jethrovaneetvelde opened #66794 "File capacity metrics are in"
The docs say the file capacity metrics are 1024 based, while in reality they are 1000 based.
87960930222080 should be 80000000000000.

Regarding functionality, why is there no % based alert for this? Everytime we increase our quota, we also have to increase the alert, which imo is not user friendly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-11-27 09:59] dominicbetts commented on #66575
@rido-min, @pelikhan - the snippets in this article are taken from the TemperatureController sample: https://github.com/Azure/opendigitaltwins-dtdl/blob/master/DTDL/v2/samples/TemperatureController.json. In the sample, the two Thermostat components are part of the `contents` array - I'll amend the code snippet to make this more obvious.

[2020-11-27 10:13] dominicbetts commented on #66575
@rido-min, @pelikhan  - I'm updating the article to make clear that the snippets come from two JSON documents.

[2020-11-27 10:15] Devmanitu opened #66796 "Little typos"
There are some backticks in the command line examples at the end like
**UpdateSummary | where Computer in (mycomputergroup)`**
which look like they are there on purpose
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04ea7b8d-1ebd-f0d9-54eb-5c4bda514b6f
* Version Independent ID: 0bf8d290-b10b-5faf-b6c4-2bb6ecb85ce2
* Con

[2020-11-27 10:19] AnuragSharma-MSFT commented on #66732
@MhAllan Can you please tell me which region are you creating the Cosmos Account into?

[2020-11-27 10:31] KalyanChanumolu-MSFT commented on #66551
@strykerin This information is not available on the portal today.

Please post your ask on the [CosmosDB UserVoice](https://feedback.azure.com/forums/263030-azure-cosmos-db) so that other users can upvote if they have a similar requirement.
The product team prioritizes requests accordingly.

[2020-11-27 10:32] KalyanChanumolu-MSFT commented on #66551
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-11-27 10:32] #66551 closed

[2020-11-27 10:33] MayankBargali-MSFT commented on #66572
@vc-zhu I was able to reproduce the issue at my end and have reached out to my team for more insights. I will keep you posted with the updates.

[2020-11-27 10:36] maxvfischer commented on #24800
@j-martens Is it safe to update the scoring timeout ms by updating the environment variable `SCORING_TIMEOUT_MS` when using `AciWebservice.deploy_configuration`?

[2020-11-27 10:37] KalyanChanumolu-MSFT commented on #66772
@davidbaxterbrowne Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-11-27 10:41] KrishnaG-MSFT commented on #66622
@mpchen At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-11-27 10:41] #66622 closed

[2020-11-27 10:42] GitaraniSharma-MSFT commented on #66791
@jhueppauff , thank you for your feedback. We'll review this and get back to you shortly.

[2020-11-27 10:45] KrishnaG-MSFT commented on #66677
@Pankaj8878 Did you get chance to review earlier comment from @tfitzmac? Can you please provide the requested additional information so that we can assist you accordingly?

[2020-11-27 10:51] #66796 closed

[2020-11-27 10:51] AdelaManea opened #66799 "Adapt explanation for null value for minimum required TLS version"
Hello team,

I am a support engineer, and I have a customer that argues he has been caught out by the fact that the following paragraph was not explicit about what the outcome is when the minimum version has not been set before:

![image](https://user-images.githubusercontent.com/67159737/100441013-6f056780-30ae-11eb-84f3-aa8b21d045fb.png)

Would it at all be possible to add a sentence that clearl

[2020-11-27 10:51] SwathiDhanwada-MSFT commented on #66796
Thanks for your feedback @Devmanitu . I have made the necessary changes to the document and the changes will be live soon.
We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-11-27 11:06] MhAllan commented on #66732
@AnuragSharma-MSFT  .. I was creating it at Australia South East

[2020-11-27 11:10] Catskan opened #66800 "Unexpected error when tried to import bacpac with powershell"
Hi Team,

I'm trying to import a bacpac file into a new Database with powershell, but I have an error message : `An unexpected error occured while processing the request. Tracking ID:`

So, I don't understand why it doesn't working. My Azure creds, RG, ServerName and all parameters are all goods.

I tried to execute this script into Azure Powershell Cloud but same error, and in Azure Activaty Log

[2020-11-27 11:11] MrLokeshV opened #66801 "Event Hub Connection issue"
[Enter feedback here]
Hi Team,

I'm facing issue while sending an event from Databricks Notebook to Event Hub.
Till Last week it was working fine, but currently i am facing this issue.

Error Message is : "Unable to open authentication session on connection b'EHProducer-d3522fc3-40cf-48b5-be80-ba1142b5b16e'."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-11-27 11:32] sachinpanwar opened #66802 "Misleading statement about Activity log ingestion cost in log analytics workspace"
Can we please update it to remove any confusions?
Example:
- No data ingestion or data retention charge for Activity log data stored in a Log Analytics workspace **for 90 days only**.

![image](https://user-images.githubusercontent.com/11601385/100444193-0f6c8380-30d1-11eb-8e6a-eeaa6b7bb7f5.png)

From these statements, it looks like we can store Activity log entries for longer than 90 days into Lo

[2020-11-27 11:46] AnuragSharma-MSFT commented on #66800
@Catskan Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-11-27 11:58] SwathiDhanwada-MSFT commented on #66802
@sachinpanwar Thanks for your feedback. We will review the issue and get back to you shortly.

[2020-11-27 12:04] Pankaj8878 commented on #66677
Hi,

The document needs more clarification with examples. It's so difficult to
understand the sequence of actions mentioned and why those needed etc.

Thanks.

Regards,
Pankaj

On Fri, Nov 27, 2020, 5:45 AM KrishnaG-MSFT <notifications@github.com>
wrote:

[2020-11-27 12:04] colgreen commented on #33808
For the record, the full list of mappings are defined in ClaimTypeMapping.cs in the System.IdentityModel.Tokens.Jwt assembly/package:

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/System.IdentityModel.Tokens.Jwt/ClaimTypeMapping.cs

[2020-11-27 12:19] HarithaMaddi-MSFT commented on #66769
@kromerm - Can you please take a look and share your thoughts

[2020-11-27 12:22] ThulaseeShan commented on #57981
Is there an update on this?

[2020-11-27 12:29] asergaz commented on #66481
Hello @Shruti1729,
Apologies for not replying to your question in a timely manner.

As you are trying to connect a different sensor, this issue goes out of the scope of this doc. We want to be sure we can help you in the proper place and leverage the community as well. For that reason I kindly ask that you post your question in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html).

[2020-11-27 12:29] #66481 closed

[2020-11-27 12:32] HarithaMaddi-MSFT commented on #66789
@chtranth- Tumbling window start date is usually in the past and trigger time is usually 5minutes past the window end date and hence there will not be any files looked at future in this case. I tested for one scenario as below which is working fine.

![image](https://user-images.githubusercontent.com/61235246/100449888-aa1d9000-30da-11eb-881a-0d21fb6b00a3.png)

I will proceed with closing this iss

[2020-11-27 12:32] #66789 closed

[2020-11-27 12:41] HarithaMaddi-MSFT commented on #66801
@MrLokeshV - Thanks for posting the issue. This appears a transient or network issue, please use retry and check if it helps. Since it is scenario specific question and not related to document, I would recommend you to post a question in [Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-event-hubs.html) or [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-eventhub) that i

[2020-11-27 12:41] #66801 closed

[2020-11-27 12:46] gmddmg opened #66803 "Deployment error"
Hi! I can´t find in this page information about this error:

        The subscription is not registered to use namespace 'Microsoft.AzureActiveDirectory'.

I´m trying to learn about AAD B2C.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67e0bb17-736b-4c84-22b0-47148e43131e
* Version Independent ID: c73c7142-a61

[2020-11-27 12:56] paulphillipsuk opened #66805 "What is the throttling credit time period?"
We've been doing some testing on our service bus and stumbled across the service bus throttling limitations.

This document mentions a time period for throttling, but the definition of a time period is not stated. Is it a couple of seconds or is this period different based on credit usages?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-11-27 13:15] GitaraniSharma-MSFT commented on #66627
@AElharouny , while we are waiting for the backend team to confirm about the IP changes, may I know more about your scenario? Because if you want to open traffic from these IP addresses for some NSG rule then you can simple use the service tag [AzureTrafficManager](https://docs.microsoft.com/en-us/azure/virtual-network/service-tags-overview#available-service-tags).

[2020-11-27 13:19] AElharouny commented on #66627
We wanted to apply IP restriction to an App Service. I asked the question before discovering that Service Tags are recently supported in APP Service access restriction. So we aren't going to use the IP list anymore. The answer is just needed for our information now.

[2020-11-27 13:19] GitaraniSharma-MSFT commented on #66786
@laglergruener , thank you for submitting the issue. We'll investigate and get back to you with further updates.

[2020-11-27 13:20] GitaraniSharma-MSFT commented on #66627
@AElharouny , thank you for the update. I will provide an answer as soon as I hear from the backend team.

[2020-11-27 13:22] KrishnaG-MSFT commented on #66803
@gmddmg Thanks for your comment! We will review and provide an update as appropriate.

[2020-11-27 13:25] aralvar opened #66806 "Update CLI commands"
In the example provided to remove VMSS from Nat Pool, there's a typo. If you try to run the command with just *, the following error is prompted:

az vmss update-instances --instance-ids * --name VMSS --resource-group MyResourceGroup
BadRequestError: The provided instanceId clouddrive is invalid. It must be a non-negative integer or the character "*".

The right way to run it is like this:

az vms

[2020-11-27 13:41] BhargaviAnnadevara-MSFT commented on #66726
@IIAS We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-11-27 13:41] #66726 closed

[2020-11-27 14:11] GitaraniSharma-MSFT commented on #66786
@laglergruener , are you using custom DNS servers?

[2020-11-27 14:17] barabba72 commented on #45282
This issue has been open for a year now....no news ?

[2020-11-27 14:17] ChrisGibson1982 opened #66808 "settings.configurationArguments.RefreshFrequencyMins minium value is incorrect"
The docs for the cmdlet **Register-AzAutomationDscNode** state that the minimum value for refreshfrequencyMins is 15, but if you set it below 30 the PowerShell command gives an error

**Docs:**
_settings.configurationArguments.RefreshFrequencyMins | uint32 | Specifies how often LCM attempts to check with the Automation account for updates. Default value is 30. **Minimum value is 15**._

**PowerShe

[2020-11-27 14:41] maximepollet27 commented on #66765
Thank you, let me know if you need any information from me.

[2020-11-27 14:47] SubhashVasarapu-MSFT commented on #66806
@aralvar, Thanks for reaching out. We will investigate and update this thread.

[2020-11-27 15:02] SubhashVasarapu-MSFT commented on #66536
@ChiragPavecha, Thanks for the quick PR. @y2kdread, appreciate your feedback. We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-11-27 15:02] #66536 closed

[2020-11-27 15:07] laglergruener commented on #66786
I don’t use custom DNS servers.

[2020-11-27 15:36] MonikaReddy-MSFT commented on #66784
@j-hansen -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-11-27 15:39] MonikaReddy-MSFT commented on #66790
@oletho -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-11-27 15:40] MonikaReddy-MSFT commented on #66792
@franksebastia -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-11-27 15:41] MonikaReddy-MSFT commented on #66793
@kheiakiyama -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-11-27 15:43] MonikaReddy-MSFT commented on #66794
@jethrovaneetvelde -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-11-27 15:46] MonikaReddy-MSFT commented on #66799
@AdelaManea -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-11-27 15:48] MonikaReddy-MSFT commented on #66799
@AdelaManea -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-27 15:48] #66799 closed

[2020-11-27 15:49] MonikaReddy-MSFT commented on #66805
@paulphillipsuk -
- Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2020-11-27 15:50] paulphillipsuk commented on #66805
Perfect than you very much.

[2020-11-27 15:51] MonikaReddy-MSFT commented on #66808
@ChrisGibson1982 -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-11-27 15:54] MonikaReddy-MSFT commented on #66808
@ChrisGibson1982 -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-27 15:54] #66808 closed

[2020-11-27 16:05] jikuja commented on #66674
Now I have more logs and I see two following:

1. ScaleController increases instance count to one with `An instance was added due to the following triggers requesting help: Trigger 'Timer/2020-11-27T04:22:00Z' => 'Timer is almost due'`
2. Host instance is being started
3. Function is executed with successful return code
4. `Stopping JobHost` No errors
5. `Job host stopped` No errors
6. A new host

[2020-11-27 16:06] jakubwaller commented on #59093
Can the docs be updated? It is very misleading at the moment.

[2020-11-27 16:17] harirajan0664 opened #66810 "App Service on Linux is not supported on Shared pricing tier.- But it does."
[Enter feedback here]
This documentation requires and an update , in my understanding Linux App service support in all the tiers including free and basic.
https://docs.microsoft.com/en-us/azure/app-service/overview#limitations

have a look at that

https://azure.microsoft.com/en-us/pricing/details/app-service/linux/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-11-27 16:29] lorenzorizziGH opened #66811 "df.printSchema()"
data_df.printSchema() should be df.printSchema()

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65331fde-51d0-365e-e182-2c3b01de8f99
* Version Independent ID: 79b4f02b-27a5-019a-1b36-4e80a04f539f
* Content: [Quickstart: Get started analyzing with Spark - Azure Synapse Analytics](https://docs.microsoft.com/en-us/azure/s

[2020-11-27 16:29] MayankBargali-MSFT commented on #66571
@cjjohansen As there was no response we will now proceed to close this thread. Feel free to reach out to us and we will gladly continue the discussion.

[2020-11-27 16:29] #66571 closed

[2020-11-27 16:29] #66811 closed

[2020-11-27 16:30] sapien47 opened #66812 "Additional Informations on how preserve hostname and fixed ip adress"
Hello,

SAP Products need for the private ip adress to be fixed and  for hostname to be preserved after restart.
I think you should provide more precise guidance and  instructions on those two points, rather than recommending to iuse powershell.
Most SAP BAsis Admin are not Powershell experts.
Other hyper-providers provide the instructions and comamnd lines  ::
https://d0.awsstatic.com/enterprise-

[2020-11-27 16:30] MayankBargali-MSFT commented on #66063
@craigshoemaker Can you please provide your input on this.

[2020-11-27 17:21] ii-batman opened #66814 "Unable to UDP in"
Followed the article instructions, got the reg keys in, the Adv FW setup.
Connecting internally and externally still defaults to TCP.
Am I doing something wrong?
Thanks  M

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31718c09-8c87-c102-d326-c78e5ff018fd
* Version Independent ID: 1b15c261-9ea8-e23b-d6a1-b3131dd403b9
*

[2020-11-27 18:20] BryanTrach-MSFT commented on #66810
@harirajan0664 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-27 18:24] daviburg opened #66816 "APIM does not support WS-Policy or WS-Security"
Please add to WSDL SOAP to REST limitations:

- APIM does not support WS-Policy or WS-Security

Under https://docs.microsoft.com/en-us/azure/api-management/api-management-api-import-restrictions#-wsdl

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be16b5c5-40c4-3e6c-0b0d-840373c63f9f
* Version Independent ID: ced6b3ba-

[2020-11-27 18:27] StingyJack commented on #66683
@MonikaReddy-MSFT   Yes I did open a duplicate*, but to be totally truthful, I only did that because you were trying to make me a victim of some checklist or policy on this issue report and avoid having to help. This is in addition to already being made a victim of the bug that's in the cxwtool.  Rather than get angry or indignant about your response or handling in the current issue, I've found it

[2020-11-27 20:36] YutongTie-MSFT commented on #66545
@pawarbi Hello Sandeep, thanks for the feedback. I will forward this idea to product team for reviewing and fixing.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-11-27 20:36] #66545 closed

[2020-11-27 20:38] YutongTie-MSFT commented on #66543
@hgrandy94  Hello, thanks for the feedback. I will forward this idea to product team for reviewing and fixing.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-11-27 20:38] #66543 closed

[2020-11-27 20:41] dgordoncal opened #66817 "Manual SPN Setup of computer account unclear"
[Enter feedback here]
This section is unclear:   for SPN add it using setSPN or manually edit computer account?   where does password go?  Is it part of the SPN?  What tool do we use to add the SPN?

"Once you have that key, create either a service or computer account under your OU. Use the following specification (remember to replace the example text with your storage account name):

SPN: "cifs/y

[2020-11-27 20:48] asergaz commented on #66723
Hello @Marusyk , see here how Exception handling is done with C# SDK: https://github.com/Azure/azure-iot-sdk-csharp/blob/master/iothub/device/devdoc/architecture.md#exception-handling

Please start a new thread discussion in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/products/) as this stands out of the scope of this doc and we want to be sure we leverage the experts community to adv

[2020-11-27 20:48] #66723 closed

[2020-11-27 21:17] msfcolombo commented on #33808
Thanks @colgreen! That's exactly what I was looking for!

[2020-11-27 21:47] softwarecraft opened #66818 "Are Fortinet/FortiGate Linux distros supported?"
There are numerous Fortinet/FortiGate virtual machines in the Azure marketplace which support full integration with Azure Management portal, eg via AzurePolicyForLinux and OMSAgentForLinux VM extensions.

Yet these FortiOS Linux distros are not listed on this page as endorsed / supported by Microsoft, nor on this page https://docs.microsoft.com/en-us/troubleshoot/azure/cloud-services/support-linux

[2020-11-27 22:19] glenncarr opened #66819 "Typo"
[Enter feedback here]
Probably a typo.

This:
_That's why recommend that you don't remove the server endpoint unless you would like to stop using Azure File Sync with this particular folder or have been explicitly instructed to do so by a Microsoft engineer_

Should probably be:
_That's why **we** recommend that you don't remove the server endpoint unless you would like to stop using Azure File Sy

[2020-11-27 22:44] matejskubic commented on #66719
@PramodValavala-MSFT where could I set this option in the Azure Function context.
I can't find option in the [host.json](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue-output?tabs=csharp#hostjson-settings) neither in the [`[QueueTrigger]`](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue-trigger?tabs=csharp#configurati

[2020-11-27 23:08] Wtrapp commented on #66458
+1

[2020-11-28 00:51] cmielke commented on #66699
These are Azure virtual machines built from a custom VM image. The custom image was based on the Windows 2019 image. If this scenario is not supported yet that is fine, but it is not clear from the documentation.

Sent via the Samsung Galaxy S10e, an AT&T 5G Evolution capable smartphone
Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: SadiqhAhmed-MSFT <notific

[2020-11-28 00:54] BharathNimmala-MSFT commented on #66819
@glenncarr Thanks a lot for taking time to share your feedback and helping us improve our Azure documentation. I have raised a PR to reflect the feedback, it will be merged with live document later in next 2 buisness days.

At this point it appears that there's no further edits or updates needed to the documentation, other than what is listed above. We will go ahead and close this issue for now, h

[2020-11-28 00:54] #66819 closed

[2020-11-28 00:57] BharathNimmala-MSFT commented on #66811
@lorenzorizziGH  Thank you for reaching out, not sure if you had any specific feedback or query on any of our Azure documentation. Please feel free to revert back if you have  any specific queries/feedback. Thank you

[2020-11-28 01:29] MonikaReddy-MSFT commented on #66812
@sapien47 -
- Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2020-11-28 01:32] MonikaReddy-MSFT commented on #66814
@ii-batman -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-11-28 01:50] MonikaReddy-MSFT commented on #66816
@daviburg -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-28 01:50] #66816 closed

[2020-11-28 01:52] MonikaReddy-MSFT commented on #66817
@dgordoncal -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-11-28 01:54] MonikaReddy-MSFT commented on #66818
@softwarecraft -
- Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2020-11-28 03:23] fume commented on #63288
hello?

[2020-11-28 05:41] SubhashVasarapu-MSFT commented on #66697
@jan-tosovsky-cz, Appreciate your patience. I have tested this in my lab with CentOS-7.1. I see the directory mentioned over there in the doc is no more available from CentOS 7 or is limited to RHEL. I got a way to set the dnsmasq configuration to use local nameserver 127.0.0.1. Here are the steps,

1.cp /etc/dnsmasq.conf /etc/dnsmasq.conf.orig
2.vi /etc/dnsmasq.conf
3.listen-address=::1,127.0.0.1

[2020-11-28 06:34] psmanhas commented on #65506
@puneethkgowda Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-11-28 06:34] #65506 closed

[2020-11-28 06:37] psmanhas commented on #66081
@mcurko Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-11-28 06:37] #66081 closed

[2020-11-28 06:38] psmanhas commented on #66193
@roygara As per our discussion can you please provide your inputs on this issue.

Thanks

[2020-11-28 06:46] psmanhas commented on #66594
@aleti-pavan Thank you for the feedback. I have shared same with our backend team so that they can make necessary changes.

Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-11-28 06:46] #66594 closed

[2020-11-28 06:47] psmanhas commented on #66649
@lissff
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-11-28 06:47] #66649 closed

[2020-11-28 06:52] psmanhas commented on #66746
@deichten Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2020-11-28 06:52] psmanhas commented on #66746
@alkohli Can you please check and add your comments on this doc update request as applicable

[2020-11-28 07:00] psmanhas commented on #66793
@kheiakiyama Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-11-28 07:00] psmanhas commented on #66793
@mlearned Can you please check and add your comments on this doc update request as applicable

[2020-11-28 07:35] melissahoughton commented on #66765
This issue occurs in Visual Studio when you have no existing apps, and a workaround is to go into the Azure Portal and create a new function app there (just a dummy one), in the same resource group you are using for the tutorial. Once you create a new function app in the portal, the resource group will appear in Visual Studio.

After you finish publishing the function app from the tutorial, you ca

[2020-11-28 07:44] psmanhas commented on #66316
@mcurko Primary certificate and secondary certificate concepts was there so that we can add new secondary certificates while the primary certificate is about to expire, both are for the same cluster certificate purpose which was the classic behavior.

Now behavior is default across common name and thumbprint based certificate, previously the cluster used to pick cert based on what's defined as pri

[2020-11-28 07:44] #66316 closed

[2020-11-28 07:45] chtranth commented on #66789
Got it-so the window is backwards-looking.  Makes sense, I think the wording on the parameters page just confused me - if anything the wording on this page is more accurate.  Thanks again

[2020-11-28 08:34] ankurbajaj9 opened #66821 "Structured vs unstructured"
Is table storage for structured data or unstructured data. I know you can store structured data in NoSQL but the documentation is pretty confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a61d40dd-8c13-b5d3-f63d-5e4b44dadf97
* Version Independent ID: eae4319e-6691-2bbf-64ab-c42d6f4caee0
* Content: [Overview of A

[2020-11-28 09:48] mcurko opened #66822 "Example needed"
Please provide an intergal example for dev/test/prod environments where different DB connection string, RunAs user and TLS certificate (or similar data) would be used. It's difficult to understand how to do it from the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7156ca7-d9f0-0ba1-aabe-8e585f157b90
*

[2020-11-28 09:53] krish-gh commented on #66821
@ankurbajaj9 , Table storage is for structured data. The document gives you the introduction as

Would appreciate if you help us understanding more on which part of the document is confusing to review if any potential update needed.

[2020-11-28 09:58] krish-gh commented on #66822
@mcurko Thanks for the feedback. Let us have a look on it.

[2020-11-28 10:20] psmanhas commented on #66822
@mcurko Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-11-28 10:21] psmanhas commented on #66822
@MikkelHegn Can you please check and add your comments on this doc update request as applicable

[2020-11-28 10:46] piotrgradzinski opened #66823 "Namespaced claims support in OAuth2 technical profile."
Integration between Azure B2C and Auth0 via OAuth2 protocol. I want to add to the token some additional, custom claims. Auth0 requires them to be namespaced ("By default, Auth0 always enforces namespacing" - https://auth0.com/docs/tokens/create-namespaced-custom-claims). So, I have the following technical profile:

[code]

As you can see I am trying to use namespaced Auth0 claim `http://example.co

[2020-11-28 11:59] DEberhardt opened #66824 "Incongruencies"
Hello,

while working through a script to read all this wonderful data, I found a few minor incongruencies (and one major one):

### Major:

- DESKLESSPACK is listed as "Office 365 F1" and "Office 365 F3", with the same SkuId

### Minor:

- SKYPE FOR BUSINESS PSTN DOMESTIC CALLING (120 Minutes) has a line break before 120 Minutes
- POWER APPS PER USER PLAN (Product) has no ServicePlans linked? (mi

[2020-11-28 13:39] krish-gh commented on #66824
@DEberhardt , We will have a look and get back to you.

[2020-11-28 13:45] krish-gh commented on #66823
@piotrgradzinski Thanks for reaching. Let us get back to you on this.

[2020-11-28 14:00] deepakj6 opened #66825 "Semantic Error"
Create an image pull secret section has a reference to the secret named "docker-registry"
In the section Use the image pull secret the secret is referenced as "acr-secret" in the code.
I think its inconsistent and probably just a semantic error. Otherwise, consider providing another example under the section "Create an image pull secret" to include creating the acr-secret that way the article will

[2020-11-28 14:47] DEberhardt commented on #66824
Thank you.
Found one more, added it to the list above:

- O365_BUSINESS_PREMIUM and SMB_BUSINESS_PREMIUM are both named "Microsoft 365 Business Standard"

[2020-11-28 15:30] DEberhardt commented on #66824
If I may, could I ask that the Calling Plans be renamed (or just "SKYPE FOR BUSINESS PSTN" being cut from the String)?
Naming it just "Domestic Calling Plan" or "International Calling Plan" would be enough, no?

To keep it in line with "Microsoft 365 Phone System" for example, they could just be called: "Microsoft Calling Plan - Domestic" for example...

[2020-11-28 16:45] reddyeswar161 commented on #66254
Sorry..I was busy in other work. Do you have sample local.config.user file? I am trying to debug the code and understand end to end connected-factory solution architecture

[2020-11-28 16:51] reddyeswar161 opened #66826 "Where should I find iot-connected factory architecture"
I would like to know azure iot-connected-factory solution architecture from start to end.  Like how the data coming to IOT, time series insights, what the vm is doing, what is rdx service.. each and every component how it is used in the solution..

[2020-11-28 17:48] vairakkumar-vairaperumal commented on #66640
@MonikaReddy-MSFT what is the PR for this? Why is this ticket closed before the PR is merged? Trying to understand your workflow difference since it is out of GitFlow out in the OSS

[2020-11-28 17:56] TexNeil opened #66827 "Custom Domain"
[Enter feedback here]
Is it possible to add details on how to add a custom domain to the app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92ea301b-6db8-83db-9bed-4e94969f26dd
* Version Independent ID: b5c14f79-1eb4-3a6e-0c50-e61c1dadacfb
* Content: [Tutorial: Authentication with Azure Functions - Azure SignalR](http

[2020-11-28 20:04] MonikaReddy-MSFT commented on #66826
@reddyeswar161 -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-11-28 22:05] krish-gh commented on #66827
@TexNeil Are you looking for adding custom domain setup in Azure App Service or Azure Function? You can have a look on https://docs.microsoft.com/azure/app-service/app-service-web-tutorial-custom-domain and https://docs.microsoft.com/azure/app-service/scripts/cli-configure-custom-domain for that.
The document you have linked in this issue is more SignalR focussed and it would be bit off-topic to a

[2020-11-28 22:09] krish-gh commented on #66825
@deepakj6 Thanks for the feedback. Let us have a look on it.

[2020-11-28 22:11] TexNeil commented on #66827
Thanks for the reply, what I'm trying to configure is a serverless
customdomain with some static files served by CDN and interacting with C#
functions using SignalR w/SSO from services.  I see how I can set a custom
domain to a CDN and get free HTTPS, and I see how I can point a custom
domain to functions but not using the same as from CDN, and not with a free
SSL.  The article I posted to comes t

[2020-11-28 22:16] pranavsanghadia opened #66828 "how do I add new modules like "import gmqtt""
[Enter feedback here]

I am able to run this example but when I tried adding async mqtt like gmqtt from "github.com/wialon/gmqtt" or any other async mqtt the log message on the device displays an error message: "No module named gmqtt"

Please note that I tried all the async implementation of mqtt, they all shows same type of error. The only mqtt works is paho-mqtt.

Q1: How do fix above issue?

Q2

[2020-11-28 22:37] PKPublicCode opened #66829 "Add information that disclosures performance issues (or their absence) if unique values used as partition key"
Please, add some official statement about using unique values as partition key (for instance if Id property is used as partition key). How separate logical partition for every record will affect the perfomance?
I found answer there
https://stackoverflow.com/a/54637561/9111145
If it's correct (or especially if it's not correct), IMO it should be added to this article

---
#### Document Details

⚠ *

[2020-11-29 00:35] alexandair opened #66834 "Document should be redesigned to include PowerShell commands and not just Azure CLI"
This document looks like it's covering PowerShell commands, but it doesn't. It uses PowerShell as a shell for running the Azure CLI commands.
Also, it contains some confusing mistakes. The tabs marked as "Azure CLI" are actually Command Prompt commands.

![image](https://user-images.githubusercontent.com/3135708/100528877-ce17c900-31e1-11eb-98a7-7ee5609e992b.png)

![image](https://user-images.gith

[2020-11-29 04:50] Jeankimgithub opened #66835 "Compliance for FIPS 140 and limitation using Microsoft cloud services"
[Enter feedback here]

Info says the following. However, if we are obliged to comply for a FIPS 140 (HSM) for the protection of the crypto key lifecycle, by managing, processing and storing cryptographic keys inside a hardened, tamper-resistant device and öur solution is using the below mentioned service, is there a mitigation justification and/or alternative solution?

Azure Dedicated HSM is not

[2020-11-29 05:37] mpchen opened #66836 "Add "Select All" option in the UI"
Can we add a "Select All" option in the portal for policy and initiative selection? There are 100+ policy definitions and it is time consuming to add one by one. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ff59c65-dffd-a9d3-e02c-25c688322d91
* Version Independent ID: 001249ab-2a55-e8ee-7d3c-e3cb7f4afd24
* C

[2020-11-29 05:39] mpchen opened #66837 "Error on "export policy definition""
Getting the following error while trying to export the policies via UI -

"Service prinicipal creation failed : Insufficient privileges to complete the operation."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ff59c65-dffd-a9d3-e02c-25c688322d91
* Version Independent ID: 001249ab-2a55-e8ee-7d3c-e3cb7f4afd24
* Content

[2020-11-29 06:35] SwathiDhanwada-MSFT commented on #66837
@mpchen Thanks for your comment. We will review the issue and get back to you shortly.

[2020-11-29 06:35] krish-gh commented on #66828
@pranavsanghadia Let us have a look and get back to you.

[2020-11-29 06:36] SwathiDhanwada-MSFT commented on #66836
@mpchen Thanks for your comment. We will review the issue and get back to you shortly.

[2020-11-29 06:39] krish-gh commented on #66829
@PKPublicCode Thanks for the suggestion. Let us review it.

[2020-11-29 06:52] krish-gh commented on #66834
@alexandair Thanks for the feedback. [Azure CLI](https://docs.microsoft.com/cli/azure/) is designed to be cross-platform common interface agnostic to the preferred shell (e.g. powershell, bash etc.). If you want pure Powershell variant, the document has that as separate tab. However you can definitely run the CLI commands also from powershell.
If I did not understand your point correctly here, ple

[2020-11-29 07:00] Deepti886 commented on #66155
Hi, Is there any update?

[2020-11-29 07:16] ankurbajaj9 commented on #66821
as per [WIki ](https://en.wikipedia.org/wiki/NoSQL) NoSQL is data which is other than tabular data. Structured data is tabular data. What does it mean by Structured NoSQL data ?

[2020-11-29 07:36] reddyeswar161 commented on #66826
https://github.com/Azure/azure-iot-connected-factory

[2020-11-29 08:00] krish-gh commented on #66821
[NoSQL](https://en.wikipedia.org/wiki/NoSQL) means 'non-relational' as opposed to 'relational' like sql server, mysql etc. NoSQL data may be key-value store (just like table storage in this case), document store like MongoDB, CosmosDB etc. The wiki terms it specifically as "**other than tabular 'relations'**", not "tabular" only. NoSQL can be tabular also, [example](https://en.wikipedia.org/wiki/N

[2020-11-29 08:15] krish-gh commented on #66835
@Jeankimgithub Let us get back to you on this.

[2020-11-29 10:56] ToninoFerrara opened #66838 "var is missing in front of queueClient"
On line:
queueClient = new QueueClient(ServiceBusConnectionString, QueueName);

var is missing in front of queueClient

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 217f29ba-3552-f406-58d3-d2e0c3bd4d2c
* Version Independent ID: 003342a6-6fc5-fae4-31f4-369b561cfd89
* Content: [Get started with Azure Service Bus queues

[2020-11-29 11:08] SergeyVoskoboynikov commented on #53339
I just discovered that the [Authenticator app](https://play.google.com/store/apps/details?id=com.azure.authenticator&hl=en_US&gl=US) can be transferred to the phone via [Huawei Phone Clone](https://consumer.huawei.com/de/emui/clone/). The app runs on [Huawei 40 Pro plus](https://consumer.huawei.com/en/phones/p40-pro-plus/) without reporting that Google Services are required.

That's a nice job. At

[2020-11-29 13:13] #66838 closed

[2020-11-29 13:13] krish-gh commented on #66838
@ToninoFerrara Thanks for reporting. We have corrected it. Change will be published shortly.

[2020-11-29 13:18] mpalmier74 opened #66839 "Delete virtual machine with the highest instance ID"
It is possible that I am wrong, but the statement in subject is incorrect.
Older instances are deleted first and those instances have lower instance ID.

The incorrect statement appears in the explanation of the "Scale-in policy"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f1d9e2d-9e2a-b137-efbc-b20c27b2ac12
* Vers

[2020-11-29 13:44] BertAnthonyRochester opened #66840 "7FD7G"
<iframe src="https://onedrive.live.com/embed?cid=BAA6929B99E68549&resid=BAA6929B99E68549%211493&authkey=APJ6yPO4y8EPr_Y&em=2" width="476" height="288" frameborder="0" scrolling="no"></iframe>
[]()

[2020-11-29 13:46] BertAnthonyRochester commented on #66840
This darn thing won't tolerate

[2020-11-29 13:48] alexandair commented on #66834
First, the 3 tabs in the first image show how to set an environment variable in 3 different shells--bash, PowerSell, and Command Prompt. The third one should not be labeled Azure CLI, because that doesn't have any connections to Azure CLI.

Btw, this command `set AZURE_STORAGE_CONNECTION_STRING="<MY_CONNECTION_STRING>"` is incorrect. If you put a connection string in quotes, it won't work later. Q

[2020-11-29 13:55] BertAnthonyRochester commented on #66840
7FD7G

[2020-11-29 14:11] MonikaReddy-MSFT commented on #66840
@BertAnthonyRochester -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-11-29 14:16] MonikaReddy-MSFT commented on #66775
@magishmeer -  Thanks for providing the details.
Looks like you have a product issue and not a doc feedback. Please note that this channel (the Azure Docs repository) is only for driving improvements related to the Azure documentation. The best place for specific answers about implementations are going to be the [Microsoft QnA](https://docs.microsoft.com/en-us/answers/topics/azure-active-directory

[2020-11-29 14:16] #66775 closed

[2020-11-29 14:17] MonikaReddy-MSFT commented on #66826
@reddyeswar161 - Thanks for providing the details.
Looks like you have a product issue and not a doc feedback. Please note that this channel (the Azure Docs repository) is only for driving improvements related to the Azure documentation. The best place for specific answers about implementations are going to be the [Microsoft QnA ](https://docs.microsoft.com/en-us/answers/questions/topics/single/25

[2020-11-29 14:17] #66826 closed

[2020-11-29 14:28] DCtheGeek commented on #66836
#reassign:DCtheGeek

[2020-11-29 14:30] DCtheGeek commented on #66836
@mpchen Thanks for the question.  Since this is a request for a feature/capability and not an Issue with the Docs, it belongs on [UserVoice - Azure Policy](https://feedback.azure.com/forums/915958-azure-governance?category_id=345055).  Please post the request there and the product team will evaluate it for inclusion in future sprints.  Thanks!

@MicrosoftDocs/azure-cxp-triage #please-close

[2020-11-29 14:30] #66836 closed

[2020-11-29 14:31] DCtheGeek commented on #66837
#reassign:DCtheGeek

[2020-11-29 14:33] DCtheGeek commented on #66837
@mpchen Thanks for letting us know.  As this isn't an issue with the Doc, please open a support ticket so they can troubleshoot and assist you directly.  Thank you!  cc / @raiyanalam

@MicrosoftDocs/azure-cxp-triage #please-close

[2020-11-29 14:33] #66837 closed

[2020-11-29 15:46] krish-gh commented on #66839
@mpalmier74 Thanks. We will verify it and get back.

[2020-11-29 16:36] AdaTheDev opened #66841 "Code samples don't reflect change to new AzureMessaging.ServiceBus package"
The code samples use QueueClient which doesn't exist in Azure.Messaging.ServiceBus. I believe they need updating to reflect the new package which has ServiceBusClient instead

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 217f29ba-3552-f406-58d3-d2e0c3bd4d2c
* Version Independent ID: 003342a6-6fc5-fae4-31f4-369b561cfd8

[2020-11-29 17:06] AshokPeddakotla-MSFT commented on #66765
@maximepollet27 Does that solves your issue? Do let us know if you need further help.

[2020-11-29 17:13] SamStenton opened #66842 "Functions Cosmos DB Binding: Not explained that documents can be uploaded in bulk (Javascript)"
The documentation does not show that documents can be uploaded in bulk by the CosmosDB binding like the following:

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dfb86c0-02ed-0abc-8789-ba91d7979762
* Version Independent ID: ecbcc2c6-869e-2492-f10f-a07cf4b34209
* Content: [Azure Cosmos DB output binding for Func

[2020-11-29 17:47] shashishailaj commented on #66824
@DEberhardt Thank you for your feedback. We will engage the content author on this one to take it forward.

@nicholak-ms Could you please help on the same ?

#reassign:nicholak-ms

[2020-11-29 18:02] VIPULKAM opened #66843 "Volume affinity conflict with node"
I am facing following issue with volume affinity

Volumes:
  isamconfig:
    Type:       PersistentVolumeClaim (a reference to a PersistentVolumeClaim in the same namespace)
    ClaimName:  isamconfig
    ReadOnly:   false
  isamconfig-logs:
    Type:       PersistentVolumeClaim (a reference to a PersistentVolumeClaim in the same namespace)
    ClaimName:  isamconfig-logs
    ReadOnly:   false
  d

[2020-11-29 18:22] jordaniza opened #66844 "Can we have examples of testing other triggers and bindings beyond HTTP"
Been trying to unit test Storage Queue bindings and it's a bit challenging. Luckily [found this stackoverflow post](https://stackoverflow.com/questions/63002212/how-to-fix-error-for-test-of-azure-function-python-with-http-trigger-and-queue)

Specifically,

`def main(req: func.HttpRequest,  msg: func.Out[str]) -> func.HttpResponse:`

Requires the argument `msg` which cannot simply be an instance of

[2020-11-29 19:24] SamStenton commented on #66844
Hey, does these help:

Queue Trigger:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue-trigger?tabs=python

Blob Trigger:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob-input?tabs=python

Timer Trigger:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer?tabs=python

In the menu on the left t

[2020-11-29 19:33] karolz-ms commented on #66825
@deepakj6 the `docker-registry` is not a secret name, is the type of the secret to be created (or, more precisely, the name of the sub-command off of `create secret` command). The secret name comes after that:

[code]

[2020-11-29 19:58] jordaniza commented on #66844
Hey Samuel,

Thinking about testing here, the examples provided show how to setup the
function but it took me a long while to work out how to setup an actual
test

On Sun, Nov 29, 2020, 11:24 PM Samuel Stenton <notifications@github.com>
wrote:

[2020-11-29 20:30] ankurbajaj9 commented on #66821
I perfectly understand what you are trying to say. It's just that the term "structured NoSQL" data does not make a lot of sense. if I expand "Structured Not Only Structured Query Language". Maybe use something like non relational structured data or maybe specify columnar , key value etc.

[2020-11-29 20:31] JohnRusk opened #66845 "Document why standard load balancer is recommended for AKS"
[This page](https://docs.microsoft.com/en-nz/azure/aks/egress) says " We recommend using the Azure **Standard** Load Balancer".
 But there are obviously cases where customers may validly choose to use the **Basic** load balancer instead... because that's what the page is about.

The page does not say anything about _why_ the recomendation to use Standard is made, so this leaves users in the dark a

[2020-11-29 20:42] JohnRusk opened #66846 "Page needs a section added about Egress"
We don't seem to have any conceptual documentation on AKS _egress_. I think we should add some to this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10de2de7-9d5a-b791-1e28-a399634993d6
* Version Independent ID: a92015a1-4f3a-8b1b-1794-5566af729d16
* Content: [Use static IP for egress traffic - Azure Kubernetes

[2020-11-29 21:12] JohnRusk opened #66847 "Page needs to say whether its talking about ingress IPs, egress IPs, or both"
Since right now, it's not clear whether it's about static ingress IPs (only), or also applies to static egress IPs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7179d4ae-db6e-7f7c-a855-db0e0475dae9
* Version Independent ID: 1a6fa0e8-e175-ae4d-a9d6-d170255a598e
* Content: [Use static IP with load balancer - Azure Kube

[2020-11-29 21:36] krish-gh opened #66848 "Need inclusion of the new SDK "Azure.Messaging.ServiceBus""
With the release of the new SDK [Azure.Messaging.ServiceBus](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/servicebus/Azure.Messaging.ServiceBus), this document needs update to include the [package](https://www.nuget.org/packages/Azure.Messaging.ServiceBus/) and code reference .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2020-11-29 21:54] D3-LucaPiombino opened #66849 "It's not clear if a NAT gateway is required to mitigate SNAT port exhaustion for connections to VMs inside a VNET"
Hello,
We have been experiencing SNAT port exhaustion in some specific use cases, while trying to connect from webapp/webjobs to the services hosted by some VMs in a VNET.
We don't have issues with connections to Azure services  (blob storage, etc...) as we were able to change the code to follow the advices/guidance in the documentation (we are evaluating using **service endpoint**).
Unfortunately

[2020-11-30 02:40] MayankBargali-MSFT commented on #66841
@AdaTheDev Thank you for your feedback! We will review and update as appropriate.

[2020-11-30 02:43] MayankBargali-MSFT commented on #66842
@SamStenton Thank you for your feedback! We will review and update as appropriate.

[2020-11-30 02:44] MayankBargali-MSFT commented on #66768
@s3c-rsolar Just following up here. Hope my previous comment clears things up.

[2020-11-30 02:46] ram-msft commented on #66720
@dinesarun Thanks for the feedback. The [opinion mining](https://docs.microsoft.com/en-us/azure/cognitive-services/text-analytics/how-tos/text-analytics-how-to-sentiment-analysis?tabs=version-3-1#opinion-mining) feature in Text Analytics assigns sentiment to specific features or topics so that users can better understand customer feedback from social media data, review sites, and more.
Please foll

[2020-11-30 02:47] MayankBargali-MSFT commented on #66844
@jordaniza Thank you for your feedback! We will review and update as appropriate.

[2020-11-30 02:52] VikasPullagura-MSFT commented on #66845
@JohnRusk
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-11-30 02:52] VikasPullagura-MSFT commented on #66845
@mlearned @zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2020-11-30 02:56] VikasPullagura-MSFT commented on #66846
@JohnRusk
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-11-30 02:56] VikasPullagura-MSFT commented on #66846
@mlearned @zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2020-11-30 02:56] BharathNimmala-MSFT commented on #66843
@VIPULKAM Thank you for reaching out, our team will review and get back to you at the earliest.

[2020-11-30 02:57] VikasPullagura-MSFT commented on #66847
@JohnRusk
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-11-30 02:57] VikasPullagura-MSFT commented on #66847
@mlearned @zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2020-11-30 03:00] #66758 closed

[2020-11-30 03:02] VikasPullagura-MSFT commented on #66825
@karolz-ms Thanks for sharing the details.

[2020-11-30 03:09] s3c-rsolar commented on #66768
Macy thanks for your answer.

Actually im trying to use this classes:

for the moment in my code, they are commented, if i dont comment them,
everything fails
many thansk

#from azure.iot.hub import IoTHubRegistryManager
#from azure.iot.hub.models import Twin, TwinProperties,
QuerySpecification, QueryResult

El dom, 29 nov 2020 a las 23:44, MayankBargali-MSFT (<
notifications@github.com>) escribió

[2020-11-30 03:27] mikew1927 commented on #19779
@altambaw @rohinkoul Would love to get an update from Microsoft. ** Testing with a Windows Server 2019 VM shows:
A) The VM does NOT reboot as "promised" by the Azure Portal, when changing DNS IP on Vnet-/NIC-custom DNS
B) "Ipconfig /renew" is sufficient to update the Windows Server 2019 VM DNS settings.
** I like how the documentation now reflects this: "(!) Note If you change the DNS settings for

[2020-11-30 03:39] CHEEKATLAPRADEEP-MSFT commented on #66626
@dckfnuance  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-11-30 03:39] #66626 closed

[2020-11-30 03:40] CHEEKATLAPRADEEP-MSFT commented on #66787
@HaimBendanan  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better-suited audience for such types of issues.

[2020-11-30 03:40] #66787 closed

[2020-11-30 04:01] AnuragSharma-MSFT commented on #66590
@simionda Please let us know if above comment helps.

[2020-11-30 04:15] SubhashVasarapu-MSFT commented on #66849
@D3-LucaPiombino, Thanks for reaching out. We will investigate and update this thread.

[2020-11-30 04:32] Sharmistha-Rai commented on #57981
@ThulaseeShan - the callout here was added for newly supported Operating Systems. The full supported list of the deployment planner can be found [here](https://docs.microsoft.com/en-us/azure/site-recovery/vmware-physical-azure-support-matrix#replicated-machines).

Could tell me where you saw "CentOS 7 is not supported."? I can't see in the documentation that has been tagged.

[2020-11-30 04:38] jlichwa commented on #66774
It is describe in document in Secret assignment section :https://docs.microsoft.com/en-us/azure/key-vault/general/rbac-guide#secret-scope-role-assignment

[2020-11-30 04:42] SnehaAgrawal-MSFT commented on #66641
@icatchx22i We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2020-11-30 04:42] #66641 closed

[2020-11-30 05:00] AnuragSharma-MSFT commented on #66732
@MhAllan It looks like while creating the database you unchecked the below highlighted option. Only when this option is checked, you would be able to see the option **_'Provision dedicated throughput for this container More information'_**.

![image](https://user-images.githubusercontent.com/66360845/100570371-a36b6480-32f6-11eb-81cb-9197cfe405b0.png)

The reason being while creating the database

[2020-11-30 05:03] SwathiDhanwada-MSFT commented on #66570
Assigning to content author @lgayhardt for review

[2020-11-30 05:03] chirangaalwis commented on #66774
Thanks. Got it @jlichwa. Will check.

[2020-11-30 05:03] SnehaAgrawal-MSFT commented on #66668
@rwiankowski As mentioned by mikeclayton Please try again with West Europe region. Incase if you are still facing issue in deploying you may send us an email to AzCommunity[at]Microsoft[dot]com referencing this issue.

Also Since, ASEv3 is in public preview and its not recommended to use this production and this will mature as it nears Global Availability (GA).

[2020-11-30 05:06] SwathiDhanwada-MSFT commented on #66603
@jadams74 Dis you get chance to look into previous comments?  Kindly revert if you need further assistance.

[2020-11-30 05:47] JayaChatterjee-MSFT commented on #66579
@hannesne Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-11-30 05:47] #66579 closed

[2020-11-30 05:51] hannesne commented on #66579
Hey yeah that's what I had been looking for. Can I suggest we update the docs with that link?

[2020-11-30 05:57] AnuragSharma-MSFT commented on #66734
@yichungyu This is being assigned to the content author to evaluate and update as appropriate.

[2020-11-30 06:00] hannesne commented on #66579
I've created a PR with this update: https://github.com/MicrosoftDocs/azure-docs/pull/66855

[2020-11-30 06:16] SarveshPandey opened #66856 "Confused between Overwrite and Restore Existing Database in SQL MI"
I gone through this document, At the start it says you can restore Existing DB to another SQL MI using PowerShell of Azure CLI.
When I read further now it says you can't overwrite the database in SQL MI.

Whats the difference between them?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa600097-8429-42c5-3e35-dd994bf2e

[2020-11-30 06:29] #66671 closed

[2020-11-30 06:38] AshokPeddakotla-MSFT commented on #66403
@kumarallamraju Are you still blocked? Do let us know if you need further help. Please update **azure-iot extension**

[2020-11-30 06:40] AnuragSharma-MSFT commented on #66856
@SarveshPandey Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-11-30 06:45] SnehaAgrawal-MSFT commented on #66755
@ellispritchard Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-11-30 06:56] stevevi commented on #65299
#please-close

[2020-11-30 06:56] #65299 closed

[2020-11-30 07:02] ma763488 opened #66857 "DisksizeGB"
I am getting error while trying to extend the data disk using powershell.

error: The property 'DiskSizeGB' cannot be found on this object

![image](https://user-images.githubusercontent.com/40394310/100578358-22b56400-3308-11eb-9787-39f4c4a47612.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccc58c74-7913-f1f6-86

[2020-11-30 07:10] parameswar-mondal-fission commented on #28457
Today I am facing the same issue(#28457), I'm doing R&D then I saw this post. Now I get the solutions.

[2020-11-30 07:12] AnuragSharma-MSFT commented on #66800
@Catskan Apologies for the trouble you are facing. This is a known [issue ](https://github.com/microsoftdocs/azure-docs/issues/66298)and has been reported already. However if you want to make it work, please change the `DatabaseMaxSizeBytes to` max value of S3`(-DatabaseMaxSizeBytes "268435456000" `) and try once more. Again this value will changed based on performance level that is being used.

[2020-11-30 07:17] ma763488 commented on #66857
It is working when I am using the PowerShell on my local machine and it gives error while using the cloudshell.

[2020-11-30 07:23] SychevIgor commented on #66737
@BhargaviAnnadevara-MSFT create VNET, add Private endpoint connections, approve it. open Configuration Explorer.
as Microsoft support mentioned in ticket 120112521000014 it's feature, not a bug, but I want to see "expected behavior" instead of error message

[2020-11-30 07:26] SadiqhAhmed-MSFT commented on #66699
@cmielke Thanks for the feedback. We will have this reviewed by the content owner and update as required.

@bwren and @rboucher To comment on this.

[2020-11-30 07:29] MayankBargali-MSFT commented on #66768
@s3c-rsolar We use the below classes you need to add azure-iot-hub in your requirements.txt as mentioned in my first comment. Let me know if you are still facing the issue post you have added azure-iot-hub

from azure.iot.hub import IoTHubRegistryManager
from azure.iot.hub.models import Twin, TwinProperties, QuerySpecification, QueryResult

[2020-11-30 07:36] kiki-kekat opened #66859 "Please add the maximum length of storage account (15 characters)"
In this document, it is described that the script or user create an computer account representing it in your AD DS.

In Naming conventions computers account in Active Directory, It is defined that maximum name length is 15 characters.
Therefore, the maximum length of storage account is 15 characters.
(In my verify, the storage account which name is over 15 characters has error when the script exec

[2020-11-30 07:38] SadiqhAhmed-MSFT commented on #66696
@TheBluLion We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2020-11-30 07:38] #66696 closed

[2020-11-30 07:44] MayankBargali-MSFT commented on #66841
@AdaTheDev Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2020-11-30 07:48] HekiliJordan opened #66860 "Microsoft.Azure.Devices.Common.Exceptions.UnauthorizedException:"
I get this issue when using the Microsoft.Azure.Devices.AmqpFeedbackReceiver.ReceiveAsync() code, specifically when using this line  var feedbackBatch = await feedbackReceiver.ReceiveAsync(); I checked to make sure all my connection strings are the same as the IOT hub's one but  other than that I do not know what could be wrong

---
#### Document Details

⚠ *Do not edit this section. It is require

[2020-11-30 08:05] WernerRobberechts opened #66861 "Azure Search Resource Type typo"
Hello,

There is a typo in your documentation, I tried to deploy an Azure Search private endpoint, as shown on the documentation page the Resource Type is listed as Microsoft.Search/searchService but it should be Microsoft.Search/searchService**s**

![image](https://user-images.githubusercontent.com/68286424/100583020-71ec9c00-32ea-11eb-8ecd-11af5399f47d.png)

The error I got in the ARM template d

[2020-11-30 08:43] esbenbach opened #66863 "Missing description/link of what "highThroughputMode" actually is"
The page contains a few pointers to toggling on high throughputmode. However there is little to no information about what this does. It may be available somewhere else, but then it would be nice with a link to that "somewhere else". As it is all I can find is links pointing to how to toggle it on.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-11-30 08:49] IgnacioAlvarezArenas opened #66864 "Auto renew of certificate creates a new private key"
Hi,

Would it be possible to add in the documentation the fact that when the App Service Certificate gets renewed the private key changes too as a side effect of the renewal? There are some certificate providers that would let you keep the same private key in case it was being used somewhere.

Thanks in advance!

Regards,
Ignacio

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-11-30 08:51] SychevIgor opened #66865 "Add screenshot to make it a bit move visual"
Please, Add screenshot to make it a bit move visual
Currently- it's few page of raw text without any screenshots as visual anchors

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e1bd2ea-0594-5d07-2dbe-b5d9b0339e98
* Version Independent ID: dcacbdc8-722a-9acd-e5b8-f2fa9464bb6e
* Content: [Push settings to App Configura

[2020-11-30 08:56] Deepti886 commented on #66155
Hi, Is there any update?

[2020-11-30 08:57] SubhashVasarapu-MSFT commented on #66560
@kmkelly2015, Appreciate your patience. Once the client connects to Azure via VPN, it will use the DNS server configured on Azure. It is not supported to split the DNS queries sent from client. All the queries will go to this server.

Please go through this [doc](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-name-resolution-for-vms-and-role-instances) for more information

[2020-11-30 08:57] #66560 closed

[2020-11-30 08:58] MSSedusch commented on #66812
@sapien47 thank you for the feedback. Can you give us more details what you are refering to in the AWS document (e.g. page number) and where it is currently described via PowerShell in our documentation?

[2020-11-30 08:59] SubhashVasarapu-MSFT commented on #66861
@WernerRobberechts, Thanks for reaching out. We will investigate and update this thread.

[2020-11-30 09:02] subashsivaji opened #66866 "Common Data Model source connector datetime/timestamp columns nullified?"
We are using Azure Data Factory Mapping data flow to read from Common Data Model (model.json).

We use dynamic pattern – where Entity is parameterised and we do not project any columns and we have selected `Allow schema drift.`

We are having issue with “Source” in mapping data flow (Source Type is Common Data Model).
**Problem: All the datetime/timestamp columns are read as null in source activit

[2020-11-30 09:04] WernerRobberechts opened #66867 "Azure SignalR resource type typo"
Hello,

Please modify the signalr subresource to "signalr" instead of "signalR".  Upon deploying via ARM template I else get the error message "invalid groupid".  It works fine when changed to "signalr".  I got the information to change it to "signalr" from documentation on page:

https://docs.microsoft.com/en-us/azure/azure-signalr/howto-private-endpoints

az network private-endpoint create --res

[2020-11-30 09:06] MikkelHegn commented on #66822
The doc clearly states two different types of configuration and how you can apply techniques depending on the configuration you need to inject. If there's a specific detail preventing implementation, please let me know. I'm sorry, but I'm not able to provide an end-to-end example. For more in-depth Service Fabric usage - I'd recommend e.g. this book: https://www.oreilly.com/library/view/programmin

[2020-11-30 09:07] savas-guven commented on #50919
In many Enterprise scenarios, creating firewall holes is a painful internal process taking many days. Having the ability to assign static IPs to any particular resource helps significantly adopting these technologies.

Otherwise every time a new environment is provisioned, you would need to deploy first, find the IP addresses and then ask for firewall holes; instead of planning ahead.

[2020-11-30 09:12] techadmin1982 opened #66868 "Root Management Group or Custom Management Group not part of scope"
Is current AzureRM provider for Terraform not allowing us to specify Root Management Group or any custom management Group to include in Scope ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e440c59-c78b-f81a-6fd1-ac5b788ab1fc
* Version Independent ID: 33f85b87-2e44-d78c-5fe2-8f6d72748bc4
* Content: [Quickstart: New p

[2020-11-30 09:14] MikkelHegn commented on #66822
Here's a good reference: https://stackoverflow.com/questions/65041849/azure-service-fabric-different-publish-settings-for-different-environments

[2020-11-30 09:20] SubhashVasarapu-MSFT commented on #66861
@WernerRobberechts, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-11-30 09:20] #66861 closed

[2020-11-30 09:21] dpapkin commented on #65197
Hi @JayaChatterjee-MSFT

Any update on this page? Still not corrected. Here is a screenshot from MSFT Geographies page that shows there are 2 regions in Brazil.
![image](https://user-images.githubusercontent.com/24426530/100591199-61f7ab00-3330-11eb-93e9-46f3da06e65b.png)

https://azure.microsoft.com/en-us/global-infrastructure/geographies/

[2020-11-30 09:21] #66841 closed

[2020-11-30 09:25] SnehaAgrawal-MSFT commented on #66864
@IgnacioAlvarezArenas Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-11-30 09:28] dpapkin commented on #53566
Israel are "coming soon in 2021" .  Spain opening date not released yet.

[2020-11-30 09:30] uahmad85 opened #66869 "Azure Documentation is not easy to use and quite hard to learn."
Hi,
i have followed this document and tried to create a Service Principal account then assigned it role as key vault administrator. But it did not work like most the documents provided by azure service. Have anyone from your team tried using these docs and made sure they work? At this point i am very frustrated by most of the documentation here. Documentation does not mean that you have to just pr

[2020-11-30 09:31] JayaChatterjee-MSFT commented on #65197
@barbkess Could you please look into this?

[2020-11-30 09:41] uahmad85 commented on #66869
i have followed this document and tried to create a Service Principal account then assigned it role as key vault administrator. But it did not work like most the documents provided by azure service. Have anyone from your team tried using these docs and made sure they work? At this point i am very frustrated by most of the documentation here. Documentation does not mean that you have to just provid

[2020-11-30 09:48] Klaas- opened #66871 "RHEL 7 Images not updated properly"
Hi,
7-RAW is not getting updated to current minor releases.
Newest one I see is
[code]
But that should be a 7.9 image by now.

Greetings
Klaas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98dae3fd-1714-918b-1c03-7cc25bf5acf9
* Version Independent ID: c958b3df-9826-e187-d276-d56b8d09ddec
* Content: [Red Hat Enterprise

[2020-11-30 10:00] mimergel opened #66872 "Link to RedHat documentation not working"
Hi,

This link is not working:
Install SAP HANA on Red Hat Enterprise Linux for Use in Microsoft Azure
https://access.redhat.com/solutions/3193782

It gives access denied on the redhat portal.

Can this please be fixed soon as we are about to install SAP S/4 HANA on RHEL 8.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-11-30 10:03] VikasPullagura-MSFT commented on #66871
@Klaas-
Thanks for your Question!
I have assigned the issue to content author to check and add comments on this.

[2020-11-30 10:03] VikasPullagura-MSFT commented on #66871
@asinn826
Can you please check and add your comments on this as applicable.

[2020-11-30 10:04] VikasPullagura-MSFT commented on #66872
@mimergel
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-11-30 10:04] VikasPullagura-MSFT commented on #66872
@rdeltcheva
Can you please check and add your comments on this.

[2020-11-30 10:06] kajencik opened #66873 "Instructions for stop/start VMs by a list incorrect"
In the section for starting and stopping VMs from using a list https://docs.microsoft.com/en-us/azure/automation/automation-solution-vm-management-config#target-the-start-and-stop-action-by-vm-list

it says to use the WHATIF parameter as true - however, this does not make the VMs actually stop or start, for that, the parameter needs to be false.

---
#### Document Details

⚠ *Do not edit this sect

[2020-11-30 10:10] jeongaelee opened #66874 "Invalid JSON format"
This is invalid JSON format and returns error when submitting direct method in the portal.
{
       "schemaVersion": "1.0",
       "items": [
          {
             "id": "regex string",
             "filter": {
                "tail": int,
                "since": int,
                "until": int,
                "loglevel": int,
                "regex": "regex string"
             }

[2020-11-30 10:32] muditmittal1985 commented on #59525
CorpNetSaw and CorpNetPublic are not valid service tags in NSG. Are there any other service tags that we supposed to use or the traffic from CorpNetSaw and CorpNetPublic are no longer needed?

[2020-11-30 10:35] muditmittal1985 opened #66875 "CorpNetSaw and CorpNetPublic are not valid service tags in NSG"
I am not able to add the default rules required for the Managed Instances.

https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/connectivity-architecture-overview#mandatory-inbound-security-rules-with-service-aided-subnet-configuration

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc2dd547-3ff7-b32a-ba8a

[2020-11-30 10:47] JayaChatterjee-MSFT commented on #66767
@anuradhaindika83 Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-30 10:48] SwathiDhanwada-MSFT commented on #66868
@techadmin1982 Thanks for your comment. We will review the issue and get back to you shortly.

[2020-11-30 10:48] SwathiDhanwada-MSFT commented on #66873
@kajencik Thanks for your comment. We will review the issue and get back to you shortly.

[2020-11-30 10:51] VikasPullagura-MSFT commented on #66814
@ii-batman To better assist you with the issue, can you share few more details.
What network connectivity options are you using?
Did you try restarting the session hosts?
In your setup, do you have NSG's on Subnet or session hosts?

[2020-11-30 10:53] dennis-benzinger-hybris opened #66876 ""Scenario 3: Virtual machine without public IP and behind Basic Load Balancer" is wrong"
If a VM has no public IP but is connected to a basic LB then its egress traffic will use the LB IP as the source.
It doesn't use a dynamic one.
A previous version of the page was correct but I couldn't find the exact version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a96406ce-2ffc-cdb3-1234-5154ccd5cc76
* Version

[2020-11-30 11:19] lissff commented on #66649
But i did try with Azure CNI network model, and i don't need this action at all: Microsoft.Network/virtualNetworks/subnets/write

My role only have below two actions, and it can create internal/external loadbalancer type of service without any issue:
**Microsoft.Network/virtualNetworks/subnets/join/action
Microsoft.Network/virtualNetworks/subnets/read**

Can you explain when do i need to have writ

[2020-11-30 11:28] tanujkumawat opened #66877 "Exceeded language worker restart retry count for runtime:node. Shutting down and proactively recycling the Functions Host to recover"
audited 9 packages in 1.668s

1 package is looking for funding
  run `npm fund` for details

found 0 vulnerabilities

Terminal will be reused by tasks, press any key to close it.

Azure Functions Core Tools
Core Tools Version:       3.0.2996 Commit hash: c54cdc36323e9543ba11fb61dd107616e9022bba
Function Runtime Version: 3.0.14916.0

Functions:

        DemoHttpTrigger: [GET,POST] http://localhost:

[2020-11-30 11:31] SubhashVasarapu-MSFT commented on #66867
@WernerRobberechts, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-11-30 11:31] #66867 closed

[2020-11-30 11:39] simionda commented on #66590
I disagree with the comment – that API is to remove a user’s permission to access data, the paragraph in question talks about removal of personal information (PII, regulatory, confidential, etc).  To accomplish such activities, there would need to be data classification operations to describe that a particular record contains such data, and is then searchable to remove.

Sent from Mail<https://go.

[2020-11-30 11:44] HarithaMaddi-MSFT commented on #66866
@subashsivaji - Thanks for posting the issue. I am looking into it and will get back to you soon.

[2020-11-30 11:44] SarveshPandey commented on #66856
Any Update on this?

[2020-11-30 11:49] SubhashVasarapu-MSFT commented on #66875
@muditmittal1985, as per the Azure doc, you cannot manually select the "CorpNetSaw" service tag from the portal. You must use Azure PowerShell or Azure CLI to manually configure a rule that uses the CorpNetSaw service tag.

[code]

**SS:**
![image](https://user-images.githubusercontent.com/44890829/100606869-15ac6b00-3330-11eb-95bf-370d74970b70.png)

Ref Doc: https://docs.microsoft.com/en-us/azure