[2019-03-25 20:55] TravisCragg-MSFT commented on #27958
@shraboin Thanks for the feedback! I have assigned this issue to the content author to evaluate and update as appropriate.

@dksimpson I am not able to find the listed doc author, are you the best one to assign this to?

@mdgattuso fyi

[2019-03-25 21:08] HeidiSteen commented on #27609
@keithl8041 good to hear that it's not a code issue.  I'm working on doc revisions.  I'll circle back on this PR when I have something to show you.

[2019-03-25 21:09] aljo-microsoft commented on #25813
@jakaruna-MSFT
#please-close

As the user appears to have referenced another issue that articulates that a containers boundary should include all code dependencies within the image, and has subsequently solved their issue.

[2019-03-25 21:12] davidmu1 commented on #25128
Removed the links to archived samples. Will possibly add links back after the engineering team provides updated publicly available samples.

#please-close

[2019-03-25 21:14] HeidiSteen commented on #27961
@furmangg Hmm, I just tried it in both Chrome and Edge and the URLs resolve both with and without the "s".  However, with just http:// I get a warning.   What browser are you using?

[2019-03-25 21:19] MicrosoftGuyJFlo commented on #27415
@jay98014 Thoughts?

[2019-03-25 21:19] ephemeraldrive opened #27968 "Broken Links in Section 'Default and Custom Antimalware Configuration'"
https://blogs.msdn.microsoft.com/azuresecurity/2016/02/24/update-on-microsoft-antimalware-and-azure-resource-manager-arm-vms/
https://blogs.msdn.microsoft.com/azuresecurity/2016/03/09/enabling-microsoft-antimalware-user-interface-post-deployment/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39836c50-a16b-55c4-e088-56

[2019-03-25 21:20] aljo-microsoft commented on #25097
@gperrego
We appreciate your feedback.

You will notice this directly links to the referenced material:
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-windows-server-add-remove-nodes#add-nodes-to-your-cluster

and is nested in the table of contents under:

How-To-Guides -> Create and Managed Clusters -> Standalone Clusters -> Scale

Which follows the same format as th

[2019-03-25 21:27] aljo-microsoft commented on #24896
@MicahMcKittrick-MSFT
#please-close

[2019-03-25 21:27] dksimpson commented on #27958
Hi @TravisCragg-MSFT, I no longer work in the CDN docs area, please reassign. Thanks!

[2019-03-25 21:28] ephemeraldrive opened #27969 "The last paragraph on section 'Security and malware protection' has no ending"
Section https://docs.microsoft.com/en-us/azure/security/blueprints/ukofficial-paaswa-overview#security-and-malware-protection ends with ',ensuring'. By the sound of it, more than simply a dot is missing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 245a8df6-781f-7a85-ff63-c5f7d9fa6103
* Version Independent ID: 1d88c41

[2019-03-25 21:29] aljo-microsoft commented on #24765
@MicahMcKittrick-MSFT
Can you confirm you still have this issue with the latest release? If not, #please-close as it's been resolved.

[2019-03-25 21:33] jay98014 commented on #27415
I will add some text at the beginning of the monitoring topic that calls this out.

[2019-03-25 21:35] davidmu1 commented on #24916
We won't be adding screenshots to these set articles because the providers change their user interfaces frequently, but I will try to keep the textual instructions as clear as possible. I have updated the steps according to the current Google experience, which had changed a little.

#please-close

[2019-03-25 21:40] Blackbaud-ChrisBlythe opened #27970 "Can SB metrics be accessed using Log Analytics queries?"
Was just wondering if the same SB metrics that are available under the Azure Monitor &gt; Metrics tab could also be accessed via a query in LogAnalytics? If so, what would a sample query look like?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 234dca79-9576-7bfb-644a-ef486c9ca2f6
* Version Independent ID: a4d50a1a-497

[2019-03-25 21:40] davidmu1 commented on #24844
A workitem has been opened in our documentation queue to cover this work.

#please-close

[2019-03-25 21:41] davidmu1 commented on #21382
A workitem has been opened in our documentation queue to cover this work.

#please-close

[2019-03-25 21:42] cshalda opened #27971 "Link to GitHub repo is broken on this page"
https://github.com/azure/aks/issues%5D is the link which takes me to a 404 error page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077f1bb5-2ba9-490c-2c6e-0de292266539
* Version Independent ID: 0fd87b4f-88a4-c2eb-3ebc-f2b113ac203c
* Content: [Use the cluster autoscaler in Azure Kubernetes Service (AKS)](https://docs.

[2019-03-25 21:47] jay98014 commented on #27415
@Trundlore I've added the following text at the beginning of the AADPP monitoring topic page:

Monitoring and reporting are done either by event log messages or by running PowerShell cmdlets. The DC agent and proxy services both log event log messages. All PowerShell cmdlets described below are only available on the proxy server (see the AzureADPasswordProtection PowerShell module). The DC agent s

[2019-03-25 21:49] davidmu1 commented on #19821
A workitem has been opened in the documentation queue to cover this work.

#please-close

[2019-03-25 21:50] davidmu1 commented on #18157
A workitem has been opened in the documentation queue to cover this work.

#please-close

[2019-03-25 22:01] asinn826 commented on #7141
@ronbok - I understand this reply is long overdue, but I pushed some changes to the serial console docs to link to docs that refer to serial console in specific troubleshooting situations. Definitely doesn't cover every single case available, but I thought I'd start with that and continue iterating on serial console use cases. The changes should be live in the next couple days. Really appreciate t

[2019-03-25 22:26] MicahMcKittrick-MSFT commented on #27567
Just a side note, the doc is using PowerShell. The lastest module now is Az instead of AzureRM

[2019-03-25 22:27] furmangg commented on #27961
Heidi I didn’t describe that clearly. Under HTTPS the site comes up but searching for a job does nothing and the facets on the left are blank. However under HTTP the search functions and the facets are populated. I tested on Chrome. Let me know if that still doesn’t make sense and I can send a screenshot.

I agree that making HTTPS work would be optimal since I get a Chrome insecure warning on HTT

[2019-03-25 22:36] wmpauli commented on #22716
When I follow these instructions, I get the following error: "Failed to get scoring front-end info. This happens when the subscription has run out of public IP addresses, or when the cluster is behind a VNet and the VNet blocks incoming calls from AML services." and the provisioning fails. The only potential reason I can think of is that I pick a random name for cname ("www.contoso.com"). This is

[2019-03-25 22:42] HeidiSteen commented on #27961
Got it!!  I will follow up the engineer who create the demo site.  Thanks for the heads up.

[2019-03-25 22:42] Alberto-Vega-MSFT commented on #27735
@DaDug I was unable to repro your issue. I was able to connect the device and test the messages were being received.
![tested-messaging](https://user-images.githubusercontent.com/10910841/54958854-7a38e500-4f14-11e9-80eb-66238e33806c.jpg)

I will be closing this issue for now. If there are further questions regarding this matter, please tag me in your reply. _We will gladly continue the discussion

[2019-03-25 22:42] #27735 closed

[2019-03-25 22:44] averkinderen opened #27973 "Blueprint is now under policy"
The first step "select All services in the left pane. Search for and select Blueprint" is not correct anymore. Blueprints are now under policies.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 526dc7c5-6317-cf35-53a9-e010f4701b60
* Version Independent ID: 087272dd-50ee-87a7-48d8-9b3b9008474f
* Content: [Create a bluepr

[2019-03-25 22:44] ChristianMontoya commented on #27717
#please-close

[2019-03-25 22:46] Mike-Ubezzi-MSFT commented on #19489
@marxxxx Can you open a new issue. This specific GitHub issue was opened back in November and this issue needs to be revisited I see.

[2019-03-25 22:47] johncrim commented on #9282
I came across this issue while researching how to do the same thing. This blog post provides a useful approach:

https://www.wintellect.com/arm-templates-and-cloud-init/

[2019-03-25 22:49] DCtheGeek commented on #27973
@averkinderen Thanks for letting me know. Not sure what changed, but let me look into this.  Thanks for the feedback!

@MicrosoftDocs/azure-cxp-triage Please assign to me, label 'product-question', and #in-progress

[2019-03-25 22:49] HeidiSteen commented on #18516
@bunceg I added multi-value/field examples to the following full syntax examples. LMK what you think.

- https://docs.microsoft.com/en-us/azure/search/search-query-lucene-examples#example-1-field-scoped-query
- https://docs.microsoft.com/en-us/azure/search/search-query-lucene-examples#example-2-intra-field-filtering

[2019-03-25 22:49] greg-walrath opened #27974 "Update on this feature?"
Will this ever get rolled in to CA policies? We have not seen an update on this in several months.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02ff3d62-dc0e-ad0c-f5ae-418337cf31e4
* Version Independent ID: d50952b5-6b98-c40d-d3a3-f9cbec58dd28
* Content: [Configurable token lifetimes in Azure Active Directory](https:

[2019-03-25 22:50] mike-urnun-msft commented on #27970
Hi @Blackbaud-ChrisBlythe Thank you for your feedback! We will review and update as appropriate.

[2019-03-25 22:51] mike-urnun-msft commented on #27955
Hi @Phydeauxman Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-03-25 22:53] HeidiSteen commented on #25915
@brandonh-msft  I updated the fuzzy search examples.   Can you take a look, and if these changes address your concerns, please close the issue or reply back with additional feedback. Thanks!

- https://docs.microsoft.com/en-us/azure/search/search-query-lucene-examples#example-3-fuzzy-search
- https://docs.microsoft.com/en-us/azure/search/query-lucene-syntax#bkmk_fuzzy

[2019-03-25 22:53] Heidilohr commented on #27910
@Jask2002 Customers don't need to register to try out the public preview version of Windows Virtual Desktop. It's free for everyone to try.

[2019-03-25 22:55] MarileeTurscak-MSFT commented on #27969
@ephemeraldrive
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-25 22:55] MarileeTurscak-MSFT commented on #27968
@ephemeraldrive
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-25 22:56] dlepow commented on #27796
@robertdj - Thanks for the details. I'll defer to the product experts.
@sajayantony @northtyphoon - Do you have any suggestions about this scenario with ACR Tasks? Thanks!

[2019-03-25 23:08] SaurabhSharma-MSFT commented on #27717
@jheran007 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-25 23:08] #27717 closed

[2019-03-25 23:21] Grace-MacJones-MSFT commented on #27962
Hi @nelfer , thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-25 23:21] KeiroKamioka0000 opened #27976 "Is RBAC role necessary for Analysis Services?"
I see some RBAC role for Analysis Services written in the following document.

As long as user already have the Analysis Services Admin role, does user still require RBAC permission to perform the action?
Thanks

Microsoft.AnalysisServices
https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations#microsoftanalysisservices

---
#### Document Details

⚠ *Do not ed

[2019-03-25 23:31] MGoedtel commented on #27765
@imeya & @shashishailaj & @KrishnaG-MSFT - This doesn't make sense.  The purpose of the create workspace function is to create a new workspace, not link to one that already exists.  If you already have a workspace that you intend on using, then there is no need to perform this action unless you want to create a new workspace intended to support another purpose.  #please-close.

[2019-03-25 23:40] MashaMSFT commented on #26755
Hi @KeiroKamioka0000 , I guess that would depend on what you mean by supported. If you deploy a Windows Azure VM and manually install SQL 2008 to it (either x86 or x64), you will be supported for the next few months (as the end of life support for SQL 2008 is approaching - July 9th). However, there are special offerings for migrating your SQL 2008 instance over to Azure so you may qualify for addi

[2019-03-25 23:54] #27888 closed

[2019-03-25 23:55] MashaMSFT commented on #27485
Hi @KalyanChanumolu-MSFT , can you please clarify if you're doing a point-in-time restore, or if you're doing a geo-restore? Thanks!

[2019-03-26 00:03] samgegr8 commented on #10098
Hi Guys,

I am not able to get the Value Roles at all from the Sign on .

Thanks
samrat

[2019-03-26 00:05] KeiroKamioka0000 commented on #26755
@MashaMSFT
Hello, thanks for the detailed information and confirmation.

So it sounds like if SQL Server 2008 was installed to the VM directly <SQL Server on Azure Virtual Machines>, the support will be end within July 9th.

If customer still would like to use SQL Server 2008 with Support, customer must migrate into the Azure SQL Database instead of the <SQL Server on Azure Virtual Machines>?

Tha

[2019-03-26 00:09] KeiroKamioka0000 opened #27979 "Any Major Update?"
Hello, I believe the most recent update for this document made in about year ago.
I've attempt to deliver this document but some user concerned that the document didn't update for about a year.

May I have confirmation that information in this document are still accurate?

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2019-03-26 00:12] SteveLasker commented on #27796
Hi @robertdj
It sounds like you're tripping up on two Tasks getting triggered on the same git repo. We talked about git trigger filters, but another approach is to keep the base image in another repo. The theory being you have lots of apps that likely depend on the base image.
You can see an example here: https://github.com/demo42
The web front end (https://github.com/demo42/web) depends on the no

[2019-03-26 00:17] dcbrown16 commented on #27888
@BhargaviAnnadevara-MSFT can you reopen? I just confirmed with @rjagiewich in chat that it wasn't closed intentionally.

[2019-03-26 00:18] tfitzmac commented on #27888
The update was submitted. It will get published tomorrow AM.

[2019-03-26 00:19] tfitzmac commented on #27888
@dcbrown16 - thanks for making me aware of this change in the portal UI. I have created a new image for that step.

[2019-03-26 00:21] paulbatum commented on #26761
Ahh, thank you. I did not realize that it works this way (perhaps it changed at some point), but it does look consistent with this implementation:

https://github.com/Azure/azure-functions-host/blob/690321b72c45f61f9d665ff8c23f980bc31c1c85/src/WebJobs.Script.WebHost/Configuration/WebScriptHostConfigurationSource.cs#L42-L63

Note specifically that the AzureWebJobsScriptRoot setting is only used loc

[2019-03-26 00:23] MashaMSFT commented on #26755
Hi @KeiroKamioka0000 , my apologies, that is not what I meant to imply :) There are options to migrating to a SQL Server VM in Azure and maintaining support past the EOS date. Unfortunately, I do not currently have more details than what is listed on this page: https://www.microsoft.com/en-us/sql-server/sql-server-2008

![image](https://user-images.githubusercontent.com/32783170/54962591-a65b6280-

[2019-03-26 00:30] romankiss opened #27980 "Publish events to an Event Grid Domain"
In the case of the publishing event using a default input event schema such as the _EventGridSchema_, the AEG will populate a full path of the topic resource in the event message, like it is expected.

But, in the case of the publishing event using a _CloudEventV01Schema_ for input schema, the topic part of the source property is not populated to the full topic resource path, for example:

    "so

[2019-03-26 00:31] Karishma-Tiwari-MSFT commented on #26014
@raidlman Thanks for sharing the update. The bug is in internal Azure DevOps.
@wandhydrant Thank you for helping out.

[2019-03-26 00:33] #26014 closed

[2019-03-26 00:33] KeiroKamioka0000 commented on #26755
Thanks!

I think that is all information I would like to know

[2019-03-26 00:33] #26755 closed

[2019-03-26 00:34] Karishma-Tiwari-MSFT commented on #27358
Thanks @hahazeMSFT and @sbtron.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-03-26 00:34] #27358 closed

[2019-03-26 00:35] Karishma-Tiwari-MSFT commented on #27740
@turb0chrg
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-26 00:41] femsulu commented on #27658
@toddysm thanks for pointing this out and sorry this is currently blocking your publishing.

According to the doc, using Microsoft Flow is an optional configuration so very likely there's a workaround to the MS Flow solution to unblock your publishing. Haven't tested but you may be able to use [Azure Logic](https://docs.microsoft.com/en-us/azure/logic-apps/) or [Function](https://docs.microsoft.co

[2019-03-26 00:41] imeya commented on #27765
@mgblythe, if you're correct, then it's a bug on the ui(on the ui, when create a workspace, there is an option for linking to an existing workspace)? please help confirm, thanks.

[2019-03-26 00:43] #27658 closed

[2019-03-26 00:54] MicahMcKittrick-MSFT commented on #24765
Thanks @aljo-microsoft I will check and get back to you

[2019-03-26 00:54] #24896 closed

[2019-03-26 00:55] #25097 closed

[2019-03-26 00:55] #25128 closed

[2019-03-26 00:56] MicahMcKittrick-MSFT commented on #27971
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-26 00:58] MicahMcKittrick-MSFT commented on #27979
@KeiroKamioka0000 as far as I know, everything should be up to date. We try our best to ensure all docs remain updated.

@cynthn @DavidBerg-MSFT can either of you confirm?

[2019-03-26 01:02] irakliy81 commented on #26761
@paulbatum - thank you for the clarification! Would it make sense to create a separate issue asking to make `AzureWebJobsScriptRoot` setting work in Azure too? This could be very useful in some scenarios I'm working on.

[2019-03-26 01:03] MarileeTurscak-MSFT commented on #27953
@RowdyChildren
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-26 01:05] MarileeTurscak-MSFT commented on #27960
@n0ttsweet
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-26 01:06] MarileeTurscak-MSFT commented on #27956
@mdegrushe
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-26 01:06] MarileeTurscak-MSFT commented on #27963
@ITGUYHPH
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-26 01:07] MarileeTurscak-MSFT commented on #27965
@ITGUYHPH
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-26 01:08] MarileeTurscak-MSFT commented on #27974
@greg-walrath
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-26 01:09] MarileeTurscak-MSFT commented on #27976
@KeiroKamioka0000
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-26 01:10] MarileeTurscak-MSFT commented on #27964
@alexkarcher-msft
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-26 01:11] DavidBerg-MSFT commented on #27979
Generally, yes, the data should be reasonably accurate.  We are working on an update.  In the meantime, the CoreMark benchmark we ran on the Linux benchmark page is more up to date (it's a smaller, faster benchmark to run than SPEC, so we update it more regularly).

[2019-03-26 01:11] MarileeTurscak-MSFT commented on #27980
@romankiss
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-26 01:16] Leon99 commented on #27892
I created two web apps that are identical in everything except one being an App Service on Linux and another is Web App for Containers, assigned a system identity to both of them and gave access to both of them to a Key Vault. App Service on Linux worked just fine, Web App for Containers couldn't get the access to the vault.

[2019-03-26 01:19] paulbatum commented on #26761
You could file a new issue in https://github.com/Azure/azure-functions-host requesting this feature.

Thinking about it a little more, I am starting to have an idea about why this setting doesn't work in Azure. Lets say you deploy a function app with two different folders, each with a different set of functions in them, and you are updating this app setting to switch between them. We would need to

[2019-03-26 01:25] tsrob50 opened #27981 "Missing parameter"
the parameter -name is missing from step 4 and 5.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c05d017a-8ce4-d3c2-333c-9f1decbc8e6c
* Version Independent ID: 7f2287e0-71d2-05ef-335b-45bb4cd6cfe3
* Content: [Manage app groups for Windows Virtual Desktop Preview  - Azure](https://docs.microsoft.com/en-us/azure/virtual-

[2019-03-26 01:34] n0ttsweet commented on #27567
Ahh, I have not updated my module.
Thank you, I will do that.
It may work now, if the commands are recognized by the new module update. There were 2 that failed prior.

[2019-03-26 01:50] kalungcheng opened #27982 "License requirement on Azure AD for "Workday to Active Directory User Provisioning" and "Workday Writeback" apps"
I am a bit confused by one of the prerequisites, A valid Azure AD Premium P1 in the Tutorial (https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/workday-inbound-tutorial#planning-your-deployment).
Is that mean the Azure AD admin account for configuring the "Workday to Azure AD User Provisioning" and "Workday Writeback" apps require an Azure AD P1, not every user account to be provis

[2019-03-26 01:53] n0ttsweet commented on #27960
I was informed that the latest powershell module uses the "Az" in commands to replace "AzureRm"
So I updated my module and remove AzureRm.
To my dismay, there are NO AzFrontDoor commands.
PS C:\WINDOWS\system32> New-AzFr (Then Tab, yields nothing)

It does appear that the ResourceGroupName issue was addressed, but not the new Module lacking frontdoor commands, nor the "$geoPolicy = New-AzureRmFron

[2019-03-26 02:00] saikovvuri opened #27984 "File upload metering example clarification"
Hello, in the "file upload" section, documentation say it is metered in 4kb increments. However the example has a 10 MB file which will evaluate to 1024/4 * 10 = 2560 messages
Where as the documentation says it will get billed as  2 messages.

Please clarify.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c24f

[2019-03-26 02:15] wukun2015 opened #27986 "Access violation upon RecognitionWithFile session's stop"
Hello,

When i run sample code section “RecognitionWithFile" w/ sample audio "whatstheweatherlike.wav", it always shows "The thread 0x13b4 has exited with code 0 (0x0). Exception thrown at 0x00007FF97DC90E0B (msvcp140d.dll) in samples.exe: 0xC0000005: Access violation reading location 0x0000000000000050.
Unhandled exception thrown: read access violation.
**mtx** was 0x50.".

Attached link is calls

[2019-03-26 02:17] femsulu commented on #27695
@bwren can you confirm ?

[2019-03-26 02:17] samudravijay opened #27987 "On-prem Hyper-v VM to extended replica in Azure?"
Is it possible to use this approach to extend replication to Azure?
In our use case, we would like to keep a local replica on another Hyper-v host for faster recovery, and use extended replica to be used for off-site DR in Azure.
Since no reverse replication is possible from extended replica, what are the options to fail back over to on-prem hyper-v?

---
#### Document Details

⚠ *Do not edit this

[2019-03-26 02:28] johnnylambc123 opened #27989 "The CICD automatic deployment create issue on the UX experience on deleted link connection"
I was following this instruction but there is a problem.   Given I have Dev -&gt; UAT -&gt; PROD.   If I am in Dev and I deleted some obsolete link service, after the CICD,  the code and binary will be running in UAT ADF factory using above approach.    However, if you do a publish from portal from UAT ADF, the whole UI experience is broken.   The UI has some logic that try to look for the previou

[2019-03-26 02:35] smcal75 opened #27990 "Duplicate rows"
In table showing the Write Consistency Mapping between Azure Cosmos DB and Cassandra: What's the difference between row 2 & 5?
Both show EACH_QUORUM	Strong	Linearizability
Similar problem with row 3 & 6, 4 & 7, 5 & 8 etc

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac149cc8-9751-81aa-98b1-17d6b383ce50
* Version Indep

[2019-03-26 02:50] BhargaviAnnadevara-MSFT commented on #27981
@tsrob50 Thanks for the feedback! We're investigating this and will get back to you shortly.

[2019-03-26 02:53] BhargaviAnnadevara-MSFT commented on #27987
@samudravijay In order to best address your question with the right team, could you provide us with the URL of the MS Doc that you were following, if any?

[2019-03-26 02:56] #18157 closed

[2019-03-26 02:57] #19821 closed

[2019-03-26 02:57] #20971 closed

[2019-03-26 02:57] #21165 closed

[2019-03-26 02:57] #21382 closed

[2019-03-26 02:58] #24844 closed

[2019-03-26 02:58] #24916 closed

[2019-03-26 02:58] #25338 closed

[2019-03-26 02:58] #25380 closed

[2019-03-26 02:58] #25813 closed

[2019-03-26 03:02] samudravijay commented on #27987
<https://docs.microsoft.com/en-us/azure/site-recovery/hyper-v-azure-tutorial>https://docs.microsoft.com/en-us/azure/site-recovery/hyper-v-azure-tutorial

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: BhargaviAnnadevara-MSFT <notifications@github.com>
Sent: Monday, March 25, 2019 10:54:01 PM
To: MicrosoftDocs/azure-docs
Cc: Samudra Vijay; Mention
Subject: Re

[2019-03-26 03:22] jmprieur commented on #27780
@nelfer : this should work on linux
We have a tutorial here: https://github.com/Azure-Samples/ms-identity-aspnetcore-webapp-tutorial

and make sure that the deployment URIs are also registered for your app.
https://user-images.githubusercontent.com/47346772/54819657-9a716580-4cc2-11e9-88f0-784481c4d484.png

[2019-03-26 03:26] cmmdesai commented on #27982
@kalungcheng Thanks for reaching out and sharing your question. Here is the clarification regarding the licensing pre-requisite: To use the Workday provisioning apps, every user account in Azure AD requires a valid AAD Premium P1 license.

[2019-03-26 03:26] Mike-Crowley opened #27992 "CERT_SYSTEM_STORE_LOCAL_MACHINE should CERT_SYSTEM_STORE_CURRENT_USER be in step 9?"
In step 9 at the end of the "operational security of the authentication agents" it says that subsequent renewals are placed in the local machine certificate store, whereas the previous steps just finished explaining that this wasn't possible due to reduced operational permissions. I think step 9 means to say its in the user store, not local machine.

---
#### Document Details

⚠ *Do not edit this

[2019-03-26 03:30] kobulloc-MSFT commented on #27964
@alexkarcher-msft Thank you very much for the feedback!  We're assigning this to the content author so they can update the documentation accordingly.

[2019-03-26 03:33] Know1 commented on #27745
I was having the same the same issue until I realised it wanted to join to the local AD Domain
Our AD Domain is (for example) CONTOSO.LOCAL aka CONTOSO\ this syncs to our Azure AD as CONTOSO.COM

So I changed the AD Domain join UPN to admin@contoso.local and bingo it now works.

[2019-03-26 03:38] CHEEKATLAPRADEEP-MSFT commented on #27976
@KeiroKamioka0000 RBAC role is not necessary for Azure Analysis Services Admin.
**Note:** You can add guest users as a Azure Analysis Services Admin without any RBAC permissions.
Hope this helps.

[2019-03-26 03:46] BhargaviAnnadevara-MSFT commented on #27987
@samudravijay Thank you for the response! I've routed this to the appropriate Team to investigate and update.

[2019-03-26 03:50] liydu commented on #27931
@cartesiosson , thanks for your feedback. These warnings are due to the flag we set by default is in verbose mode. We will update to hide them by default.

[2019-03-26 04:17] KalyanChanumolu-MSFT commented on #27990
Thank you for letting us know.
This issue is being assigned to the content author to evaluate and update as appropriate. 

[2019-03-26 04:19] RohitMungi-MSFT commented on #27986
@wukun2015 Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-03-26 04:29] shashishailaj commented on #27982
@kalungcheng Thank you for your query. I hope the clarification provided by @cmmdesai should help you . Please let us know in case you have any further queries. We will close this issue now . Should you have any further query , please tag me to your reply and we will be happy to continue the conversation.

[2019-03-26 04:29] #27982 closed

[2019-03-26 04:32] AshokPeddakotla-MSFT commented on #27984
@saikovvuri Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-26 04:36] shashishailaj commented on #27992
@Mike-Crowley Thank you for your query . We will investigate and update this thread .

[2019-03-26 04:39] msrini-MSFT commented on #27794
@Jothi3125 , I will go ahead and close this thread. If you have any difficulty while configuring Custom SSL policy, you can tag me and respond. I will reopen and work on this issue.

[2019-03-26 04:39] #27794 closed

[2019-03-26 04:40] msrini-MSFT commented on #27916
@georgievaja , Any update on this issue?

[2019-03-26 04:55] SumanthMarigowda-MSFT commented on #27901
@roygara Kindly add your comments on the above mentioned query

[2019-03-26 05:02] mgblythe commented on #27765
@imeya - I assume your last comment was for @MGoedtel

[2019-03-26 05:10] imeya commented on #27765
@mgblythe , ah , thank you. I made a mistake.

[2019-03-26 05:10] msrini-MSFT commented on #27960
@n0ttsweet ,Can you go ahead and run the below PowerShell command to install Azure Front door module?

Install-Module -Name Az.FrontDoor -RequiredVersion 0.6.1

Once this command is successfully completed, close the powershell window and reopen it. You will see the commands displaying.

[2019-03-26 05:12] Mike-Crowley opened #28001 "Get-AzureADSSOStatus returns JSON data"
Minor request, but the steps that mention Get-AzureADSSOStatus would be better if they were: Get-AzureADSSOStatus | ConvertFrom-Json

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9eb97eff-d72e-ffa6-1365-5419e93ed82a
* Version Independent ID: 5c8b677b-f4cd-0bb5-c7d6-9b1ef903dad4
* Content: [Azure AD Connect: Seamless S

[2019-03-26 05:14] #27971 closed

[2019-03-26 05:23] KeiroKamioka0000 opened #28003 "Regarding Maintenance Time"
Hi, when assigning the time for the update, do I have to consider the time for the Reboot?
I believe some of update will require multiple reboot.

Maintenance window	Number of minutes set for updates. The value can't be less than 30 minutes and no more than 6 hours

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db47901

[2019-03-26 05:33] surajmb commented on #24475
Hi @SamirFarhat , the document has been updated to include client_ip and cookie_name variables. Please let us know if you have any concerns.

[2019-03-26 05:40] sebastianmaas commented on #27791
@Easton22 the tenant name you need to provide is the tenant name of the WVD tenant. So it can be another one.

[2019-03-26 05:41] SuryaTejaJosyula opened #28006 "Relevance of this document for Online Migration Automation"
Hi, I have recently worked with a client for automating Data Migration from On-prem to Azure SQL Managed Instance through Online Migration. The Commandlets were recently released for public us after I raised a request to the team. So, we can say the Online Migration using Powershell cmdlets into Azure MI is pretty new.
This document will still hold relevant except some changes for the Cmdlets. Are

[2019-03-26 05:43] joshua-j-morley opened #28007 "Tutorials in Python & Scala"
As much as i love the tutorials are scala intensive, im in a new role where the rest of the team only use python. Are you able to upload all tutorials in both python and spark, and allow viewers to select their language?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4137b0cc-898b-b25c-6321-fe98f22f803d
* Version Indep

[2019-03-26 05:52] SnehaAgrawal-MSFT commented on #27893
@Leon99 If I understood right, you are using same actions for App Service on linux and Web App for Containers. For containers you can follow steps [use managed identities with Azure Container Instances](https://docs.microsoft.com/en-au/azure/container-instances/container-instances-managed-identity?context=azure/active-directory/managed-identities-azure-resources/context/msi-context)

[2019-03-26 06:09] PramodValavala-MSFT commented on #27970
@Blackbaud-ChrisBlythe You would have to enable [Diagnostic Logs](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-diagnostic-logs) on your Service Bus resource and should then be able to access metrics from Logic Analytics.

You can then query all the metrics like this
[code]

[2019-03-26 06:14] CHEEKATLAPRADEEP-MSFT commented on #27989
@johnnylambc123 Thanks for the feedback! I have assigned the issue to the content author to review further.
@gauravmalhot Could you please look into this issue?

[2019-03-26 06:16] CHEEKATLAPRADEEP-MSFT commented on #28007
@joshua-j-morley Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-03-26 06:28] yeese opened #28009 "Restriction when associating an Azure subscription to an Azure tenant in different country/region"
Can I associate an Azure subscription under EA/MPSA/CSP signed in Singapore to a tenant in Europe, e.g. England?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da261ee4-3348-b520-a27c-98f9d9ef40cc
* Version Independent ID: 13d12189-ee46-8058-dd99-058adc69f1c5
* Content: [Add an existing Azure subscription to your tenan

[2019-03-26 06:39] vphadnav commented on #27898
I think I figured this out. It was due to an old soft-link to a "dotnet" program that was no longer functional (remnant from a previous install). Once this was removed, func init seems to behave properly.

[2019-03-26 06:41] #27898 closed

[2019-03-26 07:01] angoyal-msft commented on #27831
@garethjensen Thanks for your feedback. I have assigned this issue to content author for further investigation.
@rimman Could you please look at this issue.

[2019-03-26 07:30] marxxxx commented on #19489
@Mike-Ubezzi-MSFT Would love to do so but could you point me to an appropriate place? I think it's not really a docs issue.

[2019-03-26 07:51] msimecek commented on #27963
@MarileeTurscak-MSFT You might want to assign this to the proper content owner - @msmimart - not me ;)

[2019-03-26 08:06] georgievaja commented on #27916
Hi, so I tried to add it using powershell commands:

`$probe = Get-AzApplicationGatewayProbeConfig -ApplicationGateway $appgw3 -Name "probe-name"`
`$trustedRootGatewayTest = New-AzApplicationGatewayTrustedRootCertificate -Name "cert-name" -CertificateFile  <path-to-file>`

`Add-AzApplicationGatewayTrustedRootCertificate -ApplicationGateway $appgw3 -Name "cert-name" -CertificateFile  <path-to-file>

[2019-03-26 08:22] toddysm commented on #27658
@femsulu This is still an issue with documentation - it is incorrect! I would expect to close the issue when the documentation is properly fixed.

[2019-03-26 08:39] tisaud opened #28011 "Problems About the abnormal disappearance of anchor"
My Azure Spatial Anchor only exists two or three days,then they are lost(Cosmos DB),Can you help me Solve this problem ?thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5ab74c7-be94-69c4-04c9-312ed85213b7
* Version Independent ID: 2fd3427b-794e-e10e-3d7e-5950647288d3
* Content: [Tutorial - Sharing across sessions

[2019-03-26 08:43] msrini-MSFT commented on #27916
@georgievaja , Can you remove -PickhostnamefromBackendAddress switch and use -Hostname "FQDN" and try again?

[2019-03-26 08:50] ggailey777 commented on #17213
#please-close

[2019-03-26 08:58] marxxxx commented on #26228
@KalyanChanumolu-MSFT Could you have a look at this error? https://github.com/MicrosoftDocs/azure-docs/issues/19489#issuecomment-475580593
To me it didn't work the way it was suggested in the samples you provided.

[2019-03-26 09:05] PanosPeriorellis commented on #27952
addressed the raised PR. consider this closed

[2019-03-26 09:08] KetanChawda-MSFT commented on #27894
@rizwaans Any update on this?

[2019-03-26 09:08] billgatesfan opened #28012 ""client_secret" not needed in the ROPC POST request example (v2-oauth-ropc.md)"
Hi, in your example with POST request, you have included the "client_secret" parameter (&client_secret=wkubdywbc2894u...), but later in the document, you do not use it.

AFAIK, ROPC requests do not need a "client_secret" parameter, so there was probably a copy/paste mistake from your side ;-).

Thx!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-03-26 09:14] guillaumeDMSFT opened #28013 "Prefer use UUID instead of logical volume path in /etc/fstab"
Hi,
recommendation is to use UUID instead of logical path n /etc/fstab.
UUID can be found by running blkid and output would be:

/dev/mapper/data--vg01-data--lv01: UUID="c726ed0c-918e-4558-b6a6-2f3fd1676247" TYPE="ext4"

Can you update the doc with this ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b03c95d3-f350-f63

[2019-03-26 09:15] tariqjaber opened #28014 "Required URLs update"
Hello team,
I believe the URLs must be updated to include "*." to become:
*.passwordreset.microsoftonline.com
*.servicebus.windows.net

To reflect what is documented on "Office 365 URLs and IP address ranges" (Link bellow) must be opened.
*.servicebus.windows.net is listed as required

Ref: https://docs.microsoft.com/en-us/office365/enterprise/urls-and-ip-address-ranges?redirectSourcePath=%252fart

[2019-03-26 09:29] georgievaja commented on #27916
still getting:

[2019-03-26 09:29] #17213 closed

[2019-03-26 09:31] Leon99 commented on #27893
Correct

What I see on that page is that to use an assigned identity with a container I need to manually retrieve an access token and, again, manually, include it in the request to the key vault. Is that right? If yes, this is precisely a kind of note that I would like to see on this page next to "Managed identity support for App Service on Linux and Web App for Containers is currently in preview"

[2019-03-26 09:47] Nimleth opened #28015 "Negative caller filter"
Is it possible to use the "Event initiated by" field to generate alerts if the caller is anybody but the id you put in here? So Event initiated by: !(example@contosos.com) or Event initiated by: NOT(example@contosos.com)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b5848cb-e266-6235-76c3-7b171d43bc8a
* Version Indep

[2019-03-26 09:53] msrini-MSFT commented on #27916
It does works perfectly for me.

Here is the script that I used:

$appgw3=Get-AzApplicationGateway -Name "YYYYYYY" -ResourceGroupName "XXXXXX"
Add-AzApplicationGatewayTrustedRootCertificate -ApplicationGateway $appgw3 -Name "cert-name" -CertificateFile "C:\Users\msrini\Documents\certificates\root.cer"
$trustedRootGatewayTest=Get-AzApplicationGatewayTrustedRootCertificate -Name "cert-name" -Applica

[2019-03-26 09:55] DixitArora-MSFT commented on #27810
@markafox   For Azure ADB2C I believe you need to go to Application registrations and create the service principal and then use it . For the confirmation and update the doc, I have assigned this to content author to review and update as appropriate.

[2019-03-26 09:57] Mike-tech opened #28017 "Logic App with Hybrid Connection"
Hello there

I would like to know if I can connect Logic Apps to an internal system using Hybrid Connection through a connector. So would the hybrid connection shows up within the gateway dropdown in the screenshot below?

I know you can use data gateway a connector, but is Hybrid connection only accessible through .net code in Logic Apps?

![Connector](https://user-images.githubusercontent.com/21

[2019-03-26 09:59] DixitArora-MSFT commented on #27824
@rahulvmarathe Just following up here... Hope my previous comment helps.

[2019-03-26 10:01] tiholm commented on #27904
I implemented Terraform configuration by these instructions and got all Azure Resources running. When call public ip via http in a browser, response is

`502 Bad Gateway nginx`

containing response http headers as following:

[code]

Application Gateway Logs say following,

[code]

kubectl says following

[code]
[code]

Is nginx response from application gateway ingress? Is this expected result? S

[2019-03-26 10:10] jakaruna-MSFT commented on #27905
@tiholm This documentation describes about setting up the Application gateway as the ingress for AKS using `Terraform`.
The github repo includes the regular installation process. I think we can add a note in this doc which suggests that the users which are looking for other modes of installation can go to the github.

I have assigned this issue to the content author to investigate further and upda

[2019-03-26 10:11] georgievaja commented on #27916
Used same command as you did (with probe), still same result.
Btw you are not doing the same as me, as I do not see any custom probe in your http setting.

[2019-03-26 10:17] RohitMungi-MSFT commented on #27986
@wukun2015 I believe the [quickstart ](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/quickstart-cpp-windows) uses input from microphone and it works as expected. Here is a screen shot of the test i performed.

![image](https://user-images.githubusercontent.com/46958063/54988421-68bb1000-4fdc-11e9-9cf1-924787897293.png)

The issue that you encountered might be a issue in

[2019-03-26 10:22] SadiqhAhmed-MSFT commented on #28015
@Nimleth Thanks for the comment! We will check on your query and get back to you soon.

[2019-03-26 10:24] SumanthMarigowda-MSFT commented on #27872
@lesterw1  Just for clarification:  Have you referred to the suggestion mentioned in the [GitHub ](https://github.com/MicrosoftDocs/azure-docs/issues/25674)Link

[2019-03-26 10:25] msrini-MSFT commented on #27916
Can you try this script?

$appgw3=Get-AzApplicationGateway -Name "Name" -ResourceGroupName "RG"
$probe = Get-AzApplicationGatewayProbeConfig -ApplicationGateway $appgw3 -Name "probe-name"
Add-AzApplicationGatewayTrustedRootCertificate -ApplicationGateway $appgw3 -Name "cert-name" -CertificateFile <path-to-file>
$trustedRootGatewayTest=Get-AzApplicationGatewayTrustedRootCertificate -Name "cert-name

[2019-03-26 10:26] SadiqhAhmed-MSFT commented on #28003
@KeiroKamioka0000 Thanks for the question! @georgewallace To share his insights on this.

[2019-03-26 10:29] dpserfaty opened #28018 "Is this available only in Data Factory V1?"
Hello!

I cannot find the option to do this and by the appearance it looks that they are working with Data Factory V1. Nowadays I am working with the V2 and this one has its own monitoring but not as complete as the logs that your showing here.

I can check how many MB, files and rows were passed in an specific time period that is show after doing a lot of clicking. But I would like to know if the

[2019-03-26 10:39] jakaruna-MSFT commented on #27904
@tiholm After the successful setup, you should have a pod called "kubernetes-ingress" running in default namespace(If you didn't customize the namespace.)
I will try this and update you with more information.

[2019-03-26 10:45] Anmolgan81 opened #28019 "How can I resize a cluster from D2sv3 and D4sv3?"
Is there any way to increase the size of the cluster after a cluster has finished building?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c1c2788-a209-6916-c7bf-fe8c6e0b6b8c
* Version Independent ID: 832bd727-e03d-5f2a-93a9-04c9bfcb4f82
* Content: [Manage Apache Hadoop clusters in HDInsight using Azure portal](https:

[2019-03-26 10:48] tiholm commented on #27904
Okay, thanks for this. I did not notice any that kind of pod.

Here is configuration I have used:

[code]

[2019-03-26 10:50] Houuse commented on #5626
any update here? how to acquire an access token then if there is no key for the native app!

[2019-03-26 10:51] PoojaPDesai opened #28020 "requests.exceptions.HTTPError: 400 Client Error: Bad Request for url: https://westcentralus.api.cognitive.microsoft.com/vision/v2.0/read/core/asyncBatchAnalyze?mode=Handwritten"
I get this error, how to solve it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f12a77c5-fc42-c179-5af7-6c7b2197de28
* Version Independent ID: 2db8d484-530e-d507-2842-c196a5e55c9a
* Content: [What is the Computer Vision API? - Computer Vision](https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/

[2019-03-26 10:52] BhargaviAnnadevara-MSFT commented on #28017
@Mike-tech Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2019-03-26 10:53] KalyanChanumolu-MSFT commented on #26228
Do you mean ExecuteCrossPartitionQueryWithOrderBy method in the [code sample](https://github.com/Azure-Samples/azure-cosmos-table-dotnet-core-getting-started/blob/master/CosmosTableSamples/AdvancedSamples.cs) is not working for you?

Did you update your NuGet package Microsoft.Azure.Cosmos.Table to v1.0
I tried the code sample and OrderBy works for me.

[2019-03-26 10:53] seanperera commented on #24190
I am setting up the policy to for the API scope.  First I was setting up the policy for the product scope using ProductId but there was a change of the requirement and I seems to have not updated the comment.  The comment seems to be little misleading. 😃

[2019-03-26 11:05] KetanChawda-MSFT commented on #27921
@StingyJack All the function core tools command (func commands) should work in PowerShell. The one which is different is explicitly mentioned in the doc to create and activate python virtual environment as shown below.
![image](https://user-images.githubusercontent.com/28587628/54991931-06fea400-4fe4-11e9-87c3-ec33807c47d2.png)

To run the func commands you need to install `Azure Function Core Too

[2019-03-26 11:13] SaurabhSharma-MSFT commented on #27745
@tannersatch are you still having issues ?

[2019-03-26 11:20] tantingjun opened #28021 "EntityPath should be deleted"
when copy the Primary Connection String from SAS policy, it contains entity path inside the connection string, duplicate with queue name, should delete it.
for example:
"Endpoint=sb://{servicebus-name}.servicebus.windows.net/;SharedAccessKeyName=test-queue-sender;SharedAccessKey={SharedAccessKey}=;EntityPath=test-queue";
need change to:
"Endpoint=sb://{servicebus-name}.servicebus.windows.net/;Shar

[2019-03-26 11:25] StingyJack commented on #27921
thanks, thats good to know. perhaps that can be noted somehow on the code snippets, instead of stating only "bash" it could list something more generic like "cli"?

[2019-03-26 11:32] RohitMungi-MSFT commented on #28020
@PoojaPDesai Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-03-26 11:36] bunceg commented on #18516
@HeidiSteen thanks for this - the only improvement I can suggest would be to make it more explicit in the intra-field-filtering section by adding an example where you talk about example operators, e.g. :

- business_title:(senior NOT junior)
- state:("New York" AND "New Jersey")
- business_title:(senior NOT junior) AND posting_type:external

The reason (and I'm being picky here) is that people spe

[2019-03-26 11:46] georgievaja commented on #27916
Well yes, I already did, It is the same as you sent before.
Anyway, I think the problem is when I try to add new http setting with trustedroot certificate while there is another http setting already existing without it.
(eventhough the script fails in the end, new failed http setting is visible)

This is the error I see in portal after running my script:

![screen1](https://user-images.githubuserc

[2019-03-26 11:48] fineospaul opened #28023 "Specified AadTenantId does not exist in AAD"
Following the instructions (as a global admin) I am getting AadTenantId does not exist in AAD when using the correct AadTenantId and Subscription.

Equally I am getting a permissions error when doing Get-RdsDiagnosticActivities : User is not authorized to query the management service.

Open to suggestions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-03-26 11:50] jay98014 commented on #27415
Fix is now live.

[2019-03-26 11:51] msrini-MSFT commented on #27916
@georgievaja , If you are seeing a Failed state, that means any operation that you perform in Application gateway will fail. In order to bring the Application gateway back into succeeding state, you need to redo the operation which made this gateway into failed state.

This will require some deeper analysis. Can you please file a support request @
https://aka.ms/azsupt? If you do not have access t

[2019-03-26 12:02] georgievaja commented on #27916
Ok, I created a support request

[2019-03-26 12:03] msrini-MSFT commented on #27916
Thank you @georgievaja , I will go ahead and close this issue. Please let me know if you have any further questions.

[2019-03-26 12:03] #27916 closed

[2019-03-26 12:04] RohitMungi-MSFT commented on #28020
@PoojaPDesai This looks like an issue in the url that is passed in the body to the API. It could be the request is not properly formed. Could you please check if your url is correctly formed like below in the body of the request?

{"url":"https://onlinejpgtools.com/images/examples-onlinejpgtools/sunflower.jpg"}

Here is a successful request and response that i used for an image from the [API refer

[2019-03-26 12:06] jakaruna-MSFT commented on #27904
@tiholm I went through the document. It creates the App gateway and AKS and creates  service principles and configures proper role.
But sadly it didn't provision the ingress controller in the kubernetes.

we need to follow this [document ](https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/install-existing.md#install-ingress-controller-as-a-helm-chart) to provision th

[2019-03-26 12:15] Mike-tech commented on #28017
@BhargaviAnnadevara-MSFT I'm not following any particular document. But this is a link that talks about using Data gateway:
[https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-gateway-connection](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-gateway-connection)

[2019-03-26 12:17] dreic commented on #27876
I found the solution, content type header differs so for Linux Zip deploy it has to be `Content-Type: application/x-www-form-urlencoded`

[2019-03-26 12:23] SumanthMarigowda-MSFT commented on #27895
@Syamala2604 It’s going to be updated soon, You may keep a track on Azure [Updates](https://azure.microsoft.com/en-in/updates/)

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issu

[2019-03-26 12:24] #27895 closed

[2019-03-26 12:41] BhargaviAnnadevara-MSFT commented on #28017
@Mike-tech Ok, Thank you for the response! I've routed this to the appropriate Team to investigate and update.

[2019-03-26 12:49] jjindrich commented on #27827
I tried to use, I can import module. But than when I try to run "Add-RdsAccount -DeploymentUrl "https://rdbroker.wvd.microsoft.com"" I got error:
Add-RdsAccount : One or more errors occurred. (An invalid request URI was provided. The request URI must either be an absolute URI or BaseAddress must be set.)
At line:1 char:1
+ Add-RdsAccount -DeploymentUrl "https://rdbroker.wvd.microsoft.com"
+ ~~~~~~

[2019-03-26 12:51] fisklask commented on #24670
This one, as well as tons of other pre-checks on different subjects, must to be done prior to any customer will open up VM management page.
Why the hell am I presented with SR option when I can't use it?

I have lost the whole working day trying to understand what is going on and I did eventually end up noticing that note about Windows only VMs on that single page.
This is the worst approach to th

[2019-03-26 12:55] BhargaviAnnadevara-MSFT commented on #28011
@tisaud Thanks for the question! We're investigating this and will get back to you shortly.

[2019-03-26 12:57] mysim1 commented on #27048
Hi guys! I've researched and solved this. It appears the code example was meant for ADAL v2. You are most likely using a later version of ADAL. To solve, change the AcquireToken method invocation call in your script like this:

`$behavior = [Microsoft.IdentityModel.Clients.ActiveDirectory.PromptBehavior]::Auto
$platformParameters = New-Object "Microsoft.IdentityModel.Clients.ActiveDirectory.Platfo

[2019-03-26 12:57] BhargaviAnnadevara-MSFT commented on #28023
@fineospaul Thanks for the question! We're investigating this and will get back to you shortly.

[2019-03-26 13:00] SynapIoT commented on #27534
Hi,
I'm really looking forward to an answer to this question. I have been struggeling with this issue for the 10 days now, trying to get the sample to work with an x.509 certificate and Grouped Enrollment.

So listening in on this thread!

Thanks,
Peter

[2019-03-26 13:09] mchiri opened #28024 "Hybrid Azure AD join (on-premises AD) using Windows Autopilot user-driven mode"
Hello,
I have read that it is now possible to hybrid Azure AD join (on-premises AD) using Windows Autopilot user-driven mode (https://techcommunity.microsoft.com/t5/Windows-IT-Pro-Blog/Windows-Autopilot-Hybrid-Azure-AD-join-and-automatic/ba-p/286126).
Thus "In the Windows out-of-box experience, joining an on-premises Active Directory (AD) domain is not supported" should reflect this change.
Thank

[2019-03-26 13:16] nareshynn opened #28025 "migrating from elastic search to azure search"
Hi,

let me know is there any possible way to migrate from elastic search to azure search. it's urgent requirement.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b04b3531-592d-c859-e627-d6b8f7883498
* Version Independent ID: fbcd4dfa-090f-01ad-0847-532c9bc43a4e
* Content: [What is Azure Search service - Azure Search](

[2019-03-26 13:21] shashishailaj commented on #28001
@Mike-Crowley Thank you for your feedback . We will investigate and update this thread.

[2019-03-26 13:22] JohnD76 opened #28026 "Please re-write: " Traffic never goes out to Internet a high performance is delivered via Express Route circuits.""
Several words are missing from the above sentence. Please re-write to help people understand that you are trying to say.

EG:

"Traffic never goes out to the Internet. High performance on-premises connectivity is delivered via Express Route circuits."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37c1f253-44c2-bd07-4c

[2019-03-26 13:26] shashishailaj commented on #27749
@mosharafMS We are engaging the author to address this .

[2019-03-26 13:26] PramodValavala-MSFT commented on #27659
@dhmorrison Just following up here... Hope my previous comment clears things up.

[2019-03-26 13:26] shashishailaj commented on #27749
@rolyon Could you please address this request for document enhancement ?

[2019-03-26 13:32] tiholm commented on #27904
Thanks. Okay, I will try with Helm tomorrow. I suppose I do not need to rebuild whole cluster for that?

[2019-03-26 13:37] shashishailaj commented on #27593
@Paul-Hadfield Currently the individual flows are available and at this point , they will remain available for near future as well. However in case we plan to change anything with the recommended approach , the documentation will be updated . You can keep a track of B2C service component using the AAD RSS feed URL -- https://docs.microsoft.com/api/search/rss?search=%22release+notes+for+azure+AD%22

[2019-03-26 13:37] #27593 closed

[2019-03-26 13:38] naylor19 opened #28027 "Option Set/Picklist missing from query results"
Not sure if this is a known issues but I'm unable to retrieve option sets to a D365 data set in the Azure Data factory?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 304d4c46-c0ac-05c9-15eb-d8b677ec5e90
* Version Independent ID: 36a79d36-2b72-2722-68e5-e167f9a2cd41
* Content: [Copy data from and to Dynamics CRM or Dyn

[2019-03-26 13:41] marvin06 commented on #27715
thanks, I recognized it - could not find the zooming. That means zooming is support using the autoTriggerBrushContextMenu by plotting out a new chart?

[2019-03-26 13:43] shashishailaj commented on #27770
Thank you for your contribution. Your understanding is correct . We need to make sure that the currently logged in session is from a work account and it has related licenses if a work account is testing virtual desktops. And if you are trying to provide an eternal user access to the virtual desktop published in your directory , you would need to first add the external user as a MSA (microsoft Acco

[2019-03-26 13:43] #27770 closed

[2019-03-26 13:50] CeciAc opened #28028 "Wrong term: Project Columns -->> Select Columns in Dataset"
@wonhyukc commented on [Mon Mar 25 2019](https://github.com/MicrosoftDocs/azure-docs.ko-kr/issues/330)

To do this, insert a Project Columns module between Score Model and the Web service output to eliminate columns you don't want the web service to return.

&gt;&gt;&gt;

To do this, insert a Select Columns in Dataset module between Score Model and the Web service output to eliminate columns you d

[2019-03-26 13:51] CeciAc commented on #28028
Hi team,
The contributor is making a suggestion on the original documentation
best

[2019-03-26 13:53] SadiqhAhmed-MSFT commented on #27842
@DCtheGeek Can you share any information around Azure Blueprint limitations?

[2019-03-26 13:54] Bejit commented on #26752
I have to agree 100%. You cannot do manually change before releasing ADF functionality. I actively advise customers against Azure Data Factory for this reason and will not be implementing it in future projects until this gets resolved. It feels very alpha/beta and not fit for enterprise businesses.

PowerShell is NOT an option. A million things can go wrong because someone made a typo. Fix this AS

[2019-03-26 13:57] SadiqhAhmed-MSFT commented on #27671
@marroema We will now proceed to close this issue. Feel free to reach out to us if you've any further questions.

[2019-03-26 13:57] #27671 closed

[2019-03-26 13:59] shashishailaj commented on #27781
@Heidilohr Could you please look into this issue?

[2019-03-26 13:59] rothja commented on #27842
@SebastianSchuetze Thanks for the question. I manage the limits article, but I'll need the help of a subject matter expert like @DCtheGeek to help provide an answer (or someone else in the blueprints area). We'll try to find the right person to help. Thanks!

[2019-03-26 14:00] jimrobinson opened #28029 "DataLakeStoreAccountInfo vs DataLakeStoreAccountInformation?"
The example here states we should import

[code]

but this throws an error that DataLakeStoreAccountInfo does not exist:

[code]

I see that there *is* a DataLakeStoreAccountInformation class, and changing the line to

[code]

allows the script to compile.  Should the tutorial here be using DataLakeStoreAccountInformation instead of DataLakeStoreAccountInfo?

---
#### Document Details

⚠ *Do not e

[2019-03-26 14:01] Cepheus0815 opened #28030 "2nd Table level RBAC example looks wrong"
In the second example, the user should only have access to SecurityBaseline. It looks like that Actions and NotActions are reversed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c62e3725-b0dc-5ce5-c049-70fd3ae106e3
* Version Independent ID: 9c0c5ef7-bd49-cb39-ca10-d98386004975
* Content: [Manage Log Analytics workspa

[2019-03-26 14:02] SadiqhAhmed-MSFT commented on #27639
@imeya Closing this issue for now. Reach out to us if you need further help on this.

[2019-03-26 14:02] #27639 closed

[2019-03-26 14:04] DCtheGeek commented on #27842
I'm validating the answer with the PM and will get the answer asap.

@MicrosoftDocs/azure-cxp-triage #in-progress

[2019-03-26 14:07] mmisztal1980 commented on #13296
Is it possible to achieve the same thing using ARM?

[2019-03-26 14:07] SadiqhAhmed-MSFT commented on #28030
@Cepheus0815 Thanks for the comment! We have shared your feedback with the content owner to review further and update as appropriate.

[2019-03-26 14:09] shashishailaj commented on #28001
Thank you for your recomendation . We agree to your point , it will be better displayed with Get-AzureADSSOStatus | ConvertFrom-Json . I just tested it in my lab and got the following.

1. **Get-AzureADSSOStatus**

PS C:\Program Files\Microsoft Azure Active Directory Connect> New-AzureADSSOAuthenticationContext
PS C:\Program Files\Microsoft Azure Active Directory Connect> Get-AzureADSSOStatus
{"En

[2019-03-26 14:10] bertrandpons opened #28031 "How to retrieve variables set in pipeline with dynamic content feature ?"
Hello,

I need to retrieve a variable that I set and populate in my pipeline to be used later on in the workflow, thanks to dynamic content feature. Could you please tell me how to do that ?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76e31411-f1a2-710b-94c0-39acf9e7314b
* Version Independent ID: d5cefffe

[2019-03-26 14:14] sllewe opened #28032 "Force a Sync"
Is there anyway to force a sync yet? Having to wait 20 minutes for a password sync to complete on its own seems archaic. Especially when Azure AD Connect has support manual syncs for a long time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40de8209-c5b3-684c-05a7-1fb0082ae0f3
* Version Independent ID: c28d51c8-65a8-

[2019-03-26 14:14] shashishailaj commented on #27881
@Diwiton Thank you for pointing that out . Appreciate the contribution.

@AronT-TLV As explained by @Diwiton we confirm that the admin username is not allowed on the azure VMs by design because its one of the most common usernames used in brute force attacks. Once you change the username to anything else , you should not get the error. We will now close this issue. Should you have any query on thi

[2019-03-26 14:14] #27881 closed

[2019-03-26 14:14] DCtheGeek commented on #27707
@StarkCaptain Did the example I provide cover what you are looking for?  If not, can you clarify the ask and the comment about re-parsing?  Thanks.

@MicrosoftDocs/azure-cxp-triage still #in-progress

[2019-03-26 14:16] shashishailaj commented on #27837
@Allistairr We are assigning this issue to the author.

@Heidilohr Could you please check if we can enhance the thread with some Pre-requisites for the product.

[2019-03-26 14:22] shashishailaj commented on #27827
@Heidilohr Could you please look into this query and provide related clarification ?

[2019-03-26 14:22] tiholm commented on #27904
I did following

[code]

[code]

[code]

[2019-03-26 14:23] rkarlin commented on #25248
Hi @AllenVisser After extensive research, the dev team and product teams checked and this is not the cause for this issue. Heartbeat data is always sent and we use that to identify if  machine is reporting and monitored.

[2019-03-26 14:24] rkarlin commented on #25248
#please-close

[2019-03-26 14:28] mathieuisabel opened #28033 "Broken link"
Hi,
I've noticed broken link/missing ARM template in GitHub for the following:

Onboard a custom domain with custom SSL certificate (for HTTPS) for your Front Door

Mathieu

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea673aa4-1e06-c7a4-c86a-ab949e46394e
* Version Independent ID: 7fbe7485-538d-7c0e-d219-41ead79fb38f

[2019-03-26 14:34] shashishailaj commented on #27974
@greg-walrath This is going to be surely rolled out as per internal communication however timelines are not decided yet as it is still in active development . Once the preview comes out it will be advertised on the Azure AD release page.

https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/whats-new

We still recommend not to use it as it will be surely be deprecated at some point

[2019-03-26 14:34] #27974 closed

[2019-03-26 14:35] shashishailaj commented on #27773
@Heidilohr Could you please review this issue ?

[2019-03-26 14:38] shashishailaj commented on #27791
@Heidilohr Could you please assist with this issue?

[2019-03-26 14:44] craigshoemaker commented on #19674
The article is now updated with additional language to denote that the limit is calculated across containers.

[2019-03-26 14:45] craigshoemaker commented on #21130
The sample and article are now updated to feature a local `NullScope` class definition. Thanks for the input, @brettsam!

#please-close

[2019-03-26 14:45] colinrippeyfinarne commented on #27602
A follow up to the second issue:

"policy "B2C_1A_TRUSTFRAMEWORKEXTENSIONS" of tenant "mytenant.onmicrosoft.com".Policy "B2C_1A_TrustFrameworkExtensions" of tenant "mytenant.onmicrosoft.com"
makes a reference to ClaimType with id "socialIdpUserId" but neither the policy nor any of its base policies contain such an element."

I have found the following reference in the TrustFrameworkBase.xml file:

[2019-03-26 14:49] KetanChawda-MSFT commented on #21130
@JasonSingh We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-26 14:49] #21130 closed

[2019-03-26 14:50] HeidiSteen commented on #28025
@nareshynn There are no migration tools or instructions for this.  You would need to create a new index in Azure Search, push data/documents into the index, and write application code that sends queries and handles the response.  If the data you are indexing is an Azure data source, there is a good chance we have an indexer for it that can simplify data ingestion considerably.

[2019-03-26 14:52] KetanChawda-MSFT commented on #28026
@JohnD76 Thank you for providing feedback. We will review this and provide an update as appropriate.

[2019-03-26 14:55] KetanChawda-MSFT commented on #28021
@tantingjun Thank you for providing feedback. We will review this and provide an update as appropriate.

[2019-03-26 14:55] fpoe opened #28034 "Geo-restore for Managed Instance?"
In regards to managed instance, am I understanding this correctly that a geo-restore to another managed instance provisioned in another region can be performed.

Can the second region be provisioned separately at a later date?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18c9d161-a06b-6b68-8f54-c22fcc7088da
* Version

[2019-03-26 15:00] jomolesk commented on #27969
Thank you for the feedback. Fixed in PR #70884 in -pr repo. #please-close

[2019-03-26 15:02] meller opened #28035 "Sample project for .Net with SQL on app service needs a nugget dependency"
The sample project on this page:
https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-dotnet-sqldatabase

Only works if roslyn is installed.

I solved it with

Menu -> Tools -> NuGet Package Manager -> Package Manager Console
Shell: Install-Package Microsoft.CodeAnalysis

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-03-26 15:02] orgads opened #28036 "SpeechSDK: Event subscription and continuous recognition are not documented"
Hi,

I couldn't find any documentation that explains how to subscribe to events, and how to work with async continuous recognition with Node.JS.

Please add some details.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1a5561a-e55e-276b-84a3-b3c643a1d03c
* Version Independent ID: 77ba94f1-57cd-9aca-7850-ae32704ce257
*

[2019-03-26 15:03] digvijaymsft opened #28037 "'Availability Set' related slight information/detail is missing in this article."
To whomsoever it may concern;
I am an employee at Microsoft India and came across a scenario where customer intended to migrate their VMs from ASM to the ARM deployment model (I can share the case number, via an internal email thread). However, they noticed that the VMs that were NOT part of an Availability Set while being ASM resources, somehow got included in an AS once after they were migrated

[2019-03-26 15:03] digvijaymsft commented on #28037
My alias is droy@microsoft.com

[2019-03-26 15:10] shashishailaj commented on #28009
@yeese Thank you for your query . We will have this checked and update this thread.

[2019-03-26 15:13] shashishailaj commented on #28014
@tariqjaber We will have this reviewed and have this updated.

[2019-03-26 15:17] JasonWHowell commented on #28019
Hi @Anmolgan81
The VM sizes cannot be changed after the fact.  The Azure portal shows a lock icon on the VM sizes. The CLI and PowerShell scripts have a switch for the number of nodes (--target-instance-count), but not the VM size is not variable.
https://docs.microsoft.com/azure/hdinsight/hdinsight-scaling-best-practices

[2019-03-26 15:18] shashishailaj commented on #28024
@mchiri Thank you for your feedback . We will investigate and update this thread.

[2019-03-26 15:18] shashishailaj commented on #28032
@sllewe Thank you for your query . We will investigate and update further.

[2019-03-26 15:18] vferris commented on #24239
I want to throw my 2 cents in here as well regarding metrics for read only replicas. I would love to take advantage of this as a cost saving feature but currently cannot do so. We rely on metrics and Azure SQL Analytics for alerts and day over day statistics. Right now I don’t see how we can implement this feature with no visibility into the performance of it.

[2019-03-26 15:20] BhargaviAnnadevara-MSFT commented on #28006
@SuryaTejaJosyula Thank you for the feedback! I've routed this to the appropriate people to evaluate and update.

[2019-03-26 15:23] BhargaviAnnadevara-MSFT commented on #28027
@naylor19 Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2019-03-26 15:25] BhargaviAnnadevara-MSFT commented on #28031
@bertrandpons Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2019-03-26 15:27] CarlRabeler commented on #27599
Change phrasing in article re: data factory and polybase

You can do Polybase-like processing by using Azure Data Factory or running a Spark job in Azure Databricks with the Spark connector for SQL to pull data into a HyperScale database, where it can be queried.You can do Polybase-like processing by using Azure Data Factory or running a Spark job in Azure Databricks with the Spark connector for S

[2019-03-26 15:28] JasonWHowell commented on #28019
#please-close
Please let us know in case you have any further questions. We will close this issue now . Should you have any further comments, we will be happy to continue the conversation. Thanks, Jason

[2019-03-26 15:29] BhargaviAnnadevara-MSFT commented on #28035
@meller Thanks for bringing this to our attention! I've assigned this issue to the content author to evaluate and update as appropriate.

[2019-03-26 15:29] CarlRabeler commented on #27599
@Mike-Ubezzi-MSFT please close

[2019-03-26 15:31] nishankgu commented on #25451
@aashishb is better suited to answer this. There was a limit of 10000 models that can be registered, but we have removed this limitation now.

[2019-03-26 15:31] bertrandpons commented on #28031
@BhargaviAnnadevara-MSFT Thank you for your quick reply. I took a look into this doc: https://docs.microsoft.com/en-us/azure/data-factory/control-flow-expression-language-functions but I didn't find anything that fits my need.

[2019-03-26 15:32] naylor19 commented on #28027
https://docs.microsoft.com/en-us/azure/data-factory/connector-dynamics-crm-office-365

[2019-03-26 15:34] nishankgu commented on #27321
We cannot deploy AML service on on-prem infra with no access to the internet. We talk to our execution service which is in the cloud, likewise the storage account, and we need access to these from the on-prem infra.
We can investigate this more, but from my current understanding on-prem or Azure stack type offerings are not supported in Azure ML today.

[2019-03-26 15:35] gitathrun commented on #25451
@nishankgu Thanks for information, good to know there are't any limitation on model file numbers, but may I ask, is there any size limitation on each of the model files? such as 100MB or 1GB?

[2019-03-26 15:39] BhargaviAnnadevara-MSFT commented on #28033
@mathieuisabel Thank you for bringing this to our attention! I've assigned this issue to the content author to check and update as appropriate.

[2019-03-26 15:45] borys86 opened #28039 "powershell or any other automation tooling?"
Dear editor, could you specify if this can be scripted using powershell or any other language?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e20f5831-eb6b-93da-5ac8-4f5e7ae13984
* Version Independent ID: 0c49066b-8c38-78b9-2829-506dfdeee61b
* Content: [Manage access to Azure resources with Azure AD Privileged Identity

[2019-03-26 15:52] ShubhaVijayasarathy commented on #21105
#please-close

[2019-03-26 15:58] nareshynn commented on #28025
@HeidiSteen Thanks for quick reply. our hosts are located in azure vms around 100 clusters and having 5 nodes/cluster. please let me know is there any API's to push data/documents or any other methods.
If the data you are indexing is an Azure data source--What is this means.

[2019-03-26 16:07] ShubhaVijayasarathy commented on #27316
EH today supports Owner and Contributor. Not every role needs to be a Contributor. The article is talking about what roles are available and what that means for each role and is not targeted to mention just one.

#please-close

[2019-03-26 16:10] Sethu2488 opened #28040 "Price"
Is there any charge for using this feature of Management Solutions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61973322-29e9-e093-a0de-4d5f0fb7bdd5
* Version Independent ID: de7de6e3-d632-71d9-7c24-03f9cdc60443
* Content: [Build a management solution in Azure](https://docs.microsoft.com/en-us/azure/azure-monitor/in

[2019-03-26 16:11] OffColour opened #28041 "Header naming"
Not sure if this should be on the FAQ, but we've just run into the issue of headers being ignored due to them containing a period. It's only because we know the App Gateway is built on Nginx that we managed to find out was the root cause and had to rely on Nginx documentation to work this out.
I know you're pushing App Gateway as your own product, but when it's built on Nginx, you should at least

[2019-03-26 16:15] angie4u opened #28042 "Regarding to "Upload and tag images" sample code"
https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/python-tutorial#upload-and-tag-images
I think the sample code for uploading is little bit complicated for novice developers.
Instead of using lambda function to get list of file, how about changing the code to use file I/O library to get list of files in current directory? It will be more easy to understand!

---
####

[2019-03-26 16:18] tamram commented on #27836
@SumanthMarigowda-MSFT - Please assign to @roygara.

[2019-03-26 16:18] tannersatch commented on #27745
Nope, deployment succeeded finally. Seems like I had quite the combination of all the issues mentioned above. Thanks to all who commented your solutions!

[2019-03-26 16:24] Saidevm commented on #27879
Thank you for reply. However it does support anymore with latest vs versions. If you add this note it will be really helpful.

Get Outlook for Android<https://aka.ms/ghei36>

From: CHEEKATLAPRADEEP-MSFT
Sent: Monday, 25 March, 1:29 PM
Subject: Re: [MicrosoftDocs/azure-docs] Data Factory Project Template no more available in VS2017 (#27879)
To: MicrosoftDocs/azure-docs
Cc: Saidevm, Mention

@Saidev

[2019-03-26 16:24] jeffhebrank opened #28043 "Parameter required attributes"
I switched to code view in my logic app in the azure portal and tried to add a parameter as described above.
"parameters": {
            "MyFunctionKey": {
                "type": "securestring"
            }
        }

I wasn't able to save the logic app because it failed schema validation with an error about "The value for the workflow parameter was not provided". I solved this error by adding a

[2019-03-26 16:27] #27926 closed

[2019-03-26 16:29] OffColour opened #28045 "Headers with period"
New issue just discovered. As this is built on Nginx, it ignores headers with a period in the name. V1 doesn't have this issue so I'm presuming the ignore_invalid_headers is turned off in V1 and turned on in V2.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faa5b8a2-11a1-6a2d-07cb-ffcf39643ed4
* Version Independent ID

[2019-03-26 16:37] dmarlow commented on #24239
You can get metrics, they're just not provided to you via the portal and come with all of the typical bells and whistles (like alerting, etc.). I've been looking at setting up some monitoring tools of my own since what Azure provides isn't sufficient anyways (like seeing the relative DTU utilization at the application/program level). If your monitoring tools connect using the `ApplicationIntent=Re

[2019-03-26 16:40] julieMSFT commented on #26213
@1dahoMi Hello, I have made the updates to the documentation and they should be reflected soon. Thank you again for bringing this to our attention.

[2019-03-26 16:41] julieMSFT commented on #26213
#70605 #9597
#please-close

[2019-03-26 16:45] mike-urnun-msft commented on #28043
Hi @jeffhebrank Thank you for your feedback! We will review and update as appropriate.

[2019-03-26 16:54] PsyhoLord opened #28046 "Broken Url"
In
Overview

This tutorial shows you how to use Azure Notification Hubs to send push notifications to a Xamarin.Android application. You create a blank Xamarin.Android app that receives push notifications by using Firebase Cloud Messaging (FCM). You use your notification hub to broadcast push notifications to all the devices running your app. The finished code is available in the &lt;BROKEN URL&gt

[2019-03-26 16:54] MicahMcKittrick-MSFT commented on #28037
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

CC @cynthn

[2019-03-26 16:54] MicahMcKittrick-MSFT commented on #28013
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

CC @cynthn

[2019-03-26 16:56] MicahMcKittrick-MSFT commented on #27979
Thanks @DavidBerg-MSFT

@KeiroKamioka0000 will close for now. Let us know if you have any further questions.

[2019-03-26 17:02] HeidiSteen commented on #28025
@nareshynn We have a .NET SDK and a REST API for all search and index operations.  I think you should start with the docs located with "What is Azure Search" to understand features, and then look at the REST API docs, and lastly .NET.  The REST API and .NET SDK have full parity, but the documentation for the REST API has more information.

Regarding Azure data sources -- I mean Azure SQL Database,

[2019-03-26 17:03] #27979 closed

[2019-03-26 17:05] BhargaviAnnadevara-MSFT commented on #28027
@naylor19 Thank you for the response! I've routed this to the appropriate Team to investigate and update.

[2019-03-26 17:05] SeanFeldman opened #28048 "Instrumentation key"
Reading ["My iKey is visible in my web page source" section](https://docs.microsoft.com/en-ca/azure/azure-monitor/app/troubleshoot-faq#my-ikey-is-visible-in-my-web-page-source) leaves me with multiple questions about considerations taken into compiling it rather than allowing instrumentation key.

&gt; This is common practice in monitoring solutions.

This is **not** a common practice for keys tha

[2019-03-26 17:05] BhargaviAnnadevara-MSFT commented on #28031
@bertrandpons Thank you for the response! I've routed this to the appropriate Team to investigate further and update.

[2019-03-26 17:10] wolfma61 commented on #27986
there is an issue in the sample for (3) - speech continuous recognition with file input
as you discovered ...

the problem is the timing / order of 'recognitionEnd.set_value()' in SessionStopped and Canceled.Connect

we are investigating a fix ....

[2019-03-26 17:11] QuickNS opened #28050 "dprep.Package doesn't exist in azureml-dataprep 1.1.0"
The very last step of this tutorial talks about serializing the Dataflow object using dprep.Package. This doesn't exist on the latest version of the SDK (installed today).

import os
file_path = os.path.join(os.getcwd(), "dflows.dprep")

package = dprep.Package([final_df])
package.save(file_path)

Results in:

AttributeError: module 'azureml.dataprep' has no attribute 'Package'

---
#### Document

[2019-03-26 17:16] sfarhand opened #28051 "No Support for Persian?!"
The list of supported languages is bizarre. You have Serbian with ~7 million speakers or Finnish with ~5 million speakers and you don't have Persian language with ~110 million speakers across at least 4 countries?!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 867c13a4-259b-5686-3208-9c335cc504c1
* Version Independent

[2019-03-26 17:16] Artnabaz commented on #27745
I got everything working :
- Realized i was missing some post-install on a freshly deployed AAD Domain Services (Vnet DNS, using another subnet for VM, etc..)
- I had pwd hash sync already running from AADConnect but it seems pwd sync from AAD to AAD Domain Services does not happen until pwd change (or full sync ?) from AADConnect. After changing pwd on local AD i was able to authenticate to AAD D

[2019-03-26 17:18] SaurabhSharma-MSFT commented on #27874
@jpeckham Glad to know that you are able to figure it out.  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-26 17:18] #27874 closed

[2019-03-26 17:19] j-martens commented on #27321
@nathansegers , thanks for your question. If no other questions, #please-close.

[2019-03-26 17:23] SaurabhSharma-MSFT commented on #27811
@sahilpnckr123 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-26 17:23] #27811 closed

[2019-03-26 17:25] MicahMcKittrick-MSFT commented on #24765
I am no longer seeing an issue after the latest release.

@nageshajab I will close but if you still have issues just let us know.

[2019-03-26 17:25] #24765 closed

[2019-03-26 17:25] SaurabhSharma-MSFT commented on #27808
@BradleyGlover93 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-26 17:25] #27808 closed

[2019-03-26 17:26] SaurabhSharma-MSFT commented on #27701
@charles-steinmetz We will now proceed to close this thread as we haven't heard back. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-26 17:26] #27701 closed

[2019-03-26 17:28] YutongTie-MSFT commented on #27619
@tulasim88 @diberry Hi team, do you have any insight of this topic? Is this related to the ranker updating and mitigation? Thank you.

[2019-03-26 17:32] prasanthijul30 opened #28052 "Broken Link"
the front page link for custom decision portal https://portal.ds.microsoft.com/ is not loading below is the link to the image ![image](https://user-images.githubusercontent.com/48961368/55019391-08af7400-4fb2-11e9-9d46-d6bcc8909a1e.png) can u update the link or let me know the correct URL for registering the app with custom decision service---

#### Document Details

⚠ *Do not edit this section. I

[2019-03-26 17:32] BryanTrach-MSFT commented on #28046
@PsyhoLord Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@jwargo We have assigned this to you since externally created PRs require doc author approval.

[2019-03-26 17:36] YutongTie-MSFT commented on #28036
@orgads Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-26 17:40] YutongTie-MSFT commented on #27321
@nathansegers
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-03-26 17:40] #27321 closed

[2019-03-26 17:43] Alberto-Vega-MSFT commented on #19714
@mcurko Just touching base in case you missed the message from @shparti-MSFT

[2019-03-26 17:43] nareshynn commented on #28025
@HeidiSteen Here my question is how we can push data/documents from elastic search to azure blob. from blob we can do index directly. i tested that.
we have 15TB of data in elastic search and need to migrate to azure search.

[2019-03-26 17:43] cogran opened #28053 "Public IP Subnet"
It should be added that Public IP addresses have an implicit /32 subnet. I could not find this documented in the VNET planning or Public IP addresses content pages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07cec477-f584-400f-889c-9a5403f34bad
* Version Independent ID: f777fdfd-2f5a-56b9-574f-ae6d2b19f130
* Conten

[2019-03-26 17:50] MarileeTurscak-MSFT commented on #28012
@billgatesfan
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-26 17:51] SaurabhSharma-MSFT commented on #28039
@borys86 Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-26 17:52] HeidiSteen commented on #28025
@nareshynn Could you send me an email with your contact info (my alias is heidist)? I can pass your contact info over to someone who can answer your migration questions with more authority.

[2019-03-26 17:54] stgeorgi commented on #27781
There isn't enough to understand the issue and root cause it...what application is being used...has the onboarding being completed..etc.

[2019-03-26 17:56] j-martens commented on #25542
@taranais thanks for your question. If you have no further follow-up, #please-close

[2019-03-26 17:56] stgeorgi commented on #28023
Where you able to create a WVD tenant? If no expected to get on Get-RdsDiagnosticActivities : User is not authorized to query the management service. As for the AadTenantId does not exist in AAD it implies lack of permissions

[2019-03-26 17:56] AjayKumar-MSFT commented on #27873
@Yegmorcar, Could you just confirm the section in the document/PUT operation you are having issues with? Kindly do post a screenshot after concealing any private details.
You have stated that you had followed the naming convention from an article, if you haven’t checked the following doc already so, kindly take a look at the following document for more details and review the configuration.
[Naming

[2019-03-26 17:57] stgeorgi commented on #27837
Not clear what the ask / issue is can you elaborate?

[2019-03-26 17:59] stgeorgi commented on #27827
@jjindrich Once you downloaded the zip file did you unblock it?

[2019-03-26 18:01] nareshynn commented on #28025
Email ID: naresh.ynn@outlook.com and phone number: +919150000479.
i have to face client tomorrow. Appreciate your quick response. Thanks

[2019-03-26 18:02] DMoonesinghe opened #28055 "Can articulate the difference between Sign In Risk Policy vs User Risk Policy"
No where in any of your documents do I see what is the difference between them.
Why would a admin want to configure:
a) User Risk Policy
b) Sign in User Policy

What does each policy do, that other won't do?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26558ba4-fafb-1a59-8423-464a1c82c6a7
* Version Independent ID: 0d

[2019-03-26 18:04] DMoonesinghe opened #28056 "What is the difference between User Risk Policy vs Sign in Risk Policy"
Why would a admin want to configure,  User Risk Policy  vs a  Sign in Risk Policy or vice versa?

What does each policy do, that other won't do?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 572d0eef-20ce-fe8e-68fe-6bec1bd15ab6
* Version Independent ID: b28b8d19-5475-c6a5-32f8-56c6fce1d74d
* Content: [How to configure

[2019-03-26 18:04] HeidiSteen commented on #28025
Got it -- I am going to hide your info or delete it if possible so that it's not public.  These GH issues pages are public.

[2019-03-26 18:04] Yegmorcar commented on #27873
Hello Ajay,

I'm currently trying to do the PUT request for Creating or Updating an Asset, I have attached some screenshots to validate what I'm doing. I've also confirmed when naming my storage account that it's all lowercase, alphanumerical, no white spaces. So I'm not sure why I keep getting an invalid container name.

![AzureADToken](https://user-images.githubusercontent.com/40250409/55021888-

[2019-03-26 18:09] jjindrich commented on #27827
How to unblock it?

[2019-03-26 18:10] HeidiSteen commented on #28025
Moderator #please-close  -- this issue will be handled offline.

[2019-03-26 18:17] scredii opened #28057 "Import custom intent from LUIS"
Hello,

How i can import a Luis app ?

I have try "sdk.SpeechConfig.fromEndpoint(luisEndpoint, luisKey);" but return error 1006.

Any documentation about that ?

Thanks

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1a5561a-e55e-276b-84a3-b3c643a1d03c
* Version Independent ID: 77ba94f1-57cd-9aca-7850-ae32704ce257
* Co

[2019-03-26 18:26] hpl002 opened #28058 "code example, create a SAS locator, download and examine"
In the introduction you reference that the actual metadata is available by creating a SAS locator and then downloading to local. Could you please elaborate on how to do this? Cannot find any explicit examples

BR

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e9017a6-ee04-c236-3bc4-3d9cc74394b2
* Version Independent I

[2019-03-26 18:26] femsulu commented on #11685
@mumami can you please help prioritize this?

[2019-03-26 18:29] stgeorgi commented on #27827
right click properties unblock...if the issues are not directly tied to the service please try troubleshooting with existing PS / Azure resource.

[2019-03-26 18:31] jjindrich commented on #27827
I installed module successfully. But calling command failed

[2019-03-26 18:37] stgeorgi commented on #27827
To confirm you have unblocked the Zip...if not unblocked it will import but I have seen the issue you are describing being alleviated once unblock is performed...Additionally do you have non-English localization for PS

[2019-03-26 18:40] AjayKumar-MSFT commented on #27892
@Leon99, Thanks for the clarification. You have stated, ‘WebApp for Containers couldn't get the access to the vault”, do let us know if you receive any specific error message. You could also run a fiddler trace to capture more detail about the error and facts leading up to it.

[2019-03-26 18:45] VanMSFT commented on #27925
Thanks for the suggestions, @HenrikStaunPoulsen! I have added additional t-sql text to drop a DB in a single statement. https://github.com/MicrosoftDocs/azure-docs-pr/pull/70930

[2019-03-26 18:49] aseandroid commented on #26454
Hello,

I found this little hack that worked for me:

Go to azure portal to your app service resource and then to Configuration (Preview). At Application Settings add a variable called "WEBSITES_PORT" and give it the value "80 -p 2222:2222". This will produce a docker build command that looks something like this:

docker run -d -p xxxx:80 --name <container name> -e WEBSITES_ENABLE_APP_SERVICE_STOR

[2019-03-26 18:53] robertdj commented on #27796
Thank you for the responses.

@SteveLasker : I've sent you an email with more specific details.

[2019-03-26 18:54] MarileeTurscak-MSFT commented on #28018
@dpserfaty
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-26 18:55] #28019 closed

[2019-03-26 18:55] YutongTie-MSFT commented on #28051
@PatrickFarley @anrothMSFT Hi Anna and Patrick, here is a suggestion of support language. Could you please take a look and share any insight here? Thanks a lot! ^^

[2019-03-26 18:57] msrini-MSFT commented on #27933
@sochan1 , I will go ahead and close this issue, please tag me if you have any further questions.i will reopen and work with you.

[2019-03-26 18:57] #27933 closed

[2019-03-26 19:01] femsulu commented on #13487
@cwatson-cat unable to resolve @alherz in GitHub or MS GAL. Can you msg me @alherz's alias offline so I can ping him to take action on this pls?

[2019-03-26 19:02] YutongTie-MSFT commented on #28042
@angie4u Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-26 19:07] HJToland3 commented on #27802
@jtuliani, re the original prerequisite (Ensure that your VNET Network Security Group rules don't block communication ports 443, 53, 9354, 445, 12000), the easiest way to accomplish this is to explicitly allow those ports access to the DMS resource in the NSG.

[2019-03-26 19:09] gcormier opened #28060 "Online operation?"
The documentation should indicate if this is an online operation - if the VM is stopped to do the move or not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b69d95cf-9933-cc22-7167-45d5fcb7be86
* Version Independent ID: 5ba63189-2a5f-0e2d-fb92-84e2b842b1dd
* Content: [Move a Windows VM resource in Azure](https://docs.

[2019-03-26 19:11] stanupab opened #28061 "Create Adls Gen2 filesystem with permission policies"
Hi, I am using ".\azcopy make "https://account.blob.core.windows.net/container-name"" to create a filesystem in Adls Gen2 account. It works fine but I do wonder if it's possible to manage permission policies through azcopy as well.

I know we can use Azure Storage Explorer to manage access but we need to do this automatically (ie. using PowerShell).

Thanks!

---
#### Document Details

⚠ *Do not e

[2019-03-26 19:15] KingdomOfEnds opened #28063 "Code Sample Improvements"
Hi! Great documentation! I've been running through this code and had a few humble recommendations and corrections:

1. **meta** and **link** tags are singular - they have no closing right-tag. Having the closed tag `/>` throws an error in Chrome and IE.
1. Script tags sometimes require the `type` or MIME content-type to be set. `application/javascript` or `text/javascript` being added will also as

[2019-03-26 19:15] jwargo commented on #28046
Fixed in #28047. #please-close.

[2019-03-26 19:15] stanupab commented on #27576
Hi @CHEEKATLAPRADEEP-MSFT, is it possible to assign the permission to object id using AzCopy (or any PS module)? I was using ".\azcopy make "https://account.blob.core.windows.net/container-name"" to create a filesystem for Adls Gen2, which works fine but I also need to manage the permission policies using a PowerShell script. Thanks!

[2019-03-26 19:16] TravisCragg-MSFT commented on #28041
@OffColour Thanks for the feedback! As this is happening on V2 and not V1, lets proceed with this issue on  #28045

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-26 19:16] #28041 closed

[2019-03-26 19:18] JoshuaMcNichols opened #28064 "How to add custom voice to QnA bot."
Could really use information about how to have the QnA Bot voice information in a custom voice font we created, also using Microsoft tools. The Github tutorials we found on the JFK Hooverbot that retrieves info from the JFK files and speaks in Hoover's voice are out of date, though they are not that old.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-03-26 19:18] Alberto-Vega-MSFT commented on #27422
@jelmerS2 Please reach out if you still need help. I will be closing this issue for now. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue. @craigktreasure Thanks for the help!

[2019-03-26 19:18] #27422 closed

[2019-03-26 19:20] patricklee2 commented on #26454
@mattyweb Your directory structure is incorrect

Place this in the DockerFile in ROOT folder

[code]

Your node app doesnt stay alive.  If the main process ends then the docker container will exit as well.
You can add a sleep-loop in the init file.

[2019-03-26 19:23] Alberto-Vega-MSFT commented on #28011
@tisaud This question might be better suited for a developer forum like StackOverflow. Also you mentioned that:

Can you please provide more detail? Can you confirm that they are not in Cosmos DB? or what happens is that you can find the anchors in ASA using the identifiers?

[2019-03-26 19:25] Mortana89 commented on #22306
Hello,

Very curious to see an example here as well!

[2019-03-26 19:25] cveld opened #28065 "Differences between Linux and Windows are not clearly laid out"
Can you improve on documenting the differences. Maybe you can create a 3 column table:
1) Feature
2) Windows behavior
3) Linux behavior
Currently it is not clear for example what the story is with regards to DNS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 223f39ad-460e-8264-55e0-c2b9667d95eb
* Version Independent I

[2019-03-26 19:28] HJToland3 commented on #28006
@SuryaTejaJosyula, we'd gladly accept your assistance in creating a How-to article on Online Migration Automation using PowerShell. Feel free to reach out to me directly (jtoland@microsoft.com) if you would like to discuss this further!

[2019-03-26 19:37] walsehgal commented on #28063
Hi Adam,

Thanks for the recommendations. Will look into it.

[2019-03-26 19:38] trevorbye commented on #28050
@QuickNS just tested it and it looks like something broke with the SDK release yesterday afternoon. @MayMSFT do you know where the Package class disappeared to? Thanks

[2019-03-26 19:39] YutongTie-MSFT commented on #28064
@JoshuaMcNichols
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-26 19:42] pmossel commented on #19796
Microsoft and Hackster.io did a Virtual IoT bootcamp in dec 2017 in which the Feather Huzzah ESP8266 was featured with Azure IoT hub. Back then, the example from Kevin Saye, which resembles the code here, compiled and worked fine using just Arduino (no VS Code).

Today, it did not compile anymore because of an error in esp8266/arduino.h which was reported in this thread:

#define round(x) ((x)>=0?

[2019-03-26 19:46] apwestgarth commented on #11041
#please-close documentation was updated and published to this effect in November 2018 https://github.com/MicrosoftDocs/azure-docs-pr/commit/281c7c3c1fa6469ee5600e32e5864112df2f9995#diff-7c374a5efa6d13335ec7cb9c7849c840

[2019-03-26 19:47] apwestgarth commented on #15820
#please-close

[2019-03-26 19:48] TravisCragg-MSFT commented on #28053
@cogran Thanks for the feedback! Can I ask what you are doing that is relevant? Usually the /32 is just a way of describing one individual IP.

[2019-03-26 19:48] apwestgarth commented on #18187
This article refers to Azure Functions Runtime preview 2 which does not have support for Azure Functions v2.0 and there are no plans to update the preview either see - https://github.com/MicrosoftDocs/azure-docs/issues/15820

#please-close

[2019-03-26 19:51] #15820 closed

[2019-03-26 19:52] himanshusinha-msft commented on #27712
We have assigned the issue to the content author @sharonlo101 . They will evaluate & update the document as appropriate

[2019-03-26 19:56] davidmu1 commented on #26453
According to the engineering team, the article is correct. The PartnerClaimType can be specified as an output claim in the ClaimsProvider. If there is an error occurring, it might be useful to post the question on StackOverflow. I do not think there is a change required for the referenced article.

#please-close

[2019-03-26 19:57] MicahMcKittrick-MSFT commented on #28060
@gcormier thanks for reaching out. Generally if we do not explicitly state shutdown the VM then you can perform the operations while the VM is on. That is true in this case. Regardless, I agree it would be good to mention.

@cynthn can you take a look?

[2019-03-26 19:57] MicahMcKittrick-MSFT commented on #28065
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-26 20:00] dapathy opened #28067 "Retry - "first-fast-retry" issue"
The retry policy always seems to behave as if "first-fast-retry" is enabled regardless of its actual configuration.  Thus the retry always occurs at least once ignoring the condition.

Is this intended behavior or a bug?  Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5310021d-de39-9418-2a55-ccdd9c2f4db0
* V

[2019-03-26 20:01] spelluru commented on #27649
#in-progress

This article needs to be removed and redirected to the page: https://azure.microsoft.com/en-us/pricing/details/service-bus/

[2019-03-26 20:06] SaurabhSharma-MSFT commented on #27795
@echanfin I am able to load the Powershell module without any issues.  You can check the PowerShell Module location using the PSModulePath environment variable.  By default it contains the below system and user module directories -
$PSHome\Modules (%Windir%\System32\WindowsPowerShell\v1.0\Modules)
$Home\Documents\WindowsPowerShell\Modules (%UserProfile%\Documents\WindowsPowerShell\Modules)
$Env:Pr

[2019-03-26 20:06] #27316 closed

[2019-03-26 20:08] MicrosoftGuyJFlo commented on #27415
Thanks @jay98014!

@Trundlore It sounds like this has been resolved now.

[2019-03-26 20:09] msangapu commented on #27601
@sybrenstuvel Thank you for the feedback. I removed the "deployment user" section. It was used previously before the article was updated. It is not required for the current state of the article.

I didn't understand your coment on redeploy. We have a tutorial here if you're looking for more details: https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-custom-docker-image

Let me

[2019-03-26 20:11] roygara commented on #27836
@ackava Huh, thanks for letting us know! I did some digging and it looks like that got added (but never had a doc associated) quite some months ago. I'll remove it from our ToC since we already have a scale targets article above it anyway.

[2019-03-26 20:11] KingdomOfEnds commented on #28063
@walsehgal - No problem. I think this was older code from a while back. Updated with a few other comments. Thanks.

[2019-03-26 20:12] msangapu commented on #25616
Hi @blueelvis, have you had a chance to review my response?

[2019-03-26 20:15] msangapu commented on #22414
@JasonFreeberg has updated this.

#please-close

[2019-03-26 20:18] Mike-Ubezzi-MSFT commented on #28034
@fpoe Thank you for the detailed inquiry. We are actively investigating and will get back to you soon.

[2019-03-26 20:19] MicahMcKittrick-MSFT commented on #28052
@prasanthijul30 what is the link to the document you are following?

[2019-03-26 20:20] Mike-Ubezzi-MSFT commented on #27599
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-26 20:20] #27599 closed

[2019-03-26 20:24] Heidilohr commented on #27781
@MartinHannemann Hi, Martin. Can you please give us some more details about how you set up the Windows Virtual Desktop app and the steps you took to get to the point where you couldn't input your credentials?

[2019-03-26 20:25] Heidilohr commented on #27837
Hi @Allistairr, could you please explain? What prerequisites should we add?

[2019-03-26 20:29] cogran commented on #28053
Good afternoon,

I had an SR that got opened looking for this. The feedback I got was allowing traffic out from on-premise where their on-premise device/software required a subnet to be entered.

As a networking engineer, it seemed like a “trick” SR but it is one of those cases where it was not specifically called out and we left our end-users to assume. It is called out in VPN/ExR documentation i

[2019-03-26 20:32] ggailey777 commented on #18187
Actually, we need to make @apwestgarth’s statement clear in the article itself. Please assign this to @ggailey777.

[2019-03-26 20:34] roygara commented on #27836
We've merged the fix and it should go live later today so:

#please-close

[2019-03-26 20:40] mike-urnun-msft commented on #28067
Hi @dapathy Thank you for your feedback! We will review and update as appropriate.

[2019-03-26 20:44] mike-urnun-msft commented on #27659
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we'd be happy to help.

[2019-03-26 20:44] #27659 closed

[2019-03-26 20:44] jdobrzen opened #28070 "You cannot use dbutils within a spark job"
I am using Azure Key Vault backed secrets in Databricks and using the following code snippet to retrieve secerets in my notebook:

dbutils.secrets.get(scope = "myVault", key = "mySecret")

My ADF pipeline fails with the following exception:

PicklingError: Could not serialize object: Exception: You cannot use dbutils within a spark job

1) How can I achieve using secrets in notebooks I want to orc

[2019-03-26 20:47] mrosett commented on #24799
Thanks @YutongTie-MSFT - I'd love to get a fix for this.

[2019-03-26 20:52] msangapu commented on #9684
Hi team, we haven't had progress on this item. Unless someone wants to keep it open, I'd like to close it.

[2019-03-26 20:53] msangapu commented on #20519
Hi team, this was fixed in January. #please-close

[2019-03-26 20:54] prasanthijul30 commented on #28052
Front page link

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Micah <notifications@github.com>
Sent: Tuesday, March 26, 2019 1:19:15 PM
To: MicrosoftDocs/azure-docs
Cc: Prasanthi Kalla (Zen3 Infosolutions America Inc); Mention
Subject: Re: [MicrosoftDocs/azure-docs] the front page link for custom decision portal https://portal.ds.microsoft.com/ is not loading b

[2019-03-26 20:55] YutongTie-MSFT commented on #25542
@taranais
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-03-26 20:55] #25542 closed

[2019-03-26 20:55] msangapu commented on #21610
Thanks @guillermoarellano. I've created an item internally to track this request. It won't be added to the quickstart, but most likely a tutorial. Let me know if you have any other concerns.

[2019-03-26 20:57] desarkar opened #28071 "MakeCert about to be deprecated"
MakeCert is about to be deprecated, this article should be re-written with Powershell for creating the certificate. Also, the ARM template on GitHub where this article points to is outdated and needs to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86e868f4-7171-71e2-85ad-73a6c521ce3d
* Version Independent

[2019-03-26 20:59] SubhashVasarapu-MSFT commented on #27563
@Sas002 , Appreciate your patience. Here the cluster gets launched with azure provided VNET and is Placed under MC_ClusterResourceGroup_Cluster service_Location.
![image](https://user-images.githubusercontent.com/44890829/55032184-540b6600-5036-11e9-8ab8-cffa157fbdd1.png)
For accessing VNET id basically we must access the its resource group and here the resource group is of this format --> MC_Clus

[2019-03-26 21:02] MicahMcKittrick-MSFT commented on #28052
Sorry which front page? I am not following

[2019-03-26 21:05] cephalin commented on #21610
@guillermoarellano Custom deployment script is indeed used in the tutorial here: https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-nodejs-mongodb-app

The tutorial is also linked as the Next Step article in the quickstart in question.

On your original question: the sample repo is indeed a bit misleading since it has no dependent NPM packages. We should probably use somet

[2019-03-26 21:05] prasanthijul30 commented on #28052
https://docs.microsoft.com/en-us/azure/cognitive-services/custom-decision-service/custom-decision-service-get-started-register

in the above page there is link front page<https://portal.ds.microsoft.com/> this link is not working?

Thanks,
Prasanthi

From: Micah <notifications@github.com>
Sent: Tuesday, March 26, 2019 2:03 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Prasant

[2019-03-26 21:07] rodrigoffonseca opened #28072 "Can't connect to Windows Virtual Desktop"
When I try to connect to WVD after following all steps on the tutorial I got the error: "Your computer can't connect to Remote Desktop Gateway server". I don't find any further information about how to proceed or fix it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 524e47b0-1295-7d07-0cbc-86e6daaa1358
* Version Indep

[2019-03-26 21:12] MartinJaffer-MSFT commented on #28031
@bertrandpons  There are two ways to access the value of a variable.

To access the value stored in a variable at any given point of time, use:
"@variables('myVariableName')"

To access the value circa a Set Variable activity use:
"@activity('mySetVariableActivityName').value"

[2019-03-26 21:12] TravisCragg-MSFT commented on #28053
@cogran I have assigned the issue to the doc author to evaluate and update as appropriate.

[2019-03-26 21:14] nelfer commented on #27780
Thanks @jmprieur
All of those tutorials work fine as expected, as long as I'm running them from my computer (localhost). But the moment I publish that app to an Azure Web App (Linux) the issue arises: The redirect URL is not sent properly to Azure AD end point, which causes the flow to stop.

This is because the Azure Web App (Linux) is running under a Docker container and the schema (internally)

[2019-03-26 21:18] #27969 closed

[2019-03-26 21:20] TravisCragg-MSFT commented on #28045
@OffColour Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-03-26 21:22] TravisCragg-MSFT commented on #27812
@sunilprabha We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-26 21:22] #27812 closed

[2019-03-26 21:25] SaurabhSharma-MSFT commented on #27800
@Heidilohr can you please help here.

[2019-03-26 21:26] TravisCragg-MSFT commented on #26590
@rfsonders I am unsure when the RP will be updated, but we will make sure the docs have a workaround for this issue in the mean time.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-26 21:27] MartinJaffer-MSFT commented on #28027
@naylor19 Could you please provide us with a little more information?
Which connector you are using, and which application of Dynamics 365 you are trying to use.
(While the Dynamics 365 supports Sales, Customer Service, Field Service, Project Service Automation, and Marketing,  you _must use the Dynamics AX connector for Finance and Operations_.)
Also if you could supply a screenshot, that would b

[2019-03-26 21:27] TravisCragg-MSFT commented on #27023
@prasks82 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-26 21:27] #27023 closed

[2019-03-26 21:29] sybrenstuvel commented on #27601
Eventually I did the information. However, I would expect a tutorial called "Deploy a Docker/Go web app" to cover how to run your own Go program in a Docker container. Currently this is not the case, and the fact that the example Docker image contains a Go app is completely irrelevant. After all, the page doesn't describe what requirements there are for the Docker container (for example, which HTT

[2019-03-26 21:33] MatthewMcD opened #28073 "Link References Private Microsoft Site"
The link for "see the Microsoft Application Network." Links to "https://microsoft.sharepoint.com/teams/apponboarding/Apps" which is not shared.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45cb3eec-7693-4e22-bcde-3f85d5a4be14
* Version Independent ID: 506c3302-e823-8f1e-d547-083ef0b664df
* Content: [Automate provisio

[2019-03-26 21:34] MarileeTurscak-MSFT commented on #27968
I'm assigning this to the content author as they do both appear to be broken and I don't think the articles moved to a new location.

[2019-03-26 21:34] SaurabhSharma-MSFT commented on #27799
@tiktb8 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-03-26 21:34] dhmorrison commented on #27659
Yes, all is well.  I discovered the parameter issue you mentioned and one or two other errors I made that were causing issues.  Thanks for checking in.  I really appreciate that.

David

From: Pramod Valavala
Sent: Tuesday, March 26, 2019 9:26 AM
To: MicrosoftDocs/azure-docs
Cc: David; Mention
Subject: Re: [MicrosoftDocs/azure-docs] How About Some Real World Code SamplesPlease? (#27659)

@dhmorris

[2019-03-26 21:35] Diwiton commented on #27773
This is now resolved for us. The service principal I created myself was the problem. When I followed the instructions on this page it went better:
https://docs.microsoft.com/en-us/azure/virtual-desktop/create-service-principal-role-powershell

This instruction should be included or linked to in the tutorial section "Windows Virtual Desktop Preview tenant information" under point 3 here:
https://do

[2019-03-26 21:38] desarkar opened #28074 "Azure Powershell and Windows Powershell cmdlets interchangeably used"
The content highlights all the Windows Powershell cmdlets e.g. Add-AzHDInsightScriptAction Vs. all Azure powershell cmdlets in the actual code snippets e.g. Add-AzureRMHDInsightScriptAction. This is confusing and needs to be consistent. Both content and code snippet must either stick to Windows powershell or Azure powershell.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-03-26 21:38] jtuliani commented on #27973
Please fix...this cost me at least an hour of wasted time today.

[2019-03-26 21:43] georgewallace commented on #25882
@markdebruijne The script has been updated in the example, can you please verify you see it?

[2019-03-26 21:45] jtuliani opened #28075 "Blueprints now under Policy"
Doc says: Select All services in the left pane. Search for and select Blueprints.
Doesn't work. Blueprints are now under Policy (which is madness, given policies sit WITHIN blueprints, but that's another story)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7fc56d3-c693-3f90-0601-f7acd26359cd
* Version Independent ID:

[2019-03-26 21:46] georgewallace commented on #16296
@pmcevoy If you still have any issues with this please don't hesitate to reach out. @MicrosoftDocs/azure-cxp-triage  #please-close

[2019-03-26 21:50] ChristianMontoya commented on #27800
Hi folks, unfortunately, Windows Virtual Desktop never sees the credentials (only the token) and you cannot login to Windows with just a token. We are finalizing the work to have single sign-on if you federate your Azure AD logon to ADFS. Once that's available, there will be an article covering how to setup that up.

[2019-03-26 21:51] TravisCragg-MSFT commented on #28045
@OffColour your best bet for this issue is to create a support request. If you do not have a support plan, please let me know!

[2019-03-26 21:59] DCtheGeek commented on #28075
@jtuliani Thanks for the feedback! We are aware of this issue and working to resolve it as quickly as possible.

@MicrosoftDocs/azure-cxp-triage Please assign to me, label 'product-question', and #in-progress
- Duplicate Issue; #27973

[2019-03-26 22:09] nelfer commented on #11104
Hi,
I'm having issue with the app not recognizing that is running under HTTPS, like when following this tutorial:
https://azure.microsoft.com/en-us/resources/samples/active-directory-dotnet-webapp-openidconnect-aspnetcore/

It doesn't work once published to an Azure Web App (Linux), because the container receives the Request.Schema as "http" instead of "https". And so when it creates the redirect

[2019-03-26 22:11] KingdomOfEnds commented on #28063
@walsehgal - We chatted about the best approach here. HTML tags have been addressed in the PR.

[2019-03-26 22:12] DCtheGeek commented on #27842
@SebastianSchuetze Today, there are no defined limitations for Azure Blueprints as the service is still in Public Preview. The team is doing analysis during the Public Preview to determine what limitations they'll be able to support come GA. Once the limitations are determined, I'll update the docs to reflect that information.  Thanks for the question and interest in Azure Blueprints!

@MicrosoftD

[2019-03-26 22:14] markjbrown commented on #22306
Hey folks. Sorry it's taken so long to get these documented. I've posted some examples you can try out today. I'm sorry I don't have a schema or sample data for you to try this out on but these should give you some idea of how to write these queries.

We are actively working on this now. I think maybe 3 weeks this will be fully documented with sample data, etc.

Thanks everyone for your patience.

[2019-03-26 22:17] YutongTie-MSFT commented on #27842
@SebastianSchuetze
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-03-26 22:17] #27842 closed

[2019-03-26 22:18] Karishma-Tiwari-MSFT commented on #16296
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-03-26 22:18] #16296 closed

[2019-03-26 22:22] nelfer commented on #27780
I have commented in this issue, which is exactly the one that I'm facing: https://github.com/MicrosoftDocs/azure-docs/issues/11104

[2019-03-26 22:23] mattfortech commented on #11923
@jimbobbennett has there been any progress on this issue? I spent a lot of time scouring for the "Default" option, only to find that it's been removed. How to I proceed to interface when I get a 404? Thanks.

[2019-03-26 22:26] Diwiton commented on #27902
I wonder the same thing. Im getting this error when trying to publish Paint from a WIndows 10 machine:

"FullyQualifiedErrorId : RemoteAppNotAllowedOnDesktopAppGroup,Microsoft.RDInfra.RDPowershell.RemoteApp.NewRdsRemoteApp"

[2019-03-26 22:26] guillermoarellano commented on #21610
Thank you for your help. We can close this issue now.

Have a great day!

[2019-03-26 22:26] #21610 closed

[2019-03-26 22:26] rizwaans commented on #27894
@KetanChawda-MSFT
I did tried your solution but it didn't work.
however, I managed to find the issue. I should be escaping the inner single quotes.

"[concat(variables('CallBackFunctionUri'), '@{body(''Parse_Assessment_Channel_message'').ApplicationNumber}')]",

This worked. Thanks again for the help and quick response.

[2019-03-26 22:32] HowardHoffman opened #28077 "Unable to RDP as per instructions"
Following the above instructions, I'm able to derive the Public IP address, and find the Ports, such that I can form the `MSTSC /v:a.b.c.d:nnnn`.  However I never get the Login dialog from the VM.  Instead I get the dialog one sees when RDP is blocked on the VM, or the VM is currently OFF.  This is even though the current ProvisioningState of the VM (as per the output of Get-AzureRmVmssVM) is 'Suc

[2019-03-26 22:35] YutongTie-MSFT commented on #28057
@scredii
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-26 22:38] Diwiton commented on #27902
Never mind my last message, it was becuase I tried to publish it to a DesktopAppGroup.

But I get the same problem as @Ian-ACC, the app is now published but never shows up in the WVD Web Client nor the Remote Desktop Client.

[2019-03-26 22:41] YutongTie-MSFT commented on #11923
@mattfortech Hi, could you please open a new ticket, that will help a lot? This ticket is too old. Thanks a lot.

@jimbobbennett Hi Jim, thank you for your feedback, but since it's too old, I will close it. Please feel free to open a new one if you are still suffering from it.

[2019-03-26 22:41] #11923 closed

[2019-03-26 22:45] tinojr opened #28078 "What about CA Rules and app-passwords?"
Step 3 in "Create and delete app passwords using the MyApps portal" is incorrect if Conditional Access Rules are used to enforce MFA.  The link for 'Additional security verification' is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8751595d-4839-d2ee-1e2c-16d07ef84a2d
* Version Independent ID: e66f96b3-5b88-9

[2019-03-26 22:52] Karishma-Tiwari-MSFT commented on #27809
@xuyuji9000 Thanks for bringing this to our attention. I have created a PR for this change and changes will be live shortly.

[2019-03-26 22:59] crimzic opened #28079 "Unsupported: Change Tracking or Change Data Capture?"
"Change Data Tracking is not currently supported." - confusing, if this is about CDC or Change Tracking or both. Could you please clarify?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80e91c6d-6b32-5f29-a604-9a7857ed920c
* Version Independent ID: bd7b284c-9cc5-c656-875b-d9b72568cb2e
* Content: [Azure SQL Database Hyp

[2019-03-26 23:07] MartinJaffer-MSFT commented on #28071
Hello @desarkar.  Thank you for bringing this issue to our attention.  We will review the document and update as appropriate.

[2019-03-26 23:07] Kthomas3 opened #28080 "Possible to have a user assigned to two App Groups?"
Can you assign the same user to a desktop app group and remoteapp app group at the same time?  I would like the user to have the option to open a published app or session desktop.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c05d017a-8ce4-d3c2-333c-9f1decbc8e6c
* Version Independent ID: 7f2287e0-71d2-05ef-335b-45bb4c

[2019-03-26 23:10] femsulu commented on #28040
@Sethu2488 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-03-26 23:11] MartinJaffer-MSFT commented on #28029
Hello @jimrobinson.  Thank you for bringing this issue to our attention.  We will review the document and update as appropriate.

[2019-03-26 23:14] MartinJaffer-MSFT commented on #28074
Hello @desarkar .  Thank you for bringing this issue to our attention.   We will review the document and update as appropriate.

[2019-03-26 23:21] xizhengszhang opened #28081 "parameter typo? parameter effect?"
visualFeatures
1. "categories" and "tags" in the example are "Categories" and "Tags"
2. "Categories" seems to have no effect: categories will always be returned in the skill output

details
1. "Celebrities " and "Landmarks " seems to have no effect: even when all parameters are not specified, "celebrities" and "landmarks" will still be returned in the "categories " of the skill output

---
#### Do

[2019-03-26 23:25] PsyhoLord commented on #28046
Good, but will be good if there will be C# code... There is only a java code.  Sorry, but this is only one that I found, but better than broken URL

[2019-03-26 23:27] MartinJaffer-MSFT commented on #28071
@desarkar @nitinme I have assigned this issue to author, he will review it and make appropriate changes.

[2019-03-26 23:30] PsyhoLord commented on #28046
Who cleared old repository with normal code...
https://github.com/Azure/azure-notificationhubs-samples/
Where is all C#... why there is only readme.md
Kill that person who had done this.

[2019-03-26 23:31] lionello commented on #5626
@Houuse Native apps never get keys, since those would get exposed to others (keys are easily recovered from executables.) Your options are to use a native app with a flow that doesn't need keys (look for token flow, or on-behalf-of flow) or create a new "web" app that will have keys (since those are supposed to stay on the server, unexposed to others.)

[2019-03-26 23:32] MarileeTurscak-MSFT commented on #27909
Hi @asonmine ,

What exactly do you see? Can you please post a screenshot?

Make sure that you have a Premium license assigned in your subscription.

[2019-03-26 23:35] Alberto-Vega-MSFT commented on #28011
@tisaud Disregard my previous message. Please see this PR https://github.com/Azure/azure-spatial-anchors-samples/pull/9

[2019-03-26 23:42] MicrosoftGuyJFlo commented on #27415
#please-close

[2019-03-26 23:42] angelieri opened #28082 "Managing two or more queues"
My solution has a couple of webjobs, binded to a different queues.
How to configure app setting if it just have ONLY one option "AzureWebJobsStorage"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4500b14-64b4-4d1b-aae3-f0fd4dde85f2
* Version Independent ID: 8fb75741-37b9-b45f-c0ca-9948ddaf1c06
* Content: [How to use

[2019-03-26 23:42] stefsch opened #28083 "Include Laravel in the doc title for better SEO"
Raising this issue on customer feedback.  Even though the article is all about Laravel, the title doesn't actually mention it and hence its not immediately obvious from a quick browse.

Perhaps something like "Build a PHP and MySQL app using Laravel in Azure App Service on Linux"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-03-26 23:45] SnehaGunda commented on #26502
@olofh-msft, @PatMyron thanks for your detailed feedback, we tried to clarify the confusing aspects you have pointed by updating the image, my PR above updates the image in the doc.

Read request consumes 1RU, and for other operations its variable and based in the doc size, query operations usually consume more RUs. we have removed the fixed number of blocks and made them variable, the width for q

[2019-03-26 23:48] MarileeTurscak-MSFT commented on #27929
Hi @asubmani ,

This is good feedback! Please leave your suggestion in [User Voice](https://feedback.azure.com/forums/169401-azure-active-directory) and I will also reach out to the product team on my end to pass your comments along.

[2019-03-26 23:48] #27929 closed

[2019-03-26 23:51] Karishma-Tiwari-MSFT commented on #27809
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-03-26 23:51] #27809 closed

[2019-03-26 23:51] MarileeTurscak-MSFT commented on #27909
Before you start troubleshooting, verify that the user and device have been configured properly, and that all the requirements of Enterprise State Roaming are met by the device and the user.

- Windows 10, with the latest updates, and a minimum Version 1511 (OS Build 10586 or later) is installed on the device.
- The device is Azure AD joined or hybrid Azure AD joined. For more information, see [ho

[2019-03-26 23:52] MarileeTurscak-MSFT commented on #28048
@SeanFeldman
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-26 23:53] MarileeTurscak-MSFT commented on #28055
@DMoonesinghe
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-26 23:53] MarileeTurscak-MSFT commented on #28055
I'm closing this out as it is a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/28056

[2019-03-26 23:53] #28055 closed

[2019-03-26 23:54] MarileeTurscak-MSFT commented on #28056
@DMoonesinghe
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-26 23:54] MarileeTurscak-MSFT commented on #28061
Hi @stanupab , can you please post a link to the document you are following so that we can better respond to your question?

[2019-03-26 23:55] MarileeTurscak-MSFT commented on #28058
@hpl002
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-27 00:00] kendallroden commented on #27224
What was the result of this when discussed offline? Would like to know so I can fix for myself

[2019-03-27 00:01] yobyot opened #28084 "Object Microsoft.IdentityModel.Clients.ActiveDirectory.AuthenticationContext does NOT offer a "AcquireToken" method"
The scripts on this page fail when invoking the "AcquireToken" method because it does not exist in Microsoft.IdentityModel.Clients.ActiveDirectory.AuthenticationContext.

Here's output from a Get-Member on an AuthenticationContext object created by the uninstall script. There is no "AcquireToken" method.

|Name|MemberType|
|----|----------|
|AcquireDeviceCodeAsync|Method|
|AcquireTokenAsync|Method

[2019-03-27 00:04] Karishma-Tiwari-MSFT commented on #28077
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-27 00:08] MicahMcKittrick-MSFT commented on #27224
Just an update for everyone. The doc works as expected. People seeing issues are internal MSFT employees. This is due to the permissions on the MSFT AAD. So if you are an internal FTE you should create the SP with az ad sp create-for-rbac --skip-assignment and specify with az aks create --service-principal --client-secret as per https://docs.microsoft.com/en-us/azure/aks/kubernetes-service-princip

[2019-03-27 00:09] SamuraiApocalypse opened #28085 "This doesn't work"
The sample application shows ModuleNotFoundError: No module named 'azure'

There are a million articles talking about this not working. Please update with valid instructions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15591874-317e-ce4c-0dff-20d06b625e40
* Version Independent ID: be7fed9a-343a-0ec7-a94d-02c354d1ae3

[2019-03-27 00:10] MartinJaffer-MSFT commented on #28018
Yes, at this time, this kind of visual is only available in Data Factory V1.
However , you can programmatically retrieve the pipeline run details, as per https://docs.microsoft.com/en-us/azure/data-factory/monitor-programmatically

[2019-03-27 00:11] MicahMcKittrick-MSFT commented on #28052
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d5d2969-e3ff-7d00-04f3-de6e44b59a86
* Version Independent ID: 0aaf6a69-2cfe-a485-cfe5-a5a28b1fc447
* Content: [Register your application - Custom Decision Service](https://docs.microsoft.com/en-us/azure/cognitive-services/custom-decision-service/custom-decision-service-get

[2019-03-27 00:11] BryanTrach-MSFT commented on #27598
@JohnDoeKyrgyz Yes, it is possible to use a self-signed cert for TLS mutual auth on your web app. Your app code is responsible for the validation of the cert. As always, it's never recommended to use a self-signed cert in a production environment.

In regards to the parameters, using the below cmdlet to create a cert in PowerShell allowed me to use the cert for TLS mutal auth in a test app.

`$cer

[2019-03-27 00:11] #27598 closed

[2019-03-27 00:11] MicahMcKittrick-MSFT commented on #28052
@YutongTie-MSFT can you help on this one?

[2019-03-27 00:17] olofh-msft commented on #26502
My opinion is that the documentation would be clearer without any image at all.  Even with the revisions, the image adds no useful information, and has the potential to communicate incorrect information.

If it is desired to have information about the different RU costs of the different operations, there should be a table with exact values of the RU costs of different operations.

- Olof

From: Sn

[2019-03-27 00:18] msLinuxNinja opened #28086 "Should indicate that Emphemeral drive is always /dev/sdb"
On the section "Temporary Disk", it should indicate that in every Linux VM the Ephemeral drive (temporary disk) is /dev/sdb

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b61b1427-1941-9831-e823-e2d114decb4a
* Version Independent ID: 1ad9a4b7-0190-5f31-835c-fcf020cb39ad
* Content: [Azure Disk Storage managed disk overv

[2019-03-27 00:21] Mike-Ubezzi-MSFT commented on #28034
@fpoe In looking through the Azure SQL Managed Instance Database docs pertaining to [backup and restore](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance#back-up-and-restore), a backup file from a Managed Instance can only be restored to another Managed Instance and if the backups are being written to an [Azure Storage Account](https://docs.microsoft.com/en-us/azur

[2019-03-27 00:44] MicahMcKittrick-MSFT commented on #28072
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-27 00:45] MicahMcKittrick-MSFT commented on #28080
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-27 00:46] MartinJaffer-MSFT commented on #28070
Hello @jdobrzen .  Thank you for alerting us to this issue.  Until we have more information, here are some relevant documents.

https://azure.microsoft.com/en-us/updates/azure-key-vault-support-with-azure-databricks/
https://docs.azuredatabricks.net/user-guide/secrets/secret-scopes.html#akv-ss
https://docs.databricks.com/user-guide/secrets/index.html
https://docs.databricks.com/getting-started/try

[2019-03-27 00:56] MartinJaffer-MSFT commented on #28070
About the error message iteself,

Pickling in Python refers to a module which serializes state. [Example](https://www.geeksforgeeks.org/understanding-python-pickling-example/) . Storing credentials in a Pickle is a terrible idea (security risk), so it makes sense to prohibit doing so.

[2019-03-27 01:16] ecfan commented on #22570
As there's no specific doc action here, we need to close this issue. @brandonsimons, please respond on where the customer can surface this problem so they can get a resolution.

#please-close

[2019-03-27 01:16] BryanTrach-MSFT commented on #27603
@sybrenstuvel You have to enable file system logging in order to capture and observe the stdout and stderr. Please see [here ](https://docs.microsoft.com/en-us/azure/app-service/containers/app-service-linux-intro#troubleshooting)for more info.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the di

[2019-03-27 01:16] #27603 closed

[2019-03-27 01:19] julieMSFT commented on #26213
#please-close

[2019-03-27 01:22] Mike-Ubezzi-MSFT commented on #28079
@crimzic Thank you for bringing this to our attention. There are two features, [Change Data Capture (SQL Server)](https://docs.microsoft.com/en-us/sql/relational-databases/track-changes/about-change-data-capture-sql-server?view=sql-server-2017) and [Track Data Changes (SQL Server)](https://docs.microsoft.com/en-us/sql/relational-databases/track-changes/track-data-changes-sql-server?view=sql-server

[2019-03-27 01:27] stanupab commented on #28061
This is it: https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-v10#create-a-blob-container-or-file-share

[2019-03-27 01:28] Mike-Ubezzi-MSFT commented on #26213
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-27 01:28] #26213 closed

[2019-03-27 01:29] julieMSFT commented on #26488
@apulliam Thank you for providing this feedback. I have update the article with a link to the What is PolyBase article, [(https://docs.microsoft.com/en-us/sql/relational-databases/polybase/polybase-guide?view=sql-server-2017&viewFallbackFrom=azure-sqldw-latest.)]

[2019-03-27 01:29] julieMSFT commented on #26488
#please-close

[2019-03-27 01:29] crimzic commented on #28079
Thanks @Mike-Ubezzi-MSFT , So the feature from the second link you posted (Change Tracking) is not supported, but Change Data Capture can be used with Azure SQL Database Hyperscale, right?
It looked confusing to me because the feature is called "Change Tracking" in SQL Server documentation, and not "Change Data Tracking".

[2019-03-27 01:32] Mike-Ubezzi-MSFT commented on #26488
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-27 01:32] #26488 closed

[2019-03-27 01:40] BryanTrach-MSFT commented on #27604
@sybrenstuvel Thank you for the feedback. Typically 2222 is not accessable across the internet. This mapping allows users to SSH from across the web into the docker container if necessary.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-27 01:42] Mike-Ubezzi-MSFT commented on #28079
Yes, correct. The anomaly is `Change Tracking` and `Track Data Changes` is referencing the same functionality and being called `Change Data Tracking` in the document. Hard to follow. There is also no mention of `Change Data Capture` functionality.
I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-27 01:47] alexander-muravyev commented on #28079
All clear now, Thanks @Mike-Ubezzi-MSFT

[2019-03-27 01:51] wilsonchua20 opened #28087 "Unknown host exception"
Hi, may i know why i get unknown host exception when i use "https://westus.api.cognitive.microsoft.com/luis/v2.0/apps/" + AppId + "?" and i get 503 service unavailable when i use  "https://40.112.254.71/luis/v2.0/apps/" + AppId + "?" for web service in jdev

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9efc872-25de-d

[2019-03-27 02:24] tisaud commented on #28011
ok! i saw this PR,i can find anchors When the app is running properly(Android/SharingService).but two days or three days later, i test this app again,app get the  feedback:"no anchor number".then I check the Cosmos DB.they are all lost(I guess maybe I created a new one According to this PR).

[2019-03-27 02:28] kobulloc-MSFT commented on #28048
@SeanFeldman We do get several questions about this and I'd like to do my best to address the points you've brought up here.  First, I want to highlight a Microsoft blog that was written to address this question:

https://devblogs.microsoft.com/premier-developer/alternative-way-to-protect-your-application-insights-instrumentation-key-in-javascript/

**Is this a common problem?**
The server side is

[2019-03-27 02:28] #28048 closed

[2019-03-27 02:34] xizhengszhang opened #28088 "In case the language code is (Unknown), an error is raised"
Language Detection sometimes will produce a language code (Unknown) for text that it cannot detect. In such a case, if that language code is used as input for this skill, this skill will raise an error, rendering the entire document as failed. This behavior makes Language Detection effectively unusable together with this skill.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-03-27 02:41] SnehaAgrawal-MSFT commented on #28082
@angelieri Thanks for the question! We are investigating and will update you shortly.

[2019-03-27 02:46] davidahoward commented on #19740
thanks!

[2019-03-27 02:48] SnehaAgrawal-MSFT commented on #28083
@stefsch Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-27 02:52] anrothMSFT commented on #27822
Thank you for reporting. We are shipping a bugfix. In interim, am updating the doc.

[2019-03-27 02:54] mganeshphani opened #28089 "Accessing on-prem file share"
I have a on-prem file share(which I cannot move to Azure for functional reasons)
My function(hosted in ASE) needs to interact with the on-prem file share using particular identity(PID)

I am trying to use the following article to do this
http://www.mobilemotion.eu/?p=1582

the local debug of the function works fine, when deployed it doesn't work.. gives error message
Token cannot be zero.

is ther

[2019-03-27 03:05] KalyanChanumolu-MSFT commented on #27906
@padmick do you have any further questions?

[2019-03-27 03:25] xizhengszhang commented on #28088
This should belong in feature request.

[2019-03-27 03:25] #28088 closed

[2019-03-27 03:44] linda33wj commented on #26549
Thanks for the feedback. The screenshot has been updated.
#please-close

[2019-03-27 04:00] neeleshray commented on #28078
@tinojr  Thank you for your query . We will investigate and update this thread.

[2019-03-27 04:01] neeleshray commented on #28073
@MatthewMcD  Thank you for your query . We will investigate and update this thread.

[2019-03-27 04:02] nibaccam commented on #25837
@robert4os
@RohitMungi-MSFT
The PR referenced above fixes this issue. The changes should go live in a few hours. If satisfied, #please-close

[2019-03-27 04:06] msrini-MSFT commented on #27960
@n0ttsweet , Any update on this issue?

[2019-03-27 04:09] RohitMungi-MSFT commented on #28087
@wilsonchua20 Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-03-27 04:14] rizwaans commented on #27894
@KetanChawda-MSFT

Bro, I have run into another issue.  Please help

I am trying to grab the outputs value of an action in the trackedproperties. can you please check if the below is correct language expression

"trackedProperties" : {
       "TestStatusCode" : @{HTTP().outputs?.statusCode}
}

![image](https://user-images.githubusercontent.com/25411949/55050061-beaeb700-50b3-11e9-8a8f-c8d1841d76bd

[2019-03-27 04:21] jakaruna-MSFT commented on #27834
@anushreeringne Did the above comment help?

[2019-03-27 04:23] #26453 closed

[2019-03-27 04:24] #26549 closed

[2019-03-27 04:25] SeanFeldman commented on #28048
@kobulloc-MSFT Thank you for linking that article. The concern I have over irreplaceable instrumentation key is not related to client-side or server-side. It's a security concern that doesn't care wherever your key is secure or not. A chance of leaking the key is real and needs to be addressed. I realize that documentation you put together is there to describe the existing state of affair and I sh

[2019-03-27 04:25] SumanthMarigowda-MSFT commented on #28085
@SamuraiApocalypse Thanks for the question! We are investigating and will update you shortly.

[2019-03-27 04:26] SaurabhSharma-MSFT commented on #27745
@tannersatch Great to hear that you are able to resolve this.  Thank you all who helped providing the solution over here as this would help any future readers.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-27 04:26] #27745 closed

[2019-03-27 04:27] RohitMungi-MSFT commented on #27986
@wolfma61 Thank you for confirmation. @wukun2015 We will go ahead and close this issue as the product group is already engaged to fix the issue. You can go ahead and use the workaround mentioned above for now.

[2019-03-27 04:28] #27986 closed

[2019-03-27 04:32] #11041 closed

[2019-03-27 04:33] #19596 closed

[2019-03-27 04:33] #20519 closed

[2019-03-27 04:33] #21105 closed

[2019-03-27 04:34] #22414 closed

[2019-03-27 04:34] #22570 closed

[2019-03-27 04:35] #25248 closed

[2019-03-27 04:35] #27415 closed

[2019-03-27 04:36] #27836 closed

[2019-03-27 04:36] #28025 closed

[2019-03-27 04:39] KetanChawda-MSFT commented on #27894
@rizwaans  I am not sure what's your actual scenario is but you can define it as shown below:

[code]

Also I would like to mention here that this channel is for feedback related to the document. I would appreciate if you can open this type of queries in the community forums like [Stackoverflow](https://stackoverflow.com/questions/ask), [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?f

[2019-03-27 04:43] neeleshray commented on #28073
@CelesteDG
The mentioned link points to a SharePoint Site, while I guess it should point to this [https://mran.microsoft.com/](https://mran.microsoft.com/). Can you take a look ?

[2019-03-27 04:44] BryanTrach-MSFT commented on #28046
@PsyhoLord Unfortunately we will have to close and lock this thread due to the concerning comments you have made. Thank you for your understanding.

[2019-03-27 04:52] rizwaans commented on #27894
@KetanChawda-MSFT  fixed it thanks

[2019-03-27 04:52] VladimirKhvostov opened #28091 "Typo in the Example value for x-ms-authorization-auxiliary header"
Instead of Bearer &lt;auxiliary-token1&gt;; EncryptedBearer &lt;auxiliary-token2&gt;; Bearer &lt;auxiliary-token3&gt;
should be Bearer &lt;auxiliary-token1&gt;; Bearer &lt;auxiliary-token2&gt;; Bearer &lt;auxiliary-token3&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68bcb53f-654b-f42e-c6bc-5e8075430adf
* Version

[2019-03-27 04:59] dburriss commented on #18426
@Admin-Smith-MSFT specifically the application settings stuff is not compatible with netcore apps.

[2019-03-27 04:59] kobulloc-MSFT commented on #28048
@SeanFeldman No worries!  And it's ok to disagree--we get our best solutions when our ideas and views are challenged.  We do our best to keep our documentation up to date and accurate, but if you do open an issue on feedback.azure.com, please link it here so that myself and others who read this can vote on it :)

[2019-03-27 04:59] KetanChawda-MSFT commented on #27894
@rizwaans Thank you for the confirmation. I am glad that it worked for you.  Since there is no doc update required at the moment, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-27 04:59] #27894 closed

[2019-03-27 05:00] SeanFeldman commented on #28048
I've raised this issue with MVP list. feedback.azure.com is a bit slow as a channel to get answers.

[2019-03-27 05:01] rizwaans commented on #27894
@KetanChawda-MSFT  sure mate. Thanks and good day

[2019-03-27 05:01] reshmavshetty18 commented on #20550
Can someone  help me with Supported SAML authentication methods for Azure AD.
Is it only Password or PasswordProtectedTransport is supported.
Kindly respond as early as possible

[2019-03-27 05:02] CHEEKATLAPRADEEP-MSFT commented on #27976
@KeiroKamioka0000 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-27 05:02] #27976 closed

[2019-03-27 05:14] CHEEKATLAPRADEEP-MSFT commented on #28029
@jimrobinson Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/71014](https://github.com/MicrosoftDocs/azure-docs-pr/pull/71014).

The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to

[2019-03-27 05:18] rickijen commented on #28072
Exact same issue happened to me. Please update ASAP. We are on a very tight evaluation schedule.

[2019-03-27 05:19] dcbrown16 opened #28092 "Screenshots out of date (again)"
Hi @MGoedtel,
The reference in the last section to "Log Search tile" seems to be out of date - we have a "Logs" blade from the menu or a link to "View logs" on the "Overview" blade now I believe.
Just noting that, the query screen is a bit different now as well. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf

[2019-03-27 05:20] hau-mal commented on #25322
Issue is doc inconsistency: According to the Databricks doc Runtime version has to be 5.2 and higher, in this article 5.1 and higher.

[2019-03-27 05:21] #28029 closed

[2019-03-27 05:21] RohitMungi-MSFT commented on #28087
@wilsonchua20 Could you please let us know what is the exact url that you are using? I tried using the URL mentioned in the document and it works perfectly fine.

![image](https://user-images.githubusercontent.com/46958063/55052221-1df1d480-507e-11e9-9b15-1220f2771dde.png)

Could you please check if the subscription key is correct? Also, please do not use IP's of the endpoints as they can change w

[2019-03-27 05:25] wilsonchua20 commented on #28087
Yes, it worked fined when i paste it on browser, but i'm trying to get the intent programmatically using jdev web service, i'm using proxy btw, should i whitelist your ip address?

[2019-03-27 05:28] #28026 closed

[2019-03-27 05:34] KetanChawda-MSFT commented on #28026
@JohnD76 Referenced [PR](https://github.com/MicrosoftDocs/azure-docs-pr/commit/776fc4460348927af006755f13a47bbf66a6eac4) will update the document.

Thank you for providing your feedback.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-27 05:36] n0ttsweet commented on #27960
Apologies. I'll get to it tomorrow. Busy day at work and I'm crashing for the night.

[2019-03-27 05:39] pvrk commented on #24750
All the PS commands in this article are updated with 'Az' module. To be clear, the 'force' section details how to use PS interface to download a client to access the REST API. There are no Backup specific 'force delete' commands, only one command to register which is now updated with 'Az'.

Hope this is clear.

#please-close

[2019-03-27 05:42] mayurigupta13 commented on #26567
@naimco Can you confirm whether access to the mentioned VM SKU is available for the selected subscription and target location?

[2019-03-27 05:45] SadiqhAhmed-MSFT commented on #28092
@dcbrown16 Thanks for bringing this to our attention! We've shared your feedback with the content owner for further review and update as appropriate.

[2019-03-27 05:47] MarkusVi commented on #27954
#please-close

[2019-03-27 05:49] SadiqhAhmed-MSFT commented on #28091
@VladimirKhvostov Thanks for sharing your feedback! We have assigned this issue to the content owner to review further and update as appropriate.

[2019-03-27 05:54] RohitMungi-MSFT commented on #28087
@wilsonchua20 Thanks for the confirmation. I believe you are using oracle Jdeveloper to build your web service, I am not familiar with jdev but we had some customers facing similar issue with .net applications where they used [globaltunnel ](https://stackoverflow.com/questions/45460058/botbuilder-luisrecognizer-not-working-behind-proxy)to resolve the issue.

In case of jdev can you check if [disab

[2019-03-27 05:54] mmaraa opened #28093 "Wrong order"
In order to deploy a host pool from Azure Marketplace, you should create the service principal role assignment before you create the host pool. I got error several times while deploying the host pool while it was in applying DSC-step for virtual machines. I solved it by creating the service principal RdsRoleAssignment before creating the host pool.

---
#### Document Details

⚠ *Do not edit this s

[2019-03-27 05:56] tantingjun opened #28094 "EntityPath should be removed"
like issue #28021, the connection string which was copied from SAS Policy include the EntityPath, will cause System.ArgumentException: 'NamespaceConnectionString should not contain EntityPath.
Parameter name: namespaceConnectionString' error.
need remove it before call SubscriptionClient or TopicClient.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-03-27 06:09] wilsonchua20 commented on #28087
Disabling the proxy did not help, however i added proxy setting in my code, it now returned javax.net.ssl.SSLHandshakeException: General SSLEngine problem
, do i need to add server certificate from you? Thank you

[2019-03-27 06:09] samuela commented on #24750
This was over a month ago, but IIRC I had to install the legacy CLI in order to run the commands in the tutorial.

[2019-03-27 06:11] nmikuni opened #28095 "Please add "Convert using the Azure portal" session as Windows"
there are "Convert using the Azure portal" session in WIndows. Please add the same one here.

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/convert-unmanaged-to-managed-disks#convert-using-the-azure-portal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a056e00-8b21-8439-27c4-f506bbf76dbe
* Version In

[2019-03-27 06:20] anesthetiize opened #28097 "Missing line of code in the "Detailed Mitigations" section."
There is a line with the following:
$blob = Get-AzStorageblob -Blob "coreosvm-dd1.vhd" -Container vhds

It should be:
$StorageContext = New-AzureStorageContext -StorageAccountName 'contosostorage' -StorageAccountKey &lt;AccessKey&gt;
$blob = Get-AzureStorageblob -Blob "coreosvm-dd1.vhd" -Container vhds  -Context $StorageContext

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-03-27 06:29] pvrk commented on #24750
We onboarded to the new Az module in Dec (Az 1.0) but updated the documents recently. So, the commands (with Az) should have worked even though the doc wasn't updated. It shouldn't require AzureRM module to run it.

[2019-03-27 06:30] mcurko commented on #19714
I'm no longer working on that, the issue raised is several months old!

Regards,
Marko Čurko

Marko Čurko
Senior Developer │ Perpetuum Mobile d.o.o.
Damira Tomljanovića Gavrana 13, 10000 Zagreb
m +385 91 2305 123 │ t +385 1 6390 834
marko.curko@perpetuum.eu<mailto:marko.curko@perpetuum.eu> │ www.perpetuum.hr<http://www.perpetuum.hr/>

[cid:image002.png@01D34284.7E49FA10]

From: Alberto Vega <notif

[2019-03-27 06:33] PramodValavala-MSFT commented on #28017
@Mike-tech No. The various connectors that support on-premise connections all rely on On-Premise Data Gateway being setup (which actually uses Service Bus under the hood).

That being said, you can still implement your own [Custom Connector](https://docs.microsoft.com/en-us/azure/logic-apps/custom-connector-overview) powered by an [API App](https://docs.microsoft.com/en-us/azure/logic-apps/logic-a

[2019-03-27 06:34] PramodValavala-MSFT commented on #27970
@Blackbaud-ChrisBlythe Just following up here... Hope my previous comment helps.

[2019-03-27 06:41] DixitArora-MSFT commented on #28089
@mganeshphani Thank you for your feedback! We will review and update as appropriate.

[2019-03-27 06:43] BhargaviAnnadevara-MSFT commented on #28093
@mmaraa Thanks for bringing this to our attention! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-27 06:51] jakaruna-MSFT commented on #28086
@msLinuxNinja Thanks for your feedback.
That's mentioned in the [document ](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/optimization#your-vm-temporary-drive)under performance optimization.

We can also add a note in this document since this document gives an intro about all the disk types.

@roygara Please add your comments

[2019-03-27 06:52] KrishnaG-MSFT commented on #27900
@theBlueclouds Closing this issue for now. If there are further questions regarding this matter or feedback on the documentation, please reply and we will gladly continue the discussion.

[2019-03-27 06:52] #27900 closed

[2019-03-27 06:52] msrini-MSFT commented on #28097
@anesthetiize , Thank you for your feedback. I will take a look and respond shortly.

[2019-03-27 06:53] #25837 closed

[2019-03-27 06:53] #27954 closed

[2019-03-27 06:56] KrishnaG-MSFT commented on #27765
Currently all workspaces are associated to subscriptions already and you shouldn’t be required to link it. The only function ‘Linked Existing’ radio performs now is in workspace recovery. When workspace is accidentally deleted and customer approaches Microsoft support to recover it. Once recovered by support, customer needs to select ‘Linked Existing’ and select the recovered workspace that shows

[2019-03-27 06:56] #27765 closed

[2019-03-27 07:00] KrishnaG-MSFT commented on #24864
@Hellhound105 As we didn't hear from you since a while so am closing this issue for now. If there are further questions regarding this matter or feedback on the documentation, please reply and we will gladly continue the discussion.

[2019-03-27 07:00] #24864 closed

[2019-03-27 07:01] jakaruna-MSFT commented on #28095
@nmikuni Thanks for the feedback.

@roygara I think the steps to convert the disks in portal from unmanaged to managed are same for Windows and Linux.

Can i duplicate that block("Convert using the Azure portal") from Virtual machines Windows to Linux?

Please suggest

[2019-03-27 07:10] sybrenstuvel commented on #27603
It's just that for a document about Docker, it features very little comparison to the normal way of running a docker image. A list 'X with a local Docker is done Y on Azure' would be welcomed by people with Docker experience.

[2019-03-27 07:11] PramodValavala-MSFT commented on #27890
@wahyuen Yes. A restart is indeed required. The `Run from Package` feature is more of a runtime feature.

I believe the best way to perform deploys from Azure DevOps would be to upload the zip file to blob storage and then just update the `WEBSITE_RUN_FROM_PACKAGE` app setting with the URL to the package (use a private container for storage and a SAS URL here for security). An app setting update a

[2019-03-27 07:12] sybrenstuvel commented on #27604
You seem to be missing the point of my report. In the documentation port 2222 is used for HTTP as well as SSH. This mix-up serves no purpose and is confusing.

[2019-03-27 07:14] PramodValavala-MSFT commented on #27890
@graemeenglish Could you confirm if you using the `Run From Package` deployment mode?
![image](https://user-images.githubusercontent.com/43602528/55056960-b0e63b00-508d-11e9-88b9-dbe1e66155a2.png)

[2019-03-27 07:18] RohitMungi-MSFT commented on #28087
@wilsonchua20 I am not sure if that will work but you can try to add the certificate if there is an option. I think you can export the cert from any browser from the endpoint [URL](https://westus.api.cognitive.microsoft.com/luis/v2.0/) and add it.

[2019-03-27 07:22] mtonazzi commented on #27881
@Diwiton, many thanks for this very important hint. There was an error message that the admin username was invalid, but I didn't find out why this username should be invalid - I checked the spelling thousand times…

[2019-03-27 07:23] msrini-MSFT commented on #28097
PR have been made, the changes will be reflecting shortly.

[2019-03-27 07:23] #28097 closed

[2019-03-27 07:27] graemeenglish commented on #27890
Yes we are. One possibility is that when the tasks were originally written they used a preview of the Azure App Service Deploy v4 task, I notice this has now changed to the release version of the task.
Also it seems that it does work sometimes!

[2019-03-27 07:30] wahyuen commented on #27890
@graemeenglish I wonder if this was the case...I would of sworn this was preview not that long ago. The only reason why I even came here was that we were noticing 'weirdness' in what was being deployed as oppposed to many months of happily having changes applied correctly.

[2019-03-27 07:31] bertrandpons commented on #28031
@MartinJaffer-MSFT Thank you ! I have another related question: as I retrieve file name of blobs stored in Azure Storage with Get Metadate task, I then filter the output with Filter to get the file name I am looking for. From there I want to store this filtered file name in a variable but I can't get the name and only the name of the file... Do you have an idea of how to do that ?

As an example,

[2019-03-27 07:49] allencodes opened #28100 "DNS Name "Configure" option missing for Linux VMs"
Created several Ubuntu VMs this week. For all, the ability to configure the FQDN appears to be missing. Under 'DNS name' there is just a dash with no link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48429aa1-bb8a-f8e0-8a83-dd9efbc1c71a
* Version Independent ID: 4b2ffa2f-0238-4194-d937-d9e21a737857
* Content: [Creat

[2019-03-27 07:52] DixitArora-MSFT commented on #27980
@romankiss Yes we are not updating that. Conceptually topic indicates where the event is posted and source is where the event originated. Ideally source should stay unchanged once it set by the event publisher as the event flows from one sub-system to the other.

If someone posts a grid schema event, then we are mapping “topic#subject” as source (if the subscription specified cloud events as the o

[2019-03-27 07:56] KetanChawda-MSFT commented on #28094
@tantingjun Thank you for the feedback. I am closing this issue and will continue the discussion on [referenced](https://github.com/MicrosoftDocs/azure-docs/issues/28021) issue.

[2019-03-27 07:56] #28094 closed

[2019-03-27 08:08] femsulu commented on #27695
@JasperCodes can you confirm if your workspaces are in the East US region?

[2019-03-27 08:13] Daya-Patil opened #28101 "Spelling correction"
Spelling correction in first 2 lines "global capactiy to absorb volumentric attacks"
Capacity and Volumetric are the 2 words need correction

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c8047e8-9b23-0a0d-4c15-42aa0b15cc53
* Version Independent ID: 456f752b-c31a-719c-45f9-54d31ff66962
* Content: [Azure CDN DDoS Prote

[2019-03-27 08:13] stoff75 opened #28102 "Refresh token in multi forest environment"
It's a bit unclear how the token refresh is supposed to work in a multi forest environment.
First it states that we should run this for every forest that is added to AzureAD SSO.
But then it says that we should absolutely not run "update-azureadssoforest" more than once.

So which is it? Either we run it for every forest or we only run it once?

---
#### Document details

⚠ *Do not edit this secti

[2019-03-27 08:13] KetanChawda-MSFT commented on #28021
@tantingjun The document is referencing the connection string from the shared access policy of the service bus namespace `RootManageSharedAccessKey` . If you copy the connection string from shared access policies of an entity like `Queue` or `Topic` than it will add the `EntityPath` attribute at the end of connection  string and you have to remove when you are passing it in the `QueueClient` or `T

[2019-03-27 08:19] CHEEKATLAPRADEEP-MSFT commented on #28101
@Daya-Patil Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/71044](https://github.com/MicrosoftDocs/azure-docs-pr/pull/71044).

The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to

[2019-03-27 08:43] msrini-MSFT commented on #28100
@allencodes , Can you make sure that the VMs which you created have a public IP associated with it?

If you have a public IP assigned, you get an option to configure FQDN.

[2019-03-27 08:50] SamBlakeC commented on #27028
@SaurabhSharma-MSFT Any update?

[2019-03-27 08:54] fineospaul commented on #28023
No, while working as a global admin, having granted AzureAD permissions to WVD and with the TenantCreator role properly assigned, then signing in with the TenantCreator user account...

New-RdsTenant -Name <TenantName> -AadTenantId <DirectoryID> -AzureSubscriptionId <SubscriptionID>

I am getting AadTenantId does not exist in AAD when using the correct DirectoryID and SubscriptionID.

[2019-03-27 08:55] fineospaul commented on #28023
I opened a support ticket but because WVD is in preview they wouldn't talk to me :)

[2019-03-27 09:06] #28101 closed

[2019-03-27 09:16] arjantent opened #28103 "Digital Twins need Type IoT Hub when creating device"
Hello,

After succesfully set up the Digital Twins Graph viewer with some floors and rooms, i try to create a device. The error i get is: A space resource of type IotHub is required.

In my azure subscription ive created a IoT Hub, its in another resourcegroup though.. I was wondering how do i make this connection between my Digital Twin and IoTHub.

Also another small question, in examples ive se

[2019-03-27 09:18] arjantent commented on #27503
@alinamstanciu Thanks, ive got it working :)

[2019-03-27 09:19] stephen-cairns opened #28104 "Preview status"
Hi guys, I really need this feature to go GA in UK regions to fulfil customer requirements to avoid a decision to move to AWS or google to get this.  it has been preview for a while and I thought it was close to GA.  However I seen the MS updates this week reporting it like it was just released for preview :-(.  I have been talking with MS team and I understand significant changes are happening at

[2019-03-27 09:24] neeleshray commented on #27992
@Mike-Crowley
As per the documentation, in the "Operational security of the authentication agents" section - in the previous steps 3 & 8 - it states that the existing certificate and the renewed certificate is stored in the CERT_SYSTEM_STORE_LOCAL_MACHINE location in the Local Machine.

Could you please elaborate more on this and we can get this reviewed again ?

[2019-03-27 09:27] PramodValavala-MSFT commented on #27890
@wahyuen @graemeenglish It looks like the same issue was reported and turned out to be a [regression in kudu](https://github.com/projectkudu/kudu/issues/2952#issuecomment-475820785). A fix for it has been rolled out earlier today - projectkudu/kudu#2952

In case you are still seeing a problem, its best to report it in the above issue.

[2019-03-27 09:34] yuwzho opened #28105 "user name in the rbac-aad-user.yaml should be object id rather than email address"
I follow this instruction and create a user role-binding, but when I login with my account it shows `Error from server (Forbidden): nodes is forbidden: User "XXXXXXXX-XXXX-XXXX-XXXXXXXXXXXX" cannot list resource "nodes" in API group "" at the cluster sco
pe`. This XXXX is the object id of my azure account.

So I change the name in rbac-aad-user.yaml from my mail address to the object id, it  works

[2019-03-27 09:35] TietoaPetter opened #28106 "Error while using application."
The camera works but I can't see Arcore working and am unable to place local anchor. I get this error code: 2019-03-27 11:32:10.579 1244-1314/? E/Unity: A scripted object (probably UnityEngine.XR.WSA.SpatialMappingCollider?) has a different serialization layout when loading. (Read 32 bytes but expected 100 bytes)
    Did you #ifdef UNITY_EDITOR a section of your serialized properties in any of you

[2019-03-27 09:36] TietoaPetter commented on #28106
I used Unity 2017.3.6f1 and arcore-unity-sdk-v1.5.0. Just run the AzureSpatialAnchorsBasicDemo with default settings

[2019-03-27 09:36] TietoaPetter commented on #28106
Also tried with 2017.3.10f1, no dice.

[2019-03-27 09:44] DashleenBhandari-MSFT commented on #27638
@markkerins We typically try to keep the Azure-Docs channel scoped to feedback directly about the docs. Since your question goes beyond what is discussed in the doc, we kindly invite you to share your question https://community.powerbi.com . Thank you for your understanding.

[2019-03-27 09:44] jakaruna-MSFT commented on #28105
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-27 09:45] jakaruna-MSFT commented on #28104
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-27 09:45] neeleshray commented on #28078
@tinojr
If the MFA in not enabled for the selected user, they would not get the "Additional security Verification" option.

Once the MFA is enabled and the user sets up the MFA verification, first they would get the initial app password, as per the following screenshot:

![MFA 4](https://user-images.githubusercontent.com/31060822/55066104-10027a80-50a3-11e9-8464-0bce04f05f2d.JPG)

Then when they g

[2019-03-27 09:47] DixitArora-MSFT commented on #28089
@mganeshphani  The App Service sandbox explicitly does not allow access to the ports necessary for SMB protocol (137/138/139/445). The article mentions it under Restricted Outgoing Ports: [https://github.com/projectkudu/kudu/wiki/Azure-Web-App-sandbox.](https://github.com/projectkudu/kudu/wiki/Azure-Web-App-sandbox.)

[2019-03-27 09:52] neeleshray commented on #28102
@stoff75  Thank you for your query . We will investigate and update the thread further.

[2019-03-27 09:53] BhargaviAnnadevara-MSFT commented on #28103
@arjantent Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2019-03-27 09:56] OffColour commented on #28045
@TravisCragg-MSFT I've done this, but as it's V2 and still in public preview the response is that "it's public preview and not supported" so I'm not sure where else to report this!.

[2019-03-27 09:56] jimbobbennett commented on #11923
The default option has been replaced with a published option, so I need to double check the docs against the SDK and training process to see if it says you have to publish an iteration. If @mattfortech is getting a 404 then I guess they haven't published an iteration yet.

The docs should cover this, and the error really should be better than '404 - not found'. Can we get something more descriptiv

[2019-03-27 09:58] jakaruna-MSFT commented on #28104
@stephen-cairns I will connect with the internal teams to find out the probable GA date for this feature.

@iainfoulds Please provide your comments

[2019-03-27 10:03] ognyandim opened #28107 "Is the sentence correct : "The application does not see the customers’ keys."?"
Is the sentence correct : "The application does not see the customers’ keys."?

if the app can log/dump the secret from the application to an outside resource what stops it from doing it? If nothing stops the app from doing this the sentence should be corrected so no user thinks his secrets are hidden from the application.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-03-27 10:04] KetanChawda-MSFT commented on #27921
@StingyJack  `bash` is mentioned just to maintain the consistency across the doc.  All the `func` command should works as it is in the `cli` as well.

[2019-03-27 10:06] DixitArora-MSFT commented on #27824
@rahulvmarathe Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-27 10:06] #27824 closed

[2019-03-27 10:08] arjantent commented on #28103
@BhargaviAnnadevara-MSFT

Hello, thanks for your fast response.

First i followed the these toturials: https://docs.microsoft.com/nl-nl/azure/digital-twins/tutorial-facilities-setup, In this toturial there is a tip to implement the following : https://github.com/Azure/azure-digital-twins-graph-viewer

Now I want to create my own digital twin of a building, where i have access to the sensor data. S

[2019-03-27 10:12] Mike-tech commented on #28017
@PramodValavala-MSFT thanks for confirming this. I think it's probably best to stick with data gateway for now.

Cheers

[2019-03-27 10:12] #28017 closed

[2019-03-27 10:16] sergaz-msft commented on #27826
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-27 10:31] mikevanoo commented on #6144
@mrbullwinkle I'm also wanting to do this. The method of a global error handler (like WebForms) doesn't work for ASMX because the framework handles the exception for us and turns it into a SOAP fault.

[2019-03-27 10:33] DavidD-SE opened #28108 "documentation outdated"
Hi, I recently deployed an Application Gateway. When configuring Logging in the Portal, I have a different management pane as shown above. Difference between my App Gateway and the screenshots above:
1) there are no "Status" buttons (ON/OFF)
2) the Metric shows now "All Metrics" instead of "5 Minutes"

@Microsoft in general: this is not the first time I find the documentation not up to date and/or

[2019-03-27 10:38] TietoaPetter commented on #28106
False alarm. Everything works. The surface I was trying was too glossy for the application. Strangely the default Hello ARCore application works flawlessly regardless of the surface.

[2019-03-27 10:38] #28106 closed

[2019-03-27 10:38] arunzer0 opened #28109 "Need to Add Az.Accounts in documentation"
I have tried to Power Shell script for RunBook. I am unable to login. I got the error like "The term 'Connect-AzAccount' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again."
After that I have updated this Az.Accounts Module.

https://docs.microsoft.com/en-us/

[2019-03-27 10:44] #27638 closed

[2019-03-27 10:59] FernandoHidalgoSWBI opened #28110 "Missing step"
Step 3 is not complete. After generating the Schema you need to open it using "Advance Options". The text under step 5 says this but as it is not marked as an step I ignored it. Also the text starts with "If in the future you want to use this schema...", but you need to use the Schema right now, not in the future... otherwise the ODBC will only show the first collection and nothing else.
Indeed th

[2019-03-27 11:00] Leon99 commented on #27892
Thanks for the advice @AjayKumar-MSFT. Could you clarify how to run a fiddler trace on a web app in Azure?

[2019-03-27 11:12] Digiroka commented on #27781
I have an issue creating the remotapps. They do not appear for the assigned user from either the web client or the destop client.

Add-RdsAppGroupUser returns 'UpnAlreadyHasDesktopRights'
Get-RdsAppGroup returns the created RemoteApp resources for the remoteapp appgroup name
Get-RdsAppGroupUser returns nothing for the remoteapp appgroup name

[2019-03-27 11:20] neeleshray commented on #28109
@arunzer0
Thank you for your query . We will investigate and update further.

[2019-03-27 11:21] neeleshray commented on #28109
@barclayn  Could this be appended to the document ?

[2019-03-27 11:26] rabbboudi commented on #24785
Is it possible to report to multiple Log Analytics workspaces from a Linux VM ? It is possible on a Windows one but I'm not sure if it is supported on a Linux Machine.
Thank you!

[2019-03-27 11:27] YvonneArnoldus opened #28112 "Credit system is unclear"
Hi,

You create credits if for the CPU usage below Base CPU Perf  and consume credits for all CPU above Base CPU Perf.

But is does not explain what happens if I do not have credits anymore but are running above Base CPU Perf?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c766dd8-fe9e-489d-b280-6b34d4c1fcf2
* Version

[2019-03-27 11:30] kristerkarto opened #28113 "Custom connector has an issue with DateTime fields when using SOAP to REST"
SOAP methods that require DateTime fields fail, at leat WCF SOAP services. My guess is that the SOAP Connector doesnt parse the JSON Datetime representation into an actual datetime object.

https://stackoverflow.com/questions/55245447/azure-custom-soap-connector-soap-to-rest-with-logic-apps-error-on-date/

---
#### Dokumentinformasjon

⚠ *Ikke rediger denne delen. Den kreves for koblingen docs.mic

[2019-03-27 11:31] tisaud commented on #28011
Disregard my previous message. I think I've found a solution from the PR.thanks

[2019-03-27 11:32] Digiroka opened #28114 "Cannot create remoteapps"
I have an issue creating the remoteapps. They do not appear for the assigned user from either the web client or the destop client.

Add-RdsAppGroupUser returns 'UpnAlreadyHasDesktopRights'
Get-RdsAppGroup returns the created RemoteApp resources for the remoteapp appgroup name
Get-RdsAppGroupUser returns nothing for the remoteapp appgroup name

---
#### Document Details

⚠ *Do not edit this section

[2019-03-27 11:39] Benjiiim commented on #27779
Indeed, there is a section 7, my bad. However, it doesn't seem to be the right and only section to point to regarding termination. Removing "(Section 7) " from the doc might be less confusing from my perspective.

[2019-03-27 11:40] MatthewMcD commented on #28073
No, that's a link to the R language. I don't think that's right. You need a link to the Microsoft Application Network. Whatever that is.

[2019-03-27 11:46] SumanthMarigowda-MSFT commented on #27678
@djaus2 We will now proceed to close this thread. You are request has been updated.  If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-27 11:46] #27678 closed

[2019-03-27 11:46] wolfma61 commented on #27986
One the solution is to move the line
  recognitionEnd.set_value(); // Notify to stop recognition.
inside the Canceled.Connect handler into the error case.

Now the SessionStopped can safely set the recognitionEnd.

Thanks for spotting this, we will update the samples!

[2019-03-27 11:50] neeleshray commented on #28107
@ognyandim

When the application access the KeyVault, it can not get the Key that the customer has uploaded as the cryptographic actions are done by the Vault and not the application.

Could you elaborate on what you mean by - "_if the app can log/dump the secret from the application to an outside resource_" ?

[2019-03-27 11:50] YASWANTHM-MSFT commented on #27889
@kazshi, You can find the metrics in the storage account using sample in the following article.
Ref:- [https://docs.microsoft.com/en-us/azure/storage/common/storage-metrics-in-azure-monitor](url)
Also, you can have a look into the below article regarding storage scalability and performance of the storage account.
Ref:- [https://docs.microsoft.com/en-us/azure/storage/common/storage-scalability-targ

[2019-03-27 12:01] dcaddick commented on #27854
Can you please let me know the best place to provide feedback and discuss issues for the Sentinel SIEM please? Is it here, Yammer, or elsewhere?

[2019-03-27 12:01] jamesapicken opened #28115 "Managed Disks and ASR"
Regarding FAQ "Is there any impact of migration on Azure VMs protected by Azure Site Recovery via Azure to Azure replication?" To which the answer above is, "Yes. Currently, Azure Site Recovery Azure to Azure protection for VMs with Managed Disks is only available as a public preview service". Is this now Generally Available? Other documentation suggests it is. Thanks.

---
#### Document Details

[2019-03-27 12:09] georgievaja commented on #27916
**For anybody ever having the same issue**: the problem is as I wrote earlier: when you try to add new https setting with trustedroot certificate while there is another https setting already existing without it. I solved it by removing existing setting and adding it again with cert.

[2019-03-27 12:11] mganeshphani commented on #28089
@DixitArora-MSFT  my code is failing to execute following line
`WindowsImpersonationContext identity = new WindowsIdentity(token).Impersonate()`
failing with "Token cannot be zero."
I guess the token pointer resulting from following statement is zero
`var success = LogonUser(userName, domain, password,2, 0, ref token);`
because the LogonUser is failing to execute, i.e. returning false

any idea if

[2019-03-27 12:11] MPBetts commented on #27791
I get this also.  user is global admin, the app has tenantcreator assigned to the user, get-rdsappgroup returns successful data showing we can connect but get-rdsdiagnosticactivities returns user not authorized to query the management service.  Any help appreciated.

[2019-03-27 12:12] echanfin commented on #27795
Hi Saurabh, I may need help understanding what extra commands I may need. I'm following the two commands from this page: https://docs.microsoft.com/en-us/powershell/windows-virtual-desktop/overview as part of the instruction set from https://docs.microsoft.com/en-us/azure/virtual-desktop/tenant-setup-azure-active-directory

But when I try the two commands, install + import, I get that error that t

[2019-03-27 12:14] alwaysautomateit opened #28117 "The app passwords page is missing"
When opening the app passwords page either through myapps.microsoft.com or through the Office Portal, all my users now end up at the "Keep you account secure" page - there is no longer an option to create app passwords anywhere. Am I missing a link or page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8751595d-4839-d

[2019-03-27 12:16] Digiroka commented on #28114
looks like you can't assign a user to both a desktop AND a remote app group for the same host pool. Certain this was possible for a single RDSH server in 2012 -- can this please be confirmed?

[2019-03-27 12:20] Digiroka commented on #27902
it doesn't look like you can currently publish both desktops and remoteapps from the same host pool.  You will see one of the below messages:

UpnAlreadyHasRemoteAppAssignment
UpnAlreadyHasDesktopRights

You can add / remove UPNs from one pool or the other to test functionality using the Add-RdsAppGroupUser / Remove-RdsAppGroupUser command, but cant assign both desktops and remoteapps from the sam

[2019-03-27 12:24] SndrSchnklshk opened #28118 "Update Example"
Example uses "TraceSeverityLevel", please update to "SeverityLevel" on the following line:

client.TrackTrace($"Data series or dimension cap was reached for metric {animalsSold.Identifier.MetricId}.", TraceSeverityLevel.Error);

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 401d2997-0fbd-7966-8996-edbaab1819ff
* Versio

[2019-03-27 12:28] barclayn commented on #27968
@ephemeraldrive Thank you for letting us know about those broken links. It seems like those blog posts were removed.  I have deleted the note for now and created a work item to investigate the relevance of the missing content and update the article.

[2019-03-27 12:28] barclayn commented on #27968
#please-close

[2019-03-27 12:29] arunzer0 commented on #28109
Hi @neeleshray,

Az.Accounts
Az.Storage
Az.KeyVault

In the below boxed commands [In the image - attached]. We may need to update the above mention three commands. Because those are much important to run the PS Script. which was given in the documentation(https://docs.microsoft.com/en-us/azure/key-vault/key-vault-key-rotation-log-monitoring#key-rotation-using-azure-automation).
![Key](https://user

[2019-03-27 12:35] jakaruna-MSFT commented on #27904
@tiholm Looks like helm dont have the permissions to deploy.  I hope you have a RBAC enabled cluster.
Take a look at this [comment](https://helm.sh/docs/using_helm/#tiller-and-role-based-access-control).
Since you didnt specify a service account during the `helm init` it would have taken the `default`  service account from that namespace.
Two solutions are here.

1. create a new service account an

[2019-03-27 12:48] tiholm commented on #27904
Thanks, I will try this and return tomorrow on this.

[2019-03-27 12:51] NeilBird opened #28119 "Missing step for "Remove cloud-init" from Hyper-V, VMWare and ISO Sections"
Checking the 4 x methods above, only the KVM instructions include the step to "Remove Cloudinit" from RHEL. #yum remove cloud-init

My understanding is that this step (removal of Cloudinit) needs to be added to the Hyper-V, VMWare and "ISO using kickstart file" sections of this document. These commands should be performed for all four methods:

# systemctl stop cloud-init
# yum remove cloud-init

[2019-03-27 12:54] jakaruna-MSFT commented on #28112
@YvonneArnoldus If the VM spends all the available credits, Then its allowed to use only the Baseline CPU. The application will have only the baseline CPU to use. That is 20 % as per the example in below link. If the application is doing a CPU intensive task at that time, It will probably hang or slow down. Thats the same scenario with all the machines right. Only difference with B series VM's wit

[2019-03-27 12:55] colinrubbert commented on #27791
I have the same issue. Global admin, tenant creator, and rds owner and still get the "user not authorized to query the management service". It would be nice if we had a bit more information on this error, is it a matter of adding an additional permission somewhere to the vm that was created or role to the user we're using? Is it a limitation with how things are configured in the template at creati

[2019-03-27 12:57] #27968 closed

[2019-03-27 12:58] atullalwani opened #28120 "Importing CSV files into Azure PostgreSQL DBaaS"
Hello,
I am trying to import csv files into PostgreSQL Database tables.
When issuing COPY command, it fails with need of superuser role.
We are using the root username but still we are unable to import the data.
LINE 1: ERROR: must be superuser to COPY to or from a file
        ^

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-03-27 12:59] YvonneArnoldus commented on #28112
@jakaruna-MSFT thank you for this explanation. It might be a good idea to add a Q: What if I have no more credits and add your answer because I think this is not clear in the [Question](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/b-series-burstable#q-how-are-credits-accumulated).

[2019-03-27 13:21] msrini-MSFT commented on #28108
@DavidD-SE , Thank you for your feedback. I will assign this issue to the author to get it fixed.

[2019-03-27 13:26] DCtheGeek commented on #27973
@averkinderen @jtuliani @martinta89 This was an issue in the portal and it has now been corrected.  Azure Blueprints is again accessible via 'All Services' as the docs direct, the search box, and the side bar when marked as a 'Favorite'. We are sorry for the inconvenience this caused. Thank you for bringing it to our attention and if you have additional feedback on the docs, please let us know wit

[2019-03-27 13:27] DCtheGeek commented on #28075
@jtuliani This was an issue in the portal and it has now been corrected.  Azure Blueprints is again accessible via 'All Services' as the docs direct, the search box, and the side bar when marked as a 'Favorite'. We are sorry for the inconvenience this caused. Thank you for bringing it to our attention and if you have additional feedback on the docs, please let us know with a new issue!

@Microsoft

[2019-03-27 13:27] roryap commented on #21892
I am having this same issue.  I'm using the samples -- .net core console app -- that come with the speech SDK and trying option 1, getting:

Say something...
CANCELED: Reason=1
CANCELED: ErrorCode= 5
CANCELED: ErrorDetails=Connection failed (no connection to the remote host). Int
ernal error: 8. Error details: 998. Please check network connection, firewall se
tting, and the region name used to cre

[2019-03-27 13:31] BhargaviAnnadevara-MSFT commented on #28114
@Digiroka Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-27 13:31] naylor19 commented on #28027
Below are some screen shots....
1) Example of fetchXML in xrmToolBox with results
![image](https://user-images.githubusercontent.com/48953959/55079085-e2e9a400-5071-11e9-8bc7-ef8d6eb570be.png)
![image](https://user-images.githubusercontent.com/48953959/55079122-f72da100-5071-11e9-8a7f-cd0d7c8fd0ad.png)

2) Same FetchXML using the Dynamics 365 dataset/connector in AzureData Factory Note: it doesn't

[2019-03-27 13:35] DCtheGeek commented on #27707
@StarkCaptain Since I've not heard back, I'm hoping my response and the sample are what you were looking for.  If not, please feel free to respond back and we can continue the discussion.  Thanks for the question!

@MicrosoftDocs/azure-cxp-triage Please unassign femsulu and #please-close

[2019-03-27 13:37] BhargaviAnnadevara-MSFT commented on #28120
@atullalwani Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2019-03-27 13:45] StingyJack commented on #27921
@KetanChawda-MSFT - I got that part.

I dont expect to ever see only "bash" when MSFT created both dos/cmd and Powershell.  The suggestion I made was to at least make it a generic language identifier, so that people who are your long time customers and users are not left confused (do i have to install bash now?) or annoyed (time to lookup yet another console language syntax) or worse (why has micr

[2019-03-27 13:46] mossywell opened #28123 "Fails to explain WHY to register a device, only how to..."
The comment "After your device is registered, it will be able to access your organization's restricted resources" is (taken at face value) wrong because access to the organization's restricted resources is perfectly feasible without device registration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 185f4afb-b437-c1d5-

[2019-03-27 13:47] tiholm commented on #27904
I did following:

yaml for tiller clusterRole

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]
It seems Tiller deploy pod is running, but there is some validation failures related to versions?

[2019-03-27 13:48] tomconte opened #28124 "Wrong name for connectionStringSetting"
When using the sample `function.json` I got the following error:

[code]

I had to use `ConnectionStringSetting` instead of `connectionStringSetting`:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa5bcb79-2af8-3b0e-c78c-0c89a2535e15
* Version Independent ID: 31b87687-7841-f46f-8c97-38898e7b97db
* Content: [Az

[2019-03-27 13:50] Diwiton commented on #27902
Thanks @Digiroka that was exactly the thing! I removed the desktop from the host pool and then I could create a new AppGroup och type RemoteApp and get it provisioned to the client. Many thanks!

Med vänliga hälsningar/Best regards     [cid:mcp_8bb71b19-b357-450b-9ba5-4a695fe49cc3.png]
Anders Gidlund
IT-tekniker
[cid:diwiton_4116050a-ffd8-47ff-8535-3c6c44f6dc2c.png]
Direkt: +46 (0) 10 199 81 31
Vä

[2019-03-27 13:52] mossywell opened #28125 "Incorrect implication..."
"In this scenario, a user can access your organization’s Azure Active Directory controlled resources using a personal device"
AD registration is _not_ required to access resources. This implication that it is (the "myth") is a common source of confusion for admins.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8877b19

[2019-03-27 13:58] mgollubske opened #28126 "Question: Is there a timeline for when the App Service will support AAD V2?"
Is there a timeline for when the App Service will support AAD V2?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f1c454d-73bc-5a73-5d3f-1b1ca7625044
* Version Independent ID: 552b3f09-6650-e7f7-01f2-a702005b83e9
* Content: [Configure Azure Active Directory authentication - Azure App Service](https://docs.microsoft.com

[2019-03-27 14:01] ognyandim commented on #28107
I mean I can write a Key Vault secret from code into blob or log. If it is as you said - then it is ok.

[2019-03-27 14:08] naylor19 commented on #28027
@MartinJaffer-MSFT FYI I tried this on an out of the box singular option set on the account entity called  <attribute name="accountcategorycode" />... And it also doesn't work.

[2019-03-27 14:10] AjayKumar-MSFT commented on #27873
@Yegmorcar, Thank you for providing more details. Kindly check the ‘Body’ of the message to review the configuration/parameters as mentioned in this document https://docs.microsoft.com/en-us/rest/api/media/assets/createorupdate, also test the REST API -PUT within the focus mode.

{
  "properties": {
    "description": "testassest",
    "storageAccountName": "teststorageaccountname",
     "containe

[2019-03-27 14:12] hmg1 opened #28127 "Access"
I have been getting unsolicited phone calls from 1 (855) 330-8653 that states it is from Microsoft.  Since I did not recognize the number or know that I had any pending issues, I blocked the number as I do any number that appears to be a nuisance.  If this blocked a legitimate number I need to access my MLMIC account, please re-establish contact; I do need access.

---
#### Document Details

⚠ *Do

[2019-03-27 14:15] AjayKumar-MSFT commented on #27913
@jrmhaig, We will work on refreshing the document with Ruby 2.4 soon and update.
The product team is currently working on adding Ruby 2.5 and 2.6 support on App Service, however we do not have an exact ETA to share on this as of yet. Thanks again for your feedback on this matter, it’s much appreciated.

[2019-03-27 14:18] marxxxx commented on #26228
@KalyanChanumolu-MSFT  Exactly. I am using Microsoft.Azure.Cosmos.Table 1.0.0 in a .NET Core 2.2 based console application.
The Cosmos DB Table API instance i use for testing is located in West Europe. If required i could share the Endpoint via private message.

The full source code in my sample is here (modified it a bit to match my rowkeys):

[code]
Full exception details:

[code]

[2019-03-27 14:26] jfalameda opened #28128 "Unclear how to enable backup on an existing cluster"
Hi!

The following lines are a little bit unclear:

"First you need to enable the backup and restore service in your cluster. Get the template for the cluster that you want to deploy. You can either use the sample templates or create a Resource Manager template. Enable the backup and restore service with the following steps"

How would this be done on an existing cluster?

Thanks!

---
#### Docume

[2019-03-27 14:28] Yegmorcar commented on #27873
I feel silly, but yes, you're right the storageAccountname and container was set incorrectly in the body. After modifying it, the asset was created without any issues. Thank you for your help Ajay!

[2019-03-27 14:32] fmegen commented on #28036
you can find samples here
https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/samples/js/node

and here
https://docs.microsoft.com/de-de/azure/cognitive-services/speech-service/quickstart-js-node

[2019-03-27 14:35] spelluru commented on #19795
Worked with @ShubhaVijayasarathy to publish content in the article:
https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-event-processor-host#epoch

[2019-03-27 14:35] spelluru commented on #19795
#please-close

[2019-03-27 14:58] gacurtin opened #28131 "command parameter in correct "-StorageSyncServiceName" vs. -"StorageSyncService""
The command "Register-AzureRmStorageSyncServer" has an incorrect parameter name.  Needs to be changed to -"StorageSyncServiceName"

https://docs.microsoft.com/en-us/azure/storage/files/storage-sync-files-server-registration#register-the-server-with-powershell

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4814031f-3cca

[2019-03-27 14:59] ToddTaylor opened #28132 "Interactive Troubleshooter Link Does Not Exist"
Under the section "Use the snapshot health check", the screen capture shows a hyperlink "(Don't see Snapshot? Troubleshoot)" below the Call Stack section to launch the interactive troubleshooter.   However, I see no such link in Application Insights.   Does this functionality actually exist?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss