[2020-10-23 00:36] #64492 closed

[2020-10-23 00:37] keithcharlie opened #64877 "unnecessary article"
This article is unnecessary and misleading in saying that SaaS requires AAD SSO.

It does but only in a very specific context, and only for SaaS offers. It's the only offer that has an AAD requirement and it;'s already covered elsewhere in much more detail here: https://docs.microsoft.com/en-us/azure/marketplace/azure-ad-saas

Can we please remove this article?

---
#### Document Details

⚠ *Do no

[2020-10-23 00:37] Rakesh30 opened #64878 "syntax error in the script"
please update the script. "=" is missing, after "CREDENTIAL", in the script.

CREDENTIAL **=** (IDENTITY = '', SECRET = '')

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a94f4ea-0f0d-2e8c-7246-189cd0201dcd
* Version Independent ID: 7adf540e-c5a9-5e3f-cf4f-bc598f68ba3e
* Content: [Tutorial load data from Azure Data La

[2020-10-23 00:58] TravisCragg-MSFT commented on #64503
@tesharp Thanks for the feedback! Unfortunately this is a current limit with Azure WAN and AAD authentication. If you would like us to add more applications per gateway in the future, please leave your feedback at [Azure Networking's feedback.azure.com page](https://feedback.azure.com/forums/217313-networking). This will allow the community to upvote and for the product team to include into their

[2020-10-23 00:58] #64503 closed

[2020-10-23 01:18] dspreddy77 opened #64880 "'For' has been mistakenly repeated"
There was a repetition of "for" in below segment.

![image](https://user-images.githubusercontent.com/65262152/96945519-9b502600-14fb-11eb-84a4-c586c5e5c340.png)

**Respective url:** https://docs.microsoft.com/en-us/azure/azure-sql/azure-hybrid-benefit?tabs=azure-powershell#next-steps

Though this is very minute one, thought of sharing this.

---
#### Document Details

⚠ *Do not edit this section.

[2020-10-23 01:38] cybernetics opened #64881 "Quickstart: Create your first HTTP triggered function with Kotlin, Gradle, Spring Boot and IntelliJ Idea"
please create a quick start guide using Kotlin programming language, Gradle build system, Spring Boot framework, and Intellij Idea IDE -- all in one using JVM 11+
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4a644ee-0767-86fe-b9ef-723ecd96bc28
* Version Independent ID: a5a666de-7a27-5fb0-a186-4c47ade83cb4
* Content:

[2020-10-23 01:47] MonikaReddy-MSFT commented on #64732
@ptreptau - Thank you for your inputs and providing the document details. I have reached out to the internal team here to get the document updated. I will keep you posted once I have an update.

[2020-10-23 01:50] nishankgu opened #64882 "Shoudlnt this be Generation2"
![image](https://user-images.githubusercontent.com/17011134/96947231-7cb84380-1497-11eb-91b7-4137751676e8.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74427887-6734-a054-8c88-d63b8f4db064
* Version Independent ID: a2f1b4f2-18b5-7708-a629-82ca1d10b712
* Content: [NDv2-series - Azure Virtual Machines](https://docs

[2020-10-23 01:52] MonikaReddy-MSFT commented on #64769
@SharmainePopov - Thank you for providing the document details. It looks like you have an issue with the product itself and this feedback is not related to the docs improvement.  In this forum, we focus on improving the docs and feedback related to docs only.

Do you mind posting your question on [Microsoft QnA ](https://docs.microsoft.com/en-us/answers/topics/azure-cache-redis.html) as our engine

[2020-10-23 02:03] alexkarcher-msft commented on #64762
Hi @MatasK23
Can you please share any specific error's you are seeing?

Thanks!
Alex

[2020-10-23 02:11] SharmainePopov commented on #64769
Its an issue with documentation. The instructions provided aren’t sufficient.

Sharmaine Popov
Cloud Solution Architect |Microsoft Canada Inc. | sharmaine.popov@microsoft.com<mailto:sharmaine.popov@microsoft.com> | 416-799-0807

From: NavtejSaini-MSFT <notifications@github.com>
Sent: Thursday, October 22, 2020 5:54 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Sharmaine Popov

[2020-10-23 02:18] YutongTie-MSFT commented on #64874
@barbkess Hello, could you please check on this issue and update the document if needed. Thanks a lot.

@angosms
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-23 02:31] MS-jeremy opened #64883 "Unique Index Syntax of Sample Needs correction"
[Enter feedback here]
In [Unique indexes](https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb-indexing#unique-indexes) section,

 **globaldb:PRIMARY> db.coll.createIndex( { "student_id" : 1, "university" : 1 }, {unique:true})**
{
        "_t" : "CreateIndexesResponse",
        "ok" : 1,
        "createdCollectionAutomatically" : false,
        "numIndexesBefore" : 3,
        "numIndexesAfter"

[2020-10-23 02:51] ZhijunZhao commented on #64831
@artmasa Please check whether below answers help you.

https://github.com/Azure/AppConfiguration/issues/268#issuecomment-685319249
https://github.com/Azure/AppConfiguration/issues/268#issuecomment-699597051

[2020-10-23 02:59] KrishnaG-MSFT commented on #64585
@nkiest Thanks for the quick response. I see the update is reflected in the document.
@bangdu-ms At this point it appears that there's no more edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-10-23 02:59] #64585 closed

[2020-10-23 03:15] ScottMetzel commented on #64492
Thank you! Happy to help.

[2020-10-23 03:33] euangms opened #64884 "Needs updated steps and screenshots"
Looks like the UI flow and screens have changed and that makes this article hard to follow, it needs updated to reflect the new flow

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52a30d54-41e5-425e-a015-36cfa8747a6a
* Version Independent ID: ec8968fc-a232-671a-74b2-2a5f30652bb7
* Content: [Request an increase in vCPU

[2020-10-23 03:36] mike-urnun-msft commented on #64629
Hello @shriazure - Official guidance for managing different environments is done with the help of APIM DevOps Resource Kit: https://aka.ms/apimdevops

If you'd like to propose your idea as a supported feature, please consider submitting a feature request on [Azure UserVoice for APIM](https://feedback.azure.com/forums/248703-api-management).

[2020-10-23 03:41] rharris-hs opened #64885 "WARNING: Upcoming breaking changes in the cmdlet 'New-AzFirewall'"
The example code on this page for deploying the firewall is producing warnings regarding upcoming breaking changes, they are easy to correct.

Cmdlet invocation changes :
    Old Way : New-AzFirewall -VirtualNetworkName "vnet-name"
    New Way : New-AzFirewall -VirtualNetwork $vnet

    Old Way : New-AzFirewall -PublicIpName "public-ip-name"
    New Way : New-AzFirewall -PublicIpAddress @($publici

[2020-10-23 03:42] BharathNimmala-MSFT commented on #64844
@haymansfield Thank you for your query, we will look into it and get back to you at the earliest.

[2020-10-23 04:10] algattik opened #64886 "Preview limitation"
The image has obsolete text "potentially exceeding the preview limitation"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 243164d1-7d2a-4afe-af6d-546154047972
* Version Independent ID: c0f8b768-6da9-7e20-9d4b-6499a374a18c
* Content: [Streaming ingestion throughput limitations- Azure Time Series Insights Gen2](https://d

[2020-10-23 04:18] Svijay-msft commented on #64828
Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-10-23 04:20] Svijay-msft commented on #64829
Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-10-23 04:21] SwathiDhanwada-MSFT commented on #64649
@CarlKCarlK Can you please elaborate on your feedback as requested in my previous comment?

[2020-10-23 04:22] Svijay-msft commented on #64825
Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-10-23 04:24] SwathiDhanwada-MSFT commented on #64884
Thanks for your feedback @euangms
Assigning to content author @msftsvenkat for review and document enhancement consideration.

[2020-10-23 04:26] PramodValavala-MSFT commented on #64881
@cybernetics Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2020-10-23 04:26] Svijay-msft commented on #64843
Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-10-23 04:32] VikasPullagura-MSFT commented on #64882
@nishankgu
Thanks for the feedback! We are currently investigating and will update the document as applicable.

[2020-10-23 04:36] VikasPullagura-MSFT commented on #64880
@dspreddy77 Thanks for pointing this out. The document is updated and changes will go live soon.

[2020-10-23 04:37] Svijay-msft commented on #64848
Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-10-23 04:37] HarithaMaddi-MSFT commented on #64878
@Rakesh30 - Thanks for your valuable inputs. We are looking into it and will update you shortly.

[2020-10-23 04:39] AnuragSharma-MSFT commented on #64883
@MS-jeremy Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-23 04:40] Svijay-msft commented on #64853
Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-10-23 04:42] Svijay-msft commented on #64854
Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-10-23 04:42] VikasPullagura-MSFT commented on #64829
@tonycaidotcom
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-10-23 04:42] VikasPullagura-MSFT commented on #64829
@MashaMSFT
Can you please check and add your comments on this doc update request as applicable.

[2020-10-23 04:43] #64880 closed

[2020-10-23 04:56] AjayKumar-MSFT commented on #64852
@YurongHe, Thanks for leveraging Azure docs feedback channel to raise this question! Much appreciate the follow-up and update on the solution that helped you.

[2020-10-23 05:03] KalyanChanumolu-MSFT commented on #64886
@algattik Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-10-23 05:06] BradAF commented on #64820
Thanks for looking into this! Can you say if Azure Repos support will be added in the future to the Preview? During Ignite, it seemed like DevOps was being phased out or otherwise not on the roadmap in favor of GitHub.

[2020-10-23 05:12] vipulsparsh commented on #64360
@Bonnie-Chen95 Thanks for your patience on this and apologies for the delay. During our investigation we found that the custom role that you are trying to assign is no longer available in the permission scope. The latest set of permission can always be verified from :

![image](https://user-images.githubusercontent.com/63580915/96958794-1295b200-151c-11eb-8d95-2b212131ec41.png)

![image](https://u

[2020-10-23 05:13] vipulsparsh commented on #64360
@rolyon Can you have a look at this ?

[2020-10-23 05:15] vipulsparsh commented on #64865
@philipktlin Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-10-23 05:16] vipulsparsh commented on #64873
@RamyasreeChakka Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-10-23 05:48] ryanbehdad opened #64887 "Australia East, Japan East"
Australia East Max CPU is set as 2, while 3 also works.
--

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4153e809-a854-ff58-3d1e-31770c36a1f9
* Version Independent ID: e37b5834-9174-5ea2-567c-7b2628ed9eeb
* Content: [Resource availability by region - Azure Container Instances](https://docs.microsoft.com/en-us/azure/co

[2020-10-23 05:51] VikasPullagura-MSFT commented on #64853
@mloskot Can you please check this and add your comments.

[2020-10-23 06:01] ahollandusc opened #64888 "Indicate power platform licensing requirements"
Hi,
Its not clear if exporting APIs from APIM to power platform requires an enterprise or standard licence for the power platform.
Also what are the minimum access requirements in both Azure and Power platform for the user who is doing this? Do they need to just be an APIM instance admin or a full Subscription Admin in Azure? Do they need to be a global admin in M365?
Thanks,
Adrian

---
#### Docu

[2020-10-23 06:14] AnuragSharma-MSFT commented on #64870
@theGOTOguy Thanks for reaching out with the query. Can you check if your user id is present in the list of Allowed Object ids? As per the document _**" If your user object ID is in the list of allowed object IDs, you can access the service using a token obtained using the Azure CLI."**_

You can find it under **Settings -> Authentication**

If it is not set, could you please go through the [link]

[2020-10-23 06:21] mloskot commented on #64853
@VikasPullagura-MSFT Check what? There's been no comment with any suggestion, workaround or solution.

[2020-10-23 06:31] AnuragSharma-MSFT commented on #64875
@RichWK Thanks for the valuable input to make the document correct.

We have updated the document content accordingly. The changes should be live once the PR is approved. You can review the PR meanwhile and let us know for any issue.

[2020-10-23 06:33] HarithaMaddi-MSFT commented on #64878
@Rakesh30 - Thanks for your contribution, I've addressed this issue in PR: MicrosoftDocs/azure-docs-pr#135164

The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2020-10-23 06:33] #64878 closed

[2020-10-23 06:36] BharathNimmala-MSFT commented on #64877
@keithcharlie Thanks a lot for your valuable feedback . I have assigned the issue to @keferna for further evaluating and removing the article as per feedback. Thank you

[2020-10-23 06:43] amanmcse commented on #64597
@swhite-strath To understand this, lets consider **Minutes until account is automatically unblocked** is set to 30. In this case, once the account gets locked out after X number of MFA denials, it will automatically be unblocked after 30 minutes.

[2020-10-23 06:45] theGOTOguy commented on #64870
I actually found the source of the issue:  Puzzlingly, "Owner" privileges
do not confer "FHIR Data Writer" privileges on Azure API for FHIR.  This
seems like an issue that, if not corrected, should at least be documented
more clearly.  It would also be great if the authentication error message
could include a hint at what the resolution might be for users that do have
at least some privilege.  For

[2020-10-23 06:46] HarithaMaddi-MSFT commented on #64854
@Harshitjain188 - Please use binary format that can move files without looking at the content of it and this might be helpful in this scenario. Please refer this [document](https://docs.microsoft.com/en-us/azure/data-factory/format-binary) for more details on this.

Please let us know how it goes.

[2020-10-23 06:57] mheidingsfeld opened #64889 "How can I rejoin an organization after leaving it?"
I have left an organization following these instructions. How can I rejoin the organization in case I changed my mind or need to participate again?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b448cfd0-b673-7d04-047b-71aa62bebc27
* Version Independent ID: 75118bff-94de-c9f9-7666-d2a6f4253b11
* Content: [Leave an orga

[2020-10-23 07:05] BzSpi commented on #64307
Thanks @stevestein

If I want to copy a database to a different SKU, I can use `CREATE DATABASE` with the `EDITION` parameter.
If I want to copy a database to an elastic pool with a different name, I can use `CREATE DATABASE` with the `SERVICE_OBJECTIVE` parameter.
But, looking at the `CREATE DATABASE` operation, it seems I cannot change both of the SKU & Elastic Pool name in one operation.

I saw

[2020-10-23 07:05] AnuragSharma-MSFT commented on #64650
@RichWK Thanks for the valuable input to make the document correct. We would give our best to have these changes sync going forward.

We have updated the document content accordingly. The changes should be live once the PR is approved. You can review the PR meanwhile and let us know for any issue.

[2020-10-23 07:14] HarithaMaddi-MSFT commented on #64843
@v-anmeri - Auto terminate functionality will terminate the cluster if there is no activity on the cluster. When PowerBI hits the databricks during auto refresh, it will start the cluster. I have tested the same and it is working fine.

Please feel free to let us know for further queries.

![image](https://user-images.githubusercontent.com/61235246/96967261-d9b20900-152c-11eb-8e23-cea4fea0a94e.png

[2020-10-23 07:17] AnuragSharma-MSFT commented on #64697
@jamserra Document has been updated as part of below commit.
https://github.com/MicrosoftDocs/azure-docs/commit/bf67570adb8f8523a83c149cbf9267fcfb975cdb

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-10-23 07:17] #64697 closed

[2020-10-23 07:17] AleksandrReznik opened #64890 "CU meaning is confused in article several times"
first it is introduced as "**Capacity Units** (CUs) "
then in an example there is an instruction: "Add a metric for Average Current **Compute Units**." - so here it becomes **Compute Units**
In a figure connected to this instruction i see what **Capacity Units** is added, so later it is not clear what is meant by CU
i'd recommend not to use abbreviation here.

Overall behavior of these Compute and

[2020-10-23 07:20] AnuragSharma-MSFT commented on #64870
@theGOTOguy Thanks for providing more details on it.

This is being assigned to the content author to evaluate and update as appropriate.

[2020-10-23 07:31] HarithaMaddi-MSFT commented on #64876
@msft-tacox - Thanks for the question. I am moving it to content author to review and share their thoughts.

@twooley - Can you please take a look?

[2020-10-23 07:43] devmonte opened #64891 "Add note about updating PowerShellGet module"
Hello,
I was trying to use Powershell commands to connect and restore backups but it turned out that I was not able to download the prerelease version of ServiceFabric PowerShell module. After long research, I found I had to update the PowerShellGet module. The information about that was in [in GitHub docs](https://github.com/microsoft/service-fabric-client-dotnet/blob/develop/docs/SFPowershellUsa

[2020-10-23 07:47] wolfma61 commented on #64861
Overall good suggestions, changes like this will require a API revision. This isn't going to happen before Q2 next year, but we will definitely try to address these.

For the problems you describe, this isn't the channel to discuss this. Look at the options mentioned in the 'support' area of the documentation, contact us there with some more information (region, time, perhaps transcriptionID) and

[2020-10-23 07:57] Derek1101 opened #64892 "Hive UDF can not be used"
Hi, customer reported that they find Hive UDF can not be used after migrated HDI from 3.6 to 4.0, they have to reload their jar, would you please look into this and update this doc accordingly if necessary, thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26925ef6-ef21-2c7a-3576-608e6b5fb9c8
* Version Independent

[2020-10-23 08:00] KrishnaG-MSFT commented on #55583
At this point it appears that there's no more edits or updates needed for the referred documentation so closing this issue for now.
If there are further questions regarding this matter or feedback on the referred documentation, please do let us know and we will gladly continue the discussion.

[2020-10-23 08:00] #55583 closed

[2020-10-23 08:04] MatasK23 commented on #64762
Hi @alexkarcher-msft,

There aren't specific errors present, however when I monitor the function within Azure and go under logs, the function seems to be connected, however, there aren't any errors present which makes the root of the problem even more difficult to diagnose. To help you get a better understanding, I've uploaded some screenshots of the data that's flowing and more specifically, the

[2020-10-23 08:12] #64680 closed

[2020-10-23 08:23] jokarl opened #64893 "Not possible to deploy latest edge hub schema using az cli or portal"
When deploying via the portal, it is not possible to define TTL or priority per route, it's just a single line for route:

![image](https://user-images.githubusercontent.com/6864214/96973290-fabc2f00-1517-11eb-8aed-0dfbc0b4e3ad.png)

When deploying a template using `az iot edge deployment create`, it also fails with an error that seems consistent with what the portal shows:

[code]

The above erro

[2020-10-23 08:30] VikasPullagura-MSFT commented on #64853
@mloskot Apologies for the confusion. My intent was to tag Product Team/Doc Author for checking and adding comments on your feedback.

I am adding new comment on the issue with correct contact.

[2020-10-23 08:31] VikasPullagura-MSFT commented on #64853
@macols
Can you please check and add your comments on this Feedback.

[2020-10-23 08:34] nferdinandova commented on #64512
Is it possible to receive an answer by the author?

[2020-10-23 09:02] savas87 opened #64895 "Don´t work with docu"
my problem was adding javascript. i have tried the steps at the documentation. One point is missing here. After add the ScriptExecution element, you must adapt your DataUrl in the localization.xml
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 818e437f-75d7-30f1-d6fe-e57288abbc54
* Version Independent ID: 876c370e-e6f1-

[2020-10-23 09:02] majkelllo commented on #64073
@HarmanDhunna Is there any guidance on what that code is and how to generate it ? Should it be unique per request ? Unique per service ? The documentation doesn't say a lot so I have no idea what to do other than hardcoding that value

[2020-10-23 09:21] AnuragSharma-MSFT commented on #64809
@mloskot There are different ways to set the **_'Allow access to Azure services_**' in Azure. This document specifically talks about setting through it through the Azure CLI for which the correct command is mentioned in the article, also below:

`az postgres server firewall-rule create --resource-group myresourcegroup --server-name mydemoserver --name AllowAllAzureIps --start-ip-address 0.0.0.0 --

[2020-10-23 09:23] VikasPullagura-MSFT commented on #64891
@devmonte
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-10-23 09:23] VikasPullagura-MSFT commented on #64891
@erikadoyle
Can you please check and add your comments on this doc update request as applicable.

[2020-10-23 09:34] ktrsanjiv commented on #42379
This issue is related to local proxy.

We should add below line to your local.settings.json

`"NO_PROXY": "localhost,127.0.0.1"`

Once you add this line to you json file, you can see you grpc automatically started running

Your file should look like this:-

{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "NO_PROXY": "localhost,12

[2020-10-23 09:35] mloskot opened #64896 "Instruction creating Azure Database for PostgreSQL does not match related command"
![image](https://user-images.githubusercontent.com/80741/96987714-a8810b00-1523-11eb-9765-8a7ec191b547.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba229540-9878-d93e-7004-9a1c48200928
* Version Independent ID: 4a5ec508-7e42-6483-a488-6fdcc14c3944
* Content: [Private Link - Azure CLI - Azure Database for Postgre

[2020-10-23 09:36] Max-Eriksson opened #64897 "%value% for reading settings"
According to the documentation it should be possible to use the following pattern to read a settings vaule in your trigger expression:

`[QueueTrigger("%input-queue-name%")]`

I can get this to work on windows but if I use the same expression on a linux based hosting plan it fails.

BR,
Max.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2020-10-23 09:37] bakerm00 opened #64898 "discuss implications of Guest Access to SPO and Teams"
you do not discuss implications of Guest Access to SPO and Teams.  this is a fundamental requirement for lots of businesses in collaboration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89ea5c2d-4602-25b8-3cdd-60cfb5c31895
* Version Independent ID: 35d4af7e-72e4-7c40-9dd6-b8490ee73f0d
* Content: [Use tenant restrict

[2020-10-23 09:42] mloskot commented on #64809
@AnuragSharma-MSFT

It does make it clear the option is toggled or not is controlled by the IP range.

I also take from the above that the name of the rule i.e. `AllowAllAzureIps` is **not** special in any way and it can be any valid name.

[2020-10-23 09:43] andyadamides opened #64899 "Creation of Event Hubs Dedicated cluster"
In this page it is stated that:

**How do I create an Event Hubs Dedicated cluster?**
You create an Event Hubs dedicated cluster by submitting a quota increase support request or by contacting the Event Hubs team. It typically takes about two weeks to get the cluster deployed and handed over to be used by you. This process is temporary until a complete self-serve is made available through the Azur

[2020-10-23 09:50] VikasPullagura-MSFT commented on #64887
@ryanbehdad
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-10-23 09:50] VikasPullagura-MSFT commented on #64887
@macolso
Can you please check and add your comments on this doc update request as applicable.

[2020-10-23 09:50] AnuragSharma-MSFT commented on #64809
@mloskot Yes you are correct. '**_AllowAllAzureIps_**' is just a name and we can use any valid name. I tried with '**_test_**' and it worked too.

[2020-10-23 09:52] kummanish commented on #34657
@odin88 can you please provide any update ?

[2020-10-23 09:53] andyadamides opened #64900 "Dedicated Tier Option for Azure Event Hubs"
**Dedicated tier**

When creating an Event Hubs Namespace there is **not** a Dedicated Tier option, only **Basic** and **Standard**.
![image](https://user-images.githubusercontent.com/2568261/96989714-fc88f100-151d-11eb-92aa-6dc6c923ceaf.png)

What is the Dedicated tier? Is it maybe the **Event Hubs Cluster** offerring?

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-10-23 10:00] stefandoh opened #64901 "Incorrect parameter in example 2 of #list-existing-app-consent-policies"
### Issue:

In following section there is an outdated or incorrect information for the command given:

### Verification:

When performing the command as given following result is returned:

[code]

### Resolution:

Changing the command to the following output is returned correctly. Please mind that the paremeter **-Id** was changed to **-PolicyId**.

[code]

### Tested version of module:
Verified

[2020-10-23 10:04] stefandoh opened #64902 "Incorrect parameter in example 3 of #list-existing-app-consent-policies"
### Issue:

In following section there is an outdated or incorrect information for the command given:

### Verification:

When performing the command as given following result is returned:

[code]

### Resolution:

Changing the command to the following output is returned correctly. Please mind that the paremeter **-Id** was changed to **-PolicyId**.

[code]

### Tested version of module:
Verified

[2020-10-23 10:08] HarithaMaddi-MSFT commented on #64900
@andyadamides - Thanks for posting the query. Please refer to this [document ](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-dedicated-cluster-create-portal) for getting the dedicated tier for Event Hubs cluster.

I am closing the issue now, please feel free to post for further queries.

[2020-10-23 10:12] HarithaMaddi-MSFT commented on #64899
@andyadamides - Thanks for posting the query. As mentioned below in [document](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-dedicated-cluster-create-portal#create-an-event-hubs-dedicated-cluster), the support request is needed for capacity larger than 1 CU.

`An Event Hubs cluster provides a unique scoping container in which you can create one or more namespaces. In this Preview ph

[2020-10-23 10:12] #64899 closed

[2020-10-23 10:13] tale-adents commented on #64869
I've added your option and no exception thrown, bulk seems to be on.

New tests was done on my machine as the client, in a new cosmos container, shared throughput, 25K RU autopilot, no change on indexing :
`{
    "indexingMode": "consistent",
    "automatic": true,
    "includedPaths": [
        {
            "path": "/*"
        }
    ],
    "excludedPaths": [
        {
            "path": "/\"_e

[2020-10-23 10:14] andyadamides commented on #64900
@HarithaMaddi-MSFT I merely opened this issue to highlight that mentioning Dedicated Tier in this page is confusing as there is no option for a "Dedicated Tier" in the Azure portal. You should remove this or rephrase this.

[2020-10-23 10:15] #64809 closed

[2020-10-23 10:15] HarithaMaddi-MSFT commented on #64892
@Derek1101 - Thanks for posting the query. I am moving it to content author to review and share their thoughts.

@msft-tacox - Can you please take a look?

[2020-10-23 10:18] AnuragSharma-MSFT commented on #64650
@RichWK We will now proceed to close this thread. Changes will live in few days once PR goes through approval process. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

Again, thanking you for pointing out the discrepancies.

[2020-10-23 10:18] #64650 closed

[2020-10-23 10:18] stefandoh commented on #62583
@RyanHill-MSFT Push

[2020-10-23 10:19] AnuragSharma-MSFT commented on #64875
@RichWK Changes will be live upon approval process of PR. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-10-23 10:19] #64875 closed

[2020-10-23 10:22] HarithaMaddi-MSFT commented on #64900
@andyadamides - Thanks for your contribution, I've addressed this issue in PR: MicrosoftDocs/azure-docs-pr#135171

The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2020-10-23 10:27] y0rik opened #64903 "Issue setting up global time zone on Azure database for mySQL"
Hello Azure Team,

I'm trying to set up global timezone for MySQL database service.
According to the article it's possible to set it in format 'Region/City', for example 'Europe/Rome': https://docs.microsoft.com/en-us/azure/mysql/howto-server-parameters#setting-the-global-level-time-zone

However, when I do this - I get an exception showing regex filter that doesn't allow this
![Screenshot 2020-10

[2020-10-23 10:48] #64900 closed

[2020-10-23 11:22] amit12cool opened #64905 "I cannot see MXChip IoT DevKit device template in Azure IoT centrall application"
As per the documentation [here](https://docs.microsoft.com/en-in/azure/iot-central/core/quick-create-simulated-device#add-a-device-capability-model) it asks to select MXChip IoT DevKit predefined device template but on the Azure IOT central application there is no such template named MXChip IoT DevKit

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-10-23 11:46] AnuragSharma-MSFT commented on #64883
@MS-jeremy Thanks for the valuable input to make the document correct.

We have updated the document content accordingly. The changes should be live once the PR is approved. You can review the PR meanwhile and let us know for any issue.

[2020-10-23 11:49] AnuragSharma-MSFT commented on #64896
@mloskot Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-23 11:50] sijucm commented on #14627
It is still not clear what is --aad-server-app-id, --aad-server-app-secret, and --aad-client-app-id. What I understood was that the service principal is the managed identity concept, but it ends up in the enterprise application list. I just cannot figure out the need of this complexity and the solution itself. What exactly is solved with all this? #Microsoft

[2020-10-23 11:56] lordlycastle commented on #21032
Why don't you close old documentation with the same amount of jest as you close incomplete issues.

[2020-10-23 12:29] siwon opened #64906 "Azure PostgreSQL GA"
Hi,

This feature looks great. Could we get an idea of the GA date?
Thank you very much.

Simon

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 789139e9-15bb-58a9-7dc3-bd85c0bcfee5
* Version Independent ID: cda59fed-f3ff-aa09-a13c-027a54e4141a
* Content: [Azure Database for PostgreSQL - Flexible Server](https://docs.mic

[2020-10-23 12:44] JeremyTBradshaw opened #64907 "Tokens always have expires_in = 3599"
Hello,

This issue is for the published article: https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-net-client-assertions

I have found that no matter what, when I get tokens back this way, they always have a 60 minute expiration.  It seems as though the 'exp' claim is just ignored.  I'm using total seconds since 1970-01-01 0:00 UTC up until UtcNow + some number of minutes.  It d

[2020-10-23 12:47] GitaraniSharma-MSFT commented on #64885
@rharris-hs , thank you for feedback. We'll review this and get back to you shortly.

[2020-10-23 12:48] GitaraniSharma-MSFT commented on #64890
@AleksandrReznik , thank you for your feedback, We'll review this and get back to you shortly.

[2020-10-23 13:00] GitaraniSharma-MSFT commented on #64698
@Sothecom , following up again, as we have not heard back from you. Could you please provide more details on this issue?

[2020-10-23 13:01] #64854 closed

[2020-10-23 13:01] KalyanChanumolu-MSFT commented on #64804
@ah-lf We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-10-23 13:01] #64804 closed

[2020-10-23 13:01] #64843 closed

[2020-10-23 13:12] nimai123 opened #64908 "Incremental load from Storage account to Azure SQL Database."
Can we do the incremental load form storage account as our source to Azure SQL Serverless Database as our destination?
I believe it is not possible just wanted to confirm if I am not wrong from a reliable source!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1d97ae7-50da-d422-1332-1493c8515b78
* Version Independent I

[2020-10-23 13:15] mikeelliottuk opened #64909 "Using the same server to forward syslog and CEF messages"
Hi,  Could this documentation please be enhanced to describe how to configure the server to forward both syslog and CEF message?

Many thanks.

Mike

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d26cf9cd-e6e4-a760-0d1a-bb7a5ff60412
* Version Independent ID: 27857ee4-0e9c-2aec-d104-573f31b8f7e3
* Content: [Deploy the l

[2020-10-23 13:37] onyand opened #64911 "Generating Authorization code"
I am following the document https://docs.microsoft.com/en-us/azure/active-directory-b2c/access-tokens

However, it does not generate the authorization code after replacing all placeholders below. The message I get on Postman is as follows: When I attempt on the browser nothing is returned.

<noscript>
		<div id="no_js">
			<div class="error_container">
				<div>
					<h1>We can't sign you in</h1>

[2020-10-23 13:39] msmbaldwin commented on #63324
These links have been l=fixed.  Thank you for bringing this to our attention! #please-close

[2020-10-23 13:39] #63324 closed

[2020-10-23 14:03] CarlKCarlK commented on #64649
Sure and thanks for looking into this.

First, can you remind me of the page I commented on. I didn’t write down the URL and I don’t see a link in this email.

  *   Carl

Carl Kadie
FaST-LMM & PySnpTools Team<https://fastlmm.github.io/>
(Microsoft Research and Microsoft Office, retired)

From: SwathiDhanwada-MSFT<mailto:notifications@github.com>
Sent: Thursday, October 22, 2020 9:21 PM
To: Micros

[2020-10-23 14:11] baanders commented on #64451
Hello @devedse , the article has now been updated. This section of code has been replaced with a new code sample, which should hopefully resolve your issue: [*Create a twin graph*](https://docs.microsoft.com/azure/digital-twins/how-to-manage-graph#create-a-twin-graph).

Since the affected section of code no longer exists, I'll now proceed to close this issue.
Please feel free to comment back with

[2020-10-23 14:11] baanders commented on #64451
#please-close

[2020-10-23 14:11] #64451 closed

[2020-10-23 14:15] MonikaReddy-MSFT commented on #64750
@Jason542 -
Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2020-10-23 14:15] #64750 closed

[2020-10-23 14:22] jonwbstr commented on #64838
The reservation continues to apply, and the client can see everything they could normally see. However, the refund option doesn't work. I haven't tried to transfer so can't comment on that.

[2020-10-23 14:23] jonwbstr commented on #64838
I'm honestly not sure the inability to manage the reservation after the transfer is by design.

[2020-10-23 14:32] SatishBoddu-MSFT commented on #64893
@jokarl
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-23 14:46] spelluru commented on #62875
Fixed the issue.
https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-features#publishing-an-event

#please-close

[2020-10-23 14:47] #62875 closed

[2020-10-23 14:48] spelluru commented on #61359
I added a note about replacing it with the connection string to the namespace, and an example.

#please-close

[2020-10-23 14:48] #61359 closed

[2020-10-23 14:51] EvilSmiff commented on #64856
I have this in azure-cli 2.13.  Downgrading to 2.12 resolves the issue for me.

[2020-10-23 14:54] frkmarko opened #64913 "How to modify or delete rules?"
This product does not appear to have a way to modify or delete rules after they have been deployed. If that's possible somehow, I certainly would appreciate that being included in this guideline. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c61c7bcf-ccd8-2ca2-7ee2-b75e66e87939
* Version Independent ID: 3fe101

[2020-10-23 14:55] spelluru commented on #57080
Fixed. #please-close

[2020-10-23 14:55] #57080 closed

[2020-10-23 14:56] TroyWitthoeft commented on #55802
I am landing here from the [ACR quickstart docs](https://docs.microsoft.com/en-us/azure/app-service/quickstart-custom-container?pivots=container-linux).  Users following the doc will encounter an error when trying to deploy a docker image from VSCode into an Azure App Service.
![image](https://user-images.githubusercontent.com/1102958/97018588-51783780-151d-11eb-8def-aba71b545251.png)

This AppSer

[2020-10-23 15:08] spelluru commented on #64363
Added a note for the Event Hubs connection string
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-managed-service-identity#use-service-bus-with-managed-identities-for-azure-resources

#please-close

[2020-10-23 15:08] #64363 closed

[2020-10-23 15:09] spelluru commented on #64032
Updated the Next Steps section

#sign-off

[2020-10-23 15:09] spelluru commented on #64032
#please-close

[2020-10-23 15:09] #64032 closed

[2020-10-23 15:16] xiaoyang-connyun opened #64915 "What will happen if the number of properties exceed the limit?"
Hi,

I have a question regarding the topic of the property limit. Is it only a limit of the warm storage? If there are more than 1000 properties in the ingestion pipeline, are they persisted to the cold storage still? If yes, can they be queried from the explorer via the cold storage query?
The scenario here is that there are many (more than 1000) properties in the ingestion pipeline, all of them

[2020-10-23 15:23] TroyWitthoeft opened #64916 "ACR admin alternative?"
It's a shame that we have to enable the ACR admin account to make this quickstart work.  @karolz-ms has made a suggestion [here](https://github.com/MicrosoftDocs/azure-docs/issues/55802#issuecomment-634915320) that service principals might me a more secure route than using the ACR admin account.   Does that work for us? Could we add an example of that?  Link to it, etc ... ?

[2020-10-23 15:24] bwateratmsft commented on #55802
Unfortunately, App Service simply doesn't support the ability to auth to ACR using service principles (even though ACR *does* support being auth'd to by service principles). The App Service team needs to do the work to support this. I absolutely agree that this is not an ideal security practice so I'd like to see it fixed as well.

[2020-10-23 15:24] tjrobinson commented on #50339
Another reason for making the old versions available is so that local development data can be kept. For example:

1. I am currently running version X - but I need to move to a new PC. I'd like to take my existing local development data with me.
2. I set up my new PC but only version Y is available. I have a copy of `C:\Users\<username>\AppData\Local\CosmosDBEmulator` from version X but it's incomp

[2020-10-23 15:26] TroyWitthoeft commented on #55802
@bwateratmsft  Oof, bummer.  Alright, it sounds like it is potential work for the app service team.   Appreciate the quick response.

[2020-10-23 15:28] TroyWitthoeft commented on #64916
Closing issue.  @bwateratmsft is indicating that even service principals won't work either.   Bummer.

[2020-10-23 15:28] #64916 closed

[2020-10-23 15:37] MarileeTurscak-MSFT commented on #64902
@stefandoh
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-23 15:38] hepiet opened #64917 "Adding limitation for WebJobs"
Once  source control is configured with your application a WebJob can't be add from the Azure Portal.
Following error message will pop up: "WebJob cannot be added from portal if deployment form source control is configured."

If you have source control configured with your application, the WebJobs should be deployed as part of the source control integration.

---
#### Document Details

⚠ *Do not e

[2020-10-23 15:38] MarileeTurscak-MSFT commented on #64901
@stefandoh
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-23 15:38] JamesTran-MSFT commented on #64895
@savas87
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-23 15:39] MarileeTurscak-MSFT commented on #64889
@mheidingsfeld
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-23 15:40] MatsAnd opened #64918 "validate-jwt not validating AAD token"
I'm having trouble getting my APIM policy to validate JWT tokens from my AAD OAuth 2.0 login..

I have followed the instructions in [the documentation](https://docs.microsoft.com/en-us/azure/api-management/api-management-access-restriction-policies#azure-active-directory-token-validation), but I'm always getting a 401 error in return regarding of what I put into the Authorization header. Is the do

[2020-10-23 15:40] JamesTran-MSFT commented on #64911
@onyand
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-23 15:41] JamesTran-MSFT commented on #64898
@bakerm00
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-10-23 15:42] SwathiDhanwada-MSFT commented on #64649
@CarlKCarlK [This](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/regional-quota-requests) is the document you have commented on and [this](https://github.com/MicrosoftDocs/azure-docs/issues/64649) is the GitHub issue that you have raised.

[2020-10-23 15:44] mikescar opened #64919 "missing spaces around some words."
gobig, etc

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0aa301a8-0a6a-de92-59aa-a0eeebdd454d
* Version Independent ID: 2cf048e7-ec81-7173-ac26-a5e07ed4755b
* Content: [Build migration plan with Azure Migrate - Azure Migrate](https://docs.microsoft.com/en-us/azure/migrate/concepts-migration-planning)
* Content Source:

[2020-10-23 15:45] MarileeTurscak-MSFT commented on #64898
Hi @bakerm00 ,

The implications of Guest Access to Sharepoint Online and Teams are discussed in these articles:

[Guest access in Microsoft Teams
](https://docs.microsoft.com/en-us/microsoftteams/guest-access)
[Create a secure guest sharing environment
](https://docs.microsoft.com/en-us/microsoft-365/solutions/create-secure-guest-sharing-environment?view=o365-worldwide)[Manage guest access in Mic

[2020-10-23 15:46] SwathiDhanwada-MSFT commented on #64710
Assigning to content author @lgayhardt for review and document enhancement consideration.

[2020-10-23 15:48] SwathiDhanwada-MSFT commented on #64919
@mikescar Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-23 15:53] RichWK commented on #64875
Hi @AnuragSharma-MSFT — can I ask what the changes are?

That link **does** contain valuable information, so it should stay in the article. I was really just seeking confirmation as to whether that JSDoc build from 2018 is still the most recent one available.

(Apologies, I should've been clearer in my original wording.)

[2020-10-23 15:58] writex opened #64920 "Define P2S"
Please define P2S before it is used. You can do it by changing this sentence:
Point-to-Site connections use certificates to authenticate.

To:

Point-to-Site connections (P2S) use certificates to authenticate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63df9645-af2c-3cfc-8f65-413912d88efe
* Version Independent ID:

[2020-10-23 16:02] writex opened #64921 "Run certmgr from PowerShell"
At this point in the article, users are already in PowerShell so it may be better to change this sentence from:

You can view the certificate by opening certmgr.msc, or Manage User Certificates.

To:

You can view the certificate from PowerShell by running the command certmgr, or from Windows Search by opening certmgr.msc, or Manage User Certificates.

---
#### Document Details

⚠ *Do not edit thi

[2020-10-23 16:03] Karishma-Tiwari-MSFT commented on #64916
Thanks for sharing the update.

[2020-10-23 16:05] SkipSailors opened #64922 "Should there not be an Azure Powershell version of the "Sign in to Azure" step 1?"
Should there not be an Azure Powershell version of the "Sign in to Azure" step 1? There is a Connect-AzAccount command that would work, yes?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 456ee039-fa15-fe11-a002-2b96a43dd4df
* Version Independent ID: d7af3367-f35d-a9b1-f0d4-b32f5355c288
* Content: [Quickstart - Azure K

[2020-10-23 16:07] #64882 closed

[2020-10-23 16:16] RyanHill-MSFT commented on #62583
Hi @stefandoh I'll check with the content author.

[2020-10-23 16:20] bakerm00 commented on #64898
no

you need to discuss the implications of tenant restrictions and guest collaboration sharing in your page...

if implementing tenant restrictions prevents tenant to tenant collaboration - then you have a fundamental problem that needs to be mentioned.

________________________________
From: Marilee Turscak - MSFT <notifications@github.com>
Sent: 23 October 2020 16:45
To: MicrosoftDocs/azure-doc

[2020-10-23 16:31] kipascal opened #64924 "Switzerland Regions missing- Region Support Tab"
hi, in the Region Support Tab, Switzerland North and West is missing in the "Europe" Cluster.
Can you please add this to the doc.

Thanks & regards
pascal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34d0f2df-de85-c6ab-eb01-f8e028b7f108
* Version Independent ID: 5acb187c-f280-5c7d-14fc-7f07160cd50b
* Content: [Suppor

[2020-10-23 16:34] asergaz commented on #64915
Hello @xiaoyang-connyun , thank you for the great question! I am checking with the team if this is planned or\and can be added in this doc. In the meantime did you check for any similar request on [Azure Time Series Insights feedback forum](https://feedback.azure.com/forums/906859-azure-time-series-insights)?

Thanks!

[2020-10-23 16:35] JamesTran-MSFT commented on #64922
@SkipSailors
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-23 16:36] mike-urnun-msft commented on #64888
@ahollandusc Thank you for your feedback! We will review and update as appropriate.

[2020-10-23 16:37] JamesTran-MSFT commented on #64895
@savas87
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-10-23 16:37] mike-urnun-msft commented on #64897
@Max-Eriksson Thank you for your feedback! We will review and update as appropriate.

[2020-10-23 16:38] mike-urnun-msft commented on #64918
@MatsAnd Thank you for your feedback! We will review and update as appropriate.

[2020-10-23 16:42] SadiqhAhmed-MSFT commented on #64924
@kipascal Thanks for the question. Switzerland West reserved for Switzerland North for in-country disaster recovery and these regions fall under restricted regions category.

![image](https://user-images.githubusercontent.com/44458118/97030710-cb8bd900-157c-11eb-94f4-25a3006a84ed.png)

Refer to - https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-support-matrix#region-support

[2020-10-23 16:45] kipascal commented on #64924
Thanks for your super fast reply!

I agree, but still, I can do a DR case from Switzerland North to Europe West for example. (I just tested it, it is possible).
As of my knowledge, only Switzerland West is a restricted region for bringing DR workloads from Switzerland North.

[2020-10-23 16:45] SaiKishor-MSFT commented on #64921
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-23 16:53] zxue commented on #64870
Thanks for the feedback. Azure API for FHIR defines and uses its own roles for authorization, which grants the application level permission(s), thus the least privilege.

[2020-10-23 16:56] CarlKCarlK commented on #64649
Thanks for

  *   your quick reply with the link to the article
  *   offering an easy way to give feedback
  *   the quality of your writing (I suspect my issue is more with how the Azure web site is set up than anything specific to your page.)

Here is what I think would make the page and Azure better:

There is currently a long section -- 2 or 3 screen’s full of information – that details how “

[2020-10-23 17:02] tdvenky commented on #64861
do you mean this documentation: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/batch-transcription

I do not see any 'support' area in there. I am only seeing a feedback section which is where I found the link to this page. Could you please post the link to the support area here?

[2020-10-23 17:19] crystalgeek commented on #63282
@AjayKumar-MSFT
I experienced the following scenario

Create an app service plan (A)
Add multiple App Services
Associated app services with subnet

Create new app service plan (B)
Move a single app service to new app service plan (A to B)
Vnet / Subnet integration remains on both app services in app service plans A & B

If I create a new app service in app service plan B - I can not integrate this

[2020-10-23 17:20] ChaitanyaNaykodi-MSFT commented on #64469
Hello @zaalion, thank you for the confirmation. I got an update from the team internally and they have acknowledged it as a known issue and a fix will be rolled out soon. The current timeline is first week of November.
I will now proceed to close this issue out, please tag me in your reply if there are any further concerns. Thank you.

[2020-10-23 17:20] #64469 closed

[2020-10-23 17:20] elraikhm opened #64926 "Demo instructions did not work for users outside of Microsoft"
During the Azure SDK use study, 3 of the participants complained they could not access the demo with their accounts.
Contact elraikhm if more details are needed
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfe39a4a-dc2e-d5de-6c3a-997d74474797
* Version Independent ID: 9a1609d8-a2aa-dd94-d88e-8cdd413f322d
* Content: [S

[2020-10-23 17:33] mrbullwinkle commented on #64926
I was able to repro the issue with my personal account, and have looped in the PM/Engineering team on an e-mail thread to investigate further.

[2020-10-23 17:44] mrbullwinkle commented on #64926
Assigning to PM owner:

#assign:L3vin

[2020-10-23 17:48] ajlam commented on #64903
Hi @y0rik, to use a "named timezone" like "Europe/Rome", you will first need to load the time zone tables by calling `CALL mysql.az_load_timezone();` first. You can learn more in the time zone section of this article: https://docs.microsoft.com/azure/mysql/howto-server-parameters#working-with-the-time-zone-parameter

[2020-10-23 18:01] jlichwa commented on #63406
Fixed #please-close

[2020-10-23 18:01] #63406 closed

[2020-10-23 18:03] subodhpatil opened #64928 "Need to put clarity that FQDN Tag does not include last two IPs"
[Enter feedback here]

With FQDN Tag it is assumed that all URLs and IP are included, but which is not the case. Please update the document to clearly indicate what else needs to be added specifically even after adding FQDN "Window Virtual Desktop". E.g. even after adding the FQDN users must explicitly add a network rule in the firewall to allow traffic to 169.254.169.254 and 168.63.129.16 on port

[2020-10-23 18:15] xiaoyang-connyun commented on #64915
Thanks @asergaz .
Yes, but at least I did not find anything related.

[2020-10-23 18:17] kennethvs opened #64929 "Please provide some more information about restore scenario's"
Hi,

Just had to restore my authenticator app because of a new phone. For the re-verification this documentation page provides clear information.

I didn't find any information though on how to do this for external tenant where my work account is a Guest user, eventually figured out that you need to go to: https://account.activedirectory.windowsazure.com/r#/profile switch to the profile and if eve

[2020-10-23 18:22] alevincenzi commented on #57689
Hello @SatishBoddu-MSFT.

The issue with Azure Storage Explorer is solved. Had to downgrade.

The problem persists when i run the example provided here:

[code]

The code is taken from this page: https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-dotnet

You can setup with:
[code]

I am running the module `mcr.microsoft.com/azure-blob-storage:1.3-linux-amd64`.

And I get

[2020-10-23 18:23] SubhashVasarapu-MSFT commented on #64920
@writex, Thanks for reaching out. We will investigate and update this thread.

[2020-10-23 18:27] WinstonHoward-MSFT commented on #64615
Assigning to doc author for new code snippets.

[2020-10-23 18:37] BigPeeg opened #64930 "Unable to use sample code due to errors"
[code]
I've tried this command in powershell and az cli but cannot get the string delimiting correct in the 'protected-settings' argument.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b81a147-db1c-b92f-88d1-6dd0991a72fe
* Version Independent ID: f5a2c949-498f-5848-d89c-031d1a757120
* Content: [SSH into Azure Kuberne

[2020-10-23 19:02] datocrats-org commented on #51639
In the Configuration Startup Command field I added `npm run build` as this is what I would use to run the production build of the Vue app locally. The scripts section of default Vue application built using the vue-cli is below, it does not include npm start
[code]
When making this change the page now loads as
:( Application Error
If you are the application administrator, you can access the diagnos

[2020-10-23 19:04] WinstonHoward-MSFT commented on #64692
mcurko, Yes the example in the doc seen below specifies which subsections of the CertDNSName should be used.

[code]

Closing this issue as the doc guidance and examples are correct.

[2020-10-23 19:04] #64692 closed

[2020-10-23 19:14] SubhashVasarapu-MSFT commented on #64498
@bansalsaket, Appreciate your patience. We have assigned this issue to the SME for providing better insights.

[2020-10-23 19:15] SubhashVasarapu-MSFT commented on #64581
@SteveBurkettNZ, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-10-23 19:15] #64581 closed

[2020-10-23 19:17] MarileeTurscak-MSFT commented on #64902
Thanks for this! I'm closing this out because it looks like someone updated this 9 hours ago. The change aligns with existing documentation.

[2020-10-23 19:17] #64902 closed

[2020-10-23 19:17] MarileeTurscak-MSFT commented on #64901
Thanks! Closing this out because someone updated this document 9 hours ago and added the change.

[2020-10-23 19:17] #64901 closed

[2020-10-23 19:25] lyrana commented on #64886
Thanks Alex

[2020-10-23 19:27] SubhashVasarapu-MSFT commented on #64520
@Bence98007, appreciate your patience. We have assigned this issue to the respective P2S SME for better insights.

[2020-10-23 19:28] ealsur commented on #64869
@tale-adents Are you running your project inside Visual Studio through a debug session? Can you run it in a real scenario (for example, running a Release compilation on command line `dotnet run -c Release`)? VS tends to hook to GC and generate high CPU consumption. The new Bulk SDK leverages a lot more the available CPU and starvation is not ideal. Basically the performance bottleneck can become t

[2020-10-23 19:31] SubhashVasarapu-MSFT commented on #64508
@SGGIRBS, I have reproduced this lab where it looks like there is abnormal behavior of connection fluctuations. I would suggest you drop a mail at AzCommunity@microsoft.com referencing the link to this GTIHUB post as well as engineer you are working with (Subhash Vasarapu) in this case for further analysis.
We are closing this issue for now. If there are further questions regarding this matter, pl

[2020-10-23 19:31] #64508 closed

[2020-10-23 19:40] tale-adents commented on #64869
@ealsur what a crazy thing!
Yes, my first test was on a debug session in VS Code, and the second with the test code in VS but still in develop.
Run in release, i have a result like yours :
![image](https://user-images.githubusercontent.com/71796263/97046755-253dd480-1578-11eb-9983-dd1ccf2e0f02.png)

I will give it a try on a release environment of our application in AKS

[2020-10-23 19:40] SubhashVasarapu-MSFT commented on #64645
@bfrasertech, Appreciate your patience. I have tested this in my lab where I can see that X-AS-prefix headers are being added in absence of Front Door.

![image](https://user-images.githubusercontent.com/44890829/97046563-32b58780-1595-11eb-986b-879a69ecd497.png)
Also, the same has been mentioned on the doc say, any headers sent to Front Door from the backend are also passed through to the client.

[2020-10-23 19:40] #64645 closed

[2020-10-23 19:45] vikramdadwal opened #64933 "Set an ACL recursively is not supported using C# SDK ?"
[Enter feedback here]
Set an ACL recursively is not supported using C# SDK ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3aa443a-b30f-2914-5cb8-b032be075c07
* Version Independent ID: ece80543-b5c2-7415-776c-06cdf55d2006
* Content: [Set ACLs recursively for Azure Data Lake Storage Gen2](https://docs.microsoft.com/en

[2020-10-23 19:45] vikramdadwal opened #64934 "Set an ACL recursively is not supported using C# SDK ?"
Set an ACL recursively is not supported using C# SDK ?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d24f0e5c-4677-457a-5f14-98c44e7157f3
* Version Independent ID: 35ec5bb0-5969-c3e1-3611-b06a8e2566ea
* Content: [Azure Data Lake Storage Gen2 .NET SDK for files & ACLs](https://docs.microsoft.com/e

[2020-10-23 19:48] SubhashVasarapu-MSFT commented on #64848
@bakes82, Appreciate your patience. This fig is for a quick view of Caching rules page,

![image](https://user-images.githubusercontent.com/44890829/97047284-5927f280-1596-11eb-80c7-c39348294a2b.png)

The below one represents the configured settings that were aligned with the text.

![image](https://user-images.githubusercontent.com/44890829/97047412-8e344500-1596-11eb-8d0a-5c2f933be506.png)

Hope

[2020-10-23 19:53] BharathNimmala-MSFT commented on #64557
@janneraj Apologies for the delay in getting back to this thread.

Using the [ActivityLogTemplate.json](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/activity-log#enable-the-solution-for-new-subscriptions) in the document with one change of the log analytics workspace name (below is the copy for the same, please change it to json if you want to use ) , was able to deploy the templa

[2020-10-23 19:53] #64557 closed

[2020-10-23 19:56] MarileeTurscak-MSFT commented on #64781
Thanks! It's mentioned in the article that they have an integrated license, but I made a pull request to link to the licensing agreement page.  https://github.com/MicrosoftDocs/azure-docs-pr/pull/135269

If you feel that more should be added feel free to make an additional pull request to the article.

[2020-10-23 19:56] #64781 closed

[2020-10-23 19:59] billmath commented on #41574
@mrik23  Thanks for your feedback; we appreciate it. To make sure we have all the information let us know.  Until then we are going to go ahead and close this.  Thank you.  #please-close

[2020-10-23 19:59] #41574 closed

[2020-10-23 20:00] billmath commented on #52019
@AlexCesarini, thanks for the suggestion! The product teams aren’t always watching this repository, so to make sure it gets in front of them for triage, please [submit your idea]( https://feedback.azure.com/forums/34192--general-feedback) here.

#please-close

[2020-10-23 20:00] #52019 closed

[2020-10-23 20:02] billmath commented on #52068
@lightupdifire  Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

#please-close

[2020-10-23 20:02] #52068 closed

[2020-10-23 20:03] billmath commented on #52116
@amasse3 Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

#please-close

[2020-10-23 20:03] #52116 closed

[2020-10-23 20:04] SubhashVasarapu-MSFT commented on #64920
@writex, Appreciate your feedback. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-10-23 20:04] #64920 closed

[2020-10-23 20:05] rolyon commented on #42653
Hi @maweeras-msft
Thanks for your feedback. I've created a work item to track this with the product team.
thanks

[2020-10-23 20:05] rolyon commented on #42653
#please-close

[2020-10-23 20:05] #42653 closed

[2020-10-23 20:17] billmath commented on #52595
@CeciAC Thanks for your feedback; we appreciate it. I need additional information to understand exactly what you are trying to do.  Thank you.  If you are trying to create an AD environment based on what you have in AzureAD, Azure AD Connect does not do this.  Let me know.  I am going to close this until then.  Thank you!

#please-close

[2020-10-23 20:17] #52595 closed

[2020-10-23 20:17] ealsur commented on #64869
The problem is VS tends to hook on things like TraceEvents or GC events, and that hogs CPU, and the new Bulk uses Task parallelization (so it relies mostly on CPU). When CPU is starved (which would happen in VS session), then the performance is degraded. That's why I was asking on running it on a real scenario or at least, outside of VS and on Release mode.

[2020-10-23 20:18] billmath commented on #52635
This has been added.  Thanks!

#please-close

[2020-10-23 20:18] #52635 closed

[2020-10-23 20:19] billmath commented on #52736
This is is being investigated.  You can also find updates to the health agent in the Azure AD Connect release notes.  https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-version-history

Thanks!

#please-close

[2020-10-23 20:20] #52736 closed

[2020-10-23 20:23] rolyon commented on #57587
Hi @ezYakaEagle442
Thanks for the feedback. I've created a work item to track this with the product team. I'll update the docs as appropriate.
thanks

[2020-10-23 20:23] billmath commented on #52745
@DeanGross Thank you for the feedback.  I have created a work item to investigate this.  I am going to go ahead and close this now and will re-open this once I have made some updates.  Thanks!

#please-close

[2020-10-23 20:23] #52745 closed

[2020-10-23 20:23] rolyon commented on #57587
#please-close

[2020-10-23 20:23] #57587 closed

[2020-10-23 20:25] billmath commented on #52837
@trdavid20 thanks for the suggestion! The product teams aren’t always watching this repository, so to make sure it gets in front of them for triage, please [submit your idea]( https://feedback.azure.com/forums/34192--general-feedback) here.

#please-close

[2020-10-23 20:25] #52837 closed

[2020-10-23 20:31] billmath commented on #52946
@josuvil No it is no longer supported.  The documentation has been updated and 2008 removed.  Thank you!

#please-close

[2020-10-23 20:31] #52946 closed

[2020-10-23 20:36] over2under3 opened #64937 "More granular instructions"
[Enter feedback here]

It would be nice if there were a few of the get commands results shown in a screenshot with an explanation of what the results mean.

This would be MUCH easier to understand if there were an example use case and a walk through of how to implement the use case was laid out in this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2020-10-23 20:39] barclayn commented on #30305
@shantanookirtane Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner. The encryption at rest content has gone through some updates since this submission.  If you feel that this issue is still a concern, please respond and let us know. If you determine another possible update to our documentation, please don’t hes

[2020-10-23 20:39] #30305 closed

[2020-10-23 20:43] rolyon commented on #58982
Hi @tomkuijsten
Glad that the links provide some help. I've created a work item to work with the product team to improve this article. Let us know if have any additional feedback.
thanks

[2020-10-23 20:43] rolyon commented on #58982
#please-close

[2020-10-23 20:43] #58982 closed

[2020-10-23 20:44] bakes82 commented on #64848
The issue is here:  It says 4hours but the 4 is in the Days box.
![image](https://user-images.githubusercontent.com/3197191/97052415-f6f7cf00-154e-11eb-937f-9bfbe50b2890.png)

[2020-10-23 20:45] curtand commented on #45175
@SychevIgor
Thanks for reaching out. I have a work item open for this fix but don't have an ETA due to current priorities. We're also working on a much broader solution to out of date screens. I will not be updating the documentation immediately. If you determine another possible update to our documentation, please don’t hesitate to reach out again. #please-close

@klawrawkz
.We recommend you reac

[2020-10-23 20:45] #45175 closed

[2020-10-23 20:46] barclayn commented on #32677
@kazshi Thank you for your feedback. The article had a lot of updates made to it. If you find other problems with it please let us know. #please-close

[2020-10-23 20:46] #32677 closed

[2020-10-23 20:48] curtand commented on #52665
Hi @Apoc70
Thanks for reaching out! The documentation has been updated.  If you determine another possible update to our documentation, please don’t hesitate to reach out again. #please-close

[2020-10-23 20:48] #52665 closed

[2020-10-23 20:52] eddiemon opened #64938 "KeyVault Secret version is not needed anymore"
On this page it is stated that the version of the secret is mandatory, but this is not longer true, the latest secret will be fetched if the version is left out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7feaa3d0-7233-a3cb-cb9b-a9a55b1f0d7a
* Version Independent ID: f41f9d51-52f8-1f45-1043-1344a3b74458
* Content:

[2020-10-23 20:56] stevestein commented on #64307
@BzSpi -  I dug in a little deeper and just updated the article with a bit more info because the statement I added yesterday was not 100% true.

It looks like copying from different tiered pools works, but not in every case. I haven't tried every combo and don't have the time to go deeper but here's some details from my test run.

-- basicdb is a single Basic db
-- the following statement **fails*

[2020-10-23 20:57] eddiemon commented on #64938
I guess this could be a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/42878

[2020-10-23 20:59] andy-crain-kr commented on #64424
Please reopen. @ChaitanyaNaykodi-MSFT, I have the same experience, i.e. following the steps in https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-maven-intellij verbatim, I am able to generate a function app project in Intellij and successfully run it locally, but despite [what is stated in the docs](https://github.com/MicrosoftDocs/azure-docs/blame/master/articles/azure-funct

[2020-10-23 21:02] MarkusVi commented on #61467
You can find information on conditional access policy activities in the sign-in logs.
The audit logs track only information about the service configuration - e.g.: creating, updating and deleting conditional access policies.

#please-close

[2020-10-23 21:02] #61467 closed

[2020-10-23 21:03] barclayn commented on #40032
@kubaseai Thank you for reaching out. Unfortunately, at this time we have been unable to review your issue in a timely manner. If you feel that this issue is still a concern, please respond and let us know. If you have a suggested update to our documentation, please don’t hesitate to reach out again. #please-close

[2020-10-23 21:03] #40032 closed

[2020-10-23 21:06] barclayn commented on #45107
@marckassay thank you for your feedback. We have recently made updates to the overview that we hope help address the issue you brought up. If you feel that this is still a problem please let us know. If you have another suggestion for how we may improve our documentation, please don’t hesitate to reach out again. #please-close

[2020-10-23 21:06] #45107 closed

[2020-10-23 21:11] BMichaelJ opened #64939 "Add additional email recipients for a smart detection rule example not working"
The ARM example for "Add additional email recipients for a smart detection rule" does not work

Getting this message:
""Error parsing template. Please ensure template is valid JSON. Invalid symbol at position 625. Invalid symbol at position 631. ""

And validating with other services I get this:
Error: Parse error on line 20:
...			"customEmails": [random@mail.com],
-----------------------^
Expect

[2020-10-23 21:24] JamesTran-MSFT commented on #64922
@SkipSailors
Thank you for your question!

You're right, you can use "Connect-AzAccount" to login to Azure. However, the doc linked to this question states:
![image](https://user-images.githubusercontent.com/36619112/97055154-1422a280-153b-11eb-8f19-b0ca75e1d647.png)

If you'd like to use the PS version, you can try referencing this:
[Quickstart: Set and retrieve a secret from Azure Key Vault usin

[2020-10-23 21:24] #64922 closed

[2020-10-23 21:28] DerekHerman-MSFT commented on #64934
@vikramdadwal
Where are you seeing that it is not supported?
There is a .NET tab here with an example: https://docs.microsoft.com/en-us/azure/storage/blobs/recursive-access-control-lists?tabs=dotnet#set-an-acl-recursively

You can also download a code sample here: https://docs.microsoft.com/en-us/azure/storage/blobs/recursive-access-control-lists?tabs=dotnet#code-samples

[2020-10-23 21:28] DerekHerman-MSFT commented on #64933
duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/64934

[2020-10-23 21:28] #64933 closed

[2020-10-23 21:31] SQLtattoo opened #64940 "Wrong term used that confuses"
Hello,
 on this page, below the image, it reads "Though each network interface in this example is a member of only one **network security group**, a network interface can be a member of multiple application security groups, up to the Azure limits."
I believe the **bold** part should read "application security group" and not "network security group".

---
#### Document Details

⚠ *Do not edit this

[2020-10-23 21:37] NavtejSaini-MSFT commented on #64772
@jabbera Please let us know if you need any further help regarding this.

[2020-10-23 21:39] jabbera commented on #64772
The second link was what I was looking for. Thanks!

[2020-10-23 21:40] NavtejSaini-MSFT commented on #64746
@MaxMelcher Please get back to us with more information regarding this issue.

[2020-10-23 21:48] NavtejSaini-MSFT commented on #64906
@siwon We are checking this and will get back to you.

[2020-10-23 21:49] jimt4593 opened #64942 "Configure App Insights SDK documentation is out of date for the current version of Visual Studio"
The Configure App Insights SDK documentation (https://docs.microsoft.com/en-us/azure/azure-monitor/learn/dotnetcore-quick-start#configure-app-insights-sdk) is out of date for the current version of Visual Studio 2019.  Please update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7f7156b-3478-9938-6596-3573034fd7f5
*

[2020-10-23 21:50] SaiKishor-MSFT commented on #64798
@RonnieQuan App GW v1 dos not support Zone Redundancy. Azure Application Gateway and Web Application Firewall (WAF) v2 is now available, offering additional features such as autoscaling and availability-zone redundancy. Hope this answers your question. Let us know if you have any further questions/concerns and we will be glad to assist you further. Thank you!

[2020-10-23 21:50] NavtejSaini-MSFT commented on #64772
@jabbera Thank you for the confirmation. We will go ahead and close the thread for now.

[2020-10-23 21:50] #64772 closed

[2020-10-23 21:51] vikramdadwal commented on #64934
@DerekHerman-MSFT : I am using the latest NuGet and I do not see any method named: "SetAccessControlRecursiveAsync" Please see the snapshot below:

![image](https://user-images.githubusercontent.com/10174566/97056989-21da2700-153f-11eb-8100-09ce3f15d92b.png)

[2020-10-23 21:52] spelluru commented on #43431
#in-progress

[2020-10-23 21:54] spelluru commented on #44005
#please-close

[2020-10-23 21:54] #44005 closed

[2020-10-23 22:00] DerekHerman-MSFT commented on #64934
It appears to be in the preview package. Azure.Storage.Files.DataLake v12.5.0-preview.1
https://docs.microsoft.com/en-us/dotnet/api/azure.storage.files.datalake.datalakepathclient.setaccesscontrolrecursiveasync?view=azure-dotnet-preview

[2020-10-23 22:04] vikramdadwal commented on #64934
@DerekHerman-MSFT : Thanks, Any ETA for GA ?

[2020-10-23 22:05] barclayn commented on #45778
#reassign:terrylan Assigning to Terry for her to consider the issue when updating the article.

[2020-10-23 22:06] PRMerger7 commented on #45778
terrylan is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-10-23 22:07] barclayn commented on #45778
#reassign:terrylanfear

[2020-10-23 22:09] WinstonHoward-MSFT commented on #64770
Hi @mcurko,

I was able to build & deploy the example code and complete the tutorial. Can you please verify you have completed the prerequisites:

- Install Visual Studio 2019 version 16.5 or later with the Azure development and ASP.NET and web development workloads.
- Install the Service Fabric SDK

[2020-10-23 22:09] paulgarn commented on #55761
@Tarvinder91  - thanks for the input and apologies for the delay in response.

We don't understand the question.   Could you provide a more detailed explanation of what you are concerned about?  In particular the point about users sending attributes in the SAML response.  User's can't manipulate a SAML response themselves - at least if the audience app is validating the SAML assertion correctly.

[2020-10-23 22:10] barclayn commented on #48000
@david-jarman Thank you for your feedback. I have added this issue to an internal work item that we have created to collect all updates related to this article. We hope to be updating this article to include all relevant services.  #please-close

[2020-10-23 22:10] #48000 closed

[2020-10-23 22:11] BMichaelJ opened #64943 "A header or title description for each ARM template example would be nice"
The documentations would benefit from having a short text on what is different in the ARM template examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ef46ed0-e53c-c99e-ccfc-80f26f19820d
* Version Independent ID: e0ee52b9-7f31-02e4-d10e-c5f71ee801fe
* Content: [Create action groups with Resource Manager templates

[2020-10-23 22:16] rolyon commented on #64360
Hi @Bonnie-Chen95
Thanks for your feedback. It looks like the Microsoft.WorkloadMonitor resource provider has been updated. I'll work on refreshing the docs.
thanks

[2020-10-23 22:22] PatrickFarley commented on #64228
I've added the missing snippet to the docs
#please-close

[2020-10-23 22:22] #64228 closed

[2020-10-23 22:24] JamesTran-MSFT commented on #64744
@SAIMMINHAS
I just wanted to check in and see if you had a chance to review my previous post or if you have any other questions?

I'll go ahead and close out this issue. However, if you require further assistance, please feel free to tag or email me using the information above, and I'd be more then happy to continue working with you to solve this issue.

If you have any other questions, please let

[2020-10-23 22:24] #64744 closed

[2020-10-23 22:26] ealsur commented on #64869
@NavtejSaini-MSFT, you can probably close this issue as the performance is the expected under non-Debug scenarios. Debug builds within IDEs are not scenarios where tools are expected to produce high performance, it's just not the correct environment.

[2020-10-23 22:29] paulgarn commented on #46469
@cmgharris - thanks for your question.    This article describes a scenario where the user authenticates with a federated IdP, e.g ADFS and the SAML token that is sent from ADFS is then used to request an access token for MS Graph using the trust relationship between Azure AD and the federated IdP.   It's very specific to that use case and doesn't cover situations where applications get SAML token

[2020-10-23 22:32] NavtejSaini-MSFT commented on #64869
@ealsur Thanks for the information and help here. @tale-adents We are closing this issue for now. Please get back to us if you need any further help.

[2020-10-23 22:32] #64869 closed

[2020-10-23 22:37] tale-adents commented on #64869
@ealsur  Thanks for your help. I did not think that the debug could impact so much. My dev team will not appreciate the change ;)
I'm currently under a load testing on an AKS env in release mode. global performance is not bad, seems to be a little bit less than bulk executor library but very close.
I will continue testing and try some improvments in our workflow with new bulk mode. If i have a pro

[2020-10-23 22:43] darkn3rd opened #64945 "Instructions for NFS Fail and --storage-account option omitted"
When running the command as per instructions:

[code]

This will fail with:

[code]

I am confused to what `--account-name` represents given there is a requirement for `--storage-account`.

I referenced this with `az storage share-rm create --help` and I don't find either `--account-name` or ` --account-key` in the help guide.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-10-23 22:47] NavtejSaini-MSFT commented on #64769
@SharmainePopov Only info required is to how to run the PATCH command. Please use this document https://docs.microsoft.com/en-us/rest/api/azure/ for checking how to run the PATCH command.

[2020-10-23 22:48] darkn3rd opened #64946 "Instructions Fail as there's no --root-access option"
The instructions show an invalid option of `--root-access`

[code]

The help docs document a `--root-squash` option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a888b024-cae0-d9d7-d593-580b080f1b46
* Version Independent ID: fa3bfa5c-b539-d2ea-48ce-00f63a8bf99e
* Content: [Create an NFS share - Azure Files](https://d

[2020-10-23 22:56] JamesTran-MSFT commented on #64929
@kennethvs
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-23 23:06] chieftn commented on #64893
@jokarl - thank you for raising the issue.  We are investigating the CLI issue you raised.  In the meantime, the portal does allow the Edge Hub 1.1 settings to be applied to both devices and deployments.  These fields are available by default on new deployments and devices.  If you'd like to set a device or cloned deployment to use the new schema:
1.) from the Create Deployment or Set Modules view

[2020-10-23 23:10] DerekHerman-MSFT commented on #64934
@vikramdadwal unfortunately I do not have an ETA for GA of the feature.

[2020-10-23 23:10] #64934 closed

[2020-10-23 23:10] cbtboss opened #64947 "net use should have the /user:Azure\storagename THEN access key. If you put Key first it will be unhappy."
The article says to use
`net use y: \\<storageaccount>.file.core.windows.net\<sharename> <access key> /user:Azure\<accountname>`
It should be:
`net use y: \\<storageaccount>.file.core.windows.net\<sharename> /user:Azure\<accountname> <access key>`
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 697

[2020-10-23 23:10] Karishma-Tiwari-MSFT commented on #64930
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-23 23:10] YutongTie-MSFT commented on #64635
@realAngryAnalytics Thanks for the feedback again, I will reach out to the author for the PR review.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-10-23 23:10] #64635 closed

[2020-10-23 23:19] zgoey commented on #52412
I had a similar problem, and in my case it helped to create a compute cluster instead of a compute instance.

[2020-10-23 23:22] jesuspsalas2 opened #64948 "Updating the ML/AKS Load Balancer to Internal cause the FQDN to not resolve to the internal IP"
(Using the latest Az Cli and Az Ml)

When updating an Attached AKS to use an internal vNet for the load balancer IP (azureml-fe) (from CLI) the DNS record is not updated (is removed) causing the Health Checks from the ML Workspace to fail (setting the EndPoint as 'Unhealthy' and the deployment pipelines (az ml model deploy) to fail when trying to validate the EndPoint after the deployment is compl

[2020-10-23 23:23] MarileeTurscak-MSFT commented on #64907
@JeremyTBradshaw
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-23 23:26] Grace-MacJones-MSFT commented on #64820
yes, I was able to confirm with the engineering team that Azure Repos will be supported in the future in Deployment Center (preview).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-23 23:26] #64820 closed

[2020-10-23 23:29] MarileeTurscak-MSFT commented on #64905
@amit12cool
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-23 23:38] barclayn commented on #49289
@devudu Thank you for your feedback. I have added a note to the article that will hopefully will help future customers avoid issues due to permissions. #please-close

[2020-10-23 23:39] #49289 closed

[2020-10-23 23:39] MarileeTurscak-MSFT commented on #64905
Thanks! I made a pull request to update the document with the link. The DevKit is available here: https://www.seeedstudio.com/AZ3166-IOT-Developer-Kit.html

And the Quickstart is here: https://docs.microsoft.com/en-us/samples/azure-samples/mxchip-iot-devkit-get-started/sample/

https://github.com/MicrosoftDocs/azure-docs-pr/pull/135316

[2020-10-23 23:39] #64905 closed

[2020-10-23 23:40] MarileeTurscak-MSFT commented on #64909
@mikeelliottuk
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-23 23:42] Karishma-Tiwari-MSFT commented on #64695
@erikadoyle Do you happen to know someone who could help with this issue with the template? Thanks :)

[2020-10-23 23:44] barclayn commented on #54508
@VivekDevops Thank you for calling this out. We have created a work item to track this issue internally and make the necessary updates. #please-close

[2020-10-23 23:44] #54508 closed

[2020-10-23 23:44] JamesTran-MSFT commented on #64937
@over2under3
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-10-23 23:55] TravisCragg-MSFT commented on #64940
@SQLtattoo This statement is correct, and is meant to establish that a NIC can only have one NSG attached, but can be a part of multiple ASGs. Please let me know if you have any additional questions.

[2020-10-23 23:59] #64828 closed

[2020-10-24 00:00] SaiKishor-MSFT commented on #64682
@matthewhart-TMG

Thanks for your patience while we were looking into this issue. I tried to replicate the issue and am getting the same error if I am using the default settings too. This is because when you are launching the VM and using default settings, the vnet address range is being used up fully by the subnet of the VM that you are launching.

Example: VNET created with address range 192.168

[2020-10-24 00:03] barclayn commented on #59673
@gary918 Thank you for your feedback. I have created an internal work item for us to track and prioritize when looking at creating additional documentation. #please-close

[2020-10-24 00:03] #59673 closed

[2020-10-24 00:04] NavtejSaini-MSFT commented on #64249
@varunsharmas We will be going ahead and closing this issue. Please let us know if you have any other question.

[2020-10-24 00:04] #64249 closed

[2020-10-24 00:06] TravisCragg-MSFT commented on #64928
@subodhpatil Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-10-24 00:06] SaiKishor-MSFT commented on #64389
@0xThiebaut Please let me know if the above suggested work around works for you or if you need any further assistance. Thank you!

[2020-10-24 00:08] NavtejSaini-MSFT commented on #64573
@ketaanhshah Hope you were able to check if the solution by @eliog is working for you or not.
But also at this stage we will bring our SME/Doc author to weigh in on this and provide guidance.

@rohitnayakmsft Please help regarding this issue.

[2020-10-24 00:08] barclayn commented on #64393
@MatthewSteeples Thank you for your feedback. We are working on updating the article to reflect the current state of support for managed identities by various resource providers.  #please-close

[2020-10-24 00:08] #64393 closed

[2020-10-24 00:09] NavtejSaini-MSFT commented on #64610
@SnehaGunda Please look further into this.

[2020-10-24 00:19] ChaitanyaNaykodi-MSFT commented on #63899
Hello @carlo-quinonez,  yes you should be able to use the Message class with the IoT hub binding, I used the getByte() & getData() methods from message class mentioned above and send them as events using IoT hub output binding. You can find some additional information here about routing [endpoints on Event Hub](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-messages-d2c#routing-en

[2020-10-24 00:19] #63899 closed

[2020-10-24 00:20] digimaun commented on #64893
@jokarl Until there is a fix for the CLI, as a short-term workaround you can try using the `--layered` switch for the `az iot edge deployment create` command.

[2020-10-24 00:43] ketaanhshah commented on #64573
@NavtejSaini-MSFT I posted my response its different scenario than @eliog tested. And I dont want Rohit to respond back to me saying OPEN SUPPORT CASE. As this is straight forward implementation per documentation  I hope Microsoft is able to get it to work instead of passing ball and asking ti open support case. Simple solution nothing complex and I hope experts from Microsoft can reproduce it ins

[2020-10-24 00:50] Soccer8 opened #64951 "User Flows menu option not showing"
[Enter feedback here]

![image](https://user-images.githubusercontent.com/61966132/97064013-f0b92f80-15ee-11eb-917e-036290a4d60f.png)

There is no "User Flows" option under the "Policies" section.
---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e64957b2-62c1-a751-5a18-3f30e2926104
* Version Independent ID: dae827dc-ff96-

[2020-10-24 00:58] Svijay-msft commented on #64908
Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-10-24 01:08] ChaitanyaNaykodi-MSFT commented on #64703
Hello @BassFaceIV, Thank you for pointing out the typo, I will make a PR to fix it. But I was not able to create domain names "Microsoft" & "System" as shown below.
![EgMicrosoft](https://user-images.githubusercontent.com/67453298/97064307-c5383580-1559-11eb-8de1-eed975c1c54a.JPG)
![System](https://user-images.githubusercontent.com/67453298/97064316-cd907080-1559-11eb-90ec-0bdb16d558d8.JPG)
 Can y

[2020-10-24 01:10] Svijay-msft commented on #64938
Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-10-24 01:13] Grace-MacJones-MSFT commented on #64917
Hi @hepiet , thanks for the feedback! We will update the docs shortly. can you please share which source control you configured with your app when you got that error message so we can repro it on our end?

[2020-10-24 01:32] patatas opened #64953 "No powershell command was provided"
All sample scripts provided in this page are for Bash only
![image](https://user-images.githubusercontent.com/16602605/97064865-f9ecd100-15db-11eb-90ce-30930cbbba03.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cad5909e-e1c6-aa8e-82f1-f2851c1caced
* Version Independent ID: 42292330-aa69-9df0-5bd7-e07c9daed995
* C

[2020-10-24 02:01] SwathiDhanwada-MSFT commented on #64939
@BMichaelJ Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-24 02:03] SnoWolfT commented on #64301
@WinstonHoward-MSFT , thank you for help!
@cynthn It's appreciated if you can provide some update on this issue! Thank you for your time and help!

[2020-10-24 02:31] hctrr opened #64955 "Turn on active learning Dead link"
Turn on active learning link is suppose to route to [https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/use-active-learning](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/use-active-learning), however it actually just routes to [https://docs.microsoft.com/en-us/azure/cognitive-services/QnAMaker/](https://docs.microsoft.com/en-us/azure/cognitive-se

[2020-10-24 02:34] mganeshphani opened #64956 "Missing redis cache related information on dns"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a88af182-32aa-a8f3-359d-b92ae1cfb8c7
* Version Independent ID: 01ce07fc-4bc2-def5-9ecd-a80330ad9488
* Content: [Azure Private Endpoint DNS configuration](https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-dns)
* Content Source: [articles/private-link/priva

[2020-10-24 02:40] BharathNimmala-MSFT commented on #64943
@BMichaelJ Thanks a lot for taking time to share your valuable feedback to improve our Azure documentation, we will review it with our document author and enhance the document accordingly.

[2020-10-24 02:48] BharathNimmala-MSFT commented on #64942
@jimt4593 Thank you for taking time to share your feedback to improve our Azure documentation. I have assigned this issue to our document author @lgayhardt to further evaluate the feedback and have a backlog item to update the document to reflect the screen shots with latest Visual Studio version.

[2020-10-24 03:12] EthanNguyen132 commented on #64424
I'm running Java function anyway. How is that dotnet has anything to do with the Java debugger :D
I'm able to debug with Eclipse.

[2020-10-24 03:38] peteralbanese opened #64957 "cache.StringGet"
error in code cache.StringGet(....) should be cache.GetString(....)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11d0f376-ce05-b7a6-8e31-d5a1bc0a0488
* Version Independent ID: 28844087-a4e9-e95c-9583-3ea9c7b47a83
* Content: [Quickstart: Use Azure Cache for Redis with .NET Core apps](https://docs.microsoft.com/en-us/a

[2020-10-24 03:51] anzaman commented on #64520
What protocol are you using for the VPN? do you have any DNS suffix set? https://docs.microsoft.com/en-us/windows/security/identity-protection/vpn/vpn-name-resolution#dns-suffix

[2020-10-24 04:11] JitMcCarthy opened #64958 "Customer Provided Feedback"
Hi -

This page was shared with one of my customers by a Premier Support Engineer. Customer went through the document and provided feedback below;

"I did find that the docs are not clear what to do when you have multiple Azure Billing Scopes. I was able to navigate to find what I think is the right Scope to download data. The docs refer to Selecting a Billing Profile or Billing Account. I was not

[2020-10-24 05:21] papadi opened #64959 "Base64 can return / which is illegal id character"
This page suggests using base64 to avoid illegal characters in ids. However, the / - which is an illegal character for ids - is a possible character when applying base64 encoding.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4762b1d-98f9-6c73-5f8b-2d35cdacc31d
* Version Independent ID: a6c61b80-7176-5e42-8b6f-39908f

[2020-10-24 05:27] rhendrie opened #64960 "Clarification regarding Function Apps and App Services "are required to be on a virtual network""
The page states that Azure App Services and Azure Functions "are required to be on a virtual network".  Are app services and functions running in a a vnet integrated App Service Plan considered to be "on a virtual network" or must they be hosted on an Isolated (ASE) instance?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-10-24 06:26] Svijay-msft commented on #64945
Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-10-24 06:30] Svijay-msft commented on #64946
Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-10-24 06:33] Svijay-msft commented on #64947
Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-10-24 06:40] AnuragSharma-MSFT commented on #64957
@peteralbanese Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-24 06:41] AnuragSharma-MSFT commented on #64959
@papadi Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-24 07:13] Svijay-msft commented on #64948
Thanks for leveraging Azure docs feedback channel to raise this question. Could you please share the Azure documentation for which this feedback is applicable to?

[2020-10-24 07:41] AnuragSharma-MSFT commented on #64875
@RichWK This new link contains the link of both the older link, and also the code related to stored procedures and triggers which the main article is talking about. If we check the below screenshot, it has the JSDocs link and as well as at the top it has the sample available for SPs, triggers and UDFs. So in nutshell, this covers just some more details.

![image](https://user-images.githubusercont

[2020-10-24 08:02] Svijay-msft commented on #64951
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-24 08:15] RiverPhillips opened #64962 "Specify Manage Access key is required for the most accurate scaling on Service Bus Trigger Page"
Is taken from documentation regarding scaling Azure Functions [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale).

I think it would be useful to update the trigger documentation to include this, as it's fairly unintuitive to have to find it on a different page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-10-24 09:18] jokarl commented on #64893
Completely missed this, we'll use this until our pipeline works with the new schema. Will also give the - -layered switch a try.

Thanks for the quick responses!

[2020-10-24 11:08] YutongTie-MSFT commented on #64913
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-24 12:34] Svijay-msft commented on #64953
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-24 12:44] khairulizwar7 opened #64963 "STRING"
Hi,

I automated the process from kaizala to sharepoint (data storing). Kaizala answer type multiple, picture, location require me to string (answerxx). The problem in sharepoint recorded with `<div class="ExternalClass1C3ABF99EA95464AA0BDC26F766175ED">YES</div>`

How to a avoid this, the actual answer is just YES.

thank you !
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this

[2020-10-24 12:48] Svijay-msft commented on #64956
Thanks for leveraging Azure docs feedback channel to raise this question. Could you please share the information you are looking for ?

[2020-10-24 14:09] komandurikc opened #64965 "Same word repeated twice"
[Enter feedback here]

The word `Primary` was repeated twice in the question `What is a primary key?`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75154d08-47ff-fa53-1dab-73f67208a864
* Version Independent ID: dcb50b3c-b00b-cee8-3dfe-7f5636483f0b
* Content: [Frequently asked questions on different APIs in Azure Cosmo

[2020-10-24 14:19] #64965 closed

[2020-10-24 14:31] Svijay-msft commented on #64955
Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-10-24 14:33] Svijay-msft commented on #64958
Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-10-24 14:37] Svijay-msft commented on #64960
Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-10-24 15:05] SAIMMINHAS commented on #64744
Hi James,

Below is what i'm seeing on my side:

![image](https://user-images.githubusercontent.com/30388154/97085043-ca0cf000-1612-11eb-8106-28152d84e517.png)

[2020-10-24 15:10] chinkl75 commented on #64834
@SatishBoddu-MSFT
thank you. I had found the issue. It is due to < > in the example json file, removing it solve the issue.

[2020-10-24 15:46] qternocq commented on #63628
What does this mean?
I'm trying to buy a domain using a app-service plan in West Europe, but it's not working. Is that due to this problem?

[2020-10-24 15:48] SkipSailors commented on #64922
Is including PS commands in the article a mistake, then?Sent via phone. 
-------- Original message --------From: James Tran-MSFT <notifications@github.com> Date: 10/23/20  2:25 PM  (GMT-08:00) To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com> Cc: Skip Sailors <skips@drizzle.net>, Mention <mention@noreply.github.com> Subject: Re: [MicrosoftDocs/azure-docs] Should there not be an Azure
 

[2020-10-24 15:51] Svijay-msft commented on #64962
Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-10-24 17:01] mark-wiemer commented on #64642
I'd like to re-open this issue, I'm not seeing any change in the website or master branch

[2020-10-24 17:10] jcbrooks92 commented on #63628
This is referring to the national clouds such as Azure Government and the Azure Cloud in Germany or China. App service domains should be available in the Azure Public regions such as West Europe.

[2020-10-24 17:31] qternocq commented on #63628
Right. I understand.

This is my problem: https://stackoverflow.com/questions/64515160/azure-buy-custom-domain-not-working-with-nl

But I guess this is the wrong platform to ask for help.

[2020-10-24 18:30] AjayKumar-MSFT commented on #64647
Xin, Apologies for the delay. If I have understood your question correctly - The tutorial aims to provide key concepts and instructions for containerization of Linux apps in App Service, the doc meant to show something more involved, but still allow users to learn things beyond a specific framework. It provides step-step process on how to connect WebApp to an Azure Database for Postgres database,

[2020-10-24 18:30] #64647 closed

[2020-10-24 18:50] nimai123 commented on #64908
@Svijay-msft
Thanks for your reply, I am waiting for your answer.

Thanks in Advance.

[2020-10-24 19:04] RonaldMariah opened #64967 "The parameters in some of the calls are incorrect"
[Enter feedback here]

There's snippets of code like the following:

var endpointList = cdn.Endpoints.ListByProfile(p.Name, resourceGroupName);

The parameters are swapped. The first parameter should be resourceGroupName and second being the profile Name.

Another example:
cdn.Endpoints.PurgeContent(endpointName, profileName, resourceGroupName, new List<string>() { "/*" });

The first parameter sh

[2020-10-24 19:32] craigjar opened #64968 "Details needed for combobox and multiselect"
Please provide more samples.  There are no samples or explanations for the syntax on how to use combobox or multiselect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15a4bd95-16b0-3c90-c90b-53d098d7beb1
* Version Independent ID: 9eee94e5-fbc8-3242-4440-91bdb456f251
* Content: [Widgets - Azure Databricks](https://docs

[2020-10-24 20:13] YutongTie-MSFT commented on #64967
@RonaldMariah
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-24 20:14] YutongTie-MSFT commented on #64968
@craigjar
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@mssaperla
Hi, could you please check on this issue and update the document if needed? Thanks.

[2020-10-24 20:35] maximivanov opened #64969 "Case-sensitive field names in the timer example JSON"
In the [Usage section](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer?tabs=javascript#usage) there's a code listing with an example JSON format of a timer object.

Field names are UC-first there:

[code]

While printing the timer object in my Node Azure function, I can see field names are LC-first:

[code]

I'm not sure if it's dependent on the execution environmen

[2020-10-24 20:44] mganeshphani commented on #64956
Hello VIjay,

this table in that article is missing information about redis cache
[image: image.png]

when i created a private endpoint for redis in my tenant, it is showing
custom dns setting suffixed as
redis.cache.windows.net
instead of
privatelink.redis.cache.windows.net
which makes me depend on this documentation on if that is correct or could
be a mistake since this feature is in preview mod

[2020-10-24 20:47] ndrix opened #64970 "The title's a bit misleading - No Azure Storage Table API info"
[Enter feedback here]
Hi, it seems that the page purely talks about Azure Cosmos API's and not about Azure Storage Table Storage API

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef1295f9-eab5-8918-ab99-3a20b8723805
* Version Independent ID: 0e551ce1-761a-d379-7b6c-4caf49c5bbb2
* Content: [Azure Cosmos DB Table API us

[2020-10-25 00:04] brucedkyle opened #64971 "Do private endpoints work with other Azure services?"
As I am trying to understand this is a really interesting feature for Private Endpoints. First of all, congratulations on shipping this unbelievable complex feature. I am very interested in the idea of having a Web App available only within my virtual network. But I am also interested in how I can proscriptively use Private Endpoints for my Web Application.

Maybe I missed something obvious, but,

[2020-10-25 00:44] YutongTie-MSFT commented on #64955
@hctrr Hello, please refer to this link: https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/concepts/active-learning-suggestions
I am updating the document and you should see the change soon. Thanks for pointing out this.

[2020-10-25 02:02] ndrix commented on #64970
I send this too soon, the article exactly says the API content is the same.  I think I scrolled to the source portions too quickly for my quick copy-paste instant gratification bug.   The title's not misleading at all,

Sorry about that :(

[2020-10-25 02:02] #64970 closed

[2020-10-25 02:24] thuyangyu opened #64973 "Find a miss type error on the doc"
[Enter feedback here]

This is a miss type here:

$nodeType = "nt1vm" # specify the name of node type
$nodes = Get-ServiceFabricNode

The "nt1vm" should be "nt0vm".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb73a140-f82a-938b-5d00-0a8a32bae445
* Version Independent ID: 6dd6f6b7-c3c2-2e14-8bcd-b098f06a3be3
* Conten

[2020-10-25 02:45] Svijay-msft commented on #64969
Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-10-25 02:46] Svijay-msft commented on #64971
Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-10-25 02:51] mike-urnun-msft commented on #64963
@JayaChatterjee-MSFT Thank you for your feedback! We will review and update as appropriate.

[2020-10-25 03:32] bbsdddougla opened #64974 "Constructor declaration for HttpEntity incorrectly includes class keyword"
The class keyword should be omitted from the constructor declartion in the example on Dependency Injection:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3799266d-bc0a-63f0-b67a-bc182d37667a
* Version Independent ID: b768cbf4-c572-58d9-d5e2-1d067e9bba5e
* Content: [Developer's Guide to Durable Entities in .NET

[2020-10-25 04:55] rushilsrivastava commented on #39826
@RohitMungi-MSFT The relevant Azure doc can be found here: https://docs.microsoft.com/en-us/azure/sendgrid-dotnet-how-to-send-email

[2020-10-25 05:34] YutongTie-MSFT commented on #64679
@trevorbye Hello, could you please take a look on this issue? I can not find related information about private endpoint either. Thanks.

[2020-10-25 05:35] YutongTie-MSFT commented on #64973
@thuyangyu
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-25 05:39] YutongTie-MSFT commented on #64973
@thuyangyu Hi Yang, I have created a PR to fix this issue, you should see the change soon after reviewing by the author. Thanks again.

[2020-10-25 07:19] gdtwentytwo opened #64976 "All French voices do not correctly apply liaison"
some mandatory liaisons work but others like the below are incorrect in every french voice I checked.

-er = /ɛ.ʁ‿/: premier étage ("first floor") = /pʁə.mjɛ.ʁ‿e.taʒ/.

[2020-10-25 09:31] SayakMukhopadhyay commented on #62918
Hi @JTInfinite
I faced the same issue just now and I have re read the docs at https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-register-applications?tabs=app-reg-ga#register-a-web-application but couldn't see any mention of enabling implicit grant flow for the tutorial. Could you give a link where this is mentioned?

[2020-10-25 09:55] chiddee opened #64978 "Github Url is not correct"
[Enter feedback here]

The Github web URL for the Group Chat Hero sample provided in the "Before running the sample for the first time" section points to a different sample.
---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41104fe8-577f-0971-2d8a-362dc11bb1fa
* Version Independent ID: 914e6c4a-0bc6-704f-30a9-79f1a18d2389

[2020-10-25 12:11] Svijay-msft commented on #64974
Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-10-25 13:05] cveld opened #64979 "Ownership timeout"
How long will it take before ownership times out and a partition is taken over by another processor?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27b148ea-a4e1-f9c1-0345-2b090be9db1b
* Version Independent ID: c149af73-514a-39b8-3fdf-9a59bb9def2f
* Content: [Balance partition load across multiple instances - Azure Eve

[2020-10-25 13:05] SatishBoddu-MSFT commented on #64834
@chinkl75 Thank you for the
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.response on this.

[2020-10-25 13:05] #64834 closed

[2020-10-25 13:06] SatishBoddu-MSFT commented on #64603
@dvescovi1
Just checking back! Please let us know if you need further help.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2020-10-25 15:00] la-21 commented on #52606
This worked for me. Both the Microsoft.Synapse and Microsoft.Sql needs to be registered first before you'll be able to create an Azure Synapse Analytics workspace. To do this, go to `Subscriptions > Subscription name > Settings > Resource Providers`, search then click the Provider name and _Register_.

[2020-10-25 15:23] SeaDude commented on #64612
Found out from one of my colleagues that the TLS handshake negotiated by Microsofts server (load balancer/host server for the Function) **contains** the cryptographic check which validates:
- When we turn on HTTPS for a given Function
- There is a step in the TLS handshake that validates the client is in possession of the private key for the certificate they are presenting

[2020-10-25 15:23] #64612 closed

[2020-10-25 15:51] thvenket opened #64980 "Populating dropdown with a dynamic time range"
We want to create a dropdown with a time range  for example the picture below. We took this example from a Azure portal form itself
![image](https://user-images.githubusercontent.com/10487503/97112020-4220f780-169f-11eb-807d-bcb48301c1df.png)
Can you help us with the right syntax

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-10-25 16:08] harelbr commented on #64618
@zzgzy Thanks for leaving us feedback.

The targetResourceRegion and targetResourceType parameters are mandatory when the scope is set on anything other than a single resource (e.g. subscription, resource group, set of resources).

We will update the doc to clarify this.

@asafst - FYI

[2020-10-25 16:37] JTInfinite commented on #62918
Hi @SayakMukhopadhyay ,

I've just had a read over section 2 and I can't now see it, although I do remember missing it last time i looked! Sorry I can't help in this instance - maybe someone from Microsoft can help?

[2020-10-25 16:41] Svijay-msft commented on #64976
Thanks for leveraging Azure docs feedback channel to raise this question. Could you please share the Azure documentation for which this feedback is applicable to?

[2020-10-25 16:44] Svijay-msft commented on #64978
Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-10-25 17:39] RonnieQuan commented on #64513
Thanks for the reply.

I reviewed the example you shared, not sure that applies to my scenario, the example is ARM for storage account.

The questions is about Azure Firewall rule parallel update.
We even don't use ARM to add rule collection or update existing rule collection.

https://docs.microsoft.com/en-us/azure/firewall/overview#known-issues

Configuration updates may take five minutes on ave

[2020-10-25 17:41] RonnieQuan commented on #64798
Thanks for your reply, at this moment, we can not utilize v2, since its UDR BGP constraint.

https://github.com/MicrosoftDocs/azure-docs/issues/64137

[2020-10-25 17:43] Svijay-msft commented on #64979
Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-10-25 17:45] Svijay-msft commented on #64980
Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-10-25 17:46] RonnieQuan opened #64981 "Does Azure Have Access to Data in PaaS SQL"
The vulnerability assessment is attractive feature, but my organization would like to understand once turn this feature on, does it mean MS Azure now is able to access my data in the database?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65b5f76e-bbb3-b97c-bfb5-63788db27e26
* Version Independen

[2020-10-25 17:52] mike-urnun-msft commented on #64629
@shriazure We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-10-25 17:52] #64629 closed

[2020-10-25 18:13] Tbohunek commented on #63381
Hello @AnuragSharma-MSFT and @pochiraju,

Thanks for your inputs. I understand that Storage account is not needed for migration to SQL DB, hence port 445 should not be needed and same for the `storage endpoint` which is also listed in prerequisites.
So I agree that documentation update would be sufficient. However, I don't see any change on the documentation.

I would typically propose doc update

[2020-10-25 18:28] TestUser0811 opened #64982 "Disabling "AdaptiveSampling" for stateless service fabric services"
How to disable "AdaptiveSampling" on stateless service fabric services?

       internal sealed class SampleDotNetCoreWebApi : StatelessService
      {
        public SampleDotNetCoreWebApi (StatelessServiceContext context)
            : base(context)
        { }

        /// <summary>
        /// Optional override to create listeners (like tcp, http) for this service instance.
        /// </summa

[2020-10-25 19:19] oal100 commented on #41992
Hello
I'm having the exact same issue. Is there any way to see a bit more, i.e. errors etc? It really gets stuck in Step 7. And to clarify @asergaz question: Yes, collected the key and entered it. It then reboots and stays stuck at
`IP Address
Running

[2020-10-25 19:20] #64597 closed

[2020-10-25 19:31] oal100 commented on #56496
hi, I found this later after going over gitter (as @asergaz pointed out, this is the old one https://github.com/MicrosoftDocs/azure-docs/issues/41992#issuecomment-716197580)
also looking for further info

[2020-10-26 00:10] xuegao0112 opened #64984 "AustraliaEast new region support"
Hi Team,

Want to know if any plan to support the Automation AU East mapping? Is there any ETA? It's not convenient only support for AU SE region.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8f86bd0-7555-9be2-1015-76e3ab88062f
* Version Independent ID: 1d310402-fadf-d602-048a-b2e16bd86a7e
* Content: [Supported regi

[2020-10-26 00:11] xuegao0112 commented on #64984
It's not make sense that the mapping is not available in the main region which happens to Australia east!

[2020-10-26 00:35] davo123456 opened #64985 "Script broken"
[Enter feedback here]
the script supplied for managed disks does not work.  It has "fi" in it.  Other bits don't work either.

The script needs reviewed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30c2f82a-5f70-ae5e-3e60-9a3146dba1c5
* Version Independent ID: 2d8a9a15-1cf6-5624-4cd1-0065f3088f37
* Content: [Find an

[2020-10-26 00:41] ahollandusc commented on #64888
![image](https://user-images.githubusercontent.com/8185505/97123075-ad3cfd80-1775-11eb-9809-7e6d67f6d520.png)
User is an Owner of the APIM instance in Azure, and a global admin in M365 with direct access to a number of power platform environments but still gets the message 'No available items' when attempting to export to an Environment from APIM.

[2020-10-26 00:48] kikawash opened #64986 "unclear explanation on how to get SASURL"
[Enter feedback here]
Please give more detailed explanation on how to get SASURL to save

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85090bbe-facd-f493-9817-b639df44f345
* Version Independent ID: 29832cb6-6676-147d-5d5f-fccbd55b2fba
* Content: [Azure VPN Gateway: Configure packet capture](https://docs.microsoft.com/

[2020-10-26 01:07] thvenket opened #64987 "UI Element for Datatime"
Is there a UI element for the user to select a date time?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48b64bcb-c53c-08c4-e656-b42130bb815c
* Version Independent ID: d1c34492-c908-9f1a-618f-47a4274d4205
* Content: [Create UI definition elements - Azure Managed Applications](https://docs.microsoft.com/en-us/azure/azur

[2020-10-26 01:30] Lawrence-Krukrubo opened #64988 "Incompatible or Missing Dependency Error"
Hello, I keep getting an **"IncompatibleOrMissingDependency"**  error, I have tried everything possible and it keeps persistent.

The error reference code is **"reference_code": "65e7ad52-ad1f-4915-85ad-440d0a5e221f"**

The frustrating issue is that it keeps saying Required version/Installed version
**joblib<=0.14.1/ joblib 0.17.0**

I have uninstalled the joblib library and installed it to no ava

[2020-10-26 02:25] lissff opened #64989 "add admissionwebhook nodeselector"
[Enter feedback here]
we need to add this nodeselector for cluster with both windows/linux nodes:

--set controller.admissionWebhooks.patch.nodeSelector."beta\.kubernetes\.io/os"=linux

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12009c1f-282d-2632-fac0-64b09c432833
* Version Independent ID: 6052d3d4-d295-9340-b16d-4

[2020-10-26 02:43] kenakamu opened #64990 "python3.8 support"
The sample Dockerfile is for python 3.7. When I tried to update it to support python 3.8, it failed if I simply change version number. The reason is miniconda donwload link naming convention has been changed from Miniconda3-{version}-Linux-x86_64.sh to Miniconda3-py38_{version}-Linux-x86_64.sh

Please update the Docker file to support python 3.8 and latest Azure ML SDK.
---
#### Document Details

[2020-10-26 03:49] JayaChatterjee-MSFT commented on #64981
@RonnieQuan Thank you for your feedback! We will review and update as appropriate.

[2020-10-26 03:53] Subhraj07 opened #64991 "kubectl apply -f istio.aks.yaml getting error: error: error validating "istio.aks.yaml": error validating data: apiVersion not set; if you choose to ignore these errors, turn validation off with --validate=false"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-10-26 04:05] JayaChatterjee-MSFT commented on #64982
@TestUser0811 Could you please share any document link which you are following to achieve the same?

[2020-10-26 04:07] JayaChatterjee-MSFT commented on #64985
@davo123456 Thank you for your feedback! We will review and update as appropriate.

[2020-10-26 04:13] MonikaReddy-MSFT commented on #64991
@Subhraj07 -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-10-26 04:15] JayaChatterjee-MSFT commented on #64984
@xuegao0112 Thank you for your feedback! We will review and update as appropriate.

[2020-10-26 04:18] JayaChatterjee-MSFT commented on #64986
@kikawash Thank you for your feedback! We will review and update as appropriate.

[2020-10-26 04:25] JayaChatterjee-MSFT commented on #64987
@thvenket Thank you for your question! We will review and update as appropriate.

[2020-10-26 04:41] yahanda opened #64993 "specifying X509 in the connection string"
I am trying to connect downstream device with X.509 CA-signed authentication, but the following exception has been occured:

Looking at [the SDK code](https://github.com/Azure/azure-iot-sdk-csharp/blob/master/iothub/device/src/IotHubConnectionStringBuilder.cs) and changed the flag in connection string from **x509=true** to **X509CertPropertyName=true**, then the problem was solved. I think the exa

[2020-10-26 04:50] thvenket opened #64994 "Custom resource provider: Authentication of calls from Azure into the RP"
We see that we can define endpoints of the custom RP for example
 "resourceTypes": [
                    {
                        "name": "VirtualMachines",
                        "routingType": "Proxy",
                        "endpoint": "https://incloud.duplocloud.net/InvokeAzureRp"
                    }]
But how do we authenticate calls from Azure in our RP endpoint. Is there a token or some

[2020-10-26 06:09] ArminMaz commented on #37760
I had the same problems and then I realized that the extension of file ( .wav ) should not be declared either
if your structure would be like so:
---dataset.zip
--------- 00001.wav
--------- 00002.wav
Then your trans.txt file should be something like:
00001 [tab] this is the subtitle of
00002 [tab] this is the other subtitle of

[2020-10-26 06:33] joshuafernandes opened #64995 "Unclear directions to peer VNets"
In step 6 of `Create peering - Azure CLI` the two commands listed are:
[code]

What is the purpose of getting the details of vnetA? Its never used. Should this instead read get the id for vnetB like below?
[code]
or perhaps paste the output from vnetBId as the `remote-vnet` parameter or similar

Thank you
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-10-26 06:36] ram-msft commented on #64988
@Lawrence-Krukrubo Thanks for the feedback! We will review and update accordingly.

[2020-10-26 07:11] SadiqhAhmed-MSFT commented on #64958
@bandersmsft FYI

[2020-10-26 07:42] yoelhor commented on #64951
Could you check if your tenant is linked to a subscription. If not, you should see this message

![image](https://user-images.githubusercontent.com/20111866/97145441-e02fc300-176e-11eb-946e-99a50856b01b.png)

In this case:
1. Once the tenant creation is complete, select the **Create new B2C Tenant or Link to existing Tenant** link at the top of the tenant creation page.
1. Select **Link an existin

[2020-10-26 07:43] SaiKishor-MSFT commented on #64798
@RonnieQuan
I will reach out to our internal team regarding this and update you soon.

[2020-10-26 07:54] gary918 commented on #64343
@ram-msft  Got it. Thank you very much!

[2020-10-26 07:57] SubhashVasarapu-MSFT commented on #64995
@joshuafernandes, Thanks for reaching out. We will investigate and update this thread.

[2020-10-26 07:59] nonokangwei opened #64996 "Configure a managed instance as a replication distributor. Doc Error"
In this tutorial, you learn how to:

Configure a managed instance as a replication publisher and distributor.
Configure a managed instance as a replication distributor.

The 'Configure a managed instance as a replication distributor.' part should be replication subscriber.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-10-26 08:00] xuegao0112 commented on #64984
Hi @JayaChatterjee-MSFT  Thanks for update, just I'm thinking the AU East is the main region, which supposes to be supported soon.

[2020-10-26 08:01] jmprieur commented on #64907
cc: @hpsin who will know better. I guess Azure AD decides the duration of tokens.

[2020-10-26 08:03] msandbu opened #64997 "Error message spell correction"
When defining the wrong configuration using az cli the error message states.

"usage error: --destination should be a storage account, an evenhug namespace or an event hub resource id."

While I like hugs, I'm guessing it should state eventhub 👍

---
#### Dokumentinformasjon

⚠ *Ikke rediger denne delen. Den kreves for koblingen docs.microsoft.com ➟ GitHub-problem.*

* ID: b8ee0e7c-a24d-592e-d96e-

[2020-10-26 08:11] yoelhor commented on #64364
Thanks for letting me know. I also updating the SAML doc with more information (which will close this issue).

[2020-10-26 08:13] AnuragSharma-MSFT commented on #64883
@MS-jeremy We will now proceed to close this thread. The PR could take few days to go live based on approval. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-10-26 08:13] #64883 closed

[2020-10-26 08:23] yoelhor commented on #64911
Policy name is missing from the request. `<policy-name>` is name of your custom policy or user flow.

[code]

[2020-10-26 08:28] thomaslevesque opened #64998 "TransactionalBatch is not mentioned in the docs"
The "transactional batch" feature isn't mentioned anywhere in the conceptual documentation (the `TransactionalBatch` class itself is documented in the .NET SDK reference docs, but it's not easily discoverable if you don't know what to look for). Even the REST API docs don't mention it. I only discovered its existence by accident because the `CreateTransactionalBatch` method appeared in Intellisens

[2020-10-26 08:31] AnuragSharma-MSFT commented on #64957
@peteralbanese I was checking the article and code mentioned(**cache.StringGet**). This method is working fine and is part of **StackExchange.Redis** package. If we have added it as mentioned in the article, code would work fine.

Could you please re-verify it once and let me know?

[2020-10-26 08:34] alevincenzi commented on #57689
Just saw you updated the doc

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/iot-edge/how-to-store-data-blob.md#deviceautodeleteproperties

Thanks :)

[2020-10-26 08:45] simondmorias opened #65000 "Secrets Scopes backed by Key Vault is not available despite release notes"
https://docs.microsoft.com/en-us/azure/databricks/release-notes/product/2020/october#use-the-databricks-cli-or-the-databricks-api-to-create-azure-key-vault-backed-secret-scopes

This states that you should be able to create key vault backed scopes using the REST API. If I try using a bearer token I get the message:

[code]

Which makes perfect sense. So if I try with a AAD token I get the error:

[2020-10-26 08:45] #61389 closed

[2020-10-26 09:00] #62000 closed

[2020-10-26 09:07] yoelhor commented on #64849
Thanks for the feedback, I'm updating the doc with the recommendations. Will be published in a day or two.

Yoel

[2020-10-26 09:13] ahyamrel commented on #64841
Definitely, when I tried to start policies export on Service principal creation stage.
Just letting you know that the process successfully exported yesterday but still don't know what caused the problem at the first place.

[2020-10-26 09:17] yoelhor commented on #58009
Sounds good, thank for letting us know. I'm closing this issue.

#please-close

[2020-10-26 09:17] #58009 closed

[2020-10-26 09:22] yoelhor commented on #57551
Closing due to inactivity

#please-close

[2020-10-26 09:22] #57551 closed

[2020-10-26 09:24] yoelhor commented on #61701
#please-close

[2020-10-26 09:24] #61701 closed

[2020-10-26 09:27] onyand commented on #64911
Apparently, the documented process works only when you open the browser in private mode.  Please close issue
________________________________
From: Yoel Horvitz <notifications@github.com>
Sent: Monday, October 26, 2020 11:23 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: onyand <onyango.oduor.david@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/

[2020-10-26 09:32] hepiet commented on #64917
Hi @Grace-MacJones-MSFT , I have tested with 2 different source controls.

First with continuous deployment - Azure Repos - Azure Pipelines and then with Manual Deployment - External - Azure Pipelines.

As soon as you configure any kind of source control for your App Service and then try to add a WebJob this error message will popup:

![image](https://user-images.githubusercontent.com/40465866/971

[2020-10-26 09:36] ghost opened #65001 "What roles are required?"
You provide the statement at the top of the article:
**A role that allows you to create users in your tenant directory, like the Global Administrator role or any of the limited administrator directory roles.**

Unfortunately the roles are not listed neither is there a link to a page that gives all the details of this.
It would be very beneficial to have this...

---
#### Document Details

⚠ *Do no

[2020-10-26 09:38] #64895 closed

[2020-10-26 09:47] alevincenzi commented on #57689
An update.

I had to downgrade to `Azure.Storage.Blobs` @ 12.4.4 to see it working.

12.16.0 and 12.5.1 were both failing with the mentioned error.

Nevertheless, now the listing of blobs fails:

[code]

Line 54 is

[code]

[2020-10-26 09:48] Lawrence-Krukrubo commented on #64988
Please do, I need this to work as I'm a Top Writer in AI on the Medium and need to show how AzureML auto-ml works in a featured project. Let me know how I can fix this please.
Thanks

[2020-10-26 10:12] alevincenzi commented on #57689
FYI, the example with SDKV11 (legacy) works out of the box:

https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-dotnet-legacy

Here the full code, for those who need it:

[code]

And here the package:

[code]

[2020-10-26 10:16] dgpoulet opened #65002 "After following these steps I don't see the Piggymetrics page"
I've followed these steps exactly, and everything completes without error. But you don't see a "piggymetrics" page from the gateway url. You just see a generic Spring Cloud page which says:

"Hurray~Your app is up and running!
Time to take the next step and deploy your code."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-10-26 10:26] dilanthaonline opened #65003 "My Phone is DEAD and there is no way to find a Cable nearby!!"
My Phone is dead and there is no way to find a cable at this moment.
what the hell I suppose to do ?  Leave the project and go home ????????????
It only has text or call for authentication.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c946fe0f-e18d-2529-2fbf-bce04759fbca
* Version Independent ID: 885a61d1-6096-5aa0-f

[2020-10-26 10:34] pejuborg opened #65004 "Possible typo in function name _LogsOperation?"
Trying to execute a query using the function _LogsOperation it fails, but when changing it to _LogOperation I get the expected result.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5549f96-9ebb-24db-0ee6-4d40baab137e
* Version Independent ID: 5e8b3a3a-49ec-ceea-82c0-0da36f3353e8
* Content: [Monitor health of Log Anal

[2020-10-26 10:56] JayaChatterjee-MSFT commented on #64989
@lissff  Thank you for your feedback! We will review and update as appropriate.

[2020-10-26 11:03] Ericgre commented on #64971
Hello, thanks for your comment. I think you misunderstand the role of privat eendpoint. If you need to consume another private endpoint from the web app, in that case nothing to deal with private endpoint of the web app, as I said in my article, you need to use the VNet integration feature. VNet integration feature if for outbound. Private endpoint is only a way to expose a PaaS service. I done a

[2020-10-26 11:29] vipulsparsh commented on #65001
@rfinneyWork Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@msmimart  Can you have a look at this ?

[2020-10-26 11:45] BMichaelJ opened #65005 "Add or clarify the Common alert schema in the examples"
When trying to setup via ARM the action groups the current examples do not contain the common alert schema.
This could easily be added to avoid additional searching and investigation.
Especially since recommendations are to use the common alert schema.

"useCommonAlertSchema": true

currently information on enabling the common alert schema is found in this section under another topic.
https://docs

[2020-10-26 11:54] Ericgre commented on #57545
#close

[2020-10-26 11:55] Ericgre commented on #57545
#please-close

[2020-10-26 11:55] #57545 closed

[2020-10-26 12:03] PaulVrugt opened #65006 "It seems that databases are also exempt from the 800 resources per resource group"
I just created a resource group, and added more that 800 databases to it, and I didn't get any errors. It seems that sql databases are also exempt from this 800 resources of a type in a resource group limit. But it is not listed on this page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bd67cd6-1517-b685-e2bf-a2bd0a0

[2020-10-26 12:05] #64598 closed

[2020-10-26 12:14] jreinhardtiv4 commented on #64630
I received this response from a member of the Azure AD support team by Premier support. If this is accurate, and if this had additional information for Android as the comments seemed to have Apple primary, this could be the kind of elaboration that is needed here for Azure AD scenarios involving M365 apps. Thank you

_Regarding Apple, we are working with Apple’s trusted root program to ensure thes

[2020-10-26 12:16] JosephFicara opened #65007 "Delete has moved to the properties page"
Looks like this doc is out of date, the delete operation has moved to the properties page, its not on the overview page any longer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 579c02d4-7be2-a892-90a6-b42104427215
* Version Independent ID: eea9d176-c8ec-0459-f695-e48a5f07ce9d
* Content: [How to remove a user's access

[2020-10-26 12:21] KrishnaG-MSFT commented on #64997
@msandbu Thanks for the comment!

If there is any bug related to Az CLI then please share it by raising it [here](https://github.com/Azure/azure-cli/issues/new/choose).

[This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, etc.) so if issue is intended to update /

[2020-10-26 12:21] #64997 closed

[2020-10-26 12:25] JayaChatterjee-MSFT commented on #64990
Thank you for your feedback! We will review and update as appropriate.

[2020-10-26 12:27] JayaChatterjee-MSFT commented on #64993
Thank you for your feedback! We will review and update as appropriate.

[2020-10-26 12:29] TestUser0811 commented on #64982
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-monitoring-aspnet#add-application-insights-to-the-applications-services

[2020-10-26 12:29] JayaChatterjee-MSFT commented on #64996
Thank you for your feedback! We will review and update as appropriate.

[2020-10-26 12:31] JayaChatterjee-MSFT commented on #64998
Thank you for your feedback! We will review and update as appropriate.

[2020-10-26 12:33] JayaChatterjee-MSFT commented on #65002
Thank you for your feedback! We will review and update as appropriate.

[2020-10-26 12:35] JayaChatterjee-MSFT commented on #65000
Thank you for your feedback! We will review and update as appropriate.

[2020-10-26 12:44] dgpoulet commented on #65002
Just to clarify with this after some further investigation - it doesn't work if you follow the "CLI" instructions. When I switch to the "Maven" instructions - it works then. So I guess there's some step missing in the CLI instructions - for instance there's no "Generate configurations" step in the CLI instructions, maybe this is relevant?

[2020-10-26 12:47] maweeras-msft opened #65008 "Edge support for Mac OS X isn't mentioned"
https://docs.microsoft.com/en-us/deployedge/ms-edge-security-conditional-access implies Edge on Mac OS X is supported. but this page lists Chrome and Safari only. Can we get the Edge support stance clarified?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 625bb1b2-81fd-9804-c0b5-3cd2904decd9
* Version Independent ID: e

[2020-10-26 12:54] JayaChatterjee-MSFT commented on #64982
Thank you for your feedback! We will review and update as appropriate.

[2020-10-26 12:55] JayaChatterjee-MSFT commented on #65005
Thank you for your feedback! We will review and update as appropriate.

[2020-10-26 12:57] JayaChatterjee-MSFT commented on #65006
Thank you for your feedback! We will review and update as appropriate.

[2020-10-26 13:01] JayaChatterjee-MSFT commented on #64994
Thank you for the question. We will review and get back to you.

[2020-10-26 13:01] KrishnaG-MSFT commented on #65004
@pejuborg Thanks for the feedback! I have verified and updated the document as required. The changes will go live soon i.e., in less than 24 hours. Thanks.

[2020-10-26 13:01] #65004 closed

[2020-10-26 13:03] JayaChatterjee-MSFT commented on #65003
@dilanthaonline Thank you for reaching out. However, we need more information on what you are trying to achieve. Could you please provide the document link which you are following?

[2020-10-26 13:05] JayaChatterjee-MSFT commented on #65007
Thank you for your feedback! We will review and update as appropriate.

[2020-10-26 13:08] JayaChatterjee-MSFT commented on #65008
Thank you for your feedback! We will review and update as appropriate.

[2020-10-26 13:08] tfurstms opened #65009 "Invites and Direct Federation"
Hello - In the FAQ section, can you add this question:

Once Direct Federation is configured with an organization, does each guest need to be sent and redeem an individual invitation?

I am not 100% sure on the answer but this is a common question where it would be great to have the answer it posted - Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-10-26 13:10] JayaChatterjee-MSFT commented on #65009
Thank you for your feedback! We will review and update as appropriate.

[2020-10-26 13:14] bverhoeve opened #65010 "Azure functions JavaScript logging"
As written in the JS documentation for Azure functions:
"In Functions, you use the `context.log` methods to write trace output to the logs and the console."

Currently, I'm implementing a Function app that uses other modules that are shared between functions, that would also require logging. However, it seems that I have to pass around the `context` object all the time to be able to log?

Is there

[2020-10-26 13:24] tfurstms opened #65011 "Direct Federation Clarification"
Hello,

The original Direct Federation [public announcement](https://techcommunity.microsoft.com/t5/azure-active-directory-identity/azure-ad-b2b-collaboration-direct-federation-with-saml-and-ws/ba-p/735133)  walked through the step-by-step of how it works.  However, it wasn't 100% clear if the guest users still needed to be sent an invite like other guest account scenarios.

It seems like there ne

[2020-10-26 13:25] TestUser0811 commented on #64982
We are struggling in **PROD**, **without** knowing how to disable default sampling. There is no info in the above document link that default sampling would be applied. Appreciate your earliest response.

[2020-10-26 13:31] bablushaikh commented on #64782
@BharathNimmala-MSFT do you have any update on this issue?

[2020-10-26 13:41] erikanderson commented on #64849
Thank you @yoelhor, will keep an eye out for that.

[2020-10-26 14:02] DCtheGeek commented on #64841
#reassign:DCtheGeek

[2020-10-26 14:02] DCtheGeek commented on #64841
@ahyamrel Thanks for letting us know. The engineers will take a look, but since you are no longer blocked and since the documentation is correct, I'm going to close this issue. If you see this issue again, I'd recommend opening a support ticket so they can look at your specific case.  Thanks again!

@MicrosoftDocs/azure-cxp-triage #please-close

[2020-10-26 14:02] #64841 closed

[2020-10-26 14:08] NavtejSaini-MSFT commented on #64676
@SnehaGunda Please help further with this.

[2020-10-26 14:09] NavtejSaini-MSFT commented on #64675
@SnehaGunda Please let us know if we can add more details for the same.

[2020-10-26 14:11] mmacy commented on #64495
Closing due to inactivity. If you feel this issue was closed prematurely, please let us know. #please-close

[2020-10-26 14:11] #64495 closed

[2020-10-26 14:13] mmacy commented on #59693
Closing issue as we need a repro to properly diagnose and assist. If you feel this was closed prematurely, however, do let us know. Thanks! #please-close

[2020-10-26 14:13] #59693 closed

[2020-10-26 14:15] mmacy commented on #64907
@hpsin Passing this one over to you per @jmprieur in https://github.com/MicrosoftDocs/azure-docs/issues/64907#issuecomment-716380744

#reassign:hpsin

[2020-10-26 14:22] pmshenoy opened #65014 "Service Bus Security Baseline Mapping file doesn't exist."
From the documentation:

This file doesn't exist under the 1.0 folder that the link points to.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe1c9338-b078-ed4d-a027-16ec4f8d2d6f
* Version Independent ID: a105d7df-cb3f-5a24-7997-1ce68db24131
* Content: [Azure security baseline for Service Bus - A

[2020-10-26 14:50] cveld opened #65015 "Stopping the event processor takes 60 seconds"
I have changed the class `Sample03_BasicEventProcessing` within the .NET samples with the following:

[code]

https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/eventhub/Azure.Messaging.EventHubs.Processor/samples/Sample03_BasicEventProcessing.cs

This always displays figures higher than 60000 ms.
Is this something to be expected? Why is it taking so long?

---
#### Document Details

⚠ *Do

[2020-10-26 15:01] CedricSteenbeke opened #65016 "Helm init no longer needed"
In the Install Helm part of this document (https://docs.microsoft.com/en-us/azure/application-gateway/ingress-controller-install-new#install-helm)
the helm init command is supposed to be executed
as of helm 3, helm init is no longer available (https://helm.sh/docs/helm/helm_init/#helm-init)
Maybe a note could be added that helm init is only needed when using older versions of Helm.

---
#### Docum

[2020-10-26 15:03] vparekh94 commented on #12629
hey @Karishma-Tiwari-MSFT  - is there any update on this?

From the looks of this, it's going to be in alpha soon?

https://github.com/Azure/aks-engine/blob/master/docs/topics/features.md#use-a-shared-image-gallery-image

[2020-10-26 15:23] jcamu opened #65017 "AKS internal network & Availability Zones"
Hello.

I don't know if such questions, interrogation should be raised here.

I'm creating an AKS with an internal Nginx ingress Controller to use in a private Network only. The aks should not be exposed by Azure Public IP but only accessible via OnPremise network and then expose on their own Public IP.
Why there is alway a Public IP created with the creation of an AKS,? Can i delete It and the Pu

[2020-10-26 15:33] rayne-wiselman commented on #59951
Thanks for your feedback. I've asked the VM team to check the linked page at https://support.microsoft.com/help/2721672/microsoft-server-software-support-for-microsoft-azure-virtual-machines.

The migrate article is correct, we support migration for OSes that are supported by Azure. Hyper-V Guest Integration is specific case for Windows 2003 machines. You can read more about that here - https://do

[2020-10-26 15:33] #59951 closed

[2020-10-26 15:33] hpsin commented on #64907
The `exp` claim in the assertion refers to the validity of the client assertion (which is a JWT) not the lifetime of the output token.

[2020-10-26 15:51] rbmathis opened #65018 "Update language to specify that Availability Testing is not possible when hosts are in a private VNet"
Under Availability Testing, the current language makes it seem that availability testing will work for vnet hosts, but it actually doesn't. To solve for availability testing for private hosts, customers must create an agent on their own within VNet and host the availability tests there.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-10-26 15:51] mick-anderson24 opened #65019 "verification_code_input_placeholder_text not getting set in UI"
I am trying to setup the localization for the api.phonefactor and i'm trying to set a placeholder text for where the verification code is suppose to entered in at.  Based on the information in the docs I would've expected filling in this field to set the placeholder text in that input field but it doesn't appear that is correct or working

verification_code_input_placeholder_text | Verification co

[2020-10-26 16:00] markjbrown commented on #64676
This is not the correct forum for a pricing question. Please ask this question on our Q&A forum so others can benefit from the answer given. Information shared here is not easily discoverable. https://docs.microsoft.com/en-us/answers/topics/azure-cosmos-db.html

Thanks.

#please-close

[2020-10-26 16:00] #64676 closed

[2020-10-26 16:04] #64911 closed

[2020-10-26 16:11] mike-urnun-msft commented on #65010
@bverhoeve Thank you for your feedback! We will review and update as appropriate.

[2020-10-26 16:12] DerekHerman-MSFT commented on #64945
@darkn3rd Thanks from pointing this out. I confirmed the option should be --storage-account and there is no --account-key option. I have submitted a PR to resolve this and it should be live later today.

[2020-10-26 16:12] #64945 closed

[2020-10-26 16:13] DerekHerman-MSFT commented on #64946
@darkn3rd I confirmed the option should be --root-squash. I have submitted a PR to correct this and it should be live later today.

[2020-10-26 16:13] #64946 closed

[2020-10-26 16:14] mike-urnun-msft commented on #65014
@pmshenoy Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-10-26 16:22] kngohil commented on #64679
Any thoughts/updates on this?

[2020-10-26 16:26] EdwinStraver opened #65021 "Is there a way I can just get the containers I (or me on behalf of a user) have read/write access to?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ef870d6-6206-92ae-309c-fb0814fa08f1
* Version Independent ID: c4959cbd-db64-ed4d-2835-92df0c76dd86
* Content: [List blob containers with .NET - Azure Storage](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-containers-list?tabs=dotn

[2020-10-26 16:29] VanMSFT commented on #44592
Hi! Sorry for the delay. Enabling/Disabling TDE time depends on the size of the data. There shouldn't be any downtime, but if you run into any issues, please don't hesitate to contact Microsoft Support.

#please-close

[2020-10-26 16:29] #44592 closed

[2020-10-26 16:31] VanMSFT commented on #49643
Hey @julieMSFT - Sorry, I lost track of this. Can you help with this issue?

#reassign:julieMSFT

[2020-10-26 16:36] emuench commented on #63923
#reassign:trkeya

[2020-10-26 16:37] JayaChatterjee-MSFT commented on #65011
Thank you for your feedback! We will review and update as appropriate.

[2020-10-26 16:37] emuench commented on #63051
#reassign:trkeya

[2020-10-26 16:37] ajlam commented on #34657
Closing this issue for now. Please re-open if you are still experiencing issues.

#please-close

[2020-10-26 16:37] #34657 closed

[2020-10-26 16:38] damochiz opened #65022 ""Import the project" doesn't work"
[Enter feedback here]
I get an error when I follow the steps in the sections below.
https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/copy-move-projects#import-the-project

Example:
[code]

Result:
[code]

Adding a Content-Length header raises another error.

Example:
[code]

Result:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-10-26 16:39] emuench commented on #64808
#reassign:trkeya

[2020-10-26 16:41] emuench commented on #64877
#reassign:trkeya

[2020-10-26 16:43] JayaChatterjee-MSFT commented on #65021
Thank you for your feedback! We will review and update as appropriate.

[2020-10-26 16:53] JamesTran-MSFT commented on #64849
@erikanderson
Thank you for your time and patience throughout this issue.

Since @yoelhor is currently updating the docs with the recommendations, I'll go ahead and close out this issue, if you don't see the document update, please let us know.

I will be more than happy to re-open this issue and look into what happened.
Thank you!

[2020-10-26 16:53] #64849 closed

[2020-10-26 16:53] TroyWitthoeft commented on #55061
Just got bit by this same thing.  It's surprisingly tough to get at logs inside a linux container.

[2020-10-26 16:54] dilanthaonline commented on #65003
Its Microsoft Two factor Authentication on Azure servers.

[2020-10-26 17:00] Nickomang commented on #64546
#please-close

[2020-10-26 17:00] #64546 closed

[2020-10-26 17:00] JamesTran-MSFT commented on #64472
@SB-o-matic
Thank you for your time and patience throughout this issue, I received a response from our PG team and will post it below.

**For your first question:**
We used to be able to have social accounts request access packages by signing in at myaccess.microsoft.com. Now, we get an error that says you can not sign in with a personal account.
- Is this the only error message you're getting? Ca

[2020-10-26 17:05] DerekHerman-MSFT commented on #64644
@naraynm I have assigned the issue to the content author to investigate further and update/clarify the document as appropriate.

[2020-10-26 17:08] JustinGrote opened #65023 "Provide Least Privilege Instructions for the discovery Account"
This document should more specifically detail what the migrate account requires. Just saying "contributor rights to a subscription" is the equivalent of saying "domain admin" for a domain and is very difficult to get approved in stricter environments. There's no way the assessment needs this level of access so a more refined definition should be provided.

---
#### Document Details

⚠ *Do not edit

[2020-10-26 17:09] WinstonHoward-MSFT commented on #65016
Thanks for the doc feedback, I've assigned this to the author to take a look at adding that note.

[2020-10-26 17:13] himanshusinha-msft commented on #64825
@chinwobble : Can you please the share the error which you are recieving ?

[2020-10-26 17:15] Grace-MacJones-MSFT commented on #64917
thanks for the additional information @hepiet! I have submitted a PR to update the doc, the change should go-live in the public docs shortly. We will now proceed to close this thread.

[2020-10-26 17:15] #64917 closed

[2020-10-26 17:17] hpsin commented on #64907
#please-close - @JeremyTBradshaw , do ping back if the answer above is insufficient.  If you have further questions, please let us know.

[2020-10-26 17:17] #64907 closed

[2020-10-26 17:23] aahill commented on #54743
I'm seeing the container you're using is a previous one hosted on `containerpreview.azurecr.io`.

[2020-10-26 17:24] aahill commented on #54743
I'd recommend using the container at `mcr.microsoft.com/azure-cognitive-services/speechservices/speech-to-text:latest` as it's newer - could you try this container and open a new issue if you're still encountering issues?

#please-close

[2020-10-26 17:24] #54743 closed

[2020-10-26 17:26] rolyon commented on #64360
Hi @Bonnie-Chen95
The doc has been refreshed. Let us know if you have any additional feedback.
https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations#microsoftworkloadmonitor
thanks

[2020-10-26 17:27] rolyon commented on #64360
#please-close

[2020-10-26 17:27] #64360 closed

[2020-10-26 17:29] #64662 closed

[2020-10-26 17:30] BassFaceIV commented on #64703
@ChaitanyaNaykodi-MSFT I was able to create them in the Central US region. I don't remember if casing matters, but it might be worth noting that 'microsoft' I created using all lower case character, but 'System' I created exactly as written in the documentation.

[2020-10-26 17:33] NavtejSaini-MSFT commented on #64813
@lwlwalker We are checking with our Doc author regarding this issue but we would recommend going to support for this issue.
@yegu-ms Please provide the details of the endpoints to be added and if we can add them to document if missing.

[2020-10-26 17:37] Mahesh-MSFT opened #65028 "On-premise ExpressRoute Egress Data Charges for AVS"
Will traffic between on-premise and AVS over ExpressRoute incur any Outbound Data Transfer charge in Metered Data Plan?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfdd20d6-7b1d-73f1-f580-d9207e10c5fb
* Version Independent ID: 610d9d1a-dbea-0289-01ca-c84f2b30d1ef
* Content: [Frequently asked questions - Azure VMWare

[2020-10-26 17:40] Mahesh-MSFT opened #65029 "AVS and Skytap on Azure Integration"
Can AVS be integrated with Skytap on Azure?

If yes, how will connectivity be established?
Will there be any egress data charges for any traffic between AVS and Skytap on Azure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfdd20d6-7b1d-73f1-f580-d9207e10c5fb
* Version Independent ID: 610d9d1a-dbea-0289-01ca-c84f2b30

[2020-10-26 17:43] NavtejSaini-MSFT commented on #64896
@mloskot We have created pull request https://github.com/MicrosoftDocs/azure-docs-pr/pull/135413 for making the change. Once approved the document will updated in a day.

[2020-10-26 17:48] NavtejSaini-MSFT commented on #64965
@komandurikc Thank you for closing the issue. Please let us know if you have any questions.

[2020-10-26 18:04] shortpatti commented on #65028
#assign @shortpatti

[2020-10-26 18:04] shortpatti commented on #65029
#assign @shortpatti

[2020-10-26 18:11] Blackbaud-ChrisBlythe commented on #63988
@vishiy Apologies for the delay... Upon further review, it looks like the replica pod is restarting constantly due to OOMKiller. The current memory request/limit is 250Mi/750Mi.

[code]

Is it possible to increase the memory allocation in the azure-monitor-configuration.yaml some how? Or, do you recommend some other means of tweaking these settings? Also, I would assume the recommendations are dif

[2020-10-26 18:17] BharathNimmala-MSFT commented on #65023
@JustinGrote Thanks a lot for taking time to share your feedback , we will further review and get back to you at the earliest.

[2020-10-26 18:19] BharathNimmala-MSFT commented on #65018
@rbmathis Thanks a lot for pointing it out, our team will further review the feedback and get back to you.

[2020-10-26 18:19] JnHs commented on #64584
Thanks for the clarification @DarthRinzler. Here is some guidance on provisioning nodes using .NET: https://docs.microsoft.com/en-us/azure/batch/batch-linux-nodes#create-a-linux-pool-batch-net
And then follow the steps to create service principal ->  https://docs.microsoft.com/en-us/azure/batch/credential-access-key-vault
Does this help, or is there additional information you're looking for?

[2020-10-26 18:21] DarthRinzler commented on #64584
My hope was to add some of this information to the page in question.

On Mon, Oct 26, 2020, 11:19 AM JH <notifications@github.com> wrote:

[2020-10-26 18:22] stephbaron commented on #64663
Service Health events are available via this API, is that what you're looking for: https://docs.microsoft.com/en-us/rest/api/resourcehealth/events/listbysubscriptionid?

[2020-10-26 18:29] rayne-wiselman commented on #65023
I'm checking on least privilege for creating a vault. thx!

[2020-10-26 18:29] JnHs commented on #64584
Got it, but wanted to make sure that is the info you were looking for? We hadn't included the first link since this assumes the pool was already created and the service principal info would be the same.

[2020-10-26 18:31] DarthRinzler commented on #64584
Yes the info is useful, thanks

On Mon, Oct 26, 2020, 11:30 AM JH <notifications@github.com> wrote:

[2020-10-26 18:39] SaiKishor-MSFT commented on #64513
@RonnieQuan

Apologize. The above serial copy can be used for Firewall as well if you are using ARM. However, since you are not using it, that does not apply. Using Power shell, you cannot have 2 updates at the same time. The scenario you mentioned is not supported. Due to NDA, we cannot reveal the ETA information. If you have further questions, please let us know. Thank you!

[2020-10-26 18:43] julieMSFT commented on #49643
#assign:nanditavalsan

[2020-10-26 18:43] BharathNimmala-MSFT commented on #64691
@AKTheKnight Thanks again for bringing this to our notice, I further discussed with @lgayhardt our document author who is further reviewing the feedback and will do the needful. Thanks

[2020-10-26 18:49] #64955 closed

[2020-10-26 18:51] garrm opened #65031 "Samples have unreferenced variables/objects"
The sample code for the Class Based Model has references to variables and classes not present in the sample or the SDK.

Unknown variable/objects:

- NewConnectionTarget
- NewConnection

Also it took a bit of time to release that this is only available in later versions of the Extensions SDK. If using one of the previous examples that use v1.0.0 the ServerlessHub isn't available. There is also no

[2020-10-26 18:58] mloskot commented on #64896
@NavtejSaini-MSFT Sounds good.

FYI, link to the PR resolves as `https://github.com/MicrosoftDocs/azure-docs-pr/pull/135413` which gives 404

[2020-10-26 18:59] SaiKishor-MSFT commented on #64798
@RonnieQuan
UDR for NVA is in our Roadmap and as mentioned before, we cannot reveal the ETA due to NDA. Please let us know if you need any further assistance. Thank you!

[2020-10-26 18:59] JustinGrote commented on #65023
@rayne-wiselman there are some built in key vault roles in preview, does the migrate account just need a key vault? I would imagine it would need reader permissions on the VMs perhaps as well
https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles

[2020-10-26 19:01] zxue commented on #64870
I changed "=" to space and the command line works.
token=$(az account get-access-token --resource https://xxx.azurehealthcareapis.com --query accessToken --output tsv)

[2020-10-26 19:02] ctianls commented on #30898
Thank you Akash-JS for the hint! I tried to add an AAD as an identity provider to my AADB2C using the docs:

https://docs.microsoft.com/de-de/azure/active-directory-b2c/tutorial-add-identity-providers

This worked, however the idp_access_token-claim was not usable (as described above).

As you suggested, i added the v2.0 to the metadata-url (in b2c's ip configuration). However this led to the foll

[2020-10-26 19:04] SaiKishor-MSFT commented on #64514
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-26 19:04] #64514 closed

[2020-10-26 19:04] SaiKishor-MSFT commented on #64389
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-26 19:04] #64389 closed

[2020-10-26 19:05] nanditavalsan commented on #49643
Hi,

I can confirm that documentation applies to Synapse SQL data warehouse as well. As noted in the documentation, the connection is between the client and the server on which the data warehouse resides. "SQL Database and SQL Managed Instance enforce encryption (SSL/TLS) at all times for all connections. This ensures all data is encrypted "in transit" between the **client and server** irrespectiv

[2020-10-26 19:06] SaiKishor-MSFT commented on #64682
@matthewhart-TMG Please let me know if this worked for you or if you are still facing any issues. Thanks!

[2020-10-26 19:06] JayaChatterjee-MSFT commented on #65015
Thank you for the question. We will review and get back to you.

[2020-10-26 19:08] JayaChatterjee-MSFT commented on #65031
Thank you for your feedback! We will review and update as appropriate.

[2020-10-26 19:12] JayaChatterjee-MSFT commented on #65017
Thank you for the question. We will review and get back to you.

[2020-10-26 19:14] JayaChatterjee-MSFT commented on #65019
Thank you for your feedback! We will review and update as appropriate.

[2020-10-26 19:16] JayaChatterjee-MSFT commented on #65022
Thank you for your feedback! We will review and update as appropriate.

[2020-10-26 19:20] VanMSFT commented on #49643
Thanks, @nanditavalsan! I'll modify the documentation for clarify.

[2020-10-26 19:32] AjayKumar-MSFT commented on #64660
@kemurayama, Apologies for the delay! For a up-to-date list of Azure services that support the managed identities for Azure resources feature, you may check this document '[Services that support managed identities for Azure resources](https://docs.microsoft.com/azure/active-directory/managed-identities-azure-resources/services-support-managed-identities)'.

As mentioned discussed [here ](https://g

[2020-10-26 19:43] #49643 closed

[2020-10-26 19:48] AjayKumar-MSFT commented on #64661
@puser123, Yes. After providing your application’s health check path, you can monitor the health of your site using Azure Monitor. From the Health check blade in the Portal, click Metrics in the top toolbar. This will open a new blade where you can see the site’s historical health status and create a new alert rule. Details on the health check path, how traffic routing to healthy instances occur,

[2020-10-26 19:51] rayne-wiselman commented on #65023
That should have said least privilege for creating Azure Migrate project. Updating text and will report back here with progress.

[2020-10-26 19:56] DCtheGeek commented on #64731
@woehrl01 The PM (@mgreenegit) has reviewed this and updated the doc, which will publish later this afternoon.  Thanks again for pointing this out!

@MicrosoftDocs/azure-cxp-triage #please-close

[2020-10-26 19:56] #64731 closed

[2020-10-26 19:57] jslamartina opened #65033 "Is the WEBSITE_HEALTHCHECK_MAXUNHEALTYWORKERPERCENT documentation correct?"
Two things:

1. Looks like there's a typo in WEBSITE_HEALTHCHECK_MAXUN**HEALTY**WORKERPERCENT, is that the correct spelling we should use?

2. Is the documentation correct that a _higher_ value for this setting means _less_ unhealthy instances allowed? The way the setting name reads, it sounds like it controls the percentage of instances that are allowed to be unhealthy and still be routed to. Mea

[2020-10-26 20:11] BharathNimmala-MSFT commented on #65033
@jslamartina Thank you for your query, we will look into it and get back to you at the earliest.

[2020-10-26 20:12] jimmyca15 commented on #64797
@matthew-wiemer I think I'm understanding your concern here now but let me know if I'm getting this wrong.

The `UseAzureAppConfiguration` middleware is not a "custom" middleware that you have to make yourself. It is part of the `Microsoft.Azure.AppConfiguration.AspNetCore` package that the tutorial mentions to add a reference to.

I could see how the phrasing of "add a middleware to allow the fea

[2020-10-26 20:12] #50639 closed

[2020-10-26 20:17] MarileeTurscak-MSFT commented on #64889
Hi @mheidingsfeld,

Your admin will need to re-invite you. https://docs.microsoft.com/en-us/azure/active-directory/external-identities/b2b-quickstart-add-guest-users-portal

If you have a "My Access Portal" link you can request access but if they never sent you this you will need to contact the admin.

Hope this helps! If you have further questions feel free to reach out in Q&A. https://docs.micro

[2020-10-26 20:17] #64889 closed

[2020-10-26 20:21] danmyhre opened #65035 "Stream App doesn't support 'Require app protection policy'"
Stream (on iOS) should be added to the note with SfB, Kaizala, & visio about not working with both 'require approved client app' and 'require app protection policy'.

Stream does work on Android, but not on iOS.  On iOS, you get the "You can't get there from here" message, even though a policy is targeted and the app is configured with a policy in Endpoint Manager.

---
#### Document Details

⚠ *D

[2020-10-26 20:29] mdrakiburrahman opened #65036 "Screenshot is referencing Container throughput provisioning, article is referencing database throughput"
[This](https://docs.microsoft.com/en-us/azure/cosmos-db/media/how-to-provision-database-throughput/provision-database-throughput-portal-sql-api.png) screenshot in the article:
![image](https://user-images.githubusercontent.com/46581776/97224932-45ec7100-17a8-11eb-9f72-3e98d21977f9.png)

is showing **Container** throughput provisioning, but the article content/section is referencing how to provisio

[2020-10-26 20:35] JamesTran-MSFT commented on #65035
@danmyhre
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-10-26 20:42] vmonge opened #65037 "Wrong Hyperlink "Agents > Methods > Resource Manager templates""
documentation :
Agents > Methods > Resource Manager templates link routing to
**Enable Azure Monitor for VMs using PowerShell**
https://docs.microsoft.com/en-us/azure/azure-monitor/insights/vminsights-enable-powershell

Should be linking to
**Enable Azure Monitor for VMs using Resource Manager templates**
https://docs.microsoft.com/en-us/azure/azure-monitor/insights/vminsights-enable-resource-mana

[2020-10-26 20:44] kaptajnen opened #65038 "Usage metrics for multiple VMs"
This page in the documentation shows how to get usage metrics from a single VM. What if you want metrics from ALL VMs? If I have 400 VMs do you then have to issue 400 individual requests?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c0c08a9-7810-6240-f055-92c814df2f89
* Version Independent ID: 878cbcd3-2d40-83da-934

[2020-10-26 20:49] NavtejSaini-MSFT commented on #64896
We have created the change is private repo. We will convey once it is approved.

[2020-10-26 20:49] NavtejSaini-MSFT commented on #64769
@SharmainePopov Please let us know if you need any further help regarding this.

[2020-10-26 20:50] brandonmartinez opened #65039 "Access Azure Storage as a network share from a container in App Service: Make "Preview" More Visible"
This may be something that is a bigger issue and not specific to this page, but the single small sentence stating that this is a preview feature and not intended for production can be easily overlooked. And actually, I have a partner right now that built functionality around this not realizing it was a preview feature.

Proposal: anything that is a preview feature should have a banner or something

[2020-10-26 20:55] NavtejSaini-MSFT commented on #64746
@MaxMelcher At this time we are going ahead and closing this issue. Please get back to us with added information by raising a new issue to work on.

[2020-10-26 20:55] #64746 closed

[2020-10-26 20:55] NavtejSaini-MSFT commented on #64903
@y0rik Please let us know if you need any further information regarding this.

[2020-10-26 21:00] NavtejSaini-MSFT commented on #64906
@siwon We have checked with the product team and the current target is first half of Calendar year 2021. A product has to go through extensive preview to make sure all issues are resolved before the GA.
Please let us know if you have any further questions.

[2020-10-26 21:02] Edulopez commented on #12527
This post should not be closed.

I have the same issue. I want to do a post request with `x-www-form-urlencoded ` using a complex object.

[code]

Right now, I don't see any way or documentation that help me create this post request. Manually creating a URL is quite complex for big a deep objects.

How can I achieve this task?

[2020-10-26 21:02] NavtejSaini-MSFT commented on #64959
@papadi We are assigning this to our doc author for further review.
@j82w Please check the feedback from the Cx and provide guidance here.

[2020-10-26 21:05] NavtejSaini-MSFT commented on #64970
@ndrix We are glad you were able to find the information you needed.

[2020-10-26 21:09] MarileeTurscak-MSFT commented on #64864
Thanks! I tested and had the same problem. I've raised this issue with the product team and will get back to you. Until them you can download it from the app store.

[2020-10-26 21:16] begleyfred commented on #64864
Thanks!  It was vey frustrating

From: Marilee Turscak - MSFT <notifications@github.com>
Sent: Monday, October 26, 2020 5:10 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Dennis Atkins <datkins@inwoodinc.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Link on /en-us/account/authenticator page to send text to phone does not work (#64864)

Tha

[2020-10-26 21:17] NavtejSaini-MSFT commented on #64564
@cliang57 Please let us know if you need any further information.

[2020-10-26 21:30] varunsh-msft commented on #63939
Resource identifiers for Azure services are listed here: https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/services-support-managed-identities#azure-services-that-support-azure-ad-authentication

[2020-10-26 21:33] Exelscior opened #65042 "No reference or details for private registry authentication for multi-container group with Docker Compose CLI"
Within the "Deploy a container group - YAML" there is a reference for deploying with private registry credentials (ex. ACR): https://docs.microsoft.com/en-us/azure/container-instances/container-instances-multi-container-yaml#configure-a-yaml-file
Same thing for the "Deploy a container group - Resource Manager" there's the same reference: https://docs.microsoft.com/en-us/azure/container-instances/c

[2020-10-26 21:35] matthew-wiemer commented on #64797
I must have been missing a using before, this is functioning for me as described now.

Yes, I agree a using statement/more-explicit call out would be useful here.

Thanks,

Matthew Wiemer | Relativity

Advanced Software Engineer

relativity.com<https://www.relativity.com/>

________________________________
From: Jimmy Campbell <notifications@github.com>
Sent: Monday, October 26, 2020 3:12 PM
To: M

[2020-10-26 21:37] MashaMSFT commented on #64996
Hi @nonokangwei , thank you so much for your feedback! Thanks for a catching this typo :) I have processed a change to fix it that should be live later this week.

I'll close out this Git Issue for the time being but please feel free to comment should you need anything further.

Thanks again for improving our docs and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#plea

[2020-10-26 21:37] #64996 closed

[2020-10-26 21:48] MarileeTurscak-MSFT commented on #64667
Is it possible that there is another conditional access policy or KMSI applied? If you send your subscription ID to me at AzCommunity@microsoft.com with Attn: Marilee Turscak, I can get a one-time free support case opened to look into this. My guess is that there's another policy in place that might be overwriting the existing one.

Also, do you have the right number of P1 Premium licenses assigne

[2020-10-26 21:49] #60993 closed

[2020-10-26 21:49] #64951 closed

[2020-10-26 21:53] lyrana commented on #64915
Hi @xiaoyang-connyun,
   Great question, and it looks like our storage docs [page ](https://docs.microsoft.com/en-us/azure/time-series-insights/concepts-storage#cold-store)should be updated to answer this. First I will answer the immediate question, but then I want to take a step back and discuss your JSON payload and see if you'd benefit from re-shaping.
There is no limit on schema width for cold

[2020-10-26 21:56] mmacy commented on #64842
@jasonshave Hi Jason - first, **huge** thanks for the offer of a PR. We need more like you. :1st_place_medal:

Regarding your call-outs:

1. The sample for this quickstart, a web API, does not itself use an OAuth2 grant type. A client app that wishes to access the resource API, however, _does_ use an OAuth2 flow to obtain an access token from the identity provider (the Microsoft identity platform)

[2020-10-26 22:01] Grace-MacJones-MSFT commented on #64685
thanks for the clarification @jpetitte! sorry, you are facing this issue. are you seeing any specific error when trying to use git push?

[2020-10-26 22:04] Grace-MacJones-MSFT commented on #64668
Upon further review we feel your feedback would be best received by the doc author to determine if an update to the current doc is necessary, or to create a new doc if they align with the feedback.

[2020-10-26 22:52] DerekHerman-MSFT commented on #65021
@EdwinStraver This forum is typically for doc feedback or doc related issues. For questions regarding a service we recommend you post to [Microsoft Q&A ](https://docs.microsoft.com/en-us/answers/products/azure?product=all). If you have a programming related question I recommend posting to [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-storage-blobs).

That being said the easiest

[2020-10-26 22:52] #65021 closed

[2020-10-26 22:57] ahollandusc commented on #64888
Another follow up question for clarification - what environments can be connected to? Does the target power platform environment need to have a database before it shows up in the environment list on APIM?

[2020-10-26 23:14] lyrana commented on #64886
PR merged, #please-close

[2020-10-26 23:14] #64886 closed

[2020-10-26 23:19] ChaitanyaNaykodi-MSFT commented on #64703
Hello @BassFaceIV, Thank you for the response. Even the "microsoft" domain name did not work for me. I think to better troubleshoot the scenario here we will need to take a deep-dive into how the environment is set-up on your end. In order to have a closer look can you please send me an email with subject ​​“Attn:Chaitanya” to AzCommunity[at]Microsoft[dot]com. In email body please refer this issue

[2020-10-26 23:24] geoiglesias opened #65045 "Using Azure Storage in C++winrt UWP blank App"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b23a70e-0887-4a55-9c2c-b64e767e9eab
* Version Independent ID: 52f3d07b-7cd8-0d92-2768-7139b9a8f96b
* Content: [How to use object (Blob) storage from C++ - Azure](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-c-plus-plus-how-to-use-blob

[2020-10-26 23:34] nelroosevelt opened #65046 "Request to change Root domain to main domain."
[Enter feedback here]
Change root domain to main domain:

Map a subdomain (for example, www.contoso.com) by using a CNAME record.
Map a main domain (for example, contoso.com) by using an A record.

Root domain is the .(root) 13 root domain servers (a-m.root-servers.net) and contains the resource records for the authoritative servers of all TLDS. Subdomains are to the left of the 1st level domain a

[2020-10-26 23:36] Marusyk opened #65047 "Shared offer Database create is forbidden as count of shared offer database has exceeded 5"
Tried to create a database with Provision throughput enabled and got the error
![image](https://user-images.githubusercontent.com/9221694/97239617-b7eaa780-17f4-11eb-8d93-3f11b4e16fb6.png)

Where is described such limits?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f2b93a5-28b8-db4a-ab64-6342d3aafc63
* Version Indep

[2020-10-26 23:40] geoiglesias commented on #65045
On VS2019 v142 I created a c++winrt blank uwp App an placed test code to access my Azure storage when the user clicks the dummy button on the blank application main page.

all modification are shown here...
[MainPage.cpp.txt](https://github.com/MicrosoftDocs/azure-docs/files/5442044/MainPage.cpp.txt)

This issue is an exception is thrown in the locking mutex for the 'container.create_if_not_exists

[2020-10-26 23:46] markjbrown commented on #65036
No. the image is correct. Checking this box will provision throughput on the database.

[2020-10-26 23:48] NavtejSaini-MSFT commented on #65047
@Marusyk We are checking this and will get back to you.

[2020-10-26 23:50] markjbrown commented on #65047
You can find all of our service quotas and limits in [Azure Cosmos DB service quotas](https://docs.microsoft.com/en-us/azure/cosmos-db/concepts-limits).

This specific one is a [Metadata request limit](https://docs.microsoft.com/en-us/azure/cosmos-db/concepts-limits#metadata-request-limits) as it appears you are trying to create > 5 databases in a one minute period.

Try again after a minute and i

[2020-10-26 23:52] AlexandraKemperMS commented on #64797
Hi @matthew-wiemer, I will update the documentation's wording and let you know when the change has been made.

[2020-10-27 00:19] MonikaReddy-MSFT commented on #65037
@vmonge -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-10-27 00:31] SokoloffMaxim opened #65048 "Detailed diagram and mapping explanation required"
Hi, can you please attach detailed visio diagram to show how each of components dependent on one another ?
End result should be something like this:
http://prntscr.com/v7hvht

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7a8e997-f5c8-eaa8-b713-068650dd6b22
* Version Independent ID: ef57850d-1fc4-bc6a-827c-2934c31f50c

[2020-10-27 00:38] larryclaman opened #65049 "azure-files-csi page references incorrect deployment yaml"
In this page aks/azure-files-csi, in the section Create a deployment with an NFS-backed file share, I believe the example is incorrect.

It should use the example kubectl apply -f https://raw.githubusercontent.com/kubernetes-sigs/azurefile-csi-driver/master/deploy/example/statefulset.yaml

Currently, it incorrectly references a windows deployment kubectl apply -f https://raw.githubusercontent.com/

[2020-10-27 00:49] Karishma-Tiwari-MSFT commented on #65048
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-27 00:59] JeremyTBradshaw commented on #64907
@hpsin thanks for the explanation.  To be sure I've got it, with exp, we're not controlling the lifetime of the access token, rather the amount of time before Azure AD should not process the request if received later (due to some lag, or processing/queuing delays I assume).   So does this mean the expires_in being 3599 seconds is the default/mandatory lifetime of access tokens?

[2020-10-27 01:03] hpsin commented on #64907
Correct on both counts.  The assertion you're creating in that request is a live credential for your application, and is sufficient to prove the identity of your app - it should be treated like a password. You get to say how long that credential can be used for using `exp` - if you plan to never reuse it, make it really short. Some apps prefer to cache it and give it a longer lifetime (5-10 minute

[2020-10-27 01:18] JeremyTBradshaw commented on #64907
Thanks again.  I just came through a challenging bout of Bing searches to find an official page telling about the 60 minutes default access token lifetime, and was successful:
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes#access-tokens

I'm glad I opened this!

[2020-10-27 01:24] ChaitanyaNaykodi-MSFT commented on #64788
Hello @FrankGagnon,  Since the resolution was provided above by Jeff, I'm going to have this thread closed as it isn't an issue with docs. If you run into other issues or have docs specific feedback, please don't hesitate to open a new issue. Thanks!

[2020-10-27 01:24] #64788 closed

[2020-10-27 01:46] WinstonHoward-MSFT commented on #65038
Thanks for the question. If you intend to use the REST API then the endpoints are designed to be VM specific. A better way to view metrics for multiple VMs would be using [Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/vminsights-performance).

[2020-10-27 02:09] damochiz commented on #65022
The following command worked fine:

[code]

[2020-10-27 02:40] digimaun commented on #64893
Small follow up, we released `v0.10.4` of the IoT extension today which among other things should resolve this issue you are running into.

[2020-10-27 03:09] VikasPullagura-MSFT commented on #65049
@larryclaman
Thanks for the feedback! We are currently checking on this and will update the document as appropriate.

[2020-10-27 03:19] SnehaAgrawal-MSFT commented on #65039
@brandonmartinez Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-10-27 04:13] MayankBargali-MSFT commented on #64974
@bbsdddougla Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2020-10-27 04:13] #64974 closed

[2020-10-27 04:15] MayankBargali-MSFT commented on #63577
@keatseongchan I have got an update from my team that certificate linking from KeyVault will be available in near future but right now there is no ETA.

[2020-10-27 04:21] GitaraniSharma-MSFT commented on #64698
@Sothecom , since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-10-27 04:21] #64698 closed

[2020-10-27 04:24] GitaraniSharma-MSFT commented on #64756
@manu4rhyme , thank you for reporting the issue. I have reached out to the backend team for assistance and will let you know when I get an update from them regarding this.

[2020-10-27 04:40] CodeAsAnInfrastructureGuy commented on #64497
Hi @SumanthMarigowda-MSFT,

The error is in my original post, I don't think an additional screenshot would provide much value.

It looks like if we are using AES256, the Storage Account Name must match the AD SamAccountName of the Computer Object that it creates when running the command. There is a 15 character limitation on Computer Object SamAccountNames it seems.

It looks like this may not be

[2020-10-27 04:48] NT-D commented on #64014
@spelluru , @HarithaMaddi-MSFT Any update ?

[2020-10-27 04:52] SnehaAgrawal-MSFT commented on #64978
@chiddee Thanks again for the feedback! The PR created for this is now merged.

[2020-10-27 04:52] #64978 closed

[2020-10-27 04:52] dcbrown16 opened #65053 "asuid TXT record for Web App"
(Contact me internally at v-dibr for details.)
I am told that, even when using Azure DNS, a TXT record with the "asuid" host and the App's verification ID are required for domain verification.
See the latest steps in the Web App documentation, for example here.
https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-custom-domain#create-the-cname-record

Please confirm if this

[2020-10-27 04:57] dcbrown16 commented on #65053
Related, this document also needs a review regarding the asuid TXT record. It is providing guidance for a TXT record that does not include the asuid and verification ID.
https://docs.microsoft.com/en-us/azure/dns/dns-web-sites-custom-domain

[2020-10-27 05:07] SwathiDhanwada-MSFT commented on #64649
Thanks for your candid feedback @CarlKCarlK.  I will assign to content author @msftsvenkat for reviewing the feedback.

@msftsvenkat Can you please review this feedback and update the document accordingly?

[2020-10-27 05:21] KrishnaG-MSFT commented on #64984
@xuegao0112 Thanks for reaching out!

I recommend you to share the feedback [here](https://aka.ms/AUMFeedback) so that it allows us to gauge demand better and prioritize as needed.

In general, Azure feature or product team would check feasibility of a feedback or feature request, triage it, prioritize against existing feature backlog, add in roadmap as appropriate and would announce and/or update

[2020-10-27 05:21] #64984 closed

[2020-10-27 05:26] anthonychu commented on #65031
#reassign:@zackliu /cc @chenkennt

[2020-10-27 05:27] anthonychu commented on #65031
@Grace-MacJones-MSFT Whoops I thought this was assigned to me already so I reassigned to @zackliu who's probably in a better position to update.

[2020-10-27 05:29] JayaChatterjee-MSFT commented on #65045
Thank you for the question. We will review and get back to you.

[2020-10-27 05:31] JayaChatterjee-MSFT commented on #65046
Thank you for your feedback! We will review and update as appropriate.

[2020-10-27 05:55] BharathNimmala-MSFT commented on #64707
@RescueChris Apologies for delay in getting back to this thread.

Regarding the issue  you are seeing, requesting you to please review [this thread](https://docs.microsoft.com/en-us/answers/questions/45746/x509-error-when-onboarding-machine.html) and see if you are facing the same issue and whether the resolution works for you as well.

Also would request you to please review the [Azure TLS change

[2020-10-27 05:55] #64707 closed

[2020-10-27 06:06] HarithaMaddi-MSFT commented on #64908
@nimai123 - Thanks for posting the query. Yes, it is possible by using UPSERT option in dataflow. Please refer to this [document ](https://docs.microsoft.com/en-us/azure/data-factory/data-flow-alter-row#:~:text=ADF%20Data%20Flows%20supports%20merges,identity%20property%20of%20key%20columns.) for alter row transformation that can be used in dataflow to specify update and insert logic on the data.

[2020-10-27 06:14] JackyChiou opened #65054 "Few required DNS entries are missing in the doc:"
[Enter feedback here]
For Redis Cache:
the CRL and OCSP URLs listed below to the outbound rules
Cacerts.digicert.com
Crl3.digicert.com
www.microsoft.com
oneocsp.microsoft.com
ocsp.msocsp.com
mscrl.microsoft.com
crl.microsoft.com

Please refer IcM: 211105827

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3c4368c-82a4-f

[2020-10-27 06:24] HarithaMaddi-MSFT commented on #64979
@cveld - Thanks for posting the question. As mentioned in the document, If a processor fails (VM shuts down), then other instances detect this by looking at the last modified time. And, Users should decide the frequency of updating the checkpoint. Hence, if it crosses checkpoints duration and last modified date is not updated, then event processors can detect failure and request the ownership.

Pl

[2020-10-27 06:35] SubhashVasarapu-MSFT commented on #65053
@dcbrown16, Thanks for reaching out. We will investigate and update this thread.

[2020-10-27 06:39] Anmolgan81 opened #65055 "Can I backup/restore managed instance to managed instance?"
[Enter feedback here]
What is the process to backup MI database and restore it to another MI database, is the process similar to a normal database or tedious then that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 759e5bd8-e4f0-24aa-ab48-c2820fccd39a
* Version Independent ID: b42082b1-8c3e-82d0-d6ea-ecd57be1cdba
* Co

[2020-10-27 06:53] AshokPeddakotla-MSFT commented on #41499
@troyhopwood Could you please look into this and update?

[2020-10-27 06:59] Subhraj07 commented on #64991
Hi Monika,

Thanks for your reply.

Please find the reference link for the document which I am following.
https://docs.microsoft.com/en-us/azure/aks/servicemesh-istio-install?pivots=client-operating-system-linux

Here The error occurs at the **Install Istio components** step.

Please let me know if you need anything.

[2020-10-27 07:03] MINDoSOFT opened #65056 "Localize the "Your password has expired" string."
Hello !

Please provide a way for "Your password has expired." string to be customised.

Because currently you are able to "Reset Password" through the Azure Portal, which gives you a temporary password for the user. Which when entered gives the message "Your password has expired.". We want to customise this message to let the user know, that they have to go through the "reset password" process.

[2020-10-27 07:09] AnuragSharma-MSFT commented on #65055
@Anmolgan81 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-27 07:14] Akash-JS commented on #30898
Yeah, I should had mention "profile" related change as well in that comment.

[2020-10-27 07:18] p0shkar opened #65057 "Add information how to check current value of AllowEmailVerifiedUsers and AllowAdHocSubscriptions."
There is no "Get-MsolCompanySettings" command, so it isn't super clear how to find the current value.
Also, if you find the "Get-MsolCompanyInformation" command, it doesn't show these values by default, so it could easily be missed by an unexperienced powershell user.

I'd recommend adding the following command to the documentation.

`Get-MsolCompanyInformation | Select AllowEmailVerifiedUsers, Al

[2020-10-27 07:28] BharathNimmala-MSFT commented on #64782
@bablushaikh Apologies for delay in getting back to the thread.

Given the error you see can you please help confirm that you are seeing any output for below command , which would help understand if the resource group is recognized.

`Get-AzResourceGroup | ? ResourceGroupName -like resourcegroupname*`

Also further reviewing one of the possibility we could think of is account mapped with different

[2020-10-27 07:28] #64782 closed

[2020-10-27 07:33] palma21 commented on #65049
Thanks for the note. Fixed. Should be reflected tomorrow.

[2020-10-27 07:34] VikasPullagura-MSFT commented on #65049
@palma21 Thanks for updating the document.

[2020-10-27 07:34] #65049 closed

[2020-10-27 07:45] maheshau1 opened #65060 "Note that provisioning nested groups or Microsoft 365 groups is not supported"
Can you please clarify what this statement means?

Are we saying that;
1. Provisioning is NOT supported for nested Security Groups and nested Microsoft 365 Groups
OR
2. Provisioning is not supported for nested Security Groups, nested Microsoft 365 Groups _and _Microsoft 365 groups in general_._

It is not super clear in the documentation and I haven't been able to find any other docuementation tha

[2020-10-27 07:55] jmprieur commented on #64907
#please-close

[2020-10-27 08:09] JesvinJoseph opened #65061 "Traces Throttled warning on stream anlytics edge."
Hi,

I am getting a warning on azure stream analytics edge as like below. Didn't get any information regarding this from anywhere. But everything works fine with no errors and no delays. Will this warning can create problems in the future? What does this mean?

`2020-10-27 08:00:17.421 +00:00 [WRN] - [ASA Warning-"FxWarn"] ["streamingNode0", "M:\ASAFXVS19-006\_work\1\s\Product\Source\Framework\Str

[2020-10-27 08:12] ronyv commented on #55904
Hi guys,

Hi there, Could you please explain a bit about this. Even i am also facing the same issue. What role should i assign in order to get the "Allowed object IDs" field enabled ?

[2020-10-27 08:14] PramodValavala-MSFT commented on #64806
@motasem13 I was unable to reproduce this. Even with Microsoft Services allowed, the app couldn't fetch the secret. One thing is that reference is cached if you've just enabled the setting. When I stopped and started the app, I couldn't get the secret anymore.

[2020-10-27 08:21] ronyv opened #65063 "Getting disabled Allowed object IDs: box after createing a Azure API for FHIR server"
I just created my first Azure API for FHIR server and was trying to access the api's through Postman as per https://docs.microsoft.com/en-us/azure/healthcare-apis/access-fhir-postman-tutorial. Then i realized that i need to add the users oid into the Allowed object IDs list which is within the 'Autentication' tab. But i found this field in a disabled state and there is not way for me to add / remo

[2020-10-27 08:31] SadiqhAhmed-MSFT commented on #65005
@dkamstra FYI

[2020-10-27 08:31] AnuragSharma-MSFT commented on #65055
@Anmolgan81 Yes the process would be similar as mentioned in the doc. There is another link you can refer to where in step by step process is mentioned. In the article backup and restore is done on same MI but you can do it on different ones with the same steps as back up is being stored in blob containers:

https://docs.microsoft.com/en-us/sql/relational-databases/tutorial-sql-server-backup-and-r

[2020-10-27 08:39] BMichaelJ commented on #64939
Additional details on the confusion and not working docs on the topic Smart Detect
https://techcommunity.microsoft.com/t5/azure-monitor/add-email-to-smart-detect-action-group/m-p/1820666

Specifically this example, should it not add email to action group and not the Alert?
And the example does not work.

{
      "apiVersion": "2018-05-01-preview",
      "name": "myApplication",
      "type": "Micr

[2020-10-27 08:56] jmprieur commented on #64740
This was fixed by a PR sent by the customer.
#please-close

[2020-10-27 08:56] #64740 closed

[2020-10-27 09:03] KaiWalter opened #65064 "Last image on 'Secure APIs using client certificate authentication in API Management' is redundant"
I think the last image shown on this page is already included on top - with the right context - and is redundant at the end of the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51769134-4b97-0a48-3031-cbcea10ca714
* Version Independent ID: dc70bd8c-54be-1592-2137-aed9cae0094b
* Content: [Secure APIs using client

[2020-10-27 09:08] vchandm23 opened #65067 "Australian Eastern Standard Time"
A.U.S. Eastern Standard Time conversion using the convertFromUTC is not working as expected in ADF

![image](https://user-images.githubusercontent.com/33344547/97280539-86bfb500-1890-11eb-96f8-47f2833a61eb.png)

The ADF Expression that I use in the parameter is

@concat( formatDateTime(convertFromUtc(utcnow(),'A.U.S. Eastern Standard Time'),'yyyy')
,formatDateTime(convertFromUtc(utcnow(),'A.U.S. E

[2020-10-27 09:25] xiaoyang-connyun commented on #64915
Hi @lyrana ,

Thanks for your comprehensive explanation, and it is quite inspiring to me.
So, why are there so many properties? It is because first of all, we are using the "wide" approach as your first example demonstrated, and secondly, machines are not standardized so that every machine is sending different data points.
I also once thought about the "narrow" approach. However, independent from

[2020-10-27 09:30] TestUser0811 opened #65068 "Collecting Performance Counter From Azure Service Fabric Nodes Using Azure Application Insights Fails"
Need to get Performance counter details like CPU, Memory of Azure Service Fabric nodes using Azure Application insights, to understand what specifically limits the load on the Azure SF cluster.

As per [link](https://docs.microsoft.com/en-us/azure/azure-monitor/app/performance-counters#collecting-performance-counters-in-code-for-aspnet-core-web-applications), modified "ConfigureServices" method in

[2020-10-27 09:33] PramodValavala-MSFT commented on #64806
@motasem13 I was unable to get it to work. Could you please share more details on the setup where you have this working?

One thing that I did notice was that the secret value is cached, so it might work if you've just setup network restrictions. A restart the function app triggers the failure to fetch the key.

[2020-10-27 09:38] oleborne opened #65069 "Missing doc on ApplicationGroup value for groupMembershipClaims"
Hi,

This [page](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory/develop/active-directory-optional-claims.md) documents the possible value `ApplicationGroup` for the `groupMembershipClaims` of the manifest.
However, this is not documented in this page about the manifest.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-10-27 09:52] SwathiDhanwada-MSFT commented on #64717
@MGoedtel I have reproduced the issue from my end and unless the I provide entire "repo" as shown below, I couldn't establish the connection in Azure Automation.
![image](https://user-images.githubusercontent.com/48976275/97285374-24eb5500-1868-11eb-9119-23ed3159bcfb.png)

Can you please review and update the document accordingly?