[2019-07-17 21:08] mmacy commented on #35339
@nezoic It is the former, you must create those exact two applications. Internally, Azure AD B2C makes a call to Azure AD in order to authenticate local accounts, and it uses these applications to do so. Multiple policies can use those same two applications.

[2019-07-17 21:10] RyanLWilliams commented on #35324
Further to this I’m happy to contribute to the article but I don’t understand the inner workings of the Gateway Manager.

[2019-07-17 21:11] furlong46 commented on #35334
@mike-urnun-msft - looks like I am mixing issues.  I see now that original issue is in reference to an article titled "Use Azure Functions to connect to an Azure SQL Database".   Please forgive my mixup; sorry I can't give you your time back.

[2019-07-17 21:12] mike-urnun-msft commented on #35346
Hi @niheinba - Thanks for catching that and reporting it to us! I've gone ahead and created a PR that corrects the typo and the change should reflect within next 24hrs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-17 21:12] #35346 closed

[2019-07-17 21:14] SnehaGunda commented on #34930
@StefanSchoof we will close this issue if you don't have any further questions.

#please-close

[2019-07-17 21:14] #34930 closed

[2019-07-17 21:16] TravisCragg-MSFT commented on #35324
@RyanLWilliams You can find more information on [Gateway Manager Here](https://docs.microsoft.com/en-us/azure/virtual-network/security-overview#service-tags). The description is vague, but it should give you an idea of what it does.

I have not tested deploying a bastion in a subnet with the deny rule in place, and I am unsure if it would affect new deployments or only updates to existing deployme

[2019-07-17 21:17] madtownchris commented on #35232
Well as I said the tutorial and client code works fine when connected to
the fabrikamb2c but for whatever reason with my own B2C tenant, I get the
redirection.

I've gone through the steps several times to no avail.

What seems to make more sense is the instructions here:
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/azure-ad-b2c?view=aspnetcore-2.2
 and
https://docs.microso

[2019-07-17 21:22] MicahMcKittrick-MSFT commented on #35345
@gardner8689 thanks for the feedback on this. I will assign the issue to the content author to review and see about adding that to the list in the document.

@peterpogorski can you take a look?

CC @dkkapur @masnider

[2019-07-17 21:23] YutongTie-MSFT commented on #35204
@thecpshah Hi,could you please check following:
![image](https://user-images.githubusercontent.com/38084098/61412651-40fafb00-a89e-11e9-872b-3c0ae4bb960b.png)
You are using 1 for your storage account name, 2 for your container name.
![image](https://user-images.githubusercontent.com/38084098/61412703-67b93180-a89e-11e9-8972-4ca9e7a7fa5c.png)
And the key for your account key? It should work.

[2019-07-17 21:24] pyoungberg commented on #11164
It's been a year guys, is anyone even working this issue? @MicahMcKittrick-MSFT @ganganarayanan hello?

[2019-07-17 21:24] MicrosoftGuyJFlo commented on #35075
Details on each status can when you will see it can be found here in the doc. Short answer is if you aren't doing Conditional Access based MFA you will see all users who are enabled and have registered flip to enforced automatically. You should not flip to enforced manually.

https://docs.microsoft.com/azure/active-directory/authentication/howto-mfa-userstates#enable-azure-mfa-by-changing-user-sta

[2019-07-17 21:25] noendscripting opened #35349 "Need a list of all required permissions to build and manage Azure AD DS"
Please add a list of minimal  required  to build and manage Azure AD DS.
RBAC in Azure AD
RBAC in Azure IaaS
RBAC  in Azure AD DS object in Azure IaaS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a91a6cd-5871-d2a0-4da9-19b611c353de
* Version Independent ID: 0f38ffd2-d32c-77af-ca06-a32899ce9fbb
* Content: [Azure Acti

[2019-07-17 21:25] MarileeTurscak-MSFT commented on #35216
Hi @AlekseySokol ,

You can add trusted IPs on MFA server.

1. In the IIS Authentication section, click the Trusted IPs tab.
2. Click Add.
3. When the Add Trusted IPs dialog box appears, select the Single IP, IP range, or Subnet radio button.
4. Enter the IP address, range of IP addresses or subnet that should be allowed. If entering a subnet, select the appropriate Netmask and click OK.

![image]

[2019-07-17 21:26] MarileeTurscak-MSFT commented on #35216
We will now proceed to close this thread. If you have further questions feel free to tag me in the comments or open a new issue and I will gladly continue the discussion.

[2019-07-17 21:26] YutongTie-MSFT commented on #35204
@cwarne Could you check it as well please?

[2019-07-17 21:26] #35216 closed

[2019-07-17 21:27] RyanLWilliams commented on #35324
Thanks for the link. I’ll have a play in my subscription. I’m a curious techie at this point.

[2019-07-17 21:27] #35324 closed

[2019-07-17 21:28] kegregoi opened #35350 "Relative paths"
Hi,
Do relative paths work with sources other than storage accounts? I'm working with a customer and they're using a template where the customer used to store a CSE script in a storage account (container/scripts/script.ps1) and then used commandToExecute pointed at the relative path of the script (scripts/script.ps1) - this worked correctly. You can see in the logs that it downloads correctly to t

[2019-07-17 21:28] MicahMcKittrick-MSFT commented on #11164
Appears this doc was updated and revamped on 6/06

So seems this issue can be closed. Please check out the updated doc and let me know if you have questions.

[2019-07-17 21:29] femsulu commented on #35332
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-17 21:29] mike-urnun-msft commented on #35334
No probs, @furlong46! Feel free to open an MSDN thread and tag me with the URL of your thread ;)

[2019-07-17 21:30] SaurabhSharma-MSFT commented on #32009
@kcrosby Sorry to get back to you this late.  We need to convert the Value type to a StringValue type. There are conversion functions that can be used for this conversion - in this case use CStr() https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-sync-functions-reference#cstr.

[2019-07-17 21:31] mwc360 opened #35351 "Using Parameters to Define Column used in Exists Condition"
Is it possible to use parameters to dynamically define which column is used in the Exists condition like below?
'ExistingStageData@'+$PrimaryKey == 'IncomingRawData@'+$PrimaryKey

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fd44b79-12a0-08bd-00fc-4812c33f036b
* Version Independent ID: 64be9c8f-6d93-de50-a37a-01acdea

[2019-07-17 21:31] MicahMcKittrick-MSFT commented on #33981
@sasanmcp just FYI, we have identified the team who can update these values with descriptions. This work has been added to the backlog and will be added to the 2019-03-01 version.

I don't have a precise ETA on when swagger spec for the API will be updated but it is in the works :) Thank you for bringing this to our attention! It is much appreciated :)

[2019-07-17 21:31] #33981 closed

[2019-07-17 21:31] aahill commented on #35153
Thanks @SwePalm - we've made a fix for this, which should be visible soon! #please-close

[2019-07-17 21:31] #35153 closed

[2019-07-17 21:33] sasanmcp commented on #33981
Glad to have helped.

From: Micah <notifications@github.com>
Sent: Wednesday, July 17, 2019 2:32 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Sassan Hajrasooliha <Sasan_hj@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] possible values for -CreateOption? (#33981)

@sasanmcp<https://nam04.safelinks.protection.outlook.com/?url=https%3

[2019-07-17 21:33] KranthiPakala-MSFT commented on #35351
@mwc360 Thank you for reaching out and bringing this to our notice. At this time we are reviewing the ask and will provide an update as appropriate.

[2019-07-17 21:35] MicahMcKittrick-MSFT commented on #35350
@kegregoi This will no work with CDN. In the doc we state

So pulling it from a CDN endpoint will no work. The user will need to store the file in an Azure Storage Account or a GitHub account.

[2019-07-17 21:35] #35350 closed

[2019-07-17 21:36] NavtejSaini-MSFT commented on #35212
@eoq We are assigning it to author for further clarity regarding the text or if any additions are required.

@oslake Please review the mentioned part of the document under title "Impact of using VNet Service Endpoints with Azure storage" and please check if we can provide clarity regarding the same.

[2019-07-17 21:39] femsulu commented on #35322
Thanks for the update, @bengimblett
@anirudhcavale can we update the document with the config update workaround?

[2019-07-17 21:43] kegregoi commented on #35350
Hi @MicahMcKittrick-MSFT thanks for the quick response. It looks like the script is downloading though. Just not to the relative path. Specifically, are relative paths not supported from CDN?

[2019-07-17 21:46] TravisCragg-MSFT commented on #34114
@whut @rdefreitas @SattaRavi This has been fixed, and you should see the user management in the subnet blade.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-17 21:46] #34114 closed

[2019-07-17 21:47] peterpogorski commented on #35345
Hi @gardner8689, the "UseSecondaryIfNewer" settting will be retired in the near future. We do recommend configuring this setting on your cluster. The setting is not enabled to true upon the creation of a cluster.

[2019-07-17 21:48] Alberto-Vega-MSFT commented on #35326
@RogueRice Thanks for reaching out and thank you for sharing your solution here. I'm glad you resolved your issue

[2019-07-17 21:49] MicahMcKittrick-MSFT commented on #35350
With my knowledge of CDN, I don't believe relative paths are supported. However, I don't work directly with CDN. For CDN specific questions I would suggest you reach out to our engineering team on MSDN

https://social.msdn.microsoft.com/Forums/en-US/home?forum=azurecdn

Also, doing some research offline, it seems a user asked a similar question on Stack Overflow

https://stackoverflow.com/question

[2019-07-17 21:49] SaurabhSharma-MSFT commented on #34583
@pbalzer We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-17 21:49] #34583 closed

[2019-07-17 21:49] #35345 closed

[2019-07-17 21:52] mmacy commented on #35344
@nezoic Hi Joshua, I'm unable to reproduce this issue. The blade should look similar to the following:

![image](https://user-images.githubusercontent.com/13394541/61412930-0f366400-a89f-11e9-96c6-8417d9b970d4.png)

I see the behavior you describe when selecting either the base or the extension policy (for example, _B2C\_1A\_TrustFrameworkBase_ or _B2C\_1A\_TrustFrameworkExtensions_), but not when

[2019-07-17 21:54] Alberto-Vega-MSFT commented on #35018
@jhosteny Can you please confirm that your questions were addressed?

[2019-07-17 21:56] mayanknayar commented on #34397
The doc has been updated to reflect the minimum size requirement.

@MicahMcKittrick-MSFT - we can close this thread

[2019-07-17 21:58] Alberto-Vega-MSFT commented on #35139
@xiongyu0523 Since we haven't heard back from you I will be closing this issue for now. If you have further comments we will be more than happy to continue the conversation and reopen the issue.

[2019-07-17 22:01] mike-urnun-msft commented on #35336
Hey @gowallace - Per Chris' comment above, please engage & monitor the issue on durable functions' repo above for further updates on this scenario. We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-17 22:01] #35336 closed

[2019-07-17 22:02] #34397 closed

[2019-07-17 22:07] jeevansd commented on #35175
@chetansriv and @v-nagta Can you please update this doc?

[2019-07-17 22:10] josephbnb commented on #35323
@FrankHu-MSFT thanks for your feedback. I really need to keep the current app and restore the scopes so any solution for that is much appreciated!

[2019-07-17 22:10] mmacy commented on #35313
#pri1

[2019-07-17 22:19] mike-urnun-msft commented on #35255
Hi @draiche - I've created a PR that addresses this issue. Once the PR is merged, the sentence should read: "The time-to-live (TTL) setting on a brokered message is not enforced when there are no clients actively listening."

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-17 22:19] #35255 closed

[2019-07-17 22:30] laurenhughes commented on #34903
@rogeraustin To see the info on the service principal, use `az ad sp list --display-name "Microsoft Azure Batch"`.  This will give you the ID for the Batch API, which is `ddbf3205-c6bd-46ae-8127-60eb93363864`.

Try using the same CLI command as you did, but with the ID: `az role assignment create --role contributor --assignee ddbf3205-c6bd-46ae-8127-60eb93363864`. Let me know if this works for you

[2019-07-17 22:34] FrankHu-MSFT commented on #35232
When you use the fabrikamb2c tenant? You would have needed to change the app id, secrets, etc... It's not just a b2c tenant name change. Did you change all the other values?

[2019-07-17 22:38] FrankHu-MSFT commented on #35329
We recommend that you instead use a common redirectURL (eg https://redirect.sharepoint.com) and redirect to the tenant-specific page after receiving your callback in the OAuth flow. Wildcard reply URLs may allow malicious apps to impersonate your app.

I apologize for the inconvenience as that is currently the only solution we have for this. The reason for not accepting wildcard URLs is due to the

[2019-07-17 22:38] FrankHu-MSFT commented on #35329
please let us know if you have anymore questions within the scope of this thread, otherwise I will be closing this out by end of day today.

[2019-07-17 22:44] mayanknayar commented on #20485
@cynthn and @Karishma-Tiwari-MSFT - I was updating this doc yesterday for another feedback and saw this open thread. The details on manual upgrade have been added to the doc. We can close this thread now.

[2019-07-17 23:06] jhosteny commented on #35018
Yes, that answers my question. Thanks!

[2019-07-17 23:08] dcbrown16 commented on #29047
Thanks @VanMSFT!
Am I correct in understanding that you can enable ATP on a single SQL server from the SQL server settings, but you have to enroll all of your SQL resources at once if you go from ASC? That seems like an important distinction to make that isn't directly related to billing.

[2019-07-17 23:09] FrankHu-MSFT commented on #35232
Hey @madtownchris it looks like similar users are having issues. Per the so post : https://stackoverflow.com/questions/56993058/iconfidentialclientapplication-getaccountsasync-returns-nothing

Did you change the values in the web.config in the taskwebapp?

[2019-07-17 23:09] KeiroKamioka0000 opened #35353 "Is connection between the Azure SQL Database and Azure Analysis Service is made by HTTPS or somekinds of private connection?"
Is connection between the Azure SQL Database and Azure Analysis Service is made by HTTPS or somekinds of private connection?

Azure Analysis Service document say the 'connections to Azure Analysis Service will use HTTPS.
Does this include the Azure Resources?

Thanks,

Connecting to servers
https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-connect
This article describes co

[2019-07-17 23:10] dcbrown16 commented on #35174
@SumanthMarigowda-MSFT no, the Table of Contents. Typically, active pages should show in the navigation menu on the left, for example this one should probably be under How-To somewhere.

[2019-07-17 23:13] cwarne commented on #35204
@YutongTie-MSFT Yes it looks like everything is correct on our end

[2019-07-17 23:20] VanMSFT commented on #29047
Hey @rmatchoro - Can you please help clarify Dillion's questions regarding enabling ATP, and if there's a change needed in our documentation to be more clear. Thanks!

[2019-07-17 23:23] ding-harrison opened #35354 "audience specification"
Is it possible for us to generate a token with our own audience? For example, I have an external service where I want a specific audience to be generated. Could I specify this in my application?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2471c08b-befe-8e1a-df08-f13e116c231e
* Version Independent ID: 0d827d33-2906-6

[2019-07-17 23:37] prabansa commented on #35166
Hi @masautt

Thanks for the feedback. Could you please try using the below format in xlsx or tsv file and check if you are able to add alternative questions for an answer -
Row 1 --> Question 1 --> Answer
Row 2 --> Question 2 --> Answer

To be added as alternative questions, "Answer" and metadata tags need to be exactly same. I am attaching a sample here as reference.
[FAQ Sample.xlsx](https://git

[2019-07-17 23:37] pwl-kdk commented on #34860
Thank you @SnehaGunda .  Glad to hear it is being passed on.

[2019-07-17 23:44] MicrosoftGuyJFlo commented on #19142
@andretms  please review.

[2019-07-17 23:45] anujgeek opened #35355 "Cannot get auto-scale setup to work"
Hello, I've been trying to reach the product teams on github for a month. Can you please help me with this case:
Cannot get prometheus to work AND cannot get autoscale to work if using pre-installed metrics-server instead of prometheus
https://github.com/Azure-Samples/virtual-node-autoscale/issues/40
https://github.com/virtual-kubelet/virtual-kubelet

---
#### Document Details

⚠ *Do not edit this

[2019-07-17 23:51] #20485 closed

[2019-07-17 23:55] MicahMcKittrick-MSFT commented on #35355
@anujgeek thanks for reaching out. We only use the azure-docs repo to resolve documentation issues. So this would not be the correct platform for assistance. However, I will reply to your other issue you opened and work to get you some help.

[2019-07-17 23:55] #35355 closed

[2019-07-17 23:55] Karishma-Tiwari-MSFT commented on #35341
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-17 23:56] Karishma-Tiwari-MSFT commented on #35347
@Lukenyc Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-07-17 23:56] femsulu commented on #34787
@cgardner63 sorry for the delay. Are you still experiencing this issue? I am unable to repro the "Not found" exception but wanted to make sure you are aware of the [breaking changes](https://docs.microsoft.com/en-us/powershell/azure/migrate-az-1.0.0?view=azps-2.4.0) with the introduction of  Az module as stated [here](https://docs.microsoft.com/en-us/powershell/azure/new-azureps-module-az?view=azp

[2019-07-17 23:56] #34787 closed

[2019-07-17 23:58] SteveBurkettNZ commented on #33795
Same question for Active Directory Domain Services (AD DS), would like to be able to monitor our Server 2019 DC's with AAD Connect Health too.

[2019-07-18 00:02] prabansa commented on #29757
Hi @jwatkin
There is no threshold setting available for the test pane in portal. test pane will give you the top 3 answers for any query. As mentioned above, you can change the threshold in the call to generate answer using the "scoreThreshold" field. See details here: [https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/metadata-generateanswer-usage#generateanswer-request-co

[2019-07-18 00:04] femsulu commented on #35332
A PR has been successfully initiated to resolve this. The fix will be live in 24 hours. Thanks again for catching this.

[2019-07-18 00:04] #35332 closed

[2019-07-18 00:12] rogeraustin commented on #34903
As I noted when opening this issue, using `ddbf3205-c6bd-46ae-8127-60eb93363864` in `az role assignment create` works for me. The issue is that the id used in the script example, `MicrosoftAzureBatch`, does not work for me. This isn't actually a problem for me. I just thought you should be aware of it.

When I use `az ad sp list --display-name "Microsoft Azure Batch"` the result includes
[code]
As

[2019-07-18 00:21] KeiroKamioka0000 opened #35357 "About proactive auto-healing and auto-healing"
Hello, I believe the these two features are actually different features but similar.
Pro active auto-healing is enabled by default, but auto-healing must be configured manually.

Please consider to add to the document about the [auto-healing] to prevent user to get confused

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2019-07-18 00:23] Karishma-Tiwari-MSFT commented on #35337
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-18 00:24] prajster opened #35358 "Error on the last command : New-ASRReplicationProtectedItem"
Cannot validate argument on parameter 'AzureToAzureDiskReplicationConfiguration'. The argument is
null, empty, or an element of the argument collection contains a null value. Supply a collection that does not contain any null values and then try the command
again.

I noticed that VHD uri and RecoveryAzureStorageAccountID are missing. Why do we need these for Managed disk VM replication.

---
####

[2019-07-18 00:37] femsulu commented on #34858
@bobbgy any insight on whether group managed service accounts can be used instead of Local systems? And if yes, any known issues?

[2019-07-18 00:49] codyborn commented on #34985
Hi Satya,

I've attempted to reproduce the bug by deploying the contract that you've provided with no luck (see output below).  I'm using the following versions:
Truffle v5.0.3 (core: 5.0.3)
Solidity v0.5.0 (solc-js)
Node v10.13.0

Can you see if you can deploy this contract to any other Ethereum network (ex. Kovan) to see if we can narrow it down further?

[code]

[2019-07-18 01:03] bedro96 commented on #34933
Sorry for late response. Hope this will attach the file

[2019-07-18 01:06] bedro96 commented on #34933
Sorry for late response. Please find the attachment.

[2019-07-18 01:06] ravi9 commented on #34958
@MicahMcKittrick-MSFT In the extension-schema section, `Extensions` has `E` capitalized. Not sure if it is case-insensitive.

[2019-07-18 01:07] ivasilyev-servicetitan-com commented on #22099
@fabaliga I'm not sure what it will be with SDK. But I beleive you need to make 2 authentication actions as well (in correct order). Actually I will need to achieve the same with Terraform somehow - not sure the actual steps for now.
Meanwhile, did you see [this video](https://medium.com/@ArsenVlad/azure-vnet-peering-across-azure-active-directory-tenants-using-service-principal-authentication-13c5

[2019-07-18 01:09] femsulu commented on #34947
@gitralf  - [Here ](https://blogs.msdn.microsoft.com/azuregermany/2016/08/18/endpoints-in-microsoft-cloud-germany/)are the requested endpoints for German cloud. The screenshot below also shows how to pull these details via PS

![image](https://user-images.githubusercontent.com/34327711/61421898-f7baa380-a8bd-11e9-8270-25ea19894798.png)

[2019-07-18 01:09] femsulu commented on #34947
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-07-18 01:09] #34947 closed

[2019-07-18 01:21] femsulu commented on #35012
@Jacintopc  - explanation on EA bill can be found @ https://docs.microsoft.com/en-us/azure/billing/billing-understand-your-bill-ea

We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-07-18 01:21] #35012 closed

[2019-07-18 01:32] damienkherbert opened #35360 "Please use current package/API or reference dependencies"
The current MicrosoftAzure.Storage package(9.3.3) is vastly different to the examples, especially as they use async now. Please either update the examples or reference the version and package used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a76eba3-d431-79f0-07ea-d178d6b5827e
* Version Independent ID: 94202710-618

[2019-07-18 01:39] femsulu commented on #35124
@aanandr  - can you confirm the above? Let me know if this needs to be updated and I can initiate a PR asap.

[2019-07-18 01:46] vultureman commented on #32575
Guys,

Is there a note added to any article yet saying that my scenario is going
to cause authentication issues? Specifically the scenario where seamless
sso wasnt fully disabled when switching to adfs (Azure sync switched to
adfs, seamless sso computer in AD not deleted, powershell commands not run
to disable Seamless SSO status on 365 tenant)? In this chain I've heard
that it should be added to

[2019-07-18 01:50] KalyanChanumolu-MSFT commented on #34827
This is being assigned to the content author to provide more information.

[2019-07-18 01:53] cwarne commented on #35204
@YutongTie-MSFT  It looks like when we attach a Datastore to a Workspace it works fine. If we unregister() that Datastore and then add a Datastore with the same name it fails.

[2019-07-18 01:58] mike-urnun-msft commented on #34088
@HairyPorker Apologies for the delay in response. I'll review and add the required steps as appropriate.

@asdlea This documentation was updated to reflect the new App Registration experience. Could you clarify which exact step is still referencing the legacy one?

@PinakiIT will provide a sample and relay your feedback to APIM team.

[2019-07-18 02:05] KalyanChanumolu-MSFT commented on #34928
@jcawte Yes, while creating a new database, you can choose the source as backup and restore it.

![image](https://user-images.githubusercontent.com/8835012/61423748-98e14280-a92e-11e9-80c5-13616b5b74e3.png)

We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-18 02:06] KalyanChanumolu-MSFT commented on #35025
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-18 02:06] #35025 closed

[2019-07-18 02:19] femsulu commented on #35145
Thanks for catching this. A PR has been successfully initiated to fix the omission. This will be live in 24hrs.
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-07-18 02:19] #35145 closed

[2019-07-18 02:19] #34754 closed

[2019-07-18 02:21] mike-urnun-msft commented on #34754
Per offline communication with @racchen & APIM team, APIM simply brokers & facilitates the OAuth flow so as long as the identity provider is able to preserve proper flow, it should be OK. As such, we'll proceed to remove the Note block mentioning v1 endpoint use.

We will now close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly contin

[2019-07-18 02:21] femsulu commented on #35322
adding @johnkemnetz & @nkiest  per offline convo w/ @anirudhcavale

[2019-07-18 03:00] NHaiby commented on #34069
This error " string index out of range" should be fixed now. Please try running the data again.

[2019-07-18 03:03] NHaiby commented on #33265
Form Recognizer is currently a sync API with a timeout and a limitation of 4MB, 50 pages PDF or long processing time. It might be that your PDFs are complex and processing time is longer than the timeout. Can you please reduce the amount of PDFs try with 5 PDFs from the same type ? We are currently also working on an Async API which will enable training large data sets and file sizes and will not

[2019-07-18 03:12] Alberto-Vega-MSFT commented on #35261
@josephmwells Thanks for reaching out! Would you please provide more detail about how it is not consistent with guide or What changes need to be made to improve this document?

[2019-07-18 03:17] akshaybabloo commented on #34565
True but URL fragments is not a standard request way right? In Golang, there is no way to read `#` (unless I write a program to read `#` from the URL). I read it in StackOverflow saying that a URL should never return fragments (unless they are used internally)

[2019-07-18 03:23] SnehaAgrawal-MSFT commented on #35357
@KeiroKamioka0000 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-18 03:47] DixitArora-MSFT commented on #35136
@rjosephp You can deploy the API Management instance in another subnet . ASE should be the standalone entity in another subnet. You can not deploy ASE and API Management instance in same subnet.  Also if your only requirement is not to expose the web api in ASE directly to internet, this can be achieved by putting Web Api in ILBASE. Any webapp/webpi in ILBASE is not exposed to internet, you can no

[2019-07-18 03:51] mike-urnun-msft commented on #32625
Thanks for adding your valuable input here, @banisadr!

@jwisener Apologies for the delay in response. I hope the comment above answers your question. Since there isn't any change required to the documentation from this issue, we will now proceed to close this thread. If there are further questions regarding this matter, please open a thread on MSDN forums and we will gladly continue the discussio

[2019-07-18 03:51] #32625 closed

[2019-07-18 03:52] Ayanmullick opened #35364 "Biometric notifications' approval"
Is it in the roadmap to enable biometric approval for the notifications, in the future? So one can just authenticate with fingerprint or face id instead of having to copy over the code, as demonstrated in the below video.

https://youtu.be/YFvAbr-Qsm4?t=243

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a46313f6-ce23-8

[2019-07-18 03:57] msrini-MSFT commented on #35173
@810123 , When it comes to On-Premises to VNET connectivity, Site to Site is used, not VNET to VNET connection.

VNET to VNET connection is only for two VNETs in Azure. Does that clarifies your questions?

[2019-07-18 03:58] msrini-MSFT commented on #35001
@cktechative , I will go ahead and close this issue. If you have any further questions, please tag me. I will reopen this issue and work with you.

[2019-07-18 03:58] #35001 closed

[2019-07-18 04:16] mitchellgarner commented on #34075
@Karishma-Tiwari-MSFT Hi there, this issue being closed seems to contradict the document.  The executables linked in the document state they are GRID9 yet these comments seems to say GRID9 is not available for NV series?

I am still seeing large issues with GRID not working with Windows Images greater than 1803 and this documentation is the only place I have seen this mentioned.  What version of G

[2019-07-18 04:20] vikancha commented on #34075
@mitchellgarner Can you please provide more information on the issues are you are seeing with GRID and Windows? All the documentations links are updated saying that GRID9 is the driver version on NV and the support matrix for Windows and Linux are all up to date.

[2019-07-18 04:21] vikancha commented on #34075
@mitchellgarner Can you please provide more information on the issues are you are seeing with GRID and Windows? All the documentations links are updated saying that GRID9 is the driver version on NV and the support matrix for Windows and Linux are all up to date.

[2019-07-18 04:27] AmanGarg-MSFT commented on #35293
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-07-18 04:27] #35293 closed

[2019-07-18 04:27] AmanGarg-MSFT commented on #35077
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-07-18 04:27] #35077 closed

[2019-07-18 04:33] AshokPeddakotla-MSFT commented on #35018
Thanks for the confirmation.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-18 04:33] #35018 closed

[2019-07-18 04:44] jakaruna-MSFT commented on #35074
@litvinolek Did you sent the subscription id?

[2019-07-18 04:57] jakaruna-MSFT commented on #35106
@KJaunay did you tried the above suggestions?

[2019-07-18 04:57] jakaruna-MSFT commented on #35195
@bramvdklinkenberg is there any update

[2019-07-18 04:58] jakaruna-MSFT commented on #35009
@hadr10 Is the reply by jjindrich helpful to you?

[2019-07-18 05:00] dcbrown16 opened #35367 "Updates needed"
There are many major changes happening with Monitor, so I hope we have some backlog items to update this page.
I recently summarized this internally, let me just paste that info here. It's about how to collect and get alerts on guest OS diagnostics, mostly.

1.	Continue using Linux Diagnostics Extension with classic alerts working from storage
  a.	Can’t create new alerts after Aug 31
  b.	Will be

[2019-07-18 05:01] jakaruna-MSFT commented on #34984
@saghorpa I merged the PR.

[2019-07-18 05:02] jakaruna-MSFT commented on #34457
@iRainbow5 is there any update

[2019-07-18 05:10] dcbrown16 opened #35368 "Where are alerts?"
"The total number of VM Health alerts categorized by severity is available on the Health dashboard under the Alerts section. When you select either the total number of alerts or the number corresponding to a severity level, the Alerts page opens and lists all alerts matching your selection."
I don't see anything like this on the Insights &gt; Health tab. Are there conditions of some kind for the d

[2019-07-18 05:10] hadr10 commented on #30127
i tried to configure windows vm with this manual and without success, extension had no problems, but i can't see nothing in event hub, for linux vm manual works well

[2019-07-18 05:11] dcbrown16 commented on #35368
![image](https://user-images.githubusercontent.com/34466884/61430737-c2bf4880-a8df-11e9-847b-3fba6b851d1b.png)

[2019-07-18 05:16] ehalsey commented on #33265
Thanks @NHaiby but I don't think we are up against those limits.  5 pdfs totaling ~1.3MB for all 5.  Example attached.  I redacted names/accounts to protect the innocent :).  Ones supplied to training are not redacted.
![2019-07-17_22-10-38](https://user-images.githubusercontent.com/14900980/61430917-7de7e180-a8e0-11e9-85fa-5edcab49e595.png)

[2019-07-18 05:17] manoj-lenka opened #35369 ""context.Request.Certificate.Verify()" How this verify works and what exactly it does?"
As it is a public certificate, how it verifies the client certificate?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51769134-4b97-0a48-3031-cbcea10ca714
* Version Independent ID: dc70bd8c-54be-1592-2137-aed9cae0094b
* Content: [Secure APIs using client certificate authentication in API Management - Azure API Manageme

[2019-07-18 05:19] SwathiDhanwada-MSFT commented on #35254
@jtuliani Whenever you enable backup for Azure VM's , Azure Backup service creates a separate resource group (other than the VM resource group) to store snapshot, with the naming format AzureBackupRG_geography_number (example: AzureBackupRG_eastus_1). If you lock this resource group, backups will start to fail as there's a maximum limit of 18 restore points.

[2019-07-18 05:22] KetanChawda-MSFT commented on #35369
@manoj-lenka Thank you for your question. We will review and provide an update as appropriate.

[2019-07-18 05:25] Statowfiq opened #35370 "Azure ADB2C logout doesn't invalidates access token"
Azure ADB2C logout doesn't invalidates access token.

I am using MSAL 0.2.4 library. The logout function logs out me from my application and redirects me back to login. But the access token is still alive. I am able to use the old access token to access my webAPI.

The access token is not getting invalidated post logout.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2019-07-18 05:28] AjayKumar-MSFT commented on #35068
@adback03, We will close this out, but if you feel you need more information please just let us know.

[2019-07-18 05:28] #35068 closed

[2019-07-18 05:30] SumanthMarigowda-MSFT commented on #34459
@CharmanderJieniJieni  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-18 05:30] #34459 closed

[2019-07-18 05:34] aaazzz opened #35371 "Client secrets"
In the legacy version, client secrets were encoded in base 64, but what is the encoding in the current version?

To maintain compatibility with legacy version based applications, I thought I could convert the current version of client secrets to base 64, but it didn't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2019-07-18 05:35] shashishailaj commented on #35343
@jreinhardtiv4 Thank you for your feedback . We will investigate and update this thread further.

[2019-07-18 05:37] shashishailaj commented on #35343
@MarkusVi Could you please check with engineering and find out if this can be added to the list in the documentation.

[2019-07-18 05:39] shashishailaj commented on #35344
@nezoic Could you please check and let us know your scenario and use case . As explained by Marsh , this is not reproducible hence it would be great if you could provide us more information on this.

[2019-07-18 05:40] shashishailaj commented on #35349
@noendscripting Thank you for your feedback . We will investigate and update further .

[2019-07-18 05:40] SumanthMarigowda-MSFT commented on #35174
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-18 05:41] shashishailaj commented on #35371
@aaazzz Thank you for your query. We will investigate and update this thread further.

[2019-07-18 05:41] ehalsey commented on #33265
I reran using the same training set and it worked!  Looks like you can close this issue.

[2019-07-18 05:42] SumanthMarigowda-MSFT commented on #35190
@MrLokeshV We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-18 05:42] #35190 closed

[2019-07-18 05:42] shashishailaj commented on #35364
@Ayanmullick Thank you for your query. We will investigate and update this thread further.

[2019-07-18 05:44] shashishailaj commented on #35354
@ding-harrison Thank you for your query. We will investigate and update this thread further.

[2019-07-18 05:53] SumanthMarigowda-MSFT commented on #35360
@damienkherbert Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-18 05:57] ram-msft commented on #35125
@iangardnergb This issue may be intermittent as I am unable to reproduce your issue, could you please retry and see if it works fine. Please Check your Service Health page. The ‘Service Health’ - Service issues view shows any ongoing problems in Azure services that are impacting your resources. You can understand when the issue began, and what services and regions are impacted.

If the error is se

[2019-07-18 05:58] ManojReddy-MSFT commented on #35247
@xcactusx I am glad it helped you. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-07-18 05:58] #35247 closed

[2019-07-18 06:02] SwathiDhanwada-MSFT commented on #35256
@jtuliani AFAIK, VM's in Availability Zones are not supported. I am not sure of the link you have provided.

@rayne-wiselman can you please provide your insights on this?

[2019-07-18 06:03] hkusulja commented on #35294
@TravisCragg-MSFT ok, it would be good to specify that in document, thank you

[2019-07-18 06:22] aaronhughesdelt commented on #29560
@djpmsft is there documentation for the "other concept" variables such as @activity().output ?

[2019-07-18 06:23] qbihay opened #35372 "incorrect URI"
at the end of the uri we need to add /refreshes
Example:
https://your server region/servers/aas server name/models/your database name/refreshes
For example: https://westus.asazure.windows.net/servers/myserver/models/AdventureWorks//refreshes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a8e4016-dc29-875a-a2f4-f029d90

[2019-07-18 06:33] lolekjohn opened #35373 "Azure API Management - Unable to see the Application Insights"
I am trying to add a new Application Insights into my API Management instance. I am following as mentioned in the documentation - [https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-app-insights](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-app-insights). But while trying to add the App Insight, the drop down is not listing any App Insights. Bu

[2019-07-18 06:46] ChiragMishra-MSFT commented on #35372
@qbihay Thanks for bringing this to our notice. We will investigate and update as appropriate.

[2019-07-18 06:47] ChiragMishra-MSFT commented on #35353
@Minewiskan Can you please take a look at this ?

[2019-07-18 06:50] jakaruna-MSFT commented on #35274
@pixelmosh I followed the tutorial and i am able to view the app in http://localhost:8080

I will make some changes as you did and verify if the app is working properly or not and let you know

[2019-07-18 06:51] ehalsey opened #35374 "Microsoft Form Recognizer boundingBox values"
We are looking to build on the Forms Recognizer platform and was wondering if someone could explain the boundingBox values.  For example, could these values be used to programmatically draw a box around the extracted value to show the user where the value was pulled from?  Looks like the first value lines up to the x coordinate but the other values are a mystery.  TIA

---
#### Document Details

⚠

[2019-07-18 06:52] #33265 closed

[2019-07-18 06:53] jcawte commented on #34928
Thanks for the reply Kalyan, so to confirm, if you select 'Backup' as a source it will show you all LTR backups for your subscription that are available, regardless of whether the server they were originally linked with has been deleted, is that right?  If so, that answers my question, thank you.

[2019-07-18 06:55] pvrk commented on #28955
Sorry for the delay in response. We have updated the template references for Backup policies and they will be published in August deployment cycle.

[2019-07-18 07:05] KrishnaG-MSFT commented on #35172
Assigning @bwren for visibility
@bwren Please provide your insights

[2019-07-18 07:05] ggailey777 commented on #35258
@adamjones-OIA the function app provides an execution context for the set of functions deployed into it.
You are correct that two Blob storage triggers would need to resolve to two separate paths.

This article has a section that shows [how to use VS tooling to add a function to an existing function app](https://docs.microsoft.com/azure/azure-functions/functions-develop-vs#add-a-function-to-your-p

[2019-07-18 07:05] nodulusteam commented on #20737
Having the same problems when removing certain vnets. This issue should remain open and handled publicly, there are not enough resources for us to work around this. I have exhausted every option suggested by support team (PS, ARM, REST), and the NIC is nowhere to be found.

[2019-07-18 07:07] MartijnElfers commented on #34592
Hello, do you have any feedback regarding this topic? Awaiting your reply

[2019-07-18 07:14] shobankr commented on #20737
I had to raise a support ticket and the support team took two months to solve this issue. They tried every possible way to delete and finally managed to do a force delete. I had the same issue. NIC is nowhere to be found.

[2019-07-18 07:16] shadySirhan commented on #35303
Thanks for your fast reply.
Actually I am not sure I understand what you mean by correctly! I am connecting to the machine via Azure portal with Remote desktop, and then checked which dotNet versions are installed on that machine.

[2019-07-18 07:31] FlorianGah commented on #34069
@NHaiby
Hello, thanks for your feedback. My first test was successful!

[2019-07-18 07:32] bramvdklinkenberg commented on #35195
See https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks/suggestions/38173222-addon-for-automatic-reboot-of-nodes

[2019-07-18 07:32] #35195 closed

[2019-07-18 07:36] bhavyaGidugu opened #35375 "JSON editor in Azure Portal for authoring & deploying ADF v1 pipelines will be turned OFF on 31st July 2019"
The JSON editor in Azure Portal for authoring & deploying ADF v1 pipelines will be turned OFF on 31st July 2019. After 31st July 2019, you can continue to use ADF v1 Powershell cmdlets, ADF v1 .Net SDK, ADF v1 REST APIs to author & deploy your ADF v1 pipelines

 Does that mean whatever the process explained in this page cannot be implemented after 31st July 2019?

---
#### Document Details

⚠ *Do

[2019-07-18 07:37] Kazzan commented on #35286
@MicrosoftGuyJFlo: It is correct that this content is still there. Because lot of people does not understand the states. But the wording should be changes in some places. Like: "This is the method used for those with either Office 365 or Microsoft 365 Business licenses as they do not include Conditional Access features. which is not correct these days, because Microsoft 365 Business contain Condit

[2019-07-18 07:43] SnehaAgrawal-MSFT commented on #35199
@ToMakeSense Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-07-18 07:56] mwwski commented on #34544
@BhargaviAnnadevara-MSFT https://dev.azure.com/ukpr

[2019-07-18 07:58] sgdesmet commented on #35209
Hello @FrankHu-MSFT and @JasSuri , thank you both for your feedback!

Unfortunately, I was unable to use the OAuth2 Protocol in the Technical Profile, because the Identity Provider required the `nonce` parameter in the authorization request, which is not available by default using the Oauth2 protocol. Additionally, it seemed the `AdditionalRequestQueryParameters` was not working, the parameters we

[2019-07-18 07:58] #35209 closed

[2019-07-18 08:01] nabhishek commented on #19698
@JuleKuhn You can now send output from notebook back to ADF. This feature has been enabled.
Use dbutils.notebook.exit("returnValue"), you will see'runOutput' property in the response body.

[2019-07-18 08:12] dcbrown16 opened #35376 "Undefined variable"
$namedContainer = Get-AzRecoveryServicesBackupContainer -ContainerType "AzureVM" -Status "Registered" -FriendlyName "V2VM"
$item = Get-AzRecoveryServicesBackupItem -Container $namedContainer -WorkloadType "AzureVM"
$endDate = (Get-Date).AddDays(60).ToUniversalTime()
$job = Backup-AzRecoveryServicesBackupItem -Item $item -VaultId $targetVault.ID -ExpiryDateTimeUTC $endDate

$targetVault is not a de

[2019-07-18 08:12] tjgalama commented on #34999
Apologies, for my delayed response:
The moment I opened this issue, I was looking for a way to restrict the number of instances (concurrent processes) the functions app scales out. This meets the description mentioned with the setting **WEBSITE_MAX_DYNAMIC_APPLICATION_SCALE_OUT**.
Although the _documentation_ of setting 'WEBSITE_MAX_DYNAMIC_APPLICATION_SCALE_OUT' is fine, the setting _itself_ is u

[2019-07-18 08:13] dcbrown16 commented on #35376
Plus, this example run as is will run into the issue of not setting vault context first using cmdlet Set-AzRecoveryServicesVaultContext.

[2019-07-18 08:23] jtuliani commented on #35254
Thank you. Understood. However, I think the doc should be more clear about all this. It's just refers to RG locks without saying which RG it's referring to. Plus please fix the 'resource points' typo :)

[2019-07-18 08:34] Jayesh040 opened #35377 "Download files from the azure container who are 6 months past from the date to linux server."
I need to download files from azure storage account container which has 6 months past from the current date to the linux server via azcopy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15911160-5ba2-fb0a-0b24-16b3857e20ce
* Version Independent ID: d925bc9f-f825-2f82-168c-6c30d716b9ce
* Content: [Copy or move data to

[2019-07-18 08:34] litvinolek commented on #35074
Hi! Currently I found bad but working solution: moving downloaded script from CSE download folder to Install folder through DSC extension script resource and hardcode this path to commandtoexecute.

But today or tomorrow I will create lightweight arm template for testing and send request for AzCommunity. Thanks for the help!

[2019-07-18 08:48] thecpshah commented on #35204
@YutongTie-MSFT Yes, I am doing exactly as you suggested.

[2019-07-18 08:51] ChiragMishra-MSFT commented on #35375
@bhavyaGidugu Thanks for the feedback. I am assigning the issue to the content owner to review and update the doc.

@linda33wj Can you please take a look at this ?

[2019-07-18 09:00] t-leblanc opened #35378 "Dynamic content empty"
In step 11 from "Add the first conditional action" of this tutorial you should be able to select the NotificationThresholdAmount property out of the dynamic content list, but no matter what I try, the NotificationThresholdAmount or others are not showing.
I can define the complete expression manually: float(body('Parse_JSON')?['data']?['NotificationThresholdAmount'])
Same problem later on when def

[2019-07-18 09:01] thecpshah opened #35379 "Died kernel on compute"
I downloaded a `5 GB csv` file using `ds.as_download(path_on_compute='your path on compute')`.

When I read this file using `Pandas` on my VM compute (`STANDARD_D3-V2`), the kernel dies but it works well on  (`STANDARD_D4-V2`).

Why `D3_V2` does not work with `14 GB` RAM?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-07-18 09:04] hung-doan opened #35380 "Does the new commit from "adf_publish" trigger the deployment to deploy my changes to ADF ?"
I know that when I press "Publish" button from the ADF Author UI, It will:
- Generate ARM template & publish them to adf_publish
- Deploy ARM template to ADF.

My question is:
I do not press the "Publish button" from ADF UI. But I do change files in "adf_publish" branch, then commit & push it to the remote branch.

Does new commits trigger the deployment to deploy it to ADF ?

---
#### Document De

[2019-07-18 09:07] ChiragMishra-MSFT commented on #35296
@linda33wj and @djpmsft Can you please have a look at this ?

[2019-07-18 09:10] #35334 closed

[2019-07-18 09:10] BryanTrach-MSFT commented on #34488
Application Insights for Linux Web Apps is supported. The only feature that does not currently work is the "profile now" button.

If you are not using the "profile now" button to collect the above data, can you please reach out to us at azcommunity@microsoft.com with your subscription ID and the URL of this post? We would like to take a deeper look. We look forward to your reply.

[2019-07-18 09:10] #34488 closed

[2019-07-18 09:12] iangardnergb commented on #35125
Thanks - I tried it 24hours after initial issue and it seemed okay.  Maybe an issue because I'd first time setup everything shortly before - i.e. Azure, etc. in trying to build first bot on this account?  Thanks again.

[2019-07-18 09:13] #35125 closed

[2019-07-18 09:15] KatiukOleg opened #35381 "Syntax Error"
Hi gents, great and very useful article. Yesterday I configured alert of TunnelDiagnosticLog according to this article but when I try to execute query I always get an error - 'where' operator: Failed to resolve table or column expression named 'AzureDiagnostics'. How can I fix it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2019-07-18 09:15] jovabel opened #35382 "The examples do not work for new function signature"public static async Task<IActionResult> Run(HttpRequest req, ILogger log)""
This page is outdated and thus confusing for new Azure users (students!).
New function apps have async in their signature, e.g.

"public static async Task&lt;IActionResult&gt; Run(HttpRequest req, ILogger log)"

You can't have 'out' parameters in async methods. So the example code in the paragraph "Update the function code" does not show how to use the created output binding to Cosmos DB.

---
###

[2019-07-18 09:15] hung-doan opened #35383 "How to manage/deploy hotfixes in ADF ?"
Say I deployed v1.0.0 to production.
Now, I have a hotfix to be deployed.
However, I want to deploy the hotfix only. I do not want to deploy my work on the development or master branch.
What should I do?

In the application development community. If I follow gitflow,
I will
- Create a new hotfix branch.
- Do the fix.
- Deploy to production
- Merge hotfix back to the development branch.

But in ADL

[2019-07-18 09:18] mildsar opened #35384 "Provide Powershell alternative manual to create authentication certificate data"
I think it might be useful to provide Powershell alternative to create authentication certificate data for Application Gateway. This alternative could be more applealing option for automated deployments.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5813d794-d0f4-24dd-077f-e640282329d2
* Version Independent ID: fbbc4e

[2019-07-18 09:21] #34840 closed

[2019-07-18 09:24] OffColour opened #35385 "Logging and setting up metrics"
In Standard Load Balancer, the setting of diagnostics has been removed from the Load Balancer page in the portal. I'm presuming that LoadBalancerProbeHealthStatus and LoadBalancerAlertEvent have now become obsolete and everything is now just under metrics.

However in "Monitor - Diagnostic Settings", these two values and "All Metrics" are still available to be set.

Can the two log values now be s

[2019-07-18 09:29] ram-msft commented on #35142
@jpe316 Could you please help with the schema of the required and optional fields for both deploymentConfig.json and inferenceConfig.json files.

[2019-07-18 09:36] msrini-MSFT commented on #35384
@mildsar , Thank you for your feedback. I will pass on the feedback to the content owner.

I will check for the Power Shell command which can help you to automate.

[2019-07-18 09:37] vishalaj1 opened #35386 "SQL Server - Support parameterized connections"
Hi,

When trying to use parameterized link service with SQL Server Managed Instance i get following Error.

"
  "errorCode": "2400",
    "message": "Could not find server 'XYZ' in sys.servers. Verify that the correct server name was specified. If necessary, execute the stored procedure sp_addlinkedserver to add the server to sys.servers.",
    "failureType": "UserError"

Here XYZ was defined as th

[2019-07-18 09:39] BhargaviAnnadevara-MSFT commented on #34544
@gavinwilliams @mwwski The fix for this issue has been deployed. Please retry the import after clearing your browser cache and let us know if you still see the error.

[2019-07-18 09:40] msrini-MSFT commented on #35381
@KatiukOleg , Thank you for posting here.

It seems to the similar issue as described here: https://github.com/MicrosoftDocs/azure-docs/issues/34912

"The Resource ID is case sensitive and NOT uppercase and there is also an underscore before "ResourceId". You may have to wait a few hours for the data to start appearing in log analytics after the connection is made and until it does the query will

[2019-07-18 09:46] msrini-MSFT commented on #35385
@OffColour , Thank you for posting here.

Yes, For Standard Load balancer, you no longer get diagnostic logs, all metrics are under monitor.

Where exactly do you want to uncheck those 2 check boxes? Can you provide me a screenshot?

[2019-07-18 09:49] imeya commented on #23642
@brettsam , hello, do you know how to run the azure function locally with application insights, using the code above I provided? Thanks.

[2019-07-18 09:52] kempd commented on #29294
Hi, is Windows 7 still not supported during the preview?

[2019-07-18 10:05] OffColour commented on #35385
@msrini-MSFT Using Terraform (and therefore the API) I can still set them on a new instance of a Standard Load Balancer. Once that's done, they appear as per the screenshots in Monitor.

Does "Metrics" still need to be ticked or does it just work automatically?

![LB1](https://user-images.githubusercontent.com/2091510/61448882-afe25d80-a94b-11e9-9cbc-da8f25f3ea38.jpg)

![LB2](https://user-images.g

[2019-07-18 10:13] PramodValavala-MSFT commented on #35382
@jovabel Thanks for the feedback! We will review and update accordingly.

[2019-07-18 10:15] PramodValavala-MSFT commented on #35291
@kudlatiger Just following up here... Hope my previous comment helps.

[2019-07-18 10:16] RyanLWilliams commented on #35324
I deployed an Azure Bastion to AzureBastionHost with an NSG with default rules applied.

[2019-07-18 10:25] StefanSchoof commented on #34930
Thanks for pointing me to that part. I just over read it...

[2019-07-18 10:35] gavinwilliams commented on #34544
Unfortunately due to the frustration point we've switched to Jenkins. If we use Azure DevOps again we'll give this a go.

[2019-07-18 10:35] #34544 closed

[2019-07-18 10:36] benbelow opened #35388 "App Service Plan - Clarify Unlimited Timeout not an option"
I've found out from reading closed Github issues that `In the app service plan the default value is 30 minutes and to change this to a higher value you need to explicitly mentioned in the host.json under "functionTimeout". It cannot be set as infinite `

However the docs on this page do not make that clear:

- The claim "In an App Service plan, there is no overall limit" indicates to me that there

[2019-07-18 10:38] bgavrilMS commented on #29931
Gentle reminder, the code samples are out of date.

[2019-07-18 10:41] PramodValavala-MSFT commented on #35373
@lolekjohn Thanks for the feedback! We will review and get back to you.

[2019-07-18 10:42] tulasim88 commented on #29567
Sorry for the delay. this was fixed in the documentation. you should not use 'none' for strictFilters. if you do not want to apply any strict filters, do not add it to your request. please see updated doc:  https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/cognitive-services/QnAMaker/How-To/metadata-generateanswer-usage.md

[2019-07-18 10:43] SadiqhAhmed-MSFT commented on #35378
@t-leblanc Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-07-18 10:45] SadiqhAhmed-MSFT commented on #35376
@dcbrown16 Thank you for the feedback. This issue is being assigned to the content author to evaluate and update as appropriate.

[2019-07-18 10:46] SadiqhAhmed-MSFT commented on #35376
@rayne-wiselman Could you check with the PG and update as needed?

[2019-07-18 10:46] ram-msft commented on #35379
@thecpshah Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-07-18 10:49] msrini-MSFT commented on #35385
@OffColour , Got it. Those are the diagnostics logs which you want to send it to Storage account. It is safe to uncheck those as you will be getting real time logs with Azure monitor metrics of Load balancer.

Let me know if you have any further questions.

[2019-07-18 10:51] crpub86 opened #35390 "Access Token missing or malformed"
After using the AAD tool with much success for the past four months, we have found we now get the following error.

nvoke-RestMethod : {"odata.error":{"code":"Authentication_MissingOrMalformed","message":{"lang":"en","value":"Access Token missing or malformed."}}}
At C:\Chaz\ToolBox\Devops\Atlas-Infrastructure\src\scripts\AzureMgmt\AADTool\Common.ps1:43 char:13
+     return (Invoke-RestMethod $uri

[2019-07-18 10:53] #35390 closed

[2019-07-18 11:01] fabaliga commented on #22099
@ivasilyev-servicetitan-com Many thanks for the video! I don't think the SDK handles the auxiliary token, so using the REST request might be the only solution..

(Also, regarding Terraform, it seems that you can authenticate using the Azure CLI)

[2019-07-18 11:04] vishalaj1 commented on #35386
Please Close this  - It does work with SQL Managed Instance

[2019-07-18 11:05] ManojReddy-MSFT commented on #35011
@AndrewMaisey Thanks for the suggestion. I have updated the doc accordingly and it will be reflected shortly.

[2019-07-18 11:05] #35011 closed

[2019-07-18 11:07] bl-deepakchawla opened #35391 "No handlers could be found for logger "msrest.serialization""
blob_source = BlobSource()

    blob_sink = BlobSink()
    dsin_ref = DatasetReference(value=ds_name)
    dsOut_ref = DatasetReference(value=dsOut_name)
    copy_activity = CopyActivity('copyBlobtoBlob',inputs=[dsin_ref], outputs=[dsOut_ref], source=blob_source, sink=blob_sink)
`

getting this issue

No handlers could be found for logger "msrest.serialization"
Traceback (most recent call last):

[2019-07-18 11:09] shashishailaj commented on #35358
@prajster Thank you for your query on the documentation. Could you please let us know which document you have followed the steps from ? We would be better equipped to help if we have the documentation information . We look forward to your reply to proceed further on this.
Thank you.

[2019-07-18 11:19] cjjnash opened #35392 "PowerShell/CLI for discovery"
Hi, is there anything on the roadmap for resource discovery to be available by API/PowerShell/CLI? automating PIM onboarding is currently limited by having this manual step.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bef8c4d4-c8f5-aaf2-c1e8-4da44f9fdee0
* Version Independent ID: 4850f3f9-10ce-78c3-9f6d-8e037e5f3de1

[2019-07-18 11:20] shashishailaj commented on #35391
@bl-deepakchawla Thank you for your query. This repository is for improvements in the Azure Documentation . It would be great if you could tell us which exact document you are trying to follow on this one so that we can help your with the right team.

[2019-07-18 11:21] ManojReddy-MSFT commented on #35354
@ding-harrison I am afraid this is not possible. The audience parameter is generated by the client-id parameter in the authentication request you are sending to Azure AD and it has to be registered in Azure.

So you would have to register your external service with Azure AD, get an App ID and that will be sent as the audience in the token.

[2019-07-18 11:21] bl-deepakchawla commented on #35391
https://docs.microsoft.com/en-us/azure/data-factory/quickstart-create-data-factory-python

[2019-07-18 11:23] shashishailaj commented on #35367
@dcbrown16 Thank you for your feedback and we immensly appreciate the time taken to put together the great summary. We will have this reviewed with the content team to see how this can be incorporated within the document.

[2019-07-18 11:25] shashishailaj commented on #35368
@dcbrown16 Thank you for your feedback . We will investigate and update this thread further.

[2019-07-18 11:27] SumanthMarigowda-MSFT commented on #35377
@Jayesh040 Thanks for your question. We are checking on this and will respond to you soon.

[2019-07-18 11:27] shashishailaj commented on #35391
@bl-deepakchawla Thank you for providing the details.

[2019-07-18 11:29] BhargaviAnnadevara-MSFT commented on #35088
@PingPongSet [This ](https://docs.microsoft.com/en-us/azure/dev-spaces/how-dev-spaces-works#prepare-your-code)section in the document explains the correlation:

_In order to run your application in a dev space, it needs to be containerized, and you need to define how it should be deployed to Kubernetes. To containerize your application, you need a Dockerfile. To define how your application is depl

[2019-07-18 11:29] bl-deepakchawla commented on #35391
@shashishailaj how I get rid of this issue????

[2019-07-18 11:30] shashishailaj commented on #35374
@ehalsey Thank you for your query. We will investigate and update this thread further.

[2019-07-18 11:34] shashishailaj commented on #35388
@benbelow Thank you for your query. We will investigate and update this thread further.

[2019-07-18 11:37] shashishailaj commented on #35380
@hung-doan Thank you for your query. We will investigate and update this thread further.

[2019-07-18 11:37] rajfnu commented on #6745
Please check if you have  "/<USER-NAME>/.azure/azureProfile.json" file after you run "az login" command.
I was facing the same issue but when I reran "mvn azure-functions:deploy -X" (with -X flag). I got the detailed error message,

[2019-07-18 11:38] shashishailaj commented on #35383
@hung-doan Thank you for your feedback. We will investigate and update the thread further.

[2019-07-18 11:42] shashishailaj commented on #35386
@vishalaj1  Thank you for confirmation. Should you have any other query related to the provided documentation , please feel free to open a new issue and we will surely help you further.

Thank you.

[2019-07-18 11:42] shashishailaj commented on #35386
#Closed

[2019-07-18 11:42] #35386 closed

[2019-07-18 11:44] SubhashVasarapu-MSFT commented on #34682
@alvipeo, Appreciate your patience. It completely depends on your health probe configuration settings. I have tested this with 30 seconds as a health probe interval where highest priority backend used to come back within 30 seconds.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-07-18 11:44] #34682 closed

[2019-07-18 11:45] shashishailaj commented on #35392
@cjjnash Thank you for your query. We will check it with the engineering internally and let you know accordingly.

[2019-07-18 11:47] sakaldeepyadav opened #35393 "Typo error: Central US 13.82.88.226 104.45.147.24"
[Enter feedback here]

Hi,

There is a typo error under the heading 'NSG rules - Central US'

Now: Central US | 13.82.88.226 | 104.45.147.24
Should be : East US | 13.82.88.226 | 104.45.147.24

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa423fbe-759a-16f7-ce8a-c46eeb416037
* Version Independent ID: 5e6271b8-0970-db08-7ad

[2019-07-18 11:49] VikasPullagura-MSFT commented on #35367
@dcbrown16 Thanks for the putting these document enhancement togther. I am assigning this to the document author for commenting on the document update.

[2019-07-18 11:50] msrini-MSFT commented on #35381
@KatiukOleg , Can you please share me the screenshot of the error from the portal ?

[2019-07-18 11:51] shashishailaj commented on #35370
@Statowfiq Thank you for your query. We will investigate and update this thread further.

[2019-07-18 11:51] VikasPullagura-MSFT commented on #35367
@cynthn Can you please take a look into this document enhancement request.

[2019-07-18 11:53] shashishailaj commented on #35393
@sakaldeepyadav Thank you for pointing this out . We will engage the content authors to review this and get it updated accordingly.

[2019-07-18 11:54] shashishailaj commented on #35393
@sujayt Could you please take a look at this issue and see if the article can be updated accordingly.

[2019-07-18 11:59] msrini-MSFT commented on #35384
@mildsar , You can use this script to get base64 from a .pfx.

https://gist.github.com/gregjhogan/e896ceac723af59673aea559d8ac7ae7

Let me know if it helps.

[2019-07-18 12:02] jakaruna-MSFT commented on #34547
ok. If you face the issue again please open a new issue and then we will troubleshoot.

[2019-07-18 12:05] alvipeo commented on #34682
ok, so when the primary is back up and considering the interval is 30 sec, the Front Door will start redirecting requests back to primary within 30 sec. Is that correct?

[2019-07-18 12:11] KatiukOleg commented on #35381
Here is screenshot - > https://prnt.sc/ogrv7h

And I checked 'Turned on diagnostics' via  'Get-AzDiagnosticSetting -ResourceId' command, it is enabled ->

https://prnt.sc/ogrye4

[2019-07-18 12:18] benbelow opened #35395 "Indicate that functionTimeout follows the standard timespan string format"
While in the TimeSpan format, it may not be immediately obvious that this setting uses the timespan conventions.

e.g. if you want to set a timeout of greater than one day, based on the example you might think hours are the largest denomination used and put in e.g. 24 or 48 hours.

This is instead parsed as 24/48 days! This is particularly problematic for large enough numbers of days that have a n

[2019-07-18 12:19] sam-pell opened #35396 "Training with custom data and failures"
Hi,

We have been having some issues with using the new portal speech.microsoft.com concerning training with custom data for fine-tuning a speech-to-text model.

The scenario is the following :
- Upload of some custom data (whether acoustic, related text or pronunciation file), status shows Successful
- Training a model with the data fails and just shows status Failed without any explanation.

It

[2019-07-18 12:30] msrini-MSFT commented on #35381
@KatiukOleg m I tried AzureDiagnostics for Application Gateway logs and it does work fine. I just set up VPN and enabled logs. I will wait till logs are generated and then will share my analysis here.

[2019-07-18 12:35] mrbullwinkle commented on #27176
This issue was addressed by @lgayhardt on 5/31 #please-close

[2019-07-18 12:35] #27176 closed

[2019-07-18 12:37] sebastus opened #35398 "improve clarity of the page"
[Enter feedback here]

1. To upload & encrypt the blob, get & list (key) access policies are sufficient. To download & decrypt, you also need "unwrap key". Lack of this policy causes the code to throw "forbidden". I think customer experience would be better if we say that out loud in the document.

2. Set up your Azure Key Vault section says to "Create both keys in the key vault." Which are the tw

[2019-07-18 12:42] KamenYovchev commented on #17676
Why you close the the thread , your answer is very lean and
incomprehensible

[2019-07-18 12:56] hadr10 opened #35400 "With resource group contributor role i can't see nothing in security center"
Hello,

with test user who has contributor role on one of resource group, i can't see nothing in security center, even when there are alerts for some resources from this resource group. I don't want to give users security reader over subscription.

Thank you.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c61e7b5-619a

[2019-07-18 13:02] brettsam commented on #23642
Add `APPINSIGHTS_INSTRUMENTATIONKEY`: `{your_instrumentation_key}` to your `local.settings.json` file. That will enable everything for App Insights locally.

[2019-07-18 13:09] KatiukOleg commented on #35381
In my case I'm trying to assign AzureDiagnostics for Virtual Network Gateway. As was mentioned in article - "The following example steps will create an alert for a disconnection event that involves a site-to-site VPN tunnel". That's what I need.

[2019-07-18 13:13] Ayanmullick commented on #35364
I have the latest version of the Authenticator app on Android 9. But I don't get the biometric notifications approval option. Is there a way to contact a support team?

[2019-07-18 13:13] ashleywb opened #35402 "Is this out of date now?"
Is this article of date with regards to adding a Service Principal account, do you have to do this through https://partner.microsoft.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8139bcf4-bf78-0e2c-8aba-4a96a5888020
* Version Independent ID: f3011b3c-3d01-574f-51b4-4cad3d03e057
* Content: [API Prerequisites](https

[2019-07-18 13:15] ashleywb opened #35403 "403 Errors"
I still get 403 Error even when I've added the app in https://partner.microsoft.com
"{\"error\":{\"code\":\"Forbidden\",\"message\":\"User does not have the required permissions\"}}"

What permissions do they need?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbb749cb-2663-e49f-3857-f8ceab814818
* Version Independent

[2019-07-18 13:16] mohakevin opened #35404 "HDI 4.0"
Hello,
thats method works in HDI 4.0? Or it's a different procedure.
I get a classNotFoundException: org.apache.curator.RetryPolicy

Regards,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4d434e9-3950-3f0f-fcb3-101da4a7acce
* Version Independent ID: 5068d6ba-2efc-de80-6c02-abbc4cb3babc
* Content: [Query Apache Hive t

[2019-07-18 13:19] Klaas- commented on #15252
@albrokke add debug to the pam configs
ie:
/etc/pam.d/password-auth-aad and /etc/pam.d/system-auth-aad
and add debug at the end of every line containing pam_aad.so
(I'm not with MS, just a user)

[2019-07-18 13:20] Klaas- commented on #15252
and just for public visibility the https://pas.windows.net/CheckMyAccess?api-version=2018-01-01 does not support group inherited rights as of now; just received that information today as part of a support call

[2019-07-18 13:23] chrisc-ws opened #35405 "Certificate email validation - sender address"
The digicert email actually comes from validation@digicert.com not admin@digicert.com as stated in the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: beac0740-af6e-61ce-bcfa-e783ca181b7d
* Version Independent ID: d97885ea-b051-5fde-bd14-ec977e34760e
* Content: [Tutorial - Configure HTTPS on an Azure CDN custom

[2019-07-18 13:29] ChiragMishra-MSFT commented on #35404
@mohakevin Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-07-18 13:33] mitchellgarner commented on #34075
@vikancha the comment by @Karishma-Tiwari-MSFT two weeks ago says GRID9 is not yet available and there is no update after that comment.

Based on other comments on this document - bugs 20815 and 24693 there is not a consistent statement between documents regarding whether versions greater than Windows 10 Build 1803 are supported by these drivers.

Considering the steps listed in this document - ei

[2019-07-18 13:38] mitchellgarner commented on #34075
It looks like based on this documentation:
https://docs.nvidia.com/grid/cloud-service-support.html

That NVs_v3 is not supported by NVIDIA GRID at all.  If that is the case, I would not be sure what to use here.

[2019-07-18 13:40] ferrx commented on #35038
@Adam-Smith-MSFT That solved it! We had to add a web.config with the app and set the request limit (on top of the kestrel config within the app).

[2019-07-18 13:44] NavtejSaini-MSFT commented on #35156
@jborsecnik and @julieMSFT for completing this change.
@jamessanderlin We have applied the changes as required. Thanks for bringing this up.

[2019-07-18 13:44] #35156 closed

[2019-07-18 13:45] nezoic commented on #35339
@mmacy Thank you, that makes sense after going through the processes.

[2019-07-18 13:45] #35339 closed

[2019-07-18 13:45] ChanEilFhios opened #35406 "Error when running instructions as provided"
I believe I have followed these directions as shown however I'm getting an error when I try to run the project in the debugger:
Windows Setting AzureWebJobsStorage =
Setting unsupported .NET environemt variables (empty string) is not implemented.

I am running on a Mac with High Sierra and node 10.16.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-07-18 13:52] faisalali-SL opened #35407 "Deleting a published pipeline"
I have used the Python SDK for building and publishing pipelines but I am unable to find any option in the portal to delete a published pipeline or experiment. Is there any way to delete a pipeline?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c99cbeb4-d519-dfcf-c3fc-d3828d4c6f4d
* Version Independent ID: a4658aec-a0

[2019-07-18 13:58] OffColour commented on #35385
@msrini-MSFT Thanks.

When you say uncheck those, do you mean all of them including metrics as everything on this page is not applicable to a Standard Load Balancer and so Diagnostic Settings do not need to be configured at all for Standard Load Balancers as it is all sent to Monitor by default?

[2019-07-18 13:59] stevestein commented on #35212
@VanMSFT - can you take a look at this one? Thanks!

[2019-07-18 13:59] lukepuplett commented on #34934
Thank you for this. If its any help, I've rewritten it based on my new understanding.
---

During a write region outage, these accounts will remain highly available for reads. Writes will succeed so long as enable automatic failover is configured on your Cosmos account. This will failover the impacted region to another region in the order of region priority you’ve specified.

When the previously i

[2019-07-18 14:01] msrini-MSFT commented on #35385
@OffColour , yes you are right.

If you want to store health probe logs in a storage account, for future reference, you can enable diagnostics.

[2019-07-18 14:02] ManojReddy-MSFT commented on #35364
Check the settings in the App once. There is a setting which enables fingerprint authentication instead of the PIN.

[2019-07-18 14:04] gardner8689 commented on #35345
Thank you for the update @peterpogorski . With out adding this setting to our cluster and setting it to False we could not use the Primary Cert to connect to the cluster. But i will make note of the setting being retired.

[2019-07-18 14:05] AlekseySokol commented on #35216
Hello @MarileeTurscak-MSFT,
I've forgotten, to mentioned that I'm trying to bypass MFA when users authenticate to Office365 portal. And have a concern if, proposed solution will works
I tried to configure an Access Control Policies on ADFS side, but no luck yet.
Thank you very much in advance for additional clarification.

[2019-07-18 14:08] brownbl1 opened #35408 "Compatibility with mixed mode clusters"
This article isn't clear about the support for virtual nodes in clusters that include windows nodes. If I deploy a cluster with virtual nodes, can I then add a windows node pool as well? To be clear, I know windows isn't supported for virtual nodes, but can I have standard windows nodes alongside linux vnode pools?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2019-07-18 14:14] rjosephp commented on #35136
My question was specifically about creating/configuring an API in an API Management instance which connects to a Web API deployed in an App Service in an App service Plan in an ILBASE. I understand that I can probably deploy another virtual appliance with public access in another subnet thus exposing the API. However, while creating the API (API Management Service -> APIs -> Create from API App),

[2019-07-18 14:15] shashishailaj commented on #35390
@crpub86 Thank you for your query. I understand that you have closed this issue. Could you please let us know in case you were able to get this fixed ? We request you to provide the document link which you were following while any error is seen in future . It will be of great help and we will be able to redirect your issue to the right people.

Thank you.

[2019-07-18 14:16] iRainbow5 commented on #34457
Hi @jakaruna-MSFT, sorry for the late response, and thank you very much for the detail explanation. I got the idea of permission to read logs/screenshots well based on what you said. I'd like to understand more about which permission Azure VM used to write logs/screenshots into that storage? I was thinking that should be storage account access key, but as said above rotate storage account access k

[2019-07-18 14:18] zr-msft commented on #35088
@PingPongSet [This section](https://docs.microsoft.com/en-us/azure/dev-spaces/how-dev-spaces-works#how-running-your-code-is-configured) later in the doc goes into more detail on the `azds.yaml` file.

[2019-07-18 14:28] dhirajgandhi commented on #34592
It is only for Azure.

[2019-07-18 14:29] grandparoach opened #35409 "How about a few Linux examples?"
The only example on this page is for a Windows machine.  If we want to configure this service to support Linux machines, it would be very helpful to include Linux examples

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b1a608e-ed83-547e-cfa4-4ce59bfc5515
* Version Independent ID: a5f7df2c-cd86-bc1c-51c8-404a3ae88d35
*

[2019-07-18 14:31] PatricioVidal opened #35410 "Missing Windows IoT Core instructions to Install certificates in the OS"
Hi,
Instructions in "Install certificates in the OS" are for Ubuntu and Windows only.  There are no instructions for Windows IoT Core. The windows section mentions "You can also install certificates programmatically using .NET APIs, as shown in the .NET sample later in this article." but the code installs the certificate on on the Local User instead of Local Computer as specified in the "Windows"

[2019-07-18 14:34] sameer-kumar opened #35411 "AKS-ACR unauthorized: authentication required"
I'm having issues with a pod in AKS pulling image from ACR.
I tried the steps documented here https://docs.microsoft.com/en-us/azure/container-registry/container-registry-auth-aks#grant-aks-access-to-acr but no luck.

The error I received is :

I'm on AKS 1.14.0 and trying this on Windows Node Pool.

What am I missing here?

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-07-18 14:36] Ayanmullick commented on #35364
"Turning on App Lock from the Settings screen of the Microsoft Authenticator app means you’ll be asked to authenticate using your PIN or biometric every time you open the Microsoft Authenticator app. This feature offers extra protection, **the way you approve your notifications in the Microsoft Authenticator app won’t change.**"  ---as documentetd here.

[2019-07-18 14:38] PramodValavala-MSFT commented on #35369
@manoj-lenka For client certificate authentication, generally you would want to generate a root CA (and intermediate CA) along with client certificates. You would then upload the intermediate certificate which would verify client certificates sent by your users.

You can read this [awesome guide](https://jamielinux.com/docs/openssl-certificate-authority/index.html) to setting up your own CA.

[2019-07-18 14:39] rgherta commented on #20012
Regarding the impossibility of having database and collection throughput I beg to differ.
I ran "az cosmosdb create ... --throughput 500"
then I ran "az cosmosdb create collection ... --throughput 800".
In the end I got this.

![a1](https://user-images.githubusercontent.com/5397100/61466633-8b51aa00-a97a-11e9-8e40-5f87c9c9f579.png)

What is happening here?

[2019-07-18 14:39] shashishailaj commented on #19142
@jmprieur Could you please help us in checking this issue ?

[2019-07-18 14:42] SumanthMarigowda-MSFT commented on #35267
@wy193777 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-18 14:43] NavtejSaini-MSFT commented on #34934
@SnehaGunda Please review the comments from @lukepuplett and we will make the changes in the document and raise a PR for the same.

[2019-07-18 14:50] madtownchris commented on #35232
That's the exact problem I'm seeing but adding the TenantId doesn't seem to
fix it.

When I use the fabrikamb2c tenant, I use the values as provided in the
sample source. I have commented those values all out and have a whole
section with values for my tenant.

I've tried both

<add key="ida:AadInstance" value="
https://login.microsoftonline.com/tfp/{0}/{1}" />

and

<add key="ida:AadInstance" val

[2019-07-18 14:52] jmprieur commented on #19142
This quickstart is going away. See this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/82451
We want customers to move to the v2.0 quickstart

[2019-07-18 14:54] ElYusubov opened #35412 "No code samples for JavaScript?"
Could you add sample code and library for JS?
As an open source advocate, this aligns with Microsoft's vision to help all open-source developers to leverage Azure services.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 788014ae-dc3b-f509-3dbd-933eb5a423a4
* Version Independent ID: 250d17de-f226-d3e3-7071-3ecb14da018e

[2019-07-18 14:59] PatricioVidal opened #35413 "What is the correct message when Testing the gateway connection?"
Hi,
I followed the instructions on "Test the gateway connection" I got the following message:
...
SSL-Session:
    Protocol  : TLSv1.2
    Cipher    : ECDHE-RSA-AES256-GCM-SHA384
    Session-ID: *****
    Session-ID-ctx:
    Master-Key: *****
    Key-Arg   : None
    PSK identity: None
    PSK identity hint: None
    SRP username: None
    Start Time: 1563461563
    Timeout   : 300 (sec)
    Verif

[2019-07-18 15:00] RanjithPC commented on #35314
https://docs.microsoft.com/en-us/azure/data-factory/control-flow-execute-pipeline-activity

My concern is I have Three Pipelines
PipelineA ,PipelineB and emailPipeline

I have create one more pipeline  named "pipeexecute"
 "pipeexecute" having two  "Execute pipeline activities"   It triggers first PipeLineA and PipeLineB. In this case PipeLineA  fails then i will trigger emailPipeline , here i pas

[2019-07-18 15:02] RanjithPC commented on #35314
Hi Karishma, Thanks for your reply

https://docs.microsoft.com/en-us/azure/data-factory/control-flow-execute-pipeline-activity

My concern is I have Three Pipelines
PipelineA ,PipelineB and emailPipeline

I have create one more pipeline named "pipeexecute"
"pipeexecute" having two "Execute pipeline activities" It triggers first PipeLineA and PipeLineB. In this case PipeLineA fails then i will trig

[2019-07-18 15:04] SumanthMarigowda-MSFT commented on #35265
@nastassiar Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-07-18 15:09] ram-msft commented on #35396
@sam-pell Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-07-18 15:09] SumanthMarigowda-MSFT commented on #35270
@kazshi Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-07-18 15:11] SumanthMarigowda-MSFT commented on #35301
@hannesne Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-07-18 15:12] ram-msft commented on #35407
@faisalali-SL Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-07-18 15:19] alkohli commented on #35265
@nastassiar Thank you for bringing this to our notice! I have removed the DL and updated the article. The change should go live after 10 AM today. Thanks!
#please-close

[2019-07-18 15:19] #35265 closed

[2019-07-18 15:20] #35088 closed

[2019-07-18 15:28] KetanChawda-MSFT commented on #35168
@ecfan any thought here?

[2019-07-18 15:35] nivdolgin opened #35414 "We need a licensing filter"
The usage & insight reports don't allow us to exclude from either the Azure blade, or from the downloaded reports. Azure Guest accounts, ShareMailboxes, and/or unlicensed Users Accounts (many sync'd from AD Connect). Would be quite helpful to provide a more accurate representation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-07-18 15:36] ayprof opened #35415 "SAML Identifier mismatch when URL contains an encoded space (%20)"
I'm using Azure Single Sign-on and I have a service provider with a space in the EntityID, however Azure doesn't allow for the EntityID to include a space. It does allow for the '%20' encoding for a space in the URL, but then Azure fails to see the application as existing during the SAML authentication process.
The root cause of the error is shown in the portal: "Identifier mismatch. The identifie

[2019-07-18 15:42] egkareem opened #35416 "Too generic"
The article is good. However almost the same story is always told. For example, the article does not tell us about a single use-case. Also, the article does not show the difference between Microservices and other web-service approaches. Also,it  does not address the learning curve or cost or requirements to adopt this approach.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-07-18 15:47] ayprof commented on #35415
I'm using Azure Single Sign-on and I have a service provider with a space in the EntityID, however Azure doesn't allow for the EntityID to include a space. It does allow for the '%20' encoding for a space in the URL, but then Azure fails to see the application as existing during the SAML authentication process.
 The root cause of the error is shown in the portal: "Identifier mismatch.  The identif

[2019-07-18 15:49] SumanthMarigowda-MSFT commented on #31304
I'd recommend posting your question in https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowsazuredata since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-18 15:54] stevestein commented on #35212
@NavtejSaini-MSFT - can you assign this issue to @KavithaJonnakuti

[2019-07-18 15:54] pragnagopa commented on #34999
cc @asavaritayal @maiqbal11 - for the scenario

[2019-07-18 15:55] ChristianMontoya commented on #29294
@kempb : Not yet. Definitely appreciate the previewing and feedback, but taking an incremental approach as we stabilize the service and close in on these last few things.

[2019-07-18 15:55] stevestein commented on #35212
#reassign:KavithaJonnakuti

[2019-07-18 15:56] masautt commented on #35166
@prabansa This works perfectly. I should have tried that in the first place. Thank you!

[2019-07-18 16:02] pixelmosh commented on #35274
No changes of my own, no. I only followed the directions of copying/pasting code where instructed by the tutorial.

[2019-07-18 16:03] SubhashVasarapu-MSFT commented on #34662
@rollercoasterdigital, Appreciate your patience. I haven't faced any issue while renewing the certificate. Everything went fine while renewing and saving was done successfully. Did you check with Powershell / CLI method? Please let us know if the issue still persists.

[2019-07-18 16:04] vhorne commented on #34618
Article updated for 20 limit.

#please-close

[2019-07-18 16:04] #34618 closed

[2019-07-18 16:08] mmacy commented on #35313
@KepanoEgg Fix is in progress; might be a bit as both this and the preceding tutorial need work. May also need accompanying code sample work. Thanks again for the notification, and for your patience while we sort these out.

[2019-07-18 16:08] tchristiani commented on #34069
Resolved
#please-close

[2019-07-18 16:08] #34069 closed

[2019-07-18 16:10] plylechapman opened #35417 "Fixing the "We'll send a sign in request to your phone" page"
Logging in via the web is still sometimes a confusing experience with passwordless enabled.

The "Sign In" page is presented, and the dialog says "We'll send a sign-in request to your phone".  But, the sign in request is already sent before the user clicks the button.  So, what is happening to our users initially is that they hear/feel the prompt on their phone and go there.  It asks for a number.

[2019-07-18 16:10] msangapu-msft commented on #35090
Thank you for the feedback @TheChadR . The Cloud Shell snippet is standardized across our doc set. I will have to engage another team to take a look. I will reply back once I have more information.

[2019-07-18 16:12] mmacy commented on #29931
@bgavrilMS Hi Bogdan, thanks, the team is aware and they're working toward updating the samples. As well, I have this issue on my radar and will get to the mentioned updates as soon as I clear up all pri 1 issues.

[2019-07-18 16:17] madeleine-adams opened #35418 "Placement of InputValidations element in Building Blocks"
This is related to the currently closed issue [Element Placement #14822](https://github.com/MicrosoftDocs/azure-docs/issues/14822)

Since the order is enforced in BuildingBlocks, then where can I put InputValidations?

These are mentioned in the How To Guide for Password Complexity: [Configure password complexity using custom policies in Azure Active Directory B2C ](https://docs.microsoft.com/en-u

[2019-07-18 16:19] BhargaviAnnadevara-MSFT commented on #35066
@PingPongSet Just following up, were you able to troubleshoot this further?

[2019-07-18 16:20] tamram commented on #34448
#reassign: @roygara

[2019-07-18 16:20] ram-msft commented on #35166
@masautt We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-18 16:20] #35166 closed

[2019-07-18 16:21] tamram commented on #34201
#reassign: @normesta

[2019-07-18 16:22] tamram commented on #27515
#reassign: @roygara

[2019-07-18 16:23] jonwbstr opened #35419 "Understanding Sign-in logs"
We are looking for sign-in logs for the Intune API and they do not appear to be a logged client app.
Also having a conversation in yammer where someone has shared that authentication attempts using an app password to something (not clear on what the end point was yet) are not logged in the azure active directory either.
(https://www.yammer.com/office365partners/#/Threads/show?threadId=238351100551

[2019-07-18 16:24] tamram commented on #21621
#reassign: @roygara

[2019-07-18 16:28] tamram commented on #17311
#reassign: @roygara

[2019-07-18 16:28] tamram commented on #17144
#reassign: @roygara

[2019-07-18 16:28] tamram commented on #17139
#reassign: @roygara

[2019-07-18 16:30] tamram commented on #14298
#reassign: @roygara

[2019-07-18 16:31] PingPongSet commented on #35066
@BhargaviAnnadevara-MSFT
Yes, thanks.

[2019-07-18 16:31] #35066 closed

[2019-07-18 16:33] tamram commented on #34977
#reassign: @tamram

[2019-07-18 16:44] PramodValavala-MSFT commented on #35057
@timmyreilly Glad we could help! Feel free to open an issue on the other doc which I believe would be a better place to cover this.

Since there is no doc update required here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-18 16:44] #35057 closed

[2019-07-18 16:46] DixitArora-MSFT commented on #35395
Hi @benbelow Thank you for your feedback . We will review this and update the article as needed.

[2019-07-18 16:47] CeciAc opened #35422 "Content-Type feature"
@dgrospelier commented on [Thu Jul 18 2019](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/528)

For each key, we have the ability to use a "content-type", but there is nothing about this feature in the documentation.

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: 876582b8-4dd5-387d-a6fd-7

[2019-07-18 16:47] CeciAc commented on #35422
Hi team,
I'm moving this here since the contributor is making suggestions about the original documentation
best

[2019-07-18 16:48] DixitArora-MSFT commented on #35136
@rjosephp Since this channel is for driving improvements towards MS Docs, could you open this issue on MSDN or Stack overflow.

[2019-07-18 16:49] YutongTie-MSFT commented on #29757
@jwatkin We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-18 16:49] #29757 closed

[2019-07-18 16:50] DixitArora-MSFT commented on #35181
@cecilphillip Brettsam has already open another issue for tracking. So for now I will proceed with the closure of this.

[2019-07-18 16:51] tamram commented on #35278
@zhalu - Thanks for your feedback!

The documentation is correct regarding the default limits. The blog post refers to the limits that are available on request to Azure Support.

I've added a clarification to the documentation.

[2019-07-18 16:51] tamram commented on #35278
#please-close

[2019-07-18 16:51] #35278 closed

[2019-07-18 17:03] YutongTie-MSFT commented on #33332
@jeffgleed We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

@tchristiani Thank you.

[2019-07-18 17:03] #33332 closed

[2019-07-18 17:08] YutongTie-MSFT commented on #35204
@cwarne I think this need live troubleshooting. Do you have a support plan under your Azure subscription? IF yes, please go ahead to create a support ticket. If not, please send me an email at Azcommunity@microsoft.com with your Azure subscription ID and URL of this thread and I will enable you one. Thank you.

@thecpshah Please do the same if you still suffer from this error. Thank you.

[2019-07-18 17:09] jilguz commented on #27791
Hello,
I have the same issue.
Followong tutoriel from Microsoft, I cant't create a Tenant :
New-RdsTenant : User is not authorized to query the management service.

When I try to create a HostPool, the deployment failed, and I have the same error in the log at the last step of the process (Ressource : dscextension)

The user is declared as a tenantcreator under the Windows Virtual Desktop applicat

[2019-07-18 17:09] MicahMcKittrick-MSFT commented on #35408
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-18 17:10] MicahMcKittrick-MSFT commented on #35416
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-18 17:10] kobulloc-MSFT commented on #17676
@KamenYovchev Let us know what you are having difficulty with in the answer and we'd be happy to clear it up for you.

[2019-07-18 17:13] MicahMcKittrick-MSFT commented on #35411
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-18 17:15] o-o00o-o opened #35424 "Doesn't work for link:// protocol addresses"
Please can you extend this capability to work with the link:// protocol.

Right now excel isn't practical on AAS with MFA as it prevents users sharing their workbooks due to having to set the username limitation.

https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-server-alias

If I use the asazure:// protocol the odc works but if I switch it to the link:// protocol I get t

[2019-07-18 17:17] rjosephp commented on #35136
I can certainly do that. However, the intention was to get the document updated with the necessary steps that could probably be missing to establish the connectivity to an App Service. If the document can be updated with steps for connecting to an API App as well, the document will be more useful.

[2019-07-18 17:21] Alberto-Vega-MSFT commented on #34955
@grizzljt Thanks again for your feedback content author created a PR to add clarity to this doc

[2019-07-18 17:29] bandersmsft commented on #35238
#please-close

[2019-07-18 17:29] #35238 closed

[2019-07-18 17:29] jonwbstr commented on #35419
When MFA was enforced through conditional access and the client used an app password the mobile device was unable to authenticate to Exchange using the MS Outlook mobile app, skype, onedrive etc.

[2019-07-18 17:32] Adam-Smith-MSFT commented on #34977
@cbrit Thanks for posting your question, I'd recommend to post it in the following repo: https://github.com/Azure/azure-storage-net/issues
This repo is only for documentation related issues, if it's product related or code related, we advise to post it in the provided link.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will

[2019-07-18 17:32] #34977 closed

[2019-07-18 17:34] diberry commented on #35193
These tables are now fixed. #please-close

[2019-07-18 17:34] #35193 closed

[2019-07-18 17:35] Adam-Smith-MSFT commented on #35038
@ferrx Glad It you solved the issues :) !
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-18 17:35] #35038 closed

[2019-07-18 17:35] mrbullwinkle commented on #35165
@joelverhagen thanks for calling this out. I did a quick test network capture while running through the install and I saw traffic to `globalcdn.nuget.org:443`, `packages.nuget.org:443`, and `dc.services.vsallin.net:443`. I have added references to all three to the doc. I confirmed the third URL update with the engineers in the App Insights PG. The updates will go live later this afternoon.

[2019-07-18 17:36] mrbullwinkle commented on #35165
#please-close

[2019-07-18 17:36] #35165 closed

[2019-07-18 17:38] Karishma-Tiwari-MSFT commented on #35314
@RanjithPC Thanks for sharing the documents. I have updated the issue with doc details.
We are currently investigating and will update you shortly.

[2019-07-18 17:38] MicahMcKittrick-MSFT commented on #35303
@shadySirhan what I mean is the difference between a cloud service and a standard VM.

For a cloud service, to connect to the VM, you will navigate to Cloud Services (Classic) in the portal. Then you select Roles and Instances and then select the VM you want to RDP to. For example, the worker role.

Here is a doc on enabling RDP for Cloud Services and how to connect:

https://docs.microsoft.com/en

[2019-07-18 17:39] ecfan commented on #35168
Adding @kevinlam1 and @derek1ee for any suggestions that could  help.

[2019-07-18 17:41] derek1ee commented on #35168
Since business days means different things in different locale, the best way to get the desire result is to use our `Inline code` action and write JavaScript to implement such logic yourself.

[2019-07-18 17:44] MicahMcKittrick-MSFT commented on #35408
@brownbl1 no you cannot. We do call this out in the Known Limitations section of the doc

![image](https://user-images.githubusercontent.com/32313503/61479619-0d28df80-a949-11e9-9fdf-934371aecdcf.png)

[2019-07-18 17:45] basilwong opened #35425 "Integration Runtime Prerequisites"
Just to clarify, the self hosted integration runtime has to be downloaded onto and run on a windows machine* so if I wanted to run it on a linux VM that would not be possible?

*(One of: "The supported operating system versions are Windows 7 Service Pack 1, Windows 8.1, Windows 10, Windows Server 2008 R2 SP1, Windows Server 2012, Windows Server 2012 R2, Windows Server 2016 and Windows Server 2019.

[2019-07-18 17:45] duanecr commented on #28112
+1 on adding this the FAQ.  This was the main reason I was reading this page.

[2019-07-18 17:47] Karishma-Tiwari-MSFT commented on #35415
@ayprof Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-07-18 17:48] paulio commented on #35193
Hi, the github page referenced still has the fault (?).

[2019-07-18 17:53] aahill commented on #35110
That's correct @RohitMungi-MSFT - because both spellings are valid variations, the API will accept either, and won't flag it.

[2019-07-18 17:53] #35329 closed

[2019-07-18 17:53] diberry commented on #35193
Refresh? I see it fixed on mine.
![image](https://user-images.githubusercontent.com/41597107/61480198-44e45700-a94a-11e9-9855-688868289dc5.png)

[2019-07-18 17:54] Lau82 commented on #35168
@derek1ee I am not sure how to do what you are suggesting, can you guide me thru it?

[2019-07-18 17:55] Karishma-Tiwari-MSFT commented on #35347
@Lukenyc Please share the azure doc link so that we can direct to the right team.

[2019-07-18 18:00] diberry commented on #15913
There is no bot creation support for V3. Only V4.

[2019-07-18 18:01] vladvino commented on #35199
Please assign to @mikebudzynski

[2019-07-18 18:06] bane-Sidhe opened #35426 "Multi-User add?"
Way to import a list of users etc, after initial creation?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 970202b7-165f-18df-e928-c47c45a18755
* Version Independent ID: d5393b62-4211-72f5-fc7a-363f68f6d8a2
* Content: [Create a Windows Virtual Desktop Preview host pool by using the Azure Marketplac

[2019-07-18 18:09] TravisCragg-MSFT commented on #35405
@chrisc-ws Thanks for the feedback. I have assigned the issue to the doc author to evaluate and update as appropriate.

[2019-07-18 18:09] BharathNimmala-MSFT commented on #35080
Thank you @PingPongSet for reaching out.

The quick starts are at high level, however would request you to have a look at the tutorials to learn about the Multi-service deployment and team development.

![Tutorials](https://user-images.githubusercontent.com/45180002/61480603-29c61700-a94b-11e9-9829-5a51efa22cc0.png)

[Java (VS Code & CLI) ](https://docs.microsoft.com/en-us/azure/dev-spaces/get-sta

[2019-07-18 18:10] FrankHu-MSFT commented on #35419
@jonwbstr Thanks for your feedback! We will investigate and update as appropriate

[2019-07-18 18:13] Adam-Smith-MSFT commented on #35412
@ElYusubov Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-18 18:13] FrankHu-MSFT commented on #35400
@hadr10 Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-18 18:15] FrankHu-MSFT commented on #35409
@grandparoach Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-18 18:16] FrankHu-MSFT commented on #35414
@nivdolgin  Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-18 18:17] FrankHu-MSFT commented on #35417
@plylechapman Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-18 18:19] FrankHu-MSFT commented on #35418
@madeleine-adams Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-18 18:22] plylechapman commented on #35417
Thank you, Frank.  I have also previously pointed out another issue with this experience and Seamless Sign On.

Our users who tested the passwordless experience get confused, because they visit a website and seamlessly get authenticated into the Microsoft service (as they should).  However, a notification is still pushed to the phone.   This confuses the users with unnecessary push notifications.

[2019-07-18 18:25] vector-sigma opened #35427 "the "Learn more" link returns no results"
There are no Azure use case studies for DevTest Labs searching all countries, all products, all locations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f0fb94c-36b4-75c1-0b3c-e8ea6b0d33c7
* Version Independent ID: 150dadbd-4578-57ca-cb45-beeac81f931c
* Content: [Adopt Azure DevTest Labs for your enterprise](https://

[2019-07-18 18:26] stdistef opened #35428 "Update Files to 100MiB for Premium and new IOPS and Throughput"
The table on this page is dated.   In June (end) Azure Premium File shares were announced.  https://azure.microsoft.com/en-us/blog/announcing-the-general-availability-of-azure-premium-files/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bf8f358-861a-b3e5-86c3-ad871a12b03e
* Version Independent ID: d13eea11-e440-ce33-

[2019-07-18 18:27] Adam-Smith-MSFT commented on #35398
@sebastus Thanks for posting, there's a specific doc that provides an overall explanation of what happens in KEK but doesn't provide information such as algorithms used etc.. What specific details are you looking for so i can ask internally ?

[2019-07-18 18:31] derek1ee commented on #35168
You can find documentation for `Inline code` [here](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-add-run-inline-code).

There are [plenty of resources](https://www.bing.com/search?q=javascript+add+business+days+to+date&qs=AS&pq=javascript+add+business+day&sc=1-27&cvid=4B5447B49EFA417084D1AF1A6A2E595B&FORM=QBLH&sp=1&ghc=1) on how to use JavaScript to add business days.

[2019-07-18 18:34] mike-urnun-msft commented on #35406
Hi @ChanEilFhios - Thank you for your feedback! We will review and update as appropriate.

[2019-07-18 18:35] robinsh commented on #34955
$grizzljt see comment above from Reza. I've added this to the doc as well. Let me know if this answers your question.

[2019-07-18 18:45] robinsh commented on #29450
@mingdee Did I answer both of your questions?

[2019-07-18 18:45] robinsh commented on #29210
@ravinsp I've updated the doc with this information. Please let me know if it works for you, or if there's something else that needs to be added.

[2019-07-18 18:48] cbrit commented on #34977
Sure I can do that. I would say I think question 2 is an issue with clarity in the example though.

[2019-07-18 18:49] lgayhardt commented on #21691
The doc has been updated and merged #please-close

[2019-07-18 18:49] #21691 closed

[2019-07-18 18:57] KranthiPakala-MSFT commented on #35314
@RanjithPC Thank you for reaching out and bringing this to our notice.

Sorry you are experiencing this, but It looks like you are referring to a specific used case scenario and not directly related to document content. We request you to please post your question on "_[MSDN - Azure Data Factory](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory&filter=alltypes&sort=lastpos

[2019-07-18 19:00] KranthiPakala-MSFT commented on #35424
@o-o00o-o Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2019-07-18 19:02] Lau82 commented on #35168
@derek1ee  Thanks, I will give it a try

[2019-07-18 19:03] KranthiPakala-MSFT commented on #35425
@basilwong Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate

[2019-07-18 19:06] pyoungberg opened #35429 "Dependancy Agent flagged as Virus"
C:\Program Files\Microsoft Dependency Agent\plugins\AzureMetadata.ps1 was detected as VirTool:PowerShell/PsObfus.gen!A by Windows Defender Antivirus on all my servers. Please remember to sign your scripts!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97f8ee3c-f9c2-91c6-1ea0-48754de93979
* Version Independent ID: bca9

[2019-07-18 19:10] MicrosoftGuyJFlo commented on #35286
Done. PR should publish later this afternoon.

[2019-07-18 19:16] FrankHu-MSFT commented on #35417
Hey @plylechapman thank you for taking time to provide us the feedback. I'll bring this up with the product group, and leave this github issue open until we have an answer in regards to this issue. Have you put this under the uservoice forums?
Link here : https://feedback.azure.com/forums/169401-azure-active-directory

[2019-07-18 19:19] ayprof commented on #35415
https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/configure-single-sign-on-portal

[2019-07-18 19:20] femsulu commented on #35403
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-18 19:23] MicrosoftGuyJFlo commented on #35286
#please-close

[2019-07-18 19:23] #35286 closed

[2019-07-18 19:23] mmacy commented on #29782
@AvgustPol Hi Anton, yes you can get concrete fields by using the `$select` query parameter and specifying a comma-delimited set of field  names. For example, to request only displayName and userType fields for a user object, use `$select=displayname,userType`.

For example:

[code]

[2019-07-18 19:24] femsulu commented on #35402
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-18 19:31] thecherrytree commented on #12480
@BryanTrach-MSFT or @Mike-Ubezzi-MSFT -- can you please reopen this story - I believe this is a legitimate bug. When we deploy firewall rules, their deployment to the redis cache is random and unpredictable. We're deploying 5 firewall rules. Sometimes they all deploy, sometimes one deploys, sometimes none deploy. What explains this behavior?

[2019-07-18 19:33] Karishma-Tiwari-MSFT commented on #34859
@timlt @mmccrory Can either of you please share your insights on how certificates are stored in cloud service specifically? The doc talks about uploading the certificate to cloud service but customer is interested  in understanding how it is stored and protected. Thanks :)

[2019-07-18 19:33] MartinJaffer-MSFT commented on #19698
@nabhishek any chance of including this feature in the doc?

[2019-07-18 19:38] jjindrich opened #35431 "XAML Xamarin Android missing support"
Please, why is missing support for XAML Xamarin Android ? I tried to add, but getting error about missing  Microsoft.Microsoft.CognitiveServices.Speech.core.dll

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc2fcd39-a2d6-0a3a-1235-1aae45cae26d
* Version Independent ID: db227248-d6d1-b1d3-05bc-522cd1435da2
* Content: [

[2019-07-18 19:38] #35080 closed

[2019-07-18 19:42] thecherrytree commented on #12480
As an example -- here is a recent deployment. All of the firewall rules are stated as created. The deployment logs say they are all successful.
![image](https://user-images.githubusercontent.com/9562351/61486782-4295f300-a972-11e9-8b66-88da2a212482.png)

When I actually go to the Cache and look at the firewall one is missing:
![image](https://user-images.githubusercontent.com/9562351/61486881-88eb

[2019-07-18 19:47] jimmymcpeter opened #35432 "Claims needed for Sage Intacct SSO tutorial"
The tutorial for Intacct needs some updates to state the following 3 Claims are needed:
- `Company Name` should equal the Intacct Company ID
- `name` should equal the Intacct User ID
- `http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier` should equal the Intacct User Federated SSO User ID

Here is picture I made of the Claim mappings.  The other fields, like first and last name,

[2019-07-18 19:48] vinothinidharmaraj opened #35433 "How do we add the extension sequence for existing vm scale set"
[Enter feedback here]
How do we add the Extension Sequence for existing vm scale set through the powershell?

Scenario:
I have DSC extension and will add the custom script extension through the Release Pipeline(i dont have option from the release pipeline task to add the sequence), So i want to add the extension sequencing to custom script after the Release Pipeline saying that should run after th

[2019-07-18 19:51] jimmymcpeter commented on #35432
It also may be worth noting that the Company > User Access Log contains helpful SSO debug info

![image](https://user-images.githubusercontent.com/11491046/61487410-d7e5b700-a973-11e9-945b-6f9c1eda4a63.png)

[2019-07-18 19:52] StingyJack commented on #19142
@jmprieur - does the new quickstart have anything in it about verifying the token the user's browser provides is legitimate and not forged?  Thats really what I was looking for.

That PR link is a 404

[2019-07-18 19:53] priteshranjan01 commented on #19607
@SnehaGunda

I don't see an option to create a partitioned graph in the Azure portal.

<img width="433" alt="image" src="https://user-images.githubusercontent.com/17820738/61487532-0014ec00-a95b-11e9-9496-c71759a8659d.png">

[2019-07-18 19:57] Icandui8 opened #35434 "Hybrid Benefit"
Customer inquiry: Is it possible to add standard Windows licenses, for example 2 machines with 16 cores density, and with that, to cover a hybrid benefit of a VM that has 32 cores?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ef4a337-5ded-458c-9131-fee7a8fa99a6
* Version Independent ID: 094498ab-3275-a114-8d47-1722c

[2019-07-18 19:57] kobulloc-MSFT commented on #35427
@vector-sigma Thank you for bringing this to our attention!  We are looking into the issue and will update you shortly.

[2019-07-18 19:58] kobulloc-MSFT commented on #35422
@CeciAc Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-07-18 20:03] RyanHill-MSFT commented on #35202
@buildbod I have assigned the issue to the content author (@PeterTurcan) to investigate further and update the document as appropriate.

[2019-07-18 20:03] julianparismorgan commented on #34431
I talked with @sostel offline, and we weren't able to find to a specific issue here. Let's close this for now, but feel free to open this again @sostel, if you run into issues in the future. Thanks!

[2019-07-18 20:17] vinothinidharmaraj opened #35435 "IaaSAntimalware extension taking too long to update vmss instances"
We are adding IaaSAntimalware extension to the our VM Scale set using the powershell Add-AzureRmVmssExtension command. Currently  we are using is 1.5 version. It used to work properly, suddenly it started taking long time and end-up the timeout exception.

The same extension if added through the ARM template it works fine. But in my scenario i dont want to added through the ARM template, since its

[2019-07-18 20:28] stevenwhitej opened #35436 "Locking down access to backend interrupts backend health metric and Application Insights"
I've added the IP ranges listed above to Access Restrictions, which does block client access directly to the backend.  However, it also blocks the FrontDoor metric for backend health, and blocks our Application Insights tests.  I've added the IPs listed for Availability Tests and Webhooks listed here (https://docs.microsoft.com/en-us/azure/azure-monitor/app/ip-addresses) which are the only ones st

[2019-07-18 20:31] markjbrown commented on #35104
I have discussed this with my team and have some comments on this.

Consistent Prefix is indeed guaranteed within a session which is why it is worded as it is. However, it is difficult to explain consistent prefix in the context of a single document as you suggested.

As mentioned, consistent-prefix is indeed guaranteed within a session. Any reader in that same session will see some prefix of all

[2019-07-18 20:31] #35104 closed

[2019-07-18 20:34] markjbrown commented on #20012
@rgherta , You absolutely can have throughput shared among many containers in a database, with one or more of them with their own dedicated throughput. The original question was around switching between shared at the database level, and dedicated to a container.

thanks.

[2019-07-18 20:35] Ayanmullick commented on #35364
@ManojReddy-MSFT ,  I noticed that the MFAPortal generated requests are approvable thru fingerprint on the app. However, my Github, Hotmail and Facebook MFA requests aren't approvable thru fingerprint on the app.

[2019-07-18 20:35] MicrosoftGuyJFlo commented on #35414
@nivdolgin that's a good idea. To get it to the product teams the best bet is to open a product feedback item using the "This product" button under feedback. That way others can vote on the same idea and it gets more visibility.
![image](https://user-images.githubusercontent.com/25777989/61490007-ce9f1f00-a960-11e9-907c-a2ae806e6388.png)

[2019-07-18 20:43] Alberto-Vega-MSFT commented on #35413
@PatricioVidal Thanks for the feedback! I have assigned the issue to the content author @kgremban  to help verify or maybe update the document if this is needed.

[2019-07-18 20:54] Alberto-Vega-MSFT commented on #35410
@PatricioVidal Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-18 20:55] lelopez-io opened #35437 "Downstream Device Module Identity"
Is it possible to have a device module connected to a transparent gateway using CA certificates?

I am able to connect using the IoTHubDeviceClient to set the X509_CERT and X509_PRIVATE_KEY no problem and can invoke device methods this way. However, I'd like to create a module Identity and have control of my app that way.

When I connect using the IoTHubDeviceClient I use a connection string like

[2019-07-18 21:01] sylvaingirardbe opened #35438 "The element 'validate-jwt' has invalid child element 'issuer-signing-keys'."
Using the examples to validate a jwt that requires to be signed doesn't work in the Azure Portal with the validation exception in the subject when clicking 'Save'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 248a0753-0fa7-1cc0-d13a-d378ab182e95
* Version Independent ID: 7efa247a-7184-6e7f-c1f5-3ff2531df357
* Content

[2019-07-18 21:05] vladvino commented on #35438
Please be more specific about the issue. Which example did you use. Have you modified it before saving and if so how. What scope have you applied it at.

[2019-07-18 21:08] MicahMcKittrick-MSFT commented on #34859
@dmarlow the certificates uploaded via the portal simply get inserted into the Virtual Machine running your cloud services. Just as if you were to login to a VM and upload a SSL cert to that machine. It is sorted in the Certificate Store inside the VM and then when you go to access the site it compares the SSL cert within the VM to the one on your local PC.

[2019-07-18 21:10] FrankHu-MSFT commented on #33323
hey @J0F3 it looks like there's a possibility there's an issue with your conditional access. Az login is supposed to work with conditional access enforcing MFA

AAD needs to authenticate the device, but cannot, this can occur because the DeviceId or DeviceAltSecId claims are null, or if no device corresponding to the device identifier exists.

Check if any other policies are enforcing device authe

[2019-07-18 21:11] MicahMcKittrick-MSFT commented on #35411
@sameer-kumar are you having any issues logging into your ACR or is it just with pulling images?

[2019-07-18 21:13] MicahMcKittrick-MSFT commented on #35416
@egkareem have you looked at any of the other concepts we discuss?

![image](https://user-images.githubusercontent.com/32313503/61492414-14121b00-a966-11e9-9fa8-2452f800c2ba.png)

We don't want to make introduction articles too long otherwise they can be hard to read and take in. So some of your questions may be answered in other concept docs.

[2019-07-18 21:14] MicahMcKittrick-MSFT commented on #35433
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-18 21:14] MicahMcKittrick-MSFT commented on #35435
user also asked #35435

[2019-07-18 21:17] FrankHu-MSFT commented on #35418
Hey @madeleine-adams it looks like there's some inconsistencies in regards to these docs. I'll go ahead and look into this issue and get back to you as soon as possible in regards to this.

[2019-07-18 21:17] sylvaingirardbe commented on #35438
I used to `Simple token validation` example and I replaced the values in the example with my own values. I did not touch the elements. Instead of using a named value, I pasted my base64 key in there. That seemed to be the problem because using a named value seems to work.

[2019-07-18 21:18] Mike-Ubezzi-MSFT commented on #12480
@mariojacobo Can you please send your Azure Subscription ID and instance name to [AzCommunity](mailto:azcommunity@microsoft.com) and I will forward to the product group to be investigated. This is a better means to investigate. I am going to use your Subscription ID to enable a onetime free support request and return instructions to have that SR created. Please send back to me the SR # that is cre

[2019-07-18 21:20] Mike-Ubezzi-MSFT commented on #12480
@thecherrytree If you are having the same issue, please follow the instruction in the previous comment and I can assist you.

[2019-07-18 21:20] laurenhughes commented on #34903
I see, thanks for the clarification. I've passed this information on to the engineering team to investigate.

Since this is non-blocking, I'm going to #please-close it. @jakaruna-MSFT Please add additional comments if you have any. Thanks!

[2019-07-18 21:20] #34903 closed

[2019-07-18 21:22] laurenhughes commented on #25082
Thank you for the detailed doc, @setht2! I created a work item for our backlog to investigate and add information to the docs.

@please-close

[2019-07-18 21:23] #25082 closed

[2019-07-18 21:35] gabriel-animas opened #35439 "404 Error"
Once I set up my endpoints, shouldn't I be able to navigate to the .trafficmanager.net url I am given on the traffic manager overview page and see my applications?

When nslookup my .trafficmanager.net url I get the correct IP addresses back, however when I navigate to that url in the browser, I get an azure 404 page and I'm not sure why

---
#### Document Details

⚠ *Do not edit this section. It

[2019-07-18 21:40] SnehaGunda commented on #34593
@guevaraf we will close this issue if there aren't further questions.

#please-close

[2019-07-18 21:40] #34593 closed

[2019-07-18 21:41] basilwong opened #35440 "Creation of Custom Connectors"
This documentation is missing that the downloaded JSON file from 'Export Template' will fail to deploy unless the downloaded custom connector details (from the overview blade as mentioned) and a backend service url are added to the template.

Example:

### Unchanged downloaded JSON Template:

[code]

### Edited JSON for successful deployment:

[code]
---
#### Document Details

⚠ *Do not edit this

[2019-07-18 21:41] dmarlow commented on #34859
I understand that much. I guess what I don’t understand is when you create a blank Cloud Service (without a deployment). You can actually upload certificates. So, when there is no deployment and no VMs provisioned, are the certificates stored in an Azure Storage account, on the servers hosting the Azure Portal, or some other place?

From: Micah <notifications@github.com>
Sent: Thursday, July 18, 2

[2019-07-18 21:43] basilwong commented on #35440
Note: The location field in the template also needs to be changed.

I can make a PR with steps to follow if needed.

[2019-07-18 21:45] #35429 closed

[2019-07-18 21:45] femsulu commented on #35429
Thanks for the feedback. Will work internally with the content author to review your feedback and see if there's an opportunity to integrate this into the doc. we will now close this issue but please reply back if you have any followup questions.

@MGoedtel - fyi

Cheers.

[2019-07-18 21:46] laurenhughes commented on #28769
@rikogeln Thanks for bringing this up. This is supported. You can feed raw JSON into --parameters instead of a file name and it will work just as if the information were in a file.

#please-close

[2019-07-18 21:46] #28769 closed

[2019-07-18 21:48] vladvino commented on #35438
I can't reproduce the issue. Please make sure that the value you are using for signing key is a valid bse64-encoded string. If the problem persists, please contact support.

[2019-07-18 21:51] tamram commented on #34977
@cbrit - Thanks for your feedback! Please see [here](https://docs.microsoft.com/dotnet/csharp/programming-guide/statements-expressions-operators/lambda-expressions) and [here](https://docs.microsoft.com/dotnet/csharp/programming-guide/statements-expressions-operators/lambda-expressions#variable-scope-in-lambda-expressions) for more information about lambda expressions. The type for the input param

[2019-07-18 21:51] KranthiPakala-MSFT commented on #35351
@mwc360 Thanks for the feedback. Looks like the same topic was discussed in below MSDN thread and a Microsoft engineer has been responded to the query. Since it is being handled in MSDN forum, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thanks much for post

[2019-07-18 21:51] #35351 closed

[2019-07-18 22:00] MicahMcKittrick-MSFT commented on #34859
@dmarlow ah okay. Interesting question! I just created a blank Cloud Service and uploaded a cert. I tried to find where it is technically uploaded to but doesn't appear anything I can find in the portal. I also checked the backend for my subscription and I cannot find it. So it does appear it is quite secure as even using internal tools I cannot find or read anything about that specific cert. I ca

[2019-07-18 22:05] j-martens commented on #34150
#reassign:sanpil

[2019-07-18 22:06] j-martens commented on #35142
@blackmist for visibility

[2019-07-18 22:06] MicahMcKittrick-MSFT commented on #35434
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-18 22:07] MicahMcKittrick-MSFT commented on #35426
Thanks for the question! We are investigating and will update you shortly.

[2019-07-18 22:08] Icandui8 commented on #35434
Thank you,

﻿﻿ --
Mary Cantu
Azure Support Engineer
Office: (469) 775-3793
macant@microsoft.com<mailto:macant@microsoft.com>
Microsoft Azure IaaS VM Technical Support
Monday-Friday | 8:00 AM to 5:00 PM CT.
[Microsoft]
﻿ If you need to work with another Azure Technical Support Engineer outside of my working hours, please email azurebu@microsoft.com<mailto:azurebu@microsoft.com> with your case numbe

[2019-07-18 22:08] j-martens commented on #35407
You should disable pipeline, it will hide it from ui and block triggers

p = PublishedPipeline.get(ws, id="068f4885-7088-424b-8ce2-eeb9ba5381a6")
p.disable()

you can recover it later using p.enable()

[2019-07-18 22:15] Karishma-Tiwari-MSFT commented on #35415
@ayprof Thanks for sharing the document link. I have updated the issue with doc details.
We are currently investigating and will update you shortly.

[2019-07-18 22:16] rolyon commented on #35013
Hi @umutge
Thanks for the feedback. I've created a work item for the team to investigate the following:
Email not sent when access to access package expires soon

Let us know if this is not the issue you are having.
thanks

[2019-07-18 22:22] marcusclayton opened #35441 "Testing in VM"
Is the FIDO2 security method (w/ Yubikey 5 key) supposed to work if testing with an AAD Joined Windows 10 1903 VM? I've successfully registered the key, and am able to use it for Edge sign-ins, but when I try to log into the VM with the same key, the OS only recognizes my device as a potential smartcard/PIV device, so the "sign in options" surfaces the traditional smart card logo, instead of the n

[2019-07-18 22:23] TravisCragg-MSFT commented on #35436
@stevenwhitej have you also allowed traffic to and from 168.63.129.16 and 169.254.169.254? Also, does your storage account that is used for metrics & app insights have its firewall enabled?

[2019-07-18 22:28] Karishma-Tiwari-MSFT commented on #35437
@lelopez-io  Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-07-18 22:30] plylechapman commented on #35417
I can put it there, but frankly these seem more like bugs than features.   Is it appropriate for UserVoice?

[2019-07-18 22:33] ezwiefel commented on #35142
I found the schematic [in this doc](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-deploy-and-where#update).

It might make sense to pull the schemes into these docs for the cli and then cross reference from the model deployment docs

[2019-07-18 22:38] jmprieur commented on #19142
@StingyJack, yes, the v2.0 quickstart does require you to enable ID Tokens. Then the ID token is validated by ASP.NET (delegating to Microsoft Identity Extensions for .NET)

"When the Register an application page appears, enter your application's registration information:
In the Name section, enter a meaningful application name that will be displayed to users of the app, for example ASPNET-Quickst

[2019-07-18 22:44] MicrosoftGuyJFlo commented on #34914
Per the product group:

For managed they should use Azure Active Directory as the option and for federated they should use organizations STS that is verified domain in Azure AD

[2019-07-18 22:45] erikadoyle commented on #8975
Fair enough @OlegKarasik :-) Feel free to reopen (and potentially fix!)

[2019-07-18 22:58] DonFrazier opened #35442 "Create a queue .... doesn't"
The heading "create a queue" assume a queue has already been created.  Ooops.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2aca97e-9eef-14a2-4991-e52fa84f080b
* Version Independent ID: 717bca9c-6b25-3a3a-00a3-d0653dc0145a
* Content: [Tutorial - Work with Azure storage queues - Azure Storage](https://docs.microsoft.c

[2019-07-18 23:00] Karishma-Tiwari-MSFT commented on #35428
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-18 23:09] KranthiPakala-MSFT commented on #35404
@mohakevin Thanks for the feedback and bringing this to our notice. Could you please elaborate the ask to provide a better suggestion?

[2019-07-18 23:16] bedro96 commented on #34933
Sorry for delay. Here is the link.
Thank you.

https://batchrgdiag197.blob.core.windows.net/wvdclip/20190715_233955.mp4?sp=r&st=2019-07-18T23:10:02Z&se=2020-07-19T07:10:02Z&spr=https&sv=2018-03-28&sig=v0LwBQKYNYjD5Nc0zEhkpE3Ap0osV5TaE0PosGLz7Yk%3D&sr=b

[2019-07-18 23:18] stevenwhitej commented on #35436
@TravisCragg-MSFT Yes, I added both those /32 addresses for basic infrastructure services.  I'm checking on the storage accounts, but note, if I add a 0.0.0.0/0 allow rule on the Access Restrictions of the backend app, the metrics & app insights succeed again, so think its an inbound issue on the backend app.

[2019-07-18 23:24] chrisbasoglu commented on #35431
Official Xamarin support is on the roadmap.  Look for the Xamarin logo to show up here: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/ early September.

[2019-07-18 23:25] SnehaGunda commented on #34886
@alekseys I made some terminology changes to few docs in the above PR. I will have a chat with @ealsur after he is back from vacation to check if we need to revert anything. I see that the Azure functions docs use the terms Cosmos DB trigger, EventHubs trigger.... however I don't know technically if this is the right term. We may have to discuss with the Functions team, I will work with Matias aft

[2019-07-18 23:25] #34886 closed

[2019-07-18 23:27] KranthiPakala-MSFT commented on #35424
@o-o00o-o Thanks for the feedback. Please feel free to submit your idea, in the _[user voice forum](https://feedback.azure.com/forums/556165-azure-analysis-services)_. All the feedback you share in this forum will be monitored and reviewed by the Analysis Services engineering team.

[2019-07-18 23:32] tamram commented on #35428
#reassign: @roygara

[2019-07-18 23:38] FrankHu-MSFT commented on #35417
the uservoice area is the best place for product feedback, not just requesting features.

[2019-07-18 23:46] FrankHu-MSFT commented on #35323
Hello @josephbnb unfortunately you will need to file a support ticket if you would like to recover the scopes. Currently there is no way to recover those scopes and I apologize for the inconvenience. I recommend putting this under the uservoice here : https://feedback.azure.com/forums/169401-azure-active-directory

As there is no way to recover this I will be closing out this git issue. I'm sorry

[2019-07-18 23:50] FrankHu-MSFT commented on #35323
I will be bringing this up with the product group for further discussion. So that we implement something to fix this in the future.

[2019-07-18 23:52] FrankHu-MSFT commented on #35418
@madeleine-adams I'm following up on this, it is listed in the docs here : https://docs.microsoft.com/en-us/azure/active-directory-b2c/solution-articles

In this doc specifically :
[](https://download.microsoft.com/download/3/6/1/36187D50-A693-4547-848A-176F17AE1213/Deep Dive)

We will look into this and change the docs accordingly. Thank you for bringing this to our attention.

To answer your que

[2019-07-18 23:53] FrankHu-MSFT commented on #35418
Please let me know if there are anymore questions within the scope of this issue, if not I will be going ahead and closing this issue out by end of day

[2019-07-18 23:54] TravisCragg-MSFT commented on #35439
@gabrielanimas You should be able to see your web apps, or you should receive a different error. Are you able to access your web apps via their direct URLs?

[2019-07-18 23:55] FrankHu-MSFT commented on #35147
Hello, @mkenyon as we've inserted this AADSTS error accordingly, I will be closing out this git issue. Please reopen this issue if there's a mistake or issue with the change. Thanks again!

[2019-07-18 23:55] #35147 closed

[2019-07-19 00:00] Adam-Smith-MSFT commented on #35442
@DonFrazier Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-19 00:04] crpub86 commented on #35390
Hi

I created it in the wrong area, moved it to here:
https://github.com/robotechredmond/Azure-PowerShell-Snippets/issues/14

On Fri, Jul 19, 2019 at 12:15 AM ShashiShailaj-MSFT <
notifications@github.com> wrote:

--
Regards
            C.

[2019-07-19 00:05] vermagit opened #35443 "NDv2 details"
Following the cadence for other series, the section on NDv2 should go after ND.
Also, the format of NDv2's table should be made similar to the other tables, by re-ordering the columns and adding missing data.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c946c151-c1a6-59bc-2e44-6a820547f48e
* Version Independent ID: 57

[2019-07-19 00:05] MarileeTurscak-MSFT commented on #35135
Hi @DeanGross ,

I have spoken with the product team again and they will update the document with the proper information. They don't have the exact answer yet but will add it to the docs and I will update this thread when this is resolved.

I'm closing this out for now since a work item is now open for this.

[2019-07-19 00:05] #35135 closed

[2019-07-19 00:07] maxxxie74 opened #35444 "Insights - Authentication methods registration details inaccurate"
We've had MFA enabled for a number of our users for a couple months now.  I've used the "Insights - Authentication methods registration details" report to identify users who have not yet registered for MFA.

There are users in this list that are marked as not registered for MFA, yet it is clear from sign-in logs that they are enrolled for MFA, and being challenged, and successfully passing the cha

[2019-07-19 00:07] TravisCragg-MSFT commented on #34796
@KevinMZiegler I apologize for the delay, the changes have been made, and the doc should reflect those changes within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-19 00:07] #34796 closed

[2019-07-19 00:08] KranthiPakala-MSFT commented on #35425
@basilwong Yes, you are correct, the IR is only windows supported and not Linux.

**Supported Operating System**
Windows 10 , Windows 7 Service Pack 1, Windows 8.1, Windows Server 2008 R2 SP1, Windows Server 2012, Windows Server 2012 R2, Windows Server 2016, Windows Server 2019

[2019-07-19 00:09] KranthiPakala-MSFT commented on #35425
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2019-07-19 00:09] #35425 closed

[2019-07-19 00:11] FrankHu-MSFT commented on #35414
I'm following up on this, please let us know if you have anymore questions within the scope of this git issue, otherwise we'll proceed to close this out by end of day tomorrow.

Thanks! @nivdolgin

[2019-07-19 00:11] RPhay opened #35445 "New-OnPremiseHybridWorker.ps1 needs to be updated"
The file New-OnPremiseHybridWorker.ps1 should be updated to use the new PowerShell AZ modules, it's still using AzureRM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b29372c-7bd9-7da2-4cff-9afbb432bccf
* Version Independent ID: 66ce101d-d21b-3fdf-be70-7f9cadc1570e
* Content: [Azure Automation Windows Hybrid Runbook

[2019-07-19 00:13] KranthiPakala-MSFT commented on #35425
@basilwong Just curious to know about your requirement. Could you please provide few additional details about - Why Linux? What are the connectors you are looking for?
Thanks!

[2019-07-19 00:24] smartpcr commented on #22709
can this work for custom domain that are registered via azure dns zone, I am having problem described here (https://github.com/jetstack/cert-manager/issues/1903). thanks!

[2019-07-19 00:41] Alberto-Vega-MSFT commented on #35261
Hi @josephmwells just trying to understand the feedback a little better, would you please provide more detail? adding content author for awareness @qm13

[2019-07-19 00:45] elenay93 opened #35447 "how to get rid of "This site is not secure""
Looks like even after successfully installing the cert, there is still "Cert Errors" page showing up at very first beginning, how to totally get rid of this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8bf51cac-f999-cb1c-b2c8-bf5cc224ecf8
* Version Independent ID: db10a084-09b8-6d25-05e5-e8c60507e474
* Content: [Tut

[2019-07-19 00:52] vody commented on #21852
I have a Front Door service passing requests to API Management. Front Door generates trackingReference and passing it with "X-Azure-Ref" header to API Management.  I am trying to set this value to become "Request-Id" and forward this request to back-end:
`
<set-header name="Request-Id" exists-action="override">
    <value>@(context.Request.Headers.GetValueOrDefault("X-Azure-Ref",""))</value>
</set

[2019-07-19 01:03] YutongTie-MSFT commented on #35431
@jjindrich
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-07-19 01:03] #35431 closed

[2019-07-19 01:12] Karishma-Tiwari-MSFT commented on #35268
@Arifj8 When the VM is deployed in an availability zone, by default, a public IP address is also created in that zone.

A zonal public IP is a guarantee to a specific zone and is tied to the health of that zone. A zone-redundant public IP is served by all zones simultaneously and resilient to zone failure. For a single VM, you should align your public IP to the same zone as the VM.

Here is the do

[2019-07-19 01:17] TravisCragg-MSFT commented on #34775
I was able to follow this document and everything is working as expected. @HoyeonHan and I will continue offline.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-19 01:17] #34775 closed

[2019-07-19 01:19] Karishma-Tiwari-MSFT commented on #35302
@Heidilohr I am able to repro the issue, could not find the LicenseKey.txt file in the package. Can you please take a look if there is an update required to the package link? Thanks :)
@digiroka Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-19 01:39] FrankHu-MSFT commented on #35441
@marcusclayton Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-19 01:40] MicahMcKittrick-MSFT commented on #35447
You need to obtain a valid certificate signed by trusted provider as mentioned in the doc:

![image](https://user-images.githubusercontent.com/32313503/61503134-72052980-a98b-11e9-9774-3c3c608a4cf3.png)

For example, a brand many users obtain their certs from is DigiCert

https://www.digicert.com/compare-and-buy-ssl-certificates/?s_kwcid=AL!6100!10!9221346478!29440882154&ef_id=XQv@HwAABbUa2wzk:201

[2019-07-19 01:40] #35447 closed

[2019-07-19 01:41] MicahMcKittrick-MSFT commented on #35443
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

CC @cynthn @Drewm3

[2019-07-19 01:44] smudireddy opened #35448 "ADOAuthServerErrorDomain ProtocolCode:invalid_request Details:AADSTS900384 : JWT token failed signature validation [Reason - The provided signature value did not match the expected signature value."
[Error with code: AD_ERROR_SERVER_OAUTH Domain: ADOAuthServerErrorDomain ProtocolCode:invalid_request Details:AADSTS900384: JWT token failed signature validation [Reason - The provided signature value did not match the expected signature value., Thumbprint of key used by client: '33AA57ED11E8ADA2ECA6B7C97910A34B1B944617', Found key 'Start=10/14/2018 00:00:00, End=10/14/2020 00:00:00']

We are seei

[2019-07-19 01:50] cynthn commented on #35443
@vermagit If you have access to the missing data, we can get it into the tables. We also put the most recent version first. Lauren is doing some rework on this stuff, so it might be good to reach out to her directly.

@laurenhughes FYI :)

[2019-07-19 02:02] BhargaviAnnadevara-MSFT commented on #35066
@PingPongSet Glad to know, thanks for reaching out!

[2019-07-19 02:07] FrankHu-MSFT commented on #35441
Hello, I believe it should work properly, Per the docs :

FIDO2 based Windows sign in requires Azure AD joined Windows 10 version 1809 or higher

Are you sure that you've properly set this up? Does this work on any other of your VMs?

[2019-07-19 02:09] FrankHu-MSFT commented on #35418
Please reopen this issue if you have anymore questions. This is currently being addressed, Thanks again for the feedback!

[2019-07-19 02:09] #35418 closed

[2019-07-19 02:10] FrankHu-MSFT commented on #35417
I'm closing out this issue now, if you have anymore issues please reopen this git issue and we'll look into it.

[2019-07-19 02:10] #35417 closed

[2019-07-19 02:14] patrickgalbraith opened #35449 "Using global temporary table in copy activity not working"
The documentation states that:

&gt; ...in Azure Data Factory, you can create a pipeline with a Copy activity chained with a Stored Procedure activity. The former copies data from your source store into an Azure SQL Database temporary table, for example, ##UpsertTempTable, as the table name in the dataset.

Can you provide more information about how to get the Copy activity to copy data into a glo

[2019-07-19 02:38] jlian commented on #28449
We still need to put in better docs for this, but generally they follow this pattern https://docs.microsoft.com/en-us/rest/api/iothub/common-error-codes

[2019-07-19 03:05] imeya commented on #23642
@brettsam , yes, I tried that, but in the visual studio -> Application insights search, the request is always failed.

![request-fail2](https://user-images.githubusercontent.com/25738099/61506582-239c6d00-aa15-11e9-8966-04d8aee8512c.JPG)

[2019-07-19 03:12] jlian commented on #34430
Based on this https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-define-inputs#configure-an-iot-hub-as-a-data-stream-input I think you just need to get the details from the IoT hub **Shared access policies** page. I believe for ASA to work you will need a policy with "service connect" permissions (since ASA is a service that should connect to IoT Hub). So you can use the defa

[2019-07-19 03:28] hung-doan opened #35453 "Why the exported ARM template from the UI is different than the ARM in adf_publish branch ?"
In the master branch, I export ARM template.
The exported ARM template contains: linkedTemplates, arm_template.json, arm_template_parameters.json
However, the ARM template from adf_publish branch contains: linkedTemplates, PartialArmTemplates, ARMTemplateForFactory.json, ARMTemplateParametersForFactory.json.

The content of exported linkedTemplates is different than the content of linkedTemplates

[2019-07-19 03:47] kobulloc-MSFT commented on #35427
@vector-sigma Thank you again for reporting this.  I am following up with the document author.

[2019-07-19 03:52] KalyanChanumolu-MSFT commented on #34928
sorry i missed the "original server has been deleted" part.
Let me reopen this issue until i check and confirm.

[2019-07-19 04:03] timmyreilly commented on #35057
![image](https://user-images.githubusercontent.com/8118355/61508574-59067380-a99f-11e9-9607-436c741fe331.png)

Some early charts of different effects of the settings. Should have some more details tomorrow with further stats for those curious.

[2019-07-19 04:04] KrishnaG-MSFT commented on #35445
@RPhay Thanks for the feedback! We are actively investigating on it and will get back to you shortly.

[2019-07-19 04:14] timmyreilly commented on #35057
![image](https://user-images.githubusercontent.com/8118355/61508915-f31aeb80-a9a0-11e9-82b0-cbbbb2da1f28.png)
An early chart of the results of a couple permutations for those curious.

[2019-07-19 04:15] kogesaka opened #35454 "About data volume limitation of Data Lake Storage Gen 2"
There is a description of "There's no limit to the amount of data you can store in a Data Lake Storage Gen1 account." in "Data Lake Store limits" section. Is correct that Gen2 also has no restriction as well ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f-e546-b3ea-f83892f4c23d
* Version Independent ID:

[2019-07-19 04:26] TerryLanfear commented on #33225
#please-close

@dcbrown16 - Thank you for your feedback. I noted in the article that for App Service on Windows you can also restrict IP addresses dynamically.

[2019-07-19 04:26] #33225 closed

[2019-07-19 04:31] dcbrown16 commented on #33225
Thanks @TerryLanfear, I actually just ran across this page again today.
I don't think the push is released yet, but just in case it's not only for Windows:

https://docs.microsoft.com/en-us/azure/app-service/app-service-ip-restrictions
That's probably a better link than the first one I posted.

[2019-07-19 04:32] KrishnaG-MSFT commented on #35445
@RPhay As per the document referred by you, it's stated in a line as "Download the New-OnPremiseHybridWorker.ps1 script from the PowerShell Gallery". A hyperlink provided in the line currently routes to source of the script i.e., to [this](https://www.powershellgallery.com/packages/New-OnPremiseHybridWorker/1.6) PowerShell Gallery page. We may click on 'Contact Owners' hyperlink in this PowerShell

[2019-07-19 04:33] KrishnaG-MSFT commented on #35445
Assigning @bobbytreed for better / deeper insights if any.

[2019-07-19 04:35] TerryLanfear commented on #33225
@dcbrown16 - The update will publish tomorrow. Thanks for the info. I'll take another look.

[2019-07-19 04:48] PramodValavala-MSFT commented on #35373
@lolekjohn Thanks for reporting this! This has now been fixed.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-19 04:48] #35373 closed

[2019-07-19 04:52] dcbrown16 opened #35456 "Which is non-interactive?"
It doesn't seem like the flow here makes sense if all four of these methods are non-interactive. Are the first two supposed to be interactive? And do they really have the exact same names as the second two?

&gt; Active Directory Universal Authentication supports the two non-interactive authentication methods: - Active Directory - Password authentication - Active Directory - Integrated authenticat

[2019-07-19 04:58] DixitArora-MSFT commented on #35136
@rjosephp Thanks .I will share this internally.

[2019-07-19 04:58] #35136 closed

[2019-07-19 05:00] DixitArora-MSFT commented on #35388
@benbelow In Version 2.0 in a serverless Consumption plan, the valid range is from 1 second to 10 minutes, and the default value is 5 minutes. In the app service plan the default value is 30 minutes and to change this to a higher value you need to explicitly mentioned in the host.json under "functionTimeout".
It cannot be set as infinite . If we are not setting this value explicitly it will take t

[2019-07-19 05:12] RohitMungi-MSFT commented on #35110
@aahill Thanks for the confirmation. @mgwilliam Based on the above it looks like the British spellings are being accepted as variations of en-US and they are being accepted for en-US and en-GB as per the above results.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and

[2019-07-19 05:12] #35110 closed

[2019-07-19 05:21] manoj-lenka commented on #35369
I uploaded the public intermediate certificate into my APIM. In this case the authentication passes for any client certificate even it is not issued by my intermediate CA. But once i add the policy and specify "context.Request.Certificate.Verify()" , the authentication passes only for those client certificate that are issued by my intermediate CA. Hence, I just wanted to understand what the verify

[2019-07-19 05:27] RanjithPC commented on #35314
Hi KranthiPakala
Thanks for your reply,  but document content not covered error handling. This is very common scenario.

[2019-07-19 05:33] TravisCragg-MSFT commented on #34777
@christianrondeau URL Rewrite alter the headers, it does not mean that the URL is changed for the path. If this is something you would like this to work in the future, you can [leave your feedback Here](https://feedback.azure.com/forums/217313-networking).

To update the docs, I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-19 05:43] SnehaGunda commented on #34934
@lukepuplett Thank you for the suggestion, your version looks great! I have taken your content, made some minor tweaks and submitted a PR to the doc.

In the future, if you have any suggestions for docs or find any bugs, please feel free to submit a PR directly to the doc, you will be added as a contributor to the doc. You can click on the edit button on the right-hand corner and submit the change

[2019-07-19 05:43] #34934 closed

[2019-07-19 05:47] SnehaGunda commented on #35260
@mchudinov the TOP operator is supported with SQL queries as described in this doc:https://docs.microsoft.com/en-us/azure/cosmos-db/sql-query-keywords#top if you are using PowerShell, as mentioned in the previous comment, you should add the logic to the cmdlet to filter the required rows.

[2019-07-19 05:53] #28599 closed

[2019-07-19 05:56] msrini-MSFT commented on #35385
@OffColour , I will go ahead and close this issue. If you have any further questions, please tag me.

[2019-07-19 05:56] #35385 closed

[2019-07-19 05:56] msrini-MSFT commented on #35173
@810123 , Do you have any update on this issue?

[2019-07-19 05:56] #28512 closed

[2019-07-19 05:56] shashishailaj commented on #35432
@jimmymcpeter Thank you for taking time to provide detailed explanation . We will engage the content authors to take this forward.

[2019-07-19 05:57] msrini-MSFT commented on #35384
@mildsar , Did you tried using the PS command which I posted above for your automation?

[2019-07-19 06:11] jaymebowers opened #35463 "Possible typo"
Hi, team. Just reading and found a possible typo in the following sentence. "In your code, make sure to handle cases where an update to one search service fails but **fails** for other search services." I think this should be **succeeds**. Please confirm. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0c6e8

[2019-07-19 06:12] mohakevin commented on #35404
@KranthiPakala-MSFT
we have followed steps to connect to hive from squirrel. we have HDI 4.0 and it hasn't worked it out. The error we get is the described:

"classNotFoundException: org.apache.curator.RetryPolicy"

My question is about if the steps are the same described in the article for HDI 4.0. If not, it would be great to update the document to set the target version. Also, we would like to

[2019-07-19 06:13] forester123 commented on #34430
@jlian Thanks for providing the information! I think your suggestion is just a normal setting for IoT Hub as an input of ASA job, my question here is when IoT Hub has IP filtering enabled, how to change the setting. According to below comments, I need to use Event Hub-compatible name and endpoint, I know where to get Event Hub-compatible name, but I don't know how to use it in ASA setting.

[2019-07-19 06:14] forester123 commented on #35112
@mlearned any news to update? Thanks

[2019-07-19 06:14] KranthiPakala-MSFT commented on #35192
@whitmla I was able to get the preview data. Here are my Linked service and dataset Json code:

Dataset:

{
"name": "WebTable1",
"properties": {
"linkedServiceName": {
"referenceName": "WebTableLinkedService",
"type": "LinkedServiceReference"
 },
"annotations": [],
"type": "WebTable",
"schema": [],
"typeProperties": {
"index": 0,
"path": "econ/currentdata/dbsearch?program=RESCONST&startYear=1959&e

[2019-07-19 06:20] lightupdifire commented on #34914
Thank you very much! I see what happened, were used 2x deployments, first was for test only, but it was not with Federated domain solution, but as managed domain and in there applied in setting: contoso.onmicrosoft.com; After admins switch to Federated domain solution and settings stuck from first setup... which should be different as: contoso.com "organizations STS that is verified domain"... Sor

[2019-07-19 06:20] #34914 closed

[2019-07-19 06:22] ManojReddy-MSFT commented on #35118
@MahdeeT We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-07-19 06:26] shashishailaj commented on #35463
@jaymebowers Thank you for your feedback . We will investigate and update the thread further.

[2019-07-19 06:28] shashishailaj commented on #35456
@dcbrown16 Thank you for your feedback. We will investigate and update this thread further.

[2019-07-19 06:29] shashishailaj commented on #35444
@maxxxie74 Thank you for your feedback . We will investigate and update the thread further.

[2019-07-19 06:30] mariojacobo commented on #12480
@Mike-Ubezzi-MSFT thanks, but it's no longer required on my end. We moved on to another provider.

[2019-07-19 06:54] shashishailaj commented on #35440
@basilwong Thank you for your contribution and assistance. We encourage our readers to submit PRs . Feel free to submit the PR and we will have content team review your PR with engineering to further merge it . We thank you for taking time to improve the documentation.

Thank you.

[2019-07-19 06:58] shashishailaj commented on #35448
@smudireddy Thank you for your feedback . We will investigate and update this thread further.

[2019-07-19 06:59] shashishailaj commented on #35449
@patrickgalbraith Thank you for your query. We will investigate and update this thread further.

[2019-07-19 07:01] shashishailaj commented on #35453
@hung-doan Thank you for your feedback . We will investigate and update the thread further.

[2019-07-19 07:04] shashishailaj commented on #35454
@kogesaka Thank you for your feedback . We will investigate and update this thread.

[2019-07-19 07:16] pvrk commented on #35103
Investigating this. Will get back soon.

[2019-07-19 07:22] BhargaviAnnadevara-MSFT commented on #35072
@amigup You would first need to register your custom filters with the framework IoC. And then use the ServiceFilter attribute to add the custom filters to the controller method and class. Please refer to [this](https://damienbod.com/2015/09/15/asp-net-5-action-filters/) blog post and [this](https://github.com/Microsoft/ApplicationInsights-aspnetcore/wiki/Custom-Configuration#track-custom-traceeven

[2019-07-19 07:22] BhargaviAnnadevara-MSFT commented on #35072
@amigup We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-07-19 07:22] #35072 closed

[2019-07-19 07:28] genlin commented on #34825
@d-h-morrison Thanks for pointing out the problem in the article. I will update the article.

[2019-07-19 07:44] Flanker32 commented on #34919
@theav8or Thanks for your feedback, so you want to update the `web.config` file to use the keystore file? If so, you could do this with the maven-plugin, just specify what you want to upload and the destination(relative to `wwwroot`) and maven plugin will upload these files for you, here is an example.
[code]

[2019-07-19 07:45] Satya519364 commented on #34985
Hi,

These are the my environment details.

PS C:\WINDOWS\system32> truffle version
Truffle v5.0.27 (core: 5.0.27)
Solidity v0.5.0 (solc-js)
Node v10.16.0
Web3.js v1.0.0-beta.37

Regards,
Satya

[2019-07-19 08:06] jjindrich commented on #35431
Thank you. For future similar questions will be greate put this plan on website to eliminate submitting issues.

[2019-07-19 08:18] cassm199 opened #35466 "conversation transcription - speech service"
Hi I'm trying to use the conversation transcription service found in the Speech service, however the service enters the Cancelled event, reason: endofstream and not transcript is returned and also the duration is 00:00:00.

First I generate the voice signature through the use of CreateVoiceSignatureByUsingBody, then I pass the signature to create a new participant object. Then in the ConversationW

[2019-07-19 08:22] OlegKarasik commented on #8975
@erikadoyle
I am in!

Is this possible to assign this issue to me and reopen it? (My UI doesn't have Reopen button).

P.S.
When I would redraw this pictures I would need your help to upload them to a proper place :)

[2019-07-19 08:30] IanKemp opened #35467 "For HttpClient, recommend using HttpClientFactory"
As per https://docs.microsoft.com/en-us/dotnet/standard/microservices-architecture/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb8d85a7-1ca3-71f4-85fb-7fb02850b60e
* Version Independent ID: 3d7daee4-fd6d-0e96-299a-90b3637e615

[2019-07-19 08:32] thecpshah commented on #35204
Thanks @YutongTie-MSFT I have send you an email with Subscription ID.

[2019-07-19 08:34] faisalali-SL commented on #35407
It works perfectly. Thanks

[2019-07-19 08:34] #35407 closed

[2019-07-19 08:34] lukepuplett commented on #34934
Thank you, I was going to ask about how I can make this easier/less noisy for you. Cheers!

[2019-07-19 08:44] shashishailaj commented on #35467
@IanKemp Thank you for your feedback. We will investigate and update the thread further.

[2019-07-19 08:48] SnehaAgrawal-MSFT commented on #35357
@KeiroKamioka0000 Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-07-19 08:57] KalyanChanumolu-MSFT commented on #34928
@jcawte I have checked this internally with the product group and also reproduced the scenario.

I can confirm that you will be able to restore a LTR back even if the server is deleted.
As of today, it is possible via powershell and not via the Azure portal. If the server is not deleted, you can restore from the portal directly.

The powershell commands to view LTR backups and restore are [here](h

[2019-07-19 08:57] IanKemp opened #35469 "Non-HTTP triggered functions do not support being executed via HTTP POST"
The doc says:

"For all kinds of functions other than HTTP triggers and webhooks, you can test your functions locally by calling an administration endpoint. Calling this endpoint with an HTTP POST request on the local server triggers the function."

However, attempting to invoke my timer-triggered function via `Invoke-WebRequest -Method Post "http://localhost:7071/admin/functions/my_function_name"

[2019-07-19 08:58] slavizh opened #35470 "One of the pictures with alert contains query with search operator"
One of the pictures with alert contains query with search operator. I think with latest changes you are not allowed to use search operator anymore in alerts. Because of that the picture might be misleading.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c078b371-99e4-5768-12ff-5a6f35859db9
* Version Independent ID: b3b

[2019-07-19 08:59] jcawte commented on #34928
Thanks very much, that answers my question perfectly.

[2019-07-19 09:01] #30354 closed

[2019-07-19 09:04] KalyanChanumolu-MSFT commented on #34928
Thank you for your patience.
We will proceed to close this issue now.

[2019-07-19 09:04] #34928 closed

[2019-07-19 09:13] cassm199 commented on #35466
@shashishailaj it think the issue is more related with https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/cognitive-services/Speech-Service/how-to-use-conversation-transcription-service.md

[2019-07-19 09:16] Kjeanclaude opened #35471 "Azure Preview for Civil Service and Azure subscription requirement"
I have a government account as a civilian in Ivory Coast, with a Microsoft 365 license. Is it possible for me to participate to this preview as a civil servant? Indeed, with Azure subscription requirement, we need card information, etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2eeca14-80ef-c0b4-2719-80ceb286ba3d

[2019-07-19 09:33] gajo357 opened #35472 "Installing additional libraries to the container"
Hi,
I am using "libdl.so" to load some native libraries to my .NET Core app.
It isn't present in the initial image, so I need to run "apt-get update && apt-get install -y apt-utils libc6-dev".
Now I do this manually in the SSH terminal, but it's not a permanent solution.

Is there a way to preinstall these in the Web App so I do not have to do it manually (when I build the container myself, I have

[2019-07-19 09:33] shreya6491 opened #35473 "Unable to view contract state using truffle"
Hi, I have been following the instructions to deploy smart contract on azure blockchain using truffle from this link
https://docs.microsoft.com/en-us/azure/blockchain/service/send-transaction

The contract is getting deployed, however in the next step **Validate contract privacy**
`SimpleStorage.deployed().then(function(instance){return instance.get();})`
I am trying to check the state, and it giv

[2019-07-19 09:46] shashishailaj commented on #35466
@cassm199 Thank you for letting us know that . I have updated the reference.

[2019-07-19 09:47] KetanChawda-MSFT commented on #35469
@IanKemp can you try passing `Content-Type`  - `application/json` as headers and see if it works.

`Invoke-WebRequest -Method Post "http://localhost:7071/admin/functions/my_function_name -Headers @{'Content-Type' = 'application/json'}`

[2019-07-19 09:57] KrishnaG-MSFT commented on #35470
@slavizh Thanks for the comment. We are actively investigating on it and will get back to you shortly.

[2019-07-19 10:11] benbelow commented on #35388
Hi @DixitArora-MSFT

thanks for the reply. Most of that is clear from the documentation.

"It cannot be set as infinite . If we are not setting this value explicitly it will take the default 30 minutes value"

these two facts are **not clear** in the documentation - I only managed to learn this by looking through previously closed github issues.

I am suggesting you add those two lines to the docu

[2019-07-19 10:12] #35169 closed

[2019-07-19 10:12] momoegg opened #35475 "Checksum for the OVA Template"
can provide checksum information for the ova template?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a699efb-c78c-2dc6-2d0d-6ffc0a2918ce
* Version Independent ID: 36a048d5-71b5-ce1d-75d7-bd5182f4386b
* Content: [Deploy the configuration server for VMware disaster recovery with Azure Site Recovery](https://docs.micros

[2019-07-19 10:13] #35290 closed

[2019-07-19 10:13] SadiqhAhmed-MSFT commented on #35290
@jtuliani We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-19 10:18] SadiqhAhmed-MSFT commented on #35272
@cconrado We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-19 10:18] #35272 closed

[2019-07-19 10:19] KalyanChanumolu-MSFT commented on #35022
@SuperSing Yes unfortunately this seems like a limitation today.
I will share this feedback internally with the appropriate team and comment on this issue if any workarounds are available.

We will proceed to close this issue now. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-19 10:19] #35022 closed

[2019-07-19 10:25] VikasPullagura-MSFT commented on #35169
@LarsKemmann The spreadsheet link is updated now.

[2019-07-19 10:27] meidal commented on #35411
Hi @MicahMcKittrick-MSFT,

I'm having the same problem. This has been working until today without issues and now it seems the service principal that's configured on our AKS has dropped it's authentication for some reason and can no longer pull images from our ACR

[2019-07-19 10:29] SadiqhAhmed-MSFT commented on #31847
@mattyweb We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-19 10:29] #31847 closed

[2019-07-19 10:30] meidal commented on #35411
I can login and push images to the ACR, our AKS's service principal seems to be the problem

[2019-07-19 10:31] manishjoisar opened #35476 "Enable Application Insights logging for your API - Frontend Request"
Hello,

As WAF is calling our APIM, we are getting WAF IPs recorded in APIM request logs.
We want to get x-forwarded-for which contains IP of actual client into App Insights.

We enabled Frontend Request option in API settings within APIM, but not sure where i can see this info, as i don't see this anywhere in AppInsights.

Also in documentation & Video, it contains how to enable Frontend request

[2019-07-19 10:33] SadiqhAhmed-MSFT commented on #35180
@moizin We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-19 10:33] #35180 closed

[2019-07-19 10:37] mijo89joseph opened #35477 "Handling DocumentClientException with BulkImport"
I am using Microsoft.Azure.CosmosDB.BulkExecutor.IBulkExecutor.BulkImportAsync to insert documents as a batch. I have implemented unique constraints for my cosmos db collection. If any of the input documents violates the constraint the entire bulk import operation fails with throwing DocumentClientException. Is this an expected behaviour? Or is there a way we can handle the exceptions for failed d

[2019-07-19 10:42] PramodValavala-MSFT commented on #35369
@manoj-lenka The [`context.Request.Certificate`](https://docs.microsoft.com/en-us/azure/api-management/api-management-policy-expressions#ref-context-request) is essentially a [`System.Security.Cryptography.X509Certificates.X509Certificate2`](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.x509certificates.x509certificate2?view=netframework-4.8) object as documented and its

[2019-07-19 10:44] PramodValavala-MSFT commented on #35291
@kudlatiger Hope my previous comment helps.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-19 10:44] #35291 closed

[2019-07-19 10:45] SubhashVasarapu-MSFT commented on #34828
@prabhakarreddy1234, Appreciate your patience. We have assigned this issue to the content author for further analysis on this ARM query.
@sharad4u, Could you please provide your insights on this?

[2019-07-19 10:49] PramodValavala-MSFT commented on #35467
@IanKemp Thanks for the feedback! I believe this is definitely a better way to do it and with [dependency injection](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection) introduced, we could [inject](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-2.1) it as well (and potentially the other clients mentioned in this do

[2019-07-19 10:50] mohamed-shehata-m opened #35478 "New VNet integration does not work with multiple app service plans in multiple subnets"
Currently we have multiple app service plans in the same region. we started removing P2S integration and using the new VNet integration.

I created a separate subnet for each app service plan:
ASP1 --&gt; Subnet1
ASP2 --&gt; Subnet2
ASP3 --&gt; Subnet3

the 1st VNet integration works.
Any other VNet integration does not work and gives below error when trying tcpping to a VM within the same VNet:

[2019-07-19 10:53] SimonGivan commented on #24229
In the above guide at 'Section Create and configure the SQL Server VMs' the following setting I reckon is incorrect - SQL Authentication = Disable
This prevented me logging in. It should be set to Enable to allow access.

[2019-07-19 10:56] SadiqhAhmed-MSFT commented on #35475
@momoegg Thanks for the comment! Appreciate if you could provide more details about your ask.

[2019-07-19 11:08] SnehaAgrawal-MSFT commented on #35478
@mohamed-shehata Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-19 11:16] ram-msft commented on #35374
@ehalsey The 8 numbers represent 4 pairs of (x,y) coordinates of the bounding box corners in the following order: top-left, top-right, bottom-right, bottom-left. The origin of the coordinates system is the bottom left of the page. I hope this helps!

[2019-07-19 11:23] jakaruna-MSFT commented on #35426
@Heidilohr Please add your comments

[2019-07-19 11:34] sergaz-msft commented on #10205
@Ardutec please feel free to open a new issue and reference this one if you are still blocked. Thanks!

[2019-07-19 11:35] MatthewSteeples opened #35480 "Additional Regions"
Is there any information on when this service will be available in additional regions? Specifically we're looking for North Europe

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 876582b8-4dd5-387d-a6fd-7d9becf2968b
* Version Independent ID: d0c1fe42-3dd1-e988-b91c-8f88a4924604
* Content: [Azure App Configuration FAQ](h

[2019-07-19 11:37] VikasPullagura-MSFT commented on #35434
@Icandui8 I am checking with the team on the possibility, will get back shortly.

[2019-07-19 11:39] sergaz-msft commented on #32693
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-19 11:39] #32693 closed

[2019-07-19 11:40] VikasPullagura-MSFT commented on #34755
@zhalu The index page is updated now. Closing the issue.

[2019-07-19 11:40] #34755 closed

[2019-07-19 11:53] mlearned commented on #35112
@jluk any thoughts on this one?

[2019-07-19 11:59] sameer-kumar commented on #35411
@MicahMcKittrick-MSFT same with me. I verified that I can log in to ACR using admin credentials as well as with a custom SPN creds from a windows node in the same subnet as AKS cluster. However, AKS cluster SPN is unable to login.

[2019-07-19 12:08] Blackmist commented on #35142
Thanks for reporting @ezwiefel . I'll update the doc this morning to pull in this information.

[2019-07-19 12:13] BharathNimmala-MSFT commented on #35480
@MatthewSteeples Thank you for your query, we are looking into this and will get back to you shortly.

[2019-07-19 12:18] ChiragMishra-MSFT commented on #35372
@qbihay The issue has been fixed now. Please have a look at the doc now.
I will now proceed to close this issue. Feel free to still comment and tag me incase you have any queries.

[2019-07-19 12:18] #35372 closed

[2019-07-19 12:19] jakaruna-MSFT commented on #35435
@vinothinidharmaraj I see that you have opened one more issue #35433
So you have went through [this](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-extension-sequencing) document which speaks about sequencing extensions
- while creating the VMSS with ARM template
- while adding the extensions to the existing VMSS with powershell or Azure Cli

You would

[2019-07-19 12:26] LeonB87 opened #35481 "small typo"
The first word under the "Configure the local intranet settings for device registration" header is missing the letter T

o successfully complete hybrid Azure AD join --&gt; To successfully complete hybrid Azure AD join

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 816f0138-d336-3905-9f4f-e60c04da9326
* Version Indepen

[2019-07-19 12:27] medavamshi commented on #32820
Ran into this issue.  Failed to create alert rule 'S2S VPN Disconnected'.Workspace ID not found for OMS resource.  any fix for this?

[2019-07-19 12:29] siphiwemsibi commented on #33999
Hi, I also get the same behavior as wernermp. Deleted the virtual cluster which contains no MI, but it appears after refresh. Will attempt after 12 hrs again

[2019-07-19 12:32] msvijayn commented on #35470
@slavizh - thank you for your feedback. The screenshots, have not been updated in over a year. Have now refreshed them in-line with functional changes done thus far via [PR#82762](https://github.com/MicrosoftDocs/azure-docs-pr/pull/82762)

[2019-07-19 12:32] shashishailaj commented on #35473
@shreya6491 Thank you for your query. We will investigate and update the thread further.

[2019-07-19 12:35] shashishailaj commented on #35471
@Kjeanclaude Thank you for your query. We will have this checked and let you know.

[2019-07-19 12:37] shashishailaj commented on #35472
@gajo357 Thank you for your query. We will investigate and update this thread .

[2019-07-19 12:39] shashishailaj commented on #35481
@LeonB87 Thank you for your feedback . We will have this reviewed and updated

[2019-07-19 12:56] grizzljt commented on #34955
Yes that adds a lot of clarity.  Thank you!

[2019-07-19 12:56] #34955 closed

[2019-07-19 13:05] jakaruna-MSFT commented on #35433
@vinothinidharmaraj i dont have any direct way to change only few properties of the extension which is already added to the virtual machine scale set.

option 1:
We can do a patch request for the extension with the additional details as shown [here](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-extension-sequencing#rest-api).

option 2:
In powershell

[2019-07-19 13:05] TeeMakk opened #35483 "Ratio of Standard_B12ms, Standard_B16ms and Standard_B20ms sizes"
Hello All,
Please I would like to know the ratio of  Standard_B12ms, Standard_B16ms and Standard_B20ms based on this document for B-series high memory.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9c028aa-490d-e8be-61e2-b84974dc970d
* Version Independent ID: 0018132b-babc-305b-bc09-7324cb6895d8
* Content: [Virtual m

[2019-07-19 13:06] IanKemp commented on #35469
Results in error `400 (Bad Request)`.

[2019-07-19 13:07] medavamshi commented on #32820
samething when i tried to use the action group .  without actiongroup it all works. New-AzScheduledQueryRuleAlertingAction : Cannot bind parameter 'AznsAction'. Cannot convert the "Microsoft.Azure.Commands.Insights.OutputClasses.PSActionGroupResource" value of type "Microsoft.Azure.Commands.Insights.OutputClasses.PSActionGroupResource" to type
"Microsoft.Azure.Commands.Insights.OutputClasses.PSSch

[2019-07-19 13:14] iilyin opened #35484 "Admin consent does not work according to documentation"
I tried to follow instructions on how to request Admin Consent (https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent#admin-restricted-permissions), but it's unclear what to do after consent is granted. Where should I get code from to receive a new token? Does this approach allows getting access token via on-behalf-of flow (https://docs.microsoft.com/en-us/azur

[2019-07-19 13:15] Jackson-Miller opened #35485 "Requirements"
As for the list of requirements it looks like the users need to also be entitled for SSPR.  Simply adding a user to use the new converged experience allows them to access the the myprofile.microsoft.com site but throws an error on the security information page if the user is not entitled to SSPR.  Is that correct, if so could the requirements be updated?

---
#### Document Details

⚠ *Do not edit

[2019-07-19 13:16] SaurabhSharma-MSFT commented on #35234
@ashwin-sid I could see the policy - "Audit Usage of Custom RBAC Roles" in Security Center.  On Security Policy blade, when you can go to [Preview]: Enable Monitoring in Azure Security Center link to view or change this policy.
![image](https://user-images.githubusercontent.com/38112130/61537640-7a418100-a9ec-11e9-8389-da8c3b5b38d4.png)

[2019-07-19 13:19] SaurabhSharma-MSFT commented on #35306
@vpatel55 Were you able to open an Azure Support Ticket ? Please let me know if you need any help on the same so that I can help you creating a one time free support ticket.

[2019-07-19 13:20] KrishnaG-MSFT commented on #35470
@msvijayn Thanks for the update.😊

[2019-07-19 13:37] rabrahamOpti opened #35486 "Add a note about removing faulty git credentials"
I ran into a problem where I attempted to clone my repo with: `git clone https://{name}.scm.azure-api.net/`, accidentally entered the wrong credentials after being prompted for them, and having those faulty credentials cached, such that all future attempts to clone the repo immediately returned a 403 without prompting me for credentials.

You may want to mention how to handle that git-for-windows

[2019-07-19 13:41] brettsam commented on #23642
If it failed, you should have an exception associated with that request... do you see one?

[2019-07-19 13:42] thecpshah opened #35487 "Install Python Packages on VM"
Once I set up Notebook VM, how do I install packages? For example, package like `plotnine`, `seaborn`?

I tried `!pip install seaborn` and I get the following error:

`
mxnet-model-server 1.0.1 requires model-archiver, which is not installed.
flake8 3.7.5 has requirement pycodestyle&lt;2.6.0,&gt;=2.5.0, but you'll have pycodestyle 2.4.0 which is incompatible.
blobxfer 1.6.0 has requirement request

[2019-07-19 13:45] SaurabhSharma-MSFT commented on #35400
@hadr10 I am not having any difficulties seeing the recommendations with Resource Group Contributor Role.  When you go to the Security Center blade with the test user account you may see this message over the screen.
![image](https://user-images.githubusercontent.com/38112130/61539409-5122ef80-a9f0-11e9-8f47-258b7cd3c727.png)
Once you click on message and security center recommendations and other

[2019-07-19 14:08] vpatel55 commented on #35306
Hello, thanks for your email. I wouldn't know how to go about getting a support ticket? I know you mentioned that this would be a one-off free ticket, but I was wondering why this is normally chargeable if this is actually a bug which I'm pointing out?

[2019-07-19 14:19] slavizh opened #35489 "Set-AzDiagnosticSetting not documented well"
I cannot flag issue on documentation about https://docs.microsoft.com/en-us/powershell/module/az.monitor/set-azdiagnosticsetting?view=azps-2.4.0 so hopefully by flagging it hear you can fix the document. The parameter -WorkspaceId is not described very well. Every Log Analytics workspace has workspace id but in this case WorkspaceId is actually the resource id of the log analytics workspace. Overa

[2019-07-19 14:27] mapoitras opened #35490 "A few questions"
1. When trying out back up and restore, the restore failed because of the custom domain binding – failed on domain verification when I tried to restore to a new slot or new app service.
2.  Based on what we saw in the backup files, It doesn't look like the certificates or the pfx files were backed up. How do we backup those certs?  This would be necessary to fully recover from a backup.
3.  I know

[2019-07-19 14:38] RyanHill-MSFT commented on #35490
Thanks for the feedback @mapoitras! We are currently investigating and will update you shortly.

[2019-07-19 14:48] BzSpi opened #35491 "Outdated application gateway limits ?"
Hello,

I achieved to create more than 100 listeners and rules (158 exactly) in an Application Gateway. Is the documentation up-to-date or is the limit per protocol (http/https) ?

Regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f-e546-b3ea-f83892f4c23d
* Version Independent ID: 27aecc7b-f107-96d4-b0

[2019-07-19 14:53] shashishailaj commented on #35476
@manishjoisar Thank you for your feedback. We will have this reviewed and actioned accordingly.

[2019-07-19 14:56] shashishailaj commented on #35477
@mijo89joseph Thank you for your query. We will investigate and update the thread.

[2019-07-19 14:58] boppbo opened #35492 "Disabled starting MongoDB service by default"
There should be a note next to the mongo connection string when mongo service is not started. I wasted more time than i'd like to admit trying to connect to the emulator.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1300a10b-16f3-9185-af2a-67437bf428d2
* Version Independent ID: 07fd7c5a-0ad5-a7b4-21ef-768f183076aa
*

[2019-07-19 14:58] Blackmist commented on #35142
Thanks for reporting @ezwiefel . I've updated the docs to include the schema information. The update should be published later today or tonight.

Thanks again for bringing this to our attention.

#please-close

[2019-07-19 14:58] #35142 closed

[2019-07-19 15:00] shashishailaj commented on #34565
@JasSuri Thank you for your feedback. We will investigate and update the thread .

[2019-07-19 15:11] lelopez-io commented on #35437
@Karishma-Tiwari-MSFT The doc I'm referring to is:
  https://docs.microsoft.com/en-us/azure/iot-edge/how-to-connect-downstream-device

There also exists this sample:
  https://github.com/Azure/azure-iot-sdk-c/blob/master/iothub_client/samples/iotedge_downstream_device_sample/iotedge_downstream_device_sample.c

My questing is specifically about the ability to connect device modules to a transparent

[2019-07-19 15:15] iainfoulds commented on #35409
Thanks for the feedback, @grandparoach

Are there particular examples for app usage you'd like to see? The current example shows LDP.exe as it's a common management tool from the Windows platform to see the secure connection in action, but there's nothing specific about this being Windows-only. Provided the client certificate was trusted by a Linux machine, any application that uses secure LDAP wo

[2019-07-19 15:15] qianw211 commented on #30968
@Kazzan could you please provide more details to your question.  Also please direct your ask to parthp@microsoft.com who will look into this.  Thanks!

[2019-07-19 15:22] chris31389 opened #35493 "How can we test the App with dependency injection?"
Hi,

I've been impressed with the ASP.NET Integration Tests which allow you to have a web server in memory to test against.  I was wondering if it is possible that something like that exists here?

I'm hoping for the ability to create an instance of the function (maybe from a factory so singletons can be re-used) and then triggering the function somehow, maybe by sending http requests to the funct

[2019-07-19 15:35] Karishma-Tiwari-MSFT commented on #35484
Thanks for the question. We are currently investigating and will update you shortly.

[2019-07-19 15:36] litvinolek commented on #35074
Hi!

Subscription ID sent!

[2019-07-19 15:37] Karishma-Tiwari-MSFT commented on #35483
Thanks for the question. We are currently investigating and will update you shortly.

[2019-07-19 15:38] RamonArguelles commented on #26029
Hi @jelmerS2. Thanks for your feedback. The article you are following up (articles/spatial-anchors/concepts/create-locate-anchors-unity.md) is meant to explain, in depth and individually, all the different concepts that are required to use Azure Spatial Anchors. That said, it is not meant to be followed in order, top to bottom, to implement a fully working app. It is really meant to be used the ot

[2019-07-19 15:39] RamonArguelles commented on #26029
If there are no further issues, @Alberto-Vega-MSFT, can this now be closed?

[2019-07-19 15:43] abshamsft commented on #34513
@chenshunshou We've added the instructions for rewriting the Location header in the response. We'll proceed to close this issue.
#please-close

[2019-07-19 15:43] #34513 closed

[2019-07-19 15:43] #35258 closed

[2019-07-19 15:44] Karishma-Tiwari-MSFT commented on #35437
@lelopez-io Thanks for sharing the document. I have updated the issue with doc details.
We are currently investigating and will update you shortly.

[2019-07-19 15:45] ran-ten21 opened #35495 "storage accounts"
need to have mention that customer will need to un-register storage account(s) in order to remove recovery services vault.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 728cc3f4-d5da-a270-a3c0-53f179147cc0
* Version Independent ID: 32d276c0-0980-ff36-933b-5012a39f75c5
* Content: [Delete a Recovery Services vault in Az

[2019-07-19 15:50] RamonArguelles commented on #33628
Thanks for your feedback. You are correct, @LoisMonet, Build System needs to be Gradle. We recently added clarification for this in the article:

In the Platform section, select Android. Change the Build System to Gradle and ensure the Export Project checkbox doesn't have a check mark.

If there are no further issues, @Alberto-Vega-MSFT, can this now be closed?

[2019-07-19 15:54] gomateus commented on #35009
Hey guys! The documentation here: https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostics-extension-stream-event-hubs seems outdated. The Linux documentation found here https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/diagnostics-linux#protected-settings has a detailed description on how to setup the Event Hub sink, which is missing from the Windows documentatio

[2019-07-19 15:54] ian-rosenberg commented on #33628
The issue is not resolved and it appears that you don't understand the
issue. It is when I press "play" in Unity's editor that I have these issues.

On Fri, Jul 19, 2019 at 11:50 AM Ramón Argüelles <notifications@github.com>
wrote:

[2019-07-19 16:03] Kazzan commented on #30968
Hi @qianw211, I solved this directly with support. Great support from them.

The initial problem is, that the invites to Partner Center (migration from old portal or Co-Sell invite) allow create another organization to someone, who have no rights in the correct one. Even in time when he is the member of same AAD tenant. This should at least warn like "There is already one organization ABCD registe

[2019-07-19 16:05] yegu-ms commented on #35422
@CeciAc Thanks for your feedback! We'll be [tracking this suggestion](https://github.com/Azure/AppConfiguration/issues/116) for our next round of documentation work.

[2019-07-19 16:05] yegu-ms commented on #35422
#please-close

[2019-07-19 16:05] #35422 closed

[2019-07-19 16:10] jlian commented on #34430
You get the info from the IoT Hub built-in endpoint https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-messages-read-builtin#read-from-the-built-in-endpoint

[2019-07-19 16:12] mattwhite-itl commented on #35004
Struggling to find this setting as the original poster mentions. am running 1903 or a Surface Laptop 2 and same version of Config Designer I get HelloForBusiness but don't get the Security Key option.

[2019-07-19 16:13] jlian commented on #34430
I'm not sure if I'm understanding you correctly. You asked earlier on how to get the IoT hub name, shared access policy, and keys. Those can be found via screenshot above.

Like I'm not sure what you mean by "how to use it in ASA setting". What happens when you add the values into the boxes you highlighted earlier? Does it not work?

[2019-07-19 16:14] yegu-ms commented on #33644
#please-close

[2019-07-19 16:14] #33644 closed

[2019-07-19 16:17] rgmatthes commented on #33480
My issue was the same as @Mentate's -- my function app is named the same as my resource group, so if I tried creating a key vault access policy through the Azure UI, the managed identity of my resource group was being selected instead of my function app. Frustrating!

Unfortunately my organization requires the names of these two resources to match as a way of preserving continuity and identifying

[2019-07-19 16:21] mike-urnun-msft commented on #35493
Hi @chris31389 - Thank you for your feedback! We will review and update as appropriate.

[2019-07-19 16:21] yegu-ms commented on #33620
@feroz-ahmmed Sorry about the confusion! You just need to use "Microsoft.FeatureManagement". I'll update the doc as well.

[2019-07-19 16:21] yegu-ms commented on #33620
#please-close

[2019-07-19 16:21] #33620 closed

[2019-07-19 16:23] mike-urnun-msft commented on #35486
Hi @rabrahamOpti - Thank you for your feedback! We will review and update as appropriate.

[2019-07-19 16:23] Adam-Smith-MSFT commented on #35398
@sebastus Have you gotten a chance to check my above comment ?

Thanks,

[2019-07-19 16:27] yegu-ms commented on #33651
@shenmuxiaosen Thanks for making the doc change! It's been approved.

[2019-07-19 16:27] yegu-ms commented on #33651
#please-close

[2019-07-19 16:27] #33651 closed

[2019-07-19 16:29] #30439 closed

[2019-07-19 16:31] yegu-ms commented on #33906
@AAATechGuy Thanks for your suggestion! We'll be [tracking this](https://github.com/Azure/AppConfiguration/issues/118) for our next round of documentation updates.

[2019-07-19 16:31] yegu-ms commented on #33906
#please-close

[2019-07-19 16:31] #33906 closed

[2019-07-19 16:37] NavtejSaini-MSFT commented on #35492
@boppbo Thanks for the feedback. Your product feedback is appreciated but this will be new addition to the product functionality. So please provide the feedback on User Voice link so that it can be prioritized and implemented by product team.
https://feedback.azure.com/forums/263030-azure-cosmos-db

If you have any further issue, please get back to us or at this time we will move forward to close

[2019-07-19 16:37] RobC-CTL opened #35496 "Pre-check before enabling policy"
Just because I've been caught out by this, it is good practice to check the "Users flagged for risk" section in AzureAD before enabling the "End user protection" policy.  As soon as the policy enabled any users flagged will loose access to cloud services until they have been cleared by an admin.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-07-19 16:38] yegu-ms commented on #34387
@shezad-ali5 Thank you for the feedback! We've updated it to use "FromMinutes" instead of "FromSeconds".

[2019-07-19 16:38] yegu-ms commented on #34387
#please-close

[2019-07-19 16:38] #34387 closed

[2019-07-19 16:51] bandersmsft commented on #34885
@SenthuranSivananthan Good point. I've updated the article to say:

A reservation scope doesn't automatically update if you move the resource group from one subscription to another. The scope doesn't update if you delete the resource group. You will have to [rescope the reservation](billing-manage-reserved-vm-instance.md#change-the-reservation-scope). Otherwise, the reservation will be underutiliz

[2019-07-19 16:51] bandersmsft commented on #34885
#please-close

[2019-07-19 16:51] #34885 closed

[2019-07-19 17:12] FrankHu-MSFT commented on #35496
@RobC-CTL Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-19 17:13] FrankHu-MSFT commented on #35004
Hey @mattwhite-itl I would suggest filing a support ticket for further assistance on your issue if it's urgent.

If not please, submit a **new** github issue with a screen shot of your issue. Thanks!

[2019-07-19 17:16] FrankHu-MSFT commented on #35485
@Jackson-Miller Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-19 17:17] erhopf commented on #35396
#reassign: @ArcherAZ

@ram-msft - If engineering or portal functionality issues are encountered, please reach out/tag the engineering team for support. Thx.

[2019-07-19 17:17] YutongTie-MSFT commented on #35204
@thecpshah@cwarne We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue. Please do send me an email if you are suffering from this issue. Thank you.

[2019-07-19 17:19] #35204 closed

[2019-07-19 17:21] nhwilly commented on #26874
this would be great to have updated.  i am struggling with this now...

[2019-07-19 17:21] #34551 closed

[2019-07-19 17:24] daspo opened #35498 "Pre-requisite missing"
Please add this URL as requirement https://docs.microsoft.com/en-us/azure/virtual-machines/windows/prepare-for-upload-vhd-image

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc12f304-5826-fb32-1728-5e43f1b05d8a
* Version Independent ID: 7cc3d5a7-9b0e-dd6b-3b34-2036219f5bd6
* Content: [Support matrix for disaster recov