[2019-03-01 15:10] #25903 closed

[2019-03-01 15:11] csteelatgburg commented on #15889
I found that by opening the app as a content pack while in a shared workspace allowed me to edit the reports.

[2019-03-01 15:11] shashishailaj commented on #26026
@tmarinov Thank you for your feedback. We will investigate and update this thread accordingly. .

[2019-03-01 15:12] ali-emami commented on #26018
Hi, sometimes this can happen when all the references aren't properly aligned in Unity. Can you try in Unity choosing "Assets -> Re-import All" from the top menu. Then try running the app again?

[2019-03-01 15:32] BharathNimmala-MSFT commented on #25964
Thank you Sreedhar.

[2019-03-01 15:32] #25964 closed

[2019-03-01 15:33] jberezanski-mdg commented on #24385
Thank you!

[2019-03-01 15:33] RohitMungi-MSFT commented on #25997
@infovivek The new Speech Service and SDK is replacing Bing Speech, which will no longer work starting October 15, 2019. For information on switching to the Speech Service, see [Migrating from Bing Speech to the Speech Service.](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-migrate-from-bing-speech)

Speech service already supports some regional languages for Indi

[2019-03-01 15:39] SnehaAgrawal-MSFT commented on #26027
@PouyaPanahy Thanks for the question! We are investigating and will update you shortly.

[2019-03-01 15:40] jbpaux commented on #15030
This comment still apply and the documentation doesn't talk about it. It should be updated to include this information.

[2019-03-01 15:40] MGoedtel commented on #25211
@marcusclayton - Yes, I'm afraid that is the case.  Also I am providing an updated example on how to use the API based on testing I did last night after finding the information I was provided wasn't 100% accurate -
$payload = "{'properties': { 'actionGroupResourceIds': '/subscriptions/<subscriptionId>/resourceGroups/<resourceGroupName>/providers/microsoft.insights/actionGroups/<ActionGroupName>'}

[2019-03-01 15:51] erhopf commented on #26017
@PanosPeriorellis - Is there a guarantee that you'll receive more than 1 NBest result? I can reproduce @spaceeskimo result with the utterance "What's the weather like."

[code]

[2019-03-01 15:53] hansmbakker opened #26033 "Are Phrase lists removed from LUIS?"
I used Phrase lists in LUIS in the past. However, the entry is not visible in the left menu anymore even though the documentation says it should be there.

Are Phrase lists removed from LUIS?

Please see the screenshot below:

![image](https://user-images.githubusercontent.com/3463496/53649498-93ff4900-3c42-11e9-8bb6-482da74977fa.png)

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-03-01 15:59] JorgeCupiV commented on #25981
Thanks for reaching out Ketan, the use of a JsonParser is interesting. However its not so obvious. Interesting enough, your sample did not worked for me as it displayed the next error:
"InvalidTemplate. Unable to process template language expressions in action 'secondFunction' inputs at line '1' and column '2583': 'The template language expression 'body('Parse_JSON')['lastName']' cannot be evaluat

[2019-03-01 15:59] sergaz-msft commented on #25986
Great question @ukluk .

Please take a look [here](https://github.com/Microsoft/devkit-sdk/blob/master/AZ3166/tools/dice_device_enrollment/src/dice_device_enrollment/dice_device_enrollment.cpp) to understand how `dps_cert_gen.exe` is built.

You will notice [line 534](https://github.com/Microsoft/devkit-sdk/blob/master/AZ3166/tools/dice_device_enrollment/src/dice_device_enrollment/dice_device_enro

[2019-03-01 15:59] sergaz-msft commented on #25986
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-01 15:59] #25986 closed

[2019-03-01 16:01] RohitMungi-MSFT commented on #25798
@nitinme This is an issue with the Speaker recognition home page at azure.microsoft.com, I could not find the content author @dwlin to assign this issue to. Could you please redirect the issue to the appropriate team and get it addressed.

[2019-03-01 16:05] scotthannen opened #26034 "Details about Azure Function URL are incomplete"
If you attempt to test the function in Azure using the site URL, the response is a 401.  If you obtain the function URL in the Azure portal it includes the "code" querystring value which is required for authentication.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e88ea08-81ef-2b5a-b9d6-539e85592672
* Version Indepen

[2019-03-01 16:09] hansmbakker commented on #26033
Also reported at https://stackoverflow.com/questions/54948089/are-phrase-lists-removed-from-luis

[2019-03-01 16:12] SumanthMarigowda-MSFT commented on #25642
@lehtomar Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-03-01 16:12] #25642 closed

[2019-03-01 16:13] RohitMungi-MSFT commented on #26033
@hansmbakker Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-03-01 16:17] RohitMungi-MSFT commented on #26033
@hansmbakker Could you please let us know which language you selected while creating the app?
It looks like for some of the languages the phrase lists tab is not shown.

[2019-03-01 16:18] hansmbakker commented on #26033
Dutch

[2019-03-01 16:21] Blackmist commented on #23256
@edrickwong Thanks for reporting this and apologies for any confusion this has caused. I'm checking with the developer who owns the scripts and added them to the document.

Originally, we pointed folks to the IoT Edge docs for this information. I'm guessing that the scripts were added as a way to make this process easier.

My personal view is that we should probably revert the document back to the

[2019-03-01 16:31] RohitMungi-MSFT commented on #26033
Here are the [supported languages](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-language-support) for phrase lists. Dutch does not seem to display this feature, Here is a screen shot from the app created for English language.

![image](https://user-images.githubusercontent.com/46958063/53651778-6380d480-3c6d-11e9-897d-a83be8a2e606.png)

Could you please confirm if the app yo

[2019-03-01 16:35] hansmbakker commented on #26033
The app where it works was English indeed. However it would be userfriendlier if the menu item would be gray with an explanation instead of it disappearing without explanation.

[2019-03-01 16:35] benc-uk opened #26035 "Accessing data when not using an Estimator"
Is it possible to access the workspace datastore and data you've uploaded, when in the training script, BUT using a ScriptRunConfig? Not using an Estimator?

There doesn't seem to be a way, if there isn't - I'd like the docs to clearly state this

DataStores seem to only be useful for working with Estimators, is this correct?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-03-01 16:43] ajayanti1 commented on #24669
@benpaul4u - Thank you for your feedback. We will be updating this list soon.

[2019-03-01 16:44] AjayKumar-MSFT commented on #25716
@georgewallace, Thank you!
@Rabbit994, We will close this out, but if you feel you need more information please just let us know.

[2019-03-01 16:44] #25716 closed

[2019-03-01 16:45] MicahMcKittrick-MSFT commented on #25998
@gopikishanm please provide us with a link to the documentation you are following so we can better assist.

[2019-03-01 16:45] trinadhkotturu commented on #25911
Detailed pricing information is found @ [https://azure.microsoft.com/en-in/pricing/details/backup/](https://azure.microsoft.com/en-in/pricing/details/backup/)

So, a server with <50GB is considered 0.5 instance and so correspondingly would be charged 0.5*10 = 5$ towards protected instance fee.

[2019-03-01 16:46] MicahMcKittrick-MSFT commented on #26021
@roundnutz14 thanks for reaching out.

If there are any issues we can help with just let us know by opening an issue directly on the related doc and we can investigate.

[2019-03-01 16:46] #26021 closed

[2019-03-01 16:46] ajayanti1 commented on #24781
@blacktee - Thank you for your feedback. We are in the process of updating this list soon. Thank you for your patience.

[2019-03-01 16:46] MicahMcKittrick-MSFT commented on #26022
@harry12345678910 please provide us with the link to the documentation you are following so we can better assist.

[2019-03-01 16:47] MicahMcKittrick-MSFT commented on #25971
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-01 16:47] #12369 closed

[2019-03-01 16:48] #24504 closed

[2019-03-01 16:50] #26022 closed

[2019-03-01 16:51] MicahMcKittrick-MSFT commented on #26014
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-01 16:52] RohitMungi-MSFT commented on #26033
@hansmbakker Thanks for your feedback. We will pass this feedback to our engineering team to provide more information in documentation.

@diberry FYI.. Please consider adding a link to the list of supported languages for this feature in the [documentation here](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-how-to-add-features#add-phrase-list) for the first point.

[2019-03-01 16:52] MicahMcKittrick-MSFT commented on #26025
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-01 16:53] MicahMcKittrick-MSFT commented on #26028
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-01 16:59] jzuchora87 opened #26036 "Additional guidance"
Can you provide additional guidance for using powershell to configure the "Store additional raw data" settings? Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3663e88-0fa4-cdd3-7f4c-9660f0592473
* Version Independent ID: 05e2cb42-80e3-d26f-7d32-5bb791138948
* Content: [Use PowerShell to onboard Azure Securi

[2019-03-01 17:04] raghavan20 commented on #23265
Hi, I have raised a ticket here, https://github.com/Azure/iotedge/issues/900.

It would be good to include documentation regarding requeuing messages that could not be processed (what different settings and code should be in place).

You may close this ticket. Thanks for your assistance.

[2019-03-01 17:07] georgewallace commented on #24615
@MicrosoftDocs/azure-cxp-triage #please-close

[2019-03-01 17:08] diberry commented on #26033
@RohitMungi-MSFT @hansmbakker I believe Hans may have found a bug. The service team is looking at it. #in-progress

[2019-03-01 17:12] jasonfare commented on #24476
I must not have been clear.  Most people we talk with understand that they can use NPS Extension with MFA Server or Azure AD MFA, but need to know when they should use the NPS extension with Azure AD MFA and not deploy an on-premises MFA Server.  The problem is that many customers think they have to use the full blown MFA Server based on what is listed above and don't see the NPS Extension as an o

[2019-03-01 17:12] harry12345678910 commented on #26028
Sorry for wrong alarm. I found the issue. It was my fault. Lacking CPU :-(

[2019-03-01 17:13] pbutlerm commented on #21118
New documentation is going to be live today that will address this issue. We should have the content end of day today 3/1/2019.

[2019-03-01 17:14] MicahMcKittrick-MSFT commented on #26028
@harry12345678910 no worries :) Thank you for letting us know! Glad to hear you figured it out.

I will close this out then. If you have further issues just let us know.

[2019-03-01 17:14] #26028 closed

[2019-03-01 17:15] SumanthMarigowda-MSFT commented on #13151
@mikecasas Apologies for the delay! Your feedback has been shared with the content owner for further review.

[2019-03-01 17:17] MicahMcKittrick-MSFT commented on #25621
@cynthn how would you suggest we move forward with this one?

[2019-03-01 17:17] ajayanti1 commented on #25978
@danieljdemarco - Thank you for your feedback. We will update this thread as soon as we have the timeline locked. We are also in the process of updating this list soon. Thank you for your patience.

[2019-03-01 17:18] MicahMcKittrick-MSFT commented on #21118
Thanks @pbutlerm ! Do you happen to know the link that will be published later so we can share it here?

[2019-03-01 17:19] #24615 closed

[2019-03-01 17:19] curtand commented on #25820
@elenanakhmanson Thanks for this! I'll verify and document if needed.

[2019-03-01 17:19] Adam-Smith-MSFT commented on #26024
Unfortunately Azcopy doesn't have the option to show the copy progress, however the use of the following [Library](https://github.com/Azure/azure-storage-net-data-movement) would allow to see the status. Let me know if this helps.

[2019-03-01 17:28] SaurabhSharma-MSFT commented on #25261
@ld0614 Thanks for pointing out these questions; we recognize the issue and are currently working on clarifying the guidance. Just wanted to let you know that we're actively tracking this internally

[2019-03-01 17:32] diberry commented on #26033
@hansmbakker The fix has been deployed by the service team and phrases lists work for me on dutch apps. Can you please verify this fix works for you as well?

[2019-03-01 17:32] harry12345678910 opened #26037 "Container cannot be reached"
Dear all,

I tried the tutorial, but received an error:

ervice 'webfrontend' port 'http' is available at http://webfrontend.2f8n6qmgvz.weu.azds.io/
Service 'webfrontend' port 80 (http) is available at http://localhost:63195
An error occurred during warmup for project 'webfrontend':
System.InvalidOperationException: Container cannot be reached.
   at Microsoft.Azure.DevSpaces.Client.Connection.Con

[2019-03-01 17:33] wesmc7777 commented on #25975
@wickste Stefan I don't see the outdated reference in the context of this article. Which "sample.zip" are you referring to?  "master.zip" is just a copy of the current github repo.

[2019-03-01 17:34] SaurabhSharma-MSFT commented on #25341
@lightupdifire We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-01 17:34] #25341 closed

[2019-03-01 17:35] Xergy opened #26038 "Add Info about using "Replace Disk" options to keep a VM's AVSet."
Include info that using the "Replace Disk" options keeps a VM's AVSet.

[2019-03-01 17:43] tfitzmac commented on #25840
#please-close

[2019-03-01 17:49] daviburg commented on #16170
Could SecureString be serialized with symmetrical encryption, e.g. AES, so they are not plain text yet custom de-serializer can rehydrate the property to a .NET SecureString in a safe manner?

[2019-03-01 17:56] SumanthMarigowda-MSFT commented on #25907
@kazshi Certainly it doesn't cause impact to other operations.
async copy is a wrapper to service side async blob copy. The pro is the transfer process is totally fulfilled in service side, the con could be there is no SLA on how fast the copy would be fulfilled.

For additional information: Refer to the suggestion mentioned in the [GitHub ](https://github.com/Azure/azure-storage-net-data-movement

[2019-03-01 17:58] SumanthMarigowda-MSFT commented on #25916
@imeya Appreciated your patience! SetMetadata must be called to commit the change

[2019-03-01 17:59] zjalexander commented on #25920
Yes, always reboot means *always* reboot, even if no updates are installed. It's useful for pairing with "never reboot" so you can ensure reboots occur within a specific window.

For reboot if required on linux:
If this exists:
                /var/run/reboot-required

If either of the two reports a need for a reboot:
                sudo needs-restarting
                sudo yum ps

If this repor

[2019-03-01 18:08] tezzigator opened #26039 "Using self-signed certs on our servers - but what about Functions that access those servers?"
This documentation page says we must use self-signed certs on our server, and that "You cannot acquire an SSL certificate for the cloudapp.net (or for any Azure-related) domain; the certificate's subject name must match the custom domain name used to access your application. For example, contoso.net, not contoso.cloudapp.net."

This means that any Azure Function we write will fail SSL check when a

[2019-03-01 18:09] Alberto-Vega-MSFT commented on #25577
@smithGit IoT Central Team engaged with you on your User Voice suggestion. Also it seems like other customer upvoted your suggestion there. Thanks again for your providing your feedback :)

[2019-03-01 18:09] #25577 closed

[2019-03-01 18:12] AjayKumar-MSFT commented on #25891
@markoriver, Thank you for sharing the document. We are taking a look into this question and will update you shortly.

[2019-03-01 18:13] infosatheesh2020 opened #26040 "Incomplete article - Smooth Streaming Protocol (MS-SSTR) Amendment for HEVC"
[Enter feedback here]

The article is not yet complete. Many unfilled sections available only with titles.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b241b7c7-adfe-4b12-96f2-909163eed897
* Version Independent ID: 9269fa68-c4be-43fb-12b0-65b674bd0044
* Content: [Azure Media Services - Smooth Streaming Protocol (MS-S

[2019-03-01 18:16] hansmbakker commented on #26033
I’m not at work anymore but from my phone I can now see the Phrase lists menu entry for LUIS apps with the Dutch language! So it looks like it is fixed, thank you for the fast resolution!

[2019-03-01 18:17] mike-urnun-msft commented on #25859
Hi @melvincanafranca Just following up here, let us know if we can assist further, otherwise, we'll proceed to close this issue :)

[2019-03-01 18:18] mike-urnun-msft commented on #26019
Hi @gldraphael Thank you for your feedback! We will review and update as appropriate.

[2019-03-01 18:19] YutongTie-MSFT commented on #25994
@chlandsi Thank you Christian.

[2019-03-01 18:19] hansmbakker commented on #26033
@RohitMungi-MSFT I believe there is a difference between “phrase list suggestions” and “phrase lists” - for Dutch phrase lists work now.

[2019-03-01 18:20] Karishma-Tiwari-MSFT commented on #16899
Thanks @zr-msft :)

[2019-03-01 18:22] YutongTie-MSFT commented on #25669
@diberry Hi Dina, I don't find any document we have for this topic. Could you please help to check and update the document if necessary? Thank you. ^^

[2019-03-01 18:24] MarileeTurscak-MSFT commented on #26036
@jzuchora87
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-01 18:24] ajlam commented on #25361
@roelal, unfortunately there is no deployment announcement. I will keep you posted on the availability.

[2019-03-01 18:25] mike-urnun-msft commented on #26020
Hi @L-Dogg

Thank you for your feedback and contribution towards MS Docs! It looks like you have already submitted a PR which is already approved. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-01 18:25] #26020 closed

[2019-03-01 18:25] AE-MS opened #26041 "Putting the "Register your application" step after the "initialize MSAL" step seems suboptimal"
The "Initialize MSAL" step asks you to paste in a client id from app registration, but these instructions did not tell you how to create an app registration until near the end.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9b69d53-2f6f-38bc-321d-f5330518670e
* Version Independent ID: d0a8b8ab-02bf-d588-465c-03dc1e1fd

[2019-03-01 18:27] mike-urnun-msft commented on #26030
Hi @blueelvis Thank you for your feedback! We will review and update as appropriate.

[2019-03-01 18:28] mike-urnun-msft commented on #26034
Hi @scotthannen Thank you for your feedback! We will review and update as appropriate.

[2019-03-01 18:29] YutongTie-MSFT commented on #26035
@benc-uk
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-01 18:32] cynthn commented on #25621
@MicahMcKittrick-MSFT I've asked someone from engineering to come take a look at this thread. Hopefully they can shed some light on what is going on :)

[2019-03-01 18:34] diberry commented on #25669
@joncooke @YutongTie-MSFT Thank you for letting me know about this issue. #in-progress

[2019-03-01 18:36] veyalla commented on #25783
@darobs Any ideas?

[2019-03-01 18:42] alexkarcher-msft commented on #25891
Not quite sure what the answer for this one is.
@miaojiang can you take a closer look?

[2019-03-01 18:42] mattmgroom commented on #26018
Thanks for the super quick response Ali :) I will try that and let you know how it goes.

[2019-03-01 18:45] kgremban commented on #23264
We're not dropping support for Windows 10 IoT Core, we're just trying to make the quickstarts even quicker. They're not supposed to be reference content that covers a lot of scenarios, it's just to get someone up and running the first time and then the how-to guides detail all the options.

[2019-03-01 18:48] miaojiang commented on #9187
Going to close this issue, please let me know if you have other questions.

#please-close

[2019-03-01 18:50] illgitthat opened #26043 "Script for Windows Server AD Creation results in password conversion error"
(Windows Server 2016)
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/tutorial-password-hash-sync#create-a-windows-server-ad-environment

Using the default powershell script that is provided I received the following error:

```Can not bind parameter safemodeadministratorpassword. Cannot convert the "Pass1w0rd" value of type system string to type system.security.securestring.```

The

[2019-03-01 19:00] Alberto-Vega-MSFT commented on #26029
@jelmerS2 You mentioned that adding a delay made  new CloudSpatialAnchor()  work. Were you getting any errors or feedback then?

[2019-03-01 19:04] MicahMcKittrick-MSFT commented on #26039
@tezzigator can you provide some additional details on how you are integrating Cloud Services and Azure Functions?

[2019-03-01 19:06] SnehaGunda commented on #25855
@davidhjones we will close this issue if you don't have any further questions.

#please-close

[2019-03-01 19:07] toenie23 opened #26044 "Invalid URI error"
Hi,

I get this message.

System.InvalidOperationException: 'An invalid request URI was provided. The request URI must either be an absolute URI or BaseAddress must be set.'

Any recommendations?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1df9d0f9-f84c-2e24-9ea2-9956af815b92
* Version Independent ID: 0437ab02-8f50-

[2019-03-01 19:08] 1trevor opened #26045 "Creating deny assignments"
"Currently, deny assignments are read-only and can only be set by Microsoft."
Does this statement mean we need to open a support ticket with Microsoft to create a deny assignment? Or it's not possible for a customer to create a deny assignment, even through Microsoft support?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-03-01 19:12] cynthn commented on #25621
@MicahMcKittrick-MSFT engineering thinks this could be a PowerShell bug. I sent mail too, but should we move this issue over to the PowerShell repo?

[2019-03-01 19:18] MicahMcKittrick-MSFT commented on #25621
@cynthn yeah I think that would make sense. I cannot move the issue as I don't have write access to the powershell repo.

@jzuchora87 Could you post this issue here:

https://github.com/Azure/azure-powershell/issues

And link this issue by adding #25261

Also, please CC me in that issue :)

We have some people offline taking a look but having it in the correct repo would be a good start to ensure

[2019-03-01 19:19] SnehaGunda commented on #25917
@HansWieserMS thanks for your feedback, I updated the doc to include a reference to the overview doc. I will also add an item in my backlog to scrub rest of the docs for cross linking.  We will now close this issue.

#please-close

[2019-03-01 19:21] miaojiang commented on #25891
Hi @markoriver, what is your scenario here? Generally we recommend using HTTPS for higher security between the proxy and the backend, even though a client might connect to the proxy using HTTP.

[2019-03-01 19:22] usx22186 opened #26047 "Azure AD B2C tenant could not be setup as OIDC Identity Provider"
I attempted to test this feature by using a second Azure AD B2C tenant as the OIDC IdP.  Because the metadata URL ends with a query string value that identifies the sign-in policy the metadata error checking would not let me use this value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15942a1a-df5c-bbeb-a693-510aaded

[2019-03-01 19:26] dragav commented on #23408
We narrowed it down to a failure to either find or ACL the certificate. Highly recommend using the SF CertSetup.ps1 script to generate a certificate (in dev/test environments), as that is proven to work. I suspect whoever is hitting this may be generating CNG self-signed certs, whose private key is not accessible directly in PSh (and so the ACLing code fails). We're working on this.

[2019-03-01 19:32] SaurabhSharma-MSFT commented on #25934
@dombat As per my understanding while transitioning from Microsoft to Azure AD identity requires to email address to match.  Please refer to [Tutorial: Connect your organization to Azure Active Directory](https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/connect-organization-to-azure-ad?view=azure-devops) and [Identities for Visual Studio subscribers](https://docs.microsoft.com/

[2019-03-01 19:33] #18697 closed

[2019-03-01 19:33] #20973 closed

[2019-03-01 19:37] Alberto-Vega-MSFT commented on #25940
@jelmerS2 I'm glad to hear that you resolved it. If you have any feedback please feel free to create an entry [Azure Spatial Anchors Feedback](https://feedback.azure.com/forums/919252-azure-spatial-anchors)  This will allow the community to upvote and for the product team to include into their plans.

[2019-03-01 19:37] #25940 closed

[2019-03-01 19:37] MarkusVi commented on #24882
Hi @ermacia91, fixed :-)

#please-close

[2019-03-01 19:45] #23944 closed

[2019-03-01 19:47] SaurabhSharma-MSFT commented on #25971
@mikeholcomb Thanks for your feedback, I see another [documentation ](https://docs.microsoft.com/en-us/azure/key-vault/key-vault-soft-delete-powershell) available which talks about using PoweShell for soft-delete.  This information might be added to the same. I have assigned this issue to content author to investigate and update the document as appropriate.
@BryanLa Can you please check if this in

[2019-03-01 19:48] karthikdevarakonda opened #26050 "Multi Step WebTests"
Hi,

With the deprecation of multistep webtests, Can you please provide an alternative for the same to continue with the availability tests.

Thank you
D Karthik

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10858323-1827-1c73-b93a-7c133bae54ba
* Version Independent ID: 3ed5fda4-c916-dcb0-a3b2-a0bb534d8bdb
* Content:

[2019-03-01 19:48] eduardomourar commented on #10326
I was able to fix this issue with Azure AD v2 application by setting the following in the client manifest:
[code]

[2019-03-01 19:54] MarileeTurscak-MSFT commented on #26041
@AE-MS
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-01 19:55] MarileeTurscak-MSFT commented on #26043
@illgitthat
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-01 19:56] MarileeTurscak-MSFT commented on #26045
@1trevor
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-01 19:57] Grace-MacJones-MSFT commented on #24983
@JonathanFingold thanks for your patience. It looks like this is a known [issue](https://github.com/Microsoft/BotFramework-WebChat/issues/465). We need to do deeper analysis for this issue. Do you have the ability to open a support request? If not, you can email me at AzCommunity@microsoft.com and provide me with your SubscriptionID,  and link to this thread. I can enable your subscription to be a

[2019-03-01 19:57] #24983 closed

[2019-03-01 19:58] MarileeTurscak-MSFT commented on #26047
@usx22186
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-01 20:01] garyericson commented on #25946
@saraao - Thank you for your idea. We're reviewing this article over the next couple months, so I'll take your suggestion and consider how we might be able to use it. Very good idea.

#please-close -- We'll pursue this in a different PR as needed.
@CeciAc @YutongTie-MSFT

[2019-03-01 20:04] BryanLa commented on #25971
Hi @SaurabhSharma-MSFT - please assign to @msmbaldwin, as he owns KV now.

[2019-03-01 20:05] tezzigator commented on #26039
My plan is to move our app to be completely serverless, with Azure Functions doing all of the work.  As such the functions will poll our application servers (in a private VNet) on HTTPS/443.  We'd like certificate functionality for this connection for the trust aspect.

[2019-03-01 20:06] MarkusVi commented on #25928
Hi @miss-tech, it is an (either) or. I have staged an update to the article.

#please-close

[2019-03-01 20:08] awentzel opened #26051 "What about recommended best practices?"
For example, can I use the same Registered app for multiple domains.  some-site.azurewebsites.net and some-site-stage.azurewebsites.net where I'm using slots for staging server.  It would be nice to use the same AAD Registered App.  I'm not seeing any documentation about this however.  I would like to as I think this is very useful considering most enterprises likely would have multiple environmen

[2019-03-01 20:10] SaurabhSharma-MSFT commented on #25932
@Ayanmullick Please refer to this [blog](https://blog.netnerds.net/2016/04/joining-ubuntu-to-an-active-directory-domain/) if this helps. Alternatively, I suggest you please open a new MSDN forum post with the details and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=wind

[2019-03-01 20:19] way2arun commented on #25770
@MarileeTurscak-MSFT
if we delete the custom role, which are already in use, will interrupt the services, work around cannot be applied in this case. please keep us posted, hope the fix will be released in the next az cli version

[2019-03-01 20:20] mestew commented on #25046
@happyadam73
Key vault has introduced support for EC
https://docs.microsoft.com/en-us/azure/key-vault/about-keys-secrets-and-certificates#ec-algorithms
However, Azure Disk Encryption does not yet support scenarios involving using these keys from Key Vault for interacting with Bitlocker or dm-crypt.

I will be making a note of this in the prereqs documentation shortly. Thanks for the great question

[2019-03-01 20:20] SnehaGunda commented on #24332
@Cephei I see you are not unblocked, do you have anything to share WRT to Govind's question?

If not let us know if we can close this issue.

[2019-03-01 20:21] #25946 closed

[2019-03-01 20:23] #25928 closed

[2019-03-01 20:23] mattmgroom commented on #26018
Just tried re-importing all assets and deploying again. Sadly, I still have the same issue. It did work with the basic (i.e. not shared and stored with the web app) version which is done using the sample built and deployed in Android studio. I think I should clean up my environment and start again from scratch.

[2019-03-01 20:26] sntwnsnd commented on #15709
Am I missing something, or is this step still missing?

[2019-03-01 20:33] aybassiouny commented on #24504
Awesome, thanks folks.

[2019-03-01 20:42] #25046 closed

[2019-03-01 20:45] mamccrea commented on #25728
Hi @kazshi - thanks for your feedback. Are you asking that 'Deploying Azure Databricks in your Azure Virtual Network' be added to docs so that it will be translated?

[2019-03-01 20:49] SnehaGunda commented on #25970
@nicolasploquin  thanks for reporting the issue, I didn't had a chance to test the sample recently but I assume you did so taking your suggesting for the doc update.

[2019-03-01 20:59] MarkusVi commented on #24225
Hi @shawnismail, I have staged a fix for this article.

#please-close

[2019-03-01 21:00] mattbriggs commented on #25926
@raluca256 I passed on your feedback. In terms of the sentence "You need a file share accessible from Azure Stack that can contain seven backups," we decided to make it more general:  "Has sufficient capacity to store the backups based on the frequency and retention period." Thanks again, Matt #please-close

[2019-03-01 21:07] SQLDataSide commented on #25888
Hi Sergaz
Thank you for he reply, yes i agree that they are both related somehow, I only know 2 people that have done this
1- Franck Marcie he is a MS employee at Montreal,Canada
2 - this link that is dealing with a very very old interface version and it in not in English
https://www.bilibili.com/video/av16296977/

Bottom line if you need my help/testing or need to connect me just shoot me an emai

[2019-03-01 21:15] morgangrobin commented on #26050
Hi @karthikdevarakonda, thanks for the question!

I am a PM on Azure Monitor, currently focused on the availability monitoring space. This is a problem that I'm currently looking at and trying to solve.

Current state is: As of right now, we have no plans to drop support for Visual Studio multi-step tests, and (although this is not a guarantee), we do not intend to drop support for them without a

[2019-03-01 21:16] curtand commented on #19985
@sakusuma
@anwarmahmood1
@bamekait
Hi all. The PR above adds a section on membership defaults that answers this query. It will be live around 4 PM PST today.
@MarileeTurscak-MSFT
#please-close

[2019-03-01 21:18] SQLDataSide commented on #25848
Hi Antonio and the teamI will leverage Gitter soon and just as an FYI i still havent got the Devkit working on the speech example, it have even become worse the Function is not working properly , i have posted the errors in the Link
if you need to talk to me or connect to my computer to investigate i'll be more than happy, you may call me at 647 621 2242
SincerelyNik     On Friday, March 1, 2019,

[2019-03-01 21:24] vikramdadwal commented on #25285
@andrewdmoreno : It worked for me too. Did a silly mistake during destination settings. Thanks.

@dkkapur : In case of tcp how to specify multiple destinations (i.e. if we are hosting more than 1 service)? In http we had this **routes** concept, but not sure how to achieve the same in tcp ?

[2019-03-01 21:30] vhorne commented on #24221
Added note about using .local domains.

#please-close

[2019-03-01 21:35] Youssefreda1 opened #26053 "facial recognition music-player"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c91f1cd9-53f7-dd1e-d4af-5beed02d9119
* Version Independent ID: e8ecaadf-cb14-e6e4-af3a-acff178e6ba0
* Content: [What is the Face API? - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/face/overview#feedback)
* Conte

[2019-03-01 21:40] raluca256 commented on #25926
Thank you Matt, but I was looking for more clarity not for something more "general". I wanted to make it more clear on what IP will be used to help ease the configuration and help the clients.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Matt Briggs <notifications@github.com>
Sent: Friday, March 1, 2019 11:00:38 PM
To: MicrosoftDocs/azure-docs
Cc: raluca2

[2019-03-01 21:41] KatiaArroyo1 opened #26054 "Throttling limitations"
Are there any Throttling limitations for this connector?? it doesn't say anything in the documentation

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab270226-0f03-d195-a515-5dc2ae76af7c
* Version Independent ID: 1b0720e6-b682-3fe3-c72a-a59644fa7115
* Content: [Move data from OData sources](https://docs.micr

[2019-03-01 21:44] #25926 closed

[2019-03-01 21:44] amchargue opened #26055 "Additional build steps"
Thanks for the quickstart. Not really a Java guy so I don't know if this is just related to my machine specific config but--
1. had to upgrade netty - I edited (path)\.m2\repository\com\microsoft\rest\v2\client-runtime\2.0.0\client-runtime-2.0.0.pom to add       &lt;version&gt;4.1.33.Final&lt;/version&gt;  to all io.netty dependencies and rebuilt. Not sure if there is a better way.
2. was then abl

[2019-03-01 21:46] SnehaGunda commented on #25970
We will now close this issue.

#please-close

[2019-03-01 21:57] Mike-Ubezzi-MSFT commented on #25970
@nicolasploquin Thank you for pointing this out. Documentation updates will be made. If you find additional issues please do not hesitate to file additional items to have these addressed. Regards, Mike

[2019-03-01 21:57] #25970 closed

[2019-03-01 21:58] #25855 closed

[2019-03-01 22:00] ewierschke commented on #5989
Could the referenced document (step 3 in https://docs.microsoft.com/en-us/azure/network-watcher/network-watcher-nsg-flow-logging-portal#enable-nsg-flow-log) be updated to clarify that choosing 'Selected networks' for the storage account is not currently supported?  It wasn't very clear in my opinion and took multiple readings after failed implementation to discover the capability didn't exist.
Als

[2019-03-01 22:18] craxal commented on #15958
Storage Explorer does indeed support RBAC. However, you also need Reader (management-level) access to list your storage accounts. This is a known limitation we'll be providing some more documentation on, and a solution will be available sometime in the future.

[2019-03-01 22:22] axayjo commented on #25621
@hyonholee, can you look at this issue?

[2019-03-01 22:36] katlimruiz commented on #19238
where can I get the <tenantid>?

[2019-03-01 22:41] Mike-Ubezzi-MSFT commented on #25774
@dimitri-furman Are you still experiencing this issue and is it preventing you from moving forward? I highly suggest engaging support for a more immediate approach. If you are highlighting this as an issue with regard to the documentation, I am assigning this to the content owner to review. Thank you.

[2019-03-01 22:42] Mike-Ubezzi-MSFT commented on #25954
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-01 22:42] #25954 closed

[2019-03-01 22:43] Mike-Ubezzi-MSFT commented on #25972
I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-01 22:54] dimitri-furman commented on #25774
@Mike-Ubezzi-MSFT this is not a blocker. I opened this to get the code sample corrected.

[2019-03-01 22:55] CarlRabeler commented on #25774
@dimitri-furman I have not been in a position to test this personally - and Srdan has been traveling to Australia...

[2019-03-01 23:08] Adam-Smith-MSFT commented on #26055
@amchargue Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-01 23:31] BharathNimmala-MSFT commented on #25919
@satr Thank you for sharing the feedback.

Using Context.properties should still work but obsolete with latest SDK Version. [This ](https://github.com/Microsoft/ApplicationInsights-dotnet/issues/820) particular GitHub issue has additional details on it. Please have a look.

Agree on the docuementation update needed for it, will assign this issue to our document Author @mrbullwinkle to take this fo

[2019-03-01 23:32] YutongTie-MSFT commented on #26053
@Youssefreda1 Hi, we are willing to help. Could you please share more information about what issue you are suffering from? Thanks.

[2019-03-01 23:35] YutongTie-MSFT commented on #26044
@toenie23 For this issue, you simply need to specify the full URL ( including the protocol). Please try and tell us if you still suffering from this problem. Thank you.

[2019-03-01 23:41] dmarlow opened #26057 "When can the set change?"
I have two App Services that have different set of outbound IPs. I was hoping to isolate some WebJobs, but the set of outbound IPs are different. Can the outbound set be changed so things match somehow? It's a lot of work to get many clients to update their IP ACLs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c32dd

[2019-03-01 23:49] Grace-MacJones-MSFT commented on #26040
Hi @infosatheesh2020, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-01 23:59] BharathNimmala-MSFT commented on #25966
@Blackbaud-ChrisBlythe At this moment the only support for CosmosDB auto collection that the Application Insights Java SDK has is for Cosmos DB's HTTP based driver. If you use that driver/client library the dependency will be auto collected.

CosmosDB direct mode support and support for EventHub and ServiceBus is something on product teams roadmap. Until then we recommend users use the [TrackDepen

[2019-03-02 00:00] #25966 closed

[2019-03-02 00:05] mestew commented on #14687
@cocallaw & @OffColour
I have these changes currently in the works.

[2019-03-02 00:06] SnehaGunda commented on #20228
@sanjaiganesh The examples use async/await - The comment about 100's of threads corresponds to creating multiple concurrent connections when you are performing large rate ingestion.

[2019-03-02 00:13] SnehaGunda commented on #20228
If you don't have any further questions we will close this issue.

#please-close

[2019-03-02 00:16] SnehaGunda commented on #22925
@s-leonard  and @Mike-Ubezzi-MSFT apologies for the long delay, there was a bug around the same time when this issue was created. The bug was - Cosmos DB accounts required VNET setup by default, it was resolved after detecting.

So I think when you created the account the bug might be in production, it's revolved now and the code sample should work. Please let us know if you have further questions

[2019-03-02 00:17] BryanTrach-MSFT commented on #22395
@francoislarouche Apologies for the delay. My email rules are setup so I only get notified of GitHub alerts if I'm tagged in the message.

Can you please reach out to me at brtrach at Microsoft dot com with your subscription ID and the URL of this post? This will require a deeper investigation. We look forward to your reply.

Closing out this post and taking this offline.

[2019-03-02 00:17] #22395 closed

[2019-03-02 00:19] TravisCragg-MSFT commented on #25687
@CeciAc We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-02 00:19] #25687 closed

[2019-03-02 00:22] MarileeTurscak-MSFT commented on #26026
Hi @tmarinov ,

Please post your feedback to User Voice. https://feedback.azure.com/forums/169401-azure-active-directory

I am also assigning this issue to the content author to pass along to the relevant parties.

[2019-03-02 00:23] iainfoulds commented on #25339
Sorry you ran into issues, @woodwardmatt. Can you describe your repro steps, please? Does this happen following the doc as it's written?

When I manually create the volume, as documented here, and then later delete the deployment, the Azure File share remains.

I'm not sure if the Helm chart is extending behavior somehow, as the doc as-written doesn't exhibit this behavior.

#hold-off

[2019-03-02 00:25] SnehaGunda commented on #22382
@mmulhearn sorry about the long delay, we have verified that the 2.2.1, 2.2.2.. versions have OpenAsync() method. Yes it's a method on DocumentClient not IDoucmentClient. In the above example await client.OpenAsync();" client is a DocumentClient object and we are calling the method on it.  If you find it in DocumentClient you are good.

If you don't have any further questions we will close this is

[2019-03-02 00:32] SnehaGunda commented on #24551
@dcbrown16 Net standrad 2.0 with V3 SDK.  and .Net framework with V2 and V3 SDKs supports direct connectivity mode. This doc was written a while back so it was only focusing on .Net standard. I will update the sentence shortly.

[2019-03-02 00:35] SnehaGunda commented on #25956
@sladeedmonds  using the above script to create a partitioned container works fine. Something is odd with the behavior you described, we need to debug the cause, can you please send en email with the issue, your subscription and database name to askcosmosdb@microsoft.com alias. We can check the backend database and see if something is wrong.

[2019-03-02 00:39] MicahMcKittrick-MSFT commented on #26038
@Xergy please provide us with the link to the document you are referring to so we can better assist

[2019-03-02 00:39] #19985 closed

[2019-03-02 00:40] #24221 closed

[2019-03-02 00:40] #24225 closed

[2019-03-02 00:40] #24882 closed

[2019-03-02 00:40] suhuruli commented on #25133
@jeffreychenmsft, can you help with this issue?

[2019-03-02 00:40] #25840 closed

[2019-03-02 00:40] mmulhearn commented on #22382
@SnehaGunda It looks like the documentation was updated.  We can close this.

[2019-03-02 00:40] #22382 closed

[2019-03-02 00:41] #25917 closed

[2019-03-02 00:41] #9187 closed

[2019-03-02 00:43] suhuruli commented on #25675
Hi @saifuddin123, currently do not have plans to document this on Windows. However, Yeoman can be used on Windows and instead of running the .sh files, you would just run the .bat files against the cluster.

[2019-03-02 00:46] TravisCragg-MSFT commented on #26013
@yyukif you should be able to verify offline registration using steps 1 - 5 above. I am getting more information on what exactly the offline tool is.

[2019-03-02 00:49] Grace-MacJones-MSFT commented on #25680
@kapntech I repro your issue without any errors. It looks like the path you are trying to access is not present. Please check to see if the path is in existence. Your root folder shoulde be _custom-font-win-container-master/CustomFontSample_

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the disc

[2019-03-02 00:49] #25680 closed

[2019-03-02 00:57] aricbernard opened #26062 "Static routing and P2P references"
In the static routing section, all of the P2P references used are singular in nature. e.g.:
In the text: "static routes pointing to the TOR devices P2P"
In the image: "Customer border assign static route to TOR P2P"

In a static routing scenario, the TOR device (or devices) should always have multiple uplinks (as shown in the image) and therefore should always have multiple P2P connections.

---
#

[2019-03-02 00:59] chetansriv commented on #25184
@mrmueller tutorial updated as per the feedback. Please review

[2019-03-02 00:59] chetansriv commented on #25184
#please-close

[2019-03-02 01:00] chetansriv commented on #24691
@aandrew129 Tutorial updated to support only SP initiated flow. Please review

[2019-03-02 01:01] chetansriv commented on #24691
#please-close

[2019-03-02 01:04] TravisCragg-MSFT commented on #25821
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-02 01:12] Karishma-Tiwari-MSFT commented on #25675
Thanks @suhuruli
@saifuddin123 We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-03-02 01:12] #25675 closed

[2019-03-02 01:12] Karishma-Tiwari-MSFT commented on #25564
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-03-02 01:12] #25564 closed

[2019-03-02 01:15] Alberto-Vega-MSFT commented on #25829
Hi @jelmerS2 Any updates? Just checking in to make sure that your issue was resolved.

[2019-03-02 01:48] MicahMcKittrick-MSFT commented on #26009
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-02 01:48] MicahMcKittrick-MSFT commented on #26032
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-02 01:49] MicahMcKittrick-MSFT commented on #26054
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-02 01:49] #20228 closed

[2019-03-02 01:49] #24691 closed

[2019-03-02 01:49] #25184 closed

[2019-03-02 01:56] solankisamir commented on #14213
#fixed

[2019-03-02 03:29] DavidTaig opened #26063 "Link for Microsoft Security Intelligence report."
Requires to be upadted

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bad1a372-3d89-f509-6bd2-1e6d12b1d6c7
* Version Independent ID: 92fb5a9a-24b8-6f17-2749-99e3b0e999fb
* Content: [Five steps to secure your identity infrastructure in Azure Active Directory](https://docs.microsoft.com/en-au/azure/security/azure-ad-secu

[2019-03-02 03:35] brunole opened #26064 "Supporting Azure AD Conditional Access?"
We have following the instruction as described above and we were successful at integrating our Remote Desktop Gateway infrastructure using the Network Policy Server (NPS) extension and Azure AD.

Now, we would like to use AAD Conditional Access to leverage Trusted location and only have MFA required when users are outside of the trusted locations. Do you know if it is possible?

---
#### Document

[2019-03-02 09:35] itanex commented on #18494
@Mike-Ubezzi-MSFT Yes I saw that update. And while it makes clear what is supported. It does not address all my concerns. The concern remaining unfulfilled is this:

**When should one type be used over another?**

While I understand after reviewing my initial posts this may not have been properly clarified. Here are the parts for reference. The first one, while was a suggestion to the edit change,

[2019-03-02 10:14] Raviafkumar opened #26073 "Unable to load data in azure sql db using spark connector"
I am new to azure databricks . I have written a sample spark program in scala to load in azure sql via below query . I am getting an error . can someone please help me in this
Error Message ----
com.microsoft.sqlserver.jdbc.SQLServerException: The TCP/IP connection to the host b63da5ce2d2d.tr27.northeurope1-a.worker.database.windows.net, port 65535 has failed. Error: "connect timed out. Verify the

[2019-03-02 10:42] BhargaviAnnadevara-MSFT commented on #26050
@karthikdevarakonda Hope @morgangrobin's response answers your question!

We are now going to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-03-02 10:42] #26050 closed

[2019-03-02 10:45] BhargaviAnnadevara-MSFT commented on #26037
@harry12345678910 Thanks for the question! We're investigating this and will get back to you shortly.

[2019-03-02 11:12] jamesgarner-me opened #26074 "Typo in set-env-variables-template.sh sample?"
Under the "Configure the TODO app properties" heading, there's a sample 'set-env-variables-template.sh' file which is a bash script however the '//' characters at the beginning of '// App Service Linux Configuration' are not valid in this scenario. It should be a hash '#' instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2019-03-02 12:13] SychevIgor opened #26075 "behavior after 15m without internet"
Could you please specify the behavior of a container based in this image, if network is not available for 15+ minutes?
Let's assume we wanna implement a production line quality monitoring based on this cognitive services. If quality control will be not available because of the network indecent - it's a disaster for the factory.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-03-02 14:29] rhpoon opened #26076 "Encounter |total Snapshot size 300MB while start logging"
After:

run = exp.start_logging():

&gt;&gt;
While attempting to take snapshot of .
Your total snapshot size exceeds the limit of 300.0 MB.
Please see http://aka.ms/aml-largefiles on how to work with large files.

The link is outdated too,  and no where can find why total snapshot size problem.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-03-02 14:41] algattik opened #26077 ""Planned for deprecation in January 2019""
This statement appears several times, and should be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bd6bdc9-b545-f273-dc80-eeb69107d919
* Version Independent ID: dbbbadd6-f533-33e3-1c1f-7cbc889b20b7
* Content: [Managed identities for Azure resources](https://docs.microsoft.com/en-us/azure/active-directory/mana

[2019-03-02 14:55] veyalla commented on #25783
@smoms Can you try this: https://stackoverflow.com/a/30432450/10033433

[2019-03-02 14:55] diberry commented on #26075
@SychevIgor Thank you for asking this question.

The container can run on your premises. It needs to connect via Internet back to Azure every 15 minutes for billing purposes _only_.  If the billing connection is not made, the container will stop responding to prediction queries.

There is no other need to be connected to the Internet. The container has all the prediction functionality in the image

[2019-03-02 15:20] Eikistein opened #26078 "Item 1 Image in Storage key regeneration is wrong"
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-auditing#a-idsubheading-6storage-key-regenerationa

As per
"1. Open Storage Details. In the Storage Access Key box, select Secondary, and click OK. Then click Save at the top of the auditing configuration page."
Secodary should be selected and not the Primary (as indicated in the image)

---
#### Document Details

⚠ *Do not edit this

[2019-03-02 16:31] YutongTie-MSFT commented on #26076
@rhpoon
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@hning86
Hi Hai, there is a link directs to a wrong place. Could you please help to check and update the document? Thanks.

[2019-03-02 16:32] YutongTie-MSFT commented on #26075
@diberry Thank you Dina ^^

[2019-03-02 17:29] curtand commented on #25820
@elenanakhmanson
I added a new section the two articles that describe setting up a dynamic group. Thanks for the tip!
https://github.com/MicrosoftDocs/azure-docs-pr/pull/68258

@shashishailaj
#please-close

[2019-03-02 17:32] curtand commented on #24781
@SaurabhSharma-MSFT
can you please assign this issue and issues 24669 and 23999 to @ajayanti1 ?

[2019-03-02 17:33] SnehaAgrawal-MSFT commented on #26027
@PouyaPanahy If I am not wrong you want to change the retention of audit log if so, answer to your question is below.
Azure will retain up to 90 days of an audit history in the Activity Log. Also you can configure the Activity Log to export the audit trail to a storage account and increase the retention up to 365 days.
Configuring retention is refreshingly simple. Open Activity Log and click Expor

[2019-03-02 17:34] MicahMcKittrick-MSFT commented on #26073
@Raviafkumar please provide us with the link to the documentation you are following so we can better assist.

[2019-03-02 17:35] MicahMcKittrick-MSFT commented on #26078
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-02 17:35] MicahMcKittrick-MSFT commented on #26062
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-02 17:36] StefanSchoof commented on #23538
There is a new issue https://github.com/Azure/Azure-Functions/issues/1137 that sounds like I can hope for a better solution

[2019-03-02 17:36] MicahMcKittrick-MSFT commented on #26063
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-02 17:36] MicahMcKittrick-MSFT commented on #26064
Thanks for the question! We are investigating and will update you shortly.

[2019-03-02 17:37] MicahMcKittrick-MSFT commented on #26077
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-02 17:37] MicahMcKittrick-MSFT commented on #26051
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-02 17:38] MicahMcKittrick-MSFT commented on #26057
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-02 17:38] MicahMcKittrick-MSFT commented on #26074
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-02 17:44] don4of4 commented on #13583
I'd love to hear if this issue was fixed.

[2019-03-02 17:48] curtand commented on #20481
Hi @r-milne
The expected behavior is already documented, if what you’re saying is that you synced an 80K member on-premises group to the cloud and ended up with 50K cloud members, who got licenses. If you differ from the scenario, let me know. My PM described the expected behavior thus:

“The 50K limit applies only to the max size of a group that can be synced from on-prem to the cloud. Once the g

[2019-03-02 18:45] FabianGCZ commented on #8015
Hello! I am facing same issue>
Add-AzureKeyVaultManagedStorageAccount : Key Vault is unable to perform the action on behalf of the caller.Please contact your administrator for more details

This seems to be an issue when doing the Managed Storage account with a service principal instead of an user. I tried with an user and it worked. It is failing only when using a SP.

Any advice?

[2019-03-02 18:45] FabianGCZ commented on #8015
@MohitGargMSFT

[2019-03-02 18:57] FabianGCZ commented on #8179
Did you find the solution? I am running into same issue @chaitualladi

[2019-03-02 18:58] KS76 commented on #19985
Can you please post the PR link? .

[2019-03-02 19:00] FabianGCZ opened #26079 "Managed storage account keys using service principal"
Hello! I am facing this issue when following the steps in doc https://docs.microsoft.com/en-us/azure/key-vault/key-vault-ovw-storage-keys.

In the Add-AzureKeyVaultManagedStorageAccount with auto generate key I am getting below error from PS>

**Add-AzureKeyVaultManagedStorageAccount : Key Vault is unable to perform the action on behalf of the caller.Please contact your administrator for more deta

[2019-03-02 19:17] AjayKumar-MSFT commented on #25905
@hastikpatel, We will close this out, but if you feel you need more information please just let us know.

[2019-03-02 19:17] #25905 closed

[2019-03-02 20:25] smoms commented on #25783
@veyalla unfortunately none of them worked.

[2019-03-02 20:30] cboghy opened #26080 "Consumer account type in AD B2C"
Hi guys! Is it possible to create already Consumer accounts in AD B2C? This article [Overview of user accounts in Azure Active Directory B2C] (https://docs.microsoft.com/en-us/azure/active-directory-b2c/user-overview) mentions the Consumer account type, and that it can be created with Azure AD Graph API. But I cannot find what value must be specified in the property user type in order to create a

[2019-03-02 21:03] brlewi commented on #25913
Test

[2019-03-02 21:15] jljs opened #26081 "Speech Mark Labels for Text to Speech"
For Text to Speech, does Azure Speech provide speech mark labels in json for the synthesized speech? For example, I need the mark labels for the beginning and ending timestamp of each word, so I can use it for application such as text to audio tracking.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ba5bbd9-c69d-fbfe-

[2019-03-02 21:38] natelowry opened #26082 "Is the GoDaddy issue still an issue?"
Re: `Zone files downloaded from GoDaddy have a slightly nonstandard format. You need to correct this before you import these zone files into Azure DNS.`

From the most recent export I did it appears this might not be the case any more.  Maybe I just don't have the records that show this behavior.  Just figured that since it's about a year later this might've been fixed on GoDaddy's side.

---
####

[2019-03-02 21:50] brlewi commented on #25837
test

[2019-03-02 22:10] jh71283 commented on #25972
In some cases the 200GB limit is still a thing; for example taking a backup of a Managed Instance database still limits you to 200GB per stripe.

[2019-03-02 22:14] brlewi commented on #20481
test

[2019-03-02 22:17] femsulu commented on #25767
@johnwildes Sounds like you were able to successfully execute the walkthrough.  still chasing down an answer for you but wanted to better understand your expected outcome regarding your comment. Please connect with me via AzCommunity@microsoft.com and I will gladly carry on the conversation.

[2019-03-02 22:17] #25767 closed

[2019-03-02 22:59] corneliussens commented on #23792
You can get above to work, if you fix 2 errors:
1) The "Partition Key" must be "/category" and not "/userid" - the latter does not make sense in this example.
2) Change following line

await client.ReadDocumentAsync(UriFactory.CreateDocumentUri(DatabaseId, CollectionId, id));

to

await client.ReadDocumentAsync(UriFactory.CreateDocumentUri(DatabaseId, CollectionId, id),new RequestOptions { Partiti

[2019-03-02 23:09] femsulu commented on #25909
reassigning to @rayne-wiselman to review and clarify

[2019-03-02 23:11] femsulu commented on #25911
thanks @trinadhkotturu .
@artilbur We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-03-02 23:11] #25911 closed

[2019-03-02 23:12] femsulu commented on #25920
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-03-02 23:12] #25920 closed

[2019-03-02 23:13] femsulu commented on #25951
adding @MGoedtel to confirm.

[2019-03-03 00:09] martincoetzer commented on #26063
The link was updated to point to the correct landing page for the security intelligence report. The security intelligence report are updated outside of this page.

[2019-03-03 00:10] martincoetzer commented on #26063
#please-close

[2019-03-03 00:13] vlele commented on #5631
I still don't see validationUrl in the payload ( and I did add the preview capability  via  az extension add -n eventgrid)

Additionally, I don't think that the validation process is waiting 10 minutes for confirmation.

[2019-03-03 01:37] rhinojosa opened #26089 "Whomever made these screenshots"
Thank you!  These are very clear.  I wish this was a standard for all of docs.microsoft.com.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76ca8cff-348b-5595-1c3a-f319d606f82e
* Version Independent ID: 5930a3f8-45f7-e782-f917-0235601f873b
* Content: [Import and publish your first API in Azure API Management](https://d

[2019-03-03 02:51] mike-urnun-msft commented on #26089
Hi @rhinojosa Glad to hear that they were helpful! I believe @kobulloc-MSFT made the screenshots :)

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-03 02:51] #26089 closed

[2019-03-03 03:00] karl-howard opened #26090 "SQL Timeout?"
Can you add details to this content regarding the sql query timeout limits.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a9f5843-5ef0-abb8-b539-50d78d1545c8
* Version Independent ID: 170e69fb-9cb7-c7e5-6b81-f8572da9217d
* Content: [Use reference data for lookups in Azure Stream Analytics](https://docs.microsoft.com/

[2019-03-03 05:19] shashishailaj commented on #25820
@curtand Thank you for swift action . We will close this issue now.

[2019-03-03 05:19] #25820 closed

[2019-03-03 05:34] SychevIgor commented on #26075
@diberry it make sense as an answer. Could you add "If the billing connection is not made, the container will stop responding to prediction queries." to this and all articles ?

https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/computer-vision-how-to-install-containers
api https://docs.microsoft.com/en-us/azure/cognitive-services/face/face-how-to-install-containers
https://

[2019-03-03 05:44] dlenin opened #26092 "Running the commands"
when i try to run the command, getting below error message.

At line:1 char:39
+ echo "Enter the Resource Group name:" &&
+                                       ~~
The token '&&' is not a valid statement separator in this version.
+ CategoryInfo          : ParserError: (:) [], ParentContainsErrorRecordException
+ FullyQualifiedErrorId : InvalidEndOfLine

---
#### Document Details

⚠ *Do not edit

[2019-03-03 05:56] dlenin commented on #26092
i could use powershell

[2019-03-03 05:56] #26092 closed

[2019-03-03 06:02] aquibqureshi26 opened #26093 "Global Vnet peering with Standard load balancer"
Hi Team,
Thanks in Advance,

Let me first explain my environment

I've Region 1 which is my primary region and Region 2 which is my DR Region on Azure.
I've 2 SQL Servers in Region 1, with Basic Load balancer for Listener and configured in Sync Mode of Always ON AG.
I'm planning to create a Standard Load Balancer in DR Region for listener, and connecting the primary and secondary site using Global

[2019-03-03 06:20] leewsimpson opened #26094 "B2C Error Handling"
Hi - I followed the instructions on this page closely.  When I try and log in using Postman, I get the error "AADB2C: An exception has occurred."  There seems to be no way of seeing the details of the error, and the standard Azure audit logs are empty.

Please provide a way, or documentation to allow developers to troubleshoot these issues for more details.

---
#### Document Details

⚠ *Do not ed

[2019-03-03 06:48] MicahMcKittrick-MSFT commented on #26079
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-03 06:49] MicahMcKittrick-MSFT commented on #26080
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-03 06:50] MicahMcKittrick-MSFT commented on #26081
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-03 06:51] MicahMcKittrick-MSFT commented on #26090
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-03 06:51] MicahMcKittrick-MSFT commented on #26082
Thanks for the question! We are investigating and will update you shortly.

[2019-03-03 06:52] #26063 closed

[2019-03-03 06:54] DavidTaig commented on #26063
Now getting when click on link - https://www.microsoft.com/library/errorpages/smarterror.aspx?correlationId=3g4NFCxXOEiGZrCG.0.3.0

[2019-03-03 07:12] jordanchang opened #26095 "Finally standalone subscriptions!"
Will this ever be available on other tiers? I need standalone subscription and management thru Git, which is only available at more expensive tiers. Please have a tier where both features are available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 896691fb-064a-eaf8-f71f-53200149b48a
* Version Independent ID: ff3e18e

[2019-03-03 08:39] Klaas- commented on #25920
@femsulu // @zjalexander I think that information should go into docs

[2019-03-03 09:10] geekzter opened #26097 "Access policy missing"
An access policy is required before a Key Vault key can be created

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86b44bac-c760-a06d-e618-149f275e0d0e
* Version Independent ID: bcaaf53e-87c1-59aa-c51b-d3359ebb9046
* Content: [Encrypt disks on a Windows VM in Azure](https://docs.microsoft.com/en-us/azure/virtual-machine

[2019-03-03 10:14] kvenkazure opened #26098 "Unable to cast object of type"
There are two issues with this script

New-AzManagementGroup -GroupName 'Contoso' -DisplayName 'Contoso Group' -ParentId '/providers/Microsoft.Management/managementGroups/ContosoTenant'

The ParentID specified in this parameter is incorrect - I understand it should be copied from the previous step. But if you are providing sample scripts, please provide the step of how to keep the parent in a vari

[2019-03-03 10:23] rkarlin commented on #26036
@OrenPG  maybe you can provide more information ?

[2019-03-03 11:01] aquibqureshi26 commented on #24115
Any update?

[2019-03-03 11:05] wshamroukh commented on #11037
https://docs.microsoft.com/en-us/azure/application-gateway/quick-create-powershell
the above doc has the same mistake. Kindly update it

[2019-03-03 11:05] HaraldHeide opened #26104 "Unity sample gets unnecessary complicated"
Sample for Unity gets overly complicated by having one sample supporting ARKit, ARCore and HoloLens.
Should be one unity sample for each. Especially since it's not functioning without hazzle. Arcore 1.5 /Arcore 1.7 .net il2cpp tried most of it.  Otherwise love to see when this thing works smooth and simple and gets as easy as possible to implement in your own projects.  BTW. Any reason why generat

[2019-03-03 11:06] wshamroukh commented on #11037
https://docs.microsoft.com/en-us/azure/application-gateway/quick-create-powershell
the above doc has the same mistake. Kindly update it

[2019-03-03 11:07] HaraldHeide commented on #26104
But don't get me wrong.. Love this initiative... :-)

[2019-03-03 11:08] wshamroukh commented on #11037
https://docs.microsoft.com/en-us/azure/application-gateway/tutorial-url-route-cli
this one has the same mistake too

[2019-03-03 11:18] vainolo commented on #26078
@MicahMcKittrick-MSFT - fixed and waiting for PR to merge.

[2019-03-03 12:20] aquibqureshi26 opened #26106 "SQL Always ON with Standard LB"
Hi Team,

You've mentioned in this Article that SQL Always ON uses Basic LB hence it is not supported in Global VNET Peering scenario.
Can you please refer me any SQL Docs which states that SQL Always ON is dependent on Basic LB?
In the below docs of SQL Always ON configuration with Azure LB, they haven't mentioned about standard LB unsupported

https://docs.microsoft.com/en-us/azure/virtual-machi

[2019-03-03 12:21] #25766 closed

[2019-03-03 12:21] PramodValavala-MSFT commented on #25766
@bytejunkie Thanks for contributing to MS Docs! We have a merged a PR which addresses this.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-03 12:22] PramodValavala-MSFT commented on #25901
@Miggleness Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-03 12:22] #25901 closed

[2019-03-03 12:22] PramodValavala-MSFT commented on #25912
@imeya Aren't those the logs that you are looking for?

[2019-03-03 12:34] shashishailaj commented on #26063
@DavidTaig We are sorry for the broken link . We have updated the same now. You can alternatively download the report from here https://www.microsoft.com/en-us/security/operations/security-intelligence-report

[2019-03-03 13:51] fabienturcotte commented on #13103
----
"When you enable provisioning with Salesforce **at that time we will sync all the custom roles** which you have created in Salesforce and bring them to Azure AD."

-> What about if we create new Salesforce Profiles after connecting Azure AD for provisioning?

[2019-03-03 13:56] fabienturcotte commented on #13103
@jeevansd @jeffbearer : Apparently it creates the custom roles in Azure at the moment of enabling user provisioning. What about after the user provisioning has been set to On? If I create 10 new custom profiles in Salesforce, when does Azure gets them for me to select from?

[2019-03-03 14:24] fabienturcotte commented on #22223
@jeevansd: in post https://github.com/MicrosoftDocs/azure-docs/issues/13103 you mention the custom profiles are being read when the provisioning is enabled. What if there are new profiles being created in Salesforce **after**  enabling the provisioning?

We are having this issue where we've been using the provisioning for a while now and have now created a few new Salesforce profiles. However, whe

[2019-03-03 14:27] OrenPG commented on #26036
Nope, there is no PS cmdlet for that (nor REST API)

[2019-03-03 14:37] NisreenJ opened #26109 "Not compliant DSC configuration"
Hello. When I use this DSC configuration, I get the initial compliant, but afterwards it is not compliant. I can see that MMA is successfully pushed, but it does not contain a link to the workspace specified with the name and key variables. When I check from DSC, I can see that xRemoteFile and Package are compliant, but Service is not. I have verified that the product id is correct as well as the

[2019-03-03 16:11] rhpoon commented on #26076
Hi Yutong Tie _ I fixed that (indeed for folks using Anaconda and tried to do an addon environment there are tons of problems that I will write a post.

The superficial fix : It turns out to be a conda SDK installation isolation problem, ie you need to really isolate your environment installation and kernel from your old anaconda BASE environment (but it looks like a azure cloud problem) after I t

[2019-03-03 16:16] blueelvis commented on #25246
@SaurabhSharma-MSFT - That's completely fine. What I am asking for is, is there a limit on the number of secrets which can be saved inside a vault? Is there a limit which Microsoft suggests? For example, if I have 10K secrets in a key vault, will the performance be the same as compared to when the keyvault contains 1k secrets?

[2019-03-03 16:19] blueelvis commented on #25616
@Grace-MacJones-MSFT -- Yes, that's what I was expecting. I think it would make the documentation a lot clear if that is added.

[2019-03-03 17:22] mlavik1 opened #26110 "Incorrect transliterations for Japanese"
Transliteration is incorrect for Japanese, even though the Text Translation website (https://www.bing.com/translator) has correct text-to-speech.
It even fails for the text used in the example: https://docs.microsoft.com/bs-latn-ba/azure///cognitive-services/translator/quickstart-csharp-transliterate#feedback

Examples:
中国人 becomes "chukokunin" (but should be "chūgokujin")
はじめまして becomes "hajime m

[2019-03-03 17:27] #26078 closed

[2019-03-03 17:28] MicahMcKittrick-MSFT commented on #26104
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-03 17:29] MicahMcKittrick-MSFT commented on #26094
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-03 17:29] MicahMcKittrick-MSFT commented on #26106
Thanks for the question! We are investigating and will update you shortly.

[2019-03-03 17:29] MicahMcKittrick-MSFT commented on #26098
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-03 17:31] MicahMcKittrick-MSFT commented on #26092
@dlenin thanks for reaching out and closing the issue. If you have any other issues just let us know.

[2019-03-03 17:31] MicahMcKittrick-MSFT commented on #26095
Thanks for the question! We are investigating and will update you shortly.

[2019-03-03 17:32] MicahMcKittrick-MSFT commented on #26109
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-03 17:33] MicahMcKittrick-MSFT commented on #26097
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-03 17:33] MicahMcKittrick-MSFT commented on #26093
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-03 18:08] acornsoft opened #26111 "Service Log debugging"
It is unclear how to debug the scripts that are associated.  What 'service log' are you referring to and how would one debug the supplied Javascript files.  A better working example or information is required.

I followed the docs, but I am not able to update the telemetry data.  I am unable to determine when or if my scripts are firing.

---
#### Document Details

⚠ *Do not edit this section. It

[2019-03-03 19:03] oleh-zheleznyak commented on #21047
The issue with the docs seems to be that the wrong folder is mounted, i.e. `bind-mount` should be used instead of `CosmosDBEmulatorCert`
This page on dockerHub has appropriate instructions https://hub.docker.com/r/microsoft/azure-cosmosdb-emulator/

[2019-03-03 19:25] cocallaw commented on #14687
Thanks @mestew
Adding issue https://github.com/Azure/azure-cli/issues/8518 from the Azure CLI for reference

[2019-03-03 19:30] malopMSFT commented on #21822
Just created a PR including a note on this reference
https://github.com/MicrosoftDocs/azure-docs/pull/26113

#please-close

[2019-03-03 19:30] malopMSFT commented on #14537
created a PR with a comment for service bus tag
https://github.com/MicrosoftDocs/azure-docs/pull/26113

#please-close

[2019-03-03 21:04] hmayer1980 opened #26114 "Adding Tumbling Window (Self) Dependency not possible"
Hi,
I was looking for this quite a while, but the "Add Dependency" UI Interface is not available in my Data Factory?
If I modify the JSON in the Editor according to this documentation, the modification gets auto removed immediately.
Is this a preview Feature I need to activate or only Available in certain versions?
The API Version of my ARM Template for CI/CD is "2018-06-01"

Thanks for your help.

[2019-03-03 22:23] SogoGolf opened #26116 "JS code samples"
what's here is fine, but would be nice to see some code samples for JS too

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c256dbf4-122d-1569-c4c3-0e401766c712
* Version Independent ID: 747c3f05-167d-2048-6f1b-fa1d7d856f66
* Content: [Working with dates in Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-d

[2019-03-03 22:25] SogoGolf opened #26117 "date range query example"
would be really helpful

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08836ace-1fd0-b59b-18ce-6e615fe86c5b
* Version Independent ID: 193861e9-5a1c-82b1-bc92-7e68b7263662
* Content: [Node.js examples for Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-nodejs-samples)
* Content Source: [article

[2019-03-03 22:27] kilasuit opened #26118 "Clarification on whether Expressroute is encrypted end to end or not."
The documentation says that express route circuits are private but this is unclear as whether they are encrypted end to end or not as using the terminology of being "private" is not explicit enough to confirm/deny either way.

Is this something that can be clarified on?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c

[2019-03-03 22:45] femsulu commented on #25920
noted.
@zjalexander  - fyi

[2019-03-03 22:46] codematrix opened #26119 "I already installed Docker but using Linux Containers."
Why do the docs say to select Windows vs Linux containers when installing docker? This will be a big issue for our local development team if this is the only way to get SF Mesh to work? We can't switch from Linux to Windows as all of our of development is using .NET Core for Linux containers. We have Docker Minikube running locally as well.

Am I missing something or having docker run using Window

[2019-03-03 23:13] aszalacinski commented on #25470
I agree. I am new to Azure and Xamarin development and just trying to get a callback to feed back to my Xamarin.Forms app is being harder then it was made out to be. In the documentation above, it states that I should use a public client referring back to my Azure AD assigned name of MyApp. Where do I find that if I am coming from the quick start setup of the App Service app? Context of this docum

[2019-03-03 23:49] binoyjt opened #26120 "Wrong Details given in the table under the section "When enabling solutions, only certain regions are supported for linking a Log Analytics workspace and an Automation Account.""
The Table shows that Automation accounts and Log Analytics Work space created in West Central US can be linked. This is Incorrect as of today, as Log analytics work space is not an available service in "West Central US". Kindly Correct the same.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 339d073e-771a-93f8-bede-494

[2019-03-03 23:50] binoyjt commented on #26120
Below is the screenshot showing the available regions for the Log Analytics Service.

![image](https://user-images.githubusercontent.com/40192393/53703933-4285d280-3e6b-11e9-9915-419ab3f15520.png)

[2019-03-04 01:05] g0pinath opened #26124 "CreatingLoadBalancerFailed :timed out waiting for the condition"
Hi - I followed https://docs.microsoft.com/en-us/azure/aks/tutorial-kubernetes-app-update and it worked great. I created a static ip and using the RG as MC_RG-TRG01-LAB01-GOPI_gopiAKSCluster_eastus I created a public IP 13.92.241.184.
After updating the load balancer service as below

apiVersion: v1
kind: Service
metadata:
  name: azure-vote-front
spec:
  type: LoadBalancer
  loadBalancerIP: 13.92

[2019-03-04 01:06] g0pinath commented on #26124
Events:
  Type     Reason                      Age               From                Message
  ----     ------                      ----              ----                -------
  Normal   LoadbalancerIP              18m               service-controller  -> 13.92.241.184
  Normal   EnsuringLoadBalancer        3m (x10 over 4h)  service-controller  Ensuring load balancer
  Warning  CreatingLoadBalan

[2019-03-04 01:19] MicahMcKittrick-MSFT commented on #26119
@codematrix please provide us with the link to the documentation you are referring to so we can better assist.

[2019-03-04 01:20] MicahMcKittrick-MSFT commented on #26110
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-04 01:20] MicahMcKittrick-MSFT commented on #26114
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-04 01:21] MicahMcKittrick-MSFT commented on #26116
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-04 01:21] MicahMcKittrick-MSFT commented on #26117
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-04 01:22] MicahMcKittrick-MSFT commented on #26111
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-04 01:22] MicahMcKittrick-MSFT commented on #26118
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-04 01:22] #14537 closed

[2019-03-04 01:23] #21822 closed

[2019-03-04 01:24] MicahMcKittrick-MSFT commented on #26124
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-04 01:29] g0pinath commented on #26124
Thanks.
Just to add, I think the static IP may not have provisioned correctly.

az network public-ip list -g MC_RG-TRG01-LAB01-GOPI_gopiAKSCluster_eastus
For the above command you can see that 13.92.241.184 has blank ipConfiguration.

[2019-03-04 01:29] Miggleness commented on #25901
Thanks for the confirmation @PramodValavala-MSFT

I've sent a PR to update the docs example to align with Microsoft's recommendation.

[2019-03-04 01:52] gopikishanm commented on #25998
Hi,

I think it is issue with my disk mounting scripts. Once I upgrade linux custom image, the disk is attached but is not mounted. I had to update my custom script to mount the disk

[2019-03-04 01:52] #25998 closed

[2019-03-04 01:52] ghuntley commented on #25394
I was unable to resolve migration of a customer to invoice payments in MSSolve `119020126000635`.

I have opened up another MSSolve `119022226000729` and am trying again. Support has replied back  with _a different template_. I cannot believe how hard it is to give you money.

**I will be on the Redmond campus in two weeks time for the Microsoft MVP summit and am available if you want more informa

[2019-03-04 01:53] yyukif commented on #26013
Thank you for quick reply.
I understand verification step on admin portal is applicable for offline registration so I will use it for now.
If it is desirable to use offline tool, please add some explanation on this.

[2019-03-04 01:53] kazshi commented on #26008
@tulasim88 @diberry @pchoudhari Thank you for the clarification. I've not gotten any details of the customer's scenario, they would like to make sure if it's OK to add a line/phrase mentioning their bot uses Azure QnA Maker service (such as 'Azure QnA Maker service is running on the bot' or something like that) and if there're any guidelines.

[2019-03-04 01:57] ghuntley commented on #25394
See also https://github.com/MicrosoftDocs/azure-docs/issues/25772

[2019-03-04 01:57] jzuchora87 commented on #25621
All set - https://github.com/Azure/azure-powershell/issues/8670#issue-416597841

[2019-03-04 02:00] dkkapur commented on #25285
@vikramdadwal see https://docs.microsoft.com/en-us/azure/service-fabric-mesh/service-fabric-mesh-howto-configure-gateways#tcp-routing-rules for more info on this. Quick note - tcp routing rules are 1:1 for port:endpoint.

[2019-03-04 02:32] saraao opened #26130 "the page layout of the portal seems to be already different from the document."
The Add Graph API required permissions of  https://docs.microsoft.com/en-us/azure/blockchain/workbench/deploy is quiet different from the page layout of the portal. “Settings” is no longer able to find, “Required permissions” may be “API permissions” and “Required permissions” may be “Grant consent” now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-03-04 02:34] rogerquake opened #26131 "miss spelling"
Miss spelling on this line:
An Availability Set is a logical grouping capability for isolating VM resouces from each

resources

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a57ffc39-d1a4-77f7-d78a-415db2deeae7
* Version Independent ID: 7ec4a1b0-6545-97e5-449c-f5e72df0242e
* Content: [Tutorial - High availability for

[2019-03-04 02:36] DixitArora-MSFT commented on #25859
@melvincanafranca Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue

[2019-03-04 02:36] #25859 closed

[2019-03-04 02:42] codematrix commented on #26119
Here's the link https://docs.microsoft.com/en-us/azure/service-fabric-mesh/service-fabric-mesh-howto-setup-developer-environment-sdk

Under the heading Install Docker you will see the following:

"During installation, select Use Windows containers instead of Linux containers when asked."

[2019-03-04 02:55] saraao opened #26132 "Name changed"
The Configuring the Reply URLs of https://docs.microsoft.com/en-us/azure/blockchain/workbench/deploy is quiet different from the page layout of the portal. “Settings” is no longer able to find, “Reply URLs” can be find in “Manage”&gt;“Authentication”&gt;“Redirect URIs” instead of “Settings &gt; Reply URLs” and the name has been change to “Redirect URIs” now.

---
#### Document Details

⚠ *Do not e

[2019-03-04 02:59] DacuTv commented on #23320
Have the same UpdateAttemptedWithStaleTimeStamp using a Pshell script that has worked in the past to set circuit auth. Should every single customer raise an individual support ticket for this defect?

[2019-03-04 03:05] SQLDataSide commented on #25848
Hi Sergaz
I know that i am asking toooooo much, can someone help somehow
I am so sorry for asking but i just want to get the FUNCTION issue out of the way.
Thanks
Nik

[2019-03-04 03:15] imeya commented on #25912
@PramodValavala-MSFT , not only this.
In my function, I used ILogger to log other messages, like `log.LogTrace("this is a trace info from ilogger !!!");`, I want to see this information there.

[2019-03-04 03:17] saraao opened #26137 "The above problems occur in App registrations (Preview)"
The above two problems just occur in App registrations (Preview)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3eb2e7c5-e153-4067-ae8c-45eb64add7da
* Version Independent ID: 3c87633d-44b7-525d-0e29-75f2d4bcbf2b
* Content: [Deploy Azure Blockchain Workbench](https://docs.microsoft.com/en-us/azure/blockchain/workbench/d

[2019-03-04 03:27] kazshi commented on #25907
@SumanthMarigowda-MSFT Thank you for the clarification. Closing.

[2019-03-04 03:27] #25907 closed

[2019-03-04 03:45] Alex-Kach opened #26143 "No access to work email box unless through the dead cell phone."
I am trying to do my job from home but the mail box doesn't work with no way to access it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8ac7d3d-bae3-53d3-9dd0-f2696d90a979
* Version Independent ID: 778a0db8-de4d-e292-ad07-90db68eddff5
* Content: [Reset password overview - Azure Active Directory](https://docs.microso

[2019-03-04 04:04] KeiroKamioka0000 opened #26144 "Regarding SQL Database Support of Availability Zones"
https://azure.microsoft.com/is-is/blog/azure-sql-database-now-offers-zone-redundant-premium-databases-and-elastic-pools/

I assuming that the, Availability Zones of SQL Databases is only supported for premium tiers.
or does the Standard Tiers SQL Database will support the Availability Zones?

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-03-04 04:07] KetanChawda-MSFT commented on #25981
@JorgeCupiV Thanks for the confirmation and Glad that it helped you to resolve the issue you were facing.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-04 04:07] #25981 closed

[2019-03-04 04:21] KetanChawda-MSFT commented on #26030
@blueelvis The answer to the question would really depend on the type of workloads you are handling with your functions.

In the Consumption plan, the scale controller automatically scales CPU and memory resources by adding additional instances of the Functions host, based on the number of events that its functions are triggered on.

Each instance of the Functions host is limited to 1.5 GB of memo

[2019-03-04 04:30] ChiragMishra-MSFT commented on #26144
@cynthn Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-03-04 04:44] arpitvw opened #26146 "can we add our own model in automl ."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-03-04 04:46] AshokPeddakotla-MSFT commented on #26130
@saraao Thanks for the feedback and reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-04 04:47] arpitvw commented on #26146
as we have time series forecasting and currently automl is not supporting ARIMA , BATS, ETS (statistical models )
or can we add those while submitting job for automl run

[2019-03-04 04:49] RohitMungi-MSFT commented on #25997
@infovivek I hope you got a chance to review the speech service and its SDK to check all the supported languages. All new languages that will be supported will be updated in the above links for your reference.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will

[2019-03-04 04:49] AshokPeddakotla-MSFT commented on #26132
@saraao Thanks for the feedback and reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-04 04:49] #25997 closed

[2019-03-04 04:51] hastikpatel commented on #25905
hello Ajay kumar,

i posted Query on IIS form Already they told me window is not compatible
for python Django web Application i have to use linux machine for that.
here the link

https://forums.iis.net/post/2145762.aspx

On Sun, Mar 3, 2019 at 12:47 AM AjayKumar-MSFT <notifications@github.com>
wrote:

--
Thanks
Hastik Patel
Contact number: +91-9699531182
Email Id: hastikpatel786@gmail.com
LinkedIn

[2019-03-04 04:53] kazshi commented on #25728
@mamccrea Yes. I know currently most of Azure Databricks document is not structured for localization but  I would expect to see localized content from item(s) on the portal.

[2019-03-04 04:57] neeleshray commented on #26143
@Alex-Kach
Are you trying to access your Office 365 Outlook Mailbox ?
Are you getting any error messages ? Could you elaborate more on this ?

[2019-03-04 04:59] neeleshray commented on #25685
We are closing this thread. Let us know if you need further information.

[2019-03-04 04:59] #25685 closed

[2019-03-04 04:59] neeleshray commented on #25630
We are closing this thread. Let us know if you need further information.

[2019-03-04 04:59] #25630 closed

[2019-03-04 04:59] AshokPeddakotla-MSFT commented on #26137
@saraao Thanks for the feedback! We are looking into your other issues [the page layout of the portal seems to be already different from the document](https://github.com/MicrosoftDocs/azure-docs/issues/26130) and [Name changed](https://github.com/MicrosoftDocs/azure-docs/issues/26132) and will be addressed as earliest.

We will now close this issue. If there are further questions regarding this ma

[2019-03-04 04:59] #26137 closed

[2019-03-04 05:01] sujayvsarma opened #26147 "Azure AD Graph Explorer is broken"
After opening the link (https://graphexplorer.azurewebsites.net/), I login using an MSA (a @live.in ID). It fails with the error:
*********
AADSTS50020: User account 'xxxxx@live.in' from identity provider 'live.com' does not exist in tenant 'graphExplorerMT' and cannot access the application 'd3ce4cf8-6810-442d-b42e-375e14710095' in that tenant. The account needs to be added as an external user in

[2019-03-04 05:05] sujayvsarma opened #26148 "MS Graph API does not help when you need to access Azure resources"
All documentation insist that you use the MS Graph API instead of the Azure AD Graph API. However, the tokens retrieved via MS Graph API do not seem to work with Azure REST API (eg: to list Azure Subscriptions, read Azure resources, etc). Calls return empty data as if there are no such resources on Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-03-04 05:05] minuz commented on #26000
@MikkeHegn I copied the snippet provided on this documentation - which is wrapped into `<ConfigOverrides>` and still does not accept that.

[2019-03-04 05:08] neeleshray commented on #24781
@curtand
We have assigned the mentioned issues to @ajayanti1

[2019-03-04 05:11] Raviafkumar commented on #26073
Hi ,
I have fallowed the instruction written in below page under header "Write data to Azure SQL Database or SQL Server"
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-spark-connector

[2019-03-04 05:16] neeleshray commented on #26147
@sujayvsarma
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-04 05:20] minuz commented on #26000
omg...so silly of me not testing in different positions!
It only accepts the `<ConfigOverrides>` after the `<ServiceManifestRef>`

[2019-03-04 05:21] SubhashVasarapu-MSFT commented on #26005
@sharad4u could you please provide your insights on this issue? Thanks in advance.

[2019-03-04 05:26] RohitMungi-MSFT commented on #26033
@diberry Thanks for getting this fixed quickly. I believe the phrase list feature is supported for all languages in luis, Could you please confirm if this is correct?

Does the "phrase suggestions" column in the [supported languages](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-language-support) page refer to [active learning](https://docs.microsoft.com/en-us/azure/cognitive

[2019-03-04 05:33] SumanthMarigowda-MSFT commented on #25873
@PatLaPoint We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-04 05:33] #25873 closed

[2019-03-04 05:48] blueelvis opened #26149 "Best effort basis?"
When you mention that the Event Grid does it on a best effort basis, it only means about the timeline of retries and not about the actual retries (as in these retries do happen), right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92671e7c-03e5-591d-7fe2-7c565220242a
* Version Independent ID: 99bdee93-1a4d-d10c-8d90-

[2019-03-04 05:49] SumanthMarigowda-MSFT commented on #25916
@imeya We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-04 05:49] #25916 closed

[2019-03-04 05:52] shashishailaj commented on #25782
@ycedillos We will now close this issue. In case you have any further query feel free to tag me to your reply.

Thank you.

[2019-03-04 05:52] #25782 closed

[2019-03-04 05:54] vinothrao opened #26150 "Link to the text "Register and install binding extensions" is not correct in "Changes in triggers and bindings" heading."
I think it should re-direct to"https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-register" instead of "https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-expressions-patterns"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1df5e2bd-489d-19b2-87d3-d993ebb82021
* Version Ind

[2019-03-04 05:56] shashishailaj commented on #25959
@chaddaignault We will now close this issue. Please tag me to your reply in case you have any further query . In case its something unrelated to this thread , please open a new issue and we will help you with the same.

[2019-03-04 05:56] #25959 closed

[2019-03-04 06:03] shashishailaj commented on #26148
@sujayvsarma Thank you for your query . We will investigate and update the thread.

[2019-03-04 06:11] fkeller-datameer commented on #25156
Hi Jason,

no, not until now, still waiting for help and clarification on this.
Email Signature GmbH

--------
*Frank Keller*
IT Operations Manager
www.datameer.com

Phone: +49 345 27 95 0323

Datameer GmbH
Magdeburger Str. 23, 06112 Halle (Saale), Germany
Amtsgericht Stendal, HRB: 10348, Geschäftsführer: Frank Henze

Am 26.02.2019 um 18:17 schrieb Jason H:

[2019-03-04 06:14] SumanthMarigowda-MSFT commented on #25936
@YouGamers Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-03-04 06:14] #25936 closed

[2019-03-04 06:18] rkalivarapu opened #26151 "Maximum limit for logical partitions"
Is there any limit for number of logical partitions in a azure cosmos db collection?

If we pick one partition key it will easily cross 10 GB, only other partition key that we can think of creates at least 35K partitions. Is this supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9da32a62-a60f-1013-bb2f-688c67a4

[2019-03-04 06:21] ChiragMishra-MSFT commented on #25828
@juchom As mentioned in the section - [Set up an azure pipeline release](https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment#set-up-an-azure-pipelines-release) in points (e) and (f), you can add parameters to the file ARMTemplateParametersForFactory.json and also override template parameters by going to "Override template parameters" as mentioned in step (f).

Hop

[2019-03-04 06:22] angoyal-msft commented on #26144
@KeiroKamioka0000 Yes your understanding is correct, As of now Availability Zone is supported in Premium tier only.

Please refer this [doc ](https://docs.microsoft.com/en-us/azure/availability-zones/az-overview#services-that-support-availability-zones)for reference.

Please let us know if you need more information.

[2019-03-04 06:25] KeiroKamioka0000 commented on #26144
Thanks, in the document....

As example, [Service Bus (Premium Tier Only)] it mention Premium Tier Only.
However nothing mentioned for the SQL Database, since if only supported by Premium Tier only.

This document should mention about this.
So it should show SQL Database (Premium Tier Only) instead of just say SQL Database.

[2019-03-04 06:26] RohitMungi-MSFT commented on #26146
@arpitvw Could you please let us know which documentation link of azure ML you are referring to? It would be great if you can copy paste the link so that we can address the specific issue.

Here are the [list of models](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-configure-auto-train#select-your-experiment-type) in Azure Machine Learning that you can try when training.

[2019-03-04 06:37] satr commented on #25919
Thank you.

[2019-03-04 06:37] #25919 closed

[2019-03-04 06:38] ChiragMishra-MSFT commented on #25879
@ndondapati Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azuredatacatalog) or [stack overflow](https://stackoverflow.com/questions/tagged/azure-data-catalog).

Once you post your issue on forums, it will have visibility across the community which is a better suited audi

[2019-03-04 06:38] #25879 closed

[2019-03-04 06:42] ChiragMishra-MSFT commented on #26009
@ImrePyhvel We are assigning the issue to the content owner to take a look and update the doc as appropriate.

@linda33wj Can you please have a look at this one ?

[2019-03-04 06:51] ChiragMishra-MSFT commented on #26032
@Roblarson To read about HA and DR scenario handling in event hubs, please refer the section - [Geo-disaster recovery and Geo-replication](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-geo-dr) in the docs.

Hope this helps.

[2019-03-04 06:55] angoyal-msft commented on #26144
@KeiroKamioka0000 Thanks for your suggestion. I believe there is some misunderstanding in reading this document. In the document they have mentioned the Services that support Availability Zones, and Service bus which Availability Zones supports is Premium Tier Only. So AZs are supported with Premium Tier only for all the services mentioned. I believe there is no need to mention the tier explicitly

[2019-03-04 07:00] msrini-MSIT commented on #26002
@AlexanderTodorovic , the changes has been made. I am closing this issue now.

[2019-03-04 07:00] #26002 closed

[2019-03-04 07:11] msrini-MSIT commented on #26131
@rogerquake , Thank you for your effort in correcting the doc. I can make the change right away.

[2019-03-04 07:18] ManojReddy-MSFT commented on #26045
@1trevor It's not possible to create a deny assignment even if you leverage the support. Our product team is working on enhancing this feature , so that customers can configure their own deny assignments.

A similar feature request is available [here ](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/10855878-deny-access-control-in-the-rbac)and you can vote for this feat

[2019-03-04 07:20] SnehaAgrawal-MSFT commented on #26027
@PouyaPanahy just checking if you have checked the previous response. Please let us know for any further assistance.

[2019-03-04 07:20] neeleshray commented on #26147
@sujayvsarma
From the Error Message looks like that user is not a part of the tenant. However, it should work when you are dealing with Multi-Tenant Applications.
Suggest you to add that user to the specific tenant and also re-check if the application is Multi-Tenant or not and let us know.

[2019-03-04 07:23] neeleshray commented on #26077
@priyamohanram
Could you please confirm if the VM Extension Endpoint for the System and User Assigned Managed Identities has been deprecated as mentioned in the document or the time-line has been changed ?

[2019-03-04 07:24] PramodValavala-MSFT commented on #25912
@imeya Ohh... Seems like I missed that before.

I believe the default [log level](https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring#log-levels) is `Information`, that is why you do not see any `debug` or `trace` logs.

To enable them too, you would have to set your `host.json` file to something like this
[code]
Refer the [`Configure categories and log levels`](https://doc

[2019-03-04 07:24] ManojReddy-MSFT commented on #25978
@ajayanti1 Thanks for the update.

@danieljdemarco I am closing the issue for now. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-03-04 07:24] #25978 closed

[2019-03-04 07:25] KetanChawda-MSFT commented on #25898
@haoxin I verified that the steps mentioned in the [referred document](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-phone-verification#visual-studio-sample-code) are correct. I tried the exact steps and it worked fine for me.

Below is sample working code for your reference:

[code]
configuration in local.settings.json file

[code]
Screenshot of dependencies:
![

[2019-03-04 07:25] ManojReddy-MSFT commented on #25880
@mgogulapati I am checking in to see if the above answer was helpful. Let me know if you have any other questions.

[2019-03-04 07:29] ManojReddy-MSFT commented on #25984
@DanJ210 I am checking in to see if the above answer was helpful. Let me know if you have any other questions.

[2019-03-04 07:29] #26131 closed

[2019-03-04 07:31] imeya commented on #25912
@PramodValavala-MSFT , thank you very much. And I will give it a try 👍

[2019-03-04 07:32] ScottHolden commented on #20348
It looks as if the required components are exposed via the ARM RP's. I've written up a quick 'proof of concept' template with a WebApp, Storage account, & Vnet:
https://github.com/ScottHolden/ARMExamples/blob/master/AppService-VnetNew-Storage/deploy.json

Big components are making sure that your subnet is delegated to the Microsoft.Web/serverFarms provider, then it's just a matter of setting the s

[2019-03-04 07:44] DixitArora-MSFT commented on #26149
@blueelvis Thanks for reaching out. We will review and update as appropriate.

[2019-03-04 07:44] hastikpatel commented on #25905
Hello Ajay Kumar,

I Also try all the step you mention above in the mail and performing all
step in document link given by you. i am getting different error and Error
is mentioned below. can you help me with this?

Error occurred while reading WSGI handler:

Traceback (most recent call last):
  File "C:\Python34\lib\site-packages\wfastcgi.py", line 791, in main
    env, handler = read_wsgi_handler

[2019-03-04 07:45] KetanChawda-MSFT commented on #26150
@vinothrao Thank you for providing your feedback. We will review this and provide an update as appropriate.

[2019-03-04 07:45] SychevIgor commented on #8865
@DavidBerg-MSFT based on this issue- we can make an assumption, that windows is not first class citizen in Azure anymore.
Article about Linux contains 10times more info. Agree, SPECInt is a synthetic test, but it's more about - is Windows is still important or not.

[2019-03-04 07:45] jakaruna-MSFT commented on #25950
@KalleHallivuoriFuturice
I configured the VM to use the managed identities using this [link](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/qs-configure-portal-windows-vm).
Then added a contributor role to that VM using this [link](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/tutorial-linux-vm-access-arm).
Th

[2019-03-04 07:49] PramodValavala-MSFT commented on #26019
@gldraphael Its actually referring the **Logic App Designer** or in other words, the **Azure Portal** itself. 😄

So, the host that one has to add is `portal.azure.com` or better `*.portal.azure.com`.

[2019-03-04 07:57] paulbouwer commented on #25852
@ams0 I do have a concern about the installation instructions that we currently have falling behind the latest version. It is not an easy problem to solve when you look at it from multiple viewpoints. Even with the bash script installation method, you still need to document changing into a versioned folder.  And even then, do the scenarios we have built out in the docs still work with a different

[2019-03-04 07:59] jelmerS2 commented on #25829
Hi, thanks for checking up. Haven't had time to look further into this unfrotunately.

[2019-03-04 08:05] choco-oppah opened #26161 "DNS records for additional regions"
New regions have been added since the feature was initially released. Please update the list of DNS records to include. Particularly Southeast Asia and Korea Central. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3092ee3a-3c57-cc53-186b-b454e7d9d190
* Version Independent ID: 6f6b5a07-397a-98a2-6091-941244a7783

[2019-03-04 08:05] kazshi commented on #24333
@angoyal-msft  @srdan-bozovic-msft @CarlRabeler Looks like the content including the line (0.0.0.0/0) has been updated ([sql db] 0.0.0.0 #74). I'll let my customer know about the update (no need to care about  0.0.0.0/0) since I've been making the customer waiting for over 2 weeks. Please let me know if it's OK, then I'll close this.  Thanks.

[2019-03-04 08:06] choco-oppah commented on #26161
Sorry. Just noticed that Southeast Asia is there already.

[2019-03-04 08:15] paulbouwer commented on #25130
@pnkjtr - thanks for reporting this. Looks like there was a change in the Helm chart that has caused this.

@MicahMcKittrick-MSFT @jakaruna-MSFT @iainfoulds
I will have a look into this and update the doc.

[2019-03-04 08:20] jjindrich commented on #24221
Why it is working with older Ubuntu images ?

[2019-03-04 08:21] jelmerS2 commented on #26029
Yes, so I create a new cloud session and subscribe to the events like so:
`cloudSession = new CloudSpatialAnchorSession();
            cloudSession.Configuration.AccountId = SpatialAnchorsAccountId.Trim();
            cloudSession.Configuration.AccountKey = SpatialAnchorsAccountKey.Trim();
            cloudSession.LogLevel = SessionLogLevel.Information;
            cloudSession.OnLogDebug += Cloud

[2019-03-04 08:45] DavidBerg-MSFT commented on #8865
Windows is first class!  SPECInt is longer and more complex to run than CoreMark, so full SpecInt runs have been a lower priority (they just happen to be what we use for Windows, sorry).  Underlying CPU performance isn't OS specific, so the Linux CoreMark numbers provide a general guide for VM performance (regardless of OS).  As always, it's best to test your specific workload as the mix of work c

[2019-03-04 08:56] SadiqhAhmed-MSFT commented on #25884
@mathieu-benoit FYI updating the answers for the benefit others on this community.

#1. Any resources deployed by ARM will be tracked as long as GUID tracking is enabled in one of the 3 deployment options as specified in the [doc](https://docs.microsoft.com/en-us/azure/marketplace/azure-partner-customer-usage-attribution#verify-the-guid-deployment) (ARM template, ARM APIs or Terraform). For auto s

[2019-03-04 09:08] ld0614 commented on #25621
Just so that your aware #25261 is an unrelated licensing documentation issue, believe you needed to tag the issue #25621

[2019-03-04 09:10] LMtx commented on #25960
I was able to pull above image. When I try to build project in VS a get following error:

[code]

After adding proxy (172.19.0.2:8883) in Docker for Windows I got following error on build:

[code]

When I changed proxy to 0.0.0.0:8883 I got:

[code]

I do not understand why pull from powershell is working but it fail in VS :(

[2019-03-04 09:12] KetanChawda-MSFT commented on #26034
@scotthannen Yes, your understanding is correct if HttpTrigger function Authorization level is set to `Function` than you need to pass function authorization key in a query parameter as `?code=<functionKey>` with the function URL but  if Authorization level is set to `Anonymous` than key is not required.

The details are explained [here in this document](https://docs.microsoft.com/en-us/azure/azur

[2019-03-04 09:15] holgerbrandl opened #26171 "Also provide CLI code to run tutorial"
It would be great if the tutorial https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-live-data-visualization-in-power-bi would also provide cli code to create the consumer group, setup the stream analytics jobs and so on.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97ce2614-0e74-0f67-bf3f-8a477bd5f329
* Version

[2019-03-04 09:18] jjindrich commented on #24221
@vhorne please could you share link to doc where you documented ?

[2019-03-04 09:19] nellstephanj opened #26172 ""Input - Java example" code incorrect"
In the ```@HttpTrigger``` the ```methods = {"get"}``` section is incorrect and produces the following error: ```java.lang.String cannot be converted to com.microsoft.azure.functions.HttpMethod.```

It should be ```methods = {HttpMethod.GET}```

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d35c032-eae7-ac4b-2ad3-32fd0

[2019-03-04 09:22] jakaruna-MSFT commented on #26124
@g0pinath
The most common cause for this error is that Contributor access is missing for the service principal used to create the cluster. Please have a look at this [comment](https://github.com/Azure/AKS/issues/326#issuecomment-406810974).

Are you having this error for only this service or other services also?
are you trying to create a ip first and then assign it to the service?
Whats the versi

[2019-03-04 09:31] ManojReddy-MSFT commented on #26043
@illgitthat Thanks for reporting this. I have updated the doc accordingly and it will be published shortly.

[2019-03-04 09:35] #26043 closed

[2019-03-04 09:38] garg-ankur commented on #13804
Hi, Is this still an issue? I can get Basic Authentication to work but NTLM/Negotiate does not work for me.

[2019-03-04 09:39] MaxMelcher opened #26173 "Mapping to root domain does not work"
Hi,

I tried both direct and indirect mapping of my custom domain (the root domain) to azure storage - and that seeems not to work.
Does it work? If not, please add it to the article.

Thanks,
Max

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78396448-24ca-f8ee-c53e-0ed5cef029d1
* Version Independent ID: eb7557bb-546b

[2019-03-04 09:42] rasmus-s commented on #20485
Please update the documentations with the command to run in PowerShell to start the manual rolling OS upgrade.

[2019-03-04 09:44] wilsonchua20 commented on #23489
Are there updates on this?

[2019-03-04 09:44] angoyal-msft commented on #24239
@ColeShepherdAG Thanks for your useful suggestion.
@anosov1960 could you please add the required information in the document.

[2019-03-04 09:47] ajaybha commented on #23842
[GetAvailableAndFreshSpaces_consoleout.txt](https://github.com/MicrosoftDocs/azure-docs/files/2925737/GetAvailableAndFreshSpaces_consoleout.txt)
[ProvisionSample_consoleout.txt](https://github.com/MicrosoftDocs/azure-docs/files/2925739/ProvisionSample_consoleout.txt)
[deviceconnectivity_consoleout.txt](https://github.com/MicrosoftDocs/azure-docs/files/2925740/deviceconnectivity_consoleout.txt)

I

[2019-03-04 09:47] sujayvsarma commented on #26147
@neeleshray I do not own "https://graphexplorer.azurewebsites.net/".

That is a **Microsoft** App. It is in the link in the first bullet point under "Next Steps" of that document -- see right at the bottom!

[2019-03-04 09:48] dominicbetts commented on #25179
Hi @ampac28 - I'm going to request that this issue is closed. Please reopen it if you have any follow up questions related to the documentation. Thanks!
#please-close

[2019-03-04 09:52] ChiragMishra-MSFT commented on #26054
@KatiaArroyo1 I am assigning the issue to the content owner to provide more insights into your concern.

@linda33wj Can you please have a look at this one ?

[2019-03-04 09:53] KetanChawda-MSFT commented on #26150
@vinothrao The referenced PR will update the correct link to the text "Register and install binding extensions" in the document. Thank you for providing your valuable feedback.

[2019-03-04 09:54] dominicbetts commented on #25854
Hi @wickste - new versions of the articles are now live with new instructions for generating connection strings.
#please-close

[2019-03-04 09:56] dominicbetts commented on #25363
@wesselah - we've just published some updated versions of some articles, including this one. The instructions for generating the connection string have been updated. Thanks for getting in touch.
#please-close

[2019-03-04 10:03] ChiragMishra-MSFT commented on #26120
@binoyjt Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-03-04 10:05] KetanChawda-MSFT commented on #26150
@vinothrao We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-04 10:05] #26150 closed

[2019-03-04 10:09] angoyal-msft commented on #26151
@rkalivarapu Thanks for your feedback.

Currently, we have this 10K RU/10GB ratio, this might change in future. Partitions are an internal concept and are transient. Cosmos DB will automatically scale partitions beyond 100 GB at some point as your storage grows without any action from you. The assumption of how many partitions are allocated at a certain throughput is not quite correct. This is not

[2019-03-04 10:12] vainolo commented on #18494
We have no guidance on which storage account type you must use. The list shows which ones are supported. The decision is yours to make based on existing resources, other uses for the storage account, and cost.

[2019-03-04 10:13] angoyal-msft commented on #26116
@SogoGolf Thanks for your feedback. I have assigned this issue to the content author to help you further on this issue.
@SnehaGunda Could you please look at this document enhancement.

[2019-03-04 10:16] angoyal-msft commented on #26117
@SogoGolf Could you please confirm the document you are referring to. I believe you are referring to below document:
https://docs.microsoft.com/en-us/azure/cosmos-db/working-with-dates

[2019-03-04 10:25] PramodValavala-MSFT commented on #25742
@ystrte On second thought, I believe the problem was that such characters were not URI encoded. The sample is correct in a way since the following comment does mention this -
[code]

I believe you should be able to use `Uri.EscapeDataString()` in the expression if the secret is not URI encoded before setting it in a property.

Since there is no doc update required at the moment, we will now procee

[2019-03-04 10:25] #25742 closed

[2019-03-04 10:26] dominicbetts commented on #20193
Hi @ewconnell - We've recently refreshed the IoT Central UI and updated the docs to bring everything back in to sync. Thanks for getting in touch.
#please-close

[2019-03-04 10:31] Klaas- commented on #13195
isn't ARM the suggested way of deploying resources to Azure?

[2019-03-04 10:32] AshokPeddakotla-MSFT commented on #25363
@dominicbetts Thank you!

@wesselah We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-04 10:32] #25363 closed

[2019-03-04 10:44] rasmus-s commented on #20485
I found the command here: https://docs.microsoft.com/en-us/powershell/module/azurerm.compute/start-azurermvmssrollingosupgrade?view=azurermps-6.13.0

[2019-03-04 10:45] taranais commented on #25918
Yeah I mean in metadata

[2019-03-04 11:00] SumanthMarigowda-MSFT commented on #26015
@vorugantivishwanath While provision VM you have the option to chose to select the “Account kind”, based on your requirement you could either chose storage account (GP v1 r GP v2). So, as mentioned in the document General-purpose v1 accounts are Legacy account type for blobs, files, queues, and tables. Use general-purpose v2 accounts instead for provisioning the VM.
![capture1](https://user-images

[2019-03-04 11:04] JhaNishant opened #26176 "Errors Everywhere, the code doesn't work."
In file included from C:\Users\bpnis\Documents\Arduino\libraries\AzureIoTUtility\src/azure_c_shared_utility/lock.h:17:0,

                 from C:\Users\bpnis\Documents\Arduino\libraries\AzureIoTUtility\src/AzureIoTUtility.h:7,

                 from C:\Users\bpnis\Documents\Arduino\libraries\AzureIoTHub\src/AzureIoTHub.h:7,

                 from C:\Users\bpnis\Desktop\iot-hub-feather-huzzah-clie

[2019-03-04 11:06] KrishnaG-MSFT commented on #26120
Adding @georgewallace for visibility and document enhancement considerations.

[2019-03-04 11:23] omshiv2415 opened #26177 "Not able to view check box for enable Audit Log"
Hi
I am not able to view enable audit log check box in Diagnostics Log Settings (Azure Data Lake Storage). I want to send log to log analytics. can you please make it visible?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96cdd2e8-0dd2-0ce4-8230-24743e400413
* Version Independent ID: 39143a1b-7512-9ce0-3060-f78

[2019-03-04 11:25] neeleshray commented on #26080
@cboghy
In the Tenant, the only two User Types are "Member" and "Guest". A Consumer Account can only be created with the Sign-In/Sign-Up Flows and whenever this flow is used, the user is always tagged as a "Member" of the tenant. As per the [document](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-devquickstarts-graph-dotnet#create-consumer-user-accounts), refer t

[2019-03-04 11:44] rayne-wiselman commented on #25726
@SadiqhAhmed-MSFT Please assign to correct article owner

[2019-03-04 11:45] rayne-wiselman commented on #25724
This is fixed.

#please-close

[2019-03-04 11:47] ChiragMishra-MSFT commented on #26090
@karl-howard I am assigning the issue to the author to have a look at the issue.

@JSeb225 Can you please have a look at this one ?

[2019-03-04 11:48] SumanthMarigowda-MSFT commented on #26173
@MaxMelcher Thanks for your question. We are checking on this and will respond to you soon.

[2019-03-04 11:51] NeilBird opened #26178 "Consider adding how to "enablePurgeProtection" using PowerShell to this page"
enablePurgeProtection is another common requirement, in addition to enableSoftDelete:

($resource = Get-AzResource -ResourceId (Get-AzKeyVault -VaultName "ContosoVault").ResourceId).Properties | Add-Member -MemberType "NoteProperty" -Name "enablePurgeProtection" -Value "true"

Set-AzResource -resourceid $resource.ResourceId -Properties $resource.Properties

---
#### Document Details

⚠ *Do not edi

[2019-03-04 11:53] mariojacobo opened #26179 "Error enabling Microsoft.NetApp/volumes on subnet with AKS cluster"
IF the subnet in question has an AKS cluster deployed, enabling Microsoft.NetApp/volumes will throw the following error:

Failed to save subnet 'aks'. Error: 'Delegations of subnet netapp-poc-aks/providers/Microsoft.Network/virtualNetworks/netapp-poc/subnets/aks'&gt;netapp-poc/aks cannot be changed from [] to [Microsoft.Netapp/volumes] because it is being used by the resource /subscriptions/REDACT

[2019-03-04 11:56] ChiragMishra-MSFT commented on #26179
@mariojacobo Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-03-04 11:59] charithsoori commented on #24692
Any updates on this ?

[2019-03-04 12:02] stofte opened #26180 "The source code clarifies which errors were considered transient and worthy of retry, as of April 2013."
Its great to know Azure has such stability in its error codes and infrastructures that the list is still relevant 5 years later.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a12b92b1-d5aa-5214-5f53-ef30a82dc8b1
* Version Independent ID: 3bd8058c-7c35-ef4a-e82c-2e21dd6a0384
* Content: [Working with transient errors -

[2019-03-04 12:02] andyismilesaway opened #26181 "Image does not display well at all in Azure Docs 'Dark mode'"
Hi, I've had a customer flag that the image at the top of the page (load balance visio type picture) does not diaplay well at all in Dark Mode

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 029a0976-dcb7-84ea-121d-429749985a1a
* Version Independent ID: 32548736-6520-af69-7fcb-f75c6f2044ae
* Content: [Outbound rules in

[2019-03-04 12:03] crk2904 opened #26182 "What permission need to be set in App settings , in order to achieve user impersonation using graph api. Also need to have access to personal OneDrive resources."
Hi,

We are developing application using graph api, to access OneDrive normal resources, also wanted to have support for UserImpersonation to read normal use's drive data. Kindly help us to set proper permission in order to achieve the same

[2019-03-04 12:05] RohitMungi-MSFT commented on #26008
@tulasim88 Thanks for your clarification.
@kazshi We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-04 12:05] #26008 closed

[2019-03-04 12:25] SadiqhAhmed-MSFT commented on #25724
@rayne-wiselman Thank you. :)

@dcbrown16 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-04 12:25] #25724 closed

[2019-03-04 12:27] SadiqhAhmed-MSFT commented on #25726
@rayne-wiselman Thanks for the corrections.

[2019-03-04 12:27] SadiqhAhmed-MSFT commented on #25726
@rboucher Please look into this.

[2019-03-04 12:52] LMtx commented on #25960
All of the sudden the same setup worked (without proxy, no additional changes). I guess that this issue is related to Docker on Windows which is not mature solution yet (IMHO). Thank you for your help!

[2019-03-04 12:52] #25960 closed

[2019-03-04 13:06] psallis opened #26183 "New VNet Integration GA Timeframe?"
When is the planned time frame to make the new VNet ingratiation GA and will this form part of the general app plan SLA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a98803-1438-b1b5-f543-7dd88bc4294e
* Version Independent ID: 37ff1d0f-ed8e-5e4d-1f4c-1b9f6cffb938
* Content: [Integrate app with Azure Virtual Network

[2019-03-04 13:10] uwazie opened #26184 "Installation of libraries not successful"
Hello. Please help. After typing dotnet restore in my local content window, I get this error message:

  Restoring packages for C:\Users\EMMA\Documents\Internet of
 Things\IoT and Azure\azure-iot-samples-csharp-master\azure-
iot-samples-csharp-master\iot-hub\Quickstarts\simulated-devi
ce-2\simulated-device-2.csproj...
C:\Users\EMMA\Documents\Internet of Things\IoT and Azure\azu
re-iot-samples-csha

[2019-03-04 13:26] DixitArora-MSFT commented on #26149
@blueelvis  Yes, it discuss about the timeline of retries.

Do let us know if you have any other questions.

[2019-03-04 13:58] mumian commented on #26092
@dlenin - I believe you are running CLI script in Powershell.  Switch to Bash as shown in step 2 of the deployment section.

#please-close

[2019-03-04 14:10] larslynch opened #26185 "Detail if the Data Copy Service provides full fidelity copies like Robocopy"
I assume it does, but it would be good to know if the Data Copy Service provides full fidelity copies identical to Robocopy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b2e7338-130b-084a-0555-f479494ce882
* Version Independent ID: 8fbf066d-fb00-09b0-fc1a-aedb009953d5
* Content: [Tutorial: Copy data to your Microsoft

[2019-03-04 14:13] shashishailaj commented on #26178
@NeilBird Thank you for your feedback . We will have this reviewed and update the thread accordingly.

[2019-03-04 14:15] shashishailaj commented on #26182
@crk2904 Thank you for your query. We will have this reviewed and update this thread accordingly.

[2019-03-04 14:18] shashishailaj commented on #26184
@uwazie Thank you for your query . We will have this thread reviewed and update accordingly.

[2019-03-04 14:35] ajakupov opened #26187 "Resize to 224 instead of 256"
After the latest update the image should be resized to 224 square (instead of 256).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 754dd7d5-dd8b-4a75-5d79-0ba621a847cd
* Version Independent ID: 3cca3535-1c16-2da1-46c6-421cbf808bc3
* Content: [Tutorial: Run TensorFlow model in Python - Custom Vision Service](https://doc

[2019-03-04 14:38] Ziusking commented on #26051
i can't find Endpoints button on my portal, and idk the issuer url. what should i do?

[2019-03-04 14:50] KetanChawda-MSFT commented on #26172
@nellstephanj Thank you for providing your feedback. We will review this and provide an update as appropriate.

[2019-03-04 14:56] donquijotedelamancha opened #26188 "Third-party library example"
Is there an example on using a third-party library, for example a Jar file? The documentation here above is too brief and I haven't been able to reference external Jar files on VS Code - Maven. For example, how to include the reference in the pom.xml file? An example would be appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-03-04 15:12] mariojacobo commented on #26179
Mistake on my part, was enabling NetApp volumes on the same subnet as other resources; didn't know that it needs to be on a separate subnet.

[2019-03-04 15:12] #26179 closed

[2019-03-04 15:26] kumarshai88 commented on #5886
Where i can mention Subscription ID or name in above script?
i want to list unallocated NICs from multiple Subscription where i can mention all subscription name or IDs?

[2019-03-04 15:26] CeciAc opened #26189 "Unused variable"
@ericsj11 commented on [Sun Mar 03 2019](https://github.com/MicrosoftDocs/azure-docs.sv-se/issues/140)

This code:
var displayRecipients = false; // set this to true if you want recipients to see each others mail id
var msg = MailHelper.CreateSingleEmailToMultipleRecipients(from, tos, subject, "", htmlContent, false);

Should change to:
var displayRecipients = false; // set this to true if you wan

[2019-03-04 15:28] Raviafkumar opened #26190 "Unable to load data in azure sql db using spark connector"
I am new to azure databricks . I have written a sample spark program in scala to load in azure sql via below query . I am getting an error . can someone please help me in this
Error Message ----
com.microsoft.sqlserver.jdbc.SQLServerException: The TCP/IP connection to the host b63da5ce2d2d.tr27.northeurope1-a.worker.database.windows.net, port 65535 has failed. Error: "connect timed out. Verify the

[2019-03-04 15:30] msangapu commented on #25616
@Grace-MacJones-MSFT  I appreciate the review.
@blueelvis Thank you for the feedback. Let me look into this and I will get back to you.

[2019-03-04 15:33] dominicbetts commented on #25635
Hi @ericloeliger - thanks for getting in touch. If you deploy the latest version of the Remote Monitoring solution accelerator (version 2.2.0 - click the Settings icon top right to view the version number) you should find that the solution accelerator and docs are back in sync.

[2019-03-04 15:37] CeciAc commented on #26189
Hi team,
I'm moving this here since the contributor made a suggestion on the example
best

[2019-03-04 15:41] 1432boble opened #26191 "Throughput Information for NV Series"
Can you please provide the Throughput information for the NV series... Max cached and temp storage throughput: IOPS / MBps (cache size in GiB),  Max uncached disk throughput: IOPS / MBps and Max NICs / Expected network bandwidth (Mbps)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 472ed16f-83af-9c24-4a47-596e72a59ca7

[2019-03-04 15:41] HeidiSteen commented on #24366
I notice that this issue is still open.  I think I answered the questions, but let me know if more information is required. #please-close

[2019-03-04 15:41] HeidiSteen commented on #22001
#please-close

[2019-03-04 15:42] HeidiSteen commented on #21436
#please-close #please-sign-off

[2019-03-04 15:42] Alberto-Vega-MSFT commented on #26176
@JhaNishant Thanks for the feedback!  At what step of the tutorial did you get all these errors? Just asking since I will go over this tutorial to try to reproduce.

[2019-03-04 15:43] HeidiSteen commented on #5821
#please-close #please-sign-off

[2019-03-04 15:44] HeidiSteen commented on #9335
#please-close #please-sign-off

[2019-03-04 15:44] HeidiSteen commented on #9759
#please-close #please-sign-off

[2019-03-04 15:45] HeidiSteen commented on #10851
#please-close  #please-sign-off  The documentation is updated in multiple places to state the public access level needs to be set on Containers.

[2019-03-04 15:46] HeidiSteen commented on #12471
#please-close #please-sign-off

[2019-03-04 15:47] HeidiSteen commented on #17083
#please-close #please-sign-off

[2019-03-04 15:48] HeidiSteen commented on #18520
#please-sign-off #please-close

[2019-03-04 15:50] CeciAc opened #26192 "Scale set automatic OS image upgrades not considered here"
@DirkRinge commented on [Mon Mar 04 2019](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/262)

This document does not incorporate the VMSS automatic OS image upgrades feature that seems to change the best practices for keeping a cluster up to date on Azure.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Ar

[2019-03-04 15:51] CeciAc commented on #26192
Hi team,
I'm moving this here since the user is making suggestions on the original documentation
best

[2019-03-04 16:03] CHEEKATLAPRADEEP-MSFT commented on #26161
@choco-oppah  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-04 16:03] #26161 closed

[2019-03-04 16:07] CHEEKATLAPRADEEP-MSFT commented on #26171
@holgerbrandl Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2019-03-04 16:10] DanJ210 commented on #25984
@ManojReddy-MSFT I'm guessing that's why. I don't have the ability to check groups within groups but getting over 100 seems like quite of a lot of nesting when I'm only in like 8 or 10 groups. Maybe I'm just not familiar with AD enough to know that's normal.

Perhaps the docs need a note just to alert that it's possible for a user to return 100s of nested groups. After getting so many groups back

[2019-03-04 16:13] CHEEKATLAPRADEEP-MSFT commented on #26177
@omshiv2415 Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-03-04 16:13] erhopf commented on #26110
@Jann-Skotdal - Can you pass this along to the ENG team?

[2019-03-04 16:16] erhopf commented on #23489
@wilsonchua20 - Have you tried again since the first error? Can you provide the complete error response along with your complete updated code.

[2019-03-04 16:18] BryanLa commented on #26178
Thanks for your feedback, @NeilBird
CXP: Please assigned to @msmbaldwin for review.

[2019-03-04 16:27] Karishma-Tiwari-MSFT commented on #20485
@zr-msft Can you please assign this issue to the right person to update the document with the information requested. Thanks. :)
CC: @cynthn

[2019-03-04 16:27] CHEEKATLAPRADEEP-MSFT commented on #25976
@vlad-kozlov We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-04 16:27] #25976 closed

[2019-03-04 16:28] CHEEKATLAPRADEEP-MSFT commented on #25892
@imeya We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-04 16:28] #25892 closed

[2019-03-04 16:35] Karishma-Tiwari-MSFT commented on #26191
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-04 16:35] #22964 closed

[2019-03-04 16:36] sdgilley commented on #22574
#please-close - if this is still an issue please feel free to re-open or contact tech support.  Thanks.

[2019-03-04 16:36] lianger114 opened #26194 "Azure CLI example - az account set --subscription my-subscription-name`"
content typo?

The CLI example for setting subscription has a single quote at the end.  Appear to be missing the begin single quote before 'my'

https://docs.microsoft.com/en-us/azure/cloud-shell/quickstart

az account set --subscription my-subscription-name`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a60d96f9-f869

[2019-03-04 16:38] areddish commented on #26187
Hi @ajakupov

The intermediate resize to 256x256 is still the correct behavior. Depending on your model the logic to determine network_size may crop different sizes from that region but the source still needs to be 256x256 to produce the intended result.

[2019-03-04 16:42] Mike-Ubezzi-MSFT commented on #26180
@stofte Thank you for the feedback. We will investigate, review, and update the documentation with relevant updates.

[2019-03-04 16:42] KetanChawda-MSFT commented on #26188
@donquijotedelamancha Please checkout [this repo](https://github.com/yoshioterada/Azure-Functions-For-Java-Sample) for Java Function reference

[2019-03-04 16:44] JhaNishant commented on #26176
The final stage while compiling the code. I tried this in VSCode as well as Arduino IDE with the same libraries and everything. Both shows the exact same errors. Also, the ArduinoJson is limited to 5.x for this code. I really hope this code gets updated to support ArduinoJson 6.x. Thanks in advance.

[2019-03-04 16:45] Jann-Skotdal commented on #26110
@mlavik1 - Thank you very much for reporting this. This item has been assigned to the service’s engineering backlog and will be addressed. #please-close

[2019-03-04 16:47] AshokPeddakotla-MSFT commented on #25179
@ampac28 We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-04 16:47] #25179 closed

[2019-03-04 16:47] Mike-Ubezzi-MSFT commented on #26117
Document enhancement is for adding a `Working with date ranges` section or adding a `query example` in the following documentation: [Azure Cosmos DB Node.js examples](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-nodejs-samples).

[2019-03-04 16:53] ChiragMishra-MSFT commented on #26194
@lianger114 Thanks for bringing this to our notice. We are investigating into the issue and will update as appropriate.

[2019-03-04 16:57] #21667 closed

[2019-03-04 16:57] AshokPeddakotla-MSFT commented on #21667
@pvirgili We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-04 16:59] ccicchitelli commented on #21125
Hello, what is the current status of this? TIA!

[2019-03-04 16:59] JamesDickson108 opened #26196 "Column names in step 6 appear incorrect"
The Namespace and Source Attribute column names appear to be reversed in the table in step 6. They should be swapped.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65a972cb-fe26-60cb-b12d-1af9ed8e87eb
* Version Independent ID: ff97a29f-0767-1062-ad5d-b237ecd4b668
* Content: [Tutorial: Azure Active Directory integratio

[2019-03-04 17:13] roygara commented on #26055
@amchargue thanks for bringing this to our attention, I just investigated with a clean environment:

The only issue I found was that the pom.xml had an out of date version number for the , with the version 10.1.0 it did encounter the Get error you were receiving, when I changed it to version 10.5.0 (latest) the sample worked fine without any other alterations.

Didn't need to upgrade netty, so can

[2019-03-04 17:16] diberry commented on #25037
@AndyCW This is on backlog - the imagery and wording of authoring cycle is under discussion and will take time to adjust appropriately. #please-close

[2019-03-04 17:17] saifulcce commented on #22133
What is the encryption method if I will not provide BYOK from a Key Vault?
All discs are encrypted with the MS-Key anyway Or Bitlocker/Dm Crypt ?
OS disk is automatically encrypted for Windows and Linux?

[2019-03-04 17:17] pfgindy commented on #7021
Why doesn't MS just shut down Speaker Recognition? No help, no documentation. For 2 years I have tried to get something to work. I think the best bet is to use an Amazon speech service for recognition. Azure does not have a working API. Does anyone know of an AWS example?

[2019-03-04 17:22] markoriver commented on #25891
Hello,

the end application is actually angular app, being run by webservice (done in MVC), and webservice is published as app in Service Fabric. There is separate app in Service Fabric that handles all requests and forwards them further to apps. In this app there is nginx.conf where redirection is handled. So technically HTTP request would be caught by nginx and redirected to correct URL. This us

[2019-03-04 17:23] #20193 closed

[2019-03-04 17:23] #25854 closed

[2019-03-04 17:24] ToddChitt opened #26197 "SQL vs SOQL, How do I choose? CAN I even choose?"
How do I force it to use one language set over the other. The article does not explain how to make the selection.

If I CANNOT make a choice, how do I know WHICH will be chosen (BEFORE run-time)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df56c0c4-ac20-76e5-3f99-7e5ed9c2d726
* Version Independent ID: 8b224227-1cf7-

[2019-03-04 17:24] stalks opened #26198 "March 2019 removal of Phone MFA method for free accounts"
Will this effect Office 365 users that have taken advantage of free MFA? What will happen to users that already have a phone method configured?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: feb03e63-f543-d85b-9daf-16b4d1e13a60
* Version Independent ID: da9dcdd2-70d4-e08e-18f2-6e6a1489937a
* Content: [Azure MFA version

[2019-03-04 17:24] joeljanke opened #26199 "UserAccountAdministrator or UserAdministrator"
Is User Account Administrator and User Administrator the same thing?   Between the documentation and the names of roles in Azure AD and in Azure PIM it seems inconsistent.   If these roles are really the same thing they should be named the same thing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c

[2019-03-04 17:27] YutongTie-MSFT commented on #26053
@Youssefreda1
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-03-04 17:27] #26053 closed

[2019-03-04 17:31] Jaykul commented on #23332
I was assuming it _automatically_ rotates the KeyEncryptionKey and tracks the versions, and the only question is how often it does that -- is that not the case?

[2019-03-04 17:34] MicahMcKittrick-MSFT commented on #26192
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-04 17:43] SamirFarhat opened #26200 "Is there any section for Powershell"
Hi,

I don't see any section related to Powershell, isn't it supported ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9aeeedc1-d567-f4b1-9913-14f401df8884
* Version Independent ID: 324a8bd9-cec9-3be0-b1fb-01e9a0f95710
* Content: [Create, view and manage Metric Alerts Using Azure Monitor](https://docs.microsoft.com/en

[2019-03-04 17:44] MicahMcKittrick-MSFT commented on #26119
@codematrix SF Mesh support Linux as well

https://docs.microsoft.com/en-us/azure/service-fabric-mesh/service-fabric-mesh-faq#supported-container-os-images

Are you seeing issues with deploying local instances running Linux? Or was the doc just confusing?

[2019-03-04 17:49] MicahMcKittrick-MSFT commented on #26192
@DirkRinge we cover that information here:

https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-automatic-upgrade

and here

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-capacity#the-durability-characteristics-of-the-cluster

I will close for now but if you have further questions let me know and we can reopen and continue the

[2019-03-04 17:49] #26192 closed

[2019-03-04 17:51] MicahMcKittrick-MSFT commented on #26073
Thanks @Raviafkumar

I have assigned the issue to the correct engineer to investigate further.

[2019-03-04 17:51] MicahMcKittrick-MSFT commented on #26038
@Xergy I will close this issue.

If you still have feedback please open a new issue directly on the doc you are referring to so we can better assist.

[2019-03-04 17:51] #26038 closed

[2019-03-04 17:53] woodrum opened #26201 "Possibility for not equals"
Looking at the example above, is it possible to incorporate a value of != instead of just = into the available options?  So could we write a query that would show resources in a subscription that are not tagged for the Finance Dept?  Thank you.

(Get-AzResource -Tag @{ Dept!="Finance"}).Name

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-03-04 17:53] MicahMcKittrick-MSFT commented on #26039
@tezzigator so to confirm, you are planning on using Functions to run the app and your app servers are or will be running Classic Cloud Services? I am just a bit confused as this specific doc only relates to Cloud Services

[2019-03-04 17:56] dlenin opened #26202 "Event Trigger"
I had spent enough time, still could not figure out how to use @triggerBody().folderPath
@triggerBody().fileName, @pipeline().parameters these parameters. The steps are not good enough to use these.  In the above diagram step 2, How you get the Data Set Properties which is not explained, i could not find any option to set the parameter values under Source Data Set when copy pipeline is selected.

[2019-03-04 18:00] Adam-Smith-MSFT commented on #26185
@larslynch  Would you be able to provide us with more details but what is meant by "full fidelity copies"? Is it confirmation of completed copies ?

Thanks,
Adam

[2019-03-04 18:01] kazshi commented on #26008
@RohitMungi-MSFT Is it OK to understand there's no specific guidelines? Thanks.

[2019-03-04 18:02] juchom commented on #25828
Thanks it works!

[2019-03-04 18:04] salilbapat commented on #20351
Hey, sorry about delay in reply. We have this item on our backlog currently but it is not been scheduled. Given other priorities, this will not be taken up in next couple of months atleast.

[2019-03-04 18:05] SaurabhSharma-MSFT commented on #25835
@brianmair We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-04 18:05] #25835 closed

[2019-03-04 18:06] SaurabhSharma-MSFT commented on #25932
@Ayanmullick We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-04 18:06] #25932 closed

[2019-03-04 18:06] MicahMcKittrick-MSFT commented on #25613
@inech so it seems regardless, you will need to manually apply the cert to your cluster. No feature such as auto installing a new one when it is going to expire.

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-rollover-cert-cn

You could of course work on automating this script yourself but as far as out of the box goes, nothing exists.

A good feature request though.

[2019-03-04 18:06] #25613 closed

[2019-03-04 18:07] juchom opened #26203 "How to add deployment.ps1 to the adf_publish branch"
I added by hand the deployment.ps1 script you give in the doc to my master branch next to the readme.md file.

When I publish everything, the file readme.md exists in the adf_publish but the script is not copied there.

Do I have to add it manually to the adf_publish branch?

Is it a good practice to add files to the adf_publish branch, or should we leave the designer only publish to it?

---
####

[2019-03-04 18:08] larslynch commented on #26185
Robocopy can copy all file creation and modification timestamps, as well as the owner and access permissions.

[2019-03-04 18:09] codematrix commented on #26119
My local Service Mesh doesn't want to start because my local docker is setup for Linux not Windows. The community version only supports one mode (Windows or Linux but not both).

When I run this command, I get the following error near the end. The command is from the following link:

[https://docs.microsoft.com/en-us/azure/service-fabric-mesh/service-fabric-mesh-howto-setup-developer-environment-s

[2019-03-04 18:10] IanMercer opened #26204 "Article does not explain apiProfile and when to use it vs apiVersion"
Article should at least link to another article explaining what the "apiProfile" value is, how to use it and when to use it vs "apiVersion".

Article should also explain what "apiVersion" is and how you obtain it / decide which one to use.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eb51e04-9b4e-c22d-be8c-4ddf4a59a

[2019-03-04 18:11] Mike-Ubezzi-MSFT commented on #26190
@Raviafkumar Thank you for bringing this to our attention. Can you ensure that you have the `Allow connections from Azure services` enabled on both the Azure Databricks instance and the Azure SQL Server instance? It is likely that this is not enabled for the Azure SQL Database and thus the connection fails. If the connection is being made from an on-premise source, you will need to allow traffic f

[2019-03-04 18:15] alkohli commented on #26185
@larslynch Data Box does not preserve owner and access perms. It is not specific to Data Copy service but to any protocol that you may use, whether it is NFS or SMB. Again, now preserving the access perms is not Data Box specific either, it is Azure behavior as far as I know. When we upload the data, all that metadata is lost. Hopefully this help!

[2019-03-04 18:16] Grace-MacJones-MSFT commented on #26183
Hi @psallis, I am unsure of when the feature will be GA but I will reach out to the product team and update you.

[2019-03-04 18:20] Alberto-Vega-MSFT commented on #25784
@PerSwede Any updates?

[2019-03-04 18:21] priyamohanram commented on #26077
@algattik:  Thanks for the feedback. I am going to update the documentation very soon with more information regarding the VM extension. To answer your question: the timeline for deprecation has changed, however, we still recommend using Azure Identity Metadata Service (IMDS) endpoint to request tokens. The VM extension has several limitations and is still planned to be deprecated.

Please feel fre

[2019-03-04 18:24] SaurabhSharma-MSFT commented on #26198
@stalks Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-04 18:25] SaurabhSharma-MSFT commented on #26199
@joeljanke Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-04 18:27] SnehaGunda commented on #25956
We will close this issue and track it within the askcosmosdb alias.

[2019-03-04 18:28] Mike-Ubezzi-MSFT commented on #22925
@s-leonard We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-04 18:28] #22925 closed

[2019-03-04 18:28] dlenin commented on #26202
getting below error message when i try to use assign the parameters.

https://dxcstg.blob.core.windows.net/@triggerBody().folderPath&#44; ContainerExist: unknown&#44; BlobPrefix: @triggerBody().fileName&#44; BlobCount: 0.,Source=Microsoft.DataTransfer.ClientLibrary,''Type=Microsoft.WindowsAzure.Storage.StorageException,Message=The remote server returned an error: (400) Bad Request.,Source=Microsof

[2019-03-04 18:29] Alberto-Vega-MSFT commented on #25829
@jelmerS2 No worries, I will close this issue for now but please feel free to keep us posted. If there are further questions or comments regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-04 18:29] #25829 closed

[2019-03-04 18:30] KrishnaG-MSFT commented on #26109
@NisreenJ AFAIK the most probable reason for this case is the MMA service named 'healthservice' is stopped due to some reason (say server level group policy, etc.)

To reproduce the same, I have manually stopped the 'healthservice' service and then observed that the next DSC configuration status was not complaint for service resource.

But if we manually stop the 'healthservice' service and then l

[2019-03-04 18:31] psatyaa opened #26206 "Save Button Disabled"
Hi,

I am not sure whether this issue is related to my account or i am missing something. I have created a DevTest Lab then under My Labs -&gt; My Secrets i have entered a Name and value. But Save button is disabled. It is discarding changes since  data is not saved.

Regards,
Satya

![capture](https://user-images.githubusercontent.com/22309002/53755905-bfbe4100-3e85-11e9-8cf5-78a73c18d750.PNG)
--

[2019-03-04 18:32] MicahMcKittrick-MSFT commented on #21118
@SidShetye here is the public link

https://docs.microsoft.com/en-us/azure/marketplace/cloud-partner-portal/saas-app/cpp-saas-fulfillment-apis

Will close this for now. Let me now if you have further questions.

[2019-03-04 18:32] #21118 closed

[2019-03-04 18:41] SaurabhSharma-MSFT commented on #26196
@JamesDickson108 Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-04 18:42] shjagar opened #26207 "Blob is not deleted with life cycle rule"
Hello,

I followed your documentation to use lifecycle management in West EU. I used the following script except my prefix was a bit more hierarchical. I have a "storageAccountName - Blobs" that has a container "abc" that has folder "xyz" that contains the block blob "bb". I would like to delete "bb" after 1 day for testing purposes but it does not get deleted. Any help would be appreciated. Thank

[2019-03-04 18:44] erhopf commented on #25598
@kevinclarkneudesic - Hey Kevin, we've made some progress on this sample and will have an update published later today. Thanks again for your input.

[2019-03-04 18:46] loic-sharma commented on #25860
The reference is great to better understand types, but poor for discoverability. I don't think many people will think of drilling down on the reference's "Search", "Client", and "Microsoft.Azure.Search.Models" sections. I think it'd be great if the documentation linked to these types' reference.

I agree that the generic tutorial should be short and sweet, and not bogged down by advanced features.

[2019-03-04 18:50] tezzigator commented on #26039
Micah - you are correct - my perspective here is on the VMs themselves, serving content for functions, not cloudapps.  My apologies please close this out ill find a different section to open up a ticket

[2019-03-04 18:50] #26039 closed

[2019-03-04 18:50] mamccrea commented on #25728
@kazshi - thank you for providing this feedback. I will create a work item to add this content. #please-close

[2019-03-04 18:51] asmalser-msft commented on #10120
We appreciate your feedback on this issue and are sorry for the inconvenience, but at this time the size limit of the cert has been confirmed as 1KB.  There may be differences between the rendered size of a certificate file on the desktop vs. the server. There is a fix in the works for the core platform issue that is coming, but for now the documentation in this article is correct. To submit featu

[2019-03-04 18:58] adagioajanes commented on #10120
This isn't a feature suggestion, it is a bug. In my instance, I was unable to change provisioning settings for G Suite. The only way to get it working was to recreate G Suite with a new certificate and new provisioning options.
But that isn't acceptable. I have setup groups for who is supposed to be provisioned to the app, and I will have to set them up again. I should just be able to reconfigure

[2019-03-04 19:12] AjayKumar-MSFT commented on #25991
@geglne, Apologies for the delay! We are checking on this issue further and I have also shared your feedback with the content owner for further review on this topic.

[2019-03-04 19:22] Mike-Ubezzi-MSFT commented on #25956
@sladeedmonds We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion but do follow the instructions to email askcosmosdb at microsoft.com. Thanks you!

[2019-03-04 19:22] #25956 closed

[2019-03-04 19:25] #17913 closed

[2019-03-04 19:35] miaojiang commented on #25891
Hi Marko, this is currently not possible with Function Proxy. However, you can use API Management which supports this scenario. API Management also has a new Consumption tier which has similar pricing model as proxies.

[2019-03-04 19:41] SaurabhSharma-MSFT commented on #26094
@leewsimpson Can you please make sure that you have registered the application in the B2C settings and using the same application id.  I also suggest you to please open a new MSDN forum post with the details and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazurep

[2019-03-04 19:44] #10851 closed

[2019-03-04 19:44] #12471 closed

[2019-03-04 19:44] #17083 closed

[2019-03-04 19:44] #18520 closed

[2019-03-04 19:44] #21436 closed

[2019-03-04 19:45] #22001 closed

[2019-03-04 19:45] #22574 closed

[2019-03-04 19:45] CarlRabeler commented on #24333
Yes, content updated – please close

From: kazshi <notifications@github.com>
Sent: Monday, March 4, 2019 12:06 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Carl Rabeler <Carl.Rabeler@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Network requirements: Compatible user-defined route table (UDR) (#24333)

@angoyal-msft<https://nam06

[2019-03-04 19:46] #24366 closed

[2019-03-04 19:46] #25037 closed

[2019-03-04 19:46] #25728 closed

[2019-03-04 19:46] #26055 closed

[2019-03-04 19:47] #26077 closed

[2019-03-04 19:47] #26110 closed

[2019-03-04 19:47] #5821 closed

[2019-03-04 19:47] #9335 closed

[2019-03-04 19:48] #9759 closed

[2019-03-04 19:48] diberry commented on #26033
@RohitMungi-MSFT

Phrase suggestions is part of the Phrase list UX. When you create a phrase list and then add items to it, you can use the phrase list recommendations to find more items to add, based on what you have already added.

Phrase suggestions is not related to active learning.

I'll see if I can modify the docs to make this clear.

[2019-03-04 19:50] MicahMcKittrick-MSFT commented on #25621
Thanks @jzuchora87

I have added some people to the new issue and am tracking it there.

[2019-03-04 19:50] #25621 closed

[2019-03-04 19:51] MicahMcKittrick-MSFT commented on #25771
Thanks @amandadebler

@aanandr any feedback?

[2019-03-04 19:52] MarekLani commented on #18398
Please, why was this thread closed? I think answer to the original request was not provided yet.

[2019-03-04 19:54] Grace-MacJones-MSFT commented on #26183
@psallis the goal is to have the feature GA by mid-year of 2019. (This is a goal not a commitment.)

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-04 19:54] #26183 closed

[2019-03-04 19:55] MicahMcKittrick-MSFT commented on #26097
@ericvanwijk technically correct. You need to have the correct permissions on the subscription to create Keyvaults in order for this to work. That being said, it is assumed you have the correct permissions as many people following the doc will have contributor access to the subscription or are the admins of the subscriptions.

We do already have a doc going on the role access and the levels needed

[2019-03-04 19:56] Grace-MacJones-MSFT commented on #26074
@jamesgarner-me a pr has been created to fix this issue. The change should be reflected in a day or two.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-04 19:56] #26074 closed

[2019-03-04 20:10] MicahMcKittrick-MSFT commented on #26189
@Erikre could you take a look at this one?

[2019-03-04 20:12] ericvanwijk commented on #26097
I’m referring to access policy within KeyVault, not RBAC. The step that
creates the KeyVault also states you need the policy as an additional
stepp. In fact I’m the subscription owner, and it did fail for me.

Op ma 4 mrt. 2019 om 20:55 schreef Micah <notifications@github.com>

[2019-03-04 20:13] HeidiSteen commented on #20109
I'll add a statement to that effect in the docs.  Looks like this issue is resolved, thanks everybody.

#please-close

[2019-03-04 20:16] HeidiSteen commented on #13999
#please-close

[2019-03-04 20:17] sidramadoss commented on #26090
@karl-howard - can you be more specific about the questions you have about SQL query timeouts?

[2019-03-04 20:28] TravisCragg-MSFT commented on #26181
@andyismilesaway Thanks for the feedback! It does look quite strange in dark mode. I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-04 20:29] cynthn commented on #25126
@MicahMcKittrick-MSFT  can you reassign to @joelpelley?

@joelpelley it sounds like there is some confusion about how the B-series is represented in the Azure portal.

[2019-03-04 20:30] cynthn commented on #25125
@MicahMcKittrick-MSFT can you reassign this one to @joelpelley?

@joelpelley let me know if there are updates needed for the B-series docs to explain this better.

[2019-03-04 20:33] cynthn commented on #23118
#please-close @oruprogrammer Thanks for the feedback! As @jakaruna-MSFT says, we can't include pricing here because it varies on the region.

[2019-03-04 20:34] joelpelley commented on #25125
B-Series is now owned by @Aysha Keen<mailto:ayshak@microsoft.com>  Please assign to her.

Best regards,

Joel Pelley PMP
Principal Program Manager - Azure Compute VM Sizes and Hardware

Email  joelpell@microsoft.com<mailto:joelpell@microsoft.com>  |  office  425.704.8149

[MSFT_logo_Gray DE sized SIG1.png]

“You have power over your mind – not outside events.  Realize this, and you will find stren

[2019-03-04 20:34] joelpelley commented on #25126
B-Series is now owned by @Aysha Keen<mailto:ayshak@microsoft.com>  Please assign to her.

Best regards,

Joel Pelley PMP
Principal Program Manager - Azure Compute VM Sizes and Hardware

Email  joelpell@microsoft.com<mailto:joelpell@microsoft.com>  |  office  425.704.8149

[MSFT_logo_Gray DE sized SIG1.png]

“You have power over your mind – not outside events.  Realize this, and you will find stren

[2019-03-04 20:47] sofrustrated opened #26209 "Totally usesless"
Microsoft excels at wasting our time with absolutely useless "information". This article is 100% garbage. Nowhere does this article provide any steps in how to re-mediate anything. Absolutely nothing. Where is the real article on how to re-mediate recommendations? So frustrating dealing with M$. GIVE US STEP BY STEPS ON *HOW* to apply the recommendations instead of regurgitating what we already se

[2019-03-04 20:52] rboucher commented on #25982
The diagnostics extensions for Linux(called "LAD") and Windows ("WAD") are completely separate.  WAD is the same for anything running on Windows -- that is, Windows VMs, VMSS, Cloud Services and Service Fabric.   LAD is for VMs running Linux. Note there is also a way to use Telegraph Agent on Linux importing the data into Azure Monitor using custom metrics (in preview). I'm looking into your other

[2019-03-04 20:53] MicahMcKittrick-MSFT commented on #25126
@joelpelley looks like @aysha is not available to be assigned issues in this repo

[2019-03-04 20:53] kazshi commented on #24333
@CarlRabeler Thank you for the update!

[2019-03-04 20:53] #24333 closed

[2019-03-04 20:54] rboucher commented on #25726
We can add some links if that would help.  It varies depending on what the OS your running is and what's running on top.  Here are some links to information.
crash dumps for Windows Server or Linux. This topic is about Windows Error Reporting and crash dumps: https://docs.microsoft.com/en-us/windows/desktop/wer/windows-error-reporting and here is something similar for Ubuntu: https://help.ubuntu.c

[2019-03-04 20:55] BharathNimmala-MSFT commented on #26206
@psatyaa Thanks for your question, we are currently investigating and will update you shortly.

[2019-03-04 20:55] MicahMcKittrick-MSFT commented on #26119
@codematrix I reached out to the SF Mesh team on this. Looks like there is no Support for Linux Containers on Windows Service Fabric Mesh.

So that is why you are seeing the error.

You can still deploy linux containers directly in Azure but as far as testing them on prem it is not possible at this time. I requested an ETA on if/ when this will be supported and will let you know what I get back.

[2019-03-04 20:56] psatyaa commented on #26206
This could be a Technical Glitch for sometime, its working as expected now.

[2019-03-04 20:58] SaurabhSharma-MSFT commented on #26199
@joeljanke Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-03-04 20:58] BharathNimmala-MSFT commented on #26206
@psatyaa Thanks for the update, if you are seeing this issue again please let us know will be happy to take this conversation forward.

[2019-03-04 20:58] TravisCragg-MSFT commented on #26082
@natelowry Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-04 20:58] weyCC81 opened #26210 "Traffic filtering, NSG to Subnet Scope"
Please add a better description how the NSG works on the subnet level, like:
https://community.spiceworks.com/topic/2122454-nsg-on-subnets-azure

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb26c6d6-dfeb-fc3d-b511-a0677abdcb44
* Version Independent ID: be6048bf-bf9b-9e48-f24a-9e3df8141013
* Content: [Plan Azure virtu

[2019-03-04 21:03] karl-howard commented on #26090
@sidramadoss -
The use case I had was I was trying to add a SQL reference data set and the query was approximately 60 seconds duration from SSMS but from Stream Analytics I was getting a timeout error.

What is the timeout period for the SQL reference data query?  Can this be extended?

[2019-03-04 21:04] psatyaa commented on #26206
Sure, Thanks

[2019-03-04 21:05] MicahMcKittrick-MSFT commented on #26097
@ericvanwijk ah I see. That makes sense. Thanks for clarifying that. I tested this and I see what you mean.

@cynthn after this step

[code]

The output shows

So we do need to add a step to set that access policy

[2019-03-04 21:05] SaurabhSharma-MSFT commented on #25934
@dombat We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-04 21:05] #25934 closed

[2019-03-04 21:08] TravisCragg-MSFT commented on #26118
@kilasuit ExpressRoute Connections are NOT encrypted by default at this time. They are Private because they use a private routing path that is not shared with the public internet from your on-prem or datacenter to Azure's datacenter.

If you would like to encrypt the traffic across an ExpressRoute, you can c[onfigurate a Site to Site VPN across your expressroute](https://docs.microsoft.com/en-us/a

[2019-03-04 21:12] femsulu commented on #26201
@woodrum Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-03-04 21:14] femsulu commented on #26204
@IanMercer Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-03-04 21:16] TravisCragg-MSFT commented on #26106
@aquibqureshi26 The restriction is purely with Basic LBs, so as long as you are using a Standard Load Balancer, you should be good to communicate across VNETs.

The doc you linked clearly states that SQL Always ON AG uses Standard Load Balancers, so make sure you use that SKU if you need to communicate across Peered VNETS.

[2019-03-04 21:18] BharathNimmala-MSFT commented on #26206
@psatyaa Thank you , will go ahead and close this issue for now. However if you see issue reoccurring please tag me in your reply and we can take this forward further.

[2019-03-04 21:18] #26206 closed

[2019-03-04 21:19] xuhongl opened #26211 "Reproducing steps regarding limitations described in the content"
Hi,

I'm reading through the doc and trying to reproduce the issue described in the doc:

Cannot activate a role due to a resource lock
If you receive a message that an Azure resource is locked when you try to activate a role, it might be because a resource within the scope of a role assignment has a resource lock. Locks protect resources from accidental deletion or unexpected changes. A lock also

[2019-03-04 21:23] TravisCragg-MSFT commented on #26013
@yyukif There is not currently a tool for registration, and you should use the Admin Portal method for verifying registration.

 I am assigning this to the doc author to remove the reference to the tool.

[2019-03-04 21:25] TravisCragg-MSFT commented on #23320
@msrini-MSIT can you take a look at this?

[2019-03-04 21:25] femsulu commented on #26200
@SamirFarhat Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-03-04 21:30] TravisCragg-MSFT commented on #24221
@jjindrich It was an issue with a networking service included in some recent releases of Ubuntu. You can s[ee more information Here](https://askubuntu.com/questions/917784/systemd-resolved-does-not-query-dns-server-for-local-domain).

[2019-03-04 21:31] bytejunkie commented on #25766
Apologies, but I'm still confused by the wording.

Can I suggest something like
From:
_Do not modify these settings as part of automated deployments._
To:
_When using automated deployment methods, these settings should be set by deployment and never modified manually thereafter, as this will break the function app._

Also on this point:
_These settings must be provided and valid at creation time.

[2019-03-04 21:32] MarileeTurscak-MSFT commented on #25930
@miss-tech I have escalated this issue to the product team and asked for the complete list.

[2019-03-04 21:33] femsulu commented on #26200
@snehithm is this supported?  was only able to find documentation on [managing **classic** metric alerts using PS](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-classic-portal#with-powershell)

[2019-03-04 21:33] 1dahoMike opened #26212 "Documentation needs an update."
The "Limitations" section specifies that "You cannot use SELECT or UPDATE for variable assignment.", however, according to this documentation (https://feedback.azure.com/forums/307516-sql-data-warehouse/suggestions/11317980-use-select-for-setting-variables-select-myvar), the ability to assign variable assignment using SELECT has been supported since 25May2018.

---
#### Document Details

⚠ *Do not

[2019-03-04 21:34] codematrix commented on #26119
@MicahMcKittrick-MSFT - Awesome! Thanks. I really appreciate it.

[2019-03-04 21:34] 1dahoMike opened #26213 "Documentation update needed."
The "Common T-SQL Limitations" section specifies that "use of select for variable assignment" is not supported.  However, according to this documentation (https://feedback.azure.com/forums/307516-sql-data-warehouse/suggestions/11317980-use-select-for-setting-variables-select-myvar), the ability to assign variable assignment using SELECT has been supported since 25May2018.

---
#### Document Detail

[2019-03-04 21:39] ejarvi commented on #10220
@msmbaldwin @mestew  Could either of you check and close this issue as appropirate?   Seems to be resolved now.  Thanks!

[2019-03-04 21:39] juliancasablanca commented on #22223
Having same issue in a production environment. @jeevansd was this issue ever resolved or workaround provided in order to have newly created salesforce profiles appear in Azure?

[2019-03-04 21:43] femsulu commented on #26200
nvm @snehithm. Just found [this doc](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-metric-near-real-time#portal-powershell-cli-rest-support) confirming PS support for new alert is coming soon. any idea when this will be delivered?
![image](https://user-images.githubusercontent.com/34327711/53764903-71a83e00-3e83-11e9-829f-02de92b16add.png)

[2019-03-04 21:43] cynthn commented on #26097
@MicahMcKittrick-MSFT weird... no idea why it worked for me, but I was also messing with policies for another article. Let me go through this with a "clean" subscription again and clarify\add a step as needed.

@ericvanwijk thanks for the feedback! It might take me a couple of days to be able to circle back around and check this on another subscription. Thanks :)

[2019-03-04 21:43] Mike-Ubezzi-MSFT commented on #26213
@1dahoMike Thank you for bringing this to our attention. I have assigned this to the content owner to evaluate and update as appropriate.

[2019-03-04 21:46] CarlRabeler commented on #25972
@don4of4 the 200 GB limit for exporting to a bacpac file into blob storage using the Azure portal. For larger sizes of bacpac files, using SQLPackage.exe.

[2019-03-04 21:48] CarlRabeler commented on #25415
Done - live later today into blob storage - https://github.com/MicrosoftDocs/azure-docs-pr/pull/68453
@angoyal-msft @Mike-Ubezzi-MSFT please close

[2019-03-04 21:50] CarlRabeler commented on #23879
@philimag   Fixed  https://github.com/MicrosoftDocs/azure-docs-pr/pull/68453 live later today

@angoyal-msft  @Mike-Ubezzi-MSFT please close

[2019-03-04 21:50] alexkarcher-msft commented on #25766
I'm fine with more verbose wording :)

In terms of justification, there is just a very complicated matrix of what is supported to change from one thing to another on the fly. Some scenarios will certainly work, and some will not work, and we do not want to provide the labyrinth of docs and support necessary to support this scenario at a GA level.

Is there a particular scenario your team has that

[2019-03-04 21:52] JamesDickson108 opened #26214 "Logout URL provided by the Azure SSO setup sceen was not the correct URL"
Under the section "Configure Azure AD single sign-on" the Logoff URL provided in step 8c by the Azure setup was not the correct URL for the Sign-off Page URL in "Configure Zoom Single Sign-On" Step 4b. Per the linked Zoom SSO setup document (linked in the note in step 4) the correct Sign-off page URL can be found under App Registrations --&gt; Endpoints --&gt; SAML-P Sign-Out Endpoint. May want to

[2019-03-04 21:53] Mike-Ubezzi-MSFT commented on #25415
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-04 21:53] #25415 closed

[2019-03-04 21:56] Mike-Ubezzi-MSFT commented on #26212
@1dahoMike Thank you for bringing this to our attention. I have assigned this to a content author to evaluate and update as appropriate.

[2019-03-04 21:57] ericsonmichaelj commented on #21125
By function app, do you mean Azure Functions? Would that still be considered a server-to-server interaction and thus the IP address would be flagged?

[2019-03-04 21:57] Mike-Ubezzi-MSFT commented on #23879
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-04 22:01] msmbaldwin commented on #10220
This has been resolved. #please-close

[2019-03-04 22:10] RealNoArms opened #26215 "Are there any ETAs on "not yet available" features?"
Specifically ETAs for blob storage APIs and Azure Data Lake Gen2 event generation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46d15a48-4780-edbb-4485-121f901cbac9
* Version Independent ID: fc65764c-2d2a-4901-5c31-82b4566bf3bc
* Content: [Known issues with Azure Data Lake Storage Gen2](https://docs.microsoft.com/en-

[2019-03-04 22:10] bytejunkie commented on #25766
Its not exactly a scenario, but for a little while a terraform deployment would use the full connection string, but the app would only show the account name for the connection. Delete and recreate a few times fixed it and i’ll submit a bug if I see it again.

Thanks,

Matt

From: Alex Karcher
Sent: 04 March 2019 21:50
To: MicrosoftDocs/azure-docs
Cc: matt short; Mention
Subject: Re: [MicrosoftDocs

[2019-03-04 22:14] YutongTie-MSFT commented on #26187
@ajakupov
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-03-04 22:14] #26187 closed

[2019-03-04 22:18] DJackson625 commented on #22223
Never resolved. I’m still having a problem.

Dexter Jackson
VP, Information Technology Services
RXR Realty
625 RXR Plaza
Uniondale, New York 11556
T: 516.506.6603
djackson@rxrrealty.com
www.rxrrealty.com
Confidentiality Notice: The information contained in this e-mail and any attachments may be legally privileged and confidential. If you are not an intended recipient, you should not retain, copy o

[2019-03-04 22:19] jeffgilb commented on #26013
Good catch @yyukif. I've deleted this reference from the doc. The changes should be reflected online later today or tomorrow.

[2019-03-04 22:20] jeffgilb commented on #26013
#please-close

[2019-03-04 22:20] TravisCragg-MSFT commented on #26013
@yyukif We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-04 22:20] #26013 closed

[2019-03-04 22:28] walsehgal commented on #25751
Hi @sgupadya, thanks for highlighting this. We are working towards publishing detailed reference documentation and it will be out soon.

[2019-03-04 22:33] KevinXTian opened #26217 "Request for how to use TDSP with Azure Machine Learning service (AMLs)?"
Hi there,

Most documentation in the TDSP is updated in late 2017. MSFT published AMLs GA in late 2018. Is there any plan of updating this documentation in using TDSP with AMLs?

Thanks in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 094e56c7-d8dc-1e80-1154-3a369d1a1c82
* Version Independent ID: 768d235a-957

[2019-03-04 22:36] walsehgal commented on #25749
@Shekharb694, can you share both of your gradle files here?

[2019-03-04 22:36] mamccrea commented on #26090
@karl-howard - Thank you for your feedback. Azure SQL database doesn't have query timeout limits. Did you experience a timeout error from Stream Analytics?

[2019-03-04 22:39] hahazeMSFT opened #26218 "VMName Variable missing"
In the **Encrypt a running VM using KEK** section the script is missing the line to set $vmname variable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7c63605-95f5-0953-3cf6-1e9c50532c1d
* Version Independent ID: 8731daa8-2c15-78f7-adac-151401c13b6c
* Content: [Enable Azure Disk Encryption for Windows IaaS VMs](http

[2019-03-04 22:41] MicahMcKittrick-MSFT commented on #10120
@adagioajanes It is not a bug in the sense that it has been designed that way and it is currently the limitation. However, I agree that limit needs to be addressed as it does appear to be causing some problems.

as @asmalser-msft mentioned, there is working being done to address this. But at this time the document here is correct in stating the limit as it currently is.

Also as @asmalser-msft men

[2019-03-04 22:41] #10120 closed

[2019-03-04 22:42] #13999 closed

[2019-03-04 22:42] #20109 closed

[2019-03-04 22:42] #23118 closed

[2019-03-04 22:42] PatAltimore commented on #26132
@saraao Thanks for the feedback. The document uses "App registrations" rather than "App registrations (preview)". We use the released version of the portal rather than the preview feature. Once the App registration (preview) replaces the current App registrations, we'll update the deployment documentation. You should be able to follow the documentation using the "App registrations" management in t

[2019-03-04 22:46] PatAltimore commented on #26130
@saraao Thanks for the feedback. This is the same answer as your other reported issue. I'll repeat it for others reading your issue.

The document uses "App registrations" rather than "App registrations (preview)". We use the released version of the portal rather than the preview feature. Once the App registration (preview) replaces the current App registrations, we'll update the deployment docume

[2019-03-04 22:48] rjygraham opened #26219 "Static IP page requires same cert-manager update as the parent ingress-tls.md"
This page requires similar edits as https://github.com/MicrosoftDocs/azure-docs/pull/24678

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12009c1f-282d-2632-fac0-64b09c432833
* Version Independent ID: 6052d3d4-d295-9340-b16d-4c200e34cd73
* Content: [Create an HTTP ingress controller with a static IP address in Azure Ku

[2019-03-04 22:49] SnehaGunda commented on #25201
Hope this is already addressed, if not, here is some information:

Throughput is provisioned at per second level. So request which consume beyond the limit maximum RU/partition which you can find from diagnostics will result in rate limitation for next set of requests. This throughput at per second is given back as budget in very next second. So retry logic can take care of it in general unless yo

[2019-03-04 22:51] cynthn commented on #18864
@forester123 thanks for the feedback! I replaced the link with one that goes to a web page instead of a download.

#please-close

[2019-03-04 22:52] Adam-Smith-MSFT commented on #26207
@shjagar Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-04 22:53] mestew commented on #14687
@cocallaw Hey Corey, these changes should go live in the next day or so.
#please-close

[2019-03-04 22:59] yzheng-msft commented on #26207
@shjagar can you file a support ticket? We will investigate.

[2019-03-04 23:00] fabienturcotte commented on #22223
A workaround I could think of is to recreate a whole new App in Azure. However it would require significant rework to redo the whole mapping again, point the users to this new app and then restart the user provisioning again.

Seems like a lot of effort for something Microsoft should be fixing.

[2019-03-04 23:03] bandersmsft commented on #25890
@ghejman Updated
#please-close

[2019-03-04 23:07] dblaszyk commented on #26111
I have tracked down the issue, the documentation is out-of-sync with the developed code, I located on Github the dotnet simulation code, instead of return state:  it needs to call the updateState(state);

When I get a moment, I will try to write up a better summary of what needs to be corrected.  In addition, how I was able to debug this and figure it out if that helps others.

[2019-03-04 23:15] PatAltimore commented on #25688
I followed up with the product team. I changed the text to a pattern you can use for the address of the endpoint.

[2019-03-04 23:16] fhryo-msft commented on #13195
It's correct. However, storage diagnostic settings are controlled in data plane with Storage SDKs, and they have not been surfaced in ARM operations.

[2019-03-04 23:22] kgremban commented on #18398
@MarekLani These issues are only for the documentation, not for product features. Since an identity translation gateway hasn't been implemented in the product yet, there's no answer that we can provide here. You can follow the link provided earlier to add your vote to the feature request on the feedback forum.

[2019-03-04 23:27] hpsin commented on #25740
Access tokens are generated for the app **receiving** validating access token.  You don't own "0000003-0000-0000-c000-000000000000", and therefore we look at the app manifest for "0000003-0000-0000-c000-000000000000" when deciding what claims to include.

An access token requested for your resource will contain groups based on the manifest for your resource.

Stop looking inside access tokens that

[2019-03-04 23:27] kgremban commented on #25783
@smoms is it only iotedge that requires you to use sudo despite having added yourself to the user list? Or do other privileged services also still require sudo, like docker commands?

[2019-03-04 23:28] MicahMcKittrick-MSFT commented on #26219
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-04 23:31] joelpelley commented on #25126
Please assign to @Jon Beck (jonbeck@microsoft.com)<mailto:jonbeck@microsoft.com>

Best regards,

Joel Pelley PMP
Principal Program Manager - Azure Compute VM Sizes and Hardware

Email  joelpell@microsoft.com<mailto:joelpell@microsoft.com>  |  office  425.704.8149

[MSFT_logo_Gray DE sized SIG1.png]

“You have power over your mind – not outside events.  Realize this, and you will find strength.”

[2019-03-04 23:31] joelpelley commented on #25126
Please assign to @Jon Beck (jonbeck@microsoft.com)<mailto:jonbeck@microsoft.com>

Best regards,

Joel Pelley PMP
Principal Program Manager - Azure Compute VM Sizes and Hardware

Email  joelpell@microsoft.com<mailto:joelpell@microsoft.com>  |  office  425.704.8149

[MSFT_logo_Gray DE sized SIG1.png]

“You have power over your mind – not outside events.  Realize this, and you will find strength.”

[2019-03-04 23:34] MarileeTurscak-MSFT commented on #26182
Hi @crk2904 , can you please provide a link to the document that you are referencing so that I can better assist you?

[2019-03-04 23:38] shjagar commented on #26207
@yzheng-msft  Where can I file the ticket? I couldn't find any links. Thanks!

[2019-03-04 23:42] MarileeTurscak-MSFT commented on #26198
Hi @stalks ,
As the article states, users who have free MFA through an Azure AD trial subscription will need to get a paid account. If they have an O365 license it will still be available since it is included as part of that license.

[2019-03-04 23:42] #10220 closed

[2019-03-04 23:42] #14687 closed

[2019-03-04 23:42] MarileeTurscak-MSFT commented on #26198
Hope this helps! We will now proceed to close this thread but if you have further questions feel free to tag me in the comments or reach out to me on MSDN. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-03-04 23:42] #26198 closed

[2019-03-04 23:43] #18864 closed

[2019-03-04 23:43] #25890 closed

[2019-03-04 23:43] rameshjanjyam commented on #13195
i understand its not supported now, but are there plans to support setting diagnostic settings via arm-templates in near future?

[2019-03-04 23:43] #26130 closed

[2019-03-04 23:44] #26132 closed

[2019-03-04 23:50] wmgries commented on #12590
@jeffpatt24 ping.

[2019-03-04 23:52] wmgries commented on #17311
@yuemlu ping

[2019-03-04 23:57] wmgries commented on #24363
@fauhse

[2019-03-05 00:00] wmgries commented on #24374
Hi @crowcoder,

If your file has not changed, you will not see a previous version for that file because that file is the same version as the snapshot. This is consistent with how this works on a Windows file server.

@roygara Can you please confirm that this document has a note.

Thanks,

Will

#please-close

[2019-03-05 00:02] wmgries commented on #10857
@RenaShahMSFT

[2019-03-05 00:03] wmgries commented on #11486
I'll take a look.

[2019-03-05 00:05] MashaMSFT commented on #18595
Hi @mcurko , thanks for bringing this to our attention! The script has been updated and should work now. Can you please try it out? Thanks!

[2019-03-05 00:05] wmgries commented on #17762
I will update on this.

[2019-03-05 00:06] wmgries commented on #17766
I will take this one.

[2019-03-05 00:08] wmgries commented on #25671
@roygara

[2019-03-05 00:10] nickwalkmsft opened #26223 "`az webapp up` requires an extension update in the Cloud Shell"
`az webapp up` fails in the current version of the Cloud Shell until you do `az extension update --name webapp`. Instructions for doing so used to be here but were removed in 686b29bcbda4a829c9738521c620390f6210c73e.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a825f031-250e-034d-e552-4b0d976d88b1
* Version Independe

[2019-03-05 00:14] hpsin commented on #17140
Thanks @danielDMP - I'll update it with a note to be recommended.  It's still part of the spec and it's best to encourage developers to include the params required by the spec - this only increases the chance of their app working against other IDPs.  Correct that it's ignored and other OIDC scopes like profile are also ignored.

#please-close

[2019-03-05 00:21] AE-MS opened #26224 "Does BearerStrategy code need to use the return keyword in the find block?"
let userToken = authenticatedUserTokens.find((user) =&gt; {
        currentUser = user;
        user.sub === token.sub;
    });

Doesn't that code need to change the last statement to "return (user.sub === token.sub)" to work as intended? Otherwise it always returns 'undefined'?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-03-05 00:24] mestew commented on #26218
@hahazeMSFT Thanks much for catching that! I am changing it now. The changes should be live in the next day or so. #please-close

[2019-03-05 00:36] TravisCragg-MSFT commented on #26062
@aricbernard Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-05 00:38] TravisCragg-MSFT commented on #26210
@weyCC81 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

If you have any specific questions, feel free to ask them!

[2019-03-05 00:42] jeevansd commented on #26196
@JamesDickson108 No this is correct. Azure AD combines the claim name as "Namespace" value and then the claim name. So in the case of claim name as http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress where the namespace is http://schemas.xmlsoap.org/ws/2005/05/identity/claims and the claim name is emailaddress and this is how the claim is created.
Note that claim namespace is always

[2019-03-05 00:42] jeevansd commented on #26196
#please-close

[2019-03-05 00:47] developercreativepos commented on #24140
Hi @prashanthyv @YutongTie-MSFT @grlima
Has this problem been fixed?

[2019-03-05 00:48] prashanthyv commented on #24140
Yes it has

[2019-03-05 00:49] Karishma-Tiwari-MSFT commented on #26025
@cynthn Do you know if this is the expected behavior? Who can help confirm this, please let me know. Thanks :)

[2019-03-05 00:49] MarileeTurscak-MSFT commented on #26209
@sofrustrated
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-05 00:52] dhmorrison commented on #24759
Hi Mike,

My original question is in regard to the **$username** and password combo _PASSWORD: ************_ that is required to debug on azure.  Apologies for being unclear.

Info contained in the sample you sent regarding how to echo my name via a function is not helpful

[code]
[image](https://user-images.githubusercontent.com/2953787/53771518-df1e9380-3eb0-11e9-91cf-9d3cca8488c3.png)
![image](

[2019-03-05 00:52] misteru5 commented on #23994
What about the reverse option for the --force flag? IN case we want to preserve out content on the blob and remove it from the source, appreciate the feedback

[2019-03-05 00:55] Karishma-Tiwari-MSFT commented on #26014
@dlepow Would you be able to share your insights on this issue? Thanks :)

[2019-03-05 01:01] aszalacinski opened #26226 "Azure App Service Application Type"
I am serving an Azure App Service as a web api and its secured via Azure App registration portal.

It's going to be accessed by an Xamarin.form app and a javascript SPA app, is it secured as a Web API or as a Mobile app? I am having a tough time just getting a token to come back.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-03-05 01:18] diberry commented on #25993
@v-kydela Hi Kyle, thanks for reporting this. The doc is corrected and published to live. #please-close

[2019-03-05 01:18] aanandr commented on #25771
There is some overlap between on-prem and Vnet which is why i think you are using the UDR. @amandadebler - what does the UDR look like? Does it say that for all traffic going to 10.0.0.0/8 go to GW? You are saying that these containers need not be accessed from outside the cluster but do they need to be able to access resources outside the cluster?

[2019-03-05 01:20] diberry commented on #25604
#in-progress

[2019-03-05 01:21] developercreativepos commented on #24140
@prashanthyv so the above code sample now works as expected? I just tried it and it appears to  get the secret twice which doesn't seem right. It gets it once from the original getAsync then gets it again in the do while loop.

[2019-03-05 01:23] diberry commented on #25918
@taranais This doc change is made across several pages for metadata content. #please-close

[2019-03-05 01:24] prashanthyv commented on #24140
@developercreativepos - Are you looking at this page - https://docs.microsoft.com/en-us/azure/key-vault/key-vault-ovw-throttling ?

[2019-03-05 01:27] developercreativepos commented on #24140
No sorry, this page https://docs.microsoft.com/en-us/azure/key-vault/tutorial-net-create-vault-azure-web-app

[2019-03-05 01:28] diberry commented on #25453
This documented has been updated and published. #please-close

[2019-03-05 01:28] prashanthyv commented on #24140
Thanks. Will fix that

[2019-03-05 01:29] developercreativepos commented on #24140
Awesome, thank you. Do you have an ETA for when it will be updated?

[2019-03-05 01:31] brlewi commented on #26217
Test

[2019-03-05 01:42] Karishma-Tiwari-MSFT commented on #25125
@joelpelley @cynthn It seems like @aysha is not a member of azure docs repo as I was not able to add her to assignees. Can either of you please provide the full name and add her to the Azure docs repo. Thanks.

[2019-03-05 01:44] #17140 closed

[2019-03-05 01:44] #24374 closed

[2019-03-05 01:44] #25740 closed

[2019-03-05 01:45] #26196 closed

[2019-03-05 01:45] MarileeTurscak-MSFT commented on #26209
@sofrustrated I am sorry that you did not fin the content to be helpful or provide the information you need. Your feedback has been passed on to the content author.

If you have a specific document request you can leave it in Azure Feedback and we will prioritize it. https://feedback.azure.com/forums/169401-azure-active-directory

[2019-03-05 01:45] #26209 closed

[2019-03-05 01:45] #26218 closed

[2019-03-05 01:47] Rahat-3858 opened #26227 "Azure-doc"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-03-05 01:52] imeya opened #26228 "sort data by Azure Cosmos Table API"
For Azure Cosmos Table API, I know that "Query results returned by the Azure Table API in Azure DB are not sorted by partition key or row key".

so if I need sorted data there is no way to achieve this with Cosmos DB Table API, making it intrinsically unsuitable for time series data, right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-03-05 01:52] MarileeTurscak-MSFT commented on #26211
@xuhongl
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-05 01:54] MarileeTurscak-MSFT commented on #26214
@JamesDickson108
Thanks for your feedback! We will investigate and update as appropriate.