[2020-05-22 11:36] #55182 closed

[2020-05-22 11:39] bencalnan opened #55463 "How would you sign up someone programmatically using a 3rd party provider like Google?"
Hi, how would you go about signing up a new user to a static web app without manually sending invitations to users? i.e. a user can  "Sign in with Google" for instance?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6355b9cc-780a-c5e9-e24a-aa6593b37ae1
* Version Independent ID: aa20c4a6-3243-d7b5-8e12-54e044b99cc2
* Co

[2020-05-22 11:44] abhishek0818 opened #55464 "Getting "Let us know why you need access to this site" while accessing sharepoint site"
hi Team,

I have followed steps mentioned in above page and integrated sharepoint with AAD but while accessing sharepoint site, I am getting logged in successfully but after login I am getting  "Let us know why you need access to this site" this message instead of index page of site.

Following is the detail from which you can get idea about what could be going wrong,
1. I have one email which is

[2020-05-22 11:47] payalgaikwad42 opened #55465 "Not Able to Invoke Direct Methods on OPC Publisher- Incorrect Information"
this document gives information about making direct method calls to opc publisher module. But when I do so I always get status:500 into response payload. According to git issue Azure/Industrial-IoT#361 direct methods have been deprecated from opc publisher. Can somebody please confirm this and give correct information? It would be very helpful. Thank you.

---
#### Document Details

⚠ *Do not edit

[2020-05-22 11:48] #55463 closed

[2020-05-22 11:48] RanganathKrishnamurthy commented on #55050
would be great to know if you have any update on this @SumanthMarigowda-MSFT

[2020-05-22 11:49] smogaa opened #55466 "UnauthorizedIntegrationRuntimeAccess"
I'm getting below error when trying to create and share a new IR with the existing one in 2 different resource Group in same Subscription. I'm trying to deploy the powershell from Azure Devops. Please let me know if any one has faced similar issue.
Thanks!

2020-05-22T10:10:30.7983469Z ##[error]HTTP Status Code: Unauthorized
Error Code: UnauthorizedIntegrationRuntimeAccess
Error Message: Access de

[2020-05-22 11:49] m-malik15 commented on #55028
@amanmcse Thanks for clarification.  If I dont use postman and make request via application (.net) will it work?

[2020-05-22 11:56] fernandozago commented on #55373
Hi @SumanthMarigowda-MSFT , i was looking this documentation:

https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/?view=azps-4.1.0#api_management

[2020-05-22 11:57] amanmcse commented on #55028
@m-malik15  Since you are supplying your credentials in the request body in case of ROPC, the redirection won't happen, If you use other flows like Implicit or Code Grant flow, you get ADAL prompt (as shown below) which supports redirection and federated auth would work in that case.
![image](https://user-images.githubusercontent.com/33834131/82665444-6d676c80-9c51-11ea-9b3b-24002b97eb02.png)

[2020-05-22 12:05] artisticcheese commented on #54995
The issue is not syntax but date-time format the same query works if I use `"SELECT * FROM Products where updated_at > '2020-05-14'"` but not `"SELECT * FROM Products where updated_at > '2020-05-14T21:23:29'"`

[2020-05-22 12:06] onurtalayhan commented on #10158
I have the same error. can you please explain how you solved it?

[2020-05-22 12:11] dhheeraj commented on #55349
what more information you require to help me..?

[2020-05-22 12:18] amanmcse commented on #55402
@Seddy24 There is no solution readily available for this. You can refer to this custom policy sample https://github.com/azure-ad-b2c/samples/tree/master/policies/mfa-email-or-phone and you can customize it as per your requirement as well.

[2020-05-22 12:22] SadiqhAhmed-MSFT commented on #55421
@bandersmsft To review and update the documentation as appropriate.

[2020-05-22 12:39] Seddy24 commented on #55402
Thank you I will look into the custom policy sample.

[2020-05-22 12:43] AshokPeddakotla-MSFT commented on #54343
@dominicbetts Thanks for the clarification.
@jlorich If there are no further questions can we close this issue?

[2020-05-22 12:47] harley1011 opened #55468 "Is there extra setup required to enable clients to connect?"
I am trying to subscribe to a feed but I am running into an issue. I am logging in using an account that has been assigned to an application group and the account is able to login using the web client and I can connect to a session host. Also I am using the new 2020 wvd release in Azure

But when I try to use the windows desktop client I am getting the error below when I log in.
I've searched for

[2020-05-22 12:50] Dan-Co commented on #55408
Hi yes, sorry raised in error.

On Fri, 22 May 2020 at 01:39, Karishma Tiwari - MSFT <
notifications@github.com> wrote:

[2020-05-22 12:53] winterwy commented on #51556
I have exactly issue. looks like that it is azure bug inside.

[2020-05-22 12:59] KalyanChanumolu-MSFT commented on #55446
@demetrioi Thank you for the feedback.
You can easily read XEL files using the function [sys.fn_xe_file_target_read_file](https://docs.microsoft.com/en-us/sql/relational-databases/system-functions/sys-fn-xe-file-target-read-file-transact-sql?view=sql-server-2017)

You can also post your feedback [here](https://feedback.azure.com/forums/217321-sql-database) so that other users can upvote on the ide

[2020-05-22 13:04] demetrioi commented on #55446
Thanks Kalyan

Yes I know that we can use this DMV. But it's almost impossible to ready large amount of data using this DMV. I mean, for instance, 6 months of data.

I saw that there is a option to use capture in Event Hub and then save as JSON.

But could be great have this feature native, without use Event Hub.

[2020-05-22 13:08] rt-oms opened #55469 "Sample has errors due to Powershell commands"
I am following the steps listed in this document, by testing the sample code:

https://docs.microsoft.com/en-us/azure/automation/automation-webhooks

I have successfully created the webhook, runbook and JSON request in powershell.  I can verify this as the output in the RunBook shows:

**Header has required information**

**Authenticating to Azure with service principal and certificate**

**Get co

[2020-05-22 13:16] blikenoother opened #55470 "elasticsearch error/access logs on app insights?"
I want to push logs of my `elasticsearch` which is running on a virtual machine. Can we configure any shippers (Eg: Packetbeat) to send then send them to app insights?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3de928ad-68c6-d30b-bc63-3354b76c149f
* Version Independent ID: cbd03b5d-7f6b-b483-6ddf-4fe4cde5e9ec
* Con

[2020-05-22 13:16] SNVSNANNAPA commented on #55386
@SadiqhAhmed-MSFT : From what I understand is some of the the workflow operations requested in this issue can be accomplished using Azure Site recovery Rest APIs. I'm looking for the official confirmation on using Site Recovery APIs on Azure Migrate operations is valid and is a good practice.  If it is valid approach , I'm also looking for more documentation or examples on using Azure Migrate oper

[2020-05-22 13:18] charles-e-cameron2 opened #55471 "/etc/fstab update"
May want to mention creating unique UUID if adding multiple volumes to a Linux server as duplicate UUID can cause issues.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fde1939-787d-2aa5-4b29-d303f8ed49cb
* Version Independent ID: c2838cb5-c34c-e0ff-b280-b86f29453cad
* Content: [Attach a data disk to a Linux VM - Azur

[2020-05-22 13:27] egorchabala opened #55472 "Document all AGIC limitations"
Since AGIC has a log of limitations comparing to usual Application Gateway, I think it makes sense to document it here so that people would be aware about possible issues using AGIC. For example:
- AGIC doesn't support re-writing HTTP headers
- AGIC doesn't preserve client's IP addresses
- ...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-05-22 13:35] MonikaReddy-MSFT commented on #55470
@blikenoother - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-05-22 13:37] ggerogiokas commented on #49400
Hi,

1.) I have created a custom image just fine
2.) Now I try to create an environment used but no good:
   I set
    myenv = Environment(name="myenv")

    myenv.docker.enabled = True
    myenv.docker.base_image = 'myacr.azurecr.io/mypackage'
    #myenv.docker.base_image_registry.address = "myacr.azurecr.io"

    # Define the packages needed by the model and scripts

    conda_dep = CondaDepende

[2020-05-22 13:41] DixitArora-MSFT commented on #55056
@coolsambit For now will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-22 13:41] #55056 closed

[2020-05-22 13:42] DixitArora-MSFT commented on #55042
@lazootkin For now will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-22 13:42] #55042 closed

[2020-05-22 13:45] VikasPullagura-MSFT commented on #55435
@roongr2k7 I have tried deploying spot VM with same configuration(little higher price than you quoted) and I was able to deploy spot VM. One reason could be there might be capacity issues of that particular VM size when you tried.

Can you try one more time and see if you are able to deploy.

If you are still not able to deploy, recommend to try different VM size and different region as suggested

[2020-05-22 13:46] DixitArora-MSFT commented on #55051
@gitlebreton I have assigned this to content author for further review and update as appropriate.

[2020-05-22 13:49] VikasPullagura-MSFT commented on #55419
@masnider Can you please add your comments on this ask.

[2020-05-22 13:52] VikasPullagura-MSFT commented on #55200
@ratanparai Thanks for sharing the details.
As this needs more deeper investigation, recommend to open a support case for this issue so support team can troubleshoot.

If you don't have the ability to open a technical support ticket, you can email me with Subject as "ATTN: Vikas" at AzCommunity@microsoft.com and provide me with your SubscriptionID and [link](https://github.com/MicrosoftDocs/azure-

[2020-05-22 13:52] #55200 closed

[2020-05-22 13:55] ggerogiokas commented on #49400
... aw so you do need the tag.  works now.

[2020-05-22 13:58] DixitArora-MSFT commented on #55055
@guythetechie maxAutoRenewDuration is the max limit after which the message pump stop renewing the lock of a message. Until that time it keeps renewing the lock periodically.

For more information follow [Github](https://github.com/Azure/azure-service-bus-java/issues/71) and this [SO](https://stackoverflow.com/questions/60377595/what-is-the-role-of-maxautorenewduration-in-azure-service-bus) thread

[2020-05-22 13:58] #55055 closed

[2020-05-22 14:01] DixitArora-MSFT commented on #55461
@sonampanchmiya Thank for reaching out. Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

Also This channel is for driving improvements towards MS Docs, for any product related question/issue I would recommend y

[2020-05-22 14:02] DixitArora-MSFT commented on #55453
Hi @jurjenoskam Thanks for your feedback. We will review and update as appropriate.

[2020-05-22 14:03] tfitzmac commented on #54642
@howardjones - thanks for this feedback. I am testing the options available in the latest version, and will update this article.

[2020-05-22 14:03] DixitArora-MSFT commented on #55454
@spelluru  Appreciate your inputs in this ?

[2020-05-22 14:05] amanmcse commented on #30802
Hi Everyone,
If you have Federated authentication enabled for user sign-in, you get redirected to the federated IDP for credentials validation. Now when you are using ROPC flow via postman, this redirection is not possible and it results in Invalid username or password error.

In order for this to work, you would need to disable federated authentication and use managed authentication so that AAD c

[2020-05-22 14:07] lucianoybanez commented on #50030
We resolved the issue changing the integration runtime

[2020-05-22 14:10] antonmatsiuk opened #55473 "Public IP of VPN Clients with custom routes via VPN Gateway"
While adding a custom route to a public IP as described on this page, which client's source IP will be visible on the remote resource i.e. storage account in this case? Will it be the public IP of the VPN Gateway? Does VPN Gateway do NATing of clients in this case? I'm trying to set up this scenario to pass traffic to AKS API server public IP via VPN Gateway and to whitelist source IP on AKS API s

[2020-05-22 14:11] mikegoatly opened #55474 "Microsoft.SQL/Server/databases title should be Microsoft.SQL/Servers/databases"
The resource type is Microsoft.SQL/Server*s*/databases so the title should reflect that.

Given it's such a trivial change, I'd be happy to put together a PR for this as well once I've got the repo cloned locally and read through the contribution guidelines.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b92884e-4bca-

[2020-05-22 14:37] #54642 closed

[2020-05-22 14:41] tfitzmac commented on #54642
@howardjones - I have fixed the commands for deployment operations. The update will be published today. I had to update to Azure CLI 2.6.0 because there was a change in the deprecation message.

Thanks again for making us aware of this error in the docs.

[2020-05-22 14:42] #55466 closed

[2020-05-22 14:43] smogaa commented on #55466
The Issue was resolved!

[2020-05-22 14:44] spelluru commented on #53703
See the full code here. I have a link to it from the article. I will review and fix the article.

https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/eventhub/azure-eventhub/samples/async_samples/recv_with_checkpoint_store_async.py

    await client.receive(
        on_event=on_event,
        starting_position="-1",  # "-1" is from the beginning of the partition.
    )

The code in this

[2020-05-22 14:49] SadiqhAhmed-MSFT commented on #55386
@bharathsreenivas For more insights.

[2020-05-22 14:51] GiftA-MSFT commented on #54866
@davenull311 will proceed to close this thread, but comment down below if you have additional concerns and we can reopen the issue. Thanks.

[2020-05-22 14:51] #54866 closed

[2020-05-22 14:59] ZanderFick commented on #49400
Thanks!

[2020-05-22 15:03] benbucksch commented on #30802
@amanmcse : Sorry, but you're speaking a different language than I do ("federated IDP", "ROPC", "ADAL" etc.). But:

I think that you're assuming a different situation. You seem to be presuming that I'm a domain admin ("you would need to disable federated authentication"). I am talking from the perspective of a software developer that needs to authenticate their users. It must work for all users, n

[2020-05-22 15:07] SumanthMarigowda-MSFT commented on #55428
@marcelmedina Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-22 15:08] SumanthMarigowda-MSFT commented on #55431
@hisasima Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-22 15:11] davida1992 commented on #39287
So do I need a Connection Request Policy setup on the server that is running the Azure NPS Extension? At the moment all I have is the default on in there that is the "Use Windows Authentication for all users".

[2020-05-22 15:17] harley1011 commented on #55468
Ah okay, I found this post https://techcommunity.microsoft.com/t5/windows-virtual-desktop/windows-client-for-spring-update-2020-subscription-error/m-p/1390215

[2020-05-22 15:20] SatishBoddu-MSFT commented on #55321
@suhas9844 , This is now fixed, please continue/try creating new IoT Edge deployment from Azure portal.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

![image](https://user-images.githubusercontent.com/62923178/82682775-a62d2480-9c04-11ea-8fef-13d36527

[2020-05-22 15:20] #55321 closed

[2020-05-22 15:26] ssindhuvmo opened #55475 "Run the user flow"
How do we run this user flow created? After creation of the flow I do not see an option to run it

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c05d9cd-275d-4585-f25f-fa5b88f1ec10
* Version Independent ID: a3d263e6-20a6-9cea-f60c-a9f772a7f444
* Content: [Add a self-service sign-up user flow - Azure AD](https://docs.micro

[2020-05-22 15:27] jperl commented on #52418
It seems that the field was deprecated https://github.com/jetstack/cert-manager/issues/2761#issuecomment-605879129

[2020-05-22 15:27] johnkors opened #55476 "close_pull_request_job"
Hi, could you document what this does in practice?

Does it mean that it's going to de-provision some infrastructure, or why is this essential?

Also, can I find the secret being set into Github Secrets when provisioning the first time from Azure in the Azure Portal somewhere?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-05-22 15:31] martingbrown opened #55477 "OpenSSH is now an optional windows feature"
Just a thought, but you might want to mention that OpenSSH is now available as an optional part of windows and does not require the sub-system for Linux.

https://docs.microsoft.com/en-us/windows-server/administration/openssh/openssh_overview

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69db0238-ad2d-43b9-52db-2f2fad

[2020-05-22 15:31] ejspencer commented on #55443
Hello,

That is not what I see when I use the Azure portal. Even just two minutes
ago, this is what I see.

[image: image.png]

I have cleared my cache without the option appearing. Is there some other
way of accessing it?

Regards,
Emery Spencer

On Fri, May 22, 2020 at 5:30 AM AmanpreetSingh-MSFT <
notifications@github.com> wrote:

[2020-05-22 15:33] DibyodyutiMondal commented on #55433
I was finally able to delete the second b2c tenant.
I'd like to present the entire process.

I have a **personal account**: `my_personal_account@domain.com`
I have a **default directory** with a domain: `my_personal_account.com` created using the 'personal account'.
I have a **b2c directory** with a domain: `my_personal_b2c_account.onmicrosoft.com` linked to a resource inside the 'default director

[2020-05-22 15:40] davida1992 opened #55478 "MFA for only specified AD Groups/OUs"
From the setup on the Gateway server, in RD Gateway Manager it looks like on the RD CAP Store we are forwarding all auth requests to the remote NPS Server. I take it there is no method of forwarding only certain traffic to the remote server?

Essentially our goal is to make it so that some staff in some OUs/AD Groups are forced to MFA. Others should just be allowed in directly.

Otherwise, if MFA

[2020-05-22 15:49] ianc911 commented on #39287
Yes, whatever server has the NPS extension installed and will be processing the authentication request from the remote NPS server will need a CRP to match that request...

[2020-05-22 15:52] rbhanot4739 commented on #53703
I already checked the full code but there is another bug with full code, it is missing the eventhub name which need to be supplied to make it work. You might want to test /fix that as well.

[2020-05-22 16:00] DavidTrigano commented on #55446
Hello @demetrioi

At this stage, the only supported way to read large amount of data is by using Event Hub.

[2020-05-22 16:09] Chai-NED opened #55480 "Application and Service Principals ?"
Could you add example from an Azure Portal itself to make this easier for readers? This way I would be able to equate it to my own tenant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c12e139-8cb6-dd6d-2e08-89d4f22c7eef
* Version Independent ID: 675b5ee9-bfe6-344f-7b39-ca0e2bc18b9b
* Content: [Apps & service princip

[2020-05-22 16:11] demetrioi commented on #55446
Hi David I think that are Event Hub or Log Analytics.

There is 3 options

1 - Blob Store saves Xel file
2 - Log Analytics
3 - Event Hub generate json files that we can save to blob store

The last 2 support large amount of data. Just blob store that save data as xel.

My suggestion to the future is to save data as json at blob store also, instead of xel format.

[2020-05-22 16:12] amanmcse commented on #30802
@benbucksch Yes, it makes sense to provide a different error in this case and you can provide a feedback regarding this on https://feedback.azure.com which is monitored by the product team.

But, to return a different error certain checks would be required to perform and it will be complicated task to perform those checks which may affect the overall time to provide authentication response. Maybe

[2020-05-22 16:14] asergaz commented on #55053
Hello @frvigano , [on the doc](https://docs.microsoft.com/en-us/azure/azure-maps/choose-pricing-tier) you opened this issue at, I can't find any section "Other Map Services", can you be more specific?

Thanks

[2020-05-22 16:14] spelluru commented on #53703
@rbhanot4739 - Thanks for the feedback. Our SDK devs create and test them before publishing.

The article uses connection string to the namespace, so the event hub name has to be explicitly specified.

The sample in the GitHub repo uses the connection string to the event hub (not the namespace). That's why an event hub name not specified.

BTW, if you see an issue with SDK samples, you can submit

[2020-05-22 16:19] benbucksch commented on #30802
@amanmcse : Thanks for your acknowledgment! That is appreciated.

Given that this is an error situation, a slower response is fine, if that gives a more correct response.

[2020-05-22 16:21] #55455 closed

[2020-05-22 16:24] benbucksch commented on #30802
@Everybody affected by this:

and as the document referenced by @CelesteDG says:

[2020-05-22 16:27] stefangordon commented on #34958
For others confused here, the docs are indeed outdated and also wrong, as capitalized `Extensions` was never correct.  This has changed in newer ARM template schemas and `extensions` is no longer valid in the schema, only `Microsoft.Compute/virtualMachines/extensions`.

People are getting different results because they have a different schema version in the top line of their ARM template.

Newer s

[2020-05-22 16:28] amanmcse commented on #30802
@benbucksch Please post a feedback and share the feedback link here. So that others can vote on your feedback.

[2020-05-22 16:28] Bozhong68 commented on #54582
Azure does not have a norm for inference compute resource requirement as it really depends on type of models and the size of model. Large model requires large memory and # of cores. Model inferencing usually is more memory intensive than CPU intensive, hence we allow specifying CPU with 0.1 incremental and memory with 0.5 incremental. Specifying CPU with float allows customer to deploy more models

[2020-05-22 16:28] jorge-aguas opened #55482 "simpler command to check expiry"
basically the same idea, just avoids having to type to cluster name (get it from kubectl config) and pipe everything in one line:

kubectl config view --raw -o jsonpath="{.clusters[?(@.name == '$(kubectl config current-context)')].cluster.certificate-authority-data}" | base64 -d | openssl x509 -text | grep -A2 Validity

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2020-05-22 16:28] frvigano commented on #55053
In our pricing we mention that some limits or price to call to “Other Services”.

When we list all the services of Azure Maps, it would be worth to list what are classified as “Other Services”

F.

From: António Sérgio Azevedo <notifications@github.com>
Sent: venerdì 22 maggio 2020 18:15
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Francesco Viganò <frvigano@microsoft.com>; Men

[2020-05-22 16:39] benbucksch commented on #30802
https://feedback.azure.com/forums/34192--general-feedback/suggestions/40491214-aadsts50126-invalid-username-or-password-return

@Everybody: Please vote for it, and maybe even point your paid support to it.

[2020-05-22 16:41] SNVSNANNAPA commented on #55386
@SadiqhAhmed-MSFT I didn't find any comments from @bharathsreenivas in https://github.com/MicrosoftDocs/azure-docs/issues/50617. Are you pointing to comments from @bsiva ? Just checking if this is assigned to correct person.

[2020-05-22 16:42] JAK1047 commented on #55093
I see the installation steps updated, but I don't see any change in OS Support which was the original issue. Does that mean NVv4 does not support Windows 1909 and above?

[2020-05-22 16:44] vikancha-MSFT commented on #55093
@JAK1047  Windows 10 1909 and above is not yet supported on NVv4. We are working to add support for 1903, 1909 and then keep up with newer releases like 2004. We dont have an ETA to share at the moment

[2020-05-22 16:45] koechkevin opened #55483 "Non vscode users"
[Enter feedback here]
This is a very helpful doc in deploying a node js app. However it does not cover for users who do not use VSCode for development. I think it would be a good idea to highlight in this doc how users can deploy from github.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b0165d7-6462-842c-76ec-1a1f34

[2020-05-22 16:46] stephbaron commented on #55474
Thanks, I'll get this updated

[2020-05-22 16:46] e-saiz opened #55484 "Enable developer access to the API server (section)"
Please, It would be useful add the FW PUBLIC IP in this step (or the link below), if not the nodes goes to notready. Thank you

https://docs.microsoft.com/en-us/azure/aks/api-server-authorized-ip-ranges#create-an-aks-cluster-with-api-server-authorized-ip-ranges-enabled

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d7

[2020-05-22 16:50] SadiqhAhmed-MSFT commented on #55386
Sorry, my bad. @bsiva For an update on this issue.

[2020-05-22 16:55] asergaz commented on #55053
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-22 16:58] msangapu-msft commented on #54411
Hi @tomkuijsten  - the web sockets limit applies to the **inbound** connections to the application established using web sockets.  The other number (in this case 1920) applies to the **outbound** network traffic generated by an app running on a worker (in this case an S1 instance).

Hope that helps! If you have additional questions based on your app, I'd recommend you open a support ticket so some

[2020-05-22 17:06] davidsmatlak commented on #53936
#assign:davidsmatlak

[2020-05-22 17:08] roygara commented on #55409
@tdgray Thanks for reaching out, I've gone ahead and contacted the product team for clarification regarding this.

My current understanding is that the correct unit is MiB but, they'll confirm. Not sure why the portal is displaying MB (I verified that it is), even for standard disk types) but we'll look into it.

Regarding that schema, those are either ultra disk or shared disk specific entries. B

[2020-05-22 17:09] himanshusinha-msft commented on #55460
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-05-22 17:10] FireBelow commented on #54710
Thanks, I made a similar conversion in my code. The existing code works for
the current example but when I tried to open the json in a browser the json
parser didn't like the single quotes. Thanks

On Mon, May 18, 2020, 10:28 PM Ram <notifications@github.com> wrote:

[2020-05-22 17:12] GiftA-MSFT commented on #55452
@DStekel3 we will review your feedback and get back to you shortly. Thanks.

[2020-05-22 17:14] e-saiz commented on #55484
I have just seen that FWPUBLIC is in command

--api-server-authorized-ip-ranges $FWPUBLIC_IP

Then change the syntax of this to add the new IP :

# Add to AKS approved list
az aks update -g $RG -n $AKS_NAME --api-server-authorized-ip-ranges $CURRENT_IP/32, $FWPUBLIC_IP

[2020-05-22 17:17] pavankumarda2136 commented on #10180
Hello Team, is there any way to change authentication method to connect sql db from username to service principal in sql server database ?

[2020-05-22 17:20] pjdennis opened #55486 "Unable to locate package nodejs"
Followed instructions exactly on this page but when from the "Install Node.js section when running the command "sudo apt-get install -y nodejs" receive the error "Unable to locate package nodejs"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d96bb1f6-db30-0051-c1d7-341dc170c392
* Version Independent ID: 2a5fec2c-2650-

[2020-05-22 17:24] pjdennis commented on #55486
OK so I resolved this error by running "sudo apt-get update" before "sudo apt-get install nodejs". I suggest updating the tutorial to include the update step (assuming it's the most appropriate fix, of course)

[2020-05-22 17:25] roygara commented on #55282
@kcnighsurf Thanks for reaching out, this is the conceptual article for snapshots, and does not include how-to instructions.

For scripting snapshot creation (and other things), we have a [PowerShell](https://docs.microsoft.com/en-us/azure/storage/files/storage-how-to-use-files-powershell#create-and-manage-share-snapshots) how-to article and a [CLI](https://docs.microsoft.com/en-us/azure/storage/f

[2020-05-22 17:26] artisticcheese opened #55487 "Where do you find complete list of acceptable values for assignment file?"
Per document https://docs.microsoft.com/en-us/powershell/module/az.blueprint/new-azblueprintassignment?view=azps-4.1.0 it says there is some sort of sample available somewhere but I can not find any. The only example is on this page. For example I can not figure out if blueprint version is accepted in assignment file as a parameter

---
#### Document Details

⚠ *Do not edit this section. It is req

[2020-05-22 17:34] #55273 closed

[2020-05-22 17:40] LRomandine opened #55488 "Add an account is missing link"
Under the section "Add an Azure EA account" the very last sentence looks like it should contain a link to "Add an account" but there is no link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97154f08-4e08-e3b9-bd7f-b399aeb763ef
* Version Independent ID: 56c611c8-ce10-caa0-f48c-41237c5a8151
* Content: [Azure EA portal

[2020-05-22 17:42] bsiva commented on #55386
@SNVSNANNAPA : Which replication scenario are you using?

[2020-05-22 17:42] Karishma-Tiwari-MSFT commented on #55468
Thanks for sharing the update.

[2020-05-22 17:42] #55468 closed

[2020-05-22 17:43] SaurabhSharma-MSFT commented on #55480
@Chai-NED Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-05-22 17:45] SaurabhSharma-MSFT commented on #55464
@abhishek0818 Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-22 17:45] Karishma-Tiwari-MSFT commented on #55413
This has been fixed.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-05-22 17:45] #55413 closed

[2020-05-22 17:45] Heidilohr commented on #55380
@Karishma-Tiwari-MSFT I've gotten in touch with the product team and they're looking into it.

[2020-05-22 17:45] SaurabhSharma-MSFT commented on #55478
@davida1992 Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-22 17:45] #55461 closed

[2020-05-22 17:46] sonampanchmiya commented on #55461
Will create issue in stack overflow

[2020-05-22 17:49] Karishma-Tiwari-MSFT commented on #55378
@jimzim Can you please share your insights on this customer issue? Thanks :)

[2020-05-22 17:50] #55276 closed

[2020-05-22 17:52] KehindeOwens opened #55489 "Deny Cloud Shell Access"
I am building a policy that needs to deny cloud shell usage; I can not find the resource provider for this service though. If you can provide that it would be appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ccf23ec-8d85-84fb-2c46-61a414d466ef
* Version Independent ID: 52b6949e-8ea5-c0c7-d0ab-7bf0ba9ed076
*

[2020-05-22 17:53] porrascarlos802018 commented on #39725
in comparison vmss vs virtual node, how long should a deployment take , longer than vmss is that expected?

if customer plans to run a 50GB postgree database is that doable on a virtual node?

please clarify on capacity and limits of this service.

[2020-05-22 17:55] Karishma-Tiwari-MSFT commented on #55378
@nihaozh I am reaching out to the product team. Meanwhile, can you please confirm that you are assigning the SP as contributor to the **current subscription** that is being used to create the resources.

[2020-05-22 17:55] jluk commented on #39725
@MikkelHegn / @macols could you field these questions please?

[2020-05-22 17:56] Karishma-Tiwari-MSFT commented on #55364
Can you please share the section of the doc you are referring to in Module 2, as asked above. Thanks.

[2020-05-22 17:56] Karishma-Tiwari-MSFT commented on #55288
@emacdona Is there an update?

[2020-05-22 18:00] ArvindHarinder1 commented on #54699
#please-close

[2020-05-22 18:00] #54699 closed

[2020-05-22 18:03] SNVSNANNAPA commented on #55386
@bsiva I'm looking for both agent based and agent less scenarios. If either of the scenario has supported APIs please let us know.

[2020-05-22 18:12] BharathNimmala-MSFT commented on #55445
@mboppe Thank you for your query, we will look into this and get back to you at the earliest.

[2020-05-22 18:13] Karishma-Tiwari-MSFT commented on #53728
Thanks for sharing the update. I will share this feedback with the content team and update the doc as needed.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-05-22 18:13] #53728 closed

[2020-05-22 18:15] rajkumar-rangaraj opened #55490 "Document about dimension with high cardinality"
There should be ab advise about what kind of values should be used as dimensions. We should recommend users to use low cardinal values for dimensions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd881c48-d5ae-45b5-7225-2633c523b48f
* Version Independent ID: 7f35db02-2944-7453-85ec-a5816a635fa1
* Content: [Get-Metric

[2020-05-22 18:16] BharathNimmala-MSFT commented on #55214
@dynamodhiraj  Since we have not heard back from you we will now proceed to close this thread. However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2020-05-22 18:16] #55214 closed

[2020-05-22 18:20] DavidTrigano commented on #55446
Hi @demetrioi

Many thanks for your feedback.
@KalyanChanumolu-MSFT you can go ahead and archive this ticket.

[2020-05-22 18:21] gbrandonparga opened #55491 "fatal: unable to access 'https://github.com/azure-samples/dotnetcore-sqldb-tutorial/': The requested URL returned error: 403"
I get this issue when i try to publish to my github account.  Anyone have any ideas?

fatal: unable to access 'https://github.com/azure-samples/dotnetcore-sqldb-tutorial/': The requested URL returned error: 403

[2020-05-22 18:22] Grace-MacJones-MSFT commented on #55483
Hi @koechkevin, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2020-05-22 18:22] MrAusnadian commented on #54898
Any update? Here's some additional information which may be helpful to you:
[code]

[2020-05-22 18:32] stephbaron commented on #55474
This change has been merged and will go live next week.

[2020-05-22 18:34] muhasinem commented on #52462
I got the same error and unable to use cloud shell .

MOTD: Switch to PowerShell from Bash: pwsh

VERBOSE: Authenticating to Azure ...
Out-File: /opt/microsoft/powershell/7/profile.ps1:143
Line |
 143 |              $addAzAccountParameters.Keys > $azErrorPath
     |              ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     | Read-only file system

VERBOSE: Building your Azure drive ...

[2020-05-22 18:44] muhasinem commented on #52462
Issue is fixed by recreating the cloud shell on another region .

[2020-05-22 18:47] MarileeTurscak-MSFT commented on #54680
Yes, that's correct.

"JIRA server is reachable on internet particularly to Azure AD Login page for authentication and should able to receive the token from Azure AD."

@jeevansd

If you have further questions feel free to ask in [Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-active-directory.html)

[2020-05-22 18:50] mohanrao opened #55492 "documentation missing for AAD of user login"
After following the above documentation and when a user tries to do az aks login we get the following error.

The client '&lt;user-name&gt;' with object id '&lt;userid&gt;' does not have authorization to perform action 'Microsoft.ContainerService/managedClusters/listClusterUserCredential/action' over scope '/subscriptions/&lt;subscriptionid&gt;/resourceGroups/&lt;resourcegroupname&gt;/providers/Mi

[2020-05-22 19:03] MarileeTurscak-MSFT commented on #54779
Yes, you need Microsoft.Identity.Web v0.1.2-preview

This is documented here: https://docs.microsoft.com/en-us/dotnet/api/microsoft.identity.web.webappservicecollectionextensions.addwebappcallsprotectedwebapi?view=azure-dotnet-preview

Here is the full documentation of Microsoft.Identity.Web: https://docs.microsoft.com/en-us/dotnet/api/microsoft.identity.web?view=azure-dotnet-preview

Hope this he

[2020-05-22 19:03] #54779 closed

[2020-05-22 19:09] KranthiPakala-MSFT commented on #55355
@haymansfield We will pass this feedback to internal team. Thanks again for the feedback.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-05-22 19:09] #55355 closed

[2020-05-22 19:11] AmitavaHazra opened #55493 "How to configure Password expiration notification from Azure Portal"
Password expiry notification (When users are notified of password expiration) : It can be done using PowerShell. then how can we change default notification mail for expiration to end user ?

Or,
Is there way to set default password expiry notification policy and to customize default mail using Azure Portal. ??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2020-05-22 19:17] MonikaReddy-MSFT commented on #55490
@rajkumar-rangaraj - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-05-22 19:20] augustnmonteiro commented on #54550
👍

[2020-05-22 19:21] DCtheGeek commented on #55487
#assign:DCtheGeek

[2020-05-22 19:24] kcnighsurf commented on #55282
Thanks @roygara I did see that article and it shows how to create a snapshot with CLI, I can do that in ARM-UI also but I still don't see intructions to SCHEDULE snapshots, Do you have the URL? I looked herehttps://docs.microsoft.com/en-us/azure/storage/files/storage-how-to-use-files-cli#create-and-manage-share-snapshots

[2020-05-22 19:27] ecfan commented on #52103
@anttitoippa, this info will be added to the doc, thanks!

@PramodValavala-MSFT: Please change label to doc-enhancement, thanks!

[2020-05-22 19:29] DCtheGeek commented on #55487
@artisticcheese Thanks for the question.  The examples that reference articles mentions and links to are [available here](https://github.com/Azure/azure-rest-api-specs/tree/master/specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/examples). In the folders at that location are a examples of a blueprint definition and a blueprint assignment at both the subscript

[2020-05-22 19:29] #55487 closed

[2020-05-22 19:33] nofield commented on #54950
@sebader the fact of the matter is, it **is** supported, because it works. If it is only partially supported, where is that in the documentation? Also, as someone in the issue you pointed out, "This feature really does need a LATEST VERSION of a secret to be useful here. Hard-coding secret version numbers is doomed to failure".  You can't expect users to need to go hunting through all github issue

[2020-05-22 19:46] jeremyhager commented on #52008
For others like me that were searching for this and "communications credits", you should be able to find these String IDs here: https://docs.microsoft.com/en-us/skypeforbusiness/skype-for-business-and-microsoft-teams-add-on-licensing/assign-skype-for-business-and-microsoft-teams-licenses#how-to-assign-phone-system-and-calling-plan-licenses-in-bulk

Hope this helps

[2020-05-22 19:47] mok-code commented on #34451
I was struggling with this todau and have just got it working after setting **BOTH** PORT and WEBSITES_PORT values. Either one on its own didn't work.

[2020-05-22 19:49] ran-ten21 opened #55494 "when can gov cloud get this?"
Do we have any eta for when gov cloud could have this feature? Is there any other way for customer to get CVEs listed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 747a2c52-c59c-dedc-9c72-6b6352ea2cab
* Version Independent ID: 07e64d3e-26da-be39-de53-6e259c90545f
* Content: [Built-in vulnerability scanner in Azure Se

[2020-05-22 19:58] artisticcheese commented on #55487
@DCtheGeek So it's impossible to use assignment file to assign specific version of published blueprint definition? It's possible to do it via portal (choose specific version of blueprint to assign).

[2020-05-22 20:00] spelluru commented on #54760
Looks like Jess (.NET SDK owner) has already updated the article.

#please-close

[2020-05-22 20:00] #54760 closed

[2020-05-22 20:01] rwallerms opened #55495 "Is local development and testing not supported?"
Can you fall back to regular type parameters or default values for local cluster deployments and testing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d9706bb-4b9e-c17d-8c00-a69d10e47f81
* Version Independent ID: 9d7f41f2-05b3-f638-00c4-bc10698d591f
* Content: [Azure Service Fabric - Using Service Fabric application

[2020-05-22 20:05] roflemin opened #55496 "Can you add that CIS Benchmark Market Place Virtual Machines are not supported"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-05-22 20:06] NavtejSaini-MSFT commented on #55090
@susanlinsfu Thanks for the feedback. We will go ahead and close this thread for now.

[2020-05-22 20:06] #55090 closed

[2020-05-22 20:07] Mike-Ubezzi-MSFT commented on #55090
@susanlinsfu Logical and Physical partition discussions with Cosmos DB are super helpful here as they assist other customers who read the documentation along with these issues to gain more insight than what the doc might be able to convey. As for the topic of embedding content in a document or referencing external content in a hybrid scenario, the following doc is helpful: [Data modeling in Azure

[2020-05-22 20:07] roflemin commented on #55496
Can you add that CIS Benchmark Market Place Virtual Machines are not supported. Due to the nature of a CIS Benchmark it is not possible to act as a Syslog Forwardedr Can we get a clear statement for this type of installations?

[2020-05-22 20:10] DCtheGeek commented on #55487
I misstated, blueprints can have different published versions and you are correct that you can assign different versions from the portal.  When you fetch the blueprint definition, use the **Version** parameter to get the one you want to assign and then pass that blueprint object to the assign cmdlet.

[2020-05-22 20:12] artisticcheese commented on #55487
@DCtheGeek I don't fetch blueprint definition, I pass assignment file to `New-AzBlueprintAssignment` cmdlet with only -Name parameter. I'm trying to provide the rest of information in assignment file

[2020-05-22 20:14] ArvindHarinder1 commented on #53940
As a shorter term mitigation, we are working on identifying a smaller list of IP ranges next week. Will respond back with the details.

[2020-05-22 20:20] Mike-Ubezzi-MSFT commented on #55462
@mafais Did you look at the additional metrics in the Database Utilization Blade? If you are not seeing the desired calculations, the SQL Analytics functionality of Azure Monitor is your best option. Please see: [Monitor Azure SQL Database using Azure SQL Analytics (Preview)](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/azure-sql#azure-sql-analytics-options)

[2020-05-22 20:21] artisticcheese commented on #55487
@DCtheGeek  I assign just fine without passing that value as a parameter. Below is example of definition file which specifies bluepting

[code]

[2020-05-22 20:25] SatishBoddu-MSFT commented on #55465
@payalgaikwad42 I have assigned the issue to the content author @dominicbetts for further review and update the doc as appropriate.

[2020-05-22 20:26] rwallerms commented on #50495
The Prerequisites link for Managed Identity in this article says to enable Managed Identity at the Application level - here's the ARM template reference:  https://docs.microsoft.com/azure/templates/microsoft.servicefabric/2020-03-01/clusters/applications

[2020-05-22 20:26] MarileeTurscak-MSFT commented on #55092
Hi @jackmusick,

I agree with you that this would be useful, though currently there is no existing functionality for this.

However, if you make a request in [User Voice](https://feedback.azure.com/) and link it here, the product team can triage that request and add this into their feature requirements.

Hope this helps! If you have further questions feel free to reach out in[ Q&A](https://docs.mi

[2020-05-22 20:29] dlepow commented on #55036
Doc update published. Thanks again for raising the issue.
#please-close

[2020-05-22 20:29] #55036 closed

[2020-05-22 20:32] ecfan commented on #55056
@DixitArora-MSFT: Please change label to "doc-enhancement? Thanks! I pushed an update to clarify the URL reference for the Swagger file in Azure Blob Storage.

[2020-05-22 20:32] Mike-Ubezzi-MSFT commented on #55139
@aks1994 There is currently no visible plans to allow switching between local-redundant and geo-redundant backup storage. Can you please create a [UserVoice](https://feedback.azure.com/forums/597982-azure-database-for-mysql) entry for this request as I do not see anything related to this. The product group may have something on their roadmap as this would be a logical progression of this feature b

[2020-05-22 20:34] Mike-Ubezzi-MSFT commented on #55139
@aks1994 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-22 20:34] #55139 closed

[2020-05-22 20:34] ronswanson22 commented on #55443
I'm not see the "Single-page application" option either.

[2020-05-22 20:36] CKeene78 commented on #10158
I had to create a route for the Reply URL.

Took me while to figure out that the requesting URL and reply URL *cannot* be the same! Had to add a route to receive the token, extract the token, and then call & supply the token to the original requesting URL.

1. Requesting URL: https://funcsarc-msgraph.azurewebsites.net/api/ProfilePhotoAPICSharp2
2. Reply URL: https://funcsarc-msgraph.azurewebsites.

[2020-05-22 20:38] ecfan commented on #48272
#assign @ecfan

[2020-05-22 20:44] roygara commented on #55282
@kcnighsurf You wouldn't schedule a snapshot. In your environment, you'd schedule a CLI/PowerShell script to run at particular intervals.

[2020-05-22 20:45] ronswanson22 commented on #55443
<img width="290" alt="no_spa" src="https://user-images.githubusercontent.com/65788735/82708162-38ecb400-9c43-11ea-8689-070dda27ab3a.png">

[2020-05-22 20:45] roygara commented on #55282
I don't think there is a way to schedule a snapshot, I don't see anything like that in the SDK. I'll ask the product team to be sure but, pretty sure you'd schedule your script, instead.

[2020-05-22 20:47] SatishBoddu-MSFT commented on #55434
@amit12cool How many IoT hub receiver partitions have you created ? Please see below another way to quick test D2C Messages in the VS Code console, let us know if you see any issues.

![D2C_Monitor_VS](https://user-images.githubusercontent.com/62923178/82708209-8ca2d180-9c32-11ea-96a5-57dfd0aea6d5.gif)

[2020-05-22 20:50] santhoshbomma9 opened #55497 "Is the email really generated? when a lead is created"
I have worked with many ISVs and I think the emails are not being sent out. Can we check this please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1a60d4c-0a7a-4deb-9687-047e3041acfe
* Version Independent ID: 2e2137fa-b152-1220-8855-23e33fcfb966
* Content: [Lead management from Microsoft commercial marketplace](http

[2020-05-22 20:51] DCtheGeek commented on #55487
@artisticcheese Thanks for clarifying, I didn't understand that you were using a JSON assignment file instead of the pipeline.

I had to dig around to figure this out, but the `Get-AzBlueprint` cmdlet with the **Version** parameter was what solved it for me.  When I use that cmdlet and parameter, the object I'm given back has an Id like:

`/subscriptions/{subId}/providers/Microsoft.Blueprint/bluep

[2020-05-22 20:53] ronswanson22 commented on #55443
I should add that I am using Azure AD B2C. Maybe that is the issue???

[2020-05-22 20:54] roygara commented on #55282
@kcnighsurf It'll be a while until I hear back from the product team, I did some digging in the interim, you could use an [Azure recovery services vault](https://docs.microsoft.com/en-us/azure/backup/backup-afs) to accomplish this from the portal. I'll double check with the product team to make sure they're ok with it but, I think we should add this to the article. Thanks for bringing that up. :)

[2020-05-22 21:03] JAK1047 commented on #55093
Got it. Thank you!

[2020-05-22 21:04] Mike-Ubezzi-MSFT commented on #55185
@pmozbert You are going to need to add a service tag to your firewall rule for Azure Active Directory: See: Available [service tags](https://docs.microsoft.com/en-us/azure/virtual-network/service-tags-overview#available-service-tags)
In the case of Azure AD, you would add an Outbound Rule with the service tag: **AzureActiveDirectory**
Please let me know if you have additional questions.

[2020-05-22 21:06] kcnighsurf commented on #55282
[This article](https://microsoftonlineguide.blogspot.com/2020/05/azure-files-share-snapshot-management-by-azure-backup-is-now-generally-available.html) suggests you can now schedule Azure File Share snapshots using Azure Backup. Recommend this article reference Recovery Services Vault - Azure Backup where a min Daily Snapshot can be automated the easy way.

note: Min schedule is daily so if people

[2020-05-22 21:06] Mike-Ubezzi-MSFT commented on #55234
@yqxiaxia This appears to be a bug or product issue. Are you able to create a support request for this issue?

[2020-05-22 21:07] roygara commented on #54853
@alishavez7 Thanks for reaching out, you're correct, you don't need to stop and start the VM to detach a disk. We'll update the instructions accordingly, they should be live by the end of the day.

@Karishma-Tiwari-MSFT would you swap this to doc-enhancement? Thanks in advance.

#please-close

[2020-05-22 21:07] #54853 closed

[2020-05-22 21:08] kcnighsurf commented on #55282
Sorry just read your reply. Yes - A link to Azure Recovery Services that back schedule snapshots of Azure Files Shares is perfect. The only caveat is min schedule is once a day.

[2020-05-22 21:20] SaurabhSharma-MSFT commented on #53017
@jpb501 We have received the confirmation from Product team on this and currently PIM does not return all role assignments due to limitation from MSODS. The underlying query was not efficient so we only supported the role assignment by filter. In azure portal also we do not allow use to query all role assignments and ask user to select user before querying them.
However MSODS is currently working

[2020-05-22 21:24] hpsin opened #55498 "Move the endpoints to v2.0?"
We should ensure that developers start onboarding to the v2 endpoints as they're protocol compliant and easier to work with.  The authorities listed here are v1, so they do not interop with the protocol documentation provided everywhere else.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36ad8cf5-067f-6715-eabf-f0254d

[2020-05-22 21:25] kcnighsurf commented on #55282
@roygara Found the direct link to add https://docs.microsoft.com/en-us/azure/backup/azure-file-share-backup-overview

[2020-05-22 21:39] roygara commented on #55282
@kcnighsurf Thanks, I've staged a PR incorporating some discussion about this in the article, as well as the next steps link. I'll still need to work with the product team on the exact verbiage and so on but, changes should be live next week.

Did you have any other questions related to this I can help with?

[2020-05-22 21:40] kcnighsurf commented on #55282
No - Thanks.

[2020-05-22 21:43] lisaguthrie commented on #55294
Hi @BuddhaBuddy1, I'm not quite understanding your question. `IOptionsSnapshot` is indeed used for dynamic reloading. Can you explain your scenario in more detail?

[2020-05-22 21:44] Mike-Ubezzi-MSFT commented on #55449
@sasever We appreciate the making us aware of an issue but we need your assistance with the referencing documentation to which a correction needs to be made. If you are working with Oracle on Azure VMs, you are likely working from the following document: [Create an Oracle Database in an Azure VM](https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/oracle/oracle-database-quick-create)

[2020-05-22 21:46] abatishchev commented on #48272
@ecfan thanks! can you please reopen the issue for visibility?

[2020-05-22 21:49] davidsmatlak commented on #53936
@saikrishna-v I was able to reproduce the error and will continue to research the issue. I contacted the product team and will post an update when more information is available.

[2020-05-22 21:53] ecfan commented on #48272
Hi @abatishchev, thanks for reaching out. I'm not sure why the request to reopen this issue? The doc was updated here on April 17:

https://docs.microsoft.com/azure/logic-apps/logic-apps-azure-resource-manager-templates-overview#workflow-definition-and-parameters

[2020-05-22 21:54] Mike-Ubezzi-MSFT commented on #55450
@sasever Appreciate the additional feedback. I wanted to ensure you are working through the same document, which is: [Create an Oracle Database in an Azure VM](https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/oracle/oracle-database-quick-create).

We will investigate this further and make an update to the documentation as appropriate.

[2020-05-22 21:56] weinanshen commented on #50091
Hi @lmaxsmith and @codeFunny71, thanks for the advice, I've filed an internal bug [#26543435] to track.

[2020-05-22 21:56] jeffpatt24 commented on #55415
The Troubleshooting doc is correct. For Azure File Sync, the application name is either Microsoft.StorageSync or Hybrid File Sync Service. Hybrid File Sync Service is the application name that was originally used when Azure File Sync released. The application name has since been changed to Microsoft.StorageSync.

[2020-05-22 21:56] jeffpatt24 commented on #55415
#please-close

[2020-05-22 21:56] #55415 closed

[2020-05-22 21:59] jdanyow commented on #54633
@Tbohunek thanks for the suggestion 👏👏 This definitely could be improved. I've added a task to our product backlog.

@shashishailaj please close, we're tracking this internally [in devops](https://ceapex.visualstudio.com/Engineering/_workitems/edit/224618).

[2020-05-22 22:00] weinanshen commented on #54711
Close the issue since the problem has been resolved here, https://github.com/Azure/azure-spatial-anchors-samples/issues/172. Thanks!

[2020-05-22 22:05] Mike-Ubezzi-MSFT commented on #55469
@rt-oms Thank you for bringing this to our attention. We will step through this tutorial and identify the root cause and update the tutorial accordingly.

[2020-05-22 22:07] davida1992 opened #55499 "An NPS extension dynamic link library (DLL) that is installed on the NPS server rejected the connection request."
After following the instructions on this page:

https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-nps-extension-rdg

I am getting errors. I have tried servers restarts, restarting NPS service, reinstalling the NPS extension etc, but the error is still the same.

When trying to connect it immediately fails. Looking at the event viewer for Network Policy and Access Ser

[2020-05-22 22:11] starforce opened #55500 "I downloaded Microsoft.ServiceFabric.Powershell.Http on Powershell 7.1x64. But get error The term 'Connect-SFCluster' is not recognized"
Connect-SFCluster: The term 'Connect-SFCluster' is not recognized as the name of a cmdlet, function, script file, or operable program.
Check the spelling of the name, or if a path was included, verify that the path is correct and try again.
PS C:\Windows\System32&gt;  Get-InstalledModule

Version              Name                                Repository           Description
-------

[2020-05-22 22:12] abatishchev commented on #48272
Sorry, please disregard, got confused between issues.

[2020-05-22 22:12] weinanshen commented on #51344
Hi @tinhpv , thanks for reporting this, can you provide more details about "locating nearby anchors is not working fine"?

[2020-05-22 22:13] Mike-Ubezzi-MSFT commented on #55463
@bencalnan Please let us know if you are still seeking information about this topic. The answer is using [Azure AD B2C Identity Providers](https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-add-identity-providers), where 3rd Party platforms can be added as an optional identity provider.

[2020-05-22 22:14] SatishBoddu-MSFT commented on #55406
@Marusyk
Please have a look at the [Azure IoT DPS REST API dcumentation.](https://docs.microsoft.com/en-us/rest/api/iot-dps/)
Example:
* [Iot Dps Resource - Get](https://docs.microsoft.com/en-us/rest/api/iot-dps/iotdpsresource/get)
You can see the response which gives you a list of **IoT Hubs** which are connected to the DPS along with their **connection string**.

![image](https://user-images.git

[2020-05-22 22:16] mtsrdr commented on #49731
I'm facing this issue in my app. Any news?

[2020-05-22 22:16] Robert-Tortorelli opened #55501 "Instructions for Azure Sentinel Notebook need a link"
The following instruction needs a link or elaboration, as there's no obvious way to perform the indicated navigation from https://portal.azure.com/

"From the Azure portal, navigate to Azure Sentinel > Threat management > Notebooks, where you can see notebooks that Azure Sentinel provides."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-05-22 22:18] weinanshen commented on #54440
Hi @jelmerS2, thanks for reporting this, we will refresh our doc to be unambiguous, I've filed an internal bug [#26543435] to track.

[2020-05-22 22:21] Mike-Ubezzi-MSFT commented on #55475
@ssindhuvmo Thank you for making us aware of an issue you are facing. It would be helpful to understand any documentation you are following, as this channel is intended to address issues with the documentation. Product issues are best addressed via the forums. If you are following a tutorial or Quickstart, please provide that link.  Thank you.

[2020-05-22 22:21] medavamshi commented on #55378
Instructions are not clear.  Everytime the cluster is deployed a new service principal is created named aro-*  by the tool itself .  Assigning the contributor to an SP that doesn't exist is not possible.
After every failed attempt and a new attempt, cluster creates a new SP which do not have contributor rights.
Instructions should be updated to create an SP in advance with contributor rights and u

[2020-05-22 22:25] medavamshi commented on #55378
Cluster creation command creates a new sp everytime the command is ran for example.
aro-f43y7gd1
aro-lngkqxsh
aro-wsx3qm0r

[2020-05-22 22:26] medavamshi commented on #55378
Another pre-req.  Instructions should also mention what type of resources need to be increased in advance before the cluster is deployed.
Deployment failed. Correlation ID: *******************d. Resource quota of cores exceeded. Maximum allowed: 20, Current in use: 0, Additional requested: 36.

[2020-05-22 22:30] Mike-Ubezzi-MSFT commented on #55476
@johnkors Thank you for the inquiry. We are having the content team review this request and will update the documentation as appropriate.

[2020-05-22 22:34] TravisCragg-MSFT commented on #55472
@egorchabala Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-22 22:35] femsulu commented on #55497
Thanks for the raising this.
@qianw211  - what is the  escalation/support guidance for this issue?

[2020-05-22 22:37] MarileeTurscak-MSFT commented on #55092
Re-opening this because I have asked someone on the PG team to comment.

[2020-05-22 22:38] MarileeTurscak-MSFT commented on #55092
PG response:

We have an MSGraph API that can be used to manage security defaults. It's currently in Beta: https://docs.microsoft.com/en-us/graph/api/resources/identitysecuritydefaultsenforcementpolicy?view=graph-rest-beta

Hope this helps!

[2020-05-22 22:38] #55092 closed

[2020-05-22 22:40] TravisCragg-MSFT commented on #55473
@antonmatsiuk The client's source IP will be an address within the range of the client address pool that you configured when you created the VPN Gateway.

[2020-05-22 22:45] medavamshi commented on #55378
Create an SP in advance with contributor rights and use the clientid/client secret as below. This should work
az aro create --resource-group $RESOURCEGROUP --name $CLUSTER --vnet aro-vnet --master-subnet master-subnet --worker-subnet worker-subnet --client-id xxxxxxxxxxx --client-secret xxxxxxxxx

[2020-05-22 22:46] weinanshen commented on #54441
Hi @jelmerS2, the doc seems a bit out of date, the API has been desperate, please follow the unity sample here, https://github.com/Azure/azure-spatial-anchors-samples/blob/master/Unity/Assets/AzureSpatialAnchors.Examples/Scripts/DemoScriptBase.cs#L430. I've filed an internal bug [#26544109] to track. Sorry for the misleading.

[2020-05-22 22:48] SaurabhSharma-MSFT commented on #55202
@mateuszdrab There is no AAD Connect PowerShell cmdlets available for this.  I suggest you to please post this as a feedback at [UserVoice](https://feedback.azure.com/forums/169401-azure-active-directory). This will allow the community to upvote and for the product team to include into their plans. "This Product" button in at the bottom section of the document now to take you directly to the appro

[2020-05-22 22:48] #55202 closed

[2020-05-22 22:48] medavamshi commented on #53610
I would like to know what family , no of cores needed for this deployment to make a request for increase.  Cant find anywhere in the logs or the doc

[2020-05-22 22:51] medavamshi commented on #32607
Its a common issue we see with the resource group tagging mandate policies in-place. Most of the AKS, ACS or openshift deployments auto creates one or two resource groups as part of the deployment and with the tagging policy in-place, deployments fail.  Ability to pass the tags during the deployment for all these cluster solutions would really help and avoid turning off the policy to create the de

[2020-05-22 23:01] JonathanPalmerGD opened #55502 "Rest API with LUIS versions"
How do you query a specific version of your published LUIS application?

I thought it might be "versionIdstring" based on the other docs page, but I do not believe this to be the case after testing it.
Is there a way to use REST to query intent from a certain version?
What does it default to?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2020-05-22 23:01] awentzel opened #55503 "How do health probes impact price?"
It would be great to add a paragraph around how health probes will impact costs.  This is an important consideration in balancing optimal performance with the lowest price.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f35a0b39-ab2f-ba8a-0907-e0f3a6b69135
* Version Independent ID: 0e6c8267-a911-9c6b-0522-3ec96753b3ef

[2020-05-22 23:24] manish-jain-1 opened #55505 "This doesn't work for .net core 3.1 web api docker image"
There are much clear instructions here to enable SSH https://stackoverflow.com/questions/42704656/how-can-i-ssh-into-web-app-on-linux-docker-container-on-azure

Here's the error:
OCI runtime create failed: container_linux.go:346: starting container process caused \"exec: \\\"init.sh\\\": executable file not found in $PATH\": unknown

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-05-22 23:40] weinanshen commented on #54436
Hi @jelmerS2, the definition for GetPlatformPointer is here, https://github.com/Azure/azure-spatial-anchors-samples/blob/master/Unity/Assets/AzureSpatialAnchors.SDK/Scripts/SpatialAnchorExtensions.cs#L49, it's an extension method in SpatialAnchorExtensions.

[2020-05-22 23:41] jackmusick commented on #55092
This does help and I discovered it shortly after I made my comment. Thank you so much!

Jack Musick > Calendly<https://urldefense.proofpoint.com/v2/url?u=https-3A__calendly.com_jackatcovi&d=DwMFAg&c=euGZstcaTDllvimEN8b7jXrwqOf-v5A_CdpgnVfiiMM&r=u16qZlkizClSdFXsIoCPeZVdZrEhCXu4etZdgDIZ1Y8&m=JW7tJBD7udanMuNl1VjirK9hypqmo0icWZ-KYveMpqQ&s=3L64vBJ6wLCgPjc7ZoV5iyyYR8EZuMrjZ-TsoJDKdhw&e=>
Support 317.669

[2020-05-22 23:49] hbouzieh opened #55506 "Boot diagnostics Supportability with Storage Accounts Types"
I would highly suggest to add to this article the Storage Account types which is supported to be used as a boot diagnostics account.
within the article its mentioned that boot diagnostics doesn't support premium storage accounts, but it doesn't mention that the boot diagnostics doesn't support some of the types of the non-premium storage accounts as well.

this is kind of important, as the custome

[2020-05-23 00:10] sartoris opened #55507 "'Triggered By' column shows GUIDs"
It seems when a pipeline is 'triggered' by an 'Execute Pipeline' activity, the 'Triggered By' column displays a GUID. At first I assumed this was the RunId of the pipeline that contained the 'Execute Pipeline' activity but the values do not match. I can only assume the GUID is the 'name' of a trigger that is created by the 'Execute Pipeline' activity to insert into the run time engine. If this is

[2020-05-23 00:19] TravisCragg-MSFT commented on #55385
@thisispaulsmith [Here is a small troubleshooting section in the FAQ for backend HTTPS failing](https://docs.microsoft.com/en-us/azure/frontdoor/front-door-faq#why-is-https-traffic-to-my-backend-failing).  Keep in mind that Self Signed certificates will not work for backend HTTPs, only certificates from valid CAs are supported.

[2020-05-23 00:20] TravisCragg-MSFT commented on #54885
@cpa862 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-23 00:20] #54885 closed

[2020-05-23 00:20] TravisCragg-MSFT commented on #54990
@arijit-nanda Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-23 00:20] #54990 closed

[2020-05-23 00:25] TravisCragg-MSFT commented on #55049
@shivaniThakur93 Please review [This GitHub Issue where your error has occurred before](https://github.com/MicrosoftDocs/azure-docs/issues/45598). Are you using the Azure VPN Client? If so, please make sure your drivers and OS are up to date, and redownload the package and try again.

[2020-05-23 00:47] mattpatera-ych opened #55508 "Linux Container on App Service not being assigned PORT env variable"
We are running a Laravel app in a Debian Linux container on App Services. I have been trying to go through [This](https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet#troubleshooting) documentation to link up a VNet to the App Service, allowing it access to our SQL Server databases, but I'm running into issues getting the container to start when using the PORT environme

[2020-05-23 00:58] abhaybhangale opened #55509 "How do you do the same for feature flags?"
I see that there's a way to add labels to feature flags too. But I haven't found a handy method or some way to read and filter feature flags by their labels.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae5af4ea-811d-94c7-e9fe-c5a64ad4ebd1
* Version Independent ID: 31ed8aed-42d1-62d8-e5e4-466399647478
* Content: [Use

[2020-05-23 01:20] codemillmatt commented on #55428
@marcelmedina - yeah App Center auth is retired & data is too. I'll get these docs updated early next week. Thanks!

[2020-05-23 01:28] coffytan commented on #53339
As HMS is getting worldwide, outside of china, it is possible to open it for other countries?

[2020-05-23 01:41] MonikaReddy-MSFT commented on #55509
@abhaybhangale , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-05-23 02:10] #55500 closed

[2020-05-23 02:16] nihaozh commented on #55378
Tried the execution replacing with my SP client id and secret and executing in the same directory with my pull-secrets.txt,

az aro create --resource-group $RESOURCEGROUP --name $CLUSTER --vnet aro-vnet --master-subnet master-subnet --worker-subnet worker-subnet  --apiserver-visibility Private --ingress-visibility Private --pull-secret @pull-secret.txt --client-id xxxxxxxxxxx --client-secret xxxxx

[2020-05-23 02:38] ddarling85 opened #55510 "Article Update Suggestion"
[ Not sure if the PowerShell code should be updated but I didn't have the article commands on my Windows 10 system.  I did have the AzureRM commands.

Select-AzureSubscription -SubscriptionId <your-subscriptionId>
$vaultResourceId = (Get-AzureRmKeyVault -VaultName myvault).ResourceId
$vault = Get-AzureRmResource -ResourceId $vaultResourceId -ExpandProperties
$vault.Properties.TenantId = (Get-Azure

[2020-05-23 02:50] amit12cool commented on #55434
Please check below image.
<img width="704" alt="Capture" src="https://user-images.githubusercontent.com/6692132/82720127-308d8b00-9cce-11ea-934d-048eaeaebc3b.PNG">

[2020-05-23 03:33] femsulu commented on #55063
Hi @blueelvis  - yes, a single hybrid worker role can run multiple jobs in parallel. details [here](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#automation-limits).

![image](https://user-images.githubusercontent.com/34327711/82720751-62213a80-9c6b-11ea-9671-afa7a5db1cb6.png)

[2020-05-23 03:33] femsulu commented on #55063
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-05-23 03:33] #55063 closed

[2020-05-23 03:42] Karishma-Tiwari-MSFT commented on #55500
Is this resolved?

[2020-05-23 03:42] levi106 commented on #51800
Thanks @mbialecka
I've made sure your workaround works correctly.

[2020-05-23 03:43] starforce commented on #55500
NO.

[2020-05-23 03:44] Karishma-Tiwari-MSFT commented on #55471
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-23 03:45] Karishma-Tiwari-MSFT commented on #55477
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-23 03:46] Karishma-Tiwari-MSFT commented on #55482
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-23 03:47] Karishma-Tiwari-MSFT commented on #55484
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-23 03:49] Karishma-Tiwari-MSFT commented on #55486
Thanks for the feedback. We will keep the doc as is for now. However this issue would stay with the doc for others to reference. We will update the doc as we see similar feedback coming.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussio

[2020-05-23 03:49] #55486 closed

[2020-05-23 03:50] Karishma-Tiwari-MSFT commented on #55492
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-23 03:50] Karishma-Tiwari-MSFT commented on #55495
Thanks for the question. We are currently investigating and will update you shortly.

[2020-05-23 03:52] Karishma-Tiwari-MSFT commented on #55506
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-23 04:02] roongr2k7 commented on #55435
@vikancha-MSFT

I try with
- `--max-price 0.10`, `--max-price 1` and `--max-price -1`
- `--size Standard_E4a_v4` and `--size Standard_E8a_v4`
- create in another resource group in `eastus` and `westus`
but still got same error.

Here is cpu cores quota from `az vm list-usage -l southeastasia -o table`
[code]
`eastus` and `westus` the `Total Regional Low-priority vCPUs` quota is (current 0, limit 2

[2020-05-23 04:58] SumanthMarigowda-MSFT commented on #55488
@LRomandine Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-23 05:00] SumanthMarigowda-MSFT commented on #55489
@KehindeOwens Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-23 05:01] SumanthMarigowda-MSFT commented on #55491
@gbrandonparga Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-23 05:02] SumanthMarigowda-MSFT commented on #55493
@AmitavaHazra Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-23 05:04] SumanthMarigowda-MSFT commented on #55494
@ran-ten21 Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-23 05:05] SumanthMarigowda-MSFT commented on #55496
@roflemin Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2020-05-23 05:06] SumanthMarigowda-MSFT commented on #55498
@hpsin Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-23 05:07] SumanthMarigowda-MSFT commented on #55499
@davida1992 Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-23 05:08] SumanthMarigowda-MSFT commented on #55510
@ddarling85 Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-23 05:12] spaelling commented on #32607
The extra resource group inherits tags from the cluster resource itself. That is a decent workaround.

[2020-05-23 05:12] tinhpv commented on #51344
Please read again my problem above.
When anchors are connected, I locate one, and look for nearby anchors. However, the position of anchors located afterward is not correct. Perhaps the ASA Wayfinding is not working with Anchors created on Trackable (AugmentedImages).

In my project, I used QR Code as a reference image fed for AugmentedImages feature, but ASA Wayfinding is not working with this, s

[2020-05-23 05:12] SumanthMarigowda-MSFT commented on #55508
@mattpatera-ych Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-23 05:13] SumanthMarigowda-MSFT commented on #55507
@sartoris Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-23 05:15] SumanthMarigowda-MSFT commented on #55505
@manish-jain-1 Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-23 05:15] SumanthMarigowda-MSFT commented on #55503
@awentzel Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-23 05:17] SumanthMarigowda-MSFT commented on #55502
@JonathanPalmerGD Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-23 05:17] SumanthMarigowda-MSFT commented on #55501
@Robert-Tortorelli Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-23 05:30] BhargaviAnnadevara-MSFT commented on #55424
@UnsnappedKhan8 We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-05-23 05:30] #55424 closed

[2020-05-23 05:39] akuryan opened #55512 "Is it possible to use EventCounters with .NET 4.7.1 app?"
Page https://docs.microsoft.com/en-us/azure/azure-monitor/app/eventcounters says that EventCounter is .NET/.NET Core mechanism, which seems to guide me to an idea that it is supported by .NET Framework 4.7.1. But, further in the text, there is no indication or guidelines how could I collect those EventCounters in my app, runnint at .NET 4.7.1. Am I misreading or I shall use exclusively .NET Core t

[2020-05-23 05:42] DixitArora-MSFT commented on #55056
@ecfan Done.

[2020-05-23 05:54] glprasanna commented on #55438
Hi Sumanth,

I have downloaded 1.0.6 plugin from the below URL and in this it showing it is compatible with 8.0, 8.1.1, 8.2.1, 8.2.4, 8.5.1 and 7.13.3
https://www.microsoft.com/en-us/download/details.aspx?id=56506

when I open below document from Related Resources it was mentioned as below
**Supported versions of JIRA
JIRA Core and Software: 6.4 to 8.8.0**

https://docs.microsoft.com/en-us/azure/a

[2020-05-23 06:15] mike-urnun-msft commented on #48360
Sorry about the delay. I've added a step about the FUNCTIONS_V2_COMPATIBILITY_MODE setting on the javascript section.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-23 06:15] #48360 closed

[2020-05-23 06:52] bencalnan commented on #55463
Thanks @Mike-Ubezzi-MSFT that's helpful, I'll investigate that solution.

[2020-05-23 06:56] DixitArora-MSFT commented on #55131
@Prabhakar96-dev I would encourage to raise a PR and contribute to this. Content author will review the changes.

For now will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-23 06:56] #55131 closed

[2020-05-23 06:58] DixitArora-MSFT commented on #55138
@GiriB I have assigned this to content author for further review and update as appropriate.

[2020-05-23 07:22] elliotmoule opened #55514 "Computer Vision Read: Response 404 Resource not found"
Hi, I'm currently unable to use this service. I have copied the sample verbatim, and then only changed the areas for subscription key and endpoint (have used literal strings, rather than environmental variables).

![image](https://user-images.githubusercontent.com/29968849/82724489-e16d4780-9d19-11ea-9f51-16dbed9ccdcf.png)

I fetched my details from my account, at this page (https://azure.microsof

[2020-05-23 07:24] #55514 closed

[2020-05-23 07:24] elliotmoule commented on #55514
Closing this issue. Very silly, though simply needed to remove the doubling up of 'vision' within the endpoint, which is then appended.

[2020-05-23 07:56] Tbohunek commented on #54633
Thanks @jdanyow. Can I be anyhow informed when this is actually completed? If you close this issue now, I will never know.

[2020-05-23 08:04] kummanish commented on #55161
#please-close

[2020-05-23 08:04] #55161 closed

[2020-05-23 08:25] ratanparai commented on #55200
I have created a support ticket ID: 120051924005457 after creating this issue and also had a screen share session with support and tried different things but couldn't figure out why it is not working. Still waiting for the solution.

We have another cluster and it works without issue in that cluster. It's very frustrating.

[2020-05-23 08:38] qball82 opened #55515 "Cannot get data to copy to SQL"
Hello,

I have tried this multiple times and all that happens is data gets sent to my Storage Account.  Nothing goes to SQL when I query the table.

Anybody else experience this?  Any thoughts to fix?

Thank you,
Quentin

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ec5477a-c4b4-a37c-f853-3d517a095e93
* Version Indep

[2020-05-23 08:51] SwathiDhanwada-MSFT commented on #53591
@ricohomewood Apologies for late response. As of now, additional performance counters are being logged in Perf table and the option to enable performance counters to InsightMetrics table is in the roadmap for the next three months.

Hope this answers your question. We will update you on this thread once its available. As there are no further documentation changes, we will close the issue for now.

[2020-05-23 08:51] #53591 closed

[2020-05-23 09:11] richardrobberse opened #55516 "Protect the API with the same providers as the web app"
It's not clear how to also protect the API with the same provider(s) as the static web app.
I do know that client principal data is passed to the API as a x-ms-client-principal request header, but that would require me to check the header for every request.

It would be great if someone could shine some light on this.
Thanks in advance!

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-05-23 09:21] richardrobberse opened #55517 "Local dev/test with an auth provider"
As described in the docs the static web apps use a /.auth system folder to provide access to authorization-related APIs so how do I then dev/test with an auth provider locally?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6355b9cc-780a-c5e9-e24a-aa6593b37ae1
* Version Independent ID: aa20c4a6-3243-d7b5-8e12-54e044b99

[2020-05-23 09:28] medavamshi commented on #32607
so you meant the tags from the parent resource group is inherited by all the additional RG's the cluster creates?  thats awesome if that is what you meant

[2020-05-23 09:36] #55402 closed

[2020-05-23 09:44] antonmatsiuk commented on #55473
@TravisCragg-MSFT client address pool is a private IP address pool, I mean which public IP address will get clients while accessing public IP 13.88.144.250 (storage account) in this guide? Does VPN Gateway perform NAT or should a NAT device be added to GatewaySubnet?  Do we need to add default route to Internet into GatewaySubnet? The documentation in this guide is definitely incomplete.

[2020-05-23 10:22] WindyCityCassie commented on #31321
This is not working for me, either, but other connectors such as Security Events from the same host are working fine.

[2020-05-23 10:22] jochenvanwylick opened #55518 "URL to OpenAPI Spec?"
I'm exposing my Azure Function App through API Management because it was suggested by the popup balloon during creation of a LogicApp:

![image](https://user-images.githubusercontent.com/3002474/82728139-dd780000-9cee-11ea-9d3a-c6e26cac718e.png)

After importing my function into API Management - I am looking to continue building my Logic App. However - going back to the Logic App, how should I now

[2020-05-23 11:09] #55400 closed

[2020-05-23 11:10] mslot commented on #55400
Thank for the clarification. I still think this should be more outlined in the docs as I think it can be read multiple ways.

[2020-05-23 12:01] MonikaReddy-MSFT commented on #55512
@akuryan , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-05-23 12:39] JozoSlejko opened #55519 "Create remediation task as part of Policy assignment"
It would be good to include the option of creating a remediation task as part of the Policy/Initiative assignment.

There's a **Create a remediation task** checkbox in the **Remediation** tab of policy assignment blade in the portal. This creates a remediation task on already deployed resources which are not compliant.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2020-05-23 13:02] ivanaliptakova commented on #52822
When can I expect some update? Thx.

[2020-05-23 13:06] beezital opened #55520 "TechnicalProfile Id in sample code is wrong"
See [https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/issues/61](https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/issues/61)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c8b6c59-f5d7-44c3-2f00-83bbd4b533cb
* Version Independent ID: fce8aa64-707f-0645-f3d6

[2020-05-23 13:15] deyanp commented on #45642
@DixitArora-MSFT shall we expect an answer to this soon?

[2020-05-23 13:22] SumanthMarigowda-MSFT commented on #55515
@aasim Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-23 13:24] SumanthMarigowda-MSFT commented on #55516
@richardrobberse Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-23 13:26] SumanthMarigowda-MSFT commented on #55517
@richardrobberse Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-23 13:27] SumanthMarigowda-MSFT commented on #55518
@jochenvanwylick Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2020-05-23 13:30] SumanthMarigowda-MSFT commented on #55519
@JozoSlejko Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-23 13:31] SumanthMarigowda-MSFT commented on #55520
@beezital Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-23 13:37] jochenvanwylick commented on #55518
https://docs.microsoft.com/en-us/azure/azure-functions/functions-openapi-definition

[2020-05-23 13:40] phetzel1 opened #55521 ""You might also need to whitelist certain public repositories (such as for Ubuntu and so forth)""
Is it possible to be more prescriptive here? I'm not sure how I would begin to hunt-and-peck which public repositories would be needed to start up a cluster when routing traffic through an NVA, especially given that very few details are given in the event log when clusters are attempting to be created.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-05-23 13:44] SumanthMarigowda-MSFT commented on #55289
@The Azure File Sync agent has no requirements regarding special channels like [ExpressRoute](https://docs.microsoft.com/en-us/azure/expressroute/expressroute-introduction), etc. to Azure

[2020-05-23 13:48] SumanthMarigowda-MSFT commented on #55376
@sql-deadwood  Your feedback has been shared with the content owner for further review.

[2020-05-23 13:50] tksh164 commented on #55340
@TravisCragg-MSFT Okay. Thank you.

[2020-05-23 13:50] #55340 closed

[2020-05-23 13:50] SumanthMarigowda-MSFT commented on #55373
@fernandozago  Thank for reaching out. Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

Also This channel is for driving improvements towards MS Docs, for any product related question/issue I would recommend yo

[2020-05-23 13:50] #55373 closed

[2020-05-23 13:52] SumanthMarigowda-MSFT commented on #55349
@dhheeraj   Thank for reaching out. Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

Also This channel is for driving improvements towards MS Docs, for any product related question/issue I would recommend you t

[2020-05-23 13:54] SumanthMarigowda-MSFT commented on #55337
@nascar3000 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-23 15:02] montereyharris commented on #54680
I need to make sure I understand the flow correctly. From the above statement you are indicating the below facts:
Jira Server needs to be on the public internet and be able to receive inbound requests from Azure Active Directory.

This is odd.
 Is this a IDP SSO only? As long as the Jira server has outbound internet access to communicate with Azure AD SSO would function because Jira server could v

[2020-05-23 15:27] ajay15283 opened #55524 "OS disk increase method provided for SUSE (SLES 12SP4) not working"
[Enter feedback here]
parted package available in SLES 12 SP4 doest have an option called "resizepart" and one of the available option "resize" will work only when the filesystem is un mounted  so please check and change the procedure

parted -s /dev/sda "resizepart 4 -1" quit

SUSE Linux Enterprise Server 12 (x86_64)
VERSION = 12
PATCHLEVEL = 4
# This file is deprecated and will be removed in a f

[2020-05-23 15:35] SnehaAgrawal-MSFT commented on #55004
@bhavanikp84 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-05-23 15:35] #55004 closed

[2020-05-23 16:33] jpb501 commented on #53017
Thanks for letting me know.

Jeff

On Fri, 22 May 2020, 22:20 SaurabhSharma-MSFT, <notifications@github.com>
wrote:

[2020-05-23 16:35] SAIMMINHAS commented on #16033
Hi guys,

I've double checked again and it's sorted. 1 question though, when i run the File recovery script on the VM, it creates 2 mapped drives. One is 'C:\' drive while the other is a temporary storage drive. Due to some reason, it does not creates another mapped drive which is also available in a vm by default. Any idea why this happens?

It's just that if i had to recover a file from that 2nd

[2020-05-23 16:51] SAIMMINHAS commented on #16033
![image](https://user-images.githubusercontent.com/30388154/82735979-f64bda00-9d1d-11ea-84ba-906236ca0052.png)

It's the above visible 'D:\' drive that does not appears after the Script. Not sure why.

[2020-05-23 17:09] BharathNimmala-MSFT commented on #54901
@xaxxon Apologies for delayed response, assigning this to our document author @tfitzmac to further help answer your query and see if any document enhancement is needed.

[2020-05-23 17:12] jlorich commented on #54343
Yeah probably not an issue worth addressing further as most users will be coming from a new azure cli.  And if they do hopefully they can find this page :)

[2020-05-23 17:12] #54343 closed

[2020-05-23 17:32] MatthewSteeples opened #55525 "Link points to current page"
The link on the above text points to the same page that the text is on

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7838171-5cab-d164-cc88-2973c0d0e56e
* Version Independent ID: d888bc9c-c031-f67c-d5a0-25cc265f14e3
* Content: [Run your app from a ZIP package - Azure App Service](https://docs.microsoft.com/en-us/azur

[2020-05-23 17:40] BharathNimmala-MSFT commented on #55017
@mslot  Apologies for delayed response on this, i have reached out to our internal product team on this and will keep you updated.

[2020-05-23 17:42] LukeCarrier opened #55526 "Where is the SKU documentation?"
Nowhere in the Key Vault documentation that I've seen explains the distinction between standard and premium SKUs. I can find the information from third parties, but it's utterly bizarre that MSFT makes no effort to explain it.

You should hire external folks with no attachment to the services to review these docs; they're generally very unhelpful.

---
#### Document Details

⚠ *Do not edit this se

[2020-05-23 17:55] memildin commented on #55494
This is currently planned, but we can't commit to a precise date at this time.

#please-close

[2020-05-23 17:55] #55494 closed

[2020-05-23 18:13] mslot commented on #55017
@BharathNimmala-MSFT thanks. It might be that recurring Web jobs is a new feature, and the "old" way is to use a scheduler. But it is kind of hard to read from docs if using a recurring Web job is a bad practice or a logic app should be used. I think it is a naming thing where recurring Web jobs clash with scheduling a Web job because it is two different features but it is hard to tell what featur

[2020-05-23 18:39] BharathNimmala-MSFT commented on #55208
@1tjunior1 Sorry to hear that you are facing an error , please refer to [common deployment errors](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/common-deployment-errors) documentation and see if that helps.

As called out earlier this channel (the [Azure Docs repository](https://github.com/MicrosoftDocs/azure-docs)) is only for driving improvements related to the Azure d

[2020-05-23 18:39] #55208 closed

[2020-05-23 18:44] BharathNimmala-MSFT commented on #55017
@mslot Thanks for sharing additional context on this, will request our document author @derek1ee to weigh in your feedback and further clarify and also see if document needs to be updated accordingly.

[2020-05-23 18:58] adamhwang opened #55527 "Azure Functions SendGrid binding: Missing reference documentation for return object (javascript)"
The javascript page does not have any references to the return format the SendGrid out binding expects. The sample is helpful for a single to/from and I can probably guess at multiple recipients,  cc or bcc, but it would be useful to see a list of the possible return object properties.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-05-23 19:14] BharathNimmala-MSFT commented on #55066
@shadowano Thanks again for sharing your feedback, i am assigning this issue to our document author @mrbullwinkle to further evaluate the feedback and enhance the document accordingly.

[2020-05-23 20:24] SatishBoddu-MSFT commented on #55434
@amit12cool We have reviewed the whole document and unable to repro the issue. We have few recommended troubleshooting steps as mentioned below:

**On VS code side:**
1) Stop any existing built-in event monitoring

**On the device side: VM**
1) This might be an intermittent issue, so please restart the IoT Edge by using : **$ sudo systemctl restart iotedge**
2) You can even restart the VM from Azu

[2020-05-23 21:24] femsulu commented on #55221
Hello @alsavelv,
I assume you are referring to [this table](https://docs.microsoft.com/en-us/azure/automation/automation-solution-vm-management#runbooks) - shown below?
![image](https://user-images.githubusercontent.com/34327711/82740649-c42b7f80-9cff-11ea-993d-6ae07264f473.png)
 If yes, then please confirm you've followed the enablement steps [here](https://docs.microsoft.com/en-us/azure/automati

[2020-05-23 21:24] femsulu commented on #55221
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-05-23 21:24] #55221 closed

[2020-05-23 21:38] markjbrown commented on #55120
So the max value of 1023 is not the default. It can only be enabled via support ticket and is a manual configuration we typically only enable in rare circumstances. If you are able to create an id of this length then someone enabled it via this process.

However, this is not a scenario that we want to enable easy support for. ID's are meant to look up data, not for storing data. Customers can get

[2020-05-23 21:46] DCtheGeek commented on #55519
#reassign:DCtheGeek

[2020-05-23 21:51] DCtheGeek commented on #55519
@JozoSlejko Thanks for the feedback. For clarity, are you asking for the feature of creating a remediation task on assignment outside the Azure portal (SDK) or are you asking to add a note that remediation tasks can be created at assignment time?  I want to make sure I address the right issue.

@MicrosoftDocs/azure-cxp-triage #in-progress

[2020-05-23 22:09] RonnieQuan opened #55528 "Clarify assertion"
Do we have sample code to get assertion? thanks for you help!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cd73bb0-f8d5-84f7-3fc5-2022f8392a20
* Version Independent ID: d598130d-ba3a-0078-d4b6-1e47fad5ea41
* Content: [Microsoft identity platform and OAuth2.0 On-Behalf-Of flow - Microsoft identity platform](https://d

[2020-05-23 22:23] ashishvermapu commented on #55391
Hello @Grace-MacJones-MSFT . Its my bad. I didn't read that statement in document. I was trying in eastus2 region. It works fine in westus2

[2020-05-23 22:23] #55391 closed

[2020-05-23 22:45] jahmai commented on #55120
@markjbrown

Well, I am even more confused.

1. I am using large keys in the service (up to 260 characters), just fine, and I can artificially create id's up to 1023 characters to testing purposes just fine, and I have not asked support to enable that limit on my cosmos account(s).
2. If this is true, this is yet another thing that needs to be updated in the docs, instead of the docs just saying t

[2020-05-23 23:32] erickfis commented on #16837
One more here: cannot authenticate from my local jupyter notebook:

[code]

keeps processing forever!

[2020-05-24 00:35] pravin197 opened #55529 "Clarification on a Protected Web API calling another Protected Web API"
I have a scenario where a SPA calls a protected web api **API1** which in turn calls another protected web api **API2**.

The SPA is registered with AD using an App Registration. The user signs into the SPA which then acquires an access token that is set in the Authentication header when calling **API1** REST endpoints. The **API1** then uses **On Behalf Of** flow to acquire an access token for **

[2020-05-24 00:56] alsavelv commented on #55221
Thanks for your response. I did follow the enablement steps. However, the required runbooks didn't show up. Attaching a screenshot of the runbooks that I have – three at the top were there by default, two at the bottom were imported as I tried to manually find what was needed. Will really appreciate your help.
![image](https://user-images.githubusercontent.com/38260866/82743318-96a1fe80-9d1e-11ea-

[2020-05-24 01:38] deccansoft opened #55530 "Possible incorrect sentence"
Can I have public IP addresses in my VNets?
Yes. For more information about public IP address ranges, see Create a virtual network. **Public IP addresses are not directly accessible from the internet.**

-Please reconfirm this?????

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07cec477-f584-400f-889c-9a5403f34bad
* Ve

[2020-05-24 01:45] amit12cool commented on #55434
@SatishBoddu-MSFT  Thanks for being patient with me. The issue resolved now after running your troubleshooting steps.
1. I was giving wrong module name to see the logs. It was edgeAgent.
2. I updated the module version and created the deployment for single device.
3 I was able to see the messages on IoT hub.

Thanks again for your support.

[2020-05-24 01:45] #55434 closed

[2020-05-24 01:46] SwathiDhanwada-MSFT commented on #55302
@greendx  Thanks for reaching out!! Even though East US2 and East US is not an exact region to region mapping , it is correct mapping .For more information about the supported regions for linked log analytics workspace , kindly refer [this documentation](https://docs.microsoft.com/en-us/azure/automation/how-to/region-mappings).

As there are no further documentation changes, we will close the issu

[2020-05-24 01:48] SwathiDhanwada-MSFT commented on #55367
@njray Can you please review the document and update it if required?

[2020-05-24 02:11] markarnolditpro opened #55531 "How to create Alert from firewall log query"
I can see blocked events using the query shown above:
[code]
However the `+ New Alert Rule` button above the query window is greyed out.  Perhaps the docs should describe the query mods needed to alert on the firewall logs.  I'd like to receive an alert anytime there's a blocked request due to custom policy.   Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2020-05-24 02:36] BharathNimmala-MSFT commented on #55521
@phetzel1 Thank you for your feedback, our team will look into it and get back to you at the earliest.

[2020-05-24 02:38] BharathNimmala-MSFT commented on #55524
@ajay15283 Thank you for reaching out to us, our team will look into it and get back to you on this.

Also, please note that this channel (the [Azure Docs repository](https://github.com/MicrosoftDocs/azure-docs)) is only for driving improvements related to the Azure documentation

[2020-05-24 03:16] phfsantos opened #55532 "Apps using private repositories does not seem to work."
Maybe address the issue or a way to make it work.
Use the GITHUB_TOKEN to access the github actions or make sure to use .npmrc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4cbd10e-57b8-de97-b84f-6e46f865c662
* Version Independent ID: 533b11b0-5ada-f9c6-65f1-5966df142fa8
* Content: [GitHub Actions workflows for Azur

[2020-05-24 03:36] ericgarza70 opened #55533 "Python example is wrong"
The Python example is wrong, the requests.post line is not well-formed and does not send the payload.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f49fe54c-0b45-e457-6a53-d94306479036
* Version Independent ID: 3c48e6c6-a387-6b8b-ed7b-af155324f82e
* Content: [Tutorial: send email with Logic Apps - Azure App Service](h

[2020-05-24 04:18] RyanHill-MSFT commented on #55070
Apologies for the late reply @CharlesAtDCube, I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-24 04:24] MartinJaffer-MSFT commented on #55531
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-05-24 04:25] MartinJaffer-MSFT commented on #55532
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-05-24 04:56] SumanthMarigowda-MSFT commented on #55525
@MatthewSteeples Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-24 04:57] SumanthMarigowda-MSFT commented on #55526
@LukeCarrier Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-24 04:58] SumanthMarigowda-MSFT commented on #55527
@adamhwang Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-24 04:59] SumanthMarigowda-MSFT commented on #55528
@RonnieQuan Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-24 04:59] SumanthMarigowda-MSFT commented on #55529
@pravin197 Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-24 05:02] SumanthMarigowda-MSFT commented on #55530
@deccansoft Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-24 05:14] RyanHill-MSFT commented on #55525
Thanks for the feedback @MatthewSteeples. The link you are referring to is part of a _include_, which is referenced in https://docs.microsoft.com/en-us/azure/app-service/deploy-zip as well as this doc. That's the reason for the link back to self.

If you have any further questions or feedback regarding this, please feel free to mention me.

[2020-05-24 05:14] #55525 closed

[2020-05-24 05:28] greendx commented on #55302
You didn't read/address my question.

I don't understand what you mean by "Even though East US2 and East US is not an exact region to region mapping , it is correct mapping"

What about the fact that I was unable to edit the subscription name and automation account ended up in the wrong subscription?

[2020-05-24 05:28] DixitArora-MSFT commented on #55206
@ellismg PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-24 05:34] #55206 closed

[2020-05-24 05:38] DixitArora-MSFT commented on #55217
@jmcginty I have assigned this to content author for further review and update as appropriate.

[2020-05-24 05:45] DixitArora-MSFT commented on #55227
@rigdern Function time out duration is already mentioned under "Avoid long running functions".

![image](https://user-images.githubusercontent.com/46984568/82746633-9a319600-9daf-11ea-9bc0-2bbdf473518b.png)

![image](https://user-images.githubusercontent.com/46984568/82746639-a4ec2b00-9daf-11ea-9a54-8007dc7553cd.png)

Also when you have long running function, recommendation is to break that in to

[2020-05-24 05:45] #55227 closed

[2020-05-24 05:50] DixitArora-MSFT commented on #55230
@rigdern I have assigned this to content author for further review and update as appropriate.

[2020-05-24 06:14] DixitArora-MSFT commented on #55248
@jjindrich https://docs.microsoft.com/en-us/azure/api-management/api-management-using-with-vnet#a-namesubnet-size-a-subnet-size-requirement section adequately describes IP address usage.

https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-integrate-internal-vnet-appgateway#create-an-api-management-service-inside-a-vnet-configured-in-internal-mode

For now I will proceed wit

[2020-05-24 06:16] putriafebriana98 commented on #52309
I really don't understand why you need the limitation that time-series must have a frequency consistent?

[2020-05-24 06:23] DixitArora-MSFT commented on #55266
@ewilson To delete a blob, you need to

[code]
Make sure that your close all streams before you try this so the image is no longer in use.

For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-24 06:23] #55266 closed

[2020-05-24 06:31] DixitArora-MSFT commented on #55291
@boreys This channel is for driving improvements towards MS Docs, If you have any other question specific to product , it would be best if you can create the product issue to the official [Azure Functions Repo](https://github.com/Azure/Azure-Functions/issues) for better clarity. Once you post your issue on forums, it will have visibility across Azure Function Product team.

For now I will proceed

[2020-05-24 06:31] #55291 closed

[2020-05-24 07:25] #55258 closed

[2020-05-24 07:44] Vdevtest opened #55535 "Clarification on recovery account"
Thanks @SaurabhSharma-MSFT
Just to make sure I understood this correctly, so I do not have to setup a whole new Microsoft Account right? I can just use test@outlook.com as the recovery email too? And yes, I do have an iCloud account.
Thanks!

_Originally posted by @Vdevtest in https://github.com/MicrosoftDocs/azure-docs/issues/55005#issuecomment-631844678_

[2020-05-24 07:54] JJ11teen commented on #54999
Thanks @aahill!

Renaming to 'confidenceScore' sounds like a great idea! 😄

I feel this issue should remain open until either the current doc is updated to detail the definition of the current 'score' or the new API version you are working on is released (and also documented).

[2020-05-24 09:16] JozoSlejko commented on #55519
@DCtheGeek to add a note to the document.

[2020-05-24 10:21] vllama opened #55536 "Condition Element Clarification"
Please Specify how nested child Resources are affected by the condition.
Does it matter if you run incremental or complete? I am having trouble building a template that functions how I think it should with conditions.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c337b02a-d12c-9034-2a70-f64c66c7dcfc
* Version Independe

[2020-05-24 12:02] SubhashBhosale opened #55538 "'Customization' feature content is repeated twice"
Hello Team,

In the introduction section, the Customization feature is repeated twice. Please have a look at it & apply a correction.

![image](https://user-images.githubusercontent.com/56026402/82753540-08904b80-9de4-11ea-82ce-f9598522d00e.png)

Here is a link to the introduction section

https://docs.microsoft.com/en-us/azure/azure-monitor/insights/redis-cache-insights-overview#introduction

Reg

[2020-05-24 12:17] Grahamworth opened #55539 "error deploying custom UI"
I followed the instructions but found an error when linking the custom UI
The resource 'https://my-site/resources/custom-ui.html' contains script errors preventing it from being loaded.

Links work fine, cors is correct, not quite sure why it fails, will update when I figure it out

Regards
---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-05-24 12:38] adebareshowemimo opened #55541 "using subdomain from another hosting for Azure VM"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cb21b82-0660-2c3f-1651-86285fa64e59
* Version Independent ID: 2829303e-b6ba-537c-2751-8497e3d591cc
* Content: [Tutorial: Host your domain and subdomain - Azure DNS](https://docs.microsoft.com/en-us/azure/dns/dns-delegate-domain-azure-dns)
* Content S

[2020-05-24 14:42] arvinder-dhar opened #55543 "Step 4. Check UDR and NSGs on the gateway subnet"
Hello Team,

Step 4 mentions that **remove user-defined routing (UDR) or Network Security Groups (NSGs) on the gateway subnet,** UDR is fine but NSGs don't apply to gateway Subnet as mentioned in notes section here : https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-vpn-gateway-settings#gwsub
Can you please check and remove that after verification.
---
#### Document Details

⚠ *

[2020-05-24 14:45] SumanthMarigowda-MSFT commented on #55535
@Vdevtest Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-24 14:47] SumanthMarigowda-MSFT commented on #55536
@vllama Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-24 14:49] SumanthMarigowda-MSFT commented on #55538
@SubhashBhosale Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-24 14:50] SumanthMarigowda-MSFT commented on #55539
@Grahamworth Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-24 14:52] SumanthMarigowda-MSFT commented on #55541
@adebareshowemimo Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-24 14:54] SumanthMarigowda-MSFT commented on #55543
@arvinder-dhar Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-24 15:19] markjbrown commented on #55120
A PR has been submitted to update the docs on the emulator noting the difference. As noted above, this is not a pattern we recommend. So will not point this out any further or change the emulator to match the system max.

Your pattern described is fine, but it should not require a 1MB id value. Four concatenated Guids for each notification, user, push and app id's is 64 bytes.

Thank you for submi

[2020-05-24 15:28] Se7en7th opened #55544 "The program '[7624] FirstAzureApp_Kinect.exe' has exited with code -1073741515 (0xc0000135) 'A dependent dll was not found'."
I am an Engineering student picking up machine vision out of interest and I have really basic programming knowledge, upon following the "Quickstart Guide" on "Building my first Azure Kinect Application"

https://docs.microsoft.com/en-gb/azure/Kinect-dk/build-first-app

I figured out that by using .cpp file extension I can use the "#include <k4a/k4a.h>" header, that has been installed using the NuG

[2020-05-24 15:31] langebo commented on #54421
@RyanHill-MSFT I don't want to sound impatient, but is this still being investigated or not a desired use case for docker-compose deployments?

[2020-05-24 15:36] BharathNimmala-MSFT commented on #55533
@ericgarza70 Thank you for bringing this to our notice, our team will look into it and get back to you at the earliest.

[2020-05-24 15:48] RyanHill-MSFT commented on #54421
No apologies necessary @langebo. I am investigating and I apologize for the delays.

[2020-05-24 15:48] nth-block opened #55546 "Clarity ask in FAQ Section"
Could you please clarify the following 3 points

1. If I use a premium key vault, can I use BYOK keys for the encryption?
2. What is the SLA for re-encrypting a CosmosDB when a key roll over occurs?
3. If a key has an expiry date set, does CosmosDB detect this and re-encrypts the DB?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2020-05-24 15:49] KalyanChanumolu-MSFT commented on #55446
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-24 15:49] #55446 closed

[2020-05-24 16:40] senval3024 commented on #30802
Hello All,

Has anyone found a solution to this problem? Or got any alternative?. Please share if there is any.

[2020-05-24 16:41] MarileeTurscak-MSFT commented on #55172
@babukumarg the app needs to be registered and the settings in the app registration need to match the settings in the app itself. My guess is that there is something missing from your app registration. See: https://stackoverflow.com/questions/56954799/ms-identity-azure-app-registered-but-sends-unauthorized-client-in-implicit-flow

I'm closing this out because this is more of a troubleshooting ques

[2020-05-24 16:41] #55172 closed

[2020-05-24 16:46] senval3024 commented on #31900
Hi @SaurabhSharma-MSFT
I tried exactly what I heard. However, it receives the same validating credentials error (AADSTS50126).  As discussed here https://github.com/MicrosoftDocs/azure-docs/issues/30802,  some issues have been decided on the MS side and it needs to be fixed. Are the fixes in the right place?

[2020-05-24 16:49] devagnanam commented on #54656
Took this to respective team and they're looking at this.

[2020-05-24 17:11] MarileeTurscak-MSFT commented on #55149
Hi @JohnMoor ,

I just tested with a User Administrator account and was able to successfully delete the user, so I don't think it's a problem with the role. I was able to delete both guest and Member users.

If you're able to delete the user with the Global Admin account, then my guess is that the issue is with the User Admin permissions and there may be a policy or lock applied to that account on

[2020-05-24 17:11] #55149 closed

[2020-05-24 17:14] Michael-Kuritzky opened #55547 "ADF Web Activity doc page - not clear how to use the output"
Hi,

Please add a section/example to the Azure Data Factory Web Activity doc page that shows how to use the activity's output.
I managed, after searching through other teams' ARM templates, to figure out the answer (something like `"@activity('MyWebActivity').output.value"`), but I feel it should be part of the page.

Thanks,
Michael

---
#### Document Details

⚠ *Do not edit this section. It is r

[2020-05-24 17:20] biqas opened #55548 "VNET with identical names"
The article does not describe how to configure VPN client in case you get to client configurations and both configuration connect to vnet's with identical names in different resource groups and subscriptions. Changing the name in windows leads to errors.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d5150fc-9936-07cf

[2020-05-24 17:39] Rutikhal opened #55549 "limit to 2 arguments for function OR"
Why in the doc here is not said that function OR has limitation of max 2 arguments:

@or(True,False,not(False))
function 'or' does not accept 3 argument(s)

in your doc is seems that there is no such a limitation
or(<expression1>, <expression2>, ...)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-05-24 17:51] skamalj opened #55550 "sparlsql fails at create database with error"
Error : org.apache.spark.sql.AnalysisException: java.lang.RuntimeException: Operation failed: "This request is not authorized to perform this operation using this permission.", 403, HEAD, https://mysynapsedatalake.dfs.core.windows.net/users/tmp/hive?upn=false&timeout=90;
  at org.apache.spark.sql.hive.HiveExternalCatalog.withClient(HiveExternalCatalog.scala:106)
  at org.apache.spark.sql.hive.Hive

[2020-05-24 18:21] spaelling commented on #32607
No from the cluster resource itself. Tags from the cluster is applied to the RGs created for the worker nodes.

[2020-05-24 18:33] JohnMoor commented on #55149
Hi @MarileeTurscak-MSFT,

Thanks for investigating and replying to this issue.

Did you test with a "scoped" User Administrator assignment to a Administrative Unit?

In my testing the admin can delete users when assigned the "User Administrator" to the whole Azure Active Directory, but when assigned this role to just an Administrative Unit then it receives the error.

This makes me believe it does

[2020-05-24 20:11] ihl396 opened #55553 "Cosmos DB Emulator Docker Image is 3 years old"
The Cosmos DB Emulator Docker Image on dockerhub is incompatible with current tools such as the vscode Azure Cosmos DB extension (api version mismatch error). Please update the docker image to have version parity with the local cosmosdb emulator msi version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 109ed3f8-faf1-

[2020-05-24 20:22] Edward-fdev opened #55554 "Bad time scale"
## Fix typo

Sliding window is presented with an example expressed in **seconds** but the time scale is in **minutes**. It is confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63c64692-7533-cc84-251d-1994aab6a8fb
* Version Independent ID: 10d6faea-cf4a-1e28-2dd6-76146128e1ce
* Content: [Introduction to Azure St

[2020-05-24 21:26] goblinfactory commented on #19456
@cbrooksmsft Can you please explain why you asked for this issue to be closed? This is still broken. If this issue was raised in the wrong place, then can you please provide a link to where the replacement bug has been raised that is tracking this issue so that it will be resolved?

This issue was raised 24th November 2018 and I believe you may have mistakenly asked for this to be closed without c

[2020-05-24 21:51] harley1011 opened #55555 "Following these steps leads to a broken windows 10"
I have followed the steps here using a Windows 10 multi session image and installing French Canadian language pack, I have done it multiple times as well

After running sysprep I get the language package error so I did the step to remove the language pack as outlined in this page, I then created an image and restored a machine. On the restored machine their were issues, the search bar didn't work,

[2020-05-24 22:15] jackchenwork opened #55556 "Question about IPv6 address prefix"
[Enter feedback here]

Could you please explain where the "ace:cab:deca::/48" prefix come from? My understanding is this prefix should be a global unicast address prefix assigned by Azure, but it's not clear for me how to get it.

I tried to create a public IPv6 IP by command:
az network public-ip create --name PublicIP_v6 --resource-group $myrg --location WestUS --sku Standard --allocation-method

[2020-05-24 22:52] artisticcheese commented on #19456
They seemed to be planning to have it in Q2 2020
https://devblogs.microsoft.com/devops/azure-devops-roadmap-update-for-2020-q2/

https://dev.azure.com/mseng/AzureDevOpsRoadmap/_workitems/edit/1710676

[2020-05-24 23:23] hidwatanabe opened #55557 "Sample code doesn't work"
The bellow sample code doesn't work. At least, it seems to need to be imported "date_format" and "when" function.

[code]

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 075d1d7b-372e-0926-d74e-80cd173bd7a7
* Version Independent ID: 86d2610b-7050-5150-7894-e8b766a81911
* Content: [Build a machine

[2020-05-25 00:10] RyanHill-MSFT commented on #54421
I'm not 100% sure @langebo but I discovered 2 issues. The way underlying storage for app service works, my research shows that using WEBAPP_STORAGE_HOME persistent storage for Postgres may not work due to SMB/CIFS file storage locks.  The workaround I attempted was to mount a storage account file share to the app service where the mount path is set to `/var/lib/postgresql/data` and I updated the d

[2020-05-25 00:18] medavamshi commented on #32607
Good to know. Agree that's a decent workaround

[2020-05-25 00:55] DCtheGeek commented on #55519
@JozoSlejko Thanks for the clarification. I'll get a small segment added to that page.  When that PR merges, this issue will automatically close.  There will be a gap between when it's closed and the update is published.  Thanks again for the feedback!

@MicrosoftDocs/azure-cxp-triage Please change label to 'doc-enhancement'.

[2020-05-25 01:00] #55519 closed

[2020-05-25 01:29] razvansalajan opened #55558 "APNs Endpoint Clarification"
First of all I would like to mention that this is the only place where I have seen the valid values for endpoint property within the APNs Credential. Might be worth adding it in other places such as the [management api definition](https://docs.microsoft.com/en-us/rest/api/notificationhubs/notificationhubs/createorupdate#apnscredential).

In the documentation is being mentioned that the only allowe

[2020-05-25 02:13] yqxiaxia commented on #55234
Sure, Thanks

[2020-05-25 02:48] myusrn commented on #27745
Can someone clarify if wvd hosted pool deployment wizard requires you first create a DC vm in your subscription that is joined to your azure active directory, no classic active directory pdc needed, and that DC vm is a connected to the virtual network + subnet that also has to be present before attempting to use wvd hosted pool deployment template / wizard?

[2020-05-25 02:56] #55555 closed

[2020-05-25 03:13] hibearpanda commented on #49245
We started getting this issue last Friday randomly. Our clients were unable to establish a websocket connection to one of our services on a B3 App Service Plan. This service has been deployed for several months, and we never had any websocket connectivity issues (or any connectivity issues for that matter) with it.

I tried restarting the app service several times which did not work. Finally, afte

[2020-05-25 03:25] euangms commented on #55557
@hidwatanabe do you perhaps have a cached or old version of the doc, the imports cell includes an import for date_format and when

[2020-05-25 03:36] jelew opened #55559 "Errata in doc https://docs.microsoft.com/en-us/azure/virtual-machines/troubleshooting/reset-local-password-without-agent"
The folder location specified in the doc [ https://docs.microsoft.com/en-us/azure/virtual-machines/troubleshooting/reset-local-password-without-agent]  to create the scripts.ini file appears to be incorrect. As written, I found that the instructions do not work.

The correct location is C:\Windows\System32\GroupPolicy\Machine\Scripts (Machines singular, not plural)

As an added note: if the passwo

[2020-05-25 03:48] AlphaWong commented on #33674
I also get the same issue since MAY 2020 at westeurope region. I do not know how to resolve it as I ask the support and they do not respond to me at all.

It may be related to the pay as go plan host limitation or I should upgrade my azure plan ??

enclosed with my error.
[code]

[2020-05-25 03:48] JadenLy opened #55560 "Image Storage Billing Issue"
I recently deleted several projects that contain more than 5000 images. This should reduce the image storage cost. However, in the billing report these past few days. I still observe the same storage cost. Does it mean that the images of those projects are still there or the storage cost has different billing approach?

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2020-05-25 03:50] AshokPeddakotla-MSFT commented on #55544
@Se7en7th Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-25 04:04] aruwo17 opened #55561 "6 minutes to read?"
[Enter feedback here]
What exactly does “6 minutes to read” mean? Is it the time it is expected to take for just reading the text on the site verbatim, or does it include watching the videos (when applicable)? If the latter, then the estimated time of 6 minutes is grossly incorrect. The duration of the videos alone is 15 minutes and if we add your estimated “6 minutes to read”, that is approximate

[2020-05-25 04:22] mattmazzola opened #55562 "Suggest to add notes for use with monorepos and github actions scoped to folder changes"
Great to see first-class support for static websites coming to Azure.

I noticed a use case that might deserve some more notes in the documentation. Even if it's only an acknowledgement an links and not a whole section devoted to it since it's more of rare case to optimize.

I think it's more common now for people to develop using monorepos (multiple apps/services in single repo) This means the cl

[2020-05-25 04:22] pmummi opened #55563 "Vnet integration to connect Azure App Service to SQL MI"
Hi,

Can you please let me know what service plan is required to connect App Service to SQL  MI over private endpoint? This documentations seems to be confusing. For regional Vnet integration, it says Standard plan is required. However, under limitations it says premium plan is required.

In my scenario, app service(Standard), vNet, SQL MI all are in same region. However, vNet integration wizard i

[2020-05-25 04:57] payalgaikwad42 commented on #55465
Thank you very much @SatishBoddu-MSFT. I will close this thread once the document is updated.

[2020-05-25 05:15] jmoralesv opened #55564 "Is there a way to ignore localhost telemetry in Application Insights?"
Hi,
I was wondering if Application Insights offers a feature to disable localhost telemetry, so that when building and testing my ASP.NET Core website in Visual Studio 2019, that telemetry data is not sent to Azure. I have to manually remove that data in the charts and metrics in the Azure portal, using filters, as my localhost data adds noise.

If you have any suggestion about accomplish this, it

[2020-05-25 05:35] DixitArora-MSFT commented on #55295
@zgirod The hosting plan you choose dictates the following behaviors:

- How your function app is scaled.
- The resources available to each function app instance.
- Support for advanced features, such as Azure Virtual Network connectivity.

Both Consumption and Premium plans automatically add compute power when your code is running. Your app is scaled out when needed to handle load, and scaled in

[2020-05-25 05:35] #55295 closed

[2020-05-25 05:39] DixitArora-MSFT commented on #55310
@dalmat36 This channel is for driving improvements towards MS Docs, for any product related question/issue I would recommend you to create a thread on the forums- MSDN / Stackoverflow. Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

Also If you have any other question specific to product , it would be bes

[2020-05-25 05:39] #55310 closed

[2020-05-25 05:41] DixitArora-MSFT commented on #55313
@rafamerlin I have assigned this to content author for further review and update as appropriate.

[2020-05-25 05:42] AjayKumar-MSFT commented on #55548
@biqas, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-25 05:42] DixitArora-MSFT commented on #55319
@echurchm I have assigned this to content author for further review and update as appropriate.

[2020-05-25 05:43] hajime008 opened #55565 "Managed disks are also prorated hourly by using every monthly price?"
Hello.

There is the below sentence on Billing section.

The "price for the Premium Storage offer" mean the "price for the unmanaged disks of Premium Storage Account"?
Or this sentence is out-of-date, and now "Billing for any provisioned disk is prorated hourly by using the monthly price for the storage type (Premium SSD, Standard SSD, Standard HDD, or Unmanaged disk) offer"?

Regards,
---
#### Do

[2020-05-25 05:45] AjayKumar-MSFT commented on #55546
@nth-block, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-05-25 05:47] AjayKumar-MSFT commented on #55547
@Michael-Kuritzky, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-05-25 05:50] AjayKumar-MSFT commented on #55549
@Rutikhal, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-05-25 05:52] AjayKumar-MSFT commented on #55550
@skamalj, Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-25 05:53] DixitArora-MSFT commented on #55407
@vpetersen You can also make us of on-error policy section in Azure API Management. During the processing of a request, built-in steps are executed along with any policies, which are in scope for the request. If an error occurs, processing immediately jumps to the on-error policy section. The on-error policy section can be used at any scope.

[code]
https://docs.microsoft.com/en-us/azure/api-manag

[2020-05-25 05:53] #55407 closed

[2020-05-25 05:54] AjayKumar-MSFT commented on #55553
@ihl396, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-05-25 05:57] AjayKumar-MSFT commented on #55554
@Edward-fdev, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-05-25 05:58] LXBdev opened #55566 "Logout Exception for ADFS identity provider"
We integrated a partner ADFS system to our B2C login as per the documentation. Everything looks good and is working. However, our partner has contacted us and said that they are seeing exceptions in their logs. These exceptions happen during logouts.

Any idea how I can solve this? Shouldn't `WantsSignedRequests` be `true` by default and also sign logout requests? The partner federationmetadata sp

[2020-05-25 06:00] AjayKumar-MSFT commented on #55556
@jackchenquest, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-25 06:06] DixitArora-MSFT commented on #55453
@jurjenoskam Details in the paragraph mention that if you put VNET restriction on storage account, configuration of function app will break. How to handle this scenario is mentioned here. https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security

I don't think there is a doc change required at this moment. For now I will proceed with closure of this and If there are further qu

[2020-05-25 06:06] #55453 closed

[2020-05-25 06:09] DixitArora-MSFT commented on #55454
@spelluru Just following up again in case missed the previous communication.

[2020-05-25 06:17] AjayKumar-MSFT commented on #55555
@harley1011, Thanks for leveraging Azure docs feedback channel to post this question.
We see that you have closed this issue, please let us know if you have sorted out the issue or you still need further assistance.

[2020-05-25 06:19] AjayKumar-MSFT commented on #55558
@razvansalajan, Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-05-25 06:24] AjayKumar-MSFT commented on #55514
@elliotmoule, Glad to know that you were able to sort the issue, thanks for the update and sharing the solution that worked for you with the community.

Once again, thanks for leveraging Azure docs feedback channel to raise this question.

[2020-05-25 06:25] DixitArora-MSFT commented on #55410
@ravick4u Ideally yes because that is what we are directing Azure function as per Timer trigger configuration. You can tweak the timer trigger configuration as per your requirement. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-25 06:25] #55410 closed

[2020-05-25 06:27] kailashmsft commented on #55524
@ajay15283  can you share more details on this ?
we have tested this several times and it works fine

[2020-05-25 06:29] dcbrown16 commented on #35456
@shashishailaj @CarlRabeler @Mike-Ubezzi-MSFT @VanMSFT
This is still causing confusion in support. Please reopen.

Unless an "authentication method" and "authentication model" are somehow referring to different things with the same exact name, there are only three methods described under "The five authentication methods". Per the screenshot I believe that "Windows Authentication" and "SQL Server A

[2020-05-25 06:33] dudu-markovitz opened #55568 "Azure Databricks - "A reservation covers only the DBU usage""
This seems wrong.
It should be the other way around -
The reservation covers the VM but not the DBU.

p.s.
In addition to the VM reservation which is reflected in the Azure pricing calculator, there is an option for DBU reservation which AFAIK requires a contract with Databricks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-05-25 06:42] SnehaAgrawal-MSFT commented on #55107
@joncloud Thanks again for the feedback! I have shared this with the content owner @cephalin  for further review on this.

[2020-05-25 06:43] vdkStijn opened #55569 "More information about AD Connect internal database"
Hello,

We would like more information about the content of the AD Connect internal database.
On the page it says: "Azure AD Connect requires a SQL Server database to store identity data.".
But what identity data is stored, are there also passwords stored? Is there "sensitive" data in the database, and are these encrypted?

thanks,
Stijn

---
#### Document Details

⚠ *Do not edit this section. It

[2020-05-25 07:02] gkaleta opened #55570 "az connectedk8s list -g azurearc missing "-o table" to format table output as example"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 927644dd-101f-8303-5abd-f3713951191e
* Version Independent ID: c6a4becc-86ed-65f5-e82d-ad5a7ee88e35
* Content: [Connect an Azure Arc-enabled Kubernetes cluster (Preview)](https://docs.microsoft.com/en-us/azure/azure-arc/kubernetes/connect-cluster)
* C

[2020-05-25 07:07] mikewaretena opened #55571 "Does this need to be revised based on Azure AD P1 in M365 Business Plans?"
Hi, just want to raise this as it might have to be amended. Given this [blog post announcing pi1 in M365 Business](https://techcommunity.microsoft.com/t5/small-and-medium-business-blog/azure-active-directory-premium-p1-is-coming-to-microsoft-365/ba-p/1275496
)

Thanks!

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: feb

[2020-05-25 07:21] bhanu7pk opened #55572 "Adminconsent page always appears for my app"
Even after admin giving the consent to the app, whenever i hit adminconsent endpoint, consent page always appears. Why it is happening? is it expected behaviour?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ac43307-75d4-cb6f-e561-0dd9008f28c6
* Version Independent ID: 8fc47e76-5ee1-6aeb-73e2-c64c44e3e4ed
* Content:

[2020-05-25 07:27] vipulsparsh commented on #54645
@msmimart Can you please look into the PR? I dont have merge rights.

[2020-05-25 07:30] vipulsparsh commented on #55296
@billmath Can you update on this request ? I do not have the merge access.

[2020-05-25 07:52] shmool opened #55573 "SWA custom domain: first configure DNS"
Here: https://docs.microsoft.com/en-us/azure/static-web-apps/custom-domain#map-a-cname-record

First need to configure the DNS CNAME at the provider, then configure in Azure Portal.
I suggest moving the steps for setting up on Azure after "Configure DNS provider", and maybe add a link to this section before.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-05-25 07:56] ram-msft commented on #55032
@dubbySwords We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-25 07:56] #55032 closed

[2020-05-25 08:28] abalogh opened #55575 "Logic App Character Limits are unclear"
The section "Character Limits" states:
"Expression evaluation limit
131,072 characters
The @concat(), @base64(), @string() expressions can't be longer than this limit."

How about other string functions like: @base64ToString(), @substring(), @json() ?

At the specific function page no limit is mentioned:

https://docs.microsoft.com/en-us/azure/logic-apps/workflow-definition-language-functions-refe

[2020-05-25 08:30] AndreasDL commented on #54851
Update:
If i create the labeller via the command line with the following bash code:
this is basically what is explained here: https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/quickstarts/label-tool
[code]

I get the following error:
![image](https://user-images.githubusercontent.com/6684502/82794274-7e42f880-9e72-11ea-8861-b60955c96c31.png)

However, when i deploy the labe

[2020-05-25 08:39] Calvin-Yuhui-Liu opened #55576 "document may not be correct"
3 issues:

1. About “Register the IdentityExperienceFramework application” and “Register the ProxyIdentityExperienceFramework application”, both have instruction for “Under Supported account types, select Accounts in this organizational directory only”. However if you do so, the application is not a B2C application and will not be available to choose in user flow. Please refer to [this discussion]

[2020-05-25 08:58] DixitArora-MSFT commented on #55527
@adamhwang I have assigned this to content author for further review and update as appropriate.

[2020-05-25 08:59] frvigano opened #55577 "Private Link - provide some use case"
I would suggest to add when a private link is needed within the Synapse Analytics context. I think it would help to understand under what circumstances and to achieve what private links are needed to provide secure access to data sources to Synapse.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9733a36f-ed92-a918-b35d

[2020-05-25 09:17] hansmbakker opened #55578 "Key Vault references give no verified confirmation for connection strings"
This page states that

They work indeed, but as a user you do not get a confirmation for that. In Azure App Service, the configuration table for `Connection Strings` does not show a source column that can say "Key Vault Reference" with a cross or a checkmark like the `App Settings` configuration table.

![image](https://user-images.githubusercontent.com/3463496/82798325-a9304b00-9e78-11ea-9218-818

[2020-05-25 09:20] goblinfactory commented on #19456
@artisticcheese you linked to a very broad announcement. Which part of that announcement do you think addresses this issue? If you mean "service tags" then I dont see how that addresses the issue? Service tags looks like a helpful grouping of rules per "tag", and the problem described here would still exist. (specifically that the local azure devops is not automatically whitelisted by the inclusio

[2020-05-25 09:21] Hindy-UK opened #55579 "Incorrect example link"
The referenced quick start template does not contain an example of an NSG for Bastion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffdc927a-882a-bb53-e6ec-0a18d71c3bec
* Version Independent ID: dbdb4fc7-a55e-b025-8ad3-18ffbe21eb66
* Content: [Troubleshoot Azure Bastion](https://docs.microsoft.com/en-us/azure/bastion

[2020-05-25 09:27] JessAtrust opened #55580 "Windows Virtual Desktop Linux Support"
[Enter feedback here]
Where can I get Linux SDK for Windows Virtual Desktop ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2790f804-e26d-d830-cfd3-f856fb2f4d45
* Version Independent ID: 0049bc46-c7c6-fd43-b9ca-2b8e76c3ef55
* Content: [Windows Virtual Desktop Linux Support - Azure](https://docs.microsoft.com/en-us/azu

[2020-05-25 09:32] cephalin commented on #55483
@koechkevin Keep in mind this is a Quickstart so it doesn't show every deployment scenario. For the GitHub instructions, see here: https://docs.microsoft.com/en-us/azure/app-service/deploy-continuous-deployment

[2020-05-25 09:32] cephalin commented on #55483
#please-close

[2020-05-25 09:32] #55483 closed

[2020-05-25 09:37] BhargaviAnnadevara-MSFT commented on #55204
@kmugrage We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-05-25 09:37] #55204 closed

[2020-05-25 09:49] YggY opened #55581 "No Appliance Resource Provider principal"
We have no Appliance Resource Provider principal in our portal. Did it change?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fd769b4-4c68-88be-bf6c-30ad3c355b82
* Version Independent ID: e5b2d116-ac1c-84ef-eeec-e9107019b982
* Content: [Use Key Vault when deploying managed app - Azure Managed Applications](https://doc

[2020-05-25 10:00] akarasev opened #55583 "Need an example on Java"
I always have 403 Forbidden when trying to use Java REST client like OkHttp or Apache HttpClient.

Note. I generate a signature correctly. I checked the signature with PowerShell code from the sample on this page (just replaced authorization and x-ms-date headers manually).

It looks like something is not documented properly
---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-05-25 10:23] cephalin commented on #54865
Update will be published within the next day. #please-close

[2020-05-25 10:23] #54865 closed

[2020-05-25 10:25] abhishek0818 commented on #55464
hi Team,

there is one update from me on above issue, and that is as follows -
1. I set the claims "Unique Identifier and name" with value user.localuserprinciplename, after setting this I am able to login to sharepoint application normally BUT here is my issue which is coming after login and that is, I can not see my user details information on sharepoint site after integrating which was getting

[2020-05-25 10:32] AjayKumar-MSFT commented on #55563
@pmummi,  Thanks for levering Azure docs feedback channel to raise this question. Could you also please share the Azure documentation for which this feedback is applicable to?

[2020-05-25 10:33] 84618315 commented on #55045
It seems to be fixed, can we get confirmation?

[2020-05-25 10:34] srikanthNutigattu opened #55585 "Typo"
It should be HTTPS instead of HTTP.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcd3f99a-f522-6edb-6d39-eac1bb917956
* Version Independent ID: 69e9c1e5-8deb-8092-46f4-6646d076fbe4
* Content: [Static website hosting in Azure Storage](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-static-website)
*

[2020-05-25 10:35] AjayKumar-MSFT commented on #55568
@dudu-markovitz, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-25 10:36] sachinbachhav commented on #30802
Hi All,
I am facing same issue.
Please share the solution.

[2020-05-25 10:37] #55585 closed

[2020-05-25 10:37] srikanthNutigattu commented on #55585
The original statement is valid. No change necessary.

[2020-05-25 10:38] AjayKumar-MSFT commented on #55570
@gkaleta, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-05-25 10:49] AjayKumar-MSFT commented on #55562
@mattmazzola, Thanks for leveraging Azure docs feedback channel to share your valuable feedback. Much appreciate your time and positive feedback, we are very glad about the great feedback.

Your feedback has been shared with the content owner (@craigshoemaker) for further review and update the document as appropriate.

[2020-05-25 10:52] AjayKumar-MSFT commented on #55573
@shmool, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-05-25 10:54] AjayKumar-MSFT commented on #55577
@frvigano, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-05-25 11:19] ingokofler commented on #55175
@msrini-MSFT @VikasPullagura-MSFT

Why was this issue closed? In my case `az vmss list-instance-connection-info` is not working. I am not using public IPs, I am solely interested in getting out the private IPs of the instances.

[2020-05-25 11:20] eladeyal-intel opened #55586 "MQTT over WebSockets and AMQP over WebSockets"
MQTT over WebSockets and AMQP over WebSockets too? I think the page can be improved by specifying this explicitly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58ad27ec-834c-d85d-79f9-ee699019be33
* Version Independent ID: b108b7b1-d28d-abed-467d-39a661c8e086
* Content: [Understand Azure IoT Hub direct methods](https

[2020-05-25 11:34] dilipshaiju opened #55587 "Mismatch in server name Changing primary region of the failover group"
Changing primary region of the failover group
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-auto-failover-group?tabs=azure-powershell#changing-primary-region-of-the-failover-group

In step 4
Re-create the failover group with the same name between servers A and C. At this point the logins will stop failing.
It should be Server B instead of A as now B is the Primary server so we h

[2020-05-25 11:35] AjayKumar-MSFT commented on #55007
@voteopolis, Apologies for the delay and all the frustrated experience with this issue.

From the Azure Portal >SignalR resource > Select Keys under SETTINGS. Copy your connection string for the primary key.
The connection string will have the following form:

`Endpoint=<service_endpoint>;AccessKey=<access_key>;`

Kindly try this [sample](https://github.com/aspnet/AzureSignalR-samples/tree/master/

[2020-05-25 11:38] AjayKumar-MSFT commented on #55559
@jelew, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-05-25 11:40] AjayKumar-MSFT commented on #55560
@JadenLy,  Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-25 11:40] DixitArora-MSFT commented on #55575
Hi @abalogh Thanks for reaching out. We will review and update as appropriate.

[2020-05-25 11:48] anurag-oss commented on #55364
The step that I am referring to "open port 443 in NSG" should be between [Open port 443 in the Azure load balancer](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-dotnet-app-enable-https-endpoint#open-port-443-in-the-azure-load-balancer) and [Deploy the application to Azure ](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-dotnet-app-ena

[2020-05-25 11:58] AjayKumar-MSFT commented on #55561
@aruwo17, Thanks for taking time to share your valuable feedback on Azure docs.
Yes, the time estimate of 6 minutes is for learning the concepts and instructions outlined in the document excluding the video demonstration.

We strive to make our Azure docs more discoverable and the docs aims at demonstrating key concepts with step-step instructions of a particular process /deployment and emphasis c

[2020-05-25 12:00] AjayKumar-MSFT commented on #55564
@jmoralesv,  Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-25 12:01] Zimmergren commented on #39665
We've started seeing this across some of our Azure subscriptions as well. Verifying domains the same way we have done over the last few years does not work anymore, with the error:

[code]

For reference, this very approach have worked for a long time. Only recently when we needed to verify yet another set of applications, it started to fail with the above message. It does indeed seem like the iss

[2020-05-25 12:02] AjayKumar-MSFT commented on #55565
@hajime008, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-25 12:04] cephalin commented on #54785
Update will be published within the next day. #please-close

[2020-05-25 12:04] AjayKumar-MSFT commented on #55566
@LXBdev,  Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-25 12:04] #54785 closed

[2020-05-25 12:09] voteopolis commented on #55007
As I explained - I have already done this.
I have researched and tried every possible example...
If you copied and pasted from some docs - it doesn't work...
The various new versions of signalr conflict... I spent a day installing and uninstalling various latest signalr packages to get the sample to compile.
"/chat" is not good enough -
I am days of attempts of guessing...
Please provide an exampl

[2020-05-25 12:10] eliasvakkuri opened #55588 "Next steps after creating private endpoint"
[Enter feedback here]
This page should be extended to cover how to connect to Synapse Studio via the private endpoint after creating it. Can I use an Azure P2S VPN with the private DNS? Or would I need a VM in the connected VM? Or something else?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d50a36d1-a544-8500-7591-13

[2020-05-25 12:11] ThijsLecomte opened #55589 "Machine ID - AAD Correlation"
How does the machine ID correlate to an AAD device?
Can we find the AAD device through the machine ID?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06524f5f-beb1-de55-b30b-8dcc0513191a
* Version Independent ID: 730c62fb-ea4d-ed73-af86-ca8d5a959ff7
* Content: [Office 365 management solution in Azure - Azure Monitor](h

[2020-05-25 12:19] darraghjones opened #55590 "Working with Reliable Collections - Common Pitfalls Question"
It's not clear to me if this code is valid:

[code]
And if not, why not?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6a0f00a-b627-ff52-6d82-318069ef54d7
* Version Independent ID: 107347a1-1127-8b93-f762-53bab86cfd10
* Content: [Working with Reliable Collections - Azure Service Fabric](https://docs.microsoft.com/en-

[2020-05-25 12:40] BMichaelJ opened #55591 "Correction on text"
Just add one word for correction.
https://docs.microsoft.com/en-us/azure/azure-monitor/insights/monitor-azure-resource#monitoring-data

Resources in Azure generate logs and metrics shown the following diagram. Refer to the documentation for each Azure services for the specific data they generate and any additional solutions or insights they provide.

Should read

Resources in Azure generate logs a

[2020-05-25 12:48] emacdona commented on #55288
That link lists only 9 parameters, though... 40 short of the list that was linked to in the article. Are there plans to support and of the other 40 parameters?

[2020-05-25 12:49] dotnetjunky opened #55592 "The `endpoint` value used in the sample code is wrong."
The code sample says the `endpoint` value should be set to the value specified in the Azure Portal. However, that is wrong. You'll get a 404 error if you make a request to that endpoint. Instead, you should hard code the endpoint to `https://api.cognitive.microsofttranslator.com/`, according to this page `https://docs.microsoft.com/en-us/azure/cognitive-services/translator/reference/v3-0-translate

[2020-05-25 13:02] jjindrich commented on #55248
@DixitArora-MSFT please reopen it. There is no information how to setup ingress communication with Azure Firewall

[2020-05-25 13:20] SychevIgor opened #55593 "List of supported Azure skills is not complete."
List of supported Azure skills is not complete. For example Azure monitor not mentioned.

https://keda.sh/docs/1.4/scalers/ here mentioned much more. Please, actualize
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cbf4053-0a3d-a803-3e0d-8cf28db358e8
* Version Independent ID: 782efd9c-beea-249c-f8e8-4ee4389bfb07
* Cont

[2020-05-25 13:49] Larryngolog opened #55595 "Is this affecting sign it to MSDN portal"
Could this restriction affect sign it to MSDN portal in order to access MSDN subscriptions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89ea5c2d-4602-25b8-3cdd-60cfb5c31895
* Version Independent ID: 35d4af7e-72e4-7c40-9dd6-b8490ee73f0d
* Content: [Use tenant restrictions to manage access to SaaS apps - Azure AD](htt

[2020-05-25 14:25] AjayKumar-MSFT commented on #55569
@vdkStijn, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-25 14:27] AjayKumar-MSFT commented on #55571
@mikewaretena, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-25 14:28] AjayKumar-MSFT commented on #55572
@bhanu7pk, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-25 14:30] AjayKumar-MSFT commented on #55576
@Calvin-Yuhui-Liu, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-05-25 14:34] remcolam commented on #17676
I'm also curious as to what the exact meaning is.

I am getting an average response time of 4.8s on a specific api call. When I select 99th, it jumps to 11.6. Which I thought to mean: Take the average, find the 1 percent samples that are furthes away from that average and ignore them. Then calculate a new average.

Mij problem being, that the in 270+ samples, there is 1 sample at 100ms, 1 sampe at

[2020-05-25 14:41] AjayKumar-MSFT commented on #55578
@hansmbakker, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-25 14:43] AjayKumar-MSFT commented on #55579
@Hindy-UK, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-25 14:44] AjayKumar-MSFT commented on #55580
@JessAtrust, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-25 14:45] jurjenoskam commented on #55453
@DixitArora-MSFT Perhaps it is because I'm not a native speaker, but as it is the paragraph reads to me like this:

Hence my suggestion to change the header to the equivalent of "Do not keep your engine running while refueling".

[2020-05-25 14:46] cloudmelon opened #55597 "Azure ML attach an existing aks cluster condition missing"
Hello,

I was trying to az ml computetarget attach command to an existing AKS cluster which has been created by az cli command.  From existing documentation, I believe there are some pre-conditions of AKS to achieve the goal.

I've used the following command :
az ml computetarget attach aks -n myaksname -i resourceidofmyaks -g resourcegroupname -w mlworkspacenametoattach

I have three different er

[2020-05-25 14:46] AjayKumar-MSFT commented on #55581
@YggY, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-25 14:50] AjayKumar-MSFT commented on #55583
@akarasev,  Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-25 14:55] ps-weber opened #55598 "Modifying the integrated verification code generator"
Hi,

We are encountering an issue where the expiration time of the E-mail verification code is too short. This article describes how you can create a custom OTP provider, but not how to use it with the integrated ("Microsoft on behalf of ...") verification mails.

We would like to avoid setting up our own E-Mail service.

Is there a way to customize the expiration of the OTPs in the integrated E-M

[2020-05-25 14:55] AjayKumar-MSFT commented on #55585
@srikanthNutigattu, Thanks for leveraging Azure docs feedback channel to raise this question.

Much appreciate the follow-up and you're right the statement is correct - "It's easier to enable HTTP access for your custom domain, because Azure Storage natively supports it. To enable HTTPS, you'll have to use Azure CDN because Azure Storage does not yet natively support HTTPS with custom domains"

[2020-05-25 15:02] KrishnaG-MSFT commented on #55110
Verified the referred Azure document and could see the changes live after the merge. Thanks.

[2020-05-25 15:02] #55110 closed

[2020-05-25 15:17] KrishnaG-MSFT commented on #55538
@SubhashBhosale Thanks for the finding! Changes will get merged and will go live soon. #Please-Close

[2020-05-25 15:17] #55538 closed

[2020-05-25 15:25] DaveVernon opened #55600 "'Data Connector' table legend"
What do 'V' and 'X' indicate in the data connector table?  Please add a legend / footnote.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf163f82-d5be-8b0a-e176-be3e85961eb6
* Version Independent ID: 39d5db21-18e8-a7c5-4408-407bf1905d73
* Content: [Connect data sources to Azure Sentinel](https://docs.microsoft.com/en-

[2020-05-25 15:26] markjbrown opened #55601 "Logical Partitions 20GB now"
Can you update this page to read 20 GB for partitions now? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ce36931-13ce-b2c2-1efe-50c9aa5015ea
* Version Independent ID: fb75608b-4262-ada6-bdcc-a981348817df
* Content: [Azure Stream Analytics output to Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/strea

[2020-05-25 15:26] gary918 opened #55602 "Need to set firewall rules when connecting to the server by using MySQL Workbench ?"
[When using MySQL Workbench, I need to set 'Connection security ->Firewall rules ->Add current client IP address' in order to connect to the server. Should we mention that? Thanks. ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56945d81-d8a4-3809-2372-1b21f278ec88
* Version Independent ID: e6fa3969-a0ac-c5a1-3655-580

[2020-05-25 15:38] DixitArora-MSFT commented on #55248
@jjindrich I have assigned this to content author for further review and update as appropriate.

[2020-05-25 15:38] LukeCarrier opened #55603 "What is meant by key reuse?"
This document makes references to key reuse in the key properties bullet point, but I've been unable to find a definition for what that allows in practice. Please could you expand on this?

It'd be worth considering that the majority of us aren't experts in cryptography. This is a real opportunity to produce accessible, useful best practice documentation that helps us mere mortals approach crypto

[2020-05-25 15:40] jayendranarumugam commented on #44612
FYI to all . Azure Synapses workspace is now in public preview !

[2020-05-25 15:42] DixitArora-MSFT commented on #55593
Hi @SychevIgor Thanks for your feedback. We will review and update as appropriate.

[2020-05-25 15:43] timrobinson33 opened #55604 "distinction between authority, instance and tenant ID is not clear"
Page says "The configuration file defines...the authority or the cloud instance and tenant ID."

I'm not sure whether this means I need either authority or instance+tenant, or whether authority is simply another term for instance+tenant.

The sample configuration file defines the instance and tenant id as 2 string variables, then The code sample references authority as a single string variable

so

[2020-05-25 16:26] theclaes opened #55607 "TLS is NOT enabled by default, SSL is enabled by default"
I have just created a new postgresql resource and pulled the resource by armclient to view the json template. Two lines are ineresting to me (sslEnforcement, minimalTlsVersion):

...
"version": "11",
    "sslEnforcement": "Enabled",
    "minimalTlsVersion": "TLSEnforcementDisabled",
...
"type": "Microsoft.DBforPostgreSQL/servers"

This means, TLS is not enforced for a specific version or at all bu

[2020-05-25 16:37] nacholab commented on #45683
i have the same error did you find a solution ?

[2020-05-25 16:37] cephalin commented on #54988
@cgillum confirmed that there's no plan to officially support the feature shown in that blog. No action for docs. #please-close

[2020-05-25 16:37] #54988 closed

[2020-05-25 16:55] vinod83k opened #55608 "How to render static imagery map image with pins"
[Enter feedback here]
I would request you to please provide me details as how can I get a static satellite imagery map image with pins embedded on it. I can only get pins with static basic/hybrid etc image, but my requirement is to get an satellite image with pins on it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9

[2020-05-25 17:00] vipulsparsh commented on #55254
@memildin Can you look into this ?

[2020-05-25 17:12] asergaz commented on #54965
Hello @erikerikson , thank you so much for the valuable discussion!

I cannot think of a more reliable way than to trust on the "operationTimeStamp" , that from my understanding is written using the device-local timestamp itself. I don't have access to the internals of message routing to validate how it is done though... Nevertheless I spent some more time researching and clarified that [routing g

[2020-05-25 17:19] deltadan opened #55609 "showing windows disk management in a linux article?"
seems very strange to show windows disk manager in this article about Linux storage?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b61b1427-1941-9831-e823-e2d114decb4a
* Version Independent ID: 1ad9a4b7-0190-5f31-835c-fcf020cb39ad
* Content: [Disk storage overview - Azure Linux Virtual Machines](https://docs.microsoft

[2020-05-25 17:21] Mike-Ubezzi-MSFT commented on #55592
@dotnetjunky Thank you for bringing this to our attention. I will have the content team review this issue and update the document as appropriate.

[2020-05-25 17:32] Mike-Ubezzi-MSFT commented on #55590
@darraghjones Thank you for bringing this to our attention. This inquiry is likely better served through [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-service-fabric) unless there is a documentation specific correction that should take place. However, this has been assigned to an engineer for review.

[2020-05-25 17:37] Mike-Ubezzi-MSFT commented on #55601
@markjbrown Thank you for making us aware of this discrepancy. This has been assigned to an engineer to have the document corrected.

[2020-05-25 17:40] v-pethur commented on #52879
@bandersmsft
Hello Bill,
This request is not at all urgent, but I am pinging this thread wanting to check that it is still in the works where ever it may lie on the priority queue.

Thank you as always for your time,
Peter

[2020-05-25 17:47] Mike-Ubezzi-MSFT commented on #55587
@dilipshaiju Thank you for making us aware of this issue. I have assigned this to the content owner to evaluate and update as appropriate.

[2020-05-25 17:51] Mike-Ubezzi-MSFT commented on #55602
@gary918 Thank you for bringing this to our attention. Yes, the public IP address that you are connecting from needs to be added to the allow list for you to be able to connect. I will have the content owner review this tutorial and update the document as appropriate.

[2020-05-25 17:54] Mike-Ubezzi-MSFT commented on #55607
@cltews Thank you for bringing this to our attention. I will have the content owner review this and update the documentation as appropriate.

[2020-05-25 17:58] ThomasWeiss commented on #55090
@susanlinsfu Storing binary data in Cosmos DB is indeed an anti-pattern; the recommended alternative is to store that type of data (pictures, videos etc.) in Azure Blob Storage and include the link to the file in the document stored in Cosmos DB.

[2020-05-25 18:09] Mike-Ubezzi-MSFT commented on #55586
@eladeyal-intel Thank you for the feedback. This is being reviewed and an update to the document will be made as appropriate.

[2020-05-25 18:15] Mike-Ubezzi-MSFT commented on #55608
@vinod83k Thank you for the inquiry. We are investigating your request I also suggest you present the same question to [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-maps) and [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-maps.html), where this question is better suited. However, I have assigned this to an engineer to be investigated.

[2020-05-25 18:15] gayankanishka commented on #51800
The table storage connection works fine. Only the Blob and Queue storage has the issue. @mbialecka 's approach works fine for the queue storage as well (when used the appropriate classes).

[2020-05-25 18:16] KrishnaG-MSFT commented on #55591
@BMichaelJ Thanks for your comment! We will review and provide an update as appropriate.

[2020-05-25 18:17] KrishnaG-MSFT commented on #55589
@ThijsLecomte Thanks for your comment! We will review and provide an update as appropriate.

[2020-05-25 18:19] Mike-Ubezzi-MSFT commented on #55595
@Larryngolog Thank you for the inquiry. We are investigating your question and will update you when we have information to share with you.

[2020-05-25 18:22] Mike-Ubezzi-MSFT commented on #55598
@ps-weber Thank you for the inquiry. We are investigating and will update you when we have information to share with you.

[2020-05-25 18:25] Mike-Ubezzi-MSFT commented on #55603
@LukeCarrier Thank you for the feedback. I have assigned this to the content owner to evaluate this as a doc enhancement to update the documentation as appropriate.

[2020-05-25 18:28] LukeCarrier opened #55610 "No documentation on permissions necessary for a user-managed identity to fetch keys and certificates from Key Vault"
I'm trying to configure a Key Vault with an access policy that allows my App GW with a user-managed identity to get keys and certificates. The documentation doesn't make it clear what the minimal set of permissions is, and "get secret" doesn't seem to be it.

Is something else wrong, or are more permissions required?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2020-05-25 18:29] Mike-Ubezzi-MSFT commented on #55604
@timrobinson33 Thank you for the feedback. I have assigned this to the content owner as a doc enhancement to evaluate and update the document as you have suggested and where appropriate.

[2020-05-25 18:36] Mike-Ubezzi-MSFT commented on #55610
@LukeCarrier Thank you for bringing this to our attention. I will have a networking engineer review this and provide the specific steps if applicable. If there are documentation updates that should be made, we will have the content owner review this scenario and make an update as needed.

[2020-05-25 18:38] LukeCarrier commented on #55610
Thanks @Mike-Ubezzi-MSFT, much appreciated. I think regardless of whether there's something wrong with the privileges I'm using, the documentation could use a rethink anyway. Forcing customers to read through some pretty badly formatted PowerShell code blocks to identify the parameters they need to use with other clients (Terraform, `az` CLI, etc.) is a bit poor IMO.

[2020-05-25 18:40] LukeCarrier commented on #55610
I also got this hilariously unhelpful error from the service when updating a certificate from the portal, so something somewhere is clearly unhappy:

[code]

[2020-05-25 18:43] Mike-Ubezzi-MSFT commented on #55588
@RonyMSFT Thank you for bringing this to our attention. I will have the content owner evaluate this as a doc enhancement and make updates as appropriate.

[2020-05-25 18:45] shashishailaj commented on #55561
@aruwo17 Hope the above explanation helped. As my colleague explained , it is actually an estimation of approximate time that would be required to read the article and that may still vary from person to person. It is not an exact value and we agree that it would be good to estimate the time including the duration of the video but as @ajay-msft said , the videos are provided for greater clarity and

[2020-05-25 18:47] dckfnuance commented on #54804
Any update on this?

[2020-05-25 18:51] Mike-Ubezzi-MSFT commented on #55597
@cloudmelon Thank you for bringing this to our attention. I will have an engineer review this to identify the content owner and have your feedback considered as part of a doc enhancement.

[2020-05-25 18:54] Mike-Ubezzi-MSFT commented on #55600
@DaveVernon Thank you for bringing this to our attention. I have assigned this to the content owner to evaluate and update as appropriate.

[2020-05-25 18:58] ShachafGoldstein opened #55611 "Non vm NICs"
Wouldn't this try to delete other resources' nics as well? App gateway, private endpoints, etc

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 939e640f-6505-774f-68d9-697a596f14fb
* Version Independent ID: 887d307d-5c87-c9fa-3a95-91ccc1aa9260
* Content: [Find and delete unattached Azure NICs - Azure Linux Virtual Machin

[2020-05-25 18:59] Mike-Ubezzi-MSFT commented on #55609
@deltadan Thank you for providing the feedback. I will have the content owner review this and update the document as appropriate.

[2020-05-25 19:09] cloudmelon commented on #55597
Thanks @Mike-Ubezzi-MSFT Look forward to hearing from you guys soon

[2020-05-25 19:13] SaurabhSharma-MSFT commented on #55283
@jurgen-j We will now proceed to close this thread as we haven't heard back. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-25 19:13] #55283 closed

[2020-05-25 19:20] roygara commented on #55609
@deltadan Thanks for reaching out, I'll clarify this: This article isn't Linux specific, in fact its content is 100% shared between the "Windows" and "Linux" docsets. We do this when the article applies to both in a uniform manner. In this case, the article isn't describing how to manage disks for either Windows or Linux, its a conceptual overview for managed disks, and is using that image as an e

[2020-05-25 19:20] #55609 closed

[2020-05-25 19:20] aruwo17 commented on #55561
Shashi,

Thanks to you and your colleague for the response and explanation. While recognizing the time is "an estimation of approximate time that would be required to read article", 6 minutes to read this particular article on: https://docs.microsoft.com/en-us/azure/active-directory/governance/access-reviews-overview (excluding the videos and hands-on steps to be performed on the portal) is far of

[2020-05-25 19:20] jeevaeastpoint opened #55612 "Is "Access Program" still a valid ?"
I dont see the option to select "Program" to create new access review program in the Azure Portal. Not sure whether the docs is out of date....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40ed7c08-ec4d-0ebc-78e5-4115088f4968
* Version Independent ID: 201d0876-6a55-595b-4141-055bdb3282b7
* Content: [Create an access

[2020-05-25 19:23] deltadan commented on #55609
I understand that, but this is in the Linux VM documentation section of the site.  It just makes MSFT seem not Linux friendly which isn't true.

[2020-05-25 19:28] deltadan commented on #55609
maybe add a screenshot of df or something? :)

[2020-05-25 19:31] darraghjones commented on #55590
The reason I raised the issue here is because I felt the documentation wasn't very clear. I can ask the question on stackoverflow but without clear docs how would anyone know the answer 😊

[2020-05-25 19:33] roygara commented on #55609
@deltadan Sorry, I'll be more clear: I've already added an item to our backlog for this, we're just not going to change this immediately. Thanks for pointing this out, we appreciate it. :)

[2020-05-25 20:04] vipulsparsh commented on #55501
@Robert-Tortorelli  Azure Sentinel uses Microsoft Log analytics in backend, so to perform/search anything with Sentinel you would need to select the workspace first under Azure Sentinel Workspaces, Once you have selected the workspace you would see different option which includes the Azure notebooks.

![image](https://user-images.githubusercontent.com/63580915/82840573-b1c46800-9ef0-11ea-8dd3-89fb

[2020-05-25 20:23] cmmdesai commented on #51629
Workday writeback connector does not support calculated fields.
#please-close

[2020-05-25 20:23] #51629 closed

[2020-05-25 20:30] euangms commented on #55557
The user must have been using an old or cached version of the doc as the current public doc no longer has this problem because an explicit import was added

[2020-05-25 20:30] cmmdesai commented on #54090
@JustinMcCauley thank you for reaching out. In April, we updated the connector to support the new Work Contact Change BP - https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/whats-new#workday-inbound-user-provisioning-and-writeback-apps-now-support-the-latest-versions-of-workday-web-services-api
While there is a provision for backward compatibility in the code to use Maintain Con

[2020-05-25 20:35] cmmdesai commented on #51893
@aaroncalderon The very first time you run "initial sync" or whenever you run "full sync" with the option "Clear current state and restart synchronization" - the Workday connector retrieves data for all current active employees and contractors. After full sync is complete, the incremental sync, only looks for changes that have occurred since the last sync. The process is documented here - https://

[2020-05-25 20:36] cmmdesai commented on #49793
#please-close

[2020-05-25 20:36] #49793 closed

[2020-05-25 20:49] abraunegg commented on #39665
@Mike-Ubezzi-MSFT
Can we *please* get some traction here in fixing this issue?

[2020-05-25 21:04] CeciAc opened #55614 "Incorrect PowerShell command"
@jdrepo commented on [Sun May 24 2020](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/660)

[Hier Feedback eingeben]

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: 10638ad5-51c2-679d-2ac0-356321f750f4
* Version Independent ID: 69e5f565-3e5b-ec02-a424-451a8747b164
* Content: [Ü

[2020-05-25 21:43] erbalaji commented on #54713
@davidsmatlak , No I haven't tried deploying as I wasn't sure if it was worth trying as the documentation mentioned otherwise, I can try and confirm.

[2020-05-25 21:44] Mike-Ubezzi-MSFT commented on #39665
@abraunegg This docs channel is best suited for raising issues with the documentation. If there is a specific doc issue, please open a new issue and I will redirect it to the Identity and Security engineering team to address the documentation. If you are experiencing a product issue, please [create a support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-

[2020-05-25 22:10] rosanch commented on #55427
Here I don't see info on how to disable purge protection from a keyvault
https://docs.microsoft.com/en-us/azure/key-vault/general/soft-delete-powershell#enabling-purge-protection

[2020-05-25 22:15] vikancha-MSFT commented on #55435
Tagging @VikasPullagura-MSFT  as the previous comment from @roongr2k7 was meant for him.

[2020-05-25 22:16] kobulloc-MSFT commented on #17676
@remcolam Percentiles can be a bit confusing the first time you encounter them.  They are commonly used when examining test scores and that is probably the best example for understanding what is meant by the 99th percentile.

Imagine that 100 people take a test.  The lowest score would be the 0th percentile, meaning that 0% of the test takers scored less than the lowest score.  The highest score w

[2020-05-25 22:37] CeciAc opened #55616 "See user's login"
@Brunolosse commented on [Fri May 22 2020](https://github.com/MicrosoftDocs/azure-docs.pt-br/issues/599)

Is it possible to show the users Identification at the questions query?
I've tried user_AccountId, user_AuthenticatedId and user_Id but they return blank.
The channel I'm using is TEAMS.

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do doc

[2020-05-25 23:01] gunzip opened #55617 "Custom status max size 16Kb -> 64kb ?"
About the statement:

AFAIK the table storage max column size it's 64kb not 16kb

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 921c8c10-74b3-9cac-1eb3-3a9f9a1cabed
* Version Independent ID: 6bc27b8e-b629-613e-dfb2-5ff8ae7a8a3b
* Content: [Custom orchestration status in Durable Functions - Azure](https://docs.microsoft

[2020-05-25 23:10] Lukelumia commented on #55435
I have the same issue,
- Tried multiple regions. Both where it is day and night.
- Tried both creating a spot by using the CLI and Web interface
- Tried the provided guide, both with default values and with custom parameters
- Tried both small and big machine types
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/spot-cli

All resulted in the same error. Trying different zones and vm

[2020-05-25 23:18] dcbrown16 opened #55618 "ToC"
This document doesn't seem to be part of any ToC. I thought it used to be in the Architecture section somewhere. Where does it belong?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a788e4-0130-73f2-d985-6fc3aec77974
* Version Independent ID: a9f4ec3f-f0a3-b050-020b-f487c74c5179
* Content: [Ensure business continuity

[2020-05-25 23:33] Mike-Ubezzi-MSFT commented on #55185
@pmozbert We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-25 23:33] #55185 closed

[2020-05-25 23:57] palma21 commented on #46021
Adding @mlearned
Please update the owner of the doc too.

[2020-05-26 00:30] andrepodnozov opened #55619 "Confusion regarding Basic tier"
The Note on this page states: "The features described in this article are available only in the standard tier of IoT Hub."
However, the following link states that Basic tier does support bulk device operations: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-scaling

This looks like conflicting information. Please reconcile this difference.

---
#### Document Details

⚠ *Do not edit this se

[2020-05-26 00:33] cg6 commented on #54905
Ok, so there's no setting a directory to tiered, it only ever applies to files. Thanks for clarifying.

The docs would be improved by re-working the section: How do I force a file or directory to be tiered?
I'd suggest just title it "How do I force files to be tiered?" and make it clear that specifying a directory only applies to existing files.

[2020-05-26 00:57] jsburckhardt commented on #38914
How on earth is this close???? the links links of the "workaround" don't work either :)

[2020-05-26 01:40] awentzel opened #55620 "Unclear documentation with Backend host headers"
Quoted from a stack overflow post:

It's unclear how to correctly configure the Backend host header for my scenario and as quoted above, others are also confused. I've read this statement so many times and it's just not making sense.

My scenario includes a Front Door w/ customer domain name, and custom non-front door managed certificate.  I have two regions with an app service plan.  In West regi

[2020-05-26 01:48] arvindsindhu commented on #55499
I am also facing the same issue.

[2020-05-26 01:52] BharathNimmala-MSFT commented on #55614
@jdrepo Thank you for bringing this to our notice, we will look into it and get back to you at the earliest.

[2020-05-26 02:18] SnehaAgrawal-MSFT commented on #55112
@gregdegruy Thanks for the clarification. Could you please send an email to AzCommunity[at]Microsoft[dot]com referencing this issue, we would like to work closer with you on this matter.

[2020-05-26 02:18] #55112 closed

[2020-05-26 02:23] aspnet4you commented on #38914
@jsburckhardt - Not sure which workaround you are referring to but you may review my blog post,
https://blogs.aspnet4you.com/2019/09/20/azure-devops-build-pipeline-use-keys-and-secrets-from-key-vault/

[2020-05-26 03:05] SwathiDhanwada-MSFT commented on #55242
Assigning to content author @mumian for doc enhancement

[2020-05-26 03:21] femsulu commented on #55221
Hello @alsavelv  - noticed you are MSFT so going to follow-up with you internally as I'm unable to repro this issue - possibly an isolated issue.

[2020-05-26 03:23] MonikaReddy-MSFT commented on #55346
@cweining - Thank you for providing your insights.
@iinatti - I hope @cweining has answered your question. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-26 03:24] MonikaReddy-MSFT commented on #55455
@jamesryanuk - Thanks again for bringing it to our attention.
Above PR resolved your issue. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-26 03:27] DixitArora-MSFT commented on #55617
Hi @gunzip Thanks for your feedback. We will review and update as appropriate.

[2020-05-26 03:28] SwathiDhanwada-MSFT commented on #55302
Apologies @greendx , can you please send the snapshots of each step you have taken when creating the Start\Stop solution to AzCommunity@microsoft.com along with subscription Id and a link to GitHub thread (for context) so that I can check internally and update you accordingly?

[2020-05-26 03:30] AjayKumar-MSFT commented on #55611
@ShachafGoldstein, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-26 03:32] AjayKumar-MSFT commented on #55612
@jeevaeastpoint,  Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-26 03:34] AjayKumar-MSFT commented on #55616
@Brunolosse , @CeciAc , Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-26 03:37] AjayKumar-MSFT commented on #55618
@dcbrown16, That's a good catch!  Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-05-26 03:51] ssindhuvmo commented on #55475
Hi,

Many thanks for your response. I followed the link
https://docs.microsoft.com/en-us/azure/active-directory/b2b/self-service-sign-up-user-flow

to create a user flow but post that could not find an option to run the
flow

Thanks and Regards,

Sindhu Saravanan

Chief Operating Officer

 +91 94449 71467

+91 44 4262 9349

www.valuematters.org

ssindhu@valuematters.org

On Sat, May 23, 2020 at 3:

[2020-05-26 03:53] SnehaAgrawal-MSFT commented on #55232
@trangluong Thanks for asking question! Could you please elaborate on what steps you are trying to help you better on this?

If you already have a private certificate from a third-party provider, you can upload it. Please refer to [Private certificate requirements.](https://docs.microsoft.com/en-us/azure/app-service/configure-ssl-certificate#private-certificate-requirements) Once you obtain a cert

[2020-05-26 03:54] VikasPullagura-MSFT commented on #54761
@ted185 Thanks for confirming that the issue is resolved now.
Your comments will remain on this page and content team will enhance the document calling out the Public IP address part you have mentioned in your comment.

We will now close this issue.

[2020-05-26 03:54] #54761 closed

[2020-05-26 03:56] wcom939 commented on #12432
If i follow the directions I get "the remote gateway is temporarily unavailable'

If i follow JTCs workaround I get "the logon attempt failed" HTTP redirection is off in IIS

I'm on a brand new setup of RDP session based on win 2019, newest updates, and I've hit a very hard brick wall

[2020-05-26 04:01] souravmishra-msft commented on #55396
@msmbaldwin, Can you please take a look at this.

[2020-05-26 04:01] Calvin-Yuhui-Liu opened #55625 "Tenant ID also needs to be updated"
In the "Configure the sample" section, the value of "ida:TenantId" also needs to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 906907ec-cbe2-59b1-a84e-ce1b1343756f
* Version Independent ID: f498962c-f738-ccd8-a619-de854fac37da
* Content: [Tutorial: Enable authentication in a web application - Azure AD B2C]

[2020-05-26 04:09] ChiragMishra-MSFT commented on #55306
@bruceharrison1984 As mentioned in the doc, "By default, all secure strings, like Key Vault secrets, and secure strings, like connection strings, keys, and tokens, are parameterized."

Please also take a look at the example usage in the sample code :
https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment#sample-parameterization-template

Hope this helps.

[2020-05-26 04:10] jerm commented on #39152
Not sure. @pfista how did this end up?

[2020-05-26 04:12] VikasPullagura-MSFT commented on #54579
@artisticcheese Apologies in the delayed response.

I have been trying to get the required information for your query. Below is the information I have so far:
You will not have any impact on the backup stored under the vault prior to these changes if you have successful backups. This will not affect existing backups. However, you can restore disks or data from those recovery points.
As mentioned i

[2020-05-26 04:12] #54579 closed

[2020-05-26 04:14] CHEEKATLAPRADEEP-MSFT commented on #55557
@hidwatanabe  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-26 04:14] #55557 closed

[2020-05-26 04:14] ChiragMishra-MSFT commented on #55440
@guntaled The child items are fetched in an alphabetical order. Eg -
[code]

[2020-05-26 04:19] ChiragMishra-MSFT commented on #55547
@Michael-Kuritzky You can use the output of any ADF activity in a subsequent activity. Hence, details on how to use the output of any activity, are mentioned in the doc below :

https://docs.microsoft.com/en-us/azure/data-factory/tutorial-control-flow-portal

Hope this helps.

[2020-05-26 04:25] ChiragMishra-MSFT commented on #55549
@Rutikhal Since you can nest "OR" functions any number of times, it essentially means that you can have any number of arguments, just that at one instance of the function call, there need to be two parameters passed at max.

If you were to use OR with more than 2 inputs, you can nest the OR function as shown below :

**@or(or(false, false), true)**

Hope this helps.

[2020-05-26 04:26] VikasPullagura-MSFT commented on #55330
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-05-26 04:26] #55330 closed

[2020-05-26 04:28] CHEEKATLAPRADEEP-MSFT commented on #55601
@markjbrown Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/116415](https://github.com/MicrosoftDocs/azure-docs-pr/pull/116415)
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to

[2020-05-26 04:28] #55601 closed

[2020-05-26 04:36] souravmishra-msft commented on #55493
@AmitavaHazra, You do not have the option of getting a notification email for the expiring password for any user and hence there is no option available for configuring the notification email. Check the following url: https://docs.microsoft.com/en-us/microsoft-365/admin/manage/set-password-expiration-policy?view=o365-worldwide#important-things-you-need-to-know-about-the-password-expiration-feature

[2020-05-26 04:36] #55493 closed

[2020-05-26 04:37] SnehaAgrawal-MSFT commented on #55312
@awentzel Thanks again for the feedback! As its mentioned in the document under [Create a service principal](https://docs.microsoft.com/en-us/azure/app-service/deploy-github-actions#create-a-service-principal) section:
"You can create a [service principal](https://docs.microsoft.com/en-us/azure/active-directory/develop/app-objects-and-service-principals#service-principal-object) by using the [az a

[2020-05-26 04:38] CHEEKATLAPRADEEP-MSFT commented on #55554
@Edward-fdev Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

@JSeb225 Could you please update the image with from minute to seconds?

![image](https://user-images.githubusercontent.com/44426401/82860949-d3494200-9f38-11ea-8202-533a01c1c0e8.png)

[2020-05-26 04:46] RohitMungi-MSFT commented on #55031
@dubbySwords We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-05-26 04:46] #55031 closed

[2020-05-26 04:47] CHEEKATLAPRADEEP-MSFT commented on #55577
@RonyMSFT Could you please review further and update the document?

[2020-05-26 04:49] souravmishra-msft commented on #55526
@LukeCarrier, I apologize for the inconvenience caused. The Overview page do miss out on explaining the SKUs available for Key Vault. But you an find the SKU details on our official docs too. Please find them below:
https://azure.microsoft.com/en-in/pricing/details/key-vault/

Each Azure Service has a Product overview page that has a dedicated tab called pricing that lists the SKUs and the compari

[2020-05-26 04:50] glprasanna commented on #55438
Hi Shashi,

Could you please provide any update ?

Regards,
Prasanna

[2020-05-26 04:50] RohitMungi-MSFT commented on #55354
@AmitavaHazra Thanks for providing the feedback as suggested. Our team should reach out to you to fix this. If necessary, we can also provide a one time free support request for this issue if you do not have a support plan for your subscription.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-05-26 04:50] #55354 closed

[2020-05-26 04:51] LengZai opened #55626 "HTTP to HTTPS redirection with "Azure Front Door Rules Engine""
Hi,

Since Azure Front Door Rules Engine is now GA since 12th May 2020. You don't need to create Routing Rules to handle HTTP to HTTPS
[Announcing Azure Front Door Rules Engine](https://azure.microsoft.com/en-in/blog/announcing-azure-front-door-rules-engine-in-preview/)
[What is Rules Engine for Azure Front Door?](https://docs.microsoft.com/en-us/azure/frontdoor/front-door-rules-engine)

![image](

[2020-05-26 05:00] memildin commented on #44890
Only users who are **Owner** or **Policy contributor** have the necessary permissions to add compliance standards.
@DeanGross, I hope that answers your question. Feel free to be in touch if you need anything further.
#please-close

[2020-05-26 05:00] #44890 closed

[2020-05-26 05:03] memildin commented on #44891
Only users who are Owner or Policy contributor have the necessary permissions to add compliance standards.
@DeanGross, please contact support if that still doesn't work for you.
#please-close

[2020-05-26 05:03] #44891 closed

[2020-05-26 05:08] Mike-Ubezzi-MSFT commented on #55234
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-26 05:08] #55234 closed

[2020-05-26 05:11] AshokPeddakotla-MSFT commented on #55619
@andrepodnozov Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-26 05:17] OzBob opened #55627 "Version 2.x app.config only local not file"
If the 'AzureWebJobsEnv' setting is set in a application.config file that is linked using the keyword file, then it is ignored.

it must be in a local app.config file.

This will work:
[code]

This will not work, where appsettings.config is a shared solution level application config file:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-05-26 05:22] AshokPeddakotla-MSFT commented on #55284
closing this issue. It's a duplicate of https://github.com/microsoftdocs/azure-docs/issues/55285

[2020-05-26 05:22] #55284 closed

[2020-05-26 05:30] SnehaAgrawal-MSFT commented on #55627
@OzBob Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-26 05:34] ram-msft commented on #55213
@Micpic3 Thanks for the details. @aahill @cahann could you please check on this.

[2020-05-26 05:37] suhailgupta03 commented on #47918
What was the solution to this?

[2020-05-26 05:44] ram-msft commented on #52904
@viju2008 Yes, Please use batch to transcript the WAV file in text , where a transcript is expected to be generated at the end of the call/file. This will improve the time of the duration of the WAV file processing.

Please follow the faq for stt in the following link.
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-container-faq?tabs=stt

[2020-05-26 06:05] CHEEKATLAPRADEEP-MSFT commented on #55309
@normesta Could you please provide insight on how to give access to a subdirectory without providing access to the parent directory?

[2020-05-26 06:05] pmummi commented on #55563
Thank you @AjayKumar-MSFT for getting back on this.
As per below document, to connect SQL MI from App service, we need to do vNet integration.
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-connect-app

As per below document, it needs minimum Standard ASP to do regional vNet integration.
https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-

[2020-05-26 06:06] alexchen2016 opened #55629 "About jQuery version and JavaScript framework"
[Enter feedback here]
In "Guidelines for using JavaScript" section, docs shows "Azure AD B2C uses a specific version of jQuery.", Can you tell me what is the specific version? And it also says "Most JavaScript frameworks are not supported by Azure AD B2C."  Can you tell me what JavaScript framework is supported? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-05-26 06:07] remcolam commented on #17676
Thanks for the explain. It does not mean what I thought it meant... Especially since it is showing it incorrectly.

You are telling me, for 99th, you mean the top 1% . I think we can all agree, fast is better. So Application Insights is actually showing the 1st, and 5th percentile scores. Not the 99th and 95th. It is throwing away the worst scores, not the best.

Besides that, what use are those p

[2020-05-26 06:17] hisasima opened #55630 "Can not use shortcut key like Windows Key."
I pressed Windows key and I found that operation forcused my laptop PC. I confirmed same behavior when I pressed "Alt + Tab" to change Task Window.

I found same case in stackover flow.
https://stackoverflow.com/questions/58560729/how-to-use-windows-key-shortcuts-in-azure-bastion-connection-to-remote-windows-v

I hope you to add that limitation into public document.

---
#### Document Details

⚠ *

[2020-05-26 06:28] KrishnaG-MSFT commented on #55583
Hi @akarasev, In general you see InvalidAuthorization error code if the service failed to authenticate the request due to invalid connection key or workspace ID. The issue would be while creating authorization signature so if not already done then I would suggest you to double check
- workspace connection key is correct
- workspace ID is correct
- x-ms-date format is in RFC 1123 format
- ContentTy