[2020-09-22 06:06] psmanhas commented on #62991
@axayjo Can you please check and add your comments on this doc update request as applicable

[2020-09-22 06:17] souravmishra-msft commented on #63009
@andrew951, Thank you for reaching out. We are looking into this and would get back to you soon.

[2020-09-22 06:28] andrew951 commented on #63009
Hi @souravmishra-msft I found that this new section was added under troubleshooting steps https://docs.microsoft.com/en-us/azure/storage/files/storage-troubleshoot-windows-file-connection-problems#azure-files-on-premises-ad-ds-authentication-support-for-aes-256-kerberos-encryption
It might be helpful to add an alert info box with this information. I noticed that it was added on the next step. This

[2020-09-22 06:30] psmanhas commented on #63005
@rharris-hs Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-09-22 06:31] souravmishra-msft commented on #63004
@LukeBolly , Thank you for reaching out. We are looking into this and will get back to you.

[2020-09-22 06:31] psmanhas commented on #63005
@mammask Can you please check and add your comments on this doc update request as applicable

[2020-09-22 06:33] souravmishra-msft commented on #62981
@mrpullen, thank you for reaching out. We are looking into this and will get back to you soon.

[2020-09-22 06:41] hoopsomuah opened #63014 "Poor quality Image"
The image on this page is hard to read. Can we put a higher quality one there?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f93fe26-0fea-1ff3-42f0-785cc3d30c12
* Version Independent ID: 72af83f2-54ef-c712-9346-7228d067edd7
* Content: [What is Azure FarmBeats - Azure for Industry: Agriculture](https://docs.microsoft.

[2020-09-22 06:49] souravmishra-msft commented on #62681
@alpinedelight, We are closing this thread for now. In case there are any more queries around this, please do let us know so that we can re-open this thread and help get re-engaged on this.

[2020-09-22 06:49] #62681 closed

[2020-09-22 06:49] HarithaMaddi-MSFT commented on #63001
@felipepessoto  - Thanks for your contribution, I've addressed this issue in PR: MicrosoftDocs/azure-docs-pr/pull/130692

The changes should be live soon once author reviews them. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2020-09-22 07:05] jmprieur commented on #42830
@baf I don't know for the portal changes yet. But we've ensured that Microsoft.Identity.Web does not require the ID Token for Azure AD web apps calling web APIs (it's still needed for Azure AD B2C web applications calling web APIs)

This change will be Microsoft.Identity.Web 1.0.0 (GA version) which should be available before the end of the month. We'll change the quickstart as well.

cc: @mmacy @

[2020-09-22 07:05] jmprieur commented on #42830
#please-reopen

[2020-09-22 07:19] darshangithub opened #63015 "Get Azure access token using SAML assertion"
Hi Team,

I have been trying to get azure access token using SAML assertion from last many days, but no success. I followed the approach mentioned in below link.

[https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-saml-bearer-assertion]

Every time I get below error.

AADSTS50107: The requested federation realm object 'https://sts.windows.net/xxxxxxx/' does not exist.

Kindly assi

[2020-09-22 07:40] mracfa opened #63016 "Fix typo on "Create a volume by using az netappfiles volume create""
Hi,
Can you please fix the typo on a flag passed when creating a volume using "az netappfiles volume create" ?

Where is **--creation-token** $UNIQUE_FILE_PATH it should be **--file-path** $UNIQUE_FILE_PATH

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a07e71bf-5b6e-69fb-8fd5-79f33d344d7f
* Version Independent ID: 446

[2020-09-22 07:47] debinaik commented on #62817
@Monika issue is not yet resolved. I have to provide few information to @JasonFreeberg .

@JasonFreeberg :
   1. I am using Java8 with our custom spring boot REST API.
   2. Our Custom spring boot app consumes around 1666.3 MB (1.6 GB) during boot strap, while the sample spring application used in MSFT documents consumes 230 MB as it is just a sample program while our custom app contains other lib

[2020-09-22 07:56] JayaChatterjee-MSFT commented on #62945
@i3anaan  Have you added this setting explicitly in your local environment? In which environment you are getting the error ( local / Azure ) ?

[2020-09-22 08:07] vipulsparsh commented on #62642
@icelava Apologies for reach out late on this. Yes that the correct CSP which is used. For the custom OMA URI. please open a support ticket with Microsoft Intune team.

[2020-09-22 08:09] Ozzian opened #63017 "Version is not really required"
Currently on the documentation page it says:

`Versions are currently required. When rotating secrets, you will need to update the version in your application configuration.`

That information is incorrect (or at least misleading) as you can get the latest version of the secret with the following syntax:
`@Microsoft.KeyVault(SecretUri=https://myvault.vault.azure.net/secrets/mysecret/)`

That is by

[2020-09-22 08:26] challengelogic opened #63018 "missing "\" from command block"
[Enter feedback here]
--backup-management-type AzureIaasVM **\**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 619ea303-7632-eaf6-c106-838ee2efec8e
* Version Independent ID: 7b0cdc68-58d4-90f3-11e9-c7bf9afb59a1
* Content: [Tutorial - Restore a VM with Azure CLI - Azure Backup](https://docs.microsoft.com/en-us/azure/ba

[2020-09-22 08:27] stuartdodd1 opened #63019 "Document doesnt appear to have correct steps"
[Enter feedback here]
so tried to follow this doc yesterday using the manual steps . however the steps on here dont result in a kerb configured storage account .

example is the below isnt even a command .
 SPN: "cifs/your-storage-account-name-here.file.core.windows.net" Password: Kerberos key for your storage account.

---
#### Document details

⚠ *Do not edit this section. It is required for doc

[2020-09-22 08:31] vipulsparsh commented on #62900
@robert-bunch Thanks for reaching out. The teams app does not yet support the MAM policies as per the docs, it does however falls under Approved client list :  https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/concept-conditional-access-grant#require-approved-client-app

You will have to verify this particular scenario with teams support. I would suggest you to open a supp

[2020-09-22 08:41] AjayKumar-MSFT commented on #63017
@Ozzian, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-09-22 08:49] souravmishra-msft commented on #63015
@darshangithub, Thank you for reaching out. The **OAuth 2.0 SAML Bearer Assertion Flow** is intended for federated domains only. More info can be found [here](https://github.com/MicrosoftDocs/azure-docs/issues/45071#issuecomment-570539518), that thread has a more in depth discussion of the scenario.

Hope this helps. We are closing this thread for now. In case any more queries, please feel free re

[2020-09-22 08:49] #63015 closed

[2020-09-22 09:10] realrubberduckdev commented on #59222
Hi, it works now. Thanks for your help @PramodValavala-MSFT and @jfggdl

[2020-09-22 09:10] #59222 closed

[2020-09-22 09:13] SadiqhAhmed-MSFT commented on #63018
@challengelogic Thanks for bringing this to our attention. I have raised a pull request - https://github.com/MicrosoftDocs/azure-docs-pr/pull/130694 to make necessary changes. The changes should reflect post review/approval by the content owner.

@dcurwin FYI.

[2020-09-22 09:17] iAmBipinPaul commented on #62788
Thank you !.
Got answer

[2020-09-22 09:20] psmanhas commented on #63016
@mracfa Thank you for the feedback. We will work on it and will keep you updated on the thread

[2020-09-22 09:45] AnuragSharma-MSFT commented on #62954
@MNF Thanks for letting us know the issue, really appreciate your inputs. We have updated the document content accordingly.
The changes should be live once the PR is approved. You can review the PR meanwhile and let us know for any issue.

[2020-09-22 09:48] psmanhas commented on #63016
@mracfa The document is updated and changes will go live soon.

[2020-09-22 10:00] dominicbetts commented on #62197
Hi @oliverchristen - thanks for pointing this out - we're currently reviewing the Industrial IoT docs and I'll make sure we fix this when we publish any updates. In the meantime, see https://azure.github.io/Industrial-IoT/ for the most up to date content. Thanks!

[2020-09-22 10:00] dominicbetts commented on #62197
#please-close

[2020-09-22 10:00] #62197 closed

[2020-09-22 10:14] SwathiDhanwada-MSFT commented on #63014
Thanks for your feedback @hoopsomuah .

Assigning to content author @uhabiba04  for review

[2020-09-22 10:26] kokosandim opened #63021 "Unsafe behavior: create azure ad group without any rights"
Hi All
We actively use Microsoft Azure and when I made some tests our infrastructure through user without any rights to azure ad in main tenant. After the tests I found several azure ad groups. I use the New-AzADGroup module.
It's unsafe behavior. Or was it originally conceived?

If you need more details, please let me know

Regards, Nik

---
#### Document Details

⚠ *Do not edit this section. It

[2020-09-22 10:31] LukeWoodward opened #63022 "Please do not link to mvnrepository.com"
The 'Maven' link for 'MSAL Java' under "Microsoft-supported client libraries" on this page contains a link to mvnrepository.com.  Please do not link to this site, it is not the official Maven repository and has been known to serve malicious adverts.

The link to msal4j should go to https://search.maven.org/search?q=g:com.microsoft.azure%20AND%20a:msal4j instead.

Please also update all other links

[2020-09-22 10:33] mrmokilok commented on #62863
Sure, primarily I'm looking for Finnish but because the requirement behind this is an EU directive, all European languages will be needed at some point.

[2020-09-22 10:40] AjayKumar-MSFT commented on #62816
Rajaschava, We will close this out, but if you feel you need more information please just let us know.

[2020-09-22 10:40] #62816 closed

[2020-09-22 10:52] stuartMoorhouse opened #63023 "Unable to change password for "root" user (re-submitted with screenshot)"
I want to create an Azure AD Domain Service. The documentation said that all users must change their passwords, via

"Go to the Azure AD Access Panel page at https://myapps.microsoft.com."

I am unable to do this using the "root" user (that is, the user who is the administrator of the account). When I try, I do not see a "change password" option, like I did with the other users (that I created in

[2020-09-22 10:54] #62949 closed

[2020-09-22 10:55] brianpepino opened #63024 "In "My Account Portal" one of our user is unable to Leave Organization that he/she is not part of or affiliated with."
One of our user accessed her "My Account Portal" and tried to leave an Organization that he/she does not belong to or affiliated with but the "Leave Organization" link or button or option did not work (or does not work).

I also tried to look for this option on the Admin Portal and Azure portal but I can't see any option or setting to fix this.

Any idea?

Thanks in advance for the help.
---
####

[2020-09-22 10:55] shashishailaj commented on #54718
Apologies for the delayed reply . The userCertificate rule has also been updated in the device related rule with similar parameters in order to avoid the LargeObjects issues. If you check the current AD connect rule **Out to AAD - Device Join SOAInAD** in the synchronization editor , you can see that this has been updated.

![image](https://user-images.githubusercontent.com/532022/93873590-9a0abe0

[2020-09-22 10:55] #54718 closed

[2020-09-22 10:55] psmanhas commented on #63011
@arseyam Thank you for the feedback. I saw the same behavior in my lab as well so I have reached out to our internal team on this.

We will work on it and will keep you updated on the thread.

Thanks

[2020-09-22 10:57] shashishailaj commented on #63022
@LukeWoodward Thank you for pointing that out . We will investigate and update this.

[2020-09-22 11:00] JayaChatterjee-MSFT commented on #62838
@drdamour Unfortunately I couldn't replicate it but I would like to understand whether you have implemented [singleton](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-singletons?tabs=csharp) or [eternal](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-eternal-orchestrations?tabs=csharp) orchestration pattern? If you wish to connect

[2020-09-22 11:03] souravmishra-msft commented on #63019
@stuartdodd1, Thank you for reaching us. We are looking into this and will get back to you soon.

[2020-09-22 11:05] shashishailaj commented on #63024
@brianpepino Thank you for your feedback . We will investigate and update the thread.

[2020-09-22 11:05] arseyam opened #63026 "VMSS Automatic OS Image Upgrade"
As per the documentation - the automatic OS upgrade will run in batches with no more than 20% of the instances so does this mean that the minimum number of instances in the vmss should be 5 for this feature to work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51c75ce7-2144-d81a-693c-fb51cc00f3e5
* Version Independen

[2020-09-22 11:07] #62530 closed

[2020-09-22 11:09] SubhashVasarapu-MSFT commented on #62719
@Anders-Marius, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-09-22 11:09] #62719 closed

[2020-09-22 11:10] SubhashVasarapu-MSFT commented on #62753
@ran-ten21, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-09-22 11:10] #62753 closed

[2020-09-22 11:11] souravmishra-msft commented on #63026
@arseyam, Thank you for reaching out. We are looking into this and will get back to you soon.

[2020-09-22 11:27] PramodValavala-MSFT commented on #62922
@michael-freidgeim-webjet Just following up here... Hope my previous comment clears things up.

[2020-09-22 11:30] AshokPeddakotla-MSFT commented on #63008
@perkops PR has been created to update the documentation with new command. Changes will go live once it has been peer reviewed and merged.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-22 11:30] #63008 closed

[2020-09-22 11:50] psmanhas commented on #62946
@debopam-alinta The automatic port detection detects the port (port 80 is the default), we will attempt to detect which port to bind to your container, but you can also use the WEBSITES_PORT app setting and configure it with a value for the port you want to bind to your container. However, the web server in your custom image may use a port other than 80. You tell Azure about the port that your cus

[2020-09-22 11:51] levalencia opened #63027 "sudo apt-get install iotedge error"
Hello

I am following this document step by step, and when I get to this step I get the error above

[code]

Can you please guide me?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3b8296d-c923-e990-dcad-35ef2b908a2a
* Version Independent ID: 5f85fd7b-f2b6-b3b1-6be2-b6054bb33507
* Content: [Install Azure IoT Edge on L

[2020-09-22 12:19] perkops opened #63029 "Invalid Command Argument"
The two references "--to", should be renamed to "--tm".

This was changed in a previous git commit.

--to was trustowncert, which was changed to --tm trustmyself

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d3332c7-1954-6d73-aa09-5424bb7baaeb
* Version Independent ID: e47ae8c4-ef55-0d7a-210c-bd37237b712a
* Content:

[2020-09-22 12:20] shashishailaj commented on #63023
@stuartMoorhouse Thank you for your query. We will investigate and update the thread.

[2020-09-22 12:21] pezzos opened #63030 "Read-only lock on a resource group"
The documentation says:
`A read-only lock on a resource group that contains a virtual machine prevents all users from starting or restarting the virtual machine. These operations require a POST request.`

I tried it on a resource group that contains a virtual machine. I can stat the virtual machine.
In my case, the read-only lock on a resource group prevents from **stopping** or restarting the vir

[2020-09-22 12:24] AshokPeddakotla-MSFT commented on #63029
@perkops Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-22 12:25] AshokPeddakotla-MSFT commented on #63027
@levalencia Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2020-09-22 12:29] levalencia commented on #63027
sorry for that...

https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux

[2020-09-22 12:31] glteache commented on #56598
Is there an update for this to the article planned to confirm whether HB-size VMs is actually supported or not?

[2020-09-22 12:32] levalencia commented on #63027
This is my linux info:
if it helps

Distributor ID: Raspbian
Description:    Raspbian GNU/Linux 8.0 (jessie)
Release:        8.0
Codename:       jessie

[2020-09-22 12:34] shashishailaj commented on #63023
@stuartMoorhouse The root user that you refer is actually called "Global administrator" for the azure AD tenant in azure/Microsoft365 terminology . If you try going to https://myprofile.microsoft.com/ or https://myworkaccount.microsoft.com/ , you would see the new profile experience and change password is present there. I am not sure what URL you were redirected for other users and which one you a

[2020-09-22 12:42] shashishailaj commented on #63022
@LukeWoodward We thank you for catching this. We have initiated an update of the existing link as described by you. The changes should go live after 48 hours of approval of the pull requests from the authors. As for the other documentation , I will get them checked and see how best we can update the other references . It will need to be checked with other authors as I am not sure about that . We h

[2020-09-22 12:42] #63030 closed

[2020-09-22 12:44] pezzos commented on #63030
Correction:

The documentation says:
A read-only lock on a resource group that contains a virtual machine prevents all users from starting or restarting the virtual machine. These operations require a POST request.

Each change of state are prevented, starting, stopping and so restarting (including both starting and stopping).

[2020-09-22 12:48] shashishailaj commented on #63021
@kokosandim Thank you for your query. We will investigate and update the thread.

[2020-09-22 12:51] anniespencer1021 commented on #38069
Hi @KranthiPakala-MSFT @brijrajsingh  understand that this issue is from a while back, but just wanted to know if this was resolved ? I'm also encountering the same error. The web activity was working 100% previously and all of a sudden gave me this error code as well.

Please let me know, thanks!

[2020-09-22 12:52] shashishailaj commented on #63021
@kokosandim This is by design. It has been designed in such a way to make sure that a user in a company should not need to create a service request for servicedesk each time they need to create a group and also  if they are using sharepoint online , they will need this rights to be able to create sharepoint online website for document management within the team. SharePoint online creates office365

[2020-09-22 12:56] MNF commented on #62922
I believe the image is also out of date. The description is talking about Azure Service Bus

But the actual link https://docs.microsoft.com/en-us/azure/azure-relay/relay-what-is-it Opens The Azure Relay service article.

See https://docs.microsoft.com/en-us/azure/azure-relay/relay-faq#what-happened-to-service-bus-relay-service

[2020-09-22 13:08] vipulsparsh commented on #62642
@icelava We will be closing this now, feel free to tag me in case you have any questions.

[2020-09-22 13:08] #62642 closed

[2020-09-22 13:10] MayankBargali-MSFT commented on #62804
@ncoder For the exception can you please verify if your function have name "warmupContext" for your warmup trigger function and function.json as below. As per the error message the name is define in function.json doesn't match what you have define. I have tested it at my end and couldn't observe the same behaviour.

def main(**warmupContext**: func.Context)

[2020-09-22 13:11] Ayanmullick opened #63032 "Enable 'HTTPS Only' using Powershell"
How does one enable `HTTPS Only` in the `Custom domains` blade using the [Update-AzFunctionAppSetting](https://docs.microsoft.com/en-us/powershell/module/az.functions/update-azfunctionappsetting?view=azps-4.6.1) PowerShell cmdlet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4f40a37-fa0f-6d54-57ad-8d58c6c3531b
* Ver

[2020-09-22 13:14] vipulsparsh commented on #62713
@espacesolutions You can try this setting to populate the password reset on windows 10 login screen. you can also use Intune to push it for you if you are using Intune Service.
You can Read about it here : https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-sspr-windows#enable-for-windows-10-using-the-registry

[2020-09-22 13:18] M0ns1gn0r commented on #58873
@asudbring actually, your answer is misleading. The hardcoded GUID must actually stay hardcoded. That is a global ApplicationId of the whole Microsoft.Azure.Cdn.

Too bad it is not explained well enough in the documentation! Because I also thought it was only an example Id and I somehow needed to find my own. A few hours of work just wasted.

[2020-09-22 13:21] Blackmist commented on #62973
Hi @Ayanmullick and @luckycloudguru , I don't have an ETA. This github repo is for documentation questions, and the doc team doesn't have full insight into the roadmap.

Since you are internal Microsoft employees, I will connect you to the folks on the engineering team who may be able to provide more info.

Thanks for helping identify that we need to add a disclaimer to these cmdlets that they are

[2020-09-22 13:21] #62973 closed

[2020-09-22 13:32] souravmishra-msft commented on #62807
@navyasric, Can you please take a look at this and add the name of the service.

[2020-09-22 13:33] drmanhatin commented on #48902
This worked, thanks!

[2020-09-22 13:39] arvidcarlandercompose opened #63034 "Out of date"
These instructions no longer match the page layout in Azure portal (and may no longer be relevant)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ce34b51-c8d3-32cc-6a22-7928fb522a05
* Version Independent ID: 59b90561-8d1e-6521-0f60-98fbfda70922
* Content: [Quickstart - Access & create new tenant - Azure AD](https://do

[2020-09-22 13:46] BhargaviAnnadevara-MSFT commented on #62778
@mydiemho Thanks for confirming. I see you have opened a [Pull request](https://github.com/Azure-Samples/piggymetrics/pull/6) with the fix. I've requested a review from one of the reviewers, post which it should be merged. Thanks again for the feedback.

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your r

[2020-09-22 13:46] #62778 closed

[2020-09-22 13:52] kwayda opened #63036 "unavailable contact e-mail in Azure Cache for Redis with Azure Private Link (Preview)"
Hi,

The contact e-mail in below-mentioned documentation page is not available from people outside of Microsoft. Could you provide a correct e-mail?

https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-private-link#prerequisites

I get a 'sender invalid" error in the reply:

[code]

Regards,
Krzysztof

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-09-22 13:53] jonwbstr opened #63037 "High level steps without a link to the detailed steps?"
I came across the current page while looking for the link below which I had used earlier. I said, "surely they reference the page I'm looking for in this article" and then could never find it. I'm not entirely sure why these steps aren't in the same section together. "Upgrade or transfer offers to a newer version" is not where I would expect to find the article below. However, i would expect to fi

[2020-09-22 13:58] NavtejSaini-MSFT commented on #63036
@kwayda We are checking this and will get back to you.

[2020-09-22 14:00] jonwbstr commented on #63037
Also, there is a 3rd article that talks about this process at a high level for Azure Plans that is in preview.
https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/azure-plan-subscription-transfer-partners

would be helplful if all these articles should link to eachother

[2020-09-22 14:10] KrishnaG-MSFT commented on #63030
@pezzos Thanks for providing clarification that "each change of state are prevented". Glad to know that you have self resolved and hence closed this issue. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion. 👍

[2020-09-22 14:18] markjbrown commented on #62058
You can't use this image on Linux. This is a Windows image.

[2020-09-22 14:18] baf commented on #42830
Thanks very much for the quick reply, @jmprieur!

[2020-09-22 14:28] AshokPeddakotla-MSFT commented on #62812
@nberdy Thanks for the confirmation.
@surabhshah As mentioned, we will update the link. Do let us know if you have any other queries.

[2020-09-22 14:29] dfulcer commented on #62692
This is still not correct.  A user cannot create an unlimited number of standard tier subscriptions in one or multiple regions.  Please refer to the original issue report and the reference URL I included. A user can only create 100 Speech resources (not subscriptions) in a single region OR a total of 200 resource per Azure subscription across ALL regions.

Maybe the note should be updated to somet

[2020-09-22 14:41] MonikaReddy-MSFT commented on #62669
@curtand  - Thank you for providing your insights.
@AmitavaHazra - I hope @curtand has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-22 14:41] #62669 closed

[2020-09-22 14:44] sopelt commented on #59010
We are still looking forward to an update @shashishailaj / @msmimart . In the meantime I noticed https://github.com/MicrosoftDocs/azure-docs/issues/61460 which looks like another similar discrepancy between Facebook and Google federation.
Thanks.

[2020-09-22 14:45] kiazhi commented on #58873
@asudbring can you confirm what @M0ns1gn0r had shared regarding it is a global ApplicationId of Microsoft.Azure.Cdn that needs to be hardcoded? Thank you.

[2020-09-22 14:57] AshokPeddakotla-MSFT commented on #62789
@hwinstonuconn PR will be merged by End of this week.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-22 14:57] #62789 closed

[2020-09-22 15:00] MonikaReddy-MSFT commented on #62934
@maertendMSFT  - Thank you for providing your insights.
@limingr - I hope @maertendMSFT has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-22 15:00] #62934 closed

[2020-09-22 15:01] MonikaReddy-MSFT commented on #62986
@jackbond - Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-09-22 15:01] Shutima commented on #62961
Thank you very much @DerekHerman-MSFT

[2020-09-22 15:02] milismsft commented on #62058
@IoTFier we document the steps to run Azure Cosmos Emulator as a Docker container in Windows at https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator?tabs=ssl-netstd21#running-on-docker. Can you please try to follow those exact steps and commands and let us know?

Also keep in mind that Windows based Docker images might not be generally compatible with every Windows Host OS. For instance

[2020-09-22 15:05] MonikaReddy-MSFT commented on #62996
@bradyson -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-22 15:05] #62996 closed

[2020-09-22 15:10] SnehaAgrawal-MSFT commented on #62864
@yull1860 Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate

[2020-09-22 15:11] tanmayjog opened #63040 "Log Analytics Workspace PS cmdlet not working in Azure runbook"
[Enter feedback here]

The below 2 commands are not working when I try to use them into an Azure runbook
They work fine when I run them from my local machine

Get-AzOperationalInsightsWorkspace
Get-AzOperationalInsightsWorkspaceSharedKey

![image](https://user-images.githubusercontent.com/53108095/93901177-3e770b00-fcc4-11ea-86c7-73b8e3999873.png)

---
#### Document Details

⚠ *Do not edit this se

[2020-09-22 15:13] SnehaAgrawal-MSFT commented on #62865
@JuhaKoivisto Thanks again for the feedback! The PR has been created it will merge soon.

[2020-09-22 15:13] #62865 closed

[2020-09-22 15:21] IoTFier commented on #62058
Hi @milismsft  & @markjbrown ,

I am running Win 10 64bit on an AMD based PC and on Surface Book 2.
I have been trying this on AMD - PC, where this issue wasn't the case when I opened this ticket.
This pc is running Win 10 64 update 2004; WSL2.
I have been following steps exactly as in the link you shared above.
![image](https://user-images.githubusercontent.com/26844611/93902518-3ebfd800-fcbd-11e

[2020-09-22 15:25] kokosandim commented on #63021
I see.
Thanks for your answer.

[2020-09-22 15:26] #63021 closed

[2020-09-22 15:26] milismsft commented on #62058
@IoTFier please follow exactly the instructions in the documentation link I sent you. You need to "switch" your Docker Desktop to Windows based containers instead of Linux based container (see https://docs.docker.com/docker-for-windows/)

[2020-09-22 15:27] yegu-ms commented on #63036
@kwayda The email address is our documentation is AzureCache@microsoft.com instead of the one you reported. Please use that one.

#please-close

[2020-09-22 15:27] #63036 closed

[2020-09-22 15:29] IoTFier commented on #62058
@milismsft , I can do that to just test this issue, but that's not what I was testing with earlier.

Switching to Windows based containers will affect usage of my other images e.g. SQL Server 2019 linux image

Thoughts ?

[2020-09-22 15:31] PramodValavala-MSFT commented on #62922
@MNF Azure Service Bus is the correct service. Could you share which exact link sends you to the relay service doc?

@ecfan @arthiriyer Could you confirm if Azure Relay is used by the gateway in any way?

[2020-09-22 15:34] FlorianBorn71 commented on #62963
Hi, thanks for your feedback! I will collect relevant information and update the docs accordingly.
Cheers,
Florian

[2020-09-22 15:36] PramodValavala-MSFT commented on #63004
@LukeBolly All `host` settings are for the Azure Functions runtime which is unique per post instance. That proposal is indeed misleading when scaling out is considered. We have assigned this issue to the content author to review and update accordingly.

[2020-09-22 15:42] kwayda commented on #63036
I used  AzureCache@microsoft.com and I got an autoresponse from postmaster@microsoft.com with the error message involving AzureCacheFT@microsoft.com.
BTW, my message eventually reached to that team (still with that message delivery failure notification), so it's only a misleading autorespond feature.

[2020-09-22 15:46] markjbrown commented on #62058
This is really a question best directed to Docker.

[2020-09-22 15:48] IoTFier commented on #62058
@markjbrown - agreed.
What I don't understand is how come this image was working fine when I opened this issue ?

[2020-09-22 15:52] ecfan commented on #62922
Hi @MNF,

In the architecture overview, the link to Azure Relay might be an error. The FAQ says that "Service Bus Relay" (not Service Bus itself) was replaced by "Azure Relay". This name change might be the result from confusion over "Service Bus" and "Service Bus Relay".

[Service Bus itself](https://azure.microsoft.com/services/service-bus/) has its own product page and remains a top-level servi

[2020-09-22 15:52] sujitdmello commented on #62700
When deploying with Maven I get the following error for the gateway service:

_Caused by: com.microsoft.azure.CloudException: No active deployment found_

I guess it is looking for a default deployment to be created first?

The following are the AZ CLI versions I had when I started this process and then later after upgrading. Both gave errors in deployment:

![image](https://user-images.githubuser

[2020-09-22 15:54] milismsft commented on #62058
@IoTFier, this issue is no longer relevant to the initial inquiry you posted and should be probably closed. In general "stackoverflow" is a better suited place for such questions.

Here are couple references on how you can achieve running both Linux and Windows Docker based images side-by-side:
https://success.mirantis.com/article/how-to-enable-linux-containers-on-windows-server-2019
https://githu

[2020-09-22 16:00] writex opened #63042 "Fabrikam Fiber Crashes in VS 2019 Enterprise"
Download and build Fabrikam. Click the Reports menu link and it will crash:

Line 11:         public string GetCustomerSummary(Customer customer) Line 12:         { Line 13:             return string.Format("{0}, {1}", customer.FullName, customer.Address.City); Line 14:         } Line 15:     }
--

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-09-22 16:01] IoTFier commented on #62058
Hi @milismsft, I disagree - though I agree with discussing running Docker for Linux and Windows containers outside of this thread.

What I have been trying to say I wasn't facing issue with pulling the image when I opened this github issue 62058.

I have never used Docker for Windows with Windows container. Then, what changed now ? Until that's addressed I can't test teh resolution.

Please note I

[2020-09-22 16:01] JamesTran-MSFT commented on #63034
@arvidcarlandercompose
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-22 16:04] PramodValavala-MSFT commented on #63032
@Ayanmullick `HTTPS Only` is actually a property on the function app resource itself and not an app setting. You could update it using [`Set-AzResource`](https://docs.microsoft.com/en-us/powershell/module/az.resources/set-azresource). Something like this should do

[code]

[2020-09-22 16:06] #62961 closed

[2020-09-22 16:11] Ayanmullick commented on #63032
Thank you so much for your quick response. 👍

[2020-09-22 16:11] #63032 closed

[2020-09-22 16:14] SatishBoddu-MSFT commented on #62869
Hello @dvescovi1
Just checking back! Please let us know if you need further help.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2020-09-22 16:17] cynthn commented on #56598
Typically if we don't have benchmark scores listed, the tests haven't been run, or haven't completed yet. With newer sizes, the process can take a while.

@DavidBerg-MSFT

[2020-09-22 16:18] ncoder commented on #62804
My apologies. I pasted an error message from a run of something else I had tried. I changed my code as above (and as documented) and saw again the original error that I wanted to bring to your attention.

[code]

this is from simply running "func start" from the command line

[code]

To recap, of relevance here,i have:
warmup/azfwarmup.py:
[code]

warmup/function.json
[code]

[2020-09-22 16:20] ncoder commented on #62804
This may be of importance. I'm running on a mac with Python 3.7.9.
I can pull any other relevant machine configuration information you request.

[2020-09-22 16:21] gardnerjr commented on #62960
Our team doesn't work on the VS side of this tool anymore either, so trying to find someone on that team to comment.

@Expecho are you talking about the metric value in the trends view?  or by looking at a search result that sent them in custom measurements?  or something else?

[2020-09-22 16:22] Karishma-Tiwari-MSFT commented on #63042
Thanks for the question. We are currently investigating and will update you shortly.

[2020-09-22 16:22] avirishuv commented on #63026
If there are fewer than 5 instances, then the upgrade will be done one instance at a time. cc @mayanknayar

[2020-09-22 16:24] SwathiDhanwada-MSFT commented on #63040
@tanmayjog Can you please check if you have imported module "Az.OperationalInsights" before executing the runbook ? The process to import the module is documented [here](https://docs.microsoft.com/en-us/azure/automation/shared-resources/modules#import-az-modules).

[2020-09-22 16:27] juhlee-microsoft opened #63043 "GRID driver support Linux OS version"
[Enter feedback here]
Can you update this page with the contents from https://docs.microsoft.com/en-us/azure/virtual-machines/linux/n-series-driver-setup ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 374c8361-9b31-2488-f04b-766e6305c91b
* Version Independent ID: aebb9dd3-d1e6-4319-9ab1-0088bd8416e3
* Content: [NVIDI

[2020-09-22 16:27] lyrana commented on #63000
Hi @tymtam2 the document that you're referencing is for the Gen1 of Azure Time Series Insights. All development efforts are focused on Gen2, please take a look at [this](https://docs.microsoft.com/en-us/azure/time-series-insights/concepts-json-flattening-escaping-rules) page and at examples [A](https://docs.microsoft.com/en-us/azure/time-series-insights/concepts-json-flattening-escaping-rules#exam

[2020-09-22 16:37] SwathiDhanwada-MSFT commented on #62449
@simonzhaoms I am checking internally with the team and will update you soon.

[2020-09-22 16:39] markjbrown commented on #62058
There is no Linux container because the emulator only runs on Windows.

[2020-09-22 16:43] MikeDodaro commented on #62700
@sujitdmello Were you able to get the first quickstart to run?  https://docs.microsoft.com/en-us/azure/spring-cloud/spring-cloud-quickstart?tabs=Azure-CLI&pivots=programming-language-java

[2020-09-22 16:45] writex opened #63044 "Fabrikam Instructions Outdated for VS 2019"
This page says:

Right-click the FabrikamFiber.Web project > Add > Container Orchestrator Support. Select Service Fabric as the container orchestrator and click OK.

Click Yes to switch Docker to Windows containers now.

However in VS 2019, after clicking OK no menu is presented to click Yes to switch Docker to Windows containers. Rather than selecting Service Fabric I can choose Docker Compose. I

[2020-09-22 16:49] tamram commented on #62826
@jcmrva - Thanks for your feedback! However, I am not seeing what you are seeing. The screenshot shows the access control settings being set on the container.

![portal-access-control-for-storage](https://user-images.githubusercontent.com/1189479/93912591-c8b97200-fcb8-11ea-9ef0-ce293b3cc9e9.png)

Can you provide more details?

[2020-09-22 16:54] sujitdmello commented on #62700
Yes.  We are happily using Spring Cloud for a number of apps created with the Spring Initializer. They are all deploying just fine.

[2020-09-22 16:55] vermagit commented on #63043
This page is for the extension which provides a low touch way to install the drivers.
If folks want to use the manual steps, those instructions are in the other page you've linked.
Both these pages are linked to each other, but the manual instructions are not relevant to the extension as far as end usage is concerned.

[2020-09-22 16:58] ChaitanyaNaykodi-MSFT commented on #62820
Hello @Marco-Santoni, just following up here to see if above response was helpful.

[2020-09-22 16:58] acarlstein commented on #32478
Will someone help me? I keep getting `:( Application Error`.

I can't eliminate the `didn't respond to HTTP pings on port: 8080, failing site start` error that crashes the whole thing!

- I tried to use PORT and WEBSITES_PORT under `appSettings`, which is part of `properties`, under the resource type `Microsoft.Web/sites`. It didn't work.
- I tried to create a `.dockerfile` indicating the port to

[2020-09-22 17:01] tamram commented on #62901
#reassign: @tamram

[2020-09-22 17:05] Karishma-Tiwari-MSFT commented on #63044
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-22 17:05] mbialecka commented on #57689
@jasonjalufka [Blob Client](https://docs.microsoft.com/en-us/python/api/azure-storage-blob/azure.storage.blob.blobclient?view=azure-python) has api_version parameter. Please use '2017-04-17'.

[2020-09-22 17:15] juhlee-microsoft commented on #63043
You are right. Those pages are different. The customer can pull out them for a different purpose. But they are looking for configuration in the first step, and both pages tell different data. I suggest the OS criteria change from "7.3, 7.4, 7.5, 7.6, 7.7" to "7.3 or later" This change has the pros 'less maintenance', cons 'actively testing with newer version each time'. I also concern about Micros

[2020-09-22 17:22] AgentK88 opened #63045 "Complex expression example"
Complex expression example
The below example shows a complex example that references a deep sub-field of activity output. To reference a pipeline parameter that evaluates to a sub-field, use [] syntax instead of dot(.) operator (as in case of subfield1 and subfield2)

@activity('{activityName}').output.{subfield1}.{subfield2}[pipeline().parameters.subfield3].{subfield4}

Documentation suggests usi

[2020-09-22 17:23] jorgecotillo commented on #62449
When escaping double quotes, please follow this:

https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deployment-script-template?tabs=CLI#sample-templates

Look under "arguments" to see an example.

In short, since we support Powershell and Bash scripts, parsing and escaping arguments needs to be handled in a generic way, that is why we use CommandLineToArgvw to split the argum

[2020-09-22 17:23] nitinme commented on #62540
Added this to our backlog for doc improvements. Thanks for the feedback @damochiz

#please-close

[2020-09-22 17:23] #62540 closed

[2020-09-22 17:29] KranthiPakala-MSFT commented on #62888
@mssaperla Could you please have a look at this feedback and the do the helpful needed. Thank you

[2020-09-22 17:29] billtr007 opened #63046 "need clarification on authentication method"
In the section "Create the JDBC URL", what is the authentication method used for the username and password specified in the connectionProperties?  SQL Auth or AAD?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07ed6655-e376-431c-5cbb-72e82790ae92
* Version Independent ID: 7dbfcf45-4636-0d38-dd56-0349d195d4a5
* Content

[2020-09-22 17:31] shashishailaj commented on #62856
@PavanMSD007 From what I understand, you have migrated users using ADMT from on-prem domain1 to domain2 along with their passwords using PES . If you are trying to sync users to a new tenant , this should work after you have updated the password of the users.  If you were syncing from domain1 to Tenant1 and now you have migrated the same users from domain1 to domain2 and trying to sync on-prem dom

[2020-09-22 17:31] #62856 closed

[2020-09-22 17:33] KranthiPakala-MSFT commented on #63045
@AgentK88
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-09-22 17:38] keithnicholson opened #63047 "Is ACS Package Available Yet?"
I tried to follow this but the package added from this line does not work:

` dotnet add package Azure.Communication.Administration`

I got the issue

[code]

I also opened it up in VS and went to NuGet and it could not find it in browse.

Does something need to change?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a29

[2020-09-22 17:38] MikeDodaro commented on #62700
I'll discuss your issues with the engineering team.  If I can't get their attention today, we have a standing meeting tomorrow afternoon.

[2020-09-22 17:53] matthewrobertson commented on #63047
Hi, the package [is available](https://www.nuget.org/packages/Azure.Communication.Administration/1.0.0-beta.1). I suspect that you need to specify the version when you install because the semver declares it as "beta". Try this:

[code]

[2020-09-22 17:55] matthid opened #63050 "Default Tenant-Id when "Authenticating with Visual Studio"?"
I have trouble understanding the "Authenticating with Visual Studio" section. In particular we are are in a situation where our developers have access to multiple tenants and we use the following code to connect to an SQL database (from https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-connect-msi#modify-aspnet-core):

[code]

Everything works fine with this code after de

[2020-09-22 18:00] avbhaskar commented on #61774
Stevan
Thanks for the suggestion. I can work on submitting a Request for how-to
article.
Bhaskar Apparaju

On Fri, Sep 18, 2020 at 5:52 PM Stevan Vidich <notifications@github.com>
wrote:

--
Bhaskar, Apparaju Venkata

[2020-09-22 18:01] matthid commented on #63050
Maybe another solution that would work for us: Can we somehow disable this Visual Studio authentication and tell `AzureServiceTokenProvider` to prefer the Azure CLI login?

[2020-09-22 18:17] jlichwa commented on #63003
@kilasuit can you elaborate why would that be needed. RBAC is part of identity and all documentation is part Azure RBAC. We can provide links to point to, but duplicating that would not makes sense. Key Vault has no control over changes to Azure RBAC and their APIs: https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-powershell

[2020-09-22 18:19] asudbring commented on #58873
@kiazhi @M0ns1gn0r

This one is a confusing one.  Now that I go back and look at it after I've worked with CDN for a little bit and I see that indeed, that is the app ID for CDN.  I'll confer with the PM and add a note that your are adding the CDN service as an application so that it can access the keyvault.

[2020-09-22 18:20] bandersmsft commented on #63037
@jonwbstr I'm looking into this with the Billing engineering team. I'll reply here when I have more info.

[2020-09-22 18:26] pvrk commented on #61803
@eransamocha : While I completely understand the request, it is taking time for me to gather an authoritative list and making sure that it is upto date with new regions getting added. Also, we need to decide a better location for this to be posted.

@dcurwin : Since we did provide a way for customer to get the URL based on script name, I would like to ask if this bug can be closed. I did undertake

[2020-09-22 18:26] stevevi commented on #61774
Many thanks, @avbhaskar

@KrishnaG-MSFT or @avbhaskar feel free to close this issue.

[2020-09-22 18:26] mmacy commented on #62988
@hpsin App roles in portal UI (preview) is not currently available in the Azure portal. As of the writing of this comment, however, the article _does_ indeed specify app roles UI steps, but shouldn't. I will be reverting to manifest-based today, and the article will be updated with portal UI steps when the public preview is released.

Cc: @madansr7

#please-close

[2020-09-22 18:26] #62988 closed

[2020-09-22 18:28] tfitzmac commented on #62786
@AleksandarTomicMs2 - thanks for this feedback. I am holding off on any changes for now because there is an upcoming change to how ARM templates determine scope. I believe it will change how you would work with this scenario.

[2020-09-22 18:29] Karishma-Tiwari-MSFT commented on #62915
We will now close this issue. Please open the github issue for the doc you are referencing by clicking on "This Page" under Feedback section at the bottom of the document.
![image](https://user-images.githubusercontent.com/20851144/93831893-da533900-fc28-11ea-9226-497f31c9d468.png)

[2020-09-22 18:29] #62915 closed

[2020-09-22 18:40] keithnicholson commented on #63047
In the NuGet manager of VS I have pre-release checked and it does not show it.

[2020-09-22 18:40] eransamocha commented on #61803
Can we at least add directions to the website on how to populate/get the geo-abbreviation in the article?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Kartik P V R <notifications@github.com>
Sent: Tuesday, September 22, 2020 1:26:34 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Eran Samocha <Eran.Samocha@microsoft.com>; Mention <ment

[2020-09-22 18:41] navyasric commented on #62807
Adding @hamiltonha who owns the JS SPA scenario

[2020-09-22 18:44] pvrk commented on #61803
@eransamocha : Apologies, but can you elaborate? Which website? The way to get the geo-abbreviations is to download the script and refer to the script name. This is documented in the current article and I have mentioned above. Am I missing anything here?

[2020-09-22 18:45] keithnicholson commented on #63047
That said the --version attribute helped.

[2020-09-22 18:48] tpalacino opened #63051 "Incomplete Schema"
This example JSON and JSON schema is great if you are assuming 100% always successful calls and that no user is ever going to uninstall. Where is the complete documentation of the information that we can expect in different scenarios? Also missing the Offer Id that other Microsoft Partner documentation indicates will be available in the lead information on installation action.

---
#### Document D

[2020-09-22 18:50] mrmuskrat commented on #62605
I'm not the author of this tutorial... Unassigning myself.

[2020-09-22 18:57] JamesTran-MSFT commented on #63034
@arvidcarlandercompose
Walking-through the documentation, for step 3, I see that it says to "Select Identity, and then select Azure Active Directory". However, this step is outdated and it's best to "search for Azure Active Directory and select it".

I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't

[2020-09-22 18:57] #63034 closed

[2020-09-22 18:59] writex opened #63052 "Fabrikam: Click Yes to switch Docker to Windows containers now."
The article says, "Click Yes to switch Docker to Windows containers now."

That may be an option in VS 2015 but in VS 2019 it is not. I think they meant:

Click on the Docker system tray icon and click "Switch to Windows containers"

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57882c35-3894-f87

[2020-09-22 19:04] emaildanwilson opened #63053 "When using Private Link clusters - Adding custom hosts following the documentation no longer works"
Since the generated config for the corefile contains a hosts section already it is not possible to add an additional hosts section using the custom *.override section.

Example Generated Corefile:
ip and clusterid replaced
[code]

Adding a hosts entry using `.override` results in a coreDNS error:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-09-22 19:05] JamesTran-MSFT commented on #62994
#sign-off

[2020-09-22 19:06] JamesTran-MSFT commented on #62994
@sandeepraichura
I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2020-09-22 19:06] #62994 closed

[2020-09-22 19:08] keithnicholson opened #63054 "XAML Based Clients?"
I see the ability for Web, iOS, and android.  Will there be an option for Windows applications like XAML/WPF/UWP in the QuickStarts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4267f1d-40a1-bd0e-3954-0986657f3930
* Version Independent ID: ce985f80-0851-4464-d553-4bfb0a2c5424
* Content: [Quickstart - Add voice calli

[2020-09-22 19:08] #63047 closed

[2020-09-22 19:13] mike-urnun-msft commented on #62607
Hi @solankisamir Could you share your insights on this issue?

[2020-09-22 19:15] lchen016 opened #63055 "What is the security concerns about the ROPC flow"
[Enter feedback here]
We implemented the ROPC flow to access a mailbox with the resource (mailbox) credential.  In this document, the following warning was posted:
Microsoft recommends you do not use the ROPC flow. In most scenarios, more secure alternatives are available and recommended.

I would like to know what is the recommended alternatives to access a mailbox without required human interven

[2020-09-22 19:33] vermagit commented on #63043
It's a fair ask to update the version support since the last time this was updated.
I'll have that in my backlog. But as always, please feel empowered to submit PRs to such docs as and when you see appropriate. :) Thanks for the feedback.

[2020-09-22 19:44] WinstonHoward-MSFT commented on #63052
Thanks for the issue, I'll take a look.

[2020-09-22 19:55] solmon commented on #37991
@somesh2911 Did you recieve any help on Azure CLI automation option to import OpenAPI ?? I am too looking for the same?

[2020-09-22 20:18] frederickjohnsondc opened #63056 "Where can I find out more about the dataselected event?"
Where can I find out more about the **dataselected** event?

Example usage:

[code]
Example source snippet taken from [Selection control](https://github.com/Azure-Samples/azure-maps-selection-control/)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89454d5b-dc6a-8ffc-6605-681b320eed53
* Version Independent ID: efcbfa09

[2020-09-22 20:19] rwike77 commented on #59993
@tejinderrai , could you expand some more on what you mean by allowing users to install rogue applications?  Admins get to decide who can bring apps into a tenant.  Regular users would get an "access denied message" or "contact your admin" kind of message when adding an app to a tenant.

Also, some admins might not consent to certain permissions.  If your app depends on those permissions, the admi

[2020-09-22 20:21] TravisCragg-MSFT commented on #62755
@D-Moonesinghe We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-22 20:21] #62755 closed

[2020-09-22 20:23] espacesolutions commented on #62713
Hi know that.

I’m just letting you know policies for local and guest user access can stop it from working

On 22 Sep 2020, at 11:14 pm, VipulSparshMSFT <notifications@github.com> wrote:

﻿

@espacesolutions<https://github.com/espacesolutions> You can try this setting to populate the password reset on windows 10 login screen. you can also use Intune to push it for you if you are using Intune Servi

[2020-09-22 20:23] josuvil opened #63057 "B2C tenants"
We have customers attempting to configure this solution with B2C enabled tenants and it fails because B2C tenants are unsupported. We should indicate this somewhere. thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50436ac6-fc6c-eef9-8cc8-bf05e8c4b997
* Version Independent ID: 2bb67494-9b87-b928-91c2-af8af039eb3b

[2020-09-22 20:29] JamesTran-MSFT commented on #62968
@wangyuehust
When it comes to verifying your domain, you'll have to only use your domain name, i.e. tv.zala.by

[2020-09-22 20:46] JnHs commented on #62414
Hi @lcpautotester, thanks for the feedback and sorry for the delay. We're currently reviewing the article and I'll reply back here soon once we've determined what updates are needed.

[2020-09-22 20:47] ecfan commented on #62697
Hi @soutchilin, I've added this request to our doc backlog for triage. Thanks!

@ChaitanyaNaykodi-MSFT: #please-close

[2020-09-22 20:47] #62697 closed

[2020-09-22 20:48] jeevansd commented on #63057
@josuvil It is already documented here  - https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/known-issues#service-issues

[2020-09-22 20:48] jeevansd commented on #63057
#please-close

[2020-09-22 20:48] #63057 closed

[2020-09-22 21:16] michael-freidgeim-webjet commented on #62922
As I understand, Service Bus previously consisted of Messaging and Relay services. Later they got their own names  as Service Bus Messaging(shortly Service Bus) and Azure Relay.
The link to Service Bus Documentation confirms it

Are you telling, that On-premises data gateway architecture uses Messaging, but not Relay?
If it’s correct,  it’s better to explicitly name it Service Bus Messaging to avo

[2020-09-22 21:28] MarileeTurscak-MSFT commented on #62884
Thanks @nathanmcnulty!

I made a pull request to add a note about this: https://github.com/MicrosoftDocs/azure-docs-pr/pull/130837/commits/92826906991f2ece9bfc6ca6d980f096b09f0a25

Feel free to make your own pull request if you feel that something different or more should be added.

CC @iainfoulds

[2020-09-22 21:28] #62884 closed

[2020-09-22 21:31] hiten004 opened #63062 "Transaction Replication between SQL MI to SQL MI in cross region."
[The Transaction replication between crosss region required VNet-to-VNet VPN. Vnet peering does not work.
https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-vnet-vnet-resource-manager-portal

Below are the step that I have taken to reslove the issue.

1.	Configure a VNet-to-VNet VPN gateway connection by using the Azure portal
https://docs.microsoft.com/en-us/azure/vpn-gateway/vp

[2020-09-22 21:33] jasonjalufka commented on #57689
@mbialecka Wow, thank you! Can't believe I missed that! `2017-04-17` didn't work, but it did give me this error message:
[code]
I tried `2019-10-10` which gave the same HttpResponseError as before, but changing the api_version to `2019-02-02` resolved the error!  👍

[2020-09-22 21:42] ecfan commented on #62922
Hi @MNF, that's fair. I'll rename the links and replace the word "relay" from the topic. I'll also submit a PR to update the link in the architecture topic. Thanks!

[2020-09-22 21:49] li-leyang opened #63063 "What is the correct ID token claim(v2) to retrieve user email?"
We need to parse id token to get user email address.

The doc said preferred_username value is mutable and might change over time. Since it is mutable, this value must not be used to make authorization decisions.

What does it mean by mutable? If preferred_username is mutable, what is the correct claim to use as user email address?
I am also confused what is different between preferred_username an

[2020-09-22 21:51] Reetikabedi opened #63064 "Static threshold alert on all virtual machines in a subscription"
[Enter feedback here]

When I am deploying ARM template, provided under  _"Static threshold alert on all virtual machines in a subscription"_ I faced two issues ,

1. This command is implicitly deprecated because command group 'group deployment' is deprecated and will be removed in a future release. Use 'deployment group' instead.
I corrected this one by changing the deploy command :

**From :**

[2020-09-22 21:51] himanshusinha-msft commented on #62818
Hello @rquintino ,
I did tried out the scenario and in my case also I am the owner of the subscription , What i found that to read the data from
 blob/adlgen2 I had to give myself the blob storage reader permission , this is called out [here ](https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/quickstart-bulk-load-copy-tsql-examples#d-azure-active-directory-authentication-

[2020-09-22 21:51] #62818 closed

[2020-09-22 21:55] elliottfieldsjr opened #63065 "Change Category Filter from "Monitoring" to "Backup""
Currently the instructions provided state that the category filter should be set to Monitor, however as of 9/22/2020 the "[Preview]: Deploy Diagnostic Settings for Recovery Services Vault to Log Analytics workspace for resource specific categories" Policy is listed under the "Backup" Category.

Thanks,
Elliott Fields Jr.
---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-09-22 21:57] li-leyang opened #63067 "What is the correct ID token claim(v2) to retrieve user email?"
We need to parse id token to get user email address.

The doc said preferred_username value is mutable and might change over time. Since it is mutable, this value must not be used to make authorization decisions.

What does it mean by mutable? If preferred_username is mutable, what is the correct claim to use as user email address?
I am also confused what is different between preferred_username an

[2020-09-22 21:58] #63063 closed

[2020-09-22 22:00] WinstonHoward-MSFT commented on #63052
Hi @writex,

I've gone through the doc and got the correct prompt with Visual Studio 2019. If your building the example code fresh and have a fresh install of docker desktop per the doc, you should get a pop up with that prompt. Let me know if you have any further issues, otherwise I'd like to close this issue.

![image](https://user-images.githubusercontent.com/69328460/93941970-55c5f080-fce4-11e

[2020-09-22 22:00] kolbyrax commented on #38595
Also getting the same error when using a UP token (mine, I'm Global Admin, EA Admin, Billing Admin) trying to create a cost management export to the Gov API (portal is using old API version that doesn't support exports):

`$subscriptionId='XXXXXX-XXXX-XXXX-XXXXXXX'

$context = Get-AzContext

$tenantId = (Get-AzSubscription -SubscriptionId $subscriptionId).TenantId

$tokenCache = $context.TokenCach

[2020-09-22 22:07] bandersmsft commented on #63037
@jonwbstr Here's an explanation that I hope makes sense.

https://docs.microsoft.com/en-us/partner-center/switch-azure-subscriptions-to-a-different-partner is published to the Partner Center and is intended to be read by and used by partners. The Partner Center team owns that article and I assume has it arranged in their table of contents as it made sense to them. Unfortunately, the Partner Center

[2020-09-22 22:07] #63037 closed

[2020-09-22 22:07] carlo-quinonez opened #63069 "Azure AD application for Static Web Apps vs App Service"
I'm familiar with setting up SSO with our AzureAD on standard App Services. How does it work with a Static Web App? I think I understand how to use the routes.json to control access (nice feature btw - I'd love to see that on the standard App Services!), but I'm not clear on how the AzureAD application is configured. Does a new Azure AD Application get registered in our tenant like the "Express" w

[2020-09-22 22:19] tejinderrai commented on #59993
@rwike77, the article states "**Avoid requesting permissions that require admin consent as this may prevent users from acquiring your app** at all in some organizations".  The article is stating that specifying scopes that require admin consent is not recommended due preventing users from acquiring applications. My point in relation to this is why would this be stated in the first place as a best

[2020-09-22 22:20] #62922 closed

[2020-09-22 22:26] dvescovi1 commented on #62869
I initially had issues but I went back and retraced my steps with a fresh install and everything seems to work .env file was created with the template. Not sure what went wrong but working now. Thank you.

[2020-09-22 22:26] #62869 closed

[2020-09-22 22:32] MicrosoftGuyJFlo commented on #62900
@JoeDavies-MSFT thoughts? Coming from your doc.

[2020-09-22 22:32] jonwbstr commented on #63037
Yes please, the doc title is misleading. If you can reference the partner
doc that would be great. The other way around is less useful. But at the
same time, it's nice to send the customer a doc that describes what we are
doing, that doesn't include HOW we are doing it. They are not interested in
that.

I had a colleague ask what to do because a customer pointed them to the
subscriber doc, and my

[2020-09-22 22:40] MarileeTurscak-MSFT commented on #63055
@lchen016
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-22 22:55] #63022 closed

[2020-09-22 22:59] Karishma-Tiwari-MSFT commented on #63063
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2020-09-22 23:00] Karishma-Tiwari-MSFT commented on #63053
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-22 23:22] BustosMSFT commented on #45014
Hi @chennuchaitanya  to perform a disaster recovery drill with failover groups, you can disable the web application or virtual machine connected to the database or failover the database to cause application connectivity failures. [Here](https://docs.microsoft.com/en-us/azure/azure-sql/database/disaster-recovery-guidance#prepare-for-the-event-of-an-outage) you'll find more details.
2) When the end-

[2020-09-22 23:28] KranthiPakala-MSFT commented on #62966
Hi @skrepo0,

Thanks for sharing additional details and apologizes for the inconvenience caused because of this.  I have verified with ADF product team and the error message you are seeing is related to an ongoing issue with Saleforce connector. Below are details specific to this issue. ADF product team is actively working with driver for a permanent fix. Below are suggested workarounds by product

[2020-09-22 23:40] whoward-msft opened #63074 "Doc needs updated code sample for Visual Studio 2019"
The doc works fine as is but is currently relying on a Visual Studio 2019 code sample. Creating this issue to facilitate tracking on an updated code sample. Communicated with @athinanthny offline.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57882c35-3894-f871-bea2-470e74f63c57
* Version Independent ID: 75dada9d-a6a5

[2020-09-22 23:41] himanshusinha-msft commented on #62926
@jamesdfrost : You are correct , I just tested that and it seems that we are missing ROWTERMINATOR='0X0A' . I will raise a PR for this now . Thanks for catching this .

[2020-09-22 23:44] jolauMSFT opened #63075 "Remove dot point “Geo-replication between caches in the same VNET is supported.”"
Dot point #1 in https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-how-to-geo-replication#can-i-use-geo-replication-with-my-caches-in-a-vnet should be removed.
“Geo-replication between caches in the same VNET is supported.”

A VNET is tied to a region as per point #3 here: https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-overview#vnet-concepts
So it is not po

[2020-09-22 23:53] Taghreed112 commented on #53585
were u able to slove the problem? because I have same error.

[2020-09-22 23:55] NavtejSaini-MSFT commented on #63062
@hiten004 We are checking this and we will get back to you.

[2020-09-22 23:56] NavtejSaini-MSFT commented on #63075
@jolauMSFT We are checking this and will get back to you.

[2020-09-23 00:02] NavtejSaini-MSFT commented on #62738
@Craigmeister68 We are going ahead and closing this thread for now. Please let us know if you need further assistance regarding this.

[2020-09-23 00:02] #62738 closed

[2020-09-23 00:04] susanhuhu opened #63077 "Can you add engress and ingress throghput metrcis for blob storage?"
The total number of engress and ingress data is not that intresting, but throughput is actually a very important metrcis for blob storage.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0a586c4-71fd-e60b-9c4c-1a3eb2443c74
* Version Independent ID: 2f3706cc-073b-a310-8da4-2a5a90da6473
* Content: [Azure Monitor supporte

[2020-09-23 00:04] NavtejSaini-MSFT commented on #62409
@hoksource Please let us know if you need any further question or feedback for this or we will close this by EOD tom.

[2020-09-23 00:11] NavtejSaini-MSFT commented on #62978
@SQLAdventurer We have made the section changes as @rohitnayakmsft proposed. Once the changes are approved , they will be live in next 24 hours.

[2020-09-23 00:25] tamram commented on #61130
@EdwinStraver - The doc has been updated to use the latest libraries.

#please-close

[2020-09-23 00:25] #61130 closed

[2020-09-23 00:25] KranthiPakala-MSFT commented on #63045
Hi @AgentK88,

Sorry for the confusion. The example in the doc mean to say `@activity('<activityName>').output.<subfield1>.<subfield2>[pipeline().parameters.subfield3].<subfield4>`. I will update the doc to remove the `{`.

For more clarification, here is a real time example:

If I want to read the value of `duration` from the below JSON output, we have to use a dynamic expression as below. (Note:

[2020-09-23 00:26] tamram commented on #59296
@vnextcoder - Both the article and the sample have been updated to use the latest libraries.

#please-close

[2020-09-23 00:26] #59296 closed

[2020-09-23 00:27] tamram commented on #56946
@coreazure-jd - Both the article and the sample have been updated to use the latest libraries.

#please-close

[2020-09-23 00:27] #56946 closed

[2020-09-23 00:27] tamram commented on #53236
@patrickjlee @GreatBarrier86 - Both the article and the sample have been updated to use the latest libraries.

#please-close

[2020-09-23 00:27] #53236 closed

[2020-09-23 00:31] NavtejSaini-MSFT commented on #62468
@zarkoc At this point i am deleting my previous comment about the GA part of the DNS alias. They are the same feature and as it is mentioned in the document, it is still in preview and the road map to GA is in about a month by current info.

Regarding the usage in Preview, The feature can be used functionally and the main problem may be in performance at this point which will get better once the s

[2020-09-23 00:51] julieMSFT commented on #61250
#please-close

[2020-09-23 00:51] #61250 closed

[2020-09-23 00:55] julieMSFT commented on #59805
@denystyshetskyy  Hi Denys, thank you for contacting Microsoft. We will be updating this article in the near future and will make this topic clearer. I will go ahead with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2020-09-23 00:56] julieMSFT commented on #59805
#please-close

[2020-09-23 00:56] #59805 closed

[2020-09-23 01:01] simonzhaoms commented on #62449
Hi Jorge,

I tried to use single quotes, but validation failed, no matter using single backslash or triple backslashes to escape the single quote:
![image](https://user-images.githubusercontent.com/43029286/93951946-41ccce00-fd7a-11ea-81c3-48ed61ae2adb.png)
![image](https://user-images.githubusercontent.com/43029286/93951990-590bbb80-fd7a-11ea-8ea5-cc942753ff69.png)

I also tried to use triple bac

[2020-09-23 01:10] felipepessoto commented on #63001
The PR link is broken

[2020-09-23 01:12] julieMSFT commented on #60721
@kashyap-bhatt-by Hi Kashyap, Azure Synapse does support update. Please see [UPDATE (Transact-SQL)](https://docs.microsoft.com/en-us/sql/t-sql/queries/update-transact-sql?view=azure-sqldw-latest). I will go ahead with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2020-09-23 01:13] julieMSFT commented on #60721
assign:julieMSFT

[2020-09-23 01:13] hwinstonuconn commented on #62827
Craig,

Yes, the output window is open, but I don't see the Debug.Log messages. I can select whether I
want to see messages while building, deploying, etc. from the drop-down menu at the top of the
output window. That works fine.

I was wondering whether I needed to run VS in a certain mode or with certain parameters to see
the Debug.Log messages embedded in the ASA tutorial.

Many thanks in advan

[2020-09-23 01:13] julieMSFT commented on #60721
#please-close

[2020-09-23 01:14] #60721 closed

[2020-09-23 01:20] KrishnaG-MSFT commented on #63051
@tpalacino Thanks for your comment! We will review and provide an update as appropriate.

[2020-09-23 01:26] KrishnaG-MSFT commented on #63064
@Reetikabedi Thanks for your comment! We will review and provide an update as appropriate.

[2020-09-23 01:34] rukasakurai opened #63079 "webapps-container-deploy"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 850e4e1d-9648-243e-acde-39c4e9ef86a3
* Version Independent ID: 1e24b051-b479-fb72-36f3-ef5a7d252bdf
* Content: [Custom container CI/CD from GitHub Actions - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/deploy-container-github-

[2020-09-23 01:34] #63079 closed

[2020-09-23 01:37] KrishnaG-MSFT commented on #63065
@elliottfieldsjr Thanks for your comment! We will review and provide an update as appropriate.

[2020-09-23 01:55] dcbrown16 opened #63080 ""Its own tenant""
What is the intent of this statement? It reads to me as if it is saying the Azure AD app must be in a separate AAD tenant from the service principal, is that correct? Why would it not be in the same tenant as the service principal (and the Media Services account)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9e6115e

[2020-09-23 02:03] PeterTurcan opened #63082 "Incorrect spelling of two functions"
The methods STARTSWITH, and ENDSWITH, are incorrectly shown with an underscore in some places in this page.
STARTSWITH is correct,  STARTS_WITH is not correct.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9ee1efe-19d2-31f5-fa74-78809d965085
* Version Independent ID: 699a0893-ee40-069c-270c-18e

[2020-09-23 03:12] #62982 closed

[2020-09-23 03:13] nakazax opened #63087 "Should use azure/webapps-deploy@v2 instead of azure/webapps-container-deploy@v1"
A yaml file in [Deploy to an App Service container](https://docs.microsoft.com/en-us/azure/app-service/deploy-container-github-action#deploy-to-an-app-service-container) uses `azure/webapps-container-deploy@v1` as an action, however the action is deprecated. So the yaml should use `azure/webapps-deploy@v2` instead. The following URL is the document of `Azure/webapps-container-deploy` and describe

[2020-09-23 03:22] dvescovi1 opened #63088 "error connecting"
I followed instructions and set up project and everything seems to be populated correctly.
Verified Azure Container registry is working and docker login both seems to be correct and working
Docker login and acr login both work and return ok from VS code terminal.

But when I do build and push it always errors out with:

PS C:\Users\dvesc\Documents\vscode\test2\EdgeSolution> docker build  --rm -f "

[2020-09-23 03:35] shashishailaj commented on #63050
@matthid Thank you for your query. We will investigate and update the thread.

[2020-09-23 03:35] yucwan commented on #62700
Just tried and not able to reproduce this. @sujitdmello it would be great if you could share the resource id to the app running into this issue, our engineering team can take a look at the logs.

[2020-09-23 03:36] GitaraniSharma-MSFT commented on #62629
@Ayanmullick , there are no further updates from PG team, hence we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-09-23 03:36] #62629 closed

[2020-09-23 03:37] shashishailaj commented on #63067
@li-leyang Thank you for your feedback. We will investigate and update the thread.

[2020-09-23 03:47] shashishailaj commented on #63023
@stuartMoorhouse Please let me know if you had a chance to look into the post above and if it solved your issue. In case you still have an issue, please let me know and I will continue to help you further.

[2020-09-23 03:53] arseyam commented on #63026
Thanks for the answer, appreciate if you made it clear in the documentation.

[2020-09-23 03:55] writex commented on #63052
I never got the prompt but I clicked on the Docker icon. Maybe you had
Docker set to Windows containers.

--Robert

On Tue, Sep 22, 2020 at 6:00 PM Winston Howard <notifications@github.com>
wrote:

[2020-09-23 03:55] AjayKumar-MSFT commented on #63054
@keithnicholson, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-09-23 04:03] GitaraniSharma-MSFT commented on #62979
@bradyson , I reproduced the issue and received the same error as you mentioned:

![image](https://user-images.githubusercontent.com/67630903/93965413-b8b89580-fd7f-11ea-8c39-5f8f1834fb91.png)

I have engaged our VPN backend team for help. I will update you as soon as I hear from them.

[2020-09-23 04:03] AjayKumar-MSFT commented on #63080
Dillon,  Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-09-23 04:05] AjayKumar-MSFT commented on #63080
@IngridAtMicrosoft, Requesting your comment on this.

[2020-09-23 04:08] vikramdadwal opened #63089 "Not able to access keyvault using User Managed Identity"
1. Created a User Assigned Managed Identity Azure Resource
2. I deployed the Container Group with User Managed Identity as shown below:
![image](https://user-images.githubusercontent.com/10174566/93965622-6e9bc980-fd17-11ea-9b0c-982421973cf6.png)

3. Provided access to User Identity for a given Keyvault
4. Now when I am trying to access the keyvault using the following C# code, its throwing except

[2020-09-23 04:09] AjayKumar-MSFT commented on #63079
@rukasakurai, Thanks for leveraging Azure docs feedback channel to raise this question.
It looks like you have closed this issue, so I presume the issue is resolved. Kindly let us know if you have any specific question on this topic.

Just to highlight, this channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2020-09-23 04:13] AjayKumar-MSFT commented on #63087
@nakazax,  That's a good catch! Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-09-23 04:30] ram-msft commented on #62911
@tutorialgateway Thanks for sharing. This is a good start, It's great tutorials for the beginners. Also you can have tutorials for intermediate and advanced users.
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.
you can check to see the standard exampl

[2020-09-23 04:33] stevevi commented on #62750
This request was addressed in the most recent update to

https://docs.microsoft.com/en-us/azure/azure-government/documentation-government-impact-level-5#automation

@sewalshmsft or @BharathNimmala-MSFT please close the issue.  Thank you.

[2020-09-23 04:35] SumanthMarigowda-MSFT commented on #62785
@vamuzumd Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-09-23 04:35] #62785 closed

[2020-09-23 04:49] ram-msft commented on #62911
@tutorialgateway We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-23 04:49] #62911 closed

[2020-09-23 04:53] wsy commented on #31136
I agree.
For consumers, individual customers, aka.ms is good because it's easy to remember and there are no big security concerns.
For business customers, some of them even use an Internet firewall in allow-list mode, you really need to give them a good reason to accept this domain.
I think Microsoft should at least officially make an announcement, declaring something such as
"aka.ms is Microsoft-

[2020-09-23 04:55] AshokPeddakotla-MSFT commented on #63088
@dvescovi1 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-23 04:55] mohsh86 opened #63090 "Camouflaged Setting"
The feedback is not on the help page it self rather than the actual create password page.

Though am an IT guy, I found my self multple times frustratingly trying to find the location where I can create the App password. most of out employees didn't spot the "App Password" is actually clickable. With it's grey color and borderless shape, it looks like the current path of the website rather than a

[2020-09-23 04:56] SatishBoddu-MSFT commented on #63082
Hello @PeterTurcan
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-23 04:56] AshokPeddakotla-MSFT commented on #63056
@frederickjohnsondc Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-23 05:04] #63002 closed

[2020-09-23 05:06] SubhashVasarapu-MSFT commented on #62810
@matkoliptak, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-09-23 05:06] #62810 closed

[2020-09-23 05:06] idontusenumbers commented on #31136
There is a big security concern: it looks like a phishing URL

This requires every person that ever receives one of these aka.ms links to have received, read, and remembered such a notice. That's a lot to ask.

[2020-09-23 05:24] HarithaMaddi-MSFT commented on #63046
@billtr007 - Thanks for posting the query. I am looking into it and will get back to you shortly.

[2020-09-23 05:27] AshokPeddakotla-MSFT commented on #62534
Update: Doc has been updated with new images and steps. Feel free to try and update if you have any issues.

[2020-09-23 05:34] HarithaMaddi-MSFT commented on #63001
PR is merged now, document shows latest changes when publishing completes. I am closing this issue, please feel free to post for further queries.

[2020-09-23 05:40] somesh2911 commented on #37991
Hi Solmon,

I was also looking for the same but did not find anything yet any, if you
found something please let me know.

On Wed, Sep 23, 2020 at 1:25 AM solmon <notifications@github.com> wrote:

[2020-09-23 05:55] AjayKumar-MSFT commented on #63069
@carlo-quinonez,  Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-09-23 05:55] vamuzumd commented on #62785
Hi @SumanthMarigowda-MSFT , the issue still persists and the link you pointed to still does not seem to return results for any sample tagged as "Managing Concurrency using Azure Storage". Kindly fix the issue before closing.

[2020-09-23 06:00] AshokPeddakotla-MSFT commented on #61766
@PatAltimore Do we have any update on this issue? Can this issue be closed?

[2020-09-23 06:04] RohitMungi-MSFT commented on #62863
@mrmokilok We can confirm that all the [language locales](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/language-support) are now supported by conversation transcription and you can start using them from west europe region. Our team is working to update the documentation and this should be refreshed next week after MS Ignite event.

We will now proceed to close this thre

[2020-09-23 06:04] #62863 closed

[2020-09-23 06:07] meet-rs-api opened #63091 "How to refresh a token?"
According to the documentation and the API, the only way to obtain a valid token is to create a user and get its token.

Is there a way to obtain a new token from that existing user after the original token expires?

How can we fulfill instruction from this page?

_"User access tokens are short-lived credentials that need to be reissued in order to prevent your users from experiencing service disr

[2020-09-23 06:31] KrishnaG-MSFT commented on #63077
@susanhuhu Thanks for the valuable 'produce feedback' or in other words 'product feature request'. I recommend you to raise feature requests under [this](https://feedback.azure.com/forums/217298-storage) UserVoice / feedback forum and then upvote it and other features that are of interest. In general, Azure feature team would check feasibility of a feature request, triage it, prioritize against ex

[2020-09-23 06:36] souravmishra-msft commented on #63091
@meet-rs-api, Thank you for reaching out. AAD issues a couple of tokens based on the OAuth flow being used to request these tokens. The scenario that you mentioned above based on the instruction from the page "**User access tokens are short-lived credentials that need to be reissued in order to prevent your users from experiencing service disruptions.**", an access token is refreshed using a refre

[2020-09-23 06:38] rcg-dev commented on #56783
@jmprieur Yeah it's missing the part where you have to into subscriptions -> Access Control (IAM) -> Add A Role Assignment -> and assign explicit permissions to the external application. Otherwise a token will be generated but it won't work.

[2020-09-23 06:40] souravmishra-msft commented on #63090
@mohsh86, Thank you for sharing this concern, and I totally get your frustration. We are looking into this and will get back to you shortly.

[2020-09-23 06:41] souravmishra-msft commented on #63089
@vikramdadwal, Thank you for reaching out. We are looking into this and will get back to you soon.

[2020-09-23 06:42] m1nkeh commented on #59675
did anyone ever look in to this please?

[2020-09-23 06:45] KrishnaG-MSFT commented on #63065
@elliottfieldsjr Verified and updated the document as required. The update should go live soon i.e., in less than 24 hours. Thanks.

[2020-09-23 06:45] #63065 closed

[2020-09-23 06:49] wombling commented on #62443
this week? ;)

[2020-09-23 06:50] KrishnaG-MSFT commented on #61774
@avbhaskar Closing this issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-09-23 06:50] #61774 closed

[2020-09-23 06:53] EDEKA-LUNAR opened #63092 "O365 F3 not included"
Please add O365 F3 and his informations

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product names and service plan identifiers for licensing - Azure AD](https://docs.microsoft.com/en-us/azure/active-direct

[2020-09-23 06:54] MECCSA commented on #63026
This is not clear in the documentation, can you at least update the FAQ ?

[2020-09-23 06:56] HarithaMaddi-MSFT commented on #63046
@billtr007 - For AAD, Authentication method needs to be set to one of the activedirectory values in [documentation](https://docs.microsoft.com/en-us/sql/connect/jdbc/connecting-using-azure-active-directory-authentication?view=sql-server-ver15#:~:text=Use%20Azure%20Active%20Directory%20authentication,connect%20to%20Azure%20SQL%20Database.). Hence, in the document referred, it is not AAD.

I am clos

[2020-09-23 06:56] #63046 closed

[2020-09-23 07:16] SadiqhAhmed-MSFT commented on #63051
@keferna FYI!

[2020-09-23 07:19] dcurwin commented on #63018
The changes to the document were merged.

#please-close

[2020-09-23 07:19] #63018 closed

[2020-09-23 07:33] ImrePyhvel opened #63093 "Tree view of management groups and subscriptions"
Management group main purpose is hierarchical organization of subscriptions, yet the management page lacks guideline how to view the entire hierarchy. How can this be achieved?

I believe pointers how to get this overview should be part of ["View management groups" section ](https://docs.microsoft.com/en-us/azure/governance/management-groups/manage#view-management-groups).

For reference, see the

[2020-09-23 07:39] birdnathan opened #63095 "URL Update"
This link to "Cisco Cloud Service Router(CSR) VWAN Deployment Guide" points to the same page you're on. Can this be updated? Trying to find information on how this is configured.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d60e984-8f53-bdfa-baa7-a03ea0d5a2d2
* Version Independent ID: 0db8b738-ddaf-419a-8e9b-cd63fb8

[2020-09-23 07:43] jmprieur commented on #56783
@rcg-dev. Which resource or Web API are you trying to access? Non of our samples require this? This must be a requirement of the resource/webAPI?

[2020-09-23 07:44] SubhashVasarapu-MSFT commented on #63095
@birdnathan, Thanks for reaching out. We will investigate and update this thread.

[2020-09-23 07:50] rcg-dev commented on #56783
@jmprieur For example I tried to get an access token to access Azure Storage accounts....

My curl to generate a token looked like so

`--request POST 'https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token' \
--header 'Content-Type: application/x-www-form-urlencoded' \
--data-urlencode 'client_id={client_id}' \
--data-urlencode 'client_secret={client_secret}' \
--data-urlencode 'grant_typ

[2020-09-23 07:51] thecpshah opened #63096 "Workspace edition option not available"
I am trying to create ML workspace but I am not able to see the option to select the edition.

This option was available earlier.

<img width="617" alt="Screenshot 2020-09-23 085050" src="https://user-images.githubusercontent.com/10298891/93983048-faded880-fd79-11ea-8d04-9cfc0f8b1be4.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-09-23 07:56] BryanTrach-MSFT commented on #62781
@rachelxj-ms At this time you cannot set the password when exporting App Service Certificates. You should be able to follow the below steps though on your local machine to end up with a password protected pfx file

1. Double click the downloaded certificate and mark on the check box: Mark this key as exportable.

Next, complete and finish.
![image](https://user-images.githubusercontent.com/2025035

[2020-09-23 07:56] #62781 closed

[2020-09-23 07:58] psmanhas commented on #63011
@arseyam After discussion internally I got to know that we have closed the preview for now and we expect to open it again in Jan.

We have updated the orchestration mode [doc](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/orchestration-modes#:~:text=The%20orchestration%20mode%20is%20defined,is%20currently%20in%20public%20preview.) itself, but not this reference.

We will be enh

[2020-09-23 07:58] #63011 closed

[2020-09-23 08:13] BryanTrach-MSFT commented on #62787
@MNF Thank you for the feedback. We have created a PR, got it approved via legal, but since it changed more than 20% of the site it requires the content author to sign off on it. We have submitted the PR to receive approval from the doc author who will proceed from here with the request.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me

[2020-09-23 08:13] #62787 closed

[2020-09-23 08:14] bverhoeve opened #63097 "EventHubs Partition Creation inconsistency"
In the documentation on the EventHubs concepts and scalability I can read:
"The number of partitions is specified at creation and must be between 2 and 32"

However, the number of partitions is not something I can edit or configure during the creation via the portal. This is either an inconsistency in the documentation or I'm missing something.

---
#### Document Details

⚠ *Do not edit this secti

[2020-09-23 08:23] #63097 closed

[2020-09-23 08:23] jmprieur commented on #56783
This makes sense for storage
For ARM and Graph did you grand admin consent? (these should work)

[2020-09-23 08:34] rachelxj-ms commented on #62781
@BryanTrach-MSFT  would you please update the document about that we don't have password when we download pfx from Azure App Certificate?

[2020-09-23 08:35] MayankBargali-MSFT commented on #62849
@ericthomas1 Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-09-23 08:35] #62849 closed

[2020-09-23 08:35] PaulVrugt opened #63098 "User agent doesn't seem correct"
The documentation about health checks states that the user agent for the healthcheck is `ReadyForRequest/1.0`, however, in my logging the user agent seems to be `HealthCheck/1.0`. Which is correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2526d6f8-e90d-5ecc-dbca-14540fcad599
* Version Independent ID: e308750d-5a6

[2020-09-23 08:36] ram-msft commented on #63096
@thecpshah Thanks for the details. @sdgilley Could you please help with workspace edition as we are unable to see whenever we create the machine learning workspace.
![Uploading image.png…]()

[2020-09-23 08:40] SwathiDhanwada-MSFT commented on #63098
@PaulVrugt Thanks for your comment. We will review the issue and get back to you shortly.

[2020-09-23 09:10] mrozu opened #63099 "Azure Frontdoor configure subdomain patterns for wildcard domain"
I have FrontDoor instance *myFrontDoor* configured with wildcard domain (single CNAME record on *.myDomain.com* directed to *myFrontDoor.azurefd.net*).

Setup of frontdoor looks like:

[code]

I would like to set up rules in a way that:

- ruleA forwards all requests for a*.myDomain.com/* to backendPool-A (e.g. a1.myDomain.com, a2.myDomain.com)
- ruleB forwards all requests for b*.myDomain.com/* t

[2020-09-23 09:21] nakazax commented on #63087
Hi, I've opened PR #63100 for this issue.

[2020-09-23 09:25] Reetikabedi commented on #63064
Hi @KrishnaG-MSFT ,
I was able to resolve this issue as well .
This was happening because in the template json following was missing , but it was provided in parameter json :

        "threshold": {
            "type": "string",
            "defaultValue": "0",
            "metadata": {
                "description": "The threshold value at which the alert is activated."
            }
        },

[2020-09-23 10:01] DanFourman opened #63102 "Server 2019 AD does not contain the properties listed"
The server 2019 AD does not contain properties for
Write lockoutTime
Write pwdLastSet

as indicated by the instructions. Please advise on proper settings for Server 2019 AD

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 115ae83a-95dd-5643-bc88-f5447ebb2b99
* Version Independent ID: 7462ce84-0a9f-4bfd-7eba-c00928d77865

[2020-09-23 10:02] peterboba commented on #59219
Thank you!

[2020-09-23 10:02] #59219 closed

[2020-09-23 10:16] janegilring opened #63104 "Move support for resource type microsoft.appcenter is not documented"
[Here](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-resource-manager/management/move-support-resources.md) is a link to the page which documents whether resources supports moving between resource groups and subscriptions in Azure.

The resource type **microsoft.appcenter** is not documented in this page, it would be useful if this can be added.

---
#### Document Details

[2020-09-23 10:31] vipulsparsh commented on #62713
@espacesolutions Can you help us understand which particular policy are you talking about which stops it from working ?

[2020-09-23 10:37] vipulsparsh commented on #63024
@brianpepino Thanks for reaching out. This is a normal scenario where the user's account might be disabled in Resource tenant, which will stop you from leaving that organization.

In order to get around this, you would need to ask the tenant Admin to either Enable the Account or delete it.
Let me know if you have any questions.

[2020-09-23 10:49] thecpshah opened #63105 "Page disappeared: "Tutorial Train your first ML model""
There was a page titled **Tutorial: Train your first ML model** which has disappeared.  I found it via Google cached pages:

https://webcache.googleusercontent.com/search?q=cache:P2BdSKxXJdAJ:https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-1st-experiment-sdk-train+&cd=1&hl=en&ct=clnk&gl=uk

While that page had errors, you should fix those errors, rather than deleting the entire pa

[2020-09-23 10:49] vipulsparsh commented on #62854
@theguru0 Thanks for reaching out. # in RHEL world signifies with which user you are logged into the command line.
**#**  tells you that you are a system admin or rootuser.

If you are logged in with a normal user, you will more likely see this :  **$**
You need to copy the commands and not the symbols.

We will close this for now, feel free to tag me in your comment if you have any follow up ques

[2020-09-23 10:49] #62854 closed

[2020-09-23 10:50] KrishnaG-MSFT commented on #63064
@Reetikabedi I was trying to test the doc steps and reproducing the issue. Glad to know that you have self resolved the issue. Thanks for the update about it.

Regarding "az group deployment" vs "az deployment group", as per [this](https://github.com/Azure/azure-cli/issues/12860), the recommended command to use is "az deployment group" so I have verified and updated the document as required. The u

[2020-09-23 10:50] #63064 closed

[2020-09-23 10:51] dcurwin commented on #61803
I've updated the note on the page to be more clear about how to determine the geo-name:

I think that should answer any questions.

If you have no further considerations, I'll go ahead and close this issue.

Thanks!

[2020-09-23 10:53] SwathiDhanwada-MSFT commented on #63093
@ImrePyhvel Thanks for your comment. Currently the navigation is similar to file explorer rather than tree view.I would recommend you to navigate [here](https://feedback.azure.com/forums/911473-azure-management-groups/suggestions/38219899-one-page-tree-view-of-management-groups-and-subscr) and share your feedback or suggestions directly with the responsible Azure feature team and clicking the vote

[2020-09-23 11:20] SwathiDhanwada-MSFT commented on #62956
@SwayTex Thanks for your comment. Can you please elaborate on what functionality are you referring to as the Custom fields are still part of Azure Monitor?

[2020-09-23 11:29] uonie opened #63107 "iometer is not efficient to benchmark a Windows VM"
iometer is a very old app, recently I tested with it but the result is not optimal and is not as expected.
diskspd.exe is more commonly used by Windows HA team to benchmark a disk within the Windows.
https://github.com/Microsoft/diskspd
https://gallery.technet.microsoft.com/DiskSpd-A-Robust-Storage-6ef84e62
Can you add diskspd.exe guidance?

---
#### Document Details

⚠ *Do not edit this section.

[2020-09-23 11:46] AshokPeddakotla-MSFT commented on #63027
@levalencia  As you mentioned you are using Jessie, but the supported version is Raspbian Stretch. I would suggest you, use the supported versions and let us know if you have any further queries.

Please see [Azure IoT Edge supported systems](https://docs.microsoft.com/en-us/azure/iot-edge/support#operating-systems) for more details.

![image](https://user-images.githubusercontent.com/44426435/940

[2020-09-23 11:49] AshokPeddakotla-MSFT commented on #62812
@surabhshah Link has been fixed. Here is the correct link: https://docs.microsoft.com/en-us/rest/api/iothub/service/devices/invokemethod

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-23 11:49] #62812 closed

[2020-09-23 11:50] kappmeier opened #63108 "Location of Site Recovery Vault"
The document says

However, the [tutorial on Azure Migrate](https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-tutorial-migrate) claims

(which makes sense for me, because if the source region fails due to some issue, the vault would not be available.)

This is also in line with e.g. [this module](https://docs.microsoft.com/en-us/learn/modules/protect-infrastructure-with-site-reco

[2020-09-23 11:55] larryclaman opened #63109 "Clarification on DSC / Azure monitor conflict?"
[Enter feedback here]
This page says:
_The DSC extension for Linux and the Azure Monitor virtual machine extension for Linux currently present a conflict and aren't supported in a side-by-side configuration. Don't use the two solutions together on the same VM._

Can you provide some clarification on this issue:
1) Is this still the case as of September 2020?  If so, could you add some sort of date

[2020-09-23 11:57] pvrk commented on #62731
@hantintzaw : An update: The documentation is incorrect. The 'backup-management-type' parameter is not required for restore disks. Will correct it.

[2020-09-23 11:57] pvrk commented on #62731
Thanks for bringing this to our notice.

[2020-09-23 11:59] AshokPeddakotla-MSFT commented on #63029
@perkops Could you share the Git repo link so that we can review and update the doc accordingly?

[2020-09-23 12:01] Molx32 opened #63110 "Wrong path to User location setting"
Hi :)
A small detail regarding the path to access  the **Usage location** setting. This should be _User > Profile > Edit_ instead of _User > Profile > Settings_
Issue location : first paragraph of [this](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/licensing-groups-resolve-problems#usage-location-isnt-allowed) section.

---
#### Document Details

⚠ *Do not edit this s

[2020-09-23 12:04] Skeb1ns opened #63111 "Make the Identifier URL editable during the Plugin configuration"
Hi,

I would like to suggest a change to the Jira SSO Plugin which would benefit a lot of people:

The Identifier, Reply URL and Sign On URL are currently automatically populated by using the Jira Base URL during the setup of the Plugin and are not customisable. This is fine when you just want to configure SSO (which works really great) but is a potential issue when you also want to implement the

[2020-09-23 12:09] dcurwin commented on #62731
The document has been updated, and the changes will show in the next few hours. Thanks.

#please-close

[2020-09-23 12:09] #62731 closed

[2020-09-23 12:11] SwathiDhanwada-MSFT commented on #62952
@xtoik I have reproduced the issue from end  to check if the IP address is getting logged after enabling the "DisableIpMasking" property through portal. And I could see that the IP address is being logged.

I would suggest you to retry the process of enabling IP address via portal and revert if you have further questions.

[2020-09-23 12:12] dcurwin commented on #63108
#reassign:GeethalakshmiG

[2020-09-23 12:15] PatrikHanssonIntersolia opened #63112 "Export template is moved to Automation"
The guide says
Go your Application Insights resource > Settings > Export Template
but Export template is now under "Automation" in the menu.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 730ff1f8-2aff-bedf-a026-1e52af3f2af8
* Version Independent ID: 6e1f9b29-76b9-f7fd-7474-47b38595115e
* Content: [Azure Application In

[2020-09-23 12:16] AgentK88 commented on #63045
Thanks, this is clearer now. I presume [0] returns the first array only from output.billingReference?

`@activity('Lookup1').output.billingReference[pipeline().parameters.parambillableDuration][0].duration`

[2020-09-23 12:22] nadeemkhoury commented on #31993
Hi Everyone,
A Relevant document https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/netsuite-tutorial pretends that Netsuite support JIT provisioning, thus, when a user doesn't exist in Netsuite, it will create it automatically.
Were you able to solve that issue or do you have any update on that ?

[2020-09-23 12:24] #36432 closed

[2020-09-23 12:32] i3anaan commented on #62945
No, `AZURE_FUNCTIONS_ENVIRONMENT` resolves to `Development` however, possibly because we do set IsDevelopment to true

Azure (that is, before we explicitly set it ourselves)

[2020-09-23 12:46] stuartMoorhouse commented on #63023
Hi, unfortunately both those links ([](http://myworkaccount.microsoft.com/) and `https://myaccount.microsoft.com/`) get redirected to [](https://login.microsoftonline.com/common/oauth2/v2.0), where I get the error message:

``You can't sign in here with a personal account. Use your work or school account instead.``

Thanks,

Stuart

[2020-09-23 12:56] lanicolas opened #63114 "Port error"
[Enter feedback here]
There is an error on the paragraph:

 If you are using a LoadBalancer type, you'll want to copy the external IP address and port number 300080. If you are using NodePort, you'll want to use the IP address of your Kubernetes API server and the port number listed under the PORT(S) column.

The port should be 30080. There is an additional 0 there.

---
#### Document Details

⚠ *

[2020-09-23 13:04] KrishnaG-MSFT commented on #63108
@dcurwin Thanks for the quick response.
@kappmeier Thanks for your comment! We will review and provide an update as appropriate.
@GeethalakshmiG - FYI

[2020-09-23 13:07] KrishnaG-MSFT commented on #63104
@janegilring Thanks for your comment! We will review and provide an update as appropriate.

[2020-09-23 13:13] jhauray commented on #61795
Hello,

I find the answer by testing the service, and tracking http calls.

The Easy Auth Module generate a callback endpoint corresponding this template : `https://<web_app_name>.azurewebsites.net/.auth/login/<provider_name>/callback`

The callback url (or redirect_uri) is required to register an app in an OpenID Connect Identity provider.

[2020-09-23 13:16] KrishnaG-MSFT commented on #63114
@lanicolas Good catch! Thanks for the feedback! I have verified and updated the document as required. The update should go live soon i.e., in less than 24 hours. Thanks.

[2020-09-23 13:16] #63114 closed

[2020-09-23 13:19] amanmcse commented on #62860
@martyg1000 Thank you for pointing this out. I have updated the document and will be engaging Product UI team to change the statement in the Azure Portal as well.

[2020-09-23 13:20] KrishnaG-MSFT commented on #63112
@PatrikHanssonIntersolia Thanks for your comment! We will review and provide an update as appropriate.

[2020-09-23 13:20] GiftA-MSFT commented on #63105
@thecpshah we'll review your feedback and get back to you shortly. Thanks.

[2020-09-23 13:27] perkops commented on #63029
@AshokPeddakotla-MSFT,

Sure - it was changed in this commit:

https://github.com/Azure/Industrial-IoT/commit/064da5df292fb6de8c9c5e4fc993ffe9b689dd7c#diff-6de08bae9f9084d0ebde6e3a2a74f3f7

[2020-09-23 13:30] tishyk opened #63116 "Clean up resources step doesn't include the option to remove Virtual Machine within ARM template"
The clean up resources step doesn't include the option to remove Virtual Machine within ARM template or any other options.
It is very difficult to find is it possible to delete VM with ARM template.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e1fe0b0-a217-ced9-a3fc-449891cf93e3
* Version Independent ID: 6f3f5df8-69

[2020-09-23 13:37] hphuhtin opened #63117 "Incorrect use of "AD DS""
This page starts "Azure Active Directory Domain Services (AD DS) provides managed domain services such as domain join, group policy, lightweight directory access protocol (LDAP), and Kerberos / NTLM authentication."

The term "AD DS" is not used for Azure AD DS, instead "AD DS" means (the on-premises)  "Active Directory Domain Services". This is extremely misleading, as even in the Azure portal th

[2020-09-23 13:37] LayZeeDK commented on #62021
Microsoft.Azure.Functions.Extensions version 1.1.0 is out as of September 16th, 2020.

[2020-09-23 13:42] AshokPeddakotla-MSFT commented on #63029
Thanks for sharing the details.  The IoT Solution Accelerators doc sections are being reviewed. Adding author @dominicbetts  to prioritize this bug if possible.

[2020-09-23 13:50] tfitzmac commented on #63104
@janegilring - I don't see a resource provider with the namespace microsoft.appcenter. Can you tell us where you are seeing this resource provider?

[2020-09-23 13:53] janegilring commented on #63104
The data came from the Azure Billing API, so maybe it`s not an Azure resource then.
I was trying to create a list of resources which supports moving between subscriptions based on the data from an Enterprise Agreement billing API report.
If so, we may close the issue.

[2020-09-23 13:53] RyanHill-MSFT commented on #62982
Docs will be updated @lokijota. Thanks for the call out.

[2020-09-23 13:54] crgarcia12 commented on #60461
Yes @pnarsi, everything goes through private IP (using the Private CNAME)

[2020-09-23 14:00] cmmdesai commented on #62443
Yes, the change is in review. The doc updates should show up by end of this week :)

[2020-09-23 14:06] MortezaDamavandpeyma-TomTom opened #63118 "Is JWKS cached in validate-jwt policy?"
We are using validate-jwt with a 3rd party OpenID Configuration endpoint hosted elsewhere.

We want t o know the behavior for validate-jwt. Does validate-jwt request JWKS for each request? Is it possible to cache JWKS and only retrieve JWKS whenever the cached JWKS fails to validates incoming tokens?

We observed that JWKS are not rotated so frequently (even with azure OIDC endpoint) and it is not

[2020-09-23 14:06] dneto-ame commented on #62677
Hi @Pavithir ,

In our deployments of WVD, without configuration.zip we get errors and unsuccessful deployment on Azure, this is why we had to allow in virtual appliance and suggesting on documents.

[2020-09-23 14:11] erzads commented on #60878
@pvrk Should I open a different issue? I am still having this problem where the second api for the restore status is always returning succeeded even though it is still running.

[2020-09-23 14:13] Robert-Kostecki opened #63119 "ADF Copy activity using PolyBase fails to load "Date" type to Synapse"
When loading Date type from a parquet file to Synapse with "Date" type via ADF Copy with PolyBase, the ADF throws the following error:
[code]

To replicate:
1. Execute the following script in Synapse:

[code]

2. Export data from the table to parquet file in ADLS Gen2 using ADF Copy Activity (Synapse => Parquet file).

3. Import data from parquet file generated in step to back to the table using A

[2020-09-23 14:16] tjmcclure0501 opened #63120 "When Will This Example Work"
[Enter feedback here]
It seems that the issues regarding Azure SPA Auth Code have been resolved - when I use it I get a CORS error against my B2C Tenant.
Access to XMLHttpRequest at 'https://straxprotocol.b2clogin.com/straxprotocol.onmicrosoft.com/b2c_1_susi/v2.0/.well-known/openid-configuration' from origin 'http://localhost:6420' has been blocked by CORS policy: No 'Access-Control-Allow-Origin'

[2020-09-23 14:20] mganeshphani opened #63121 "More clarity on scaling"
in this article
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-hubs-trigger?tabs=csharp#scaling

what happens when the scaleout setting of app service plan is set to 1?
are we still going to get Function_0 to Function_n as per function scaling logic upto the total consumption of app service plan resources or one app service plan unit(per scaleout) means always only

[2020-09-23 14:26] shashishailaj commented on #63092
@EDEKA-LUNAR Thank you for your feedback. We will investigate and update the thread.

[2020-09-23 14:27] Expecho commented on #62960
I mean those:

![image](https://user-images.githubusercontent.com/11960665/94025984-672cfc80-fdb9-11ea-87d0-e84bf0c8aa42.png)

Only the field value is shown. Like, in the Debug View we can see all captured data:

`..."value":8,"count":2,"min":4,"max":4,"stdDev":0}...`

[2020-09-23 14:29] shashishailaj commented on #63102
@DanFourman Thank you for your query. We will investigate and update the thread.

[2020-09-23 14:30] shashishailaj commented on #63110
@Molx32 Thank you for catching this. We will investigate and update the thread.

[2020-09-23 14:32] PatAltimore commented on #61766
Hi @AshokPeddakotla-MSFT,

I opened and incident for the blockchain connector. It's still active. We can close this issue since it's unlikely the documentation will need to change. I'll add an item to the documentation backlog to verify the docs after the incident is resolved.

Thanks,
Pat

#please-close

[2020-09-23 14:32] shashishailaj commented on #63111
@Skeb1ns Thank you for your feedback. WE are engaging the content author for having this reviewed.

[2020-09-23 14:32] #61766 closed

[2020-09-23 14:36] Skatterbrainz opened #63122 "Request - More information on feature/option"
Please add information to explain the "Require ticket information on activation" feature?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 791cb6b6-4733-1c1d-75c5-9318049163af
* Version Independent ID: 4752b0bc-ab61-69e3-972f-80d6be2baa55
* Content: [Configure Azure AD role settings in PIM - Azure AD](https://docs.micros

[2020-09-23 14:36] Sweggle commented on #62842
@MonikaReddy-MSFT @anzaman should this be re-opened?

[2020-09-23 14:39] matjazl commented on #62412
can we close this?

[2020-09-23 14:39] shashishailaj commented on #63111
@jeevansd Could you please review this issue and provide your suggestion on this ?

[2020-09-23 14:49] shashishailaj commented on #63117
@hphuhtin Thank you for pointing this out. I agree with you that this can surely be confusing. Let me update this .

[2020-09-23 14:49] jorgecotillo commented on #62449
Can you please paste the ACI command?
Go to your resource group, click on the Azure Container Instance that ran your script, click on Containers from the left and finally click on Properties tab, you'll see what command ACI ran, can you please copy and paste it here?

I'll try your sample but without using subscription().name function and will let you know the results.

[2020-09-23 14:51] mmacy commented on #63120
@tjmcclure0501 There is one issue requiring resolution prior to removing the notice. I've updated the wiki article that's linked to in the **Note** with information on both issues:

https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/MSAL-browser-B2C-CORS-issue

Here is the text for your convenience:

As mentioned, we cannot provide an ETA at this time, but be advised it is of

[2020-09-23 14:51] NavtejSaini-MSFT commented on #62412
@CaitlinV39  Thank you responding and taking action
@jwilkey We will be going ahead and closing this issue for now. If you have any other question, please get back to us.

[2020-09-23 14:51] #62412 closed

[2020-09-23 14:54] tomidix opened #63125 "Missing setup for the agents (support)?"
I am missing something or you haven't documented on how to setup agent's part or how should agents communicate with customers..

Is it possible to use Teams for Agents and that the customer's (client) part is in our custom application / portal which customers should use?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2

[2020-09-23 15:01] robermud opened #63126 "Code: RegistrationDefinitionInvalidUpdate"
Hello, I'm trying to do this deployment and it keeps failing, I didn't find any information related to the error on the internet.
I'm getting the following message:
New-AzDeployment: 2:58:04 PM - The deployment 'AzureADB2C' failed with error(s). Showing 1 out of 1 error(s).
Status Message: The registration definition 'xxxx-xxx-xxx-xxx-xxxxx' property ManagedByTenantId not allowed to update. (Code:

[2020-09-23 15:12] zpwalter2019 commented on #62882
Hi,

I'm trying to download the payment receipt and so was looking for
instructions because from my Azure portal, I can't find where to
download my payment receipt.

Here is the Microsoft page for downloading invoices. It'd be nice if it
tells us how to download the payment receipt as well:
https://docs.microsoft.com/en-us/azure/cost-management-billing/understand/download-azure-invoice

Here is an

[2020-09-23 15:17] SumanthMarigowda-MSFT commented on #62850
@ eric-synthetaic-com The PR request has been raised, For now, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-23 15:17] #62850 closed

[2020-09-23 15:19] PramodValavala-MSFT commented on #62925
@TommyQuality When testing APIs from the portal, you can only select hostnames configured for your gateways, which would then be available to select like below

![image](https://user-images.githubusercontent.com/43602528/94032410-96edfb80-fddd-11ea-8884-45442a3b07ca.png)

After selecting the host and before sending the request, make sure to check the `Bypass CORS proxy` checkbox, which would force

[2020-09-23 15:23] zaalion opened #63128 "Setting custom metadata on the blob"
[Enter feedback here]
Hello,

Can we use this out blob binding to set custom metadata fields on the blob? I prefer to avoid REST calls wherever possible.

Thanks
R

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 910d4732-bb08-d16a-a932-19c6bd1628c2
* Version Independent ID: af4358c7-cb5c-bdc7-6433-289f47dc186b
* Content

[2020-09-23 15:24] SumanthMarigowda-MSFT commented on #62919
@michael-freidgeim-webjet Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.
Your query has been shared with the content owner for further insight.

[2020-09-23 15:24] eransamocha commented on #61803
Perfect – thank you!

--
Eran Samocha
Azure Specialist – Manufacturing and Resources
M: +1 (512) 591-1093
 [signature_580504661]
LinkedIn<https://www.linkedin.com/in/eran-samocha/>

From: David Curwin <notifications@github.com>
Sent: Wednesday, September 23, 2020 5:52 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Eran Samocha <Eran.Samocha@microsoft.com>; Mention <mention@nor

[2020-09-23 15:26] dcurwin commented on #61803
#please-close

[2020-09-23 15:26] #61803 closed

[2020-09-23 15:26] IngridAtMicrosoft commented on #63080
Taking a look...

[2020-09-23 15:28] SumanthMarigowda-MSFT commented on #63009
@andrew951,  Thank you for your feedback ! We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-23 15:28] #63009 closed

[2020-09-23 15:29] IngridAtMicrosoft commented on #63080
Not sure what the intent was here.  It may have been something that was over written and this was forgotten. I'm not the original author. You're right, though.  If you were creating a service principal in the portal, you wouldn't be able to create a service principal cross-tenant.  I will make adjustments to the doc.

[2020-09-23 15:30] SumanthMarigowda-MSFT commented on #63116
@tishyk Thanks for the question! We are investigating and will update you shortly.

[2020-09-23 15:30] GiftA-MSFT commented on #63105
@thecpshah thanks or your feedback and you made a great point. In an effort to enhance the document, it seems the authors split information into multiple sub-sections to make the information easier to consume. However, we will keep your feedback in mind for future doc enhancements. Thanks again.
@aminsaied fyi.

[2020-09-23 15:30] #63105 closed

[2020-09-23 15:31] ChaitanyaNaykodi-MSFT commented on #62820
Hello @Marco-Santoni,
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-09-23 15:31] #62820 closed

[2020-09-23 15:35] JamesTran-MSFT commented on #63122
@Skatterbrainz
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-23 15:39] ofortun opened #63130 "Problem on line 56 link to update-mgmt-view-logs.md"
On line 56, there is a parenthesis missing when mentioning (or on an [Azure query]update-mgmt-view-logs.md).

I would try to fix it, but I am not sure what "_update-mgmt-view-logs.md_" is referring to as it does not exist in the
_update-management_ folder. Is it supposed to be _update-mgmt-query-logs.md_ or referring to a file in another folder?

---
#### Document Details

⚠ *Do not edit this sect

[2020-09-23 15:46] MonikaReddy-MSFT commented on #63099
@mrozu -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-09-23 15:46] thecpshah commented on #63105
Thanks for your response but this is not the case. The information which was available on that page is no longer available. Can you please restore the page or make the information available?

[2020-09-23 15:49] aminsaied commented on #63105
@thecpshah Thanks for reaching out. It seems you found the page while it was still under development. It just got released to prod yesterday: here is the page 1 of the 4 part series: https://docs.microsoft.com/azure/machine-learning/tutorial-1st-experiment-sdk-setup-local

As for the mistakes you mentioned, it is likely that those were due to the fact that the series was still being developed. How

[2020-09-23 15:50] iainfoulds commented on #63117
Thanks for the feedback.

The term "Azure AD DS" is being used on all instances throughout the doc. The abbreviation is introduced at the start as there's also then references to "AD DS" referring to that on-premises environment. It's the abbreviation of "Active Directory Domain Services" that's being noted. Otherwise you have to repeat the same abbreviation to refer to the on-premises version. Th

[2020-09-23 15:55] KranthiPakala-MSFT commented on #63097
Hi @bverhoeve , I see that you have closed this query. Hope you found the place where you select the partition count. In addition I'm sharing an image in case if anyone has similar query.

![image](https://user-images.githubusercontent.com/50185738/94037462-3c6f8380-fd7a-11ea-8395-4f32afa0c24c.png)

Hope this helps.

[2020-09-23 16:00] mrbullwinkle commented on #63112
@PatrikHanssonIntersolia thanks for bringing this to our attention. I will get an update in to address this today.

[2020-09-23 16:00] KranthiPakala-MSFT commented on #63119
Hi @Robert-Kostecki,

Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&

[2020-09-23 16:00] #63119 closed

[2020-09-23 16:01] brightneuron opened #63131 "Personalizer - Azure resource deployment failed with status Failed"
When trying to create/deploy a new Personalizer resource (via Azure Portal or CLI), I keep getting the same deployment failure, with error response below.

"statusMessage": "{\"status\":\"Failed\",\"error\":{\"code\":\"ResourceOperationFailure\",\"message\":\"The resource operation completed with terminal provisioning state 'Failed'.\",\"details\":[{\"code\":\"ExtensionFailure\",\"message\":\"Exte

[2020-09-23 16:07] KranthiPakala-MSFT commented on #62966
Hi @skrepo0,

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you

[2020-09-23 16:07] #62966 closed

[2020-09-23 16:08] ktremain opened #63132 "Change Public Network Access via PowerShell - code is incorrect"
the powershell code comment says "# Update Public Network Access to Disabled"

then the actual code says:
"  -PublicNetworkAccess "Enabled"  "

Looks like there used to be a section on how to enable & disable and it was cleaned up incorrectly.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23b783bd-c5bc-8c0c-eb78-eebdf

[2020-09-23 16:13] normesta commented on #62693
Hi @crisansou - thx for reporting! There's a lot of investigation around these issues happening now. I'll post back any doc updates. Thank you!

[2020-09-23 16:14] normesta commented on #62687
Hi @crisansou - thx for reporting! There's a lot of investigation around these issues happening now. I'll post back any doc updates. Thank you!

[2020-09-23 16:23] KalyanChanumolu-MSFT commented on #42830
@jmprieur reopening this one

[2020-09-23 16:25] AshokPeddakotla-MSFT commented on #63000
@tymtam2 Does that answer your queries? Do let us know if you have any further questions.

[2020-09-23 16:27] thecpshah opened #63134 "Error due to multiple tenants"
I am trying to follow the code on this page and when I try to execute code for `# tutorial/01-create-workspace.py`, I get login error as I have access to multiple tenants.

How do I modify the code?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93ab763e-565b-17d9-744f-4efbdc73b3d9
* Version Independent ID: 2d591a5a-80

[2020-09-23 16:31] danewalton opened #63135 "JSON Payload Incorrect for Properties"
The docs insinuate here that the reported properties need to be wrapped in a `"reported: {}` object. In practice it should just be

[code]
instead of
[code]

Same for the component version

![image](https://user-images.githubusercontent.com/36710865/94041549-39c35d00-fd7f-11ea-8daf-8ae91e9b560d.png)

I believe same goes here:
![image](https://user-images.githubusercontent.com/36710865/94041771-8e6

[2020-09-23 16:32] mrbullwinkle commented on #63112
The update to address this issue is merged internally and will go-live later today. Thanks again for bringing this to our attention.

[2020-09-23 16:33] david-stewart-palapanou opened #63136 "Azure CLI command with JMESPath query doesn't work"
Hi,

One of the Azure CLI commands in this page isn't working after modifying it to suit my environment.

**Azure CLI**

az backup protection enable-for-vm  --resource-group {ResourceGroup} --vault-name {vaultname} --vm $(az vm show -g VMResourceGroup -n MyVm --query id | tr -d '"') --policy-name {policyname} --disk-list-setting include --diskslist {LUN number(s) separated by space}

The below
--q

[2020-09-23 16:33] WinstonHoward-MSFT commented on #63107
Thanks for the issue @uonie , I've assigned this issue to the doc author to see if they want to add diskspd guidance.

[2020-09-23 16:38] jelew opened #63137 "CLI repair script fails due to attempting to create PREMIUM_LRS account for VM w/unmanaged disk"
Hello.

On 9.21.2020 while using the CLI repair script for a VM with unmanaged disk and SKU Standard_A2m_V2 the script failed because it attempted to create a PREMIUM_LRS storage account which the VM does not support. As a workaround we resized the VM to a SKU that supported premium storage and reran the CLI script.

The following day I was able to repro the issue using a VM in my AIR subscription

[2020-09-23 16:38] #62608 closed

[2020-09-23 16:39] pelon34 opened #63138 "Document lacking on the troubleshooting section"
The following document is lacking in details to help troubleshoot issues when setting this feature. I followed all instructions to the best of my ability and still failed to make the feature work.
https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-vm-sign-in-azure-ad-windows

During research I found the following YouTube video that goes in much more detail into how to troublesho

[2020-09-23 16:43] dcurwin commented on #63136
#reassign:pvrk

[2020-09-23 16:43] WinstonHoward-MSFT commented on #63052
By default when you install Docker Desktop it is set for Linux Containers, then if you follow the guide to Add Container Orchestrator Support to the Visual Studio Project you get this prompt if your still in Linux Containers. Selecting yes will automatedly switch docker to Windows container, no need to go to the tray. May I close this issue as the doc is correct?

[2020-09-23 16:46] pvrk commented on #60878
@erzads : Sorry for the delay. So, I was able to test and get clarification. First the PUT API is an intent to start a restore. You submit that and then you will have track the Azure-AsyncOperation Header. Once it is successful (200 OK), it indicates that the restore has been successfully triggered. Then you have to observe the response body and get the Job ID and then track the JOB for the comple

[2020-09-23 16:47] hpsin commented on #62987
Roles that the user are assigned to will always appear.  Please ensure that the audience of the token is the app that created those roles.  You cannot inject roles from one app in a token with a different audience.

Can you review this document to validate your end to end? https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-add-app-roles-in-azure-ad-apps

[2020-09-23 16:48] tfitzmac commented on #63104
I think in this case the cost is associated with something that is not an Azure resource. I'll close this item, but if we get additional information that indicates it needs to be added, we can reopen.

[2020-09-23 16:48] tfitzmac commented on #63104
#please-close

[2020-09-23 16:48] #63104 closed

[2020-09-23 16:49] Ayanmullick opened #63140 "Serverless Cosmosdb thru PowerShell"
How could one deploy Cosmosdb with the throughput mode to be `Serverless` using PowerShell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18541d64-33d6-9a5b-b451-a4a7ce983d77
* Version Independent ID: 32127b56-80ee-abb0-c65d-7bd73548e020
* Content: [Create and manage Azure Cosmos DB using PowerShell](https://docs.micr

[2020-09-23 16:52] PatrickFarley commented on #59011
The team has created a work item to update the samples - https://msazure.visualstudio.com/Cognitive%20Services/_workitems/edit/8285875 So we can close this issue now.
#please-close

[2020-09-23 16:52] #59011 closed

[2020-09-23 16:56] njallain opened #63141 "SetCertAccess script doesn't work in every case"
Depending on the type of certificate, the code that tries to get the private key might fail.  Here's the modification we made

$keyName=$cert.PrivateKey.CspKeyContainerInfo.UniqueKeyContainerName
$keyPath = "C:\ProgramData\Microsoft\Crypto\RSA\MachineKeys\"
if ($keyName -eq $null){
	$privateKey = [System.Security.Cryptography.X509Certificates.RSACertificateExtensions]::GetRSAPrivateKey($cert)
	$ke

[2020-09-23 17:10] mamccrea commented on #62822
Hi @LeGiules - I've updated the doc with an example. Please allow a few hours for the changes to go live. If you have any additional questions, please reopen this issue.

#please-close

[2020-09-23 17:10] #62822 closed

[2020-09-23 17:13] MGoedtel commented on #63130
@ofortun - Thanks for bringing this to my attention. It is a markdown file in the folder containing the articles for UM, and I'm opening a PR to fix this now.  #please-close

[2020-09-23 17:13] #63130 closed

[2020-09-23 17:16] brkrall opened #63142 "Update Limitations section to include NAT unavailability for Standard SKU internal load balancer"
In the Limitations section of this page, the following statement is included:

'NAT is compatible with standard SKU public IP, public IP prefix, and load balancer resources. Basic resources, such as basic load balancer, and any products derived from them aren't compatible with NAT. Basic resources must be placed on a subnet not configured with NAT.'

The wording of this statement implies that NAT

[2020-09-23 17:22] mrbullwinkle commented on #63112
This update is now live. Going to close out the issue.

[2020-09-23 17:22] mrbullwinkle commented on #63112
#please-close

[2020-09-23 17:22] #63112 closed

[2020-09-23 17:23] jorgecotillo commented on #62449
Just an update, I was able to repro on my end and looking into how to fix it, if the fix requires an update to the bootstrap script, I'll let you know.

[2020-09-23 17:25] PatrickFarley commented on #59299
This article should actually be retired in favor of the client library quickstart. @saltonsolutions what's the issue you were having with framework versions?

[2020-09-23 17:26] christiankuhtz commented on #63142
Virtual Network NAT (NAT for short, in other words, NAT gateway resources) _can_ be used with just an internal Standard LB and define outbound to Internet connectivity for resources in the backend pool of only an internal Standard LB.  Can you please clarify the comment?

[2020-09-23 17:27] rolfhargis-hhs opened #63145 "Correlation ID info needed"
[Enter feedback here]
Tells you how to get the correlation ID, but doesn't tell you what it's good for or how to use it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4369e3ef-baf8-5ea9-cba8-87d49bbc21a4
* Version Independent ID: 1ba05ac6-f9e2-3c90-c2a9-8efec79f9d23
* Content: [Deployment history - Azure Resource Mana

[2020-09-23 17:28] PatrickFarley commented on #61734
@n12nja Yes, probably the return types got changed but the sample code didn't. I'd recommend following the Identify procedure through the [client library quickstart](https://docs.microsoft.com/azure/cognitive-services/face/quickstarts/client-libraries?pivots=programming-language-csharp) instead - the article here will be deprecated soon.

[2020-09-23 17:28] mamccrea commented on #62990
Hi @asears - when you enable TLS in Azure Data Lake Storage Gen2, there's no additional configuration you need to do when you create a cluster using it from the Azure portal.

[2020-09-23 17:29] PatrickFarley commented on #61734
#please-close

[2020-09-23 17:29] #61734 closed

[2020-09-23 17:33] KranthiPakala-MSFT commented on #63045
@AgentK88 Yes, your understanding is correct, but it is from output.billableDuration and not output.billingReference. :)

Glad this info helped.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank  you

[2020-09-23 17:33] #63045 closed

[2020-09-23 17:34] WinstonHoward-MSFT commented on #63141
Thanks for the issue, we will take a look.

[2020-09-23 17:34] JamesTran-MSFT commented on #63138
@pelon34
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-23 17:34] reynolwi opened #63148 "Missing information adds some frustration with new features"
On this help article, Manage app passwords for two-step verification (https://docs.microsoft.com/en-us/azure/active-directory/user-help/multi-factor-authentication-end-user-app-passwords#:~:text=To%20create%20app%20passwords%20using%20the%20Office%20365,password%2C%20and%20then%20select%20Next.%20More%20items...%20) it references the various areas that the app password feature is supposed to be lo

[2020-09-23 17:38] madmax209 opened #63149 "Microsoft Message Analyzer is deprecated"
This page references Microsoft Message Analyzer to analyze the logs, but this software was deprecated in Nov. 2019. Let's provide a suggested piece of software that is actually available.

https://docs.microsoft.com/en-us/openspecs/blog/ms-winintbloglp/dd98b93c-0a75-4eb0-b92e-e760c502394f

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-09-23 17:40] MarileeTurscak-MSFT commented on #63148
@reynolwi
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-23 17:43] hpsin commented on #63067
The only reliable source of an email address is "email".  The preferred username is what the user typed into the login screen, and can be a UPN, an email, a phone number, or something else.

[2020-09-23 17:44] saltonsolutions commented on #59299
NOTHING worked. If there is a new article, please let me know. THis thread
is so old, I gave up on usage.

On Wed, Sep 23, 2020 at 1:25 PM Patrick Farley <notifications@github.com>
wrote:

[2020-09-23 17:44] writex commented on #63052
I was already using Windows containers so I didn't get the prompt. Not
getting the prompt is what confused me. Maybe you need to add a note that
if Docker is already switched to using Windows containers then you will not
get the prompt.

--Robert

On Wed, Sep 23, 2020 at 12:43 PM Winston Howard <notifications@github.com>
wrote:

[2020-09-23 17:52] arunrab opened #63151 "Resource naming rules need to be updated"
For the following entities, the 'Valid Characters' cell should include "Can't use whitespace":
virtualMachine
virtualMachineScaleSets

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 374ec8eb-64d4-3766-5c5e-39137a262ffd
* Version Independent ID: 3abeeae9-6854-651a-483c-a1673eea9f9f
* Content: [Resource naming restriction

[2020-09-23 17:53] asudbring commented on #63142
The outbound connections doc referenced has not been updated since NAT was released and is currently going through a re-write, which will include this scenario or reference.

[2020-09-23 17:55] JamesTran-MSFT commented on #62968
@wangyuehust
I just wanted to check in and see if you were able to get your domain verified? Either by following the [add and verify custom domain documentation](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/domains-manage#set-the-primary-domain-name-for-your-azure-ad-directory) or via the json.

If you have any other questions, please let me know.
Thank you!

[2020-09-23 17:56] JamesTran-MSFT commented on #63122
@Skatterbrainz
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-09-23 17:57] mfabiani-av opened #63152 "powerState is "null" instead of "Stopped" after using aks stop command"
I tried the aks stop command and after it completed, I printed the cluster info using az aks show, and the result shows:

[code]

although on the page it says it shoudl be "powerState": "Stopped"

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f07b13b8-6b8b-57f9-7fb3-361329af08be
* Version Independent ID: d3c6ae95-654f-

[2020-09-23 17:59] johanste opened #63153 "The link to the NVIDIA Tesla T4 page is broken"
The link should be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 389b7461-ca8b-7ec6-f93e-3f7de1634c16
* Version Independent ID: 0060fa87-d55c-d8b2-8665-042893f7352b
* Content: [How to install and run the Spatial Analysis container - Computer Vision - Azure Cognitive Services](https://docs.microsoft.com/en-us/

[2020-09-23 18:00] shashishailaj commented on #63092
@kkern13 could you please look into this request ?

[2020-09-23 18:02] JamesTran-MSFT commented on #63138
@pelon34
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-09-23 18:04] YutongTie-MSFT commented on #63131
@brightneuron
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-23 18:07] YutongTie-MSFT commented on #63153
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-23 18:08] YutongTie-MSFT commented on #63134
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-23 18:09] tfitzmac commented on #63145
@rolfhargis-hhs - if you call support, they make ask you for the correlation ID. They use it to find the failed deployment operations.

[2020-09-23 18:10] tfitzmac commented on #63145
I'll change the article to clarify its use.

[2020-09-23 18:19] PatrickFarley commented on #62537
Good catch; I've reworded the doc so it's clear that those input reqs are really only for custom model training.
#please-close

[2020-09-23 18:19] #62537 closed

[2020-09-23 18:21] PatrickFarley commented on #59299
@saltonsolutions I was referring to the [client library quickstart](https://docs.microsoft.com/azure/cognitive-services/face/quickstarts/client-libraries?pivots=programming-language-csharp)

[2020-09-23 18:27] MonikaReddy-MSFT commented on #62986
@jackbond -
Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2020-09-23 18:27] #62986 closed

[2020-09-23 18:28] jeevansd commented on #63111
@Skeb1ns I am sorry to hear that you have to do this much juggling to enable the plugin with Application Proxy. We have now developed a new feature in the plugin which will provide a simple checkbox that you can have to enable this plugin to use with Application Proxy. I have tested this already with couple of customers and soon we will release this feature in public version.

I am also taking you

[2020-09-23 18:29] jeevansd commented on #63111
As we already have this work item on our side, so closing this item.

#please-close

[2020-09-23 18:29] #63111 closed

[2020-09-23 18:33] kkern13 commented on #62184
Updates completed. @vipulsparsh please close.

[2020-09-23 18:37] WinstonHoward-MSFT commented on #63052
I've made a PR clarifying that you should do what the instruction says only if you see the prompt the instruction is discussing. Have a good one.

[2020-09-23 18:38] XiaoyuMSFT commented on #59262
@charlie-morn  Regarding "inside a distribution, the identity property always increments by the number of distributions", are you referring to the IDENTITY column's value increment?  Could you clarify what you meant by "the number of distributions"?  Thank you.

[2020-09-23 18:41] RyanHill-MSFT commented on #62983
@lokijota, I have a PR that's pending review. Thanks for the call out.

[2020-09-23 18:50] SnehaGunda commented on #63140
@Ayanmullick  During the preview release, the only supported way to create a new serverless account is by using the Azure portal. The following doc has this information:

https://docs.microsoft.com/en-us/azure/cosmos-db/serverless#using-serverless-resources

[2020-09-23 18:54] ArnoMicrosoft commented on #58854
@arvind-dhariwal I am going to look into it.

[2020-09-23 18:55] rcg-dev commented on #56783
@jmprieur I did grant admin consent. That did nothing. Also since some API's do require adding a role to the application, is there some sort of list that mentions which one's need it and which one's don't? See the way I figured out I needed to add a role to the application was through Azure tech support and he mentioned that it would need to be done for every API I wanted the application to utiliz

[2020-09-23 18:56] ddematheu2 commented on #63091
@meet-rs-api you are able to generate a new token for that user following instructions in this document: https://docs.microsoft.com/en-us/azure/communication-services/quickstarts/access-tokens?pivots=programming-language-csharp

Once you have created a user, you can continue to use the issuing code flow to generate new tokens for an existing user. Examples in JS below:

Create user:
[code]

Issue

[2020-09-23 18:58] luisquintanilla commented on #62453
@nkma1989 are you sing the latest version of the Azure Machine Learning  VS Code extension?

[2020-09-23 18:59] roygara commented on #60125
@RameshTirunagari Thank you again, for letting us know. We've gone ahead and made updates to the doc, they'll be live later today.

Accordingly, I'll go ahead and close this out.

Again, thanks for your help! :)

#please-close

[2020-09-23 18:59] #60125 closed

[2020-09-23 19:01] ddematheu2 commented on #63125
Teams for agents is not supported today. We will capture your feedback for future features.

In the current model, agents would be communicate using a custom application/portal as well to connect into the conversation with a customer. Each conversation is identified with a thread ID that can be used to join and chat. This means even if your customer and agent are on two different experiences/apps/

[2020-09-23 19:01] JayaChatterjee-MSFT commented on #62838
@drdamour Following up to understand if you had a chance check the previous comment.

[2020-09-23 19:07] #63145 closed

[2020-09-23 19:08] greendx opened #63155 "Admin consent request email notifications"
[Enter feedback here]

![image](https://user-images.githubusercontent.com/35792006/94057584-d13fa480-fdad-11ea-86e0-6a321f4f270c.png)

I would like to receive email notifications for Admin consent requests but this requires my account to be global, application or cloud administrator. We do not mail enable admin accounts nor do we promote standard mail enabled accounts into admin roles. How can I c

[2020-09-23 19:08] tfitzmac commented on #63145
@rolfhargis-hhs - thanks for this feedback. The update should get published later today.

[2020-09-23 19:13] nvanloen opened #63156 "Incorrect Example 1 for xpath"
For Example 1 under the xpath section, it references an XML string that is enclosed with double-quotes "".  If you use that as input to a Compose function in Logic Apps, the xpath functions in the below examples do not work.  The XML string needs to be unquoted.  Reference: https://docs.microsoft.com/answers/comments/96478/view.html

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-09-23 19:13] dxkaufman opened #63157 "more info about encoding would be helpful"
I was trying to write a timer trigger to add messages to a queue. I followed the instructions in this page, but couldn't get it working. There was a little bit of discussion in the page about the binary policy, but it wasn't very clear, and putting those calls in didn't help. Azure Support was able to help figure out that I needed to encode the message:

[code]

It would be nice if this page were

[2020-09-23 19:16] charlie-morn commented on #59262
Yes--apologies for the lack of clarity. The number of distributions refers to the number of different processing nodes used to handle the query as noted in this section of documentation: https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/massively-parallel-processing-mpp-architecture#distributions

[2020-09-23 19:17] rohitnayakmsft commented on #62892
The order of evaluation is 1) Vnet firewall rules 2) Database firewall rules and then 3) server firewall rules. I have outlined it in this flowcharthttps://docs.microsoft.com/en-us/azure/azure-sql/database/connectivity-settings#deny-public-network-access

[2020-09-23 19:20] NavtejSaini-MSFT commented on #63132
@ktremain We are checking this and will get back to you.

[2020-09-23 19:23] susanchen33 opened #63158 "ValueError: Scala command failed to produce correct result - when run `databricks-connect test`"
followed the document to set up `databricks-connect`.  however, when running `databricks-connect test`, encountered the error of `ValueError: Scala command failed to produce correct result`.

Have checked to make sure:
1. databricks-connect version aligned with DBR (used 6.4ML)
2. Java version 8
3. local python version aligned with python version on cluster (python3.7)

---
#### Document Details

[2020-09-23 19:25] Karishma-Tiwari-MSFT commented on #63152
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-23 19:29] DerekHerman-MSFT commented on #63149
@madmax209 Thanks for bringing this to our attention! I have removed the reference and submitted a PR for this. The document should be updated soon after it has completed.

[2020-09-23 19:29] #63149 closed

[2020-09-23 19:29] SnehaGunda commented on #60784
@chetansir the fix isn't yet deployed, I am checking with our team on the next deployment date.

[2020-09-23 19:29] kkern13 commented on #63092
@shashishailaj Item has been added, please give it 24 hours to update.

[2020-09-23 19:39] Ayanmullick commented on #63140
Thank you for clarifying @SnehaGunda. Will the PowerShell module be updated only once this goes GA?

[2020-09-23 19:43] SatishBoddu-MSFT commented on #63135
Hello @danewalton
Thanks for the feedback! We will update you shortly.

[2020-09-23 19:43] tfitzmac commented on #63151
@arunrab - thanks for this feedback. I'll add it to the article.

[2020-09-23 19:43] bschlechty opened #63159 "License Type Clarification"
This article references setting the license type to "Windows_Client" for server OS should this instead be "Windows_Server"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1a733f0-706b-1c09-a850-aacd0aa310a8
* Version Independent ID: 87776a6f-51ee-0044-caf0-d43945b54014
* Content: [Apply Windows license to session host

[2020-09-23 19:49] karangupta8 opened #63160 "I think the App Service IPs mentioned in this article are outdated. We had the network restrictions on the IPs mentioned which was working great until about a week ago. We are not able to access the QnA maker portal now. Have the IPs been updated?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2431b5a7-e419-a331-b766-594294849502
* Version Independent ID: 92b9bdc0-348b-14c7-0f31-b5f06b252020
* Content: [Set up a QnA Maker service - QnA Maker - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-t

[2020-09-23 19:50] #63160 closed

[2020-09-23 19:50] karangupta8 opened #63161 "QnA Maker IPs outdated?"
I think the App Service IPs mentioned in this article are outdated. We had the network restrictions on the IPs mentioned which was working great until about a week ago. We are not able to access the QnA maker portal now. Have the IPs been updated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2431b5a7-e419-a331-b766-5

[2020-09-23 19:56] itahirov opened #63162 "binary_base64encode is inserting message to queue but is not been able to read from queue trigger function."
Hello the below code of the documentation  doesn't help message to be readable by queue triggered function

This example doesn't encode the message to the format readable by queue trigger function described in this documentation
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue-trigger?tabs=python
and was throwing following error

I was able to avoid issues re

[2020-09-23 19:57] tfitzmac commented on #63151
The update should get published later today.
#please-close

[2020-09-23 19:57] #63151 closed

[2020-09-23 20:02] sandeepraichura commented on #62994
Thanks @JamesTran-MSFT.  Do you have a link to the PR to track ?

[2020-09-23 20:04] IngridAtMicrosoft commented on #63080
#please-close

[2020-09-23 20:04] #63080 closed

[2020-09-23 20:11] PeterCLu commented on #63096
@thecpshah,
For more information on the changes to the Enterprise SKU, see ["What happened to Enterprise edition"](https://docs.microsoft.com/en-us/azure/machine-learning/concept-workspace#what-happened-to-enterprise-edition)

[2020-09-23 20:14] writex commented on #63052
That's smart. Thank you!

--Robert

On Wed, Sep 23, 2020 at 2:37 PM Winston Howard <notifications@github.com>
wrote:

[2020-09-23 20:14] SomeLucky1 opened #63163 "Addtional required URLs"
The bare minimum URL list in this document do not appear to be sufficient.  The following two URLs seem to be also required:

login.live.com
autologon.microsoftazuread-sso.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a86c4b02-434c-d452-b3e5-527656234319
* Version Independent ID: 10efb9a1-21d9-584b-f007-843ec736c6

[2020-09-23 20:19] DerekHerman-MSFT commented on #63157
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-23 20:23] mmacy commented on #59501
@jmprieur OK, thanks.

@surensaluka When you say you tried but failed, what issue did you run into? [Generating a new cert](https://docs.microsoft.com/windows/msix/package/create-certificate-package-signing#use-new-selfsignedcertificate-to-create-a-certificate) looks like a bit of a lengthy process, so I'd like to avoid including the steps for that, if possible, and go with the shortest/quickest r

[2020-09-23 20:27] JamesTran-MSFT commented on #63163
@SomeLucky1
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-23 20:28] markjbrown commented on #63140
Yes, that's correct.

[2020-09-23 20:29] aahill commented on #63153
Thanks for reaching out @johanste - it looks like NVIDIA doesn't host a non localized version of this page, which is what's currently linked. This URL works: https://www.nvidia.com/en-us/data-center/tesla-t4/

I'll get the article updated soon!

[2020-09-23 20:30] aahill commented on #63153
#please-close

[2020-09-23 20:30] #63153 closed

[2020-09-23 20:30] DerekHerman-MSFT commented on #63157
It looks like two of these were opened up. Closing this one in favor of https://github.com/MicrosoftDocs/azure-docs/issues/63162

[2020-09-23 20:30] #63157 closed

[2020-09-23 20:30] DerekHerman-MSFT commented on #63162
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-23 20:31] AjayKumar-MSFT commented on #63087
@nakazax, Thanks for your contribution! Much appreciate you taking time to raise a PR on this. Your feedback has been shared with the content owner (@cephalin) for further review.

[2020-09-23 20:34] sergiogomeza commented on #35948
It worked for me thank you .

[2020-09-23 20:35] sunilprabha opened #63165 "Cannot add my work account :"
I downloaded this app and when i added my work account and scanned the qr code it says it is already used and now i dont have access to my Office 365 and Azure AD. I am the global admin .

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5699f56d-758d-e3c2-cd44-571f9364dfef
* Version Independent ID:

[2020-09-23 20:38] dxkaufman commented on #63157
Thank you for the prompt reply. Looks as if Ismayil filed his before I got around to letting him know I had filed this...

[2020-09-23 20:42] sunilprabha commented on #63165
When i scan the QR code it says is" you already used this QR code to add an account. Generate a new QR code and try.
When i sign into the outlook or azure it says the Approve sign in request
"We've sent a notification to your mobile device. Please open the Microsoft Authenticator app to respond.", I have formatted my Iphone and now dont get the msg,  How do i fix it or who do i contact.

[2020-09-23 20:45] AjayKumar-MSFT commented on #32478
@ Alejandro, I see that you have tired several ways to fix the issue, thanks for the detailed response. Apologies for inconvenience.

If you haven't done this already, enable docker logs from under App Service Logs blade and then check.

To highlight further on container start-up process - When your site starts, we run your Docker image and create a Docker container. Your app runs inside of that c

[2020-09-23 20:46] vhorne commented on #58521
Article updated
#please-close

[2020-09-23 20:47] #58521 closed

[2020-09-23 20:54] drdamour commented on #62838
yes, i had to spend quite some time to figure out what even i was talking about.  it turns out i was doing a fan out and the various status returns were stepping over each other possibly because i was making use of ContinueWith which now i'm starting to think is not allowed.

I now understand that the status isn't "comitted" until an activity is awaited/orchestrator exits so given your orchestrato

[2020-09-23 20:58] plzm opened #63169 "Docs page says Private Endpoint for Service Bus still in preview but Azure Update says GA"
[Enter feedback here]

The note at the bottom of this doc page says Private Endpoint is in Preview (page updated June 2020). However this page https://azure.microsoft.com/en-us/updates/azure-private-link-is-now-available-for-multiple-new-azure-services/ from May 14 2020 says Private Link is GA for services including Service Bus.

Could you please check if the note on the doc page is still accurate

[2020-09-23 21:04] cobrow opened #63170 "Typo in documentation for Azure Synapse Analytics"
Identified small typo in the documentation

4. You need an ADLSGEN2 account to create a workspace. The simplest choice **it** to create a new one. If you want to re-use an existing one you'll need to perform some additional configuration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96ddf06d-9dae-32b9-6f8b-8ec560ace6

[2020-09-23 21:08] wolegibj opened #63171 "Update possible issues for "error: You must be logged in to the server (Unauthorized)""
Would be helpful to list a 4th bullet that may contribute to "error: You must be logged in to the server (Unauthorized)".

Bullet number 4:
Validate your Kubectl version is at or above 1.18; az aks install-cli will install the current release.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc86c3af-f6c7-4c48-e157-54abb

[2020-09-23 21:09] jcmrva commented on #62826
I can't reproduce that exact view but that looks like a storage account named "sample-container".

After navigating into the container, it looks different.

![az storage account edit](https://user-images.githubusercontent.com/20140997/94069952-731bbd00-fdbf-11ea-8f02-55fe9003ad7d.png)

![az storage container edit](https://user-images.githubusercontent.com/20140997/94069971-77e07100-fdbf-11ea-9aae-

[2020-09-23 21:20] AjayKumar-MSFT commented on #63017
As Matthew mentioned in similar feedback:

"The version is required as is documented. While the system has accepted values without a version string, it does not behave as expected and has some undefined behavior. A restart is helpful but is not an acceptable path that would allow us to lift the restriction. We have proper rotation behavior coming which will integrate this more directly, and at tha

[2020-09-23 21:20] #63017 closed

[2020-09-23 21:21] KranthiPakala-MSFT commented on #63170
@cobrow
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-09-23 21:36] KranthiPakala-MSFT commented on #63170
@cobrow The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update.

Thank you & Stay safe

[2020-09-23 21:37] jackfrancis opened #63173 "roleAssignment still fails with "principalType": "ServicePrincipal""
Hi there,

We're trying to address the "new service principal and then immediately assign a role" outcomes described in the official ARM Template docs for role assignments. We're using ARM Templates to describe Kubernetes clusters, and in the system-assigned identity scenario we want to assign roles to the machine-derived service principal; those machines are also defined in the same ARM template,

[2020-09-23 21:38] jackfrancis commented on #63173
@rolyon I'm not sure if we're doing something wrong, or if the `"principalType": "ServicePrincipal"` configuration is not actually 100% resilient against role assignment creates happening before the new sp has been appropriately replicated

Thanks for any help!

[2020-09-23 21:40] KranthiPakala-MSFT commented on #63158
@susanchen33
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-09-23 21:45] Corbinjb opened #63174 "Misleading statement under Cause"
I work with the app services chat team and we have seen some cases where customers are led to believe that SNAT will not be used by app services communicating with services internal to Azure due to this statement under Cause:
"Azure uses source network address translation (SNAT) and a Load Balancer (not exposed to customers) to communicate with end points outside Azure in the public IP address spa

[2020-09-23 21:57] MarileeTurscak-MSFT commented on #63155
@greendx
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-23 22:04] dcaro commented on #61943
@HadarTiman sorry for the late reply.
Regarding the part of the question related to PowerShell, the response from the PowerShell cmdlet is identical to the API response. In the example above, the AuditActionGroup property has too many entries and gets truncated. If you want to have the full list of the audit action groups, you will need to run the following command:
`(Get-AzSqlServerAudit -Resourc

[2020-09-23 22:05] dpolivy opened #63176 "The apiVersion is incorrect for some resources"
The `apiVersion` property on the `"Microsoft.Network/privateDnsZones"` and `"Microsoft.Network/privateDnsZones/virtualNetworkLinks"` resources is listed as `2020-01-01` in the template. However, the latest version I see available for these resources is only `2018-09-01`. Is this correct or should the sample template be updated?

https://docs.microsoft.com/en-us/azure/templates/microsoft.network/20

[2020-09-23 22:07] #63140 closed

[2020-09-23 22:12] cainhune opened #63177 "Different App Service Plan Per Subnet"
I would like to have a single large VNet with multiple smaller subnets be able to have several different App Service Premium Plans that contain multiple apps and functions.

LOB Project 1: App Service Plan 1: App Service 1, Function App 1
LOB Project 2: App Service Plan 2: App Service 2, Function App 2

VNet A:
     Subnet A: App Service Plan 1
     Subnet B: App Service Plan 2

App service 1 and

[2020-09-23 22:15] brightneuron commented on #63131
Hi @YutongTie-MSFT, I just tried creating a new Resource Group and corresponding Personalizer Resource in a different location (East US), and it seems to have provisioned successfully.

So - it seems that there is a problem with the location I was originally trying to provision to - West Europe.

It would be great if this could be verified, and fixed.

[2020-09-23 22:24] mrozu commented on #63099
Hi, understand.
For me documentation is wrong or not clear.

https://docs.microsoft.com/pl-pl/azure/frontdoor/front-door-wildcard-domain#routing-rules
I am trying to define routing route with pattern like ```bar.foo.com/somePath/*``` and getting error:
Pattern is invalid, it must start with '/'.

[2020-09-23 22:39] cnadler-MSFT opened #63178 "Change the membership type for a group"
Based on testing, a user or group administrator cannot convert a assigned to dynamic group.  A group administrator can convert dynamic to assigned.

Here is what's the documentation states:

Sign in to the Azure AD admin center with an account that is a global administrator or a user administrator in your Azure AD organization.

Thanks,

Chris

---
#### Document Details

⚠ *Do not edit this sectio

[2020-09-23 22:42] cainhune commented on #63177
Quick update. I created a function app assigned it to the same app service plan and VNet integrated it with the same subnet I was trying with previously using an App Service. I deleted the App Service and recreated it assigned to the same plan as the function. This time VNet integration worked. So something seems off between the app service and function apps. With function apps being less buggy

[2020-09-23 22:50] dcbrown16 commented on #63080
Thanks!

[2020-09-23 23:04] twooley commented on #62895
#reassign: @normesta

[2020-09-23 23:06] julienmichel opened #63180 "Wrong property name in the description of the full-fidelity schema representation"
In the following text, the property streetName should be replaced by streetNo.
"The leaf property streetName within the nested object address will be represented in the analytical store schema as a column address.object.streetName.int32. The datatype is added as a suffix to the column. This way, if another document is added to the transactional store where the value of leaf property streetNo is "1

[2020-09-23 23:10] rjmax opened #63181 "Revisit use of abbreviations in the document"
Passing along feedback from a customer.  We may not want to use the acrynym PNSes in our documentation, as it could be viewed as inappropriate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4be410ed-6f1a-639c-aa40-39937e284d97
* Version Independent ID: b452b1ee-a46c-9896-bfac-da792b94c2b7
* Content: [What is Azure Not

[2020-09-23 23:12] ChristianMontoya commented on #63159
@bschlechty : Great question, but actually no, we would still recommend using "Windows_Client", even if you are running a Windows Server machine as your WVD session host VMs. This is because the reduced charge for all WVD session host VMs (Windows Server or Windows Client) is provided by the Windows Virtual Desktop licensing terms, which is based on Windows client licensing. The VM still recognize

[2020-09-23 23:13] ChristianMontoya commented on #63159
#please-close

[2020-09-23 23:13] #63159 closed

[2020-09-23 23:17] SatishBoddu-MSFT commented on #63082
Hello @PeterTurcan
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2020-09-23 23:19] KrishnaG-MSFT commented on #63145
@tfitzmac Thanks for the quick response. :+1:

[2020-09-23 23:21] KrishnaG-MSFT commented on #63151
@tfitzmac Thanks for the quick response. :+1:

[2020-09-23 23:22] KrishnaG-MSFT commented on #63130
@MGoedtel Thanks for the super quick response. :+1:

[2020-09-23 23:28] KrishnaG-MSFT commented on #63136
@dcurwin Thanks for the quick response.
@david-stewart-palapanou Thanks for your comment! We will review and provide an update as appropriate.
@pvrk - FYI

[2020-09-23 23:29] WinstonHoward-MSFT commented on #63171
Thanks for the feedback, I've assigned this to the doc author to take a look.

[2020-09-23 23:34] sethmanheim commented on #63181
@rjmax That never occurred to me, but of course I can change it. But why just "PNSes" and not all occurrences of PNS? Apple uses APNs (lowercase s, Apple Push Notification service) as an official acronym. I can check with our terminology gurus for guidance.

[2020-09-23 23:35] JamesTran-MSFT commented on #62994
@sandeepraichura
Since you're internal, I sent you an email with the info.

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue.

[2020-09-23 23:36] ChaitanyaNaykodi-MSFT commented on #63156
Hello @nvanloen, Thank you for your feedback! We will review and update as appropriate.

[2020-09-23 23:38] ChaitanyaNaykodi-MSFT commented on #63169
Hello @axisc, Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-09-23 23:40] ChaitanyaNaykodi-MSFT commented on #63128
Hello @zaalion,  Thank you for your feedback! We will review and update as appropriate.

[2020-09-23 23:43] ChaitanyaNaykodi-MSFT commented on #63121
Hello @mganeshphani, Thank you for your question! We will review and update as appropriate.

[2020-09-23 23:52] ChaitanyaNaykodi-MSFT commented on #63118
Hello @MortezaDamavandpeyma-TomTom, Thank you for your feedback! We will review and update as appropriate.

[2020-09-23 23:54] MonikaReddy-MSFT commented on #63180
@julienmichel -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-09-23 23:59] NavtejSaini-MSFT commented on #62468
@zarkoc Please let us know if you need any further help regarding this.

[2020-09-24 00:03] simonzhaoms commented on #62449
* When using 1 backslash

[code]

  the ACI command was

[code]

* When using 3 backslashes

[code]

  the ACI command was

[code]

[2020-09-24 00:07] kromerm commented on #57183
#Please-close

[2020-09-24 00:07] #57183 closed

[2020-09-24 00:07] NavtejSaini-MSFT commented on #62892
Thank you @rohitnayakmsft for the clarification. @VitalyMCT Please let us know if you have an other question regarding this.

[2020-09-24 00:08] NavtejSaini-MSFT commented on #62409
@hoksource We are going ahead and closing this for now. If you have any other question, Please get back to us.

[2020-09-24 00:08] #62409 closed

[2020-09-24 00:15] VitalyMCT commented on #62892
Yes, I am aware of this functionality. My comment is specifically about the arrow highlighted in the image at the beginning of this issue. I think it's erroneous and should be removed.

[2020-09-24 00:20] aminsaied commented on #63134
@thecpshah Can you please share the error message? It may be that you can provide the `auth` argument to the create method: see [this documentation](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.workspace.workspace?view=azure-ml-py#create-name--auth-none--subscription-id-none--resource-group-none--location-none--create-resource-group-true--sku--basic---tags-none--friendly-n

[2020-09-24 00:22] brianpepino commented on #63024
Thank you for your response.

In a nutshell, the solution is to contact the Admin of said Organization to enable the guest account of my user so that my user can leave the organization. Is this correct?

Thanks.

[2020-09-24 00:23] NavtejSaini-MSFT commented on #63132
@ktremain Thanks for the catch. We have edited the document with Pull Request - https://github.com/MicrosoftDocs/azure-docs-pr/pull/131119
Once approved the changes will be live in 24 hours.

[2020-09-24 00:27] Michichael opened #63182 "Azure AD Sync Group Writeback Powershell Broken"
Bug in AdSyncConfiguration.psm1.

Per https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-configure-ad-ds-connector-account#permissions-for-group-writeback and https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-adsyncconfig#set-adsyncunifiedgroupwritebackpermissions and the module itself:

" The Set-ADSyncUnifiedGroupWritebackPermissions Func

[2020-09-24 00:35] NavtejSaini-MSFT commented on #62892
@VitalyMCT If you check this comment in document section - https://docs.microsoft.com/en-us/azure/azure-sql/database/firewall-configure#server-level-versus-database-level-ip-firewall-rules

_Should users of one database be fully isolated from another database?
If yes, use database-level IP firewall rules to grant access. This method avoids using server-level IP firewall rules, which permit access

[2020-09-24 00:40] VitalyMCT commented on #62892
At the top of the diagram there is a check:

Following the workflow, the result of the check is "no". My diagram extract is for that specific diagram path.

Since the database-level firewall for Database 1 denied access the server-level firewall would not override that. Thus Database 1 would be inaccessible via this path. Correct?

[2020-09-24 00:58] Michichael commented on #63182
It's worth noting that even in that case, the permission sets neglect the root OU create permissions.

[2020-09-24 01:09] juyamagu opened #63184 "Include behavior about NSG flow logs into NAT Gateway limitations"
For outbound traffics from VMs associated with NAT Gateway, NSG Flow logs won't show the correct destination public IP in the logs. While this is due to the internal design of NAT Gateway and it's the expected behavior, users may be confused by observing un unfamiliar IP address.

I suggest that the limitations section of NAT Gateway includes a sentence about this behavior, like the following:

*

[2020-09-24 01:09] JamesTran-MSFT commented on #63126
@robermud
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-24 01:12] TravisCragg-MSFT commented on #63176
@dpolivy Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-09-24 01:14] NavtejSaini-MSFT commented on #62892
@VitalyMCT No, if the IP is in the range of Server rules and not in DB rules, it will still have access to whole server and all DB's. As @rohitnayakmsft said in this comment, the diagram here  - https://docs.microsoft.com/en-us/azure/azure-sql/database/connectivity-settings#deny-public-network-access explains this better with purple arrow for server rule check going to whole server. Hence it will

[2020-09-24 01:20] opticyclic opened #63185 "What Is The Purpose Of Scopes And Grants?"
It's not clear what the purpose of scopes and grants are and what they even mean.
Can you update the docs to explain in more detail.

Currently the page says:

Then

This scope creation is just plain text so I don't understand the purpose of it.
How is this different from the next one that says:

How is one defining read access and the is defining write access?
It is just text that says "read" and

[2020-09-24 01:25] sujitdmello commented on #62700
/subscriptions/2f41b700-311a-46b7-88b1-4a3f5c657c90/resourceGroups/springcloud/providers/Microsoft.AppPlatform/Spring/piggytest/apps/account-service/deployments/default

[2020-09-24 02:05] yungezz commented on #61943
hi @ChenTanyi could you pls help to look at equivalent Java API for above SQL audit?
For the REST API:
https://docs.microsoft.com/en-us/rest/api/sql/server%20auditing%20settings/get

For the PowerShell:
https://docs.microsoft.com/en-us/powershell/module/az.sql/get-azsqlserveraudit?view=azps-4.5.0

[2020-09-24 02:07] RonnieQuan opened #63188 "How Do We Submit Policy Exemption Creation"
Hi,

The document defines the json structure for exemption object, but how do we submit the creation? from portal there is no plus sign for creation
![image](https://user-images.githubusercontent.com/25850020/94092513-00bfd280-fde9-11ea-9a32-5c50df4dd6ca.png)

az cli does not sub command for exemption either.

az policy --help

Group
    az policy : Manage resource policies.

Subgroups:
    assign

[2020-09-24 02:18] NavtejSaini-MSFT commented on #63075
@yegu-ms Please confirm if we can remove the line from this document.

[2020-09-24 02:51] ram-msft commented on #63096
@thecpshah We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-24 02:51] #63096 closed

[2020-09-24 04:05] batizar commented on #52706
Any updates on this? How can you specify the batch size for trigger? Thanks.

[2020-09-24 04:11] #59643 closed

[2020-09-24 04:18] RyanHill-MSFT commented on #62969
@MartinNr5 I have a pending PR that revises the tutorial with the latest Visual Studio 2019 workflows. Thanks for your feedback.

[2020-09-24 04:18] #62969 closed

[2020-09-24 04:22] SamaraSoucy-MSFT commented on #63137
Thanks for the feedback! We will review and get back to you shortly.

[2020-09-24 04:32] SwathiDhanwada-MSFT commented on #63188
@RonnieQuan Thanks for your comment. We will review the issue and get back to you shortly.

[2020-09-24 04:33] RyanHill-MSFT commented on #62752
@JustinUrbaniak adjust your application setting to include `ASPNETCORE_ENVIRONMENT` set to _Development_. This change your Error.cshtml to YSOD which will provide a stack trace. That provide an idea of where the error lies. The problem could be caused by an improper configuration with the Azure SQL Database, improper configuration with the app service connecting to the Azure SQL Database, or somet

[2020-09-24 04:33] #62752 closed

[2020-09-24 04:34] n-irwin opened #63192 "Example has error?"
Validators throw an error because the example is missing the `type`

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26d9d7e2-b16a-0b73-bb1a-f08320f7ccc9
* Version Independent ID: 418878f4-94b0-51b0-943d-5385d46114ee
* Content: [Use Azure Key Vault in templates - Azure Resource Manager](https://docs.microsoft.com

[2020-09-24 04:47] TimLovellSmith opened #63193 "Clarify: are fileUris allowed to be in either protectedSettings OR settings?"
I would just like some further clarification of this.

It looks like **fileUris** can only be in the **settings** property bag, when I read the examples and explanations near the top of the doc.

But - In the **managedIdentity** part of the doc, the **fileUris** appears to be included next to **managedIdentity** which *can only* be in the **protectedSettings** property bag today.

Am I right in gu

[2020-09-24 04:48] akashperfect opened #63194 "How is cosmos keys rotation taken care while using managed identity?"
As part of this code
`CosmosClient client = new CosmosClient(cosmosDbEndpoint, keys.primaryMasterKey);`

Once we create the cosmos client and after that the primaryMasterKey gets rotated, but the cosmos client in the service is still running. So will the new requests made using the client fail?
How to take care of that scenario?

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2020-09-24 04:57] ChaitanyaNaykodi-MSFT commented on #34702
Hello @connor4312, I am sorry for the delay in resolving this issue. I have made the PR which will make the suggested changes. Thank you once again for the feedback provided. I am now proceeding to close this issue, the changes will be merged after the doc author's approval.

[2020-09-24 04:57] #34702 closed

[2020-09-24 05:01] shashishailaj commented on #63185
@opticyclic Thank you for your feedback . We will investigate and update the thread.

[2020-09-24 05:02] shashishailaj commented on #63182
@Michichael Thank you for your feedback . We will investigate and update the thread.

[2020-09-24 05:03] SwathiDhanwada-MSFT commented on #63040
@tanmayjog Did you get chance to try out the suggestion mentioned in my previous comment?  Let me know if you have any queries regarding it.

[2020-09-24 05:06] shashishailaj commented on #63178
@cnadler-MSFT Thank you for your feedback . We will investigate and update the thread.

[2020-09-24 05:06] rtanase commented on #55354
@RutujaWanjari , @protzetter how did you create your local conda environments?
Have you tried following the steps described [here ](https://github.com/Azure/MachineLearningNotebooks/tree/master/how-to-use-azureml/automated-machine-learning#3-setup-a-new-conda-environment)?

[2020-09-24 05:11] SwathiDhanwada-MSFT commented on #63173
@jackfrancis Thanks for your comment. We will review the issue and get back to you shortly.

[2020-09-24 05:20] AnuragSharma-MSFT commented on #63194
@akashperfect Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-09-24 05:23] razvansalajan opened #63195 "Initialize the ACSCallAgent: createCallAgent condition reversed"
In the iOS quick-start the code for creating the call agent has the condition for the result of the creation reversed:
[code]
Instead of ``if error != nil {`` it should be ``if error == nil {``

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45723fb2-21e8-8125-5c0d-1a5fba357fe3
* Version Independent ID: f8208916-5b63-13

[2020-09-24 05:35] shashishailaj commented on #63165
@sunilprabha Thank you for your query . do you remember if you had setup recovery email address i.e. your icloud account . There is a backup facility which is provided.

![image](https://user-images.githubusercontent.com/532022/94103088-529c4300-fe51-11ea-8f5d-c93baa52ab19.png)

If you had set it up , you can use the same to [restore the old information on the device](https://docs.microsoft.com/en

[2020-09-24 05:41] AmitavaHazra commented on #62669
@curtand , thanks for clarification.
@MonikaReddy-MSFT  , Thanks for nice co-ordination.

[2020-09-24 05:44] ondrejspilkaABB opened #63196 "Visualization of development process"
Would be good to visualise dev process like this:
![image](https://user-images.githubusercontent.com/69234713/94105513-badf2a80-fe39-11ea-8191-f7d82552ea17.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a3f2f86-40bf-19f2-4f56-9dc71ed47fa2
* Version Independent ID: 20e8912c-4a10-68b9-c46a-e945a62421d6
* Content: [

[2020-09-24 05:44] shashishailaj commented on #63092
Thank you @kkern13 for your assistance.

@EDEKA-LUNAR We have added the information . It must be available globally in teh next release convergence of the content on the portal within next 24 hours. We will now close this issue. In case of any further query , please tag any of us to your reply and we will be happy to help . Alternatively you can always open a new issue if it is related to somethin

[2020-09-24 05:44] #63092 closed

[2020-09-24 05:47] shashishailaj commented on #63117
@iainfoulds Thank you for your feedback .

@hphuhtin Hope this provides the clarification needed . We understand the names are similar but within the sentences the contexts for on-prem ADDS and Azure AD domain services are clear as far as we think . We will now close this issue. Should you have any further query , feel free to tag any of us to your reply and we will be happy to help .

Thank you.

[2020-09-24 05:50] AjayKumar-MSFT commented on #63174
@Corbinjb,  Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-09-24 05:50] shashishailaj commented on #63003
@kilasuit Could you please update the details of your requirement as requested by @jlichwa above ? Please let us know if the instructions provided above were helpful and we will proceed with this issue accordingly.

[2020-09-24 05:51] sunilprabha commented on #63165
Hello
Unfortunately ,I don’t have my iPhone backed up. What other suggestions do you have for me.  Alli have is the user name and password and the registered phone. Can someone send me sms verification of call form MS to verify. Unfortunate I cannot find a contact phone number to call also.
Regards
Sunil Prabha
From: ShashiShailaj-MSFT <notifications@github.com>
Sent: Thursday, September 24, 2020

[2020-09-24 05:53] ram-msft commented on #63161
@karangupta8 Thanks for the question. We are investigating the issue and will update you shortly.

[2020-09-24 05:55] AjayKumar-MSFT commented on #63177
@cainhune, Thanks for the feedback and following-up with more update. We are taking a look into this and will get back to you soon.

[2020-09-24 05:58] AjayKumar-MSFT commented on #63195
@razvansalajan, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-09-24 06:02] rido-min commented on #63135
@danewalton

The intent of the doc is not to describe the payload required from the device to read or update the properties, instead it's describing how the properties, desired and reported, are exposed in the Hub following the PnP convention.

If you look at the DeviceTwin REST API you will get the `reported` and `desired` JSON containers.

Eg with the node service SDK

[code]
the properties will

[2020-09-24 06:05] ChenTanyi commented on #61943
@HadarTiman Which Java SDK do you use? Is it https://mvnrepository.com/artifact/com.microsoft.azure/azure?

If so, you could use the following code getting the audit setting equivalent https://docs.microsoft.com/en-us/rest/api/sql/server%20auditing%20settings/get
[code]

[2020-09-24 06:07] psmanhas commented on #63193
@TimLovellSmith Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-09-24 06:08] psmanhas commented on #63193
@bobbytreed Can you please check and add your comments on this doc update request as applicable

[2020-09-24 06:23] dcurwin commented on #63108
#reassign:rayne-wiselman

[2020-09-24 06:30] pvrk commented on #63136
Working with CLI team on this.

[2020-09-24 06:33] #63170 closed

[2020-09-24 06:34] jiasli commented on #63136
This is weird, `--query id` will print the ID in JSON format, thus surrounded by double quotes `"`:

[code]

Removing `| tr -d '"'` will actually cause the command to fail:

[code]

`| tr -d '"'` is for stripping the double quotes:

[code]

What shell are you using? Could you share the output when your run the command inside `$()`?

[code]

BTW, Azure CLI has its own way to strip double quotes wit

[2020-09-24 06:47] RideMo opened #63198 "Incorrect reference? content definition reference is not in any base file: api.signuporsigninsam"
Technical profile is missing:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a49122f8-0ba8-08f1-c8cf-52634dfd0d0e
* Version Independent ID: ea718f8a-e004-47b5-2feb-1eade3835301
* Content: [Conditional Access technical profiles in custom policies - Azure AD B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2

[2020-09-24 07:13] MayankBargali-MSFT commented on #62927
@SeaDude When you run the function [locally](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=linux%2Cpython%2Cbash#start) using the command func start command. All the logs will be stream in the terminal where you are running your local function as mentioned [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=linux%2Cpython%2Cbash#

[2020-09-24 07:24] RohitMungi-MSFT commented on #63160
@karangupta8 I believe there is another [issue ](https://github.com/MicrosoftDocs/azure-docs/issues/63161)raised for the same question. I have labeled this one as duplicate so updates can be seen in the referenced issue. Thanks!!

[2020-09-24 07:33] amanmcse commented on #63185
@opticyclic The scope values e.g. demo.read and demo.write are passed within the Access Token to the Applications/API. The Applications/API code should have an Authorization logic to perform authorization based on the value being passed in the scope claim of the access token. So if user's token includes demo.read scope, application/api code should be configured to grant him read-only permissions.

[2020-09-24 07:34] PatrikHanssonIntersolia commented on #62952
I followed the portal portion of the guide yesterday and it worked for me as well.

[2020-09-24 07:37] SwathiDhanwada-MSFT commented on #63188
@RonnieQuan In order to create an exemption , you can do it by traversing to Compliance Section or Assignment Section.

_Snapshot of selecting Policy Initiative from Compliance Section for creating exemption:_

![image](https://user-images.githubusercontent.com/48976275/94113648-d875b980-fe64-11ea-8ae0-bd45cfcde6f5.png)

_Snapshot of selecting Assignment from Assignments Section for creating exemp

[2020-09-24 07:41] SwathiDhanwada-MSFT commented on #63192
@n-irwin Thanks for your comment. We will review the issue and get back to you shortly.

[2020-09-24 07:46] psmanhas commented on #63026
@avirishuv Can you please check and add your comments on this doc update request as applicable

[2020-09-24 07:47] psmanhas commented on #63016
@mracfa Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-09-24 07:47] #63016 closed

[2020-09-24 08:01] kovesoz97 commented on #63170
Hi

[2020-09-24 08:12] mracfa commented on #63016
Hi @psmanhas , i can still see the same typo. Were the changes already applied?

Please check below:

az netappfiles volume create \
    --resource-group $RESOURCE_GROUP \
    --location $LOCATION \
    --account-name $ANF_ACCOUNT_NAME \
    --pool-name $POOL_NAME \
    --name "myvol1" \
    --service-level $SERVICE_LEVEL \
    --vnet $VNET_ID \
    --subnet $SUBNET_ID \
    --usage-threshold $VOL

[2020-09-24 08:14] GitaraniSharma-MSFT commented on #63184
@juyamagu , thank you for your suggestion. We have assigned this to the content owner/author for review.
@asudbring , could you please review the suggestion and provide your inputs?

[2020-09-24 08:15] mfabiani-av commented on #63152
Follow up: I then tried to restart the cluster, and the operation failed. Now aks show gives me:
[code]

If I try to re-run the aks start command, I get:
[code]

NOTE: this is a PRIVATE cluster

[2020-09-24 08:18] julienmichel commented on #63180
Hi Monika,
yes this is related to the docs : https://docs.microsoft.com/en-us/azure/cosmos-db/analytical-store-introduction

[2020-09-24 08:20] psmanhas commented on #63016
@mracfa  Here is the link for PR raised https://github.com/MicrosoftDocs/azure-docs-pr/pull/130699.

There are some internal events which might cause a slight delay in PR merge so you might expect it by End of week or so.

Hope it helps!!!

Do let me know in case of any more queries.

[2020-09-24 08:24] yashi-cloud opened #63200 "[Request] Adding tutorial about how to unmount pvc disk from pod"
[Enter feedback here]
This s just a feedback to this document.
https://docs.microsoft.com/en-us/azure/aks/azure-disks-dynamic-pv
Could you consider adding tutorial about how to unmount pvc disk from pod?
It took effort to find that deleting pod was the solution to unmount pvc disk from pod.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-09-24 08:47] tomidix commented on #63125
Fine, but this also creates the need of having some kind of portal / part for agents which are all anyway using Teams in everyday work. Having a possibility for agents to use Teams to communicate with customers, to set the conversation regarding on a d365 case, to have a possibility that any of the o365 group member can answer to a communication (while others can monitor) would bring this to a who

[2020-09-24 08:47] shashishailaj commented on #63165
@sunilprabha If you have your username and password , you could follow the second part of my instructions to solve this issue . We do not have a system to send notification on devices from our end manually. All this process is designed to provide utmost account security. The request for notification has to be generated by the user and they can receive it only on devices they have setup through the

[2020-09-24 08:53] BobbyCGD commented on #19456
Gentlemen, I've gathered you here today to plead for your vote! -> https://developercommunity.visualstudio.com/content/problem/1189404/azuredevops-dont-considerate-as-microsoft-services.html

This needs to be fixed ASAP, it's an ongoing issue for the last two years... share, tweet, help fix it and get it on Microsoft's radar 👍

@renattomachado @mimckitt @AdamS-MSFT @XiaoningLiu @tabeth @sesispla @

[2020-09-24 08:56] mracfa commented on #63016
Ok, thanks for clarifying.

[2020-09-24 09:05] JustinUrbaniak commented on #62752
Thank you very much. I did fix my error.

Thank You,
Justin Urbaniak

[2020-09-24 09:15] thecpshah commented on #63134
I tried to use `tenant-id` in authentication and still the same problem.

My code is below:

[code]

The error I get is:

`You are currently logged-in to XYZ tenant. You don't have access to ABC subscription, please check if it is in this tenant.
All the subscriptions that you have access to in this tenant are =`

[2020-09-24 09:15] julienmichel opened #63201 "Auto sync frequency"
Hi,
in this page : https://docs.microsoft.com/en-us/azure/cosmos-db/analytical-store-introduction#auto-sync, we talk about a sync every 5 min.
in the FAQ page : https://docs.microsoft.com/en-us/azure/cosmos-db/synapse-link-frequently-asked-questions#is-the-autosync-replication-from-transactional-store-to-the-analytical-store-asynchronous-or-synchronous-and-what-are-the-latencies, we talk about a l

[2020-09-24 09:20] AndreV84 commented on #14254
any update on arm support?
ref: https://forums.developer.nvidia.com/t/install-microsoft-odbc-driver-for-sql-server-linux-at-jetson-nano-problem/121784/5

[2020-09-24 09:35] ram-msft commented on #62929
@OneConsutlantsDemo Real time would expire after about a minute, so anything longer than that required batch deployment. In the batch world, invoking a service would queue up the inference process which was supposed to publish results to blob once completed.

inference is actually both training and inference, and that’s why it takes minutes to finish.

This is the typical setting of an[ AML pipeli

[2020-09-24 09:40] thecpshah commented on #63134
Now, I tried to follow `tutorial-1st-experiment-sdk-train.ipynb` on `compute instance`.

I modified the code as below:

[code]
This gives a code which I need to enter to sign in and select my company account. The login works and the code below detects the workspace I have created.

[code]

However, I cannot find the config file when I cloned the `tutorial repo`.

[2020-09-24 09:44] thecpshah commented on #63134
So the problem is as follows:

1. On my local machine, I have installed `pip install azureml-sdk`. By default, it picks up `tenant-ID = 456` and looks for `subscription = ABC`. When I explicitly declare the `tenant-ID = 123`, it still detects `tenant-ID = 456`.

2. On cloud compute instance, the same problem but when I explicitly declare `tenant-ID = 123`, it works.

Hope this helps to identify th

[2020-09-24 09:45] diegodct opened #63202 "To fix"
There is a part in the article that says:
"stop and deallocate the VM, and then restart it" --> If the VM is deallocated, it cannot be restarted. It should be started instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 730f8398-bf64-be5c-0574-19f8c991d20d
* Version Independent ID: 4d33564d-fa8a-9a98-ad31-5779b0824e

[2020-09-24 09:49] SumanthMarigowda-MSFT commented on #63202
@diegodct Thanks for the question! We are investigating and will update you shortly.

[2020-09-24 09:52] arkiaconsulting commented on #19456
@BobbyCGD Voted

As a workaround, here is a task I use...
[code]

[2020-09-24 10:01] kailasandhale commented on #60167
@KrishnaG-MSFT  Could you please check this? PR is pending since last more than a month.

[2020-09-24 10:05] shashishailaj commented on #63198
@RideMo Thank you for pointing this out . We will investigate and update the thread.

[2020-09-24 10:22] akingscote opened #63204 "Provide output of a valid /etc/krb5.conf file"
Please show an example of a working `/etc/krb5.conf` file.
This page dosent show much information about one of the most critical parts of the setup.

I am trying to get this working on an automated machine, so i have set `export DEBIAN_FRONTEND=noninteractive` which means i dont get the `krb5.conf` setup prompt.

Please document what the dns name of the domain controllers will be, or at least how

[2020-09-24 10:25] shashishailaj commented on #63200
@yashi-cloud Thank you for your request . We will review and engage the content team for the same .

[2020-09-24 10:35] Pavaningithub opened #63206 "Mandatory parameters for "az spring-cloud" command is not specified"
mandatory parameters like specifying resource group and springcloud service name are not mentioned in the "az spring-cloud" cli example commands.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f70eda7-ccbc-7e8b-c7d0-553891b56a3a
* Version Independent ID: 1d01be31-07d6-ab1d-0bd5-24769296522e
* Content: [Tutorial - Map

[2020-09-24 10:49] PramodValavala-MSFT commented on #62925
@TommyQuality Just following up here... Hope my previous comment clears things up.

[2020-09-24 10:52] binubk opened #63207 "Wrong configuration in the document"
[The section Configure a JWT validation policy to pre-authorize requests has the wrong configuration. This config never worked.
Look at Microsoft ticket 120092323000312  for more info. We ended up configuring the following section with the correct audience from the actual output. Please change {Application ID of backend-app} with the correct detail.

<claim name="aud">
            <value>{Applicat

[2020-09-24 10:53] AnuragSharma-MSFT commented on #62954
@MNF The PR changes would be available in few days. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-09-24 10:53] #62954 closed

[2020-09-24 10:56] FlorianBorn71 commented on #62963
Hi, we have moved the "ports" section into the "network" chapter, including new information:
https://docs.microsoft.com/en-us/azure/remote-rendering/overview/system-requirements#network-ports

Cheers,
Florian

[2020-09-24 10:59] FlorianBorn71 commented on #62963
#please-close

[2020-09-24 10:59] #62963 closed

[2020-09-24 11:01] darshangithub commented on #63015
Hi,

Thank you for your prompt response.

Can you guide me or share the link on how to make Azure AD federated. As I
can see my directory "Federation" value is "disabled". If I enable it will
my problem be solved?. As of now I got the links which mentions how to
federate enterprise app with Azure AD.

On Tue, 22 Sep 2020, 2:19 pm souravmishra-msft, <notifications@github.com>
wrote: