[2019-11-14 18:24] CarlRabeler commented on #41298
@rothja the networking tab is related to the new private endpoint feature for SQL Database, that I believe @vanMSFT is working on. Van, can you confirm and review this issue?

[2019-11-14 18:25] MicahMcKittrick-MSFT commented on #42666
Thanks @mattchr ! That is what I was figuring but didn't want to assume :)

@thisisbrianstewart so at this time, no gen2 however stay tuned and this will shortly be available :) Once it is the docs will be updated to reflect the changes as well.

[2019-11-14 18:25] #42666 closed

[2019-11-14 18:26] jublair commented on #42792
Thanks @DixitArora-MSFT! Do you happen to already know the correct placement of EnableDependencyTracking so I can add it to my configuration?

[2019-11-14 18:30] KumudD commented on #34708
@TravisCragg-MSFT Please assign this issue to @damendo . Thanks!

[2019-11-14 18:30] Alberto-Vega-MSFT commented on #42795
@choonyip Can you please open an issue on the SDK repository https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues

[2019-11-14 18:30] JohnLBevan opened #42843 "New-PSDrive gives error "The user name or password is incorrect""
Running the sample code gave me error "The user name or password is incorrect".
By replacing `New-PSDrive` with `New-SmbMapping`, I was able to get things to work.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c12f1ea9-6446-be01-22fe-885fb945d22c
* Version Independent ID: 634f8ace-1a8c-6811-627b-fdfbdd1942a3
*

[2019-11-14 18:31] KumudD commented on #39345
@SubhashVasarapu-MSFT  Please assign this issue to @damendo . Thanks!

[2019-11-14 18:32] KumudD commented on #40553
@msrini-MSFT Please assign this issue to @damendo . Thanks!

[2019-11-14 18:32] KumudD commented on #40417
@TravisCragg-MSFT Please assign this issue to @damendo . Thanks!

[2019-11-14 18:33] KumudD commented on #37576
This issue is fixed.
#please-close

[2019-11-14 18:33] #37576 closed

[2019-11-14 18:34] KumudD commented on #25319
@TravisCragg-MSFT Please assign this issue to @damendo . Thanks!

[2019-11-14 18:35] KumudD commented on #30097
@msrini-MSFT  Please assign this issue to @damendo . Thanks!

[2019-11-14 18:35] YutongTie-MSFT commented on #42840
@v-kydela
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-14 18:35] KumudD commented on #34707
@TravisCragg-MSFT Please assign this issue to @damendo . Thanks!

[2019-11-14 18:38] KumudD commented on #37221
@Adam-Smith-MSFT Please assign this issue to @teresayao . Thanks!

[2019-11-14 18:50] erhopf commented on #42209
@upsilondynamics - I'm glad that you were able to figure this out. I'm going to close this issue and create a work item to investigate creating an article to address this issue. Thanks again!

#please-close

[2019-11-14 18:50] #42209 closed

[2019-11-14 18:51] mpchen opened #42844 "Can I use the same managed identity for different policy assignments?"
I have quite a few "deployifnotexist" policies. Can I use a single managed identity for all of them? What happens when I group them into an initiative?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99d433a1-4e81-e226-e835-639daa90dab4
* Version Independent ID: ab3aa1ad-f438-e2a1-5556-9f9b6269ba76
* Content: [Remediate

[2019-11-14 18:55] vavane-ms opened #42845 "Cancellation?"
I see that `OrchestrationRuntimeStatus` actually has a `Canceled` state. When is it set? I see no cancellation tokens in the API. Also, what is the recommended way to cancel an ongoing orchestration now? Signal an entity and use it as a cancellation token?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c17b738-aa32-4c

[2019-11-14 18:56] aleazofeifam opened #42846 "What is the correct way to understand the count when the same word is mentioned several times."
If I include the word "Contoso" in the banned list but then a user in my organization enter a password like this "ContosoContosoContosoContosoContosoContoso". Will that count as 1 point or as 5 points?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c58c903b-778e-e1d9-31c3-321a6fd0050f
* Version Independent ID: 9ee47301

[2019-11-14 18:56] badbob001 opened #42847 "Azure IaaS backup still limited to 16 data disks?"
I've heard that support for more disks will be rolled out at the end of Oct 2019, so maybe the 16 data disk limit is no longer valid?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f33a676-6bb6-949f-3bf4-bb0f9a8297d0
* Version Independent ID: 9a31c4c4-f191-1298-cdbf-be70e59f4578
* Content: [Azure Backup support matrix

[2019-11-14 19:08] alexdlevin commented on #28157
Hey ashortdev,

You want to ensure that in Step 2 of tutorials you create a service principal role.  When you create this role, it will spit some information out at you.  Follow what it says as the information you must gather as you will then needs these values to create the host pool in the next tutorial after this one.
https://docs.microsoft.com/en-us/azure/virtual-desktop/create-service-princip

[2019-11-14 19:11] falmada commented on #42834
Thanks @djpmsft, i did the schedule for another day and then found out it run twice (not running the flow immediately but off hours). Re-reading the mentioned text on the article, it does give an impression that it will run only after the recurrence, not on start time, might want to clarify there. Thanks!

[2019-11-14 19:11] dcurwin commented on #42847
#reassign:sogup

[2019-11-14 19:12] souravmishra-msft commented on #42803
@nnamedieh, "**Z**" stands to "**Zulu**", which is the **UTC/GMT** time. Azure displays the time in UTC/GMT and hence it appends "**Z**" at the end of the timestamp.
Whenever you are searching for any logs or any other metrics using powershell based on the time for azure, at that point of time you can specify the timestamp in UTC/GMT and append "**Z**" at the end of the timestamp

[2019-11-14 19:12] rolyon commented on #42653
Hi @maweeras-msft
I'll schedule some time to discuss.
thanks

[2019-11-14 19:19] JimacoMS3 commented on #33950
@nupur0308 Have you added the Azure IoT Extension for Azure CLI (azure-cli-iot-ext) to your environment as specified in the [Prerequisites](https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-send-telemetry-node#prerequisites)?

If so, you should be able to run the following command and see similar results:

[code]

[2019-11-14 19:19] gdv820 commented on #17648
@cephalin I'm using the App service Deploy task in the release pipeline. Tried using az cli too with no luck. On a side note, I engaged microsoft's support for this and they've opened an internal ticket since there **might** be something wrong with their app service code.

@issacnitin Hey, where exactly did you enter "venv --copies" ? I am using Flask too.

[2019-11-14 19:25] fume commented on #42351
The option to enable is "Application Logging" under App Service Logs

[2019-11-14 19:26] SaurabhSharma-MSFT commented on #42829
@JustenCs Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-14 19:27] SaurabhSharma-MSFT commented on #42826
@cubicTrinket Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-11-14 19:27] ntachandley commented on #39503
Is this verified?

[2019-11-14 19:28] cawrites commented on #40458
# reassign @MarkusVi

[2019-11-14 19:28] SaurabhSharma-MSFT commented on #42825
@mghafoori Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-14 19:32] djmeck opened #42848 "Metric Alerts supported by Microsoft.Web/sites (excluding functions)"
The list of supported metrics for Microsoft.Web/sites includes "Average Response Time". The Azure portal allows a user to create an alert on a metric called "Response Time", but this metric is not listed on this page. Is this a documentation issue, or is there some reason not to adopt an alert on this metric?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-11-14 19:32] FrankHu-MSFT commented on #42747
@eschrader Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please file a new git issue with a reference to this one if you have anymore concerns. Thanks

[2019-11-14 19:38] Gamecock opened #42849 "Difficulty accessing docker when following tutorial"
One of our developers in Taiwan  had a issue:  When I practice Azure IoT Edge topic with VSCode, received an error message
https://us-prod.asyncgw.teams.microsoft.com/v1/objects/0-cus-d5-16efcd1766f83ffcbe02468ade2524fc/views/imgo

ERROR: Could not connect to Docker daemon. Please make sure Docker is running : Install pypiwin32 package to enable npipe:// support

I checked Docker container desktop

[2019-11-14 19:44] BalakumarVasudevan opened #42850 "Cosmos RUs through the REST API?"
I have been trying to get the Cosmos DB info for our subscriptions using the following query but there's no information about the provisioned RUs

GET https://management.azure.com/subscriptions/{subscriptionId}/resources?api-version=2019-08-01
Filter: resourceType eq 'Microsoft.DocumentDB/databaseAccounts'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2019-11-14 19:44] ganga1980 commented on #41244
@iharrington,   I am from container insights team. Can you please provide more details what is the error you are hitting?   Are you trying to enable Azure Monitor for containers (aka Container Insights solution) to your AKS cluster?

Here are the our docs to review

https://www.terraform.io/docs/providers/azurerm/r/log_analytics_solution.html
https://docs.microsoft.com/en-us/azure/azure-monitor/in

[2019-11-14 19:44] aboutjon opened #42851 "Clarify documentation for disk encryption via CLI"
In the disk encryption via CLI documentation the command `az vm show --name "myVM" -g "MyResourceGroup"` is given to show the status of the disk encryption. The documentation states `"EncryptionOperation": "EnableEncryption"` is returned when disk encryption is enabled.

This was confusing because the disk encryption is still in progress, not enabled as the documentation states. After speaking to

[2019-11-14 19:46] dougsi commented on #42079
I still see it published incorrectly. "Microsoft.Azure.KeyVault.Edp" should be "Microsoft.Azure.KeyVault". It's in a few places.

[2019-11-14 19:49] FrankHu-MSFT commented on #42830
@rameshjanjyam Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-14 19:49] FrankHu-MSFT commented on #42846
@aleazofeifam Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-14 19:50] dougsi commented on #42079
@Karishma-Tiwari-MSFT can you take a look again, a few places missing.

[2019-11-14 20:00] MicahMcKittrick-MSFT commented on #39345
#reassign: @damendo

[2019-11-14 20:12] o-o00o-o opened #42852 "SSDT support"
looks like that has recently been delivered, so this page is saying it isn't supported when it is!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4f77b03-42c2-2191-a0d1-d017ce795663
* Version Independent ID: 4bae53a8-1b83-98b1-1063-1ee583135f58
* Content: [Azure Synapse Analytics (formerly SQL DW) Frequently Asked Que

[2019-11-14 20:15] bensimon24 opened #42853 "Recognition Confidence"
Is there any way to get the transcription confidence from the  azure.cognitiveservices.speech.SpeechRecognitionResult?

[2019-11-14 20:16] mruptown commented on #29343
I am facing the same issue after following the exact steps above.  Please advise.

[2019-11-14 20:20] bensimon24 commented on #42853
Posted this in the wrong area

[2019-11-14 20:20] #42853 closed

[2019-11-14 20:21] bensimon24 opened #42855 "Possible to get transcription confidence?"
Is it possible to get the confidence for a transcription using this method?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a421fddc-eebd-2ff2-6216-b2a00bbd3fdf
* Version Independent ID: 7d902f9e-4f56-30c9-4a39-7d800f92e088
* Content: [Quickstart: Recognize speech from an audio file - Speech Service - Azure Cognitive Se

[2019-11-14 20:29] buildbod opened #42856 "Small typo in Add Azure Cognitive Search service information section"
There appears to be a typo in the section 'Add Azure Cognitive Search service information
' https://docs.microsoft.com/en-us/azure/search/cognitive-search-tutorial-blob-dotnet#add-azure-cognitive-search-service-information

Current text is " Change the value of Copy to Output Directory to Copy of newer."

Options in Visual Studio are 'Do not copy' or 'Copy always' or 'Copy if newer'

I presume tha

[2019-11-14 20:48] jfuller2701 opened #42858 "Truncating values in Logic App"
I'm running a log analytic query in azure to get the amount of free disk space from a VM and the returned value runs to several decimal places. I'm running the query from a logic app with the end goal to push any results into a slack channel. Is there a way in logic app to truncate the value of free disk space from the query?

Thanks
JF

---
#### Document Details

⚠ *Do not edit this section. It i

[2019-11-14 20:48] anilmur commented on #42678
Our v3 APIs do support thumbnail generation. There is an example in https://docs.microsoft.com/en-us/azure/media-services/latest/custom-preset-rest-howto. If you trim out the video/audio parts, you should get the following (have not had the chance to test this yet)

[code]

[2019-11-14 20:51] jdkrobinson opened #42859 "IPsec phase 2 disconnection not captured by this query"
This query captures a disconnection of IPsec phase1. However, if the disconnection occurs at the phase 2 level of the IPsec connection, the outage is not detected. Please add the logging config and query required for detecting such a disconnection.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4f81d07-fd9a-c911-b9b7-

[2019-11-14 20:52] TravisCragg-MSFT commented on #42828
@mjannapureddy07 Have you seen this doc on [Application Gateway Custom error pages](https://docs.microsoft.com/en-us/azure/application-gateway/custom-error)?

If you would like a "maintenance mode", you will need to redirect the listeners to a different backend pool with the maintenance website.

[2019-11-14 20:54] geekbrownbear opened #42860 "Action Groups have moved"
Action Groups are no longer their own blade and are found under the Monitor &gt; Alerts blade. "Configure email notifications" section should be updated to reflect such.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 225c9d05-83dd-b006-0025-3753f5ab25bf
* Version Independent ID: 9eecef0c-b1cb-1136-faf7-542214492096
* C

[2019-11-14 20:59] iharrington commented on #41244
<img width="1165" alt="Screen Shot 2019-11-14 at 1 55 36 PM" src="https://user-images.githubusercontent.com/43457037/68895616-e7d59380-06e6-11ea-92e4-ab852255ec22.png">
<img width="1146" alt="Screen Shot 2019-11-14 at 1 55 52 PM" src="https://user-images.githubusercontent.com/43457037/68895621-ea37ed80-06e6-11ea-8638-f7726fe58e89.png">
<img width="1143" alt="Screen Shot 2019-11-14 at 1 56 04 PM" s

[2019-11-14 20:59] mruptown opened #42861 "You do not have permission to view this directory or page"
When I attempt to browse my uploaded app after following the steps above, the page has the text "You do not have permission to view this directory or page" on it.  Please advise.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b0165d7-6462-842c-76ec-1a1f344fa51a
* Version Independent ID: 3b2c77ed-d9eb-cf20-0ace-908b889

[2019-11-14 21:00] nichojo89 commented on #40317
I know the documentation is not yet available but I've refactored the i've code created from current Microsoft documentation to code in the SO article below. I am wondering if this article is in line with what the documentation is being changed to?

Using this article is compatible w/ Xamarin.Azure.NotificationHubs.iOS --v  2.0.4 and I do not receive an SIGSEGV error introduced in iOS 13, but when

[2019-11-14 21:00] iharrington commented on #41244
The "ContainerInsights" Solution does not work (and keep regenerating itself!) however the "Containers" Solution does work.

[2019-11-14 21:03] YutongTie-MSFT commented on #42840
@diberry Hi Dina, could you please help with this issue? Thanks a lot.

[2019-11-14 21:05] ganga1980 commented on #41244
@iharrington , This is what I expected. you are looking at UX of "Containers" solution which our legacy solution. You should use the "ContainerInsights" solution  and the Ux  natively integrated in AKS cluster page itself as shown in below

![image](https://user-images.githubusercontent.com/20712167/68895918-2f582180-06df-11ea-8e6f-6d23c017c33c.png)

We have added lot of capabilities in "Container

[2019-11-14 21:11] chriseckl opened #42862 "Support for AAD B2C"
Is it possible to add support for AAD B2C?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 186c0697-792a-a913-1baa-0af86f7ef6de
* Version Independent ID: 330e7927-57fd-75e2-26b1-05bd2e8f30c1
* Content: [Create an Azure Active Directory tenant for P2S VPN connections: Azure AD authentication](https://docs.microsoft.com/e

[2019-11-14 21:14] mike-urnun-msft commented on #40527
Hello @FISHMANPET @ggailey777 Great feedback! As this isn't necessarily something that is broken but rather an inconsistent UI experience, I have opted to move this over to [Azure Uservoice](https://feedback.azure.com/forums/355860-azure-functions/suggestions/39037846-azure-functions-inconsistent-ui-experience-in-por) instead. I'll also create an internal work item with Functions team to track thi

[2019-11-14 21:14] FrankHu-MSFT commented on #41237
Currently we're looking into this issue from the fiddler traces you provided and will get back to you as soon as possible. Thanks again for providing this information and hopefully we'll be able to get you on the right track as soon as possible.

[2019-11-14 21:14] eosfor commented on #42584
What about creating this via PowerShell, any examples for that, please?

[2019-11-14 21:15] FrankHu-MSFT commented on #41872
@jaffadog Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please file a new git issue with a reference to this one if you have anymore concerns. Thanks

[2019-11-14 21:15] diberry commented on #42840
@v-kydela Thanks for reporting this, it will be fixed in the afternoon publish. #please-close

[2019-11-14 21:15] #42840 closed

[2019-11-14 21:21] mike-urnun-msft commented on #42858
Thank you for your question, @jfuller2701! Since this channel is more for driving improvements towards MS Docs, could you share with us the URL of the documentation that your question/feedback is most applicable to?

[2019-11-14 21:23] madcodemonkey opened #42863 "Developer Portal test"
It appears that there are two Developer Portal links now.  You are describing the "Developer portal (legacy)" link.  I originally followed the "Developer portal" link as described and it's completely different.  It looks like a design form rather than a testing interface.   Please update the documentation to state that we need to click on "Developer portal (legacy)". If your intent is for us to cl

[2019-11-14 21:24] jfuller2701 commented on #42858
Hi Mike,

https://docs.microsoft.com/en-us/azure/logic-apps/workflow-definition-language-functions-reference

I imagine the above is correct.

Thanks

JF

[2019-11-14 21:24] mike-urnun-msft commented on #42845
@vavane-ms Thank you for your feedback! We will review and get back to you with our findings.

[2019-11-14 21:41] dmarlow commented on #42667
I'm not so concerned about the connection drop as I am having a database that is large that causes auto-scaling to take a long time (i.e. isn't able to quickly respond to scale up/down requests).

[2019-11-14 21:43] dialedin2014 commented on #42478
Hi Carl,

I think you are saying SELECT SERVERPROPERTY('ProductVersion'); returning 12.0.2000.8 in Azure SQL Database indicates a more advanced database engine than the same query returning 14.0.2027.2 on a local SQL Server installation.

The documentation references these version numbers as if they can be compared.

[https://docs.microsoft.com/en-us/sql/t-sql/functions/serverproperty-transact-sql

[2019-11-14 21:45] BryanAdvisicon opened #42865 "Cannot Provision Host Pool with Managed Image"
There is a bug in the validation in "Image Resource Group Name"  I have an Underscore in the resource group name MyName_RG.  Everything works fine, no issues with underscore, until I try to use a manged image.  The field validation marks it as failed, but the error message says, "The resource group name for the managed image may containl only alphanumeric characters, periods, underscores, hyphens

[2019-11-14 21:46] ecfan commented on #42488
@karpikpl & @PramodValavala-MSFT, thanks for surfacing this gap. I created a work item for our backlog for prioritization.

[2019-11-14 21:46] MarileeTurscak-MSFT commented on #42851
@aboutjon
Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-14 21:50] mikebudzynski commented on #42863
That's correct, thanks for opening the issue. We'll fix it shortly.

[2019-11-14 21:52] mv3008 commented on #42757
You need to run get-credentials before creating the binding..Did you run the command?
az aks get-credentials --resource-group <resourcegroupname> --name <AKS cluster name>

[2019-11-14 21:53] basilwong opened #42866 "JRE needs to be installed before IR"
Was wondering if the document could update for the case where the integration runtime is already installed by the JRE is not. If that is the case you get the following error:

Operation on target Copy data1 failed: Failure happened on 'Sink' side. ErrorCode=UserErrorJreNotFound,'Type=Microsoft.DataTransfer.Common.Shared.HybridDeliveryException,Message=Java Runtime Environment could not be found.,S

[2019-11-14 21:54] MarileeTurscak-MSFT commented on #42851
@aboutjon thanks for this! I made a pull request to add information about this command so that others can benefit from this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/96014

[2019-11-14 21:54] #42851 closed

[2019-11-14 21:58] MicahMcKittrick-MSFT commented on #42865
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-14 22:01] roygara commented on #41859
#please-close

[2019-11-14 22:01] #41859 closed

[2019-11-14 22:05] MicahMcKittrick-MSFT commented on #37221
#reassign: @teresayao

@KumudD FYI you can reassign by running the same command :)

[2019-11-14 22:05] brianharwell commented on #42757
that fixed it! thanks!

[2019-11-14 22:06] MicahMcKittrick-MSFT commented on #33368
#reassign: @KumudD

@JimHart looks like a PR was submitted. After a few hours the changes will go live.

#please-close

[2019-11-14 22:06] #33368 closed

[2019-11-14 22:19] MicahMcKittrick-MSFT commented on #42865
@BryanAdvisicon thanks for pointing this out. I tested and found the same issue. Seems hyphens still work though

![image](https://user-images.githubusercontent.com/32313503/68900843-9549a680-06e9-11ea-906b-d06f47c80176.png)

![image](https://user-images.githubusercontent.com/32313503/68900858-a0043b80-06e9-11ea-817a-da37c64144a5.png)

@Heidilohr @ChristianMontoya how would you like this addressed

[2019-11-14 22:20] sozeng0 opened #42869 "create vm"
when use 'az vm create --resource-group IoTEdgeResources --name EdgeVM --image microsoft_iot_edge:iot_edge_vm_ubuntu:ubuntu_1604_edgeruntimeonly:latest --admin-username ' to create vm, need to make a unique name of your own vm. Otherwirse you will get error "Changing property 'linuxConfiguration.ssh.publicKeys' is not allowed."

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-11-14 22:27] BryanAdvisicon commented on #42865
I have already created the tenant, ADDS, vnet, subnets and supporting VMs, as well as a managed image.  It would be a serious pain to recreate all the work I have  done to this point.  I am assuming it is the validator for the field on the page and not an actual rule violation, since underscores do not seem to be an issue anywhere else.  I think fixing the web form would be the easiest fix.  Unles

[2019-11-14 22:31] MicahMcKittrick-MSFT commented on #42865
I would agree. My guess is also that it is an issue with the validation in the portal. So not so much that it doesn't support underscores. I have ran into situations like this before with other products. Another thing you could try is another browser. Sometimes I find the validator can be different depending on that.

It will likely still work when deploying from PowerShell or ARM template

https:

[2019-11-14 22:34] mjannapureddy07 commented on #42828
Thanks for the response. I have looked at that earlier but I had a question there,
What if we see these errors during the regular functioning of Application? due to any other reason (For Ex: Application Freezes due to some thread locks etc..)

[2019-11-14 22:37] daleriechert commented on #30777
@CelesteDG This issue is still valid. We have encountered the same error and which references this page:
https://login.microsoftonline.com/error?code=7000216
The same error is still not mentioned in the list of error codes:
https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-aadsts-error-codes

[2019-11-14 22:40] Karishma-Tiwari-MSFT commented on #42869
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-14 22:45] CarlRabeler commented on #42478
I will clarify that article to make what I said clear in that particular location.
Thanks,
Carl

From: Christopher Grace <notifications@github.com>
Sent: Thursday, November 14, 2019 1:44 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Carl Rabeler <Carl.Rabeler@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Which has the latest SQL en

[2019-11-14 22:46] JennyLawrance commented on #31771
@jcmontx Can you share your app please? (Send a repo or zip file to jennylaw(at)microsoft.com)

[2019-11-14 22:54] CelesteDG commented on #30777
Hello @daleriechert - Thank you for the follow up. We are lifting and shifting our reference error codes content out of the topic and shifting them to https://login.microsoftonline.com/error and surfacing the descriptions there.

For this particular error code, once you go to https://login.microsoftonline.com/error, just enter `7000216` in the **Error Code** field and it should provide remediation

[2019-11-14 22:55] TomArcherMsft commented on #41244
@iharrington Thanks again for the feedback. I'm going to close this issue. If you have other question about this issue, I'll reopen. #please-close

@ganga1980 Thanks for helping out!

[2019-11-14 22:55] #41244 closed

[2019-11-14 22:57] #42863 closed

[2019-11-14 22:58] Adam-Smith-MSFT commented on #42843
@JohnLBevan Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-14 22:59] Adam-Smith-MSFT commented on #42831
@ob Thanks for your contribution!

[2019-11-14 23:02] DCtheGeek commented on #42844
#assign:DCtheGeek

[2019-11-14 23:02] ggailey777 commented on #41348
@svangeti and @Anthony-Breneliere how are you deploying your code? Core Tools (`func azure functionapp publish <APP_NAME>`) now uses remote build by default, with `WEBSITE_RUN_FROM_PACKAGE` set to a Blob storage location.

[2019-11-14 23:12] Damag3d commented on #40990
I needed to use it ARM template so I need to do triple escaping to make it eatable by system. I said to my team to drop it and separate JSON to separate values instead to ease debugging in future and improve readability of ARM template.

[2019-11-14 23:19] TravisCragg-MSFT commented on #42828
@mjannapureddy07 Application freezes would ideally be picked up by the [Health Probes](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-components#health-probes) and traffic will no longer be routed to that instance.

[2019-11-14 23:20] deepikabandhanadham opened #42870 "Longer execution times when Skip and log incompatible rows is enabled when even one incompatible row is found"
I have a copy pipeline which loads for eg., 300K rows under 20 sec, but the same pipeline when it finds even one incompatible row it takes more than 1.5 hr to process the data. This is the same case when loading other tables too. The minute an incompatible row is found, execution times increase exponentially.

I am using azure data factory in US Gov Arizona

---
#### Document Details

⚠ *Do not ed

[2019-11-14 23:24] shivtorov opened #42871 "System Requirements"
Microsoft Azure Active Directory Connect download web page ( https://go.microsoft.com/fwlink/?LinkId=615771 or 	https://www.microsoft.com/en-us/download/details.aspx?id=47594 ) in "System Requirements" section says:

Windows Server 2008, Windows Server 2008 R2, Windows Server 2012, Windows Server 2012 R2, Windows Server 2016
For more information, please refer to https://azure.microsoft.com/en-us/d

[2019-11-14 23:26] BernardoMB opened #42872 "Change Public Access Level"
Is there any way to change the public access level of any container without specifying a stores access policy via the REST API?

I have tried to make the request as specified on your RESP API documentation: https://docs.microsoft.com/en-us/rest/api/storageservices/set-container-acl

I am sending an empty body as I dont want to specify a stored access policy and the response I am getting is a 409 s

[2019-11-14 23:26] TravisCragg-MSFT commented on #41981
@michelamarie There are [multiple ways to sign in with the CLI, and they are all outlined Here.](https://docs.microsoft.com/en-us/cli/azure/authenticate-azure-cli?view=azure-cli-latest)

[2019-11-14 23:27] joshheitzman-redcley-v-joheit-msft opened #42873 "Bad Link for "Download the sample script files pytorch_train.py""
Following the link for the text "Download the sample script files pytorch_train.py" results in a 404.  Going up one directory it doesn't appear there is a typo in the link's URL and the subdirectory in the git repo is simply missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34201ee9-62ca-1ffc-ac23-01a742d5ba64
*

[2019-11-14 23:31] dargilco opened #42874 "Needs to be updated to CustomCommandsConfig.FromSubscription"
In section "3. Add the following code to the method body of InitializeDialogServiceConnector" replace " DialogServiceConfig.FromSpeechCommandsAppId" with "CustomCommandsConfig.FromSubscription"

See reference:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.cognitiveservices.speech.dialog.customcommandsconfig?view=azure-dotnet

---
#### Document Details

⚠ *Do not edit this section. It is re

[2019-11-14 23:33] KranthiPakala-MSFT commented on #42812
@JeroenStravers1 Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2019-11-14 23:40] JimacoMS3 commented on #17690
@zweim1 The topic has been refactored slightly, and the code has been updated to support Azure Functions v2. Functionality to set initial device twins has also been added to the code. Please have a look and let me know if you find any issues. I'll leave this open for a few days and then move to close it.

Thanks again for your feedback on this topic. Your contribution is appreciated!

[2019-11-14 23:40] KranthiPakala-MSFT commented on #42813
Hi @JeroenStravers1, Thanks for sharing your findings confirming to close this issue.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2019-11-14 23:40] #42813 closed

[2019-11-14 23:42] ashortdev commented on #28157
Hey guys, false alarm - my issue was that because I was peering VNETs I had to set the DNS settings for my WVD VNET to point to my AADDS IPs BEFORE provisioning the WVD hosts.

[2019-11-14 23:42] Anthony-Breneliere commented on #36888
Is it possible to use the /.python_packages/lib/python3.6/site-packages in order to run unit tests before building package. Something like: export PYTHONPATH=/.python_packages/lib/python3.6/site-packages:$PYTHONPATH

[2019-11-14 23:44] TravisCragg-MSFT commented on #42740
@kevin-dfo Thanks for the feedback! I am not aware of a place that has this additional info, but it should be added to the doc.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-14 23:46] KranthiPakala-MSFT commented on #42812
@JeroenStravers1 I was able to connect to Azure Cloud Shell in Focus Mode when clicked on "Try it" without any issues.

![image](https://user-images.githubusercontent.com/50185738/68905328-b0baae80-06f5-11ea-846e-c79af587ef0a.png)

Could you please try again now and let us know if this issue occurs consistently for you? Please clear your browsers cache before retrying this.

Let us know how it goe

[2019-11-14 23:47] Adam-Smith-MSFT commented on #42856
@buildbod Thank you for the valuable feedback,we are investigating the issue.

[2019-11-14 23:48] Karishma-Tiwari-MSFT commented on #42640
@abhi-nanobi  Can you please take a look at this similar thread posted here and let me know if the suggested solution help:
https://stackoverflow.com/questions/22168114/adding-cluster-admin-rights-in-windows-server-2012

[2019-11-14 23:49] Alberto-Vega-MSFT commented on #42849
Hi @Gamecock I'm sorry to hear that. Can you confirm this is the same issue as here: https://github.com/Azure/iotedgehubdev/issues/224

[2019-11-14 23:49] Karishma-Tiwari-MSFT commented on #42620
@bobbytreed Please let me know the details. Thanks :)

[2019-11-14 23:52] Alberto-Vega-MSFT commented on #42497
@RonStack I apologize for the delayed response. This will require some deeper analysis. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2019-11-14 23:54] Adam-Smith-MSFT commented on #42818
@tdrjin Could you please provide the documentation you were referring to ? If your issue is not related to a specific document, Please post your issue within MSDN Social Forums or StackOverflow. Let me know if this helps.

Thanks,
Adam

[2019-11-14 23:55] Adam-Smith-MSFT commented on #42821
@rajat28negi Could you please provide us with the specific documentation link you were referring to ?

Thanks,
Adam

[2019-11-14 23:57] Adam-Smith-MSFT commented on #42824
@buildbod Thank you for the valuable feedback,we are investigating the issue.

[2019-11-14 23:57] Alberto-Vega-MSFT commented on #42723
Updated metadata to point to the right document/tutorial.

[2019-11-14 23:58] ckssaas opened #42876 "Create the AD DS Connector account - missing information"
Under the section "Create the AD DS Connector account" it says that we can create a custom account (which is very common practice) but it doesn't go into detail about what permissions actually need to be set on the user account. It just says that by default a Domain user is okay, but it doesn't say what permission to add or what group membership to add for the higher level permissions. The links d

[2019-11-14 23:59] Adam-Smith-MSFT commented on #42823
@simon-michaud Thank you for the valuable feedback,we are investigating the issue.

[2019-11-15 00:01] alinpaca commented on #41991
Azure support said that the Nvidia drivers on the cluster I was using have not been updated yet. Using a newly-created cluster fixed the problem.

[2019-11-15 00:01] #41991 closed

[2019-11-15 00:05] Adam-Smith-MSFT commented on #42872
@BernardoMB Thank you for the valuable feedback,we are investigating the issue, I'll check with the team internally , and i'll get back to you!

[2019-11-15 00:18] EricKyaw commented on #41738
Hi @ram-msft and @xiaoharper, May I know whether you could replicate the issue? Thanks

[2019-11-15 00:22] jdelforno commented on #41385
AAD Guest, UPN is emitted without #EXT#<tenant>.onmicrosoft.com
External Guest, UPN is emitted with #EXT#<tenant>.onmicrosoft.com

It'd be great if the UPN was as is from Get-MsolUser and uniform. You get what you see kind of thinking.

Please also note that during User Provisioning from Enterprise Applications, the UPN is set without #EXT# / _EXT_ regardless of what you've updated in the manifest

[2019-11-15 00:28] femsulu commented on #42836
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-11-15 00:30] MarileeTurscak-MSFT commented on #42871
@shivtorov
Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-15 00:32] femsulu commented on #42838
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-11-15 00:34] femsulu commented on #42839
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-11-15 00:35] Heidilohr commented on #41451
@DeanCefola We've updated the overview with some more information about Azure Active Directory requirements. Does the new information help make the requirements clearer, or is there any way we can improve?

[2019-11-15 00:35] femsulu commented on #42844
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-11-15 00:36] femsulu commented on #42847
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-11-15 00:37] MarileeTurscak-MSFT commented on #42871
Hi @shivtorov ,

I don't have access to edit that page but created a work item for this to be fixed. Thank you for pointing this out!

@billmath

I'll update this thread when they have fixed this.

[2019-11-15 00:37] #42871 closed

[2019-11-15 00:38] TravisCragg-MSFT commented on #42215
@CasperJ What @AlphaCreative-Mike spoke about is correct, but you can get the JSON schema for redirect rules.

I was able to use [Postman ](https://www.getpostman.com/)to pull the newer API versions, but any API query will work. I used [these instructions](https://blog.jongallant.com/2017/11/azure-rest-apis-postman/) to get a bearer token for auth.

If you have an existing Front Door with routing

[2019-11-15 00:39] Alberto-Vega-MSFT commented on #42869
@sozeng0 The the name of a VM is scoped to the resource group in which it resides. So you could have 2 VM's in the same subscription with the same name, as long as they reside in different resource groups.

[2019-11-15 00:40] femsulu commented on #42848
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-11-15 00:41] femsulu commented on #42860
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-11-15 00:43] TravisCragg-MSFT commented on #42859
@jdkrobinson Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-15 00:44] a9fagu opened #42878 "Retrieve latest version of secret"
Does the syntax provide a way of retrieving the latest version of the secret without specifying the version?If a secret is updated I would like to not have to change the app setting in order to retrieve the updated value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7feaa3d0-7233-a3cb-cb9b-a9a55b1f0d7a
* Version Inde

[2019-11-15 00:44] TravisCragg-MSFT commented on #42862
@chriseckl I do not believe that this is possible, but I am following up now to confirm.

[2019-11-15 00:45] FrankHu-MSFT commented on #42846
Hey @aleazofeifam per the doc :

And as such it should be that the password you've provided is 5 points, which means that it should pass. But because it's greater than 16 characters you cannot use that password. And each password ban has to be atleast 4 letters, so the max you can have is 4 of a banned password in a password, so this scenario should not matter.

Please let us know if you have anym

[2019-11-15 00:49] #41872 closed

[2019-11-15 00:49] #42747 closed

[2019-11-15 00:51] FrankHu-MSFT commented on #42220
yes @ashkansirous there will be updates there, as you can see craigmcm has provided an update on that issue accordingly.

[2019-11-15 01:00] MarileeTurscak-MSFT commented on #42544
@gate502 you should be able to check the security audit logs for these types of events. There's nothing LDAP specific but it should give you what you're looking for. https://docs.microsoft.com/en-us/azure/active-directory-domain-services/security-audit-events

If you don't see these there is likely an issue with your LDAP connection and I would suggest opening a support ticket.

Hope this helps! I

[2019-11-15 01:00] #42544 closed

[2019-11-15 01:11] ggailey777 commented on #42808
@wisesimpson you are right that `extensionBundle` should also be documented here. I'll get that fixed.

[2019-11-15 01:23] jdelforno opened #42880 "Switch statement wildcard?"
Does the switch statement allow for wildcards at all?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb210829-0a82-3bfc-1408-81b34e58d43d
* Version Independent ID: 7de2c0e7-0e01-20b0-a507-c0016cb82fa1
* Content: [Writing Expressions for Attribute Mappings in Azure Active Directory](https://docs.microsoft.com/en-us/azur

[2019-11-15 01:27] seannybgoode commented on #18278
Same as mrcurko, using VS Community 2017, and can't install the extension. Is it a feature not available in the community edition?

![image](https://user-images.githubusercontent.com/2761107/68909664-f9796400-0703-11ea-8214-9cfd55552556.png)

[2019-11-15 01:31] Mike-Ubezzi-MSFT commented on #42850
@BalakumarVasudevan Thank you for your inquiry but I am hoping to get some clarification about your request. Are you wanting to change the RU or get a listing of the currently provisioned RU for a specific database? Thank you for the additional, clarifying information.

[2019-11-15 01:35] femsulu commented on #42470
@slavizh AFAIK, should only fire once assuming the same action group is defined in action rule . Let me know if you experience something different. Cheers.

We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-11-15 01:35] #42470 closed

[2019-11-15 01:37] smartpcr opened #42881 "how to parameterize query for linked database (cosmosdb)"
seems passing parameter to query is not accepted,

parameter is passed as:
[code]

[code]

when I open ADF designer, the source show the following in query field:
parameters('cosmosDbQuery')

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bf75315-da09-2cf9-6db5-d12fcc804283
* Version Independent ID: bf4deb1b-fe88-a9cb-

[2019-11-15 01:51] BalakumarVasudevan commented on #42850
Hi Mike

I’m looking to get the currently provisioned RUs for all cosmos under a subscription.

Actually I found an insights metrics api earlier this afternoon, not sure if that’s the best option available. Please let me know.

Thanks,
Balakumar

________________________________
From: Mike Ubezzi <notifications@github.com>
Sent: Thursday, November 14, 2019 5:31:28 PM
To: MicrosoftDocs/azure-docs <

[2019-11-15 01:58] Mike-Ubezzi-MSFT commented on #42852
@o-o00o-o Thank you for bringing this to our attention. The documentation currently indicates that Visual Studio projects are not supported ([Tooling and administration](https://docs.microsoft.com/en-us/azure/sql-data-warehouse/sql-data-warehouse-overview-faq#tooling-and-administration)). I will have the content author review but if you could provide additional details that would be very helpful.

[2019-11-15 02:01] Mike-Ubezzi-MSFT commented on #42852
@mlee3gsd The FAQ may need an update with the latest Ignite announcements. I am not seeing anything specific to Visual Studio projects being available.

[2019-11-15 02:24] su-jie commented on #42793
@Fleid Good point. We will update the doc.

[2019-11-15 02:33] femsulu commented on #37249
adding @zjalexander  to help review and direct this to the right feature owner to respond.

Here's the question:

<snip>
The Azure RBAC Reader Role has read access to the Azure Automation Primary and Secondary key. Should the Reader Role not have no access to Keys?
</snip>

[2019-11-15 02:36] WenJason opened #42883 "Azure China Environment Azcopy login."
Is the "Azcopy login" command also applicable to Azure China Environment now? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15911160-5ba2-fb0a-0b24-16b3857e20ce
* Version Independent ID: d925bc9f-f825-2f82-168c-6c30d716b9ce
* Content: [Copy or move data to Azure Storage by using AzCopy v10](https://docs.micros

[2019-11-15 02:41] choonyip commented on #42795
okay, I have done it.

[2019-11-15 02:47] danmyhre opened #42884 "Step 15"
The options shown in step 15 don't exist on the page.  There is no scope dropdown with 2 options in it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6311c7b-41d1-21d0-c833-f4f290c41e04
* Version Independent ID: 264ebeac-f5c4-e869-a1dd-c7e14494b474
* Content: [Tutorial: Configure Snowflake for automatic user provisio

[2019-11-15 02:55] danmyhre commented on #42884
It looks like the scope droplist only shows up after saving, leaving the screen, and coming back in.  So either that should be fixed, or maybe add a note to the documentation

[2019-11-15 02:57] DCtheGeek commented on #42844
@mpchen Thanks for the question. You can use a single managed identity if they are all part of the same assignment, such as an assignment of an initiative. A managed identity matches to an assignment, whether that assignment is for a policy or for an initiative. Note that some organizations may have concerns on the security implications as the managed identity for an initiative may have a lot of r

[2019-11-15 02:57] #42844 closed

[2019-11-15 02:57] DCtheGeek commented on #42844
@MicrosoftDocs/azure-cxp-triage Please change label to 'product-question'.

[2019-11-15 02:58] DixitArora-MSFT commented on #42827
Hi @Anthony-Breneliere Referring to SO Post, I am glad that the issue is resolved. So for now will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-15 03:01] MonikaReddy-MSFT commented on #42861
@mruptown , Thanks for reaching out to us. We will investigate it further and update you shortly.

[2019-11-15 03:07] SnehaAgrawal-MSFT commented on #42878
@a9fagu Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-15 03:11] anirudhcavale commented on #42848
This is a doc bug, we are working on updating the doc soon. Thanks  for reporting this.

[2019-11-15 03:20] KrishnaG-MSFT commented on #42863
@mikebudzynski Thanks for the quick response. :+1:

[2019-11-15 03:23] anirudhcavale commented on #42710
@shashikant29 Network In/Out Total are the new metrics you can use as alternatives.

[2019-11-15 03:23] anirudhcavale commented on #42710
#please-close

[2019-11-15 03:23] #42710 closed

[2019-11-15 03:32] SumanthMarigowda-MSFT commented on #42819
@mafis-hh Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-15 03:33] PramodValavala-MSFT commented on #42845
@vavane-ms As mentioned in this [comment](https://github.com/MicrosoftDocs/azure-docs/issues/36931#issuecomment-520586794), the `Unknown` and `Canceled` values are not used, which is why they are not documented.

[2019-11-15 03:40] femsulu commented on #42848
@anirudhcavale  - do you have this on your backlog or should we keep it open?

[2019-11-15 03:42] anirudhcavale commented on #42848
@femsulu On our backlog, should get resolved in a week.

[2019-11-15 03:43] femsulu commented on #42848
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-11-15 03:43] #42848 closed

[2019-11-15 03:45] winsontan520 opened #42886 "New Output Azure Queue storage not showing"
The step Select Integrate &gt; New output &gt; Azure Queue storage is not working. Only the HTTP option is available when I choose New output...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e952d385-d5c8-de9b-27c5-4d02add9b180
* Version Independent ID: 50083880-0ec5-cbb4-363e-ba9e82f2889a
* Content: [Add messages to

[2019-11-15 03:52] wangdfgithub commented on #42581
Right now, AML will leverage blobfuse to mount the needed data from block blob. but the symbol link is not supported yet. One of AML customer has a bug saying that when they copy a file from mounted folder, they fail to do so, the behind of reason of this issue is due to they have a symbol link in that folder. To avoid future misuse of the storage, I create this issue to update our document to tel

[2019-11-15 03:54] winsontan520 commented on #42886
<img width="1423" alt="Screenshot 2019-11-15 at 11 48 05 AM" src="https://user-images.githubusercontent.com/3048228/68915853-ad2f3200-079e-11ea-8aec-9f8f6b4d9b83.png">
Attached screenshot for references

[2019-11-15 04:05] allenwux opened #42887 "irrelevant blog posts"
not related to form recognizer

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a36a9196-5e31-1d88-115b-75dfb0b3fb0f
* Version Independent ID: 51db9675-eb67-a325-cd10-a2fbff8e102a
* Content: [How to install and run container for Form Recognizer - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-

[2019-11-15 04:28] dzeyelid opened #42889 "The allocationMethod option of new public IP for Bastion is wrong"
When I executed `New-AzPublicIpAddress`, I got an error below. Is it correct that the -AllocationMethod option is Static?
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc5b0105-258e-4bcd-f75d-1ad10086cec2
* Version Independent ID: 80bd27e2-638b-0982-bd4b-d285ec4cedf8
* Content: [Create a Bastion host using Azur

[2019-11-15 04:31] amanmcse commented on #42529
@dipesh-wadhwa Hope you have answer to your query. I am proceeding with closure of this thread. Feel free to tag me in your reply if you have any further questions.

[2019-11-15 04:31] #42529 closed

[2019-11-15 04:32] amanmcse commented on #42561
@azav Hope you have answer to your query. I am proceeding with closure of this thread. Feel free to tag me if you have any further questions.

[2019-11-15 04:32] #42561 closed

[2019-11-15 04:35] AjayKumar-MSFT commented on #42702
@Anaig, Thanks for bringing this to our attention. Your feedback has been shared with the content owner (@mgottein) for further review.

[2019-11-15 04:43] xieofxie opened #42890 "Does pattern work same as expanded utterances?"
For example, add one [[this]is] a new form or add three ones: this is a new form, is a new form, a new form.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8da71b1-8c66-e5b8-7be1-405d51753011
* Version Independent ID: 5897570f-2376-b52f-4bc3-8696a39ed88c
* Content: [Pattern syntax reference - LUIS - Azure Cognitive Se

[2019-11-15 04:45] JawadJaber opened #42891 "Is it possible to direct the service stream to my PC serial port so it appears as virtual COM**?"
I am looking for a solution to one of my field problems, the issue is as follows:
1. We have a controller that can be accessed and configured by using the vendor software which communicates to the board using USB (Serial connection).
2. At site, we cannot accessed the controller remotely because it needs actual connection.
3. Can this service act as virtual COM that appears in device manager?

---

[2019-11-15 04:48] AntiDesert5 opened #42892 "what is publish_iteration_name = "classifyModel""
I would like to know what is edit_iteration_name = "classifyModel" since I really can't find information about that.

[2019-11-15 04:58] ijohnt opened #42893 "Still looking to stop keyboard layout syncing"
Here is the superuser thread:
https://superuser.com/questions/961467/how-to-stop-windows-10-from-syncing-keyboard-layouts?newreg=1ff8313af3f54e4d9067d4ef77d5c974

The list above doesn't show where the keyboard layout can be stopped from syncing.

Across 3 laptops it is annoying to have to always change the keyboard layout on each to be appropriate for that laptop.

Any suggestions?
I already turne

[2019-11-15 04:59] ram-msft commented on #42855
@bensimon24 Thanks for the question. We are investigating the issue and will update you shortly.

[2019-11-15 05:01] amanmcse commented on #42884
@danmyhre Thank you for pointing this out. We will review and make required changes afterwards.

[2019-11-15 05:07] jakaruna-MSFT commented on #42700
@tkumark are you asking about the load balancer

[2019-11-15 05:07] jakaruna-MSFT commented on #42612
@danielsollondon is there any update

[2019-11-15 05:07] ram-msft commented on #42873
@joshheitzman-redcley-v-joheit-msft Thanks for the question. We are investigating the issue and will update you shortly.

[2019-11-15 05:14] DixitArora-MSFT commented on #42726
@DennisBaekgaard I have assigned this to content author for further review and update as appropriate.

[2019-11-15 05:17] DixitArora-MSFT commented on #42886
Hi @winsontan520 Thanks for your feedback. We will review and update as appropriate.

[2019-11-15 05:18] ram-msft commented on #42874
@dargilco Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-11-15 05:22] ram-msft commented on #42887
@allenwux Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-11-15 05:23] vijayapotturu opened #42894 "python BackEndApplication.py is giving an error"
Hi Team,
I'm getting an error when i'm submitting the below command will you be able to help how to fix the below issue:

C:\Users\xxxxxxxx\Documents\IOT\azure-iot-samples-python-master\iot-hub\Quickstarts\back-end-application>python BackEndApplication.py
Traceback (most recent call last):
  File "BackEndApplication.py", line 9, in <module>
    import iothub_service_client
  File "C:\Users\xxxxxxx

[2019-11-15 05:24] ram-msft commented on #42890
@xieofxie Thanks for the question. We are investigating the issue and will update you shortly.

[2019-11-15 05:44] AshokPeddakotla-MSFT commented on #42527
@cheles As Craig Mentioned, this will be fixed in the next update.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-15 05:44] #42527 closed

[2019-11-15 05:46] AshokPeddakotla-MSFT commented on #42521
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-11-15 05:46] #42521 closed

[2019-11-15 05:47] msrini-MSFT commented on #42889
@dzeyelid , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-11-15 05:51] nnamedieh commented on #42803
Hi @souravmishra-msft ,
great - thanks for the quick reply. More over I noticed that there is one number right between the "Z" and the seconds counter from time. So for instance "17:30:00.**0**Z". Is there anything special about this?

[2019-11-15 05:51] rajat28negi commented on #42821
@Adam-Smith-MSFT  I go through these docs:[ https://github.com/Azure-Samples/azure-search-knowledge-mining/tree/master/workshops](url)

[2019-11-15 05:57] msrini-MSFT commented on #42889
@dzeyelid ,

Static: Static addresses are assigned when a public IP address is created. Static addresses are not released until a public IP address resource is deleted. If the address is not associated to a resource, you can change the assignment method after the address is created. If the address is associated to a resource, you may not be able to change the assignment method. If you select IPv6

[2019-11-15 06:00] msrini-MSFT commented on #42889
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/96068

[2019-11-15 06:04] shashishailaj commented on #42876
@ckssaas Thank you for your suggestion . We will investigate and update this thread further.

[2019-11-15 06:06] shashishailaj commented on #42880
@jdelforno Thank you for your query. We will investigate and update the thread.

[2019-11-15 06:10] petercmho commented on #42147
Hi Cephalin,
I really appreciate your info!
In MyDatabaseContext ctor, (new Microsoft.Azure.Services.AppAuthentication.AzureServiceTokenProvider()).GetAccessTokenAsync("https://database.windows.net/").Result returns a access token.   I used JWT Debugger and found out the expected user is not corrected.  It showed my Azure account, but not my Azure AD which is assigned to SQL server AD admin.  I al

[2019-11-15 06:12] shashishailaj commented on #42893
@ijohnt Thank you for your feedback . We will investigate and update this thread further.

[2019-11-15 06:14] petercmho commented on #42147
For the SQL server firewall, my dev machine is behind a router and the router WAN IP is already added to client ip address.

[2019-11-15 06:18] anujsharrma opened #42895 "Esay API and Tables are retired"
[Now the Easy API and Tables are retired so i am requesting you to kindly update the article and code as well.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7041142f-6df3-4e70-b1b9-22b2f13f4966
* Version Independent ID: 4a9dc512-f04b-fd66-5c25-b2095522b497
* Content: [Create an Android app on Azure App Service Mobile

[2019-11-15 06:18] anujsharrma commented on #42895
kindly update the article and code as well

[2019-11-15 06:24] ChiragMishra-MSFT commented on #42866
@basilwong Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-11-15 06:24] ChiragMishra-MSFT commented on #42870
@deepikabandhanadham Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-11-15 06:26] ChiragMishra-MSFT commented on #42881
@smartpcr Here's an article that describes how to parameterize any linked service and datasets on top of it :
https://social.technet.microsoft.com/wiki/contents/articles/53335.parameterizing-linked-services-and-datasets-in-azure-data-factory-v2-using-code-json.aspx.

Please follow this and let us know if you still face any issue. I will now proceed to close the issue. Feel free to still comment an

[2019-11-15 06:26] #42881 closed

[2019-11-15 06:28] ChiragMishra-MSFT commented on #42819
@tamram and @djpmsft can you please take a look at this?

[2019-11-15 06:28] SumanthMarigowda-MSFT commented on #42883
@WenJason Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-15 06:35] ChiragMishra-MSFT commented on #42773
@ozhug In your porgram.cs file, have you added the references to the namespaces ? Please add the following lines and try :

using Microsoft.Rest;
using Microsoft.Rest.Serialization;

Ref - https://docs.microsoft.com/en-us/azure/data-factory/quickstart-create-data-factory-dot-net#create-a-data-factory-client

[2019-11-15 06:37] ChiragMishra-MSFT commented on #42786
@ShubhaVijayasarathy Can you please review and update as appropriate ?

[2019-11-15 06:39] slavizh commented on #42470
@femsulu ok Thanks. Please add it to the FAQ so others can see the answer in case the have the same question.

[2019-11-15 06:39] ChiragMishra-MSFT commented on #42793
@su-jie Thanks for promptly fixing the issue.

@Fleid The issue has been fixed in a Pull Request and the changes will be reflected in production soon. I will now proceed to close this issue. Thanks again for the feedback.

[2019-11-15 06:39] #42793 closed

[2019-11-15 06:48] ChiragMishra-MSFT commented on #42866
@basilwong I have made a PR on the document for self hosted IR to add a note saying JRE is a dependency and needs to be installed. You will be able to see the changes in production soon.

Thanks again for the feedback. I will now proceed to close this issue.

[2019-11-15 06:48] #42866 closed

[2019-11-15 07:06] edburns opened #42896 "Make the requirements for nested scripts more clear"
Consider
[cpp-skus-tab](https://docs.microsoft.com/en-us/azure/marketplace/cloud-partner-portal/azure-applications/cpp-skus-tab).
Regarding the matter of scripts that accompany templates, you do have
this helpful blue Important box, but I still missed it.  Perhaps adding
a bullet point would make it harder to miss?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2019-11-15 07:06] SwathiDhanwada-MSFT commented on #42837
@Datachick Thanks for the comment. We are actively looking into it and will update you soon.

[2019-11-15 07:08] sopelt commented on #42147
@petercmho we had issues of that nature when the AAD user used for development had a home AAD Tenant different from the one the database is assigned to. So have you checked if the issuer tenant is correct? There should be a way to hint/enforce the tenant via code or connection string if is the wrong one (if it finds a cached token for your user but another AAD tenant in the cache).

[2019-11-15 07:11] stewartadam opened #42897 "MacOS instructions reference linux binary"
For MacOS instructions:
[code]

`./linkerd2-cli-$LINKERD_VERSION-linux` is incorrect and should read `./linkerd2-cli-$LINKERD_VERSION-darwin`
[code]

[2019-11-15 07:18] ChiragMishra-MSFT commented on #42870
@deepikabandhanadham Have you set enableSkipIncompatibleRow to true ?

[2019-11-15 07:27] kheiakiyama opened #42899 "[Javascript] Should write npm package "readdirp" version"
If we use latest version "readdirp": "^3.2.0", it doesn't work.

If the code is as it is, the version should be indicated.
If it is the latest version("3.2.0") at the moment, it works with the following code.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62bbedb6-d4c5-a809-31ad-b8c843ac0f52
* Version Independe

[2019-11-15 07:32] AshokPeddakotla-MSFT commented on #42525
@lucarv  Please try again and let us know if you are still blocked. Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-11-15 07:32] #42525 closed

[2019-11-15 07:38] biren1234 opened #42900 "how check azure backup vault backup items size each item"
I have Azure backup vault where we have 15 different backup items when I checked at backup dashboard it's showing 7 TB for all item, but I want to know what is a size of each item

[2019-11-15 07:41] dzeyelid commented on #42889
Thanks for responding. I'm sorry my description is not enough. Azure Bastion requires *SKU is Standard* only. So SKU should be Static.

[2019-11-15 07:54] #42889 closed

[2019-11-15 07:55] msrini-MSFT commented on #42730
@HarrySpyrou , Please tag me if you have any further questions.

[2019-11-15 07:55] #42730 closed

[2019-11-15 08:13] SnehaAgrawal-MSFT commented on #42692
@dcbrown16 Thanks again for the feedback! I have shared this with the content owner for further review.

[2019-11-15 08:22] KrishnaG-MSFT commented on #42853
@bensimon24 Thanks for the update.

[2019-11-15 08:26] DixitArora-MSFT commented on #42706
@feroz-ahmmed Just following up again in case missed the previous communication.

[2019-11-15 08:28] jakaruna-MSFT commented on #42715
@wmeints @delbus I hope we need to change the labels also

[2019-11-15 08:50] #42812 closed

[2019-11-15 08:55] TomaszOledzki opened #42901 "No information about resizing database"
Doc describes how to rescale geo-replicated database (ie. increase DTU) but is lacking information how to change the size of a geo-replicated database. It's not a trivial task, worth documenting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96b861f9-4ed1-afc9-127c-dca2cbb98a56
* Version Independent ID: 967aa4c2-77eb-

[2019-11-15 08:55] #42524 closed

[2019-11-15 09:01] #42782 closed

[2019-11-15 09:01] KetanChawda-MSFT commented on #42899
@kheiakiyama Thank you for your feedback! We will review and provide an update as appropriate.

[2019-11-15 09:03] wmekal-pgs opened #42902 "Outdated documentation for EventGrid - missing Output Binding?"
I've found that https://github.com/Azure/azure-functions-eventgrid-extension/tree/dev/src/EventGridExtension/OutputBinding, but there is no information on this page and also on the event grid bindings page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d575e82-637b-32de-e64d-75adf4b6d976
* Version Independent ID: e34

[2019-11-15 09:04] KranthiPakala-MSFT commented on #42782
@ozhug Thanks for sharing your findings. I have submitted a PR to update the doc, to include Queued pipeline runs in Monitor pipeline runs code block. The doc changes should reflect soon.

Thanks again for pointing this out. :)

[2019-11-15 09:05] ram-msft commented on #42855
@bensimon24
![image](https://user-images.githubusercontent.com/49180516/68930733-073af200-07b5-11ea-927c-4d2baeb0bd64.png)

Please follow the below link for getting the confidence score.
https://stackoverflow.com/questions/57043876/can-i-retrieve-the-confidence-of-the-transcription-from-azure-cognitive-services/57142560#57142560

[2019-11-15 09:06] KranthiPakala-MSFT commented on #42812
@JeroenStravers1 Glad to know your issue was resolved. Thank you for confirming :)

[2019-11-15 09:11] AjayKumar-MSFT commented on #42895
@anujsharrma, Thanks for your valuable feedback!

We are only removing Easy Tables experience from Azure portal. Your Node.js backend will continue to work even after that.

You can leverage the current functionality supported by Easy Tables by following the instructions in this blog post - [Removing Easy Tables and Easy APIs from Azure App](https://azure.github.io/AppService/2019/07/25/Removing-E

[2019-11-15 09:14] ipvalverde opened #42903 "Screenshot with the metrics option is outdated"
The "Metrics" options is now under the "Monitoring" section (after Investigate)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7d1d08c-e980-272d-66f6-0d555b337399
* Version Independent ID: 12752877-297b-afa8-4c7c-42187718d85a
* Content: [Performance counters in Application Insights](https://docs.microsoft.com/en-us/az

[2019-11-15 09:18] DixitArora-MSFT commented on #42792
Hi @jublair  These options have been recently introduced in the doc by this [PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/90984) . Also if you see azure-webjobs-sdk dev branch code, (EnableDependencyTracking) it is present https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Logging.ApplicationInsights/ApplicationInsightsLoggerOptions.cs

But these changes(Ena

[2019-11-15 09:21] msrini-MSFT commented on #42737
![image](https://user-images.githubusercontent.com/47132998/68931802-4d915080-07b7-11ea-86a8-fca0c56e2481.png)

the above config worked for me. Make sure the Destination is ANY for the inbound rule (443) which you create.

[2019-11-15 09:22] msrini-MSFT commented on #42752
@zhusulai , Please tag me if you have any further questions.

[2019-11-15 09:22] #42752 closed

[2019-11-15 09:25] ram-msft commented on #42873
@maxluk Could you please help with the link to "Download the sample script files pytorch_train.py" in the [prerequisites](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-train-pytorch#prerequisites).

[2019-11-15 09:26] DixitArora-MSFT commented on #42902
Hi @wmekal-pgs Thanks for your feedback. We will review and update as appropriate.

[2019-11-15 09:37] tdrjin commented on #42818
Hi Adam,

Here is the file.
[pdf.pdf](https://github.com/MicrosoftDocs/azure-docs/files/3850805/pdf.pdf)

Many thanks

[2019-11-15 09:39] jtuliani opened #42904 "How to assign a role to an MI?"
It would be helpful if the doc shows how to assign an RBAC role to the Managed Identity once it has been created. An identity with no roles isn't much use.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 048f07a8-7858-86df-1095-318cc7910e40
* Version Independent ID: 6ba8aaa8-53c9-3b4d-d158-3090416cdd90
* Content: [How t

[2019-11-15 09:42] KalyanChanumolu-MSFT commented on #42901
@TomaszOledzki Thank you for the feedback.
This is being assigned to the content author to evaluate and update as appropriate.

@stevestein Should we add a reference to this page ?
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-scale-resources

[2019-11-15 09:57] ppoinha commented on #36131
Correct link for the redirect URL is:
https://www.myworkday.com/"tenant"/login-saml2.htmld

This will work !

[2019-11-15 10:09] snehaamicrosoft commented on #42007
Answering the initial question, assessment is optional for any kind of migration (agent-based or agentless). BUt having step, we strongly recommend you to do it. Uninstallation of the Azure Migrate appliance is not needed for agent-based migration. If you do not need the appliance/do not want to profile further, you can delete the appliance, but is not a pre-req/mandatory step.  Hope this clarifie

[2019-11-15 10:12] mayankprayas opened #42906 "AADSTS501491: Invalid size of Code_Challenge parameter."
Hi All, what will be possible cause for this issue.

I could not find more on this error code.

Any size limit is there for oauth 2.0 code_challenge parameter.

Please assist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fef99ca3-72bb-2c48-a62b-9ff9c314d72b
* Version Independent ID: e58fd3a1-0af8-6e16-3d78-3dc7489925

[2019-11-15 10:13] PramodValavala-MSFT commented on #42433
@tony-gutierrez Hope my previous comment clears things up.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-15 10:13] #42433 closed

[2019-11-15 10:18] AshokPeddakotla-MSFT commented on #42690
@AndyLiTaiwan These files will be downloaded automatically during installation. If you are looking to download manually, you can use the below links:

Microsoft Azure IoT Edge cab : https://aka.ms/iotedged-windows-latest-cab
Visual C++ redistributable package (VC runtime) msi : https://support.microsoft.com/en-in/help/2977003/the-latest-supported-visual-c-downloads

Hope this helps.

We will now p

[2019-11-15 10:18] #42690 closed

[2019-11-15 10:19] KrishnaG-MSFT commented on #42699
@anirudhcavale Any insights on this ?

[2019-11-15 10:21] KrishnaG-MSFT commented on #42712
@anirudhcavale Any insights on this ? ByteCount metric in this case is applicable only for virtual network public IP's ?

[2019-11-15 10:27] KrishnaG-MSFT commented on #42787
Assigning content owner @MGoedtel for visibility, review and document enhancement considerations if required.

[2019-11-15 10:45] AshokPeddakotla-MSFT commented on #42894
@vijayapotturu Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-15 10:46] AshokPeddakotla-MSFT commented on #42891
@JawadJaber Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-15 11:02] MarkDordoy opened #42907 "How to confirm agent is registered with Azure AD"
Hello,

Im going automate the install and registration of the agent. I can tell very easily if the agent is installed, however its unclear how to check if the registration is successful. Are you able to provide any insight on where in the machine it will allow for me to determine the agent is registered ok? Eg a file created or a reg key created? Or ideally a ps module/function i can ask.

Thanks

[2019-11-15 11:09] TomaszOledzki commented on #42901
@KalyanChanumolu-MSFT this site describes scaling database. I'm referring changing database size - it's not trivial task and not described neither in docs nor under https://docs.microsoft.com/en-us/azure/sql-database/sql-database-scale-resources.

[2019-11-15 11:10] tandyuk commented on #42596
Android 4.4.2 on Samsung Galaxy S5

[2019-11-15 11:22] nupur0308 commented on #33950
its working now.

thanks

[2019-11-15 11:22] KalyanChanumolu-MSFT commented on #42901
@TomaszOledzki I referred the link as it has this section where a powershell example is also provided for scaling a single database.

_Single Azure SQL Database supports manual dynamic scalability, but not autoscale. For a more automatic experience, consider using elastic pools, which allow databases to share resources in a pool based on individual database needs. However, there are scripts that c

[2019-11-15 11:23] cephalin commented on #29343
@rajan-chawla @mruptown The quickstart has changed substantially since this issue was last closed.

@kraigb Can you take a look to see if anything in VSCode is causing the issue?

[2019-11-15 11:29] jtuliani opened #42908 "User-assigned MI"
I believe many users will be using PS in automation scenarios. These would more likely use user-assigned MIs (to avoid automation running under 'Owner' rights). It would be good to included a worked example of how to do this. The existing examples are all using system-assigned MI.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2019-11-15 11:38] qusp66 opened #42909 "Wrong mounting point"
In this document it is stated that the mounting point for publishednodes.json is /appdata, but in the latest version of the publisher it is /app (or at least that is what the one can read in the publisher logs.
Which one is the correct mount point?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f65acbb4-fdf1-9709-09cf-

[2019-11-15 11:45] ManojReddy-MSFT commented on #42531
@MarkDordoy You do not have to enable Seamless SSO to enable PHS.

[2019-11-15 11:47] MarkDordoy commented on #42531
Can you confirm I dont need to enable sso to use phs and staged rollout. It's the staged rollout part I need confirmation on

[2019-11-15 11:50] TomaszOledzki commented on #42901
@KalyanChanumolu-MSFT You're referring about scalability, I'm referring database size - these are two different things.

[2019-11-15 11:52] ManojReddy-MSFT commented on #42531
@MarkDordoy Yes, Enabling SSO is optional.

"You have decided to move to either Password Hash Sync + Seamless SSO (Option A), or Pass-through Authentication + Seamless SSO (Option B). **Although seamless SSO is optional**, we recommend enabling seamless SSO to achieve a silent sign-in experience for users using domain joined machines from inside corporate network."

From the prerequistes section o

[2019-11-15 11:53] MarkDordoy commented on #42531
Thanks

[2019-11-15 11:53] #42531 closed

[2019-11-15 11:53] shashishailaj commented on #41646
@bchris999 We have checked with the back-end team and have requested to add a note on the page to explicitly provide some information on data that is freely ingested. The Azure Sentinel system uses Azure Monitor Log Analytics workspace which causes the [pricing](https://azure.microsoft.com/en-ca/pricing/details/monitor/) to change on the basis of log analytics pricing as well. Also the amount of d

[2019-11-15 11:53] #41646 closed

[2019-11-15 11:55] jakaruna-MSFT commented on #42897
@stewartadam
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-11-15 12:01] pauloj95 opened #42910 "Dracut drivers differences between RedHat and CentOS documentation"
Hello,

When trying to generate the VHD on VirtualBox, I was facing the problem that after the add_drivers with dracut explained on your [CentOS documentation](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/create-upload-centos), after the poweroff my initramfs was deleted, then I found yours [RedHat documentation](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/redhat

[2019-11-15 12:02] jakaruna-MSFT commented on #42602
@kensugasa  $Storage_Context is not defined anywhere. When you tried, Did you set any value to that variable outside of the script?

[2019-11-15 12:03] jakaruna-MSFT commented on #42602
Updated the script to reflect the suggested changes

[2019-11-15 12:05] jtuliani opened #42911 "JSON assignment file for user-assigned MI"
The JSON assignment file example is for a system-assigned Managed Identity. When using user-assigned MI, the file is a little different. And it's quite hard to figure out (took me a while with POSTMAN etc). Be good to have a user-assigned MI example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54bc2b59-0178-5a45-c8f

[2019-11-15 12:17] tkumark commented on #42700
Not related the load balancer. In Service fabric Security section you we can see certificates used by Service Fabric. We have Add-AzServiceFabricClusterCertificate for adding Cluster Certificates and Add-AzServiceFabricClientCertificate for adding Client certificates but  I do not see once for Reverse Proxy Certificate
![image](https://user-images.githubusercontent.com/2689801/68942847-905f2280-07

[2019-11-15 12:19] ferantivero opened #42912 "PowerShell support in Azure Functions is now generally available"
I think at /MSIgnite Powershell for Azure Function became GA. If that is correct, please let's  consider removing the preview note.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efae763f-03a9-b3b0-e7ad-52f9b1559438
* Version Independent ID: 2afd9c78-e5b0-5d34-b809-47d9576399d0
* Content: [PowerShell developer referenc

[2019-11-15 12:21] vit-svoboda opened #42913 "Broken links"
The links to InMemoryChannel and ServerTelemetryChannel on GitHub end up with a 404, possibly due to my lack of permissions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8dbdd38f-4dbd-a69a-6626-d61f8fbc1044
* Version Independent ID: 56b9c862-1edc-182a-5a56-9221f2735777
* Content: [Telemetry channels in Azure Applicat

[2019-11-15 12:33] SumanthMarigowda-MSFT commented on #42892
@AntiDesert5 Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2019-11-15 12:34] SumanthMarigowda-MSFT commented on #42896
@edburns Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2019-11-15 12:34] SumanthMarigowda-MSFT commented on #42900
@biren1234 Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2019-11-15 12:35] SumanthMarigowda-MSFT commented on #42903
@ipvalverde Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-15 12:36] SumanthMarigowda-MSFT commented on #42904
@jtuliani Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-15 12:37] SumanthMarigowda-MSFT commented on #42907
@MarkDordoy Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-15 12:38] SumanthMarigowda-MSFT commented on #42909
@qusp66 Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-15 12:39] SumanthMarigowda-MSFT commented on #42910
@pauloj95 Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-15 12:45] souravmishra-msft commented on #42486
@Jaans, Just wanted to follow up with you if you got a chance to collect the fiddler and share the same on azcommunity@microsoft.com, so that we can review that and help you further.

[2019-11-15 12:48] cmosqu commented on #42174
Hi there. Just wanted to point out two things:

1. In the below portion of the script, when you set the AKV Access Policy on a new key vault, it does not allow the creator of the vault to view or do anything anymore unless you specifically add that user to the access policy as a separate step or from the Azure portal separately... It would be great if you commented this in the script with a link f

[2019-11-15 12:48] souravmishra-msft commented on #42781
@menezesedu, I wanted to follow up with you and check if you got a chance to check the previous response. Do let us know know the actual failure as with that URL [https://autologon.microsoftazuread-sso.com]() not in the whitelisted state on firewalls, wont effect the sync as that url is no where used during the sync operation.

[2019-11-15 12:48] BakkerJan commented on #41822
Thanks. Just to be sure: enabling PHS feature via ADConnect does not result in a cutover?

[2019-11-15 12:50] vijayapotturu commented on #41558
Hi Team,I'm also facing the same issue today and unable to progress further.It could be great if we have some solution . Thanks,Vijaya

[2019-11-15 12:58] didaskein commented on #27555
We have an app service and we have System assigned managed identity enabled.
We give permissions to the System assigned managed identity to read the KV.
=> Everything is working perfectly. (we can access to @Microsoft.KeyVault(SecretUri...)

Now we change the WebApp in order to use **User assigned :**
 - Set System assigned status Off
 - Set the User assigned
 - Give permissions to the User assign

[2019-11-15 13:18] didaskein commented on #27555
I have found that it's not supported with User assigned
https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references

Do you know when it's going to be supported ?

Thank you.

[2019-11-15 13:31] dmaxwe22 opened #42914 "Missing documentation on String function formatNumber"
Missing documentation on Logic App String Function called formatNumber

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03aa9e88-7fa0-56ab-f794-58f0c37b6d7a
* Version Independent ID: 25c5ef5c-6ba4-f5ff-f94b-8f2818ec2feb
* Content: [Reference guide for functions in expressions - Azure Logic Apps](https://docs.microsoft.co

[2019-11-15 13:44] IEvangelist commented on #42887
I have a pull request in that addresses this, thank you for bringing it to our attention.

[2019-11-15 13:46] Gamecock commented on #42849
Confirmed -> downgrading to Python 3.7 resolved.

[2019-11-15 13:46] MonikaReddy-MSFT commented on #42913
@vit-svoboda , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-11-15 14:01] IryKuz opened #42916 "Update a page"
Hello, I am a content manager in NetDocuments, and we now changed the UI and workflow of configuring NetDocuments SSO. Is there any way we can get this page updated? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48cd8351-026c-29b0-cf17-ed2bd3f57881
* Version Independent ID: f36b69f2-3f8e-bdd8-ef18-9f79ba141716

[2019-11-15 14:05] bensimon24 commented on #42855
Thank you for the reply. I was looking at that stack overflow post, and it looks like it was written for C#. Are there any examples for how to configure OutputFormat in python? Despite looking, I am unable to find the same functionality or an example in the python docs.

[2019-11-15 14:09] deepikabandhanadham commented on #42870
Yes, it is set to true.  "enableSkipIncompatibleRow": true, Pipeline is logging incompatible rows to a file. Issues is it takes long time to execute ~300x times more execution times when at least one incompatible row is found.

[2019-11-15 14:13] lonevvolf opened #42917 "Restore As Files option missing?"
We do not have an option to Restore As Files - this would be very useful!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89e13d87-ad6b-accc-6cbd-de6fad4435d4
* Version Independent ID: 654c5cec-2946-87fa-8b33-a82ffd4f3758
* Content: [Use Azure Backup to restore SQL Server databases on an Azure VM](https://docs.microsoft

[2019-11-15 14:24] svangeti commented on #41348
Thanks @ggailey777 . I haven't tried core tools command but tried deploying from VS Code which in the backend uses same command I believe.

[2019-11-15 14:38] kamranbashir opened #42918 "B2C Sign in policy v1 expiry date May 1, 2020?"
Hi Team,
we have B2C Sign in policy v1 and v2 in azure portal

I heard for B2C Sign in policy v1 (B2C_1A_signup_signin).
After May 1, 2020 you will not be able to use Configurable Token Lifetime policy to configure session and refresh tokens. You can still configure access token lifetimes after the deprecation.
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-config

[2019-11-15 14:43] kamranbashir opened #42919 "May 1, 2020 expiry date B2C Sign in policy v1"
Hi Team,
we have B2C Sign in policy v1 and v2 in azure portal

I heard for B2C Sign in policy v1 (B2C_1A_signup_signin).
After May 1, 2020 you will not be able to use Configurable Token Lifetime policy to configure session and refresh tokens. You can still configure access token lifetimes after the deprecation.
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-config

[2019-11-15 14:45] PramodValavala-MSFT commented on #42912
@ferantivero Thanks for the feedback! We will review and update accordingly.

[2019-11-15 14:45] datafisk opened #42920 "Connect cross subscription VNets to a hub?"
Hello, is it possible to connect a VNet from another subscription or tenant to a hub? Thinking something similar to standard peering where you can peer across subscriptions using the VNet id. Is that possible? Perhaps add an entry in the FAQ for that use case?

regards,

Peter

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-11-15 14:50] arashaga opened #42921 "Where is the limitation on the request imit"
We get the limitation error for number of request for elastic pool as "The request limit for the elastic pool is 2520 and has been reached" but it is not documented here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 528deb7f-fe1c-f2af-68b3-18d74eb570d4
* Version Independent ID: 81880132-cf30-f913-3555-d78897f76611
*

[2019-11-15 14:51] PramodValavala-MSFT commented on #42914
@dmaxwe22 Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2019-11-15 14:58] asergaz commented on #22175
@larsonmpdx this issue is slighty different. For better tracking and scoping can I kindly ask you to open a new one and reference this issue?

@dominicbetts since January, do you recall if we enabled IoT Service Side Tokens to read telemetry from a single device?

Thanks!

[2019-11-15 15:00] mashed6 opened #42922 "Same UPN in multiple domains"
Example:

Six different domains connected to a single Azure AD connect server placed in a DMZ (Azure VM).

Is it a supported scenario to add the same UPN suffix under Domains and Trust for each of these domains? So contoso.com could be used locally in each of these AD domains.

I know it works technically. But is it supported is my question? Having trouble finding good answers to this question onl

[2019-11-15 15:08] jay98014 commented on #42681
Hi @Jason1666 - the short answer to your question is yes.

[2019-11-15 15:08] tmurfet commented on #24407
They are here:
https://channel9.msdn.com/Series/Building-Microservices-Applications-On-Azure-Service-Fabric?l=s39AO76yC_7206218965

[2019-11-15 15:13] jay98014 commented on #42846
Hi @aleazofeifam,

Overall I agree with @FrankHu-MSFT's response.  I am not familiar with the 16 character limit mentioned by Frank, but I assume that is an Azure AD limitation.  In an on-premises Active Directory environment, there is generally no practical limit to how long a password can be (it's usually 256 characters).   So in the onprem AD enviroment, "ContosoContosoContosoContosoContosoCont

[2019-11-15 15:23] BenWhite27 commented on #16738
Any news on this, I'm planning a billing integration for our customers and want to make sure I'm using the correct APIs and not something that's deprecated?

[2019-11-15 15:26] whaakman opened #42924 "agreementType is incorrect"
Under "Creating subscriptions as an MPA" the following query is documented to return a key and value (among others) of ""agreementType": "MicrosoftPartnerAgreement""

GET https://management.azure.com/providers/Microsoft.Billing/billingAccounts?api-version=2019-10-01-preview

This is not what happens in practice. Even though creating subscriptions for customers (and the steps that come after work j

[2019-11-15 15:27] #42887 closed

[2019-11-15 15:29] kitsu commented on #19545
How about: You didn't answer the question?

For other people wondering, on the [Supported Mongo Features (3.6) page](https://docs.microsoft.com/bs-latn-ba/azure/cosmos-db/mongodb-feature-support-36) it states that `createIndexes`, `listIndexes`, and `dropIndexes` commands **_are_** supported.

Also Microsoft: Closing an issue isn't the same as resolving it.

[2019-11-15 15:38] KetanChawda-MSFT commented on #42686
@vladvino can you share your thoughts here?

[2019-11-15 15:38] djpmsft commented on #42819
Hi @mafis-hh,

You should be able to connect to your VNET ADLS using [managed identity](https://docs.microsoft.com/azure/data-factory/connector-azure-data-lake-storage#managed-identity) authentication and selecting allow trusted Microsoft services. We are actively working on full VNET support. What is the error you are getting? Is it at linked service creation time or at pipeline run time?

cc @li

[2019-11-15 15:42] AlphaCreative-Mike commented on #42215
Another thing you can do is using the Azure CLI you can get the properties in JSON of the routing rule.  You can take the values from what is returned with the command below and match them to the schema in the document here: [https://docs.microsoft.com/en-us/azure/templates/microsoft.network/frontdoors-allversions](https://docs.microsoft.com/en-us/azure/templates/microsoft.network/frontdoors-allve

[2019-11-15 15:48] cephalin commented on #42692
#reassign:msangapu-msft

[2019-11-15 15:50] HeidiSteen commented on #41047
@roalexan @AjayKumar-MSFT   This was fixed weeks ago. Must have missed circling back on this issue to close it.  Thank you very much for filing the issue.  Closing now since there is no further action.

#please-close

[2019-11-15 15:50] #41047 closed

[2019-11-15 15:50] jacobwarduk opened #42925 "Example incomplete"
When using the npm based setup, it is necessary to make a call to `trackPageView` after calling `loadAppInsights`, which isn't documented here in the example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: deaf88eb-b88f-7110-2982-6f7bca367b6a
* Version Independent ID: b8309842-2c58-1d1c-f6e1-3dee50504191
* Content: [Az

[2019-11-15 15:58] diberry commented on #42890
#in-progress

[2019-11-15 16:03] ImrePyhvel commented on #40461
@cephalin I'm all for simplicity, but tutorials should walk through the simplest path. Writing extra loops are misleading as they can be taken as requirements. As can be seen, they have been and still are. If something extra is done as "best practice" then it would suffice to include those 2 words by the instructions.

[2019-11-15 16:04] MarkAtAgilliance commented on #35794
just to follow up, I eventually did a similar thing but used powershell script instead.  Details in the solution here https://stackoverflow.com/questions/57192228/using-function-app-connector-in-adf-how-to-override-parameters-in-ci-cd
I will also investigate if the custom parameters approach can work around this since we need it for another reason (>256 params).

[2019-11-15 16:04] BharathNimmala-MSFT commented on #42925
@jacobwarduk Thank you for bringing this to our notice and sharing your feedback, will further validate it and update the document accordingly.

[2019-11-15 16:07] MGoedtel commented on #42787
@nakamacchi + @KrishnaG-MSFT - We will take this feedback for review, validation, and add to the documentation.  I'll create a work item for this now and see if we can address in our next sprint.  Thanks!  #please-close

[2019-11-15 16:07] #42787 closed

[2019-11-15 16:08] AshokPeddakotla-MSFT commented on #42092
@robinsh Please check this issue and update doc as appropriate.

[2019-11-15 16:10] rhurey commented on #42855
Assuming you imported the Speech SDK as:
`import azure.cognitiveservices.speech as msspeech`
and your Speech Config object is named speech_config

You can set the property using:
`speech_config.output_format = msspeech.OutputFormat.Detailed`

[2019-11-15 16:13] ibenjemia commented on #42379
Downgrading VSCode to version 1.39.2 will fix this.

[2019-11-15 16:13] iharrington commented on #41244
Feedback: Update the docs to identify the "new UX" and possibly hide the creation of this "old UX" to avoid confusion in the future.

@TomArcherMsft @ganga1980

[2019-11-15 16:13] joshheitzman-redcley-v-joheit-msft opened #42928 "Bad Link for "Download the sample script files mnist-tf.py and utils.py""
Following the link for the text "Download the sample script files mnist-tf.py and utils.py" results in a 404. Going up one directory it doesn't appear there is a typo in the link's URL and the subdirectory in the git repo is simply missing.  There is a related issue open for the PyTorch version of this document:  https://github.com/MicrosoftDocs/azure-docs/issues/42873

---
#### Document Details

[2019-11-15 16:17] rickystream94 opened #42929 "Service Fabric Application upgrade is triggered even with no changes to ARM template"
According to the paragraph at https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-concept-resource-model#upgrade-service-fabric-application-using-azure-resource-manager, Service Fabric application upgrades should be only triggered if some specific changes are ported to the ARM template, including applicationTypeVersion.

For the sake of testing, I have successfully deployed a Serv

[2019-11-15 16:22] mamccrea commented on #42577
Thank you for the feedback. I've updated the article with a newer runtime. #please-close

[2019-11-15 16:22] #42577 closed

[2019-11-15 16:23] nhwilly commented on #40990
I ended up using https://quicktype.io/ and pasted the contents of the file was downloaded from Google that contained their credentials info.  From that I created a C# class and included it in the project.  Then when the vault spits back the string, I had `JsonConvert` deserialize it into the new class, then reserialized it and passed it to the Firebase Admin function.  Finally worked, but, wow.  A

[2019-11-15 16:26] msangapu-msft commented on #42692
Hi @dcbrown16 - yes, the preview feature would apply to Linux containers (built-in and custom containers).

[2019-11-15 16:39] MarileeTurscak-MSFT commented on #42916
@IryKuz thanks for bringing this to our attention!

If you provide the new screenshots we can definitely add them here. Would you be able to email them to me at AzCommunity@microsoft.com?

Otherwise I will check with the team to see if they have these images. @jeevansd

[2019-11-15 16:43] kraigb commented on #29343
I think I have seen that particular error on occasion, and if memory serves, redeploying cleared it up.

If it persists, though, the best place to resolve it is to file an issue on https://github.com/Microsoft/vscode-azureappservice/issues.

[2019-11-15 16:55] artsheiko commented on #42190
@ChiragMishra-MSFT, @linda33wj any news ?

[2019-11-15 17:06] DCtheGeek commented on #42729
@jtuliani The team has a task to get this information into the Reference docs which is where those details should exist. Since this isn't an issue with the Service docs, I'm going to close this issue. Once the Reference docs have this information, I'll update this article as appropriate. Thanks for reporting it!

@MicrosoftDocs/azure-cxp-triage #please-close

[2019-11-15 17:06] #42729 closed

[2019-11-15 17:07] kilasuit opened #42931 "Provide default Role GUID's on this page"
Built in roles have a default GUID that is used across all tenants

This should be added on this page to allow people writing and using these roles quick simple use of them in templates without needing to resort to CLI/PowerShell to extract these GUID's from the roles

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9958

[2019-11-15 17:07] DCtheGeek commented on #42908
#assign:DCtheGeek

[2019-11-15 17:07] nhwilly commented on #32244
Yeah, me too.  My code is littered with `Debug` level messages.  For my hosted site, I set the `host.json` settings to `Information` so that I won't have it showing/slowing in production.  Interestingly, debug messages are showing in the App Insights Live Stream, but not the Function App Log Stream.   I suppose that's because I have the `AzureWebJobsDashboard` setting removed.

[2019-11-15 17:08] DCtheGeek commented on #42908
@jtuliani Thanks for the feedback. I'll discuss with the team.

@MicrosoftDocs/azure-cxp-triage Please label 'doc-enhancement' and #in-progress.

[2019-11-15 17:12] DCtheGeek commented on #42911
#assign:DCtheGeek

[2019-11-15 17:12] DCtheGeek commented on #42911
@jtuliani Thanks for the feedback. I'll discuss with the team.

@MicrosoftDocs/azure-cxp-triage Please label 'doc-enhancement' and #in-progress.

[2019-11-15 17:15] Anthony-Breneliere commented on #41348
@ggailey777 I use an Azure Devops Task AzureFunctionApp@1, that performs an http post deployment https://$alarmhub-scoring-int-fn:***@alarmhub-scoring-int-fn.scm.azurewebsites.net/api/zipdeploy?isAsync=true&deployer=VSTS_ZIP_DEPLOY

The function app is previously created by an ARM template, but without code, with WEBSITE_RUN_FROM_PACKAGE= 1

To make it work with WEBSITE_RUN_FROM_PACKAGE= 1, I also

[2019-11-15 17:21] KrishnaG-MSFT commented on #42911
@DCtheGeek Added 'doc-enhancement' and 'in-progress' labels.

[2019-11-15 17:21] TechTrooper opened #42932 "Azure AD Premium P1 license requirements for dynamic device groups?"
Hello,

Can you please clarify if this also applies to dynamic device groups?

It would make Windows Autopilot deployment profile assigning much more difficult as it's usually done with dynamic device groups.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f7a4070-1be8-5f1f-0092-68fb6b9e2305
* Version Independent ID: c

[2019-11-15 17:22] IryKuz commented on #42916
Great, I will email you the screenshots shortly.

Thanks a lot!

From: Marilee Turscak - MSFT <notifications@github.com>
Sent: Friday, November 15, 2019 6:40 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Iryna Kuziv <iryna.kuziv@netdocuments.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Update a page (#42916)

@IryKuz<https://github.com/Ir

[2019-11-15 17:22] KrishnaG-MSFT commented on #42908
@DCtheGeek Added'doc-enhancement'and'in-progress'labels.

[2019-11-15 17:36] TonyLugg opened #42933 "How To Get Current FCM Token"
The doc shows how to setup FCM in the Android app with an OnNewToken override which seems to work if I uninstall the app.  But, how can one retrieve the current token?  If for some reason our attempt to send the "new" token to our back end fails, the app is left without the ability to resend the token the next time the user opens the app.  I've seen Android docs about using FirebaseInstanceId.getI

[2019-11-15 17:48] YutongTie-MSFT commented on #42928
@joshheitzman-redcley-v-joheit-msft
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-15 17:50] yegu-ms commented on #42447
@leftmostlane Thank you for your feedback! We're working on Blazer support. This is being tracked [here](https://github.com/Azure/AppConfiguration/issues/170).

#please-close

[2019-11-15 17:50] #42447 closed

[2019-11-15 17:50] NavtejSaini-MSFT commented on #42556
@allenwux Please check this Pull request and help us with getting it reviewed.

[2019-11-15 17:54] FunkEinstein commented on #41409
@ManojReddy-MSFT so I tested this out and old issue is gone, yay.
But I found another problem! After my service processed SAML LogoutRequest it create SAML LogoutResponse and send it into url that specified in SAML metadata in SingleLogoutService. This behavior specified by official SAML Specification:
"When either the principal invokes a logout at the session authority, or a session participant s

[2019-11-15 17:59] vavane-ms commented on #42845
Oh, I see, thank you. What about guidelines for cancellation, do you have any? Do you see any problems with treating a durable entity as a cancellation token?

[2019-11-15 18:01] stephanwehr commented on #40995
@xarly , after downgrading the module "Az.Network" it worked for me.

Execute the following commands in a privileged shell:
[code]

[2019-11-15 18:10] j-martens commented on #40694
#reassign:@rastala @wbaumann-microsoft
Can you help here please?

[2019-11-15 18:15] jeevansd commented on #36131
@v-viinde and @v-nagta Can you please fix this?
@chetansriv and @v-pugoe for visibility.

[2019-11-15 18:20] NeilMeredith opened #42934 "Missing information resetting skill output cache"
On the page there is some text about invalidating skill outputs in the cache.

"The reset skills API accepts a POST request with the list of skill outputs in the cache that should be invalidated".

The full details are supposedly in the linked documentation for the reset API, but there is no information about it there.  What does a reset skills post request look like with the list of skill outputs

[2019-11-15 18:20] FrankHu-MSFT commented on #42931
@kilasuit Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-15 18:20] FrankHu-MSFT commented on #42932
@TechTrooper Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-15 18:23] sladeedmonds opened #42936 "Reader role has access to read VPN shared secrets"
According to documentation, Reader role shouldn't have access to "secrets".  However, as Reader, it is possible to read a shared key (PSK) for a VPN connection.  Why is this the behavior?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99581afb-7950-6daa-7227-055d04446b7e
* Version Independent ID: f1a5bf89-9e54-aede-3a9

[2019-11-15 18:25] FrankHu-MSFT commented on #42936
@sladeedmonds Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-15 18:29] SaurabhSharma-MSFT commented on #42936
@zjalexander Can you please help on this one if this is a product issue.

[2019-11-15 18:32] cbrooksmsft commented on #42872
@BernardoMB - this API requires calling with the full current set of stored access policies.  You will need to retrieve them with a get, and then set (preferrably using an if-match condition on the etag) using the different public access value in the header.

FYI, container public access settings can also be set via the ARM API and the storage resoruce provider.  See https://docs.microsoft.com/en-

[2019-11-15 18:33] CarlRabeler commented on #42901
@TomaszOledzki Please clarify what difficulties you are having in scaling your database size - are you trying to resize it using the Azure portal, using PowerShell, T-SQL, the Azure CLI, or the REST API? Once I understand this better, I will be able to assist and to improve the docs content. Thanks, Carl

[2019-11-15 18:38] tiwari-abhishek opened #42937 "API Management: Switching between Consumption Tier and Basic/Standard/Premium Plans"
Is switching between Consumption and Basic/Standard/Premium tiers possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7232dd1a-d250-1304-14ec-db25f04cff48
* Version Independent ID: 29250085-defe-18ac-1ca9-2155b778127b
* Content: [Upgrade and scale an Azure API Management instance](https://docs.microsoft.com/en-us/

[2019-11-15 18:41] xiaoharper commented on #41738
@EricKyaw  sorry for late reply Eric. Team is investiaging and will get back to you next week.

[2019-11-15 18:42] diberry commented on #42809
#please-close

[2019-11-15 18:54] anirudhcavale commented on #42699
@shashikant29 unfortunately the default network in/out billable metric on VMs doesn't have the ability to filter on the instances; it only shows a total. To capture this data, we recommend deploy an agent on the box and collecting the Network Interface performance counters.

[2019-11-15 18:56] anirudhcavale commented on #42712
@KrishnaG-MSFT it is a doc bug, we will be updating the doc in the next few weeks.
#please-close

[2019-11-15 18:56] #42712 closed

[2019-11-15 18:57] Karishma-Tiwari-MSFT commented on #42929
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-15 18:59] soham-bigdata opened #42938 "bread-crumbs, landing page should show all link of the sub-section."
It will be great if the breadcrumbs have hyper-links. E.g. How to Guide / Delta Lake / Introduction. If we click on Delta Lake - all the links about it should show up.  E.g., Optimizations,  Introductory Notebooks etc.  ( Currently it is very difficult to navigate and send "one link" to our customers to know the value of Delta Lake.  Thanks for your consideration!

---
#### Document Details

⚠ *Do

[2019-11-15 19:02] olandese opened #42939 "Callback URL is different up to the API used"
i have create a logic app with an HTTP trigger. In my code I try to get the url to call the logic app using the REST API, as documented here: https://docs.microsoft.com/en-us/rest/api/logic/workflowtriggers/listcallbackurl#workflowtriggercallbackurl
Unfortunately the url I get back is not the correct one.

I discovered the url is generated based on the api version I provide for the REST call.

**E

[2019-11-15 19:05] msangapu-msft commented on #39935
#please-close

[2019-11-15 19:05] #39935 closed

[2019-11-15 19:09] riedyw opened #42940 "Missing and/or poorly named plans"
I'm trying to manage my licenses via Powershell and the license entries don't fully correlate between the following:

- portal.office.com

- the webpage reference https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/licensing-service-plan-reference

- querying the names from Powershell via Get-AzureADSubscribedSku | sort skuid | select sku* -expand serviceplans

Since I'm try

[2019-11-15 19:11] qianw211 commented on #37716
@iakovmarkov Hi, we're tracking this issue, and will let you know once the issue is resolved.  Thanks!

[2019-11-15 19:26] jpconnock commented on #42276
I've rewritten the paragraph -- it should be live shortly after 3pm PST today.  Thanks again!

#please-close

[2019-11-15 19:26] #42276 closed

[2019-11-15 19:26] ecfan commented on #42914
@dmaxwe22 & @PramodValavala-MSFT, thanks for alerting me about this issue. I've opened a work item to address in our current sprint.

[2019-11-15 19:34] SnehaGunda commented on #42106
@simonvane I reached out to our dev team to find more details. Here is the information I have:

The leftover RUs is referring to the unused replica budget. The concept of replicas & replica budget is very internal to the Cosmos DB implementation and not something end-users need to worry about. Data is deleted once there are enough RUs available to perform the delete operation. Though the data dele

[2019-11-15 19:36] Adam-Smith-MSFT commented on #42906
Could you provide us with the documentation link you were referring to ?

[2019-11-15 19:37] infact commented on #40089
I am facing the same issue.Any resolution ?

[2019-11-15 19:37] SnehaGunda commented on #39542
@HowardEdidin Please share if you have any update on this issue. Considering the SLAs on the Gitissues on our end, would be great to update the content and close it.

[2019-11-15 19:41] davemedvitz opened #42941 "Cloud Shell URL for MAG"
Now that Cloud Shell is available in the Azure Government, could you update this to include the standalone URL to cloud shell?

[2019-11-15 19:42] qianw211 commented on #41840
@gbshr Hi, we're currently investigating, and I'll let you know once we find the answers to your question.  Thanks for your patience!

[2019-11-15 19:51] simonvane commented on #42106
Please could you re-open this. It still doesn't answer my question with respect to the new autopilot feature.

When using autopilot, do TTL deletes use up spare RUs up to the maximum RUs specified?
If the system is not under load, will TTL deletes in any way, increase the RUs used?

The document is still ambiguous by not mentioning autopilot and whether that changes how this works.

[2019-11-15 19:53] michelamarie commented on #41981
Okay. Thanks for the link, @TravisCragg-MSFT. It appears the proper Azure CLI authentication method for a task like this is the "service principal."

[2019-11-15 19:55] galvesribeiro commented on #13627
For the record, the "suggested" document doesn't work anymore. Running the emulator in a VM and then use SDK 3.x+ fail with SSL certificate issue.

[2019-11-15 19:59] CarlRabeler commented on #42901
@TomaszOledzki you can change the pricing tier on the secondary, but changing the database size is a change on the primary that replicates to the secondary - because the secondary is read-only (this is similar to updating indexes, etc which must be done on the primary)
@MashaMSFT please address in our content

[2019-11-15 19:59] SnehaGunda commented on #40649
Thanks, everyone for the comments and discussion. Thanks, @j82w for fixing the issue. The update should be live later today.

We will now close this issue.

#please-close

[2019-11-15 19:59] #40649 closed

[2019-11-15 20:02] CarlRabeler commented on #42478
https://github.com/MicrosoftDocs/sql-docs-pr/pull/12937

#please-close

[2019-11-15 20:02] #42478 closed

[2019-11-15 20:04] jopapeador18 opened #42942 "Nested virtualization - supported on production environments."
As its being suggested in the article:

"Nested virtualization is supported in several Azure virtual machine families. This capability provides great flexibility in supporting scenarios such as development, testing, training, and demonstration environments."

I'm wondering if this scenario will be supported by AZURE in a production environment ?

BR.

---
#### Document Details

⚠ *Do not edit this

[2019-11-15 20:05] Karishma-Tiwari-MSFT commented on #42628
@asubmani Only regular IAAS VMs are covered currently.
We appreciate your feedback. Please post this as a product feedback [here](https://feedback.azure.com/forums/216843-virtual-machines). This will allow the community to up-vote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedba

[2019-11-15 20:07] mvhbharath opened #42943 "Please explain why DeleteItem not working in Python"
I am trying to delete an item in cosmos db using python.  This container has partition key as id.

document_link = self.container_link + '/docs/' + item['id']
self.client.DeleteItem(document_link)

when I run the above code I receive the below error.  Please let me know how to add the partition key to the above document link.

Thank you

if response.status_code >= 400:

E           azure.cosmos.er

[2019-11-15 20:08] BharathNimmala-MSFT commented on #42925
@jacobwarduk Thanks again for sharing the feedback, raised a PR to update the document accordingly.

Closing the issue for now, however if you have any further feedback please let us know. Thanks

[2019-11-15 20:08] #42925 closed

[2019-11-15 20:13] FrankHu-MSFT commented on #42938
@soham-bigdata Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-15 20:18] Vask006 opened #42944 "Not able to add storage account to the streaming job."
Hi,

Getting issue in adding storage account to the streaming job. Getting error. as The Required property 'container is missing from the request'. But the thing is i am not able to see the option for selecting container. Can you please look into it.
![storageerror](https://user-images.githubusercontent.com/14163915/68972998-bb874900-07b2-11ea-92bd-936e4b3f9af6.png)

Thanks & Regards
Anand
![stora

[2019-11-15 20:19] Vask006 opened #42945 "Not able to add Storage account to the streaming job."
Hi,

Not able to add Storage account to the streaming job. getting error The Required property 'container is missing from the request'. But the thing is i am not able to see the option for selecting container

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a9f5843-5ef0-abb8-b539-50d78d1545c8
* Version Independent ID: 1

[2019-11-15 20:20] FrankHu-MSFT commented on #42938
@mamccrea can you take a look into this? It looks like what is being requested when clicking on the main section, have a landing page that shows all subsections. See screenshot below :
![image](https://user-images.githubusercontent.com/6366013/68973101-3bf17e00-07a2-11ea-9a84-4b021129764b.png)

[2019-11-15 20:28] Mike-Ubezzi-MSFT commented on #42850
@BalakumarVasudevan I think you are going to want to use the [List Offers](https://docs.microsoft.com/en-us/rest/api/cosmos-db/list-offers) operation, which will return an array of collection (`colls`) but you should see a value of `offerThroughput`. This is not by subscription though. It is by database account.

[2019-11-15 20:36] VanMSFT commented on #41298
@rohitnayakmsft - Hey Rohit, I think we are aware of this issue. Do you mind taking a look? Thanks!

[2019-11-15 20:38] BalakumarVasudevan commented on #42850
Hi Mike,

I remember trying out this Offer API before, but would it still give the throughput that is currently provisioned for a DB or just a the standard RUs for that Offer?

Right now I’m able to get the throughput using the Monitor API<https://docs.microsoft.com/en-us/rest/api/monitor/metrics/list> but was wondering if there’s another way for cosmos DBs.

Thanks,
Balakumar

From: Mike Ubezzi <

[2019-11-15 20:40] mvhbharath commented on #42943
This post helped me resolve issue.
https://stackoverflow.com/questions/46878227/cosmos-db-delete-document-with-python

 The meaning of partitionkey property in the options[].

For example , my container is created like this:

enter image description here

My documents as below :

{
    "id": "1",
    "name": "jay"
}

{
    "id": "2",
    "name": "jay2"
}
My partitionkey is 'name', so here I have t

[2019-11-15 20:44] Mike-Ubezzi-MSFT commented on #42850
@BalakumarVasudevan I am doing some testing to support/deny the Offer operation. Hold tight. Reaching out to @SnehaGunda for additional input.

[2019-11-15 20:46] MarileeTurscak-MSFT commented on #42918
@kamranbashir thanks for the question! I'm closing this out since it is a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/42919

Will continue on that thread!

[2019-11-15 20:46] #42918 closed

[2019-11-15 20:47] MarileeTurscak-MSFT commented on #42919
@kamranbashir
Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-15 20:52] KranthiPakala-MSFT commented on #42945
@Vask006 Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate

[2019-11-15 20:52] miaojiang commented on #42460
Hi @harouny, technically yes, therefore it's recommended to use different certs for each backend service.

[2019-11-15 20:52] SnehaGunda commented on #39566
Apologies for the long delay, I dropped an email to @abinav2307 and @tknandu to further debug.

[2019-11-15 21:04] soham-bigdata commented on #42938
Yes. Something like this:  Delta Lake — Databricks Documentation . 
By the way, I work for databricks as a Pre-Sales SA. The reason I am requesting this, is because, after Azure Databricks Demo on Delta Lake, Machine Learning etc. We follow up with customers with key links on Delta, Machine Learning, etc. So having those landing pages are super important for our follow up emails. 
Hope you can hel

[2019-11-15 21:15] sethmanheim commented on #41213
@ukez15 Thank you for taking the time to send your feedback! I have made a lot of updates to this article, so please have a look and open a new GitHub issue if you have any further feedback on this article.

[2019-11-15 21:16] sethmanheim commented on #41213
#please-close

[2019-11-15 21:16] #41213 closed

[2019-11-15 21:17] BernardoMB commented on #42678
@anilmur Thanks!

[2019-11-15 21:20] BernardoMB commented on #42872
@cbrooksmsft Thanks!

[2019-11-15 21:36] mkyl commented on #22816
Any updates on this?

[2019-11-15 21:44] gaikovoi opened #42946 "Number of the firewall rules"
The page doesn't provide information about maximum number of firewall rules

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f3821d7-a433-9271-303d-52e1d6b6df03
* Version Independent ID: ce37d52d-2b87-ce34-ebba-be2afba9ccc8
* Content: [Configure Azure Key Vault firewalls and virtual networks - Azure Key Vault](https://d

[2019-11-15 21:53] gaikovoi opened #42947 "Azure function app uses inbound IP for outbound connections"
1. This article doesn't mention that function app uses its inbound IP (Virtual IP address) to access KV as described here - https://docs.microsoft.com/en-ca/azure/app-service/app-service-key-vault-references
2. No information provided how to find this "Virtual IP address" outside of the portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-11-15 21:57] FrankHu-MSFT commented on #41237
Hey @gprl thanks for letting us know about this, currently we are looking into fixing this issue as soon as possible. Once we've resolved the issue we'll update this thread accordingly.

I apologize for the inconvenience, this should be working but in some case scenarios this is not working.

[2019-11-15 22:00] #42695 closed

[2019-11-15 22:01] tfitzmac commented on #42695
@esbenbach - thanks for the question. The main distinction is whether the insights resource depends on the app service plan or the web app. I have submitted an update to clarify this issue.

[2019-11-15 22:06] tfitzmac commented on #42718
@jjindrich - we'll close this issue, but feel free to reopen if you have more questions.

[2019-11-15 22:06] tfitzmac commented on #42718
#please-close

[2019-11-15 22:06] #42718 closed

[2019-11-15 22:08] joshheitzman-redcley-v-joheit-msft opened #42948 "pip dependency missing"
The remote training failed with a message about 'azureml-dataprep[pandas,fuse]&gt;=1.1.14' being missing and to pip install that.

After changing:
                 pip_packages=['keras', 'matplotlib'],
to:
                 pip_packages=['keras', 'matplotlib', 'azureml-dataprep[pandas,fuse]&gt;=1.1.14'],

the remote training made it further before failing for a different and unrelated reason.  The

[2019-11-15 22:08] whihathac commented on #34780
I agree with @PingPongSet. This sample doesn't give an idea of how to start from scratch from VS.

[2019-11-15 22:09] mpchen opened #42949 "Need subscription aliases for setting the diag settings for Activity logs with Azure Policy"
I want to use Azure Policy to set diag settings for activity logs. However, it does not seem that the "Microsoft.Subscription" resource type has those aliases published.

Current aliases are only the following:

[
  "Microsoft.Subscription/SubscriptionDefinitions/subscriptionId",
  "Microsoft.Subscription/SubscriptionDefinitions/subscriptionDisplayName",
  "Microsoft.Subscription/SubscriptionDefin

[2019-11-15 22:13] jublair commented on #42792
Sounds good - will follow up.

Given that these changes are not yet in master, this might cause some confusion to end users. I've already seen this variable referenced in the Azure Functions Host repo issues discussion: https://github.com/Azure/azure-functions-host/issues/3741#issuecomment-548911611

I'll continue the discussion there, but I reckon we should keep this issue open given the document

[2019-11-15 22:13] YutongTie-MSFT commented on #42948
@joshheitzman-redcley-v-joheit-msft
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-15 22:19] FrankHu-MSFT commented on #42946
@gaikovoi Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-15 22:22] TravisCragg-MSFT commented on #42573
@szolla We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-15 22:22] #42573 closed

[2019-11-15 22:25] normesta commented on #29695
#please-close

[2019-11-15 22:25] #29695 closed

[2019-11-15 22:25] amitbapat commented on #42946
Documented here: https://docs.microsoft.com/en-us/azure/key-vault/key-vault-overview-vnet-service-endpoints

[2019-11-15 22:28] giancarlos29 opened #42950 "Trying to read a BSON in JSON"
hi,
im trying to read from MongoDB I think im using strick mode, but i dont seem to get the right json objetc, for example:

this is what im getting
![image](https://user-images.githubusercontent.com/42919572/68979983-8809e600-07d5-11ea-9a0b-ce4328180eff.png)

and this is what i want
 "_id": "5000069",
  "Key": "edf54559-752a-3e44-a3af-dc8b682ddea3"

---
#### Document Details

⚠ *Do not edit this

[2019-11-15 22:34] svangeti opened #42951 "Event Filtering at subfolder in container is not working "subjectBeginsWith""
I want to filter event at subfolder level within a container using Event Grid subscription on a storage account. It's only working at container level but not at sub folder level. How do I make it work? or it a hard limitation to work on only at container level?
This works:

Doesn't work:

The documentation has examples with subfolder level as well

---
#### Document Details

⚠ *Do not edit this se

[2019-11-15 22:38] mike-urnun-msft commented on #42460
With the answer above, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-11-15 22:38] #42460 closed

[2019-11-15 22:39] artemrogov opened #42952 "SAML SSO REST API AD FS"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f168986-8f8f-4e97-cba8-547564c97eb5
* Version Independent ID: 12ac4571-4f35-300e-9119-8d13673f3722
* Content: [Microsoft identity platform and SAML bearer assertion flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-saml-bearer-

[2019-11-15 22:40] svangeti commented on #42951
Never mind, I got it working. Please feel free to close.

[2019-11-15 22:41] #42951 closed

[2019-11-15 22:58] MarileeTurscak-MSFT commented on #42952
@artemrogov thanks for the comment! There is not enough description here for me to go on so please open a new issue describing the exact problem in the documentation you are seeing and we will gladly continue the discussion.

[2019-11-15 22:58] #42952 closed

[2019-11-15 23:00] joshheitzman-redcley-v-joheit-msft opened #42953 "KeyError exception raised during training"
"Download the sample script files mnist-keras.py and utils.py" is linked to https://github.com/Azure/MachineLearningNotebooks/tree/master/how-to-use-azureml/training-with-deep-learning/train-hyperparameter-tune-deploy-with-keras and referenced file named mnist-keras.py is located at https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/training-with-deep-learning/train-h

[2019-11-15 23:37] roygara commented on #42843
@JohnLBevan Thanks for reaching out, we appreciate it!

I've actually not managed to get the original script to work either but, it's not a credential issue. I'm having a problem with the cmdlet itself. I'm going to loop in the original script author and have them take a look. We'll keep you updated.

[2019-11-15 23:38] anshuman-goel commented on #24489
It is worth mentioning core tools version in docs @mike-urnun-msft

[2019-11-15 23:42] Alberto-Vega-MSFT commented on #42909
@qusp66 Are you getting an error? Can you please share more details? @dominicbetts are you aware of any changes?

[2019-11-15 23:45] #42723 closed

[2019-11-15 23:52] cmosqu opened #42959 "AKV Access Policy woes..."
Hi there. Just wanted to point out two things:

In the below portion of the script, when you set the AKV Access Policy on a new key vault, it does not allow the creator of the vault to view or do anything anymore unless you specifically add that user to the access policy as a separate step or from the Azure portal separately... It would be great if you commented this in the script with a link for

[2019-11-15 23:54] roygara commented on #42501
@ramadarla If there's any other questions related to this, please let us know. Otherwise I will close this issue on Monday. Thanks for reaching out.

[2019-11-16 00:05] Karishma-Tiwari-MSFT commented on #42757
Thanks, @mv3008 for helping out.
Thanks @brianharwell for the update.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-11-16 00:05] #42757 closed

[2019-11-16 00:16] tamram commented on #42819
#reassign: @normesta

[2019-11-16 00:20] MarileeTurscak-MSFT commented on #42629
1. Yes, if the users are hybrid or still exist on premises then this would still apply to them.
2. Yes, there is still a possibility if they're not fully migrated. If they've been fully migrated then I don't see any reason for service interruptions.

CC: @billmath

I am closing this out but if you have further questions feel free to tag me or @billmath in the comments and we will gladly continue t

[2019-11-16 00:20] #42629 closed

[2019-11-16 00:21] YutongTie-MSFT commented on #42953
@joshheitzman-redcley-v-joheit-msft
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-16 00:21] GiftA-MSFT commented on #42545
@kishan19 I just confirmed that this was a known issue and specific to a couple of regions. Based on the information I gathered, "there was a regression in recent notebook VMs images which caused docker initialization failure due to permission error". A fix has been deployed to every region, to patch you need to restart your notebook VM from the Compute page. I'll proceed to close this thread, but

[2019-11-16 00:22] #42545 closed

[2019-11-16 00:22] FrankHu-MSFT commented on #42830
hello @rameshjanjyam can you clarify your ask? Are you asking for more clarification in regards to this document?

I suggest taking a look at the github repo's documentation as well : https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/

I agree though there are some items here that need to be taken a look at, and it can definitely be improved.

@jmprieur could you

[2019-11-16 00:24] johnlnash opened #42961 "On demand backups and retention"
Please clarify if the on demand retention is still subject to the 200 snapshot limitation.  If it is you should really consider expanding it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4ced371-9e52-7aa7-f100-d736d7a686a2
* Version Independent ID: 5a8ae9f7-5eb4-6fc5-b444-7021b7031420
* Content: [Back up and restore

[2019-11-16 00:27] GiftA-MSFT commented on #42717
@alexespencer okay, yes, a new release is underway. I'll proceed to close this thread, but feel free to reach out if you have any more questions or concerns. Thanks.

[2019-11-16 00:27] #42717 closed

[2019-11-16 00:30] FrankHu-MSFT commented on #42932
Hey @TechTrooper this should apply to dynamic device groups as well, i'm going to take a look into this a bit further to confirm.

[2019-11-16 00:41] Karishma-Tiwari-MSFT commented on #42620
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-11-16 00:41] #42620 closed

[2019-11-16 00:42] Karishma-Tiwari-MSFT commented on #42628
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-11-16 00:42] #42628 closed

[2019-11-16 00:42] Karishma-Tiwari-MSFT commented on #42640
@abhi-nanobi Is there any update?

[2019-11-16 00:46] Mike-Ubezzi-MSFT commented on #19545
@kitsu This issue is almost a year old and the document has undergone an update since then. Although the publication date does not indicate this, the last update made to this document was October 1, 2019.

![Screenshot (481)](https://user-images.githubusercontent.com/37126106/68984785-feebb280-07c6-11ea-909f-4accb754596a.png)

If there is something the current iteration of the document does not co

[2019-11-16 00:49] Karishma-Tiwari-MSFT commented on #42079
The PR was not merged. It is merged now, the changes will show up in few hours.

[2019-11-16 00:50] Mike-Ubezzi-MSFT commented on #13627
@galvesribeiro Thank you for this detailed feedback. Can you please open a new Git Issue to address this specific documentation gap, so that it can be corrected. This specific issue is over a year old and related to another request. Thank you!

[2019-11-16 00:52] mike-urnun-msft commented on #42939
@olandese Thank you for your feedback! We will review and update as appropriate.

[2019-11-16 00:53] mike-urnun-msft commented on #42947
@gaikovoi Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-11-16 00:55] mike-urnun-msft commented on #42937
@tiwari-abhishek Thank you for your question. I'm pretty sure the process is manual for now as in that you have to recreate your APIs and config objects onto the tier that you're switching to.

@miaojiang could you confirm?

[2019-11-16 00:57] galvesribeiro opened #42962 "Wrong instructions on using Emulator on Mac OSX"
According to CosmosDB product docs, in order to use the emulator on Mac OSX, we require to have a Windows VM as suggested on [this document page](https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator#running-on-mac-or-linux).

However, that only works if you are using the old/2.x CosmosDB client SDK.

If you use then any version greater than 3.x+, you will have  no way to set the `HttpCl

[2019-11-16 00:58] galvesribeiro commented on #13627
@Mike-Ubezzi-MSFT it is done #42962 😄

[2019-11-16 01:03] amandasong opened #42963 "Add Telugu (te) to text languages"
Telugu is a support text translation language, as listed here: https://docs.microsoft.com/en-us/azure/cognitive-services/translator/language-support

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4de08d1f-8114-7bef-7ef4-022f79c69742
* Version Independent ID: 4c0ceab9-24ed-de01-db30-31acf1de0f48
* Content: [Language sup

[2019-11-16 01:14] MarileeTurscak-MSFT commented on #42922
@mashed6 please link the document that you are following so that I can better assist.

[2019-11-16 01:21] Karishma-Tiwari-MSFT commented on #42749
The next tutorial talks about creating load balancer [here](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-portal-sql-availability-group-tutorial#create-an-azure-load-balancer):

But I can see this doc creates a confusion when it talks about load balancer [here](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-window

[2019-11-16 01:29] FrankHu-MSFT commented on #42931
Hey @kilasuit I see for reference below are all the GUIDs for all the RBAC roles.

I'm going to engage @rolyon to determine best ways to add these GUIDs into the docs, or whether or not we should do this.

Id   : 8311e382-0749-4cb8-b61a-304f252e45ec
Name : AcrPush

Id   : 312a565d-c81f-4fd8-895a-4e21e48d571c
Name : API Management Service Contributor

Id   : 7f951dda-4ed3-4680-a7ca-43fe172d538d
Nam

[2019-11-16 01:30] FrankHu-MSFT commented on #42931
In addition to the above, you can utilize the powershell cmdlet defined here to get your respective GUIDs : https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-powershell

[2019-11-16 01:30] #42846 closed

[2019-11-16 01:34] Moehoo commented on #23543
As of April 1, 2018, Public peering was not available on new ExpressRoute circuits.

[https://azure.microsoft.com/en-us/blog/azure-expressroute-updates-new-partnerships-monitoring-and-simplification/](url)

I think, they do not update timely, the documentation about ER is something confusing stem from merging.
What is "Microsoft cloud services" in the screenshot as below?
![01](https://user-images

[2019-11-16 01:37] kecoli opened #42964 "LinkedServiceReference error"
LinkedServiceReference(ls_name) returns error, while LinkedServiceReference(reference_name=ls_name) is fine.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06b12410-3d72-8cc9-be6c-3b8e8521b90d
* Version Independent ID: 9ef477fb-8321-4763-d340-0fee977f4beb
* Content: [Quickstart: Create an Azure Data Factory using Pytho

[2019-11-16 01:39] Adam-Smith-MSFT commented on #42951
@svangeti Do you still need any help ?

[2019-11-16 01:41] Adam-Smith-MSFT commented on #42934
@NeilMeredith Thanks for the feedback! We are investigating the issue.

[2019-11-16 01:43] Adam-Smith-MSFT commented on #42917
@lonevvolf Thanks for the feedback! We are investigating the issue.

[2019-11-16 01:44] Adam-Smith-MSFT commented on #42920
@datafisk Thanks for the feedback! We are investigating the issue.

[2019-11-16 01:46] Adam-Smith-MSFT commented on #42921
@arashaga Thanks for the feedback! We are investigating the issue.

[2019-11-16 01:47] svangeti commented on #42951
I figured it out. Thank!!

[2019-11-16 01:49] Adam-Smith-MSFT commented on #42924
@whaakman Thanks for the feedback! We are investigating the issue.

[2019-11-16 01:51] TravisCragg-MSFT commented on #42920
@datafisk It is absolutely possible, but not in the same way as peering. You will need to use [This Process with a VPN Gateway in an Azure VNET](https://docs.microsoft.com/en-gb/azure/virtual-wan/connect-virtual-network-gateway-vwan) (in the same subscription or a different tenant / subscription) to connect to your Azure WAN.

Thanks for the feedback! I have assigned the issue to the content autho

[2019-11-16 01:52] femsulu commented on #42961
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-11-16 01:53] Adam-Smith-MSFT commented on #42933
Thanks for the feedback! We are investigating the issue.

[2019-11-16 01:55] femsulu commented on #42949
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-11-16 01:55] Adam-Smith-MSFT commented on #42940
@riedyw Thanks for the feedback! We are investigating the issue.

[2019-11-16 01:56] Adam-Smith-MSFT commented on #42941
@davemedvitz Could you provide us with the URL you were referring to ?

Thanks,
Adam

[2019-11-16 01:56] rolyon commented on #42931
Hi @kilasuit
Thanks for the feedback. All of these unique IDs are listed on the following page:
https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles
Can you clarify what you are requesting?
thanks

[2019-11-16 01:57] FrankHu-MSFT commented on #42946
Hey @gaikovoi please let us know if there are anymore questions in regards to the post amitbapat had provided!

[2019-11-16 01:58] Adam-Smith-MSFT commented on #42942
@jopapeador18 Thanks for the feedback! We are investigating the issue.

[2019-11-16 02:00] Adam-Smith-MSFT commented on #42944
@Vask006 Could you please provide us with the documentation link you were referring to ? Note: If your request is related to troubleshooting, please post your question in either MSDN Social Forums, or StackOverflow, if there is a documentation issue, please provide us with the URL so we can update it.

Thanks,
Adam

[2019-11-16 02:01] Mike-Ubezzi-MSFT commented on #42959
@cmosqu Thank you very much for bringing this to our attention. I will have the content team review this and update the document as appropriate.

[2019-11-16 02:27] Mike-Ubezzi-MSFT commented on #42962
@galvesribeiro Thank you so much for opening a new Git Issue for this. This has the correct resources associated with the document (content owner, etc.), where the old issue identifies content owners who have moved onto other projects.

[2019-11-16 02:31] galvesribeiro commented on #42962
Thank you for getting back @Mike-Ubezzi-MSFT

This issues is being blocking non-Windows users of CosmosDB for a long time. Every single reply I got from multiple MSFT channels points to always a workaround for years. Never a _real_ solution, which would be the cross platform emulator...

I hope this will eventually changed, for good.

Thank you!

[2019-11-16 02:35] Mike-Ubezzi-MSFT commented on #42962
Want to provide additional information that development for a MacOS/Linux version of the Emulator has started: [Add DocumentDB Emulator support for Mac OS X and *nix](https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/18533509-add-documentdb-emulator-support-for-mac-os-x-and)

However, the current instructions for installing on an Windows VM has some compatibility issues as well

[2019-11-16 02:38] Mike-Ubezzi-MSFT commented on #42962
I have made this a doc-enhancement as the [Running on Mac or Linux](https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator#running-on-mac-or-linux) section needs to include guidance for the latest revisions of the SDK.

[2019-11-16 02:42] cmosqu commented on #42959
Excellent you guys are doing a great job!

Sent from my iPhone

﻿
@cmosqu Thank you very much for bringing this to our attention. I will have the content team review this and update the document as appropriate.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-11-16 02:48] galvesribeiro commented on #42962
That is what I meant...

[code]

That works with the 2.x version of the SDK: https://www.nuget.org/packages/Microsoft.Azure.DocumentDB.Core/

If you try the 3.x or 4.x-preview like on this package https://www.nuget.org/packages/Microsoft.Azure.Cosmos/:

[code]

You will have the problem I mentioned, since there is no way to inject `HttpClientHandler`.

[2019-11-16 02:56] kabtech commented on #16950
@hhmaity , I was receiving the same error when submitting Remove-AzureADObjectSetting.
I found the problem was that I had set $groupID equal to the group itself rather than to the group's ObjectID.

[2019-11-16 02:57] YutongTie-MSFT commented on #42963
@amandasong
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-16 03:38] tkumark opened #42966 "not able to browser website after creating the web site"
I followed the instructions above and created the scaleset but I am not able to browser the web site. I am also not able to login to the VM using the NAT configuration. Also noticed that in the NAT rule with port 5985. Why is this extra port NATed as default.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f05de1b-b6eb

[2019-11-16 03:46] YutongTie-MSFT commented on #42948
@maxluk Hi, could you please help us to check this issue and update the document if necessary? Thanks.

[2019-11-16 04:16] KrishnaG-MSFT commented on #42943
@mvhbharath Glad to know that you have self resolved this CosmosDB product related question and so closed this issue. Thanks for the update. Just FYI, in future if you have any feedback on any Azure documentation then please raise an issue in this azure-docs GitHub repo by mentioning the link / URL of the Azure documentation so that we can assist you better.

[2019-11-16 04:34] SumanthMarigowda-MSFT commented on #42950
@giancarlos29 Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-16 04:35] SumanthMarigowda-MSFT commented on #42964
@kecoli Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-16 04:36] SumanthMarigowda-MSFT commented on #42966
@tkumark Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-16 05:16] YutongTie-MSFT commented on #42928
@maxluk Hi, this part is missing in repo, could you please give another link? Thanks a lot.

[2019-11-16 05:32] YutongTie-MSFT commented on #42963
@amandasong Hi Amanda, I have created a PR for it and it's under review. Thanks for your feedback. ^^

[2019-11-16 06:02] msrini-MSFT commented on #42737
@zhusulai , I will go ahead and close this issue. Please tag me if you have any questions.

[2019-11-16 06:02] #42737 closed

[2019-11-16 06:10] agowdamsft opened #42967 "Good to have Java samples on the tabs"
Sorry I was looking for Java Input & Output binding examples in this page, is there a reason why they arent here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5af2b6a5-8936-4d6e-3dd0-4183d870da4c
* Version Independent ID: d2d4b792-1aa2-b938-d76b-52c6a887ad1c
* Content: [Using return value from an Azure Function](http

[2019-11-16 06:21] tkumark commented on #42966
it might be a bug it started to work after adding NSG to the scale set. It looks like NSG is needed in order to connect to scaleset. you will need to update the doc on this.
I also think this is a bug according to doc on **New-AzVmss** if not specified a default NSG would be created but this does not seem to happen. It also does not explain why have a NAT for port 5985

[2019-11-16 06:22] rlevchenko opened #42968 "Application Gateway | Always active Save button"
### Question

Can someone explain why Save button is always active in the Listeners sections of the Application Gateway? I deleted one of my listeners, clicked remove in the popup, then pressed Save in the Listeners, and after deletion done - Save and Revert buttons remains active. I've even tried to press Save for the second time. Is this expected behavior? (I'm ok with that, but it's a bit confu

[2019-11-16 07:04] amanmcse commented on #42884
@danmyhre Yes, it requires a refresh after saving the configuration. I will provide the feedback to our product team on this. Meanwhile, we will add a note in the document until a fix is released.

[2019-11-16 07:32] a00012025 opened #42969 "AzureSiteRecoveryProvider.exe Error"
Hi, when I was running `AzureSiteRecoveryProvider.exe` on my Hyper-V host, I got the following error message:
[code]
My Hyper-V host is also a domain controller. So how can I migrate my VMs to Azure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f6cf488-07d3-1b2b-69f2-f04c7890bd55
* Version Independent ID: fd658be4-1

[2019-11-16 07:56] kishan19 commented on #42545
Ok thank you, it runs fine on localhost. How to find the access token for the Notebook VM URL to score from outside?

[2019-11-16 08:47] sayanghosh123 opened #42970 "The first image is not dark theme friendly"
The first image is not dark theme friendly

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c9d1ff4-9e32-39fc-2d8d-46d3c07bca4d
* Version Independent ID: 72b20547-e78b-f6d2-6e69-31c846965ad0
* Content: [Isolation in the Azure Public Cloud](https://docs.microsoft.com/en-us/azure/security/fundamentals/isolation-choices#fe

[2019-11-16 09:48] YutongTie-MSFT commented on #42953
@maxluk Hi, could you please this issue and update the sample repo? Thanks a lot.

[2019-11-16 10:42] SumanthMarigowda-MSFT commented on #42968
@rlevchenko Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2019-11-16 10:43] SumanthMarigowda-MSFT commented on #42969
@a00012025 Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-16 10:44] SumanthMarigowda-MSFT commented on #42970
@sayanghosh123 Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-16 10:45] wondering639 commented on #30693
Actually I am also missing Azure disks. I wanted to run Seq on ACI, but that doesn't work well with file shares (see https://docs.datalust.co/v4.2/discuss/5d0027a10db450002d119fb9). Woud love to see support for Azure disks.

[2019-11-16 11:25] adamharm commented on #39533
We needed to upgrade for security reasons as well.  Very concerned MS hasn't released an update to this plugin yet...

[2019-11-16 11:43] mtwelve opened #42971 "The button to 'Add more' is missing"
Hello,

The video includes a button to 'add more' RIs after you have selected your first. My interface does not include that button so it is going to take ages to purchase the 20+ RIs we've decided upon.

Any reason as to why I can't add more? Does the video need to be updated?

I have a screenshot.

Sam

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-11-16 11:43] mtwelve commented on #42971
![image](https://user-images.githubusercontent.com/15998398/68992680-5a20b200-0866-11ea-940e-524c7ea2e7dc.png)

[2019-11-16 12:00] amanjeetsingh opened #42972 "The URL automatically populated by API console points to an invalid endpoint."
The API console for version 3 points to an invalid URL.

The API console has pre-populated URL string with suffix  ".ppe.cognitiveservices.azure.com/text/analytics/v3.0-preview.1/entities/recognition/general"

For example, if I have Cognitive Services instantiated out of East US, the API console uses the URL
https://eastus..ppe.cognitiveservices.azure.com/text/analytics/v3.0-preview.1/entities/rec

[2019-11-16 12:23] YutongTie-MSFT commented on #42972
@amanjeetsingh
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-16 12:54] shawnharry commented on #33551
Same issue as everyone else here. The deployment fails with a conflict on the automation account

[2019-11-16 13:45] rlevchenko commented on #42968
@SumanthMarigowda-MSFT I don't have any issues with docs. The issue is related to Azure portal probably and application gateway web UI. If you want the URL, this one might help https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-components#listeners

[2019-11-16 13:59] TomaszOledzki commented on #42901
This part is confusing. Worth a mention in docs, I think.

[2019-11-16 14:20] master135 opened #42973 "backupJobs?api-version=2019-05-13 does not retrieve all results"
Hi,
we are using Azure backup agent to backup on prem servers to RS Vault. I use this documentation https://docs.microsoft.com/en-us/rest/api/backup/backupjobs/list
to get list of backup jobs executions.
By default I have around 100 executions per day and more then 2k per month on single backup vault.
I check this info on Azure portal in Recovery Services Vault > Backup Jobs. Filters from portal
1

[2019-11-16 14:26] sladeedmonds opened #42974 "Adding Azure AD Admin in US Government Cloud does not work"
Hello, I have provisioned a new Managed Instance in the US Government cloud.  The PowerShell script correctly assigns the MI Service Principal to the "Directory Readers" AAD Role.  I am then able to add an account as a MI AAD Admin, which returns a successful message and displays the assigned AAD user with a green status in the portal.  However, I am unable to log in to the server with the AAD acc

[2019-11-16 14:42] DixitArora-MSFT commented on #42706
@feroz-ahmmed Since we have not heard back from you.So for now will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue

[2019-11-16 14:42] #42706 closed

[2019-11-16 14:43] #42827 closed

[2019-11-16 14:45] DixitArora-MSFT commented on #42792
@jublair I have assigned this content author for further review and update as appropriate.

[2019-11-16 14:52] NavtejSaini-MSFT commented on #42974
@sladeedmonds We are checking this and we will get back to you.

[2019-11-16 15:32] SumanthMarigowda-MSFT commented on #42971
@mtwelve Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-16 15:35] thomasjsweet commented on #28478
I was hoping to use this VM for Adobe After Effects, but I am getting an error regarding nvidia tesla k80 is not supported.

[2019-11-16 16:06] mghafoori commented on #42825
Hi Saurabh. Did you get the chance to look into this issue?

[2019-11-16 16:52] shashishailaj commented on #42075
@markarnolditpro Could you please confirm if you have a credit card associated with your azure subscription ? In case its not you may not be able to use this product on a credits based subscription .  As we have not received any response , we are closing this for now. Please tag me to your reply whenever you are ready to continue and we will continue the conversation.

[2019-11-16 16:52] #42075 closed

[2019-11-16 18:03] SnehaGunda commented on #40209
@SogoGolf Apologies for the long delay, I have updated the doc in above PR with an example on how to update throughput. The example shows updating container's throughout and you can use the same code with database resource ID to update the DB level throughput. The doc update will be live on Monday.

We will now close this issue if there aren't further questions.

#please-close

[2019-11-16 18:03] #40209 closed

[2019-11-16 18:24] shashishailaj commented on #42523
The Security Defaults and Custom CA policies can not be enabled in parallel. One is part of Azure AD free offering and another is advanced offering part of Azure AD Premium License. I understand when you say that the features available in the advanced offering (Custom CA policies) must be an adition to the existing features avalable by defaults in the free offering however due to some technical li

[2019-11-16 18:24] #42523 closed

[2019-11-16 18:59] shashishailaj commented on #42596
@tandyuk
The current authenticator version uses certain functionalities of the Android OS for storing and retrieving the keys which lack in the old versions . The version you specified had multiple OpenSSL vulnerabilities as well which were later fixed in newer versions. As far as I know Samsung have stopped providing any updates for devices running 4.4.2 hence many security bugs would also not ge

[2019-11-16 18:59] #42596 closed

[2019-11-16 19:01] shashishailaj commented on #42806
@ChrisParrBIE Thank you for pointing that out . We have involved the content author for reviewing this request and updating the screenshots on the same.

[2019-11-16 19:02] shashishailaj commented on #42806
@MicrosoftGuyJFlo Could you please take a look at this request?

[2019-11-16 19:04] shashishailaj commented on #42605
@g0pinath As we have not received any further comments on this by you , we are proceeding with closure on this. I would still suggest you to provide a feedback in the [Azure Feedback site](https://feedback.azure.com/forums/920458-azure-sentinel) so that it comes to notice of Product group as they monitor the feedback actively.

Thank you.

[2019-11-16 19:04] #42605 closed

[2019-11-16 19:20] KrishnaG-MSFT commented on #42967
@agowdamsft Thanks for your comment. We are actively investigating and will get back to you shortly with an update.

[2019-11-16 22:22] tsart commented on #40233
@djpmsft Thanks for processing this update, please also add a possibility to use KeyVault secret as LinkedService parameter. At the moment this type of dynamic parameter doesn't work
[code]
The "Test connection" fails with an error "Connection failed
Invalid storage connection string provided to 'UnknownLocation'. Check the storage connection string in configuration. Settings must be of the form "

[2019-11-16 22:44] ksymes opened #42976 "Please amend step 4a to include the following steps"
Most users won't be able to proceed with step 4a. There is no way to obtain the connection-specific OpenAthens metadata prior to adding Azure's metadata into the OpenAthens connection settings.
Suggestions:

1) List obtaining the Azure metadata as a pre-requisite.
Normally found at https://login.microsoftonline.com/&lt;TenantDomainName&gt;/FederationMetadata/2007-06/FederationMetadata.xml

2) Move

[2019-11-16 22:55] mike-urnun-msft commented on #42937
@tiwari-abhishek While switching automatically via Portal isn't supported at this time (see screenshot below), you may achieve greater automation by using [Azure API Management DevOps Resource Kit](https://github.com/Azure/azure-api-management-devops-resource-kit) as well.

![image](https://user-images.githubusercontent.com/36717703/69000200-c01a3300-0880-11ea-85f9-f179d333e08c.png)

We will now p

[2019-11-16 22:55] #42937 closed

[2019-11-16 23:59] ebseavey commented on #42894
I am getting essentially the same error:
Traceback (most recent call last):
  File "BackEndApplication.py", line 9, in <module>
    import iothub_service_client
  File "C:\Python37\lib\site-packages\iothub_service_client\__init__.py", line 1, in <module>
    from .iothub_service_client import *
ImportError: DLL load failed: The specified module could not be found.

[2019-11-17 00:35] rickystream94 commented on #42929
Actually I think I have figured this out: between the first and the second deployment, there was a change in the SF parameters values. According to what I observed, Service Fabric triggers an application upgrade if it detects changes in the parameters. Out of curiosity, I have tried re-deploying the same app with the exact same parameters, and this time the Azure deployment had basically no effect

[2019-11-17 00:50] giggio opened #42977 "It seems that the cluster role and binding already exist"
I just found the cluster role `system:persistent-volume-secret-operator` which has the exact permissions that the cluster role `system:azure-cloud-provider` would have.
Also, the existing cluster role binding `system:persistent-volume-binding` already assigns it to the sevice account `persistent-volume-binder`, so the cluster role binding `system:azure-cloud-provider` that is in this doc page is a

[2019-11-17 00:55] Adam-Smith-MSFT commented on #42973
@master135  Thanks for the feedback! We are investigating the issue.

[2019-11-17 00:56] Adam-Smith-MSFT commented on #42976
@ksymes Thanks for the feedback! We are investigating the issue.

[2019-11-17 02:46] chris75898 opened #42979 "Incorrect Path"
%Program Files%\Microsoft Azure AD Sync/Data/ should be %ProgramFiles%\Microsoft Azure AD Sync\Data

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21e6e33d-deb6-268d-9e4d-cefe45ba82ca
* Version Independent ID: 5238537b-7b91-ba1b-28f7-aad7882bf14e
* Content: [Move Azure AD Connect database from SQL Server Express to SQL

[2019-11-17 02:57] quantqtech opened #42980 "AzureDataLakeStorage Gen2 refresh with powerbi.com"
I cannot refresh data lake gen 2 with PowerBI.com

Authentication works fine from a PowerBI desktop perspective.
My Azure and my Office 365 have the same tenant id's  (this was identified in another thread, however, not applicable for me...
https://www.purplefrogsystems.com/paul/2017/06/connecting-power-bi-to-azure-data-lake-store-across-tenants/

here are the steps I followed...
Sure here are the

[2019-11-17 02:58] quantqtech commented on #42980
Azure Data Lake Gen2 refresh with power bi .com

[2019-11-17 03:03] bdschaap opened #42981 "How to interpret chart on a firing dynamic threshold alert?"
Can you provide information on how to interpret the chart for a firing dynamic threshold alert?  Specifically these  elements on the graph -
- Semi-transparent blue area
- Semi-transparent red area
- Red dots on the blue line
- Dotted blue line line (in the middle of the solid blue line)

Why do some charts only have the semi-transparent blue area and the blue line representing the metric value?

[2019-11-17 04:27] SumanthMarigowda-MSFT commented on #42979
@chris75898 Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-17 04:28] SumanthMarigowda-MSFT commented on #42980
@Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2019-11-17 04:29] SumanthMarigowda-MSFT commented on #42981
@bdschaap Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-17 04:30] SumanthMarigowda-MSFT commented on #42977
@giggio Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-17 04:31] feroz-ahmmed commented on #42706
@DixitArora-MSFT sorry for the delay to reply as I had weekend. Yes I was facing a problem. When I go to the new developer portal, it shows me a page where I should be able to design my portal. But it never loads correctly. It tries to access some endpoint of APIM Direct Management and gets 502 response.

[2019-11-17 04:32] SumanthMarigowda-MSFT commented on #42609
@andyturn31 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-11-17 04:34] Chenjigaram opened #42982 "no trusted certificate error"
<CausedBy> com.tibco.bw.palette.restjson.runtime.exceptions.HttpCommunicationException: An IOException was thrown while trying to execute the HTTP Method at resource path https://login.microsoftonline.com:443/xxxxxxxxxxxxxxxxxxxxx/oauth2/token-{ActivityName=InvokeRESTAPI, ProcessName=test.Process, ModuleName=test}
   <CausedBy> javax.ws.rs.ProcessingException: javax.net.ssl.SSLHandshakeException:

[2019-11-17 05:25] aquibqureshi26 opened #42984 "pls include all the service of azure reservations"
pls include all the services which are supported under RI.

Azure Database for MySQL.
Azure Database for PostgreSQL.
Azure Database for MariaDB.
Azure Data Explorer.
Premium SSD Managed Disks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b15d245b-92f1-785d-2776-ebec6a4fad42
* Version Independent ID: 2ac3df93-eed6-76f

[2019-11-17 05:32] dcurwin commented on #42961
#reassign:pvrk

[2019-11-17 06:16] SnehaGunda commented on #41074
@kuniteru We have updated the example in the doc with the new version of SDK. The changes should be live on Monday.

We will now close this issue.

#please-close

[2019-11-17 06:16] #41074 closed

[2019-11-17 08:27] jimbobbennett opened #42985 "Python batch read Quickstart doesn't use the SDK"
The Python batch read API Quickstart uses the REST endpoint instead of the Python SDK. It would be better if it used the python SDK.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4c8bd02-16d6-d043-4f2c-a337a70954f5
* Version Independent ID: 8fa84a6d-5c1e-3562-43aa-019f968edd0f
* Content: [Quickstart: Extract printed

[2019-11-17 08:53] jimbobbennett opened #42986 "Launching Binder fails"
Launching Binder to run this code fails with an error on the Binder site of "error connecting to event stream"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4c8bd02-16d6-d043-4f2c-a337a70954f5
* Version Independent ID: 8fa84a6d-5c1e-3562-43aa-019f968edd0f
* Content: [Quickstart: Extract printed and handwritten text -

[2019-11-17 09:32] yoavfrancis commented on #42553
Hi,

We plan to update the list with all Logic App instances soon. There'll be clear indication for Logic Apps with ASC connector on them.
Will add a disclaimer in the documentation to reflect the current status.

Thanks,
Yoav Francis, Azure Security Center

[2019-11-17 11:06] Jaans commented on #42486
@souravmishra-msft sorry for the delay, I had to switch branches to get to the repro for this and walk it through in detail.

I found my issue - the namespace for the <Issuer /> element *must* be set/overridden to `xmlns:saml="urn:oasis:names:tc:SAML:2.0:assertion"` otherwise the parent elements' default namespace of `xmlns="urn:oasis:names:tc:SAML:2.0:metadata"` will apply. The MS Docs pages does

[2019-11-17 11:06] #42486 closed

[2019-11-17 11:45] morshabi commented on #34545
Hi @dcaddick,

sorry that it took us so long to answer this issue.
The document links to this page: https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-sources-syslog
Can you please review this and let us know if something is missing.

[2019-11-17 11:50] morshabi commented on #35223
Hi,

Sorry for the late response, and thank you for this feedback. we will change the schema to SecurityAlert.

[2019-11-17 12:18] SumanthMarigowda-MSFT commented on #42703
@khobragadenitin Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2019-11-17 12:20] SumanthMarigowda-MSFT commented on #42984
@aquibqureshi26 Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-17 12:21] SumanthMarigowda-MSFT commented on #42985
@jimbobbennett Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-17 12:22] SumanthMarigowda-MSFT commented on #42986
@jimbobbennett Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-17 12:25] quantqtech commented on #42980
here is the URL of the process I'm having challenges with...

https://docs.microsoft.com/en-us/power-bi/service-dataflows-connect-azure-data-lake-storage-gen2

[2019-11-17 13:00] rkarlin commented on #35223
@Cloud-Architekt  thanks for your feedback, I've updated the article and you should see the correction in the next 24 hours.
thanks
#please-close

[2019-11-17 13:00] #35223 closed

[2019-11-17 13:36] NavtejSaini-MSFT commented on #42667
@oslake Please confirm if the timing will be affected by size of DB. Will it cause a long time to auto scale or will it only depend on number of vcores added.

[2019-11-17 14:27] szmma opened #42987 "Web apps deploy problem"
First of all, thank you for the tutorial . It was really helpful.
Secondly I got some problem on the last steps. After I
insert 'git push azure master'. on my consol . It wants me to authorise
myself. It won't accept my username/password . (fatal: Authentication failed for 'https://helloka.documents.azure.com:443/orders.git/'). I use my Microsoft user, and password. What could I do to continue the

[2019-11-17 15:11] Chenjigaram commented on #42982
https://login.microsoftonline.com:443/xxxxxxxxxxxxxxxxxxxxx/oauth2/token trying to do post ..getting error trusted certificate is not found .

please help in creating javakeystore for login.microsoftonline.com:443 connecting through ssl

[2019-11-17 15:18] msrini-MSFT commented on #42968
You can report bugs using feedback button (smile) in the nav bar (top right):
![image](https://user-images.githubusercontent.com/47132998/69009485-84b05f00-097b-11ea-8453-2a784d35c78a.png)

You can also provide feedback for Azure Portal: aka.ms/azureportalfeedback

GitHub is to provide feedback on the docs. Please use the report bugs option in portal to address your issue.

[2019-11-17 15:18] #42968 closed

[2019-11-17 15:38] yoavfrancis commented on #42568
Hi @artisticcheese,

THe tables you are referring to are irrelevant to the continuous export feature (Which uses SecurityRecommendation and SecurityAlert tables, as the docs state). I'll pass the feedback on the Update tables you mentioned to the relevant owners in the Security Center product team.

Thanks,
Yoav Francis, Senior Program Manager,
Azure Security Center

[2019-11-17 16:24] bradschoonover opened #42988 "error code not documented 501291"
I have a user that got a new phone and is trying to register the device, and this is the error code azure sign-ins is showing me.

[2019-11-17 16:29] SRIVASTAVAABHISHEKGAURAV commented on #32711
Hi All,
 I am facing the same issue with Azure ML SDK Version:  1.0.74. The workaround suggested (import jobib) is also not working.

[2019-11-17 16:56] kishan19 opened #42989 "How to obtain the access token for accessing local webserice of notebook VM"
In the code snippet to test the web service, there is an access token which is written. Where to obtain this access token from ? https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-deploy-local-container-notebook-vm#test-the-service

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8685a95e-cc0b-0d40-55

[2019-11-17 17:01] sujayvsarma opened #42990 "No Repo & No ownership of issues!"
Hello,
There seems to be no "one repo" for the new Microsoft.Azure.Cosmos.Table SDK (.NET Core). Where does one file issues for this? The docs and the SDK and the SDK's samples do not match up!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba460612-aea2-45da-dacb-ddc8324be954
* Version Independent ID: 666c7881-ef9d-15

[2019-11-17 17:09] ramadarla commented on #42501
Thank you so much, It's clarified well please close.

On Fri, Nov 15, 2019, 11:54 PM rogara <notifications@github.com<mailto:notifications@github.com>> wrote:

@ramadarla<https://github.com/ramadarla> If there's any other questions related to this, please let us know. Otherwise I will close this issue on Monday. Thanks for reaching out.

—
You are receiving this because you were mentioned.
Reply t

[2019-11-17 17:24] msrini-MSFT commented on #42760
@geoano , Do you have any update on this issue?

[2019-11-17 17:42] danmyhre opened #42991 "Missing details about DNS Configuration"
Can you please add some details on how to configure the DNS settings for the VPN client?  The basic setup doesn't include this which means internal DNS name resolution does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9ef898a-0b72-e018-8a3d-6f14f62e1119
* Version Independent ID: b62b5b8f-bc88-0868-a2f6-102

[2019-11-17 17:52] Adam-Smith-MSFT commented on #42991
@danmyhre Thanks for the feedback! We are investigating the issue.

[2019-11-17 17:55] Adam-Smith-MSFT commented on #42990
@sujayvsarma Thanks for the feedback! We are investigating the issue.

[2019-11-17 17:56] Adam-Smith-MSFT commented on #42989
@kishan19 Thanks for the feedback! We are investigating the issue.

[2019-11-17 17:57] Adam-Smith-MSFT commented on #42988
@bradschoonover Could you please provide us with the documentation link you were referring to ?

Thanks,
Adam

[2019-11-17 17:58] Adam-Smith-MSFT commented on #42987
@szmma Thanks for the feedback! We are investigating the issue.

[2019-11-17 18:16] artisticcheese commented on #42568
Missing updates by VM name do not appear neither in `SecurityAlert` or `SecurityRecommendation`. If I need to find which machines are missing updates I have to query either `Update` or `UpdateSummary` table
For Linux it's
[code]
For Windows
[code]

[2019-11-17 19:48] fhtino commented on #41995
Any news on this? In particular, the running in service is supported or not? I mean, is the documentation wrong or is it a bug of the connector?  Because if I publish to service, I get this error "Failed to update data source credentials: The given data source kind is not supported. Data source kind: AzureDataLakeStorage.".  I'm using "key" as authentication method.

[2019-11-17 20:08] danmyhre opened #42993 "Missing details on "EnterpriseJoined" property"
Should be added to this section:
https://docs.microsoft.com/en-us/azure/active-directory/devices/troubleshoot-hybrid-join-windows-current#step-2-evaluate-the-join-status

Also, this command on my machine does not show the "WorkplaceJoined" option under device state.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9f81d

[2019-11-17 20:30] markdebruijne opened #42994 "Insights to events limit in relation to the throttle limit of 32k events per second"
The per second limit of sending AI telemetry is 32.000. How do I see of find (query) an indication of the actual usage in relation to that limit?

The question behind it, is that I want to 'guestimate' as suited value for us for the MaxTelemetryItemsPerSecond (default 5). This because I want to try less adaptive sampling for a particular eventtype (requests).

Is it a good approach to query ```sys

[2019-11-17 20:54] duncandw opened #42995 "Be aware that the Azure AD Connect has a bug that causes the switch to PHS to fail when you have a lot of domains"
Be aware that the Azure AD Connect has a bug that causes the switch to PHS to fail when you have a lot of domains.
We have switched over recently; our environment has around 400 domain names configured (of which only one is actually federated). The tool seems to check all domains but without a progress indicator.
Therefore, when switching, wait on the last screen for 10 minutes or so and then cont

[2019-11-17 20:58] danmyhre commented on #40287
Also, name resolution does not seem to work at all on the new Azure VPN client.  It continues to use the local physical connection's DNS settings.

[2019-11-17 21:03] markdebruijne opened #42996 "Append default configuration"
What is the right way to append the default configuration of adaptive sampling? Given this values https://github.com/microsoft/ApplicationInsights-aspnetcore/blob/a135f1f7d9da7beb11f9bcf20a30f7e779b739f2/NETCORE/src/Shared/Implementation/TelemetryConfigurationOptionsSetup.cs#L204 ... and as per this documentation page, the `MaxTelemetryItemsPerSecond` is 5 by default, and applicable to all events

[2019-11-17 22:22] ChristianMontoya commented on #42865
@MicahMcKittrick-MSFT , @BryanAdvisicon : Yes, this is just in the validator for the Azure Marketplace offering. We now have a workitem to track this and make it less restrictive. In the meantime, you can use what Micah recommends to continue deploying your custom image.

[2019-11-17 23:36] ggailey777 commented on #41566
@ColbyTresness are we recommending/defaulting to Node 12 yet?

[2019-11-17 23:43] dcbrown16 commented on #42692
Thanks, I think the confirmation is sufficient for now.

[2019-11-17 23:43] #42692 closed

[2019-11-18 00:25] AElharouny commented on #42460
@miaojiang @mike-urnun-msft Thanks for the response. I think that recommendation deserves to be emphasized in documentation.

[2019-11-18 00:35] kogesaka opened #42998 "About another way to grant access to applications"
Hi Expert,

There is the following description in the "Give Tenant 2 access" section. Is there any other method by Rest API, PowerShell, Azure CLI?

&gt; Give Tenant 2 access to the application by requesting a sign-in using a browser.

I checked Microsoft documents, but I couldn't find anything related.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-11-18 00:41] #40726 closed

[2019-11-18 01:05] Adam-Smith-MSFT commented on #42993
@danmyhre Thanks for the feedback! We are investigating the issue.

[2019-11-18 01:08] jdelforno opened #42999 "SelectUniqueValue - Allow Retry?"
Username failure creation due to unique value in 3rd party application. SelectUniqueValue would solve this issue, however due to the following:
This function is currently only supported for "Workday to Active Directory User Provisioning". It cannot be used with other provisioning applications.

It's not possible.

Is there an ETA as to when we can start making use of SelectUniqueValue across diffe

[2019-11-18 01:08] Adam-Smith-MSFT commented on #42994
@markdebruijne  Thanks for the feedback! We are investigating the issue.

[2019-11-18 01:09] Adam-Smith-MSFT commented on #42995
@duncandw Thanks for the feedback! We are investigating the issue.

[2019-11-18 01:09] Adam-Smith-MSFT commented on #42996
@markdebruijne Thanks for the feedback! We are investigating the issue.

[2019-11-18 01:21] kogesaka opened #43000 "NSG flow log retention period cannot be set from the Azure portal"
Hi there,

There is a description of "11. Set Retention (days) to 5, and then select Save." In the "Enable NSG flow log" section, but it is displayed as follows from the Azure portal.

![20191118](https://user-images.githubusercontent.com/15773157/69017902-0e4c4500-09ed-11ea-97e5-d60f2f403a66.png)

Perhaps it is recognized that it is reflected on the document side (NSG flow log is indefinitely, av

[2019-11-18 01:49] petercmho commented on #42147
@sopelt I got the sql server tenant id by running the following command.
az sql server ad-admin list --resource-group myResource --server-name mySql
And put the tenant id string to AzureServiceTokenProvider.GetAccessTokenAsync call.  It still have the same issue.  I noticed it threw a System.Net.Sockets.SocketExcption before GetAccessTokenAsync call returned.  I'm not sure if it is the cause of th

[2019-11-18 01:51] KrishnaG-MSFT commented on #42699
@anirudhcavale Thanks for the insights.
@shashikant29 At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-11-18 01:51] #42699 closed

[2019-11-18 02:00] SLdragon commented on #42849
Hi, @Gamecock ,  thanks for your feedback, currently the docker-py libary which used by iotedgehubdev is not compitable with python 3.8, so it would throw "Could not connect to Docker daemon" error.  We will add python version limitation in next release of iotedgehubdev. When docker-py officially support python 3.8, we would remove this limitation.

[2019-11-18 02:03] MicahMcKittrick-MSFT commented on #42865
Thanks @ChristianMontoya

@BryanAdvisicon I will close this out since we are this issue internally.

[2019-11-18 02:03] #42865 closed

[2019-11-18 02:26] dgancho commented on #42945
Having the same problem

[2019-11-18 02:29] Gamecock commented on #42849
Might be worth updating tutorials that say they work on Python3.7+.

On Sun, Nov 17, 2019 at 9:01 PM Renlong Tu <notifications@github.com> wrote:

[2019-11-18 02:31] ram-msft commented on #42769
@MonicaRush Could you please help on this.

[2019-11-18 02:46] ram-msft commented on #42855
@bensimon24 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-18 02:46] #42855 closed

[2019-11-18 03:01] KalyanChanumolu-MSFT commented on #42990
@sujayvsarma Thank you for taking the time to provide feedback.
The official repo is [azure-cosmos-table-dotnet](https://github.com/Azure/azure-cosmos-table-dotnet).
Please file your issues there.

[2019-11-18 03:07] SumanthMarigowda-MSFT commented on #42982
@Chenjigaram Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2019-11-18 03:22] sujayvsarma commented on #42990
Nobody responds to issues filed there, that's the reason for this issue.

- Sent from mobile. Pardon typos.

On Nov 18, 2019 08:31, Kalyan Chanumolu <notifications@github.com> wrote:

@sujayvsarma<https://github.com/sujayvsarma> Thank you for taking the time to provide feedback.
The official repo is azure-cosmos-table-dotnet<https://github.com/Azure/azure-cosmos-table-dotnet>.
Please file your iss

[2019-11-18 03:50] cijothomas commented on #42996
This is the only way currently:

Or is the only way to follow https://docs.microsoft.com/en-us/azure/azure-monitor/app/sampling#configuring-adaptive-sampling-for-aspnet-core-applications and disable the aiOptions.EnableAdaptiveSampling = false first, and than add the builder.UseAdaptiveSampling( .... ); twice myself?

[2019-11-18 03:52] nina-pashinina opened #43001 "Unsubscribe doesn't works"
Unable to process template language expressions for trigger 'HTTP_Webhook_trigger' at line '1' and column '2215': 'Template language expression cannot be evaluated: please make sure that the access key named 'default' exist on the workflow.'.
Template:
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#

[2019-11-18 03:53] qiuyujx opened #43002 "Migration Utility link is dead"
Just kindly remind that the link of "Migration Utility" on this page is no longer working. Please update the link to refer the correct resource.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 125c8ae8-332f-8792-d81b-30bb0eb3976f
* Version Independent ID: 2e2ac8cb-4208-6692-0f25-701e4906475a
* Content: [Copy data in bul

[2019-11-18 04:21] SwathiDhanwada-MSFT commented on #42924
@AmberB Can you please review this request and update the document if required?

[2019-11-18 04:22] shashishailaj commented on #42999
@jdelforno Thank you for your feedback.  we will investigate and update the thread further.

[2019-11-18 04:24] wwinogrodzki opened #43003 "Example does not compile"
In public class FunctionsTests:
  HttpFunction
  Run in TimerTrigger.Run
are displayed in red.

Of course there are hints, but completely unhelpful.
They would perhaps be helpful on .NET 4.6.x, but not on .NET Core.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a571957f-41ce-e7ea-5f0b-1aefb8b219fa
* Version Independen

[2019-11-18 04:24] AjayKumar-MSFT commented on #43000
@kogesaka, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-11-18 04:26] AjayKumar-MSFT commented on #42998
@kogesaka, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-11-18 04:27] osaier opened #43004 "Can't create Salesforce user"
User creation keeps failing for me.
Audit log: Failed to create User 'new.user@testxxx.onmicrosoft.com' in SfSandbox; Error: ErrorCode: INSUFFICIENT_ACCESS_OR_READONLY ErrorMessage: Cannot insert a user of type guest.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db1deb4e-0822-0b1d-de37-8d622e653a40
* Version Independ

[2019-11-18 04:33] AjayKumar-MSFT commented on #43002
@qiuyujx, Thanks for reporting this issue! We are taking a look into this and will get back to you soon.

[2019-11-18 04:35] AjayKumar-MSFT commented on #43001
@nina-pashinina, Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-18 04:51] SnehaAgrawal-MSFT commented on #42678
@BernardoMB We will now close this out but if you feel you need more information please just let us know.

[2019-11-18 04:51] #42678 closed

[2019-11-18 04:59] PramodValavala-MSFT commented on #43003
@wwinogrodzki Thanks for the feedback! We will review and update accordingly.

[2019-11-18 05:13] mattmsft commented on #42702
Metadata is extracted with the default configuration, `contentAndMetadata`. Please see [Blob Configuration Parameters](https://docs.microsoft.com/en-us/rest/api/searchservice/create-indexer#blob-configuration-parameters) for more details

[code]

[2019-11-18 05:18] shashishailaj commented on #42876
@billmath Could you please review this and update the content ? I believe there must an existing backlog on your side for some changes as per the updates in the newer AD connect ? If you could share the details as to when this could be completed , it would be great.

[2019-11-18 05:21] msrini-MSFT commented on #43000
@kogesaka , There is a known issue where you logs are not automatically deleted in the Blob storage and hence you are seeing this change in the portal. Once this issue is resolved, you should be able to have retention period.

You can find the note in the doc explaining the same.

Currently, there’s an issue where network security group (NSG) flow logs for Network Watcher are not automatically del

[2019-11-18 05:28] gopikishanm commented on #42945
Having the same issue, unable to update the compatibility settings

[2019-11-18 05:33] JSeb225 commented on #42945
Hi, can you confirm the job is stopped when trying to add a storage account?

[2019-11-18 05:34] Kav7 opened #43005 "How to parse/change "Additional Email Recipients" with PowerShell"
Hi,
We manage lots of tenants on behalf of our clients, how can we parse or change the 'Additional Email Recipients' for Azure AD Connect via PowerShell rather than the GUI console?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35b52f01-3dee-6d41-f9f6-7710e461ffeb
* Version Independent ID: c8ef08a8-d503-b52f-9de8-21b1

[2019-11-18 05:37] kogesaka commented on #43000
@msrini-MSFT , Thank you for contacting us as soon as possible.

I understand that due to this issue, the retention period is now set to indefinite.
Also, I understand that deleting an existing NSG flow log would be done manually using the information provided.

I hope this issue will be resolved soon.

best regards,

[2019-11-18 05:52] msrini-MSFT commented on #43000
@kogesaka , Documentation will be updated once the issue is resolved.

[2019-11-18 05:52] #43000 closed

[2019-11-18 06:21] shafiqkhuidad commented on #42379
Thanks @ibenjemia i was facing same issue , but your suggestion help me to fix it.

[2019-11-18 06:42] yulin-li commented on #42343
@upsilondynamics

This issue will be fixed in the 1.9.0 release of the speech SDK. Thanks again for your feedback.

[2019-11-18 06:52] ChiragMishra-MSFT commented on #42773
@ozhug Since there has been no response from you in quite some time, I am assuming that the issue was resolved. I will hence proceed to close this issue. Feel free to still comment and tag me in case you have any queries.

[2019-11-18 06:52] #42773 closed

[2019-11-18 06:52] #42308 closed

[2019-11-18 06:54] ChiragMishra-MSFT commented on #42870
@deepikabandhanadham  For a deeper investigation and immediate assistance on this issue, if you have a support plan you may file a support ticket, else could you please send an email to AzCommunity@Microsoft.com with the below details, so that we can create a one-time-free support ticket for you to work closely on this matter.

Thread URL: https://github.com/MicrosoftDocs/azure-docs/issues/42870
S

[2019-11-18 07:09] ChiragMishra-MSFT commented on #42964
@kecoli Thank you for bringing this to our notice. I have fixed the code sample and submitted a PR. Once approved, the doc in production would reflect the changes.

I will now proceed to close this issue. Feel free to still comment and tag me if you have any queries.

[2019-11-18 07:09] #42964 closed

[2019-11-18 07:22] GuyPaddock opened #43007 "Also note that the storage account has to allow Trusted Microsoft Services"
This documentation page is where Microsoft support directed us when we first asked them on Twitter why one of our storage accounts doesn't appear in the list of accounts we can choose under the "Azure Files (Preview)" for Azure Back-up.

We were about to file a support ticket about it. But, the troubleshooting steps on the new support request page asked us to certify that the storage account doesn

[2019-11-18 07:36] mashed6 commented on #42922
Hi, i have not found this in any documentation yet, which is why im asking the question. I guess the closest documentation i can find would be:
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/plan-connect-topologies

/

[2019-11-18 07:37] neeleshray-msft commented on #42385
We would suggest you to post your question directly to our new [Microsoft Q&A platform](https://docs.microsoft.com/answers/topics/azure-active-directory.html) - currently in preview, as we would need to check this is detail.

[2019-11-18 07:37] #42385 closed

[2019-11-18 07:51] Karishma-Tiwari-MSFT commented on #42640
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-11-18 07:51] #42640 closed

[2019-11-18 07:51] Karishma-Tiwari-MSFT commented on #42749
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-11-18 07:51] #42749 closed

[2019-11-18 07:53] ChiragMishra-MSFT commented on #43002
@qiuyujx Thank you for bringing this to our notice.

It seems like it is not being maintained anymore. It is a simple tool that does some PCP commands and it works, so it is still being used by customers. You could look into the [Copy Activity in Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/copy-activity-overview) you could use.

We will now proceed to close this thread.

[2019-11-18 07:53] #43002 closed

[2019-11-18 07:53] Karishma-Tiwari-MSFT commented on #42756
Can you please share where in this document is $isWVDServicePrincipal referenced

[2019-11-18 08:12] datafisk commented on #42920
@TravisCragg-MSFT thanks for taking the time to reply, VPN is one way but i was hoping for the same cross subscription support for VNet attachments as with peering. No plans to support that then i guess?

Thanks!

[2019-11-18 08:13] SumanthMarigowda-MSFT commented on #42501
@ramadarla We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-18 08:13] #42501 closed

[2019-11-18 08:22] sarang-pitale-mpf commented on #41466
The documentation link below confirms the availability of auto create table option. I tried Azure SQL Table as source and a non existing Azure SQL Table as sink and it worked. But when i selected a Blob Dataset as source then it failed with error 'Table option is not applicable for your source dataset. Please create a new source dataset.'

https://azure.microsoft.com/en-us/updates/copy-activity-in

[2019-11-18 08:26] ChiragMishra-MSFT commented on #41466
@sarang-pitale-mpf As mentioned in the document, The feature is supported with:

- Azure SQL Database
- Azure SQL Database Managed Instance
- Azure SQL Data Warehouse
- SQL Server

Hope this helps.

[2019-11-18 08:34] SumanthMarigowda-MSFT commented on #42883
@WenJason Yes you can use azcopy command in China are you facing?
I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata since it's not directly related to the documentation. We'll follow up there.

[2019-11-18 08:35] sopelt opened #43009 "Add (reference to) guidance on building/getting storage container resource IDs"
When trying to use fine-grained RBAC permissions based on blob containers it looks like there is no easy/graceful way to get a containers' resource id. We currently `Get-AzResource` for blob storage account and concatenate `/containers/...`.
Is there any better/recommended way of doing this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-11-18 08:43] sarang-pitale-mpf commented on #41466
Hi Chirag,

I thought that the list was for supported sink. But thanks. Any chances that Blob source would be supported?

[2019-11-18 08:43] dzoech commented on #41667
Thank you for your effort.

Do I understand this correctly that you tested the nano images on a semi-annual release (1803) and you were able to use Reliable Collections?

I will try to find time to test and experiment with them myself.

[2019-11-18 08:44] ChiragMishra-MSFT commented on #41466
@sarang

[2019-11-18 08:48] AjayKumar-MSFT commented on #42702
Thanks, Matt!.
@Anaig, We will close this out, but if you feel you need more information please just let us know.
Thanks again for your feedback.

[2019-11-18 08:48] #42702 closed

[2019-11-18 08:51] WenJason commented on #42883
Yes, I can use azcopy by SAS authorization but I don't know if I can use azcopy command to login in Azure by AAD authorization. In other words, if there is a parameter I can add to "azcopy login" command to login in Azure China Environment? Thanks.

[2019-11-18 08:58] ManojReddy-MSFT commented on #43004
@osaier Are you using a Sandbox trial account?

Also, can you confirm if the credentials you provided have admin privileges on the sandbox? Can you check if you have enabled web API access for the user?

[2019-11-18 08:58] SwathiDhanwada-MSFT commented on #43007
@GuyPaddock Thanks for your feedback. We will review the document and update it accordingly.

[2019-11-18 09:05] #43007 closed

[2019-11-18 09:07] SwathiDhanwada-MSFT commented on #43007
@GuyPaddock  We have updated the document and the changes will be reflected in 24 hours.

We will close the issue now. Please revert if you have further questions, we will be very glad to assist you.

[2019-11-18 09:07] khobragadenitin commented on #42703
Hi,

https://portal.azure.com/#blade/Microsoft_AAD_RegisteredApps/ApplicationMenuBlade/Quickstart/appId/7371d876-0d5a-4bf6-83a2-70b0b9b84c9b/isMSAApp/
from above also can generate sample project.

sample project link : https://github.com/Azure-Samples/ms-identity-android-java

[2019-11-18 09:08] pvrk commented on #42961
@tjvishnu : can you please comment on this?

[2019-11-18 09:10] DixitArora-MSFT commented on #42886
@winsontan520 I have discussed this internally . As this channel is for driving improvements towards MS Docs, for any product related question/issue , it would be best if you can create the product issue to the official [Azure Functions Repo](https://github.com/Azure/Azure-Functions/issues) for better clarity or on [Azure Function MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home?for

[2019-11-18 09:10] #42886 closed

[2019-11-18 09:16] DixitArora-MSFT commented on #42902
@wmekal-pgs I have assigned this to content author for further review and update as appropriate.

[2019-11-18 09:18] tjvishnu commented on #42961
Yes. It is subject to 200 snapshots limitations as mentioned in the link to "limitations of on-demand backups". Please add your feedback to the uservoice forum :https://feedback.azure.com/forums/258995-azure-backup?category_id=341233 for us to track all customer asks.

[2019-11-18 09:23] OffColour opened #43010 "Enable and disable verification methods"
How do we enable/disable verification methods per user in the same way you can with Duo? We have some users that should only be able to use a phone call.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84b26750-880c-8f14-1628-436293de915e
* Version Independent ID: 518b727f-79e8-b5c2-bcb3-ff4de3444c6f
* Content: [Configu

[2019-11-18 09:26] memildin commented on #42571
@sladeedmonds, since support are now investigating this matter with you directly (and it's not a documentation query) I'm closing this issue.
If you feel there's anything further required from the documentation side, please reopen or be in touch again.
#please-close

[2019-11-18 09:26] #42571 closed

[2019-11-18 09:30] KrishnaG-MSFT commented on #42984
Assigning content owner @yashesvi for visibility, review and document enhancement considerations.

[2019-11-18 10:10] CHEEKATLAPRADEEP-MSFT commented on #42980
@quantqtech Check similar discussion on the same issue: [https://github.com/MicrosoftDocs/azure-docs/issues/38862](https://github.com/MicrosoftDocs/azure-docs/issues/38862).

Hope this helps.

[2019-11-18 10:15] winsontan520 commented on #42886
Ok thanks bye Azure

[2019-11-18 10:16] AjayKumar-MSFT commented on #43005
@Kav7, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-11-18 10:16] mamadou94Diop commented on #42962
Hi @galvesribeiro, I faced the same issue, I would like to use the emulator on my Mac( given that using azure cosmos db instance is very expensive, mostly for testing purpose).

I had one idea to experiment, Having a Windows pc with emulator, run it on a local network, finally try to reach it by ip of local network

[2019-11-18 10:16] memildin commented on #42553
#please-close

[2019-11-18 10:16] #42553 closed

[2019-11-18 10:19] galvesribeiro commented on #42962
Hello @mamadou94Diop

It doesn't matter if it is a _real_ PC or an VM. What matters is the self-signed certificate that is issued by the emulator that isn't valid on another machine, and specially now that with OSX 10.15 (Catelina), Apple is very strict about HTTPS/TLS...

[2019-11-18 10:28] cephalin commented on #42476
I've tweaked the message to avoid the confusion and it will be published somtime today. #please-close

[2019-11-18 10:28] #42476 closed

[2019-11-18 10:50] RogalaPiotr commented on #27942
I had the same issue because I used my global user in domain Outlook.com - so, In this case, you have to create a new user in your tenant onmicrosoft.com or domain assigned to your tenant with permission "Global Administrator". After then all those commands run on created user.

[2019-11-18 10:56] neeleshray-msft commented on #42584
@MicrosoftGuyJFlo Could this be verified and confirmed ?

[2019-11-18 11:00] soumya6541 opened #43011 "Custom script extension is not updating on existing instances in vmss"
I have set custom script extension on the vmss using az command:
**az vmss extension set --publisher Microsoft.Azure.Extensions --version 2.0 --name CustomScript --resource-group resource_group_name --vmss-name vmss_name --settings @./customConfig.json**

customConfig.json
{
  "fileUris": ["publiclinkoffile"],
  "commandToExecute": "./filename"
}

I could see extension is set suceesfully but it is

[2019-11-18 11:02] saurabhsensharma commented on #38749
@marroema , thanks for the questions.

- Which snapshots? Where are they located/stored?
   Azure Backup orchestrates the creation of file share snapshots (the snapshots capability is native to Azure Files) and these snapshots are stored in the Azure File Share itself.
- "Do not delete file shares". Isn't that the whole purpose of backups? In case a customer removes a files share but if there are

[2019-11-18 11:02] saurabhsensharma commented on #38749
#please-close

[2019-11-18 11:02] #38749 closed

[2019-11-18 11:07] saurabhsensharma commented on #41206
The documentation is now updated with the support statement on Windows Server Core SKUs. In short, MARS Agent does not support Windows Server Core SKUs.

[2019-11-18 11:07] saurabhsensharma commented on #41206
#please-close

[2019-11-18 11:07] #41206 closed

[2019-11-18 11:10] saurabhsensharma commented on #40456
Azure Backup currently supports only 64 Bit Windows OS versions. Having said that, we will add a note about 32-Bit Windows OS not being supported by Azure Backup.

[2019-11-18 11:10] saurabhsensharma commented on #40456
#please-close

[2019-11-18 11:10] #40456 closed

[2019-11-18 11:11] saurabhsensharma commented on #29625
443 is the only port required and HTTPS is the only supported protocol.

[2019-11-18 11:12] memildin commented on #33672
I think @monhaber has answered all the points raised.
Thanks for your feedback. Feel free to be in touch if there are any other aspects of the documentation you want us to review.

#please-close

[2019-11-18 11:12] #33672 closed

[2019-11-18 11:16] saurabhsensharma commented on #40226
absolutely right! Bitlocker protected volumes that are in locked-state during backup are not supported. We will update documentation to make this more clear. Thanks for the feedback.

[2019-11-18 11:16] saurabhsensharma commented on #40226
#please-close

[2019-11-18 11:16] #40226 closed

[2019-11-18 11:19] memildin commented on #38965
Hi @langstonj ,

There are legitimate scenarios in which the two scans might lead to different results.

A primary database and it’s geo-replicated database can have different VA scan results when:

- The replicated database is created on another server with a different master database which is configured differently. The VA findings may refer to the master and not to the replicated database.

- D

[2019-11-18 11:19] #38965 closed

[2019-11-18 11:25] Owemeone commented on #42379
Facing this problem myself, I started debugging. Process Explorer showed me that the ExtensionHost was opening port 9229. For me disabling the Azure Pipelines extension fixed the issue.

I'm going to check the Azure Pipelines extensions on why it seems to start with "debugging enabled".

[2019-11-18 11:25] saurabhsensharma commented on #40228
Compression is performed for files and folders backup, by the MARS Agent. If you install MARS Agent on your Azure VM, you can select individual files/folders for backup and these backups are compressed. Built-in Azure VM Backup (which is for the full VM) does not compress backups. Hope this clarifies.

We shall update documentation to reflect this more clearly.