[2019-08-02 13:17] SteveMaz commented on #36391
Hi,
        my guess is that the provisioning profile has to be changed and
also another certificate must be generated for the new profile. The new
certificate would also have to be uploaded to the notification hub and
'production' should be selected instead of 'sandbox'.

Best regards
        Steve

Software Manager, European Sales Engineering
Yamazaki Mazak UK Ltd

Badgeworth Drive, Worcester, W

[2019-08-02 13:31] spelluru commented on #36318
@ShubhaVijayasarathy @xurui203 - Could you please look into it? Thanks!

[2019-08-02 13:37] j-martens commented on #35253
You can retrieve the schema JSON document after deploying the service. Use the [swagger_uri property](https://docs.microsoft.com/python/api/azureml-core/azureml.core.webservice.local.localwebservice?view=azure-ml-py#swagger-uri) from the deployed web service.

![image](https://user-images.githubusercontent.com/8481597/62374028-a850b600-b500-11e9-9966-2a09d095f6b9.png)

[2019-08-02 13:43] j-martens commented on #35253
We hope this answers your question. We'll proceed to close this issue now. Please re-open if this does not answer the original question. Documentation will be made clearer today. Thank you. #please-close.

[2019-08-02 13:43] #35253 closed

[2019-08-02 13:46] j-martens commented on #36263
@blackmist - can you evaluate if it would help to include a sample json or if that isn't recommended please? you can also chat with viskri directly.

[2019-08-02 14:05] NavtejSaini-MSFT commented on #36295
@SuperSing Thanks for the information.
@jovanpop-msft Please check these requirements and provide an SLA for the Scaling up/down a managed instance.

[2019-08-02 14:06] Mister-Chief117 commented on #34109
In case anyone landed here when searching for the 135011 error code, this page might help:

https://docs.microsoft.com/en-us/office365/troubleshoot/administration/connection-issue-when-sign-in-office-2016

Under the **Symptom 2** header:

**Description: AADSTS70002: Error validating credentials. AADSTS135011: Device used during the authentication is disabled.**

[2019-08-02 14:07] NavtejSaini-MSFT commented on #36110
@sivethe Please check this and please let us know if any other information is required.

[2019-08-02 14:16] jluk commented on #36283
@maertendMSFT would you mind doing an update for metadata on the doc to your github alias?

[2019-08-02 14:19] MisinformedDNA opened #36401 "Add NPM instructions"
There should be instructions for adding AppInsights [via NPM](https://www.npmjs.com/package/@microsoft/applicationinsights-web) and/or [with React](https://www.npmjs.com/package/@microsoft/applicationinsights-react-js).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d56ecb14-9e66-5313-a381-d2824ec3d1e2
* Version Indepe

[2019-08-02 14:20] OffColour commented on #28045
I've just had it confirmed by support that ignore_invalid_headers is enabled and non-configurable so we can't move to v2.
It would be helpful to document this in the FAQ,

[2019-08-02 14:21] sergaz-msft commented on #34985
Hi @Satya519364 let us know the results from suggestions provided by @codyborn . Thanks!

[2019-08-02 14:33] PramodValavala-MSFT commented on #36289
Tried with that as well and it still worked.

Now, I tried with different dotnet versions and was able to reproduce the error for `2.0`.

[Officially](https://docs.microsoft.com/en-us/azure/azure-functions/supported-languages), `.NET Core 2.2` is the supported version for Azure Functions for C#.

[2019-08-02 14:33] MisinformedDNA commented on #27163
Would love to see this as well. I haven't been able to find similar views in the new UI.

[2019-08-02 14:33] vishalaj1 commented on #36383
Hi,

It was a error from my side!

Please close this case I was able to do add mi in same subnet!

Regards,
Vishal

[2019-08-02 14:36] #36383 closed

[2019-08-02 14:47] SamaraSoucy-MSFT commented on #36401
@MisinformedDNA thank you for your feedback. I have assigned this to the doc author to decide whether or not to add the requested information.

[2019-08-02 15:08] johnwildes commented on #28793
This is more about the requirements of keeping the original disks, in the process of creating an image.  I would assume that you don't need to do this.  That once the image is set, I could get rid of that VM, and storage cost.  Doing that though breaks the image, or it did when I wrote this issue.  It's more about detailing the true requirements around keeping the original source if that is in fac

[2019-08-02 15:09] SamaraSoucy-MSFT commented on #36394
@eivinskr Thank you for your feedback. I will investigate and get back to your shortly.

[2019-08-02 15:22] sameer-kumar opened #36402 "Need admin approval in web app that signs in users scenario"
I am trying to follow the article [Scenario: Web app that signs in users](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-web-app-sign-user-overview ) however could not get passed the admin consent URL screen. The text on the screen says:

I followed the instructions precisely as in the documentation link above like app registration and code configuration.

Why I need admi

[2019-08-02 15:24] hpsin commented on #24804
You've probably touched the code or secret somehow in flight by either URL encoding it or decoding it once too many times.  To help I'd need to see the actual request being made. Note that the server needs to match the string against something in its database - it's helping you along by indicating that you've done something to the string that changed the length of one of the input parameters.  Tak

[2019-08-02 15:28] iainfoulds commented on #36097
Yes, AKS doesn't currently support gMSA. Along with the kubernetes.io doc (which I think was written in conjunction with Microsoft), we have https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/manage-serviceaccounts that explains a little more.

Is there any additional feedback specific to this Azure AD DS doc that we can address? It looks like you've created a ques

[2019-08-02 15:35] mowens1234 commented on #36116
Can you confirm that "C:\Program Files\Microsoft Dependency Agent>"%Programfiles%\Microsoft Dependency Agent\uninstall_9.9.0.6300.exe" is the correct uninstall logic?

[2019-08-02 15:44] matsimon opened #36403 "Unlucky / bad wording of response of PTA really supports Alternate ID"
The wording of the answer is a an unlucky word choice as it eventually means that PTA works with Alternate ID only if userPrincipalName in AAD connect is chosen as UPN in AAD. Since only in that case the on-prem UserPrincipalName is synchronized to AAD.

What about the following statement (modification in bracket): "Yes, [however] Pass-through Authentication supports Alternate ID [to a limited ext

[2019-08-02 15:47] #34409 closed

[2019-08-02 15:50] matsimon opened #36404 "PTA Alternate ID limitations should be highlighted and link to the PTA FAQ"
Hi

The decision table shows that Alternate ID works for PTA which it only does to limited extent as (also not yet really clearly) described in the PTA FAQ. (https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-pta-faq#does-pass-through-authentication-support-alternate-id-as-the-username-instead-of-userprincipalname)

PTA actually only works with alternate ID when userPrin

[2019-08-02 15:55] Mike-Ubezzi-MSFT commented on #36207
The issue with the tutorial is in the following section: Ingest sample data into the Azure Data Lake Storage Gen2 account ([link](https://docs.microsoft.com/en-Us/azure/azure-databricks/databricks-extract-load-sql-data-warehouse#ingest-sample-data-into-the-azure-data-lake-storage-gen2-account)) where the code to be entered should be:

The issue being `storageAccount` versus `storageAccountName`. I

[2019-08-02 15:56] Shri-Humrudha commented on #35535
@Alberto-Vega-MSFT I verified my system requirements. I followed this tutorial. As suggested I will open an issue with Azure Kinect repository.

[2019-08-02 15:57] tesych commented on #36231
@JayaSaiSontineni Thank you for you question. From the error above it looks like the reason recording is not starting is the camera already in use. Please make sure that all of the tools that are using the device or devices are closed (like a k4aviewer for example).

[2019-08-02 15:58] matsimon opened #36405 "PTA Alternate ID limitations should be highlighted and link to the PTA FAQ"
Hi

The text says that "Alternate ID can be used with password hash sync, pass-through authentication, and federation". However it does not mention the limitation that it only works with PTA when userPrincipalName is chosen as UPN on AAD and synchronized from on-prem AD to AAD.

Please mention and highlight the limitation and for details link to the (not yet really clearly) described in the PTA FA

[2019-08-02 16:06] slapheadted commented on #24804
Thanks for getting back to me @hpsin :)

That Postman collection is really handy, thanks for sending that through. I'd effectively replicated that setup inside Postman whilst dissecting requests/responses in the [OAuth Sandbox](https://oauthplay.azurewebsites.net)...just to confirm I was sending the correct params. I can't see anything unusual when comparing to what I'm sending...although...

Some

[2019-08-02 16:09] dan-wesley commented on #36221
@femsulu try Patrick Butler (@pbutlerm)

[2019-08-02 16:14] MicahMcKittrick-MSFT commented on #36386
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-02 16:15] Mike-Ubezzi-MSFT commented on #36380
@Pancat007 Thank you very much for bringing this issue to our attention. We are reviewing the tutorial and investigating the possible root cause.

[2019-08-02 16:29] msmimart commented on #33506
@zwilias thanks for pointing this out; updates to the article should publish shortly.

[2019-08-02 16:29] #33506 closed

[2019-08-02 16:37] FrankHu-MSFT commented on #35898
@mahoekst  Thanks for your feedback again, the MSAL library has been updated accordingly. I suggest taking a look at it here : https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging

[2019-08-02 16:39] MicahMcKittrick-MSFT commented on #36044
@axelgMS I added that information to the document under the Tips and Tricks section.

Once the PR merges the changes will go live after a few hours.

[2019-08-02 16:39] #36044 closed

[2019-08-02 16:40] danielkboyer commented on #22913
Any updates?

[2019-08-02 16:42] ashleyabraham opened #36408 "Is JObject json object? not clear for someone new to Azure DataFactory"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 965d9ab8-6b54-daba-9693-206845821d0c
* Version Independent ID: 08725018-92a0-6b2c-8130-6debcc535b7a
* Content: [Azure Function Activity in Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/control-flow-azure-function-activity)
*

[2019-08-02 16:42] FrankHu-MSFT commented on #36272
I see, thanks for letting us know @MoRMongol  I would suggest filing this under uservoice as the doc issues are mainly meant for handling issues with the doc and this looks like to be working as intended.

You can do that here : https://feedback.azure.com/forums/169401-azure-active-directory

In addition to that I'll be sure to forward this information to the product group accordingly. Thanks for

[2019-08-02 16:43] MicahMcKittrick-MSFT commented on #35825
@msftnadavbh I have created a PR and added that to the steps. Thanks for the suggestion :)

Once the PR merges the changes will go live after a few hours.

[2019-08-02 16:43] #35825 closed

[2019-08-02 16:44] FrankHu-MSFT commented on #36323
@andrewgill-draysontechnologies I'm following up on this issue, can you please respond in regards to the previous replies on this thread? Thanks

[2019-08-02 16:44] FrankHu-MSFT commented on #36308
@theheatDK I'm following up on this issue, can you please respond in regards to the previous replies on this thread? Thanks

[2019-08-02 16:45] FrankHu-MSFT commented on #35899
@mahoekst I'm following up on this issue, currently we're still looking into this and will try to update the docs as soon as possible. Thanks again for letting us know about this!

[2019-08-02 16:46] djpmsft commented on #35375
The JSON editor in Azure Portal for authoring & deploying ADF v1 pipelines is now disabled. Please use alternate methods such as [ADF v1 Powershell cmdlets](https://docs.microsoft.com/powershell/module/az.datafactory/?view=azps-2.4.0&viewFallbackFrom=azps-2.3.2), [ADF v1 .Net SDK](https://docs.microsoft.com/dotnet/api/microsoft.azure.management.datafactories.models?view=azure-dotnet), [ADF v1 REST

[2019-08-02 16:46] djpmsft commented on #35375
#please-close

[2019-08-02 16:46] #35375 closed

[2019-08-02 16:46] FrankHu-MSFT commented on #36405
@matsimon Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-02 16:47] FrankHu-MSFT commented on #36404
@matsimon Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-02 16:47] FrankHu-MSFT commented on #36403
@matsimon Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-02 16:47] MicahMcKittrick-MSFT commented on #35026
@axelgMS I worked with Engineering on this issue and they have decided they prefer not to include that information in this document. However the issue will remain on the document so if others find they want this info added they can comment and we can always reopen and reconsider.

[2019-08-02 16:47] FrankHu-MSFT commented on #36388
@HeineLysemose Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-02 16:47] FrankHu-MSFT commented on #36387
@HeineLysemose Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-02 16:47] FrankHu-MSFT commented on #36384
@rahulraj40 Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-02 16:47] FrankHu-MSFT commented on #36382
@rahulraj40 Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-02 16:47] FrankHu-MSFT commented on #36379
@rahulraj40 Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-02 16:47] FrankHu-MSFT commented on #36367
@bachoang Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-02 16:47] #35871 closed

[2019-08-02 16:48] Mike-Ubezzi-MSFT commented on #36381
@ahmadkaispe Thank you very much for your inquiry. This is being investigated by the service lead for Azure Logic Apps and will be able to respond accordingly.

[2019-08-02 16:48] #36183 closed

[2019-08-02 16:49] FrankHu-MSFT commented on #36387
Hey @HeineLysemose can you provide a screenshot of the issue you're experiencing? Please note that this feature is in preview. And there may be issues with it, and it's not meant for GA use.

[2019-08-02 16:49] fabiocav commented on #30814
@featuresnap it would be interesting to look at your code.

@janitorr options setup and dependency should work. Can you perhaps open an issue at https://github.com/azure/azure-functions-host with a repro and more details on what you're trying to do so we can take a closer look.

One thing I've mentioned in a couple of other related issues is that adding configuration from a source outside of what

[2019-08-02 16:50] FrankHu-MSFT commented on #36379
Hey @rahulraj40  it should work with a global admin role.
Do you have the correct Azure AD license? per the note:

_Using Azure AD naming policy for Office 365 groups requires that you possess but not necessarily assign an Azure Active Directory Premium P1 license or Azure AD Basic EDU license for each unique user that is a member of one or more Office 365 groups._

[2019-08-02 16:51] raiye commented on #36386
@Erik Swart (TEKsystems Inc)<mailto:v-erswar@microsoft.com> to assist

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Micah <notifications@github.com>
Sent: Friday, August 2, 2019 9:14:43 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rashmi Iyer <raiye@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azur

[2019-08-02 16:52] theheatDK commented on #36308
Hi @FrankHu-MSFT,
Sorry, I do not understand what you mean? :-)
You have written that you are looking into it, so I am unsure what you need from me?
Regards Peter

[2019-08-02 16:54] raiye commented on #36386
FYI:  Looking into it now.

-Erik Swart
Program Manager | Azure Compute | v-erswar@microsoft.com<mailto:v-erswar@microsoft.com>
[Microsoft Logo]

From: Rashmi Iyer <raiye@microsoft.com>
Sent: Friday, August 2, 2019 9:51 AM
To: MicrosoftDocs/azure-docs <reply@reply.github.com>; MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>; Erik Swart (TEKsystems Inc) <v-erswar@microsoft.com>
Cc: Mention

[2019-08-02 16:55] rakeshjjain opened #36409 "configuring app service app using a script"
Is there a way to script some of the settings to configure a web app service app using powershell or similar?

https://docs.microsoft.com/en-us/azure/app-service/configure-common
=> Configure general settings
=>Platform settings: 32-bit or 64-bit.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e25899c-1ed8-7cfc-2c37-7

[2019-08-02 16:55] SamaraSoucy-MSFT commented on #36394
@eivenskr `TelemetryConfigration.Active` is being deprecated for .NET Core only. As is noted in the doc,  using config files is not supported in .NET Core.

In the [doc for .NET Core](https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core) there is also a note that `TelemetryConfiguration.Active` is not supported for Core.

I will now proceed to close this thread. Please tag me if y

[2019-08-02 16:55] #36394 closed

[2019-08-02 16:58] BorisB2015 commented on #35825
Thanks for taking care of it. The changes should be going live shortly!

[2019-08-02 16:59] MicahMcKittrick-MSFT commented on #35997
@colemickens I have submitted a PR to address this issue. Once the PR merges the changes will go live after a few hours.

[2019-08-02 16:59] #35997 closed

[2019-08-02 17:03] #36199 closed

[2019-08-02 17:05] MicahMcKittrick-MSFT commented on #35909
@ivanignatiev as you are an FTE, it is easier to take issues like this offline. Please email the content author directly with your use case and any suggestions so they can add it to their internal backlog.

[2019-08-02 17:05] #35909 closed

[2019-08-02 17:08] kgremban commented on #36264
As an async method that returns a Task<>, it should have 'await' in front of the declaration instead of 'new' or nothing. Do you agree, @xtofs and @Alberto-Vega-MSFT?

[2019-08-02 17:08] MicahMcKittrick-MSFT commented on #35877
@davidokeyode I have created a PR to address this issue. Once the PR merges the changes will go live after a few hours.

[2019-08-02 17:08] #35877 closed

[2019-08-02 17:13] KranthiPakala-MSFT commented on #36399
@Johannes-Vink Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2019-08-02 17:14] MicahMcKittrick-MSFT commented on #35158
@brownbl1 I worked offline with the content team and at this time we have opted to not add any info to this document. However, you comment will remain on this document so if others have similar issues they can comment and we can always reconsider and reopen the issue.

[2019-08-02 17:14] #35158 closed

[2019-08-02 17:15] KranthiPakala-MSFT commented on #36408
@ashleyabraham Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2019-08-02 17:19] MicahMcKittrick-MSFT commented on #34967
@arnoldna I have submitted a PR to address this issue. Once the PR merges the changes will go live after a few hours.

[2019-08-02 17:24] FrankHu-MSFT commented on #36346
Hey @mahoekst as this issue is now being fixed. I am closing out this issue today.

Thanks again for letting us know about this!

[2019-08-02 17:26] ethzeus opened #36411 "Is it unsafe to give away your node access key to users?"
I now have a private Quorum Blockchain deployed on Azure following this tutorial. I deployed a private ERC20 OpenZeppelin smart contract via truffle. In my migrations script, I used:

deployer.deploy(contract, {privateFor: ["&lt;alpha node access key&gt;"], from:"&lt;my member account"}).

I've been minting test tokens the same way, privateFor alpha node, from my account. When I add the alpha node

[2019-08-02 17:26] FrankHu-MSFT commented on #36308
Hey @theheatDK sorry about that. The question doesn't have much detail, and I made a small mistake.

I'm going to add some more detail to the question, we are still looking into this particular issue. But from my understanding this is currently not supported via powershell.

[2019-08-02 17:34] roberts2727 opened #36412 "all users get passwordless promts"
We followed these instructions to enable for only a test group being sure to scope it properly but now all users are getting passwordless auth prompts and have to choose to use password instead since they are not in the scoped group.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae3dbcad-9d0d-c32d-7b02-2a3ffe291b2e
*

[2019-08-02 17:35] SaurabhSharma-MSFT commented on #36320
@lossenfort Please refer to [Troubleshooting verification code issues](https://support.microsoft.com/en-in/help/12428/microsoft-account-security-info-verification-codes) section to perform initial troubleshooting steps for your issue.

[2019-08-02 17:41] NavtejSaini-MSFT commented on #36398
@pbiasotti Thanks for the question. The document and the added .NET SDK is for moving service level S1,S2,S3 to Single Partition collection. Moving to Single Partition collection makes sense and is supported as maximum and minimum throughput for S1, S2 and S3 matches or falls in throughput for Single partition collection. Even the storage limits matches for the two. Additionally we will check this

[2019-08-02 17:46] YutongTie-MSFT commented on #36017
@ArcherAZ Hi Archer, could you please help to check this issue? It has happened before. https://github.com/MicrosoftDocs/azure-docs/issues/31337 Thank you very much.

[2019-08-02 17:47] curtand commented on #36228
@DeanGross I published this content for another team. I'll contact the author to see if there are more roles included.

[2019-08-02 17:54] curtand commented on #31300
Hi @michevnew
These appear to all be documented now..
#please-close

[2019-08-02 17:54] #31300 closed

[2019-08-02 17:55] kobulloc-MSFT commented on #36309
@tkumark The data should end up in your Application Insights resource.  Have you confirmed that you aren't running into a [limitation](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostics-extension-to-application-insights#limitations)?  What are you sending data from?

[2019-08-02 17:55] Bafff commented on #36184
@MicahMcKittrick-MSFT but I don't see that it is resolved

[2019-08-02 17:55] peledins commented on #36163
Hi!

Could you add a sentence that “Tables are not supported”? It seems natural it should be supported, so the fact that it is not should be called out to avoid confusion.

Thanks,
Peteris

From: SumanthMarigowda-MSFT <notifications@github.com>
Sent: Thursday, August 1, 2019 10:45 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Peteris Ledins <peledins@microsoft.com>; Mention <

[2019-08-02 17:59] MicahMcKittrick-MSFT commented on #36184
@Bafff sorry I hit close by accident.

[2019-08-02 18:00] viv-liu commented on #34866
Thank you! Good call. See PR #84185

[2019-08-02 18:02] FrankHu-MSFT commented on #36412
@roberts2727 Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-02 18:05] Karishma-Tiwari-MSFT commented on #36158
Thanks @larryms Your PR has been merged and changes are live.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-08-02 18:05] #36158 closed

[2019-08-02 18:06] tamram commented on #36163
I've added a sentence to that doc stating that Table support is not available. Should go live later today.

[2019-08-02 18:07] Alberto-Vega-MSFT commented on #34866
Thanks @viv-liu for your help. @Auticons1 Thanks for taking the time to help us make this docs better.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-02 18:07] #34866 closed

[2019-08-02 18:09] Karishma-Tiwari-MSFT commented on #36032
We will now close this issue. Please share the details when you ready. I will reopen it and we will gladly continue the discussion. :)

[2019-08-02 18:09] #36032 closed

[2019-08-02 18:10] BPtLNfxZWo commented on #32583
@FrankHu-MSFT
Thanks for the update. It is critical topic its needs time, therefore I understand. Thanks that you are looking that detailed into the issue.

[2019-08-02 18:11] AhmadNYasin commented on #34880
This is because sometimes we see attack patterns for the sign in's so we classified it as leaked credentials.

[2019-08-02 18:11] mhabibal13 opened #36413 "Having a namespace with more than 5000 concurrent connections namespace"
Hello,

is there any workaround (might be an architectural design) for having a namespace with more than 5000 concurrent connections other than having a multiple number of concurrently provisioned namespaces?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17b26254-ce8c-76eb-c3e9-b80c3ecc45ba
* Version Independent ID: f

[2019-08-02 18:12] iainfoulds commented on #30553
Sorry you ran into issues, @dpace-cs. This doc, and in fact the whole set of LDAPS docs, have been updated to show the current behavior, and should publish next week.

#please-close

[2019-08-02 18:12] #30553 closed

[2019-08-02 18:12] Karishma-Tiwari-MSFT commented on #36152
@cap273 Did that help? Please let me know.

[2019-08-02 18:12] tremblaysimon opened #36414 "The new Directory show when we logout / login of Azure Portal"
In the the point 4 of that documentation https://docs.microsoft.com/en-ca/azure/active-directory/fundamentals/active-directory-how-subscriptions-associated-directory, it mentions that it takes some time before new Directory appears in the Switching interface. After a few minutes after nothing showing up, I tried to logout / login of Azure Portal and my new Directory was in the Switching interface.

[2019-08-02 18:13] iainfoulds commented on #30823
Sorry you ran into issues, @KevP. This doc, and in fact the whole series of LDAPS docs, have been updated, and there's a specific callout on needing to specify this. These doc updates should publish next week.

#please-close

[2019-08-02 18:13] #30823 closed

[2019-08-02 18:18] TiloGit commented on #36338
looks like long know issue:
https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/19415368-enable-app-password-creation-when-mfa-is-enforced

[2019-08-02 18:19] TiloGit commented on #28117
btw here feedback for this: https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/19415368-enable-app-password-creation-when-mfa-is-enforced

[2019-08-02 18:24] jwargo commented on #36391
@SteveMaz OK, thanks for the clarification, we'll take a look at making an update.

[2019-08-02 18:24] eivinskr commented on #36394
Ahh, I have two things I still find weird if you don't mind discussing it @SamaraSoucy-MSFT.

- It was posted in the [.NET Github repo for Application Insights](https://github.com/microsoft/ApplicationInsights-dotnet), not the [.NET Core Github repo](https://github.com/microsoft/ApplicationInsights-aspnetcore).
- After describing how to configure AppInsights for ASP.NET Core and Azure functions it

[2019-08-02 18:25] FrankHu-MSFT commented on #36414
@tremblaysimon
Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-02 18:25] NancyZamora opened #36415 "Needed permissions to manage PIM < Azure Resources"
If an account has the 'Privilege Role Administrator' (Can manage role assignments in Azure AD, and all aspects of Privileged Identity Management.), but is not assigned with Owner or User Access Admin RBAC role, the account won't have the rights to manage PIM &lt; Azure Resources

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-08-02 18:25] mike-urnun-msft commented on #36392
Hi @LukasNespor - Thank you for sharing your feedback. Since this channel is driving improvements towards MS Docs, could you post this feedback on [Azure UserVoice for Logic Apps](https://feedback.azure.com/forums/287593-logic-apps) instead?

[2019-08-02 18:26] spelluru commented on #36164
The updated article is live now.

#please-close

[2019-08-02 18:26] #36164 closed

[2019-08-02 18:30] Alberto-Vega-MSFT commented on #36140
Hi @DeveloperBeginner I hope  my previous response was useful

[2019-08-02 18:37] mike-urnun-msft commented on #36413
Hi @mhabibal13 - Thank you for your feedback! We will review and update as appropriate.

[2019-08-02 18:38] Michael-Sampson opened #36417 "Date of article?"
Hi team - I came to this page from https://techcommunity.microsoft.com/t5/Azure-Active-Directory-Identity/Presenting-the-new-Unfamiliar-Sign-in-Properties/ba-p/779978, which has an August 2019 date on it, and says there is a refreshed version of Azure AD IP. The date on this page, however, is still March 2018. Can you change the date on this page to show at what point the "refreshed" aspects came

[2019-08-02 18:40] beardedmogul commented on #36387
I can confirm this is also happening for me.  No only do I get a number prompt, I also get an 'Approve' prompt, because I have MFA configured.  The log in form waits for the MFA prompt, but does not display a number for the number prompt.  After touching 'Approve', I am signed in.

[2019-08-02 18:40] #36148 closed

[2019-08-02 18:42] KranthiPakala-MSFT commented on #36218
Thanks for the details @anssenfang1.

@hrasheed-msft Could you please have a look at the response from Anssen?

[2019-08-02 18:43] NavtejSaini-MSFT commented on #36301
@chainhead We are going to go ahead and close this issue for now. If you have any other issue please create a new issue and we will be happy to look at it.

[2019-08-02 18:43] #36301 closed

[2019-08-02 18:43] MartinJaffer-MSFT commented on #35926
Thank you.  They are now links.  That works for me.  I will now escalate.

[2019-08-02 18:49] KranthiPakala-MSFT commented on #36314
@sachindedhia Just checking to see if you have got a chance to go through IR logs to dig more about the error details?

[2019-08-02 18:50] TravisCragg-MSFT commented on #29446
@damendo I am fine with closing this, but if you have a timeline for this to be fixed it will be appreciated. I am doing what I can to make this a priority on my end.

@cogran We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-02 18:50] #29446 closed

[2019-08-02 18:51] tjsullivan1 opened #36418 "Unable to replicate data plane vs management plane separation"
"Since Alice has a wildcard (*) action at a subscription scope, their permissions inherit down to enable them to perform all management actions. Alice can read, write, and delete containers. However, Alice cannot perform data operations without taking additional steps. For example, by default, Alice cannot read the blobs inside a container. To read the blobs, Alice would have to retrieve the stora

[2019-08-02 18:54] roygara commented on #35215
#please-close

[2019-08-02 18:54] #35215 closed

[2019-08-02 18:54] KranthiPakala-MSFT commented on #36328
@JosephCason We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you.

[2019-08-02 18:54] #36328 closed

[2019-08-02 18:58] MartinJaffer-MSFT commented on #35926
@pes-kapacity  Could you share with me a pipeline run ID and activity run ID?  You can get this by triggering the pipeline, and then going to the monitoring screen.  For this, do not use a 'debug' run.  Once I have these ID's I can send them to someone who can look into the back-end logs.

[2019-08-02 19:01] pes-kapacity commented on #35926
Hi Martin,

None of this has been published yet, as we're still developing it. I have another case related to the same branch that's basically preventing us from pushing this into a PR. So for the time being, the best I can do is run it in debug mode and provide you with the runID from there. That's what we have been doing with the other ticket, and that seems to give the team enough to go by.

Th

[2019-08-02 19:03] MarileeTurscak-MSFT commented on #36382
I'm closing this out as it is a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/36384

[2019-08-02 19:03] #36382 closed

[2019-08-02 19:07] MartinJaffer-MSFT commented on #35926
Okay.  I will take the debug mode ID's.  What is the other ticket, if I may ask?

[2019-08-02 19:12] #32752 closed

[2019-08-02 19:20] FrankHu-MSFT commented on #36404
Hey @matsimon thanks again for letting us know about this, as these changes are currently in progress of being inserted, I will be closing out this git issue by end of day today. Please let us know if you have any more issues and please reopen the git issue accordingly.

Thanks!

[2019-08-02 19:20] pes-kapacity commented on #35926
Try this one (I just ran it):

Pipeline Run ID: 649ca0be-d7d4-4ca8-9f52-ffa34e37922d

The task called "Copy Data" holds the Delimiter source object. The flow is actually working fine as is. The reason we tried saving them to text files is because a colleague mentioned the other issue could be solved by sourcing the file as a text-file rather than a delimited file. However, I tried simply renaming

[2019-08-02 19:22] FrankHu-MSFT commented on #36405
Hey @matsimon

Much like : https://github.com/MicrosoftDocs/azure-docs/issues/36404

Thanks, for letting us know about this, as these changes are currently in progress of being inserted, I will be closing out this git issue by end of day today. Please let us know if you have any more issues and please reopen the git issue accordingly.

Thanks!

[2019-08-02 19:22] munozrickT4S opened #36420 "Page incomplete or out of date re: "Create and delete app passwords using the MyApps portal""
The screenshots don't reflect what is shown in the Profile page reached from the myapps page. All I see is "Change Password", "Edit Security Info", "Review Terms of Use", and "Sign out everywhere". In this particular case, it seems the "Edit Security Info" would be the correct choice. Clicking on "Edit Security Info", however, shows the Security Info page under "mysignins" page. That page and none

[2019-08-02 19:23] pes-kapacity commented on #35926
Heh.

The pipeline RunID I just provided you with also threw the error. That's a first for this set of files. So far, I've only seen it on the sales files.

That's a bummer. I thought we had 2 out of the 3 sets of files nailed. I'll have to investigate some time next week what happened.

/Peter

________________________________
From: Peter Schmitz <pes@kapacity.dk>
Sent: Friday, August 2, 2019 9:2

[2019-08-02 19:23] MrRitt opened #36421 "Windows Kubelet instructions"
With Windows now being an option.  Can we get an updated doc that mentions how to pull the kubelet log for windows?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92e345df-2425-d3ea-2d98-53949bc9314a
* Version Independent ID: 171f79d7-e1a6-efa0-d45c-cfdc81faf3c0
* Content: [View kubelet logs in Azure Kubernetes Service

[2019-08-02 19:27] munozrickT4S opened #36422 "Page incomplete or out of date for section "To create app passwords using the Office 365 portal""
The screenshot shows a section "Additional Security Verifications", but on the current O365 portal (under the settings/gear icon) there is no such subsection anymore. The only security-related choice that shows on this panel for our AD users is "Change your password".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8751

[2019-08-02 19:28] munozrickT4S commented on #36422
It seems you have to actually be on the "My account" page (portal.office.com/account/#apps) for the Settings panel to show the "Additional Security Verification" section.

[2019-08-02 19:30] CharlesToniolo commented on #23292
Any news about it?

[2019-08-02 19:30] #30551 closed

[2019-08-02 19:31] SamaraSoucy-MSFT commented on #36394
The Application Insights package is used in both Framework and Core. The .NET Core SDK has it as a dependency.

`TelemetryConfiguration.Active` is a backup for when you don't have dependency injection available. Think of it as a default implementation that can be used in simple scenarios. In the doc example, Active avoids the complexity of setting up DI in .NET Framework. DI is built into .NET Cor

[2019-08-02 19:33] #36346 closed

[2019-08-02 19:47] FrankHu-MSFT commented on #36403
Hey @matsimon thanks for letting us know about this. I'm updating the doc per your suggestion. If you have anymore issues with the docs please open up a new git issue and we'll look into it as soon as possible.

Thanks again!

As the fix is currently being put into the doc, I will be closing out this github issue. Please reopen this if you have any concerns or issues.

Thanks!
- Frank

[2019-08-02 19:47] #36403 closed

[2019-08-02 19:48] MicahMcKittrick-MSFT commented on #36386
@raiye looks like there is nothing related to that KB anymore. I submitted a PR to remove it from the list. I will wait on sign off to ensure that is what you want to do. Let me know and I can merge it.

[2019-08-02 19:49] Mike-Ubezzi-MSFT commented on #36331
@chainhead No need for proxysql.com as the Azure Database for MySQL (PaaS) service provides a GW service the brokers all connections to your MySQL instance. If there is functionality you are specifically seeking that proxysql.com provides, can you detail that? If you look at the server params for your MySQL deployment, you will find those parameters that are available.

How to configure server par

[2019-08-02 19:49] raiye commented on #36386
@Erik Swart (TEKsystems Inc)<mailto:v-erswar@microsoft.com> to have the final say

-Rashmi Iyer

From: Micah <notifications@github.com>
Sent: Friday, August 2, 2019 12:48 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rashmi Iyer <raiye@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] July 2019 guest OS patches list appears to have a

[2019-08-02 19:55] MartinJaffer-MSFT commented on #35926
Ahh I do have an idea for you now.  I don't think they meant changing the file extension, but instead using a different connector.  I can't imagine the file suffix imacting anythign.  You see, go to look at the JSON definition of your activitiy and datasets.  You will find "Type":"DelimitedText".  I believe they meant to try an older module ,"TextFormat".

To see the two different dataset types in

[2019-08-02 20:01] PatAltimore commented on #36244
Hi @Alberto-Vega-MSFT, The update has been publish and is live.

Pat

[2019-08-02 20:03] MartinJaffer-MSFT commented on #35926
Oh, I found how to still get at the TextFormat in UI.
![image](https://user-images.githubusercontent.com/46612670/62395518-5a9a7480-b525-11e9-9f0a-b3c4ffdb5cfd.png)
From here, do not select DelimitedText.  Instead choose Json or Avro.
![image](https://user-images.githubusercontent.com/46612670/62395599-99c8c580-b525-11e9-8792-e12b38da2b57.png)
Now, under File format, change from Json/Avro to 'Text

[2019-08-02 20:03] Alberto-Vega-MSFT commented on #36411
@ethzeus Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-02 20:04] Alberto-Vega-MSFT commented on #36397
@smoms Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-02 20:04] fedonasc opened #36423 "Can my organization switch between per-user and per-authentication consumption billing models at any time?"
Since Sep 1st 2018 new Auth Providers cannot be created, therefore if you delete the one you have in order to create a new one with a different license model, you won't be able to recreate it. I believe this answer need to be adjusted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d577f70e-9632-48ee-8e00-cead8e3cbd5b

[2019-08-02 20:06] Alberto-Vega-MSFT commented on #36389
Hi @rajb865 I'm sorry to hear that you are facing this issue. Can you confirm that you met the pre-requisites and recommendations listed here https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-develop-for-windows#prerequisites

[2019-08-02 20:07] pes-kapacity commented on #35926
That could very well be. I actually looked for a non-delimited text source, but didn't find one. It could very well be my colleague tried that before her vacation, and by the time I tried reproducing it, the source was gone. I highly enjoy the constant changes and improvements, but at times it does make yhou question your own sanity if something you saw the day before suddenly is behaving or looki

[2019-08-02 20:11] Linaa opened #36424 "no comment on the feasibility of programmatically changing Tenant of an existing subscrpition"
Is there a way to programmatically change directory of an existing subscription?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da261ee4-3348-b520-a27c-98f9d9ef40cc
* Version Independent ID: 13d12189-ee46-8058-dd99-058adc69f1c5
* Content: [Add an existing Azure subscription to your tenant - Azure Active Directory](http

[2019-08-02 20:12] alexkarcher-msft commented on #31219
From the top of that paragraph:

"In the Premium plan, you can have your app pre-warmed on a specified number of instances, up to your minimum plan size."

[2019-08-02 20:16] MicahMcKittrick-MSFT commented on #36322
@mlearned @sauryadas can either of you elaborate more on this?

[2019-08-02 20:20] raiye commented on #36386
FYI:  I'm in process of verifying.  Looks like the original KB listed was removed (It was there previously).  I appears that it may have been replace with a Roll-Up KB.  But in process of confirming specific details of what was actually put into the build so that we can have accurate details on the site.  Expect to be able to have it resolved by EOD.  Else I'll remove that link from the Patch list

[2019-08-02 20:22] MicahMcKittrick-MSFT commented on #36421
@MrRitt I believe the process is the same with the exception you RDP to the node instead of SSH and o not use Sudo.

Regardless, it would be a good thing to get added to the documentation. I will assign to the content author.

[2019-08-02 20:24] #36405 closed

[2019-08-02 20:24] #36404 closed

[2019-08-02 20:27] MicahMcKittrick-MSFT commented on #36386
Thanks. Sounds good. If you opt to remove, the PR I submitted is ready to merge. Else, I will close it and let you update as needed.

[2019-08-02 20:29] eric-camplin opened #36425 "Deploy LAMP on Linux Tutorial: don't need FLUSH PRIVILEGES; in wordpress mysql creation"
On researching see that it is not needed when using `GRANT` (https://stackoverflow.com/questions/36463966/when-is-flush-privileges-in-mysql-really-needed)

 remove step since `FLUSH` not actually needed

enjoyed the tutorial!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1e11aaf-3a77-95dc-371c-01d67556c2c3
* Version I

[2019-08-02 20:31] CelesteDG commented on #28289
#please-close

The tutorial, https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-android, was rewritten and retested so it should now be working with the latest and greatest packages.

CC @TylerMSFT

[2019-08-02 20:31] #28289 closed

[2019-08-02 20:54] femsulu commented on #36418
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-08-02 20:59] MarileeTurscak-MSFT commented on #35448
We are closing this out as this is a duplicate of https://github.com/AzureAD/azure-activedirectory-library-for-objc/issues/1433.

Also, we will be deleting this thread since it contains personal data.

[2019-08-02 20:59] #35448 closed

[2019-08-02 20:59] iainfoulds commented on #32180
Sorry you ran into issues, @mohsinis

I've created a PR to add this callout. These doc updates should publish in an hour or two. We have future updates planned for these Linux docs that should further improve usability.

#in-progress

[2019-08-02 21:04] Mike-Ubezzi-MSFT commented on #36226
@aodugga I am opening this issue and assigning to content author, as I am not seeing an update to the doc as stated.

[2019-08-02 21:08] MartinJaffer-MSFT commented on #35926
Well, you could always just do a binary copy.  That moves it as-is.  No changes whatsoever.

[2019-08-02 21:09] MartinJaffer-MSFT commented on #35926
If you don't mind, I'll close this issue.  If need be, we can reopen again later.

[2019-08-02 21:10] #32180 closed

[2019-08-02 21:12] alkohli commented on #35778
@toolboc Thanks for your feedback! The text is reworded and the changes are merged.  The content should go live after 3 pm.
Please close this. #please-close

[2019-08-02 21:12] #35778 closed

[2019-08-02 21:14] FrankHu-MSFT commented on #35013
Hey @umutge I see, please reopen the github issue next time. I'm reopening this now. Thanks for following up!

[2019-08-02 21:18] iainfoulds commented on #33408
Sorry you ran into issues, @nopjmp

For Azure AD DS, five invalid password attempts within 2 minutes on the managed domain cause a user account to be locked out for 30 minutes. After 30 minutes, the user account is automatically unlocked. Invalid password attempts on the managed domain do not lock out the user account in Azure AD. The user account is locked out only within your Azure AD Domain Ser

[2019-08-02 21:25] ppavanm commented on #35692
@kgremban, okay, I am now able to provision downstream device using DPS. After that I manually updated my IoT Device to set the parent device as my edge device.  Now if I try to use above c# code to authenticate the device it does not work!

First, If I give gateway hostname as IoT Hub hostname, like DeviceClient.Create("mygatewayhostname", auth, TransportType.Amqp_Tcp_Only), it throws exception s

[2019-08-02 21:40] FrankHu-MSFT commented on #36424
@Linaa Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-02 21:40] FrankHu-MSFT commented on #36423
@fedonasc Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-02 21:40] FrankHu-MSFT commented on #36422
@Thanks for your feedback! We will investigate and update as appropriate.Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-02 21:41] FrankHu-MSFT commented on #36420
@munozrickT4S Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-02 21:41] FrankHu-MSFT commented on #36417
@Michael-Sampson Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-02 21:41] FrankHu-MSFT commented on #36415
@NancyZamora Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-02 21:46] MarileeTurscak-MSFT commented on #36327
Thanks @eross-msft and @nhoj01 ,

I heard the same from the product group, that they are actively working on this and that a release is pending in the near future.

@nhoj01 you can check the release notes for updates. https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/whats-new

We will proceed to close this out but will update the comments when this feature is launched.

[2019-08-02 21:46] #36327 closed

[2019-08-02 21:47] Karishma-Tiwari-MSFT commented on #36425
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-02 21:49] #33408 closed

[2019-08-02 21:53] MarileeTurscak-MSFT commented on #36327
You can also check for updates on aka.ms/identityblog

[2019-08-02 21:55] iainfoulds commented on #33476
Sorry you ran into issues, @avelis26

The propagation of the fine grained password policy should occur within a few minutes across the Azure AD DS managed domain, but it won't necessarily force all users that aren't compliant to update their passwords accordingly.

What was the experience you encountered, or expected, so that we can update the doc accordingly and relay any necessary feedback to th

[2019-08-02 21:55] Karishma-Tiwari-MSFT commented on #36363
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-08-02 22:01] Karishma-Tiwari-MSFT commented on #36254
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-08-02 22:04] iainfoulds commented on #32691
Sorry you ran into issues, @Zebusch

You can add your votes / comments to the existing uservoice item to help prioritize delivery - https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/35388067-migrate-azure-active-directory-domain-services-fro

There's no ETA on this feature for now, but accompanying docs that outline the migration process will be published once the feature

[2019-08-02 22:04] #32691 closed

[2019-08-02 22:07] MikeStephens-MS commented on #33476
Also, just to avoid any confusion, the password complexity portion of fine grain password policies or FGPP in Azure AD DS only affects users created directly in Azure AD DS. Cloud users and Domain users sync'ed into the managed domain service from Azure AD are NOT affected by the password complexity settings.  The source of those users (Azure or on-premise AD) controls the password complexity.  Th

[2019-08-02 22:13] Karishma-Tiwari-MSFT commented on #36291
@tdihp Can you please elaborate on the ask and also share which document are you suggesting to be updated? Thanks

[2019-08-02 22:13] MarileeTurscak-MSFT commented on #36414
I agree that it would be useful to have a note here about sometimes needing to log out and log back in. I've made a pull request to add this.

Thanks for the suggestion, @tremblaysimon ! https://github.com/MicrosoftDocs/azure-docs-pr/pull/84232

@msaburnley

[2019-08-02 22:13] #36414 closed

[2019-08-02 22:14] olandese opened #36429 ""negateCondition": true is wrong in Json example 3"
The "negateCondition": true in the JSON example 3 is wrong, it should be false or not there at all

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8055b14d-f73f-2d8c-ad9a-38fdaedbc1a8
* Version Independent ID: c8abc944-00c9-d2a9-4f29-e5195f5916e8
* Content: [Create and use Azure Web Application Firewall (WAF) v2 custom

[2019-08-02 22:15] sandeepiiit commented on #31219
Thanks @alexkarcher-msft . I actually ended up opening another [github issue](https://github.com/Azure/Azure-Functions/issues/1292) to describe my question in much more detail.

[2019-08-02 22:16] MarileeTurscak-MSFT commented on #36384
Hi @rahulraj40 ,

Thanks for your questions.

Since you have multiple questions and these are more related to troubleshooting than to an issue with the docs themselves, the appropriate place to post these is MSDN. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

Please post your questions there and we will gladly respond.

[2019-08-02 22:16] #36384 closed

[2019-08-02 22:19] MarileeTurscak-MSFT commented on #36275
Thanks @VAsHachiRoku ,

I made a pull request to add this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/84233

[2019-08-02 22:19] #36275 closed

[2019-08-02 22:21] MarileeTurscak-MSFT commented on #36338
Hi @TiloGit ,

Yes, this issue has been open for a while. I am creating a work item on my end so that the product team has visibility into the urgency.

@MicrosoftGuyJFlo for visibility as well

[2019-08-02 22:33] MarileeTurscak-MSFT commented on #36338
I have created a work item and will bring this to the product team's attention during my meeting with them this month. Thank you for following up.

Closing this out since a work item has been created, but I will update this thread when I have responses.

[2019-08-02 22:33] #36338 closed

[2019-08-02 22:41] MicahMcKittrick-MSFT commented on #35544
@GuitaristForEver the author has created some additional content around this that will be going live in the new few weeks. ETA is sometime around 8/12

CC @zr-msft

[2019-08-02 22:41] #35544 closed

[2019-08-02 22:47] tchristiani commented on #27175
This is now in the engineering backlog as a service bug. This is not a documentation issue.
#please-close

[2019-08-02 22:47] #27175 closed

[2019-08-02 22:47] munir94 opened #36430 "Provider For Hyper V"
Hello there,

may I know the parameter use for Hyper V provider? since we ASR Azure to Azure is A2A and VMware/physical is InImageV2. Appreciate your answer,

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff08de1c-1661-5523-0f1a-eca1fd34c3e9
* Version Independent ID: 64502dfc-db1c-ad5e-fa61-02e0163f85f6
* Conte

[2019-08-02 22:50] MarileeTurscak-MSFT commented on #36417
@Michael-Sampson I agree that this is confusing, especially given that there were recent press releases on the improved/refreshed experience and added security.

https://www.bleepingcomputer.com/news/microsoft/microsoft-boosts-compromised-account-detection-in-azure-ad-by-100-percent/

@MicrosoftGuyJFlo thoughts?

[2019-08-02 23:08] stevestein commented on #35829
@mikgam - thanks for raising this issue. I just update the article with the missing link and it should appear live soon.

Here's the link to the blog post: https://medium.com/azure-sqldb-managed-instance/impact-of-log-file-size-on-general-purpose-managed-instance-performance-21ad170c823e

[2019-08-02 23:09] stevestein commented on #35829
#please-close

[2019-08-02 23:09] #35829 closed

[2019-08-02 23:52] stewartadam opened #36432 "Application permission 'scopes'"
Following up on https://github.com/MicrosoftDocs/azure-docs/issues/21146, this documentation needs clarity on how to request scopes/roles when using application permissions, i.e. the client_credentials flow.

The documentation references using `.default` or `https://endpoint/.default` for legacy v1 behavior, but any attempt to specify a specific application permission/role (e.g. `https://endpoint/

[2019-08-02 23:52] raiye commented on #36386
OK.  Got the finalized answer and I have committed the update PR to the GuestOS patch list, so should be posted live here in a little bit after all the publishing processes finish.

Summary:
The reference to KB4506621 was indeed correct and I did get multiple confirmations that the associated patches were actually applied in the July Release and the references were accurate.  However, reference to

[2019-08-02 23:54] #36386 closed

[2019-08-02 23:59] femsulu commented on #36430
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-08-03 00:03] kjyam98 opened #36434 "Typo under 'Permissions required to create an Automation account' section"
The second bullet should read "...under Azure Active Directory &gt; MANAGE &gt; User settings, if App registrations...". Currently reads incorrectly as "...under Azure Active Directory &gt; MANAGE &gt; App registrations, if App registrations...". Please fix, thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b4440

[2019-08-03 00:07] xtofs commented on #36264
Yes,

  *   since it is not a constructor, the `new` must be removed to compile.
  *   to actually await and unwrap the task, it should use the await keyword (there are other ways but that would be off topic).

________________________________
From: Kelly Gremban <notifications@github.com>
Sent: Friday, August 2, 2019 10:08 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Christ

[2019-08-03 00:55] Mike-Ubezzi-MSFT commented on #35995
@sjbolinger Thank you very much for posting the solution to this issue. I will have the content author review this and make an appropriate update to the sample solution. Thanks again.

[2019-08-03 00:58] Mike-Ubezzi-MSFT commented on #35995
@codemillmatt Looks like the customer identified an issue with this tutorial and wanted to bring this to your attention. Please let CXP know if there is a change you would like use to make. Thank you.

[2019-08-03 01:00] Mike-Ubezzi-MSFT commented on #36393
@plankytronixx Thank you for bringing this to our attention. We are reviewing this and will make corrections when we have greater clarity.

[2019-08-03 01:05] Mike-Ubezzi-MSFT commented on #36393
@rthorn17 Customer has identified a minor edit to be made and wanted to bring this to your attention to verify the intent of the instructions. Thank you. Please let us know if you would like CXP to make a PR to address this. Thank you!

[2019-08-03 01:10] Mike-Ubezzi-MSFT commented on #36402
@sameer-kumar Thank you very much for bringing this to our attention. I have assigned this to the service area lead for Active Directory to get you the appropriate response to assist you.

[2019-08-03 01:15] Mike-Ubezzi-MSFT commented on #36409
@rakeshjjain Thank you for your inquiry. I have assigned this to an engineer who supports this area and will respond with the appropriate information as appropriate.

[2019-08-03 01:20] Alberto-Vega-MSFT commented on #35931
@alexanderbikk I am glad you found the answer to your question. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-03 01:20] #35931 closed

[2019-08-03 01:30] Alberto-Vega-MSFT commented on #19568
@JohnRambo90 Please confirm that you follow the Prerequisites section "exactly" as described here:  https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-send-telemetry-node#prerequisites

[2019-08-03 01:33] #27931 closed

[2019-08-03 01:33] Alberto-Vega-MSFT commented on #27931
@cartesiosson Since we haven't heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-03 01:42] Alberto-Vega-MSFT commented on #36265
@TurtleBeach any updates?

[2019-08-03 01:42] FrankHu-MSFT commented on #35013
as there has already been a work item filed, regarding your last comment, I will be closing out this github issue. Thanks again for letting us know @umutge

[2019-08-03 01:42] #35013 closed

[2019-08-03 01:44] mdid4d commented on #36122
Request to resloved digital payment of identity global around the world

[2019-08-03 01:44] Alberto-Vega-MSFT commented on #36257
@SeaDude any updates?

[2019-08-03 01:50] FrankHu-MSFT commented on #36424
Hey @Linaa unfortunately I don't think this is possible, I'll look into this, and let you know as soon as possible if this is supported or not. Thanks for your comment!

[2019-08-03 01:59] Alberto-Vega-MSFT commented on #36244
Thanks @PatAltimore! @dlebu Thanks for reaching out! this known issue has been resolved. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-03 01:59] #36244 closed

[2019-08-03 02:13] Alberto-Vega-MSFT commented on #36264
Thanks @kgremban added the await keyword

[2019-08-03 03:15] tkumark commented on #36309
when I create server fabric from azure portal I also enable Application Insights during that time in enables the sink configuration for Application insights. I expect that service fabric events will show up in Application Insights.

[2019-08-03 03:24] KrishnaG-MSFT commented on #36434
@kjyam98 Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-08-03 03:30] jmprieur commented on #36402
@sameer-kumar : it might be that you are in an organization where the tenant admins have decided that users could not consent themselves to applications, but that these applications need to be consented by the tenant admin themselves.

[2019-08-03 04:27] SubhashVasarapu-MSFT commented on #36429
@olandese, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-08-03 04:27] SogoGolf opened #36436 "please add example here of how to use "continuation" token to update more than 100 documents!"
its probly just me but i find the continuation token pattern really confusing to implement using the nodejs api & a CosmosDB stored procedure.  can you please add a clear, simple example of how to UPDATE, lets say, 1500 documents using the nodejs API that calls a stored procedure (which passes back a continuation token to the client). many thanks.

---
#### Document Details

⚠ *Do not edit this se

[2019-08-03 04:30] SubhashVasarapu-MSFT commented on #36217
@edberwick, Could you please reattach the image?

[2019-08-03 05:26] yasserhu1972 opened #36437 "az role definition create error"
I am getting below error when i tried to execute
az role definition create --role-definition "C:\Users\Yasser\Downloads\vmoperator.json"

Error:

"The request did not have a subscription or a valid tenant level resource provider."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fb67af1-51c8-9ee4-a679-df70ad398b50
* Ver

[2019-08-03 05:51] StingyJack commented on #35936
@Adam-Smith-MSFT  - if a docs issue is what you need then perhaps this can be used to explain why the documentation does not match the actual of the program usage.

[2019-08-03 06:28] askpatrickw opened #36438 "Cannot reuse the example request"
"You can replace fabrikamb2c with the name of your tenant if you have one and have created a user flow."

Don't you need to also specify a correct policy name and a client id?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c54adceb-9510-aeb5-0c61-c0d052459cda
* Version Independent ID: 0ff6b6b2-2802-9534-8963-796b9c4a2a

[2019-08-03 06:56] askpatrickw opened #36439 "Parameter order should be sorted by required"
As I read the parameter table, it would be more useful to sort by "required" so that the required values are sorted to the top.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c54adceb-9510-aeb5-0c61-c0d052459cda
* Version Independent ID: 0ff6b6b2-2802-9534-8963-796b9c4a2a76
* Content: [Web sign-in with OpenID Connect -

[2019-08-03 07:13] SeaDude commented on #36257
Hi @Alberto-Vega-MSFT . Thank you for the response. I'm calling the Azure Maps API using PowerApps. There is no functionality in PowerApps like the link you sent.

[2019-08-03 08:27] bizinbarefeet opened #36441 "Examples needed"
The Azure Advisor says to restrict access but there's no suggestions of what or how to do this.  Seems an useless recommendation to me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d90bbf62-44f9-30a6-d6ea-bbf776f6efc5
* Version Independent ID: b3961eac-6c70-b345-f48c-e4c0ec67059c
* Content: [Restrict access - Azure A

[2019-08-03 09:01] sivethe commented on #36110
Thanks @julie-ng  for the feedback.  We will be working on adding ci/cd pipeline to all of our quickstarts in the coming iterations

[2019-08-03 09:05] cowinr opened #36442 "App runs on different port"
I followed the instructions exactly, but the app runs on port 64619, not 5000 as mentioned in this article.
Therefore the swagger pages  are at http://localhost:64619/swagger/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbcc24f0-9856-a7db-f229-c383e5e5c57d
* Version Independent ID: 55d51b2a-c8fe-086e-a1c2-b0592f5796

[2019-08-03 10:41] stephenc01 opened #36443 "New Devops Domain"
Does not support the new devops domain

https://aka.ms/new-domain

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83c90e64-b615-711f-a53d-fc76606e2ecd
* Version Independent ID: 2d164036-6886-4440-50f7-369f99f41cea
* Content: [Source Control integration in Azure Automation](https://docs.microsoft.com/en-us/azure/automati

[2019-08-03 10:54] ignaciofls opened #36444 "Typo in Azure key vault"
Kindly review this paragraph “Azure Machine Learning service does store any passwords or keys “ , seems we are missing a not to complete the do not store

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5c3bce1-2494-6caf-728c-53127ae85329
* Version Independent ID: acdd8494-76aa-d47b-9735-7aea72613a95
* Content: [Enterpr

[2019-08-03 10:58] tdihp commented on #36291
In the [multiple nodepool](https://docs.microsoft.com/en-us/azure/aks/use-multiple-node-pools) scenario, the loadbalancer only uses the first nodepool as loadbalancer backend.

The [egress article](https://docs.microsoft.com/en-us/azure/aks/egress) uses a single public service to configure static egress IP. However this doesn't work for multiple node pool scenario, i.e. the egress IP of the 2nd no

[2019-08-03 11:02] stephenc01 opened #36445 "Update Access Token"
There is no way to update the access token after it expires.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83c90e64-b615-711f-a53d-fc76606e2ecd
* Version Independent ID: 2d164036-6886-4440-50f7-369f99f41cea
* Content: [Source Control integration in Azure Automation](https://docs.microsoft.com/en-us/azure/automation/so

[2019-08-03 11:13] a30001539 commented on #26913
actually they've moved again - the Advanced Settings menu is gone. Click on the "Quick Starts" menu to find the workspace id and keys

[2019-08-03 11:22] AmanGarg-MSFT commented on #36432
@stewartadam Thank you for the question! We are investigating this and will get back to you shortly.

[2019-08-03 11:23] AmanGarg-MSFT commented on #36436
@SogoGolf Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-08-03 11:40] KrishnaG-MSFT commented on #36366
Assigning to @bobbytreed for visibility and document enhancement considerations.

[2019-08-03 12:24] pes-kapacity commented on #35926
Hi Martin,

Is the issue actually resolved, though? My main reason for opening it to begin with was that the component, specifically the file extension, does not work the way the documentation says it would. It won't help me in this case, but in my opinion, it doesn't work as intended (or the documentation should be updated).

Thanks,

Peter

________________________________
From: MartinJaffer-MSF

[2019-08-03 13:15] KrishnaG-MSFT commented on #36443
@stephenc01 Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-08-03 13:17] KrishnaG-MSFT commented on #36445
@stephenc01 Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-08-03 14:17] bigtoga opened #36446 "Missing JSON escape and final quote in $ExportedSearches"
Great page - just one quick line fix in definition of $ExportedSearches:

Original:
        "Query":  "Perf | where ObjectName == "LogicalDisk" and CounterName == "Current Disk Queue Length" and InstanceName == "C:",

New version:
        "Query":  "Perf | where ObjectName == \"LogicalDisk\" and CounterName == \"Current Disk Queue Length\" and InstanceName == \"C:\"",

---
#### Document Details

⚠

[2019-08-03 14:20] bigtoga opened #36447 "Get-AzOperationalInsightsIntelligencePacks alias has been deprecated"
Just change Get-AzOperationalInsightsIntelligencePacks to Get-AzOperationalInsightsIntelligencePack and it works same.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb75e535-de4f-e730-4dfb-dfc160386f45
* Version Independent ID: 6b355634-913c-65e4-62fa-a51cfeff143a
* Content: [Use PowerShell to Create and Configure a L

[2019-08-03 14:47] KrishnaG-MSFT commented on #36447
@bigtoga Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-08-03 14:48] KrishnaG-MSFT commented on #36446
@bigtoga Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-08-03 14:53] Yegmorcar opened #36448 "Postman Error when attempting to Get Azure AD Token"
Hello,

I'm not sure if I'm doing something wrong but whenever I follow the step to get an Azure AD Token with service principal authentication. I get a Postman error that says to view it in the console.

When I open the console I get an error saying: JSONERROR | Unexpected token '&lt;' at 3:1
&lt;!-- Copyright (C) Microsoft Corporation. All rights reserved. --&gt;

However there's nothing on line

[2019-08-03 15:15] Yegmorcar commented on #36448
![CapturePostman](https://user-images.githubusercontent.com/40250409/62413697-e96bc780-b5df-11e9-86e5-52a305c217dc.PNG)

Here's a screenshot of what I'm getting.

[2019-08-03 15:15] KalyanChanumolu-MSFT commented on #36436
@SogoGolf Please check [this](https://github.com/Azure/azure-cosmos-js/blob/master/samples/ServerSideScripts/upsert.js) sample.

Do let us know if this doesn't help or if you have further questions.

[2019-08-03 15:25] Verikon commented on #19646
@navyasric  - your link 404s

[2019-08-03 16:36] animeshb commented on #30860
This is still not working. What @cheynove mentioned still applies.

Both

    HttpFunction.Run
    TimerTrigger.Run

don't exist.

[2019-08-03 16:46] sachindedhia commented on #36314
@KranthiPakala-MSFT ,

if you look at my screenshot, we had setup identical to yours dataset and linked service. So not sure if it's works for you than why it is not working for us.  There is some missing piece somewhere

I will check IR log for you on Monday and revert.

[2019-08-03 17:03] AmanGarg-MSFT commented on #36437
@yasserhu1972 Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-08-03 17:04] AmanGarg-MSFT commented on #36438
@askpatrickw Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-08-03 17:05] AmanGarg-MSFT commented on #36439
@askpatrickw Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-08-03 17:06] AmanGarg-MSFT commented on #36442
@cowinr Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-08-03 17:09] AmanGarg-MSFT commented on #36441
@bizinbarefeet Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-08-03 17:10] AmanGarg-MSFT commented on #36444
@ignaciofls Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-08-03 17:23] ggailey777 commented on #34999
This setting is now documented. #please-close

[2019-08-03 17:23] #34999 closed

[2019-08-03 18:29] jpe316 commented on #34150
We’ll be adding Git information to our user interface soon. Stay tuned for more information :)

[2019-08-03 18:48] AjayKumar-MSFT commented on #36441
@bizinbarefeet, Thanks for leveraging Azure docs feedback channel to raise this question!

To better assist you on this query, I would like to first highlight that, the Azure Advisor is a personalized cloud consultant that helps you follow best practices to optimize your Azure deployments. It analyses your resource configuration and usage telemetry and then recommends solutions that can help you i

[2019-08-03 18:52] AjayKumar-MSFT commented on #36448
@Yegmorcar, Thanks for the question! We are investigating and will update you shortly.

[2019-08-03 18:53] AjayKumar-MSFT commented on #36086
@ddeschepper, We will close this out and request you to track the Functions Filters status on the GitHub page linked above. We're also engaging with the team internally for further update.

[2019-08-03 18:53] #36086 closed

[2019-08-03 18:54] AjayKumar-MSFT commented on #36245
@1VIP, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2019-08-03 18:54] #36245 closed

[2019-08-03 19:05] AjayKumar-MSFT commented on #36262
@FindingNamo, This doc [Use WebJobs SDK](https://docs.microsoft.com/azure/app-service/webjobs-sdk-how-to#version-2x-8) section provides information on leveraging  LoggerFactory object with a sample. Also, checkout [azure-webjobs-sdk-samples](https://github.com/Azure/azure-webjobs-sdk-samples). Kindly let us know if that helps.

[2019-08-03 19:07] AjayKumar-MSFT commented on #36297
@babusalamkorad, Just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue or is good to be closed.

[2019-08-03 20:46] yiannislog opened #36449 "typo"
In teh paragraph entitled:
"Security skills are in short supply"
...there is a duplicate "FAR" - capitalised in the excerpt below:
"...The number of security alerts and alerting systems far outnumbers the number of administrators with the necessary background and experience FAR to make sure your..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-08-03 21:28] jmprieur commented on #33859
@jpitcherCMH : please have a look at https://docs.microsoft.com/en-us/azure/active-directory/develop/authentication-flows-app-scenarios#web-application-signing-in-a-user

[2019-08-03 21:31] jmprieur commented on #32856
The sample has been live for a few weeks now: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/4-WebApp-your-API

@saurabhsensharma : I think we can close the isse.

[2019-08-03 21:32] jmprieur commented on #30552
@mcurko : please have a look at https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/

[2019-08-03 21:33] jmprieur commented on #24914
@shashishailaj : I think we can close this issue now.

[2019-08-03 21:34] jmprieur commented on #19142
@shashishailaj : I belive we can now close this issue.

[2019-08-03 22:15] dhruv-balakrishnan commented on #27344
I second reopening this issue. I have been unable to generate a valid and useful key.

[2019-08-03 23:12] StingyJack commented on #19142
Yes, agree to close.  A bit late to use to show a former coworker they were missing an important step, but better eventually correct than never.

[2019-08-03 23:12] #19142 closed

[2019-08-04 00:37] Alberto-Vega-MSFT commented on #36154
@PingPongSet did you have a chance to look at my suggestion?

[2019-08-04 01:20] #36154 closed

[2019-08-04 02:02] chainhead commented on #36331
I would request you to refer this [link ](https://www.percona.com/resources/technical-presentations/proxysql-use-case-scenarios-percona-mysql-webinar) for ProxySQL features (e.g. read/write splits among others) and critique on how Azure MySQL achieves them natively.

As of now, I have successfully developed an Azure equivalent solution that uses Azure Database for MySQL and VMs for hosting the loa

[2019-08-04 02:52] jbevarts opened #36450 "Using jest to test outbound binding to CosmosDB"
I'd like to write tests that are able to properly add a document, and then read that document from a cosmosDB.

First of all, how can i use the proper context?  The imported default context from jest does not have a field called "bindings".  I am not able to assign to bindings the document I want to add to cosmos in the same way I can when I run the client locally and browse to the URL in my brows

[2019-08-04 04:07] SB-o-matic commented on #36095
I am after the same clarity that @Adam-Driver is looking for here.

Is nesting supported when using the combined registration for MFA and SSPR found at

Home >> <organization tenant name>  >> User settings >> User feature previews

Can we reopen the question till we get an answer?

[2019-08-04 04:26] animeshb commented on #30860
Okay, thats what copypasting out code at night does to you.

For anyone here later, the azure function in the sample code is not created similar to the one you create with visual studio. Best to start with the given sample.

Also use the `ILogger` from Microsoft.Extensions.Logging instead of Microsoft.Build.Framework.

[2019-08-04 04:43] joergjo opened #36451 "Breaking change in GA version of Microsoft.Azure.Cosmos 3.x"
await database.CreateContainerIfNotExistsAsync(containerName, "/id");
must be changed to
await database.Database.CreateContainerIfNotExistsAsync(containerName, "/id");

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8d9b842-de22-59e7-e36a-662e2060ae7a
* Version Independent ID: bda934c5-a268-721f-1a3e-1f73fc25c15f
* Con

[2019-08-04 04:47] SogoGolf commented on #36436
thanks but that doesnt help. that stored proc is structured to update a single document, or replace it. please read my initial post again. the use case is "I've already got a CosmosDB collection with 100,000 documents. now, i need to update (lets just say) 4,500 of those documents (via a query filter) using a stored procedure". im not inserting new documents. im not deleting documents. im calling

[2019-08-04 05:01] Mike-Ubezzi-MSFT commented on #36451
@joergjo Thank you for bringing this to our attention. Yes, there are multiple items that need to be addressed with the new SDK that was released. We greatly appreciate you taking the time to detail the specific issue in this case. We will address this in the documentation.

[2019-08-04 05:12] Mike-Ubezzi-MSFT commented on #36450
@jbevarts Thank you for inquiring about this functionality. Is there a specific document that details the Jest testing functionality with CosmosDB? I do see a document outlining how to use Jest with Azure Functions, and if you are using Azure Functions with CosmosDB there is some detail on hos to set this up: Strategies for testing your code in Azure Functions ([link](https://docs.microsoft.com/en

[2019-08-04 05:29] jbevarts commented on #36450
The link you supplied me is the link I have been using.  Thank you for your quick response.
https://docs.microsoft.com/en-us/azure/azure-functions/functions-test-a-function#javascript-in-vs-code

My question is in regards to the context established here:
![image](https://user-images.githubusercontent.com/4521017/62419784-9aed1600-b63d-11e9-83fc-e43dd5f5e51d.png)

I have established my outgoing bin

[2019-08-04 06:07] ram-msft commented on #36027
@wukun2015 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-04 06:07] #36027 closed

[2019-08-04 06:08] ram-msft commented on #36036
@thecpshah We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-04 06:08] #36036 closed

[2019-08-04 10:22] KrishnaG-MSFT commented on #36390
Looks like the feedback is related to update management solution's profound backend configuration. Assigning to @bobbytreed for better analysis / insights.

[2019-08-04 11:00] ignaciofls opened #36452 "Next steps - wrong pointer to github notebook"
In the text "For a full example of using data drift, see the Azure ML data drift notebook." the current link is broken and leads to a 404 in github. The link https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/data-drift/azure-ml-datadrift.ipynb should be changed to https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/monitor-models/data-dri

[2019-08-04 12:53] lesterw1 opened #36454 "Storage Blob Data Contributor Role is the ONLY role which allows uploading"
In the documentation section titled

"If you want to upload files, then verify that one of these roles has been assigned to your security principal:
   **Storage Blob Data Contributor**
   **Storage Blob Data Owner**

ONLY the **Storage Blob Data Contributor** role enables uploading.  The **Storage Blob Data Owner** role is NOT sufficient for write access (no idea why but that is the case). Failur

[2019-08-04 13:35] DavidDMicrosoft opened #36455 "OMS Workspace"
Workspace's are not longer referred to as OMS, believe now the correct term is Log Analytics Workspace, thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c27fe13-a824-84a5-e314-892a27c1dec5
* Version Independent ID: 510b5427-c927-84df-563f-31dfe13fc771
* Content: [Get started with Azure SQL database auditing](htt

[2019-08-04 13:50] AmanGarg-MSFT commented on #36449
@yiannislog Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-08-04 13:54] AmanGarg-MSFT commented on #36452
@ignaciofls Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-08-04 15:21] jdar opened #36456 "Out of date documentation."
After creating a new subscription to the cognitive service, I received an access key. (Followed official docs for this.)

{
  "error": {
    "code": "401",
    "message": "Access denied due to invalid subscription key or wrong API endpoint. Make sure to provide a valid key for an active subscription and use a correct regional API endpoint for your resource."
  }
}

---
#### Document Details

⚠ *Do

[2019-08-04 15:26] jdar commented on #36456
Additional information: I was able to get the API to work, after changing the endpoint to the correct endpoint. The endpoint in the article does not work. The endpoint that DOES work is "https://<my subscription>.cognitiveservices.azure.com/"

Suggested resolution: Remove the incorrect endpoint from the documentation, and add a statement telling reader to find endpoint on their subscription.

[2019-08-04 16:06] 1VIP commented on #36245
Saya telah membuat penyelesaian sendiri.
Terimakasih

[2019-08-04 16:31] pradeepramadasan opened #36457 "Fixed-size containers have a maximum limit of 10 GB"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-08-04 16:33] pradeepramadasan commented on #36457
What does this mean? Fixed size containers dont need a unique key and sharding key and I am not sure whether we will exceed 10GB. But in case we exceed 10GB what will be the recourse and we will be in production.
I want to decide based on the growth of various items a decision whether we need to partition or not ?>

[2019-08-04 18:49] MarileeTurscak-MSFT commented on #36423
Thanks, @fedonasc !

I made a pull request to remove the lines about creating new auth providers, for approval by @MicrosoftGuyJFlo

https://github.com/MicrosoftDocs/azure-docs-pr/pull/84250

[2019-08-04 18:49] #36423 closed

[2019-08-04 19:54] ahmedrafeq commented on #18057
Hi @Karishma-Tiwari-MSFT ,
I am running into the same issue.
I have followed the instructions on how to remove the SQL default instance and created a new named SQL instance. then removed the SQL IaaS agent. but the SQL IaaS agent keeps staying in "Transitioning" and the SQL config is unable to detect the SQL installation. I did notice the SQL IaaS extension installation on the Windows/SQL server V

[2019-08-04 19:57] danielstocker opened #36458 "WEBSITE_CONTENTSHARE should not be used accroding to support"
Hi there,
I raised support case 119071321000245, where the support engineer advised that WEBSITE_CONTENTSHARE should not be set at all in ARM deployments, as it should be managed by the function runtime. Not setting it seems to avoid an issue where an unintentional swap may occur during a redeployment. (see case information for details)

If this is the official guidance, should we add a note on th

[2019-08-04 20:01] ggailey777 commented on #33589
@bojingo, @kalvinwang, and @SogoGolf I've added an example of using the Azure CLI to set an individual function to disabled using the `AzureWebJobs.<function_name>.Disabled` setting. This PR is in the private repo, and should be live later on Monday am.

Please note that although the Web Apps REST APIs can be used to manage app settings, we don't currently provide REST-based examples in Functions

[2019-08-04 20:01] #33589 closed

[2019-08-04 20:07] jasonshave opened #36459 "Uncaught ReferenceError: $input is not defined"
Excellent tutorial however the sample, as well as my own code suffers from the error:

`Uncaught ReferenceError: $input is not defined`

It doesn't seem to impact the functionality at all however the interval checking never stops and produces a ton of errors in the console window; not to mention it probably consumes resources checking when it doesn't need to. This only happens if you trigger one o

[2019-08-04 20:43] ggailey777 commented on #33870
In messing around with this issue, I am wondering if this is actually a template bug.

@ColbyTresness I think that there may be a bug in the HTTP template for Typescript. Are you able to get the Typescript template to run correctly?

[2019-08-04 21:32] xtofs commented on #36264
Yes
* since it is not a constructor the ‚new‘ must be removed to compile
* to actually await the task and unwrap it it should use the ‚await‘ (there are other ways but that would distract)

On Aug 2, 2019, at 10:08, Kelly Gremban <notifications@github.com<mailto:notifications@github.com>> wrote:

As an async method that returns a Task<>, it should have 'await' in front of the declaration instead o

[2019-08-04 22:11] torchy-newman opened #36460 "instruction fails"
I have been unsuccessful following the instructions in the section 'Install and set up the Service Fabric SDK for a local cluster', on an azure vm with Linux (ubuntu 18.04).

This instructions fails:
   sudo apt-get install servicefabricsdkcommon
with this output :
Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This ma

[2019-08-04 22:35] ColbyTresness commented on #33870
The scriptFile setting has to be added on creation (and not the template), since the path depends on the name of the function it refers to. I tried this in both VS Code and the core tools and it's working as intended.

[2019-08-04 22:37] ggailey777 commented on #33870
@ColbyTresness are you running on Windows?

[2019-08-04 22:44] ColbyTresness commented on #33870
Yes

[2019-08-04 22:45] ggailey777 commented on #33870
Ok I can reproduce it so I’ll take it offline.

[2019-08-04 23:29] TurtleBeach commented on #36265
@Alberto-Vega-MSFT : Apologies for the tardy reply. Too many alligators last week. You are correct, they are two different pages. I looked at the titles, saw Devices on both pages, and assumed they were the same. That said, I do find it strange (i.e., confusing) that a link to a "services" SDK (contrasted with a link to a "Devices" SDK) goes to to a page named Microsoft.Azure.Devices.
Jack

[2019-08-05 00:46] Pher0ah commented on #36412
Our experience has been slightly different. When you enable a group of users; all the other users get prompted for passwordless; and then after successfully using the App to login; they get re-prompted for a password.

[2019-08-05 00:48] wickste opened #36463 "Location property should not be of type 'text'"
In the "Properties" table it is suggested that Location is of type 'text'. It should be either of type 'location' or 'deviceProperty' - depending on whether it is an application of device property. It definitely shouldn't be of type 'text'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae08e20b-eb74-8482-bee8-ec7080ab

[2019-08-05 00:55] wickste opened #36464 "Where is the python code that matches this device template?"
Unlike the corresponding C# how-to-guide, this Pythin guide does not include any code that matches the device template being discussed here.

I did find this code and it helps a bit, but it doesn't match the device template …
https://github.com/Azure/iot-central-firmware/tree/master/RaspberryPi

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-08-05 01:03] Mike-Ubezzi-MSFT commented on #36457
@pradeepramadasan Thank you for your interest in Azure and CosmosDB. Is there a specific document you are referencing, as I need to associate this GitHub issue with a document. If not, may I reference the following document to get started at a high level with regard to Databases, Containers, and Items ([link](https://docs.microsoft.com/en-us/azure/cosmos-db/databases-containers-items)).

[2019-08-05 01:09] Mike-Ubezzi-MSFT commented on #36455
@DavidDMicrosoft Thank you for pointing this out. We will have the documentation updated accordingly.

[2019-08-05 01:12] Mike-Ubezzi-MSFT commented on #36456
@jdar Thank you for bringing this to our attention and for detailing the solution. We will have the documentation updated accordingly.

[2019-08-05 01:15] Mike-Ubezzi-MSFT commented on #36460
@torchy-newman Thank you for bringing this to our attention. We are investigating and will update this issue when we have greater clarity.

[2019-08-05 01:17] Satya519364 commented on #34985
Hi team,

It is successfully deployed when i used truffle v5.0.3. Thank you for your help. How can we make it work with latest truffle framework?

Regards,
Satya

[2019-08-05 01:17] Mike-Ubezzi-MSFT commented on #36463
@wickste Thank you for bringing this to our attention. We will get the documentation updated as appropriate.

[2019-08-05 01:20] Mike-Ubezzi-MSFT commented on #36464
@wickste Thank you for bringing this to our attention. I have this assigned to the IoT service lead to be investigated. We will update this when we have greater clarity.

[2019-08-05 01:24] Mike-Ubezzi-MSFT commented on #36458
@danielstocker Thank you so much for bringing this to our attention. I have this assigned to the service lead to be investigated further and will make an update when we have greater clarity.

[2019-08-05 01:30] Mike-Ubezzi-MSFT commented on #36454
@lesterw1 Thank you for bringing the issue and the resolution to our attention. We will have the documentation updated accordingly.

[2019-08-05 01:34] nelsonmorais commented on #33735
According to the link above we should use:
[code]
and add references to:
[code]

[2019-08-05 01:34] Mike-Ubezzi-MSFT commented on #36459
@jasonshave Thank you for bringing this to our attention. We are investigating and will update you when we have greater clarity of the issue.

[2019-08-05 01:53] kalatchev opened #36466 "Languages"
Waht languages are supported? English only?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a36a9196-5e31-1d88-115b-75dfb0b3fb0f
* Version Independent ID: 51db9675-eb67-a325-cd10-a2fbff8e102a
* Content: [How to install and run container for Form Recognizer - Azure Cognitive Services](https://docs.microsoft.com/en-us/azu

[2019-08-05 02:47] msvijayn commented on #36395
@andrewatfornax - can you elaborate what is the diff or misses you're seeing? Both ARM REST & Template reference are generated from [same Swagger spec](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/monitor/resource-manager/Microsoft.Insights/stable/2018-04-16/scheduledQueryRule_API.json).

[2019-08-05 03:17] SnehaAgrawal-MSFT commented on #36073
@ivandretvic Thanks again for bringing this to our attention. We will now close this issue.

[2019-08-05 03:17] #36073 closed

[2019-08-05 03:19] SnehaAgrawal-MSFT commented on #36372
@softveda Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate

[2019-08-05 03:33] MoRMongol commented on #36272
Thanks for the timely response. I've found someone raised this same question on the feedback page. So I went ahead and voted on his idea and left a comment. Meanwhile, we still need to find a solution for our case. We don't know how long it'll be till they stop the prefix character limit. Since you @FrankHu-MSFT are aware of this, could you please respond to my second question? I've tried creating

[2019-08-05 04:03] DashleenBhandari-MSFT commented on #36268
@tony-gutierrez , I need some more information about the App Service Plan.
1. Are we creating new App Service Plan?
2. If not, is the App Service Plan in a different resource group?

[2019-08-05 04:11] KrishnaG-MSFT commented on #36447
@bigtoga Verified and updated the document as required. Thanks.

[2019-08-05 04:11] #36447 closed

[2019-08-05 04:11] KrishnaG-MSFT commented on #36446
@bigtoga Verified and updated the document as required. Thanks.

[2019-08-05 04:11] #36446 closed

[2019-08-05 04:14] dcurwin commented on #35831
#reassign:pvrk

[2019-08-05 04:15] PramodValavala-MSFT commented on #36289
@hf-kklein Just following up here... Hope my previous comment clears things up.

[2019-08-05 04:21] RohitMungi-MSFT commented on #36466
@kalatchev Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-08-05 04:27] PramodValavala-MSFT commented on #36413
@mhabibal13 If you are on the premium tier, one way to workaround the maximum limit that I can think of would be to use the [Azure Event Grid Integration](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-to-event-grid-integration-concept) for receivers of queues/topics with low volumes and/or can tolerate (really small) delays in message deliveries.

@axisc @clemensv Could

[2019-08-05 04:30] KalyanChanumolu-MSFT commented on #36455
This issue is being assigned to the content author to evaluate and update as appropriate.

[2019-08-05 04:34] KrishnaG-MSFT commented on #25175
[This](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/view-designer#required-permissions) document is update with required information under 'Required permissions' section.

[2019-08-05 04:36] zrahui opened #36467 "Assessment issues - Disk size exceeds limit"
Azure now supports disks larger than 4TB. Is this limit referring to a dependency on ASR limits? Or does the guidance require updating?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e91f6f9-23d7-da62-b7f9-4f77e1924653
* Version Independent ID: 813a0912-51f8-13c0-2096-efe6c9fe1514
* Content: [Troubleshoot Azure Migrat

[2019-08-05 04:42] Yonet opened #36468 "Azure Spatial Anchors documentation overall organization."
Would it make sense to move the "concepts" section under the overview section? When a net-new user comes to the docs, the first thing they see is platform options before they get to learn about the main concepts. Concepts section is very useful and it might be beneficial to move them at the top of the documentation since currently they are lost after all the platform-specific content.

Thanks!
---

[2019-08-05 04:59] KrishnaG-MSFT commented on #36246
@vboyev-MSFT According to [this](https://blogs.technet.microsoft.com/msoms/2016/05/26/oms-log-analytics-agent-multi-homing-support/) blog regarding Log Analytics agent multi-homing support, you may use ComObject 'AgentConfigManager.MgmtSvcCfg' and it's member 'AddCloudWorkspace' to add a workspace. I didn't test but just did a quick check if we have some member to remove a workspace and could see

[2019-08-05 04:59] #36246 closed

[2019-08-05 05:02] BarbaraSelden opened #36469 "languages supported by B2C MFA"
Please add info on which languages are supported by B2C MFA. Does it support all 36 that are supported by B2C?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d0fbbd3-7fa5-7958-ed5a-1d8d34a357b6
* Version Independent ID: dd714722-af58-77ff-53c2-f86d5173e650
* Content: [Language customization in Azure Active Directory B

[2019-08-05 05:04] #24914 closed

[2019-08-05 05:09] ManojReddy-MSFT commented on #19646
@Verikon The PR is in a  Private repository. It has been merged with the public doc.

[2019-08-05 05:12] KrishnaG-MSFT commented on #36385
Looks like the feedback is valid one and alert with FileCapacity platform metric is not getting fired on crossing the set threshold . Assigning to @snehithm for better analysis / insights.

[2019-08-05 05:16] KrishnaG-MSFT commented on #36434
@kjyam98 Verified and updated the document as required. Thanks.

[2019-08-05 05:16] #36434 closed

[2019-08-05 05:20] SnehaAgrawal-MSFT commented on #36175
@Mitaric Issue has been resolved If you are still experiencing the issue, you may attempt to restart your application – this should cause the new version to be picked up. Let us know if you have additional concerns on this.

[2019-08-05 05:23] ManojReddy-MSFT commented on #36296
@xNiklasJern We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-08-05 05:23] #36296 closed

[2019-08-05 05:24] ManojReddy-MSFT commented on #36172
@peter-tridius We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-08-05 05:24] #36172 closed

[2019-08-05 05:24] ManojReddy-MSFT commented on #36060
@Bfields11 We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-08-05 05:24] #36060 closed

[2019-08-05 05:31] andrewatfornax commented on #36395
As an example, on page https://docs.microsoft.com/en-us/azure/templates/microsoft.insights/2018-04-16/scheduledqueryrules the "action" object has one property, being "odata.type".

However, on https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-log#managing-log-alerts-using-azure-resource-template the "action" object has four properties - "odata.type", "severity", "aznsAction", an

[2019-08-05 05:41] hf-kklein commented on #36289
@PramodValavala-MSFT thanks for your investigations. Seems like the problem is on my side then for using the wrong framework (version).

[2019-08-05 05:41] #36289 closed

[2019-08-05 05:53] mrlund commented on #23301
This is not consistant with my experience, where it constitues a major problem since scaling up/down leaves our entire site offline/unavailable for up to 5 minutes, giving a terrible user experience, not to mention being severely anxiety inducing for whomever performs the scaling, staring at the clock while the site in unresponsive. Why would it take so long to scale?

[2019-08-05 05:54] #36449 closed

[2019-08-05 05:58] ManojReddy-MSFT commented on #36449
@yiannislog Thanks for reporting this. I have updated the doc accordingly.

[2019-08-05 06:00] mdonkervoort opened #36470 "Video"
The attached video is not really good quality. Please attach one with detailed instructions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87e2cd41-2a63-d083-22e0-cf5f75fb4b07
* Version Independent ID: e82a144d-f425-d6ed-9f7d-bd4b5f395e45
* Content: [Tutorial - Use Azure Key Vault with an Azure web app in .NET](https:

[2019-08-05 06:20] smadhukar2000 commented on #7701
Hi Guys,
I am getting same error on functionapp adding multiple ip's in ipSecurityRestrictions  config/web resource

**Error**
'The template function 'copyIndex' is not expected at this location. The function can only be used in a resource with copy specified.

**Parameter**
"allowedCallerIpAddresses": {      "type": "array",
      "defaultValue": [
        { "addressRange": "52.232.252.175/32" },

[2019-08-05 06:23] rahulraj40 commented on #36379
That's what I mentioned, we used Global Admin to enable it and we do have AADPP1 license. But as per article
'Sign in to the Azure AD admin center with a User administrator account.' with User admin it didn't work.

[2019-08-05 06:28] KranthiPakala-MSFT commented on #36318
Hi @ShubhaVijayasarathy , @xurui203 could you please have a look into the above query? - Thanks!

[2019-08-05 06:34] AjayKumar-MSFT commented on #36245
Thanks for posting back, after the translation, I understand you have posted - "I have made a settlement myself.Thank you".

[2019-08-05 06:35] KrishnaG-MSFT commented on #36443
@stephenc01 Thanks for the comment. AFAIK this can be shared as feature request / feedback from [here](https://feedback.azure.com/forums/246290-automation?category_id=133485&query=source%20control).
@bobbytreed Can you confirm on the same or provide better insights if any ? Also can you consider adding a note in the document stating that currently Azure Automation Source Control doesn't support ne

[2019-08-05 06:35] AjayKumar-MSFT commented on #36441
@bizinbarefeet, Just checking to see if the above suggestions helped or you need further assistance on this topic.

[2019-08-05 06:36] AjayKumar-MSFT commented on #36262
@FindingNamo, Just checking to see if the above suggestions helped or you need further assistance on this topic.

[2019-08-05 06:38] AjayKumar-MSFT commented on #36297
@babusalamkorad, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2019-08-05 06:38] #36297 closed

[2019-08-05 06:45] xuren87 commented on #7900
@hhubik I have the same issue with you. Thank you for your document.
@SnehaGunda I found the issue still exists.  Hope can update the document ASAP.

[2019-08-05 06:46] xuren87 commented on #7900
I followed the link https://docs.microsoft.com/en-us/azure/cosmos-db/create-graph-gremlin-console#ConnectAppService

[2019-08-05 06:46] AshokPeddakotla-MSFT commented on #36468
@Yonet Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-05 06:56] HeineLysemose commented on #36387
Logging in today didn't give me a prompt for approving MFA on my Authenticator app... but even if did there not much to take screenshot off. On the web, it just show a temporary "Sending notification" and then, without, approving anything anything redirects me to correct/real page. In my Authenticator app a notification is received and waiting for approval, pressing deny or any of the three number

[2019-08-05 07:02] JohnRambo90 commented on #19568
@ Alberto-Vega-MS
Yes i can confirm that i fullfill the Prerequisites.
Installed the Plugin with az extension add --name azure-cli-iot-ext.
Node Version is 10.15.3
NPM Version is 6.4.1

[2019-08-05 07:08] msrini-MSFT commented on #36307
@KeithTemplin , Tag me if you have any further questions. I will close this issue for now.

[2019-08-05 07:08] #36307 closed

[2019-08-05 07:13] rboucher commented on #34749
We will close this issue now.  Let us know if you this didn't answer your question. @please-close

[2019-08-05 07:29] adamfowlerit opened #36471 "Azure AD Basic"
Licensing is mentioned with it's own section, and Azure AD Basic is mentioned in the Azure AD Premium P1 section, but there's no actual blurb on it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 278fd397-b3b7-5192-47ff-b5c9edfa44b4
* Version Independent ID: 9ca42ebd-4ff2-226f-8bae-74fc8973a825
* Content: [What is Azur

[2019-08-05 07:30] #34749 closed

[2019-08-05 07:31] GraceZhangM opened #36472 "Missing a Letter of the command"
et-VMIntegrationService -VMName&lt;VMName&gt;-Name VSS

Missing 'G' of this command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40c6fe63-6087-c618-0a5b-beb87d237661
* Version Independent ID: 5ead0108-96b5-8f13-9b4c-1bf1df18baaf
* Content: [Troubleshoot Hyper-V to Azure disaster recovery with Azure Site Recovery](ht

[2019-08-05 07:42] KranthiPakala-MSFT commented on #36219
@tonyStann According to the pipeline payload provided, looks like you are trying to copy the JSON array response to BLOB as "DelimitedTextSink" - .csv file. In this case JSON won't be converted as is in the blob when you define the sink as .csv file, the sink needs to be defined as JSON file format in order to copy the same JSON array response to blob as is.

Since CSV is a kind of tabular format,

[2019-08-05 07:55] SumanthMarigowda-MSFT commented on #36169
@TheMelter PR has been raised and doc will be update. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-05 07:55] #36169 closed

[2019-08-05 07:56] rajb865 commented on #36389
Hi @Alberto-Vega-MSFT ,

Yes I met the prerequisite and recommendations.

[2019-08-05 08:01] SumanthMarigowda-MSFT commented on #36196
@koyasuda-msft Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-08-05 08:01] DeveloperBeginner commented on #36140
Yes I am using a forked copy as of now. Thanks for the response. I shall raise a pull request.

[2019-08-05 08:05] MWielen commented on #36306
Hi @mike-urnun-msft, please see the following url:
https://github.com/MicrosoftDocs/azure-docs/issues/26707

[2019-08-05 08:10] cktechative opened #36473 "Gateway High Availibility behaviour"
Hello, does this guide also work in a RDS-GW High Availibility Deployment (as described here: https://docs.microsoft.com/en-us/windows-server/remote/remote-desktop-services/rds-rdweb-gateway-ha)
Thank you in advance…

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61df48bb-a963-b1f0-8f64-b55d0bd6904c
* Version Independe

[2019-08-05 08:12] TOPDHI opened #36474 "Not all information are passed in JSON"
Hi guys, until now we used Azure Table to store the info about Lead, now we adopted Dynamics 365 and see that not all fields are transferred in JSON. For example "ProductId" is missing. This is essential, because we do not know what product our customer actually installed. Would it be possible to add at least "ProductId" to the JSON.  Thank you.

---
#### Document Details

⚠ *Do not edit this sect

[2019-08-05 08:16] AJAnujsharma opened #36475 "Question - Is there any possible way to use config file to set pipeline parameters"
Question - Is there any possible way to use **config file** to set pipeline parameters

[2019-08-05 08:16] AJAnujsharma opened #36476 "Question - Is there any possible way to use config file to set pipeline parameters"
Question - Is there any possible way to use **config file** to set pipeline parameters

[2019-08-05 08:17] AJAnujsharma commented on #36476
Please guide if yes..

[2019-08-05 08:29] ChiragMishra-MSFT commented on #36300
@yevhen-miro You will have to install the latest version (2.5) of Az module to get this done.

To run Azure PowerShell in PowerShell 5.1 on Windows:

- Update to Windows PowerShell 5.1 if needed. If you're on Windows 10, you already have PowerShell 5.1 installed.
- Install .NET Framework 4.7.2 or later.

[2019-08-05 08:30] ChiragMishra-MSFT commented on #36310
@linda33wj Can you please take a look at this ?

[2019-08-05 08:34] tbertenshaw commented on #30074
@Grace-MacJones-MSFT should this issue not be reopened? The linked repo hasnt been updated in 4 years https://github.com/Azure/azure-webjobs-sdk-samples

[2019-08-05 08:38] HeineLysemose commented on #36387
...ohh wait the prompt on the Authenticator app was actually there anyway, so still the same! But see my previous reply for more details.

[2019-08-05 08:38] RohitMungi-MSFT commented on #36466
@kalatchev currently only [english ](https://westus2.dev.cognitive.microsoft.com/docs/services/form-recognizer-api/operations/AnalyzeReceipt)receipts from the United States are supported by form recognizer. Please feel free to raise a [user voice](https://cognitive.uservoice.com/forums/921556-form-recognizer
) request with the form recognizer team to support other languages.

We will now proceed t

[2019-08-05 08:39] #36466 closed

[2019-08-05 08:54] SubhashVasarapu-MSFT commented on #36217
@edberwick, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-08-05 08:54] #36217 closed

[2019-08-05 08:57] BartVanBerkel opened #36478 "Azure Datacenter IP address list is deprecated"
Hi MSFT,
Can you possibly update the links to the "Azure Datacenter IP address list" as it is pointing to a deprecated list now.
Thanks in advance.
Kr,
Bart van Berkel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3092ee3a-3c57-cc53-186b-b454e7d9d190
* Version Independent ID: 6f6b5a07-397a-98a2-6091-941244a77837
* Con

[2019-08-05 09:01] irfan432 opened #36479 "question regarding configuration server"
Can the Configuration server, Process server and Master target server be installed in the same physical server whose replication is required as we do not have a VMware environment and setting up new physical server will be additional cost.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43cb8e74-332e-d1c2-2ba4-eff91806d

[2019-08-05 09:02] saschastops opened #36480 "32bit client"
Hello, is there 32bit client for Windows 7 or Windows 10?

Thank you
Sascha

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 524e47b0-1295-7d07-0cbc-86e6daaa1358
* Version Independent ID: 1cb3a5d8-4f16-583c-ad85-325f7638a873
* Content: [Connect to Windows Virtual Desktop Preview from Windows 10 or Windows 7 - Azure](http

[2019-08-05 09:11] SwathiDhanwada-MSFT commented on #36437
@yasserhu1972 I have reproduced the issue from my end and it was working successfully.Here is snapshot for your reference.
![image](https://user-images.githubusercontent.com/48976275/62452694-5755f180-b78e-11e9-8906-e2f9608ffe95.png)

Kindly verify these below things and try creating the role definition.
1) Make sure you have Owner or User  Access Administrator role
2) In the Assignable scopes, ve

[2019-08-05 09:21] KrishnaG-MSFT commented on #36242
@eversonamancio Thanks for the comment. Basically the suggested change is w.r.t templateUri (from "https://raw.githubusercontent.com/Azure/SMOMSConnector/master/azuredeploy.json" to "https://raw.githubusercontent.com/azure-alerts-management/SMOMSConnector/master/azuredeploy.json").

But on observation I see that the suggested templateUri refers to GitHub repository "https://github.com/azure-alerts

[2019-08-05 09:36] JYOTHIRMAISURI commented on #36242
Hi,
I do not own this documentation now. Assigning to the PM @ananthradhakrishnan
@ananthradhakrishnan   please do the needful. thank you.

[2019-08-05 09:37] zell-mbc commented on #27658
I can confirm the documentation error. Unfortunately I only found this git hub section after figuring it out myself, would have saved me quite a bit of time :-(
This:
_Or, you can paste the following function into the field:
CreatedTime Timestamp gt datetime'@{body('Get_past_time')}'_

should read
_Or, you can paste the following function into the field:
Timestamp gt datetime'@{body('Get_past_time

[2019-08-05 09:41] rayne-wiselman commented on #36194
As soon as the KB is published we add it to the docs. Latest is 38 -https://support.microsoft.com/help/4513507/update-rollup-38-for-azure-site-recovery

[2019-08-05 09:42] rayne-wiselman commented on #36194
Thanks for your feedback. We'll close this since the article is up-to-date.

#please-close

[2019-08-05 09:42] #36194 closed

[2019-08-05 09:46] KrishnaG-MSFT commented on #36478
AFAIK [this](https://www.microsoft.com/en-us/download/details.aspx?id=56519) might be the latest one (i.e., referenced in [this](https://blogs.msdn.microsoft.com/nicole_welch/2017/02/azure-ip-ranges/) blog).

@bobbytreed Can you validate and confirm so that we can update the document with the new links ?

[2019-08-05 09:50] carrillo-dot-cz opened #36482 "Sign-in activity"
The screen displaying "Sign-in activity" is not up-to-date. The columns indicated are not being used (or it should clarified which license is required to see the same).
Looking into the admin portal and following the steps above, I am able to see the columns: "user, username, application, status, ip address, resource resource id, client app, os, device browser, location, correlation ID, conditiona

[2019-08-05 09:54] SumanthMarigowda-MSFT commented on #36260
@terziyski Just clarification , Are you facing any issue with the CLI commands? (If you are getting any error code or message, please share the screen shot)
Please provide more information on the above mentioned query

[2019-08-05 10:09] andrewatfornax opened #36484 "Microsoft.web/serverFarms not always supported"
I have been advised in a support case that the Microsoft.web/serverFarms resource type is not always supported - for example, consumption function app service plans.

Is this definitely the case? If so, should this be reflected in the documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b92884e-4bca-47ca-9d8e

[2019-08-05 10:16] VikasPullagura-MSFT commented on #36480
@saschastops Thanks for your query. I am checking on this with the team on this.

[2019-08-05 10:17] AjayKumar-MSFT commented on #36312
@davidjrh, If I understand you correctly, if no apps are using the certificate you can delete the bindings. If you wish to re-use the certificate, you can upload the certificate and then bind to the moved WebApp.
As a side note, kindly only delete a resource which are unwanted or unnecessary as deletion cannot be undone.

[2019-08-05 10:19] SubhashVasarapu-MSFT commented on #35925
@m4h3, It looks like the ARM schema you are referring to haven't been updated parallel to the portal. I have tried creating a Basic SKU public IP with availability zone and it got deployed successfully. We have reported this to the internal team where they are working on. Thanks for reporting it.
We are closing this issue for now. If there are further questions regarding this matter, please reply

[2019-08-05 10:19] #35925 closed

[2019-08-05 10:21] VikasPullagura-MSFT commented on #36480
@ChristianMontoya and @Heidilohr Can you please add your comments on the 32 bit client availability.

[2019-08-05 10:32] davidjrh commented on #36312
Let me clarify. In the past, when moving a webapp with 3rd party certificates, you needed to remove the bindings and delete the certificate (moving 3rd party certificates between subscriptions was not supported), so you needed to upload the certificate again after moving the app and setup the bindings again. That's is also commented on this documentation. So moving apps with SSL had some minutes o

[2019-08-05 10:42] christerengman opened #36485 "Typo for timeAggregation"
data.context.condition.timeAggregation should be context.condition.timeAggregation for classic alerts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e651b8a-4e32-0404-4b7b-420e218debcc
* Version Independent ID: c4081393-c3ef-9022-9f5d-c7229a2818b1
* Content: [Prepare for Azure Monitor classic alerts migration by upda

[2019-08-05 10:58] janitorr commented on #30814
@fabiocav Thanks for quick answer, I´m not sure if there actually is an issue with IoC or if I just don´t  understand how it works from the current docs.

I added a simple test project where I have two function apps, one gets configuration from IConfiguration and the other is my attempt to use AddOptions mentioned above.

https://github.com/janitorr/AzureFunctionConfigurationTest

In the end it do

[2019-08-05 11:10] terziyski commented on #36260
The commands are correct. Just wanted to point that commands in question
can't be used in Azure CLI for Windows directly. These are BASH syntax
commands.
If you try to execute them directly there would be an error message:
[image: image.png]

On Mon, Aug 5, 2019 at 12:55 PM SumanthMarigowda-MSFT <
notifications@github.com> wrote:

[2019-08-05 11:16] rayne-wiselman commented on #36150
Thanks for your feedback!. This is fixed. Should show up later today.

#please-close

[2019-08-05 11:16] #36150 closed

[2019-08-05 11:33] JosefPrakljacic opened #36486 "The description of how to delete an Azure Migrate project is incomplete."
Hello dear developer friends who are expanding these very helpful Docs.

The description of how to delete an Azure Migrate project is incomplete in my opinion.

Under the item "How do I delete Azure Migrate projects and associated Log Analytics workspaces?" it is not described how to delete a actual Azure Migrate project. The deletion of the Log Analytics workspaces is kinda described there, but n

[2019-08-05 11:38] xelossan commented on #36133
Thanks for your answer @KingdomOfEnds, in that case using additional API between the gateway and ADT is the way to go for us.

I've got one more question - where can I post issues related to ADT but not to any specific docs page? We've encountered some strange behavior: we have 4 sensors added to the same Device in ADT graph, and one of them is working correctly, but values from the rest are ignor

[2019-08-05 11:43] KalyanChanumolu-MSFT commented on #36436
@SogoGolf Thank you for elaborating your use case.
We are assigning this to the content author to evaluate and update as appropriate

[2019-08-05 11:43] kempd commented on #16683
You just have to restart your NPS service after changing parameters. Not the whole server.

[2019-08-05 11:59] KrishnaG-MSFT commented on #36485
@christerengman Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-08-05 11:59] m4h3 commented on #35925
Just got support on this and zonal public ip Basic SKU is supported.

[2019-08-05 12:06] andrewgill-draysontechnologies commented on #36323
![image](https://user-images.githubusercontent.com/29575507/62463264-739f6180-b781-11e9-9606-f3d94345f923.png)

I have attached a screenshot.

I entered an email address received a code, entered the code and clicked verify and I receive the error message shown in the screenshot. This occurs both via email and phone.

[2019-08-05 12:11] LukasNespor commented on #36392
Hi, I realized that after I submitted it here so I created feedback on UserVoice right away.

[2019-08-05 12:18] AjayKumar-MSFT commented on #36442
@cowinr, I have tried the same steps as described in the document and by default it takes port 5000. You may have to review your local network/system configuration.

![image](https://user-images.githubusercontent.com/44606227/62463854-bfb1cc80-b7a8-11e9-9a44-fa0c484091ac.png)
![image](https://user-images.githubusercontent.com/44606227/62464004-1ddeaf80-b7a9-11e9-8792-f12e5fc185f0.png)

[2019-08-05 12:24] Nimleth opened #36487 "Unclear why the policy contain the rule twice but with a small difference"
Hi,

Why does this policy contain the same rule twice, once with the array alias [*] and once without? (Microsoft.Network/virtualNetworks/subnets[*].networkSecurityGroup.id)

Rgds,
Dennis

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffe5ac65-bdac-6aed-130e-38c6da79e3b1
* Version Independent ID: e621e674-e10c-b2ed-438

[2019-08-05 12:26] jakaruna-MSFT commented on #36460
@torchy-newman Thanks for posting here.
Similar issue is [here](https://github.com/MicrosoftDocs/azure-docs/issues/20219#issuecomment-445752974) and its resolved. Refer to my comment on that issue.

This issue happens because the package(`zulu-8-azure-jdk`) needed by servicefabric package.
In the doc instructions are missing to install that java package. We will add that to the doc.

Try the worka

[2019-08-05 12:32] stephenc01 commented on #36443
Hey. It’s odd that I have to put in a feature request because two divisions in  Microsoft are not communicating

[2019-08-05 12:44] thecpshah commented on #36036
I have sent an email.

[2019-08-05 12:44] sameer-kumar commented on #36402
@jmprieur How can I validate this setting?

[2019-08-05 12:45] woodrum commented on #30804
Thanks @spudda32.  This worked for me as well, currently using az 2.4 bundle

[2019-08-05 12:53] onerob2000 opened #36490 "Updated Links??"
This article was produced, or at least last updated, in Sept 2018.  So why does the links in this section https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-sas#shared-access-signature-authentication-with-service-bus (and others) point to an example last updated in 2013?? Where are the examples for generating and using a SAS Token for Service Bus for .NET Core???  How about u

[2019-08-05 12:58] sebhe opened #36491 "Password Reset - no auto-generated password"
It seems as if the password functionality is no longer auto-generating passwords but instead you can define the passwords on your own. Can you update this page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9922a978-39e8-80c1-07b0-58d3cef4e127
* Version Independent ID: fcbddc27-fdb0-4c1e-bb0c-168b24152c69
* Content: [

[2019-08-05 13:05] iamarcel opened #36493 "No mention of throttling limits"
The connector reference documentation (https://docs.microsoft.com/nl-nl/connectors/azureblob/#limits) mentions a 600 call per 60 seconds limit, which is not documented here. We reached this limit so I'm assuming it's applicable here.

Could you add that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc1a51f6-730a-6077

[2019-08-05 13:06] jmprieur commented on #36402
@sameer-kumar : is the message something like:

[code]
?

[2019-08-05 13:14] jhosteny opened #36494 "Page out of date with respect to current portal"
It would be helpful to have this updated to reflect the current portal. It is hard to understand what settings to apply to get this to work correctly, since the configuration options have changed in the interim.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f62a40a-2a72-ad5c-9e75-93711ace3b35
* Version Independent ID

[2019-08-05 13:18] TheReaLee commented on #20013
Same issue as @staples17. Any news on this?

[2019-08-05 13:19] Accounted3 commented on #34065
@ManojReddy-MSFT

We are pushing to upgrade off of 1709 but would still like to know the impact of the "dual state", please.

[2019-08-05 13:20] ManojReddy-MSFT commented on #36469
@BarbaraSelden I have assigned this to the author to validate this with the engineering team and update the doc accordingly.

[2019-08-05 13:23] OlieVuur commented on #36017
Good day, given that this issue prevents me from training the appropriate model, do you have a time-frame by when I might expect some feedback?

[2019-08-05 13:24] lindhe commented on #18204
This sounds swell, but I'm not getting it to work. Since this issue have been dormant for a while now, I'm wondering if this ought to work still, or if I'm missing something?

[2019-08-05 13:27] ManojReddy-MSFT commented on #34065
@Accounted3 Apologies for the delayed response. When you are already Azure AD registered, and then implement hybrid Azure AD in your environment,

- You will see two entries in Azure AD postal and this will create problems for device management.
- Hybrid Azure AD join will fail in some scenarios.

You can remove the devices from Azure AD using PS commands to prevent dual entries. However, the clie

[2019-08-05 13:28] SaurabhSharma-MSFT commented on #36343
@mjcarrabine The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2019-08-05 13:28] #36343 closed

[2019-08-05 13:29] SaurabhSharma-MSFT commented on #36320
@lossenfort We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-08-05 13:29] #36320 closed

[2019-08-05 13:32] NavtejSaini-MSFT commented on #36110
@sivethe Please confirm regarding the first issue from @julie-ng for changing the code
from: var env = require('dotenv').load();
to: require('dotenv').config()
per documentation : per latest documentation on https://www.npmjs.com/package/dotenv

If the document needs editing, please do so and confirm changes.

[2019-08-05 13:33] laglerh opened #36495 "Feedback about Roadmap"
Hi,

I’m testing right now the possibilities of Azure Virtual WAN and have some questions:

In you Architecture you describe the possibility to connect one branch to another branch office, that’s clear for me but you also describe in your architecture the HUB to HUB connectivity:
I have two questions:

- When is that option available?

- Is it also possible to connect branch to branch over two hub

[2019-08-05 13:39] lossenfort commented on #36320
Just started working again. Thanks

[2019-08-05 13:41] Accounted3 commented on #34065
@ManojReddy-MSFT

Thank you - we will keep an eye out for those issues but likely use an WMI filter and do a controlled rollout via GPO for any machines that are not yet 1803+

[2019-08-05 13:52] sameer-kumar commented on #36402
Nope. It's in my original post.

[USER]
**Need admin approval**
**[APPName]**

[2019-08-05 14:00] KrishnaG-MSFT commented on #36443
@stephenc01 The intention is not that you must put in a feature request. The two divisions always communicate and release a feature (or feature request) based on various parameters like feasibility, priority, votes it receives, etc. The intention behind letting you know about feedback forum is, in case a feature request is created in feedback forum then feature team would provide updates for the f

[2019-08-05 14:01] juyama commented on #30804
Hi @woodrum , Could you please show us the commands that you run? Thanks.

[2019-08-05 14:22] RyanCantab commented on #22901
Agreed that this is ridiculous, why has it taken me over half a day to work out how to get this service to do what I want? There are some code snippets that show how to make it work for mic input under 15 seconds long. That's it. MS have forgotten to document their own product. What exactly was the plan here? Bizarre and annoying.

[2019-08-05 14:29] woodrum commented on #30804
@juyama, I literally took the PS script above in the article, did a find all, and replaced the Microsoft.WindowsAZ with Microsoft.Azure (found 6 entries total).  Once I replaced those 6 entries, running the script worked perfectly.

[2019-08-05 14:34] RyanCantab opened #36496 "Where's the rest of the documentation?"
Like... the output of the API? It's returned several strings, including "LexicalFull", "ITNFull", "MaskedITNFull", and "DisplayFull". They are all very similar. Where is it documented what these things are and which I should use?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73fb7e76-fb80-c420-2efe-e3ca3a27b749
* Vers

[2019-08-05 14:36] sbjeletich commented on #19698
Hi,

How do I pass that runOutput parameter to another Databricks notebook?
Thanks

[2019-08-05 14:36] LuisCabrer commented on #35880
The limit described in the document 'Azure subscription and service limits, quotas, and constraints' refer to Azure Search query limits, while the limits described at  Language detection cognitive search skill - Azure Search refer to the input limits of the skill... so there is no real issue here.

At any rate, in pull 84291, I made a small clarification so this is not confusing.

[2019-08-05 14:38] tony-gutierrez commented on #36268
You can get the error when creating a new app plan AND a new resource group.

On Mon, Aug 5, 2019 at 12:04 AM DashleenBhandari-MSFT <
notifications@github.com> wrote:

--
*Tony Gutierrez*
BlueFletch <https://bluefletch.com/>
Mobile 646-704-6653 <(646)%20704-6653>

[2019-08-05 14:40] RyanCantab opened #36497 "Documented values are wrong"
For instance, I passed "none" to "PunctuationMode" as instructed. But I got an "InvalidPayload" code, because it turns out that the correct value is "None". As far as I can tell all of the values should be upper case, not lower case as you have documented them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73fb7e76-fb

[2019-08-05 14:42] benc-uk opened #36498 "Unable to pull v3 image"
The image `mcr.microsoft.com/azure-cognitive-services/sentiment:latest` can't be pulled as it requires authorization. What is the correct public image to use?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73a43800-f76a-f114-f4a2-ed18785b7c76
* Version Independent ID: 172adee6-e47b-b68d-0687-2c9009052559
* Content: [In

[2019-08-05 14:49] KalyanChanumolu-MSFT commented on #36451
@joergjo The tutorial is written for the V3 SDK.
CreateContainerIfNotExistsAsync() is an abstract method in the Database class.
The line that you have highlighted doesn't need to be changed.

Please let us know if you are facing a compilation error.

[2019-08-05 14:58] LaiHoangLe opened #36499 "Duplicate in Tutorial"
In section receive messages in the simulated device app, part 4 and 5 there are two functions iothub_client_init(). I think you should check and remove one of them

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 617cf9c4-6f85-d240-d8e5-6010cd0b7839
* Version Independent ID: a3c4e9da-c539-2f51-c245-57b5e43eca42
* Content

[2019-08-05 15:00] IEvangelist commented on #36498
Hi @benc-uk,

Thank you for reaching out. What is the error that you're receiving when attempting to perform the
[code]
I just executed this command on my local machine and it worked. What specific authorization errors are you seeing? To execute docker commands you'd have to be logged in, have you logged in?

[2019-08-05 15:09] Shreyasnie opened #36500 "deprovision a single device from an enrollment group"
Regarding deprovision a single device from group enrolment we followed steps as described in below link

https://docs.microsoft.com/bs-latn-ba/azure/iot-dps/how-to-unprovision-devices

Devices were getting disabled previously but we tried to disable a device last week its not working, individual enrolment is getting created for device with same deviceID even though it is disabled device status sti

[2019-08-05 15:14] eivinskr commented on #36394
Thank you for clearing up the confusion!

[2019-08-05 15:18] benc-uk commented on #36498
Hi @IEvangelist
My mistake the error was with the v3 image
[code]
I must have had a copy/paste failure there

[2019-08-05 15:23] sproctor42 opened #36501 "Index creation syntax error"
In Step 1.2, Create an Index --&gt; Copy in this URL, I believe the URL should be: `https://&lt;YOUR-SEARCH-SERVICE-NAME&gt;.search.windows.net/indexes/hotels-quickstart?api-version=2019-05-06` so that the index name in the URL matches the index name in the JSON provided in this post.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-08-05 15:31] IEvangelist commented on #36498
Ah, yes... okay. This one is slightly different. It's in a public preview state and requires a formal request for access. Looking through the doc, you're absolutely correct. We are missing how to request access - I'll try to get that added today and work with the appropriate PMs to do so. I'll posts back here as soon as I have the missing details. Thanks again

[2019-08-05 15:33] AjayKumar-MSFT commented on #36448
@Yegmorcar, Referring to your screenshot, from the POST method ‘AzureADSTSEndpoint” body, remove the lines 3 and 4, that’s the reason you’re seeing the ‘JSONError unexpected token’ error, and then re-try, and let me if you need any further assistance.

[2019-08-05 15:34] x509cert commented on #36287
Yeah, I think this is really important - and could be a huge block-remover for some customers. like mine :)

[2019-08-05 15:46] cephalin commented on #36372
@SnehaAgrawal-MSFT Please reassign. The feedback isn't specific to this page but is related to DOCS.MS in general.

[2019-08-05 15:56] IEvangelist commented on #36498
#assign:IEvangelist

[2019-08-05 15:56] YutongTie-MSFT commented on #36496
@RyanCantab
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@PanosPeriorellis  Hi Panos, could you please check this issue and update the document if necessary? Thank you very much.

[2019-08-05 15:58] YutongTie-MSFT commented on #36497
@RyanCantab
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-05 16:01] TomaszOledzki commented on #8244
Has this been added already?

I'm using following code in my policy and it seems it's not working yet:
    <inbound>
        <base />
        <validate-jwt header-name="Authorization" failed-validation-httpcode="401" failed-validation-error-message="Message" require-expiration-time="true" require-scheme="Bearer" require-signed-tokens="true">
            <openid-config url="https://login.microsofto

[2019-08-05 16:07] msrini-MSFT commented on #36141
@SvetlanaDevOps , If you have any further questions, feel free to tag me or Travis. For now I will go ahead and close this issue.

[2019-08-05 16:14] psignoret commented on #36402
@sameer-kumar Can you please share a correlation ID and timestamp from the error message? (If it doesn't show up, click the "..." icon in the bottom-right of the page displaying the error message.)

This is likely one of two situations:

 1. Like @jmprieur says, in your organization user consent has been disabled entirely.
 2. The app has been configured to require user assignment, and the user yo

[2019-08-05 16:15] wendellh3 opened #36505 "Referencing a custom docker image in an ARM template"
I have a Web App for Linux in an ARM template and trying to deploy a custom docker image from Azure Container Registry.  I've been unsuccessful using the following and have not found any documentation as to how to reference the image in ACR.

"linuxFxVersion": "DOCKER|myregistry.azurecr.io/myrepo:latest"

Some posts I've seen suggest that the format may be "DOCKER|https://my registry.azurecr.io/my

[2019-08-05 16:19] MicahMcKittrick-MSFT commented on #36505
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-05 16:19] JoelCBennett commented on #25175
Thanks for the documentation update.  Even better, can we fix the permission-set on "Log Analytics Contributor" to reflect it's intent?

[2019-08-05 16:19] sandeepbhupathi commented on #36432
Hi @AmanGarg-MSFT  I have a similar question, how to provide scopes User.Read,Sites.Read.All,Sites.ReadWrite.All for getting client credentials using Java graph, if I get token using https://graph.microsoft.com/.default, I'm unable to proceed with operations on site, any recommendation would be greatly appreciated. Thanks

[2019-08-05 16:20] jhosteny opened #36506 "Max blob length for uploaded file"
There seems to be a limit on the maximum blob length for an uploaded file that is significantly lower than the published max length of 1024 for blob store. However, the limit seems to be hit not in the upload of the file to a blob itself, but the notification that the upload has completed.

My storage account name is 20 chars long, container name is 36, device name is 16 and the path is 139 charac

[2019-08-05 16:21] YutongTie-MSFT commented on #36476
@AJAnujsharma Hi Anuj, could you please share the document you are referring and which product you are mentioning? Thank you.

[2019-08-05 16:23] YutongTie-MSFT commented on #36475
@AJAnujsharma Hi Anuj, I am closing this issue since it's duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/36476 Please keep eyes on that one. Thank you very much.

[2019-08-05 16:23] #36475 closed

[2019-08-05 16:24] sameer-kumar commented on #36402
@psignoret There is not any timestamp or correlation ID on this pop-up window.

[2019-08-05 16:29] YutongTie-MSFT commented on #36495
@laglerh
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-05 16:30] Alberto-Vega-MSFT commented on #36500
@Shreyasnie Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-05 16:36] Alberto-Vega-MSFT commented on #36499
@LaiHoangLe Thanks for bringing this up to our attention, it seems like the instructions ask you to add this part to your code twice

[code]

[2019-08-05 16:38] Grace-MacJones-MSFT commented on #36494
Hi @jhosteny, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-08-05 16:42] Alberto-Vega-MSFT commented on #36464
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-05 16:55] MartinJaffer-MSFT commented on #35926
I agree.  The feature is misleading.  I cited your example, and how you appeared to meet all three conditions.  Here is the response I got:

[2019-08-05 16:55] YutongTie-MSFT commented on #36017
@OlieVuur Hi, do you have a support plan under your Azure subscription ID? If yes, I would highly recommend you to create a support ticket to live trouble shooting. IF not, please send us an email at Azcommunity@microsoft.com with your Azure subscription ID and URL of this thread. We could enable one for you. Thank you.

[2019-08-05 16:55] PramodValavala-MSFT commented on #36490
@onerob2000 Thanks for the feedback! We have assigned this issue to the content author for further review.

[2019-08-05 16:56] YutongTie-MSFT commented on #36076
@ricardoqg
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-08-05 16:56] #36076 closed

[2019-08-05 16:56] PramodValavala-MSFT commented on #36493
@iamarcel Thanks for the feedback! We are assigning this issue to the content author for further review.

[2019-08-05 17:00] CeciAc opened #36508 "miss schedule cron setting"
@tsaeki commented on [Fri Aug 02 2019](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/2715)

https://docs.microsoft.com/ja-jp/azure/azure-functions/functions-bindings-timer#java-example

Good
schedule = "0 */5 * * * *

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: b5527c3b-a5da-c73d-66c2-20d96003ff7c
* Version Independent ID: 42154c7b-b0e0-

[2019-08-05 17:00] Grace-MacJones-MSFT commented on #36501
Hi @sproctor42, Thanks for your feedback! We will review and update this doc accordingly.

[2019-08-05 17:00] CeciAc commented on #36508
Hi team,
I'm moving this here since the user is making a suggestion on the code box

[2019-08-05 17:03] MicahMcKittrick-MSFT commented on #36051
@garrmark thanks for the patience while I looked into this. I reached out to the Service Fabric Product team. The details on how to use this feature is supported since Service Fabric 6.5  and documented in release notes.

https://github.com/Azure/service-fabric/blob/master/release_notes/Service_Fabric_ReleaseNotes_65.pdf

This is mentioned in Breaking change section. If user downloads release note

[2019-08-05 17:13] plankytronixx commented on #36393
Hi Mike.

Could you tell me what “would you like CXP to make a PR to address this” means?

Thanks

Planky

From: Mike Ubezzi <notifications@github.com>
Sent: 03 August 2019 02:06
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: plankytronixx <splank@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] I think (hope) there's a typo on the page (

[2019-08-05 17:13] YutongTie-MSFT commented on #36138
@raghunaik2009
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-08-05 17:13] #36138 closed

[2019-08-05 17:13] MicahMcKittrick-MSFT commented on #36505
@wendellh3 I believe we cover this scenario in the following documentation:

https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-custom-docker-image

Have you taken a look at that page?

[2019-08-05 17:14] YutongTie-MSFT commented on #36165
@aahill FYI.

@mikemorrison111
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-08-05 17:14] #36165 closed

[2019-08-05 17:14] Alberto-Vega-MSFT commented on #36463
Thanks for the feedback! I have assigned the issue to the content author @viv-liu  to evaluate and update as appropriate.

[2019-08-05 17:14] YutongTie-MSFT commented on #36239
@djpugh
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-08-05 17:14] #36239 closed

[2019-08-05 17:17] Alberto-Vega-MSFT commented on #36500
So it seems like this was working for you before? If that is the case, can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2019-08-05 17:19] slimfast-lev opened #36510 "Could not create identity provider"
Do the AAD B2C and API Management need to be in the same "region" for these steps to work? I cannot pass the error

One or more fields contain incorrect values:
Azure Active Directory B2C tenant 'tenantName' or policy 'B2C_1A_signup_signin' does not exist.

But I've confirmed the tenant name and the policies name are correct.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-08-05 17:22] YutongTie-MSFT commented on #36120
@thecpshah Hi, I can't see any different between the two screenshots, will close this issue for now. Please let us know if you have further question.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-08-05 17:22] #36120 closed

[2019-08-05 17:24] hrasheed-msft commented on #36180
Fixed in this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/84320

[2019-08-05 17:26] hrasheed-msft commented on #36180
@richardspitz thanks for helping us improve the document with these new features. We're going to link to the official Azure monitor guide so that the customers can find updated guidance easily if things change. Thanks again.

[2019-08-05 17:26] hrasheed-msft commented on #36180
#please-close

[2019-08-05 17:26] #36180 closed

[2019-08-05 17:31] YassineSOUABNI commented on #34065
Hi ManojReddy-MSFT,

thank you for your response and apologies for the late feedback.
We have noticed with the couple first PCs we've Hybrid Joined & which were already "Azure AD Registered" that as soon as we've cleaned them up (after the dual state happened), we've lost the users Windows Hello configuration.

Reviewing the documentation, now I see that that is expected behavior :
https://github.

[2019-08-05 17:35] SnehaGunda commented on #36398
@pbiasotti the S1, S2, and S3 performance levels are not available for the current version of CosmosDB account. They were available while back, however, because there are some customers still using these offer types the doc still exists. Are you using these offer types?

The S1, S2, S3 type accounts are converted to single partitioned containers by changing the throughput, which is what the code d

[2019-08-05 17:40] SnehaGunda commented on #36457
@pradeepramadasan as Mike mentioned above, please share the link to the doc you are referring to. The maximum storage across all items per (logical) partition key is 10 GB. For more information on Storage and throughput limits for Cosmos DB please see this doc: https://docs.microsoft.com/en-us/azure/cosmos-db/concepts-limits#storage-and-throughput

[2019-08-05 17:45] SnehaGunda commented on #36451
@joergjo as Kalyan mentioned, we have already updated this tutorial recently for .Net 3.0 SDK. @ealsur updated this doc.

The code sample should work as-is. This repo: https://github.com/Azure-Samples/cosmos-dotnet-core-todo-app has the complete tested sample.

[2019-08-05 17:45] psignoret commented on #36402
@sameer-kumar Did you try clicking on the "..." in the bottom-right of the window?

[2019-08-05 17:47] MarileeTurscak-MSFT commented on #36482
@carrillo-dot-cz
Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-05 17:57] Grace-MacJones-MSFT commented on #35956
@pollend  Thanks for your patience. Are you still experiencing this issue?  As a work around, can you try deploying your Laravel application with a [custom Docker](https://docs.microsoft.com/en-us/azure/app-service/containers/quickstart-docker-go) image instead.

@cephalin is this expected behavior?

[2019-08-05 17:58] tfitzmac commented on #35276
I have updated the process for generating this page. It will now get updated monthly.

[2019-08-05 17:58] tfitzmac commented on #35276
#please-close

[2019-08-05 17:58] #35276 closed

[2019-08-05 17:59] joergjo commented on #36451
Oh boy, this one was subtle. I was following the tutorial while using my own coding style and instead of
[code]
wrote
[code]
... which doesn't work, since `CreateDatabaseIfNotExistsAsync()` returns a `Task<DatabaseResponse>`.

The sample's code works because `DatabaseResponse` defines
`public static implicit operator Database(DatabaseResponse response);`

So calling out this subtlety is probably w

[2019-08-05 18:02] ealsur commented on #36451
Exactly, there implicit operators. Adjusted the code sample based on your feedback: https://github.com/Azure-Samples/cosmos-dotnet-core-todo-app/commit/83b8541b09ec9ab48cc455a3e4be603e3fdfb06c

Should refresh on the article at some point.

[2019-08-05 18:07] spelluru commented on #36490
@onerob2000

Apologize for the inconvenience. I will work with our dev team on updating this article.

Meanwhile, please find samples for Azure Service Bus here:
https://github.com/Azure/azure-service-bus/tree/master/samples

The following sample code may help:

https://github.com/Azure/azure-service-bus/blob/master/samples/DotNet/Microsoft.Azure.ServiceBus/ManagingEntities/SASAuthorizationRule/Pr

[2019-08-05 18:07] jmprieur commented on #35850
#please-close (the question was answered)

[2019-08-05 18:07] #35850 closed

[2019-08-05 18:07] Alberto-Vega-MSFT commented on #35538
Since we haven't heard back from you. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-05 18:07] #35538 closed

[2019-08-05 18:11] jmprieur commented on #33859
#please-close (as the question is answered)

[2019-08-05 18:11] #33859 closed

[2019-08-05 18:11] ealsur commented on #36450
@jbevarts Have you tried mocking the `bindings` in the `defaultContext.js` file? I haven't used Jest but `context` is on the same level as `log`, so what about:

[code]

[2019-08-05 18:12] SumanthMarigowda-MSFT commented on #35999
@jakedurell Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-08-05 18:12] #35999 closed

[2019-08-05 18:12] jmprieur commented on #32856
#please-close

[2019-08-05 18:12] #32856 closed

[2019-08-05 18:14] jmprieur commented on #31384
@jackpanetta : the library is not yet available as a NuGet package. This is on the backlog

[2019-08-05 18:14] jmprieur commented on #31384
#please-close

[2019-08-05 18:14] #31384 closed

[2019-08-05 18:18] avbhaskar opened #36511 "ARM template for Azure Data Sync does not work"
**Issue**:  ARM template for Setting up Azure data sync do not work yet.
**Source** :  [https://docs.microsoft.com/en-us/azure/templates/microsoft.sql/2015-05-01-preview/servers/databases/syncgroups ](url)
**Sample Code:**
    {
      "type": "Microsoft.Sql/servers/databases/syncGroups",
      "apiVersion": "2015-05-01-preview",
      "name": "mysyncgroup",
      "properties": {
        "interval"

[2019-08-05 18:18] joergjo commented on #36451
Thanks! The original version is more elegant, but who reads API docs these days...

[2019-08-05 18:19] MarileeTurscak-MSFT commented on #36491
@sebhe
Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-05 18:20] wendellh3 commented on #36505
Thanks for your response.  The documentation covers using the Azure CLI, not ARM templates.
In the configure registry credentials section, clearly uses the admin user and password which is not permissible in my environment.  I need to use a service principal.
The Note about using a registry other than Docker Hub is somewhat vague.  This is what I've been experimenting with for some time.  Here are

[2019-08-05 18:23] j03Martin opened #36512 "Why are the examples AzureRM command?"
Didn't Microsoft (you) replace the powershell AzureRM module with the powershell Az module.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 805a6236-70b7-7dd5-ac86-eea6efceff3a
* Version Independent ID: e8078e34-bdf0-32b1-fac4-550091f2a06a
* Content: [Learning PowerShell Workflow for Azure Automation](https://docs.micro

[2019-08-05 18:23] MarileeTurscak-MSFT commented on #36472
@GraceZhangM
Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-05 18:25] KranthiPakala-MSFT commented on #36408
@ashleyabraham Yes, JObject represents a JSON Object. It helps to parse JSON data and apply querying (LINQ) to filter out required data. It is presented in _Newtonsoft.Json.Linq_ namespace.

For more clarification on JObject & JArray please refer to this article which might be more helpful:      https://www.c-sharpcorner.com/UploadFile/manas1/json-serialization-and-deserialization-using-json-net-l

[2019-08-05 18:26] KranthiPakala-MSFT commented on #36408
@ashleyabraham We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you.

[2019-08-05 18:26] #36408 closed

[2019-08-05 18:30] davidbel commented on #36480
Hi @saschastops, thank you for the feedback. Support for 32 bit devices is something we are working on and plan to have available at the latest by November, maybe sooner.

[2019-08-05 18:30] Mike-Ubezzi-MSFT commented on #36034
@jovanpop-msft With `Hyper-scale` being a new deployment option, the ask is that it is detailed as part of Single Database and Elastic Pools or becomes a 3rd column to differentiate it amongst the available deployment options. This is potentially not a small edit, so bringing this to the attention of the PG and doc teams @CarlRabeler. Please let me know if there is a direction you would like to ta

[2019-08-05 18:31] MarileeTurscak-MSFT commented on #36470
@mdonkervoort
Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-05 18:33] MarileeTurscak-MSFT commented on #36471
@adamfowlerit
Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-05 18:33] pes-kapacity commented on #35926
Cool, thank you. That bit with "When None is selected, PreserveHierarchy becomes default" is definitely confusing, lol.

________________________________
From: MartinJaffer-MSFT <notifications@github.com>
Sent: Monday, August 5, 2019 6:55:36 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Peter Schmitz <pes@kapacity.dk>; Mention <mention@noreply.github.com>
Subject: Re: [Micros

[2019-08-05 18:33] MarileeTurscak-MSFT commented on #36473
@cktechative
Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-05 18:34] Karishma-Tiwari-MSFT commented on #36152
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-08-05 18:34] #36152 closed

[2019-08-05 18:36] sebader opened #36513 "Disabled HTTP triggered functions?"
This article (or at least any methods described in it), do not seem to apply for HTTP-triggered Functions (v2). Can you please clarify if and how those functions can be disabled?
Or: Explain which triggers can be disabled on this way. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b7f85a6-7b15-afe0-6443-27512c

[2019-08-05 18:41] sebader commented on #36513
nevermind :) It works as expected when done right :)

[2019-08-05 18:41] #36513 closed

[2019-08-05 18:44] Karishma-Tiwari-MSFT commented on #26913
@a30001539 Thanks for the update.
@roiyz-msft The doc would need to be updated as view is updated again. Thanks :)

[2019-08-05 18:44] sameer-kumar commented on #36402
@psignoret  This is a pop-up window with no dashes.

[2019-08-05 18:46] FrankHu-MSFT commented on #36424
Hey @Linaa it looks like this is unfortunately not possible. My suggestion is to file this under Azure feedback here : https://feedback.azure.com/forums/169401-azure-active-directory

In addition to that, I will be sure to forward this feedback to the product group accordingly.

Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this

[2019-08-05 18:46] #36424 closed

[2019-08-05 18:46] KranthiPakala-MSFT commented on #36219
@tonyStann Looks like the same question was posted in [MSDN](https://social.msdn.microsoft.com/Forums/en-US/c9e22890-2533-4794-9453-6a27c48b4b43/copy-json-array-data-from-rest-to-azure-blob-as-it-is?forum=AzureDataFactory) and [stackoverflow](https://stackoverflow.com/questions/57282500/copy-json-array-data-from-rest-data-factory-to-azure-blob-as-is) forums, and another engineer is working with yo

[2019-08-05 18:46] #36219 closed

[2019-08-05 18:46] wendellh3 commented on #36505
When I use the Web App config "linuxFxVersion": "DOCKER|acrtriagewpgbl.azurecr.io/triagewp:latest" and view the Web App's Container Settings in the portal, the Image Source is indicated as Docker Hub, not Azure Container Registry.  I can stop the Web App, and reconfigure the Container Settings manually to point to my ACR and image.  Then the image is pulled and extracted without errors.  When I us

[2019-08-05 18:50] Karishma-Tiwari-MSFT commented on #15575
@peppekerstens The doc author is working on it.
@cynthn @raj-ganapathy-msft Can either of you help provide the insights on the maintenance for the availability zones. Thanks :)

[2019-08-05 18:52] anosov1960 commented on #33317
On Azure, connecting to the sync database and a hub database is no different than connecting to any other Azure SQL database, including the specific firewall configuration on the server. On premises, an IT department  may have set up specific requirements or restrictions to connect to their SQL server. To connect to the sync member database one has to meet these specific requirements.

[2019-08-05 18:52] Karishma-Tiwari-MSFT commented on #30370
@KumariSupriya @Shell32-Natsu Can either of you please help share the ETA/update the doc with the information. Thanks :)

[2019-08-05 18:53] mike-urnun-msft commented on #36392
Thanks @LukasNespor! We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-08-05 18:53] #36392 closed

[2019-08-05 18:54] MartinJaffer-MSFT commented on #19698
Hello @sbjeletich .  The way I use the output, is a setVariable activity between the first and second databricks notebook activity.  I do this just to help with debugging.  The expression I use is
`@{activity('Notebook1').output.runOutput}`
The {curly braces} are to convert to string, since my variable is of type string.  I can then use the variable (and convert type) in the parameters section of

[2019-08-05 18:55] Shell32-Natsu commented on #30370
@Karishma-Tiwari-MSFT Your documentation has been updated but I want to use this feature so I am asking about the real **fix** for the issue.

[2019-08-05 18:57] anosov1960 commented on #33317
This comment is not correct as it refers to the old Data Sync service implementation, which has been upgraded to the new DataSync implementation.

[2019-08-05 18:59] FrankHu-MSFT commented on #36323
I see, can you double check if your email address isn't already in the O365/AAD tenant? There are some uniqueness checks that can cause this to fail : https://www.vspbreda.nl/nl/ms-office/office-365/office-365-uniqueness-constraint-violation/

Also are there any special characters in your email address?
@andrewgill-draysontechnologies

[2019-08-05 19:03] SnehaGunda commented on #35827
@HansWieserMS Thanks for your feedback, can you please clarify further, I don't understand what you are suggesting to update. This doc doesn't use fixed-size containers. It uses a partition key. The table in the doc provides a sample partition key and points to a doc on how to choose partition key, best practices.

![image](https://user-images.githubusercontent.com/14284405/62488305-d3453f00-b778-

[2019-08-05 19:05] anosov1960 commented on #34764
The issue with conflicting triggers is unrelated to the permission discussion. But it is true that if you have a trigger on a table that is in sync relationship with another database, then sync can fail. In some cases it may work, but because it result in an unpredictable behavior, our guidance is to remove the custom triggers from these tables.

[2019-08-05 19:07] KranthiPakala-MSFT commented on #36314
@sachindedhia Thanks for your response. I have tried testing the same in different machine and noticed there is an issue. We have escalated the issue to product team and they have opened a bug item to take a deeper look into the issue. At this time we do not have a definite ETA for the fix, but will keep posted once we have an update from the team.

As this is a product issue and not a document co

[2019-08-05 19:07] #36314 closed

[2019-08-05 19:09] cynthn commented on #15575
@jtuliani and @Karishma-Tiwari-MSFT I'm working on a rewrite of the maintenance docs and will sync with them on what kind of impact using zones has on maintenance (compared to just regions). FYI - Raj is no longer with the company :(

[2019-08-05 19:09] FrankHu-MSFT commented on #36379
Hey @rahulraj40 I see the issue now thank you for letting us know about this! We'll go ahead and make the change to fix the docs accordingly. You should be a global admin to enable this policy.

Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please reopen this git issue if you have anymore conc

[2019-08-05 19:10] aahill commented on #36165
Thanks @YutongTie-MSFT , and @mikemorrison111 for finding this. For some reason, I didn't get a notification the first time. I'll look into this and update it.

[2019-08-05 19:10] ashleyabraham commented on #36408
How does this translate to Python Function App data bricks activity in data
factory

On Mon, Aug 5, 2019 at 1:25 PM KranthiPakala-MSFT <notifications@github.com>
wrote:

[2019-08-05 19:12] FrankHu-MSFT commented on #36387
Hey @HeineLysemose  and @beardedmogul I see thank you for your feedback! I'll go ahead and forward this information to the product group accordingly.

Please let us know if there are anymore questions within the scope of this git issue.

If not, I will be closing out this git issue by end of day today. Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-05 19:13] MicrosoftGuyJFlo commented on #36417
No change to the content of the article the changes are back-end changes.

[2019-08-05 19:13] MicrosoftGuyJFlo commented on #36417
#please-close

[2019-08-05 19:13] #36417 closed

[2019-08-05 19:13] MicrosoftGuyJFlo commented on #36225
#please-close

[2019-08-05 19:13] #36225 closed

[2019-08-05 19:15] SnehaGunda commented on #36451
@joergjo both the doc and code sample are updated. Doc changes will be live later today. We will close this issue if there aren't further questions.

#please-close

[2019-08-05 19:15] #36451 closed

[2019-08-05 19:17] FrankHu-MSFT commented on #36415
Hey @NancyZamora

There is a note in the doc that says below :

I agree that this can be clarified better, and will add your notes accordingly into the note.

Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-05 19:18] SnehaGunda commented on #36450
@Mike-Ubezzi-MSFT Matias responded to this issue, however, if there are further questions would it make sense to redirect this issue to Functions team or askcosmosdb alias.

[2019-08-05 19:19] thecherrytree opened #36515 "Configure Publisher to Use Distributor"
Since this is still in public preview...

The configuration requires the use of a Secure Access Token. In lieu of the Secure Access Token, is it possible to use a Shared Access Signature for this configuration? The URI constructs are essentially the same.

File Storage SAS contruct:
[code]

Config requirements using the Storage Account Access Key:

[code]

I'm proposing:
[code]

---
#### Document

[2019-08-05 19:23] felickz opened #36516 "ClientEnabled flag clarification"
"ClientEnabled="true" sends the ApplicationInsights client-side script for tracking page view and client-side errors (not needed)."

Clarification needed on this is not needed as it is always enabled OR this is not needed as it doesn't work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdca08d8-4a1d-f11c-9e3e-6627ea0

[2019-08-05 19:26] felickz commented on #36516
with "false" -  "browserTimings | limit 50" shows no results

[2019-08-05 19:28] roygara commented on #36333
@robhardman Thanks for reaching out and bringing this to our attention, we appreciate it. :)

Yes, it is supported on 1903. We'll be updating the doc to reflect this, the change should be live soon.

[2019-08-05 19:36] roygara commented on #36333
#please-close

[2019-08-05 19:36] #36333 closed

[2019-08-05 19:36] saschastops commented on #36480
Thank you.

Holen Sie sich Outlook für Android<https://aka.ms/ghei36>

________________________________
From: David Bélanger <notifications@github.com>
Sent: Monday, August 5, 2019 8:30:41 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: saschastops <sstops@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] 32bit client (#36480)

Hi @sasch

[2019-08-05 19:37] simon-michaud opened #36517 "Any way to create these rules from commande line, either Powershell or az cli ?"
I need to create a lot or similar alerts in different Log Analytic workspaces, doing everything from the portal is not automatable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18f95793-d856-c29e-6d2c-d8145632898b
* Version Independent ID: 98ae91ae-473c-f4da-a50a-a8ce432fa95a
* Content: [Create performance alerts by

[2019-08-05 19:37] Midacts commented on #10926
DansGame

[2019-08-05 19:38] arerlend opened #36518 "Change origin for spark.hadoop.hive.llap.daemon.service.hosts"
Minor change - step 4d under Hive Warehouse Connector setup should technically be pulled from hive.llap.daemon.service.hosts from the Hive cluster's Advanced hive-interactive-site config section.  This gives you '@llap0'.

LLAP App Name under the Advanced hive-interactive-env configs is just 'llap0'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-08-05 19:39] YutongTie-MSFT commented on #36511
@avbhaskar
Thanks for the feedback! We are currently investigating and will update you shortly.

@Mike-Ubezzi-MSFT  Not quite sure if SQL-database is the right place for this issue. Please feel free to change it.

@tfitzmac Hi Tom, I saw you are the author of that document, so FYI here.

[2019-08-05 19:42] qianw211 commented on #36278
#please-close this issue is no repro, the link is working.  Thanks!

[2019-08-05 19:42] #36278 closed

[2019-08-05 19:43] qianw211 commented on #36221
#please-close, we're currently working on updating the lead management content for the docs.  This issue is being tracked! Thanks!

[2019-08-05 19:43] #36221 closed

[2019-08-05 19:43] MarileeTurscak-MSFT commented on #36491
Hi @sebhe ,

 Can you clarify what you mean by this? I just tested on my tenant and the temporary password was auto-generated.

![image](https://user-images.githubusercontent.com/13383753/62490481-3685a000-b77e-11e9-8254-9205743a1926.png)

[2019-08-05 19:46] stephen-newman commented on #36460
@jakaruna-MSFT thanks for the reply.

I followed the instruction to install the zulu sdk which worked:
`sudo apt-get -y install zulu-8-azure-jdk`

But the original instruction still fails:
`sudo apt-get install servicefabricsdkcommon`
with the same error:
`The following packages have unmet dependencies:
 servicefabricsdkcommon : Depends: servicefabric (>= 6.4.625.1) but it is not going to be insta

[2019-08-05 19:51] Mike-Ubezzi-MSFT commented on #36450
@jbevarts I linked the same document in my previous comment and the product group has replied directly. Please do reach out to [AskCosmosDB](mailto:askcosmosdb@microsoft.com) if you should need additional assistance with this functionality.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-08-05 19:51] #36450 closed

[2019-08-05 20:06] ShubhaVijayasarathy commented on #36318
This is something that needs to be directed to Azure Stream Analytics. Event Hubs does not provide service side check-pointing and checkpointing is done on the client end.
@spelluru , please open a GitHub issue for ASA and close this?
#please-close

[2019-08-05 20:06] #36318 closed

[2019-08-05 20:09] ppatino commented on #27597
I would also love some official guidance on what exactly to use for a database key.  @arkiaconsulting mentions `idp` and `oid` pair, which I think makes sense, but is there an official source of information?

[2019-08-05 20:11] MicahMcKittrick-MSFT commented on #36322
@olileger I worked offline on this with the Container Service Product Team.

It won’t work On-prem to Pod.

It can work on prem to LB (be it ELB or Internal LB) or nodeport (though we don’t recommend this one a lot)

If you need more info, I see you are an FTE so you can ping me offline and I can add you to any threads as needed :)

[2019-08-05 20:11] #36322 closed

[2019-08-05 20:12] jbevarts opened #36520 "Import statements in first example "hello" function need to be edited"
They should be com.microsoft.azure.serverless...*

Currently, they are just com.microsoft.azure...*

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e656bde5-b5d8-8d80-b7b3-ab430e57613e
* Version Independent ID: 329eb12f-7302-4ecf-c1bf-a50ba3f34bdf
* Content: [Use Java and Maven to publish a function - Azure Functions](h

[2019-08-05 20:17] CelesteDG commented on #27597
#reassign:rwike77

[2019-08-05 20:18] kgremban commented on #34875
Thanks for the suggestion, @VidyaKukke. I'm working on verifying the steps and then will update the documentation, and will let you know when any changes are available to view.

[2019-08-05 20:18] MicahMcKittrick-MSFT commented on #36505
@wendellh3 can you share your ARM template with me? I can try it out as well and see if I can find a work around.

[2019-08-05 20:22] SnehaGunda commented on #35828
@HansWieserMS the sample is updated to use the partition key.

This commit fixes the sample- https://github.com/Azure-Samples/azure-cosmos-db-graph-python-getting-started/commit/1574420fe538794243b987a100cb66ea8b602990

I updated the screenshots in the doc (PR above)

[2019-08-05 20:22] qianw211 commented on #36234
Hi @TheOpsMgr, your feedback is accurate: you can’t use an active directory account for MSA.

The following resources maybe helpful: https://support.microsoft.com/en-us/hub/4294457/microsoft-account-help

[2019-08-05 20:22] qianw211 commented on #36234
#please-close this is a support issue rather than a doc issue.  Thanks!

[2019-08-05 20:22] #36234 closed

[2019-08-05 20:23] SnehaGunda commented on #35828
@HansWieserMS We will close this issue if there aren't further questions.

#please-close

[2019-08-05 20:23] #35828 closed

[2019-08-05 20:24] femsulu commented on #36467
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-08-05 20:25] femsulu commented on #36474
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-08-05 20:27] femsulu commented on #36479
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-08-05 20:27] rahulraj40 commented on #36379
Hi @FrankHu-MSFT,

Thank you, if you have cross checked and confirmed that it requires Global admin not user admin then I have no more questions. I wanted to make sure that If I doing it right way or not?

[2019-08-05 20:31] iainfoulds commented on #14605
Sorry for the delay on this, @enetics-eugene

I've update all references throughout the Azure AD DS docs to reflect the registered FQDN of contoso.com. These updates should publish in the next few days.

#please-close

[2019-08-05 20:31] #14605 closed

[2019-08-05 20:32] femsulu commented on #36484
Thanks for the comment. Can you please share the support case ID so we can review the details?
@stephbaron  - fyi on the doc-enhancement request

[2019-08-05 20:33] femsulu commented on #36486
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-08-05 20:36] femsulu commented on #36487
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-08-05 20:36] iainfoulds commented on #13653
Sorry you ran into issues, @DanielJBrown, and sorry for the delay here.

This document has been updated as part of a wider set of updates in the Azure AD DS docs. These doc updates should publish in the next few days. It provides a little more information around the use of DNS names, but still doesn't get into specifics of registering external DNS names. The portal now provides specific steps that

[2019-08-05 20:36] #13653 closed

[2019-08-05 20:37] femsulu commented on #36512
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-08-05 20:38] femsulu commented on #36517
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-08-05 20:39] nishantsny opened #36522 "Get stuck in a login loop"
Both https://aka.ms/MFASetup and https://myapps.microsoft.com get stuck in a login loop.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a5d93c5-5135-b9e9-e536-eb0830918b2e
* Version Independent ID: 49be1539-737b-8874-eca6-1cdbc5263d73
* Content: [Manage two-step verification settings - Azure Active Directory](https://

[2019-08-05 20:40] iainfoulds commented on #14791
Sorry you ran into issues, and sorry for the delay here.

This article has been updated as part of a wider set of updates for Azure AD DS. An updated link to https://docs.microsoft.com/windows/win32/ad/creating-a-query-filter has been added, which contains a set of 4-5 docs on creating different types of queries. These doc updates should publish in the next few days.

For now, #please-close

[2019-08-05 20:40] #14791 closed

[2019-08-05 20:45] FrankHu-MSFT commented on #36473
Hey @cktechative
This document is NOT meant for RDS-FW high availability deployment. This document is only for basic RDS GW integrations.

Please see the below post regarding NPS and High Availability:
https://www.itprotoday.com/windows-78/deploy-highly-available-radius-services-windows-server

Note, if you follow this document for a high availability setup, you might get issues such as : Multiple

[2019-08-05 20:45] iainfoulds commented on #13717
Sorry you all ran into issues, and sorry for the delay here.

This article has been updated as part of a wider set of updates for the Azure AD DS docs. These doc updates should publish in the next few days. There are now troubleshooting steps to make sure there's DNS connectivity, and the Azure portal as part of deploying the Azure AD DS instance should also now guide you through what's required t

[2019-08-05 20:45] #13717 closed

[2019-08-05 20:46] FrankHu-MSFT commented on #36439
Hey @askpatrickw  thanks for letting us know about this, I agree that makes alot of sense. I will go ahead and make those changes accordingly.

Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please reopen this git issue if you have anymore concerns.

Thanks again! We appreciate the insight you

[2019-08-05 20:46] mamccrea commented on #36207
Thanks, @Mike-Ubezzi-MSFT. A PR has been submitted with the correction. #please-close

[2019-08-05 20:46] #36207 closed

[2019-08-05 20:48] iainfoulds commented on #18122
Sorry you ran into issues, and sorry for the delay here.

This doc has been updated as part of a wider set of doc updates for Azure AD DS. The requirements and limitations for using an external CA and self-signed certs around the *.onmicrosoft.com vs external DNS names has been added. These doc updates should publish in the next few days.

For now, #please-close

[2019-08-05 20:48] #18122 closed

[2019-08-05 20:51] wendellh3 commented on #36505
I think I have figured it out after re-reading other documentation.  My new hypothesis is that ACR does not support Managed Identity, which is what is being created with the Web App for Containers.  Therefore, I need to create a separate service principal with the AcrPull role and incorporate those credentials into my ARM template.  Does that sound plausible?  Unfortunately, I don't have access to

[2019-08-05 20:51] jasonh-edfi commented on #24474
Similar dependancy issue - this is on Ubuntu 18 on Windows 10 sub-system, I get exactly the same error as @pennyhindle above on Windows under PowerShell

![image](https://user-images.githubusercontent.com/38012402/62494296-c46e8480-b798-11e9-9433-766615bc5dc9.png)

[2019-08-05 20:52] mmacy commented on #28155
@FrankHu-MSFT can you add the **B2C/subsvc** label to this one?

[2019-08-05 20:53] mmacy commented on #28251
#reassign:mmacy

@FrankHu-MSFT Another one that needs the **B2C/subsvc** label when you have a minute, Frank. Thanks!

[2019-08-05 20:57] skateboardCherimoya commented on #25751
Is there any update or eta on this? The documentation is severely lacking on details on even the smallest things like adding text to a SymbolLayer.

[2019-08-05 21:00] iainfoulds commented on #19030
Sorry you ran into issues, @sjlouder, and sorry for the delay here.

This article has been updated as part of a wider set of doc updates for Azure AD DS. These doc updates should publish in the next few days. There's additional information included as to where the password hashes are stored, and specifically references the scenario you mention where if an Azure AD DS managed domain is deleted, the

[2019-08-05 21:00] #19030 closed

[2019-08-05 21:03] JnHs commented on #36290
I hope the link above addressed your questions - please reopen (or open a new issue) if you find that you still need additional info. #please-close

[2019-08-05 21:03] #36290 closed

[2019-08-05 21:10] eric-camplin opened #36523 "Tutorial: Secure a web server on Linux VM, error with prep cert"
Got an error with step: **Prepare a certificate for use with a VM**
**>$** `vm_secret=$(az vm secret format --secrets "$secret")`

ERROR: `usage error: [--keyvault NAME --resource-group NAME | --keyvault ID]`

**FIX**
https://stackoverflow.com/questions/54336531/why-does-az-vm-secret-format-command-fail-when-prepping-ssl-cert-of-linux-vm-d

**>$** `vm_secret=$(az vm secret format --secret "$secret

[2019-08-05 21:14] juanii commented on #36249
Just in case this is relevant, looking at the App Service logs it seems like an older image (appsvc/php:7.3.2-apache_1903071319) is specifically selected when the App Service instance is configured to use the PHP 7.3 runtime:
`docker run -d -p 46693:8080 --name xxxxx_0 -e WEBSITE_SITE_NAME=xxxxx -e WEBSITE_AUTH_ENABLED=False -e WEBSITE_ROLE_INSTANCE_ID=0 -e WEBSITE_HOSTNAME=xxxxx.azurewebsites.net

[2019-08-05 21:16] Sas002 opened #36524 "Azure AD integration with Linux GA date"
Please let us know when Azure AD integration with Linux VM feature will be available for GA . It is  preview since 2018 and we are not confident , if we are going to use for production as there is no GA date.

[2019-08-05 21:20] MicahMcKittrick-MSFT commented on #36505
I do see we support Managed Identities

https://docs.microsoft.com/en-us/azure/container-registry/container-registry-authentication-managed-identity

I don't generally work with Web Apps very often so not sure if there is some limiting items on that end. Regardless, I am happy to help resolve the issue any way I can :)

[2019-08-05 21:21] FrankHu-MSFT commented on #36432
Hey @stewartadam and @sandeepbhupathi you're right our documentation definitely has some room for improvement. in regards to explaining how the scopes work.

Scopes are valid, and .default is NOT the only valid parameter.

Please see the auth code flow here : https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow#request-an-authorization-code

for example paramete

[2019-08-05 21:24] Karishma-Tiwari-MSFT commented on #36523
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-05 21:25] codemillmatt commented on #35995
Fix merged into master of the azure sample. Thanks @SnehaGunda !!

Thank you @sjbolinger for finding it.

[2019-08-05 21:25] cynthn commented on #36523
@eric-camplin Hey! Nice to hear from you :)  Are you learning all about Azure VMs?

Thanks for the feedback, I'll take a closer look at that later today!

[2019-08-05 21:28] mike-urnun-msft commented on #36508
Hi @CeciAc & @tsaeki - Thank you for reporting this issue and helping us drive improvements towards MS Docs. I've created a PR that addresses this issue and the change should reflect within 24hrs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-08-05 21:28] #36508 closed

[2019-08-05 21:35] bwren commented on #36258
The process is still correct.  The marketplace UI just changed a bit making the search for solutions a little different.  I'll get it updated.

[2019-08-05 21:35] bwren commented on #36258
#in-process

[2019-08-05 21:37] #30371 closed

[2019-08-05 21:38] SnehaGunda commented on #35995
@sjbolinger in addition to the code sample, I made some fixes to the doc. We will now close this issues if there aren't further questions.

#please-close

[2019-08-05 21:38] #35995 closed

[2019-08-05 21:40] MicahMcKittrick-MSFT commented on #36524
@Sas002 aplogies but we have no information available to share regarding a GA release date. The AAD team is still activity working on this feature. Once we have dates we will be sure to update the documentation.

CC @cynthn @Karishma-Tiwari-MSFT

[2019-08-05 21:41] FrankHu-MSFT commented on #36438
@askpatrickw thanks again for letting us know your feedback. And you're right the client id and policy name needs to be changed as well. I'll put that into the docs.

The policy name by default is usually that name, however the client id needs to always be changed.

I'm currently making those changes now.

Please let us know if there are anymore questions within the scope of this git issue. If not

[2019-08-05 21:41] Grace-MacJones-MSFT commented on #35960
Hi @toddplu,  thanks for your patience. I reached out internally to the engineering team to see if this is a possibility. Will update here once I get a response.

[2019-08-05 21:42] SnehaGunda commented on #36398
@pbiasotti we will close this issue if you don't have any further questions.

#please-close

[2019-08-05 21:42] #36398 closed

[2019-08-05 21:48] jasonh-edfi commented on #24474
@pennyhindle I found a manual work around is to edit C:\Users\<username>\AppData\Local\chefdk\gem\ruby\2.6.0\specifications\knife-azure-1.9.0.gemspec and change:
      `s.add_runtime_dependency(%q<knife-windows>.freeze, ["~> 1.0"])`
to:
      `s.add_runtime_dependency(%q<knife-windows>.freeze, ["~> 3.0"])`

For the longer fix, it appears the gemspec for knife-azure needs to be updated with the sam

[2019-08-05 21:49] SnehaGunda commented on #35827
@HansWieserMS in addition, I see @LuisBosquez updated all the Gremlin API samples to use partition key. Thanks, Luis!

The docs are also in sync with the code. We will close this issue if there aren't further questions.

[2019-08-05 21:50] SnehaGunda commented on #35827
#please-close

[2019-08-05 21:50] #35827 closed

[2019-08-05 21:58] spelluru commented on #34214
@mike-urnun-msft - I could complete the quick start with no issues. It all worked fine for me. What do you mean by the ARM template? This quick start doesn't have an ARM template. All the steps are done in the Azure portal.

One thing I can think of is that I am testing with Azure Storage General Purpose V2. Are you using a Gen 1 storage (or) just the blob storage (not the full storage account)?

[2019-08-05 21:58] TheBluLion opened #36526 "ClassificationsList no longer accepts a string value in the AzureAdPreview module"
ClassificationsList no longer accepts a string value in the AzureAdPreview module
It now requires a name-value pair

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cd7a703-534a-5fbd-6470-5d29bf512fd2
* Version Independent ID: 4f70ed16-6a1c-c0be-3c5e-d56e1b7c7275
* Content: [Configure group settings using PowerShell - A

[2019-08-05 22:01] TravisCragg-MSFT commented on #36495
@laglerh Unrtunately I do not have a timetable for the public preview of hub-to-hub connectivity.

The scenario you describe above is not possible at this time. 2 branches can connect via a single hub.

When Hub-to-Hub is released, there will be more information on connectivity between the Hubs.

We will now proceed to close this thread. If there are further questions regarding this matter, please

[2019-08-05 22:01] #36495 closed

[2019-08-05 22:02] FrankHu-MSFT commented on #36379
Hey @rahulraj40

It should be user admin, and we're currently looking into fixing this. Please see the doc : https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles#user-administrator

I'm letting the product team know about this, but currently it looks like the only way to get this working is using global admin, and will change the doc accordingly.

[2019-08-05 22:06] ShawnPOWER commented on #34648
This is fully reproducible today on an Azure VM. I just created the issue again this morning. Creating a new Windows Server 2019 VM as an AD DS machine (VM plus AD DS configuration). Then creating a new Windows Server 2019 VM as a Failover Cluster Node. Then installing failover cluster manager, making the new cluster with your command you mentioned for new-cluster on a VM with a DHCP NIC. Produces

[2019-08-05 22:11] toddjohnson39 opened #36527 "Per-User MFA to Conditional Access MFA"
The script provided to assist with moving away from per-user MFA is not clear on the following point. Why would you set Strong Auth Requirement State to 'Enforced'? Shouldn't this be left at disabled? If disabled, then Conditional Access is the control for MFA. If it's set to 'Enforced' then MFA is configured at the user-level and is required outside of Conditional Access. What am I missing?

---

[2019-08-05 22:11] MartinJaffer-MSFT commented on #35926
Totally.

[2019-08-05 22:11] #35926 closed

[2019-08-05 22:12] wendellh3 commented on #36505
I tried using a new service principal (not a managed identity), and created appSettings for DOCKER_REGISTRY_SERVER_USERNAME, and DOCKER_REGISTRY_SERVER_PASSWORD.  The result in the portal was an Azure Container Registry in the Web App, but still ran into an authentication required error.  I reviewed the Managed Identities docs you referenced. It describes what I was trying previously with a manage

[2019-08-05 22:14] MartinJaffer-MSFT commented on #35926
Did the non-delimited text thing help?  I totally agree, changes cause me to question everything too.

[2019-08-05 22:19] SnehaGunda commented on #35676
@Mike-Ubezzi-MSFT just got back from vacation this week, I wasn't aware of the V3 SDK release. I will be working with the team on sample and doc updates.

[2019-08-05 22:24] MicahMcKittrick-MSFT commented on #36505
@BryanTrach-MSFT @Grace-MacJones-MSFT @mike-urnun-msft have any of you had experience doing this? It is a bit outside of my wheelhouse. If not, I can get @wendellh3 in touch with support to help configure this further :)

[2019-08-05 22:27] mike-urnun-msft commented on #36520
Hi @jbevarts - Thank you for your feedback! We will review and update as appropriate.

[2019-08-05 22:28] Karishma-Tiwari-MSFT commented on #36291
Thank you for sharing the information. Are you suggesting to include the following information in the  [egress article](https://docs.microsoft.com/en-us/azure/aks/egress)?

I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-08-05 22:28] mike-urnun-msft commented on #36510
Hi @slimfast-lev - Thank you for your feedback! We will review and update as appropriate.

[2019-08-05 22:30] vinothinidharmaraj commented on #35433
@jakaruna-MSFT, thanks for update. i did try your suggestion seems like its not working.
I get the below error. I'm using azuremRM resource does that make any difference?

![image](https://user-images.githubusercontent.com/34457418/62498873-950a4880-b795-11e9-9fff-852781d4408b.png)

Custom script extension index found @ 2
The property 'ProvisionAfterExtensions' cannot be found on this object. Veri

[2019-08-05 22:32] Alberto-Vega-MSFT commented on #36231
@JayaSaiSontineni was the previous comment helpful? Were you able to resolve the issue?

[2019-08-05 22:32] kraigb commented on #34834
Did you try it with a script specifically named aznbsetup.sh? There might be bugs with using arbitrary scripts, but I know the service looks for this name in particular.

[2019-08-05 22:38] xieb0001 commented on #27024
This documentation contains good information, but with sample code impossible to follow, thus it's very useless. Please update the library usage. I'm struggling to figure out how to make client-side batching with the Microsoft.Azure.ServiceBus library.

[2019-08-05 22:42] xieb0001 opened #36528 "How to enable client-side batching with new library?"
I have the sender code following the sample from https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-dotnet-get-started-with-queues#send-messages-to-the-queue
Trying to enable client-side on top of it.  Couldn't figure out how.
I'm using Microsoft.Azure.ServiceBus library. I believe the sample code here is for the older library. Is there any tutorial or sample code for client-

[2019-08-05 22:52] benhatton-unsw-edu-au commented on #35993
Thanks so much Christina @ccompy, this is very good news.

[2019-08-05 22:57] rbrundritt commented on #25751
Unfortunately the docs.microsoft.com platform has some issues ingesting JavaDocs currently which has been blocking the publishing of the reference docs for the Azure Maps Android SDK. IF you post any of your technical questions into the forums, we would be happy to assist: https://stackoverflow.com/questions/tagged/azure-maps

[2019-08-05 23:08] Alberto-Vega-MSFT commented on #36506
@jhosteny Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-05 23:09] rbavery opened #36530 "az: 'ml' is not in the 'az' command group. See 'az --help'."
When I do this in the cloud shell
[code]
I get the error az: 'ml' is not in the 'az' command group. See 'az --help'.

It seems that this shouldn't happen if that is the line suggested in the docs? When I try to do this from my own temrinal and isntall the az-cli-ml package I get the same error. My pip is coming from the same location as my python so I am not sure if this is a path issue.
`pip inst

[2019-08-05 23:12] YutongTie-MSFT commented on #36530
@rbavery
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-05 23:14] rbavery commented on #36530
I found the instructions to get `az ml` working: https://docs.microsoft.com/en-us/azure/machine-learning/service/reference-azure-machine-learning-cli

But I think there should be a change in the docs to account for the fact that the "Try it" button that opens an `az ml` command in cloud shell will not work right off the bat unless az ml is installed. Maybe this should be installed in the cloud she

[2019-08-05 23:17] cynthn commented on #32773
@trazbyte Thanks for the feedback! I just ran through this again and I had no issues. I used "Try it" from the article (which uses the Cloud Shell) and it ran without error. I also verified that IIS is running on the VM (by going to the public IP address from a browser). This script doesn't use WinRM, so opeing port 5986 is not required.

#please-close

[2019-08-05 23:17] #32773 closed

[2019-08-05 23:20] MarileeTurscak-MSFT commented on #36367
I believe that this is documented in the samples themselves but should be added to the documentation. https://github.com/Azure-Samples/active-directory-dotnet-webapp-wsfederation

I'm assigning this to @rwike77 to look into.

[2019-08-05 23:23] cynthn commented on #32437
@sandeepraichura Thank you for the feedback! There is already a link to the overview, and that is where the unsupported scenarios are documented now. But, just-in-case, I link directly to the subheading  for the unsupported scenarios as well. Changes should appear in the document tomorrow.

#please-close

[2019-08-05 23:23] #32437 closed

[2019-08-05 23:27] Alberto-Vega-MSFT commented on #36133
@xelossan For product feedback (feature requests or similar) you can find the link called "**This Product**" at the footer of each doc in Azure docs
![image](https://user-images.githubusercontent.com/10910841/62500822-f550b880-b79c-11e9-9939-c5105ad1a3c3.png)
Another good source for development questions is StackOverflow and also you could open a support ticket if you have access to a support plan

[2019-08-05 23:28] rbrundritt commented on #9105
Circling back. Azure Maps is now unblocked in India, Morocco, Pakistan and Argentina. A blog post on this will be made soon. If you have been using Azure Maps you likely would have received an email notification about this as well.

[2019-08-05 23:29] Alberto-Vega-MSFT commented on #36111
@aosyatnik Do you have any updates?

[2019-08-05 23:31] Alberto-Vega-MSFT commented on #36140
@DeveloperBeginner That's awesome! We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-05 23:31] #36140 closed

[2019-08-05 23:31] cynthn commented on #32212
@DanteNahuel Thank you for the feedback! I've created a backlog work item to see about getting this documented for PowerShell.

#please-close

[2019-08-05 23:31] #32212 closed

[2019-08-05 23:31] FrankHu-MSFT commented on #36272
Hey @MoRMongol  please reopen the GitHub issue when you follow up on a thread for information.

This is a common issue, please open up a feedback issue against this link : https://feedback.azure.com/forums/34192--general-feedback

And we will look into adding it as soon as possible.
This is the common thread : https://feedback.azure.com/forums/34192--general-feedback/suggestions/11273049-add-all-c

[2019-08-05 23:31] #36272 closed

[2019-08-05 23:33] cynthn commented on #30991
@johnwildes Thank you for the feedback! I've added more information into the Shared Image Gallery for using RBAC to share at the Gallery level (which is recommended). Please let me know if you think something additional is needed.

#please-close

[2019-08-05 23:33] #30991 closed

[2019-08-05 23:37] tfitzmac commented on #36511
@avbhaskar - it looks like you would have to change either the type or the name. I recently added an article that might help - [Set name and type for child resources](https://docs.microsoft.com/azure/azure-resource-manager/child-resource-name-type). Let me know if that works.

[2019-08-05 23:38] cynthn commented on #30555
#reassign @KumudD Can you you add information to the NSG docs about creating an NSG using Python?

[2019-08-05 23:39] MicrosoftGuyJFlo commented on #26598
@Martony78 I sent them a note to ask they pull their blog post.

[2019-08-05 23:39] MicrosoftGuyJFlo commented on #26598
#please-close

[2019-08-05 23:39] #26598 closed

[2019-08-05 23:40] cynthn commented on #30785
@msLinuxNinja Thanks for the feedback! This isn't something we want to add to the docs at this time, but David has heard the feedback.

#please-close

[2019-08-05 23:40] #30785 closed

[2019-08-05 23:41] Karishma-Tiwari-MSFT commented on #36425
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-08-05 23:42] #36485 closed

[2019-08-05 23:45] Mike-Ubezzi-MSFT commented on #36515
@thecherrytree Thank you very much for this inquiry and suggestion. We are investigating whether the `Shared Access Signature` is a functional alternative to using the` Shared Access Token`.

[2019-08-05 23:45] cynthn commented on #28447
@tsubasaxZZZ Thank you for the feedback! I've added a line to say that Linux and Windows Server 2008 aren't supported for Antimalware. The changes should be live tomorrow.

#please-close

[2019-08-05 23:45] #28447 closed

[2019-08-05 23:48] SanDeo-MSFT commented on #35903
#please-close

[2019-08-05 23:48] #35903 closed

[2019-08-05 23:49] KranthiPakala-MSFT commented on #36399
Hi @Johannes-Vink, just wanted to confirm if you were following the exact steps as mentioned in the document? And also could you please tell us what is the windows server in which you are trying to install .Net Framework 3.5?

[2019-08-05 23:49] SanDeo-MSFT commented on #35900
#please-close

[2019-08-05 23:49] #35900 closed

[2019-08-05 23:50] wendellh3 commented on #36505
I was able to successfully deploy the custom image to the Web App for Containers instance using the service principal, with the appSettings mentioned in the above comment.  However, my preference would be to use the web app's managed identity if someone is able to help me configure it. Thanks again!

[2019-08-05 23:55] Karishma-Tiwari-MSFT commented on #36274
@sauryadas Can you please share your insights on this question. Thanks :)

[2019-08-05 23:57] pollend commented on #35956
I was having performance problems with the web app so I configured a docker container with ngnix and php-fpm

[2019-08-05 23:57] #35956 closed

[2019-08-05 23:57] cynthn commented on #27521
@woutervanranst Thanks for the feedback! There are two ways to specify what VM to stop:
1. Using the resource ID
2. Using the resource group and VM name

This doc uses the resource group and VM name, not the "ID parameter set". The warning is just there as a reminder that the parameter set is changing (even though it won't affect this particular syntax).

As of right now, you no longer get the war

[2019-08-05 23:57] #27521 closed

[2019-08-05 23:57] pollend commented on #35956
I went with publishing my app using docker.

[2019-08-05 23:57] MicrosoftGuyJFlo commented on #35622
Sent follow-up email to product group for response