[2022-05-02 21:26] MarileeTurscak-MSFT commented on #92324
I think this is valid feedback and made a pull request to add a note. https://github.com/MicrosoftDocs/azure-docs-pr/pull/196834

[2022-05-02 21:26] #92324 closed

[2022-05-02 21:29] marcgoff commented on #88920
My bad, I must not have eaten my wheaties that day. I installed it to an alternate directory (D:\Microsoft Azure AD Sync), but there was still a "C:\Program Files\Microsoft Azure Active Directory Connect" folder as well, so I was looking there. The csexport was in fact in my alternate location, "D:\Microsoft Azure AD Sync\bin\".

[2022-05-02 21:29] #88920 closed

[2022-05-02 21:32] ecfan commented on #86175
#assign @kewear

[2022-05-02 21:37] pgbfnf opened #92334 "Powershell logic apps page doesn't seem to apply to "standard" Logic Apps"
Hello,
I'm trying to learn how to manage a Logic App using Powershell, but it appears that the commands only work with type "Logic App" and not "Logic App (Standard)"

Can you please add some guidance on this page (and related pages) regarding type "Logic App (Standard)"?
Meaning - how can we use the same commands to manage a "Standard" Logic App, or are there different commands for that?

Thanks!

[2022-05-02 21:52] SimranArora904 commented on #92121
Thanks for reaching out. I didn't add this section to the doc so I'm not totally sure what it means. Can we maybe reach out to the person who added this part to the doc  and ask them for clarification?

Thanks,
Simran

From: YutongTie-MSFT ***@***.***>
Sent: Monday, May 2, 2022 9:08 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Simran Arora ***@***.***>; Mention ***@***.***>
Subject: Re: [Micro

[2022-05-02 22:08] pizzaz93 commented on #92162
https://github.com/Azure/communication-ui-library-android/wiki/Known-Issues

[2022-05-02 22:10] Mslance commented on #32886
Here is how to download an image without provisioning a VM using Powershell:

$location = "Central US"
$rgName = "rg"
$region = "Central US"

$imgver = Get-AzGalleryImageVersion -ResourceGroupName $rgName -GalleryName "gallery" -GalleryImageDefinitionName "myImg" -Name "myImgVer"
$galleryImageVersionID = $imgver.Id

$diskName = "tmpOSDisk"
$imageOSDisk = @{Id = $galleryImageVersionID}
$OSDiskConfi

[2022-05-02 22:12] narendrnb commented on #92277
HI, Its working now and also could someone please update that document as there are so many bits missing and have some wrong information on it.

Thanks

[2022-05-02 22:12] #92277 closed

[2022-05-02 22:19] JamesTran-MSFT commented on #92327
@anthfuller
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-02 22:22] KranthiPakala-MSFT commented on #92321
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-05-02 22:23] bbaumbach opened #92338 "Port 53?"
why on earth is port 53 required on the DC? What if I don't use MS DNS? I'm SOL then?

[2022-05-02 22:26] a30004053 opened #92339 "Discrepancy between network service-tag JSON and region support in document"
AzureMachineLearning is described as not having region support
![image](https://user-images.githubusercontent.com/57163790/166336540-d298d8e1-6d6b-4db3-be79-c89591c5d30a.png)

However, the JSON from [here](https://www.microsoft.com/en-us/download/details.aspx?id=56519), contains region specific address blocks.

![image](https://user-images.githubusercontent.com/57163790/166336690-d494b38f-6a4e-49e

[2022-05-02 22:34] kobulloc-MSFT commented on #92333
@Keboo Thank you for bringing this to our attention!  We are reviewing the documentation and will get back to you shortly.

[2022-05-02 22:50] JamesTran-MSFT commented on #92327
@anthfuller
Thank you for pointing this out!

When it comes to the date format within our docs, that should be the standard format.
![image](https://user-images.githubusercontent.com/36619112/166338972-871fee74-4e31-4211-8eed-19c2ccaf6021.png)

Since our documentation is currently up to date, I'll go ahead and close out this issue.
Thank you for your time and patience throughout this issue!

[2022-05-02 22:50] #92327 closed

[2022-05-02 23:10] amenarde commented on #65175
Hey @chitturs, in what scenarios are you using certmgr to install your certs? Generally manual provisioning of certificates to nodes is an anti-pattern, and in the SF-compatible cert provisioning methods of declaring certs in Key Vault via the OSProfile definition of the VMSS or in the KVVM extension declaration, certificates are installed with a compatible CSP.

To answer the how-to question, the

[2022-05-02 23:22] amenarde commented on #65137
@mcurko If you declare the configuration as "CN=*.example.com" and consider two certs, Cert A with CN=*.example.com and Cert B with CN=subdomain.example.com.

The observed behavior will be that when presented with either cert SF will accept it, but SF will never pick up Cert B when choosing a certificate to select. It will only consider Cert A as a valid match for selection.

Generally, I wouldn't

[2022-05-02 23:58] ChaitanyaNaykodi-MSFT commented on #92314
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-03 00:00] ChaitanyaNaykodi-MSFT commented on #92316
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-03 00:04] anthfuller commented on #92327
No problem! The other MS Doc, dates don't look the same, but who am I? 😊I
don't write the MS Docs.

Have a great day!

On Mon, May 2, 2022, 6:50 PM James Tran-MSFT ***@***.***>
wrote:

[2022-05-03 00:04] ChaitanyaNaykodi-MSFT commented on #92339
Thank you for your feedback! We will review and update as appropriate.

[2022-05-03 00:18] ChaitanyaNaykodi-MSFT commented on #92293
No worries at all @caimez, glad to know the issue was resolved.

[2022-05-03 00:35] tamram commented on #91945
@stevensnicole - The documentation is correct. If you have enabled soft delete for blobs on your storage account, you'll see these properties for a deleted blob within the retention interval.

Here's another screenshot showing how to find them:

![image](https://user-images.githubusercontent.com/1189479/166359604-57a6eeba-0c3a-4cdd-83e0-aee30b0c61ea.png)

[2022-05-03 00:39] tamram commented on #91945
#please-close

[2022-05-03 00:39] #91945 closed

[2022-05-03 00:45] MarileeTurscak-MSFT commented on #92294
Thanks! I made a pull request to update the text. https://github.com/MicrosoftDocs/azure-docs-pr/pull/196858

[2022-05-03 00:45] #92294 closed

[2022-05-03 00:49] lemmy opened #92341 "Bounded Staleness does not provide "strong" consistency in the staleness window with service-managed failover"
Starting with commit https://github.com/MicrosoftDocs/azure-docs/commit/ac1ca4669e32e7a85f6b403446c51498077e4607, [Bounded staleness consistency](https://docs.microsoft.com/en-us/azure/cosmos-db/consistency-levels#bounded-staleness-consistency) claims that:

This is ambiguous because the term "single write region" is not explicitly defined. For example, [Availability](https://docs.microsoft.com/en

[2022-05-03 00:54] YutongTie-MSFT commented on #92328
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-03 01:15] davidkench opened #92342 "AAD permissions"
Can confirmation be added as to which AAD permissions are required in order to manage ESR?

Thanks,

David

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c5cde55-2936-090a-cd04-84312a8c1974
* Version Independent ID: 4700126d-12fe-9956-28d5-b3fbefa7fb45
* Content: [Enable Enterprise State Roaming in Azure Active Direct

[2022-05-03 01:19] kerilynndell opened #92343 "Typo in doc"
The line here should say [A] Verify that all HANA volumes are mounted with NFS protocol version NFSv4.1
It currently says [A] Verify that all HANA volumes are mounted with NFS protocol version NFSv4.
[Enter feedback here]
![image](https://user-images.githubusercontent.com/40032184/166391451-54325c16-b3c9-499c-ad10-a5c2b5b2046e.png)

---
#### Document Details

⚠ *Do not edit this section. It is req

[2022-05-03 01:28] pnarsi opened #92344 "CMK for Cognitive Services Multi-Service product"
Is there a link that explains how to setup CMK for the Cognitive Service multi-service account or this is CMK only supported for the standalone API accounts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 072117ec-0fca-b520-2f30-aaa2552c0377
* Version Independent ID: 79048f2f-cb5e-f5bd-7c39-9a2fd7e5c5fc
* Content: [Cus

[2022-05-03 01:30] tamram commented on #89225
#reassign: @stevenmatthew

[2022-05-03 01:35] davidkench opened #92345 "Users and groups for ESR"
Under "3. Select Users may sync settings and app data across devices." can it be clarified if members must be directly assigned users, or if assignment can be via security group?

Thanks,

David

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c5cde55-2936-090a-cd04-84312a8c1974
* Version Independent ID: 4700126d-12fe-9

[2022-05-03 01:50] BryanTrach-MSFT commented on #92303
@ThomasErvik We encountered a similar behavior when trying our repro as well. Not sure if this is because the feature is still in preview or if there is something else with the doc. We have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-03 02:20] kobulloc-MSFT commented on #92310
@Niglb Thank you for your feedback!  We are reviewing the documentation and will get back to you shortly.

[2022-05-03 02:20] SatishBoddu-MSFT commented on #92295
Hello @moushumig
I have assigned the issue to the content author for further review.

[2022-05-03 02:21] SatishBoddu-MSFT commented on #92338
@bbaumbach Could you please provide the documentation to which you are referring?

[2022-05-03 02:24] SatishBoddu-MSFT commented on #92341
Hello @lemmy
I have assigned the issue to the content author for further review.

[2022-05-03 02:35] A141182 opened #92346 "Poor heading titles"
The table in the "Regional resource limitations" section for the default quotas of the various subscription offers should have the headings changed from starting with "Max number" to "Default quota"  to save a lot of confusion.

This is confusion is apparent in the fact that it is mentioned twice above the table.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2022-05-03 02:36] racchen commented on #92159
Hi @Venkateshdodda-MSFT , thanks for your update and that's also what i noticed. However, i am not sure is it becuase there is no version other than 2019-08-01 or we missed any versions.

[2022-05-03 02:38] SnehaAgrawal-MSFT commented on #92162
@Gryzor Thanks for reaching here! This looks now taken care. We will close this out but if you feel you need more information please just let us know.

[2022-05-03 02:38] #92162 closed

[2022-05-03 02:41] mike-urnun-msft commented on #92055
Hello @KatieKoslosky - Thanks again for your feedback. I confirm that the support for Managed Identity was added shortly after that post was opened and answered on MS Q&A, and [this table](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-securing-a-logic-app?tabs=azure-portal#authentication-types-for-triggers-and-actions-that-support-authentication) reflects an accurate support matrix.

[2022-05-03 02:41] #92055 closed

[2022-05-03 02:55] SnehaAgrawal-MSFT commented on #92147
@OzBob Thanks for the feedback! If I have understood right feedback document for updating steps is for : https://docs.microsoft.com/en-us/azure/key-vault/general/assign-access-policy?tabs=azure-portal
Could you please create doc feedback on that specific doc,
![image](https://user-images.githubusercontent.com/46553948/166399513-aa452ded-1cd5-4a0c-bff5-b0dce1b7ac06.png)

let me know if any further

[2022-05-03 03:16] mike-urnun-msft commented on #92115
Hello @kimjamia - Thanks again for your feedback. The behavior observed is due to the current design. Since this feedback is best addressed by the Functions team, I recommend that you open a new issue at either the repo for the [Service Bus extension for Azure Functions](https://github.com/Azure/azure-functions-servicebus-extension/issues) or the repo for [Functions Host](https://github.com/Azure/

[2022-05-03 03:22] mike-urnun-msft commented on #92122
As the next step, we are proceeding to assign this issue to the content author of this documentation to review further and take the next course of action.

[2022-05-03 04:20] YutongTie-MSFT commented on #92344
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-03 04:27] matteus29 opened #92347 "base64() muted in designer but still applied....BS"
From the note, quoted below, designer display won't necessarily reflect the code behind and eventual resolution of the expression, yet w/o going through the code-behind and adding wrapping the content output in a base64 function, I'm not able to render a base64 image in HTML. This means I have to go to the code view and change it every time I edit my logic app. My hacky solution is to wrap the bas

[2022-05-03 04:38] #92257 closed

[2022-05-03 04:38] AnuragSharma-MSFT commented on #92207
@mmulich Awaiting your response on this.

[2022-05-03 04:40] AnuragSharma-MSFT commented on #92346
@A141182 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-05-03 04:41] ggailey777 commented on #89340
I've made updates in the linked (private) PR. Please LMK if the changes I made (which you won't see until tomorrow) aren't sufficiently clear.

[2022-05-03 04:44] yutanglin16 commented on #92212
If you are going to renew/rekey your certificate, and it's been > 395 days since you last verified domain ownership, you would be required do verify domain ownership again in order to have the new certificate be issued to you. If it's been < 395 days, your certificate will be automatically issued again without additional action needed from you.

Let's say your cert renews 10/01/2022 and you did yo

[2022-05-03 04:46] ggailey777 commented on #89340
#please-close

[2022-05-03 04:46] #89340 closed

[2022-05-03 05:29] danielorn commented on #90052
@Karishma-Tiwari-MSFT @CHEEKATLAPRADEEP-MSFT  Any updates regarding this?

[2022-05-03 06:05] puthurr opened #92348 "softDeleteColumnName instead of softDeleteMarkerValue..."
Hi All,

https://docs.microsoft.com/en-us/azure/search/search-howto-index-changed-deleted-blobs#re-index-un-deleted-blobs-and-files

The section wrongly referenced the marker value and not the marker column

Change the "**softDeleteMarkerValue**" : "false" on the blob or file in Azure Storage.

should be read

Change the "**softDeleteColumnName**" : "false" on the blob or file in Azure Storage.

T

[2022-05-03 06:21] kzuenkler-avanade opened #92349 "Video Analyzer for Media also retired?"
This was really a surprise! Does this affect also Video Analyzer for Media? I am just planning a project with this product, and would have to replan completeley...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a1e78bb-6c02-8fc4-34ff-a4958372b174
* Version Independent ID: 98c94cba-cee1-507a-2636-8f62a6f679c8
* Content

[2022-05-03 06:28] mike-urnun-msft commented on #92334
Hello @pgbfnf - Thank you for your feedback. At this time, the Logic Apps team doesn’t have any plans for Powershell for Logic Apps Standard. If you feel strongly about this support, please consider submitting a feature idea on [Azure Feedback](https://feedback.azure.com/d365community) so that others can upvote it.

We will now proceed to close this thread. If there are further questions regarding

[2022-05-03 06:28] #92334 closed

[2022-05-03 06:31] kobulloc-MSFT commented on #92191
@prajster You may need to add the [AKS Preview extension](https://github.com/Azure/azure-cli-extensions/tree/main/src/aks-preview) (see https://github.com/Azure/AKS/issues/904):

`az extension add --name aks-preview`

I can confirm that the command is working when I use the [Azure Cloud Shell](https://shell.azure.com/):

![image](https://user-images.githubusercontent.com/37556655/166412454-2c71a26

[2022-05-03 06:34] SreejaBhattacharya-MSFT commented on #92332
Thanks @dodge1350-frp , thanks for reaching out. We will look into this and provide an update.

[2022-05-03 06:49] kobulloc-MSFT commented on #92235
@Deepudev13 Below is the documentation for automatic instance repairs for Azure virtual machine scale sets (which includes a link for Load balancer health probe information):

https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-automatic-instance-repairs

If you'd like additional assistance setting up your VMSS, reach out to experts on Microsoft Q&A:
https:

[2022-05-03 06:51] qhaitoNNV opened #92350 "IP Groups move across subscription not supported"
Your documentation [here](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/move-support-resources#microsoftnetwork) states that, IP Groups can be moved across subscriptions. This doesn't seem to be right as I have performed this operation multiple times and it keeps failing with the error message "_Resource move is not supported for this resource type_". Could you look into

[2022-05-03 07:12] qhaitoNNV opened #92351 "Dynamic NAT limitation"
There doesn't seem to be any mention of the Dynamic NAT limitation within the [document](https://docs.microsoft.com/en-us/azure/vpn-gateway/nat-overview#faq). When using Dynamic NAT, you cannot translate beyond /26 i.e. if my internal mapping is a /28 network address, I cant set a cidr larger than /26 as my external mapping. An error is flagged whenever this is attempted. Could this be looked into

[2022-05-03 07:21] robert4os opened #92352 "Wrong/outdated link to DataMap for compliance page"
Hi,

under
![image](https://user-images.githubusercontent.com/1668298/166416584-ee813056-4902-48da-8e8d-f148a10c5c9b.png)

'Compilance and Certification' in the menu is linked  to 'https://azure.microsoft.com/en-us/support/legal/cognitive-services-compliance-and-privacy/' and on that page there is a mention of DataMap:

![image](https://user-images.githubusercontent.com/1668298/166416733-cb4c5ff7-

[2022-05-03 07:34] shashishailaj commented on #92345
@davidkench
Thank you for your feedback . We will investigate and update the thread.

[2022-05-03 07:34] shashishailaj commented on #92342
@davidkench
Thank you for your feedback . We will investigate and update the thread.

[2022-05-03 07:44] teggno opened #92353 "Cosmos DB Linux emulator (docker): Missing docs on data volume(s)"
In the page https://docs.microsoft.com/en-us/azure/cosmos-db/linux-emulator I could nowhere find anything about what volume to configure to ensure that the data isn't lost when I recreate the container. Therefore the document should mention the folder(s) where the data is stored in the container. Also an example volume configuration would be helpful.

---
#### Document Details

⚠ *Do not edit this

[2022-05-03 07:55] bmansheim commented on #92290
@subodhpatil Thanks for asking. The previous heading [What are the Microsoft Defender for server plans?](https://docs.microsoft.com/en-us/azure/defender-for-cloud/defender-for-servers-introduction#what-are-the-microsoft-defender-for-server-plans) seems to address that, saying that Plan 2 includes Plan 1 (MDE only) and all of the other Defender for Servers features, which includes fileless attack d

[2022-05-03 08:29] atoroszv opened #92354 "Customer feedback: the refund limit in case of exchange is still not clear"
Customer shared feedback as they were confused if the $50k cancellation/refund limit is applicable or not when they execute a larger RI exchange. One bullet point is in the documentation on this topic - but clearer description is requested.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f0af130-6b0a-0a7e-5fd9-e67810f6

[2022-05-03 08:34] TashikMoin opened #92355 "The document is very ambiguous."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f2a0855-e451-65c6-2cf5-9525b688fa2e
* Version Independent ID: 62324062-4a87-b494-d0e4-d15bbdf414f1
* Content: [Create NFS Ubuntu Linux Server volume - Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks/azure-nfs-volume)
* Content So

[2022-05-03 08:55] spxnstevens commented on #91945
@tamram
Hi, many thanks for the screenshot, here is mine, I do not see those fields?
![image](https://user-images.githubusercontent.com/63664128/166427454-da771486-5b9d-480c-8333-da53aaae5f70.png)

Can I reopen this issue please?

[2022-05-03 09:07] jense789 commented on #77418
I am experiencing the same problem - It seems like the connector fetches a new access token and gets a new refresh token alongside it from the API, but there is no way for me to get that new refresh token. Even if I try to refresh it manually upfront, I sometimes (if less than 24h passed) get the old (but still valid) refresh token back and when my copy activities run right after that (>=24h passe

[2022-05-03 09:11] AnnuKumari-MSFT commented on #91888
@fushujie
Closing this issue. If you have any other query which is not related to any specific MS doc, I would recommend you to create a new thread on the forums - [Microsoft Q&A]( https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow]( https://stackoverflow.com/)

Once you post your issue on forums, it will have visibility across the community which is a better suited audience f

[2022-05-03 09:11] #91888 closed

[2022-05-03 09:29] yavor-fingarov opened #92356 "Ambiguous information about validation error message status code"
The "Returning validation error message" section contains ambiguous information regarding the status code returned by the REST API. In the text section we read that it "should return an HTTP 4xx error message, such as, 400 (bad request), or 409 (conflict) response status code", while further below in the table it is stated that it "Must be 409".

Could you please check and correct that?

---
####

[2022-05-03 09:29] yavor-fingarov opened #92357 "Ambiguous information about validation error message status code"
The "Returning validation error message" section contains ambiguous information regarding the status code returned by the REST API. In the text section we read that it "should return an HTTP 4xx error message, such as, 400 (bad request), or 409 (conflict) response status code", while further below in the table it is stated that it "Must be 409".

Could you please check and correct that?

---
####

[2022-05-03 09:39] trish1400 opened #92358 "Rules 200002 and 200003 aren't included in 3.2 documentation"
We're having an issue with certain PDFs being blocked by rule 200003 (Multipart request body strict validation).  It seems to be something in the binary itself.

Rule 200003 and 200002 (Failed to Parse Request Body) are included in the default ruleset for 3.2 but not included in this documentation.

Either the documentation is missing or they shouldn't be in the ruleset, to be honest, I'm hoping i

[2022-05-03 09:47] LasneF opened #92359 "support of OAS 3.1 is not clear"
support of 3.1 is mentioned as import only , is there any limitation ?

what is the restriction within OAS 3.0.3 ?
are you downgrading to 3.0.3 for export

can you ellaborate a bit more

thx

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be16b5c5-40c4-3e6c-0b0d-840373c63f9f
* Version Independent ID: ced6b3ba-8da1-dd3d-

[2022-05-03 09:52] noakup commented on #89661
@erjosito  - thanks for letting us know. I added a clear note on AMPLS, clarifying how we use it and that it’s different than Private Links set up in other services. The documentaion will be refreshed soon.

[2022-05-03 10:33] shashishailaj commented on #92277
@narendrnb We are working internally to update and fix the documents . It may take some time and it will be updated .

[2022-05-03 10:42] jayendhar-cf commented on #77418
@jense789 - I ended up building a workaround (a separate ADF pipeline which runs every 1 hr. or so) that does something like this. I stored the QBO refresh token in Key vault, and wrote a pipeline to check if there is a new refresh token available, and adjust the key vault entry. The QBO connection in the actual ADF pipeline will refer to the key vault for the QBO refresh token.

![image](https://

[2022-05-03 10:50] fracol opened #92360 "Japanese localization issues with https://docs.microsoft.com/ja-jp/azure/azure-sql/?view=azuresql"
The @AzureSupport team on Twitter received a request from a customer regarding the Japanese localisation associated to the link on  https://docs.microsoft.com/ja-jp/azure/azure-sql/?view=azuresql. It seems that part of the content is translated whereas the main body of the content is in English. One person through Twitter suggested that the content appeared to be in Japanese last week and that the

[2022-05-03 10:51] plwhite opened #92361 "Term "Custom Resource Type" is misleading"
This is really a wording niggle, but I found it quite confusing.

This page talks about creating a "Custom Resource Type", when I think it should refer to creating a "Custom Resource" (or even "an instantiation of a Custom Resource Type"). At the point in the document with the heading "[Create a Resource Type](https://docs.microsoft.com/en-us/azure/azure-resource-manager/custom-providers/create-cu

[2022-05-03 10:52] lesmoris-rp commented on #90819
Hi, @SaiKishor-MSFT how are you? I'm trying to add an alias record to an Azure public DNS zone, but FD still doesn't show up in the list when I try to link it. We want to start using Azure FD, but it's not possible if we don't have it available in the list. Could I ask the status of this, please? Thanks

[2022-05-03 10:54] niekpruntel opened #92363 "Please add to FAQ: Can I change my Background wallpaper via Bastion? Answer is no."
Please add to FAQ: Can I change my Background wallpaper via Bastion? Answer is no.
https://github.com/MicrosoftDocs/azure-docs/issues/39517
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03ec4426-bfc1-b046-500d-38b2ca89c71d
* Version Independent ID: cdacb6c7-1d83-c62b-9204-f04d9955722c
* Content:

[2022-05-03 11:12] sayedimac opened #92364 "Tags are a folksonomy, not a Taxonomy"
A Taxonomy is a formal, hierarchical structure like:
Management Groups > Subscriptions > Resource Groups. This is the Azure Taxonomy.

Tags ignore this structure and allows you to group or segregate resource outside this structure and that makes it a Folksonomy.

https://docs.microsoft.com/en-us/sharepoint/managed-metadata#:~:text=Important%20terminology%201%20Taxonomy.%20A%20taxonomy%20is%20a,8%2

[2022-05-03 11:24] ussvgr commented on #92360
same isssue #92300

[2022-05-03 11:30] gpltaylor commented on #65128
Saying "is expected behaviour" is a little poor.
An IP address randomly changing is pointless for companies that take security seriously.

We would never expose a service directly. Everything is private, on VNET subnets with NSG and Azure Firewalls. Access is controlled by Private and Public DNS pointing using Azure App Gateway as a proxy with Network Monitoring.

This ensures only the right servi

[2022-05-03 11:32] owingruters commented on #92225
@ChaitanyaNaykodi-MSFT thanx for your reply.
What is the reason for not offering this in the portal. Is the use of WAF in CDN discouraged, or maybe will be deprecated in the future?
In other words, can we safely use it for production loads?

Regards

[2022-05-03 11:35] tuckwelladev opened #92365 "Typo within first section"
**Native Threat Detection**: Microsoft Defender for Cloud provides high-0quality

update to

**Native Threat Detection**: Microsoft Defender for Cloud provides high-quality

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a997ff53-ba78-bf73-17bd-7d9d3db85f25
* Version Independent ID: b079b710-9de2-5a02-2719-f93962f4abfb

[2022-05-03 11:39] MartinHelvig opened #92366 "Device Code expires much quicker than before, error AADSTS70020."
We use device code when we are debugging in Unity, and it has worked great. But we just noticed that the device code expires after 5-10 seconds, and we don't get enought time to authenticate with device code on the web before it expires.

Is there something tha might have happended to it? we haven't done anything to out code. We do get this error:
`Error acquiring token with device code flow. AADS

[2022-05-03 11:52] jense789 commented on #77418
@jayendhar-cf  Wow, thanks for the detailed description!
That looks very similar to what I currently have! But I'm just running this only once immediately before my daily load and not hourly, so this might be the missing puzzle piece.
I'm also saving the new refresh token to the key vault regardless of it being the same.

[2022-05-03 12:05] seesharprun commented on #88906
This article has now been removed. Please refer to [Get Started with Storage Explorer](https://docs.microsoft.com/en-us/azure/vs-azure-tools-storage-manage-with-storage-explorer?tabs=windows) for guidance on using the explorer with other data sources.

#please-close

[2022-05-03 12:05] #88906 closed

[2022-05-03 12:07] seesharprun commented on #88718
This page, along with multiple others, have been updated to refer to the "Latest Visual Studio IDE" with the Azure development workload installed.

Thank you for your feedback again!

#please-close

[2022-05-03 12:07] #88718 closed

[2022-05-03 12:24] seesharprun commented on #92297
#assign:seesharprun

@DavidCBerry13, I created two Azure Cosmos DB accounts in the portal and there were two things I noticed:

## SQL API account

* These accounts have a menu option in the "Settings" section named "Keys".
  ![image](https://user-images.githubusercontent.com/5067401/166451179-9859163b-2cf2-48f5-9731-31db9246dd0a.png)
* The connection string correctly uses the SQL API format (``Ac

[2022-05-03 12:45] seesharprun commented on #92228
@assign:seesharprun

 I agree that the example could use some improvement. A better example would include a more complex JSON document:

[code]

 With a patch JSON document of:

[code]

 Should result in a JSON document of:

[code]

 We will get the docs updated soon with a more complex example like this.

[2022-05-03 12:53] timwarner-msft commented on #84405
Hi @MrImpossibru. I'm meeting with the Azure Policy Guest Configuration Program Manager (PM) this afternoon, and I'll surface your issue. Thanks! -Tim

[2022-05-03 12:53] timwarner-msft commented on #84405
#please-close

[2022-05-03 12:53] #84405 closed

[2022-05-03 12:57] timwarner-msft commented on #84224
Hi @tonyeung. This tutorial concerns running code from GitHub in Azure Pipelines. I see no references to GitHub Actions.

Here's a Microsoft Docs article that explains how to connect GitHub Actions to Azure using the AZURE_CREDENTIALS repository secret: https://docs.microsoft.com/en-us/azure/developer/github/connect-from-azure?tabs=azure-portal%2Cwindows#use-the-azure-login-action-with-a-service-p

[2022-05-03 12:57] timwarner-msft commented on #84224
#please-close

[2022-05-03 12:58] #84224 closed

[2022-05-03 13:04] Nicholak-MS commented on #91729
Hi @asdcristi,

I have added the details for CMPA_addon_GCC & M365_G5_GCC into the online table as well as the downloadable csv.

Thanks,
Nick

#please-close

[2022-05-03 13:04] #91729 closed

[2022-05-03 13:05] Nicholak-MS commented on #91915
Hi @ken-tg,

I have added the missing service plans for Office 365 E1 to the online table as well as the downloadable csv.

Thanks
Nick

#please-close

[2022-05-03 13:05] #91915 closed

[2022-05-03 13:12] #92343 closed

[2022-05-03 13:16] clemmayer opened #92367 "Basic vs Standard properties"
Can we please have additional documentation on a basic vs standard property. It is not clear on any of the permissions what these entail or the distinction between them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Independent ID: a380a828-03f9-e037-3a62-e4165fda7cb6
* C

[2022-05-03 13:30] newworld0 opened #92369 "Azure Bastion without Access to Azure Portal"
it is a great way to tighten access to the network and VMs. However, if I am going to give access to Azure Portal to use Bastion, don't you think this defeats the purpose of preventing people from accessing the Azure cluster?

I think We should be able to generate a SAS URL to provide to the users to access those VM and that will keep them out of Azure Portal and they have controlled access to the

[2022-05-03 13:31] seesharprun commented on #91800
I am working on a PR for this now. The update should also include tabs so you can see the difference between the **AzureDiagnostics** table query and the resource-specific table query.

#assign:seesharprun

[2022-05-03 13:40] kobulloc-MSFT commented on #92355
@TashikMoin Is there anything in particular you would like to see changed to improve the documentation?

[2022-05-03 13:46] newworld0 opened #92371 "Update-AzVmss: Update OS Image Scale Set VM"
Hi There, I need to update VM scale Set with new OS Image that build to have all the apps that we need, but When I run this command:
az vmss update  --resource-group DevEnvResourceGroup  --name testGRP  --set virtualMachineProfile.storageProfile.imageReference.id=/subscriptions/MYID/resourceGroups/DevEnvResourceGroup/providers/Microsoft.Compute/images/MyDISK

I get this error:
(OperationNotAllowed

[2022-05-03 13:51] mrsxelle opened #92372 "Azure Storage Public Suffix List"
I work with the Public Suffix List as it integrates in my domain classification system.

I noticed the following domains were included by MSFT on the PSL:

// Microsoft Corporation : http://microsoft.com/
// Submitted by Public Suffix List Admin [msftpsladmin@microsoft.com](mailto:msftpsladmin@microsoft.com)
*.azurecontainer.io
azurewebsites.net
azure-mobile.net
cloudapp.net
azurestaticapps.net
1.

[2022-05-03 13:55] luticm opened #92373 "Image quality is low when rendered in browser"
The image quality rendered in the browser is low, making it really hard to read.
Saving the file locally allows image the be readable, nonetheless information as storage FQDNs is not readable at all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f92e88dd-0d57-09ed-e59c-3561218c4b63
* Version Independent ID: d5c5c684-8

[2022-05-03 14:08] dodge1350-frp opened #92374 "Missing Context"
There are several things on this page that need further explanation if this is to be used instead of an AzureRunAsConnection.

1.  You state to verify version for the hybrid worker, but no information is provided to perform the evaluation.

_If you want to execute hybrid jobs using a managed identity, update the Hybrid Runbook Worker to the latest version. The minimum required versions are:

Windo

[2022-05-03 14:09] MonikaReddy-MSFT commented on #92354
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-05-03 14:10] MonikaReddy-MSFT commented on #92364
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-05-03 14:10] mbender-ms commented on #91767
#please-close

[2022-05-03 14:10] #91767 closed

[2022-05-03 14:13] MonikaReddy-MSFT commented on #92374
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-05-03 14:29] SatishBoddu-MSFT commented on #92348
@puthurr
I have assigned the issue to the content author for further review.

[2022-05-03 14:31] seesharprun commented on #91164
#assign:seesharprun

Hello @helloyesthisisdave! A good compromise is to mention that there's a limit to the amount of JOINs on the documentation page but not specify the limit. Rather, we can direct readers to concepts-limits page where they can see the current limit.

I have a PR open to fix this and you should see a change soon. Thank you for your feedback.

[2022-05-03 14:40] seesharprun commented on #92297
#please-close

@spixy, please check which API you used for your new account.

If you run into this problem again can you re-open this issue?

[2022-05-03 14:40] #92297 closed

[2022-05-03 14:48] SatishBoddu-MSFT commented on #92360
@fracol
I have assigned the issue to the content author for further review.

[2022-05-03 14:49] SatishBoddu-MSFT commented on #92361
@plwhite
I have assigned the issue to the content author for further review.

[2022-05-03 14:50] kzuenkler-avanade commented on #92349
Meanwhile I found here: https://docs.microsoft.com/de-de/azure/azure-video-analyzer/video-analyzer-docs/transition-from-video-analyzer that Video Analyzer for Media is not affected and just renamed (again) to Video Indexer. Maybe this information can be added here.

[2022-05-03 14:52] asergaz commented on #92088
Hello @ubergeekNZ in order to proceed the troubleshooting can you please shar ethe complete error logs as requested by @AshokPeddakotla-MSFT . We will close the issue for now and reopen it when you reply back.

Thank you!

If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-05-03 14:52] #92088 closed

[2022-05-03 14:54] MonikaReddy-MSFT commented on #92350
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-05-03 14:54] SatishBoddu-MSFT commented on #92366
Hello @MartinHelvig Please provide us the exact document link to which you are referring?

[2022-05-03 14:54] timwarner-msft commented on #53417
Thanks for the suggestion, @rriley99. I will track down the appropriate Microsoft colleague and pass along your suggestion. Take care, Tim

[2022-05-03 14:58] SatishBoddu-MSFT commented on #92369
Hello @newworld0 Thanks for the feedback, please submit this idea on the official IDEAS portal.

[Microsoft Azure  |  Share your Ideas](https://azure.microsoft.com/en-us/)

![image](https://user-images.githubusercontent.com/62923178/166478710-cb5d8c62-91de-45eb-91d6-6b948944990d.png)

[2022-05-03 14:58] #92369 closed

[2022-05-03 15:01] JamesTran-MSFT commented on #92356
@yavor-fingarov
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-03 15:02] JamesTran-MSFT commented on #92357
@yavor-fingarov
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-03 15:04] JamesTran-MSFT commented on #92367
@clemmayer
Thank you for your feedback!

When it comes to the basic vs standard property, can you share a screenshot of what you're referring to so I can a better understanding of your doc enhancement request?

Thank you for your time and patience throughout this issue.

[2022-05-03 15:06] #92364 closed

[2022-05-03 15:08] GeethaThatipatri-MSFT commented on #92249
Hi @askmeegs this is now fixed

[2022-05-03 15:12] SatishBoddu-MSFT commented on #92371
@newworld0
I have assigned the issue to the content author for further review.

[2022-05-03 15:17] seesharprun commented on #90711
Considering that there is no ETA for this feature, we really don't have an action item to implement here in this repo.

If this is a feature that you'd like to see, please continue to use [feedback.azure.com](https://feedback.azure.com/forums/263030-azure-cosmos-db) to voice feedback.

For now, we can't make a change here in the docs repo until the change is implemented.

#please-close

[2022-05-03 15:17] #90711 closed

[2022-05-03 15:23] GiftA-MSFT commented on #92352
@robert4os thanks for your feedback. We'll review and get back to you shortly. Thanks.

[2022-05-03 15:33] sayedimac commented on #92364
Hmm - When they refer to formal structure (taxonomy) they refer to a hierarchy.
Informal in the context implies outside of the formal structure and in Azure the "formal structure" is the Management Groups, Subs and RG's.

Even with Policy, that is just a form of automation or automating the classification of resources.

Either way - my suggestion is not for you to refer to Tags as a Folksonomy eve

[2022-05-03 15:46] Mohammad-AlRousan commented on #90154
Meanwhile, if you use terraform to load/read Azure Databricks with more than 30 letters in the name, terraform will crash!

[2022-05-03 15:58] KaiWalter opened #92378 "Set-AzApiManagementHostnames stated in article is not available with Az.ApiManagement 2.3.2"
I was not able to find the cmdlet `Set-AzApiManagementHostnames` used in this article and hence upgraded to 2.3.2:
[code]

However there this cmdlet also seems not to be available:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85f2f368-b037-9195-cb62-c3341b3eb346
* Version Independent ID: 6034b68e-792c-b9cf-88

[2022-05-03 15:58] ralph089 commented on #79686
@markingmyname : Is there any kind of roadmap regarding PostgreSQL 14 support for the Flexible Server?

[2022-05-03 16:05] sayedimac commented on #92364
![image](https://user-images.githubusercontent.com/25403967/166491447-239e276c-85ca-4229-a6ff-317d9633e5e3.png)

[2022-05-03 16:06] seesharprun commented on #89639
Thanks @samko635 for the bug report!

You are correct, we will review this article and get an update out soon.

#reassign:seesharprun

[2022-05-03 16:17] markingmyname commented on #79686
@ralph089 not that I have heard of to this point.

However, I will relay this feedback to the product teams.

thank you.

[2022-05-03 16:33] PatAltimore commented on #88253
Hi @lucarv,

I'm going to close this issue based on @micahl 's response. Thanks for the feedback. We'll use it for future article updates.

Thanks,
Pat
#please-close

[2022-05-03 16:33] #88253 closed

[2022-05-03 16:44] MarileeTurscak-MSFT commented on #28378
@MarkusVi is there an update on this?

[2022-05-03 17:03] KranthiPakala-MSFT commented on #92373
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-05-03 17:07] markjbrown commented on #92341
Hello @lemmy thanks for your feedback.

The term "single region write" is not ambiguous. This is defined in multiple places within our docs (including the docs you pointed to here) as an account configuration in which only a single region accepts writes.

With regards to the consistency guarantees you are misreading the passage in question. The guarantees "in-region strong" apply to the region in

[2022-05-03 17:12] tamram commented on #91513
@helderpinto - Thanks for pointing out that discrepancy! I've updated the doc to indicate that you can migrate 10 containers at a time, and the change is live now.

#please-close

[2022-05-03 17:12] #91513 closed

[2022-05-03 17:15] tamram commented on #89387
@yuriwoof - Thanks for pointing out this missing information. I've updated the doc, and the change is live now.

#please-close

[2022-05-03 17:15] #89387 closed

[2022-05-03 17:33] mike-urnun-msft commented on #92359
Thank you for your feedback! We will review and update as appropriate.

[2022-05-03 17:34] mike-urnun-msft commented on #92378
Thank you for your feedback! We will review and update as appropriate.

[2022-05-03 17:37] YutongTie-MSFT commented on #92144
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@PatrickFarley Hello Patrick, could you please help to change the document? I am not sure if removing the whole part is the best way to do it or not. Please help. Thank you so much.

[2022-05-03 17:51] ddiaz-relativity opened #92382 "Need more transparency around "Log Analytics" vs "Log Alerts V2""
It is not clear to me which Azure service would use "monitoringService": "Log Analytics". When creating new alert rules on Logs I only see "monitoringService": "Log Alerts V2"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 525c43f0-5145-a4f3-c6ef-f06cb113b73d
* Version Independent ID: 17475989-7cb6-fb37-0e5f-c420f13621

[2022-05-03 17:53] davidsmatlak commented on #44449
Confirmed that the `azure-custom-providers` tag exists on Stack Overflow.

[2022-05-03 17:54] davidsmatlak commented on #44449
#assign:davidsmatlak

[2022-05-03 17:55] davidsmatlak commented on #44449
#please-close

[2022-05-03 17:55] #44449 closed

[2022-05-03 18:14] joecoolish opened #92385 "Automatic Logs Collection does not mention encryption or secure data handling"
Please include information about how logs are transmitted and secured.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab75f449-661d-bd1e-3ebd-61e2384a911a
* Version Independent ID: e7c93a31-6076-26b8-a53d-d36df01ec6bc
* Content: [Azure Virtual Machine Agent Overview - Azure Virtual Machines](https://docs.microsoft.com/

[2022-05-03 18:16] JamesTran-MSFT commented on #92315
@chrislehr
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-05-03 18:16] #92315 closed

[2022-05-03 18:16] kgremban commented on #88848
@bschaef14 I've updated the docs to clarify the behavior and expectations around optimistic concurrency. And since we haven't heard back from you about the twin update QoS, I'm going to close this issue as resolved now.

If you have further questions or concerns, feel free to comment here again and we can reopen the issue.

Thanks again.

#please-close

[2022-05-03 18:16] #88848 closed

[2022-05-03 18:16] JamesTran-MSFT commented on #92356
Closing since this is a duplicate of - https://github.com/MicrosoftDocs/azure-docs/issues/92357

[2022-05-03 18:16] #92356 closed

[2022-05-03 18:19] stevenmatthew commented on #89225
@ashuw018 - Thanks for bringing this up. Between the SI and IEC units, there's lots of opportunity for confusion. I've only made one small update to the article (I mentioned that the 'length' property is measured in 'bytes'), I'm thinking that it might be helpful to have an article that addresses units of storage in Azure - and possibly touches on the differences between the SI and IEC units. Can

[2022-05-03 18:20] stevenmatthew commented on #89225
#please-close

[2022-05-03 18:27] JamesTran-MSFT commented on #92357
@yavor-fingarov
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-05-03 18:27] #92357 closed

[2022-05-03 18:29] lemmy commented on #92341
Hi Mark,

thanks for your response. I think it is possible to make it more difficult to misread the docs. :-)

The [Availability section](https://docs.microsoft.com/en-us/azure/cosmos-db/high-availability#availability) says that "it's recommended to set up your Azure Cosmos DB account with a single write region and at least a second (read) region and enable Service-Managed failover."  In other wor

[2022-05-03 18:30] bandersmsft commented on #92354
https://github.com/MicrosoftDocs/azure-docs-pr/pull/196948

@atoroszv Thanks for your feedback. I've updated the article to add the following text for clarity under https://docs.microsoft.com/azure/cost-management-billing/reservations/exchange-and-refund-azure-reservations#cancel-exchange-and-refund-policies:

Let's look at an example with the previous points in mind. If you bought a $300,000 rese

[2022-05-03 18:30] #92354 closed

[2022-05-03 18:49] gmndrg commented on #92348
Hi @puthurr, thank you so much for raising this for clarification.

In this documentation example property `softDeleteColumnName ` is called _isDelete_ and it is the key name in the blob and the initial value is property `softDeleteMarkerValue ` that is set to _true_ which is the Value in the blob key pair:

![SoftDeleteClarification](https://user-images.githubusercontent.com/46359679/166519735-e3

[2022-05-03 18:50] JamesTran-MSFT commented on #92367
@clemmayer
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-05-03 18:51] JamesTran-MSFT commented on #92365
@tuckwelladev
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-05-03 18:51] #92365 closed

[2022-05-03 18:56] seesharprun commented on #92228
The new example is now live. Thanks again for the feedback!

#please-close

[2022-05-03 18:56] #92228 closed

[2022-05-03 18:57] seesharprun commented on #91164
A new note has been added to the docs page referencing the limit and linking users to the correct page to find the value of the limit.

#please-close

[2022-05-03 18:57] #91164 closed

[2022-05-03 18:57] breakpoint7 opened #92388 "Documentation should include behavior for Diagnostic Settings behavior"
Diagnostics Settings are currently orphaned when deleting resources because they are considered extension proxies (and not managed by ARM). So if you delete a parent object, diagnostic settings do not get deleted.  Microsoft recommends deleting these manually - however, if you do this via automation it's prevented by lock on the parent object.

The lock documentation doesn't cover any of the behav

[2022-05-03 18:57] seesharprun commented on #91800
The queries have been corrected and the examples have been revamped under the **Sample Kusto queries** header of this page.

Thanks for your contribution!

#please-close

[2022-05-03 18:57] #91800 closed

[2022-05-03 19:00] ChaitanyaNaykodi-MSFT opened #92389 "Azure Front Door Standard/Premium tier is now GA"
Removing preview note

![image](https://user-images.githubusercontent.com/67453298/166523844-c375ffaf-fd8a-4d21-95f5-7c16564c5784.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52009ea9-bd18-16cf-30cc-5ab2b85d0d44
* Version Independent ID: 56a1a5c6-c760-e0e9-e6c7-2e9687bcc775
* Content: [Azure Front Door - URL Red

[2022-05-03 19:00] ChaitanyaNaykodi-MSFT commented on #92389
Working on a PR to remove this note

[2022-05-03 19:16] bubbletroubles commented on #91767
@mbender-ms the page still says the text below. Is the known issue still present even though this is GA? Or its it fixed?

`[NOTE] While in Public Preview, there are several limitations. The feature is not currently supported in the Azure Portal and is only available through PowerShell and CLI. There is no support for use with containers.`

[2022-05-03 19:23] malachibunn opened #92390 "Documentation lacks information about how strings are compared"
Logical comparison of numbers is a given, but how are strings compared when you use a less, lessOrEquals, greater, or greaterOrEquals function call? It seems that these are being compared character by character, but then how are characters compared? I'm finding that 'abc' is less than 'Abc' even though capitalized letters come before lower case in ASCII values and Unicode Basic Latin.  I'm spendin

[2022-05-03 19:29] BPFanelli commented on #34692
Frank,
Has the status changed? I found the following that says AAD accepts encrypted tokens, but does not check signatures. Are these up-to-date?
Token encryption is an Azure Active Directory (Azure AD) premium feature.
https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/howto-saml-token-encryption
Signed requests are accepted, but the signature isn't verified.
https://docs.microso

[2022-05-03 19:38] SatishBoddu-MSFT commented on #92351
@qhaitoNNV
I have assigned the issue to the content author for further review.

[2022-05-03 19:41] SatishBoddu-MSFT commented on #92358
@trish1400
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-03 19:42] SatishBoddu-MSFT commented on #92363
@niekpruntel
I have assigned the issue to the content author for further review.

[2022-05-03 19:53] MicrosoftGuyJFlo commented on #92342
Global Administrator.

[2022-05-03 19:53] MicrosoftGuyJFlo commented on #92342
#please-close

[2022-05-03 19:53] #92342 closed

[2022-05-03 19:56] tfitzmac commented on #92350
I have updated the doc which should get published later today.
#please-close

[2022-05-03 19:56] #92350 closed

[2022-05-03 19:58] #79965 closed

[2022-05-03 19:58] erik-ha-msft commented on #79965
Thank you for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

#please-close

[2022-05-03 19:58] MicrosoftGuyJFlo commented on #92345
Yes, you can use groups.

[2022-05-03 19:59] MicrosoftGuyJFlo commented on #92345
#please-close

[2022-05-03 19:59] #92345 closed

[2022-05-03 20:03] MicrosoftGuyJFlo commented on #92324
Not a common question and adds complexity to a topic that is not for organizations who have complex needs like that. Security defaults is a way to turn on simple security controls. Thanks for the feedback though.

[2022-05-03 20:03] MicrosoftGuyJFlo commented on #92342
#reassign:@MicrosoftGuyJFlo

[2022-05-03 20:03] MicrosoftGuyJFlo commented on #92345
#reassign:@MicrosoftGuyJFlo

[2022-05-03 20:24] vinceduarte commented on #6788
NOTE: Cosmos emulator is not working in VMs on the latest build. 2.14.6 crashes immediately when running on a Windows 10 Hyper-V. Installing a previous build worked fine

[2022-05-03 20:24] tehmichael commented on #92324
That sounds fair!  Is there any writing or an FAQ that might help with what to expect while transitioning from Security Defaults to a conditional access enforced MFA policy?

[2022-05-03 20:37] gabe-sra opened #92392 "Missing word"
I believe the following sentence is missing the word "or":
"Using the trial lets you deploy one more Defender for IoT sensors on your network."
I believe it should be:
"Using the trial lets you deploy one *or* more Defender for IoT sensors on your network."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ee6ba57-d2ad-b

[2022-05-03 20:38] drmanhatin opened #92393 "Dozens of docs tutorials now broken because ngrok requires double hypens, deprecated single hypens"
Hi ,

Unfortunately ngrok, a popular proxy package referenced in many docs tutorials, has released a new version and deprecated a bunch of stuff. This leads to many tutorials breaking. Primarily the migration from single to double hypens will cause problems. See [ngrok + "-host-header" + site:docs.microsoft.com - Google Search](https://www.google.com/search?q=ngrok+%2B+%22-host-header%22+%2B+site:

[2022-05-03 20:50] kirkmfreeman commented on #47220
I have the same issue.  When will this functionality be enabled for FrontDoor Standard/Premium?  Would really like to use Front Door here as the documentation indicates is possible.

[2022-05-03 20:59] CastleArg opened #92395 "threat tool cannot be downloaded"
[Enter feedback here]

Steps performed:
visit https://docs.microsoft.com/en-us/azure/security/develop/threat-modeling-tool
click download "the threat modeling tool"

Expected behaviour:
Tool downloads

Actual behavior:
![image](https://user-images.githubusercontent.com/15135025/166565129-d0feae57-a3cb-4aef-880c-ec121bbd158f.png)
Warning - file is from a generic azurewebsites domain
Even if clickin

[2022-05-03 21:26] Oury-MSFT commented on #92186
The documentation shows in the portal QuickStart example and API examples that a (logical) server must be specified before a serverless database can be created. Thank you for providing your Feedback.

[2022-05-03 21:42] SatishBoddu-MSFT commented on #92393
Hello @drmanhatin Please provide the MS document link to which you are referring?

[2022-05-03 21:50] JamesTran-MSFT commented on #92395
@CastleArg
Thank you for pointing this out! Have you tried downloading this within another browser or possibly even within Private browsing? When clicking the download link I received the same message you did but was able to proceed with the download.

![image](https://user-images.githubusercontent.com/36619112/166572146-4fda4613-e28b-47f2-8660-67a71d7bc0a1.png)

[2022-05-03 21:57] MicrosoftGuyJFlo commented on #92324
@tehmichael No, currently there isn't anything for transitioning except for the normal Conditional Access docs. It is a good idea though. I will add it to my backlog and talk to the security defaults, multifactor authentication, and Conditional Access PMs about it.

[2022-05-03 22:00] SaiKishor-MSFT commented on #90819
@lesmoris-rp Please allow me sometime to check back on this. Thanks!

[2022-05-03 22:02] matrium0 commented on #70484
If you have full control over backend and frontend and they can share a domain it is common to actually let the **backend** initiate and handle the Authentication. This way the frontend (which has no really save way to store it) never actually sees the access_token. Commonly in this scenarios after the initial authenticaiton a regular http-sessions is used between frontend and backend.

In this ca

[2022-05-03 22:07] #92389 closed

[2022-05-03 22:17] seesharprun commented on #92353
Thanks for reaching out! We are exploring ways we can improve this documentation page so that it can better explain each individual code snippet.

I will update this issue once we have a PR for the next revision of this document.

@reassign:seesharprun

[2022-05-03 22:18] seesharprun commented on #89639
We just published an update that includes the partitionkey in the Node code sample.

Thank you again for your feedback!

#please-close

[2022-05-03 22:18] #89639 closed

[2022-05-03 22:18] MarileeTurscak-MSFT commented on #92392
@gabe-sra
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-03 22:19] MarileeTurscak-MSFT commented on #92392
Thank you! I made a pull request to fix the typo. https://github.com/MicrosoftDocs/azure-docs-pr/pull/196991

[2022-05-03 22:19] #92392 closed

[2022-05-03 22:24] bandersmsft commented on #92024
@sarahyoon Sorry for the delay. Let's take a step back. All supported transfers are listed at https://docs.microsoft.com/azure/cost-management-billing/manage/subscription-transfer#product-transfer-support. There's a link for more information for each supported transfer scenario.

You mentioned CSP legacy to EA. For that scenario, it's not supported and it’s not in the list, meaning that the transf

[2022-05-03 22:30] tamram commented on #78976
Duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/78427

[2022-05-03 22:31] MarileeTurscak-MSFT commented on #92230
@ChrisOwczarek Thanks for the feedback. I made a pull request to update the description. https://github.com/MicrosoftDocs/azure-docs-pr/pull/196992

I also created an internal feature request to update the role capabilities as you described, though you are also welcome to create your own feature request here. https://feedback.azure.com/

[2022-05-03 22:31] #92230 closed

[2022-05-03 22:38] tfitzmac commented on #92364
I have updated the doc to remove "taxonomy" as a description of tags. Thanks for the suggestion.

[2022-05-03 22:53] srdan-bozovic-msft commented on #92152
Hi @jamweb2019,

This article is orthogonal to CNAME issue you had and is related to bringing your own DNS servers (that still need how to resolve SQL MI regular FQDNs).

Cases in which this is necessary are related to outbound connections to internal resources (i.e. dbmail, linked server).

To eliminate further confusion I've submitted PR to change article title in a way that this is about using

[2022-05-03 23:00] tamram commented on #91050
Closing as addressed in https://github.com/MicrosoftDocs/azure-docs/issues/78612

#please-close

[2022-05-03 23:00] #91050 closed

[2022-05-03 23:07] KranthiPakala-MSFT commented on #92390
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-05-03 23:12] tamram commented on #91497
See duplicate https://github.com/MicrosoftDocs/azure-docs/issues/85658

[2022-05-03 23:15] tamram commented on #80514
See duplicate https://github.com/MicrosoftDocs/azure-docs/issues/85658

[2022-05-03 23:20] lnxnut opened #92398 "Error in document"
The following is incorrect. This is always a great interview question.
"By definition, every IP address has 65,535 ports."

Every IP has ports numbered from "0 - 65535" which equals 65536 ports.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a96406ce-2ffc-cdb3-1234-5154ccd5cc76
* Version Independent ID: f840a092-e1bf-1

[2022-05-03 23:24] tamram commented on #47734
#reassign: @khdownie

[2022-05-03 23:25] tamram commented on #72859
#reassign: @khdownie

[2022-05-03 23:28] bandersmsft commented on #92024
https://github.com/MicrosoftDocs/azure-docs-pr/pull/196997

[2022-05-03 23:29] GeethaThatipatri-MSFT commented on #92152
Thanks, @srdan for your response.
@jamweb2019 Appreciate your feedback on improving our document, please let us know if you have any additional queries

[2022-05-03 23:31] GeethaThatipatri-MSFT commented on #92152
@jamweb2019 We will proceed to close this issue now.
If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2022-05-03 23:31] #92152 closed

[2022-05-03 23:45] joshuapetryk commented on #91129
This issue appears to have been raised 8 months ago - see https://github.com/Azure/azure-functions-java-worker/issues/464.
Also a PR was made 2 years ago to fix this but have not been looked at - https://github.com/Azure/azure-functions-java-library/pull/111

[2022-05-03 23:47] digimaun opened #92399 "Requesting refresh - IoT codeless quick start with CLI"
The `azure-iot` CLI extension has more functionality and improvements to the `az iot device simulate` and `az iot hub monitor-events` commands, for example you can also invoke simulated device methods and customize responses to them.

Is it possible to get a refresh with up-to-date tooling snapshots for this page? That would be excellent.

---
#### Document Details

⚠ *Do not edit this section. It

[2022-05-03 23:48] sarahyoon commented on #92024
Hi @bandersmsft,
Thank you for the kind support.

I have understood and thank you for clarification.
There is one offer plan is missing here, MCA - CSP (modern CSP, Azure plan) to EA Scenario which also follows CSP legacy to EA scenario.

However, since you have mentioned that you will clarify that the article applies to MCA - PAYG transfer to EA then I guess it will be all good.

As I have highli

[2022-05-03 23:52] tamram commented on #75230
@benjamincburns - We are aware of the need for more template examples and have added it our backlog as an enhancement. I'm closing this issue out in the meantime.

[2022-05-03 23:52] #75230 closed

[2022-05-04 00:06] kobulloc-MSFT commented on #92385
@joecoolish Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-05-04 00:11] tamram commented on #78822
#reassign: @khdownie

[2022-05-04 00:23] tamram commented on #86071
#reassign: @khdownie

[2022-05-04 00:23] tamram commented on #24363
#reassign: @khdownie

[2022-05-04 00:24] tamram commented on #17762
#reassign: @RenaShahMSFT

[2022-05-04 00:25] tamram commented on #66778
#reassign: @khdownie

[2022-05-04 00:25] tamram commented on #66817
#reassign: @khdownie

[2022-05-04 00:26] tamram commented on #70159
#reassign: @tamram

[2022-05-04 00:27] tamram commented on #72871
#reassign: @khdownie

[2022-05-04 00:27] tamram commented on #73016
#reassign: @khdownie

[2022-05-04 00:27] tamram commented on #19797
#reassign: @khdownie

[2022-05-04 00:29] tamram commented on #24661
#reassign: @khdownie

[2022-05-04 00:29] tamram commented on #65473
#reassign: @khdownie

[2022-05-04 00:30] tamram commented on #91649
#reassign: @khdownie

[2022-05-04 00:30] tamram commented on #49481
#reassign: @khdownie

[2022-05-04 00:31] tamram commented on #10865
#reassign: @tamram

[2022-05-04 00:32] tamram commented on #88039
#reassign: @tamram

[2022-05-04 00:47] RyanHill-MSFT commented on #92229
Hi @thorkellm, @SurfEzBum - Could you clarify if you mean .NET 6 or the C# language runtime version? The language runtime shouldn't have any impact as I didn't notice any language specific features. I'm following up the product team with regards to runtime version.

[2022-05-04 01:18] SKjerland opened #92401 "Remove sentence about M365 Lighthouse being in public preview."
Hi, I'm the writing lead for Microsoft 365 Lighthouse. Can you please update the tip by removing the sentence that says Microsoft 365 Lighthouse is in preview? M365 Lighthouse GA was March 1, 2022. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f469fded-37a9-3d71-21d5-bd24ba6bd5f2
* Version Independent ID: 2528

[2022-05-04 02:10] KrishnaG-MSFT commented on #92401
@SKjerland Thanks for your comment! We will review and provide an update as appropriate.

[2022-05-04 02:13] turbozapekanka opened #92404 "The diagrams look wrong"
Here is the original diagrams back from 2015:
https://azure.microsoft.com/en-us/blog/azure-premium-storage-now-generally-available-2/
See how disk and ssd provision blocks are swapped.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fa17494-67b2-5eed-5359-c8efcbd78254
* Version Independent ID: c6e32ef4-3636-e00a-349d-0

[2022-05-04 02:17] Frank-shilei opened #92405 "Document should update for the keyvault certificate probe time interval"
I'm trying to find out how often CDN gets the latest certificate from keyvault. According to the CDN log, it seems to take 3-4 days, but I don't find the corresponding description in this document. I have verified and confirmed with the product team that it takes 3-4 days to automatically detect the latest certificate of keyvault， so I would like to submit this and try to update our official docum

[2022-05-04 02:36] bandersmsft commented on #92024
@sarahyoon Thanks for the reply. The updated article should get refreshed live late tonight.
#please-close

[2022-05-04 02:36] #92024 closed

[2022-05-04 03:07] w-azure commented on #83985
@SamaraSoucy-MSFT would you know what the replacement for Cloud Explorer is for Azure IoT Edge apps? They are containers that are connected to the Azure Container Registry through IoT Hub. But can't find a way to deploy an IoT Edge app built in Visual Studio 2022 with Cloud Explorer removed. There is no Connected Services node (it's likely only for Azure Functions) in my solution.

[2022-05-04 03:12] AjayKumar-MSFT commented on #92212
elvischau, We'd a discussion on this internally. Hope the detailed insights from yutanglin16 (our App Service PG) was helpful. We will now close this thread. If you have any questions please just let us know. Thanks!

[2022-05-04 03:14] #92212 closed

[2022-05-04 03:23] AshokPeddakotla-MSFT commented on #92399
@digimaun Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-05-04 03:35] SnehaAgrawal-MSFT commented on #92147
@OzBob Thanks! Looking forward for providing assistance there, We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2022-05-04 03:35] #92147 closed

[2022-05-04 03:39] mserigo commented on #44894
Same issue here... since the IoT device is not on my local network (it´s an Edge) I cannot use the Storage Explorer to create the container. Is there any update on this issue?

[2022-05-04 03:42] SumanthMarigowda commented on #92372
@mrsxelle Thanks for the question! We are investigating and will update you shortly.

[2022-05-04 04:32] GitaraniSharma-MSFT commented on #92405
@Frank-shilei , thank you for your feedback. We have assigned this to the content owner/author for review.

@duongau , for your review & update.

[2022-05-04 05:00] GitaraniSharma-MSFT commented on #92398
@lnxnut , thank you for your feedback.
The range of possible port values is 0 to 65,535; however, the value 0 is reserved and implies an unspecified source or destination. Hence, there are 65,535 ports available for communication between devices.
Refer : https://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.xhtml

We are closing this issue for now. If there are fur

[2022-05-04 05:00] #92398 closed

[2022-05-04 05:24] AnuragSharma-MSFT commented on #92207
@mmulich We will now proceed to close this issue. However we can still reopen once we receive more details and continue discussion accordingly.

[2022-05-04 05:24] #92207 closed

[2022-05-04 06:05] Sharmistha-Rai commented on #91856
@v-asymes - we have recognized the issue. We will deploy the fix in our upcoming release as this will require a code change. Thanks for finding this issue

[2022-05-04 06:26] kobulloc-MSFT commented on #92191
@prajster We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-05-04 06:26] #92191 closed

[2022-05-04 06:28] kobulloc-MSFT commented on #92235
@Deepudev13 We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-05-04 06:28] #92235 closed

[2022-05-04 06:40] SumanthMarigowda commented on #92404
@turbozapekanka Thanks for the question! We are investigating and will update you shortly.

[2022-05-04 06:47] Frank-shilei commented on #92405
Thank you Gitarani,

Please find the logs and confirmation from product team on this.

Execute: [Web<https://dataexplorer.azure.com/clusters/https%3a%2f%2fazurecdn.kusto.windows.net/databases/azurecdnmds?query=H4sIAAAAAAAEAIWRX0vDMBDA3wv9Dkd92Ar9mzofBgqjG7iHjUH3BbLkZqNtE5J0WvHDG524DRWfcuTud%2fzuLk2vyhrZE5TzNTDUVuwFoxaBo2rk0GJnwVhqe5P4Hmt6Y1GPR7PXXiPj3ShMOLV0Rw2OA%2fr12XIThEnpSmU7ly0VXYXMpebYiAPqoe

[2022-05-04 06:51] miguelarcilla opened #92406 "Outdated process for switching to invoice payments"
The process described in this page no longer looks accurate, as payment methods have moved to Cost Management and are not found in the Subscription blade. Additionally, "Pay by check/wire transfer" is not available in the new Cost Management page either.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8d2fa09-4a5b-c6c0

[2022-05-04 07:10] assaf-grth opened #92407 "Support for NAT gateway and zone redundant app service"
Is there an integration between zone redundant app services and NAT gateways?
Since app service support a single subnet integration and a subnet can use a single NAT gateway which can be bound to a single zone, what would be the recommended to configure such architecture?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-05-04 07:19] SreejaBhattacharya-MSFT commented on #92382
Hello @ddiaz-relativity , thanks for reaching out. We will look into this and provide an update.

[2022-05-04 07:23] jamesW360DotNet commented on #35469
For anyone still coming across this, the issue is slightly misleading.

In fact, if you want to manually run a timer (for example) trigger (for example), you **must** use POST but you need to supply a JSON object as the body with an "input" string as per some of the comments above: {"input": "any string, doesn't matter"} an empty object won't do, it needs the "input" attribute.

If you call GET in

[2022-05-04 07:25] SreejaBhattacharya-MSFT commented on #92388
Hello @breakpoint7 , Thanks for providing your useful feedback. I understand that the documentation should be more clear and should talk about the above-mentioned scenario. We will look further into this to see how we can improve our documentation, and provide and update.

[2022-05-04 07:26] krishnadce opened #92408 "How to use Azure Managed Identity to push image to ACR. The link that specified in the doc. doesn't explain how."
Hi Team,

<html>
<body>

Managed identity for Azure resources | docker login az acr login in Azure CLIConnect-AzContainerRegistry in Azure PowerShell | Unattended push from Azure CI/CD pipelineUnattended pull to Azure services | Yes | Use only from select Azure services that support managed identities for Azure resources
-- | -- | -- | -- | --

</body>
</html>

The above entry in the [doc](https:/

[2022-05-04 07:34] RolandlinAKS opened #92409 "Just one unclear sentence in the document."
[Enter feedback here]
Just a very simple issue with the below sentence.
When you enable the cluster autoscaler on node pools in the cluster, those clusters will also use the cluster autoscaler profile.

I think you mean the autoscaler profile works for all node pools with CA enabled in the same cluster. You may say;
When you enable the cluster autoscaler on node pools in the cluster, these node po

[2022-05-04 07:38] nisarkhan916 commented on #92169
Hi @RohitMungi-MSFT ,

Sorry for the late response...

To answer your questions..
1. **Yes** it uploads the file when i upload it from the portal.
2. Only The API Upload is where i am finding this issue.. It says **202 Accepted** with a JOBId and when i try the Import status API then it throws the below error..
`{
 "createdDateTime": "2022-04-27T10:59:38+00:00",
 "expirationDateTime": "2022-04-27T

[2022-05-04 07:39] yavor-fingarov commented on #92357
@JamesTran-MSFT Thanks a bunch for your swift response!

[2022-05-04 07:49] SreejaBhattacharya-MSFT commented on #92409
@RolandlinAKS Thanks for pointing that out. Let me verify this and update the document.

[2022-05-04 07:50] PsychoData opened #92410 "Should specify the default locale instead of "current behavior unchanged""
In the [Format Date Time section](https://docs.microsoft.com/en-us/azure/logic-apps/workflow-definition-language-functions-reference#formatdatetime) - it mentions "If unspecified, the current behavior is unchanged."

The "current behavior" seems to be [use the en-US locale] - but I don't think that is actually explained anywhere above. In fact, down in the [Format Number](https://docs.microsoft.co

[2022-05-04 07:53] PsychoData commented on #92410
Same could probably go for the "default locale" in ParseDateTime
https://docs.microsoft.com/en-us/azure/logic-apps/workflow-definition-language-functions-reference#parseDateTime

[2022-05-04 08:29] kryukovaeks commented on #23565
Hello,
I have faced the same problem.
Your suggested link doesn't work

[2022-05-04 09:05] arthurhams commented on #90819
Hi there, I'm facing the same issue as well, both the FD not showing up as Azure Service in DNS Alias list, as well as the error mentioned above when adding the record through Powershell.
Any sight on fixing this? APEX is the new normal I would say, so this should be fixed right?
Thanks & kind regards, Arthur.

[2022-05-04 09:06] iromanovsky commented on #58110
Hi, I can't get this, and this does not answer the original question which I have too.

On 'Public DNS zone forwarders' column, in the current version of docs, for instance, there is 'file.core.windows.net', however, file.core.windows.net is not a public forwarder, but a domain name. DNS forwarder should be an IP address.

So question is, when you configure conditional forwarding from on-premise,

[2022-05-04 09:09] drmanhatin commented on #92393
Take a look at the google search url (there are dozens)
https://docs.microsoft.com/en-us/samples/officedev/microsoft-teams-samples/app-installation/ to start with...

[2022-05-04 09:11] iromanovsky opened #92411 "What is the recommended public DNS zone forwarder?"
I can't get this, what is "recommended public DNS zone forwarder"? On 'Public DNS zone forwarders' column, in the current version of docs, for instance, there is 'file.core.windows.net', however, file.core.windows.net is not a public forwarder, but a domain name. DNS forwarder should be an IP address.

![image](https://user-images.githubusercontent.com/15823576/166653454-9a1d7e1e-e24c-4e6e-ad7f-05

[2022-05-04 09:21] lanicolas opened #92412 "Example command reference"
I believe that the example section should reference az ssh arc instead of az ssh vm, as this can lead to confusion

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87a5e5b8-6217-491c-f2e8-0246409ea421
* Version Independent ID: d9630ac1-37f8-6437-327d-2aefbd54ff80
* Content: [(Preview) SSH access to Azure Arc-enabled serv

[2022-05-04 09:22] ghoul652 opened #92413 "Jennifer Crosier tech 2 phillipine"

[2022-05-04 09:23] ezcompanynz commented on #90819
Went through this pain a month back, it’s not supported with AFD premium yet and had to use AFD classic instead. Apex/root domains work with classic. Microsoft’s documentation of AFD premium also notes apex/root domains are not supported with the product yet. A shame it wasn’t implemented once it was moved to GA, a bit premature if you ask me.

[2022-05-04 09:26] ezcompanynz commented on #90819
Other option is to use another DNS provider that supports DNS flattening, you can use root/apex with premium then but that wasn’t an option for me as our zone records had over 70 entries and would cause to much downtime and man power to re validate all services.

[2022-05-04 09:40] RohitMungi-MSFT commented on #92169
@nisarkhan916 This repo is used for documentation related bugs to fix any issues in azure docs. In this case it seems like a data issue with the response which needs more insights by looking up the request details. This is only possible by raising an azure support case from Azure portal by providing the request details and response by selecting the resource from the support options. Only an author

[2022-05-04 09:42] arthurhams commented on #90819
Thanks @ezcompanynz, a shame indeed. An unpleasant and surprising shame indeed. For the time being I can work around it with an APEX directly pointing to a static website that hosts a javascript redirect to www or something, but I really hope this feature is implemented soon (especially since the 'classic' supported it, how hard can it be...)
Kind regards, Arthur.

[2022-05-04 09:48] machteldbogels commented on #66197
Hi, I initially wanted to leave a comment [here](https://github.com/dotnet/aspnetcore/issues/32268), but since that issue is closed I moved to this (older) issue instead. In our case we were initially using only an App Service where we used a custom header including some header conversion which worked - until we moved to using App Service running a container when we received the 403 error as descr

[2022-05-04 09:51] shashishailaj commented on #92413
@ghoul652 Thank you for your post here. We use azure-docs repository only for issues related to documentation improvement. If you can provide more details about which document you are referring to , it will be easier for us to help you .

Thank you.

[2022-05-04 09:56] nisarkhan916 commented on #92169
@RohitMungi-MSFT -- Thanks for the information, Will raise a support case from Azure.

[2022-05-04 09:58] #92013 closed

[2022-05-04 10:39] jardaKarlik opened #92415 "update to guest experience options"
Hi,
I would recommend to update this page regarding point 3 in the Consent Experience for the Guest section to elaborate more on how to configure other guest experiences availavle than default one which is the App panel. Its the most important part on this topic in my view.

What you think?

JK

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-05-04 10:48] #92143 closed

[2022-05-04 10:49] SreejaBhattacharya-MSFT commented on #92143
@bsaxbergMS , I have made the necessary changes and updated the document covering this scenario. Thanks once again !

[2022-05-04 11:10] SreejaBhattacharya-MSFT commented on #92107
@antgonz thanks for pointing it out. I have fixed the typo in the documentation and the changes will soon start reflecting within next 24 hours.

[2022-05-04 11:10] #92107 closed

[2022-05-04 11:15] AshokPeddakotla-MSFT commented on #92202
@xiongyu0523 I am unable to repro the below.

`I don't see there is a message routing to Event Grid when I create an event subscription in iothub, and message route does not support EventGrid type of routing, this below document correct?`

Adding author and SME @kgremban  to confirm if there are any recent changes and update the doc accordingly.

[2022-05-04 11:39] dgaspar commented on #90819
+1

[2022-05-04 11:46] RyanHill-MSFT commented on #92063
@Copennin, I've reviewed https://github.com/Azure-Samples/communication-services-javascript-quickstarts/pull/58, I only had one comment.

[2022-05-04 12:09] AnuragSingh-MSFT commented on #92332
@dodge1350-frp, regarding your query 1, please refer to [To finish preparing the Run As account](https://docs.microsoft.com/en-us/azure/automation/automation-hrw-run-runbooks#:~:text=To%20finish%20preparing%20the%20Run%20As%20account%3A) section of this doc. When running this runbook, you would have to specify the "Runbook Worker Group" - which would target the runbook execution on this worker gro

[2022-05-04 12:21] Originalutter commented on #35689
@markarnolditpro I'm also trying to setup apex domains in AFD using UltraDNS. I'm just curious if you succeeded or gave up :)

[2022-05-04 12:22] GitaraniSharma-MSFT commented on #92411
@iromanovsky , thank you for your query. We'll review this and get back to you shortly!

[2022-05-04 12:27] RyanHill-MSFT commented on #92063
PR under review.

[2022-05-04 12:27] #92063 closed

[2022-05-04 12:49] KrishnaG-MSFT commented on #92412
@lanicolas Thanks for your comment! We will review and provide an update as appropriate.

[2022-05-04 12:52] rbeltman opened #92417 "Azp claim in Oath 2.0 tokens"
According to the documentation in Oath 2.0 tokens there should be an azp claim available. When I try to authenticate to Azure AD with Oath 2.0 in Postman, the JWT-token returned does not contain the azp claim. It does contain the appid claim. Can you please elaborate when the azp claim is used in Oath 2.0 tokens via Azure AD? Thanks in advance.

---
#### Document Details

⚠ *Do not edit this secti

[2022-05-04 13:54] kobulloc-MSFT commented on #92408
@krishnadce Thank you for your feedback!  We are reviewing the documentation and will get back to you shortly.

[2022-05-04 14:01] seesharprun commented on #91715
Thanks @RicardoNiepel for your feedback!

We have an update in-flight to make it clearer in the docs that this is only supported in the legacy SDK (Microsoft.Azure.Cosmos.Table). You should see that change soon

#assign:seesharprun
#label:product-feedback
#please-close

[2022-05-04 14:01] #91715 closed

[2022-05-04 14:02] drdamour opened #92418 "Is using IHttpClientFactory a correct approach"
this article suggests using a single static http client, however that is known to have the stale DNS problem as described here https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests  and is resolved by using IHttpClientFactory.  Is using IHttpClientFactory a more appropriate alternative?  Or is

[2022-05-04 14:45] guverduz opened #92420 "Integrating Azure AD logs with Azure Monitor automatically enables AAD data connector on Microsoft Sentinel."
A customer we are working with on a support case has requested to include as a note on this page that the integration of Azure AD with Azure Monitor automatically enables the Microsoft Sentinel's Azure Active Directory data connector.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1eb6343-c4d6-6b06-f2eb-1c9435f997f3
*

[2022-05-04 14:46] timlt commented on #92399
@digimaun yes will update this one.

[2022-05-04 14:51] seesharprun commented on #88387
Thanks @kevlangdo for this feedback! We have a version of this article in-flight that will add some links to relevant Quickstart articles at the beginning for those who have not worked with one of the SDKs before. I hope this resolves your concern.

#reassign:seesharprun

[2022-05-04 14:53] MicrosoftGuyJFlo commented on #92023
Looks like this is in your hands @shwetamathur7. #please-close

[2022-05-04 15:02] HaverkateMBJ opened #92422 "Question about "Group transformation""
Hi,

The example supplied for the Regexp Replacement Pattern can do with a small explanation.
What does it actually rewrite?
In the sence of, what input will result in which output.
Reason for the explanation is that currently we need exactly this replacement pattern, but can't seem to get it working.
![image](https://user-images.githubusercontent.com/104916007/166710570-a650e85f-aea0-4e40-8f8b-70

[2022-05-04 15:28] dciborow opened #92424 "Update Packer example to use HCL"
This example uses a packer configuration in a json. This document should be updated to include an HCL example, which is the latest version of declaring these files.

This page provides explanation but lacks a full example in HCL.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f33d707-2a5b-e0f7-2649-9b778d57a1da
* Vers

[2022-05-04 15:36] sayedimac commented on #92364
Thank you - now to get it out of all the MOC :) All our courses reference this so this might be quite a job... Thanks again

[2022-05-04 15:40] jwgarrett opened #92426 "SP 800-88 link needs to be updated"
This link https://csrc.nist.gov/publications/detail/sp/800-88/archive/2006-09-01 needs to be updated to https://csrc.nist.gov/publications/detail/sp/800-88/rev-1/final

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc69e9dd-1b65-97c9-eb81-445dc21a3e2b
* Version Independent ID: 48e0aa8e-507c-5793-9ae0-83c9081022db
* Con

[2022-05-04 15:41] JamesTran-MSFT commented on #92415
@jardaKarlik
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-05-04 15:45] JamesTran-MSFT commented on #92417
@rbeltman
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-05-04 15:45] #88387 closed

[2022-05-04 15:47] JamesTran-MSFT commented on #92395
@CastleArg
I just wanted to check in and see if you had any other questions or if you were able to resolve this issue?

[2022-05-04 16:20] pizzaz93 commented on #81879
@RohitMungi-MSFT it appears the links have been updated and the version number corrected.

[2022-05-04 16:33] pizzaz93 commented on #82881
@ShaikMaheer-MSFT it looks like a note was added in https://docs.microsoft.com/en-us/azure/databricks/security/access-control/cluster-acl#configure-cluster-level-permissions directing to the API for programmatic permissions configurations.

[2022-05-04 16:47] JAK-Insight opened #92431 "Is the gap analysis accurate?"
When referencing a page updated more recently (https://docs.microsoft.com/en-us/azure/azure-monitor/agents/azure-monitor-agent-migration) things like IIS and custom logs look to be supported in the newer agent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3c8f766-6dbf-7cc0-321f-c3a14bcca27b
* Version Independent ID:

[2022-05-04 17:03] devman2k opened #92434 "SMS Send Options are not available using Logic Apps"
Please add content to this page stating that SMS Send Options are not current supported in logic apps. (or if there is a please state how)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 049ce76e-b0e4-0abe-1400-d7bd405ed224
* Version Independent ID: 3ff4857f-be73-5651-9b19-d73578d67f38
* Content: [Quickstart - Send SMS

[2022-05-04 17:04] devman2k commented on #92434
Specifically there is no ability to Set TAGS

[2022-05-04 17:10] Grace-MacJones-MSFT commented on #92407
Thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2022-05-04 17:14] Grace-MacJones-MSFT commented on #92434
Thanks for your feedback! We will review and update this doc shortly.

[2022-05-04 17:23] setom opened #92435 "The "Create a pool" section references a "Data Science" option that isn't available."
The "Create a pool" section references a "Data Science" option that isn't available.

When I try to create a pool using batch explorer, the instructions say "Under Data science, select Dsvm Windows as the operating system." This section is not available in the UI that I see in my azure portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2022-05-04 17:28] YutongTie-MSFT commented on #92245
I have forwarded this feedback to content team for investigation and updating, thanks. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2022-05-04 17:28] #92245 closed

[2022-05-04 17:31] #91593 closed

[2022-05-04 17:32] #91588 closed

[2022-05-04 17:37] skalakon-teck commented on #47165
Do we have any update on Azure DataFactory linked service for Datarbricks to configure options for docker image?

[2022-05-04 17:42] markgar commented on #91593
Just out of curiosity, is there somewhere in this issue that reference the changes (if any) were made to the document?

[2022-05-04 17:45] kobulloc-MSFT commented on #91593
@markgar, the PR should go live shortly but this is what was added: "b = Block Storage performance".

[2022-05-04 17:47] markgar commented on #91593
That's great.  I'm learning more about how we use Github for these sorts of changes so I was wondering if there was a way for me to see it, that's all.  If the PR is linked from this issue maybe.

[2022-05-04 17:58] bandersmsft commented on #92406
@miguelarcilla Hi there. I've just tested steps in the article with a pay-as-you-go subcription (Offer ID MS-AZR-003P) and they're still valid.

What is the Offer ID that you have for your subscription?

[2022-05-04 18:07] cynthn commented on #92296
@mitchcr Thanks for the feedback! I'll move the line about skipping the partitioning to an "alert" format to make it easier to see. Thanks again!

[2022-05-04 18:08] MonikaReddy-MSFT commented on #91867
@marknettle - Thanks again for bringing this to our attention. We have updated the Doc(https://github.com/MicrosoftDocs/azure-docs-pr/pull/197077) and it will be live once its merged.

We are planning to make another update to the doc soon.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discus

[2022-05-04 18:17] markjbrown commented on #92341
Thanks again @lemmy for your feedback.

The article on consistency, and specifically the consistency guarantees provided, are written from the perspective of reading data along three axes:

1. A spectrum of consistency models
2. Single or multi-region writes
3. And where the data is read from

Shortening the sentence to not mention whether it is single or multi-region write breaks the pattern here

[2022-05-04 18:17] #92341 closed

[2022-05-04 18:21] bandersmsft commented on #92059
@cameron-doherty Sorry for the delay. I'm looking into this with the Billing engineering team.

[2022-05-04 18:24] #92229 closed

[2022-05-04 18:26] bandersmsft commented on #91803
@J227668 Is the source subscription MS-AZR-USGOV-0003P and the destination MS-AZR-USGOV-0017P?

[2022-05-04 18:45] ChaitanyaNaykodi-MSFT commented on #92358
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-04 19:00] pmccli opened #92438 "latte reciever example is using incorrect (-c) switch"
The first latte.exe command example is incorrect. It shows the command to run on the receiver with the -c switch, which should only be run on the sender. The command syntax above it is correct.

This is how it currently is:
If the VM has an IP address of 10.0.0.4, it would look like this

latte -c -a 10.0.0.4:5005 -i 65100

The second line above should be:
latte -a 10.0.0.4:5005 -i 65100

---
####

[2022-05-04 19:13] cynthn commented on #90550
@diegodct Thank you for the feedback! What I've heard from engineering is "We do not require marketplace vendors to configure their images with the recommended chrony configuration and they may or may not choose to do so." So I am rewording the doc a bit. There is also discussion of creating a doc that shows what each Marketplace image uses for time sync, but that will take a while to produce.

In

[2022-05-04 19:19] mike-urnun-msft commented on #92410
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-04 19:25] gmndrg commented on #92348
We are closing this thread. If there is any other comment, please reopen accordingly and we'll be happy to help.
#please-close

[2022-05-04 19:25] #92348 closed

[2022-05-04 19:26] echorelay-HP commented on #91451
Hi @JamesTran-MSFT & @MicrosoftGuyJFlo - can we get an update here? Thanks!

[2022-05-04 19:41] kevinbarker1960 opened #92439 "How to find the Object ID of a service principal so it can be authorized to create subscriptions"
While trying to Programmatically create Azure Enterprise Agreement subscriptions with the latest APIs
In the documentation [Here](https://urldefense.proofpoint.com/v2/url?u=https-3A__docs.microsoft.com_en-2Dus_azure_cost-2Dmanagement-2Dbilling_manage_assign-2Droles-2Dazure-2Dservice-2Dprincipals-23find-2Dyour-2Dspn-2Dand-2Dtenant-2Did&d=DwMF_g&c=jf_iaSHvJObTbx-siA1ZOg&r=10q8wpzT2DLWWVNTMTE5uwetQLv

[2022-05-04 19:49] timwarner-msft commented on #68153
Hi @junecastillote. Thanks for raising this issue. Because our page was (404s now - I just checked it) a redirect to sendgrid.com, we can't update their docs from our end. I'm sorry. Kindest regards, Tim

[2022-05-04 19:49] timwarner-msft commented on #68153
#please-close

[2022-05-04 19:49] #68153 closed

[2022-05-04 19:49] tamram commented on #70159
#reassign: #khdownie

[2022-05-04 19:49] PRMerger19 commented on #70159
The following users don't have valid GitHub IDs, or are not collaborators on this repo: #khdownie

[2022-05-04 19:54] dazinator opened #92440 "What about ubuntu 20.04?"
Is this also the recommended appoach for ubuntu version 20.04 LTS ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077ee673-528a-d893-5832-7656b91dbec8
* Version Independent ID: 2180e845-1ead-3b47-03be-c26aee00c6f7
* Content: [Use xrdp with Linux - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-

[2022-05-04 20:07] Justinha commented on #73076
@natharatms @JamesTran-MSFT sorry for delay. This registry setting is related to future work and we don't have any documentation to share about it at this time. When the work reaches preview we will provide docs.

#please-close

[2022-05-04 20:07] #73076 closed

[2022-05-04 20:09] bandersmsft commented on #92439
@kevinbarker1960  Hi there. I've reached out to the Billing engineering team for help with your issue. When I have more info, I'll share here.

[2022-05-04 20:10] timwarner-msft commented on #92222
Okay, @perentorio, I'll add a couple **kubectl** examples in the document tomorrow morning. Thanks for the suggestion! Kindest regards, Tim

[2022-05-04 20:23] IngridAtMicrosoft commented on #75056
#please-close

[2022-05-04 20:23] #75056 closed

[2022-05-04 20:23] IngridAtMicrosoft commented on #85883
#please-close

[2022-05-04 20:23] #85883 closed

[2022-05-04 20:29] pizzaz93 commented on #18183
@[DiegoRamirez-MSFT](https://github.com/DiegoRamirez-MSFT), https://docs.microsoft.com/en-us/azure/devops-project/overview headers appear to be updated per the suggestions.

[2022-05-04 20:29] MicrosoftGuyJFlo commented on #91451
It's highly recommended to follow the steps in the article and create the SCP. If you look at the article you mention where it gives the steps to use a registry key on your device the last section sends you back to creating the SCP with Azure AD Connect. With all the issues that customers have with hybrid devices I don't want to add another way they might create an issue for themselves.

[2022-05-04 20:30] rolyon commented on #72892
Hi @marcinjahn
Thanks for your feedback. We've added an item to our backlog to enhance this area in the docs. Let us know if you have any additional feedback.
thanks

[2022-05-04 20:30] pizzaz93 commented on #18183
#please-close

[2022-05-04 20:30] PRMerger7 commented on #18183
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2022-05-04 20:30] #72892 closed

[2022-05-04 20:35] MicrosoftGuyJFlo commented on #91451
#please-close

[2022-05-04 20:35] #91451 closed

[2022-05-04 20:40] LitKnd commented on #92292
Hi @amtwo ,

We've updated the image to remove the underline, and will be merging in the change this afternoon. I expect that the fix will go live sometime tomorrow. I am closing this issue, but please know that you can still respond even after the issue is closed.

Thanks for raising this issue and helping us make the docs better!
Kendra Little from the Database Docs Team

#please-close

[2022-05-04 20:40] #92292 closed

[2022-05-04 20:43] echoRelay commented on #91451
I understand it's recommended, that's not the point. My point was the word choice. The word choice was "must" - which is not correct. There is another option. The word choice should be changed.

[2022-05-04 20:44] kobulloc-MSFT commented on #91593
@markgar, my apologies!  Usually I add a summary of the change in public comments but there's a difference between what you and I see in the conversation history and that was skipped this time around.

[2022-05-04 20:59] LitKnd commented on #91435
Hi @Kalamazoo-DBA ,

Thanks for your patience as we worked through these suggestions. For your first suggestion, we are adding a tip with similar wording to the article. I expect to merge this change in today, and the change should publish sometime tomorrow.

For your second suggestion, I'm sorry to hear that you have had issues with copy operations failing. There is no technical reason why a copy

[2022-05-04 20:59] #91435 closed

[2022-05-04 21:04] Kalamazoo-DBA commented on #91435
Hello @[LitKnd](https://github.com/LitKnd) and @[Oury-MSFT](https://github.com/Oury-MSFT) - It was very kind of you both to reply to the suggestion so quickly and with a complete explanation on your conclusions.  Thank you for what is really some great online documentation.

[2022-05-04 21:08] LitKnd commented on #86876
Hi @Frankd4 ,

Apologies for the delay in incorporating changes from this issue. I am committing changes today to address this. I expect these changes will be published tomorrow.

I am going to close out this issue, but please know you can still comment on the issue even after it is closed.

Thanks for helping improve the docs!

Kendra Little from the Database Docs Team
#please-close

[2022-05-04 21:08] #86876 closed

[2022-05-04 21:11] curtand commented on #77365
Hi @sey123 ,
I finally tracked down this information. It's now in the FAQ "Guests added by team owners at the team level have access to channel meeting chat only for standard channels, excluding any private and shared channels."

[2022-05-04 21:12] #77365 closed

[2022-05-04 21:32] seesharprun commented on #90947
We are investigating your request and believe it has identified a gap in the emulator documentation. We are working with the product group to publish an update to this article in the future that will help answer some of your questions.

Again, thank you for the feedback you have provided!

#label:"doc-enhancement"
#please-close

[2022-05-04 21:32] #90947 closed

[2022-05-04 21:32] seesharprun commented on #92353
We are investigating your request and believe it has identified a gap in the emulator documentation. We are working with the product group to publish an update to this article in the future that will help answer some of your questions.

Again, thank you for the feedback you have provided!

#label:"doc-enhancement"
#please-close

[2022-05-04 21:33] #92353 closed

[2022-05-04 21:37] MonikaReddy-MSFT commented on #91856
@Sharmistha-Rai - Thanks for sharing your insights.
@v-asymes -Thanks again for bringing this to our attention. We have added this in the backlog and update the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-05-04 21:37] #91856 closed

[2022-05-04 21:38] LitKnd commented on #90867
Hi @drdamour ,

Apologies for the delay in responding to your issue.

I like your suggestion, but there are many different authentication options for the various command line utilities, and we find that customers use quite a variety of authentication options in practice. We reference these utilities in many articles and if we covered the authentication options in every article, it would become qui

[2022-05-04 21:38] #90867 closed

[2022-05-04 21:39] #90550 closed

[2022-05-04 21:40] #92296 closed

[2022-05-04 21:43] ecfan commented on #92334
@pgbfnf: We updated the doc to note that the info applies only to Consumption logic apps.

[2022-05-04 21:57] LitKnd commented on #81831
Hello @MisinformedDNA ,

Thanks for bringing this to our attention. Apologies for the delay in getting back to you on this-- we have a large volume of Git issues which we are working through. We appreciate your feedback and your patience! I am reassigning this issue to my most excellent teammate, @MashaMSFT .

Kendra Little from the Database Docs Team

#reassign @MashaMSFT

[2022-05-04 21:59] echorelay-HP commented on #91451
I completely understand it's recommended, that's not the issue here. The issue is the word choice. The word choice was "must" - which is not correct. There **is** another option - and it **is** documented by Microsoft - just in a more "hidden" location. I must request the word choice be changed and the alternate option be documented, even if in a "not recommended" state.

@MicrosoftGuyJFlo

[2022-05-04 22:01] cynthn commented on #92440
@dazinator I know there is an issue with 20.04 where it needs another line to work correctly. What I have is this:
[code]

But, I haven't had time to test it myself or update the doc :(

[2022-05-04 22:05] JonesMikael opened #92443 "Clarify if Seamless SSO is ever used for Windows 10"
I understand the recommendations but could we maybe clarify in this doc if Seamless SSO is EVER used on Window 10 or only Windows 7/8? For example if you have domain-joined Windows 10 but don't use Azure AD Registered nor Hybrid Azure AD Joined for whatever reason, does it use Seamless SSO then or is this feature for Windows 7/8 ONLY?

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-05-04 22:20] #92333 closed

[2022-05-04 22:22] mpintorackspace opened #92445 "Looks like a Typo on page"
<img width="953" alt="Microsoft Defender 2022-05-04 181542" src="https://user-images.githubusercontent.com/98359199/166834496-ae10aed1-8f03-4c7f-8860-ca44803eb014.png">

[Enter feedback here]
Hello,
Microsoft Defender is looking to be an amazing product, thank you.
On the page in the first set of images, for Secure I think you have a typo in the image where it references a competitor AWS.
I expect

[2022-05-04 23:01] arthuersundar opened #92449 "old version and updated version difference"
please show the differences between the old version and the updated version side-by-side side or inline to know what got changed
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a44cbeaf-af2c-ef7e-b411-24556279d898
* Version Independent ID: aaced3ee-7d7c-a9d6-a81b-b132674fa055
* Content: [User-defin

[2022-05-04 23:16] kobulloc-MSFT commented on #92333
@Keboo A PR has been made to address this and you should see the changes go live shortly.  Thank you for helping to improve the documentation!

[2022-05-04 23:17] FabianGonzalez-MSFT opened #92450 "Change the wording on TLS changes. "Deprecated" is ambiguous"
As per the conversation with AKV EG, please proceed to change the wording on this document about TLS "deprecation", the message should be clear meaning we will disable TLS communications from TLS 1.0 & 1.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 380a95c7-7ec9-087a-4d30-76c7cd771b9d
* Version Independent ID: 20c4

[2022-05-04 23:19] kobulloc-MSFT commented on #92355
@TashikMoin, your feedback has been passed along to the documentation team.  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-05-04 23:19] #92355 closed

[2022-05-04 23:19] joejames12 opened #92451 "Broken link"
Under **PA-6: Use privileged access workstations**, the link for Understand privileged access workstations is broken. It should be the below I beleive.

https://docs.microsoft.com/en-us/security/compass/privileged-access-devices

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fec56512-fe43-844a-0c02-c254422fbaee
* Versi

[2022-05-04 23:19] bandersmsft commented on #91803
@J227668 Thanks again for letting us know about the issue you have. I've made updates to https://docs.microsoft.com/azure/cost-management-billing/manage/billing-subscription-transfer to say that the transfer target is MOSP.

And, to update the table at https://docs.microsoft.com/azure/cost-management-billing/manage/subscription-transfer#product-transfer-support for MOSP to EA to say:

- If you're

[2022-05-04 23:19] #91803 closed

[2022-05-04 23:19] bsaxbergMS opened #92452 "Typo in az vm run-command list example"
[Enter feedback here]
should be
az vm run-command list --vm-name "myVM" --resource-group "myResourceGroup"
instead of
az vm run-command list --name "myVM" --resource-group "myResourceGroup"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04865202-8e09-967f-a7a7-b18ab6845b2e
* Version Independent ID: 73268057-c2f4-c7be-6

[2022-05-04 23:21] kobulloc-MSFT commented on #92452
@bsaxbergMS Thank you for pointing this out!  We are reviewing the documentation and will get back to you shortly.

[2022-05-04 23:23] JamesTran-MSFT commented on #92443
@JonesMikael
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-05-04 23:24] JamesTran-MSFT commented on #92450
@FabianGonzalez-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-04 23:25] pizzaz93 commented on #82882
The API would, I think, be https://docs.microsoft.com/en-us/azure/databricks/dev-tools/api/latest/permissions.

[2022-05-04 23:31] drdamour commented on #90867
@LitKnd sure, but the limitation where this wont work for MFA is a very specific limitation of this tool and not a cross cutting concern across all operations.  Such limitations need to be in the documents of a tool.  You claim it’s repetitive, where is the info that this wont work with mfa documented that would cause this to be a repeat?

[2022-05-04 23:42] pnarsi commented on #82882
@pizzaz93 the permissions API allows for the management of permissions of an existing cluster, jobs, pools, notebooks etc. As far as I can tell it doesn't us to configure entitlement permissions e.g. which users can create a new cluster or pool.

After the cluster/pool is created we can use the permissions API to manage which users can use that cluster or pool but the actual API to configure who c

[2022-05-04 23:49] pizzaz93 commented on #82882
@pnarsi you're right, for allow-instance-pool-create it is https://docs.microsoft.com/en-us/azure/databricks/security/access-control/pool-acl#configure-pool-permissions, I think some of the others are searchable as well.

[2022-05-04 23:50] JamesTran-MSFT commented on #92426
@jwgarrett

[2022-05-04 23:50] #92426 closed

[2022-05-04 23:50] christopinka-vp opened #92454 "Links to Programming examples in Java"
Links to Programming examples in Java?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3204e7a7-fc38-9fa6-232a-f946fb481c8e
* Version Independent ID: 4ba997aa-7d75-cd5e-4cbc-2ec1b1249458
* Content: [Designing resilient applications with Azure Cosmos DB SDKs](https://docs.microsoft.com/en-us/azure/cosmos-db/sql/conceptua

[2022-05-05 00:02] JamesTran-MSFT commented on #92420
@guverduz
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-05-05 00:02] #92420 closed

[2022-05-05 00:06] ZHIXIN-SUN opened #92456 "Update the configmap will not make the pod restart."
[Enter feedback here]

Dear production team,

please correct the document issue as below:"The configuration change can take a few minutes to finish before taking effect, and all omsagent pods in the cluster will restart. The restart is a rolling restart for all omsagent pods, not all restart at the same time. When the restarts are finished, a message is displayed that's similar to the following an

[2022-05-05 00:07] Oury-MSFT commented on #92454
@christopinka-vp Could you please clarify the ask please? Thank you

[2022-05-05 00:10] JamesTran-MSFT commented on #92450
@FabianGonzalez-MSFT
Thank you for pointing this out!
I've made the below PR to update the documentation and it's currently waiting for the author to review and sign off. If you have any questions or would like the wording to be corrected, please let me know.

![image](https://user-images.githubusercontent.com/36619112/166845615-ff1f63f8-74cd-4de6-9a72-431bd28b4030.png)

I will now close out this

[2022-05-05 00:10] #92450 closed

[2022-05-05 00:12] pnarsi commented on #82882
Okay, we can potentially use the SCIM API but the [documentation ](https://docs.microsoft.com/en-us/azure/databricks/dev-tools/api/latest/scim/) for that API is fairly poor. No OpenAPI specification and you have to really hunt around in the sub pages for an example around how to specify an example how to to specify an entitlement as part of a SCIM API call.

![image](https://user-images.githubuser

[2022-05-05 00:17] christopinka-vp opened #92458 "Progress on baseline example code for Java SDK"
Any progress on baseline example code for Java SDK for exception handling, retry, diagnostics, etc? Thanks
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3204e7a7-fc38-9fa6-232a-f946fb481c8e
* Version Independent ID: 4ba997aa-7d75-cd5e-4cbc-2ec1b1249458
* Content: [Designing resilient applications with Azure Cosmos DB S

[2022-05-05 00:30] MarileeTurscak-MSFT commented on #92451
@joejames12
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-05 00:36] zeinab-mk commented on #92050
Managed IR, Azure IR and SHIR are 3 different runtime options and content provided in the links above are still valid cases. we have updated FAQ list and updating best practices for networking to bring more clarity when to use which option.

[2022-05-05 00:36] zeinab-mk commented on #92050
#please-close

[2022-05-05 00:36] #92050 closed

[2022-05-05 00:36] jboarman commented on #18267
Regarding `obj:groupid@tenantid`, where does one get the `groupid`?  Using the group name as the ID does not appear to work.  So, I'm assuming this is something like having to look up a tenant id ... is that right?

[2022-05-05 00:49] JimmyLS opened #92459 "What exact features on Sharepoint online are relying on "remain signed in" setting"
This article has a note like below when trying to turn off the setting "**Show option to remain signed in**" on Azure AD company branding panel.

<img width="415" alt="image" src="https://user-images.githubusercontent.com/25541899/166848963-5fe9e2fc-d457-4a37-9bec-3adb8edf2e78.png">

I noticed this note has been existed there for 2+ years. Can we know if this is still true now? If this is true, wh

[2022-05-05 00:50] J227668 opened #92460 "CMMC"
Can you please specify what version of CMMC is available? For instance CMMC Level 3 for version 1.0 or CMMC Level 3 for version 2.0.  Level 3 controls have not been published so I doubt that is the mapping. Can you also add any information about when the latest version of CMMC will be available in Defender as a regulatory package? Thank you.

---
#### Document Details

⚠ *Do not edit this section.

[2022-05-05 00:55] pnarsi commented on #91146
@HeidiSteen - any updates around this?

[2022-05-05 01:02] kobulloc-MSFT commented on #92440
@cynthn I'll give this a look.

[2022-05-05 01:04] kobulloc-MSFT commented on #92424
@dciborow Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-05-05 01:06] kobulloc-MSFT commented on #92435
@setom Thank you for your feedback!  We're reviewing the documentation and will get back to you shortly.

[2022-05-05 01:23] ChaitanyaNaykodi-MSFT commented on #92438
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-05 01:33] fushujie commented on #91888
@JamesBirdsall Got it, thanks

[2022-05-05 01:33] MarileeTurscak-MSFT commented on #92459
@JimmtLS
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-05 02:08] linda33wj commented on #91716
@KyferEz thanks for the feedback. We've updated the doc to clarify the needed driver access permission, see https://docs.microsoft.com/en-us/azure/purview/register-scan-oracle-source#prerequisites.

One related note - error "_Java cannot be found_" usually means the JDK setup is missing or doesn't take effect, whereas driver access issue throws specific driver related error.

#please-close

[2022-05-05 02:08] #91716 closed

[2022-05-05 02:12] mike-urnun-msft commented on #92418
Thank you for your feedback! We will review and update as appropriate.

[2022-05-05 02:31] #86956 closed

[2022-05-05 02:33] zpbonjour opened #92461 "Outdated screenshots and instructions"
This page seems to be outdated.  Some aspects of the UI have been modified and the screenshots and steps are no longer accurate.

In step 2 the "source" and "sink" are now reversed.

I was not able to copy any data when following this guide.
Error code
2011
Troubleshooting guide
Failure type
User configuration issue
Details
The required Blob is missing. ContainerName: sourcefolder, path: sourcefol

[2022-05-05 02:56] BryanTrach-MSFT commented on #91635
@pmcgregoraus Thank you for brining this to our attention. Upon further review, the doc author will need to take a look as we lack the necessary permissions to make the change you pointed out. As a result, we have assigned this issue to the doc author.

[2022-05-05 02:57] #91805 closed

[2022-05-05 02:58] BryanTrach-MSFT commented on #91805
@mmyers299 We have gone ahead and added a note in the doc about this recent change until the doc author can update the documention.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-05-05 03:02] pierreroman opened #92463 "Service account token authentication option using PowerShell on Windows Server 2019"
https://docs.microsoft.com/en-us/azure/azure-arc/kubernetes/cluster-connect#service-account-token-authentication-option

When setting up the Service account token authentication option. I get some errors

- installed on Windows Server 2019
- Arc enabled and connected

Tried Windows Powershell 5.1
 - Build 17763
 - Revision 2803

and PowerShell 7 version 7.2.3

command :
SECRET_NAME=$(kubectl get s

[2022-05-05 03:39] kobulloc-MSFT commented on #92408
You are correct, @krishnadce.  Azure Pipelines is an Azure DevOps service that allows you to build, test, and deploy with CI/CD that works with any language, platform, and cloud.  There's a near identical scenario for AD service principal above this in the table you referenced which is in the documentation but there are instructions for building and pushing images to ACR using Azure Pipelines as w

[2022-05-05 03:54] shashishailaj commented on #92445
@mpintorackspace
Thank you for your feedback . We will investigate and update the thread.

[2022-05-05 03:57] shashishailaj commented on #92460
@J227668
Thank you for your feedback . We will investigate and update the thread.

[2022-05-05 04:01] kobulloc-MSFT commented on #92452
@bsaxbergMS That matches what we have in the Azure CLI documentation.  Thank you for bringing this to our attention!  Running `az vm run-command list --resource-group "myResourceGroup" --name "myVM"` would result in an `unrecognized arguments` error.  I'll get a PR out to correct this.

https://docs.microsoft.com/en-us/cli/azure/vm/run-command?view=azure-cli-latest#az-vm-run-command-list-examples

[2022-05-05 04:04] CHEEKATLAPRADEEP-MSFT commented on #92449
@arthuersundar  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-05-05 04:05] CHEEKATLAPRADEEP-MSFT commented on #92461
@zpbonjour  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-05-05 04:17] MhAllan commented on #91710
Thank you so much @jfggdl for detailed answer

[2022-05-05 04:32] AshokPeddakotla-MSFT commented on #92458
@christopinka-vp Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-05 05:28] SwathiDhanwada-MSFT commented on #92127
@RichardD2 Windows PowerShell 5.1 comes with PowerShellGet version 1.0.0.1, which doesn't include the NuGet provider. The provider is required by PowerShellGet when working with the PowerShell Gallery.

So before executing the `Install-Module`, update the PowerShellGet version by using below commands.

[code]

<img width="951" alt="image" src="https://user-images.githubusercontent.com/48976275/166

[2022-05-05 05:29] SwathiDhanwada-MSFT commented on #92123
Assigning to content author @SnehaSudhirG for review.

[2022-05-05 05:29] javadzobeidi commented on #6788
thanks

[2022-05-05 05:31] SwathiDhanwada-MSFT commented on #92021
@Nustinina Thanks for your feedback. Seems the changes have been made to the document. As there are no further changes to the document, we will close the issue for now. If there are further questions, please revert and we will be glad to assist you.

[2022-05-05 05:31] #92021 closed

[2022-05-05 05:49] SumanthMarigowda commented on #92404
@turbozapekanka Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-05 05:51] SumanthMarigowda commented on #92236
@yanp2k Thank for reaching out. Since this channel is for driving improvements towards MS Docs, I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gl

[2022-05-05 05:51] #92236 closed

[2022-05-05 05:52] PPACI opened #92464 "CosmosDB Throughput is not up to date in autoscaling mode"
In **Comparison of model**:

This fact is not up to date.
We can now lower the auto scale with a minimum of 100 - 1000 RU
Reference: https://azure.microsoft.com/fr-fr/updates/general-availability-azure-cosmos-db-autoscale-rus-entry-point-is-4x-lower/

This blog was published in April 2022, and the documentation page last edited in September 2021.

---
#### Document Details

⚠ *Do not edit this sec

[2022-05-05 05:57] #90252 closed

[2022-05-05 06:06] jaxidian opened #92467 "Wrong hash for AzureMigrateInstaller.zip"
The SHA256 Hash value in this document is wrong in my several attempts to verify it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 362589a2-6888-756c-d819-7a708f1b5e67
* Version Independent ID: e90ca3b5-b62d-5239-3653-fef2329f752e
* Content: [Set up an Azure Migrate appliance with a script - Azure Migrate](https://doc

[2022-05-05 06:07] jaxidian commented on #92467
From multiple machines, I see the value as this:

[code]

[2022-05-05 06:32] dikadali opened #92468 "Unsure if downtime is needed to enable large file shares"
[Enter feedback here]
Please update the document if customers need to plan for downtime or it is instant process while enabling Enable large files shares on an existing account for production workloads.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad2c9646-a4bc-aa28-de27-5fce4d4b4e44
* Version Independent ID: 1288f4c

[2022-05-05 06:38] Venkateshdodda-MSFT commented on #92159
@racchen, as we are discussing internally Closing this issue for now. We are waiting for the response from the product team. Once we have any update from them will update the document accordingly.

[2022-05-05 06:38] #92159 closed

[2022-05-05 06:45] VikasPullagura-MSFT commented on #92260
@marcelloformica Thanks for pointing this out. This feedback is shared with the document author @rahugup and is acknowledged.

The document will be updated by adding this information in the next update.

[2022-05-05 06:45] VikasPullagura-MSFT commented on #92260
We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2022-05-05 06:45] #92260 closed

[2022-05-05 07:07] ashishmundrajll opened #92470 "Is there a way to get an email when Auto-scale kicks-in on AKS?"
When Auto-scale kicks in, is there way to configure a email that it happened. Can this be documented?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077f1bb5-2ba9-490c-2c6e-0de292266539
* Version Independent ID: 0fd87b4f-88a4-c2eb-3ebc-f2b113ac203c
* Content: [Use the cluster autoscaler in Azure K

[2022-05-05 07:34] Dawnes opened #92471 "Incorrect least permissions for task "Invalidate refresh tokens of non-admins""
In the document in section Users it is listed the least privileged role for "Invalidate refresh tokens of non-admins" is Password Administrator.

This seams not to be correct. While testing on a non-admin-user both in the Portal and using Powershell this role does not grant this privilege. In the portal, the "revoke sessions" option is greyed out. In powershell you get a Forbidden as seen below.

[2022-05-05 07:47] Dawnes commented on #92471
Update: the correct role for this task seems to be "Authentication Admin".

[2022-05-05 08:23] morgan-cromell opened #92472 "Incorrect ID for role Storage Queue Data Contributor"
The role "Storage Queue Data Contributor" has incorrect ID in the table

In the documentation it is: 974c5e8b-45b9-4653-ba55-5f8555dd0fb88
Correct ID should be:         974c5e8b-45b9-4653-ba55-5f855dd0fb88
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99581afb-7950-6daa-7227-055d04446b7e
* Version Independent ID: f1a5b

[2022-05-05 08:47] rozzamozza opened #92473 "Other URLs needed for Proxies"
I believe there are other urls needed for ACR
e.g. *.azurecr.io

May be also for redis: redis.cache.windoews.net
...

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8336877-da93-ecd6-829a-0cc068caaf29
* Version Independent ID: 1e70f094-f220-92c6-7e5b-cfaf071101d5
* Content: [Allow the Azure porta

[2022-05-05 08:49] techdecline opened #92474 "Azure Guest Extension Version requirement"
The documentation states that it is required to deploy the Azure Guest Extension in version 1.29.24 to apply configurations, but this version cannot be installed using Azure CLI in my tests.

`az vm extension set  --publisher Microsoft.GuestConfiguration --name ConfigurationforLinux --extension-instance-name AzurePolicyforLinux --resource-group myRg --vm-name myVm--enable-auto-upgrade true --versi

[2022-05-05 08:54] robert4os opened #92475 "How to switch azureML.CLI compatibility mode is unclear or does not work"
Hi,

the instruction on this page on how to switch azureML.CLI compatibility mode are unclear, incomplete or do not work:
![image](https://user-images.githubusercontent.com/1668298/166891036-8b83a98d-6e14-45dd-9d36-9b49a64f5c11.png)

I have added "azureML.CLI": 1.0 in the json settings for the Azure Machine Learning extension:
![image](https://user-images.githubusercontent.com/1668298/166890587-a5

[2022-05-05 09:05] PriyankaRudramaina commented on #92470
@ashishmundrajll,

Thank you for your feedback. We will investigate and update the thread further.

[2022-05-05 09:12] SumanthMarigowda commented on #92468
@dikadali Thanks for the question! We are investigating and will update you shortly.

[2022-05-05 09:23] kengaderdus commented on #92317
@spottedmahn

Thank you for your feedback and patience. We'll update the category in the URL, but you can use the filters, keyword, category and status to refine your search. We're creating a PR to address the problem. Note that this issue may be closed automatically before the changes go live.

[2022-05-05 09:24] paulinembabu opened #92477 "Setting Up the Service Principal is not included in Doc"
Set up a service principal.
Create an Azure Key Vault instance.
Register an application in Azure AD.
Set up the Verifiable Credentials service.

As per the steps mentioned above in the docs, the Set Up Service Principal Step is missing.  I have perused the doc history and there seems to have been a PowerShell guide which is now scrapped off.
What is the new way to Set Up Service Principal?

---
##

[2022-05-05 09:32] sven5 opened #92478 "White space in custom attribute's name"
Hi,

the article does not cover if it's possible to use whitespaces in the name of a custom attribute. While it is possible creating custom attributes with whitespaces through Azure portal and in the IEF XML files, it comes to an error using C# SDK (Graph API) when trying to write to them.
So, perhaps, there is a limitation and you cannot use whitespaces in the names

---
#### Document Details

⚠

[2022-05-05 09:58] SwathiDhanwada-MSFT commented on #92456
@ZHIXIN-SUN  Thanks for your feedback.

Assigning to content author @bwren   for review.

[2022-05-05 10:01] elenaterenzi opened #92480 "Documentation broken, mixed set of steps"
Steps 5, 6, 7 refer to the old documentation and should be removed and replaced with a single step stating to select the role assignments tab at the roo data collection level
Then step 8 (which will need to change numbering given we should remove 3 steps) is looking ok and contains the right info

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2022-05-05 10:05] SwathiDhanwada-MSFT commented on #92467
@jaxidian Thanks for your comment. We will review the issue and get back to you shortly.

[2022-05-05 10:07] SwathiDhanwada-MSFT commented on #92474
@techdecline Thanks for your comment. We will review the issue and get back to you shortly.

[2022-05-05 10:36] weyCC81 commented on #75627
This is still happening and i am not happy about it, as we always have to directly assign the role again of somebody new is joining the group, where we have already assigned the role!!

[2022-05-05 10:47] #92317 closed

[2022-05-05 10:59] InforSupport opened #92481 "Notepad++ Base64 encoding reference in Infor Cloud Suite and AZURE configuration"
Hi Team

Thanks for the great article however, Base64 encoding reference is incorrect. The correct one should be "Base64 encoding with padding" which then produce the same result as base64.net result on base64 encoding.

Many thanks

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84b31467-8709-dc5

[2022-05-05 11:08] smith0505 opened #92482 "Area of circular measurement incorrect"
The js code example in create a measuring tool is doubling the area:
var a = Math.round(2 * Math.PI * r * r * 100) / 100;
should be
var a = Math.round(Math.PI * r * r * 100) / 100;
Thanks! I'm new to Azure maps and these examples a a great resource.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de77463e-bc22-1e83-f69b

[2022-05-05 11:13] edwh opened #92483 "Suggestion for dynamic routes is impractical"
The suggestion is to pre-render each instance of a dynamic route.  But this is impractical in many cases.  For example, suppose you have a system with millions of users, each with a profile page.  Pre-rendering those isn't realistic.

What is needed is something like the nginx directive:

`error_page 404 /200.html;`

This is the conventional way to handle dynamic routes when deploying.

---
#### D

[2022-05-05 11:19] hantimo opened #92484 "NVIDIA GRID drivers license"
Could you clarify NVIDIA GRID licensing for NVadsA10 v5 and NCasT4_v3? They both are ideal for GPU accelerated graphics applications and virtual desktops.

For NV and NVv3 it clearly said that licensing for GRID Virtual GPU Software is included in Azure.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-05-05 11:26] RohitMungi-MSFT commented on #92475
@robert4os Thanks for spotting this. I think this setting is available in the earlier versions of the extension. For example, this is listed for version 0.6.24 as seen in screen shot below:

![image](https://user-images.githubusercontent.com/46958063/166913416-742dd183-578b-478b-b9bf-95810f1e3136.png)

`"azureML.CLI Compatibility Mode": "2.0"`

I believe this is not required now with the latest ve

[2022-05-05 11:26] AshokPeddakotla-MSFT commented on #92482
@smith0505 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-05 11:33] Jeej opened #92485 "Add important notice for isefilesystem username format"
Hi,

Currently I am working in a migration from Logic Apps Consumption to Logic Apps [Integration Service Environment](https://docs.microsoft.com/en-us/azure/logic-apps/connect-virtual-network-vnet-isolated-environment).

In one of our Logic Apps we have a file share step, with the consumption based model a [On-premises data gateway](https://docs.microsoft.com/en-us/power-bi/connect-data/service-g

[2022-05-05 11:35] sijday opened #92486 "As an MSSP we want to Connect data from Microsoft 365 Defender to Microsoft Sentinel for large number of customers consistently."
As an MSSP we want to Connect data from Microsoft 365 Defender to Microsoft Sentinel for large number of customers consistently.
Therefore we want to configure using code.
How can we achieve this?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb759690-139b-d671-b62e-572d027a0ca0
* Version Independent ID: 8d3ade2b-98b7

[2022-05-05 11:39] robert4os commented on #92475
@RohitMungi-MSFT

For instance the documentation on local debugging does not apply to the new extension version:
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-debug-visual-studio-code#debug-experiment-locally
e.g. this is not possible/does not apply:
![image](https://user-images.githubusercontent.com/1668298/166915461-a033753e-8db4-49ce-a9e0-77cd35a09aa9.png)

Most likely this wil

[2022-05-05 11:57] GeethaThatipatri-MSFT commented on #92464
Hi @PPACI Thanks for your findings,We will investigate and update as appropriate

[2022-05-05 12:03] robert4os opened #92487 "Missing resource-group argument in az cli commands"
The two commands under 1 and 2 of:
https://docs.microsoft.com/en-us/azure/iot-edge/quickstart-linux?view=iotedge-2020-11#register-an-iot-edge-device

[code]
... are both missing this argument:
` --resource-group {hub_resource_group_name}
`

When this argument is ommitted I get the error message:
"Unable to find IoT Hub: xxxx in resource group: learn-ae983xxxxxxxxxxxxxxxxxxxxxxxxx"
- I don't know w

[2022-05-05 12:09] AshokPeddakotla-MSFT commented on #92487
@robert4os Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-05 12:39] mbender-ms commented on #91767
@bubbletroubles There were issues with the commit so the changes rolled out yesterday. The April 2021 known issues are still in place. They will be updated when the Azure Networking team provides updated guidance. Thanks.

[2022-05-05 12:50] Balamurugan-dot opened #92488 "List of attributes which are passed between Azure AD B2B tenants by default"
Customer is looking for an official document where we can see what the actual attributes are that are passed between Azure AD B2B tenants by default, and customer aware that there is no option to customize those attributes and looking for this information in the documentation as well. There must be some technical info about this.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2022-05-05 13:01] GertjanBanga opened #92489 "Unclear which and how to upload certificate"
[Enter feedback here]
Hello,

In this paragraph:

https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/howto-configure-prerequisites-for-reporting-api#upload-the-certificate-of-your-application

Which certificate to upload? Or how to create this certificate and then upload? It's unclear and I have no idea :-(

Regards,

Gertjan

---
#### Document Details

⚠ *Do not edit this

[2022-05-05 13:27] jackpoz commented on #83901
I reported this issue about outdated Azurite included in VS 2022 at https://developercommunity.visualstudio.com/t/VS-2022-ships-outdated-Azurite-version/10026492 . I would suggest adding a comment there and voting is the only way to give visibility to this issue.

[2022-05-05 13:28] shashishailaj commented on #92463
@pierreroman Thank you for your feedback . We will engage the content author on this and get this reviewed.

[2022-05-05 13:30] timwarner-msft commented on #92222
#please-close

[2022-05-05 13:32] shashishailaj commented on #92472
@morgan-cromell Thank you for catching this. We will investigate and update the thread.

[2022-05-05 13:33] SreejaBhattacharya-MSFT commented on #92413
Hello @ghoul652 , please provide us the document link that you are referring to if you have opened this issue for any documentation improvement.

[2022-05-05 13:35] kobulloc-MSFT commented on #92484
@hantimo Thank you for your feedback!  We are reviewing the NVIDIA driver documentation and will get back to you shortly.

[2022-05-05 13:41] shashishailaj commented on #92486
@sijday Thank you for your feedback . We use azure-docs repository for documentation enhancement or any bugs in the existing docs. We would like to let you know that we will try to help with information we can find however if it takes longer we would request you to engage support on this.

[2022-05-05 13:43] shashishailaj commented on #92489
@GertjanBanga Thank you for your query . We will investigate and update the thread.

[2022-05-05 13:43] shashishailaj commented on #92488
@Balamurugan-dot
Thank you for your feedback . We will investigate and update the thread.

[2022-05-05 13:45] chenditc opened #92491 "No secrets when following the instruction to create service account token"
When following the instruction in "Service account token authentication option", when runnin g the command:

[code]
**The $SECRET_NAME is empty, since there is no secret binding with service account:**

[code]

So I manually created a token by:

[code]

Then directly execute command to get base64 token:

[code]
Then everything works. I believe the doc missed some steps.

---
#### Document Details

[2022-05-05 13:48] shashishailaj commented on #92481
@InforSupport  Thank you for your feedback . We will investigate and update the thread.

[2022-05-05 13:49] memblin-taurus commented on #47220
I have the same issue. FrontDoor Standard/Premium resources are not showing in Azure DNS when trying to configure an alias record, only old / classic FrontDoor(s) show in the resource drop down. When will the Azure portal UI be updated with this? Stuck having to use the old FrontDoor for some sites that require this.

[2022-05-05 13:50] shashishailaj commented on #92478
@sven5 Thank you for your feedback . We will investigate and update the thread.

[2022-05-05 13:53] memblin-taurus commented on #90819
I have the same issue. FrontDoor Standard/Premium resources are not showing in Azure DNS when trying to configure an alias record.

When will the Azure portal UI be updated with this? Last ETA was end of April. Stuck having to use the old FrontDoor for some sites that require this.

[2022-05-05 14:02] shashishailaj commented on #92477
@paulinembabu Thank you for opening this issue. We are working internally on this and it will be updated soon. We regret the inconvenience. As the service is in preview at the moment there are multiple E2E validations that we are working on internally and we will update the document soon on this.

[2022-05-05 14:03] SreejaBhattacharya-MSFT commented on #92102
Hi @Heidilohr , will you be able to confirm this?

[2022-05-05 14:05] ealsur commented on #92458
Could you clarify what you mean by progress? This is a conceptual document that describes general approach with any Cosmos DB, it will not include code snippets.

For Java specific material there are plenty of documents around:

* https://docs.microsoft.com/en-us/azure/cosmos-db/sql/performance-tips-java-sdk-v4-sql
* https://docs.microsoft.com/en-us/azure/cosmos-db/sql/troubleshoot-java-sdk-v4-sql

[2022-05-05 14:19] MonikaReddy-MSFT commented on #92322
@technologyconsulting - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-05-05 14:19] #92322 closed

[2022-05-05 14:21] pohanlon1980 opened #92493 "Article causes confusion to customers who think these permissions are for the Microsoft Purview Portal."
[The title of this doc is "Access control in Microsoft Purview" which is causing confusion to customers who believe these permissions are required for the Microsoft Purview portal (formerly Compliance Center). This article is specifically for Microsoft Purview Governance Portal and other previously named Azure purview products. We should update the title and make clear right from the beginning of

[2022-05-05 14:24] MonikaReddy-MSFT commented on #92491
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-05-05 14:37] johncrim commented on #70484
@mmacy - Apologies for the delayed reply.

Yes, we have similar entries in our app manifest. We have a SPA, but it is not using MSAL.js 2.x - we redirect to B2C signin from the browser when signin is needed, the code<->token exchange is done on our server (relatively standard ASP.NET Core middleware), and the server app passes a token to the browser after the auth code flow completes.

If there's

[2022-05-05 14:40] shashishailaj commented on #91933
i had a discussion with @kengaderdus on this. The content engineering team have a backlog item for this and they are working internally on this and it will be updated soon.

Thank you.

[2022-05-05 14:55] shashishailaj commented on #91942
@sbania Thank you for responding to this one . We have identified this as a bug in our documentation and are working with the product group to get this updated. As this product is in preview there are some changes and validation we are working on internally . Once we resolve them , we will be updating the parts of the document about the service principal as mentioned [here](#92477 ). this is activ

[2022-05-05 15:03] #91942 closed

[2022-05-05 15:46] yuncor opened #92496 "cannot update build definition because it is in Updating State"
We are trying to deploy our jar file to Azure Spring Cloud Enterprise tier. Almost everytime when we run:
az spring-cloud app deploy --name $NAME ........ we see there is the alert after [3/5] cannot update build definition because it is in Updating State. any thought for that? is it caused by in public preview version?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section.

[2022-05-05 15:46] ecfan commented on #92410
#assign @RyZum also for review

[2022-05-05 15:46] PRMerger13 commented on #92410
The following users don't have valid GitHub IDs, or are not collaborators on this repo: ryzum also for review

[2022-05-05 16:12] jasongroce commented on #90330
#reassign:durior1

[2022-05-05 16:12] PRMerger7 commented on #90330
The following users don't have valid GitHub IDs, or are not collaborators on this repo: durior1

[2022-05-05 16:19] jasongroce commented on #87416
Thanks for your feedback. We are incorporating this feedback into our internal planning for upcoming docs updates. #please-close

[2022-05-05 16:19] #87416 closed

[2022-05-05 16:20] pinkfloydx33 commented on #87678
Wondering the same. Any update?

If not possible now, will there be a way to migrate once out of preview? Recreating entire clusters are likely a nonstarter for us, but upgrading/migrating would be possible and we'd love to leverage this feature.

[2022-05-05 16:35] rajans opened #92498 "nconnect, rsize and wsize"
[Enter feedback here]
Rsize and Wsize would vary based on underlying system. For example, I have seen 64k instead of 256k works better for Oracle Systems.

Also, I tried with several nconnect options (1,2,4,6,8,12,16) and found as below:

nconnect=8, rsize=64k and wsize=64k gives better throughput and IOPS;
nconnect=16,rsize=256k and wsize=256k gives better thorughput as well

nconnect=16 options

[2022-05-05 16:37] mike-urnun-msft commented on #92496
Hello @yuncor - Thank you for your feedback. Since this channel is more for driving improvements toward MS Docs, could you post this question on MS Q&A channel instead? That way, we’re able to connect you with the right team/experts and help find the answers more effectively.

[2022-05-05 16:38] bessielakesam opened #92499 "*Either Big Problem or a typo* Dasv4-series are not working with nested virtualization"
I noticed on this page that the Dasv4-series says it supports nested virtualization. But the one above doesn't and it has the exact same "2.35Ghz AMD EPYC 7452 processor". I have tried to do nested virtualization on Dasv4 and it does not work and the a customer created a ticket for this exact same problem. I also tried server 2022 and windows 11 as per the requirements and it still doesnt work. I

[2022-05-05 16:40] AshokPeddakotla-MSFT commented on #92487
@robert4os I am able to run both 1&2 commands without any issues. There is no need to mention the resource-group name if you are using the same subscription.

<img width="465" alt="image" src="https://user-images.githubusercontent.com/44426435/166971258-374771e6-cf25-472a-b781-b4129472ca08.png">

<img width="462" alt="image" src="https://user-images.githubusercontent.com/44426435/166971419-772d126

[2022-05-05 16:46] kobulloc-MSFT commented on #92499
@bessielakesam Thank you for your feedback!  I'm looking into nested virtualization support and will update you shortly.

[2022-05-05 16:50] #89280 closed

[2022-05-05 16:55] kobulloc-MSFT commented on #92499
@bessielakesam There are two pages of interest here.  The first is the Dasv4-series documentation and the second is the [Azure Compute Units (ACU) documentation](https://docs.microsoft.com/en-us/azure/virtual-machines/acu) which lists nested virtualization capability for all SKU families.  On the ACU page, the Dasv4 is noted as having AMD Simultaneous multithreading capability.  It looks like clar

[2022-05-05 16:58] MonikaReddy-MSFT commented on #92473
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-05-05 16:58] TiloGit opened #92501 "Azure DevOps assign items stay on old identity (UPN)"
Changed the UPN 48hrs ago but Azure DevOps assigned items stay on old UPN. And claim an "inactive identity"
How to fix Azure DevOps UPN change issues?

History and otherwise account seems to be fine.

![upn-Azure DevOps-issue](https://user-images.githubusercontent.com/6953606/166974157-677495aa-fb47-4339-93bd-058905933573.png)

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-05-05 17:00] seligj95 commented on #92407
At this time, this is a limitation on the NAT Gateway side. I have reached out to the team to get their recommendation for this or see if they have something in the works that addresses this. I will follow up shortly when I get a response.

[2022-05-05 17:04] #68274 closed

[2022-05-05 17:21] tomvcassidy commented on #92304
Hi! Thanks for the feedback @newpowera. We have a PR that will go live at 3pm PST that will fix this! #please-close

[2022-05-05 17:21] #92304 closed

[2022-05-05 17:24] jsquire commented on #89783
Another instance of this behavior was also reported as [#28552](https://github.com/Azure/azure-sdk-for-net/issues/28552).

[2022-05-05 17:34] seesharprun commented on #92464
Thanks @PPACI!

We will get this article updated quickly based on your feedback.

#label:"doc-bug"
#reassign:seesharprun

[2022-05-05 17:36] ammarasmro opened #92502 "Bug: Passing a tabular dataset as an argument doesn't work as there is no as_mount or as_download methods"
Submitting here as I don't know if this is a documentation bug or a product bug. Documentation here (sample code) suggests passing the iris tabular dataset to the script using `as_mount`. When I add an `as_mount` or `as_download` to a tabular dataset I get this error

[code]

Without adding these two and just passing the dataset to the script in the arguments:

[code]

The script gets some kind of

[2022-05-05 17:42] Givary commented on #92486
@sijday Thank you for reaching out to us. Wanted to check are you facing any issue/specific error while connecting data from Microsoft 365 Defender to Microsoft Sentinel.

Let me know if you have any further questions.

[2022-05-05 17:51] Justinha commented on #79755
@mswieratharper Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-05-05 17:51] ianrenUipath commented on #84279
agree. really need to improve the doc with more examples... MS

[2022-05-05 17:51] JamesTran-MSFT commented on #92501
@TiloGit
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-05 17:57] b-hchen commented on #92498
@[rajans](https://github.com/rajans) - Thanks for the question. We'll consult the content owner.

[2022-05-05 18:03] benjaminjnr opened #92503 "Application Gateway Ingress Controller troubleshooting - Errata"
The ingress definition under the section *Test with a simple Kubernetes app* is quite misleading.  The definition needs to be updated to match up to the *networking.k8s.io/v1* API spec.  It should look something like this:

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: test-agic-app-ingress
  annotations:
    kubernetes.io/ingress.class: azure/application-gateway
spec:
  rules:

[2022-05-05 18:04] seesharprun commented on #92464
We pushed a quick update that should release later today.

Thanks again for your feedback!

[2022-05-05 18:04] JnHs commented on #92082
I don't have any information on that at the moment unfortunately, but we hope to share more updates soon.

[2022-05-05 18:06] michael-fosgerau opened #92504 "Hybrid Connection Manager for docker and UI-less machines"
Hi,

In todays day and age, more and more On-Prem development is being deployed into containerized environments such as, but not limited to, docker. Furtermore linux targets have become much more prevalent for Microsoft solutions (again, such as .NET deployments to docker), with an easy integration into popular deployment pipelines, even Azure DevOps.

As a direct result of the Hybrid Connection M

[2022-05-05 18:09] madsd commented on #92504
@michael-fosgerau Hi Michael, thank you for bringing it up. We are very well aware of that and are working on the next version of HCM that will be headless and deployable on Linux. Look for more information around BUILD time.

[2022-05-05 18:10] #92464 closed

[2022-05-05 18:22] timwarner-msft commented on #92474
hi @techdecline. You're right - thanks for pointing out. Correction made and submitted. Kind regards, Tim

[2022-05-05 18:22] timwarner-msft commented on #92474
#please-close

[2022-05-05 18:22] #92474 closed

[2022-05-05 18:24] tokyotexture opened #92506 "Specs not the same in documentation and pricing home page"
[There is a discrepancy between documentation and pricing homepage specs for E96 V5. [Public pricing homepage](https://azure.microsoft.com/en-us/pricing/details/virtual-machines/linux/#edv4-series) says that E96 V5 has locally attached storage, and documentation says that no instance has locally attached storage in that family. I believe pricing page is incorrect.]

---
#### Document Details

⚠ *D

[2022-05-05 18:27] b-hchen commented on #92498
@[rajans](https://github.com/rajans) - Responses from the content owner:

[2022-05-05 18:28] sijday commented on #92486
No. There are no errors. We just want to enable the connector programmatically for lots of customers without clicking 20 boxes in the portal.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Givary ***@***.***>
Sent: Thursday, May 5, 2022 6:42:47 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: sijday ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/

[2022-05-05 18:29] #92410 closed

[2022-05-05 18:30] CYBRJulie opened #92507 "Change request from CyberArk Business Development Engineer"
Hello,

I am Julie Mauch, Sr Alliances Technology Engineer at CyberArk.  Please make the following correction to this documentation to ensure questions to CyberArk are routed correctly.

For "[CyberArk SAML Authentication support team](mailto:bizdevtech@cyberark.com)"
Change email to support@cyberark.com. This will provide our joint customers with a more timely response by directing them to the co

[2022-05-05 18:31] rolyon commented on #92367
@clemmayer
Thanks for your feedback. You can find additional information about basic versus standard at the following link. We'll try to make this information more discoverable in the future.
https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference?source=docs#how-to-understand-role-permissions
Let us know if you have any additional feedback about this docs.
thanks

[2022-05-05 18:31] rolyon commented on #92367
#please-close

[2022-05-05 18:31] #92367 closed

[2022-05-05 18:42] ecfan commented on #92410
@PsychoData, a doc update will be published later today to address your feedback. Thank you!

[2022-05-05 18:43] Justinha commented on #79410
@404cruX thanks for your suggestion! You are right that was worded oddly. I changed "defined number of days" to just say up to 14 days. That should be more clear and hopefully prevent the need for another FAQ. Snooze itself is well understood.

#please-close

[2022-05-05 18:43] #79410 closed

[2022-05-05 18:49] JamesTran-MSFT commented on #92507
@CYBRJulie
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-05 18:52] andysports8 commented on #92506
Hi, Ev5 or Esv5 does not have local attached SSD. Edv5 or Edsv5 has the local SSDs. I checked Azure pricing page and didn't see any errors there. Please let me know if you still see a discrepancy.
![image](https://user-images.githubusercontent.com/69603894/167004130-d1d9211c-ba28-412b-8ab3-f15ada44e7fd.png)

[2022-05-05 18:55] bandersmsft commented on #92439
@kevinbarker1960 I updated https://docs.microsoft.com/azure/cost-management-billing/manage/programmatically-create-subscription-enterprise-agreement?tabs=rest#prerequisites to update/add the following text for clarity. I hope that helps.

When using an SPN to create subscriptions, use the ObjectId of the Azure AD Application Registration as the Service Principal ObjectId using [Azure Active Direct

[2022-05-05 18:55] #92439 closed

[2022-05-05 18:57] PriyankaRudramaina commented on #92506
@tokyotexture

Thank you for your feedback. We will investigate and update the thread further.

[2022-05-05 19:01] ecfan commented on #90065
Hi @Neutrino-Sunset, we believe the issue is with the template, so the issue I opened in the [Azure quickstart template repo](https://github.com/Azure/azure-quickstart-templates/issues/12323) is currently under investigation. With the problem no longer being a doc issue, I'm closing this thread. Thanks for reporting the problem!

@mike-urnun-msft: #please-close

[2022-05-05 19:01] #90065 closed

[2022-05-05 19:03] kevinbarker1960 commented on #92439
The steps listed in "Find your SPN and tenant ID" to not display the correct object ID.
For example, using the Applicaiton ID that is displayed in the Portal, try the following CLI:

az ad sp show --id ${ApplicationId} --query '{displayName: displayName, appId: appId, objectId: objectId}'

az ad app show --id ${ApplicationId} --query '{displayName: displayName, appId: appId, objectId: objectId}'

[2022-05-05 19:06] #89326 closed

[2022-05-05 19:12] bandersmsft commented on #92406
@miguelarcilla The steps we have documented at https://docs.microsoft.com/azure/cost-management-billing/manage/pay-by-invoice are still valid for MOSP (pay-as-you-go) subscriptions. As discussed in the article, not everyone can automatically switch to pay by check/wire transfer using the Azure portal . If you want to change your billing method but the Azure portal won't allow you to, then you can

[2022-05-05 19:12] #92406 closed

[2022-05-05 19:12] meenasaravanan02 commented on #67594
Hi @mcurko, See above comment for resolution.
#please-close

[2022-05-05 19:12] #67594 closed

[2022-05-05 19:17] DeanGross opened #92509 "Incomplete information - missing changes"
Changes were made to the Azure AD Connector that are not documented on this page. Please provide a way for us to get information about changes like those, i.e. 4 additional logs were added to the connector. we need a way to get information like this and I was expecting to find it on this What's new article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2022-05-05 19:22] bandersmsft commented on #92059
@cameron-doherty You're absolutely correct. We didn't have the steps needed for MCA. TYVM for letting us know about this issue. I've added the missing information to the article. It will get refreshed live later today.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/197277

#please-close

[2022-05-05 19:22] #92059 closed

[2022-05-05 19:24] jdanton commented on #92039
Is it possible to completely remove the reference to telnet? It's an insecure protocol and it's not natively installed to Windows.

[2022-05-05 19:48] frankmatteson opened #92510 "ur"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-05-05 19:49] #92510 closed

[2022-05-05 19:53] frankmatteson commented on #92510
Accidental.

[2022-05-05 20:05] rolan18 opened #92511 "What role does an Azure Communication Services resource play in enabling OpenTelemetry with Application Insights?"
When reading through this tutorial: [https://docs.microsoft.com/en-us/azure/communication-services/quickstarts/telemetry-application-insights?pivots=programming-language-csharp](https://docs.microsoft.com/en-us/azure/communication-services/quickstarts/telemetry-application-insights?pivots=programming-language-csharp), I was uncertain as to why a `Communication Services resource` is necessary to re

[2022-05-05 20:05] JamesTran-MSFT commented on #92395
@CastleArg
Since I haven't heard from you and wasn't able to reproduce your issue, I'll go ahead and close this out.

Thank you for your time and patience throughout this issue.

[2022-05-05 20:05] #92395 closed

[2022-05-05 20:20] ProbablePrime commented on #92511
Hey @rolan18 , the guide you linked specifically deals with providing "Communication Services" SDK telemetry to Application Insights. Without a communication resource, our SDKs are unable to do much. To make calls, sends chat messages etc you need one.

You don't need an additional one, **just one** for using the SDK and sending telemetry.

Are you perhaps looking for some general Application Insi

[2022-05-05 20:21] JamesTran-MSFT commented on #92501
@TiloGit
Thank you for time and patience throughout this issue!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our [DevOps](ht

[2022-05-05 20:21] #92501 closed

[2022-05-05 20:23] jayeshdesai1 opened #92512 "Question Regarding Scenario 4: On-premises traffic to private endpoints"
Hello, Thanks for this article, I had a question regarding Scenario 4. If we have multiple spokes, each with Private EndPoints, hitting the 400 limits is very easy. What can we do from an architectural perspective to force traffic to an NVA for all traffic coming to Private EndPoints from On-Premise? Right now we have to create individual /32 URD to route the traffic.

If you have an express route

[2022-05-05 20:27] fabianogma opened #92513 "Update Region Availability"
Hi team,

Last year was announced interconnect between Oracle Cloud and Azure in Brazil South region. Can you update the documentation, please?

https://blogs.oracle.com/cloud-infrastructure/post/latin-american-expansion-of-interconnect-between-oracle-cloud-and-azure-increases-multicloud-opportunities

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-05-05 20:40] bang75 commented on #83901
Also having problem with not updated Azurite in VS2022. Please fix!

[2022-05-05 20:41] CYBRJulie commented on #92507
Thank you.  It will greatly help our mutual customers to get this update in place.

Regards,
Julie

[Icon  Description automatically generated]

Julie Mauch
Senior Alliances Technology Engineer
E: ***@***.***
M: 701-371-4446

For Business Development technical questions please email ***@***.******@***.***>.

From: James Tran-MSFT ***@***.***>
Date: Thursday, May 5, 2022 at 1:49 PM
To: MicrosoftDoc

[2022-05-05 20:43] JamesTran-MSFT commented on #92507
@CYBRJulie
I've created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2022-05-05 20:43] #92507 closed

[2022-05-05 20:45] rolan18 commented on #92511
Thanks @ProbablePrime, I'm probably trying to follow the wrong tutorial then.
I'm trying to set up OpenTelemetry to send messages to an instance of application insights from a .net Core API that I've built.
I've set up openTelemetry to go to a third party source, and this works fine.
When I try to send data to the instance of Application Insights, nothing is registering.
Here's how I set up the Tr

[2022-05-05 20:46] GeethaThatipatri-MSFT commented on #92285
@sicil1ano CLI commend is an example please change the name as per your subscription under resource provide you can find the resource provider name here

for a sample i tried  az provider register --namespace Microsoft.Sql and it worked just fine.
![image](https://user-images.githubusercontent.com/92763260/167022540-d695dd9a-ae4a-4a72-841c-f934485d3a70.png)

[2022-05-05 21:21] ProbablePrime commented on #92511
There most certainly is a better source then ACS documentation. Have you tried the Application Insights documentation? I'm not sure what support I can offer here. I myself am not familiar with more general Application Insights issues.

[2022-05-05 21:34] mwwhited commented on #83901
Hopefully they don't just push an update that patches the next version but they actually fix VS to use the npm version if that is what they want us to use.

[2022-05-05 21:34] tokyotexture commented on #92506
![Screen Shot 2022-05-05 at 2 32 05 PM](https://user-images.githubusercontent.com/7519355/167029220-6d54bf4f-41e7-4d17-a424-908abb37ad33.png)
Specifically E96 V5 shows 3600GB local storage, when the instance family states it has no local storage. I think the E96 row entry is incorrect.

[2022-05-05 21:38] Karishma-Tiwari-MSFT commented on #92510
Thanks for sharing the update.

[2022-05-05 21:40] tamram commented on #91945
@stevensnicole @spxnstevens - the PM for this feature would like to chat with you about what you're seeing (or not seeing). Is there a way that we can reach you?

[2022-05-05 21:46] vmonge opened #92515 "Endpoint protection assessment - McAfee changing paths LINUX"
Hello, Mcafee has announced a change on the Linux directories will no longer be

""/opt/**isec**/ens/threatprevention/bin/isecav "

but  /opt/**McAfee**/*

Are you planning to update the new paths?
[McAfee Endpoint Security for Linux Threat Prevention](https://docs.microsoft.com/en-us/azure/defender-for-cloud/endpoint-protection-recommendations-technical#mcafee-endpoint-security-for-linux-threat-p

[2022-05-05 21:55] rolan18 commented on #92511
I've looked in a few different places, and had little success finding something that doesn't route to the ACS.
Regardless, I'll keep looking for another source of info.  Thanks for your help.

[2022-05-05 21:55] #92511 closed

[2022-05-05 22:05] MarileeTurscak-MSFT commented on #92509
@DeanGross
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-05 22:14] TiloGit commented on #92501
ok, so based on your expectation Azure DevOps should have 0 issues/side-affects with the UPN change?
Or DevOps affect of UPN change isn't in scope of this help article?

[2022-05-05 22:18] Karishma-Tiwari-MSFT commented on #92278
@E-RELevant Did you get a chance to look into the suggestions shared in the comment above? Let me know if you are still seeing this issue.

[2022-05-05 22:18] tamram commented on #70550
#reassign: @tamram

[2022-05-05 22:37] MarileeTurscak-MSFT commented on #92459
I've reached out to the product team to see if there is a list. It seems that there was a similar discussion in this thread where people were asking the same question. https://techcommunity.microsoft.com/t5/azure-active-directory-identity/the-new-azure-ad-sign-in-and-keep-me-signed-in-experiences/m-p/128267/page/7

[2022-05-05 22:52] MarileeTurscak-MSFT commented on #92290
Thanks for the discussion. Since we haven't heard back in three days and @bhamsheim has provided the above information, we will now proceed to close this thread.

Feel free to tag me in the comments or open a new thread if you think more details should be added though.

[2022-05-05 22:52] #92290 closed

[2022-05-05 22:56] varun43in opened #92516 "In the example, each image only has one tag (of a fork or a scissor), how would it look if I had a fork and scissor bounding boxes in the SAME image?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b47b105-296c-139f-7e2c-d4d143aa1ccd
* Version Independent ID: 7c55bf3c-739f-8e7d-6dee-40409ffbe548
* Content: [Quickstart: Object detection with Custom Vision client library - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive

[2022-05-05 22:57] MarileeTurscak-MSFT commented on #92515
@vmonge
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-05 23:09] MarileeTurscak-MSFT commented on #92515
Thanks @vmonge !

I made a pull request to update the document with the equivalent paths referenced in the document you linked. https://github.com/MicrosoftDocs/azure-docs-pr/pull/197313

[2022-05-05 23:09] #92515 closed

[2022-05-05 23:29] DerekHerman-MSFT commented on #92513
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-06 00:11] WilliamMHerring opened #92517 "Github IDP does not return private emails"
Following this setup it is possible to not have the users email returned as a claim if they have their email set to private in Github.

Similar to LinkedIn, a second API call is needed to retrieve the users email (to https://api.github.com/user/emails). I created a RESTful technical profile to do this, but cannot figure out how to access the email value of the first object below because it is in a

[2022-05-06 00:37] amanjeetsingh opened #92518 "Typo errors - Please fix "too" to "to""
There are two typos on this page. It should be "to" and not "too".

To upgrade a basic load balancer **too** standard, see [Upgrade a public basic Azure Load Balancer](https://docs.microsoft.com/en-us/azure/load-balancer/upgrade-basic-standard)

To upgrade a basic public IP **too** standard, see [Upgrade a public IP address](https://docs.microsoft.com/en-us/azure/virtual-network/ip-services/public

[2022-05-06 00:48] pnarsi commented on #92213
@HeidiSteen - I just realised that the Cognitive Service multi-service instances actually don't support Firewall. It is always open to the Internet so my question is not actually valid

![image](https://user-images.githubusercontent.com/7891408/167049033-ddf49767-4cfb-477f-93ad-b14236b30cb2.png)

https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-virtual-networks?tabs=por

[2022-05-06 01:21] #92518 closed

[2022-05-06 01:22] ChaitanyaNaykodi-MSFT commented on #92518
Hello @amanjeetsingh, Thank you for the feedback. I have fixed the typos and the change will go live soon.

[2022-05-06 01:38] seligj95 commented on #92407
@assaf-grth - Was able to get in touch with the relevant folks and at this time, this is a feature gap that has been identified and there are plans for a zone redundant feature for NAT Gateway, but there is no ETA that can be shared at this time.

NAT gateway is a zonal resource and can only be configured to individual zones as you have identified. In addition, you can only have one NAT gateway at

[2022-05-06 02:19] aomachi opened #92519 "Clarify scaling threshold of Premium plan or show pricing example to calculate fees accurately with pricing calculator"
This document mentions that Premium plan is more predictable pricing compared with the Consumption plan, but I think it's little bit difficult to calculate Premium plan fee with pricing calculator.

https://azure.microsoft.com/en-us/pricing/calculator/

In this calculator, we have to enter additional scaled out units count as average number of instances per month.
So we need to calculate how many

[2022-05-06 02:26] #92269 closed

[2022-05-06 02:28] HeidiSteen commented on #92213
I see what you mean.  I just checked my Cognitive Services multi-region resource, and the portal won't let me enable any kind of network security.  It looks like you'll have to exercise very strict security over the keys, storing them in Azure Key Vault, and follow all of the security best practices if you want to ensure there are no outside connections to that resource.  Is that a deal breaker fo

[2022-05-06 02:46] AshokPeddakotla-MSFT commented on #92480
@elenaterenzi Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-06 02:48] AshokPeddakotla-MSFT commented on #92493
@pohanlon1980 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-06 02:53] w-azure commented on #92084
The update to the article was made, offering the tutorial link at the top of the page. The change should be made public in the next day or so. I will close this issue and mark as resolved. If there are any other related questions or comments, feel free to reopen this issue. Thank you.

[2022-05-06 03:11] SnehaAgrawal-MSFT commented on #92483
@edwh Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-06 03:11] pnarsi commented on #92213
Yes it is a deal breaker. We have very strict security requirements in my organisation and having explicit rules to block all connectivity via the internet is one of them. We will be restricted to only use built-in skills that don't require Cognitive Services.

I'll check offline with our Microsoft contact to see if this network restriction capability is on the roadmap ...

[2022-05-06 03:15] ussvgr commented on #92360
Today, I found that the document is displayed in Japanese again.

![image](https://user-images.githubusercontent.com/29699751/167061030-6081a082-149f-464d-952f-003a38c31be1.png)

[2022-05-06 03:16] kenichi-segawa opened #92520 "Batch endpoint deployment error code: NoRegisteredProviderFound"
Hi,

I am trying to deploy my model with batch endpoint and receiving the below errors.

**This error is from the deployment.**
  "code": "DeploymentFailed",
  "message": "At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/DeployOperations for usage details.",
  "details": [
    {
      "code": "DeploymentFailed",
      "mess

[2022-05-06 03:40] MayankBargali-MSFT commented on #92262
@JosefPihrt Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2022-05-06 03:41] justinokay commented on #71562
Was a solution ever found? I'm facing the same issue.

[2022-05-06 03:45] kobulloc-MSFT commented on #92408
@krishnadce We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-05-06 03:45] #92408 closed

[2022-05-06 03:47] kobulloc-MSFT commented on #92499
@bessielakesam, the document is incorrect and will be updated shortly.  Nested virtualization is on Intel only.  Thank you very much for helping to improve the documentation!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-05-06 03:47] #92499 closed

[2022-05-06 03:50] #92262 closed

[2022-05-06 04:28] travis-icorein opened #92523 "Enhanced policy storage pricing link"
Above "Create policy" image, where it says, "See the pricing details for Enhanced policy storage here.", but the link does not appear to actually include pricing details

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b630d454-ef81-a16d-7117-cfdafe5c0bf6
* Version Independent ID: 0712fd6b-f226-5ce0-3568-76120332bfdd
* C

[2022-05-06 04:30] v-amallick commented on #91512
Hi @carlosporter ,

In [this section](https://docs.microsoft.com/en-us/azure/backup/backup-azure-troubleshoot-vm-backup-fails-snapshot-timeout#usererrorkeyvaultpermissionsnotconfigured---backup-doesnt-have-sufficient-permissions-to-the-key-vault-for-backup-of-encrypted-vms), we added the reference about how to grant permissions to access the key vault using PowerShell and CLI.

As we have updated

[2022-05-06 04:30] #91512 closed

[2022-05-06 04:43] SumanthMarigowda commented on #92498
@rajans Thanks for the question! We are investigating and will update you shortly.

[2022-05-06 04:53] Givary commented on #92210
@gysiedebruyn Worked with the team, updated the article and published the same.

[2022-05-06 04:53] #92210 closed

[2022-05-06 04:56] RohitMungi-MSFT commented on #92502
@ammarasmro Could you please share the documentation link? The repo for reporting issues related to SDK is available [here](https://github.com/Azure/MachineLearningNotebooks).

[2022-05-06 05:13] ShaikMaheer-MSFT commented on #92238
@MartinBouchery If we close read entire paragraph it confirms that "To grant other users or groups access to dedicated SQL pools, the Active Directory Admin or Synapse Administrator must run SQL scripts against each dedicated SQL pool."

So if we like to grant access to other users in dedicated SQL we should also need to execute scripts in dedicated sql pool.

[2022-05-06 05:14] GitaraniSharma-MSFT commented on #92512
@jayeshdesai1 , thank you for your query. We'll review this and get back to you shortly!

[2022-05-06 05:21] #92127 closed

[2022-05-06 05:24] syukumoto commented on #91070
@SnehaAgrawal-MSFT Sorry for late reply. I confirmed following document, but web server log of App Service logs could not be output storage account.

[Issue]
https://techcommunity.microsoft.com/t5/apps-on-azure-blog/app-service-to-storage-account-connection-condition-summary/ba-p/2968642
![image](https://user-images.githubusercontent.com/98008304/167067497-40908746-3706-494d-8a24-6424805547e6.png)

[2022-05-06 05:26] HeidiSteen commented on #92213
There are no built-in skills that don't require Cognitive Services.  You can build custom skills though.  A custom skill is just a wrapper around external code.  Your custom skills could mimic a built-in skill, except that it calls a Cognitive Services resource that is behind a firewall.  I'm making it sound too simple.  There is more work involved than that, but it's an approach you could look in

[2022-05-06 05:30] RohitMungi-MSFT commented on #92516
@varun43in Ideally, you would want to train your project with images that contain only one object in the bounding box for accurate prediction of the model. If you have both the objects in a single image you can still use them in your training data by specifying their respective bounding box in the training data.

In the case of prediction, the model will predict objects with a score and bounding b

[2022-05-06 05:32] JoshA295 commented on #84717
I don't know what "right notification format" is, but I just came across the same problem, with an additional error of not having a reference for NotificationCompat.

So for anyone that comes across the same problem, please replace "this" with "context for your errors and replace the deprecated " new NotificationCompat.Builder(X)" with "new NotificationCompat.Builder(context)", ensuring you also r

[2022-05-06 05:35] pnarsi opened #92524 "Security Baseline for Flexible Server"
Is there a Security Baseline for Azure Database for PostgreSQL flexible server available somewhere. I only see baselines for the Single Server and Hyperscaler versions of PostgreSQL.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 840a06a1-d157-ff61-b822-39318d2c3764
* Version Independent ID: fc640799-9820-fd00-8247-4ab

[2022-05-06 05:50] AnuragSingh-MSFT commented on #92332
@dodge1350-frp, We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-05-06 05:51] #92332 closed

[2022-05-06 05:52] SreejaBhattacharya-MSFT commented on #92413
@ghoul652 We will now proceed to close this thread as we have not heard back from you. If there are questions regarding this matter, please tag me in your reply and reopen the issue with a brief on what the issue is and we will gladly continue the discussion.

[2022-05-06 05:52] #92413 closed

[2022-05-06 06:11] HeidiSteen commented on #92213
I misspoke.  There are built-in skills that don't call Cog Services, such as Text Split, Text Merge, and a few more.  The docs are pretty clear on this, I think.  Let me know if you have trouble finding the info.

[2022-05-06 06:27] RKNUTALAPATI opened #92525 "Update Grep command"
Existing grep command is not extracting the exact JobId, Updating the command to this -   **grep -o -P "\"job_id\":[0-9]+"**   will extract the job ids of any length

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60e72507-677a-f509-7095-443bb5e4ab6d
* Version Independent ID: cb590976-10b2-6ebd-2b7c-0ecda1130100
* Conte

[2022-05-06 06:38] owingruters commented on #92225
@ChaitanyaNaykodi-MSFT please see above

[2022-05-06 06:45] shashishailaj commented on #92517
@WilliamMHerring Thank you for your feedback. We will investigate and update the thread.

[2022-05-06 06:49] Ethan033100 opened #92526 "Azure load testing: failed with error recorder.bsf (No such file or directory)"
in addition, using azure load testing to login users, users not login followed by .csv file

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba7d7692-3049-0737-41a8-69a2d7c1ad70
* Version Independent ID: e6b469f4-8cd6-76cd-7a4f-8305265519f6
* Content: [What is Azure Load Testing?](https://docs.microsoft.com/en-us/azure/l

[2022-05-06 06:51] Ethan033100 commented on #92526
can someone please help check this issue? please?

[2022-05-06 06:51] shashishailaj commented on #92204
Thank you @msmbaldwin for helping on this one. We will close this now.

[2022-05-06 06:51] #92204 closed

[2022-05-06 06:53] SwathiDhanwada-MSFT commented on #92382
@ddiaz-relativity The information you have requested is highlighted in the note section. For your reference, adding the images here.

<img width="442" alt="image" src="https://user-images.githubusercontent.com/48976275/167081745-c4a7dc1a-f9a8-4946-b33b-3fad00f0b1e4.png">

<img width="436" alt="image" src="https://user-images.githubusercontent.com/48976275/167081812-c2eff694-3f73-4d96-8a73-a377790d

[2022-05-06 06:53] #92382 closed

[2022-05-06 07:00] SwathiDhanwada-MSFT commented on #91871
@bwren Can you please provide your insights for this issue ?

[2022-05-06 07:02] SwathiDhanwada-MSFT commented on #89848
Assigning to content author @SnehaSudhirG  for doc-enhancement.

[2022-05-06 07:10] shashishailaj commented on #92241
@mbukovich Thank you for reporting this. We have initiated a change request for the same and the change will be live once the content team have reviewed and updated the same.

[2022-05-06 07:10] #92241 closed

[2022-05-06 07:27] amanmcse commented on #92255
@lifelinedaboi Closing this out due to insufficient information.

[2022-05-06 07:27] #92255 closed

[2022-05-06 07:29] yutaro113 commented on #91629
Hi @YutongTie-MSFT , @aahill , thanks for the checking!
Any updates on this? thank you!

[2022-05-06 08:17] Makovec opened #92527 "Tags for Kusto clusters not supported"
Hi,
even the table shows that [Microsoft.Kusto/clusters supports tagging](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/tag-support#microsoftkusto), I am not able to tag it using `az cli`.

It is not visible in Portal and when trying from `CLI` it accepts it but never shows back, see below:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2022-05-06 08:37] shashishailaj commented on #92200
@RamzMS I tried this in my la and had exactly same findings as you. The security admin role only grants visibility to External Identities blade but does not provide edit permissions for the **External Collaboration Settings** as shown below.

<img width="568" alt="image" src="https://user-images.githubusercontent.com/532022/167095959-e721e03d-56c4-4f54-8b90-26190ebd3888.png">

I have initiated a c

[2022-05-06 08:37] #92200 closed

[2022-05-06 08:53] blixtor opened #92528 "Wrong contents in documentation: Translator Translate Method"
The section "Response Status Codes" ([Translator Translate Method](https://docs.microsoft.com/en-us/azure/cognitive-services/translator/reference/v3-0-translate#response-status-codes)) contains no information about HTTP response codes but instead contains a table with values for the "ProfanityAction" that is repeated later in the document.

---
#### Document Details

⚠ *Do not edit this section. I

[2022-05-06 09:02] SreejaBhattacharya-MSFT commented on #92503
Hi @benjaminjnr , thanks for pointing it out. Have you have tested this in your environment?

[2022-05-06 09:15] SwathiDhanwada-MSFT commented on #92467
@jaxidian Thanks for the feedback! I have fixed the referenced change, and the change should reflect once the content author approves it .We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2022-05-06 09:15] #92467 closed

[2022-05-06 09:16] SwathiDhanwada-MSFT commented on #92523
@travis-icorein Thanks for your comment. We will review the issue and get back to you shortly.

[2022-05-06 09:19] endk-awo opened #92529 "Origin timeout setting missing"
On step 3 of creating a front door - adding an endpoint - the guide describes an origin timeout setting that is not available. If this setting has been removed, the guide should reflect that and also show where, if at all possible, this timeout can be set.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54b4c357-6518-c5

[2022-05-06 09:21] najx commented on #23558
Do we have any update about this issue ?

[2022-05-06 09:24] najx commented on #23558
Is there anything up to date with this issue ?

[2022-05-06 09:31] SwathiDhanwada-MSFT commented on #92527
@Makovec Thanks for your comment. We will review the issue and get back to you shortly.

[2022-05-06 09:35] trish1400 commented on #92358
Thank you.

N.B. our original issue where the rule blocked some PDFs appears to have been resolved at some point on Tuesday 3rd May - PDFs that were previously being blocked are now being accepted.

[2022-05-06 09:44] S1GGEN opened #92530 "Port number is actually a named pipe"
I have some feedback regarding the section "[Get port number](https://docs.microsoft.com/en-us/azure/app-service/configure-language-nodejs?pivots=platform-windows#get-port-number) in the linked article:

The heading indicates that the environment variable will be a port **number**, while in fact it is a [named pipe](https://en.wikipedia.org/wiki/Named_pipe#In_Windows). In the listed example this i

[2022-05-06 09:51] shashishailaj commented on #92445
@mpintorackspace As Defender for cloud is positioned to be a product which can be used with your resources in any cloud , be it azure or AWS hence we have mentioned the AWS security standards as well . The article have multiple sections which talk about [resources running on other clouds](https://docs.microsoft.com/en-us/azure/defender-for-cloud/defender-for-cloud-introduction#defend-resources-run

[2022-05-06 09:51] #92445 closed

[2022-05-06 09:53] GitaraniSharma-MSFT commented on #92529
@endk-awo , thank you for your feedback. We have assigned this to the content owner/author for correction.

@duongau , could we please update the table in step 3 and remove the setting named "Origin Response timeout (secs)" as it is not available in Portal (which is correctly shown in the screenshot provided in the doc above that table)?

![image](https://user-images.githubusercontent.com/67630903

[2022-05-06 10:00] SwathiDhanwada-MSFT commented on #92527
@Makovec I have tested from my end. And I was able to tag the kusto cluster using az cli. Here is the image for your reference.

<img width="856" alt="image" src="https://user-images.githubusercontent.com/48976275/167110537-063735cf-ad22-4ed6-b9d8-9830cff19d97.png">

I would suggest you to retry again and revert if you are still facing the issue .

[2022-05-06 11:09] Venkateshdodda-MSFT commented on #92530
@S1GGEN Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-05-06 11:18] kimjamia opened #92534 "Azure SQL Database: Users for external login appear as external users"
The [new preview feature](https://docs.microsoft.com/en-us/azure/azure-sql/database/authentication-azure-ad-logins?view=azuresql#azure-ad-logins-syntax) allows server-level principals to be created from AAD accounts. However, it's difficult to distinguish database-contained external users from users created for external logins. This is probably the reason why Azure Data Studio or SSMS generate Cre

[2022-05-06 11:54] PedroCruzPT opened #92535 "Incorrect Translation"
Hello,

When setting this document to Portuguese (pt-pt), I noticed an incorrect translation on this paragraph:

"Atualizar uma conta gratuita para deficientes"

This is *very* incorrectly translated. The original content mentions a "disabled account". This addresses accounts which are in a Disabled state.

The translation into Portuguese sets it as "deficientes", which means "phisically handicape

[2022-05-06 12:02] MonikaReddy-MSFT commented on #66703
@cherylmc - Any update on the above request?

[2022-05-06 12:13] ghoul652 opened #92536 "Klatyn"
https://github.com/AlphaWallet/n10

[2022-05-06 12:23] bdegs opened #92537 "Column ReportReferenceLink Description Change"
Hello,

It seems that the column 'ReportReferenceLink' under the Malicious IP (https://docs.microsoft.com/en-us/azure/azure-monitor/vm/vminsights-log-search#malicious-ip) section states 'Linked to reports related to a given observable.'

Upon further investigation the URL that populates this field points to an MS internal site that can be provided by the customer to MS Support in case the customer

[2022-05-06 12:33] shashishailaj commented on #92536
@ghoul652 Thank you for your post here. We use azure-docs repository for improvement of azure documentation . If you have any issue related to Azure documentation , please share the information on the same and we will be happy to help you .

[2022-05-06 12:35] miketaber opened #92538 "Possible error"
Shouldn't the commentary for "Custom topics per Azure subscription" under the limits say that event domains support 100,000 topics rather than 10000? At the very least, the thousands should be comma separated.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e29b6cc-f1c7-fb30-f0da-e043ec5903d6
* V

[2022-05-06 12:57] GeethaThatipatri-MSFT commented on #92524
Hi @pnarsi Thanks for reaching out, We will Investigate and update you shortly.

[2022-05-06 12:59] GeethaThatipatri-MSFT commented on #92534
Hi, @kimjamia Thanks for reaching out, We will Investigate and update you shortly.

[2022-05-06 13:23] RohitMungi-MSFT commented on #92528
@blixtor Thanks for spotting this. @laujan Could you please review and update the section similar to the status code section of [transliterate ](https://docs.microsoft.com/en-us/azure/cognitive-services/translator/reference/v3-0-transliterate#response-status-codes)API?

[2022-05-06 13:33] gregt1234 opened #92540 "Guidance for certificate renewal"
Would be helpful to have some guidance for the process to renew certificates on SHIR.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f973ba8-4f8b-09f0-862e-3c6acf44a3c2
* Version Independent ID: 4b7f9f88-645a-bd81-5452-c2b3edb46bac
* Content: [Enable remote access from intranet with TLS/SSL certificate (Advanced) - Az

[2022-05-06 13:39] schalkvanwyk opened #92541 "DequeueCount property used as a Int32 parameter fails to bind in v5 extensions"
The binding for "DequeueCount" seems to be incorrect (https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue-trigger?tabs=in-process%2Cextensionv5&pivots=programming-language-csharp#message-metadata):
_DequeueCount	int	The number of times this message has been dequeued._

Previously this used to be a "int", but after updating to .NET 6, Functions v4 and v5 extensio

[2022-05-06 13:44] PcChip opened #92542 "underscore should be space"
Ctrl+F "An illustrative example for DNS resolution"
 - I believe the underscore after nslookup should be a space
 - might want to tell the user to start by opening a powershell or cmd prompt

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c38a24e1-8f5c-ac82-6433-4a6799dea989
* Version Independent ID: afeba553-6d5e-9961-

[2022-05-06 13:59] hansmbakker opened #92543 "Unclear whether Excel Online (in Office365) can connect to Azure Analysis Services."
This article only covers the Excel desktop application. It is unclear whether the web version of Excel supports connections to Azure Analysis Services.

I cannot find an explicit statement that it is not supported, but also no statement that it is supported.

![image](https://user-images.githubusercontent.com/3463496/167147317-f08f5a9b-223d-4290-ab9d-802d7953ee61.png)

From the network tab I got t

[2022-05-06 14:01] ammarasmro commented on #92502
Sorry forgot to include the link
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-move-data-in-out-of-pipelines#pass-datasets-to-your-script

Should I replicate the issue there?

[2022-05-06 14:35] erik-ha-msft commented on #87601
Thank you for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

#please-close

[2022-05-06 14:35] #87601 closed

[2022-05-06 14:37] timwarner-msft commented on #83043
Thanks for the suggestion, @Charles-Stuart. I'm in regular contact with the Azure Policy Guest Configuration team, and I'll pass along your feedback today. Thanks again, Tim

[2022-05-06 14:37] timwarner-msft commented on #83043
#please-close

[2022-05-06 14:37] #83043 closed

[2022-05-06 14:38] jjpinto opened #92545 "Make available Mongo version to 4.2"
[Enter feedback here]

Added support for Mongo version to 4.2 and update the documentation. A couple of places shows only 3.2 and 3.6
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc075caf-933b-cda0-703b-6b700f1436f8
* Version Independent ID: 102753f5-d177-627e-c14c-e88df91c8000
* Content: [Resource Manager templates f

[2022-05-06 14:59] AshokPeddakotla-MSFT commented on #92487
@PatAltimore Can you review this feedback and add a note if there is any recent changes with Powershell, azcli and aziot versions?

@robert4os Since you are unblocked and able to run the commands in cloud shell, Do let us know if you have any further queries or we are good to close this issue.

[2022-05-06 15:00] timwarner-msft commented on #60694
Hi @Syssigm. Because the page you referenced is in SendGrid's docs library and not ours, I suggest you file an issue with them. Thanks so much for submitting this issue, and all the best. Respectfully, Tim

[2022-05-06 15:00] timwarner-msft commented on #60694
#please-close

[2022-05-06 15:00] #60694 closed

[2022-05-06 15:18] matthewtatsch opened #92546 "Discrepancy in Synapse Workspace Limits"
Seeing a discrepancy across a couple of docs re: maximum number of Synapse Workspaces per subscription...

The following is in [Azure subscription limits and quotas - Azure Resource Manager](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#synapse-workspace-limits):

However, in [Serverless SQL pool self-help - Azure Synapse Analytics](http

[2022-05-06 15:20] AshokPeddakotla-MSFT commented on #92482
@stevemunk Please review this feedback and update the doc.

[2022-05-06 15:26] whhender commented on #92480
@elenaterenzi - can you confirm what steps you're referring to?
I'm not seeing a step 7 or 8, and steps 4 and 5 refer to select the role assignments tab at the root collection.

![image](https://user-images.githubusercontent.com/13474870/167163768-259ac12c-5666-444d-92f3-ca6b8f9d5599.png)

[2022-05-06 15:28] WilliamDAssafMSFT commented on #91742
#reassign:seesharprun

[2022-05-06 15:38] whhender commented on #92493
@pohanlon1980 - Thank you for following up! I am working with this document (and others across the doc set) to better integrate them with the M365 products.

For now, I'll make sure to add this link.

[2022-05-06 15:42] iteal opened #92549 "New version 1.1.118.0 released but no doc"
The new version of the Azure AD Connect Provisioning Agent available for download is 1.1.118.0. There is no information on the webpage about this new version, what are the changes or bug fixes?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8425a6c5-c183-c5b0-004e-0cb52dcf7eb0
* Version Independent ID: df445d90-d469-61

[2022-05-06 15:45] AminAvan opened #92550 "Work around for "nullable columns" limitation for PRIMARY KEY"
Hi,

Would you please advise me what is the workaround for the PRIMARY KEY column, when we change it to "nullable" on Ledger? because, when I change the PRIMARY KEY column to "nullable", I encountered the error:
"cannot define PRIMARY KEY constraint on nullable column in table 'something' "

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2022-05-06 15:47] ragingbull995 commented on #64719
Hi. I was wondering if anybody could assist with the following. Set up rdweb html, sign in 'open resources in browser' both work fine. 'download the rdp file' fails with
![image](https://user-images.githubusercontent.com/84239585/167167278-48c1e503-2f81-4ac0-b527-cf7a17c4285a.png)

Was just wondering if that can work through the Azure Proxy and if so how have people done it?

Cheers

[2022-05-06 15:49] Oury-MSFT commented on #92545
@jjpinto Thank you for your feedback. We are reviewing this and will get back shortly.

[2022-05-06 15:55] samaea commented on #14498
I have the same question. Does preferred_username == UPN, meaning they are globally unique i.e two users cannot have the same preferred_username at any given time? Thanks!

[2022-05-06 15:57] samaea opened #92551 "Is preferred_username the same as the UPN?"
Hi all,

I have the same question as the one linked here[1,2]:- Does preferred_username == UPN, meaning they are globally unique i.e two users cannot have the same preferred_username at any given time? Thanks!

[1] https://github.com/MicrosoftDocs/azure-docs/issues/15200
[2] https://github.com/MicrosoftDocs/azure-docs/issues/14498

Document Details
⚠ Do not edit this section. It is required for do

[2022-05-06 15:59] erik-ha-msft commented on #88742
Thank you for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

#please-close

[2022-05-06 15:59] #88742 closed

[2022-05-06 16:00] erik-ha-msft commented on #92141
Thank you for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

#please-close

[2022-05-06 16:00] #92141 closed

[2022-05-06 16:08] kevmurray opened #92552 "Update VMSS Quickstart for new UI"
Overall excellent, just needs updated for new UI

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0ac55b8-8be8-1f86-e3b1-3fe3f6c340c1
* Version Independent ID: c26d3fc8-b62c-4895-3687-2fc7364c6383
* Content: [Quickstart - Create a virtual machine scale set in the Azure portal - Azure Virtual Machine Scale Sets](https://

[2022-05-06 16:15] timwarner-msft commented on #75228
Hi @ddixon1. Our docs page simply redirects to SendGrid's page. Thus, this question really should be directed to them. Thanks, Tim

[2022-05-06 16:16] timwarner-msft commented on #75228
#please-close

[2022-05-06 16:16] #75228 closed

[2022-05-06 16:16] whhender commented on #92239
@ajdabrowski - Thanks for this feedback! I'm working with the team to confirm and update the language!

[2022-05-06 16:20] JamesTran-MSFT commented on #92549
@iteal
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-05-06 16:28] RohitMungi-MSFT commented on #92502
The change in dataset API is documented [here ](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/work-with-data/dataset-api-change-notice.md)in the MachineLearningNotebooks [repo](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/work-with-data/dataset-api-change-notice.md).

A sample [notebook ](https://github.com/Azure/MachineLearnin

[2022-05-06 16:30] robert4os commented on #92487
@AshokPeddakotla-MSFT - I was never really blocked, because I already knew the workaround. My intention was to help improve the docs for others. When you see no further room for improvement, you can close the issue on my account :)